/* 
-----------------------------------------------------
CSS Table of Contents
-----------------------------------------------------
1.BASE
2.TYPOGRAPHY & LINKS
3.HEADER
4.NAVIGATION
5.CONTENT
5A. HOMEPAGE
6.FOOTER
*/

/* ********************************************* */
/* 1.BASE */
body {
	width:1000px;
	margin:0 auto;
	*overflow:hidden;
	}

.hr {
    clear:both;
    width:100%;
    height:1px;
    background:#EADBBA;
    margin:25px 0 25px 0;
}

.image_right {
    float:right;
    margin-left:10px;
    margin-bottom:10px;
}

.image_left {
    float:left;
    margin-right:10px;
    margin-bottom:10px;
}

.inline_block {
    display:inline-block;
    *display:inline;
    *zoom:1;
    vertical-align:top;
}

.modal {display:none;}
#simplemodal-overlay {background-color:#000; cursor:wait;}
#simplemodal-container {background-color:#ffffff;padding:12px;}
#simplemodal-container a {}
#simplemodal-container a.modalCloseImg {background:url(../images/x.png)/*tpa=http://www.thekrogerco.com/Sitefinity/WebsiteTemplates/KrogerCorporate/App_Themes/KrogerCorporate/images/x.png*/ no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container #basic-modal-content {padding:8px;}


/* ********************************************* */
/* 2.TYPOGRAPHY & LINKS */
body {
    font-family: 'Droid Sans', sans-serif;
	font-size:14px;
	}
	
	
h1 {
    font-size:30px;
    line-height:35px;
    color:#000000;
    font-weight:bold;
    margin-top:0;
    margin-bottom:10px;
}
h2 {
    font-size:24px;
    line-height:29px;
    color:#000000;
    font-weight:bold;
    margin-bottom:5px;
}
h3 {
    font-size:20px;
    line-height:23px;
    font-weight:bold;
    color:#000000;
    margin-top:0;
    margin-bottom:6px;
}
h4 {
    font-size:16px;
    line-height:19px;
    font-weight:bold;
    color:#000000;
    margin-top:15px;
    margin-bottom:6px;
}

p, blockquote {
	display:block;
    font-size:14px;
    color:#3D3D3D;
    line-height:20px;
    margin-top:0;
    margin-bottom:10px;
}

ul li, ol li {
    font-size:14px;
    color:#3D3D3D;
    line-height:20px;
    margin-top:0;
    margin-bottom:10px;
}

a {
    color:#0067B1;
    cursor:pointer;
    text-decoration:none;
    border:none;
}
a:focus {
   border:none;
   outline:none !important;
}

a img {
    border:none;
}
a:hover {
    text-decoration:underline;
}

table {
    margin-bottom:10px;
}

td, th {
    font-size:14px;
    color:#3D3D3D;
    line-height:20px;
}
th {
    font-weight:bold;
    text-align:left;
}




/* ********************************************* */
/* 3.HEADER */

#top_border {
    position:absolute;
    width:100%;
    top:0;
    left:0;
    height:15px;
    background:#56B2E9;
}

/* ********************************************* */
/* 4.NAVIGATION */

#top_navigation {
    margin: 15px 0 0 0;
    *margin:0;
    padding: 15px 0 0 0;
    *padding:30px 0 0 0;
    
    min-height:100px;
}
#top_navigation #logo {
    float:left;
    margin-left:20px;
}

#sub_navigation {
    text-align:right;
    margin:13px 20px 0 0;
}

#sub_navigation a {
    font-size:12px;
    line-height:14px;
    color:#3D3D3D;
    margin-left:17px;
}

#main_navigation {
    text-align:right;
    margin:45px 20px 0 0;
}

#main_navigation a {
    font-size:14px;
    line-height:17px;
    color:#0067AC;
    font-weight:bold;
    margin-left:19px;
}

#breadcrumbs {
    font-size:12px;
    color:#3E3E3E;
    height:29px;
    line-height:34px;
    border-top:1px solid #EADBBA;
    border-bottom:1px solid #EADBBA;
    margin-top:17px;
    padding-left:45px;
}
#breadcrumbs a {
    color:#0067B1;
}

	
/* ********************************************* */
/* 5.CONTENT */


#main_container {
    background:#FBFAF6;
}


#left_column {
    width:206px;
    height:100%;
    padding:39px 22px;
    display:inline-block;
    *display:inline;
    *zoom:1;
    vertical-align:top;
}

#left_column .top {
    font-size:24px;
    color:#3D3D3D;
    font-weight:bold;
    margin-bottom:-3px;
}

#left_navigation {
    margin-top:14px;
}
#left_navigation a {
    display:block;
    font-size:14px;
    color:#1B73BA;
    font-weight:bold;
    margin-top:17px;
}

#left_navigation a.current {
    color:#3E3E3E;
}

#left_navigation a.sub {
    margin:10px 0 0 20px;
    font-size:12px;
}

#right_column {
    width:711px;
    min-height:350px;
    padding:35px 0 0 35px;
    *padding-left:39px;
    background:#ffffff;
    display:inline-block;
    *display:inline;
    *zoom:1;
    vertical-align:top;
}

#right_column > .sfimageWrp {
    margin-bottom:30px;
}
#right_column > p {
    width:693px;    
}

#right_column .content img {
	max-width: 100%;
}

.blue_table {
    width:100%;
    background-color: #1B73BA;
}
.blue_table th {
	background-color: #56B2E9;
}
.blue_table td {
    background-color: #FFFFFF;
}


#alternateTable {
    background-color: #1B73BA;
}
#alternateTable tr th {
	background-color: #56B2E9;
	color: #000000;
	text-align: center;
}

#alternateTable tr td {
	text-align: center;
}

#alternateTable caption {
	color: #FFFFFF;
	padding: 5px 0 5px 0; 
	font-weight: bold;	
}

#contact_form {
    margin-top:20px;
}

#contact_form > div {
    width:280px;
    margin-bottom:10px;
    font-size: 14px;
    color: #3D3D3D;
    line-height: 20px;
    display:inline-block;
    *display:inline;
    *zoom:1;
}
#contact_form > div.full_width {
    width:100%;
    display:block;
}

.interior_1-3_column {
    width:220px !important;
    padding-right:11px;
    margin-right:9px;
    border-right:1px solid #EADBBA;
    display:inline-block;
    *display:inline;
    *zoom:1;
    vertical-align:top;
}
.interior_1-3_column.last {
    padding-right:0;
    margin-right:0;
    border-right:none
}
.interior_1-3_column img {
}

#right_column .interior_55_column {
    width:340px !important;
    display:inline-block;
    *display:inline;
    *zoom:1;
    vertical-align:top;
}
#right_column .interior_45_column {
    width:310px !important;
    margin-left:24px !important;
    padding-left:22px;
    border-left:1px solid #EADBBA;
    display:inline-block;
    *display:inline;
    *zoom:1;
    vertical-align:top;
}

.interior_50_column {
    width:307px !important;
    margin-right:38px;
    padding-right:39px;
    border-right:1px solid #EADBBA;
    display:inline-block;
    *display:inline;
    *zoom:1;
    vertical-align:top;
}
.interior_50_column.last {
    border-right:none;
    margin-right:0;
    padding-right:0;
}



.news_listing {
    
}

.news_listing > div {
    margin-bottom:15px;
    color:#666666;
    font-size:12px;
}
.news_listing > div a {
    font-size:14px;
    line-height:17px;
    font-weight:bold;
    display:block;
    margin-bottom:3px;
}



/* 5A.HOMEPAGE */



#main_container.home {
    background:none;
}

#containerContentGlider {
	margin:20px auto 53px auto;
	width:1000px;
	height:400px;
	overflow:hidden;
	/*border-top: 1px solid #eee1c6;
	border-left: none;
	border-right: none;*/
}

#containerContentGlider  #hero_container{
  position: relative;
  width: 1000px;
}

#containerContentGlider  #hero_content{
  position: relative;
  height: 400px;
  overflow: hidden;
}

#containerContentGlider  #hero_bg{
  position: absolute;
  height: 400px;
  width: 1000px;
  top: 0;
  left: 0;
}

#hero_content_box{
	position: absolute;
	right: 0;
	top: 79px;
	width: 445px;
	height: 190px;
	padding: 20px 55px 20px 20px;
	background-color: #FFFFFF;
	opacity: .9;
	filter: Alpha(Opacity=80);
	
	
}
#hero_content_box >div {
    display:none;
}

.hero_title{
	font-size: 28px;
	color:#000000;
	font-weight: bold;
    margin-bottom:10px;
}

.hero_description{	
}

#hero_content_box a{
	color:#0067B1;
	font-size:14px;
	font-weight:bold;
}

.hero_learnmore_a {
}

#hero_container #heroPrevious{
	position: absolute;
	top: 0;
	left: 0;
	padding-left: 10px;
	padding-top: 164px;
	height: 255px;
	width: 25px;
}

#hero_container #heroNext{
	position: absolute;
	top: 0;
	right: 0;
	padding-right: 10px;
	padding-top: 164px;
	padding-left: 10px;
	height: 255px;
	width: 25px;
}

#containerContentGlider  #hero_nav{
  position: relative;
  top:-40px;
  left:-12px;
  height:26px;
}

#containerContentGlider  #hero_nav ul{
  position: absolute;
  left: 45.5%;
  padding: 7px 10px 7px 15px;
  margin:0;
  background:url(Unknown_83_filename)/*tpa=http://www.thekrogerco.com/Sitefinity/WebsiteTemplates/KrogerCorporate/App_Themes/KrogerCorporate/SiteCollectionImages/common/2012%20Redesign/indicator_bg.png*/ top left repeat;
  
}

#containerContentGlider  #hero_nav ul li{
  list-style-type: none;
  float:left;
  width:19px;
  height:19px;
  margin:0 5px 0 0;
}
#containerContentGlider  #hero_nav ul li a{
  background:url('../Images/hero_nav_off.png')/*tpa=http://www.thekrogerco.com/Sitefinity/WebsiteTemplates/KrogerCorporate/App_Themes/KrogerCorporate/Images/hero_nav_off.png*/ top left no-repeat;
  outline: 0;
  display:block;
  width:19px;
  height:19px;
}

#containerContentGlider  #hero_nav ul li a:hover,#containerContentGlider  #hero_nav ul li a.active{
  background:url('../Images/hero_nav_on.png')/*tpa=http://www.thekrogerco.com/Sitefinity/WebsiteTemplates/KrogerCorporate/App_Themes/KrogerCorporate/Images/hero_nav_on.png*/ top left no-repeat;
}



.home_1-3_column {
    width:294px;
    min-height:230px;
    padding-left:22px;
    margin-right:19px;
    border-left:1px solid #EADBBA;
    display:inline-block;
    *display:inline;
    *zoom:1;
    vertical-align:top;
}
.home_1-3_column.first {
    padding-left:13px;
    border:none;
}
.home_1-3_column.last {
    margin-right:13px;
}
.home_1-3_column img {
    margin-bottom:16px;
}

.home_2-3_column {
    width:604px;
    padding-left:49px;
    margin-right:16px;
    border-left:1px solid #EADBBA;
    display:inline-block;
    *display:inline;
    *zoom:1;
    vertical-align:top;
}
.home_2-3_column img {
    margin-bottom:0;
}
.home_2-3_column .sfContentBlock {
    width:345px;
    display:inline-block;
    *display:inline;
    *zoom:1;
    vertical-align:top;
}
.home_2-3_column .sfimageWrp {
    margin-right:15px;
    display:inline-block;
    *display:inline;
    *zoom:1;
    vertical-align:top;
}

#stock_quote {
    margin:20px 0;
}

#stock_quote .symbol {
    font-size:12px;
    color:#3D3D3D;
    margin-bottom:5px;
}
#stock_quote .current {
    font-size:40px;
    color:#3D3D3D;
}
#stock_quote .change {
    font-size:15px;
    padding-left:18px;
    margin-left:5px;
}
#stock_quote .change.pos {
    color:#009933;
    background:url('../images/arrow_upGreen.gif')/*tpa=http://www.thekrogerco.com/Sitefinity/WebsiteTemplates/KrogerCorporate/App_Themes/KrogerCorporate/images/arrow_upGreen.gif*/ no-repeat left 3px;
    *background:url('../images/arrow_upGreen.gif')/*tpa=http://www.thekrogerco.com/Sitefinity/WebsiteTemplates/KrogerCorporate/App_Themes/KrogerCorporate/images/arrow_upGreen.gif*/ no-repeat left 6px;
}
#stock_quote .change.neg {
    color:#FF2626;
    background:url('../images/arrow_downRed.gif')/*tpa=http://www.thekrogerco.com/Sitefinity/WebsiteTemplates/KrogerCorporate/App_Themes/KrogerCorporate/images/arrow_downRed.gif*/ no-repeat left 3px;
    *background:url('../images/arrow_downRed.gif')/*tpa=http://www.thekrogerco.com/Sitefinity/WebsiteTemplates/KrogerCorporate/App_Themes/KrogerCorporate/images/arrow_downRed.gif*/ no-repeat left 6px;
}


/* ********************************************* */
/* 6.FOOTER */


#footer {
    margin-top:55px;
    padding-bottom:10px;
    background:#F6F0E2 url('../images/footer_background.png')/*tpa=http://www.thekrogerco.com/Sitefinity/WebsiteTemplates/KrogerCorporate/App_Themes/KrogerCorporate/images/footer_background.png*/ repeat-x left top;
}

#bottom_navigation {
    padding:18px 20px 0 20px;
}
#bottom_navigation .section {
    width:160px;
    margin-right:36px;
    display:inline-block;
    *display:inline;
    *zoom:1;
    vertical-align:top;
}
#bottom_navigation .section.last {
    margin-right:0;
}
#bottom_navigation .section a {
    display:block;
    font-size:12px;
    font-weight:bold;
    color:#0067B1;
    margin-top:3px;
} 
#bottom_navigation .section a.top {
    color:#3D3D3D;
    margin:0;
}
#bottom_navigation .section div.top {
    font-size: 12px;
    font-weight: bold;
    color:#3D3D3D;
    margin-top:10px;
}

#banner_slider {
    margin-top:55px;
    padding:0 9px;
}

#banner_slider .title {
    text-align:center;
    font-size:16px;
    color:#3D3D3D;
}
#banner_slider #prev, #banner_slider #next {
    display:inline-block;
    *display:inline;
    *zoom:1;
    vertical-align:middle;
}

#banner_slider #banners {
}
#banner_slider #banners li {
    width:124px;
    height:110px;
    margin-left:3px;
    background: #F6F0E2;
    border:1px solid #EEE1C6;
}

.jcarousel-container {
    width:903px;
    height:112px;
    padding:5px 5px 5px 2px;
    background:#F5EEDF;
    margin:5px auto 0 auto;
}

.jcarousel-clip {
    width:903px;
    height:112px;
    overflow:hidden;
}

.jcarousel-prev, .jcarousel-next {
    position:absolute;
    width:22px;
    height:55px;
    cursor:pointer;
}
.jcarousel-prev {
    left:-31px;
    top:37px;
    background:url('../images/prev_arrow_banner.gif')/*tpa=http://www.thekrogerco.com/Sitefinity/WebsiteTemplates/KrogerCorporate/App_Themes/KrogerCorporate/images/prev_arrow_banner.gif*/ no-repeat;
}
.jcarousel-next {
    right:-31px;
    top:37px;
    background:url('../images/next_arrow_banner.gif')/*tpa=http://www.thekrogerco.com/Sitefinity/WebsiteTemplates/KrogerCorporate/App_Themes/KrogerCorporate/images/next_arrow_banner.gif*/ no-repeat;
}


#copyright {
    text-align:center;
    font-size:12px;
    line-height:19px;
    color:#3D3D3D;
    margin-top:8px;
}
#copyright a {
    font-size:12px;
    color:#0067B1;
}

/*--------------------Search------------------------*/
#sfsearchResultsWrp
{
    
}
.searchresult
{
    margin-bottom:30px;
}
.searchresult p
{
    margin-bottom:0px;
}
.sfsearchResultTitle
{
    font-weight:bold;
    color:#0067B1; 
    line-height:22px;
    font-size:20px;  
}
.sfsearchResultHighLighter
{
    font-size:12px;
    line-height:18px;
    -o-text-overflow: ellipsis;   /* Opera */
    text-overflow:    ellipsis;   /* IE, Safari (WebKit) */
    overflow:hidden;              /* don't show excess chars */
    white-space:nowrap;           /* force single line */
    width: 100%;                 /* fixed width */
}
.sfsearchResultUrl
{
    font-size:14px;
    color:#0067B1;
}
.sf_pagerNumeric a 
{
    border-left:1px solid #000000;
    padding-left:5px;
    padding-right:5px;
    
}
a.sf_PagerCurrent
{
    padding-left:0px;
    border-left:none;
}
.toppager
{
    float:right;
}
.searchtitle
{
    
    display:inline-block;
    *display:inline;
    *zoom:1;
}

#left_column_search {
    width:240px;
    height:100%;
    display:inline-block;
    *display:inline;
    *zoom:1;
    vertical-align:top;
    background:#ffffff;
    padding-top:35px;
    margin-right:18px;
}
#left_column_search img 
{
    padding-right:10px;
    display:inline-block;
    *display:inline;
    *zoom:1;
    margin-left:-20px;
    *margin-left:0px;
    vertical-align:top;
}
#left_column_search p 
{
    display:inline-block;
    *display:inline;
    *zoom:1;
    width:182px;
    *width:150px;
    height:75px;
    margin:0px;
    vertical-align:top;
    
}

.sfsearchBox
{
    border:none;
    padding:0px;
    height:40px;
    
}
.sfsearchBox input[type="text"]
{
    height:40px;
    line-height:40px;
    width:96%;
    *width:90%;
    font-size:20px;
    /*font-size:30px;*/
    padding-left:10px;
    *display:inline;
    *zoom:1;
    
}
.sfsearchBox input[type="submit"]
{
   background:url('../images/searchicon.jpg')/*tpa=http://www.thekrogerco.com/Sitefinity/WebsiteTemplates/KrogerCorporate/App_Themes/KrogerCorporate/images/searchicon.jpg*/ center no-repeat;
   width:46px;
   height:46px;
   border: none;
   margin-left: -50px;
   text-align: center;
   cursor: pointer;
   vertical-align: top;
   *display:inline;
   *zoom:1;
}

#topnavsearch
{
    font-weight:bold;
    color:#1B61B1 !important;
    background:#F7F1E5;
    font-size:12px;
    padding:10px 10px
}
