
#box-corporate {
	background-color: #0d3384;
	width: 258px;
	height: 40px;
	position: relative;
	border-top: 1px solid #a8aeb3;
	border-bottom: 1px solid #8699c2;
}

#logo-corporate {
	position: absolute;
	left: 10px;
	top: 12px;
}

#corporate-separator {
	position: absolute;
	left: 135px;
	top: 16px;
}

#corporatelink {
	position: absolute;
	left: 150px;
	top: 13px;
	white-space: nowrap;
	color: #fff;
	font-size: 90%;
	font-weight: bold;
}

a#corporatelink:link,
a#corporatelink:visited,
a#corporatelink:active,
a#corporatelink:focus,
a#corporatelink:hover {
	color: #fff;
	text-decoration: underline;
}

a#corporatelink:hover {
	text-decoration: none;
}

#box-language {
	background-image: url(img/bg-box-language.gif)/*tpa=http://www.borgwarner.com/_layouts/1033/styles/themable/borgwarner/img/bg-box-language.gif*/;
	background-repeat: no-repeat;
	width: 258px;
	height: 44px;
	position: relative;
}

#box-language select {
	position: absolute;
	left: 15px;
	top: 13px;
	width: 175px;
	padding: 1px;
	
}

#box-search {
	background-image: url(img/bg-box-search.gif)/*tpa=http://www.borgwarner.com/_layouts/1033/styles/themable/borgwarner/img/bg-box-search.gif*/;
	background-repeat: no-repeat;
	width: 258px;
	height: 44px;
	position: relative;
}

#search {
	position: absolute;
	left: 15px;
	top: 11px;
	width: 205px;
	height: 14px;
	padding: 1px;
}

#btn-search {
	position: absolute;
	left: 226px;
	top: 11px;
	width: 18px;
	height: 18px;
}


ul#toolnavigation {
	height: 60px;
	margin: 10px 0 0;
	padding: 0;
}

ul#toolnavigation li {
	display: inline;
	float: left;
	width: 64px;
	margin: 0;
	padding: 0;
	background: none;
}

ul#toolnavigation li a:link,
ul#toolnavigation li a:visited,
ul#toolnavigation li a:active,
ul#toolnavigation li a:focus,
ul#toolnavigation li a:hover {
	width: 64px;
	height: 15px;
	text-align: center;
	font-size: 10px;
	background-repeat: no-repeat;
	background-position: center 5px;
	display: block;
	padding-top: 35px;
	text-decoration: none;
}

ul#toolnavigation li a#btn-tool-print {
	background-image: url(img/bg-btn-tool-print.gif)/*tpa=http://www.borgwarner.com/_layouts/1033/styles/themable/borgwarner/img/bg-btn-tool-print.gif*/;
}

ul#toolnavigation li a#btn-tool-print:hover {
	background-image: url(img/bg-btn-tool-print-hover.gif)/*tpa=http://www.borgwarner.com/_layouts/1033/styles/themable/borgwarner/img/bg-btn-tool-print-hover.gif*/;	
}

ul#toolnavigation li a#btn-tool-contact {
	background-image: url(img/bg-btn-tool-contact.gif)/*tpa=http://www.borgwarner.com/_layouts/1033/styles/themable/borgwarner/img/bg-btn-tool-contact.gif*/;
}

ul#toolnavigation li a#btn-tool-contact:hover {
	background-image: url(img/bg-btn-tool-contact-hover.gif)/*tpa=http://www.borgwarner.com/_layouts/1033/styles/themable/borgwarner/img/bg-btn-tool-contact-hover.gif*/;	
}

ul#toolnavigation li a#btn-tool-share {
	background-image: url(img/bg-btn-tool-share.gif)/*tpa=http://www.borgwarner.com/_layouts/1033/styles/themable/borgwarner/img/bg-btn-tool-share.gif*/;
}

ul#toolnavigation li a#btn-tool-share:hover {
	background-image: url(img/bg-btn-tool-share-hover.gif)/*tpa=http://www.borgwarner.com/_layouts/1033/styles/themable/borgwarner/img/bg-btn-tool-share-hover.gif*/;	
}

ul#toolnavigation li a#btn-tool-rss {
	background-image: url(img/bg-btn-tool-rss.gif)/*tpa=http://www.borgwarner.com/_layouts/1033/styles/themable/borgwarner/img/bg-btn-tool-rss.gif*/;
}

ul#toolnavigation li a#btn-tool-rss:hover {
	background-image: url(img/bg-btn-tool-rss-hover.gif)/*tpa=http://www.borgwarner.com/_layouts/1033/styles/themable/borgwarner/img/bg-btn-tool-rss-hover.gif*/;
}

#right .box .box-header {
	background-image: url(img/bg-box-header-right.gif)/*tpa=http://www.borgwarner.com/_layouts/1033/styles/themable/borgwarner/img/bg-box-header-right.gif*/;
	color: #fff;
	font-weight: bold;
	padding: 8px 5px 8px 15px;
	line-height: 120%;
}
#right { /* 258px + 2px shadow */
	width: 258px;
	margin: 0 2px 0 0;
	padding: 0 0 20px;
	float: right;
	font-size: 85%; /* 11px */
	line-height: 135%;
}

