/* REMOVE BLUE BACKGROUND */
#ctl00_MSO_ContentDiv TD {
	BACKGROUND-COLOR: #ffffff
}

/* TOP NAVIGATION BAR */


.additional-background { /* separates top titles */
	MARGIN-LEFT: 8px; MARGIN-RIGHT: 8px; margin-BOTTOM:4px; margin-TOP:4px;

}


.menu-horizontal a { /* main titles */
	border-top: 1px #C0C0C0 solid; 
}

.static a{ /* main titles */
	border-right: 1px #C0C0C0 solid;
	font-weight : bold;	
}
    .static a:hover {
		background-color: #3B4F65;
		color: #F1F1F1;
	}
	
.dynamic a{ /* drop menus - reverse inherited - width removes false dropdowns */
	border: 1px white solid;
	
	font-weight : normal;

	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 1px;

	width:175px;
}

.dynamic LI {
	border-top: 1px #C0C0C0 solid;
}


	.dynamic a:hover{
		color:#003399;
		background-color: #F1F1F1;
		border:1px #00309C solid;
		width:175px;

	}
	

#slideshow{
	margin-top: -43px;
}
