/*
IPad CSS
insert with following line, and adjust href:

<link rel="stylesheet" media="only screen and (max-device-width: 1024px)" href="../ipad.css" type="text/css" /> 
*/




/* realign top blue sections */
    #topSubWraper  {
       /* MARGIN-LEFT: -7px; */
        }

/* replace Flash banner */
    #siteheader {
        BACKGROUND-IMAGE: url("../../../../../en/PublishingImages/replacebanner.jpg")/*tpa=http://www.borgwarner.com/en/PublishingImages/replacebanner.jpg*/;
        background-repeat: no-repeat;
        height: 125px;
        width: 950px; 
        }

/* Bottom-Nav for Animation (5 tabs) */
	#nav {
		WHITE-SPACE: nowrap;
	}
	
	
/* Re-align stock chart */
	#ctl00_SPWebPartManager1_g_47952e07_209d_47e8_b4b7_7bcf26d85c0d {
		PADDING-TOP: 200px;
	}
	
/* Re-align Social Responsibility Icons */
#SocialResponsibilityIconsWP
{
    padding-top: 200px;
    }