/* Begin Dialog Mods JW - hides the title in the modal dialog and moves the X to the top right*/
.ms-dlgTitle {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WHITE-SPACE: nowrap; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 0px; OVERFLOW: hidden; BORDER-LEFT-WIDTH: 0px; CURSOR: default; PADDING-TOP: 0px
}
.ms-dlgTitleBtns {
	POSITION: absolute; PADDING-RIGHT: 2px; FLOAT: right; RIGHT: -12px; PADDING-TOP: 2px; TOP: -12px
}

/* Border around entire dialog */
.ms-dlgBorder {
	BORDER: #fff 0px solid;
}

.ms-dlgContent {
	background:#fff;
}

