/* Home stylesheet - last updated 09/05/2014 p548jo */ 

/*	resets */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	}

/* top level */
body {
	background: url(../../art/site/home02/bg01.png)/*tpa=https://www.express-scripts.com/assets/ulp/art/site/home02/bg01.png*/ repeat-x 0 0 #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000;
	}
body#logwidget{
	background:none;
}	
#container {
	width: 966px;
	margin: 0 auto;
	}
a, a:link, a:visited {
	color: #00549F;
}
a:hover {
	color: #c70;
}

/*  error */
div.error {
	color: #ed4c1b;
	padding: 6px !important;
	margin: 0 0 15px 0 !important;
	border: 1px solid #ed4c1b;
	}
div.error h3 {
	color: #ed4c1b;
	padding: 0;
	margin: 0 0 6px 0;
	font-size: 1.3em;
	}
div.error p {
	color: #ed4c1b;
	padding: 0;
	margin: 0 0 5px 0;
	font-size: 1.3em;
	}	
div#scriptCookieErr{
	font-size:10px;
	width:280px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
/* top links */	
dl#toplinks {
	position: relative;
	right: 0;
	top: 6px;
	font-size: 12px;
	line-height: 13px;
	float: right;
	height: 27px;
	}
dl#toplinks dt {
	list-style: none;
	display: inline;
	padding: 0 8px 2px 8px;
	border-left: 1px solid #666;
	line-height: 12px;
	font-weight: normal;	
	}
dl#toplinks dt:first-child {
	border-left: none;
	}
dl#toplinks dt a:link, 
dl#toplinks dt a:visited {
	color: #000;
	text-decoration: none;
	}
dl#toplinks dt a:hover, 
dl#toplinks dt a:active {
	text-decoration: underline;
	}

/* top layer */
div#top {
	clear: both;
	margin-top:32px;
	}
div.box {
	width: 644px;
	height: 485px;
	float: left;
	margin: 0 20px 30px 0;
	}
div.reg {
	background: url(../../art/site/home02/main_pic_reg.jpg)/*tpa=https://www.express-scripts.com/assets/ulp/art/site/home02/main_pic_reg.jpg*/ no-repeat 0 0 #fff;
	position: relative;
	}
div.reg h2 {
	position: absolute;
	float: right;
	right: 27px;
	top: 116px;
	font-size: 21px;
	font-weight: bold;
	color: #0055a0;
	}
div.mainanon {
	background: url(../../art/site/home02/main_pic_anon.jpg)/*tpa=https://www.express-scripts.com/assets/ulp/art/site/home02/main_pic_anon.jpg*/ no-repeat 0 0 #fff;
	position: relative;
	}
div.bxmsg {
	position: absolute;
	left: 20px;
	top: 435px;
	width: 500px
	}
div.bxmsg h4,
div.bxmsg h5 {
	font-weight: normal;
	color: #fff;
	}
div.bxmsg h5 {
	font-size: 14px;
	}	
div.bxmsg h4 {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 2px;
	}
div.bxmsg h4 a:link,
div.bxmsg h4 a:visited {
	font-weight: normal;
	color: #fff;
	text-decoration: underline;
	}
div.bxmsg h4 a:hover,
div.bxmsg h4 a:active {
	text-decoration: none;
	}
div.bxmsg h5 a:link,
div.bxmsg h5 a:visited {
	font-weight: normal;
	color: #fff;
	text-decoration: underline;
	}
div.bxmsg h5 a:hover,
div.bxmsg h5 a:active {
	text-decoration: none;
	}	
/* accessible hide */
.hide,
h1.logo,
fieldset.login legend,
fieldset.login a.gologin span,
div#right div.news h3 span,
div#buckets a h3 span,
div#buckets div.static h3 span,
div#icons a.trustwave span,
div#icons a.vipps span,
div#icons a.urac span,
div#icons a.urac01 span,
div#icons a.urac02 span,
div#icons a.urac03 span,
div#icons a.urac04 span,
div#icons a.ncqa span,
div#top div.mainanon h2,
div#top div.mainanon h3 {
	position: absolute;
	left: 0px;
	top: -500px;
	width: 1px;
	height: 1px;
	overflow: hidden;
	}

/* login widget */
div#reglog {
	position: absolute;
	left: 318px;
	top: 170px;
	width: 310px;
	}
fieldset.login {
	width: 310px;
	}
fieldset.login label,
fieldset.login input {
	font-weight: bold;
	display: block;
	float: left;
	}

fieldset.login input#userid,
fieldset.login input#password {
	color: #414852;
	border: none;
	padding: 0 8px 0 4px;
	/* for IE8 */
	padding-top: 5px\9;
	background-color:transparent;
	}
fieldset.login input#userid {
	margin: 0 0 12px 0;
	/* for IE8 */
	margin-bottom: 7px\9;
	width: 162px;
	height: 25px;
	}
fieldset.login input#password {
	margin: 0 4px 0 0;
	width: 82px;
	height: 25px;
	}
fieldset.login span.wid {
	display: block;
	float: left;
	width: 173px;
	height: 25px;
	padding: 0 4px 0 8px;
	margin: 0 10px 12px 0;
	background: url(../../art/site/home02/login_sprite.png)/*tpa=https://www.express-scripts.com/assets/ulp/art/site/home02/login_sprite.png*/ -8px 0 no-repeat;
	}
fieldset.login span.wpw{
	display: block;
	float: left;
	width: 90px;
	height: 25px;
	padding: 0 8px 0 8px;
	margin: 0 4px 0 0;
	background: url(../../art/site/home02/login_sprite.png)/*tpa=https://www.express-scripts.com/assets/ulp/art/site/home02/login_sprite.png*/ -8px -42px no-repeat;
	}
fieldset.login label {
	text-align: right;
	width: 106px;
	padding: 5px 5px 0 0;
	margin: 0;
	white-space: nowrap;
	}
fieldset.login a.gologin:link,
fieldset.login a.gologin:visited {
	display: block;
	float: left;
	margin: -3px 0 0 0;
	background: url(../../art/es/site/home02/btn_sprite.png)/*tpa=https://www.express-scripts.com/assets/ulp/art/es/site/home02/btn_sprite.png*/ 0 0 no-repeat;
	width: 77px;
	height: 30px;
	text-decoration: none;
	}
fieldset.login a.gologin:hover,
fieldset.login a.gologin:active {
	background: url(../../art/es/site/home02/btn_sprite.png)/*tpa=https://www.express-scripts.com/assets/ulp/art/es/site/home02/btn_sprite.png*/ 0 -30px no-repeat;
	}
fieldset.login ul.forgot{
	clear: both;
	margin-left: 112px;
	padding: 7px 0 0 0;
	}
fieldset.login ul.forgot li{
	padding-bottom: 2px;
	list-style:none;
	}
fieldset.login ul.forgot li a:link,
fieldset.login ul.forgot li a:visited {
	font-size: 12px;
	color: #00549f;
	text-decoration: underline;
	}
fieldset.login ul.forgot li a:hover,
fieldset.login ul.forgot li a:active {
	text-decoration: none;
	}
fieldset.login div.pleasewait01 {
	display: block;
	float: left;
	margin: -3px 0 0 0;
	padding: 0;
	background: url(../../art/site/home02/login_wait_hikey.gif)/*tpa=https://www.express-scripts.com/assets/ulp/art/site/home02/login_wait_hikey.gif*/ no-repeat 3px 1px;
	width: 80px;
	height: 34px;
	}
fieldset.login div.pleasewait01 span {
	display: block;
	color: #6c7380;
	float: left;
	padding: 2px 0 0 35px;
	margin: 0;
	}
fieldset.login div.error{
	font-size:10px;
	width:280px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
div.anon fieldset.login p.tagline {
	font-weight: bold;
	font-size: 21px;
	color: #0055a0;
	margin: 0 0 14px 0;
	}
p.tagline {
	font-weight: bold;
	font-size: 21px;
	color: #0055a0;
	margin: 0 0 14px 0;
	}	
/* right column */
div#right {
	float: left;
	width: 300px;
	}
div.rtanon {
	margin-top: 20px;
	}
div.rtreg {
	margin-top: 82px;
	}
div#right div.news h3 {
	background: url(../../art/site/home02/ttl_sprite.png)/*tpa=https://www.express-scripts.com/assets/ulp/art/site/home02/ttl_sprite.png*/ no-repeat 0 -72px #fff;
	width: 285px;
	height: 24px;
	margin: 0;
	}
div#right div.news ul {
	list-style-type: none;
	margin: 0 0 8px 0;
	}
div#right div.news ul li {
	padding: 9px 0 9px 0;
	border-bottom: 1px solid #eee;
	}
div#right div.news ul li h4,
div#right div.news ul li h5 {
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 8px;
	}
div#right div.news ul li h5 {
	margin-bottom: 3px;
	}
div#right div.news ul li p {
	font-size: 14px;
	margin-bottom: 2px;
	}
div#right div.news a:link,
div#right div.news a:visited {
	font-size: 14px;
	font-weight: bold;
	color: #00549f;
	text-decoration: none;
	}
div#right div.news a:hover,
div#right div.news a:active {
	text-decoration: underline;
	}	
div#right div.news a.more02:link,
div#right div.news a.more02:visited {
	color: #000;
	text-decoration: none;
	}
div#right div.news a.more02:hover,
div#right div.news a.more02:active {
	color: #666;
	text-decoration: none;
	}
div#right div.news a.more02:link span,
div#right div.news a.more02:visited span {
	font-size: 14px;
	font-weight: normal;
	color: #00549f;
	text-decoration: underline;
	}
div#right div.news a.more02:hover span,
div#right div.news a.more02:active span {
	color: #ed4c1b;
	text-decoration: underline;
	}
div#right div.news a.alerts:link,
div#right div.news a.alerts:visited {
	font-weight: normal;
	/*color: #ed4c1b;*/
	color: #0055a0;
	font-size: 15px !important;
	text-decoration: underline;
	}
div#right div.news a.alerts:hover,
div#right div.news a.alerts:active {
	text-decoration: none;
	}
div#right div.news a.alerts em {
	font-style: normal;
	display: block;
	}
div#right div.news ul li p.updated {
	margin-top: 4px;
	font-size: 12px;
	white-space: nowrap;
	}
div#right div.news ul li p strong {
	color: #ed4c1b;
	font-weight: normal;
	}
/* tricare logo */	
div#tc{
	margin-top: -8px;
}
div#tc a.tricare {
	display:block;
	background: url(../../art/site/home02/icons.png)/*tpa=https://www.express-scripts.com/assets/ulp/art/site/home02/icons.png*/ no-repeat 0 0 #fff;
	width: 194px;
	height: 73px;
	}
div#tc a.tricare:link, 
div#tc a.tricare:visited {
	color: #00549f;
	text-decoration: underline;
	}
div#tc a.tricare:hover,
div#tc a.tricare:active {
	color: #00549f;
	text-decoration: none;
	}
div#tc a.tricare span {
	display: block;
	font-size: 12px;
	width: 110px;
	position: relative;
	top: 19px;
	left: 130px;
	font-weight:normal;
	height:55px;
	cursor:pointer;	
	}
/* anonymous only */
div#top div.mainanon a.register:link,
div#top div.mainanon a.register:visited {
	position: absolute;
	top: 292px;
	left: 408px;
	display: block;
	background: url(../../art/site/home02/enroll.png)/*tpa=https://www.express-scripts.com/assets/ulp/art/site/home02/enroll.png*/ no-repeat 0 0 transparent;
	width: 213px;
	height: 58px;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	}
div#top div.mainanon a.register:hover,
div#top div.mainanon a.register:active {
	background: url(../../art/site/home02/enroll.png)/*tpa=https://www.express-scripts.com/assets/ulp/art/site/home02/enroll.png*/ no-repeat 0 -58px transparent;
	}
div#top div.mainanon a.register span {
	display: block;
	padding: 16px 0 0 24px;
	}
div.rtanon h2 {
	font-weight: bold;
	font-size: 21px;
	color: #0055a0;
	margin: 0 0 14px 0;
	}
div.rtanon div#anonlog {
	margin: 0 0 14px 0;
	padding-bottom: 12px;
	border-bottom: 1px solid #bacae1;
	}
div.rtanon iframe#loginwidget {
	margin-top: 9px\9;
	margin-bottom: -7px;
}	
iframe#loginwidget {
	height: 190px;
}
div#loginWidget div.error {
	display: none;
}
/* bottom */
div#bottom {
	clear: both;
	}
div#buckets  {
	clear: both;
	width: 966px;
	height: 160px;
	margin: 0 0 32px 0;
	*margin-bottom: 0px;
	padding:0px;
	}
div#buckets a,
div#buckets div.static {
	display: inline-block;
	text-decoration: none;
	width: 321px;
	height: 160px;
	float: left;
	padding: 0;
	cursor: hand;
	margin-top:0px;
	*margin-top:-32px;
	}
	
div#buckets a#bkt01:link,
div#buckets a#bkt01:visited {
	background: url(../../art/site/home02/bks_ppr_sprite.png)/*tpa=https://www.express-scripts.com/assets/ulp/art/site/home02/bks_ppr_sprite.png*/ no-repeat 0 0 transparent;
	}
div#buckets a#bkt01:hover,
div#buckets a#bkt01:active {
	background: url(../../art/site/home02/bks_ppr_sprite.png)/*tpa=https://www.express-scripts.com/assets/ulp/art/site/home02/bks_ppr_sprite.png*/ no-repeat 0 -257px transparent;
	*background: url(../../art/site/home02/bks_ppr_sprite.png)/*tpa=https://www.express-scripts.com/assets/ulp/art/site/home02/bks_ppr_sprite.png*/ no-repeat 0 0 transparent;
	}
div#buckets a#bkt02:link,
div#buckets a#bkt02:visited,
div#buckets div.static {
	background: url(../../art/site/home02/bks_ppr_sprite.png)/*tpa=https://www.express-scripts.com/assets/ulp/art/site/home02/bks_ppr_sprite.png*/ no-repeat -40px 0 transparent;
	}
div#buckets a#bkt02:hover,
div#buckets a#bkt02:active {
	background: url(../../art/site/home02/bks_ppr_sprite.png)/*tpa=https://www.express-scripts.com/assets/ulp/art/site/home02/bks_ppr_sprite.png*/ no-repeat -40px -257px transparent;
	*background: url(../../art/site/home02/bks_ppr_sprite.png)/*tpa=https://www.express-scripts.com/assets/ulp/art/site/home02/bks_ppr_sprite.png*/ no-repeat -40px 0 transparent;
	}
div#buckets a#bkt03:link,
div#buckets a#bkt03:visited {
	background: url(../../art/site/home02/bks_ppr_sprite.png)/*tpa=https://www.express-scripts.com/assets/ulp/art/site/home02/bks_ppr_sprite.png*/ no-repeat top right transparent;
	}
div#buckets a#bkt03:hover,
div#buckets a#bkt03:active {
	background: url(../../art/site/home02/bks_ppr_sprite.png)/*tpa=https://www.express-scripts.com/assets/ulp/art/site/home02/bks_ppr_sprite.png*/ no-repeat right -257px transparent;
	*background: url(../../art/site/home02/bks_ppr_sprite.png)/*tpa=https://www.express-scripts.com/assets/ulp/art/site/home02/bks_ppr_sprite.png*/ no-repeat top right transparent;
	}
div#buckets div.bkt02,
div#buckets div.bkt03 {
	border-left: 1px solid #cfd9e0;
	}
div#buckets a:link p,
div#buckets a:visited p,
div#buckets div.static p {
	width: 50%;
	color: #000;
	text-decoration: none;
	}
div#buckets a:hover p,
div#buckets a:active p {
	color: #666;
	text-decoration: none;
	}
div#buckets a:link p span,
div#buckets a:visited p span {
	color: #00549f;
	text-decoration: underline;
	white-space: nowrap;
	}
div#buckets a:hover p span,
div#buckets a:active p span {
	color: #ed4c1b;
	text-decoration: underline;
	}
div#buckets a div,
div#buckets div.static div {
	padding-left: 20px;
	height: 165px !important;
	}
div#buckets a h3,
div#buckets div.static h3 {
	margin: 16px 0 8px 0;
	width: 285px;
	height: 24px;
	}
div#buckets a#bkt01 h3 {
	background: url(../../art/site/home02/ttl_sprite.png)/*tpa=https://www.express-scripts.com/assets/ulp/art/site/home02/ttl_sprite.png*/ no-repeat 0 -24px transparent;
	}
/*
div#buckets a#bkt02 h3 {
	background: url(/assets/ulp/art/site/home02/ttl_sprite.png) no-repeat 0 -24px transparent;
	}
*/

/* welcome to new promo addition */
div#buckets a#bkt02 h3,
div#buckets div.static div.bkt02 h3 {
	background: url(../../art/site/home02/ttl_sprite.png)/*tpa=https://www.express-scripts.com/assets/ulp/art/site/home02/ttl_sprite.png*/ no-repeat 0 0px transparent;
	}
div#buckets a#bkt02:link p,
div#buckets a#bkt02:visited p,
div#buckets div.static div.bkt02 p {
	width: 40%;
	}
div#buckets a#bkt03 h3 {
	background: url(../../art/site/home02/ttl_sprite.png)/*tpa=https://www.express-scripts.com/assets/ulp/art/site/home02/ttl_sprite.png*/ no-repeat 0 -48px transparent;
	}
div#buckets div.bkt01 {
	background: url(../../art/site/home02/pics_sprite.png)/*tpa=https://www.express-scripts.com/assets/ulp/art/site/home02/pics_sprite.png*/ no-repeat -180px 0 transparent;
	*background-position: -180px bottom !important;
	}
div#buckets div.bkt02 {
	background: url(../../art/site/home02/pics_sprite.png)/*tpa=https://www.express-scripts.com/assets/ulp/art/site/home02/pics_sprite.png*/ no-repeat -670px 0 transparent;
	*background-position: -670px bottom !important;	
	}
div#buckets div.bkt03 {
	background: url(../../art/site/home02/pics_sprite.png)/*tpa=https://www.express-scripts.com/assets/ulp/art/site/home02/pics_sprite.png*/ no-repeat -1180px 0 transparent;
	*background-position: -1180px bottom !important;	
	}

/* bottom links */
div.btm_info{
	padding: 15px 0 20px 23px;
}
div.btm_info p{
	margin: 0 0 16px 0px;
}
div#btm_links {
	clear: both;
	margin: 22px 0 0 0;
	width: 480px;
	float: left;
	font-size: 12px
	}
div#btm_links a {
	display: inline-block;
	}
div#btm_links ul {
	margin: 0 0 12px 16px;
	}
div#btm_links ul li {
	list-style: none;
	display: inline;
	padding: 0 4px 1px 7px;
	border-left: 1px solid #ccc;
	line-height: 12px;
	font-weight: normal !important;	
	}
div#btm_links ul.links02 li {
	list-style: none;
	padding: 0 4px 4px 7px;
	display: block;
	border: 0;
	}
div#btm_links ul li:first-child {
	border-left: none;
	}
div#btm_links ul li a:link,
div#btm_links ul li a:visited {
	color: #00549f;
	text-decoration: underline;
	}
div#btm_links ul li a:hover,
div#btm_links ul li a:active {
	color: #00549f;
	text-decoration: none;
	}

/* icons */
div#icons {
	float: left;
	width: 100%;
	margin-left: 11px;
	}
div#icons a {
	display: inline-block;
	float: left;
	}
div#icons a.urac01 {
	background: url(../../art/site/home02/icons.png)/*tpa=https://www.express-scripts.com/assets/ulp/art/site/home02/icons.png*/ no-repeat 0px -105px #fff;
	width: 100px;
	height: 100px;
	}
div#icons a.urac02 {
	background: url(../../art/site/home02/icons.png)/*tpa=https://www.express-scripts.com/assets/ulp/art/site/home02/icons.png*/ no-repeat -104px -105px #fff;
	width: 100px;
	height: 100px;
	}
div#icons a.urac03 {
	background: url(../../art/site/home02/icons.png)/*tpa=https://www.express-scripts.com/assets/ulp/art/site/home02/icons.png*/ no-repeat -206px -105px #fff;
	width: 100px;
	height: 100px;
	}
div#icons a.urac04 {
	background: url(../../art/site/home02/icons.png)/*tpa=https://www.express-scripts.com/assets/ulp/art/site/home02/icons.png*/ no-repeat -311px -105px #fff;
	width: 100px;
	height: 100px;
	}
div#icons a.urac {
	background: url(../../art/site/home02/icons.png)/*tpa=https://www.express-scripts.com/assets/ulp/art/site/home02/icons.png*/ no-repeat -486px 0 #fff;
	width: 79px;
	height: 100px;
	}
div#icons a.vipps {
	background: url(../../art/site/home02/icons.png)/*tpa=https://www.express-scripts.com/assets/ulp/art/site/home02/icons.png*/ no-repeat 21px -310px #fff;
	width: 130px;
	height: 80px;
	}
div#icons a.trustwave {
	background: url(../../art/site/home02/icons.png)/*tpa=https://www.express-scripts.com/assets/ulp/art/site/home02/icons.png*/ no-repeat 9px -215px #fff;
	width: 120px;
	height: 100px;
	}
div#icons a.ncqa {
	background: url(../../art/site/home02/icons.png)/*tpa=https://www.express-scripts.com/assets/ulp/art/site/home02/icons.png*/ no-repeat 14px -400px #fff;
	width: 135px;
	height: 100px;
	}

/* footer */
p.footer {
	clear: both;
	margin: 0 0 36px 20px;
	padding: 0;
	color: #666;
	}

/* message/input pages */
div.msgbox {
	margin: 27px auto;
	padding: 116px 0 22px 0;
	width: 642px;
	border: 1px solid #f0971b;
	background: url(../../art/site/home02/exp_box_top01.png)/*tpa=https://www.express-scripts.com/assets/ulp/art/site/home02/exp_box_top01.png*/ no-repeat 0 0 #fff;
	-moz-box-shadow: 0 0 5px 5px rgba(102, 119, 136, .1);
	-webkit-box-shadow: 0 0 5px 5px rgba(102, 119, 136, .1);
	box-shadow: 0 0 5px 5px rgba(102, 119, 136, .1);
	}
div.msgbox div.msgcontent {
	margin: 0 20px 0 20px;
	}
div.msgbox .agreecontent {
	height: 175px;
	overflow-y: scroll;
	margin: 0 0 16px 0;
	padding: 16px 30px 33px 16px;
	border: 1px solid #ccc;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: inset 0 0 5px 5px rgba(102, 119, 136, .09);
	-webkit-box-shadow: inset 0 0 5px 5px rgba(102, 119, 136, .09);
	box-shadow: inset 0 0 5px 5px rgba(102, 119, 136, .09);
	}
div.msgbox .agreecontent h4 {
	color: #595959;
	font-size: 14px;
	padding: 0;
	margin: 0 0 5px 0;
	}
div.msgbox .agreecontent p {
	color: #595959;
	font-size: 13px;
	padding: 0 0 20px 0;
	margin: 0;
	}
div.msgbox div.msgintro {
	margin-left: 16px;
	}
div.msgbox div.msgintro h2 {
	color: #00549f;
	font-size: 21px;
	font-weight: bold;
	margin: 0 0 8px 0;
	}
div.msgbox div.msgintro h3 {
	color: #666;
	font-size: 16px;
	font-weight: bold;
	margin: 0 0 16px 0;
	}
div.msgbox div.msgintro h4 {
	font-size: 13px;
	font-weight: bold;
	margin: 0 0 2px 0;
	}
div.msgbox div.msgintro p {
	color: #000;
	margin: 0 0 24px 0;
	}
div.msgbox div.msgintro ul {
	margin: 0 22px 12px 16px;
	color: #666;
	}
div.msgbox div.usure h2,
div.msgbox div.usure h3,
div.msgbox div.usure ul {
	color: #f00;
	}
div.msgaccept {
	margin-left: 16px;
	}
div.msgaccept p.warning {
	color: #FF0000;
	margin: 0 0 16px 0;
	}
div.msgbox div.inputbox {
	margin: 0 0 20px 0 !important;
	padding: 3px;
	border: 2px solid #bec7d8;
	-moz-box-shadow: 0 0 3px 3px rgba(102, 119, 136, .15);
	-webkit-box-shadow: 0 0 3px 3px rgba(102, 119, 136, .15);
	box-shadow: 0 0 3px 3px rgba(102, 119, 136, .15);
	}
div.msgbox div.inputbox h4 {
	font-size: 16px;
	color: #233f83;
	background-color: #daeef6;
	padding: 10px 12px 11px 16px;
	margin: 0 0 12px 0;
	}
div.msgbox div.inputbox p {
	margin: 0 22px 12px 16px;
	}
div.msgbox div.inputbox h5 {
	font-size: 13px;
	font-weight: normal;
	margin: 0 22px 12px 16px;
	}
div.msgbox div.inputbox ul {
	margin: 0 22px 12px 44px;
	}
div.msgbox div.inputbox div.lineitem {
	height: 25px;
	margin: 0 22px 12px 16px;
	clear: both;
	}
div.msgbox div.inputbox div.lineitem label {
	width: 190px;
	text-align: right;
	color: #233f83;
	}
div.msgbox div.inputbox div.checks input {
	margin-left: 20px;
	}
div.msgbox div.inputbox div.checks label {
	width: 90%;
	text-align: left;
	}
div.msgbox div.inputbox div.hhv label {
	margin-bottom: 20px;
	}
div.msgbox div.expandmessage {
	margin:15px;
	padding: 5px 0;
	background-color:#fefaef;
	border: 1px solid #ded6c0;
	}
div.msgbox div.rxnumber {
	height: 48px !important;
	border-bottom: 1px solid #eee;
	}
div.msgbox div.rxnumber input {
	margin-top: 8px;
	}
div.msgbox div.passwordhint {
	height: 48px !important;
	}
div.msgbox div.emailform,
div.msgbox div.inputbox {
	margin: 0 0 16px 16px;
	}
div.msgbox div.emailform label,
div.msgbox div.inputbox label {
	display: inline-block;
	float: left;
	margin: 3px 8px 0 0;
	color: #6c7380;
	}
div.msgbox div.emailform div.input,
div.msgbox div.inputbox div.input {
	display: inline-block;
	margin: 2px 8px 0 0;
	float: left;
	}
div.msgbox div.msgcontent div.regbtn {
	text-align: center;
	}
div.msgbox p.share {
	margin: 3px 0 0 0;
	color: #666;
	}
div.msgaccept a.opn_btn {
	margin-right: 16px;
	}

/* open buttons */
a.opn_btn {
	font: bold 15px Verdana, Arial, Helvetica, sans-serif;
	background-position: left top;
	background-repeat: no-repeat;
	text-decoration: none;
	display: inline-block;
	padding: 0 0 0 13px;
	white-space: nowrap;
	cursor: pointer;
	}
a.opn_btn span {
	background-position: right top;
	background-repeat: no-repeat;
	display: inline-block;
	padding: 0 13px 0 0;
	line-height: 28px;
	height: 28px;
	margin-bottom: 2px;
	}
a.btn_base, 
a.btn_base:link, 
a.btn_base:visited {
	color: #fff;
	}
a.btn_base {
	background-image: url(../../art/site/buttons/btn_base_lft.png)/*tpa=https://www.express-scripts.com/assets/ulp/art/site/buttons/btn_base_lft.png*/;
	}
a.btn_base span {
	background-image: url(../../art/site/buttons/btn_base_rgt.png)/*tpa=https://www.express-scripts.com/assets/ulp/art/site/buttons/btn_base_rgt.png*/;
	}
a.opn_btn:hover {
	background-image: url(../../art/site/buttons/btn_hover_lft.png)/*tpa=https://www.express-scripts.com/assets/ulp/art/site/buttons/btn_hover_lft.png*/;
	color: #fff;
	}
a.opn_btn:hover span {
	background-image: url(../../art/site/buttons/btn_hover_rgt.png)/*tpa=https://www.express-scripts.com/assets/ulp/art/site/buttons/btn_hover_rgt.png*/;
	}

/* MODAL WINDOW: General
----------------------------------------------- */
#modalskin {
	background: url(../../art/site/elements/dur_bg.jpg)/*tpa=https://www.express-scripts.com/assets/ulp/art/site/elements/dur_bg.jpg*/ repeat-x top;
	color: #444;
	}
#modalskin .linkcorner {
	float: right;
	}
#modalskin .linkcorner a.cornerclose {
	background: url(../../art/site/modal/notify_corner_close.gif)/*tpa=https://www.express-scripts.com/assets/ulp/art/site/modal/notify_corner_close.gif*/ no-repeat top right;
	display: inline-block;
	width: 107px;
	height: 32px;
	}
#modalskin .linkcorner a.cornerclose span {
	display: none;
	}
#modalskin .modalcontent {
	padding: 20px 25px;
	}
#modalskin h2 {	
	margin: 0 0 16px 0;
	font-size: 18px;
	color: #000;
	width: 80%;
	}
#modalskin p {
	margin: 0 0 16px 0;
	font-size: 13px;	
	}
#modalskin p.bottom {
	margin-bottom: 0;
	}
#modalskin p.expmsg {
	margin-top: 28px;
	font-size: 12px;
	}

/* media query for 1290+ screens */
@media only screen and (min-width: 1270px) and (max-width: 1920px) {
/* top level */
#container {
	width: 1230px;
	margin: 0 auto;
	}
/* right column */
div#right {
	width: 550px;
	}
/* bottom */	
div#buckets  {
	width: 1230px;
	}
div#buckets a,
div#buckets div.static {
	width: 410px;
	}
div#buckets div.bkt01 {
	background: url(../../art/site/home02/pics_sprite.png)/*tpa=https://www.express-scripts.com/assets/ulp/art/site/home02/pics_sprite.png*/ no-repeat -100px 0 transparent;
	}
div#buckets div.bkt02 {
	background: url(../../art/site/home02/pics_sprite.png)/*tpa=https://www.express-scripts.com/assets/ulp/art/site/home02/pics_sprite.png*/ no-repeat -590px 0 transparent;
	}
div#buckets div.bkt03 {
	background: url(../../art/site/home02/pics_sprite.png)/*tpa=https://www.express-scripts.com/assets/ulp/art/site/home02/pics_sprite.png*/ no-repeat -1100px 0 transparent;
	}
div#buckets a:link p {
	width: 55%;
	}
/* bottom links */
div#btm_links {
	width: 780px;
	}
/* icons */
div#right div.news a.alerts em {
	display: inline;
	}
}
