.franchiseList{ display: table; margin:0 auto; text-align:center; }
.franchiseList li{ display: inline-table; margin: 0 5px 5px 0; text-align: left; }
.franchiseList li li{ display: block; }
.franchiseList li a{ display: table-cell; }
.franchiseList li li a{ display: inline; }
.franchiseLink span{ display: none; }
.slab{ position: absolute; }
.childList{ position: absolute; left: -9999px; }
.selected .childList{ position: static; left: auto; }
.selected .childList li{ cursor: pointer; }

.franchiseList:after{ content: "."; clear: both; overflow: hidden; visibility: hidden; display: block; height: 0; }

/* =ie */
* html .franchiseList{ zoom: 1; }
* html .franchiseList li{ display: inline; zoom: 1; }
* html .franchiseList li a{ display: inline-block; }
*+html .franchiseList{ zoom: 1; }
*+html .franchiseList li{ display: inline; zoom: 1; }
*+html .franchiseList li a{ display: inline-block; }
