#FindinStore {
	width:650px;
	height:auto;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 0 5px #555555;
}
#FindinStore .content {
    padding: 30px;
}
#FindinStore .module-title {
	font-size: 24px;
	margin: 9px 0 0;
	width: auto;
}
#FindinStore .returnLink {
	background: url("../../images/bg_return_link.gif") no-repeat scroll 2px 3px transparent;
	border-bottom: 1px dotted #CCCCCC;
	height: 16px;
	padding: 3px 0 5px 15px;
	position: relative;
	top: -10px;
	color:#44B4FF;
	width: 540px;
}
#FindinStore .fiatsImg {
	background: url("../../images/sprites.png") no-repeat scroll -331px -864px transparent;
	background-position: -331px -864px;
	height: 50px;
	margin: 0 10px 0 0;
	width: 50px;
}
#FindinStore .fiatsDesc {
	color: #777777;
	line-height: normal;
	margin: -13.5px 0 13px 60px;
	padding: 0 0 3px;
	width: 85%;
}
#findStore {
	border-bottom: 1px dotted #CCCCCC;
	border-top: 1px dotted #CCCCCC;
	height: auto;
	margin: 0 0 10px;
	overflow: hidden;
	padding: 21px 0 12px;
}
.findStore input[type="text"] {
	height: 13px;
}
#findStore .productImage {
	margin: 0 10px 0 0;
}
#findStore .tileInfo {
	clear: none;
	margin: -8px 0 0 2px;
	padding: 0;
	width: 70%;
}
#findStore .tileInfo .swatches.input-group-title {
	margin: 0 0 8px;
}
#findStore .tileInfo .productTitle {
	color: #0069FF;
	margin: 0 0 5px;
	font: normal bold 13px/20px Arial;
}
#finditinaStore ul.findStore.input-step .input-field {
	margin-top: 10px;
}
#finditinaStore ul.findStore.input-step .input-field:last-child {
	margin-right:0px;
}
.findStore img {
	margin: 22px -2px 0;
}
.findStore .button {
	margin: 20px 0 0 -16px;
}
#findStore .tileInfo .qty-lbl-inpt {
	height: 100%;
	margin: 2px 42px 0 0;
	width: 50px;
}
#findStore .tileInfo .qty-lbl-inpt .qty-lbl {
	margin: 0 0 3px;
}
#FindinStore #pickUpInStoreQty input.quantity, input.qty {
	font-weight: bold;
	margin-left: 4px;
	text-align: center;
	width: 20px;
	height: 16px;
	font-size: 10px;
	margin-top: 1px;
}
#findStore .tileInfo .size-lbl-inpt .siz-lbl {
	margin: 0 0 4px;
}
/* FIAT Overlay End */
/* FIAT Search */
.storesTabularData table.print-content {
	width: 100%;
}
#findStore p {
	margin: 10px 0;
}
#FindinStore #change-location .changeLocation-btn {
	margin: 15px 0 10px;
}
#change-location .storesTableCaption {
	margin: -32px 0 0;
}
.ie #change-location .storesTableCaption {
margin: -25px 0 0;
}
.changeLocation-btn {
	text-align: right;
}
.storesTabularData {
	margin-top: 15px;
	width:575px;
}
#searchResults #findItInAStoreSortRes .print-header {
	margin-top: 3px;
}
.print-header {
	width: 100%;
}
#FindinStore .storesTabularData table.print-header td {
	padding: 0;
}
#FindinStore .storesTabularData .colOneSortlabel, #FindinStore .storesTabularData .colOneSortOption, .print-header tr:first-child, .store-details-holder .print-content thead:first-child {
	background: none repeat scroll 0 0 #F2F2F2;
}
#FindinStore .storesTabularData .colOneSortlabel {
	color: #0069FF;
	height: 18px;
	margin: 0 2px 0 0;
	padding: 5px 5px 0 0;
	text-align: right;
	width: 438px;
}
#FindinStore .storesTabularData .colOneSortOption {
	height: 25px;
	padding-left: 14px;
	width: 115px;
}
#FindinStore .storesTabularData .colThreeWidth {
	border-left: 2px solid #FFFFFF;
}
.print-header tr:first-child {
	height: 25px;
}
.search-result-core {
	margin-bottom: 0;
	max-height: 280px;
	min-height: 50px;
	overflow: auto;
	width: 574px;
}
.search-store-details-disclaimer {
	background: none repeat scroll 0 0 #F2F2F2;
	height: 66px;
	line-height: 17px;
	margin: 0;
	padding: 10px;
	width:555px;
}
#searchResults .sortColumns {
	background-color: #F2F2F2;
	border: medium none;
	color: #0069FF;
	margin-top: 3px;
	font-size: 12px;
	font-family: helvetica;
}
#fiatsPrint .storeName, .store-details-holder .print-content .storeName, #FindinStore .add-div .storeName, #FindinStore .fiatsDesc {
	font-size: 14px;
}
#FindinStore .modalWindow .map-store-details-outer .store-dep-details, #FindinStore .storesTabularData td p.store-address ,#FindinStore .map-store-details-outer .store-dep-details, #findStore .tileInfo .size-lbl-inpt .siz-lbl, #findStore .tileInfo .qty-lbl-inpt .qty-lbl{
	color: #333333;
}
.search-store-details-disclaimer{color: #333;}
#fiatItems .dist-view-map {
	margin-top: 6px;
}
#FindinStore #findItInAStoreSortRes #fiatItems, #FindinStore .storesTabularData td p.seeTheMap {
	display: inline;
	margin-left: 10px;
}
.store-details-holder .print-content th, #searchResults .sortColumns, #findStore .tileInfo .qty-lbl-inpt .qty-lbl, #findStore .tileInfo .size-lbl-inpt .siz-lbl, #FindinStore .storesTabularData .colOneSortlabel, #findStore .colorDisplay label, .print-content .seeTheMap a, .print-content .seeTheMap a:hover, #findStore .product-attr label, #findStore .availabilityDiv, #FindinStore .ursi, #FindinStore .rsi, #findStore .availabilityDiv, #FindinStore .add-div .storeName, #FindinStore .storesTabularData .colThreeWidthS p, #fiatsPrint .storeName, .store-details-holder .print-content .storeName, .storesTabularData .print-header td {
	font-weight: bold;
}
#findStore .productImage img, .fiatShow , #findStore .tileInfo .size-lbl-inpt .siz-lbl, #findStore .tileInfo .qty-lbl-inpt .qty-lbl, .findStore li.input-field label {
    display: block;
}
#FindinStore .storesTabularData .colThreeWidthS {
	border-left: 2px solid #FFFFFF;
	padding: 12px 9px 15px;
	text-align: center;
	width: 30%;
}
#FindinStore .storesTabularData .colThreeWidthS p {
	padding-bottom: 8px;
}
.serviceCounter {
	color: #808080;
	font-style: italic;
}
#FindinStore .storesTabularData .colTwoWidth {
	border-left: 2px solid #FFFFFF;
	padding: 18px 0 14px 8px;
	width: 297px;
}
.store-details-holder .print-content td:first-child {
	color: #666666;
}
.store-details-holder .print-content td {
	border-bottom: 1px dotted #CBCBCB;
}
.search-store-details-outer {
	line-height: 17px;
}
.findStore li.input-field label, #findStore .tileInfo, #findStore .product-attr strong, #change-location .storesTableCaption, #fiatsPrint .storeName, .store-details-holder .print-content .storeName, #fiatsPrint .storeName, .store-details-holder .print-content .storeName, #FindinStore .storesTabularData .colThreeWidthS, .store-details-holder .print-content,#FindinStore .add-div .storeName {
	color: #000000;
}
#FindinStore .module-title-container .printpage, #findStore .availabilityDiv, #FindinStore .map-store-details-outer .store-dep-details, #FindinStore #findStore, #findStore .product-attr, #FindinStore .storesTabularData .colOneSortlabel, #FindinStore .storesTabularData .colOneSortlabel, #FindinStore .storesTabularData .colThreeWidth, .search-store-details-disclaimer, #FindinStore .modalWindow .map-store-details-outer .store-dep-details, #FindinStore .storesTabularData td p.store-address, #FindinStore #findItInAStoreSortRes #fiatItems, #FindinStore .storesTabularData td p.seeTheMap, #FindinStore .storesTabularData .colThreeWidthS, #FindinStore .storesTabularData .colTwoWidth, .store-details-holder .print-content {
	font-size: 11px;
}
#FindinStore .returnLink, #findStore .tileInfo .qty-lbl-inpt .qty-lbl, #findStore .tileInfo .size-lbl-inpt .siz-lbl, #change-location .storesTableCaption, #findItInAStoreSortRes .sortColumns, .serviceCounter, #FindinStore .storesTabularData .colThreeWidthS p {
	font-size: 12px;
}
#FindinStore .module-title, #FindinStore .fiatsImg, #FindinStore .fiatsDesc, #findStore .productImage, #findStore .tileInfo, #finditinaStore ul.findStore.input-step .input-field, #findStore .tileInfo .qty-lbl-inpt, #FindinStore .storesTabularData .colOneSortlabel, #FindinStore .storesTabularData .colOneSortOption, .product-details-map .tileInfoMap, #fiatsPrint .product-details .tileInfoMap, #fiatsPrint #findStore .tileInfoMap, .storeNameDiv .storeName, .map-store-details-outer ul.map-store-header li, .product-details-map .tileInfoMap, #fiatsPrint .product-details .tileInfoMap, #fiatsPrint #findStore .tileInfoMap, #findStore .productImage, .storeNameDiv .storeName, .map-store-details-outer ul.map-store-header li, .store-dep-details ul li, .map-add-div .add-div, .map_content .map-add-div #map-div {
	float: left;
}
.map-store-scroll, .map-store-details-outer, .map-store-scroll, .search-result-core, #findStore .product-attr, #findStore, #FindinStore .fiatsDesc {
	clear: both;
}
/* End of FIAT Search*/
/* FIAT Print*/
.store-details-holder .print-content {
	margin:0 auto 30px -2px;
	width:100%;
	border-top:1px solid #CCC;
}
.product-details-map .tileInfoMap, #fiatsPrint .product-details .tileInfoMap, #fiatsPrint #findStore .tileInfoMap {
	color:#666666;
	margin-top:-4px;
	padding:0px;
}
.store-details-holder .print-content th {
	padding:5px 10px;
}
.store-details-holder .print-content td {
	padding:16px 10px 19px;
}
#fiatsPrint #btn-print {
	margin-bottom: 21px;
}
/* End of FIAT Print*/
/* FIAT Map View*/
.storeNameDiv .backToResultsButton .button {
	float: right;
	margin: 5px 10px 10px;
}
.map-store-scroll {
	height: 290px;
	margin: 10px 0 0;
	overflow: auto;
	width: 100%;
}
/* Search page Integration */
.findStoreResult, .fiatSearch, #fiatMap {
	width: 580px;
}
.findStoreResult {
	border-top: none;
}
.fiatHide {
	display: none;
	visibility: hidden;
}
.fiatShow {
	visibility: visible;
}
#finditinaStore .findStore.input-step #zipCodeundefined.error-message, #FindinStore #cityundefined.error-message {
	position: absolute;
	width: auto;
}

/*MAP*/
.map-store-details-outer {
    font-size: 12px;
    margin-top: -8px;
	width: 572px;
}
.map-store-scroll {
    height: 290px;
    margin: 10px 0;
    overflow: auto;
    width: 100%;
}
.map-add-div {
    background-color: #F2F2F2;
    height: 174px;
    overflow: hidden;
}
.map_content .map-add-div #map-div {
    height: 174px;
    position: relative;
    width: 235px;
}
.map-add-div .add-div {
    padding: 28px 5px 28px 19px;
    width: 290px;
}
#FindinStore .add-div .storeName {
 	margin: 4px 0;
}
#FindinStore .map-store-details-outer .store-dep-details {
 	margin: 15px 0;
}
.store-dep-details ul li {
    height: 80px;
    margin: 5px 0 0 58px;
    width: 146px;
}
.store-dep-details ul li.first {
    margin-left: 0;
}
#FindinStore .storeTime {
    padding-top: 0px;
}
.button.special-flat {
    background-color: #CC0000;
    background-image: none;
    border: medium none;
    border-radius: 1em 1em 1em 1em;
    box-shadow: 0 0 0 #888888;
    min-height: 20px;
}
.storeNameDiv {
    margin-top: 20px;
}
#findStore .productImage img {
    max-height: 180px;
}
#findStore .productImage {
     margin-right: 10px;
}
#findStore .availabilityDiv {
	float: right;
	color: #000;
}
#FindinStore .module-title-container .printpage {
    float: right;
    margin: 12px 12px 0 0;
    text-decoration: underline;
}
#changeLocation-btn #storeButton {
	min-height: 28px;
}
#searchPrint .seeTheMap{
	display: inline;
    margin-left: 10px;
}
#FindinStore .availabilityDiv{
	text-transform: lowercase;
}
#FindinStore .ursi, #FindinStore .rsi {
    font-size: 15px;
    text-align: center;
}
/* FIATS variation selection */
#findStore {
	clear: both;
	border-top: 1px dotted #ccc;
	border-bottom: 1px dotted #ccc;
	font-size: 11px;
	margin: 0 0 10px 0;
	padding: 20px 0 9px 0;
	width: 100%;
	height: auto;
	overflow: hidden;
}
#FindinStore.overlay #finditinaStore #findStore {
	padding: 21px 0px 12px 0px;
}
#findStore .productImage {
	float: left;
	margin-right: 10px;
}
#findStore .productImage img {
	max-height: 180px;
	display: block;
}
#findStore .tileInfo {
	padding: 0;
	margin: -8px 0 0 2px;
	width: 70%;
	float: left;
	clear: none;
}
#findStore .tileInfo .productTitle {
	color: #0069ff;
	font-size: 13px;
	font-weight: bold;
	float: none;
	line-height: 20px;
	margin-bottom: 9px;
}
#finditinaStore #findStore .tileInfo .productTitle a {
	color: #0069ff;
	font-family: Arial;
	font-weight: bold;
	font-size: 13px;
}
#findStore .input-step {
	float: left;
	width: 100%;
	margin: 0;
}
#findStore .tileInfo .qty-lbl-inpt {
	float: left;
	height: 100%;
	width: 50px;
	margin-right: 42px;
	margin-top: 2px;
}
#findStore .tileInfo .size-lbl-inpt {
	float: left;
	height: 100%;
	margin-top: -1px;
	padding-left: 0;
	width: auto;
	clear: none;
}
#findStore p {
	margin: 10px 0;
}
#findStore .colorDisplay {
	color: #000;
	margin-top: -5px;
}
#findStore .product-attr {
	clear: both;
	font-size: 11px;
	color: #666666;
}
/*IE CSS ONLY*/
.ie #FindinStore ul.findStore{
	width: 650px;
}
.ie #FindinStore{
	width: 670px;
}
.ie #FindinStore #change-location .changeLocation-btn {
	margin-bottom: 10px;
}
.preferImg {
    background: url("../../images/fiats/mystore.PNG") no-repeat scroll 2px -3px;
    display: block;
    float: left;
    height: 16px;
    text-indent: -9999px;
    width: 63px;
}
#FindinStore .storesTabularData td p.store-address{
	clear: both;
}

.store-details-holder .print-content .storeName{
	float: left;
}
.searchMessage{
	padding: 15px 10px 15px;
	font-weight: bold;
	background-color: #e2f2ff;
	margin: 5px 0;
	color: #000;
}
.print-store-details-outer {
	width:100%;
	line-height:17px;
}
.print-store-details-outer .dist-view-map {
    margin-top:6px;
}
#fiatsPrint .store-details-holder #printContent p {clear:both;}
#fiatsPrint .product-details-map .tileInfoMap, #fiatsPrint .product-details .tileInfoMap {
	width:80%;
}
 #fiatsPrint #findStore .tileInfoMap{width:65%;}
#MapDetailsPrint .store-dep-details p {
    margin: 0 !important;
}
.esVariation1, .esVariation2{
	display: none;
}
#searchResults .errorBlock{
	margin-top: 0;
}
#FindinStore .map-store-details-outer .store-dep-details p {
    margin: 5px 0;
}
#FindinStore .add-div p {
    color: #333333;
    margin: 4px 0;
}
#FindinStore .disabledLink {
   pointer-events: none;
   cursor: default;
}
/*This code need to move for global nav file*/
.sessionTimeOut {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F9F6D0;
    border-color: #C6D5DE;
    border-image: none;
    border-style: dotted none;
    border-width: 1px medium 1px 1px;
    color: #333333;
    display: none;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    margin: 18px 0 -26px 25px;
    padding: 19px 0 17px 20px;
    width: 909px;
    z-index: 2;
}
/*End here*/