/* Quick info optimized CSS - Michael. A*/
@charset "utf-8";
#overlay-loader {
	width:200px;
	left:-9999em;
	height:100px;
	z-index:99998;
	position:fixed;
	box-shadow: 0 0 5px #555;
	-moz-box-shadow: 0 0 5px #555;
	-webkit-box-shadow: 0 0 5px #555;
}
.overlay-loading #overlay-loader {
	background:#fff url("../../../tff/images/Loader_small_FNL.gif") no-repeat center center;
}

#overlay-curtain {
    left: 0;
    position: fixed;
    top: 0;
    z-index: 99998;
}
.overlay .content {
	padding: 30px;
	overflow: hidden;
	color: #666;
	font-size: 14px;
}
.overlay {
	width:474px;
	z-index:99999;
	background:#fff;
	overflow:hidden;
	position:absolute;
	box-shadow: 0 0 5px #555;
	-moz-box-shadow: 0 0 5px #555;
	-webkit-box-shadow: 0 0 5px #555;
}
.overlay:after, .overlay .content:after, .overlay #search-advanced:after, .overlay .info-footer:after, .inlineNonModal:after, .modalWindow:after, .modalWindow .row:after, .modalWindow .tileInfo:after, .modalWindow .starRatingBox:after, .buttonList .buttonUnit:after, .modalWindow .summary .subtotalInfo>li:after, #Modal .options:after, .addedToRegistry:after, .addedToRegistryFooter:after, #community-participation:after, .review-content:after, .overlay .review-content .column:after, .overlay .review-ratings-container:after, .clearFix:after, #video-thumbnails:after, .reportReviewRow:after, #edit-signature-fields:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.overlay .module-title, #ModalContent .module-title {
	color:#000;
	font-size:24px;
	padding-right:25px;
}
.overlay .module-title, .overlay .module-subtitle {
	margin: 0;
	font-weight: bold;
	padding: 0 0 5px 0;
	outline: none;
}
#Hero #heroZoomImage {
	display: block;
	width: 266px;
	height: 266px;
}
.overlay .component-container {
	position:relative;
	width:192px;
	float:left;
}
.overlay .colType-crossSell .component-container {
	width:100%;
}
a.button {
	text-decoration:none;
	display:inline-block;
	min-height:26px;
}
/*
.button {
	padding:0;
	cursor:pointer;
	position:relative;
	white-space:nowrap;
	display:inline-block;
	background-color:#fff;
	border:2px #FFF solid;
	border-radius:1.4em;
	-moz-border-radius:1.4em;
	-webkit-border-radius:14px;
	background-repeat:no-repeat;
	box-shadow:0 0 6px #888;
	-moz-box-shadow:0 0 6px #888;
	-webkit-box-shadow:0 0 6px #888;
	background-position:center 0;
	overflow:visible;
}
*/
strong{
	font-weight: bold;
}
.overlay .info-footer {
	left:0;
	right:0;
	bottom:0;
	color:#666;
	font-size:10px;
	padding:8px 20px;
	position:absolute;
	background:#e3e2df;
	color:#333;
}
.info-footer.legal ul {
    color: #999999;
    font-size: 9px;
    line-height: 11px;
    list-style-position: inside;
    list-style-type: disc;
}
.overlay #overlay-loading-curtain {
	top:0;
	left:0;
	z-index:1;
	display:none;
	position:absolute;
	background-repeat:no-repeat;
	background-position:center center;
	background-image:url("../../../tff/images/Loader_small_FNL.gif");
}
.overlay.loading #overlay-loading-curtain {
	display: block;
}
.overlay #close {
	top:8px;
	height:0;
	right:8px;
	width:31px;
	overflow:hidden;
	padding-top:31px;
	position:absolute;
	background-position: -138px -1081px;
}
.swatches {
	float: left;
	clear: both;
	height: 20px;
	overflow: hidden;
	margin: 7px 0 0;
	position: relative;
}
.swatches li input[type="radio"] {
	top: -38px;
	z-index: 0;
	height: 44px;
	cursor: pointer;
	position: absolute;
	margin: 10px 0 0 0!important;
	width: auto;
	float: none!important;
}
.overlay .required {
	color: #c00;
	margin-left: 2px;
}
.swatchtool {
	cursor: pointer;
}

/* add to cart new */
#addtocart {
    width: 768px;
}
#addtocart .addToCartHeavy.modalWindow .modalColumn.colType-main {
    min-height: 250px;
    padding-right: 10px;
    width: 347px;
}
#addtocart.overlay .modalType-addToCart .colType-main {
    border-right: medium none;
}
#addtocart .cartAddAnnounce .modalHead {
    float: left;
    margin: 7px 0 0 6px;
}
#addtocart .modalHead {
    font-size: 16px;
    line-height: 18px;
    padding-left: 0;
}
#addtocart .cartAddAnnounce {
    background: url("../../../tff/images/bg_global_checksign02.gif") no-repeat scroll 0 0 transparent;
    min-height: 40px;
    padding-left: 35px;
}

#addtocart .cartAddAnnounce .modalHead {
    float: left;
    margin: 7px 0 0 6px;
}
#addtocart .modalHead {
    font-size: 16px;
    line-height: 18px;
    padding-left: 0;
}

#addtocart .continueShopping .nonButtonLink {
    color: #0069FF;
    font-size: 12px;
    font-weight: bold;
    line-height: 32px;
    margin-left: 5px;
}
#addtocart .modalWindow .modalColumn.colType-main .tile.standard {
    min-height: 0;
    padding-top: 0;
}
#addtocart .addToCartHeavy .colType-main .tile {
    width: 352px;
}

#addtocart .colType-main .tile.standard {
    padding-bottom: 10px;
}
#addtocart .colType-main .tile {
    border-bottom: medium none;
}
#singleItemList .tile {
    margin-right: 0;
}

#addtocart .addToCartHeavy .cartProductImage {
    float: left;
    margin-right: 4px;
    width: 126px;
}
#addtocart .modalType-addToCart #multiItemList .tile .tileInfo, #addtocart .modalType-addToCart #singleItemList .tile .tileInfo {
    margin: 0;
}
#addtocart .addToCartHeavy #ModalCarousel .tileInfo {
    width: 214px;
}
.addToCartHeavy.modalWindow .modalColumn .tileInfo p.sale {
    color: #000000;
    display: inline;
    float: left;
    font-size: 22px;
    font-weight: bold;
    line-height: 20px;
}
#addtocart .modalWindow .modalColumn.colType-main .tile .productTitle {
    line-height: 18px;
    width: 100%;
}
.addToCartHeavy.modalWindow .modalColumn.colType-main .tile .productTitle {
    color: #0069FF;
    display: inline-block;
    line-height: 18px;
    position: static;
    width: 100%;
}

.tile.standard .productTitle {
    font-size: 11px;
    top: 232px;
    word-wrap: break-word;
}

#addtocart .addToCartHeavy .extra {
    color: #666666;
    font-size: 12px;
    line-height: 20px;
    width: 144px;
    word-wrap: break-word;
}
.modalWindow .modalColumn.colType-main .tile .productInfoList {
    margin-top: 5px;
}

.addToCartHeavy.modalWindow .modalColumn.colType-main .tile .productInfoList .productInfoUnit {
    font-size: 12px;
    margin-bottom: 5px;
}

.modalWindow .modalColumn.colType-main .tile .productInfoList .infoType-stock {
    color: #666666;
    margin-top: 10px;
}
.addToCartHeavy ul li {
    padding: 0 0 10px;
}
.modalWindow .modalColumn.colType-main .tile .productInfoList .category {
    color: #000000;
    font-weight: bold;
}
.addToCartHeavy.modalWindow .modalColumn.colType-main .tile .productInfoList .productInfoUnit span.value, .addToCartHeavy.modalWindow .modalColumn.colType-main .tile .productInfoList span.value, .addToCartHeavy.modalWindow .modalColumn.colType-main .tile .productInfoList .cls-pickupstore h4 {
    color: #666666;
    font-size: 12px;
}
#addtocart .addToCartHeavy #ModalCarousel .tileInfo {
    width: 214px;
}

#addtocart .addToCartHeavy.modalWindow .modalColumn.colType-main.col-right {
    border: medium none;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 0;
    width: 302px;
}

#addtocart.overlay .modalType-addToCart.addToCartHeavy.modalWindow .modalColumn.colType-main.col-right {
    border-left: 2px solid #CCCCCC;
}

.modalWindow .modalColumn.colType-main {
    border-right: 2px solid #CCCCCC;
    float: left;
    width: 208px;
}
.inlineNonModal.modalType-specialOffer .modalColumn.colType-main, .modalWindow.modalType-specialOffer .modalColumn.colType-main {
    border: 0 none;
    margin: 0;
    padding: 0;
    width: 160px;
}

#addtocart #multiItemList .tile .tileInfo, #addtocart #singleItemList .tile .tileInfo {
    padding-top: 10px;
}

#addtocart .addToCartHeavy .tileInfo {
    clear: none;
    float: left;
}


.modalWindow .modalHead {
    color: #000000;
    font-family: "helvetica neue",helvetica,arial,sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 120%;
    margin-bottom: 0;
    margin-left: -3px;
    padding: 0 0 0 10px;
}

.addToCartHeavy.modalWindow .modalColumn.colType-main.col-right h3 {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0 0;
    padding-bottom: 12px;
}

#addtocart .addToCartHeavy.modalWindow .modalColumn.colType-main.col-right .subtotal {
    border-bottom: medium none;
    border-top: 1px dotted #CCCCCC;
    padding: 10px 0 22px 5px;
}

#addtocart .addToCartHeavy .subtotalInfo > li {
	color: #000000;
	text-align: right;
	margin-left: 0;
	padding-top: 10px;
}
#addtocart .col-right .cart-summary {
    font-size: 14px;
    padding-right: 120px;
    text-align: right;
}

#addtocart .options a.continueShopping, #addtocart .options a.nonButtonLink {
    color: #0069FF;
    font-size: 11px;
    font-weight: bold;
}
#addtocart .subtotalInfo > li, .legalnote {
    color: #666666;
    font-size: 11px;
}
#addtocart .cartProductImage img {
    margin: 0 auto;
    padding: 10px;
}
#addtocart .addToCartHeavy .subtotalInfo .subtotalValue.price {
    font-size: 14px;
    width: 70px;
}
#addtocart .addToCartHeavy .subtotalInfo .subtotalValue.price {
    float: right;
}

.tile .productTitle {
    font-weight: bold;
}

#addtocart .subtotalInfo > .subtotal {
     font-weight: bold;
}

#addtocart .addToCartHeavy .subtotalInfo .subtotalLabel.price {
    float: none;
    padding-right: 120px;
}
#addtocart .addToCartHeavy .subtotalInfo .subtotalLabel.price {
    font-size: 16px;
}

.addToCartHeavy.modalWindow .modalColumn.colType-crossSell {
    border-top: 2px solid #CCCCCC;
    clear: left;
    margin-left: 0;
    min-height: 240px;
    width: 100%;
}

#addToRegistry .overlay .title, .modalWindow .title {
    float: none;
    font-family: Arial;
    font-size: 138.5%;
    font-weight: bold;
    line-height: 125%;
    margin-bottom: 20px;
    padding-top: 10px;
}

#crossSell-atc.loading {
    background: url("../../../tff/images/Loader_small_FNL.gif") no-repeat scroll center center transparent;
}

#addToRegistry.overlay .chooseRegistry a {
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
}

.overlay .review-signin-module .module-title {
    line-height: 12px;
    margin-bottom: 7px;
    width: 100%;
}

.overlay .module-title, #ModalContent .module-title {
    color: #000000;
    font-size: 24px;
    padding-right: 25px;
}

#reviewSignin {
	color: #333333;
}
#reviewSignin .reviewSigninRow label {
    color: #666666;
    display: inline;
    float: left;
    font-size: 12px;
    font-weight: bold;
    padding: 8px 0;
    width: 100px;
}

#reviewSignin .reviewSigninRow input[type="text"], #reviewSignin .reviewSigninRow input[type="password"] {
    color: #666666;
    display: inline;
    float: left;
    font-size: 14px;
    height: 25px;
    width: 285px;
}

#reviewSignin .reviewSigninRow, #addToList #reviewSignin .reviewSigninRow {
    clear: both;
    float: left;
    margin: 0 0 8px;
    width: 402px;
}

#reviewSignin .buttonNav {
    clear: both;
    margin: 0 0 10px;
    padding-top: 7px;
}

.review-signin-module #reviewSignin p {
    font-size: 11px;
    margin: 2px 1px 0;
}

#reviewSignin hr {
    margin: 19px 0 11px;
    padding: 10px 0 0;
}

ul.reviewAccount li h3.module-title {
    padding-top: 9px;
}

ul.reviewAccount li {
    color: #000000;
    float: left;
    font-size: 14px;
    margin: 0;
    width: 200px;
}

.overlay .review-signin-module hr, .overlay .upload-photo-module hr, .overlay .comment-module hr, .overlay .report-review-module hr, #ModalContent .review-signin-module hr, #ModalContent .upload-photo-module hr, #ModalContent .comment-module hr, #ModalContent .report-review-module hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #CCCCCC;
    border-image: none;
    border-style: dotted;
    border-width: 0 0 1px;
    clear: both;
    height: 1px;
    width: 100%;
}

.review-signin-module form#reviewSignin fieldset {
    margin: 29px 0 0;
}
.review-signin-module form#reviewSignin {
    margin: 15px 0 0;
}

#overlay .content .offer-details .module-title {
    color: #000000;
    font-size: 15px;
    margin: 31px 0 0;
}
.overlay .offer-details p, #offerDetails.overlay p, #offerDetails.overlay .details {
    line-height: 15px;
    margin-bottom: 0;
}

#overlay .content .offer-details {
    padding-top: 30px;
}

#overlay .content .offer-details .shortDesc {
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    margin: 31px 0 0;
}

#overlay .content .offer-details .legalDesc {
    color: #000000;
    font-size: 12px;
    margin-top: 8px;
    padding-bottom: 31px;
}
#QuickView .oversizeFee .truck-icon, #addtocart .oversizeFee .truck-icon {
    background-position: -444px -1487px;
    display: block;
    float: left;
    height: 10px;
    padding-left: 0;
    width: 14px;
}

.components-test .modalWindow.modalType-addToCart .tipnoteTrigger.tipType-info {
    background: url("../../../tff/images/checkout/tool_tip_sprite.png") no-repeat scroll -3px -41px transparent;
    margin-left: 5px;
    vertical-align: middle;
}

#addtocart .tileInfo .oversizeFee .truck-icon {
    margin-right: 5px;
	margin-top: 2px;
}

body .modalWindow .modalColumn .oversizeFee {
    clear: both;
    color: #666666;
    font-size: 10px;
    padding-top: 5px;
}

#addToList.overlay .addToListItems ul.list li {
    word-wrap: break-word;
}

#addToList.overlay ul.list li {
    float: left;
    padding-left: 1px;
    text-align: left;
    width: 250px;
}

#addToList.overlay ul.list {
    float: left;
    margin-bottom: 15px;
    max-height: 210px;
    min-height: 29px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 270px;
}

.addToListItems {
    margin-top: -7px;
    width: 270px;
}

#addToList.overlay form#createNewList input[type="text"] {
    display: inline;
    width: 130px;
}

#addToList.overlay form#createNewList button {
    margin-bottom: 0;
    margin-left: 8px;
}

#addToList.overlay hr {
    background-color: #E9E9E9;
    border: medium none;
    clear: left;
    color: #D5D5D5;
    display: block;
    height: 1px;
    margin: 20px 0 10px;
    padding: 0;
}
#overlay .content #quickInforeturnlink {
    color: #0069FF;
    font-size: 11px;
    font-weight: bold;
    left: 30px;
    position: absolute;
    top: 47px;
}

#addToRegistry .cartAddAnnounce {
    background-image: url("../../../tff/images/bg_global_checksign02.gif");
    background-repeat: no-repeat;
    margin-left: -5px;
    min-height: 38px;
    padding-left: 35px;
}

#addToRegistry .addedToRegistry .cartAddAnnounce .modalHead {
    width: 323px;
}
#addToRegistry .cartAddAnnounce .modalHead {
    color: #000000;
    font-weight: bold;
    margin: -5px 0 0 6px;
    padding-top: 5px;
}
#addToRegistry .modalHead {
    font-size: 16px;
    line-height: 18px;
    margin-left: 0;
    padding-left: 0;
}

#addToRegistry .tile.standard {
    border: medium none;
    min-height: 138px;
    padding-top: 0;
    width: 350px;
}
#singleItemList .tile {
    margin-right: 0;
}
#addToRegistry ul li {
    font-size: 12px;
    padding-bottom: 5px;
}

#addToRegistry .tileImage {
    float: left;
    padding: 0 0 0 20px;
    width: 140px;
}

#addtocart .tileImage, #addToRegistry .tileImage {
    position: relative;
    text-align: center;
}
.tile.standard .tileImage {
    height: 138px;
    margin-bottom: 36px;
    width: 138px;
}

#addToRegistry .tile .price {
    color: #000000;
    font-size: 22px;
    font-weight: bold;
    line-height: 10px;
}

#addToRegistry.overlay .content ul {
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#addToRegistry ul.productInfoList {
    padding-bottom: 20px !important;
}

#addToRegistry.overlay .content ul.productInfoList li {
    float: none;
    padding-top: 2px;
}
#addToRegistry ul li {
    font-size: 12px;
    padding-bottom: 5px;
}

#addToRegistry .tile.standard {
    border: medium none;
    min-height: 138px;
    padding-top: 0;
    width: 350px;
}

#addToRegistry .colLeft {
    border-right: 2px solid #CCCCCC;
    float: left;
    min-height: 0;
    padding-bottom: 8px;
    padding-top: 10px;
    width: 366px;
}

#addToRegistry .modalWindow .modalColumn.colType-crossSell {
    border-top: 2px solid #CCCCCC;
    float: left;
    margin: 0;
    min-height: 25px;
    width: 100%;
}
#crossSell-atc.loading {
    background: url("../../../tff/images/Loader_small_FNL.gif") no-repeat scroll center center transparent;
}
/*Add to list*/
#addToList.overlay {
    color: #666666;
    font-size: 12px;
    width: auto;
}
#addToList.overlay ul.list li a {
    color: #0069FF;
    float: left;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    width: 190px;
}
#addToList.overlay .addToListItems ul.list li a + span {
    color: #666666;
    font-size: 12px;
}
#addToList.overlay ul.list li a + span {
    float: right;
    width: 44px;
}
.overlay .addToListConfirm h2.check {
    color: #000000;
    font-size: 22px;
    font-weight: bold;
    padding: 0 0 26px;
}
.overlay .addToListConfirm .module-title {
    margin-top: -17px;
}
#addToList.overlay div.content div.infoNeeded {
    width: 385px;
}
#addToList.overlay div.content div.addToListConfirm h4 + a, #addToList.overlay div.content div.addToListConfirm h2 + a {
    color: #0069FF;
    font-size: 16px;
    font-weight: bold;
}
#addToList.overlay div.content div.addToListConfirm ul {
    border-bottom: 1px dotted #B2B2B2;
    border-top: 1px dotted #B2B2B2;
    color: #000000;
    float: none;
    margin: 19px 0 15px;
    padding: 13px 0 13px 5px;
}
#addToList.overlay div.content div.addToListConfirm ul li {
    font-size: 12px;
    margin-left: -5px;
    padding: 5px 0;
}
#addToList.overlay div.content div.addToListConfirm button {
    margin-bottom: 0;
    margin-left: 117px;
}
#addToList.overlay div.content div.infoNeeded form#infoNeeded {
    float: left;
    padding-top: 20px;
}
#addToList.overlay div.content div.infoNeeded form#infoNeeded .input-step .input-field {
    float: left;
    padding-bottom: 10px;
    width: 325px;
	margin: 0;
}
#addToList.overlay div.content div.error p, #addToList.overlay div.content div.infoNeeded p {
    line-height: 16px;
}
#addToList.overlay div.content div.infoNeeded form#infoNeeded .input-step .input-field label {
    float: left;
    padding-top: 5px;
    width: auto;
}
#addToList.overlay div.content div.infoNeeded form#infoNeeded input[type="text"] {
    border: 1px solid #9E9E9E;
    float: right;
    height: 16px;
    width: 180px;
}
#addToList.overlay div.content div.infoNeeded form#infoNeeded input[type="text"] {
    border: 1px solid #9E9E9E;
    float: right;
    height: 16px;
    width: 180px;
}
#addToList.overlay div.content div.infoNeeded form#infoNeeded select {
    display: block;
    float: right;
    margin-bottom: 10px;
    margin-right: 48px;
    width: 140px;
}
#addToList.overlay div.content div.infoNeeded form#infoNeeded .button {
    margin: -20px 0 0 138px;
}
/*add to cart*/
#addToRegistry.overlay .tileInfo {
    margin-top: 0;
    width: 180px;
	clear: none;
    float: left;
    margin-bottom: -24px;
    padding-bottom: 0;
    padding-left: 4px;
    padding-top: 0;
}
#addToRegistry .tile .price {
    color: #000000;
    font-size: 22px;
    font-weight: bold;
    line-height: 10px;
}
#addToRegistry .tile .price strong {
    color: #777777;
    font-size: 12px;
}
#addToRegistry .tile .productTitle {
    color: #666666;
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 2px;
    position: static;
	top: 232px;
    width: 145px;
    word-wrap: break-word;
}
#addToRegistry .tile .productTitle a {
    font-size: 14px;
}
#addToRegistry.overlay .content ul {
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#addToRegistry.overlay .component-container.banner .component.component-set.rich-relevance-container.banner ul.wide-770 li {
    height: 275px;
}
#addToRegistry #crossSell-atc .component-container.banner .component.component-set.rich-relevance-container.banner .content .carousel-viewport ul li {
    padding-bottom: 0;
}
#addToRegistry #crossSell-atc .component-container.banner .component.component-set.rich-relevance-container.banner .content .carousel-viewport ul li, ul.adjacency-carousel li {
    border: 1px dotted transparent;
    display: block;
    float: left;
    outline: medium none;
    width: 150px;
}
#addToRegistry .addedToRegistry .component .carousel-container .nextFrame {
    background-position: -384px -1130px !important;
    height: 24px;
    right: -47px;
    width: 26px;
}
#addToRegistry.overlay .component.banner .component-container {
    margin: 30px 0 0 20px;
    width: 150px !important;
}
#addToRegistry ul.productInfoList {
    padding-bottom: 20px !important;
}
#addToRegistry.overlay .content ul.productInfoList li {
    float: none;
    padding-top: 2px;
}
#addToRegistry.overlay .content ul.productInfoList li {
    float: none;
    padding-top: 2px;
}
#addToRegistry ul li {
    font-size: 12px;
    padding-bottom: 5px;
}
#addToRegistry ul.productInfoList span.value {
    color: #666666;
    font-size: 12px;
}
#addToRegistry #crossSell-atc .component-container.banner{ border: none;}
#addToRegistry #crossSell-atc .component-container.banner .component.component-set.rich-relevance-container.banner .content {
    margin: 0;
    padding: 0;
}

#addToRegistry .items {
    float: left;
}
#addToRegistry .items h3 {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-top: 10px;
}
#addToRegistry .colRight {
    float: left;
    margin-bottom: -22px;
    margin-left: 30px;
    min-height: 0;
    padding-top: 5px;
    width: 250px;
}
#addToRegistry.overlay .colRight .inspired {
    border-bottom: 1px dotted #666666;
    font-size: 16px;
    margin: 0 0 6px;
    padding: 0 0 20px;
}
#addToRegistry.overlay .colRight .inspired .category-link li:first-child {
    border: medium none;
    margin: 0;
    padding: 0 5px 0 0;
	float: left;
}
#addToRegistry .colRight .categories {
    height: auto !important;
}
#addToRegistry.overlay .colRight .options {
    padding-bottom: 20px;
}
#addToRegistry.overlay .component.banner .component-container {
    border: medium none;
    height: auto;
    margin: 30px 0 0 20px;
    width: 150px !important;
}
#addToRegistry #crossSell-atc .component-container.banner .wide-770 .component .eyebrow {
    position: absolute;
}
#addToRegistry.overlay .component-container.banner .component.component-set.rich-relevance-container.banner ul.wide-770 .content .price {
    color: #000000;
    display: inline-block;
    font-weight: bold;
    padding-top: 20px;
	font-size: 15px;
}
#addToRegistry .addedToRegistry .component.component-set.rich-relevance-container.banner ul.wide-770 li span.strike, #addtocart .addToCartHeavy .component.component-set.rich-relevance-container.banner ul.wide-770 li span.strike {
    display: block;
    font-size: 11px;
    padding: 4px 0;
    text-decoration: line-through;
}
#addToRegistry.overlay .component-container.banner .component.component-set.rich-relevance-container.banner ul.wide-770 .content .product-title a{
    font-weight: bold;
    height: 45px;
    margin-bottom: 10px;
	font-size: 12px;
}
#addToRegistry.overlay .component-container.banner .component.component-set.rich-relevance-container.banner ul.wide-770 .content .attribute {
    bottom: 0;
    position: absolute;
}
#addToRegistry .addedToRegistry .component .carousel-container .prevFrame, #addToRegistry .component .carousel-container .addedToRegistry .prevFrame:hover, #addToRegistry .addedToRegistry .component .carousel-container a.prevFrame {
    background-position: -358px -1132px;
}

#warrantyDetail .warranty-details {
    float: left;
    width: 300px;
}

#warrantyDetail .warranty-details .standard-price {
    color: #000000;
    font-size: 32px;
    font-weight: bold;
    margin: 0 0 9px;
}

#warrantyDetail .warranty-details a {
    font-weight: bold;
}

#warrantyDetail .warranty-details ul {
    margin: 12px 0 15px;
    padding: 0 15px;
}

#warrantyDetail .warranty-details ul li {
    color: #333333;
    font-size: 12px;
    line-height: 14px;
    list-style: disc outside none;
    padding: 2px 0;
}

#warrantyDetail .warranty-image {
    float: right;
    width: 265px;
}

#warrantyDetail .warranty-details ul li strong {
    color: #000000;
}

.overlay.medium {
    width: 632px;
}

.components-test .modalWindow.modalType-addToCart .tipnoteTrigger.tipType-info {
    background: url("../../../tff/images/checkout/tool_tip_sprite.png") no-repeat scroll -3px -41px transparent;
    margin-left: 5px;
    vertical-align: middle;
}
.modalWindow.modalType-addToCart .tipnoteTrigger.tipType-info {
    float: none;
}

.modalWindow.modalType-addToCart .modalColumn.colType-main .tile .itemCount {
    background-image: url("../../../tff/images/bg_global_dotted_horizontal01.gif");
    background-position: left center;
    background-repeat: repeat-x;
    text-align: center;
}
.modalWindow.modalType-addToCart .modalColumn.colType-main .tile .itemCount .itemCountText {
    background-color: #FFFFFF;
    color: #333333;
    font-size: 11px;
    padding: 0 6px;
}

#ModalCarousel .prevFrame, #ModalCarousel .nextFrame {
    background: url("../../../tff/images/carousel-sprite.gif") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 0;
    overflow: hidden;
    padding: 20px 0 0;
    position: absolute;
    top: 75px;
    width: 20px;
    z-index: 2;
}
.modalWindow.modalType-addToCart .modalColumn.colType-main .tile .itemCount .itemCountText em {
    font-weight: bold;
}
#ModalCarousel .nextFrame.disabled {
    cursor: default;
}
#addtocart .nextFrame {
    top: 100px;
}
#ModalCarousel .nextFrame {
    background-position: -26px -56px;
    right: 5px;
}
#ModalCarousel a.nextFrame {
    background-position: -26px -82px;
    right: 5px;
}
#ModalCarousel a.prevFrame {
    background-position: -6px -82px;
    left: -10px;
}
#ModalCarousel .prevFrame:hover {
    background-position: -6px -82px;
}
#ModalCarousel .prevFrame.disabled {
    cursor: default;
}
#addtocart .prevFrame {
    left: 0;
    top: 100px;
}
#ModalCarousel .prevFrame {
    background-position: -6px -56px;
    left: -10px;
}
#addtocart.overlay .modalType-addToCart .serviceplansec {
    border-top: 2px solid #CCCCCC;
    padding-top: 12px;
}
#addtocart.overlay #sevicePlanAddForm .addtocartsrvpln .cartCol3 {
    float: left;
    font-size: 12px;
    margin: 3px 77px 9px 17px;
    width: 235px;
}
#addtocart.overlay #sevicePlanAddForm input.qtynumber {
    color: #9C9C9C;
    font-size: 11px;
    font-weight: bold;
}
.bldtxt {
    font-weight: bold;
}
.addtocartsrvpln .cartCol3 p {
    padding: 3px 0;
}
.srvseedetials {
    color: #0044CC;
}
.greyfnt {
    color: #666666;
}
#addtocart.overlay #sevicePlanAddForm .addtocartsrvpln .cartCol4 {
    width: auto !important;
}
.overlay .cartCol4 {
    float: left;
    margin-right: 20px;
    padding-top: 8px;
    width: 145px;
}
.addtocartsrvpln .cartCol4 {
    margin-right: 0 !important;
    margin-top: 5px;
    width: 190px !important;
}
#addtocart .serviceplansec .qty {
    float: left;
    font-size: 12px;
    font-weight: bold;
    padding-right: 4px;
}
.addtocartsrvpln .qty, .addtocartsrvpln .qtyVal {
    line-height: 39px;
}
.selectboxwrap {
    float: left;
    height: 35px;
    position: relative;
    width: 59px;
}
#addtocart div, #addtocart p, #addtocart span, #addtocart li, #addtocart h2, #addtocart img, #addtocart h3 {
    outline: medium none;
}
.addtocartsrvpln .cartCol6 {
    float: right;
    margin-top: 12px;
}
#addtocart.overlay #sevicePlanAddForm .addtocartsrvpln .pricdiv {
    margin: 10px 12px 0 0;
}
.addtocartsrvpln .pricdiv {
    color: #333333;
    float: left;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0 0 20px;
    text-align: right;
}
#addtocart .serviceplansec button#sevicePlanAdd {
    margin-right: 0;
}
.button.state-disabled {
    background-position: center -200px;
    cursor: default;
}
#addtocart .serviceplansec .error-message {
    margin-bottom: 0;
    width: 90px;
}
#sevicePlanAddForm .cartCol3 .bldtxt {
    font-size: 12px;
    line-height: 12px;
}
.serviceplansec {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #C6D5DE -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-style: dashed none none;
    border-width: 1px medium medium;
    clear: both;
    font-size: 12px;
    margin: 0 10px 5px 5px;
    padding: 4px 5px 1px 0;
}
.addtocartsrvpln {
    color: #000000;
}

#addtocart .serviceplansec input.qtynumber {
    background: url("../../../tff/images/checkout/checkoutbg_sprite.png") repeat-x scroll 0 -69px transparent;
    border: 1px solid #CCCCCC !important;
    height: 33px;
    line-height: 32px;
    padding: 0;
    text-align: center;
    width: 40px;
}
.upArrow, .downArrow {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #CCCCCC #CCCCCC #CCCCCC -moz-use-text-color;
    border-image: none;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px 0;
    display: block;
    height: 16px;
    text-indent: -9999px;
    width: 16px;
}
.upArrow {
    background-position: -130px -35px;
    left: 42px;
    position: absolute;
    top: 0;
}
.sprite {
    background-image: url("../../../tff/images/checkout/checkout-sprite.png");
}
.downArrow {
    background-position: -156px -35px;
    border-top: 0 none;
    left: 42px;
    position: absolute;
    top: 18px;
}
#addtocart .serviceplansec .selectboxwrap .upArrow, #addtocart .serviceplansec .selectboxwrap .downArrow {
border: 1px solid #CCC!important;
}
.ie .bundlesection .productTileBox ul.bundlelisting .topBorder.tmpl{
    display:block;
}

#modal-see-low-price.modalType-lowPrice h2 {
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    width: 356px;
}

.modalWindow.modalType-lowPrice #low-product-name {
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    margin: 0 0 7px;
}

.modalWindow.modalType-lowPrice .swatches {
    float: none;
    margin: 0;
}

.modalWindow.modalType-lowPrice .input-step {
    margin: 0;
}

form .input-step .input-group-title {
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    margin: 0 0 12px;
}
form .input-step .input-group-title legend{
	float:left;
	color: #000000;
    font-size: 11px;
    font-weight: 700;
    margin: 0 0 12px;
}
.modalWindow.modalType-lowPrice #seeLowprice, .modalWindow.modalType-lowPrice #seeLowPriceLink {
    margin-top: 30px;
}
#modal-check-low-price .modalWindow .modalColumn.colType-specialOffer .tileInfo .price.strike {
    color: #666666;
    font-size: 16px;
    text-decoration: line-through;
}
#modal-check-low-price span.stock-infoType{
	color: #666666;
	display: block;
	margin-bottom: 5px;
	margin-top: 10px;
}
.modalWindow .modalColumn.colType-specialOffer .tileInfo .price {
    font-weight: normal;
    line-height: 24px;
}
#modal-check-low-price .modalWindow .modalColumn.colType-specialOffer .invInfo {
    color: #333333;
}
#modal-check-low-price .modalWindow .modalColumn.colType-specialOffer .priceInfo, #modal-check-low-price .modalWindow .modalColumn.colType-specialOffer .invInfo {
    color: #999999;
    font-size: 15px;
    font-weight: 700;
    margin-left: 15px;
}
#modal-check-low-price .baby360Subscribe .baby360InputBlock .startSending {
    margin-right: 5px !important;
}
#modal-check-low-price .baby360Subscribe #subscribeBtn.button {
    margin-left: 8px;
}
#modal-check-low-price .baby360Subscribe .baby360InputBlock {
    padding: 10px 10px 10px 22px;
}
#suggestedItems .eyebrow, #addtocart .eyebrow, #modal-check-low-price .eyebrow, #mini-cart .items-set li .max .details .eyebrow {
    margin-bottom: 8px;
    position: absolute;
    text-align: left;
    color: #CC0000;
	font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.modalWindow .modalColumn.colType-main .tile .productInfoList .category {
    color: #000000;
    font-weight: bold;
}
.modalWindow .modalColumn.colType-main .tile .productInfoList .productInfoUnit span.value {
    color: #666666;
}

#modal-check-low-price .modalWindow .modalColumn.colType-specialOffer .tileInfo .sale {
    font-size: 24px;
}
.modalWindow .modalColumn .tileInfo h5.sale, .modalWindow .modalColumn.colType-specialOffer .tileInfo .sale {
    color: #000000;
    display: inline;
    float: none;
    font-weight: bold;
    line-height: 20px;
}
.modalWindow .modalColumn.colType-specialOffer {
    float: left;
    margin-left: 20px;
    width: 392px;
}
#modal-check-low-price .modalWindow .modalColumn.colType-specialOffer p.message {
    padding-left: 0;
}
.overlay .modalWindow .message, #ModalContent .modalWindow .message, .modalWindow .message {
    color: #000000;
    font-family: "helvetica neue",helvetica,arial,sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    margin-bottom: 0;
}
.modalWindow .buttonList {
    margin-top: 22px;
}

.modalWindow.modalType-specialOffer .buttonList .buttonLabel {
    color: #333333;
    font-weight: bold;
    width: 145px;
}
.modalWindow .buttonList .buttonUnit .buttonLabel {
    float: left;
    line-height: 110%;
	margin: 8px 0 0 6px;
}
#modal-check-low-price .modalColumn.colType-specialOffer .buttonList .buttonUnit .buttonLabel {
    margin-left: 0;
}
#modal-check-low-price .modalWindow .modalColumn.colType-specialOffer ul.buttonList li.buttonUnit {
    height: 50px;
}
.modalWindow .buttonList .button {
    margin-left: 13px;
    margin-top: 0;
}
.modalWindow .modalColumn.colType-main .tile .productInfoList .productInfoUnit {
    margin-bottom: 5px;
}

.modalWindow .modalColumn.colType-main .tile .productInfoList .infoType-stock {
    color: #666666;
    margin-top: 10px;
}
#modal-check-low-price .modalColumn.colType-specialOffer .tileInfo {
    margin: 0 0 9px;
}

.modalWindow .modalColumn .tileInfo {
    clear: both;
    padding-top: 0;
    width: 100%;
}
.tileInfo {
    color: #000000;
    float: left;
    font-size: 11px;
    margin-top: 5px;
    padding: 37px 0 0;
}

body #CreateTargetList.overlay #frmCreateTargetList .fieldset-title {
    margin-bottom: 3px;
}

body #frmCreateTargetList .fieldset-legend {
    margin-bottom: 15px;
}

body #frmCreateTargetList .input-step h5, #frmCreateTargetList #friend-step-create p.input-group-title, #frmCreateTargetList #privacy-step-create p.input-group-title1 {
    color: #333333;
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin-left: -105px;
    width: 95px;
}

body #frmCreateTargetList .input-step label {
    color: #333333;
    float: left;
    font-size: 12px;
    margin-left: -105px;
    width: 82px;
}
body #frmCreateTargetList .input-step {
    padding-left: 105px;
}
form#frmCreateTargetList .onVisitor label {
    line-height: 12px;
}


body #frmCreateTargetList .input-step label[for="listName"], body #frmCreateTargetList .input-step label

[for="list-is-for-create"] {
    margin-top: 8px;
}

body #frmCreateTargetList .input-step label {
    color: #333333;
    float: left;
    font-size: 12px;
    margin-left: -105px;
    width: 82px;
}

body #frmCreateTargetList input, body #frmCreateTargetList select, body #frmCreateTargetList textarea {
    -moz-box-sizing: border-box;
}

body #frmCreateTargetList .input-step textarea, body #frmCreateTargetList .input-step input[type="text"], 

#frmCreateTargetList select, #frmCreateTargetList .input-step textarea {
    margin-bottom: 6px;
    width: 255px;
}

body #frmCreateTargetList .input-step.indented .input-field label {
    display: block;
    float: none;
    margin: 0 0 11px;
}


body #frmCreateTargetList .input-step h5, #frmCreateTargetList #friend-step-create p.input-group-title, 


body #frmCreateTargetList .input-step.input-group ul li.input-field, #targetListSettings .input-step.input-group ul li.input-field {
    margin-left: 25px;
    margin-top: 7px;
}

body #frmCreateTargetList #public-settings #screen-name, body #frmCreateTargetList .input-step.input-group ul li.input-field {
    width: 230px;
}

body #frmCreateTargetList .buttonNav {
    margin-left: 105px;
}

body #frmCreateTargetList .input-step ul li.input-field label {
    line-height: 1.2;
    width: auto;
}

body #frmCreateTargetList .input-step.input-group ul li.input-field input, #targetListSettings .input-step.input-group ul li.input-field input {
    margin-left: -30px;
}

body #frmCreateTargetList .input-step.indented .input-field, body #frmCreateTargetList .input-step.input-group ul li.input-field .input-field input, #targetListSettings .input-step.input-group ul li.input-field .input-field input {
    margin-left: 0;
}

#CreateTargetList #frmCreateTargetList #privacy-step-create ul .input-field #public-settings-create #featured-list-step p.input-group-title {
    color: #333333;
    display: block;
    float: none;
    font-size: 12px;
    margin: 0 0 5px;
    width: auto;
}


body #frmCreateTargetList .input-step.input-group ul li.input-field .input-field {
    margin: 5px 0;
}

body #frmCreateTargetList #screen-name-step p {
    line-height: 14px;
}

body #frmCreateTargetList .input-step.input-group ul li.input-field .input-direction {
    margin-bottom: 3px;
}

form .input-step .input-direction {
    color: #666666;
    font-size: 11px;
    font-weight: 400;
}

body #frmCreateTargetList .input-required-mark {
    display: block;
    float: left;
    margin: 0 1px 5px 0;
}
.modalWindow.modalType-specialOffer .modalColumn.colType-main .tile {
    border-bottom: medium none;
    margin: 0;
    width: 160px;
}
.tile.standard {
    padding-top: 46px;
}

#modal-check-low-price .modalColumn.colType-main .tileInfo .sale {
    font-size: 12px;
    font-weight: bold;
}

#modal-see-low-price.modalType-lowPrice .modalColumn.colType-main {
    border: medium none;
    margin: 0 30px 0 0;
    min-height: 0;
    padding: 2px 0 0;
    width: 135px;
}

#modal-see-low-price.modalType-lowPrice .modalColumn.colType-specialOffer {
    margin: 0;
    width: 246px;
}

/* email share*/
#socialSyndication #share-options {
    color: #666666;
    font-size: 12px;
}
.overlay .module-title, #ModalContent .module-title {
    color: #000000;
    font-size: 24px;
    padding-right: 25px;
}
.overlay .module-title, .overlay .module-subtitle {
    font-weight: bold;
    margin: 0;
    padding: 0 0 1px;
}
#share-options .sharetitle {
    color: #333333;
    font-size: 12px;
    font-weight: bold;
    margin: 25px 0 35px;
}

#share-options .sharetitle p {
    color: #969696;
    font-size: 15px;
    margin-top: 5px;
    word-wrap: break-word;
}
.components-test #socialSyndication.overlay #share-options .shareButtons {
    float: right;
}
#share-options ul.shareButtons {
    float: none;
    height: 50px;
    margin-bottom: -12px;
    margin-left: 17px;
    text-align: center;
}
#share-options ul.shareButtons li {
    float: left;
    margin-bottom: -5px;
    text-indent: -999px;
}
#share-options ul.shareButtons li a {
    background: url("../../../tff/images/registry/email_fb_twitter.gif") no-repeat scroll 0 0 transparent;
    display: block;
    height: 41px;
    width: 105px;
}

#share-options ul.shareButtons li a.share-email {
    background-position: 0 0;
}

#share-options ul.shareButtons li.share-email-active {
    background-position: 0 -41px;
}

#share-options ul.shareButtons li a.share-facebook {
    background-position: -105px 0;
    width: 130px;
}
#share-options ul.shareButtons li a.share-twitter {
    width: 131px;
    background-position: -235px 0;
}
#share-options ul.shareButtons li a.share-email:hover {
    background-position: 0 -41px;
}

#share-options ul.shareButtons li a.share-facebook:hover {
    background-position: -105px -41px;
}
#share-options ul.shareButtons li a.share-twitter:hover {
    background-position: -235px -41px;
}
#socialSyndication #share-options #share-email-container {
    border-top: 1px dotted #B2B2B2;
    float: left;
    margin-top: 30px;
    padding-top: 28px;
}

#socialSyndication #share-options #share-email-container .input-required-mark {
    font-size: 10px;
}
.overlay .required {
    color: #CC0000;
    margin-left: 2px;
}
#socialSyndication #share-options #share-via-email {
    margin: 15px 0 0;
}
.input-step:after, form .input-step.input-group .input-field:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

#socialSyndication #share-options label, #socialSyndication #share-options input, #socialSyndication #share-options textarea {
    float: left;
}
#socialSyndication #share-options label {
    color: #333333;
    font-weight: bold;
    margin: 0 0 0 -115px;
    padding: 7px 0 0;
}
#socialSyndication #share-options input[type="text"], #socialSyndication #share-options textarea {
    width: 267px;
}
#socialSyndication #share-options #share-via-email .input-step {
    padding: 0 0 12px 115px;
}
#socialSyndication {
    float: left;
    height: auto;
    overflow: visible;
    width: 460px;
}
form .input-step {
    margin: 0 0 9px;
}

#socialSyndication #share-options #share-via-email .sendCopy {
    padding-bottom: 5px;
}

#socialSyndication #share-options .emailNote {
    width: 233px;
}
#socialSyndication #share-via-email .buttons {
    padding: 0 0 0 115px;
}
#socialSyndication #share-options #share-email-container {
    border-top: 1px dotted #B2B2B2;
    float: left;
    margin-top: 30px;
    padding-top: 28px;
}

#socialSyndication #share-options #share-email-container h3 {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
}

#socialSyndication.overlay #share-options .shareButtons {
    float: right;
}

form .input-step input[type="radio"], form .input-step input[type="checkbox"] {
    float: left;
    margin: 0 9px 0 0;
}
#socialSyndication #share-options .sendCopy label {
    font-weight: normal;
    margin: 0;
    padding: 0;
}

#share-options #share-email-container-email-sent {
    clear: both;
    overflow: hidden;
}
#share-options .email-sent-horizLine {
    border-top: 1px dotted #B2B2B2;
    margin-top: 20px;
    padding-top: 20px;
}

#share-options .email-sent-center {
    margin: 0 auto;
    width: 230px;
}

#share-options .icon-email-sent {
    background: url("../../../tff/images/bg_global_checksign01.gif") no-repeat scroll left center transparent;
    display: block;
    float: left;
    height: 26px;
    width: 35px;
}

#share-options .email-sent p {
    color: #333333;
    font-weight: bold;
    padding: 7px 0 0;
}

/* email share*/
/* notify me */
.overlay .module-title, #ModalContent .module-title {
    color: #000000;
    font-size: 24px;
    padding-right: 25px;
}

#notifyMe p {
    color: #777777;
    font-size: 12px;
    line-height: 16px;
    margin: 3px 0;
}
#notifyMe p.required {
    font-size: 11px;
    margin: 15px 0 18px;
}

#notifyMe p.required .input-required-mark {
    color: #CC0000;
}

#notifyMe .input-step {
    margin-bottom: 9px;
}
#notifyMe .input-step, #notifyMe .submit-container {
    padding-left: 120px;
}

#notifyMe .input-step label {
    color: #333333;
    float: left;
    font-size: 12px;
    margin: 5px 0 0 -120px;
    width: auto;
}
#notifyMe .input-step input[type="text"] {
    width: 280px;
}

#notifyMe .submit-container {
    margin-top: -5px;
}

#notifyMe h4.green-check {
    background: url("../../../tff/images/icon_green-check_33x33.gif") no-repeat scroll 0 0 transparent;
    min-height: 33px;
    padding-left: 43px;
}
/* notify me */

#QuickView #qinfo .collectionproductInfoBlock #promotions_QI a.layer {
    margin: 10px 0 0;
}

#QuickView #qinfo #promotions_QI a.layer, #QuickView #qinfo .collectionproductInfoBlock #promotions_QI a.layer {
    color: #0066FF;
    display: inline;
    float: left;
    font-size: 11px;
    font-weight: bold;
    margin: 0;
    padding-right: 5px;
}
#quickInfo #promotions_QI #specialOffersInPDP .couponSpinner {
	background: url("../../../tff/images/product-details/couponSpinnerTiny.gif") no-repeat scroll 78px 0 rgba(0, 0, 0, 0)!important;
}
.ie8 #quickInfo #promotions_QI #specialOffersInPDP .couponSpinner {
	background-image:url("../../../tff/images/product-details/couponSpinnerTiny.gif");
	background-repeat:no-repeat;
	background-position:78px 0;
	background-color:transparent;
}
#productListingRelatedSearches ul li {
    border-right: 1px solid #C0C0C0;
    float: left;
    font-size: 11px;
    height: 11px;
    margin: 0 7px 11px 0;
    padding-right: 7px;
}
#productListingRelatedSearches ul li a {
    font-size: 11px;
}
.relatedSearches:after, #didYouMean:after, #Main:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
#productListingRelatedSearches #br-related-searches-widget {
    border-bottom: 1px dotted #999999;
    padding: 15px 0 8px;
}
#productListingRelatedSearches .relatedSearches {
    margin-bottom: 0;
    padding-top: 0;
}

/* Ratings Start*/
.rating-large.half-star {
	background-position:-307px -712px;
}
.rating-large.one-half-star {
	background-position:-307px -742px;
}
.rating-large.two-half-star {
	background-position:-307px -772px;
}
.rating-large.three-half-star {
	background-position:-307px -802px;
}
.rating-large.four-half-star {
	background-position:-307px -832px;
}
#Content #Main .ratings-current, .overlay .ratings-current {
	display: block;
}
.component-container:after, .component:after, .components-test .row:after, .ratings:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
/* Ratings end */

.baby360Subscribe .baby360TextBlock p a {
    color: #0044CC !important;
}

#QuickView .productDetails .colors select {
    color: #333333;
    font-size: 0.8em;
}
#QuickView .colors #input-step-swatchColor.input-step {
	margin-top:20px;
}
.baby360Subscribe .baby360TextBlock p.ppuType {
    font-size: 10px !important;
    margin-left: 2px;
	font-weight: normal !important;
}
.baby360Subscribe .baby360InputBlock span.small, .baby360Subscribe .baby360InputBlock .startSending label.small, .baby360Subscribe .baby360InputBlock .howOften label.small, #QuickView .baby360Subscribe .baby360InputBlock .startSending label.small, #QuickView .baby360Subscribe .baby360InputBlock .howOften label.small {
    font-size: 10px;
}
.baby360InputBlock .deliverytxtmsg {
    color: #000000;
    float: left;
    font-size: 10px;
    font-style: italic;
    margin: 9px 0 !important;
    width: 225px;
}

.overlay .offer-details p, #offerDetails.overlay p, #offerDetails.overlay .details {
    color: #666666;
    font-size: 11px;
    line-height: 15px;
    margin-bottom: 0;
}
.offer-details p, .sizing-chart p {
    margin: 15px 0 0;
}

/*Video Start*/
#media-player {
	width:660px;
}

#media-player.vms {
	width:604px;
	height:524px;
	background-color:#ffffff;
}
#media-player .tabs-wrapper {
	margin:0 auto;
}
#community-media-player .tabs-wrapper {
	width:410px;
	padding:0;
	margin:0 auto;
}
#media-player .tabs-index, #community-media-player .tabs-index {
	height:31px;
	overflow:hidden;
	list-style:none;
	margin:0 0 15px 0;
	background:url("../../../tff/images/product-details/tabs/bg-tabs-border-bottom-600.gif") no-repeat 0 bottom;
}
#media-player .tabs-index li a h2, #media-player .tabs-index li a span {
	float:left;
}
#community-media-player .tabs-index {
	padding:0 2px;
}

#media-player.vms .content #video-player-containervideo-player-container {
padding-left: 2px;
padding-right: 2px;
margin: 0;
}

#media-player .tabs-index li, #community-media-player .tabs-index li {
	float:left;
	height:30px;
	margin-right:-2px;
	padding:0 0 0 1px;
	background:url("../../../tff/images/product-details/tabs/bg-tabs-left.gif") no-repeat 0 0;
}
#media-player .tabs-index li.selected, #community-media-player .tabs-index li.selected {
	margin:0 -4px 0 -2px;
	padding:0 0 0 4px;
	background:url("../../../tff/images/product-details/tabs/bg-tabs-active-left.png") no-repeat 0 0;
}
#media-player .tabs-index li.selected:first-child, #community-media-player .tabs-index li.selected:first-child {
	margin:0 -4px 0 -3px;
}
#media-player .tabs-index li a, #community-media-player .tabs-index li a {
	color:#0069FF;
	height:22px;
	display:block;
	font-size:14px;
	font-weight:bold;
	padding:9px 23px 0 21px;
	background:url("../../../tff/images/product-details/tabs/bg-tabs-right.gif") no-repeat right 0;
}
#media-player .tabs-index li a span, #community-media-player .tabs-index li a span {
	color: #000;
	font-weight: normal;
}
#media-player .tabs-index li.selected a, #community-media-player .tabs-index li.selected a {
	color:#000;
	padding:9px 22px 0 20px;
	background:url("../../../tff/images/product-details/tabs/bg-tabs-active-right.png") no-repeat right 0;
}
#media-player .tabs-index li.selected:first-child a, #community-media-player .tabs-index li.selected:first-child a {
	padding-left:21px;
}
#media-player .video-section, #community-media-player .video-section {
	text-align: center;
}

#media-player .video-section.notabs {
	margin-top: 30px;
}

#media-player.vms .video-section.notabs {
	margin-top: 40px;
}

#media-player .media-caption {
	position: relative;
	color: #333;
	width: 600px;
	margin: 20px auto 0 auto;
	font-size: 12px;
	text-align: left;
}


#media-player.vms .media-caption {
	position: relative;
	color: #333;
	width: 604px;
	margin: 0px auto 0 auto;
	font-size: 12px;
	text-align: left;
}
}
#media-player .media-caption p {
	font-size: 12px;
	margin: 0;
}
#media-player .media-caption .title {
	color: #000;
	font-weight: bold;
	float: none;
}
#media-player .media-caption #video-time {
	position: absolute;
	top: 0;
	right: 0;
	text-align: right;
}
#media-player .carouselviewport {
	/*height: 84px;*/
}

#media-player .component-container {
	width: 100px;
	
	margin: 0 17px 10px 17px;
	border:none;
}

#media-player .carouselviewport #carouselContainer{
	margin-left:36px;
	
}

#media-player  .carouselviewport .carousel-viewport #carouselContainer{
	margin-left:0;
	
}


#media-player .carouselviewport .video-playing-title{
	margin: 15px auto 15px auto;
	padding:0;
	font-family:Helvetica,Arial;
	font-size: 11px;
	color:#555;
	position: relative;
	text-align: center;
	font-weight:bold;
}

#media-player .component-container .video-thumbnail-title{
	font-family:Helvetica,Arial;
	font-size: 11px;
	color:#555;
	word-wrap:break-word;
	width:100px;
	
	text-decoration:none;
	cursor:default;
	padding:0;
	margin:0;
	line-height:13px;
}
#media-player .carousel-container {
	margin: 0px auto 0 auto;
	padding: 0 0 0 0;
	background-color: #fff;
}
#media-player .media-thumbnails li.on {
	border:1px solid #ccc;
}
#media-player .media-thumbnails li {
	display: inline;
	float: left;
	width: 100px;
	margin: 0 20px 0 0;
}
#media-player .carousel-container .prevFrame, #media-player .carousel-container .nextFrame {
	position: relative;
	top: 0;
	z-index: auto;
}
#media-player .carousel-container .nextFrame:hover {
    background-position: -398px -1135px;
}

#media-player .prevFrame, #media-player .nextFrame, #media-player .carousel-pagination li a {
	display: block;
	width: 11px;
	height: 10px;
	padding: 10px 0 0 0;
	overflow: hidden;
	float: left;
	margin: 0 6px;
	cursor: pointer;
}

#media-player li.state-focus{
	outline:blue dotted 1px;

}

#media-player .prevFrame {
    background-position: -357px -1135px;
}
#media-player .carousel-container .prevFrame:hover {
    background-position: -357px -1135px;
}

#media-player .prevFrame.disabled {
    background-position: -357px -1109px;
    cursor: pointer;
	opacity: 0.3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
}
#media-player .nextFrame {
    background-position: -398px -1109px;
	text-indent: -999px;
}
#media-player .nextFrame.disabled {
    background-position: -398px -1109px;
    cursor: default;
	opacity: 0.3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
}
#media-player .carousel-controls {
    margin: 20px 0 0 0;
}
#media-player .carousel-pagination {
	display: block;
	float: left;
}
#media-player .carousel-pagination li a {
	background-position: -67px -693px;
	margin: 0 5px;
}
#media-player .carousel-pagination li a.selected {
	background-position: -60px -693px;
	cursor: default;
}

#media-player .component-container a.scene7 {
text-decoration: none;
}

#media-player .component-container img {
	
	padding: 2px 2px 2px 2px;
	margin-bottom: 8px;
}

.selectedThumbnailClass{
padding: 1px 1px 1px 1px;
	border: 1px solid #DBDBDB;
}

#media-player .component-container .video-thumbnail-overlay {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	opacity: .4;
	background-color: #000;
	width: 96px;
	height: 52px;
	position: absolute;
	top: 2px;
	left: 2px;
	border: 1px solid #DBDBDB;
	z-index: 10;
	padding: 1px 1px 1px 1px;
}

#video-thumbnails a.video:hover .video-play-icon, #video-thumbnails a.video:focus .video-play-icon {
	top:15px;
	left:35px;
	width:34px;
	height:34px;
	position:absolute;
	background:url("../../../tff/images/video-thumb-overlay.png") no-repeat -21px -21px;
}

#media-player .carouselviewport a.imgAnchor:hover .video-play-icon, .carouselviewport .video-play-icon {
	top:15px;
	left:35px;
	width:34px;
	height:34px;
	position:absolute;
	background:url("../../../tff/images/video-thumb-overlay.png") no-repeat -21px -21px;
}

#media-player .carousel-viewport{
	margin-left:-2px;

}
/*Video End*/

#addtocart .addToCartHeavy .tileInfo .strike {
    display: inline;
    line-height: 18px;
    margin: 3px 0 0 3px;
	color: #666666;
}
#addtocart .tileInfo .strike {
    font-size: 11px;
 
}
.tile.standard .strike {
     font-weight: normal;
}
.tile .strike {
    color: #666666;
    font-family: Arial;
    font-size: 10px;
    text-decoration: line-through;
}
.overlay.xlarge {
    width: 950px;
}
#quickInfo .heroSection .babycenter_review a img{
	width:145px;
	height:35px;
}
#QuickView #qinfo #babyCenter_review img.logo {
	float:left;
}
#QuickView #qinfo #babyCenter_review .babycenterLink {
    float: left;
    margin: 15px 0 0 5px;
	font-size:11px;
}
.overlay.community {
	width: 495px;
}
#review-layer.overlay {
width: auto;
}

.ie #review-layer.overlay {
	width: 702px;
}
.overlay .module-title, .overlay .module-subtitle {
margin: 0;
font-weight: bold;
}
.overlay .module-title {
outline: none;
}
.overlay .module-title, #ModalContent .module-title {
color: #000;
font-size: 24px;
padding-right: 25px;
}
.overlay#comment-layer .module-title, #ModalContent .report-review-module .module-title {
font-size: 18px;
color: #000;
margin-top: -5px;
}
.overlay#comment-layer h2.module-title {
margin-bottom: 5px;
}
.overlay .comment>div, #ModalContent .comment>div {
margin: 11px 0 0;
}
.overlay .comment label, #ModalContent .comment label, #review-layer #review-title-label, #review-body-label {
display: block;
margin: 0 0 5px;
font-size: 14px;
font-weight: bold;
color: #000;
font-size: 12px;
}
.overlay .comment textarea, .overlay .comment .textarea-preview, #ModalContent .comment textarea, #ModalContent .comment .textarea-preview {
width: 422px;
margin: 0 0 12px;
overflow-y: auto;
font-family: "helvetica neue",helvetica,arial,sans-serif;
}
.overlay .comment textarea, #ModalContent .comment textarea {
height: 200px;
}

.overlay .comment .edit-info {
font-size: 12px;
margin: 0;
}
.overlay #createComment.comment p.caption, .overlay #createComment.comment #edit-signature-fields, .overlay #createReview.comment p.caption, .overlay #createReview.comment #edit-signature-fields {
border-bottom: 1px dotted #CCC;
border-top: 1px dotted #CCC;
margin: 16px 0;
padding: 17px 0;
width: 416px;
overflow: hidden;
}
.overlay .comment .edit-info em {
font-style: italic;
}
.overlay .comment .edit-info {
font-size: 12px;
margin: 0;
}
.overlay .comment>div, #ModalContent .comment>div {
margin: 11px 0 0;
}
#createComment .buttonNav {
margin-top: 22px;
}
.overlay .comment #edit-signature-fields>div, #ModalContent .comment #edit-signature-fields>div {
float: left;
margin-top: 0;
}
.overlay .comment #edit-signature-fields #input-field-screenname, #ModalContent .comment #edit-signature-fields #input-field-screenname {
width: 180px;
}
.overlay .comment #edit-signature-fields>div label, #ModalContent .comment #edit-signature-fields>div label {
font-size: 14px;
color: #333;
}
.overlay .comment .inputField, #ModalContent .comment .inputField {
color: #333;
width: 400px;
padding: 5px;
font-size: 90%;
border: 2px solid #ccc;
font-family: "helvetica neue",helvetica,arial,sans-serif;
}
.overlay .comment #edit-signature-fields input#screenname, #ModalContent .comment #edit-signature-fields input#screenname {
width: 153px;
}
.overlay .comment #edit-signature-fields #input-field-city, #ModalContent .comment #edit-signature-fields #input-field-city {
width: 166px;
}
.overlay .comment #edit-signature-fields input#city, #ModalContent .comment #edit-signature-fields input#city {
width: 138px;
}
.overlay .comment #edit-signature-fields select#state, .overlay .comment #edit-signature-fields #input-field-state {
width: 60px;
}
.overlay .comment #edit-signature-fields select#state, .overlay .comment #edit-signature-fields #input-field-state {
width: 60px;
}
.overlay .caption {
font-size: 12px;
color: #333;
margin-bottom: 0;
}
.overlay .comment-module p, .overlay .upload-photo-module p, .overlay .review-signin-module p, #ModalContent .comment-module p, #ModalContent .upload-photo-module p, #ModalContent .review-signin-module p {
margin: 5px 0;
}
.modalWindow .comment-module #previewComment{
float: left;
}
.comment-module .toc-footer {
float: left;
font-size: 11px;
line-height: 15px;
}
#addtocart .component.banner .component-container{ margin: 36px 0 0 20px !important;}
#review-layer.overlay .content {
padding: 40px;
}
.overlay .r5review.scrollable-module {
width: 640px;
}
#review-layer.overlay .scrollable-module {
padding: 0;
}
.overlay .r5review .r5reviewWrapper {
border-bottom: 1px solid #CCC;
width: 640px;
padding-bottom: 15px;
margin: 0;
}
.overlay .ratings-form-container {
margin-bottom: 0;
}
.overlay .r5review .ratings-form-container {
width: 200px;
float: left;
}
.overlay .r5review #ratings-module {
width: 200px;
padding-bottom: 8px;
border-bottom: none;
}
#review-layer .module-title {
font-size: 18px;
color: #333;
margin-top: 0;
}
#review-layer #createReview .module-title {
margin-bottom: 8px;
}
.overlay .r5review .enhanced.ratings-form-wrapper {
border-bottom: medium none;
border-top: 1px dotted #CBCBCB;
margin: 8px 0 0;
overflow: hidden;
padding: 10px 0 5px;
width: 200px;
}
.overlay .r5review .enhanced.ratings-form-wrapper.ratings-overall {
background: none;
border-bottom: none;
}
.overlay .r5review .enhanced.ratings-form-wrapper h4 {
color: #999;
font-family: Arial;
font-weight: bold;
line-height: normal;
margin-bottom: 6px;
}
.overlay .r5review .enhanced.ratings-form-wrapper h4:first-child {
color: #333;
font-size: 14px;
}
.overlay .r5review .writeReview {
border-left: 1px dotted #CCC;
float: left;
margin-left: 20px;
padding-left: 19px;
width: 400px;
}
#review-layer.overlay .r5review .writeReview {
padding-top: 0;
}
.overlay .r5review .module-title {
color: #000;
font-size: 16px;
margin-top: 0;
padding: 0 1px 0 0;
}
#review-layer #createReview .module-title {
margin-bottom: 8px;
}
.overlay .module-title .required-notice, #ModalContent .module-title .required-notice {
color: #666!important;
font-size: 11px;
font-weight: normal;
}
.overlay .r5review .module-title .required-notice {
color: #c00!important;
}
#review-layer .writeReview div {
padding: 0 0 7px 0;
vertical-align: top;
}
.overlay .r5review .writeReview label {
margin-bottom: 9px;
}
.overlay .r5review .comment label {
color: #333;
font-size: 14px;
}
.overlay .r5review .comment .inputField {
color: #333;
width: 400px;
padding: 0;
font-size: 90%;
border: 1px solid #ccc;
height: 24px;
}
.overlay .r5review #createReview.comment .input-field, .overlay .r5review #createReview.comment #edit-signature-fields, #review-layer.overlay .r5review #createReview.comment .caption.input-step {
border-bottom: medium none;
border-top: 1px dotted #CCC;
margin: 8px 0 0;
padding-top: 11px;
width: 400px;
}
#review-layer.overlay .r5review .comment textarea {
height: 98px;
}
.overlay#review-layer .writeReview div.input-step textarea {
margin-bottom: 0;
}
.overlay .comment label .field-info, #ModalContent .comment label .field-info {
font-weight: normal;
color: #666;
}
.overlay .r5review .comment label .field-info {
color: #999;
font-size: 12px;
}
#review-layer .writeReview div {
padding: 0 0 7px 0;
vertical-align: top;
}
#review-layer .writeReview div.clear {
padding: 0;
}
#review-layer.overlay #createReview.comment #edit-signature-fields {
margin: 15px 0;
padding-bottom: 5px;
}
#review-layer.overlay .r5review #createReview.comment #edit-signature-fields {
margin: 8px 0 0;
}
.overlay .r5review .comment #edit-signature-fields #input-field-screenname, .overlay .r5review .comment #edit-signature-fields #input-field-city {
width: 170px;
}
.overlay .r5review #createReview.comment #edit-signature-fields .input-field {
border-top: none;
margin: 0;
padding: 0;
}
.overlay .r5review .buttonContainer {
border-bottom: 1px solid #CCC;
text-align: right;
width: 640px;
padding: 2px 0 6px;
margin-bottom: 9px;
}
.overlay .r5review .buttonContainer .cancel {
margin-left: 3px;
}
.overlay .r5review.comment-module p.toc-footer {
margin-bottom: 0;
color: #666;
}
#review-layer.overlay .r5review #review-title-label {
border-top: 1px dotted #CCC;
margin-top: 8px;
padding: 9px 0 0;
color: #333;
font-size: 14px;
}
.overlay .r5review #preview-review #review-title {
font-size: 12px;
border-bottom: 1px dotted #CCC;
margin-bottom: 11px;
padding: 2px 0 19px;
color: #333;
}
.overlay .r5review #preview-review #review-body-label {
margin: 10px 0 9px;
color: #333;
font-size: 14px;
}
#review-layer .r5reviewWrapper #review-body.textarea-preview {
width: 398px;
height: 145px;
color: #333;
font-size: 12px;
}
.overlay .writeReview .caption {
padding-bottom: 10px;
float: left;
}
#review-layer #preview-review .caption {
padding-top: 6px;
font-size: 13px;
color: #666;
}
.overlay .r5review .buttonContainer.noborder {
border-bottom: none;
width: 640px;
padding-top: 13px;
}
.overlay .r5review form#previewReview {
float: left;
width: 550px;
}
.overlay .r5review form#editReview {
float: left;
width: 85px;
}
#review-layer #review-upload #uploadDiv {
margin-bottom: 15px;
}
#review-layer.overlay .buttons {
text-align: left;
padding-top: 6px;
}
#review-layer .module-title+p {
font-size: 12px;
color: #333;
margin: 15px 0 0 0;
line-height: 16px;
}
.overlay .r5review .comment #edit-signature-fields input#screenname, .overlay .r5review .comment #edit-signature-fields input#screenName, .overlay .r5review .comment #edit-signature-fields input#city {
width: 147px;
}
.overlay .comment-module hr, #ModalContent .comment-module hr {
padding-top: 16px;
margin-bottom: 16px;
}
.overlay .report-review-module .input-step, #ModalContent .report-review-module .input-step {
margin: 20px 0 0;
}
.overlay #reportReview .reportReviewRow, #ModalContent #reportReview .reportReviewRow {
margin: 0 0 15px 0;
}
.overlay #reportReview label, #ModalContent #reportReview label {
margin-bottom: 0;
padding-left: 5px;
padding-bottom: 1px;
font-size: 14px;
}
.overlay #reportReview input[type=checkbox], #ModalContent #reportReview input[type=checkbox] {
margin: 0;
clear: both;
width: 15px;
text-align: left;
}
.overlay #reportReview .buttonNav, #ModalContent #reportReview .buttonNav {
margin: 21px 0 0;
}
#reviewSignin .buttonNav p {
width: 100%;
}
.review-signin-module #reviewSignin p {
font-size: 11px;
margin: 2px 1px 0;
}

#reviewSignin p#securityMsg, #emailCart p#securityMsg {
	display: inline-block;
	padding: 13px 0 5px 22px;
	position: relative;
	margin-left: -5px;
	background-position: -72px -1632px;
	font: inherit;
	font-weight: bold;
	font-size: 11px;
	text-align: left;
	padding-left: 22px;
	color: #666;
	width: 156px;
	text-transform: none;
}
.ie8 #reviewSignin p#securityMsg, #emailCart p#securityMsg {
	top:-13px;
	left:7px;	
}
#QuickView .bold-black-text {
	color: #000;
	font-weight: bold;
}
.overlay .comment .required, #ModalContent .comment .required {
    color: #CC0000;
    font-size: 11px;
}
#change-location .errorBlock{
	 margin-top: 0;
}
#addtocart #ModalCarousel .carousel-viewport{
	position: absolute;
	left: 2px
}
/*Kaltura Changes Start*/
#QuickView #qinfo .videoblock{
  border-left: 1px dotted #CCCCCC;
    float: left;
    height: 50px;
    margin: 10px 0 0 10px;
    padding: 0 0 0 10px;
    width: 50px;	
}

#QuickView #qinfo .productImageBlock #VideoStartBtn img {
    margin-top: 10px;
}
.ipad #QuickView #VideoStartBtn.olson{
	display:none;
	visibility:hidden;
}

#QuickView #qinfo .productImageBlock #VideoStartBtn .pdp-play-icon {
    background: url("../../../tff/images/sprites.png") no-repeat scroll -272px -1588px transparent;
    display: block;
    float: left;
    height: 26px;
    margin: -32px 10px 0;
    position: absolute;
    width: 26px;
}

#QuickView #qinfo .productImageBlock #VideoStartBtn .pdp-video-thumbnail{
	background-position:center;
	background-repeat:no-repeat;
	display:block;
	width:50px;
	height:37px;
	position:relative;
	vertical-align:middle;
	margin-top:5px;

}
/*kaltura Changes End*/
/*Add to cart overlay RR component*/
.components-test .overlay .banner.component-container {
	width:770px!important;
	float:none;
	margin:0;
	padding:1px 0 0;
}
#addtocart .component .component-container {
	border-bottom:medium none;
	border-left:medium none;
	width:130px;
	height:auto;
	border-top:medium none;
	border-right:medium none;
	margin:36px 0 0 20px;
}
#addtocart .image-container {
position: relative;
width: 106px;
float: left;
height: 106px;
padding: 0 10px 12px 11px;
}
#addToRegistry .addedToRegistry .component.component-set.rich-relevance-container.banner ul.wide-770 li span.price,
#addtocart .addToCartHeavy .component.component-set.rich-relevance-container.banner ul.wide-770 li span.price {
    color: #000000;
    font-size: 15px;
    font-weight: bold;
}
#addtocart .component a {
	font-weight: bold;
}
#addtocart .component .product-title a {
line-height: 16px;
font-size: 12px;
}
#addtocart .component .content {
padding: 0;
}
#addtocart .component .eyebrow{
	position: relative;
}
#addtocart .component .ratings .rating-xsmall {
	margin-top: 5px;
}
/*End of add to cart overlay RR component*/
/*kaltura media player overlay*/
#media-player.vms .content {
    padding: 0;
}
#media-player.vms .title, #media-player .modalWindow .title {
    color: #000000;
    font-family: Helvetica,Arial;
    font-size: 13px;
    padding: 14px 0 0 20px;
}
#media-player.vms .video-section.notabs {
    margin-top: 40px;
}
#media-player.vms .content #video-player-containervideo-player-container {
    margin: 0;
    padding-left: 2px;
    padding-right: 2px;
}
#media-player.vms .media-caption {
    color: #333333;
    font-size: 12px;
    margin: 0 auto;
    position: relative;
    text-align: left;
    width: 604px;
}
#media-player .carouselviewport .video-playing-title {
    color: #555555;
    font-family: Helvetica,Arial;
    font-size: 11px;
    font-weight: bold;
    margin: 15px auto;
    padding: 0;
    position: relative;
    text-align: center;
}
#media-player .carousel-container {
    background-color: #FFFFFF;
    margin: 0 auto;
    padding: 0;
}
#media-player .carousel-viewport {
    margin-left: -2px;
}
#media-player.vms .carousel-container .prevFrame {
    top: 16px;
}
#media-player .prevFrame.disabled {
    background-position: -357px -1109px;
    cursor: pointer;
    opacity: 0.3;
}
#media-player .carousel-container .prevFrame {
    height: 16px;
    left: -20px;
    position: absolute;
    text-indent: -9999px;
    width: 11px;
    z-index: auto;
}
#media-player .carouselviewport .carousel-viewport #carouselContainer {
    margin-left: 0;
}
#media-player .component-container {
    border: medium none;
    margin: 0 17px 10px !important;
    width: 100px  !important;
}
#media-player .component-container img {
    margin-bottom: 8px;
    padding: 2px;
}
#media-player .component-container .video-thumbnail-title {
    color: #555555;
    cursor: default;
    font-family: Helvetica,Arial;
    font-size: 11px;
    line-height: 13px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    width: 100px;
    word-wrap: break-word;
}
#media-player.vms .carousel-container .nextFrame {
    float: right;
left: 5px;
text-indent: -9999px;
top: -93px;

}

#media-player.vms .carousel-container .prevFrame {
    top: 22px;
}
#media-player.vms .carousel-container .nextFrame {
    margin-right: -5px;
    position: relative;
    top: -61px;
	left: 5px;
    width: 11px;
    z-index: auto;
}

#media-player.vms .drag-handle {
    height: 40px;
}
.overlay .drag-handle {
    cursor: move;
    height: 20px;
    left: 0;
    margin-right: 43px;
    position: absolute;
    top: 0;
    width: 91%;
}
/*End kaltura media player overlay*/
/* R5 changes for color swatches - mike*/
#quickInfo #input-step-swatchColor .swatches li{padding:0;position:relative;}
.swatches li.swatchtool.swatchfoccused img{border:1px dotted #000;}
#quickInfo #input-step-swatchColor ul{height:auto;width:321px}
#quickInfo #input-step-swatchColor ul li {height:30px;width:30px;margin:0 10px 10px 0;background:none}
#quickInfo #input-step-swatchColor ul li .tip-content{display:none !important}
#quickInfo #input-step-swatchColor ul li img{height:28px;width:28px;border:1px solid #ccc;border-radius:2px}
/*#quickInfo #input-step-swatchColor ul li img:hover{border:1px solid #333}*/
#quickInfo #input-step-swatchColor ul li.selected img{border:1px solid #fff;outline:2px solid #666;width:24px;height:24px;margin:2px;-moz-outline-radius:2px}
#quickInfo #input-step-swatchColor ul li.selected{outline:none;}
#quickInfo #input-step-swatchColor legend{margin-bottom:3px}
#quickInfo #input-step-swatchColor li input[type="radio"]{top:0;height:30px;width:30px;margin:0 !important;opacity:0;}
#QuickView #quickInfo .quickInfoActionDetails .swatches li{border:none}
#modal-check-low-price .modalWindow .modalColumn.colType-specialOffer .invInfo {
    color: #333333;
}
.modalWindow .modalColumn.colType-main .tile .productInfoList .productInfoUnit span.category  span{
    color: #666666;
    padding-left:2px;
    font-weight: normal;
}
#modal-check-low-price .modalColumn.colType-main .tileInfo .productTitle {
    line-height: 15px;
}
/*Free Gift style added*/
h2.freeGift-title {
    color: #000000;
    font-size: 16px !important;
    font-weight: bold margin-top;
    margin-top: -12px;
}
h2.freeGift-title .normaltxt{
	font-weight: normal;
}
h2.freeGift-title span.freeGift {
    color: red;
}
#freeGiftItemList {
	display: block;
	width: 564px;
	border: 1px solid #cccccc;
	overflow-y: scroll;
	margin-top: 10px;
	height: 445px;
	margin-bottom: 10px;
}
#freeGiftItemList ul.giftItem li.fESOBottomAlign {
    float: left;
    padding: 10px 8px 10px 20px;
    width: 153px;
}
#freeGiftItemList ul.giftItem li.fESOBottomAlign p.price span {
    padding: 5px;
}
#freeGiftItemList ul.giftItem li .image-container img {
    width: 138px;
    height: 138px;
    display: block
}
#freeGiftItemList ul.giftItem li {
    border-right: 1px dotted #999999;
    border-bottom: 1px dotted #999999;
}
#freeGiftItemList ul.giftItem li.noborder {
    border-right: none;
    padding-right: 10px;
}
#freeGiftItemList ul.giftItem li div.content {
    padding: 7px 0 10px 10px;
}
#freeGiftItemList ul.giftItem li div.content .price .offerPrice {
    font-weight: bold;
    font-size: 18px;
    color: #000000;
}
#freeGiftItemList ul.giftItem li div.content .price span {
    font-size: 10px;
    color: #333333;
}
#freeGiftItemList ul.giftItem li div.content .product-title {
    font-size: 13px;
    margin: 3px 0;
    color: #000000;
    font-weight: bold;
    height: 60px;
}
#freeGiftItemList ul.giftItem li div.content .selectButton.button,
#freeGiftItemList ul.giftItem li div.content .free_gift_item_selected.button,
#freeGiftItemList ul.giftItem li div.content button.plus,
#freeGiftItemList ul.giftItem li div.content button.minus,
#freeGiftItemList ul.giftItem li div.content .free_gift_item_disabled.button,
#freeGiftSpecialOffers .selectButton.button,#getGiftCard,
#freeGiftNoSpecialOffers .button.addtoCart{
    background: url("../../../tff/images/sprites.png") no-repeat scroll 0 0;
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    cursor: pointer;
    margin: 0 0 0 -3px !important;
    width: 140px !important;
}
#freeGiftNoSpecialOffers .addtoCart.button {
	background-position: -180px -1140px!important;
	height: 35px;
}
#freeGiftNoSpecialOffers .addtoCart.button:hover {
	background-position: -180px -1183px!important;
}
#getGiftCard {
	color: #fff;
	font-weight: 700;
	width: 170px!important;
	margin-left: 5px !important;
	background-position: -160px -1711px;
	height: 35px;
}
#getGiftCard:hover {
background-position:-160px -1671px;
}
#getGiftCard.disabled {
background-position:-160px -1753px !important;
}
#freeGiftItemList ul.giftItem li div.content .free_gift_item_selected.button, #freeGiftSpecialOffers .free_gift_item_selected.button {
    background-position: -6px -1693px !important;
}
#freeGiftItemList ul.giftItem li div.content .free_gift_item_selected.button:hover, #freeGiftSpecialOffers .free_gift_item_selected.button:hover {
    background-position: -6px -1752px !important;
}
#freeGiftItemList ul.giftItem li div.content .selectButton.button, #freeGiftSpecialOffers .selectButton.button {
    background-position: -6px -1664px;
}
#freeGiftItemList ul.giftItem li div.content .selectButton.button:hover, #freeGiftSpecialOffers .selectButton.button:hover {
    background-position: -6px -1723px;
}
#freeGiftItemList ul.giftItem li div.content .selectboxwrap {
    width: 100px;
    color: #000000;
    padding: 0 2px 10px;
    font-weight: bold;
    font-size: 12px;
    margin-top: 10px;
}
#freeGiftItemList ul.giftItem li div.content input.qtynumber, #freeGiftSpecialOffers input.qtynumber {
    padding: 0 2px;
    text-align: center;
    width: 40px;
    font-size: 11px;
    height: 33px;
    border: 1px solid #CCCCCC;
    line-height: 32px;
}
#freeGiftItemList ul.giftItem li div.content .upArrow,
#freeGiftItemList ul.giftItem li div.content .downArrow,
#freeGiftSpecialOffers .upArrow,
#freeGiftSpecialOffers .downArrow{
    left: 68px;
    position: absolute;
    background-image: url("../../../tff/images/sprites.png");
    border: 1px solid #CCC;
    display: block;
    height: 16px;
    text-indent: -9999px;
    width: 16px;
}
#freeGiftItemList ul.giftItem li div.content .upArrow, #freeGiftSpecialOffers .upArrow {
    background-position: -484px -1679px;
    top: 0;
}
#freeGiftItemList ul.giftItem li div.content .downArrow, #freeGiftSpecialOffers .downArrow {
    background-position: -484px -1703px;
    border-top: 0 none;
    top: 18px;
}
#freeGiftItemList ul.giftItem li div.content .error {
    font-size: 12px;
}
#freeGiftSpecialOffers .decl_get_gift_cont, #freeGiftNoSpecialOffers .decl_get_gift_cont {
    display: inline-block;
    text-align: right;
    margin-right: 5px;
    float: right;
    margin-top: 2px;
}
#freeGiftSpecialOffers .decl_get_gift_cont .declineGift, #freeGiftNoSpecialOffers .decl_get_gift_cont .declineGift {
    font-size: 13px;
    font-weight: 700;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    height: 30px;
}
#freeGiftSpecialOffers .decl_get_gift_cont span,#freeGiftNoSpecialOffers .decl_get_gift_cont span{
   border-right:1px dotted #ccc;
	padding-right:10px;
	position: absolute;
	right: 224px;
	margin-top: 10px;
}
#freeGiftNoSpecialOffers .decl_get_gift_cont span{
	right: 260px;
}
#freeGiftSpecialOffers {
	display: inline-block;
	padding: 10px 10px 0 10px;
}
#freeGiftSpecialOffers .freeGiftchooseItems {
	color: #333;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 15px;
	text-align: left;
	vertical-align: middle;
	min-height: 20px;
}
#freeGiftSpecialOffers .freeGiftchooseItems .color {
	color: #c00;
}
#freeGiftItemList ul.giftItem li.fESOBottomAlign p.price span {
    padding: 5px;
}
#freeGiftSpecialOffers.multiFreeGiftCardViewOnly .fESOBottomAlign .text {
    min-height: 80px;
    height:80px;
}
#freeGiftSpecialOffers .fESOleftAlign {
	border-bottom: 1px solid #CCC;
	border-top: 1px solid #CCC;
	display: inline-block;
	padding-bottom: 10px;
	padding-top: 10px;
	width: 506px;
	margin-bottom: 10px;
}
#freeGiftSpecialOffers .fESOleftAlign img {
	display: inline-block;
	vertical-align: middle;
	width: 138px;
	height: 138px;
}
#freeGiftSpecialOffers .fESOleftAlign .SingleTitle {
	display: inline-block;
	vertical-align: top;
	width: 325px;
	margin-left: 20px;
}

#freeGiftSpecialOffers .fESOleftAlign .number {
	color: #333;
	font-size: 17px;
	width: 175px;
	font-size: 22px;
	margin-bottom: 10px;
	font-weight: bold;
}
#freeGiftSpecialOffers .fESOleftAlign .text {
	display: block;
	margin: 0;
	font-size: 13px;
	font-weight: bold;
	line-height: 15px;
	width: auto;
	color: #000;
}
#freeGiftSpecialOffers .buttonSingleItem, .multiitemclosebutton {
	color: #FFF;
	float: right;
	width: 130px;
	margin: 0 3px 0 0;
}
#freeGiftSpecialOffers .number span {
	color: #333;
	font-size: 11px;
	font-weight: normal;
	margin-left: 5px;
}
.free-promotion-offer{
	display: table;
	font-size: 11px;
	margin: 0;
	padding: 0px;
	margin-top: 0 !important;
}
#freeGiftSpecialOffers .selectboxwrap.singleItemButton{
	position: absolute;
	top: 165px;
	left: 215px;
	width: 210px;
}
.quickInfoReturn .returnLink {
	background: url("../../../tff/images/bg_return_link.gif") no-repeat scroll 2px 3px transparent;
	border-bottom: 1px dotted #ccc;
	height: 16px;
	padding: 3px 0 5px 15px;
	position: relative;
	top: -10px;
	color: #44b4ff;
	width: 540px;
	font-size: 12px;
}
#freeGiftNoSpecialOffers{
	display: block;
	width: 500px;	
}
#freeGiftNoSpecialOffers .freeGiftsOOSBorder{
	color: #333;
	fondt-size: 14px;
	line-height: 16px;
	padding: 10px;
}
#freeGiftNoSpecialOffers .titlContainer {
	padding-bottom: 15px;
}
button.closeGift{
	background-image: url("../../../tff/images/sprites.png") !important;
	background-position:  -342px -1675px!important;
}
#freeGiftSpecialOffers .quickInfoReturn .returnLink{
	width: 491px;
}
/*Free Gift style ended*/
.modalWindow.modalType-addToCart .colType-main .tooltipBox .tooltipPointer {
    background-position: -488px -951px;
    left: 229px;
    top: 17px;
}
.modalWindow.modalType-addToCart .colType-main .tooltipBox {
    left: -238px;
}
#QuickView #quickInfo .swatches li.swatchtool.swatchfoccused img{
	border:1px dotted #000;
}
ul#singleItemList .tile .eyebrow, div#ShowSpecialItemPrice .tile .eyebrow {
position: relative;
}

/*Freegift -EXIN 182  */
#Main #singleFreeGiftPDP,#QuickView .productDetails #singleFreeGiftPDP {
    font-size: 11px;
    font-weight: normal;
    padding: 10px;
   /* width: 310px;
    height: 100px; EXIN-313 | Sajin*/
	width: 290px;
    height: 80px;
    display: none;
}

#Main #singleFreeGiftPDP.tooltipBox,#QuickView .productDetails #singleFreeGiftPDP.tooltipBox {
    background-color: #FFF;
    border: 1px solid #CCC;
    box-shadow: 0 0 5px #888;
    color: #333;
    display: none;
    font-size: 11px;
    left: 0;
    line-height: 1.2;
   /* padding: 10px 15px; EXIN-313 | Sajin*/
    padding: 10px 10px;
    position: absolute;
    text-indent: 0;
    top: 40px;
    z-index: 1000;
}

#QuickView .productDetails #singleFreeGiftPDP.tooltipBox { /* EXIN-313 | Sajin */
    left: -9px;
}

#Main #singleFreeGiftPDP.tooltipBox .tooltipPointer,#QuickView .productDetails #singleFreeGiftPDP.tooltipBox .tooltipPointer {
    background-position: -484px -1747px;
    display: block;
    height: 19px;
    left: 145px;
    position: absolute;
    top: -6px;
    width: 12px;
}

#Main #defaultOverviewPromo,#QuickView #qinfo #promotions_QI {
    position: relative;
    
}
#Main #defaultOverviewPromo.freeGiftWithPadding, #QuickView #qinfo #promotions_Q.freeGiftWithPadding {
	padding-top: 10px;
	padding-bottom: 20px;
}

#Main #singleFreeGiftPDP .freeGiftLeftItems,#Main #singleFreeGiftPDP .freeGiftRightItems,#QuickView .productDetails #singleFreeGiftPDP .freeGiftLeftItems,#QuickView .productDetails #singleFreeGiftPDP .freeGiftRightItems {
    display: inline-block;
    width: 72px;
}

#Main #singleFreeGiftPDP .freeGiftRightItems,#QuickView .productDetails #singleFreeGiftPDP .freeGiftRightItems {
    /*width: 220px; EXIN-313 | Sajin*/
	width: 208px;
    padding-left: 5px; /* EXIN-313 | Sajin*/
    vertical-align: top;
}

#Main #singleFreeGiftPDP .price,#QuickView .productDetails .price {
    font-size: 16px;
    font-weight: bold;
    /*padding-bottom: 10px;*/
    color: #000;
    display: inline-block;
}

#Main #singleFreeGiftPDP .value,#QuickView .productDetails .value {
    display: inline-block;
    padding-left: 5px;
	color: #666; /* EXIN-313 | Sajin */
}

#Main #singleFreeGiftPDP .title,#QuickView .productDetails .title {
    font-size: 12px;
    padding-bottom: 10px;
    color: #333;
    /*line-height: 13px; EXIN-313 | Sajin*/
	line-height: 12px;
}

#Main .free-promotion-offer .singleFreePromotion,#qinfo .free-promotion-offer .singleFreePromotion,#QuickView .productDetails .free-promotion-offer .singleFreePromotion,#Main .free-promotion-offer.singleFreePromotion,#QuickView .productDetails .free-promotion-offer.singleFreePromotion {
    color: #666;
    font-size: 11px;
    padding-bottom: 10px;
}

#Main .free-promotion-offer .singleFreePromotion .priceVal,#Main .free-promotion-offer .multipleFreePromotion .priceVal,#QuickView .productDetails .free-promotion-offer .singleFreePromotion .priceVal,#QuickView .productDetails .free-promotion-offer .multipleFreePromotion .priceVal,#Main .free-promotion-offer.singleFreePromotion .priceVal,#QuickView .productDetails .free-promotion-offer.singleFreePromotion .priceVal {
    font-weight: bold;
    color: #c00;
}

#Main #singleFreeGiftPDP p.unavailable,#QuickView .productDetails p.unavailable {
    font-size: 12px;
    color:#000;
}
#PrintSelectionOverlay .storesTabularData,#PrintSelectionOverlay .search-result-core{
                width: auto;
}
.sessionTimeOut {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F9F6D0;
    border-color: #C6D5DE;
    border-image: none;
    border-style: dotted none;
    border-width: 1px medium 1px 1px;
    color: #333333;
    display: none;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    margin: 18px 0 -26px 25px;
    padding: 19px 0 17px 20px;
    width: 909px;
    z-index: 2;
}

/*Freegift -EXIN 182  */

/* should move to fiats.css  start */
#FindinStore .store-details-holder .print-content td.timersi {
    font-size: 12px;
    text-align: center;
}

#FindinStore .store-details-holder .print-content td.ursi{
    color: #666666;
}
/* should move to fiats.css  start */

/* Below styles are checked in On beahalf of Elayaraja.D / Amit.kumar.singh START*/
.regSettingsSec .overlay ul.addressList li input{
	float: left;
}
.regSettingsSec .overlay ul.addressList li label span.title,
.regSettingsSec .overlay ul.addressList li p span.title {
    clear: both;
    color: #000000;
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 12px;
    width: 180px;
}
.regSettingsSec .overlay ul.addressList li label,
.regSettingsSec .overlay ul.addressList li p {
    float: left;
    padding-left: 10px;
    padding-top: 2px;
    width: 130px;
}
/* Below styles are checked in On beahalf of Elayaraja.D / Amit.kumar.singh END*/

/* Tapan 27/6/2014 : start */

.ie10 #ProductDetailsTop .primaryInfo select.sizeSelection {
    background-image: none;
}

/* Tapan 27/6/2014: end; */