/* K2 - Quick info css - Michael. A */
#QuickView {
	width: 678px;
}
#QuickView .module-title {
	padding-right: 0;
}
#QuickView #qinfo .productInfoBlock, #QuickView #qinfo .productOrderBlock {
	width: 300px;
	float: right;
}
#QuickView #qinfo .productInfoBlock .hasEyebrow {
	padding-top: 20px !important;
	position: relative;
}
#QuickView .productDetails {
	clear: both;
	float: left;
	width: auto;
	margin: 0;
	padding: 0;
}
#QuickView .quickInfoSumDetails, #QuickView .quickInfoActionDetails {
	float:left;
	width:275px;
}
#QuickView .productDetails .priceSection {
	clear: both;
}
#QuickView .productDetails .priceSection .salePrice {
	color: #000000;
	font-size: 26px;
	font-weight: bold;
	padding: 0px;
}
#QuickView #qinfo .productName {
	padding: 15px 0px 0px 0px;
}
#QuickView .productDetails .productName {
	clear: both;
}
#QuickView .productDetails .productName a {
    color: #000000;
    display: block;
    font-size: 15px;
    font-weight: bold;
    width: 90%;
}

#QuickView #qinfo .collectionproductInfoBlock .productName {
    padding: 2px 0 0;
}
#QuickView #qinfo .moviedetail {
	font-size: 11px;
}
/*
#QuickView #qinfo #promotions_QI {
	display:inline-block;
}*/
#QuickView #qinfo .collectionproductInfoBlock #promotions_QI {
    display: inline-block;
    width: 100%;
}
#QuickView #qinfo .productImageBlock{
	float: left;
	margin-left: 11px;
	width: 300px;
	padding-bottom: 45px;
}
#QuickView #qinfo .heroSection {
	float: left;
	padding-left: 0;
	margin: 10px 0 0 0;
	width: 270px;
}
#QuickView .heroSection #Hero {
	height: 266px;
	margin-bottom: 5px;
	width: 266px;
}
#QuickView #Hero {
	position: relative;
}
#QuickView #Hero img {
	display: block;
	margin: 0 auto;
}
#QuickView .heroSection #heroImage {
	clear: both;
}
#QuickView #qinfo .carouselviewport {
	height: 65px;
}

#QuickView #qinfo .prevFrame.disabled {
	display: none;
	cursor: default;
}
#QuickView #qinfo .prevFrame {
	background-position: -374px -1426px;
}
#QuickView #qinfo .prevFrame, #QuickView #qinfo .nextFrame {
	display: block;
	width: 10px;
	height: 0px;
	padding: 45px 0 0 0;
	overflow: hidden;
	float: left;
	cursor: pointer;
	position: absolute;
	top: 10px;
}
#QuickView #qinfo .carousel-viewport {
	width: 170px;
	position: absolute;
	left: 15px;
	top: -1px;
}
.carousel-viewport ul li, ul.adjacency-carousel li {
	border: 1px dotted transparent;
	display: block;
	float: left;
	margin: 0;
	outline: medium none;
	width: 139px;
}
#QuickView #qinfo .productImageBlock .heroSection .carouselviewport .component-container {
	border-left: none;
	border-right: none;
}
#QuickView #qinfo ul.component-carousel-qinfo li.component-container {
	width: 59px;
	text-align: center;
	padding: 0 7px 0 7px;
	float: left;
	display: inline-table;
}
#QuickView #qinfo #carouselContainer .selectedImage {
	background-position: -314px -1526px;
}
#QuickView #qinfo #carouselContainer .imgAnchor {
	padding-top: 10px;
	display: inline-block;
}
#QuickView #qinfo .component-carousel-3 {
	width: 975px !important;
}
#QuickView #qinfo #carouselContainer {
	padding: 0;
	margin: 0;
}
#QuickView #qinfo .extraProductLink{
	color: #666666;
}
#QuickView #qinfo .horzBorder {
	border-top: 1px solid #CCCCCC;
	margin: 0;
	padding: 10px 0;
}
#QuickView #qinfo .ratings {
	border-bottom: 1px dotted #CCCCCC;
	border-top: 1px dotted #CCCCCC;
	margin: 0;
	overflow: hidden;
	padding: 3px 0;
}
.rating-large {
	clear: both;
	height: 30px;
	list-style: none outside none;
	padding: 0;
	position: relative;
	width: 150px;
}
#QuickView #qinfo .ratings .rating-large {
	float: left;
	width: 115px;
}
#QuickView #qinfo .ratings .views {
	color: #0066FF;
	float: left;
	font-size: 11px;
	margin-top: 9px;
	padding-right: 0px;
}
#QuickView #qinfo .ratings .write-review {
	border-left: 1px solid #CCCCCC;
	color: #0066FF;
	float: left;
	font-size: 11px;
	margin: 9px 0 0 5px;
	padding-left: 5px;
}
#QuickView #qinfo .colors {
	width: 100%;
}
#QuickView .productDetails .colors {
	clear: both;
	/*padding: 15px 0 0px 0;*/
}
#QuickView .productDetails .colors #input-step-sizeSelection, #QuickView .colors #input-step-swatchColor.input-step {
    height: auto;
    margin: 18px 0 0;
	clear:none;
}
#QuickView #qinfo #textblock1.textblock {
	border-bottom: none;
}
#QuickView #qinfo .textblock {
	border-bottom: 1px dotted #CCCCCC;
	color: #000000;
	float: left;
	height: 40px;
	padding: 20px 0;
	vertical-align: middle;
	width: 316px;
}
#QuickView #qinfo #textblock1.textblock .butonblock {
	float: left;
	height: 40px;
	padding: 5px 0;
	width: 140px;
}
#QuickView #qinfo button, #QuickView #qinfo .button, #QuickView #qinfo .bkorder-button {
	float: left;
	text-decoration: none;
}
#QuickView #qinfo .butonblock .addtoCart.button, 
#QuickView #qinfo .butonblock .addtoCart.state-shaded, 
#QuickView #qinfo .butonblock .subscribe.button, 
#QuickView #qinfo .butonblock .subscribe-faded.button {
	background: url("../../../tff/images/sprites.png") no-repeat;
	padding: 0;
	border: 0;
	margin: 0 0 0 -3px !important;
	border-radius: 0;
	box-shadow: none;
	height: 40px;
	width: 140px !important;
	-moz-box-shadow: 0 0 0 0!important;
	-moz-border-radius: 0;
	cursor: pointer;
}
#QuickView #qinfo .butonblock .addtoCart.button {
	background-position: -178px -1138px;
}
#QuickView #qinfo .butonblock .addtoCart.state-shaded{    
    background-position:-222px -1470px;     

}
#QuickView #qinfo .butonblock .addtoCart.button:hover{
	background-position: -178px -1181px;	
}
#QuickView #qinfo .butonblock .subscribe.button{
	background-position:-1px -1540px;
}
#QuickView #qinfo .butonblock .subscribe.button:hover{
	background-position:-142px -1540px;
}
#QuickView #qinfo .butonblock .subscribe-faded.button{
	background-position:-1px -1581px;
}
#QuickView .quickInfoActionDetails #qiAddToCart.button .buttonText {
	height: 22px;
}
#QuickView #qinfo #textblock2.textblock, #QuickView #qinfo #textblock1.textblock, #QuickView #qinfo #textblock2 .butonblock {
	height: auto;
}
#QuickView #qinfo #textblock2.textblock {
	border-top: 2px solid #CCCCCC;
	padding: 7px 0;
}
#QuickView #qinfo .txtBold {
	color: #666666;
	float: left;
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	width: 200px;
}
#QuickView .productDetails .actions {
	clear: both;
	margin: 0px 0 10px 0;
}
#QuickView #qinfo ul.actions {
	border-bottom: 1px dotted #CCC;
	clear: both;
	float: left;
	margin-bottom: 0;
	padding-bottom: 10px;
	padding-top: 10px;
	width: 316px;
}
#QuickView .productDetails .actions li {
	display: block;
	float: left;
	height: 18px;
	margin: 0;
	padding-top: 2px;
	width: 154px;
	padding-bottom: 0;
}
#QuickView #qinfo ul.actions li:first-child {
	border-right: 1px dotted #CCC;
	margin-right: 20px;
	padding-right: 10px;
	width: 126px;
}
#QuickView #qinfo ul.actions li a {
	font-size: 12px;
	color: #0066FF;
}
#QuickView .seeItemHolder {
	border-top: medium none;
	float: left;
	width: 136px;
}
#QuickView #qinfo ul.extraProductLink {
	clear: both;
	width: 316px;
	float: left;
	margin: 10px 0 47px 0;
}

#QuickView #qinfo ul.extraProductLink li {
	border-left: 1px dotted #CCCCCC;
	float: left;
	font-size: 12px;
	margin-right: 19px;
	padding-left: 19px;
	padding-top: 2px;
}
#QuickView #qinfo ul.extraProductLink li:first-child {
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	margin-right: 0;
	padding-left: 0;
	padding-top: 0;
}
#QuickView .seeItemHolder a {
	font-weight: bold;
	font-size: 16px;
	color: #0066FF;
}
#QuickView .seeItemHolder .item_shipping a{
	font-weight: normal;
	font-size: 12px;
}
#QuickView #qinfo #pre-order-notsell {
	clear: both;
}
#QuickView.overlay .info-footer {
	padding: 10px 20px;
    text-indent: 1.8em;
}
#QuickView .legal {
	background: #f3f3f3;
	overflow: hidden;
}
#QuickView #qinfo .nextFrame {
	background-position: -396px -1426px;
	right:-31px;
}
#QuickView #qinfo  a.prevFrame:hover {
    background-position: -363px -1426px;
}
#QuickView #qinfo  a.nextFrame:hover {
	background-position: -385px -1426px;
	right:-31px;
}
#QuickView #qinfo .nextFrame.disabled {
    display: none;
	cursor: default;
}
#QuickView #qinfo #carouselContainer a.imgAnchor:hover{
		background-position: -375px -1526px;
}
#QuickView #qinfo .module-title.salePrice span {
	color: #666666;
	font-size: 10px;
	font-weight: normal;
}
#QuickView .productDetails .priceSection .DisPrice {
	font-size: 10px;
	text-transform: lowercase;
	float: left;
	display: block;
	margin: 1px 0 0 0;
	color:#666666;
}

#QuickView .productDetails .colors label {
	display: inline-block;
	min-width: 30px;
}
#QuickView #qinfo .sizeBox label, #QuickView #qinfo .quantityBox label {
	color: #000;
	font-size: 12px;
	font-weight: bold;
	margin: 0 0 5px;
	float: left;
}
#QuickView .productDetails .colors #input-step-sizeSelection label {
	clear: both;
	margin: 0 0 5px;
}
#QuickView .productDetails #input-step-sizeSelection select {
	float: left;
	font-size: .8em;
	color: #333;
	margin-bottom: 5px;
	margin: 0;
}
#QuickView .quickInfoActionDetails .colorlegend {
    color: #000000;
    display: block;
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin-right: 5px;
    visibility: visible;
    width: auto;
}
#QuickView #qinfo .oversizeFee .oversizeLbl{
	color: #000000;
    display: inline;
    float: left;
    font-family: Arial;
    font-size: 10px;
    font-weight: bold;
}
#QuickView #qinfo .oversizeFee .oversizeNotice {
	background-position: -272px -684px;
	float: left;
	height: 3px;
	width: 12px;
	margin-left: 2px;
	
}
#QuickView #qinfo .oversizeFee .oversizeNotice .tooltipBox {
	top: -96px;
	left: -309px;
}
.hfeetips {
	border-bottom: 1px dotted #CCC;
	color: #666;
	font-size: 11px;
	padding-bottom: 9px;
	font-weight: normal;
}
.tooltipBox .hfeetitle {
	color: #333;
	font-size: 12px;
	margin-bottom: 11px;
}
h2.hfeetitle {
	font: bold 12px arial;
	color: #333;
}
.oversizedtext {
	font: normal 12px arial;
	color: #333;
	margin-bottom: 5px;
}
.oversizeNotice .tooltipBox.hfeebox {
	width: 280px;
	padding: 10px;
}
.handlingfee {
	margin-top: 15px;
	font: normal 11px arial;
	color: #333;
	table-layout: fixed;
	width: 100%;
}
.handlingfee th, .handlingfee td {
	height: 18px;
}
.handlingfee th {
	font-weight: bold;
	padding-bottom: 8px;
	word-wrap: break-word;
}
.handlingfee .rrprice {
	padding-right: 10px;
	width: 130px;
	word-wrap: break-word;
}
.handlingfee th, .handlingfee td {
	height: 18px;
}
#QuickView #qinfo .oversizeFee .oversizeNotice .tooltipBox .tooltipPointer {
	top: 91px;
	background-position: -488px -951px;
	left: 298px;
}
#QuickView #qinfo #textblock1 ul.promoMsgs {
	display: table-cell;
	height: 50px;
	/*padding-left: 14px; */
	font-weight:700;
	width:170px;
	padding-left:3px;
	vertical-align: middle;
}

#QuickView .productDetails .colors .swatches {
	float: left;
	width: 99%;
	margin: 3px 0 0 0;
	height: auto;
	overflow: hidden;
}
#QuickView .quickInfoActionDetails .swatches li {
	border: 1px dotted #CCC;
	margin-right: 2px;
	padding: 0;
	width: 15px;
	height: 15px;
}
#QuickView #input-step-swatchColor ul.swatches input[type="radio"] {
	height: 0;
}
#QuickView #qinfo .textblock p.instock {
	background: none;
	color: #000;
	float: left;
	font-size: 10px;
	font-weight: bold;
	height:10px;
    width:158px; 
	text-align:left;
	font-family: arial;
	padding-left:16px;
	margin-top: 2px; 
	text-transform: lowercase;
}
#QuickView #qinfo ul.extraProductLink li.item_specs, #QuickView #qinfo ul.extraProductLink li.item_shipping, #QuickView #qinfo ul.extraProductLink li.item_nutrition, #QuickView #qinfo ul.extraProductLink li.item_drugs {
	height: 15px;
	padding-right: 3px;
}
#QuickView .productDetails #multipackPPU{
	color: #666666;
	margin-top:5px;
}
#QuickView .productDetails #multipackPPU #totalCount .multipack-count,
#QuickView .productDetails #multipackPPU #ppuCount .variation-count{
    font-family:arial;
    font-size:11px;
    color:#666666;
    font-weight:bold;
    float: left;
    margin-bottom: 14px;
    padding-right: 3px;
}
#QuickView .productDetails .variation-count {
    color: #999999;
    float: left;
    font-family: Arial;
    font-size: 10px;
    font-weight: bold;
    padding-left: 2px;
}


#QuickView .quickInfoSumDetails .multipack-count {
    color: #999999;
    float: left;
    font-family: Arial;
    font-size: 10px;
    font-weight: bold;
    margin: 0 0 -9px;
    width: auto;
}
#QuickView #qinfo .textblock.textblock-watch-instantly {
	height: 38px;
	padding: 7px 0px 11px 0px;
	border-bottom: none;
	border-top: 1px dotted #CCCCCC;
}
#QuickView #qinfo .butonblock {
	float: left;
	height: 50px;
	width: 140px;
}
#QuickView #qinfo .watch-instantly {
	background: url("../../../tff/images/TargetTicket_button_default.png") no-repeat;
	display: inline-block;
	height: 40px;
	width: 140px;
	margin: 0 0 0 -3px;
	padding: 0;
}
#QuickView #qinfo .ticket-logo-block {
	float: left;
	padding-left:9px;
}
#QuickView #qinfo .ticket-logo-block .ticket-logo {
	background: url("../../../tff/images/TargetTicket_logo.png") no-repeat;
	display: inline-block;
	height: 40px;
	width: 40px;
	margin: 1px 0 0 15px;
}
#QuickView #qinfo .watch-instantly:hover {
	background: url("../../../tff/images/TargetTicket_button_hover.png") no-repeat;
}
#QuickView #qinfo .textblock p.black-txt {
	background: none repeat scroll 0 0 transparent;
	color: #000;
	float: left;
	font-family: arial;
	font-size: 10px;
	font-weight: bold;
	padding: 0 0 5px;
	text-align: left;
	width: 158px;
}
#QuickView .productDetails #input-step-Quantity input.qty {
	font-weight: bold;
	text-align: center;
	width: 45px;
	color: #666;
	font-size: 11px;
	height: 28px;
	border: 1px solid #999;	
}
#QuickView .productDetails #input-step-Quantity input {
    float: left;
    margin: 0;
    padding: 0;
}
#QuickView #qinfo .colorValHolderQI {
	color: #000;
	display: block;
	float: left;
	font-family: arial;
	font-size: 9px;
	font-weight: normal;
	margin: 3px 0 0 0;
}

#digitalDownload {
    color: #666666;
    font-size: 11px;
    margin: 2px 0 12px !important;
}
#tooltipwrapper {
	background: url("../../../tff/images/swatch_bg.png") no-repeat top left;
	padding: 5px 5px 10px;
	width: 60px;
	position: absolute;
	z-index: 999999;
	display: none;
}
#digitalDownloadtxt {
    color: #000000;
    float: left;
    font-size: 10px;
}

#QuickView #qinfo .oversizeFee .oversizeNotice p a.tipnoteRef{
  width:13px;
  height:13px;
  margin-top:-10px;
  display:block;
}
#QuickView #qinfo .collectionproductInfoBlock .pricedFrom {
    clear: both;
    color: #000000;
    font-size: 14px;
    padding: 30px 0 0;
}
#QuickView .baby360Subscribe {
    float: left;
    margin: 12px 0 0;
}
#QuickView .baby360Subscribe .baby360TextBlock {
    background-color: #FBFBFB;
	height: auto !important;
	margin:0;
	border:1px solid #ddd;
}

#QuickView .baby360Subscribe {
    background-color: #E9E9E9;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    clear: both;
    margin-bottom: 11px;
    width: 310px;
}

#QuickView #baby360Subscribe #rosubMsg {
	margin: 18px 0 0 !important; 
	font-size: 11px;
}

#QuickView .baby360Subscribe .baby360TextBlock p#subscribePrice {
    margin: 18px 0 0 !important;
}

#QuickView fieldset legend {
	display: none;
}
#QuickView fieldset .input-group-title legend{
	display:block;
}
#QuickView .sendgiftby fieldset ul{
	clear: left;
}
#QuickView #baby360TextBlock #subscribePrice .pricePUnit {
    display: block;
    font-size: 11px;
    margin-top: 1px;
}

#QuickView .baby360Subscribe .baby360InputBlock .howOften select {
    font-size: 11px;
    height: 19px;
    margin-top: 3px;
}

#QuickView .baby360Subscribe .subscribeQIInstance {
   /* height: 49px !important; */
}

#QuickView .baby360Subscribe .baby360InputBlock span.small, #QuickView .baby360Subscribe .baby360InputBlock .startSending label.small, #QuickView .baby360Subscribe .baby360InputBlock .howOften label.small {
    font-size: 11px;
    padding-top:5px;
}

#QuickView .baby360Subscribe .baby360InputBlock {
    display: none;
   /* height: 75px; */
    height: auto;
    padding: 10px;
    visibility: hidden;
}

#QuickView .baby360Subscribe .baby360InputBlock .startSending input {
    border: 1px solid #AAAAAA;
    color: #000000 !important;
    font-size: 12px;
    margin-top: 3px;
    text-indent: 5px;
    width: 82px;
}

#QuickView .quickInfoActionDetails .baby360Subscribe .baby360TextBlock {
    padding: 10px !important;
}
#QuickView .baby360Subscribe .baby360TextBlock p .layer{
    float: right;
    font-size: 10px;
    font-weight: normal;
    margin-right: 4px;
}
#QuickView .baby360Subscribe .baby360TextBlock p a {
    color: #333333 !important;
    padding-top: 2px;
}
#QuickView .baby360Subscribe .baby360TextBlock p input {
    margin-left: 0;
    vertical-align: middle;
}
#QuickView #qinfo .txtBold .x-grey {
    background-position: -152px -665px;
    height: 15px;
    padding-left: 11px;
}

#QuickView #qinfo .bkorder-button {
    background-position: -178px -1095px !important;
    border-radius: 0;
    box-shadow: none;
    height: 44px;
    margin: -2px 0 0 -2px;
    padding: 0;
    width: 144px !important;
}

#QuickView #qinfo #textblock1 ul.promoMsgs {
    display: table-cell;
    height: 50px;
    padding-left: 8px;
    vertical-align: middle;
    width: 167px;
}
#QuickView #qinfo #textblock1 ul.promoMsgs li:first-child {
    margin: 0 !important;
}

#QuickView #qinfo #textblock1 ul.promoMsgs li {
    display: table-cell;
    float: left;
    font-size: 10px;
    margin-top: 5px;
    vertical-align: middle;
    width: 100%;
}

#QuickView #qinfo .releasetxt {
    color: #000000;
    float: left;
    font-family: arial;
    font-size: 10px;
    font-weight: bold;
    text-align: left;
    text-transform: lowercase;
}

#QuickView #qinfo .butonblock #findInStoreActive .buttonText {
    color: #0066FF;
    display: block;
    font-size: 16px;
    font-weight: bold;
}

#QuickView #qinfo #promotions_QI {
    display: block;
    width: 100%;
    clear: both;
}

#QuickView #qinfo #promotions_QI a.layer, #QuickView #qinfo .collectionproductInfoBlock #promotions_QI a.layer {
    color: #0066FF;
    display: inline;
    float: left;
    font-size: 11px;
    font-weight: bold;
 
}

#QuickView #qinfo #promotions_QI a.layer {
   /*margin: 5px 0 0; */
}

#QuickView #qinfo .single-promotion-offer {
    border: medium none;
    color: #666666;
    display: table;
    font-size: 11px;
    font-weight: normal;
    margin: 14px 0 0 6px;
	padding: 0 0 0 6px;
}

#QuickView #qinfo .textblock p.orange-txt {
    background: none repeat scroll 0 0 transparent;
    color: #000000;
    float: left;
    font-family: arial;
    font-size: 10px;
    font-weight: bold;
    text-align: left;
}
#QuickView #qinfo #pre-order-notsell {
    clear: both;
}
#QuickView #qinfo #releaseDatetxt {
    color: #000000;
    display: block;
    font-family: Arial;
    font-size: 10px;
    font-weight: bold;
    padding-top: 40px;
    text-transform: lowercase;
    width: 275px;
}
#QuickView #qinfo .quantityBox {
    clear: both;
    float: left;
	margin-top: 25px;
    padding-bottom: 0;
    width: 260px;
}

#QuickView #qinfo .textblock p.availmsg .dateblock {
    float: none;
}
#QuickView #qinfo .dateblock {
    color: #666666;
    float: left;
    font-family: arial;
    font-size: 10px;
    font-weight: bold;
    padding: 0 0 0 5px;
    width: 83px;
}
/*Call-out*/
#QuickView #qinfo #PromoCallOut .callOutPerOffTxt {
    background: none repeat scroll 0 0 #C00;
    color: #FFF;
    font-size: 10px;
    font-weight: bold;
    padding: 3px;
    margin-bottom:0px;
    float: left;
    text-transform: uppercase;
}
#QuickView #qinfo #PromoCallOut .callOutGCLogo, #QuickView #qinfo #PromoCallOut .onlyAtTarget, #QuickView #qinfo #PromoCallOut .newAtTarget {
    background: url("../../../tff/images/eyebrowSprites.png") no-repeat scroll 0 0 transparent;
    height: 18px;
}
#QuickView #qinfo #PromoCallOut .callOutGCLogo {
    background-position: 0 -639px;
    display: inline-block;
    float: left;
    width: 30px;
}
#QuickView #qinfo #PromoCallOut .callOutGCTxt {
    color: #CC0000;
    float: left;
    margin: 5px 0 0 5px;
	font-size: 11px;
}
#QuickView #qinfo #PromoCallOut .callOutFreeGiftTxt {
    background: none repeat scroll 0 0 #CC0000;
    color: #FFFFFF;
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 2px;
    padding: 4px 5px;
    text-transform: uppercase;
}
/*shipping message*/
#QuickView #qinfo ul li p.shpPrmMsg,  #QuickView #qinfo ul li p.shippingPrmLi {
	color: #CC0000 !important;
	font-size: 10px;
}
#QuickView #qinfo ul li.shippingPrmLi{
	text-transform:uppercase;
}
#QuickView #qinfo ul li p.sesnShpMsg
,#QuickView #qinfo ul li p.handlPromoMsg{
	color: #000000;
	font-size: 11px;
}
#QuickView #qinfo #PromoCallOut .callOutAmtOffTxt{
	background:none repeat scroll 0 0 #CC0000;
    color: #FFFFFF;
    display:block;
    font-size:10px;
    font-weight:bold;
    padding:4px;
    text-transform:uppercase;
	float: left;
}
#QuickView #qinfo  li.freeshippurchase {
	font-size: 11px;
}
#QuickView #qinfo ul.promoSection, #QuickView #qinfo .collectionproductInfoBlock ul.promoSection  {
    display: inline-block;
    margin: 13px 0 0 5px;
}
#QuickView #qinfo ul.promoSection{ margin-top:0px;}
#QuickView #qinfo .collectionproductInfoBlock ul.promoSection {
    margin: 10px 0 0 5px;
}
#QuickView #qinfo .collectionproductInfoBlock .promoSection li.freeshippurchase .offerNote {
    color: #666666;
    font-size: 10px;
}
/*End of Callout and shipping*/

#QuickView .productDetails .priceSection {
    clear: both;
}
#QuickView #qinfo .module-title.salePrice span {
    color: #666666;
    font-size: 10px;
}
#QuickView #qinfo .eyebrow {
    color: #CC0000;
    font-size: 10px;
    font-weight: bold;
    position: relative;
    text-transform: uppercase;
}
.priceSection li.eyebrowtxt {
    border-right: 1px solid #666666;
    margin-right: 10px;
    margin-top: 5px;
    padding-right: 10px;
}

#QuickView .productDetails .priceSection .DisPrice {
    display: block;
    float: left;
    font-size: 10px;
    margin: 5px 0 0;
    text-transform: lowercase;
}
#QuickView .productDetails .priceSection .DisPrice {
    color: #666666;
}

.priceSection li.eyebrowtxt, .priceSection li.DisPrice {
    display: block;
    float: left;
    font-size: 10px;
}
.priceSection li.eyebrowtxt, .priceSection li.DisPrice {
    display: block;
    float: left;
    font-size: 10px;
}
#QuickView #notifyMeBtn.notifywidth {
	background: url("../../../tff/images/Orange_buttons.png") no-repeat scroll -129px center transparent !important;
	border-radius: 15px 15px 15px 15px;
	height: 0;
	width: 100px!important;
	box-shadow: 0 0 5px 0 #6C6C6C;
	margin-top: 6px;
}
#PromoCallOut .callOutGCLogo, #PromoCallOut .onlyAtTarget, #PromoCallOut .newAtTarget {
    background: url("../../../tff/images/eyebrowSprites.png") no-repeat scroll 0 0 transparent;
    height: 18px;
    width: 120px;
}

#PromoCallOut .newAtTarget {
    background-position: 0 -668px !important;
    display: inline-block;
}
#PromoCallOut .onlyAtTarget {
    background-position: 0 -696px !important;
    display: inline-block;
}

#QuickView #qinfo .extraProductInfo {
	clear: both;
	color: #999999;
	font-size: 11px;
	margin-bottom: 20px;
	width: 270px;
	float: left;
}

/*virtual bundle quick-info*/
#QuickView .virtual-bundle-quickinfo .extraProductInfo {
	clear: both;
	color: #999999;
	font-size: 11px;
	margin-bottom: 20px;
	padding-top: 7px;
	width: 270px;
	float: left;
	margin-top: 33px;
}
#QuickView .virtual-bundle-quickinfo .giftCardIcon {
	background: url("../../../tff/images/giftCard_dog.png") no-repeat scroll 0 0 transparent;
	color: #CC0000;
	font-size: 10px;
	font-weight: bold;
	height: 23px;
	left: 0;
	padding: 3px 0 0 35px;
	position: absolute;
	top: 6px;
}
#QuickView #qinfo.virtual-bundle-quickinfo .priceSection {
	padding: 7px 0 0;
}
#QuickView #qinfo.virtual-bundle-quickinfo .productName {
	padding: 9px 0 0;
}
#QuickView .virtual-bundle-quickinfo .quickInfoSumDetails {
	border-bottom: 1px solid #CCCCCC;
	min-height: 268px;
	padding-bottom: 5px;
	width: 299px;
	float: left;
}
#QuickView .virtual-bundle-quickinfo #textblock1 {
    border-bottom: 1px solid #CCCCCC !important;
    width: 299px !important;
}
#QuickView .virtual-bundle-quickinfo .bundleInfoDiv h4, 
#QuickView .virtual-bundle-quickinfo .bundleInfoDiv h3 {
	font-size: 14px;
	font-weight: bold;
}
#QuickView .virtual-bundle-quickinfo .bundleInfoDiv ul.bundleInfoSection {
	color: #666666;
	font-size: 12px;
	margin: 5px 3px;
	padding-left: 12px;
}
#QuickView .virtual-bundle-quickinfo .bundleInfoDiv ul.bundleInfoSection li {
	list-style: disc outside none;
	margin-bottom: 5px;
}
#QuickView .virtual-bundle-quickinfo .extraProductInfo {
	line-height: 16px;
}
#addtocart .addToCartHeavy .bundle-details-overlay .bundlePrice .bundleTxt, .virtual-bundle-quickinfo .bundlePrice .bundleTxt {
    color: #CC0000;
    font-size: 10px;
    font-weight: bold;
    line-height: 16px;
    padding-right: 10px;
    position: relative;
    text-transform: uppercase;
}
.bundlePrice .priceSave:before {
    border-right: 1px solid #CCCCCC;
    content: "";
    display: block;
    height: 10px;
    left: 0;
    position: absolute;
    top: 2px;
    width: 1px;
}
.bundlePrice .priceSave {
    color: #666666;
    display: inline-block;
    font-size: 11px;
    margin: 0;
    padding-left: 10px;
    position: relative;
}
#addtocart .addToCartHeavy .tileInfo .bundlePrice .strike, .virtual-bundle-quickinfo .bundlePrice .strike {
    line-height: 14px;
}
.bundlePrice .priceSave .strike {
    text-decoration: line-through;
}
#QuickView #qinfo.virtual-bundle-quickinfo .module-title.salePrice span {
    color: #666666;
    font-weight: bold;
}
#QuickView #qinfo .shipsFree {
    color: #CC0000;
    display: inline-block;
    font-size: 10px;
    margin-left: 10px;
    padding: 20px 0;
    text-align: center;
    text-transform: uppercase;
    width: 100px;
    word-wrap: break-word;
}
#babyCenter_review, #cnet_reviewQI.cnet_review {
    clear: both;
    margin: 10px 0 0;
}
#cnet_reviewQI.cnet_review a {
    display: block;
    float: left;
}
#cnet_reviewQI.cnet_review a.cnetLink {
    font-size: 11px;
    font-weight: normal;
    margin: 10px 0 0 10px;
}

.addToCartLoader {
    background-image: url("../../../tff/images/Loader_small_FNL.gif");
    background-position: left center;
    background-repeat: no-repeat;
    border-bottom: medium none;
    height: 30px;
    position: relative;
    z-index: 1;
}
.addToCartLoader .retrieved {
    color: #000000;
    font-weight: bold;
    margin-left: 60px;
    position: absolute;
    top: 10px;
}

#QuickView #qinfo .collectiontextblock {
    border-bottom: medium none;
}

.carousel-viewport ul, .carousel-viewport ul li, ul.adjacency-carousel, ul.adjacency-carousel li {
    margin: 0;
    padding: 0;
    position: relative;
}

#QuickView .productDetails #see-low-price a {
    color: #0069FF;
    font-size: 21px;
    font-weight: bold;
    letter-spacing: -1px;
    text-decoration: none;
}
#QuickView .productDetails #see-low-price a:hover {
	text-decoration: underline;
}
#QuickView #qinfo .info-footer .productWarn {
    background-position: -298px -682px;
    display: inline-block;
    height: 14px;
    left: 0;
    padding-left: 1px;
    width: 18px;
}
#QuickView #qinfo .extraCollectionLinks {
    clear: both;
    margin: 4px 0 23px;
}
#QuickView #qinfo .extraCollectionLinks .collectionLink {
    float: left;
    font-size: 11px;
    margin: 10px 35px 0 0;
    text-align: left;
    width: 125px;
}
/* R1 shop this collection Start*/

#QuickView .collectionproductInfoBlock .productDetails .add-to-cart {
    color: #0066FF;
    display: block;
    float: left;
    font-size: 11px;
    font-weight: bold;
    padding-top: 3px;
}

#qinfo .collectionproductInfoBlock .quickInfoSumDetails .rightArrow {
    background-position: -239px -1605px;
    border: medium none;
    display: inline-block;
    height: 10px;
    position: inherit;
    width: 6px;
}

/* R1 shop this collection end*/

#QuickView #qinfo .colors p.error-message {
	margin: 0px;
}

#QuickView #qinfo .info-footer ul li {
    color: #666666;
    font-size: 9px;
    list-style: disc inside none;
    margin-left: 3px;
}
#QuickView #qinfo .collectionproductInfoBlock .productName a {
    color: #3366FF;
	padding: 2px 0 0;
}

#QuickView #qinfo #promotions_QI a.layer, #QuickView #qinfo .collectionproductInfoBlock #promotions_QI a.layer {
    color: #0066FF;
    display: inline;
    float: left;
    font-size: 11px;
    font-weight: bold;
    margin:0;
}
#QuickView #qinfo .collectionproductInfoBlock #promotions_QI a.layer {
    margin: 10px 0 0;
}
#QuickView #qinfo .promoSection li.freeshippurchase .offerNote {
    border: medium none;
    color: #666666;
    display: table;
    font-size: 11px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    width: 185px;
    word-wrap: break-word;
}

#QuickView #qinfo .collectionproductInfoBlock .extraProductInfo{
	margin-bottom: 10px !important;
}
/* end */
#QuickView #qinfo #input-step-Quantity button.minus {
    background-position: 0 0;
    margin: 0 8px 0 0;
}
#QuickView #qinfo #input-step-Quantity button.plus {
    background-position: -52px 0;
    margin: 0 0 0 8px;
}
#QuickView #qinfo #input-step-Quantity button.minus, #QuickView #qinfo #input-step-Quantity button.plus {
    display: none;
}
#QuickView #qinfo #input-step-Quantity button {
    border: medium none;
    padding: 0 19px 4px 18px;
    height: 20px;
    width: 45px;
}
#QuickView #qinfo .buttonText {
    font-size: 13px;
}

#QuickView #qinfo .productDetails .mobileTextBlock {
    display: inline-block;
    padding: 30px 0 10px;
    width: 100%;
}

#QuickView #qinfo .productDetails .mobileTextBlock 

.mobileRightArrow {
    background-position: -234px -1522px;
    display: inline-block;
    height: 10px;
    margin-left: 10px;
    width: 7px;
}

#QuickView #qinfo .productDetails #shopCellPhones {
    color: #333333 !important;
    font-size: 16px;
    font-weight: bold;
}
#QuickView .productOrderBlock .quickInfoActionDetails #size_chart {
    display: block;
    float: left;
    font-size: 11px;
    font-weight: bold;
    padding: 8px 0 0 10px;
}
#QuickView #qinfo #qibuildYourBundle .buttonText {
	font-size: 13px;
}
input.quantity:focus, input.qty:focus {
    background-color: #EEEEEE;
}

#QuickView #qinfo .videoBlock .videoAnchor {
    background: url("../../../tff/images/video_sprite.png") no-repeat scroll 0 -4px;
    float: left;
    height: 45px;
    width: 50px;
}

#QuickView #qinfo .videoBlock {
    clear: both;
}

#QuickView #qinfo .mmbvVideo {
    border-left: 1px dotted #CCCCCC;
    float: left;
    left: 245px;
    margin-left: 10px;
    padding-left: 5px;
    position: absolute;
    top: 346px;
}
#QuickView #qinfo .moviedetail span {
    color: #666666;
    font-size: 11px;
    font-weight: bold;
}
#QuickView #qinfo .moviedetail a{
	font-size: 13px;
}
#QuickView #qinfo .baby360Subscribe .baby360TextBlock span.price {
	font-size: 18px!important;
	font-weight: bold!important;
	margin: 0;
}
#QuickView #qinfo .baby360Subscribe .baby360TextBlock span.priceType {
	font-size: 10px;
	margin-left: 2px;
}
#promotions_QI p#overviewPromo.single-promotion-offer {
display: table;
margin-left:0px;
}

/* Added for Coupon Promotion */

#quickInfo #promotions_QI #specialOffersInPDP {
      display:block;
} 
#quickInfo #promotions_QI #specialOffersInPDP .specialCoupons {
      display:block;
      font-family:Arial, Helvetica, sans-serif;
      font-size:11px;
      font-weight:bold;
      width:95px;
      height:13px;
      text-align:left;
      text-decoration:none;
      padding-bottom: 10px;
      background: url("../../../tff/images/product-details/tgt_coupons_scissor.png") no-repeat;
}
#quickInfo #promotions_QI .specialMessage {
      padding-top:10px;
      font-size:11px;
      font-weight:bold;
      width:auto;
      text-align:left;
      
}
#quickInfo #promotions_QI #specialOffersInPDP .specialCouponsChanged {
      color: #50821E;
    font-weight: bold;
    padding-bottom: 10px;
    text-align: left;
    height:13px;
}
#quickInfo #promotions_QI #specialOffersInPDP .specialCouponsWarning {
    font-size:11px;
    font-weight:bold;
    color:#B70000;
    text-align:left;
    height:24px;
    display:block;
    padding-bottom:10px;
    width: 190px;
}
#quickInfo #promotions_QI #specialOffersInPDP .specialCoupWarn {
   display:block;
}
#quickInfo #promotions_QI #specialOffersInPDP .specialCoupWarnRefres {
    color:#B70000;
}
.modalWindow.modalType-esrbWarning .buttonList .buttonUnit .buttonFrame {
    float: left;
    width: 88px;
}
#QuickView #qinfo .info-footer ul li.firstChild {
    list-style: none outside none;
    margin-left: 0;
}
#QuickView #qinfo .info-footer.legal ul {
    height: 45px;
}

#QuickView .newerrorfield p.error-message{
       font-size:11px !important;
       background:none;
       margin:0; 
       padding:0 0 0 2px !important; 
       line-height:11px !important;font-weight:400
} 
 /*breaking the quantity box alignment. Make it local if required and uncomment. */
#QuickView .input-step .required, #QuickView .required{
       float:left;
}

#QuickView .productDetails #input-step-sizeSelection select.sizeSelection
{
	/*outline:none;*/
	-webkit-appearance:none;
	border-radius:2px;
	width:210px;
	border:1px solid #999;
	padding:8px 0 8px 5px;
	background: url('../../../tff/images/dropdownarrow.png') no-repeat 95% 43%;
	
}
@-moz-document url-prefix() { 
   #QuickView select {
      background:none !important;
   }
}

.ie #QuickView select.sizeSelection{
       background:none !important;
       height:25px !important;
       padding:0 0 0 2px !important;
}
#QuickView #input-step-sizeSelection{
       width:100% !important;
       
}

#QuickView .input-step label{
       display:inline-block !important
}
.clearboth{
       clear:both;
       float:left;
       width:100%
} 
#QuickView #size_chart, #QuickView #sizeChartOverlay{
       margin-top:12px
}
#QuickView .productDetails .colors label.leftFloat
{
    margin-bottom:3px
    }
#QuickView .colors #input-step-send-payment-type
{
    margin:18px 0 0 0;
    }
    
#QuickView form #input-step-send-payment-type .input-group-title
{
    margin:0;
    }
    
#QuickView form #input-step-send-payment-type .input-group-title legend
{
    margin: 0 0 4px; font-size:12px;
    }
    
#QuickView .productDetails .colors .giftAmount label
{
    float:left
    }




