img {
	border-style: none;
}

a {
	color: #010101;
	text-decoration: none;
}

	a:hover {
		text-decoration: underline;
	}

input,
select {
	font: 100% Arial, Helvetica, sans-serif;
	vertical-align: middle;
	color: #000;
}

.validator {
	vertical-align: middle;
}


form,
fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}

q {
	quotes: none;
}

	q:before {
		content: '';
	}

	q:after {
		content: '';
	}
/* wrapper */
#mw-wrapper {
	width: 100%;
	overflow: hidden;
	position: relative;
}
/* w1 */
.w1 {
	margin: 0 -5px;
}
/* w2 */
.w2 {
	width: 1010px;
	margin: 0 auto 5px;
	border: solid #039;
	border-width: 1px;
	background: #fff;
}
/* header */
#header {
	margin: 0 0 17px;
}

#mw-wrapper .header-sub {
	margin: 0;
}

#header img {
	display: block;
}

#main {
	margin: 0 0 28px;
}

#mw-wrapper .main-sub {
	margin: 0;
}

#mw-wrapper .main-frame {
	overflow: hidden;
	padding: 0 0 17px;
	margin: 0 0 27px;
	background: url(../images/bg-table-1.gif)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-table-1.gif*/ repeat-x 0 100%;
}
/* breadcrumbs */
.breadcrumbs-holder {
	overflow: hidden;
	padding: 0 0 4px 8px;
}

.breadcrumbs {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 1010px;
	overflow: hidden;
	color: #001e5c;
	font: bold 11px/13px Arial, Helvetica, sans-serif;
}

	.breadcrumbs li {
		float: left;
		background: url(../images/arrow.gif)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/arrow.gif*/ no-repeat 0 3px;
		padding: 0 15px 0 10px;
		margin: 0 0 0 -10px;
	}

	.breadcrumbs a {
		color: #001e5c;
		font-weight: normal;
	}

#main h2 {
	margin: 0 0 49px;
	padding: 6px 0 5px 10px;
	font: bold 12px/14px Arial, Helvetica, sans-serif;
	color: #fff;
	background: #1e3694 url(../images/bg-title.gif)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-title.gif*/ repeat-x;
}

.main-holder {
	overflow: hidden;
	padding: 0 69px 0 47px;
}

	.main-holder .legacy {
		text-align: center;
		font-size: 14px;
	}

		.main-holder .legacy a {
		}

/* block */
.block-form {
	width: 698px;
	margin: 0 0 17px;
	padding: 10px 0 0 0;
	background: url(../images/bg-block2.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-block2.png*/ repeat-y -2207px 0; /* inside content */
	float: left;
}

	/*.block-form .holder {
		background: url(../images/bg-block2.png) no-repeat;
	}*/

	.block-form .frame {
		background: url(../images/bg-block2.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-block2.png*/ no-repeat -926px 100%; /* bottom curve */
		overflow: hidden;
		height: 1%;
		padding: 31px 20px 27px 10px;
	}

	.block-form .section-title {
		position: absolute;
		margin-top: -20px;
		font-size: 12px;
		font-weight: bold;
		color: #003366;
	}

		.block-form .section-title strong {
			font-family: 'Arial Black', Gadget, sans-serif;
		}

.block-form-2 {
	width: 698px;
	margin: 0 0 17px;
	background: url(../images/bg-search-698.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-search-698.png*/ no-repeat 0 0;
	height: 80px;
	float: left;
}

	.block-form-2 .frame {
		overflow: hidden;
		height: 1%;
		padding: 31px 20px 27px 21px;
	}

	.block-form-2 .section-title {
		position: absolute;
		margin-top: -20px;
		font-size: 12px;
		font-weight: bold;
		color: #003366;
	}

		.block-form-2 .section-title strong {
			font-family: 'Arial Black', Gadget, sans-serif;
		}


.block-form-right {
	float: right;
}

	.block-form-right .prev-search-image {
		background: url(../images/ScreenShotBtn.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/ScreenShotBtn.png*/ no-repeat;
		width: 178px;
		height: 109px;
		padding: 0;
		margin: 0;
	}

	.block-form-right .section-title {
		position: absolute;
		margin-top: -20px;
		font-size: 12px;
		font-weight: bold;
		padding-left: 10px;
	}

		.block-form-right .section-title a {
			color: #003366;
		}



/* form */
.form-search {
	width: 670px;
	float: left;
	margin: 0 15px 0 0;
}

	.form-search .more {
		/*
	float:left;
	width:67px;
	height:18px;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/btn-invoices.png) no-repeat 0 0;		
	*/
		float: left;
		width: 24px;
		height: 18px;
		text-indent: -9999px;
		overflow: hidden;
		background: url(../images/sprite.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/sprite.png*/ no-repeat -121px 0;
	}

	.form-search .row {
		float: left;
		width: 377px;
		height: 18px;
		margin: 0 13px 0 0;
		overflow: hidden;
		background: url(../images/sprite.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/sprite.png*/ no-repeat -1px -34px;
	}

	.form-search input {
		width: 363px;
		padding: 2px 10px 0 3px;
		margin: 0;
		border: none;
		background: none;
		font: italic 13px/15px Arial, Helvetica, sans-serif;
	}

	.form-search .submit {
		width: 74px;
		height: 27px;
		margin: -5px 0 0;
		padding: 0 0 1px;
		letter-spacing: 1px;
		float: left;
		border: none;
		cursor: pointer;
		color: #000;
		font: 11px/14px Arial, Helvetica, sans-serif;
		text-transform: uppercase;
		background: url(../images/sprite.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/sprite.png*/ no-repeat;
	}

		.form-search .submit:hover {
			cursor: pointer;
		}

.block-form .search {
	color: #000;
	font-weight: bold;
	font-size: 10px;
	line-height: 15px;
	text-transform: uppercase;
	text-decoration: none;
	float: right;
}



.block-form-2 .search {
	color: #000;
	font-weight: bold;
	font-size: 10px;
	line-height: 15px;
	text-transform: uppercase;
	text-decoration: none;
	float: right;
}

	.block-form-2 .search:hover {
		text-decoration: underline;
	}

.search-type-wrapper .search-type-button {
	display: block;
	float: left;
	width: 80px;
	height: 19px;
	font-size: 10px;
	font-family: 'Arial Narrow', 'Nimbus Sans L', sans-serif;
	font-style: normal;
	font-weight: bold;
	color: #000;
	text-indent: 17px;
	line-height: 15px;
	margin-right: 5px;
	border-right: 1px solid #aaa;
	background: url(../images/sprite2.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/sprite2.png*/ no-repeat -123px -66px !important;
	cursor: pointer;
}

.select-search-type {
	display: inline;
}

	.select-search-type .search-type-text {
		float: left;
		line-height: 15px;
		text-indent: -9999px;
	}

	.select-search-type .search-type-icon {
	}

.search-type-options {
	display: block;
	position: absolute;
	margin-top: 18px;
	width: 300px;
	background-color: #fff;
	border: 1px solid #666;
}


	.search-type-options ul {
		display: inline;
		list-style-type: none;
		list-style-image: none;
	}

	.search-type-options li {
		float: left;
		padding: 5px;
		cursor: pointer;
		margin: 2px;
	}

		.search-type-options li:hover {
			color: #fff;
			background-color: #666;
		}



.block-form .search:hover {
	text-decoration: underline;
}
/* block */
.container {
	overflow: hidden;
	margin: 0 0 0 1px;
}

#main .container h2 {
	margin: 0 0 5px 2px;
	padding: 0;
	word-spacing: 2px;
	font-size: 11px;
	line-height: 13px;
	text-transform: uppercase;
	color: #001e5c;
	background: none;
}
/* table  most recent orders */
.table {
	width: 887px;
	overflow: hidden;
	border: 1px solid #039;
}

	.table .row-1.even {
		background: #eee8dc;
	}

	.table .col-1 {
		width: 117px;
		font: bold 11px/13px Arial, Helvetica, sans-serif;
		color: #001e5c;
	}

	.table .row .col-1 {
		width: 118px;
	}

	.table .row .col-2 {
		width: 249px;
	}

	.table .row .col-3 {
		width: 153px;
	}

	.table .row .col-4 {
		width: 126px;
	}

	.table .row .col-5 {
		width: 139px;
	}

	.table .row .col-6 {
		width: 102px;
	}

	.table .row .item {
		width: 12px;
		height: 12px;
		margin-right: 10px;
		text-indent: -9999px;
		overflow: hidden;
		background: url(../images/sprite.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/sprite.png*/ no-repeat -85px -65px;
		color: transparent;
		cursor: help;
		float: right;
	}

	.table .col-2 {
		width: 245px;
		color: #444;
		font: 11px/13px Arial, Helvetica, sans-serif;
	}

	.table .col-3 {
		width: 152px;
		color: #444;
		font: 11px/13px Arial, Helvetica, sans-serif;
	}

	.table .col-4 {
		width: 155px;
	}

	.table .col-5 {
		width: 138px;
	}

	.table .col-6 {
		width: 101px;
	}

		.table .col-6 span {
			background: none;
		}

.row {
	overflow: hidden;
}

	.row .col-2,
	.row .col-3,
	.row .col-1,
	.row div {
		float: left;
		text-align: center;
		color: #fff;
		font: 12px/15px Arial, Helvetica, sans-serif;
		background: #1e3694 url(../images/bg-heading.gif)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-heading.gif*/ repeat-x;
	}

		.row div span {
			display: block;
			padding: 4px 1px 5px 0;
			background: url(../images/separator.gif)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/separator.gif*/ no-repeat 100% 0;
		}

.row-1 {
	overflow: hidden;
}

	.row-1 div {
		float: left;
		text-align: center;
		padding: 5px 0 3px;
		border-right: 1px solid #597abd;
	}

.table .row-1 .col-6 {
	border-right: 1px solid #fff;
}

.row-1 .col-1 {
	font: bold 11px/13px Arial, Helvetica, sans-serif;
	color: #001e5c;
}

.row-1 .col-2 {
	text-align: left;
	padding-left: 3px;
}

.row-1 .col-6,
.row-1 .col-5,
.row-1 .col-4 {
	font: 11px/13px Arial, Helvetica, sans-serif;
	color: #424242;
	width: 125px;
	text-align: left;
	/*padding:4px 0 4px 39px;*/
}

.row-1 .col-4 {
	font: 11px/13px Arial, Helvetica, sans-serif;
	color: #424242;
	width: 105px;
	text-align: left;
	padding: 4px 0 4px 20px;
}

.row-1 .col-5 {
	width: 105px;
	text-align: left;
	padding: 4px 0 4px 33px;
}

.row-1 .col-6 {
	width: 101px;
	text-align: center;
	padding: 5px 0 3px;
}
/* inner */
/* main */
.main-bar {
	overflow: hidden;
	padding: 2px 11px 1px 8px;
	background: url(../images/bg-paging.gif)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-paging.gif*/ repeat-y 100% 0;
	text-align: right;
}
	/* block */
	* + html .main-bar .section {
		display: inline;
	}

	.main-bar .section {
		display: inline-block;
		padding: 2px 0 0;
		vertical-align: top;
	}

	.main-bar .breadcrumbs {
		float: left;
		width: auto;
		padding: 4px 0 6px;
	}
	/* block */
	.main-bar .block {
		padding: 2px 0 0;
		display: inline;
	}

		.main-bar .block span {
			float: right;
			padding: 1px 0 0;
			color: #cbcbcb;
		}
/* paging */
.paging {
	float: right;
	margin: 0;
	padding: 1px 0 0;
	list-style: none;
	color: #fff;
	font-size: 12px;
	line-height: 16px;
}

	.paging li:first-child {
		background: none;
	}

	.paging li.firstpage {
		background: none;
	}

	.paging li {
		float: left;
		margin: 0 4px 0 0;
		padding: 0 0 0 4px;
		background: url(../images/separator-1.gif)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/separator-1.gif*/ no-repeat 0 3px;
	}

		.paging li strong {
			display: block;
			padding: 0 0 0 2px;
		}

		.paging li a {
			color: #cbcbcb;
			font-weight: normal;
		}

	.paging .next {
		background: none;
		padding: 3px 0 0 2px;
		margin: 0;
	}

		.paging .next a {
			text-align: left;
			float: left;
			width: 5px;
			height: 9px;
			text-indent: -9999px;
			overflow: hidden;
			padding: 0;
			color: #d00;
			background: url(../images/sprite.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/sprite.png*/ no-repeat -88px -90px;
		}

	.paging .previous {
		background: none;
		padding: 3px 2px 0 5px;
		margin: 0;
	}

		.paging .previous a {
			text-align: left;
			float: left;
			width: 5px;
			height: 9px;
			text-indent: -9999px;
			overflow: hidden;
			padding: 0;
			color: #d00;
			background: url(../images/sprite.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/sprite.png*/ no-repeat -104px -90px;
		}


* + html .form-select {
	display: inline;
}
/* form */
.form-select {
	display: inline-block;
	margin: 0 26px 0 0;
}

	.form-select fieldset {
		float: right;
	}

	.form-select select {
		width: 50px;
		padding: 0;
		margin: 0;
		font: 12px/15px Arial, Helvetica, sans-serif;
		float: left;
	}

	.form-select label {
		float: left;
		margin: 3px 14px 0 0;
		font-size: 12px;
		line-height: 14px;
		color: #fff;
	}
/* table */
.table-sub {
	width: 1010px;
	border: solid #039;
	border-width: 1px 0;
}

	.table-sub .last div {
		padding: 5px 0 34px;
	}

	.table-sub .last .col-4 {
		padding: 5px 0 34px 42px;
	}

	.table-sub .col-1 {
		width: 136px;
	}

		.table-sub .col-1 a {
			color: #001E5C;
		}

	.table-sub .col-2 {
		width: 233px;
		padding-left: 3px;
	}

	.table-sub .col-3 {
		width: 164px;
	}

	.table-sub .col-4 {
		padding: 4px 0 4px 42px;
		width: 125px;
	}

	.table-sub .col-5 {
		width: 125px;
		padding: 4px 0 0 40px;
		text-align: left;
	}

	.table-sub .col-6 {
		width: 136px;
	}

	.table-sub .row .col-1 {
		width: 137px;
	}

	.table-sub .row .col-2 {
		width: 234px;
	}

	.table-sub .row .col-3 {
		width: 165px;
	}

	.table-sub .row .col-4 {
		width: 168px;
		padding: 0;
	}

	.table-sub .row .col-5 {
		width: 166px;
		padding: 0;
		text-align: center;
	}

	.table-sub .row .col {
		position: relative;
	}

	.table-sub .row .col-6 {
		width: 137px;
	}

	.table-sub .row .arrows {
		position: absolute;
		width: 7px;
		height: 11px;
		left: 14px;
		top: 6px;
		padding: 0;
		margin: 0;
		list-style: none;
		line-height: 0;
		font-size: 0;
	}

		.table-sub .row .arrows li {
			padding: 3px 0 0;
		}

			.table-sub .row .arrows li:first-child {
				padding: 0;
			}

		.table-sub .row .arrows a {
			display: block;
			height: 4px;
			text-indent: -9999px;
			overflow: hidden;
			cursor: pointer;
			background: url(../images/bg-arrows.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-arrows.png*/ no-repeat;
			position: relative;
		}

		.table-sub .row .arrows .arrow-down {
			background-position: 0 -7px;
		}

		.table-sub .row .arrows .active .arrow-up,
		.table-sub .row .arrows .arrow-up:hover {
			background-position: 0 -14px;
		}

		.table-sub .row .arrows .inactive .arrow-up {
			background-position: 0 -28px;
		}

		.table-sub .row .arrows .active .arrow-down,
		.table-sub .row .arrows .arrow-down:hover {
			background-position: 0 -21px;
		}

		.table-sub .row .arrows .inactive .arrow-down {
			background-position: 0 -35px;
		}

	.table-sub .row .col:hover {
		font-weight: bold;
	}

		.table-sub .row .col:hover .arrow {
			background-position: 0 -11px;
		}

	.table-sub .row span {
		padding: 5px 20px 5px 20px;
		font: 12px/14px Arial, Helvetica, sans-serif;
	}

	.table-sub .row .item {
		width: 12px;
		height: 12px;
		position: absolute;
		right: 7px;
		top: 6px;
		text-indent: -9999px;
		overflow: hidden;
		background: url(../images/sprite.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/sprite.png*/ no-repeat -85px -65px;
		cursor: help;
	}

.table .row-1 .hover-style {
	background: #ecf5ff;
}

.table .row-1.even .hover-style {
	background: #dddfdc;
}

#main .area-holder {
	overflow: hidden;
	text-align: center;
}

* + html #main .export {
	display: inline;
}

#main .export {
	display: inline-block;
	padding: 5px 35px 5px 0;
	font-size: 12px;
	line-height: 14px;
	color: #001e5c;
	background: url(../images/bg-export.gif)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-export.gif*/ no-repeat 100% 0;
}
/* popup */
.popup {
	width: 727px;
	overflow: hidden;
	position: absolute;
	top: -9999px;
	left: -9999px;
	margin: 0 auto;
	display: inherit;
}

	.popup .top {
		height: 243px;
		background: url(../images/bg-box.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-box.png*/ no-repeat;
	}

	.popup .bottom {
		width: 100%;
		height: 64px;
		margin: 0;
		overflow: hidden;
		background: url(../images/bg-bottom.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-bottom.png*/ no-repeat;
	}

	.popup .center:after {
		content: '';
		display: block;
		clear: both;
	}

	.popup .center {
		width: 100%;
		padding: 0;
		background: url(../images/bg-center.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-center.png*/ repeat-y;
	}

	* + html .popup .content {
		margin: -230px 0 -62px;
	}

	.popup .content {
		width: 680px;
		padding: 0 15px 0 27px;
		overflow: hidden;
		float: left;
		position: relative;
		margin: -230px 0 -47px;
	}

	.popup h3 {
		margin: 0 0 10px;
		font-size: 11px;
		line-height: 13px;
		color: #3e3e3e;
		font-family: Arial, Helvetica, sans-serif;
	}
	/* button */
	.popup .close {
		position: absolute;
		right: 25px;
		top: 5px;
		width: 28px;
		height: 6px;
		text-indent: -9999px;
		overflow: hidden;
		background: url(../images/sprite.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/sprite.png*/ no-repeat -176px 0;
	}
	/* form */
	.popup .search-form {
		overflow: hidden;
	}

	.popup .box {
		float: left;
		width: 333px;
		margin: 0 2px 0 0;
		background: url(../images/bg-center-1.gif)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-center-1.gif*/ repeat-y;
	}

		.popup .box .holder {
			background: url(../images/bg-top.gif)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-top.gif*/ no-repeat;
		}

		.popup .box .frame {
			background: url(../images/bg-bottom-1.gif)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-bottom-1.gif*/ no-repeat 1px 100%;
			overflow: hidden;
			height: 1%;
			min-height: 72px;
			padding: 13px 5px 10px 15px;
		}

		.popup .box .heading {
			display: block;
			margin: 0 0 10px;
			font-size: 11px;
			line-height: 13px;
			color: #000;
			font-family: Arial, Helvetica, sans-serif;
		}

.calendar-holder {
	overflow: hidden;
	padding: 4px 0 0;
	margin: 0 0 0 5px;
}

	.calendar-holder label {
		float: left;
		margin: 5px 4px 0 0;
		font-size: 12px;
		line-height: 14px;
	}

	.calendar-holder .row {
		float: left;
		width: 95px;
		height: 22px;
		margin: 0 29px 0 0;
	}

	.calendar-holder input {
		width: 66px;
		padding: 4px 3px 2px 2px;
		margin: 0 5px 0 0;
		background: url(../images/sprite.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/sprite.png*/ no-repeat 0 0px;
		text-align: center;
		border: none;
		float: left;
		font: 12px/12px Arial, Helvetica, sans-serif;
	}

	.calendar-holder .open,
	.ui-datepicker-trigger {
		float: left;
		width: 16px !important;
		height: 15px;
		margin: 4px 0 0 0;
		text-indent: -9999px;
		overflow: hidden;
		background: url(../images/sprite.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/sprite.png*/ no-repeat -333px 0;
	}

.ui-datepicker-trigger {
	border: 0;
}
/* blcok */
.area-block {
	overflow: hidden;
	margin: 0 0 0 30px;
}

	.area-block .col {
		float: left;
		padding: 0 7px 0 0;
	}

	.area-block .col-1 {
		float: left;
		width: 60px;
	}

	.area-block .col-2 {
		width: 113px;
	}

	.area-block label {
		float: left;
		padding: 2px 0 0;
		font: 10px/12px Arial, Helvetica, sans-serif;
		color: #000;
	}

	.area-block .checkbox {
		float: left;
		width: 15px;
		height: 15px;
		margin: 0 5px 0 0;
		padding: 0;
	}

	.area-block .row-1 {
		overflow: hidden;
		padding: 0 0 8px;
	}

* + html .popup .title {
	overflow: hidden;
}

	.popup .title:after {
		content: '';
		display: block;
		clear: both;
	}

.popup .title {
	margin: 0 0 9px 2px;
}

	.popup .title .radio {
		float: left;
		width: 16px;
		height: 16px;
		padding: 0;
		margin: 0 2px 0 0;
	}

	.popup .title label {
		float: left;
		color: #000;
		margin: 2px 0 0;
		letter-spacing: 1px;
		font: bold 11px/13px Arial, Helvetica, sans-serif;
	}

.block-sub .col-1 {
	width: 108px;
	padding: 0;
}

.block-sub .col-2 {
	width: 118px;
	padding: 0 5px 0 0;
}

.block-container {
	overflow: hidden;
	margin: 0 0 0 1px;
	padding: 0 0 15px;
}

.popup .button {
	float: right;
	width: 78px;
	height: 28px;
	margin: 0;
	padding: 2px 0 0;
	letter-spacing: 1px;
	cursor: pointer;
	font-size: 11px;
	line-height: 13px;
	color: #000;
	border: none;
	background: url(../images/sprite.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/sprite.png*/ no-repeat -228px 0;
}

	.popup .button:hover {
		cursor: pointer;
	}

#footer {
	overflow: hidden;
}
/* inner page */
.main-holder2 {
	padding: 0 0 11px;
	background: #5f6374 url(../images/bg-main-holder.gif)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-main-holder.gif*/ repeat-x;
}

	.main-holder2 .main-bar {
		background: none;
	}

.order-section {
	color: #414040;
	width: 991px;
	overflow: hidden;
	margin: 0 auto;
	background: url(../images/bg-order-section-t.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-order-section-t.png*/ no-repeat;
}

	.order-section .section-holder {
		background: url(../images/bg-order-section-b.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-order-section-b.png*/ no-repeat 0 100%;
		padding: 12px 0;
		overflow: hidden;
	}

	.order-section .section-frame {
		background: url(../images/bg-order-section-c.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-order-section-c.png*/ repeat-y;
		float: left;
	}

	.order-section .section-content {
		position: relative;
		padding: 0 7px;
		float: left;
		margin: -5px 0;
		width: 977px;
	}

.order-box {
	float: right;
	width: 362px;
	margin: 0 0 0 20px;
	background: url(../images/bg-order-box-t.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-order-box-t.png*/ no-repeat;
}

	.order-box .holder {
		padding: 151px 0 17px;
		overflow: hidden;
		background: url(../images/bg-order-box-b.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-order-box-b.png*/ no-repeat 0 100%;
	}

	.order-box .frame {
		float: left;
		width: 362px;
		background: url(../images/bg-order-box-c.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-order-box-c.png*/ repeat-y;
	}

	.order-box .content {
		float: left;
		margin: -140px 0 0;
		position: relative;
		width: 318px;
		padding: 0 22px 9px;
	}

	.order-box ul {
		margin: 0;
		padding: 0;
		list-style: none;
		overflow: hidden;
		color: #414040;
		line-height: 18px;
	}

	.order-box li {
		vertical-align: top;
		height: 1%;
		overflow: hidden;
		margin: -1px 0 1px;
		padding: 7px 0 8px;
		background: url(../images/divider-01.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/divider-01.png*/ no-repeat;
	}

	.order-box .heading-row {
		font-size: 16px;
		line-height: 19px;
	}

	.order-box li strong {
		float: left;
		width: 70px;
		padding: 0 3px 0 0;
	}

	.order-box li .mw_text {
		height: 1%;
		overflow: hidden;
	}

		.order-box li .mw_text strong {
			float: none;
			display: block;
			width: 100%;
		}

	.order-box address {
		display: block;
		font-style: normal;
	}

		.order-box address span {
			display: block;
		}

.order-content {
	height: 1%;
	padding: 4px 20px 0 20px;
	overflow: hidden;
}

	.order-content .title {
		background: url(../images/divider-02.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/divider-02.png*/ no-repeat 0 100%;
		font-size: 18px;
		line-height: 22px;
		padding: 9px 0;
		margin: 0 0 -1px;
	}

	.order-content .container {
		overflow: hidden;
	}

	.order-content .col-01 {
		float: left;
		width: 200px;
		margin: 0 0px -999px 0;
		padding: 3px 10px 999px 0;
		border-right: 1px solid #a0a0a0;
	}

	.order-content ul {
		margin: 0;
		padding: 0;
		list-style: none;
		line-height: 23px;
	}

		.order-content ul li span {
			float: right;
		}

	.order-content li {
		vertical-align: top;
		height: 1%;
	}

	.order-content .col-02 {
		height: 1%;
		overflow: hidden;
		padding: 3px 0 0;
	}

		.order-content .col-02 .item {
			width: 12px;
			height: 12px;
			margin-right: 35px;
			margin-top: -18px;
			text-indent: -9999px;
			overflow: hidden;
			background: url(../images/sprite2.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/sprite2.png*/ no-repeat -85px -65px;
			color: transparent;
			cursor: help;
			float: right;
		}

		.order-content .col-02 ul {
			margin-left: 8px;
		}

			.order-content .col-02 ul span {
				text-align: left;
				width: 160px;
			}

	.order-content .col-03 {
		height: 1%;
		overflow: hidden;
		padding: 3px 0 0;
		background: url(../images/divider-01.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/divider-01.png*/ no-repeat 0 0;
		line-height: 21px;
		margin-top: 10px;
	}

		.order-content .col-03 ul {
			margin: 10px 0px 0px 8px;
			float: left;
			width: 120px;
		}

			.order-content .col-03 ul.mw-total {
				margin-top: 8px 0px 0px 8px;
				float: right;
				width: 162px;
			}

.table-caption {
	color: #fff;
	font: bold 12px/25px Arial, Helvetica, sans-serif;
	background: url(../images/bg-title.gif)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-title.gif*/ repeat-x;
	padding: 0 15px;
}

	.table-caption h1 {
		margin: 0;
		font: bold 12px/25px Arial, Helvetica, sans-serif;
	}

.inner-table {
	border-top: 1px solid #4f4f4f;
	background: #313131;
	background: url(../images/bg-innertable.gif)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-innertable.gif*/ repeat-y 0 0;
	height: 1%;
	padding-bottom: 6px;
}

	.inner-table .table-holder {
		border-top: 1px solid #fff;
	}

	.inner-table .table-heading {
		padding: 4px 0 15px 15px;
		color: #fff;
		height: 1%;
		background: #6f6f6f url(../images/bg-table-heading.gif)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-table-heading.gif*/ repeat-x 0 100%;
	}

		.inner-table .table-heading:after {
			display: block;
			clear: both;
			content: '';
		}

		.inner-table .table-heading .cell-01 {
			float: left;
			width: 430px;
			padding: 0 13px 0 0;
		}

			.inner-table .table-heading .cell-01 .seperator {
				float: left;
				line-height: 24px;
				padding-right: 5px;
			}

			.inner-table .table-heading .cell-01 p:first-child {
				padding-right: 5px;
			}

			.inner-table .table-heading .cell-01 strong span {
				color: #ffcd38;
			}

	.inner-table p {
		margin: 0;
	}

	.inner-table .container {
		margin: 0 0 -2px;
		line-height: 25px;
	}

		.inner-table .container p {
			float: left;
		}

.btn-item {
	float: left;
	width: 22px;
	height: 25px;
	background: url(../images/ico-01.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/ico-01.png*/ no-repeat;
	text-indent: -9999px;
	overflow: hidden;
	margin: 0 5px;
}

.inner-table .table-heading .cell-02,
.inner-table .table-heading .cell-03,
.inner-table .table-heading .cell-04 {
	float: left;
	width: 166px;
	line-height: 18px;
	padding: 3px 10px 0 0;
	color: #fff;
}

.inner-table .table-heading .mw_text {
	font-size: 14px;
	color: #FFFFFF;
}

.inner-table .table-heading .cell-03 {
	width: 159px;
}

.inner-table .table-heading .cell-04 {
	width: 204px;
	padding: 3px 0 0;
}

.inner-table .table-heading a {
	color: #fff;
	text-decoration: underline;
}

	.inner-table .table-heading a:hover {
		text-decoration: none;
	}

.inner-table .table-row {
	color: #2d2d2d;
	font-size: 11px;
	margin: 0 0 6px 17px;
	width: 1000px;
}

	.inner-table .table-row:after {
		content: '';
		display: block;
		clear: both;
	}

	.inner-table .table-row .col-01,
	.inner-table .table-row .col-02,
	.inner-table .table-row .col-03,
	.inner-table .table-row .col-04,
	.inner-table .table-row .col-05 {
		border: solid #fff;
		border-width: 1px 0 1px 1px;
		background: #d1d1d1;
		float: left;
		padding: 13px 9px 16px;
		line-height: 16px;
		height: 32px;
		width: 128px;
	}

	.inner-table .table-row .col-02 {
		padding: 13px 10px 16px 24px;
		width: 89px;
	}

	.inner-table .table-row .col-03 {
		padding: 13px 10px 16px 41px;
		width: 218px;
	}

	.inner-table .table-row .col-04 {
		border-width: 1px 0;
		width: 281px;
	}

	.inner-table .table-row .col-05 {
		width: 128px;
		padding: 13px 10px 16px 15px;
	}

	.inner-table .table-row strong {
		display: block;
		font-size: 14px;
		font-weight: bold;
	}
/*
.inner-table .table-row:hover .col-01,
.inner-table .table-row:hover .col-02,
.inner-table .table-row:hover .col-03,
.inner-table .table-row:hover .col-04,
.inner-table .table-row:hover .col-05{
	background:#9baae3 url(../images/bg-row-h.gif) repeat-x;
}
*/

.inner-table .backorder-row .col-01,
.inner-table .backorder-row .col-02,
.inner-table .backorder-row .col-03,
.inner-table .backorder-row .col-04,
.inner-table .backorder-row .col-05 {
	background: #9baae3 url(../images/bg-row-h.gif)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-row-h.gif*/ repeat-x;
}

.inner-table .last-row {
	margin-bottom: 0;
}

.inner-table .inner-container {
	margin: -3px 0 0;
	position: relative;
	width: 100%;
}

	.inner-table .inner-container:after {
		content: '';
		display: block;
		clear: both;
	}
	/* icon for tracking pop-up */
	.inner-table .inner-container strong {
		float: left;
		margin-top: 2px;
		padding: 0px 4px 0px 0;
		margin-right: 2px;
	}

.btn-ico-02 {
	text-indent: -9999px;
	overflow: hidden;
	width: 41px;
	height: 25px;
	float: right;
	cursor: pointer;
	background: url(../images/ico-02.gif)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/ico-02.gif*/ no-repeat;
}

.inner-table .inner-container strong a {
	text-decoration: underline;
}

	.inner-table .inner-container strong a:hover {
		text-decoration: none;
	}

.inner-table .table-row:hover .btn-ico-02 {
	background-position: 0 -25px;
}

.inner-table .heading-02 {
	padding: 4px 0 15px 15px;
}

	.inner-table .heading-02 .cell-01 {
		padding: 5px 13px 0 0;
		line-height: 18px;
	}

.table-02 {
	padding: 0 0 1px;
}

.inner-table .toggle-block {
	height: 1%;
	position: relative;
}

	.inner-table .toggle-block:after {
		display: block;
		clear: both;
		content: '';
	}

	.inner-table .toggle-block p {
		float: left;
		line-height: 24px;
	}


.slide {
	position: absolute;
	top: 0;
	left: 0;
	color: #020202;
	display: none;
}

.slide-long {
	width: 692px;
	left: 154px;
	top: -6px;
	background: url(../images/bg-slide-long-t.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-slide-long-t.png*/ no-repeat;
}

	.slide-long .slide-holder {
		background: url(../images/bg-slide-long-b.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-slide-long-b.png*/ no-repeat 0 100%;
		overflow: hidden;
		padding: 141px 0 21px;
	}

	.slide-long .slide-frame {
		background: url(../images/bg-slide-long-c.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-slide-long-c.png*/ repeat-y;
		float: left;
		width: 692px;
	}

	.slide-long .slide-content {
		float: left;
		position: relative;
		margin: -133px 0 -10px;
		width: 668px;
		padding: 0 12px;
	}

	.slide-long .inner-block {
		width: 666px;
		background: url(../images/bg-inner-block-t.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-inner-block-t.png*/ no-repeat;
	}

		.slide-long .inner-block .holder {
			background: url(../images/bg-inner-block-b.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-inner-block-b.png*/ no-repeat 0 100%;
			overflow: hidden;
			padding: 103px 0 15px;
		}

		.slide-long .inner-block .frame {
			background: url(../images/bg-inner-block-c.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-inner-block-c.png*/ repeat-y;
			float: left;
			width: 666px;
		}

		.slide-long .inner-block .content {
			float: left;
			position: relative;
			margin: -100px 0 -10px;
			width: 642px;
			padding: 0 12px;
		}

.toggle-block .slide p {
	margin: 0;
	line-height: 16px;
}

.slide .slide-heading {
	overflow: hidden;
	padding: 5px;
}

	.slide .slide-heading strong {
		float: left;
	}

	.slide .slide-heading .opener {
		float: right;
		color: #7e7e7e;
		font-size: 10px;
		line-height: 14px;
		font-weight: bold;
		text-decoration: none;
	}

		.slide .slide-heading .opener:hover {
			text-decoration: underline;
		}

.slide-list {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}

	.slide-list li {
		background: url(../images/divider-03.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/divider-03.png*/ no-repeat 50% 0;
		margin: -1px 0 1px;
		padding: 7px 0;
	}

		.slide-list li .visual {
			cursor: default;
			float: left;
			padding: 3px;
			width: 39px;
			height: 39px;
			margin: 0 13px 0 0;
			background: url(../images/bg-visual.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-visual.png*/ no-repeat;
		}

.visual img {
	display: block;
}

.slide-list .info {
	float: right;
	padding: 10px 0 0;
	color: #000;
	font: bold 11px/14px Arial, Helvetica, sans-serif;
	width: 265px;
}

	.slide-list .info a {
		text-decoration: underline;
		color: #021b7a;
		font-weight: normal;
	}

		.slide-list .info a:hover {
			text-decoration: none;
		}

.slide-list .text-block {
	height: 1%;
	padding: 3px 0 0;
	overflow: hidden;
	font-size: 10px;
	text-transform: none;
}

	.slide-list .text-block p {
		line-height: 13px;
	}

	.slide-list .text-block strong {
		display: block;
		font: bold 14px/16px Arial, Helvetica, sans-serif;
	}
/* popups */
.popup2 {
	background: url(../images/bg-popup2.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-popup2.png*/ no-repeat;
	width: 378px;
	padding: 83px 0 0;
	position: absolute;
	top: 19px;
	right: 2px;
	z-index: 999;
	display: none;
}

.popup2-holder {
	background: url(../images/bg-popup2.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-popup2.png*/ no-repeat -400px 100%;
	padding: 0 0 79px;
}

.popup2-frame {
	background: url(../images/bg-popup2.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-popup2.png*/ repeat-y -800px 0;
	width: 100%;
}

	.popup2-frame:after {
		content: '';
		display: block;
		clear: both;
	}

.popup2 .popup-content {
	margin: -73px 0 -67px;
	position: relative;
	float: left;
	width: 353px;
	padding: 0 13px 0 12px;
}

.popup2 .popup-heading {
	overflow: hidden;
	padding: 5px 6px 3px 6px;
}

	.popup2 .popup-heading strong {
		float: left;
		text-transform: uppercase;
		color: #404040;
		font-size: 11px;
		line-height: 14px;
	}

	.popup2 .popup-heading .opener {
		color: #7E7E7E;
		float: right;
		font-size: 10px;
		font-weight: bold;
		line-height: 14px;
		text-decoration: none;
		margin: 0px;
	}

.popup2 .inner-block {
	background: url(../images/bg-popup2.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-popup2.png*/ no-repeat -1227px 0;
	width: 353px;
	padding: 58px 0 0;
}

	.popup2 .inner-block .holder {
		background: url(../images/bg-popup2.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-popup2.png*/ no-repeat -1627px 100%;
		padding: 0 0 60px;
	}

	.popup2 .inner-block .frame {
		background: url(../images/bg-popup2.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-popup2.png*/ repeat-y -2025px 0;
		width: 100%;
	}

		.popup2 .inner-block .frame:after {
			content: '';
			display: block;
			clear: both;
		}

	.popup2 .inner-block .content {
		float: left;
		position: relative;
		margin: -48px 0 -51px;
		width: 353px;
	}

.popup-list {
	padding: 0;
	margin: 0;
	list-style: none;
}

	.popup-list li {
		background: url(../images/separator-2.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/separator-2.png*/ no-repeat;
		padding: 9px 0 10px 14px;
		vertical-align: bottom;
	}

		.popup-list li:first-child {
			background: none;
			padding-top: 0;
		}

	.popup-list .image-holder {
		display: inline-block;
		width: 83px;
		vertical-align: bottom;
	}

	* + html .popup-list .image-holder {
		display: inline;
	}

	.popup-list img {
		vertical-align: top;
	}

	.popup-list .description {
		overflow: hidden;
		width: 250px;
		display: inline-block;
		vertical-align: bottom;
	}

	* + html .popup-list .description {
		display: inline;
	}

	.popup-list .title {
		color: #393c41;
		font-size: 14px;
		line-height: 17px;
		display: block;
		text-align: left;
		font-weight: bold;
		padding: 0 0 3px;
		background: none;
	}

		.popup-list .title em {
			color: #44484d;
			font-size: 12px;
			line-height: 17px;
			font-style: normal;
		}

	.popup-list dl {
		margin: 0;
		overflow: hidden;
		color: #44484d;
		font-size: 11px;
		line-height: 14px;
	}

		.popup-list dl dt {
			float: left;
			padding: 0 4px 0 0;
			word-spacing: -2px;
			font-weight: bold;
		}

		.popup-list dl dd {
			margin: 0;
			float: left;
		}

	.popup-list .link {
		color: #344b99;
		text-align: left;
		text-decoration: underline;
		width: 138px;
		float: left;
	}

		.popup-list .link:hover {
			text-decoration: none;
		}

/* popup 3 */
.popup3 {
	background: url(../images/bg-popup3.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-popup3.png*/ no-repeat;
	width: 478px;
	padding: 83px 0 0;
	position: absolute;
	top: 19px;
	right: 2px;
	z-index: 20;
	display: none;
}

.popup3-holder {
	background: url(../images/bg-popup3.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-popup3.png*/ no-repeat -490px 100%;
	padding: 0 0 79px;
}

.popup3-frame {
	background: url(../images/bg-popup3.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-popup3.png*/ repeat-y -980px 0;
	width: 100%;
}

	.popup3-frame:after {
		content: '';
		display: block;
		clear: both;
	}

.popup3 .popup-content {
	margin: -73px 0 -67px;
	position: relative;
	float: left;
	width: 453px;
	padding: 0 13px 0 12px;
}

.popup3 .popup-heading {
	overflow: hidden;
	padding: 5px 6px 3px 6px;
}

	.popup3 .popup-heading strong {
		float: left;
		text-transform: uppercase;
		color: #404040;
		font-size: 11px;
		line-height: 14px;
	}

	.popup3 .popup-heading .opener {
		color: #7E7E7E;
		float: right;
		font-size: 10px;
		font-weight: bold;
		line-height: 14px;
		text-decoration: none;
		margin: 0px;
	}

.popup3 .inner-block {
	background: url(../images/bg-popup3.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-popup3.png*/ no-repeat -1473px 0;
	width: 453px;
	padding: 58px 0 0;
}

	.popup3 .inner-block .holder {
		background: url(../images/bg-popup3.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-popup3.png*/ no-repeat -1942px 100%;
		padding: 0 0 60px;
	}

	.popup3 .inner-block .frame {
		background: url(../images/bg-popup3.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-popup3.png*/ repeat-y -2418px 0;
		width: 100%;
	}

		.popup3 .inner-block .frame:after {
			content: '';
			display: block;
			clear: both;
		}

	.popup3 .inner-block .content {
		float: left;
		position: relative;
		margin: -48px 0 -51px;
		width: 453px;
	}

.popup3 .popup-list li {
	background: url(../images/separator-3.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/separator-3.png*/ no-repeat;
	padding: 9px 0 10px 14px;
	vertical-align: bottom;
}

	.popup3 .popup-list li:first-child {
		background: none;
		padding-top: 0;
	}

.btn-status {
	background: url("../images/ico-status.png")/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/ico-status.png*/ no-repeat scroll 0 0 transparent;
	float: right;
	height: 31px;
	margin: -8px 22px 0 0;
	overflow: hidden;
	text-indent: -9999px;
	width: 33px;
}

/* begin open order report */

* + html .form-select-oo {
	display: inline;
}
/* form */
.form-select-oo {
	background: url("../images/line-export.gif")/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/line-export.gif*/ no-repeat scroll right center transparent;
	display: inline-block;
	margin: 0 16px 0 0;
	padding-right: 14px;
}

	.form-select-oo fieldset {
		float: right;
	}

	.form-select-oo select {
		width: 50px;
		padding: 0;
		margin: 0;
		font: 12px/15px Arial, Helvetica, sans-serif;
		float: left;
	}

	.form-select-oo label {
		float: left;
		margin: 3px 14px 0 0;
		font-size: 12px;
		line-height: 14px;
		color: #fff;
	}

.exportbox {
	float: left;
	font-size: 12px;
	line-height: 14px;
	margin: 3px 14px 0 0;
	background: url(../images/line-export.gif)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/line-export.gif*/ no-repeat;
	background-position: right;
	padding-right: 14px;
}

	.exportbox a {
		color: #FFFFFF;
	}

/* table report */
.table-sub2 {
	width: 1010px;
	border: 1px solid #003399;
	border-width: 1px 0 1px 1px;
	float: right;
}

	.table-sub2 .row-1 div {
		float: left;
		padding: 5px 0 3px 3px;
		text-align: left;
		font: 11px/13px Arial,Helvetica,sans-serif;
		color: #444444;
	}

	.table-sub2 .last div {
		padding: 5px 0 34px;
	}

	.table-sub2 .last .col-4 {
		padding: 5px 0 34px 42px;
	}

	.table-sub2 .col-1 {
		width: 76px;
	}

		.table-sub2 .col-1 a {
			color: #001E5C;
		}

	.table-sub2 .col-11 {
		width: 66px;
	}

		.table-sub2 .col-11 a {
			color: #001E5C;
			font: bold 11px/13px Arial,Helvetica,sans-serif;
		}

	.table-sub2 .col-22 {
		width: 66px;
		color: #444444;
		font: 11px/13px Arial,Helvetica,sans-serif;
	}

	.table-sub2 .col-3 {
		width: 224px;
	}

	.table-sub2 .col-5 {
		width: 76px;
		padding: 0px;
	}

	.table-sub2 .col-7 {
		width: 224px;
		font: 11px/13px Arial,Helvetica,sans-serif;
		color: #444444;
	}

	.table-sub2 .col-8 {
		width: 52px;
	}

	.table-sub2 .col-9 {
		width: 131px;
	}

	.table-sub2 .col-10 {
		width: 100px;
		border-right: none;
	}

	.table-sub2 .col-12 {
		width: 106px;
	}

	.table-sub2 .row .col-1 {
		width: 80px;
	}

	.table-sub2 .row .col-11 {
		width: 70px;
	}

	.table-sub2 .row .col-22 {
		width: 70px;
		color: #FFFFFF;
		font: 12px/14px Arial,Helvetica,sans-serif;
	}

	.table-sub2 .row .col-3 {
		width: 228px;
	}

	.table-sub2 .row .col-4 {
		width: 134px;
	}

	.table-sub2 .row .col-5 {
		width: 80px;
	}

	.table-sub2 .row .col {
		position: relative;
	}

	.table-sub2 .row .col-6 {
		width: 234px;
	}

	.table-sub2 .row .col-7 {
		width: 228px;
	}

	.table-sub2 .row .col-8 {
		width: 56px;
	}

	.table-sub2 .row .col-9 {
		width: 135px;
	}

	.table-sub2 .row .col-12 {
		width: 110px;
	}

	.table-sub2 .row .col-10 {
		width: 103px;
	}

		.table-sub2 .row .col-10 span {
			background: none repeat scroll 0 0 transparent;
		}

	.table-sub2 .row .arrows {
		position: absolute;
		width: 7px;
		height: 11px;
		left: 4px;
		top: 6px;
		padding: 0;
		margin: 0;
		list-style: none;
		line-height: 0;
		font-size: 0;
	}

		.table-sub2 .row .arrows li {
			padding: 3px 0 0;
		}

			.table-sub2 .row .arrows li:first-child {
				padding: 0;
			}

		.table-sub2 .row .arrows a {
			display: block;
			height: 4px;
			text-indent: -9999px;
			overflow: hidden;
			cursor: pointer;
			background: url(../images/bg-arrows.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-arrows.png*/ no-repeat;
			position: relative;
		}

		.table-sub2 .row .arrows .arrow-down {
			background-position: 0 -7px;
		}

		.table-sub2 .row .arrows .active .arrow-up,
		.table-sub2 .row .arrows .arrow-up:hover {
			background-position: 0 -14px;
		}

		.table-sub2 .row .arrows .inactive .arrow-up {
			background-position: 0 -28px;
		}

		.table-sub2 .row .arrows .active .arrow-down,
		.table-sub2 .row .arrows .arrow-down:hover {
			background-position: 0 -21px;
		}


.table-sub2 .row .col:hover {
	font-weight: bold;
}

	.table-sub2 .row .col:hover .arrow {
		background-position: 0 -11px;
	}

.table-sub2 .row span {
	padding: 5px 10px 5px 15px;
	font: 12px/14px Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}

.table-sub2 .row .item {
	width: 12px;
	height: 12px;
	position: absolute;
	right: 7px;
	top: 6px;
	text-indent: -9999px;
	overflow: hidden;
	background: url(../images/sprite.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/sprite.png*/ no-repeat -85px -65px;
}


/* **** BEGIN STYLES FOR FREIGHT SHOPPER **** */
.popup4 {
	overflow: hidden;
    padding:0;
    margin: 0 auto;
    position: absolute;
}

.freight-finder {
	float: left;
	position: relative;
}

.freight-finder-holder {
	display: table;
	border-collapse: collapse;
	padding: 0;
	margin: 0 auto;
}

.freight-finder .c {
	display: table-row;
	margin: 0;
	padding: 0;
}

.freight-finder .l,
.freight-finder .r {
	background: url(../images/bg-freight-finder-l.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-freight-finder-l.png*/ no-repeat;
	-moz-background-size: 30px 100%;
	-o-background-size: 30px 100%;
	-webkit-background-size: 30px 100%;
	background-size: 30px 100%;
	width: 30px;
	display: table-cell;
}

.freight-finder .r {
	background: url(../images/bg-freight-finder-r.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-freight-finder-r.png*/ no-repeat;
	-moz-background-size: 30px 100%;
	-o-background-size: 30px 100%;
	-webkit-background-size: 30px 100%;
	background-size: 30px 100%;
}

.freight-finder .freight-finder-content {
	background: url(../images/bg-freight-finder-content.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-freight-finder-content.png*/ repeat-x;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	display: table-cell;
}

.freight-finder .lt,
.freight-finder .rt,
.freight-finder .lb,
.freight-finder .rb {
	background: url(../images/bg-freight-finder-tl.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-freight-finder-tl.png*/ no-repeat;
	height: 30px;
	width: 30px;
	font-size: 0;
	display: table-cell;
}

.freight-finder .rt {
	background: url(../images/bg-freight-finder-tr.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-freight-finder-tr.png*/ no-repeat;
}

.freight-finder .lb {
	background: url(../images/bg-freight-finder-bl.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-freight-finder-bl.png*/ no-repeat;
}

.freight-finder .rb {
	background: url(../images/bg-freight-finder-br.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-freight-finder-br.png*/ no-repeat;
}

.freight-finder .t,
.freight-finder .b {
	background: url(../images/bg-freight-finder-t.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-freight-finder-t.png*/ repeat-x;
	height: 30px;
	display: table-cell;
	font-size: 0;
}

.freight-finder .b {
	background: url(../images/bg-freight-finder-b.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-freight-finder-b.png*/ repeat-x;
}

/* freight-finder-form */
.freight-finder-form {
	float: left;
	position: relative;
	margin: -9px -10px 0;
	padding: 0 0 4px;
	z-index: 999;
}

.freight-table-container {
	position: relative;
	margin: -39px -51px;
	z-index: 3;
	overflow: hidden;
}

* + html .terms-conditions .freight-table-container {
	width: 100%;
	padding: 0 51px 14px;
	height: 1%;
}

.freight-finder-form .headline {
	max-width: 804px;
	min-width: 634px;
	overflow: hidden;
	padding: 0 4px 0 9px;
	margin: 0 0 -4px;
	position: relative;
    /*width: auto;
    display: block;
    float: left;*/
}

.freight-finder .close {
	position: absolute;
	right: 3px;
	top: 0;
	color: #7f7f7f;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 9px;
	line-height: 14px;
}

.freight-finder-form .title {
	display: block;
	font-size: 11px;
	line-height: 14px;
	color: #020202;
}

.freight-finder-form .tabset {
	list-style: none;
	margin: 0 0 0 -2px;
	padding: 0;
	overflow: hidden;
	font-size: 11px;
	line-height: 16px;
	font-weight: bold;
	text-transform: uppercase;
    /*float: left;*/
    /*width:100%;*/
}

.freight-finder-form .tab-list {
    /*float:left;*/
}

	.freight-finder-form .tabset li {
		float: left;
	}

	.freight-finder-form .tabset a {
		background: url(../images/bg-tabset.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-tabset.png*/ no-repeat;
		display: inline-block;
		color: #040404;
		line-height: 44px;
		text-align: center;
		overflow: hidden;
		width: 110px;
		height: 43px;
	}

		.freight-finder-form .tabset a.advanced {
			width: 110px;
			background-position: -110px -43px;
		}

		.freight-finder-form .tabset a.basic:hover,
		.freight-finder-form .tabset .active a.basic {
			background-position: 0 -43px;
			text-decoration: none;
			color: #fefffe;
		}

		.freight-finder-form .tabset a.advanced:hover,
		.freight-finder-form .tabset .active a.advanced {
			background-position: -110px 0;
			text-decoration: none;
			color: #fefffe;
		}

.freight-finder-form .choose-address {
	width: 811px;
	padding: 0 0 9px 7px;
	height: 1%;
}

	.freight-finder-form .choose-address:after {
		content: "";
		display: block;
		clear: both;
	}

	.freight-finder-form .choose-address .block {
		float: right;
		width: 246px;
		position: relative;
	}

		.freight-finder-form .choose-address .block .needed-zip {
			position: absolute;
			left: 17px;
			top: -16px;
			color: #fd0101;
			font-size: 9px;
			line-height: 14px;
			font-style: italic;
		}

		.freight-finder-form .choose-address .block .btn-calculate-rate {
			background: url(../images/btn-calculate-rate.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/btn-calculate-rate.png*/ no-repeat;
			font-size: 11px;
			line-height: 20px;
			text-transform: uppercase;
			font-weight: bold;
			color: #040404;
			width: 114px;
			height: 20px;
			float: right;
			text-align: center;
			padding: 1px 0 0;
			margin: -1px 5px 0 0;
			cursor: pointer;
			text-decoration: none;
		}

		.freight-finder-form .choose-address .block .mw-text {
			float: left;
			background: url(../images/bg-text-zip.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-text-zip.png*/ no-repeat;
			width: 101px;
			height: 21px;
		}

			.freight-finder-form .choose-address .block .mw-text input {
				color: #848282;
				text-transform: uppercase;
				font-size: 12px;
				line-height: 15px;
				background: none;
				margin: 0;
				width: 81px;
				padding: 3px 10px;
				border: none;
				float: left;
			}

		.freight-finder-form .choose-address .block label {
			float: left;
			font-size: 11px;
			font-weight: bold;
			color: #031e5c;
			padding: 4px 4px 0 0;
		}

	.freight-finder-form .choose-address select {
		float: left;
		width: 546px;
		margin: 0;
		padding: 0;
	}

.freight-finder-form .container-table {
	background: url("../images/bg-container-table.png")/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-container-table.png*/ no-repeat scroll 50% 0 transparent;
	margin: 0 0 -14px;
	overflow: hidden;
	padding: 10px 0 0;
	position: relative;
}


.freight-finder-form .basic-tab .container-table {
	margin: 0 0 -14px;
}
/* freight-table */
.freight-table {
	clear: both;
	float: left;
	position: relative;
	margin: 0 0 5px;
	z-index: 2;
}

.freight-finder-form .terms {
	float: left;
	font-size: 9px;
	color: #626161;
	text-transform: uppercase;
	font-style: italic;
	text-decoration: underline;
	margin: 30px 0 0 11px;
	min-width: 200px;
	z-index: 9999;
	position: relative;
}

	.freight-finder-form .terms:hover {
		text-decoration: none;
	}

.basic-tab .freight-table {
	width: 647px;
	margin: 0 0 5px 2px;
}

.basic-tab .table-wrap {
	width: 649px;
}

.freight-table-holder {
	display: table;
	border-collapse: collapse;
	padding: 0;
	margin: 0;
    width:820px;
}

.freight-table .c {
	display: table-row;
	margin: 0;
	padding: 0;
}

.freight-table .l,
.freight-table .r {
	background: url(../images/bg-freight-table-l.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-freight-table-l.png*/ no-repeat;
	-moz-background-size: 51px 100%;
	-o-background-size: 51px 100%;
	-webkit-background-size: 51px 100%;
	background-size: 51px 100%;
	width: 51px;
	display: table-cell;
}

.freight-table .r {
	background: url(../images/bg-freight-table-r.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-freight-table-r.png*/ no-repeat;
	-moz-background-size: 51px 100%;
	-o-background-size: 51px 100%;
	-webkit-background-size: 51px 100%;
	background-size: 51px 100%;
}

.freight-table .freight-table-content {
	height: 1%;
	background: url(../images/bg-freight-table-content.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-freight-table-content.png*/ repeat-x;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	display: table-cell;
}

.freight-table .lt,
.freight-table .rt,
.freight-table .lb,
.freight-table .rb {
	background: url(../images/bg-freight-table-tl.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-freight-table-tl.png*/ no-repeat;
	height: 39px;
	width: 51px;
	font-size: 0;
	display: table-cell;
}

.freight-table .rt {
	background: url(../images/bg-freight-table-tr.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-freight-table-tr.png*/ no-repeat;
}

.freight-table .lb {
	background: url(../images/bg-freight-table-bl.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-freight-table-bl.png*/ no-repeat;
}

.freight-table .rb {
	background: url(../images/bg-freight-table-br.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-freight-table-br.png*/ no-repeat;
}

.freight-table .t,
.freight-table .b {
	background: url(../images/bg-freight-table-t.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-freight-table-t.png*/ repeat-x;
	height: 39px;
	display: table-cell;
	font-size: 0;
}

.freight-table .b {
	background: url(../images/bg-freight-table-b.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-freight-table-b.png*/ repeat-x;
}

.freight-table .heading {
	background: url(../images/bg-heading-freight-table.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-heading-freight-table.png*/ no-repeat;
	max-width: 817px;
	padding: 0 0 0 11px;
	color: #020202;
	font-weight: bold;
}

.basic-tab .freight-table .heading {
	width: 636px;
}

.freight-table .heading-holder {
	background: url(../images/bg-heading-freight-table.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-heading-freight-table.png*/ no-repeat 100% -68px;
	padding: 0 11px 0 0;
}

.freight-table .heading-frame {
	background: url(../images/bg-heading-freight-table.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-heading-freight-table.png*/ repeat-x 0 -34px;
	padding: 2px 0;
}

.freight-table .heading-container {
	/*background: url(../images/bg-heading-container.png) repeat-y 180px 0;*/
	height: 30px;
	overflow: hidden;
}

.basic-tab .freight-table .heading-container {
	background: url(../images/bg-heading-container-basic.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-heading-container-basic.png*/ repeat-y 260px 0;
}



.freight-table .item {
	background: none;
	float: left;
	width: 178px;
	padding: 4px 7px 0;
}

.freight-finder-form .freight-table .heading .item {
	width: 168px;
	padding: 7px 1px;
    border-right: 1px solid #6B6BBF;
}

.freight-finder-form .freight-table .pnumbers {
	float: left;
	color: #020202;
	font-weight: bold;
	width: 144px;
	font-size: 11px;
	padding: 8px 10px 7px;
	background: none;
}

	.freight-finder-form .freight-table .pnumbers dl {
		overflow: hidden;
		text-align: left;
		margin: 0;
		padding: 5px 0px 0;
		line-height: 13px;
	}

	.freight-finder-form .freight-table .pnumbers dt {
		float: left;
		width: 38px;
	}

	.freight-finder-form .freight-table .pnumbers dd {
		overflow: hidden;
		margin: 0;
	}

.freight-finder-form .freight-table .heading .pnumbers {
	/*width: 56px;
	padding: 7px 5px;*/
     border-right: 1px solid #6B6BBF;
}
.freight-finder-form .freight-table .heading .quantity {
	width: 25px;
	padding: 7px 3px;
     border-right: 1px solid #6B6BBF;
}
.freight-finder-form .freight-table .quantity {
	float: left;
	color: #020202;
	font-weight: bold;
	width: 20px;
	font-size: 11px;
	padding: 2px 2px;
	background: none;
}

.freight-finder-form .freight-table .warehouse {
	float: left !important;
	padding: 14px 14px 0 !important;
	background: none !important;
	width: 183px !important;
}

.freight-finder-form .freight-table .heading .warehouse {
	width: 175px;
	padding: 7px 14px !important;
     border-right: 1px solid #6B6BBF;
}

.freight-finder-form .freight-table .condition {
	float: left;
	width: 182px;
	background: none;
	padding: 14px 10px 0;
}

.freight-finder-form .freight-table .heading .condition {
	width: 164px;
	padding: 7px 13px 7px 18px !important;
}

	.freight-finder-form .freight-table .heading .condition a {
		cursor: pointer;
		text-decoration: underline;
	}

.freight-finder-form .freight-table .row-holder {
	overflow: hidden;
	padding: 0 0 6px;
}

.basic-tab .freight-table .row-holder {
	padding: 0 0 5px;
}

.freight-finder-form .freight-table .row {
	background: url(../images/divider-table.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/divider-table.png*/ no-repeat 50% 0;
	overflow: hidden;
	padding: 2px 0 5px;
}

.basic-tab .freight-table .row {
	padding: 4px 0 2px;
}

.freight-finder-form .freight-table .row:first-child {
	background: none;
	padding: 1px 0 4px;
}

.freight-finder-form .freight-table .item .title {
	background: none repeat scroll 0 0 transparent;
	margin: 0;
	overflow: hidden;
	padding: 2px 0 0;
	text-align: left;
	text-indent: 0;
	text-transform: none;
	width: 110px;
}

.freight-finder-form .freight-table .item img {
	border: 1px solid #949fc4;
	float: left;
	margin: 0 17px 0 0;
}

.freight-finder-form .freight-table .condition select,
.freight-finder-form .freight-table .warehouse select {
	float: left;
	margin: 0;
	padding: 0;
}

.freight-finder-form .freight-table .warehouse select {
	width: 178px;
}

.freight-finder-form .freight-table .warehouse .select-area {
	width: 178px !important;
}

.freight-finder-form .freight-table .condition select {
	width: 200px;
}

.freight-finder-form .freight-table .condition .select-area {
	width: 200px !important;
}

.freight-finder .btn-section {
	width: 788px;
	overflow: hidden;
	clear: both;
	padding: 10px 16px 0 13px;
}

.freight-finder .btn-select {
	background: url(../images/bg-btn-freight-finder.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-btn-freight-finder.png*/ no-repeat 100% 0;
	float: right;
	padding: 0 6px 0 0;
	font-size: 11px;
	line-height: 27px;
	font-weight: bold;
	color: #040404;
	margin: 14px 0 0;
}

.freight-finder .btn-select-holder {
	background: url(../images/bg-btn-freight-finder.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-btn-freight-finder.png*/ no-repeat 0 -27px;
	height: 27px;
	float: left;
	padding: 0 11px 0 16px;
	padding: 0;
}

.freight-finder .btn-select input {
	float: left;
	overflow: visible;
	border: none;
	background: none;
	margin: 0;
	height: 25px;
	font-size: 11px;
	line-height: 27px;
	font-weight: bold;
	color: #040404;
	padding: 0 25px 0 31px;
	text-transform: uppercase;
	cursor: pointer;
}

.freight-finder .total {
	background: none;
	float: right;
	padding: 8px 14px 1px 0;
	margin: 0 0 0 17px;
}

	.freight-finder .total span {
		background: none;
		display: block;
		font-size: 10px;
		line-height: 16px;
		color: #020202;
		margin: 0;
		padding: 0;
	}

	.freight-finder .total strong {
		display: block;
		background: none;
		text-align: left;
		font-size: 18px;
		line-height: 20px;
		color: #020202;
		margin: 0;
		padding: 0;
	}

.freight-finder .select-block {
	width: 629px;
	padding: 0 10px 0 8px;
}

.freight-finder .warehouse-choose {
	width: 360px;
	padding: 7px 0;
	overflow: hidden;
}

	.freight-finder .warehouse-choose select {
		width: 360px;
	}

.freight-finder .ship-to-adress {
	max-width: 817px;
	margin: 0 0 10px;
	height: 1%;
}

	.freight-finder .ship-to-adress:after {
		content: "";
		display: block;
		clear: both;
	}

	.freight-finder .ship-to-adress select {
		width: 359px !important;
		float: left;
	}

	/*.freight-finder .ship-to-adress select option {
		width: 330px !important;
		float: left;
	}*/


	.freight-finder .ship-to-adress .block {
		float: right;
		width: 246px;
		position: relative;
	}

		.freight-finder .ship-to-adress .block .needed-zip {
			position: absolute;
			left: 17px;
			top: -16px;
			color: #fd0101;
			font-size: 9px;
			line-height: 14px;
			font-style: italic;
		}

		.freight-finder .ship-to-adress .block .btn-calculate-rate {
			background: url(../images/btn-calculate-rate.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/btn-calculate-rate.png*/ no-repeat;
			font-size: 11px;
			line-height: 20px;
			text-transform: uppercase;
			font-weight: bold;
			color: #040404;
			width: 114px;
			height: 20px;
			float: right;
			text-align: center;
			padding: 1px 0 0;
			margin: -1px 5px 0 0;
			cursor: pointer;
			text-decoration: none;
		}

		.freight-finder .ship-to-adress .block .mw-text {
			float: left;
			background: url(../images/bg-text-zip.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-text-zip.png*/ no-repeat;
			width: 101px;
			height: 21px;
		}

			.freight-finder .ship-to-adress .block .mw-text input {
				color: #848282;
				text-transform: uppercase;
				font-size: 12px;
				line-height: 15px;
				background: none;
				margin: 0;
				width: 81px;
				padding: 3px 10px;
				border: none;
				float: left;
			}

		.freight-finder .ship-to-adress .block label {
			float: left;
			font-size: 11px;
			font-weight: bold;
			color: #031e5c;
			padding: 4px 4px 0 0;
		}

.freight-finder-form .freight-table .condition-basic {
	background: none repeat scroll 0 0 transparent;
	padding: 0 9px;
	width: 254px;
}


	.freight-finder-form .freight-table .condition-basic a {
		float: left;
		margin: 1px 15px 5px 0;
		width: 85px;
		cursor: default;
	}

		.freight-finder-form .freight-table .condition-basic a img {
			vertical-align: top;
		}

	.freight-finder-form .freight-table .condition-basic span {
		float: left;
		background: none;
		font-size: 12px;
		font-weight: bold;
		color: #020202;
		padding: 17px 0 0;
	}

.freight-finder-form .freight-table .heading .condition-basic {
	float: left;
	padding: 7px 4px;
	width: 250px;
	text-align: center;
}

	.freight-finder-form .freight-table .heading .condition-basic a {
		cursor: pointer;
		text-decoration: underline;
		width: 245px;
		text-align: center;
	}


.freight-finder-form .freight-table .shipping-estimate {
	background: none;
	float: left;
	font-size: 12px;
	font-weight: bold;
	color: #020202;
	width: 91px;
	padding: 17px 21px 10px;
	text-align: right;
}

.freight-finder-form .freight-table .heading .shipping-estimate {
	float: left;
	padding: 7px 8px;
	width: 116px;
	text-align: center;
}

.freight-finder-form .freight-table .transit-time {
	background: none repeat scroll 0 0 transparent;
	padding: 11px 8px 0;
	width: 225px;
}

	.freight-finder-form .freight-table .transit-time span {
		float: left;
		text-align: left;
		font-size: 12px;
		font-weight: bold;
		color: #020202;
		background: none;
		padding: 6px 0 0;
	}

	.freight-finder-form .freight-table .transit-time .btn-select {
		background: url("../images/bg-btn-freight-finder.png")/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-btn-freight-finder.png*/ no-repeat scroll 100% 0 transparent;
		color: #040404;
		float: right;
		font-weight: bold;
		text-transform: uppercase;
		padding: 0 6px 0 0;
		margin: 0;
		cursor: pointer;
	}

		.freight-finder-form .freight-table .transit-time .btn-select span {
			background: url("../images/bg-btn-freight-finder.png")/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-btn-freight-finder.png*/ no-repeat scroll 0 -27px transparent;
			float: left;
			height: 27px;
			font-size: 11px;
			line-height: 26px;
			padding: 0 29px 0 33px;
		}

.freight-finder-form .freight-table .heading .transit-time {
	float: left;
	padding: 7px 8px;
	width: 214px;
	text-align: center;
}

.ui-dialog-titlebar {
	position: relative;
}

.advanced-tab .freight-table,
.advanced-tab .table-wrap {
	width: 817px;
	min-height: 289px;
}

.table-wrap {
	position: relative;
	overflow: hidden;
}
/* terms-conditions */
.terms-conditions {
	position: absolute;
	top: 0;
	left: 0;
	max-width: 967px;
	z-index: 1;
}

* + html .terms-conditions {
	margin: 0;
}

	.terms-conditions .freight-table-container {
		padding: 0 0 14px;
	}

	.terms-conditions .heading {
		float: left;
	}

	* + html .terms-conditions .heading {
		margin: 0 -51px;
	}

	.terms-conditions .title {
		display: block;
		font-size: 11px;
		line-height: 14px;
		font-weight: bold;
		padding: 8px 0 7px;
		text-transform: none;
		width: 795px;
	}

	.terms-conditions .holder-terms {
		clear: both;
		width: 540px;
		margin: 0 auto;
		overflow: hidden;
		padding: 10px 0 0 0;
		height: 1%;
	}

		.terms-conditions .holder-terms p {
			margin: 0 0 10px;
		}

	.terms-conditions .btn-back {
		background: url(../images/bg-btn-freight-finder.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-btn-freight-finder.png*/ no-repeat 100% 0;
		float: right;
		padding: 0 6px 0 0;
		font-size: 11px;
		line-height: 26px;
		font-weight: bold;
		color: #040404;
		margin: 0 15px 0 0;
	}

	.terms-conditions span {
		background: url(../images/bg-btn-freight-finder.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-btn-freight-finder.png*/ no-repeat 0 -27px;
		height: 26px;
		float: left;
		padding: 1px 36px 0;
	}


/* **** END STYLES FOR FREIGHT SHOPPER **** */

/* ***  BEGIN STYLES FOR PRODUCT FREIGHT ESTIMATOR ****/

.product-freight-disclaimer {
	width: 260px;
	font-size: 10px;
	text-align: left;
	margin: 0;
	padding: 5px 0 0 0;
}

.product-freight-container {
	border: 1px solid black;
	background-color: #ddd;
	width: 250px;
	height: 150px;
	padding: 5px;
	text-align: left;
	/*Some CSS3 goodness (if supported)*/
	background: -webkit-linear-gradient(top, #fff 0%, #ddd 100%);
	background: -moz-linear-gradient(top, #fff 0%, #ddd 100%);
	background: linear-gradient(#fff, #ddd);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: rgba(0,0,0,0.4) 3px 3px;
	-webkit-box-shadow: rgba(0,0,0,0.4) 3px 3px;
	box-shadow: rgba(0,0,0,0.4) 3px 3px;
}

	.product-freight-container .pf-title {
		font-variant: small-caps;
		font-family: 'Arial Black', Gadget, sans-serif;
		font-size: 1.2em;
		font-weight: bold;
		color: #666;
	}

	.product-freight-container .pf-seperator {
		border: 1px solid #666;
		margin: 5px 0;
	}

	.product-freight-container .pf-warehouse {
		padding-bottom: 5px;
	}

		.product-freight-container .pf-warehouse .pf-text {
			font-weight: bold;
			padding: 0 5px 3px 0;
		}

		.product-freight-container .pf-warehouse .pf-location {
		}

	.product-freight-container .pf-quantity {
		display: block;
		padding: 0 0 5px 0;
	}

		.product-freight-container .pf-quantity input {
			border: 1px solid #666;
			line-height: 15px;
			height: 15px;
			padding: 2px;
			/*color: #777;
		font-style: italic;*/
		}

	.product-freight-container .pf-zip {
		display: block;
	}

		.product-freight-container .pf-zip input {
			border: 1px solid #666;
			line-height: 15px;
			height: 15px;
			padding: 2px;
			/*color: #777;
		font-style: italic;*/
		}

	.product-freight-container .pf-total-holder {
		margin: 15px 0 0 5px;
		padding: 0 7px 0 0;
		width: 130px;
		text-align: right;
		float: left;
		color: red;
	}

	.product-freight-container .pf-total {
		padding: 2px 0 2px 0;
		font-family: 'Arial Black', Gadget, sans-serif;
	}

	.product-freight-container .pf-btn-select {
		background: url(../images/bg-btn-freight-finder.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-btn-freight-finder.png*/ no-repeat 100% 0;
		float: left;
		padding: 0 6px 0 0;
		font-size: 11px;
		line-height: 27px;
		font-weight: bold;
		color: #040404;
		margin: 14px 0 0;
	}

	.product-freight-container .pf-btn-select-holder {
		background: url(../images/bg-btn-freight-finder.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-btn-freight-finder.png*/ no-repeat 0 -27px;
		height: 27px;
		float: left;
		padding: 0;
	}


	.product-freight-container .pf-btn-select input {
		float: left;
		overflow: visible;
		border: none;
		background: none;
		margin: 0;
		height: 25px;
		font-size: 11px;
		line-height: 27px;
		font-weight: bold;
		color: #333;
		padding: 0 5px 0 10px;
		text-transform: uppercase;
		cursor: pointer;
	}
/* ***  END STYLES FOR PRODUCT FREIGHT ESTIMATOR ****/


/* *** BEGIN GENERIC HELP CLASSES */
.help-icon-white {
	width: 12px;
	height: 12px;
	min-width: 12px;
	min-height: 12px;
	overflow: hidden;
	background: url(../images/TDSprite.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/TDSprite.png*/ no-repeat -85px -65px;
	position: relative; /*required to make link clickable in IE 8 when text is empty. see bug 11512  */
	cursor: help;
}

.help-title {
	text-transform: uppercase;
	color: #404040;
	background-color: #F8F8F8;
	font-size: 11px;
	line-height: 14px;
	text-align: left;
}

.help-content {
	color: #404040;
	background-color: #D7D7D7;
	opacity: 1;
	font-size: 11px;
	line-height: 14px;
	text-align: left;
}

.help-table {
	border-style: none;
	border-width: 0;
	padding: 0;
	border-collapse: collapse;
}

.help-outerframe-top-left {
	background: url(../images/Sprite-1.png)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/Sprite.png*/ no-repeat -6px -7px;
	width: 8px;
	height: 7px;
	border-collapse: collapse;
	border-width: 0;
	border-style: none;
	padding: 0;
}

.help-outerframe-top-middle {
	background: url(Unknown_83_filename)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-help-tip.png*/ no-repeat -13px -7px;
	height: 7px;
	border-collapse: collapse;
	border-width: 0;
	border-style: none;
	padding: 0;
}

.help-outerframe-top-right {
	background: url(Unknown_83_filename)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-help-tip.png*/ no-repeat -462px -7px;
	width: 8px;
	height: 7px;
	border-collapse: collapse;
	border-width: 0;
	border-style: none;
	padding: 0;
}

.help-outerframe-middle-left {
	background: url(Unknown_83_filename)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-help-tip.png*/ no-repeat -986px -0px;
	width: 8px;
	border-collapse: collapse;
	border-width: 0;
	border-style: none;
	padding: 0;
}

.help-outerframe-middle-middle {
	background: url(Unknown_83_filename)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-help-tip.png*/ no-repeat -986px -0px;
	border-collapse: collapse;
	border-width: 0;
	border-style: none;
	padding: 0;
}

.help-outerframe-middle-right {
	background: url(Unknown_83_filename)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-help-tip.png*/ no-repeat -986px -0px;
	width: 8px;
	border-collapse: collapse;
	border-width: 0;
	border-style: none;
	padding: 0;
}

.help-outerframe-bottom-left {
	background: url(Unknown_83_filename)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-help-tip.png*/ no-repeat -496px -69px;
	width: 8px;
	height: 7px;
	border-collapse: collapse;
	border-width: 0;
	border-style: none;
	padding: 0;
}

.help-outerframe-bottom-middle {
	background: url(Unknown_83_filename)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-help-tip.png*/ no-repeat -520px -69px;
	height: 7px;
	border-collapse: collapse;
	border-width: 0;
	border-style: none;
	padding: 0;
}

.help-outerframe-bottom-right {
	background: url(Unknown_83_filename)/*tpa=http://www.techdata.com/App_Themes/Default/consumer/images/bg-help-tip.png*/ no-repeat -952px -69px;
	width: 8px;
	height: 7px;
	border-collapse: collapse;
	border-width: 0;
	border-style: none;
	padding: 0;
}
/* *** BEGIN GENERIC HELP CLASSES */
