BODY{
	color: #000;
}

A{
	text-decoration: none;
	
}

A:HOVER{
	text-decoration: underline;
	
}

LI{
	list-style-image: url(Unknown_83_filename)/*tpa=http://www.nobleenergyinc.com/_filelib/ImageGallery/Bullets/red_bullet_logo.gif*/;
	
}


.mnuLeft{
}
.mnuLeftItem {
}
.mnuLeftItemOver{
}
.mnuLeftItemActive, .mnuLeftItemActiveOver {
}
.mnuLeftSeperator{
}

.mnuLeftSub {
}
.mnuLeftSubItem{
}
.mnuLeftSubItemOver {
}
.mnuLeftSubItemActive, .mnuLeftSubItemActiveOver{
}




	.mnuSitemap {
}

.mnuSitemapItem{
	}
	.mnuSitemapItemOver {
}

.mnuSitemapItemActive, .mnuSitemapItemActiveOver{
	}
	.mnuSitemapSub {
}

.mnuSitemapSubItem{
	}
	.mnuSitemapSubItemOver {
}




/* ----------- */
.mnuFour {
	text-align: left;
}
.mnuFourItem, .mnuFourItemMembers {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
	text-decoration: none;
}
.mnuFourItemOver, .mnuFourItemMembersOver, .mnuFourItemActiveOver {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #428cc6;
	text-decoration: underline;
}
.mnuFourItemActive {
	color: #428cc6;
}
.mnuFourItemSeparatorH {
	height: 15px;
	width: 25px;
	background-image: url(../../images/divider_four.gif)/*tpa=http://www.nobleenergyinc.com/images/divider_four.gif*/;
	background-position: center 0px;
	background-repeat: no-repeat;
}

td.stockticker { text-align: right; width: 100% !important; vertical-align: bottom !important; padding-bottom: 0 !important; padding-right: 10px !important; }
td.stockticker div, td.stockticker a.ticker { display: inline; }
td.stockticker a.ticker { vertical-align: bottom @important; margin-right: 8px; }
a.addthis_button img { vertical-align: bottom !important; }

table.modcontent, .ctnormal { height: 20px; }

#srchForm { height: 20px; }



#careersList .ctnormal {
line-height: 13px;
height: 20px;
padding: 0px;
margin: 0px;
}
#careersList .modContent {
line-height: 13px;
height: 0px;
padding: 0px;
margin: 0px;
}
#careersList .ctBulletin {
line-height: 13px;
height: 0px;
padding: 0px;
margin: 0px;
}
#careersList .ctBulletinTitle {
line-height: 13px;
height: 0px;
padding: 0px;
margin: 0px;
}
#careersList .ctBulletinLink {
}


a.slinks{
color: #ff7b00;
}
a.slinks:hover{
color: #ff7b00;
text-decoration: underline;
}