.altText {
	width:0; height:0;
	display:block;
	overflow:hidden;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

body.iframe {
	background: none;
}

.top-bar {
	overflow: hidden;
	background-image: url('../images/bg_top-bar.png')/*tpa=http://newsroom.united.com/images/bg_top-bar.png*/;
	background-repeat: repeat-x;	
}
.body-wrapper {
	background:#fff;	
}
a {
	color:#003399;	
	font-weight:bold
}
a:hover {
	color:#2c6cad;	
}
h2 {
	border-bottom:dotted 1px #b2b2b2;
	padding:0 0 7px 0;
	font-size: 22px;
	color: #444444;
}
h3 {
	font-size: 16px;
	color: #444444;
}

/*header styles*/
ul.airlineLinks {
	margin:0 0 0 720px;
	list-style:none;
}
ul.airlineLinks li {
	margin:0 2px 0 0;
	float:left;	
}
ul.airlineLinks li.united a {
	width:92px; height:20px;
	background:url(../images/sprite_airline-links.png)/*tpa=http://newsroom.united.com/images/sprite_airline-links.png*/ 0 0 no-repeat;
	display:block;	
}
ul.airlineLinks li.united a:hover {
	background-position:0 -20px;
}
ul.airlineLinks li.continental a {
	width:120px; height:20px;
	background:url(../images/sprite_airline-links.png)/*tpa=http://newsroom.united.com/images/sprite_airline-links.png*/ -95px 0 no-repeat;
	display:block;	
}
ul.airlineLinks li.continental a:hover {
	background-position:-95px -20px;
}


ul.nav-bar {
	margin:19px 0 0 0;
}
ul.nav-bar li {
	display:inline;
	float:left;	
}
ul.nav-bar li.united {
	padding:19px 0 0 0;
	width:210px;
}
ul.nav-bar li.united a {
	width:210px; height:44px;
	background:url('../images/logo_united.png')/*tpa=http://newsroom.united.com/images/logo_united.png*/ 0 0 no-repeat;
	display:block;	
}
ul.nav-bar li.about {
	margin:0 0 0 75px;
	width:192px;
}
ul.nav-bar li.about a {
	width:192px; height:75px;
	/* background:url(../images/sprite_navBar-3.png) 0 0 no-repeat; */
	display:block;	
}
ul.nav-bar li.about a:hover {
	background-position:0 -76px;	
	cursor: default; /*** remove this if we uncomment the background image above. it's temporarily hidden ***/
}
ul.nav-bar li.media {
	width:142px;
}
ul.nav-bar li.media a {
	width:142px; height:75px;
	background:url(../images/sprite_navBar-3.png)/*tpa=http://newsroom.united.com/images/sprite_navBar-3.png*/ -192px 0 no-repeat;
	display:block;	
}
ul.nav-bar li.media a:hover {
	background-position:-192px -76px;	
}
ul.nav-bar li.investor {
	width:171px;
}
ul.nav-bar li.investor a {
	width:171px; height:75px;
	background:url(../images/sprite_navBar-3.png)/*tpa=http://newsroom.united.com/images/sprite_navBar-3.png*/ -334px 0 no-repeat;
	display:block;	
}
ul.nav-bar li.investor a:hover {
	background-position:-334px -76px;	
}
ul.nav-bar li.media a#currentpage {
	background-position: -192px -76px;
}
ul.nav-bar li.about a#currentpage {
	background-position: -0px -76px;
}
/* sub nav styles */

/* media sub nav */

ul.sub-nav {
	margin:0 !important;
}
ul.sub-nav li {
	float:left;
	display:inline;	
}
ul.sub-nav li.press a {
	width:114px; height:31px;
	background:url(../images/subNav_media.png)/*tpa=http://newsroom.united.com/images/subNav_media.png*/ 0 0 no-repeat;
	display:block;
}
ul.sub-nav li.press a:hover {
	background-position:0 -31px;
}
ul.sub-nav li.photos a {
	width:69px; height:31px;
	background:url(../images/subNav_media.png)/*tpa=http://newsroom.united.com/images/subNav_media.png*/ -114px 0 no-repeat;
	display:block;
}
ul.sub-nav li.photos a:hover {
	background-position:-114px -31px;
}
ul.sub-nav li.logos a {
	width:59px; height:31px;
	background:url(../images/subNav_media.png)/*tpa=http://newsroom.united.com/images/subNav_media.png*/ -183px 0 no-repeat;
	display:block;
}
ul.sub-nav li.logos a:hover {
	background-position:-183px -31px;
}
ul.sub-nav li.audio-video a {
	width:143px; height:31px;
	background:url(../images/subNav_media.png)/*tpa=http://newsroom.united.com/images/subNav_media.png*/ -242px 0 no-repeat;
	display:block;
}
ul.sub-nav li.audio-video a:hover {
	background-position:-242px -31px;
}
ul.sub-nav li.press a#currentpage {
	background-position: -0px -31px;
}
ul.sub-nav li.photos a#currentpage {
	background-position: -114px -31px;
}
ul.sub-nav li.logos a#currentpage {
	background-position: -183px -31px;
}
ul.sub-nav li.audio-video a#currentpage {
	background-position: -242px -31px;
}
ul.sub-nav li.history a#currentpage {
	background-position: 0px -31px;
}
ul.sub-nav li.leadership a#currentpage {
	background-position: -124px -31px;
}

/* about sub nav */

ul.sub-nav li.history a {
	width:124px; height:31px;
	background:url(../images/subNav_about.png)/*tpa=http://newsroom.united.com/images/subNav_about.png*/ 0 0 no-repeat;
	display:block;
}
ul.sub-nav li.history a:hover {
	background-position:0 -31px;
}
ul.sub-nav li.leadership a {
	width:89px; height:31px;
	background:url(../images/subNav_about.png)/*tpa=http://newsroom.united.com/images/subNav_about.png*/ -124px 0 no-repeat;
	display:block;
}
ul.sub-nav li.leadership a:hover {
	background-position:-124px -31px;
}

ul.sub-nav li.maps a {
	width:89px; height:31px;
	margin: 0 0 0 -1px;
		background: url(../images/subNav_about.png)/*tpa=http://newsroom.united.com/images/subNav_about.png*/ no-repeat -212px 0;
	display:block;
}

ul.sub-nav li.maps a:hover , ul.sub-nav li.maps #currentpage{
	background: url(../images/subNav_about.png)/*tpa=http://newsroom.united.com/images/subNav_about.png*/ no-repeat -212px -31px;
}

/* sidebar styles */

.alt-column {
	padding:50px 0 0 25px;
	background:url(../images/bg_altCol.png)/*tpa=http://newsroom.united.com/images/bg_altCol.png*/ 0 4px no-repeat;	
}
.alt-column .fact-sheet {
border-bottom:dotted 1px #b2b2b2;
	padding:0 0 28px 0;
	width:238px;

}
.alt-column .fact-sheet h3 {
	margin:0 0 19px 8px;
}
.alt-column .fact-sheet .copy {
	padding:12px 0 0 87px;
	width:146px; height:80px;
	background:url(../images/large_pdf.jpg)/*tpa=http://newsroom.united.com/images/large_pdf.jpg*/ 0 0 no-repeat;	
}
.alt-column .fact-sheet .copy p {
	width:147px;
	font-size:12px;
	line-height:18px;
	color:#333333;	
}
.alt-column .fact-sheet a.btn_download {
	margin:0 0 0 61px;
	width:133px;
	height:31px;
	background:url(../images/btn_download.png)/*tpa=http://newsroom.united.com/images/btn_download.png*/ 0 0 no-repeat;
	display:block;	
}
.alt-column .fact-sheet a.btn_download:hover {
	background-position:0 -31px;	
}
.alt-column .media-contacts {
	padding:25px 0 0 0;
}
.alt-column .media-contacts h3 {
	margin:0 0 14px 0;
}
.alt-column .media-contacts .contact {
	margin: 0 0 37px 0;
	font:normal 12px Helvetica,Arial, sans-serif;
	color:#333333;
	overflow:hidden;
}
.alt-column .media-contacts .contact .name {
	font-weight:bold;	
}
/*footer styles*/
.footer-wrapper {
	margin:80px 0 0 0; 

	font:normal 10px Verdana, Geneva, sans-serif;
	color:#666;
	overflow:hidden;
	padding:20px 0 0 0;
	background-color: #f4f4f4;
	height: 127px;
}
.footer-wrapper .add-this {
	margin:0 0 30px 0;
}
.footer-wrapper ul.links {
	margin:1px 0 3px 0;
	padding: 0;	
}

.footer-wrapper .grid_10 {
	width:500px;
}	

.footer-wrapper ul.links li {
	margin:0 20px 0 0;
	float:left;
	display:inline;	
}
.footer-wrapper ul.links li.united a {
	margin:3px 0 0 0;
	width:94px; 
	height:15px;
	background: url(../images/footer_logo-united.png)/*tpa=http://newsroom.united.com/images/footer_logo-united.png*/ no-repeat 0 0;
	display:block;
}


.footer-wrapper ul.links li.continental a {
	width:102px; 
	height:21px;
	background: url(../images/footer_logo-continental.png)/*tpa=http://newsroom.united.com/images/footer_logo-continental.png*/ no-repeat 0 0;
	display:block;
}

.footer-wrapper ul.links li.star a {
	width:198px; 
	height:20px;
	background: url(../images/footer_logo-star-alliance.png)/*tpa=http://newsroom.united.com/images/footer_logo-star-alliance.png*/ no-repeat 0 0;
	display:block;
}

.footer-wrapper a {
	color:#666;
	text-decoration:none;
}
.footer-wrapper a:hover {
		color:#000;
	font-weight:bold;	
}
.footer-wrapper ul.site-nav {
	margin:40px 0 0 0;
	width:360px;	
}
.footer-wrapper ul.site-nav li {
	
	padding: 0 0 5px 0;
	display:inline;
	float:left;	
}

.footer-wrapper .grid_6 {
	position:relative;
	width: 420px;
}

ul.site-nav-col-1 {
	position:absolute;
	left: 0;
	top: 20px;
	list-style: none;
	margin: 0;
	padding:0;
}
ul.site-nav-col-2 {
	position:absolute;
	left:220px;
	top: 20px;
	list-style: none;	
	margin: 0;
	padding:0;	
}
ul.site-nav-col-3 {
	position:absolute;
	left:330px;
	top: 20px;
	list-style: none;	
	margin: 0;
	padding:0;	
}
.site-nav-col-1 li, .site-nav-col-2 li, .site-nav-col-3 li {
	line-height:10px;
	padding: 0 0 4px 0;
	white-space: nowrap;
}
.footer-copyright{
	
	position:relative;
	top: 88px;
}


container_16 .grid_11 h2 {
	margin: 0 0 15px 0;
}
.container_16 .grid_11 .general-copy{
	padding: 80px 0 0 0;
	
}
.container_16 .grid_11 p.description {
	padding:0 0 15px 0;
	font-size:12px;
	line-height:18px;
	color:#444444;
}

.container_16 .grid_11 p.description {
	padding:0 0 30px 0;
	font-size:12px;
	line-height:18px;
	color:#444444;
}
.general-column{
	margin: 30px 0 0 0;
}
.general-copy h3{
	margin: 0 0 10px 0;
}
