body {
    margin:0 10px;
}
.text_color_orange_light {
    color: #cc6600;
}
.text_color_orange_dark {
    color: #993300;
}
.text_color_grey_lightest {
    color: #cccccc;
}
.text_color_grey_light {
    color: #999999;
}
.text_color_grey_medium {
    color: #666666;
}
.text_color_grey_dark {
    color: #333333;
}
.text_color_blue_light {
    color: #8aa5c2;
}
.text_color_blue_dark {
    color: #336699;
}
.text_color_red {
    color: #e23828;
}
.text_color_white {
    color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight:bold;
    line-height:16px;
    margin:0;
    padding:0;
}
h1 {
    font-size:20px;
    line-height:22px;
}
h2 {
    font-size:18px;
    line-height:20px;
}
h3 {
    font-size:16px;
    line-height:18px;
}
h4 {
    font-size:14px;
}
h5 {
    font-size:12px;
}
h6 {
    font-size:11px;
}

.onlyprint {display:none}

.topnavdrop {
	FONT-SIZE: 15px;
    LINE-HEIGHT: 15px;
    white-space:nowrap;
    float:left;
    text-align:left;
}

.topNavBar {
    width:730px; 
    margin: 0 auto; 
    height: 28px;
    background-image:url('../images/general/bckgrn_blue.gif')/*tpa=http://www.alcoa.com/common/images/general/bckgrn_blue.gif*/;
    background-repeat:repeat-x;
}

.topNavCell {
    position:relative; 
    display:block;
    float:left; 
    margin-top:1px;
    padding:7px 8px 7px 8px; 
}

.topNavDropContainer {
    position:absolute;
    top:27px;
    left:0px;
    white-space:nowrap;
    visibility:hidden;
    padding:2px 10px 6px 8px;
}

.button   { border-style: solid;
	border-width:1;
        border-color: #CE9A00 #CE9A00 #CE3000 #CE3000;
        background-color: #cc6600;
        text-decoration: none;   
        height:17px;
	padding-left: 0px;
	padding-right: 0px;
	margin: 0px;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: 9px;
  	FONT-WEIGHT: normal;

  	TEXT-DECORATION: none;
	color: black; 
        text-align: center;}
.alcoaList
{
}
.marketsidenav
{
    COLOR: #336699;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 10px;*/
		FONT-SIZE: 11px;
    FONT-WEIGHT: normal;
    LINE-HEIGHT: 13px;
    TEXT-DECORATION: none
}
A.marketsidenav
{
    COLOR: #336699;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 10px;*/
		FONT-SIZE: 11px;
    FONT-WEIGHT: normal;
    LINE-HEIGHT: 13px;
    TEXT-DECORATION: none
}
A.marketsidenav:hover
{
    COLOR: #8aa5c2;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 10px;*/
		FONT-SIZE: 11px;
    FONT-WEIGHT: normal;
    LINE-HEIGHT: 13px;
    TEXT-DECORATION: underline
}
A.iconlinkbluesm
{
    COLOR: #336699;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 9px;*/
		FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    LINE-HEIGHT: 13px;
    TEXT-DECORATION: none
}
A.iconlinkbluesm:hover
{
    COLOR: #8aa5c2;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 9px;*/
		FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    LINE-HEIGHT: 13px;
    TEXT-DECORATION: underline
}
.widgetclose
{
    COLOR: #666666;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 9px;*/
		FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none
}
A.widgetclose:hover
{
    COLOR: #333333;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 9px;*/
		FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: underline
}
.secthead
{
    COLOR: #333333;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 10px;*/
		FONT-SIZE: 11px;
    TEXT-DECORATION: none
}
A.secthead:hover
{
    COLOR: #333333;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 10px;*/
		FONT-SIZE: 11px;
    TEXT-DECORATION: underline
}
.sectheadopen
{
    COLOR: #666666;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 10px;*/
		FONT-SIZE: 11px;
    TEXT-DECORATION: none
}
.title
{
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 13px;*/
		FONT-SIZE: 16px;
    FONT-WEIGHT: bold;
    /*LINE-HEIGHT: 15px;*/
		LINE-HEIGHT: 18px;
    TEXT-DECORATION: none
}
.pagetitle
{
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, Verdana, sans-serif;
    FONT-SIZE: 14px;
    LINE-HEIGHT: 14px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none
}
A.pagetitle
{
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, Verdana, sans-serif;
    FONT-SIZE: 14px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none
}
A.pagetitle:hover
{
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, Verdana, sans-serif;
    FONT-SIZE: 14px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none
}
.sitetitle
{
    COLOR: #cc6600;
    FONT-FAMILY: Helvetica, Arial, Verdana, sans-serif;
	FONT-SIZE: 14px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none
}
A.sitetitle
{
    COLOR: #cc6600;
    FONT-FAMILY: Helvetica, Arial, Verdana, sans-serif;
	FONT-SIZE: 14px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none
}
A.sitetitle:hover
{
    COLOR: #cc6600;
    FONT-FAMILY: Helvetica, Arial, Verdana, sans-serif;
	FONT-SIZE: 14px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none
}
.sitetitleblue
{
    COLOR: #003399;
    FONT-FAMILY: Helvetica, Arial, Verdana, sans-serif;
	FONT-SIZE: 18px;
	LINE-HEIGHT: 21px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
A.sitetitleblue
{
    COLOR: #003399;
    FONT-FAMILY: Helvetica, Arial, Verdana, sans-serif;
	FONT-SIZE: 18px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
A.sitetitleblue:hover
{
    COLOR: #003399;
    FONT-FAMILY: Helvetica, Arial, Verdana, sans-serif;
	FONT-SIZE: 18px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
.headline
{
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
		FONT-SIZE: 20px;
    FONT-WEIGHT: bold;
    LINE-HEIGHT: 22px;
    TEXT-DECORATION: none
}
.bodycopy
{
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 10px;*/
		FONT-SIZE: 11px;
    FONT-WEIGHT: normal;
    LINE-HEIGHT: 16px;
    TEXT-DECORATION: none
}
.bodycopysm
{
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 10px;*/
		FONT-SIZE: 9px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none
}
A.bodycopy
{
    COLOR: #cc6600;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 10px;*/
		FONT-SIZE: 11px;
    FONT-WEIGHT: normal;		
    TEXT-DECORATION: underline
}
A.bodycopy:hover
{
    COLOR: #993300;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 10px;*/
		FONT-SIZE: 11px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: underline
}
.bodycopylist
{
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 10px;*/
		FONT-SIZE: 11px;
    FONT-WEIGHT: normal;
    LINE-HEIGHT: 14px;
    TEXT-DECORATION: none
}
A.bodycopylist
{
    COLOR: #cc6600;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 10px;*/
		FONT-SIZE: 11px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: underline
}
A.bodycopylist:hover
{
    COLOR: #993300;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 10px;*/
		FONT-SIZE: 11px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: underline
}
.sidecopy
{
    COLOR: #666666;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 9px;*/
		FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    LINE-HEIGHT: 14px;
    TEXT-DECORATION: none
}
.head
{
    COLOR: #333333;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 11px;*/
		FONT-SIZE: 12px;
    FONT-WEIGHT: bold;
    LINE-HEIGHT: 16px;
    TEXT-DECORATION: none
}
A.head
{
    COLOR: #336699;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 11px;*/
		FONT-SIZE: 12px;
    FONT-WEIGHT: bold;
    LINE-HEIGHT: 16px;
    TEXT-DECORATION: none
}
A.head:hover
{
    COLOR: #8aa5c2;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 11px;*/
		FONT-SIZE: 12px;
    FONT-WEIGHT: bold;
    LINE-HEIGHT: 16px;
    TEXT-DECORATION: underline
}
.subhead
{
    COLOR: #666666;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 10px;*/
		FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    LINE-HEIGHT: 16px;
    TEXT-DECORATION: none
}
A.subhead
{
    COLOR: #336699;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 10px;*/
		FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    LINE-HEIGHT: 16px;
    TEXT-DECORATION: none
}
A.subhead:hover
{
    COLOR: #8aa5c2;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 10px;*/
		FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    LINE-HEIGHT: 16px;
    TEXT-DECORATION: underline
}
.headlist
{
    COLOR: #333333;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 10px;*/
		FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    LINE-HEIGHT: 14px;
    TEXT-DECORATION: none
}
.rcccopy
{
    COLOR: #666666;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 10px;*/
		FONT-SIZE: 11px;
    FONT-WEIGHT: normal;
    LINE-HEIGHT: 14px;
    TEXT-DECORATION: none
}
A.rcccopy
{
    COLOR: #cc6600;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 10px;*/
		FONT-SIZE: 11px;
    FONT-WEIGHT: normal;
    LINE-HEIGHT: 14px;
    TEXT-DECORATION: underline
}
A.rcccopy:hover
{
    COLOR: #993300;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 10px;*/
		FONT-SIZE: 11px;
    FONT-WEIGHT: normal;
    LINE-HEIGHT: 14px;
    TEXT-DECORATION: underline
}
.rcchead
{
    COLOR: #333333;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 10px;*/
		FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    LINE-HEIGHT: 14px;
    TEXT-DECORATION: none
}
.smblack
{
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 9px;*/
		FONT-SIZE: 10px;
    LINE-HEIGHT: 12px;
    TEXT-DECORATION: none
}
A.sidenav
{
    COLOR: #336699;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 10px;*/
		FONT-SIZE: 11px;
    FONT-WEIGHT: normal;
    LINE-HEIGHT: 13px;
    TEXT-DECORATION: none
}
A.sidenavsub
{
    COLOR: #336699;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 10px;*/
		FONT-SIZE: 11px;
    FONT-WEIGHT: normal;
    LINE-HEIGHT: 16px;
    TEXT-DECORATION: none
}
A.sidenav:hover
{
    COLOR: #8aa5c2;
    TEXT-DECORATION: underline
}
A.sidenavsub:hover
{
    COLOR: #8aa5c2;
    TEXT-DECORATION: underline
}
.sidenavcurrent
{
    COLOR: #666666;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 10px;*/
		FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    LINE-HEIGHT: 13px;
    TEXT-DECORATION: none
}
.sidenavcurrent:hover
{
    COLOR: #666666;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 10px;*/
		FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    LINE-HEIGHT: 13px;
    TEXT-DECORATION: none
}
.sidenavsubcurrent
{
    COLOR: #666666;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 10px;*/
		FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    LINE-HEIGHT: 16px;
    TEXT-DECORATION: none
}
.sidenavsubcurrent:hover
{
    COLOR: #666666;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 10px;*/
		FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    LINE-HEIGHT: 16px;
    TEXT-DECORATION: none
}
.sidenavsect
{
    COLOR: #336699;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 10px;*/
		FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    LINE-HEIGHT: 24px;
    TEXT-DECORATION: none
}
.searchnav
{
    COLOR: #003399;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 9px;*/
		FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none
}
A.searchnav
{
    COLOR: #003399;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 9px;*/
		FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none
}
A.searchnav:hover
{
    COLOR: #003399;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 9px;*/
		FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: underline
}
A.metanav
{
    COLOR: #8aa5c2;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 9px;*/
		FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none
}
A.metanav:hover
{
    COLOR: #336699;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 9px;*/
		FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: underline
}
.menubar
{
    COLOR: #666666;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 9px;*/
		FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none
}
A.menubar:hover
{
    COLOR: #666666;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 9px;*/
		FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none
}
.whitemenubar
{
    COLOR: #FFFFFF;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 9px;*/
		FONT-SIZE: 11px;
		LINE-HEIGHT: 12px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
A.whitemenubar:hover
{
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 9px;*/
		FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
.footer
{
    COLOR: #999999;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 9px;*/
		FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none
}
A.footer:hover
{
    COLOR: #cc6600;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 9px;*/
		FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: underline
}
.whitefooter
{
    COLOR: #FFFFFF;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
	FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
A.whitefooter:hover
{
    COLOR: #FFFFFF;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
	FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: underline
}
.date
{
    COLOR: #8aa5c2;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 10px;*/
		FONT-SIZE: 11px;
    FONT-WEIGHT: normal;
    LINE-HEIGHT: 14px;
    TEXT-DECORATION: none
}
A.linklist
{
    COLOR: #cc6600;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 10px;*/
		FONT-SIZE: 11px;
    FONT-WEIGHT: normal;
    LINE-HEIGHT: 16px;
    TEXT-DECORATION: none
}
A.linklist:hover
{
    COLOR: #993300;
    TEXT-DECORATION: underline
}
.iconlinksm
{
    COLOR: #cc6600;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 9px;*/
		FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    LINE-HEIGHT: 13px;
    TEXT-DECORATION: none;
}
.iconlinksm:hover
{
    COLOR: #993300;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 9px;*/
		FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    LINE-HEIGHT: 13px;
    TEXT-DECORATION: underline;
}
.iconlinklg
{
    COLOR: #cc6600;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 10px;*/
		FONT-SIZE: 11px;
    FONT-WEIGHT: normal;
    LINE-HEIGHT: 14px;
    TEXT-DECORATION: none
}
.iconlinklg:hover
{
    COLOR: #993300;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 10px;*/
		FONT-SIZE: 11px;
    FONT-WEIGHT: normal;
    LINE-HEIGHT: 14px;
    TEXT-DECORATION: underline
}
.menugraybold
{
    COLOR: #666666;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 10px;*/
		FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    LINE-HEIGHT: 14px;
    TEXT-DECORATION: none
}
bodycopy.image
{
    LINE-HEIGHT: normal
}
.glosspop
{
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 9px;*/
		FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none
}
A.glosspop:hover
{
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 9px;*/
		FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: underline
}
A
{
    COLOR: #cc6600;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 10px;*/
		FONT-SIZE: 11px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: underline
}
A:hover
{
    COLOR: #993300;
    TEXT-DECORATION: underline
}
UL
{
    LIST-STYLE: disc url(../images/general/box_bullet.gif)/*tpa=http://www.alcoa.com/common/images/general/box_bullet.gif*/ outside;
    MARGIN-LEFT: 0px;
	PADDING-LEFT: 18px;
	MARGIN-TOP: 0px;
	MARGIN-BOTTOM: 0px;
}
UL UL
{
}
OL
{
    MARGIN-LEFT: 0px;
    PADDING-LEFT: 30px;
	MARGIN-TOP: 0px;
	MARGIN-BOTTOM: 0px;
}
OL OL
{
}
LI
{
    MARGIN: 0;
    PADDING: 0;
}
FORM
{
    BORDER-BOTTOM: 0px;
    BORDER-LEFT: 0px;
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    MARGIN: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px
}
.formcopy
{
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 10px;*/
		FONT-SIZE: 11px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none
}
.forminput
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 10px;*/
		FONT-SIZE: 11px;
	color: #000000
}
.monospace
{
    COLOR: #000000;
    FONT-FAMILY: Courier New, Monospace;
    /*FONT-SIZE: 11px;*/
		FONT-SIZE: 12px;
}
.contactinputbox
{
    BACKGROUND-COLOR: #ffffff;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 10px;*/
		FONT-SIZE: 11px;
    HEIGHT: 17px;
    WIDTH: 151px
}
.contactmessagebox
{
    BACKGROUND-COLOR: #ffffff;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 10px;*/
		FONT-SIZE: 11px;
    HEIGHT: 110px;
    WIDTH: 270px
}
.widgetinputbox
{
    BACKGROUND-COLOR: #f5f5f5;
    COLOR: #666666;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 10px;*/
		FONT-SIZE: 11px;
    HEIGHT: 17px;
    WIDTH: 124px
}
.homecountrywidget
{
    BACKGROUND-COLOR: #e6e0da;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 10px;*/
		FONT-SIZE: 11px;
    HEIGHT: 18px;
    WIDTH: 195px
}
.compselbox
{
    BACKGROUND-COLOR: #e6e0da;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 10px;*/
		FONT-SIZE: 11px;
    HEIGHT: 16px;
    WIDTH: 160px
}

/*HOMEPAGE STYLES BELOW*/
.homecopy
{
    /*COLOR: #666666;*/
		COLOR: #333333;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 10px;*/
		FONT-SIZE: 11px;
    FONT-WEIGHT: normal;
    LINE-HEIGHT: 14px;
    TEXT-DECORATION: none
}
A.homecopy
{
    COLOR: #cc6600;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 10px;*/
		FONT-SIZE: 11px;
    FONT-WEIGHT: normal;
    LINE-HEIGHT: 14px;
    TEXT-DECORATION: underline
}
A.homecopy:hover
{
    COLOR: #993300;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 10px;*/
		FONT-SIZE: 11px;
    FONT-WEIGHT: normal;
    LINE-HEIGHT: 14px;
    TEXT-DECORATION: underline
}
.homehead
{
    COLOR: #333333;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*FONT-SIZE: 10px;*/
		FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    LINE-HEIGHT: 14px;
    TEXT-DECORATION: none
}
.with_sep
{
    background: url(../images/general/grfc_dottedline.gif)/*tpa=http://www.alcoa.com/common/images/general/grfc_dottedline.gif*/;
    background-position: left bottom;
    background-repeat:no-repeat;
    padding-bottom:3px;
    position:relative;
    display:block;
    margin-bottom:1px;
}
.with_arrow
{
    background: url(../images/general/nav_widget_orange_arrow.gif)/*tpa=http://www.alcoa.com/common/images/general/nav_widget_orange_arrow.gif*/;
    background-position:left 3px;
    background-repeat:no-repeat;
    padding-left:12px;
}
.with_pdf
{
    background: url(../images/general/pdf_icon.gif)/*tpa=http://www.alcoa.com/common/images/general/pdf_icon.gif*/;
    background-position:left top;
    background-repeat:no-repeat;
    padding-left:20px;
    padding-top:5px;
}

.with_mic
{
    background: url('../images/general/microphone.jpg')/*tpa=http://www.alcoa.com/common/images/general/microphone.jpg*/;
    background-position:left top;
    background-repeat:no-repeat;
    padding-left:20px;
    padding-top:5px;
}

.with_news
{
    background: url('../../global/en/investment/images/results_icon.jpg')/*tpa=http://www.alcoa.com/global/en/investment/images/results_icon.jpg*/;
    background-position:left top;
    background-repeat:no-repeat;
    padding-left:20px;
    padding-top:5px;
}

.with_notepad
{
    background: url('../../global/en/investment/images/transcript_icon.jpg')/*tpa=http://www.alcoa.com/global/en/investment/images/transcript_icon.jpg*/;
    background-position:left top;
    background-repeat:no-repeat;
    padding-left:20px;
    padding-top:5px;
}

.with_media
{
    background: url('../images/general/wmv.gif')/*tpa=http://www.alcoa.com/common/images/general/wmv.gif*/;
    background-position:left top;
    background-repeat:no-repeat;
    padding-left:20px;
    padding-top:5px;
}

.with_phone
{
    background: url(../images/general/contact_phone.jpg)/*tpa=http://www.alcoa.com/common/images/general/contact_phone.jpg*/;
    background-position:left 1px;
    background-repeat:no-repeat;
    padding-left:22px;
    padding-top: 1px;
    padding-bottom: 1px;
    line-height: 16px !important;
    vertical-align: baseline;
}

.with_mobile
{
    background: url(../images/general/contact_mobile.jpg)/*tpa=http://www.alcoa.com/common/images/general/contact_mobile.jpg*/;
    background-position:left 1px;
    background-repeat:no-repeat;
    padding-left:22px;
    padding-top: 1px;
    padding-bottom: 1px;
    line-height: 16px !important;
    vertical-align: baseline;
}

.with_fax
{
    background: url(../images/general/contact_fax.jpg)/*tpa=http://www.alcoa.com/common/images/general/contact_fax.jpg*/;
    background-position:left 1px;
    background-repeat:no-repeat;
    padding-left:22px;
    padding-top: 1px;
    padding-bottom: 2px;
    line-height: 17px !important;
    vertical-align: baseline;
}

.with_email
{
    background: url(../images/general/contact_email.jpg)/*tpa=http://www.alcoa.com/common/images/general/contact_email.jpg*/;
    background-position:left 1px;
    background-repeat:no-repeat;
    padding-left:22px;
    padding-top: 1px;
    padding-bottom: 1px;
    line-height: 16px !important;
    vertical-align: baseline;
}

.bannerIcon, .bannerIconActive
{
    background:url('../images/general/banner_icon.gif')/*tpa=http://www.alcoa.com/common/images/general/banner_icon.gif*/ no-repeat;
    left:-16px;
    width:16px;
    height:17px;
    line-height:17px;
    _padding-left:24px;
	font-size: 0px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-decoration: none;
    color: #666666;
    white-space:nowrap;
    text-align:left;
    display:block;
    position:relative;
    margin:0;
    z-index:10;
    overflow:hidden;
}
.bannerIconActive {
    background:transparent url('../images/general/banner_icon_active_transparent.gif')/*tpa=http://www.alcoa.com/common/images/general/banner_icon_active_transparent.gif*/ no-repeat;
    left:-24px;
    width:24px;
    height:20px;
    line-height:20px;
}
.bannerIcon:hover, .bannerIconActive:hover
{
    background:url('../images/general/banner_icon_wide.gif')/*tpa=http://www.alcoa.com/common/images/general/banner_icon_wide.gif*/ no-repeat;
	font-size: 10px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-decoration: none;
    color: #000000;
    padding-left:10px;
    left:-350px;
    width:350px;
}
.bannerIconActive:hover {
    background:url('../images/general/banner_icon_active_wide.gif')/*tpa=http://www.alcoa.com/common/images/general/banner_icon_active_wide.gif*/ no-repeat;
	font-size: 11px;
}
#bannerCounterContainer {
    position:absolute;
    top:0;
    left:-24px;
    width:24px;
    height:20px;
    font-size:0;
    background:url('../images/general/banner_icon_active.gif')/*tpa=http://www.alcoa.com/common/images/general/banner_icon_active.gif*/ no-repeat;            
    z-index:10;
}
#bannerCounter {
    position:absolute;
    top:1px;
    left:3px;
    width:20px;
    height:17px;
    font-size:0;
    background:url('../images/general/banner_icon_counter_gradient.gif')/*tpa=http://www.alcoa.com/common/images/general/banner_icon_counter_gradient.gif*/ repeat-x;
}
#bannerCounter2 {
    position:absolute;
    top:1px;
    left:1px;
    width:2px;
    height:15px;
    font-size:0;
    background:url('../images/general/banner_icon_counter_gradient.gif')/*tpa=http://www.alcoa.com/common/images/general/banner_icon_counter_gradient.gif*/ repeat-x;
}
#bannerIconNav {
    position:relative;
    top:0;
    left:730px;
    width:0px;
    font-size:0;
    z-index:10;
}
#bannerIconNavContainer {
    display:none;
    position:absolute;
    height:0;
    width:0;
}

.pad {
clear: both; 
margin: 0; 
padding: 0; 
width: 100px; 
height: 1px; 
line-height: 1px; 
font-size: 1px; 
}

#pre_left_nav {
    margin-bottom:7px;
}
#post_left_nav {
}
#left_nav {

}
#left_nav ul {
    padding-left:0;
    margin:0;
    list-style:none none outside;
    border-width:0;
}
#left_nav ul li {
    padding:6px 0 5px 0;
    line-height:13px;
    background-image: url('../images/general/indent_rule.gif')/*tpa=http://www.alcoa.com/common/images/general/indent_rule.gif*/;
    background-repeat: no-repeat; 
    background-position: 0 0;
    vertical-align:middle;
    border-width:0;
}
#left_nav ul li a {
    background-image: url('../images/general/blue_top_nav_arrow.gif')/*tpa=http://www.alcoa.com/common/images/general/blue_top_nav_arrow.gif*/;
    background-position:left 3px;
    background-repeat:no-repeat;
    padding-left:12px;
    display:block;
}
#left_nav ul li.with_sub, #left_nav ul li.prev_current {
    padding:5px 0 5px;
    background-image: none;
    border-top: solid 1px #CCCCCC;
}
#left_nav ul li a.sidenavcurrent {
    background-image: url('../images/general/rt_box.gif')/*tpa=http://www.alcoa.com/common/images/general/rt_box.gif*/;
    background-position:left 0;
    background-repeat:no-repeat;
}
#left_nav ul li a.with_sub {
    background-image: url('../images/general/rt_down_arrow.gif')/*tpa=http://www.alcoa.com/common/images/general/rt_down_arrow.gif*/;
    background-position:left 0;
    background-repeat:no-repeat;
}
#left_nav ul li.first {
    border-top-width: 0;
    background-image: none;
    vertical-align:middle;
}
#left_nav ul ul {
    padding:0;
    margin:2px 0 -2px 12px;
}
#left_nav ul li.with_sub ul li {
    background-image: none;
    border-top: none;
    padding:3px 0 2px;
}
#left_nav ul ul li.current {
}