/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#333;}
#colorbox{outline:0;}
    #cboxTopLeft{width:14px; height:14px; background:url(images/cbx_controls.png)/*tpa=http://www.unum.com/styles/Unum/Home/images/cbx_controls.png*/ 0 0 no-repeat;}
    #cboxTopCenter{height:14px; background:url(images/cbx_border.png)/*tpa=http://www.unum.com/styles/Unum/Home/images/cbx_border.png*/ top left repeat-x;}
    #cboxTopRight{width:14px; height:14px; background:url(images/cbx_controls.png)/*tpa=http://www.unum.com/styles/Unum/Home/images/cbx_controls.png*/ -37px 0 no-repeat;}
    #cboxBottomLeft{width:14px; height:14px; background:url(images/cbx_controls.png)/*tpa=http://www.unum.com/styles/Unum/Home/images/cbx_controls.png*/ 0 -62px no-repeat;}
    #cboxBottomCenter{height:14px; background:url(images/cbx_border.png)/*tpa=http://www.unum.com/styles/Unum/Home/images/cbx_border.png*/ bottom left repeat-x;}
    #cboxBottomRight{width:14px; height:14px; background:url(images/cbx_controls.png)/*tpa=http://www.unum.com/styles/Unum/Home/images/cbx_controls.png*/ -37px -62px no-repeat;}
    #cboxMiddleLeft{width:14px; background:url(images/cbx_controls.png)/*tpa=http://www.unum.com/styles/Unum/Home/images/cbx_controls.png*/ -175px 0 repeat-y;}
    #cboxMiddleRight{width:14px; background:url(images/cbx_controls.png)/*tpa=http://www.unum.com/styles/Unum/Home/images/cbx_controls.png*/ -211px 0 repeat-y;}
    #cboxContent{background:#fff; }
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        
        #cboxLoadedContent{margin:13px; padding:2px; background:#444;}
        #cboxLoadingOverlay{background:url(images/cbx_loading_background.png)/*tpa=http://www.unum.com/styles/Unum/Home/images/cbx_loading_background.png*/ center center no-repeat;}
        #cboxLoadingGraphic{background:url(images/cbx_loading.gif)/*tpa=http://www.unum.com/styles/Unum/Home/images/cbx_loading.gif*/ center center no-repeat;}
        #cboxTitle{position:absolute; bottom:0px; left:0; text-align:center; width:100%; font-size:1.6em; font-weight:bold; color:#85A4B8; float:none !Important;}
        #cboxCurrent{position:absolute; bottom:0px; left:58px; font-weight:bold; color:#7C7C7C;}
        
        #cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{position:absolute; bottom:0px; background:url(images/cbx_controls.png)/*tpa=http://www.unum.com/styles/Unum/Home/images/cbx_controls.png*/ 0px 0px no-repeat; width:23px; height:23px; text-indent:-9999px;}
        #cboxPrevious{left:0px; background-position: -51px -25px;}
        #cboxPrevious.hover{background-position:-51px 0px;}
        #cboxNext{left:27px; background-position:-75px -25px;}
        #cboxNext.hover{background-position:-75px 0px;}
        #cboxClose{right:-12px; top:-10px;  background:url(images/cbx_controls.png)/*tpa=http://www.unum.com/styles/Unum/Home/images/cbx_controls.png*/ -100px -25px no-repeat; border:0; -webkit-appearance: button-bevel;}
        #cboxClose.hover{background-position:-100px 0px; border:0; -webkit-appearance: button-bevel;}
        
        .cboxSlideshow_on #cboxSlideshow{background-position:-125px 0px; right:27px;}
        .cboxSlideshow_on #cboxSlideshow.hover{background-position:-150px 0px;}
        .cboxSlideshow_off #cboxSlideshow{background-position:-150px -25px; right:27px;}
        .cboxSlideshow_off #cboxSlideshow.hover{background-position:-125px 0px;}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}