body {
	font: 13px/1.5 Arial, Tahoma, sans-serif;
	background-color: #fff;
	margin: 0px;
	padding: 0px;
	color: #333;
	height:auto;
	margin: 0 auto;
	border:0px;
	outline:0px;
	vertical-align:baseline;
	background:no-scroll transparent;
}
html, body {
	height: 100%;
}
#wrap {
	min-height: 100%;
}
#main {
	overflow:auto;
	padding-bottom: 255px;
	border:0px solid #000;
}  /* must be same height as the footer - 315px*/
/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;
}
.aspNetHidden {
	display:none;
}
/*FRAMESET*/
img.tabright {
	float: right;
	clear: both;
	z-index:2999;
	position: fixed;
	right: 0;
	top: 200px;
	cursor:pointer;
}
img.tabright a{
}
img.tabright a:focus{
	outline:1px dotted #145f8d;
	height:100%;
	width:100%;
}
img.tabright2 {
	float: right;
	clear: both;
	z-index:2998;
	position: fixed;
	right: 0;
	top: 236px;
	cursor:pointer;
}
img.tabright2 a {
}
img.tabright2 a:focus {
	outline:1px dotted #145f8d;
	height:100%;
	width:100%;
}
img.tabright3 {
	float: right;
	clear: both;
	z-index:2997;
	position: fixed;
	right: 0;
	top: 272px;
	cursor:pointer;
}
img.tabright3 a:focus {
	outline:1px dotted #145f8d;
	height:100%;
	width:100%;
}
img.tabright4 {
	float: right;
	clear: both;
	z-index:2996;
	position: fixed;
	right: 0;
	top: 308px;
	cursor:pointer;
}
img.tabright4 a:focus {
	outline:1px dotted #145f8d;
	height:100%;
	width:100%;
}
img.tabright5 {
	float: right;
	clear: both;
	z-index:2995;
	position: fixed;
	right: 0;
	top: 344px;
	cursor:pointer;
}
img.tabright5 a:focus {
	outline:1px dotted #145f8d;
	height:100%;
	width:100%;
}
img.tabright6 {
	float: right;
	clear: both;
	z-index:2994;
	position: fixed;
	right: 0;
	top: 380px;
	cursor:pointer;
}
img.tabright6 a:focus {
	outline:1px dotted #145f8d;
	height:100%;
	width:100%;
}
#content_container_home {
	margin: 0 auto;
	position:relative;
	padding:0;
	height:100%;
}
#content_container_col1 {
	width: 935px;
	margin: 0 auto;
	position:relative;
	height:100%;
	padding-left:5px;
	padding-right:25px;
}
#content_container_col2 {
	width: 960px;
	margin: 0 auto;
	position:relative;
	padding:0;
	height:100%;
	border:0px solid #ccc;
	background-image:url(../_images/border_content_divide_vertical_col2.png)/*tpa=http://www.rrdonnelley.com/_rrdglobal/_images/border_content_divide_vertical_col2.png*/;
	background-repeat:repeat-y;
}

#content_container_col2_no_left_nav {
	width: 960px;
	margin: 0 auto;
	position:relative;
	padding:0;
	height:100%;
	border:0px solid #ccc;
	background-image:url(../_images/border_content_divide_vertical_col2_noleftnav.png)/*tpa=http://www.rrdonnelley.com/_rrdglobal/_images/border_content_divide_vertical_col2_noleftnav.png*/;
	background-repeat:repeat-y;
}

#content_container_col3 {
	width: 960px;
	margin: 0 auto;
	position:relative;
	padding:0;
	height:100%;
	border:0px solid #ccc;
	background-image:url(../_images/border_content_divide_vertical_col3.png)/*tpa=http://www.rrdonnelley.com/_rrdglobal/_images/border_content_divide_vertical_col3.png*/;
	background-repeat:repeat-y;
}
.frameset {
	width: 960px;
	margin: 0 auto;
	padding:0;
	border:0;
}
.frameset2 {
	width: 960px;
	border:1px solid #000;
	margin: 0 auto;
	padding:0;
	border:0;
}
/* homepage ads */
#homepg_ad1 {
	padding:0;
	margin:0
}
#homepg_ad2 {
	padding:0;
	margin:0
}
/* page button banners */
.button_banners {
	margin-left:-10px;
}
#button_banner1 {
	float:left;
}
#button_banner2 {
	float:left;
}
.right_column {
	width:635px;
	float:left;
}

#right_col  p {
	line-height:normal;
}

#logo {
	float:left;
	padding-top:30px;
	padding-left:9px;
}
/*IMAGES*/
.img_right {
	padding:5px 0px 5px 18px;
	float:right;
}
/*TOP BAR*/
#leftcurve {
	float:right;
	margin-right:-1px;
	height:10px;
	width:10px;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	border-radius: 0px 10px 0px 0px;/*behavior: url(../_stylesheet/PIE.htc);*/	
}
#rightcurve {
	float:right;
	margin-left:-1px;
	height:10px;
	width:10px;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	-moz-border-radius-topleft: 10px;
	-webkit-border-radius-topleft: 10px;
	border-radius: 10px 0px 0px 0px;/*behavior: url(../_stylesheet/PIE.htc);*/	
}
ul.top_area_bullets li {
	background: url(../_images/top_nav_bullet.png)/*tpa=http://www.rrdonnelley.com/_rrdglobal/_images/top_nav_bullet.png*/ no-repeat;
	background-position: 0px 5px;
	margin-left: 0;
	margin-right:5px;
	padding-left: 10px;
	border: none;
	list-style: none;
	display: inline;
}
.top_area_bullets_on {
	color:#fff;
	font-weight:bold;
}
#top_nav_middle_app {
	font-size: 12px;
	margin-left:10px;
	margin-top:8px;
}
#top_nav_middle_app a:link {
	color: #fff;
	text-decoration: none; 
}
#top_nav_middle_app a:visited {
	color: #fff;
	text-decoration: none;	
}
#top_nav_middle_app a:active {
	color: #fff;
	text-decoration: none;
}
#top_nav_middle_app a:hover {
	color: #fff;
	text-decoration: underline; 
}
#top_nav_middle a:link {
	color: #fff;
	text-decoration: none;  
}
#top_nav_middle a:visited {
	color: #fff;
	text-decoration: none;	
}
#top_nav_middle a:active {
	color: #fff;
	text-decoration: none;
}
#top_nav_middle a:hover {
	color: #fff;
	text-decoration: underline; 
}
#top_nav_middle a:focus {
	color: #fff;
	text-decoration: underline; 
}
#top_nav_site_icon {
	float:left;
	margin-top:3px;
}
#language_container {
	float:right;
	margin-top:5px;
}
#flag {
	float:left;
	padding-right:3px;
}
#language {
	float:left;
	font-size:11px;
	margin-top:-3px;
}
#language_dropdown_arrow {
	float:left;
	margin-left:4px;
	margin-top:4px;
}
/*TOP BAR - Search*/
#searchwrapper {
	width:190px;
	margin-top:-30px;
	margin-left:18px;
	margin-right:0px;
	margin-bottom: 0px;
	/*background-image: url(http://www.google.com/cse/intl/en/images/google_custom_search_watermark.gif);*/
	background-attachment: initial;
	background-origin: initial;
	background-clip: initial;
	background-color: rgb(255, 255, 255);
	background-position: 5% 50%;
	background-repeat: no-repeat;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; 	/*behavior: url(../_stylesheet/PIE.htc);*/
	position:relative;
	-moz-box-shadow: 3px 3px 3px #454545;
	-webkit-box-shadow: 3px 3px 3px #454545;
	box-shadow: 3px 3px 3px #454545;
	border:2px solid #ccc; /*important*/
}


#searchwrapper_white {
	width:190px;
	margin-top:-30px;
	margin-left:18px;
	margin-right:0px;
	margin-bottom: 0px;
	background-color: rgb(255, 255, 255);
	background-position: 5% 50%;
	background-repeat: no-repeat;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; 	/*behavior: url(../_stylesheet/PIE.htc);*/
	position:relative;
	-moz-box-shadow: 3px 3px 3px #454545;
	-webkit-box-shadow: 3px 3px 3px #454545;
	box-shadow: 3px 3px 3px #454545;
	border:2px solid #ccc; /*important*/
}
#searchwrapper_white input {
	margin: 3px;
	color:#666;
	font-size:11px;
	outline:none;
	border: none;
	height: 18px;
	background-color:transparent;
}
#searchwrapper input {
	margin: 3px;
	color:#666;
	font-size:11px;
	outline:none;
	border: none;
	height: 18px;
	background-color:transparent;
}
.searchbox_submit {
	background-color:transparent;
	float: right;
	margin-right:3px;
}
/*top navigation*/
#row {
	display: table-row;
	float:left;
	margin:0;
}
#left {
	display: table-cell;
	margin:0;
}
#right {
	display: table-cell;
	margin:0;
}
/*CONTENT COLUMNS*/
#col1_content {
	margin:0;
	padding-left:0px;
	padding-right:0px;
	float:left;
	text-align:left;
	margin-bottom:0px;
	padding-top:10px;
	width:950px;
}
#col2_content {
	margin:0;
	padding-top:10px;
	margin-left:20px;
	margin-right:20px;
	float:left;
	text-align:left;
	width:750px;
}
#col2_content_no_left_nav {
	margin:0;
	padding-top:10px;
	margin-left:8px;
	margin-right:20px;
	float:left;
	text-align:left;
	width:710px;
}

#col3_content {
	margin:0;
	padding-top:10px;
	margin-left:20px;
	margin-right:20px;
	float:left;
	text-align:left;
	width:530px;
}
#page_banner {
	margin-bottom:20px;
	margin-right:10px;
	margin-top:10px;
}
#col_divide_top {
	float:left;
	width:770px;
}
#col_divide_horz {
	background-image:url(../_images/border_content_divide_horz.png)/*tpa=http://www.rrdonnelley.com/_rrdglobal/_images/border_content_divide_horz.png*/;
	background-repeat:no-repeat;
	height:1px;
	width:940px;
}
#col_divide_bottom_2col {
	background-image:url(../_images/border_content_divide_bottom_col2.png)/*tpa=http://www.rrdonnelley.com/_rrdglobal/_images/border_content_divide_bottom_col2.png*/;
	background-repeat:no-repeat;
	height:40px;
}

#col_divide_bottom_2col_noleftnav {
	background-image:url(../_images/border_content_divide_bottom_col2_noleftnav.png)/*tpa=http://www.rrdonnelley.com/_rrdglobal/_images/border_content_divide_bottom_col2_noleftnav.png*/;
	background-repeat:no-repeat;
	height:40px;
}
#col_divide_bottom_3col {
	background-image:url(../_images/border_content_divide_bottom_col3.png)/*tpa=http://www.rrdonnelley.com/_rrdglobal/_images/border_content_divide_bottom_col3.png*/;
	background-repeat:no-repeat;
	height:40px;
}
/* RIGHT COLUMN */
#right_col {
	float:right;
	width:180px;
	margin-right:20px;
	margin-left:20px;
	padding-top:19px;
}
/*-----------------*/
*, * focus {
	margin: 0;
	padding: 0;
}

/* NEWS */
.frameset_news {
	width:475px;
}

/* MISC */
.skip a:focus, .skip a:active {
	position: relative;
	border: solid #333 2px;
	color: #fff;
	background: #555
}
.quote {
	float:right;
	margin-top:-30px
}

/* POPUP TABLES */
.frameset_popup {
	width:570px;
	height:375px;
	margin: 0 auto;
	padding:0;
	border:0;
}
.popup_table {
	font-size:13px;
	font-family:  Arial, Tahoma, sans-serif;
	text-align: left;
	margin:0;
	padding:0
}
.popup_table th, tbody, tbody td {
	color:#333;
	font-weight:bold;
	text-align: left;
	vertical-align:top;
}
.popup_table thead tr th {
	background-color:#fff;
	color: #FFF;
	height: 33px;
	font-size:15px;
	font-weight:400;
	padding-left: 10px;
	padding-top:4px;
	padding-right:8px;
	border-top:1px #ccc solid;
	border-left: 1px #ccc solid;
	border-right: 1px #ccc solid;
}
.popup_table th.left {
	color: #FFF;
	height: 33px;
	background:#fff;
	font-size:18px;
	font-weight:400;
	padding-left: 10px;
	padding-top:4px;
	padding-right:8px;
	border-top: 1px #ccc solid;
	border-left: 1px #ccc solid;
	border-right: 1px #ccc solid;
}
.popup_table th.middle {
	color: #FFF;
	height: 33px;
	font-size:18px;
	font-weight:400;
	padding-left: 10px;
	padding-top:4px;
	padding-right:8px;
	border-top: 1px #ccc solid;
	border-right: 1px #ccc solid;
}
.popup_table th.right {
	color: #FFF;
	height: 33px;
	font-size:18px;
	font-weight:500;
	padding-left: 10px;
	padding-top:4px;
	padding-right:8px;
	border-top: 1px #ccc solid;
	border-right: 1px #ccc solid;
}
.popup_table td {
	padding-top: 8px;
	padding-right: 10px;
	padding-bottom: 3px;
	padding-left: 10px;
	border-right: 1px #ccc solid;
	border-bottom: 1px #ccc solid;
	border-top: 1px #ccc solid;
}
.popup_table td.leftside {
	width:35%;
}
.popup_table td:first-child {
	border-left: 1px #ccc solid;
}
.popup_table td.subcategory:first-child {
	border-right: 1px #ccc solid;
}
.popup_table tr {
	background: #f4f4f4;
}
.popup_table tr:nth-child(even) {
	background: #e4e4e4;
}
.popup_table tr:nth-child(odd) {
	background: #f4f4f4;
}
.popup_table td.footer {
	height:15px;
	color: #ffffff;
	background-color:#fff;
	font-family:  Arial, Tahoma, sans-serif;
	font-size: 12px;
	text-align: left;
	padding-top: 10px;
	padding-bottom: 2px;
	padding-left: 5px;
	border-top:1px #fff solid;
	border-left: 1px #fff solid;
	border-right: 1px #fff solid;
	border-bottom: 1px #fff solid;
}
.popupControl {
	position:absolute;
	visibility:hidden;
	border-style:solid;
	border-color: #999;
	border-width: 1px;
}
.modalBackground {
	background-color:#666;
	filter:alpha(opacity=80);
	opacity:0.8;
	position: absolute;
}
.modalPopup {
	/*-moz-border-radius:10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	/*ie fix*/
	/*border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-radius: 10px 10px 10px 10px;
	/*behavior: url(../_stylesheet/PIE.htc);*/
	background-color:#ffffff;
	/*border-width:1px;
	border-style:solid;
	border-color:#999;*/
	font-family:Arial, Tahoma, sans-serif;
	font-size:12px;
	padding:10px;
	width:250px;
}
/*----END OF SHARE THIS EMAIL - POP UP----*/


/*----LANGUAGE DROP DOWN----*/
.dd {
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	float:left;
	margin-top:4px;
}
.dd .ddTitle {
	border:0px solid #c3c3c3;
	padding:3px;
	text-indent:0;
	cursor:default;
	overflow:hidden;
	height:16px;
}
.dd .ddTitle span.ddTitleText {
	text-indent:1px;
	overflow:hidden;
	line-height:16px;
}
.dd .ddTitle span.ddTitleText img {
	text-align:left;
	padding:0 2px 4px 0
}
.dd .ddTitle img.selected {
	padding:0 3px 0 0;
	vertical-align:top;
}
.dd .ddChild {
	position:absolute;
	border:1px solid #c3c3c3;
	border-top:none;
	display:none;
	margin:0;
	width:auto;
	overflow:auto;
	overflow-x:hidden !important;
	background-color:#ffffff;
}
.dd .ddChild .opta a, .dd .ddChild .opta a:visited {
	padding-left:10px
}
.dd .ddChild a {
	display:block;
	padding:2px 0 2px 3px;
	text-decoration:none;
	color:#000;
	overflow:hidden;
	white-space:nowrap;
	cursor:pointer;
}
.dd .ddChild a:hover {
	background-color:#00b4e9;
}
.dd .ddChild a img {
	border:0;
	padding:0 2px 0 0;
	vertical-align:middle;
}
.dd .ddChild a.selected {
	background-color:#00b4e9;
}
.hidden {
	display:none;
}
.dd .borderTop {
	border-top:1px solid #c3c3c3 !important;
}
.dd .noBorderTop {
	border-top:none 0 !important
}

/*----END OF LANUGUAGE DROP DOWN----*/

/* SITEMAP */
.sitemap {
	width: 960px;
	margin: 0 auto;
	padding:0;
	border:0;
	margin-bottom:10px;
}
.sitemap tr {
}
.sitemap td {
	padding:10px 35px 10px 0;
	margin:0;
}
/*----BREADCRUMBS----*/
.module:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
/* float clearing for IE6 */
* html .module {
	height: 1%;
	overflow: visible;
}
/* float clearing for IE7 */
* + html .module {
	min-height: 1%;
}
.breadCrumbHolder {
	margin:0;
}
.breadCrumb {
	margin: 0;
	float: left;
	display: block;
	height: 20px;
	overflow: hidden;
	/*width: 765px;*/
	padding-top:15px;
	padding-bottom:10px;
	padding-left:5px;
	font-family:Arial, Tahoma, sans-serif;
	font-size:12px;
}
.breadCrumb ul {
	margin: 0;
	padding: 0;
	height: 20px;
	display: block;
}
.breadCrumb ul li {
	display: block;
	float: left;
	position: relative;
	height: 20px;
	overflow: hidden;
	line-height: 20px;
	margin: 0px 6px 0px 0;
	padding: 0px 10px 0px 0;
	font-size: .9167em;
	background: url(../_images/breadcrumb_chevron.png)/*tpa=http://www.rrdonnelley.com/_rrdglobal/_images/breadcrumb_chevron.png*/ no-repeat 100% 0;
}
.breadCrumb ul li div.chevronOverlay {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}
.breadCrumb ul li span {
	display: block;
	overflow: hidden;
}
.breadCrumb ul li a {
	display: block;
	position: relative;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	float: left;
	color: #145F8D;
	text-decoration:none;
	font-weight:normal;
}
.breadCrumb ul li a:hover {
	text-decoration:underline;
	color:#666;
}
.breadCrumb ul li a:focus {
	text-decoration:underline;
	color:#666;
}
.breadCrumb ul li.first a {
	background: none;
	margin-right: 0;
	padding-right: 0;
	text-decoration:none;
}
.breadCrumb ul li.first a:hover {
	text-decoration:none;
}
.chevronOverlay {
	display: none;
	background: url(../_images/breadcrumb_overlay.png)/*tpa=http://www.rrdonnelley.com/_rrdglobal/_images/breadcrumb_overlay.png*/ no-repeat 100% 0;
	width: 13px;
	height: 20px;
}
/*----END BREADCRUMBS----*/



/*****Accessibilty----*/
.backgroundPop {
	display:none;
	position:fixed;
	_position:absolute; /* hack for internet explorer 6*/
	height:100%;
	width:100%;
	top:0;
	left:0;
	background:#999;
	border:1px solid #999;
	z-index:49998;
}
.popContact {
	display:none;
	height:auto;
	width:auto;
	-moz-border-radius:10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	/*ie fix*/
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-radius: 10px 10px 10px 10px;
	/*behavior: url(../_stylesheet/PIE.htc);*/
	background-color:#ffffff;
	border-width:1px;
	border-style:solid;
	border-color:#999;
	font-family:Arial, Tahoma, sans-serif;
	font-size:12px;
	/*padding:20px 45px 35px 40px;*/padding:20px;
	z-index:49999;
}
.popContact a {
	color:#666;
	text-decoration:none;
	font-weight:600;
}
.popContact a:hover {
	color: #145F8D;
	text-decoration: underline;
	font-weight:600;
}
.popContact a:focus {
	color: #145F8D;
	text-decoration: underline;
	font-weight:600;
}
.popContact a:active {
	color: #145F8D;
	text-decoration: underline;
	font-weight:600;
}
.popContactClose {
	position:absolute;
	right:5px;
	top:7px;
	cursor:pointer;
}
.button3 {
	text-align:left;
}

/*----END Accessibilty----*/
