/* Footer sticks to bottom of page */
#footer2 {
	position: relative;
	margin-top: -244px; /* negative value of footer height */
	height: 315px;
	clear:both;
	border:0px solid #cc0000;
}
/* FOOTER ROW LINKS */
#footer_row {
	background:#ccc;
	height:2px;
}
#footer_row_links {
	color:#fff;
	font-size:11px;
	text-transform:uppercase;
	/*margin-top:25px;*/
	padding:10px 15px 10px 0;
}
.footer_row_links_on {
	color:#fff;
	font-weight:bold;
}
#footer_row_links a:link {
	color:#fff;
	text-decoration: none;
}
#footer_row_links a:visited {
	color: #fff;
	text-decoration: none;
}
#footer_row_links a:active {
	color: #fff;
	text-decoration: none;
	outline: none;
}
#footer_row_links a:hover {
	color: #fff;
	text-decoration: underline;
}
#footer_row_links a:focus {
	color: #fff;
	text-decoration: underline;
}
.footer_row_divide {
	padding:0 3px 0 3px;
}
/* FOOTER TAB */
#footer_frameset{
	width:300px;
	margin: 0 auto;
	padding:0;
	border:0px solid #336699;
}
.tabs {
	margin-left:20px;/*margin-left:35px;*/
	font-weight:600;
	padding-top:2px;
	border:0px solid #cc0000;
}
#footer_tab {
	margin-left:275px;/*margin-left:275px;*/
	padding:1px 1px 0 1px;
	border:0;
	font-size:14px;
	border:0px solid #000;
}
#footer_tab a:link {
	color:#fff;
	text-decoration: none;
}
#footer_tab a:visited {
	color: #fff;
	text-decoration: none;
}
#footer_tab a:active {
	color: #fff;
	text-decoration: none;
	outline: none;
}
#footer_tab a:hover {
	color: #fff;
	text-decoration: none;
}
.left {
	display: table-cell;
	margin:0;
}
/* 2nd FOOTER */
#footer_row2 {
	background: #145f8d;
}
#footer_button {
	margin:-5px 0 -7px 0;
	width: 330px;/*width: 315px;*/
	cursor: pointer;
	/*z-index:11;*/
	height:30px;
	padding:.75em .4em .75em 0;
	position:relative;
	overflow:hidden;
}
#footer_bottom {
	width:960px;
}
#footer_higher {
	width:960px;
}
#footer_higher #footer_content {
	width: 960px;
	margin: 0 auto;
	display: none;
	color:#000;
	font-size:12px;
}
#footer_content h3 {
	color:#fff;
	margin:0;
	padding:12px 0 2px 0;
}
#footer_content .title {
	font-size:17px;
	color:#fff;
	font-weight:bold;
	padding:18px 0 2px 0;
}
#footer_content p {
	margin:0;
	color:#fff;
}
#footer_content ul {
	padding-left:30px;
	margin:0 10px 10px;
	color:#fff;
	list-style-image:url(../_images/list_arrow_blue.png)/*tpa=http://www.rrdonnelley.com/_rrdglobal/_images/list_arrow_blue.png*/;
}
#footer_content li a:link {
	color:#fff;
	text-decoration: none;
}
#footer_content li a:visited {
	color: #fff;
	text-decoration: none;
}
#footer_content li a:active {
	color: #fff;
	text-decoration: none;
	outline: none;
}
#footer_content li a:hover {
	color: #fff;
	text-decoration: underline;
}
#footer_content li a:focus {
	color: #fff;
	text-decoration: underline;
}
.clear {
	clear:both;
}
/*---------------*/


/* JQUERY ANIMATION - FOOTER TABS */
.demo {
	width:298px;
	padding:.75em 0 .75em 0;
	margin:0;
	position:relative;
	overflow:hidden;
	font-size:12px;
	color:#000;
}
.demo2 {
	width:330px;/*width:315px;*/
	padding:0;
	margin:0;
	position:relative;
	overflow:hidden;
	border:0;
}
.demo5 {
	width:370px;
	padding:0;
	margin:0;
	position:relative;
	overflow:hidden;
	border:0;
}
.collapse p {
	padding:0 10px 1em;
}
.switch {
	position:absolute;
	top:0.5em;
	right: 1.5em;
	padding:3px
}
.post .switch {
	position:static;
	text-align:right
}
.post .main {
	margin-bottom:.3em;
	padding-bottom:0
}
/*------------*/

#footer {
	clear: both;
	position: relative;
	/*z-index: 10;*/
	background-color: #fafafa;
	padding-bottom:15px;
	border-top: 2px #cccccc solid;
	color:#fff;
	font-size: 0.95em;
}
#footer_divide {
	/*margin-top:75px;*/
	margin-top:30px;
	margin-bottom:5px;
}
#footer .footer_column a:link {
	color:#145F8D;
	text-decoration: none;
}
#footer .footer_column a:visited {
	color: #145F8D;
	text-decoration: underline;
}
#footer .footer_column a:active {
	color: #145F8D;
	text-decoration: none;
}
#footer .footer_column a:hover {
	color: #666;
	text-decoration: underline;
}
#footer .footer_column a:focus {
	color: #666;
	text-decoration: underline;
}
#footer_column_container {
	float:left;
	width:640px;
	padding-top:10px;
}


.footer_column {
	float:left;
	
	color:#fff;
	font-size:14px;
	margin-right:12px;
	margin-top:5px;
}

.footer_column_title {
	color:#333;
	font-size:12px;
	line-height:1.5em;
	font-weight:600;
	padding-top:0px;	
	text-transform:uppercase;
}
#footer_address_name {
	font-size:18px;
	color:#333;
	font-weight:500;	
	padding-bottom:3px;
}



.footer_column ul {
	margin:7px 10px 0 15px;
	font-size:13px;
	line-height:1.5em;
	list-style-type: none;
	list-style-image:url(../_images/btm_nav_bullet.png)/*tpa=http://www.rrdonnelley.com/_rrdglobal/_images/btm_nav_bullet.png*/;
}
/* FOOTER LOGO */
#footer_logo {
	float:right;
	margin:0;
	width:300px;
	padding-top:20px;
}
/* FOOTER AD */
#footer_ad {
	padding-left:50px;
	margin-top:-5px;
}
/* FOOTER ADDRESS */
#footer_address {
	padding:0px 0 10px 0;
	float:left;
	font-size:13px;
}
#footer_address a {
	text-decoration:underline;
	color:#145F8D;
}
#footer_address a:hover {
	color: #666;
	text-decoration:underline;
}
#footer_address a:focus {
	color: #666;
	text-decoration:underline;
}
#footer_address a:active {
	color:#145F8D;
	text-decoration:underline;
}
.footer_image {
	margin:0;
}
.footer_letters {
	display:none;
}
#footer_address_box {
	color:#333;
	float:left;
	margin-top:12px;
	/*LAK - 12/22/14 */
	width: 285px;
}
/* ROUNDED CORNERS */
#rounded-corners {
	/*width:90px;
	float:left;
	margin-right:145px;
	border:1px solid #cccccc;
	background:#fff;
	padding: 3px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;*/
}
#rounded-corners2 {
	width:300px;
	float:left;
	margin-left:30px;
	/*margin-left:70px;*/
	border:1px solid #cccccc;
	background:#fff;
	padding:0px 6px 7px 6px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
}
/* FOOTER ADDRESS */
#footer_address_divide_line {
	border-right:1px dotted #ccc;
	padding-right:25px;
}
/* FSC */
/* LAK 12/18/14 */
#footer_fsc {
	margin:10px 10px 0 0;
	float:left;
}
#footer_fsc a {
	text-decoration:none;
	color: #145F8D;
}
#footer_fsc a:hover {
	color:#666;
	text-decoration:underline;
}
#footer_fsc a:active {
	color:#145F8D;
	text-decoration:underline;
}
#footer_fsc a:focus {
	color:#666;
	text-decoration:underline;
}
#footer_fsc_container {
	padding:4px 5px 0 10px;
	float:right;
	width: 330px;
}
#footer_fsc_logo {
	float:left;
	margin:0px 5px 5px 0;
	border:0;
}
/* LAK 12/18/14/*/
.footer_padding{/*height:78px; padding:3px;*/ padding:2px 8px 5px 8px;}
#footer_padding {display:block;}
#footer_fsc_copy {
	font-size: 12px;
	line-height: normal;
	color: #333;
	padding-top: 120px;
	margin-left:40px;
	/*margin-left: 80px;*/
}
.footer_fsc_copy_link {
	text-decoration:underline;
	color:#145F8D;
}
/* --- Headings  --- */
h6 {
	font-size:1.1em;
	color:#fff;
}
/* FOOTER TABS - Inside 2nd Footer */
.expand {
	padding:0 .8em .75em 0;
	text-decoration:none;
	color:#fff;
}
.expand ul {
	list-style:none;
	margin:0;
	font-size:12px;
	color:#fff;
}
.expand a {
	color:#fff;
	padding:0 .8em .75em 0;
	background-color:#609d0c;
	-moz-border-radius:7px;
	-webkit-border-radius: 7px;
	-khtml-border-radius: 7px;
	border-radius: 7px;
	/*ie fix*/
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
	border:#fff solid 0px;
	padding:7px 10px;
	text-decoration:none;
}
.expand a:link, .expand a:visited {
	background:#1a94e1 url(../_images/tab_arrow_down_grey.png)/*tpa=http://www.rrdonnelley.com/_rrdglobal/_images/tab_arrow_down_grey.png*/ no-repeat 98% 50%;
	text-decoration:none;
	color:#fff;
	font-weight:normal;
}
.expand a:hover, .expand a:active, .expand a:focus {
	text-decoration:none;
	color:#333;
	font-weight:normal;
	background-color:#ccc;
}
.expand a.open:link, .expand a.open:visited {
	background:#ccc url(../_images/tab_arrow_up_grey.png)/*tpa=http://www.rrdonnelley.com/_rrdglobal/_images/tab_arrow_up_grey.png*/ no-repeat 98% 50%;
	text-decoration:none;
	color:#333;
	font-weight:normal;
}
/* FOOTER TAB - 2nd Footer */
.expand2 {
	text-decoration:none;
	border:0;
	/*margin-top: -25em;*/
	z-index:0;
	height:30px;
	
}
.expand2 a {
	background:#145f8d url(../_images/footer_globe_down.png)/*tpa=http://www.rrdonnelley.com/_rrdglobal/_images/footer_globe_down.png*/ no-repeat 3px 3px;
	padding:0 .8em .75em 0;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-radius: 10px 10px 0px 0px;
	/*behavior: url(../_stylesheet/PIE.htc);*/

	padding-left:17px;
	padding-right:17px;
	padding-top:3px;
	padding:7px 10px;
	text-decoration:none;
}
.expand2 a:link, .expand2 a:visited {
	background:#145f8d url(../_images/footer_globe_down.png)/*tpa=http://www.rrdonnelley.com/_rrdglobal/_images/footer_globe_down.png*/ no-repeat 3px 3px;
	text-decoration:none;
	color:#fff;
	font-weight:normal;
}
.expand2 a:hover, .expand2 a:active, .expand2 a:focus {
	text-decoration:none;
	color:#fff;
	font-weight:normal;
	background-color:#145f8d;
}
.expand2 a.open:link, .expand2 a.open:visited {
	background:#145f8d url(../_images/footer_globe_up.png)/*tpa=http://www.rrdonnelley.com/_rrdglobal/_images/footer_globe_up.png*/ no-repeat 3px 3px;
	text-decoration:none;
	color:#fff;
	font-weight:normal;
}

/* WIDE FOOTER TAB */
.expand3 {
	text-decoration:none;
	border:0;
	z-index:0;
	height:30px;
	
}
.expand3 a {
	background:#145f8d url(../_images/footer_globe_down_wide.png)/*tpa=http://www.rrdonnelley.com/_rrdglobal/_images/footer_globe_down_wide.png*/ no-repeat 3px 3px;
	padding:0 .8em .75em 0;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-radius: 10px 10px 0px 0px;

	padding-left:17px;
	padding-right:17px;
	padding-top:3px;
	padding:7px 15px;
	text-decoration:none;
}
.expand3 a:link, .expand3 a:visited {
	background:#145f8d url(../_images/footer_globe_down_wide.png)/*tpa=http://www.rrdonnelley.com/_rrdglobal/_images/footer_globe_down_wide.png*/ no-repeat 3px 3px;
	text-decoration:none;
	color:#fff;
	font-weight:normal;
}
.expand3 a:hover, .expand3 a:active, .expand3 a:focus {
	text-decoration:none;
	color:#fff;
	font-weight:normal;
	background-color:#145f8d;
}
.expand3 a.open:link, .expand3 a.open:visited {
	background:#145f8d url(../_images/footer_globe_up_wide.png)/*tpa=http://www.rrdonnelley.com/_rrdglobal/_images/footer_globe_up_wide.png*/ no-repeat 3px 3px;
	text-decoration:none;
	color:#fff;
	font-weight:normal;
}



/* copyright */
#copyright {
	font-size:11px;
	color:#fff;
	text-transform:none;
}
/* new window */
a.new_win_footer{ padding-right:16px; color: #c00; }
a.new_win_footer:link  { background: url(../_images/new_window_footer.png)/*tpa=http://www.rrdonnelley.com/_rrdglobal/_images/new_window_footer.png*/ right center no-repeat; }
a.new_win_footer:hover { background: url(../_images/new_window_footer_grey.png)/*tpa=http://www.rrdonnelley.com/_rrdglobal/_images/new_window_footer_grey.png*/ right center no-repeat; }
