#container_menu {
	margin:0 auto;
	text-align:left;
	width:960px;
	border-collapse: collapse;
	
}
a img {
	border:none;
}
#last_item {
	border-right:1px solid #ccc;
	height:33px;
}

#Page {
  width: 950px;
  margin: auto;
  border-collapse: collapse;
  height: 100%;
}
.top_bar_btm {
	background-color:#145f8d;
	background-repeat:repeat-x;
	width:100%;
	height:32px;
	border-top:#ccc solid 1px;
	border-bottom:#ccc solid 2px;
	margin-top:25px;
}

/* LEVEL 1 NAV */
ul.megamenu {
	font-family:Arial, Helvetica, sans-serif;
	list-style: none;
	display: none;
	width:950px;
}

ul.megamenu li {
	margin: 0px;
	padding: 0px;
	
}

ul.megamenu li.clear-fix {
	float: none;
	clear: both;
	margin: 0px;
	padding: 0px;
	height: 0px;
	font-size: 0px;
	line-height: 0px;
}
ul.megamenu a.mm-item-link:link, ul.megamenu a.mm-item-link:visited {
	font-family:Arial;
	position: relative;
	display: inline-block;
	color: #FFF;
	padding: 9px 12px;
	text-decoration: none;
	z-index:1010;/*z-index:10010;*/
	font-size: 14px;
	border-top: 1px solid transparent;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	margin:-5px -2px -4px -2px;
	font-weight:bold;
	
}
ul.megamenu a.mm-item-link-hover:link, ul.megamenu a.mm-item-link-hover:visited {
	background: #FFF;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	margin:-5px -2px -4px -2px;
	padding-bottom:11px;
	border-color:#ccc;
	text-decoration: none;
	outline: none;
	height:18px;
	color:#145f8d;
	z-index:1008;
	font-weight:bold;

}
ul.megamenu a.mm-item-link-Off:link, ul.megamenu a.mm-item-link-Off:visited {
	background:#145f8d;
	font-weight:bold;
	color:#fff;
}


ul.megamenu div.mm-item-content {
	background: #FFF;
	padding: 0px;
	position: absolute;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	z-index:1009;
}
.mm-content-base {
	background: #fff;
	position: relative;
	z-index:1011;
	padding: 10px;
}

.mm-js-shadow {
	background: #ccc;
	position: absolute;
	margin-left:2px;
	margin-bottom:5px;
	z-index:1010;
}

/* END-TO-END ICONS */
.end_to_end{
	padding:10px 0 10px 25px;
	margin-left:0;
	width:100%;
	background:url(../_images/end_to_end_white.png)/*tpa=http://www.rrdonnelley.com/_rrdglobal/_images/end_to_end_white.png*/ no-repeat 1px 9px;
	margin-left:-5px;
	border:0px solid #000;
}
.end_to_end_hover {
	margin-left:0;
	background:url(../_images/end_to_end_blue.png)/*tpa=http://www.rrdonnelley.com/_rrdglobal/_images/end_to_end_blue.png*/ no-repeat 1px 9px;
	padding:10px 0 10px 25px;
	margin-left:-5px;
	z-index:2999;
}

/* LEVEL 2 NAV */
.level2_megamenu h1 {
	color:#145f8d;
	line-height:17px;
	font-size: 13px;
	margin:0px 18px 0 18px;
}
.level2_megamenu h2 {
	color:#145f8d;
	line-height:17px;
	font-size: 13px;
	margin:0px 18px 0 18px;
}
.level2_megamenu a:link, .level2_megamenu a:visited{
	color:#145f8d;
	text-decoration:none;
	font-size: 13px;
	font-weight:bold;
	line-height:16px;
}
.level2_megamenu a:hover, .level2_megamenu a:focus, .level2_megamenu a:active {
	color:#145f8d;
	text-decoration: underline;
	font-size: 13px;
	font-weight:bold;
	line-height:16px;
}
.level2_megamenu a.megaOff:link, .level2_megamenu a.megaOff:visited {
	color:#145f8d;
	text-decoration:none;
	font-size: 13px;
	font-weight:bold;
	line-height:16px;
}
.level2_megamenu a.megaActive:link, .level2_megamenu a.megaActive:visited {
	color:#1a94e1;
	/*color:#609D0C*/
	text-decoration:none;
	font-size: 13px;
	font-weight:bold;
	line-height:16px;
}

.megamenuTable {
	margin-top:10px;
	border-collapse: collapse;
	border-right: 1px solid #fff;
	width:100%;
	/*margin-bottom:5px;*/
}
.megamenuTable td {
	vertical-align: top;
	border-right: 1px dotted #ddd;
}
.megamenuTable td.LastCell {
	border: none;
}
.megamenuTable a {
	cursor: pointer;
	text-decoration:none;
	font-weight:normal;
	font-size:12px;
	color:#145f8d;
}
/* LEVEL 3 NAV */
.megamenuTable .level3_megamenu {
	margin:-15px 18px 18px 18px;
	color:#145f8d;
	text-decoration:none;
	list-style-type:none;
	/*outline:none;*/
	font-weight:normal;
}
.level3_megamenu ul {
}
.level3_megamenu li {
	font-size: 12px;
	/*margin: 5px 0px 8px;*/
	text-decoration:none;
	list-style-type:none;
	/*padding:0 10px 10px 0;
	background:url(/_rrdglobal/_images/list_bullet2.png) no-repeat -1px 5px;*/
	color:#145f8d;
	border:0px solid #000;
}

.level3_megamenu li a:link, .level3_megamenu li a:visited, .level3_megamenu li a:active {
	font-size: 12px;
	display: block;
	text-decoration: none;
	color: #145F8D;
	text-decoration: none; 
	font-weight:normal;
	padding: 2px 2px 2px 0px;
}
.level3_megamenu li a:hover, .level3_megamenu li a:focus, .level3_megamenu li a:active {
	font-size: 12px;
	display: block;
	color:#666;
	text-decoration: underline; 
	font-weight:normal;
	padding: 2px 2px 2px 0px;
}
.level3_megamenu li a.megamenuOff:link, .level3_megamenu li a.megamenuOff:visited {
	color:#145f8d;
	text-decoration:none;
	font-size: 12px;
	font-weight:bold;
	padding:10px;
}
.level3_megamenu li a.megamenuActive:link, .level3_megamenu li a.megamenuActive:visited {
	color:#1a94e1;
	text-decoration:underline;
	font-size: 12px;font-weight:bold;
	padding:10px;
	padding:0 10px 0 10px;
	margin-left:-10px;
	background:url(../_images/list_bullet3.png)/*tpa=http://www.rrdonnelley.com/_rrdglobal/_images/list_bullet3.png*/ no-repeat -1px 5px;
}
