div.price{font-weight:bold; color:#000000;font-size:16px;font-family: arial,sans-serif;}

div.nameURL{color:#000000;display:block;font-family:Arial;font-size:12px;font-weight:bold;}

.ourFavorites ul li.productInfo{width: 171px;}