@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot-9120456')/*tpa=http://www.anadarko.com/css/fonts/icon-font/font/fontello.eot?9120456*/;
  src: url('../font/fontello.eot-9120456#iefix')/*tpa=http://www.anadarko.com/css/fonts/icon-font/font/fontello.eot?9120456#iefix*/ format('embedded-opentype'),
       url('../font/fontello.woff-9120456')/*tpa=http://www.anadarko.com/css/fonts/icon-font/font/fontello.woff?9120456*/ format('woff'),
       url('../font/fontello.ttf-9120456')/*tpa=http://www.anadarko.com/css/fonts/icon-font/font/fontello.ttf?9120456*/ format('truetype'),
       url('../font/fontello.svg-9120456#fontello')/*tpa=http://www.anadarko.com/css/fonts/icon-font/font/fontello.svg?9120456#fontello*/ format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?9120456#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-facebook:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\e801'; } /* '' */
.icon-gplus:before { content: '\e802'; } /* '' */
.icon-youtube:before { content: '\e803'; } /* '' */
.icon-linkedin:before { content: '\e804'; } /* '' */
.icon-rss:before { content: '\e805'; } /* '' */
.icon-share:before { content: '\e806'; } /* '' */
.icon-circle-down:before { content: '\e807'; } /* '' */
.icon-circle-home:before { content: '\e808'; } /* '' */
.icon-circle-right:before { content: '\e809'; } /* '' */
.icon-down-arrow:before { content: '\e80a'; } /* '' */
.icon-home:before { content: '\e80b'; } /* '' */
.icon-left-arrow:before { content: '\e80c'; } /* '' */
.icon-right-arrow:before { content: '\e80d'; } /* '' */
.icon-ring-left:before { content: '\e80e'; } /* '' */
.icon-ring-play:before { content: '\e80f'; } /* '' */
.icon-ring-right:before { content: '\e810'; } /* '' */
.icon-search:before { content: '\e811'; } /* '' */
.icon-up-arrow:before { content: '\e812'; } /* '' */
.icon-circle2-hover:before { content: '\e813'; } /* '' */
.icon-cancel:before { content: '\e814'; } /* '' */
.icon-plus-circle:before { content: '\e815'; } /* '' */
.icon-circle-close:before { content: '\e816'; } /* '' */
.icon-down-circle:before { content: '\e817'; } /* '' */
.icon-left-circle:before { content: '\e818'; } /* '' */
.icon-right-circle:before { content: '\e819'; } /* '' */
.icon-up-circle:before { content: '\e81a'; } /* '' */
.icon-cancel-circle:before { content: '\e81b'; } /* '' */
.icon-right-open:before { content: '\e81c'; } /* '' */
.icon-down-open:before { content: '\e81d'; } /* '' */
.icon-circle-plus:before { content: '\e81e'; } /* '' */
.icon-ring-minus:before { content: '\e81f'; } /* '' */
.icon-left-open:before { content: '\e820'; } /* '' */
.icon-up-open:before { content: '\e821'; } /* '' */
.icon-circle-caret-right:before { content: '\e822'; } /* '' */
.icon-cancel-open:before { content: '\e823'; } /* '' */
.icon-ring2-hover:before { content: '\e824'; } /* '' */
.icon-file-word:before { content: '\e825'; } /* '' */
.icon-file-pdf:before { content: '\e826'; } /* '' */
.icon-file-archive:before { content: '\e827'; } /* '' */
.icon-file-excel:before { content: '\e828'; } /* '' */
.icon-file-powerpoint:before { content: '\e829'; } /* '' */
.icon-file-image:before { content: '\e82a'; } /* '' */
.icon-zoom-in:before { content: '\e82b'; } /* '' */
.icon-link-ext-alt:before { content: '\e82d'; } /* '' */
.icon-link-ext:before { content: '\e82e'; } /* '' */