/*		LEGACY		*/

/* HEADER */
#masthead {
	/* Had to remove this from the main style sheet to fix an iPad flicker bug. IE7 is the only browser that needs this style */
	z-index: 10;
}

/* Manage Your Claim - Bottom GO button */
#claimOfficeZipGoButton {
	/* position:relative !important; */
	/* margin-top:-25px !important; */
	margin-right:10px;/* left:176px !important; */
}
#contentPage #contentArea UL.listContainer {
	MARGIN: 15px 0px 0px;
}
/* HOMEPAGE Manage Your Claim - Bottom GO button */
#landingPage #claimOfficeZipGoButton {
	/* this code conflicts with IE6
	when I get a specific file for ie7, move this into it */

	position:relative !important;
	margin-top:-24px !important;
	margin-right:10px;
	left:166px !important;
}
/* Corp HP: find a local agent - "GO" */
#landingPage #modulesAccordion div.moduleContent input#claimOfficeZipGoButton {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent url(../../images/orange-button-states.png)/*tpa=https://www.libertymutual.com/images/orange-button-states.png*/ no-repeat scroll 0 2px;
	cursor:pointer;
	height:27px !important;
	margin-top:-3px;
	margin-right:6px;
	top:0px;
	width:43px !important;
	position:static !important;
	left: 160px;
	margin-left:178px;
}
#landingPage #modulesAccordion div.moduleContent input#claimOfficeZipGoButton:hover {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent url(../../images/orange-button-states.png)/*tpa=https://www.libertymutual.com/images/orange-button-states.png*/ no-repeat scroll -42px 2px;
}
#landingPage #modulesAccordion div.moduleContent input.goButtonSubmit {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent url(../../images/orange-button-states.png)/*tpa=https://www.libertymutual.com/images/orange-button-states.png*/ no-repeat scroll 0 2px;
	cursor:pointer;
	height:27px !important;
	margin-top:-3px;
	margin-right:6px;
	top:0px;
	width:43px !important;
}

#landingPage #modulesAccordion div.moduleContent input.goButtonSubmit:hover {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent url(../../images/orange-button-states.png)/*tpa=https://www.libertymutual.com/images/orange-button-states.png*/ no-repeat scroll -42px 2px;
}

.retrieveSavedQuoteForm .submitLock {
	margin-top: 3px;
}

#contentPage #modulesAccordion .goButtonSubmitLock, #modulesAccordion .goButtonSubmitLock, .isAccordion .goButtonSubmitLock{
	left: 1px;
}

/* Home Page Quick Links */
#quickLinksHeader .horizontalSep, #twoByCenterHeader .horizontalSep {
	line-height: 0px;
}

#quickLinksHeader .headerText, #twoByCenterHeader .headerText {
	bottom: 0px;
}

#quickLinksContainer li {
	display: inline;
}

/* FOOTER */

 #footer div#thinFooterHR {
 	padding:0px;
	margin-bottom:-2px; 
}

/*		END LEGACY		*/

div#pageBodyContent.landingRibbon div#headline span sup {
	line-height: 5.5em;  
}

div#affinityPortalHeader img {
	-ms-interpolation-mode: nearest-neighbor; 
}

#contentWrapper #contentArea .affinityPortalCenterModules .quoteButtonDiv {
	left: 22px;
}
.quoteButtonDivOverlay span {
	top: 2px;
}

/* LANDING PAGES */
div#pageBodyContent.landingRibbon div#headline span sup {
	line-height: 5.5em;  
}

/* center text in cobrandContainer */

div#pageBodyContent.landingArrow div#coBrandContainer div#coBrandTxtContainer div.coBrandTxtContainerInner { 
	position: absolute; top:50%;
}
div#pageBodyContent.landingArrow div#coBrandContainer div#coBrandTxtContainer div.coBrandTxtContainerInner span {
	position: relative; top: -50%
}

/* wrap headline text */

div#pageBodyContent.landingWrap div#coBrandContainer div#coBrandTxtContainer {
	position: relative;
}

div#pageBodyContent.landingWrap div#coBrandContainer div#coBrandTxtContainer div.coBrandTxtContainerInner {
	position: absolute;
	top: 50%;
}

div#pageBodyContent.landingWrap div#coBrandContainer div#coBrandTxtContainer div.coBrandTxtContainerInner span {
	position: relative;
	top: -50%;
}
	
	
	
/* find an agent search results page */
.officeInfoSection DIV.adr {
	width:160px !important;
}

li#module_advancedSearchTop {
/*	width: 935px;*/
}

#tertiaryContentArea .contentList dl{
	visibility: hidden;
}

/* This is for the Senior Driving Promo template */	
.documentsText {
margin-top:11px;
}	


/* fix feedback link in footer when zoomed in */
div.footerSocialMediaContents {
	padding-right:0px !important;
}

#pageFooter.standard div.footerSocialMediaContents div.feedbackContainer {
}
#pageFooter.standard div.footerSocialMediaContents .feedbackLinkText {
	padding:0;
	margin-right:12px;
	margin-left:10px;

}

/* vertically center topNav contents with liberty logo */


#contentPage #topNav {
}

/* vertically center topNav contents with liberty logo */
#contentPage.landing #topNav #topNavContainer {
	position:absolute;
	top:50%;
	height:62px;

}
#contentPage.landing #topNav #topNavContainerInner {
	position:relative;
	top:-50%;
	height:62px;
}

/* Affinity Wrap */

#affinityBottomWrapContainer {
	margin-left: 0px;
	background: none;
	left: 0px;
	bottom: 0px;
	text-align: center;
	clear: both;
	width: 100%;
}
.affinityBottomWrapOuter {
	width: 976px;
	background: white;
	text-align: left; 
}
.affinityBottomWrap {
	height: auto;
	min-height: 90px;
	visibility: hidden;
}
.affinityLogoContainer {
	float: left;
}
.bottomWrapSeperatorContainer {
	position: relative;
	float: left;
	padding: 0px;
}
.bottomWrapSeperator {
	height: 80px;
}
.wrapBannerContainer {
	float: left;
}
.landingTabBottomWrapOuter{
	top:-8px;
}

span.browseLink {
	background: transparent url("../../images/open_new_window-icon-trans.png")/*tpa=https://www.libertymutual.com/images/open_new_window-icon-trans.png*/ no-repeat 0 3px;
	display: inline-block;
	height: 16px;
	margin-left: 5px;
	cursor: pointer;
	width: 9px;
	}

.socialBarBottom{
	margin: 28px 0 12px 0;
	float: left;
}

#pageShadow{
	overflow: hidden;
}
#socialButtons{
	width: auto;
}
#agentCardDetails {
	padding-left: 0px;
}

#contentPage #contentWrapper ul.ui-tabs-nav li.tabCenterMod1 {
	border-top: 7px solid #B9CCA8;
	border-right: 9px solid #B9CCA8;
	border-bottom: 0;
	border-left: 6px solid #B9CCA8;
	margin: 0 0 -6px 0;
	width: 199px;
}
		
#contentPage #contentWrapper ul.ui-tabs-nav li.tabCenterMod2 {
	border-top: 7px solid #B9CCA8;
	border-right: 9px solid #B9CCA8;
	border-bottom: 0;
	border-left: 6px solid #B9CCA8;
	margin: 0 0 -6px 12px;
	width: 199px;
}
		
#contentPage #contentWrapper ul.ui-tabs-nav li.tabCenterMod3 {
	border-top: 7px solid #B9CCA8;
	border-right: 9px solid #B9CCA8;
	border-bottom: 0;
	border-left: 6px solid #B9CCA8;
	margin: 0 0 -6px 12px;
	width: 199px;
}
/*
#contentPage #contentWrapper #tabCenterModSet .ui-tabs-nav li a {
	padding: 8px 0 0;
	width: 202px;
}
*/
#contentPage #contentWrapper .ui-tabs-nav li a {
	height: 25px;
}#contentPage #contentWrapper .ui-tabs-nav li.ui-tabs-selected a {
	height: 32px;
}

div#relatedLinks {
	border-top: .1em solid #cccccc;
}

#contentArea #carSafetyRatings #scoreCriteria #viewSafetyScore {
	padding: 0 0;
	width: 122px;
}

/* styles for new lightboxes */
.jqmWindow #module_manageYourPolicy h3 .componentSubText,
.jqmWindow #module_manageYourPolicy ul li label 
{
	line-height: 12pt;
}

.jqmWindow #module_getYourQuote
{
	width: 240px;
}

#modulesAccordion #module_getYourQuote ul li.callOption,
.jqmWindow #module_getYourQuote ul li.callOption
{
	width: 154px;
}

.jqmWindow #module_getYourQuote ul li.retrieveQuote
{
	width: 187px;
}

.jqmWindow #module_findAnAgent
{
	width: 240px;
}
.jqmWindow #module_retrieveSavedQuote .componentTitleArea{
	width: 195px;
}

.jqmWindow #module_findAnAgent .findAgentNameForm button {
	clear: none;
	margin-right: 5px;
}
.jqmWindow.lightboxV2 #module_getYourQuote #quoteZipCode10{
	margin-top: -16px;
}
.jqmWindow.lightboxV2 #module_findAnAgent .findAgentNameForm{
	width: 220px;
	height: 124px;
	overflow: visible;
}
div.jqmWindow.lightboxV2 .retrieveSavedQuoteForm .retrieve{
	height: auto;
}

#modulesAccordion #module_getYourQuote:hover{
 	background-color: rgb(143, 174, 107);
}
#modulesAccordion #module_manageYourPolicy:hover,
#modulesAccordion #module_findAnAgent:hover,
#modulesAccordion #module_advancedSearch:hover{
	background-color: rgb(123,159,191);
}
#modulesAccordion #module_findAnAgent .findAgentNameForm{
	margin-top: -8px;
	padding-bottom: 40px;
}
#modulesAccordion #module_getYourQuote .getQuoteForm select{
	margin-left: 0px;
}
#modulesAccordion #module_advancedSearch .asAddress{
	margin-bottom: 10px;
}

/* Get Free Quote */
#module_getYourQuote li.retrieveQuote {
    width: 87%;
}
form.getQuoteForm > ul > li.quoteFindAgent{
	width: 145px;
}
form.getQuoteForm > ul > li.zipCode {
	padding-top: 8px;
}
form.getQuoteForm > ul > li.PinContainer {
	padding-top: 8px;
}
form.getQuoteForm > ul > li > label {
	width: auto;
}
form.getQuoteForm > ul > li > select,
form.getQuoteForm > ul > li > input {
	float: right;
	left: 0;
}


/* Quote Intent */
body.quoteIntentLandingPage form.getQuoteForm ul li {
	margin-bottom: 14px;
}
body.quoteIntentLandingPage form.getQuoteForm ul li label {
	width: none;
}
body.quoteIntentLandingPage form.getQuoteForm ul li select,
body.quoteIntentLandingPage form.getQuoteForm ul li input {
	float: right;
	margin-left: 0px;
}
/*
* bubble tooltip styles for ss media icons	
*/ 
a.bt:hover div.thebubble{
	margin-top:-50px;
    margin-left:-20px;
}

a.socialLink1 div.thebubble{
	margin-left:-60px !important;
}
a.socialLink2 div.thebubble{
	margin-left:-60px !important;
}
a.socialLink3 div.thebubble{
	margin-left:-100px !important;
}
a.socialLink4 div.thebubble{
	margin-left:-80px !important;
}
a.socialLink5 div.thebubble{
	margin-left:-180px !important;
}

/* sales rep page v2 */
body.agentPageV2  .agentInfoArea{
	padding-top:45px;
}
body.agentPageV2 .agentBioArea .agentServices li {
	display:inline;
}

body.agentPageV2 .agentArea{
	margin-top:16px;
}
body.agentPageV2 .agentInfo{
	margin-top:-40px;
}
.agentInfoArea .agentPhoto,
.agentInfoArea .agentContactInfo{
	float:left;
}
.salesAgentPersonalLinks ul{
	width:450px;
}
.addthis_button_google_plusone iframe{
	margin-top: -6px;
	height: 35px !important;
}
body.agentPageV2 .bodyCenterContainer #moduleArea {
 /*   margin-top: 36px;*/
}
/*Quick Links Fixes*/
.actionLinks ul li{
	width: auto;
}
.actionLinks ul{
	font-size: 18px;
}

/* Retrieve Quote */
form.retrieveSavedQuoteForm li.retrieve {
	margin-bottom: 20px;
}

#modulesAccordion #module_retrieveSavedQuote:hover {
 	background-color: rgb(143, 174, 107);
}
.jqmWindow .source .lightboxFirstUl{
	margin-bottom: -15px;
} 
.jqmWindow.lightboxV2 .lightboxRequestCallback,
.jqmWindow.lightboxV2 .lightboxFAQ{
	width: 400px;
} 
div.jqmWindow.lightboxV2 #requestCallBackContent #submitbutton{
	line-height: 15px;
}
div.jqmWindow.lightboxV2 #managePolicyMod{
	margin-bottom: -15px;
}
div.jqmWindow.lightboxV2 #module_findAnAgent{
	margin-top: 15px;
}
.jqmWindow #module_manageYourPolicy .manageYourPolicyIcon img{
	margin-top: 8px !important;
}
.jqmWindow #module_manageYourPolicy .componentTitle{
	/*margin-bottom: 15px !important;*/
}

.jqmWindow .getQuoteForm{
	padding-top: 20px;
}
.jqmWindow #module_getYourQuote .componentTitleArea{
	margin-top: 15px;
}
.jqmWindow #module_getYourQuote .componentTitleArea img{
	margin-top: 0px;
}
.jqmWindow #module_getYourQuote .componentTitle,
.jqmWindow #module_findAnAgent .componentTitle{
	width: 180px;
}
.jqmWindow #module_getYourQuote .componentSubText{
	margin-top: -8px;
}
.jqmWindow #module_getYourQuote{
	padding-top: 0px;
}
.jqmWindow #module_findAnAgent .componentSubText,
.jqmWindow #module_advancedSearch .componentSubText
{
	line-height: 16px;
}
#module_advancedSearchTop{
	width: auto !important;
}
#module_advancedSearchTop .moduleContent form{
	height: 55px;
}
.imageModuleContainer{
	margin: 2px 0 8px;
}	
/* Promo Modules */
div.promoModule h3.promoModuleTitle {
	width: 240px;
}
body.agentPageV2 #contentWrapper #pageTitleContainer h2#salesRepTitle{
	top:-3px;
}
body.agentPageV2 #nonavBreadcrumbBar{
	z-index:-4;
}
/* Affinity-Portal Form Fix*/
#contentPage #contentArea .affinityPortalCenterModules #alumniContent #stateSelection{
	margin-top: 0px;
}

a.bt:hover div.thebubble:before {
	border-top-color: #666 !important;
	border-width: 11px;
	top: 46px;
	left: 20px;
}

a.bt:hover div.thebubble:after {
	border-top-color: #FFF !important;
	border-width: 11px;
	top: 45px;
	left: 20px;
}

/* center modules on homepage */
li#landingCenterMod4, li#landingCenterMod6{
	position: relative;
	left:0;
	}
/*newHomepage specific CSS*/
#homePageBodyCenter #centerTop{
	background-image: url("../../images/whitePaperShadow.png")/*tpa=https://www.libertymutual.com/images/whitePaperShadow.png*/;
	overflow: visible;
	z-index: 2;
	height: 32em;
	width: 101%;
	margin-bottom: 26px;
	background-position-x: -5px;
	background-position-y: 20px;
	background-repeat: no-repeat;
}
#homePageBodyCenter #centerBottom{
	background-image: url("../../images/whitePaperShadow.png")/*tpa=https://www.libertymutual.com/images/whitePaperShadow.png*/;
	overflow: visible;
	z-index: 2;
	height: 130px;
	width: 102%;
	background-position-x: -3px;
	background-position-y: -220px;
	background-repeat: no-repeat;
}
#homePageBodyCenter .centerBackground{
	height: 83%;
	width: auto;
	filter: none;
}
#homePageBodyCenter #centerBottom .centerBackground{
	height: 61%;
}
#homePageBodyCenter #centerTopLeft,
#homePageBodyCenter #centerBottomLeft{
	float: left;
}
#homePageBodyCenter #centerTopRight{
	margin-top: 3%;
}
#homePageBodyCenter #centerTopLeft{
	margin-top: 3%;
}
#homePageBodyCenter #centerTopRight .twoByContent{
	padding-left: 15px;
}
#homePageBodyCenter #centerTopRight .twoByCenter .twoByImage{
	margin-top: -110px !important;
	margin-right: 85px;
	float: right;
	width: 30px;
}
#homePageBodyCenter #centerBottomRight #centerModuleSlider{
	margin-left: -15px;
}
#homePageBodyCenter .orangeSlip{
	filter: none;
	width: 20px;
	height: 100%;
	margin-left: -19px;
	background: none;
}
#homePageBodyCenter .blueSlip{
	filter: none;
	width: 20px;
	margin-left: -40px;
	height: 100%;
	background: none;
}
#homePageBodyCenter .greenSlip{
	filter: none;
	width: 20px;
	height: 100%;
	margin-left: -40px;
	float: left;
	background: none;
}
#homePageBodyCenter #centerTopRight .twoByCenter .twoByImage img{
	margin-left: 38px;
}
#homePageBodyCenter .linkText .imageModuleLink{
	margin-right: 15px;
}
#homePageBodyCenter .linkText .linkType.chevron{
	margin-left: -15px;
}
#homePageBodyCenter #centerBottomRight #sliderPagination{
	margin-top: 0px;
	margin-right: -5px;
	padding-top: 2px;
	height: 15px;
	position: relative;
	display: inline-block;
	*display: inline;
	zoom: 1;
}
#homePageBodyCenter #centerBottomRight #slideLeftButton,
#homePageBodyCenter #centerBottomRight #slideRightButton{
	display: inline-block;
	*display: inline;
	zoom: 1;
}
#homePageBodyCenter #centerBottomRight #sliderPager{
	display: inline-block;
	*display: inline;
	zoom: 1;
	height: 14px;
}
#homePageBodyCenter #centerBottomRight #sliderPager a{
	background-position-y: -200px;
}
#homePageBodyCenter #centerBottomRight #sliderPager a.activeSlide,
#homePageBodyCenter #centerBottomRight #sliderPager a.hover{
	background-position-y: -199px !important;
}
.white.browseTo.linkType{
	margin-top: -2px
}
.linkType.browseTo.white{
	background: url('../../images/spritesheets/common.png')/*tpa=https://www.libertymutual.com/images/spritesheets/common.png*/ -28px -566px no-repeat;
}
#globalContainer .globalNavArrow{
	right: 10px;
}
#homePageBodyTop {
	padding-bottom: 0px !important;
	float: left;
	height: auto;
}