.slideshow {

}



#banner {
position: relative;
   width: 917px;
    margin: 0 auto;
    
}

div.nivoSlider a.nivo-imageLink {
     display: block;
     background: url("../images/Transparent.png")/*tpa=http://www.rgare.com/_layouts/smartbanner/images/Transparent.png*/;
}

.slideshow img {
  display: none;
}

.slideshow a:first-child img {
  display: block;
}

.slideshow > img:first-child 
{
    display: block;
}

.nivo-directionNav a{
  display: block;
  width: 30px;
  height: 30px;
  background: url("Unknown_83_filename")/*tpa=http://www.rgare.com/_layouts/smartbanner/images/arrows.png*/ no-repeat;
  text-indent: -9999px;
  border: 0;
  opacity: 0;
  -webkit-transition: all 200ms ease in out;
  -moz-transition: all 200ms ease in out;
  -o-transition: all 200ms ease in out;
  transition: all 200ms ease in out;
}

a.nivo-prevNav { left: 15px; }

a.nivo-nextNav {
  background-position: -30px 0;
  right: 15px;
}


div.nivo-controlNav {
     bottom: 0px;
    right: 0;
    padding: 8px 0;
     position: absolute;
z-index: 100000;
background-color: #fff;
-webkit-border-top-left-radius: 12px;
-moz-border-radius-topleft: 12px;
border-top-left-radius: 12px;

}

.nivo-controlNav a {
     color: #999999;
     font-size: 18px;
     padding: 0 16px;
}

.nivo-controlNav a.active {
     color: #000000;
}



/*      #banner {
        width: 100%;
        position: absolute;
        overflow: hidden;
        margin: 0;
        padding: 0;
        z-index: -1;
      }

      .slideshow {
        position:relative;
        white-space:nowrap;
        display: inline;
        left:0;
        z-index: 0;
      }
      
      .slideshow .slide {
        position: relative;
        height: 156px;
        border: 0;
        padding: 0;
        display: inline-block;
        *display: inline;
        top:0;
        left: 0;
      }
      
      .slideshow .slide .slideCaption
      {
        position: absolute;
        margin: 0;
        padding: 0;
        font-family: Arial;
		width: 220px;
        overflow: visible;
        display: none;
        top: 0;
        left: 0;
      }
      
      .slideshow .slideTitle
      {
        position: absolute;
        font-family: Arial, Helvetica, sans-serif;
        display: none;
        top:0; 
        left:0;
        line-height: .85em;
        font-weight: bold;
        font-size: 100px;
        color: #fff;
        text-shadow: 0.01em 0.01em 0.05em #000;
      }


      .slideshow .slideHeadline
      {
        font-weight: bold;
        font-size: 14px;
        color: #cc0000;
        margin-bottom: 6px;
      }

      .slideshow .slideText {
        white-space: normal;
        font-size: 12px;
        line-height: 16px;
        color: #777;
        font-weight: 600;
      }
      
      .slideshow .slideReference {
        position: absolute;
        text-align: right;
        font-weight: bold;
        color: #535455;
        font-size: 11px;
        color: #6d6f71;
      }

      .hidden {
        display: none;
      }

*/