/*---------- HOMEPAGE CAROUSEL ---------*/

.homepage-features
{ 
	width: 100%;
	margin: 0 auto;
}

.home-carousel { margin: 0 auto; width: 1047px; overflow: hidden;}

.home-carousel .bundle-promos 
{
	display: block;
	width: 1047px;
	min-height: 424px;
}
.home-carousel .bundle-promos figure { margin-right: 50px; width: 553px;}
.home-carousel .bundle-promos img { margin-top: 70px;}

.homepage-features .promo-detail { margin-left: 65px; color: #FFF; margin-right: 15px; width: 360px;}
.homepage-features .promo-detail h1
{
	font-size: 30px;
	line-height:35px;
}
.homepage-features .promo-detail h1.slogan
{
	font-size: 20px;
	line-height:25px;
	margin-top: 30px;
}
.homepage-features .promo-detail .promo-list { clear: left;}
.homepage-features .promo-detail .promo-list li:first-child { margin-top: 10px;}
.homepage-features .promo-detail .promo-list li
{
	font-family: "Open Sans SemiBold", Arial, sans-serif;
	font-size: 1.05em;
	background: url("../images/list-blue-bullet.png")/*tpa=https://www.charter.com/browse/static/images/list-blue-bullet.png*/ left 3px no-repeat;
	padding-left: 18px;
	margin-bottom: 10px;
	line-height: 16px;
}
.homepage-features .promo-detail .price { font-family: "Open Sans Bold", Arial, sans-serif; display: block; clear: left;}
.homepage-features .promo-detail .price .base 
{
	font-size: 7em;
	display: inline-block;
    float: left;
	
}
.homepage-features .promo-detail .price .currency 
{ 
	font-size: 0.43em;
    position: relative;
    top: 10px;
	vertical-align: top;
}
.homepage-features .promo-detail .exponent { float: left;}
.homepage-features .promo-detail .price .change 
{ 
	font-size: 35px;
	position: relative;
	top: 4px;
	float: left;
	width:200px;
}
.homepage-features .promo-detail .price .timeline 
{ 
	font-size: 0.32em;
	font-family: "Open Sans Regular", Arial, sans-serif;
}
.homepage-features .promo-detail .price .footnote 
{ 
	clear: left;
    display: block;
    font-family: "Open Sans Regular",Arial,sans-serif;
    font-size: 1em;
	margin-left: 3px;
    position: relative;
    top: 5px;
    width: 110px;
}

.homepage-features .promo-detail .btn-learn-more { clear: left; margin-top: 12px;}
/*---------- END OF HOMEPAGE CAROUSEL ----------*/

/*---------- PREMIUM CHANNELS CAROUSEL ---------*/
.premium-carousel-cont .tv-section { margin: 75px auto; overflow: hidden; padding: 0; width: 1015px;}
.premium-carousel-cont p { margin-bottom: 10px;}
.premium-carousel-cont h3 
{ 
	border-bottom: 1px solid #d2d2d2;
    color: #31557F;
    font-family: "Open Sans Bold",arial,sans-serif;
    font-size: 1.87em;
    line-height: 29px;
    margin-bottom: 20px;
    padding-bottom: 30px;
    text-transform: uppercase;
}
.premium-carousel-cont .green-small-point-right { padding: 0 22px;}

.premium-carousel-cont .tv-page-carousel { margin: 20px 0; position: relative;}

.premium-carousel-cont .carousel-promo { clear: left; border-top: 1px solid #d2d2d2; padding: 10px 0; overflow: hidden;}
.premium-carousel-cont .promo-left-col,
.premium-carousel-cont .promo-mid-col,
.premium-carousel-cont .promo-right-col
{
	float: left;
	margin-right: 40px;
	display: inline-block;
}

.premium-carousel-cont .promo-mid-col { max-width: 314px;}
.premium-carousel-cont .promo-mid-col p 
{ 
	color: #31557f; 
	font-family: "Open Sans Bold", arial, sans-serif; 
	font-size: 1.25em; 
	line-height: 18px;
}

.premium-carousel-cont .promo-right-col .btn-learn-more { position: relative; top: 28px;}

.tv-page-carousel .col-left, .tv-page-carousel .col-right, .tv-page-carousel .col-mid { float: left; margin-bottom: 40px;}
.tv-page-carousel .col-mid p,  .tv-page-carousel .col-right p { margin-bottom: 20px; font-family: "Open Sans SemiBold", arial, sans-serif; font-size: 1.09em;}
.tv-page-carousel .col-mid h3, .tv-page-carousel .col-right h3, .tv-page-carousel .carousel-promo h3
{ 
	border-bottom: none; 
	padding-bottom: 0; 
	font-family: "Open Sans SemiBold", arial, sans-serif; 
}
.tv-page-carousel .col-mid h3 { margin-bottom: 20px;}
.tv-page-carousel .col-right h3 { margin-bottom: 5px;}
.tv-page-carousel .col-left { width: 240px; padding-right: 25px;}
.tv-page-carousel .col-left, .tv-page-carousel .col-mid { border-right: 1px solid #d2d2d2;}
.tv-page-carousel .col-mid { width: 275px; padding: 0 36px;}
.tv-page-carousel .col-mid li { display: inline-block; float: left; width: 57px; height: 59px;}

.tv-page-carousel .col-right { padding-left: 36px; width: 227px;}
.tv-page-carousel .col-right .product-img { margin-bottom: 20px;}

.tv-page-carousel .left-shadow 
{ 
	background: url("../images/carousel-left-shadow.png")/*tpa=https://www.charter.com/browse/static/images/carousel-left-shadow.png*/ left 0 no-repeat; 
	display: inline-block; 
	height: 205px; 
	width: 8px; 
	z-index: 500;
	position: absolute;
	left: 44px;
	top: 0;
}
.tv-page-carousel .right-shadow 
{ 
	background: url("../images/carousel-right-shadow.png")/*tpa=https://www.charter.com/browse/static/images/carousel-right-shadow.png*/ right 0 no-repeat; 
	display: inline-block; 
	height: 205px; width: 8px; 
	z-index: 500;
	position: absolute;
	left: 963px;
	top: 0;
}

.premium-carousel-cont .premium-channels 
{
	display: block;
	background: #FFF;
	text-align: center;
	min-height: inherit;
}
.premium-carousel-cont .premium-details { margin: 30px 0; text-align: left; border-bottom: 1px solid #d3d3d3; overflow: hidden; min-height: 150px;}
.premium-carousel-cont .premium-details sup { font-size: 0.65em; vertical-align: top; position: relative; top: 4px;}
.premium-carousel-cont .premium-details ul { list-style-type: none; color: #333333; font-size: 1.095em; margin-bottom: 20px;}
.premium-carousel-cont .premium-details li { margin-bottom: 10px; line-height: 18px; margin-right: 10px;}
.premium-carousel-cont .pagination-sep 
{ 
	background: url("../images/pagination-sep.png")/*tpa=https://www.charter.com/browse/static/images/pagination-sep.png*/ right 0 no-repeat; 
	display: inline-block; 
	width: 1px; 
	height: 34px;
	float: left;
	margin: 0 20px;
}
.premium-carousel-cont .jcarousel-pagination { width: 260px; margin: 70px auto 15px auto; overflow: hidden}
.premium-carousel-cont .jcarousel-pagination a { text-indent: 99999px; display: inline-block; float: left; min-height: 34px;}
.premium-carousel-cont .jcarousel-pagination .hbo-icon,
.premium-carousel-cont .jcarousel-pagination .hbo-icon.inactive  
{ 
	background: url("../images/premium-channels/carousel-hbo-disable.png")/*tpa=https://www.charter.com/browse/static/images/premium-channels/carousel-hbo-disable.png*/ 0 7px no-repeat; width: 47px;
}
.premium-carousel-cont .jcarousel-pagination .hbo-icon:hover,
.premium-carousel-cont .jcarousel-pagination .hbo-icon.active
{ 
	background: url("../images/premium-channels/carousel-hbo-active.png")/*tpa=https://www.charter.com/browse/static/images/premium-channels/carousel-hbo-active.png*/ 0 7px no-repeat; width: 47px;
}
.premium-carousel-cont .jcarousel-pagination .showtime-icon,
.premium-carousel-cont .jcarousel-pagination .showtime-icon.inactive 
{ 
	background: url("../images/premium-channels/carousel-showtime-disable.png")/*tpa=https://www.charter.com/browse/static/images/premium-channels/carousel-showtime-disable.png*/ 0 7px no-repeat; width: 63px;
}
.premium-carousel-cont .jcarousel-pagination .showtime-icon:hover,
.premium-carousel-cont .jcarousel-pagination .showtime-icon.active
{ 
	background: url("../images/premium-channels/carousel-showtime-active.png")/*tpa=https://www.charter.com/browse/static/images/premium-channels/carousel-showtime-active.png*/ 0 7px no-repeat; width: 63px;
}
.premium-carousel-cont .jcarousel-pagination .cinemax-icon,
.premium-carousel-cont .jcarousel-pagination .cinemax-icon.inactive
{ 
	background: url("../images/premium-channels/carousel-cinemax-disable.png")/*tpa=https://www.charter.com/browse/static/images/premium-channels/carousel-cinemax-disable.png*/ 0 3px no-repeat; width: 68px;
}
.premium-carousel-cont .jcarousel-pagination .cinemax-icon:hover,
.premium-carousel-cont .jcarousel-pagination .cinemax-icon.active
{ 
	background: url("../images/premium-channels/carousel-cinemax-active.png")/*tpa=https://www.charter.com/browse/static/images/premium-channels/carousel-cinemax-active.png*/ 0 3px no-repeat; width: 68px;
}
/*---------- END OF PREMIUM CHANNELS CAROUSEL ---------*/

/*---------- APP CAROUSEL ---------*/
.charter-app-carousel-cont .tv-section { margin: 75px auto; overflow: hidden; padding: 0; width: 1015px;}
.charter-app-carousel-cont p { margin-bottom: 10px;}
.charter-app-carousel-cont h3 
{ 
	border-bottom: 1px solid #d2d2d2;
    color: #31557F;
    font-family: "Open Sans Bold",arial,sans-serif;
    font-size: 1.87em;
    line-height: 29px;
    margin-bottom: 20px;
    padding-bottom: 30px;
    text-transform: uppercase;
}
.charter-app-carousel-cont .green-small-point-right { padding: 0 22px;}

.charter-app-carousel-cont .app-page-carousel { margin: 20px 0; position: relative;}

.charter-app-carousel-cont .carousel-promo { clear: left; border-top: 1px solid #d2d2d2; padding: 10px 0; overflow: hidden;}
.charter-app-carousel-cont .promo-left-col,
.charter-app-carousel-cont .promo-mid-col,
.charter-app-carousel-cont .promo-right-col
{
	float: left;
	margin-right: 40px;
	display: inline-block;
}

.charter-app-carousel-cont .promo-mid-col { max-width: 314px;}
.charter-app-carousel-cont .promo-mid-col p 
{ 
	color: #31557f; 
	font-family: "Open Sans Bold", arial, sans-serif; 
	font-size: 1.25em; 
	line-height: 18px;
}

.charter-app-carousel-cont .promo-right-col .btn-learn-more { position: relative; top: 28px;}

.app-page-carousel .col-left, .app-page-carousel .col-right, .app-page-carousel .col-mid { float: left; margin-bottom: 40px;}
.app-page-carousel .col-mid p,  .app-page-carousel .col-right p { margin-bottom: 20px; font-family: "Open Sans SemiBold", arial, sans-serif; font-size: 1.09em;}
.app-page-carousel .col-mid h3, .app-page-carousel .col-right h3, .app-page-carousel .carousel-promo h3
{ 
	border-bottom: none; 
	padding-bottom: 0; 
	font-family: "Open Sans SemiBold", arial, sans-serif; 
}
.app-page-carousel .col-mid h3 { margin-bottom: 20px;}
.app-page-carousel .col-right h3 { margin-bottom: 5px;}
.app-page-carousel .col-left { width: 240px; padding-right: 25px;}
.app-page-carousel .col-left, .app-page-carousel .col-mid { border-right: 1px solid #d2d2d2;}
.app-page-carousel .col-mid { width: 275px; padding: 0 36px;}
.app-page-carousel .col-mid li { display: inline-block; float: left; width: 57px; height: 59px;}

.app-page-carousel .col-right { padding-left: 36px; width: 227px;}
.app-page-carousel .col-right .product-img { margin-bottom: 20px;}

.app-page-carousel .left-shadow 
{ 
	background: url("../images/carousel-left-shadow.png")/*tpa=https://www.charter.com/browse/static/images/carousel-left-shadow.png*/ left 0 no-repeat; 
	display: inline-block; 
	height: 205px; 
	width: 8px; 
	z-index: 500;
	position: absolute;
	left: 44px;
	top: 0;
}
.app-page-carousel .right-shadow 
{ 
	background: url("../images/carousel-right-shadow.png")/*tpa=https://www.charter.com/browse/static/images/carousel-right-shadow.png*/ right 0 no-repeat; 
	display: inline-block; 
	height: 205px; width: 8px; 
	z-index: 500;
	position: absolute;
	left: 963px;
	top: 0;
}

.charter-app-carousel-cont .premium-channels 
{
	display: block;
	background: #FFF;
	text-align: center;
	min-height: inherit;
}
.charter-app-carousel-cont .premium-details { margin: 30px 0; text-align: left; border-bottom: 1px solid #d3d3d3; overflow: hidden; min-height: 150px;}
.charter-app-carousel-cont .premium-details sup { font-size: 0.65em; vertical-align: top; position: relative; top: 4px;}
.charter-app-carousel-cont .premium-details ul { list-style-type: none; color: #333333; font-size: 1.095em; margin-bottom: 20px;}
.charter-app-carousel-cont .premium-details li { margin-bottom: 10px; line-height: 18px; margin-right: 10px;}
.charter-app-carousel-cont .pagination-sep 
{ 
	background: url("../images/pagination-sep.png")/*tpa=https://www.charter.com/browse/static/images/pagination-sep.png*/ right 0 no-repeat; 
	display: inline-block; 
	width: 1px; 
	height: 34px;
	float: left;
	margin: 0 20px;
}
.charter-app-carousel-cont .jcarousel-pagination { width: 260px; margin: 70px auto 15px auto; overflow: hidden}
.charter-app-carousel-cont .jcarousel-pagination a { text-indent: 99999px; display: inline-block; float: left; min-height: 34px;}

}
/*---------- END OF APP CAROUSEL ---------*/

/*-------------- PHONE FEATURES CAROUSEL --------------*/
.features-carousel-cont .tv-section { margin: 75px auto; overflow: hidden; padding: 0; width: 1048px;}
.features-carousel-cont .phone-section h2 { margin-bottom: 55px;}

.features-carousel-cont .jcarousel-pagination { margin: 18px auto 0 auto; overflow: hidden;}
.phone-section .jcarousel-pagination a:first-child { margin-left: 0;}
.phone-section .jcarousel-pagination a { padding: 0; margin-left: 10px; display: inline-block; text-indent: 99999px;}
.jcarousel-pagination .active, 
.jcarousel-pagination a:hover
{
	background: url("../images/carousel-pagination-active.png")/*tpa=https://www.charter.com/browse/static/images/carousel-pagination-active.png*/ left 9px no-repeat;
	width: 13px;
	height: 32px;
}
.jcarousel-pagination .inactive
{
	background: url("../images/carousel-pagination-inactive.png")/*tpa=https://www.charter.com/browse/static/images/carousel-pagination-inactive.png*/ left 9px no-repeat;
	width: 13px;
	height: 32px;
}
.jcarousel-pagination .left-border,
.jcarousel-pagination .middle,
.jcarousel-pagination .right-border
{
	display: inline-block;
	float: left;
}
.jcarousel-pagination .left-border 
{ 
	background: url("../images/carousel-pagination-left-border.png")/*tpa=https://www.charter.com/browse/static/images/carousel-pagination-left-border.png*/ left 0 no-repeat;
	width: 15px;
	height: 32px;
}
.jcarousel-pagination .middle 
{ 
	background: url("../images/carousel-pagination-middle.png")/*tpa=https://www.charter.com/browse/static/images/carousel-pagination-middle.png*/ repeat-x;
	height: 32px;
}
.jcarousel-pagination .right-border 
{ 
	background: url("../images/carousel-pagination-right-border.png")/*tpa=https://www.charter.com/browse/static/images/carousel-pagination-right-border.png*/ right 0 no-repeat;
	width: 15px;
	height: 32px;
}

.phone-page-carousel .carousel-detail 
{
	display: block; 
	min-height: 236px; 
	padding: 20px 60px;
}
.phone-page-carousel .carousel-info { display: inline-block; float: left; max-width: 415px; margin-right: 35px;}
.phone-page-carousel .carousel-img { display: inline-block; float: left; max-width: 415px; margin-top: 45px;}

.phone-page-carousel .left-shadow 
{ 
	background: url("../images/phone-features-carousel-left-shadow.png")/*tpa=https://www.charter.com/browse/static/images/phone-features-carousel-left-shadow.png*/ left 0 no-repeat;
	display: inline-block; 
	height: 146px; 
	width: 8px; 
	z-index: 500;
	position: absolute;
	left: 45px;
	top: 100px;
}
.phone-page-carousel .right-shadow 
{ 
	background: url("../images/phone-features-carousel-right-shadow.png")/*tpa=https://www.charter.com/browse/static/images/phone-features-carousel-right-shadow.png*/ right 0 no-repeat; 
	display: inline-block; 
	height: 146px; 
	width: 8px; 
	z-index: 500;
	position: absolute;
	left: 917px;
	top: 100px;
}
.phone-page-carousel .carousel-info 
{ 
	display: inline-block; 
	float: left;
	max-width: 415px; 
	margin-right: 35px;
}
.phone-page-carousel .carousel-img
{ 
	display: inline-block; 
	float: left; 
	max-width: 415px; 
	margin-top: 45px;
}
/*----------- END OF PHONE FEATURES CAROUSEL ----------*/


/*-------------- INTERNET COMPARE CAROUSEL --------------*/
.compare-carousel-cont .internet-section { margin: 0 auto; overflow: hidden; padding: 0; width: 1048px;}
.compare-carousel-cont .internet-section h2 { font-size: 2em;}

.internet-page-carousel .left-shadow 
{ 
	background: url("../images/carousel-left-shadow.png")/*tpa=https://www.charter.com/browse/static/images/carousel-left-shadow.png*/ left 0 no-repeat;
	display: inline-block; 
	height: 205px; 
	width: 8px; 
	z-index: 500;
	position: absolute;
	left: 45px;
	top: 252px;
}
.internet-page-carousel .right-shadow 
{ 
	background: url("../images/carousel-right-shadow.png")/*tpa=https://www.charter.com/browse/static/images/carousel-right-shadow.png*/ right 0 no-repeat; 
	display: inline-block; 
	height: 205px; 
	width: 8px; 
	z-index: 500;
	position: absolute;
	left: 996px;
	top: 252px;
}
.internet-page-carousel .speed-test-flash,
.internet-page-carousel .compare-plan-flash
{
	display: block;
    min-height: 230px;
    padding: 70px 20px;
}
.internet-page-carousel .flash-cont { margin: 20px auto 0 auto; display: block;}
/*----------- END OF INTERNET COMPARE CAROUSEL ----------*/


/*-------------- WHY CHARTER CAROUSEL --------------*/
.tv-page-why-charter .why-charter-carousel-cont .tv-section { margin: 75px auto; overflow: hidden; padding: 0; width: 1032px;}
.tv-page-why-charter .why-charter-carousel-cont .tv-section h2 { font-size: 2em;}

.tv-page-why-carousel .left-shadow 
{ 
	background: url("../images/carousel-left-shadow.png")/*tpa=https://www.charter.com/browse/static/images/carousel-left-shadow.png*/ left 0 no-repeat;
	display: inline-block; 
	height: 205px; 
	width: 8px; 
	z-index: 500;
	position: absolute;
	left: 44px;
	top: 80px;
}
.tv-page-why-carousel .right-shadow 
{ 
	background: url("../images/carousel-right-shadow.png")/*tpa=https://www.charter.com/browse/static/images/carousel-right-shadow.png*/ right 0 no-repeat; 
	display: inline-block; 
	height: 205px; 
	width: 8px; 
	z-index: 500;
	position: absolute;
	left: 980px;
	top: 80px;
}
.tv-page-why-carousel .carousel-info 
{ 
	display: inline-block; 
	float: left;
	max-width: 320px; 
	margin-right: 60px;
}
.tv-page-why-carousel .carousel-img
{ 
	display: inline-block; 
	float: left; 
	max-width: 492px; 
	margin-top: 40px;
}
.tv-page-why-carousel .carousel-img.product2 { margin-top: 0;}
/*----------- END OF WHY CHARTER CAROUSEL ----------*/



/*------------- MAIN ELEMENT FOR CAROUSELS ------------*/
/* HOMEPAGE */
.jcarousel-skin-home-promos .jcarousel-item
{
    width: 1048px;
    height: 454px;
	padding: 0;
	margin-bottom: 0;
}

.jcarousel-skin-home-promos .jcarousel-next-horizontal 
{
	background: url("../images/home-carousel-next-arrow.png")/*tpa=https://www.charter.com/browse/static/images/home-carousel-next-arrow.png*/ no-repeat scroll 50% 50% transparent;
    height: 95px;
    width: 38px;
	cursor: pointer;
	position: absolute;
	top: 84px;
	right: 0
}

.jcarousel-skin-home-promos .jcarousel-next-horizontal:hover
{
	background: url("../images/home-carousel-next-arrow-hover.png")/*tpa=https://www.charter.com/browse/static/images/home-carousel-next-arrow-hover.png*/ no-repeat scroll 50% 50% transparent;
    height: 95px;
    width: 38px;
}

.jcarousel-skin-home-promos .jcarousel-prev-horizontal 
{
    background: url("../images/home-carousel-prev-arrow.png")/*tpa=https://www.charter.com/browse/static/images/home-carousel-prev-arrow.png*/ no-repeat scroll 50% 50% transparent;
    height: 95px;
    width: 38px;
	position: absolute;
	top: 84px;
	cursor: pointer;
}

.jcarousel-skin-home-promos .jcarousel-prev-horizontal:hover
{
    background: url("../images/home-carousel-prev-arrow-hover.png")/*tpa=https://www.charter.com/browse/static/images/home-carousel-prev-arrow-hover.png*/ no-repeat scroll 50% 50% transparent;
    height: 95px;
    width: 38px;
}

/* PREMIUM CHANNELS */
.jcarousel-skin-premium-channels { clear: left;}
.jcarousel-skin-premium-channels .jcarousel-item 
{
    margin-bottom: 0;
    padding: 0 69px;
	width: 877px;
	position: relative;
}
.jcarousel-skin-premium-channels .jcarousel-next-horizontal 
{
	background: url("../images/carousel-next-arrow.png")/*tpa=https://www.charter.com/browse/static/images/carousel-next-arrow.png*/ no-repeat scroll 50% 50%;
    height: 116px;
    width: 52px;
	cursor: pointer;
	position: absolute;
	top: 45px;
	right: 0
}

.jcarousel-skin-premium-channels .jcarousel-next-horizontal:hover
{
	background: url("../images/carousel-next-arrow-hover.png")/*tpa=https://www.charter.com/browse/static/images/carousel-next-arrow-hover.png*/ no-repeat scroll 50% 50%;
    height: 116px;
    width: 52px;
}

.jcarousel-skin-premium-channels .jcarousel-prev-horizontal 
{
    background: url("../images/carousel-prev-arrow.png")/*tpa=https://www.charter.com/browse/static/images/carousel-prev-arrow.png*/ no-repeat scroll 50% 50%;
    height: 116px;
    width: 52px;
	position: absolute;
	top: 45px;
	cursor: pointer;
}

.jcarousel-skin-premium-channels .jcarousel-prev-horizontal:hover
{
    background: url("../images/carousel-prev-arrow-hover.png")/*tpa=https://www.charter.com/browse/static/images/carousel-prev-arrow-hover.png*/ no-repeat scroll 50% 50%;
    height: 116px;
    width: 52px;
}

/* PHONE FEATURES CHANNELS */
.jcarousel-skin-phone-features .jcarousel-item 
{
    margin-bottom: 0;
    padding: 0 52px;
	width: 868px;
	position: relative;
}
.jcarousel-skin-phone-features .jcarousel-next-horizontal 
{
	background: url("../images/mini-carousel-next-arrow.png")/*tpa=https://www.charter.com/browse/static/images/mini-carousel-next-arrow.png*/ no-repeat scroll 50% 50%;
    height: 79px;
    width: 51px;
	cursor: pointer;
	position: absolute;
	top: 130px;
	right: 0
}

.jcarousel-skin-phone-features .jcarousel-next-horizontal:hover
{
	background: url("../images/mini-carousel-next-arrow-hover.png")/*tpa=https://www.charter.com/browse/static/images/mini-carousel-next-arrow-hover.png*/ no-repeat scroll 50% 50%;
    height: 79px;
    width: 51px;
}

.jcarousel-skin-phone-features .jcarousel-prev-horizontal 
{
    background: url("../images/mini-carousel-prev-arrow.png")/*tpa=https://www.charter.com/browse/static/images/mini-carousel-prev-arrow.png*/ no-repeat scroll 50% 50%;
    height: 79px;
    width: 51px;
	position: absolute;
	top: 130px;
	cursor: pointer;
}

.jcarousel-skin-phone-features .jcarousel-prev-horizontal:hover
{
    background: url("../images/mini-carousel-prev-arrow-hover.png")/*tpa=https://www.charter.com/browse/static/images/mini-carousel-prev-arrow-hover.png*/ no-repeat scroll 50% 50%;
    height: 79px;
    width: 51px;
}

/* COMPARE INTERNET */
.jcarousel-skin-compare-internet .jcarousel-item 
{
    margin-bottom: 0;
    padding: 0 52px;
	width: 944px;
	position: relative;
}
.jcarousel-skin-compare-internet .jcarousel-next-horizontal 
{
	background: url("../images/carousel-next-arrow.png")/*tpa=https://www.charter.com/browse/static/images/carousel-next-arrow.png*/ no-repeat scroll 50% 50%;
    height: 116px;
    width: 52px;
	cursor: pointer;
	position: absolute;
	top: 295px;
	right: 0
}

.jcarousel-skin-compare-internet .jcarousel-next-horizontal:hover
{
	background: url("../images/carousel-next-arrow-hover.png")/*tpa=https://www.charter.com/browse/static/images/carousel-next-arrow-hover.png*/ no-repeat scroll 50% 50%;
    height: 116px;
    width: 52px;
}

.jcarousel-skin-compare-internet .jcarousel-prev-horizontal 
{
    background: url("../images/carousel-prev-arrow.png")/*tpa=https://www.charter.com/browse/static/images/carousel-prev-arrow.png*/ no-repeat scroll 50% 50%;
    height: 116px;
    width: 52px;
	position: absolute;
	top: 295px;
	cursor: pointer;
}

.jcarousel-skin-compare-internet .jcarousel-prev-horizontal:hover
{
    background: url("../images/carousel-prev-arrow-hover.png")/*tpa=https://www.charter.com/browse/static/images/carousel-prev-arrow-hover.png*/ no-repeat scroll 50% 50%;
    height: 116px;
    width: 52px;
}


/* WHY CHARTER */
.jcarousel-skin-why-charter .jcarousel-item 
{
    margin-bottom: 0;
    padding: 35px 80px 0;
    position: relative;
    width: 872px;
}
.jcarousel-skin-why-charter .jcarousel-next-horizontal 
{
	background: url("../images/carousel-next-arrow.png")/*tpa=https://www.charter.com/browse/static/images/carousel-next-arrow.png*/ no-repeat scroll 50% 50%;
    height: 116px;
    width: 52px;
	cursor: pointer;
	position: absolute;
	top: 124px;
	right: 0
}

.jcarousel-skin-why-charter .jcarousel-next-horizontal:hover
{
	background: url("../images/carousel-next-arrow-hover.png")/*tpa=https://www.charter.com/browse/static/images/carousel-next-arrow-hover.png*/ no-repeat scroll 50% 50%;
    height: 116px;
    width: 52px;
}

.jcarousel-skin-why-charter .jcarousel-prev-horizontal 
{
    background: url("../images/carousel-prev-arrow.png")/*tpa=https://www.charter.com/browse/static/images/carousel-prev-arrow.png*/ no-repeat scroll 50% 50%;
    height: 116px;
    width: 52px;
	position: absolute;
	top: 124px;
	cursor: pointer;
}

.jcarousel-skin-why-charter .jcarousel-prev-horizontal:hover
{
    background: url("../images/carousel-prev-arrow-hover.png")/*tpa=https://www.charter.com/browse/static/images/carousel-prev-arrow-hover.png*/ no-repeat scroll 50% 50%;
    height: 116px;
    width: 52px;
}
/*---------- MAIN ELEMENT FOR CAROUSELS ----------*/


/* ----------------- COMMON CODE------------------*/

/* ------------- END OF COMMON CODE --------------*/