/*------- STYLE FOR ALL SIMPLE MODALS -------*/

/*------- MODAL LOCALIZE BUNDLES + RETRIEVE CART ERROR + ORDER ALREADY SUBMITTED-------*/
#localize-bundles h1, #cart-error h1, #order-already-submitted h1,#retrieve-too-many-attempts h1 { font-family: "Open Sans SemiBold", arial, sans-serif; color: #325682; font-size: 2.35em; margin-bottom: 20px; text-transform: capitalize;}
#localize-bundles p, #cart-error p, #order-already-submitted p,#cart-error p, #order-already-submitted p, #retrieve-too-many-attempts p { font-size: 1.1em; margin-bottom: 15px; display: inline-block;}
#localize-bundles input[type="text"]:first-child { margin-left: 0;}
#localize-bundles input[type="text"] { border: 1px solid #7F888F; border-radius: 3px; padding: 10px 8px;}
#localize-bundles input[name="zip"],
#localize-bundles .btn-see-offers{float: right;}
#localize-bundles .input-field { margin-bottom: 20px;}
#localize-bundles .info-link { position: relative; top: 7px; margin: 0 40px 0 10px;}
#localize-bundles .info-field { text-align: right;}
#localize-bundles .btn-see-offers { margin-right: 32px;}
#cart-error p, #order-already-submitted p,#retrieve-too-many-attempts p{ line-height: 16px;}

#localize-bundles input[name="address"] { width: 250px; margin-right: 36px;}
#localize-bundles .error-txt, #localize-bundles .error-box { margin-bottom: 20px;}
#localize-bundles .error-box p:first-child { margin-bottom: 10px;}
#localize-bundles .error-box p { margin-bottom: 0;}
/*------- END OF MODAL LOCALIZE BUNDLES + RETRIEVE CART ERROR -------*/


/*------- MODAL RETRIEVE CART ERROR -------*/
#cart-error, #cart-error h1 { color: #CC0000 !important;}
#cart-error ul { list-style-type: disc; margin: 0 12px 20px 12px; font-size: 1.1em;}
#cart-error ul li { margin-bottom: 10px; line-height: 16px;}
#cart-error .btn-block { text-align: right; margin-right: 32px;}
#cart-error .btn-block a { display: inline-block; margin-left: 50px;}

/*------- END OF RETRIEVE CART ERROR -------*/


/*--------------- MODAL LOADING ---------------*/
#loading-indicator { text-align: center;}
#loading-indicator .loading-logo { margin-bottom: 18px;}
#loading-indicator p { color: #005781; font-size: 2em; font-family: "Open Sans Bold", arial, sans-serif; margin-bottom: 6px;}
.white-modal.lox-content { background: none; background-color: #FFF; padding: 30px 0;}
.white-modal .lox-close { display: none;}
.loading-modal#lox { z-index: 3000;}

/*----------- END OF MODAL LOADING ------------*/
#order-already-submitted a.continue {float:right; font-size:.8em; display:block; margin-top: 20px;}
#order-already-submitted .btn-block {margin-top:20px;height:60px;}
/*--------------- ORDER ALREADY SUBMITTED ---------------*/




/*----------- END OF ORDER ALREADY SUBMITTED -----------*/