.promotion-block{
	margin:0 auto;
}
.promotion-block .promotion{
	width:290px;
	display:inline-table;
	margin-left:24px;
	position: relative;
}
.promotion-block .promotion{
	margin-left:22px;
}
.promotion-block .promotion.medium{
	width:598px;
}

.promotion-block .promotion.large{
	width:926px;
}

.promotion-block .content {
    position: absolute;
    top: 0;
	padding: 18px;
}

.promotion-block .promotion.large h2{
	font-size:2em;
	margin-bottom: 25px;
}

.promotion-block .promotion.large p{
	font-size:1.4em;
	height:45px;
}
.promotion-block .promotion.large .promotion-content .content{
	height:171px;
	padding:35px 0 0 55px;
}
.promotion-block .promotion-content{
	height:210px;
	-webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.24);
	-moz-box-shadow:    0px 0px 5px rgba(50, 50, 50, 0.24);
	box-shadow:         0px 0px 5px rgba(50, 50, 50, 0.24);	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #CED3D4;
	overflow: hidden;
	position: relative;
}
.promotion-block .promotion-content h2{
	color:#2a4a7c;
	font-size:1.6em;
	margin-bottom: 10px;
}
.promotion-block .promotion-content p{
	color:#333;
	font-size:1em;
	height:95px;
	line-height: 15px;
}
.promotion-reflection{
	height: 95px;
}
.promotion-block .promotion .green-small-point-right {
    display: block;
    position: absolute;
}

