@font-face {
  font-family: 'Open Sans Regular';
  font-style: normal;
  font-weight: normal;
    src: url('../fonts/eot/opensans-normal-webfont.eot')/*tpa=https://www.charter.com/browse/static/fonts/eot/opensans-normal-webfont.eot*/;
    src: url('../fonts/eot/opensans-normal-webfont.eot-#iefix')/*tpa=https://www.charter.com/browse/static/fonts/eot/opensans-normal-webfont.eot?#iefix*/ format('embedded-opentype'),
         url('../fonts/woff/opensans-normal-webfont.woff')/*tpa=https://www.charter.com/browse/static/fonts/woff/opensans-normal-webfont.woff*/ format('woff'),
         url('../fonts/ttf/opensans-normal-webfont.ttf')/*tpa=https://www.charter.com/browse/static/fonts/ttf/opensans-normal-webfont.ttf*/ format('truetype'),
         url('../fonts/svg/opensans-normal-webfont.svg#open_sansregular')/*tpa=https://www.charter.com/browse/static/fonts/svg/opensans-normal-webfont.svg#open_sansregular*/ format('svg');
}

@font-face {
  font-family: 'Open Sans SemiBold';
  font-style: normal;
  font-weight: normal;
    src: url('../fonts/eot/opensans-semibold-webfont.eot')/*tpa=https://www.charter.com/browse/static/fonts/eot/opensans-semibold-webfont.eot*/;
    src: url('../fonts/eot/opensans-semibold-webfont.eot-#iefix')/*tpa=https://www.charter.com/browse/static/fonts/eot/opensans-semibold-webfont.eot?#iefix*/ format('embedded-opentype'),
         url('../fonts/woff/opensans-semibold-webfont.woff')/*tpa=https://www.charter.com/browse/static/fonts/woff/opensans-semibold-webfont.woff*/ format('woff'),
         url('../fonts/ttf/opensans-semibold-webfont.ttf')/*tpa=https://www.charter.com/browse/static/fonts/ttf/opensans-semibold-webfont.ttf*/ format('truetype'),
         url('../fonts/svg/opensans-semibold-webfont.svg#open_sanssemibold')/*tpa=https://www.charter.com/browse/static/fonts/svg/opensans-semibold-webfont.svg#open_sanssemibold*/ format('svg');
}

@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: normal;
    src: url('../fonts/eot/opensans-light-webfont.eot')/*tpa=https://www.charter.com/browse/static/fonts/eot/opensans-light-webfont.eot*/;
    src: url('../fonts/eot/opensans-light-webfont.eot-#iefix')/*tpa=https://www.charter.com/browse/static/fonts/eot/opensans-light-webfont.eot?#iefix*/ format('embedded-opentype'),
         url('../fonts/woff/opensans-light-webfont.woff')/*tpa=https://www.charter.com/browse/static/fonts/woff/opensans-light-webfont.woff*/ format('woff'),
         url('../fonts/ttf/opensans-light-webfont.ttf')/*tpa=https://www.charter.com/browse/static/fonts/ttf/opensans-light-webfont.ttf*/ format('truetype'),
         url('../fonts/svg/opensans-light-webfont.svg#open_sanslight')/*tpa=https://www.charter.com/browse/static/fonts/svg/opensans-light-webfont.svg#open_sanslight*/ format('svg');
}

@font-face {
  font-family: 'Open Sans ExtraBold';
  font-style: normal;
  font-weight: normal;
    src: url('../fonts/eot/opensans-extrabold-webfont.eot')/*tpa=https://www.charter.com/browse/static/fonts/eot/opensans-extrabold-webfont.eot*/;
    src: url('../fonts/eot/opensans-extrabold-webfont.eot-#iefix')/*tpa=https://www.charter.com/browse/static/fonts/eot/opensans-extrabold-webfont.eot?#iefix*/ format('embedded-opentype'),
         url('../fonts/woff/opensans-extrabold-webfont.woff')/*tpa=https://www.charter.com/browse/static/fonts/woff/opensans-extrabold-webfont.woff*/ format('woff'),
         url('../fonts/ttf/opensans-extrabold-webfont.ttf')/*tpa=https://www.charter.com/browse/static/fonts/ttf/opensans-extrabold-webfont.ttf*/ format('truetype'),
         url('../fonts/svg/opensans-extrabold-webfont.svg#open_sansextrabold')/*tpa=https://www.charter.com/browse/static/fonts/svg/opensans-extrabold-webfont.svg#open_sansextrabold*/ format('svg');
}

@font-face {
  font-family: 'Open Sans CondLight';
  font-style: normal;
  font-weight: normal;
    src: url('../fonts/eot/opensans-condlight-webfont.eot')/*tpa=https://www.charter.com/browse/static/fonts/eot/opensans-condlight-webfont.eot*/;
    src: url('../fonts/eot/opensans-condlight-webfont.eot-#iefix')/*tpa=https://www.charter.com/browse/static/fonts/eot/opensans-condlight-webfont.eot?#iefix*/ format('embedded-opentype'),
         url('../fonts/woff/opensans-condlight-webfont.woff')/*tpa=https://www.charter.com/browse/static/fonts/woff/opensans-condlight-webfont.woff*/ format('woff'),
         url('../fonts/ttf/opensans-condlight-webfont.ttf')/*tpa=https://www.charter.com/browse/static/fonts/ttf/opensans-condlight-webfont.ttf*/ format('truetype'),
         url('../fonts/svg/opensans-condlight-webfont.svg#open_sanscondensed_light')/*tpa=https://www.charter.com/browse/static/fonts/svg/opensans-condlight-webfont.svg#open_sanscondensed_light*/ format('svg');
}

@font-face {
  font-family: 'Open Sans CondBold';
  font-style: normal;
  font-weight: normal;
    src: url('../fonts/eot/opensans-condbold-webfont.eot')/*tpa=https://www.charter.com/browse/static/fonts/eot/opensans-condbold-webfont.eot*/;
    src: url('../fonts/eot/opensans-condbold-webfont.eot-#iefix')/*tpa=https://www.charter.com/browse/static/fonts/eot/opensans-condbold-webfont.eot?#iefix*/ format('embedded-opentype'),
         url('../fonts/woff/opensans-condbold-webfont.woff')/*tpa=https://www.charter.com/browse/static/fonts/woff/opensans-condbold-webfont.woff*/ format('woff'),
         url('../fonts/ttf/opensans-condbold-webfont.ttf')/*tpa=https://www.charter.com/browse/static/fonts/ttf/opensans-condbold-webfont.ttf*/ format('truetype'),
         url('../fonts/svg/opensans-condbold-webfont.svg#open_sans_condensedbold')/*tpa=https://www.charter.com/browse/static/fonts/svg/opensans-condbold-webfont.svg#open_sans_condensedbold*/ format('svg');
}

@font-face {
  font-family: 'Open Sans Bold';
  font-style: normal;
  font-weight: normal;
    src: url('../fonts/eot/opensans-bold-webfont.eot')/*tpa=https://www.charter.com/browse/static/fonts/eot/opensans-bold-webfont.eot*/;
    src: url('../fonts/eot/opensans-bold-webfont.eot-#iefix')/*tpa=https://www.charter.com/browse/static/fonts/eot/opensans-bold-webfont.eot?#iefix*/ format('embedded-opentype'),
         url('../fonts/woff/opensans-bold-webfont.woff')/*tpa=https://www.charter.com/browse/static/fonts/woff/opensans-bold-webfont.woff*/ format('woff'),
         url('../fonts/ttf/opensans-bold-webfont.ttf')/*tpa=https://www.charter.com/browse/static/fonts/ttf/opensans-bold-webfont.ttf*/ format('truetype'),
         url('../fonts/svg/opensans-bold-webfont.svg#open_sansbold')/*tpa=https://www.charter.com/browse/static/fonts/svg/opensans-bold-webfont.svg#open_sansbold*/ format('svg');
}