.tooltip { position: relative; }
.tooltip-content, .tooltip-pointer:after { border: 1px solid #c9c9c9; background: #fff; z-index: 1000; box-shadow: 0 0 29px #CCCCCC; }
.tooltip-content { min-width: 100px;display: none; position: absolute; padding: 10px; border-radius: 10px; text-align: left;  font: normal 15px 'Open Sans Regular', Arial, sans-serif; }
.tooltip-content.visible { display: inline-block; z-index: 1000; }
.compare-tv-tooltip.tooltip-content.visible { z-index: 1400;}
.tooltip-pointer { width: 55px; height: 20px; overflow: hidden; position: absolute; }

.tooltip-content strong { color: #333; font-size: 17px; }
.tooltip-content em { font-style: normal; color: #005781; }
.tooltip-content.red  { font-size: 17px; }
.tooltip-content.red strong { color: #f53907; }
.tooltip-content.red i { color: #999; font-size: 15px; }

.top .tooltip-pointer {
	left: 50%;
	margin-left: -30px;
	bottom: -20px;
}

.bottom .tooltip-pointer {
	left: 50%;
	margin-left: -30px;
	top: -20px;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
}

.left .tooltip-pointer {
	top: 40%;
	margin-right: -35px;
	right: -2px;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
}

.right .tooltip-pointer {
	top: 40%;
	margin-left: -34px;
	left: -3px;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
}

.tooltip-pointer:after {
	content: '';
	position: absolute;
	left: 15px;
	top: -20px;
	width: 25px;
	height: 25px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.53);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
}
.tooltip-content  > p {
    font-size: 0.9em;
    line-height: 16px;
    margin: 10px 10px 20px;
}

/*------------ STYLE FOR GENERIC GREY TOOLTIPS --------------*/
.grey-tooltip .title { font-family: "Open Sans CondBold", arial, sans-serif; font-size: 1.2em; margin-bottom: 8px;}
.grey-tooltip p { margin: 0; color: #333333; font-size: 1em;}
.tooltip-content.grey-tooltip, .grey-tooltip .tooltip-pointer:after 
{ 
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.53); 
	background: #FFF;
	filter: none;
	border: 1px solid #C9C9C9;
}
/*--------- END OF STYLE FOR GENERIC GREY TOOLTIPS ----------*/


/*------------ TOOLTIPS FOR COMPARE TV OPTIONS --------------*/
.tooltip-content.compare-tv-tooltip { max-width: 165px;}
/*--------- END OF TOOLTIPS FOR COMPARE TV OPTIONS ----------*/

/*------------ TOOLTIPS FOR LOCALIZATION --------------*/
.tooltip-content.localization-tooltip { max-width: 200px;}
.tooltip-content.localization-popup-tooltip {max-width: 200px; z-index: 10000}
/*--------- END OF TOOLTIPS FOR LOCALIZATION ----------*/

/*------------ TOOLTIPS FOR RETRIEVE CART --------------*/
.tooltip-content.cart-tooltip { max-width: 235px; padding: 20px; font-size: 15px;}
.tooltip-content.cart-tooltip label { display: block; margin-bottom: 5px;}

.tooltip-content.cart-tooltip div { margin-bottom: 14px;}
.tooltip-content.cart-tooltip div span:first-child { margin-left: 0;}
.tooltip-content.cart-tooltip div span { margin-left: 16px; display: inline-block;}
.tooltip-content.cart-tooltip input
{
	border: 1px solid #BCBCBC;
	border-radius: 3px 3px 3px 3px;
    color: #666666;
    padding: 5px 8px;
	width: 216px;
}
.tooltip-content.cart-tooltip input[name="apt"] { width: 70px;}
.tooltip-content.cart-tooltip input[name="zip"] { width: 108px;}

.tooltip-content.cart-tooltip p { margin-bottom: 18px;}
.tooltip-content.cart-tooltip .green-small-point-right { font-size: 12.8px; float: right; margin: 10px 24px 0 0;}

/* TOOLTIP FOR ERROR MSGS */
.tooltip-errMsg
{ 
    padding: 5px 10px; 
    border-radius: 7px; 
    font-family: 'Open Sans CondLight', Arial, sans-serif; 
    font-weight: normal; 
    background: #fff; 
    border: 1px solid #CC0000;
    position: relative;
    margin-top: 20px;
}
.tooltip-errMsg p { color: #CC0000 !important; margin: 0 !important; font-size: 17px !important;}
.tooltip-errMsg-pointer { position: absolute;}
.bottom .tooltip-errMsg-pointer { top: 40%; background: url("../../../buyflow/static/assets/images/tooltip-errMsg-pointer-bottom.png")/*tpa=https://www.charter.com/buyflow/static/assets/images/tooltip-errMsg-pointer-bottom.png*/ no-repeat; width: 37px; height: 16px;}

.bottom .tooltip-errMsg-pointer{
    left: 15px;
    top: -16px;
}


#saveCartZip-requiredErrMsg .tooltip-errMsg-pointer, #saveCartZip-formatErrMsg .tooltip-errMsg-pointer{
    left: 178px;
    top: -16px;	
}


/*--------- END OF TOOLTIPS FOR RETRIEVE CART ----------*/