table.mainheadertable {margin-top:15px;} 
.whitebkg {background-color:#FFFFFF;} 
.ltbkg {background-color:#e2e9ef;} 
.medbkg {background-color:#ccd6e0;} 
.innerheadertable h3 {margin:0; vertical-align:middle; line-height:1.2;} 
.innerheadertable td {padding:3px 8px 3px 8px;} 
.innerheadertable a {vertical-align: middle; margin:0;} 
div.countrytableleft ul, div.countrytableright ul {margin:0px; list-style:none;} 
div.countrytableleft {margin-top:10px; width:401px; position:relative; float:left; left:25px;} 
div.countrytableright {margin:10px 0 0 0; position:relative; float:left;} 
.pushleft {position:relative;left:-9px;top:0;} 
p.sitesectiontitle{margin:0 0 .2em 0;}

/*Contact Us styles*/
#contact input, #contact textarea {font: 1.0em/1.2 verdana,sans-serif; border-width: 1px; border-color: #777; padding: 3px; margin-top:2px;} 
#contact .redtext {color: red;} 
#contact label {font-weight: bold; display: block;}

/*FRAMEWORK STYLE OVERRIDES */
/*3M.com framework colors - overrides*/
.accentmain{background-color: #CC0000 ! important;}
#fw_head {border-left:4px solid #C00 ! important;}
#rightColAccent th{border-left-color: #CC0000 ! important;}

.clear { 
clear:both; 
height:0; 
margin:0; 
font-size: 1px; 
line-height: 0; 
} 

.clearfix:after { 
content: "."; 
display: block; 
height: 0; 
clear: both; 
visibility: hidden; 
} 
/* Hides from IE-mac \*/ 
* html .clearfix {height: 1%;} 
/* End hide from IE-mac */ 
