/*!
* 3M.com GGP Overrides for Trifecta
* Corporate Asset ID: 1361846441696
* Last Modified: 3/18/2015 by @a3xbnzz
* Copyright (c) 3M 2015. All rights reserved
************************************************/


#header #masthead {height:132px;}
#header h1.logo {margin: 30px 0px;}

.locations {background: none;}
.locations dd {padding:0px 0px 0.8em 12px;}
.locations dd, .locations dd a, .locations dd a:visited {color: #4b4b4b;}
#locations-container {visibility:hidden !important;}

#footer-ggp {border-top: none; padding:30px 10px 90px; margin-bottom:0px; background: url("BlobServlet-lmd=1426710469000&locale=en_WW&assetType=MMM_Image&assetId=1361846441679&blobAttribute=ImageFile.jpg")/*tpa=http://solutions.3m.com/3MContentRetrievalAPI/BlobServlet?lmd=1426710469000&locale=en_WW&assetType=MMM_Image&assetId=1361846441679&blobAttribute=ImageFile*/ no-repeat scroll 0% 0% transparent;}
#footer-ggp a {color: #4b4b4b;}

