#paymentEstimator,
#purchasingEstimator {max-width: 340px;margin:0 3% 4em;}
#paymentEstimator fieldset,
#purchasingEstimator fieldset {margin:0 0 1em 0;padding:0.2em 0;}
.group2 #paymentEstimator .first,
.group2 #purchasingEstimator .first {width:100%;padding-bottom:0.5em;}
	#paymentEstimator legend,
	#purchasingEstimator legend {display:none;}
	#paymentEstimator label,
	#purchasingEstimator label {display:block;clear:right;margin:0 5px;line-height:1.6;}
	#paymentEstimator input,
	#purchasingEstimator input,
	#paymentEstimator select,
	#purchasingEstimator select {margin-left:0.4em;}
	#paymentEstimator input,
	#purchasingEstimator input {width: 66px;padding-left:4px;}
		#paymentEstimator .rate input,
		#purchasingEstimator .rate input {width: 46px;}
	#paymentEstimator select,
	#purchasingEstimator select {width:74px;}
#paymentEstimator .submit,
#purchasingEstimator .submit {clear:left;}
#paymentEstimator .submit a,
#purchasingEstimator .submit a {margin-right:0.5em;}
/* =ie6
-------------------------------------------------------------- */
* html #paymentEstimator,
* html #purchasingEstimator {margin-bottom:1em;}
	* html form#paymentEstimator fieldset,
	* html form#purchasingEstimator fieldset {margin:1em 0;}
	* html #paymentEstimator select,
	* html #purchasingEstimator select {width: 76px;}