/*  GRID OF FOUR   ============================================================================= */

	
.span_4_of_4 {
	width: 100%; 
}

.span_3_of_4 {
	/* width: 74.6%; */
	width: 70%;
	padding-right:8%;
	
}

.span_2_of_4 {
	width: 49.2%; 
}

.span_1_of_4 {
	width: 21%;
	padding-right:3%;
	
}

.span_1_of_4_no_pad

{
width:21%;
}
.span_1_of_4_right {
	/* width: 23.8%; */
	width:20%;
	
}
.span_1_of_4:last-child { padding-right: 0; } /* all browsers except IE6 and lower */


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 640px) {
	.span_4_of_4 {
		width: 100%; 
	}
	.span_3_of_4 {
		width: 100%; 
	}
	.span_2_of_4 {
		width: 100%; 
	}
	.span_1_of_4 {
		width: 100%; 
	}
	.span_1_of_4_no_pad {
        width: 100%;	
    }
	
	.span_1_of_4_right {
		width: 100%; 
	}
}