/*  GRID OF FIVE   ============================================================================= */


.span_5_of_5 {
	width: 100%;
}

.span_4_of_5 {
  	width: 83.06%;
}

.span_3_of_5 {
  	width: 66.13%;
}

.span_2_of_5 {
  	width: 32%;
}

.span_1_of_5 {
  	width: 18%;
  	padding-right:2%;
}


.span_1_of_5:last-child { padding-right: 0; } /* all browsers except IE6 and lower */


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 640px) {
	.span_1_of_5, .span_2_of_5,.span_3_of_5,.span_4_of_5,.span_5_of_5 {
		width: 100%; 
	}
	

	
}