
/* ------------------- Styles for IR section ---------------------- */
.alternate, .alternate td {
  background-color:#EBEBEB;
  vertical-align:top;
}

.primary, .primarybold {
    vertical-align: top;
}

.primary td, .primarybold td, .secondary td, .secondarybold td {
    vertical-align:middle
}


th {
  color:#FFFFFF;
  font-weight:normal;
  line-height:18px;
  text-decoration:none;
}

#sh th, caption {
  background-color:#0072BC;
  color:#FFFFFF;
  font-weight:bold;
  padding:3px;
  text-align:left;
}

th, caption {
  background-color:#0072BC;
  color:#FFFFFF;
  font-weight:bold;
  padding:3px;
  text-align:left;
}

.dataTable th, .dataTable th a {
  color:#FFFFFF;
}

.dataTable td, .dataTable th {
  padding:3px;
}

div.menuselect { margin-bottom:25px; }

th a.sort_desc { 
background: transparent url('../images/icons/ir_link2_vpr.png')/*tpa=http://www.21cf.com/images/icons/ir_link2_vpr.png*/ 100% 45% no-repeat;
   color:#fff;
   width: 120% !important;
   padding: 0 2em 0 0;
   line-height: 1;
   border: 0;
   text-decoration:underline;
    }
    
th a.sort_asc { 
background: transparent url('../images/icons/arrowup.png')/*tpa=http://www.21cf.com/images/icons/arrowup.png*/ 100% 45% no-repeat;
   color:#fff;
   width: 120% !important;
   padding: 0 2em 0 0;
   line-height: 1;
   border: 0;
   text-decoration:underline;
    }
    
th a:hover { text-decoration:underline; }