
/***************************************************************************************
                    21st CENTURY FOX | HOME PAGE SLIDER
 ***************************************************************************************/

#sliderwrapper			{ max-width: 1200px; min-height: 480px; margin: 0 auto; padding:0; }
#sliderfullwidth 		{ width: 100%; height:100%;list-style: none; margin:0; padding:0;display:block; }

#sliderfullwidth ul {list-style: none; margin:0; padding:0;display:block;}
#sliderfullwidth ul li {float:left;}

.txtblock {
	bottom: 0px;
	left:0;
	position: relative;
	display: block;
	max-width:265px;
	min-height:380px;
	margin: 0 0 0 0; /* half height of image */
	padding:100px 30px  0 30px;
	text-align: left;
	outline: 0;
	z-index:1;
	color:#fff;
}
.txtcontent h3 { color:#fff; margin-bottom:30px;}
.txtcontent h3 a, .txtcontent a.link_readmore { color:#fff; }
.txtcontent h3 a:hover, .txtcontent a.link_readmore:hover { text-decoration:underline;}

.logoblock { position:absolute; bottom:10px;right:0px; min-height:80px; }

.anythingSlider-minimalist-square .arrow {
		top: 50%;
		position: absolute;
		display: block;
		z-index:5;
	}

.rightblock { float: right; margin: 0; padding:0;max-width:853px; position:relative; top:-480px; display:block; }


.homeslidevideo { /* fullwidth */ width:853px; height:480px; }


/*
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
}
*/

/* CUSTOM RESPONSIVE */

@media only screen 
and (min-width: 1020px) 
and (max-width: 1150px) {

	/* .txtblock { color:#fff; background: rgba(0,0,0,0.5) } */
	.txtcontent { font-size:65%;width:120px; }
	.logoblock { top:350px;left:20px;margin-top:-30px; min-height:90%; }
	
	.rightblock { float:right; margin: 0; padding:0; max-width:100%; position:relative; display:block;z-index:99;}

}


@media only screen 
and (min-width: 851px) 
and (max-width: 1021px) {

	/* .txtblock { color:#fff; background: rgba(0,0,0,0.5) } */
	.txtcontent { display:none;}
	.rightblock { margin: 0; padding:0; max-width:100%; position:relative;float:left; display:block;}

}


@media only screen 
and (min-width: 681px) 
and (max-width: 850px)  {
		
	.txtblock { max-width:100%; min-height:100%; }
	
	.txtcontent { position:absolute;top:75%; left:140px;width:84%; height:30px;}
	.txtcontent h3 { color:#ffffff; font-size:12px;width:70%;}
	.txtcontent a.link_readmore {display:none;}
	
	.logoblock { top:0;right:0;margin-top:-30px; min-height:90%; }
	.logoblock img { max-width:60%; }
	
	.rightblock { top:-130%; max-width:100%; z-index:99;}
	
	.homeslidevideo { width:560px;height:315px;position:relative; top:50px;right:20%; }
	
}

@media only screen 
and (min-width: 481px) 
and (max-width: 680px)  {
		
	.txtblock { max-width:100%; min-height:100%; }
	
	.txtcontent { position:absolute;top:50%; width:90%;}
	.txtcontent h3 { color:#ffffff; font-size:20px; max-width:70%;}
	.txtcontent a.link_readmore {display:none;}
	
	.logoblock { position:absolute;top:-5%;min-height:100%; }
	
	.rightblock { top:-125%; left:15%; z-index:99; }
	
	.homeslidevideo { width:480px;height:270px;position:relative; top:18px;right:20%; }
}

@media only screen 
and (min-width: 321px)
and (max-width: 480px)  {

	.txtblock { max-width:100%; min-height:100%; }
	
	.txtcontent { position:absolute;top:50%;width:90%;}
	.txtcontent h3 { color:#ffffff; font-size:20px; max-width:62%;}
	.txtcontent a.link_readmore {display:none;}
	
	.logoblock { position:absolute;top:-5%;min-height:100%; }
	
	.rightblock { top:-121%; z-index:99; }
	
	.homeslidevideo { width:480px;height:270px; }


}
/* mobile extra | PORTRAIT */
@media only screen 
and (min-width: 241px)
and (max-width: 320px) {

	.txtblock { max-width:100%; min-height:100%; }
	
	.txtcontent { position:absolute;top:35%;width:85%;}
	.txtcontent h3 { color:#ffffff; font-size:18px; max-width:50%;}
	.txtcontent a.link_readmore {display:none;}
	
	.logoblock { position:absolute;top:-5%;min-height:100%; }
	
	.rightblock { top:-121%;z-index:99; }
	
	.homeslidevideo { width:320px;height:180px; }

}
@media only screen 
and (max-width: 240px) {

	.txtblock { max-width:100%; min-height:100%; }
	
	.txtcontent { position:absolute;top:25%;}
	
	.txtcontent h3 { color:#ffffff; font-size:18px; max-width:90%; padding-top:110px;}
	.txtcontent a.link_readmore {display:none;}
	
	.logoblock { top:0;left:0; display:block;min-height:100%; }
	.logoblock img { max-width:70%; }
	.rightblock { top:-122%; z-index:99;}

}
/* interasting active status */
/*
li img { opacity:0.4; filter:alpha(opacity=4 0); /* For IE8 and earlier */}

/* old */
/*

.leftblock { position:absolute; top:500px; left:0; z-index:100; margin: 0; width:350px; height:200px; display:block; border:1px dotted #ff0000; }

*/

/* ================ GOING RESPONSIVE ======================= */

/* ------- mobile ------- */

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

	
}

/* mobile extra | PORTRAIT */
@media only screen 
and (max-device-width : 320px) {

}

/* mobile extra | LANDSACAPE */
@media only screen 
and (min-device-width : 321px) {

}

/* iPhone 4 ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}


/* ------- tablets ------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

}

/* tablet | PORTRAIT */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {

}

/* tablet | LANDSACAPE */
@media only screen and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {

}

/* iPad 3 */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}
