/* Override site styles when editing widgets */
div.ektronModalBody { line-height: normal !important; }

div.PBViewing.col { float: left; margin: 1% 0 1% 1.6%; }

div.PBViewing.col:first-child { margin-left: 0; }

.in-edit-mode .span_1_of_3 { margin-left: 0.8%; }

#sliderwrapper .txtcontent h3 { position : absolute; width: 280px; height: 381px;}

.black-text { color: Black; }

.box { width: auto; }