/* RESPONSIVE GRID SYSTEM =============================================================================  */

/* BASIC PAGE SETUP ============================================================================= */


button, 
input, 
select, 
textarea { 
font-family : arial, helvetica, helve, sans-serif; 
color : #151F6D; }

/* IMAGES ============================================================================= */

img {
border : 0;
max-width: 100%;}

img.floatleft { float: left; margin: 0 10px 0 0; }
img.floatright { float: right; margin: 0 0 0 10px; }

/* TABLES ============================================================================= */

table { 
border-collapse : collapse;
border-spacing : 0;
margin-bottom : 1.4em; 
width : 100%; }

th, td, caption { 
padding : .25em 10px .25em 5px; }

tfoot { 
font-style : italic; }

caption { 
background-color : transparent; }

/* FORMS ============================================================================= */

form { margin : 0; }

fieldset { 
margin-bottom : 1.5em; 
padding : 0; 
border-width : 0; }

legend { 
*margin-left : -7px; 
padding : 0; 
border-width : 0; }

label{
font-weight : normal;
cursor : pointer;
display:block;
margin:10px 0 0 0;
position:relative;
top:0;
left:0;
}

	label.inline{
	display:inline;
	margin:0;
	}
	
	label span{
	color:#666;
	font-size:0.9em;
	}
	
	label span.right{
	position:absolute;
	bottom:0;
	right:1em;
	text-align:right;
	}
	
	label.disabled{
	color:#ccc;
	}


button, 
search,
input, 
select, 
textarea { 
font-size : 100%; 
margin : 0; 
vertical-align : baseline; 
*vertical-align : middle; }

button, input { 
line-height : normal; 
*overflow : visible; }

button, 
input[type="button"], 
input[type="reset"], 
input[type="submit"] { 
padding: 0.5em 1em;
margin: 0 0 1em; 0;
cursor : pointer; 
}

input[type="checkbox"], 
input[type="radio"] { 
box-sizing : border-box; }

/*
input[type="search"] { 
	box-sizing : content-box;
	background:#eeedee;
	border: none;
	height:2em;
	width:15em;
}
*/

button::-moz-focus-inner, 
input::-moz-focus-inner { 
padding : 0;
border : 0;  }

input{
/*
display:block;
width:97%;
margin:0 0 20px 0;
border:1px solid #ccc;
font-size:1em;
padding:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
background:#fff;
-moz-box-shadow:inset 0px 0px 6px #ccc;
-webkit-box-shadow:inset 0px 1px 6px #ccc;
box-shadow:inset 0px 1px 6px #ccc;
*/
}
	
textarea {
/*
width:97%;
height:200px;
margin:0 0 20px 0;
border:1px solid #ccc;
padding:5px;
font-family:inherit;
font-size:0.9em;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
-moz-box-shadow:inset 0px 0px 6px #ccc;
-webkit-box-shadow:inset 0px 1px 6px #ccc;
box-shadow:inset 0px 1px 6px #ccc;
*/
overflow : auto; 
vertical-align : top;
}


/*  MAIN LAYOUT	============================================================================= */

#skiptomain { display: none; }

#wrapper {
	width: 100%;
	position: relative;
	text-align: left;
}

	#headcontainer {
		width: 100%;
		background: #ffffff;
		z-index:10;
		display:block;
	}

		header {
			width: 80%; /* 1000px / 1250px */
			font-size: 0.8125em !important; /* 13 / 16 */
			max-width: 92.3em; /* 1200px / 13 */
			margin: 0 auto !important;;
			padding: 0px;
			position: relative;
			color: #000;
			height:120px;
		}
		
		#headcontainer .span_1_of_8, #headcontainer .span_7_of_8, #headcontainer .col{ padding:0; margin:0;}
	
		#logo { float:left; display:block; padding:40px 0 0 0; width:170px; height:60px;}
		
 		#search {
			float:right;
			position:absolute;
			top:1.5em;
			right:0;
			text-align:right;
			/* width:100%; */
			}
			
		input#topsearchbox { width:150px; }
		
 		header nav {
 			z-index:11;
 			position:absolute;
 			top:87px;
 			right:0;
 			display:block;
 		}
 		
 		nav #menubutton {
 			display:none;
 		}
 		
 		nav ul {
 			list-style:none;
 			clear:both;
 			float:right;
 			margin:0;
 			padding:0;
 			display:block;
 		}
 		
 		nav:before, nav:after {
 			content: "";
 			display:table;
 		}
 		
 		nav:after {
 			clear:both;
 		}
 		
 		
 		nav ul li {
 			float:left;
 			/*background:url('../images/navigation/nav-separator.jpg') no-repeat left top; */
 			line-height:1em;
 			padding:0 .6em 13px .4em;
 			z-index:15;
 			
 		}
 		
 	
 		nav ul li:last-child {
 			padding-right:0;
 		}
 		
 		nav li a, nav li a:visited {
 			font-family: Arial, sans-serif;
 			color:#97999b;
 			padding-bottom:22px;
 			line-height:1em;
 			text-transform: uppercase;
 			font-size:.89em;
 			letter-spacing: .085em;
 		}	
 		
 		nav li a:hover {
 			color:#151f6d;
 		}
 		
 		/* styles for smaller-size navigation, class added by jQuery based on browser width */
 		
 		
 		nav.nav-small ul a {
 			font-size:.7em;
 			padding-bottom:13px;
 		}
 		
 		nav.nav-small ul li {
 			padding:0 .5em 13px .4em;
 		}
 		
 		nav.nav-small ul li div.submenu div.col ul li ul li a {
 			font-size:.6em;
 		}
 		
 		/* submenu styles */
 		
 		nav li:hover a, nav li.menu-current a {
 			background: transparent url('../images/navigation/arrow_current.gif')/*tpa=http://www.21cf.com/images/navigation/arrow_current.gif*/ no-repeat center 17px;
 		}
 		
 		nav li.nochild:hover a {
 			background:none;
 		}
 		
 		nav li div.submenu {
 			display:none;
 		}
 		
 		nav li:hover div.submenu {
 			display:block;
 			position:absolute;
 			top:110px;
 			left:0;
 			width:100%;
 			padding:20px 20px 5px 20px;
 			height:auto;
 			background-color:#6b6d6f;
 			z-index:15;
 		}
 		
 		nav li:hover div.submenu ul {
 			text-align:left;
 			float:left;
 		}
 		
 		nav li:hover div.submenu li {
 			border:none;
 			background:none;
 			padding:0;
 			display:block;
 			clear:both;
 			margin-bottom:8px;
 		}
 		
 		nav li div.submenu a { 
 			background:none; 
 			color:#fff;
 			font-size:.85em;
 			font-weight:bold;
 		}
 		
 		nav li div.submenu a:hover { 
 			text-decoration:underline;
 			color:#151f6d;
 		}
 		
 		/* third-level nav items */ 
 		
 		nav ul li div.submenu div.col ul li {
 			list-style:none outside none;
 			padding:0;
 			color:#fff;
 			display:block;
 			clear:both;
 		}
 		
 		nav ul li div.submenu div.col ul li a {
			font-weight:bold;
 		}
 		
 		nav ul li div.submenu div.col ul li ul {
 			margin-top:5px;
 			padding:0 0 0 10px;
 			color:#fff;
 			clear:both;
 			display:block;
 			width:100%;
 		}
 		
 		nav ul li div.submenu div.col ul li ul li {
 			margin:0 3px 0 0;
 			padding:0;
 			display:block;
 		}
 		
 		nav ul li div.submenu div.col ul li ul li a {
 			font-weight:normal;
 			padding:0 0 0 1em;	
 		}
 		
		
		

	#maincontentcontainer {
		width: 100%;
		z-index:1;
	}
	
		#fullwidthcontainer {
			width: 100%;
			background-color:#f2f2f2;
		}
		

		#maincontent{
			clear: both;
			width: 80%; /* 1000px / 1250px */
			font-size: 0.8125em; /* 13 / 16 */
			max-width: 92.3em; /* 1200px / 13 */
			min-height: 33em; 
			margin: 0 auto;
			padding: 1.2em 0px 3em 0;
			color: #333;
			line-height: 1.5em;
			position: relative;
			z-index:2;
		}
		
			
	#footercontainer {
		width: 100%;	
		background: #f2f2f2;
		clear:both;
	}
	
		footer {
			width: 80%; /* 1000px / 1250px */
			font-size: 0.8125em; /* 13 / 16 */
			max-width: 92.3em; /* 1200px / 13 */
			margin: 0 auto;
			padding: 20px 0px 10px 0px;
			color: #97999B;
		}

		#smallprint {
				margin: 0px;
				line-height: 1em;
				text-align: left;
				color: #666;
				font-size: 0.76em;
				
			}

			#smallprint p {
				vertical-align: middle;
			}
			
			#smallprint ul {
				list-style:none;
				padding:0 0 20px 0;
			}
			
			#smallprint ul li {
				float:left;
				border-left:1px solid #000;
				padding:0 6px;
			}
			
			#smallprint ul li:first-child {
				border:none;
				padding-left:0;
			}
			
			
		
			#smallprint a:link, #smallprint a:visited { color: #666; text-decoration: none; }
			#smallprint a:hover { color: #00B5E2; text-decoration: none; }
		
/* In-between size 1 */
@media only screen and (min-width: 1181px) and (max-width: 1400px) {
	
	#logo { float:left; display:block; padding:35px 0 0 0; }
		
		
	nav ul li {
 			padding:0 .4em 13px .4em;
 		}
 		
 	nav li a:link, nav li a:visited {
 		padding-bottom:22px;
 	}		
 	/*
 	#logo { float:left; display:block; width:85%; height:85%; }
 	*/
 	
 }	
/* In-between size 2 */
@media only screen and (min-width: 931px) and (max-width: 1180px) {

	#logo { float:left; display:block; padding:35px 0 0 0; }
		
		
	nav ul { padding-top:0px;}
	nav ul li {
 			font-size: .95em;
 			padding:0 .4em 13px .4em;
 		}	
 		
	nav li a:link, nav li a:visited {
 		padding-bottom:22px;
 	}	
} 
 
/* In-between size 3 */
@media only screen and (min-width: 780px) and (max-width: 930px) {

	#logo { float:left; display:block; padding:20px 0 0 0; }
		
		
	nav ul { padding-top:15px;}
	nav ul li {
 			font-size: .9em;
 			padding:0 .4em 13px .4em;
 		}	
 		
	nav li a:link, nav li a:visited {
 		padding-bottom:22px;
 	}	 		

}

/* In-between size 4 */
@media only screen and (min-width: 721px) and (max-width: 780px) {

	#logo { float:left; display:block; padding:20px 0 0 0;  }
		
	/* Position the nav to the LEFT */
	header nav {
 			position:absolute;
 			left:0;
 		}
	nav ul { padding-top:10px; float:left;}
	
	nav ul li {
 			font-size: .9em;
 			padding:0 0.7em 13px 0em;
 			line-height:110%;
 		}	
 		
	nav li a:link, nav li a:visited {
 		padding-bottom:22px;
 		letter-spacing: 0em;
 	}	  		
nav li:hover a, nav li.menu-current a {
 			background: transparent url('../images/navigation/arrow_current.gif')/*tpa=http://www.21cf.com/images/navigation/arrow_current.gif*/ no-repeat center 14px;
 		}
}
 		
/* In-between size 5 - NARROW PHONE */ 	

@media only screen and (max-width: 720px) {

	/* hide the full-width content!! */
	/* 
	#fullwidthcontainer { display:none;}
	*/
	
	nav ul { display:none; }

	nav #menubutton { 
		display:block; 
		font-weight:bold;
		float:right;
		padding:0 2.2em;
		line-height:2.2em;
		position:absolute; 
		top:-33px; 
		right:0px;
	}
	nav #hiddenmenubutton:after {
		content:"";
		clear:both;
		font-size:0;
		line-height:0;
		margin-bottom:10px;
		display:table;
	}	
	
	#search {
			float:right;
			position:absolute;
			top:.8em;
			right:0;
			}
	input#topsearchbox { width:100px;}
	button#topsearchsubmit { padding-left:0px;}
	
	#maincontent { padding-top:1em; margin-top:0;}
	
	header {
			height:95px;
		}
		
	#logo { float:left; display:block; padding:30px 0 0 0; }
	#logo img { width:auto; height:auto; max-width:85%; max-height:85%; }
	
	header .span_1_of_8 {
	width: 100%;
	margin: 0%; 
	}
	
	#search { width:auto; }
	
	/*
	#search { float:left; display:block; padding:0; margin:0;border:1px dotted #003366; }
	input#topsearchbox { width:125px; float:left;}
	*/
	
	.pressinfo { clear:both; }
	
	.news .page_news_border
	{
	margin-left:0%;
	padding-top:3%;
	float:left;
	clear:both;
	
	}

}
/*  SECTIONS  ============================================================================= */

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}


/*  COLUMNS  ============================================================================= */

.twocolumns{
	-moz-column-count: 2;
	-moz-column-gap: 2em;
	-webkit-column-count: 2;
	-webkit-column-gap: 2em;
	column-count: 2;
	column-gap: 2em;
  }

/*  BUTTONS  ============================================================================= */


.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: #fff;
	padding: 0em 1em;
	margin: 0px;	
	background-color: #151F6D;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	font-family: arial, helvetica, helve, sans-serif;
	font-size : .85em; /* 24 / 16 */
				
}
.button:hover {
	background-color: #1874b2;
	color: #fff;
	text-decoration: none;
}
.button:active {
	background-color: #0099ff;
	color: #fff;
	position: relative;
	top: 1px;
}
.button:visited { 
	color : #fff;
}

/*  TABS ============================================================================= */

#tabs { display:block; /*min-height:500px;*/ }
#tabs>div { display:none; }
#tabs h3 { clear:both; }
#tabs ul {
	width:100%;
	border-bottom: 2px solid #B4B4B4;
    line-height: 2em;
    padding: 0 3%;
    margin:12px 0 15px 0;
}
#tabs ul li { 
    display: block;
    float: left;
    font-size: 1em;
    line-height: 2em;
    margin-left: 2%;
    padding: 0 2%;
    text-align: center;
    width: 8%;
    list-style:none;
}

#tabs ul li.active a { 
	border-bottom: 2px solid #0077C8;
    color: #0077C8;
}

/*  GLOBAL OBJECTS ============================================================================= */

.breaker { clear: both; }

.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}


/* VENDOR-SPECIFIC ============================================================================= */

html { 
-webkit-overflow-scrolling : touch; 
-webkit-tap-highlight-color : rgb(228,241,249);
-webkit-text-size-adjust : 100%; 
-ms-text-size-adjust : 100%; }

.clearfix { 
zoom : 1; }

::-webkit-selection { 
background :  rgb(228,241,249);
text-shadow : none; }

::-moz-selection { 
background :  rgb(228,241,249);
text-shadow : none; }

::selection { 
background :  rgb(228,241,249);
text-shadow : none; }

button, 
input[type="button"], 
input[type="reset"], 
input[type="submit"] { 
-webkit-appearance : button; }

::-webkit-input-placeholder {
font-size : .875em; 
line-height : 1.4; }

input:-moz-placeholder { 
font-size : .875em; 
line-height : 1.4; }

.ie7 img,
.iem7 img { 
-ms-interpolation-mode : bicubic; }

input[type="checkbox"], 
input[type="radio"] { 
box-sizing : border-box; }

/*
input[type="search"] { 
-webkit-box-sizing : content-box;
-moz-box-sizing : content-box; }
*/

button::-moz-focus-inner, 
input::-moz-focus-inner { 
padding : 0;
border : 0; }

p {
/* http://www.w3.org/TR/css3-text/#hyphenation */
-webkit-hyphens : auto;
-webkit-hyphenate-character : "\2010";
-webkit-hyphenate-limit-after : 1;
-webkit-hyphenate-limit-before : 3;
-moz-hyphens : auto; }
