/* ------- COMPANY SLIDESHOW -- */
p.bjqs-caption{
	background: rgba(0,0,0,0.5);
	font-size: .85em;
	color:#fff;
}

ul.bjqs-controls.v-centered li a{
	display:block;
	padding:5px;
	background: rgba(0,0,0,0.4);
}

ul.bjqs-controls.v-centered li a:hover{
	background: rgba(0,0,0,.8);
}

ol.bjqs-markers li a {
	padding:5px 10px;
	background:#000;
	color:#fff;
	margin:5px;
	text-decoration: none;
}

ol.bjqs-markers li.active-marker a,
ol.bjqs-markers li a:hover{
	background: #999;
}
