/* CAREER - HOME */
* html .career_slider { height: 1%; }
.homeblockinner { padding:10px 0px 15px 20px;}

.career_home { margin-top:0px; min-height:365px;}
.career_home a.link_readmore { margin:10px 0;}
.career_home p {margin-bottom:10px;}
.career_home p.bjqs-caption { margin-bottom:0;}

.career_home .blocktopbar_color1 h5 { padding-top:10px; }
.quote_home { color: #EE5340; font-weight:bold; }

#home_peopleblock h5 a {color:#fff;}
#home_peopleblock h5 a:hover {  color:#333;}
#home_peopleblock h3 { color:#fff; padding-bottom:0px;}

/* .box ul.bjqs li.bjqs-slide img { max-width:100%! important;bordeR:1px solid #ff9900; }*/

#home_peopleblock ul.thumbstack {list-style:none; padding:10px 0 0 0; margin:0; display:block; width:100%; border:none; }
#home_peopleblock ul.thumbstack li {list-style:none; float:left; padding:0px 0px 0 0; margin:0 2px 2px 0;max-width:125px; height:auto; display:block;}
#home_peopleblock ul.thumbstack li img { padding:0px;margin:0px; width:100%; height:auto;display:block; }

#homeblocksearch { display:block;margin-bottom:15px;}
#homeblocksearch ul { padding:0px; margin:0; display:block; }
#homeblocksearch ul li { padding:0px 0px 0px 0; display:block; width:100%;margin-bottom:2px;}
#homeblocksearch ul li a:hover { color:#fff; }
#homeblocksearch ul li a { margin:0 0 0 0; }

.careers h5.side { color: #fff;padding-bottom:15px;}
				
.career_home .blockcolor2 h3 {padding-bottom:5px;}
.career_home #homepeopleblock h5 {padding-top:20px;}
.career_home .homeblockinner {padding-right:8px; }

.txtbigger {font-size:1.25em; line-height:140%;}

.txtsmall, .caption { font-size: .875em; line-height:125%; padding-bottom:15px; color:#97999B; }

.careers #homeblock .blockcolor4 { margin-bottom:0px; padding-bottom:20px; height:100%! important;}

.front .col_color_red { border-top:2px solid #EE5340;}
.front .col_color_yellow { border-top:2px solid #FFCD00;}

/* ------------------------ MEET OUR PEOPLE ------------------------------ */

.contentwrap { border-top:2px solid #00B5E2; padding-top:15px; margin-top:15px; }
.careers .contentwrap { border-top:2px solid #00B5E2; padding-top:15px; margin-top:0; }
.careers .bio_content .bio { padding:10px 20px 15px 20px; font-size:1em; }

#vthumbs h5 {color:#000; font-size: .9em;} 
#vthumbs ul {list-style:none;  padding-left:0; margin:10px 0 0 0;}
#vthumbs ul li { padding-left:0; }
#vthumbs ul li a { }


.careers_main_right_img img { border-bottom:1px solid #000; margin-bottom:10px; padding-bottom:10px;}
.careers_blue_txt h3 { color: #00b5e2;}
.careers_blue_txt { padding-top:10px;}


#banner-slide-front {margin: 0 0 10px 0; width:100%; clear:both;}
#slideshowcaption { clear:both;display:block; margin-bottom:10px;display:block; }
.txt_gray_careers{ color: #97999b; width:63.5%; }
	
/* ------------------ MEET OUR PEOPLE | THUMBNAIL SLIDER ------------------- */

#career_slider { }
	
.main_slider {
	width: 95%;
	max-width: 430px;
	padding: 0 10px;
	margin:0;
	float: right;
	display:block;
	min-height:55px;
}




/* screens smaller than 640 */
@media screen and (max-width: 640px) and (min-width: 401px) {

	.contentwrap { border-top:2px solid #00B5E2; padding-top:15px; margin-top:65px; }
	.career_home { margin-top:0px; min-height:0px;}
	
}


/* screens smaller than 400 */
@media screen and (max-width: 400px) {
	
	.contentwrap { border-top:2px solid #00B5E2; padding-top:15px; margin-top:135px; }

}

	
/* --- // thumb carousel ends ---- */	
					
#person_card { margin:0; color:#151F6D; font-size:1.5em;line-height:110%;  padding-bottom:15px; }

	.person_name { }
	.person_company { font-size: .7em; }
	.person_company a { color:#00B5E2; text-decoration:none; } 
	.person_company a:hover { color:#151F6D; text-decoration:none; }

#person_video_block { display:block; padding-bottom:15px; }

/* ------ MEET OUR PEOPLE | SIDE COLUMN ------ */
.careers_sidecolumn { color:#fff; font-size:11px; background-color:#A9C23F; }

#company_info { padding:10px 0;  font-size:12px;}

#company_info a.link_readmore { color:#fff; text-decoration:none; text-transform:uppercase; font-size:10px; letter-spacing: .08em; }
#company_info a.link_readmore:hover { color:#000; }

#banner-slide  { margin-top:20px;display:block; max-width:100%; } 
#banner-slide_careers_home  {display:block; max-width:100%; }
#banner-slide h5 { }

.career_grn_margin { margin-top: 22px; padding: 10px;	}

.careers a.link_block {
background: transparent url('../images/icons/icon_arrow_url_white.gif')/*tpa=http://www.21cf.com/images/icons/icon_arrow_url_white.gif*/ 4% 45% no-repeat;
color: #ffffff;
font-size: 0.8em;
padding: 0.8em 2.5em 0.8em 3.2em;
font-weight: normal;
letter-spacing: 0.09em;
text-decoration: none;
cursor: pointer;
background-color: #151F6D;
border:0;
text-transform:uppercase;
display:block;
margin-right:12%;
}

.careers a.link_block:hover { background-color: #00B5E2; }

.careers a.link_block2 {
background: transparent url('../images/icons/icon_arrow_url_white.gif')/*tpa=http://www.21cf.com/images/icons/icon_arrow_url_white.gif*/ 4% 45% no-repeat;
color: #ffffff;
font-size: 0.8em;
padding: 0.8em 2.5em 0.8em 3.2em;
font-weight: normal;
letter-spacing: 0.09em;
text-decoration: none;
cursor: pointer;
background-color: #00B5E2;
border:0;
text-transform:uppercase;
display:block;
}

.careers a.link_block2:hover { background-color: #151F6D; }

.careers .bio_quote { color:#00B5E2; padding:10px 20px 0px 20px; font-size:18px; line-height:160%; margin-bottom:0px;}

.bio_quote p.Quote-Left {
	width:100%;
	font-size:3.2em;
	font-family: Georgia, serif;
	padding:0px 0 0 0;
	margin:0;
}
.bio_quote p.Quote-Right{
	text-align:right;
	margin-bottom:0px!important;
	width:100%;
	font-size:3.2em;
	font-family: Georgia, serif;
	padding:0px 0 0 0;
	margin:0;
}

/* -- play button overlay careers people page -- */

.vitem { }	
.vitem a { display:block; }
.vitem a img {}	
.vitem a span.play { display:none; background: url('Unknown_83_filename')/*tpa=http://www.21cf.com/images/careers/play_btn.png*/ center center no-repeat; margin: -6.063em 0.625em 0 0; height: 6.063em; position: relative; z-index: 100; opacity: 0.8; }
.vitem a:hover span.play { display:block; }






/* ------------------- LIFe @ 21CF | Converted from Masonry Method ---------------- */


.careerblockcolor0 { background-color: #000000; margin: 0;  padding:5%; } /* --- black -- */
.careerblockcolor1 { background-color: #00B5E2; margin: 0;  padding:5%;} /* --- Light Blu -- */
.careerblockcolor2 { background-color: #A9C23F; margin: 0;  padding:5%;} /* --- Green -- */
.careerblockcolor3 { background-color: #FFCD00; margin: 0;  padding:5%;} /* --- Yellow -- */
.careerblockcolor4 { background-color: #EE5340; margin: 0;  padding:5%;} /* --- Red -- */
.careerblockcolor5 { background-color: #97999B; margin: 0;  padding:5%;} /* --- GRAY -- */



/* ------- box sizes | grid definition ------- */

.box {
	font-size: .925em;
	line-height: 150%;
	color:#97999B;
	margin-bottom:15px;
	clear:both;
	/* float:left; For FGC-60 */
	width:100%;
}

.box img { max-width: 100%; max-height: 100%; display: block; }

.videoEmbedFull { width:100%; min-height:190px;}

.box h2 { font-size: 1.4em; font-weight: 100; }
.box h3 { font-size: 1.2em; font-weight: 100; }
.box h5 { line-height:180%; padding-bottom:10px; font-size: .95em; font-weight: 600; }

.empty, .transparent{ background-color:transparent; }

.rtl .box { float: right; text-align: right;  direction: rtl; }

/* ------- font & color treatment ------- */

.txtwhite { color:#fff; }
.txtgray { color:#97999B; }
.txtblue1 { color:#00B5E2; }
.txtblue2 { color:#0077C8; }
.txtblue3 { color:#151F6D; }
.txtgreen { color:#A9C23F; }
.txtred { color:#EE5340; }

.box .videoEmbed {padding:0; margin:0;}
.box .imgEmbed { width:100%; margin:0 auto; padding:10px 0 0 0; }
.box .imgEmbed img { width:100%; margin:0 auto; }

.linkblock { margin:8px 0; display:block;}


.careerblockcolor0, .careerblockcolor1, .careerblockcolor2, .careerblockcolor3, .careerblockcolor4, .careerblockcolor5 { color:#fff; width:90%;  }
.careerblockcolor3, .careerblockcolor3 a, .careerblockcolor3 .byline a { color:#97999B; } /* --YELLOW BG gets a different treatment --*/

.careerblockcolor0 h2, .careerblockcolor1 h2, .careerblockcolor2 h2, .careerblockcolor4 h2, .careerblockcolor5 h2 { color:#fff; }
.careerblockcolor3 h2 { color:#97999B; }
.careerblockcolor0 a, .careerblockcolor1 a, .careerblockcolor2 a, .careerblockcolor4 a, .careerblockcolor5 a { color:#fff; }

.careerblockcolor1 a:hover, .careerblockcolor2 a:hover, .careerblockcolor3 a:hover, .careerblockcolor4 a:hover, .careerblockcolor5 a:hover, .careerblockcolor0 a:hover { color:#fff;text-decoration:underline; }
.careerblockcolor1 .byline a, .careerblockcolor2 .byline a, .careerblockcolor4 .byline a, .careerblockcolor5 .byline a, .careerblockcolor0 .byline a { color:#fff;text-decoration:none; }
.careerblockcolor1 .byline a:hover, .careerblockcolor2 .byline a:hover, .careerblockcolor3 .byline a:hover, .careerblockcolor4 .byline a:hover, .careerblockcolor5 .byline a:hover,  .careerblockcolor0 .byline a:hover { color:#fff;text-decoration:underline; }

/* box with top color bar */

.blocktopbar_color0 { border-top:2px solid #0077C8;padding-left:0; padding-top:10px;} /* --- Medium Blue -- */
.blocktopbar_color1 { border-top:2px solid #00B5E2;padding-left:0; padding-top:10px;} /* --- Light Blue -- */
.blocktopbar_color2 { border-top:2px solid #A9C23F;padding-left:0; padding-top:10px;} /* --- Green -- */
.blocktopbar_color3 { border-top:2px solid #FFCD00;padding-left:0; padding-top:10px; } /* --- Yellow -- */
.blocktopbar_color4 { border-top:2px solid #EE5340;padding-left:0; padding-top:10px; } /* --- Red -- */

.blocktopbar_color0 a { color:#0077C8; } /* --- Medium Blue -- */
.blocktopbar_color1 a { color:#00B5E2;  } /* --- Light Blue -- */
.blocktopbar_color2 a { color:#A9C23F; } /* --- Green -- */
.blocktopbar_color3 a { color:#FFCD00;} /* --- Yellow -- */
.blocktopbar_color4 a { color:#EE5340;} /* --- Red -- */

.blocktopbar_color0 a:hover, .blocktopbar_color1 a:hover,.blocktopbar_color2 a:hover,.blocktopbar_color3 a:hover,.blocktopbar_color4 a:hover { color:#151F6D; text-decoration:none;}

.callout { font-size:.925em;font-weight:100; }

.byline { font-size:11px; line-height:120%; font-weight:normal;padding-bottom:15px;}

.byline a { color:#97999B; }
.byline a:hover { color:#151F6D; }

.box a.readmore { line-height:30px;display:block; }
.box a.readmore:hover { color:#151F6D; text-decoration:none;}

.box p { padding:5px 0; width:95%;}
.box p.bjqs-caption { padding:2%;margin-bottom: 0px;}


/* QUOTE - BIG */
.Quote {
	padding:15px 0;
	margin:0 5px 5px 5px;	
}

.Quote p {width:97%; margin-bottom:0; padding-bottom:0;font-size:1.4em;line-height:150%;font-weight: 100;}

.Quote:before
{
font-size:2.5em;
font-family: Georgia, serif;
content: '\201C';
display: block;
width: 15px;
height: 15px;
}

.Quote:after {
    content: '\201D';
    font-family: Georgia,serif;
    font-size: 2.5em;
    height: 15px;
    float: right;
    right: 15px;
    text-align: right;
    width: 15px;
}

.Quote-Left {
	width:100%;
	font-size:3.2em;
	font-family: Georgia, serif;
	padding:10px 0 0 0;
}
.Quote-Right {
	text-align:right;
	width:100%;
	font-size:3.2em;
	font-family: Georgia, serif;
	padding:0px 0 0 0;
}
/* QUOTE - small */

.Quotesmall {
	font-size:1em;
	font-weight: 100;
	padding:15px 0;
	width:93%;
	margin:0 auto;
}

.Quotesmall p {padding:0 10px;}

.Quotesmall:before
{
font-size:3.2em;
font-family: Georgia, serif;
content: '\201C';
}

.Quotesmall:after
{
font-size:3.2em;
font-family: Georgia, serif;
content: '\201D';
text-align:right;
float:right;
}


/* styles for simple slider */

.Slides		{ padding:0px!important;}

.slideshow #banner-slide, .slideshow #banner-slide2, .slideshow #banner-slide3 { margin: 0 0 15px 0; width:100%; }

.box p {margin-bottom: 10px; }

ul.bjqs-controls li.bjqs-prev a, ul.bjqs-controls li.bjqs-next a { display:block; width:20px; height:20px;}
ul.bjqs-controls li.bjqs-prev a img, ul.bjqs-controls li.bjqs-next a img { display:block; width:20px; height:20px; }

.aspNetDisabled { display: none; }

/* responsive adjustments for "people grid" */

@media screen and (max-width: 1495px) and (min-width: 1380px) {
    #home_peopleblock ul.thumbstack li {
        max-width: 115px;
    }
}

@media screen and (max-width: 1379px) and (min-width: 1261px) {
    #home_peopleblock ul.thumbstack li {
        max-width: 105px;
    }
}

@media screen and (max-width: 1260px) and (min-width: 1060px) {
    #home_peopleblock ul.thumbstack li {
        max-width: 85px;
    }
}