.shortcutHeader{font-weight:bold;}
.shortcutList{text-transform:capitalize;}
.bodyStyleSUV{text-transform:uppercase;} 
.shortcutList li a {text-transform:capitalize;}
.bodyStyleImages li a{height:39px;width:105px;display:block;background-repeat:no-repeat;background-position: 8px 0;}
.bodyStyleImages li{float:left; text-align: center;}
.bodyStyleImages li a {text-decoration: none;font-weight: normal;}
.bodyStyleImages li a span {position: relative; top: 27px;}
.bodyStyleConvertible a{background-image:url("../images/style2/convertible.gif")/*tpa=http://static.dealer.com/v8/widgets/automotive/inventory/smartbrowse/images/style2/convertible.gif*/;}
.bodyStyleCoupe a{background-image:url("../images/style2/coupe.gif")/*tpa=http://static.dealer.com/v8/widgets/automotive/inventory/smartbrowse/images/style2/coupe.gif*/;}
.bodyStyleHatchback a{background-image:url("../images/style2/hatchback.gif")/*tpa=http://static.dealer.com/v8/widgets/automotive/inventory/smartbrowse/images/style2/hatchback.gif*/;}
.bodyStyleHybrid a{background-image:url("Unknown_83_filename")/*tpa=http://static.dealer.com/v8/widgets/automotive/inventory/smartbrowse/images/style2/hybrid.gif*/;}
.bodyStyleSedan a{background-image:url("../images/style2/sedan.gif")/*tpa=http://static.dealer.com/v8/widgets/automotive/inventory/smartbrowse/images/style2/sedan.gif*/;}
.bodyStyleSUV a{background-image:url("../images/style2/suv.gif")/*tpa=http://static.dealer.com/v8/widgets/automotive/inventory/smartbrowse/images/style2/suv.gif*/;}
.bodyStyleTruck a{background-image:url("../images/style2/truck.gif")/*tpa=http://static.dealer.com/v8/widgets/automotive/inventory/smartbrowse/images/style2/truck.gif*/;}
.bodyStyleVan a{background-image:url("../images/style2/van.gif")/*tpa=http://static.dealer.com/v8/widgets/automotive/inventory/smartbrowse/images/style2/van.gif*/;}
.bodyStyleMini-Van a{background-image:url("../images/style2/van.gif")/*tpa=http://static.dealer.com/v8/widgets/automotive/inventory/smartbrowse/images/style2/van.gif*/;}
.bodyStyleWagon a{background-image:url("../images/style2/wagon.gif")/*tpa=http://static.dealer.com/v8/widgets/automotive/inventory/smartbrowse/images/style2/wagon.gif*/;}
