/*
    Start Date: 14th july 2010
    Company: Honeywell 
    Description : Remove Default Browser Styling with a Master Stylesheet
*/

/* Globel Defults */
html, body { margin: 0px; padding: 0px; border: 0px;}
body { font:Arial bold 10px;}
/* Headlines */
h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; font-weight: normal; }
/* Text Styles */
p, th, td, li, dd, dt, ul, ol, blockquote, q, acronym, abbr, a, input, select, textarea
{
 margin: 0;
 padding: 0;
}
blockquote { margin: 1.25em; padding: 1.25em }
q { font-style: italic; }
acronym, abbr { cursor: help; border-bottom: 1px dashed; }
small { font-size:.85em; }
big { font-size:1.2em; }
/* Links and Images */
a, a:link, a:visited, a:active, a:hover { text-decoration:none; }
img { border: none; }
 /* Tables */
table { margin: 0; padding: 0; border: none;  }
 /* Forms */
form { margin: 0; padding: 0; display: inline; }
label { cursor: pointer; }
/* Common Classes */
 .clear { clear: both; }
 .floatLeft { float: left; }
 .floatRight { float: right; }
 .textLeft { text-align: left; }
 .textRight { text-align: right; }
 .textCenter { text-align: center; }
 .textJustify { text-align: justify; }
 .blockCenter { display: block; margin-left: auto; margin-right: auto; } /* remember to set width */
 .bold { font-weight: bold; }
 .italic { font-style: italic; }
 .underline { text-decoration: underline; }
 .noindent { margin-left: 0; padding-left: 0; }
 .nomargin { margin: 0; }
 .nopadding { padding: 0; }
 .nobullet { list-style: none; list-style-image: none; }