body { background-color: #e5e5e5; font-family:Arial !important;}
body #innercontainerwrap { text-align:left !important;}
#header         	  { height: 56px; font:normal 11px Arial; color:#CBCBCB;}
.header_img    	      { background: url("../Images/containerbg_top.jpg")/*tpa=http://honeywell.com/_layouts/InternetFramework/Images/containerbg_top.jpg*/ no-repeat; width: 895px; height: 10px;  font-size: 0px;  display:block;}
#outercontainer		  { margin: 0px auto; width: 955px;}
#innercontainer		  { width: 895px; margin-bottom: 20px; margin-top: 20px;  margin-right: 30px; margin-left: 30px;}
#containerwrap 		  { margin: 0px !important; padding: 0px !important;}
#innercontainerwrap   { width: 825px; margin: 0px auto;text-align:left;}
#hw-contentplaceholder{ position:relative;margin:0px;padding:0px;}
.middle_img     	  { background-image: url("../Images/containerbg_middle.jpg")/*tpa=http://honeywell.com/_layouts/InternetFramework/Images/containerbg_middle.jpg*/; background-repeat:repeat-y; width: 895px;}
.bottom_img    		  { background: url("../Images/containerbg_bottom.jpg")/*tpa=http://honeywell.com/_layouts/InternetFramework/Images/containerbg_bottom.jpg*/ no-repeat; width: 895px; height: 10px; font-size: 0px; }
.gsc-completion-container, .ms-siteaction, { text-align:left !important;}

										/***Space ***/
/*font-size:0px; is a fix for taking the height more than expected*/
.spacetenpix 	{ height:10px;	background-color:#ffffff; line-height:normal;font-size:0px;}
.spacethirtypix { height:30px; background-color:#ffffff;}
.spacethirty_v 	{ width:30px; color:#ffffff; width:29px}
.spaceten_v		{ width:10px; background-color:#ffffff;}
.spacetwenty    { height:20px; background-color:#ffffff;}
.spacefive_v    { width:5px; background-color:#ffffff;}
.spacetwenty_v  { width:20px; background-color:#ffffff;}

form{ display:inline; padding:0px; margin:0px;}
table { margin: 0; padding: 0; border: none;  }
/* Text Styles */
p, th, td, li, dd, dt, ul, ol, blockquote, q, acronym, abbr, a, input, select, textarea
{
 margin: 0;
 padding: 0;
}
img{border:0px}a{outline:none /* Mozilla Outline Fix */}

/*Header*/
/* Navagition Bar */
.hw-nav-bar  													{ font:bold 10px arial; color:#adadad; width:825px; text-align:left; }
.hw-nav-bar a:link, .hw-nav-bar a:visited, .hw-nav-bar a:active { font:bold 10px arial;	color:#adadad; width:825px; text-align:left;}
.hw-nav-bar a:hover 											{ font:bold 10px arial; color:#EE3124; width:825px; text-align:left;}

.hw-breadcrum      { width:825px; font-family:Arial; font-size:10px; color:#adadad; padding-bottom:30px;}
.hw-header-t-space{ margin:0px; padding:0px; height:15px}
.hw-logo{ float:left; width:136px}
.hw-top_rht_area{ float:right; height:40px; position:relative; top:8px; color:#919191; font:bold 11px Arial; }
.hw-top_link a:link, .hw-top_link a:visited, .hw-top_link a:active{color:#919191; font:bold 11px Arial; text-decoration:none}
.hw-top_link a:hover {color:#EE3124;}
/*Menu Navigation*/
.hw-mnu-height{ height:47px;}
.hw-mnu-bg-div{ clear:both; background-image:url('../Images/mnu_grad_normal.jpg')/*tpa=http://honeywell.com/_layouts/InternetFramework/Images/mnu_grad_normal.jpg*/; width:823px; border-left:1px solid #CFCFCF; border-right:1px solid #CFCFCF; height:37px}
.hw-mnu-bg-left{ float:left; width:683px}
.hw-mnu-bg-right{ float:right; width:138px}
.hw-mnu-nav, .hw-mnu-nav ul	{ list-style:none; margin:0; padding:0}
.hw-mnu-nav	{ font-family:Arial; z-index:100;  position:relative}
.hw-mnu-nav li{ background-position:left; background-repeat:no-repeat; float:left;  margin:0; padding:0;  position:relative;}
.hw-mnu-nav li a, .hw-mnu-nav li a:link, .hw-mnu-nav li a:visited { text-align:left;font:bold 11px/37px Arial; color:#333333;  display:block; padding:0px 7px 0 8px; text-decoration:none;    border-right:1px solid #E5E5E5; background-position:right center}
/*.hw-mnu-nav li a:active{ background:url('/_layouts/InternetFramework/Images/mnu_grad_active.jpg') !important; background-repeat:repeat-x; color:#FFF !important;}*/
#hw-mnu-nav-one li:hover a, #hw-mnu-nav-one li.sfHover a {  background:url('../Images/mnu-over-white.jpg')/*tpa=http://honeywell.com/_layouts/InternetFramework/Images/mnu-over-white.jpg*/;  font:bold 11px/37px Arial; border-right:1px solid #b3b3b3;  color:#EE3124; }
#hw-mnu-nav-one ul li a:active{ background:url('../Images/menubg_active.jpg')/*tpa=http://honeywell.com/_layouts/InternetFramework/Images/menubg_active.jpg*/; color:#FFF ;}
.hw-parent-mnu-item.hw-mnu-active-page a:link, .hw-parent-mnu-item.hw-mnu-active-page a:visited, .hw-parent-mnu-item.hw-mnu-active-page a:active  {  background:url('../Images/menubg_active.jpg')/*tpa=http://honeywell.com/_layouts/InternetFramework/Images/menubg_active.jpg*/; background-repeat:repeat-x; color:#fff;font:bold 11px/37px Arial;}
.hw-parent-mnu-item.hw-mnu-active-page a:hover {color:#EE3124;font:bold 11px/37px Arial;}
#hw-mnu-nav-one li a { cursor:default}
#hw-mnu-nav-one li ul li a { cursor:pointer;}

#hw-mnu-nav-one li ul li a:active { background-image:none !important;}
#hw-mnu-nav-one li:hover ul a, #hw-mnu-nav-one li.sfHover ul a{  font:normal 11px/15px Arial; background-image:none; color:#333333;  border:none}
#hw-mnu-nav-one li:hover ul img, #hw-mnu-nav-one li.sfHover ul img{ padding-top:1px; margin:0px}
.hw-mnu-table{ margin:0px; padding:0px; height:60px; width:125px}
.hw-mnu-img { padding:0px; margin:0px}
#hw-mnu-nav-one li:hover ul a:hover, #hw-mnu-nav-one li.sfHover ul a:hover{ color:#EE3124!important; }
#hw-mnu-nav-one li:hover ul a:active, #hw-mnu-nav-one li.sfHover ul a:active{ color:#EE3124!important; }
.hw-mnu-nav ul					  { background-color:#FFF; border-bottom:1px solid #b3b3b3; border-left:1px solid #b3b3b3; border-right:1px solid #b3b3b3;  list-style:none; margin-left:-1px; margin-top:1px;  position:absolute;  top:-998em;  left:0px;  padding-top:16px; padding-left:12px;  padding-bottom:11px;  padding-right:22px; }
.hw-mnu-nav #hw-mnu-image-drpdown {padding-bottom:0px; padding-right:12px !important;}	
.hw-mnu-nav #hw-mnu-image-drpdown .hw-mnu-txt-1 a {padding-top:9px; padding-bottom:1px;}


.hw-mnu-nav ul img				  { margin-top:3px !important;}
.hw-mnu-nav li:hover ul, .hw-mnu-nav li.sfHover ul{ top:36px; left:0px}
.hw-mnu-nav ul li				  { border:0; float:none}
.hw-mnu-nav ul a				  { white-space:nowrap; color:#03F}
.hw-mnu-nav ul a:hover			  { background:none;  color:#000}
.hw-mnu-nav ul li a				  { vertical-align:top !important; height:20px}
.hw-mnu-search-box				  { background-repeat:no-repeat; font:normal 11px Arial;  background-position:1px; height:15px; border:1px solid #CFCFCF; width:107px; margin-right:3px; padding-left:2px; line-height:15px; color:#636363}
.hw-mnu-serachtxt				  { padding-left:6px; padding-right:6px}
.hw-mnu-txt-1					  { clear:both; width:135px; margin-left:8px; height:30px}
.hw-mnu-img						  { *margin-bottom:-4px;}
.hw-mnu-img-dim-1                 { height:64px}
.hw-mnu-mover-txt 				  { color:#EE3124; background-color:#DFDFDF;}
.hw-mnu-mover-txt-normal		  {	color:#333333; background-color:#FFF;}
/*SiteMap*/
.hw-sitemap_main_div	{ border-bottom:1px solid #b3b3b3;}
.hw-sitemap-txt			{ font-family:Arial; font-size:11px; color:#EE3124; text-decoration:none; cursor:pointer; font-weight:bold; }
.hw-sitemap_hide_div	{ display:none;  border-bottom:1px solid #b3b3b3; padding-bottom:10px;  padding-top:10px; }
.hw-sitemap_tdf			{ width:165px; border-right:1px solid #b3b3b3; vertical-align:top; }
.hw-sitemap_td			{ width:155px; padding-left:10px; border-right:1px solid #b3b3b3; padding-bottom:15px; vertical-align:top; }
.hw-sitemap_td1			{ width:155px; padding-left:10px; padding-bottom:15px; vertical-align:top;}
.hw-sitemap-head		{ font:bold 11px arial; color:#333333; padding-bottom:5px; text-align:left; display:block;width:100%;}
.hw-sitemap_linktxt{display:block; width:100%; padding-bottom:8px;}
.hw-sitemap_linktxt a:link, .hw-sitemap_linktxt a:visited, .hw-sitemap_linktxt a:active{ font:normal 10px/12px Arial; text-decoration:none;  color:#333333}
.hw-sitemap_linktxt a:hover{ color:#EE3124}
.hw-sitemap-head-space	   { padding-top:11px }
.hw-sitemap-space		   { height:12px;}
.gspace 											 { width:825px; margin:0 auto; height:30px; padding-bottom:17px; text-align:left;}
/*Footer*/
#hw-footer		{ font:normal 11px Arial; color:#919191;  height:30px;  line-height:30px}
.hw-footer-black a:link, .hw-footer-black a:visited, .hw-footer-black a:active {color: #000;}
.hw-footer-black a:hover{ color: #EE3124;}

.hw-footer-link a:link, .hw-footer-link a:visited, .hw-footer-link a:active{font:normal 11px Arial; color:#919191; text-decoration:none;}
.hw-footer-link a:hover{ color:#EE3124;}

/* Remove Items */
.hw-lft-nav p a:link, .hw-lft-nav p a:visited, .hw-lft-nav p a:active
{
	font-family:Arial;
	font-size:11px;
	color:#333333;
	
	list-style:none;
	margin:5px;

}
.hw-lft-nav a:hover
{
	font-family:Arial;
	font-size:11px;
	color:#333333;
	
	list-style:none;
	margin:5px;

}

.hw-lft-nav-inside1
{
	font-family:Arial;
	font-size:11px;
	color:#333333;
	
	list-style:none;
	margin:10px;

}

/**************************** Left Navigation Link *****************************/

.hw-lft-nav-link 
{
	width:164px !important;
	color:#333333 !important;
	text-align:left;
	vertical-align:top;
	font-family:Arial;
	font-size:11px;
	
}

#LeftNavigation
{
	width:144px;
	
}

.hw-lft-nav-link-sub a:link, .hw-lft-nav-link-sub a:visited, .hw-lft-nav-link-sub a:active
{
	clear:both;
	width:164px !important;
	color:#333333 !important;
	text-align:left;
	vertical-align:top;
	font:normal 11px/20px Arial;
}

.hw-lft-nav-link-sub a:hover 
{
	width:164px !important;
	color:#333333 !important;
	text-align:left;
	vertical-align:top;
    font:normal 11px/20px Arial;
}

.hw-lft-nav-link .ms-WPBody a:link, .hw-lft-nav-link .ms-WPBody a:visited, .hw-lft-nav-link .ms-WPBody a:active
{
	font-size:11px;
	color:#333333;
	font-family:Arial;
    text-decoration:none;
}

.hw-lft-nav-link .ms-WPBody a:hover
{
	font-size:11px;
	color:#EE3124;
	font-family:Arial;
    text-decoration:none;
}

/* Navagition Bar */
.hw-nav-bar  													{ font:bold 10px arial; color:#adadad; width:825px; text-align:left; }
.hw-nav-bar a:link, .hw-nav-bar a:visited, .hw-nav-bar a:active { font:bold 10px arial;	color:#adadad; width:825px; text-align:left;}
.hw-nav-bar a:hover 											{ font:bold 10px arial; color:#EE3124; width:825px; text-align:left;}
/* Left Navigation */
.hw-lft-nav-link .ms-PartSpacingVertical		
{
	margin-top:0px;
}
.hw-left-nav-hghlight-close a:link, .hw-left-nav-hghlight-close a:visited, .hw-left-nav-hghlight-close a:hover
{
	
	background-repeat:no-repeat;
	background-position:left;
	padding-left:15px;
    font:normal 11px Arial;
    color:#EE3124 !important;
}
.hw-left-nav-hghlight-open a:link, .hw-left-nav-hghlight-open a:visited, .hw-left-nav-hghlight-open a:hover
{
	background-image: url("../../../SiteCollectionImages/sqbullet_open.gif")/*tpa=http://honeywell.com/SiteCollectionImages/sqbullet_open.gif*/;
	background-repeat:no-repeat;
	background-position:left;
	padding-left:15px;
    font:normal 11px Arial;
    color:#EE3124 !important;
}
.hw-left-nav-normal-close a:link, .hw-left-nav-normal-close a:visited, .hw-left-nav-normal-close a:hover
{
	background-image: url("../../../SiteCollectionImages/sqbullet_close.gif")/*tpa=http://honeywell.com/SiteCollectionImages/sqbullet_close.gif*/;
	background-repeat:no-repeat;
	background-position:left;
	padding-left:15px;
    font:normal 11px Arial;
    color:#333333 !important;
      
}
.hw-left-nav-normal-open  a:link, .hw-left-nav-normal-open  a:visited, .hw-left-nav-normal-open a:hover
{
	
	background-repeat:no-repeat;
	background-position:left;
	padding-left:15px;
    font:normal 11px Arial;
    color:#333333 !important;
}
div#ctl00_ctl13_g_45a4c3cd_fb33_42f4_b5ab_50b6d4135fdf_ctl01n0Nodes table tbody tr td:first-child { display:none;}

.hw-lft-nav-js-active-highlight a:link, .hw-lft-nav-js-active-highlight a:active, .hw-lft-nav-js-active-highlight a:visited
{
	
	background-repeat:no-repeat;
	background-position:left;
    font:normal 11px Arial;
    color:#EE3124!important;
}

.hw-lft-nav-js-active a:link, .hw-lft-nav-js-active a:visited, .hw-lft-nav-js-active a:hover
{
	
	background-repeat:no-repeat;
	background-position:left;
    font:normal 11px Arial;
    color:#333333;
}

.hw-lft-nav-js-hide-hghlight a:link, .hw-lft-nav-js-hide-hghlight a:visited, .hw-lft-nav-js-hide-hghlight a:active
{
	
	background-repeat:no-repeat;
	background-position:left;
	margin-left:15px;	
	padding-left:15px;
	font:normal 11px/20px Arial;
    color:#EE3124 !important;

}
.hw-lft-nav-js-hide-normal a:link, .hw-lft-nav-js-hide-normal a:visited, .hw-lft-nav-js-hide-normal a:active

{
	
	background-repeat:no-repeat;
	background-position:left;
	margin-left:15px;	
	padding-left:15px;
	font:normal 11px/20px Arial;
    color:#333333;
}

.hw-lftnav-header-hghlight a:link, .hw-lftnav-header-hghlight a:visited, .hw-lftnav-header-hghlight a:active
{	
	
	font:normal 11px/20px Arial;
    color:#EE3124 !important;
}
.hw-lftnav-items-hghlight a:link, .hw-lftnav-items-hghlight a:visited, .hw-lftnav-items-hghlight a:active
{	
	font:normal 11px/20px Arial;
    color:#EE3124 !important;
}
.hw-lftnav-items-normal a:link, .hw-lftnav-header-hghlight a:visited, .hw-lftnav-header-hghlight a:active
{	
	font:normal 11px/20px Arial;
    color:#333333;
}
.hw-lftnav-header-normal a:link, .hw-lftnav-header-normal a:visited, .hw-lftnav-header-normal a:active
{
	padding-left:5px;	
	font:normal 11px/20px Arial;
    color:#333333 ;
}
.hw-lftnav-header-hghlight{ white-space:normal !important; padding : 0px 0px 2px 5px;}
.hw-lft-nav-link td .hw-lft-nav-js-active { white-space:normal !important; padding: 5px 0px 5px 15px;}
.hw-lft-nav-js-active-highlight{white-space:normal !important; padding: 5px 0px 5px 15px;}
.hw-lft-nav-link .ms-WPBody .hw-left-nav-L1-link {line-height:12px !important; white-space:normal !important;}
.hw-lft-nav-link .hw-lftnav-items-normal a {line-height:12px !important; white-space:normal !important;}
.hw-lft-nav-link .TreeView table td {white-space:normal !important; vertical-align: top;}
.hw-lft-nav-link .TreeView table td img { padding-top:2px;}
/*
1. IE8 left nav issue - hack
2. IE other version hack
*/
.hw-lft-nav-link .TreeView table td img { padding-top /*\**/: 4px\9 }
.hw-lft-nav-link .TreeView table td img { *padding-top:2px;}


.hw-lft-nav-link .TreeView table td a{line-height:12px !important;}
.hw-lft-nav-link .TreeView div table td {white-space:normal !important; vertical-align:top; padding: 5px 0px 5px 0px;}
.hw-lft-nav-link .TreeView div table td img {height:13px; padding-top:0px !important;}

.hw-csr-table .hw-lft-nav-link { width:180px !important;}
.hw-csr-table .hw-lft-nav-link .TreeView { width:180px !important;}

.hw-nav-products-td1 { vertical-align:top; padding:0px 10px 0px 0px; margin:0px;}
.hw-nav-products-td2 {vertical-align:top;}
.hw-nav-products-td3 {vertical-align:top;}
#hw-nav-products a.hw-nav-products-link{ line-height:14px ! important; font-weight:normal !important;height:100%;}
#hw-nav-products .hw-nav-products-div{ padding:3px 0px 3px 0px;  }
html>body #hw-nav-products .hw-nav-products-div {*padding-top:2px !important; *padding-bottom:2px !important;}
html>body #hw-nav-products a.hw-nav-products-link {*padding-bottom:2px !important}
html>body #hw-mnu-image-drpdown{ *height:94px;}
html>body .hw-mnu-txt-1	{ *height:30px !important}

.goog-te-combo, .goog-te-banner *, .goog-te-ftab *, .goog-te-menu *, .goog-te-menu2 *, .goog-te-balloon *{ font-size:11px !important;}

.gsc-completion-container td {color:#636363 !important;font-size:11px !important;}
table.gsc-completion-container{width:139px !important; border:1px solid #cfcfcf;}



.hw-footer-logoimg{float: right;width:100px;margin-top:-1px;margin-top:-14px\9;}
/*Social Media Icon Start*/
#hwSocialMedia-Cont{float: right; margin-top:-15px;}
/*body:first-of-type #hwSocialMedia-Cont{margin-top:0px;}*/ /*only for safari.*/
/*body:nth-of-type(1) #hwSocialMedia-Cont{margin-top:0px;}*/ /*only for Chrome.*/

#hwFacebook {background-image:url('../Images/hw_FB_Logo.jpg')/*tpa=http://honeywell.com/_layouts/InternetFramework/Images/hw_FB_Logo.jpg*/;width:16px;height:16px;float:left;margin-right:5px;}
#hwTwitter  {background-image:url('../Images/Hw_Twitter_Logo.jpg')/*tpa=http://honeywell.com/_layouts/InternetFramework/Images/Hw_Twitter_Logo.jpg*/;	width:16px;height:16px;	float:left;margin-right:5px;}
#hwLinkedIn {background-image:url('../Images/Hw_Linked_Logo.jpg')/*tpa=http://honeywell.com/_layouts/InternetFramework/Images/Hw_Linked_Logo.jpg*/;width:16px;height:16px;float:left;}
#hwGooglePlus {background-image:url('../Images/hw_Gplus_Logo.png')/*tpa=http://honeywell.com/_layouts/InternetFramework/Images/hw_Gplus_Logo.png*/;width:16px;height:16px;float:left;margin-right:5px;}
.hwSocialMedia{	width:16px;height:16px;	text-indent:-9996px;overflow:hidden;display:block;cursor:pointer;} 

/*Social Media Icon End*/
