								/***common Font Style***/
.hw-content-txt       														{ font:normal 11px/15px Arial;	color:#333333;}
.hw-content-txt h6    														{ font:bold 11px/15px Arial; color:#EE3124; }
.hw-content-txt a:link, .hw-content-txt a:visited, .hw-content-txt a:active { font:11px/15px arial; color:#2e6099;}
.hw-content-txt a:hover 													{ font:11px/15px arial; color:#2e6099;text-decoration:underline}
.hw-content-txt h1 															{ font-family:Arial; font-size:18px; color:#EE3124; height:25px; line-height:25px; font-weight:bold !important;} /*Page TITLE */ 
.hw-content-txt h2 															{ font:normal 14px Arial; color:#333333; line-height:20px;}/* Page Introduction */
.hw-content-txt h3 															{ font:bold 11px Arial; color:#EE3124;}  /* Section Head */
.hw-content-txt p  														    { font:normal 11px/15px Arial;	color:#333333;}/* Item Text */
.hw-content-txt h5 															{ font:bold 10px Arial; color:#666666;}/* Caption Text */ 
.hw-content-txt ul 															{ margin-left:15px; font:normal 11px/15px Arial;color:#333333;list-style-type: none;padding-left: 0;margin-left: 0;}
.hw-content-txt ul li {background:url(../Images/arrowbullet_normal.gif)/*tpa=http://honeywell.com/_layouts/InternetFramework/Images/arrowbullet_normal.gif*/ top left no-repeat;padding-left: 15px;margin-bottom: 10px;}
.hw-content-txt ul #hw-privacy-li { margin-bottom:0px;}
.hw-content-txt .hw-consumer-div ul #hw-product-li { margin-bottom:0px;}

.hw-content-link-red a:link, .hw-content-link-red a:visited, .hw-content-link-red a:active { font:bold 11px arial !important; color:#EE3124 !important; text-decoration:none !important;	font-family: arial !important;}
.hw-content-link-red  a:hover 												{	font:bold 11px arial !important; color:#EE3124 !important; font-family: arial !important; text-decoration:underline !important;}
.hw-content-txt ul .hw-content-li-desc { background:none;padding:0px; list-style:disc}
.hw-content-txt .hw-content-ul-desc {background:none;padding:0px; list-style:disc;padding-left:20px;}
.hw-content-txt  ul #hw-last-li { margin-bottom:0px;}


									/***Landing Page***/
.marquis_brd_ftr { width:825px; height:315px; text-align:center; font-family:arial;	font-size:11px;	line-height:315px;}
.hw-sec-cont     { width:472px;}
.hw-section-land { text-align:left; font-family:Arial;	color:#EE3124; font-size:16px; font-weight:bold;padding-bottom:10px;border-bottom:1px solid #B3B3B3;}
.hw-section-landr { text-align:left; font-family:Arial;	color:#EE3124; font-size:18px; font-weight:bold;padding-bottom:10px;border-bottom:1px solid #B3B3B3;}
.hw-content-land { width:472px;	font-family:arial;	font-size:11px;	color:#333333;	text-align:center;	line-height:50px;}

									/***BreadCrumbs***/
.hw_LeftNav_header_highlight { font:bold 13px Arial; color:#EE3124; text-align:left;}
.hw_LeftNav_header           { font:normal 11px Arial; color:#797979;}
.hw_LeftNav_items			 { margin-left:30px; font:normal 11px Arial; color:#797979;}
.hw_Products_PageTitle		 { height:20px; font-family:Arial;font-size:18px;color:#EE3124; font-weight:bold;line-height:20px; }
.hw_Products_ContentImage    { height:93px; width: 159px;}
									
										/***Google Translate Area ***/
.gspace 											 { width:825px; margin:0 auto; height:30px; padding-bottom:17px;}
.gselect											 { width: 150px;  height: 20px;}
.cse .gs-promotion.gs-result, .gs-promotion.gs-result{ border:0px !important;}
table.gsc-completion-container 						 { z-index: 10000;}
.redtext 											  {text-align:right;font: bold 11px Arial; color: #a91c24;}
										/***Webparts ***/
.main-image			    { width:825px; border:0px;}
/*.main-image			    { width:825px; border:0px; height:315px;padding-bottom:10px;} */

.main-image	.ms-PartSpacingVertical{ margin:0px !important;}
.webparts-title         { font:bold 11px Arial; color:#a9a9a9;height:30px;line-height:30px; }
.hw-webparts            { display:block; overflow:hidden;	margin:0px;}
.hw-webparts-home	    { height:196px; width:253px; border:1px solid #b3b3b3;  float:left;}
.hw-webparts-h-space    { float:left; width:30px; }
.hw-webparts-h-in-space { padding:10px;}
#StagingBody .webparts-title{color:#333333}
.hw-webparts-head       { font:bold 12px Arial;	position:relative;	top:-3px; color:#EE3124;}
.hw-webparts-cont       { font:normal 13px/15px Arial; color:#333333;}
.hw-webparts-link       { font:bold 11px Arial; color:#EE3124; float:right;	padding-right:3px;	padding-top:3px;}
.hw-webparts-link a:hover {text-decoration:underline;color:#EE3124;}
.hw-webparts-link a:link, .hw-webparts-link a:visited, .hw-webparts-link a:active {color:#EE3124; font-weight:bold;font-size:11px; font-family:Arial, Helvetica, sans-serif;}
#linkitem .hw-webparts-link a:link, #linkitem .hw-webparts-link a:visited, #linkitem .hw-webparts-link a:active {color:#EE3124; font-weight:bold;font-size:11px; font-family:Arial, Helvetica, sans-serif;}

.hw-employee-spacer-h{width:11px;	background-color:#ffffff;}
.hw-employee-spacer-v{height:11px;background-color:#ffffff;}

									  /*** Product and services ***/ 
.hw_Products_LeftNav       { width: 164px; height:145px; vertical-align:top;  overflow:auto; margin:0px; padding:0px;}
.hw_Products_RightArea     { width:661px; vertical-align:top; overflow:auto;margin:0px; padding:0px;	}
.hw_Products_ProductArea   { width:472px; vertical-align:top}
.hw_Products_RelatedSection{ width:159px;vertical-align:top;}
.hw_emptywebpart           { padding:0px;margin:0px;overflow:auto;}
.hw-related-link   		   { width:157px; border:1px solid #9E9E9E; height:89px; background-color:#E7E7E7; }
.hw-related-link-h         { font:bold 11px/10px Arial; color:#515151; margin-bottom:10px;}
.hw-related-link-sub a:link, .hw-related-link-sub a:active, .hw-related-link-sub a:hover, .hw-related-link-sub a:visited { font:normal 11px/10px Arial; color:#515151;}
.pos    				   { position: absolute; left: 250px; top: 26px; width: 191px; height: 14px; overflow: hidden; }
.postxt                    { font:bold 11px Arial; color:#8A8A8A; }
.imgpos                    { position: absolute; left: 450px; top: 26px; overflow: hidden; }
.textcls                   { font:normal 11px Arial; text-align:center;   }
.hdrcls                    { font:bold 14px Arial; color:#B61C24; }
.lnkcls                    { font:normal 11px Arial; color:#B61C24;}
.hw_Products_MiddleContentArea_Title a:link, .hw_Products_MiddleContentArea_Title a:visited, .hw_Products_MiddleContentArea_Title a:active {font:bold 11px Arial !important; color:#333333!important;}
.hw_Products_MiddleContentArea_Title a:hover { color:#EE3124!important;}
.hw_Products_RelatedLinks 					 { background-color:#333333;width:157px;height:89px;border:1px solid #9e9e9e;}
.hw_Products_RelatedLink_Header              { font:bold 11px Arial; color:#515151;}
.hw_Products_RelatedLink_Links               { font:normal 11px Arial; color:#515151; }
										/***Search POC ***/ 
.leftsearchheader 					   { font: bold 11px Arial; margin:10px;	padding:0; color:#EE3124; margin-top:10px; }
.leftsearchitems  					   { text-align:left; font:normal 11px Arial; color:Gray; padding-left:12px; }
.searchbox        					   { margin:0; text-align:center; }
.searchbox a      					   { font: normal 11px Arial; color:#333333;	text-align:left; text-decoration:none;}
.searchbox a:hover					   { color:#EE3124;}
.hw-search-box						   { }
.hw-search-box input				   { border:1px solid #b3b3b3; height:17px; text-align:left}
.hw-search-box .ms-PartSpacingVertical { margin-top:0px;display:none}	
.searchBoxDiv {}

.gsc-wrapper .cse .gsc-webResult.gsc-result, .gsc-wrapper .gsc-webResult.gsc-result{
	margin-bottom:0px;
	border:0px;
	padding:0px 0px 20px 0px;
}
										/***Related Link ***/
.hw-rel-cont     																			 { vertical-align:top; width:157px;	}
.hw-rel-cont .ms-PartSpacingVertical {margin-top:10px;}
.hw-related-link-vbox																	     { border:1px solid #b3b3b3; width:157px;}
.hw-related-link-vbox h6																     { font:bold 11px Arial;	color:#333333; padding-bottom:3px;}
.hw-related-link-vbox p 																     { font:normal 11px/15px Arial; color:#333333; }
.hw-related-link-vbox a:link, .hw-related-link-vbox a:visited, .hw-related-link-vbox a:active{ font: bold 11px arial;color:#EE3124; text-decoration:none; padding-left:1px;}
.hw-related-link-vbox a:hover															     { text-decoration:underline;}
.hw-related-link-box   																	  { vertical-align:top; border:1px solid #b3b3b3; background-color:#e7e7e7; padding:10px;}
.hw-related-link-box h6																	  { font:bold 11px Arial;	color:#333333; padding-bottom:3px;}
.hw-related-link-box p 																	  { font:normal 11px/15px Arial; color:#333333;padding:3px 0px;}
.hw-related-link-box a:link, .hw-related-link-box a:visited, .hw-related-link-box a:active{	font: normal 11px arial;color:#333333;	text-decoration:none;}
.hw-related-link-box a:hover															  {	color:#EE3124; text-decoration:none;}
.categoryDiv .categoryTitle{margin-left:0px;}
.hw-media-content{font-size:11px;color:#333333;font-family:Arial, Helvetica, sans-serif;padding:10px 10px 10px 10px; border:1px solid #b3b3b3;}
.hw-media-content h4{ padding-bottom:10px}
.hw-media-content a:link, .hw-media-content a:visited, .hw-media-content a:active {color:#2E6099;text-decoration:none;}
.hw-media-content a:hover {color:#2E6099;text-decoration:underline;}


										/*** Leader bio ***/ 
.brnd_msg_img 	     { width:661px; height:145px; font-family:arial; font-size:11px; color:#333333; text-align:center;}
.lead_bio_content    { width:472px; font-family:arial;	font-size:11px;	color:#333333;}
.brnd_img_area       { width:164px; background-color:#ffffff; margin:0px;	padding:0px; height:100px; border-left:1px solid #ccc; border-top:1px solid #ccc; text-align:center; line-height:5px;}
.brnd_img_area_below { height:150px; font-family:Arial; font-size:11px;	color:#333333; text-align:center;}
.hw_flag_link_box    { width:825px; font-family:Arial; font-size:11px; color:#333333; }
.hw-googlemap-api    { width:411px;	}
									  /*** Worldwide Directory***/
.hw-worldwide-lnk a:link, .hw-worldwide-lnk a:visited, .hw-worldwide-lnk a:active { font:normal 11px Arial;	color:#333333; text-decoration:none;}
.hw-worldwide-lnk a:hover														  {	font:normal 11px Arial;	color:#EE3124; text-decoration:none;}
										/*** Search Result ***/
.hw-search-result {	width:484px; font-size:11px; color:#333333;	background-color:#ccc; font-family:Arial;}
.hw-search-lft					   { width:155px; border-right:1px solid #b3b3b3; }
.hw-searh-rht					   { width:163px; border:1px solid #b3b3b3; }
.hw-search-middle				   { width:484px; border:1px solid #b3b3b3; }
.hw-search-italic				   { font:italic 11px Arial; color:#EE3124;}
.hw-search-pro-title			   { font:bold 11px Arial; color:#EE3124;}
.hw-search-intro-title			   { font:bold 11px Arial; color:#333333;}
.hw-search-pro-desc			       { font:normal 11px Arial; color:#333333;}
.hw-search-sub-title			   { font:bold 11px Arial; color:#EE3124;}
.hw-search-item 				   { font:bold 11px/20px Arial;color:#333333;}
.gs-webResult .gs-title a:link, .gs-webResult .gs-title a:active, .gs-webResult .gs-title a:visited *{color:#EE3124;text-decoration:none !important;font-size:11px;}
.gs-webResult .gs-title a:hover {color:#EE3124;text-decoration:underline;font-size:11px;}
.gs-webResult .gs-snippet { font-family:Arial, Helvetica, sans-serif;color:#333333;}
.gs-webResult.gs-result a.gs-title:link, .gs-webResult.gs-result a.gs-title:link b *{font-size:11px;}
.gs-webResult #gs-title a {font-size:11px;text-decoration:none;}
.gsc-control-cse .gsc-wrapper {width:472px;}
.cse .gsc-control-cse, .gsc-control-cse {width:100% !important; padding:0px !important;}
.datepicker {height:15px;font-size:10px;color:#636363;border:1px solid #CFCFCF;}
.gsc-wrapper .gs-no-results-result .gs-snippet, .gsc-wrapper .gs-error-result .gs-snippet{ background-color:#ffffff !important; border:none; font:bold 11px Arial; color:#EE3124; text-align:center;}
.gsc-results .gsc-cursor-box { margin:0px !important;}
.gsc-result a.gs-title:link, .gsc-result a.gs-title:visited, .gsc-result a.gs-title:active {font-size:11px !important; text-decoration:none !important;}
.gsc-result a.gs-title:hover{text-decoration:underline !important;}


										/*** Country Summery ***/
.hw-cont-col1 {	width:205px; border-right:1px solid #b3b3b3;}
.hw-cont-col2 {	width:206px; border-right:1px solid #b3b3b3;}
.hw-cont-col3 {	width:206px; }
.hw-pad-tenpix{	padding-left:10px;}
.hw-pad-img-tenpix{padding-right:20px;}
.hw-pad-imgb-tenpix{padding-bottom:5px;}

.hw-sr-pad-td1{padding-bottom:30px;padding-right:10px;color:#333333;}
.hw-sr-pad-td2{border-left:1px solid #b3b3b3;padding-left:10px;padding-bottom:30px;padding-right:10px;color:#333333;}
.hw-sr-pad-td3{border-left:1px solid #b3b3b3;padding-left:10px;padding-bottom:30px;padding-right:11px;color:#333333;}
.hw-sr-pad-td4{border-left:1px solid #b3b3b3;padding-left:11px;padding-bottom:30px;color:#333333;}
.hw-sr-pad-td-bottom1{padding-right:10px;color:#333333;}
.hw-sr-pad-td-bottom2{border-left:1px solid #b3b3b3;padding-left:10px;padding-right:10px;color:#333333;}
.hw-sr-pad-td-bottom3{border-left:1px solid #b3b3b3;padding-left:10px;padding-right:11px;color:#333333;}
.hw-sr-pad-td-bottom4{border-left:1px solid #b3b3b3;padding-left:11px;color:#333333;}
.hw-sr-pad-td1 img, .hw-sr-pad-td2 img, .hw-sr-pad-td3 img, .hw-sr-pad-td4 img, .hw-sr-pad-td-bottom1 img, .hw-sr-pad-td-bottom2 img, .hw-sr-pad-td-bottom3 img, .hw-sr-pad-td-bottom4 img {padding-bottom:10px;}

.hw-cr-txt1 {font-family:Arial;font-size:13px;font-weight:bold;	padding-bottom:10px;color:#d07d11;}
.hw-cr-txt1 a{color:#d07d11 !important;}
.hw-cr-txt2 {font-family:Arial;	font-size:13px;	font-weight:bold;padding-bottom:10px;color:#5DB1F8;}
.hw-cr-txt2 a{color:#5DB1F8 !important;}
.hw-cr-txt3 {font-family:Arial;	font-size:13px;	font-weight:bold;padding-bottom:10px;color:#099513;}
.hw-cr-txt3 a{color:#099513 !important;}
.hw-cr-txt4 {font-family:Arial;	font-size:13px;	font-weight:bold;padding-bottom:10px;color:#de0031;}
.hw-cr-txt4 a{color:#de0031 !important;}
.hw-cr-txt1 a:hover, .hw-cr-txt2 a:hover, .hw-cr-txt3 a:hover, .hw-cr-txt4 a:hover {color:#EE3124 !important; text-decoration:none !important;}
.hw-content-txt .hw-awards-div a {color:#333333 !important; font-size:11px; font-weight:bold !important; }
.hw-content-txt .hw-awards-div a:hover{color:#EE3124 !important; font-size:11px; font-weight:bold; text-decoration:none;}
.hw-awards-div a span{color:#333333; font-size:11px; font-weight:normal; font-style:normal;}
.hw-awards-div a:hover span{color:#EE3124 !important; text-decoration:none;}


.hw-privacy-date{border-bottom:1px solid #b3b3b3;text-align:right;font-family:arial,helvetica,sans-serif;color:#333333;}
.hw-leader-name{width:144px;}
.hw-leader-name p{}
.hw-leader-name div div{}
.hw-section-overview .hw-hr-border-bottom{padding-top:10px;}
#linkitem a:link, #linkitem a:visited, #linkitem a:active {font: normal 11px Arial; color:#EE3124; }
#linkitem a:hover{text-decoration:underline;} 
#linkitem{margin:0px;font-family:Arial, Helvetica, sans-serif;}

#column .hw-related-link-vbox a:visited, #column .hw-related-link-vbox a:link, #column .hw-related-link-vbox a:active{
font-weight:bold;	
color:#EE3124;	
}
#column .hw-related-link-vbox a:hover{
font-weight:bold;	
color:#EE3124 !important;
text-decoration:underline;	
}
#column .ms-WPBody a:link, #column .ms-WPBody a:visited, #column .ms-WPBody a:active, #column .ms-WPBody a:hover
{
	color:#EE3124;	
}
#columnq{
	color:#EE3124;
}
.hw_Products_Banner {
	padding-top:20px;
}

.pager{list-style:none;color:#EE3124;text-align:center; font-size:11px;}
.pager li {display:inline; list-style:none;color:#EE3124;padding-right:3px;}
.pager .hw-press-number {color:#EE3124; !important;}
.pager #hw-press-number {color:#EE3124; !important;}
.hw-ceo-td-pad{padding:10px 0px;}
.hw-ceo-td-padleft{ padding-left:10px;}
.hw-ceo-td-padright{ padding-right:10px;}
.hw-ceo-oddBg {background-color:#F0EEEE;}
.hw-ceo-smallFont {font-family : verdana,arial,helvetica,sans-serif;font-size : 8pt;color : #EE3124;font-weight:bold;}
.hw-press-date{color:#333333;font-weight:normal;font-size:11px;}
.hw-press-title{color:#EE3124;font-weight:bold;font-size:11px;}
#hw-visit-site-link{color:#EE3124;}
#hw-leadership-leaderName a{color:#333333;}
#hw-leadership-leaderName a:hover {color:#EE3124;}

.gsc-cursor{list-style:none;color:#EE3124;text-align:center; font-size:11px;}
.gsc-results .gsc-cursor-box .gsc-cursor-page{	color:#EE3124 !important;}
input.buttonClass{ vertical-align:top;}
.searchbox #searchBox{ height:15px; border:1px solid #cfcfcf;font-size:11px;font-family:Arial, Helvetica, sans-serif;color:#636363; padding-left:2px;}
.searchbox #txtSearchBox{ height:15px; border:1px solid #cfcfcf;font-size:11px;font-family:Arial, Helvetica, sans-serif;color:#636363; padding-left:2px;}


#WebPartWPQ6 a:hover{color:#EE3124;}
.hw-section-overview .hw-content-txt {padding-bottom:10px;}
.in-the-news{padding:10px 0px;}
.small-description{font-family:Arial, Helvetica, sans-serif;color:#333333;}
#linkitem .hw_Products_MiddleContentArea_Description{font-family:Arial, Helvetica, sans-serif;}

td {font-family:Arial !important;}
.ms-WPBody{font-family:Arial !important;}
.hw-content-txt .hw-leader-linespace{line-height:15px;}

										/*** Privacy Statement ***/
.hw-pagetitle-ps   { width:661px; text-align:left; font-family:Arial;	color:#EE3124; font-size:18px; height:20px;}
.hw-ps-cont-box    { width:661px;	font-family:Arial; text-align:center; color:#333333; font-size:11px; text-align:left;}
.hw-ps-cont-box h4 { Font:Bold 11px Arial; color:#EE3124; padding-bottom:10px;}
									  /*** Solutions and Technology ***/
.hw-solution-intro					 { font:bold 16px Arial; color:#bdbdbd;}
.hw-solution-left					 { width:226px; height:200px; float:left; }
.hw-solution-right					 { width:226px; height:200px; float:right; }
.hw-solutions-video					 { height:200px;}
.hw-solutions-description            { font:bold 16px Arial; color:#bdbdbd; }
.hw-solutions-videosectiontitle      { font:bold 11px Arial; color:#333333; height:30px; vertical-align:bottom;}
.hw-solutions-videosectiontitle a:link, .hw-solutions-videosectiontitle a:active, .hw-solutions-videosectiontitle a:visited {color:#333333;font:bold 11px Arial;}
.hw-solutions-videosectiontitle a:hover  { color:#EE3124; text-decoration:underline;}

.hw-solutions-videosectiondesc       { font:normal 11px/15px Arial; color:#333333; height:50px; vertical-align:text-top;text-decoration:none;}
.hw-solutions-videosection-imagedesc { font:bold 11px Arial; color:#333333; height:15px; vertical-align:text-top; }
.hw-solutions-videosection-imagesize { width:120px; height:86px; }
.hw-solutions-videocategory          { font:bold 11px Arial; font-family:Arial ; color:#EE3124; text-align:left; width:472px; height:20px; float:left; border-top:1px solid #b3b3b3; padding-top:10px; }
.hw-solutions-videocategory a {font-family:Arial;color:#EE3124;}
.hw-solutions-videocategory a:hover {font-family:Arial;color:#EE3124; text-decoration:underline;}											/***Corporate Leadership***/
.hw-corp-ldr-link-sub a:link, .hw-lft-nav-link-sub a:visited, .hw-lft-nav-link-sub a:active { clear:both; color:#333333 !important; text-align:left; vertical-align:top;}
												/*** Border ***/
.hw-hr-border-top    { border-top:1px solid #b3b3b3; height:10px; line-height:normal;font-size:0px; }
.hw-hr-search-border-top    { border-top:1px solid #b3b3b3; height:1px; line-height:normal;font-size:0px; }
.hw-hr-border-leader { border-top:1px solid #b3b3b3;	height:19px;}
.hw-hr-border-bottom { border-bottom:1px solid #b3b3b3; height:1px; line-height:0px;font-size:0px;}
.hw-backto-index{border-bottom:1px solid #b3b3b3;padding:10px 0px; vertical-align:middle;}
#hw-press-index-page table .ms-PartSpacingVertical {margin-top:0px;}

.hw-backto-index a:link, .hw-backto-index a:active, .hw-backto-index a:visited {color:#333333;font-size:11px;font-weight:normal;}
.hw-press-td1 a:link, .hw-press-td1 a:active, .hw-press-td1 a:visited {color:#333333;font-size:11px;font-weight:normal;}
.hw-press-td1 a:hover{color:#EE3124;}
.hw-backto-index a:hover{color:#EE3124;}
.hw-section-landrTitle { text-align:left; font-family:Arial;color:#EE3124; font-size:11px; font-weight:bold;}
.hw-ArticleStartDate {padding-top:20px;color:#333333;}
.hw-press-td1 { padding:10px 0px; border-bottom:1px solid #b3b3b3; border-top:1px solid #b3b3b3;}
.hw-content-press p i {padding-bottom:10px;display:block;}



/* Remove Items */
.hw-page-title { width:825px; height:20px;	font-family:Arial; font-weight:bold;font-size:18px; color:#EE3124;}
.hw-page-sub-title {
	border-bottom:1px solid #B3B3B3;
}
.hw-page-sub-td {
	border-bottom:1px solid #B3B3B3;
}
.hw-page-sub-tdr {
	border-right:1px solid #B3B3B3;
}

.thumbProduct .productTitle a:hover{color:#EE3124;text-decoration:underline}
.hw_cont-al-lay div .alphaViewNav{margin-bottom:10px !important;}

.hw-page-sub-title a:link, .hw-page-sub-title a:visited, .hw-page-sub-title a:active, .hw-page-sub-title a:hover { font:bold 11px Arial; color:#EE3124; text-decoration:none;}
div#ctl00_ctl13_g_45a4c3cd_fb33_42f4_b5ab_50b6d4135fdf_ctl01n0Nodes table tbody tr td:first-child { display:none;}
.hw-ourcomp-head-txt { font:bold 13px/20px Arial; color:#A0A0A0; }
.hw-ourcomp-line     { border-top:1px solid #b3b3b3; height:2px; }

#hw-leadership-leaderName #hw-license-anchor {color:#2E6099;text-decoration:none;}
#hw-leadership-leaderName #hw-license-anchor:hover {color:#2E6099;text-decoration:underline;}
.hw-leader-name i{ font-style:normal;}
.hw-content-txt #hw-graphic-leader {color:#333333;}
.hw-content-txt #hw-graphic-leader:hover {color:#EE3124;}
.hw-content-txt .ms-WPBody{font-family:Arial;}
.hw-page-sub-title a:hover{text-decoration:underline}
.hw_Products_MiddleContentArea_Description{color:#333333}


.hw-sol-tip .MPBody
{
	color:#333333;
}
/* Left Navigation */
A.hw-sol-tip:link,  A.hw-sol-tip:visited, A.hw-sol-tip:active 
{ 
    font:normal 11px/15px Arial; color:#333333 !important; height:60px; vertical-align:text-top; width:216px; text-decoration:none; 
} 
A.hw-sol-tip:hover 
{ 
    CURSOR: none; POSITION: relative 
} 
A.hw-sol-tip SPAN {DISPLAY: none } 
A.hw-sol-tip:hover SPAN 
{ 
     BACKGROUND-COLOR: #F5F5F5; 
     PADDING:10px; 
     BORDER: 1px solid #b3b3b3; 
     DISPLAY: block; PADDING-LEFT: 5px;
     Z-INDEX:100; 
     TOP: -10px; 
     LEFT: -10px; 
     MARGIN: 10px; 
     WIDTH: 226px; 
     POSITION: absolute; 
     TEXT-DECORATION: none;
}

										/*** Contact Us ***/

.hw-contact-mandatory 	{ font:bold 11px Arial; color:#EE3124;}  
.hw-contact-label	{ font:bold 11px Arial; color:#333333;}
.hw-contact-label select {font:bold 11px Arial; color:#333333; width:295px; border:1px solid #CFCFCF !important;}
.hw-contact-label-cust select {font:bold 11px Arial; color:#333333; border:1px solid #CFCFCF !important;}
.hw-contact-selectbox {border:1px solid #CFCFCF;}
.hw-contact-padding{ padding-bottom:5px;}
.hw-contact-txtbox { font:normal 11px Arial;  height:15px; border:1px solid #CFCFCF; line-height:15px; color:#636363; padding-left:2px;}
#hw-contact-us input { vertical-align:middle !important;}

.hw-content-txt .hw-consumer-div .hw-consumer-top{text-decoration:none !important;}
.hw-content-txt .hw-consumer-div a:link, .hw-content-txt .hw-consumer-div a:visited, .hw-content-txt .hw-consumer-div a:active {text-decoration:none;color:#333333;}
.hw-content-txt .hw-consumer-div a:hover{ color:#EE3124;text-decoration:underline;}
.hw-content-txt .hw-consumer-div .hw-consumer-top img{ vertical-align:top;}
.hw-diversity-intro{font-weight:bold;font-size:16px;line-height:20px;color:#666666;}

.hw-product-links
{
	background: url("../Images/arrowbullet_normal.gif")/*tpa=http://honeywell.com/_layouts/InternetFramework/Images/arrowbullet_normal.gif*/ no-repeat scroll left top transparent;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right:15px;
}
.hw-product-title
{
	font: bold 11px Arial;
	color:#EE3124
}


                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             