.JBHVideoPlayer-ModalBackground
{
	background:		#000;
	position:		fixed;
	top:			0;
	bottom:			0;
	left:			0;
	width:			100%;
	z-index:		2000;
	
	filter:			alpha(opacity=0);
	opacity:		0;
}

.JBHVideoPlayer-VideoWrapper
{
	display:		inline-block;
	*display:		inline;
	*zoom:			1;
	background:		#fff;
}

.JBHVideoPlayer-ModalDialogue
{
	position:		fixed;
	z-index:		2001;
}