.coin-slider {
	zoom: 1;
	position: relative;
}

input[type='text'], input[type='password']{
	padding-top: 2px;
	height: 15px;
	margin-top: 3px;
}

input[type="button"] {
	padding: 0 6px;
}

#search{
	float: right;
	margin: 3px 5px 0 0;
}

#copyright{
	margin-top: 2px;
}

#wrap {
	zoom: 1; 
	position: relative;
	width: 980px;
}

#thumbs{
	margin-top: 50px;
}

.year-marker-label{
	zoom: 1;
	position: relative;
}

/* .help-icon{
	margin-top: -21px;
} */

ul.dropdown ul li.hover,
ul.dropdown ul li:hover{ 
	float: none; 
}
#content-container{
	overflow:auto;
	position:relative;
	background-color: #fff;
/*	margin-bottom: 65px; */
	width: 980px;
}

.help-icon{
	
	margin-right: 50px;
	
	
}

#careers-text{
	margin-top:-200px;
}


#tracking{
	
	width: 280px;
	margin-top: 5px;
	
	
}

ul.dropdown {
	cursor: pointer;
}












