body{
	behavior: url("csshover3.htc")/*tpa=http://www.expeditors.com/css/csshover3.htc*/;
}

#signin-submit, #guestTrack{
	background: url(../images/btn-bg.png)/*tpa=http://www.expeditors.com/images/btn-bg.png*/;
	border: 1px solid #6E6E6E;
	height: 21px;
	font-size: 11px;
	padding: 0 15px;
	margin-top: 3px;
}

#TrackingNumber, #signin-user, #signin-pass{
	width: 215px;
	border: 1px solid #A5ACB2;
	padding: 1px;
	height: 17px;
	font-size:11px;
}

#searchfield{
	background: white;
	width: 240px;
	border: 1px solid #A5ACB2;
}

#slider{
	margin-left: 10px;
}

.black-top-gradient, .black-bottom-gradient, #navigation-bar{
	padding-left: 10px;
}

#paging{
	right: -8px;
}

.rss-icon{
	background: url(../images/home/rss-small-black-bg.png)/*tpa=http://www.expeditors.com/images/home/rss-small-black-bg.png*/ no-repeat;
}

#content{
	margin: 17px 0 17px 18px;
}

.left-arrow{
    border: 0;
	background: url(../images/interior/our-company/history/time-line/left-arrow.png)/*tpa=http://www.expeditors.com/images/interior/our-company/history/time-line/left-arrow.png*/ no-repeat;
	width: 18px;
	height: 20px;
}

.right-arrow{
    border: 0;
	background: url(../images/interior/our-company/history/time-line/right-arrow.png)/*tpa=http://www.expeditors.com/images/interior/our-company/history/time-line/right-arrow.png*/ no-repeat;
	width: 16px;
	height: 20px;
	right: 6px;
}

ul.dropdown li a{ 
	width: 125px; 
}

#history-timeline{
	margin: 25px 0 0 10px;
}

#year-line{
	width: 670px;
	border-bottom: 1px solid #5A595A;
	margin-left: 0;
	padding-left: 35px;
}

.year-marker {
	width: 1px;
	height: 8px;
	background: black;
	margin-left: 16px;
}

.year-marker-label {
	display: block;
	margin-top: 0;
	margin-left: 0;
	color: #707070;
	position:absolute;
	top: -18px;
	left: -15px;
}

#time-line {
	width: 670px;
	height: 20px;
	margin: 15px 5px 0 16px;
	background: #5A595A;
	position: relative;
}

#gallery {
	margin-top: -10px;
}

#thumbs{
	width: 235px;
}

#slideshow{
	margin: 10px 35px 0 0;
}

#gallery-controls {
	float: right;
	margin-right: 35px;
	margin-top: 10px;
}

#caption {
	clear: both;
	float: right;
	width: 330px;
	margin: 5px 35px 0 0;
}

.image-caption current{
	filter:alpha(opacity=10) !important;
}

#content p, #content-no-nav p {
	font-size: 12px;
	line-height: 1.5em;
	margin-bottom: 10px;
	text-align: justify;
	font-weight: normal;
}

#interior-navigation-bar{
	background: #000;
}

#searchfield{
	width: 175px;
	margin-top: 2px;
}

#query{
	float: left;
	width: 150px;
	border: 0;
}

#paging {
	display: none;
}

#expd-logo{
	background: url(../images/header/EXPD-logo.gif)/*tpa=http://www.expeditors.com/images/header/EXPD-logo.gif*/ no-repeat;
}

/*site-guide.asp*/
.site-guide .list-group ul{
	float:left;
	margin-right:32px;
	margin-left:-10px;
	position:relative;
}

.site-guide .list-group ul ul{
	float:none;
	margin:0;
	position:relative;
}

.site-guide .list-group ul ul li{
	line-height:1.5em;
}

.help-icon{
	position: static;
}

.help-content{
	left: -740px;
	top: 100px;
}

#right-column-top {
	height: 160px;
}

#office-locator{
	position: absolute;
	left: -358px;
	top: 70px;
	width: 329px;
}

#content-container{
	overflow:auto;
	position:relative;
	background-color: #fff;
	/* margin-bottom: 65px; */
	width: 980px;
}

