#language-dropdown {
	float: right;
	height: 22px;
	position: absolute;
	z-index: 105 !important;
	padding-left:2px;
	width:160px;
	right:0px;
}

ul.language-dropdown li.parent {
	background: none !important;
	padding-top: 3px;
	float:right;
}

ul.language-dropdown li:last-child span {
	border-right: none;
}

ul.language-dropdown li a {
	color: #FFF;
	float: left;
	font-size: 11px;
}

ul.language-dropdown ul {
	/*background: white url(/images/dropdown-background.gif) top left no-repeat;*/
	background: #000;
	border: 1px solid #B1B1B1;
	display: none;
	filter: alpha(opacity = 95) !ie;
	opacity: 0.95;
	position: absolute;
	right: 0;
	top: 22px;
	width: 100%;
}

ul.language-dropdown ul li {
	float: none;
	padding: 0px 0px 2px 2px;
	line-height: 20px;
	width: 160px !ie;
}

ul.language-dropdown li {
	float: left;
	zoom: 1;
}

ul.language-dropdown ul li a {
	border-right: none;
	display: inline-block;
	width: 100%;
}

.language-arrow-down {
	cursor: pointer;
	float: left;
	padding: 6px 6px 0 5px;
}

.language-arrow-down div {
	border-color: transparent;
	border-style: dashed;
	border-top-color: #999;
	border-top-style: solid;
	border-top-width: 1em;
	border-width: 0.5em 0.5em 0.5em !important;
	display: inline-block;
	display: -moz-inline-box;
	/* Use font-size to control the size of the arrow. */
	font-size: 10px;
	height: 0;
	line-height: 0;
	top: 0.40em;
	width: 0;
}

ul.language-dropdown li span {
	color: #999;
	float: left;
	font-size: 11px;
	font-weight: bold;
}

ul.language-dropdown a:hover {
	color: #2D2D2D;
}

ul.language-dropdown ul li:hover {
	background: #FF0000;
	color: #000;
	float: left;
	float: none !ie;
	position: relative;
	width: 99%;
	width: 160px !ie;
}

li#arabic {
	text-align : right;
}

ul.language-dropdown ul li:hover a {
	color: #000;
	font-weight: bold;
}