/* ======================================
 Expeditors
 Copyright 2011
 Written for - http://www.expeditors.com
 
 File Name: sytle.css
 Authors: FED Team
 
 
 swatch colors
 -------------
 #959799 - gray(navigation bar)
 #FF0000 - red(unified color thoughout site)
 #B90000 - red(heading)
 #0066CC - blue(links)
 
 Structure
 ---------
 
 Page Width: 980px
 Number of Columns: 2
 
 ======================================== */

/* GLOBAL */

* {
	margin: 0;
	padding: 0;
}

*::selection{
	background:#ff0000;
	color:#000;
}

*::-moz-selection {
	background:#ff0000;
	color:#000;
}

*::-webkit-selection {
	background:#ff0000;
	color:#000;
}

html, body {height: 100%;}

body{
	/*background: url(../images/background.gif);*/
	font: 12px Verdana;
	background-color: #E7E8E8;
	position: relative;
}

#wrap{
	margin: 0 auto;
	width: 980px;
	/* min-height: 82%;  -- commenting out for gap between content container and footer */
	background-color: #E7E8E8;
}

a{
	font-family: Verdana;
	text-decoration: none;
	/*color:#0F52A4;*/
	color: #385C8C;
	border: 0;
}

a::selection{
	background:#ff0000;
	color:#fff;
}

a::-moz-selection {
	background:#ff0000;
	color:#fff;
}

a::-webkit-selection {
	background:#ff0000;
	color:#fff;
}

img{
	border: 0;
}

.reg{
	font-size: 9px;
}

.top{
	padding-bottom: 15px;
}

.right{
	float: right;
	padding: 5px 0 5px 25px;
}

.left{
	float: left;
	padding: 5px 15px 5px 0;
}

.image-with-caption span{
	font-size: 90%;
	font-style: italic;
}

p{
	font-size: 12px;
}

p.quote{
	font-style: italic;
	padding: 10px 10px 26px 10px;
	background-color: #F4F4F4;
	border: 1px solid #E0E0E0;
	border-left-width: 5px;
	border-left-style: solid;
	border-left-color: #E0E0E0;
}

p.quote span{
	float: right
}

address{
	font-style: normal;
}

h1{
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 10px;
}

h2{
	font-family: Arial;
	font-size: 11pt;
	padding: 10px 0 5px;
	font-weight: bold;
}

h3{
	font-size: 12px;
	text-shadow: none;
	padding: 10px 0 3px 0;
}

h4{
	font-size:12px;
	font-weight:bold;
	color:#000000;
	padding: 10px 0 3px 0;
}

ul{
	list-style: none;
}

ul.padded{
	margin: 10px;
}

ul.padded li{
	line-height:1em;
	margin-bottom: 10px;
}

ul.disc {
	list-style: disc !important;
	margin: 0 0 10px 40px;
}

ul.disc li {
	list-style: disc !important;
	margin-bottom: 5px;
}

ol{
	margin: 0 0 10px 40px;
}

ol li{
	margin-bottom: 5px;
}

/*table.data{
	margin: 0;
	padding: 0;
}


table.data th, table.data td{
	text-align: left;
	padding: 5px 0;
	padding-right:50px;	
	white-space: nowrap;
}

table.data td{
}*/

input[type="button"], input[type="submit"] {
	background: url(../images/btn-bg.png)/*tpa=http://www.expeditors.com/images/btn-bg.png*/;
	border: 1px solid #6E6E6E;
	height: 22px;
	font-size: 11px;
	padding: 0 15px;
	margin-top: 3px;
}

input[type='text'], input[type='password']{
		width: 215px;
	border: 1px solid #A5ACB2;
	padding: 1px;
	height: 17px;
	font-size:11px;
}



.hint-text{
	color: #A2A2A2;
}

.clear-fix{
	clear: both;
}

.strong{
	font-weight:bold;
}

#navigation-bar{
	position: absolute;
	height: 31px;
	width: 980px;
	left: 0;
	top: 22px;
	z-index: 103;
	color: #fff;
	border-top: 1px solid #959799;
	border-bottom: 1px solid #959799;
}

.four-o-four-page{
	background: #000 !important;
}

#content-no-nav.four-o-four-page{
	position: relative;
	z-index: 0;
}

#content-no-nav.four-o-four-page h1{
	color: #fff !important;	
	font-family: "Arial Narrow";
	font-size: 36px;
	font-weight:normal;
}

#content-no-nav.four-o-four-page p{
	color: #fff !important;
}

#content-no-nav.four-o-four-page span{
	display: block;
	font: italic 200px Verdana;
	color: #161616 !important;
	position: absolute;
	top: -36px;
	z-index: -1;
}

/*** primary navigation ***/
#primary-navigation, #primary-navigation * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
#primary-navigation {
	line-height:	1.0;
}
#primary-navigation ul {
	position:		absolute;
	/*top:			-999em;*/
	width:			15em; /* left offset of submenus need to match (see below) */
	display: none;
}
#primary-navigation ul li {
	width:			100%;
}
#primary-navigation li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
#primary-navigation li {
	float:			left;
	position:		relative;
}
#primary-navigation a, #primary-navigation span {
	display:		block;
	position:		relative;
}
#primary-navigation li:hover ul,
#primary-navigation li.sfHover ul {
	left:			0;
	/*top:			2.5em; /* match top ul list item height */
	z-index:		99;
	display: block;
}
ul#primary-navigation li:hover li ul,
ul#primary-navigation li.sfHover li ul {
	top:			-999em;
}
ul#primary-navigation li li:hover ul,
ul#primary-navigation li li.sfHover ul {
	left:			15em; /* match ul width */
	top:			0;
}
ul#primary-navigation li li:hover li ul,
ul#primary-navigation li li.sfHover li ul {
	top:			-999em;
}
ul#primary-navigation li li li:hover ul,
ul#primary-navigation li li li.sfHover ul {
	left:			15em; /* match ul width */
	top:			0;
}

#primary-navigation {
	float:			left;
	margin-bottom:	1em;
}
#primary-navigation a, #primary-navigation span {
	padding: 		.75em 1em;
	text-decoration:none;
}
#primary-navigation a, #primary-navigation span, #primary-navigation a:visited, #primary-navigation span:visited  { /* visited pseudo selector so IE6 applies text colour*/
	color:			#fff;
}
#primary-navigation li {
	cursor: pointer;
}
#primary-navigation li ul{
	border: 1px solid #ccc;
}
#primary-navigation li ul li{
	padding-top: 5px;
	background: #fff !important;
}
#primary-navigation li ul li a{
	padding: .5em 1em;
	color: #000 !important;
}
#primary-navigation li ul li a:hover{
	color: #fff !important;
}
#primary-navigation li li {
	background:		#fff;
	padding: 3px 0;
}
#primary-navigation li li li {
	background:		#9AAEDB;
}
#primary-navigation li:hover,
#primary-navigation a:focus, #primary-navigation a:hover, #primary-navigation a:active {
	background:		#555;
	outline:		0;
}
#primary-navigation li ul li a:hover{
	background: #555 !important;
}

#primary-navigation li span{
	color: #fff;
	font-size: 12px;
	font-weight: bold;
}

#primary-navigation li.sustainability ul{
	width: 195px;
}

#search{
	float: right;
	margin: 5px 5px 0 0;
}

#searchfield{
	width: 175px;
	border: 1px solid #A5ACB2;
	background-color: #fff;
}

#searchfield input[type='text']{
	float: left;
	width: 150px;
	border: 0;
}

#searchfield input[type='image']{
	float: left;
	margin: 1px 0 0 5px;
}

/* HOME PAGE */

#header{
	width: 980px;
	height: 370px;
	position: relative;
}



#footer{
	margin: 0 auto;
	/*margin: -70px auto 0 auto;  negative value of footer height */
	clear: both;
	font-size: 11px;
	width: 980px;
	background-color: #000;
	z-index: 0;
	padding-bottom: 5px;
}

#footer-without-nav{
	margin: 0 auto;
	/*margin: -70px auto 0 auto;  negative value of footer height */
	clear: both;
	height: 20px;
	font-size: 11px;
	width: 980px;
	background-color: #000;
	z-index: 0;
}

#footer-content{
	width: 970px;
	background: #000;
	padding-left: 10px;
	height: 180px;
}

#footer-content ul.section{
	float: left;
	width: 140px;
	color: #fff;
	font-weight: bold;
	padding: 10px 26px;
	font-family: Verdana;
	font-size: 11px;
}

#footer-content ul li span{
	display: block;
	margin-bottom: 10px;
}

#footer-content li{
	margin-bottom: 3px;
}

#footer-content li a{
	font-weight: normal;
	color: #fff;
}

#footer li span{
	color: #fff;
}

#prefooter{
	background-color: #fff;	
	width:980px;
	margin:0;
	padding-bottom:10px;
	margin: 0 auto;
	clear: both;
	z-index: 0;
}
#facebook{
	float: left;
	margin-left: 20px;
	/* margin-top: -32px; */
	position: relative;
	width: 400px;
	z-index: 100;
}
#footer-logo{
	background: url(../images/footer/youdbe-wht.jpg)/*tpa=http://www.expeditors.com/images/footer/youdbe-wht.jpg*/ no-repeat;
	width: 430px;
	height: 35px;
	float: right;
	clear:none;
	margin-top: -38px;
	position: relative;
}

.footer-logo-black{
	background: url(../images/footer/youdbe-blk.png)/*tpa=http://www.expeditors.com/images/footer/youdbe-blk.png*/ no-repeat !important;
}

#black-footer-bar{
	position: absolute;
	left: 0;
	height: 51px;
	background-color: black;
	width: 100% !important;
	bottom: -5px;
	z-index: 1;
}

#below-footer{
	clear: both;
	display: block;
	height: 18px;
	text-align: left;
	font-size: 10px;
	margin: 0 auto;
	margin-bottom:20px;
	width: 980px;
}

#below-footer ul{
	float: left;
}

#below-footer ul li{
	float: left;
	padding-top: 3px;
}

#below-footer ul li a{
	font-size: 11px;
}

#copyright{
	color: #999;
	font-size: 11px;
	padding-top: 3px;
	margin-left:6px;
}

#slider-container{
	height: 371px;	
	width: 980px;
	position: relative;
	overflow: hidden;
}

/* Rotating Article */
#slider ul, #slider li{
	margin:0;
	padding:0;
	list-style:none;

}

#slider li{ 
	height:371px;	
	width: 980px;
	overflow:hidden;
	position:relative;
}

#slider li span{ 
	display: none;
}	

/* Plugin specific styles.  Don't mess with this */
.coin-slider a{ outline: none; border: none; }
.cs-title { display: none }
.cs-prev,.cs-next 
{ display: none }

/* numeric controls */	
ol#controls{
	margin: 4px 0 0 20px;
	padding-left: 12px;
	height:28px;	
	font-size: 11px;
}

ol#controls li{
	margin:0 5px 0 0; 
	padding:0;
	float:left;
	list-style:none;
	height:28px;
	line-height:28px;
}

ol#controls li a{
	float:left;
	height:28px;
	line-height:28px;
	color:#fff;
	padding:0 5px;

}

ol#controls li.current a{
	background: #000000;
	color:#fff;
	border: 1px solid #999999;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
}

ol#controls li a:focus, #prevBtn a:focus, #nextBtn a:focus{outline:none;}

#article-excerpt{
	position: absolute;
	top: 205px;
	left: 30px;
	width: 350px;
	z-index: 102;
}

#article-heading{
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	padding-bottom: 5px;
}

#article-content{
	width: 390px;
	color: #fff;
}

#article-content a{
	text-decoration: underline;
	color: #fff !important;
	white-space: nowrap;
}

#paging {
	position: absolute;
	bottom: 60px; right: 0px;
	width: 171px; height:47px;
	z-index: 102;
	text-align: center;
	line-height: 40px;
	background: url(../images/slider/paging-black.png)/*tpa=http://www.expeditors.com/images/slider/paging-black.png*/ no-repeat;
}

#news-flash{
	position: absolute;
	top: 340px;
	left: 0;
	z-index: 102;
	width: 980px;
}

.rss-icon{
	display: block;
	background: url(../images/home/rss-small.png)/*tpa=http://www.expeditors.com/images/home/rss-small.png*/ no-repeat;
	float: left;
	width: 16px;
	height: 16px;
	margin: 7px 5px 8px 6px;
}

#news-flash-link{
	display: block;
	float: left;
	color: white;
	padding: 7px 3px 0 0;
}

#news-flash-content{
	float: left;
	color: #fff;
	font-size: 11px;
}

#expd-logo{
	background: url(../images/header/logo.png)/*tpa=http://www.expeditors.com/images/header/logo.png*/ no-repeat;
	position: absolute;
	height: 122px;
	width: 373px;
	top: 80px;
	left: 30px;
	z-index:102;
}

.black{
	position: absolute;
	left: 0;
	top: 0;
	height: 370px;
	width: 280px;
	background-color: #000000;
	z-index: 100;
}

.black-leftside-gradient{
	background: url(../images/slider/black-leftside-transparent.png)/*tpa=http://www.expeditors.com/images/slider/black-leftside-transparent.png*/ no-repeat;
	position: absolute;
	height:375px;
	width: 445px;
	top: 0;
	left: 280px;
	z-index: 101;
	cursor: pointer;
}

.black-top-gradient{
	background: url(../images/slider/black-bottom-transparent.png)/*tpa=http://www.expeditors.com/images/slider/black-bottom-transparent.png*/ repeat-x;
	position: absolute;
	height:62px;
	width: 980px;
	top: 0;
	left: 0;
	z-index: 101;
}

.black-bottom-gradient{
	background: url(../images/slider/black-bottom-transparent.png)/*tpa=http://www.expeditors.com/images/slider/black-bottom-transparent.png*/ repeat-x;
	position: absolute;
	height: 31px;
	width: 980px;
	top: 339px;
	left: 0;
	z-index: 101;
	border-top: 1px solid #fff;
}



#expo-logo-img{
	background-repeat: no-repeat;
	/* background: url(../images/home/exp.o-login.png) no-repeat; */
	width: 220px;
	height: 50px;
	border-bottom: 1px dotted #ccc;
	margin-top: 10px;
}



#Expo-logo-img{
	background: url(../images/home/Expo_logo.png)/*tpa=http://www.expeditors.com/images/home/Expo_logo.png*/ no-repeat;
	width: 146px;
	height: 40px;
	margin : 10px 0;
}

#content #expo-logo-img{
	margin-top:10px;
}

#content-container{
	overflow:auto;
	position:relative;
	background-color: #fff;
	padding-bottom: 65px;
}

#left-column{
	/* background: url(../images/home/left-column-bg.png) repeat-x; */
	float: left;
	width: 220px;
	/* height: 540px; */
	height: 400px;
	padding: 10px 5px 10px 10px;
	
	
}

#nav-icons{
	 border-bottom: 1px dotted #ccc;
	 width: 220px;
	 height: 80px;
	 text-align:center;
	
	
	
}

#tracking{
	border-bottom: 1px dotted #ffffff;
	padding-bottom: 40px;
	width: 220px;
	height: 60px;
	margin-top: 15px;
	
}

#GuestForm a{
	font-size: 11px;
}

#GuestForm div{
	padding: 3px 0;
	
}

#GuestForm p{
	color: #999;
	font-size: 11px;
	font-weight: bold;
	padding: 5px;
	width: 220px;
	overflow: none;
	
}

#GuestForm img{
	cursor: pointer;
	float: left;
	margin-right: 2px;
}

#GuestForm input[type='text']{
	width: 150px;
	border: 0 none;
	padding: 5px;
	height: 15px;
	font-size:11px;
	background-color: #F0F0F0;
}




.help-icon{
	background: url(../images/home/help-icon.png)/*tpa=http://www.expeditors.com/images/home/help-icon.png*/ no-repeat;
	width: 16px;
	height: 16px;
	float: right;
	/* margin-top: -7px; */
	position: relative;
	cursor: pointer;
	
}

.help-content{
	display: none;
	/* width: 280px; */
	width: 360px;
	width: 360px;
	background: #E5E5E5;
	border: 1px solid #999999;
	position: absolute;
	/* left: 20px; */
	left: -50px;
	top: 0;
	padding: 10px !important;
	font-size: 11px;
}

.help-content p{
	margin: 2px 0 8px;
	font-size: 11px;
}

.help-content h4{
	margin: 0;
	padding: 0;
}

.help-content ul{
	margin: -6px auto;
	padding: 0;
}


.help-content p a{
	display: inline !important;
}

#guestSearchError {
	display: none;		
	font-size: 11px;	
	color: #FF0000;
}

#SignIn div{
	padding: 3px 0;
}

#signonCredentialError {
	display: none;	
	font-size: 11px;	
	color: #FF0000;
}

#single-sign-in{
	border-bottom: 1px solid #fff;
	padding-bottom: 10px;
}

#single-sign-in a{
	display: block;
	padding-top: 5px;
}

#sign-out{
	border-bottom: 1px solid #fff;
	padding-bottom: 10px;
}

#alternate-sign-in{
	border-bottom: 1px solid #fff;
	padding-bottom: 10px;
}

#expo-logo-image{
	margin: 12px 3px 0 0;
}

#expo-mobile-image{
	margin-top: 10px;
}

#expo-mobile p{
	position: absolute;
	padding: 4px 0 4px 5px;
	width: 215px;
	background: #ccc;
	font-size:11px;
	/* for IE */
	filter:alpha(opacity=90);
	/* CSS3 standard */
	opacity:0.9;
	bottom: 7px;
}

#right-column{
	float: left;
	width: 720px;
	padding: 10px; 
	
}

#right-column-top{
	border-bottom: 2px solid #000;
	padding-bottom: 20px;
}

#products{
	float: left;
	width: 358px;
}

#products li{
	margin: 5px 15px 0 3px;
}

#core-services{
	float: left;
}

#specialized-solutions{
	float: left;
	padding-left: 30px;
}

#group-contact-office{
	float: left;
	width: 329px;
	margin-left: 15px;
}

#right-column-bottom{
	clear: both;
	margin-top: -340px;
	margin-left: 5px;
}

#featured-information{
	float: left;
	width: 340px;
	/* margin-top: -12px; */
	margin-left: 10px;
	
}

#featured-border-left{
	width: 3px;
	height: 340px;
	border-left: 1px dotted #ccc;
	display: block;
}

.feature-post{
	border-bottom: 1px dotted #ccc;
	padding-bottom: 10px;
	margin-bottom: 5px;
}

.feature-post .date{
	color: #999;
	font-size: 11px;
}

.feature-post p{
	margin-top: 5px;
}

.feature-post p img{
	float:left;
	padding: 5px;
}

#videos{
	float: left;
	width: 338px;
	margin-left: 17px;
}

#videos img{
	padding-bottom: 5px;
	padding-top: 10px;
}

/* Interior Page */

#interior-header{
	width: 980px;
	margin: 0 auto;
	position: relative;
	background: #000;
	float: left;
	z-index: 9999;
}

#interior-header-left{
	float: left;
	width: 483px;
	height: 128px;
	background-color: #000;
}

#interior-header-right{
	display: none;
	width: 497px;
	height: 128px;
	float: right;
}

#interior-header-logo{
	position: absolute;
	width: 255px;
	height: 83px;
	top: 10px;
	left: 15px;
	display: block;
	cursor: pointer;
}

#interior-navigation-bar{
	background: url(../images/header/black-transparent.png)/*tpa=http://www.expeditors.com/images/header/black-transparent.png*/ repeat-x;
	position: absolute;
	height: 31px;
	width: 980px;
	left: 0;
	top: 96px;
	z-index: 102;
	color: #fff;
	border-top: 1px solid #959799;
}

#interior-content-container{
	/* overflow:auto;
	position:relative;	*/
	margin: 0 auto;
	width: 980px;
	padding-bottom: 65px;
	background-color: #fff;
	float: left;
	min-height: 600px;
}

.page-heading{
	font-family: "Arial Narrow";
	font-size: 36px;
	color: #898989;
	border-bottom: 1px solid #CCC;
	margin: 10px;
	min-height: 44px;
	height: auto !important;
	height: 44px;
}

#bread-crumb{
 	display: block;
 	margin-bottom: 5px;
 	font: 11px Verdana;
 	color:#000000;
}

.legend{
	margin:10px 0;
 	font-size:11px;
}

.leader-name{
	font-size: 13px;
}

.title{
	color:#898989;
}

#mission{
	background-color: #1A1A1A;
	padding: 5px;
	margin: 20px 0;
	font-family: MS serif;
	border: 1px inset #fff;
}

#mission h3{
	font-size: 24px;
	color: #fff;
	text-align: center;
}

#mission p{
	color: #fff;
	text-align: center !important;
	font-style: italic;
	font-size: 16px !important;
}

#mission .white-border{
	border: 1px solid #fff;
	padding: 10px;
}

#content{
	float: left;
	width: 725px;
	margin: 17px 20px 17px 50px;
	padding-left: 10px;
}

#content-no-nav{
	margin: 10px;
}

#content-no-nav .page-heading{
	margin: 10px;
	margin-left:0;
	margin-right:0;
}

#content h1{
	font-weight: bold;
	font-size: 17px;
	color: #000;
}

#content-no-nav h1{
	font-family: "Arial Narrow";
	font-size: 36px;
	color: #898989;
	border-bottom: 1px solid #CCC;
	margin-bottom: 10px;
}

#content-no-nav h2{
	color: #000000;
	font-size:17px;
	font-weight:bold;
}

#content p, #content-no-nav p{
	font-size: 12px;
	line-height: 1.5em;
	margin-bottom: 10px;
	text-align: justify;
}

#content .column{
	width: 200px;
	float: left;
}

#aside{
	float: left;
	width: 145px;
	margin: 5px 0;
	padding-top: 20px;
}

#smart-way-img{
	float: left;
	margin-top: 76px;
}

#sustainability-chart-img{
	width: 605px;
	height: 322px;
}

#nbis-img{
	float: right;
}

#opportunity-knocks-img{
  float:right;
  padding-bottom:5px;
  padding-left:15px;
  padding-right:0;
  padding-top:5px;
}

.san-francisco-img{
	float: left;
	width: 225px;
	height: 173px;
	padding: 15px 15px 15px 0;
}

/* Section Navigation */

#section-navigation{
	float: left;
	width: 150px;
	padding: 10px;
}

#section-navigation-list{ 
	min-height: 180px;
	height: auto !important;
	height: 180px;
}

#section-navigation-list li{
	display: none;
	font-size: 12px;
}

#section-navigation-list li span{
	font-size: 20px;
	color: red;
	font-family: "Arial Narrow";
	border-bottom: 1px solid #CCC;
	padding: 5px 0;
	font-weight: normal;
	display: none;
}

#section-navigation-list li.level-2{
	margin: 10px 0;
	padding-left: 10px;
	color: #000 !important;
	width: 175px;
}

#section-navigation-list li.level-2 a{
	color: #000;
}

#section-navigation-list li.level-3{
	margin: 5px 0;
}

#section-navigation-list li.level-3 a{
	margin: 5px 0 0 10px;
	color: #0066CC;
	font-size: 11px;
	display : block;
}

.nav-level-2-current{
	display: block;
	padding: 0px 5px;
	margin-left: -15px;
	color: #000 !important;
	font-weight: bold !important;
	border-left: 5px solid #FF0000;
}

#history-timeline-holder{
	padding-top: 5px;
	border: 1px solid #CCC;
	width: 725px;
}

#history-timeline{
	margin: 25px 0 0 10px;
	position: relative;
}

#time-line {
	width: 675px;
	height: 20px;
	margin: 15px 5px 0 16px;
	background: #5A595A;
	position: relative;
}

#year-line{
	width: 675px;
	border-bottom: 1px solid #5A595A;
	margin-left: 16px;
}

.year-marker{
	width: 1px;
	height: 8px;
	background: #000;
	margin-left: 16px;
}

.selected-event{
	border: 1px solid black;
	top: -2px;
	padding: 1px 2px !important;
}

.event-marker{
	width: 3px;
	height: 20px;
	cursor: pointer;
	padding: 0 4px;
	margin-left: -4px;
}

.event-marker span.marker{
	display: block;
	width: 3px;
	height: 20px;
	background: #ff0000;
}

.year-marker-label{
	display: block;
	margin-top: -20px;
	margin-left: -16px;
	color: #707070;
}

#timeline-window {
	width: 675px;
	height: 240px;
	margin: 10px;
	overflow: hidden;
	position: relative;
}

#timeline-reel {
	position: absolute;
	left: 0;
	width: 10000px;
	height: 270px;
}

.timeline-event {
	width: 400px;
	height: 270px;
	padding: 5px 10px;
	float: left;
}

.timeline-event h3{
	font-size: 24px !important;
	color: #ff0000;
}

.timeline-event span{
	display: block;
	font-style: italic;
	padding-bottom: 5px;
}

.timeline-event p img{
	float:left;
	padding: 5px
}

.content-fade{
	color: #ccc;
}

.content-fade h3{
	color: #ccc;
}

.right-arrow{
    border-top: 10px solid transparent;
   	border-bottom: 10px solid transparent;
	border-left: 10px solid #5A595A;
	position: absolute;
	right: 5px;
	top: 16px;
	cursor: pointer;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.left-arrow{
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
	border-right: 10px solid #5A595A;
	position: absolute;
	left: 0;
	top: 16px;
	cursor: pointer;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#player{
	display:block;
	width:480px;
	height:270px;
	text-align:center;
}

.blurb p{
	display: none;
	padding: 5px 5px 0 5px;
}

#gallery-controls{
	float: right;
	margin-right: 95px;
}

#loading{
	position: absolute;
	top: 320px;
	left: 437px;
	background-image: url('../images/x.gif')/*tpa=http://www.expeditors.com/images/x.gif*/;
	background-repeat: repeat;
	background-position: center;
	width: 550px;
	height: 500px; /* This should be set to be at least the height of the largest image in the slideshow */
}

#slideshow{
	clear: both;
	float: right;
	margin: 5px 95px 0 0;
}

#thumbs{
	width: 215px;
	margin-left: 75px;
}

ul.thumbs li{
	float: left;
	padding: 5px;
	border: 1px solid #ccc;
	margin: 5px 10px;
}

#caption{
	clear: both;
	float: right;
	width: 330px;
	margin: 5px 95px 0 0;
}

img#graph-careers{
	padding: 10px;
	float:left;
}

#achievements{
}

#achievements li{
	margin: 8px 0;
}

/* News Ticker */
.news-wrapper
{
    width: 850px;
    position: relative;
    overflow: hidden;
}
.news-title
{
    float: left;
}
.news
{
    height: 30px;
    overflow: hidden;
}
.headline
{
    position: absolute;
    font-size: 11px;
    height: 10px;
    padding: 8px 12px 8px 0;
    overflow: hidden;
    z-index: 1;
    /*overflow: hidden;*/
}
.headline a
{
    padding-right: 16px;    
}
.headline a, .headline a:active, .headline a:visited
{
    color: #fff;
    text-decoration: none;
}
.headline a:hover
{
    text-decoration: none;
}
.control-bar
{
    float: left;
    width: 40px;
    height: 21px;
	padding: 7px 5px 0 0;
    z-index: -1;
}
.controls-wrapper
{
    position: relative;
    width: 40px;
    height: 12px;
}
.controls-wrapper div
{
    position: relative;
    width: 7px;
    height: 8px;
    margin-left: 6px;
    margin-top: 4px;
    float: left;
}
.controls-wrapper div.next
{
    background: url(../images/news-ticker/next.png)/*tpa=http://www.expeditors.com/images/news-ticker/next.png*/ no-repeat;
    cursor: pointer;
}
.controls-wrapper div.prev
{
    background: url(../images/news-ticker/prev.png)/*tpa=http://www.expeditors.com/images/news-ticker/prev.png*/ no-repeat;
    cursor: pointer;
}
.controls-wrapper div.play
{
    background: url(../images/news-ticker/play.png)/*tpa=http://www.expeditors.com/images/news-ticker/play.png*/ no-repeat;
    cursor: pointer;
}
.controls-wrapper div.pause
{
    background: url(../images/news-ticker/pause.png)/*tpa=http://www.expeditors.com/images/news-ticker/pause.png*/ no-repeat;
    cursor: pointer;
}
.preview-wrapper
{
    font-size: 10pt;
    padding-top: 8px;
    width: 308px;
    height: 85px;
    position: absolute; /*margin: auto;*/
    z-index: 1000;
}
.preview
{
    width: 292px;
    height: 61px;
    background-color: #2c2c2c;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border: solid 1px #212121;
    padding: 8px;
    font-size: 9pt; /*overflow: hidden;*/ /*background: url(bg.jpg) repeat-x repeat-y;*/
}
.preview h4, .preview p
{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.preview h4
{
    font-size: 10pt;
    color: White;
    font-weight: normal;
    width: 290px;
    height: 16px;
}
.preview p
{
    color: #9f9e9e;
    width: 290px;
    height: 54px;
}
.preview a
{
    font-size: 11px;
    color: #9f9e9e;
    text-decoration: none;
    margin-left: 4px;
}
.preview a:hover
{
    text-decoration: underline;
    color: Yellow;
}
.tip
{
    margin: auto;
    width: 13px;
    height: 9px;
    background-image: url(../images/news-ticker/cor.png)/*tpa=http://www.expeditors.com/images/news-ticker/cor.png*/;
}
.news-wrapper.multiple
{
    width: 680px;
    overflow: hidden;
}
.news-wrapper.multiple .news-title
{
    float: left;
}
.news-wrapper.multiple .news
{
    float: left;
    width: 2000px;
}
.news-wrapper.multiple .headline
{
    position: relative;
    float: left;
    margin-left: 0px;
}
#pig{
	position: absolute;
	right: 0;
	top: 315px;
	z-index: -1;
}

div.leftFloatDiv ul{
	width: 305px !important;
	padding: 5px;
	float: left;
}
div.rightFloatDiv ul{
	width: 305px !important;
	padding: 5px;
	float: right;
	clear: none;
}

.customStyleSelectBox {
	font-size: 11px;
	background-color: #F5F0DE;
	color: #7C7C7C;
	padding: 5px 7px;
	border: 1px solid #E7DAB0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px 5px;
}

/* Contact Us dropdowns*/

#interior-contact-us{
	width: 183px;
}

#interior-contact-us .widget{
	width: 171px;
	height: 115px;
	padding: 5px;
	z-index: 9998;
	position: relative;
}

#interior-contact-us .widget span{
	display: block;
	font-size: 11px;
	padding-bottom: 5px;
}

#contact-us-dropdown{
	padding: 4px 0 12px;
}

#office-locator span strong{
	display: none;
}

#locate-office-dropdown{
	padding-top: 8px;
}

#flash {
	position: relative; 
	z-index: 0;
}

.arrow-down{
	padding: 4px 4px 0 4px;
	background: #EDEDED;
	float: left;
	border-left: 1px solid #B1B1B1;
	cursor: pointer;
	display:none;
}

.arrow-down div{
	border-style: dashed;
	border-color: transparent;
	border-width: 0.63em;
	display: -moz-inline-box;
	display: inline-block;
	/* Use font-size to control the size of the arrow. */
	font-size: 10px;
	height: 0;
	line-height: 0;
	width: 0;
	
	border-top-width: 1em;
  	border-top-style: solid;
  	border-top-color: #000;
  	top: 0.40em;
}

ul.dropdown li{ 
	float: left; 
	zoom: 1;
}

ul.dropdown a:hover{ 
	color: #000; 
	}

ul.dropdown li a, ul.dropdown li span{ 
	display: block;
	color: #000; 
	width: 129px; 
	float: left;
	font-size: 11px;
}

ul.dropdown li:last-child span{ 
	border-right: none;
	color: #385C8C;
	cursor:pointer;
}

ul.dropdown li.hover,
ul.dropdown li:hover{ 
	position: relative; 
}

/* 
	LEVEL TWO
*/
ul.dropdown ul{ 
	width: 162px; 
	display: none; 
	position: absolute; 
	top: 100%; 
	left: 0; 
	border: 1px solid #B1B1B1; 
	background: #EDEDED; 
	padding: 3px; 
	z-index: 2;
	line-height:22px;
}

ul.dropdown ul li{ 
	font-weight: normal; 
	background: #EDEDED; 
	color: #000; 
	float: none; 
}

ul.dropdown ul li.hover,
ul.dropdown ul li:hover{ 
	background: #C8C8C8; 
	color: black; 
	position: relative; 
	float: left;
	width: 100%;
}

ul.dropdown ul li.hover a{ 
	color: black;
	font-weight: bold;
}

ul.dropdown ul li a	{
	border-right: none; 
	width: 100%; 
	display: inline-block; 
} 

.office-locations-header{
	font-family: "Arial Narrow";
	font-size: 36px;
	color: #898989;
	margin: 10px;
}

ul#region-selection{
	height: 25px;
	margin-left:-15px;
}

ul#region-selection li{
	float: left;
	padding: 0 15px;
}

ul#region-selection li.current{
	color: #000;
	font-weight: bold;
}

ul#country-selection{
	border-top: 1px dotted #ccc;
	padding-top: 10px;	
}

ul#country-selection li{
	padding: 3px 15px;
	padding-left:0;
}

.city{
	border-top: 1px dotted #ddd;
	padding: 15px 0;
}

.name{
	font-weight: bold;
}

.services{
	margin-bottom: 10px;
}

.location{
	float:left;
	width:290px;
	padding-right: 10px;
}

.mailing{
	float:left;
	width:290px;
	padding: 0 10px;
}

.phone{
	float:left;
	width:200px;
	padding: 0 10px;
}

.office-closures{
	clear:both;
	float:left;
	width:150px;
	margin: 15px 15px 15px 0;
}

.office-closures a{
	display:block;
	margin-left:20px;
	margin-top:-14px;
	font-size:11px;
}

.office-closures img{
	margin-right: 3px;
}

/*site-guide.asp*/
.site-guide .list-group>ul{
	float:left;
	width:20%;
	/*padding-right:38px;*/
}

.site-guide .list-group ul ul li{
	font-size:11px;
	margin-top:8px;
}

.site-guide .list-group ul ul{
	margin-left:10px;
}

.site-guide .list-group{
	margin-top:20px;
	clear:both;
}

.site-guide .second-group{
	border-top:1px solid #ccc; 
	padding-top:10px;
}

/*site-guide.asp*/

ul.inThePressList{
	clear: both;
}

ul.inThePressList li{
	border-bottom: 1px dotted #ccc;
	margin-bottom: 10px;
}

ul.inThePressList li p{
	float: right;
	width: 470px;
}

ul.videoList{
	clear: both;
}

ul.videoList li{
	/* border-bottom: 1px dotted #ccc;  */
	margin-bottom: 10px;
}

ul.videoList li p{
	float: right;
	width: 470px;
}

ol.pagination{
	float: right;
	list-style: none;
	color: #385C8C;
	font-size: 11px;
	margin-bottom: 0;
}

ol.pagination li{
	float: left;
	cursor: pointer;
}

#vessels-of-concern{
	display: none;
}

div#facebook {
 margin-top:-46px; 
}
div#facebook a#fb {background-image : url(../images/footer/Facebook.gif)/*tpa=http://www.expeditors.com/images/footer/Facebook.gif*/;}
div#facebook a#li {background-image : url(../images/footer/Linkedin.gif)/*tpa=http://www.expeditors.com/images/footer/Linkedin.gif*/;}
div#facebook a#tw {background-image : url(../images/footer/Twitter.gif)/*tpa=http://www.expeditors.com/images/footer/Twitter.gif*/;}

div#facebook a{
	background-position: bottom; 
	display: inline-block; 
	height: 43px;
	width: 40px;
	overflow: hidden;
}
div#facebook a:hover{
	background-position: top; 
}


div#nav-icons {
 margin-top: 0px;

 
}
div#nav-icons a#cu {background-image : url(../images/home/contact-us.gif)/*tpa=http://www.expeditors.com/images/home/contact-us.gif*/;}
div#nav-icons a#of {background-image : url(../images/home/find-an-office.gif)/*tpa=http://www.expeditors.com/images/home/find-an-office.gif*/;}
div#nav-icons a#ce {background-image : url(../images/home/customer-events.gif)/*tpa=http://www.expeditors.com/images/home/customer-events.gif*/;}

div#nav-icons a{
	background-position: bottom; 
	display: inline-block; 
	height: 72px;
	width: 68px;
	overflow: hidden;
	background-repeat: no-repeat;

}
div#nav-icons a:hover{
	background-position: top; 
	
}



#bottom-footer {
	display: inline-block;
}

#bottom-footer ul{
	float: left;
	margin-left:6px;
}

#bottom-footer ul li{
	float: left;
}

#bottom-footer ul li a{
	font-size: 11px;
	border: 0 none;
    color: #357EC7;
    font-family: Verdana;
    text-decoration: none;
}

#bottom-footer ul li span {
	display:inline;
	color: #357EC7;
}

#expo_images a {
	float:left;
	text-align: center;
	width : 178px;
}

#expo_images a span.lable{
	float:left;
	width:100%;
	margin: 10px 0;
	color: #000;
}

#expo_content {
	height: 50px;
}

#expo_content ul {
	display:none;
}