html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {border: 0; font-size: 100%; margin: 0; padding: 0; vertical-align: baseline;}
/*HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}
body {line-height: 1;}
ol, ul, ul li {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}
button, input, select, textarea {font-size: 100%; overflow: visible; margin: 0; vertical-align: baseline; width: auto;}
textarea {overflow:auto; vertical-align:text-top;}
/* =Horizontal Rule
-------------------------------------------------------------- */
hr {background: #ddd; border: none; clear: both; color: #ddd; float: none; height: 1px; width: 100%;}
hr.space {background: #fff; color: #fff;}
/* =Base
-------------------------------------------------------------- */
html {height:100%;}
body {-moz-font-smoothing: antialiased; -webkit-font-smoothing: antialiased; background: #FFF; color: #616163; font-family: 'OpenSansRegular'; font-size: 14px; font-smoothing: antialiased; line-height: 1.3em; text-rendering: optimizeLegibility;}
/* =Typography
-------------------------------------------------------------- */
p {word-wrap: break-word;}
i, em, dfn, cite {font-style: italic;}
tt, var, pre, kbd, samp, code {font-family: Consolas, 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace !important; font-style: normal;}
/*b, strong {font-weight: 700;}*/
pre {-moz-box-sizing: border-box; -moz-border-radius: 2px; -moz-box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0,0,0,0.2); -webkit-border-radius: 2px; -webkit-box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0,0,0,0.2); -webkit-box-sizing: border-box; box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0,0,0,0.2); box-sizing: border-box; background: #f4f4f4; border: 1px solid #aaa; border-bottom-color: #ccc; border-radius: 2px; height: auto; margin: 0; outline: none; padding: 6px 10px; vertical-align: middle; width: 100%; word-wrap: break-word; white-space: pre-wrap;}
del {color: #555; text-decoration: line-through;}
ins, dfn, .btb {border-bottom: 1px solid #ccc;}
sup, sub, small {font-size: 85%;}
abbr, acronym {font-size: 85%; letter-spacing: .1em; text-transform: uppercase;}
a abbr, a acronym {border: none;}
dfn[title], abbr[title], acronym[title] {border-bottom: 1px solid #ccc; cursor: help;}
sup {vertical-align: super;}
sub {vertical-align: sub;}
/* =Responsive 12 Column Grid
    Grid was based on my Shell Theme released on 07/26/2011
    http://themeid.com/responsive-grid/
-------------------------------------------------------------- */

.grid {float: left; /*margin-bottom: 1.127659574468%;*/ padding-top: 0; font-weight:normal;}
.grid-right {float: right; margin-bottom: 2.127659574468%; padding-top: 0;}
/*Banner CSS*/
.slidecontrols {position:relative; bottom:0; left:300px; top:140px; z-index:4000;}
.banner{width:98%; height:165px; padding:1%; background:#f6f6f6;}
.banner img {margin-right:2%;}
ul.slider{margin-top:3px;}
.sliderCont{height:100%;}
.slide p {font-family: 'OpenSansLight'; font-size:20px; font-weight:normal; margin:7px !important; line-height:27px; color:#4c4b43; padding:0px 15px;}
.slide h4 {font-family: 'OpenSansSemibold'; font-size:26px; font-weight:bolder; color:#4c4b43; margin-bottom:5px;}

a.mr-rotato-next {background:url(images/arrowR.png)/*tpa=http://www.loews.com/loews-content/themes/loews/images/arrowR.png*/ no-repeat 0px 0px; width:29px; height:28px; display:block; margin-left:35px; float:left; position:absolute;}
a.mr-rotato-next:hover {background:url(images/arrowR-h.png)/*tpa=http://www.loews.com/loews-content/themes/loews/images/arrowR-h.png*/ no-repeat 0px 0px;}

a.mr-rotato-prev {background:url(images/arrowL.png)/*tpa=http://www.loews.com/loews-content/themes/loews/images/arrowL.png*/ no-repeat 0px 0px; width:29px; height:28px; display:block; position:absolute;}
a.mr-rotato-prev:hover {background:url(images/arrowL-h.png)/*tpa=http://www.loews.com/loews-content/themes/loews/images/arrowL-h.png*/ no-repeat 0px 0px;}



.col-60, .col-140, .col-220, .col-240, .col-300, .col-370, .col-380, .col-460, .col-500, .col-540, .col-620, .col-670, .col-690, .col-700, .col-780, .col-860 {display: inline; margin-right: 2.127659574468%;}
.col-600 {display: inline; margin-left: 1.127659574468%;}

.col-60 {width: 10.382978723404%;}
.col-140 {width: 14.893617021277%;}
.col-220 {width: 19.404255319149%;}
.col-230 {width: 25.404255319149%; display:inline;}
.col-240 {width: 28.404255319149%;}
.col-250 {width: 30.404255319149%;}
.col-300 {width: 31.914893617021%;}
.col-370 {width: 37.425531914894%;}
.col-380 {width: 40.425531914894%;}
.col-440 {width: 41.936170212766%; display: inline;}
.col-460 {width: 46.936170212766%;}
.col-480 {width: 48.936170212766%;}
.col-500 {width: 52.936170212766%;}
.col-540 {width: 57.446808510638%;}
.col-600 {width: 63.957446808511%;}
.col-620 {width: 65.957446808511%;}
.col-670 {width: 72.468085106383%;}
.col-690 {width: 75.468085106383%;}
.col-700 {width: 78.468085106383%;}
.col-780 {width: 82.978723404255%;}
.col-860 {width: 91.489361702128%;}
.col-940 {width: 100%;}
.fit {margin-left: 0 !important; margin-right: 0 !important;}
/* =Responsive Images
-------------------------------------------------------------- */
img {-ms-interpolation-mode: bicubic; border: 0; height: auto; max-width: 100%; vertical-align: middle;}
.myimage {float:left; width:48% !important; margin:0% 2% 2% 0% !important;}
.myimage01 {float:right; width:45% !important; margin:0% 2% 2% 0% !important; padding-left:25px; padding-top:25px}
.ie8 img {height: auto; width: auto\9;}
.ie8 img.size-large {max-width: 60%; width: auto;}
/* =Responsive Embeds/Objects
-------------------------------------------------------------- */
embed, object {max-width: 100%;}
/* =Links
-------------------------------------------------------------- */
a {color: #06c; font-weight: 400; text-decoration: none;}
a:hover {color: #444; text-decoration: none;}
::selection {background: #e8fbff; text-shadow: none;}
/* =Forms
-------------------------------------------------------------- */
label {display: inline-block; padding: 2px 0;}
legend {padding: 2px 5px;}
fieldset {border: 1px solid #ccc; margin: 0 0 1.5em; padding: 1em 2em;}
select, input[type="text"], input[type="password"] {-moz-box-sizing: border-box; -moz-border-radius: 2px; -webkit-box-sizing: border-box; -webkit-border-radius: 2px; -webkit-box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0,0,0,0.2); -moz-box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0,0,0,0.2); box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0,0,0,0.2); background: #f4f4f4; box-sizing: border-box; border: 1px solid #aaa; border-bottom-color: #ccc; border-radius: 2px; margin: 0; outline: none; padding: 6px 8px; vertical-align: middle; width: 100%;}
select {height: auto; width: 70%;}
area, textarea {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; -webkit-border-radius: 2px; -webkit-box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0,0,0,0.2); -moz-box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0,0,0,0.2); box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0,0,0,0.2); background: #f4f4f4; box-sizing: border-box; background: #f4f4f4; border: 1px solid #aaa; border-bottom-color: #ccc; border-radius: 2px; height: auto; overflow: auto; margin: 0; outline: none; padding: 8px 10px; width: 100%;}
input, select {cursor: pointer;}
area:focus, input:focus, textarea:focus {background: #fff;}
input[type='text'], input[type='password'] {cursor: text;}
/* =IE Forms
-------------------------------------------------------------- */
.ie7 area, .ie7 select, .ie7 textarea, .ie7 input[type="text"], .ie7 input[type="password"] {width: 90%;}
.ie7 #search input {height:11px; margin-top:-1px; width:150px;}
.ie7 .slidecontrols {position:absolute; bottom:0; margin-left:180px; top:190px !important;}
.ie7 ul.slider{margin-top:0px;}
.ie7 a.mr-rotato-next {margin-left:35px; float:left; top:135px;}
.ie7 a.mr-rotato-prev {top:135px;}
.ie7 #container {min-width:1003px;}
.ie7 #widgets ul li a {display: block; text-decoration: none; color:#646464;  background:#f5f5f5; padding:5px 4px; border-bottom:2px solid #FFF; font-size:13px;}

/* =Buttons
-------------------------------------------------------------- */
button, a.button, input[type='reset'], input[type='button'], input[type='submit'] {-moz-border-radius: 2px; -moz-box-shadow: 0pt -1px 0pt rgba(0, 0, 0, 0.075) inset, 0pt 1px 0pt rgba(255, 255, 255, 0.3) inset, 0pt 1px 2px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0pt -1px 0pt rgba(0, 0, 0, 0.075) inset, 0pt 1px 0pt rgba(255, 255, 255, 0.3) inset, 0pt 1px 2px rgba(0, 0, 0, 0.1); -webkit-border-radius: 2px; background-color: #cdc9c9; /* Snow 3 */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f5f5), to(#cdc9c9)); background-image: -webkit-linear-gradient(top, #f6f5f5, #cdc9c9); background-image: -moz-linear-gradient(top, #f6f5f5, #cdc9c9); background-image: -ms-linear-gradient(top, #f6f5f5, #cdc9c9); background-image: -o-linear-gradient(top, #f6f5f5, #cdc9c9); background-image: linear-gradient(top, #f6f5f5, #cdc9c9); box-shadow: 0pt -1px 0pt rgba(0, 0, 0, 0.075) inset, 0pt 1px 0pt rgba(255, 255, 255, 0.3) inset, 0pt 1px 2px rgba(0, 0, 0, 0.1); border: 1px solid #aca6a6; border-radius: 2px; color: #444; cursor: pointer; display: inline-block; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f6f5f5, endColorstr=#cdc9c9); font-size: 12px; font-weight: 700; margin: 0; padding: 6px 10px; text-decoration: none; text-shadow: 0 1px 0 #fff; vertical-align: middle; white-space: nowrap;}
button:hover, a.button:hover, input[type='reset']:hover, input[type='button']:hover, input[type='submit']:hover {background-color: #fff; background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#cdc9c9)); background-image: -webkit-linear-gradient(top, #fff, #cdc9c9); background-image: -moz-linear-gradient(top, #fff, #cdc9c9); background-image: -ms-linear-gradient(top, #fff, #cdc9c9); background-image: -o-linear-gradient(top, #fff, #cdc9c9); background-image: linear-gradient(top, #fff, #cdc9c9); border: 1px solid #aca6a6; color: #444; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#cdc9c9);}
/* =Buttons (Call to Action)
-------------------------------------------------------------- */
.call-to-action {text-align: center;}
.call-to-action a.button {font-size: 24px; padding: 15px 35px;}
.call-to-action a.button:hover {text-decoration: none;}
.ie7 .call-to-action a.button {padding: 11px 35px 19px 35px;}
/* =Buttons (Sizes)
-------------------------------------------------------------- */
.small a.button {font-size: 10px; padding: 3px 6px;}
.medium a.button {font-size: 16px; padding: 8px 16px;}
.large a.button {font-size: 18px; padding: 10px 35px;}
.xlarge a.button {font-size: 24px; padding: 12px 55px;}
/* =Buttons (Colors)
-------------------------------------------------------------- */
a.more {font-size:10px; text-decoration:underline !important; color:#0087a4 !important; }
a.blue {background-color: #1874cd; /* Dodger Blue */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4f9eea), to(#1874cd)); background-image: -webkit-linear-gradient(top, #4f9eea, #1874cd); background-image: -moz-linear-gradient(top, #4f9eea, #1874cd); background-image: -ms-linear-gradient(top, #4f9eea, #1874cd); background-image: -o-linear-gradient(top, #4f9eea, #1874cd); background-image: linear-gradient(top, #4f9eea, #1874cd); border: 1px solid #115290; color: #fff; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4f9eea, endColorstr=#1874cd); text-shadow: 0 1px 0 #115290;}
a.blue:hover {background-color: #7db7f0; background-image: -webkit-gradient(linear, left top, left bottom, from(#7db7f0), to(#1874cd)); background-image: -webkit-linear-gradient(top, #7db7f0, #1874cd); background-image: -moz-linear-gradient(top, #7db7f0, #1874cd); background-image: -ms-linear-gradient(top, #7db7f0, #1874cd); background-image: -o-linear-gradient(top, #7db7f0, #1874cd); background-image: linear-gradient(top, #7db7f0, #1874cd); border: 1px solid #115290; color: #fff; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7db7f0, endColorstr=#1874cd); text-shadow: 0 1px 0 #115290;}
a.red {background-color: #cd0000; /* Red 4 */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ff2323), to(#cd0000)); background-image: -webkit-linear-gradient(top, #ff2323, #cd0000); background-image: -moz-linear-gradient(top, #ff2323, #cd0000); background-image: -ms-linear-gradient(top, #ff2323, #cd0000); background-image: -o-linear-gradient(top, #ff2323, #cd0000); background-image: linear-gradient(top, #ff2323, #cd0000); border: 1px solid #890000; color: #fff; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff2323, endColorstr=#cd0000); text-shadow: 0 1px 0 #890000;}
a.red:hover {background-color: #ff5656; background-image: -webkit-gradient(linear, left top, left bottom, from(#ff5656), to(#cd0000)); background-image: -webkit-linear-gradient(top, #ff5656, #cd0000); background-image: -moz-linear-gradient(top, #ff5656, #cd0000); background-image: -ms-linear-gradient(top, #ff5656, #cd0000); background-image: -o-linear-gradient(top, #ff5656, #cd0000); background-image: linear-gradient(top, #ff5656, #cd0000); border: 1px solid #890000; color: #fff; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff5656, endColorstr=#cd0000); text-shadow: 0 1px 0 #890000;}
a.orange {background-color: #ff7f00; /* Dark Orange 1 */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fa5), to(#ff7f00)); background-image: -webkit-linear-gradient(top, #fa5, #ff7f00); background-image: -moz-linear-gradient(top, #fa5, #ff7f00); background-image: -ms-linear-gradient(top, #fa5, #ff7f00); background-image: -o-linear-gradient(top, #fa5, #ff7f00); background-image: linear-gradient(top, #fa5, #ff7f00); border: 1px solid #bb5d00; color: #fff; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fa5, endColorstr=#ff7f00); text-shadow:0 1px 0 #bb5d00;}
a.orange:hover {background-color: #ffc388; background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc388), to(#ff7f00)); background-image: -webkit-linear-gradient(top, #ffc388, #ff7f00); background-image: -moz-linear-gradient(top, #ffc388, #ff7f00); background-image: -ms-linear-gradient(top, #ffc388, #ff7f00); background-image: -o-linear-gradient(top, #ffc388, #ff7f00); background-image: linear-gradient(top, #ffc388, #ff7f00); border: 1px solid #bb5d00; color: #fff; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffc388, endColorstr=#ff7f00); text-shadow:0 1px 0 #bb5d00;}
a.yellow {background-color: #ecca06; /* Yellow Gold */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff2aa), to(#ffd700)); background-image: -webkit-linear-gradient(top, #fff2aa, #ffd700); background-image: -moz-linear-gradient(top, #fff2aa, #ffd700); background-image: -ms-linear-gradient(top, #fff2aa, #ffd700); background-image: -o-linear-gradient(top, #fff2aa, #ffd700); background-image: linear-gradient(top, #fff2aa, #ffd700); border: 1px solid #bb9e00; color: #161300; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff2aa, endColorstr=#ffd700); text-shadow:0 1px 0 #fff;}
a.yellow:hover {background-color: #fffadd; background-image: -webkit-gradient(linear, left top, left bottom, from(#fffadd), to(#ffd700)); background-image: -webkit-linear-gradient(top, #fffadd, #ffd700); background-image: -moz-linear-gradient(top, #fffadd, #ffd700); background-image: -ms-linear-gradient(top, #fffadd, #ffd700); background-image: -o-linear-gradient(top, #fffadd, #ffd700); background-image: linear-gradient(top, #fffadd, #ffd700); border: 1px solid #bb9e00; color: #161300; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fffadd, endColorstr=#ffd700); text-shadow:0 1px 0 #fff;}
a.green {background-color: #2e8b57; /* Sea Green 4 */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4bc380), to(#2e8b57)); background-image: -webkit-linear-gradient(top, #4bc380, #2e8b57); background-image: -moz-linear-gradient(top, #4bc380, #2e8b57); background-image: -ms-linear-gradient(top, #4bc380, #2e8b57); background-image: -o-linear-gradient(top, #4bc380, #2e8b57); background-image: linear-gradient(top, #4bc380, #2e8b57); border: 1px solid #1d5837; color: #fff; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4bc380, endColorstr=#2e8b57); text-shadow: 0 1px 0 #1d5837;}
a.green:hover {background-color: #71d09b; background-image: -webkit-gradient(linear, left top, left bottom, from(#71d09b), to(#2e8b57)); background-image: -webkit-linear-gradient(top, #71d09b, #2e8b57); background-image: -moz-linear-gradient(top, #71d09b, #2e8b57); background-image: -ms-linear-gradient(top, #71d09b, #2e8b57); background-image: -o-linear-gradient(top, #71d09b, #2e8b57); background-image: linear-gradient(top, #71d09b, #2e8b57); border: 1px solid #1d5837; color: #fff; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#71d09b, endColorstr=#2e8b57); text-shadow: 0 1px 0 #1d5837;}
a.olive {background-color: #838b83; /* Honey Dew 4 */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e0e000), to(#838b83)); background-image: -webkit-linear-gradient(top, #afb4af, #838b83); background-image: -moz-linear-gradient(top, #afb4af, #838b83); background-image: -ms-linear-gradient(top, #afb4af, #838b83); background-image: -o-linear-gradient(top, #afb4af, #838b83); background-image: linear-gradient(top, #afb4af, #838b83); border: 1px solid #626862; color: #fff; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#afb4af, endColorstr=#838b83); text-shadow: 0 1px 0 #626862;}
a.olive:hover {background-color: #c9cdc9; background-image: -webkit-gradient(linear, left top, left bottom, from(#c9cdc9), to(#838b83)); background-image: -webkit-linear-gradient(top, #c9cdc9, #838b83); background-image: -moz-linear-gradient(top, #c9cdc9, #838b83); background-image: -ms-linear-gradient(top, #c9cdc9, #838b83); background-image: -o-linear-gradient(top, #c9cdc9, #838b83); background-image: linear-gradient(top, #c9cdc9, #838b83); border: 1px solid #626862; color: #fff; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#c9cdc9, endColorstr=#838b83); text-shadow: 0 1px 0 #626862;}
a.purple {background-color: #5d478b; /* Medium Purple 4 */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#8771b6), to(#5d478b)); background-image: -webkit-linear-gradient(top, #8771b6, #5d478b); background-image: -moz-linear-gradient(top, #8771b6, #5d478b); background-image: -ms-linear-gradient(top, #8771b6, #5d478b); background-image: -o-linear-gradient(top, #8771b6, #5d478b); background-image: linear-gradient(top, #8771b6, #5d478b); border: 1px solid #3f305e; color: #fff; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#8771b6, endColorstr=#5d478b); text-shadow: 0 1px 0 #3f305e;}
a.purple:hover {background-color: #a492c8; background-image: -webkit-gradient(linear, left top, left bottom, from(#a492c8), to(#5d478b)); background-image: -webkit-linear-gradient(top, #a492c8, #5d478b); background-image: -moz-linear-gradient(top, #a492c8, #5d478b); background-image: -ms-linear-gradient(top, #a492c8, #5d478b); background-image: -o-linear-gradient(top, #a492c8, #5d478b); background-image: linear-gradient(top, #a492c8, #5d478b); border: 1px solid #3f305e; color: #fff; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#a492c8, endColorstr=#5d478b); text-shadow: 0 1px 0 #3f305e;}
a.pink {background-color: #cd1076; /* Deep Pink 3 */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f042a0), to(#cd1076)); background-image: -webkit-linear-gradient(top, #f042a0, #cd1076); background-image: -moz-linear-gradient(top, #f042a0, #cd1076); background-image: -ms-linear-gradient(top, #f042a0, #cd1076); background-image: -o-linear-gradient(top, #f042a0, #cd1076); background-image: linear-gradient(top, #f042a0, #cd1076); border: 1px solid #8e0b52; color: #fff; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f042a0, endColorstr=#cd1076); text-shadow: 0 1px 0 #8e0b52;}
a.pink:hover {background-color: #f471b8; background-image: -webkit-gradient(linear, left top, left bottom, from(#f471b8), to(#cd1076)); background-image: -webkit-linear-gradient(top, #f471b8, #cd1076); background-image: -moz-linear-gradient(top, #f471b8, #cd1076); background-image: -ms-linear-gradient(top, #f471b8, #cd1076); background-image: -o-linear-gradient(top, #f471b8, #cd1076); background-image: linear-gradient(top, #f471b8, #cd1076); border: 1px solid #8e0b52; color: #fff; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f471b8, endColorstr=#cd1076); text-shadow: 0 1px 0 #8e0b52;}
a.brick {background-color: #b22222; /* Fire Brick */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#dd4c4c), to(#b22222)); background-image: -webkit-linear-gradient(top, #dd4c4c, #b22222); background-image: -moz-linear-gradient(top, #dd4c4c, #b22222); background-image: -ms-linear-gradient(top, #dd4c4c, #b22222); background-image: -o-linear-gradient(top, #dd4c4c, #b22222); background-image: linear-gradient(top, #dd4c4c, #b22222); border: 1px solid #791717; color: #fff; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#dd4c4c, endColorstr=#b22222); text-shadow: 0 1px 0 #791717;}
a.brick:hover {background-color: #e57777; background-image: -webkit-gradient(linear, left top, left bottom, from(#e57777), to(#b22222)); background-image: -webkit-linear-gradient(top, #e57777, #b22222); background-image: -moz-linear-gradient(top, #e57777, #b22222); background-image: -ms-linear-gradient(top, #e57777, #b22222); background-image: -o-linear-gradient(top, #e57777, #b22222); background-image: linear-gradient(top, #e57777, #b22222); border: 1px solid #791717; color: #fff; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e57777, endColorstr=#b22222); text-shadow: 0 1px 0 #791717;}
a.gold {background-color: #8b6508; /* Dark Golden Rod 4 */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#db9f0d), to(#8b6508)); background-image: -webkit-linear-gradient(top, #db9f0d, #8b6508); background-image: -moz-linear-gradient(top, #db9f0d, #8b6508); background-image: -ms-linear-gradient(top, #db9f0d, #8b6508); background-image: -o-linear-gradient(top, #db9f0d, #8b6508); background-image: linear-gradient(top, #db9f0d, #8b6508); border: 1px solid #6b4e06; color: #fff; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#db9f0d, endColorstr=#8b6508); text-shadow: 0 1px 0 #6b4e06;}
a.gold:hover {background-color: #f3b828; background-image: -webkit-gradient(linear, left top, left bottom, from(#f3b828), to(#8b6508)); background-image: -webkit-linear-gradient(top, #f3b828, #8b6508); background-image: -moz-linear-gradient(top, #f3b828, #8b6508); background-image: -ms-linear-gradient(top, #f3b828, #8b6508); background-image: -o-linear-gradient(top, #f3b828, #8b6508); background-image: linear-gradient(top, #f3b828, #8b6508); border: 1px solid #6b4e06; color: #fff; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f3b828, endColorstr=#8b6508); text-shadow: 0 1px 0 #6b4e06;}
a.brown {background-color: #8b4513; /* Saddle Brown */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#d66a1d), to(#8b4513)); background-image: -webkit-linear-gradient(top, #d66a1d, #8b4513); background-image: -moz-linear-gradient(top, #d66a1d, #8b4513); background-image: -ms-linear-gradient(top, #d66a1d, #8b4513); background-image: -o-linear-gradient(top, #d66a1d, #8b4513); background-image: linear-gradient(top, #d66a1d, #8b4513); border: 1px solid #4f270b; color: #fff; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#d66a1d, endColorstr=#8b4513); text-shadow: 0 1px 0 #4f270b;}
a.brown:hover {background-color: #8b4513; background-image: -webkit-gradient(linear, left top, left bottom, from(#e58541), to(#8b4513)); background-image: -webkit-linear-gradient(top, #e58541, #8b4513); background-image: -moz-linear-gradient(top, #e58541, #8b4513); background-image: -ms-linear-gradient(top, #e58541, #8b4513); background-image: -o-linear-gradient(top, #e58541, #8b4513); background-image: linear-gradient(top, #e58541, #8b4513); border: 1px solid #4f270b; color: #fff; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e58541, endColorstr=#8b4513); text-shadow: 0 1px 0 #4f270b;}
a.silver {background-color: #c0c0c0; /* Silver */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eaeaea), to(#c0c0c0)); background-image: -webkit-linear-gradient(top, #eaeaea, #c0c0c0); background-image: -moz-linear-gradient(top, #eaeaea, #c0c0c0); background-image: -ms-linear-gradient(top, #eaeaea, #c0c0c0); background-image: -o-linear-gradient(top, #eaeaea, #c0c0c0); background-image: linear-gradient(top, #eaeaea, #c0c0c0); border: 1px solid #9e9e9e; color: #444; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#eaeaea, endColorstr=#c0c0c0); text-shadow: 0 1px 0 #fff;}
a.silver:hover {background-color: #fff; background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#c0c0c0)); background-image: -webkit-linear-gradient(top, #fff, #c0c0c0); background-image: -moz-linear-gradient(top, #fff, #c0c0c0); background-image: -ms-linear-gradient(top, #fff, #c0c0c0); background-image: -o-linear-gradient(top, #fff, #c0c0c0); background-image: linear-gradient(top, #fff, #c0c0c0); border: 1px solid #9e9e9e; color: #444; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff, endColorstr=#c0c0c0); text-shadow: 0 1px 0 #fff;}
a.gray {background-color: #696969; /* Dim Gray */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#939393), to(#696969)); background-image: -webkit-linear-gradient(top, #939393, #696969); background-image: -moz-linear-gradient(top, #939393, #696969); background-image: -ms-linear-gradient(top, #939393, #696969); background-image: -o-linear-gradient(top, #939393, #696969); background-image: linear-gradient(top, #939393, #696969); border: 1px solid #474747; color: #fff; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#939393, endColorstr=#696969); text-shadow: 0 1px 0 #474747;}
a.gray:hover {background-color: #adadad; background-image: -webkit-gradient(linear, left top, left bottom, from(#adadad), to(#696969)); background-image: -webkit-linear-gradient(top, #adadad, #696969); background-image: -moz-linear-gradient(top, #adadad, #696969); background-image: -ms-linear-gradient(top, #adadad, #696969); background-image: -o-linear-gradient(top, #adadad, #696969); background-image: linear-gradient(top, #adadad, #696969); border: 1px solid #474747; color: #fff; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#adadad, endColorstr=#696969); text-shadow: 0 1px 0 #474747;}
a.black {background-color: #080808; /* Black */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#323232), to(#080808)); background-image: -webkit-linear-gradient(top, #323232, #080808); background-image: -moz-linear-gradient(top, #323232, #080808); background-image: -ms-linear-gradient(top, #323232, #080808); background-image: -o-linear-gradient(top, #323232, #080808); background-image: linear-gradient(top, #323232, #080808); border: 1px solid #000; color: #fff; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#323232, endColorstr=#080808); text-shadow: 0 1px 0 #000;}
a.black:hover {background-color: #4c4c4c; background-image: -webkit-gradient(linear, left top, left bottom, from(#4c4c4c), to(#080808)); background-image: -webkit-linear-gradient(top, #4c4c4c, #080808); background-image: -moz-linear-gradient(top, #4c4c4c, #080808); background-image: -ms-linear-gradient(top, #4c4c4c, #080808); background-image: -o-linear-gradient(top, #4c4c4c, #080808); background-image: linear-gradient(top, #4c4c4c, #080808); border: 1px solid #000; color: #fff; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4c4c4c, endColorstr=#080808); text-shadow: 0 1px 0 #000;}
/* =Info Boxes
-------------------------------------------------------------- */
.info-box {-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; display: block; margin: 20px 0; padding: 15px; text-align: left;}
.alert {background-color: #faebeb; border: 1px solid #dc7070; color: #212121;}
.address {background-color: #f6f5ef; border: 1px solid #cdc9a5; color: #212121;}
.notice {background-color: #fbf9e9; border: 1px solid #e3cf57; color: #212121;}
.success {background-color: #f9fde8; border: 1px solid #a2bc13; color: #212121;}
.download {background-color: #fff4e5; border: 1px solid #ff9912; color: #212121;}
.information {background-color: #eef3f6; border: 1px solid #6ca6cd; color: #212121;}
.required {color: #d5243f;}
/* =IE6 Notice
-------------------------------------------------------------- */
.msie-box {background-color: #f9edbe; border: 1px solid #f0c36d; color: #212121; display: block; margin: 0 auto; max-width: 960px; padding: 10px; position: absolute; top: 60px; text-align: center; width: 100%;}
.msie-box a {color: #212121;}
/* =Tables
-------------------------------------------------------------- */
th, td, table {border: 1px solid #ddd;}
table {border-collapse: collapse; width: 100%;}
/* =Lists
-------------------------------------------------------------- */
ul {list-style-type: disc;}
ul ul {list-style-type: square;}
ul ul ul {list-style-type: circle;}
ol {line-height: 22px; list-style-position: outside; list-style-type: decimal;}
dt {font-weight: 400;}
/* =Blockquote
-------------------------------------------------------------- */
blockquote {background: #f9f9f9; border: none; border-left: 4px solid #d6d6d6; margin: 20px; overflow: auto; padding: 0 0 10px 12px;}
blockquote p {font-family: 'Georgia', 'Times New Roman', Times, serif; font-style: italic; font-size: 18px; line-height: 26px;}
/* =Headings
-------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {font-weight: 700; line-height: 1em; word-wrap: break-word;}
h1 {color: #005e96; font-size: 27px;}
h2 {color: #616163; font-size: 18px;}
h3 {color: #005e96; font-size: 16px; line-height:18px;}
h4 {font-size: 1.3em;}
h5 {font-size: 1.2em;}
h6 {font-size: 1em; text-transform: uppercase;}
/* =Margins & Paddings
-------------------------------------------------------------- */
p, hr, dl, pre, table, address, blockquote {margin: 1em 0;}
form{margin:0;}
h1 {margin: 1em 0 .5em;}
h2 {margin: 0.07em 0 .535em;}
h3 {margin: 0.14em 0 .57em;}
h4 {margin: 0em 0 .2em;}
h5 {margin: 0.33em 0 .67em;}
h6 {margin: 0.6em 0 .8em;}
th, td {padding: .2em;}
caption {padding-bottom: .8em;}
blockquote {padding: 0 1em;}
blockquote:first-child {margin: .8em 0;}
fieldset {margin: 1.6em 0; padding: 0 1em 1em;}
legend {padding-left: .8em; padding-right: .8em;}
legend+* {margin-top: 1em;}
input, textarea {padding: .3em .4em .15em;}
select {padding: .1em .2em 0;}
option {padding: 0 .4em;}
dt {margin-bottom: .4em; margin-top: .8em;}
ul {margin-left: 0em;}
ol {margin-left: 2.35em;}
ol ol, ul ol {margin-left: 2.5em;}
form div {margin-bottom: .2em;}
/* =Globals
-------------------------------------------------------------- */
#container {margin: 0 auto; max-width: 1003px; padding: 0px;}
.ie7 #container {min-width: 1003px;}
#wrapper {background-color: #efeddb; clear: both; margin: 0px auto 20px auto; padding: 2%; position: relative; width:96%;}
.home #wrapper {background-color: #efeddb; border: none; margin: 0px auto 20px auto; padding: 2%; border-bottom:1px solid #bcbaac;}
.home #wrapper01 {background-color: #efeddb; border: none; margin: 0px auto 20px auto; padding: 2%; border-bottom:1px solid #bcbaac;}
.page #wrapper01 {background-color: #efeddb; border: none; margin: 0px auto 20px auto; padding: 2%; border-bottom:1px solid #bcbaac;}
.photo-meta-data {background: url("images/transpBlack2.png")/*tpa=http://www.loews.com/loews-content/themes/loews/images/transpBlack2.png*/ repeat scroll 0 0 transparent; color: white; height: 60px; margin: -80px 0px 0px 0px; padding: 10px; position: relative; z-index: 100; width:96.7%; font-size:1.2em; font-weight:100;}
.photo-meta-data .date {color:#ffd602; width:15%; font-size:15px; font-family: 'OpenSansSemibold';}
.photo-meta-data .data {width:85%; font-size:12px;}
.photo-meta-data .data strong { font-family: 'OpenSansSemibold';}
.photo-meta-data a {color:#fff !important; text-decoration:underline; font-size:0.8em !important;}
#header {margin: 0;}
#footer {clear: both; margin: 0 auto; max-width: 960px; padding: 0 25px 0 25px;}
#footer-wrapper {margin: 0; padding: 0;}
/* =Header
-------------------------------------------------------------- */
#logo {float: left; margin: 39px 0px 29px 0px;}
#social{float:right; margin:39px 0px;}
#social a {font-size:32px; color:#616163;}
#social a:hover {opacity:0.4; filter:alpha(opacity=40); /* For IE8 and earlier */}
.site-name {display: block; font-size: 2em; padding-top: 20px;}
.site-name a {font-weight: 700;}
.site-description {display: block; font-size: 14px; margin: 10px 33px 10px 0;}
/* =Content
-------------------------------------------------------------- */
#content {margin-bottom: 20px;}
.content-wrapper{/*	-webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; */
	font-size: 13px; margin: 0 0 20px; padding: 20px; background-color: #FFF;}
#content .post-title {font-size:14px; font-weight:normal;  margin:5px 0px 20px 0px; padding: 0px 0px 10px 0px; color:#838383; border-bottom:1px solid #adadad;}
#content-full {margin-bottom: 5px;}
#content-blog {margin-bottom: 20px;}
#content-images {margin-bottom: 20px;}
#content-archive {margin-bottom: 20px;}
#content-sitemap {margin-bottom: 20px;}
#content-sitemap a {font-size: 12px;}
#content .sticky {clear: both;}
#content .sticky p {}
/* =Templates (Landing Page)
-------------------------------------------------------------- */
.page-template-landing-page-php .slidenavmenu, .page-template-landing-page-php .menu, .page-template-landing-page-php .top-menu, .page-template-landing-page-php .tinynav, .page-template-landing-page-php .footer-menu, .page-template-landing-page-php .sub-header-menu {display: none;}
/* =Author Meta (Author's Box)
-------------------------------------------------------------- */
#author-meta {-moz-border-radius: 6px; -webkit-border-radius: 6px; background: #f9f9f9; border: 1px solid #d6d6d6; border-radius: 6px; clear: both; display: block; margin: 30px 0 40px 0; padding: 10px; overflow: hidden;}
#author-meta img {float: left; padding: 10px 15px 0 5px;}
#author-meta p {margin: 0; padding: 5px;}
#author-meta .about-author {font-weight: 700; margin: 10px 0 0 0;}
/* =Featured Content
-------------------------------------------------------------- */
#featured {-moz-border-radius: 6px; -webkit-border-radius: 6px; background-color: #fff; border: 1px solid #d6d6d6; border-radius: 6px; padding: 1%; width: 97.893617021277%; color:#646464;}
#featured p {font-size: 16px; font-weight: 200; line-height: 18px; padding: 0px; text-align: left;}
#featured-image {margin: 40px 0 0 0;}
#featured-image .fluid-width-video-wrapper {margin-left: -20px;}
.featured-image img {margin-top: 44px;}
.styled-button-1 {-webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0; -moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0; box-shadow:rgba(0,0,0,0.2) 0 1px 0 0; color:#646464; background-color:#ffdd00; border:none; font-family:'OpenSansLight',Arial,sans-serif; font-size:16px; font-weight:700; padding:10px 28px; text-shadow:#FE6 0 1px 0; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; margin-bottom:10px;}
.styled-button-2 {-webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0; -moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0; box-shadow:rgba(0,0,0,0.2) 0 1px 0 0; color:#FFFFFF; background-color:#616163; border:none; font-family:'OpenSansLight',Arial,sans-serif; font-size:16px; font-weight:700; padding:3px 13px; text-shadow:#646464 0 1px 0; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; margin-bottom:10px;}
/* =Post
-------------------------------------------------------------- */
.comments-link {font-size: 12px;}
#cancel-comment-reply-link {color: #900;}
.post-data {clear: both; font-size: 14px; font-weight:normal; margin-top: 20px;}
.post-data a {color:  #06c;}
.post-data h1 {color: #005e96; font-size:27px; margin:0px 0px 10px 0px !important;}
.post-data h1.emergency {color: #d2232a; font-size:27px; margin:0px 0px 10px 0px !important;}
.post-data h2 {color: #616163; font-size:18px; margin:0px 0px 10px 0px !important;}
.post-data h3 {color: #005e96; font-size:16px; margin:px 0px 2px 0px !important;}
.post-data span {font-size:12px; margin:0px !important; font-style:italic;}
.post-data p {color: #616163; font-size:14px; margin:0px 0px 8px 0px !important;}
.post-data img{display:block !important;}
.post-entry {clear: both;}
.post-meta {clear: both; color: #616163; font-size: 13px; margin-bottom: 10px;}
.post-meta a {color: #005e96; font-size:11px; text-decoration:underline;}
.post-meta h3 {color: #005e96; font-size:15px; margin:5px 0px 0px !important;}
.post-meta span {font-size:12px; margin:0px !important; font-style:italic;}
.post-meta ul li {/*width:31%;*/ float:left; margin-right:2%; margin-bottom:1%;}
.post-edit {clear: both; display: block; font-size: 12px; margin: 1.5em 0;}
.post-search-terms {clear: both;}
.read-more {clear: both; font-weight: 700; }
.attachment-entry {clear: both; text-align: center;}
/* =bbPress
    bbPress has its own breadcrumb lists
-------------------------------------------------------------- */
.bbPress .breadcrumb-list {display: none;}
/* =Symbols
-------------------------------------------------------------- */
.ellipsis {color: #aaa; font-size: 18px; margin-left: 5px;}
.form-allowed-tags {display: none; font-size: 10px;}
/* =Widgets
-------------------------------------------------------------- */
.widget-wrapper {/*	-webkit-border-radius: 6px; -moz-border-radius: 6px; background-color: #f9f9f9; border: 1px solid #d6d6d6; border-radius: 6px; */
	font-size: 16px; margin: 0px; padding: 0px; font-family: 'OpenSansRegular';}
#widgets {margin-top: 40px;}

.home #widgets, .page #widgets, .tax-leadershipcategory #widgets ,.single-leadership #widgets ,.single-emergency #widgets{margin-top: 0 !important;}
#widgets a {display: inline-block; margin: 0; padding: 0; text-decoration: none;}
#widgets #s {width: 80%;}
#widgets form {margin: 0;}
#widgets ul li {margin: 0px;}
#widgets ul li a {display: block; text-decoration: none; color:#646464;  background:#f5f5f5; padding:5px 10px; border-bottom:2px solid #FFF; font-size:13px;}
#widgets ul li a:hover{color:#FFFFFF;  background:#797979;}
.home #widgets ul li a:hover{color:#000;  background:#ffd602 !important;}
.home #widgets ul li a.current {color:#000;  background:#ffd602 !important;}
#widgets .widget-title img {float: right; height: 11px; position: relative; top: 4px; width: 11px;}
#widgets .rss-date {line-height: 18px; padding: 6px 12px;}
#widgets .rssSummary {padding: 10px;}
#widgets cite {font-style: normal; line-height: 18px; padding: 6px 12px;}
#widgets .tagcloud, #widgets .textwidget {display: block; line-height: 1.2em; margin: 0; word-wrap: break-word; font-size:15px; font-weight:normal;}
#widgets .textwidget a {display: inline;}
#widgets ul .children {border: none; margin: 0; padding: 0;}
#widgets .author {font-weight: 700; padding-top: 4px;}
div.widget-title{text-transform: uppercase;}
.widget_archive select, #cat {display: block; margin: 0 15px 0 0;}
#colophon-widget {}
.colophon-widget {background: none; min-height: 0;}
.colophon-widget select, .colophon-widget input[type="text"], .colophon-widget input[type="password"] {width: 100%;}
#top-widget {}
.top-widget {background: none; border: none; clear: right; float: right; min-height:0; padding: 0 3px 0 0; text-align: right; width: 45%;}
.top-widget select, .top-widget input[type="text"], .top-widget input[type="password"] {width: auto;}
.top-widget #searchform {margin: 0;}
.embossed {
	background:#e1e0d9; padding:4%; margin-bottom:20px !important; border-bottom:1px solid #b7b6b0; border-left:1px solid #b7b6b0; border-right:1px solid #b7b6b0;
    -webkit-box-shadow:  inset 0 0 2px 2px rgba(255,255,255,.5),  inset 0 0 2px 2px rgba(0,0,0,.25),  inset 0 0 2px 2px rgba(255,255,255,.2), 0 0 2px 2px rgba(0,0,0,.1);
    -moz-box-shadow:  inset 0 0 2px 2px rgba(255,255,255,.5),  inset 0 0 2px 2px rgba(0,0,0,.25),  inset 0 0 2px 2px rgba(255,255,255,.2), 0 0 2px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 0 2px 2px rgba(255,255,255,.5),  inset 0 0 2px 2px rgba(0,0,0,.25),  inset 0 0 2px 2px rgba(255,255,255,.2), 0 0 2px 2px rgba(0,0,0,.1);
}
.embossed01 {
	background:#e1e0d9; padding:2%; margin-bottom:20px !important; border:1px solid #b7b6b0;
    -webkit-box-shadow:  inset 0 0 2px 2px rgba(255,255,255,.5),  inset 0 0 2px 2px rgba(0,0,0,.25),  inset 0 0 2px 2px rgba(255,255,255,.2), 0 0 2px 2px rgba(0,0,0,.1);
    -moz-box-shadow:  inset 0 0 2px 2px rgba(255,255,255,.5),  inset 0 0 2px 2px rgba(0,0,0,.25),  inset 0 0 2px 2px rgba(255,255,255,.2), 0 0 2px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 0 2px 2px rgba(255,255,255,.5),  inset 0 0 2px 2px rgba(0,0,0,.25),  inset 0 0 2px 2px rgba(255,255,255,.2), 0 0 2px 2px rgba(0,0,0,.1);
}
.embossed02 {
	background:#e1e0d9; padding:1.3%; border:1px solid #b7b6b0;
    -webkit-box-shadow:  inset 0 0 2px 2px rgba(255,255,255,.5),  inset 0 0 2px 2px rgba(0,0,0,.25),  inset 0 0 2px 2px rgba(255,255,255,.2), 0 0 2px 2px rgba(0,0,0,.1);
    -moz-box-shadow:  inset 0 0 2px 2px rgba(255,255,255,.5),  inset 0 0 2px 2px rgba(0,0,0,.25),  inset 0 0 2px 2px rgba(255,255,255,.2), 0 0 2px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 0 2px 2px rgba(255,255,255,.5),  inset 0 0 2px 2px rgba(0,0,0,.25),  inset 0 0 2px 2px rgba(255,255,255,.2), 0 0 2px 2px rgba(0,0,0,.1);
}

.brdLeft{border-left:1px solid #c8c8c8; padding-left:20px;}

a.leadIcon {font-size:12px; color:#ababab; display:block;}
a.leadIcon span {font-size:18px; padding-right:5px;}
a.leadIcon:hover {color:#333333;}
/* =Titles
-------------------------------------------------------------- */
.featured-title {font-size:14px; font-weight:normal;  margin:5px 0px 10px 0px; padding: 0px 0px 10px 0px; color:#838383; border-bottom:1px solid #adadad;}
.featured-title01 {font-size:27px; font-weight:bold; margin:0px 0px 10px 0px; padding: 0px; color:#1f78ab;}
.featured-title02 {font-size:  18px; font-weight:bold; margin:  0px; padding: 0px; color:#646464;}
ul#List {margin:10px 0px 20px;}
ul#List .arrow{border: solid transparent; content: ''; height: 0; width: 0; pointer-events: none; border-left-color: #005e96; border-width: 8px; margin:6px 0px;}
ul#List li{display:table; line-height:30px; font-size:17px; }

ul#List01 {margin:10px 0px 20px 10px;}
ul#List01 li{display:table; line-height:22px; font-size:16px; background:url(images/arrow01.png)/*tpa=http://www.loews.com/loews-content/themes/loews/images/arrow01.png*/ no-repeat 0px 7px; padding:0px 20px}

ul.List {margin:0px;}
ul.List li {display:table; line-height:25px; font-size:16px; background:url(images/arrow01.png)/*tpa=http://www.loews.com/loews-content/themes/loews/images/arrow01.png*/ 0px 8px no-repeat; padding-left:20px;}

ul.List01 {margin:0px;}
ul.List01 li {width:31%; float:left; margin-right:2%; margin-bottom:1%;}

ul.List03 {margin:0px;}
ul.List03 li {margin-right:2%; margin-bottom:1%;}
ul.List03 li h3 a {font-size:16px; text-decoration:none;}

ul.List02 {margin:0px;}
ul.List02 li {display:table; line-height:15px; background:url(images/arrow01.png)/*tpa=http://www.loews.com/loews-content/themes/loews/images/arrow01.png*/ 15px 10px no-repeat; padding-left:20px;}
ul.List02 li a{background:none !important; font-size:13px !important; text-transform:none !important; border-bottom:none !important;}
ul.List02 li a:hover{color:#000 !important;}

ul.sitemap{margin:0px;}
ul.sitemap li{margin:3px 0px; display:table;}
ul.sitemap li a {background:#ebebeb; display:block; width:200px; color:#616163; font-size:1em;}
ul.sitemap ul{margin:0px 0px 0px 20px;}
ul.sitemap ul li a {background:none; display:block; width:200px; color:#616163; font-size:0.8em}

.post-meta ul li {}

ul.subsidiary {margin:0px;}
ul.subsidiary li {margin:0px; float:left; display:inline; width:21%; margin-right:2%}
.ie7 ul.subsidiary li {margin:0px; float:left; display:inline; width:21%; margin-right:1%}

.featured-subtitle {padding: 0 10px; text-align: center;}
.widget-title, .widget-title-home h3 {display: block; font-size:18px; font-family: 'OpenSansSemibold'; line-height: 23px; margin: 0; padding: 10px; text-align: left; background:#005e96; /*	-webkit-border-radius: 6px 6px 0px 0px; -moz-border-radius: 6px 6px 0px 0px; border-radius: 6px 6px 0px 0px; */
	color:#FFF; border-bottom: 2px solid #FFF;  border-bottom: 1px solid #FFF\9; margin-bottom:-4px\9;}
.top-widget .widget-title {font-size: 14px; padding: 0; text-align: right;}
.widget-title a {border-bottom: none; padding: 0 !important;}
.title-404 {color: #933;}
.emergency-title {display: block; font-size:18px; font-family: 'OpenSansSemibold'; line-height: 23px; margin: 0; padding: 8px; text-align: left; background:#d2232a; /*	-webkit-border-radius: 6px 6px 0px 0px; -moz-border-radius: 6px 6px 0px 0px; border-radius: 6px 6px 0px 0px; */color:#FFF; border-bottom: 2px solid #FFF;  border-bottom: 1px solid #FFF\9; margin-bottom:-4px\9;}
/* =404 Page 
-------------------------------------------------------------- */
.error404 select, .error404 input[type="text"], .error404 input[type="password"] {width: auto;}
/* =Top Menu
-------------------------------------------------------------- */
.top-menu {float: right; margin: 10px 0;}
.top-menu li {display: inline; list-style-type: none;}
.top-menu li a {border-left: 1px solid #ccc; color: #333; font-size: 11px; padding: 0 4px 0 8px;}
.top-menu > li:first-child > a {border-left: none;}
.top-menu li a:hover {color: #333;}
/* =Header Menu (Primary)
-------------------------------------------------------------- */
.menu {/*background-color: #585858; background-image: -webkit-gradient(linear, left top, left bottom, from(#585858), to(#3d3d3d)); background-image: -webkit-linear-gradient(top, #585858, #3d3d3d); background-image: -moz-linear-gradient(top, #585858, #3d3d3d); background-image: -ms-linear-gradient(top, #585858, #3d3d3d); background-image: -o-linear-gradient(top, #585858, #3d3d3d); background-image: linear-gradient(top, #585858, #3d3d3d); */
	clear: both; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#585858, endColorstr=#3d3d3d); margin: 0 auto;}
.slidenavmenu, .slidenavmenu ul {display: block; list-style-type: none; margin: 0; padding: 0;}
.menu, .menu ul {display: block; list-style-type: none; margin: 0; padding: 0;}
.menu li {border: 0; display: block; float: left; margin: 0; padding: 0; position: relative; z-index: 5;}
.menu li:hover {white-space: normal; z-index: 10000;}
.menu li li {float: none;}
.menu ul {left: 0; position: absolute; top: 0; visibility: hidden; z-index: 10;}
.menu li:hover > ul {top: 100%; visibility: visible;}
.menu li li:hover > ul {left: 100%; top: 0;}
.menu:after, .menu ul:after {clear: both; content: '.'; display: block; height: 0; overflow: hidden; visibility: hidden;}
.menu, .menu ul {min-height: 0;}
.menu ul, .menu ul ul {margin: 0; padding: 0;}
.menu ul li a:hover, .menu li li a:hover {color: #484848; text-decoration: none;}
.menu ul {min-width: 15em; width: auto;}
.menu a {/*border-left: 1px solid #585858; */
	background:#b2a498; color: #fff; cursor: pointer; display: block; font-size: 13px; font-weight: 700; height: 32px; width:165px; line-height: 32px; margin: 0px 2px; padding: 0em; text-align:center; position: relative; text-decoration: none; text-shadow: 0 1px 1px #242424; }

.leftMenu .current_page_item a, .leftMenu .current-cat a {background:#616163 !important; color:#FFF !important;}
#press li#item20 a {background:#616163 !important; color:#FFF !important;}
#press li#item20 ul li a{background:none !important; color:#000 !important;}
#press .current_page_item a {background:#F5F5F5 !important; color:#646464 !important;}
#press .menu-item-427 a {background: none repeat scroll 0 0 #FFD600 !important; border-right: medium none; color: #616161;}
.menu li li {background: #fff; background-image: none; border: 1px solid #b2b2b2; color: #444; filter: none; margin: -1px 0 1px 0; width: auto;}
.menu li li a {background: transparent !important; border: none; color: #444; font-size: 12px; font-weight: 400; height: auto; height: 20px; line-height: 20px; padding: 5px 10px; text-shadow: none; white-space: nowrap;}
.menu li li a:hover {background: #f5f5f5 !important; background-image: none; border: none; color: #444; filter: none;}
.menu ul > li + li {border-top: 0;}
.menu li li:hover > ul {left: 100%; top: 0;}
.menu > li:first-child > a {border-left: none;}
#search{width:166px; height:25px;}
#search input {border:1px solid #cdcdcd; width:100%; height:25px; margin-left:2px;}
.ie9 #search input {font-size:12px}
:root #search input {font-size:12px} /* IE9 + IE10 hack */
/* =Primary Main Menu IE Fixes
-------------------------------------------------------------- */
.ie7 .menu ul {background: url(images/ie7-fix.gif)/*tpa=http://www.loews.com/loews-content/themes/loews/images/ie7-fix.gif*/ repeat;}
.ie7 .menu li li a  {min-width: 100%;}
/* =Responsive Menu 
-------------------------------------------------------------- */
.tinynav {display: none;}
/* =Sub-Header Menu
-------------------------------------------------------------- */
.sub-header-menu {background-color: #fff; border: 1px solid #d6d6d6; border-top: none; clear: both; margin: 0 auto;}
.sub-header-menu, .sub-header-menu ul {display: block; list-style-type: none; margin: 0; padding: 0;}
.sub-header-menu li {border: 0; display: block; float: left; margin: 0; padding: 0; position: relative; z-index: 5;}
.sub-header-menu li:hover {white-space: normal; z-index: 10000;}
.sub-header-menu li li {float: none;}
.sub-header-menu ul {left: 0; position: absolute; top: 0; visibility: hidden; z-index: 10;}
.sub-header-menu li:hover > ul {top: 100%; visibility: visible;}
.sub-header-menu li li:hover > ul {left: 100%; top: 0;}
.sub-header-menu:after, .sub-header-menu ul:after {clear: both; content: '.'; display: block; height: 0; overflow: hidden; visibility: hidden;}
.sub-header-menu, .sub-header-menu ul {min-height: 0;}
.sub-header-menu ul, .sub-header-menu ul ul {margin: 0; padding: 0;}
.sub-header-menu ul li a:hover, .sub-header-menu li li a:hover {color: #484848; text-decoration: none;}
.sub-header-menu ul {width: 14em;}
.sub-header-menu a {border-left: 1px solid #e2e2e2; color: #333; cursor: pointer; display: block; font-size: 13px; font-weight: 700; height: 45px; line-height: 45px; margin: 0; padding: 0 0.9em; position: relative; text-decoration: none; text-shadow: none;}
.sub-header-menu a:hover {background-color: #f9f9f9; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;}
.sub-header-menu .current_page_item a, .sub-header-menu .current-menu-item a {background-color: #f9f9f9;}
.sub-header-menu li li {background: #fff; background-image: none; border: 1px solid #d6d6d6; color: #444; filter: none; margin: -1px 0 1px 0; width: auto;}
.sub-header-menu li li a {border: none; color: #444; font-size: 12px; font-weight: 400; height: auto; height: 20px; line-height: 20px; padding: 5px 10px; text-shadow: none;}
.sub-header-menu li li a:hover {background: #f9f9f9; background-image: none; border: none; color: #444; filter: none;}
.sub-header-menu ul > li + li {border-top: 0;}
.sub-header-menu li li:hover > ul {left: 100%; top: 0;}
.sub-header-menu > li:first-child > a {border-left: none;}
.sub-header-menu ul.children a, .sub-header-menu .current_page_ancestor, .sub-header-menu .current_page_ancestor ul a {background: none; background-image: none; filter: none;}
/* =Sub Header Menu IE Fixes
-------------------------------------------------------------- */
.ie7 .sub-header-menu ul {background: url(images/ie7-fix.gif)/*tpa=http://www.loews.com/loews-content/themes/loews/images/ie7-fix.gif*/ repeat;}
.ie7 .sub-header-menu li li a  {min-width: 100%;}
/* =Footer Menu
-------------------------------------------------------------- */
.footer-menu {margin: 0 0px 10px 0px; text-align:center;}
.footer-menu li {display: inline; list-style-type: none;}
.footer-menu li a {border-left: 1px solid #ccc; color: #9c9e99; padding: 0 8px; font-size:11px; }
.footer-menu li a:hover {color: #222;}
.footer-menu > li:first-child > a {border-left: none; padding: 0 8px 0 0;}
/* =Navigation
-------------------------------------------------------------- */
.navigation {color: #111; display: block; font-size: 13px; height: 28px; line-height: 28px; margin: 20px 0; padding: 0 5px;}
.navigation a {color: #aaa; padding: 4px 10px;}
.navigation a:hover {color: #111; text-decoration: none;}
.navigation .previous {float: left;}
.navigation .next {float: right;}
.navigation .bracket {font-size: 36px;}
/* =Pagination (pages)
-------------------------------------------------------------- */
.pagination {clear: both; display: block; font-size: 16px; font-weight: 700; margin: 10px 0; padding: 5px 0;}
.pagination a {text-decoration: none;}
/* =Breadcrumb Lists
-------------------------------------------------------------- */
.breadcrumb-list {font-size: 12px; padding: 40px 0 0 0;}
/* =Comments
-------------------------------------------------------------- */
#commentform {margin: 0;}
.commentlist {border-bottom: 1px dotted #eee; list-style: none; margin: 0; padding: 0;}
.commentlist ol {list-style:decimal;}
.commentlist li {-webkit-border-radius: 4px; -moz-border-radius: 4px; background-color: #fff; border-radius: 4px; margin: 0;}
.commentlist .bypostauthor {}
.commentlist li cite {color: #111; font-size: 1.1em; font-style: normal; font-weight: 400;}
.commentlist li.alt {background: #f9f9f9;}
.commentlist .children {list-style: none; margin-left: 10px; padding: 10px;}
.commentlist .avatar {-webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; float: left; margin-right: 10px; padding: 0; vertical-align: middle;}
.comment-author .fn {}
.comment-author .says {color: #999;}
.comment-body .comment-meta {color: #999; display: inline-block; margin: 0; padding: 0; text-align: left;}
.comment-body .comment-meta a {font-size: 11px;}
.comment-body {clear: both; padding: 10px;}
.comment-body p {clear: both;}
.comment-body .reply {}
.pingback, .trackback {list-style: none; margin: 20px 0;}
.pingback cite, .trackback cite {font-style: normal;}
#pings, #comments {text-align: left;}
#respond {-moz-border-radius: 2px; -webkit-border-radius: 2px; background-color: #eaeaea; background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eaeaea)); background-image: -webkit-linear-gradient(top, #ffffff, #eaeaea); background-image: -moz-linear-gradient(top, #ffffff, #eaeaea); background-image: -ms-linear-gradient(top, #ffffff, #eaeaea); background-image: -o-linear-gradient(top, #ffffff, #eaeaea); background-image: linear-gradient(top, #ffffff, #eaeaea); border: 1px solid #ccc; border-bottom-color: #aaa; border-radius: 2px; clear: both; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#eaeaea); margin-top: 15px; padding: 10px 20px 50px;}
#respond label {display: inline;}
.reply {margin: 10px 0;}
.comment-form-url input, .comment-form-email input, .comment-form-author input, .comment-form-comment textarea {display: block;}
.nocomments {color: #999; font-size: .9em; text-align: center;}
/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {margin: 5px 20px 20px 0;}
.aligncenter, div.aligncenter {display: block; margin: 5px auto;}
.alignright {float: right; margin: 5px 0 20px 20px;}
.alignleft {float: left; margin: 5px 20px 20px 0;}
.aligncenter {display: block; margin: 5px auto;}
a img.alignright {float: right; margin: 5px 0 20px 20px;}
a img.alignnone {margin: 5px 20px 20px 0;}
a img.alignleft {float: left; margin: 5px 20px 20px 0;}
a img.aligncenter {display: block; margin-left: auto; margin-right: auto;}
.wp-caption {background: #fff; border: 1px solid #f0f0f0; max-width: 96%; padding: 5px 3px 10px; text-align: center;}
.wp-caption.alignnone {margin: 5px 20px 20px 0;}
.wp-caption.alignleft {margin: 5px 20px 20px 0;}
.wp-caption.alignright {margin: 5px 0 20px 20px;}
.wp-caption img {border: 0 none; height: auto; margin: 0; max-width: 98.5%; padding: 0; width: auto;}
.wp-caption p.wp-caption-text {font-size: 11px; line-height: 1.5em; margin: 0; padding: 0 4px 5px;}
img.wp-smiley {vertical-align: middle;}
/* =WordPress Gallery
-------------------------------------------------------------- */
.gallery {margin: 0 auto 18px;}
.gallery .gallery-item {float: left; margin-top: 0; text-align: center; max-width: 155px;}
.gallery img {border: 1px solid #ddd;}
.gallery .gallery-caption {font-size: 12px; margin: 0 0 12px;}
.gallery dl {margin: 0;}
.gallery br+br {display: none;}
.attachment-gallery img {background: #fff; border: 1px solid #f0f0f0; display: block; height: auto; margin: 15px auto; max-width: 96%; padding: 5px; width: auto;}
.gallery-meta .iso, .gallery-meta .camera, .gallery-meta .shutter, .gallery-meta .aperture, .gallery-meta .full-size, .gallery-meta .focal-length {display: block;}
/* =Post Thumbnails 
-------------------------------------------------------------- */
img.wp-post-image, img.attachment-full, img.attachment-large, img.attachment-medium, img.attachment-thumbnail {display: block; margin: 5px auto; width: auto;}
/* =WooCommerce
-------------------------------------------------------------- */
#breadcrumb {padding: 40px 0 0 0;}
#breadcrumb a {color: #06c; font-size: 12px; font-weight: 400;}
#breadcrumb a:hover {color: #444; text-decoration: none;}
#content-woocommerce {margin-bottom: 20px;}
.products ul, ul.products {margin-top: 40px;}
.cart-collaterals .shipping_calculator {width: 100%;}
table.shop_table {}
table.cart td.actions .coupon .input-text, table.cart td.actions .coupon .input-text {cursor: text;}
/* =Footer
-------------------------------------------------------------- */
#footer {font-size: 11px; line-height: 1.2em;}
#footer a {color: #9c9e99; font-weight: 400;}
#footer a:hover {color: #444;}
#footer-wrapper .grid.col-940 {margin: 0;}
.scroll-top {text-align: center;}
.copyright {text-align: left;}
.powered {text-align: right;}
/* =Social Icons
-------------------------------------------------------------- */
#footer .social-icons {list-style: none; line-height: normal; margin: 0; text-align: right;}
#footer .yelp-icon, #footer .vimeo-icon, #footer .youtube-icon, #footer .twitter-icon, #footer .facebook-icon, #footer .linkedin-icon, #footer .rss-feed-icon, #footer .instagram-icon, #footer .pinterest-icon, #footer .foursquare-icon, #footer .google-plus-icon, #footer .stumble-upon-icon {display: inline; margin: 1px; padding-left: 3px;}
.twitter-icon {background:url(images/sprite.png)/*tpa=http://www.loews.com/loews-content/themes/loews/images/sprite.png*/ no-repeat 0px 0px; width:26px; height:22px; margin-right:5px;}
.facebook-icon {background:url(images/sprite.png)/*tpa=http://www.loews.com/loews-content/themes/loews/images/sprite.png*/ no-repeat -26px 0px; width:26px; height:22px; margin-right:10px;}
a.rss-feed-icon {background:url(images/sprite.png)/*tpa=http://www.loews.com/loews-content/themes/loews/images/sprite.png*/ no-repeat -55px 0px; width:26px; height:22px; display:block;}
a.linkedin-icon {background:url(images/sprite.png)/*tpa=http://www.loews.com/loews-content/themes/loews/images/sprite.png*/ no-repeat -83px 0px; width:26px; height:22px; display:block;}
/* =Alignments Extras
-------------------------------------------------------------- */
.left {float: left;}
.right {float: right;}
.center {text-align: center;}
.ruler {clear:both; border-bottom:1px solid #c7c7c7; margin:15px 0px;}
/* =Clearfix
-------------------------------------------------------------- */
.clearfix:after, #container:after, .widget-wrapper:after {clear: both; content: '\0020'; display: block; height: 0; max-height: 0; overflow: hidden; visibility: hidden;}
.clearfix, #container, .widget-wrapper {display: inline-block;}
*html .clearfix, *html #container, *html .widget-wrapper {height: 1%;}
.clearfix, #container, .widget-wrapper {display: block;}
.clear {clear: both;}
/* =Begin bidirectionality settings (do not change)
-------------------------------------------------------------- */
BDO[DIR="ltr"] {direction: ltr; unicode-bidi: bidi-override;}
BDO[DIR="rtl"] {direction: rtl; unicode-bidi: bidi-override;}
[DIR="ltr"] {direction: ltr; unicode-bidi: embed;}
[DIR="rtl"] {direction: rtl; unicode-bidi: embed;}
/* =Media Print
    If you're working on a Child Theme, make sure that all
	media queries are included in your style.css
-------------------------------------------------------------- */
#AnythingPopup_BoxContainer3 {height:auto; left: 25%; padding: 0; position: fixed; top: 25% !important; width: 45% !important; z-index: 99999;}

@media print {h1 {page-break-before: always;}
h1, h2, h3, h4, h5, h6 {page-break-after: avoid;}
ul, ol, dl {page-break-before: avoid;}
}
/*	Retina (HiDPI) Display
    http://www.quirksmode.org/blog/archives/2012/06/devicepixelrati.html
-------------------------------------------------------------- */
@media 
    only screen and (-moz-min-device-pixel-ratio:1.5), only screen and (-o-min-device-pixel-ratio:3/2), only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (min-device-pixel-ratio:1.5) {body {}
}
/* =Responsive (Mobile) Design
-------------------------------------------------------------- */
@media screen and (max-width: 1000px) {body {}
#logo {float: none; margin: 3px 0px; text-align: center;}
#leader {float: none; margin: 3px 0px; text-align: center;}
#social{margin:3px 0px; text-align:center;}
.grid, .grid-right {float: none;}
#featured-image .fluid-width-video-wrapper {margin: 20px 0 0 0;}
.top-widget {float: none; margin: 0 auto 10px auto; position: relative; text-align: center; width: auto;}
.top-widget .widget-title {text-align: center;}
.js .subnav, .js .slidenavmenu, .js .menu, .js .sub-header-menu, .js .leftMenu, .js  .l_tinynav1, .js .col6 {display: none !important;}
.top-menu, .footer-menu li {float: none; font-size: 11px; text-align: center;}
.tinynav {display: block; margin: 0 auto; width: 100%;}
.tinynav {-moz-appearance: none !important; -webkit-appearance: none !important; appearance: none !important; background: #fff url(images/bg-select.png)/*tpa=http://www.loews.com/loews-content/themes/loews/images/bg-select.png*/ no-repeat right; border: 1px solid #ccc; font-size: 12px; overflow: hidden; padding: 0.5em 1em 0.5em 0.75em;}
.ie7 .tinynav, .ie8 .tinynav {padding-right: 10px;}
.ie9 .tinynav  {padding-right: 8px;}
#search{width:99.7%; float:none; margin-top:10px;}
#author-meta {padding: 20px;}
#footer {text-align: center;}
#footer .social-icons {padding-bottom: 10px; text-align: center;}
.slide p {font-size:19px;}
.slide h4 {font-size:22px;}
.slidecontrols {position:relative; bottom:0; left:280px; top:130px;}
.brdLeft{border-left:none; padding-top:10px;}
.post-meta h3 {color: #005e96; font-size:16px; margin:10px 0px 0px !important;}
.spacer10{width:100%; clear:both; height:10px;}
}

@media screen and (max-width: 980px) {body {}
.grid, .grid-right {float: none;}
#featured-image .fluid-width-video-wrapper {margin: 20px 0 0 0;}
.home #widgets {margin-top: 40px;}
.top-widget, .home .top-widget {margin-top: 0 !important;}
.slide p {font-size:16px;}
.slide h4 {font-size:20px;}
.slidecontrols {position:relative; bottom:0; left:280px; top:135px;}
.brdLeft{border-left:none; padding-top:10px;}
.js .subnav, .js .slidenavmenu, .js .menu, .js .sub-header-menu, .js .leftMenu, .js  .l_tinynav1 {display: none !important;}
#AnythingPopup_BoxContainer3 {height:auto; left: 20%; padding: 0; position: fixed; top: 25% !important; width: 70% !important; z-index: 99999;}
}

@media screen and (max-width: 800px) {body {}
ul.subsidiary li{float:none;}
.slidecontrols {position:relative; bottom:0; left:240px; top:135px;}
#AnythingPopup_BoxContainer3 {height:auto; left: 20%; padding: 0; position: fixed; top: 25% !important; width: 70% !important; z-index: 99999;}
}



@media screen and (max-width: 650px) {body {}
h3{font-size:13px;}
#logo {float: none; margin: 3px 0px; text-align: center;}
#social{margin:3px 0px; text-align:center;}
.grid, .grid-right {float: none;}
#featured-image .fluid-width-video-wrapper {margin: 20px 0 0 0;}
.top-widget {float: none; margin: 0 auto 10px auto; position: relative; text-align: center; width: auto;}
.top-widget .widget-title {text-align: center;}
.js .subnav, .js .slidenavmenu, .js .menu, .js .sub-header-menu, .js .leftMenu {display: none;}
.top-menu, .footer-menu li {float: none; font-size: 11px; text-align: center;}
.tinynav {display: block; margin: 0 auto; width: 100%;}
.tinynav {-moz-appearance: none !important; -webkit-appearance: none !important; appearance: none !important; background: #fff url(images/bg-select.png)/*tpa=http://www.loews.com/loews-content/themes/loews/images/bg-select.png*/ no-repeat right; border: 1px solid #ccc; font-size: 12px; overflow: hidden; padding: 0.5em 1em 0.5em 0.75em;}
.ie7 .tinynav, .ie8 .tinynav {padding-right: 10px;}
.ie9 .tinynav  {padding-right: 8px;}
#search{width:99.7%; float:none; margin-top:10px;}
#author-meta {padding: 20px;}
#footer {text-align: center;}
#footer .social-icons {padding-bottom: 10px; text-align: center;}
.slide p {font-size:13px;}
.slide h4 {font-size:17px;}
.slidecontrols {position:relative; bottom:0; left:0px;}
.post-data {clear: both; font-size: 12px; font-weight:normal; margin-top: 10px;}
.post-data h1 {color: #005e96; font-size:20px; margin:0px !important;}
.post-meta ul li {float:none; width:100%}
.post-meta h3 {color: #005e96; font-size:14px; margin:10px 0px 0px !important;}
.featured-title01 {font-size: 20px; margin-top:10px;}
#featured p {font-size: 14px; line-height: 16px;}
ul.subsidiary li{font-size: 12px;}
.widget-wrapper {font-size:12px;}
#AnythingPopup_BoxContainer3 {height:auto; left: 10%; padding: 0; position: fixed; top: 25% !important; width: 80% !important; z-index: 99999;}
}

@media screen and (max-width: 480px) {body {}
#logo {float: none; text-align: center;}
.grid, .grid-right {float: none;}
#social a {font-size:24px;}
#featured-image .fluid-width-video-wrapper {margin: 20px 0 0 0;}
.featured-title {font-size: 12px; margin: 5px 5px 10px 10px;}
.featured-title01 {font-size: 16px;}
.featured-title02 {font-size: 14px;}
#content .post-title {font-size:12px;}
.widget-title, .widget-title-home h3 {font-size:1.6em;}
.footer-menu li a {font-size:1.0em;}
ul#List {margin-top:10px;}
ul#List .arrow{border: solid transparent; content: ''; height: 0; width: 0; pointer-events: none; border-left-color: #005e96; border-width: 5px; margin:7px 0px;}
ul#List li{display:table; line-height:25px; font-size:1em; }
.styled-button-1, .styled-button-2 {font-size:12px; font-weight:700; padding:2px 8px; margin-bottom:10px;}
.navigation .next, .navigation .previous {text-align: center;}
.slidenavmenu ul, .menu ul, .menu li, .top-menu, .footer-menu li, .sub-header-menu li {float: none; text-align: center; text-rendering: optimizeSpeed;}
#footer {text-align: center;}
#footer .social-icons {text-align: center;}
.slide p {font-size:10px; line-height:19px;}
.slide h4 {font-size:14px;}
.slidecontrols {position:relative; bottom:0; left:0px;}
.post-data {clear: both; font-size: 11px; font-weight:normal; margin-top: 10px;}
.post-data h1 {color: #005e96; font-size:16px; margin:0px !important;}
.post-meta h3 {color: #005e96; font-size:12px; margin:10px 0px 0px !important;}
.photo-meta-data {width:96.4%;margin:-60px 0px 0px 0px;line-height:1.5;}
.photo-meta-data .data {font-size:9px;}
.photo-meta-data .date {font-size:7px;}
ul.List li {font-size:12px; line-height:18px;}
#AnythingPopup_BoxContainer3 {height:auto; left: 1% !important; padding: 0; position: fixed; top: 25% !important; width: 90% !important; z-index: 99999;}
}
@media screen and (max-width: 320px) {body {}
#featured p {font-size: 12px; line-height: 14px;}
#social a {font-size:20px;}
.featured-title {font-size: 11px; margin:5px;}
.featured-title01 {font-size: 14px;}
.featured-title02 {font-size: 1.1em;}
#content .post-title {font-size:11px;}
.widget-title, .widget-title-home h3 {font-size:1.2em;}
.footer-menu li a {font-size:0.8em;}
ul#List {margin-top:10px;}
ul#List .arrow{border: solid transparent; content: ''; height: 0; width: 0; pointer-events: none; border-left-color: #005e96; border-width: 6px; margin:5px 0px;}
ul#List li{display:table; line-height:20px; font-size:0.8em; }
.styled-button-1 {font-size:12px; font-weight:700; padding:1px 4px; margin-bottom:10px;}
.featured-subtitle {font-size: 15px;}
.call-to-action a.button {font-size: 14px; padding: 7px 17px;}
.slidecontrols {bottom:0; left:0;}
.photo-meta-data {width:92.9%;margin:-60px 0px 0px 0px;line-height:1.5;}
.photo-meta-data .data {font-size:9px;}
.photo-meta-data .date {font-size:7px;}
.post-data h1 {color: #005e96; font-size:14px; margin:0px !important;}
}
@media screen and (max-width: 240px) {body {}
#featured p {font-size: 11px; line-height: 0.8em;}
#social a {font-size:20px;}
.featured-title {font-size: 10px; margin:10px;}
.featured-title01 {font-size: 12px;}
.featured-title02 {font-size: 0.8em;}
#content .post-title {font-size:10px;}
.widget-title, .widget-title-home h3 {font-size:1em;}
.footer-menu li a {font-size:0.6em;}
.featured-subtitle {font-size: 11px;}
.call-to-action a.button {font-size: 12px; padding: 5px 15px;}
.top-widget area, .top-widget select, .top-widget textarea, .top-widget input[type="text"], .top-widget input[type="password"] {width: 75%;}
.widget-title, .widget-title-home h3 {font-size: 14px; height: 13px; line-height: 13px; text-align: center;}
.slidecontrols {display:none;}
.photo-meta-data {width:93.6%;margin:-60px 0px 0px 0px;line-height:1.5;}
.photo-meta-data .data {font-size:9px;}
.photo-meta-data .date {font-size:7px;}
}
/*The last 29 days of the month are the hardest."- Nikola Tesla*/

/*Special Fonts*/
@font-face {font-family: 'heydings_iconsregular'; src: url('css/heydings_icons-webfont.eot')/*tpa=http://www.loews.com/loews-content/themes/loews/css/heydings_icons-webfont.eot*/; src: url('css/heydings_icons-webfont.eot-#iefix')/*tpa=http://www.loews.com/loews-content/themes/loews/css/heydings_icons-webfont.eot?#iefix*/ format('embedded-opentype'), url('css/heydings_icons-webfont.woff')/*tpa=http://www.loews.com/loews-content/themes/loews/css/heydings_icons-webfont.woff*/ format('woff'), url('css/heydings_icons-webfont.ttf')/*tpa=http://www.loews.com/loews-content/themes/loews/css/heydings_icons-webfont.ttf*/ format('truetype'), url('Unknown_83_filename#heydings_iconsregular')/*tpa=http://www.loews.com/loews-content/themes/loews/heydings_icons-webfont.svg#heydings_iconsregular*/ format('svg'); font-weight: normal; font-style: normal;}
@font-face {font-family: 'modern_pictogramsnormal'; src: url('css/modernpics-webfont.eot')/*tpa=http://www.loews.com/loews-content/themes/loews/css/modernpics-webfont.eot*/; src: url('css/modernpics-webfont.eot-#iefix')/*tpa=http://www.loews.com/loews-content/themes/loews/css/modernpics-webfont.eot?#iefix*/ format('embedded-opentype'), url('css/modernpics-webfont.woff')/*tpa=http://www.loews.com/loews-content/themes/loews/css/modernpics-webfont.woff*/ format('woff'), url('css/modernpics-webfont.ttf')/*tpa=http://www.loews.com/loews-content/themes/loews/css/modernpics-webfont.ttf*/ format('truetype'), url('Unknown_83_filename#modern_pictogramsnormal')/*tpa=http://www.loews.com/loews-content/themes/loews/modernpics-webfont.svg#modern_pictogramsnormal*/ format('svg'); font-weight: normal; font-style: normal;}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on January 21, 2013 04:27:18 AM America/New_York */



@font-face {
    font-family: 'OpenSansLight';
    src: url('css/OpenSans-Light-webfont.eot')/*tpa=http://www.loews.com/loews-content/themes/loews/css/OpenSans-Light-webfont.eot*/;
    src: url('css/OpenSans-Light-webfont.eot-#iefix')/*tpa=http://www.loews.com/loews-content/themes/loews/css/OpenSans-Light-webfont.eot?#iefix*/ format('embedded-opentype'),
         url('css/OpenSans-Light-webfont.woff')/*tpa=http://www.loews.com/loews-content/themes/loews/css/OpenSans-Light-webfont.woff*/ format('woff'),
         url('css/OpenSans-Light-webfont.ttf')/*tpa=http://www.loews.com/loews-content/themes/loews/css/OpenSans-Light-webfont.ttf*/ format('truetype'),
         url('css/OpenSans-Light-webfont.svg#OpenSansLight')/*tpa=http://www.loews.com/loews-content/themes/loews/css/OpenSans-Light-webfont.svg#OpenSansLight*/ format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansLightItalic';
    src: url('css/OpenSans-LightItalic-webfont.eot')/*tpa=http://www.loews.com/loews-content/themes/loews/css/OpenSans-LightItalic-webfont.eot*/;
    src: url('css/OpenSans-LightItalic-webfont.eot-#iefix')/*tpa=http://www.loews.com/loews-content/themes/loews/css/OpenSans-LightItalic-webfont.eot?#iefix*/ format('embedded-opentype'),
         url('css/OpenSans-LightItalic-webfont.woff')/*tpa=http://www.loews.com/loews-content/themes/loews/css/OpenSans-LightItalic-webfont.woff*/ format('woff'),
         url('css/OpenSans-LightItalic-webfont.ttf')/*tpa=http://www.loews.com/loews-content/themes/loews/css/OpenSans-LightItalic-webfont.ttf*/ format('truetype'),
         url('css/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic')/*tpa=http://www.loews.com/loews-content/themes/loews/css/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic*/ format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('css/OpenSans-Regular-webfont.eot')/*tpa=http://www.loews.com/loews-content/themes/loews/css/OpenSans-Regular-webfont.eot*/;
    src: url('css/OpenSans-Regular-webfont.eot-#iefix')/*tpa=http://www.loews.com/loews-content/themes/loews/css/OpenSans-Regular-webfont.eot?#iefix*/ format('embedded-opentype'),
         url('css/OpenSans-Regular-webfont.woff')/*tpa=http://www.loews.com/loews-content/themes/loews/css/OpenSans-Regular-webfont.woff*/ format('woff'),
         url('css/OpenSans-Regular-webfont.ttf')/*tpa=http://www.loews.com/loews-content/themes/loews/css/OpenSans-Regular-webfont.ttf*/ format('truetype'),
         url('css/OpenSans-Regular-webfont.svg#OpenSansRegular')/*tpa=http://www.loews.com/loews-content/themes/loews/css/OpenSans-Regular-webfont.svg#OpenSansRegular*/ format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansItalic';
    src: url('css/OpenSans-Italic-webfont.eot')/*tpa=http://www.loews.com/loews-content/themes/loews/css/OpenSans-Italic-webfont.eot*/;
    src: url('css/OpenSans-Italic-webfont.eot-#iefix')/*tpa=http://www.loews.com/loews-content/themes/loews/css/OpenSans-Italic-webfont.eot?#iefix*/ format('embedded-opentype'),
         url('css/OpenSans-Italic-webfont.woff')/*tpa=http://www.loews.com/loews-content/themes/loews/css/OpenSans-Italic-webfont.woff*/ format('woff'),
         url('css/OpenSans-Italic-webfont.ttf')/*tpa=http://www.loews.com/loews-content/themes/loews/css/OpenSans-Italic-webfont.ttf*/ format('truetype'),
         url('css/OpenSans-Italic-webfont.svg#OpenSansItalic')/*tpa=http://www.loews.com/loews-content/themes/loews/css/OpenSans-Italic-webfont.svg#OpenSansItalic*/ format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansSemibold';
    src: url('css/OpenSans-Semibold-webfont.eot')/*tpa=http://www.loews.com/loews-content/themes/loews/css/OpenSans-Semibold-webfont.eot*/;
    src: url('css/OpenSans-Semibold-webfont.eot-#iefix')/*tpa=http://www.loews.com/loews-content/themes/loews/css/OpenSans-Semibold-webfont.eot?#iefix*/ format('embedded-opentype'),
         url('css/OpenSans-Semibold-webfont.woff')/*tpa=http://www.loews.com/loews-content/themes/loews/css/OpenSans-Semibold-webfont.woff*/ format('woff'),
         url('css/OpenSans-Semibold-webfont.ttf')/*tpa=http://www.loews.com/loews-content/themes/loews/css/OpenSans-Semibold-webfont.ttf*/ format('truetype'),
         url('css/OpenSans-Semibold-webfont.svg#OpenSansSemibold')/*tpa=http://www.loews.com/loews-content/themes/loews/css/OpenSans-Semibold-webfont.svg#OpenSansSemibold*/ format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansSemiboldItalic';
    src: url('css/OpenSans-SemiboldItalic-webfont.eot')/*tpa=http://www.loews.com/loews-content/themes/loews/css/OpenSans-SemiboldItalic-webfont.eot*/;
    src: url('css/OpenSans-SemiboldItalic-webfont.eot-#iefix')/*tpa=http://www.loews.com/loews-content/themes/loews/css/OpenSans-SemiboldItalic-webfont.eot?#iefix*/ format('embedded-opentype'),
         url('css/OpenSans-SemiboldItalic-webfont.woff')/*tpa=http://www.loews.com/loews-content/themes/loews/css/OpenSans-SemiboldItalic-webfont.woff*/ format('woff'),
         url('css/OpenSans-SemiboldItalic-webfont.ttf')/*tpa=http://www.loews.com/loews-content/themes/loews/css/OpenSans-SemiboldItalic-webfont.ttf*/ format('truetype'),
         url('css/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic')/*tpa=http://www.loews.com/loews-content/themes/loews/css/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic*/ format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansBold';
    src: url('css/OpenSans-Bold-webfont.eot')/*tpa=http://www.loews.com/loews-content/themes/loews/css/OpenSans-Bold-webfont.eot*/;
    src: url('css/OpenSans-Bold-webfont.eot-#iefix')/*tpa=http://www.loews.com/loews-content/themes/loews/css/OpenSans-Bold-webfont.eot?#iefix*/ format('embedded-opentype'),
         url('css/OpenSans-Bold-webfont.woff')/*tpa=http://www.loews.com/loews-content/themes/loews/css/OpenSans-Bold-webfont.woff*/ format('woff'),
         url('css/OpenSans-Bold-webfont.ttf')/*tpa=http://www.loews.com/loews-content/themes/loews/css/OpenSans-Bold-webfont.ttf*/ format('truetype'),
         url('css/OpenSans-Bold-webfont.svg#OpenSansBold')/*tpa=http://www.loews.com/loews-content/themes/loews/css/OpenSans-Bold-webfont.svg#OpenSansBold*/ format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansBoldItalic';
    src: url('css/OpenSans-BoldItalic-webfont.eot')/*tpa=http://www.loews.com/loews-content/themes/loews/css/OpenSans-BoldItalic-webfont.eot*/;
    src: url('css/OpenSans-BoldItalic-webfont.eot-#iefix')/*tpa=http://www.loews.com/loews-content/themes/loews/css/OpenSans-BoldItalic-webfont.eot?#iefix*/ format('embedded-opentype'),
         url('css/OpenSans-BoldItalic-webfont.woff')/*tpa=http://www.loews.com/loews-content/themes/loews/css/OpenSans-BoldItalic-webfont.woff*/ format('woff'),
         url('css/OpenSans-BoldItalic-webfont.ttf')/*tpa=http://www.loews.com/loews-content/themes/loews/css/OpenSans-BoldItalic-webfont.ttf*/ format('truetype'),
         url('css/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic')/*tpa=http://www.loews.com/loews-content/themes/loews/css/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic*/ format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansExtrabold';
    src: url('css/OpenSans-ExtraBold-webfont.eot')/*tpa=http://www.loews.com/loews-content/themes/loews/css/OpenSans-ExtraBold-webfont.eot*/;
    src: url('css/OpenSans-ExtraBold-webfont.eot-#iefix')/*tpa=http://www.loews.com/loews-content/themes/loews/css/OpenSans-ExtraBold-webfont.eot?#iefix*/ format('embedded-opentype'),
         url('css/OpenSans-ExtraBold-webfont.woff')/*tpa=http://www.loews.com/loews-content/themes/loews/css/OpenSans-ExtraBold-webfont.woff*/ format('woff'),
         url('css/OpenSans-ExtraBold-webfont.ttf')/*tpa=http://www.loews.com/loews-content/themes/loews/css/OpenSans-ExtraBold-webfont.ttf*/ format('truetype'),
         url('css/OpenSans-ExtraBold-webfont.svg#OpenSansExtrabold')/*tpa=http://www.loews.com/loews-content/themes/loews/css/OpenSans-ExtraBold-webfont.svg#OpenSansExtrabold*/ format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansExtraboldItalic';
    src: url('css/OpenSans-ExtraBoldItalic-webfont.eot')/*tpa=http://www.loews.com/loews-content/themes/loews/css/OpenSans-ExtraBoldItalic-webfont.eot*/;
    src: url('css/OpenSans-ExtraBoldItalic-webfont.eot-#iefix')/*tpa=http://www.loews.com/loews-content/themes/loews/css/OpenSans-ExtraBoldItalic-webfont.eot?#iefix*/ format('embedded-opentype'),
         url('css/OpenSans-ExtraBoldItalic-webfont.woff')/*tpa=http://www.loews.com/loews-content/themes/loews/css/OpenSans-ExtraBoldItalic-webfont.woff*/ format('woff'),
         url('css/OpenSans-ExtraBoldItalic-webfont.ttf')/*tpa=http://www.loews.com/loews-content/themes/loews/css/OpenSans-ExtraBoldItalic-webfont.ttf*/ format('truetype'),
         url('css/OpenSans-ExtraBoldItalic-webfont.svg#OpenSansExtraboldItalic')/*tpa=http://www.loews.com/loews-content/themes/loews/css/OpenSans-ExtraBoldItalic-webfont.svg#OpenSansExtraboldItalic*/ format('svg');
    font-weight: normal;
    font-style: normal;

}

.splfont{font-family: 'heydings_iconsregular';}
.splfont01{font-family: 'modern_pictogramsnormal';}
.HRegular{font-family: 'OpenSansRegular';}
.HBold{font-family: 'OpenSansBold';}
.HLight{font-family: 'OpenSansLight';}
.HMedium{font-family: 'OpenSansRegular';}

#content_id img {display:none;}
#tabs-container {font-size:12px; font-weight:normal;}

.clock {margin:0 10px; padding:0px;}
#Date { font-family:'BebasNeueRegular', Arial, Helvetica, sans-serif; font-size:36px; text-align:center; text-shadow:0 0 5px #00c6ff; display:none;}
ul.time {margin:0 auto; padding:0px; list-style:none; text-align:center; }
ul.time li { display:inline; text-align:center;}
#point { position:relative; -moz-animation:mymove 1s ease infinite; -webkit-animation:mymove 1s ease infinite; padding:0px;}
.sliderCont{display:none;}

    @media screen and (max-width: 400px)
    {
        .embossed02 .col-220
        {
            float: none !important;
        }
    }