@charset "UTF-8";
/* SpryMenuBasic.css - version 0.5 - Spry Pre-Release 1.7 */
/* Copyright (c) 2010. Adobe Systems Incorporated. All rights reserved. */
 
/* Resets for ul and li in menus */
.MenuBar  .MenuBarView, .MenuBar  .SubMenuView {
	display:block;
	list-style:none;
	margin:0;
	padding:0;	
}

/*** Layout Rules for Basic Menu ***/

/* Top Level MenuBar
 * Because we float the MenuItemContainers in the MenuBar, we have to make sure the menubar wrapper expands to hold them all.
 * The simplest way is to float the widget wrapper 
 */
.MenuBar { /* overridden by .MenuBarVertical version of this rule */
	float:left;
	width:100%;
}

.MenuBarVertical {
	float:left;	/* Used to make menubar shirink to fit contents */
	width:auto;
}

/* SubMenus */
.MenuBar .SubMenu {
	display:block;
	position:absolute;
	top:0;
	left:-10000px; /* By default, all non-visible submenus are hidden by moving way to the west */
	padding:0;
}
/* First level of submenus - pulls down from horizontal menubar, right from vertical */
.MenuBar .SubMenuVisible{ /* overridden by .MenuBarVertical version of this rule */
	top:100%;
	left:0px;
}
.MenuBarVertical .SubMenuVisible {
	top:0px;
	left:100%;
}
/* All submenus below level 1. All pullout to the right */
.MenuBar .SubMenu .SubMenuVisible {
	display:block;
	position:absolute;
	top:0px;
	left:100%;
}

/* MenuItems, MenuItemLabels, and MenuItemContainers */
.MenuBar .MenuItem {
	display:block;
	text-decoration:none;
}
.MenuBar .MenuItemLabel {
	display:block;
}
.MenuBar .MenuItemContainer {
	position:relative;
	white-space: normal; /* alisa changed from 'nowrap' to get long menu labels to go to two lines */
	float:left; /* overridden by .MenuBarVertical version of this rule */
	display:block;
	margin:0;
	padding:0;	
}
.MenuBarVertical .MenuItemContainer {
	float:none;
}
.MenuBar .SubMenu .MenuItemContainer {
	float:none;
}
/* End Layout section */

/* 
* Arrows - This section specifies arrow images for a submenu dropdowns in Basic SpryMenu. 
*/
.MenuBar .MenuItemLabel{
	background-image:none; 
}

/* For all arrows used here, we depend upon the image to push itself away from right edge, or the user can add right padding to the MenuItem */
.MenuBar .SubMenu .MenuItemWithSubMenu .MenuItemLabel{
	background-image:url("images/ArrowMenuRight_white.gif")/*tpa=http://www.eogresources.com/Spry-UI-1.7/css/Menu/basic/images/ArrowMenuRight_white.gif*/;
	background-position:93% center;  /* alisa changed from 'right' to '93%' */
	background-repeat:no-repeat;
}
.MenuBar .SubMenu .MenuItemHover.MenuItemWithSubMenu .MenuItemLabel{
	background-image:url("images/ArrowMenuRight.gif")/*tpa=http://www.eogresources.com/Spry-UI-1.7/css/Menu/basic/images/ArrowMenuRight.gif*/;
	background-position:93% center;
	background-repeat:no-repeat;
}

/* Begin SpryMenuBasicSkin.css - version 0.5 - Spry Pre-Release 1.7 */
/* Copyright (c) 2010. Adobe Systems Incorporated. All rights reserved. */

.MenuBar  {
	background-color: transparent;
	font-family: Arial, Helvetica, sans-serif; /* Specify fonts on on MenuBar and subMenu MenuItemContainer, so MenuItemContainer,
												MenuItem, and MenuItemLabel
												at a given level all use same definition for ems.
												Note that this means the size is also inherited to child submenus, 
												so use caution in using relative sizes other than
												100% on submenu fonts. */
	font-weight: bold;
	/*font-size: 9px;
	font-style: normal;*/
	padding:0;	
	/*border-color: #ffffff #ffffff #ffffff #ffffff;*/
	border-width:0px;
	border-style: none none none none;
	margin-left: 13px;
	margin-top: 5px;
	letter-spacing: .08em;
}
/* Caution: because ID+class selectors do not work properly in IE6, but we want to restrict these rules to just this
widget instance, we have used string-concatenated classnames for our selectors for the layout type of the menubar 
in this section. These have very low specificity, so be careful not to accidentally override them. */

.MenuBar br { /* using just a class so it has same specificity as the ".MenuBarFixedCentered br" rule bleow */
	display:none;
}
.MenuBarLeftShrink {
	float: left; /* shrink to content, as well as float the MenuBar */
	width: auto;
}
.MenuBarRightShrink {
	float: right; /* shrink to content, as well as float the MenuBar */
	width: auto;
}
.MenuBarFixedLeft {
	float: left;
	width: 80em;
}
.MenuBarFixedCentered {
	float: none;
	width: 80em;
	margin-left:auto;
	margin-right:auto;
}
.MenuBarFixedCentered br {
	clear:both;
	display:block;
}
.MenuBarFixedCentered .SubMenu br {
	display:none;
}
.MenuBarFullwidth {
	float: left;
	width: 100%;
}

/* Top level menubar items - these actually apply to all items, and get overridden for 1st or successive level submenus */
.MenuBar .MenuItemContainer {
	padding: 0px 0px 0px 0px; 
	margin: 0; 	/* Zero out margin  on the item containers. The MenuItem is the active hover area.
				For most items, we have to do top or bottom padding or borders only on the MenuItem 
				or a child so we keep the entire submenu tiled with items.
				Setting this to 0 avoids "dead spots" for hovering. */
}
#MenuBar .MenuItem {
	padding: 0px 0px 0px 0px; 
	margin-right: 11px;
	background-color: transparent;	
	/*border-width:1px;
	border-color: #cccccc #ffffff #cccccc #ffffff; 
	border-style: none solid none solid;*/
}
#MenuBar .MenuItemFirst {
	border-style: none;
	/*padding: 0px 0px 0px 0px;*/
}
.MenuBar .MenuItemLast {
	border-style: none none none none;
}

.MenuBar  .MenuItem  .MenuItemLabel{
	text-align:left;
	line-height:1.4em;
	/*color: none;*/
	background-color: transparent;
	padding: 0px 0px 0px 0px; /*padding: 5px 0px 0px 0px;*/
	/*width: 6em;
	width:auto; */
}
.SpryIsIE6 .MenuBar  .MenuItem  .MenuItemLabel{
	width:1em; /* Equivalent to min-width in modern browsers */
}

/* First level submenu items */
.MenuBar .SubMenu  .MenuItem {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	/*font-style: normal;
	background-color: #ffffff;
	padding:0px 2px 0px 0px;*/
	border-width: 0px;
	/*border-color: #d88486 #d88486 #d88486 #d88486;*/
	/* Border styles are overriden by first and last items */
	border-style: solid solid none solid;
	width: 167px;
}
.MenuBar .SubMenu .MenuItemFirst {
	border-width: 0px;
	border-style: none none none none;
	border-color: #d88486 #d88486 #d88486 #d88486;
}
.MenuBar .SubMenu .MenuItemFirst .MenuItemLabel{
	padding-top: 6px;
}
.MenuBar .SubMenu .MenuItemLast {
	border-width: 0px;
	border-style: solid solid solid solid;
}
.MenuBar .SubMenu .MenuItemLast .MenuItemLabel{
	padding-bottom: 6px; 
}
.MenuBar .SubMenu .MenuItem .MenuItemLabel{
	text-align:left;
	line-height:1.4em;
	background-color: #aa2124;
	color: #ffffff;
	padding: 4px 6px 4px 6px; 
	width: 167px;
	border-width: 1px;
	border-color: #d88486;
	border-style: none solid solid solid;
}

/* Hover states for containers, items and labels */
.MenuBar .MenuItemHover {
	background-color: transparent;
	border-color: #cccccc #cccccc #cccccc #cccccc; 
}

.MenuBar .MenuItemWithSubMenu.MenuItemHover .MenuItemLabel{
	background-color: transparent; /* consider exposing this prop separately*/
	/*color: #000000;*/
}
.MenuBar .MenuItemHover .MenuItemLabel{
	background-color: transparent;
	color: none;
}
.MenuBar .SubMenu .MenuItemHover {
	background-color: #cccccc; 
	border-color: #cccccc #cccccc #cccccc #cccccc; 
}

.MenuBar .SubMenu .MenuItemHover .MenuItemLabel{
	background-color: #cc0000;
	color: #ffffff;
}
/* Submenu properties -- First level of submenus */
.MenuBar .SubMenuVisible {
	/*background-color: #ffffff;*/
	min-width:0%;  /*This keeps the menu from being skinnier than the parent MenuItemContainer - nice to have but not available on ie6 */
	border-color: #5c0000 #5c0000 #5c0000 #5c0000; 
	border-width: 1px;
	border-style: solid solid solid solid;
	width: 181px;
}
.MenuBar.MenuBar .SubMenuVisible {/* For Horizontal menubar only */
	top: 100%;	/* 100% is at the bottom of parent menuItemContainer */
	left:0px; /* 'left' may need tuning depending upon borders or padding applied to menubar MenuItemContainer or MenuItem, 
					and your personal taste.
					0px will left align the dropdown with the content area of the MenuItemContainer. Assuming you keep the margins 0 
					on MenuItemContainer and MenuItem on the parent
					menubar, making this equal the sum of the MenuItemContainer & MenuItem padding-left will align 
					the dropdown with the left of the menu item label.*/
	z-index:10;
}
.MenuBar.MenuBarVertical .SubMenuVisible {
	top: 0px;	
	left:100%;
	min-width:0px; /* Do not neeed to match width to parent MenuItemContainer - items will prevent total collapse */
}
/* Submenu properties -- Second level submenu and beyond - these are visible descendents of .MenuLevel1 */
.MenuBar .MenuLevel1 .SubMenuVisible {
	background-color: #ffffff;
	min-width:0px; /* Do not neeed to match width to parent MenuItemContainer - items will prevent total collapse*/
	top: 2px;	/* If desired, you can move this down a smidge to separate top item''s submenu from menubar - 
				that is really only needed for submenu on first item of MenuLevel1, or you can make it negative to make submenu more
				vertically 'centered' on its invoking item */
	left:100%;
	margin-left: -8px; /* If you want to shift the submenu left to partially cover its invoking item, you can add a margin-left with a 
				negative value to this rule. Alternatively, if you use fixed-width items, you can change this left value
				to use px or ems to get the offset you want. */
}