@charset "utf-8";
/* CSS Document */

/* --------------------------------------
  Footer
  --------------------------------------- */
 
#footer {
    border-top: 1px solid #747474;
    background-color: #000; 
	background-repeat: repeat-x;
    clear: both;
    line-height: 10px;
	font-family: "myriad-pro-condensed";
	text-decoration:none !important;
	font-family: sans-serif;
	font-weight:600;
	font-size: 10px;


}

#footer-left {
    padding: 10px 0 10px 10px;
    float: left;
	color: #dededc;
	width: 190px;
}

.footer_text {
    line-height:17px;
	text-align:center;
	padding:0;
	margin:0;	
}

#footer-right {
    padding: 2px 0 0 0;
    float: right;
    letter-spacing: .07em;
    text-transform: uppercase;
	color: #7eb9e8;
	font-family: "myriad-pro-condensed";
	text-decoration:none !important;
	font-family: sans-serif;
	font-weight:600;


}

#footer-right a:link { color: #7eb9e8;  }
#footer-right a:visited { color: #7eb9e8; }
#footer-right a:hover { color: #7eb9e8; }

.footer-col { 
    text-align:left;
	float: left; 
	padding-right: 6px;	
	font-family: "myriad-pro-condensed";
	text-decoration:none !important;
	font-family: sans-serif;
	font-weight:600;
	font-size: 8px !important;
	font-height: 16px;
	width:150px;
}

.footer-col LI { 
	margin-left:0;
}

.last { padding-right: 0; }

/* --------------------------------------
  Sticky Footer
  --------------------------------------- */
  
html, body {height: 100%;}

#wrap {min-height: 100%;}

#main-sticky {
  overflow:auto;
	padding-bottom: 100px;  /* must be same height as the footer (plus margin above footer) */
}

#footer {
  position: relative;
	margin-top: -20px; 
	height: 140px;
	clear:both;
} 
