body
{
scrollbar-face-color: #FFFFFF;
scrollbar-shadow-color: #FFFFFF;
scrollbar-highlight-color: #F7F3F2;
scrollbar-3dlight-color: #FFFFFF;
scrollbar-darkshadow-color: #F7F3F2;
scrollbar-track-color: #F7F3F2;
scrollbar-arrow-color: #683318;
}