/* links */

a:link {
	color:#000000;
	text-decoration: none;
}

a:visited {
	color:#000000;
	text-decoration: none;
}

a:active {
	color:#000000;
	text-decoration: none;
}

a:hover {
	color:#CC6600;
}

/*HOME*/
.HomeNews {font-weight: normal; font-size: 13px; line-height: 13pt; color: #000000; font-family: arial, helvetica, verdana, sans-serif;
	clear: none;
	margin-top: -8px;
}

.Webcast {
	font-weight: bold;
	font-size: 13px;
	line-height: 13pt;
	color: #000000;
	font-family: arial, helvetica, verdana, sans-serif;
	clear: none;
	margin-top: -8px;
}

.HomeNewsBlue {font-weight: normal; font-size: 13px; line-height: 13pt; color: #000000; font-family: arial, helvetica, verdana, sans-serif;
	clear: none;
	margin-top: -8px;
}

.Homefcx {font-weight: normal; font-size: 16px; line-height: 16pt; color: #000000; font-family: arial, helvetica, verdana, sans-serif;
	clear: none;
	margin-top: -8px;
}
.tk-myriad-pro-condensed {
	font-family: "myriad-pro-condensed";	

}
.tk-myriad-pro-semi-condensed {
	font-family: "myriad-pro-semi-condensed";	
}

.tk-proxima-nova-extra-condensed {
	font-family: "tk-proxima-nova-extra-condensed";	
}


.tk-proxima-nova-condensed {
	font-family: "tk-proxima-nova-condensed","proxima-nova-condensed";
}

.proxGold_italic22  {
	text-align: left;
	position: relative;
	font-size: 22px;
	font-style: italic;
	font-weight: bold;
	font-family: "tk-proxima-nova-condensed","proxima-nova-condensed";
	color:#d49039;
}



.proxima_italic_16bold  {
	text-align: left;
	position: relative;
	font-size: 16px;
	font-style: italic;
	font-weight: bold;
	font-family: "tk-proxima-nova-condensed","proxima-nova-condensed";
	color:#000000;
}
	
.Latest_italic16bold {
	text-align: left;
	position: relative;
	font-size: 16px;
	font-style: italic;
	font-weight: 900
	font-family: "myriad-pro-semi-condensed";
	color:#000000;
}
.Latest_italic_14bold {
	text-align: left;
	position: relative;
	font-size: 14px;
	font-style: italic;
	font-weight: 900
	font-family: "myriad-pro-semi-condensed";
	color:#000000;

}
.Gold_italic_22bold {
	text-align: left; 
	position: relative;
	font-size: 22px;
	font-style: italic;
	font-weight: 800
	font-family: "myriad-pro-semi-condensed";
	color:#d49039;
	text-decoration:none !important;
}

.CoResourc_prox_black {
	text-align: left;
	position: relative;
	font-size: 16px;
	font-style: italic;
	font-weight: bold;
	font-family: "tk-proxima-nova-condensed","proxima-nova-condensed";
	color: #000000;
	border-bottom: 1pt solid #7d5046;
	padding-bottom:2px;
	white-space:nowrap;
}

.CoResourc_prox_gold {
	text-align: left;
	position: relative;
	font-size: 16px;
	font-style: italic;
	font-weight: bold;
	font-family: "tk-proxima-nova-condensed","proxima-nova-condensed";
	color: #d49039;
	border-bottom: 1px solid #d49039;
	padding-bottom:2px;
	white-space:nowrap;	
}

.CoResourc_prox_gold a:link {
	color:#d49039;
	text-decoration: none;
		font-style: italic;
	font-weight: bold;
}

.CoResourc_prox_gold a:visited {
	color:#d49039;
	text-decoration: none;
	font-style: italic;
	font-weight: bold;
}

.CoResourc_prox_gold a:active {
	color:#d49039;
	text-decoration: none;
	font-style: italic;
	font-weight: bold;
}

.CoResourc_prox_gold a:hover {
	color:#d49039;
}
.blue12_bold {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #039dc2;
}

.HomeNews A:link {
	color: #0000000; 
	text-decoration: none;
	/* font-weight: bold;*/
}
.HomeNews A:active {
	color: #0000000;
	font-weight: bold; 
	text-decoration: none;
	/* font-weight: bold;*/
}
.HomeNews A:visited {
	color: #0000000; 
	text-decoration: none;
	/* font-weight: bold;*/
}
.HomeNews A:hover {
	color: #0000000; 
	text-decoration: underline;
	/* font-weight: bold;*/
}

.HomeNewsBlue A:link {
	color: #009AD0;
	text-decoration: none;	/* font-weight: bold;*/
	font-weight: bold;
}
.HomeNewsBlue A:active {
	color: #009AD0;
	font-weight: bold; 
	text-decoration: none;
	/* font-weight: bold;*/
}
.HomeNewsBlue A:visited {
	color: #009AD0;
	text-decoration: none;
	font-weight: bold;	/* font-weight: bold;*/
}
.HomeNewsBlue A:hover {
	color: #009AD0;
	text-decoration: underline;
	font-weight: bold;	/* font-weight: bold;*/
}

.More {font-weight: bold; font-size: 11px; color: #3D3D3D; font-family: arial, helvetica, verdana, sans-serif;
	margin-bottom: 20px;
	padding-right: 15px;
	padding-left: 0px;
	padding-bottom: 0;
	clear: both;
}
.More A:link {font-weight: bold; color: #683318; text-decoration: none;}
.More A:active {font-weight: bold; color: #683318; text-decoration: none;}
.More A:visited {font-weight: bold; color: #683318; text-decoration: none;}
.More A:hover {font-weight: bold; color: #683318; text-decoration: underline;}

/* BODY */

.Body {font-weight: normal; font-size: 13px; line-height: 13pt; color: #000000; font-family: arial, helvetica, verdana, sans-serif;
	clear: none;
}

.Body A:link {
	color: #039dc2; 
	text-decoration: none;
	font-weight: bold;
}
.Body A:active {
	color: #039dc2; 
	text-decoration: none;
	font-weight: bold;
}
.Body A:visited {
	color: #039dc2; 
	text-decoration: none;
	font-weight: bold;
}
.Body A:hover {
	color: #2ac5ea; 
	text-decoration: underline;
	font-weight: bold;
}

.BodyClear {font-weight: normal; font-size: 13px; line-height: 13pt; color: #000000; font-family: arial, helvetica, verdana, sans-serif;
	clear: both;
}

.Highlight { color: #000000;
	font: bold 14px/14pt helvetica, arial, verdana, sans-serif;
}


.TextSearch {font-weight: normal; font-size: 13px; line-height: 13pt; color: #000000; font-family: arial, helvetica, verdana, sans-serif;}

.TextSearch A:link {
	color: #039dc2; 
	text-decoration: underline;
	font-weight: bold;
}
.TextSearch A:active {
	color: #039dc2; 
	text-decoration: underline;
	font-weight: bold;
}
.TextSearch A:visited {
	color: #039dc2; 
	text-decoration: underline;
	font-weight: bold;
}
.TextSearch A:hover {
	color: #2ac5ea; 
	text-decoration: underline;
	font-weight: bold;
}

#homeResourceH3 {
	margin: 0;
	padding: 0;	
}

.Company_descrip {
	font-family: "ff-meta-serif-web-pro","FF Meta Serif Web Pro",serif;
	width:95%;
	padding-top:0;
	margin-top:0;
	line-height:1.7;
}


.Relevance { color: #000000;
	text-align: right;
	padding-bottom: 10px;
	font: bold 12px/12pt arial, helvetica, verdana, sans-serif;
}

.Relevance A:link {
	color: #039dc2; 
	text-decoration: underline;
	font-weight: bold;
}
.Relevance A:active {
	color: #039dc2; 
	text-decoration: underline;
	font-weight: bold;
}
.Relevance A:visited {
	color: #039dc2; 
	text-decoration: underline;
	font-weight: bold;
}
.Relevance A:hover {
	color: #2ac5ea; 
	text-decoration: underline;
	font-weight: bold;
}

/* COLUMNS */

.DateLeft {font-weight: normal; font-size: 11px; line-height: 11pt; color: #000000; font-family: arial, helvetica, verdana, sans-serif;
	text-align: left;
	vertical-align: top;
	float: left;
	position: relative;
	margin-top: -3px;
}

.DateLeft A:link {
	color: #039dc2; 
	text-decoration: none;
	font-weight: bold;
}
.DateLeft A:active {
	color: #039dc2; 
	text-decoration: none;
	font-weight: bold;
}
.DateLeft A:visited {
	color: #039dc2; 
	text-decoration: none;
	font-weight: bold;
}
.DateLeft A:hover {
	color: #2ac5ea; 
	text-decoration: underline;
	font-weight: bold;
}

.BodyRight {font-weight: normal; font-size: 11px; line-height: 11pt; color: #000000; font-family: arial, helvetica, verdana, sans-serif;
	float: right;
	clear: none;
	position: relative;
	width: 370px;
	margin-top: -3px;
}

.BodyRight A:link {
	color: #039dc2; 
	text-decoration: none;
	font-weight: bold;
}
.BodyRight A:active {
	color: #039dc2; 
	text-decoration: none;
	font-weight: bold;
}
.BodyRight A:visited {
	color: #039dc2; 
	text-decoration: none;
	font-weight: bold;
}
.BodyRight A:hover {
	color: #2ac5ea; 
	text-decoration: underline;
	font-weight: bold;
}

/* TITLE/SUBTITLE */

.Title {font-weight: normal; font-size: 23px; color: #000000; font-family: helvetica, arial, verdana, sans-serif;
	margin-bottom: 20px;
	margin-top: -10px;
	clear: both;
}
.white60 {
	font-weight: bold; 
	font-size: 60px; 
	color: #ffffff; 
	font-family: Helvetica, Arial, Verdana, sans-serif;
	text-align: center;
}

.black32 {font-weight: bold; font-size: 32px; color: #000000; font-family: helvetica, arial, verdana, sans-serif;
	text-align: center;
}
.black24 {font-weight: bold; font-size: 24px; color: #000000; font-family: helvetica, arial, verdana, sans-serif;
	text-align: left;
}

.title_a {font-weight: normal; font-size: 22px; color: #000000; font-family: helvetica, arial, verdana, sans-serif;
	margin-bottom: 20px;
	margin-top: -10px;
	clear: both;
}

.Subtitle { color: #683318;
	font: 18px/19px helvetica, arial, verdana, sans-serif;
	margin-bottom: 10px;
	clear: none;
}


.Subtitle A:link {
	color: #039dc2; 
	text-decoration: none;
	font-weight: bold;
}
.Subtitle A:active {
	color: #039dc2; 
	text-decoration: none;
	font-weight: bold;
}
.Subtitle A:visited {
	color: #039dc2; 
	text-decoration: none;
	font-weight: bold;
}
.Subtitle A:hover {
	color: #2ac5ea; 
	text-decoration: underline;
	font-weight: bold;
}

.SubtitleTable {font-weight: normal; font-size: 15px; line-height: 13pt; color: #683318; font-family: arial, helvetica, verdana, sans-serif;
	float: none;
	clear: both;
	position: relative;
	width: 370px;
}

.Subtitle2 { color: black;
	font: bold 14px/19px helvetica, arial, verdana, sans-serif;
	clear: none;
}

/* COLS SUST REPORT */

.CoverSustReport {font-weight: normal; font-size: 13px; line-height: 13pt; color: #000000; font-family: arial, helvetica, verdana, sans-serif;
	text-align: center;
	vertical-align: top;
	float: left;
	position: relative;
	padding-right: 35px;
	margin-top: 0;
	width: 180px;
}

.CaptionSustReport {
	font-weight: normal;
	font-size: 11px;
	line-height: 11pt;
	color: #000000;
	font-family: arial, helvetica, verdana, sans-serif;
	text-align: center;
	vertical-align: top;
	float: left;
	position: relative;
	margin-top: 10px;
	width: 200px;
	margin-right: 35px;
	margin-bottom: 10px;
}

.CaptionSustReport A:link {
	color: #039dc2; 
	text-decoration: none;
	font-weight: bold;
}
.CaptionSustReport A:active {
	color: #039dc2; 
	text-decoration: none;
	font-weight: bold;
}
.CaptionSustReport A:visited {
	color: #039dc2; 
	text-decoration: none;
	font-weight: bold;
}
.CaptionSustReport A:hover {
	color: #2ac5ea; 
	text-decoration: underline;
	font-weight: bold;
}

.CaptionSustReportClear {font-weight: normal; font-size: 11px; line-height: 11pt; color: #000000; font-family: arial, helvetica, verdana, sans-serif;
	text-align: center;
	vertical-align: top;
	float: left;
	position: relative;
	margin-top: 10px;
	width: 180px;
	clear: left;
	margin-right: 35px;
	margin-bottom: 10px;
}

.CaptionSustReportClear A:link {
	color: #039dc2; 
	text-decoration: none;
	font-weight: bold;
}
.CaptionSustReportClear A:active {
	color: #039dc2; 
	text-decoration: none;
	font-weight: bold;
}
.CaptionSustReportClear A:visited {
	color: #039dc2; 
	text-decoration: none;
	font-weight: bold;
}
.CaptionSustReportClear A:hover {
	color: #2ac5ea; 
	text-decoration: underline;
	font-weight: bold;
}

/* SUB NAV */

.Languages {
	font-weight: normal; 
	font-size: 11px; 
	color: #000000; 
	font-family: arial, helvetica, verdana, sans-serif;
	}
	
.SecNav {
	font-weight: normal;
	font-size: 14px;
	color: #FFFFFF;
	font-family: arial, helvetica, verdana, sans-serif;
	clear: both;
}
	
.SecNav A:link {
	font-weight: normal; 
	font-size: 14px; 
	color: #6c6d6c; 
	font-family: arial, helvetica, verdana, sans-serif;
	text-decoration: underline;
}

.SecNav A:visited {
	font-weight: normal; 
	font-size: 11px; 
	color: #6c6d6c; 
	font-family: arial, helvetica, verdana, sans-serif;
	text-decoration: underline;
}

.SecNav A:hover {
	font-weight: normal; 
	font-size: 11px; 
	color: #039dc2; 
	font-family: arial, helvetica, verdana, sans-serif;
	text-decoration: underline;
}

.Question { color: #0f667d;
	font: bold 14px helvetica, arial, verdana, sans-serif;
	margin-bottom: 10px;
	clear: both;
}

/* Bullets */

ul.Bullet	{
	list-style-image: url(../art/arrow_transp.gif)/*tpa=http://www.fcx.com/art/arrow_transp.gif*/;
}

li.Bullet	{
	list-style-image: url(../art/arrow_transp.gif)/*tpa=http://www.fcx.com/art/arrow_transp.gif*/;
	margin-left: -15px;
	list-style-position: outside;
	margin-bottom: 5px;
	padding: 0 0px 0px;
}

ul	{
	list-style-image: url(../art/arrow_transp.gif)/*tpa=http://www.fcx.com/art/arrow_transp.gif*/;
	font-family: helvetica, arial, verdana, sans-serif; 
	font-weight: normal; 
	font-size: 13px; 
	line-height: 13pt; 
	color: #000000;
}

li	{
	list-style-image: url(../art/arrow_transp.gif)/*tpa=http://www.fcx.com/art/arrow_transp.gif*/;
	margin-left: -15px;
	list-style-position: outside;
	padding: 0 0px 0px;
	margin-top: 5px;
}

li A:link {
	color: #039dc2; 
	text-decoration: none;
}
li A:active {
	color: #039dc2; 
	text-decoration: none;
}
li A:visited {
	color: #039dc2; 
	text-decoration: none;
}
li A:hover {
	color: #2ac5ea; 
	text-decoration: underline;
}
				
/* SECOND NAV*/

.FirstLevelOn a:link, .FirstLevelOn a:active, .FirstLevelOn a:hover, .FirstLevelOn a:visited, {
    color:#fff;
}


.FirstLevel {
	text-align: left;
	position: relative;
	top: 0;
	left: 0;
	background-image: url(../art/arrow_back.gif)/*tpa=http://www.fcx.com/art/arrow_back.gif*/;
	font: 12px arial, Helvetica, verdana, sans-serif;
	padding-left: 17px;
	padding-top: 4px;
	border-bottom: 1px solid #7d5046;
	padding-bottom: 4px;
	background-color: #f6f5f5;
}


}

.FirstLevelOn {
	text-align: left;
	position: relative;
	top: 0;
	left: 0;
	background-image: url(../art/arrow_back_white.gif)/*tpa=http://www.fcx.com/art/arrow_back_white.gif*/;
	padding-left: 17px;
	padding-top: 4px;
	border-bottom: 1px solid #7d5046;
	padding-bottom: 4px;
	background-color: #22aacc;
	font-family: arial, Helvetica, verdana, sans-serif;
	font-size: 12px;
	color: #ffffff;
}

.SecondLevel {
	text-align: left;
	position: relative;
	top: 0;
	left: 0;
	background-image: url(../art/arrow_back2.gif)/*tpa=http://www.fcx.com/art/arrow_back2.gif*/;
	font: 12px arial, Helvetica, verdana, sans-serif;
	padding-bottom: 4px;
	border-bottom: 1px solid #7d5046;
	padding-left: 30px;
	background-color: white;
	padding-top: 4px;
}

.SecondLevelOn {
	text-align: left;
	position: relative;
	top: 0;
	left: 0;
	background-image: url(../art/arrow_back2.gif)/*tpa=http://www.fcx.com/art/arrow_back2.gif*/;
	font: 12px arial, Helvetica, verdana, sans-serif;
	padding-bottom: 4px;
	border-bottom: 1px solid #7d5046;
	padding-left: 30px;
	background-color: #d9f3f9;
	padding-top: 4px;
}

.ThirdLevel {
	text-align: left;
	position: relative;
	top: 0;
	left: 0;
	background-image: url(../art/arrow_back3.gif)/*tpa=http://www.fcx.com/art/arrow_back3.gif*/;
	font: 12px arial, Helvetica, verdana, sans-serif;
	padding-bottom: 4px;
	border-bottom: 1px solid #7d5046;
	padding-left: 43px;
	background-color: white;
	padding-top: 4px;
}

.ThirdLevelOn {
	text-align: left;
	position: relative;
	top: 0;
	left: 0;
	background-image: url(../art/arrow_back3.gif)/*tpa=http://www.fcx.com/art/arrow_back3.gif*/;
	font: 12px arial, Helvetica, verdana, sans-serif;
	color: #7d5046;
	padding-bottom: 4px;
	border-bottom: 1px solid #7d5046;
	padding-left: 43px;
	background-color: #ecf8fb;
	padding-top: 4px;
}

.FourthLevel {
	text-align: left;
	position: relative;
	top: 0;
	left: 0;
	background-image: url(../art/arrow_back4.gif)/*tpa=http://www.fcx.com/art/arrow_back4.gif*/;
	font: 12px arial, Helvetica, verdana, sans-serif;
	padding-bottom: 4px;
	border-bottom: 1px solid #7d5046;
	padding-left: 56px;
	background-color: white;
	padding-top: 4px;
}

.FourthLevelOn {
	text-align: left;
	position: relative;
	top: 0;
	left: 0;
	background-image: url(../art/arrow_back4.gif)/*tpa=http://www.fcx.com/art/arrow_back4.gif*/;
	font: 12px arial, Helvetica, verdana, sans-serif;
	color: #7d5046;
	padding-bottom: 4px;
	border-bottom: 1px solid #7d5046;
	padding-left: 56px;
	background-color: #ecf8fb;
	padding-top: 4px;
}

/* INV RELATIONS */

.TopResources {
	text-align: left;
	position: relative;
	top: 0;
	left: 0;
	font: bold 12px arial, Helvetica, verdana, sans-serif;
	padding-left: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #7d5046;
	border-top: 1px solid underline;
	border-bottom: 1px solid underline;
	background-color: #FFFFFF;
}

.TopResources_nopadding {
	text-align: left;
	position: relative;
	top: 0;
	left: 0;
	font: bold 12px arial, Helvetica, verdana, sans-serif;
	padding-left: 0px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #30d430;
	border-top: 1px solid underline;
	border-bottom: none;
	background-color: #FFFFFF;
}
.TopResources_homepage {
	text-align: left;
	position: relative;
	top: 0;
	left: 0;
	font: bold 12px arial, Helvetica, verdana, sans-serif;
	padding-left: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	border-top: 1px solid underline;
	border-bottom: none;
	background-color: #ffffff;
}

.TopResources_homepage-blue {
	text-align: left;
	position: relative;
	top: 0;
	left: 0;
	font: bold 12px arial, Helvetica, verdana, sans-serif;
	padding-left: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	border-top: 1px solid underline;
	border-bottom: none;
	background-color: #00acd5;
} 


.LinkResources {
	text-align: left;
	position: relative;
	top: 0;
	left: 0;
	background-image: url(../art/arrow_back1_brown.gif)/*tpa=http://www.fcx.com/art/arrow_back1_brown.gif*/;
	font: 12px arial, Helvetica, verdana, sans-serif;
	color: #00acd5;
	background-color: #ffffff;
	padding-top: 5px;
	padding-right: 1px;
	padding-left: 17px;
	padding-bottom: 5px;
}

.VideoResources {
	text-align: left;
	position: relative;
	top: 0;
	left: 0;
	font: 12px arial, Helvetica, verdana, sans-serif;
	color: #000000;
	background-color: #ffffff;
	padding-top: 5px;
	padding-right: 2px;
	padding-left: 10px;
	padding-bottom: 5px;
}

.CompanyTitle {
	text-align: left;
	position: relative;
	top: 0;
	left: 0;;
	font-size: 14px;
	font-style: italic;
	font-weight: 700
	font-family: "myriad-pro-semi-condensed";
}

.Stock {
	text-align: left;
	position: relative;
	top: 0;
	left: 0;
		font: 12px arial, Helvetica, verdana, sans-serif;
	background-color: #f0eddf;
	padding: 5px 5px 5px 17px;
}



.DropDown {
	zoom: 1;
	text-align: left;
	position: relative;
	top: 0;
	left: 0;
	font-size: 13px;
	font-family: "myriad-pro-condensed";
	background-color: #000000;
	padding: 5px 12px 5px 12px;
	border-left: 0px solid #868479;
	border-right: 0px solid #868479;
	border-bottom: 1px solid #dfab5f;
	opacity: 0.75; 
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	color:#ffffff;
}

.DropDown a:link, .DropDown a:visited, .DropDown a:active {
	color:#ffffff;
	text-decoration:none !important;
	font-family: sans-serif;
	font-weight:600;
	font-size: 12px;
}

.DropDown a:hover {
	color:#009ad0;	
	font-family: sans-serif;
	font-weight:600;
	font-size: 12px;
}

/* RELATED LINKS */

.TopLinks {
	text-align: left;
	position: relative;
	top: 0;
	left: 0;
	font: bold 12px arial, Helvetica, verdana, sans-serif;
	padding-left: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #00acd5;
	border-top: 1px solid underline;
	border-bottom: none;
	background-color: #ffffff;
}

.Links {
	text-align: left;
	position: relative;
	top: 0;
	left: 0;
	background-image: url(../art/arrow_back1.gif)/*tpa=http://www.fcx.com/art/arrow_back1.gif*/;
	font: 12px arial, Helvetica, verdana, sans-serif;
	background-color: #ffffff;
	padding: 5px 5px 5px 17px;
	background-repeat: no-repeat;
}

/* Breadcrumbs */


	
.Breadcrumbs { color: #039dc2;
	font: bold 11px/19px verdana, arial, helvetica, sans-serif;
	margin-bottom: 15px;
}
.Breadcrumbs A:link {font-weight: bold; color: #039dc2; text-decoration: underline}
.Breadcrumbs A:active {font-weight: bold; color: #039dc2; text-decoration: underline}
.Breadcrumbs A:visited {font-weight: bold; color: #039dc2; text-decoration: underline}
.Breadcrumbs A:hover {font-weight: bold; color: #2ac5ea; text-decoration: underline}

/* Extras */

.Bread-high {color: #039dc2;
	font: bold 11px/19px verdana, arial, helvetica, sans-serif;
	margin-bottom: 15px }

.CaptionsRight { color: #000000;
	font: bold 12px/11pt arial, helvetica, verdana, sans-serif;
	float: right;
	clear: both;
	margin-top: 1px;
	padding-left: 25px;
	width: 175px;
}

.CaptionsLeft { color: #000000;
	font: bold 12px/11pt arial, helvetica, verdana, sans-serif;
	float: left;
	clear: both;
	margin-top: 1px;
	width: 175px;
	padding-right: 25px;
}

.Copyright {font-weight: normal; font-size: 10px; color: #C79D81; font-family: arial, helvetica, verdana, sans-serif; padding-right: 15px; margin-bottom:5px; margin-top:5px; }

.BackTop {
	font-weight: bold; 
	font-size: 10px; 
	line-height: 13pt; 
	color: #039dc2; 
	font-family: arial, helvetica, verdana, sans-serif;
	padding-top: 10px;
	padding-bottom: 10px;
	clear: both;
}

.BackTop A:link {
	color: #039dc2; 
	text-decoration: none;
	font-weight: bold;
}
.BackTop A:active {
	color: #039dc2; 
	text-decoration: none;
	font-weight: bold;
}
.BackTop A:visited {
	color: #039dc2; 
	text-decoration: none;
	font-weight: bold;
}
.BackTop A:hover {
	color: #2ac5ea; 
	text-decoration: underline;
	font-weight: bold;
}

/* Ruler */

hr {
  border: none;
  background-color: #E6DBC6;
  color: #E6DBC6;
  height: 1px;
	clear: both;
}
.gri_table_white {
	font-weight: normal;
	font-size: 11px;
	line-height: 11pt;
	color: #000;
	font-family: arial, helvetica, verdana, sans-serif;
	clear: none;
	background-color: #FFF;
	padding-right: 4px;
}




.gri_table_blue {
	font-weight: bold;
	font-size: 11px;
	line-height: 11pt;
	color: #000;
	font-family: arial, helvetica, verdana, sans-serif;
	clear: none;
	background-color: #B4E2ED;
	text-align: center;
	padding-top: 6px;
	padding-bottom: 6px;
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #FFF;
}
.gri_table_grey {
	font-weight: normal;
	font-size: 11px;
	line-height: 11pt;
	color: #000;
	font-family: arial, helvetica, verdana, sans-serif;
	clear: none;
	background-color: #EEE6E4;
	padding-right: 4px;
}
#wrapper #Content table tr td #MainText table .gri_table_white td .griX {
	font-weight: bold;
	font-size: 12px;
}
#wrapper #Content table tr td #MainText table .gri_table_white .griX {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #683318;
	text-decoration: none;
	
	
}
#wrapper #Content table tr td #MainText .Body {
	text-align: left;
}
	
	
.gri_table_tanny {
	font-weight: normal;
	font-size: 11px;
	line-height: 11pt;
	color: #000;
	font-family: arial, helvetica, verdana, sans-serif;
	clear: none;
	background-color: #F0EDDF;
	padding-right: 4px;
}	#wrapper #Content table tr td #MainText table .gri_table_tanny td {
	font-size: 11px;
	text-decoration: none;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #F0EDDF;
}
#wrapper #Content table tr td #MainText table .gri_table_tanny td {
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #F0EDDF;
	font-size: 11px;
	text-decoration: none;
	text-indent: 2px;
	vertical-align: middle;
	font-family: Arial, Helvetica, sans-serif;
}
#wrapper #Content table tr td #MainText table .gri_table_TANLINE td {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #683318;
	padding-right: 4px;
	padding-left: 4px;
	font-size: 11px;
	vertical-align: middle;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #000;
}
#wrapper #Content table tr td #MainText table .gri_table_TANLINE td .griX {
	font-size: 12px;
	font-weight: bold;
	color: #683318;
	text-decoration: none;
}
#wrapper #Content table tr td #MainText table .gri_table_TAN-right {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #683318;
	padding-right: 4px;
	padding-left: 4px;
	font-size: 11px;
	padding-top: 4px;
	padding-bottom: 4px;
}
#wrapper #Content table tr td #MainText table .LINK_BLUE_BOLD {
	font-weight: bold;
	font-size: 11px;
	line-height: 11pt;
	color: #039dc2;
	font-family: arial, helvetica, verdana, sans-serif;
	clear: none;
}
.blue12_bold {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #009ad0;
	text-align: center;
}
.blue14_bold_center {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 14px;

	text-align:center
	font-weight: bolder;
	color: #039DC2;
	text-align: center;
}
.white12_bold {
	font-family: arial, helvetica, verdana, sans-serif;
	padding-left: 5px;
	font-size: 12px;
	font-weight: bolder;
	color: #ffffff;
}
}
.black12_bold_nopadding {
	font-family: arial, helvetica, verdana, sans-serif;
	padding-left: 0px;
	font-size: 12px;
	font-weight: bolder;
	color: #000000;
}
.white10_normal {
	font-family: arial, helvetica, verdana, sans-serif;
	padding-left: 5px;
	font-size: 10px;
	color: #ffffff;
}
.black10_normal_nopadding {
	font-family: arial, helvetica, verdana, sans-serif;
	padding-left: 0px;
	font-size: 10px;
	color: #000000;
}
.white8_bolder {
	font-family: arial, helvetica, verdana, sans-serif;
	padding-left: 10px;
	font-size: 8px;
	font-weight: bolder;
	color: #ffffff;
}
.white8_footnote { /* <sup>number</sup> */
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 8px;
	font-weight: bolder;
	color: #ffffff;
}
.white10_bold_white_indent200 {
	font-family: arial, helvetica, verdana, sans-serif;
	padding-left: 185px;
	font-size: 12px;
	font-weight: bolder;
	color: #ffffff;
}
.blue12_bold_indent40 {
	font-family: arial, helvetica, verdana, sans-serif;
	padding-left: 40px;
	font-size: 12px;
	font-weight: bolder;
	color: #039dc2;
}


.black_12_bold_indent40 {
	font-family: arial, helvetica, verdana, sans-serif;
	padding-left: 40px;
	font-size: 12px;
	font-weight: bolder;
	color: #000000;
}
.black_12_bold_indent10 {
	font-family: arial, helvetica, verdana, sans-serif;
	padding-left: 10px;
	font-size: 12px;
	font-weight: bolder;
	color: #000000;
}
#wrapper #Content table tr td #MainText table .tan_table_blue_space {
	font-weight: bold;
	font-size: 11px;
	line-height: 11pt;
	color: #000;
	font-family: arial, helvetica, verdana, sans-serif;
	clear: none;
	background-color: #B4E2ED;
	border-bottom-color: #683318;
	padding-right: 4px;
	padding-left: 4px;
	text-align: center;
	padding-top: 6px;
	padding-bottom: 6px;
	text-decoration: none;
}
.video_operations {
	font-family: arial, helvetica, verdana, sans-serif;
	padding-left: 5px;
	font-size: 14px;
	font-weight: bolder;
	color: #000000;
	line-height: 10pt;
}

.tan_linkbox_no arrow {
	text-align: left;
	position: relative;
	top: 0;
	left: 0;
	font: 12px arial, Helvetica, verdana, sans-serif;
	background-color: #f0eddf;
	padding: 5px 5px 5px 17px;
}
.22black arial {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 22px;
	font-weight: bolder;
	color: #000000;
	text-align: center;	
}

.60white arial {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 60px;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
}