body {
	margin:0;
	color:#000;
	font:12px Arial, Helvetica, sans-serif;
	background:#ebebeb;
}
img {border-style:none;}
a {
	color:#7b7b7b;
	text-decoration:none;
}
a:hover {text-decoration:underline;}
a.redarrow{background: url(../images/redarrow.gif)/*tpa=http://www.aksteel.com/images/redarrow.gif*/ no-repeat left; margin-top: 3px; padding-left: 17px; display: inline-block;}
a.bullet{background: url(../images/bullet.gif)/*tpa=http://www.aksteel.com/images/bullet.gif*/ no-repeat left; margin-top: 3px; padding-left: 14px; display: inline-block;}
input, textarea, select {
	font:100% Arial, Helvetica, sans-serif;s
	vertical-align:middle;
	color:#000;
}
form, fieldset {
	margin:0;
	padding:0;
	border-style:none;
}
#wrapper {
	width:968px;
	margin:8px auto 0;
	background:url(../images/bg-wrapper.gif)/*tpa=http://www.aksteel.com/images/bg-wrapper.gif*/ repeat-y -968px 0;
}
.wrapper-holder {
	width:968px;
	background:url(../images/bg-wrapper.gif)/*tpa=http://www.aksteel.com/images/bg-wrapper.gif*/ no-repeat;
}
.wrapper-frame {
	position:relative;
	width:905px;
	padding:2px 30px 8px 33px;
	background:url(../images/bg-wrapper.gif)/*tpa=http://www.aksteel.com/images/bg-wrapper.gif*/ no-repeat 100% 100%;
	overflow:hidden;
}
#header {
	width:904px;
	height:66px;
	padding:15px 0 0 1px;
	border-bottom:1px solid #d7d7d7;
	overflow:hidden;
}
.logo {
	float:left;
	margin:0;
	background:url(../images/logo.gif)/*tpa=http://www.aksteel.com/images/logo.gif*/ no-repeat;
	width: 151px;
	height: 22px;
	text-indent:-9999px;
	overflow:hidden;
}
.logo a {
	display:block;
	height:100%;
}
.form-search {
	float:right;
	width:263px;
	padding:1px 0 0;
}
.text-search {
	float:left;
	background:url(../images/text-search.gif)/*tpa=http://www.aksteel.com/images/text-search.gif*/ no-repeat;
	width: 42px;
	height: 12px;
	text-indent:-9999px;
	overflow:hidden;
	margin:6px 8px 0 0;
}
.form-search .text {
	float:left;
	width:178px;
	height:21px;
	margin-right:5px;
	padding-top:1px;
	background:url(../images/bg-search.gif)/*tpa=http://www.aksteel.com/images/bg-search.gif*/ no-repeat;
}
.form-search .text input {
	float:left;
	width:170px;
	margin:0;
	padding:3px 4px;
	border:0;
	background:none;
	outline:0;
}
.form-search .submit {
	float:left;
	margin:0;
	padding:0;
	border:0;
	background:url(../images/bg-search.gif)/*tpa=http://www.aksteel.com/images/bg-search.gif*/ no-repeat 100% 0;
	width:26px;
	height:22px;
	text-indent:-9999px;
	overflow:hidden;
	font-size:0;
	line-height:0;
	cursor:pointer;
}
.nav {
	position:absolute;
	z-index:9;
	top:50px;
	left:33px;
	width:898px;
	list-style:none;
	margin:0;
	padding:2px 0 0 7px;
	border-top:1px solid #d7d7d7;
}
.nav li {
	float:left;
	font-size:11px;
	line-height:14px;
	font-weight:bold;
	color:#464646;
}
.nav a,
.nav span {
	position:relative;
	z-index:99;
	float:left;
	height:22px;
	color:#464646;
	padding:8px 13px 0;
	
}
.nav span {cursor:default;}
.nav li:hover,
.nav li.hover {position:relative;}
.nav li:hover a,
.nav li.hover a,
.nav li:hover span,
.nav li.hover span,
.nav a:hover {
	text-decoration:none;
	padding:7px 12px 0px 12px;
	border:solid #d7d7d7;
	border-width:1px 1px 0 1px;
	background:#f7f7f7;
	color:#ed174b;
}
.nav .active a,
.nav .active span {color:#ed174b;}
.nav ul {
	display:none;
	position:absolute;
	top:29px;
	left:0;
	list-style:none;
	margin:0;
	padding:7px 0 5px;
	width:169px;
	border:1px solid #d7d7d7;
	background:#f7f7f7;
	z-index: 9;
}
.nav li:hover ul,
.nav li.hover ul {display:block;}
.nav ul li {
	float:none;
	width:152px;
	padding:1px 5px 7px 12px;
	text-transform:uppercase;
	font-size:10px;
	line-height:12px;
}
.nav ul li font{text-transform: none; font-size: 10px; font-weight: normal;}
.nav ul a,
.nav li:hover ul a,
.nav li.hover ul a {
	float:none;
	padding:0;
	color:#7b7b7b;
	border:0;
	background:none;
}
.nav ul a:hover,
.nav li:hover ul a:hover,
.nav li.hover ul a:hover {
	padding:0;
	border:0;
	background:none;
	color:#ed174b;
}
#main {
	width:905px;
	overflow:hidden;
	padding-top:13px;
}
.inner-page #main {background:url(../images/bg-main.gif)/*tpa=http://www.aksteel.com/images/bg-main.gif*/ repeat-y -29px 0;}
.homepage .inner-page #main {background: none;}
#ie-slider-hider{height: 4px; width: 900px; background: #fff; position: absolute; left: 33px; top: 424px; z-index: 999;}
.slide-show {
	width:900px;
	height:328px;
	margin-bottom:0px;
	position:relative;
	overflow:hidden;
	background: #fff;
}
.slide-show-pad
{

    width: 900px;
    height: 327px;
    overflow: hidden;
    
}
.switcher {
	position:absolute;
	right:0;
	bottom:-1px;
	z-index:4;
	width:126px;
	height:30px;
	padding:12px 0 0 23px;
	margin:0;
	list-style:none;
	background:#fff;
}
.switcher li {
	float:left;
	font-size:12px;
	line-height:15px;
	font-weight:bold;
	margin-top:4px;
	color:#7f7f7f;
}
.switcher .prev,
.switcher .next {
	width:17px;
	height:24px;
	text-indent:-9999px;
	margin:0 20px 0 0;
	overflow:hidden;
}
.switcher .next {
	margin:0 0 0 17px;
	display:inline;
}
.switcher .prev a,
.switcher .next a {
	display:block;
	background:url(../images/bg-switcher.gif)/*tpa=http://www.aksteel.com/images/bg-switcher.gif*/ no-repeat;
	height:100%;
}
.switcher .next a {background-position:100% 0;}
.switcher .prev a:hover {background-position:0 100%;}
.switcher .next a:hover {background-position:100% 100%;}
.gallery {
	list-style:none;
	margin:0;
	padding:0;
	width:9999px;
}
.gallery li {
	float:left;
	position:absolute;
	width:900px;
	height:380px;
	display: none;
	left: 0;
	z-index: 1;
}
.gallery li.first{display: block; z-index: 2;}
.gallery img {
	vertical-align:top;
	margin:0;
}
.gallery .text {
	position:absolute;
	top:0;
	left:0;
	width:326px;
	height:380px;
}
.text-our-steel,
.text-recognize,
.text-award-winning,
.text-quality,
.text-serving,
.text-world-class,
.text-making-steel {
	position:absolute;
	top:32px;
	left:19px;
	margin:0;
	width:291px;
	height:197px;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/slide-title.gif)/*tpa=http://www.aksteel.com/images/slide-title.gif*/ no-repeat;
}
.text-recognize {background-position:-291px 0;}
.text-award-winning {background-position:-582px 0;}
.text-quality {background-position:-873px 0;}
.text-serving {background-position:-1164px 0;}
.text-world-class {background-position:-1455px 0;}
.text-making-steel {background-position:-1746px 0;}
.caption-1,
.caption-2,
.caption-3,
.caption-4,
.caption-5,
.caption-6,
.caption-7 {
	position:absolute;
	margin:0;
	left:19px;
	top:235px;
	width:291px;
	height:95px;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/slide-caption.gif-x=1.gif)/*tpa=http://www.aksteel.com/images/slide-caption.gif?x=1*/ no-repeat;
}
.caption-1{top: 216px;}
.caption-2 {background-position:-291px 0;}
.caption-3 {background-position:-582px 0;}
.caption-4 {background-position:-873px 0;}
.caption-5 {background-position:-1164px 0;}
.caption-6 {background-position:-1455px 0;}
.caption-7 {background-position:-1746px 0;}
.grey1{background: #676767;}
.section {
	width:100%;
	margin-bottom:84px;
	margin-bottom:21px;
	overflow:hidden;
}
.homepage .section
{
    padding-top: 17px;
}
.section ul {
	list-style:none;
	margin:0;
	padding:0;
}
.section li {
	float:left;
	width:150px;
	font-size:11px;
	line-height:13px;
	padding:0 0 0 38px;
}
.section li.first{padding-left: 0;}
.sidebanner{padding: 10px 0;}
.sidebanner a{font-size: 11px;}
.sidebanner a,
.section a {
	display:block;
	width:148px;
	padding:0 1px 1px;
	background:#d7d7d7;
	color:#000;
	outline: 0;
}
.sidebanner a{/padding-bottom: 0;}
.sidebanner a:hover,
.section a:hover {
	background:#ed174b;
	color:#fff;
	text-decoration:none;
}
.sidebanner strong,
.section strong {
	min-height:36px;
	padding:7px 4px 0;
	display:block;
	text-align:center;
	cursor:pointer;
}

* html .section strong {height:36px;}
.section img {
	vertical-align:top;
	margin:0;
}
#content {
	width:624px;
	float:right;
	padding:24px 85px 60px 27px;
	overflow:hidden;
}
#content p {margin:0 0 10px; line-height: 17px;}
#content p.pad-top{padding-top: 10px;}
#content h1 {
	margin:0;
	padding-bottom:10px;
	font-size:20px;
	line-height:35px;
	color:#464646;
	font-weight:normal;
}
#content .text-block {
	width:424px;
	padding-top:1px;
	margin-left:-3px;
	font-size:12px;
	line-height:18px;
}
.awards-block {
	width:521px;
	padding:0px 0 50px;
}
.awards-block h2 {
	margin:0 0 8px;
	font-size:18px;
	line-height:22px;
	color:#7f7f7f;
	font-weight:normal;
}
.awards-block h3 {
	margin:0 0 11px;
	font-size:18px;
	line-height:22px;
	color:#000;
}
.awards-block h4 {
	margin:0;
	font-size:11px;
	line-height:14px;
}
.awards-list {
	position:relative;
	width:523px;
	padding: 5px 0 7px 25px;
	margin-left:-27px;
	border-top:1px solid #ccc;
}
.awards-list-first
{
    border-top: none;
}
a.back,
.awards-list .back{color: #ED174B; font-size: 10px; font-weight: bold; text-transform: uppercase;}
.awards-list ul {
	list-style:none;
	margin:0;
	padding:0;
	width:100%;
	padding-bottom: 5px;
}
.awards-list ul ul {padding-top:8px;}
.awards-list li {
	width:436px;
	padding:0 0 14px 51px;
	font-size:11px;
	line-height:13px;
	background:url(../images/bullet-award.gif)/*tpa=http://www.aksteel.com/images/bullet-award.gif*/ no-repeat 18px 4px;
}
.awards-list li li {
	width:411px;
	padding:0 5px 3px 20px;
	background:none;
}
.awards-list a {color: #7B7B7B;}
.annual-meetings-list li{background: none; font-size: 12px; padding-left: 25px;}
.annual-meetings-list span{font-weight: bold;}
.annual-meetings-list a{color: #7B7B7B;}
#content .awards-list p {margin:0;}

#content .block {
	position:relative;
	height:1%;
	padding-left:6px;
	left:-7px;
	font-size:13px;
	line-height:15px;
	overflow:hidden;
	width: 388px;
}
#content .stock-quote
{
    overflow: visible;
    width: auto;
}
.aside {
	float:right;
	/* margin-top:-19px; */
	width:230px;
}
* html .aside {margin-left:-3px;}
.visual {
	width:205px;
	margin:0 0 10px auto;
}
.promo-box {
	width:226px;
	margin-right:4px;
}
.image img,
.visual img,
.promo-box img {
	vertical-align:top;
	margin:0;
}
.image {
	width:342px;
	padding-top:1px;
	margin-left:-7px;
}
#sidebar {
	width:166px;
	float:left;
	padding:8px 0 30px;
}
#sidebar h2 {
	margin:0 0 12px;
	font-size:11px;
	line-height:14px;
	color:#464646;
}
#sidebar .news-sidebar h2{color: #ED174B;}
#sidebar .news-sidebar p{font-size: 11px;}
.subnav {
	width:150px;
	list-style:none;
	margin:0;
	padding:0 6px 10px 10px;
	border-bottom:1px solid #d6d6d6;
}
.subnav li {
	width:100%;
	vertical-align:top;
	padding:1px 0 9px;
	font-size:10px;
	line-height:12px;
	font-weight:bold;
	text-transform:uppercase;
}
.subnav li ul{display: none; list-style-type: none; padding-top: 5px; padding-left: 10px; margin-left: 0;}
.subnav li.active ul{display: block;}
.subnav li.active ul li a:hover{text-decoration: underline;}
.subnav li ul li{margin-left: 0; padding-bottom: 4px;}
.subnav a {color:#7b7b7b;}
.subnav a font{text-transform: none; font-size: 11px;}
.subnav .active a,
.subnav a:hover {
	text-decoration:none;
	color:#ed174b;
}
.homenav{border-bottom: none; padding-bottom: 0;}
.homenav li{padding-bottom: 0;}
.archive {
	width:149px;
	padding:16px 8px 0 9px;
}
.archive ul {
	list-style:none;
	margin:0;
	padding:0;
	width:100%;
}
.archive ul.bot-border{border-bottom: 1px solid #D7D7D7; padding-bottom: 8px;}
.archive li {
	font-weight:bold;
	font-size:11px;
	line-height:18px;
	padding-bottom:2px;
}
.archive a {color:#ed174b;}
.archive a:hover{text-decoration: underline;}
#footer {
	width:905px;
	border-top:1px solid #d6d6d6;
	padding:12px 0 0;
	overflow:hidden;
	font-size:10px;
	line-height:13px;
	color:#999;
}
.add-nav {
	position:relative;
	float:right;
	list-style:none;
	margin:0 -12px 0 0;
	padding:0;
	overflow:hidden;
}
.add-nav li {
	float:left;
	padding:0 12px 0 13px;
	margin:0 1px 0 -1px;
	background:url(../images/addnav-separator.gif)/*tpa=http://www.aksteel.com/images/addnav-separator.gif*/ no-repeat 0 3px;
}
#footer p {margin:0 0 10px;}
#footer a {
	text-decoration:underline;
	color:#999;
}
#footer a:hover {text-decoration:none;}

.bold{font-weight: bold;}
.clear{clear: both;}
.rss-button{background: url(../images/rssbtn.gif)/*tpa=http://www.aksteel.com/images/rssbtn.gif*/ no-repeat left 3px; display: block; height: 28px; position: absolute; left: 620px; top: 113px; padding: 0 0 0 28px; outline: none; width: 182px;}
.rss-secfilings{left: 723px;}
.rss-investor{left: 650px;}
.rss-shareholder{left: 575px;}

#news-headline{font-size: 13px; text-align: center;}
#news-list{list-style-type: none; padding: 15px 0 0 0; margin: 0;}
#news-list li{clear: both; padding-bottom: 0; width: 600px;}
.news-d{display: inline-block; font-weight: bold; float: left; width: 80px;}
.news-a{float: left; width: 500px;}
.thumbnail-list{list-style-type: none; margin: 0; padding: 0;}
.thumbnail-list li{clear: both; padding-top: 10px;}
.thumbnail-list img{float: right;}
.boldheading{font-weight: bold;}
.LgLetter{font-size: 17px; font-weight: bold; text-decoration: underline;}
#adobe-reader-container{font-size: 11px;}
#adobe-reader-container.padding{padding-top: 20px;}
#receive-mail-container{font-size: 11px; position: relative;}
#receive-mail-container img{}
.sidebar-pad{padding-left: 17px;}

.tblHeading td{background: #ccc; font-weight: bold;}
.tblLeftCell{padding-left: 20px; width: 70px;}
.SECaltbg{background: #ccc;}
.news-subhead{font-weight: normal; font-size: 13px; text-align: center; margin-bottom: 20px; font-style: italic;}
.news-footer-symbol{text-align: center; margin-top: 20px;}

.list{list-style-type: none; margin: 0; padding: 0 0 10px 0; width: 270px;}
.list-float{float: left; list-style-type: none; margin: 0; padding: 0 0 10px 0; width: 310px;}
.location-list li{padding-bottom: 10px;}
.diversity-list{list-style-type: none; margin-bottom: 0; padding: 0; margin-left: 0;}
.diversity-list li {clear: both; float: left; padding-bottom: 10px; width: 500px;}
.diversity-list li span{display: block; float: left; width: 344px;}
.diversity-list li .year{width: 43px;}
.governance-list{width: auto;}

.disclaimer{font-size: 10px; padding-top: 5px; width: 550px;}
.back-spacing{display: inline-block; margin-bottom: 20px;}

#financial-sidebar-pdfs{padding-bottom: 10px; margin-bottom: 10px;}

#NewsBody p a{color: #7B7B7B;}
#NewsBody p a font{color: #7B7B7B !important;}

.sec-sidebar{margin-left: -15px;}
.sec-sidebar ul{width: 164px;}
.sec-sidebar .pad-bot{padding-bottom: 10px;}

td.u{border-bottom: solid 1px #000;}
td.val{padding-right: 5px;}
td.doubleline{border-top: solid 1px #000; margin-top: 5px;}
td.padr{padding-right: 8px;}
td.padr2{padding-right: 17px;}
td.padr3{padding-right: 14px;}

#SurchargeSubHead{font-weight: bold; padding-left: 18px; margin-bottom: 0; /margin-left: -2px; /margin-bottom: 10px; /margin-top: 0;}

sup{position: relative; top: -2px; line-height: 12px; font-size: 10px;}
li sup{top: 0;}

#gaapResults .tblHeading td{text-align: left; padding: 5px;}
#gaapResults td{text-align: left; padding: 2px 5px;}