body { }

/**************************************************
	Font For Replacement
***************************************************/

@font-face {
    font-family: 'PTSansNarrowRegular';
    src: url('../fonts/PTN57F-webfont.eot')/*tpa=http://www.consolenergy.com/fonts/PTN57F-webfont.eot*/;
    src: url('../fonts/PTN57F-webfont.eot-#iefix')/*tpa=http://www.consolenergy.com/fonts/PTN57F-webfont.eot?#iefix*/ format('embedded-opentype'),
         url('../fonts/PTN57F-webfont.woff')/*tpa=http://www.consolenergy.com/fonts/PTN57F-webfont.woff*/ format('woff'),
         url('../fonts/PTN57F-webfont.ttf')/*tpa=http://www.consolenergy.com/fonts/PTN57F-webfont.ttf*/ format('truetype'),
         url('../fonts/PTN57F-webfont.svg#PTSansNarrowRegular')/*tpa=http://www.consolenergy.com/fonts/PTN57F-webfont.svg#PTSansNarrowRegular*/ format('svg');
    font-weight: normal;
    font-style: normal;

}

/**************************************************
	Font For Replacement
***************************************************/

