/**************************************************
    Header
**************************************************/
/******************************
    Navigation Styles
******************************/
/******************************
    Global Nav
******************************/
#global-nav ul 
{
    width:481px;
}
#global-nav ul li 
{
    padding-top:7px !important;
}

#global-nav .search-box 
{
    padding-top:2px;
    height:18px;
}
/****** Search ******/
#global-nav .search input 
{
    float:left;
    border-right:none;
}

#global-nav #search-btn
{
    float:left;
    position:relative;
    top:2px;
}

#header {
	width:960px !important;
}

/** Home **/

#home-hotspots .hotspot 
{
	background-image: url(../images/home-page/hotspot-ie.png)/*tpa=http://www.consolenergy.com/images/home-page/hotspot-ie.png*/;
}

#home-hotspots .hotspot-left .cap 
{
	background-image: url(../images/home-page/hotspot-balloon-left-cap.gif)/*tpa=http://www.consolenergy.com/images/home-page/hotspot-balloon-left-cap.gif*/;
}

#home-hotspots .hotspot-left .cap span 
{
	background-image: url(../images/home-page/hotspot-balloon-left.gif)/*tpa=http://www.consolenergy.com/images/home-page/hotspot-balloon-left.gif*/;	
}

#home-hotspots .hotspot-right .cap 
{
	background-image: url(Unknown_83_filename)/*tpa=http://www.consolenergy.com/images/home-page/hotspot-balloon-right-cap.gif*/;
}

#home-hotspots .hotspot-right .cap span 
{
	background-image: url(Unknown_83_filename)/*tpa=http://www.consolenergy.com/images/home-page/hotspot-balloon-right.gif*/;	
	opacity:0;
}

/* Homepage Feature */
.homeFeature .right .quote.line2 
{
    line-height:60px;
}

.homeFeature .right .quote.line3 
{
    line-height:35px;
}

.homeFeature .homeFeatureText p { line-height: 1.1em; }
.homeFeature .homeFeatureText .home_feature_largest { line-height: 1.3em; }
.homeFeature .homeFeatureText .home_feature_large { line-height: 1.4em; }
.homeFeature .homeFeatureText ul li a { line-height: 1.4em; background-position: right 6px; }