/**************************************************
    Header
**************************************************/
/******************************
    Navigation Styles
******************************/
/******************************
    Global Nav
******************************/
#global-nav ul li 
{
    padding-top:5px;
}

#global-nav .search-box 
{
    padding-top:2px;
    height:18px;
}

/** Home **/

#home-hotspots .hotspot 
{
	background-image: url(../images/home-page/hotspot-ie.png)/*tpa=http://www.consolenergy.com/images/home-page/hotspot-ie.png*/;
}

#home-hotspots .hotspot-left .cap 
{
	background-image: url(../images/home-page/hotspot-balloon-left-cap.gif)/*tpa=http://www.consolenergy.com/images/home-page/hotspot-balloon-left-cap.gif*/;
}

#home-hotspots .hotspot-left .cap span 
{
	background-image: url(../images/home-page/hotspot-balloon-left.gif)/*tpa=http://www.consolenergy.com/images/home-page/hotspot-balloon-left.gif*/;	
}

#home-hotspots .hotspot-right .cap 
{
	background-image: url(Unknown_83_filename)/*tpa=http://www.consolenergy.com/images/home-page/hotspot-balloon-right-cap.gif*/;
}

#home-hotspots .hotspot-right .cap span 
{
	background-image: url(Unknown_83_filename)/*tpa=http://www.consolenergy.com/images/home-page/hotspot-balloon-right.gif*/;	
	opacity: 0;
}