/**************************************************
    CSS Reset
**************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align:top;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
/*table {
  border-collapse: collapse;
  border-spacing: 0;
}*/

.inlineBlock { display: inline-block; }
.margin-top-twenty { margin-top: 20px; }

/**************************************************
    END CSS Reset
**************************************************/
html 
{
    background:#f8f8f8;
}
body 
{
    font: 12px Arial, Geneva;
    color:#363636;
    background:url(../images/template/backgrounds/bg_main.jpg)/*tpa=http://www.consolenergy.com/images/template/backgrounds/bg_main.jpg*/ repeat-x center top #f8f8f8;
}
/*#wrapper 
{
    width:960px;
    margin:0 auto;
}*/

#wrapper 
{
    position:relative;
}


/**************************************************
    Header
**************************************************/
#header 
{
    width:960px;
    margin:0 auto 20px auto;
}
#header .logo-link 
{
    width:216px;
    height:27px;
    display:block;
    text-indent:-999em;
    background:url(../images/template/logos/logo_header.png)/*tpa=http://www.consolenergy.com/images/template/logos/logo_header.png*/ no-repeat left top;
    position:relative;
    top:33px;
}
#navigation 
{
    width:725px;
    height:77px;
    float: right;
}

/******************************
    Navigation Styles
******************************/
#main-nav ul,
#global-nav ul
{
    float:right;
    line-height:20px;
}
    #main-nav ul li 
    {
        height:35px;
        overflow:hidden;
        border-bottom:solid 2px #cccccc;
    }
    #main-nav ul li,
    #global-nav ul li 
    {
        float:left;
    }

/******************************
    Global Nav
******************************/
#global-nav 
{
    height:22px;
    padding-top:10px;
    margin-bottom:10px;
}
#global-nav ul li 
{
    padding:5px 10px 0 0;
}
    #global-nav ul li.search 
    {
        padding:0 0 0 6px;
    }
#global-nav a 
{
    font:bold .83em Arial, Geneva;
    color:#a6a6a6;
}

/****** Search ******/
#global-nav .searchWrap 
{
    width:138px;
    height:22px;
    position:relative;
}

#global-nav .search-box 
{
    color:#929292;
    width:100px;
    height:20px;  
    padding:0 5px;  
    /*border:solid 1px #cccccc;*/
    border-left:solid 1px #cccccc;
    border-top:solid 1px #cccccc;
    border-bottom:solid 1px #cccccc;
    position:absolute;
    left:1px;
    z-index:1;
}
#global-nav #btn-search
{
    width:26px;
    height:22px;
    float:right;
    text-indent:-999em;
    display:inline-block;    
    background:url(../images/template/icons/icon_search.gif)/*tpa=http://www.consolenergy.com/images/template/icons/icon_search.gif*/ no-repeat left top;
    position:relative;
    top:0px;
}
#global-nav .btn-search
{
    width:26px;
    height:22px;
    float:right;
    text-indent:-999em;
    display:inline-block;    
    background:url(../images/template/icons/icon_search.gif)/*tpa=http://www.consolenergy.com/images/template/icons/icon_search.gif*/ no-repeat left top;
    position:absolute;
    top:0px;
    right:0;
    z-index:2;
    border:none;
    cursor:pointer;
}

/******************************
    Main Nav
******************************/ 
#main-nav a,
#main-nav span
{
    font:bold 1.16em 'PTSansNarrowRegular','PT Sans Narrow', Arial, sans-serif;
    padding:7px 9px 9px 9px;
    text-decoration:none;
    color:#666666;
    display:block;
}
    #main-nav a.first 
    {
        padding:0 9px 9px 0;
    }
    #main-nav a.last 
    {
        padding:0 0 9px 8px;
    }
        #main-nav a span 
        {
            position:relative;           
        }
#main-nav a:hover,
#main-nav li.selected a,
#main-nav li.selected span
{   
    color:#000000;
}
#main-nav li.selected 
{
    border-bottom-color:#d11142;
}

/**************************************************
    Footer
**************************************************/
#footer-wrapper 
{
    position:relative;
}
#footer 
{
    font-size:.91em;
    width:960px;
    text-align:center;
    margin:8px auto 20px auto;
}
#footer a 
{
    color:#363636;
    text-transform:uppercase;
    margin:0 4px;
}
    #footer a:hover 
    {
        text-decoration:none;
    }

/**************************************************
    Content
**************************************************/
#body 
{
    background:url(../images/template/backgrounds/bg_content.png)/*tpa=http://www.consolenergy.com/images/template/backgrounds/bg_content.png*/ repeat-y center bottom;
    position:relative;
}
    #content-bg-top
    {
        width:100%;
        height:450px;
        background:url(../images/template/backgrounds/bg_content-top.gif)/*tpa=http://www.consolenergy.com/images/template/backgrounds/bg_content-top.gif*/ repeat-y center top;
        position:absolute;
        z-index:1;
        top:0;
        left:0;
    }
#content-wrapper 
{
    width:960px;
    margin:0 auto;
    padding-bottom:35px;
    background-color:#ffffff;
    border-bottom:solid 2px #d11142;
    position:relative;
    z-index:99;
}
#content 
{
    width:665px;
    min-height:525px;
    float:left;
    margin-top:27px;
    padding:0 30px;
    border-right:solid 1px #cccccc;
}

#content.noNav 
{
    width:900px !important;
    border:none;
}

#content.noHeaders
{
    margin: 0;
    padding: 0;
}

/******************************
    Content Header
******************************/
#content-hdr-img 
{
    width:960px;
    overflow:hidden;
    border-top:solid 4px #d11142;
}
    #content-hdr-img img 
    {
        display:block;
    }
#content-hdr 
{
    height:46px;
    padding-left:30px;    
    background-color:#d11142;
}    
#content-hdr-section 
{
    width:232px;
    float:right;
    padding-left:40px;
    text-align:center;
    background:url(../images/template/backgrounds/bg_content-hdr.gif)/*tpa=http://www.consolenergy.com/images/template/backgrounds/bg_content-hdr.gif*/ no-repeat left top #333333;
}
    #content-hdr  h2,
    #content-hdr h3
    {
        font:bold 2.16em 'Oswald', Helvetica, sans-serif;
        /*font:bold 30px HelveticaNeue Condensed, Helvetica, Arial;*/
        text-transform:uppercase;
        color:#ffffff;
        line-height:46px;
    }
    #content-hdr h2
    {
        font-size:1.33em;  
    } 

/******************************
    Content Navigation
******************************/
#section-nav-wrap 
{
    float:right;
}

#section-nav 
{
    font:normal 1.1em 'PTSansNarrowRegular','PT Sans Narrow', Helvetica, sans-serif;
    letter-spacing:.2px;
    font-weight:700;
    /*font:normal 1em 'Oswald', Helvetica, sans-serif;*/
    /*font:bold 14px HelveticaNeue Condensed, Helvetica, Arial;*/
    width:188px;
    /*float:right;*/
    margin:27px 0 2px;
    
}
#section-nav ul li 
{
    margin-bottom:4px;
}
#section-nav ul a 
{
    display:block;
    color:#666666;
    line-height:21px;
    text-decoration:none;
    padding-left:22px;
    background:url(../images/template/backgrounds/bg_section-nav.gif)/*tpa=http://www.consolenergy.com/images/template/backgrounds/bg_section-nav.gif*/ no-repeat left top;
}
    #section-nav ul a:hover,
    #section-nav ul li a.selected
    {
        color:#ffffff;
        background-color:#d11142;
        background-position:0 -42px;
    }
        #section-nav ul li a.selected.parent
        {
            color:#ffffff;
            background-color:#d11142;
            background-position:0 -84px;
        }
    #section-nav ul li a.expanded.parent
    {
        color:#d11142;
        background-position:0 -168px;
    }
        #section-nav ul li a.expanded.parent:hover
        {
            color:#ffffff;
            background-position:0 -84px;
        }
/****** Level-Two ******/
#section-nav ul ul ul
{
    margin:4px 0 8px 36px;
}
#section-nav ul ul ul a
{
    color:#666666 !important;
    padding-left:6px !important;
    background-image:none !important;
} 
    #section-nav ul ul ul li a:hover,
    #section-nav ul ul ul li a.selected
    {
        color:#ffffff !important;
        background-color:#d11142;
    }

/****** Level-Three ******/
#section-nav ul ul ul ul
{
    margin:4px 0 8px 14px;
}
#section-nav ul ul ul ul a,
#section-nav ul ul ul ul a.selected
{
    font-size:.833em;
    color:#666666 !important;
    background-color:#ffffff !important;
} 
    #section-nav ul ul ul ul a:hover,
    #section-nav ul ul ul ul li a.selected
    {
        color:#ffffff !important;
        background-color:#d11142 !important;
    } 


#social-media-side
{
  /*float:right;*/
  margin-right:56px;
}
#social-media-side-custom 
{
    /*float:right;*/
    margin-right:0;
}
#social-media-side img,
#social-media-side-custom img
{
  margin-top:10px;
}
#social-media-side a,
#social-media-side-custom img
{
  border-style:none; 
}

#social-media-side-custom img 
{
    margin:10px 0 0 36px;
}

#social-media-side-custom .pdfGuide 
{
    width:204px;
    height:205px;
    display:block;
    font-size:15px;
    font-family:Arial, Verdana;
    font-weight:bold;
    color:#000;
    overflow:hidden;
    text-indent:-2000px;
    text-transform:lowercase;
    background:url(../images/careers/career-btn.png)/*tpa=http://www.consolenergy.com/images/careers/career-btn.png*/ no-repeat;
    margin:10px 15px 10px 0;
}

/**************************************************
    Overview Page Link Styles
**************************************************/
.page-link
{
    width:318px;
    height:156px;
    margin-bottom:22px;
    background:url(../images/about-us/overview/link_about-consol-energy.jpg)/*tpa=http://www.consolenergy.com/images/about-us/overview/link_about-consol-energy.jpg*/ no-repeat left top;
}
    /****** About Us ******/
    .page-link.about-us
    {
        background-image:url(../images/about-us/overview/link_about-consol-energy.jpg)/*tpa=http://www.consolenergy.com/images/about-us/overview/link_about-consol-energy.jpg*/;
    }
    .page-link.consol-101-brochure
    {
        background-image:url(../images/about-us/overview/link_consol-101-brochure.png)/*tpa=http://www.consolenergy.com/images/about-us/overview/link_consol-101-brochure.png*/;
    }
    .page-link.quick-facts
    {
        background-image:url(../images/about-us/overview/link_quick-facts.jpg)/*tpa=http://www.consolenergy.com/images/about-us/overview/link_quick-facts.jpg*/;
    }
    .page-link.company-statistics
    {
        background-image:url(../images/about-us/overview/link_company-statistics.jpg)/*tpa=http://www.consolenergy.com/images/about-us/overview/link_company-statistics.jpg*/;
    }
    .page-link.our-history
    {
        background-image:url(../images/about-us/overview/link_our-history.jpg)/*tpa=http://www.consolenergy.com/images/about-us/overview/link_our-history.jpg*/;
    }
    .page-link.contact-us
    {
        background-image:url(../images/about-us/overview/link_contact-us.jpg)/*tpa=http://www.consolenergy.com/images/about-us/overview/link_contact-us.jpg*/;
    }
    .page-link.corporate-governance
    {
        background-image:url(../images/about-us/overview/link_corporate-governance.jpg)/*tpa=http://www.consolenergy.com/images/about-us/overview/link_corporate-governance.jpg*/;
    }
    .page-link.corporate-responsibility
    {
        background-image:url(../images/about-us/overview/link_corporate-responsibility.jpg)/*tpa=http://www.consolenergy.com/images/about-us/overview/link_corporate-responsibility.jpg*/;
    }
    .page-link.doing-business-with-consol
    {
        background-image:url(../images/about-us/overview/link_doing-business-with-consol.jpg)/*tpa=http://www.consolenergy.com/images/about-us/overview/link_doing-business-with-consol.jpg*/;
    }
  .page-link.awards 
  {
    background-image:url(../images/about-us/overview/link_awards.jpg)/*tpa=http://www.consolenergy.com/images/about-us/overview/link_awards.jpg*/;
  }
  
    /****** Natural Gas and Coal ******/
    .page-link.natural-gas
    {
        background-image:url(../images/natural-gas-and-coal/overview/link_natural-gas.jpg)/*tpa=http://www.consolenergy.com/images/natural-gas-and-coal/overview/link_natural-gas.jpg*/;
    }
    .page-link.coal
    {
        background-image:url(../images/natural-gas-and-coal/overview/link_coal.jpg)/*tpa=http://www.consolenergy.com/images/natural-gas-and-coal/overview/link_coal.jpg*/;
    }
    /****** Other Services ******/
    .page-link.cnx-land-resources
    {
        background-image:url(../images/other-services/overview/link_cnx-land-resources.jpg)/*tpa=http://www.consolenergy.com/images/other-services/overview/link_cnx-land-resources.jpg*/;
    }
    .page-link.river-and-dock-services
    {
        background-image:url(../images/other-services/overview/link_river-and-dock-services.jpg)/*tpa=http://www.consolenergy.com/images/other-services/overview/link_river-and-dock-services.jpg*/;
    }
    .page-link.water-division
    {
        background-image:url(../images/other-services/overview/link_water-division.jpg)/*tpa=http://www.consolenergy.com/images/other-services/overview/link_water-division.jpg*/;
    }
    .page-link.marine-terminal
    {
        background-image:url(../images/other-services/overview/link_cnx-marine-terminal.jpg)/*tpa=http://www.consolenergy.com/images/other-services/overview/link_cnx-marine-terminal.jpg*/;
    }
    .page-link.fairmont-supply
    {
        background-image:url(../images/other-services/overview/link_fairmont-supply.jpg)/*tpa=http://www.consolenergy.com/images/other-services/overview/link_fairmont-supply.jpg*/;
    }
    /****** newsroom ******/
    .page-link.press-releases
    {
        background-image:url(../images/newsroom/overview/link_press-releases.jpg)/*tpa=http://www.consolenergy.com/images/newsroom/overview/link_press-releases.jpg*/;
    }
    .page-link.media-contacts
    {
        background-image:url(../images/newsroom/overview/link_media-contacts.jpg)/*tpa=http://www.consolenergy.com/images/newsroom/overview/link_media-contacts.jpg*/;
    }
    .page-link.image-library
    {
        background-image:url(../images/newsroom/overview/link_image-library.jpg)/*tpa=http://www.consolenergy.com/images/newsroom/overview/link_image-library.jpg*/;
    }
    .page-link.senior-company-spokesman
    {
        background-image:url(../images/newsroom/overview/link_senior-company-spokesman.jpg)/*tpa=http://www.consolenergy.com/images/newsroom/overview/link_senior-company-spokesman.jpg*/;
    }    
    .page-link.speeches
    {
        background-image:url(../images/newsroom/overview/link_speeches.jpg)/*tpa=http://www.consolenergy.com/images/newsroom/overview/link_speeches.jpg*/;
    }
    .page-link.our-message
    {
        background-image:url(../images/newsroom/overview/link_our-message.jpg)/*tpa=http://www.consolenergy.com/images/newsroom/overview/link_our-message.jpg*/;
    }
  .page-link.links 
  {
    background-image:url(../images/newsroom/overview/link_links.jpg)/*tpa=http://www.consolenergy.com/images/newsroom/overview/link_links.jpg*/;
  }
  .page-link.sustainability 
  {
    background-image:url(../images/newsroom/overview/link_sustainability.jpg)/*tpa=http://www.consolenergy.com/images/newsroom/overview/link_sustainability.jpg*/;
  }
  .page-link.press-kit 
  {
    background-image:url(../images/newsroom/overview/link_press-kit.jpg)/*tpa=http://www.consolenergy.com/images/newsroom/overview/link_press-kit.jpg*/;
  }
  .page-link.events
  {
    background-image:url(../images/newsroom/overview/link_events.jpg)/*tpa=http://www.consolenergy.com/images/newsroom/overview/link_events.jpg*/;
  }
  .page-link.in-news
  {
    background-image:url(../images/newsroom/overview/link_in-news.jpg)/*tpa=http://www.consolenergy.com/images/newsroom/overview/link_in-news.jpg*/;
  }
.page-link a
{
    width:298px;
    height:27px;
    display:block;
    color:#363636;
    font-size:1.5em;
    font-weight:bold;   
    line-height:27px; 
    text-decoration:none;
    padding:130px 10px 0 10px;
    background:url(../images/template/backgrounds/bg_page-link.png)/*tpa=http://www.consolenergy.com/images/template/backgrounds/bg_page-link.png*/ no-repeat -343px top;
}
    .page-link a:hover 
    {
        color:#ffffff;
    }
    /*.page-link a span 
    {
        width:296px;
        height:27px;
        padding:0 10px;
        display:block;
    }*/

/**************************************************
    Pretty Photo Link Styles
**************************************************/
a.pretty-photo 
{
    position:relative;
}
a.pretty-photo span 
{
    width:158px;
    height:88px;
    display:block;
    position:absolute;
    background:url(../images/template/backgrounds/bg_pretty-photo-link.png)/*tpa=http://www.consolenergy.com/images/template/backgrounds/bg_pretty-photo-link.png*/ no-repeat -158px top;
}
/*a.pretty-photo:hover span 
{
    width:158px;
    height:88px;
    display:block;
    position:absolute;
    background:url(/images/template/backgrounds/bg_pretty-photo-link.png) no-repeat left top;
}*/
    

/**************************************************
    Link Styles
**************************************************/
a 
{
    color:#d11142;
    cursor:pointer;
    text-decoration:underline;
    outline:none;
}
    a:hover 
    {
        text-decoration:none;
    }
a.lg 
{
    font-family: 'Oswald',Helvetica,sans-serif;
    font-size:15px;
    text-decoration:none;
}
    a.lg:hover
    {
        text-decoration:underline;
    }
.btn 
{
    height:20px;
    color:#ffffff;
    font-weight:bold;
    text-decoration:none;
    padding:0 20px;
    line-height:20px;
    display:inline-block;
    background-color:#d11142;
}
    .btn:hover 
    {
        text-decoration:underline;
    }
    .btn.top 
    {
        clear:both;
        padding:0 13px 0 20px;
        background:url(../images/template/icons/icon_arrows-up.png)/*tpa=http://www.consolenergy.com/images/template/icons/icon_arrows-up.png*/ no-repeat 6px 8px #d11142;
    }
    .btn.previous 
    {
        padding:0 13px 0 20px;
        background:url(../images/template/icons/icon_arrows-left.png)/*tpa=http://www.consolenergy.com/images/template/icons/icon_arrows-left.png*/ no-repeat left 6px #d11142;
    }
    .btn.next 
    {
        padding:0 20px 0 13px;
        background:url(../images/template/icons/icon_arrows-right.png)/*tpa=http://www.consolenergy.com/images/template/icons/icon_arrows-right.png*/ no-repeat right 6px #d11142;
    }
    .btn.gray 
    {
        color:#363636;
        background-color:#e7e5e5;
        display:block;
    }

/**************************************************
    Text Styles
**************************************************/
p 
{
    line-height:1.5em;
    margin-bottom:16px;
}

    p.center { text-align: center; }
    
    p.sm-break
    {
        margin-bottom:8px;
    }
    p.center,
    .center
    {
        text-align:center;
    }
    p.left 
    {
        text-align:left;
    }
    p.right 
    {
        text-align:right;
        float:none;
    }
  
  .nomargin {
    margin:0;
  }

table.body_table 
{
    border-collapse: collapse;
    margin-bottom: 16px;
}

table.body_table tr th 
{
    font-size: 16px;
    border-bottom: 1px solid #666666;
}
 
table.body_table tr th,
table.body_table tr td
{
    padding: 10px 5px;
}

table.body_table tr.alt th,
table.body_table tr.alt td
{
    background: #cccccc;
}
 
.indent 
{
    padding-left:30px;
}
    .indent-two
    {
        padding-left:82px;
    }
    .indent-three 
    {
        padding-left:100px;
    }
.pt-11 
{
    font-size:11px;
}
.pt-14 
{
    font-size:14px;
}
.pt-15
{
    font-size:15px;
}
.pt-16 
{
    font-size:16px;
}
.bold 
{
    font-weight:bold;
}
.caps 
{
    text-transform:uppercase;
}
strong.lg 
{
    font-size:13px;
}
.georgia 
{
    font-family: Georgia;
} 
sup 
{
    font-size:.7em;
    color:#d11142;
    vertical-align:top;
}
.red 
{
    color:#d11142;
}
/**************************************************
    Heading Styles
**************************************************/
h4
{
    font-size:2.5em;
    margin-bottom:18px;
    line-height: normal;
}
    h4.med
    {
        font-size:24px;
        margin-bottom:6px;
    }
    h4.red 
    {
        color:#d11142 !important;
    }
        h4.sm
        {
            font-size:1.4em;
            margin-bottom:12px;
        }
            h4 span,
            h5 span,
            h6 span 
            {
                color:#363636;
                font-size:.7em;
                font-weight:normal;
            }
h5 
{
    font-size:1.33em;
    color:#d11142;
    margin-bottom:4px;
}
    h5.red 
    {
        font-family:'Oswald', Helvetica, sans-serif;
        margin-bottom:8px;
    }
        h5 span 
        {
            line-height:2.5em;
        }
h6 
{
    color:#d11142;
    font-size:1.16em;
    margin-bottom:8px;
}

/**************************************************
    Table Styles
**************************************************/
table.center 
{
    text-align:center;
}
tr td.spacer 
{
    height:16px;
}
th.center,
td.center,
table.stats th.center,
table.stats td.center
{
    text-align:center;
}

/**************************************************
    Element Styles
**************************************************/
/****** Un-Ordered Lists ******/
#content ul
{
    margin-bottom:16px;
    padding:0 0 0 30px;
    list-style-image:url(../images/template/icons/icon_list-dot.jpg)/*tpa=http://www.consolenergy.com/images/template/icons/icon_list-dot.jpg*/;
    overflow:hidden; /* clear floats in good browsers */
}
    #content ul.indent 
    {
        padding-left:82px;
    }
    #content ul li 
    {
        margin-bottom:6px;
    }
#content ul.indent-two
{
    padding-left:82px;
}
#content ul.indent-three
{
    padding-left:100px;
}
/****** Misc. ******/    
hr 
{
    height:2px;
    border:0;
    color:#cccccc;
    margin-bottom:28px;
    background-color:#cccccc;
}
br 
{
    line-height:18px;
}

/******* Forms ******/
table.tableForm td
{
    vertical-align:baseline;
    padding:4px;
}
table.tableForm span
{
    vertical-align:baseline;
}
.validator
{
    color:#d11142;
}
.validationSum
{
    color:#d11142;
}

table.tableForm.nominate td 
{
    vertical-align:middle;
}

/**************************************************
    Universal Styles
**************************************************/
.clear 
{
    clear:both;
    padding:0;
    margin:0;
}

.contact-callout 
{
    width:185px;
    font-size:12px;
    margin-right:16px;
    padding:0 16px 5px 0;
    border-right:solid 1px #cccccc;
    
} 
    .contact-callout.lg 
    {
        width:200px;
    }
    .contact-callout span
    {
        padding-top:4px;
    }
    
.callout.left 
{
    font-size:11px;
    margin-right:16px;
    padding:0 16px 5px 0;
    border-right:solid 1px #cccccc;
} 
    .callout.right 
    {
        font-size:11px;
        margin-left:16px;
        padding:0 0 5px 16px;
        border-left:solid 1px #cccccc;
    } 
    .callout.image 
    {
        width:158px;
        font-size:.91em;
    } 
        .callout img 
        {
            margin-bottom:16px;
        }
        
 .awardLeftPhotos 
 {
    width:158px;
    font-size:.91em;
    margin-right:16px;
    padding:0 16px 5px 0;
    border-right:solid 1px #cccccc;
    float:left;
 }
 
    .awardLeftPhotos img 
    {
        margin-bottom:16px;
    }
    
.footnotes,
.footnote 
{
    font-size:.833em;
    padding:0 0 6px 0;
    /*padding:0 0 6px 16px;*/
}

/****** Elements ******/
.no-border,
table.stats th.no-border,
table.contacts tr.spacer td.no-border,
table.link-table tr.spacer td.no-border
{
    border:0;
}

.left,
.img-left
{
    float:left;
}   
    .img-left 
    {
        margin:0 25px 25px 0;
    }
    .emt-page .img-left 
    {
        margin:0 20px 20px 0;
    }   
.right,
.img-right 
{
    float:right;
}
    .img-right 
    {
        margin:0 0 25px 25px;
    }  
.clear 
{
    clear:both;
}
    div.clear 
    {
        clear:both;
        height:0;
        font-size:0;
        line-height:0;
        margin:0;
        padding:0;
    }
    
/* Basic Numbered List Styles*/
#content ol.basic
{
    list-style-type:decimal;
    font:normal 12px Arial,Geneva;
    color:#363636;
    padding-left:40px;
    margin-bottom:16px;
}
    #content ol.basic li 
    {
        padding-left:8px;
        margin-bottom:8px;        
    }
#content ol.basic ol 
{
    list-style-type:upper-alpha;
    font:bold 14px Arial, Helvetica, sans-serif;
    color:#d11142;
    padding-left:30px;
    margin-top:16px;
}
    #content ol.basic span,
    #content ol.basic ol span,
    #content ol.basic ol ol
    {
        font:normal 12px Arial;
        color:#363636;
    }

    
/**************************************************
    Individual Page Styles Styles
**************************************************/
/******************************
    Home Page
******************************/
#home-page-wrapper 
{
  width: 100%;
  height: 420px;
  overflow: hidden;
  text-align: center;
  float: left;
  position: relative;
}

#home-page-content 
{
  width: 1080px;
  height: 420px;
  margin: 0 auto;  
  position: relative;
}

#home-flag 
{
  width: 1024px;
  margin: 0 auto;
  height: 420px;
  overflow: hidden;
  text-indent: -999em;
  position: relative;
  z-index: 2;
  background: url(../images/home-page/flag.jpg)/*tpa=http://www.consolenergy.com/images/home-page/flag.jpg*/ no-repeat center top;
}

#titleBox 
{
    width:100%;
    position:absolute;
    bottom:45px;
    left:0;
    z-index:4;
}

    #titleBox h1 
    {
        width:414px;
        height:24px;
        float:left;
        display:block;
        overflow:hidden;
        text-transform:uppercase;
        font-size:25px;
        line-height:20px;
        font-family:Oswald, Arial, Verdana;
        font-weight:bold;
        color:#760a25;
        text-align:left;
        text-indent:-2000px;
        margin:0 0 0 90px;
        background:url(../images/home-page/text_americasEnergyStartsHere.png)/*tpa=http://www.consolenergy.com/images/home-page/text_americasEnergyStartsHere.png*/ no-repeat;
    }
    
    #titleBox a 
    {
        color:#760a25;
        font-family:Oswald, Arial, Verdana;
        font-weight:bold;
        text-transform:lowercase;
        text-decoration:none;
        font-size:20px;
        line-height:15px;
        width:211px;
        height:19px;
        overflow:hidden;
        display:block;
        float:right;
        text-indent:-2000px;
        background:url(../images/home-page/btn-seeOurStories.png)/*tpa=http://www.consolenergy.com/images/home-page/btn-seeOurStories.png*/ no-repeat;
        margin:1px 250px 0 0;
    }
    
    #titleBox a:hover 
    {
        background:url(../images/home-page/btn-seeOurStories-on.png)/*tpa=http://www.consolenergy.com/images/home-page/btn-seeOurStories-on.png*/ no-repeat;
        text-decoration:underline;
    }

/** Hotspots **/

#home-hotspots 
{
  width: 100%;
  height: 420px;
  float: left;
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
}

#hotspot-wrapper 
{
  width: 1200px;
  height: 420px;
  position: relative;  
}

#home-hotspots .hotspot 
{
  display: block;
  position: absolute;
  float: left;
  height: 80px;
  background: url(../images/home-page/hotspot.png)/*tpa=http://www.consolenergy.com/images/home-page/hotspot.png*/ no-repeat left top;
  z-index: 5;
}

#home-hotspots .hotspot span 
{
  display: block;
  float: left;
  font-family: 'Oswald', Helvetica, sans-serif;
  font-size: 16px;
  color: #d11142;
}

#home-hotspots .hotspot .number 
{
  display: none;
}
  
#home-hotspots .hotspot-left .cap 
{
  margin: 0 0 0 40px;
  top: 0;
  padding: 0 16px 0 0;
  background: url(../images/home-page/hotspot-balloon-left-cap.png)/*tpa=http://www.consolenergy.com/images/home-page/hotspot-balloon-left-cap.png*/ no-repeat right top;
}

#home-hotspots .hotspot-left .cap span 
{
  height: 56px;
  padding: 8px 10px 0 25px;
  background: url(../images/home-page/hotspot-balloon-left.png)/*tpa=http://www.consolenergy.com/images/home-page/hotspot-balloon-left.png*/ no-repeat left top;  
  text-transform: uppercase;
}

#home-hotspots .hotspot-right .cap
{
  right: 100%;
  padding: 0 0 0 16px;
  background: url(../images/home-page/hotspot-balloon-right-cap.png)/*tpa=http://www.consolenergy.com/images/home-page/hotspot-balloon-right-cap.png*/ no-repeat left top;
}

#home-hotspots .hotspot-right .cap span
{
  height: 56px;
  width: 100%;
  padding: 8px 25px 0 10px;
  background: url(../images/home-page/hotspot-balloon-right.png)/*tpa=http://www.consolenergy.com/images/home-page/hotspot-balloon-right.png*/ no-repeat right top;
  text-transform: uppercase;
}

/** Home Panels **/

#home-panels 
{
  width: 100%;
  height: 420px;
  position: absolute;
  top: 420px;
  left: 0;
  z-index: 5;  
}

#home-panels .panel-navigation 
{
  display: block;
  float: left;
  width: 77px;
  height: 420px;
  overflow: hidden;
  text-indent: -999em;
  background-repeat: no-repeat;
  background-position: left 100px;
}

#home-panels #panel-previous 
{
  background-image: url(../images/home-page/navigation-left.png)/*tpa=http://www.consolenergy.com/images/home-page/navigation-left.png*/;
}

#home-panels #panel-next
{
  background-image: url(../images/home-page/navigation-right.png)/*tpa=http://www.consolenergy.com/images/home-page/navigation-right.png*/;
}

#home-panels #panels 
{
  float: left;
  width: 870px;
  height: 420px;
  position: relative;
}

#home-panels #panels .panel 
{
  position: absolute;
  /*active measurements
  left: 10px;
  top: 10px;
  width: 648px;
  height: 320px;*/
  
  left: 340px;
  top: 80px;
  width: 658px;
  height: 350px;
  
  z-index: 8;
  float: left;
  overflow: hidden;
  
  text-align: left;
  padding: 0 12px 0 0;
  background: url(../images/home-page/home-panel-cap.png)/*tpa=http://www.consolenergy.com/images/home-page/home-panel-cap.png*/ no-repeat right top;
}

.panel .video-js-box 
{
    position:absolute;
    z-index:inherit;
}

#home-panels #panels .panel-content
{
  float: left;
  clear: both;
  width: 638px;
  height: 318px;
  padding: 16px 4px 16px 16px;
  background: url(../images/home-page/home-panel-bg.png)/*tpa=http://www.consolenergy.com/images/home-page/home-panel-bg.png*/ no-repeat left top;
  right: 0;
  top: 0;
}

#home-panels .slides 
{
  display: block;
  overflow: hidden;
  float: left;
  width: 430px;
  height: 246px;
  margin: 0 16px 0 0;
  clear: both;
}

#home-panels .slides li 
{
  float: left;
  width: 430px;
  height: 2px;
}

#home-panels .text 
{
  width: 192px;
  float: left;
}

#home-panels .text .panel-close 
{
  display: block;
  float: right;
  width: 16px;
  height: 16px;
  background: url(../images/home-page/panel-close.gif)/*tpa=http://www.consolenergy.com/images/home-page/panel-close.gif*/ no-repeat left top;
  overflow: hidden;
  text-indent: -999em;
}

#home-panels .text h2 
{
  font: bold 1.5em 'Oswald', Helvetica, sans-serif;   
  color: #d11142;
  text-transform: uppercase;
}

#home-panels .text p 
{
  color: #333333;
  float: left;
  font-size: 0.91em;
  margin: 0 0 10px;
  width: 100%;
}

#home-panels .panel-footer h3,
#home-panels .learn-more
{
  font: 1.2em 'Oswald', Helvetica, Sans-serif;
  color: #898989;
}
#home-panels .panel-footer h3 
{
    font-size: 1em;
    text-transform: uppercase;
    margin: 0 0 4px;
}

#home-panels .text ul.callouts 
{
    color:#d11142;
    margin-left:15px;
    margin-bottom:8px;
    list-style-type:disc;
}

#home-panels .text .slide-nav 
{
  margin: 0 0 10px 10px;
  padding: 0 0 0 10px;
  list-style-type: disc;
  font-size: 0.91em;
  color: #d11142;
  font-weight: bold;
}

#home-panels .text .slide-nav a 
{
  color: #999898;  
  text-decoration: none;
}

#home-panels .text .slide-nav .current,
#home-panels .text .slide-nav a:hover 
{
  color: #d11142;
}

#home-panels .learn-more 
{
  text-decoration: none;
  display: block;
  float: left;
  padding: 0 12px 0 0;
  background: url(../images/home-page/panel-link-arrow.gif)/*tpa=http://www.consolenergy.com/images/home-page/panel-link-arrow.gif*/ no-repeat right 5px;
  clear: both;
}

#home-panels .learn-more:hover 
{
  color: #d11142;
}

#home-panels .panel-footer .right,
#home-panels .text .right 
{
    width:114px;
    padding-top:13px;
}

#home-panels .text .share-this,
#home-panels .panel-footer .share-this 
{
  width: 50px;
  font-size: 0.91em;
  line-height: 1.1em;
  color: #636363;
  text-align: right;
  margin: 0 10px 0 0;
  float:left;
}  

#home-panels .social-media li 
{
  display: block;
  float: left;
  margin: 0 6px 0 0;
}
    #home-panels .social-media li.last,
    #home-panels .text li.last 
    {
        margin:0;
    }

#home-panels .social-media li a 
{
  display: block;
  float: left;
  width: 24px;
  height: 24px;
  overflow: hidden;
  text-indent: -999em;
  background-position: left top;
  background-repeat: no-repeat;
}

#home-panels .social-media li .facebook 
{
  background-image: url(../images/home-page/facebook.gif)/*tpa=http://www.consolenergy.com/images/home-page/facebook.gif*/;
}

#home-panels .social-media li .twitter
{
  background-image: url(../images/home-page/twitter.gif)/*tpa=http://www.consolenergy.com/images/home-page/twitter.gif*/;
}

#home-panels .panel-footer .video-thumbs ul li
{
    float:left;
    margin-right:6px;
}

#home-panels .panel-footer .video-thumbs ul li a 
{
    display:block;
    border-bottom:solid 2px #e4e7e7;
}
    #home-panels .panel-footer .video-thumbs ul li.active a 
    {
        border-bottom:solid 2px #d11142;
    }
    

/** Content **/
#home-content-wrapper 
{
    width:100%;
    background:url(../images/home-page/bg_shadow.png)/*tpa=http://www.consolenergy.com/images/home-page/bg_shadow.png*/ no-repeat center 420px;
}
#home-content 
{
    width:960px;
    margin:0 auto;
    padding-bottom:35px;
    border-bottom:solid 2px #d11142;
    position:relative;
    top:8px;
}

#content-container 
{
    background:url(../images/home-page/bg_gray.jpg)/*tpa=http://www.consolenergy.com/images/home-page/bg_gray.jpg*/ no-repeat center 40px;
}
#home-content .col.first,
#home-content .col.second,
#home-content .col.third
{
    float:left;
    width:328px;
}
    #home-content .col.second 
    {
        width:318px;
        margin-right:16px;
    }
    #home-content .col.third 
    {
        width:298px;
    }
#home-content .col-hdr 
{
    font:bold 1.5em/32px Arial;
    color:#ffffff;
    text-transform:uppercase;
    height:32px;
    padding:0 32px 0 16px;
    margin:0 16px 12px 0;
    background:url(../images/home-page/bg_home-hdr.png)/*tpa=http://www.consolenergy.com/images/home-page/bg_home-hdr.png*/ no-repeat right top;
}
    #home-content .second .col-hdr 
    {
        margin-left:16px;
    }
    #home-content .third .col-hdr 
    {
        margin:0 0 6px 0;
    }
        #home-content .third .col-hdr .facebook 
        {
            margin:5px 0 0 0;
        }
#home-content .col-content 
{
    padding-right:16px;
}
    #home-content .second .col-content 
    {
        padding:0 16px;
        border-left:solid 1px #cccccc;
        border-right:solid 1px #cccccc;
    }
    #home-content .third .col-content 
    {
        padding:0;
    }
    #home-content .third .col-content #social-media 
    {
        padding-top: 10px;
    }
    #home-content .third .col-content #social-media img
    {
        padding-left: 10px;
    }
    
#home-content .col.second ul a 
{
    color:#363636;
}
    #home-content .col.second ul a:hover
    {
        color:#d11142;
    }
    #home-content .col.second ul li 
    {
        margin-bottom:12px;
    }
    
.consol-tv-login 
{
    background-color:#e7e5e5;
    padding:16px;
    margin-bottom:16px;
}
.consol-tv-login input 
{
    color:#797979;
}

/******************************
    Quote Box Styles
******************************/

.quoteBox 
{
    width:220px;
    padding:10px;
    border:1px solid #363636;
    background:#D11142;
    border-radius:15px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    -o-border-radius:15px;
}

.quoteBox.left 
{
    float:left;
}

.quoteBox.right 
{
    float:right;
}

    .quoteBox h4 
    {
        font-weight:normal;
        font-size:20px;
        color:#fff;
        vertical-align:baseline;
        text-align:center;
    }
    
        .quoteBox h4 .red 
        {
            font-weight:bold;
            font-size:24px;
            vertical-align:baseline;
            color:#000;
        }

/******************************
    About-Us
******************************/
/****** Quick Facts ******/
#content ul.expand-collapse 
{
    line-height:52px;
    font-weight:bold;
    border-top:solid 1px #cccccc;
    list-style-type:none;
    padding:0;
}
    #content ul.expand-collapse ul 
    {
        display:none;
        list-style-type:none;
        padding:0;
    }
    ul.expand-collapse li
    {
        border-bottom:solid 1px #cccccc;
    }
        ul.expand-collapse li ul li 
        {
            font-weight:normal;
            line-height:18px;
            border:0;
        }
ul.expand-collapse li a.heading 
{
    font-size:1.16em;
    color:#999999;
    display:block;
    margin-right:26px;
    text-decoration:none;
    background:url(../images/template/icons/icons_expand-list-arrows.png)/*tpa=http://www.consolenergy.com/images/template/icons/icons_expand-list-arrows.png*/ no-repeat right top;
}
    ul.expand-collapse li a.heading:hover,
    ul.expand-collapse li a.heading.active
    {
        color:#d11142;
        background:url(../images/template/icons/icons_expand-list-arrows.png)/*tpa=http://www.consolenergy.com/images/template/icons/icons_expand-list-arrows.png*/ no-repeat right -52px;
    }
ul.expand-collapse li a span 
{
    color:#d11142;
}
    ul.expand-collapse li a:hover span,
    ul.expand-collapse li a.active span  
    {
        color:#363636;
    }

/****** Company Statistics ******/
.coal-production-chart 
{
    float:right;
    position:relative;
    top:20px; 
    right:0;
}

table.stats 
{
    margin-bottom:16px;
}
/* Heading */
table.stats td.header,
table.stats th  
{
    font-size:1.33em;
    text-align:left;
    padding:0 10px 8px;
    border-bottom:solid 1px #cccccc;
}
    table.stats th .small,
    table.stats td.header .small 
    {
        font-size:0.8em;
        font-weight:normal;
    }
/* Sub-Heading */
table.stats tr.sub-head td 
{
    font-size:1.16em;
    line-height:28px;
}
/* Gray Rows */
table.stats tr.gray,
table.stats td.gray,
td.gray 
{
    background-color:#ececec;
}

td.subhead 
{
    border-bottom:1px solid #eee;
}

    table.stats tr.dark-gray,
    table.stats td.dark-gray 
    {
        background-color:#dadada;
    }
/* Table Cells */
table.stats td 
{
    padding:5px 10px;
}
    table.stats td.first 
    {
        text-align:left;
    }
/* Total */
table.stats tr td.total
{
    font-size:1.16em;
    font-weight:bold;
    line-height:32px;
    border-top:solid 1px #cccccc;
    border-bottom:solid 1px #cccccc;
}
.stats-production 
{
    position:relative;
}
    .coal-production-chart 
    {
        position:absolute;
        top:200px;
        left:325px;
    }
    
/****** Our History ******/
.historical-moments th 
{
    color:#d11142;
    font-size:18px;
    padding-right:12px;
    padding-top:10px;
    border-right:solid 1px #cccccc;
}
.historical-moments td 
{
    padding-left:12px;
    padding-top:10px;
    /*border-bottom:solid 1px #cccccc;*/
}
.historical-moments th p,
.historical-moments td p 
{
    margin-bottom:12px;
}
    

/****** Contact Us ******/
table.contacts p
{
    font-size:.91em;
}
table.contacts h5 
{
    font-size:1.1em;
}
table.contacts tr.spacer td 
{
    height:1px;
    padding-bottom:16px;
    border-left:0;
    border-top:solid 1px #cccccc;
}
table.contacts td 
{
    padding:0 8px;
    border-left:solid 1px #cccccc;
}
    table.contacts.lg td 
    {
        padding:0 32px;
    }
    table.contacts td.first 
    {
        border:0;
        padding-left:0;
    }
    table.contacts td.last 
    {
        border:0;
    }

/****** Corporate Governance ******/
#content ol
{
    list-style-type:upper-roman;
    font:bold 16px 'Oswald', Helvetica, sans-serif;
    color:#d11142;
    padding-left:18px;
    margin-bottom:16px;
}
    #content ol li 
    {
        padding-left:8px;
        margin-bottom:8px;        
    }
#content ol ol 
{
    list-style-type:upper-alpha;
    font:bold 14px Arial, Helvetica, sans-serif;
    color:#d11142;
    padding-left:30px;
    margin-top:16px;
}
    #content ol span,
    #content ol ol span,
    #content ol ol ol
    {
        font:normal 12px Arial;
        color:#363636;
    }      
#content ol ol ol,
#content ol.numeric 
{
    list-style-type:decimal;
    padding-left:52px;
    margin:8px 0 16px 0;
}  
    #content ol.numeric 
    {
        font:normal 12px Arial;
        color:#363636;
        padding-left:82px;
}

/****** Bylaws ******/

    .bylaws {
    margin-bottom: 10px;
    line-height:18px;
  }
  th.bylawLeft {
    text-align: left;
    padding-bottom: 20px;
  }
  
  th.bylawRight {
    color: #D11142;
    text-align: left;
    padding-left: 45px;
  }
  
  th.bylawRight span {
    color: #000;
    text-transform: uppercase;
  }
  
  td.bylawLeft {
    padding-left: 10px;
    color: #D11142;
    text-align: right;
  }
  
  td.bylawRight {
    padding-left: 45px;
    padding-bottom:20px;
  }
  
  td.bylawRight span {
    font-weight: bold;
  }
  
  td.bylawLeft, 
  td.bylawLight {
    padding-bottom: 20px;
    vertical-align: top;
  }
  
  #content ol.cap 
  {
      font: 12px Arial, Geneva;
    list-style-type: upper-alpha;
    padding-left:30px;
    line-height:18px;
  }
  #content ol.cap li span 
  {
      color:#000;
  }
  
  #content ol.lower 
  {
      font: 12px Arial, Geneva;
      color: #000;
    list-style-type: lower-alpha;
    font-weight: normal;
  }
  
  #content ol.num 
  {
      font: 12px Arial, Geneva;
      color: #000;
      list-style-type: decimal;
      font-weight: normal;
      margin-left: 10px;
  }
  
  #content ol.ethics 
  {
      padding-left:30px;   
  }
  
  #content ul.def 
  {
      font: 12px Arial, Geneva;
      color: #000;
    font-weight: normal;
    margin-top:10px;
  }
  
  #content ol.num li, 
  #content ol.lower li,
  #content ol.cap li 
  {
      line-height:18px;
  }
  
  #bylaw-nav
  {
      margin-bottom:20px;
  }

/****** Corporate Responsibility ******/
table.link-table td a 
{
    font:bold 1.25em 'Oswald', Helvetica, sans-serif;
    padding-right:16px;
    color:#363636;
    text-decoration:none;
    background:url(../images/template/icons/icon_arrows-right.gif)/*tpa=http://www.consolenergy.com/images/template/icons/icon_arrows-right.gif*/ no-repeat right 6px;
}
    table.link-table td a:hover 
    {
        color:#d11142;
        text-decoration:underline;
    }
table.link-table tr.spacer td 
{
    height:1px;
    padding-bottom:16px;
    border-left:0;
    border-top:solid 1px #cccccc;
}
table.link-table td 
{
    padding:0 32px;
    border-left:solid 1px #cccccc;
}
    table.link-table td.first 
    {
        border:0;
        padding-left:0;
    }
/****** Twitter Feed ******/
#social_update_list {
  font-size: 13px;
  line-height: 21px;
  list-style: none;
}
#social_update_list li {
  /*padding-top:5px;*/
  padding-bottom: 7px;
  margin-bottom: 9px;
  border-bottom: 1px solid #cccccc;
    /*background-repeat: no-repeat;
    background-position: 0 0;*/
}
/*#social_update_list li.social_update_listitem_twitter {
    background-image: url(/images/home-page/twitter.gif);
}
#social_update_list li.social_update_listitem_facebook {
    background-image: url(/images/home-page/facebook.gif);
}
#social_update_list li.social_update_listitem_twitter span {
    padding-left:30px;
}
#social_update_list li.social_update_listitem_facebook span {
    padding-left:30px;
}*/
#social_update_list .social_update_postlink {
    text-indent:30px;
    display:inline-block;
    overflow:hidden;
    width:25px;
    height:25px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size:80%;
}
#social_update_list .social_update_postlinkfirst {
    width:auto;
    text-indent:0px;
    padding-right:27px;
    background-position:right 0;
}
#social_update_list .social_update_postlink_facebook {
    /*background-image: url(/images/home-page/facebook.gif);*/
}
#social_update_list .social_update_postlink_twitter {
    background-image: url(../images/home-page/twitter.gif)/*tpa=http://www.consolenergy.com/images/home-page/twitter.gif*/;
}
#social_update_list li a.social_update_listitemlink {
    font-size:80%;
}
#social_update_list a {
  color: #d11141;
}
#social_update_list a.social_update_postlink {
  color: #6f7276;
}
/******************************
    Newsroom
******************************/
/****** Image Library ******/
ul.expand-collapse li table a 
{
    margin-right:0;
}

.expand-collapse.image-library table td 
{
    padding-right:10px;
    padding-bottom:32px;
}
    .expand-collapse.image-library table td.last 
    {
        padding-right:0;
    }

/****** Image Library ******/
table.link-table.spokesman td 
{
    padding: 0 28px;
}

/****** Speeches ******/
.speeches-wrapper
{
    width:455px;
}
.speeches-wrapper p 
{
    margin-bottom:32px;
}
    .speeches-wrapper p.sm-break 
    {
        margin-bottom: 4px;
    }


/******************************
    Map of Mines
******************************/
/** Hotspots **/

#map-of-mines-hotspots 
{
  width: 100%;
  height: 420px;
  float: left;
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
}

#hotspot-wrapper 
{
  width: 1200px;
  height: 420px;
  position: relative;  
}

#map-of-mines-hotspots .hotspot 
{
  display: block;
  position: absolute;
  float: left;
  height: 40px;
  z-index: 5;
}

#map-of-mines-hotspots .hotspot span 
{
  display: block;
  float: left;
  font-family: 'Oswald', Helvetica, sans-serif;
  font-size: 16px;
  color: #d11142;
}

#map-of-mines-hotspots .hotspot .number 
{
  display: none;
}
  
#map-of-mines-hotspots .hotspot-left .cap 
{
  margin: 0 0 0 40px;
  top: 0;
  padding: 0 16px 0 0;
  background: url(../images/home-page/hotspot-balloon-left-cap.png)/*tpa=http://www.consolenergy.com/images/home-page/hotspot-balloon-left-cap.png*/ no-repeat right top;
}

#map-of-mines-hotspots .hotspot-left .cap span 
{
  height: 56px;
  padding: 8px 10px 0 25px;
  background: url(../images/home-page/hotspot-balloon-left.png)/*tpa=http://www.consolenergy.com/images/home-page/hotspot-balloon-left.png*/ no-repeat left top;  
  text-transform: uppercase;
}

#map-of-mines-hotspots .hotspot-right .cap
{
  right: 100%;
  padding: 0 0 0 16px;
  background: url(../images/home-page/hotspot-balloon-right-cap.png)/*tpa=http://www.consolenergy.com/images/home-page/hotspot-balloon-right-cap.png*/ no-repeat;
  background-position:left top !important;
}

#map-of-mines-hotspots .hotspot-right .cap span
{
  height: 56px;
  width: 100%;
  padding: 8px 25px 0 10px;
  background: url(../images/home-page/hotspot-balloon-right.png)/*tpa=http://www.consolenergy.com/images/home-page/hotspot-balloon-right.png*/ no-repeat right top;
  text-transform: uppercase;
}

/****** Panels ******/
#map-of-mines-wrapper 
{
    float: left;
    height: 500px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 725px;
    left:-30px;
}
#map-of-mines-content 
{
    height: 500px;
    margin: 0 auto;
    position: relative;
    width: 725px;
}

#map-of-mines
{
  width: 725px;
  height: 380px;
  overflow: hidden;
  text-indent: -999em;
  position: relative;
  z-index: 2;
  background: url(../images/natural-gas-and-coal/map-of-mines/img_map.jpg)/*tpa=http://www.consolenergy.com/images/natural-gas-and-coal/map-of-mines/img_map.jpg*/ no-repeat center top;
}

#map-states 
{
  height: 330px;
  position: absolute;
  top: 500px;
  left: 15px;
  z-index: 4;  
}

#map-states .panel-navigation 
{
    display: block;
    float: left;
    width: 17px;
    height: 240px;
    overflow: hidden;
    text-indent: -999em;
    background-repeat: no-repeat;
    position:relative;
    top: 190px;
    z-index:99;
}

#map-states #panel-previous 
{
  background-image: url(../images/natural-gas-and-coal/map-of-mines/btn_arrows-left.png)/*tpa=http://www.consolenergy.com/images/natural-gas-and-coal/map-of-mines/btn_arrows-left.png*/;
}

#map-states #panel-next
{
  background-image: url(../images/natural-gas-and-coal/map-of-mines/btn_arrows-right.png)/*tpa=http://www.consolenergy.com/images/natural-gas-and-coal/map-of-mines/btn_arrows-right.png*/;
}

#map-states #panels 
{
  float: left;
  width: 665px;
  height: 330px;
  position: relative;
}

#map-states #panels .panel 
{
  width: 635px;
  height: 234px;
  padding: 48px 15px; 
  position: absolute;  
  left: 340px;
  top: 80px; 
  z-index: 8;
  float: left;
  overflow: hidden;  
  text-align: left;
  background: url(../images/natural-gas-and-coal/map-of-mines/bg_content.png)/*tpa=http://www.consolenergy.com/images/natural-gas-and-coal/map-of-mines/bg_content.png*/ no-repeat left top;
}

/*#map-states #panels .panel-content
{
  float: left;
  clear: both;
  width: 635px;
  height: 234px;
  padding: 48px 15px;  
  right: 0;
  top: 0;
}*/

#map-states .state 
{
  display: block;
  overflow: hidden;
  float: left;
  width: 360px;
  height: 234px;
  margin: 0 16px 0 0;
  clear: both;
  background: url(../images/natural-gas-and-coal/map-of-mines/state_pennsylvania.png)/*tpa=http://www.consolenergy.com/images/natural-gas-and-coal/map-of-mines/state_pennsylvania.png*/ no-repeat center center;
}
    #map-states .state.pennsylvania 
    {
        background: url(../images/natural-gas-and-coal/map-of-mines/state_pennsylvania.png)/*tpa=http://www.consolenergy.com/images/natural-gas-and-coal/map-of-mines/state_pennsylvania.png*/ no-repeat center center;
    }
    #map-states .state.ohio 
    {
        background: url(../images/natural-gas-and-coal/map-of-mines/state_ohio.png)/*tpa=http://www.consolenergy.com/images/natural-gas-and-coal/map-of-mines/state_ohio.png*/ no-repeat center center;
    }
    #map-states .state.west-virginia 
    {
        background: url(../images/natural-gas-and-coal/map-of-mines/state_west-virginia.png)/*tpa=http://www.consolenergy.com/images/natural-gas-and-coal/map-of-mines/state_west-virginia.png*/ no-repeat center center;
    }
    #map-states .state.virginia 
    {
        background: url(../images/natural-gas-and-coal/map-of-mines/state_virginia.png)/*tpa=http://www.consolenergy.com/images/natural-gas-and-coal/map-of-mines/state_virginia.png*/ no-repeat center center;
    }
    #map-states .state.utah 
    {
        background: url(../images/natural-gas-and-coal/map-of-mines/state_utah.png)/*tpa=http://www.consolenergy.com/images/natural-gas-and-coal/map-of-mines/state_utah.png*/ no-repeat center center;
    }
    
#content #map-states .state ul li 
{
    font-size: 1.4em;
    color:#ffffff;
    line-height:14px;
    position:absolute;
    list-style-image:none;
    padding:0;
    margin:0;    
}
    
#map-states .state ul li a
{
    font-size: 11px;
    color:#ffffff;
    text-decoration:none;
    padding-left:12px;
    background: url(../images/natural-gas-and-coal/map-of-mines/icon_dot.png)/*tpa=http://www.consolenergy.com/images/natural-gas-and-coal/map-of-mines/icon_dot.png*/ no-repeat left 4px transparent;
}
    #map-states .state ul li a.right 
    {
        float:none;
        padding:0 12px 0 0;
        text-align:right;
        background-position:right 4px;
    }
    #map-states .state ul li a.red 
    {
        color:#d11142;
    }
    #map-states .state ul li a:hover 
    {
        text-decoration:underline;
    }
    #map-states .state ul li.active a
    {   
        background-position:left -16px;
    }
    #map-states .state ul li.active a.right
    {        
        background-position:right -16px;
    }

#map-states .text 
{
  width: 235px;
  float: left;
  padding:10px 0;
}

#map-states .panel-close 
{
  display: block;
  float: right;
  width: 16px;
  height: 16px;
  background: url(../images/home-page/panel-close.gif)/*tpa=http://www.consolenergy.com/images/home-page/panel-close.gif*/ no-repeat left top;
  overflow: hidden;
  text-indent: -999em;
  margin-top:10px;
}

#map-states .text h2 
{
  font: bold 1.2em 'Oswald', Helvetica, sans-serif;   
  color: #d11142;
  text-transform: uppercase;
  margin: 0 0 6px;
}

#map-states .text p 
{
  color: #333333;
  float: left;
  font-size: 0.91em;
  margin: 0 0 6px;
  width: 100%;
}




/**************************************************
    Custom Tab Styles
**************************************************/
ul.custom_tabs 
{
    list-style:none !important;
    padding:0 !important;
    margin:20px 0 0 0 !important;
}

    ul.custom_tabs li 
    {
        float:left;
        margin:0 !important;
        padding:5px 10px;
        position:relative;
        overflow:hidden;
    }
    
        ul.custom_tabs li a 
        {
            outline:none;
            display:block;
            color:#A6A6A6;
            font-size:14px;
            text-decoration:none;
            font-family:Oswald, Helvetica, Sans-Serif;
            letter-spacing: 0.2px;
        }
        
        ul.custom_tabs li.active 
        {
            height:21px;
            background:#E7E5E5;
        }
        
            ul.custom_tabs li.active a 
            {
                color:#D11142;
            }
        
        ul.custom_tabs li:hover 
        {
            background:#f8f8f8;
        }
        
        ul.custom_tabs li.active:hover 
        {
            background:#E7E5E5;
        }
        
.tab_container 
{
    padding:20px;
    margin:0;
    background:#E7E5E5;
}

    .tab_container .tab_content 
    {
        padding:20px;
        background:#fff;
        margin:0;
    }

.newsroom-gallery 
{
    
}

    .newsroom-gallery tr 
    {
        
    }
    
        .newsroom-gallery tr td 
        {
            
        }
        
            .newsroom-gallery tr td a 
            {
                
            }
            
            .newsroom-gallery tr td a:hover img 
            {
                background:#E7E5E5;
                border:1px solid #dadada;
            }
            
            .newsroom-gallery tr td img 
            {
                border:1px solid #E7E5E5;
                padding:3px;
            }
            
.radio-table 
{
    
}

    .radio-table tr 
    {
        
    }
    
        .radio-table tr td 
        {
            width:33%;
            padding:10px 20px;
            border-bottom:1px solid #e7e5e5;
            border-right:1px solid #e7e5e5;
        }

.hide 
{
    display:none;
}

/* Audio Styles */
.audio-player 
{
    padding:15px 0 20px 0;
    position:relative;
    height:20px;
    width:150px;
    overflow:hidden;
}

.audio-player audio 
{
    width:150px;
}

/* Commercial Gallery Styles */
.player.commercials
{
    width:450px;
    height:270px;
    margin:24px 2px 0 0;
    overflow:hidden;
    float:left;
    background:url(../images/template/loading.gif)/*tpa=http://www.consolenergy.com/images/template/loading.gif*/ no-repeat;
    background-position:center center;
}

.gallery.commercials 
{
    float:left;
    width:133px;
}

    .gallery.commercials .slideshow 
    {
        height:270px;
        overflow:hidden;
        position:relative;
    }
    
        .gallery.commercials .slideshow .move 
        {
            width:133px;
            position:absolute;
            top:0;
        }
        
            .gallery.commercials .slideshow .image 
            {
                height:75px;
                overflow:hidden;
                position:relative;
                margin:0 0 7px 0;
                padding:3px;
                background:#fff;
                border:1px solid #E7E5E5;
            }
            
            .gallery.commercials .slideshow .image:hover 
            {
                background:#E7E5E5;
                border:1px solid #dadada;
            }

        .gallery.commercials .btn-prev 
        {
            width:133px;
            height:20px;
            background:url(../images/template/buttons/btn-prev-off.gif)/*tpa=http://www.consolenergy.com/images/template/buttons/btn-prev-off.gif*/ #fff no-repeat;
            background-position:center center;
            display:block;
            text-indent:-2000px;
            overflow:hidden;
            margin:0 0 8px 0;
            outline:none;
        }
        
            .gallery.commercials .btn-prev.off, 
            .gallery.commercials .btn-prev.off:hover 
            {
                background:url(../images/template/buttons/btn-prev-disabled.gif)/*tpa=http://www.consolenergy.com/images/template/buttons/btn-prev-disabled.gif*/ #fff no-repeat;
                background-position:center center;
            }
            
        .gallery.commercials .btn-prev:hover 
        {
            background:url(../images/template/buttons/btn-prev-on.gif)/*tpa=http://www.consolenergy.com/images/template/buttons/btn-prev-on.gif*/ #d11142 no-repeat;
            background-position:center center;
        }

        .gallery.commercials .btn-next 
        {
            width:133px;
            height:20px;
            background:url(../images/template/buttons/btn-next-off.gif)/*tpa=http://www.consolenergy.com/images/template/buttons/btn-next-off.gif*/ #fff no-repeat;
            background-position:center center;
            display:block;
            text-indent:-2000px;
            overflow:hidden;
            outline:none;
        }
        
            .gallery.commercials .btn-next.off, 
            .gallery.commercials .btn-next.off:hover 
            {
                background:url(../images/template/buttons/btn-next-disabled.gif)/*tpa=http://www.consolenergy.com/images/template/buttons/btn-next-disabled.gif*/ #fff no-repeat;
                background-position:center center;
            }
            
        .gallery.commercials .btn-next:hover 
        {
            background:url(../images/template/buttons/btn-next-on.gif)/*tpa=http://www.consolenergy.com/images/template/buttons/btn-next-on.gif*/ #d11142 no-repeat;
            background-position:center center;
        }

/*
** Homepage News Feed Styles
**/
.news-feed 
{
    margin:0 0 5px 0;
}

    .news-feed tr 
    {
        
    }
    
        .news-feed tr .date 
        {
            padding:0 10px 8px 0;
        }
        
        .news-feed tr td 
        {
            padding:0 0 8px 0;
        }
        
            .news-feed tr td a 
            {
                color:#363636;
                text-decoration:underline;
            }
            
            .news-feed tr td a:hover 
            {
                color:#D11142;
                text-decoration:none;
            }

/*
*  Newsroom Links Table Styles
**/
.links-table 
{
    
}

    .links-table tr 
    {
        
    }
    
        .links-table td 
        {
            vertical-align:middle;
            text-align:center;
            padding:5px;
        }
        
            .links-table td a img 
            {
                padding:3px;
                /*background:#efefef;
                border:1px solid #dadada;*/
                background:#efefef;
                border:1px solid #E7E5E5;
                
            }
            
            .links-table td a:hover img 
            {
                padding:3px;
                background:#E7E5E5;
                border:1px solid #dadada;
            }
            
            
/*
*  Community News Table Styles
**/
.events.alternate 
{
    width:95%;
    margin:0 auto;
}

    .events.alternate tr 
    {
        
    }
    
        .events.alternate tr td 
        {
            padding:10px;
            border-top:1px solid #E7E5E5;
            border-left:1px solid #E7E5E5;
            border-right:1px solid #E7E5E5;
        }
        
            .events.alternate tr td h4 
            {
                font-size:1.13em;
                margin-bottom:5px;
            }
      
    .stats.alternate tr td {
      border-bottom:1px solid #E7E5E5;
    }


/*
*  New Homepage Feature Styles
**/
.fbLink 
{
    color:#fff;
    text-decoration:none;
}

.fbLink:hover 
{
    text-decoration:underline;
}

.clearUmbraco 
{
    clear:both;
    margin:0;
    padding:0;
    font-size:0px;
}

.leftText 
{
    text-align:left;
}

.centerText 
{
    text-align:center;
}

.rightText 
{
    text-align:right;
}

.homePlaceholder 
{
    width:960px;
    height:409px;
    margin:0 auto 5px auto;
    overflow:hidden;
    position:relative;
}

#pre-body 
{
    text-align: center;
}

#homepageAnimation 
{
    position:relative;
    top:0;
    left:0;
    width:960px;
    height:409px;
    z-index:100;
}

.homeFeature,
.homeFeature .homeFeatureImageWrap,
.homeFeature .homeFeatureTextWrap
{
    position:relative;
    display: inline-block;
    top:0;
    left:0;
    width:960px;
    height:409px;
    z-index:1;
}

.homeFeature .homeFeatureImageWrap, .homeFeature .homeFeatureTextWrap { position: relative; }

    .homeFeature .homeFeatureText 
    {
        font-family: 'PTSansNarrowRegular', Arial, Sans-Serif;
        font-size: 37px;
        position: absolute;
        top: 0;
        padding: 0 40px;
        width: 480px;
        height: 410px;
        background: url(../images/home-page/home-page-dynamic-panel-bg.png)/*tpa=http://www.consolenergy.com/images/home-page/home-page-dynamic-panel-bg.png*/ no-repeat left top;
    }
    
    .homeFeature .homeFeatureText p { margin: 0; line-height: 1em; clear: both; width: 100%; }
    .homeFeature .homeFeatureText p span { display: block; }
    
    .homeFeature .homeFeatureText.light { color: #000000; }
    .homeFeature .homeFeatureText.dark { color: #FFFFFF; }
    
    .homeFeature .homeFeatureText.right 
    {
        right: 0;
    }
    
    .homeFeature .homeFeatureText.left
    {
        left: 0;
    }
    
    .homeFeature .homeFeatureText.none {
        background:none;
        display:none;
    }
    
    .homeFeature .homeFullButton 
    {
        display:block;
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        text-align:left;
        text-indent:-2000px;
        z-index:200;
    }
    
    .homeFeature .homeFeatureText table { width: 100%; }
    .homeFeature .homeFeatureText table tr td { vertical-align: middle; width: 100%; height: 410px; }
    
    .homeFeature .homeFeatureText.left.dark { background-position: -560px -410px; }
    .homeFeature .homeFeatureText.right.dark { background-position: left -410px; }
    .homeFeature .homeFeatureText.left.light { background-position: -560px top; }
    .homeFeature .homeFeatureText.right.light { background-position: left top; }
    
    .homeFeature .homeFeatureText .home_feature_largest { font-family: 'Oswald',arial,verdana,sans-serif; font-size: 89px; line-height: 1.3em; }
    .homeFeature .homeFeatureText .home_feature_large { font-family: 'Oswald',arial,verdana,sans-serif; font-size: 40px; }
    .homeFeature .homeFeatureText .home_feature_medium { font-family:'PTSansNarrowRegular','PT Sans Narrow', Arial, sans-serif; font-size: 27px; }
    .homeFeature .homeFeatureText .home_feature_quote { font-family:'PTSansNarrowRegular','PT Sans Narrow', Arial, sans-serif; font-size: 20px; line-height: 1.2em; }
    .homeFeature .homeFeatureText .home_feature_quote_credit { font-family:'PTSansNarrowRegular','PT Sans Narrow', Arial, sans-serif; font-size: 15px; line-height: 1.2em; }
    .homeFeature .homeFeatureText .home_feature_small { font-family: Arial, Sans-Serif; font-size: 10px; color: #666666; }
    
    .homeFeature .homeFeatureText ul { margin-top: 15px; float: left; clear: both; }
    .homeFeature .homeFeatureText ul li { line-height: 0.5em; margin: 0 0 10px; float: left; clear: both; }
    .homeFeature .homeFeatureText ul li a { display: block; float: left; clear: both; background: url(../images/home-page/home-page-feature-link-bullet.png)/*tpa=http://www.consolenergy.com/images/home-page/home-page-feature-link-bullet.png*/ no-repeat right 4px; padding-right: 27px; font-family: 'Oswald',arial,verdana,sans-serif; font-size: 14px; color: #999999; line-height: 1.3em; font-weight: normal; text-decoration: none; }
    .homeFeature .homeFeatureText ul li a:hover { color: #666666; text-decoration: underline; }
    

    .homeFeature #featureBody 
    {
        /*width:507px;*/
        overflow:hidden;
        height:409px;
    }

    .homeFeature #featureBody h2
    {
        width:507px;
        height:148px;
        background:url(../images/home-page/features/mitt-text-white.png)/*tpa=http://www.consolenergy.com/images/home-page/features/mitt-text-white.png*/ no-repeat;
        text-indent:-2000px;
        margin:60px 0 15px 45px;
    }

    .homeFeature #featureBody h3 
    {
        background:url(../images/home-page/features/bg-date.png)/*tpa=http://www.consolenergy.com/images/home-page/features/bg-date.png*/ repeat-y;
        background-position:center center;
        text-align:center;
        padding:5px 0;
        color:#fff;
        font-size:21px;
        font-family:'PT Sans Narrow',Arial,sans-serif;
        font-weight:normal;
        margin:0 0 30px 0;
        width:500px;
    }
    
    .homeFeature #featureBody p 
    {
        
    }
    
    .homeFeature #featureBody p a 
    {
        color: #999999;
        font-family: 'Oswald',arial,verdana,sans-serif;
        font-size: 14px;
        font-weight: 400;
        margin: 5px 40px;
        text-decoration: none;
        background:url(../images/home-page/features/arrow-red.png)/*tpa=http://www.consolenergy.com/images/home-page/features/arrow-red.png*/ no-repeat;
        background-position:right center;
        padding:0 20px 0 0;
        line-height:30px;
    }
    
    .homeFeature #featureBody p a:hover 
    {
        color:#fffedb;
        text-decoration:underline;
    }

/*.homeFeature 
{
    background:url(/images/home-page/features/bg.gif) repeat-x;
    position:absolute;
    top:0;
    left:0;
    width:960px;
    height:409px;
    z-index:1;
}

    .homeFeature .left
    {
        width:386px;
        height:409px;
    }
  
  .homeFeature .right {
    width:574px;
  }
  
  .homeFeature .right .quoteBox 
    {
        margin:50px auto;
        padding:0;
        position:relative;
        width:508px;
        height:148px;
        background:url(/images/home-page/features/txt-romney.png) no-repeat;
        overflow:hidden;
        text-indent:-2000px;
    }
  
  .homeFeature .right .quote 
    {
        font-size:51px;
        margin:0 0 0 20px;
        padding:0;
        color:#121010;
        font-family:'PT Sans Narrow',Arial,Sans-serif;
        line-height:45px;
        text-indent:-2000px;
        display:none;
    }
    
        .homeFeature .right .quote.line1 
        {
            font-size:24px;
            vertical-align:baseline;
        }
        
            .homeFeature .right .quote.line1 span 
            {
                font-size:71px;
                vertical-align:baseline;
            }
            
        .homeFeature .right .quote.line2 
        {
            font-size:54px;
        }
        
        .homeFeature .right .quote.line3 
        {
            font-size:28px;
            margin-right:60px;
        }
    
    .homeFeature .right h3 
    {
        background:#d11143;
        text-align:right;
        padding:5px 50px 5px 0;
        color:#fff;
        font-size:21px;
        font-family:'PT Sans Narrow',Arial,sans-serif;
        font-weight:normal;
        margin:15px 0 30px 0;
    }
    
    .homeFeature .right p 
    {
        font-family:Arial, Sans-Serif;
        color:#121010;
        font-size:14px;
        line-height:18px;
        text-align:right;
        margin:0 50px;
    }
    
    .homeFeature .left.quoteWrapper 
    {
        position:relative;
        width:412px;
    }
    
    .homeFeature .quoteBox 
    {
        padding:30px 15px;
        position:relative;
    }

    .homeFeature .quote 
    {
        font-size:37px;
        margin:0;
        padding:0;
        color:#121010;
        font-family:'PT Sans Narrow',Arial,Sans-serif;
        line-height:35px;
    }
    
    .homeFeature h3 
    {
        background:#d11143;
        text-align:right;
        padding:5px 20px 5px 0;
        color:#fff;
        font-size:21px;
        font-family:'PT Sans Narrow',Arial,sans-serif;
        font-weight:normal;
        margin:15px 0;
    }
    
    .homeFeature p 
    {
        font-family:Arial, Sans-Serif;
        color:#121010;
        font-size:14px;
        line-height:18px;
        text-align:right;
        margin:0 20px 0 0;
    }
    
    .homeFeature .learn-more 
    {
        position:absolute;
        bottom:0;
        right:0;
        text-align:right;
    }
    
        .homeFeature .learn-more a 
        {
            background:url(/images/home-page/features/bg-learnMore.png) no-repeat;
            color:#fff;
            font-family:Arial, Sans-Serif;
            text-transform:uppercase;
            font-size:11px;
            font-weight:normal;
            padding:5px 20px 4px 25px;
            text-decoration:none;
            text-align:right;
            margin:0 0 0 10px;
            display:inline-block;
        }
    
        .homeFeature .learn-more a:hover 
        {
            text-decoration:underline;
        }*/
    
    .homePlaceholder #fauxLoader 
    {
        /*background:#ff0000;*/
        background:url(../images/template/loading.gif)/*tpa=http://www.consolenergy.com/images/template/loading.gif*/ no-repeat;
        font-family:'PT Sans Narrow', Arial, Sans-Serif;
        font-size:20px;
        text-align:center;
        /*padding:194px 0 0 0;
        height:215px;*/
        background-position:center center;
        width:960px;
        height:409px;
        color:#a6a6a6;
        overflow:hidden;
        position:absolute;
        top:0;
        left:0;
        z-index:101;
    }
    
    #newsScroll 
    {
        height:280px;
        margin:0 0 10px 0;
        overflow:hidden;
    }
    
/*
*  404 Page Styles
**/
.errorLost 
{
    font-family:'Oswald', Arial, Verdana, Sans-Serif;
    font-size:120px;
    color:#333;
    line-height:120px;
    margin:0 0 40px 0;
    text-transform:uppercase;
}

.desc 
{
    font-size:14px;
    color:#333;
    line-height:24px;
}

.errorList 
{
    list-style:none;
    list-style-image:none !important;
    margin:0;
    padding:0 !important;
}

    .errorList li 
    {
        margin:0 !important;
        padding:0;
    }
    
        .errorList li a 
        {
            font-size:24px;
            color:#333;
            font-family:'Oswald', Arial, Verdana, Sans-Serif;
            text-decoration:none;
            font-weight:300;
            margin:0;
            padding:2px 5px;
        }
        
        .errorList li a:hover 
        {
            background:#f6f6f6;
        }
        
.nick 
{
    font-family:Georgia, 'Times New Roman';
}

    h4.red .nick
    {
        color:#d11142 !important;
        font-size:1.025em;
    }
    
    .link-table.spokesman a .nick 
    {
        font-size:1.23em !important;
        font-weight:normal !important;
    }
    
.stats.inNews {
    
}

.stats.inNews tr th {
  border-bottom:1px solid #ccc;
  font-size:1.33em;
  padding:0 10px 8px 0;
  text-align:left;
}

.stats.inNews tr td {
    border-bottom:1px solid #e0e0e0 !important;
    vertical-align:middle !important;
    padding:10px !important;
}


/* Community All-Stars Styles */
#debug 
{
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  -moz-opacity:0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
  background:#000;
  color:#fff;
  font-size:16px;
  padding:20px;
  position:fixed;
  right:0;
  bottom:0;
  z-index:99999;
  display:none;
}

h5.black 
{
    color: #000;
    font-size: 1.25em;
    margin-bottom: 10px;
}

#allstars 
{
    position:relative;
    z-index:10;
}

    #allstars #allstarsLogo 
    {
        margin-bottom:15px;
        padding-bottom:15px;
        border-bottom:5px solid #cf1541;
    }
    
    #allstars h4 
    {
        font-size:27px;
        margin:0 0 5px 0;
        padding:0;
    }
    
    #allstars p 
    {
        /*font-size:18px;*/
    }
    
#allstars-gallery 
{
    position:relative;
    width:100%;
    background:#000;
    color:#fff;
    padding:0 0 15px 0;
    z-index:2;
}

    #allstars-gallery .top 
    {
        border-top:5px solid #cf1541;
        margin:0;
        padding:0;
        width:665px;
        position:relative;
    }
    
        #allstars-gallery .top h4 
        {
            color:#fff;
            font-size:21px;
            text-transform:uppercase;
            font-weight:bold;
            font-family:Helvetica, Arial, Verdana, Sans-Serif;
            padding:5px;
            border-top:8px solid #fff;
            border-bottom:8px solid #fff;
            margin:0;
            text-align:center;
            position:relative;
            z-index:1;
        }
        
        #allstars-gallery .btn-prevPic, 
        #allstars-gallery .btn-nextPic 
        {
            position:absolute;
            z-index:2;
            top:0;
            right:25px;
          transition:all 0.5s;
          -moz-transition:all 0.5s;
          -webkit-transition:all 0.5s;
          -o-transition:all 0.5s;
        }
        
            #allstars-gallery .btn-prevPic 
            {
                width: 0; 
              height: 0; 
              overflow:hidden;
              border-top: 12px solid transparent;
              border-bottom: 12px solid transparent; 
              border-right:12px solid #cf1541;
              right:43px;
            }
            
            #allstars-gallery .btn-prevPic:hover 
            {
                border-top: 12px solid transparent;
              border-bottom: 12px solid transparent; 
              border-right:12px solid #fff;
              transition:all 0.5s;
              -moz-transition:all 0.5s;
              -webkit-transition:all 0.5s;
              -o-transition:all 0.5s;
            }
        
            #allstars-gallery .btn-nextPic 
            {
                width: 0; 
              height: 0; 
              overflow:hidden;
              border-top: 12px solid transparent;
              border-bottom: 12px solid transparent; 
              border-left:12px solid #cf1541;
            }
            
            #allstars-gallery .btn-nextPic:hover 
            {
                border-top: 12px solid transparent;
              border-bottom: 12px solid transparent; 
              border-left:12px solid #fff;
              transition:all 0.5s;
              -moz-transition:all 0.5s;
              -webkit-transition:all 0.5s;
              -o-transition:all 0.5s;
            }
            
    #allstars-gallery .content 
    {
        position:relative;
        float:left;
        width:665px;
    }
            
    #allstars-gallery #details
    {
        margin:0;
        padding:0;
        min-height:531px;
        background:#dfdfdf;
        border:8px solid #cf1541;
        position:relative;
        width:649px;
    }

    #allstars-gallery .imgId, 
    #allstars-gallery .count 
    {
        display:none;
    }
    
    #allstars-gallery .current 
    {
        display:none;
        width:649px;
        position:absolute;
        top:0;
        left:0;
    }
    
    #allstars-gallery .current.first 
    {
        display:block;
    }
    
        #allstars-gallery .current .img 
        {
            float:left;
            display:block;
            width:649px;
            text-align:center;
            padding:75px 0;
        }
        
    #allstars-gallery #slider 
    {
        margin:15px auto 0 auto;
        /*padding:0 20px;*/
        width:616px;
        height:83px;
        overflow:hidden;
        position:relative;
    }
    
        #allstars-gallery #slider .btn-prevSlide, 
        #allstars-gallery #slider .btn-nextSlide 
        {
            position:absolute;
            top:0;
            
            -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
          filter: alpha(opacity=70);
          -moz-opacity:0.7;
          -khtml-opacity: 0.7;
          opacity: 0.7;
          transition:all 0.5s;
          -moz-transition:all 0.5s;
          -webkit-transition:all 0.5s;
          -o-transition:all 0.5s;
          z-index:2;
        }
        
        #allstars-gallery #slider .btn-prevSlide:hover, 
        #allstars-gallery #slider .btn-nextSlide:hover 
        {
            -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
          filter: alpha(opacity=100);
          -moz-opacity:1;
          -khtml-opacity: 1;
          opacity: 1;
          transition:all 0.5s;
          -moz-transition:all 0.5s;
          -webkit-transition:all 0.5s;
          -o-transition:all 0.5s;
        }
        
        #allstars-gallery #slider .btn-prevSlide 
        {
            left:0;
            width: 0; 
          height: 0; 
          overflow:hidden;
          border-top: 30px solid transparent;
          border-bottom: 30px solid transparent; 
          border-right: 30px solid #fff;
        }
        
        #allstars-gallery #slider .btn-nextSlide 
        {
            right:0;
            width: 0; 
          height: 0; 
          overflow:hidden;
          border-top: 30px solid transparent;
          border-bottom: 30px solid transparent; 
          border-left: 30px solid #fff;
        }
        
        #allstars-gallery #slider .btn-prevSlide.off, 
        #allstars-gallery #slider .btn-nextSlide.off 
        {
            cursor:default;
            -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
          filter: alpha(opacity=30);
          -moz-opacity:0.3;
          -khtml-opacity: 0.3;
          opacity:0.3;
        }
    
        #allstars-gallery #slider .slide 
        {
            float:left;
            padding:0 8px;
        }
        
            #allstars-gallery #slider .move 
            {
                position:absolute;
                left:0;
                height:83px;
                z-index:1;
            }
        
            #allstars-gallery #slider .slide a 
            {
                border:2px solid transparent;
                display:block;
            }
            
            #allstars-gallery #slider .slide.active a 
            {
                border:2px solid #fff;
            }
        
    #allstars-gallery #flyout 
    {
        float:right;
        width:250px;
        display:none;
        padding:0 20px;
        position:absolute;
        left:670px;
        top:0;
        background:#000;
        
        border-radius:20px;
        -moz-border-radius:20px;
        -webkit-border-radius:20px;
        -o-border-raduis:20px;
    }
        
        #allstars-gallery #flyout .height 
        {
            padding:50px 0;
            border-top:3px solid #5c5b5b;
            border-bottom:3px solid #5c5b5b;
            position:relative;
        }
        
            #allstars-gallery #flyout .height .info 
            {
                display:none;
                position:absolute;
                top:50px;
                left:0;
            }
            
            #allstars-gallery #flyout .height .info.first 
            {
                display:block;
            }
            
                #allstars-gallery #flyout .height .info h5 
                {
                    font-size:21px;
                    color:#fff;
                }
                
                #allstars-gallery #flyout .height .info h6 
                {
                    font-size:16px;
                    color:#acacac;
                    text-transform:uppercase;
                    margin-bottom:20px;
                }
                
                #allstars-gallery #flyout .height .info p 
                {
                    font-size:14px;
                }
            
            #allstars-gallery #flyout .height .social 
            {
                width:100%;
                position:absolute;
                bottom:10px;
                left:0;
            }
            
                #allstars-gallery #flyout .height .social .fb-share 
                {
                    float:left;
                    margin-right:10px;
                }
            
                #allstars-gallery #flyout .height .social .fbLikeBtn 
                {
                    width:125px;
                    height:22px;
                    float:left;
                }
                
                .fb-like iframe 
                {
                    height:22px !important;
                    width:125px !important;
                }
            
        #allstars-gallery #flyout #closeBox 
        {
            height:46px;
            padding-top:10px;
            overflow:hidden;
            position:relative;
            top:0;
            text-align:right;
        }
        
            #allstars-gallery #flyout #closeBox .btn-close 
            {
                text-align:right;
                font-size:13px;
                text-transform:uppercase;
                text-decoration:none;
            }
            
            #allstars-gallery #flyout #closeBox .btn-close:hover 
            {
                text-decoration:underline;
            }
        
        #allstars-gallery #flyout #bottomLogo 
        {
            height:106px;
            overflow:hidden;
            position:relative;
            bottom:0;
            padding-top:17px;
            text-align:center;
        }
        
    #overlay 
    {
        position:fixed;
        top:0;
        bottom:0;
        left:0;
        right:0;
        cursor:pointer;
        background:#000;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
      filter: alpha(opacity=80);
      -moz-opacity:0.8;
      -khtml-opacity: 0.8;
      opacity:0.8;
      z-index:1 !important;
      display:none;
    }

/* Video Lightbox Macro Styles */
.lightBox 
{
    position:absolute;
    top:0;
    left:0;
    background:#000;
    width:auto;
    height:auto;
    z-index:9999;
}

    .lightBox .close 
    {
        position:absolute;
        top:-13px;
        right:-10px;
        background:#000;
        font-weight:bold;
        padding:2px 5px;
        font-size:18px;
        text-decoration:none;
        border:1px solid #fff;
      
      transition: all 0.5s;
      -moz-transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
    }
    
    .lightBox .close:hover 
    {
        color:#fff;
      
      transition: all 0.5s;
      -moz-transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
    }
    
    .currentVid 
    {
        position:relative;
    }
    
    #positioning 
    {
        position:absolute;
        top:-1px;
        left:-1px;
        width:0;
        heigth:0;
        z-index:1000000;
    }