

/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
h1 {
font-size:50px
}

h4 {
font-size: 2.5em;     margin-bottom: 18px;
}

h5 {
color: #D11142;     font-size: 1.33em;     margin-bottom: 4px;
}

.black {
color: #000;     font-size: 1.25em;     margin-bottom: 10px;
}

.footnote {
font-size: 0.833em;     padding: 0 0 6px;
}

.red {
color: #d11142;
}

.nick {
font-family:Georgia, 'Times New Roman';
}

h4.red .nick {
color:#d11142 !important;         font-size:1.025em;
}

.home_feature_largest {
font-size: 89px; line-height: 1.3em;
}

.home_feature_large {
font-size: 40px;
}

.home_feature_medium {
 font-size: 27px;
}

.home_feature_quote {
font-size: 20px; line-height: 1.2em;
}

.home_feature_quote_credit {
font-size: 15px; line-height: 1.2em;
}

.home_feature_small {
font-size: 10px;
}

.spacer {
height:16px;
}

td.dark-gray {
background-color:#dadada;
}

td.subhead {
border-bottom:1px solid #eee; font-size: 1.16em; line-height: 28px;
}

td.header {
font-size:1.33em !important;     text-align:left;     padding:0 10px 8px;     border-bottom:solid 1px #cccccc; font-weight:bold;
}

td.total {
font-size:1.16em; font-weight:bold; line-height:32px; border-top:solid 1px #cccccc; border-bottom:solid 1px #cccccc;
}

.small {
font-size:0.8em;         font-weight:normal;
}

