/* selectivizr errors if this file is empty */
test { background: aqua; }

/* Homepage rotator */
.item .foreground .element.subtitle { width: 375px !important; white-space: nowrap; }
@media only screen and (min-width: 360px) and (max-width: 480px) {
	.item .foreground .element.subtitle img { width: 200px; }
}


/* Detail page banner */
/*.rotator-wrapper h2 { white-space: nowrap; }*/

/* Management Team and Board */
@media only screen and (min-width: 1150px) {
	.board { width:20%; height:225px; display:inline-block; margin-right:4%; text-align:center; text-transform:uppercase; line-height:18px; }
	.board img { margin-bottom:10px; }
	.board .title { font-size:0.8em; text-transform:none; line-height:14px; }
}

@media only screen and (min-width: 601px) and (max-width: 1149px) {
	.board { width:30%; height:300px; display:inline-block; margin-right:2%; text-align:center; text-transform:uppercase; line-height:18px; }
	.board img { margin-bottom:10px; }
	.board .title { font-size:0.8em; text-transform:none; line-height:14px; }
}

@media only screen and (min-width: 481px) and (max-width: 600px) {
	.board { width:45%; display:inline-block; margin-right:4%; margin-bottom: 20px; line-height:18px; text-align:center; text-transform:uppercase; }
	.board img { margin-bottom:5px; }
	.board .title { font-size:0.8em; line-height:14px; text-transform:none; }
}

@media only screen and (min-width: 360px) and (max-width: 480px) {
	.board { width:70%; margin-left: auto; margin-right: auto; line-height:18px; text-align:center; text-transform:uppercase; }
	.board img { margin-bottom:5px; }
	.board .title { font-size:0.8em; line-height:14px; text-transform:none; }
}

@media only screen and (min-width: 1150px) {
	.management { width:20%; height:300px; display:inline-block; margin-right:4%; line-height:18px; text-align:center; text-transform:uppercase; }
	.management img { margin-bottom:10px; }
	.management .title { font-size:0.8em; line-height:14px; text-transform:none; }
}

@media only screen and (min-width: 601px) and (max-width: 1149px) {
	.management { width:30%; height:325px; display:inline-block; margin-right:2%; line-height:18px; text-align:center; text-transform:uppercase; }
	.management img { margin-bottom:10px; }
	.management .title { font-size:0.8em; line-height:14px; text-transform:none; }
}

@media only screen and (min-width: 481px) and (max-width: 600px) {
	.management { width:45%; display:inline-block; margin-right:4%; line-height:18px; text-align:center; text-transform:uppercase; }
	.management img { margin-bottom:5px; }
	.management .title { font-size:0.8em; line-height:14px; text-transform:none; }
}

@media only screen and (min-width: 360px) and (max-width: 480px) {
	.management { width:70%; margin-left: auto; margin-right: auto; line-height:18px; text-align:center; text-transform:uppercase; }
	.management img { margin-bottom:5px; }
	.management .title { font-size:0.8em; line-height:14px; text-transform:none; }
}

/* Board Committee Assignments Table */
table.board-assignments { border-collapse: collapse; padding: 0; margin: 0 0 11px 0; width: 100% !important; }
table.board-assignments th { text-align: center !important; border-bottom: 2px solid #eee; vertical-align: bottom; padding: 0 10px 10px 10px; text-align: right; }
table.board-assignments td { border-bottom: 1px solid #eee; vertical-align: top; padding: 10px; text-align: center !important; }
table.board-assignments th:nth-child(1), table.board-assignments td:nth-child(1) { text-align: left !important; padding-left: 0; white-space: nowrap !important; }

    
/* Board Committee Assignments Responsive Table */
@media screen and (max-width: 600px) {
	table.board-assignments, table.board-assignments tbody { display: block; width: 100%; }
	table.board-assignments thead { display: none; }
	table.board-assignments tr, table.board-assignments th, table.board-assignments td { display: block; padding: 0; text-align: left !important; white-space: normal; }
	table.board-assignments tr { border-bottom: 1px solid #eee; padding-bottom: 11px; margin-bottom: 11px; }
	table.board-assignments th[data-title]:before { content: attr(data-title) ":\00A0"; font-weight: bold; }
	table.board-assignments td[data-title]:before { content: attr(data-title) ":\00A0"; }
	table.board-assignments td { border: none; margin-bottom: 6px; color: #444; }
	table.board-assignments td:empty { display: none; }
	table.board-assignments td:first-child { font-size: 14px; font-weight: bold; margin-bottom: 6px; color: #333; }
	table.board-assignments td:first-child:before { content: ''; }
}

/* Core Values and Logos */
@media only screen and (min-width: 601px) {
	.stacking-columns { display: inline-block; width: 44%; margin-right: 5%; }
}

@media only screen and (min-width: 360px) and (max-width: 600px) {
	.stacking-columns { display: block; width: 98%; margin-right: 0; }
}

/* Responsive Embeds */
.embed-container { position:relative; padding-bottom:75.25%; padding-top:30px; height:0; overflow:hidden; }

.presentation-embed-container { 
	position: relative;
    padding-bottom: 75.25%; /* 16/9 ratio */
    padding-top: 30px; /* IE6 workaround*/
    height: 0;
    overflow: hidden;
}
.presentation-embed-container iframe,
.presentation-embed-container object,
.presentation-embed-container embed { 
	position:absolute; top: 0; left: 0; width: 100%; height: 100%;
}

.youtube-embed-container { 
	position: relative;
    padding-bottom: 75.25%; /* 16/9 ratio */
    padding-top: 30px; /* IE6 workaround*/
    height: 0;
    overflow: hidden;
}
.youtube-embed-container iframe,
.youtube-embed-container object,
.youtube-embed-container embed { 
	position:absolute; top: 0; left: 0; width: 100%; height: 100%;
}

/* Download Icon */
.download { margin:0 0.5em 0 0; padding:0; width:22px; }

/* Publications */
.clearfix, header, .login-box .login-paragraph, .news-grid article span, .news-grid article span.no-hover, .tags, .news .investor-news .photo, .news-filter, .article--title, .breadcrumb-bar, .publications--list section, .publications--list section .publications--article {
}

.publications--list section { border-top:1px solid #d9e0e2; margin:1em 0 0; padding:1em 0 0; }
.publications--list section h2 { text-transform:uppercase; color:#00b9e3; margin:0; padding:0; }
.publications--list section .btn-box { margin:1em 0; }
.publications--list section .btn-box-hide { margin:1em 0; visibility: hidden; }
.publications--list section .publications--article { margin:1em 0 0; display:block; float:left; width:100%; }
.publications--list section .publications--article .article-desc { padding-right:1em; }
.publications--list section .publications--article .article-desc h3 { color:#00b9e3; font-family:"Gotham SSm 7r", "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif; padding:0; margin:0; line-height:1.25em; }
.publications--list section .publications--article .article-desc .btn-pub { color:black; display:inline-block; height:22px; line-height:22px; margin-top:0.5em;
white-space:nowrap; }
.publications--list section .publications--article .article-desc .btn-pub:hover { color:#005b94; }
.publications--list section .publications--article .article-desc .btn-pub img { margin:0 0.5em 0 0; padding:0; width:22px; }
.publications--list section .publications--article > img { float:left; max-width:100px; margin-right:1em; margin-bottom:1em; border:1px solid #e3e3e3; }

@media screen and (min-width: 768px) {
	.publications--list section .publications--article { width:50%; }
}

/* Careers Gallery Company Thumbnails */
@media only screen and (min-width: 1024px) {
	article.cg-item { height: 195px; }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	article.cg-item { width: 49.5%; height: 245px; }
}
/* @media only screen and (min-width: 600px) and (max-width: 767px) {
	article.cg-item { width: 49.5%; height: 175px; }
} */


/* Investor Widgets */
.stacking-columns .investor-news { max-width: 300px; margin: auto; border-top: 10px solid #00b9e3; }
.stacking-columns .investor-news li:first-child { border-top: none; text-align: left !important; }
.stacking-columns .investor-news li time { font-size: 13px; }
.stacking-columns .investor-news li a { font-size: 13px; }

.callout--investor input { border: 0px; background-color: #f0f3f3; height: 28px; font-size: 14px ; color: #404040; }
.callout--investor input.btn-box { background-color: #ffffff; color: #008fb0; }

.callout--investor { text-align: center; padding: 1em; }
.callout--investor h2 { color: #00b9e3; font-family: "ITCFranklinGothicW01-Md 812695", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 400; padding: 0; margin: 0; text-transform: uppercase; }
.callout--investor img { margin: 1em auto; max-width: 86px; }
.callout--investor p { max-width: 260px; margin: 0 auto; padding: 0 0 1em; }


/* Careers Callout */
.callout-container h2 { white-space: nowrap; }
.callout-container figcaption a { white-space: nowrap; }

/* Wildcards */
.annoucment article img { margin: 0 auto; }
.wildcard { margin: 2em 0; display: block; }
.wildcard img { display: block; margin-bottom: 20px; }
.wildcard img.full { display: block; margin-bottom: 20px; max-width: 100%; min-width: 138px; }
.wildcard article { display: block; margin: 1em 0; border-bottom: 15px solid #b1d235; padding: 2em 1em; }
.wildcard article h3 { font-family: "ITC Franklin Gothic W01", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 1.75em; color: #5dc7ef; font-weight: 500; line-height: normal; text-transform: uppercase; margin-bottom: 20px; }
.wildcard article time { font-family: "ITC Franklin Gothic W01", "Helvetica Neue", Helvetica, Arial, sans-serif; color: #84898e; text-transform: uppercase; font-weight: 400; line-height: 1.3em; display: block; padding: 1em 0; }
.wildcard article span { color: #555555; line-height: 1.3em; display: block; padding: 1em 1em 1em 0; }
.wildcard article p { font-family: "ITC Franklin Gothic W01", "Helvetica Neue", Helvetica, Arial, sans-serif; color: #84898e; font-weight: 400; line-height: normal; margin: 0 0 10 0; padding: 0 1em 0 0; }
.wildcard article p img { margin: 0 auto; display: block; padding: 0 0 1em; max-width: 20px; }
.wildcard:hover article { background: #f6f6f6; }
.wildcard span.button {
	background-color: #0099D1; /* Fallback for browsers not supporting background gradients */
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #00AAE8),
	color-stop(0.59, #0099D1)
);
background-image: -o-linear-gradient(bottom, #00AAE8 0%, #0099D1 59%);
background-image: -moz-linear-gradient(bottom, #00AAE8 0%, #0099D1 59%);
background-image: -webkit-linear-gradient(bottom, #00AAE8 0%, #0099D1 59%);
background-image: -ms-linear-gradient(bottom, #00AAE8 0%, #0099D1 59%);
background-image: linear-gradient(to bottom, #00AAE8 0%, #0099D1 59%);
color: #ffffff;
padding: 0.5em 0.5em 0.5em 1em;
text-transform: uppercase;
font-weight: 400;
white-space: nowrap;
max-width: 95%;
}
.wildcard span.button img {
	float: right;
	margin: 0px;
}
@media only screen and (min-width: 1024px) {
	.wildcard article { padding: 2em; }
	.wildcard span.button { max-width: 90%; }
}
@media only screen and (min-width: 900px) and (max-width: 1023px) {
	.wildcard article h3 { font-size: 1.50em; }
}
@media only screen and (min-width: 600px) {
	.annoucment article { padding: 2em 0; }
}
@media only screen and (min-width: 600px) and (max-width: 900px) {
	.wildcard article { padding: 2em 0; }
	.wildcard article h3 { font-size: 1.25em; }
}
@-moz-document url-prefix() {
	.wildcard span.button img { margin-top: -20px !important; }
}