/* RESET */
*
{
    margin: 0;
    padding: 0;
}

div.RadDockZone:before
{
    content: attr(placeholderid);
}

table, img
{
    border: none;
}

table
{
    border-spacing: 0;
    border-collapse: collapse;
}

/* ALL MEDIA TYPES - GENERAL ATTRIBUTES BY ELEMENT */
body
{
    font: .75em/1.5em Arial, Helvetica, sans-serif;
}

div.input input[type="text"]:focus, div.input input[type="password"]:focus, div.input textarea:focus
{
    background-color: #fbd534;
}

h1, h2, h3, h4, h5, h6, p, blockquote, ul, ol, dl, dd, table, address, cite, samp
{
    margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6
{
    font-family: "Times New Roman", Times, serif;
    font-weight: normal;
}

h1
{
    font-size: 2.4em;
}

h2
{
    font-size: 2em;
}

h3
{
    font-size: 1.6em;
}

h4
{
    font-size: 1.6em;
}

h5
{
    font-size: 1.1em;
}

h6
{
    font-size: 1.1em;
    margin-bottom: 0;
}

blockquote, ul, ol
{
    margin-left: 30px;
    margin-right: 30px;
}

blockquote
{
    font-style: italic;
}

cite
{
    display: block;
}

dt
{
    font-weight: bold;
}

ul
{
    list-style-type: square;
}

    ul ul
    {
        margin-bottom: 0;
        list-style-type: disc;
    }

        ul ul ul
        {
            list-style-type: circle;
        }

ol ol
{
    margin-bottom: 0;
    list-style-type: lower-alpha;
}

sup
{
    line-height: 1em;
}

hr
{
    height: 1px;
    margin: 10px 0 20px 0;
}

table
{
    width: 100%;
}

caption
{
    padding-bottom: 3px;
    text-align: left;
    font-weight: bold;
}

tr
{
    border-bottom: 1px solid #eee;
}

    tr.alt
    {
        background-color: #eee;
    }

th
{
    padding: 3px;
    text-align: left;
}

td
{
    padding: 3px 20px 3px 3px;
    empty-cells: show;
    vertical-align: top;
    background-color: none;
}

    td p, td ul, td ol
    {
        margin-bottom: 0;
    }

fieldset
{
    clear: both;
    padding: 5px 10px 10px 10px;
}

label
{
    display: block;
}

/* SCREEN - GENERAL ATTRIBUTES BY ELEMENT */
body
{
    color: #000;
    background: #e9e9e9 url(../Images/Backgrounds/stripes-faded-62.png)/*tpa=https://www.nisource.com/Sitefinity/WebsiteTemplates/NiSource/App_Themes/Default/Images/Backgrounds/stripes-faded-62.png*/ 0px 110px repeat-x;
}

h1, h1 a, h2, h2 a
{
    color: #666;
}

h3, h3 a
{
    color: #2269b7;
    margin-bottom: 5px;
}

h4, h4 a
{
    color: #666;
    margin-bottom: 5px;
}

h5, h5 a
{
    color: #666;
    margin-bottom: 5px;
}

    h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
    {
        margin-bottom: 0;
        text-decoration: none;
    }

        h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
        {
            text-decoration: underline;
        }

a
{
    color: #000;
    text-decoration: underline;
}

    a:hover
    {
        text-decoration: none;
    }

/* SCREEN - GENERAL ATTRIBUTES BY CLASS */
.end
{
    clear: both;
    height: 0;
}

    .end + h2, .end + h3, .end + h4, .end + h5, .end + p
    {
        margin-top: 15px;
    }

div.nav ul, ul.nav
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

    div.nav li, ul.nav li
    {
        margin: 0;
        padding: 0;
    }

    div.nav a, ul.nav a
    {
        text-decoration: none;
    }

@media screen, tv, projection
{
    div#page
    {
        position: relative;
        width: 900px;
        margin: 0 auto;
        background: #fff;
        border: 1px solid #fff;
        border-top-width: 0px;
    }

    div#pageHeader
    {
        width: 100%;
        overflow: hidden;
    }

    div#segmentation
    {
        padding-top: 1em;
    }

    div#segments
    {
        width: 50%;
        float: left;
    }

    div#logo
    {
        height: 110px;
        background-repeat: no-repeat;
        background-position: bottom;
        padding-left: 1.2em;
        padding-right: 1.2em;
    }

    .headerlogo img
    {
        padding-top: 10px;
    }

    div#rightHeader
    {
        width: 50%;
        float: right;
        text-align: right;
        height: 99px;
    }

    div#search
    {
        float: right;
        clear: right;
        width: 200px; /* NOTE: This is min-width, dynamically adjusted via JavaScript */
        height: 27px;
        overflow: hidden;
        padding-top: 3px;
        padding-left: 10px;
        background: #377db1 url(../images/backgrounds/gradient-dark-blue-30h.png)/*tpa=https://www.nisource.com/Sitefinity/WebsiteTemplates/NiSource/App_Themes/Default/images/backgrounds/gradient-dark-blue-30h.png*/ repeat-x;
    }

        div#search input
        {
            width: 93px; /* NOTE: This is min-width, dynamically adjusted via JavaScript 

*/
        }

        div#search .submit
        {
            position: relative;
            top: 5px;
            width: 70px !important;
            height: 18px !important;
            margin-left: 10px;
        }

        /* The following 4 rules were added to fix the search box for sites that have been upgraded to 3.7 SP4 */
        div#search fieldset
        {
            margin: 0;
            padding: 0;
            border: 0;
            margin-top: 3px; /* NOTE: clears styles for 

fieldsets in the search area */
        }

        div#search label
        {
            display: none; /* NOTE: kind of hacky, removing the label that was added by sitefinity 

sp4 */
        }

        div#search .sfsearchTxt
        {
            width: 93px; /* NOTE: This is min-width, dynamically adjusted via JavaScript */
        }

        div#search .sfsearchSubmit
        {
            position: relative;
            width: 70px !important;
            height: 18px !important;
            margin-left: 10px;
            background: #377db1 url(../images/buttons/search.jpg.png)/*tpa=https://www.nisource.com/Sitefinity/WebsiteTemplates/NiSource/App_Themes/Default/images/buttons/search.jpg*/;
            border-radius: 5px 5px 5px 5px;
            border: 0px;
        }

    @-moz-document url-prefix()
    {
        div#search .sfsearchSubmit;
        top: 2px;
    }

}


div#navigation
{
    height: 60px;
    background: transparent url(../Images/Backgrounds/stripes-60.png)/*tpa=https://www.nisource.com/Sitefinity/WebsiteTemplates/NiSource/App_Themes/Default/Images/Backgrounds/stripes-60.png*/ repeat-x;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
div#navigationLinks { 
    float: left;
    clear: left;
}
div#navigationLinks ul
{
    display: inline;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

div#navigationLinks li
{
    float: left;
    height: 31px;
    overflow: hidden;
    padding: 0;
}

    div#navigationLinks li a
    {
        display: block;
        height: 30px;
        border-right: 1px solid #fff;
    }

div#navigationLinks a:hover, div#navigationContent a.hotstate
{
    height: 31px;
    background: #f7b410 url(../Images/Backgrounds/gradient-orange-31h.png)/*tpa=https://www.nisource.com/Sitefinity/WebsiteTemplates/NiSource/App_Themes/Default/Images/Backgrounds/gradient-orange-31h.png*/ repeat-x;
}

div#navigationDescription
{
    position: relative;
    z-index: 1;
    width: 660px; /* Max width before this appears beneath the language selector element */
    margin-top: 1px;
    padding: 6px 18px 4px 18px;
    font-size: 11px;
    color: #ae6e2a;
    background: #fbd534 url(../Images/Backgrounds/gradient-orange-29h.png)/*tpa=https://www.nisource.com/Sitefinity/WebsiteTemplates/NiSource/App_Themes/Default/Images/Backgrounds/gradient-orange-29h.png*/ repeat-x;
}

div#languageContent
{
    position: absolute;
    top: 145px;
    right: 20px;
    font-size: 11px;
    color: #ae6e2a;
    width: 100px;
}

    div#languageContent select
    {
        width: 100px;
        margin-top: 2px;
        margin-left: 5px;
        font-size: 10px;
    }

div#pnlOutageMessage
{
    background-color: Red;
    color: #fff;
    font-weight: bold;
    padding: 5px;
    display: none;
}

    div#pnlOutageMessage a
    {
        color: #fff;
    }

div#content
{
    width: 100%;
    display: block;
    clear: both;
}

div#oneColumn
{
    width: 94%;
    display: block;
    clear: both;
    padding: 1% 3% 1% 3%;
}

div#promoOneColumn
{
    width: 100%;
    display: block;
    clear: both;
    padding: 0% 0% 1% 0%;
}

div#divDirectLink
{
    position: relative;
    width: 900px;
    min-height: 43px;
    margin-top: 1px;
    color: #fff;
    font-weight: bold;
    background: transparent url(../Images/Backgrounds/direct-link-arrow.png)/*tpa=https://www.nisource.com/Sitefinity/WebsiteTemplates/NiSource/App_Themes/Default/Images/Backgrounds/direct-link-arrow.png*/ no-repeat 205px 0px;
}

    div#divDirectLink a#directLink
    {
        position: absolute;
        top: 0px;
        left: 0px;
        display: block;
        width: 232px;
        height: 43px;
    }

    div#divDirectLink a img
    {
        margin: 10px 0 0 10px;
    }

div#directlink p
{
    width: 453px;
    margin: 0 auto;
    padding: 3px 0px 0 0;
}

div#divDirectLink a#callBeforeDigging
{
    position: absolute;
    top: 0px;
    right: 5px;
    display: block;
    width: 171px;
    height: 44px;
}

    div#divDirectLink a#callBeforeDigging img
    {
        margin: 0;
    }
/* Dynamic message - alerts about DirectLink go here */
div#divMessage
{
    position: relative;
    left: 12px;
    width: 480px;
    min-height: 40px;
    margin: 0 auto;
    padding: 3px 10px 0 24px;
}

.alert div#divMessage
{
    width: 453px;
    padding-top: 4px;
    padding-left: 51px;
    color: red;
    background: #fff url(../Images/Icons/alert.gif)/*tpa=https://www.nisource.com/Sitefinity/WebsiteTemplates/NiSource/App_Themes/Default/Images/Icons/alert.gif*/ 2px center no-repeat;
}

    .alert div#divMessage p
    {
        width: auto;
        margin: 0;
        padding: 0;
    }
/* Main.master & Single Column layout */
div#leftContent
{
    width: 38%;
    display: block;
    float: left;
    margin: 1% 0% 1% 3%;
}

div#leftContentHeader
{
    width: 100%;
    color: #fff;
    font-size: large;
    border-top: 1px solid #fff;
    background: transparent url(../Images/Backgrounds/stripes-60.png)/*tpa=https://www.nisource.com/Sitefinity/WebsiteTemplates/NiSource/App_Themes/Default/Images/Backgrounds/stripes-60.png*/;
}

ul#sideNavigation
{
    margin: 0px;
}

    ul#sideNavigation ul
    {
        display: none;
        margin: 0px;
    }

        ul#sideNavigation ul ul
        {
            display: block;
        }

    ul#sideNavigation a
    {
        display: block;
        width: 161px;
        padding: 6px 19px;
        color: #fff;
        background: #319bd9 url(../Images/Backgrounds/gradient-ltblue-25h.png)/*tpa=https://www.nisource.com/Sitefinity/WebsiteTemplates/NiSource/App_Themes/Default/Images/Backgrounds/gradient-ltblue-25h.png*/ top repeat-x;
        text-decoration: none;
    }

        ul#sideNavigation a:hover
        {
            background-color: #f68100;
            background-image: url(../Images/Backgrounds/gradient-orange-25h.png)/*tpa=https://www.nisource.com/Sitefinity/WebsiteTemplates/NiSource/App_Themes/Default/Images/Backgrounds/gradient-orange-25h.png*/;
        }
        /* Selected Navigation Item */
        ul#sideNavigation a.selectedItem
        {
            cursor: default;
            color: #fff;
            background-color: #f68100;
            background-image: url(../Images/Backgrounds/gradient-orange-25h.png)/*tpa=https://www.nisource.com/Sitefinity/WebsiteTemplates/NiSource/App_Themes/Default/Images/Backgrounds/gradient-orange-25h.png*/;
        }
        /* Arrow - applied to items with child navigation */
        ul#sideNavigation a.head img
        {
            float: right;
            margin-top: 6px;
        }
    /* Selected Parent Item */
    ul#sideNavigation li
    {
        list-style-type: none;
    }

        ul#sideNavigation li.selectedItem ul
        {
            display: block;
            height: auto;
        }
        /* Nested Navigation Items */
        ul#sideNavigation li li a
        {
            color: #000;
            background: #fdfdfd url(../Images/Backgrounds/gradient-grey-25h.png)/*tpa=https://www.nisource.com/Sitefinity/WebsiteTemplates/NiSource/App_Themes/Default/Images/Backgrounds/gradient-grey-25h.png*/ top repeat-x;
        }

            ul#sideNavigation li li a:hover
            {
                background-color: #ffdb6b;
                background-image: url(../Images/Backgrounds/gradient-yellow-25h.png)/*tpa=https://www.nisource.com/Sitefinity/WebsiteTemplates/NiSource/App_Themes/Default/Images/Backgrounds/gradient-yellow-25h.png*/;
            }

        ul#sideNavigation li li li a
        {
            width: auto;
            padding-left: 35px;
            color: #999;
        }

div#rightContent
{
    width: 53%;
    display: block;
    float: right;
    margin: 1% 3% 1% 0%;
}

div#primaryMessaging
{
    width: 100%;
    display: block;
    border: 1px solid gray;
    margin-bottom: 10px;
}

div#secondaryMessaging
{
    width: 100%;
    display: block;
    clear: both;
    vertical-align: bottom;
}

div#leftSecondaryMessaging
{
    width: 49%;
    display: inline;
    clear: both;
    float: left;
}

div#rightSecondaryMessaging
{
    width: 49%;
    display: inline;
    float: right;
}

div#tertiaryMessaging
{
    width: 94%;
    display: block;
    clear: both;
    margin: 0px 3% 0px 3%;
}

div.adr, div.articles
{
    margin-bottom: 20px;
}

div.articles
{
    clear: both;
    margin-top: 25px;
}

    div.articles h2
    {
        margin-bottom: 0px;
    }

    div.articles .item
    {
        position: relative;
        min-height: 1em;
        margin-top: -1px;
        padding: 8px 120px 6px 12px;
        border: 1px solid #ccc;
    }

        div.articles .item *
        {
            display: inline;
        }

        div.articles .item h3
        {
            margin-right: 2px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.1em;
        }

            div.articles .item h3 a
            {
                display: inline;
                position: static;
                width: auto;
                height: auto;
            }

        div.articles .item img
        {
            display: block;
            position: absolute;
            top: -1px;
            right: -1px;
            width: 95px;
            height: 25px;
            text-decoration: none;
        }
/* Article Details */
ul.article-list
{
}

    ul.article-list li
    {
        margin-bottom: 20px;
    }

span.article-title
{
    display: block;
    font-weight: bold;
}

span.article-date
{
    display: block;
    font-style: italic;
}

span.article-category
{
    display: block;
}

div.article-detail
{
}

    div.article-detail h2
    {
        margin-bottom: 5px;
    }

div.paging a
{
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #ccc;
    margin: 0px 2px 0px 2px;
}

    div.paging a:disabled, div.paging a[disabled*="disabled"]
    {
        color: #fff;
        background-color: #ccc;
    }

    div.paging a:hover
    {
        text-decoration: underline;
    }
/* ThreeColumn.master layout */
div#leftColumn
{
    float: left;
    width: 199px;
    height: auto;
    background-color: #666;
    border-right: 1px solid #fff;
    overflow: hidden;
}

div#middleColumn
{
    width: 700px;
    height: auto;
    overflow: hidden; /* Keeps large images from breaking layout */
}

    div#middleColumn #landing
    {
        margin: 10px 10px 10px 10px;
    }

    div#middleColumn #leftlanding
    {
        width: 70%;
        float: left;
    }

    div#middleColumn #rightlanding
    {
        width: 30%;
        float: left;
    }

    div#middleColumn .innercontent
    {
        margin: 22px 39px 15px 39px;
    }

    div#middleColumn h1, div#middleColumn h2, div#middleColumn h3, div#middleColumn h4, div#middleColumn h5,
    div#middleColumn h6
    {
        line-height: 1em;
    }

    div#middleColumn ul li
    {
        margin-bottom: 6px;
    }

.contentheader
{
    position: relative;
    width: 700px;
    height: 115px;
    overflow: hidden;
    background: #CCCCCC;
    z-index: 0;
}

.contentheaderlargeformat
{
    position: relative;
    width: 700px;
    height: 190px;
    overflow: hidden;
    background: #CCCCCC;
    z-index: 0;
}

.contenttitle
{
    top: 44px;
    left: 20px;
    position: relative;
    z-index: 2;
    display: inline;
    line-height: 1.1em;
    padding-top: 25px;
    padding-right: 62px;
    color: #fff;
    font-size: 3.25em;
}

.contenttitlelargeformat
{
    top: 114px;
    left: 20px;
    position: relative;
    z-index: 2;
    display: inline;
    line-height: 1.1em;
    padding-top: 25px;
    padding-right: 62px;
    color: #fff;
    font-size: 3.5em;
}

.contenttitlewithstarburst
{
    top: 44px;
    left: 20px;
    position: relative;
    z-index: 2;
    display: inline;
    line-height: 1.1em;
    padding-top: 25px;
    padding-right: 62px;
    color: #fff;
    font-size: 3.25em;
    background: transparent url(../Images/Backgrounds/starburst.png)/*tpa=https://www.nisource.com/Sitefinity/WebsiteTemplates/NiSource/App_Themes/Default/Images/Backgrounds/starburst.png*/ right no-repeat;
}

.contenttitlewithstarburstlargeformat
{
    top: 114px;
    left: 20px;
    position: relative;
    z-index: 2;
    display: inline;
    line-height: 1.1em;
    padding-top: 25px;
    padding-right: 62px;
    color: #fff;
    font-size: 3.5em;
    background: transparent url(../Images/Backgrounds/starburst.png)/*tpa=https://www.nisource.com/Sitefinity/WebsiteTemplates/NiSource/App_Themes/Default/Images/Backgrounds/starburst.png*/ right no-repeat;
}

.contentheader img
{
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
}

.contentheaderlargeformat img
{
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
}

div#contentRelatedLinks
{
    padding: 22px 39px 0px 39px;
    float: left;
    width: 90%;
    overflow: hidden;
}
/* Page Menus - right-aligned menu in content area */
div#contentRelatedLinks
{
    float: right;
    position: relative;
    z-index: 3;
    top: -50px;
    right: -39px;
    bottom: 0px;
    width: 235px;
    overflow: hidden;
    margin: 0 0 15px;
}

    div#contentRelatedLinks div h6
    {
        height: 28px;
        overflow: hidden;
    }

    div#contentRelatedLinks div ul, div.contentRelatedLinks div p
    {
        margin: 0px;
        list-style-type: none;
        width: 235px;
        padding: 6px 0;
        background: #3ab3ea url(../images/backgrounds/gradient-blue-w-rounded-corner-235.png)/*tpa=https://www.nisource.com/Sitefinity/WebsiteTemplates/NiSource/App_Themes/Default/images/backgrounds/gradient-blue-w-rounded-corner-235.png*/ bottom no-repeat;
        border-top: 1px solid #fff;
    }

    div#contentRelatedLinks div li
    {
        margin: 0 !important;
        padding: 3px 9px;
    }

    div#contentRelatedLinks div a
    {
        color: #fff;
        text-decoration: underline;
    }

        div#contentRelatedLinks div a:hover
        {
            text-decoration: none;
        }

div#contentPrimary
{
    padding: 22px 39px 15px 39px;
    width: 90%;
    overflow: hidden;
    display: inline;
}

div#contentSecondary
{
    padding: 0px 0px 0px 39px;
    width: 90%;
    overflow: hidden;
    display: inline;
}

div#rightColumn
{
    position: relative;
    clear: right;
    float: right;
    overflow: hidden;
    height: auto;
    margin: 0 15px 40px 0;
    padding: 0;
    right: -39px;
    top: -50px;
    width: 220px;
    z-index: 3;
}

div#rightColumn p {
    height: auto;
    margin: 5px;
}

div#pageFooter
{
    clear: both;
    position: relative;
    top: -1px;
    width: 100%;
    font-size: 90%;
    text-align: center;
    background: #e9e9e9 url(../Images/Backgrounds/stripes-faded-51.png)/*tpa=https://www.nisource.com/Sitefinity/WebsiteTemplates/NiSource/App_Themes/Default/Images/Backgrounds/stripes-faded-51.png*/ repeat-x;
}

div#footerContent
{
    position: relative;
    width: 900px;
    min-height: 63px;
    overflow: hidden;
    margin: 0 auto;
    padding: 0px;
    background: #fff url(../Images/Backgrounds/shadow-on-white-63.png)/*tpa=https://www.nisource.com/Sitefinity/WebsiteTemplates/NiSource/App_Themes/Default/Images/Backgrounds/shadow-on-white-63.png*/ 0 49px repeat-x;
}

div#bottomNavigation
{
    width: 900px;
    height: 49px;
    margin: 0 auto 0 auto;
    text-align: center;
    background: transparent url(../Images/Backgrounds/stripes-49.png)/*tpa=https://www.nisource.com/Sitefinity/WebsiteTemplates/NiSource/App_Themes/Default/Images/Backgrounds/stripes-49.png*/ repeat-x;
    border: 1px solid #fff;
}

    div#bottomNavigation ul.nav
    {
        position: relative;
        top: 3px;
    }

        div#bottomNavigation ul.nav li
        {
            display: inline;
        }

        div#bottomNavigation ul.nav a
        {
            color: #fff;
            padding: 0 18px;
            border-right: 1px solid #fff;
        }

    div#bottomNavigation li.last a
    {
        border-right: none;
    }

div#copyright
{
    width: 900px;
    height: 63px;
    margin: 0 auto;
    padding-top: 12px;
    background: #fff url(../Images/Backgrounds/shadow-on-white-63.png)/*tpa=https://www.nisource.com/Sitefinity/WebsiteTemplates/NiSource/App_Themes/Default/Images/Backgrounds/shadow-on-white-63.png*/ repeat-x;
}

/* GENERIC FORMS */
fieldset
{
    margin-bottom: 15px;
}

    fieldset div.input
    {
        width: auto;
        margin-right: 20px;
    }

    fieldset.multi div.input
    {
        float: left;
        width: 190px;
        margin-right: 10px;
    }

    fieldset fieldset.multi
    {
        clear: none;
        float: left;
        width: 190px;
        padding: 0;
        border: none;
    }

        fieldset fieldset.multi legend
        {
            margin-bottom: 10px;
        }

legend
{
    padding: 0 2px;
}

fieldset ul, fieldset li
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

fieldset li
{
    display: inline;
}

    fieldset li label
    {
        display: inline;
        margin-right: 5px; /* In lieu of correct classes */
    }

fieldset div.radio label, fieldset div.checkbox label
{
    display: inline; /* Needed for ASP.NET-generated labels which are not implicit */
    margin-right: .5em;
}

div.input
{
    float: left;
    width: 202px;
    margin-bottom: 5px;
    padding-right: 4px;
    background: transparent none;
}

    div.input tr
    {
        border-bottom: 0px;
    }

    div.input td
    {
        padding: 0;
        white-space: nowrap;
    }

    div.input .radPopupImage_Default
    {
        margin-left: 5px;
    }

fieldset.multi div.input input, fieldset.multi div.input select
{
    width: 186px;
}

fieldset.multi div.input radio, fieldset.multi div.input checkbox
{
    width: auto;
}

div.input input, div.input select
{
    width: 198px;
    height: 1.5em;
    padding: 0;
    font-size: 1em;
    border: 1px solid #ccc;
}

div.input.double select
{
    width: auto;
    height: 1.5em;
}

div.input textarea
{
    width: 586px;
    height: 3em;
    border: 1px solid #ccc;
}

div.input label span
{
    white-space: nowrap;
}

div.input.auto
{
    width: auto;
    height: auto;
    padding-top: 0;
    padding-bottom: 0;
}

    div.input.auto input, div.input.auto select
    {
        width: auto;
        height: auto;
    }

div.input.zip
{
    width: 6em;
}

    div.zip input, div.input.zip select
    {
        width: 5em;
    }

div.zip4, div.extension
{
    width: 5em;
}

    div.zip4 input, div.zip4 select, div.extension input, div.extension select
    {
        width: 4em;
    }

div.input.checkbox, div.input.radio
{
    clear: both;
    float: none;
    width: 100%;
}

    div.input.checkbox input, div.input.radio input
    {
        width: auto;
        height: auto;
        margin-right: 5px;
        vertical-align: middle;
    }

    div.input.checkbox label, div.input.radio label
    {
        display: inline; /* Needed for ASP.NET-generated labels which are not implicit */
        vertical-align: top;
        margin-right: 10px;
    }

    div.input.checkbox div, div.input.radio div
    {
        display: inline;
    }

div.checkbox.col2 td, div.radio.col2 td
{
    width: 50%;
}
/* Use with ASP.NET-generated table layout */
div.checkbox div ul, div.radio div ul
{
    display: inline; /* Needed for ASP.NET-generated labels which are not implicit */
    list-style-type: none;
    vertical-align: top;
}

div.input.nolabel
{
}
    /* Used for drop-down menus with no label but that have error messsages in the label element */
    div.input.nolabel label
    {
        display: inline;
    }

div.input.phone
{
    clear: both;
    width: 100%;
}

    div.input.phone input
    {
        width: auto;
    }

    div.input.phone fieldset
    {
        width: 586px;
    }

div.input.address
{
    clear: both;
    width: 100%;
}

fieldset div.input.address input
{
    width: 586px;
}

div.address input, div.address textarea
{
    width: 610px;
}

div.input.middleinitial
{
    width: 25px;
}

    div.input.middleinitial input
    {
        width: 20px;
    }

div.input.comment
{
    clear: both;
    width: 100%;
}

    div.input.comment textarea
    {
        width: 610px;
        height: 6em;
    }

div.input.onecolcomment
{
    clear: both;
    width: 100%;
}

    div.input.onecolcomment textarea
    {
        width: 202px;
        height: 12em;
    }

#divBirthDate div.input
{
    width: 125px;
}

#divServiceDate div.input
{
    width: 130px;
}

div.submit
{
    float: none;
    clear: both;
    margin-bottom: 20px;
    padding-top: 10px;
}

    div.submit *
    {
        clear: both;
    }
/* Input errors */
input.inputError, select.inputError, textarea.inputError
{
    border: thin solid red;
}

.errorsummary
{
    color: red;
    font-weight: bold;
}

.errorindicator
{
    color: red;
}

.required
{
    color: orange;
}

/* Tab Control */
.tabs
{
    margin: 0px;
    padding: 0px;
}

    .tabs li
    {
        float: left;
        overflow: hidden;
        margin-left: 0px;
        padding: 0px;
        list-style-type: none;
    }

        .tabs li a
        {
            text-align: center;
            display: block;
            color: #666;
        }

            .tabs li a.current
            {
                background-color: #fff;
                text-decoration: none;
            }

    .tabs a:hover, .tabs a.hotstate
    {
        background: #fff;
    }

div#tabs
{
    vertical-align: bottom;
    overflow: auto;
    position: relative;
    z-index: 1;
    width: 100%;
    font-size: small;
}

div#pnlTabs
{
    border: 1px solid gray;
}

div.panes
{
    padding: 10px;
}

div.container
{
    background: #ccc;
    color: #fff;
}

/* Gas Availability Cost Estimate Control */
#checks_container
{
    width: 100%;
}

.check
{
    float: left;
    width: 31%;
    padding: 1%;
}

    .check input
    {
        display: inline;
    }

    .check label
    {
        display: inline;
        padding-left: 5px;
        white-space: nowrap;
    }

/*FlowPlayer*/
/* player container */
div.flowplayer
{
    height: 326px;
    width: 435px;
    border: 2px solid #c0c0c0;
    outline: 1px solid #333;
    -moz-outline-radius: 4px;
    cursor: pointer;
    float: left;
    text-align: center;
    margin-right: 15px;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

    /* play button */
    div.flowplayer input
    {
        margin-top: 110px;
    }

    /* info area */
    div.flowplayer div.info
    {
        height: 40px;
        background: #000000;
        opacity: 0.7;
        color: #fff;
        margin-top: 45px;
        text-align: left;
        padding: 2px 15px;
        font-family: Arial;
        font-size: 12px;
        border-top: 1px solid #ccc;
        margin-top: 65px;
    }

        /* duration data inside info area */
        div.flowplayer div.info span
        {
            color: #007CC3;
            display: block;
            font-weight: bold;
        }

    div.flowplayer div.noscript
    {
        height: 15px;
        display: block;
        font-family: Arial;
        text-align: center;
    }

        div.flowplayer div.noscript span
        {
            color: Red;
            font-weight: bold;
        }

/* House Sketch */
.SwitchingNaturalGas
{
    padding: 30px 0 50px;
}

.colLeft_Blu
{
    float: left;
    margin-left: 25px;
    width: 425px;
}

.colRight_Blu
{
    float: left;
    margin-right: 25px;
    text-align: center;
    width: 425px;
}

.learnAboutCopy
{
    color: #107AC1;
    font-size: 22px;
    line-height: 26px;
    margin: 0 0 20px;
    width: 750px;
}

    .learnAboutCopy a
    {
        color: #E85936;
    }

.switch123
{
    color: #636363;
    font-size: 16px;
    line-height: 26px;
    padding-left: 50px;
    width: 650px;
}

    .switch123 li
    {
        margin-bottom: 12px;
    }

    .switch123 a
    {
        color: #E85936;
    }

.grey
{
    color: #636363;
}

.cta
{
    color: #636363;
    float: left;
    font-size: 18px;
    line-height: 30px;
    margin-top: 25px;
    padding-right: 25px;
    width: 375px;
}

    .cta a
    {
        color: #E85936;
    }

.wwlogo
{
    float: left;
    margin-left: 150px;
    margin-top: 25px;
    width: 290px;
}

.clear
{
    clear: both;
    float: none;
}

.rebateDetail
{
    color: #E85936;
    font-size: 22px;
    width: 750px;
}

.rebateTable_Blu
{
    margin: 80px auto;
    width: 850px;
}

    .rebateTable_Blu tr
    {
        border-top: 1px solid #5A5A5A;
        color: #999999;
        font-size: 20px;
        height: 70px;
        line-height: 70px;
        width: 300px;
    }

    .rebateTable_Blu td
    {
        padding: 20px;
        text-align: center;
    }

    .rebateTable_Blu tr.shaded
    {
        background-color: #FDE9B7;
    }

    .rebateTable_Blu tr.shadedLite
    {
        background-color: #FDF0CF;
    }

#tableBlu
{
    border-top: 1px solid #5A5A5A;
    width: 850px;
}

    #tableBlu p
    {
        clear: both;
        color: #999999;
        font-size: 18px;
        margin: 0;
        width: 100%;
    }

        #tableBlu p.blue
        {
            color: #0B6DAE;
        }

    #tableBlu a
    {
        color: #E85936;
        text-decoration: none;
    }

        #tableBlu a:hover
        {
            color: #999999;
            text-decoration: underline;
        }

    #tableBlu span
    {
        border-bottom: 1px solid #5A5A5A;
        border-left: 1px solid #5A5A5A;
        float: left;
        padding: 0 10px;
    }

        #tableBlu span.col1Top
        {
            background-color: #FDE9B7;
            font-size: 24px;
            padding: 20px 10px;
            text-align: center;
            width: 403px;
        }

        #tableBlu span.col1
        {
            padding: 20px 10px;
            text-align: center;
            width: 403px;
        }

        #tableBlu span.col1Shade
        {
            background-color: #FDF0CF;
            padding: 20px 10px;
            text-align: center;
            width: 403px;
        }

        #tableBlu span.col2Top
        {
            background-color: #FDE9B7;
            border-right: 1px solid #5A5A5A;
            font-size: 24px;
            padding: 20px 10px;
            text-align: center;
            width: 404px;
        }

        #tableBlu span.col2
        {
            border-right: 1px solid #5A5A5A;
            padding: 20px 10px;
            text-align: center;
            width: 404px;
        }

        #tableBlu span.col2Shade
        {
            background-color: #FDF0CF;
            border-right: 1px solid #5A5A5A;
            padding: 20px 10px;
            text-align: center;
            width: 404px;
        }

        #tableBlu span.col3
        {
            background-color: #FDF0CF;
            border-right: 1px solid #5A5A5A;
            font-size: 12px;
            padding-bottom: 5px;
            padding-top: 5px;
            width: 828px;
        }

div#link
{
    height: 24px;
    margin-left: 450px;
    margin-top: 40px;
    padding-top: 5px;
    position: absolute;
    width: 450px;
}

    div#link span
    {
        margin-left: 10px;
        position: relative;
        top: -7px;
        width: 350px;
    }

/* Payment Locations */
span.payment-location
{
    float: left;
    width: 180px;
    height: 135px;
    margin-right: 15px;
}

/* Teaching Aids */
div.product-list
{
}

span.product
{
    position: relative;
    display: block;
    float: left;
    width: 140px;
    margin-right: 15px;
}

    span.product img
    {
        width: 100%;
        height: auto;
        margin: 5px 0;
    }

div.product-summary
{
    min-height: 130px;
    padding: 10px 10px 0;
    background-color: #f1f6fb;
    border: 1px solid #2269b7;
}

span.product div.readmore
{
    text-align: right;
    background: transparent url(../images/backgrounds/gradient-blue-25h-2.png)/*tpa=https://www.nisource.com/Sitefinity/WebsiteTemplates/NiSource/App_Themes/Default/images/backgrounds/gradient-blue-25h-2.png*/ repeat-x;
}

span.product label
{
    margin: 3px 0;
    text-align: right;
}

div.product-list div.button
{
    padding: 20px 0;
}

div.input span.example
{
    margin-left: 10px;
    font-size: 75%;
    font-style: italic;
}

}
/* Promotional Styles */
div#promolink
{
    height: 24px;
    text-align: left;
    top: 50px;
    position: relative;
}
/* tooltip styling. by default the element to be styled is .tooltip  */
.tooltip
{
    display: none;
    background: #666;
    font-size: 12px;
    padding: 7px;
    color: #fff;
    width: 300px;
    height: 50px;
}

/* Featured Messages Styles */
#features, #slidingFeatures, #labelFeatures, #basicFeatures, #thumbFeatures
{
    background: #efefef;
    position: relative;
    overflow: hidden;
    width: 477px;
    height: 250px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
}

.jshowoff
{
    margin: 1px;
}

    .jshowoff div
    {
        width: 475px;
        height: 250px;
    }

        .jshowoff div p, .jshowoff div h2
        {
            _background-color: #efefef;
        }

    .jshowoff h2, .jshowoff p
    {
        padding: 15px 20px 0px;
        margin: 0;
    }

    .jshowoff p
    {
        line-height: 15px;
    }

.eddie
{
    float: right;
    padding: 15px 20px 15px 20px;
}

.jshowoff p.jshowoff-slidelinks
{
    position: absolute;
    bottom: 5px;
    right: 5px;
    margin: 0;
    padding: 0;
}

.jshowoff-slidelinks a, .jshowoff-controls a
{
    display: block;
    background-color: #000;
    color: #fff;
    padding: 5px 7px 5px;
    margin: 5px 0 0 5px;
    float: left;
    text-decoration: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    outline: none;
    font-size: 11px;
    line-height: 14px;
}

    .jshowoff-slidelinks a:hover, .jshowoff-controls a:hover
    {
        color: #fff;
    }

    .jshowoff-slidelinks a.jshowoff-active, .jshowoff-slidelinks a.jshowoff-active:hover
    {
        background-color: #fff;
        color: #000;
    }

p.jshowoff-controls
{
    background: #aaa;
    overflow: auto;
    height: 1%;
    padding: 0 0 5px 5px;
    margin: 0;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
}

.jshowoff-controls a
{
    margin: 5px 5px 0 0;
    line-height: 15px;
    padding: 4px 8px 5px;
}

.jshowoff-pausetext
{
    color: #fff;
}

.blurbContainer
{
    padding-top: 125px;
    display: block;
}

.blurb
{
    padding: 7px;
    width: 461px;
    background-color: black;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.6);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
    filter: alpha(opacity=85);
    zoom: 1;
    margin: 0px;
    display: block;
    line-height: 1.5em;
}

.messageLink, .messageLink p, .messageLink h1, .messageLink h2, .messageLink h3, .messageLink h4, .messageLink h5,
.messageLink h6
{
    display: inline;
    text-decoration: none;
    padding: 0px;
    width: 461px;
    margin: 0px;
}

div#languageContent div.rdContent
{
    z-index: 0;
}

div.whatsnew
{
    overflow: auto;
}

    div.whatsnew div.item
    {
        position: relative;
        float: left;
        width: 240px; /* Total 278 - IE 5.5 EDIT */
        padding: 19px 20px;
    }

        div.whatsnew div.item img
        {
            margin-bottom: 10px;
        }

div.sf_pagerNumeric a
{
    padding: 5px 5px 0px 5px;
    border: 1px solid black;
    margin: 0px 5px;
    text-decoration: none;
}

div#subsitelanding
{
    width: 100%;
    overflow: auto;
    color: #1199ef;
}

    div#subsitelanding a
    {
        color: #1199ef;
        text-decoration: none;
    }

    div#subsitelanding div#mainheading
    {
        width: 100%;
        clear: both;
        padding: 0px 0px 5px 0px;
        overflow: auto;
    }

        div#subsitelanding div#mainheading div#leftheading
        {
	    
            width: 75.15%;
            float: left;
        }

        div#subsitelanding div#mainheading div#rightheading
        {
            width: 24.85%;
            float: left;
            padding: 0px;
        }

            div#subsitelanding div#mainheading div#rightheading ul
            {
                margin: 0px;
                list-style-type: none;
            }

                div#subsitelanding div#mainheading div#rightheading ul li a
                {
                    height: 32px;
                    padding: 13px 0px 0px 7px;
                    font-size: 10pt;
                    font-weight: bold;
                    text-decoration: none;
                    display: block;
                    background-image: url(../Images/Backgrounds/right-heading-btn.jpg)/*tpa=https://www.nisource.com/Sitefinity/WebsiteTemplates/NiSource/App_Themes/Default/Images/Backgrounds/right-heading-btn.jpg*/;
                    background-attachment: scroll;
                    background-repeat: repeat;
                    background-position-x: 0%;
                    background-position-y: 0%;
                    background-color: rgb(181, 227, 255);
                }

    div#subsitelanding div#landingcontent
    {
        width: 94%;
        margin: 1% 3%;
        clear: both;
        overflow: auto;
    }

        div#subsitelanding div#landingcontent div#leftlandingcontent
        {
            width: 48.75%;
            float: left;
            padding-right: .75%;
	    padding-top:3px;
        }

            div#subsitelanding div#landingcontent div#leftlandingcontent ul
            {
                list-style-type: none;
                padding: 0px 0px 5px 0px;
                margin: 0px;
            }


        div#subsitelanding div#landingcontent div#rightlandingcontent
        {
            width: 48.75%;
            float: left;
            padding-left: .75%;
	    padding-top:3px;
        }

            div#subsitelanding div#landingcontent div#rightlandingcontent ul
            {
                list-style-type: none;
                padding: 0px 0px 5px 0px;
                margin: 0px;
            }


    div#subsitelanding div#contentfooter
    {
	margin:3px;
	height:110px;
        width: 893px;
        clear: both;
        overflow: auto;
    }

        div#subsitelanding div#contentfooter div#leftcontentfooter
        {
            width: 440px;
            float: left;
            padding-right: 2px;
        }

        div#subsitelanding div#contentfooter div#rightcontentfooter
        {
            width: 440px;
            float: left;
            padding-left: 2px;
        }


        a.pdf { margin-right: 3px; padding-right: 14px; background: transparent url(../Images/Icons/pdf.gif)/*tpa=https://www.nisource.com/Sitefinity/WebsiteTemplates/NiSource/App_Themes/Default/Images/Icons/pdf.gif*/ right 3px no-repeat; }
a.rss { display: inline-block; padding-left: 17px; background: transparent url(../Images/Icons/rss.gif)/*tpa=https://www.nisource.com/Sitefinity/WebsiteTemplates/NiSource/App_Themes/Default/Images/Icons/rss.gif*/ no-repeat; }

/* MODAL WINDOW */
.overlay {
    /* must be initially hidden */
    display:none;
 
    /* place overlay on top of other elements */
    z-index:10000;
 
    /* styling */
    background-color:#FFF;
 
    width:675px;
    min-height:200px;
    border:1px solid #666;
 
    /* CSS3 styling for latest browsers */
    -moz-box-shadow:0 0 90px 5px #000;
    -webkit-box-shadow: 0 0 90px #000;
}

#OverlaySurvey, #OverlayVideo {
    display: none;
}

.overlay {
    padding: 10px;
    width: auto;
}

.close {
position: absolute;
        right: -20px;
        top: -20px;
        width: 35px;
        height: 35px;
        cursor: pointer;
        background-image: url(../images/buttons/overlay-close.png)/*tpa=https://www.nisource.com/Sitefinity/WebsiteTemplates/NiSource/App_Themes/Default/images/buttons/overlay-close.png*/;
    }

#modalIframe {
    width: 675px;
    height: 600px;
    overflow: auto;
}

#player {
    width: 425px;
    height: 300px;
}

.imageOverlay {
    background-color: #2168B7;
    display: none;
    max-height: 800px;
    max-width: 900px;
    min-height: 200px;
    min-width: 220px;
    padding: 10px;
    position: absolute;
    z-index: 900;
}

.imageOverlay a
{
	color:#FFF;
}

.imageOverlay .close 
{    
	background-image: url(../images/buttons/overlay-close.png)/*tpa=https://www.nisource.com/Sitefinity/WebsiteTemplates/NiSource/App_Themes/Default/images/buttons/overlay-close.png*/;   
	position:absolute;    
	right:-15px;    
	top:-15px;    
	cursor:pointer;    
	height:35px;    
	width:35px;
	z-index:99p;
}

.overlaybodytext {
    background-color: #2168B7;
    color: #FFFFFF;
    font-size: 11px;
    left: 0;
    min-width: 230px;
    padding: 5px 10px;
    position: absolute;
    width: 97%;
}

.RadDock .rdTable {
    table-layout: auto !important;
    width: auto !important;
}

/* Start Crisis Popup Overlay */
#crisisCover {
	opacity : 0.5;
	position: fixed;
	top: 0;
	left: 0;
	background-color: black;
	width: 100%;
	z-index: 5000;
	height: 100%;
	filter:  alpha(opacity=50);
}

.crisisOverlay {
	top: 0;
	left: 0;
	outline: none;
	position: relative;
	z-index: 8002;
	background: #fff;
	padding: 10px;
    opacity:inherit;
    filter:inherit;
}
.crisisOverlay p {
	width:100%;
	}
.crisisOverlay p:last-child {
	margin-bottom: 0px;
}
.crisisOverlay img {
	max-width: 100%;
	margin: 0 auto;
	display: block;
}
.crisisSurround {
	max-width: 76%;
	height: auto;
	left: 10%;
	position: absolute;
	padding: 14px;
	z-index: 8001;
	outline: none;
    display:none;
	background: #ff0000;
	border-radius: 5px;
	margin: 0 auto;
	overflow: visible;
    opacity:inherit;
    filter:inherit;
}
.crisisSurround .close {
	position: absolute;
	right: -20px;
	top: -20px;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-image: url(../crisis/images/overlay-close.png)/*tpa=https://www.nisource.com/Sitefinity/WebsiteTemplates/NiSource/App_Themes/Default/crisis/images/overlay-close.png*/;
    opacity:inherit;
    filter:inherit;
}
.crisisMore {
	padding-top: 10px;
	text-align: right;
}
.crisisMore a {
	color: #fff;
	font-size: 16px;
}
.crisisMoreImage {
	vertical-align: middle;
	padding-left: 10px;
}
/* End Crisis Popup Overlay */

/* Start Three column index nisource and cpg */

    #TemplateMessageMainContainer {
		width:829px; 
		margin: 0 auto;
		background-repeat: repeat;
        padding-bottom: 10px;
	}
	
	#TemplateMessageContainer0 img {
		padding: 15px 18px 15px 10px;
		}
	
	#TemplateMessageContainer0 p {
		padding: 0 10px;
		}
	#TemplateMessageContainer0 h3 {
		padding: 0 10px;
		}
		
		
	#TemplateMessageContainer2 {
		clear:left;
		float:left;
		width:100%;
		overflow:hidden;
		background:#F1F6FB; 
		border-top: 1px solid #87CEEB;  
		border-left: 1px solid #87CEEB;
		border-right: 1px solid #87CEEB;
	}
	
	#TemplateMessageContainer1 {
		float:left;
		width:100%;
		position:relative;
		right:33%;
		border-right: 1px solid #87CEEB;
		/* background:#fff689; */
	}
	
	#TemplateMessageContainer0 {
		float:left;
		width:100%;
		position:relative;
		right:33%;
		border-right: 1px solid #87CEEB;
		/* background:#c0c0c0; */
	}
	
	#TemplateMessageColumn1 {
		float:left;
		width:33%;
		position:relative;
		left:67%;
		overflow:hidden;
	}
	
	#TemplateMessageColumn2 {
		float:left;
		width:33%;
		position:relative;
		left:68%;
		overflow:hidden;
	}
	
	#TemplateMessageColumn3 {
		float:left;
		width:33%;
		position:relative;
		left:68%;
		overflow:hidden;
	}
	
	#TemplateMessageFooter {
		
		width:832px;
	}
	
	.TemplateMessageReadMore {
		position: relative;
		/* left: 1px; */
		float: left;
		width: 273px;
		text-align: right;
		background: transparent url('../../../../../../images/default-source/whats-new-backgrounds/gradient-blue-25h-2.png')/*tpa=https://www.nisource.com/images/default-source/whats-new-backgrounds/gradient-blue-25h-2.png*/;
			
	}
	
	#TemplateMessageFooter .column1 {
		width: 282px;
		border-left: 1px solid #87CEEB;
		border-bottom: 1px solid #87CEEB;
		border-right: 1px solid #ffffff;
		}
		
	#TemplateMessageFooter .column2 {
		border-bottom: 1px solid #87CEEB;
		border-right: 1px solid white;
		}
	
	#TemplateMessageFooter .column3 {
		/* border-right: 1px solid #87CEEB; */
		border-bottom: 1px solid #87CEEB;
		}
	
	.TemplateMessageReadMore img {
		border-width:0;
		border:none;
		margin:0;
		padding:0;
	}
	#TemplateMessageFooter a {
		color: white;
		display: block;
		/* position: relative;*/
		text-decoration: none;
	}

/* End Three column index nisource and cpg */

/* Start Two Column Feature Block */

.secondaryMessageContainerTwoCol h3 {
    color: #4d4c4a;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 0;
}
.secondaryMessageContainerTwoCol p {
    color: #4d4c4a;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 15px;
}

.secondaryMessageContainerTwoCol a.learnMore {
    position: absolute;
    bottom: 5px;
    left: 160px;
}
.secondaryMessageContainerTwoCol .secondaryMessageContent {
    padding: 10px;
}

div#SecondaryMessaging1
{
    width: 49%;
    display: inline;
    clear: both;
    float: left;
}

div#SecondaryMessaging2
{
    width: 49%;
    display: inline;
    float: right;
}

.SecondaryMessagingTwoCol {
    background-position: top center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.secondaryMessageContainerTwoCol {
    border: 1px solid gray;
    width: 233px;
    height: 275px;
    position: relative;
    background-image: url(../images/backgrounds/bottom-fade.jpg)/*tpa=https://www.nisource.com/Sitefinity/WebsiteTemplates/NiSource/App_Themes/default/images/backgrounds/bottom-fade.jpg*/;
    background-repeat: repeat-x;
    background-position: bottom;
}

.learnMoreFade {
    background-repeat: repeat-x;
    background-position: bottom;
    height: 26px;
}

/* End Two Column Feature Block*/
