#applATCOverlay{width:680px; background-color: #FFFFFF; position: relative;overflow: hidden;padding:20px 0 20px;}
.applmodelheader{margin-left:30px;margin-bottom:10px;width:620px;border-bottom:1px solid #DDDDDD;padding-bottom:10px;color:#000;}
#applATCHeader{padding: 5px 0 23px 30px;color:#666;}
#applATCHeader .product-info{font-size:26px;margin-right:30px;}
.product-details {font-size:14px;}
.product-details .prod-name{margin-right:5px;}
.product-details .model-number{margin-left: 5px;font-size:12px;}
#applATCOverlayCol1{margin-left:30px;margin-right:10px;}
#applATCOverlayCol1 img{display:block;margin:0 auto;}
.appl-price{font-size:21px;color:#000;}
#applATCOverlayCol2 .item-savePrice {color: #00AE4D;}
.appl-promo-details .promo-sec-item{border-width: 0 1px;color#666;}
.store-contact{line-height:14px;color:#666;margin-left:21px;}
.store-contact .info-localmessage{width:180px;margin-bottom:8px;}
.store-contact .strcontact{margin:5px 0px 17px;width:200px;}
#applATCOverlayCol2 .prod-price div.item_price{font-size:21px;}
#applATCOverlayCol3 .app-backorder-msg, #details-section .app-outofstock-msg {margin-bottom: 9px;font-size:12px;width:180px;margin-left:20px}
##details-section .app-outofstock-msg.btn-clear{width:180px;}
#oos_zip_code {font-weight: bold;}
.deliv-location{color:#000;}
#applATCOverlayCol3 .check-delivdate {margin:0 32px 12px;display:inline-block;}
.check-delivdate  .input-short-custom {float: left;height: 14px;padding: 8px;width: 82px;margin-left: 15px;width:163px;}
.check-delivdate  .dwarf-black-arrow {background-position:-145px 168px;height: 32px;width: 29px;float: left;margin: -47px 163px 0}
#applATCOverlayCol3 .early-availble{color:#000;float: right;}
.early-availble div{margin-bottom:10px;}
#applATCOverlay .delivery-details{padding-top:15px;font-size:12px;color:#666;line-height:16px;}
#applATCBtnSec{float:right;display:inline-block;margin-right:15px;margin-bottom:0;width:415px;}
#applATCBtnSec .addtolist_act, #applATCButton {margin-bottom:12px;padding:10px;margin-top:30px;float:right;}
#applATCBtnSec .return-cart-btn{ float: right;margin-bottom: 12px;margin-right: 10px;margin-top: 30px;padding: 10px;text-align: center;width: 112px;}
#applATCBtnSec .grey-btn{margin-right: 12px;}
#applATCBtnSec .cont-btn{width:115px;text-align:center;margin-right:10px;float:right;margin-bottom:0;}
.delivery-date .backorder ,#details-section .delivery-date  {width:220px;margin-left:-10px;}
#details-section .backorder{margin-top:-27px;float:left}
.check-delivdate .appl-error {margin-bottom:16px;}
.check-delivdate .appl-error div{width:200px;margin-top:5px;}
#details-section .chk-earlierdate-msg{display:inline-block;width:200px;font-size:14px;color:#666;line-height:16px;margin-left:16px;margin-bottom:7px;}
.chk-earlierdate-msg .icon-grey-cal{margin-right:9px;}
.errmessage{color:#EF1F1E}
.appl-backord-msg{margin-left:35px;}
.appl-backord-msg .backorder{margin-left:35px;width:163px;line-height:16px;font-size:12px;color:#666;font-weight:bold;}
.display-promo-sec{display:inline-block;margin-right:16px;}
#applATCOverlay .appl-delivery-msg,#applATCOverlay .early-availble-msg{color:#000;margin-left:25px;}
.early-availble-msg .availabledate{color:#666;display:inline-block;}
.appl-promo-details{margin-top:5px;width:300px;}
#details-section .appl-server-error{width:200px;line-height:15px;}
#applATCButton button {float: left;margin-bottom: 10px;width: 160px;text-align:center;}
#applATCButton {display: inline-block;float: right;margin-right: 10px;width:113px;}
.applATCHeaderError{margin-bottom:10px;margin-top:5px;}
.new-zip-code-btn{margin-left: 30px;margin-top: 32px;width: 132px;text-align:center;}
#details-section .input-short-custom.error::-webkit-input-placeholder{color: #ED1C24;}
#details-section label.labelRemove{margin-left:20px;margin-top:3px;font-weight:normal;color:#777;}
#details-section label.labelerror{color: #ED1C24;}
#applATCOverlayCol3 .zipExists-Btn .app-cont-gotocart, #applATCOverlayCol3 .zipExists-Btn .cont-btn, #applATCOverlayCol3 .zipExists-Cartbtn  .cont-btn{margin-bottom:10px;}
#applATCOverlayCol3 .zipExists-Btn .app-cont-gotocart{width:65px;}
#details-section .new-zip-code-btn span ,#details-section .return-cart-btn span{font-weight: bold;}
#details-section .new-zip-code-btn,#details-section .return-cart-btn{text-align: center;}
.appl-sameitem-error-msg{margin-left:15px;}
.appl-sameitem-error{float: left;margin-top: -27px;margin-left:35px;width:170px;line-height: 14px;}
.appl-maxitem-error-msg{margin-left:-25px;}
.appl-maxitem-error{float: left;margin-top: -27px;margin-left:35px;width:223px;line-height: 16px;}
#details-section .appl-sameplace-ship{margin-left:-17px;margin-top:10px;display:inline-block;width:225px;}
.applsameorder {float: left;line-height: 16px;margin-left: 32px;margin-top: -27px;width: 190px;margin-bottom:10px;}
#applATCOverlayCol3 .zipExists-Btn {display: inline-block;margin-left: 0;margin-top: 41px;width: 397px;}
#applATCOverlayCol3 #applATCBtnSec .zipNotExists-Btn{width:420px;margin-left:0;}
#details-section .icon-yellow-downarrow, #applPnSFooter .errormsgsavePS  i, #applATCPnS .icon-yellow-downarrow{background-position:left 4422px;}
#appl-ordritmadd-error-msg{width: 115px; text-align: center; margin: 25px 8px 15px;float:right;}
.appl-promo-green{border-left:1px solid #cccccc;display:inline-block;padding-left:14px;}
.appl-promo-green div{padding-left:5px;}
#appl-orderitem-error-msg{margin-left:30px;}
#appl-orderitem-error{float: left;margin-top: -27px;margin-left:35px;width:170px;line-height: 16px;}
#applATCOverlayCol3 .early-availble div{width:180px;text-transform:uppercase;margin-right:-13px;}
.ie-class #applATCOverlayCol3 .early-availble div{width:180px;}
#applATCOverlayCol2 .savings_grid {color: #00AE4D;margin: 0;padding-left: 6px;}
#applATCOverlay .dwarf-applCal {background-position: -273px 543px;height: 40px;width: 40px;}
#applZipOverlay{margin:0 20px;}
#applATCOverlayCol3{width:250px;}
.pns-applCal {background-image: url("/static/images/checkout/icon_calendar_small.png");background-repeat: no-repeat;display: block;float: left;height:33px;width:36px;}
.early-availble .pns-applCal{margin-top: -5px;}
#applZipOverlay .applmodelheader{margin-left:0px;width:640px;}
#applZipOverlay #applATCHeader{padding: 0 0 23px 0;}
#applZipOverlay #applATCHeader .product-info{font-size:24px;margin-right:0;}
#applZipOverlay #applATCOverlayCol1{margin-left:0;}
#applZipOverlay #applATCBtnSec{width:387px;margin-right:0;}


/* APS - part 2 */
#applATCPnS{width:640px;margin:0 20px;border-top:1px solid #EEEEEE; padding-top:15px;}
#appl-ps-header{font-size:22px;margin-bottom:15px;}
#applATCPnS .chk-breadcrumbs{margin:0;}
#applbrc-3 .applbrc-3 span{color: #F96302;}
.brc-noicon{padding:15px 0;float:left;height:auto;margin-right:4px;width:auto;}
#reqPnSRadiobtn{margin-top:16px;}
#reqPnSRadiobtn .control-label{width:auto;}
#reqPnSRadiobtn .controls, #protectionPlanSelection .controls{margin-left:0}
#twoStepInstallMsg ul{list-style: disc inside none; margin-top: 10px;}
#radioYesBtn, #radioNoBtn{display:inline-block;margin-right:7px;line-height:16px;width:60px;}
#applPnSRequirements ul{list-style-type:disc;padding-left:12px;}
#applInstalInstr{margin:13px 0;}
.appl-install-cb .controls{margin-left:0;}
.appl-install-cb label.checkbox span, #protectionPlanSelection b{font-weight:normal;}
.appl-install-cb .PnS-sel-col1{width:auto}
.appl-install-cb .PnS-sel-col2{width:47px;margin-top:5px;margin-right:16px;text-align:right;}
.appl-install-cb .PnS-sel-col3{margin: 5px 9px 0 0;width: 65px;}
.appl-install-cb label.checkbox, .appl-install-cb label.radio{width:190px; margin-right:7px;}
.manfWarranty{margin-left:35px;width:176px;padding-right:5px;}
#applPnSFooter{clear:both;margin-top:13px;}
#applSubtotal{float:right;color:#000000; font-size:14px;margin-bottom:7px;}
#applSubtotaltxt{display:inline-block; margin-right:20px;}
#subtotalStatictxt{text-align:right;clear:both;padding-top:15px;}
#applActionBtns{clear:both;padding-top:10px;}
#applRightBtns .cont-shop{margin-right:10px;padding:7px 15px;}
#applRightBtns .pns-goto-cart{padding:7px 15px;}
#applActionBtns .pns-save {padding: 7px 15px;}
#applRightBtns, #applActionBtns .btn-orange{float:right;}
#protectionPlanSelection label{margin-right:6px;}
#applRightBtns .backbtn{float:left;position:relative;display:inline-block;}
.PnS-sel-col1, .PnS-sel-col2, .PnS-sel-col3,.pnSCbCntnr{width:auto;display:inline-block;text-align:top;vertical-align:top;}
.applPnSImgDesc{display:inline-block;width:230px;} 
.applPnSImage{width:80px;display:inline-block;margin-right:12px;vertical-align:top;margin-left:18px;}
#applATCPnS .checkbox-custom{margin-right:15px;}
#reqPnSSelection .checkbox-custom,#reqPnSSelection  .radio-custom,#optPnSSelection .checkbox-custom,#optPnSSelection  .radio-custom{height:39px;}
#applATCPnS .btn-clear span{font-weight:bold;}

/* Bread crumbs styles -- start*/
#applPnSbrC{width: 100%;border-top:1px solid #eee;border-bottom:1px solid #eee;}
#applPnSbrC ul{display: table; width: 100%; padding: 0; margin: 0}
#applPnSbrC ul li{display: table-cell;text-align: center;font-weight:bold;cursor:pointer;}
#applATCPnS .appl-tab{width: inherit; overflow: hidden; position: relative;}
#applATCPnS .arrow-back{border-bottom: 22px solid #eee;border-top: 20px solid #eee; border-left:10px solid #fff;float:left;height: 0;width: 0;}
#applATCPnS .arrow-front{border-left: 10px solid #eee; border-top: 22px solid #fff; border-bottom: 22px solid #fff; position: absolute; right: 0; top: 0;float: left;height: 0;width: 0; }
#applATCPnS .appl-tab .appl-tabLabel{width: inherit; line-height: 3.5}

#applATCPnS #applbrc-1 .applbrc-1 .icon-brcrc,#applATCPnS #applbrc-2 .applbrc-2 .icon-brcrc,#applATCPnS #applbrc-3 .applbrc-3 .icon-brcrc{background-position:left 3254px;padding:0 14px 0 0;}
#applATCPnS #applbrc-1 .applbrc-1 div,#applATCPnS #applbrc-2 .applbrc-2 div,#applATCPnS #applbrc-3 .applbrc-3 div{color: #F96302;background-color:#fff; }
#applATCPnS #applbrc-1 .applbrc-1 .arrow-front,#applATCPnS #applbrc-2 .applbrc-2 .arrow-front{border-left:10px solid #fff;}
#applATCPnS .applbrc-1 div,#applATCPnS .applbrc-2 div,#applATCPnS .applbrc-3 div{background-color: #eee; color: #777}
#applATCPnS #applbrc-2 .applbrc-2 .arrow-back,#applATCPnS #applbrc-3 .applbrc-3 .arrow-back{border-bottom: 22px solid #fff;border-top: 20px solid #fff; }
#applATCPnS #applbrc-2 .applbrc-1 .icon-brcrc,#applATCPnS #applbrc-3 .applbrc-2 .icon-brcrc,#applATCPnS #applbrc-3 .applbrc-1 .icon-brcrc{background-position:left 3297px;padding:0 14px 0 0;}
#applATCPnS .reduced-2-brc ul{width:65%;}
#applATCPnS .reduced-1-brc ul{width:40%;}

/* Bread crumbs styles -- end*/

#cartApplHeader{margin-left: 70px;color:#666;vertical-align:top;}
#cartApplHeader .product-info{font-size:24px;margin-right:10px;margin-bottom:20px;}
#cartApplOvrl{margin:0 25px;}
#cartApplOvrl img{float: left;margin-bottom: 20px;height:60px;width:60px;}
#applInstalInstr #protectionPlanInstr{margin-top:30px;}
#applInstalInstr #applOptionalInstr{margin-top:30px;}
#applATCOverlay .btn-hidden{display:inline-block;} 
#applTotalValue{display:inline-block;}
.learn-more a:hover{text-decoration:underline;}
#applATCPnS .errormsgPS, #applPnSFooter  .errormsgsavePS  {width: 637px;display:inline-block;}
#applATCPnS .errormsgPS div, #applPnSFooter  .errormsgsavePS div{padding-top:4px;}
#applATCPnS .err-btn-close, #applPnSFooter .save-btn-psclose, #applPnSFooter  .err-btn-close{display: inline-block;float: right;margin: 22px 0 0;text-align: center;width: 155px;}
#applATCPnS .err-btn-close span {font-weight: bold;}
#applPnSFooter .pswarningmsg, .errormsgPS  .pswarningmsg {color: #666;font-weight: normal;line-height: 16px;font-weight:bold;}
#applPnSFooter .save-btn-psclose{float: right;margin-left: 15px;text-align: center;width: 86px;}
.pnsDwnErrBtn{width:145px!important;}
#applATCPnS LABEL.radio{width:216px;}
#applATCOverlay .atc-zip {padding-bottom:20px;}
.reduced-1-brc .appl-tab{text-align:left;padding-left:25px;}
#applActionBtns .pns-back,#applActionBtns .pns-next{padding:7px 15px;}
.applPnSImgDesc li{list-style-type:square;line-height:16px;}
.applPnSImgDesc ul{margin-left:10px;margin:10px 25px;}
#noInstall {margin-bottom:20px;}
.applPnSImgDesc a{color:#f96302}
.manfWarranty {font-weight: normal;} 
#cartApsErrSec{margin: 0 0 20px 23px;display:table;width: auto;}
#cartApsErrSec .cart-aps-errmsg{color:#EF1F1E;display:table-cell;vertical-align:middle;}
#details-section .unavailChangeZip .icon-error{height:7px;}
#details-section .unavailChangeZip .errmessage{width:187px;}
#details-section .ddDownChangeZip {width:161px;}
#details-section .updateErrChangeZip{margin-left:9px;}
.updateErrChangeZip #appl-orderitem-error{width:185px;}
#pnsDwnAtc{width: 150px; margin-left: 10px; margin-top: -10px;}
#pnsDwnAtc .icon-yellow-downarrow{background-position: left 4422px;}
#pnsDwnAtcMsg{color:#666; font-size: 12px; font-weight: bold; line-height: 16px; width: 181px; margin-left: 40px;float:left;margin-top:-23px;}