/*
 * Styles for menus.
 */
.CnlMenu {
    font-family: Tahoma, Verdana;
    font-size: 8pt;
    color: black;
}

.CnlMenu a:link {
    color: black;
    text-decoration: none;
}

.CnlMenu a:active {
    background: none;
}

.CnlMenu a:visited {
    color: black;
    text-decoration: none;
}

.CnlMenu a:hover {
    color: black;
    text-decoration: none;
}

.CnlMenuHeader {
    font-weight: bold;
    padding-left: 5px;
    padding-top: 3px;
    padding-right: 5px;
    padding-bottom: 3px;
    white-space: nowrap;
    display: block;
}

.CnlMenuItem {
    color: black;
    white-space: nowrap;
    cursor: pointer;
    display: block;
}

.CnlMenuItem_Normal {
    padding-left: 5px;
    padding-top: 3px;
    padding-right: 5px;
    padding-bottom: 3px;
}

.CnlMenu .CnlMenuHeader {
    padding-left: 30px;
}

.CnlMenu .CnlMenuItem_Normal {
    padding-left: 35px;
}

.CnlMenuItem_Active {
    border: 1px solid black;
    background-color: #fee197;
    padding-left: 4px;
    padding-top: 2px;
    padding-right: 4px;
    padding-bottom: 2px;
}

.CnlMenu .CnlMenuItem_Active {
    padding-left: 34px;
}

.CnlMenuSeparator {
    background-color: ActiveBorder;
}

/*
 * Common styles.
 */

.CnlHighlightOnHover:hover {
    cursor: pointer;
    background-color: lavender;
    background: -webkit-gradient(linear, left top, left bottom, from(whitesmoke), to(lavender));
}

.CnlIE10TextBoxClearButton::-ms-clear {
    display: none;
}

/*
 * Styles for auto completion
 */
.CnlAutoCompleteDropdownMenu {
    border-style: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 0px;

    box-shadow: 0 3px 2px #e8e8e8;
    -moz-box-shadow: 0 3px 2px #e8e8e8;
    -webkit-box-shadow: 0 3px 2px #e8e8e8;

    background-color: #eeeeee;
}

.CnlAutoCompleteDropdownInnerMenu {
    /* Be careful if you change the rounded corners
     * because they need to be the same as in CnlAutoCompleteDropdownMenu.
     * The padding is set in the inner menu because we want the inner menu
     * to cover entirely the container.
     * If the browser does not support gradients, we'll
     * see the background-color of CnlAutoCompleteDropdownMenu
     */
    border: 1px solid silver;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 3px 0px 3px 0px;

    background: -moz-linear-gradient(top, white, #eeeeee);
    background: -ms-linear-gradient(top, white, #eeeeee);
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#eeeeee));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#FFFFFFFF, endColorStr=#FFEEEEEE, gradientType=0);
    zoom:1; /* Required by IE7 to show gradient */

    font-weight: normal;
}

.CnlAutoCompleteDropdownTooltip {
    color: black;
    background-color: white;
    position: absolute;
    display: none;
    padding: 5px;
    left: 5px;
    width: 400px;

    border: 1px solid black;
    border-radius: 4px;
}

.CnlAutoCompleteDropdownItem {
    color: black;
    background-color: inherit;
}

.CnlAutoCompleteDropdownItem span {
    /* This style is applied on highlighted sections of a suggested item */
    font-weight: bold;
}

.CnlAutoCompleteDropdownItemSelected {
    color: white;
    background-color: cornflowerblue;
}

.CnlAutoCompleteDropdownItemSelected span {
    /* This style is applied on highlighted sections of a selected suggested item */
    font-weight: bold;
}

/*
 * Styles for modal boxes.
 */

.CnlModalBox {
    border-collapse:separate;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 2px solid gray;

    font-family: Arial;
    font-size: 9pt;

    box-shadow: 0 0 10px black;
    -moz-box-shadow: 0 0 10px black;
    -webkit-box-shadow: 0 0 10px black;
}

.CnlModalBoxHeader {
    color: white;
    padding: 4px 8px 6px 8px;

    background-color: gray;
    background: -webkit-gradient(linear, left top, left bottom, from(gray), to(#222222));
    background: -moz-linear-gradient(top, gray, #222222);
    background: -ms-linear-gradient(top, gray, #222222);
    filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr=#808080, EndColorStr=#222222, GradientType=0);
}

.CnlModalBoxHeader a:link {
    color: white;
    text-decoration: none;
}

.CnlModalBoxHeader a:active {
    background: none;
}

.CnlModalBoxHeader a:visited {
    color: white;
    text-decoration: none;
}

.CnlModalBoxHeader a:hover {
    color: white;
    text-decoration: underline;
}

.CnlModalBoxBody {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
}

/*
 * Styles for tab controls.
 */

.CnlTabs {
}

.CnlTabsHeader {
    border-bottom: 1px solid silver;
    border-radius: 10px 10px 0px 0px;
    padding: 3px 3px 0px 3px;
    vertical-align: bottom;
    position: relative; /* needed for sorting to work */

    background: -webkit-gradient(linear, left top, left bottom, from(white), to(whitesmoke));
    background: -moz-linear-gradient(top, white, whitesmoke);
    background: -ms-linear-gradient(top, white, whitesmoke);
    filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr=#FFFFFF, EndColorStr=#F5F5F5, GradientType=0);
}

.CnlTabsHeader .ui-sortable-placeholder {
    /* Needed so that the placeholder is floated left as well */
    float: left;
}

.CnlTabHeader {
    position: relative;
    top: 1px;
    height: 18px;
    color: #666666;
    font-size: 11pt;
    font-weight: bold;
    text-align: center;
    border: 1px solid silver;
    border-radius: 3px 3px 0px 0px;
    margin: 0px 3px;
    padding: 5px 10px 6px 10px;

    background-color: whitesmoke;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(whitesmoke));
    background: -moz-linear-gradient(top, white, whitesmoke);
    background: -ms-linear-gradient(top, white, whitesmoke);
    filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr=#FFFFFF, EndColorStr=#F5F5F5, GradientType=0);
}

.CnlTabHeader:hover {
    background-color: khaki;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(antiquewhite));
    background: -moz-linear-gradient(top, white, antiquewhite);
    background: -ms-linear-gradient(top, white, antiquewhite);
    filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr=#FFFFFF, EndColorStr=#FAEBD7, GradientType=0);
}

.CnlTabHeader a {
    color: #666666 !important;
    text-decoration: none !important;
}

.CnlTabHeader a:hover {
    color: darkorange !important;
}

.CnlActiveTabHeader {
    border-bottom: 1px solid white;

    background: white !important;
    filter: none;
}

.CnlHiddenTabHeader {
    color: gray;
    text-decoration: line-through;

    background-color: silver;
    background: -webkit-gradient(linear, left top, left bottom, from(whitesmoke), to(silver));
    background: -moz-linear-gradient(top, whitesmoke, silver);
    background: -ms-linear-gradient(top, whitesmoke, silver);
    filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr=#F5F5F5, EndColorStr=#C0C0C0, GradientType=0);
}

.CnlActiveTabHeader a {
    color: black !important;
    text-decoration: none !important;
}

.CnlActiveTabHeader:hover {
    background: white;
    filter: none;
}

.CnlActiveTabHeader a:hover {
    color: black !important;
}

.CnlTabButton {
    margin-left: 5px;
    position: relative;
    left: 2px;
    top: 2px;
}

.CnlTabCommandLink {
    margin: 6px 0px 6px 10px;
}

.CnlTabBody {
    background-color: White;
    padding: 10px;
}

/*
 * Styles for property sheets.
 */

.CnlPropertyEditor {
    padding-top: 5px;
    padding-bottom: 5px;
}

.CnlPropertyEditorCaption {
    float: left;
    width: 150px;
    padding-top: 4px;
    padding-right: 10px;

    font-size: 11pt;
    font-weight: bold;
}

.CnlPropertyEditorBody {
}

.CnlPropertyEditorBody input,
.CnlPropertyEditorBody select,
.CnlPropertyEditorBody textarea
{
    font-size: 11pt;
}

/*
 * Styles for widgets.
 */

.CnlWidget {
}

.CnlWidget .ui-resizable-s {
    height: 12px;

    /* The handle doesn't work on IE if it doesn't have a background color */
    background-color: White;
    opacity: 0;
    filter: alpha(opacity = 0);
}

.CnlWidget .ui-resizable-e {
    width: 12px;

    /* The handle doesn't work on IE if it doesn't have a background color */
    background-color: White;
    opacity: 0;
    filter: alpha(opacity = 0);
}

.CnlDecoratedWidget {
    border: 2px solid silver;
    border-radius: 3px;
    box-shadow: 0 0 3px black;
    -moz-box-shadow: 0 0 3px black;
    -webkit-box-shadow: 0 0 3px black;
}

.CnlWidgetHeader {
    padding: 2px 5px 2px 5px;

    font-size: 8pt;
    font-weight: bold;

    background-color: silver;
    background: -webkit-gradient(linear, left top, left bottom, from(lightgray), to(silver));
    background: -moz-linear-gradient(top, lightgray, silver);
    background: -ms-linear-gradient(top, lightgray, silver);
    filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr=#d3d3d3, EndColorStr=#c0c0c0, GradientType=0);
}

.CnlWidgetHeaderEditBox {
    visibility: hidden;
}

.CnlWidget:hover .CnlWidgetHeaderEditBox {
    color: Gray;
    visibility: visible;
}

.CnlWidgetHeaderEditBox a:link,
.CnlWidgetHeaderEditBox a:visited {
    color: inherit;
    text-decoration: none;
}

.CnlWidgetHeaderEditBox a:active {
    background: none;
}

.CnlWidgetHeaderEditBox a:hover {
    color: black;
    text-decoration: underline;
}

.CnlWidgetHeaderEditBox a:hover {
    text-decoration: underline;
}

.CnlWidgetBody {

    background-color: white;
    background: -webkit-gradient(linear, left top, left bottom, from(whitesmoke), to(white));
    background: -moz-linear-gradient(top, whitesmoke, white);
    background: -ms-linear-gradient(top, whitesmoke, white);
    filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr=#f5f5f5, EndColorStr=#ffffff, GradientType=0);
}

.CnlHorizontalWidgetZone {
}

.CnlHorizontalWidgetZone .CnlWidget {
    float: left;
}

.CnlVerticalWidgetZone {
}

.CnlEditingWidgetZone {
    border: 2px solid lightsteelblue;
    border-radius: 3px;
    background-color: lavender;

    box-shadow: 0 0 3px lightblue;
    -moz-box-shadow: 0 0 3px lightblue;
    -webkit-box-shadow: 0 0 3px lightblue;
}

.CnlEditingWidgetZone:hover {
}

.CnlEditingWidgetZone .CnlWidget:hover {
    box-shadow: 0 0 6px black;
    -moz-box-shadow: 0 0 6px black;
    -webkit-box-shadow: 0 0 6px black;
}

.CnlEditingWidgetZoneAddButton {
    border: 1px solid silver;
    border-radius: 3px;
    font-size: 9pt;
    padding: 3px 5px 4px 5px;
    text-align: center;
    white-space: nowrap;
    margin-bottom: 10px;
    cursor: pointer;

    background-color: whitesmoke;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(whitesmoke));
    background: -moz-linear-gradient(top, white, whitesmoke);
    background: -ms-linear-gradient(top, white, whitesmoke);
    filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr=#ffffff, EndColorStr=#f5f5f5, GradientType=0);
}

.CnlEditingWidgetZoneAddButton:hover {
    box-shadow: 0 0 3px lightgray;
    -moz-box-shadow: 0 0 3px lightgray;
    -webkit-box-shadow: 0 0 3px lightgray;
    background-color: lightgray;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(lightgray));
    background: -moz-linear-gradient(top, white, lightgray);
    background: -ms-linear-gradient(top, white, lightgray);
    filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr=#ffffff, EndColorStr=#d3d3d3, GradientType=0);
}

.CnlWidgetExplorer {
    border: 1px solid silver;
    border-radius: 3px;
    font-size: 9pt;
    padding: 3px 5px 4px 5px;

    background-color: whitesmoke;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(whitesmoke));
    background: -moz-linear-gradient(top, white, whitesmoke);
    background: -ms-linear-gradient(top, white, whitesmoke);
    filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr=#ffffff, EndColorStr=#f5f5f5, GradientType=0);
}

.CnlWidgetExplorerProfile {
    padding: 5px;
}

.CnlWidgetExplorerProfileName {
    font-size: 10pt;
}

.CnlWidgetExplorerProfileDescription {
    color: #666666;
}

.CnlWidgetExplorerActiveProfile {
    font-weight: bold;
}

.CnlWidgetTabConfigurationBar {
    border: 1px solid silver;
    border-radius: 3px;
    font-size: 9pt;
    padding: 3px 5px 4px 5px;

    background-color: whitesmoke;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(whitesmoke));
    background: -moz-linear-gradient(top, white, whitesmoke);
    background: -ms-linear-gradient(top, white, whitesmoke);
    filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr=#ffffff, EndColorStr=#f5f5f5, GradientType=0);

}

.CnlWidgetTabLayout {
    padding: 3px;
    color: Black;
    text-decoration: none;
}

.CnlWidgetTabLayout:hover {
    color: inherit !important;
    text-decoration: inherit !important;
}

.CnlWidgetTabLayoutIcon {
    background-color: gray;
    background: -webkit-gradient(linear, left top, left bottom, from(silver), to(gray));
    background: -moz-linear-gradient(top, silver, gray);
    background: -ms-linear-gradient(top, silver, gray);
    filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr=#c0c0c0, EndColorStr=#545454, GradientType=0);
}

.CnlWidgetTabLayoutName {
    font-size: 10pt;
}

.CnlWidgetTabLayoutDescription {
    color: #666666;
}

/*
 * Styles for the file picker.
 */

.CnlFilePickerList {
    overflow-y: auto;
    overflow-x: hidden;
    height: 300px;
    padding: 2px;
    margin-top: 6px;
    margin-bottom: 6px;
    border: 1px solid #999999;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.CnlFilePickerItem {
    cursor: default;
    width: 100%;
}

.CnlFilePickerHoveredItem {
    cursor: default;
    width: 100%;
    color: DarkSlateGray;
    background-color: #DFEFFF;
}

.CnlFilePickerItemIcon {
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
    width: 18px;
}

.CnlFilePickerItemText {
    overflow: hidden;
    white-space: nowrap;
}

/*
 * TreeView
 */
 
ul.CnlTree,
ul.CnlTree ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

ul.CnlTree li li {
    margin-left: 12px;
}

ul.CnlTree > li > div > img {
    margin-right: 3px;
}

.CnlTreeNodeCaption {
    display: inline;
    zoom: 1; /* For 'display: inline' in IE7 */
    padding: 1px 2px 1px 2px;
    cursor: default;
    color: navy;
}

li.CnlTreeNodeSelectable > div > div.CnlTreeNodeCaption:hover {
    background-color: lavender;
    cursor: pointer;
}

li.CnlTreeNodeSelected > div > div.CnlTreeNodeCaption {
    font-weight: bold;
}
﻿/*!
 * jQuery UI CSS Framework 1.8.23
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 */

/* Layout helpers
----------------------------------*/
.coveo-theme .ui-helper-hidden { display: none; }
.coveo-theme .ui-helper-hidden-accessible { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px); }
.coveo-theme .ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.coveo-theme .ui-helper-clearfix:before, .coveo-theme .ui-helper-clearfix:after { content: ""; display: table; }
.coveo-theme .ui-helper-clearfix:after { clear: both; }
.coveo-theme .ui-helper-clearfix { zoom: 1; }
.coveo-theme .ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }


/* Interaction Cues
----------------------------------*/
.coveo-theme .ui-state-disabled { cursor: default !important; }


/* Icons
----------------------------------*/

/* states and images */
.coveo-theme .ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }


/* Misc visuals
----------------------------------*/

/* Overlays */
.coveo-theme .ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }


/*!
 * jQuery UI CSS Framework 1.8.23
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 *
 * To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Trebuchet%20MS,%20Tahoma,%20Verdana,%20Arial,%20sans-serif&fwDefault=bold&fsDefault=1.1em&cornerRadius=4px&bgColorHeader=f6a828&bgTextureHeader=12_gloss_wave.png&bgImgOpacityHeader=35&borderColorHeader=e78f08&fcHeader=ffffff&iconColorHeader=ffffff&bgColorContent=eeeeee&bgTextureContent=03_highlight_soft.png&bgImgOpacityContent=100&borderColorContent=dddddd&fcContent=333333&iconColorContent=222222&bgColorDefault=f6f6f6&bgTextureDefault=02_glass.png&bgImgOpacityDefault=100&borderColorDefault=cccccc&fcDefault=1c94c4&iconColorDefault=ef8c08&bgColorHover=fdf5ce&bgTextureHover=02_glass.png&bgImgOpacityHover=100&borderColorHover=fbcb09&fcHover=c77405&iconColorHover=ef8c08&bgColorActive=ffffff&bgTextureActive=02_glass.png&bgImgOpacityActive=65&borderColorActive=fbd850&fcActive=eb8f00&iconColorActive=ef8c08&bgColorHighlight=ffe45c&bgTextureHighlight=03_highlight_soft.png&bgImgOpacityHighlight=75&borderColorHighlight=fed22f&fcHighlight=363636&iconColorHighlight=228ef1&bgColorError=b81900&bgTextureError=08_diagonals_thick.png&bgImgOpacityError=18&borderColorError=cd0a0a&fcError=ffffff&iconColorError=ffd27a&bgColorOverlay=666666&bgTextureOverlay=08_diagonals_thick.png&bgImgOpacityOverlay=20&opacityOverlay=50&bgColorShadow=000000&bgTextureShadow=01_flat.png&bgImgOpacityShadow=10&opacityShadow=20&thicknessShadow=5px&offsetTopShadow=-5px&offsetLeftShadow=-5px&cornerRadiusShadow=5px
 */


/* Component containers
----------------------------------*/
.coveo-theme .ui-widget { font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; font-size: 1.1em; }
.coveo-theme .ui-widget .ui-widget { font-size: 1em; }
.coveo-theme .ui-widget input, .coveo-theme .ui-widget select, .coveo-theme .ui-widget textarea, .coveo-theme .ui-widget button { font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; font-size: 1em; }
.coveo-theme .ui-widget-content { border: 1px solid #dddddd; background: #eeeeee url(-k=er&n=_W.Runtime.coveo_theme_scoped.images.ui-bg_highlight-soft_100_eeeeee_1x100.png&t=0&m=1381686431.png)/*tpa=http://www.celanese.com/Coveo/Anonymous/?k=er&n=_W.Runtime.coveo_theme_scoped.images.ui-bg_highlight-soft_100_eeeeee_1x100.png&t=0&m=1381686431*/ 50% top repeat-x; color: #333333; }
.coveo-theme .ui-widget-content a { color: #333333; }
.coveo-theme .ui-widget-header { border: 1px solid #e78f08; background: #f6a828 url(-k=er&n=_W.Runtime.coveo_theme_scoped.images.ui-bg_gloss-wave_35_f6a828_500x100.png&t=0&m=1381686431.png)/*tpa=http://www.celanese.com/Coveo/Anonymous/?k=er&n=_W.Runtime.coveo_theme_scoped.images.ui-bg_gloss-wave_35_f6a828_500x100.png&t=0&m=1381686431*/ 50% 50% repeat-x; color: #ffffff; font-weight: bold; }
.coveo-theme .ui-widget-header a { color: #ffffff; }

/* Interaction states
----------------------------------*/
.coveo-theme .ui-state-default, .coveo-theme .ui-widget-content .ui-state-default, .coveo-theme .ui-widget-header .ui-state-default { border: 1px solid #cccccc; background: #f6f6f6 url(-k=er&n=_W.Runtime.coveo_theme_scoped.images.ui-bg_glass_100_f6f6f6_1x400.png&t=0&m=1381686431.png)/*tpa=http://www.celanese.com/Coveo/Anonymous/?k=er&n=_W.Runtime.coveo_theme_scoped.images.ui-bg_glass_100_f6f6f6_1x400.png&t=0&m=1381686431*/ 50% 50% repeat-x; font-weight: bold; color: #1c94c4; }
.coveo-theme .ui-state-default a, .coveo-theme .ui-state-default a:link, .coveo-theme .ui-state-default a:visited { color: #1c94c4; text-decoration: none; }
.coveo-theme .ui-state-hover, .coveo-theme .ui-widget-content .ui-state-hover, .coveo-theme .ui-widget-header .ui-state-hover, .coveo-theme .ui-state-focus, .coveo-theme .ui-widget-content .ui-state-focus, .coveo-theme .ui-widget-header .ui-state-focus { border: 1px solid #fbcb09; background: #fdf5ce url(-k=er&n=_W.Runtime.coveo_theme_scoped.images.ui-bg_glass_100_fdf5ce_1x400.png&t=0&m=1381686431.png)/*tpa=http://www.celanese.com/Coveo/Anonymous/?k=er&n=_W.Runtime.coveo_theme_scoped.images.ui-bg_glass_100_fdf5ce_1x400.png&t=0&m=1381686431*/ 50% 50% repeat-x; font-weight: bold; color: #c77405; }
.coveo-theme .ui-state-hover a, .coveo-theme .ui-state-hover a:hover { color: #c77405; text-decoration: none; }
.coveo-theme .ui-state-active, .coveo-theme .ui-widget-content .ui-state-active, .coveo-theme .ui-widget-header .ui-state-active { border: 1px solid #fbd850; background: #ffffff url(-k=er&n=_W.Runtime.coveo_theme_scoped.images.ui-bg_glass_65_ffffff_1x400.png&t=0&m=1381686431.png)/*tpa=http://www.celanese.com/Coveo/Anonymous/?k=er&n=_W.Runtime.coveo_theme_scoped.images.ui-bg_glass_65_ffffff_1x400.png&t=0&m=1381686431*/ 50% 50% repeat-x; font-weight: bold; color: #eb8f00; }
.coveo-theme .ui-state-active a, .coveo-theme .ui-state-active a:link, .coveo-theme .ui-state-active a:visited { color: #eb8f00; text-decoration: none; }
.coveo-theme .ui-widget :active { outline: none; }

/* Interaction Cues
----------------------------------*/
.coveo-theme .ui-state-highlight, .coveo-theme .ui-widget-content .ui-state-highlight, .coveo-theme .ui-widget-header .ui-state-highlight  {border: 1px solid #fed22f; background: #ffe45c url(-k=er&n=_W.Runtime.coveo_theme_scoped.images.ui-bg_highlight-soft_75_ffe45c_1x100.png&t=0&m=1381686431.png)/*tpa=http://www.celanese.com/Coveo/Anonymous/?k=er&n=_W.Runtime.coveo_theme_scoped.images.ui-bg_highlight-soft_75_ffe45c_1x100.png&t=0&m=1381686431*/ 50% top repeat-x; color: #363636; }
.coveo-theme .ui-state-highlight a, .coveo-theme .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a { color: #363636; }
.coveo-theme .ui-state-error, .coveo-theme .ui-widget-content .ui-state-error, .coveo-theme .ui-widget-header .ui-state-error {border: 1px solid #cd0a0a; background: #b81900 url(-k=er&n=_W.Runtime.coveo_theme_scoped.images.ui-bg_diagonals-thick_18_b81900_40x40.png&t=0&m=1381686431.png)/*tpa=http://www.celanese.com/Coveo/Anonymous/?k=er&n=_W.Runtime.coveo_theme_scoped.images.ui-bg_diagonals-thick_18_b81900_40x40.png&t=0&m=1381686431*/ 50% 50% repeat; color: #ffffff; }
.coveo-theme .ui-state-error a, .coveo-theme .ui-widget-content .ui-state-error a, .coveo-theme .ui-widget-header .ui-state-error a { color: #ffffff; }
.coveo-theme .ui-state-error-text, .coveo-theme .ui-widget-content .ui-state-error-text, .coveo-theme .ui-widget-header .ui-state-error-text { color: #ffffff; }
.coveo-theme .ui-priority-primary, .coveo-theme .ui-widget-content .ui-priority-primary, .coveo-theme .ui-widget-header .ui-priority-primary { font-weight: bold; }
.coveo-theme .ui-priority-secondary, .coveo-theme .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }
.coveo-theme .ui-state-disabled, .coveo-theme .ui-widget-content .ui-state-disabled, .coveo-theme .ui-widget-header .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }

/* Icons
----------------------------------*/

/* states and images */
.coveo-theme .ui-icon { width: 16px; height: 16px; background-image: url(-k=er&n=_W.Runtime.coveo_theme_scoped.images.ui-icons_222222_256x240.png&t=0&m=1381686431.png)/*tpa=http://www.celanese.com/Coveo/Anonymous/?k=er&n=_W.Runtime.coveo_theme_scoped.images.ui-icons_222222_256x240.png&t=0&m=1381686431*/; }
.coveo-theme .ui-widget-content .ui-icon {background-image: url(-k=er&n=_W.Runtime.coveo_theme_scoped.images.ui-icons_222222_256x240.png&t=0&m=1381686431.png)/*tpa=http://www.celanese.com/Coveo/Anonymous/?k=er&n=_W.Runtime.coveo_theme_scoped.images.ui-icons_222222_256x240.png&t=0&m=1381686431*/; }
.coveo-theme .ui-widget-header .ui-icon {background-image: url(-k=er&n=_W.Runtime.coveo_theme_scoped.images.ui-icons_ffffff_256x240.png&t=0&m=1381686431.png)/*tpa=http://www.celanese.com/Coveo/Anonymous/?k=er&n=_W.Runtime.coveo_theme_scoped.images.ui-icons_ffffff_256x240.png&t=0&m=1381686431*/; }
.coveo-theme .ui-state-default .ui-icon { background-image: url(-k=er&n=_W.Runtime.coveo_theme_scoped.images.ui-icons_ef8c08_256x240.png&t=0&m=1381686431.png)/*tpa=http://www.celanese.com/Coveo/Anonymous/?k=er&n=_W.Runtime.coveo_theme_scoped.images.ui-icons_ef8c08_256x240.png&t=0&m=1381686431*/; }
.coveo-theme .ui-state-hover .ui-icon, .coveo-theme .ui-state-focus .ui-icon {background-image: url(-k=er&n=_W.Runtime.coveo_theme_scoped.images.ui-icons_ef8c08_256x240.png&t=0&m=1381686431.png)/*tpa=http://www.celanese.com/Coveo/Anonymous/?k=er&n=_W.Runtime.coveo_theme_scoped.images.ui-icons_ef8c08_256x240.png&t=0&m=1381686431*/; }
.coveo-theme .ui-state-active .ui-icon {background-image: url(-k=er&n=_W.Runtime.coveo_theme_scoped.images.ui-icons_ef8c08_256x240.png&t=0&m=1381686431.png)/*tpa=http://www.celanese.com/Coveo/Anonymous/?k=er&n=_W.Runtime.coveo_theme_scoped.images.ui-icons_ef8c08_256x240.png&t=0&m=1381686431*/; }
.coveo-theme .ui-state-highlight .ui-icon {background-image: url(-k=er&n=_W.Runtime.coveo_theme_scoped.images.ui-icons_228ef1_256x240.png&t=0&m=1381686431.png)/*tpa=http://www.celanese.com/Coveo/Anonymous/?k=er&n=_W.Runtime.coveo_theme_scoped.images.ui-icons_228ef1_256x240.png&t=0&m=1381686431*/; }
.coveo-theme .ui-state-error .ui-icon, .coveo-theme .ui-state-error-text .ui-icon {background-image: url(-k=er&n=_W.Runtime.coveo_theme_scoped.images.ui-icons_ffd27a_256x240.png&t=0&m=1381686431.png)/*tpa=http://www.celanese.com/Coveo/Anonymous/?k=er&n=_W.Runtime.coveo_theme_scoped.images.ui-icons_ffd27a_256x240.png&t=0&m=1381686431*/; }

/* positioning */
.coveo-theme .ui-icon-carat-1-n { background-position: 0 0; }
.coveo-theme .ui-icon-carat-1-ne { background-position: -16px 0; }
.coveo-theme .ui-icon-carat-1-e { background-position: -32px 0; }
.coveo-theme .ui-icon-carat-1-se { background-position: -48px 0; }
.coveo-theme .ui-icon-carat-1-s { background-position: -64px 0; }
.coveo-theme .ui-icon-carat-1-sw { background-position: -80px 0; }
.coveo-theme .ui-icon-carat-1-w { background-position: -96px 0; }
.coveo-theme .ui-icon-carat-1-nw { background-position: -112px 0; }
.coveo-theme .ui-icon-carat-2-n-s { background-position: -128px 0; }
.coveo-theme .ui-icon-carat-2-e-w { background-position: -144px 0; }
.coveo-theme .ui-icon-triangle-1-n { background-position: 0 -16px; }
.coveo-theme .ui-icon-triangle-1-ne { background-position: -16px -16px; }
.coveo-theme .ui-icon-triangle-1-e { background-position: -32px -16px; }
.coveo-theme .ui-icon-triangle-1-se { background-position: -48px -16px; }
.coveo-theme .ui-icon-triangle-1-s { background-position: -64px -16px; }
.coveo-theme .ui-icon-triangle-1-sw { background-position: -80px -16px; }
.coveo-theme .ui-icon-triangle-1-w { background-position: -96px -16px; }
.coveo-theme .ui-icon-triangle-1-nw { background-position: -112px -16px; }
.coveo-theme .ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.coveo-theme .ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.coveo-theme .ui-icon-arrow-1-n { background-position: 0 -32px; }
.coveo-theme .ui-icon-arrow-1-ne { background-position: -16px -32px; }
.coveo-theme .ui-icon-arrow-1-e { background-position: -32px -32px; }
.coveo-theme .ui-icon-arrow-1-se { background-position: -48px -32px; }
.coveo-theme .ui-icon-arrow-1-s { background-position: -64px -32px; }
.coveo-theme .ui-icon-arrow-1-sw { background-position: -80px -32px; }
.coveo-theme .ui-icon-arrow-1-w { background-position: -96px -32px; }
.coveo-theme .ui-icon-arrow-1-nw { background-position: -112px -32px; }
.coveo-theme .ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.coveo-theme .ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.coveo-theme .ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.coveo-theme .ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.coveo-theme .ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.coveo-theme .ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.coveo-theme .ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.coveo-theme .ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.coveo-theme .ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.coveo-theme .ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.coveo-theme .ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.coveo-theme .ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.coveo-theme .ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.coveo-theme .ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.coveo-theme .ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.coveo-theme .ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.coveo-theme .ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.coveo-theme .ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.coveo-theme .ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.coveo-theme .ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.coveo-theme .ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.coveo-theme .ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.coveo-theme .ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.coveo-theme .ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.coveo-theme .ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.coveo-theme .ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.coveo-theme .ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.coveo-theme .ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.coveo-theme .ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.coveo-theme .ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.coveo-theme .ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.coveo-theme .ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.coveo-theme .ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.coveo-theme .ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.coveo-theme .ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.coveo-theme .ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.coveo-theme .ui-icon-arrow-4 { background-position: 0 -80px; }
.coveo-theme .ui-icon-arrow-4-diag { background-position: -16px -80px; }
.coveo-theme .ui-icon-extlink { background-position: -32px -80px; }
.coveo-theme .ui-icon-newwin { background-position: -48px -80px; }
.coveo-theme .ui-icon-refresh { background-position: -64px -80px; }
.coveo-theme .ui-icon-shuffle { background-position: -80px -80px; }
.coveo-theme .ui-icon-transfer-e-w { background-position: -96px -80px; }
.coveo-theme .ui-icon-transferthick-e-w { background-position: -112px -80px; }
.coveo-theme .ui-icon-folder-collapsed { background-position: 0 -96px; }
.coveo-theme .ui-icon-folder-open { background-position: -16px -96px; }
.coveo-theme .ui-icon-document { background-position: -32px -96px; }
.coveo-theme .ui-icon-document-b { background-position: -48px -96px; }
.coveo-theme .ui-icon-note { background-position: -64px -96px; }
.coveo-theme .ui-icon-mail-closed { background-position: -80px -96px; }
.coveo-theme .ui-icon-mail-open { background-position: -96px -96px; }
.coveo-theme .ui-icon-suitcase { background-position: -112px -96px; }
.coveo-theme .ui-icon-comment { background-position: -128px -96px; }
.coveo-theme .ui-icon-person { background-position: -144px -96px; }
.coveo-theme .ui-icon-print { background-position: -160px -96px; }
.coveo-theme .ui-icon-trash { background-position: -176px -96px; }
.coveo-theme .ui-icon-locked { background-position: -192px -96px; }
.coveo-theme .ui-icon-unlocked { background-position: -208px -96px; }
.coveo-theme .ui-icon-bookmark { background-position: -224px -96px; }
.coveo-theme .ui-icon-tag { background-position: -240px -96px; }
.coveo-theme .ui-icon-home { background-position: 0 -112px; }
.coveo-theme .ui-icon-flag { background-position: -16px -112px; }
.coveo-theme .ui-icon-calendar { background-position: -32px -112px; }
.coveo-theme .ui-icon-cart { background-position: -48px -112px; }
.coveo-theme .ui-icon-pencil { background-position: -64px -112px; }
.coveo-theme .ui-icon-clock { background-position: -80px -112px; }
.coveo-theme .ui-icon-disk { background-position: -96px -112px; }
.coveo-theme .ui-icon-calculator { background-position: -112px -112px; }
.coveo-theme .ui-icon-zoomin { background-position: -128px -112px; }
.coveo-theme .ui-icon-zoomout { background-position: -144px -112px; }
.coveo-theme .ui-icon-search { background-position: -160px -112px; }
.coveo-theme .ui-icon-wrench { background-position: -176px -112px; }
.coveo-theme .ui-icon-gear { background-position: -192px -112px; }
.coveo-theme .ui-icon-heart { background-position: -208px -112px; }
.coveo-theme .ui-icon-star { background-position: -224px -112px; }
.coveo-theme .ui-icon-link { background-position: -240px -112px; }
.coveo-theme .ui-icon-cancel { background-position: 0 -128px; }
.coveo-theme .ui-icon-plus { background-position: -16px -128px; }
.coveo-theme .ui-icon-plusthick { background-position: -32px -128px; }
.coveo-theme .ui-icon-minus { background-position: -48px -128px; }
.coveo-theme .ui-icon-minusthick { background-position: -64px -128px; }
.coveo-theme .ui-icon-close { background-position: -80px -128px; }
.coveo-theme .ui-icon-closethick { background-position: -96px -128px; }
.coveo-theme .ui-icon-key { background-position: -112px -128px; }
.coveo-theme .ui-icon-lightbulb { background-position: -128px -128px; }
.coveo-theme .ui-icon-scissors { background-position: -144px -128px; }
.coveo-theme .ui-icon-clipboard { background-position: -160px -128px; }
.coveo-theme .ui-icon-copy { background-position: -176px -128px; }
.coveo-theme .ui-icon-contact { background-position: -192px -128px; }
.coveo-theme .ui-icon-image { background-position: -208px -128px; }
.coveo-theme .ui-icon-video { background-position: -224px -128px; }
.coveo-theme .ui-icon-script { background-position: -240px -128px; }
.coveo-theme .ui-icon-alert { background-position: 0 -144px; }
.coveo-theme .ui-icon-info { background-position: -16px -144px; }
.coveo-theme .ui-icon-notice { background-position: -32px -144px; }
.coveo-theme .ui-icon-help { background-position: -48px -144px; }
.coveo-theme .ui-icon-check { background-position: -64px -144px; }
.coveo-theme .ui-icon-bullet { background-position: -80px -144px; }
.coveo-theme .ui-icon-radio-off { background-position: -96px -144px; }
.coveo-theme .ui-icon-radio-on { background-position: -112px -144px; }
.coveo-theme .ui-icon-pin-w { background-position: -128px -144px; }
.coveo-theme .ui-icon-pin-s { background-position: -144px -144px; }
.coveo-theme .ui-icon-play { background-position: 0 -160px; }
.coveo-theme .ui-icon-pause { background-position: -16px -160px; }
.coveo-theme .ui-icon-seek-next { background-position: -32px -160px; }
.coveo-theme .ui-icon-seek-prev { background-position: -48px -160px; }
.coveo-theme .ui-icon-seek-end { background-position: -64px -160px; }
.coveo-theme .ui-icon-seek-start { background-position: -80px -160px; }
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.coveo-theme .ui-icon-seek-first { background-position: -80px -160px; }
.coveo-theme .ui-icon-stop { background-position: -96px -160px; }
.coveo-theme .ui-icon-eject { background-position: -112px -160px; }
.coveo-theme .ui-icon-volume-off { background-position: -128px -160px; }
.coveo-theme .ui-icon-volume-on { background-position: -144px -160px; }
.coveo-theme .ui-icon-power { background-position: 0 -176px; }
.coveo-theme .ui-icon-signal-diag { background-position: -16px -176px; }
.coveo-theme .ui-icon-signal { background-position: -32px -176px; }
.coveo-theme .ui-icon-battery-0 { background-position: -48px -176px; }
.coveo-theme .ui-icon-battery-1 { background-position: -64px -176px; }
.coveo-theme .ui-icon-battery-2 { background-position: -80px -176px; }
.coveo-theme .ui-icon-battery-3 { background-position: -96px -176px; }
.coveo-theme .ui-icon-circle-plus { background-position: 0 -192px; }
.coveo-theme .ui-icon-circle-minus { background-position: -16px -192px; }
.coveo-theme .ui-icon-circle-close { background-position: -32px -192px; }
.coveo-theme .ui-icon-circle-triangle-e { background-position: -48px -192px; }
.coveo-theme .ui-icon-circle-triangle-s { background-position: -64px -192px; }
.coveo-theme .ui-icon-circle-triangle-w { background-position: -80px -192px; }
.coveo-theme .ui-icon-circle-triangle-n { background-position: -96px -192px; }
.coveo-theme .ui-icon-circle-arrow-e { background-position: -112px -192px; }
.coveo-theme .ui-icon-circle-arrow-s { background-position: -128px -192px; }
.coveo-theme .ui-icon-circle-arrow-w { background-position: -144px -192px; }
.coveo-theme .ui-icon-circle-arrow-n { background-position: -160px -192px; }
.coveo-theme .ui-icon-circle-zoomin { background-position: -176px -192px; }
.coveo-theme .ui-icon-circle-zoomout { background-position: -192px -192px; }
.coveo-theme .ui-icon-circle-check { background-position: -208px -192px; }
.coveo-theme .ui-icon-circlesmall-plus { background-position: 0 -208px; }
.coveo-theme .ui-icon-circlesmall-minus { background-position: -16px -208px; }
.coveo-theme .ui-icon-circlesmall-close { background-position: -32px -208px; }
.coveo-theme .ui-icon-squaresmall-plus { background-position: -48px -208px; }
.coveo-theme .ui-icon-squaresmall-minus { background-position: -64px -208px; }
.coveo-theme .ui-icon-squaresmall-close { background-position: -80px -208px; }
.coveo-theme .ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.coveo-theme .ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.coveo-theme .ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.coveo-theme .ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.coveo-theme .ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.coveo-theme .ui-icon-grip-diagonal-se { background-position: -80px -224px; }


/* Misc visuals
----------------------------------*/

/* Corner radius */
.coveo-theme .ui-corner-all, .coveo-theme .ui-corner-top, .coveo-theme .ui-corner-left, .coveo-theme .ui-corner-tl { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -khtml-border-top-left-radius: 4px; border-top-left-radius: 4px; }
.coveo-theme .ui-corner-all, .coveo-theme .ui-corner-top, .coveo-theme .ui-corner-right, .coveo-theme .ui-corner-tr { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -khtml-border-top-right-radius: 4px; border-top-right-radius: 4px; }
.coveo-theme .ui-corner-all, .coveo-theme .ui-corner-bottom, .coveo-theme .ui-corner-left, .coveo-theme .ui-corner-bl { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -khtml-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; }
.coveo-theme .ui-corner-all, .coveo-theme .ui-corner-bottom, .coveo-theme .ui-corner-right, .coveo-theme .ui-corner-br { -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; -khtml-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }

/* Overlays */
.coveo-theme .ui-widget-overlay { background: #666666 url(-k=er&n=_W.Runtime.coveo_theme_scoped.images.ui-bg_diagonals-thick_20_666666_40x40.png&t=0&m=1381686431.png)/*tpa=http://www.celanese.com/Coveo/Anonymous/?k=er&n=_W.Runtime.coveo_theme_scoped.images.ui-bg_diagonals-thick_20_666666_40x40.png&t=0&m=1381686431*/ 50% 50% repeat; opacity: .50;filter:Alpha(Opacity=50); }
.coveo-theme .ui-widget-shadow { margin: -5px 0 0 -5px; padding: 5px; background: #000000 url(-k=er&n=_W.Runtime.coveo_theme_scoped.images.ui-bg_flat_10_000000_40x100.png&t=0&m=1381686431.png)/*tpa=http://www.celanese.com/Coveo/Anonymous/?k=er&n=_W.Runtime.coveo_theme_scoped.images.ui-bg_flat_10_000000_40x100.png&t=0&m=1381686431*/ 50% 50% repeat-x; opacity: .20;filter:Alpha(Opacity=20); -moz-border-radius: 5px; -khtml-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }/*!
 * jQuery UI Resizable 1.8.23
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Resizable#theming
 */
.coveo-theme .ui-resizable { position: relative;}
.coveo-theme .ui-resizable-handle { position: absolute;font-size: 0.1px; display: block; }
.coveo-theme .ui-resizable-disabled .ui-resizable-handle, .coveo-theme .ui-resizable-autohide .ui-resizable-handle { display: none; }
.coveo-theme .ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0; }
.coveo-theme .ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0; }
.coveo-theme .ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0; height: 100%; }
.coveo-theme .ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0; height: 100%; }
.coveo-theme .ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.coveo-theme .ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.coveo-theme .ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.coveo-theme .ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}/*!
 * jQuery UI Selectable 1.8.23
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Selectable#theming
 */
.coveo-theme .ui-selectable-helper { position: absolute; z-index: 100; border:1px dotted black; }
/*!
 * jQuery UI Accordion 1.8.23
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Accordion#theming
 */
/* IE/Win - Fix animation bug - #4615 */
.coveo-theme .ui-accordion { width: 100%; }
.coveo-theme .ui-accordion .ui-accordion-header { cursor: pointer; position: relative; margin-top: 1px; zoom: 1; }
.coveo-theme .ui-accordion .ui-accordion-li-fix { display: inline; }
.coveo-theme .ui-accordion .ui-accordion-header-active { border-bottom: 0 !important; }
.coveo-theme .ui-accordion .ui-accordion-header a { display: block; font-size: 1em; padding: .5em .5em .5em .7em; }
.coveo-theme .ui-accordion-icons .ui-accordion-header a { padding-left: 2.2em; }
.coveo-theme .ui-accordion .ui-accordion-header .ui-icon { position: absolute; left: .5em; top: 50%; margin-top: -8px; }
.coveo-theme .ui-accordion .ui-accordion-content { padding: 1em 2.2em; border-top: 0; margin-top: -2px; position: relative; top: 1px; margin-bottom: 2px; overflow: auto; display: none; zoom: 1; }
.coveo-theme .ui-accordion .ui-accordion-content-active { display: block; }
/*!
 * jQuery UI Autocomplete 1.8.23
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Autocomplete#theming
 */
.coveo-theme .ui-autocomplete { position: absolute; cursor: default; }	

/* workarounds */
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

/*
 * jQuery UI Menu 1.8.23
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Menu#theming
 */
.coveo-theme .ui-menu {
	list-style:none;
	padding: 2px;
	margin: 0;
	display:block;
	float: left;
}
.coveo-theme .ui-menu .ui-menu {
	margin-top: -3px;
}
.coveo-theme .ui-menu .ui-menu-item {
	margin:0;
	padding: 0;
	zoom: 1;
	float: left;
	clear: left;
	width: 100%;
}
.coveo-theme .ui-menu .ui-menu-item a {
	text-decoration:none;
	display:block;
	padding:.2em .4em;
	line-height:1.5;
	zoom:1;
}
.coveo-theme .ui-menu .ui-menu-item a.ui-state-hover,
.coveo-theme .ui-menu .ui-menu-item a.ui-state-active {
	font-weight: normal;
	margin: -1px;
}
/*!
 * jQuery UI Button 1.8.23
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Button#theming
 */
.coveo-theme .ui-button { display: inline-block; position: relative; padding: 0; margin-right: .1em; text-decoration: none !important; cursor: pointer; text-align: center; zoom: 1; overflow: visible; } /* the overflow property removes extra width in IE */
.coveo-theme .ui-button-icon-only { width: 2.2em; } /* to make room for the icon, a width needs to be set here */
button.ui-button-icon-only { width: 2.4em; } /* button elements seem to need a little more width */
.coveo-theme .ui-button-icons-only { width: 3.4em; } 
button.ui-button-icons-only { width: 3.7em; } 

/*button text element */
.coveo-theme .ui-button .ui-button-text { display: block; line-height: 1.4;  }
.coveo-theme .ui-button-text-only .ui-button-text { padding: .4em 1em; }
.coveo-theme .ui-button-icon-only .ui-button-text, .coveo-theme .ui-button-icons-only .ui-button-text { padding: .4em; text-indent: -9999999px; }
.coveo-theme .ui-button-text-icon-primary .ui-button-text, .coveo-theme .ui-button-text-icons .ui-button-text { padding: .4em 1em .4em 2.1em; }
.coveo-theme .ui-button-text-icon-secondary .ui-button-text, .coveo-theme .ui-button-text-icons .ui-button-text { padding: .4em 2.1em .4em 1em; }
.coveo-theme .ui-button-text-icons .ui-button-text { padding-left: 2.1em; padding-right: 2.1em; }
/* no icon support for input elements, provide padding by default */
input.ui-button { padding: .4em 1em; }

/*button icon element(s) */
.coveo-theme .ui-button-icon-only .ui-icon, .coveo-theme .ui-button-text-icon-primary .ui-icon, .coveo-theme .ui-button-text-icon-secondary .ui-icon, .coveo-theme .ui-button-text-icons .ui-icon, .coveo-theme .ui-button-icons-only .ui-icon { position: absolute; top: 50%; margin-top: -8px; }
.coveo-theme .ui-button-icon-only .ui-icon { left: 50%; margin-left: -8px; }
.coveo-theme .ui-button-text-icon-primary .ui-button-icon-primary, .coveo-theme .ui-button-text-icons .ui-button-icon-primary, .coveo-theme .ui-button-icons-only .ui-button-icon-primary { left: .5em; }
.coveo-theme .ui-button-text-icon-secondary .ui-button-icon-secondary, .coveo-theme .ui-button-text-icons .ui-button-icon-secondary, .coveo-theme .ui-button-icons-only .ui-button-icon-secondary { right: .5em; }
.coveo-theme .ui-button-text-icons .ui-button-icon-secondary, .coveo-theme .ui-button-icons-only .ui-button-icon-secondary { right: .5em; }

/*button sets*/
.coveo-theme .ui-buttonset { margin-right: 7px; }
.coveo-theme .ui-buttonset .ui-button { margin-left: 0; margin-right: -.3em; }

/* workarounds */
button.ui-button::-moz-focus-inner { border: 0; padding: 0; } /* reset extra padding in Firefox */
/*!
 * jQuery UI Dialog 1.8.23
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Dialog#theming
 */
.coveo-theme .ui-dialog { position: absolute; padding: .2em; width: 300px; overflow: hidden; }
.coveo-theme .ui-dialog .ui-dialog-titlebar { padding: .4em 1em; position: relative;  }
.coveo-theme .ui-dialog .ui-dialog-title { float: left; margin: .1em 16px .1em 0; } 
.coveo-theme .ui-dialog .ui-dialog-titlebar-close { position: absolute; right: .3em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.coveo-theme .ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; }
.coveo-theme .ui-dialog .ui-dialog-titlebar-close:hover, .coveo-theme .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; }
.coveo-theme .ui-dialog .ui-dialog-content { position: relative; border: 0; padding: .5em 1em; background: none; overflow: auto; zoom: 1; }
.coveo-theme .ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
.coveo-theme .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { float: right; }
.coveo-theme .ui-dialog .ui-dialog-buttonpane button { margin: .5em .4em .5em 0; cursor: pointer; }
.coveo-theme .ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.coveo-theme .ui-draggable .ui-dialog-titlebar { cursor: move; }
/*!
 * jQuery UI Slider 1.8.23
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Slider#theming
 */
.coveo-theme .ui-slider { position: relative; text-align: left; }
.coveo-theme .ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; }
.coveo-theme .ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }

.coveo-theme .ui-slider-horizontal { height: .8em; }
.coveo-theme .ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }
.coveo-theme .ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.coveo-theme .ui-slider-horizontal .ui-slider-range-min { left: 0; }
.coveo-theme .ui-slider-horizontal .ui-slider-range-max { right: 0; }

.coveo-theme .ui-slider-vertical { width: .8em; height: 100px; }
.coveo-theme .ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
.coveo-theme .ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.coveo-theme .ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.coveo-theme .ui-slider-vertical .ui-slider-range-max { top: 0; }/*!
 * jQuery UI Tabs 1.8.23
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Tabs#theming
 */
.coveo-theme .ui-tabs { position: relative; padding: .2em; zoom: 1; } /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.coveo-theme .ui-tabs .ui-tabs-nav { margin: 0; padding: .2em .2em 0; }
.coveo-theme .ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; top: 1px; margin: 0 .2em 1px 0; border-bottom: 0 !important; padding: 0; white-space: nowrap; }
.coveo-theme .ui-tabs .ui-tabs-nav li a { float: left; padding: .5em 1em; text-decoration: none; }
.coveo-theme .ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0; padding-bottom: 1px; }
.coveo-theme .ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .coveo-theme .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .coveo-theme .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.coveo-theme .ui-tabs .ui-tabs-nav li a, .coveo-theme .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.coveo-theme .ui-tabs .ui-tabs-panel { display: block; border-width: 0; padding: 1em 1.4em; background: none; }
.coveo-theme .ui-tabs .ui-tabs-hide { display: none !important; }
/*!
 * jQuery UI Datepicker 1.8.23
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Datepicker#theming
 */
.coveo-theme .ui-datepicker { width: 17em; padding: .2em .2em 0; display: none; }
.coveo-theme .ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0; }
.coveo-theme .ui-datepicker .ui-datepicker-prev, .coveo-theme .ui-datepicker .ui-datepicker-next { position:absolute; top: 2px; width: 1.8em; height: 1.8em; }
.coveo-theme .ui-datepicker .ui-datepicker-prev-hover, .coveo-theme .ui-datepicker .ui-datepicker-next-hover { top: 1px; }
.coveo-theme .ui-datepicker .ui-datepicker-prev { left:2px; }
.coveo-theme .ui-datepicker .ui-datepicker-next { right:2px; }
.coveo-theme .ui-datepicker .ui-datepicker-prev-hover { left:1px; }
.coveo-theme .ui-datepicker .ui-datepicker-next-hover { right:1px; }
.coveo-theme .ui-datepicker .ui-datepicker-prev span, .coveo-theme .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px;  }
.coveo-theme .ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; }
.coveo-theme .ui-datepicker .ui-datepicker-title select { font-size:1em; margin:1px 0; }
.coveo-theme .ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.coveo-theme .ui-datepicker select.ui-datepicker-month, 
.coveo-theme .ui-datepicker select.ui-datepicker-year { width: 49%;}
.coveo-theme .ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; margin:0 0 .4em; }
.coveo-theme .ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0;  }
.coveo-theme .ui-datepicker td { border: 0; padding: 1px; }
.coveo-theme .ui-datepicker td span, .coveo-theme .ui-datepicker td a { display: block; padding: .2em; text-align: right; text-decoration: none; }
.coveo-theme .ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
.coveo-theme .ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
.coveo-theme .ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }

/* with multiple calendars */
.coveo-theme .ui-datepicker.ui-datepicker-multi { width:auto; }
.coveo-theme .ui-datepicker-multi .ui-datepicker-group { float:left; }
.coveo-theme .ui-datepicker-multi .ui-datepicker-group table { width:95%; margin:0 auto .4em; }
.coveo-theme .ui-datepicker-multi-2 .ui-datepicker-group { width:50%; }
.coveo-theme .ui-datepicker-multi-3 .ui-datepicker-group { width:33.3%; }
.coveo-theme .ui-datepicker-multi-4 .ui-datepicker-group { width:25%; }
.coveo-theme .ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { border-left-width:0; }
.coveo-theme .ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width:0; }
.coveo-theme .ui-datepicker-multi .ui-datepicker-buttonpane { clear:left; }
.coveo-theme .ui-datepicker-row-break { clear:both; width:100%; font-size:0em; }

/* RTL support */
.coveo-theme .ui-datepicker-rtl { direction: rtl; }
.coveo-theme .ui-datepicker-rtl .ui-datepicker-prev { right: 2px; left: auto; }
.coveo-theme .ui-datepicker-rtl .ui-datepicker-next { left: 2px; right: auto; }
.coveo-theme .ui-datepicker-rtl .ui-datepicker-prev:hover { right: 1px; left: auto; }
.coveo-theme .ui-datepicker-rtl .ui-datepicker-next:hover { left: 1px; right: auto; }
.coveo-theme .ui-datepicker-rtl .ui-datepicker-buttonpane { clear:right; }
.coveo-theme .ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left; }
.coveo-theme .ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current { float:right; }
.coveo-theme .ui-datepicker-rtl .ui-datepicker-group { float:right; }
.coveo-theme .ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header { border-right-width:0; border-left-width:1px; }
.coveo-theme .ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header { border-right-width:0; border-left-width:1px; }

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.coveo-theme .ui-datepicker-cover {
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}/*!
 * jQuery UI Progressbar 1.8.23
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Progressbar#theming
 */
.coveo-theme .ui-progressbar { height:2em; text-align: left; overflow: hidden; }
.coveo-theme .ui-progressbar .ui-progressbar-value {margin: -1px; height:100%; }
