/* Fix Sharepoint 2010 Ribbon positioning */

body, body.v4.master {overflow:visible !important; height: inherit; width: inherit; }

body #s4-workspace {overflow:visible !important; padding-top:0px;}

/*This sets up our Ribbon for a fixed position. */
body #s4-ribbonrow{ position: fixed;top:0px;z-index:1000;width: 100%;}
/* html #s4-ribbonrow {position:absolute;} IE6 */

/* Set the ribbon popups to be fixed position also */
#s4-ribbonrow .ms-MenuUIPopupBody, #s4-ribbonrow .ms-popoutMenu, .ms-cui-menu[id^="Cbre."], .ms-cui-menu[id^="Ribbon."], .ms-cui-tooltip, .ms-dlgContent {
    position: fixed !important;
}
/* html #s4-ribbonrow .ms-MenuUIPopupBody, * html #s4-ribbonrow .ms-popoutMenu, * html .ms-cui-menu[id ^= "Ribbon."], * html .ms-cui-tooltip {
position: absolute !important; IE6 
}*/

/*Make sure there are no scroll bars on our popup overlays*/
.ms-dlgOverlay {width: 100% !important }

 