/*PID_5449*/
.Graybutton{width:200px;height:50px;font-size:14px;text-align:center;color:#0c2074;border:1px solid #ccc;margin-top:20px;
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #fbfbfb 36%, #f4f4f4 68%, #f1f1f1 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(36%,#fbfbfb), color-stop(68%,#f4f4f4), color-stop(100%,#f1f1f1)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#fbfbfb 36%,#f4f4f4 68%,#f1f1f1 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#fbfbfb 36%,#f4f4f4 68%,#f1f1f1 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#fbfbfb 36%,#f4f4f4 68%,#f1f1f1 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffffff 0%,#fbfbfb 36%,#f4f4f4 68%,#f1f1f1 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */}
.Graybutton:hover{background: #f1f1f1; /* Old browsers */
background: -moz-linear-gradient(top, #f1f1f1 0%, #f4f4f4 32%, #fbfbfb 64%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(32%,#f4f4f4), color-stop(64%,#fbfbfb), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f1f1f1 0%,#f4f4f4 32%,#fbfbfb 64%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f1f1f1 0%,#f4f4f4 32%,#fbfbfb 64%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f1f1f1 0%,#f4f4f4 32%,#fbfbfb 64%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to bottom, #f1f1f1 0%,#f4f4f4 32%,#fbfbfb 64%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */}
.Graybutton a{line-height:20px !important;text-decoration:none !important;color:#0c2074 !important}
.Graybutton-title a {
color: #0C2074 !important;
line-height: 20px !important;
text-decoration: none !important;
}
.Graybutton-title {width:200px;height:50px;font-size:14px;text-align:center;color:#0c2074;border:1px solid #ccc;margin-bottom:20px;margin-left:63px;
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #fbfbfb 36%, #f4f4f4 68%, #f1f1f1 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(36%,#fbfbfb), color-stop(68%,#f4f4f4), color-stop(100%,#f1f1f1)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#fbfbfb 36%,#f4f4f4 68%,#f1f1f1 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#fbfbfb 36%,#f4f4f4 68%,#f1f1f1 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#fbfbfb 36%,#f4f4f4 68%,#f1f1f1 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffffff 0%,#fbfbfb 36%,#f4f4f4 68%,#f1f1f1 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */}
.Graybutton-title :hover{background: #f1f1f1; /* Old browsers */
background: -moz-linear-gradient(top, #f1f1f1 0%, #f4f4f4 32%, #fbfbfb 64%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(32%,#f4f4f4), color-stop(64%,#fbfbfb), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f1f1f1 0%,#f4f4f4 32%,#fbfbfb 64%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f1f1f1 0%,#f4f4f4 32%,#fbfbfb 64%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f1f1f1 0%,#f4f4f4 32%,#fbfbfb 64%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to bottom, #f1f1f1 0%,#f4f4f4 32%,#fbfbfb 64%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */}

/*PID_5449*/