/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a{
    color:#ccc;
    text-decoration: none;
}
a img{
	border: 0;
}
html,
button,
input,
select,
textarea {
    color: #222;
}

html, body {
    margin: 0;
    padding: 0;

}

body {
    background-color: #bbb;
    background-image: url(../img/subtle_carbon.png)/*tpa=http://www.asburyauto.com/img/subtle_carbon.png*/;
    font-family: 'Open Sans', sans-serif;
}


.feature h2{
    margin: 0.25em 3em;
}

h1{

    font-weight: 100;
}

h2, h3{
    font-family: 'Open Sans', Arial, serif; font-weight: 500; 
}

.feature, #mainArea{
    font-size: 0.81em;
    line-height: 2.2em;

}


p{
margin-top: 2em;

}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}



*{
margin:0 auto;
padding: 0;

}


#container{
margin:0 auto;
}
/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */














/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


#container{
    margin: 0 auto;
    width: 1200px;
    -webkit-box-shadow: 0 0px 16px 14px #bbb;
       -moz-box-shadow: 0 0px 16px 14px #bbb;
            box-shadow: 0 0px 16px 14px #bbb;
/*    border-left: 1px solid #ccc; 
    border-right: 1px solid #ccc; */

}
li.careers{
	padding: 8px 0;
	border-top: #DCDCDC thin solid;
}
li.careers:first-child{
	border-top: 0;
}

/* NAVIGATION */

#header{
    background-image: url(../img/home_header.jpg)/*tpa=http://www.asburyauto.com/img/home_header.jpg*/;
    background-repeat: no-repeat;
    height:560px;
    width:1200px;
    position: relative;
    border-bottom: 1px solid #ccc; 
}


#header_inner{
    background-image: url(../img/home_header.jpg)/*tpa=http://www.asburyauto.com/img/home_header.jpg*/;
    background-repeat: no-repeat;
    height:150px;
    width:1200px;
    position: relative;
    border-bottom: 1px solid #ccc; 
}

#nav{
    height:70px;
    width:1100px;
    color:#fff;
    position:relative;
    top:40px;
    padding-left: 100px;
    background-image: url(../img/header_bg.png)/*tpa=http://www.asburyauto.com/img/header_bg.png*/;
    border-bottom: 1px solid #333; 
}

#nav li{
    list-style: none;
    float: left;
    font-size: .75em;
    margin: 0 5px;
    padding: 31px 16px 22px 16px;
    position: relative;
    text-shadow: 0.1em 0.1em 0.05em #333
}

#nav ul li:hover{
    color:#ccc;
    height: 16px;
    text-align: center;
    background-image: url(../img/header_bg.png)/*tpa=http://www.asburyauto.com/img/header_bg.png*/;
}

.phone{
    list-style-image:url(../img/phone_icon.png)/*tpa=http://www.asburyauto.com/img/phone_icon.png*/ !important;

}

.phone_p{
    background-image: url(../img/phone_icon_blk.png)/*tpa=http://www.asburyauto.com/img/phone_icon_blk.png*/ !important;
    background-repeat: no-repeat;
    background-position-y: 6px;
    padding-left: 15px;
    margin-left:15px;
}

/*.website{
    padding-left: 15px;
    margin-left:15px;
}
*/
.mail_p{
    background-image: url(../img/mail_icon_blk.png)/*tpa=http://www.asburyauto.com/img/mail_icon_blk.png*/ !important;
    background-repeat: no-repeat;
    background-position-y: 6px;
    padding-left: 15px;
    margin-left:15px;
}

.mail_p:hover{
    list-style-image:url(../img/email_icon_over.png)/*tpa=http://www.asburyauto.com/img/email_icon_over.png*/ !important;
}

.email:hover{
    list-style-image:url(../img/email_icon_over.png)/*tpa=http://www.asburyauto.com/img/email_icon_over.png*/ !important;
}

.email{
    list-style-image:url(../img/email_icon.png)/*tpa=http://www.asburyauto.com/img/email_icon.png*/ !important;
}

#nav ul li:last-child:hover{
    height: 20px;
    color:#fff;
    text-align: center;
    background-image: none;

}

#nav ul{
}

#logo{
    float:left;
    width:150px;
    height:63px;
    background-image: url(../img/logo.png)/*tpa=http://www.asburyauto.com/img/logo.png*/;
    background-repeat: no-repeat;
}

#headline{
    bottom: 0px;
    position: absolute;
    height:152px;
    overflow:hidden;
    width:500px;
    color:#fff;
    left: 35px;
    font-size: 11px;
    text-shadow: 3px 4px 16px #000;
}

#headlineContainer{
    position: relative;
    height:152px;
    width:500px;
    overflow:hidden;
}


.headlineMessage{
    position:absolute;
    display:none;
    top:0px;
    height:160px;
    width:500px;
    color:#fff;
    font-size: 11px;
    text-shadow: 3px 4px 16px #000;
}

/* Logo */

#logoLine{
    width:1200px;
    height: 100px;
    position: relative;
    background-color: #fff;
    text-align: center;
    margin: 0 auto;
    border-top: 1px solid #ddd; 
    border-bottom: 1px solid #ddd; 

    z-index: 10;
/*    -webkit-box-shadow: 0 20px 30px -20px #888;
       -moz-box-shadow: 0 20px 30px -20px #888;
            box-shadow: 0 20px 30px -20px #888;*/
}

#logoLine ul img{
    list-style: none;
    margin-right: 10px;
    height: 100px;
    display: inline-block;
    position: relative;
}


#logoLine{

    height:100px;
    position: relative;
text-align: center;

}

.logo_img:first-child{

    margin-left:18px;
}

.logo_img{
height: 97px;
width: 97px;
margin-right: 3px;
display: block;
float:left;
    }

.logo_img:hover {
height: 97px;
width: 97px;
margin-right: 3px;
display: block;
float:left;
background-position: 0 -100px
    }

h2, h3{
    color:#555;
}

strong{
    color:#444;
    font-family: 'Open Sans', Arial, serif;
    font-weight: 700; 
}


#left_column{
    float:left;
    display:block;
    margin-right:30px;
    padding: 0px 30px;
    width:400px;
}

#left_column ul{
	list-style: none;
}

#left_column li{
	padding: 10px;
	display: block;
	width: 100%;
}

#left_column li:nth-child(odd){
	background-color:#F0F0F0;
}

#right_column ul{
	list-style: none;
}

#right_column li{
	border-bottom: #CCC solid thin;
	height: 65px;
}

#right_column li:last-child{
	border-bottom: none;
}

#full_width{
    float:left;
    display:block;
    margin-right:30px;
    padding: 0px 30px;
    width:920px;
}

#right_column{
    padding: 0px 30px;
    width:400px;
    float:right;
    display:block;
}

#right_column img{
	width: 60px;
	display: block;
	float: left;
	margin-right: 10px;
}

#left_column_one_third{
background-color: #EEEEEE;
border-radius: 20px 0px 0px 20px;
display: block;
float: left;
padding: 15px;
width: 186px;
line-height: 24px;
}

#right_column_two_third, #right_column_two_third_map, #right_column_two_third_careers, #career_header{
    width: 755px;
    float: right;
    display: block;
}

#right_column_two_third_map{
	background: url(../img/map.png)/*tpa=http://www.asburyauto.com/img/map.png*/ no-repeat;
	height: 480px;
}

.dealer{
    margin: 0px 6px 6px 0px;
    border: 1px solid #eee;
    padding: 5px 0px 0px 13px;
    width: 230px;
    display: block;
    float: left;
}

#featureArea{
    width:1160px;
    height: 300px;
    position: relative;
/*    background-color: #e7e8ea;
*/
    background-color: #fff;
    text-align: center;
    margin: 0 auto;
    padding-left: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: left;
}

#mainArea{
    width:1000px;
    position: relative;
    background-color: #fff;
    text-align: center;
    margin: 0 auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 25px;
    text-align: left;
    padding-bottom: 50px;
}


#mainArea h1{
    color:#555;
    font-family: 'Open Sans', Arial, serif; font-weight: 300; 
}

#featureArea h1{
    color:#555;
    font-family: 'Open Sans', Arial, serif; font-weight: 300; 
}

.feature{
    border-right: 1px solid #eee;
    border-left: 1px solid #ddd;
    display: block;
    position: relative;
    float:left;
    width:270px;
	height: 100%;
    background-color: #fff;
    text-align: left;
    padding: 0px 50px;
}

.feature:last-child{
    border-right: none;
}

.feature:first-child{
    border-left: none;
}

.feature a h2:hover{
	color: #B22625;
}

.feature p{
    font-size: 12px;
    line-height: 24px;
    font-family: 'Open Sans', Arial, serif; font-weight: 700; 
}
/* Careers */

.career_header{
	height: 188px;
	overflow: hidden;
	margin-bottom: 10px;
}

.right_column_two_third_careers_list{
	margin-left: 25px;
}

.right_column_two_third_careers_list dt{
 	margin: 10px 0;
    font-family: 'Open Sans', Arial, serif; 
	background-image: url(../img/arrow.png)/*tpa=http://www.asburyauto.com/img/arrow.png*/;
	background-repeat: no-repeat;
	background-position: left 23px;
	text-indent: 10px;
	weight: 500;
	color: #555;
	padding: 0;
	border-top: #CCC thin solid;
}
.right_column_two_third_careers_list dt:first-child{
	border-top: #FFF thin solid;
}

.right_column_two_third_careers_list dd{
	padding: 0;
	margin: 0;
}

#currentopp > a.website {
	padding: 0 10px;
	display: inline-block;
	float: right;
}

div.contact_logos{
	width: 60px;
	height:60px;
	overflow: hidden;
	float: left;
}
.contact_logos:hover{
	background-position: 0 -60px;
}


/* Footer Area */

#footer{
    background-image: url(../img/subtle_carbon_dark.png)/*tpa=http://www.asburyauto.com/img/subtle_carbon_dark.png*/;    
    z-index:100;
    width:1100px;
    background-color: #333;
    height:200px;
    color: #ccc;
        text-align: center;
    display: block;
    position: relative;
    font-size:.75em;
    line-height: 24px;
    letter-spacing: 1px;
    padding: 25px 50px 43px;
    text-shadow: 0.1em 0.1em 0.05em #333;
    border-top: 1px solid #111; 

}

.sep{
    margin: 25px 0px;
    height:3px;
    width:100%;
    border-bottom: 1px solid #ddd;
}

.sep_bot{
    margin: 0px 5px;
    height:3px;
    width:100%;
    border-top: 1px solid #444; 
    border-bottom: 1px solid #222;
}

.item_header{
    color: #999 !important;
    text-shadow: 1px 1px 0 #fff !important;
    display: block;
    padding: 15px 10px 15px 20px;
}

.footerRight{
    float:right;
    width:420px;
}

#footerLogo{
    float:left;
    height:200px;
    background-image:url(../img/logos/asbury_logo_WHT.png)/*tpa=http://www.asburyauto.com/img/logos/asbury_logo_WHT.png*/;
    background-repeat: no-repeat;
    width: 200px;
}



.footerWidget ul{

    padding-left: 25px;
}
.footerWidget ul li{
/*    list-style: none;*/

list-style-image:url(../img/line_line_arrow_begin.png)/*tpa=http://www.asburyauto.com/img/line_line_arrow_begin.png*/;

}

.footerWidget ul li:hover{
/*    list-style: none;*/
color: #999;
list-style-image:url(../img/line_line_arrow_begin_over.png)/*tpa=http://www.asburyauto.com/img/line_line_arrow_begin_over.png*/;
}




.footerWidget ul li a:hover,.footerWidget_nav ul li a:hover{
    color:#999;

}

.footerWidget_nav li{
    list-style: none;
    display: inline-block;
    font-size: 1em;
    margin: 0 5px;
    padding: 0px 16px 0px 16px;
    position: relative;
    text-shadow: 0.1em 0.1em 0.05em #333;
}

.footerWidget{
    height:200px;
    float:left;
    display: block;
    text-align: left;
    list-style: none;
    width:205px;
    font-size: .85em;
    padding: 0px 30px;
    border-right:1px solid #444;
    border-left: 1px solid #222;
    position: relative;
    text-shadow: 0.1em 0.1em 0.05em #333;
}

.footerWidget:last-child{
border-right:none;
border-left: 1px solid #222;
}

.footerWidget:first-child{
border-left:none;
border-right: 1px solid #444;
margin-left:27px;
}

#footer h3{
    color:#999;
    font-weight: 100;
}

.bodylink {
    color: #B22625;
    text-decoration:none;
}

.group, .state, .make{

cursor:pointer ;

}

.group:hover, .state:hover, .make:hover{

cursor:pointer;
text-decoration: underline;

}

#removeFilter{
margin-left: 8px;
font-weight: bold;
cursor:pointer;
font-size:13px;
color:#f00;
}

#removeFilter:hover{

cursor:pointer;
font-size:13px;
color:#f00;
cursor:pointer;
text-decoration: underline;
}




.thumb{
display:block;

    float:left;
font-size:9px; 
width: 140px; 
line-height:12px;
text-align:center;


 border: 1px solid #EEEEEE;

    margin: 0 6px 6px 0;
    padding: 5px 0 0 5px;

}



.thumb:hover{
cursor:pointer;
    background-color:#ddd;
    border: 1px solid #bbb;
}


.divs{

width:920px; 
height:550px; 
display:block; 
float:left;

}

.pic{

margin-left:60px;
margin-bottom:30px;
width: 400px;

}

.click{
cursor:pointer;
    list-style-type:none;
}

.listoflinks{
	list-style:none;
}

.listoflinks li{

text-indent: 30px;
font-weight: 400;
text-decoration: underline;
color: #333;

}

/* Feature Section */

.icon_map, .icon_wheel, .icon_person{
    float: left;
	width: 100%;
	height: 40px;
	background-repeat:no-repeat;
	margin-bottom: 10px;
}
.icon_map{
	background-image: url(../img/icon_map.png)/*tpa=http://www.asburyauto.com/img/icon_map.png*/;
}
.icon_map:hover{
	background-image: url(../img/icon_map_red.jpg)/*tpa=http://www.asburyauto.com/img/icon_map_red.jpg*/;
}
.icon_map:hover > h2, .icon_wheel:hover > h2, .icon_person:hover > h2{
	color: #B22625;
}
.icon_wheel{
	background-image: url(../img/icon_wheel.png)/*tpa=http://www.asburyauto.com/img/icon_wheel.png*/;
}
.icon_wheel:hover{
	background-image: url(../img/icon_wheel_red.jpg)/*tpa=http://www.asburyauto.com/img/icon_wheel_red.jpg*/;
}

.icon_person{
	background-image: url(../img/icon_person.png)/*tpa=http://www.asburyauto.com/img/icon_person.png*/;
}
.icon_person:hover{
	background-image: url(../img/icon_person_red.jpg)/*tpa=http://www.asburyauto.com/img/icon_person_red.jpg*/;
}