.nav li.careers a {
	width:170px;
	background: transparent url(../Images/righttopnav-1.png)/*tpa=https://www.unfi.com/_LAYOUTS/UNFIWebsite/Images/righttopnav.png*/ no-repeat right top;	
	border-right:0;
	padding-right:20px; 
}
.nav li.careers a:hover {
	width:170px;
	background: transparent url(../Images/righttopnavhover-1.png)/*tpa=https://www.unfi.com/_LAYOUTS/UNFIWebsite/Images/righttopnavhover.png*/ no-repeat right top;	
}

.nav div.pop-nav a, .nav div.pop-nav a.wrapper { 
	color: #ffffff;
	font-weight:400; 
	display: block; 
	text-decoration: none; 
	line-height: 1.8em;
	margin-bottom: .5em; 
	background-image:none; 
	padding:0; 
	margin:0; 
	border: 0; 
	height:auto; 
	font-family: 'PT Sans Caption', Arial, Helvetica, sans-serif;  
	text-shadow: 0 -1px 0 rgba(0,0,0,.2);
	background-image:none;
}

.nav div.pop-nav .wrapper a:hover,
.nav div.pop-nav .wrapper a:active { 
	color: #f9993d; 
	text-decoration: none; 
	background-image:none !important;  
}

