@import url(../../../../fonts.googleapis.com/css-family=PT+Sans+Caption-400,700.css)/*tpa=https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700*/;
@import url(../../../../fonts.googleapis.com/css-family=PT+Sans+Narrow.css)/*tpa=https://fonts.googleapis.com/css?family=PT+Sans+Narrow*/;

/* CSS Document */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

html {overflow-y: scroll;} 

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html, form {
	height:100%;
	width:100%
}

body {
	background: #f0f6e8 url(../Images/gradbkground.jpg)/*tpa=https://www.unfi.com/_LAYOUTS/UNFIWebsite/Images/gradbkground.jpg*/ repeat-x 0 top !important;
	vetical-align:top;
	height:100%;
}

p {
	line-height: 1.5em;	
	font-size: 13px;
}


A:link 
{
	font-family: 'PT Sans Caption', Arial, Helvetica, sans-serif !important;
	font-size:13px;
	color:#f27f1b;
	text-decoration:none;
}
A:visited, A:Active 
{
	font-family: 'PT Sans Caption', Arial, Helvetica, sans-serif !important;
	text-decoration: none;
	color:#f27f1b;
        font-size:13px;
}

A:hover, A:Active 
{
	font-family: 'PT Sans Caption', Arial, Helvetica, sans-serif !important;
	text-decoration: underline;
        font-size:13px; 
}

hr 
{
	border: none 0;
	border-top: 1px solid #598551;/*the border*/
	width: 100%;
	height: 1px;/*whatever the total width of the border-top and border-bottom equal*/
}
h1
{
	font-family: 'PT Sans Caption', Arial, Helvetica, sans-serif !important;
	font-size:36px;
	color:#004833;
	margin:0 0 30px 0;
	font-weight: 700 !important;
	line-height:normal;
}
h2
{
	font-family: 'PT Sans Caption', Arial, Helvetica, sans-serif !important;
	font-size:16px;
	color:#000000;
	font-weight:700 !important;
	margin:0 0 10px 0;
	font-style:italic;
}
h3
{
	font-family: 'PT Sans Caption', Arial, Helvetica, sans-serif !important;
	font-size:16px;
	color:#000000;
	font-weight:bold;
	margin:0 0 10px 0;
}
h4
{
	font-family: 'PT Sans Caption', Arial, Helvetica, sans-serif !important;
	font-size:15px;
	color:#795629;
	font-weight:700;
}
h5
{
	font-family: 'PT Sans Caption', Arial, Helvetica, sans-serif !important;
	font-size:13px;
	color:#3e3e3e;
	font-weight:700;
	margin:0 0 10px 0;
}

ul, ol { 
	margin: 1em 0 1em 2em; 
}

ol { 
	list-style-type: decimal; 
}

b, strong, th { font-weight: 700; }


select, input, textarea, button { font:99% sans-serif; }

/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
/*
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
/*button, input, select, textarea { margin: 0; }

/* Colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid {
	border-radius: 1px; 
	-moz-box-shadow: 0px 0px 5px red; 
	-webkit-box-shadow: 0px 0px 5px red; 
	box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
	background-color: #f0dddd; 
}

body, select, input, textarea, button {
	color: #3e3e3e !important;
	/* Set your base font here, to apply evenly */
	font-family: 'PT Sans Caption', Arial, Helvetica, sans-serif !important;
}

#javascriptalert {
	display:none;
	width:100%;
	padding: 5px;
	background-color:#416a39;
	font-size:13px;
	color:#ffffff;
	text-align:center;
}

.clear {
	clear:both;
}

#background-wrapper {
	background: transparent url(../Images/leaves.jpg)/*tpa=https://www.unfi.com/_LAYOUTS/UNFIWebsite/Images/leaves.jpg*/ no-repeat center top;
	width:100%;
	padding-top:0px;
	min-height:100%;
	height: auto !important;
	height:100%;
	margin: 0 auto -265px;
	vertical-align:top;
}

* html #background-wrapper {
	height:100%
}

#wrapper {
	background-color:Transparent;
	width:968px;
	margin:0px auto;
	vertical-align:top;
	margin-bottom:40px;
	padding: 0px;
	line-height:normal;	
}

#siteactioncontainer  {
	width:100%;
	background-color:#d0dcb8; 
	min-height:20px;
}

.siteactionwrapper {
	background-color:Transparent;
	width:968px;
	margin:0px auto;
}

#header {
	position:relative;
	margin-bottom:20px;
	height:160px;
}

#logo {
	position:relative;
	left:29px;
	width:127px;
	height:100px;
	top:60px;
}

#socialicons, #search {
	padding-top:0px;
}

#socialicons {
	float:left;
	position:relative;
	left:520px;
	text-align:right;
	padding-top:18px;
	width:180px;
}

.customerPortalLink {
	position:absolute;
	top:75px;
	right:10px;
	font-size: 13px;
}

.facebook, .twitter, .youtube {
	float:left;
	margin-right:10px;
	width:30px;
	height:30px;
}

.facebook a, .twitter a, .youtube a {
	display:block;
	width:100%;
	height:100%;
}

.facebook {
	background: transparent url(../Images/facebookA-1.jpg)/*tpa=https://www.unfi.com/_LAYOUTS/UNFIWebsite/Images/facebookA.jpg*/ no-repeat left top;
}

.facebook:hover {
	background: transparent url(../Images/facebookB-1.jpg)/*tpa=https://www.unfi.com/_LAYOUTS/UNFIWebsite/Images/facebookB.jpg*/ no-repeat left top;
}

.twitter {
	background: transparent url(../Images/twitterA-1.jpg)/*tpa=https://www.unfi.com/_LAYOUTS/UNFIWebsite/Images/twitterA.jpg*/ no-repeat left top;
}

.twitter:hover {
	background: transparent url(../Images/twitterB-1.jpg)/*tpa=https://www.unfi.com/_LAYOUTS/UNFIWebsite/Images/twitterB.jpg*/ no-repeat left top;
}

.youtube {
	background: transparent url(../Images/youtubeA-1.jpg)/*tpa=https://www.unfi.com/_LAYOUTS/UNFIWebsite/Images/youtubeA.jpg*/ no-repeat left top;
}

.youtube:hover {
	background: transparent url(../Images/youtubeB-1.jpg)/*tpa=https://www.unfi.com/_LAYOUTS/UNFIWebsite/Images/youtubeB.jpg*/ no-repeat left top;
}


/*************************  Search Section *******************************************/


.searchwrapper .ms-sbcell .ms-sbplain {
    margin-right:0px;
    margin-left:10px;
    margin-top:0px;
    margin-bottom:6px;
   	width:217px !important;
   	background-color: transparent !important;
}
.searchwrapper .ms-sbcell {
    border:none;
    font-weight:normal; 
    font-size:13px; 
    color: #3A4663;
    padding:0px;
}

.searchwrapper .ms-sbgo {
    background:none;
}

#search .searchwrapper input {
	font-size:14px;
	color: #6d6d6d; 
}

.search .ms-sbcell input {
	background-color:transparent !important;
	border:0px !important;
	margin:0px 0px 0px 0px !important;
}

#search {
	float:right;
	position:relative;
	padding-right:0px;
	padding-top:15px;
}

#search .searchwrapper {
	width:270px;
	height:40px;
	background: transparent url(../Images/searchbkgndleft.png)/*tpa=https://www.unfi.com/_LAYOUTS/UNFIWebsite/Images/searchbkgndleft.png*/ no-repeat 0 0;
}

.searchbtn_wrapper {
	float:left;	
}

td.ms-sbgo{ 
	background-color:transparent; 
	padding-left:0px; 
	padding-right:0px; 
	padding-bottom:0px; 
	padding-top:0px; 
	border:solid 0px #949494; 
}
 
td.ms-sbgo a{ 
	padding: 0px 0px 0px 0px !important; 
	margin: 0px 0px 0px 0px !important; 
} 

td.ms-sbgo a{ 
	background-image: url(../Images/searchbtnA.jpg)/*tpa=https://www.unfi.com/_LAYOUTS/UNFIWebsite/Images/searchbtnA.jpg*/; 
	background-repeat: no-repeat; 
	background-position: top left;
	display:block;
	width:37px;
	height:40px;
	position:relative;
	top:-2px;
}

td.ms-sbgo a:hover{ 
	background-image: url(../Images/searchbtnB.jpg)/*tpa=https://www.unfi.com/_LAYOUTS/UNFIWebsite/Images/searchbtnB.jpg*/; 
	background-repeat: no-repeat; 
	background-position: top left;
	display:block;
}
 
td.ms-sbgo a img{ 
	display:none;
    height: 40px; 
    width: 37px;
}


/*************************  Top Navigation Section ***************************************/

#nav-container {
	position:relative;
	width:968px;
	height:62px;
	margin:0 0 10px 0;
	padding:0;
	z-index:2;	
}

.nav {
	margin:0px;
	padding:0px;
}

.nav .topmenu {
	PADDING-BOTTOM: 0px; 
	LIST-STYLE-TYPE: none; 
	MARGIN: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-RIGHT: 0px; 
	LIST-STYLE-IMAGE: none; 
	PADDING-TOP: 0px;  
}

.nav .topmenu {
	Z-INDEX: 1000; 
	WIDTH: 100%;  
}

.nav ul {
	Z-INDEX: 1000;
	margin: 0px;
	padding: 0px;  
}

.nav li {
	float: left;
	position:relative;
	margin: 0;
	text-align: center;
	height:70px;
	padding: 0;	
}

.nav a {
	display:block;
	color:#004833 !important;
	padding:18px 0px 0px 0px;
	height:44px;
	background:transparent url(../Images/middletopnav-1.png)/*tpa=https://www.unfi.com/_LAYOUTS/UNFIWebsite/Images/middletopnav.png*/ repeat-x left top;
	border-right: thin #ccdcb3 solid;
	text-decoration:none;
	margin:0px;
	line-height:normal;
	FONT-SIZE: 17px !important;
}

.nav a:hover {
	background:transparent url(../Images/middletopnavhover-1.png)/*tpa=https://www.unfi.com/_LAYOUTS/UNFIWebsite/Images/middletopnavhover.png*/ repeat-x left top;
	text-decoration:none !important;
}

.selected {
	display:block;
	color:#004833;
	padding:18px 0px 0px 0px;
	height:44px;
	background:transparent url(../Images/middletopnavhover-1.png)/*tpa=https://www.unfi.com/_LAYOUTS/UNFIWebsite/Images/middletopnavhover.png*/ repeat-x left top;
	border-right: thin #ccdcb3 solid;
	text-decoration:none !important;
}

.nav a:selected {
	background:transparent url(../Images/middletopnavhover-1.png)/*tpa=https://www.unfi.com/_LAYOUTS/UNFIWebsite/Images/middletopnavhover.png*/ repeat-x left top;
}

.nav li.verticalbar {
	
}

.nav li.company a {
	width:192px;
	background: transparent url(../Images/lefttopnav-1.png)/*tpa=https://www.unfi.com/_LAYOUTS/UNFIWebsite/Images/lefttopnav.png*/ no-repeat left top;
	
}
.nav li.company a:hover {
	width:192px;
	background: transparent url(../Images/lefttopnavhover-1.png)/*tpa=https://www.unfi.com/_LAYOUTS/UNFIWebsite/Images/lefttopnavhover.png*/ no-repeat left top;
	
}
.nav li.news-events a, .nav li.sustainability a {
	width:192px;	
}
.nav li.products-services a 
{
  width:194px;
}

.nav li.careers a {
	width:192px;
	background: transparent url(../Images/righttopnav-1.png)/*tpa=https://www.unfi.com/_LAYOUTS/UNFIWebsite/Images/righttopnav.png*/ no-repeat right top;	
	border-right:0;
	padding-right:0px; 
}
.nav li.careers a:hover {
	width:192px;
	background: transparent url(../Images/righttopnavhover-1.png)/*tpa=https://www.unfi.com/_LAYOUTS/UNFIWebsite/Images/righttopnavhover.png*/ no-repeat right top;	
}

.nav li.careers {
	border: 0;
}

/* .nav hover js */
.no-js .nav li > div { 
	display: none; 
}
.nav li > div { 
	background: transparent url(../Images/dropdown.png)/*tpa=https://www.unfi.com/_LAYOUTS/UNFIWebsite/Images/dropdown.png*/ no-repeat top left; 
	color: #316B21; 
	display: none; 
	height: 207px; 
	left: 0px; 
	font-size: 14px; /* padding: 58px 140px 13px 40px; */ 
	position: absolute; 
	text-align: left; 
	letter-spacing: 0; 
	text-transform: none; 
	top: 61px; 
	width: 280px; 
	z-index: 1000;
}

.nav li.company > div {
	left:4px
}

/*.nav li.careers div {
	left:0px;
}*/

.nav div.pop-nav a, .nav div.pop-nav a.wrapper { 
	color: #ffffff !important;
	font-weight:400; 
	display: block; 
	text-decoration: none !important; 
	line-height: 1.8em;
	margin-bottom: .5em; 
	background-image:none; 
	padding:0; 
	margin:0; 
	border: 0; 
	height:auto; 
	font-family: 'PT Sans Caption', Arial, Helvetica, sans-serif;  
	text-shadow: 0 -1px 0 rgba(0,0,0,.2);
	background-image:none;
	font-size:16px !important;
}

.nav div.pop-nav .wrapper a:hover,
.nav div.pop-nav .wrapper a:active { 
	color: #f9993d !important; 
	text-decoration: none !important; 
	background-image:none !important;  
}

.nav li.company .wrapper { 
	background: transparent url(../Images/dropdowncompany.png)/*tpa=https://www.unfi.com/_LAYOUTS/UNFIWebsite/Images/dropdowncompany.png*/ no-repeat 189px 2px; 
}

.nav li.news-events .wrapper { 
	background: transparent url(../Images/dropdownsocial.png)/*tpa=https://www.unfi.com/_LAYOUTS/UNFIWebsite/Images/dropdownsocial.png*/ no-repeat 192px 2px; 
}

.nav li.sustainability .wrapper { 
	background: transparent url(../Images/dropdownnews.png)/*tpa=https://www.unfi.com/_LAYOUTS/UNFIWebsite/Images/dropdownnews.png*/ no-repeat 192px 2px; 
}

.nav li.products-services .wrapper { 
	background: transparent url(../Images/dropdownproducts.png)/*tpa=https://www.unfi.com/_LAYOUTS/UNFIWebsite/Images/dropdownproducts.png*/ no-repeat 193px 2px; 
}

.nav li.careers .wrapper { 
	background: transparent url(../Images/dropdowncareers1.png)/*tpa=https://www.unfi.com/_LAYOUTS/UNFIWebsite/Images/dropdowncareers1.png*/ no-repeat 187px 2px; 
}

.nav li .pop-0 { 
	background-position: right 0; 
}

.nav h3 { 
	color: #ccdcb3 !important; 
	font-size: 26px !important; 
	margin: 0 0 .25em !important; 
	font-family: 'PT Sans Narrow', sans-serif, Arial, Helvetica, sans-serif !important; 
	line-height:1em !important; 
	font-weight:400 !important;
}
.nav li .wrapper { 
	font-size: 16px; 
	line-height: 1.4em; 
	padding: 10px 10px 10px 15px; 
	width: 255px; 
	height:195px; 
	position:relative;
 }

 /************************  Content Section *****************************************************/
 

#leftnavigation_wrapper {
	width:166px;
	float:left;
	margin: 20px 20px 0 4px;
	vertical-align:top;
	padding:0;				
}

#maincontent_wrapper {
	width:741px;
	margin:10px 4px 10px 30px;
	min-height:300px;
	float:left;
	vertical-align:top;
	padding:0;
}


.leftcontent_wrapper {				
	margin:25px 0 0 0;
	font-size: 13px; 
	line-height: 1.4em; 
}

 /************************  Left Nav *****************************************/

.LeftNavHeader {
	
}

.LeftNavHeaderSelected {

color:#004833 !important;
font-weight:700;				
}

.LeftNavHeaderSelected a {
color:#004833 !important;
font-weight:700;				
}

.LeftNavHeaderSelected a:hover {
text-decoration:none;				
}

.LeftNavLink {
display:block;
padding-bottom:6px !important;
line-height: 1.1em !important;
}

.LeftNavSubLinks {
display:block;
padding-bottom:6px !important;
line-height: 1.1em !important;				
}


 /************************  Slideshow Content *****************************************/


 
#slideshow-wrapper {
	 width:100%;
	 height:300px;
	 margin-bottom:10px;
 }
 
#slideshow_leftcolumn {
	 width:711px;
	 float:left;
	 position:relative;
	 z-index:1;
 }
 

 /************************  Ad Space Content *****************************************/
 
#ad_login_rightcolumn {
	 width:247px;
	 float:right;
 }
 
.adspace1 {
	 width:100%;
	 height:139px;
	 background: transparent url(../Images/adspace1.png)/*tpa=https://www.unfi.com/_LAYOUTS/UNFIWebsite/Images/adspace1.png*/ no-repeat left top;
	 margin-bottom:10px;
	 overflow:hidden;
	 padding:4px;
 }
 
 /************************  Login Content *****************************************/
 
.maincontent .login {
	 width:247px;
	 height:143px;
	 background: transparent url(../Images/loginbkgrnd.png)/*tpa=https://www.unfi.com/_LAYOUTS/UNFIWebsite/Images/loginbkgrnd.png*/ no-repeat left top;
	 padding:8px 0px 10px 0px;
	 overflow:visible;
     text-align:center;
 }
  
.maincontent .login select {
	 font-size: 13px;
	 width:211px;
	 padding:5px 5px 5px 5px;
	 margin-top:5px;
	 	-webkit-border-radius: 7px;
	   -moz-border-radius: 7px;
	        border-radius: 7px;
	font-weight:normal !important;  
	border: 1px #f9993d solid !important; 
}
 
.maincontent .login label {
	 font-size:13px;
	 color:#ffffff;
 }
 
.maincontent .login a {
	 font-size:11px !important;
	 color:#f9993d !important;
	 text-decoration:none;
 }
 
.login a:hover {
	 text-decoration: underline;
 }

 
.login .passwordlink {	 
	 text-align:left;	 
 }
 
.login .loginrequestlink {	 
	 text-align:right;	 
 }
 
.login button, .login input[type=submit] { border:0; color: #ffffff !important; display: inline-block; font-size: 14px; font-weight: bold; height: 25px; padding: 0 1em 0 1em; line-height: 25px; text-shadow: 0 -1px 0 rgba(0,0,0,.2); width:210px; margin:8px 0; vertical-align:top;
	-webkit-border-radius: 7px;
	   -moz-border-radius: 7px;
	        border-radius: 7px;
	background: #fd9a3b; /* Old browsers */
	background: -moz-linear-gradient(top,  #fd9a3b 0%, #e27916 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fd9a3b), color-stop(100%,#e27916)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fd9a3b 0%,#e27916 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fd9a3b 0%,#e27916 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fd9a3b 0%,#e27916 100%); /* IE10+ */
	background: linear-gradient(top,  #fd9a3b 0%,#e27916 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd9a3b', endColorstr='#e27916',GradientType=0 ); /* IE6-9 */
}

.login button:hover, .login input[type=submit]:hover { 
	background: #feab5b; /* Old browsers */
	background: -moz-linear-gradient(top,  #feab5b 0%, #fe8510 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feab5b), color-stop(100%,#fe8510)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #feab5b 0%,#fe8510 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #feab5b 0%,#fe8510 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #feab5b 0%,#fe8510 100%); /* IE10+ */
	background: linear-gradient(top,  #feab5b 0%,#fe8510 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feab5b', endColorstr='#fe8510',GradientType=0 ); /* IE6-9 */
}


.ie7 form.search button { border: 0; }

 
 /************************  Main Three Buttons Content *****************************************/
	 
.maincontent .button_wrapper {
	margin-bottom: 10px;
}

.button_wrapper h3 {
	font-size:25px;
	color:#004833;
	margin:20px 0px 15px 23px !important;
	font-weight:400 !important;
}

.button_wrapper .text {
	margin:0px 0 0 23px;
	line-height: 1.4em;	
	font-size:13px;
	width:150px;
}

.supplier_button .text {
	width:160px;
}

.customer_button #customerimage, .supplier_button #supplierimage  {
	float:right;
	margin:20px 10px 0 0;
}

.events_button #eventimage  {
	float:right;
	margin:15px 10px 0 0;
}


.column_one {
	width:316px;
	float:left;
}

.column_two {
	width:479px;
	float:left;
}

.videocolumn {
	width:639px;
	height:252px;
	float:left;
	background: transparent url(../Images/videoback.png)/*tpa=https://www.unfi.com/_LAYOUTS/UNFIWebsite/Images/videoback.png*/ no-repeat left top;
}

.column_space {
	margin-right:10px;
}
.customer_button {
	position:relative;
	z-index:100;
}

.supplier_button {
	position:relative;
	z-index:99;						
}

.events_button {
	position:relative;
	z-index:98;						
}

#section2_rightcolumn {
	background: transparent url(../Images/rightcolumn.png)/*tpa=https://www.unfi.com/_LAYOUTS/UNFIWebsite/Images/rightcolumn.png*/ no-repeat right top;
	height:252px;
	position:relative;
	z-index:106;	
}

#section1_content_wrapper, #section2_content_wrapper, #section3_content_wrapper {
	margin-top:25px;
}

#section1_content_wrapper {
	z-index: 103;
}

#section2_content_wrapper {
	z-index: 102;
}

.section2_rightcolumn_top, .section2_rightcolumn_bottom {
	width:288px;
	height:118px;
	overflow:hidden;
	margin: 10px 15px 10px 18px;
}

.section2_rightcolumn_top {
	margin-bottom:16px;
}

#section3_content_wrapper {
	z-index: 107;
	margin-top:16px;
}


.customer_button, .supplier_button, .events_button {
	background: transparent url(../Images/mainbuttons.png)/*tpa=https://www.unfi.com/_LAYOUTS/UNFIWebsite/Images/mainbuttons.png*/ no-repeat left top;
	height:169px;
	position:relative;
}

.events_button #eventimg {
	position:relative;
	top:-5px;
}

.more_button {
	width:95px;
	height:29px;
	background: transparent url(../Images/morebtnA-1.png)/*tpa=https://www.unfi.com/_LAYOUTS/UNFIWebsite/Images/morebtnA.png*/ no-repeat left top;
	position:absolute;
	right: 25px;
	top:115px;		
}

.more_button:hover {
	background: transparent url(../Images/morebtnB-1.png)/*tpa=https://www.unfi.com/_LAYOUTS/UNFIWebsite/Images/morebtnB.png*/ no-repeat left top;	
}

.more_button a {
	display:block;
	width:100%;
	height:100%;
}

.section1_leftcolumn > div > img, .section1_rightcolumn > div > img {	
	margin:0 15px 0 0 !important;	
}

.section3_leftcolumn, .section3_midcolumn, .section3_rightcolumn {
	background: transparent url(../Images/SectionThreeBkgnd.png)/*tpa=https://www.unfi.com/_LAYOUTS/UNFIWebsite/Images/SectionThreeBkgnd.png*/ no-repeat left top;
	width:310px;
	height:78px;
	overflow:hidden;			
}

.section3_leftcolumn, .section3_midcolumn {
	margin-right:17px;
}



 
  /*****************************************  Begin Footer Section ***********************************************************/

#BottomSection {
	width:100%;
	height:265px;
	bottom:0;
	background: #e6ecde url(../Images/grass.jpg)/*tpa=https://www.unfi.com/_LAYOUTS/UNFIWebsite/Images/grass.jpg*/ repeat-x left bottom;
}

.push {
	height:265px;	
}

#footer-container {
	width:968px;
	margin: 0 auto;
	padding-top:10px;
}

#footer-container .nav-links {
	PADDING-BOTTOM: 0px; 
	LIST-STYLE-TYPE: none; 
	MARGIN: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-RIGHT: 0px; 
	LIST-STYLE-IMAGE: none; 
	PADDING-TOP: 0px;  
}

#footer-container li {
	float: left;
	position:relative;
	margin: 0;
	text-align:left;
}

#footer-container li.column-one {
	width:150px;
}
#footer-container li.column-two {
	width:155px;
}
#footer-container li.column-three {
	width:180px;
}
#footer-container li.column-four {
	width:185px;
}
#footer-container li.column-five{
	width:170px;
}
#footer-container li.column-six {
	width:120px;
}


#footer-container li a {
	display: block; 
	text-decoration: none; 
	line-height: 1.8em;
	font-size:12px;
	color:#7f7e7e;
}

#footer-container li a:hover {
	text-decoration:underline;
}

#footer-container li h4 {
	font-size:12px;
	font-weight:400;
	color:#004833;
	margin-bottom:.5em;	
}

#footer-container .footer-links {	
	PADDING-BOTTOM: 0px; 
	LIST-STYLE-TYPE: none; 
	MARGIN: 0 0 0 0; 
	PADDING-LEFT: 0px; 
	PADDING-RIGHT: 0px; 
	LIST-STYLE-IMAGE: none; 
}

.footer-spacer {
  	height:20px;
}

#footer-container .footer-links li {
	float: left;
	position:relative;
	margin: 0;
	height:70px;
	font-size:10px;
}	

#footer-container .footer-links li.left-column {	
	text-align:left;
	width:400px;
	color:#527d4a;
	font-size:10px;
}

#footer-container .footer-links li.right-column {	
	text-align:right;
	width:568px;
	color:#b8b9b8;
	font-size:10px;	
}

#footer-container .footer-links li.right-column a, #footer-container .footer-links li.right-column a:active  {
	color:#527d4a;
	display:inline;
	font-size:10px !important;
	padding:0px 5px 0px 5px;
}

#footer-container .footer-links li.right-column a:hover {
	text-decoration:underline;
}	
	
/*  End Footer Section */

.ms-formfieldvaluecontainer, .ms-SPZone {
    padding: 0px !important;
	margin: 0px !important;
}

#defaultMain .maincontent, #defaultMain .maincontent tr, #defaultMain .maincontent td {

}

#ctl00_PlaceHolderMain_ctl00__ControlWrapper_RichHtmlField,
#ctl00_PlaceHolderMain_ctl01__ControlWrapper_RichHtmlField,
#ctl00_PlaceHolderMain_ctl02__ControlWrapper_RichHtmlField, 
#ctl00_PlaceHolderMain_ctl03__ControlWrapper_RichHtmlField, 
#ctl00_PlaceHolderMain_ctl04__ControlWrapper_RichHtmlField,
#ctl00_PlaceHolderMain_ctl05__ControlWrapper_RichHtmlField,
#ctl00_PlaceHolderMain_ctl06__ControlWrapper_RichHtmlField,
#ctl00_PlaceHolderMain_ctl07__ControlWrapper_RichHtmlField,
#ctl00_PlaceHolderMain_ctl08__ControlWrapper_RichHtmlField,
#ctl00_PlaceHolderMain_ctl09__ControlWrapper_RichHtmlField,
#ctl00_PlaceHolderMain_ctl10__ControlWrapper_RichHtmlField,
#ctl00_PlaceHolderMain_ctl11__ControlWrapper_RichHtmlField,
#ctl00_PlaceHolderMain_ctl12__ControlWrapper_RichHtmlField,
{				
	width:100% !important;
}

.ms-formfieldlabelcontainer, .ms-SPZoneLabel
{
	display: none;
}

.alerts {
	background-color: #436b3c;
	-webkit-border-radius: 7px;
	   -moz-border-radius: 7px;
	        border-radius: 7px;
	color:#ffffff;       
	padding:10px;
	margin:0 4px 0 4px;
	vertical-align:middle;
	text-align:center;				
}
.ms-formfieldvaluecontainer span div span span span > div
 {
   padding: 0px;
}

 /************************  Field Control Content CSS *****************************************************/


.maincontent {
 	font-family: 'PT Sans Caption', Arial, Helvetica, sans-serif !important;
 	font-size:13px !important;
 	line-height: 1.4em !important;
	color:#3e3e3e; 				
}

.maincontent p,
{ font-size: 13px !important; line-height: 1.5em !important; }

.maincontent li,
.maincontent td,
.maincontent th { 
	font-size: 13px !important; 
	line-height: normal;
	font-family: 'PT Sans Caption', Arial, Helvetica, sans-serif !important; 
}

.maincontent p { margin: 0 0 1em; }
.maincontent ul { margin: 1em 0 1em 2em; }

.maincontent img.right { float: right; margin: .2em 0 1.5em 1.5em; }

.maincontent img.left { float: left; margin: .2em 1.5em 1.5em 0; }

.maincontent .box1 { background: #fce682; padding: 1em; margin: 0 0 1em; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
.maincontent .box2 { background: #bfc9e5; padding: 1em; margin: 0 0 1em; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }



.maincontent .table1 table { margin: 0 0 2em 0 }
.maincontent .table1 tr{}
.maincontent .table1 th { background: #795629; color: #fff;  font-size: 16px !important }
.maincontent .table1 td { background: #e6ecde;  }

.maincontent .table1 th,
.maincontent .table1 td { border: 0; padding: .5em 1em; }


.maincontent .table2 table { margin: 0 0 2em 0; }
.maincontent .table2 tr {}
.maincontent .table2 th { background: #004833; color: #fff;  font-size: 16px !important  }
.maincontent .table2 td { background: #e6ecde;  }

.maincontent .table2 th,
.maincontent .table2 td { border: 0; padding: .5em 1em; }

.labels {
	width:400px;
}

.articletitle {				
	width:700px !important;
}

.maincontent hr 
{
	border: none 0;
	border-top: 1px solid #598551;/*the border*/
	width: 100%;
	height: 1px;/*whatever the total width of the border-top and border-bottom equal*/
}

.maincontent .articleDate {
	font-size:12px; 
	color:#8b8b8c;
	margin:10px 0px 15px 0px;
}

.maincontent .article_title {
	margin-bottom:15px;
}


 /************************  Web Part Content CSS *****************************************************/


.maincontent .ms-WPBody {
 	font-family: 'PT Sans Caption', Arial, Helvetica, sans-serif !important;
 	font-size:13px !important;
 	line-height: 1.4em !important; 
	color:#3e3e3e;				
}

.maincontent .ms-WPBody p { 
	font-size: 13px !important; 
	line-height: 1.5em !important;
	color:#3e3e3e;

 }

.maincontent .ms-WPBody li,
.maincontent .ms-WPBody td,
.maincontent .ms-WPBody th { 
	font-size: 13px !important; 
	line-height: normal;
	font-family: 'PT Sans Caption', Arial, Helvetica, sans-serif !important; 
}

.maincontent .ms-WPBody p { margin: 0 0 1em; }
.maincontent .ms-WPBody ul { margin: 1em 0 1em 2em; }

.maincontent .ms-WPBody img.right { float: right; margin: .2em 0 1.5em 1.5em; }

.maincontent .ms-WPBody img.left { float: left; margin: .2em 1.5em 1.5em 0; }


.maincontent .ms-WPBody A:link 
{
	font-family: 'PT Sans Caption', Arial, Helvetica, sans-serif !important;
	font-size:13px;
	color:#f27f1b;
	text-decoration:none;
}
.maincontent .ms-WPBody A:visited 
{
	text-decoration: none;
	color:#f27f1b;
	font-size:13px;
}
.maincontent .ms-WPBody A:active 
{
	text-decoration: none;
	color:#f27f1b;
	font-size:13px;
}
.maincontent .ms-WPBody A:hover 
{
	text-decoration: underline; 
}

.maincontent .ms-WPBody hr 
{
	border: none 0;
	border-top: 1px solid #598551;/*the border*/
	width: 100%;
	height: 1px;/*whatever the total width of the border-top and border-bottom equal*/
}
.maincontent .ms-WPBody h1
{
	font-family: 'PT Sans Caption', Arial, Helvetica, sans-serif !important;
	font-size:36px;
	color:#004833;
	margin:0 0 30px 0;
	font-weight: 700 !important;
	line-height:normal;
}
.maincontent .ms-WPBody h2
{
	font-family: 'PT Sans Caption', Arial, Helvetica, sans-serif !important;
	font-size:16px;
	color:#000000;
	font-weight:700 !important;
	margin:0 0 10px 0;
	font-style:italic;
}
.maincontent .ms-WPBody h3
{
	font-family: 'PT Sans Caption', Arial, Helvetica, sans-serif !important;
	font-size:16px;
	color:#000000;
	font-weight:bold;
	margin:0 0 10px 0;
}
.maincontent .ms-WPBody h4
{
	font-family: 'PT Sans Caption', Arial, Helvetica, sans-serif !important;
	font-size:15px;
	color:#795629;
	font-weight:bold;
}

.maincontent .ms-WPBody ul, .maincontent .ms-WPBody ol { 
	margin: 1em 0 1em 2em; 
}

.maincontent .ms-WPBody ol { 
	list-style-type: decimal; 
}

.maincontent .ms-WPBody b, .maincontent .ms-WPBody strong, .maincontent .ms-WPBody th { font-weight: 700; }


 /************************  CSS for News Content Query Web Part xsl file *****************************************************/


#linkitem {
 	margin:0 0 20px 0 !important;
}

.link-item a {
	display:block;
	font-size:16px !important;
	margin:0 0 8px 0px;	
}

.linkimage {
	vertical-align:top;
}

.linkimage a {
	margin: 0 15px 0 0;
}

.description {
 	font-size:13px !important;
 	line-height:1.4em !important;
 	vertical-align:top;
 	padding:0 0 0 0px;
}

/************************  CSS for Search *****************************************************/
 
.ms-WPBody .srch-stats, .ms-WPBody .srch-Page {
				
	background-color: transparent !important;
}

.ms-WPBody .srch-Title a {
				font-size:16px !important;
				font-weight:700;
}

.ms-WPBody .srch-Icon, .ms-WPBody .srch-Metadata {
				display:none !important;
}
.ms-WPBody .srch-Description {
				margin-bottom:35px !important;
}


/************************  CSS for Box with rounded corners Green *****************************************************/


.rounded {
   background: #dee8cf;
   width: 300;
}
.rounded_top div {
   background: url(../Images/up-left410.png)/*tpa=https://www.unfi.com/_LAYOUTS/UNFIWebsite/Images/up-left410.png*/ no-repeat top left;
   width:7px;
   height:7px;
}
.rounded_top {
   background: url(../Images/up-right410.png)/*tpa=https://www.unfi.com/_LAYOUTS/UNFIWebsite/Images/up-right410.png*/ no-repeat top right;
   width:7px;
   height:7px;
}
.rounded_bottom div {
   background: url(../Images/down-left410.png)/*tpa=https://www.unfi.com/_LAYOUTS/UNFIWebsite/Images/down-left410.png*/ no-repeat bottom left;
   width:7px;
   height:7px;
}
.rounded_bottom {
   background: url(../Images/down-right410.png)/*tpa=https://www.unfi.com/_LAYOUTS/UNFIWebsite/Images/down-right410.png*/ no-repeat bottom right;
   width:7px;
   height:7px;
}

.rounded_top div, .rounded_top, 
.rounded_bottom div, .rounded_bottom {
   width: 100%;
   height: 25;
   font-size: 24px;
   font-weight:bold;
   text-align:center;
   color:#3e3e3e;
}
.rounded_content { 
   margin: 15px 15px 15px 15px;

}

/************************  CSS for Box with rounded corners White *****************************************************/


.wrounded {
   background: #ffffff;
   width: 300;
}
.wrounded_top div {
   background: url(../Images/up-leftWhite.png)/*tpa=https://www.unfi.com/_LAYOUTS/UNFIWebsite/Images/up-leftWhite.png*/ no-repeat top left;
   width:7px;
   height:7px;
}
.wrounded_top {
   background: url(../Images/up-rightWhite.png)/*tpa=https://www.unfi.com/_LAYOUTS/UNFIWebsite/Images/up-rightWhite.png*/ no-repeat top right;
   width:7px;
   height:7px;
}
.wrounded_bottom div {
   background: url(../Images/down-leftWhite.png)/*tpa=https://www.unfi.com/_LAYOUTS/UNFIWebsite/Images/down-leftWhite.png*/ no-repeat bottom left;
   width:7px;
   height:7px;
}
.wrounded_bottom {
   background: url(../Images/down-rightWhite.png)/*tpa=https://www.unfi.com/_LAYOUTS/UNFIWebsite/Images/down-rightWhite.png*/ no-repeat bottom right;
   width:7px;
   height:7px;
}

.wrounded_top div, .wrounded_top, 
.wrounded_bottom div, .wrounded_bottom {
   width: 100%;
   height: 25;
   font-size: 24px;
   font-weight:bold;
   text-align:center;
   color:#3e3e3e;
}
.wrounded_content { 
   margin: 15px 15px 15px 15px;

}
/************************  CSS for radiobuttonlist on login *****************************************************/

.radiobuttonlist label
{
    padding-left: 6px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 5px;
    margin: 0px 0px 0px 0px;
    clear: left;
    margin-right: 5px;
}

.radiobuttoncontainer
{
    position:relative;
    z-index:1;
}


/************************  BDS 08-04-2014 add 3rd tier submenu to top navigation *****************************************************/

.menusublinks 
{
	display:none;
	width:150px;
	height:auto;
	background-color: #567c4c;
	position:absolute;
	top:-7px;
	left:128px;
	z-index:100;
	padding:7px 15px 10px 15px;
	border-radius: 7px; 
-webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.40);
-moz-box-shadow:    4px 4px 5px 0px rgba(50, 50, 50, 0.40);
box-shadow:         4px 4px 5px 0px rgba(50, 50, 50, 0.40); 
border:1px #44643b solid;

}
.nav div.pop-nav .wrapper > div 
{	
	position:relative;
	height: auto;
	display:block;
	height:30px;
	vertical-align:top;
	z-index:10;
}



