.videoplayer_wrapper {
	float: left;
    overflow: hidden;
    position: relative;
	background-color: transparent;
	margin-right:9px;
}

#ytvideo,
#ytvideo2 {
	margin:10px 0px 0px 10px;
}

.yt_holder {
    background: transparent url() no-repeat left top;
    padding: 0px 0px 0 0;
    float: left;
	vertical-align:top;
	width:638px;
	height:275px;
}
.playlistcontainer {
	
	float:left;
	vertical-align:top;
	margin-right:0px;
	padding-top:1px;
	width:295px;
	text-align:left;
}

.yt_holder ul {
    float: left;
    margin: 0;
    padding: 0;
}

.yt_holder ul li {
    list-style-type: none;
    display:block;
    float: left;
	padding:0px 0px 0px 0px;
	background-color:#e2ecd1;	

}

.yt_holder ul li a {
    padding:4px 0px 0px 0px;
    text-decoration: none;
    display: block;
    color: #3d3d3d !important;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px !important;
	width:100%;
	height:100%;
	background: #eef6e3; /* Old browsers */
	background: -moz-linear-gradient(top,  #fbfcfa 0%, #eef6e3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfcfa), color-stop(100%,#eef6e3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fbfcfa 0%,#eef6e3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fbfcfa 0%,#eef6e3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fbfcfa 0%,#eef6e3 100%); /* IE10+ */
	background: linear-gradient(top,  #fbfcfa 0%,#eef6e3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfcfa', endColorstr='#eef6e3',GradientType=0 ); /* IE6-9 */
}

.yt_holder ul li a:hover {
	background: #fc993a; /* Old browsers */
	background: -moz-linear-gradient(top,  #fc993a 0%, #e47c18 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fc993a), color-stop(100%,#e47c18)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fc993a 0%,#e47c18 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fc993a 0%,#e47c18 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fc993a 0%,#e47c18 100%); /* IE10+ */
	background: linear-gradient(top,  #fc993a 0%,#e47c18 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc993a', endColorstr='#e47c18',GradientType=0 ); /* IE6-9 */
	text-decoration:none !important;
}

.currentvideo {

}

.crop {
    float: left;
    width: 70px;
    height: 40px;
    overflow: hidden;
    margin:0px 6px 0px 6px;
    position: relative;
	border:2px #d2debd solid;
}

.crop img {
    position: absolute;
    top: -15px;
    left: -15px;
	margin:0px 0 0px 0;
}

.currentvideo .crop {
	border:2px #e47c18 solid !important;
}​

.video_container {
	position:relative;
	background-color:#099;
	width:639px;
	height:252px;
}

.videolinks {
	position: relative;
	top:7px;
	left:11px;
	font-size:13px;
	z-index:1000;
	margin:0;
	padding:0;
	width:300px;
}

.jcarousel-skin-tango .jcarousel-container {
	margin-top:0px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango .jcarousel-container-vertical {
    width: 295px;
    height: 211px;
    padding: 12px 0px 10px 0px;
	background-color:#e2ecd1;
	position:relative;
	top:-4px;
}

.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip-vertical {
    width:  295px;
    height: 211px;
}

.jcarousel-skin-tango .jcarousel-item {
    width: 295px;
    height: 51px;
	padding:1px 0px 1px 0px;
	vertical-align:top;
	
}

.jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 0px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}
/**
 *  Vertical Buttons
 */
.jcarousel-skin-tango .jcarousel-next-vertical {
    position: absolute;
    bottom: -5px;
    left: 23px;
    width: 244px;
    height: 11px;
    cursor: pointer;
    background: transparent url(../Images/bottombtn.png)/*tpa=https://www.unfi.com/_LAYOUTS/UNFIWebsite/Images/bottombtn.png*/ no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-next-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-vertical:focus {
    background-position: 0 0px;
}

.jcarousel-skin-tango .jcarousel-next-vertical:active {
    background-position: 0 0px;
}

.jcarousel-skin-tango .jcarousel-next-disabled-vertical,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 0px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical {
    position: absolute;
    top: -1px;
    left: 23px;
    width: 244px;
    height: 11px;
    cursor: pointer;
    background: transparent url(../Images/topbtn.png)/*tpa=https://www.unfi.com/_LAYOUTS/UNFIWebsite/Images/topbtn.png*/ no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-vertical:focus {
    background-position: 0 0px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:active {
    background-position: 0 0px;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 0px;
}
