.disclaimer 
{
    color: #666666;
    font: 0.86em Arial, sans-serif;
    width: 945px;
	margin: 20px auto 50px auto;
	clear: left;
}
.disclaimer-accordion.closed { display: none;}
.disclaimer p { padding-top: 13px;}
.disclaimer p.copyright { color: #000000; font-weight: bold; margin-bottom: 2px;}
.disclaimer a { text-decoration: underline; color: #005781;}
.disclaimer a:hover { color: #0087B1;}
.disclaimer .links li:first-child a,
.disclaimer .links li:first-child
{ 
	margin: 0 5px 0 0; 
	border: none;
}
.disclaimer .links a { margin: 0 5px;}
.disclaimer .links li { border-left: 1px solid #666666; float: left;}