/** home page cols **/
.home-col {background-color: white;border: solid 1px #ccc;padding-bottom: 5px;-moz-box-shadow: 0 0 2px 2px #ccc;-webkit-box-shadow: 0 0 2px 2px#ccc;box-shadow: 0 0 2px 2px #ccc;}

.home-col p {padding: 5px 10px;color: #000000;font-family:Arial, Helvetica, sans-serif;font-size:12px;line-height:14px;}

.home-col h1 {background-color: #ebe7e7;height: 30px;border-bottom: 1px solid #ccc;padding-left: 8px;color: #007474;font-size: 16px;line-height:30px;text-transform: uppercase;font-weight: bold;}

.home-col h2 {background-color: #ebe7e7;height: 30px;border-bottom: 1px solid #ccc;padding-left: 8px;color: #007474;font-size: 16px;line-height:30px;text-transform: uppercase;font-weight: bold;}

.home-col h1 a {background-color: #ebe7e7;height: 30px;border-bottom: 1px #ccc;margin-right: 4px;color: #007474;font-size: 16px;line-height:30px;text-transform: uppercase;font-weight: bold;text-decoration: none;background: url("images/home-title-link.jpg")/*tpa=http://www.emcorgroup.com/themes/emcorgroup_2014/images/home-title-link.jpg*/ right top no-repeat;display: block;}

.home-col h2 a {background-color: #ebe7e7;height: 30px;border-bottom: 1px #ccc;margin-right: 4px;color: #007474;font-size: 16px;line-height:30px;text-transform: uppercase;font-weight: bold;text-decoration: none;background: url("images/home-title-link.jpg")/*tpa=http://www.emcorgroup.com/themes/emcorgroup_2014/images/home-title-link.jpg*/ right top no-repeat;display: block;}

.home-col h1 a:hover {background: url("images/home-title-link-on.jpg")/*tpa=http://www.emcorgroup.com/themes/emcorgroup_2014/images/home-title-link-on.jpg*/ right top no-repeat;}

.home-col h2 a:hover {background: url("images/home-title-link-on.jpg")/*tpa=http://www.emcorgroup.com/themes/emcorgroup_2014/images/home-title-link-on.jpg*/ right top no-repeat;}

.home-col h3, .home-col h4{margin-left: 8px;color: black;font-size: 13px;font-weight: bold;}

.home-col h3 a{color: black;text-decoration: none;display: block;margin-right: 5px;background: url("images/home-h3-link.jpg")/*tpa=http://www.emcorgroup.com/themes/emcorgroup_2014/images/home-h3-link.jpg*/ top right no-repeat;}

.home-col h3 a:hover {background: url("images/home-h3-link-on.jpg")/*tpa=http://www.emcorgroup.com/themes/emcorgroup_2014/images/home-h3-link-on.jpg*/ top right no-repeat;}

.home-col ul{ }



#sidebar {width:208px;margin:0;padding:0;float:left;}

#sidebar p {margin: 0;padding: 0}

#sidebar ul {list-style: none;margin: 0;padding: 0}

#sidebar ul li {width: 208px;height: 41px;}

#sidebar ul li a {width: 193px;display: block;
background: url("images/home-submenu.jpg")/*tpa=http://www.emcorgroup.com/themes/emcorgroup_2014/images/home-submenu.jpg*/ top left no-repeat;font-family:Arial, Helvetica, sans-serif;font-size: 12px;color: #333;font-weight: bold;
padding-left: 15px;padding-top: 7px;padding-bottom: 6px;text-transform: uppercase;text-decoration: none;}

#sidebar ul li.single a {padding-top: 14px;padding-bottom: 11px;text-transform: uppercase;}

#sidebar ul li a:hover {background: url("images/home-submenu-hover.jpg")/*tpa=http://www.emcorgroup.com/themes/emcorgroup_2014/images/home-submenu-hover.jpg*/ top left no-repeat;}


#home_sidebar ul{list-style:none;margin:0;padding:0;}
#home_sidebar li{
display:block;
width:208px;
height:41px;
padding:0;
margin:0;
}
#home_sidebar li a{
color:#333333;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
line-height:14px;
padding: 0px;
margin:0;
font-weight:bold;
text-decoration:none;
text-transform: uppercase;
width:158px;
height:41px;
display:block;
background-image:url(images/home_sidebarnav.jpg)/*tpa=http://www.emcorgroup.com/themes/emcorgroup_2014/images/home_sidebarnav.jpg*/;
background-repeat:no-repeat;
}
#home_sidebar li a:hover{
color:#000000;
text-decoration:none;
background-image:url(images/home_sidebarnav_over.jpg)/*tpa=http://www.emcorgroup.com/themes/emcorgroup_2014/images/home_sidebarnav_over.jpg*/;
background-repeat:no-repeat;
}