@charset "ISO-8859-1";
body {
	background-color: #E1E1D7;
	margin:0;
	padding:0;
	background-image:url(images/shared_body_bkg.gif)/*tpa=http://www.emcorgroup.com/themes/emcorgroup_2014/images/shared_body_bkg.gif*/;
	background-repeat:repeat-x;
}
.clearit {
clear:both;
}
/* home page layout and styles */
#home_header {
width:993px;
height:121px;
margin:0 auto;
background-image:url(images/home_bnr_bkg.jpg)/*tpa=http://www.emcorgroup.com/themes/emcorgroup_2014/images/home_bnr_bkg.jpg*/;
background-repeat:no-repeat;
}
#home_page_container {
width:993px;
margin:0 auto;
padding:0;
background-image:url(images/home_pg_bkg.jpg)/*tpa=http://www.emcorgroup.com/themes/emcorgroup_2014/images/home_pg_bkg.jpg*/;
background-repeat:repeat-y;
}
#home_logo {
width:163px;
height:61px;
float:left;
padding:41px 0px 0px 37px;
}
#home_nav_bar {
width:753px;
height:34px;
float:right;
padding:86px 16px 0px 0px;
}
#page {
width:961px;
margin:0 auto;
padding:0 0 7px 0;
border-bottom:10px solid #CC6633;
}

#sidebar {
width:208px;
margin:0;
padding:0;
float:left;
}

#main_block {
width:753px;
margin:0;
padding:0;
float:right;
}
#home_flash {
width:753px;
height:361px;
margin:0;
padding:0;
border-bottom:7px solid #CC6633;
background-image:url(images/home_static_flash.jpg)/*tpa=http://www.emcorgroup.com/themes/emcorgroup_2014/images/home_static_flash.jpg*/;
}
#home_editor_block {
width:753px;
margin:0;
padding:0;
border-top:2px solid #3E3E3E;
background-image:url(images/home_editor_bkg.jpg)/*tpa=http://www.emcorgroup.com/themes/emcorgroup_2014/images/home_editor_bkg.jpg*/;
background-repeat:repeat-y;
}
#home_editor_blockv2 {
width:753px;
margin:0;
padding:0;
border-top:2px solid #3E3E3E;
}
#home_editor_fields {
width:753px;
min-height: 270px;
margin:0;
padding:0;
background-image:url(images/home_editor_hat_promo.jpg)/*tpa=http://www.emcorgroup.com/themes/emcorgroup_2014/images/home_editor_hat_promo.jpg*/;
background-position:top;
background-repeat:no-repeat;
}
#home_editor_fieldsv2 {
width:753px;
min-height: 270px;
margin:0;
padding:0;
}
#home_desc_main_block {
width:237px;
margin:0;
padding:0 0 0 13px;
float:left;
background-image:none;
}
#home_desc_main_blockv2 {
width:237px;
margin:0;
padding:0 0 0 10px;
float:left;
background-image:none;
}
#home_maincontent {
	min-height:100px;
	margin:0;
	padding:20px 0 0 4px;
	background-color: white;
	border: solid 1px #ccc;
	-moz-box-shadow: 0 0 2px 2px #ccc;
	-webkit-box-shadow: 0 0 2px 2px#ccc;
	box-shadow: 0 0 2px 2px #ccc;
}
#home_maincontentv2 {
	min-height:100px;
	margin:0 5px 6px 0;
	padding:10px 0 0 0px;
	background-color: white;
	border: solid 1px #ccc;
	-moz-box-shadow: 0 0 2px 2px #ccc;
	-webkit-box-shadow: 0 0 2px 2px#ccc;
	box-shadow: 0 0 2px 2px #ccc;
}
#home_maincontent h3, #home_maincontentv2 h3{
color:#990033;
font-family:"Arial Narrow", Arial, Helvetica, sans-serif;
font-size:17px;
line-height:19px;
margin:0px 17px 8px 17px;
padding:0;
font-weight:bold;
text-transform: uppercase;
}
#home_maincontent p, #home_maincontentv2 p{
color:#666666;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
line-height:16px;
margin:8px 17px 8px 17px;
padding:0;
}
#home_maincontent a, #home_maincontentv2 a{
color:#666666;
text-decoration:none;
}
#home_maincontent a:hover, #home_maincontentv2 a:hover{
color:#CC6633;
text-decoration:underline;
}
#home_content1 {
width:133px;
min-height:100px;
margin:0;
padding:0 0 0 25px;
float:left;

}
#home_content1v2 {
width:156px;
min-height:100px;
margin:12px 5px 6px 6px;
padding:0;
float:left;
	padding-bottom: 5px;
	-moz-box-shadow: 0 0 2px 2px #ccc;
	-webkit-box-shadow: 0 0 2px 2px#ccc;
	box-shadow: 0 0 2px 2px #ccc;
}
#home_content2 {
width:133px;
min-height:100px;
margin:0;
padding:0 0 0 26px;
float:left;
}
#home_content2v2 {
width:155px;
min-height:100px;
margin:12px 5px 6px 6px;
padding:0;
float:left;
	padding-bottom: 5px;
	-moz-box-shadow: 0 0 2px 2px #ccc;
	-webkit-box-shadow: 0 0 2px 2px#ccc;
	box-shadow: 0 0 2px 2px #ccc;
}
#home_content3 {
width:133px;
min-height:100px;
margin:0;
padding:0 27px 0 0px;
float:right;
}
#home_content3v2 {
width:155px;
min-height:100px;
margin:12px 12px 6px 6px;
padding:0;
float:right;
	padding-bottom: 5px;
	-moz-box-shadow: 0 0 2px 2px #ccc;
	-webkit-box-shadow: 0 0 2px 2px#ccc;
	box-shadow: 0 0 2px 2px #ccc;
}
#home_content1 p, #home_content2 p, #home_content3 p{
font-family:"Arial Narrow", Arial, Helvetica, sans-serif;
font-size:14px;
line-height:18px;
font-weight:bold;
margin:8px 0px 12px 0px;
padding:0;
}
#home_content1v2 p, #home_content2v2 p, #home_content3v2 p{
font-family:"Arial Narrow", Arial, Helvetica, sans-serif;
font-size:14px;
line-height:18px;
font-weight:bold;
margin:8px 0px 12px 0px;
padding:0 10px;
}
#home_content1 a, #home_content2 a, #home_content3 a,
#home_content1v2 a, #home_content2v2 a, #home_content3v2 a{
color:#0099CC;
text-decoration:underline;
}
#home_content1 a:hover, #home_content2 a:hover, #home_content3 a:hover,
#home_content1v2 a:hover, #home_content2v2 a:hover, #home_content3v2 a:hover{
color:#CC6633;
text-decoration:underline;
}
#home_content1v2 h1, #home_content2v2 h1, #home_content3v2 h1{
	background-color: #ebe7e7;
	height: 25px;
	border-bottom: 1px solid #ccc;
	font-family:"Arial Narrow", Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:25px;
	margin:0px;
	padding:10px;
	font-weight:bold;
	text-transform: uppercase;
}
#home_content1 h3, #home_content2 h3, #home_content3 h3,
#home_content1v2 h3, #home_content2v2 h3, #home_content3v2 h3{
font-family:"Arial Narrow", Arial, Helvetica, sans-serif;
font-size:16px;
line-height:18px;
margin:19px 0px 18px 0px;
padding:0;
font-weight:bold;
text-transform: uppercase;
}
#home_content1 h4, #home_content2 h4, #home_content3 h4{
color:#000000;
font-family:"Arial Narrow", Arial, Helvetica, sans-serif;
font-size:14px;
line-height:18px;
margin:8px 0px 8px 0px;
padding:0;
font-weight:bold;
}
#home_content1v2 h4, #home_content2v2 h4, #home_content3v2 h4{
color:#000000;
font-family:"Arial Narrow", Arial, Helvetica, sans-serif;
font-size:14px;
line-height:18px;
margin:8px 0px 8px 0px;
padding:0 10px;
font-weight:bold;
}
#home_content1 p, #home_content1 h3,
#home_content1v2 p, #home_content1v2 h1{
color:#990033;
}
#home_content2 p, #home_content2 h3,
#home_content2v2 p, #home_content2v2 h1{
color:#006666;
}
#home_content3 p, #home_content3 h3,
#home_content3v2 p, #home_content3v2 h1{
color:#f58714;
}
#home_content1 h3 a, #home_content2 h3 a, #home_content3 h3 a,
#home_content1v2 h1 a, #home_content2v2 h1 a, #home_content3v2 h1 a{
width:133px;
display:block;
background-image:url(images/home_bucket_hdr_link.jpg)/*tpa=http://www.emcorgroup.com/themes/emcorgroup_2014/images/home_bucket_hdr_link.jpg*/;
background-position:right;
background-repeat:no-repeat;
text-decoration:none;
}
#home_content1 h3 a:hover, #home_content2 h3 a:hover, #home_content3 h3 a:hover, 
#home_content1v2 h1 a:hover, #home_content2v2 h1 a:hover, #home_content3v2 h1 a:hover{
width:133px;
display:block;
background-image:url(images/home_bucket_hdr_over.jpg)/*tpa=http://www.emcorgroup.com/themes/emcorgroup_2014/images/home_bucket_hdr_over.jpg*/;
background-position:right;
background-repeat:no-repeat;
text-decoration:none;
}
#home_content1 h3 a, #home_content1v2 h3 a{
color:#990033;
}
#home_content2 h3 a, #home_content2v2 h3 a{
color:#006666;
}
#home_content3 h3 a, #home_content3v2 h3 a{
color:#f58714;
}
#home_content1 ul, #home_content2 ul, #home_content3 ul{
margin:0px 0px 15px 0px;
padding:0;
}
#home_content1v2 ul, #home_content2v2 ul, #home_content3v2 ul{
margin:0px 0px 15px 0px;
padding:0 10px;
}
#home_content1 li, #home_content2 li, #home_content3 li{
color:#000000;
font-family:"Arial Narrow", Arial, Helvetica, sans-serif;
font-size:14px;
line-height:18px;
margin:0px 0px 0px 10px;
padding:0;
font-weight:bold;
}
#home_content1v2 li, #home_content2v2 li, #home_content3v2 li{
color:#000000;
font-family:"Arial Narrow", Arial, Helvetica, sans-serif;
font-size:14px;
line-height:18px;
margin:0px 0px 0px 10px;
padding:0 10px;
font-weight:bold;
}
/* sub page layout and styles */
#sub_header {
width:993px;
height:121px;
margin:0 auto;
background-image:url(images/sub_bnr_bkg2.jpg)/*tpa=http://www.emcorgroup.com/themes/emcorgroup_2014/images/sub_bnr_bkg2.jpg*/;
background-repeat:no-repeat;
}
#sub_page_container {
width:993px;
margin:0 auto;
padding:0;
background-image:url(images/sub_pg_bkg.jpg)/*tpa=http://www.emcorgroup.com/themes/emcorgroup_2014/images/sub_pg_bkg.jpg*/;
background-repeat:repeat-y;
}
#sub_logo {
width:163px;
height:61px;
float:left;
padding:14px 0px 0px 37px;
}
#sub_banner {
width:753px;
height:121px;
float:right;
padding:0px 16px 0px 0px;
margin:0;
}
#sub_nav_bar {
width:753px;
height:34px;
padding:0px 0px 0px 0px;
margin:0;
}
#sub_bnr_display {
width:753px;
height:87px;
padding:0px 0px 0px 0px;
margin:0;
}
#sub_main_block {
width:601px;
margin:0;
padding:35px 0 12px 0;
float:left;
}

.full-width-layout {
	width: 100% !important;
	float: none !important;
	padding: 35px 20px 12px 20px !important;
}

#sub_main_block_blank {
width:720px;
margin:0;
padding:35px 0 12px 0;
float:left;
}
#sub_rightbar_2014 {
width:119px;
margin:97px 0px 0px 0px;
padding:0px 12px 0px 0px;
float:right;
border-left:thin solid #000;
}
#sub_rightbar_2014 ul, #sub_rightbar_2014 ol{
	margin:0px 0px 10px 6px;
	padding:0 0 0 15px;
}
#sub_rightbar_2014 li{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height:16px;
	padding:0px;
	margin:0px;
	font-weight: normal;
	color: #000;
}
#sub_rightbar_2014 p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height:16px;
	margin:0px 0px 10px 6px;
	padding:0 0 0 6px;
	font-weight: normal;
	color: #000;
}
#sub_rightbar_2014 a {
    color: #0099CC;
    text-decoration: underline;
}
#sidenav_box {
width:180px;
margin:40px auto 20px auto;
padding:0 0 15px 0;
border:1px solid #006666;
background-color:#ffffff;
}
#sidenav_box p.sectnav_name_bar {
font-family:"Arial Narrow", Arial, Helvetica, sans-serif;
font-size:18px;
line-height:20px;
padding:5px 0px 5px 8px;
margin:0 0 10px 0;
font-weight:bold;
text-decoration:none;
text-transform: uppercase;
width:172px;
display:block;
background-color:#006666;
color:#ffffff;
border-bottom:1px solid #006666;
}
#sidenav_box p.sectnav_name_bar a{
font-family:"Arial Narrow", Arial, Helvetica, sans-serif;
text-decoration:none;
color:#ffffff;
font-size:18px;
line-height:20px;
background: none;
text-decoration: none;
padding: 0;
margin: 0;
display: inline;
text-transform: none;
}
#download_box {
width:180px;
margin:21px auto 20px auto;
padding:0 0 5px 0;
border-top:6px solid #FFCC00;
border-right:1px solid #FFCC00;
border-bottom:1px solid #FFCC00;
border-left:1px solid #FFCC00;
background-color:#FFFAE5;
}
#download_box p{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
line-height:18px;
padding:0px 0px 5px 8px;
margin:0 0 0px 0;
color:#999;
}
#download_box a{
text-decoration:underline;
color:#333;
}
#download_box a:hover{
text-decoration:underline;
color:#000;
}
#download_box p.sub_panel_headr {
padding:5px 0px 5px 8px;
margin:0 0 0px 0;
color:#006666;
font-weight:bold;
}
#more_info_box {
width:180px;
margin:21px auto 20px auto;
padding:0 0 5px 0;
border-top:6px solid #999;
border-right:1px solid #CCCCCC;
border-bottom:1px solid #CCCCCC;
border-left:1px solid #CCCCCC;
background-color:#E6E6E6;
}
#more_info_box p{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
line-height:18px;
padding:0px 0px 5px 8px;
margin:0 0 0px 0;
color:#333;
}
#more_info_box a{
text-decoration:underline;
color:#333;
}
#more_info_box p.sub_panel_headr {
padding:5px 0px 5px 8px;
margin:0 0 0px 0;
color:#006666;
font-weight:bold;
}
#sub_main_block h1, #sub_main_block_blank h1 {
	font-family:"Arial Narrow", Arial, Helvetica, sans-serif;
	font-size: 24px;
	line-height:28px;
	padding:0px 0px 10px 0px;
	margin:0px 0px 10px 0px;
	font-weight: bold;
	color: #007474;
}
#sub_main_block h2, #sub_main_block_blank h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height:20px;
	padding:0px;
	margin:0px 0px 0px 0px;
	font-weight: bold;
	color: #000;
}
#sub_main_block h3, #sub_main_block_blank h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height:18px;
	padding:0px;
	margin:0px 0px 8px 0px;
	font-weight: bold;
	color: #880027;
}
#sub_main_block h5,#sub_main_block_blank h5 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height:18px;
	padding:0px;
	margin:0px 0px 0px 0px;
	font-weight: bold;
	color: #007474;
}
#sub_main_block h4,#sub_main_block_blank h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	line-height:20px;
	padding:0px;
	margin:0px 0px 0px 0px;
	font-weight: bold;
	color: #000;
}
#sub_main_block h6,#sub_main_block_blank h6 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height:18px;
	padding:0px;
	margin:0px 0px 0px 0px;
	font-weight: bold;
	color: #000;
}
#sub_main_block ul, ol,#sub_main_block_blank ul, ol{
	margin-top:0px;
	margin-bottom:10px;
        margin-left:0;
        margin-right:0;
        padding: 0 0 0 15px;
}
#sub_main_block li,#sub_main_block_blank li{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height:16px;
	padding:0px;
	margin:0px;
	font-weight: normal;
	color: #000;
}

#sub_main_block p,#sub_main_block_blank p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height:16px;
	padding:0px;
	margin:12px 0px 12px 0px;
	font-weight: normal;
	color: #000;
}
#sub_main_block table,#sub_main_block_blank table{
	padding:0px;
	margin:0px;
}
#sub_main_block td,#sub_main_block_blank td{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height:16px;
	padding:0px;
	margin:0px 0px 12px 0px;
	font-weight: normal;
	color: #000;
}
#sub_main_block th,#sub_main_block_blank th{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height:16px;
	padding:0px;
	margin:0px 0px 12px 0px;
	font-weight: bold;
	color: #000;
}
#sub_main_block a,#sub_main_block_blank a{
	color: #0099CC;
	text-decoration:underline;
}
#sub_main_block a:hover,#sub_main_block_blank a:hover{
	color: #CC6633;
	text-decoration:underline;
}

/*global nav menu */
#navbar_menu {
padding: 0 0 0 0px;
height: 34px;
width: 470px;
margin: 0px;
float:left;
}
#navbar_menu form{
padding:0px;
margin: 0px;
}
/* shared layout and styles */
#search_box {
margin: 0px;
padding: 5px 10px 0px 0px;
height:24px;
width:260px;
text-align:right;
float:right;
}
#search_form label{
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
font-weight: bold;
color: #FFFFFF;
line-height: 14px;
border: none;
margin:0px 0px 0px 0px;
padding:0px 7px 0px 0px;
display:inline;
}

#search_form input {
display: inline;
vertical-align: middle;
}

form.search_form {
margin:0;
padding:0;
}
.global_search {
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
font-weight: normal;
color: #FFFFFF;
height: 20px;
width: 145px;
border: none;
background-color:#666666;
margin:0;
padding:0px 0px 0px 4px;
display:inline;
}

#super_footer {
width:993px;
margin:0 auto;
padding:0;
background-image:url(images/super_ftr_bkg.jpg)/*tpa=http://www.emcorgroup.com/themes/emcorgroup_2014/images/super_ftr_bkg.jpg*/;
background-repeat:repeat-y;
}
#super_footer_content_container {
width:961px;
margin:0 auto;
padding:10px 0 20px 0;
border-top:1px solid #044A4C;
background-color:#008285;
}
#sfooter_content1 {
width:248px;
float:left;
margin:0;
padding:0 19px 0 223px;
}
#sfooter_content2 {
width:220px;
float:left;
margin:0;
padding:0 16px 0 0px;
}
#sfooter_content3 {
width:220px;
float:right;
margin:0;
padding:0 11px 0 0px;
}
#sfooter_content1 p, #sfooter_content2 p, #sfooter_content3 p {
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
line-height:18px;
font-weight:bold;
margin:5px 0 0 0;
color:#FFFFFF;
}
#sfooter_content1 a, #sfooter_content2 a, #sfooter_content3 a {
color:#FFFFFF;
text-decoration:none;
}
#sfooter_content1 a:hover, #sfooter_content2 a:hover, #sfooter_content3 a:hover {
color:#FFFFFF;
text-decoration:underline;
}
#sfooter_content1 ul, #sfooter_content2 ul, #sfooter_content3 ul {list-style:none;margin:0 0 0 0;padding:0;}
#sfooter_content1 li, #sfooter_content2 li, #sfooter_content3 li {font-family:Arial, Helvetica, sans-serif;font-size:12px;line-height:18px;font-weight:bold;margin:0 0 0 0;color:#C2C2A3;}
#sfooter_content1 li a, #sfooter_content2 li a, #sfooter_content3 li a {color:#C2C2A3;text-decoration:none;}
#footer {width:993px;height:35px;margin:0 auto;background-image:url(images/shared_ftr_bkg.jpg)/*tpa=http://www.emcorgroup.com/themes/emcorgroup_2014/images/shared_ftr_bkg.jpg*/;background-repeat:no-repeat;}
#footer #footer_contentmain {width:187px;float:left;margin:0;padding:0 15px 0 37px;}
#footer #footer_content1, #footer #footer_content2 {width:125px;float:left;margin:0;padding:0 15px 0 0px;}
#footer #footer_content3 {width:425px;float:right;margin:0;padding:0 35px 0 0px;text-align:right;}
#footer #footer_contentmain p, #footer #footer_content1 p, #footer #footer_content2 p {font-family:Arial, Helvetica, sans-serif;font-size:10px;line-height:14px;margin:10px 0 0 0;color:#FFFFFF;}
#footer #footer_content3 p {font-family:Arial, Helvetica, sans-serif;font-size:10px;line-height:16px;margin:8px 0 0 0;color:#FFFFFF;}
#footer #footer_contentmain a, #footer #footer_content1 a, #footer #footer_content2 a {color:#FFFFFF;text-decoration:none;}
#footer #footer_contentmain a:hover, #footer #footer_content1 a:hover, #footer #footer_content2 a:hover {color:#FFFFFF;text-decoration:underline;}
#footer #footer_content3 a {color:#00B5B9;text-decoration:none;}
#footer #footer_content3 a:hover {color:#FFFFFF;text-decoration:none;}

/* case studies */
.staff_list_item{float: left;width: 220px;margin-bottom: 25px;text-align: center;height: 200px;}
.staff_list_title {text-align: center;font-family:Arial, Helvetica, sans-serif;font-size:12px;line-height:14px;margin:10px 0 0 0;color:#000;}
.staff_list_position {width: 140px;margin: 0 auto;}
.ft-title {width: 738px;padding-top:10px;padding-bottom: 10px;padding-left: 15px;font-size: 14px;line-height: 20px;}
.ccm-layout-col-spacing { margin:0px 8px }

#case_study_main_block {width:550px;margin:0;padding:35px 0 12px 0;float:left;}
#case_study_main_block h1 {font-family:"Arial Narrow", Arial, Helvetica, sans-serif;font-size: 24px;line-height:28px;padding:0px 0px 10px 0px;margin:0px 0px 10px 0px;font-weight: bold;color: #007474;}
#case_study_main_block h2 {font-family: Arial, Helvetica, sans-serif;font-size: 14px;line-height:20px;padding:0px;margin:0px 0px 0px 0px;font-weight: bold;color: #000;}
#case_study_main_block h3 {color: #880027;font-family: Arial,Helvetica,sans-serif;font-size: 14px;font-weight: bold;line-height: 18px;margin: 0;padding: 0;}
#case_study_main_block h5 {font-family: Arial, Helvetica, sans-serif;font-size: 14px;line-height:18px;padding:0px;margin:0px 0px 0px 0px;font-weight: bold;color: #007474;}
#case_study_main_block h4 {font-family: Arial, Helvetica, sans-serif;font-size: 17px;line-height:20px;padding:0px;margin:0px 0px 0px 0px;font-weight: bold;color: #000;}
#case_study_main_block h6 {font-family: Arial, Helvetica, sans-serif;font-size: 14px;line-height:18px;padding:0px;margin:0px 0px 0px 0px;font-weight: bold;color: #000;}
#case_study_main_block ul, ol{margin-top:0px;margin-bottom:10px;}
#case_study_main_block li{font-family: Arial, Helvetica, sans-serif;font-size: 12px;line-height:16px;padding:0px;margin:0px;font-weight: normal;color: #000;}
#case_study_main_block p{font-family: Arial, Helvetica, sans-serif;font-size: 12px;line-height:16px;padding:0px;margin:12px 0px 12px 0px;font-weight: normal;color: #000;}
#case_study_main_block table{padding:0px;margin:0px;}
#case_study_main_block td{font-family: Arial, Helvetica, sans-serif;
font-size: 12px;line-height:16px;padding:0px;margin:0px 0px 12px 0px;font-weight: normal;color: #000;}
#case_study_main_block th{font-family: Arial, Helvetica, sans-serif;font-size: 12px;line-height:16px;padding:0px;margin:0px 0px 12px 0px;font-weight: bold;color: #000;}
#case_study_main_block a{color: #0099CC;text-decoration:underline;}
#case_study_main_block a:hover{color: #CC6633;text-decoration:underline;}

#case_study_rightbar {width:180px;margin:0px;padding:0px 0px 12px 0px; margin: 35px 10px 0px 10px;float:right;border:thin solid #000;background-color: #FFEFD6;}
#case_study_rightbar ul, #case_study_rightbar ol{margin:0px 0px 10px 6px;padding:0 0 0 15px;}
#case_study_rightbar li{font-family: Arial, Helvetica, sans-serif;font-size: 11px;line-height:16px;padding:0px;margin:0px;font-weight: normal;color: #000;}
#case_study_rightbar p{font-family: Arial, Helvetica, sans-serif;font-size: 12px;line-height:16px;margin:0px 0px 10px 6px;padding:0 0 0 6px;font-weight: normal;color: #000;}
#case_study_rightbar table{padding:0px;margin:0px;}
#case_study_rightbar td{font-family: Arial, Helvetica, sans-serif;font-size: 12px;line-height:16px;padding:0px;margin:0px 0px 12px 0px;font-weight: normal;color: #000;}
#case_study_rightbar th{font-family: Arial, Helvetica, sans-serif;font-size: 12px;line-height:16px;padding:0px;margin:0px 0px 12px 0px;font-weight: bold;color: #000;}

#case_study_disclaimer {width:650px;margin:10px 10px 10px 220px;float:left;}
#case_study_disclaimer p{font-family: Arial, Helvetica, sans-serif;font-size: 12px;line-height:16px;padding:0px;margin:12px 0px 12px 0px;font-weight: normal;color: #000;}
/* end case studies */

/** Staff list **/
.case_study_list_item {float: left;width: 220px; margin-left: 30px; text-align: left;}
.case_study_list_title {text-align: left;}
.ccm-layout-col-spacing { margin:0px 8px } 



.more_info_box {
    background-color: #E6E6E6;
    border-color: #999999 #CCCCCC #CCCCCC;
    border-style: solid;
    border-width: 6px 1px 1px;
    margin: 21px auto 20px;
    padding: 0 0 5px;
    width: 180px;
}
.more_info_box p {
    color: #333333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    padding: 0 8px 5px;
}
.more_info_box a {
    color: #333333;
    text-decoration: underline;
}
.more_info_box p.sub_panel_headr {
    color: #006666;
    font-weight: bold;
    margin: 0;
    padding: 5px 8px;
}
