/* =ad-rotator */
#ad-rotator 
{
  height: 220px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

  #ad-rotator ul 
  {
    float: right;
	width: 218px;
  }
	
    #ad-rotator li 
    {
       list-style-type: none;
       margin: 11px 0 0;
    }
		
      #ad-rotator li a 
      {
        display: block;
        height: 66px;
        position: relative;
        text-indent: -999px;
        width: 218px;
      }
			
  #ad-rotator a.active 
  {
    cursor: default;
  }
  
#rotator-arrow 
{
  background-position: -643px 0;
  height: 15px;
  position: absolute;
  right: 219px;
  top: 23px;
  width: 6px;
}

.rotator-content 
{
  background-position: 0 0;
  height: 220px;
  left: 0;
  position: absolute;
  text-indent: -999px;
  top: 0;
  width: 532px;
}

  .rotator-content a 
  {
    display: block;
    height: 100%;
    width: 100%;
  }
	
a.personal-rotator-1 { background-position: 100% 100%; }
a.personal-rotator-1:hover { background-position: 100% -77px; }
a.personal-rotator-1.active { background-position: 100% 0; }

a.personal-rotator-2 { background-position: 100% 100%; }
a.personal-rotator-2:hover { background-position: 100% -77px; }
a.personal-rotator-2.active { background-position: 100% 0; }

a.personal-rotator-3 { background-position: 100% 100%; }
a.personal-rotator-3:hover { background-position: 100% -77px; }
a.personal-rotator-3.active { background-position: 100% 0; }

.fdicbox {
  background: url('../images/bg/fdic-homebox-jpg.jpg')/*tpa=https://www.53.com/resources/images/bg/fdic-homebox-jpg.jpg*/ top right no-repeat;
  width: 267px;
  height: 57px;
}

.fdicbox p {
  margin: 0px;
  padding: 7px 0 0 85px;
}

/* =ad-rotator */
#ad-rotator 
{
  height: 220px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

  #ad-rotator ul 
  {
    float: right;
	width: 218px;
  }
	
    #ad-rotator li 
    {
       list-style-type: none;
       margin: 11px 0 0;
    }
		
      #ad-rotator li a 
      {
        display: block;
        height: 66px;
        position: relative;
        text-indent: -999px;
        width: 218px;
      }
			
  #ad-rotator a.active 
  {
    cursor: default;
  }
  
#rotator-arrow 
{
  background-position: -643px 0;
  height: 15px;
  position: absolute;
  right: 219px;
  top: 23px;
  width: 6px;
}

.rotator-content 
{
  background-position: 0 0;
  height: 220px;
  left: 0;
  position: absolute;
  text-indent: -999px;
  top: 0;
  width: 532px;
}

  .rotator-content a 
  {
    display: block;
    height: 100%;
    width: 100%;
  }
	
a.personal-rotator-1 { background-position: 100% 100%; }
a.personal-rotator-1:hover { background-position: 100% -77px; }
a.personal-rotator-1.active { background-position: 100% 0; }

a.personal-rotator-2 { background-position: 100% 100%; }
a.personal-rotator-2:hover { background-position: 100% -77px; }
a.personal-rotator-2.active { background-position: 100% 0; }

a.personal-rotator-3 { background-position: 100% 100%; }
a.personal-rotator-3:hover { background-position: 100% -77px; }
a.personal-rotator-3.active { background-position: 100% 0; }

/* =home-columns */
.home-2-column { width: 370px;margin-right: 10px; }
.home-3-column { width: 240px;margin-right: 15px; }
.home-3-column-r-l-mod { width: 233px; margin-right: 10px; }
.home-3-column-c-mod { width: 264px; margin-right: 10px; }
.home-4-column {width: 180px;margin-right: 10px; }

/* This mode goes with the home columns */
.get-started {
	float: left;
}
	.get-started h2 {
		background-color: #778CBF;
		-moz-border-radius: 4px;
	    border-radius: 4px;
		color: #FFF;
		padding: 5px 10px;
	}


/* =planing-center landing */

.planning-center h2 {
	font-size: 13px;
}

.planning-center .border-right {
	border-right: 1px dashed #D0D0D0;
	padding-right: 10px;
}


/* =p-section-menu-content */
.personal-home #menu-content-1 { background: url(../images/build/pe/personal-promo-making-home.jpg)/*tpa=https://www.53.com/resources/images/build/pe/personal-promo-making-home.jpg*/ no-repeat right top; }
.personal-home #menu-content-2 { background: url(../images/build/pe/personal-promo-better-tomorrow.jpg)/*tpa=https://www.53.com/resources/images/build/pe/personal-promo-better-tomorrow.jpg*/ no-repeat right top; }
.personal-home #menu-content-3 { background: url(../images/build/pe/personal-promo-acct-mgmt.jpg)/*tpa=https://www.53.com/resources/images/build/pe/personal-promo-acct-mgmt.jpg*/ no-repeat right top; }
.personal-home #menu-content-4 { background: url(../images/build/pe/personal-promo-easy-refi.jpg)/*tpa=https://www.53.com/resources/images/build/pe/personal-promo-easy-refi.jpg*/ no-repeat right top; }
.personal-home #menu-content-5 { background: url(../images/build/pe/personal-promo-western-union.jpg)/*tpa=https://www.53.com/resources/images/build/pe/personal-promo-western-union.jpg*/ no-repeat right top; }



/* =home-columns */
.home-2-column { width: 370px;margin-right: 10px; }
.home-3-column { width: 240px;margin-right: 15px; }
.home-3-column-r-l-mod { width: 233px; margin-right: 10px; }
.home-3-column-c-mod { width: 264px; margin-right: 10px; }
.home-4-column {width: 180px;margin-right: 10px; }

/* This mode goes with the home columns */
.get-started {
	float: left;
}
	.get-started h2 {
		background-color: #778CBF;
		-moz-border-radius: 4px;
	    border-radius: 4px;
		color: #FFF;
		padding: 5px 10px;
	}


/* =planing-center landing */

.planning-center h2 {
	font-size: 13px;
}

.planning-center .border-right {
	border-right: 1px dashed #D0D0D0;
	padding-right: 10px;
}
