/* Imported Styles */
@import url("Two-Column-A.css")/*tpa=http://www.kbr.com/StyleSheets/CSS/Screen/Two-Column-A.css*/;

h3 {
	color: #cc0000 !important;
}

/* Highlight Section */
#Highlights {
	height:260px;
	position: relative;
	padding-top:10px;
	width: 530px;
}
.Highlight p {
	margin-top:10px !important;
}
#Highlight-Switch {
	height: 11px;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 30px;
	width: 93px;
}
#Highlight-Switch li {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
}
#Highlight-Switch li, #Highlight-Switch a {
	height: 11px;
	width: 17px;
}
#Highlight-Switch li a {
	background: url(../../../Images/Design/Screen/Highlight-Switch.png)/*tpa=http://www.kbr.com/Images/Design/Screen/Highlight-Switch.png*/ no-repeat 0 0;
	height: 11px;
	overflow: hidden;
	position: absolute;
	text-decoration: none;
	text-indent: -9999px;
	top:0;
	width: 17px;
}
#Highlight-Switch li a#Highlight-01-Link {
	left: 38px;
}
#Highlight-Switch li a#Highlight-02-Link {
	background-position: -17px 0;
	left: 57px;
}
#Highlight-Switch li a#Highlight-03-Link {
	background-position: -34px 0;
	left: 76px;
}
#Highlight-Switch li a#Highlight-04-Link {
	background-position: -51px 0;
	left: 95px;
}
#Highlight-Switch li a:hover#Highlight-01-Link,
#Highlight-Switch li a.Selected#Highlight-01-Link {
	background-position: 0 -11px;
}
#Highlight-Switch li a:hover#Highlight-02-Link,
#Highlight-Switch li a.Selected#Highlight-02-Link {
	background-position: -17px -11px;
}
#Highlight-Switch li a:hover#Highlight-03-Link,
#Highlight-Switch li a.Selected#Highlight-03-Link {
	background-position: -34px -11px;
}
#Highlight-Switch li a:hover#Highlight-04-Link,
#Highlight-Switch li a.Selected#Highlight-04-Link {
	background-position: -51px -11px;
}
.Highlight h2 {
	background: url(../../../Images/Design/Screen/Highlights.jpg)/*tpa=http://www.kbr.com/Images/Design/Screen/Highlights.jpg*/ no-repeat 0 0;
}
.Highlight h2, .Highlight h2 a {
	height:187px;
	margin:0;
	padding:0;
	width:530px;
}
.Highlight h2 a {
	overflow:hidden;
	position:absolute;
	text-decoration:none;
	text-indent:-9999px
}
#Highlight-02 h2 {
	background-position: 0 -187px;
}
#Highlight-03 h2 {
	background-position: 0 -374px;
}
#Highlight-04 h2 {
	background-position: 0 -561px;
}
.Extra .CTA {
	background: url(../../../Images/Design/Screen/Advertisements-Home.jpg)/*tpa=http://www.kbr.com/Images/Design/Screen/Advertisements-Home.jpg*/ no-repeat 0 0;
}
#Top-Ad {
	/*background-position: 0 -728px;*/
	background-position: 0 -819px;
}
#Middle-Ad {
	/*background-position: 0 -547px;*/
	background-position: 0 -728px;;
}
#Events,
#Publications {
	background: url(../../../Images/Design/Screen/Sidebar-Grey.gif)/*tpa=http://www.kbr.com/Images/Design/Screen/Sidebar-Grey.gif*/ repeat-y bottom left;
}
a.rss {
	background:transparent url(../../../Images/Design/Screen/rss.jpg)/*tpa=http://www.kbr.com/Images/Design/Screen/rss.jpg*/;
	height:12px;
	width:12px;
	position:absolute;
	top:18px;
	left:55px;
	text-indent:-9999px
}
.thought-leadership {
	background: transparent url(../../../images/design/screen/thought-leadership-homepage-background.png)/*tpa=http://www.kbr.com/images/design/screen/thought-leadership-homepage-background.png*/ repeat-y top left;
	border-top: 1px solid #ccc;
	height: 112px;
	margin-left: 22px;
	padding-top:21px;
}
.thought-leadership div {
	direction: ltr;
	text-indent: -9999px;
}
#Billboard-Home .item {
	display:none;
	left:68px;
	position:absolute;
	top:115px;
}
#Billboard-Home .right {
	left:493px;
}
#Billboard-Home .item p {
	display:block;
	margin-bottom:8px;
	text-align: left;
}
#Billboard-Home .item p.links {
	color: #ecad00;
}
#Billboard-Home .item a:link,
#Billboard-Home .item a:visited {
	color: #ecad00;
	text-decoration:none;
}
#Billboard-Home .item a:hover {
	text-decoration:underline;
}
#Billboard-Home .showing {
	color: #fff;
	display: block;
	height: 146px;
	padding-right:10px;
	width: 397px;
}