@import url("Global.css")/*tpa=http://www.kbr.com/StyleSheets/CSS/Screen/Global.css*/;

#Main .Layer#ML04 {
background:url(../../../Images/Design/Screen/Inner-Shadow-Middle-A.gif)/*tpa=http://www.kbr.com/Images/Design/Screen/Inner-Shadow-Middle-A.gif*/ repeat-y;
width:859px
}

#Main .Layer#ML05 {
background:url(../../../Images/Design/Screen/Inner-Shadow-Top-A.gif)/*tpa=http://www.kbr.com/Images/Design/Screen/Inner-Shadow-Top-A.gif*/ no-repeat center top;
width:859px
}

#Main .Layer#ML06 {
background:url(../../../Images/Design/Screen/Inner-Shadow-Bottom-A.gif)/*tpa=http://www.kbr.com/Images/Design/Screen/Inner-Shadow-Bottom-A.gif*/ no-repeat center bottom;
width:859px
}

.Content#Feature {
width:530px
}

#Feature table {
width:510px
}

#Feature .Highlight {
background:#fff;
padding-top:11px;
margin:0
}

#Feature .Highlight .Art {
border:none;
float:left;
margin:0;
padding:0
}

#Feature .Highlight img {
border:1px solid #92999d;
margin:0;
padding:0
}

#Feature .Highlight p {
font-size:11px;
line-height:16px;
margin:0 0 11px 0;
padding:0
}

#Feature .Highlight ul {
font-size:11px;
line-height:16px;
margin:0 0 11px 0;
padding:0
}

#Feature .Headline p {
font-size:11px;
line-height:16px;
margin:0 0 11px 0;
padding:0
}

#Feature .Headline .Date {
font-size:11px;
line-height:16px;
margin:0;
padding:0
}

.Advertisment-Two-Column {
	background: transparent url(../../../images/design/screen/thought-leadership-homepage-background.png)/*tpa=http://www.kbr.com/images/design/screen/thought-leadership-homepage-background.png*/ repeat-y top left;
	border-top: 1px solid #ccc;
	height: 112px;
	margin-left: 22px;
	padding-top:21px;
}
.Advertisment-Two-Column div {
	direction: ltr;
	text-indent: -9999px;
}

#Feature .Advertisement#Australia-Ad { background: transparent url(../../../Images/Design/Screen/Advertisement-Australia-KBR-Fifty-Years.jpg)/*tpa=http://www.kbr.com/Images/Design/Screen/Advertisement-Australia-KBR-Fifty-Years.jpg*/ left top no-repeat; height: 228px; margin: 0; width: 530px; }
#Feature .Advertisement#Australia-Ad h2 { display: none; margin: 0; padding: 0; }

.Extra#Extra01 {
float:left;
width:242px;
padding:22px
}

.Extra img {
border:1px solid #92999d;
height:89px;
width:240px;
margin:0;
padding:0
}

.Extra h2 {
color:#d71921;
font-size:14px
}

.Extra h3 {
color:#000;
font-size:12px;
line-height:15px;
margin-bottom:3px
}

.Extra p {
font-size:11px;
line-height:16px;
padding-bottom:5px
}

.Extra ul {
font-size:11px;
line-height:16px;
list-style:none;
padding-bottom:5px
}

.Extra li {
margin:0;
padding:0
}

.Extra#Extra02 {
float:right;
width:242px;
padding:22px
}

.Extra .Advertisement, .Extra .CTA {
background:#fff;
height:91px;
width:242px;
margin:0 0 13px
}

.Extra .Advertisement h2,.Extra .Advertisement a, .Extra .CTA h2,.Extra .CTA a {
height:91px;
width:242px;
margin:0;
padding:0
}

.Extra .Advertisement h2 a, .Extra .CTA h2 a {
overflow:hidden;
position:absolute;
text-decoration:none;
text-indent:-9999px
}

.Column#Secondary {
width:285px
}

#Secondary .Advertisement#Advertisement-Events {
background:url(../../../Images/Design/Screen/Events-Advertisement.jpg)/*tpa=http://www.kbr.com/Images/Design/Screen/Events-Advertisement.jpg*/ no-repeat
}

#Secondary .Advertisement#Advertisement-TSR {
background:url(../../../Images/Design/Screen/TSR-Careers-Page.jpg)/*tpa=http://www.kbr.com/Images/Design/Screen/TSR-Careers-Page.jpg*/ no-repeat
}

#Secondary .Advertisement#Advertisement-CareerFair {
background:url(../../../Images/Design/Screen/Advertisement-Careers-CareerFair.jpg)/*tpa=http://www.kbr.com/Images/Design/Screen/Advertisement-Careers-CareerFair.jpg*/ no-repeat
}

#Secondary .Advertisement#Advertisement-China {
background:url(../../../Images/Design/Screen/Advertisement-China-Careers.jpg)/*tpa=http://www.kbr.com/Images/Design/Screen/Advertisement-China-Careers.jpg*/ no-repeat
}

#Secondary .Advertisement#Advertisement-India {
background:url(../../../Images/Design/Screen/Advertisement-India-Careers.jpg)/*tpa=http://www.kbr.com/Images/Design/Screen/Advertisement-India-Careers.jpg*/ no-repeat
}

#Secondary .Advertisement#Advertisement-UK-Website {
background:url(../../../Images/Design/Screen/UK.jpg)/*tpa=http://www.kbr.com/Images/Design/Screen/UK.jpg*/ no-repeat;
margin-bottom: 5px;
}

#Secondary .Advertisement#Advertisement-UK {
background:url(../../../Images/Design/Screen/Advertisement-UK-Careers.jpg)/*tpa=http://www.kbr.com/Images/Design/Screen/Advertisement-UK-Careers.jpg*/ no-repeat
}

#Secondary .Advertisement#Advertisement-Technology-Conference-India-2011 {
background:url(../../../Images/Design/Screen/Advertisement-Technology-Conference-India-2011.jpg)/*tpa=http://www.kbr.com/Images/Design/Screen/Advertisement-Technology-Conference-India-2011.jpg*/ no-repeat
}

#Secondary .Advertisement#Advertisement-Singapore {
background:url(../../../Images/Design/Screen/Advertisement-Singapore-Careers.jpg)/*tpa=http://www.kbr.com/Images/Design/Screen/Advertisement-Singapore-Careers.jpg*/ no-repeat
}

#Secondary .Advertisement#Advertisement-Australia {
background:url(../../../Images/Design/Screen/Advertisement-Australia-Careers.jpg)/*tpa=http://www.kbr.com/Images/Design/Screen/Advertisement-Australia-Careers.jpg*/ no-repeat
}

#Secondary .Advertisement#Advertisement-Indonesia {
background:url(../../../Images/Design/Screen/Advertisement-Indonesia-Careers.jpg)/*tpa=http://www.kbr.com/Images/Design/Screen/Advertisement-Indonesia-Careers.jpg*/ no-repeat
}

#Secondary .Advertisement#Advertisement-COBC {
background:url(../../../Images/Design/Screen/COBC-Advertisement.jpg)/*tpa=http://www.kbr.com/Images/Design/Screen/COBC-Advertisement.jpg*/ no-repeat
}

#Secondary .Advertisement#Advertisement-Mandarin {
background:url(../../../Images/Design/Screen/Advertisement-Mandarin.jpg)/*tpa=http://www.kbr.com/Images/Design/Screen/Advertisement-Mandarin.jpg*/ no-repeat
}

.Related h2 {
width:226px
}

.Related ul {
width:238px
}

.Related .Contact  { float:left;margin: 0; padding: 0 0 0 5px; }
.Related .Contact h3 { color: #000000; font-size: 12px; margin: 0; padding: 5px 13px 1px 13px; }

.Related .Contact {
width:264px
}

.Column#Primary,.Content#Extra,#Extra .Layer#CEL01,#Extra .Layer#CEL02,#Extra .Layer#CEL03 {
width:574px
}

#Feature .Highlight h2,#Feature .Headline h2,#Feature .Headline p,.Extra h2,.Extra p {
margin-bottom:0
}

#Feature .Highlight h2,#Feature .Headline h2 {
border:none;
color:#d71921;
font-size:16px;
padding-bottom:0
}

#Feature .Highlight h2 a,#Feature .Headline h2 a,.Extra a {
color:#d71921
}

#Feature .Highlight h2 a:hover,#Feature .Headline h2 a:hover,.Extra a:hover {
color:#666
}

.Navigation#Secondary-Navigation,.Navigation#Secondary-Navigation h2.Linked,.Navigation#Secondary-Navigation ul,#Secondary .Advertisement,#Secondary .Advertisement h2,#Secondary .Advertisement a,.Related {
width:269px
}

.Navigation#Secondary-Navigation h2,.Navigation#Secondary-Navigation h2.Linked a,.Navigation#Secondary-Navigation h2 span {
width:249px
}

.Navigation#Secondary-Navigation li a,.Navigation#Secondary-Navigation li span {
width:233px
}

.Navigation#Secondary-Navigation li li a,.Navigation#Secondary-Navigation li li span {
width:223px
}

.Related .Headline h3,.Related .Headline p,.Related li,.Related li h3 {
width:229px
}