/*------------------------BEGIN styles for area above minicart in the header-------------------*/
a.minicart_header_link { color: #000; font-size: 11px; font-weight: bold; }
.minicart_header_link { color: #000; font-size: 11px; font-weight: bold; }
#minicart_header_cart_icon { padding: 0 6px 0 0 }
#minicart_header_email_icon { padding: 0 8px 0 0 }

#minicart-wrapper {
	position: absolute;
	top: 30px;
	right: 0px;
	z-index: 1000;
	display: block;
}
#minicart {
	color: #5d5d5d;
	font-family: Arial, sans-serif !important;
	font-size: 11px;
	width: 220px;
	-webkit-box-shadow: 1px 10px 5px rgba(50, 50, 50, 0.3);
	-moz-box-shadow: 1px 10px 5px rgba(50, 50, 50, 0.3);
	box-shadow: 1px 10px 5px rgba(50, 50, 50, 0.3);
}
#minicart-inner {
	background: #fff;
	padding: 12px 15px 7px 15px;
}
#minicart-header { 
	font-size: 12px;
	margin-bottom: 14px;
	font-weight: bold;
}
.minicart-prod {}
.minicart-prod-img {
	margin-bottom: 12px;
}
.minicart-prod-img img {
	border: 1px solid #e9e9e9;
}
.minicart-prod-details {
	padding-bottom: 14px;
	border-bottom: 1px solid #ccc;
}
.minicart-prod-title {
	font-weight: bold;
	margin-bottom: 9px;
}
.minicart-prod-title a {
	color: #666;
}
.minicart-prod-price,
.minicart-prod-description {
	text-transform: none;
}
#minicart-summary {
	padding: 14px 0;
	overflow: auto;
}
#minicart-item-total { float: left; text-align: left; font-weight: bold; }
#minicart-subtotal-price { text-align: right; float: right; font-weight: bold; }
#minicart-item-total span, #minicart-subtotal-price span { font-weight: normal }

#minicart-checkout {
	margin-bottom: 14px;
	text-align: center;
}
#minicart-checkout a {
	text-align: center; 
    background: none repeat scroll 0 0 #000000;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 11px;
    height: 24px;
    line-height: 24px;
    margin: 0 auto;
    padding: 0 12px;
    text-decoration: none;
}

#minicart-close {
	text-align: center;
}
#minicart-close a {
	background: url(../images/spindown-open-up.gif)/*tpa=http://www.ralphlauren.com/images/spindown-open-up.gif*/ no-repeat scroll 0 50% transparent;
    color: #7e7e7e;
    font-size: 10px;
    margin-top: 0;
    padding-left: 13px;
}

#minicart11_CYO_message { text-align: left; font-size: 9px; font-family: verdana; width: 158px; }
#minicart11_CYOMsg_poloBikiniOutfit { padding: 0; text-align: right; font-size: 9px; font-family: verdana; }
#minicart11_CYOMsg_poloBikiniOutfit2 { padding: 0; text-align: right; font-size: 9px; font-family: verdana; }

#minicart11_topLine { margin: 0; padding: 0; line-height: 0; font-size: 0; }

#minicart11_backtoshop_row { display: none; border: 1px solid green; }

.minicart11_go { font-size: 10px; font-family: verdana; color: #000033; }
.minicart11_proceed { float: left; padding: 7px 0 0 0; margin: 0; }
.minicart11_orderItem_details { font-size: 10px; font-weight: normal; text-align: left; padding-right: 10px; }
.minicart11_price { text-align: left }

.clear { clear: both }

/* END styles for minicart11; (each class & id should start with minicart11) */
.minicart_header_link_blue, .minicart_cart_count_blue { color: #012258 }
.minicart_header_link_red, .minicart_cart_count_red { color: #FB0200 }
.hideBeddingVisible { display: none }

/* Hack to hide extra minicart items for Summer refresh */
.displayNone,
.cyo-2,.cyo-3,.cyo-4,.cyo-5,.cyo-6,.cyo-7,.cyo-8,.cyo-9,.cyo-10,.cyo-11,.cyo-12,.cyo-13,.cyo-14,.cyo-15,.cyo-16,
.cyo-17,.cyo-18,.cyo-19,.cyo-20,.cyo-21,.cyo-22,.cyo-23,.cyo-24,.cyo-25,.cyo-26,.cyo-27,.cyo-28,.cyo-29,.cyo-30 {
	display: none !important
}