
.ie8 .index-panther {
    bottom:0px;
    right:12px;
}
.ie8 .topbar .container {
    margin-top: -13px;
}
.ie8 .topbar .container .navigation {
    padding-top:0px;
}
.ie8 .topbar .container .navigation .l-inline {
    margin-top:0px;
}
/*.ie8 .mega-menu,.ie8 .mega-menu:hover {
    left:6px;
}*/
.ie8 .has-menu:hover .mega-menu {
    left:4px;
}
.ie8 .mega-menu-inner {
    /*padding-left: 115px;*/
    background: #51453e url('../../../www2.owenscorning.com/img/bg/texture_0003_texture-brown-footer-drop-mobile.png')/*tpa=http://www.owenscorning.com/img/bg/texture_0003_texture-brown-footer-drop-mobile.png*/ top left repeat;
    /*min-height:270px;*/
    /*z-index:1000;*/
}
/*.ie8 .mega-menu-sub-inner {
    width:99%;
}*/
/*.ie8 .masthead .fit {
    clear:both;
}*/
.ie8 .fit {
    margin-top:-55px;
}
.ie8 .mega-menu-inset,.ie8 li.mega-menu-inset:hover {
    background:none;
    border-width: 1.3px;
    border-color: rgb(25,17,43);
    background-color: #60564F;
}
.ie8 .tile {
    padding-bottom:0;
}
.ie8 .h1-text {
    top:-30px;
}