@charset "utf-8";
/* CSS Document */
/*SKIN CSS BODY DECLARATION*/

/*ELEMENTS*/
html{color:#000;background:#D1D2D4;}
body {margin:14px 0;}
span,div,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,tr,td{margin:0;padding:0;}
table{font-family:Arial, Helvetica, sans-serif;font-size:11px;margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
p {margin:0 0 7px 0;}

/*LINK styles*/
a img {border:none;}
a:link {color:#777;text-decoration:underline;}
a:visited {color:#777;text-decoration:underline;}
a:hover {color:#777;text-decoration:none;}
a:active {color:#777;text-decoration:underline;}

/*LOGOUT LINK*/

.llink a{font-family:Arial,Helvetica,sans-serif;font-size:11px;font-weight:normal;color:#777;text-decoration:underline;position:relative;margin:-30px 0 0 0;float:right;overflow:hidden;clear:both;}
.llink a:link{color:#777;text-decoration:underline;}
.llink a:visited {color:#777;text-decoration:underline;}
.llink a:hover {color:#777;text-decoration:none;}
.llink a:active {color:#777;text-decoration:underline;}


/*IDS*/

/*ERRORS FOR FORMS*/
#rsvErrors {display: none;color: red;background-color: #fff;border: 1px solid red;padding: 8px;width:100%;}


/*CLASSES*/

/* LANGUAGESWITCH */
.langSwitch{position:relative;margin:-30px 0 0 0;color:#fff;left:0;float:left;overflow:hidden;clear:both;}

/* HEADER LEFT REGION */
.companylogo {border:none; margin:10px 0 0 0;}

/* HEADER RIGHT LOCATIONS REGION */
.locations {margin: 6px 0 0 8px;}
.locations a {display:block;text-decoration:none;}
.locations a:link, .locations a:visited {text-decoration:none;}
.locations a:hover, .locations a:active {text-decoration:underline;}

/* HEADER RIGHT REGION */
/*module:secondnav*/
.secondnav {margin:12px 0 0 0;}
.secondnav a {padding:0 5px 0 0;}
.secondnav a:link, .secondnav a:visited {text-decoration:none;}
.secondnav a:hover,.secondnav a:active {text-decoration:underline;}
.secondnav .seperator {display:none;}
/*module:printpage*/
.printpage {margin:12px 0 0 22px;background:#fff;}}
.printpage img {vertical-align:top;}
.printpage a:link, .printpage a:visited {text-decoration:none;}
.printpage a:hover, .printpage a:active {text-decoration:underline;}
/*module:email2friend*/
.email2friend {margin:10px 20px 0 0 ;background:#fff;}
.email2friend img {vertical-align:middle;}
.email2friend a:link, .email2friend a:visited {text-decoration:none;}
.email2friend a:hover, .email2friend a:active {text-decoration:underline;}

/* HEADER SEARCH REGION */
.searchBox {float:right;width:100%;height:20px;margin:0 0 0 5px;background:#fff;}
.searchBox tr td {padding:0;}
.searchBox tr td.fixedfield{width:250px;}
.searchBox .searchText {font-size:10px;}
.searchBox .searchField {position:relative;margin:0;padding:0;width:140px;height:17px;font-family:Arial, Helvetica, sans-serif;font-size:11px;border-top:1px solid #7c7c7c;border-right:1px solid #c3c3c3;border-bottom:1px solid #ddd;
border-left:1px solid #c3c3c3;}
.searchBox .searchButton {position:relative;top:2px;left:0;}
.searchBox .advsearchButton {position:relative;top:4px;}
.searchBox .checkboxSite {position:relative;float:left;padding:0;margin:0;width:160px;font-size:10px;line-height:normal;}  
.searchBox .checkboxTDS {position:relative;float:left;padding:0;margin:-40px 0 0 0;width:160px;font-size:10px;line-height:normal;}  

/*CASESTUDY REGION */
.cor-mu-case {display:block;position:relative;float:left;width:220px;height:220px;margin:10px 0 0 0;padding:0;}
.cor-mu-case li {display:block;position:relative;width:220px;height:68px;margin:0 0 5px 0;padding:3px;font-size:11px;line-height:normal;color:#8A8C8E;border:1px solid #C7C8CA;/**/-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px;/**/behavior: url(../../PIE.htc)/*tpa=http://www.huntsman.com/Internet/PIE.htc*/;/**/background: #D4D8E4;overflow:hidden;}
.cor-mu-case li:hover, .cor-mu-case li.except {border-color:#939598;}
.cor-mu-case a {display:block;color:#8A8C8E!important;text-decoration:none;cursor:pointer;}
.cor-mu-case a:hover, .cor-mu-case a.active {color:#4C4D4F!important;}
.cor-mu-case img {display:block;position:relative;float:left;width:90px;height:60px;/**/-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;}
.txt-tweak {float:right;width:115px;margin:8px 0 0 0;}
.se-arrow {display:inline-block;margin:0;padding:0 0 0 10px;width:5px;height:8px;vertical-align:middle;background:url(../../Site_Images/icon-arrow.gif)/*tpa=http://www.huntsman.com/Internet/Site_Images/icon-arrow.gif*/ no-repeat center right;}

/*SUSTAINABILITY CASESTUDY REGION */

/*container:case-studies*/
.cr-case-studies {display:block;margin:10px 0 0 0;position:relative;width:220px;height:220px;background:#D4D8E4;}
/*include:menu:case studies*/
.cor-mu-case-001 {padding:0;margin:10px 0 0 0;}
/*items*/
.cor-mu-case-001 li {display:block;position:relative;float:none;width:220px;height:65px;margin:0 0 3px 0;padding:3px 3px 3px 3px;font-size:10px;line-height:normal;color:#8A8C8E;border:1px solid #C7C8CA;-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px;behavior:url(../../PIE.htc)/*tpa=http://www.huntsman.com/Internet/PIE.htc*/;background:#D4D8E4;overflow:hidden;clear:both;}
/*exception*/
.cor-mu-case-001 li:hover, .cor-mu-case-001 .except {border-color:#939598;}
/*link styles*/
.cor-mu-case-001 a {display:block;color:#77787B;text-decoration:none;cursor:pointer;}
.cor-mu-case-001 a:hover, .cor-mu-case-001 a.active {color:#4C4D4F!important;}
.cor-mu-case-001 img {display:block;position:relative;float:left;width:90px;height:55px;background:#CFD0D2;}
.cor-mu-case-001 strong {display:block;}
/*tweak text position*/
.txt-tweak-001 {float:right;width:115px;margin:6px 0 0 0;}
/*styled span element - blue arrow*/
.se-arrow-001 {display:inline-block;width:5px;height:8px;margin:0;padding:0 0 0 4px;vertical-align:middle;background:url(../../Site_Images/icon-arrow.gif)/*tpa=http://www.huntsman.com/Internet/Site_Images/icon-arrow.gif*/ no-repeat center right;}
/*plugin:box-slider*/
/*button:next*/
.bx-next {position:absolute;top:210px;left:0;width:220px;height:10px;text-indent:-999999px;background:#CFD0D2 url(../../Site_Images/icon-arrow-003_2.gif)/*tpa=http://www.huntsman.com/Internet/Site_Images/icon-arrow-003_2.gif*/ no-repeat center bottom;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;behavior:url(../../PIE.htc)/*tpa=http://www.huntsman.com/Internet/PIE.htc*/;overflow:hidden;z-index:999;zoom:0;}
.bx-next:hover {background:#bbb url(../../Site_Images/icon-arrow-003_2.gif)/*tpa=http://www.huntsman.com/Internet/Site_Images/icon-arrow-003_2.gif*/ no-repeat center bottom;}
/*button:previous*/
.bx-prev {position:absolute;top:0;left:0;width:220px;height:10px;text-indent:-999999px;background:#CFD0D2 url(../../Site_Images/icon-arrow-003.gif)/*tpa=http://www.huntsman.com/Internet/Site_Images/icon-arrow-003.gif*/ no-repeat center top;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;behavior:url(../../PIE.htc)/*tpa=http://www.huntsman.com/Internet/PIE.htc*/;overflow:hidden;z-index:999;zoom:0;}
.bx-prev:hover {background:#bbb url(../../Site_Images/icon-arrow-003.gif)/*tpa=http://www.huntsman.com/Internet/Site_Images/icon-arrow-003.gif*/ no-repeat center top;}

/*EXTRA NAVIGATION MENU ON HOME PAGE*/
.LeftCol {float:left;position:relative;margin:0;padding:0;width:110px;overflow:visible;clear:none;}
.LeftCol a, .LeftCol a:link, a:visited {text-decoration:none;}
.LeftCol a:hover, .LeftCol a:active {text-decoration:underline;}
.LeftCol img {border:none;}
.LeftCol h4 {margin:0 0 4px 0;padding:0;font-size:14px;letter-spacing:-0.5px;*font-weight:normal;letter-spacing:-0.05em;color:#797777;clear:both;}
.LeftCol p {margin:0;padding:0;font-size:12px;color:#797777;clear:both;}
/*module:navtree*/
.extranavtree {display:block;float:left;height:305px;margin:0 0 4px 0;padding:5px;font-size:12px;line-height:normal;font-weight:normal;clear:both;}
.extranavtree ul {display:block;margin:8px 0 7px 0;padding:0;list-style-type:none;}
.extranavtree li {display:block;margin:0 0 4px 0;padding:0;font-weight:700;font-size:12px}
.extranavtree li a:link, .extranavtree li a:visited {color:#6D6E71;text-decoration:none;}
.extranavtree li a:hover, .extranavtree li a:active {color:#6D6E71;text-decoration:underline;}


/*LEFT NAVIGATION FOR PORTLETS*/
.NavSusTree {position:absolute;top:400px;margin:0 0 0 20px;padding:0;}/*SUSTAINABILITY CONTENT TEMPLATE */
.NavCT2Tree {position:absolute;top:200px;margin:0 0 0 20px;padding:0;}/*INTERNET CONTENT TEMPLATE 2*/
.NavTree1{position:absolute;margin:0 0 0 16px;padding:0;color:#6D6E71;font-size:11px;}/*Internet_FB_1C*/
.NavTree2{position:absolute;top:180px;width;170px;margin:0 0 0 20px;padding:0;color:#6D6E71;font-size:11px;}/*Internet_REACH*/
.NavTree4{position:relative;top:30px;margin:0 0 0 16px;padding:0;color:#6D6E71;font-size:11px;}/*Internet_CAREERS*/

/*CAREERS NAVIGATION*/
.txt-careers {position:absolute;top:424px;float:left;margin:0 0 2px 15px;width:133px;padding:0;font-size:11px;font-weight:300;color:#67A8D4;}
.NavTree {float:left;margin:0 0 2px 8px;width:90px;padding:0;clear:both;color:#6D6E71;font-size:11px;clear:both;}
.NavTree h4 {margin:0 0 4px 0;padding:0;font-size:14px;letter-spacing:-0.5px;*letter-spacing:-0.05em;color:#797777;clear:both;}
.NavTree a:link {color:#6D6E71;text-decoration:none;}
.NavTree a:visited {color:#6D6E71;text-decoration:none;}
.NavTree a:hover {color:#6D6E71;text-decoration:underline;}
.NavTree a:active {color:#6D6E71;text-decoration:none;}
.NavTree ul {margin:0 ;padding:0;list-style-type:none;line-height:20px;color:#6D6E71;}
.NavTree p {margin:0;padding:0;color:#6D6E71;}
.NavTree p a:link {color:#6D6E71;text-decoration:underline;}
.NavTree p a:visited {color:#6D6E71;text-decoration:underline;}
.NavTree p a:hover {color:#6D6E71;text-decoration:none;}
.NavTree p a:active {color:#6D6E71;text-decoration:underline;}
.NavTree li.active, .NavTree li.active a {color:#6D6E71;text-decoration:underline!important;}
/*Depth1*/
.NavTree ul.depth1 {margin:0;padding:0;}
.NavTree ul.depth1 li a {display:block;margin:0;padding:5px 0;width:133px;font-weight:bold;color:#6D6E71;text-decoration:none;background:#fff;line-height:normal;}
.NavTree ul.depth1 li.active {display:block;margin:0;padding:5px 0;width:133px;font-weight:bold;color:#5B5957;text-decoration:none;background:#fff;line-height:normal;}
.NavTree ul.depth1 li a:hover {color:#6D6E71;text-decoration:underline;line-height:normal;}
.NavTree ul.depth1 li:active {color:#6D6E71;font-weight:normal;line-height:normal;}

/*SKIN CSS PORTLET DECLARATION*/

.portletcolor1{background:#D4D8E4;padding:10px;}/*BANNER CONTENT TEMPLATE */
.portletcolor2{background:#D4D8E4;width:100%;padding:0;margin:0 8px 0 0;}/*BREADCRUMBS */
.portletcolor2a{position:relative;padding:0 0 0 180px;}/*BREADCRUMBS CONTENT TEMPLATE */
.portletcolor2b{position:relative;padding:0 0 0 18px;}/*BREADCRUMBS SUSTAINABILITY CONTENT TEMPLATE*/
.portletcolor3{background:#D4D8E4;height:35px;margin:0 8px 0 0;}/*FILL SKIN EMAILTOFRIEND TEMPLATE*/
/*portletcolor4{background:#D4D8E4;margin:0 8px 0 0;padding:2px 9px 13px 0;} SKIN CSS ITEM STOCKTICKER*/
.portletcolor4{background:#D4D8E4;height:332px;margin:0 8px 0 0;padding:2px 9px 13px 0;}/*SKIN CSS ITEM STOCKTICKER*/
.portletcolor5{background:#D4D8E4;padding:0;height:240px;width:230px;overflow:hidden;}/*CASESTUDY REGION HOME AND CONTENT TEMPLATE*/
.portletcolor5a{background:#D4D8E4;margin:0 8px 0 0;padding:0;height:220px;width:220px;overflow:hidden;}/*PORTLET CONTENT TEMPLATE*/
.portletcolor6{background:#D4D8E4;padding:10px;}/*BANNER HOME TEMPLATE*/
.portletcolor7{background:#D4D8E4;padding: 0 0 10px 0;margin:0 8px 0 0;}/*CASESTUDY REGION HOME TEMPLATE*/
.portletcolor8{background:#D4D8E4;height:1px;margin:0 8px 0 0;padding:0}/*SKIN CSS EDIT BUTTON*/
.portletcolor9{background:#D4D8E4;padding:3px 10px 10px 10px;}/*NEWS CORPORATE HOME TEMPLATE //*/
.portletcolor10{background:#D4D8E4;padding: 10px;}/*BANNER SUSTAINABILITY HOME TEMPLATE /*/
.portletcolor11{background:#D4D8E4;margin:0 8px 0 0;padding:0;height:240px;width:220px;overflow:hidden;}/*CASESTUDY REGION FOR SUSTAINABILITY HOME TEMPLATE*/
.portletcolor12{background:#D4D8E4;padding:10px 10px 0 10px; margin:0 8px 0 0;}/*CASESTUDY REGION FOR HOME TEMPLATE */
.portletcolor13{background:#D4D8E4;margin:0 8px 0 0;width:240px;padding:5px 5px 5px 10px;}/*NEWS SUSTAINABILITY HOME TEMPLATE*/
.portletcolor14{background:#D4D8E4;margin:0 8px 0 0;width:240px;padding:5px 0 17px 5px;}/*SKIN CSS RIGHT COLUMN SUSTAINABILITY HOME TEMPLATE*/
.portletcolor15{background:#D4D8E4;margin:0 8px 0 0;width:240px;padding:0;}
.portletcolor16{margin:0;padding:0 0 14px 15px;width:292px;background:#D4D8E4;}/*REACH HOME TEMPLATE */
.portletcolor17{margin:0;padding:0 4px 14px 0;width:292px;background:#D4D8E4;}/*UPCOMING EVENTS HOME TEMPLATE */
.portletcolor18{background:#D4D8E4;width:100%;margin:0 8px 0 0;padding:10px 10px 0 10px;}/*BANNER NEWS TEMPLATE */
.portletcolor19{margin:0;padding:0 0 4px 8px;width:144px;background:#D4D8E4;}/*HOME TEMPLATE LEFT NAV TREE*/
.portletcolor20{background:#D4D8E4;padding:0;height:240px;width:230px;overflow:hidden;}/*CASESTUDY REGION INNOVATION TEMPLATE*/

/*ITEM CONTENT REGION FILL*/
.tablefill{width:100%;height:250px;}

/*ITEM CONTENT REGION */
.portletbgtop{background-image: url(../../Site_Images/bg/bgtop.gif)/*tpa=http://www.huntsman.com/Internet/Site_Images/bg/bgtop.gif*/;background-repeat:no-repeat;background-position:0px 0px;margin:0;}
.portletbgtop2{background-image: url(../../Site_Images/bg/bgtop2.gif)/*tpa=http://www.huntsman.com/Internet/Site_Images/bg/bgtop2.gif*/;background-repeat:no-repeat;background-position:0px 0px;margin:0;}
.portletbgbottom{background-image: url(../../Site_Images/bg/bgbottom.gif)/*tpa=http://www.huntsman.com/Internet/Site_Images/bg/bgbottom.gif*/;background-repeat:no-repeat;background-position:0px 0px;margin:0;}
.portletbgbottom2{background-image: url(../../Site_Images/bg/bgbottom2.gif)/*tpa=http://www.huntsman.com/Internet/Site_Images/bg/bgbottom2.gif*/;background-repeat:no-repeat;background-position:0px 0px;margin:0;}
.portletbgmiddle{position:relative;height:100%;background-image: url(../../Site_Images/bg/bgmiddle.gif)/*tpa=http://www.huntsman.com/Internet/Site_Images/bg/bgmiddle.gif*/;background-repeat:repeat-y;background-position:0px 0px;padding:10px 25px 0 185px;}
.portletbgmiddle2{position:relative;background-image: url(../../Site_Images/bg/bgmiddle2.gif)/*tpa=http://www.huntsman.com/Internet/Site_Images/bg/bgmiddle2.gif*/;background-repeat:repeat-y;background-position:0 0;padding:10px 25px 0 185px;}
.portletbgbottomfooter{background-image: url(../../Site_Images/bg/bgbottomfoot.gif)/*tpa=http://www.huntsman.com/Internet/Site_Images/bg/bgbottomfoot.gif*/;background-repeat:no-repeat;background-position:0px 0px;margin:0;}
/*LEFT NAV AND ITEM CONTENT REGION FOR SUSTAINABILITY TEMPLATE*/
.portletbgsusuppertop{background-image: url(../../Site_Images/bg/bgsusuppertop.gif)/*tpa=http://www.huntsman.com/Internet/Site_Images/bg/bgsusuppertop.gif*/;background-repeat:repeat=x;background-position:0px 0px;margin:0;}
.portletbgsusupperbottom{background-image: url(../../Site_Images/bg/bgsusupperbottom.gif)/*tpa=http://www.huntsman.com/Internet/Site_Images/bg/bgsusupperbottom.gif*/;background-repeat:repeat=x;background-position:0px 0px;margin:0;}
.portletbgleft{background-image: url(../../Site_Images/bg/bgleft.gif)/*tpa=http://www.huntsman.com/Internet/Site_Images/bg/bgleft.gif*/;height:234px;background-repeat:repeat-y;background-position:0px 0px;margin:0;}
.portletbgleft1{background-image: url(../../Site_Images/bg/bgleft1.gif)/*tpa=http://www.huntsman.com/Internet/Site_Images/bg/bgleft1.gif*/;height:226px;background-repeat:repeat-y;background-position:0px 0px;margin:0;}
.portletbglefthome{background-image: url(../../Site_Images/bg/bgleft.gif)/*tpa=http://www.huntsman.com/Internet/Site_Images/bg/bgleft.gif*/;height:226px;background-position:0px 0px;margin:0;}
.portletbgsustop{background-image: url(../../Site_Images/bg/bgsustop1.gif)/*tpa=http://www.huntsman.com/Internet/Site_Images/bg/bgsustop1.gif*/;background-repeat:no-repeat;background-position:0px 0px;margin:0;}
.portletbgsushometop{background-image: url(../../Site_Images/bg/bgsushometop3.gif)/*tpa=http://www.huntsman.com/Internet/Site_Images/bg/bgsushometop3.gif*/;width:720px;background-repeat:no-repeat;background-position:0px 0px;margin:0;}
.portletbgsustmiddle{position:relative;height:100%;background-image: url(../../Site_Images/bg/bgsustmiddle3.gif)/*tpa=http://www.huntsman.com/Internet/Site_Images/bg/bgsustmiddle3.gif*/;background-repeat:repeat-y;background-position:0px 0px;padding:0 0 0 170px;}
.portletbgsushomebottom{background-image: url(../../Site_Images/bg/bgsushomebottom3.gif)/*tpa=http://www.huntsman.com/Internet/Site_Images/bg/bgsushomebottom3.gif*/;width:720px;background-repeat:no-repeat;background-position:0px 0px;margin:0;}

/* ITEM CONTENT REGION RECTIFICATION */
/* HC_RIGHTPANE_ITEM1 */
.right1{height:100%;background-image: url(../../Site_Images/bg/bgrightfirefox.gif)/*tpa=http://www.huntsman.com/Internet/Site_Images/bg/bgrightfirefox.gif*/;background-repeat:repeat-y;background-position:90% 0px;}
/* HC_RIGHTPANE_ITEM2 */
.right2{height:100%;background-image: url(../../Site_Images/bg/bgrightfirefox.gif)/*tpa=http://www.huntsman.com/Internet/Site_Images/bg/bgrightfirefox.gif*/;background-repeat:repeat-y;background-position:5px 0px;overflow:auto;}
/* HC_RIGHTPANE_ITEM3 */
.right3{height:100%;background-image: url(../../Site_Images/bg/bgrightfirefox.gif)/*tpa=http://www.huntsman.com/Internet/Site_Images/bg/bgrightfirefox.gif*/;background-repeat:repeat-y;background-position:2px 0px;}
/* HC_RIGHTPANE_ITEM4 */
.right4{height:100%;background-image: url(../../Site_Images/bg/bgrightfirefox.gif)/*tpa=http://www.huntsman.com/Internet/Site_Images/bg/bgrightfirefox.gif*/;background-repeat:repeat-y;background-position:9px 0px;}
/* HC_RIGHTPANE_ITEM5 */
.right5{height:100%;background-image: url(../../Site_Images/bg/bgrightfirefox.gif)/*tpa=http://www.huntsman.com/Internet/Site_Images/bg/bgrightfirefox.gif*/;background-repeat:repeat-y;background-position:-1px 0px;}
/* HC_RIGHTPANE_ITEM6 */
.right6{height:100%;background-image: url(../../Site_Images/bg/bgrightfirefox.gif)/*tpa=http://www.huntsman.com/Internet/Site_Images/bg/bgrightfirefox.gif*/;background-repeat:repeat-y;background-position:8px 0px;}
/* HC_RIGHTPANE_ITEM7 */
.right7{height:100%;background-image: url(../../Site_Images/bg/bgrightfirefox.gif)/*tpa=http://www.huntsman.com/Internet/Site_Images/bg/bgrightfirefox.gif*/;background-repeat:repeat-y;background-position:14px 0px;}
/* HC_RIGHTPANE_ITEM8 */
.right8{height:100%;background-image: url(../../Site_Images/bg/bgrightfirefox.gif)/*tpa=http://www.huntsman.com/Internet/Site_Images/bg/bgrightfirefox.gif*/;background-repeat:repeat-y;background-position:18px 0px;}
/* HC_RIGHTPANE_ITEM9 */
.right9{height:100%;background-image: url(../../Site_Images/bg/bgrightfirefox.gif)/*tpa=http://www.huntsman.com/Internet/Site_Images/bg/bgrightfirefox.gif*/;background-repeat:repeat-y;background-position:29px 0px;}
/* HC_RIGHTPANE_ITEM10 */
.right10{height:100%;background-image: url(../../Site_Images/bg/bgrightfirefox.gif)/*tpa=http://www.huntsman.com/Internet/Site_Images/bg/bgrightfirefox.gif*/;background-repeat:repeat-y;background-position:31px 0px;}
/* HC_RIGHTPANE_ITEM11 */
.right11{height:100%;background-image: url(../../Site_Images/bg/bgrightfirefox.gif)/*tpa=http://www.huntsman.com/Internet/Site_Images/bg/bgrightfirefox.gif*/;background-repeat:repeat-y;background-position:7px 0px;}
/* HC_RIGHTPANE_ITEM12 */
.right12{height:100%;background-image: url(../../Site_Images/bg/bgrightfirefox.gif)/*tpa=http://www.huntsman.com/Internet/Site_Images/bg/bgrightfirefox.gif*/;background-repeat:repeat-y;background-position:17px 0px;}
/* HC_RIGHTPANE_ITEM13 */
.right13{height:100%;margin:0 8px 0 0;background:#D4D8E4;}
/* HC_RIGHTPANE_ITEM15 */
.right15{height:100%;background-image: url(../../Site_Images/bg/bgrightfirefox.gif)/*tpa=http://www.huntsman.com/Internet/Site_Images/bg/bgrightfirefox.gif*/;background-repeat:repeat-y;background-position:12px 0px;}
/* HC_RIGHTPANE_ITEM16 */
.right16{height:100%;background-image: url(../../Site_Images/bg/bgrightfirefox.gif)/*tpa=http://www.huntsman.com/Internet/Site_Images/bg/bgrightfirefox.gif*/;background-repeat:repeat-y;background-position:4px 0px;}

/* HC_LEFTPANE_ITEM1 */
.left1{width:167px;height:100%;background-image: url(../../Site_Images/bg/bgmiddle.gif)/*tpa=http://www.huntsman.com/Internet/Site_Images/bg/bgmiddle.gif*/;background-repeat:repeat-y;background-position:0px 0px;overflow:auto;}
/* HC_LEFTPANE_ITEM2 */
.left2{height:100%;background-image: url(../../Site_Images/bg/bgmiddle.gif)/*tpa=http://www.huntsman.com/Internet/Site_Images/bg/bgmiddle.gif*/;background-repeat:repeat-y;background-position:0px 0px;overflow:auto;}
/* HC_LEFTPANE_ITEM3 */
.left3{height:100%;background-image: url(../../Site_Images/bg/bgmiddle.gif)/*tpa=http://www.huntsman.com/Internet/Site_Images/bg/bgmiddle.gif*/;background-repeat:repeat-y;background-position:0px 0px;}
/* HC_LEFTPANE_ITEM1 */
.left4{width:186px;height:100%;background-image: url(../../Site_Images/bg/bgmiddle.gif)/*tpa=http://www.huntsman.com/Internet/Site_Images/bg/bgmiddle.gif*/;background-repeat:repeat-y;background-position:0px 0px;overflow:auto;}



/* CONTENTSTYLES */
.ccctop{padding:0; margin:0px;background-image: url(../../Site_Images/corners/t.gif)/*tpa=http://www.huntsman.com/Internet/Site_Images/corners/t.gif*/;background-repeat:repeat-x;background-position:bottom;}
.cccbottom{padding:0; margin:0px;background-image: url(../../Site_Images/corners/b.gif)/*tpa=http://www.huntsman.com/Internet/Site_Images/corners/b.gif*/;background-repeat:repeat-x;background-position:top;}
.cccleft{padding:0; margin:0px;background-image: url(../../Site_Images/corners/l.gif)/*tpa=http://www.huntsman.com/Internet/Site_Images/corners/l.gif*/;background-repeat:repeat-y;background-position:right;}
.cccright{padding:0; margin:0px;background-image: url(../../Site_Images/corners/r.gif)/*tpa=http://www.huntsman.com/Internet/Site_Images/corners/r.gif*/;background-repeat:repeat-y;background-position:left;}

.bluetop{padding:0; margin:0px;background-image: url(../../Site_Images/corners/t_blue.gif)/*tpa=http://www.huntsman.com/Internet/Site_Images/corners/t_blue.gif*/;background-repeat:repeat-x;background-position:bottom;}
.bluebottom{padding:0; margin:0px;background-image: url(../../Site_Images/corners/b_blue.gif)/*tpa=http://www.huntsman.com/Internet/Site_Images/corners/b_blue.gif*/;background-repeat:repeat-x;background-position:top;}
.blueleft{padding:0; margin:0px;background-image: url(../../Site_Images/corners/l_blue.gif)/*tpa=http://www.huntsman.com/Internet/Site_Images/corners/l_blue.gif*/;background-repeat:repeat-y;background-position:right;}
.blueright{padding:0; margin:0px;background-image: url(../../Site_Images/corners/r_blue.gif)/*tpa=http://www.huntsman.com/Internet/Site_Images/corners/r_blue.gif*/;background-repeat:repeat-y;background-position:left;}

.RightCol {float:right;position:relative;margin:0;padding:7px;width:200px;overflow:hidden;}
.RightCol .ImgHolderLeft_185xfree {float:left;width:185px;clear:both;}
.RightCol ul {display:block;float:left;margin:0 0 4px 0;list-style-type:disc!important;width:185px;clear:both;}
.RightCol li {margin:3px 0 3px 13px;*margin:3px 0 3px 16px;list-style-position:outside;list-style-type:disc;	}
.RightCol strong {display:block;float:left;width:185px;margin:0 0 4px 0;color:#67A8D4;clear:both;}
.RightCol p {display:block;float:left;width:185px;margin:4px 0 4px 0;clear:both;}
.RightCol .ImgHolderLeft_105x70 {display:block;float:none;margin:0 auto;text-align:center!important;clear:both;}
.RightCol .ImgHolderLeft_105x70 .contentImage {float:none;text-align:center!important;}

.RightColccc {float:left;margin:0;padding:0;width:150px;overflow:hidden;line-height:14px;text-align:center}
.RightColccc .PageTitle3 {margin:0 0 5px 0;font-size:12px;font-weight:700;line-height:normal;color:#900028;}
.RightColccc a:link, .RightCol a:visited ,.RightCol a:active {text-decoration:none;}
.RightColccc a:hover{text-decoration:underline;}
.RightColccc img{padding: 0 5px;padding:2px 2px 2px 0;filter:progid:DXImageTransform.Microsoft.Shadow(direction=135,color=#C3C3C3,strength=4);}

.CenterColccc {margin:0;padding:0;width:230px;overflow:hidden;}
/* CONTENTBLOCKS */

.Content400{float:left;margin:0;padding:5px;width:500px;overflow:hidden;}
.Content530{float:left;margin:0;padding:0 10px 0 0;width:530px;overflow:hidden;}
.Content560{float:left;margin:0;padding:0;width:560px;overflow:hidden;}
.Content540{float:left;margin:0;padding:0 10px 0 0;width:540px;overflow:hidden;}
.Content700{float:left;margin:0;padding:0;width:780px;overflow:hidden;}
.Content150{float:left;margin:0;padding:0;width:160px;overflow:hidden;}


/*EDIT BUTTON PORTLET*/
.editform {margin:8px 0 0 0;padding:5px;}
.editform tr td {margin:0;padding:0;}
.editform input.submit {margin:0;padding:0;font-size:11px;width:60px;color:#999999;background:#fff;border:1px solid #999999;}
.editform select {margin:0;padding:0;font-family:Arial, Helvetica, sans-serif;font-size:11px;width:120px;}

.editform1 {margin:8px 0 0 0;padding:5px;}
.editform1 tr td {margin:0;padding:0;}
.editform1 input.submit {margin:0;padding:0;font-size:11px;width:60px;color:#999999;background:#fff;border:1px solid #999999;}
.editform1 select {margin:0;padding:0;font-family:Arial, Helvetica, sans-serif;font-size:11px;width:120px;}

/* TABLE CLASS QUARTERLY REPORTS USED IN HOMEPAGE CORPORATE */
tr td.QR_top {padding:0; width:200px;background-image: url(../../Site_Images/corners/T_r10px_trans.gif)/*tpa=http://www.huntsman.com/Internet/Site_Images/corners/T_r10px_trans.gif*/;background-repeat:repeat-x;background-position:middle;}
tr td.QR_bottom {padding:0;width:200px;background-image: url(../../Site_Images/corners/B_r10px_trans.gif)/*tpa=http://www.huntsman.com/Internet/Site_Images/corners/B_r10px_trans.gif*/;background-repeat:repeat-x;background-position:top;}
tr td.QR_left{padding:0;background-image: url(../../Site_Images/corners/L_r10px_trans.gif)/*tpa=http://www.huntsman.com/Internet/Site_Images/corners/L_r10px_trans.gif*/;background-repeat:repeat-y;background-position:left;}
tr td.QR_right{padding:0;background-image: url(../../Site_Images/corners/R_r10px_trans.gif)/*tpa=http://www.huntsman.com/Internet/Site_Images/corners/R_r10px_trans.gif*/;background-repeat:repeat-y;background-position:right;}

/*BREADCRUMBS*/
.breadcrumbs {background:transparent;padding:0; margin:0;}

/*PAGETITLE*/
.PageTitleHU {display:block;margin:0 0 10px 0;font-size:13px;font-weight:700;color:#900028;clear:both;}
.PageTitle3 {font-weight:300;color:#AABBE0;font-size:14px;line-height:normal;}
.PageTitle4 {float:right;width:132px;margin:-1px 0 1px 0;font-weight:300;color:#900028;font-size:11px;line-height:normal;}

/*BLUE LINE PORTLET*/
.blueline {margin:20px 0 0 0;padding:0;border-top:1px solid #96ACD9;}
.seperator {display:block;padding-bottom:14px;border-bottom:1px solid #900028;clear:both;}

/*FOOTER PORTLET*/
.footerlinks {margin:4px 0 0 0;padding:0;color:#96ACD9;text-decoration:none;float:right;}
.footerlinks a:link{color:#96ACD9;text-decoration:none;}
.footerlinks a:visited{color:#96ACD9;text-decoration:none;}
.footerlinks a:hover{text-decoration:underline;}
.footerlinks a:active{color:#000;text-decoration:none;}

a.sel:link{color:#000;text-decoration:none;}
a.sel:visited{color:#000;text-decoration:none;}
a.sel:hover{color:#000;text-decoration:none;}
a.sel:active{color:#000;text-decoration:none;}

/*FORM STYLES*/

/*FEEDBACK FORM GENERAL*/
.feedbackform {margin:0;padding:0;width:97%;font-family:Arial, Helvetica, sans-serif;font-size:11px;}
.feedbackform tr td {margin:0;padding:0 0 3px 0;font-family:Arial, Helvetica, sans-serif;font-size:11px;}
.feedbackform tr td h5 {margin:0;padding:20px 0 15px 0;font-size:11px;font-weight:bold;color:#900028;}
.feedbackform tr td.italics {font-style:italic;color: #024283;font-family:Arial, Helvetica, sans-serif;font-size:11px;}
.feedbackform tr td.bolds {font-weight:bold;font-family:Arial, Helvetica, sans-serif;font-size:11px;}
.feedbackform tr td.tabs {margin:0;padding:25px 5px 5px 5px;font-weight:bold;color:#032961;text-align:left;text-transform:uppercase;font-family:Arial, Helvetica, sans-serif;
font-size:11px;}
.feedbackform tr td p.tabs {margin:0;padding:2px 2px 11px 2px;font-weight:bold;color:#032961;text-align:left;text-transform:uppercase;font-family:Arial, Helvetica, sans-serif;font-size:11px;}
.feedbackform tr td .errorField {background-color: #e8e8e8; border: 1px solid ff0000; color: #000;}
.feedbackform tr td .errorField1 { background-color: #990000; border: 1px solid #aa0000;color: #fff;}
.feedbackform tr td .errorField2 { background-color: #ffffcc;border: 1px solid #aa0000;color: #aa0000;}
.feedbackform tr td .errorField3 { background-color: #ffffcc;border: 1px solid #aa0000;color: #aa0000;}

/*LABELS MOSTLY USED FOR POSITIONING*/
.feedbackform tr td.label {margin:0;padding:0;width:38%;vertical-align:top;}
.feedbackform tr td.labelnp {margin:0;padding:0;width:214px;vertical-align:top;}
.feedbackform tr td.labelwp {margin:0;padding:0 0 0 2px;vertical-align:top;}
.feedbackform tr td.label10 {margin:0;padding:0 0 0 12px;vertical-align:top;}
.feedbackform tr td.label20 {margin:0;padding:0 0 0 12px;width:150px;vertical-align:top;}
.feedbackform tr td.label30 {margin:0;padding:0 0 0 305px;vertical-align:top;}
.feedbackform tr td.label40 {margin:0;padding:0;width:150px;vertical-align:top;}
.feedbackform tr td.label50 {margin:0;padding:0;width:250px;vertical-align:top;text-align:left;}
.feedbackform tr td.label60 {margin:0;padding: 0 0 0 30px;width:60%;vertical-align:top;}
.feedbackform tr td.label70 {margin:0;padding:0;vertical-align:top;text-align:right;}
.feedbackform tr td.label80 {margin:0;padding: 0 0 0 12px;width:100%;vertical-align:top;text-align:left;}

/*FEEDBACK FORM INPUT FIELDS*/
.feedbackform tr td.formelements {margin:0;padding:0 0 5px 0;font-family:Arial, Helvetica, sans-serif;font-size:11px;}
.feedbackform input.feedback {border:1px solid #666666;background-color:#fff;width:100%;font-family:Arial, Helvetica, sans-serif;font-size:11px;}
.feedbackform input.feedback100 {border:1px solid #666666;padding:0;background-color:#FFF;width:100px;font-family:Arial, Helvetica, sans-serif;font-size:11px;}
.feedbackform input.feedback172 {border:1px solid #666666;padding:0;background-color:#FFF;width:172px;font-family:Arial, Helvetica, sans-serif;font-size:11px;}
.feedbackform input.feedback178 {border:1px solid #666666;background-color:#FFF;width:178px;font-family:Arial, Helvetica, sans-serif;font-size:11px;}
.feedbackform input.feedback250 {border:1px solid #666666;background-color:#FFF;width:250px;font-family:Arial, Helvetica, sans-serif;font-size:11px;}
.feedbackform input.feedback550 {border:1px solid #666666;background-color:#FFF;width:550px;font-family:Arial, Helvetica, sans-serif;font-size:11px;}

/*FEEDBACK FORM STANDARD BUTTONS*/
.feedbackform input.submit {margin:14px 0 0 0;padding:0;font-size:11px;font-weight:bold;color:#666666;border:1px solid #666666;background-color:#fff;width:80px;height:20px;font-family:Arial, Helvetica, sans-serif;font-size:11px;}
.feedbackform input.submitnew {margin:14px 0 0 0;padding:0;font-size:11px;font-weight:bold;color:#666666;border:1px solid #666666;background-color:#fff;height:20px;font-family:Arial, Helvetica, sans-serif;font-size:11px;}
.feedbackform input.reset {margin:14px 0 0 0;padding:0;font-weight:bold;color:#666666;border:1px solid #666666;background-color:#fff;width:80px;height:20px;font-family:Arial, Helvetica, sans-serif;font-size:11px;}
.feedbackform input.other {margin:25px 0 0 0;padding:0;font-weight:bold;color:#666666;border:1px solid #666666;background-color:#fff;width:80px;height:20px;font-family:Arial, Helvetica, sans-serif;font-size:11px;}
.feedbackform input.search {margin:14px 0 0 0;padding:1px;color:#666666;border:1px solid #666666;background-color:#fff;width:80px;height:20px;font-family:Arial, Helvetica, sans-serif;font-size:11px;}
.feedbackform select {border:1px solid #666666;background-color:#fff;width:100%;font-family:Arial, Helvetica, sans-serif;font-size:11px;}
.feedbackform select.small{border:1px solid #666666;background-color:#fff;width:170px;font-family:Arial, Helvetica, sans-serif;font-size:11px;}
.feedbackform select.medium {border:1px solid #666666;background-color:#fff;width:200px;font-family:Arial, Helvetica, sans-serif;font-size:11px;}
.feedbackform select.mediumwp {border:1px solid #666666;background-color:#fff;width:200px;margin:0 10px 0 0;padding:0;font-family:Arial, Helvetica, sans-serif;font-size:11px;}
.feedbackform select.medium250 {border:1px solid #666666;background-color:#fff;width:250px;margin:0;padding:0;font-family:Arial, Helvetica, sans-serif;font-size:11px;}
.feedbackform select.large{border:1px solid #666666;background-color:#fff;width:470px;font-family:Arial, Helvetica, sans-serif;font-size:11px;}
.feedbackform textarea {width:100%;border:1px solid #666666;background-color:#fff;font-family:Arial, Helvetica, sans-serif;font-size:11px;}
.feedbackform textarea.feedback100{width:170px;border:1px solid #666666;background-color:#fff;font-family:Arial, Helvetica, sans-serif;font-size:11px;}
.feedbackform span.required {color:red;}
.feedbackform .title{display:block;margin:0 0 10px 0;font-size:13px;font-weight:700;color:#900028;clear:both;}

/*FEEDBACK FORM NON STANDARD BUTTONS  - USED IN THE FCK EDITOR*/
.feedbackform .box {border:1px solid #666666;background-color:#fff;overflow:auto;width:100%;height:280px;font-family:Arial, Helvetica, sans-serif;font-size:11px;}

/*BOX USED IN THE CONTACTS FORM PU AND HAM*/
.contactbox {border:1px solid #666666;background-color:#fff;width:100%;height:70px;margin: 0 0 10px 0;padding:10px;font-family:Arial, Helvetica, sans-serif;font-size:11px;}



/* IFRAMES */
.frame700{width:700px;height:500px;overflow:hidden;}
.frame750{width:750px;height:500px;}

/*NEWS IMAGE ON CORPORATE HOMEPAGE*/
.keynote {margin:0;padding:0;width:114px;height:172px;color:#fff;background:#BCBDC0;}
tr td.keynote a:link,tr td.keynote a:visited {color:#fff;text-decoration:none;}
tr td.keynote a:active, tr td.keynote a:hover {color:#fff;text-decoration:underline;}
/*NEWS  */
.newsoveralTitle{margin:0 0 7px 0;padding:0;font-size:16px;font-weight:300;line-height:normal;color:#797777;border:none;}
.newscategoryTitle{margin:10px 0 0 10px;font-size:12px;font-weight:bold;color:maroon;}
.newscontentwrapper{margin:10px 0 0 20px;padding:2px 2px 2px 0;border-bottom:1px dotted gray; width:700px;}
.newscontentwrapper .content{margin:0;}
.newscontentwrapper .contentgloss{margin:0 0 10px 0;}
.newscontentwrapper .toplink{margin:5px;padding:5px;}
.newscontentwrapper .morelink{margin:0;}
.newscontentwrapper .title{margin:0;padding:0;font-size:11px;line-height:20px;font-weight:bold;color:#333;}
.newscontentwrapper .title a:link, .newscontentwrapper .title a:visited {font-style:normal;font-weight:normal;color:#333;font-size:11px;text-decoration:underline;background:#E8E8E8;}
.newscontentwrapper .title a:hover {font-weight:normal;color:#333;font-size:11px;text-decoration:none;}
.newscontentwrapper .title a:active {font-weight:normal;color:#333;font-size:11px;text-decoration:underline;}
.newstitle {margin:0;padding:0 0 7px 0;font-size:13px;line-height:15px;font-weight:bold;border-bottom:1px solid #827E7C;}
.newstitle a{margin:0;padding:0;text-decoration:none;color:#000;}
.newslabel{font-size:16px;font-weight:300;line-height:normal;color:#797777;border:none;}
.contentwrapper{margin:0;padding:0;width:100%;}
.contentwrapper .content{margin:0;}
.contentwrapper .contentgloss{margin:0 0 10px 0;}
.contentwrapper .toplink{margin:5px;padding:5px;}
.contentwrapper .morelink{margin:0;}
.activedate{margin:5px 0 0 0;padding:0;font-weight:bold;color:#000000;}
.contentwrapper .title{margin:0;padding:0 font-size:11px;line-height:14px;font-weight:bold;color:#333;}
.contentwrapper .title a:link, .contentwrapper .title a:visited {font-weight:normal;color:#333;font-size:11px;text-decoration:none;}
.contentwrapper .title a:hover {font-weight:normal;color:#333;font-size:11px;text-decoration:underline;}
.contentwrapper .title a:active {font-weight:normal;color:#333;font-size:11px;text-decoration:none;}
/*NEWS - DETAIL*/
.newsblock {margin:0;padding:0;color:#333;width:700px;height:inherit;}
.newsblock .newsactivedate {margin:0;padding:14px 0 7px 0;color:#900028;clear:both;}
.newsblock .newstitle {margin:0;padding:0 0 7px 0;font-size:13px;line-height:15px;font-weight:bold;border-bottom:1px solid #827E7C;}
.newsblock .newsteaser {margin:0;padding:7px 0 7px 0;}
.newsblock .newsbody {margin:0;padding:7px 0 14px 0;line-height:16px;text-align:justify;}
/*PRINT LIST OF NEWS/FAQ/GLOSSARY*/
.printlist {width:100%;float:left;margin:10px;padding:0;border:0;}
.alphabet {float:left;margin:0 0 0 -40px;padding:0;border-right:1px solid #900028;}
.alphabet ul li {float:left;list-style:none;margin:0;padding:0;border-top:1px solid #900028;border-left:1px solid #900028;border-bottom:1px solid #900028;text-align:center;width:20px;background:#fff;white-space:nowrap;}
.alphabet a {display:block;float:left;margin:0;padding:3px 0;width:20px;}
.alphabet a:link, .alphabet a:visited {text-decoration:none;color:#900028;}
.alphabet a:hover {text-decoration:none;color:#fff;background-color:#900028;}
.alphabet a:active {text-decoration:none;color:#fff;background-color:#900028;}
.alphabet li.itemInactive{background:#D1D0CF;display:block;margin:0;padding:3px 0;color:#827F7D;border-top:1px solid #827F7D;border-left:1px solid #827F7D;border-bottom:1px solid #827F7D;}
.alphabet li.itemSelected{background:#900028;display:block;margin:0;padding:3px 0;color:#fff;border-top:1px solid #827F7D;border-left:1px solid #827F7D;border-bottom:1px solid #827F7D;}



/* LOCATION */
h1.countryName {margin:0;padding:0 0 5px 0;font-size:14px;font-weight:bold;color:#666;}
li.country{padding:0; margin:0;font-family:Arial, Helvetica, sans-serif;}
.location {margin:0;padding:0;}
.location h1 {margin:0;padding:0 0 5px 0;font-size:14px;font-weight:bold;color:#666;}
.location .countrySites{margin:0;padding:0;}
.location .countrySites h2 {margin:0;padding:0; font-size:14px;font-weight:bold;color:#999;}
.location .countrySites .site{margin:0;padding:0;}
.location .countrySites .site h3{margin:0;padding:0;font-size:12px;font-weight:bold;color:#999;}
.location .countrySites .ln_address {margin:0;padding:0 0 15px 0;font-style:normal;color:#686563;}
.location .countrySites .ln_address p.address{margin:0;padding:0;font-size:11px;}
.location .countrySites .ln_address p.type{margin:0;padding:0;font-size:11px;}
.location .countrySites .ln_address ul {margin:0;list-style-type:none;clear:both;}
.location .countrySites .ln_address li {margin:0;list-style-position:outside;list-style-type:none;}
.back_loc {margin:20px 0 0 10px;padding:0;text-align:center;color:#666666;border:1px solid #666666;background-color:#fff;width:80px;height:20px;font-family:Arial, Helvetica, sans-serif;font-size:11px;font-weight:bold;}

/*TABLE:category:001:about us events*/
.cor-te-cy-001 {float:left;display:block;position:relative;margin:0 0 18px 0;width:650px;text-align:left;/**/clear:both;}
.cor-te-cy-001 a {color:#000;}
.cor-te-cy-001 td {vertical-align:top;}
.cor-te-cy-001 td.row-001 {padding:7px;width:732px;font-weight:700;color:#fff;background:#A45256;border-bottom:1px solid #fff;}
.cor-te-cy-001 td.row-uneven {padding:7px;width:732px;color:#000;background:#DAB4B0;border-bottom:1px solid #fff;}
.cor-te-cy-001 td.row-even {padding:7px;width:732px;color:#000;background:#F0DEDD;border-bottom:1px solid #fff;}
.cor-te-cy-001 table {text-align:left;width:650px;}
.tpe-date {width:15%;font-weight:700;}
.tpe-event {width:85%;}

/*GLOSSARY PERFORMANCE PRODUCTS*/
.categoryListPane1{position:relative;width:620px;height:160px;background-image:url(../../Site_Images/bg/keyProductsBg2.png)/*tpa=http://www.huntsman.com/Internet/Site_Images/bg/keyProductsBg2.png*/;background-repeat:no-repeat;}
.categoryListPane{width:240px;height:160px;float:left;overflow:auto;padding:5px 5px 5px 0;}
.categoryListPane ul li {margin:0;padding:0 0 5px 0;font-family: Arial,sans-serif;font-size:11px;font-weight:bold;color:#515151;}
.categoryListPane ul li a:link {text-decoration:none;}
.categoryListPane ul li a:hover {text-decoration:none;}
.categoryListPane ul li a:active {text-decoration:none;}
.categoryListPane ul li a:visited {text-decoration:none;}

.categoryItemPane{position:absolute;top:0;left:250px;width:360px;height:160px;float:left;overflow:auto;padding:5px;font-family: Arial,sans-serif;font-size:11px;font-weight:normal;color:#515151;}
.categoryItemPane h5{font-weight:bold;}
.categoryItemPane glossText{font-weight:normal;}

/*TOWNBOX*/

.townBox .heading {color: #6699FF; line-height: 24px; font-family: Arial, Helvetica, sans-serif; font-size: 18px; }
.townBox .top {vertical-align:top;}
.townBox .typeSelects{width:280px;}
.townBoxLeft{background-image:url(../../html_includes/advanced_materials/Construction/left_rule.gif)/*tpa=http://www.huntsman.com/Internet/html_includes/advanced_materials/Construction/left_rule.gif*/;background-repeat:repeat-y;}
.townBoxRight{background-image:url(../../html_includes/advanced_materials/Construction/right_rule.gif)/*tpa=http://www.huntsman.com/Internet/html_includes/advanced_materials/Construction/right_rule.gif*/;background-repeat:repeat-y;}
.upperPane b {display:block;color: #666666;padding:5px;}
.upperPane a  {color: #900028;line-height: 14px;font-weight: normal;}
.upperPane a:link, .upperPane a:visited  {color: #900028;line-height: 14px;font-weight: normal;}
.upperPane a:hover  {color: #900028;line-height: 14px;font-weight: normal;}
.upperPane a:active {color: #900028;line-height: 14px;font-weight: normal;}
.lowerPane  b {display:block;color: #666666;padding:5px;}
.lowerPane  p {display:block;padding:5px;}

/*LOGOUT BUTTON*/
.titleorimageid1siteid0{clear: both;color: #FFFFFF;float: right;right: 0;margin: -29px 0 0;overflow: hidden;position: relative;}

/*NEWS COPORATE HOME TABLE */

.tablenewscorp {width:552px;margin:0 0 0 10px;padding:0 0 0 2px;}
div.corphomenews{width:400px;height:161px;overflow:hidden;}


/*NAVTREE TABLE HOME PAGE*/
.extranavtreetable {width:100px;height:300px;margin:0;padding:0;}

/*STOCKTICKER HOME TABLE */

.tablestockticker {width:90%;margin:0;padding:0;height:317px;}

/*UPDATES CONTENT HOME TABLE */

.tableupdatescontent {width:95%;margin:2px 0 0 0;padding:0;}

/*REACH CONTENT HOME TABLE */

.tablereachcontent {width:95%;margin:2px 0 0 0;padding:0;}

/*REACH CONTENT  */

.tablereachimages {margin: 0 0 0 3px; padding:5px;width: 210px;}
li.reach {list-style: square;margin: 0 0 0 -10px;}
/*SUSTAINABILITY HOME */

.tablesustainability {margin: 0; padding:0 0 0 10px;}


/*SUSTAINABILITY METRICS */

.tablemetrics{margin: 0 0 0 -10px; padding:0;}


