/***************                               
 CST Brands                                                               
 v 1.0                                  
 **************/	              
	
/*****************************************************************
	BASE
 *****************************************************************/

	/* Reset */
	body, div, span, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, ul, li, a, 
	.ms-core-defaultFont, .js-callout-body, #pageStatusBar, .ms-status-msg, .ms-h1, .ms-h2, .ms-h3, .ms-h4, .ms-h5, .ms-h6 {	
		margin: 0;	
		padding: 0;	
		border: 0;
		/* [ReplaceFont(themeFont:"body")] */ 
		font-family: Arial, Helvetica, sans-serif;			
		vertical-align: baseline;
	}

	p {color: #000;}



/*****************************************************************
	RIBBON
 *****************************************************************/

	/* Custom main wrapper */
	#cst_ribbonwrap {}

	
	/*****************************************************************
		SUITE BAR
 	*****************************************************************/

		/* Suite bar main wrapper */
		#suiteBar {}

		/* Suite bar left area */
		#suiteBarLeft {background-color: #133797;}

		/* Core branding text */
		.ms-core-brandingText {color: #fff;}

		/* Suite bar right area */
		#suiteBarRight {background-color: #ffcf51;}


	/*****************************************************************
		RIBBON ROW
 	*****************************************************************/
			
		#s4-ribbonrow {			
			background-color: #133797;
			background-image: none;
			/* margin-bottom: 20px !important; */				
		}

		#globalNavBox, .ms-clientcontrol-chromeheade {background: #ffcf51;}

		
 

/*****************************************************************
	PAGE STATUS BAR
 *****************************************************************/

	/* Page status bar main wrapper */
	#DeltaPageStatusBar {
		/* margin-top: -20px; */
		float: left;
		width: 100%;
	}

	/* Page status bar */
	#pageStatusBar {margin-bottom: 0 !important;}


/*****************************************************************
	MAIN PAGE WRAPPERS (below ribbon area)
 *****************************************************************/

   	/* SP page wrapper */
	#s4-workspace {width: 100% !important;}
	
	/* SP body container */
	#s4-bodyContainer {min-width: 993px; min-height: 500px; height: 572px; margin: auto; padding-bottom: 40px;}
    /* width of content area was 960px but is now 993px to account for homepage resources*/
		

/*****************************************************************
	HEADER & FOOTER
 *****************************************************************/

	/* SP header */
	#s4-titlerow {
		margin: 0;
		padding: 0;
		width: 100%;
		height: 128px;
		float: left;

		/* USE ONLY IF HEADER EXPANDS FULL WIDTH OF BROWSER */
		/*
		background: #e9f6fd;
		background: -moz-linear-gradient(top,  #e9f6fd 0%, #a2daf9 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e9f6fd), color-stop(100%,#a2daf9));
		background: -webkit-linear-gradient(top,  #e9f6fd 0%,#a2daf9 100%);
		background: -o-linear-gradient(top,  #e9f6fd 0%,#a2daf9 100%);
		background: -ms-linear-gradient(top,  #e9f6fd 0%,#a2daf9 100%);
		background: linear-gradient(to bottom,  #e9f6fd 0%,#a2daf9 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9f6fd', endColorstr='#a2daf9',GradientType=0 );
		*/
	}

	/* Inner Header (used for centering the content part in a fixed page width) */
	#cst_innerheader {
		width: 993px; 
		height: 128px; 
		margin: auto;
		/*background: #e9f6fd;
		background: -moz-linear-gradient(top,  #e9f6fd 0%, #a2daf9 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e9f6fd), color-stop(100%,#a2daf9));
		background: -webkit-linear-gradient(top,  #e9f6fd 0%,#a2daf9 100%);
		background: -o-linear-gradient(top,  #e9f6fd 0%,#a2daf9 100%);
		background: -ms-linear-gradient(top,  #e9f6fd 0%,#a2daf9 100%);
		background: linear-gradient(to bottom,  #e9f6fd 0%,#a2daf9 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9f6fd', endColorstr='#a2daf9',GradientType=0 );*/
	}


	/*****************************************************************
		INFO BAR (used by both header and footer)
 	*****************************************************************/
		
		/* Info bar main wrappers */
		#cst_infobarHead {float: left; width: 993px;}
		#cst_infobarFoot {
			/*position: relative;*/
			z-index: 10;			
			width: 993px; 
			height: 48px; 			
			background: url('../images/bg_foot.png')/*tpa=http://www.cstbrands.com/_catalogs/masterpage/CSTBrands/images/bg_foot.png*/ repeat-x;
			/*background-color:#F00;*/
            margin: auto;
		}		
		.cst_infobar {color: #fff; padding: 5px 0; clear: both;}

		/* Header inner structure */
		#cst_infobarHead .cst_infobarContent {float: right;}	

		/* Footer inner structure */	
		#cst_infobarFoot .cst_infobarContent {width: 993px; margin: auto; color: #fff !important;}
		#cst_infobarFoot .cst_infobarContent span {float: right; margin-top: 20px; margin-right: 5px;}
		
		#cst_infobarFoot span a, #cst_infobarFoot span a:visited { color:#FFF !important;}*/


					
		/*****************************************************************
			SEARCH
	 	*****************************************************************/

			/* Search box main wrapper */
			#cst_search {margin-top: 10px;}

			/* Search field */
			#cst_search .ms-srch-sb > input {
				background-color: transparent;
				background-image: url('../images/bg_search.png')/*tpa=http://www.cstbrands.com/_catalogs/masterpage/CSTBrands/images/bg_search.png*/;
				background-repeat: no-repeat;
				margin: 0;
				height: 22px;
				width: 161px;
				padding-left: 5px;
			}

			/* Strip SP borders around the search field */
			#cst_search .ms-srch-sb-borderFocused,
			#cst_search .ms-srch-sb-border {border: 0;}

			/* Search link */
			#cst_search .ms-srch-sb-searchLink {
				background-color: transparent;
				background: url('../images/bg_btnsearch.png')/*tpa=http://www.cstbrands.com/_catalogs/masterpage/CSTBrands/images/bg_btnsearch.png*/ no-repeat;  				
				border-left: 0;
				border-right: 0;
				width: 32px;
				height: 22px;
				margin-top: -1px;
				margin-left: -6px;
			}

			/* Search link SP image */
			#searchImg {display: none;}


	/*****************************************************************
		LOGO
 	*****************************************************************/

	        /* Logo area main wrapper */
	        #cst_logo {float: left; clear: both; width: 334px; margin-top: -25px; margin-left: 10px;}

	/*****************************************************************
		Language Selector
 	*****************************************************************/
	#cst_langselector
	{
		float:left;
		clear:both;
		margin-top:-70px;
		margin-left:905px;
	}
	/*****************************************************************
		MAIN NAVIGATION
 	*****************************************************************/
	
		/* Global navigation main wrapper */
		#cst_globalnav {float: left; width: 525px; margin-top: -72px; margin-left: 338px}

		/* Tab menu list */
		#cst_globalnav ul.static {padding: 0;}

		/* Tab menu list item */
		#cst_globalnav li.static {
			background: url('../images/tnav_sprite.png')/*tpa=http://www.cstbrands.com/_catalogs/masterpage/CSTBrands/images/tnav_sprite.png*/ no-repeat; 
			background-position: 0px -164px;
			padding: 16px 0px;			
		}

		/* Tab menu list item (first tab) */
		#cst_globalnav ul > li.static:first-child {
			background: url('../images/tnav_sprite.png')/*tpa=http://www.cstbrands.com/_catalogs/masterpage/CSTBrands/images/tnav_sprite.png*/ no-repeat;
			background-position: 0px 0px;
		}

		/* Tab menu list item (last tab) */
		#cst_globalnav li.static.last-child  {
			background: url('../images/tnav_sprite.png')/*tpa=http://www.cstbrands.com/_catalogs/masterpage/CSTBrands/images/tnav_sprite.png*/ no-repeat scroll 45px 0px !important; 
			/* background-position: top right !important; */
			background-position: -100px 0px !important;
			margin-right: 20px !important;			
		}
		
		/* Tab menu list item hover & selected states */
		#cst_globalnav  li.static.selected,
		#cst_globalnav  li.static:hover {
			background: url('../images/tnav_sprite.png')/*tpa=http://www.cstbrands.com/_catalogs/masterpage/CSTBrands/images/tnav_sprite.png*/ no-repeat;
			background-position: 0px -246px !important;
		}

		/* Tab menu list item hover & selected states (first tab) */
		#cst_globalnav  li.static:first-child.selected,
		#cst_globalnav  li.static:first-child:hover {
			background: url('../images/tnav_sprite.png')/*tpa=http://www.cstbrands.com/_catalogs/masterpage/CSTBrands/images/tnav_sprite.png*/ no-repeat !important;
			background-position: 0px -82px !important;
		}

		/* Tab menu list item hover & selected states (last tab) */
		#cst_globalnav  li.static.last-child.selected,
		#cst_globalnav  li.static.last-child:hover {
			background: url('../images/tnav_sprite.png')/*tpa=http://www.cstbrands.com/_catalogs/masterpage/CSTBrands/images/tnav_sprite.png*/ no-repeat scroll 45px 0px !important; 
			/* background-position: top right !important; */
			background-position: -100px -82px !important;
		}
	
		/* Tab menu list item links (first tab) */
		#cst_globalnav ul > li.static:first-child > .ms-core-listMenu-item {
			background: url('../images/tnav_sprite.png')/*tpa=http://www.cstbrands.com/_catalogs/masterpage/CSTBrands/images/tnav_sprite.png*/ no-repeat scroll 45px 0px;
			background-position: 45px -164px !important;
			border-left-color: transparent; 
			margin-left: 8px;
		}

		/* Tab menu list item links hover & selected states (first tab) */
		#cst_globalnav ul > li.static:first-child:hover > .ms-core-listMenu-item,
		#cst_globalnav ul > li.static:first-child.selected > .ms-core-listMenu-item {
			background: url('../images/tnav_sprite.png')/*tpa=http://www.cstbrands.com/_catalogs/masterpage/CSTBrands/images/tnav_sprite.png*/ no-repeat scroll 45px 0px;
			background-position: 45px -246px !important;
		}

		/* Tab menu list item links */
		#cst_globalnav ul > li.static > .ms-core-listMenu-item {
			padding: 17px 0; 
			margin: -17px 0 0 0;
		}

		/* Tab menu list item links (last child) */
		#cst_globalnav ul > li.static.last-child > .ms-core-listMenu-item {
			background: url('../images/tnav_sprite.png')/*tpa=http://www.cstbrands.com/_catalogs/masterpage/CSTBrands/images/tnav_sprite.png*/ no-repeat scroll -40px 0px;
			/* background-position: top right; */
			background-position: 0px -164px !important;
			margin-right: 30px;
			margin-left: -1px;
		}

		/* Tab menu list item links hover & selected states (last tab) */
		#cst_globalnav ul > li.static.last-child:hover > .ms-core-listMenu-item,
		#cst_globalnav ul > li.static.last-child.selected > .ms-core-listMenu-item {
			background: url('../images/tnav_sprite.png')/*tpa=http://www.cstbrands.com/_catalogs/masterpage/CSTBrands/images/tnav_sprite.png*/ no-repeat scroll -40px 0px !important;
			background-position: 0px -246px !important;
		}

		/* Menu item link inner wrapper (i.e. additional background)  */
		#cst_globalnav ul > li.static:first-child > .menu-item > .additional-background {border: 0;}
		#cst_globalnav ul > li.static > .menu-item > .additional-background {padding: 12px 0 13px 0; border-left: 1px blue solid;}

		/* Menu item text */
		#cst_globalnav .menu-item-text {color: #fff; font-size: 13px; padding: 0 8px; margin-left: 2px;}

		/* Strip formatting for drop down arrows */
		.ms-core-listMenu-horizontalBox .dynamic-children.additional-background {background-image: none; padding: 0;}

		
		/* Sub menu flyout */

		/* Sub menu list */
		#cst_globalnav ul.dynamic {background: #00B6DD;}

		/* Sub menu list item */
		#cst_globalnav li.dynamic {list-style-type: none;}	

		/* Hide SP edit links */
		.ms-displayInlineBlock{display: none;}	

		/* NOT USED, ONLY NEEDED FOR SP ON-PREM: Remove custom styling from first list item (not part of actual navigation list) */
		/*
		#cst_globalnav ul.ms-core-listMenu-root > li.static:first-child {background: none !important;}
		*/

		/* NOT USED, ONLY NEEDED FOR SP ON-PREM: Hide home tab (i.e. first link) */
		/*
		#cst_globalnav li.static > a {display: none !important;}	
		#cst_globalnav li.static > ul a {display: block !important;}
		*/


	/*****************************************************************
		BREADCRUMBS
 	*****************************************************************/
	
		/* Breadcrumb main wrapper */
		#cst_breadcrumbs {display: none; margin-top: -5px; margin-left: 50px; float: left;}

		/* Text */
		#cst_breadcrumbs .ms-core-pageTitle {font-size: 12px !important; }
	

/*****************************************************************
	PAGE BODY WRAPPERS (below header area) 
 *****************************************************************/

	/* Main page body wrapper */
	#bc_pagebody {width: 993px; height: 100%; margin: auto; clear: both;}



	/*****************************************************************
		SIDE NAV / LEFT COLUMN
 	*****************************************************************/

		/* Main side nav wrapper */
		#sideNavBox {
			margin-left: 0; 
			background: #fff;
			-webkit-border-radius: 0 10px 0 0;
    
    
			border-radius: 0 10px 0 0; 
			height: 100%;
		}
		
		#sideNavBox li {
			font-size:14px;
		}

		/* SP Left margin compensation */
		#sideNavBox .ms-core-sideNavBox-removeLeftMargin {margin-left: 20px;}

		/* Side nav's core navigation wrapper */
		#sideNavBox .ms-core-navigation  {margin-top: 25px;}

		/* Links */
		#sideNavBox .ms-core-listMenu-item, 
		#sideNavBox .ms-core-listMenu-item:link, 
		#sideNavBox .ms-core-listMenu-item:visited, 
		#sideNavBox .ms-tv-item:link, 
		#sideNavBox .ms-tv-item:visited, 
		#sideNavBox .ms-tv-header:link, 
		#sideNavBox .ms-tv-header:visited {color: #2A49A7;}
		
		/* Selected & hover states */
		#sideNavBox .ms-core-listMenu-selected:link, 
		#sideNavBox .ms-core-listMenu-selected:visited, 
		#sideNavBox .ms-core-listMenu-selected, 
		#sideNavBox .ms-core-listMenu-item:hover {background: none !important; text-decoration: underline;}


		#sideNavBox .cst-sidenav-sitetitle{
			font-size:16px;
		}
	/*****************************************************************
		CONTENT AREA
 	*****************************************************************/

		/* Master page wrapper for page layouts */
		#contentBox {}
		

			/*****************************************************************
				PAGE LAYOUT AREA
 			*****************************************************************/

				/* Layout specific wrappers */
				#bc_layout_home {}
				#bc_layout_sub_generic {}


				/*****************************************************************
					WEB ZONES
 				*****************************************************************/
			   
				/* All zones */
				.cst_zones {}

				/* Middle column zone wrapper */
				#cst_midcol {float: left; width: 75%;}

				/* Right column zone wrapper */
				#cst_rightcol {float: right; width: 25%;}

				/* Column Gutters */
				#cst_rightcol .ms-webpart-zone {margin-left: 10px;}


				/*****************************************************************
					WEB PARTS
 				*****************************************************************/

					/*****************************************************************
						OOB Web Parts
 					*****************************************************************/

					/* Default chrome */ 				

					/* WP title chrome wrapper */
					/*.ms-webpart-chrome-title {
						-moz-border-radius: 20px;
						-webkit-border-radius: 20px;
    
    
						border-radius: 20px;
						border: 2px solid #fff;						
						background: #009de0;
						background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwOWRlMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNDMyOTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
						background-size: 100% 100%;
    						background-repeat: repeat-x;
    						background-position: 0 0;
						background: -moz-linear-gradient(top,  #009de0 0%, #143292 100%);
						background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#009de0), color-stop(100%,#143292));
						background: -webkit-linear-gradient(top,  #009de0 0%,#143292 100%);
						background: -o-linear-gradient(top,  #009de0 0%,#143292 100%);
						background: -ms-linear-gradient(top,  #009de0 0%,#143292 100%);
						background: linear-gradient(to bottom,  #009de0 0%,#143292 100%);
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009de0', endColorstr='#143292',GradientType=0 ); */
					}

						/* Right column wp title chrome */
						#cst_rightcol .ms-webpart-chrome-title {background: none; filter: none; border: 0;}
						#cst_rightcol .ms-webpart-titleText {width: 180px;}


					/* WP title inner wrapper */
					.js-webpart-titleCell {}

					/* WP title text */
					.ms-webpart-titleText.ms-webpart-titleText, 
					.ms-webpart-titleText > a {color: #333; font-size: 20px; padding: 5px 10px;}

						/* Right column title text */
						#cst_rightcol .ms-webpart-titleText.ms-webpart-titleText, 
						#cst_rightcol .ms-webpart-titleText > a {font-size: 12px; font-weight: bold; color: #233c98;}

					/* WP body wrapper */
					.ms-WPBody {padding: 0 10px;}

						/* Right column title text */
						#cst_rightcol .ms-WPBody {font-size: 12px !important;}


					/*****************************************************************
						Custom Slide Web Part
 					*****************************************************************/

					/* Slide main wrapper */
					.cst_slidewrap {float: left; width: 100%; min-height: 454px; height: 100%;}

					/* Slide list wrappers */
					.cst_list {float: left; background: #fff; width: 223px; min-height: 454px; height: 100%;}
					.cst_list ul.dfwp-list {padding: 10px 0; margin: 0;}

					/* Slide list items */
					.cst_list .dfwp-item {list-style-type: none; padding: 5px 10px; clear: left;}

					/* Slide list item inner wrapper */
					.cst_list .item {float: left;} 

					/* Slide list item link wrapper */
					.cst_list .item-link {
						float: left; 
						color: #000;
						text-decoration: none; 
						padding: 8px 5px 8px 8px; 
						font-size: 12px !important; 
						width: 190px;
					}
					.cst_videoLink{
						bottom:0px;
						position:absolute;
					}
					/* Slide list item link hover and selected states */
					.cst_list .item-link:hover,
					.cst_list .item-link.selected,
					.cst_list .current a {
						background-color: #0094da; 
						color: #fff;
						-moz-border-radius: 5px;
 
						-webkit-border-radius: 5px;
    
    
						border-radius: 5px;
						-webkit-box-shadow: inset 0px 0px 15px 3px rgba(0, 0, 0, .3);
        
        
						box-shadow: inset 0px 0px 15px 3px rgba(0, 0, 0, .3);
					}

					/* Slide list item thumbnails */
					.cst_list .image-area-left {float: left; width:60px;  padding-right: 5px; padding-left: 0px;}

					/* Slide item title wrapper */
					.cst_list .item-title {font-weight: bold !important;}
 					/* Slide Description */
					.cst_list .description{display:block;}
					.cst_list .right-col {float:right;width:120px; }


					/* Stage area */					

					/* Slide stage wrapper */
					.cst_stage {float: left; width: 770px; min-height: 454px; height: 100%;}

					/* Slides wrapper */
					.cst_stage .cst_slide {
						display: none; /* Hide by default. Display by apply the "active" class to this wrapper */
						float: left; 
						color: #fff;
						width: 770px;
						height: 454px;												
					}

					/* Slide active class */
					.cst_stage .cst_slide.active {display: block;}

					/* Slide content container */
					.cst_stage .slide-container {float: left; margin: 30px; width: 250px;}

					/* Slide headline */
					.cst_stage .slide-headline {
						font-family:Arial, Helvetica, sans-serif;
						font-size:45px;
						font-weight:bold;
					}
					
					.cst_stage .slide-title{
						font-family:Arial, Helvetica, sans-serif;
						font-size:29px;
						font-weight:bold;
					}
					/* Slide content body */
					.cst_stage .slide-contentbody {
						font-family:Arial, Helvetica, sans-serif;
						font-size:15px;
						font-weight:normal;

					}

					/* Slide links */
					.cst_stage a {color: #a7dcf9;}
					/*****************************************************************
						BoD Display Templates
 					*****************************************************************/
					.cst-BoD-Title{
						font-family:Arial, Helvetica, sans-serif;
						font-size:14px;
						font-weight:normal;
						color:#233c98;
					}
					.cst-BoD-Description{
						font-family:Arial, Helvetica, sans-serif;
						font-size:13px;
						font-weight:normal;
						color:#000;
					}
					.cst-BoD-RightCol{    
						margin-left: 110px;
   						
   						vertical-align: top;
					}
					.cst-BoD-Wrapper{
						width:100%;
						padding:10px 0px;
						
					}
					.cst-BoD-NoImageWrapper{
						width:100%;
						padding:10px 0px;
						
					}
					/*****************************************************************
						End - BoD Display Templates
 					*****************************************************************/
 					/*****************************************************************
						Contacts Display Templates
 					*****************************************************************/
					.cst-Contacts-Wrapper{
						font-family:Arial, Helvetica, sans-serif;
						font-size:12px;
						font-weight:normal;
						color: #000;
					}

					.cst-Contacts-Title{
						font-family:Arial, Helvetica, sans-serif;
						font-size:12px;
						font-weight:bold;
						color: #233c98;
					}
										
				
					/*****************************************************************
						Contacts Display Templates
 					*****************************************************************/


				/*****************************************************************
					DATA FIELDS (Rich HTML, site column fields)
 				*****************************************************************/


				/*****************************************************************
					LAYOUT SPECIFIC
 				*****************************************************************/

				/* Please note, master page specific overrides (ex. hiding the 
				   quick launch) are not specified in this stylesheet, rather it is 
				   located in the layout file's additional head placeholder  */

				/* Home Page: set main wrapper formatting */
				#bc_layout_home {min-height: 454px; padding: 0;}

				/* Home Page: zone overrides */
				#bc_layout_home #cst_stagezone .s4-wpcell-plain {margin: 0;}
				#bc_layout_home #cst_stagezone .ms-WPBody {padding: 0;}
				#bc_layout_home .ms-fullWidth {clear:both;}

				/* Sub Page Generic: zone overrides */
				#bc_layout_sub_generic.welcome {float: left; margin-top: 20px;}
				
				

		
/*****************************************************************
	PAGE EDIT MODE 
 *****************************************************************/
					

	/*****************************************************************
		RTE / MARKUP STYLES
 	*****************************************************************/

		/* Heading 1 */
		.ms-rtestate-field h1 {font-size: 30px; font-weight: bold; color: #233c98;}
				
		/* Heading 2 */
		.ms-rtestate-field h2 {}
				
		/* Heading 3 */
		.ms-rtestate-field h3 {}
				
		/* Heading 4 */
		.ms-rtestate-field h4 {}				
				
		/* Colored Heading 1 */	
		.ms-rteElement-H1B {font-size: 25px !important;}
				
		/* Colored Heading 2 */
		.ms-rteElement-H2B {}				
				
		/* Colored Heading 3 */
		.ms-rteElement-H3B {}				

		/* Colored Heading 4 */
		.ms-rteElement-H4B {}
				
		/* Paragraph */
		.ms-rteElement-P {}

        /* Bold */
        .ms-rteElement-B {color: #000; font-weight:bold !important;}
				


/*****************************************************************
	PAGE EDIT MODE 
 *****************************************************************/

	/* Edit panel main wrapper */
	.edit-mode-panel {clear: both;}


/*****************************************************************
	SYSTEM PAGES (Settings, list views, etc) 
 *****************************************************************/

							

/*****************************************************************
	MODAL DIALOGS 
 *****************************************************************/

	/* Make sure dialog isn't affected by custom page dimensions */
	.ms-dialog,	
	.ms-dialog body #s4-bodyContainer,
	.ms-dialog #bc_pagebody {height: auto !important;}	

	.ms-dialog body #s4-bodyContainer,
	.ms-dialog #s4-statusbarcontainer,
	.ms-dialog #content-box,
	.ms-dialog #bc_pagebody,	 
	.ms-dialog body,
	.ms-dialog #s4-titlerow,
	.ms-dialog #s4-workspace {background: none !important; min-width: 0 !important; width: auto !important; min-height: 0 !important;}

	.ms-dialog .ms-bodyareacell {padding: 0px;}
	
	/* Window chrome */
	.ms-dlgTitle {}
	.ms-dlgBorder {}

	
/*****************************************************************
	Logo Banner 
 *****************************************************************/
 
  #cst_brand_logos_wrapper
 {
	 position:relative;
	 margin-top:-9px;
	 z-index:9000;
	 width:993px;
 }
 #cst_brand_logos_border
 {
	 background: url('../images/bg_logoBanner.png')/*tpa=http://www.cstbrands.com/_catalogs/masterpage/CSTBrands/images/bg_logoBanner.png*/ repeat-x scroll 0px;
	 background-color: transparent;
	 height:15px; 
 }
 
 #cstbrands_brands
 {
	 padding-left:14px;
 }
 
 #cstbrands_brandslist
{
	display:block;
	/*vertical-align:bottom;*/
}

#cstbrands_brandslist li
{
	display:inline-block;
	list-style:none;
	vertical-align:top;
	width:150px;
	min-width:150px;
	padding: 5px 0px;
	margin:0px 5px;
}

#cstbrands_brandslist li div
{
	float:left;
	height:100%;
	vertical-align:top;
	display:block;
}

#cstbrands_brandslist li div a
{
	display:inline-block
	height:100%;
	width:100%;
	/*vertical-align:bottom;*/
}

#cstbrands_brandslist li div img
{
	/*display:inline-block;
	vertical-align:bottom;
	height:100%;*/
}