
/* ---------------------------------------------------------------------
Accessibility Styles
------------------------------------------------------------------------ */

.accessibility {
    display: block;
}

.masthead_hideAccessibility .accessibility,
.masthead_hideAll .accessibility {
    display: none;
}

/* ---------------------------------------------------------------------
Box Styles
------------------------------------------------------------------------ */

.box-content img {
    max-width: inherit !important;
}
.box-content img.socialfeedimg {max-width:90% !important;}

/* ---------------------------------------------------------------------
Footer Styles
------------------------------------------------------------------------ */

.footer-container-mask-wrapper {
    width: 100%;
    height: 100%;
    background: url(../../images/footer-mask-ie.png)/*tpa=http://www.mondelezinternational.com/~/media/MondelezCorporate/images/footer-mask-ie.png*/ no-repeat;
}

.footer-container-redCurve {
    background: url(../../images/red-curve.png)/*tpa=http://www.mondelezinternational.com/~/media/MondelezCorporate/images/red-curve.png*/ no-repeat;
}

/* ---------------------------------------------------------------------
Header Styles
------------------------------------------------------------------------ */
.header-container-mask {
    background: transparent;
}

.header-container-mask-wrapper {
    width: 100%;
    height: 100%;
    background: url(../../images/header-mask-ie.png)/*tpa=http://www.mondelezinternational.com/~/media/MondelezCorporate/images/header-mask-ie.png*/ no-repeat;
}

.header_mainNav:before {
    content: '  ';
    display: none;
}

.masthead_hideAccessibility .header_mainNav:before {
    content: '   ';
    display: block;
}

.masthead_hideAll .header_mainNav:before {
    content: '    ';
    display: none;
}

.home .masthead_hideAccessibility .header_mainNav:before {
    content: '     ';
    display: none;
}

.hghContrast .masthead_hideAccessibility .header_mainNav:before {
    content: '      ';
    display: none;
}
.galleryItem-hd_swoosh:after {
    content: url(../../images/swoosh.png)/*tpa=http://www.mondelezinternational.com/~/media/MondelezCorporate/images/swoosh.png*/;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 16px;
    background: none;
}

/* ---------------------------------------------------------------------
Header Extra Styles
------------------------------------------------------------------------ */
.chameleonCascade {
    background: transparent url(../../images/cascade-bg-ie.png)/*tpa=http://www.mondelezinternational.com/~/media/MondelezCorporate/images/cascade-bg-ie.png*/;
}

.headerExtra_isYellow .chameleonCascade {
    background: transparent url(../../images/cascade-bg-ie.png)/*tpa=http://www.mondelezinternational.com/~/media/MondelezCorporate/images/cascade-bg-ie.png*/;
    background-position: 0 -367px;
}

.headerExtra_isRed .chameleonCascade {
    background: transparent url(../../images/cascade-bg-ie.png)/*tpa=http://www.mondelezinternational.com/~/media/MondelezCorporate/images/cascade-bg-ie.png*/;
    background-position: 0 -734px;
}

.headerExtra_isOrange .chameleonCascade {
    background: transparent url(../../images/cascade-bg-ie.png)/*tpa=http://www.mondelezinternational.com/~/media/MondelezCorporate/images/cascade-bg-ie.png*/;
    background-position: 0 0;
}

.headerExtra_isGreen .chameleonCascade {
    background: transparent url(../../images/cascade-bg-ie.png)/*tpa=http://www.mondelezinternational.com/~/media/MondelezCorporate/images/cascade-bg-ie.png*/;
    background-position: 0 -1101px;
}

.headerExtra_isAqua .chameleonCascade {
    background: transparent url(../../images/cascade-bg-ie.png)/*tpa=http://www.mondelezinternational.com/~/media/MondelezCorporate/images/cascade-bg-ie.png*/;
    background-position: 0 -1468px;
}

.headerExtra-ft-curveBottom {
    background: transparent url(../../images/curveBottom-bg-ie.png)/*tpa=http://www.mondelezinternational.com/~/media/MondelezCorporate/images/curveBottom-bg-ie.png*/;
}

.headerExtra_isYellow .headerExtra-ft-curveBottom {
    background: transparent url(../../images/curveBottom-bg-ie.png)/*tpa=http://www.mondelezinternational.com/~/media/MondelezCorporate/images/curveBottom-bg-ie.png*/;
    background-position: 0 0;
}

.headerExtra_isOrange .headerExtra-ft-curveBottom {
    background: transparent url(../../images/curveBottom-bg-ie.png)/*tpa=http://www.mondelezinternational.com/~/media/MondelezCorporate/images/curveBottom-bg-ie.png*/;
    background-position: 0 -104px;
}

.headerExtra_isRed .headerExtra-ft-curveBottom {
    background: transparent url(../../images/curveBottom-bg-ie.png)/*tpa=http://www.mondelezinternational.com/~/media/MondelezCorporate/images/curveBottom-bg-ie.png*/;
    background-position: 0 -52px;
}

.headerExtra_isGreen .headerExtra-ft-curveBottom {
    background: transparent url(../../images/curveBottom-bg-ie.png)/*tpa=http://www.mondelezinternational.com/~/media/MondelezCorporate/images/curveBottom-bg-ie.png*/;
    background-position: 0 -78px;
}

.headerExtra_isAqua .headerExtra-ft-curveBottom {
    background: transparent url(../../images/curveBottom-bg-ie.png)/*tpa=http://www.mondelezinternational.com/~/media/MondelezCorporate/images/curveBottom-bg-ie.png*/;
    background-position: 0 -26px;
}

/* ---------------------------------------------------------------------
Header Extra Mask Styles
------------------------------------------------------------------------ */
.headerExtraMask-bd {
    width: 100%;
    height: 100%;
    background: url(../../images/carousel-bg-ie.png)/*tpa=http://www.mondelezinternational.com/~/media/MondelezCorporate/images/carousel-bg-ie.png*/ no-repeat;
}

.headerExtra_isYellow .headerExtraMask {
    background-color: transparent;
}

.headerExtra_isRed .headerExtraMask {
    background-color: transparent;
}

.headerExtra_isOrange .headerExtraMask {
    background-color: transparent;
}

.headerExtra_isGreen .headerExtraMask {
    background-color: transparent;
}

.headerExtra_isAqua .headerExtraMask {
    background-color: transparent;
}

.headerExtra_isYellow .headerExtraMask-bd {
    background-position: 0 -480px;
}

.headerExtra_isRed .headerExtraMask-bd {
    background-position: 0 -1440px;
}

.headerExtra_isOrange .headerExtraMask-bd {
    background-position: 0 -960px;
}

.headerExtra_isGreen .headerExtraMask-bd {
    background-position: 0 -1920px;
}

.headerExtra_isAqua .headerExtraMask-bd {
    background-position: 0 0;
}

/* ---------------------------------------------------------------------
Main Navigation Styles
------------------------------------------------------------------------ */

.nrdMainNav-item-link:before {
    background: transparent;
}

.nrdMainNav-item-link:hover:before {
    content: "  ";
    background: transparent url("../../images/tear-drop-sprite.png")/*tpa=http://www.mondelezinternational.com/~/media/MondelezCorporate/images/tear-drop-sprite.png*/ no-repeat;
    background-position: 0px -32px;
}

.nrdMainNav-item-link_isActive:before {
    content: "   ";
    background: transparent url("../../images/tear-drop-sprite.png")/*tpa=http://www.mondelezinternational.com/~/media/MondelezCorporate/images/tear-drop-sprite.png*/ no-repeat;
    background-position: -24px -32px;
}

/* ---------------------------------------------------------------------
Region Styles
------------------------------------------------------------------------ */

.regions {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.masthead_hideRegions .regions,
.masthead_hideAll .regions {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.regionLink_isActive:after {
    content: "   "; /* extra spaces force repaints */
    visibility: visible;
    zoom: 1;
}
.region-bd-list-item .regionLink  {font-weight:normal;}
.region-hd .hdg {font-family:"Arial", "Arial", Gadget, sans-serif;}

.masthead_hideAll .regionLink_isActive:after,
.masthead_hideRegions .regionLink_isActive:after {
    content: "  ";
    visibility: hidden;
}

/* ---------------------------------------------------------------------
Utility Navigation Styles
------------------------------------------------------------------------ */
.utlNav:before {
    top: 38px;
    margin: 0;
}

.masthead_hideAccessibility .utlNav:before {
    content: "  "; /* Extra spaces force repaints */
    left: 630px;
    margin: 0;
}

.masthead_hideRegions .utlNav:before {
    content: "      ";
    left: 520px;
    margin: 0;
}

.masthead_hideAll .utlNav:before {
    content: "       ";
    background: none;
    left: 652px;
}

/* ---------------------------------------------------------------------
Content Background Styles
------------------------------------------------------------------------ */

.contentBg-maskContainer-mask-bd {
    width: 100%;
    height: 100%;
    background: url(../../images/contentBg-mask-ie.png)/*tpa=http://www.mondelezinternational.com/~/media/MondelezCorporate/images/contentBg-mask-ie.png*/ no-repeat;
}

/* ---------------------------------------------------------------------
Hero Carousel Styles
------------------------------------------------------------------------ */
.hroCarousel-slide {
    display: none;
}

.hroCarousel-slide_isCurrent {
    display: block;
}

/* ---------------------------------------------------------------------
Interior Carousel Styles
------------------------------------------------------------------------ */

.intrCarousel-slide {
    -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
}

.intrCarousel-slide_isCurrent {
    -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
}

/* ---------------------------------------------------------------------
Tooltip Styles
------------------------------------------------------------------------ */
[data-tooltip]:after {
    display: none;
}

[data-tooltip]:hover:after {
    position: relative;
    display: inline;
    top: 40px;
}

/* ---------------------------------------------------------------------
Slide Panel Styles
------------------------------------------------------------------------ */

.slidePanel-maskWrap {
    top: 0;
}