#conent
{
	background-color: transparent !important;
	padding-left: 0px !important;
	padding-top: 10px !important;
}

#mainWrapper
{
	background-color: transparent !important;
}
        
.homepageContainer
{
	margin-top: 5px;
}
           
.hp_splashImg
{
    padding: 7px;
    width: 666px;
    height: 365px;
    background-color: White;
}

.hp_splashOver 
{
	position: absolute;
	width: 666px;
	height: 362px;
	top: 8px;
}

.hp_splashOver:hover
{
	opacity:0.2;
	filter:alpha(opacity=20); /* For IE8 and earlier */
	background-color: Black;
}
        
.hp_rightCol
{
    width: 274px !important;
}
        
.hp_underSplash
{
    margin-top: 0px;
    width: 664px;
    float: left;
}
        
.hoverBlock
{
    background-color: White;
    color: #666;
}

.contentBlock_noMargin
{	
	padding: 7px 7px 30px 7px;
    font-family: Arial;
    font-size: 10px;
	line-height: 22px;
}
        
.contentBlock
{	
	padding: 7px 7px 30px 7px;
	margin-top: 5px;
    font-family: Arial;
    font-size: 10px;
	line-height: 22px;
}

.contentBlock a:hover,.contentBlock_noMargin a:hover 
{
	text-decoration: underline;
	color: #0092bf;
}
   
.hp_sectionTitle
{
	font-family: Georgia;
	font-size: 18px;
}
.hp_sectionDate
{
	margin-top: 0px;
	margin-bottom: 10px;
	color: #b4b4b4;
	font-size: 12px;
	font-weight: bold;
	font-family: Arial;
}

.hp_headerText
{
	margin-bottom: 12px;
	background-color: #0091c1;
	color: White;
	font-size: 14px;
	font-family: Arial;
	padding-left: 4px;
	font-weight: normal !important;
	height: 16pt;
}

.hp_headerText a,.hp_headerText a:hover
{
	color: White;
	text-decoration: none;
}

.hp_pr_col
{
	width: 286px !important;
}

#conent h2 
{
	font-size: 18px;
	font-family: Georgia;
	font-weight: normal;
	color: #5D5D5D;
}

.blueLink {
  font-size: 1.25em;
  font-family: arial;
  font-weight: bolder;
  padding-bottom: 10px;
  color: #0091c1 !important;
}

.blueLink a {
  text-decoration: none !important;
  color: #0091c1 !important;
}
 
.hp_twitterText 
{
	color: #5E5E5E;
	font-size: 14px;
	font-weight: 500;
	font-family: Georgia;
}

.hp_twitterText a 
{
	color: #0091c1;
}

#fancybox-close{  
  background-image: url(../images/bx/lightbox_close_button.png)/*tpa=http://www.blackstone.com/images/bx/lightbox_close_button.png*/; 
  Z-INDEX: 1102;
  height: 20px;
  width: 20px;
  top: 3px;
  right: 18px;
 }

.hp_featureText {
	display: block;
	position: absolute;
	top: 220px;
	left: 28px;
	font-family: Georgia;
	font-size: 34px;
	line-height: normal;
}
.hp_featureCaption {
	position: absolute;
	font-family: arial;
	font-size: 14px;
	font-weight: bolder;
	top: 320px;
	left: 28px;
}
.hp_feature { position: relative; }