#bgImage { display: none; }
#backstretch { display: none !important; }
#fancybox-inner,#fancybox-overlay,#fancybox-wrap,#fancybox-tmp { display: none !important; }
body { color: Black !important; background-color: White !important; }
#conent { padding-left: 0px !important ;}

.printtitle { display: block; }
.screentitle { display: none; }