#csr_slider {
	list-style: none !important;
}

#csr_slider li {
	background: none repeat scroll 0 0 #F1F1F1;
	border: medium none;
	float: left;
	margin: 20px 0 0 0;
	padding: 10px;
	position: relative;
	width: 96%;
}

#csr_slider li .csr_image {
	float: left;
	padding-top: 20px;
	width: 30%;
}

#csr_slider li .csr_text {
	float: left; 
	padding-top: 20px;
	width: 70%;
}