/* Sliding Subnav Styles */
.slidenav-container {height:62px;}
.slidenav {margin: 0px; position: relative; width:99.8%}
.slidenav a { color: #616161;text-decoration: none; font-size:12px; font-weight:bold; text-transform:uppercase;}
.slidenav ul, .slidenav ul li {list-style: none;position: relative; z-index: 5;}
.slidenav ul li a{background:#b2a599; color: #fff; cursor: pointer; display: block; font-size: 13px; font-weight: 700; height: 25px; width:135px; line-height: 25px; margin: 0px 2px; padding: 0em; text-align:center; position: relative; text-decoration: none; text-transform:uppercase; font-family: 'OpenSansLight';}
.slidenav ul li a.nobrd{border-right:none}
.subnav ul li a{font-size:11px; padding:5px; margin-right:10px;}
.subnav ul li a:hover{background:#ffd602;}
.subnav ul li a.nobrd{border-right:none}
.slidenav ul li a.selected{background:#5a5b5d; color:#616161;}
.subnav ul li a.selected, .subnav ul li.current_page_item a  {background:#ffd600; color:#616161; border-right:none}
.subnav ul li, .subnav ul, .slidenav-box { line-height: 0.5em; list-style: none; padding-top:2px;}
.slidenav ul a { display: block; padding: 5px;}
.subnav ul a { display: block; padding: 4px 12px 3px 12px;}
.slidenav ul li, .subnav ul li { float: left;}
.slidenav ul li ul { display: none; position: absolute; top: 3em; left: 0;}
.slidenav ul li:hover ul { display: block; z-index:10000;}
.subnav ul { display: none; font-size: 13px;}
.subnav ul a { color: #616161; text-decoration: none; font-size:11px; text-transform:uppercase;}
.slidenav-box { margin: 5px 0px; /*border-top: 1px solid #aab9a3;*/ padding: 0px 0px;}
.inactive-box { visibility: hidden;}
.sm01 {width:675px; height:4px;}
.sm02 {width:675px; height:4px;}
.sm03 {width:675px; height:4px;}
.sm04 {width:675px; height:4px;}

.slidenav a:hover {background-color: #616163; color: #fff;}
.slidenav .current_page_item a, .slidenav .current-page-ancestor a {background:url(../images/menuBg.png)/*tpa=http://www.loews.com/loews-content/themes/loews/images/menuBg.png*/ center top !important;}
.slidenav .current-menu-parent a {background:url(../images/menuBg.png)/*tpa=http://www.loews.com/loews-content/themes/loews/images/menuBg.png*/ center top; filter: none;}


/* End Sliding Subnav Styles */
