/* -------------------------------------------------- 
	Table of Contents
-----------------------------------------------------
:: Content-stack
:: Images
:: Links
:: Grid
:: Skin
:: Typography
:: Search Box
:: Top Navigation
:: Menu Button & Search Icon
:: Bottom Navigation
:: Breadcrumbs
:: Buttons (custom)
:: Callouts
:: Forms
:: Icon-Text Links
:: Image Blocks
:: Left Navigation
:: Lists (custom)
:: Misc
:: Modal Window
:: Photos / Graphics
:: Print
:: Tables
:: Tabs
:: Text Wrapping
:: Videos

LOCALIZED STYLES
:: News
:: Earnings
:: Search Results
:: Youtube
*/



/* -----------------------------------------
	:: Content-stack
----------------------------------------- */
@media only screen and (min-width: 481px) and (max-width: 768px) {
	.content .container { min-width: 0; margin-left: 0; margin-right: 0; }
	.content .row { width: 100%; min-width: 0; margin-left: 0; margin-right: 0; }
	.content .row .row .column, .content .row .row .columns { padding: 0; }
	.content .column, .content .columns { width: auto !important; float: none; margin-left: 0; margin-right: 0; margin-bottom: 1em; }
	.content .column:last-child, .content .columns:last-child { margin-right: 0; float: none; }
	.content [class*="column"] + [class*="column"]:last-child { float: none; }
	.content .column:before, .content .columns:before, .content .column:after, .content .columns:after { content:""; display:table; }
	.content .column:after, .content .columns:after { clear: both; }				

	.content-stack .container { min-width: 0; margin-left: 0; margin-right: 0; }
	.content-stack .row { width: 100%; min-width: 0; margin-left: 0; margin-right: 0; }
	.content-stack .row .row .column, .content-stack .row .row .columns { padding: 0; }
	.content-stack .column, .content-stack .columns { width: auto !important; float: none; margin-left: 0; margin-right: 0; margin-bottom: 1em; }
	.content-stack .column:last-child, .content-stack .columns:last-child { margin-right: 0; float: none; }
	.content-stack [class*='column'] + [class*='column']:last-child { float: none; }
	.content-stack .column:before, .content-stack .columns:before, .content-stack .column:after, .content-stack .columns:after { content:''; display:table; }
	.content-stack .column:after, .content-stack .columns:after { clear: both; }	

	.row .left-nav-expand-to-four { width: 31.182795698924731182795698924731%; }	/* 4*50+3*30   = 290 / 930 ~=  31.2% */
	.row .content-contract-to-eight { width: 65.591397849462365591397849462366%; }	/* 8*50+7*30   = 610 / 930 ~=  65.6% */

}
@media only screen and (max-width: 480px) {
	.content .column, .content .columns,
	.content-stack .column, .content-stack .columns { margin-bottom: 1em; }
}

@media only screen and (min-width: 481px) and (max-width: 600px) {
	.row .content-only-zero { display: none; }
	.row .content-only-twelve { width: 100%; margin-left: 0; }

	.content-only-hide { display: none; }

}
@media only screen and (max-width: 768px) {
	.content-stack-hide { display: none; }
}

.single-column-show { display: none !important; }
.single-column-hide { display: none !important; }
.multi-column-show { display: block !important; }
.multi-column-hide { display: none !important; }

@media only screen and (max-width: 768px) {
	.single-column-show { display: block !important; }
	.single-column-hide { display: none !important; }
	.multi-column-show { display: none !important; }
	.multi-column-hide { display: none !important; }
}



/* -----------------------------------------
	:: Images
----------------------------------------- */
.crop-left {
	/*max-width: 690px;*/
	max-width: 300px;
	max-height: 140px;
	overflow: hidden;
}
.crop-left img { max-width: inherit; width: auto; }

/* -----------------------------------------
	:: Links
----------------------------------------- */
a:visited { color: #8560a8; }
/*a.button:visited { color: inherit; }*/
.adjacent-link-spacing a { margin-right: 1em; }

/* -----------------------------------------
	:: Grid
----------------------------------------- */

@media only screen and (max-width: 1000px) { .full-width-below-1000 { width: 100% !important; margin-left: 0; } }
@media only screen and (max-width: 950px) { .full-width-below-950 { width: 100% !important; margin-left: 0; } }
@media only screen and (max-width: 900px) { .full-width-below-900 { width: 100% !important; margin-left: 0; } }
@media only screen and (max-width: 850px) { .full-width-below-850 { width: 100% !important; margin-left: 0; } }
@media only screen and (max-width: 800px) { .full-width-below-800 { width: 100% !important; margin-left: 0; } }
@media only screen and (max-width: 750px) { .full-width-below-750 { width: 100% !important; margin-left: 0; } }
@media only screen and (max-width: 700px) { .full-width-below-700 { width: 100% !important; margin-left: 0; } }
@media only screen and (max-width: 650px) { .full-width-below-650 { width: 100% !important; margin-left: 0; } }
@media only screen and (max-width: 600px) { .full-width-below-600 { width: 100% !important; margin-left: 0; } }
@media only screen and (max-width: 550px) { .full-width-below-550 { width: 100% !important; margin-left: 0; } }
@media only screen and (max-width: 500px) { .full-width-below-500 { width: 100% !important; margin-left: 0; } }

@media only screen and (max-width: 480px) {
	/* Mobile 4-column Grid */
	.row .phone-one:first-child, .row .phone-two:first-child, .row .phone-three:first-child, .row .phone-four:first-child { margin-left: 0; }
	.row .phone-one:last-child, .row .phone-two:last-child, .row .phone-three:last-child, .row .phone-four:last-child { float: right; }
		
	.row .phone-one, .row .phone-two, .row .phone-three, .row .phone-four { margin-left: 4.4%; float: left; min-height: 1px; position: relative; padding: 0; }
		
	.row .phone-one, .content .row .phone-one		{ width: 21.68% !important; }
	.row .phone-two, .content .row .phone-two		{ width: 47.8% !important; }
	.row .phone-three, .content .row .phone-three	{ width: 73.9% !important; }
	.row .phone-four, .content .row .phone-four		{ width: 100% !important; margin-left: 0; }				
		
	.phone-hide { display:none; }
	.phone-zero { display:none; }		
}


/* -----------------------------------------
	:: Skin
----------------------------------------- */
b, strong, .bold { font-family: "Avenir LT W01 85 Heavy", Arial, Helvetica, Sans-Serif; font-weight: normal; }
body { color: #333; line-height: 1.4; }

header { 
	min-height: 75px; padding-top: 25px; 
	background-color: #2564a6; 
	background-image: linear-gradient(left , #2564a6 0%, #20558a 100%);
	background-image: -o-linear-gradient(left , #2564a6 0%, #20558a 100%);
	background-image: -moz-linear-gradient(left , #2564a6 0%, #20558a 100%);
	background-image: -webkit-linear-gradient(left , #2564a6 0%, #20558a 100%);
	background-image: -ms-linear-gradient(left , #2564a6 0%, #20558a 100%);
	background-image: -webkit-gradient(linear,left top,right top,color-stop(0, #2564a6),color-stop(1, #20558a));
}
header .three { padding-top: 12px; padding-top: 1.2rem; }
header .two { padding-top: 10px; padding-top: 1.0rem; }

header .eight { padding-top: 14px; }
header .eight img { margin: 0 2px; }

.mid-wrap-full { background-image: url(../../../images/skin/template/mid-wrap-full-repeat-x.png)/*tpa=http://www.aep.com/images/skin/template/mid-wrap-full-repeat-x.png*/; background-repeat: repeat-x; padding-bottom: 3em; }
.mid-wrap-inner { 
	width: 100%; max-width: 960px; min-height: 540px; margin: 0 auto; 
	background-color: #fff; 
	background-image: url(../../../images/skin/template/mid-wrap-inner-repeat-x.png)/*tpa=http://www.aep.com/images/skin/template/mid-wrap-inner-repeat-x.png*/;
	background-repeat: repeat-x;
	padding-top: 30px;
}
.mid-wrap-outer { 
	width: 100%; max-width: 990px; margin: 0 auto; 
	background-image: url(../../../images/skin/template/mid-shadows-interior.png)/*tpa=http://www.aep.com/images/skin/template/mid-shadows-interior.png*/; background-repeat: no-repeat;
}

.footerDivision { 
	background-color: #f7f6f6;
	border-top: 1px solid #dbdbdb; 
	height: 37px;
}
@media only screen and (max-width: 767px) {
	.footerDivision { 
		border-top: 5px solid #394a59;
		background-image: linear-gradient(top, #bdbdbd 0%, #f7f6f6 25%);
		background-image: -o-linear-gradient(top, #bdbdbd 0%, #f7f6f6 25%);
		background-image: -moz-linear-gradient(top, #bdbdbd 0%, #f7f6f6 25%);
		background-image: -webkit-linear-gradient(top, #bdbdbd 0%, #f7f6f6 25%);
		background-image: -ms-linear-gradient(top, #bdbdbd 0%, #f7f6f6 25%);
		background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #bdbdbd),color-stop(0.25, #f7f6f6));
		font-size: 0;
		margin-bottom: -1px;
	}
}
.footerMenu { 
	padding: 0 0 37px 0; background-color: #f7f6f6;
} 
.footerMenu, .footerMenu p { font-size: 12px; font-size: 1.2rem; }
.footerMenu a.section { font-family: "Avenir LT W01 85 Heavy", Arial, Helvetica, Sans-Serif; font-size: 13px; font-size: 1.3rem; }
.footerMenu a { display: block; }
.footerMenu li > a { text-decoration: none; color: #333; }
.footerMenu a.section { color: #007EFF; margin-bottom: 1em; }
.footerMenu a.section:visited { color: #8560a8; }
.footerMenu p { margin-bottom: 0.5em; }

footer { background-color: #efeeed; border-top: 1px solid #dbdbdb; padding-top: 40px; min-height: 180px;  }
footer .social img { margin: 0 2px; }



@media only screen and (max-width: 960px) {
	/* Collapse footerMenu columns earlier than mobile */
		.footerMenu .row { width: 100%; min-width: 0; margin-left: 0; margin-right: 0; }
		.footerMenu .row .row .column, .footerMenu .row .row .columns { padding: 0; }
		.footerMenu .column, .footerMenu .columns { width: auto !important; float: none; margin-left: 0; margin-right: 0; }
		.footerMenu .column:last-child, .footerMenu .columns:last-child { margin-right: 0; float: none; }
		.footerMenu [class*="column"] + .footerMenu [class*="column"]:last-child { float: none; }
		.footerMenu .column:before, .footerMenu .columns:before, .footerMenu .column:after, .footerMenu .columns:after { content:""; display:table; }
		.footerMenu .column:after, .footerMenu .columns:after { clear: both; }

		.footer-hide { display: none; }
}
@media only screen and (min-width: 1024px) { .container { padding: 0 15px;} }
@media only screen and (min-width: 481px) and (max-width: 1023px) { .container { padding: 0 39px;} }
@media only screen and (max-width: 480px) {
	.container { padding: 0 15px;}
	.container.phone-padding-right-0 { padding-right: 0; }

	body { background-color: #3c3c3c; }
	header { min-height: 1px; margin: 10px 0 5px; padding: 0; }
	header .row .columns.col-mobile-logo { line-height: 0; text-align: center; line-height: 3.8em; width: 28.68% !important; }
	header .col-mobile-logo img { max-height: 45px; vertical-align: middle; }
	header .row .phone-three.col-mobile-menu { background-color: #e2e1dd; font-size: 0; width: 66.9% !important; }

	
	.mid-wrap-full { padding-bottom: 0; }
	.mid-wrap-inner { min-height: 0; padding-bottom: 30px; }

	footer .social { text-align: center; }
	footer .wePower .social { text-align: left; clear: both; display: block; padding-top: 2em; }

	.block-grid.phone-one-up { display: block; overflow: hidden; }
	.block-grid.phone-one-up>li { display: block; height: auto; float: left; }

	.block-grid.phone-two-up { margin-left: -4% }
	.block-grid.phone-two-up>li { margin-left: 4%; width: 46%; margin-bottom: 4%;}
	
}
@media only screen and (max-width: 767px) { .row .under-large-tablet-hide { display: none; } }


input { font-family: "Avenir LT W01 55 Roman", Arial, Helvetica, Sans-Serif; font-size: 13px; font-size: 1.3rem; }
li { margin-bottom: 6px; }
ol, ul.square, ul.circle, ul.disc { margin-left: 1em; }
ul.disc li { margin-bottom: 2px; }
.lead, p.lead { margin-top: 1em; }


/* -----------------------------------------
	:: Typography
----------------------------------------- */
h1 { font-family: "Avenir LT W01 35 Light", Arial, Helvetica, Sans-Serif; font-size: 32px; font-size: 3.2rem; margin-bottom: 0.4em; }
h2 { font-family: "Avenir LT W01 35 Light", Arial, Helvetica, Sans-Serif; font-size: 20px; font-size: 2.0rem; margin-bottom: 0.9em; }
h1, h2, .text-shadow { text-shadow: 1px 1px 2px #b2b2b2; }
h3, h4, h5, h6 { font-family: "Avenir LT W01 85 Heavy", Arial, Helvetica, Sans-Serif; font-size: 14px; font-size: 1.4rem; margin-bottom: 0.7em; }

/*
h2, h3 { margin-top: 1em; }
*>h2:first-child, *>h3:first-child { margin-top: 0; }
*/

h2 + cite { font-family: "Avenir LT W01 55 Roman",Arial,Helvetica,Sans-Serif; text-shadow: 1px 1px 2px #b2b2b2; color: #777777; margin-top: -0.5em; margin-bottom: 1.5em; }
cite { display: block; margin-bottom: 1em; }
cite:before { content: "- "; }

h2 small, 
h2.small,
h3 small,
h3.small { font-family: "Avenir LT W01 55 Roman", Arial, Helvetica, Sans-Serif; font-size: 14px; font-size: 1.4rem; margin-bottom: 0.7em; }
h2.title { font-family: "Avenir LT W01 85 Heavy", Arial, Helvetica, Sans-Serif; font-size: 16px; font-size: 1.6rem; color: #394A59; text-shadow: 1px 1px 2px #ACC0C7; }

p { line-height: 1.4; }

.small-column, .small-column p { font-size: 13px; font-size: 1.3rem; }
.small-column h2 { font-size: 16px; font-size: 1.6rem; }
.small-column .button { padding-top: 10px; padding-bottom: 10px; }
.small-column a { font-family: "Avenir LT W01 85 Heavy", Arial, Helvetica, Sans-Serif; }
.small-column p a { font-family: inherit; }
.small-column hr { border-color: #d4e4f2; }


.small-text, .small-text p { font-size: 12px; font-size: 1.2rem; }
.small-text-13, .small-text-13 p { font-size: 13px; font-size: 1.3rem; }


/* -----------------------------------------
	:: Search Box
----------------------------------------- */
#divSearchContainer { position: absolute; top: 0; left: 0; width: 100%; }
#divSearchContainer .search { 
	position: absolute; top: 38px; right: 120px;
	height: 29px; width: 236px;
	border: 0; padding: 1px 10px;
}
#divSearchContainer input[type='image'] { position: absolute; top: 38px; right: 120px;  }
@media only screen and (min-width: 961px) and (max-width: 1000px) { 
	#divSearchContainer .search { right: 140px; } 
	#divSearchContainer input[type='image'] { right: 140px;  }
}
@media only screen and (min-width: 931px) and (max-width: 960px) { 
	#divSearchContainer .search { right: 150px; } 
	#divSearchContainer input[type='image'] { right: 150px;  }
}
@media only screen and (min-width: 768px) and (max-width: 930px) { 
	#divSearchContainer .search { right: 160px; }
	#divSearchContainer input[type='image'] { right: 160px;  } 
}
@media only screen and (max-width: 767px) { 
	#divSearchContainer .search { right: 40px; } 
	#divSearchContainer input[type='image'] { right: 40px;  }
}
@media only screen and (max-width: 560px) { #divSearchContainer .search { width: 50%; }  }



#divSearchMobileContainer { position: absolute; top: 55px; left: 0; width: 100%; height: 60px; z-index: 1; }
.mid-wrap-inner.searchVisible { padding-top: 80px; }
#divSearchMobile {
	display: none;
	background-color: #333; border-top: 5px solid #3c3c3c; border-bottom: 5px solid #3c3c3c;
	padding: 14px 0;
}
#divSearchMobile input[type='submit'] {
	background:none!important;
   border:none; 
   padding:0!important;
	color: #007eff;
	font-size: 15px; font-size: 1.5rem;
	font-family: "Avenir LT W01 85 Heavy", Arial, Helvetica, Sans-Serif;
	cursor: pointer;
	margin-top: 2px;
}



/* -----------------------------------------
	:: Top Navigation
----------------------------------------- */
/*
TOP NAV
931+		14pt	Normal
768-930	12pt	Normal
640-767	14pt	Stacked
481-639	12pt	Stacked
0-480		N/A	MENU
*/
.top-nav {
	min-height: 50px;
	position: relative;
	
	background-image: linear-gradient(top, #FFFFFF 50%, #EFEEED 50%);
	background-image: -o-linear-gradient(top, #FFFFFF 50%, #EFEEED 50%);
	background-image: -moz-linear-gradient(top, #FFFFFF 50%, #EFEEED 50%);
	background-image: -webkit-linear-gradient(top, #FFFFFF 50%, #EFEEED 50%);
	background-image: -ms-linear-gradient(top, #FFFFFF 50%, #EFEEED 50%);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.5, #FFFFFF),color-stop(0.5, #EFEEED));	
	
	border-top: 5px solid #E2E1DD;
	border-bottom: 5px solid #3C3C3C;

	text-align: center;
}
.top-nav-right { position: absolute; top: 0; right:0; z-index: 1; width: 23%; min-height: 50px; right: 0; }
.top-nav-container { position: relative; width: 100%; max-width: 930px; min-height: 50px;  margin: 0 auto; }
.top-nav-center { position: absolute; z-index: 2; width: 100%; min-height: 50px; top: 0; left: 0; }
/* top-nav-items contains the actual menu items */
.top-nav-items { display: inline-block; margin-top: 16px; }
.top-nav a { 
	display: inline; padding: 10px 16px; 
	font-family: "Avenir LT W01 85 Heavy", Arial, Helvetica, Sans-Serif; font-size: 14px; font-size: 1.4rem; 
	text-transform: uppercase; color: #394a59;
	text-shadow: 1px 1px 2px #d9d9d9;
}
.top-nav a.selected,
.top-nav a:hover { color: #007eff; }
.top-nav-more { display: none; }
.top-nav-customer-service { display: none; }

/* tablet (top-nav typography) */
@media only screen and (min-width: 931px) and (max-width: 1023px) {
	.top-nav a { padding: 10px 15px;  }
}
@media only screen and (min-width: 901px) and (max-width: 930px) {
	.top-nav a { padding: 10px 14px;  }
}
@media only screen and (min-width: 850px) and (max-width: 900px) {
	.top-nav a { padding: 10px; }
}
@media only screen and (min-width: 800px) and (max-width: 849px) {
	.top-nav a { font-size: 13px; font-size: 1.3rem; padding: 10px 11px;  }
}
@media only screen and (min-width: 768px) and (max-width: 799px) {
	.top-nav a { font-size: 12px; font-size: 1.2rem; padding: 10px 11px;  }
}
/* tablet (top-nav stacked) */
@media only screen and (min-width: 481px) and (max-width: 767px) {
	.top-nav { 
		background-image: linear-gradient(top, #FFFFFF 25%, #EFEEED 25%);
		background-image: -o-linear-gradient(top, #FFFFFF 25%, #EFEEED 25%);
		background-image: -moz-linear-gradient(top, #FFFFFF 25%, #EFEEED 25%);
		background-image: -webkit-linear-gradient(top, #FFFFFF 25%, #EFEEED 25%);
		background-image: -ms-linear-gradient(top, #FFFFFF 25%, #EFEEED 25%);
		background-image: -webkit-gradient(
			linear,
			left top,
			left bottom,
			color-stop(0.25, #FFFFFF),
			color-stop(0.25, #EFEEED)
		);		
	}
	.top-nav-center { font-size: 0; position: inherit; }
	.top-nav-right { z-index: -1; }
	.top-nav-items { width:100%; margin: 0 auto; text-align:left; font-size: 0; }
	.top-nav a { display: inline-block;  padding: 15px 4%; margin:0; width: 17%; border-top: 1px solid #d6d6d6; }
}
/* tablet transition (top-nav stacked adjustment) */
@media only screen and (min-width: 501px) and (max-width: 639px) {
	.top-nav a { padding: 15px 3%; width: 19%; }
}
@media only screen and (min-width: 481px) and (max-width: 500px) {
	.top-nav a { padding: 15px 3% 15px 2%; width: 20%; }
}
/* mobile */
@media only screen and (max-width: 480px) { 
	.top-nav { display: none; }
	.top-nav, .top-nav-container, .top-nav-center { min-height: 0; }	
	.top-nav-center { position: inherit; }
	.top-nav-items { font-size: 0; margin: 0; }

	.top-nav  { background-color: #fff; background-image: none; display: none; }
	.top-nav, .top-nav-container, .top-nav-center { min-height: 0; }	
	.top-nav-center { 
		position: inherit; 
		background-image: url(../../../images/skin/template/top-nav-menu-repeat-y.gif)/*tpa=http://www.aep.com/images/skin/template/top-nav-menu-repeat-y.gif*/; background-repeat: repeat-y; background-position: center; 
	}	
	.top-nav-center a {		 
		display: inline-block; width: 44%; padding: 13px 3%; padding: 1.3rem 3%; margin-bottom: 0; 
		border-bottom: 1px solid #dbdbdb; text-align: left;
		font-family: "Avenir LT W01 85 Heavy", Arial, Helvetica, Sans-Serif; font-size: 13px; font-size: 1.3rem; 
		color:#394a59; text-transform: uppercase; 
		background-image: url(../../../images/skin/template/top-nav-arrow.png)/*tpa=http://www.aep.com/images/skin/template/top-nav-arrow.png*/; background-repeat: no-repeat; background-position: right center;
	}
	.top-nav-center a:hover, .top-nav-center a:focus { background-color: #ededed; color: #394a59; text-shadow: inherit; }
	.interior .top-nav-more { display: block; }
	.top-nav-more a {
		background-image: none;
		display: inline-block;
		font-size: 13px; font-size: 1.3rem;
		padding-right: 10px;
	}
	.top-nav-more img { vertical-align: middle; }

	.home .top-nav-customer-service { display: block; padding: 10px 15px; }
	.top-nav-customer-service a {
		color: #007EFF;
		display: inline-block;
		font-size: 13px; font-size: 1.3rem;
		text-transform: none;
	}
}

/* -----------------------------------------
	:: Menu Button & Search Icon
----------------------------------------- */
/* aMenu is the menu button, aSearch is the search icon, only visible in mobile */
#aMenu, #aSearch { display: none; }
@media only screen and (max-width: 480px) {
	#aMenu { 
		background-color: #fff; 
		display: inline-block; width: 70%; height: 22px;
		margin-top: 5px; padding: 15px 0; text-align: center; cursor: pointer;
		font-family: "Avenir LT W01 85 Heavy", Arial, Helvetica, Sans-Serif; font-size: 18px; font-size: 1.8rem; 
		color: #394a59;
		
		background-image: linear-gradient(top, #FFFFFF 50%, #EFEEED 50%);
		background-image: -o-linear-gradient(top, #FFFFFF 50%, #EFEEED 50%);
		background-image: -moz-linear-gradient(top, #FFFFFF 50%, #EFEEED 50%);
		background-image: -webkit-linear-gradient(top, #FFFFFF 50%, #EFEEED 50%);
		background-image: -ms-linear-gradient(top, #FFFFFF 50%, #EFEEED 50%);
		background-image: -webkit-gradient(
			linear,
			left top,
			left bottom,
			color-stop(0.5, #FFFFFF),
			color-stop(0.5, #EFEEED)
		);			
	}
	#aMenu img { margin-left: 10px; }
	
	#aSearch { 
		background-color: #fff; 
		display: inline-block; width: 28%; margin-left: 1%; height: 20px;
		margin-top: 5px; padding: 18px 0 14px 0; text-align: center; cursor: pointer;
		color: #394a59;		
	}
	#aSearch img { margin-left: 10px; }
}




/* -----------------------------------------
	:: Bottom Navigation
----------------------------------------- */
.bottom-nav { display: none; background-color: #fff; }
@media only screen and (max-width: 480px) {
	.bottom-nav { display: block; }
	.bottom-nav a { 
		display: block;

		background-image: url(../../../images/skin/template/top-nav-arrow.png)/*tpa=http://www.aep.com/images/skin/template/top-nav-arrow.png*/; background-repeat: no-repeat; background-position: right center;
		border-bottom: 1px solid #d4e4f2;
		font-family: "Avenir LT W01 85 Heavy", Arial, Helvetica, Sans-Serif; font-size: 13px; font-size: 1.3rem;
		padding: 15px; 
	}
	.bottom-nav a.selected,
	.bottom-nav a:hover { color: #394a59; }
	.bottom-nav .section {
		background-image: linear-gradient(left , #e3edf7 21%, #FFFFFF 62.5%);
		background-image: -o-linear-gradient(left , #e3edf7 21%, #FFFFFF 62.5%);
		background-image: -moz-linear-gradient(left , #e3edf7 21%, #FFFFFF 62.5%);
		background-image: -webkit-linear-gradient(left , #e3edf7 21%, #FFFFFF 62.50%);
		background-image: -ms-linear-gradient(left , #e3edf7 21%, #FFFFFF 62.5%);
		background-image: -webkit-gradient(linear,left top,right top,color-stop(0.2, #e3edf7),color-stop(0.625, #FFFFFF));	

		color: #394a59;
		font-family: "Avenir LT W01 85 Heavy", Arial, Helvetica, Sans-Serif; font-size: 13px; font-size: 1.3rem;
		text-transform: uppercase;
	}
	.bottom-nav .section a {
		background-image: none;
		border-bottom: 1px solid #d4e4f2;
		color: #394a59;
		font-family: "Avenir LT W01 35 Light", Arial, Helvetica, Sans-Serif; font-size: 16px; font-size: 1.6rem;
	}
	#divBackToTop {
		background-color: inherit;
		background-image: linear-gradient(top, #FFFFFF 55%, #EFEEED 55%);
		background-image: -o-linear-gradient(top, #FFFFFF 55%, #EFEEED 55%);
		background-image: -moz-linear-gradient(top, #FFFFFF 55%, #EFEEED 55%);
		background-image: -webkit-linear-gradient(top, #FFFFFF 55%, #EFEEED 55%);
		background-image: -ms-linear-gradient(top, #FFFFFF 55%, #EFEEED 55%);
		background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.55, #FFFFFF),color-stop(0.55, #EFEEED));	
	}
	#aBackToTop { 
		border-top: 5px solid #d4e4f2; color: #333; 
		background-image: url(../../../images/skin/template/bottom-nav-arrow-up.png)/*tpa=http://www.aep.com/images/skin/template/bottom-nav-arrow-up.png*/; 
		background-position: 94% center;
	}
}

/* -----------------------------------------
	:: Breadcrumbs
----------------------------------------- */
.breadcrumbs { 
	background-image: linear-gradient(left , #EFEEED 0%, #FFFFFF 9%);
	background-image: -o-linear-gradient(left , #EFEEED 0%, #FFFFFF 9%);
	background-image: -moz-linear-gradient(left , #EFEEED 0%, #FFFFFF 9%);
	background-image: -webkit-linear-gradient(left , #EFEEED 0%, #FFFFFF 9%);
	background-image: -ms-linear-gradient(left , #EFEEED 0%, #FFFFFF 9%);
	background-image: -webkit-gradient(linear,left top,right top,color-stop(0, #EFEEED),color-stop(.09, #FFFFFF));

	border-bottom: 1px solid #dbdbdb;
	min-height: 30px;
	padding-left: 5px;
	margin-bottom: 32px;
	position: relative;
}
.breadcrumbs a { display: inline-block; padding: 6px 5px; font-size: 13px; font-size: 1.3rem; }
.breadcrumbs a.selected { color: #000; }
.breadcrumbs .home-icon { position: absolute; top: 2px; left: 5px; }
.breadcrumbs .nodes { margin-left: 32px; }

/* -----------------------------------------
	:: Buttons (custom)
----------------------------------------- */
.button { padding: 8px 0 9px 0; text-align: left; }
.button.right { padding-right: 1em; }
.button:hover, .button:focus { }
.button.transparent { background-color: Transparent; background-image: none; }
.button.transparent:hover,.button.transparent:active { color: #007eff; }
.button.arrow {
	background-image: url(../../../images/skin/icons/icon-arrow-right.png)/*tpa=http://www.aep.com/images/skin/icons/icon-arrow-right.png*/; background-repeat: no-repeat; background-position: 0; 
	text-indent: 20px; text-align: left;
}
.button.arrow.full-width { padding-left: 8% !important; padding-right: 5% !important; width: 87%; text-indent: inherit; }
@media only screen and (min-width: 769px) and (max-width: 950px) {
	.button.arrow.full-width { padding-left: 9% !important; padding-right: 5% !important; width: 86%; text-indent: inherit; }
}
@media only screen and (min-width: 601px) and (max-width: 768px) {
	.button.arrow.full-width { padding-left: 6% !important; padding-right: 5% !important; width: 89%; text-indent: inherit; }
}
@media only screen and (min-width: 401px) and (max-width: 480px) {
	.button.arrow.full-width { padding-left: 6% !important; padding-right: 5% !important; width: 89%; text-indent: inherit; }
}
@media only screen and (max-width: 400px) {
	.button.arrow.full-width { padding-left: 7% !important; padding-right: 5% !important; width: 88%; text-indent: inherit; }
}

.button.banner-goto {
	background-color: Transparent;
	background-image: url(../../../images/skin/icons/icon-banner-goto.png)/*tpa=http://www.aep.com/images/skin/icons/icon-banner-goto.png*/; background-repeat: no-repeat; background-position: 0; 
	text-indent: 38px; text-align: left;
}
.button.circle-arrow { 
	background-color: Transparent;
	background-image: url(../../../images/skin/icons/icon-circle-arrow.png)/*tpa=http://www.aep.com/images/skin/icons/icon-circle-arrow.png*/; background-repeat: no-repeat; background-position: 0; 
	text-indent: 0; padding-left: 35px;
}
.button.circle-pdf { 
	background-color: Transparent;
	background-image: url(../../../images/skin/icons/icon-circle-pdf.png)/*tpa=http://www.aep.com/images/skin/icons/icon-circle-pdf.png*/; background-repeat: no-repeat; background-position: 0; 
	text-indent: 0; padding-left: 35px;
}
.button.circle-print { 
	background-color: Transparent;
	background-image: url(../../../images/skin/icons/icon-circle-print.png)/*tpa=http://www.aep.com/images/skin/icons/icon-circle-print.png*/; background-repeat: no-repeat; background-position: 0; 
	text-indent: 0; padding-left: 35px;
}
.button.circle-xls {
	background-color: Transparent;
	background-image: url(../../../images/skin/icons/icon-circle-xls.png)/*tpa=http://www.aep.com/images/skin/icons/icon-circle-xls.png*/; background-repeat: no-repeat; background-position: 0; 
	text-indent: 0; padding-left: 35px;
}
.button.circle-square {
	background-color: Transparent;
	background-image: url(../../../images/skin/icons/icon-circle-square.png)/*tpa=http://www.aep.com/images/skin/icons/icon-circle-square.png*/; background-repeat: no-repeat; background-position: 0; 
	text-indent: 0; padding-left: 35px;
}


.button.customer-service { 
	background-image: linear-gradient(top, #e7f2fa 0%, #d4e4f2 64%);
	background-image: -o-linear-gradient(top, #e7f2fa 0%, #d4e4f2 64%);
	background-image: -moz-linear-gradient(top, #e7f2fa 0%, #d4e4f2 64%);
	background-image: -webkit-linear-gradient(top, #e7f2fa 0%, #d4e4f2 64%);
	background-image: -ms-linear-gradient(top, #e7f2fa 0%, #d4e4f2 64%);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #e7f2fa),color-stop(0.64, #d4e4f2));	
	
	text-indent: 45px; 

	-webkit-box-shadow: 1px 2px 2px #acc0c7;
	-moz-box-shadow:	1px 2px 2px #acc0c7;
	box-shadow: 1px 2px 2px #acc0c7; 

	border: 1px solid #d4e4f2;
	margin-bottom: 10px;

	padding-top: 5px; padding-bottom: 5px;
	text-indent: 0;

	padding-right: 5% !important;
	width: 95%;
}
.button.customer-service img { margin: 0 5px; float: left; }
.button.customer-service .text { overflow: hidden; margin-top: 5px; padding-bottom: 3px; }

.button.customer-service {
	background-repeat: no-repeat;
	background-position: 5px center, left top;
	
	padding: 0.9em 5% 0.9em 24% !important;
	width: 71%;
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
	.button.customer-service {	padding: 0.9em 5% 0.9em 25% !important; width: 70%;	}
}
@media only screen and (min-width: 600px) and (max-width: 699px) {
	.button.customer-service {	padding: 0.9em 5% 0.9em 23% !important; width: 72%;	}
}
@media only screen and (max-width: 599px) {
	.button.customer-service {	padding: 0.9em 5% 0.9em 30% !important; width: 65%;	}
}
@media only screen and (min-width: 401px) and (max-width: 480px) {
	.button.customer-service {	padding-left: 12% !important; width: 83%;	}
}
@media only screen and (max-width: 400px) {
	.button.customer-service {	padding-left: 15% !important; width: 80%;	}
}
.button.customer-service.bills {
	background-image: url(../../../images/skin/buttons/button-icon-bills.png)/*tpa=http://www.aep.com/images/skin/buttons/button-icon-bills.png*/, linear-gradient(top, #e7f2fa 0%, #d4e4f2 64%);
	background-image: url(../../../images/skin/buttons/button-icon-bills.png)/*tpa=http://www.aep.com/images/skin/buttons/button-icon-bills.png*/, -o-linear-gradient(top, #e7f2fa 0%, #d4e4f2 64%);
	background-image: url(../../../images/skin/buttons/button-icon-bills.png)/*tpa=http://www.aep.com/images/skin/buttons/button-icon-bills.png*/, -moz-linear-gradient(top, #e7f2fa 0%, #d4e4f2 64%);
	background-image: url(../../../images/skin/buttons/button-icon-bills.png)/*tpa=http://www.aep.com/images/skin/buttons/button-icon-bills.png*/, -webkit-linear-gradient(top, #e7f2fa 0%, #d4e4f2 64%);
	background-image: url(../../../images/skin/buttons/button-icon-bills.png)/*tpa=http://www.aep.com/images/skin/buttons/button-icon-bills.png*/, -ms-linear-gradient(top, #e7f2fa 0%, #d4e4f2 64%);
	background-image: url(../../../images/skin/buttons/button-icon-bills.png)/*tpa=http://www.aep.com/images/skin/buttons/button-icon-bills.png*/, -webkit-gradient(linear,left top,left bottom,color-stop(0, #e7f2fa),color-stop(0.64, #d4e4f2));
}
.button.customer-service.outages {
	background-image: url(../../../images/skin/buttons/button-icon-outages.png)/*tpa=http://www.aep.com/images/skin/buttons/button-icon-outages.png*/, linear-gradient(top, #e7f2fa 0%, #d4e4f2 64%);
	background-image: url(../../../images/skin/buttons/button-icon-outages.png)/*tpa=http://www.aep.com/images/skin/buttons/button-icon-outages.png*/, -o-linear-gradient(top, #e7f2fa 0%, #d4e4f2 64%);
	background-image: url(../../../images/skin/buttons/button-icon-outages.png)/*tpa=http://www.aep.com/images/skin/buttons/button-icon-outages.png*/, -moz-linear-gradient(top, #e7f2fa 0%, #d4e4f2 64%);
	background-image: url(../../../images/skin/buttons/button-icon-outages.png)/*tpa=http://www.aep.com/images/skin/buttons/button-icon-outages.png*/, -webkit-linear-gradient(top, #e7f2fa 0%, #d4e4f2 64%);
	background-image: url(../../../images/skin/buttons/button-icon-outages.png)/*tpa=http://www.aep.com/images/skin/buttons/button-icon-outages.png*/, -ms-linear-gradient(top, #e7f2fa 0%, #d4e4f2 64%);
	background-image: url(../../../images/skin/buttons/button-icon-outages.png)/*tpa=http://www.aep.com/images/skin/buttons/button-icon-outages.png*/, -webkit-gradient(linear,left top,left bottom,color-stop(0, #e7f2fa),color-stop(0.64, #d4e4f2));
}
.button.customer-service.start-stop {
	background-image: url(../../../images/skin/buttons/button-icon-start-stop.png)/*tpa=http://www.aep.com/images/skin/buttons/button-icon-start-stop.png*/, linear-gradient(top, #e7f2fa 0%, #d4e4f2 64%);
	background-image: url(../../../images/skin/buttons/button-icon-start-stop.png)/*tpa=http://www.aep.com/images/skin/buttons/button-icon-start-stop.png*/, -o-linear-gradient(top, #e7f2fa 0%, #d4e4f2 64%);
	background-image: url(../../../images/skin/buttons/button-icon-start-stop.png)/*tpa=http://www.aep.com/images/skin/buttons/button-icon-start-stop.png*/, -moz-linear-gradient(top, #e7f2fa 0%, #d4e4f2 64%);
	background-image: url(../../../images/skin/buttons/button-icon-start-stop.png)/*tpa=http://www.aep.com/images/skin/buttons/button-icon-start-stop.png*/, -webkit-linear-gradient(top, #e7f2fa 0%, #d4e4f2 64%);
	background-image: url(../../../images/skin/buttons/button-icon-start-stop.png)/*tpa=http://www.aep.com/images/skin/buttons/button-icon-start-stop.png*/, -ms-linear-gradient(top, #e7f2fa 0%, #d4e4f2 64%);
	background-image: url(../../../images/skin/buttons/button-icon-start-stop.png)/*tpa=http://www.aep.com/images/skin/buttons/button-icon-start-stop.png*/, -webkit-gradient(linear,left top,left bottom,color-stop(0, #e7f2fa),color-stop(0.64, #d4e4f2));
}
.button.customer-service.customer {
	background-image: url(../../../images/skin/buttons/button-icon-customer-service.png)/*tpa=http://www.aep.com/images/skin/buttons/button-icon-customer-service.png*/, linear-gradient(top, #e7f2fa 0%, #d4e4f2 64%);
	background-image: url(../../../images/skin/buttons/button-icon-customer-service.png)/*tpa=http://www.aep.com/images/skin/buttons/button-icon-customer-service.png*/, -o-linear-gradient(top, #e7f2fa 0%, #d4e4f2 64%);
	background-image: url(../../../images/skin/buttons/button-icon-customer-service.png)/*tpa=http://www.aep.com/images/skin/buttons/button-icon-customer-service.png*/, -moz-linear-gradient(top, #e7f2fa 0%, #d4e4f2 64%);
	background-image: url(../../../images/skin/buttons/button-icon-customer-service.png)/*tpa=http://www.aep.com/images/skin/buttons/button-icon-customer-service.png*/, -webkit-linear-gradient(top, #e7f2fa 0%, #d4e4f2 64%);
	background-image: url(../../../images/skin/buttons/button-icon-customer-service.png)/*tpa=http://www.aep.com/images/skin/buttons/button-icon-customer-service.png*/, -ms-linear-gradient(top, #e7f2fa 0%, #d4e4f2 64%);
	background-image: url(../../../images/skin/buttons/button-icon-customer-service.png)/*tpa=http://www.aep.com/images/skin/buttons/button-icon-customer-service.png*/, -webkit-gradient(linear,left top,left bottom,color-stop(0, #e7f2fa),color-stop(0.64, #d4e4f2));
}


.button.doc {
	-moz-box-shadow: 0px 3px 4px rgba(31,31,31,0.3);
	-webkit-box-shadow: 0px 3px 4px rgba(31,31,31,0.3);
	box-shadow: 0px 3px 4px rgba(31,31,31,0.3);


	border: 1px solid #d8aa00;
	background-color: #d8aa00;
	background-image: linear-gradient(top, #e8cd00 0%, #d8aa00 53%);
	background-image: -o-linear-gradient(top, #e8cd00 0%, #d8aa00 53%);
	background-image: -moz-linear-gradient(top, #e8cd00 0%, #d8aa00 53%);
	background-image: -webkit-linear-gradient(top, #e8cd00 0%, #d8aa00 53%);
	background-image: -ms-linear-gradient(top, #e8cd00 0%, #d8aa00 53%);

	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #e8cd00),
		color-stop(0.53, #d8aa00)
	);


	
	color: #fff;
	text-shadow: 1px 1px 2px #a27f00;

	width: 84%; text-align: left;
	padding-left: 8% !important; padding-right: 8% !important;
	padding-top: 1.8rem; padding-bottom: 1.8rem;
	margin-bottom: 0.5em;

	font-family: "Avenir LT W01 85 Heavy", Arial, Helvetica, Sans-Serif; font-size: 14px; font-size: 1.4rem;
	line-height: 1.4;
}
.button.doc big, .button.doc .big { font-family: "Avenir LT W01 35 Light", Arial, Helvetica, Sans-Serif; font-size: 20px; font-size: 2.0rem; }
.button.doc .doc-left { float: left; width: 30%; }
.button.doc .doc-right { float: right; width: 70%; }
.button.doc.pdf {
	background-image: url(../../../images/skin/icons/icon-doc-button-pdf.png)/*tpa=http://www.aep.com/images/skin/icons/icon-doc-button-pdf.png*/, linear-gradient(top, #e8cd00 0%, #d8aa00 53%);
	background-image: url(../../../images/skin/icons/icon-doc-button-pdf.png)/*tpa=http://www.aep.com/images/skin/icons/icon-doc-button-pdf.png*/, -o-linear-gradient(top, #e8cd00 0%, #d8aa00 53%);
	background-image: url(../../../images/skin/icons/icon-doc-button-pdf.png)/*tpa=http://www.aep.com/images/skin/icons/icon-doc-button-pdf.png*/, -moz-linear-gradient(top, #e8cd00 0%, #d8aa00 53%);
	background-image: url(../../../images/skin/icons/icon-doc-button-pdf.png)/*tpa=http://www.aep.com/images/skin/icons/icon-doc-button-pdf.png*/, -webkit-linear-gradient(top, #e8cd00 0%, #d8aa00 53%);
	background-image: url(../../../images/skin/icons/icon-doc-button-pdf.png)/*tpa=http://www.aep.com/images/skin/icons/icon-doc-button-pdf.png*/, -ms-linear-gradient(top, #e8cd00 0%, #d8aa00 53%);
	background-image: url(../../../images/skin/icons/icon-doc-button-pdf.png)/*tpa=http://www.aep.com/images/skin/icons/icon-doc-button-pdf.png*/, -webkit-gradient(linear,left top,left bottom,color-stop(0, #e8cd00),color-stop(0.53, #d8aa00));

	background-repeat: no-repeat;
	background-position: right center, left top;
	min-height: 24px;
	padding-right: 18% !important;
	width: 74%; 
}
.button.doc .word { 
	background-image: url(../../../images/skin/icons/icon-doc-button-word.png)/*tpa=http://www.aep.com/images/skin/icons/icon-doc-button-word.png*/; 
	background-repeat: no-repeat; 
	background-position: right center;
	padding-right: 27px;
	min-height: 24px;
}
.button.doc .xls { 
	background-image: url(../../../images/skin/icons/icon-doc-button-xls.png)/*tpa=http://www.aep.com/images/skin/icons/icon-doc-button-xls.png*/; 
	background-repeat: no-repeat; 
	background-position: right center;
	padding-right: 27px;
	min-height: 24px;
}
@media only screen and (max-width: 480px) {
	.button.doc { width: 90%; padding-left: 5% !important; padding-right: 5% !important; }
	.button.doc.pdf { width: 85%; padding-left: 5% !important; padding-right: 10% !important; }
	.button.doc .split-left { width: 20%;  }
	.button.doc .split-right { width: 80%; margin-top: 4px; }
}
@media only screen and (max-width: 390px) {
	.button.doc.pdf { width: 80%; padding-left: 5% !important; padding-right: 15% !important; }
}

.button.facebook { 
	background-color: Transparent;
	background-image: url(../../../images/skin/icons/icon-social-facebook.png)/*tpa=http://www.aep.com/images/skin/icons/icon-social-facebook.png*/; background-repeat: no-repeat; background-position: 0; 
	text-indent: 0; padding-left: 40px;
	font-family: "Avenir LT W01 55 Roman", Arial, Helvetica, Sans-Serif;
	font-size: 14px; font-size: 1.4rem;
}
.button.twitter {
	background-color: Transparent;
	background-image: url(../../../images/skin/icons/icon-social-twitter.png)/*tpa=http://www.aep.com/images/skin/icons/icon-social-twitter.png*/; background-repeat: no-repeat; background-position: 0; 
	text-indent: 0; padding-left: 40px;
	font-family: "Avenir LT W01 55 Roman", Arial, Helvetica, Sans-Serif;
	font-size: 14px; font-size: 1.4rem;
}


.button.read-more { 
	background-color: #585858;
	background-image: url(../../../images/skin/callouts/callout-promo-arrow.png)/*tpa=http://www.aep.com/images/skin/callouts/callout-promo-arrow.png*/, linear-gradient(top, #585858 0%, #353535 50%);
	background-image: url(../../../images/skin/callouts/callout-promo-arrow.png)/*tpa=http://www.aep.com/images/skin/callouts/callout-promo-arrow.png*/, -o-linear-gradient(top, #585858 0%, #353535 50%), url(../../../images/skin/callouts/callout-promo-arrow.png)/*tpa=http://www.aep.com/images/skin/callouts/callout-promo-arrow.png*/;
	background-image: url(../../../images/skin/callouts/callout-promo-arrow.png)/*tpa=http://www.aep.com/images/skin/callouts/callout-promo-arrow.png*/, -moz-linear-gradient(top, #585858 0%, #353535 50%);
	background-image: url(../../../images/skin/callouts/callout-promo-arrow.png)/*tpa=http://www.aep.com/images/skin/callouts/callout-promo-arrow.png*/, -webkit-linear-gradient(top, #585858 0%, #353535 50%);
	background-image: url(../../../images/skin/callouts/callout-promo-arrow.png)/*tpa=http://www.aep.com/images/skin/callouts/callout-promo-arrow.png*/, -ms-linear-gradient(top, #585858 0%, #353535 50%);
	background-image: url(../../../images/skin/callouts/callout-promo-arrow.png)/*tpa=http://www.aep.com/images/skin/callouts/callout-promo-arrow.png*/, -webkit-gradient(linear, left top, left bottom, color-stop(0, #585858), color-stop(0.5, #353535));

	background-repeat: no-repeat;
	background-position: left center;

	color: #d4e4f2;
	padding-top: 8px; padding-bottom: 9px;
}
.button.read-more:hover, 
.button.read-more:active { color: #fff; }
.button.read-more.pdf {
	background-image: url(../../../images/skin/icons/icon-circle-pdf-black.png)/*tpa=http://www.aep.com/images/skin/icons/icon-circle-pdf-black.png*/, url(../../../images/skin/callouts/callout-promo-arrow.png)/*tpa=http://www.aep.com/images/skin/callouts/callout-promo-arrow.png*/, linear-gradient(top, #585858 0%, #353535 50%);
	background-image: url(../../../images/skin/icons/icon-circle-pdf-black.png)/*tpa=http://www.aep.com/images/skin/icons/icon-circle-pdf-black.png*/, url(../../../images/skin/callouts/callout-promo-arrow.png)/*tpa=http://www.aep.com/images/skin/callouts/callout-promo-arrow.png*/, -o-linear-gradient(top, #585858 0%, #353535 50%), url(../../../images/skin/callouts/callout-promo-arrow.png)/*tpa=http://www.aep.com/images/skin/callouts/callout-promo-arrow.png*/;
	background-image: url(../../../images/skin/icons/icon-circle-pdf-black.png)/*tpa=http://www.aep.com/images/skin/icons/icon-circle-pdf-black.png*/, url(../../../images/skin/callouts/callout-promo-arrow.png)/*tpa=http://www.aep.com/images/skin/callouts/callout-promo-arrow.png*/, -moz-linear-gradient(top, #585858 0%, #353535 50%);
	background-image: url(../../../images/skin/icons/icon-circle-pdf-black.png)/*tpa=http://www.aep.com/images/skin/icons/icon-circle-pdf-black.png*/, url(../../../images/skin/callouts/callout-promo-arrow.png)/*tpa=http://www.aep.com/images/skin/callouts/callout-promo-arrow.png*/, -webkit-linear-gradient(top, #585858 0%, #353535 50%);
	background-image: url(../../../images/skin/icons/icon-circle-pdf-black.png)/*tpa=http://www.aep.com/images/skin/icons/icon-circle-pdf-black.png*/, url(../../../images/skin/callouts/callout-promo-arrow.png)/*tpa=http://www.aep.com/images/skin/callouts/callout-promo-arrow.png*/, -ms-linear-gradient(top, #585858 0%, #353535 50%);
	background-image: url(../../../images/skin/icons/icon-circle-pdf-black.png)/*tpa=http://www.aep.com/images/skin/icons/icon-circle-pdf-black.png*/, url(../../../images/skin/callouts/callout-promo-arrow.png)/*tpa=http://www.aep.com/images/skin/callouts/callout-promo-arrow.png*/, -webkit-gradient(linear, left top, left bottom, color-stop(0, #585858), color-stop(0.5, #353535));
	background-position: right center, left center;
}
.button.read-more .normal { color: #fff; }


.button .normal { color: #394a59; }

/* -----------------------------------------
	:: Callouts
----------------------------------------- */
.callout-header { 
	font-family: "Avenir LT W01 85 Heavy", Arial, Helvetica, Sans-Serif; font-size: 16px; font-size: 1.6rem; 
	color: #394A59; text-shadow: 1px 1px 2px #ACC0C7; 
}

.callout-content-rows { margin-top: 2em; margin-bottom: 2em; }
.callout-content-rows .row { margin-bottom: 2em; }
.callout-content-rows.tighten .row { margin-bottom: 1em; }
@media only screen and (max-width: 768px) { 
	.callout-content-rows { margin-top: 1em; margin-bottom: 1em; }
	.callout-content-rows .row { margin-bottom: 0; } 
}

.callout-content .crop-left,
.callout-content-rows .crop-left {
	-moz-box-shadow: 0px 3px 4px rgba(31,31,31,0.3);
	-webkit-box-shadow: 0px 3px 4px rgba(31,31,31,0.3);
	box-shadow: 0px 3px 4px rgba(31,31,31,0.3);

	max-height: 100px;
	overflow: hidden;
}
.callout-content-rows h2, .callout-content h2 { 
	font-family: "Avenir LT W01 85 Heavy", Arial, Helvetica, Sans-Serif; font-size: 16px; font-size: 1.6rem; 
	color: #394a59; text-shadow: #acc0c7 1px 1px 2px; 
}


.callout-gradient {
	background-image: linear-gradient(left , #EFEEED 0%, #FFFFFF 100%);
	background-image: -o-linear-gradient(left , #EFEEED 0%, #FFFFFF 100%);
	background-image: -moz-linear-gradient(left , #EFEEED 0%, #FFFFFF 100%);
	background-image: -webkit-linear-gradient(left , #EFEEED 0%, #FFFFFF 100%);
	background-image: -ms-linear-gradient(left , #EFEEED 0%, #FFFFFF 100%);
	background-image: -webkit-gradient(linear,left top,right top,color-stop(0, #EFEEED),color-stop(1, #FFFFFF));

	padding: 20px 5%;
	width: 90%;
}
.callout-gradient *:last-child { margin-bottom: 0; }

@media only screen and (max-width: 480px) {
	.callout-gradient { padding: 20px 5%; }
}
.callout-gradient.fade-out-at-four {
	background-image: linear-gradient(left , #EFEEED 0%, #FFFFFF 33.3%);
	background-image: -o-linear-gradient(left , #EFEEED 0%, #FFFFFF 33.3%);
	background-image: -moz-linear-gradient(left , #EFEEED 0%, #FFFFFF 33.3%);
	background-image: -webkit-linear-gradient(left , #EFEEED 0%, #FFFFFF 33.3%);
	background-image: -ms-linear-gradient(left , #EFEEED 0%, #FFFFFF 33.3%);
	background-image: -webkit-gradient(linear,left top,right top,color-stop(0, #EFEEED),color-stop(.333, #FFFFFF));
}


.button.read-more { 
	position: absolute; bottom: 0;
	width: 83%; padding-left: 12% !important; padding-right: 5% !important; text-align: left;	
}
.button.read-more.pdf { width: 73%; padding-right: 15% !important; }
@media only screen and (min-width: 769px) and (max-width: 800px) {
	.button.read-more.pdf { width: 70%; padding-left: 15% !important; }
}
@media only screen and (min-width: 553px) and (max-width: 768px) {
	.button.read-more,
	.button.read-more.pdf { width: 275px; padding-left: 25px !important; padding-right: 0 !important; }
}
@media only screen and (min-width: 481px) and (max-width: 552px) {
	.button.read-more { width: 85%; padding-left: 10% !important; }
	.button.read-more.pdf { width: 75%; }
}
@media only screen and (min-width: 347px) and (max-width: 480px) {
	.button.read-more,
	.button.read-more.pdf { width: 275px; padding-left: 25px !important; padding-right: 0 !important; }
}
@media only screen and (max-width: 346px) {
	.button.read-more { width: 87%; padding-left: 8% !important; }
	.button.read-more.pdf { width: 77%; }
}

.six.columns .button.read-more,
.six.columns .button.read-more.pdf { width: 275px; padding-left: 25px !important; padding-right: 0 !important; }
@media only screen and (min-width: 769px) and (max-width: 939px) {
	.six.columns .button.read-more { 
		position: absolute; bottom: 0;
		width: 83%; padding-left: 12% !important; padding-right: 5% !important; text-align: left;	
	}
}
@media only screen and (min-width: 481px) and (max-width: 551px) {
	.six.columns .button.read-more { 
		position: absolute; bottom: 0;
		width: 83%; padding-left: 12% !important; padding-right: 5% !important; text-align: left;	
	}
}
@media only screen and (max-width: 346px) {
	.six.columns .button.read-more { 
		position: absolute; bottom: 0;
		width: 83%; padding-left: 12% !important; padding-right: 5% !important; text-align: left;	
	}
}


/* CALLOUT PROMO */
.callout-promo { position: relative; }
.small-column h2.title { margin-top: 1em; }
.callout-promo .crop-left {
	-moz-box-shadow: 0px 3px 4px rgba(31,31,31,0.3);
	-webkit-box-shadow: 0px 3px 4px rgba(31,31,31,0.3);
	box-shadow: 0px 3px 4px rgba(31,31,31,0.3);

	max-height: 140px;
	overflow: hidden;
}



.callout-sidebar { border: 4px solid #efeeed; padding: 20px; margin-bottom: 2em; }
.callout-sidebar.min-height-photo { min-height: 150px; }
.callout-sidebar .caption:last-child { margin-bottom: 0; }

.callout-video .crop-left {
	-moz-box-shadow: 0px 3px 4px rgba(31,31,31,0.3);
	-webkit-box-shadow: 0px 3px 4px rgba(31,31,31,0.3);
	box-shadow: 0px 3px 4px rgba(31,31,31,0.3);
}

/* -----------------------------------------
	:: Forms
----------------------------------------- */
/*
.form td.required.invalid { background-image: url(/images/skin/icons/icon-form-required-red.png); }
*/

h3.required { 
	background-image: url(../../../images/skin/icons/icon-form-required-title.png)/*tpa=http://www.aep.com/images/skin/icons/icon-form-required-title.png*/;
	background-repeat: no-repeat;
	padding-left: 30px; 
}
.form {
	background-image: linear-gradient(left , #EFEEED 0%, #FFFFFF 100%);
	background-image: -o-linear-gradient(left , #EFEEED 0%, #FFFFFF 100%);
	background-image: -moz-linear-gradient(left , #EFEEED 0%, #FFFFFF 100%);
	background-image: -webkit-linear-gradient(left , #EFEEED 0%, #FFFFFF 100%);
	background-image: -ms-linear-gradient(left , #EFEEED 0%, #FFFFFF 100%);
	background-image: -webkit-gradient(linear,left top,right top,color-stop(0, #EFEEED),color-stop(1, #FFFFFF));

	/*
		float: left;
		If it's determined we need this, add this style
		.form + * { clear: left; }
	*/
	clear: left;
	width: 100%;
	margin: 0 0 1.5em 0;
	padding: 1.5em 0 0 0;
}
.form label { 
	float: left; width: 25%; 
	font-family: "Avenir LT W01 85 Heavy", Arial, Helvetica, Sans-Serif; 
	margin-right: 1em;
	text-align: right;
}
.form label .normal-text {
	font-family: "Avenir LT W01 55 Roman", Arial, Helvetica, Sans-Serif; 
}
.form li {
	float: left;
	clear: left;
	width: 100%;
	padding-bottom: 1em;
	padding-left: 2em;
}
.form li.required {
	background-image: url(../../../images/skin/icons/icon-form-required-black.png)/*tpa=http://www.aep.com/images/skin/icons/icon-form-required-black.png*/;
	background-repeat: no-repeat;
	background-position: 1em 0.3em;
}
.form li li { float: none; clear: none; width: auto; padding: inherit; }
.form > ul { margin-bottom: 0; }
.form ul.block-grid li { width:inherit; clear: none; padding-left: 1em; }

/* checkboxes and radio buttons */
.form ul.checkboxes,
.form ul.radio-buttons { width: 65%; margin-left: 25%; padding-left: 1em; margin-bottom: 0; }
.form ul.checkboxes input[type='checkbox'],
.form ul.radio-buttons input[type='radio'] { float: left; }
.form ul.checkboxes label,
.form ul.radio-buttons label { 
	font-family: "Avenir LT W01 55 Roman", Arial, Helvetica, Sans-Serif; text-align: left;
	float: none; display: block; width: 100%; margin-left: 0; margin-right: 0; padding-left: 26px;
}
.form ul.checkboxes li,
.form ul.radio-buttons li { float: none; padding-left: 0; margin-bottom: 0.8em; }





.form textarea { width: 65%; }
.form input[type='text'] { width: 65%; }
.form input[type='email'],.form input[type='tel'],.form input[type='number'] { width: 65%; }
.form textarea.full-width,
.form input[type='text'].full-width,
.form input[type='email'].full-width,
.form input[type='tel'].full-width,
.form input[type='number'].full-width { width: 100%; }
.form input.chars-2 { width: 2em; }
.form input.chars-5 { width: 5em; }
.form input.chars-10 { width: 10em; }
.form input.chars-20 {  width: 20em;  }
.form input.percent-50 { width: 50%; }
.form input.full-width { width: 100%; }

.form .align-to-input { width: 65%; margin-left: 25%; padding-left: 1em; }
.form.no-required { padding-left: 0; padding-right: 0; }

.form.single-line { padding-bottom: 0; }
.form.single-line textarea.full-width,
.form.single-line input[type='text'].full-width,
.form.single-line input[type='email'].full-width,
.form.single-line input[type='tel'].full-width,
.form.single-line input[type='number'].full-width { width: 90%; }

/* Stacked Labels Form */
.form.stack-labels { float: none; }
.form.stack-labels label { display: block; float: none; width: 85%; text-align: left; margin-bottom: 0.5em; }
.form.stack-labels li { float: none; padding-left: 5%; width: 95%; }
.form.stack-labels li.required {
	background-position: 0 0.3em;
}

.form .submit { padding-left: 3em; margin-left: 25%; width: 70%; }
.form .validator { display: block; color: #ff0000; width: 65%; margin-left: 25%; padding-left: 1em;  }
.form.yes-required { padding-left: 2%; padding-right: 0%; }


.valSummary { 
	background-image: url(../../../images/skin/icons/icon-form-validation-errors.png)/*tpa=http://www.aep.com/images/skin/icons/icon-form-validation-errors.png*/; background-repeat: no-repeat; background-position: 0 0.2em; 
	color: #ff0000; 
	padding-left: 40px;
	padding-bottom: 10px;
	padding-top: 5px;
}
.valSummary h2 { text-shadow: none; color: #ff0000; }
.valSummary ul { list-style: disc inside; }
.error { color: #ff0000; }


@media only screen and (max-width: 800px) {
	.form { float: none; width: 90%; padding-left: 5%; padding-right: 5%; }
	.form label { display: block; float: none; width: 85%; text-align: left; margin-bottom: 0.5em; }
	.form li { float: none; padding-left: 5%; }
	.form li.required {
		background-position: 0 0.3em;
	}
	.form ul.checkboxes,
	.form ul.radio-buttons { width: 85%; margin-left: 0; padding-left: 0; }

	.form textarea { width: 85%; }
	.form input[type='text'] { width: 85%; }
	.form input[type='email'],.form input[type='tel'],.form input[type='number'] { width: 85%; }

	.form input.chars-2,.form input[type='email'].chars-2,.form input[type='tel'].chars-2,.form input[type='number'].chars-2 { width: 2em; }
	.form input.chars-5,.form input[type='email'].chars-5,.form input[type='tel'].chars-5,.form input[type='number'].chars-5 { width: 5em; }
	.form input.chars-10,.form input[type='email'].chars-10,.form input[type='tel'].chars-10,.form input[type='number'].chars-10 { width: 10em; }

	.form .align-to-input { width: 85%; margin-left: 0; padding-left:0; }
	.form .submit { padding-left: 5%; margin-left: 0; }
	.form .validator { width: 85%; margin-left: 0; padding-left: 0;  }

	.form.single-line input[type='submit'],.form.single-line input[type='button'] { margin-top: 1em; }

}

/* -----------------------------------------
	:: Icon-Text Links
----------------------------------------- */
.icon-text-link { padding-right: 1em; }
.icon-text-link img { margin-right: 1em; vertical-align: middle; }


/* -----------------------------------------
	:: Image Blocks
----------------------------------------- */
.image-blocks > li { border-bottom: 1px solid #dbdbdb; }
.image-blocks.border-bottom-0 > li { border-bottom: 0; }
.image-blocks h2 { 
	font-family: "Avenir LT W01 85 Heavy", Arial, Helvetica, Sans-Serif; font-size: 16px; font-size: 1.6rem; 
	color: #394a59; text-shadow: #acc0c7 1px 1px 2px; 
}
.image-blocks h3 { font-size: 13px; font-size: 1.3rem; margin-top: 1em; }
.image-blocks.block-grid.two-up-at-900 { }
.image-blocks .description { font-size: 13px; font-size: 1.3rem; }

.image-blocks.four-wide li { max-width: 210px; }

.image-blocks .button.read-more { 
	position: absolute; bottom: 1em;
	width: 83%; padding-left: 12% !important; padding-right: 5% !important; text-align: left;	
}
.image-blocks .button.read-more.pdf { width: 73%; padding-right: 15% !important; }

@media only screen and (min-width: 701px) and (max-width: 900px) {
	.image-blocks.block-grid.two-up-at-900 { margin-left: -4%; margin-bottom: 17px; }
	.image-blocks.block-grid.two-up-at-900>li { margin-left: 4%; width: 46%; margin-bottom: 4%;}
 	.image-blocks.block-grid.two-up-at-900>li:nth-child(2n+1) {clear: left;}
	.image-blocks.block-grid.two-up-at-900>li:nth-child(3n+1) {clear: none;}
}
@media only screen and (max-width: 768px) {
	.image-blocks.block-grid.one-up-at-768 { margin-left: 0; margin-bottom: 16px; }
	.image-blocks.block-grid.one-up-at-768>li { float: none; width: auto; margin-left: 0; margin-bottom: 1em; }
}
@media only screen and (max-width: 700px) {
	.image-blocks.block-grid.one-up-at-700 { margin-left: 0; margin-bottom: 16px; }
	.image-blocks.block-grid.one-up-at-700>li { float: none; width: auto; margin-left: 0; margin-bottom: 1em; }

	.image-blocks.block-grid.one-up-at-700 .button.read-more,
	.image-blocks.block-grid.one-up-at-700 .button.read-more.pdf { width: 275px; padding-left: 25px !important; padding-right: 0 !important; }
}

@media only screen and (min-width: 501px) and (max-width: 700px) {
	.image-blocks.block-grid.two-up-at-700 { margin-left: -4%; margin-bottom: 17px; }
	.image-blocks.block-grid.two-up-at-700>li { margin-left: 4%; width: 46%; margin-bottom: 4%;}
 	.image-blocks.block-grid.two-up-at-700>li:nth-child(2n+1) {clear: left;}
	.image-blocks.block-grid.two-up-at-700>li:nth-child(3n+1) {clear: none;}
}

@media only screen and (max-width: 500px) {
	.image-blocks.block-grid.one-up-at-500 { margin-left: 0; margin-bottom: 16px; }
	.image-blocks.block-grid.one-up-at-500>li { float: none; width: auto; margin-left: 0; margin-bottom: 1em; }
        .slide-caption p {
        font-size: 11px; font-size: 1.1rem;
    }
    .owl-theme .owl-controls .owl-buttons {display:none;}
    .photo-story-button {
        background-image:url('../../../images/content/Photo-Story_Icon_1x.png')/*tpa=http://www.aep.com/images/content/Photo-Story_Icon_1x.png*/;
        background-repeat:no-repeat;
        background-size:25px 25px;
        padding-left: 30px;        
        height:31px;        
        bottom:10px;
        right:10px;
        font-size: 16px;
        font-size: 1.6rem;        
        line-height: 33px;        
    }



}
/* Specialized image blocks */
.image-blocks.leadership h3 { min-height: 4em; }
.image-blocks.leadership .description { min-height: 12em; }
.home .image-blocks li { border-bottom: none; }

/* -----------------------------------------
	:: Left Navigation
----------------------------------------- */
.left-nav { margin-top: 8px; }
.left-nav a { 
	display: block; 
	padding: 11px 10px; 
	border-bottom: 1px solid #d4e4f2;
	font-family: "Avenir LT W01 85 Heavy", Arial, Helvetica, Sans-Serif; font-size: 13px; font-size: 1.3rem;
}
.left-nav a.selected,
.left-nav a:hover { color: #394a59; }
.left-nav a.spacer { border-bottom: 0; }
.left-nav p { padding: 11px 10px; }

.left-nav-border { border-bottom: 1px solid #d4e4f2; }
.left-nav-padding { padding: 11px 10px; }

/* -----------------------------------------
	:: Lists (custom)
----------------------------------------- */
ol { margin-left: 2em; }
ol.lower-alpha { list-style-type: lower-alpha; }
ol.upper-alpha { list-style-type: upper-alpha; }

ul.block-grid.two-up.alternate-rows li { margin-bottom: 0; padding-top: 0.5em; padding-bottom: 0.5em; }
ul.block-grid.two-up.alternate-rows li.alt { background-color: #efeeed; }
ul.block-grid.two-up.alternate-rows li:nth-child(4n+1),
ul.block-grid.two-up.alternate-rows li:nth-child(4n+2) { background-color: #efeeed; }
ul.block-grid.two-up.alternate-rows li:nth-child(2n+1) { padding-left: 4%; width: 42%; }
ul.block-grid.two-up.alternate-rows li:nth-child(2n+2) { margin-left: 0; padding-left: 4%; }

ul.bulleted-links li { margin-bottom: 0.8em; }
ul.bulleted-links.touch li { margin-bottom: 2em; }
ul.circle-arrow li {
	background-image: url(../../../images/skin/icons/icon-circle-arrow.png)/*tpa=http://www.aep.com/images/skin/icons/icon-circle-arrow.png*/; background-repeat: no-repeat; background-position: 0 top; 
	padding-left: 40px; padding-bottom: 10px; padding-top: 5px;
}
ul.circle-square li {
	background-image: url(../../../images/skin/icons/icon-circle-square.png)/*tpa=http://www.aep.com/images/skin/icons/icon-circle-square.png*/; background-repeat: no-repeat; background-position: 0 top; 
	padding-left: 40px; padding-bottom: 0; padding-top: 0.2em; margin-bottom: 1em;
}
ul.disc ul.disc li { list-style-image: url(../../../images/skin/icons/icon-disc-indent.png)/*tpa=http://www.aep.com/images/skin/icons/icon-disc-indent.png*/; }
ul.icon-support { margin-left: 0; }
ul.icon-support li { margin-left: 25px; padding-left: 15px; }

ul.icon-support li.doc, ul.disc.icon-support li.doc,
ul.icon-support li.pdf, ul.disc.icon-support li.pdf,
ul.icon-support li.ppt, ul.disc.icon-support li.ppt,
ul.icon-support li.xls, ul.disc.icon-support li.xls,
ul.icon-support li.circle-square, ul.disc.icon-support li.circle-square,
ul.icon-support.circle-square li { 
	background-repeat: no-repeat; background-position: 0 top; 
	margin-left: 0; padding-left: 40px; padding-bottom: 10px; padding-top: 5px;
	list-style-type: none; list-style-image: none;
}

ul.icon-support li.doc { background-image: url(../../../images/skin/icons/icon-circle-doc.png)/*tpa=http://www.aep.com/images/skin/icons/icon-circle-doc.png*/; }
ul.icon-support li.pdf { background-image: url(../../../images/skin/icons/icon-circle-pdf.png)/*tpa=http://www.aep.com/images/skin/icons/icon-circle-pdf.png*/; }
ul.icon-support li.ppt { background-image: url(../../../images/skin/icons/icon-circle-ppt.png)/*tpa=http://www.aep.com/images/skin/icons/icon-circle-ppt.png*/; }
ul.icon-support li.xls { background-image: url(../../../images/skin/icons/icon-circle-xls.png)/*tpa=http://www.aep.com/images/skin/icons/icon-circle-xls.png*/; }
ul.icon-support li.circle-square { background-image: url(../../../images/skin/icons/icon-circle-square.png)/*tpa=http://www.aep.com/images/skin/icons/icon-circle-square.png*/; }

ul.indent-child-lists ol,
ul.indent-child-lists ul { margin-left: 2em; }

.show-hide a.button {
	background-color: Transparent;
	background-image: url(../../../images/skin/icons/icon-show.png)/*tpa=http://www.aep.com/images/skin/icons/icon-show.png*/; background-repeat: no-repeat; background-position: 0; 	
	text-indent: 0; padding-left: 35px;
	color: #007eff; font-size: 14px; font-size: 1.4rem;
}
.show-hide > li.show a.button { background-image: url(../../../images/skin/icons/icon-hide.png)/*tpa=http://www.aep.com/images/skin/icons/icon-hide.png*/; }
.show-hide > li.show a.button { color: inherit; }
.show-hide > li { margin-bottom: 0.7em; clear: both; }
.show-hide > li .hide-content { display: none; margin-top: 1em; margin-left: 35px; }
.show-hide > li.show .hide-content { display: block; }

ul.strong-links > li > a { display: block; margin-bottom: 0.4em; }

/* -----------------------------------------
	:: Misc
----------------------------------------- */
.clear { clear: both; }
.clear-left { clear: left; }
.clear-right { clear: right; }
code { font-family: Courier, Monospace; background: #eee; }
.code { 
	display: block; background: #eee; 
	white-space: pre-wrap; font-size: 12px; font-size: 1.2rem;
	margin-bottom: 1em;
}


.hidden { display: none; }
.hidden-keep-spacing { visibility: hidden; }

.full-width { width: 100%; }

.margin-bottom-0 { margin-bottom: 0; }
.margin-bottom-0-5 { margin-bottom: 0.5em; }
.margin-bottom-0-75 { margin-bottom: 0.75em; }
.margin-bottom-1 { margin-bottom: 1em; }
.margin-bottom-1-5 { margin-top: 1.5em; }
.margin-bottom-2 { margin-bottom: 2em; }
.margin-left-0 { margin-left: 0; }
.margin-left-1 { margin-left: 1em; }
.margin-left-2 { margin-left: 2em; }
.margin-left-2-5 { margin-left: 2.5em; }
.margin-left-3 { margin-left: 3em; }
.margin-right-0 { margin-right: 0; }
.margin-right-1 { margin-right: 1em; }
.margin-top-0 { margin-top: 0; }
.margin-top-0-5 { margin-top: 0.5em; }
.margin-top-0-75 { margin-top: 0.75em; }
.margin-top-1 { margin-top: 1em; }
.margin-top-1-5 { margin-top: 1.5em; }
.margin-top-2 { margin-top: 2em; }
.margin-top-3 { margin-top: 3em; }
.margin-top-4 { margin-top: 4em; }

.padding-bottom-1 { padding-bottom: 1em; }
.padding-bottom-2 { padding-bottom: 2em; }
.padding-top-1 { padding-top: 1em; }
.padding-top-2 { padding-top: 2em; }

.long-text-normal { display: inherit; white-space: normal; }
.long-text-wrap {
	/*display: block;*/
	white-space: pre; 
	white-space: pre-wrap; 
	white-space: pre-line; 
	white-space: -pre-wrap; 
	white-space: -o-pre-wrap; 
	white-space: -moz-pre-wrap; 
	word-wrap: break-word;
}
.strong-links a { font-family: "Avenir LT W01 85 Heavy", Arial, Helvetica, Sans-Serif; font-size: 16px; font-size: 1.6rem; }

/* -----------------------------------------
	:: Modal Window
----------------------------------------- */
.reveal-modal input[type='button'] { font-size: 14px; font-size: 1.4rem; margin-right: 0.5em; }
.reveal-modal .close-reveal-modal.body-link {
	position: relative; 
	top: 0; left: 0; right: inherit;
	font-weight: inherit; font-size: 14px; color: inherit;
}
.reveal-modal a.close-reveal-modal.body-link { color: #007EFF; }
@media only screen and (max-width: 767px) {
	.reveal-modal { padding: 2em 5%; width: 80%; }
}

/* -----------------------------------------
	:: Photos / Graphics
----------------------------------------- */
.photo { 
	-webkit-box-shadow: 0 2px 3px #999;
	-moz-box-shadow:	0 2px 3px #999;
	box-shadow: 0 2px 3px #999;
}
.photo.left, .graphic.left { float: left; margin: 0 1em 1em 0; }
.photo.right, .graphic.right { float: right; margin: 0 0 1em 1em; }

.caption { background-color: #efeeed; margin-top: 10px; margin-bottom: 2em; padding: 10px 12px; font-size: 13px; font-size: 1.3rem; }
.caption.four-wide { max-width: 186px; }
.caption.margin-bottom-0 { margin-bottom: 0; }

.image-wrap.column { max-width: 210px; }
.image-wrap.column.left { float: left; margin: 1em 1em 1em 0; }
.image-wrap.column.right { float: right; margin: 1em 0 1em 1em; }
.image-wrap.column, 
.content .image-wrap.four-wide { width: 30.434782608695652173913043478261%; } /* 210/690 */
.content .eight.columns .image-wrap.four-wide { width: 46.666666666666666666666666666667%; } /* 210/450 */
.content .image-wrap.eight-wide { width: 65.21739130434782608695652173913%; max-width: 450px; } /* 450/690 */

.image-wrap.column div.caption:last-child { margin-bottom: 0; }
@media only screen and (max-width: 600px) {
	.image-wrap.column,
	.content .columns .image-wrap.column { float: none; margin-left: 0; margin-right: 0; width: auto !important; }
}


.photo.left.margin-top-0, 
.photo.right.margin-top-0,
.graphic.left.margin-top-0,
.graphic.right.margin-top-0,
.image-wrap.column.left.margin-top-0,
.image-wrap.column.right.margin-top-0 { margin-top: 0; }


/* -----------------------------------------
	:: Print
----------------------------------------- */
@media print { 
	.row .content { width: 100%; }
	.button.arrow { list-style-image: url(../../../images/skin/icons/icon-arrow-right.png)/*tpa=http://www.aep.com/images/skin/icons/icon-arrow-right.png*/; display: list-item; padding-left: 0; text-indent: 0; list-style-position: inside; }
	.button.circle-arrow { list-style-image: url(../../../images/skin/icons/icon-circle-arrow.png)/*tpa=http://www.aep.com/images/skin/icons/icon-circle-arrow.png*/; display: list-item; padding-left: 0; text-indent: 0; list-style-position: inside; }
	.button.circle-pdf { list-style-image: url(../../../images/skin/icons/icon-circle-pdf.png)/*tpa=http://www.aep.com/images/skin/icons/icon-circle-pdf.png*/; display: list-item; padding-left: 0; text-indent: 0; list-style-position: inside; }
	.button.circle-print { list-style-image: url(../../../images/skin/icons/icon-circle-print.png)/*tpa=http://www.aep.com/images/skin/icons/icon-circle-print.png*/; display: list-item; padding-left: 0; text-indent: 0; list-style-position: inside; }
	.button.circle-xls { list-style-image: url(../../../images/skin/icons/icon-circle-xls.png)/*tpa=http://www.aep.com/images/skin/icons/icon-circle-xls.png*/; display: list-item; padding-left: 0; text-indent: 0; list-style-position: inside; }
}

/* -----------------------------------------
	:: Tables
----------------------------------------- */
table { margin-bottom: 1em; }
table td, table th { padding: 0.2em 0.7em; }
table tr td:first-child, table tr th:first-child { padding-left: 0; }

thead th, tfoot th { text-align: left; }
thead th.title { text-transform: uppercase; font-family: inherit; padding-bottom: 1em; }
.table-title { text-transform: uppercase; font-family: inherit; }
thead th { font-family: "Avenir LT W01 85 Heavy", Arial, Helvetica, Sans-Serif; }
thead tr.unbold th { font-family: inherit; }
tr.bold td, tr.bold th { font-family: "Avenir LT W01 85 Heavy", Arial, Helvetica, Sans-Serif; }
tbody.bold-first-column tr td:first-child { font-family: "Avenir LT W01 85 Heavy", Arial, Helvetica, Sans-Serif; }
tfoot tr:first-child th { padding-top: 1em; }
tfoot th, tfoot th p { font-size: 12px; font-size: 1.2rem; }
tfoot th p { margin-bottom: 1em; }

.table-list td, .table-list th { padding: 0.7em 0.5em; border-left: 1px solid #fff; }
.table-list tr td:first-child, .table-list tr th:first-child { padding-left: 0.7em; border-left: 0; }
.table-list td:first-child { 
	font-family: "Avenir LT W01 85 Heavy", Arial, Helvetica, Sans-Serif; font-size: 14px; font-size: 1.4rem; 
	padding-right: 1.5em; 
}
.table-list.nowrap-first-column td:first-child { white-space: nowrap; }
.table-list tr:nth-child(2n+1) td { background-color: #efeeed; }
.table-list tr.alt td { background-color: #efeeed; }

table.alternate-rows td, .alternate-rows th { padding: 0.7em 0.5em; border-left: 1px solid #fff; }
table.alternate-rows tr td:first-child, .alternate-rows tr th:first-child { padding-left: 0.7em; border-left: 0; }
table.alternate-rows tr.alt td { background-color: #efeeed; }
table.alternate-rows tr:nth-child(2n+1) td { background-color: #efeeed; }

table.filingsalternate-rows td, .alternate-rows th { padding: 0.7em 0.5em; border-left: 1px solid #fff; }
table.filingsalternate-rows tr td:first-child, .alternate-rows tr th:first-child { padding-left: 0.7em; border-left: 0; }
table.filingsalternate-rows tr.alt td { background-color: #fff; }
table.filingsalternate-rows tr:nth-child(2n+1) td { background-color: #fff; }

table.normal-th th { font-size: 14px; font-size: 1.4rem; }
.table-cell-padding { padding-left: 0.5em; padding-right: 0.5em; }

@media only screen and (max-width: 600px) { table.small-text-under600 td, table.small-text-under600 th { font-size: 12px; font-size: 1.2rem; } }
@media only screen and (max-width: 550px) { table.small-text-under550 td, table.small-text-under550 th { font-size: 12px; font-size: 1.2rem; } }
@media only screen and (max-width: 500px) { table.small-text-under500 td, table.small-text-under500 th { font-size: 12px; font-size: 1.2rem; } }


/* -----------------------------------------
	:: Tabs
----------------------------------------- */
.tabs { border-bottom: 1px solid #dbdbdb; }
.tabs .button { 
	background-color: #eeedeb; 
	background-image: url("../../../images/skin/icons/icon-tabs-arrow-right.png")/*tpa=http://www.aep.com/images/skin/icons/icon-tabs-arrow-right.png*/, linear-gradient(left , #eeedeb 0%, #fff 100%);
	background-image: url("../../../images/skin/icons/icon-tabs-arrow-right.png")/*tpa=http://www.aep.com/images/skin/icons/icon-tabs-arrow-right.png*/, -o-linear-gradient(left , #eeedeb 0%, #fff 100%);
	background-image: url("../../../images/skin/icons/icon-tabs-arrow-right.png")/*tpa=http://www.aep.com/images/skin/icons/icon-tabs-arrow-right.png*/, -moz-linear-gradient(left , #eeedeb 0%, #fff 100%);
	background-image: url("../../../images/skin/icons/icon-tabs-arrow-right.png")/*tpa=http://www.aep.com/images/skin/icons/icon-tabs-arrow-right.png*/, -webkit-linear-gradient(left , #eeedeb 0%, #fff 100%);
	background-image: url("../../../images/skin/icons/icon-tabs-arrow-right.png")/*tpa=http://www.aep.com/images/skin/icons/icon-tabs-arrow-right.png*/, -ms-linear-gradient(left , #eeedeb 0%, #fff 100%);
	background-image: url("../../../images/skin/icons/icon-tabs-arrow-right.png")/*tpa=http://www.aep.com/images/skin/icons/icon-tabs-arrow-right.png*/, -webkit-gradient(linear,left top,right top,color-stop(0, #eeedeb),color-stop(1, #fff));

	background-position: 0.5em center;
	background-repeat: no-repeat;

	padding-left: 1.5em; padding-right: 1em;
}
.tabs .button.selected { background-color: #fff; background-image: url("../../../images/skin/icons/icon-tabs-arrow-down.png")/*tpa=http://www.aep.com/images/skin/icons/icon-tabs-arrow-down.png*/, none; color: inherit; }
.tabs .button img { margin-right: 0.5em; }


/* -----------------------------------------
	:: Text Wrapping
----------------------------------------- */
.floated.column { max-width: 210px; }
.floated.column.left { float: left; margin: 0.25em 1em 1em 0; }
.floated.column.right { float: right; margin: 0.25em 0 1em 1em; }
.floated.column.left.margin-top-1, 
.floated.column.right.margin-top-1 { margin-top: 1em; }
.floated.column, 
.content .floated.four-wide { width: 30.434782608695652173913043478261%; } /* 210/690 */
.content .eight.columns .floated.four-wide { width: 46.666666666666666666666666666667%; } /* 210/450 */
.content .floated.eight-wide { width: 65.21739130434782608695652173913%; max-width: 450px; } /* 450/690 */

.floated.column div.caption:last-child { margin-bottom: 0; }
@media only screen and (max-width: 768px) {
	.content .floated.eight-wide.column { float: none; margin-left: 0; margin-right: 0; width: auto !important; max-width: 100%; }
}
@media only screen and (max-width: 700px) {
	.floated.column.stack-at-700,
	.content .columns .floated.column.stack-at-700,
	.content .floated.four-wide.stack-at-700,
	.content .eight.columns .floated.four-wide.stack-at-700 { float: none; margin-left: 0; margin-right: 0; width: auto !important; }

	.content .floated.four-wide.full-width-at-break.stack-at-700,
	.content .eight.columns .floated.four-wide.full-width-at-break.stack-at-700,
	.content .floated.eight-wide.full-width-at-break.stack-at-700,
	.floated.column.full-width-at-break.stack-at-700 { width: 100% !important; max-width: inherit; }
}
@media only screen and (max-width: 600px) {
	.floated.column,
	.content .columns .floated.column,
	.content .floated.four-wide,
	.content .eight.columns .floated.four-wide { float: none; margin-left: 0; margin-right: 0; width: auto !important; }

	.content .floated.four-wide.full-width-at-break,
	.content .eight.columns .floated.four-wide.full-width-at-break,
	.content .floated.eight-wide.full-width-at-break,
	.floated.column.full-width-at-break { width: 100% !important; max-width: inherit; }
}

/* -----------------------------------------
	:: Videos
----------------------------------------- */
a.video-link { cursor: pointer; }

/* PAGE-SPECIFIC STYLES */







/* -----------------------------------------
	:: Home Page
----------------------------------------- */
.home .mid-wrap-outer { background-image: url("../../../images/skin/template/mid-shadows-home.png")/*tpa=http://www.aep.com/images/skin/template/mid-shadows-home.png*/; }
.home .mid-wrap-inner { padding-top: 0; }
.banner { 
	background-image: url(../../../images/content/banners/HOME_BANNER.jpg)/*tpa=http://www.aep.com/images/content/banners/HOME_BANNER.jpg*/; background-position: right top; background-repeat: no-repeat; 
	position: relative; height: 170px; margin-bottom: 32px; 
}
.banner .overlay {
	height: 156px; padding-top: 14px;
	width: 360px; padding-left: 25px; padding-right: 215px;
	color: #fff; text-shadow: 2px 2px 5px #222b33;
/* 
#222b33 = 34,43,51
PX		%		OPACITY
0		0		100
200	33		100
320	53		70
480	80		30
600	100	0	
*/
	background: -moz-linear-gradient(left,  rgba(34,43,51,1) 0%, rgba(34,43,51,1) 33%, rgba(34,43,51,0.7) 53%, rgba(34,43,51,0.3) 80%, rgba(34,43,51,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(34,43,51,1)), color-stop(33%,rgba(34,43,51,1)), color-stop(53%,rgba(34,43,51,0.7)), color-stop(80%,rgba(34,43,51,0.3)), color-stop(100%,rgba(34,43,51,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(34,43,51,1) 0%,rgba(34,43,51,1) 33%,rgba(34,43,51,0.7) 53%,rgba(34,43,51,0.3) 80%,rgba(34,43,51,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(34,43,51,1) 0%,rgba(34,43,51,1) 33%,rgba(34,43,51,0.7) 53%,rgba(34,43,51,0.3) 80%,rgba(34,43,51,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(34,43,51,1) 0%,rgba(34,43,51,1) 33%,rgba(34,43,51,0.7) 53%,rgba(34,43,51,0.3) 80%,rgba(34,43,51,0) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(34,43,51,1) 0%,rgba(34,43,51,1) 33%,rgba(34,43,51,0.7) 53%,rgba(34,43,51,0.3) 80%,rgba(34,43,51,0) 100%); /* W3C */


}
.banner .overlay h1, 
.banner .overlay h2 { color: #fff; text-shadow: 2px 2px 5px #222b33; }
.banner .overlay h1 { font-size: 28px; font-size: 2.8rem; }
.banner .overlay h2 { font-size: 15px; font-size: 1.5rem; font-family: "Avenir LT W01 55 Roman",Arial,Helvetica,Sans-Serif; }
.banner-read-more { 
	position: absolute; bottom: 0; left: 0; height: 3em; padding: 1em 0 0 1em;
	min-width: 43%;

	background: -moz-linear-gradient(left,  rgba(27,34,41,1) 0%, rgba(27,34,41,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(27,34,41,1)), color-stop(100%,rgba(27,34,41,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(27,34,41,1) 0%,rgba(27,34,41,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(27,34,41,1) 0%,rgba(27,34,41,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(27,34,41,1) 0%,rgba(27,34,41,0) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(27,34,41,1) 0%,rgba(27,34,41,0) 100%); /* W3C */

}
.banner-read-more a.button { 
	color: #fff;
	font-family: "Avenir LT W01 85 Heavy",Arial,Helvetica,Sans-Serif; 
	font-size: 14px; font-size: 1.4rem;
	text-shadow: 2px 2px 5px #222b33;
}
@media only screen and (max-width: 600px) {
	/* left/right padding is 40/600 */
	.banner .overlay { 
		width: auto; 
		padding-left: 6.6666666666666666666666666666667%; 
		padding-right: 6.6666666666666666666666666666667%;
	}
	.banner-read-more { 
		padding-left: 6.6666666666666666666666666666667%; 
		padding-right: 6.6666666666666666666666666666667%; 
	}
}
@media only screen and (min-width: 481px) and (max-width: 599px) {
	.banner .overlay h1 { font-size: 26px; font-size: 2.6rem; }
}
@media only screen and (max-width: 480px) {
	.banner .overlay h1 { font-size: 22px; font-size: 2.2rem; }
	.banner .overlay h2 { font-size: 14px; font-size: 1.4rem; }
	.banner-read-more { padding-top: 0.5em; height: 2.8em; }
	.banner .overlay {
/*
PX    % OPACITY
0     0 100
200  42 100
480 100  70
*/
background: -moz-linear-gradient(left,  rgba(34,43,51,1) 0%, rgba(34,43,51,1) 42%, rgba(34,43,51,0.7) 67%, rgba(34,43,51,0.3) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(34,43,51,1)), color-stop(42%,rgba(34,43,51,1)), color-stop(67%,rgba(34,43,51,0.7)), color-stop(100%,rgba(34,43,51,0.3))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(34,43,51,1) 0%,rgba(34,43,51,1) 42%,rgba(34,43,51,0.7) 67%,rgba(34,43,51,0.3) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(34,43,51,1) 0%,rgba(34,43,51,1) 42%,rgba(34,43,51,0.7) 67%,rgba(34,43,51,0.3) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(34,43,51,1) 0%,rgba(34,43,51,1) 42%,rgba(34,43,51,0.7) 67%,rgba(34,43,51,0.3) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(34,43,51,1) 0%,rgba(34,43,51,1) 42%,rgba(34,43,51,0.7) 67%,rgba(34,43,51,0.3) 100%); /* W3C */
	}
}

/*
@media only screen and (min-width: 481px) and (max-width: 768px) {
	.promos-small .text { float: right; width: 50%; }
	.promos-small img { float: left; width: 45%; margin-bottom: 1em; }
}
@media only screen and (max-width: 480px) {
	.banner-text h2 { font-size: 22px; font-size: 2.2rem; color: #fff; margin-bottom: 0.3em; }
	.banner-text { font-size: 14px; font-size: 1.4rem; }
}
*/

/* -----------------------------------------
	:: Listing
----------------------------------------- */
.listing h2 { font-family: "Avenir LT W01 85 Heavy", Arial, Helvetica, Sans-Serif; font-size: 16px; font-size: 1.6rem; color: #394A59; text-shadow: 1px 1px 2px #ACC0C7; }

/* -----------------------------------------
	:: News
----------------------------------------- */
.news h2 { 
	font-family: "Avenir LT W01 85 Heavy", Arial, Helvetica, Sans-Serif; font-size: 18px; font-size: 1.8rem; 
	color: #394a59; text-shadow: #acc0c7 1px 1px 2px; 
}
.news .details h2 { font-family: "Avenir LT W01 35 Light", Arial, Helvetica, Sans-Serif; font-size: 20px; font-size: 2.0rem; color: inherit }
.news .details h2.small { font-family: "Avenir LT W01 55 Roman", Arial, Helvetica, Sans-Serif; font-size: 14px; font-size: 1.4rem; }
.news .details h2 small { display: block; margin-top: 1em; }

.news .item h3 { color: #84888b; font-family: "Avenir LT W01 55 Roman", Arial, Helvetica, Sans-Serif; font-size: 14px; font-size: 1.4rem; }
.news .title, .news .title a { font-family: "Avenir LT W01 85 Heavy", Arial, Helvetica, Sans-Serif; font-size: 16px; font-size: 1.6rem; text-shadow: none; }
.news .details { margin-bottom: 1em; }
.older-news-releases { display: none; }

.news .item a h3.subhead,
.news .item h3.subhead a { color: #333; }

.news .item a small { display: block; margin-top: 1em; color: #333; }

/* -----------------------------------------
	:: Earnings tables newsreleases
----------------------------------------- */
.earnings td, .earnings th { padding-top: 0.4em; padding-bottom: 0.4em; }
.earnings .hidden { display:none; }
.earnings .selected { }
.earnings tbody tr td:first-child { font-family: "Avenir LT W01 85 Heavy", Arial, Helvetica, Sans-Serif; }
.earnings tr.total td,
.earnings tr.total th {
	border-top: 1px solid #dbdbdb; border-bottom: 1px solid #dbdbdb; 
	font-family: "Avenir LT W01 85 Heavy", Arial, Helvetica, Sans-Serif; 
	padding-top: 0.7em; padding-bottom: 0.7em;
}
.earnings td.padding-top-2 { padding-top: 2em; }
.earnings tr.total td:first-child,
.earnings tr.total th:first-child { text-align: left; }

@media only screen and (max-width: 929px) { .earnings .dollars-block { display: block; } }
@media only screen and (min-width: 400px) and (max-width: 480px) { .earnings .dollars-block { display: inline; } }



/* -----------------------------------------
	:: Search Results
----------------------------------------- */
.search-results li { margin-bottom: 2em; }
.search-results .desc,
.search-results .text { font-size: 12px; font-size: 1.2rem; }
@media only screen and (max-width: 1000px) { .search-results .url { display: none; } }


/* -----------------------------------------
	:: Youtube
----------------------------------------- */
.youtubevideo-container {
position:relative;
padding-bottom:75%;
width:100%;
height:0;
overflow:hidden;
}
.youtubevideo-container video,
.youtubevideo-container object,
.youtubevideo-container embed {
position: absolute;
top:0;
left:0;
width:100%;
height:100%;
}

/* -----------------------------------------
	:: Google Maps
----------------------------------------- */
.map_canvas 
{
min-width:225px; 
min-height:175px;
width:450px;
height:350px; 
float:left	
}


@media only screen and (max-width: 450px) { .map_canvas {width:225px; height:175px; } }




/* -----------------------------------------
	:: Community Connections
----------------------------------------- */

.slide-caption {   
    position:absolute;  
    bottom:3px;
    left:0;    
    height:auto;    
    background-color:rgba(0,0,0, 0.75);
    color:#fff;  
}
.slide-caption p {
    margin:5px;
}
.owl-carousel .item {
    position:relative;
}




/* 
 *  Core Owl Carousel CSS File
 *  v1.3.3
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
/* display none until init */
.owl-carousel{
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
    overflow: hidden;
    position: relative;
    width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}
    
.owl-carousel .owl-item{
    float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
    cursor: pointer;
}
.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png)/*tpa=http://www.aep.com/lib/css/global/grabbing.png*/ 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}
/*
*   Owl Carousel Owl Demo Theme 
*   v1.3.3
*/

.owl-theme .owl-controls{
    margin-top: 10px;
    text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
    color: #FFF;
    display: inline-block;
    zoom: 1;
    *display: inline;/*IE7 life-saver */
    margin: 0;
    padding: 10px 15px;
    font-size: 15px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background: #000;
    filter: Alpha(Opacity=65);/*IE7 fix*/
    opacity: 0.65;
    position:absolute;
    top:45%;    
    z-index:99;
}
.owl-theme .owl-controls .owl-buttons div.owl-prev{left:10px;}
.owl-theme .owl-controls .owl-buttons div.owl-next{right:10px;}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
    filter: Alpha(Opacity=100);/*IE7 fix*/
    opacity: 1;
    text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
    display: inline-block;
    zoom: 1;
    *display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);/*IE7 fix*/
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    filter: Alpha(Opacity=100);/*IE7 fix*/
    opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
    height: auto;
    width: auto;
    color: #FFF;
    padding: 2px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
    min-height: 150px;
    background: url(AjaxLoader.gif)/*tpa=http://www.aep.com/lib/css/global/AjaxLoader.gif*/ no-repeat center center
}






		




















		
