/* This is for all IE specfific style less than IE9. */
[class*="column"] + [class*="column"]:last-child { float: left; margin-left: 3.2258064516129032258064516129032%; }



div.panel { border: 1px solid #ccc; }

/* customer service buttons */
.button.customer-service.bills {
	background-image: url(../../../images/skin/buttons/button-icon-bills.png)/*tpa=http://www.aep.com/images/skin/buttons/button-icon-bills.png*/;
	background-position: 5px center;
}
.button.customer-service.outages {
	background-image: url(../../../images/skin/buttons/button-icon-outages.png)/*tpa=http://www.aep.com/images/skin/buttons/button-icon-outages.png*/;
	background-position: 5px center;
}
.button.customer-service.start-stop {
	background-image: url(../../../images/skin/buttons/button-icon-start-stop.png)/*tpa=http://www.aep.com/images/skin/buttons/button-icon-start-stop.png*/;
	background-position: 5px center;
}
.button.customer-service.customer {
	background-image: url(../../../images/skin/buttons/button-icon-customer-service.png)/*tpa=http://www.aep.com/images/skin/buttons/button-icon-customer-service.png*/;
	background-position: 5px center;
}

.button.doc {
	background-image: url(../../../images/skin/buttons/ie/ie-button-doc-repeat-x.png)/*tpa=http://www.aep.com/images/skin/buttons/ie/ie-button-doc-repeat-x.png*/;
	background-repeat: repeat-x;
}
.button.doc.pdf {
	background-image: url(../../../images/skin/buttons/ie/ie-button-doc-pdf.png)/*tpa=http://www.aep.com/images/skin/buttons/ie/ie-button-doc-pdf.png*/;
	background-repeat: no-repeat;
	background-position: top right;
}

.banner .overlay {
	background-image: url(../../../images/skin/template/ie/ie-banner-overlay-600.png)/*tpa=http://www.aep.com/images/skin/template/ie/ie-banner-overlay-600.png*/;
	background-repeat: repeat-y;
}
.banner-read-more { 
	background-image: url(../../../images/skin/template/ie/ie-banner-read-more.png)/*tpa=http://www.aep.com/images/skin/template/ie/ie-banner-read-more.png*/;
	background-repeat: repeat-y;
}
@media only screen and (max-width: 480px) {
	.banner .overlay { background-image: url(../../../images/skin/template/ie/ie-banner-overlay-480.png)/*tpa=http://www.aep.com/images/skin/template/ie/ie-banner-overlay-480.png*/;	}
}

.button.read-more {
	background: #353535;
	background-image: url(../../../images/skin/buttons/ie/ie-button-read-more.png)/*tpa=http://www.aep.com/images/skin/buttons/ie/ie-button-read-more.png*/;
	background-repeat: no-repeat;
}

.top-nav {
	background-image: url(../../../images/skin/template/ie/ie-top-nav-repeat-x.gif)/*tpa=http://www.aep.com/images/skin/template/ie/ie-top-nav-repeat-x.gif*/;
	background-repeat: repeat-x;
}
.callout-gradient { 
	background-image: url(../../../images/skin/callouts/ie/ie-callout-gradient-repeat-y.png)/*tpa=http://www.aep.com/images/skin/callouts/ie/ie-callout-gradient-repeat-y.png*/;
	background-repeat: repeat-y;
}
.callout-gradient.fade-out-at-four { 
	background-image: url(../../../images/skin/callouts/ie/ie-callout-gradient-fade-out-at-four-repeat-y.png)/*tpa=http://www.aep.com/images/skin/callouts/ie/ie-callout-gradient-fade-out-at-four-repeat-y.png*/;
}

/* Third column in footer overide global styling of lastchild (column) */
.footerMenu .container .row .three {
    margin-left: 0px;
}

.form { 
	background-image: url(../../../images/skin/callouts/ie/ie-callout-gradient-repeat-y.png)/*tpa=http://www.aep.com/images/skin/callouts/ie/ie-callout-gradient-repeat-y.png*/;
	background-repeat: repeat-y;
}

