.banner .overlay {
	background-image: url(../../../images/skin/template/ie/ie-banner-overlay-600.png)/*tpa=http://www.aep.com/images/skin/template/ie/ie-banner-overlay-600.png*/;
	background-repeat: repeat-y;
}
.banner-read-more { 
	background-image: url(../../../images/skin/template/ie/ie-banner-read-more.png)/*tpa=http://www.aep.com/images/skin/template/ie/ie-banner-read-more.png*/;
	background-repeat: repeat-y;
}
@media only screen and (max-width: 480px) {
	.banner .overlay { background-image: url(../../../images/skin/template/ie/ie-banner-overlay-480.png)/*tpa=http://www.aep.com/images/skin/template/ie/ie-banner-overlay-480.png*/;	}
}

/* customer service buttons */
.button.customer-service.bills {
	background-image: url(../../../images/skin/buttons/button-icon-bills.png)/*tpa=http://www.aep.com/images/skin/buttons/button-icon-bills.png*/;
	background-position: 5px center;
}
.button.customer-service.outages {
	background-image: url(../../../images/skin/buttons/button-icon-outages.png)/*tpa=http://www.aep.com/images/skin/buttons/button-icon-outages.png*/;
	background-position: 5px center;
}
.button.customer-service.start-stop {
	background-image: url(../../../images/skin/buttons/button-icon-start-stop.png)/*tpa=http://www.aep.com/images/skin/buttons/button-icon-start-stop.png*/;
	background-position: 5px center;
}
.button.customer-service.customer {
	background-image: url(../../../images/skin/buttons/button-icon-customer-service.png)/*tpa=http://www.aep.com/images/skin/buttons/button-icon-customer-service.png*/;
	background-position: 5px center;
}

.button.doc {
	background-image: url(../../../images/skin/buttons/ie/ie-button-doc-repeat-x.png)/*tpa=http://www.aep.com/images/skin/buttons/ie/ie-button-doc-repeat-x.png*/;
	background-repeat: repeat-x;
}
.button.doc.pdf {
	background-image: url(../../../images/skin/buttons/ie/ie-button-doc-pdf.png)/*tpa=http://www.aep.com/images/skin/buttons/ie/ie-button-doc-pdf.png*/;
	background-repeat: no-repeat;
	background-position: top right;
}
.button.read-more {
	background: #353535;
	background-image: url(../../../images/skin/buttons/ie/ie-button-read-more.png)/*tpa=http://www.aep.com/images/skin/buttons/ie/ie-button-read-more.png*/;
	background-repeat: no-repeat;
}
.callout-gradient { 
	background-image: url(../../../images/skin/callouts/ie/ie-callout-gradient-repeat-y.svg)/*tpa=http://www.aep.com/images/skin/callouts/ie/ie-callout-gradient-repeat-y.svg*/;
	background-repeat: repeat-y;
}

