body { background:black;color:white;padding:0;margin:0 auto;text-align:center;font-family:Arial, Helvetica, sans-serif;font-size:14px }
a, a img { border:0;outline:0 }
#nav { background:url(img/logo.gif)/*tpa=http://www.wynnresorts.com/img/logo.gif*/ no-repeat;padding-left:162px;height:34px;padding-top:65px }
#nav a { display:inline-block;height:34px; }
#nav .company { background:url(img/nav_company_up.gif)/*tpa=http://www.wynnresorts.com/img/nav_company_up.gif*/;width:114px }
#nav .press {  background:url(img/nav_press_up.gif)/*tpa=http://www.wynnresorts.com/img/nav_press_up.gif*/;width:114px }
#nav a.stock { background:url(img/nav_stock_up.gif)/*tpa=http://www.wynnresorts.com/img/nav_stock_up.gif*/;width:107px }
#nav a.sec { background:url(img/nav_sec_up.gif)/*tpa=http://www.wynnresorts.com/img/nav_sec_up.gif*/;width:88px }
#nav a.info { background:url(img/nav_info_up.gif)/*tpa=http://www.wynnresorts.com/img/nav_info_up.gif*/;width:104px }
#nav a.meetings { background:url(img/nav_meeting_up.gif)/*tpa=http://www.wynnresorts.com/img/nav_meeting_up.gif*/;width:187px }
#nav a.contact { background:url(img/nav_contact_up.gif)/*tpa=http://www.wynnresorts.com/img/nav_contact_up.gif*/;width:95px }
#nav a.alerts { background:url(img/nav_alerts_up.gif)/*tpa=http://www.wynnresorts.com/img/nav_alerts_up.gif*/;width:104px }
#nav a.privacy { background:url(img/nav_privacy_up.gif)/*tpa=http://www.wynnresorts.com/img/nav_privacy_up.gif*/;width:109px }
#nav a.company:hover { background:url(img/nav_company_over.gif)/*tpa=http://www.wynnresorts.com/img/nav_company_over.gif*/ }
#nav a.press:hover {  background:url(img/nav_press_over.gif)/*tpa=http://www.wynnresorts.com/img/nav_press_over.gif*/ }
#nav a.stock:hover { background:url(img/nav_stock_over.gif)/*tpa=http://www.wynnresorts.com/img/nav_stock_over.gif*/ }
#nav a.sec:hover { background:url(img/nav_sec_over.gif)/*tpa=http://www.wynnresorts.com/img/nav_sec_over.gif*/ }
#nav a.info:hover { background:url(img/nav_info_over.gif)/*tpa=http://www.wynnresorts.com/img/nav_info_over.gif*/ }
#nav a.meetings:hover { background:url(img/nav_meeting_over.gif)/*tpa=http://www.wynnresorts.com/img/nav_meeting_over.gif*/ }
#nav a.contact:hover { background:url(img/nav_contact_over.gif)/*tpa=http://www.wynnresorts.com/img/nav_contact_over.gif*/ }
#nav a.alerts:hover { background:url(img/nav_alerts_over.gif)/*tpa=http://www.wynnresorts.com/img/nav_alerts_over.gif*/ }
#nav a.privacy:hover { background:url(img/nav_privacy_over.gif)/*tpa=http://www.wynnresorts.com/img/nav_privacy_over.gif*/ }
#outerWrapper { width:1000px;margin:0 auto;text-align:center;position: relative;height:100%;min-height: 556px;  }

#slideWrapper { margin-top: -333px;
    overflow: hidden;
    padding: 0px 0 0;
    position: absolute;
    top: 49%;left: 50%;
    margin-left: -500px;}

#slideshow { overflow:hidden;position:relative;width:1000px;min-height: 556px;
height: 100%; }
#slide1_div { background: url("img/hero03.jpg")/*tpa=http://www.wynnresorts.com/img/hero03.jpg*/ }
	#slide2_div { background: url("img/hero01.jpg")/*tpa=http://www.wynnresorts.com/img/hero01.jpg*/ }
    #slide3_div { background: url("img/hero02.jpg")/*tpa=http://www.wynnresorts.com/img/hero02.jpg*/ }
#links { position:absolute;top:469px;left:21px;width:140px;margin:0 auto;text-align:center;z-index:100 }
#links a { display:block;margin-bottom:7px }
#links .award { clear:both;margin-top:7px }
#slideWrapper #slideshow .slide { width:1000px;height:540px;overflow:hidden }
