/* HOLD: .  accordion-container {font:normal 14px/16px Arial, Helvetica, sans-serif;color:#333333;position:absolute;top:0;left:0;margin-top:35px;height:320px;} */

.accordion-container {font:normal 14px/16px Arial, Helvetica, sans-serif;color:#333333;position:relative;top:0;left:0;overflow:hidden;}
.accordion-container img {border:none;}

/* move off the page for loading */
.accordion {left:-1000px;}
.accordion {list-style:none;display:block;position:relative;height:400px;width:940px;margin:0;padding:0;overflow:hidden;}
.accordion li {list-style:none;display:block;position:absolute;top:0;left:0;width:64px;height:400px;overflow:hidden;}
.accordion li .hider {display:block;position:relative;overflow:hidden;height:398px;}
.accordion li .hider img {position:relative;overflow:hidden;margin:0;padding:0;}
.accordion .blade-border {width:5px;height:400px;position:absolute;top:0;left:0;}
#blackout {position:absolute;left:0;top:-999em;width:940px;height:400px;background:#000000;}

/* subpages */
.marketing .accordion, .marketing .accordion li {height:324px;width:940px;}
.marketing .accordion li .hider {height:322px;}
.marketing #blackout {height:324px;}
.marketing .rollover {position:absolute;left:30px;top:277px;}
/*.marketing .blade-0 .rollover {left:185px;top:272px;}*/
.marketing .blade-0 .rollover {left:185px;top:248px;}
.marketing .blade-3 .rollover {left:307px;}
.marketing .blade-4 .rollover {left:352px;}


.brands-smasher .accordion {left:0;height:324px;overflow:hidden;}
.brands-smasher .accordion li {cursor:pointer;float:left;position:relative;left:-1000px;margin-right:3px;height:324px;background-repeat:no-repeat;}
.brands-smasher .accordion li .hidden-content {display:none;}
.brands-smasher .hidden-content {position:absolute;}
.brands-smasher  #masthead-overlay {position:absolute;left:0;top:-999em;height:324px;width:667px;background-color:#ffffff;}
.brands-smasher  #masthead-overlay a {position:absolute;display:block;}
.brands-smasher  .close-btn {cursor:pointer;display:block;height:12px;padding:2px 5px;position:absolute;width:50px;}
.brands-smasher  #blackout {height:324px;}
.brands-smasher  p {margin:0;padding:12px 2px;}
.brands-smasher  #navbar {position:absolute;background:black;font-size:11px;color:#FFFF66;height:35px;line-height:35px;top:326px;width:900px;padding:0 20px;}


.who-we-are .accordion, .who-we-are  .accordion li {height:324px;width:940px;}
.who-we-are .accordion li .hider {height:322px;}
.who-we-are #blackout {height:324px;}

.careers .accordion, .careers  .accordion li {height:324px;width:940px;}
.careers .accordion li .hider {height:322px;}
.careers #blackout {height:324px;}
.careers .blade-content {color:#004183;position:relative;}
.careers li .blade-content  img {margin-bottom:-300px;}
.careers .blade-content  h3 {font-size:16px;position:relative;width:313px;margin:5px 0 5px 0;padding-left:24px;}
.careers .blade-content  p {font-size:13px;position:relative;width:313px;margin:5px 0 5px 0;padding-left:24px;float:left;}
.careers .blade-content  .subtitle {font-size:12px;width:313px;margin:5px 0 14px 0;padding-left:24px;}
.careers .blade-content  .quote {color:#000000; font-style:italic;}
.careers .blade-content .more-button {background:url(../../images/btn-return-to-quote.gif)/*tpa=http://www.gannett.com/images/btn-return-to-quote.gif*/ no-repeat 2px 5px;width:200px;height:22px;position:absolute;display:block;left:23px;top:280px;}
.careers .blade-content .why-button {width:200px;height:22px;position:absolute;display:block;left:23px;top:280px;}
.careers .blade-content .button {cursor:pointer;}
.careers .blade-content .hidden {display:none;}

.careers .blade-0 .why-button {background:url(../../images/btn-careers-bio-a.gif)/*tpa=http://www.gannett.com/images/btn-careers-bio-a.gif*/ no-repeat;}
.careers .blade-1 .why-button {background:url(../../images/btn-careers-bio-b.gif)/*tpa=http://www.gannett.com/images/btn-careers-bio-b.gif*/ no-repeat;}
.careers .blade-2 .why-button {background:url(../../images/btn-careers-bio-c.gif)/*tpa=http://www.gannett.com/images/btn-careers-bio-c.gif*/ no-repeat;}
.careers .blade-3 .why-button {background:url(../../images/btn-careers-bio-d.gif)/*tpa=http://www.gannett.com/images/btn-careers-bio-d.gif*/ no-repeat;}
.careers .blade-4 .why-button {background:url(../../images/btn-careers-bio-e.gif)/*tpa=http://www.gannett.com/images/btn-careers-bio-e.gif*/ no-repeat;}



/* colors */
.home .blade-0 .hider {border:1px solid #005597;}/*dkblue*/ /*004183 wat is this*/
.home .blade-0 .blade-border {background-image:url(../../images/blade-sprites/rd-border-left-dkblue.png)/*tpa=http://www.gannett.com/images/blade-sprites/rd-border-left-dkblue.png*/;
		_background-image:url(../../images/blade-sprites/rd-border-left-dkblue.gif)/*tpa=http://www.gannett.com/images/blade-sprites/rd-border-left-dkblue.gif*/;}
.home .blade-1 .hider {border:1px solid #f89727;}/*orange*/
.home .blade-1 .blade-border {background-image:url(../../images/blade-sprites/rd-border-left-orange.png)/*tpa=http://www.gannett.com/images/blade-sprites/rd-border-left-orange.png*/;
		_background-image:url(../../images/blade-sprites/rd-border-left-orange.gif)/*tpa=http://www.gannett.com/images/blade-sprites/rd-border-left-orange.gif*/;}
.home .blade-2 .hider {border:1px solid #009ddc;}/*ltblue*/
.home .blade-2 .blade-border {background-image:url(../../images/blade-sprites/rd-border-left-ltblue.png)/*tpa=http://www.gannett.com/images/blade-sprites/rd-border-left-ltblue.png*/;
		_background-image:url(../../images/blade-sprites/rd-border-left-ltblue.gif)/*tpa=http://www.gannett.com/images/blade-sprites/rd-border-left-ltblue.gif*/;}
.home .blade-3 .hider {border:1px solid #007c85;}/*green*/
.home .blade-3 .blade-border {background-image:url(../../images/blade-sprites/rd-border-left-green.png)/*tpa=http://www.gannett.com/images/blade-sprites/rd-border-left-green.png*/;
		_background-image:url(../../images/blade-sprites/rd-border-left-green.gif)/*tpa=http://www.gannett.com/images/blade-sprites/rd-border-left-green.gif*/;}
.home .blade-4 .hider {border:1px solid #ef4034;}/*red*/
.home .blade-4 .blade-border {background-image:url(../../images/blade-sprites/rd-border-left-red.png)/*tpa=http://www.gannett.com/images/blade-sprites/rd-border-left-red.png*/;
		_background-image:url(../../images/blade-sprites/rd-border-left-red.gif)/*tpa=http://www.gannett.com/images/blade-sprites/rd-border-left-red.gif*/;}
.home .blade-5 .hider {border:1px solid #731572;}/*purple*/
.home .blade-5 .blade-border {background-image:url(../../images/blade-sprites/rd-border-left-purple.png)/*tpa=http://www.gannett.com/images/blade-sprites/rd-border-left-purple.png*/;
		_background-image:url(../../images/blade-sprites/rd-border-left-purple.gif)/*tpa=http://www.gannett.com/images/blade-sprites/rd-border-left-purple.gif*/;}

.marketing  li .hider {border:1px solid #004183;}/*blue*/ 
.marketing  li .blade-border {background-image:url(../../images/blade-sprites/rd-border-left-blue324.png)/*tpa=http://www.gannett.com/images/blade-sprites/rd-border-left-blue324.png*/; height:324px;
		_background-image:url(../../images/blade-sprites/rd-border-left-blue324.gif)/*tpa=http://www.gannett.com/images/blade-sprites/rd-border-left-blue324.gif*/;}
		
.who-we-are .blade-0 .hider {border:1px solid #004183;}/*blue*/ 
.who-we-are .blade-0 .blade-border {background-image:url(../../images/blade-sprites/rd-border-left-blue324.png)/*tpa=http://www.gannett.com/images/blade-sprites/rd-border-left-blue324.png*/; height:324px;
		_background-image:url(../../images/blade-sprites/rd-border-left-blue324.gif)/*tpa=http://www.gannett.com/images/blade-sprites/rd-border-left-blue324.gif*/;}
.who-we-are .blade-1 .hider {border:1px solid #ef4034;}/*red*/
.who-we-are .blade-1 .blade-border {background-image:url(../../images/blade-sprites/rd-border-left-red324.png)/*tpa=http://www.gannett.com/images/blade-sprites/rd-border-left-red324.png*/; height:324px;
		_background-image:url(../../images/blade-sprites/rd-border-left-red324.gif)/*tpa=http://www.gannett.com/images/blade-sprites/rd-border-left-red324.gif*/;}
.who-we-are .blade-2 .hider {border:1px solid #f89727;}/*orange*/ 
.who-we-are .blade-2 .blade-border {background-image:url(../../images/blade-sprites/rd-border-left-orange324.png)/*tpa=http://www.gannett.com/images/blade-sprites/rd-border-left-orange324.png*/; height:324px;
		_background-image:url(../../images/blade-sprites/rd-border-left-orange324.gif)/*tpa=http://www.gannett.com/images/blade-sprites/rd-border-left-orange324.gif*/;}
.who-we-are .blade-3 .hider {border:1px solid #009ddc;}/*ltblue*/
.who-we-are .blade-3 .blade-border {background-image:url(../../images/blade-sprites/rd-border-left-ltblue324.png)/*tpa=http://www.gannett.com/images/blade-sprites/rd-border-left-ltblue324.png*/; height:324px;
		_background-image:url(../../images/blade-sprites/rd-border-left-ltblue324.gif)/*tpa=http://www.gannett.com/images/blade-sprites/rd-border-left-ltblue324.gif*/;}
.who-we-are .blade-4 .hider {border:1px solid #731572;}/*purple*/
.who-we-are .blade-4 .blade-border {background-image:url(../../images/blade-sprites/rd-border-left-purple324.png)/*tpa=http://www.gannett.com/images/blade-sprites/rd-border-left-purple324.png*/; height:324px;
		_background-image:url(../../images/blade-sprites/rd-border-left-purple324.gif)/*tpa=http://www.gannett.com/images/blade-sprites/rd-border-left-purple324.gif*/;}
		
.careers li .hider {border:1px solid #004183;}/*blue*/ 
.careers li .blade-border {background-image:url(../../images/blade-sprites/rd-border-left-blue324.png)/*tpa=http://www.gannett.com/images/blade-sprites/rd-border-left-blue324.png*/; height:324px;
		_background-image:url(../../images/blade-sprites/rd-border-left-blue324.gif)/*tpa=http://www.gannett.com/images/blade-sprites/rd-border-left-blue324.gif*/;}
