

.morelink{font-family: Arial; color:#718AA9; font-size: 12px; text-decoration:none;} 
.morelink a:link{font-family: Arial; color:#718AA9; font-size: 12px; text-decoration:none;}  
.morelink a:visited{font-family: Arial; color:#718AA9; font-size: 12px; text-decoration:none;} 
.morelink a:hover{font-family: Arial; color:#718AA9; font-size: 12px; text-decoration:none;} 
.morelink a:active{font-family: Arial; color:#718AA9; font-size: 12px;text-decoration:none;}

.vsttxt3 .morelink{font-family: Arial; color:#718AA9; font-size: 12px; text-decoration:none;} 
.vsttxt3 .morelink a:link{font-family: Arial; color:#718AA9; font-size: 12px; text-decoration:none;}  
.vsttxt3 .morelink a:visited{font-family: Arial; color:#718AA9; font-size: 12px; text-decoration:none;} 
.vsttxt3 .morelink a:hover{font-family: Arial; color:#718AA9; font-size: 12px; text-decoration:none;} 
.vsttxt3 .morelink a:active{font-family: Arial; color:#718AA9; font-size: 12px;text-decoration:none;}

#vsttxt{
background-image: url(../../graphics/webcast/talldivider.png)/*tpa=http://www.gannett.com/graphics/webcast/talldivider.png*/;
background-repeat:no-repeat;
background-position:100% 18%;
padding: 1px 15px 0 20px;
float:left;
width:275px;
display: inline;
}

#vsttxt p{
font-size:12px;
color:#000;
padding:0px;
margin:0px;
font-family:arial;
display:block;
}

.vsttxt3 p{
color:#333;
padding:2px 0px 0px 0px;
margin:0px;
font-family:arial;
font-size:12px;
width:270px;
display:block;
}

#vsttxt2{
font-family:arial;
color:#333;
font-size:14px;
padding: 1px 0px 0 15px;
float:left;
width:290px;
display: inline;
}

#vsttop{
float:left;
max-width:620px;
width:620px;
display: inline;
}

#vstimg1{
display:block;
width:620px;
padding:18px 0 0 20px;
}

#vstimg2{
padding:15px 0 14px 0;
width:196px;
}
