/* Tiny Scrollbar JQUERY */
#scrollbar1 { width: 296px; margin:0px; background-color:#fffbdd;font-family:arial;font-size:12px;color:#00629f;}
#scrollbar1 .viewport { width: 280px; height: 200px; overflow: hidden; position: relative;}
#scrollbar1 .overview { list-style: none; position: absolute; left: 0; top: 0; margin: 0; padding:0px; }
#scrollbar1 .scrollbar{ background: transparent url(../../graphics/icons/bg-scrollbar-track-y.png)/*tpa=http://www.gannett.com/graphics/icons/bg-scrollbar-track-y.png*/ no-repeat 0 0; position: relative; background-position: 0 0; float: right; width: 15px; }
#scrollbar1 .track { background: transparent url(../../graphics/icons/bg-scrollbar-trackend-y.png)/*tpa=http://www.gannett.com/graphics/icons/bg-scrollbar-trackend-y.png*/ no-repeat 0 100%; height: 100%; width:13px; position: relative; padding: 0 1px; }
#scrollbar1 .thumb { background: transparent url(../../graphics/icons/bg-scrollbar-thumb-y.png)/*tpa=http://www.gannett.com/graphics/icons/bg-scrollbar-thumb-y.png*/ no-repeat 50% 100%; height: 20px; width: 25px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; }
#scrollbar1 .thumb .end { background: transparent url(../../graphics/icons/bg-scrollbar-thumb-y.png)/*tpa=http://www.gannett.com/graphics/icons/bg-scrollbar-thumb-y.png*/ no-repeat 50% 0; overflow: hidden; height: 5px; width: 25px; }
#scrollbar1 .disable { display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }
#scrollbar1 h4 {text-transform:uppercase;font-weight:bold;padding:3px;margin:3px 0 0 0;}

#leftside {
font-family: Arial, Verdana, Helvetica, sans-serif;
float: left;
background-color: #fff;
text-align: left;
height: auto;
width: 580px;
padding: 10px 0px 10px 20px;
}

.article_left {
    margin: 10px 0px 0px 0px;    
}

#rightside2 {
font-family: Arial, Verdana, Helvetica, sans-serif;
text-align: left;
float: right;
width: 300px;
padding: 30px 20px 10px 0px;
}  

#rightcolumnarticle{
width: 300px;
margin: 0px 20px 10px 10px;
padding-top:30px;
float: right;
text-align: left;
background-color:#ffffff;
}

.category_name {
font-family: Arial, Verdana, Helvetica, sans-serif;
font-size: 14pt;
font-weight: bold;
color: #000000;
width: 580px;
text-decoration: none;
margin-bottom: 20px;
margin-top: 15px;
}
 
.relatedlinksbox {
font-family: Arial, Verdana, Helvetica, sans-serif;
text-align: left;
height:auto;
border-bottom: 1px solid #CCCCCC;
border-top: 1px solid #000000;
}

.relatedlink {
text-align: left;
height:12px;
padding-bottom: 3px;
border-color: #CCCCCC;
border-top-width: 1px;
border-top-style: solid;
}

.relatedlink2{
text-align: left;
height: 12px;
padding-left: 30px;
padding-bottom: 3px;
border-color: #cccccc;
border-top-width: 1px;
border-top-style: solid;
}

.relatedlinkgraphic{
font-family: Arial, Verdana, Helvetica, sans-serif;
text-align: left;
height:auto;
margin-bottom: 16px;
padding-top:5px;
padding-bottom:5px;
border-bottom-width: 1px;
border-bottom-style: solid;
border-top-width: 1px;
border-top-style: solid;
border-color: #CCCCCC;
}

.relatedvideosbox {
font-family: Arial, Verdana, Helvetica, sans-serif;
text-align: left;
height:auto;
border-top-width: 1px;
border-color: #999999;
border-top-style: solid;
}
.articleimage {
width: 310px; 
margin: 10px 10px 10px 10px;
float: right;  
}

.sidebar-related {
width: 310px;
margin: 10px 10px 10px 10px; 
float: right;   
}

/** PRESS RELEASES **/
.RSSline {
width: 100%;
border-width:1px; 
border-bottom-style: solid;
border-top-style: solid;
border-color:#000000;
padding-top: 0px;
height:17px;
padding-bottom: 0px;   
}

/** CERTIFY FINANCIAL FRONT **/
.certyear {
width: 156px; 
border-left-style: solid;
padding: 5px 0px 10px 0px;
border-left-width: 1px;
border-left-color: #bbbbbb;      
}

.certyearnumber {
width: 146px;  
padding: 2px 0px 2px 10px;
background-color: #bbbbbb;
font-family: Arial, Verdana, Helvetica, sans-serif; 
color: white; 
font-size: 12px; 
font-weight: bold;
}

.statementitem {
	width: 136px; 
    border-top-style: solid;
    margin: 5px 10px 0px 10px;
    border-top-width: 1px;
    border-top-color: #bbbbbb;      
}

/** MANAGEMENT SECTION FRONT **/
#manage-board {
	width: 95%;
    margin-right: 20px;
    margin-bottom: 10px;
    float: left;
    font-family: Arial, Verdana, Helvetica, sans-serif; 
	color: black; 
	font-size: 11px;
	line-height: 15px; 
	clear:both;   
}

#manage-left {
	width: 260px;
    margin-right: 20px;
	height : auto;
    float: left;
    font-family: Arial, Verdana, Helvetica, sans-serif; color: black; font-size: 11px; line-height: 15px;     
}

.manage-full-title{font-family: Arial, Verdana, Helvetica, sans-serif; color:#000; font-size: 11px; font-weight: bold; display: block; }

.manage-full-txt {font-family: Arial, Verdana, Helvetica, sans-serif; color: black; font-size: 12px;}

#manage-right {
	width: 280px;
	height : auto;
    float: right;   
    font-family: Arial, Verdana, Helvetica, sans-serif; color: black; font-size: 11px; font-weight: bold;line-height: 15px; 
}

#manage-left img {
        padding: 3px 10px 7px 0px;  
        float: left;         
        }

#manage-right img {
        padding: 10px; 
        margin: 0px 10px 40px 0px;
        float: left;   
}
#manage p{font-family: Arial, Verdana, Helvetica, sans-serif; color: black; font-size: 11px; line-height: 15px;}

.manage-image img {
	margin: 3px 10px 3px 0px;  
}

#manage-division {   
    font-family: Arial, Verdana, Helvetica, sans-serif; color: black; font-size: 11px; line-height: 15px; 
}
/** MANAGEMENT SECTION FRONT END **/


/** Gannett map SECTION FRONT **/
.maptext {font-family: Arial, Verdana, Helvetica, sans-serif; color: black; font-size: 11px; line-height: 15px; }
.maptext a:link, .maptext a:visited {text-decoration:none;color:#666666;}
.maptext a:hover {text-decoration:underline;}

hr {
   border: 0;
   color: #000;
   background-color: #000;
   height: 1px;
   width: 100%;
   text-align: left;
   margin: 0 auto 0px 0;
}

.INVERTORREL14YR {
        margin-bottom:10px;    
        height:auto;
        border-top-width: 1px;
        border-top-style: solid;
        border-color: #000000;
}

.INVERTORREL14YR2 {
        margin-bottom:10px;    
        height:auto;
}

/** BRAND PAGE **/
.brandcarobody {
           width: 310px; 
           height:140px;
           max-height:140px;
           overflow:hidden;
           padding-top: 0px;
           padding-left: 0px;
           float: left;
           position: absolute;           
           text-align: left; 
           word-wrap: normal;
           background-color: transparent;
           }

.brandcarotxt {
           width: 310px; 
           height:220px;                   
           padding-top: 100px;
           padding-left: 20px;
           float: left;
           position: absolute;           
           text-align: left; 
           background-color: transparent;
           }

.brandcarocredit {
           width: 280px; 
           padding-top: 170px;
           padding-left: 0px;
           float: left;
           position: absolute; 
           text-align: left; 
           background-color: transparent;
           }
           
.brandcarobody {
           width: 330px; 
           height:140px;
           max-height:140px;
           overflow:hidden;
           padding-top: 0px;
           padding-left: 0px;
           float: left;
           position: absolute;           
           text-align: left; 
           word-wrap: normal;
           background-color: transparent;
           }
           
/** CAREER PAGE **/
#careerleftside {
	font-family: Arial, Verdana, Helvetica, sans-serif;
    float: left;
    background-color: #fff;
    text-align: left;
    height: auto;
	width: 614px;
    margin: 0px 0px 0px 0px;
}

.careercarousel
{
    background-color: #ffffff;
    height: 363px;
    position: relative;
    z-index: 0;
    width: 626px;
}

.caroimg {
           width: 626px; 
           position: absolute;
           z-index: -200;
           height:360px;
           float: left;
           text-align: left;
           }
           
.caroimg img{  
           position: relative;
           z-index: -200;
           }
           
.carotitle {
           width: 350px; 
           padding-top: 100px;
           padding-left: 20px;
           float: left;
           position: absolute;      
           text-align: left; 
           background-color: transparent;
           }
           
.carotxt {
           width: 330px; 
           height:220px;                   
           padding-top: 130px;
           padding-left: 20px;
           float: left;
           position: absolute;           
           text-align: left; 
           background-color: transparent;
           }
           
.carobody {
           width: 330px; 
           height:140px;
           max-height:140px;
           overflow:hidden;
           padding-top: 0px;
           padding-left: 0px;
           float: left;
           position: absolute;           
           text-align: left; 
           word-wrap: normal;
           background-color: transparent;
           }

.carocredit {
           width: 280px; 
           padding-top: 140px;
           padding-left: 0px;
           float: left;
           position: absolute; 
           text-align: left; 
           background-color: transparent;
           }

.carouselcontrol {
           width: 280px;
           margin-top: 230px;  
           padding-top: 0px;
           padding-left: 20px;
           float: left;
           position: absolute; 
           text-align: left; 
           background-color: transparent;
           }
           
#careerrightside {
    position: relative;
    z-index: -1;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    float: right;
    background-color: #ffffff;
    width: 304px;
    height:340px;
    max-height: 343px;
    overflow: hidden;
    padding: 20px 0px 0 10px;
} 

#yellowbar { 
height:auto;
margin-left:20px;
margin-right:20px;
padding-bottom:18px;
background-color: #fffbdd;
}

.careeryellow { 
height:auto;
width:635px;
float: left;
margin-left:0px;
padding: 20px 0px 0px 11px;
}

.smartpromo {
width: 140px;
float: left;
height: auto;
margin-right:16px;
text-align: left;
padding: 0px 0px 0px 0px;  
}

.smartpromopic {
width: 296px;
float: left;
height: auto;
margin-right:16px;
text-align: left;
padding: 0px 0px 0px 0px;  
}

.careervideo {
width: 250px; 
height:auto;
float: left;
text-align: left;
padding: 20px 11px 0px 10px;
background-color: #fffbdd;
}

.smartpromo img {
width: 140px;
text-align: center;
margin: 0px 0px 0px 0px;   
}

#inside_eye{
width: 940px;
top:0;left:0;
margin-left: auto;
margin-right: auto;
padding-top:10px;
position:static;
clear:both;
}



/** NEWSWATCH ARTICLE PAGE **/
.para {
    float: left;
    height: auto;
    width: auto;
    margin: 0px;
}


.parahead {
    float: left;
    height: auto;
    width: auto;
}

.parapic {
    float: left;
    height: auto;
    width: auto;
    margin: 10px 10px 10px 0px;
}

.addthis{
    width: 100%;
    margin: 10px 0px 10px 10px;
    float: right;
    text-align: left;
}

/** DOING GOOD PAGE **/
#goodlinks {
	    width: 100%;
        margin: 10px 0px 0px 0px;
	    height : auto;        
}

#goodleft {
	    width: 625px;
        margin: 0px 10px 10px 0px;
	    height : auto;
        float: left;
        padding: 0 0 10px 0;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: #829cb9;
        font-family: Arial, Verdana, Helvetica, sans-serif; color: black; font-size: 11px; line-height: 15px;     
}

#goodleft img{	
        margin: 0 10px 0 0;	
        float: left;
}

.goodtitle {font-family: Arial,sans-serif;color: #000000;font-size: 12px;font-weight: bold; display: block; text-decoration: none; }
.goodtitle  a:link{text-decoration: none;}
.goodtitle  a:visited{text-decoration: none;}
.goodtitle  a:hover{text-decoration: none;}
.goodtitle  a:active{text-decoration: none;}

.goodlink  a:link{font-family: Arial, Verdana, Helvetica, sans-serif; color: #718AA9; font-size: 12px; line-height: 15px; text-decoration: none;   }
.goodlink  a:visited{font-family: Arial, Verdana, Helvetica, sans-serif; color: #718AA9; font-size: 12px; line-height: 15px; text-decoration: none;  }
.goodlink  a:hover{font-family: Arial, Verdana, Helvetica, sans-serif; color: #718AA9; font-size: 12px; line-height: 15px; text-decoration: underline;  }
.goodlink  a:active{font-family: Arial, Verdana, Helvetica, sans-serif; color: #718AA9; font-size: 12px; line-height: 15px; text-decoration: none; }

/** Case Studies **/
.casestudyheader   {    
    width: 193px;
    height:59px;
    background-image: url(../../graphics/casestudies/casestudies.jpg)/*tpa=http://www.gannett.com/graphics/casestudies/casestudies.jpg*/;
    background-repeat: no-repeat;
    text-indent:-9999px;
}

.casestudyheader h2{position:absolute;}

.caserow{
      width: 100%;
      height: auto;
      min-height: 76px;
      padding-top: 25px;
      padding-bottom: 25px;
      border-color:#999999;
      border-top-width:1px;
      border-top-style: solid;
      padding-top:25px;
}

.caserow img   {    
    width: 147px;
    height:76px;
    float: left;
}

#insidebluebar{
width: 940px;
height: 20px;
margin: 15px 20px 0 20px;
background-repeat: no-repeat;
background-image: url(../../graphics/BotFeatBar.jpg)/*tpa=http://www.gannett.com/graphics/BotFeatBar.jpg*/;  
}
/** CAREERS LEADERSHIP PAGES **/
#leadership-left {
    width: 286px;
    margin: 20px 0px 0px 0px;
    height : auto;
    float: left;
    font-family: Arial, Verdana, Helvetica, sans-serif; color: black; font-size: 11px; line-height: 15px;     
}

#leadership-left a{
text-decoration:none;
}

#leadership-left img {
        padding: 3px 10px 7px 0px;  
        float: left;         
        }
        
#council-item {
    width: 550px;
    margin: 20px 0px 0px 0px;
    height : auto; 
    font-family: Arial, Verdana, Helvetica, sans-serif; color: black; font-size: 11px; line-height: 15px;     
}

#council-item a{
text-decoration:none;
}

#council-item img {
        padding: 3px 11px 7px 0px; 
        float: left;         
        }
   
#council-text {    
    margin-left: 100px;
}
     
/** CAREERS LEADERSHIP PAGES END **/

.caserow2{
width: 145px;
float:left;
display:inline;
height: 100px;
min-height: 76px;
margin-right:48px;
margin-bottom:36px;
}

.caserow2 img{
float:left;
}

.caserowtitle{
margin-top:10px;
width: 100%;
float:right;
height: auto;
min-height: 76px;     
}

/** BRANDS OVERVIEW **/
.brand01art{
font-family: Arial,Verdana,Helvetica,sans-serif;
color: black;
font-size: 12px;
line-height: 15px;
border-top-style:solid;
border-top-color:#ccc;
border-top-width:1px;
padding:5px 0 20px 0;
margin:0px;
display:block;
}


#unsung-board {	
    margin-right: 20px;
    margin-bottom: 25px;
    height : auto;
    float: left;
    font-family: Arial, Verdana, Helvetica, sans-serif; color: black; font-size: 11px;line-height: 15px;     
}

.unsung-image img {
	margin: 3px 10px 18px 0px;  
}

/** #work-board {border-bottom:1px solid #718aa9;margin-right: 20px;margin-bottom: 20px;height : auto;float: left;font-family: Arial, Verdana, Helvetica, sans-serif; color: black; font-size: 11px;line-height: 15px;} **/


#work-board {	
    height : auto;
    float: left;
    font-family: Arial, Verdana, Helvetica, sans-serif; color: black; font-size: 11px;line-height: 15px;     
}

#work-board p {padding-bottom:10px; margin-top:0px;font-family: Arial, Verdana, Helvetica, sans-serif; color: black; font-size: 11px!important;line-height: 15px;
    border-bottom:1px solid #718aa9;}

.work-image img {
	margin: 3px 10px 30px 0px;  
}

#jc-board {	
    height : auto;
    float: left;
    font-family: Arial, Verdana, Helvetica, sans-serif; color: black; font-size: 11px;line-height: 15px;border-bottom:1px solid #718aa9; padding:5px 0; margin-bottom:5px; }

#jc-board p {margin-top:0px;font-family: Arial, Verdana, Helvetica, sans-serif; color: black; font-size: 11px!important;line-height: 15px; }

.careerpromo{font-family: Arial; color:#718AA9; font-size: 10px; font-weight: bold; display: block; text-decoration:none;} 
.careerpromo a:link{font-family: Arial; color:#718AA9; font-size: 10px; font-weight: bold; display: block; text-decoration:none;}  
.careerpromo a:visited{font-family: Arial; color:#718AA9; font-size: 10px; font-weight: bold; display: block; text-decoration:none;} 
.careerpromo a:hover{font-family: Arial; color:#718AA9; font-size: 10px; font-weight: bold; display: block; text-decoration:none;} 
.careerpromo a:active{font-family: Arial; color:#718AA9; font-size: 10px; font-weight: bold; display: block; text-decoration:none;}

.caserowtitle {font-family: Arial, Verdana, Helvetica, sans-serif; color: black; font-size: 12px; line-height: 15px; display: block;}
.caserowtitle2{font-family: Arial,Verdana,Helvetica,sans-serif;color: black;margin-left:165px;font-weight:bold;font-size: 12px;line-height: 15px;display: block;}
.caserowpara {font-family: Arial, Verdana, Helvetica, sans-serif; color: black; font-size: 12px; line-height: 15px; display: block; margin-left:165px;}
.caserowpara  a:link{font-family: Arial, Verdana, Helvetica, sans-serif; color: #718AA9; font-size: 12px; line-height: 15px; text-decoration: none;   }
.caserowpara  a:visited{font-family: Arial, Verdana, Helvetica, sans-serif; color: #718AA9; font-size: 12px; line-height: 15px; text-decoration: none;  }
.caserowpara  a:hover{font-family: Arial, Verdana, Helvetica, sans-serif; color: #718AA9; font-size: 12px; line-height: 15px; text-decoration: underline;  }
.caserowpara  a:active{font-family: Arial, Verdana, Helvetica, sans-serif; color: #718AA9; font-size: 12px; line-height: 15px; text-decoration: none; }
.parahead{font-family: Arial, Helvetica, sans-serif; color:#000; font-size: 14px; font-weight: bold; display: block;} 
.sidebar-related ul li a { font-family: Arial; color:#000000; font-size: 12px; display: block;}
.relatedlink a{ font-family: Arial; color:#000000; font-size: 10px; display: block; line-height: 15px; text-decoration: none;}
.brandcarotxt { font-family: Arial; color:#000000; font-size: 12px; display: block;}
.brandcarocredit { font-family: Arial; color:#818181; font-size: 11px; display: block;}
.brandcarobody{ font-family: Arial; color:#718AA9; font-size: 12px;  display: block;}

.relatedlink{font-family: Arial, Verdana, Helvetica, sans-serif; color:#818181; font-size: 10px; font-weight: bold; display: block; line-height: 14px;text-decoration: none;} 
.relatedlink a:link{font-family: Arial, Verdana, Helvetica, sans-serif; color:#818181; font-size: 10px; font-weight: bold; display: block; line-height: 14px;text-decoration: none;} 
.relatedlink a:visited{font-family: Arial, Verdana, Helvetica, sans-serif; color:#818181; font-size: 10px; font-weight: bold; display: block; line-height: 14px;text-decoration: none;} 
.relatedlink a:hover{font-family: Arial, Verdana, Helvetica, sans-serif; color:#818181; font-size: 10px; font-weight: bold; display: block; line-height: 14px;text-decoration: none;} 
.relatedlink a:active{font-family: Arial, Verdana, Helvetica, sans-serif; color:#818181; font-size: 10px; font-weight: bold; display: block; line-height: 14px;text-decoration: none;} 

.relatedlink2{font-family: Arial, Verdana, Helvetica, sans-serif; color:#818181; font-size: 10px; font-weight: bold; display: block; line-height: 14px;text-decoration: none;} 
.relatedlink2 a:link{font-family: Arial, Verdana, Helvetica, sans-serif; color:#818181; font-size: 10px; font-weight: bold; display: block; line-height: 14px;text-decoration: none;} 
.relatedlink2 a:visited{font-family: Arial, Verdana, Helvetica, sans-serif; color:#818181; font-size: 10px; font-weight: bold; display: block; line-height: 14px;text-decoration: none;} 
.relatedlink2 a:hover{font-family: Arial, Verdana, Helvetica, sans-serif; color:#818181; font-size: 10px; font-weight: bold; display: block; line-height: 14px;text-decoration: none;} 
.relatedlink2 a:active{font-family: Arial, Verdana, Helvetica, sans-serif; color:#818181; font-size: 10px; font-weight: bold; display: block; line-height: 14px;text-decoration: none;} 

.grey-left{font-family: Arial, Verdana, Helvetica, sans-serif; color:#818181; font-size: 10px; font-weight: bold; display: block; line-height: 14px;text-decoration: none;} 
.grey-left a:link{font-family: Arial, Verdana, Helvetica, sans-serif; color:#818181; font-size: 10px; font-weight: bold; display: block; line-height: 14px;text-decoration: none;} 
.grey-left a:visited{font-family: Arial, Verdana, Helvetica, sans-serif; color:#818181; font-size: 10px; font-weight: bold; display: block; line-height: 14px;text-decoration: none;} 
.grey-left a:hover{font-family: Arial, Verdana, Helvetica, sans-serif; color:#818181; font-size: 10px; font-weight: bold; display: block; line-height: 14px;text-decoration: none;} 
.grey-left a:active{font-family: Arial, Verdana, Helvetica, sans-serif; color:#818181; font-size: 10px; font-weight: bold; display: block; line-height: 14px;text-decoration: none;} 


.carotitle { font-family: Arial; color:#000000; font-size: 16px; font-weight: bold; display: block;}
.carotxt { font-family: Arial; color:#000000; font-size: 12px; display: block;}
.carocredit { font-family: Arial; color:#818181; font-size: 11px; display: block;}

.videopromo { font-family: Arial; color:#000000; font-size: 10px; display: block; margin-top:10px;}
.videopromo a{ font-family: Arial; color:#000000; font-size: 10px; display: block; text-decoration: none;}    
.brandspromo{font-family: Arial, Verdana, Helvetica, sans-serif; color:#000; font-size: 10px; font-weight: bold; display: block;} 
  
.investorrel14 a:link{font-family: Arial, Verdana, Helvetica, sans-serif; color: black; font-size: 11px; line-height: 20px;font-weight: bold; margin-top:5px; text-decoration: none; }
.investorrel14 a:visited{font-family: Arial, Verdana, Helvetica, sans-serif; color: black; font-size: 11px; line-height: 20px;font-weight: bold; margin-top:5px; text-decoration: none; }
.investorrel14 a:hover{font-family: Arial, Verdana, Helvetica, sans-serif; color: black; font-size: 11px; line-height: 20px;font-weight: bold; margin-top:5px; text-decoration: none; }
.investorrel14 a:active{font-family: Arial, Verdana, Helvetica, sans-serif; color: black; font-size: 11px; line-height: 20px;font-weight: bold; margin-top:5px; text-decoration: none; }

.smartpromo { font-family: Arial; color:#000000; font-size: 10px; display: block; line-height:12px; text-decoration:none;}
.smartpromo a:link{ font-family: Arial; color:#000000; font-size: 10px; display: block; line-height:12px; text-decoration:none;}
.smartpromo a:visited{ font-family: Arial; color:#000000; font-size: 10px; display: block; line-height:12px; text-decoration:none;}
.smartpromo a:hover{ font-family: Arial; color:#000000; font-size: 10px; display: block; line-height:12px; text-decoration:none;}
.smartpromo a:active{ font-family: Arial; color:#000000; font-size: 10px; display: block; line-height:12px; text-decoration:none;}

.investorrel15 a:link{font-family: Arial, Verdana, Helvetica, sans-serif; color: black; font-size: 11px; line-height: 20px;font-weight: bold; margin-top:5px; text-decoration: none; }
.investorrel15 a:visited{font-family: Arial, Verdana, Helvetica, sans-serif; color: black; font-size: 11px; line-height: 20px;font-weight: bold; margin-top:5px; text-decoration: none; }
.investorrel15 a:hover{font-family: Arial, Verdana, Helvetica, sans-serif; color: black; font-size: 11px; line-height: 20px;font-weight: bold; margin-top:5px; text-decoration: underline; }
.investorrel15 a:active{font-family: Arial, Verdana, Helvetica, sans-serif; color: black; font-size: 11px; line-height: 20px;font-weight: bold; margin-top:5px; text-decoration: none; }

.market03sum {color:#000000;font-family:verdana;font-size:14px; margin:10px 0px 20px 0px; line-height:18px;}

#leftside p{font-family: Arial, Verdana, Helvetica, sans-serif; color: black; font-size: 12px; line-height: 15px;}
#leftside p a:link{font-family: Arial, Verdana, Helvetica, sans-serif; color: #718aa9; font-size: 12px; line-height: 15px; text-decoration: none;}
#leftside p a:visited{font-family: Arial, Verdana, Helvetica, sans-serif; color: #718aa9; font-size: 12px; line-height: 15px; text-decoration: none; }
#leftside p a:hover{font-family: Arial, Verdana, Helvetica, sans-serif; color: #718aa9; font-size: 12px; line-height: 15px; text-decoration: underline; }
#leftside p a:active{font-family: Arial, Verdana, Helvetica, sans-serif; color: #718aa9; font-size: 12px; line-height: 15px; text-decoration: none; }

.article-related { display: block; text-decoration: none;text-align:left; margin-right:10px;}
.caption { font-family: Arial; color:#000; font-size: 10px; display: block; text-decoration: none;text-align:left;}
.credit { font-family: Arial; color:#000; font-size: 10px; display: block; text-decoration: none;text-align:left;}

.RSSline{font-family: Arial, Verdana, Helvetica, sans-serif; color:#bbbbbb; font-size: 11px; font-weight: bold; padding: 3px 0 3px 0; display: block;} 
.title {font-family: Arial, Verdana, Helvetica, sans-serif; color:#a0a5bb; font-size: 13px; font-weight: bold; display: block; line-height: 15px;}
.subhead{font-family: Arial, Verdana, Helvetica, sans-serif; color: black; font-size: 16px; font-weight: bold;  display: block; }
.presentationlist a{font-family: Arial, Verdana, Helvetica, sans-serif; color:#718AA9; font-size: 11px; font-weight: bold; line-height: 20px; text-decoration: none;}
.sectiontitle a{font-family: Arial, Verdana, Helvetica, sans-serif; color: black; font-size: 12px; font-weight: bold; text-decoration: none;}
.sectiontitle2 a{font-family: Arial, Verdana, Helvetica, sans-serif; color: black; font-size: 12px; text-decoration: none;}
.sectiontitle3  {font-family: Arial, Verdana, Helvetica, sans-serif; color: black; font-size: 12px; line-height: 15px;}
.sectiontitle3  a{font-family: Arial, Verdana, Helvetica, sans-serif; color: black; font-size: 12px; line-height: 15px; text-decoration: none;}
.sectiontitle3  a:visited {font-family: Arial, Verdana, Helvetica, sans-serif; color: black; font-size: 12px; line-height: 15px; text-decoration: none;}

.headline2{font-family: Arial, Verdana, Helvetica, sans-serif; color: black; font-size: 18px; font-weight: bold; line-height:25px;}
.subhead2{font-family: Arial, Verdana, Helvetica, sans-serif; color: black; font-size: 13px; font-weight: bold;}

.headline2 h1{font-family: Arial, Verdana, Helvetica, sans-serif; color: black; font-size: 18px; font-weight: bold; line-height:25px;}
.headline2 h2{font-family: Arial, Verdana, Helvetica, sans-serif; color: black; font-size: 18px; font-weight: bold; line-height:25px;}

.subhead2 h2{font-family: Arial, Verdana, Helvetica, sans-serif; color: black; font-size: 13px; font-weight: bold;}


.sectiontitle4 {font-family: Arial, Verdana, Helvetica, sans-serif; color: black; font-size: 15px; display: block; font-weight: bold; line-height: 15px; text-decoration: none;}
.sectiontitle4 a:link {font-family: Arial, Verdana, Helvetica, sans-serif; color: black; font-size: 15px; display: block; line-height: 15px; text-decoration: none;}
.sectiontitle4 a:visited {font-family: Arial, Verdana, Helvetica, sans-serif; color: black; font-size: 15px; display: block; line-height: 15px; text-decoration: none;}
.sectiontitle4 a:hover{font-family: Arial, Verdana, Helvetica, sans-serif; color: black; font-size: 15px; display: block; line-height: 15px; text-decoration: none;}

.relatedhead{font-family: Arial, Verdana, Helvetica, sans-serif; color:#004180; font-size: 11px; font-weight: bold; padding: 0 0 25px 0; display: block; line-height: 15px;} 

.nwtitle {font-family: Arial, Verdana, Helvetica, sans-serif; color:#000; font-size: 12px; font-weight: bold; display: block;  margin-left:20px;margin-bottom:5px; text-decoration:none;}
.nwtitle a:link {font-family: Arial, Verdana, Helvetica, sans-serif; color:#000; font-size: 12px; font-weight: bold; display: block;  margin-left:20px;margin-bottom:5px; text-decoration:none;}
.nwtitle a:visited {font-family: Arial, Verdana, Helvetica, sans-serif; color:#000; font-size: 12px; font-weight: bold; display: block;  margin-left:20px;margin-bottom:5px; text-decoration:none;} 
.nwtitle a:hover {font-family: Arial, Verdana, Helvetica, sans-serif; color:#000; font-size: 12px; font-weight: bold; display: block; margin-left:20px;margin-bottom:5px; text-decoration:none;}

.nwdate {font-family: Arial, Verdana, Helvetica, sans-serif; color:#004180; font-size: 12px; font-weight: bold; display: block; line-height: 15px; margin-left:10px;margin-top:20px;margin-bottom:5px;}
.nwdate a:link {font-family: Arial, Verdana, Helvetica, sans-serif; color:#004180; font-size: 12px; font-weight: bold; display: block; line-height: 15px; margin-left:10px;margin-top:20px;margin-bottom:5px;}
.nwdate a:visited {font-family: Arial, Verdana, Helvetica, sans-serif; color:#004180; font-size: 12px; font-weight: bold; display: block; line-height: 15px; margin-left:10px;margin-top:20px;margin-bottom:5px;} 
.nwdate a:hover {font-family: Arial, Verdana, Helvetica, sans-serif; color:#004180; font-size: 12px; font-weight: bold; display: block; line-height: 15px; margin-left:10px;margin-top:20px;margin-bottom:5px;}

.nwmonth {font-family: Arial, Verdana, Helvetica, sans-serif; color:#818181; font-size: 16px; font-weight: bold; display: block;margin-top:20px;}
.nwmonth a:link {font-family: Arial, Verdana, Helvetica, sans-serif; color:#818181; font-size: 16px; font-weight: bold; display: block;margin-top:20px;}
.nwmonth a:visited {font-family: Arial, Verdana, Helvetica, sans-serif; color:#818181; font-size: 16px; font-weight: bold; display: block;margin-top:20px;} 
.nwmonth a:hover {font-family: Arial, Verdana, Helvetica, sans-serif; color:#818181; font-size: 16px; font-weight: bold; display: block;margin-top:20px;}

.byline {font-family: Arial,Verdana,Helvetica,sans-serif;color: #004180;font-size: 11px;font-weight: bold;}
.byline a:link {font-family: Arial,Verdana,Helvetica,sans-serif;color: #004180;font-size: 11px;font-weight: bold; text-decoration:none;}
.byline a:visited {font-family: Arial,Verdana,Helvetica,sans-serif;color: #004180;font-size: 11px;font-weight: bold; text-decoration:none;}
.byline a:hover {font-family: Arial,Verdana,Helvetica,sans-serif;color: #004180;font-size: 11px;font-weight: bold; text-decoration:none;}