/*		=============================================================
		|+|	Navigation Elements
			[-] top level menu
			[-] second level (drop down)
			[-] third level (flyout)
			[-] links & hovers
		-------------------------------------------------------------		*/
		

			ul#menu {
                          padding: 0;
                          margin: 0;
                          list-style: none;
			}


			ul#menu li.last {
                          width: 150px;
   }

			ul#menu li {
                          width: 157px;
   }

		/*	second level (drop down)
			- - - - - - - - - - - - - - - - - - - - - - - - - - - - - 		*/
			ul#menu li ul {
				/*hide second level menu (drop downs)*/
				display: none;
				position: absolute;
				top: 20px;
				left: -1px;
				z-index: 99;
			}

			ul#menu li ul li {
				background: #D5DEE8;
				border: 1px solid #fff;
				border-top: 0;
				/*allow absolute positioning of 3rd-level menu*/
				position: relative;
				width: 158px;
			}
			
		/*	third level (flyout)
			- - - - - - - - - - - - - - - - - - - - - - - - - - - - - 		*/
			ul#menu li li ul {
				/*hide 3rd-level menu (flyouts)*/
				display: none;
				position: absolute;
				top: 0%;
				left: 100%;
				z-index: 98;
			}
			
			
		/*	links & hovers
			- - - - - - - - - - - - - - - - - - - - - - - - - - - - - 		*/
			
			/*show second level menu || suckerfish technique*/
			ul#menu li.sfhover ul {
				display: block;
			}

			/*align submenu lables to the left*/
			#menu li.sfhover ul li {
				text-align: center;
			}
			
			/*ensure third level stays hidden until second-level hover*/
			ul#menu li.sfhover ul ul {
				display: none;
			}
			
			/*show third level menu || suckerfish technique*/
			ul#menu li.sfhover ul li.sfhover ul {
				display: block;
			}

            
            
            #menu li a:hover {
                  background: #d5dee8;
                  color:black;
            }
            
            #menu li ul a {
                  color:black;
            }


            #menu li > ul a{
                  color:black;
            }

			
/*		=============================================================
		|+|	Search Elements
			[-] form container
				[.] input box
				[.] submit button
		-------------------------------------------------------------		*/			

		/*	form container (second level drop down)
			- - - - - - - - - - - - - - - - - - - - - - - - - - - - - 		*/

		/*	input box
			- - - - - - - - - - - - - - - - - - - - - - - - - - - - - 		*/
			
		/*	submit button
			- - - - - - - - - - - - - - - - - - - - - - - - - - - - - 		*/