
#primarycontent {
position: relative;
z-index: 1000;
height: auto;
width: 940px;
position:relative;
margin-top:16px;
padding: 0px 15px 0px 19px;
}

#secondarycontent{
width: 940px;
height: auto;
border-bottom-style: solid;
border-bottom-width: 1px;
border-bottom-color:#999;
margin: 10px 20px 0 20px;
padding-top:0px;
background-color: #fffbdd;
} 

#inside_eye{
width: 940px;
padding-top:10px; 
height:326px;
margin-left: auto;
margin-right: auto;
position:relative;
}

