#menu,#menu ul {
list-style:none;
margin:0;
padding:0;
}

#menu {
clear:both;
width:940px;
margin:0 auto;
padding:0 20px;
}

#menu li {
border-top:1px solid #999;
border-bottom:1px solid #999;
float:left;
position:relative;
z-index:500;
text-align:center;
width:156px;
background:#fff;
}

#menu li#line {
float:left;
position:relative;
z-index:500;
text-align:center;
width:1px;
border-style:none;
}

#menu li.last {
width:155px;
border-right:0;
}

#menu li > ul {
display:none;
padding-top:12px;
padding-left:0;
}

#menu li ul > li {
float:left;
background:#fff;
position:relative;
}

#menu a,#menu a:visited {
color:#666;
display:block;
padding-top:3px;
height:15px;
line-height:12px;
text-decoration:none;
font-weight:700;
width:100%;
font-family:Tahoma, sans-serif;
font-size:10px;
}

#menu li a:hover {
background:#fff;
color:#000;
}

#menu li > ul a,#menu li > ul a:visited {
color:#000;
}

#menu li > ul a:hover {
color:#000;
background:#fff;
}

#menu li:hover > ul {
display:block;
position:absolute;
top:18px;
left:-1px;
z-index:99;
}

#menu li:hover > ul li {
text-align:left;
background:#fff;
}

#menu li li:hover > ul {
display:block;
position:absolute;
top:0;
left:100%;
z-index:98;
}

ul#who {
width:430px;
height:125px;
background-repeat:no-repeat;
background-image:url(../../graphics/nav/whobub7.png)/*tpa=http://www.gannett.com/graphics/nav/whobub7.png*/;
}

ul#who li{padding-left:15px;}

#menu li ul#who > li {
position:relative;
z-index:500;
text-align:left;
width:156px;
background:transparent;
border-style:none;
}

#who1 {
display:inline;
float:left;
width:114px;
position:relative;
}

#who2 {
display:inline;
float:left;
margin-top:0;
width:1px;
position:relative;
}

#who3 {
display:inline;
float:left;
width:137px;
position:relative;
}

ul#brand {
height:135px;
width:400px;
background-repeat:no-repeat;
background-image:url(../../graphics/nav/brandbub3.png)/*tpa=http://www.gannett.com/graphics/nav/brandbub3.png*/;
position:absolute;
}

ul#brand li{padding-left:15px;}

#brand1 {
display:inline;
float:left;
width:158px;
position:relative;
}

ul#market {
width:400px;
height:135px;
position:absolute;
background-repeat:no-repeat;
background-image:url(../../graphics/nav/marketbub5.png)/*tpa=http://www.gannett.com/graphics/nav/marketbub5.png*/;
}

ul#market li{padding-left:15px;}

#market1 {
display:inline;
float:left;
width:134px;
position:relative;
}

ul#invest {
width:536px;
margin-left:-65px;
height:370px;
position:absolute;
background-repeat:no-repeat;
background-image:url(../../graphics/nav/investbub10.png)/*tpa=http://www.gannett.com/graphics/nav/investbub10.png*/;
}

ul#invest li{padding-left:15px;}

#invest1 {
display:inline;
float:left;
padding-left:2px;
width:126px;
position:relative;
}

#invest2 {
display:inline;
float:left;
width:136px;
position:relative;
}

#invest3 {
display:inline;
float:left;
width:148px;
position:relative;
}

#invest4 {
display:inline;
float:left;
width:112px;
position:relative;
}

ul#press {
width:160px;
height:135px;
position:absolute;
background-repeat:no-repeat;
background-image:url(../../graphics/nav/press_bubble.png)/*tpa=http://www.gannett.com/graphics/nav/press_bubble.png*/;
}

ul#press li{padding-left:15px;}

#menu li ul#press > li {
position:relative;
z-index:500;
text-align:left;
width:155px;
background:transparent;
border-style:none;
}

ul#career {
width:430px;
height:135px;
position:absolute;
background-repeat:no-repeat;
background-image:url(../../graphics/nav/careerbubble5.png)/*tpa=http://www.gannett.com/graphics/nav/careerbubble5.png*/;
margin-left:-271px;
}

ul#career li{padding-left:15px;}

#menu li ul#career > li {
position:relative;
z-index:500;
text-align:left;
border-style:none;
}

#car1 {
display:inline;
float:left;
width:140px;
position:relative;
}

#car2 {
display:inline;
float:left;
margin-top:30px;
width:122px;
position:relative;
}

#car3 {
display:inline;
float:left;
margin-top:30px;
width:136px;
position:relative;
}

#car4 {
margin-left:10px;
float:left;
margin-top:0;
width:230px;
height:0;
position:relative;
}

#car4 a img {
margin-top:0;
width:255px;
height:27px;
}

#menu li ul#who > li a,#menu li ul#who > div#who1 > li a,#menu li ul#who > div#who3 > li a,#menu li ul#brand > li a,#menu li ul#brand > div#brand1 > li a,#menu li ul#market > li a,#menu li ul#market > div#market1 > li a,#menu li ul#invest > li a,#menu li ul#invest > div#invest1> li a,#menu li ul#invest > div#invest2> li a,#menu li ul#invest > div#invest3> li a,#menu li ul#invest > div#invest4> li a,#menu li ul#press > li a,#menu li ul#career > div#car2 > li a,#menu li ul#career > div#car3 > li a {
font-family:arial;
color:#666;
background:transparent;
}

#menu li ul#who > li a:hover,#menu li ul#who > div#who1 > li a:hover,#menu li ul#who > div#who3 > li a:hover,#menu li ul#brand > li a:hover,#menu li ul#brand > div#brand1 > li a:hover,#menu li ul#market > li a:hover,#menu li ul#market > div#market1 > li a:hover,#menu li ul#invest > li a:hover,#menu li ul#invest > div#invest1 > li a:hover,#menu li ul#invest > div#invest2 > li a:hover,#menu li ul#invest > div#invest3 > li a:hover,#menu li ul#invest > div#invest4 > li a:hover,#menu li ul#press > li a:hover,#menu li ul#career > li a:hover,#menu li ul#career #car2> li a:hover,#menu li ul#career #car3> li a:hover {
background:transparent;
color:#000;
}

#menu li ul#who > div#who1 > li,#menu li ul#who > div#who3 > li,#menu li ul#invest > li,#menu li ul#invest> div#invest1 > li,#menu li ul#invest> div#invest2 > li,#menu li ul#invest> div#invest3 > li,#menu li ul#invest> div#invest4 > li,#menu li ul#career > div#car2 > li,#menu li ul#career > div#car3 > li {
position:relative;
z-index:500;
text-align:left;
background:transparent;
border-style:none;
}

#menu li ul#who > div#who2 > li#pic,#menu li ul#career > div#car1 > li#pic {
width:140px;
background-color:transparent;
position:relative;
border-style:none;
}

#menu li ul#brand > li,#menu li ul#market > li {
position:relative;
z-index:500;
text-align:left;
width:300px;
background:transparent;
border-style:none;
}

#menu li ul#brand> div#brand1 > li,#menu li ul#market> div#market1 > li {
position:relative;
z-index:500;
width:300px;
text-align:left;
background:transparent;
border-style:none;
}

#menu li ul#brand > div#brand2 > li#pic,#menu li ul#market > div#market2 > li#pic {
width:140px;
position:relative;
border-style:none;
}

#brand2,#market2 {
display:inline;
float:left;
margin-top:0;
width:100px;
position:relative;
}