/* CSS Override for US/EN GEO */

/* TEMP INC002844429 */
.desktop.rwd .global-menu .sign-in-ul, .rwd .global-menu .sign-in-ul {min-width:inherit;}

/* TEMP INC002849446 */
.rwd.desktop .responsive-table-component table tbody tr td:first-child img {width:inherit; height:inherit; max-width:96px; max-height:96px;}
.rwd.desktop .responsive-table-component table thead tr th img {width:inherit; height:inherit; max-width:96px; max-height:96px;}

/* TEMP FIX for Teasers*/
.rwd .l3-masthead-component .campaign .white-theme .l3-masthead-content .text { color: #555; }
.rwd .l3-masthead-component .campaign .l3-masthead-content .text { color: white; }
