@font-face {
	font-family:'Myriad Set Pro';
	font-style:normal;
	font-weight:100;
	src:local('☺︎'), url("fonts/Myriad-Set-Pro/v1/myriad-set-pro_ultralight.woff")/*tpa=http://www.apple.com/wss/fonts/Myriad-Set-Pro/v1/myriad-set-pro_ultralight.woff*/ format("woff"), url("fonts/Myriad-Set-Pro/v1/myriad-set-pro_ultralight.ttf")/*tpa=http://www.apple.com/wss/fonts/Myriad-Set-Pro/v1/myriad-set-pro_ultralight.ttf*/ format("truetype");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Set Pro';
	font-style:italic;
	font-weight:100;
	src:local('☺︎'), url("fonts/Myriad-Set-Pro/v1/myriad-set-pro_ultralight-italic.woff")/*tpa=http://www.apple.com/wss/fonts/Myriad-Set-Pro/v1/myriad-set-pro_ultralight-italic.woff*/ format("woff"), url("fonts/Myriad-Set-Pro/v1/myriad-set-pro_ultralight-italic.ttf")/*tpa=http://www.apple.com/wss/fonts/Myriad-Set-Pro/v1/myriad-set-pro_ultralight-italic.ttf*/ format("truetype");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Set Pro 100';
	src:url("fonts/Myriad-Set-Pro/v1/myriad-set-pro_ultralight.eot")/*tpa=http://www.apple.com/wss/fonts/Myriad-Set-Pro/v1/myriad-set-pro_ultralight.eot*/;
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Set Pro';
	font-style:normal;
	font-weight:200;
	src:local('☺︎'), url("fonts/Myriad-Set-Pro/v1/myriad-set-pro_thin.woff")/*tpa=http://www.apple.com/wss/fonts/Myriad-Set-Pro/v1/myriad-set-pro_thin.woff*/ format("woff"), url("fonts/Myriad-Set-Pro/v1/myriad-set-pro_thin.ttf")/*tpa=http://www.apple.com/wss/fonts/Myriad-Set-Pro/v1/myriad-set-pro_thin.ttf*/ format("truetype");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Set Pro';
	font-style:italic;
	font-weight:200;
	src:local('☺︎'), url("fonts/Myriad-Set-Pro/v1/myriad-set-pro_thin-italic.woff")/*tpa=http://www.apple.com/wss/fonts/Myriad-Set-Pro/v1/myriad-set-pro_thin-italic.woff*/ format("woff"), url("fonts/Myriad-Set-Pro/v1/myriad-set-pro_thin-italic.ttf")/*tpa=http://www.apple.com/wss/fonts/Myriad-Set-Pro/v1/myriad-set-pro_thin-italic.ttf*/ format("truetype");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Set Pro 200';
	src:url("fonts/Myriad-Set-Pro/v1/myriad-set-pro_thin.eot")/*tpa=http://www.apple.com/wss/fonts/Myriad-Set-Pro/v1/myriad-set-pro_thin.eot*/;
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Set Pro';
	font-style:italic;
	font-weight:400;
	src:local('☺︎'), url("fonts/Myriad-Set-Pro/v1/myriad-set-pro_text-italic.woff")/*tpa=http://www.apple.com/wss/fonts/Myriad-Set-Pro/v1/myriad-set-pro_text-italic.woff*/ format("woff"), url("fonts/Myriad-Set-Pro/v1/myriad-set-pro_text-italic.ttf")/*tpa=http://www.apple.com/wss/fonts/Myriad-Set-Pro/v1/myriad-set-pro_text-italic.ttf*/ format("truetype");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Set Pro';
	font-style:normal;
	font-weight:600;
	src:local('☺︎'), url("fonts/Myriad-Set-Pro/v1/myriad-set-pro_semibold.woff")/*tpa=http://www.apple.com/wss/fonts/Myriad-Set-Pro/v1/myriad-set-pro_semibold.woff*/ format("woff"), url("fonts/Myriad-Set-Pro/v1/myriad-set-pro_semibold.ttf")/*tpa=http://www.apple.com/wss/fonts/Myriad-Set-Pro/v1/myriad-set-pro_semibold.ttf*/ format("truetype");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Set Pro';
	font-style:italic;
	font-weight:600;
	src:local('☺︎'), url("fonts/Myriad-Set-Pro/v1/myriad-set-pro_semibold-italic.woff")/*tpa=http://www.apple.com/wss/fonts/Myriad-Set-Pro/v1/myriad-set-pro_semibold-italic.woff*/ format("woff"), url("fonts/Myriad-Set-Pro/v1/myriad-set-pro_semibold-italic.ttf")/*tpa=http://www.apple.com/wss/fonts/Myriad-Set-Pro/v1/myriad-set-pro_semibold-italic.ttf*/ format("truetype");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Set Pro 600';
	src:url("fonts/Myriad-Set-Pro/v1/myriad-set-pro_semibold.eot")/*tpa=http://www.apple.com/wss/fonts/Myriad-Set-Pro/v1/myriad-set-pro_semibold.eot*/;
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Set Pro';
	font-style:normal;
	font-weight:400;
	src:url("fonts/Myriad-Set-Pro/v1/myriad-set-pro_text.eot")/*tpa=http://www.apple.com/wss/fonts/Myriad-Set-Pro/v1/myriad-set-pro_text.eot*/;
	src:local('☺︎'), url("fonts/Myriad-Set-Pro/v1/myriad-set-pro_text.woff")/*tpa=http://www.apple.com/wss/fonts/Myriad-Set-Pro/v1/myriad-set-pro_text.woff*/ format("woff"), url("fonts/Myriad-Set-Pro/v1/myriad-set-pro_text.ttf")/*tpa=http://www.apple.com/wss/fonts/Myriad-Set-Pro/v1/myriad-set-pro_text.ttf*/ format("truetype");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

