/* vgn-ext-templating.css			*/

/* StyleSheet Classes for the X-Templating project */
/*                                                                   */

/* vign-ext-text - general text description   */
.vgn-ext-text {
	font : 11px Verdana, Arial, Helvetica, sans-serif;
}

/* vign-ext-nav-item - general text description   */
.vgn-ext-nav-item {
	font : 11px Verdana, Arial, Helvetica, sans-serif;
}

/* vign-ext-nav-item-selected - general text description   */
.vgn-ext-nav-item-selected {
	font : bold 13px Verdana, Arial, Helvetica, sans-serif;
	background-color: #efefef;
}

/* vgn-ext-nav-item-depth - general text description   */
.vgn-ext-nav-item-depth {
	font : 11px Verdana, Arial, Helvetica, sans-serif, bold;
}

/* vign-ext-link - general text description   */
.vgn-ext-link {
	font : 11px Verdana, Arial, Helvetica, sans-serif;
}

/***
 * Floating menu: The following CSS is used to display a floating
 * div on the lower left corner of the page. To create a floating div
 * it must have id="vgn-div-float-bottom-left"
 */
/* Normal CSS2 (mozilla, opera, IE/Mac) */
#vgn-div-float-bottom-left {
	position:fixed;
	left: 5px;
	bottom: 35px;
	z-index: 10000;
}

/* Tan hack -- IE/Win specific stuff */
* html #vgn-div-float-bottom-left {
	position: absolute;
	top: expression(this.offsetParent.scrollTop + this.offsetParent.offsetHeight - 75);
	z-index: 10000;
}
/* End Tan hack */

.vgn-ext-ice-floatee {
	border:solid black 1px;
	background-color:#EBEBEB;
}

.vgn-ext-ice-floatee-text {
	font-size:9px;
	font-family:arial;
	color:black;
	cursor:hand;
	text-decoration:none;
	PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
}

.vgn-ext-ice-floatee-table {
	border:solid black 1px;
}

.vgn-ext-ice-floatee-text-off {
	font-size:9px;
	font-family:arial;
	color:#C1C1C1;
	text-decoration:none;
	PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
}

.vgn-ext-ice-floatee-line {
	border-top:1px solid black;
}

.vgn-ext-ice-floatee-menu-hr {
	background:silver;
	width:135px;
	height:1px;
}

.vgn-ext-ice-floatee-menu-hr-span {
	padding:1px;
}

.vgn-ext-ice-floatee-menu-outer-table {
	border: 1px solid black;
	padding: 0px;
	font-family: arial;
	font-size: 11px;
	background-color: rgb(222, 222, 222);
}

.vgn-ext-ice-floatee-menu-outer-div {
	position: absolute;
	z-index: 10000;
	left: 0px;
	top:-204px;
	visibility: hidden;
}

.vgn-ext-ice-floatee-menu-link {
	cursor: pointer;
	font-family: arial;
	font-size: 11px;
}

.vgn-ext-ice-floatee-menu-disabled-link {
	color:#808080;
	font-family: arial;
	font-size: 11px;
}

.vgn-ext-ice-floatee-page-menu-header {
    font-weight:bold;
    color:#dedede;
    background-color:black;
    font-family:arial;
    font-size:11px;
    padding: 3px 40px 3px 37px;
}

.vgn-ext-ice-floatee-template-menu-header {
    font-weight:bold;
    color:#dedede;
    background-color:black;
    font-family:arial;
    font-size:11px;
    padding: 3px 28px 3px 27px;
}

.vgn-ext-ice-floatee-content-menu-header {
    font-weight:bold;
    color:#dedede;
    background-color:black;
    font-family:arial;
    font-size:11px;
    padding: 3px 30px 3px 30px;
}
