.CoveoSearchInterface .coveo-tab-section {
	background-color:#2b292a;
}

.coveo-tab-section a.CoveoTab {
	color:#efefef;
}

.CoveoSearchButton {
	background:#e41930;
	border:1px solid #cccccc;
}

.CoveoSearchButton:hover {
    background:#2b292a;
}

.CoveoSort {color:#e21d22;}

.CoveoResult .coveo-icon {display:none;}

.CoveoResult {margin:20px 0px 20px 13px;}

.CoveoResult a {color:#666;}

.CoveoResult .coveo-excerpt {font-size:13px;}

.CoveoResultLink:visited, .CoveoResultLink:link {color:#e21d22;}

.CoveoResult .CoveoFieldValue span.coveo-clickable:hover, .CoveoResult .CoveoFieldValue a.coveo-clickable:hover, .CoveoResultLink:hover, .CoveoSearchInterface .CoveoResult.coveo-email-result .coveo-excerpt .CoveoResultLink:hover:hover, .CoveoResult .coveo-selectable-link:hover {color:#333;text-decoration:underline;}

.CoveoResult .coveo-title {font-size:14px;}

.coveo-logo {
    display: none;
}

.CoveoErrorReport .coveo-previous, .CoveoErrorReport .coveo-clear, .CoveoErrorReport .coveo-retry, .CoveoErrorReport .coveo-more-info {
    color: #e21d22;
}

.CoveoErrorReport .coveo-previous:hover, .CoveoErrorReport .coveo-clear:hover, .CoveoErrorReport .coveo-retry:hover, .CoveoErrorReport .coveo-more-info:hover, .CoveoSort:hover {
    color: #333;
    text-decoration: underline;
}
.CoveoSearchInterface, .CoveoFacet .coveo-search input, .CoveoFacet .coveo-search .CoveoHierarchicalFacet {
    font-family: Verdana, Arial,sans-serif !important;
}

.CoveoResult a:hover {
    color: #e21d22 !important;
    text-decoration: underline;
}

.CoveoFacet .coveo-header > .coveo-icon {
    display: none !important;
}

.coveo-footer a:hover {
    color: #e21d22 !important;
}

.CoveoPager ul li.coveo-active:first-child > a {
    background:#e21d22;
    border:1px solid #8e1216;
}

.CoveoQueryBox {
    font-size: 15px;
}

.coveo-omnibox {
    top: 90px;
}

.CoveoSearchInterface * {
    box-sizing: inherit !important;
}

.coveo-results-section * {
    box-sizing: border-box !important;
}

.CoveoSearchBox * {
    box-sizing: border-box !important;
}

#SiteSearch{
	background-image:none;
	border:none;
	background: none;
	width: 450px;
}

#CoveoSearch{
	width: 300px;
}

.star_active {
  background-position: -68px -85px;
  width: 18px;
  height: 18px;
  text-indent: 18px; }
  
.topResultsBG{
	background-color: #F2F2F2;
	padding: 5px 5px 5px 5px;
}
