
.ASearchBox .CoveoQueryBox {
    background: #454545;
    color:#ccc;
    font-size:13px;
    line-height:18px;
    vertical-align:top;
}

.ASearchBox .CoveoSearchButton {
    background:#2b292a;
    border-color:#ccc;
    border-left:0px;
    padding-left:9px;
    padding-right:9px;
    padding-top:3px;
    padding-bottom:3px;
}

.ASearchBox .CoveoSearchButton:hover {
    background:#000;
}

.ASearchBox .coveo-omnibox {
    top: 28px;
}

#CoveoSearchJS {
    margin-bottom: 1px !important;
}

.ASearchBox .coveo-query-box-clear {
    margin-top:-22px;
}

.ASearchBox .CoveoSearchBox {
    height: 28px;
}

.ASearchBox .CoveoSearchBox .CoveoQueryBox {
	line-height: 18px;
}

