/*
 *	Main freddiemac.com PRINT MEDIA CSS file
 *
 * 	@author		rob cherny <rcherny@navarts.com>
 *  @version	1.0
 *  @note		print styles also depend on screen styles as 
 *					media type for main css is "screen,print"
*/ 

#content-brand p.buyownlink,
#bnr-header, #logo, 
#nav-global ul, #nav-main,
#content-toc, #print-this-page,
#content-footer ul, #header, 
.hidden, #tip, .backToTop,
h2 a.morelink, #short2, #short1,
#rec_divider, #chicklets,  
#skipper, #skipper-2, #nav-main, #google-header  { display: none !important; float: none !important; }
.addthis_toolbox, #_atssh, .wd_page_toolbar  { display: none !important; float: none !important; }
body {background: none; }
#nav-global {  background: url('../../images/site/fmlogo_for_printerfriendly.gif')/*tpa=http://www.freddiemac.com/images/site/fmlogo_for_printerfriendly.gif*/ no-repeat 0px 0px; height: 41px; }
#grid { border: none; width: auto; background: none; background-color: #fff; } 
div#content { background: none; overflow: visible; clear: both; width: auto; border: 0px; border-top: 1px solid #666; }
div#content-display,
body.no-toc #content-display, body.none #content-display,
body.extra-no-toc #content-display, body.extra-none #content-display { float: none !important; width: auto; margin: 10px 0px 0px; border: 0px; padding: 0px; background: none; }	
div#content-main,  
body.no-act #content-main, body.extra-no-act #content-main,
body.no-toc #content-main, body.extra-no-toc #content-main,
body.none #content-main, body.extra-none #content-main { float: none !important; width: auto; margin: 0px;  }	
#content-display ul { margin-left: 20px; }
#content-display ul, #content-display ul li { list-style-type: disc; }
#content-display ul ul, #content-display ul ul li { list-style-type: circle; }
#content-display ul ul ul, #content-display ul ul ul li { list-style-type: square; }
#content-display ul li { background-image: none; }
#content-display div.issueNav .content ul {	list-style-type: disc;	}
#content-display div.issueNav .content ul li {	background-image: none;	list-style-type: disc; }
#content-display ol { margin-left: 20px; }
#content-display ol, #content-display ol li { list-style-type: decimal;  }
#content-display ol ul, #content-display ol ul li { list-style-type: disc; }
#content-display ol ul ul,  #content-display ol ul ul li { list-style-type: circle; }
#content-display ol ul ul ul,  #content-display ol ul ul ul li { list-style-type: square; }
div#content-action {  float: none !important; margin: 0px; width: auto; }
div.action   { border-top: 1px solid #d7eefb; margin: 10px 5px 0px; width: auto; }
div.box-wrap, body.no-act div.box-wrap, body.extra-no-act div.box-wrap, div.action-block { width: auto; float: none !important; margin: 0px; }
.TB_overlayBG { background-color:#fff;	filter:alpha(opacity=0); -moz-opacity: 0; opacity: 0; background-image: none; }
div.hr { color: #ccc; }
.hdrDiv, div.immediaterel {	border-bottom: 1px dotted #ccc;	}
.box-special-inner { border-top: 1px solid #d5d0b7;	border-bottom: 1px solid #d5d0b7; }
#content-footer { margin-top: 12px; }
.fmform p.field label.formLabel  { border: 1px solid #DBE8F8; margin-right: 1px; }
#content-footer, hr { width: 540px; }
h2 { margin: 10px 0px 4px; }
