/*--------------- FONTS FOR IE --------------*/
@font-face {
    font-family: 'Open Sans Regular';
    src: url('../../fonts/eot/opensans-normal-webfont.eot')/*tpa=https://www.charter.com/browse/static/fonts/eot/opensans-normal-webfont.eot*/;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans SemiBold';
    src: url('../../fonts/eot/opensans-semibold-webfont.eot')/*tpa=https://www.charter.com/browse/static/fonts/eot/opensans-semibold-webfont.eot*/;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('../../fonts/eot/opensans-light-webfont.eot')/*tpa=https://www.charter.com/browse/static/fonts/eot/opensans-light-webfont.eot*/;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans ExtraBold';
    src: url('../../fonts/eot/opensans-extrabold-webfont.eot')/*tpa=https://www.charter.com/browse/static/fonts/eot/opensans-extrabold-webfont.eot*/;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans CondLight';
    src: url('../../fonts/eot/opensans-condlight-webfont.eot')/*tpa=https://www.charter.com/browse/static/fonts/eot/opensans-condlight-webfont.eot*/;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans CondBold';
    src: url('../../fonts/eot/opensans-condbold-webfont.eot')/*tpa=https://www.charter.com/browse/static/fonts/eot/opensans-condbold-webfont.eot*/;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('../../fonts/eot/opensans-bold-webfont.eot')/*tpa=https://www.charter.com/browse/static/fonts/eot/opensans-bold-webfont.eot*/;
    font-weight: normal;
    font-style: normal;
}
