/*------------ GENERAL ELEMENTS -------------*/
input[type="text"] { line-height: 14px;}
.back-to-top-btn { filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#858585', endColorstr='#666666',GradientType=0 ); /* IE6-8 */}
/*-------- END OF GENERAL ELEMENTS ----------*/

/*-------- HOMEPAGE ----------*/
#homepage .header-content .login input { line-height: 13px;}
#homepage .header-content .top-nav .search { margin-top: 6px;}
#homepage .header-content .top-nav .search-link { top: 4px;}
.header-content .btn-selected
{ 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfdede', endColorstr='#f2f1f1',GradientType=0 ); /* IE6-8 */
}
/*----- END OF HOMEPAGE ------*/

/*---------- BUNDLES ---------*/
.storeFront .squeezebox { width: 950px;}
.storeFront h4.bundles { padding-left: 15px !important;}
.storeFront h4.offers { padding: 25px 15px 4px 15px !important;}
.storeFront .package-list { margin-left: 10px; width: 945px; position: relative;}
.storeFront .package:before { background-image: none;}
.storeFront .package-list .package { position: inherit;}
.storeFront .squeezebox>li,
.storeFront .package-list
{ 
	background-color:#FFF; 
	border:1px solid #DADADA; 
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=0, Color='#E1E1E1'), progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='#E1E1E1'), progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=270, Color='#E1E1E1'), progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#E1E1E1')" 
}
.storeFront .package-list .desc { width: 290px;}
.storeFront .squeezebox h3 sup { top: 4px; left: 4px;}
.storeFront .package-list .exponent, 
.storeFront .expanded .exponent,
.squeezebox.up-1 .exponent,
.squeezebox.up-2 .exponent
{ 
	margin: 5px 0 0 4px;
}
.storeFront .package-list .detail { margin-left: 150px;}

.squeezebox.up-1 .feature-list, .squeezebox.up-2 .feature-list { padding-left: 14px;}
/*------- END OF BUNDLES -----*/

/*----------- MODALS ---------*/
.lox-overlay { background-color: #999999;}
.lox-close { background: url("../../images/lox-close-IE8.png")/*tpa=https://www.charter.com/browse/static/images/lox-close-IE8.png*/ no-repeat !important; top: 0 !important; right: -20px !important;}

.grey-tooltip.tooltip-content { border-color: #666;}
.grey-tooltip.tooltip-content:after { content: ''; display: block; width: 100%; height: 100%; position: absolute; left: -2px; top: -2px; border: 1px solid #aaa; padding: 1px; }
.grey-tooltip .tooltip-pointer:after { display: none; }
.grey-tooltip .tooltip-pointer { z-index: 1150;}
.grey-tooltip.right .tooltip-pointer 
{ 
	width: 19px; 
	height: 30px;
	left: 18px; 
	background: url(../../../html_buyflow/assets/images/tooltip-pointer-right.png)/*tpa=https://www.charter.com/browse/html_buyflow/assets/images/tooltip-pointer-right.png*/ 0 0 no-repeat; 
}
.grey-tooltip.bottom .tooltip-pointer 
{ 
	width: 30px; 
	height: 19px;
	top: -16px; 
	left: 122px;
	background: url(../../../html_buyflow/assets/images/tooltip-pointer-bottom.png)/*tpa=https://www.charter.com/browse/html_buyflow/assets/images/tooltip-pointer-bottom.png*/ 0 0 no-repeat; 
}
.cart-tooltip.bottom .tooltip-pointer { left: 151px;}
/*------- END OF MODALS ------*/

/*--------- IE7 UNSUPPORTED BANNER ----------*/
.ie7-unsupported 
{ 
	height: 60px; 
	line-height: 60px; 
	background: url("../../../html_buyflow/assets/images/bg-ie7-unsupported.png")/*tpa=https://www.charter.com/browse/html_buyflow/assets/images/bg-ie7-unsupported.png*/ 0 0 repeat-x; 
	font-size: 16px; 
	color: #ccc; 
	text-align: center; 
}
/*----- END OF IE7 UNSUPPORTED BANNER -------*/

/*--------- IE8 HOMEPAGE FIX   ----------*/
.triple_container {
	width: 970px !important;
	position: relative !important;
	min-height: 364px !important;
}
.left-border {
	float: none !important;
	position: absolute;
	left: 0;
}
.triple_box {
	float: none !important;
	width: 930px !important;
	margin: 0 !important;
	position: absolute !important;
	left: 20px !important;
	display: inline-block !important;
}
.right-border {
	float: none !important;
	position: absolute !important;
	right: 0 !important;
	margin: 0 !important;
}