/*
/
/   Calumet Specialty
/
/
*/



/* Force a White Background for IFRAME elements... IR & HR */
iframe.wrapper{
background-color:#FFFFFF;
}

/* Main Menu - TOP align */
.gf-menu .item
{
  font-family: Helvetica,Arial,sans-serif;
  font-size: 13px;
  line-height: 21px;
  color: #6e6e70;
  text-shadow: 1px 1px 1px #ffffff;
  padding: 4px 15px;
  text-align: left;
  text-decoration: none;
  display: block;
  outline: 0;
  cursor: pointer;
}

.gf-menu.l1 > li > .item {
  font-size: 12px;
  line-height: 52px;
  padding-top: 35px;
  padding-bottom: 19px;
  position: relative;
  margin: 0 -1px 0 2px;
  text-transform: uppercase;
}

.gf-menu li.parent > .item:after {
  color: #3b3b3d;
  position: absolute;
  right: 15px;
  top: 45%;
  margin-top: -12px;
  font-family: FontAwesome;
  content: "\f078";
  font-size: 11px;
}

/* MOSAIC - Fixed Height  */
/* .sprocket-mosaic-columns-1 li, .sprocket-mosaic-columns-2 li, .sprocket-mosaic-columns-3 li, .sprocket-mosaic-columns-4 li, .sprocket-mosaic-columns-5 li, .sprocket-mosaic-columns-6 li {
/*   height: 750px;  /* Container */
}

/* .sprocket-mosaic-item .sprocket-mosaic-text {
/*   height: 330px;   /*  Text Area  */
}

/* .sprocket-mosaic-item .sprocket-mosaic-title {
/*   height: 75px;   /*  Text Area  */
}

.boxnav {
	margin-bottom:7px;
}

#rt-footer
{
  padding-top: 10px;
}

#rt-showcase
{
  padding-top: 20px;
  padding-right: 0px;
  padding-bottom: 15px;
  padding-left: 0px;
}

#rt-showcase
{
  background-color: transparent;
  background-image: none;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 50% 100%;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
}
.rt-blockalt
{
  margin-top: 12px;
}
