﻿
/*	-------------------------------------------------------------------------------
	Brightcove video presentation components
	------------------------------------------------------------------------------- */


/* Wrapped inline images ------------------------------ */

div.WrappedVideoImage
{
}

div.WrappedVideoStill
{
    float: none;
}

div.WrappedVideoThumbnail
{
    float: left;
}

/* VideoThumbnailLinkbutton ------------------------------ */

div.VideoThumbnailLinkbutton
{  
    position: relative;
    float: left;
    clear: none;
    margin-right: 12px;
    margin-top: 6px;
    width: 120px;
    height: 110px;
    overflow: hidden;
}

div.VideoThumbnailLinkbutton div.Thumb
{
    position: relative;
    margin-left: 0px;
    margin-top: 0px;
    height: 80px;
    overflow: hidden;
}

div.VideoThumbnailLinkbutton div.Thumb img
{   
    border: none;
    position: absolute;
    bottom: 0;
}

div.VideoThumbnailLinkbutton div.Text
{
    margin-left: 0px;
    margin-top: 0px;
    height: 30px;
    padding-top: 2px;
    overflow: hidden;
    vertical-align: top;
    font-weight: normal;
    font-size: 11px;
}


div.VideoThumbnailLinkbutton div.Over
{
	color: #0000FF;
	text-decoration: underline;
}

div.VideoThumbnailLinkbutton div.Text a,
div.VideoThumbnailLinkbutton div.Text a:link,
div.VideoThumbnailLinkbutton div.Text a:visited,
div.VideoThumbnailLinkbutton div.Text a:active
{
	text-decoration: none;
	color: Black;
}

div.VideoThumbnailLinkbutton div.Text a:hover
{
	text-decoration: underline;
	color: Blue;
}


/* Video player ------------------------------ */

div.VideoPlayerContainer
{
	margin-top: 24px;
}

div.VideoPlayerContainer div.AddThisToolbarOuterContainer
{
	clear: both;
	float: none;
	margin-bottom: 4px;
}

div.VideoPlayerContainer div.AddThisToolbarOuterContainer div.AddThisToolbarInnerContainer
{
	float: right;
}

div.VideoPlayerContainer div.BrightcoveExperience
{
}

div.VideoPlayerContainer div.VideoTitle
{
	font-size: 14px;
    font-weight: bold;
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    margin-top: 8px;
    text-align: left;
}


div.VideoPlayerContainer div.VideoDescription
{
    margin-top: 4px;
    margin-bottom: 24px;
    text-align: left;
}


/* PlaylistPlayer ------------------------------ */

div.PlaylistPlayer
{
    float: none;
}

div.PlaylistPlayer div.PlaylistSection
{
    float: none;
}

div.PlaylistPlayer div.Clear
{
    width: 100%;   
    height: 1px;   
    margin: 0 0 -1px;   
    clear: both;   
}

div.PlaylistPlayer div.PlaylistSection .Title
{
	font-size: 11px;
    color: #303030;
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 4px;
    padding-top: 1px;
    padding-bottom: 2px;
    border-top: 2px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;

}


/* Thumbnail Tabset and MultiPage ------------------------------ */

.PlaylistPlayer .PlaylistTabset
{
	position: relative;
}

.PlaylistPlayer .TabSeparator
{
	width: 4px;
	height: 1px !important;
	margin-bottom: 0px;
	margin-top: 0px;
}


.PlaylistPlayer .PlaylistMultiPage
{
	 margin-top: -1px;
	margin-right: 26px;
}

.PlaylistPlayer .PlaylistMultiPageView
{
	border-left: solid 1px #426194;
	border-right: solid 1px #426194;
	border-bottom: solid 1px #426194;
	border-top: solid 1px #426194;
	width: 100%;
	padding-top: 16px;
	padding-bottom: 12px;
	padding-left: 12px;
	padding-right: 12px;
			
}

.PlaylistPlayer .PlaylistMultiPageView:after
{
	 clear:both; 
	 content:"."; 
	 display:block; 
	 height:0; 
	 visibility:hidden; 
}


/* 
.PlaylistPlayer .PlaylistTabsetBottomBorder
{
    position: relative;
    border-top: 1px solid #828282;
    height: 0px;
    margin-top: -1px;
    z-index: 0;
}
 */


/* Video overlay ------------------------------ */

#VideoOverlay
{
	visibility: hidden;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 1000;
	background-color: #eee;
	opacity: 0.8;
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
}

#VideoOverlayContainer
{
	visibility: hidden;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 1001;
}

/*
.OverlayVisible
{
	visibility: visible;
	display: block;
	top: 0;
}
*/

#VideoOverlayContainer div.VideoOverlayPlayerContainer
{
	width: 480px;
    padding: 0px 10px 10px 10px; 
	margin: 100px auto;
	background-color: white;
	border: 1px solid Black;
	text-align: center;
	background-color: White;
}

#VideoOverlayContainer div.VideoOverlayPlayerContainer div.CloseDiv
{
    margin: 4px 10px 8px 10px;
	float: right;
    cursor: pointer;
}

#VideoOverlayContainer div.VideoOverlayPlayerContainer div.CloseDiv .CloseLink
{
    color: Blue;
    text-decoration: underline;
}
