/*
    AnythingSlider v1.4.1+ Default (base) theme

    By Chris Coyier: http://css-tricks.com
    with major improvements by Doug Neiner: http://pixelgraphics.us/
    based on work by Remy Sharp: http://jqueryfordesigners.com/
*/

/******* SET DEFAULT DIMENSIONS HERE ********/
div.anythingSlider {
	width: 950px;
	height: 395px;
	margin: 0 auto;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom:50px;
	overflow: hidden; /* needed for Opera and Safari */
}

/****** SET COLORS HERE *******/
/* Default State */
div.anythingSlider .thumbNav a.cur, div.anythingSlider .thumbNav a {
	/*set images here*/
	color: #000;
}
div.anythingSlider .anythingWindow {

}
div.anythingSlider .start-stop {
	
	color: #fff;
}
div.anythingSlider .start-stop.playing {
	
}
div.anythingSlider .start-stop:hover, div.anythingSlider .start-stop.hover {
	
}

/* Active State */
div.anythingSlider.activeSlider .anythingWindow {
}
div.anythingSlider.activeSlider .thumbNav a.cur {
	background-image: url(../images/slider-buttons.gif)/*tpa=http://www.cliffsnaturalresources.com/Style%20Library/cliffs/images/slider-buttons.gif*/;
	background-position: 0px;
	text-indent: -9999px;
} div.anythingSlider.activeSlider .thumbNav a {
	background-image: url(../images/slider-buttons.gif)/*tpa=http://www.cliffsnaturalresources.com/Style%20Library/cliffs/images/slider-buttons.gif*/;
	background-position: -18px;
	text-indent: -9999px;
}
div.anythingSlider .start-stop {
	visibility: hidden;
	display: none;

}
div.anythingSlider .start-stop.playing {
	visibility: hidden;
	display: none;

}
div.anythingSlider .start-stop:hover, div.anythingSlider .start-stop.hover {


}

/**** DO NOT CHANGE BELOW THIS LINE ****/
/* anythingSlider viewport window */
div.anythingSlider .anythingWindow {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
}
/* wrapper: 45px right & left padding for the arrows, 28px @ bottom for navigation */
div.anythingSlider {
	position: relative;
}
/* anythingSlider base UL */
ul.anythingBase {
	background: transparent;
	list-style: none;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}
ul.anythingBase li.panel {
	background: transparent;
	display: block;
	overflow: hidden;
	float: left;
	padding: 0;
	margin: 0;
}

/* Navigation Arrows */
div.anythingSlider .arrow {
	top: 50%;
	position: absolute;
	display: block;
}

div.anythingSlider .forward { right: 0; }
div.anythingSlider .back { left: 0; }
div.anythingSlider .forward a { background: url(../images/slide-right.gif)/*tpa=http://www.cliffsnaturalresources.com/Style%20Library/cliffs/images/slide-right.gif*/ no-repeat;}

div.anythingSlider .back a { background: url(../images/slide-left.gif)/*tpa=http://www.cliffsnaturalresources.com/Style%20Library/cliffs/images/slide-left.gif*/ no-repeat;
 }
 
div.anythingSlider .forward a:hover, div.anythingSlider .forward a.hover { background: url(../images/slide-right.gif)/*tpa=http://www.cliffsnaturalresources.com/Style%20Library/cliffs/images/slide-right.gif*/ no-repeat;
 background-position: 0 -34px;
}
div.anythingSlider .back a:hover, div.anythingSlider .back a.hover { background: url(../images/slide-left.gif)/*tpa=http://www.cliffsnaturalresources.com/Style%20Library/cliffs/images/slide-left.gif*/ no-repeat;
  background-position: 0 -34px;
 }
div.anythingSlider .forward.disabled { display: none; } /* disabled arrows, hide or reduce opacity: opacity: .5; filter: alpha(opacity=50); */
div.anythingSlider .back.disabled { display: none; }

/* Navigation Links */
div.anythingSlider .anythingControls {
	display: block;
	outline: 0;
	overflow: hidden;
}
div.anythingSlider .thumbNav {
	float: right;
	margin: 0;
 }
div.anythingSlider .thumbNav li {
	float: left;
	display: block;
}

div.anythingSlider .thumbNav a:hover {

}

/* slider autoplay right-to-left, reverse order of nav links to look better */
div.anythingSlider.rtl .thumbNav a { float: right; } /* reverse order of nav links */
div.anythingSlider.rtl .thumbNav { float: left; }    /* move nav link group to left */
div.anythingSlider.rtl .anythingWindow {
	direction: ltr;
	unicode-bidi: bidi-override;
}
/* div.anythingSlider.rtl .start-stop { float: right; } */ /* move start/stop button - in case you want to switch sides */

/* Autoplay Start/Stop button */
div.anythingSlider .start-stop {
	width: 40px;
	text-align: center;
	text-decoration: none;
	float: right;
	z-index: 100;
	outline: 0;
}

div.anythingSlider .start-stop.playing, div.anythingSlider-construction .start-stop.playing.hover {
	background: transparent url(Unknown_83_filename)/*tpa=http://www.cliffsnaturalresources.com/Style%20Library/cliffs/images/nav-construction.png*/ center -30px no-repeat;
}
div.anythingSlider .start-stop:hover {
	background: transparent url(Unknown_83_filename)/*tpa=http://www.cliffsnaturalresources.com/Style%20Library/cliffs/images/nav-construction.png*/ center bottom no-repeat;
}

	
	

div.anythingSlider, div.anythingSlider .anythingWindow, div.anythingSlider .thumbNav a, div.anythingSlider .arrow a, div.anythingSlider .start-stop {
	transition-duration: 0;
	-o-transition-duration: 0;
	-moz-transition-duration: 0;
	-webkit-transition-duration: 0;
}

/*
    AnythingSlider v1.4.1+ Default (base) theme

    By Chris Coyier: http://css-tricks.com
    with major improvements by Doug Neiner: http://pixelgraphics.us/
    based on work by Remy Sharp: http://jqueryfordesigners.com/
*/

/******* SET DEFAULT DIMENSIONS HERE ********/
div.anythingSlider {
	height: 395px;
	margin: 0;
	overflow: hidden; /* needed for Opera and Safari */
}

/****** SET COLORS HERE *******/
/* Default State */
div.anythingSlider .thumbNav a.cur, div.anythingSlider .thumbNav a {
	color: #000;
}
div.anythingSlider .anythingWindow {

}
div.anythingSlider .start-stop {
	color: #fff;
}
div.anythingSlider .start-stop.playing {
	visibility: hidden;
	display: none;

}
div.anythingSlider .start-stop:hover, div.anythingSlider .start-stop.hover {
	color: #ddd;
}

/* Active State */
div.anythingSlider.activeSlider .anythingWindow {
	
}
div.anythingSlider.activeSlider .thumbNav a.cur, div.anythingSlider.activeSlider .thumbNav a {
	/*images here*/
}
div.anythingSlider .start-stop {
	
	color: #fff;
}
div.anythingSlider .start-stop.playing {
	visibility: hidden;
	display: none;

}
div.anythingSlider .start-stop:hover, div.anythingSlider .start-stop.hover {
	color: #fff;
}

/**** DO NOT CHANGE BELOW THIS LINE ****/
/* anythingSlider viewport window */
div.anythingSlider .anythingWindow {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
}
/* wrapper: 45px right & left padding for the arrows, 28px @ bottom for navigation */
div.anythingSlider {
	position: relative;
	
}
/* anythingSlider base UL */
ul.anythingBase {
	background: transparent;
	list-style: none;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}
ul.anythingBase li.panel {
	background: transparent;
	display: block;
	overflow: hidden;
	float: left;
	padding: 0;
	margin: 0;
}

/* Navigation Arrows */
div.anythingSlider .arrow {
	top: 50%;
	position: absolute;
	display: block;
}
div.anythingSlider .arrow a {
	display: block;
	height: 34px;
	margin: -30px 0 0 0;
	width: 25px;
	text-align: center;
	outline: 0;
	text-indent: -9999px;
}
div.anythingSlider .forward { right: 0; }
div.anythingSlider .back { left: 0; }

div.anythingSlider .forward.disabled { display: none; } /* disabled arrows, hide or reduce opacity: opacity: .5; filter: alpha(opacity=50); */
div.anythingSlider .back.disabled { display: none; }

/* Navigation Links */

div.anythingSlider .thumbNav a {
	display: block;
	margin: 0 2px 0 0;
	width: 20px;
	height: 20px;
	font: 11px/18px Georgia, Serif;
	text-align: center;
	text-decoration: none;
	outline: 0;
}

/* My Comment */
div.anythingSlider .thumbNav a:hover {

}

/* slider autoplay right-to-left, reverse order of nav links to look better */
div.anythingSlider.rtl .thumbNav a { float: right; } /* reverse order of nav links */
div.anythingSlider.rtl .thumbNav { float: left; }    /* move nav link group to left */
div.anythingSlider.rtl .anythingWindow {
	direction: ltr;
	unicode-bidi: bidi-override;
}
/* div.anythingSlider.rtl .start-stop { float: right; } */ /* move start/stop button - in case you want to switch sides */

/* Autoplay Start/Stop button */
div.anythingSlider .start-stop {
	width: 0px;
}
	
	

div.anythingSlider, div.anythingSlider .anythingWindow, div.anythingSlider .thumbNav a, div.anythingSlider .arrow a, div.anythingSlider .start-stop {
	transition-duration: 0;
	-o-transition-duration: 0;
	-moz-transition-duration: 0;
	-webkit-transition-duration: 0;
}