/* 20150602 1419 */
/*
 * Master CSS file for the ibm.com homepage
 * Copyright (c) 2011 IBM Corporation
 * Owner: Corporate Webmaster (NUS_N_NIWWW)
 */
.ibm-home-page #ibm-leadspace-head #ibm-leadspace-body{width:100%;min-height:400px;padding-bottom:0px}div#ibm-top.ibm-home-page div#ibm-leadspace-head.ibm-container div#ibm-leadspace-body.ibm-container-body div.ibm-ribbon-pane{width:100%}
.ibm-home-page #ibm-top{background:none;width:auto;min-width:990px;padding:0px}.ibm-home-page #ibm-pcon{background:none;padding:0px}.ibm-home-page #ibm-content-main{width:100%;border-bottom:1px solid #FFF}
.ibm-home-page #ibm-content-head,.ibm-home-page #ibm-navigation,.ibm-home-page #ibm-content-sidebar,.ibm-home-page #ibm-page-tools{display:none}.ibm-home-page #ibm-leadspace-head img,.ibm-home-page #ibm-leadspace-head h1,
.ibm-home-page #ibm-leadspace-head h2,.ibm-home-page #ibm-leadspace-head h3{padding:0px;margin:0px}.ibm-home-page #ibm-leadspace-head h1,.ibm-home-page #ibm-leadspace-head h2,.ibm-home-page #ibm-leadspace-head h3{position:relative}
.ibm-home-page #ibm-leadspace-head{background:#EFEFEF;border-bottom:1px solid #C0C0AE}.ibm-home-page #ibm-leadspace-head h1 a:focus,.ibm-home-page #ibm-leadspace-head h2 a:focus{outline:thin dotted}.ibm-home-page #ibm-leadspace-head.ibm-container{margin:0px}
.ibm-home-page #ibm-leadspace-head.ibm-ribbon .ibm-container-body{background:none repeat scroll 0 0 transparent;border:0 none;clear:both;height:400px;position:relative}.ibm-home-page #ibm-leadspace-head .ibm-ribbon-pane{position:relative;height:400px;overflow:hidden;clear:both}
.ibm-home-page #ibm-leadspace-head .ibm-ribbon-pane h1 img,.ibm-home-page #ibm-leadspace-head .ibm-ribbon-pane h2 img{padding-top:50px}.ibm-home-page #ibm-leadspace-head a:focus,.ibm-home-page #ibm-leadspace-head a:focus{outline:thin dotted}
.ibm-home-page #ibm-leadspace-head .ibm-ribbon-section{position:absolute}.ibm-home-page #ibm-leadspace-head .ibm-ribbon-section .ibm-columns{clear:none;height:400px;overflow:hidden;width:100%;margin:0px;float:left;padding:0px}
.ibm-home-page #ibm-leadspace-head .ibm-ribbon-section .ibm-columns .ibm-col-1-1{width:998px;padding:0px;margin:0px auto;float:none}.ibm-home-page #ibm-leadspace-head .ibm-ribbon-nav{height:45px;margin:-55px auto 0;width:980px;text-align:right;z-index:899}
.ibm-home-page #ibm-leadspace-head .ibm-ribbon-nav a{box-shadow:0 1px 6px rgba(0, 0, 0, .70);-moz-box-shadow:0 1px 3px rgba(0, 0, 0, .6);border:3px solid rgba(255, 255, 255, .6);border:3px solid #EEE\9;display:inline-block;font-size:0px;height:30px;margin:3px 5px;outline:0 none;padding:0;position:relative;text-decoration:none;width:45px;z-index:899;cursor:pointer;overflow:visible;text-indent:0px}
.ibm-home-page #ibm-leadspace-head .ibm-ribbon-nav a .ibm-ribbon-view{height:30px;width:45px}.ibm-home-page #ibm-leadspace-head .ibm-ribbon-nav a.ibm-active{top:-5px}.ibm-home-page #ibm-leadspace-head .ibm-ribbon-nav a:hover,
.ibm-home-page #ibm-leadspace-head .ibm-ribbon-nav a.ibm-active{box-shadow:0 1px 6px rgba(0,0,0,.85);-moz-box-shadow:0 1px 3px rgba(0,0,0,.85);-webkit-box-shadow:0px 1px 3px rgba(0,0,0,.85);border:3px solid rgba(255, 255, 255, .9);border:3px solid #FFF\9}
.ibm-home-page #ibm-leadspace-head .ibm-ribbon-nav a.ibm-active .ibm-pagination-overlay{top:-110px}.ibm-home-page #ibm-leadspace-head .ibm-ribbon-nav a .ibm-pagination-overlay{display:none;background:url(../../../i/v17/lead/lead_pagination_overlay.png)/*tpa=http://1.www.s81c.com/i/v17/lead/lead_pagination_overlay.png*/ no-repeat 0 0;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/i/v17/lead/lead_pagination_overlay.png');cursor:pointer;position:absolute;text-align:left;width:328px;height:113px;top:-115px;left:-245px}
.ibm-home-page #ibm-leadspace-head .ibm-ribbon-nav a .ibm-pagination-overlay span.ibm-lead-thumb-1,.ibm-home-page #ibm-leadspace-head .ibm-ribbon-nav a .ibm-pagination-overlay span.ibm-lead-thumb-2, .ibm-home-page #ibm-leadspace-head .ibm-ribbon-nav a .ibm-pagination-overlay span.ibm-lead-thumb-3, .ibm-home-page #ibm-leadspace-head .ibm-ribbon-nav a .ibm-pagination-overlay span.ibm-lead-thumb-4{border:1px solid #FFFFFF;display:block;float:left;height:60px;margin:18px 10px 5px 20px;width:60px}
.ibm-home-page #ibm-leadspace-head .ibm-ribbon-nav a .ibm-pagination-overlay h2{color:#FFDF4E;font-size:12px;font-weight:bold;margin:0;_margin:0px;padding:20px 20px 2px 0;text-shadow:0 1px 0 rgba(0, 0, 0, .5)}
.ibm-home-page #ibm-leadspace-head .ibm-ribbon-nav a .ibm-pagination-overlay p{color:#999999;font-size:11.5px;margin:0;padding:0 20px 5px 0;text-shadow:0 1px 0 rgba(0, 0, 0, .5)}.ibm-home-page #ibm-leadspace-head .ibm-ribbon-nav a .ibm-pagination-overlay:hover h2{color:#FFC}
.ibm-home-page #ibm-leadspace-head .ibm-ribbon-nav a .ibm-pagination-overlay:hover p{color:#CCC}.ibm-home-page #ibm-leadspace-head a.ibm-ribbon-next,.ibm-home-page #ibm-leadspace-head a.ibm-ribbon-prev{display:none}
.ibm-home-page #ibm-leadspace-head a.ibm-disabled{visibility:hidden}*:first-child+html div#interceptDiv{height:1%}* html div#interceptDiv{height:1%}.ibm-home-page #ibm-news-feed{border-top:1px solid rgba(0,0,0,.1);border-top:1px solid #CCC\9;*border-top:1px solid #CCC;position:relative;height:29px;margin-top:-30px}
.ibm-home-page #ibm-news-feed-inner{border-top:1px solid rgba(255,255,255,.3)}.dj_ie6 .ibm-home-page #ibm-news-feed-inner.ibm-alternate{width:960px;margin:0px auto;float:none;border-top:0px !important}.ibm-home-page #ibm-news-feed-inner p{color:#000;font-weight:bold;text-shadow:0px 1px 0 rgba(255,255,255,.5);margin:0px auto;width:960px;padding:5px 10px}
.ibm-home-page #ibm-news-feed #ibm-news-feed-data{list-style-type:none;display:inline;margin:0px 4px;padding:0px}.ibm-home-page #ibm-news-feed #ibm-news-feed-data li{display:inline;_background-color:#EFEFEF;display:inline-block\0/;*display:inline;padding:0px;background-image:none}
.ibm-home-page #ibm-news-feed a{font-weight:normal;display:inline-block;overflow:hidden;width:710px;margin-bottom:-3px;color:#000;text-shadow:0px 1px 0 rgba(255,255,255,.5);text-decoration:none;height:15px}
.ibm-home-page #ibm-news-feed-inner p,.ibm-home-page #ibm-news-feed #ibm-news-feed-inner a{-o-transition:all 2.1s;-webkit-transition:all 2.1s;-moz-transition:all 2.1s}.ibm-home-page #ibm-news-feed a:hover{text-decoration:underline}
.ibm-home-page #ibm-news-feed a:visited{color:#000}.ibm-home-page #ibm-news-feed a.ibm-rss-link{padding-left:16px}.ibm-home-page #ibm-news-feed-inner.ibm-alternate p{color:#FFF;text-shadow:0px -1px 0 rgba(0,0,0,.5);*color:#FFF}
.dj_ie6 .ibm-home-page #ibm-news-feed-inner.ibm-alternate p ul#ibm-news-feed-data li{background-color:#222222}.ibm-home-page #ibm-news-feed #ibm-news-feed-inner.ibm-alternate a{color:#FFF;text-shadow:0px -1px 0 rgba(0,0,0,.5);*color:#FFF}
.dijit_a11y .ibm-home-page #ibm-promotion-module,.dijit_a11y .ibm-home-page #ibm-news-feed{border-top:0}.ibm-home-page .ibm-follow{background-color:#000;position:relative}.ibm-home-page .ibm-follow .ibm-follow-links{color:#fff;height:44px;width:985px;line-height:44px;border:0 none;margin:0px auto;padding-left:5px}
.ibm-home-page .ibm-follow .ibm-follow-links div{font-family:Helvetica, Arial;font-size:14px;font-weight:400;float:left}.ibm-follow-links ul li{background:none !important;display:inline}.ibm-home-page #ibm-voices .ibm-container-body{border:0 none;margin:0 auto;position:relative;width:990px}
.ibm-home-page #ibm-voices .ibm-voices-row-1{clear:none;float:left;width:320px;height:76px;padding:12px 0 28px 0;border-top:2px solid #ccc;margin-left:10px}.ibm-home-page #ibm-voices .ibm-voices-row-1-alternate{clear:none;float:left;width:320px;height:76px;padding:12px 0 28px 0;border-top:2px solid #ccc;margin-left:0px}
.ibm-home-page #ibm-voices .ibm-voices-row-2{clear:none;float:left;width:310px;height:76px;padding:12px 10px 25px 0;margin-left:10px}.ibm-home-page #ibm-voices .ibm-voices-row-2-alternate{clear:none;float:left;width:310px;height:76px;padding:12px 10px 25px 0;margin-left:0}
.ibm-home-page #ibm-voices{border:0;margin:0;height:auto;background:-webkit-linear-gradient(#fff, #ccc) !important; background:-o-linear-gradient(#fff, #ccc) !important; background:-moz-linear-gradient(#fff, #ccc) !important; background:linear-gradient(#fff, #ccc) !important}
.ibm-home-page #ibm-voices .ibm-voices-header{padding:12px 0 16px 0}.ibm-home-page #ibm-voices .ibm-columns{margin:0;padding:0 0 0 5px}.ibm-home-page #ibm-voices .ibm-voices-header h2 span.ibm-voices-text{font-size:24px;font-weight:400}
.ibm-home-page #ibm-voices .ibm-voices-header h2 span.ibm-voices-text-alternate a{font-size:24px;font-weight:800;color:#ec4f3e;text-decoration:none !important}.ibm-home-page #ibm-voices .ibm-columns .ibm-col-6-2 h3 a{text-decoration:none !important;color:#666666;font-size:12px}
.ibm-home-page #ibm-voices .ibm-columns .ibm-col-6-2 h3 a:hover{color:#ec4f3e;font-weight:800;font-size:12px}.ibm-home-page #ibm-voices .ibm-columns .ibm-col-6-2 p{font-size:14px;color:#333333}.ibm-home-page #ibm-voices .ibm-columns .ibm-col-6-2 p strong{color:#666666;font-size:12px}
.ibm-home-page #ibm-promotion-module{height:150px;border-top:1px solid #FFF;border-bottom:0px none;border-right:0px none;border-left:0px none;background-color:#EFEFEF;background:url(../../../i/v17/hp/box_gradient_lm.png)/*tpa=http://1.www.s81c.com/i/v17/hp/box_gradient_lm.png*/ top left no-repeat, url(../../../i/v17/hp/box_gradient_rm.png)/*tpa=http://1.www.s81c.com/i/v17/hp/box_gradient_rm.png*/ top right no-repeat, -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#FFF));background:url(../../../i/v17/hp/box_gradient_lm.png)/*tpa=http://1.www.s81c.com/i/v17/hp/box_gradient_lm.png*/ top left no-repeat, url(../../../i/v17/hp/box_gradient_rm.png)/*tpa=http://1.www.s81c.com/i/v17/hp/box_gradient_rm.png*/ top right no-repeat, -moz-linear-gradient(center top, #FFF, #FFF) repeat;background:url(../../../i/v17/hp/box_gradient_lm.png)/*tpa=http://1.www.s81c.com/i/v17/hp/box_gradient_lm.png*/ top left no-repeat, url(../../../i/v17/hp/box_gradient_rm.png)/*tpa=http://1.www.s81c.com/i/v17/hp/box_gradient_rm.png*/ top right no-repeat, -o-linear-gradient(center top, #FFF, #FFF) repeat;margin:0px}
.ibm-home-page #ibm-promotion-module .ibm-columns{width:330px;margin:0px;float:left;clear:none;padding-top:20px;margin-left:0px !important;overflow:visible}.ibm-home-page #ibm-promotion-module .ibm-container-body{margin:0px auto;position:relative;width:990px;border:0px none;background:none}
.ibm-home-page #ibm-promotion-module .ibm-ribbon-pane{position:relative;height:150px;overflow:hidden;width:990px;clear:both}.ibm-home-page #ibm-promotion-module .ibm-ribbon-section{position:absolute;width:20000em;margin:0px}
.ibm-home-page #ibm-promotion-module .ibm-col-6-2 a{background-color:#FFF;width:318px;height:98px;display:block;filter:progid:DXImageTransform.Microsoft.Shadow(color=#666666, strength=3, direction=135);box-shadow:0px 1px 5px #999;-moz-box-shadow:0px 1px 5px #999;-webkit-box-shadow:0px 1px 5px #999;-moz-border-radius:2px;border-radius:2px;padding:1px;margin:0px 5px;*margin:0px 3px}
.ibm-home-page #ibm-promotion-module .ibm-col-6-2 a:hover,.ibm-home-page #ibm-promotion-module .ibm-col-6-2 a:focus,.ibm-home-page #ibm-promotion-module .ibm-col-6-2.ibm-focus-active{filter:progid:DXImageTransform.Microsoft.Shadow(color=#333333, strength=3, direction=135);box-shadow:0px 1px 10px #666;-moz-box-shadow:0px 1px 10px #666;-webkit-box-shadow:0px 1px 10px #666;outline:none;*outline:thin dotted}
.ibm-home-page #ibm-promotion-module .ibm-col-6-2 a img{float:left}.ibm-home-page #ibm-promotion-module a.ibm-ribbon-next,.ibm-home-page #ibm-promotion-module a.ibm-ribbon-prev{background:url(../../../i/v17/icons/scroll_nav_sprite.gif)/*tpa=http://1.www.s81c.com/i/v17/icons/scroll_nav_sprite.gif*/ no-repeat;display:block;text-indent:-9999em;width:20px;height:70px;position:absolute;cursor:pointer;font-size:0px}
.ibm-home-page #ibm-promotion-module a.ibm-disabled{visibility:hidden}.ibm-home-page #ibm-promotion-module a.ibm-ribbon-next{background-position:100% 25px;right:-15px;*right:-10px;_right:-15px;margin-top:-115px !important}
.ibm-home-page #ibm-promotion-module a.ibm-ribbon-next:hover,.ibm-home-page #ibm-promotion-module a.ibm-ribbon-next:focus,.ibm-home-page #ibm-promotion-module a.ibm-ribbon-next:active{background-position:100% -25px}
.ibm-home-page #ibm-promotion-module a.ibm-ribbon-prev{background-position:0px -75px;left:-15px;margin-top:35px !important}.ibm-home-page #ibm-promotion-module a.ibm-ribbon-prev:hover,.ibm-home-page #ibm-promotion-module a.ibm-ribbon-prev:focus,
.ibm-home-page #ibm-promotion-module a.ibm-ribbon-prev:active{background-position:0px -125px}#ibm-promotion-module .ibm-expand-overlay{display:none;position:absolute;background-color:#FFF;z-index:2000px;background:-webkit-gradient(linear, 100% 30%, 100% 100%, from(#FFFFFF), to(#CCCCCC));background:-moz-linear-gradient(top, #FFFFFF 30%, #CCCCCC 100%);background:-o-linear-gradient(top, #FFFFFF 30%, #CCCCCC 100%);background:-ms-linear-gradient(top, #FFFFFF 30%, #CCCCCC 100%);background:linear-gradient(top, #FFFFFF 30%, #CCCCCC 100%);-moz-border-radius:12px;-webkit-border-radius:12px;border-radius:12px;box-shadow:0px 1px 5px #333;-moz-box-shadow:0px 1px 5px #333;-webkit-box-shadow:0px 1px 5px #333;margin-top:-145px;margin-left:0px;width:320px;padding-bottom:20px;border:5px solid #666}
#ibm-promotion-module .ibm-expand-overlay .ibm-expand-head{width:270px;height:60px;padding:15px 25px 0 25px;clear:both;overflow:hidden}#ibm-promotion-module .ibm-expand-overlay .ibm-expand-head p{float:left;font-size:1.35em;margin:18px 0 0 0;padding:0px;width:200px;height:42px}
html:lang(en) .dijit_a11y #ibm-promotion-module .ibm-expand-overlay .ibm-expand-head p{text-indent:0}html:lang(en) #ibm-promotion-module .ibm-expand-overlay .ibm-expand-head p{background:url(../../../i/v17/lead/sp-overlay-sprite.png)/*tpa=http://1.www.s81c.com/i/v17/lead/sp-overlay-sprite.png*/ no-repeat 0 0;text-indent:-999em}
html:lang(en-US) #ibm-promotion-module .ibm-expand-overlay .ibm-expand-head p,html:lang(en-CA) #ibm-promotion-module .ibm-expand-overlay .ibm-expand-head p{font-weight:bold;background:none;text-indent:0}
#ibm-promotion-module .ibm-expand-overlay .ibm-expand-head p a{display:block;text-decoration:none;height:42px;width:200px}#ibm-promotion-module .ibm-expand-overlay .ibm-sp-icons{background:url(../../../i/v17/icons/sp-icons-sprite.gif)/*tpa=http://1.www.s81c.com/i/v17/icons/sp-icons-sprite.gif*/ no-repeat 0 0;width:60px;height:60px;float:right}
#ibm-promotion-module .ibm-expand-overlay .ibm-expand-head .ibm-sp-icons.ibm-sp-overview{background-position:0 0}html:lang(ru) #ibm-promotion-module .ibm-expand-overlay .ibm-sp-icons,html:lang(ru) #ibm-promotion-module .ibm-expand-overlay .ibm-sp-icons.ibm-sp-overview{background-position:0 -2800px}
#ibm-promotion-module .ibm-expand-overlay .ibm-expand-head .ibm-sp-icons.ibm-sp-analytics{background-position:0 -2200px}#ibm-promotion-module .ibm-expand-overlay .ibm-expand-head .ibm-sp-icons.ibm-sp-banking{background-position:0 -800px}
#ibm-promotion-module .ibm-expand-overlay .ibm-expand-head .ibm-sp-icons.ibm-sp-buildings{background-position:0 -1500px}#ibm-promotion-module .ibm-expand-overlay .ibm-expand-head .ibm-sp-icons.ibm-sp-cities{background-position:0 -1200px}
#ibm-promotion-module .ibm-expand-overlay .ibm-expand-head .ibm-sp-icons.ibm-sp-cloud{background:url(../../../i/v17/icons/sp-icons-virtual-server.gif)/*tpa=http://1.www.s81c.com/i/v17/icons/sp-icons-virtual-server.gif*/ no-repeat scroll 0 -1px transparent}#ibm-promotion-module .ibm-expand-overlay .ibm-expand-head .ibm-sp-icons.ibm-sp-commerce{background-position:0 -2500px}
#ibm-promotion-module .ibm-expand-overlay .ibm-expand-head .ibm-sp-icons.ibm-sp-computing{background-position:0 -2600px}#ibm-promotion-module .ibm-expand-overlay .ibm-expand-head .ibm-sp-icons.ibm-sp-education{background-position:0 -1900px}
#ibm-promotion-module .ibm-expand-overlay .ibm-expand-head .ibm-sp-icons.ibm-sp-energy{background-position:0 -100px}#ibm-promotion-module .ibm-expand-overlay .ibm-expand-head .ibm-sp-icons.ibm-sp-government{background-position:0 -2000px}
#ibm-promotion-module .ibm-expand-overlay .ibm-expand-head .ibm-sp-icons.ibm-sp-healthcare{background-position:0 -1100px}#ibm-promotion-module .ibm-expand-overlay .ibm-expand-head .ibm-sp-icons.ibm-sp-infrastructure{background-position:0 -400px}
#ibm-promotion-module .ibm-expand-overlay .ibm-expand-head .ibm-sp-icons.ibm-sp-products{background-position:0 -1800px}#ibm-promotion-module .ibm-expand-overlay .ibm-expand-head .ibm-sp-icons.ibm-sp-security{background-position:0 -2301px}
#ibm-promotion-module .ibm-expand-overlay .ibm-expand-head .ibm-sp-icons.ibm-sp-services{background-position:0 -1800px}#ibm-promotion-module .ibm-expand-overlay .ibm-expand-head .ibm-sp-icons.ibm-sp-sustainability{background-position:0 -2400px}
#ibm-promotion-module .ibm-expand-overlay .ibm-expand-head .ibm-sp-icons.ibm-sp-telecom{background-position:0 -900px}#ibm-promotion-module .ibm-expand-overlay .ibm-expand-head .ibm-sp-icons.ibm-sp-transportation{background-position:0 -1700px}
#ibm-promotion-module .ibm-expand-overlay .ibm-expand-head .ibm-sp-icons.ibm-sp-water{background-position:0 -1301px}#ibm-promotion-module .ibm-expand-overlay .ibm-expand-head .ibm-sp-icons.ibm-sp-work{background-position:0 -1600px}
#ibm-promotion-module .ibm-expand-overlay .ibm-expand-head .ibm-sp-icons.ibm-sp-traffic{background-position:0 -200px}#ibm-promotion-module .ibm-expand-overlay .ibm-expand-head .ibm-sp-icons.ibm-sp-rail{background-position:0 -1700px}
#ibm-promotion-module .ibm-expand-overlay .ibm-expand-head .ibm-sp-icons.ibm-sp-safety{background-position:0 -1401px}#ibm-promotion-module .ibm-expand-overlay .ibm-expand-head .ibm-sp-icons.ibm-sp-food{background-position:0 -300px}
#ibm-promotion-module .ibm-expand-overlay .ibm-expand-head .ibm-sp-icons.ibm-sp-oil{background-position:0 -1000px}#ibm-promotion-module .ibm-expand-overlay .ibm-expand-head .ibm-sp-icons.ibm-sp-retail{background-position:0 -500px}
#ibm-promotion-module .ibm-expand-overlay .ibm-expand-head .ibm-sp-icons.ibm-sp-social-business{background-position:0 -2701px}#ibm-promotion-module .ibm-expand-overlay .ibm-expand-head .ibm-sp-icons.ibm-sp-insurance{background-position:0 -2904px}
#ibm-promotion-module .ibm-expand-overlay .ibm-expand-head .ibm-sp-icons.ibm-sp-marketing{background-position:0 -3001px}#ibm-promotion-module .ibm-expand-overlay .ibm-expand-head .ibm-sp-icons.ibm-sp-media{background-position:0 -3101px}
#ibm-promotion-module .ibm-expand-overlay .ibm-expand-head .ibm-sp-icons.ibm-sp-electronics{background-position:0 -3201px}#ibm-promotion-module .ibm-expand-overlay .ibm-expand-head .ibm-sp-icons.ibm-sp-mobile-enterprise{background-position:0 -3301px}
#ibm-promotion-module .ibm-expand-overlay .ibm-expand-head .ibm-sp-icons.ibm-sp-security-2{background-position:0 -3401px}#ibm-promotion-module .ibm-expand-overlay .ibm-expand-body{width:270px;padding:10px 25px 0 25px;_padding:0px 25px 0 25px}
#ibm-promotion-module .ibm-expand-overlay .ibm-expand-body .ibm-expand-body-1{width:83px;margin-right:10px;float:left}#ibm-promotion-module .ibm-expand-overlay .ibm-expand-body .ibm-expand-body-2{width:177px;float:left}
.dijit_a11y #ibm-promotion-module .ibm-expand-overlay .ibm-expand-body .ibm-expand-body-1 h2,.dijit_a11y #ibm-promotion-module .ibm-expand-overlay .ibm-expand-body .ibm-expand-body-2 h2{display:block}#ibm-promotion-module .ibm-expand-overlay .ibm-expand-body .ibm-expand-body-1 h2,
#ibm-promotion-module .ibm-expand-overlay .ibm-expand-body .ibm-expand-body-2 h2{display:none}html:lang(en) .dijit_a11y #ibm-promotion-module .ibm-expand-overlay .ibm-expand-body h2{text-indent:0 !important}
html:lang(en) #ibm-promotion-module .ibm-expand-overlay .ibm-expand-body .ibm-expand-body-1 h2{background:url(../../../i/v17/lead/sp-overlay-sprite.png)/*tpa=http://1.www.s81c.com/i/v17/lead/sp-overlay-sprite.png*/ no-repeat 0 -50px;text-indent:-999em}html:lang(en) #ibm-promotion-module .ibm-expand-overlay .ibm-expand-body .ibm-expand-body-2 h2{background:url(../../../i/v17/lead/sp-overlay-sprite.png)/*tpa=http://1.www.s81c.com/i/v17/lead/sp-overlay-sprite.png*/ no-repeat 0 -80px;text-indent:-999em}
#ibm-promotion-module .ibm-expand-overlay .ibm-expand-body ul{margin:0px;padding:8px 0 0 0}#ibm-promotion-module .ibm-expand-overlay .ibm-expand-body ul.ibm-first{width:85px;float:left;padding-right:7px}
#ibm-promotion-module .ibm-expand-overlay .ibm-expand-body ul.ibm-second{width:85px;float:left}#ibm-promotion-module .ibm-expand-overlay .ibm-expand-body ul li{background:none;padding:0px;clear:none}#ibm-promotion-module .ibm-expand-overlay .ibm-expand-body ul a{color:#333;text-shadow:0px 1px 0 #FFF;display:block;height:1%;padding:2px 0;text-decoration:none}
#ibm-promotion-module .ibm-expand-overlay .ibm-expand-body ul a:hover{text-decoration:underline}#ibm-promotion-module .ibm-expand-overlay.ibm-expand-overlay-alt .ibm-expand-head{margin:0 0 -20px 25px;padding:15px 0 10px;width:300px}
#ibm-promotion-module .ibm-expand-overlay .ibm-expand-body .ibm-expand-body-half{width:130px;padding-left:5px;float:left}#ibm-promotion-module .ibm-expand-overlay.ibm-expand-overlay-alt .ibm-expand-head .ibm-sp-icons{background:none;height:80px}
#ibm-top #ibm-promotion-module .ibm-expand-overlay.ibm-expand-overlay-alt .ibm-expand-head p{width:230px;margin-top:10px;margin-bottom:10px}html:lang(en) #ibm-top #ibm-promotion-module .ibm-expand-overlay.ibm-expand-overlay-alt .ibm-expand-head p{background:url(../../../i/v17/lead/gmu-overlay-text.png)/*tpa=http://1.www.s81c.com/i/v17/lead/gmu-overlay-text.png*/ no-repeat scroll 0 -11px transparent}
html:lang(en) #ibm-promotion-module .ibm-expand-overlay.ibm-expand-overlay-alt .ibm-expand-head p a{text-indent:-9999px}#ibm-promotion-module .ibm-expand-overlay.ibm-expand-overlay-alt .ibm-expand-head p a{height:50px}
#ibm-promotion-module .ibm-expand-overlay.ibm-expand-overlay-alt .ibm-expand-head .ibm-plain-link{background:none;text-indent:0px;font-size:1em;height:auto;margin-bottom:0}#ibm-promotion-module .ibm-expand-overlay.ibm-expand-overlay-alt .ibm-expand-head .ibm-plain-link a{text-decoration:underline;height:auto}
#ibm-promotion-module .ibm-expand-overlay.ibm-expand-overlay-alt .ibm-expand-body{padding-top:0}#ibm-promotion-module .ibm-expand-overlay.ibm-expand-overlay-alt .ibm-expand-body .ibm-expand-body-half{width:130px;float:left;padding-left:0;padding-right:5px}
#ibm-top #ibm-promotion-module .ibm-expand-overlay.ibm-expand-overlay-alt .ibm-expand-body .ibm-expand-body-half h2{text-indent:0;display:block}#ibm-top #ibm-promotion-module .ibm-expand-overlay.ibm-expand-overlay-alt .ibm-expand-body .ibm-expand-body-half h2 a{color:#000;text-decoration:none}
#ibm-top #ibm-promotion-module .ibm-expand-overlay.ibm-expand-overlay-alt .ibm-expand-body .ibm-expand-body-half h2 a:hover{text-decoration:underline}#ibm-top #ibm-promotion-module .ibm-expand-overlay.ibm-expand-overlay-alt .ibm-expand-body .ibm-expand-body-half .ibm-view-all{text-align:right;display:block;text-decoration:none;color:#333333}
#ibm-top #ibm-promotion-module .ibm-expand-overlay.ibm-expand-overlay-alt .ibm-expand-body .ibm-expand-body-half .ibm-view-all:hover{text-decoration:underline}#ibm-top #ibm-promotion-module .ibm-expand-overlay.ibm-expand-overlay-alt .ibm-expand-body ul{padding:0 0 8px 0}
#ibm-promotion-module .ibm-expand-overlay.ibm-alternate,#ibm-promotion-module .ibm-expand-overlay.ibm-sp-alternate{padding:20px 22px;_padding:20px 10px !important;font-size:13px;color:#444444;width:276px;height:220px;_border-top:5px solid #444 !important}
#ibm-promotion-module .ibm-expand-overlay.ibm-sp-alternate{_width:295px}#ibm-promotion-module .ibm-expand-overlay.ibm-sp-alternate h2,#ibm-promotion-module .ibm-expand-overlay.ibm-alternate h2{width:100%;height:43px;overflow:hidden;white-space:nowrap;margin-bottom:13px;padding:0}
#ibm-promotion-module .ibm-expand-overlay.ibm-alternate h2.cloud{text-indent:100%;background:url(../../../i/v17/hp/ibm_cloud-hp-overlay.png)/*tpa=http://1.www.s81c.com/i/v17/hp/ibm_cloud-hp-overlay.png*/ no-repeat 0 10px;_background:none !important;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/i/v17/hp/ibm_cloud-hp-overlay.png',sizingMethod='crop')}
#ibm-promotion-module .ibm-expand-overlay.ibm-alternate h2.watson{text-indent:100%;background:url(../../../i/v17/hp/ibm_watson-hp-overlay.png)/*tpa=http://1.www.s81c.com/i/v17/hp/ibm_watson-hp-overlay.png*/ no-repeat 0 10px;_background:none !important;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/i/v17/hp/ibm_watson-hp-overlay.png',sizingMethod='crop')}
#ibm-promotion-module .ibm-expand-overlay.ibm-alternate h2.mobile-first{text-indent:100%;background:url(../../../i/v17/hp/ibm_mobile_first-hp-overlay.png)/*tpa=http://1.www.s81c.com/i/v17/hp/ibm_mobile_first-hp-overlay.png*/ no-repeat 0 10px;_background:none !important;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/i/v17/hp/ibm_mobile_first-hp-overlay.png',sizingMethod='crop')}
#ibm-promotion-module .ibm-expand-overlay.ibm-alternate h2.security{text-indent:100%;background:url(../../../i/v17/hp/ibm_security-hp-overlay.png)/*tpa=http://1.www.s81c.com/i/v17/hp/ibm_security-hp-overlay.png*/ no-repeat 0 10px;_background:none !important;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/i/v17/hp/ibm_security-hp-overlay.png',sizingMethod='crop')}
#ibm-promotion-module .ibm-expand-overlay.ibm-alternate h2.big-data{text-indent:100%;background:url(../../../i/v17/hp/ibm_big_data_analytics-hp-overlay.png)/*tpa=http://1.www.s81c.com/i/v17/hp/ibm_big_data_analytics-hp-overlay.png*/ no-repeat 0 10px;_background:none !important;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/i/v17/hp/ibm_big_data_analytics-hp-overlay.png',sizingMethod='crop')}
#ibm-promotion-module .ibm-expand-overlay.ibm-sp-alternate h2.smarter-planet{text-indent:100%;background:url(../../../i/v17/hp/smarter_planet-hp-overlay.png)/*tpa=http://1.www.s81c.com/i/v17/hp/smarter_planet-hp-overlay.png*/ no-repeat 0 10px;_background:none !important;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/i/v17/hp/smarter_planet-hp-overlay.png',sizingMethod='crop');height:62px}
#ibm-promotion-module .ibm-expand-overlay.ibm-alternate img{float:left;margin-right:10px}#ibm-promotion-module .ibm-expand-overlay.ibm-alternate div{overflow:hidden;margin-bottom:19px;padding-top:3px}#ibm-promotion-module .ibm-expand-overlay.ibm-alternate p{color:#444444}
#ibm-promotion-module .ibm-expand-overlay.ibm-alternate ul,#ibm-promotion-module .ibm-expand-overlay.ibm-sp-alternate ul{padding-top:0;margin-top:0;line-height:17px}#ibm-promotion-module .ibm-expand-overlay.ibm-sp-alternate ul{width:130px;float:left;padding-left:0;line-height:14px}
#ibm-promotion-module .ibm-expand-overlay.ibm-sp-alternate ul+ul{padding-left:15px}#ibm-promotion-module .ibm-expand-overlay.ibm-alternate ul li,#ibm-promotion-module .ibm-expand-overlay.ibm-sp-alternate ul li{background:url(../../../i/v17/bullets/ibm_bullet_grey_on.png)/*tpa=http://1.www.s81c.com/i/v17/bullets/ibm_bullet_grey_on.png*/ no-repeat 0 5px;padding:0px 0 7px 12px;height:auto}
#ibm-promotion-module .ibm-expand-overlay.ibm-sp-alternate ul li{background-position:0px 3px}#ibm-promotion-module .ibm-expand-overlay.ibm-alternate p a,#ibm-promotion-module .ibm-expand-overlay.ibm-alternate ul li a,
#ibm-promotion-module .ibm-expand-overlay.ibm-sp-alternate ul li a{color:#444444;text-decoration:none}#ibm-promotion-module .ibm-expand-overlay.ibm-alternate p a:hover,#ibm-promotion-module .ibm-expand-overlay.ibm-alternate ul li a:hover,
#ibm-promotion-module .ibm-expand-overlay.ibm-sp-alternate ul li a:hover{text-decoration:underline}#ibm-top ul.ibm-sp-tools{bottom:0;clear:both;list-style-type:none;margin:0 10px 10px 0;padding:0px;position:absolute;right:0}
.ibm-sp-tools li{float:left;background:none !important;clear:none !important;padding:0px !important}.ibm-sp-tools a{display:block;height:16px;margin-left:2px;width:16px}.ibm-sp-tools a.ibm-share-facebook{background:url("../../../i/v17/icons/sprites-pt-all.png")/*tpa=http://1.www.s81c.com/i/v17/icons/sprites-pt-all.png*/ no-repeat scroll -52px -78px transparent}
.ibm-sp-tools a.ibm-share-facebook:hover{background-position:-78px -78px}.ibm-sp-tools a.ibm-share-twitter{background:url("../../../i/v17/icons/sprites-pt-all.png")/*tpa=http://1.www.s81c.com/i/v17/icons/sprites-pt-all.png*/ no-repeat scroll -52px -156px transparent}.ibm-sp-tools a.ibm-share-twitter:hover{background-position:-78px -156px}
.ibm-sp-tools a.ibm-share-youtube{background:url("../../../i/v17/icons/sprites-pt-all.png")/*tpa=http://1.www.s81c.com/i/v17/icons/sprites-pt-all.png*/ no-repeat scroll -52px -283px transparent}.ibm-sp-tools a.ibm-share-youtube:hover{background-position:-78px -283px}.ibm-embed-video{height:355px}
@media screen and (min-device-width: 768px){
#ibm-top,#ibm-masthead,#ibm-universal-nav,#ibm-common-menu{min-width:1030px}
}.ibm-home-page #ibm-pcon{width:100%;margin:0px auto}.ibm-home-page #ibm-content-body{padding-top:0px}.ibm-home-page #ibm-content-main{margin-top:0px;_margin:0px}.ibm-home-page #ibm-content .ibm-container{width:100%}
.ibm-home-page #ibm-promotion-module .ibm-ribbon-pane{height:150px !important}.ibm-home-page #ibm-content .ibm-container.ibm-ribbon .ibm-container-body,.ibm-home-page #ibm-media .ibm-container.ibm-ribbon .ibm-container-body{height:150px !important}
.ibm-home-page #ibm-content .ibm-video-container{margin-top:0;background-color:#FFF}.ibm-home-page #ibm-related-content{display:none}.ibm-home-page .ibm-ribbon-nav a{background-image:none}.ibm-home-page #ibm-universal-nav li#ibm-home a{background:url(../../../i/v17/t/ibm-logo-anim-sprite.png)/*tpa=http://1.www.s81c.com/i/v17/t/ibm-logo-anim-sprite.png*/ no-repeat 0 0;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/i/v17/t/ibm-logo-anim-sprite.png')}
.ibm-home-page #ibm-universal-nav li#ibm-home a:hover,.ibm-home-page #ibm-universal-nav li#ibm-home a:focus{background-position:0px -200px}.ibm-home-page #ibm-universal-nav li#ibm-home.ibm-sm-logo a{background:url(../../../i/v17/t/ibm-logo.png)/*tpa=http://1.www.s81c.com/i/v17/t/ibm-logo.png*/ no-repeat scroll 0 -100px}
.ibm-home-page #ibm-promotion-module .ibm-col-6-2{clear:none;float:left;padding:0px}#ibm-lead-2,#ibm-lead-3{display:none}#ibm-lead-1 div.ibm-col-1-1{width:990px;float:none;margin:0 auto}#ibm-footer-module,
#ibm-footer{min-width:1030px}.ibm-home-page #ibm-footer-module .ibm-columns{width:990px;padding:0px}.ibm-home-page #ibm-footer ul{padding:0px}.ibm-home-page #ibm-footer ul li:first-child{padding-left:5px}#ibm-leadspace-head p{width:312px;*width:195px !important; _width:185px !important}
.ibm-home-page #ibm-leadspace-body #ibm-lead-1{height:400px;width:100%}#ibm-com .dijitDialogPaneContent .ibm-common-overlay.ibm-overlay-alt-two.ibm-hp-video{width:705px;background-color:#000}#ibm-com .dijitDialogPaneContent .ibm-common-overlay.ibm-hp-video .ibm-title h2{color:#fff}
#ibm-com .dijitDialogPaneContent .ibm-common-overlay.ibm-hp-video .ibm-title.ibm-subtitle p{padding:5px 0 20px}#ibm-com .dijitDialogPaneContent .ibm-common-overlay.ibm-hp-video .ibm-title.ibm-subtitle p em{color:#a8a8a8}
#ibm-com .dijitDialogPaneContent .ibm-common-overlay.ibm-hp-video a{color:#cccccc;font-weight:bold}#ibm-com .dijitDialogPaneContent .ibm-common-overlay.ibm-hp-video a:hover{color:#fff}