/*  16 px is 1 em 
 *  2	0.125
 *	3	0.1875
 *	4	0.25
 * 	5	0.3125
 * 	6	0.375
 *	7	0.4375
 *	8	0.5
 *	9	0.5625
 *	10	0.625
 *	11	0.6875
 *	12	0.75
 *	13	0.8125
 *	14	0.875
 *	15	0.9375
 *	16	1
 *	17	1.0625
 *	18	1.125
 *	19	1.1875
 *	20	1.25
 *	21	1.3125
 *	22	1.375
 *	23	1.4375
 *	24	1.5
 *	25	1.5625
 *	26	1.625
 *	27	1.6875
 *	28	1.75
 *	29	1.8125
 *	30	1.875
 *	31	1.9375
 *	32	2
 *	33	2.0625
 *	34	2.125
 *	35	2.1875
 *	36	2.25
 *	37	2.3125
 *	38	2.375
 *	39	2.4375
 * 	40	2.5
 */
 
body {font:62.5%/1.4em arial,helvetica,sans-serif; color:#666; min-width:990px; margin:0; padding:0; background:#FFF;} 

div, dl, dt, dd, ul, ol, li, pre, hr, form, fieldset, input, p, th, td {margin:0; padding:0;} 
h1, h2, h3, h4, h5, h6 {margin:0; padding:0; font-size:100%; font-weight:normal;} 

h1, h2, h3 {padding-bottom:.3em;color:#0089C4;}

p {padding-bottom:1.5em; line-height:1.55em; font-size:1.1em;} 

a, a:visited {text-decoration:none; outline:0; color:#0089C4;} 

a:hover {text-decoration:underline;color:#ffa100!important} 

html {height:100%;} /* required for login page */ 

ul,li {list-style:none;} 

b {font-weight:normal;} 
ol li{ list-style-type:decimal; margin-left:20px;}
input{ margin:0; padding:0;} 
img, input, select, label {
    vertical-align: middle;
}
label {
    display: block;
}

form fieldset {
    clear: both;
}

fieldset, img {
    border: 0 none;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
/*Reduced font size*/
h3 {
    font-size: 1em;
    font-weight: normal;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
	clear:both;
}
input.text, 
select, 
textarea {
	margin-left:3px;
	padding:3px;
	color:#333;
	border:1px solid #CCC;
}

tbody input {margin:0;} 

form {padding:20px;} 

form fieldset {clear:both;} 

form legend {
	color:#0089C4;
	font-size:1.16em;
	padding:0 0 .3em;
} 
h1 {
	float:left;
	display:block;
	font-size:1.9em;
	font-weight:bold;
	line-height:1em;
}

h2, h3, h4 {
	font-size:1.16em;
}
h2{line-height:24px;padding-bottom:3px;}
h4 {line-height:1.2em; color:#333; padding-bottom:.2em;} 

h5 {font-weight:bold; color:#333;} 

tbody input {margin:0;} 
a img{border:none;}