.an_c55_homep_landing_hero {
    top: 0px!important;
}

.an_pge_home-links-login-area2 {
  top: -225px!important;
}

.an_pge_home-links-login-area1 {
 top: -60px;
}

.an_pge_home-global-footer {
    margin-top: -260px!important ;
}
