.page-admin input[type='submit'],
.page-admin ul.tabs li a {
  behavior: url("Unknown_83_filename")/*tpa=https://www.wfscorp.com/sites/all/modules/custom/sites/all/themes/wfs/js/PIE.htc*/;
}
form#views-form-wfs-content-admin-system-site-admin input#edit-submit {
  margin-bottom: -5px;
}
#admin-menu {
  filter: none;
}
div#edit-field-contact-department-tid-wrapper,
div#edit-field-contact-business-areas-tid-wrapper {
  width: 240px;
}
div.view-directory div.view-content table.views-table td {
  border-bottom: 0px;
}
.node-type-webform fieldset,
.node-type-webform form div {
  overflow: none;
}
.node-type-webform textarea {
  width: 99%;
}
.become-a-client-webform .webform-client-form .form-step {
  width: 720px;
}
form#offices-form .ajax-progress {
  position: absolute;
}
form#offices-form .ajax-progress .message {
  display: none;
  visibility: hidden;
}
form#offices-form #cities_wrapper div,
form#offices-form .offices-button {
  /*float: right;*/
}
form#offices-form div .form-item-country-id,
form#offices-form div #states_wrapper,
form#offices-form div #cities_wrapper {
  /*width: 25%;*/
}
form#offices-form {
  margin-bottom: 10px;
}

/* ----------------------------------------- */
/* Changes for new Credit Applications */

/* Billing Address section */
#webform-client-form-1816 .form-item.form-type-checkbox.form-item-submitted-billing-address-same-as-company-1,
#webform-client-form-1817 .form-item.form-type-checkbox.form-item-submitted-billing-information-billing-address---same-as-company-1  {
	width: 280px;
}
#webform-client-form-1816 .form-item.form-type-checkbox.form-item-submitted-product-request-additional-services-additional-services-Regular-Services {
	width: 260px;
}

#webform-client-form-1816 .form-item.form-type-checkbox.form-item-submitted-product-request-additional-services-additional-services-International-Trip-Support {
	width: 230px;
}


/* ----------------------------------------- */
/* Changes for new Credit Applications (PROD)*/

/* Billing Address section */
#webform-client-form-1739 .form-item.form-type-checkbox.form-item-submitted-billing-address-same-as-company-1,
#webform-client-form-1740 .form-item.form-type-checkbox.form-item-submitted-billing-information-billing-address---same-as-company-1  {
	width: 280px;
}
#webform-client-form-1740 .form-item.form-type-checkbox.form-item-submitted-product-request-additional-services-additional-services-Regular-Services {
	width: 260px;
}

#webform-client-form-1740 .form-item.form-type-checkbox.form-item-submitted-product-request-additional-services-additional-services-International-Trip-Support {
	width: 230px;
}