@media print {
header{border-bottom:none !important; height:120px;height:1%}
header .logo{height: 87px;width:110px;text-indent:-99999em;font-size:0}
header .logo a{background:none;display:block;position:relative}
header .logo a img{display:block}

.pagecontent .contentcol,.content.threeCol .pagecontent .contentcol .contentleftcol{float:none !important}
.content.twoColL .pageheader,.content.twoCol .pageheader,.content.twoColW .pageheader,.content.twoColN .pageheader,.content.oneCol .pageheader,.globalutil,.globalsearch,ul.l1nav,ul.l2nav,.breadcrumbs,.pageutil,.footerlinks,.newFooterLinks,.copyright ul.hnavList,.leftcol,.rightcol,.contentrightcol,ul.tabs{display:none !important}

.pagetitle h1{position:relative}
.tabscontent .bd {border:0 none}
.tabscontent{display:inline-block !important}
.cnumber{padding-top:0}
body#homepage .rightcol{display:block !important; float:none}
body#homepage .rightcol #performance{display:none}
}