@import "rounded_corners.css"/*tpa=http://www.cablevision.com/css/rounded_corners.css*/;
@import "forms.css"/*tpa=http://www.cablevision.com/css/forms.css*/;
@import "nav.css"/*tpa=http://www.cablevision.com/css/nav.css*/;

* {margin:0;padding:0;}

p {margin-bottom:12px;}
p.firstp {margin-top:12px;}

.fs90 {font-size:90%;}
.fs100 {font-size:100%;}
.fs180 {font-size:180%;}

.blockquote {margin: 30px 40px 30px 30px;}

body {font-size:75%;font-family:arial,verdana,helvetica,sans-serif;color:#333;background-color:#fff;margin:0 24px 0 24px;background: url('../images/background.gif')/*tpa=http://www.cablevision.com/images/background.gif*/ repeat-x;min-width:771px;width:771px;}

.mb10 {margin-bottom:10px;}
.mb15 {margin-bottom:15px;}

.ml7 {margin-left:7px;}
.ml10 {margin-left:10px;}

.mt2 {margin-top:2px;}
.mt5 {margin-top:5px;}
.mt7 {margin-top:7px;}
.mt10 {margin-top:10px;}
.mt15 {margin-top:15px;}
.mt25 {margin-top:25px;}

.mr8 {margin-right:8px;}

.p5 {padding:5px;}

/*text*/
#content {width:771px;}
.bold {font-weight:bold;}
.center {text-align:center;}

/*header*/
#header {background: transparent url(../images/top.gif)/*tpa=http://www.cablevision.com/images/top.gif*/ no-repeat 0 0;width:764px;clear:both;}
#search {width:337px;position:absolute;z-index:2;top:5px;left:230px;}
#nameBox {width:186px;position:absolute;z-index:2;top:3px;left:599px;}
/*end header*/

#leftNav {float:left;width:132px;padding:0 0 0 18px;clear:both;}
#main {	clear:both;}
#content {float:left;width:592px;}
#mainHome {width:592px;border-bottom:1px solid #e2e2e2;}

/*home page*/
.homeMiddle {position:relative;width:100%;overflow:hidden;margin-top:15px}
.homeMiddle div.left {float:left;width:430px}
.homeMiddle div.right {float:left;width:159px}
.availability {position:relative;width:100%;overflow:hidden}
.availability div.text {float:left;width:260px;margin:0 10px 0 5px}
.availability div.button {float:left;width:136px;margin-top:15px}
.homeBoxes {position:relative;overflow:hidden;width:100%}
.homeBoxes div.homeBox {float:left;width:136px;margin:0 6px 0 0}
.homeBoxes div.image {text-align:center;margin:7px 0 5px 0}
.homeList li {list-style-type:none;padding-bottom:3px}
.boxWithBanner {padding-top:25px}

/*basic page layouts*/
.columns, .factCol {width:100%;position:relative;overflow:auto}
.twoColFirst {float:left;margin-right:12px;width:393px;}
.twoColSecond {float:left;width:169px;}
.threeColumns {width:100%;position:relative;overflow:hidden}
.threeColumns div {float:left;width:31%;margin-right:15px;}
.threeColumns div.last {margin-right:0;}
.fact {float:left;width:40px;font-weight:bold}
.factText {float:left;width:500px}
.factCol {margin-bottom:15px}

.threeCol p img {margin-right:5px;}
.threeCol p.head {margin:0 0 10px 10px;}
.threeCol div {float:left;width:29%;margin-left:15px;}

.jobListings {width:100%;position:relative;overflow:hidden;margin-bottom:15px}
.jobListings div {float:left;width:24%;margin-right:1%;text-align:center}

/*basic page layouts*/
.accessColFirst {float:left;margin-right:14px;width:281px;}
.accessColSecond {float:left;width:281px;}
.accessColFirst p {margin-bottom:0;}

/*borders*/
#surroundBorders {border-left:1px solid #e2e2e2;border-right:1px solid #e2e2e2;border-bottom:1px solid #e2e2e2;padding:15px 3px 0 3px;background-color:#fff;width:584px;margin:-3px 0 0 0 !ie;}
.padBorders {border-left:1px solid #e2e2e2;border-right:1px solid #e2e2e2;border-bottom:1px solid #e2e2e2;padding:15px 7px 15px 7px;background-color:#fff;width:576px;margin:-3px 0 0 0 !ie;}

#availForm {float:left;width:260px;margin:0;padding:15px 0 0 10px;}

.contentBox {clear:both;border-bottom:1px solid #ccc;position:relative;overflow:auto;padding:7px 0 7px 0;width:354px;}

/*access table*/
#accessTable {width:100%;}
#accessTable td {padding:5px;}
#accessTable .tan td {background-color:#e3e3c8;}
#rulesTable {width:100%;}
#rulesTable th {font-size:100%;font-weight:bold;padding:5px;}
#rulesTable td {padding:5px;border-top:1px solid #e2e2e2;border-left:1px solid #e2e2e2;border-right:1px solid #e2e2e2;}
#rulesTable .bottomBorder td {border-bottom:1px solid #e2e2e2;}

.regionHead {padding:5px;text-align:center;font-weight:bold;margin:10px 0 10px 0;background-color:#f5f5f5;}
.regionInfo {margin:12px 0 12px 0;clear:both;}
.regionInfo div {float:left;}
.regionInfo .label {font-weight:bold;width:150px;}
.regionInfo .info {width:400px;}

/*leadership styles*/
.leadershipContentBox {position:relative;overflow:hidden;padding:7px 0 7px 5px;width:365px;}
.leadershipPhoto {float:left;width:90px;}
.leadershipName {float:left; width:280px;margin-top:26px;}
.leadershipBlurb p {font-size:95%; padding: 0 0 0 3px;}
.leadershipBlurb {float:left;width:120px; padding: 0 0 0 0px;}

.centerImage {margin:10px 0 10px 0px;text-align:center;}
.rightImage {margin:10px 0 0 0;}

.contentImage {float:left;width:200px;margin-right:5px;border: 1px solid #e1e1e1;}
.contentImageSmall {float:left;width:75px;margin-right:5px;}

.leadershipImage {float:left;width:52px;margin-right:5px;}

.contentImageSeventyFive {float:left;width:75px;margin-right:5px;border: 1px solid #e1e1e1;}

.contentImageNoBorder {float:left;width:200px;margin-right:5px;}

.contentBlurb {float:left;width:345px;}
.contentBlurbLarge {float:left;width:445px;}
.contentBlurb p {font-size:95%;}

/*news*/
#newsMain div {margin-bottom:12px;padding-bottom:12px;}

#copyright {clear:both;padding:10px 0 10px 0;font-size:85%;font-weight:700;}

.arrow {padding:0 0 1px 7px;}
.arrowBack {padding:0 7px 1px 0;}
.go {margin-top:8px;}

.clearfix:after {content: ".";display: block;height:0;clear:both;visibility:hidden;}
.clearfix {display:inline-block;}
.clear {clear:both;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
/* End hide from IE-mac */

.italic {font-style:italic;font-size:90%;}
.hide {visibility:hidden;}
.show {visibility:visible;}
.floatLeft {float:left;}
.floatRight {float:right;}
.nospace {padding:0;margin:0;}
.relative {position:relative;}
.f90 {font-size:90%;}
.error {color:red;font-weight:bold;}
.errorIntro {font-weight:bold;font-size:110%;}
.errorBox {background-color:#e2e2e2;padding:7px;margin:7px 0 7px 0;width:400px;}

/*headers*/

h1,h2,h3,h4,h5,h6 {font-weight:700;margin-bottom:7px;color:#900}

h1 {font-size:1.3em;}

h2 {font-size:1.2em;color:#900}

h2 a {font-weight:700;color:#900;text-decoration:none;}
h2 a:hover {text-decoration:underline;}
h2.dark {color:#000;}

h3 {font-size:1.1em;}
h3.dark {color:#000;}

h4 {font-size:1.0em;}

/*subheads*/
.subheadBlue {background-color:#e8f7fe;padding:5px}
.subheadBlue a {color:#0175ac;font-size:160%}
.subheadBlueDark {padding:3px;width:372px;background-color:#3d85b7;color:#fff;font-style:italic;font-weight:bold}
.careersImageHeader {margin:-13px 0 12px -4px}

/*careers*/
.valuesList {padding:8px;margin-bottom:15px;border-top:8px solid #000;border-bottom:8px solid #000;background-color:#f2f2f2}

/*Styles for the gray background scrollbox*/
.box .hdGrayShadow .c,.box .ftGrayShadow .c {font-size:1px;height:5px;}

.box .hdGrayShadow {background:transparent url(../images/corners/ltgrayshadow.gif)/*tpa=http://www.cablevision.com/images/corners/ltgrayshadow.gif*/ no-repeat 0 0}
.box .hdGrayShadow .c {background:transparent url(../images/corners/rtgrayshadow.gif)/*tpa=http://www.cablevision.com/images/corners/rtgrayshadow.gif*/ no-repeat right 0}
.box .bdGrayShadow {background:transparent url(../images/corners/lmgrayshadow.gif)/*tpa=http://www.cablevision.com/images/corners/lmgrayshadow.gif*/ repeat-y 0 0;}
.box .bdGrayShadow .c {background:transparent url(../images/corners/rmgrayshadow.gif)/*tpa=http://www.cablevision.com/images/corners/rmgrayshadow.gif*/ repeat-y right 0;padding:10px}
.box .ftGrayShadow {background:transparent url(../images/corners/lbgrayshadow.gif)/*tpa=http://www.cablevision.com/images/corners/lbgrayshadow.gif*/ no-repeat 0 0}
.box .ftGrayShadow .c {background:transparent url(../images/corners/rbgrayshadow.gif)/*tpa=http://www.cablevision.com/images/corners/rbgrayshadow.gif*/ no-repeat right 0}

#availForm h3 {color:#333;margin-bottom:3px;}
#checkAvail h3 {color:#900;}

.searchBox h3 {
	font-size:14px;
	margin:0 6px 0 6px;
	color:#0175ac;
}

/* lines */
div.dashedLine {border-top:1px dashed #e2e2e2;width:100%;height:1px;text-align:left;margin:7px 0 7px 0;}
div.line {border-top:1px solid #e2e2e2 !important;width:100%;height:1px;text-align:left;margin:7px 0 7px 0}
hr {display:none;}

/* box */
.box2 {background: transparent}
.corners {display:block; background:transparent; font-size:1px}
.corners b {display:block;overflow:hidden}
.c1, .c2, .c3 {height:1px;}
.c2 {margin:0 3px; border-width:0 2px}
.c3 {margin:0 2px}
.c4 {height:2px; margin:0 1px}
.lastBox {margin-right:0}

.box2 div.content {display:block;border-width:0 1px;padding:4px 7px 4px 7px;margin:0}
.box2 div.content p {font-size:90%;margin-bottom:5px}
.box2 div.content p.full {font-size:100%}
.box2 div.content a {color:#6d961c;font-size:90%}
.box2 div.content a.blue {color:#0175ac;font-size:100%}
.box2 div.content ul.homeList li a {color:#0175ac}
.box2 div.search {padding-bottom:3px !ie}
.box2 div.order a {color:#0175ac;font-size:120%}

.gr div {background:#eef5e3;border:0 solid #bfcc97}
.gr .c2, .gr .c3, .gr .c4 {background:#eef5e3;border-left:1px solid #bfcc97;border-right:1px solid #bfcc97}
.gr .c1 {margin:0 5px;background:#bfcc97}

.gray div {background:#f2f2f2;border:0 solid #ccc}
.gray .c2, .gray .c3, .gray .c4 {background:#f2f2f2;border-left:1px solid #ccc;border-right:1px solid #ccc}
.gray .c1 {margin:0 5px;background:#f2f2f2}


.ye div {background:#fbf7ee;border:0 solid #dcdcb2}
.ye .c2, .ye .c3, .ye .c4 {background:#fbf7ee;border-left:1px solid #dcdcb2;border-right:1px solid #dcdcb2}
.ye .c1 {margin:0 5px;background:#dcdcb2}

.blu div {background:#f2f5fc;border:0 solid #ced2f5}
.blu .c2, .blu .c3, .blu .c4 {background:#f2f5fc;border-left:1px solid #ced2f5;border-right:1px solid #ced2f5}
.blu .c1 {margin:0 5px;background:#ced2f5}

.wh div {background:#fff;border:0 solid #e5e5e5}
.wh .c2, .wh .c3, .wh .c4 {background:#fff;border-left:1px solid #e5e5e5;border-right:1px solid #e5e5e5}
.wh .c1 {margin:0 5px;background:#e5e5e5}

/*style for main iO box text/images*/
.featureContent {width:100%;overflow:hidden;position:relative}
.featurePhoto {float:left;width:93px;margin-left:5px;}
.featureText {float:left;width:265px;min-height:74px;font-size:90%;height:74px !ie;}
.featurePhotoBig {float:left;width:220px;margin-left:5px}
.featureTextBig {float:left;width:320px}
.programfeaturePhoto {float:left;width:101px;margin-left:5px;margin-right:5px;}
.investorfeaturePhoto {float:left;width:194px;margin-left:5px;margin-right:10px;}
.investorfeatureText {float:left;width:160px;min-height:84px;font-size:90%;height:84px !ie;}
.chat {background-color:#fcf6ea;border:1px solid #d7d9a7;padding:7px;margin:12px auto 10px auto;width:450px;}

/*site index*/
#siteIndex a.main {font-size:120%;margin-top:10px;display:block;}
#siteIndex ul.primary li {margin-left:15px;margin-top:5px;list-style-type:none;font-size:100%;}
#siteIndex ul.secondary li {margin-left:15px;list-style-type:disc;font-size:11px;}
#siteIndex ul.tertiary li {margin-left:15px;list-style-type:circle;}
#siteIndex ul.quaternary li {margin-left:15px;list-style-type:square;}

/*list styles */
ul.policy li {margin:0 5px 5px 30px;}
ul.linkList li {list-style-image: url(../images/arrows/blue.gif)/*tpa=http://www.cablevision.com/images/arrows/blue.gif*/;margin:0 0 6px 25px;font-size:90%;}
ul.list li {list-style-type:disc;margin-left:20px;font-size:100%;text-align:left;}
ul.newsList li {list-style-type:disc;margin-left:20px;margin-bottom:10px;text-align:left;}
ul.listSpace li {list-style-type:disc;margin-left:25px;font-size:100%;padding:0 0 12px 0;}
ul.accessQa {background-color:#f0f0f0;padding:10px;}
ul.accessQa li {list-style-image: url(../images/arrows/double_blue_graybg.gif)/*tpa=http://www.cablevision.com/images/arrows/double_blue_graybg.gif*/;margin:0 0 5px 25px;}
ul.jobFair li {float:left;list-style-type:none;margin:0 20px 0 0;padding:0 0 20px 0;}
ul.jobFair li.lastJob {margin:0;}
ol.policy li {list-style-type:lower-alpha;margin:0 5px 5px 30px;}
ol.policyNum {margin:0 5px 5px 30px;}
ol.listSpace {margin-bottom:12px;margin-left:30px}
ol.listSpace li {font-size:100%;padding:5px 5px 5px 0}
ol.num {padding:10px 0 12px 0;border-top:4px solid #1069ab;position:relative;top:-6px}
ol.num li {list-style-type:none;background-repeat: no-repeat;background-position: 0 .45em;padding:5px 0px 10px 30px;line-height:1.5em;color:#000}
ol.ua li {list-style-type:upper-alpha;margin:6px 0 6px 29px;}

ul.footer li a {font-size:95%;}

ul.horizontal li,
ul.footer li {display:inline;float:left;list-style-type:none;}
ul.footer li {width:148px;}

/*links*/
.indentLink {padding-left:93px;}
.indentLink a {color:#6d961c;font-size:90%;}

a.green {color:#6d961c;font-size:90%;}

a.blue {color:#0175ac;padding:0;margin:0;}

a {font-size:100%;color:#0175ac;font-weight:700;text-decoration:none}

a:hover {text-decoration:underline}

/*investor resources box*/
.invResources {padding-bottom:12px;position:relative;overflow:hidden;width:150px}
.invResources .icon {float:left;width:20px;}
.invResources .link {float:left;width:130px}

#fieldTechTable table {margin-bottom: 10px; width: 100%; padding: 0px; border-collapse: 0px;}
#fieldTechTable td.textLeft {border-left:1px solid #cdcdcd; border-bottom:1px solid #cdcdcd; padding: 3px; font-size: 90%; width:27%;}
#fieldTechTable td.textCenter {border-bottom:1px solid #cdcdcd; padding: 3px; font-size: 90%;}
#fieldTechTable td.textRight {border-right:1px solid #cdcdcd; border-bottom:1px solid #cdcdcd; padding: 3px; font-size: 90%;}
#fieldTechTable td.image {border-bottom:1px solid #cdcdcd; padding-top: 3px;}
#fieldTechTable td.header {border-top:1px solid #cdcdcd; border-left:1px solid #cdcdcd; border-right:1px solid #cdcdcd; padding: 5px; margin-bottom: 5px; text-align:center; font-weight: bold; color: #990000;background-color: #f2f2f2;}

/*careers*/
.quotesContainer {width:360px; background-color:#f8fcff; border:1px solid #3d85b7; padding:8px;margin-bottom:12px}
.quote {width:100%;position:relative;overflow:auto}
.leftQuote {margin-right:10px;width:21px;float:left}
.quoteBody {float:left;width:295px}
.rightQuote {float:left;margin-left:10px;width:21px;vertical-align:bottom}

	/*
 * jQuery Nivo Slider v2.3
 * http://nivo.dev7studios.com
 *
 * Copyright 2010, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * March 2010
 */
 
 
/* The Nivo Slider styles */
.nivoSlider {position:relative;}
.nivoSlider img {position:absolute;top:0px;left:0px;}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {position:absolute;top:0px;left:0px;width:100%;height:100%;border:0;padding:0;margin:0;z-index:60;display:none;}
/* The slices in the Slider */
.nivo-slice {display:block;position:absolute;z-index:50;height:100%;}
/* Caption styles */
.nivo-caption {position:absolute;left:0px;bottom:0px;background:#000;color:#fff;opacity:0.8;width:100%;z-index:89;}
.nivo-caption p {padding:5px;margin:0;font-size:120%}
.nivo-caption a {color:white;display:inline !important;}
.nivo-html-caption {display:none;}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {position:absolute;top:45%;z-index:99;cursor:pointer;}
.nivo-prevNav {left:0px;}
.nivo-nextNav {right:0px;}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {text-align:center;position:relative;top:137px;left:249px}
.nivo-controlNav a {display:block;width:22px;height:22px;background:url(../images/slider/bullets.png)/*tpa=http://www.cablevision.com/images/slider/bullets.png*/ no-repeat;text-indent:-9999px;border:0;margin-right:3px;float:left;}
.nivo-controlNav a.active {background-position:0 -22px}
.nivo-controlNavHome {text-align:center;position:absolute;left:10px;top:5px;z-index:5000;font-size:0;padding:0;width:150px;height:22px}
.nivo-controlNavHome a {display:block;width:22px;height:22px;background:url(../images/slider/bullets.png)/*tpa=http://www.cablevision.com/images/slider/bullets.png*/ no-repeat;text-indent:-9999px;border:0;margin-right:3px;float:left;z-index:9999} 	
.nivo-controlNavHome a.active {background-position:0 -23px}

#slider {background:url(../images/slider/loader.gif)/*tpa=http://www.cablevision.com/images/slider/loader.gif*/ no-repeat 50% 50%;text-align:center}
#slider img {display:none;}
#slider a {display:block;}

