label {font-size:100%;font-weight:700;float:left;width:200px;position:relative;}
label.gray {background-color:#e2e2e2;}

label.slimform {width:75px;margin-top:2px;}

.acctform {width:150px;font-weight:normal;float:left;}

label.drop {float:none;width:400px;}

.dropDown {font-size:90%;}

.formField {margin-bottom:3px;border:0;clear:both;}
.acctField {padding:5px;border:0;clear:left;}
*html .acctField {clear:none;}

.infoField {width:145px;height:16px;}

.confirmField {padding:5px;border:0;clear:both;position:relative;width:400px;}
.confirmFieldGray {padding:5px;border:0;clear:both;background-color:#e2e2e2;position:relative;width:400px;}

.acctNo1 {width:40px;}
.acctNo2 {width:50px;}
.acctNo3 {width:30px;}

.phoneAc {width:30px;}
.phoneNum {width:40px;}

fieldset {border:0;width:400px;}

.redDot {color:#f00;font-weight:700;font-size:130%;}

.or {text-align:center;margin:10px 0 10px 0;font-weight:700;}

select,input {margin-right:3px;}

.checkbox {margin:3px 0 0 0;}

.radio {margin:0 3px 0 0;padding:0;}

.textField {margin-right:3px;height:16px;}

.zip {width:80px;}

.zipIntro {float:left;margin:5px 3px 0 0;color:#900;font-weight:bold;}
.zipBox {float:left;margin:2px 2px 0 0;}
*html .zipBox {margin:1px 2px 0 0;}
.goButton {float:left;margin-left:3px;}

.storeSearch {width:100px;height:15px;}

/*Username and password login*/

.upass {margin-top:5px;}

.upass input.submit {margin:3px 0 3px 125px;}

.upass .remember {margin-left:48px;font-size:90%;}

.upass a {color:#0175ac;}

.upass input.password {
	margin-left:1px;
}

.forgot a {
	color:#0175ac;
}

.username, .password {
	width:110px;
	height:16px;
}

/*-------------*/

.searchField {width:143px;height:15px;margin:8px 3px 0 3px;}

.csSearch {width:200px;}

.label2 {padding:3px 3px 0 0;font-size:1.0em;color:#900;font-weight:700;}

.svodRadio {float:left;width:30px;padding-top:10px;}

.svodTitle {float:left;margin-right:20px;padding-top:10px;}

.svodLogo {float:left;width:125px;}

.continue {width:400px;text-align:right;margin:15px 0 15px 0;}

.fieldNote {font-size:90%;margin:-2px 0 3px 205px;}