 
 
 
 

 

body {
	position: inherit;
	display:block;
	background-image: url("../../../../../../../../../../../../../../../../themes/html/LabcorpThemeV1/images/backgrounds/bg_grayBody.gif")/*tpa=https://www.labcorp.com/wps/themes/html/LabcorpThemeV1/images/backgrounds/bg_grayBody.gif*/;
	background-repeat: repeat-x;
	background-color: #e1e1e1;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	text-align:left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

img {
	border-style: none;
	border-width: 0px;
}

hr {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 0px;
border-style: solid none none none;
border-top: thin solid #CCCCCC;
border-right: none;
border-bottom: none;
border-left: none;
margin: 0px;
padding: 0px;
}

table {
	border-style:none;
	border-collapse:collapse;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

th {
	border-style:none;
	border-collapse:collapse;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

td {
	border-style:none;
	border-collapse:collapse;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}


input, textarea, button, select {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px; 
	color: #666666;
}
pre {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
} 
span, p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 1.5;
}

H1 { /*Primarily Used for Page Titles*/
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px; 
	font-weight: bold;
	color: #305ea0; 
	margin: 0px;
	padding: 0px;
	background: none;
	line-height: 28px;
}
H2 {/*Primarily Used as Topic Header*/
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 17px; 
	font-weight: normal;
	color: #000000; 
	margin: 0px;
	padding: 0px;
	background: none;
	line-height: 36px;
}

H3 {/*Primarily Used for Portlet Title*/ 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px; 
	font-weight: bold;
	color: #000000; 
	margin: 0px;
	padding: 0px;
	background: none;
	line-height: 24px;
}
H4 {/*Primarily Used for SubTopic Head*/ 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px; 
	font-weight: bold;
	color: #000000; 
	margin: 0px;
	padding: 0px;
	background: none;
	line-height: 20px;
}
H5 {/*Primarily Used for Caption Header*/
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px; 
	font-weight: bold;
	color: #000000; 
	margin: 0px;
	padding: 0px;
	background: none;
	line-height: 14px;
}

ul {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin-top: auto;
	line-height: 1.75em;
}

li {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	list-style-type: disc;
	line-height: 1.75em;
}

dt {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000; 
	margin: 0px;
	padding: 0px;
	background: none;
	line-height: 50px;
}
form {
width: inherit;
margin: 0px;
padding: 0px;
}
	
#pgContainer {
	display:block;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 988px;
	height: 100%;
	background-color: #aaaaaa;
	padding: 0px;
	margin:auto;
	border-style: none solid solid solid;
	border-width: 2px 2px;
	border-color: #CCCCCC;
	text-align: center;
}

#main_content_holder {
	position:relative;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	display: block; 
	width: 988px;
	height: 100%;
	background: #FFFFFF;
	padding: 0px;
	text-align:left;
	border-style: none;
	border-width: 0px;
}
#main_holder {
	position:relative;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	display: block; 
	width: 988px;
	height: 100%;
	background: #FFFFFF;
	padding: 0px;
	text-align:left;
	border-style: none;
	border-width: 0px;
}

#contentArea {
	display: block;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 988px;
	height: 100%;
	background-color: #ffffff;
	margin: 0px;
	padding: 0px;
	clear: both;
	text-align:left;
	border-style: none;
	border-width: 0px;
}




a {
	color: #305ea0;
	text-decoration: underline;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
}

a:link {
	color: #305ea0;
	text-decoration: underline;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
}  

a:visited {
	color: #666666;
	text-decoration: underline;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
}

a:hover {
	color: #305ea0;
	text-decoration: none;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
} 

a:active {
	color: #666666;
	text-decoration: none;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
}   




#pageHeader {
position: relative;
display: block;
width: 988px;
height: 70px;
background-color: #ffffff;
background-image: url("../../../../../../../../../../../../../../../../themes/html/LabcorpThemeV1/images/backgrounds/bg_homeHeader.jpg")/*tpa=https://www.labcorp.com/wps/themes/html/LabcorpThemeV1/images/backgrounds/bg_homeHeader.jpg*/;
background-position: 0px 0px;
background-repeat: no-repeat;
margin: 0px;
padding: 0px;
clear: both;
text-align:left;
border-top:0px;
border-bottom: 0px;
border-left:0px;
border-right: 0px;
border-style: none;
border-width: 0px;
font-family:Verdana, Arial, Helvetica, sans-serif;
}

#logoHolder {
position: relative;
display: block;
width: 205px;
height: 70px;
border-style: none;
border-width: 0px;
margin: 0px;
padding: 0px;
float: left;
}  

.companyLogo {
display: block;
border-style: none;
border-width: 0px;
margin: 0px;
padding: 0px;
}

#smTopMenuHolder {
position: relative;
display: block;
padding-right: 13px;
text-align: right;
width: 770px;
height: 70px;
float: left;
font-family:Verdana, Arial, Helvetica, sans-serif;
border-style: none;
border-width: 0px;
} 

#smTopMenu {
	margin: 0px;
	padding: 0px;
	padding-right: 25px;
	padding-top: 10px;
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
	text-align:right;
}
#accessibilityMenu {
	margin: 0px;
	padding: 0px;
	padding-right: 25px;
	padding-top: 0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	border-style: none;
	text-align:right;
}
#accessibilityMenu img {
	margin: 0px;
	padding: 0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	border-style: none;
}

#smTopMenu a {
font-family: Verdana, Arial, Helvetica, sans-serif;
margin: 7px;
color: #305EA0;
font-size: 10px;
text-transform: uppercase;
text-decoration: none;
font-weight: normal;
}  

#smTopMenu a:link {
font-family: Verdana, Arial, Helvetica, sans-serif;
margin: 7px;
color: #305EA0;
font-size: 10px;
text-transform: uppercase;
text-decoration: none;
font-weight: normal;
}  

#smTopMenu a:hover {
font-family:Verdana, Arial, Helvetica, sans-serif;
margin: 7px;
color: #a5beca;
font-size: 10px;
text-transform: uppercase;
text-decoration: none;
font-weight: normal;

} 
#smTopMenu a:active {
font-family:Verdana, Arial, Helvetica, sans-serif;
margin: 7px;
color: #a5beca;
font-size: 10px;
text-transform: uppercase;
text-decoration: none;
font-weight: normal;
}   

.smMenuSeparator {
color: #bcd4ec; 
width: 1px;  
font-size: 12px;
}

#smTopMenu a.homeActive {
font-family:Verdana, Arial, Helvetica, sans-serif;
margin: 7px;
color: #a5beca;
font-size: 10px;
text-transform: uppercase;
text-decoration: none;
font-weight: normal;
}  

#smTopMenu a.homeActive:hover {
font-family:Verdana, Arial, Helvetica, sans-serif;
margin: 7px;
color: #829eac;
font-size: 10px;
text-transform: uppercase;
text-decoration: none;
font-weight: normal;
} 

#smTopMenu a.homeActive:active {
font-family:Verdana, Arial, Helvetica, sans-serif;
margin: 7px;
color: #829eac;
font-size: 10px;
text-transform: uppercase;
text-decoration: none;
font-weight: normal;
}   




#footer {
	display: block;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	width: 988px;
	height: 100px;
	margin: auto;
	padding: 0px;
	color: #666666;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	clear: both;
}

#footer p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

#footer div {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.copyright {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
	width: 988px;
	color: #666666;
	text-align: center;
	margin-top: 0px;
	padding-top: 10px;
}



a.footerLink {
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #305ea0;
	text-decoration: underline;
	font-weight: normal;
}

a.footerLink:link {
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #305ea0;
	text-decoration: underline;
	font-weight: normal;
}

a.footerLink:active {
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
	text-decoration: none;
	font-weight: normal;
}

a.footerLink:visited {
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
	text-decoration: underline;
	font-weight: normal;
}

a.footerLink:hover {
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #305ea0;
	text-decoration: none;
	font-weight: normal;
}

/*declare default behavior*/
#topNav {
display:block;
background-color: #ffffff;
height: 32px;
width: 988px;
}
#navTabs {
position:relative;
/*display: none;*/
display:block;
	width: 100%;
	background: url("../../../../../../../../../../../../../../../../themes/html/LabcorpThemeV1/images/backgrounds/bg_subnav.gif")/*tpa=https://www.labcorp.com/wps/themes/html/LabcorpThemeV1/images/backgrounds/bg_subnav.gif*/ top left repeat-x;
	border:0px;
	white-space:nowrap;
	margin:0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	height:32px;
	font-family: Verdana, Arial, Sans-Serif;
font-size: 12px;
border:1px solid #666666;
border-left:0;
border-right:0;
z-index: 99999;
}

#navTabs ul {
position:relative;
display:block;
float:left;
list-style:none;
list-style-position:outside;
background: url("../../../../../../../../../../../../../../../../themes/html/LabcorpThemeV1/images/backgrounds/bg_subnav.gif")/*tpa=https://www.labcorp.com/wps/themes/html/LabcorpThemeV1/images/backgrounds/bg_subnav.gif*/ top left repeat-x;
white-space:nowrap;
height: 32px;
top:0px;
left:0px;
width: auto;
margin:0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
z-index: auto;
font-family: Verdana, Arial, Sans-Serif;
font-size: 12px;
}

#navTabs li {
position:relative;
display:block;
width: auto;
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
background: url("../../../../../../../../../../../../../../../../themes/html/LabcorpThemeV1/images/backgrounds/bg_subnav.gif")/*tpa=https://www.labcorp.com/wps/themes/html/LabcorpThemeV1/images/backgrounds/bg_subnav.gif*/ top left repeat-x;
float:left;
z-index:auto;
height:32px;
text-align: left;
border:0px;
white-space:nowrap;
font-family: Verdana, Arial, Sans-Serif;
font-size: 12px;
}

#navTabs a {
display:block;
margin:0px 0px 0px 0px;
padding: 7px 5px 3px 5px;
width: auto;
height:20px;
background: url("../../../../../../../../../../../../../../../../themes/html/LabcorpThemeV1/images/backgrounds/bg_subnav.gif")/*tpa=https://www.labcorp.com/wps/themes/html/LabcorpThemeV1/images/backgrounds/bg_subnav.gif*/ top left repeat-x;
color:#555555;
float:left;
white-space:normal;
text-decoration:none;
text-align:center;
border:1px solid #CCCCCC;
font-family: Verdana, Arial, Sans-Serif;
font-size: 12px;
}


#navTabs a:hover {
display:block;
margin:0px 0px 0px 0px;
padding: 7px 5px 3px 5px;
width: auto;
height:20px;
background: #EEEEEE top left repeat-x !important;
background-color:#EEEEEE !important;
color:#000000 !important;
font-weight:normal !important;
float:left;
white-space:normal;
text-decoration:none;
text-align:center;
border:1px solid #CCCCCC !important;
font-family: Verdana, Arial, Sans-Serif;
font-size: 12px;
}

#navTabs a:active {
display:block;
margin:0px 0px 0px 0px;
padding: 7px 5px 3px 5px;
width: auto;
height:20px;
background:#000000;
background-color:#000000;
color:#FFFFFF;
float:left;
white-space:normal;
text-decoration:none;
text-align:center;
border:1px solid #CCCCCC;
font-family: Verdana, Arial, Sans-Serif;
font-size: 12px;
}
#navTabs a:visited {
display:block;
margin:0px 0px 0px 0px;
padding: 7px 5px 3px 5px;
width: auto;
height:20px;
background: url("../../../../../../../../../../../../../../../../themes/html/LabcorpThemeV1/images/backgrounds/bg_subnav.gif")/*tpa=https://www.labcorp.com/wps/themes/html/LabcorpThemeV1/images/backgrounds/bg_subnav.gif*/ top left repeat-x;
color:#555555;
float:left;
white-space:normal;
text-decoration:none;
text-align:center;
border:1px solid #CCCCCC;
font-family: Verdana, Arial, Sans-Serif;
font-size: 12px;
}
/*end default declarations*/

/*1st Level drop down Menu*/
#navTabs ul ul {
position:absolute;
display:block;
margin:0px 0px 0px 0px;
margin-left:0px;
background-color:#FFFFFF;
padding: 0px 0px 0px 0px;
top:32px;
left:0px;
z-index:200;
width:150px;
height:auto;
visibility:hidden;
border-top: 1px solid #000000;
border-bottom: 1px solid #000000;
}
#navTabs ul ul li  {
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
width:100%;
height: 100%;
z-index:auto;
}

#navTabs ul ul li a {
display:block;
margin:0px 0px 0px 0px;
padding: 7px 5px 5px 5px;
width: 140px;
height:100%;
background: #FFFFFF;
background-color:#FFFFFF;
color:#555555;
float:left;
white-space:normal;
text-decoration:none;
text-align:left;
border-top:0;
border-bottom:1px solid #999999;
}

#navTabs ul ul li a:hover {
display:block;
margin:0px 0px 0px 0px;
padding: 7px 5px 5px 5px;
width: 140px;
height:100%;
background: #EEEEEE top left repeat-x !important;
background-color:#CCCCCC !important;
color:#000000 !important;
font-weight:normal !important;
float:left;
white-space:normal;
text-decoration:none;
text-align:left;
border-top:0 !important;
border-bottom:1px solid #999999 !important;
}

#navTabs ul ul li a:active {
display:block;
margin:0px 0px 0px 0px;
padding: 7px 5px 5px 5px;
width: 140px;
height:100%;
background: #FFFFFF;
background-color:#FFFFFF;
color:#000000;
float:left;
white-space:normal;
text-decoration:none;
text-align:left;
border-top:0;
border-bottom:1px solid #999999;
}
#navTabs ul ul li a:visited {
display:block;
margin:0px 0px 0px 0px;
padding: 7px 5px 5px 5px;
width: 140px;
height:100%;
background: #FFFFFF;
background-color:#FFFFFF;
color:#555555;
float:left;
white-space:normal;
text-decoration:none;
text-align:left;
border-top:0;
border-bottom:1px solid #999999;
}


/*2nd Level drop down Menu*/
#navTabs ul ul ul  {
position:absolute;
display:block;
margin:0px 0px 0px 0px;
margin-left:0px;
background-color:#FFFFFF;
padding: 0px 0px 0px 0px;
top:0px;
left:150px;
width:152px;
height:auto;
z-index:300;
visibility:hidden;
}

#navTabs ul ul ul li  {
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
width: 100%;
height: 100%;
z-index:auto;
}

#navTabs ul ul ul li a {
display:block;
margin:0px 0px 0px 0px;
padding: 7px 5px 5px 5px;
width: 140px;
height:100%;
background: #FFFFFF;
background-color:#FFFFFF;
color:#555555;
float:left;
white-space:normal;
text-decoration:none;
text-align:left;
border-top:0;
border-bottom:1px solid #999999;
}

#navTabs ul ul ul li a:hover {
display:block;
margin:0px 0px 0px 0px;
padding: 7px 5px 5px 5px;
width: 140px;
height:100%;
background: #EEEEEE top left repeat-x !important;
background-color:#CCCCCC !important;
color:#000000 !important;
font-weight:normal !important;
float:left;
white-space:normal;
text-decoration:none;
text-align:left;
border-top:0 !important;
border-bottom:1px solid #999999 !important;

}

#navTabs ul ul ul li a:active {
display:block;
margin:0px 0px 0px 0px;
padding: 7px 5px 5px 5px;
width: 140px;
height:100%;
background: #FFFFFF;
background-color:#FFFFFF;
color:#000000;
float:left;
white-space:normal;
text-decoration:none;
text-align:left;
border-top:0;
border-bottom:1px solid #999999;

}
#navTabs ul ul ul li a:visited {
display:block;
margin:0px 0px 0px 0px;
padding: 7px 5px 5px 5px;
width: 140px;
height:100%;
background: #FFFFFF;
background-color:#FFFFFF;
color:#555555;
float:left;
white-space:normal;
text-decoration:none;
text-align:left;
border-top:0;
border-bottom:1px solid #999999;
}

/*3rd Level drop down Menu*/
#navTabs ul ul ul ul  {
position:absolute;
display:block;
margin:0px 0px 0px 0px;
margin-left:0px;
background-color:#FFFFFF;
padding: 0px 0px 0px 0px;
width:151px;
height:auto;
top:0px;
left:150px;
height:auto;
z-index:400;
visibility:hidden;
}
#navTabs ul ul ul ul li  {
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
width: 100%;
height: 100%;
z-index:auto;
}
#navTabs ul ul ul ul li a {
display:block;
margin:0px 0px 0px 0px;
padding: 7px 5px 5px 5px;
width: 140px;
height:100%;
background: #FFFFFF;
background-color:#FFFFFF;
color:#555555;
float:left;
white-space:normal;
text-decoration:none;
text-align:left;
border-top:0;
border-bottom:1px solid #999999;
}

#navTabs ul ul ul ul li a:hover {
display:block;
margin:0px 0px 0px 0px;
padding: 7px 5px 5px 5px;
width: 140px;
height:100%;
background: url("../../../../../../../../../../../../../../../../themes/html/LabcorpThemeV1/images/backgrounds/bg_subnav.gif")/*tpa=https://www.labcorp.com/wps/themes/html/LabcorpThemeV1/images/backgrounds/bg_subnav.gif*/ top left repeat-x;
background: #EEEEEE top left repeat-x !important;
background-color:#CCCCCC !important;
color:#000000 !important;
font-weight:normal !important;
float:left;
white-space:normal;
text-decoration:none;
text-align:left;
border-top:0 !important;
border-bottom:1px solid #999999 !important;

}

#navTabs ul ul ul ul li a:active {
display:block;
margin:0px 0px 0px 0px;
padding: 7px 5px 5px 5px;
width: 140px;
height:100%;
background: #FFFFFF;
background-color:#FFFFFF;
color:#000000;
float:left;
white-space:normal;
text-decoration:none;
text-align:left;
border-top:0;
border-bottom:1px solid #999999;

}
#navTabs ul ul ul ul li a:visited {
display:block;
margin:0px 0px 0px 0px;
padding: 7px 5px 5px 5px;
width: 140px;
height:100%;
background: #FFFFFF;
background-color:#FFFFFF;
color:#555555;
float:left;
white-space:normal;
text-decoration:none;
text-align:left;
border-top:0;
border-bottom:1px solid #999999;
}
 



  
        
 

.help {
	font-size: 90%; COLOR: #000000; font-family: Verdana, Arial, Helvetica, sans-serif;
}
.help_indent {
	font-size: 90%; COLOR: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff;
}
A.help {
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 90%; COLOR: #3366CC;
}
A.help:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 90%; COLOR: #666699;
}
A.help:active {
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 90%; COLOR: #3366CC;
}
A.help:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 90%; COLOR: #3366CC;
}
H2.help {
	PADDING-left: 8px; font-weight: bold; font-size: normal; COLOR: #000000; PADDING-TOP: 22px; BORDER-BOTTOM: 1px solid #B0B0B0; HEIGHT: 16px; BACKGROUND-COLOR: #F0F0F0; TEXT-ALIGN: left;
}
H3.help {
	font-size: normal; PADDING-left: 8px; font-weight: bold; PADDING-TOP: 3px; HEIGHT: 20px; BACKGROUND-COLOR: #F0F0F0;
}
H3 A.help {
	font-size: normal; COLOR: #000000; BACKGROUND-COLOR: #F0F0F0; TEXT-DECORATION: none;
}
H4.help {
	PADDING-left: 8px; MARGIN: 16px 20px 0px 20px; COLOR: #000000; PADDING-TOP: 3px; HEIGHT: 20px; BACKGROUND-COLOR: #F0F0F0; TEXT-ALIGN: left;
}
H4 A.help {
	font-weight: normal; font-size: 90%; COLOR: #000000; font-style: italic; BACKGROUND-COLOR: #F0F0F0;
}
P.help {
	PADDING-BOTTOM: 0px; MARGIN: 2px 20px 0px 30px; PADDING-TOP: 4px;
}
P.help_indent {
	PADDING-BOTTOM: 0px; MARGIN: 2px 20px 0px 0px; PADDING-TOP: 4px;
}
UL.help {
	MARGIN-left: 56px; MARGIN-right: 20px;
}
OL.help {
	MARGIN-left: 56px; MARGIN-right: 20px;
}
DL.help {
	MARGIN-left: 56px; MARGIN-right: 20px;
}
PRE.help {
	MARGIN-left: 30px; font-family: monospace;
}
DT A.help {
	FONT-WEIGHT: 900; COLOR: #000000;
}
DD.help {
	PADDING-BOTTOM: 20px; PADDING-TOP: 2px;
}
LI.help {
	PADDING-BOTTOM: 2px; PADDING-TOP: 2px;
}
TABLE.help {
	PADDING-right: 20px; PADDING-left: 30px; MARGIN-left: 28px;
}
TH.help {
	TEXT-ALIGN: center; PADDING-TOP: 5px; PADDING-BOTTOM: 5px; VERTICAL-ALIGN: top;
}
TD.help {
	PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; PADDING-TOP: 3px; TEXT-ALIGN: left;
}
samp {
    font-size: normal;
}

TABLE.dataTable {
	color              : black; 
	width              : 90%;
	border-collapse    : collapse;
	border-color	   : Black;
	background-color   : white;  
	MARGIN-left  : 28px;
}
.dataTable TH {
   font-weight: bold;
   font-size			: 0.7em;
   color                : black; 
   background-color  	: #F0F0F0;  
	
}
 
 



  
        
 

.wpsPortletBody {
	width: 100%;
	padding: 0px;
	margin: 0px;
	border-style: none;
	border-collapse: collapse;
	overflow: hidden;
}

.leftCol {
	position: relative;
	display: block;
	border-top-style: solid;
	border-top: 7px solid #305ea0;
	width: 180px;
	margin: 10px 0px 10px 13px;
	padding: 10px 5px 10px 5px;
	background: url("../../../../../../../../../../../../../../../../themes/html/LabcorpThemeV1/images/backgrounds/bg_portletGray.gif")/*tpa=https://www.labcorp.com/wps/themes/html/LabcorpThemeV1/images/backgrounds/bg_portletGray.gif*/ top left no-repeat;
}

.centerCol {
	position: relative;
	display: block;
	width: 552px;
	border-top-style: solid;
	border-top: 7px solid #305ea0;
	margin: 10px 15px 10px 15px;
	padding: 10px 0px 10px 0px;
	background: #FFFFFF;
}

.rightCol {
	position: relative;
	display: block;
	width: 180px;
	border-top-style: solid 7px #c0c0c0;
	margin: 10px 13px 10px 0px;
	padding: 10px 5px 10px 5px;
	background: url("../../../../../../../../../../../../../../../../themes/html/LabcorpThemeV1/images/backgrounds/bg_portletGray.gif")/*tpa=https://www.labcorp.com/wps/themes/html/LabcorpThemeV1/images/backgrounds/bg_portletGray.gif*/ top left no-repeat;

}
.blueBarSkin {
	width:752px;
	border-top-style: 7px solid #305ea0;
	margin: 0px 10px 10px 0px;
	margin-right: 10px;
	background: url("../../../../../../../../../../../../../../../../themes/html/LabcorpThemeV1/images/backgrounds/bg_portletGray.gif")/*tpa=https://www.labcorp.com/wps/themes/html/LabcorpThemeV1/images/backgrounds/bg_portletGray.gif*/ top left no-repeat;
}
.grayBarSkin {
	border-top-style: solid 7px #c0c0c0;
	width: 184px;
	font-family: Arial;
	margin: 0px 0px 10px 0px;
	padding: 0px 8px 0px 8px;
	background: url("../../../../../../../../../../../../../../../../themes/html/LabcorpThemeV1/images/backgrounds/bg_portletGray.gif")/*tpa=https://www.labcorp.com/wps/themes/html/LabcorpThemeV1/images/backgrounds/bg_portletGray.gif*/ top left no-repeat;
}

.grayBarSkin h3 {
	color: #000000;
	margin: 5px 0px 0px 0px;
	font-family: Arial;
	font-size: 15px;
}
.grayBarSkin h5 {
	margin: 0px 0px 0px 0px;
	font-family: Arial;
	font-size: 10px;
	color: #999999;
	}
.grayBarSkin Form {
	margin-top: 0px; 
	}


.FindALabForm {
	position: relative;
	display: block;
	clear: both;
	float: none;
}

.FindALabBg {
	width:100%; 
	height:36px;
	background-color:#CCCCCC;
	background-image: url("../../../../../../../../../../../../../../../../themes/html/LabcorpThemeV1/images/backgrounds/bg_FindALabBar.gif")/*tpa=https://www.labcorp.com/wps/themes/html/LabcorpThemeV1/images/backgrounds/bg_FindALabBar.gif*/;
	background-repeat: repeat-y;
	padding: 0px 5px 0px 5px;
	margin: 5px 0px 10px 0px;
	clear: both;
}

.addPadTop { 
display: block;
padding-top: 5px;
}


