@charset "utf-8";
/* CSS Document */

body {
color:#000000;
font-family:"Times New Roman", Times, serif;
}
a {
	color: #000000;
	text-decoration: underline;
}
#image{background-image:none}
#header{display:none}
#dateBar{display:none}
#mainNav{display:none}
#subNav{display:none}
#footer{display:none}
#bottomBorder{display:none}
#footerLinks{display:none}

#printHeader{
margin-bottom: 50px;
}

#printLogo {
	text-align: center;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
}
#printLeft {
	color: #666666;
	text-align: left;
	font-size: 10pt;
	width: 300px;
	float: left;
	padding-bottom: 50px;
}
#printRight {
	font-size: 10pt;
	color: #666666;
	text-align: right;
	width: 300px;
	float: right;
	padding-bottom: 50px;
}
#printFooter {
	text-align: center;
	border-top-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	padding-top: 20px;
	font-size: 10pt;
	color: #666666;
	clear: both;
	margin-top: 50px;
}
#text {
	margin-right: auto;
	margin-left: auto;
	padding-top: 75px;
	padding-bottom: 25px;
}
#text h1 {
	font-size: 25px;
}
#text p {
	font-size: 12px;
}

/*-----------------------------*/
/*>>>>>>>>>>> PODS <<<<<<<<<<<<*/
/*-----------------------------*/
#pods{
	margin-left:20px;
	padding-bottom: 5px;
	padding-top: 20px;
	text-align: left;
}
#pods h1 {
	font-size: 12px;
	text-transform: uppercase;
	color: #666666;
	margin-top: 8px;
	margin-bottom: 0px;
}
#pods p {
	color: #000000;
	margin-top: 5px;
	margin-bottom: 0px;
	font-size: 12px;
}
#pods a {
	color: #000000;
	text-decoration:none;
	font-size: 12px;
}
#pods a:hover {color: #6173A2;text-decoration:none;}
#pods img {
	float: left;
	padding-right: 10px;
	display: none;
}
#podLink {
	text-transform: uppercase;
	margin-left: 30px;
	font-weight: bold;
	margin-top: 5px;
	padding-right: 10px;
	background-image:url(Unknown_83_filename)/*tpa=http://www.mgmresorts.com/images/home/pod_link_background.jpg*/;
	background-repeat: no-repeat;
	background-position:right;
	text-align: right;
}
#pod1 {
	height: 118px;
	width: 223px;
	float: left;
	padding-right: 10px;
	display: inline;
	margin-left: 0px;
	padding-left: 0px;
}

#pod2 {
	height: 118px;
	width: 223px;
	background-repeat: repeat-x;
	float: left;
	padding-right: 10px;
}

#pod3 {
	height: 118px;
	width: 223px;
	float: left;
	padding-right: 10px;
}
#pod4 {
	height: 118px;
	width: 223px;
	float: left;
	padding-right: 10px;
}
#flashcontent {
	display: none;
}
#mainNav {
	display: none;
	}
.bookgui {
	display: none;
	}#image img {
	display: none;
}
#overlay {
	margin-top: 50px;
}
#contentTop h1 {
	font-size: 16px;
	width: 100%;
}
#podLink {
	display: none;
}
