@charset "utf-8";
/* CSS Document */



/*--------------------------------------------*/
/*>>>>>>>>>>> REDEFINED HTML TAGS <<<<<<<<<<<<*/
/*--------------------------------------------*/
body {
	background-color: #000000;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #CCCCCC;
}




/*--------------------------------------*/
/*>>>>>>>>>>> MAIN SECTIONS <<<<<<<<<<<<*/
/*--------------------------------------*/

#top {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	height: 380px;
	position: absolute;
	z-index: 1;	
}

#pods {
	border-top-style: none;
	border-bottom-style: none;
	width: 928px;
	padding-top: 15px;
	height: 130px;
	padding-left: 30px;
	border-left-color: #404655;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #404655;
	border-right-style: solid;
	border-right-width: 1px;
	display: block;
	margin-top: 0px;
}

#footer {
	width: 958px;
	margin-right: auto;
	margin-left: auto;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-right-color: #404655;
	border-left-color: #404655;
	clear: left;
	padding-top: 30px;
}

#mainNav {
	margin-top: 0px;
	margin-bottom: 20px;
	padding-left: 190px;
	z-index: 101;
	width: 580px;
	height: 10px;
	position: absolute;
	top: 100px;
	left: 0px;
}

#flashcontent {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #CCCCCC;
	text-align: center;
	height: 380px;
	margin-bottom: 0px;
	width: 958px;
}

#flashcontent img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#flashcontent p {
	margin-top: 200px;
}

/*-------------------------------*/
/*>>>>>>>>>>> HEADER <<<<<<<<<<<<*/
/*-------------------------------*/
#header {
	height: 37px;
	margin-top: 13px;
	background-image: url(../../images/shared/header-background.gif)/*tpa=http://www.mgmresorts.com/images/shared/header-background.gif*/;
	background-repeat: no-repeat;
	position: absolute;
	z-index: 955;
	left: 0px;
	top: 0px;
	width: 959px;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #404655;	
}
#header img {float: left;}

#header .login {
	font-weight: bold;
	padding-left: 20px;
}

#header .login {
	font-weight: bold;
	padding-left: 30px;
}
#printHeader{display:none}
#navContainer {
	width: 630px;
	float: none;
	margin-left: 320px;
	padding-top: 10px;
}

/*-------------------------------------*/
/*>>>>>>>>>>> datePicker <<<<<<<<<<<<<<*/
/*-------------------------------------*/
#dateBar {
	background-image: url(../../images/datepicker/datepicker_background.jpg)/*tpa=http://www.mgmresorts.com/images/datepicker/datepicker_background.jpg*/;
	background-repeat: no-repeat;
	width: 958px;
	height: 50px;
	position: absolute;
	top: 50px;
	left: 0px;	
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #404655;	
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #404655;	
}
#datePicker{
	margin: 0px 0px 0px 0px;
	padding: 8px 0px 0px 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;

	width: 740px;
}
#datePicker .bookgui {
	margin: 0px;	
}
.dateText{
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:8px;
	text-transform: uppercase;
}

.calendarEntry {
	background-color: #52453F;
	border-left:solid 1px #FFFFFF;
	border-top:solid 1px #FFFFFF;
	border-right:solid 1px #FFFFFF;
	border-bottom:solid 1px #FFFFFF;
	height:12px;
	padding: 1px 0px 0px 0px;
	width:67px;
	float:left;
	color:#FFFFFF;
	font-size:9px;
	font-family:Arial, Verdana, Serif, Sans-Serif;
	letter-spacing:0px;
	text-align:center;
	text-transform:lowercase;
}
.nightsEntry{
	background-color: #52453F;
	border-left:solid 1px #FFFFFF;
	border-top:solid 1px #FFFFFF;
	border-right:solid 1px #FFFFFF;
	border-bottom:solid 1px #FFFFFF;
	height:12px;
	padding: 1px 0px 0px 0px;
	width:20px;
	float:left;
	color:#FFFFFF;
	font-size:9px;
	font-family:Arial, Verdana, Serif, Sans-Serif;
	letter-spacing:0px;
	text-transform:lowercase;
	text-align: center;
}

.selectChoice {
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	display: inline;
}

.selectChoice:link {
	color:#FFFFFF;
	text-decoration:none;
	padding-right: 5px;
}

 .selectChoice:visited {
	color:#FFFFFF;
	text-decoration:none;
	background-color: #000000;
}

.selectChoice:active {
	color: #FFFFFF;
	background-color: #000000;
	text-decoration:none;
}
.selectChoice:hover {
	color: #6e7e98;
	background-color: #000000;
	text-decoration:none;
}

#selectnbGuest {
	background-color: #000000;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:8px;
	display:none;
	border-top:1px solid #FFFFFF;
	border-bottom:1px solid #FFFFFF;
	border-left:1px solid #FFFFFF;
	border-right:1px solid #FFFFFF;
	text-align:center;
	padding-left:2px;
	padding-right:2px;
	padding-bottom:3px;
	padding-top:3px;
	z-index:110;
	width: 18px;
	position:absolute;
	margin-left: 400px;
	margin-top: 18px;
	left: 110px;
	top: 60px;
}

#selectnbGuest a
{
	display:inline;
	padding-left: 3px;
	padding-right: 3px;
}

.bookgui fieldset {border: 0px; clear: both; margin-bottom: 3px; padding: 0;}
.bookgui label.date2{float: left; margin: 0 0 0 32px; text-align: right;}
.bookgui label.nights2{float: left; margin: 0; text-align: right;}

/* -- Dates --*/
.bookgui input.date2{
	float: left;
	margin-right: 0;
	padding-top: 4px;
	width: 80px;
	height:15px;
	font: normal 10px Arial, sans-serif;
	color:#666666;
	text-align:center;
	background-color: #FFFFFF;
	border: 0;
	background-image: url(../../images/datepicker/bookgui-date-input.jpg)/*tpa=http://www.mgmresorts.com/images/datepicker/bookgui-date-input.jpg*/;
}
button.bookgui {background: url(../../images/datepicker/bookgui-btn.gif)/*tpa=http://www.mgmresorts.com/images/datepicker/bookgui-btn.gif*/;border: 0; cursor: pointer; float: left; height: 20px; margin:0; width: 20px;}
button.bookgui:hover, button.bookgui.active {background-position: 0 20px;}

#nightsButton {background: url(../../images/datepicker/bookgui-btn.gif)/*tpa=http://www.mgmresorts.com/images/datepicker/bookgui-btn.gif*/;border: 0; cursor: pointer; float: left; height: 20px; margin:0; width: 20px;}
#nightsButton:hover, button.bookgui.active {background-position: 0 20px;}

/* -- Nights --*/
.bookgui input.nights2{
	border: 0;
	float: left;
	background: #000 url(../../images/datepicker/bookgui-nights-input.jpg)/*tpa=http://www.mgmresorts.com/images/datepicker/bookgui-nights-input.jpg*/;
	margin-right: 0;
	padding-top: 4px;
	width: 25px;
	height:15px;
	font: normal 10px Arial, sans-serif;
	color:#666666;
	text-align:center;
}
#BookGui .selectChoice {font-size: 11px;}
.displaybtn{visibility: visible;}

#selectNights {
	display: block;
	left: 41px;
	margin: 0px;
	position: relative;
	top: -4px;
}

#homemenu {z-index: 100; left: 0px; width: 24px; position: absolute; top:0px;}
#homemenu dl {padding: 0px; float: left; margin: 0px; width: 21px;}
#homemenu dt {padding: 0px; margin: 0px; border: #9c958e 1px solid; font-weight: bold; background: #000; cursor: pointer; text-align: center;}
#homemenu dd {border: #9c958e 1px solid; padding: 0px; margin: 0px;}
#homemenu ul {padding-right: 0px; padding-left: 0px; padding-bottom: 0px; margin: 0px; padding-top: 0px; list-style-type: none}
#homemenu li {font: normal 10px Arial, sans-serif; background: #000; text-align: center; list-style-type: none; line-height: 15px;}
#homemenu li a {border: 0px; display: block; color: #FFF; height: 100%; text-decoration: none; padding: 0px; margin: 0px;}
#homemenu dt a {border: 0px; display: block; color: #FFF; height: 100%; text-decoration: none}
#homemenu li a:hover{text-decoration: underline;}
#homemenu dt a:hover {text-decoration: underline;}

/* -- Calendar --*/
div.bookgui {background: url(../../images/datepicker/bookgui-bg.png)/*tpa=http://www.mgmresorts.com/images/datepicker/bookgui-bg.png*/;height: 175px;padding: 0 12px;text-align: center;width: 147px;}	
div.bookgui * { margin: 0; padding: 0;}	
div.bookgui div { background: none !important; cursor: move; height: 165px; overflow: hidden; padding-top: 10px; position: relative; width: 147px;}	

div.bookgui caption {color: #EEE;font: normal 12px/17px Arial, Helvetica, sans-serif;padding-top: 4px;text-align: center;width: 100%;}
div.bookgui caption a {cursor: pointer;display: block;height: 11px;overflow: hidden;position: absolute;text-indent: -100px;top: 16px;width: 11px;}
div.bookgui caption a.prev {background-image: url(../../images/datepicker/bookgui-prev.gif)/*tpa=http://www.mgmresorts.com/images/datepicker/bookgui-prev.gif*/;left: 1px;}
div.bookgui caption a.next {background-image: url(../../images/datepicker/bookgui-next.gif)/*tpa=http://www.mgmresorts.com/images/datepicker/bookgui-next.gif*/;right: 1px;}
div.bookgui caption a:hover {background-position: 0 11px;}
div.bookgui caption span {height: 25px;position: relative;text-align: center;}
div.bookgui caption span.month {padding-right: 8px;}
div.dashboard caption span.month:after {content: ',';}


div.bookgui table {border: 0;border-collapse: collapse;border-spacing: 0;cursor: default;margin: 0 auto;overflow: hidden;width: 147px;}
div.bookgui td, div.bookgui th {border: 0;color: #999;font: normal 12px Arial, Helvetica, sans-serif;height: 19px;text-align: center;width: 21px;}
div.bookgui td {color: #333;font-size: 11px;padding-right: 5px;text-align: right;width: 16px;}
div.bookgui td.invalid {color: #666;}
div.bookgui td.valid {color: #FFF;cursor: pointer;}
div.bookgui td.active, div.bookgui td.hover {color: #EEE;cursor: pointer;text-decoration: underline;}

/* -- Properties --*/
.bookgui label.properties2{float: left; margin: 0; text-align: right;}
.bookgui input.properties2{
	border: 0;
	float: left;
	background: #000 url(../../images/datepicker/bookgui-properties-input.jpg)/*tpa=http://www.mgmresorts.com/images/datepicker/bookgui-properties-input.jpg*/;
	margin-right: 0;
	padding-top: 4px;
	width: 100px;
	height:15px;
	font: normal 10px Arial, sans-serif;
	color:#666666;
	text-align:right;
	margin-left: 18px;
	padding-right: 3px;
}
#selectProperties {
	background-color: #000000;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	display:none;
	border-top:1px solid #FFFFFF;
	border-bottom:1px solid #FFFFFF;
	border-left:1px solid #FFFFFF;
	border-right:1px solid #FFFFFF;
	text-align:left;
	padding-left:2px;
	padding-right:2px;
	padding-bottom:3px;
	padding-top:3px;
	z-index:110;
	width: 125px;
	position:absolute;
	margin-left: 400px;
	margin-top: 15px;
	left: 173px;
	top: 60px;
}

#selectProperties a
{
	display:inline;
	padding-left: 3px;
	padding-right: 3px;
}

#propertiesButton {background: url(../../images/datepicker/bookgui-btn.gif)/*tpa=http://www.mgmresorts.com/images/datepicker/bookgui-btn.gif*/;border: 0; cursor: pointer; float: left; height: 20px; margin:0; width: 20px;}
#propertiesButton:hover, button.bookgui.active {background-position: 0 20px;}


/*-----------------------------*/
/*>>>>>>>>>>> PODS <<<<<<<<<<<<*/
/*-----------------------------*/
#pods h1 {
	font-size: 12px;
	text-transform: uppercase;
	margin-top: 8px;
	margin-bottom: 0px;
	color: #6E8098;
}
#pods p {
	color: #FFFFFF;
	margin-top: 5px;
	margin-bottom: 0px;
	font-size: 11px;
}
#pods a {color: #FFFFFF; text-decoration:none;}
#pods a:hover {color: #6173A2;text-decoration:none;}
#pods img {
	float: left;
	padding-right: 10px;
	border: 0px;
}
#podLink {
	text-transform: uppercase;
	margin-left: 30px;
	font-weight: bold;
	margin-top: 5px;
	padding-right: 10px;
	background-image:url(../../images/pods/pod_link_background.jpg)/*tpa=http://www.mgmresorts.com/images/pods/pod_link_background.jpg*/;
	background-repeat: no-repeat;
	background-position:right;
	text-align: right;
	float: right;
	margin-right: 5px;
}
#pod1 {
	height: 118px;
	width: 216px;
	float: left;
	background-image:url(../../images/pods/pod_background.jpg)/*tpa=http://www.mgmresorts.com/images/pods/pod_background.jpg*/;
	background-repeat: repeat-x;
	padding-right: 10px;
	display: inline;
}

#pod2 {
	height: 118px;
	width: 216px;
	background-image:url(../../images/pods/pod_background.jpg)/*tpa=http://www.mgmresorts.com/images/pods/pod_background.jpg*/;
	background-repeat: repeat-x;
	float: left;
	padding-right: 10px;
}

#pod3 {
	height: 118px;
	width: 216px;
	background-image:url(../../images/pods/pod_background.jpg)/*tpa=http://www.mgmresorts.com/images/pods/pod_background.jpg*/;
	background-repeat: repeat-x;
	float: left;
	padding-right: 10px;
}

#pod4 {
	height: 118px;
	width: 215px;
	background-image:url(../../images/pods/pod4_background.jpg)/*tpa=http://www.mgmresorts.com/images/pods/pod4_background.jpg*/;
	background-repeat: no-repeat;
	float: left;
	padding-right: 7px;
}


/*-------------------------------------*/
/*>>>>>>>>>>> Overlay <<<<<<<<<<<<*/
/*-------------------------------------*/

#overlay {
	width: 375px;
	margin-top: -230px;
	overflow: hidden;
	position: absolute;
	top: 379px;
	margin-left: 31px;
	left: 2px;
	background-image: url(../../images/shared/overlay.png)/*tpa=http://www.mgmresorts.com/images/shared/overlay.png*/;
	height: 212px;
	background-repeat: no-repeat;
}



/*-------------------------------------*/
/*>>>>>>>>>>> Stock Quotes <<<<<<<<<<<<*/
/*-------------------------------------*/

#stock {
	height: 230px;
	width: 860px;
	padding-left: 100px;
	margin-top: -230px;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
	position: absolute;
}

#stock iframe {
	margin-top: -90px; 
	height: 282px;
	_margin-top: -87px; /* for IE */
	_height: 280px;	 /* for IE */	
}


/*-------------------------------*/
/*>>>>>>>>>>> Footer <<<<<<<<<<<<*/
/*-------------------------------*/
#footerLinks {
	color: #565C70;
	font-size:10px;
	text-transform: uppercase;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0px;
	margin-bottom: 20px;
	text-align:center;
}

#footerLinks ul {
	list-style-type: none;
	margin: 20px 0px 20px 0px;
	padding: 0px;
}
#footerLinks li {
	display: inline;
	margin-right: 8px;
	border-left-color: #292C35;
	border-left-style: solid;
	border-left-width: 1px;
	padding-left: 8px;
}
#footerLinks .firstLI {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding-left: 0px;
}
#footerLinks a {
	color: #565C70;
	text-decoration: none;
}
#footerLinks a:hover {
	color: #9DA3B5;
	text-decoration: none;	
}
#bottomBorder {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	border: none;
}
#printFooter{
	display:none;
}

#landingLinks a {
	color: #565C70;
	text-decoration: none;
}
#landingLinks a:hover {
	color: #9DA3B5;
	text-decoration: none;	
}


/*-------------------------------*/
/*>>>>>>>>>>> Content <<<<<<<<<<<*/
/*-------------------------------*/
#content {
	background-repeat: no-repeat;
	background-position: top left;
	padding-top: 39px;
	background-image: url(../../images/shared/top-content.jpg)/*tpa=http://www.mgmresorts.com/images/shared/top-content.jpg*/;
	width: 958px;
	margin-right: auto;
	margin-left: auto;
	border-left-color: #404655;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #404655;
	border-right-style: solid;
	border-right-width: 1px;
}
#contentBorder {
	background-image: url(../../images/shared/bottom-content.jpg)/*tpa=http://www.mgmresorts.com/images/shared/bottom-content.jpg*/;
	background-repeat: no-repeat;
	background-position: top left;
	height: 62px;
	border-left-color: #404655;
	border-right-color: #404655;
	border-right-style: solid;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-width: 1px;
}
#text {
	background-image: url(../../images/shared/content.jpg)/*tpa=http://www.mgmresorts.com/images/shared/content.jpg*/;
	width: 958px;
	background-position: top left;
	background-repeat: repeat-y;
	overflow: hidden;
	color: #CCCCCC;
}
#text h1 {
	font-size: 20px;
	color: #727A95;
	font-weight: normal;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding-left: 70px;
	padding-top: 20px;
	padding-bottom: 10px;
	margin-top: 0px;
	width: 600px;
}
#text h2 {
	font-size: 16px;
	color: #727A95;
	font-weight: normal;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 600px;
	margin-left: 72px;
}
#text p {
	margin: 0px 0px 0px 0px;
	padding: 12px 0px 12px 110px;
	font-size: 12px;
	line-height: 24px;
	width: 448px;
}
#text ul {
	color:#CCCCCC;
	margin-left: 80px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	width: 400px;
	font-size: 14px;
	padding-left: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#text li {
	list-style-position: outside;
	font-size: 12px;
	line-height: 24px;
	padding-bottom: 10px;
}

#text .actionLink {
	color:#727A95;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding-bottom: 0px;
	text-align: right;
	width: 450px;
	padding-left: 200px;
}
#text .actionLink a {
	color:#FFFFFF;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-transform:uppercase;
	letter-spacing: 1px;	
}

#text .actionLink a:hover {
	color:#727A95;
	text-decoration: none;
}



/*-------------------------------*/
/*>>>>>>>>>>> subNav <<<<<<<<<<<<*/
/*-------------------------------*/
#subNav {
	float:right;
	width: 190px;
	padding-right: 10px;
	font-weight: bold;
}

#text p a {
	color:#727A95;
	text-decoration: none;
}
#text p a:hover {
	color:#FFFFFF;
	text-decoration: none;
}

#text ul ul ul {
	width: 300px;
	margin-top: 10px;
	padding: 0px;
	margin-left: 30px;
}
#text ul ul {
	padding: 0px;
	margin-top: 10px;
	margin-left: 30px;
}
#text h3 {
	font-weight: bold;
	margin-left: 110px;
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	line-height: 18px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	width: 500px;
	display: block;
}
.noBullets {
	list-style-type: none;
	padding-bottom: 0px;
}

#container {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}

#flash {
	width: 960px;
	position: absolute;
	z-index: 0;
	top: 0;
}
.borders {
	margin: 0px;
	padding: 0px;
}

.button {
	border: 1px solid #3F4251;
	line-height: 30px;
	padding-right: 10px;
	padding-left: 10px;
	text-decoration: none;
	margin-left: 75px;
	padding-top: 3px;
	padding-bottom: 3px;
	letter-spacing: 2px;
	background-image: url(../../images/navigation/pink-background.gif)/*tpa=http://www.mgmresorts.com/images/navigation/pink-background.gif*/;
	width: auto;
	font-weight: bold;
}
a.button {color: #FFFFFF;}
a.button:hover {color: #727A95;}

/*-----border------*/
.offersBorder {
	margin: 0px;
	padding: 0px;
	clear: both;
	width: 735px;
}
.offersRight img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding-left: 35px;
	padding-top: 10px;
}
#text .offersLeft h2 {
	width: 350px;
	margin-top: 5px;
	padding-top: 0px;
}
#text .offersLeft h1 {
	margin-bottom: 0px;
	padding-bottom: 0px;
	width: 400px;
}
#top form {
	margin: 0px;
	padding: 0px;
}
#header .qmparent img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	float: none;
}
#selectProperties span {
	display: block;
}

.white {
	color: #FFFFFF;
	text-decoration:none;
}

#image {
	background-image: url(../../images/shared/border-background.gif)/*tpa=http://www.mgmresorts.com/images/shared/border-background.gif*/;
	background-repeat: repeat-y;
}
#popText {
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	background-color: #FFFFFF;
	width: 100%;
	padding-right: 40px;
	padding-left: 40px;
	margin: 0px;
	padding-top: 20px;
}
#popText h1 {
	font-size: 16px;
	text-transform: uppercase;
	margin: 0px;
	padding: 20px 0px 20px 3px;
}
#popText p {
	font-size: 11px;
	line-height: 15px;
	margin: 0px 40px 0px 15px;
	padding: 5px 40px 0px 0px;
}
#popText h2 {
	font-size: 11px;
	padding: 20px 0px 0px 0px;
	margin: 0px;
}
#popText a {
	color: #204E73;
}
#popHeader {
	background-image: url(../../images/shared/pop-header.jpg)/*tpa=http://www.mgmresorts.com/images/shared/pop-header.jpg*/;
	height: 87px;
	margin: 0px;
	padding: 0px;
}
#popHeader img {
	margin-top: 0px;
	padding-top: 0px;
}
#text table {
	margin-left: 110px;
}
#text input {
	color: #FFFFFF;
	background-color: #000000;
	border: solid;
	border-width: 1px;
	border-top-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
	border-right-color: #FFFFFF;
}

.offer {
	background-color: #082228;
	border: 1px solid #174252;
	height: 85px;
	width: 600px;
	margin-left: 73px;
}
.offerText {
	height: 75px;
	float: left;
	width: 395px;
	padding-top: 10px;
}
.offerAction {
	float: left;
	width: 120px;
	height: 85px;
}
.offer img {
	float: left;
}
.offerText h1 {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#text .offer  h1 {
	color: #D18E3F;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
	font-weight: bold;
	display: block;
	width: 350px;
	line-height: 20px;
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
}
#text .offer  ul {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 40px;
	color: #FFFFFF;
	font-size: 11px;
	height: 20px;
	float: left;
	width: 150px;
}
#text .offer  li {
	line-height: 13px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#text .offer  p {
	font-size: 12px;
	line-height: 13px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
	width: 330px;
}
#text .offer .button {
	height: 29px;
	width: 120px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
	border: none;
	background-image: url(Unknown_83_filename)/*tpa=http://www.mgmresorts.com/includes/css/none*/;
}
#text .offerAction h1 {
	display: inline;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	color: #D18E3F;
	font-weight: normal;
	font-size: 35px;
	letter-spacing: 0px;
	line-height: 40px;
	height: 40px;
}

#text .offerAction h2 {
	display: inline;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 7px;
	padding-bottom: 0px;
	padding-left: 0px;
	color: #D18E3F;
	font-weight: normal;
	font-size: 12px;
	letter-spacing: 0px;
}
#text .offerAction sup {
	color: #D18E3F;
	font-size: 20px;
}
.offer .button img {
	line-height: 10px;
	letter-spacing: 0em;
	float: none;
	border: none;
	padding-top: 10px;
}
#text .offer .button a {
	background-image: none;
}
#overlay h1 {
	font-family: "Times New Roman", Times, serif;
	color: #B39356;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 1px;
}
#overlay p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #FFFFFF;
	width: 325px;
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
}
#overlay .overlayButton {
	text-align: right;
	display: block;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 0px;
	height: 22px;
	letter-spacing: 1px;
	background-image: url(../../images/shared/overlay-button.gif)/*tpa=http://www.mgmresorts.com/images/shared/overlay-button.gif*/;
	background-repeat: repeat;
	float: left;
	width: 365px;
}

#overlay a {color: #FFFFFF; text-decoration: none;}
#overlay a:hover {color: #6e7e98; text-decoration: none;}
#overlay a:active {color: #FFFFFF; text-decoration: none;}
#overlay a:visited {color: #FFFFFF; text-decoration: none;}
#overlay a:visited:hover {color: #6e7e98; text-decoration: none;}

#contentTop{
	height: 180px;
	width: 355px;
	float:left;
	overflow:hidden;
}
#contentTop p{
	margin: 10px 0px 10px 0px;
}
.clear{
	clear:both;
	height: 0px;
	font-size: 1px;
	line-height: 0px;
}			
.scrollbar-vert{
	background-color: #000000;
	height: 185px;
	width: 20px;
	float:left;
}
.handle-vert{
	height: 42px;
	width: 20px;
	background: url(../../images/shared/handle.gif)/*tpa=http://www.mgmresorts.com/images/shared/handle.gif*/
}

#highlights {
	background-color: #06191E;
	border: 1px solid #11313D;
	width: 550px;
	padding-top: 20px;
	padding-bottom: 10px;
	padding-right: 20px;
	padding-left: 20px;
	margin-left: 70px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#highlights h2 {
	margin: 0px;
	padding: 0px;
	width: 400px;
}

#highlights ul {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 40px;
}
#highlights li {
	padding-bottom: 5px;
}

.caption{
	font-style: italic;
	font-weight: bold;
}
#contentTop ul {
	color: #FFFFFF;
	width: 305px;
	list-style-type: disc;
}
#contentTop li {
	list-style-type: disc;
	list-style-position: outside;
	margin-left: 20px;
	margin-bottom: 3px;
}
#qm1 li {
	margin-top: 0px;
	margin-bottom: 0px;
}

#contentTop a {text-decoration: underline;}
#contentTop a:active {text-decoration: underline;}
#contentTop a:visited {text-decoration: underline;}
#contentTop a:hover {color: #FFFFFF; text-decoration: none;}

#popText form {
	margin: 0px;
	padding: 0px;
}
#popText blockquote p {
	width: 315px;
}
#sitemap ul {
	margin: 0px;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 10px;
}
#secondary li {font-weight: bold; font-size: 13px;}
#secondary ul li  {font-weight: normal; font-size:12px;}
#secondary .qmparent {font-weight: bold;}

#text .offersRight ul {
	font-size: 12px;
	margin-left: 0px;
	padding-left: 50px;
}

/*cleans up mainNav in Dreamweaver since ID is a variable*/
#top ul {display: none;}
#top #mainNav ul {display: block;}
#top #overlay ul {display: block;}
#top #footerLinks ul {display: block;}

#overlay  h2 {
	font-size: 14px;
	color: #B39356;
	padding-left: 20px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	font-family: "Times New Roman", Times, serif;
}
#popText td {
	font-size: 11px;
}
#popText ul {
	font-size: 11px;
	margin: 0px 50px 0px 0px;
	padding: 20px 50px 10px 40px;
}
#popText li {
	padding-bottom: 10px;
}
#popText h3 {
	font-size: 11px;
	padding-left: 15px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

#text .tableBorder {
	width: 560px;
	border: 1px solid #17181E;
	padding: 10px;
	margin-left: 90px;
}
#text .tableBorder h2{
	margin-left: 0px;
	width: auto;
	margin-bottom: 0px;
}
.bgText {
	font-weight: bold;
	font-size: 14px;
}
.bgRowOdd {
	background-color: #17181E;
}
.bgRowEven{
	background-color: #06131C;
}
#text td {
	padding: 5px;
}


.tableBorder a:link {color: #CCCCCC;}
.tableBorder a:active {color: #CCCCCC;}
.tableBorder a:visited {color: #CCCCCC;}
.tableBorder a:hover {color: #727A95;}

#text table{
	margin-left: 110px;
}
#text .tableBorder table{
	margin-left: 0px;
}
#text .actionLink {
	color:#727A95;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding-bottom: 0px;
	text-align: right;
	width: 450px;
	padding-left: 200px;
}
#text .actionLink a {
	color:#FFFFFF;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-transform:uppercase;
	letter-spacing: 1px;	
}

#text .actionLink a:hover {
	color:#727A95;
	text-decoration: none;
}
.whiteBorder {
	border: 1px solid #FFFFFF;
}
#text .tableBorder p {
	margin-left: 0px;
	padding-left: 0px;
	width: 500px;
}
.txtDisclaimer {
	font-size: 10px;
	margin-top: 10px;
}
#text .tableBorder h3 {
	width: auto;
	text-align: left;
	margin-left: 0px;
}
#text ul {
	display: block;
	padding-left: 60px;
	padding-top: 0px;
	margin-top: 0px;
}

#text a {color: #FFFFFF;}
#text a:hover {color: #727A95;}

#text a.subNavOff {color: #FFFFFF; width: 150px}
#text a.subNavOff:hover {color: #727A95;}	
#text a.subNavOn {color: #727A95; width: 180px}
#text a.subNavOn:hover {color: #727A95;}

#contentTop a.blue { color:#6E8098; font-weight:bold; text-decoration:none;}
#contentTop a.blue:hover { color:#FFFFFF}
#contentTop a.blue:visited { color:#6E8098; font-weight:bold; text-decoration:none;}
#contentTop a.blue:active { color:#6E8098; font-weight:bold; text-decoration:none;}

