body {
    font-family: 'Helvetica Neue', Arial, san-serif;
    background: #000;
}

body > .cet-content {
    background: #f9f2ea;
    color: #3f3d3b;
}

a {
    color: #968675;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: none;
}

.CETPageHeader {
    font-family: 'TeXGyreAdventor', Arial, sans-serif;
}

.CETPageHeader .CETLogin {
    color: #f8f2ea;
}

.CETPageHeader .cet-page-header {
    border-bottom: 6px solid #cbbeae;
    background: #141414;
}

.CETPageHeader .cet-page-header .cet-page-header-content a {
    color: #f8f2ea;
}

.CETPageHeader .cet-page-header .cet-page-header-content a:hover {
    color: #f8f2ea;
}

.CETPageHeader .cet-page-header .cet-page-header-content ul li .active-indicator {
    border-bottom-color: #cbbeae;
}

.CETPageHeader .cet-page-header-sub-links a {
    opacity: .5;
}

.CETPageHeader .cet-page-header-sub-links a:hover {
    opacity: 1;
}

.CETPageHeader .cet-page-header-main-links {
    font-weight: normal;
}

.CETPageHeader .cet-page-header-main-links > .cet-links li[data-active="true"] a {
    color: #cbbeae;
}

.CETPageHeader .cet-page-header-main-links > .cet-links li:hover a {
    color: #cbbeae;
}

.CETPageHeader .small-screen-menu {
    color: #f9f2ea;
    border: 1px solid;
    border-color: #cec3b8;

    background: #aa9886;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #aa9886), color-stop(1, #837362));
    background: -ms-linear-gradient(bottom, #aa9886, );
    background: -moz-linear-gradient(center bottom, #aa9886 0%,  100%);
    background: -o-linear-gradient(, #aa9886);
    background: linear-gradient(to bottom, #aa9886, );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa9886', endColorstr='#837362', GradientType=0);
}

.CETPageHeader .small-screen-nav .cet-links li {
    font-weight: normal;
}

.CETPageHeader .small-screen-nav .cet-links li a {
    color: #f8f2ea;
}

.CETPageHeader .small-screen-nav .cet-links li[data-active="true"] a {
    color: #cbbeae;
}

.cet-footer-container {
    background: #000;
    font-family: 'Helvetica Neue', Arial, san-serif;
    color: #fff;
}

.cet-footer-container h1, .cet-footer-container h2, .cet-footer-container h3,
.cet-footer-container h4, .cet-footer-container h5, .cet-footer-container h6 {
    color: #fff
}

.cet-footer-container a {
    color: #fff;
}

.cet-footer-container a:hover {
    color: rgba(255,255,255,0.80);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'TeXGyreAdventorRegular', Arial, sans-serif;
    color: #534741;
    font-weight: bold;
}

.cet-button, .main-btn {
    color: #fff;
    border: 1px solid;
    border-color: #cec3b8;

    background: #aa9886;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #aa9886), color-stop(1, #837362));
    background: -ms-linear-gradient(bottom, #aa9886, #837362);
    background: -moz-linear-gradient(center bottom, #aa9886 0%, #837362 100%);
    background: -o-linear-gradient(#837362, #aa9886);
    background: linear-gradient(to bottom, #aa9886, #837362);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa9886', endColorstr='#837362', GradientType=0);

    font-family: 'TeXGyreAdventor', Arial, sans-serif;
    font-weight: normal;
}

.cet-button:hover, .main-btn:hover {
    color: #fff;

    background: #262626;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #262626), color-stop(1, #151515));
    background: -ms-linear-gradient(bottom, #262626, #151515);
    background: -moz-linear-gradient(center bottom, #262626 0%, #151515 100%);
    background: -o-linear-gradient(#151515, #262626);
    background: linear-gradient(to bottom, #262626, #151515);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#262626', endColorstr='#151515', GradientType=0);

    border: 1px solid;
    border-color: #5d5d5c;
}

.CETNavigationLinks {
    text-transform: uppercase;
    font-family: 'TeXGyreAdventorRegular', Arial, sans-serif;
}

.CETListItem .type-header, .CETDetailedListItem .type-header {
    font-family: 'TeXGyreAdventorRegular', Arial, sans-serif;
    font-size: 11px;
    letter-spacing: 3px;
}

.CETLightBox .lightbox-content .lightbox-content-item.lightbox-ajax-item {
    background: #f9f2ea;
    color: #3f3d3b;
}

.CETListItem i.fa-chevron-right {
    color: #968675;
}
.CETDetailedListItem .more-details .more-details-content {
    color: #fff;
    font-family: 'TeXGyreAdventor', Arial, sans-serif;
    font-weight: normal;
    background: #aa9886;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #aa9886), color-stop(1, #837362));
    background: -ms-linear-gradient(bottom, #aa9886, #837362);
    background: -moz-linear-gradient(center bottom, #aa9886 0%, #837362 100%);
    background: -o-linear-gradient(#837362, #aa9886);
    background: linear-gradient(to bottom, #aa9886, #837362);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa9886', endColorstr='#837362', GradientType=0);
}
.CETDetailedListItem .more-details .more-details-corner {
    border-top: 5px solid #262626;
}

.CETBannerStrip .cet-banner[data-theme="light"] {
    background-color: rgb(221, 221, 221);
}

.CETBannerStrip .cet-banner[data-theme="light"] h4 {
    color: #000;
}

.CETBannerStrip .cet-banner[data-theme="dark"] {
    background-color: #000;
}

.CETBannerStrip .cet-banner[data-theme="dark"] h4 {
    color: #fff;
}

.CETBannerStrip .cet-banner[data-theme="brand"] {
    background-color: #141414;
}

.CETBannerStrip .cet-banner[data-theme="brand"] h4 {
    color: #f8f2ea;
}

.CETContainer > .background-image-container[data-theme="light"] {
    background-color: rgb(221, 221, 221);
}

.CETContainer > .background-image-container[data-theme="dark"] {
    background-color: #000;
    color: #fff;
}

.CETContainer > .background-image-container[data-theme="dark"] h1,
.CETContainer > .background-image-container[data-theme="dark"] h2,
.CETContainer > .background-image-container[data-theme="dark"] h3,
.CETContainer > .background-image-container[data-theme="dark"] h4,
.CETContainer > .background-image-container[data-theme="dark"] h5,
.CETContainer > .background-image-container[data-theme="dark"] h6
{
    color: #fff;
}

.CETContainer > .background-image-container[data-theme="dark"] a {
    color: #fff;
}

.CETContainer > .background-image-container[data-theme="dark"] a:hover {
    color: rgba(255,255,255,0.80);
}

.CETContainer > .background-image-container[data-theme="brand"] {
    background: #141414;
    color: #f8f2ea;
}

.CETContainer > .background-image-container[data-theme="brand"] a {
    color: #f8f2ea;
}

.CETContainer > .background-image-container[data-theme="brand"] a:hover {
    color: rgba(248,242,234,0.80);
}

.CETContainer > .background-image-container[data-theme="brand"] h1,
.CETContainer > .background-image-container[data-theme="brand"] h2,
.CETContainer > .background-image-container[data-theme="brand"] h3,
.CETContainer > .background-image-container[data-theme="brand"] h4,
.CETContainer > .background-image-container[data-theme="brand"] h5,
.CETContainer > .background-image-container[data-theme="brand"] h6
{
    color: rgba(248,242,234,0.70);
}

.CETImageGrid .grid-ruler-cell {
    border-color: #3f3d3b;
}

.CETImageGrid .grid-cell-content h2 {
    font-family: 'TeXGyreAdventorRegular', Arial, sans-serif;
    font-weight: bold;
}

.CETImageGrid .grid-cell-content[data-theme="light"] {
    color: #000;
}

.CETImageGrid .grid-cell-background[data-theme="light"] {
    background: rgb(221, 221, 221);
}

.CETImageGrid .grid-cell-content[data-theme="light"] h1,
.CETImageGrid .grid-cell-content[data-theme="light"] h2,
.CETImageGrid .grid-cell-content[data-theme="light"] h3,
.CETImageGrid .grid-cell-content[data-theme="light"] h4,
.CETImageGrid .grid-cell-content[data-theme="light"] h5,
.CETImageGrid .grid-cell-content[data-theme="light"] h6
{
    color: #000;
}

.CETImageGrid .grid-cell-content[data-theme="dark"] {
    color: #fff;
}
.CETImageGrid .grid-cell-background[data-theme="dark"] {
    background: #000;
}
.CETImageGrid .grid-cell-content[data-theme="dark"] h1,
.CETImageGrid .grid-cell-content[data-theme="dark"] h2,
.CETImageGrid .grid-cell-content[data-theme="dark"] h3,
.CETImageGrid .grid-cell-content[data-theme="dark"] h4,
.CETImageGrid .grid-cell-content[data-theme="dark"] h5,
.CETImageGrid .grid-cell-content[data-theme="dark"] h6
{
    color: #fff;
}

.CETImageGrid .grid-cell-content[data-theme="dark"] a {
    color: #fff;
}

.CETImageGrid .grid-cell-content[data-theme="dark"] a:hover {
    color: rgba(255,255,255,0.80);
}

.CETImageGrid .grid-cell-content[data-theme="brand"] {
    color: #f8f2ea;
}

.CETImageGrid .grid-cell-background[data-theme="brand"] {
    background: #141414;
}

.CETImageGrid .grid-cell-content[data-theme="brand"] a {
    color: #f8f2ea;
}

.CETImageGrid .grid-cell-content[data-theme="brand"] a:hover {
    color: rgba(248,242,234,0.80);
}

.CETImageGrid .grid-cell-content[data-theme="brand"] h1,
.CETImageGrid .grid-cell-content[data-theme="brand"] h2,
.CETImageGrid .grid-cell-content[data-theme="brand"] h3,
.CETImageGrid .grid-cell-content[data-theme="brand"] h4,
.CETImageGrid .grid-cell-content[data-theme="brand"] h5,
.CETImageGrid .grid-cell-content[data-theme="brand"] h6
{
    color: rgba(248,242,234,0.70);
}

.CETMiniBooker .bookRoomContent.contentOpen {
    background-color: #141414;
}

.CETMiniBooker .bookRoomTab {
    font-family: 'TeXGyreAdventorRegular', Arial, sans-serif;
}

.CETMiniBooker .bookRoomTab.tabOn {
    background-color: #141414;
}

.CETMiniBooker .bookRoomFull.tabOn {
    background-color: #141414;
}

.CETMiniBooker a.checkRatesBtn {
    border: 1px solid;
    border-color: #cec3b8;

    background: #aa9886;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #aa9886), color-stop(1, #837362));
    background: -ms-linear-gradient(bottom, #aa9886, #837362);
    background: -moz-linear-gradient(center bottom, #aa9886 0%, #837362 100%);
    background: -o-linear-gradient(#837362, #aa9886);
    background: linear-gradient(to bottom, #aa9886, #837362);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa9886', endColorstr='#837362', GradientType=0);
}

.CETMiniBooker a.checkRatesBtn:hover {
    border: 1px solid;
    border-color: #5d5d5c;

    background: #262626;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #262626), color-stop(1, #151515));
    background: -ms-linear-gradient(bottom, #262626, #151515);
    background: -moz-linear-gradient(center bottom, #262626 0%, #151515 100%);
    background: -o-linear-gradient(#151515, #262626);
    background: linear-gradient(to bottom, #262626, #151515);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#262626', endColorstr='#151515', GradientType=0);
}

.CETMiniBooker .tabContent p a {
    color: #f8f2ea;
    text-decoration: underline;
}

.CETMiniBooker .bestRateGuarantee {
    color: #f8f2ea;
}


#ui-datepicker-div {
    background-color: white;
    color: #000;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: bold;
}

.ui-datepicker span.ui-icon {
    color: #565a5c;
}

.ui-datepicker-calendar {
    border: 0;
}

.ui-datepicker-calendar td {
    border: 1px solid #dce0e0;
}

.ui-datepicker-calendar td .ui-state-default {
    color: #565a5c;
}

.ui-datepicker-calendar td .ui-state-default:hover {
    background-color: #9c8f81;
    color: #f8f2ea;
}

.ui-datepicker-calendar td.ui-state-disabled .ui-state-default {
    background-color: #e8e8e8;
    color: #999;
}


.CETFactsBox {
    background-color: #141414;
    color: #f8f2ea;
}

.CETFactsBox h3, .CETFactsBox h4 {
    font-family: 'TeXGyreAdventorRegular', Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #f8f2ea;
}

.CETFactsBox h3 {
    font-size: 16px;
}

.CETFactsBox p {
    font-family: 'TeXGyreAdventorRegular', Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
}

.CETFactsBox a {
    color: #f8f2ea;
    text-decoration: underline;
}

.CETFactsBox a.cet-button {
    text-decoration: none;
}

.featured-item-container h2 {
    color: #141414;
    font-family: 'TeXGyreAdventorRegular', Arial, sans-serif;
    font-weight: bold;
}

.CETItemListPage .featured-page-title {
    font-family: 'TeXGyreAdventorRegular', Arial, sans-serif;
    color: #141414;
}

.CETItemListPage .featured-item-container {
    background-color: #e7dfd2;
}

.featured-item-starrating-cover {
    background-color: #f9f2ea;
}

.CETItemListPage .featured-item-starrating-cover {
    background-color: #e7dfd2;
}

.featured-item-starrating i {
    color: #141414;
}

.CETNavigationLinks .category-selector li[data-active='true'] {
    background: rgb(221, 221, 221);
}
.CETNavigationLinks .category-selector li[data-active='true'] .active-indicator{
    border-left-color: rgb(221, 221, 221);
}
.category-selector {
    font-family: 'TeXGyreAdventorRegular', Arial, sans-serif;
}

.category-selector .category-arrow-box {
    background: rgb(221, 221, 221);
}

.category-selector .category-arrow-box:after {
    border-left-color: rgb(221, 221, 221);
}

.category-selector li {
    color: #968675;
}

.category-selector li:hover {
    color: #000;
}

.category-selector li[data-selected="1"] {
    color: #9c8f81;
    background-color: rgb(221, 221, 221);
}

.CETGallery .fa-chevron-circle-right, .CETGallery .fa-chevron-circle-left {
    color: #141414;
}

.CETGallery .cet-active-slide img {
    border: 3px solid #cbbeae;
}

.CETGallery-Thumbs-Bg {
    background-color: rgb(221, 221, 221);
    color: #9c8f81;
}

.CETGallery-Thumbs-Bg .small-feature-headline {
    color: #9c8f81;
}

.CETGallery .CETGallery-Outer ul li .main-featured-title {
    font-family: 'TeXGyreAdventorRegular', Arial, sans-serif;
    font-weight: bold;
    color: #141414;
}

.CETSideBanner {
    background-color: #141414;
    color: #f8f2ea;
}

.CETSideBanner h3, .CETSideBanner h4 {
    color: #f8f2ea;
}

.CETSocialStream .socialstream-feed-dark,
.CETSocialStream .socialstream-feed-light,
.CETSocialStream .socialstream-feed-light .socialstream-content{
    background: #141414;
    color: #f8f2ea;
}

.CETPropertyInformation h4.sub-col-module_title {
    color: #cbbeae;
}

.CETEmailBanner {
    background: #000;
}

.CETEmailBanner h4 {
    color: #fff;
    margin-bottom: 10px;
}

.cet-footer-container .CETEmailBanner {
    background: none;
}

.CETAdvancedCarousel {
    background-color: #000;
}

.CETAdvancedCarousel .CETStandardSlide-layer.title-content {
    background-color: #141414;
    background-color: rgba(20,20,20,0.70);
}

.CETAdvancedCarousel .CETStandardSlide-layer.title-content .slide-subtitle,
.CETAdvancedCarousel .CETStandardSlide-layer.title-content h3 {
    font-family: 'TeXGyreAdventorRegular', Arial, sans-serif;
    font-weight: bold;
    color: #f8f2ea;
}

.CETAdvancedCarousel .CETStandardSlide-layer.title-content .slide-subtitle {
    font-size: 18px;
}

.CETAdvancedCarousel .ls-bottom-nav-wrapper .ls-bottom-slidebuttons > a {
    background-color: #141414;
}

.CETAdvancedCarousel .ls-bottom-nav-wrapper .ls-bottom-slidebuttons > a.ls-nav-active {
    background-color: #cbbeae;
}

.CETAdvancedCarousel .ls-video-player {
    border: 2px solid #141414;
    box-shadow: 0 0 10px rgba(20,20,20,0.90);
}

.CETImageTable-ImageBox {
    border: 3px solid #cbbeae;
    box-shadow: 0 0 10px rgba(20,20,20,0.90);
}

.main-content-side-block .CETMiniCalendar {
    background-color: #141414;
}

.main-content-side-block .CETMiniCalendar .DynarchCalendar-bodyTable td .DynarchCalendar-hover-date {
    background-color: #cbbeae;
}

.main-content-side-block .CETMiniCalendar .DynarchCalendar-bodyTable td .DynarchCalendar-day-today {
    color: #f8f2ea;
    font-weight: bold;
}

.CETTabs > div > ul li {
    font-family: 'TeXGyreAdventorRegular', Arial, sans-serif;
    color: #9c8f81;
    background: #d3d3d3
}
.CETTabs > div > ul li:hover {
    background: rgb(221, 221, 221);
}
.CETTabs > div > ul li[data-selected="1"] {
    background: rgb(221, 221, 221);
    color: #9c8f81;
}

.CETTabs > div[data-type='tabs'] > div {
    background: rgb(221, 221, 221);
}

.CETList .pagination .page[data-currentpage="1"] {
    background-color: rgb(221, 221, 221);
    color: #9c8f81;
}

input {
    font-family: 'Helvetica Neue', Arial, san-serif;
}

input[type="text"], input[type="email"], input[type="number"], input[type="url"], input[type="tel"], textarea {
    border-color: rgb(221, 221, 221);
}

.cet-custom-select > div {
    background-color: rgb(221, 221, 221);
    color: #9c8f81;
    background: linear-gradient(to bottom, rgba(221,221,221,0.30), rgb(221, 221, 221));
    border: 1px solid rgb(221, 221, 221);
}

h4 { color: red; }