@charset "utf-8";
/*==========================================================================================
// Verndale.com - GlobalStyle.css
//For IE7, IE8
==========================================================================================*/
.hide-for-small,
.hide-for-medium-down,
.hide-for-large-down { display: block !important; }
.site-head .primary-nav-wrap .navbar-nav li{ float:left !important}
.site-section-navigation { display: block !important; }
 @media only screen and (max-width: 768px) {
.hide-for-small,
.hide-for-medium-down,
.hide-for-large-down { display: none !important; }
}
/* home layout css */
.browser-ie7 .columns,
.browser-ie7 .column { margin-right: -5px; margin-left: -5px; display: -moz-inline-stack; display: inline-block; zoom: 1; *display:inline; padding: 0 5px !important; float:left }

input[type="text"] { height: auto !important; padding:6px !important }
.site-head .logo { float: left; }
.site-head .logo img { max-width: 100% }
.site-head .site-search-wrap{*margin-bottom:15px;}

.site-foot div.social-icons,
.site-foot .footer-logo { float: none !important; text-align: center }
.site-foot .footer-logo { margin-top: 0px !important; }
.round-arrow, .round-arrow-normal{width:18px !important; height:18px !important;}
.secnav-wrap{margin-left:10px}
.three-column-layout .large-6-5{margin-right:-5px; margin-left:-10px}

.arrow-down {  background: url("../_Images/Icons/icon-navarrow-active.png")/*tpa=https://www.erieinsurance.com/_Images/Icons/icon-navarrow-active.png*/ no-repeat 0 0;  width:16px; height:9px; position: absolute; z-index: 10; margin-left: 40%; border: 0px; }
.find-agent-panel input[type="text"]{height:25px !important; width: 99%; font-size: 18px; color: #000}
.find-agent-panel .large-10 {width: 80%}
.privacy-links{float:right !important}
.persistent-toolbar-wrap {display: none !important;}