/* _lcid="1033" _version="14.0.7006"
_LocalBinding */
.ms-SrvMenuUI
{
display:none;
}
.ms-MenuUIPopupBody
{
border:1px solid #868686;
margin:0px;
padding:0px;
}
.ms-MenuUIPopupBody TABLE
{
color:black;
font-size:100%;
margin:0px;
padding:0px;
}
.ms-MenuUIPopupBody div
{
cursor:pointer;
}
.ms-MenuUI,.ms-MenuUILarge,.ms-MenuUIRtL,.ms-MenuUILargeRtL
{
background-color:#fafafa;
background-repeat:repeat-y;
cursor:pointer;
}
.ms-MenuUI,.ms-MenuUILarge
{
background-position:left;
}
.ms-MenuUIRtL,.ms-MenuUILargeRtL
{
background-position:right;
}
.ms-MenuUI
{
background-image:url("../../../images/MGrad.gif")/*tpa=http://www.northropgrumman.com/_layouts/images/MGrad.gif*/;
}
.ms-MenuUILarge
{
background-image:url("../../../images/MGradLarge.gif")/*tpa=http://www.northropgrumman.com/_layouts/images/MGradLarge.gif*/;
width:250px;
}
.ms-MenuUIRtL
{
background-image:url("../../../images/MGradRtl.gif")/*tpa=http://www.northropgrumman.com/_layouts/images/MGradRtl.gif*/;
}
.ms-MenuUILargeRtL
{
background-image:url("../../../images/MGradLargeRtl.gif")/*tpa=http://www.northropgrumman.com/_layouts/images/MGradLargeRtl.gif*/;
width:250px;
}
.ms-MenuUIDisabled SPAN
{
color:#888888;
}
.ms-MenuUIItemTableCell,.ms-MenuUIItemTableCellCompact
{
padding:2px;
color:black;
text-decoration:none;
font-size:8pt;
font-family:tahoma;
}
.ms-MenuUIItemTableCellCompact
{
padding:1px 2px 1px 2px;
}
.ms-MenuUIItemTableCell A,.ms-MenuUIItemTableCellHover A,.ms-MenuUIItemTableCellCompact A,.ms-MenuUIItemTableCellCompactHover A
{
color:black;
text-decoration:none;
}
.ms-menuitemdescription
{
color:#666666;
}
.ms-MenuUIItemTableCellHover,.ms-MenuUIItemTableCellCompactHover
{
padding:1px;
color:black;
text-decoration:none;
font-size:8pt;
font-family:tahoma;
}
.ms-MenuUIItemTableCellCompactHover
{
padding:0px 1px 0px 1px;
}
.ms-MenuUIItemTableHover
{
background-color:#ffe6a0;
border:1px solid #d2b47a;
}
.ms-MenuUIItemTableHover .ms-menuitemdescription
{
color:#333333;
}
.ms-MenuUIIcon,.ms-MenuUIIconRtL
{
height:16px;
width:24px;
}
.ms-MenuUIIconLarge,.ms-MenuUIIconLargeRtl
{
height:16px;
width:40px;
}
.ms-MenuUIIcon,.ms-MenuUIIconLarge
{
padding:
0px 
6px 
0px 
2px;
}
.ms-MenuUIIconRtL,.ms-MenuUIIconLargeRtl
{
padding:
0px 
2px 
0px 
6px;
}
.ms-MenuUILabel,.ms-MenuUILabelRtL,.ms-menuuilabelcompact,.ms-menuuilabelcompactRtl
{
width:100%;
}
.ms-MenuUILabel
{
padding:
2px 
0px 
3px 
6px;
}
.ms-MenuUILabelRtL
{
padding:
2px 
6px 
3px 
0px;
}
.ms-menuuilabelcompact{
padding:1px 0px 1px 7px;
}
.ms-menuuilabelcompactRtl{
padding:1px 7px 1px 0px;
}
.ms-MenuUISubmenuArrow
{
height:16px;
width:16px;
}
.ms-MenuUISeparator,.ms-MenuUISeparatorRtL,.ms-MenuUISeparatorLarge,.ms-MenuUISeparatorLargeRtl
{
background-color:#c5c5c5;
font-size:2px;
height:2px;
line-height:2px;
}
.ms-MenuUISeparator
{
margin:
0px 
0px 
0px 
32px;
}
.ms-MenuUISeparatorRtL
{
margin:
0px 
32px 
0px 
0px;
}
.ms-MenuUISeparatorLarge
{
margin:0px 0px 0px 48px;
}
.ms-MenuUISeparatorLargeRtl
{
margin:0px 48px 0px 0px;
}
.ms-MenuUICheckMark
{
background-image:url("../../../images/ChkMrk.gif")/*tpa=http://www.northropgrumman.com/_layouts/images/ChkMrk.gif*/;
}
.ms-MenuUIItemTableCellDisabled
{
color:#999999;
}
