/* Copyright 1998-2011, PaperThin, Inc.  All Rights Reserved. */
.cs_tab_inactive {
	padding: 2px;
	background-color: #C0C0C0;
	cursor: pointer;
	font-family: "MS Sans Serif", Verdana, Geneva, sans-serif;
	font-size: 14px;
}
.cs_tab_active {
	padding: 2px;
	/* background-color: #F0F0F0; */
	cursor: pointer;
	font-family: "MS Sans Serif", Verdana, Geneva, sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #004080;
}

/*  Specific style if we are in side a dialog - need grey background */
#MainTable .cs_tab_active {
	background-color: #F0F0F0;
}

#MainTable .cs_borderedTable{

	border-style: solid;
	border-color: #c0c0c0;
	border: 1px;	
}

.cs_tab_background {
	padding: 2px;
	background-color: #FFFFFF;
	cursor: pointer;
	font-family: "MS Sans Serif", Verdana, Geneva, sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #004080;
}

/*  Override specific style if we are in side a dialog - need grey background */
#MainTable .cs_tab_background {
	background-color: #F0F0F0;
}


.cs_default_form {
	padding: 0;
	margin: 0
}
.cs_add_anchor {
	padding-left: 17px;
	text-decoration: none;
	color: #003366;
	cursor: pointer;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	padding-bottom: 2px;
}
.cs_GhostDiv {
	display: none;
}
.cs_GhostText, .cs_DivsHiddenForNonAuth {
	padding-left: 20px;
	text-decoration: none;
	line-height: 16px;
	color: #003366;
	cursor: pointer;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	padding-bottom: 2px;	
}
.cs_GhostText:hover, .cs_add_anchor:hover {
	text-decoration: underline;
}
/* Style for the highlightDynamicElments URL parameter */
.cs_sDebug_border {
	border-bottom: 1px solid #FFFF00;
	border-top: 1px solid #FFFF00;
	border-left: 1px solid #FFFF00;
	border-right: 1px solid #FFFF00;
	padding: 8px
}

#cs_outline_t, #cs_outline_b, #cs_outline_l, #cs_outline_r {
	border-color: red;
}

/* Menus */
#cs_menu, #cs_menu a, #cs_entrance {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
}
#cs_menu {
	width: 255px;
	background: #f0f0f0;
	border: 1px solid #4c74a4;
	display: none;
	position: absolute;
	top: 5px; left: 5px; 
	opacity: .95;
	-moz-opacity: .95;
	/* filter: alpha(opacity=95); */
	z-index: 1000000;
	padding: 0px 0px 0px 0px;
}
#cs_menu a:visited{
	color: #000000;
}
#cs_menu a:link, #cs_menu a:active {
	color: #000000;
	text-decoration: none;
}
#cs_menu a:hover {
	text-decoration: underline;
}

#cs_outline_t, #cs_outline_b, #cs_outline_l, #cs_outline_r {
	background-color: transparent;
	z-index: 8;
	position: absolute;
}

#cs_outline_t, #cs_outline_b {
	border-top: 1px dashed #4c74a4;
}
#cs_outline_l, #cs_outline_r {
	border-left: 1px dashed #4c74a4;
}

#cs_menu .cs_primary span, #cs_menu .cs_primary strong {
	height: 14px;
	overflow: hidden;
	display: block;
}

#cs_menu .cs_element_stat, #cs_menu .cs_element_info {
	background: no-repeat;
	padding: 1px 1px 2px 22px;
	overflow: auto;
	background-position: -1px -1px;
	text-align: left;
}
#cs_menu .cs_element_info {
	height: 14px;
}

#cs_menu .cs_primary {
	display: block;
	width: 99%;
	margin: 0px auto 2px auto;
}
#cs_menu .cs_primary a {
	float: left;
	text-align: center;
	margin: 4px 2px 0px 2px;
	padding: 25px 5px 5px 5px;
	border: 1px solid transparent;
}
#cs_menu .cs_primary a:hover {
	border-top: 1px solid #ccc;	
	border-right: 1px solid #888;	
	border-bottom: 1px solid #888;	
	border-left: 1px solid #cccccc;	
/*	font-weight: bold; */
	text-decoration: none;
}

#cs_menu .cs_primary a.cs_more {
	width: 98%;
	height: 16px;
	clear: both;
	padding: 5px 0px 5px 18px;
	text-align: left;
	border: 0px;
	text-decoration: none;
}
#cs_show_more {
	background: url(images/more.png)/*tpa=http://www.generaldynamics.com/commonspot/images/more.png*/ no-repeat 5px 10px;
}
#cs_show_less {
	background: url(images/less.png)/*tpa=http://www.generaldynamics.com/commonspot/images/less.png*/ no-repeat 5px 10px;
}
	
#cs_menu .cs_primary a.cs_more:hover {
	font-weight: bold;
}
#cs_menu .cs_primary_icons {
	padding-right: 7px;
	border-right: solid 1px #4C74A4;
}
#cs_menu .cs_primary #cs_add_data {
	background: url(images/icons/chart_bar_add.png)/*tpa=http://www.generaldynamics.com/commonspot/images/icons/chart_bar_add.png*/ no-repeat center 5px;
}
#cs_menu .cs_primary #cs_append_data {
	background: url(images/icons/table_row_insert.png)/*tpa=http://www.generaldynamics.com/commonspot/images/icons/table_row_insert.png*/ no-repeat center 5px;
}
#cs_menu .cs_primary #cs_approve, #cs_approve_element, #cs_approve_all {
	background: url(images/icons/check.png)/*tpa=http://www.generaldynamics.com/commonspot/images/icons/check.png*/ no-repeat center 5px;
}
#cs_menu .cs_primary #cs_reject, #cs_discard, #cs_discardall {
	background: url(images/icons/cross.png)/*tpa=http://www.generaldynamics.com/commonspot/images/icons/cross.png*/ no-repeat center 5px;
}
#cs_menu .cs_primary #cs_revert, #cs_revert_layout {
	background: url(images/icons/arrow_undo.png)/*tpa=http://www.generaldynamics.com/commonspot/images/icons/arrow_undo.png*/ no-repeat center 5px;
}
#cs_menu .cs_primary #cs_edit, #cs_edit_members {
	background: url(images/icons/pencil.png)/*tpa=http://www.generaldynamics.com/commonspot/images/icons/pencil.png*/ no-repeat center 5px;
}
#cs_menu .cs_primary #cs_edit_form, #cs_menu .cs_primary #cs_edit_object_settings {
	background: url(images/icons/application_form_edit.png)/*tpa=http://www.generaldynamics.com/commonspot/images/icons/application_form_edit.png*/ no-repeat center 5px;
}
#cs_menu .cs_primary #cs_edit_fields, #cs_add_form {
	background: url(images/icons/application_form_add.png)/*tpa=http://www.generaldynamics.com/commonspot/images/icons/application_form_add.png*/ no-repeat center 5px;
}
#cs_menu .cs_primary #cs_container_add {
	background: url(images/icons/add_element.png)/*tpa=http://www.generaldynamics.com/commonspot/images/icons/add_element.png*/ no-repeat center 5px;
}
#cs_menu .cs_primary #cs_edit_text, #cs_edit_caption {
	background: url(images/icons/text_edit.png)/*tpa=http://www.generaldynamics.com/commonspot/images/icons/text_edit.png*/ no-repeat center 5px;
}
#cs_menu .cs_primary #cs_edit_sched, #cs_view, #cs_schedule {
	background: url(images/icons/table.png)/*tpa=http://www.generaldynamics.com/commonspot/images/icons/table.png*/ no-repeat center 5px;
}
#cs_menu .cs_primary #cs_update_web {
	background: url(images/icons/arrow_refresh.png)/*tpa=http://www.generaldynamics.com/commonspot/images/icons/arrow_refresh.png*/ no-repeat center 5px;
}
#cs_menu .cs_primary #cs_edit_image {
	background: url(images/icons/picture_edit.png)/*tpa=http://www.generaldynamics.com/commonspot/images/icons/picture_edit.png*/ no-repeat center 5px;
}
#cs_menu .cs_primary #cs_edit_layout, #cs_layout_spl, #cs_layout_layoutcellprop {
	background: url(images/icons/layout_edit.png)/*tpa=http://www.generaldynamics.com/commonspot/images/icons/layout_edit.png*/ no-repeat center 5px;
}
#cs_menu .cs_primary #cs_edit_style {
	background: url(images/icons/script_edit.png)/*tpa=http://www.generaldynamics.com/commonspot/images/icons/script_edit.png*/ no-repeat center 5px;
}
#cs_menu .cs_primary #cs_edit_font {
	background: url(images/icons/font.png)/*tpa=http://www.generaldynamics.com/commonspot/images/icons/font.png*/ no-repeat center 5px;
}
#cs_menu .cs_primary #cs_edit_object {
	background: url(images/icons/plugin_edit.png)/*tpa=http://www.generaldynamics.com/commonspot/images/icons/plugin_edit.png*/ no-repeat center 5px;
}
#cs_menu .cs_primary #cs_submit, #cs_submit_page, #cs_submit_element {
	background: url(images/icons/page_white_get.png)/*tpa=http://www.generaldynamics.com/commonspot/images/icons/page_white_get.png*/ no-repeat center 5px;
}
#cs_menu .cs_primary #cs_visdif {
	background: url(images/icons/visual_diff.png)/*tpa=http://www.generaldynamics.com/commonspot/images/icons/visual_diff.png*/ no-repeat center 5px;
}
#cs_menu .cs_primary #cs_visdif_history {
	background: url(images/icons/visual_diff.png)/*tpa=http://www.generaldynamics.com/commonspot/images/icons/visual_diff.png*/ no-repeat center 5px;
}
#cs_menu .cs_primary #cs_rendermode {
	background: url(images/icons/monitor_edit.png)/*tpa=http://www.generaldynamics.com/commonspot/images/icons/monitor_edit.png*/ no-repeat center 5px;
}
#cs_menu .cs_primary #cs_upload {
	background: url(images/icons/folder_go.png)/*tpa=http://www.generaldynamics.com/commonspot/images/icons/folder_go.png*/ no-repeat center 5px;
}
#cs_menu .cs_primary #cs_edit_col {
	background: url(images/icons/text_columns.png)/*tpa=http://www.generaldynamics.com/commonspot/images/icons/text_columns.png*/ no-repeat center 5px;
}
#cs_menu .cs_primary #cs_manage {
	background: url(images/icons/application_form.png)/*tpa=http://www.generaldynamics.com/commonspot/images/icons/application_form.png*/ no-repeat center 5px;
}
#cs_menu .cs_primary #cs_form_security {
	background: url(images/icons/application_key.png)/*tpa=http://www.generaldynamics.com/commonspot/images/icons/application_key.png*/ no-repeat center 5px;
}
#cs_menu .cs_primary #cs_insert_header_primary {
	background: url(images/icons/text_list_bullets.png)/*tpa=http://www.generaldynamics.com/commonspot/images/icons/text_list_bullets.png*/ no-repeat center 5px;
}
#cs_menu .cs_primary #cs_insert_item_primary, #cs_insert_primary {
	background: url(images/icons/add.png)/*tpa=http://www.generaldynamics.com/commonspot/images/icons/add.png*/ no-repeat center 5px;
}
#cs_menu .cs_primary #cs_delete_layout {
	background: url(images/icons/layout_delete.png)/*tpa=http://www.generaldynamics.com/commonspot/images/icons/layout_delete.png*/ no-repeat center 5px;
}
#cs_menu .cs_primary #cs_layout_showcells, #cs_layout_cellprop, #cs_choose_layout {
	background: url(images/icons/layout_content.png)/*tpa=http://www.generaldynamics.com/commonspot/images/icons/layout_content.png*/ no-repeat center 5px;
}
#cs_menu .cs_primary #cs_rh_metadata {
	background: url(images/icons/database_edit.png)/*tpa=http://www.generaldynamics.com/commonspot/images/icons/database_edit.png*/ no-repeat center 5px;
}
#cs_menu .cs_primary #cs_layout_ghost {
	background: url(images/icons/pencil_go.png)/*tpa=http://www.generaldynamics.com/commonspot/images/icons/pencil_go.png*/ no-repeat center 5px;
}
#cs_menu .cs_primary #cs_checkstatus {
	background: url(images/icons/approval_check_status.png)/*tpa=http://www.generaldynamics.com/commonspot/images/icons/approval_check_status.png*/ no-repeat center 5px;
}
#cs_menu .cs_primary #cs_removeapproval {
	background: url(images/icons/approval_remove.png)/*tpa=http://www.generaldynamics.com/commonspot/images/icons/approval_remove.png*/ no-repeat center 5px;
}
#cs_menu .cs_primary #cs_viewcomments_primary {
	background: url(images/icons/comments.png)/*tpa=http://www.generaldynamics.com/commonspot/images/icons/comments.png*/ no-repeat center 5px;
}
#cs_menu .cs_primary #cs_edit_sched {
	background: url(images/icons/sched_edit.png)/*tpa=http://www.generaldynamics.com/commonspot/images/icons/sched_edit.png*/ no-repeat center 5px;
}
#cs_menu .cs_primary #cs_edit_elements {
	background: url(images/icons/edit_elements.png)/*tpa=http://www.generaldynamics.com/commonspot/images/icons/edit_elements.png*/ no-repeat center 5px;
}
#cs_menu .cs_primary #cs_historyrevert {
	background: url(images/icons/revert_element.png)/*tpa=http://www.generaldynamics.com/commonspot/images/icons/revert_element.png*/ no-repeat center 5px;
}
#cs_menu .cs_primary #cs_primary_spacer {
	border:0; 
	margin:0; 
	cursor:pointer;
}
#cs_menu .cs_primary #cs_container_reorder {
	background: url(dashboard/icons/arrow_switch.png)/*tpa=http://www.generaldynamics.com/commonspot/dashboard/icons/arrow_switch.png*/ no-repeat center 5px;
}

/* Secondary menu classes */
#cs_menu div.cs_secondary {
	border-top: 1px solid #4C74A4;
}
#cs_menu .cs_secondary a {
	margin: 0px 2px 0px 2px;
	padding: 2px 0px 2px 15px;
	border: 1px solid transparent;
	text-align:left;
}
#cs_menu .cs_secondary a:hover {	
	font-weight: bold;
	text-decoration: none;
	border-top: 1px solid #ccc;	
	border-right: 1px solid #888;	
	border-bottom: 1px solid #888;	
	border-left: 1px solid #cccccc;		
/*	background-color: #f6f6f6; */
}

#cs_menu .cs_secondary, #cs_menu #cs_show_less {
	display: none;
}


#cs_menu .cs_seperator {
	width: 100%;
	height: 8px;
	clear: both;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.spaceabove {
	margin-top: 10px;
}

.cs_elementUI {
	z-index: 999998;
	display: none;
	float: left;
	width: 16px;
	height: 16px;
}
.cs_debug_security {
	z-index: 9999997;
	position: absolute;
	display: none;
	text-align:left;
}
.cs_debug_cacheInfo {
	z-index: 999997;
	position: absolute;
	display: none;
	text-align:left;
}

/* CommonSpot entrance */
#cs_entrance, #cs_entrance_small, #cs_entrance_menu {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 99999;
}
#cs_entrance_small {
	width:22px;
	height:20px;
	/* 
	height:25px;
	background: url(/commonspot/images/entrance_small.gif) no-repeat right top; 
	*/
	background-image: url(images/cs_entrance_small.png)/*tpa=http://www.generaldynamics.com/commonspot/images/cs_entrance_small.png*/;
	cursor: pointer;
	opacity: .5;
	-moz-opacity: .5;
	/* filter: alpha(opacity=50); */
	z-index: 100000;	
}
#cs_entrance_small:hover {
	/* background-image: url(/commonspot/images/entrance_small_over.gif); */
	background-image: url(images/cs_entrance_small_over.png)/*tpa=http://www.generaldynamics.com/commonspot/images/cs_entrance_small_over.png*/;
	opacity: 1;
	-moz-opacity: 1;
	/*filter: alpha(opacity=100);*/
}
#cs_entrance_menu {
	width: 0px;
	overflow: hidden;
	background: none repeat scroll 0 0 #F0F0F0;
   opacity: 1;
}
#cs_entrance_menu div {
	/* width:140px; */
	width:220px;
	padding: 20px 0px 0px 0px;
	/* background: url(/commonspot/images/entrance_big.gif) no-repeat right top; */
	background: url(images/cs_entrance_big.png)/*tpa=http://www.generaldynamics.com/commonspot/images/cs_entrance_big.png*/ no-repeat right top;
	font-size: 11px;
	z-index: 99998;
}
#cs_entrance_menu a, #cs_entrance_menu div.bottom {
	width: 100%;
	padding: 5px 0px 4px 15px;
	text-decoration: none;
	text-align: left;
	color: #000;
	display: block;
	border-left: solid 1px #333;
}
#cs_entrance_menu hr {
	color: #D1D1D1 !important;
	background-color: #D1D1D1 !important;
	margin: 0px !important;
   padding: 0px !important;
   width: 100% !important;
	line-height: 1px !important;
	height: 1px !important;
	border: none;
}
#cs_entrance_menu_hr_div{
   background-image: none !important;
	background-color: #D1D1D1 !important;
   border-left: solid 1px #333 !important;
   color: #D1D1D1 !important;
   line-height: 1px !important;
	height: 1px !important;
   margin:0px !important;
   padding:0px !important;
   width:222px !important;
}
#cs_entrance_menu a:link, #cs_entrance_menu a:active {
   background: #F0F0F0;
}
#cs_entrance_menu a:hover {
	background: #f6de92;
	font-weight: bold;
	cursor: pointer;
}
#cs_entrance_menu div.bottom {
	height: 5px;
	background: #f0f0f0;
	border-bottom: solid 1px #333;
	padding: 0px 5px 0px 0px;
}
/* gray */
#cs_menu, #cs_outline_t, #cs_outline_b, #cs_outline_l, #cs_outline_r {
	border-color: #AAAAA8;
}
/* yellow */
#cs_menu.awip, #cs_outline_t.awip, #cs_outline_b.awip, #cs_outline_l.awip, #cs_outline_r.awip {
	border-color: #EAEC26;
}
#cs_menu.awip {
	background: #FEFFCB;
}
/* blue */
#cs_menu.wip, #cs_outline_t.wip, #cs_outline_b.wip, #cs_outline_l.wip, #cs_outline_r.wip {
	border-color:#437FA9;
}
#cs_menu.wip {
	background: #E2EBF4;
}
/* green */
#cs_menu.aap, #cs_outline_t.aap, #cs_outline_b.aap, #cs_outline_l.aap, #cs_outline_r.aap {
	border-color: #97C85B;
}
#cs_menu.aap {
	background: #DAF9D4;
}
/* purple */
#cs_menu.opa, #cs_outline_t.opa, #cs_outline_b.opa, #cs_outline_l.opa, #cs_outline_r.opa {
	border-color: #67448E;
}
#cs_menu.opa {
	background: #E5D7F7;
}
/* orange FA9F0A*/
#cs_menu.ap, #cs_outline_t.ap, #cs_outline_b.ap, #cs_outline_l.ap, #cs_outline_r.ap {
	border-color: #DF8114;
}
#cs_menu.ap {
	background: #FBD474;
}
/* 	visibility:hidden;  */
.cs_debug_security {
	z-index: 999999999;
	position: absolute;
	text-align:left;
	background: #dddddd;
	border: 2px solid #222222;
	padding: 10px;
	display: none;
}
.cs_debug_cacheInfo {
	z-index: 9999989999;
	position: absolute;
	text-align:left;
	background: #dddddd;
	border: 2px solid #222222;
	padding: 10px;
	display: none;
}
/* element 'Insert new element' links */
.cs_add_element {
	background-image: url(images/icons/add_element.png)/*tpa=http://www.generaldynamics.com/commonspot/images/icons/add_element.png*/;
	background-repeat: no-repeat;
	background-position: left bottom; 
	padding-left: 5px;
	height: 16px;
	vertical-align: middle;
	text-align: left;
	display: none;
	clear: both;	/* Debjani: 09 Sept 2013: Issue 19069: Added the definition for making columns of a tabular layout display side by side in a converted container version */
}
	
.cs_add_anchor:hover{
	text-decoration: underline;
}
.cs_layoutborder {
	border-bottom: 1px dashed #AAAAA8;
	border-left: 1px dashed #AAAAA8;
	border-right: 1px dashed #AAAAA8;
}
.cs_layout {
	display: inline;
}
.cs_tdivhide, .cs_layoutcellhide {
	border: 0;
	display: none;
}
.cs_cdivhide {
	border: 0;
}
.cs_tdivshow {
	border-top: 2px solid #AAAAA8;
	border-left: 1px dashed #AAAAA8;
	border-right: 1px dashed #AAAAA8;
	height: 16px;
	text-align: left;
}
.cs_cinfobar {
	height: 16px;
}
.cs_layoutcellshow {
	height: 16px;
	vertical-align: top;
	width: 100%;
}
.cs_layoutcelltd {
	border-top: 2px solid #AAAAA8;
	border-left: 1px dashed #AAAAA8;
	border-right: 1px dashed #AAAAA8;
	border-bottom: 1px dashed #AAAAA8;
}
.cs_cdivshow {
	border-top: 2px solid #AAAAA8;
	border-left: 1px dashed #AAAAA8;
	border-right: 1px dashed #AAAAA8;
	border-bottom: 1px dashed #AAAAA8;
   display: block;
}
.cs_layoutText, .cs_containerText {
	font-family: Verdana, Geneva, sans-serif;
	font-weight: normal;
	font-size: 10px;
	font-style: italic;
	color: #003366;
	vertical-align: middle;
	height: 16px;
	float: left;
	position: absolute;
}
.cs_layoutCellText {
	font-family: Verdana, Geneva, sans-serif;
	font-weight: normal;
	font-size: 10px;
	font-style: italic;
	color: #003366;
	vertical-align: middle;
	margin-left: 1px;
	height: 15px;
	display: inline;
	float: left;
}
.cs_containerText {
	padding-bottom: 1px;
	/*display: block;*/
}
.cs_control{
	display: block;
}
.cs_rdiv {
	display: none;
	vertical-align: text-top;
	height: 16px;
	text-align: right;
	width: 14px;
	float: right;
	cursor: pointer;
}
.cs_setMinHt {
	min-height: 16px;
}
.cpHideForMenus{
	visibility: visible;
}
select.cpHideForMenus  {  /* issue 14229 */
 visibility: visible;
 margin-top:0px;
} 
.cpMenuSafe{
	visibility: visible;	
 }
.cs_xmlpublication {
	display: none;
	position: absolute;
}
/* gray */
.cur { border-color: #AAAAA8; }
/* yellow */
.awip { border-color: #EBEC60; }
/* blue */
.wip { border-color: #4C85AD; }
/* green */
.aap { border-color: #97C85B; }
/* purple */
.opa { border-color: #67448E; }
/* orange */
.ap { border-color: #DF8114; }


.cs_flashMsg {
	position: absolute;
	top: 200px;
	left: 50%;
	padding: 20px 0;
	background: #f0f0f0;
	border: 1px solid #cccccc;
	color: #505050;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	text-align: center;
	opacity: 0.95;
}
/*
yellow: #EBEC60
wip yellow: (old): FFCC33
blue (old): 4C85AD
aap green (old): 258C3B
ap orange: (old)F58404
*/

/* toolbar for inactive page */
#cs_inactivePage_tb {
	background-color: #9CCF63;
	border-bottom: 1px solid #A0A0A0;
	margin: 0px 0px 2px 0px;
}

#cs_inactivePage_tb .cs_tbmsg {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	padding: 0px 5px 3px 5px;
	color: #000000;
}

#cs_inactivePage_tb .cs_activatemsg {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
 padding: 0px 5px 3px 0px;
	color: #000000;
}

/* toolbar for inactive subsite */
#cs_inactiveSubsite_tb {
	background-color: #800000;
	border-bottom: 1px solid #A0A0A0;
	margin: 0px 0px 2px 0px;
}

#cs_inactiveSubsite_tb .cs_tbmsg {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	padding: 0px 5px 3px 5px;
	color: #fafafa;
}

/* toolbar for empty pageset */
#cs_emptyPageset_tb {
	background-color: #0099CC;
	border-bottom: 1px solid #A0A0A0;
	margin: 0px 0px 2px 0px;
}

#cs_emptyPageset_tb .cs_tbmsg {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	padding: 0px 5px 3px 5px;
	color: #fafafa;
}

/* toolbar for scheduled page */
#cs_scheduledPage_tb {
	background-color: #6B8AC6;
	border-bottom: 1px solid #A0A0A0;
	margin: 0px 0px 2px 0px;	
}

#cs_scheduledPage_tb .cs_tbmsg {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	padding: 3px 5px 3px 28px;
	color: #fafafa;
	vertical-align: bottom;
	background: url(images/icons/clock.png)/*tpa=http://www.generaldynamics.com/commonspot/images/icons/clock.png*/ no-repeat 5px 2px;	
}

/* toolbar for multi-language support page */
#cs_multiLangPage_tb {
   background-color: #636B8C;
   border-bottom: 1px solid #A0A0A0;
	margin: 0px 0px 2px 0px;
}

#cs_multiLangPage_tb .cs_tbmsg {
   font-family: Verdana, Geneva, sans-serif;
   font-size: 11px;
   padding: 0px 5px 3px 5px;
   color: #000000;
}
.cs_DivsHiddenForNonAuth{
	display: none;
}

/* item level menus */
.CommonSpotMenu {
	background: #E5E5E5 none repeat scroll 0% 0%;
   border-color: #999999;
   border-style: solid solid solid;
   border-width: 1px;
   font-family: Verdana,Arial,Helvetica,sans-serif;
   font-size: 11px;
   font-weight: normal;
   margin: 0px;
   padding: 8px 0pt 5px;   
	position: absolute;
	text-align: left;
   text-decoration: none;
   width: 100%;
	z-index: 1000001;
}
.CommonSpotMenu span.cs_menu_item {
   width: inherit;
   line-height: 16px;
   background: #E5E5E5 none repeat scroll 0% 0%;
   display: block;

}
.CommonSpotMenu span.cs_menu_item:hover {
   background: #BBC5CF none repeat scroll 0% 0%;
   font-weight: bold;
   width: inherit;
}
span.cs_menu_item_shortcut {
   color:#666666; 
   padding: 0px;
   background-color: transparent;
   font-size:9px;
   font-weight:normal;
   position:absolute;
   right:5px;
}
span.cs_menu_item_shortcut:hover {
   background:#CCCCCC none repeat scroll 0% 0%;
   padding: 0px;
   font-weight: normal;
}
.CommonSpotMenu a {
   text-decoration: none;
}
.CommonSpotMenu a:active {
   text-decoration: none;
}
.CommonSpotMenu a:link {
   text-decoration: none;
}
.CommonSpotMenu a:hover {
   text-decoration: none;
}
.CommonSpotMenu img {
	display: inline;
	border-style: none;
   vertical-align: bottom;
}
.CommonSpotIcon {
	display: inline;
	border-style: none
}
.CommonSpotMenu hr {
	color: #808080 !important;
	background-color: #808080 !important;
   width: 100% !important;
	line-height: 1px !important;
	height: 1px !important;
	border: none;
	text-shadow: none;	
}

#cs_commondlg hr {
	color: #808080 !important;
	background-color: #808080 !important;
   width: 100% !important;
	line-height: 1px !important;
	height: 1px !important;
	border: none;
	text-shadow: none;	
}
.bottom-right
 {
 	vertical-align: bottom;
	text-align: right;
	/* position: absolute;*/
 }
.bottom-left
 {
 	vertical-align: bottom;
	text-align: left;
 } 
.top-right
 {
 	vertical-align: top;
	text-align: right;
	/* position: absolute;*/
 } 
.top-left
 {
 	vertical-align: top;
	text-align: left;
	/* position: absolute;*/
 }  
.bottom {vertical-align: bottom;}   
.top {vertical-align: top;}   
.right {text-align: right;}   
.left {text-align: left;}