
.menu li a {
	padding-right:0px;
}
.menu li.active-trail a,
.menu li.active a, 
.menu li a:hover,
#mainNav .menu li a.dd-more,
#mainNav .menu li a.dd-more:hover {
	background:url(../images/menu/iefix/bkg1.jpg)/*tpa=http://www.sempra.com/images/menu/iefix/bkg1.jpg*/ no-repeat;
}
#topNav .menu li a.dd-hover {
	background:url(../images/menu/iefix/bkg2.jpg)/*tpa=http://www.sempra.com/images/menu/iefix/bkg2.jpg*/ no-repeat;
}
.menu li.active-trail a .ie-menu-fix,
.menu li.active a .ie-menu-fix, 
.menu li a:hover .ie-menu-fix,
#mainNav .menu li a.dd-more .ie-menu-fix,
#mainNav .menu li a.dd-more:hover .ie-menu-fix {
	background:url(../images/menu/iefix/bkg-end.jpg)/*tpa=http://www.sempra.com/images/menu/iefix/bkg-end.jpg*/ no-repeat right top;
}
#topNav .menu li a.dd-hover .ie-menu-fix {
	background:url(../images/menu/iefix/bkg2-end.jpg)/*tpa=http://www.sempra.com/images/menu/iefix/bkg2-end.jpg*/ no-repeat right top;
}
#mainNav .menu li.active a.dd-hover .ie-menu-fix,
#mainNav .menu li a:hover .ie-menu-fix {
	background-image:none;
}