body, html {
	background-color:#fff;
}
#page {
	margin:0;
	padding:0;
	width:auto;
}
#topNav, #mainNav, #footerNav, #socialmedia, .subpage .left-section, .subpage .right-section aside {
	display:none;
}
.subpage .right-section {
	width:auto;
}
#content a {
	text-decoration:underline;
	font-weight:bold;
}
#content a:link:after, #content a:visited:after {
   content: " (" attr(href) ") ";
}
#content a[href^="/"]:after {
	content: " (http://www.sempra.com" attr(href) ") ";
}