@import url("reset.css")/*tpa=http://www.sempra.com/styles/reset.css*/;
/* Text Formatting */
body {
	font:.75em Verdana, Geneva, sans-serif;
	line-height:120%;
	color:#555;
}

.interstate {
  font-family: Interstate;
  font-style: normal;
  font-weight: normal;
}
a {
	color:#0193d5;
}
a:hover {
	text-decoration:underline;
	color:#999;
}
a:visited {
	/*color:#064ba6;*/
}
p {
	color:#555;
	margin:1em 0;
}
.subpage #content p {
	line-height:140%;
}
.subpage #content em {
	color:#555;
}

.subpage #content-form p {
	line-height:140%;
	width:600px;
}



.subpage h1 {
	color:#0092d4;
	font:1.9em Interstate;
	margin:1em 0;
}
.subpage #content > h1:first-child, .subpage section > h1:first-child {
	margin-top:0;
	clear:left;
}
.subpage h2, .subpage h3 {
	color:#0092d4;
	font:1.2em Interstate;
	margin:1em 0;
}
.subpage p + h2, .subpage ul + h2, .subpage ol + h2 {
	margin-top:2em;
}
.subpage h3 {
	color:#666;
	margin-bottom:0;
	font-weight:bold;
}
.subpage h3 + p {
	margin-top:.5em;
}
.subpage p + h3 {
	margin-top:1.5em;
}
.menu, .block-title {
	font-family:Interstate;
}
.homepage .block-title {
	color:#0a4797;
}
.menu li a {
	color:#555;
	text-decoration:none;
	display:block;
	position:relative;
	line-height:110%;
	height:16px;
	padding:0 8px;
	z-index:25;
}
#content li {
	line-height:150%;
}
#content ol li {
	list-style:decimal;
}



#content ul li {
	
background:transparent url("../images/universal/list-circle.jpg")/*tpa=http://www.sempra.com/images/universal/list-circle.jpg*/ 0px 7px no-repeat;
padding-left:15px;
}


#content ul.nav li {
	list-style:none;
	list-style-image:none;
}
#content ol, #content ul {
	margin:.5em .8em;
	padding: 0 1em;
}
#content ul.nav {
	margin:0;
	padding:.5em 0;
}
p.left {
	float:left;
	clear:left;
}
img + p.left {
	margin-top:0;
	text-align:center;
}

p.right {
	float:right;
	clear:right;
}
/* Menus */
.menu > li {
	display:block;
	position:relative;
	float:left;
	padding:4px 12px;
	z-index:100;
}
#topNav .menu > li {
	z-index:110;
}
#topNav .menu {
	padding-top:2px;
}
#topNav .menu li a, #footer .menu li a {
	line-height:120%;
}
#header .menu {
	float:right;
}
.menu li.active-trail a,
.menu li.active a, 
.menu li a:hover,
#mainNav .menu li a.dd-more {
	background:url(../images/menu/bkg_active-top-menu.jpg)/*tpa=http://www.sempra.com/images/menu/bkg_active-top-menu.jpg*/ repeat-x;
	color:#fff;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}

.menu li.active a.dd-hover {
	background-image:none;
}


#mainNav .menu a.arrow-link_report {
	display:inline;
	font-size:.9em;
	font-weight:bold;
	padding:13px 17px 0;
	background: transparent url(../images/universal/link-arrow.jpg)/*tpa=http://www.sempra.com/images/universal/link-arrow.jpg*/ left bottom no-repeat;
}



.menu li.active .dd-container a, 
.menu li .dd-container a:hover,
#mainNav .menu li a:hover {
	background-image:none;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0;
}
.menu li a.dd-more {
	float:left;
	margin-top:3px;
	color:#fff;
}
#mainNav .menu li a.dd-more:hover {
	color:#fff;
	background:url(../images/menu/bkg_active-top-menu.jpg)/*tpa=http://www.sempra.com/images/menu/bkg_active-top-menu.jpg*/ repeat-x;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}
#mainNav {
	padding-top:30px;
}
#mainNav .menu li.last {
	padding-right:0;
}
.dd-container .tab {
	filter: none !important;
	width:auto;
	height:45px;
	position:absolute;
	top:-39px;
	left:0;
}
.dd-container .tab img {
	display:block;
}
.dd-container {
	filter: none !important; 
	display:none;
	position:absolute;
	width:482px;
	left:0;
	top:27px;
	text-align:left;
	z-index:20;
}
.dd-container .dd-bkg {
	filter: none !important; 
	background:url(../images/menu/mainmenu/bkg_dd.png)/*tpa=http://www.sempra.com/images/menu/mainmenu/bkg_dd.png*/ no-repeat center bottom;
	padding-bottom:10px;
}
.dd-container .dd-top {
	background:url(../images/menu/mainmenu/top-shade.png)/*tpa=http://www.sempra.com/images/menu/mainmenu/top-shade.png*/ no-repeat;
	height:6px;
	overflow:hidden;
}
.menu-1 .dd-container {
	left:-20px;
}
.menu-2 .dd-container {
	left:-20px;
}
.menu-3 .dd-container {
	left:-75px;
}
.menu-4 .dd-container {
	left:-179px;
}
.menu-5 .dd-container {
	left:-264px;
}
.menu-6 .dd-container {
	left:-364px;
}
.menu-3 .dd-container .tab {
	left:55px;
}
.menu-4 .dd-container .tab {
	left:158px;
}
.menu-5 .dd-container .tab {
	left:247px;
}
.menu-6 .dd-container .tab {
	left:351px;
}
.dd-section {
	float:left;
	width:203px;
	margin-left:10px;
	padding:38px 31px 31px 30px;
	background-color:#fff;
}
.dd-section h1 {
	font:16px Verdana, Geneva, sans-serif;
	color:#0092d4;
	margin:0 0 15px;
}
.dd-section p {
	font-family:Verdana, Geneva, sans-serif;
}
.dd-container ul {
	width:197px;
	min-height:364px;
	padding:5px 0 10px;
	background:#053779 url(../images/menu/mainmenu/bkg_submenu.jpg)/*tpa=http://www.sempra.com/images/menu/mainmenu/bkg_submenu.jpg*/ repeat-x;
	border-left:1px solid #dcdcdc;
	float:left;
}
.dd-container ul li {
	padding-bottom:2px;
	background:url(../images/menu/mainmenu/divide.png)/*tpa=http://www.sempra.com/images/menu/mainmenu/divide.png*/ no-repeat center bottom;
}
.dd-container ul a {
	display:block;
	padding:15px 25px;
	color:#fff;
	height:auto;
}
#mainNav .dd-container ul a:hover {
	background:url(../images/menu/mainmenu/bkg_ro.jpg)/*tpa=http://www.sempra.com/images/menu/mainmenu/bkg_ro.jpg*/ repeat-y;
	color:#19528f;
}
/* topNav menu */
#topNav, #footer .menu {
	font-size:.9em;
}
#topNav .menu li a.dd-hover {
	background:url(../images/menu/bkg_active-top-menu.jpg)/*tpa=http://www.sempra.com/images/menu/bkg_active-top-menu.jpg*/ repeat-x;
	-moz-border-radius-topright:4px;
	-moz-border-radius-topleft:4px;
	-moz-border-radius-bottomleft:0;
	-moz-border-radius-bottomright:0;
	-webkit-border-top-right-radius:4px;
	-webkit-border-top-left-radius:4px;
	-webkit-border-bottom-left-radius:0;
	-webkit-border-bottom-right-radius:0;
	border-radius:4px 4px 0 0;
	color:#fff;
}
#topNav .menu ul {
	display:none;
	position:absolute;
	background:#043678 repeat-x center center;
	width:150px;
	z-index:100;
	padding:5px 0;
}
#topNav .menu ul a {
	display:block;
	padding:5px 10px;
	height:auto;
	color:#fff;
	background-image:none;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0;
}
#topNav .menu ul a:hover  {
	background:url(../images/menu/mainmenu/bkg_ro.jpg)/*tpa=http://www.sempra.com/images/menu/mainmenu/bkg_ro.jpg*/ repeat-y;
	color:#19528f;
}
/* homepage */
.hero {
	width:458px;
	height:476px;
	color:#fff;
	position:relative;
}
.hero .section-inner {
	position:absolute;
	top:335px;
	left:43px;
}
.hero h1 {
	font: bold 1.4em Interstate;
	color:#fff;
	margin-bottom:.3em;
}

.hero p {
	color:#fff;
}
.hero .arrow-link {
	padding-top:0;
}

/*special link placement */


.hero .section-inner2 {
	position:absolute;
	top:415px;
	left:300px;
}

/*special link placement */

.homepage .right-section {
	width:507px
}

/*changes made to height */

.homepage .right-section .feed {
	background-color:#efecdd;
	margin-bottom:1px;
	margin-right:1px;
	height:99px; 
	overflow:hidden;
	padding:21px;
	position:relative;
	line-height:100%;
}



/* homepage welcome */

.homepage .right-section .welcome {
	background:#efecdd url(../images/homepage/graphic_globe.png)/*tpa=http://www.sempra.com/images/homepage/graphic_globe.png*/ no-repeat 107px 13px;
}


.homepage .right-section .welcome h1 {
	margin-right:120px;
}

.homepage .right-section .welcome p {
	line-height:14px;
}

/* homepage new welcome */



.homepage .right-section .fr {
	background:#efecdd url(../images/homepage/2014fr.png)/*tpa=http://www.sempra.com/images/homepage/2014fr.png*/ no-repeat 280px 13px;
}


.homepage .right-section .fr h1 {
	margin-right:10px;
}

.homepage .right-section .fr p {
	width:350px;
	line-height:14px;
	margin-right:150px;
}

.home-link-margin {
	margin-left:17px;
}




/* homepage spotlight WEBCAST*/

.homepage .right-section .welcome3 {
	background:#efecdd;
}
.homepage .right-section .welcome3 p{
	padding-bottom:8px;
}


/* homepage spotlight NOTICE*/

.homepage .right-section .welcome2 {
	background:#efecdd;
}

.homepage .right-section .welcome2 p{
	padding-bottom:8px;
	line-height:14px;
}

.homepage .right-section .welcome2 h1{
	color:#0293d6;
	font-weight:bold;
	padding-bottom:10px;
	}

.homepage .right-section .welcome2 a{
	color:#0293d6;
	line-height:14px;
}

.homepage .right-section .welcomefr {
	background:#efecdd;
}

.homepage .right-section .welcomefr p{
	padding-bottom:8px;
	line-height:16px;
}

.homepage .right-section .welcomefr h1{
	color:#0293d6;
	padding-bottom:10px;
	}

.homepage .right-section .welcomefr a{
	color:#0293d6;
	line-height:14px;
}



.news p {
	margin:0 0 7px
}




.homepage .right-section .feed p {
	font-size:.85em;
	margin:0;
}
.homepage .right-section .spotlight p {
	width:360px;
}
.news .news-date {
	color:#18529d;
	font-weight:bold;
	margin:0;
}
/* homepage spotlight */
.spotlight-item img {
	margin:3px 16px 3px 3px;
	opacity:80%
}
.spotlight .active img {
	opacity:100%;
	border:3px solid #039;
	margin:0 13px 0 0;
}
.spotlight-item img.last {
	margin:3px;
}
.spotlight .active img.last {
	margin:0;
}
.spotlight-item p {
	position:absolute;
	top:90px;
	left:120px;
	display:none;
}
.spotlight .active p {
	display:block;
}
/* home elements */
.homepage .right-section .first .arrow-link {
	padding-top:3px;
}
.homepage .right-section .small {
	height:38px;
	padding-bottom:0;
	padding-top:12px;
}
.homepage .right-section .small .block-title {
	height:auto;
}
.homepage .feed .block-title {
	display:block;
	background:url(../images/homepage/title-arrow.png)/*tpa=http://www.sempra.com/images/homepage/title-arrow.png*/ no-repeat 0 -3px;
	padding:0 18px 5px 12px;
	width:60px;
	height:85px;
}
.block-bkg-bluestrip {
	background:url(../images/elements/block-bluefade.jpg)/*tpa=http://www.sempra.com/images/elements/block-bluefade.jpg*/ repeat center top;
	height:20px;
	width:213px;
	text-align:center;
	color:#fff;
	float:left;
}
.block-bkg-bluestrip.first {
	margin-right:1px;
}
.block-bkg-bluestrip .title {
	color:#fff;
	margin:0;
	line-height:100%;
}
.block-bkg-bluestrip.single .title {
	font-size:1.3em;
}
.block-bkg-bluestrip.double {
	padding-top:10px;
	padding-bottom:0;
	height:40px;
}
.block-bkg-bluestrip .arrow-link {
	padding-top:3px;
	margin-left:59px;
	color:#fff;
	text-align:left;
}
/* Left Section, side navigation */
.left-section {
	margin-right:1px;
}
.subpage .left-section {
	width:245px;
	background:url(../images/menu/submenu/menu_bkg.jpg)/*tpa=http://www.sempra.com/images/menu/submenu/menu_bkg.jpg*/ repeat-y;
	padding-bottom:75px;
}
.subpage #side-nav li a {
	display:block;
	padding:15px 25px;
	text-decoration:none;
	font-family:Interstate;
}
.subpage #side-nav > li ul a {
	color:#555;
	font-size:.9em;
	padding-top:10px;
	padding-bottom:10px;
}

.subpage #side-nav > li ul a.active, .subpage #side-nav > li ul a:hover {
	color:#0193d5;
}
.subpage #side-nav > li ul a.active {
	background:url(../images/menu/submenu/arrow.png)/*tpa=http://www.sempra.com/images/menu/submenu/arrow.png*/ no-repeat 15px 14px;
}
.subpage #side-nav > li ul a.pdf:hover {
	background:url(../images/menu/submenu/arrow-pdf.png)/*tpa=http://www.sempra.com/images/menu/submenu/arrow-pdf.png*/ no-repeat 0 12px;
}
.subpage #side-nav > li {
	background:url(../images/menu/submenu/divide.jpg)/*tpa=http://www.sempra.com/images/menu/submenu/divide.jpg*/ no-repeat left bottom;
	padding-bottom:2px;
}
.subpage #side-nav div > a {
	color:#fff;
}
.subpage #side-nav div.expanded > a {
	background:url(../images/menu/submenu/plus.png)/*tpa=http://www.sempra.com/images/menu/submenu/plus.png*/ no-repeat 208px center;
}
.subpage #side-nav .active-trail div.expanded > a {
	background-image:url(../images/menu/submenu/minus.png)/*tpa=http://www.sempra.com/images/menu/submenu/minus.png*/;
}
.subpage #side-nav li ul {
	display:none;
	background:url(../images/menu/submenu/menu_bkg-active-shade.png)/*tpa=http://www.sempra.com/images/menu/submenu/menu_bkg-active-shade.png*/ no-repeat 0 0;
	padding:10px 0 10px 15px;
}
.subpage #side-nav li.active-trail div, .subpage #side-nav li div:hover {
	background:url(../images/menu/submenu/menu_bkg-active.jpg)/*tpa=http://www.sempra.com/images/menu/submenu/menu_bkg-active.jpg*/ repeat-y;
}
.subpage #side-nav li.active-trail div > a, .subpage #side-nav li div > a:hover {
	color:#039;
}
.subpage #side-nav li.active-trail ul {
	display:block;
}
/* Right Section */
.subpage .right-section {
	width:700px;
	padding-left:20px;
	padding-top:25px;
}
.full .right-section {
	width:auto;
	padding-right:20px;
}
.with-image .right-section {
	padding-right:0;
}


/* Content */
.subpage #main {
	border-top:3px solid #e7eff1;
	padding-top:1px;
}
.subpage #content img {
	float:left;
	margin:1em 1.9em 1em 0;
}
#breadcrumbs {
	padding-bottom:30px;
	float:left;
}
#breadcrumbs li {
	float:left;
	font-size:10px;
	padding-right:7px;
	color:#0193D5;
	height:14px;
	text-transform:capitalize;
}
#breadcrumbs a {
	color:#555;
	text-decoration:none;
	padding-right:13px;
	background:url(../images/subpage/breadcrumb-arrow.jpg)/*tpa=http://www.sempra.com/images/subpage/breadcrumb-arrow.jpg*/ no-repeat right 3px;
}
#breadcrumbs a:hover {
	text-decoration:underline;
}
.content-nav a {
	color:#0193d5;
}
.content-nav a:hover, .content-nav a.active {
	color:#555;
}
.right-section aside {
	float:right;
	position:relative;
	top:-26px;
	padding-bottom:200px;
	margin-left:35px;
	background:url(../images/subpage/bkg_right-img.jpg)/*tpa=http://www.sempra.com/images/subpage/bkg_right-img.jpg*/ repeat-x left bottom;
}
.right-section aside img {
	display:block;
	max-width:200px;
}

.right-section aside .foundation {
	float:right;
	position:relative;
	top:-26px;
	padding-bottom:200px;
	margin-left:35px;
}
.right-section aside .foundation img {
	display:block;
	max-width:200px;
}

/* Footer */
#footer {
	padding-top:20px;
}
#footerNav li.first {
	padding-left:0;
}
.disclaimer {
	clear:both;
	color:#b7b7b7;
	font-size:.7em;
	padding-top:20px;
}
/* Forms */
input[type=text], select, option {
	color:#00a3dd;
}
select {
	font-size:1.1em;
}
#header input {
	float:left;
}
#header input[type=text] {
	background:url(../images/universal/bkg_input.png)/*tpa=http://www.sempra.com/images/universal/bkg_input.png*/ no-repeat left top;
	border:none;
	height:14px;
	padding:4px 10px 4px 20px;
	display:block;
}
input[type=submit] {
	cursor:pointer;
}
#header input[type=submit] {
	background:url(../images/universal/btn_submit-arrow.png)/*tpa=http://www.sempra.com/images/universal/btn_submit-arrow.png*/ no-repeat;
	width:28px;
	height:22px;
	border:none;
	text-indent:-999px;
	overflow:hidden;
	/* IE fix */
	font-size: 0; 
	display:block; 
	line-height: 0;
}
#header form {
	float:right;
}
#header label {
	display:none;
}
/* content tables */
thead td {
	background-color:#064ba8;
	color:#fff;
	font-weight:bold;
}
table td {
	padding:3px 5px;
}
/* stock feed */
.stock-feed a {
	text-decoration:none;
	color:#fff;
}
.stock-feed img {
	margin-bottom:-2px;
}
#topNav .stock-feed {
	padding-top:5px;
	padding-right:25px;
}
#topNav .stock-feed a {
	font-family: Verdana, Geneva, sans-serif;
	color:#666;
}
/* Universal Elements */
.section {
	float:left;
}
.block {
	padding:15px 20px;
}
.hidden-text {
	overflow:hidden;
	text-indent:-999px;
}
.block-left {
	float:left;
	margin-right:10px;
}
.block-right {
	float:right;
	margin-left:10px;
}
.arrow-link {
	display:block;
	font-size:.9em;
	font-weight:bold;
	padding:13px 17px 0;
	background: transparent url(../images/universal/link-arrow.jpg)/*tpa=http://www.sempra.com/images/universal/link-arrow.jpg*/ left bottom no-repeat;
}



.slide-1 .arrow-link {
	color:#fff;
}

.slide-2 .arrow-link {
	color:#003399;
}

.slide-2 h1{
	color:#003399;
}

.arrow-video {
	display:block;
	font-size:.9em;
	font-weight:bold;
	padding:13px 17px 0;
	background: transparent url(../images/universal/link-video.jpg)/*tpa=http://www.sempra.com/images/universal/link-video.jpg*/ left bottom no-repeat;
}

a .arrow-video{
	color:#fff;
	text-decoration:underline;
}

.arrow-video-inside {
	display:block;
	font-size:.9em;
	font-weight:bold;
	padding:13px 17px 0;
	background: transparent url(../images/universal/link-video.jpg)/*tpa=http://www.sempra.com/images/universal/link-video.jpg*/ left bottom no-repeat;
}

a .arrow-video-inside{
	color:#0193d5;
	text-decoration:underline;
}


#content .pdf {
	background:url(../images/universal/pdf-icon.jpg)/*tpa=http://www.sempra.com/images/universal/pdf-icon.jpg*/ right center no-repeat;
	padding-right:27px;
	margin-right:3px;
}

#content .pdf2 {
	background:url(../images/universal/pdf-icon.jpg)/*tpa=http://www.sempra.com/images/universal/pdf-icon.jpg*/ no-repeat;
	padding-right:0px;
	margin-right:0px;
}

/* Body Structure */
html, body {
	background:#fdfdfd url(../images/universal/bkg_body.jpg)/*tpa=http://www.sempra.com/images/universal/bkg_body.jpg*/ repeat-y center top;
}
#page {
	width:966px;
	position:relative;
	margin:0 auto;
	padding:25px 0;
}
section {
	display:block;
}
/* Clearfix */
.clearfix:after {
	clear: both;
	display: block;
	content: ".";
	height: 0;
	visibility: hidden;
}

* html > body .clearfix {
	width: 100%;
	display: block;
}

* html .clearfix {
	height: 1%;
}

.clearfix2 {
	height: 122px;
}
/* Selected Outlines */
a:focus { 
    outline: none; 
    border:none;
}
input, input:focus {
	outline:none;
}
button:focus::-moz-focus-inner,
input[type="reset"]:focus::-moz-focus-inner,
input[type="button"]:focus::-moz-focus-inner,
input[type="submit"]:focus::-moz-focus-inner,
input[type="file"] > input[type="button"]:focus::-moz-focus-inner {
    border:none;
}
iframe {
	border:none;
}
.homepage iframe {
	height:100%;
}



/* homepage image slider */
#slider {
	width:458px;
	height:476px;
	list-style: none;
}
div.anythingSlider {
	display: block;
	margin: 0 auto;
	overflow: visible !important; /* needed for Opera and Safari */
	position: relative;
}
div.anythingSlider .anythingWindow {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
}
.anythingBase {
	max-width: 32766px;
	background: transparent;
	list-style: none;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}
.anythingBase .panel {
	background: transparent;
	display: block;
	overflow: hidden;
	float: left;
	padding: 0;
	margin: 0;
	position:relative;
}
div.anythingSlider .arrow {
	top: 50%;
	position: absolute;
	display: block;
	visibility:hidden;
}
div.anythingSlider:hover .arrow {
	visibility:visible;
}
div.anythingSlider .arrow a {
	display: block;
	height: 40px;
	margin: -20px 0 0 0;
	width: 35px;
	text-align: center;
	outline: 0;
	background: url(../images/homepage/slideshow/default.png)/*tpa=http://www.sempra.com/images/homepage/slideshow/default.png*/ no-repeat;
}
div.anythingSlider .arrow a span {
	display: block; text-indent: -9999px;
}
div.anythingSlider .back { 
	left: 0;
}
div.anythingSlider .back a {
	background-position: left top;
}
div.anythingSlider .back a:hover, div.anythingSlider .back a.hover {
	background-position: left -75px;
}
div.anythingSlider .forward {
	right: 0;
}
div.anythingSlider .forward a {
	background-position: right top;
}
div.anythingSlider .forward a:hover, div.anythingSlider .forward a.hover {
	background-position: right -75px;
}
div.anythingSlider .forward.disabled, div.anythingSlider .back.disabled {
	display: none;
}
div.anythingSlider .anythingControls .anythingNavWindow {
	overflow: hidden; float: left;
}
div.anythingSlider .start-stop {
	display:none !important;
}
div.anythingSlider, div.anythingSlider .anythingWindow, div.anythingSlider .anythingControls ul a, div.anythingSlider .arrow a, div.anythingSlider .start-stop {
	transition-duration: 0;
	-o-transition-duration: 0;
	-moz-transition-duration: 0;
	-webkit-transition-duration: 0;
}

#news-selection {
	margin-left:0px;
	width:300px;
	}

sup {
	font-size:8px;
	}	
	
sup .size {
	font-size:10px;
	}	

.res-pop {
	margin-left:20px;
	margin-right:20px;
	line-height:17px;	
}

.res-pop2 {
	margin-left:20px;
	margin-right:20px;
	line-height:17px;
	color:#0193d5;	
}

.right {
	float:right;
	margin-left:15px;
}
	
div.clear {clear:both;}



.color-blue {
	color:#0092D4;
	}

.arrow-linkcr {
	display:block;
	font-size:.9em;
	font-weight:bold;
	padding:13px 0px 0px 30px;
	background: transparent url(../images/universal/cr-link-arrow.jpg)/*tpa=http://www.sempra.com/images/universal/cr-link-arrow.jpg*/ left center no-repeat;
}

.arrow-linkcr2 {
	display:block;
	font-size:.9em;
	font-weight:bold;
	padding:10px 0px 0px 20px;
	background: transparent url(../images/universal/cr-link-arrow-blank.jpg)/*tpa=http://www.sempra.com/images/universal/cr-link-arrow-blank.jpg*/ left center no-repeat;
}

.arrow-linkcr3 {
	display:block;
	font-size:.9em;
	font-weight:bold;
	padding:10px 0px 0px 20px;
	background: transparent url(../images/universal/cr-link-arrow-blank.jpg)/*tpa=http://www.sempra.com/images/universal/cr-link-arrow-blank.jpg*/ left bottom no-repeat;
}

.arrow-linkspot {
	display:block;
	font-size:.9em;
	font-weight:bold;
	padding:10px 0px 0px 20px;
	background: transparent url(../images/universal/cr-link-arrow-blank.jpg)/*tpa=http://www.sempra.com/images/universal/cr-link-arrow-blank.jpg*/ left bottom no-repeat;
}


.cr-link {font-size:.9em;
	font-weight:bold;}
	
#crbg 
	{background: transparent url(../images/responsibility/cr-bg.jpg)/*tpa=http://www.sempra.com/images/responsibility/cr-bg.jpg*/ no-repeat;
	width:197px;
	height:65;

}

.cr-chart {
	width:300px;
	float:left;
}

.cr-chart p {
	margin:15px 0px 0px 0px;
}
	
.cr-clear {
	width:500px;
	float:left;
}

#cr-bottom 
	{background: transparent url(../images/responsibility/cr-bottom.jpg)/*tpa=http://www.sempra.com/images/responsibility/cr-bottom.jpg*/ no-repeat;
	width:200px;
	height:12;

}

#cr-middle 
	{background: transparent url(../images/responsibility/cr-middle.jpg)/*tpa=http://www.sempra.com/images/responsibility/cr-middle.jpg*/ repeat-y;
	width:200px;

}

#cr-middle2 
	{background: transparent url(../images/responsibility/cr-middle-blank.jpg)/*tpa=http://www.sempra.com/images/responsibility/cr-middle-blank.jpg*/ repeat-y;
	width:200px;

}

#cr-middle3 
	{background: transparent url(../images/responsibility/cr-middle-blank.jpg)/*tpa=http://www.sempra.com/images/responsibility/cr-middle-blank.jpg*/ repeat-y;
	width:300px;

}

sup{font-size:11px;vertical-align:top;}

p .report_text {
	color:#0092d4;
	font:1.2em Interstate;
	margin:1em 0;
}

.arrow-link_report {
	display:inline;
	font-size:.9em;
	font-weight:bold;
	padding:13px 17px 0;
	background: transparent url(../images/universal/link-arrow.jpg)/*tpa=http://www.sempra.com/images/universal/link-arrow.jpg*/ left bottom no-repeat;
}

.arrow-link_report hover {
	display:inline;
	font-size:.9em;
	font-weight:bold;
	padding:13px 17px 0;
	background: transparent url(../images/universal/link-arrow.jpg)/*tpa=http://www.sempra.com/images/universal/link-arrow.jpg*/ left bottom no-repeat;
}

.smallfont {
	font:9px;
}

.awards {
	color: #0193d5;
}
