/*

   C O R P O R A T E
  -------------------
   skin.css
  
*/

/*----------------------------------------------
= color
================================================ */
  /* 
    light gray  =  #eceef0
    dark blue   =   #415669
    light blue   =   #6699cc
  */

/*----------------------------------------------
= base
================================================ */

@media screen and (min-width: 600px){

  body {
    background: #eceef0;
    font: 12px/18px Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
  }

  h1, h2, h3, h4, h5, h6 {
    color: #415669;
    font-weight: normal;
    margin-bottom: 18px;
  }

  h2 { font-size: 28px; line-height: 30px; }

  h3 { font-size: 24px; line-height: 26px; }

  h4 { font-size: 21px; line-height: 23px; }

  h5 { font-size: 16px; line-height: 18px; }

  h6 { 
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 16px;
    text-transform: uppercase;
  }

  #footer h4 {
    border-bottom: 1px solid #415669;
    font-size: 12px;
    margin-bottom: 6px;
  }

  p, ul, ol {  color: #333e47; margin-bottom: 18px; }

  #content-main p, #content-main li {
    font-size: 14px;
    line-height: 24px;
    text-align: justify;
  }

  p.intro { font-weight: bold; }

  ul { color: #bfcac8; list-style: square; }

  ul li { color: #333e47;  }

  ol { list-style: decimal; }

  a { color: #415669; }

  a:hover,
  a:focus {
    color: #6699cc;
  }

  strong { font-weight:bold; }

  em, dfn { font-style:italic; }

  sup, sub { line-height:0; }

  table { margin: 0 0 18px; width:100%;  }

  th { background: #ccc; color: #525252; font-weight: bold; text-align: left; }
  th, td, caption { padding: 3px 5px 3px 0; vertical-align: top; }

  tr:nth-child(odd) td { background: #e8e8e8; }

  .btn {
    background: url(../images/template/read-more.png)/*tpa=http://corpinc.prod.ehc.com/themes/corp/design/images/template/read-more.png*/ 0 0;
    border: 1px solid #7089a0;
    color: #eceef0;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    line-height: 10px;
    margin-left: 10px;
    padding: 5px 5px 7px 10px;
    position: relative;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  }

  .btn:hover {
    background-position: 0 -23px;
    color: #2b5478;
  }

  .btn .arrow {
    background: url(../images/template/read-more.png)/*tpa=http://corpinc.prod.ehc.com/themes/corp/design/images/template/read-more.png*/ 100% 0;
    float: right;
    height: 23px;
    right: -12px;
    position: absolute;
    top: 0;
    width: 12px;
    z-index: 1;
  }

  .btn:hover .arrow {
    background-position: 100% -23px;
    cursor: pointer;
  }


  .left-shadow,
  .right-shadow {
    background-repeat: no-repeat;
    background-position: 0 0;
    height: 307px;
    position: absolute;
    top: 0;
    width: 18px;
  }

  #interior .left-shadow,
  #interior .right-shadow {
    top: -26px;
  }

  .left-shadow { background-image: url(../images/template/shadow-left.png)/*tpa=http://corpinc.prod.ehc.com/themes/corp/design/images/template/shadow-left.png*/; left: -18px; }

  #interior .left-shadow { left: -22px; }

  .right-shadow { background-image: url(../images/template/shadow-right.png)/*tpa=http://corpinc.prod.ehc.com/themes/corp/design/images/template/shadow-right.png*/; right: -18px; }

  #interior .right-shadow { right: -22px; }

  /*----------------------------------------------
  = header
  ================================================ */
  #header-wrap {
    background: #415669 url(../images/template/header-wrap-bg.gif)/*tpa=http://corpinc.prod.ehc.com/themes/corp/design/images/template/header-wrap-bg.gif*/ repeat-x 0 100%;
  }

  #header .nav-sub li {
    list-style: none;
  }

  #header .nav-sub a {
    background-color: #3e4f60;
    border: 1px solid #4f6273;
    color: #fff;
    padding: 3px 7px;
    text-decoration: none;
  }

  #header .nav-sub a:hover {
    background-color: #4d677e;
  }


  #site-search input[type="text"] {
    background-color: #4d677e;
    border: 1px solid #697887;
    border-right: 0;
    color: #eceef0;
    display: block;
    float: left;
    font-size: 11px;
    font-style: italic;
    height: 14px;
    line-height: 14px;
    padding: 2px 5px 3px;
    text-transform: lowercase;
    width: 164px;
  }

  #site-search input[type="text"]:focus {
    border: 1px solid rgba(255, 255, 255, .2);
    border-right: 0;
    -moz-box-shadow: 0 0 5px rgba(55,63,73,1);
    -o-box-shadow: 0 0 5px rgba(55,63,73,1);
    -webkit-box-shadow: 0 0 5px rgba(55,63,73,1);
    box-shadow: 0 0 5px rgba(55,63,73,1);
  }

  #site-search button {
    background: url(../images/template/site-search-btn.png)/*tpa=http://corpinc.prod.ehc.com/themes/corp/design/images/template/site-search-btn.png*/ no-repeat 0 -1px;
    border: 1px solid #697887;
    cursor: pointer;
    float: left;
    height: 21px;
    text-indent: -5000px;
    width: 25px;
  }

  #site-search button:hover {
    background-position: 0 -23px;
  }

  #site-search input[type="text"],
  #site-search input[type="text"]:focus,
  #site-search button {
    -webkit-appearance: none;
  }
  
  /*----------------------------------------------
  = social media
  ================================================ */

    .ui-tabs-nav li:nth-child(2) {display:none;}

    #header .nav-sub {
      width:315px !important;
      /*width:200px !important;*/
    }

    #header .nav-sub li.badge a, #header .nav-sub li.badge a:visited{
      display:block;
      width: 23px;
      height:23px;
      text-indent:-5000px;
      float:left;
      padding:0;
      margin:-3px 0 0 0;
      background-color:transparent !important;
      border:none !important;
      -moz-border-radius: 5px;
      -o-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      background-image: url(../images/template/badges-sprite.png)/*tpa=http://corpinc.prod.ehc.com/themes/corp/design/images/template/badges-sprite.png*/;
      background-repeat:no-repeat;
      background-position: 200px 0;
      /*display:none;*/
    }

    #header .nav-sub li.badge a:hover{
      outline:0px solid #4F6273;
    }

    /* FACEBOOK BADGE ===== */
    #header .nav-sub li.badge a.fb{
      background-position: -1px -29px;}  
    #header .nav-sub li.badge a.fb:hover{
      background-position: -1px -1px;}
    /* === */

    /* TWITTER BADGE ===== */
    #header .nav-sub li.badge a.tw{
      background-position: -33px -29px;}
    #header .nav-sub li.badge a.tw:hover{
      background-position: -33px -1px;}
    /* === */

    /* WORDPRESS BADGE ===== */
    #header .nav-sub li.badge a.wp{
      background-position:-63px -29px;}  
    #header .nav-sub li.badge a.wp:hover{
      background-position: -63px -1px;}
    /* === */

    /* YOUTUBE BADGE ===== */
    #header .nav-sub li.badge a.yt{
      background-position: -92px -29px;}
    #header .nav-sub li.badge a.yt:hover{
      background-position: -92px -1px;}
    /* === */


    .caption {
      background-color: rgba(92, 111, 116, .75);
      bottom: -20px;
      color: white;
      font-size: 14px;
      left: 10px;
      padding: 10px;
      position: absolute;
      z-index: 5;
      text-shadow: -1px -1px 2px #333, 1px 1px 2px#333;
      width:460px;

    }

    .caption .txt{
      margin:20px;
      float:left;
    }

    .caption .btn{
      font-size:12px;
      float:right;
      margin:10px 10px 0 0;
    }
    
/* -------------------- START 05-2012 SOCIAL*/

/* for facebook to shorten feed display */

#home #social-feeds-widget .ellipsis {
  height:42px;
  overflow: hidden;
  text-overflow: ellipsis;
 /* white-space:nowrap; */
  -o-text-overflow: ellipsis;  /* required for Opera */
  -ms-text-overflow: ellipsis;  /* required for IE8, allegedly */
  -moz-binding: url('Unknown_83_filename#ellipsis')/*tpa=http://corpinc.prod.ehc.com/themes/corp/design/css/ellipsis.xml#ellipsis*/;    /* for Firefox; details here */
}

#home #social-feeds-widget .content img{
  display:none;
}

.ie7#home #social-feeds-widget #twitter-pane ul p{
  height:60px;
}

#home #social-feeds-widget{
  float: left;
  margin-top: 10px;
  margin-left:20px;
  width: 30%;
}

#home #social-feeds-widget h2{
  font-size:1.9em;
  margin-bottom:5px;
}

#home #social-feeds-widget #twitter-pane,
#home #social-feeds-widget #youtube-pane,
#home #social-feeds-widget #facebook-pane,
#home #social-feeds-widget #wordpress-pane
{
  clear:both;
  overflow:hidden;
  margin:0;
  padding:10px 0 0 0;
  border-top:1px solid #fff;
  line-height:1.2em;
}

#home #social-feeds-widget #twitter-pane a h3,
#home #social-feeds-widget #youtube-pane a h3,
#home #social-feeds-widget #facebook-pane a h3,
#home #social-feeds-widget #wordpress-pane a h3
{
  background:transparent url('../images/template/feeds-sprite.png')/*tpa=http://corpinc.prod.ehc.com/themes/corp/design/images/template/feeds-sprite.png*/ no-repeat 0 0;
}

#home #social-feeds-widget #twitter-pane a h3{
  background-position: -7px -60px;
}

#home #social-feeds-widget #twitter-pane a:hover h3{
  background-position: -7px -10px;
}

#home #social-feeds-widget #facebook-pane a h3{
  background-position: -56px -60px;
}

#home #social-feeds-widget #facebook-pane a:hover h3{
  background-position: -56px -10px;
}

#home #social-feeds-widget #youtube-pane a h3{
  background-position: -104px -60px;
}

#home #social-feeds-widget #youtube-pane a:hover h3{
  background-position: -104px -10px;
}

#home #social-feeds-widget #wordpress-pane a h3{
  background-position: -153px -60px;
}

#home #social-feeds-widget #wordpress-pane a h3{
  background-position: -153px -10px;
}

#home #social-feeds-widget #twitter-pane h3, 
#home #social-feeds-widget #facebook-pane h3,
#home #social-feeds-widget #youtube-pane h3,
#home #social-feeds-widget #wordpress-pane h3{
  text-indent:-5000px;
  height:45px;
  width:43px;
  float:left;
  padding:0;
  margin-right:10px;
  
}

#home #social-feeds-widget .rss-link{
  display:none;
}

#home #social-feeds-widget ul{
  list-style:none;
  float:left;
  width:80%;
  margin-bottom:0;
}

#home #social-feeds-widget ul p{
  color:#667685;
  margin-bottom:5px;
}

#home #social-feeds-widget span.date{
  font-weight:bold;
  font-size:.9em;
}

#home #social-feeds-widget a, 
#home #social-feeds-widget a:link, 
#home #social-feeds-widget a:visited{
  text-decoration:none;
  color:#6ba2c1;
}
#home #social-feeds-widget a:hover{
  color:#415669;
}

#home #footer-wrap #site-info{
  border-top: 1px solid #ffffff;
  clear: both;
  float: none;
  margin: 30px 0 60px 10px;
  padding-top: 13px;
  width: 100%;
}


/* -------------------- END 05-2012 SOCIAL*/
    
  /* ----> End SOCIAL */

  /*----------------------------------------------
  = navigation
  ================================================ */
  #nav-main a {
    color: #6fa1cb;
    text-decoration: none;
  }

  #nav-main a:hover {
    color: #eceef0;
  }

  #nav-main ul {
    margin: 0;
  }

  #nav-main li {
    list-style: none;
  }

  /*----------------------------------------------
  = promo
  ================================================ */
  #promo,
  .promo-image {
    height: 560px;
    width: 970px;
  }

  .promo-image { visibility: hidden; }
  .promo-image .1 { visibility: visible; }

  #promo { position: relative; }
  .promo-image, .promo-image img { position: absolute; }

  .promo-image img {
    left: 0;
    top: 0;
    z-index: 1;
  }

  #promo h2 {
    color: #fff;
    font: normal 40px/40px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 64px 0 0 48px;
    position: relative;
    width: 320px;
    z-index: 5;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
  }

  #home #content-main {
    border: 4px solid #eceef0;
    border-bottom: 0;
  }

  #content .nav-sub li {
    background: url(../images/template/arrow.png)/*tpa=http://corpinc.prod.ehc.com/themes/corp/design/images/template/arrow.png*/ no-repeat 0 9px;
    list-style: none;
    padding-left: 10px;
  }

  .sections {
    position: absolute;
    right: 20px;
    top: 18px;
    z-index: 50;
  }

  .wrap {
    background-color: rgba(19, 18, 18, .4);
    display: block;
    overflow: hidden;
    padding: 24px 24px 6px 24px;
    width: 252px;
  }

  .sections ul a {
    color: #fff;
    text-decoration: none;
  }

  .sections ul a:hover {
    color: #6699cc;
    text-decoration: underline;
  }

  .sections h3 { margin: 0; }

  .sections h3 a {
    background-color: rgba(19, 18, 18, .7); 
    background-image: url(../images/template/sections-arrow.gif)/*tpa=http://corpinc.prod.ehc.com/themes/corp/design/images/template/sections-arrow.gif*/;
    background-position: 0 -42px;
    background-repeat: no-repeat;
    border: 1px solid rgba(255, 255, 255, .1);
    color: #6699cc;
    display: block;
    font-size: 16px;
    margin: 10px 0 0 0;
    padding: 16px 10px 16px 42px;
    text-decoration: none;
    width: 248px;
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, .8);
    -o-box-shadow: 0px 0px 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, .8);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .8);
  }

  .sections h3.ui-state-active a {
    background-position: 0 -160px;
    color: #efefef;
  }

  .sections h3 a:hover { color: #efefef; }

  .caption {
    background-color: rgba(92, 111, 116, .27);
    bottom: -20px;
    color: #fff;
    font-size: 10px;
    left: 10px;
    padding: 5px 20px 5px 10px;
    position: absolute;
    z-index: 5;
  }

  .tooltip {
    background: url(../images/template/tooltip.png)/*tpa=http://corpinc.prod.ehc.com/themes/corp/design/images/template/tooltip.png*/;
    color: #fff;
    display: none;
    font-size: 12px;
    height: 213px;
    padding: 30px 30px 10px 30px;
    width: 310px;
  }

  /*----------------------------------------------
  = interior
  ================================================ */
  #crumb-trail a { color: #6fa1cb; text-decoration: none; }

  #crumb-trail ul { float: left; margin: 5px 0 0 0; }

  #crumb-trail li,
  #page-tools li {
    color: #4d677e;
    float: left;
    list-style: none;
  }

  #crumb-trail a:after { content: "\002F"; margin: 0 3px; }

  #page-tools { float: right; margin: 3px 0 0 0; }

  #addthis,
  #print {
    background-position: 0 0;
    background-repeat: no-repeat;
    float: left;
    height: 22px;
    width: 23px;
    text-indent: -5000px;
  }

  #addthis { background-image: url(../images/template/addthis.png)/*tpa=http://corpinc.prod.ehc.com/themes/corp/design/images/template/addthis.png*/; margin-right: 6px; }
  #print { background-image: url(../images/template/print.png)/*tpa=http://corpinc.prod.ehc.com/themes/corp/design/images/template/print.png*/; }

  /* AddThis */
  /* main dropdown container */
  #at15s {
    background-color: #efefef;
    border: 4px solid #415669;
    padding: 7px 10px 10px;
    right: 0;
    width: 200px;
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
    -o-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
    box-shadow: 0px 0px 5px rgba(0,0,0,.8);
    -webkit-background-clip: padding-box; /* fixes background bleed */
  }

  #at15s_head {
    margin-bottom: 7px;
  }

  /* Bookmark & Share Text */
  #at15ptc {
    color: #999;
    font-size: 12px;
    display: inline-block;
  }

  /* close button */
  #at15sptx {
    background-color: #415669;
    color: #efefef;
    float: right;
    font-size: 10px;
    padding: 0 4px 0;
    text-decoration: none;
  }

  #at15sptx:hover { background-color: #6699cc; color: #fff; }

  /* promo message after success */
  #at_pspromo, #at_testpromo, .at-promo-single { display: none; }

  /* Share Successful Text */
  .at15s_head_success #at15ptc { font-size: 16px; }

  /* sharing links w icons */
  .at15t {
    background:url("../../../../../s7.addthis.com/static/r07/widget22.png")/*tpa=http://s7.addthis.com/static/r07/widget22.png*/ no-repeat scroll 0 0 transparent;
    color: #415669;
    cursor: pointer;
    display: block !important;
    margin: 3px 0 5px;
    line-height: 16px !important;
    padding-left: 20px !important;
  }

  .at15t:hover { background-color: #ccc; }

  .at15t_facebook { background-position:0 -976px; }

  .at15t_twitter { background-position:0 -864px; }

  .at15t_myspace { background-position:0 -800px; }

  .at15t_favorites { background-position:0 -512px; }

  .at15t_google { background-position:0 -720px; }

  .at15t_digg { background-position:0 -1088px; }

  .at15t_delicious { background-position:0 -688px; }

  .at15t_stumbleupon { background-position:0 -1200px; }

  .at15t_live { background-position:0 -1856px; }

  .at15t_yahoomail { background-position:0 -1312px; }

  .at15t_more { background-position:0 -1008px; }

  /* Get Addthis Extension, Privacy */
  #at16pf {
    font-size: 10px;
  }

  #at16pf a {
    margin-right: 5px;
  }

  #content-head {
    background: url(../images/template/content-head-bg.gif)/*tpa=http://corpinc.prod.ehc.com/themes/corp/design/images/template/content-head-bg.gif*/ repeat-x 0 0;
    border-top: 1px solid #465866;
  }

  #interior #content {
    background-color: #fff;
  }

  #content-sub {
    background: url(../images/template/content-sub-bg.png)/*tpa=http://corpinc.prod.ehc.com/themes/corp/design/images/template/content-sub-bg.png*/ no-repeat 0 0;
    min-height: 293px;
  }

  #section h1 {
    color: #efefef;
    font: normal 40px/40px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    left: 48px;
    position: absolute;
    top: 224px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
    z-index: 5;
  }

  .pages {
    background: #212222 url(../images/template/pages-bg.png)/*tpa=http://corpinc.prod.ehc.com/themes/corp/design/images/template/pages-bg.png*/ no-repeat 50% 10px;
    float: right;
    min-height: 246px;
    padding: 27px 0 0 30px;
    width: 217px;
  }

  #content .pages.nav-sub li { background: url(../images/template/arrow.png)/*tpa=http://corpinc.prod.ehc.com/themes/corp/design/images/template/arrow.png*/ no-repeat 0 5px; }

  .pages a { color: #fff;  text-decoration: none; }
  .pages a:hover { color: #6699cc; }

  .section-image {
    float: left;
    margin: 0;
    padding: 0;
  }

  /* content sub elements */
  .press, 
  .careers {
    height: 160px;
    margin: 12px 0;
    padding: 10px 10px 5px;
    width: 201px;
  }

  /* Press Kit */
  .press {
    background: #f8f6f6 url(../images/template/press/press-kit.jpg)/*tpa=http://corpinc.prod.ehc.com/themes/corp/design/images/template/press/press-kit.jpg*/ no-repeat 10px 10px;
  }

  .press h3,
  .press p {
    margin-left: 90px;
  }

  .press h3 {
    color: #494e5c;
    font-size: 16px;
  }

  .press p { line-height: 18px; }

  .press .btn { margin-left: 117px; }

  /* Careers Button */
  .careers {
    background: url(../images/template/careers/careers.jpg)/*tpa=http://corpinc.prod.ehc.com/themes/corp/design/images/template/careers/careers.jpg*/ no-repeat;
  }

  .careers p,
  .careers h3 {
    color: #fff;
    margin: 5px 0 0 100px;
  }

  .careers h3 { font-size: 16px; }

  .careers .btn { margin: 80px 0 0 117px; }

  /*----------------------------------------------
  = facility search
  ================================================ */
  #facility-search { margin-top: 20px; min-height: 500px; }

  #facility-search li {
    border-bottom: 1px solid #ccc;
    list-style: none;
    padding: 20px 0 0 20px;
  }

  .highlighted { background-color: #e9ebed; }

  #facility-search li:last-child { border: 0; }

  #facility-search h3 {
    font-size: 21px;
    margin-bottom: 5px;
  }

  #facility-search h3 a { text-decoration: none; }

  #facility-search p { line-height: 21px; }

  /*----------------------------------------------
  = footer
  ================================================ */
  #footer {
    background: url(../images/template/footer-wrap-bg.gif)/*tpa=http://corpinc.prod.ehc.com/themes/corp/design/images/template/footer-wrap-bg.gif*/ repeat-x 0 0;
    border-top: 1px solid #b8bab9;
  }

  #footer .nav-sub a {
    text-decoration: none;
  }

  #footer .nav-sub a:hover {
    text-decoration: underline;
  }

  #footer .nav-sub li {
    list-style: none;
  }

  .ui-tabs-hide {
    display:none !important;
  }

  .ui-tabs-nav {
    margin: 0;
  }

  .ui-tabs-nav li {
    float: left;
  }

  .ui-tabs-nav a {
    background-color: #b3b4b6;
    color: #eceef0;
    float: left;
    font-size: 16px;
    font-weight: normal;
    margin-right: 5px;
    padding: 7px 10px;
    text-decoration: none;
  }

  #footer .ui-tabs-nav a:hover {
    color: #415669;
    text-decoration: none;
  }

  .ui-tabs-selected a,
  #footer .ui-tabs-nav .ui-tabs-selected a:hover {
    background-color: #cccdcf;
    color: #415669;
  }

  .ui-tabs-panel {
    background-color: #cccdcf;
    clear: both;
    padding: 12px 10px;
    width: 604px;
  }

  #tabs-3 img { float: left; margin: 20px 20px 20px 0; }

  small, .vcard {
    color: #414141;
    display: block;
    font: 11px/16px Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
  }


  /*----------------------------------------------
  = ie7 fixes
  ================================================ */
  .ie7 #nav-main { float: right; width: 650px; }

  .ie7 .wrap { width: 252px; }

  .ie7 .sections li,
  .ie7 .sections ul {
    padding-left: 10px;
  }

  .ie7 .sections div { overflow: hidden; }

  .ie7 .caption span.text { float: left; margin-right: 10px; }

  .ie7 #crumb-trail li { margin-right: 10px; }

  .ie7 #content .pages.nav-sub li {  background-position: 0 7px; border: 1px solid transparent; }

  /*----------------------------------------------
  = browser degradation
  ================================================ */

  .no-rgba .sections h3 {
    background: url(../images/template/sections-dark-bg.png)/*tpa=http://corpinc.prod.ehc.com/themes/corp/design/images/template/sections-dark-bg.png*/ repeat 0 0;
  }

  .no-rgba .wrap {
    background: url(../images/template/sections-bg.png)/*tpa=http://corpinc.prod.ehc.com/themes/corp/design/images/template/sections-bg.png*/ repeat 0 0;
  }

  .no-rgba .caption {
    background: url(../images/template/caption-bg.png)/*tpa=http://corpinc.prod.ehc.com/themes/corp/design/images/template/caption-bg.png*/ repeat 0 0;
  }

  .no-rgba .tooltip {
    background: url(../images/template/sections-dark-bg.png)/*tpa=http://corpinc.prod.ehc.com/themes/corp/design/images/template/sections-dark-bg.png*/;
    height: 203px;
  }

  /*----------------------------------------------
  = extras
  ================================================ */
  #nav-main a {   
    -webkit-transition-property: background-color, color; 
    -webkit-transition-duration: .3s; 
    -webkit-transition-timing-function: ease-in; 
  }

  #nav-main a:hover { -webkit-transition-timing-function: ease-out; }

  #header .nav-sub a,
  .press,
  .careers,
  #at15s,
  #at15sptx {
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }

  .btn,
  #site-search input[type="text"] {
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    -o-border-top-left-radius: 5px;
    -o-border-bottom-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  #site-search button {
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -o-border-top-right-radius: 5px;
    -o-border-bottom-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .ui-tabs-nav a {
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -o-border-top-left-radius: 5px;
    -o-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  input[type="text"] {
    -moz-transition: all .15s linear;
    -o-transition: all .15s linear;
    -webkit-transition: all .15s linear;
    transition: all .15s linear;
  }

}

/* MOBILE STYLES GO HERE
============================================= */

@media screen and (max-width: 600px){
  
  body{
    -webkit-text-size-adjust:none;
    -webkit-appearance: none;
    font-family:arial,sans-serif;
  }
  
  #home #content, #home #content-main{
    outline:0px solid red;
    width:100%;
  }
  
  #interior #content, #interior #content-main{
    outline:0px solid blue;
    width:100%;
    background:#fff;
  }
  
  #interior #content{
    border-top:1px solid #ccc;  
  }
  
  #interior .nav-sub, #home #social-feeds-widget{
    display:none;
  }
  
  a, a:link, a:visited, a:link:visited, a:active{
    color:#C98417;
  }
  
  #home #nav-main{
    width:96%;
    display:none;
  }
  
  #governance a, #careers a, #about a, #investors a{
    display:none;
    font-size:12px;
    display:block;
    float:left;
    color:#C98417;
    margin:0 2% 0 2%;
  }
  
  h3+p a, ul a{
    line-height:1.75em;
  }
  
  #content-sub div > a{
    margin:0 2%;
    padding:0;
    line-height:.5em;
    font-size:12px;
  }
  
  #content-sub h3{
    margin-top:20px;
  }
  
  .press p, .careers p{
    margin: 0px 2% 0px 2%;
  }
  
  h3+p a:last-child, h3+p a:last-child:visited, #tabs-2 a{
      background: url("../images/template/read-more.png")/*tpa=http://corpinc.prod.ehc.com/themes/corp/design/images/template/read-more.png*/ repeat scroll 0 0 transparent;
      border: 1px solid #7089A0;
      color: #ECEEF0;
      cursor: pointer;
      display: inline-block;
      font-size: 10px;
      font-weight: bold;
      line-height: 10px;
      margin-left: 0px;
    margin-top:10px;
    margin-bottom:10px;
      padding: 5px 2% 7px 4%;
      position: relative;
      text-decoration: none;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  }
  
  #tabs-2 a:link,#tabs-2 a:visited{
      background: url("../images/template/read-more.png")/*tpa=http://corpinc.prod.ehc.com/themes/corp/design/images/template/read-more.png*/ repeat scroll 0 0 transparent;
      border: 1px solid #7089A0;
      color: #ECEEF0;
      cursor: pointer;
      display: inline-block;
      font-size: 12px;
      font-weight: bold;
      line-height: 10px;
    margin: 10px 2% 10px 2%;
      padding: 2%;
      position: relative;
      text-decoration: none;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    width:41%;
    text-align:center;
  }
  
  #tabs-2 {    
    display:none;
  }
  
  #tabs-2 a:hover, #tabs-2 a:active{
      background: rgba(65, 86, 105, 1);

  }
  
  #tabs-3{
    background: #EFEFEF;
    outline: 1px solid #CCC;
    padding: 3px 0 5px 0;
    margin: 10px 0;
  }
  
  #tabs-3 img{
    width:29%;
    margin:2%;
  }
  
  h3+p a:first-child{
    color: #C98417;
    margin:0;
    padding:0;
    background:none;
      text-shadow: none;
    border:none;
    font-size:12px;
    font-weight:normal;
    text-decoration:underline;
  }
  
  #logo a img, #page-tools, ul.ui-tabs-nav{
    display:none;
  }
  
  #crumb-trail {
    width:95%;
    margin: 15px 2%;
    display:block;
    color:#415669;
    overflow: hidden;
  }
  
  #crumb-trail ul{
    width:99%;
    overflow: hidden;
  }
  
  #crumb-trail li{
    float:left;
    display:block;
    margin-right:2%;
    font-size:11px;
    min-width:40px;
  }
  
  #crumb-trail li a{
    line-height: 1em;
    padding-left:4%;
    padding-right:4%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display:block;
    border-right:1px solid #ccc;
    min-width:40px;
  }
  
  #crumb-trail li a:visited, #crumb-trail li a{
    color:#C98417;
    text-decoration:underline;
  }

  #logo{
    display:block;
    background-color: #415669;
    width:100%;
    height:66px;
  }
  
  #logo a {
    background: #415669 url(../images/template/logo.png)/*tpa=http://corpinc.prod.ehc.com/themes/corp/design/images/template/logo.png*/ no-repeat -3px 0;
    display:block;
    float: left;
    height: 61px;
    width: 170px;
    width:90%;
    padding:0;
    margin: 3px 0 3px 2%;
  }
  
  p, #facility_search, #facility-search #facility-search-results h2{
    margin:10px;
    font-size:12px;
    line-height:1.5em;
  }
  
  #facility-search-results > p, #facility-search #facility-search-results h2, label{
    color:#415669;
    font-size:14px;
    margin:2%;
    line-height:.9em;
    font-weight:normal;
  }
  
  #facility-search-results h3 a{
    font-size:14px;
    line-height:1em;
  }
  
  
  #content-main ul{
    font-size:12px;  
    list-style:disc;
    margin-left:2%;
    margin-top:0px;
  }
  
  #content-main ul li{
    font-size:12px;  
  }
  
  
  .section-image{
    width:100%;
  }
  
  
  .mod h4, #section h1, h3, h2, h4, #tabs-3 h4{
    color:#4a6c8b;
    font-size:17px;
    margin:2%;
    line-height:.9em;
    font-weight:normal;
    width:96%;
    border-bottom:1px solid #ccc;
  }
  
  .section, .ui-state-active{
    width: 96%;
    margin:2%;
    line-height: .9em;

  }
  
  .ui-state-active{
    background: #efefef;
  }
  
  #home .sections h3.section a{
    background: rgba(65,86,105,1) url(../images/template/arrow-button-down.png)/*tpa=http://corpinc.prod.ehc.com/themes/corp/design/images/template/arrow-button-down.png*/ no-repeat 98% 50%;
  }
  
  
  #tabs-3 h4{
    display:none;
  }
  
  h4{  
    color: rgba(65,86,105,.7); /* Chrome,Safari4+ */
    font-size:18px;
    margin:2%;
    line-height:1em;
    font-weight:normal;
    margin-top:20px;
  }
  
  #section {
    position:relative;
  }
  
  #section h1 {
    color: rgba(65,86,105,1); /* Chrome,Safari4+ */
    font: normal 20px/25px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    left: 1%;
    position: absolute;
    bottom: 0%;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
    z-index: 5;
  }
  
  
  p+h2, ul+h2, p+h3, ul+h3{
    margin-top:20px;
  }
  
  .mod ul:after {
    clear: both;
    content: " 0020";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
  
  .unit h4{
    margin: 5px 2%;
    display:block;
    outline:0px solid red;
  }
  
  .mod{
    background:#efefef;
    outline:1px solid #ccc;
    padding: 3px 0 5px 0;
    margin:10px 0;
  }
  
  .mod h4{
    clear:both;
  }
  
  
  #footer{
    margin-top:2%;
  }
  
  #footer #site-info{
    background:#656565;
    color:#fff;
    display:block;
    font-size:9px;
    padding:2%;
  }
  
  #footer #site-info a{
    color:#fff;
  }
  
  .nav-sub {
    margin-top:10px;
  }
  
  #home .nav-sub {
    margin-top:0px;
  }
  
  #home #content .nav-sub li{
    float:left;
    display:block;
    margin: 0 0 8px 2%;
    width:98%;
  }
  
  .nav-sub li:odd{
    margin-right:2%;
  }
  
/*  .nav-sub li:nth-child(1){
    display:none;
  }*/
  
  .nav-sub li a, .nav-sub li a:visited{
    
    display:block;
    background: #415669 ;
    color:#fff;
    text-decoration:none;
    font-size:12px;
    float:none;
    width:90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 2% 2% 2% 4%;
    border-radius:2px;
    -webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.7);
    box-shadow:1px 1px 1px rgba(0, 0, 0, 0.7);
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(65,86,105,.7)), color-stop(100%,rgba(65,86,105,1))); /* Chrome,Safari4+ */
  
      /*background: url("../images/template/read-more.png") repeat scroll 0 0 transparent;
    background-size: 200% 100%;
      border: 1px solid #7089A0;
      color: #ECEEF0;
      cursor: pointer;
      font-weight: bold;
      line-height: 10px;
      text-decoration: none;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);*/
  
  }
  
  .sections .wrap li a, .sections .wrap li a:visited {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(46, 44, 41, 1)), color-stop(100%,rgba(46, 44, 41, .7))) !important;
  }
  
  .unit{
    display:none;
  }
  
  .unit:last-child .mod{
    background:red;
    display:none;
  }
  
  .unit:nth-child(2) .mod{
    background: rgba(65,86,105,.25);
        display:none;
  }
  
  .unit:nth-child(2) .mod li {
    float: left;
    display: block;
    margin: 0 0 0px 2%;
    width: 99%;
  }
  
  .unit:nth-child(2) .mod li a, li a:visited {
    display: block;
    background: rgba(65,86,105,.75) url(../images/template/arrow-button.png)/*tpa=http://corpinc.prod.ehc.com/themes/corp/design/images/template/arrow-button.png*/ no-repeat 98% 50%;
    color: white;
    text-decoration: none;
    font-size: 12px;
    float: none;
    width: 92%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1% 2% 1% 4%;
    border-radius: 0px;
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.7);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0);
    border-bottom:1px solid #fff;
  }
  
  .unit:nth-child(2) .mod li a:hover{
    background: rgba(65,86,105,1) url(../images/template/arrow-button.png)/*tpa=http://corpinc.prod.ehc.com/themes/corp/design/images/template/arrow-button.png*/ no-repeat 98% 50%;  
  }

  
   .nav-sub li a:hover, .nav-sub li a:active{
    background: rgba(65,86,105,1); /* Chrome,Safari4+ */
  }
  
/*  .nav-sub li:nth-child(2) a{
    background:none; 
    color:#C98417;
    padding: 0;
    border-radius:0px;
    -webkit-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.7);
    box-shadow:0px 0px 0px rgba(0, 0, 0, 0.7);
    text-decoration:underline;
    float:left;
    width:33%;
  }*/

  form#search {
    padding: 8px 2%;
    width:96%;
    background:#efefef;
    border-bottom:1px solid #ddd;
    clear:both;
    position: relative;
  }
  
  #search input{
    opacity: .5;
    font-size: 14px;
    line-height: 14px;
  }
  
  #search input[type="text"]{
    width:70%;
  }
  
  #search button[type="submit"]{
    width:23%;
    margin: 0 0 0 2%;
    padding: 0;
    clear: inherit;
    border: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: rgba(65,86,105,.75);
    color: #fff;
    text-shadow: 0 1px 0 #666;
    /*background: #262C32 url(../images/template/site-search-btn.png) no-repeat center 0; */
    cursor: pointer;
    height: 23px;
    /*text-indent: -5000px;*/
    -webkit-appearance: none;
    position: absolute;
    right: 2%;
    top: 10px;
  }
  
  .vcard{
    margin:0 0 10px 0 ;
  }
  
  #home #nav-main, #home .sections{
    /*display:none;*/
  }
    
  #interior #nav-main, #interior .sections{
    display:none;
  }
  
  #home .sections h3 a{
    display: block;
    background: #415669;
    color: white;
    text-decoration: none;
    font-size: 12px;
    float: none;
    width: 94%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 2% 2% 2% 4%;
    border-radius: 2px;
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(65, 86, 105, .7)), color-stop(100%,rgba(65, 86, 105, 1)))
  }
  
  #home .sections h3.section .ui-active-state{
    
  }
  
  #promo {
    /*min-height:363px;*/
    background: #efefef;
    border-bottom:1px solid #ccc;
    color: #415669;
    display:none;
  }
  
  #promo img{
    width:100%;
  }
  
  #promo .text{
    display:none;
  }
  
  #promo h2{
    display:none;
  }
  
  #promo .caption .btn{
    display:none;    
  }
  
  #promo .tooltip{
    width:96%;
    padding:5px 2%;
    font-size:12px;
    overflow: hidden;
    display:none;
  }
  
  #content-wrap{
    /*background: transparent url(../images/template/site-search-btn.png) no-repeat center 0;
    padding-top:100px;*/
    width:100%;
  }
  
  #content-head{
    width:100%;
  }
  
  #content{
    width:100%;
  }
  
  #search-results-wrap {
    clear: both;
    width: 100%;
  }
  
  #search-results-page{
    font-size:12px;
  }
  
  #related-search-results{
    display:none;
  }
  
  #search-results-wrap #search-form input {
    font-size: 12px;
  }
  
  #search-results-wrap .search-header .search-buttons, #search-results-wrap .search-footer .search-buttons {
    background: none;
    border: none;
    padding: 5px 10px 0;
    -moz-border-radius-top-right: 0px;
    -moz-border-radius-top-left: 0px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-right-radius: 0px 0px;
    border-top-left-radius: 0px 0px;
  }
  
  .submitContent {
    width:100%;
    margin: 0;
    padding: 0;
    position: relative;
    border-left:20px solid #fff;
  }
  
  .submitContent  input[type="text"] {
    width: 70%;
  }
  
  .dijitTextBox {
    border: solid #ccc 1px;
    width: 10em;
  }

  .submitContent dt.formFieldLabel {
    margin: 0;
    padding: 0;
    float: left;
    display: block;
    width: 28%;
  }
  
  /* SOCIAL MEDIA */
  .locate-fac{
    display:none;
  }
  
  #home ul.nav-sub > li, #interior ul.nav-sub > li{
    margin:0;
  }
  
  /*#home ul.nav-sub > li > a { */
  #home ul.nav-sub, #interior ul.nav-sub {  
    position:absolute;
    top:15px;
    text-decoration: underline;
    float: right;
    width:40%;
    margin:0 2%;
    height:40px;
    right:0;
  }
  
  #home ul.nav-sub li a, #interior ul.nav-sub li a{  
    font-size:11px;
    right:0px;
    background: none;
    color: #6FA1CB;
    padding: 0;
    display:block;
    border-radius: 0px;
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.7);
    text-decoration: underline;
    float: right;
    width:auto;
    margin:5px 10px 0 0;
  }
  
  #header .nav-sub {
    display:block;
    width:100%;
  }
   
  #header .nav-sub li.badge a, #header .nav-sub li.badge a:visited{
    display:block;
    width: 23px;
    height:23px;
    text-indent:-5000px;
    float:right;
    padding:0;
    margin:-3px 0 0 0;
    background-color:transparent !important;
    border:none !important;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-image: url(../images/template/badges-sprite.png)/*tpa=http://corpinc.prod.ehc.com/themes/corp/design/images/template/badges-sprite.png*/;
    background-repeat:no-repeat;
    background-position: 200px 0;
    margin:0 4% 0 3%;
  }
  
  #header .nav-sub li.badge a:hover{
    outline:0px solid transparent;
  }
  
  /* FACEBOOK BADGE ===== */
  #header .nav-sub li.badge a.fb{
    background-position: -1px -29px;}  
  #header .nav-sub li.badge a.fb:hover{
    background-position: -1px -1px;}
  /* === */
  
  /* TWITTER BADGE ===== */
  #header .nav-sub li.badge a.tw{
    background-position: -33px -29px;}
  #header .nav-sub li.badge a.tw:hover{
    background-position: -33px -1px;}
  /* === */
  
  /* WORDPRESS BADGE ===== */
  #header .nav-sub li.badge a.wp{
    background-position:-63px -29px;}  
  #header .nav-sub li.badge a.wp:hover{
    background-position: -63px -1px;}
  /* === */
  
  /* YOUTUBE BADGE ===== */
  #header .nav-sub li.badge a.yt{
    background-position: -92px -29px;}
  #header .nav-sub li.badge a.yt:hover{
    background-position: -92px -1px;}
  /* === */
  
  
  
 /* END MEDIA QUERY 100% WRAP ===============*/  
}
