.dteStyle #container  {
	font:102%/1.5em Arial, Verdana, Helvetica, sans-serif;
}

.dteStyle #recommended_links ul li {   
*margin-left: -6px; /* IE7 and older */   
_margin: -6px; /* IE6 and older */ 
}

.dteStyle #container .button {
*padding: .25em .2em;
}

.dteStyle #container header .button {
*padding: .1em .2em;
}

/*IE workaround*/
/*All IE browsers*/
.dteStyle #level_1_point_5 li
{
*padding: 0 0.4em 0 0.4em;
*margin: 0 0.4em 0 -0.4em;
}

.dteStyle #level_1_point_5 {
*margin-top: 2px;
}

/*Win IE browsers - hide from Mac IE\*/
* html #level_1_point_5 { height: 1%; }
* html #level_1_point_5 li
{
*display: block;
*float: left;
}

.dteStyle #container  {
	*font:90%/1.3em Arial, Verdana, Helvetica, sans-serif;
}

.ie7 img { -ms-interpolation-mode: bicubic; }

.ie6 input { vertical-align: text-bottom; }


.dteStyle #social_media {
	*right:-18px;
	_right:-18px;	
}

.dteStyle #main_nav ul li a  {
	font-size:.95em;	
}





