/*** 
	common style.css changes
	These overrides are here so we can reuse the same style sheet for
	the portal and a static site.
***/


/*** wptheme style changes ***/
.wpthemeEditControl
{
	margin: 0;
}

.wpthemeMenuRight
{
	font-size: 0.8em;
}

.wpthemeMainContent
{
	min-height: 430px;
	height:auto !important;
}

.wpthemeLayoutContainers
{
	padding: 0;
}

.wpthemeCol
{
	margin-left: 0px;
}

/*** styles for page layout templates ***/
.dte_1Col
{
	display: block;
	width: 100%;
	overflow: hidden;
	margin-bottom: -18px;
}
.dte_Row
{
	overflow: auto;
}
.dte_2ColEqual-left
{
	width: 471px;
}
.dte_2ColEqual-right
{
	margin-left: 2px;
	width: 471px;
}
.dte_2ColLeft-left
{
	width: 756px;
}
.dte_2ColLeft-right
{
	margin-left: 2px;
	width: 187px;
}
.dte_2ColRight-left
{
	width: 187px;
}
.dte_2ColRight-right
{
	margin-left: 2px;
	width: 756px;
}
.dte_3ColCenter-left
{
	width: 187px;
}
.dte_3ColCenter-center
{
	margin-left: 2px;
	width: 567px;
}
.dte_3ColCenter-right
{
	margin-left: 2px;
	width: 187px;
}
.dte_3ColEqual-left
{
	width: 314px;
}
.dte_3ColEqual-center
{
	margin-left: 2px;
	width: 314px;
}
.dte_3ColEqual-right
{
	margin-left: 1px;
	width: 314px;
}