* html body{width:expression(document.documentElement.clientWidth < 970 ? "970px" : "auto")}

* html .logo a {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/logo.png', sizingmethod='crop');

	cursor: pointer;

}

* html .navigation {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/bg-nav.png', sizingmethod='crop');

}

* html .search-form label {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/text-search.png', sizingmethod='crop');

}

* html .search-form .txt {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/bg-input.png', sizingmethod='crop');

}

* html #menu a span {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/bg-menu.png', sizingmethod='crop');

}

* html .main-box .flash .holder {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/bg-flash-holder.png', sizingmethod='crop');

}

* html .main-box .infobox {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/bg-infobox.png', sizingmethod='crop');

}

* html .btn a {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/btn-more.png', sizingmethod='crop');

}

* html .btn a:hover {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/btn-more-over.png', sizingmethod='crop');

}

* html .visual-box .btn a {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/btn-more-s.png', sizingmethod='crop');

}

* html .visual-box .btn a:hover {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/btn-more-s-over.png', sizingmethod='crop');

}

* html .btn a.btn-more span {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/text-learn.png', sizingmethod='crop');

}

* html .btn a.btn-more:hover span {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/text-learn-over.png', sizingmethod='crop');

}

* html .main-box .infobox .heading .title {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/text-food2.png', sizingmethod='crop');

}

* html .main-box .infobox .btn-prev span,

* html .main-box .infobox .btn-next span {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/btn-slide.png', sizingmethod='crop');

}

* html .items-box {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/bg-items-box.png', sizingmethod='crop');

}

* html .gallery .text .title-pudliszki {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/text-pudliszki.png', sizingmethod='crop');

}
* html .gallery .text .title-plasmon {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/text-plasmon.png', sizingmethod='crop');

}
* html .gallery .text .title-honig {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/text-honig.png', sizingmethod='crop');

}
* html .gallery .text .title-fridays {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/text-fridays.png', sizingmethod='crop');

}
* html .gallery .text .title-smart {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/text-smart.png', sizingmethod='crop');

}

* html .gallery .text .title-circle {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/text-circle.png', sizingmethod='crop');

}
* html .gallery .text .title-master {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/text-master.png', sizingmethod='crop');

}
* html .gallery .text .title-quero {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/text-quero.png', sizingmethod='crop');

}

* html .gallery .text .title-beanz {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/text-beanz.png', sizingmethod='crop');

}

* html .gallery .text .title-salad {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/text-salad.png', sizingmethod='crop');

}

* html .gallery .text .title-ketchup {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/text-ketchup.png', sizingmethod='crop');

}
* html .gallery .text .title-abc {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/text-abc.png', sizingmethod='crop');

}
* html .gallery .text .title-complan {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/text-complan.png', sizingmethod='crop');

}
* html .gallery .text .title-complan {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/text-complan.png', sizingmethod='crop');

}
* html .gallery .text .title-classico {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/text-classico.png', sizingmethod='crop');

}
* html .gallery .text .title-watties {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/text-watties.png', sizingmethod='crop');

}
* html .gallery .text .title-oreida {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/text-oreida.png', sizingmethod='crop');

}
* html .gallery .text .title-bagelbites {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/text-bagelbites.png', sizingmethod='crop');

}


* html .visual-box .t {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/bg-visualbox-t.png', sizingmethod='crop');

}

* html .visual-box .c {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/bg-visualbox-c.png', sizingmethod='scale');

}

* html .visual-box .b {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/bg-visualbox-b.png', sizingmethod='crop');

}

* html .visual-box .title-living {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/text-living.png', sizingmethod='crop');

}

* html .visual-box .title-micronutrients {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/text-micronutrients.png', sizingmethod='crop');

}

* html .visual-box .title-free {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/text-free.png', sizingmethod='crop');

}

* html .page1 .nav-box {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/bg-nav-i1.png', sizingmethod='crop');

}

* html .page2 .nav-box {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/bg-nav-i2.png', sizingmethod='crop');

}

* html .sidebox .t {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/bg-sidebox-t.png', sizingmethod='crop');

}

* html .sidebox .b {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/bg-sidebox-b.png', sizingmethod='crop');

}

* html .sidebox h3.title-commitment {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/text-title-commitment.png', sizingmethod='crop');

}

* html .sidebox h3.title-global {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/text-title-global.png', sizingmethod='crop');

}

* html .page1 .b-main {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/bg-b1.png', sizingmethod='crop');

}

* html .page2 .b-main {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/bg-b2.png', sizingmethod='crop');

}

* html .page3 .b-main {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/bg-b3.png', sizingmethod='crop');

}

* html .photo-box .title-about {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/text-about-title.png', sizingmethod='crop');

}

* html .section-box .section-t {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/bg-section-t.png', sizingmethod='crop');

}

* html .main-partnerships .section-box .section-t {filter:none}

* html .section-box #content h2.title-keystone {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/text-keystone.png', sizingmethod='crop');

}

* html .section-box #content h2.title-partnerships {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/text-partnerships.png', sizingmethod='crop');

}

* html .page3 .subnav .t {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/bg-navigation-t.png', sizingmethod='crop');

}

* html .page3 .subnav .c {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/bg-navigation-c.png', sizingmethod='scale');

}

* html .page3 .subnav .b {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/bg-navigation-b.png', sizingmethod='crop');

}

* html .page3 .subnav .title {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/text-hh.png', sizingmethod='crop');

}

* html .useful-box .t {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/bg-useful-t.png', sizingmethod='crop');

}

* html .useful-box .c {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/bg-useful-c.png', sizingmethod='scale');

}

* html .useful-box .b {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/bg-useful-b.png', sizingmethod='crop');

}

* html .partner-box h3.title-partners {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/text-partners.png', sizingmethod='crop');

}

* html #footer .logotype a {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/logotype.png', sizingmethod='crop');

}

* html #footer .nav {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/bg-footebar.png', sizingmethod='crop');

}

* html .inner #footer .nav {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/bg-footebar-inner.png', sizingmethod='crop');

}

* html #footer .visual {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/bg-visual.png', sizingmethod='crop');

}

* html .inner #footer .visual {filter:none}

* html #footer .items .title-popular {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/text-f-popular.png', sizingmethod='crop');

}

* html #footer .items .title-health {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/text-f-health.png', sizingmethod='crop');

}

* html #footer .items .title-press {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/text-f-press.png', sizingmethod='crop');

}

* html #footer .items .title-sustainability {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/text-f-sustainability.png', sizingmethod='crop');

}

* html #content h2.title-about {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/text-about.png', sizingmethod='crop');

}

* html .news-box .title {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/text-news.png', sizingmethod='crop');

}

* html .page2 #content .board-box h2 {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/text-board.png', sizingmethod='crop');

}

* html .partner-box .infobox h4.title-pyramid {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/text-pyramid.png', sizingmethod='crop');

}

* html .partner-box .infobox h4.title-can {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/text-can.png', sizingmethod='crop');

}

* html .partner-box .textbox h4.title-move {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/text-move.png', sizingmethod='crop');

}

* html .partner-box .textbox .title {

	background-position: -9999px -9999px;

	filter:progid:dximagetransform.microsoft.alphaimageloader(src='media/images/text-pitsburg.png', sizingmethod='crop');

}

* html .news-box .btn a {filter:none}

* html .news-box .btn a:hover {filter:none}

.photo-box, .item-list li, .board-box ul li {

	zoom:1;

}

#footer .nav ul li, .inner #footer .visual ul li, #footer .copyright ul li, .inner .nav-box ul li, .partner-box .infobox .list li {

	z-index: expression( runtimeStyle.zIndex = 1, this == parentNode.firstChild ? (className += " first-child") : 0 );

}