/* GENERAL STYLES */
* { height: auto; }
body{
	font: normal 10pt 'Times New Roman', 'Times';
	margin: 0;
	padding: 0;
}
#header, #naviHolder, #bottom, #secondNaviList, #featuredpopProdWrapper, .featuredpanel, #quickLinks, .hViewProducts, .ulRegions, object, #thirdLevelNavigation, .hMoreInnovation, .ulInnovationSub, .popProdWrapper,  #textContent.products #secondary h2, .ourFoodProducts img, #selectARegion, #brandsWrapper, #prodYourSay, .ProdRecipeHighlighteu, .ProdRecipeHighlightrw, .featuredArea, .recipeListPrimary, .recipe select, .recipe a, #textContent.focusFoods #secondaryColumn, .pureIngredients #primaryColumn, .pureIngredients #secondaryContent, .infantNutrition #secondaryContent, .dietaryPref #secondaryContent, .healthyFoods, .ulHealthyFoods, .weightManagement #secondaryContent, .commitment #secondaryColumn, .globalTaskForce #secondaryContent, .workplaceHealth #secondaryContent, .partnerships #secondaryContent, .partnerships a, .ourCompany h2, .aboutHeinz #secondaryColumn, .vision #secondaryColumn h2, select, .ulHistoryNav, .history #secondaryColumn, .leadership h2, .leadership a, .lnkJobSearch, .watchnow, .hr, .listenSlidesBtn, .webcastPrLink a, .calendarImg, #lnkSubscribeRSS, .ui-tabs-nav, .sustainabilityEnvironment #primaryRightColumn, .sustainabilityEnvWaste #primaryRightColumn, .sustainabilityEnvWater #primaryRightContent, .sustainabilityEnvCarbon #primaryRightColumn, #primaryRightColumnEnvSub, #ulTabNavigation, #sidebar, .subnav, .nav-box, #footer {
	display: none;
}
#textContent {
	margin: 0;
}
#content.cgSub {
    width: 600px;
	margin: 0;
	padding-right: 30px;
}
#textContent.health #primaryContent {
	float: none;
}
#textContent.mediaContacts #contentHeader {
	margin-bottom: 30px;
}
#pnlAmericas, #pnlEurope, #pnlAsia {
	display: block;
}
.sustainabilityEcon #primaryContent {
	float: none;
}
.sustainabilityMicro #secondaryContent {
	clear: both;
}
.page2 #content {
    float: left;
    margin: 0;
    padding: 0;
    width: 600px;
}


/* EDITOR PROPERTIES */