hr{color: #999999; height: 0; border-style: dashed; border-width: 1px 0 0 0;}

#BODY{margin: 0px 0px 0px 0px; font-size: 9pt;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1d1d1', endColorstr='#ffffff'); /* for IE */background: -webkit-gradient(linear, left top, left bottom, from(#d1d1d1), to(#fff)); /* for webkit browsers */background: -moz-linear-gradient(top,  #d1d1d1,  #fff); /* for firefox 3.6+ */ }
#BODY .GrayBox, #BODY .WhiteBox{border: 1px solid #999999; background:#d1d1d1; padding: 5px; margin: 0px 0px; display: block; -moz-box-shadow: 0px 0px 6px #999999;-webkit-box-shadow: 0px 0px 6px #999999;box-shadow: 0px 0px 6px #999999;filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=0, Color='#999999');}
@media \0screen {#BODY .GrayBox, #BODY .WhiteBox{filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=-45, Color='#999999'), progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#999999'), progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=-135, Color='#999999'), progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=45, Color='#999999');}}
#BODY .WhiteBox{background:#ffffff; }
#BODY table.GrayBox, #BODY table.WhiteBox{display: table; width: 100%;}
#BODY .GrayBox th, #BODY .WhiteBox th{background-color:#b1b1b1;text-align:center;padding: 5px;}
#BODY .GrayBox td, #BODY .WhiteBox td{padding: 2px 10px 2px 10px;background-color : #ffffff; text-align:center;}
#BODY .redHeader strong{color: #d71720; font-size: 9pt; font-weight: bold; display: block;}
#BODY #leftNavWrapper {display: table-cell; *float:left; padding: 20px 0px 10px 0px; vertical-align: top;}
#BODY #leftNavWrapper div{width: 230px; margin: 0px;}
#BODY #leftNavWrapper div img{width: 230px; padding: 0px; margin: 10px 0px 0px 0px;}
#BODY #ContentWrapper {display: table-cell;*display: inline;*float:left; width: 100%;*width: 80%;}
#BODY #ContentWrapper #Content{position: relative; background: #ffffff; border-radius:10px; margin: 20px; padding: 15px; *display: inline; *float:left;}
#BODY #ContentWrapper #Content  h1{ white-space: nowrap; margin: -15px 0px 0px -15px; color: #ffffff; font-weight: normal;  display: inline-block; background: url(headerImageRedBar.png)/*tpa=http://harris.com/wrapper/2012/css/subpages/headerImageRedBar.png*/ no-repeat right top; height: 32px; max-width: 510px; overflow:hiden; padding: 10px 30px 10px 10px;}
#BODY #ContentWrapper #Content  h2{font-size: 14pt; font-weight: normal; margin: 15px 0px 0px 15px;}
#BODY #ContentWrapper #Content  h3{font-size: 9pt; font-weight: normal; margin: 10px 0px 0px 15px;}
#BODY #ContentWrapper #Content  h4{margin-bottom: 0px; font-size: 12pt; font-weight: normal;}
#BODY #ContentWrapper #Content  h5{margin-bottom: 0px; font-size: 12pt; font-weight: normal; border-bottom: 1px solid #353535;}
#BODY #ContentWrapper #Content .Column h1{margin-left: -30px;}
#BODY #ContentWrapper #Content .Column h2{margin: 0px;}
#BODY #ContentWrapper #Content .Column h3{margin: 10px 0px 15px 0px;}
#BODY #ContentWrapper #Content > p, #BODY #ContentWrapper #Content > .Column > p{margin-left: 20px;}
#BODY #ContentWrapper #Content > p em, #BODY #ContentWrapper #Content > .Column > p em{font-weight: bold; display: block; font-style: normal;}
#BODY #ContentWrapper.ViewRelease #Content > p, #BODY #ContentWrapper.ViewRelease #Content > .Column > p{margin-left: 0px;}
#BODY #ContentWrapper #Content > .Column > ul{margin-left: 40px;}
#BODY #ContentWrapper #Content ul li{line-height: 18px;}
#BODY #ContentWrapper #Content .Column, #BODY #ContentWrapper #Content .RightColumn{ display: table-cell; *display: inline; *float:left; padding: 5px 15px 15px 15px; vertical-align: top;}
#BODY #ContentWrapper #Content .RightColumn{width: 280px; padding-left: 0px; padding-right: 0px;}
#BODY #ContentWrapper #Content .RightColumn h4, #BODY #ContentWrapper #Content .RightColumn .Accordion h4{background: none; font-size: 11pt; color: #555555 !important; font-weight: normal !important; white-space: nowrap; padding: 0px 0px 3px 0px; margin: 10px 0px 5px 0px; border-bottom: 1px solid #d1d1d1;}
#BODY #ContentWrapper #Content .RightColumn div h4{font-weight: bold !important; font-size: 9pt; padding: 0px; margin: 0px; border: 0px;}
#BODY #ContentWrapper #Content .RightColumn .Accordion div h4{border: 0px;}
#BODY #ContentWrapper #Content .RightColumn hr{ height: 0; border-style: dashed; border-width: 1px 0 0 0;}
#BODY #ContentWrapper #Content.backgroundImage {position: relative; background-color: #ffffff; background: #ffffff url(headerImage.jpg)/*tpa=http://harris.com/wrapper/2012/css/subpages/headerImage.jpg*/ no-repeat left top; padding-top: 250px;}
#BODY #ContentWrapper #Content.backgroundImage  h1{position: absolute; top: 213px;}
#BODY #ContentWrapper #Content.noBackgroundImage  h1{border-top-left-radius:10px;}
#BODY #ContentWrapper #Content .ImageFloatOverHeader{position: absolute; right: 20px; top: 20px;}

#BODY.Corp_Resp #ContentWrapper #Content.backgroundImage{background: #ffffff url(headerImage_CR.jpg)/*tpa=http://harris.com/wrapper/2012/css/subpages/headerImage_CR.jpg*/ no-repeat left top;}

.List {display: table;}
.List div{display: table-row;}
.List > div:nth-child(even){background: #efefef;}
.List > div > span{display: table-cell; vertical-align: top; padding: 10px 5px 7px 5px; border-bottom: 1px dashed #999999; }
.List > div > span:first-child{width:60px; padding-left: 10px;}
.List > div > span:nth-child(2){width: 220px;}
@media \0screen {.List > div > span.IE8{width: 220px;}}
.List > div > span:last-child{width:auto;}
.List > div:first-child > span{border-top: 1px dashed #999999;}
.List > div > span img{border: 1px solid #d1d1d1; padding: 1px; margin: 0px; display: inline; border-radius:3px;-moz-box-shadow: 0px 0px 6px #999999;-webkit-box-shadow: 0px 0px 6px #999999;box-shadow: 0px 0px 6px #999999;filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=0, Color='#999999');}
@media \0screen {.List > div > span > img{filter: none; border: 1px solid #d1d1d1; padding: 1px;}}
.List > div > span > h4 {margin: 0px; color: #353535 !important; font-weight: normal !important; font-size: 12pt; font-style: normal; display: block;}
.List > div > span  a{display: block; padding-top: 5px; padding-bottom: 5px; text-decoration: none;}
.List > div > span > div .bullet  > a:first-child{border-top: 1px dashed #d1d1d1; margin-top: 5px;}
.List > div > span > div .bullet  > a:last-child{border-bottom: 1px dashed #d1d1d1;}
.List .read-more, .List .read-less{display: inline; border: 0px !important; padding: 0px;}
.List .read-more a, .List .read-less a {padding-bottom: 0px;}

/* 
-- add to header -- <script>$(function() {$(".Accordion").accordion();});</script> --
-- change RightColumn tag to -- <div class="RightColumn Accordion"> --
*/
.Accordion > h4 {border: 0px !important; border-radius: 0px !important; padding-right: 27px !important; border-bottom: 1px dashed #d1d1d1 !important;}
.Accordion h4.ui-state-active {border: 0px !important;}
.Accordion > h4.ui-state-active:before{content: '-'; color: #d1d1d1;}
.Accordion h4 .ui-icon{left: 93% !important; margin-top: -5px !important;}
.Accordion .ui-widget-content, .Accordion > div {background: none; border: 0px !important; border-radius: 0px !important; margin: -18px 0px 0px 0px !important; padding: 10px 0px 0px 10px !important; color: #555555; border-left: 1px solid #d1d1d1 !important; border-bottom: 1px solid #d1d1d1 !important; }
.Accordion > div {margin-top: -16px !important;}
.Accordion .ui-icon-triangle-1-s{background: url(ha-up.gif)/*tpa=http://harris.com/wrapper/2012/css/subpages/ha-up.gif*/ no-repeat left top !important;}
.Accordion .ui-icon-triangle-1-e{background: url(ha-down.gif)/*tpa=http://harris.com/wrapper/2012/css/subpages/ha-down.gif*/ no-repeat left top!important;}
/* -- no wrapper styles -- used on WorldWide Operations -- */
.AccordionClean h4{border: 0px !important; background:none !important;}
.AccordionClean h4 a{color: #d71720 !important;}
.AccordionClean .AccordionClean h4 a{ font-size: 10pt !important; color: #000000 !important;}
.AccordionClean .AccordionClean .AccordionClean h4 a{ font-size: 10pt !important; color: #898989 !important; }
.AccordionClean > div {padding: 0px 10px 0px 30px  !important; }
.AccordionClean > div a{display: block; margin: 5px 0px 5px 0px; color: #d71720 !important;}
.AccordionClean .ui-widget-content {border: 0px !important; background: none !important;}
.AccordionClean div em{font-weight: normal; text-decoration: underline; font-style: normal;}

/* -- can be added to any link to turn it into a block level element with the appropriate icon -- */
a.pdf, a.word, a.ppt, a.html, .pdf a, .word a, .ppt a, .html a, .none a, .bullet > a, .noborder a, a.noborder, .bullet li{text-decoration: none; display: block; padding: 5px 0px 5px 20px; border-bottom: 1px dashed #d1d1d1; background-repeat: no-repeat; background-position:left 5px; }
.none a:last-child, .bullet a:last-child{border-bottom: 0px;}
.none a{ background-image: none; padding-left: 5px;}
.bullet{margin: 0px; padding: 0px;}
.bullet > a{background-image:url(../leftNav/ha-right.gif)/*tpa=http://harris.com/wrapper/2012/css/leftNav/ha-right.gif*/; background-position:left 7px !important;  list-style: none; margin: 0px; padding-left: 15px;}
.bullet li{background-image:url(../leftNav/ha-right.gif)/*tpa=http://harris.com/wrapper/2012/css/leftNav/ha-right.gif*/; background-position:left 10px !important;  list-style: none; margin: 0px; padding-left: 15px;}
.bullet li li:last-child{border-bottom: 0px;}
.noborder a, a.noborder{border: 0px;}
a.pdf, .pdf a{ background-image: url(pdf.png)/*tpa=http://harris.com/wrapper/2012/css/subpages/pdf.png*/; }
a.word, .word a{background-image: url(word.png)/*tpa=http://harris.com/wrapper/2012/css/subpages/word.png*/; }
a.ppt, .ppt a{background-image: url(powerpoint.png)/*tpa=http://harris.com/wrapper/2012/css/subpages/powerpoint.png*/; }
a.html, .html a{background-image: url(html.png)/*tpa=http://harris.com/wrapper/2012/css/subpages/html.png*/; }

.execBox {min-width:700px;}
.execBox div.execRows{margin-left:auto; margin-right:auto; display: block; float: none; height: 300px; padding-right: 50px; text-align:center; clear:both; }
.execRows div{width:160px; height: 250px; margin:35px; float: left; text-align: center;}
.execRows div img{padding:3px; border: 1px double #ccc; margin-bottom:8px;}
.execRows  div .mgmtName{font-weight:bold;display: block;}
.execRows  div .mgmtTitle{display: block;}
.execRows div a{color:#d71720; font-weight:bold;}



.mgmtBox {min-width:700px;}
.mgmtBox div{width:160px; height: 250px; margin:30px; float: left; text-align: center;}
.mgmtBox div img{padding:3px; border: 1px double #ccc; margin-bottom:8px;}
.mgmtBox  div .mgmtName{font-weight:bold;display: block;}
.mgmtBox  div .mgmtTitle{display: block;}
.mgmtBox  div.CEO{margin: 0px auto; display: block; float: none; height: 300px; width: 250px; padding-right: 50px;}
.mgmtBox div a{color:#d71720; font-weight:bold;}

.tabs{display: block; clear: both; margin: 15px 0px 5px 0px; border-bottom: 1px solid #999999; height: 32px; box-shadow: 1px 0px 2px 0px #fff inset, -1px 0px 2px 0px #fff inset, 0px -2px 2px #e1e1e1 inset ;}
.tabs a{ display: inline-block; float:left; padding: 5px; text-transform: uppercase; font-size: 11pt; margin: 5px 10px; text-decoration: none;}
.tabs a.active{border: 1px solid #999999; padding: 0px; border-bottom: 1px solid #fff; margin: 5px 0px; border-top-left-radius:3px;border-top-right-radius:3px;  box-shadow: -3px -2px 2px -1px #e1e1e1, 3px -2px 2px -1px #e1e1e1, 0px -2px 2px -1px #e1e1e1;}
.tabs a.active span{display: block;border: 1px solid #ffffff; border-top-left-radius:3px;border-top-right-radius:3px; padding: 3px 15px; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e1e1e1', endColorstr='#ffffff'); /* for IE */background: -webkit-gradient(linear, left top, left bottom, from(#e1e1e1), to(#fff)); /* for webkit browsers */background: -moz-linear-gradient(top,  #e1e1e1,  #fff); /* for firefox 3.6+ */ }
.tabs a.active:first-child{margin-left: 10px;}
:root .tabs a.active span {padding-bottom: 4px\9;}
.InvestorsHomeStock .StockQuote strong{color: #d71720; padding: 5px 0px 5px 0px; font-size: 10pt; display:block;}
.InvestorsHomeStock .StockQuote span{display: block; padding: 5px 0px 5px 0px; border-top: 1px dashed #d1d1d1;}
.InvestorSpotlights{display:block; width: 510px; margin: 0px auto !important;*display:inline;}
.InvestorSpotlights a{display:table-cell;*display:inline;*float:left; color: #353535 !important; font-weight: normal; text-decoration: none; width: 160px; padding: 10px 10px; }
.InvestorSpotlights a:hover{color: #d71720!important; background: #ffffff; }
.InvestorSpotlights a img{display:block; padding: 0px 0px 10px 0px;opacity:0.9; filter:alpha(opacity=90);}
.InvestorSpotlights a:hover img{opacity:1; filter:alpha(opacity=100);}

.pressRelease a{color: #353535 !important; text-decoration: none; display: block; padding: 10px 0px 10px 10px; border-bottom: 1px dashed #d1d1d1; background-repeat: no-repeat; background-position:left 5px;  }
.pressRelease a:hover{color: #e21d22 !important;}
.pressRelease a span{display: block; color: #999999 !important;}
.PR_Highlights{border: 1px solid #999999; background:#ffffff; padding: 5px; margin: 10px 20px 20px 20px; display: block; -moz-box-shadow: 0px 0px 6px #999999;-webkit-box-shadow: 0px 0px 6px #999999;box-shadow: 0px 0px 6px #999999;filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=0, Color='#999999');}
@media \0screen {.PR_Highlights{filter: none;}}
.PR_Highlights h4{margin: 0px; font-weight: bold !important;}
.bullet ul{margin: 0px; padding: 0px;}
.PR_Highlights ul li{background-repeat: no-repeat; background-position:left 3px; background-image:url(../leftNav/ha-right.gif)/*tpa=http://harris.com/wrapper/2012/css/leftNav/ha-right.gif*/; list-style: none; margin: 0px; padding-left: 15px;}
.ViewRelease{color: #252525;}

.SearchResults {border-bottom: 1px dashed #999999; padding: 10px 0px;}
.SearchResults h5{margin: 0px; padding: 0px; border: 0px !important;}
.SearchResults h5 a{color: #454545 !important; font-size: 9pt; text-decoration: none; font-weight: bold;}
.SearchResults h5 a:hover{color: #d71720 !important;}
.SearchResults p{color: #454545; margin: 0px; padding: 0px;}

.youTube{margin: 0px auto; display: block;}

.MS_PS_Expand-collapse{width: 100%;text-align: right; margin-bottom: 10px;}
#MS_PS_Expand{border-right: 1px solid #353535; padding-right: 7px; margin-right: 3px;}