﻿/*********Markup styles for formating in the Custom List-Richtext column*/
DIV.ms-rteElement-Richtext-SubHeading {
    -ms-name: "SubHeading";
    font-family: Stag Med;
    font-size: 15px;
    color: #033788;
    -webkit-text-size-adjust: none; 
}

DIV.ms-rteElement-Richtext-BodyText {
    -ms-name: "BodyText";
    font-family: Arial;
    font-size: 13px;
    color: #222222;
}

.ms-rteElement-Richtext-BodyText a, .ms-rteElement-Richtext-BodyText a:link, .ms-rteElement-Richtext-BodyText a:visited {
    font-family: Arial;
    color: #046EC7 !important;
    text-decoration: none;
}

    .ms-rteElement-Richtext-BodyText a:hover {
        font-family: Arial;
        color: #0066cc !important;
        text-decoration: none;
        cursor: pointer !important;
    }

SPAN.ms-rteElement-Richtext-BlueTheme {
    -ms-name: "BlueTheme";
    color: #033788 !important;
}
 
SPAN.ms-rteElement-Richtext-MaroonTheme {
    -ms-name: "MaroonTheme";
     color: #840f08 !important;
}
 
SPAN.ms-rteElement-Richtext-GreenTheme {
    -ms-name: "GreenTheme";
     color: #148d42 !important;
}
 
SPAN.ms-rteElement-Richtext-OrangeTheme {
    -ms-name: "OrangeTheme";
     color: #ff8300 !important;
}
