#jwbox_background{
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	zoom: 1;
	-moz-opacity: 0.8;
	opacity:0.80;
	filter: alpha(opacity = 80);
	overflow: auto;
}
.jwbox_hidden {
	display: none;
	position: fixed;
	padding: 25px 16px 16px 16px;
	border: 16px solid white;
	background-color: white;
	z-index:1002;
	overflow: hidden;
	background-image:url('../icons/closelabel.gif')/*tpa=http://www.questdiagnostics.com/docroot/dgx/icons/closelabel.gif*/;
	background-position:top right;
	background-repeat:no-repeat;
}
.jwbox_content{

}