.section-nav .closed a {
    background:  no-repeat scroll 213px 50% transparent;
}
.section-nav li.closed a {
    background:  no-repeat scroll 213px 50% transparent;
} 

.section-nav li.open a {
    background:  no-repeat scroll -37px 50% transparent;
} 
