* { background: none !important; }
h2, h3, h4, h5, h6, dt { page-break-after: avoid; page-break-inside: avoid; }
blockquote, img, li, .figure { page-break-inside: avoid; }
.nav { display: none; }

#pagewrapper { min-width: 0; }
#header-global,
#headerbar { width: auto; padding: 0 !important; }
#bodycontent { width: auto !important; padding: 0 !important; position: static; }
#header-search,
#tools,
#sidebar { display: none; }
#masthead { padding: 0; }

#breadcrumbs { margin: 0; }
#bodywrapper { margin: 0; }
#maincontent { width: auto !important; float: none !important; }
#footer-content { width: auto; padding-bottom: 0; }
#footer-labs,
#footer-social { display: none; } 

.col-main { padding: 0 !important; width: auto !important; float: none !important; }
.col-side { display: none; } 
 
.intro,
.intro-full,
.intro-small,
.intro-smaller,
.intro-large { max-width: none; margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0; }

#nav-footer { display: none; }

.slider { width: 705px; }

.button { display: none; }

.box-3-wrap { width: auto; page-break-inside: avoid; }
.box-3-wrap .feature { border: 1px solid #DBDBDB; padding: 15px; }

.feature-foot-wrap { width: auto; }
.feature-foot-wrap .feature { border: 1px solid #DBDBDB !important; padding: 15px !important; margin: 0 5px 5px 0; page-break-inside: avoid; }

.module-wrap { width: 663px; border: 1px solid #DBDBDB; page-break-inside: avoid; }
.module .header { float: none; width: auto; padding: 10px 15px; border-bottom: 1px solid #DBDBDB; }
.module .header h2 { text-indent: 0; height: auto; width: auto; }
.module .body { float: none; }
.module .more { display: none; } 
.module-1 .feature { width: auto; } 
.module-3 .feature { padding: 15px; min-height: 0; } 
.module-3 .feature:first-child { border: 0; } 
.module-1 .text { float: left; }

.box { border: 1px solid #DBDBDB; }
ol.circle li { margin-left: 2em !important; list-style: decimal !important; }

.faq { padding: 0; }
.faq .question { padding-left: 0; padding-right: 0; }
.faq .toggleall { display: none !important; }
.faq .answer { display: block !important; }

.box-2-705-wrap { width: auto; }
.box-2-705-wrap .feature { border: 1px solid #DBDBDB; padding: 15px; }
.more { display: none !important; }

.box-1-705-wrap { width: auto; border: 1px solid #DBDBDB; }
.box-1-705-wrap .text { padding-right: 0; }

.feature-3-wrap { width: auto; margin-right: 0; }
.feature-3-wrap:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.box-2-wrap { border: 1px solid #DBDBDB; width: 450px; }
.feature-3-wrap .feature-left { margin: 0; }

.box-1-350-wrap { width: auto; }
.box-1-350-wrap .feature-baseline .copy { position: static; width: auto; padding: 0; }

.layout-352_353 .col-main { width: 50% !important; float: left !important; }
.layout-352_353 .col-side { width: 47%; padding: 0; display: block; }

.feature-learn-test { display: none; }

.slider-columns { border: 1px solid #DBDBDB; }

.billpay #content { padding: 0; }

.billpay .form-paymentreview .form { padding-left: 0; padding-right: 0; }

ul.cols { display: block; }

.tc-oi-detail { padding-left: 0; padding-right: 0; }
.tc-oi-detail-body { width: auto; }
.tc-oi-detail .notice { margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0; }

#recent-results,
#tg-menu,
.back { display: none; }

ul.bullet,
.article #maincontent ul { list-style: disc; padding-left: 30px; overflow: visible; }
ul.bullet li,
.article #maincontent ul li { padding: 0; }

.social-icon { padding: 0; }
.feed-youtube { margin: 0 !important; width: 62%; }
.feed-facebook,
.feed-twitter { width: 32%; float: right; clear: right; }

.tc-11-page { background: none !important; }
.tc-11-recent-viewed,
.col-sidebar,
.tc-11-tabs li a,
.results .tabs a.tab,
.tc-11-page .icon { display: none; }
.tc-11-page .two-col-landing,
.tc-11-page .col-main .copy { padding: 0; }
.tc-11-page .two-col .col { width: 30%; }
.tc-11-page .two-col .col-right { width: 65%; }
.tc-11-page .footnote { padding: 40px 0; margin: 0; }

.tc-11-select-lab h2,
.select-lab-block .txt-org { display: none; }

#legacy-content { width: auto; margin: 0; }