@import url("slider.css")/*tpa=http://www.questdiagnostics.com/docroot/dgx/css/slider.css*/;	
@import url("mainnav.css")/*tpa=http://www.questdiagnostics.com/docroot/dgx/css/mainnav.css*/;
@import url("specialalert.css")/*tpa=http://www.questdiagnostics.com/docroot/dgx/css/specialalert.css*/;
@import url("morebar.css")/*tpa=http://www.questdiagnostics.com/docroot/dgx/css/morebar.css*/;
@import url("footernav.css")/*tpa=http://www.questdiagnostics.com/docroot/dgx/css/footernav.css*/;
@import url("tc.css")/*tpa=http://www.questdiagnostics.com/docroot/dgx/css/tc.css*/;
@import url("uniform.css")/*tpa=http://www.questdiagnostics.com/docroot/dgx/css/uniform.css*/;

/* -- BEGIN: html reset --------------------------------------------------- */ 

body, h1, h2, h3, h4, h5, h6, pre, p, blockquote, address, dl, dt, dd, ul, ol, li, table, caption, th, td, form, fieldset, legend { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6 { font-size: 1em; }
img, fieldset, abbr, acronym { border: 0; }
address { font-style: normal; } 
table { border-collapse: collapse; border-spacing: 0; }
ul, ol { list-style: none; }

/* ----------------------------------------------------- END: html reset -- */


/* -- BEGIN: global styles ------------------------------------------------ */ 

html { overflow-y: scroll; }

dt { font-weight: bold; }
td { vertical-align: top; }
tbody th { text-align: left; }

input, select, button { vertical-align: middle; font-family: inherit; font-size: 1em; } 
textarea { font-family: inherit; font-size: 1em; overflow: auto; }
input[type="checkbox"] { vertical-align: bottom; }
input[type="button"], input[type="submit"] { cursor: pointer; }
button { cursor: pointer; }/* declare separately from input[type=""] because IE6 doesn't handle attribute selectors */
input[type="search"] { -webkit-appearance: textfield; -webkit-box-sizing: content-box; }
::-webkit-search-decoration { display: none; }
::-webkit-input-placeholder { color: inherit; }

sup, sub { vertical-align: 0; position: relative; }
sup { bottom: 1ex; }
sub { top: 0.8ex; }
* html sup, * html sub { position: static; vertical-align: top; }
*:first-child+html sup, *:first-child+html sub { position: static; vertical-align: top; }

body { font: 75%/1.25 arial, sans-serif; color: rgb(51,51,51); background: rgb(255,255,255);}
p, dd, address { margin-bottom: 1em; }
hr { height: 1px; border: 0; border-top: 1px solid; margin-bottom: 1em; clear: both; }

a { text-decoration: none; color: rgb(46,177,53); cursor: pointer; }
a:hover { text-decoration: underline; }

/*iframe { border: 0; height: 450px; width: 100%; }*/
iframe { border: 0; width: 100%; }
#iframe-searchresults { height: 900px; }
#_atssh iframe { height: 100%; width: 100%;} /* Added to resolve extra space below the Footer */


.align-left { float: left; }
.align-right { float: right; }
.clear { clear: both; height: 0; line-height: 0; }
.hide { position: absolute; top: -9999px; left: -9999px; }

td.right, th.right { text-align: right; }

.figure img { display: block; }

.header:after,
.footer:after,
.article:after,
.section:after,
.nav:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

.header,
.footer,
.article,
.section,
.nav { zoom: 1; }

.txt-org { color: rgb(248,151,29) !important; }

#pagewrapper { min-width: 975px; }

.more a { display: inline-block !important; font-weight: bold; background: url(../img/arrow.grn.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/arrow.grn.gif*/ no-repeat 100% 50% !important; padding-right: 11px; } 
span.more a { white-space: nowrap; } 

ul.bullet { margin: 0 0 15px; }
ul.bullet li { margin-bottom: 0.25em; background: url(../img/icon.bullet.disc.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/icon.bullet.disc.gif*/ no-repeat 15px 0.5em; padding-left: 22px; }
ul.bullet ul { margin: 0.25em 0 0; }
ul.bullet ul li { background-image: url(../img/icon.bullet.dash.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/icon.bullet.dash.gif*/; }

ol.decimal { list-style: decimal; margin-left: 18px; }

#header-global { width: 975px; margin: 0 auto; position: relative; z-index: 21; }
#masthead { height: 77px; padding: 16px 15px 0 14px; }
#logo-qd { width: 175px; }
#header-nav { color: rgb(136,136,136); position: absolute; top: 20px; right: 15px; padding-left: 210px; text-align: right; }
#header-nav a { color: rgb(136,136,136); white-space: nowrap; }
#header-search { bottom: 60px; position: absolute; right: 15px; }
#header-search label, #header-search div, #header-search button { float: left; margin: 0; }
#header-search label { color: rgb(137,137,137); padding: 6px 5px 0 0; }
#header-search div { background: url(../img/icon.search.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/icon.search.gif*/ 5px 50% no-repeat; border: 1px solid rgb(221,221,221); height: 24px; overflow: hidden; 
-webkit-box-shadow: inset 0 0 2px rgba(51,51,51,0.25);
box-shadow: inset 0 0 2px rgba(51,51,51,0.25); }
#header-search input { border: 0; margin: 5px 5px 5px 20px; outline: none; }
#header-search button { background: url(../img/btn.go.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/btn.go.gif*/; border: 0; display: block; height: 26px; overflow: hidden; text-indent: -9999px; width: 40px; }
#header-search button:hover { background-position: 0 -26px; }

.home-page { background: url(../img/bg.title-page.home.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.title-page.home.gif*/ no-repeat 50% 331px; margin-top: -33px !important; }
.home-page #bodycontent { width: 975px; padding: 0; }
#bodywrapper { margin-top: -4px; }
#bodycontent { width: 945px; margin: 0 auto; position: relative; padding: 0 15px; }
#bodycontent:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

.title-page { background: url(../img/bg.title-page.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.title-page.gif*/ no-repeat 50% 40px; }
.title-page #bodycontent { background: url(../img/bg.title-page.bc.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.title-page.bc.gif*/ no-repeat 910px 0; padding-top: 27px; }
.title-page #page-title { margin-bottom: 25px; }
.innovations-hdr { background: url(../img/bg.title-page.innovations.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.title-page.innovations.gif*/ no-repeat 50% 40px; } 
#innovations-page { width: 931px; margin-right: -14px; }
#innovations-page h1 { display:none; }
#innovations-page #innovations-animation { height: 60px; background: url(../img/bg.title-page.innovations.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.title-page.innovations.gif*/ no-repeat 50% 0; }
.js #innovations-page #innovations-animation { background: none; }
#innovations-bgcover { background: rgb(255,255,255); height: 150px; left: 0; position: absolute; right: 0; top: 150px; }

#footer-global { background: rgb(253,253,253) url(../img/bg.global-footer.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.global-footer.gif*/ repeat-x; }
#footer-content { width: 890px; margin: 0 auto; padding: 25px 42px 50px; font-size: 0.917em; color: rgb(102,102,102); }
#footer-nav { text-align: center; font-weight: bold; line-height: 1.909; margin-bottom: 5px; }
#footer-nav a { color: rgb(102,102,102); }
#footer-content .copyright { font-size: 0.909em; padding: 0 55px; line-height: 1.1; }
#footer-labs { color: rgb(102,102,102); float: left; margin-left: 195px; }
#footer-labs:hover { color: rgb(51,51,51); text-decoration: none; }
#footer-labs .icon, #footer-social a { background: url(../img/footer.links.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/footer.links.gif*/ no-repeat; display: block; height: 24px; overflow: hidden; text-indent: -9999px; width: 23px; }
#footer-labs .icon { width: 24px; }
#footer-labs:hover .icon { background-position: 0 -24px; }
#footer-social { float: right; margin-right: 162px; }
* html #footer-social { display: inline; }
#footer-social #footer-twitter { background-position: -24px 0; }
#footer-social #footer-twitter:hover { background-position: -24px -24px; }
#footer-social #footer-facebook { background-position: -47px 0; }
#footer-social #footer-facebook:hover { background-position: -47px -24px; }
#footer-social #footer-youtube { background-position: -70px 0; }
#footer-social #footer-youtube:hover { background-position: -70px -24px; }
#footer-social #footer-linkedin { background-position: -93px 0; }
#footer-social #footer-linkedin:hover { background-position: -93px -24px; }
#footer-labs span, #footer-social span, #footer-social a { float: left; line-height: 30px; margin-right: 7px; }

#headerbar { height: 40px; width: 945px; margin: 0 auto; padding: 0 15px; }
#breadcrumbs { color: rgb(153,153,153); font-size: 0.917em; line-height: 1; font-weight: bold; margin-left: 15px; width: 730px; float: left; }
* html #breadcrumbs { display: inline; }
#breadcrumbs a { white-space: nowrap; }
#tools { float: right; margin-top: 6px; width: 175px; position: relative; }
#tools-print, #tools-email, #tools-rss,  #tools-share { background: url(../img/icon.tools.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/icon.tools.gif*/; display: block; float: left; height: 20px; overflow: hidden; text-indent: -9999px; width: 17px; margin-right: 1px; }
#tools-print { background-position: -140px 0; display: none; width: 34px; }
.js #tools-print { display: block; }
#tools-email { background-position: -104px 0; width: 35px; }
#tools .at a { display: block; height: 100%; overflow: hidden; text-indent: -9999px; }
#tools .at span { height: 0; margin-bottom: 20px; }
#tools-rss { width: 50px; }
#tools-share { background-position: -50px 0; position: relative; width: 53px; }
#tools-fblike { background: #fff; border: none; display: none; overflow: hidden; width: 50px; height: 21px; float: left; }
.js #tools-fblike { display: block; }

#sidebar { width: 225px; float: left; }
#maincontent { width: 705px; float: right; position: relative; }
.maincontent-fullwidth #maincontent { float: none; margin: 0 auto 50px; width: 917px; }
.maincontent-centered #maincontent { float: none; margin: auto; }
.maincontent-search #maincontent { width: 880px; }
#sidebar, #maincontent { padding-bottom: 50px; }

#sidebar .nav { margin-bottom: 40px; }

.section-nav { line-height: 1; }
.section-nav h2 { color: rgb(150,150,150); font-size: 0.833em; margin: 0 0 7px 15px; text-transform: uppercase; }
.section-nav ul { border-top: 1px solid rgb(219,219,219); margin: 0 !important; }
.section-nav li { border-bottom: 1px solid rgb(219,219,219); background: rgb(247,247,247) url(../img/bg.nav-section.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.nav-section.gif*/ repeat-x; }
#maincontent .section-nav li { background: rgb(247,247,247) url(../img/bg.nav-section.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.nav-section.gif*/ repeat-x !important; padding: 0 !important; }
#maincontent .section-nav li.active { background: rgb(229,229,229) !important; }
.section-nav li a { color: rgb(102,102,102); display: block; font-weight: bold; padding: 9px 13px 8px 15px; border-top: 1px solid rgb(255,255,255); border-bottom: 1px solid rgb(255,255,255); }
* html .section-nav a { zoom: 1; }
.section-nav a:hover { color: rgb(255,255,255) !important; background: rgb(39,154,46) url(../img/bg.nav-section.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.nav-section.gif*/ repeat-x 0 -200px !important; text-decoration: none; }
.section-nav li.active { background: rgb(229,229,229); }
.section-nav li.active a { color: rgb(102,102,102); }
.section-nav a span { font-weight: normal; }
.section-nav li ul { border-top: 0; display: none;}
.section-nav li li { font-size: 0.917em; line-height: 1.091; border: 0; border-bottom: 1px solid rgb(255,255,255); background: rgb(229,229,229); }
.section-nav li li a { padding-left: 30px; border: 0; background: none !important; }
.section-nav li li.active { background: rgb(242,242,242); }
.section-nav .closed a { background: url(../img/bg.section-nav.icons.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.section-nav.icons.gif*/ no-repeat 213px 50%; }
.section-nav .open a { background: url(../img/bg.section-nav.icons.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.section-nav.icons.gif*/ no-repeat -37px 50%; }
.section-nav .closed-alt a { background: url(../img/bg.section-nav.icons.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.section-nav.icons.gif*/ no-repeat -286px 50%; }
.section-nav .open ul, .section-nav .alwaysopen ul { display: block; }
.section-nav .alwaysopen li { border-top: 1px solid rgb(219,219,219); background: rgb(247,247,247) url(../img/bg.nav-section.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.nav-section.gif*/ repeat-x; }

#sidebar .actions h2 { margin: 0 0 13px 15px; line-height: 1; }
.actions ul { width: 197px; line-height: 1; font-size: 11px; margin: 0 !important; }
.actions li { background: url(../img/bg.actions.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.actions.gif*/ no-repeat 0 100%; margin: 0 !important; padding-bottom: 1px; }
.feature .actions li { background: url(../img/bg.actions.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.actions.gif*/ no-repeat 0 100%; padding-left: 0; }
.actions a { padding: 7px 27px 6px 15px; color: rgb(51,51,51); font-weight: bold; min-height: 11px; display: block !important; background-image: url(../img/bg.actions.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.actions.gif*/ !important; }
* html .actions a { zoom: 1; }

.actions li:hover { background-position: 100% 100%; }
.actions li:hover > a { background-position: 100% 0 !important; text-decoration: none; color: rgb(255,255,255) !important; }
.actions li.login a { background-position: 0 -50px !important; }
* html .actions li.login a:hover { text-decoration: underline; }
.actions li.login:hover > a { background-position: 100% -50px !important; }
.actions li.open { background-position: 100% 100% !important; padding: 0 !important; }
* html .actions li.open { background-position: 0 100% !important; }
.actions li.open > a { background-position: 100% -50px !important; color: rgb(255,255,255) !important; }
.actions li.parent li a { padding: 8px 5px 6px 15px; background-position: 0 -100px !important; color: rgb(51,51,51); }
.actions li li a:hover { color: rgb(46,177,53) !important; text-decoration: underline; }
.actions li li { background: none !important; }
.actions li ul { background: url(../img/bg.actions.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.actions.gif*/ no-repeat -200px 100%; padding-bottom: 3px; }
.js .actions li.parent ul { display: none; }

.actions li.nested { padding: 0; }
.actions li.nested:hover { background-position: 0 100%; }
.actions li.nested a { background-position: 0 100%; padding: 0 0 1px; }
.actions li.nested a span { background: url(../img/bg.actions.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.actions.gif*/ no-repeat; display: block; padding: 7px 27px 6px 15px; min-height: 11px; }
.actions li.nested:hover > a { color: rgb(51,51,51) !important; background-position: 0 100% !important; }
.actions li.nested > a:hover { background-position: 100% 100% !important; } 
.actions li.nested > a:hover span { background-position: 100% 0; color: rgb(255,255,255); } 
.actions li.nested ul { padding: 8px 0 12px; }
.actions li.nested li { background: url(../img/icon.bullet.disc.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/icon.bullet.disc.gif*/ no-repeat 12px 0.364em !important; padding: 0 5px 0 20px; margin-bottom: 6px !important; }
.actions li.nested li a { display: inline !important; background: none !important; font-weight: normal; padding: 0; }
.actions li.nested li:hover a { color: rgb(51,51,51) !important; }
.actions li.nested li a:hover  { color: rgb(46,177,53) !important; }

h1.main-title { border-bottom: 1px solid rgb(219,219,219); font-size: 2.167em; font-weight: normal; margin-bottom: 15px; padding-bottom: 12px; }
h2.main-title { font-size: 1.667em; font-weight: normal; margin-bottom: 20px; }
h2.main-title-alt { font-size: 1.417em; font-weight: normal; }

.nav-tab { border-bottom: 1px solid rgb(221,221,221); margin-bottom: 25px; }
.nav-tab ul { overflow: hidden; position: relative; top: 1px; zoom: 1; }
.nav-tab li { float: left; margin-left: 1px; color: rgb(46,177,53); font-size: 0.917em; font-weight: bold; line-height: 1; }
.nav-tab li a,
.nav-tab li span { display: block; padding: 8px 15px; border: 1px solid rgb(221,221,221); border-top-left-radius: 4px; border-top-right-radius: 4px; min-width: 18px; text-align: center; }
.nav-tab li a { background: rgb(250,250,250); color: rgb(102,102,102); }
.nav-tab li a:hover { color: rgb(46,177,53); text-decoration: none; }
.nav-tab li span { border-bottom-color: rgb(255,255,255); }
.nav-tab-alt { margin: -28px 0 0; }
.nav-tab-alt li span { background: rgb(250,250,250); border-bottom-color: rgb(250,250,250); color: rgb(248,151,29); }
.tabbed-block .thumb-feature { font-size: 1em; }
.tabbed-block .thumb-feature h2 { font-size: 1.083em; }
.tabbed-block .thumb-feature .byline { font-size: 0.917em; }

/* -- BEGIN: feature elements --------------------------------------------- */

.img img { display: block; }
.feature { font-size: 0.917em; float: left; width: 190px; }
.feature-left { margin: 0; }
.feature .kicker { line-height: 1; color: rgb(46,177,53); text-transform: uppercase; margin-bottom: 12px; } 
.feature .img { margin-bottom: 12px; }
.feature h2,
.feature h3 { font-size: 1.273em; line-height: 1.071; margin-bottom: 8px; } 
.feature p { margin-bottom: 5px; }
.feature .text { display: table-cell; zoom: 1; }

.feature .text .more a,
.box-2-705-wrap p .more a { padding: 0; background: none !important; white-space: normal; } 
.box-2-705-wrap p .more a:after,
.feature .text .more a:after { content: url(../img/arrow.grn.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/arrow.grn.gif*/; padding-left: 5px; }
* html .feature .text .more a,
* html .box-2-705-wrap p .more a { background: url(../img/arrow.grn.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/arrow.grn.gif*/ no-repeat 100% 50% !important; padding-right: 11px; }
*:first-child+html .feature .text .more a,
*:first-child+html .box-2-705-wrap p .more a { background: url(../img/arrow.grn.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/arrow.grn.gif*/ no-repeat 100% 50% !important; padding-right: 11px; }

.feature a h2, 
.feature a h3 { color: rgb(51,51,51); text-decoration: none; } 
.feature a:hover h2, 
.feature a:hover h3 { text-decoration: underline; }

.video-feature .video { margin-bottom: 1px; }
.video-details { background: rgb(242,242,242); padding: 23px 29px 33px; }
.video-details ul { margin-bottom: 17px; }
.video-details li { margin-bottom: 8px; }

.button a, button.button { display: inline-block; background: rgb(39,155,45) url(../img/bg.button.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.button.gif*/ repeat-x; color: rgb(255,255,255); font-weight: bold; line-height: 2; padding: 0 15px; 
	-webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.25), inset -2px -2px 2px rgba(0,0,0,0.25);
	box-shadow: 2px 2px 2px rgba(0,0,0,0.25), inset -2px -2px 2px rgba(0,0,0,0.25); }
button.button { border: 0; padding: 4px 12px; }
.button a:hover, button.button:hover { background-color: rgb(30,123,35); background-position: 0 -50px; text-decoration: none; }
.button span.more { background: url(../img/arrow.wht.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/arrow.wht.gif*/ no-repeat 100% 50%; color: rgb(255,255,255); padding-right: 11px; }
.button-secondary a, button.button-secondary { background-color: rgb(140,140,140) !important; background-image: url(../img/bg.button.secondary.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.button.secondary.gif*/; }

.search-form { zoom: 1; }
.search-form:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.search-form input { border: 1px solid rgb(219,219,219); border-right: 0; float: left; padding: 4px 0 0 10px; height: 25px; width: 195px; color: rgb(136,136,136); }
.search-form button { background: url(../img/btn.go.tc.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/btn.go.tc.gif*/ no-repeat; border: 0; display: block; height: 31px; width: 36px; overflow: hidden; text-indent: -9999px; float: left; }
.search-form button:hover { background-position: 0 -32px; }
.search-form button:active { background-position: 0 -64px; }

#home-features { overflow: hidden; margin-top: -95px; position: relative; z-index: 20; padding-bottom: 50px; zoom: 1; }
#home-features .feature { width: 225px; margin-left: 15px; font-size: 1em; }
* html #home-features .feature { display: inline; }
#home-features h2 { margin-bottom: 10px; }
h2 img { display: block; }
#home-features .body { padding: 0 17px 0 28px; }
#home-features .actions { margin-left: 15px; }
#home-features .more { position: absolute; bottom: 25px; margin-left: 28px; } 
#feat-mobile-app .body { margin-top: -22px; padding: 0; }

.box-3-wrap { overflow: hidden; width: 705px; margin-bottom: 15px; background: url(../img/bg.boxes.3.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.boxes.3.gif*/ no-repeat 0 100%; position: relative; }
.box-3-wrap .feature { padding: 15px 20px 50px 15px; margin-left: 15px; background: url(../img/bg.boxes.3.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.boxes.3.gif*/ no-repeat 100% 0; font-size: 0.917em; }
.box-3-wrap .feature-left { margin: 0; }
.box-3-wrap .feature h2 { min-height: 2.143em; } 
.box-3-wrap .button, .box-3-wrap .buttons { position: absolute; bottom: 20px; }
.box-3-wrap .buttons { bottom: 17px; }
.box-3-wrap .buttons .button { border-right: 1px solid rgb(221,221,221); float: left; margin-right: 13px; padding: 3px 12px 3px 0; position: static; }
.box-3-wrap .buttons .button-last { border: 0; margin: 0; padding-right: 0; }

.feature-3-wrap { overflow: hidden; width: 710px; margin: 0 -5px 15px 0; }
.feature-3-wrap .feature { margin-left: 50px; padding-top: 15px; }
* html .feature-3-wrap .feature { display: inline; }
.feature-3-wrap .feature-left { margin-left: 20px; }
.feature-3-wrap h2 { margin-bottom: 12px; }
.feature-3-wrap .kicker { margin-bottom: 8px; } 
.box-2-wrap { background: url(../img/bg.boxes.2.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.boxes.2.gif*/ no-repeat 0 100%; padding-bottom: 50px; width: 470px; margin-left: 30px; float: left; }
.box-2-wrap .header { background: url(../img/bg.boxes.2.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.boxes.2.gif*/ no-repeat 100% 0; padding: 15px 0 1px 21px; }
.box-2-wrap h2 { font-size: 1.167em; line-height: 1.071; margin-bottom: 11px; }
.box-2-wrap .feature { padding: 0 9px 0 22px; margin: 0; }
.box-2-705-wrap { background: url(../img/bg.boxes.2.705.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.boxes.2.705.gif*/ no-repeat 0 100%; margin-bottom: 15px; padding-bottom: 7px; width: 705px; }
.box-2-705-wrap .header { background: url(../img/bg.boxes.2.705.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.boxes.2.705.gif*/ no-repeat 100% 0; display: block; padding-bottom: 12px; }
.box-2-705-wrap .feature { float: left; margin-right: 15px; padding: 0 25px 12px 15px; width: 305px; }
.box-2-705-wrap .feature-right { margin: 0; }
.box-2-705-wrap h3 { font-size: 1.272em; line-height: 1.071; margin-bottom: 13px; }
.box-2-705-wrap p,
.box-2-705-wrap ol,
.box-2-705-wrap ul { display: table-cell; font-size: 1.00em; zoom: 1; }
.box-2-705-wrap span { display: block; margin-top: 3px; }
.box-2-705-wrap .img { float: left; margin: 0 15px 0 0; }
.box-2-705-wrap .bullet { margin-left: -20px; }
.box-1-705-wrap { background: url(../img/bg.boxes.1.705.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.boxes.1.705.gif*/ no-repeat 0 100%; margin-bottom: 15px; padding-bottom: 7px; width: 705px; }
.box-1-705-wrap .header { background: url(../img/bg.boxes.1.705.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.boxes.1.705.gif*/ no-repeat 100% 0; display: block; padding-bottom: 12px; }
.box-1-705-wrap .img { float: left; margin: 0 15px 0 0; }
.box-1-705-wrap .feature { padding: 15px 30px 30px; width: auto; }
.box-1-705-wrap .text { padding-right: 60px; }
.box-1-705-wrap h3 { font-size: 1.667em; font-weight: normal; margin-bottom: 15px; }
.box-1-705-wrap p { margin-bottom: 15px; }
.box-1-350-wrap { background: url(../img/bg.box.345.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.box.345.gif*/ no-repeat 0 100%; margin-bottom: 15px; width: 345px; }
.box-1-350-wrap .header { background: url(../img/bg.box.345.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.box.345.gif*/ no-repeat 100% 0; min-height: 10px; }
.box-1-350-wrap .feature-baseline { background: url(../img/bg.box.baseline.jpg)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.box.baseline.jpg*/; height: 298px; overflow: hidden; position: relative; }
.box-1-350-wrap .feature-baseline .copy { background: url(../img/bg.fff.90.png)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.fff.90.png*/; bottom: 7px; left: 0; padding: 15px 33px 20px; position: absolute; width: 275px; }
.box-1-350-wrap .feature-baseline h2 { margin-bottom: 8px; }

.box-1-350-wrap .feature-learn-test { padding: 5px 30px 32px; }
.box-1-350-wrap .feature-learn-test h2 { font-size: 1.167em; margin-bottom: 5px; }
.box-1-350-wrap .feature-learn-test h3 { color: rgb(248,151,29); margin-bottom: 5px; }
.box-1-350-wrap .feature-learn-test .select { width: 100%; }
.box-1-350-wrap .feature-learn-test .text { display: block; padding: 5px 15px; text-transform: uppercase; }
.box-1-350-wrap .feature-learn-test button { margin-top: 10px; }
.js .box-1-350-wrap .feature-learn-test button { display: none; }

.module-wrap { background: url(../img/bg.module.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.module.gif*/ no-repeat 0 100%; width: 707px; margin: 0 -2px 15px 0; }
.module { background: url(../img/bg.module.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.module.gif*/ no-repeat 100% 0; overflow: hidden; padding: 1px 0 5px; position: relative; }
* html .module { zoom: 1; }
.module .body { float: left; width: 663px; }
.module .feature h3 { line-height: 1.071; } 
.module .header {  float: left; width: 40px; }
.module .header h2 { text-indent: -9999em; height: 150px; width: 39px; margin-left: 1px; }
.module .more { position: absolute; right: 23px; bottom: 17px; } 
.module-3 .header { padding-top: 92px; }
.module-3 .feature { padding: 15px 15px 40px; border-left: 1px solid rgb(219,219,219); min-height: 280px; } 
.module-3 .feature h3 { min-height: 2.143em; } 
.module-1 .header { padding-top: 16px; }
.module-1 .feature { width: 560px; padding: 15px 0 20px 15px; font-size: 1.083em; line-height: 1.154; vertical-align: middle; } 
.module-1 .img { float: left; margin: 0 20px 0 0; }
.module-1 .text { vertical-align: middle; height: 145px; }
.module-1 .feature h3 { font-size: 20px; margin-bottom: 6px; } 
ul.news { margin: 7px 12px 30px 10px; }
ul.news li { font-weight: bold; font-size: 1.083em; border-top: 1px solid rgb(219,219,219); padding: 12px 100px 12px 15px; }
ul.news li:first-child { border: 0; }
ul.news .date { font-weight: normal; font-style: italic; font-size: 0.846em; color: rgb(233,131,0); margin-bottom: 5px; }
.module .rss { position: absolute; right: 23px; top: 15px; } 
h2.hdr-v-expertise { background: url(../img/hdr.v.expertise.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/hdr.v.expertise.gif*/ no-repeat; }
h2.hdr-v-ed-center { background: url(../img/hdr.v.ed-center.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/hdr.v.ed-center.gif*/ no-repeat; }
h2.hdr-v-feat-tests { background: url(../img/hdr.v.feat-tests.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/hdr.v.feat-tests.gif*/ no-repeat; }
h2.hdr-v-latest-press { background: url(../img/hdr.v.latest-press.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/hdr.v.latest-press.gif*/ no-repeat; margin-top: 40px; }
h2.hdr-v-media-center { background: url(../img/hdr.v.media-center.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/hdr.v.media-center.gif*/ no-repeat; }

.box-hdr-2-plus { overflow: hidden; width: 710px; margin: 0 -5px 15px 0; background: url(../img/bg.box.hdr.2-plus.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.box.hdr.2-plus.gif*/ no-repeat 0 100%; position: relative; }
.box-hdr-2-plus .header { height: 48px; padding: 13px 0 0 23px; background: url(../img/bg.box.hdr.2-plus.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.box.hdr.2-plus.gif*/ no-repeat 100% 0; }
.box-hdr-2-plus .body { padding: 0 7px 47px 0; overflow: hidden; zoom: 1; }
.box-hdr-2-plus .feature { margin-left: 38px; }
.box-hdr-2-plus .feature-left { margin-left: 23px; }
.box-hdr-2-plus .feature-plus { margin: 0; width: 232px; float: right; color: rgb(136,136,136); }
* html .box-hdr-2-plus .feature { display: inline; }
.box-hdr-2-plus .header h2 { font-size: 1.167em; line-height: 1.071; }
.box-hdr-2-plus .more { position: absolute; bottom: 21px; right: 266px; }
.box-hdr-2-plus .feature .more { position: static; }
.box-hdr-2-plus .feature-plus .section { padding: 0 18px; }
.box-hdr-2-plus .feature-plus .section { padding: 20px 18px; border-top: 1px solid rgb(219,219,219); }
.box-hdr-2-plus .feature-plus .section-1 { padding-top: 0; border: 0; }
.box-hdr-2-plus .feature-plus h3 { color: rgb(246,150,50); }
.box-hdr-2-plus .selectbox { margin: 0 0 15px; }
.box-hdr-2-plus .selectbox span { color: rgb(102,102,102); }
.box-hdr-2-plus .search-form { margin: 25px 0 10px; }
.box-hdr-2-plus .search-form input { width: 148px; }

.box-hdr-2-1 { overflow: hidden; width: 707px; margin: 0 -2px 15px 0; background: url(../img/bg.box.hdr.2-1.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.box.hdr.2-1.gif*/ no-repeat 0 100%; padding-bottom: 47px; }
.box-hdr-2-1 .feature-double { width: 464px; }
.box-hdr-2-1 .feature-single { width: 230px; float: right; }
.box-hdr-2-1 .header { height: 48px; padding: 13px 0 0 19px; background: url(../img/bg.box.hdr.2-1.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.box.hdr.2-1.gif*/ no-repeat 100% 0; }
.box-hdr-2-1 .feature-double .header { background-position: -713px 0; padding-left: 23px; }
.box-hdr-2-1 .feature-double .body { padding-left: 23px; overflow: hidden; zoom: 1; }
.box-hdr-2-1 .feature-double .section { width: 190px; float: left; margin-right: 29px; }
* html .box-hdr-2-1 .feature-double .section { display: inline; }
.box-hdr-2-1 .feature-single .body { width: 190px; margin-left: 19px; }

.feature-foot-wrap { overflow: hidden; clear: both; width: 944px; background: url(../img/bg.feature-foot-wrap.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.feature-foot-wrap.gif*/; }
.feature-foot-wrap .feature { width: 289px; border-top: 1px solid rgb(219,219,219); padding: 20px 15px 15px; margin-left: 1px; }
.feature-foot-wrap .feature-left { margin: 0; padding-left: 0; }
.feature-foot-wrap .img { float: left; margin: 0 15px 5px 0; }
.feature-foot-wrap .text { padding-right: 15px; }
.feature-foot-wrap h2 { font-size: 1.091em; line-height: 1.083; margin-bottom: 10px; }

.feature-list { background: rgb(250,250,250); padding: 0 15px; border: 1px solid rgb(226,226,226); border-radius: 6px; margin-bottom: 15px; }
.feature-list .feature { float: none; width: auto; overflow: hidden; padding: 15px 0; border-top: 1px solid rgb(226,226,226); }
.feature-list .feature:first-child { border: 0; }
* html .feature-list .feature { zoom: 1; }
.feature-list .img { float: left; margin: 0 15px 0 0; }
.feature-list h2 { margin-bottom: 5px; }

.box-674 { width: 674px; min-height: 255px; background: url(../img/bg.box.674.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.box.674.gif*/ no-repeat 0 100%; margin-bottom: 45px; }
.box-674 .header { padding: 20px 20px 15px; background: url(../img/bg.box.674.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.box.674.gif*/ no-repeat 100% 0; }
.box-674 h2 { font-size: 19px; font-weight: normal; line-height: 1; }
.box-674 .body { padding: 0 25px 20px 20px; overflow: hidden; }
* html .box-674 .body { zoom: 1; }
.box-674 .img { float: left; margin: 0 20px 20px 0; }
.box-674 .text { display: table-cell; zoom: 1; padding-top: 5px; } 

.box-705 { width: 705px; min-height: 255px; background: url(../img/bg.box.705.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.box.705.gif*/ no-repeat 0 100%; margin-bottom: 45px; }
.box-705 .header { padding: 11px; background: url(../img/bg.box.705.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.box.705.gif*/ no-repeat 100% 0; }
.box-705 .body { padding: 0 20px 30px; overflow: hidden; }
* html .box-705 .body { zoom: 1; }
.box-705 .img { float: left; margin: 0 15px 0 0; }
.box-705 .text { display: table-cell; zoom: 1; }
.box-705 .text p { font-size: 1.25em; }
.box-705 .text-default p { font-size: 1em; }
.box-705 .text-default h2 { font-size: 1.167em; line-height: 1.071; }
.box-705 .text-default .hilight { color: #2EB135; font-size: 0.917em; margin: 8px 0; }

ol.circle { padding: 0 !important; }
ol.circle li { margin: 0 0 20px 2em; list-style: decimal; }
ol.circle li:nth-of-type(n+1) { margin-left: 0; list-style: none; padding: 2px 0 0 25px; background: url(../img/bg.ol.circle.png)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.ol.circle.png*/ no-repeat; min-height: 15px; }
ol.circle li:nth-of-type(2) { background-position: -750px 0; }
ol.circle li:nth-of-type(3) { background-position: -1500px 0; }
ol.circle li:nth-of-type(4) { background-position: -2250px 0; }
ol.circle li:nth-of-type(5) { background-position: -3000px 0; }
ol.circle li:nth-of-type(6) { background-position: -3750px 0; }
ol.circle li:nth-of-type(7) { background-position: -4500px 0; }
ol.circle li:nth-of-type(8) { background-position: -5250px 0; }
ol.circle li:nth-of-type(9) { background-position: -6000px 0; }

.feature ol,
.box ol { list-style: decimal; padding-left: 22px; }
.feature ul,
.feature ol { margin-bottom: 5px; }
.box ul,
.box ol { margin-bottom: 1em; }
.feature ul li,
.box ul li { background: url(../img/icon.bullet.disc.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/icon.bullet.disc.gif*/ no-repeat 15px 0.5em; padding-left: 22px; }

/* ----------------------------------------------- END: feature elements -- */

.box-wide-plus { overflow: hidden; width: 685px; margin-bottom: 15px; font-size: 0.917em; }
.box-wide-plus .box-wrap { float: left; width: 460px; background: url(../img/bg.box-wide-plus.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.box-wide-plus.gif*/ no-repeat; }
.box-wide-plus .box { min-height: 230px; background: url(../img/bg.box-wide-plus.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.box-wide-plus.gif*/ no-repeat 100% 100%; padding: 20px 20px 10px; }
.box-wide-plus .side { float: right; width: 190px; }
#feat-care360 .logo { margin-bottom: 15px; }
#feat-care360 .section { padding: 12px 0 0 12px;}
#feat-care360 h3 { margin-bottom: 10px; font-size: 1.091em; }
#feat-care360 ul.bullet { float: left; margin-right: 10px; }


.layout:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.layout { zoom: 1; }
.col-side { float: right; font-size: 0.917em; }
.layout-465_210 .col-main { width: 465px; float: left; }
.layout-465_210 .col-side { width: 210px; }
.layout-540_165 .col-main { padding: 0 15px 0 0; width: 525px; float: left; }
.layout-540_165 .col-side { padding: 0 15px 0 0; width: 150px; }
.layout-525_160 .col-main { width: 525px; float: left; }
.layout-525_160  .col-side { width: 160px; }
.layout-540_165 .col-side-feature { border-bottom: 1px solid rgb(221,221,221); margin-bottom: 28px; padding-bottom: 13px; }
.layout-540_165 .col-side-feature h3, .layout-540_165 .col-side-feature img { margin-bottom: 10px; }
.layout-540_165 .col-side-feature h3 { font-size: 1.363em; font-weight: normal; }
.layout-540_165 .col-side-feature h3.purple { color: rgb(121,34,88); }
.layout-540_165 .col-side-feature h3.orange { color: rgb(248,151,29); }
.layout-540_165 .col-side-feature h3.blue { color: rgb(0,175,219); }
.layout-540_165 .col-side-feature-last { border: 0; }
.layout-540_165 h2, .layout-540_165 h3 { font-size: 1.083em; }
.layout-576_129 .col-main { width: 576px; float: left; }
.layout-529_129 .col-side { width: 129px; }
.layout-576_129 .col-main h1 { font-size: 2.333em; margin-bottom: 24px; }
.layout-576_129 .col-main-intro { font-size: 1.25em; padding-bottom: 8px; }
.layout-576_129 .col-main h2 { font-size: 1.083em; margin-bottom: 5px; }
.layout-576_129 .col-main-img-left { float: left; margin: 0 15px 5px 0; }
.layout-576_129 .col-main-feature { border-bottom: 1px solid rgb(219,219,219); margin-bottom: 15px; padding-bottom: 24px; }
.layout-576_129 .col-main-feature-last { border: 0; }
.layout-576_129 h3, .layout-576_129 h4 { margin-bottom: 15px; }
.layout-576_129 .col-main h4 { font-size: 0.938em; font-style: italic; font-weight: normal; }
.layout-576_129 .col-main h3 { color: rgb(46,177,53); font-weight: normal; }
.layout-576_129 .col-main-feature h3, .layout-576_129 .col-main-feature  h4 { margin-bottom: 3px; }
.layout-576_129 .col-main-feature h2 a { color: rgb(51,51,51); font-size: 1.25em; }
.layout-576_129 .col-main-feature img { float: left; }
.layout-576_129 .col-main-feature div { margin-left: 90px; }
.layout-576_129 .col-main .button { margin-bottom: 30px; }
.layout-576_129 .col-main .mediaplayer { margin-bottom: 23px; }
.layout-352_353 .col-main { width: 352px; float: left; }
.layout-352_353 .col-side { font-size: 1em; margin-left: 20px; padding-right: 10px; width: 323px; }
.layout-352_353 .col-side h2 { font-size: 1.167em; margin-bottom: 15px; }
.layout-352_353 .col-side .thumb-feature { font-size: 1em; padding-bottom: 5px; }
.layout-352_353 .col-side .thumb-feature h3 { margin-bottom: 2px; }
.layout-352_353 .col-side .thumb-feature p { padding-right: 10px; }
.col-525 { width: 525px; }
.col-705 { width: 705px; overflow: hidden; }

.intro { font-size: 18px; line-height: 1.278; margin: 0 0 15px 17px; max-width: 575px; } 
.intro-full { border-bottom: 1px solid rgb(221,221,221); margin: 25px 0 35px; max-width: 100%; padding: 0 85px 30px 25px; }
.intro-full-alt { border-bottom: 1px solid rgb(221,221,221); font-size: 1.25em; margin: 25px 0 30px; max-width: 100%; padding: 0 435px 28px 25px; }
.intro-small { padding: 0 0 15px 25px; }
.intro-smaller { font-size: 1.25em; margin: 0 30px 30px 0; }
.intro-large { font-size: 1.667em; margin: 0 60px 40px 25px; }
.intro-large .more { font-size: 0.65em; }
.intro-alt { font-size: 1.25em; margin: -10px 0 25px 16px; }
.article #maincontent h1 { margin-bottom: 15px; font-size: 26px; font-weight: normal; line-height: 1.192; }
.article #maincontent h1.alt { margin-bottom: 2px; }
.article #maincontent .intro h2 { font-size: 28px; line-height: 1; font-weight: normal; margin: 0 0 10px; }
.article #maincontent h2 { font-size: 1.167em; margin: 15px 0 5px; }
.article #maincontent h2.list-head { font-size: 1em; margin-left: 11px; }
.article #maincontent ol { margin: 0 0 15px; padding-left: 30px; list-style: decimal; }
.article #maincontent ol li { margin-bottom: 0.25em; }
.article #maincontent ul { margin: 0 0 15px; }
.article #maincontent ul li { margin-bottom: 0.25em; background: url(../img/icon.bullet.disc.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/icon.bullet.disc.gif*/ no-repeat 15px 0.5em; padding-left: 22px; }
.article #maincontent ul ul { margin: 0.25em 0 0; }
.article #maincontent ul ul li { background-image: url(../img/icon.bullet.dash.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/icon.bullet.dash.gif*/; }
.article #maincontent .nav ul { margin-bottom: 0; }
.article #maincontent .nav ul li { margin-bottom: 0; background: none; padding: 0; }

.article .more-bar { margin: 20px 0 30px; }
.article .intro { font-size: 1.333em; margin-bottom: 15px; }
.article .intro-style-b { font-size: 1.25em; line-height: 1.2; color: rgb(46,177,53); border-top: 1px solid rgb(221,221,221); border-bottom: 1px solid rgb(221,221,221); padding: 12px 15px 15px; margin: 25px 0 12px; }
.article .intro-style-b p { margin: 0; }
.article .subhead { font-size: 19px; margin-bottom: 20px; line-height: 1; }
.article h1 + .subhead { margin-top: -10px; }
.article .align-left { margin-right: 12px; }
.article .align-right { margin-left: 12px; }
ul.bullet,
.article ul,
.article ol { overflow: hidden; }
* html ul.bullet,
* html .article ul,
* html .article ol { zoom: 1; }
.article ul.bullet a { color: rgb(46,177,53); }


.byline { font-weight: bold; color: #888; margin-bottom: 10px; }
.article .byline { font-size: 0.917em; }
.article h1 + .byline { margin-top: -8px; }
.article .note { font-size: 0.917em; color: #999; }
.article .note strong { font-weight: normal; color: #666; }

.article-refs { font-size: 0.917em;margin: 25px 0; }
.article-refs ol li { line-height: 1.455; }
#maincontent .article-refs h2 { font-size: 1.091em; color: #E98300; margin: 0 0 8px; }

.figure { display: table; width: 1px; background: rgb(230,245,228); margin: 0.25em 0 0.5em; clear: both; }
.figcaption { padding: 12px 15px; border-top: 2px solid rgb(255,255,255); }
*:first-child+html .figure { width: auto; }
*:first-child+html .align-right .figcaption,
*:first-child+html .align-left .figcaption { max-width: 195px; }
* html .figure { width: auto; }
* html .align-right .figcaption,
* html .align-left .figcaption { width: 195px; }

.article #maincontent .col-main-feature { border: 0 solid rgb(221,221,221); border-width: 1px 0; padding: 15px 0; zoom: 1; }
.article #maincontent .col-main-feature:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.article #maincontent .col-main-feature h2 { margin-top: 0; }
.article #maincontent .col-main-feature img { float: left; margin-right: 10px; }

.three-col { background: url(../img/bg.three-col.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.three-col.gif*/ -1px 0; }
.three-col div { float: left; width: 205px; margin-right: 1px; padding: 0 17px; }
.three-col .last { padding-right: 0; }
.three-col h2 { margin-bottom: 9px; }
.three-col a.more { font-weight: bold; margin-left: 13px; }

.col-main > .more { font-size: 0.917em; } 


.promo-img { float: left; margin-right: 10px; }
.form-intro-left { padding-right: 20px; }
.form-intro-right { padding-left: 20px; }
.form-intro-right .promo-img { float: right; margin-left: 10px; margin-right: 0; }
.form-intro h2 { color: rgb(46,177,53); font-size: 1.667em; font-weight: normal; padding: 10px 0 5px; }
.form-intro .text { display: table-cell; zoom: 1; }
.form-intro-alt { background: url(../img/pic.supplier-form.jpg)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/pic.supplier-form.jpg*/ no-repeat bottom right; min-height: 100px; padding: 0 180px 28px 0; }
.form-intro-alt h1 { font-size: 20px; font-weight: normal; margin-bottom: 12px; }
.form-intro-alt .promo-img { bottom: 0; position: absolute; right: 0; }
.email-form .formwrap { border-top: 1px solid rgb(221,221,221); margin-top: 2px; padding: 1px 0 0; zoom: 1; }
.email-form .form { background: rgb(250,250,250); padding: 30px 0 30px 125px; position: relative; }
.email-form form h2 { font-size: 1.667em; font-weight: normal; margin-bottom: 20px; }
.email-form hr { background: rgb(221,221,221); border: 0; clear: both; color: rgb(221,221,221); height: 1px; margin: 15px 0 25px 8px; text-align: left; width: 435px; }
.email-form fieldset { clear: both; margin-top: 8px; padding-left: 8px; }
.email-form th, .email-form td { padding: 4px 0; }
.email-form .error { background: url(../img/icon.bullet.red.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/icon.bullet.red.gif*/ no-repeat left center; display: block; margin: -2px 0 0 5px; padding: 0 10px; width: 110px; }
.email-form form h3, .email-form th label { font-size: 1.083em; font-weight: bold; }
.email-form form h3, .email-form sup { color: rgb(248,151,29); }
.email-form form table, .email-form form p { margin-bottom: 5px; width: 425px; }
.email-form form table { margin-bottom: 10px; }
.email-form th label { display: block; width: 185px; }
.email-form sup { top: -2px; font-size: 1.1em; font-weight: normal; left: 2px; position: relative; }
.email-form input { border: 1px solid rgb(219,219,219); padding: 5px; width: 238px; }
.email-form .has-radio input, .email-form .has-check input { border: 0; padding: 0; width: auto !important; }
.js .email-form .has-check label { position: relative; top: 2px; }
.email-form select { width: 250px; }
.email-form .selector span { width: 215px; }
.email-form input.narrow { width: 65px; }
.email-form select.narrow { min-width: auto; width: 103px; }
.email-form .narrow span { width: 71px; }
.email-form select.year { min-width: auto; width: 76px; }
.email-form .year span { width: 42px; }
.email-form select.month { margin-right: 20px; min-width: auto; width: 116px; }
.email-form .month span { width: 82px; }
.email-form select.day { margin-right: 20px; min-width: auto; width: 60px; }
.email-form .day span { width: 26px; }
.email-form form h4 { clear: both; margin: 10px 0 5px; }
.email-form form h4 span { color: rgb(248,151,29); display: inline; text-transform: uppercase; }
.email-form .buttons { border-bottom: 1px solid rgb(221,221,221); margin: 5px 0 30px 8px; padding: 0 0 1px; width: 425px; }
.email-form .buttons p { background: rgb(240,240,240); margin: 0; padding: 20px 0 30px; text-align: center; }
.email-form .info { color: rgb(137,137,137); font-size: 0.917em; position: absolute; right: 137px; }
.email-form .info sup { left: -2px; }
.email-form-alt .form { padding: 30px; }
.email-form-alt .info { right: 16px; top: 8px; }
.email-form-alt form table { width: 100%; }
.email-form-alt form table.auto { width: auto; }
.email-form-alt input { width: auto; }
.email-form-alt td { padding-right: 19px; }
.email-form-alt label { font-weight: bold; }
.email-form-alt label span { color: rgb(137,137,137); font-weight: normal; }
.email-form-alt textarea { border: 1px solid rgb(219,219,219); height: 135px; padding: 5px; width: 99%; }
.email-form-alt .has-radio label,
.email-form-alt .has-check label { font-weight: normal; margin-right: 20px; }
.email-form-alt .buttons-alt { border-top: 1px solid rgb(221,221,221); padding-top: 35px; width: 100%; }
.email-form-alt .buttons-alt-nobdr { border: 0; }
.email-form-alt .button-wrap { float: right; }
.email-form-alt .button { margin-left: 10px; }
.text-area h2 { font-size: 14px; margin-bottom: 8px; }
.align-left .alt-table { width: 189px; }
.align-right .alt-table { width: 379px; }
.alt-table { margin: 15px 0; }
.alt-table th { background: rgb(242,242,242); color: rgb(102,102,102); padding: 12px 15px; }
.alt-table th,
.alt-table td { border: 1px solid rgb(222,222,222); padding-left: 19px; }
.alt-table th { border-bottom: 0; }
.alt-table td { border-top: 0; padding: 10px 15px 15px; }
.alt-table td.first { text-align: right; }
.alt-table .first label { font-weight: bold; display: block; padding-top: 8px; width: 100%; }
.alt-table .first { border-left: 0; }
.alt-table .first-alt { border-left: 0; border-right: 0; padding-left: 8px; padding-right: 0; padding-top: 5px; text-align: right; }
.alt-table .last { border-right: 0; }
td.alt-wrap { padding: 0; }
td.alt-wrap-right { padding-left: 33px;  }
.alt-label { color: rgb(102,102,102); float: left; }
.alt-label-2 { color: rgb(137,137,137); }

.eductr-search { background: url(../img/bg.educenter-search.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.educenter-search.gif*/ repeat-y; }
.eductr-search select { margin: 7px 0 20px; width: 363px; }
.eductr-search select.last { margin-bottom: 0; }
.eductr-search .left tr { border-bottom: 15px solid rgb(255,255,255); }
.eductr-search .left tr.last { border: 0; }
.eductr-search .left { width: 327px; }
.eductr-search .left table { width: 100%; }
.eductr-search .left td { padding: 20px 23px 22px 0; }
.eductr-search .left .label { padding-left: 18px; padding-right: 13px; text-align: right; }
.eductr-search .label label,
.eductr-search .right label { font-weight: bold; }
.eductr-search input { border: 1px solid rgb(219,219,219); padding: 5px; width: 160px; }
.eductr-search .has-radio input,
.eductr-search .has-check input { border: 0; padding: 0; width: auto !important; }
.eductr-search .range label { display: block; margin-bottom: 4px; }
.eductr-search .range input { margin-bottom: 6px; }
.eductr-search .label-first label { display: block; padding-top: 7px; }
.eductr-search-wrap .buttons { background: rgb(242,242,242); margin-top: 17px; padding: 35px 0 42px; text-align: center; }

.thumb-feature { overflow: hidden; padding-bottom: 15px; margin-bottom: 15px; font-size: 0.917em; border-bottom: 1px solid rgb(219,219,219); }
.thumb-feature-last { border: 0; }
* html .thumb-feature { zoom: 1; }
.thumb-feature .img { float: left; margin-right: 15px; }
.thumb-feature h2 { font-size: 1.182em; line-height: 1.077; margin-bottom: 6px; margin-top: 0 !important; }
.thumb-feature h2 a { font-size: 1.077em; }
.thumb-feature .text { display: table-cell; }
.thumb-feature .byline { margin: 8px 0 12px; }

.intro-feature { margin: 30px 0 48px; }
.intro-feature img { float: left; margin: 0 18px; }
.intro-feature h2 { font-size: 1.667em; margin-bottom: 8px; }
.intro-feature ol { list-style: decimal; padding-left: 22px; }
.intro-feature ul,
.intro-feature ol { margin-bottom: 1em; overflow: hidden; }
* html .intro-feature ul,
* html .intro-feature ol { zoom: 1; }
.intro-feature ul li { background: url(../img/icon.bullet.disc.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/icon.bullet.disc.gif*/ no-repeat 15px 0.5em; padding-left: 22px; }

/*#find-expert { background: url(../img/bg.find-expert.gif) 0 100%; padding-bottom: 20px; } */
#find-expert-cap { background: url(../img/bg.find-expert.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.find-expert.gif*/ 100% 0; height: 40px; overflow: hidden; text-indent: -9999px; }
#find-expert-wrap { background: url(../img/bg.ddd.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.ddd.gif*/ repeat-y 353px 0; border-left:0.5px solid #C8C8C8; border-bottom:0.5px solid #C8C8C8; border-right:0.5px solid #C8C8C8; width: 697px; box-shadow: 3px 2px 3px 2px #C8C8C8; -moz-box-shadow:2px 2px 3px 2px #C8C8C8; border-bottom-left-radius:2em ; border-bottom-right-radius:2em ; -moz-border-radius-bottomright:2em ; -moz-border-radius-bottomleft:2em}
#find-expert-search{ float: left; padding: 0 15px; width: 321px; position: relative; }
#find-expert-list { float: right; padding: 0 10px; width: 280px; }
/*#find-expert-search iframe { height: 405px; width: 100%; }  */
#find-expert-list { float: right; }
#find-expert h3 { margin-bottom: 5px; }
#find-expert ul { margin-bottom: 8px; }
#find-expert li { margin: 4px 15px; }
#find-expert a.more { font-weight: bold; margin-left: 15px; }

#pages { clear: both; }
#pages ul { float: left; left: 50%; list-style: none; margin: 0; position: relative; }
* html #pages ul { zoom: 1;}
#pages li { background: rgb(247,247,247) url(../img/bg.alpha.li.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.alpha.li.gif*/ repeat-x 0 50%; float: left; font-weight: bold; padding: 0; position: relative; right: 50%; text-align: center; }
#pages ul a, #pages ul span { border: 1px solid rgb(219,219,219); border-left: 0; color: rgb(51,51,51); display: block; min-width: 23px; padding: 4px 0; text-decoration: none; }
* html #pages ul a, * html #pages ul span { width: 23px; }
#pages ul a:hover,
#pages ul span { background: rgb(46,177,53); color: rgb(255,255,255); text-decoration: none; }
#pages #pages-prev { border-right: 1px solid rgb(219,219,219); }
#pages #pages-prev, #pages #pages-next { background: none !important; font-weight: normal; padding: 2px 8px 0 0; }
#pages #pages-next { padding: 2px 0 0 8px; }
#pages #pages-prev a { background: url(../img/arrow.grn.left.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/arrow.grn.left.gif*/ no-repeat left center; border: 0; color: rgb(46,177,53); padding-left: 10px; }
#pages #pages-next a { background: url(../img/arrow.grn.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/arrow.grn.gif*/ no-repeat right center; border: 0; color: rgb(46,177,53); padding-right: 10px; }
#pages #pages-prev a:hover, #pages #pages-next a:hover { text-decoration: underline; }
.tc-page #pages { width: 722px; }

.faq { padding-right: 25px; }
.faq-indent { padding-left: 25px; }
.faq h2 { margin-bottom: 7px; color: rgb(121,34,88); font-size: 19px; font-weight: normal; }
.faq h2 span { color: rgb(51,51,51); }
.faq ul { margin-bottom: 20px; }
.faq .question { border-bottom: 1px solid rgb(219,219,219); padding: 15px 150px 8px 30px; position: relative; zoom: 1; }
.faq .question h3 { font-size: 1.25em; margin-bottom: 5px; }
.faq h3.title { border-bottom: 1px solid rgb(219,219,219); color: rgb(248,151,29); font-size: 1.083em; padding: 30px 0 10px; }
.js .faq .question h3 { cursor: pointer; }
.js .faq .answer { display: none; margin: 5px 0 0 15px; }
.faq .answer ul { margin-left: 0 !important; }
.faq .answer ul.bullet { margin-left: -14px !important; }
.faq .answer ul.bullet li { zoom: 1; }
.faq .icon { background: url(../img/icon.faq.plus-minus.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/icon.faq.plus-minus.gif*/ no-repeat; position: absolute; height: 16px; left: 0; margin-top: -8px; top: 25px; width: 16px; }
.js .faq .icon { background-position: left center; cursor: pointer; }
.js .faq .open .icon { background-position: right center; }
.faq .toggleall { display: none; }
.js .faq .toggleall { display: block; }

.sitemap .cols { background: url(../img/bg.three-col.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.three-col.gif*/ -9px 0; margin-bottom: 40px; }
.sitemap .col { float: left; margin-right: 8px; padding: 0 8px 40px; width: 216px; }
.sitemap .col-last { border: 0; margin: 0; padding-right: 0; width: 217px; }
.sitemap .col h2 { margin: 0 10px 12px; }
.sitemap .col .bullet { margin: 0 0 25px 25px; }
.sitemap .col .section-nav { margin-bottom: 10px; }
.sitemap .col .actions { padding: 18px 0 0 8px; }
.sitemap .col .actions h3 { margin: 0 0 13px 15px; line-height: 1; }
.sitemap .col a { color: rgb(51,51,51); }
.sitemap .col a:hover { color: rgb(46,177,53); }

.page-not-found .copy { background: url(../img/bg.page-not-found.jpg)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.page-not-found.jpg*/; height: 534px; margin-bottom: 105px; overflow: hidden; }
.page-not-found .box { background: rgb(246,246,246); font-size: 1.25em; margin: 47px 40px; padding: 30px 32px 50px; width: 466px; }
.page-not-found .box h2 { margin-bottom: 5px; }
.page-not-found .box p { padding-bottom: 13px; }
#page-not-found-search div, #page-not-found-search button { float: left; margin: 0; }
#page-not-found-search label { color: rgb(137,137,137); padding: 6px 5px 0 0; }
#page-not-found-search div { background: rgb(255,255,255) url(../img/icon.search.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/icon.search.gif*/ 5px 50% no-repeat; border: 1px solid rgb(221,221,221); height: 24px; overflow: hidden; 
-webkit-box-shadow: inset 0 0 2px rgba(51,51,51,0.25);
box-shadow: inset 0 0 2px rgba(51,51,51,0.25); }
#page-not-found-search input { border: 0; margin: 3px 5px 5px 20px; outline: none; }
#page-not-found-search button { background: url(../img/btn.go.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/btn.go.gif*/; border: 0; display: block; height: 26px; overflow: hidden; text-indent: -9999px; width: 40px; }
#page-not-found-search button:hover { background-position: 0 -26px; }

.col-testminder { border-top: 1px solid rgb(221,221,221); padding-top: 1px; }
.col-testminder .text { margin: 20px 0 30px 165px; }
.col-testminder h2 { font-size: 1.167em; margin-bottom: 2px; }

#companies-landing { background: url(../img/bg.companies-landing.jpg)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.companies-landing.jpg*/; height: 547px; margin-bottom: 105px; overflow: hidden; }
#companies-landing .copy { margin: 35px 0 0 40px; width: 18em; min-width: 220px; }
#companies-landing h1 { font-size: 2.167em; margin-bottom: 7px; font-weight: normal; line-height: 1.077; }
#companies-landing p { font-size: 1.25em; margin-bottom: 25px; }

.contact-us #sidebar, .contact-us #maincontent { position: relative; }
.contact-us #maincontent { margin-top: -2px; min-height: 450px; }
.contact-us #sidebar { z-index: 1; }
.contact-us #sidebar .selected { background: rgb(255,255,255); margin-right: -19px; position: relative; }
.contact-us #sidebar .no-stub .selected { margin-right: 0; }
.contact-us #sidebar .selected a { color: rgb(46,177,53) !important; background: url(../img/bg.section-nav.icons.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.section-nav.icons.gif*/ no-repeat -286px 50% !important; }
.contact-us #sidebar .selected .stub { background: rgb(255,255,255); border-top: 1px solid rgb(221,221,221); height: 100%; position: absolute; right: 0; top: -1px; width: 21px; }
.contact-us #sidebar .selected .stub-extra { border-bottom: 0 !important; right: -22px; width: 22px; }
* html .contact-us #sidebar .selected .stub { border-bottom: 1px solid rgb(221,221,221); height: 2.65em; right: -14px; width: 14px; }
* html .contact-us #sidebar .selected .stub-extra { right: -30px; width: 24px; }
*:first-child+html .contact-us #sidebar .selected .stub { border-bottom: 1px solid rgb(221,221,221); height: 95%; top: 1px; }
.contact-us .menu { background: url(../img/bg.contact-us.menu.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.contact-us.menu.gif*/ no-repeat bottom left; display: none; width: 711px; }
.contact-us .menu-open { display: block; }
.contact-us .menu .header { background: url(../img/bg.contact-us.menu.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.contact-us.menu.gif*/ no-repeat top left; padding-bottom: 25px; }
.contact-us .menu .body { padding-bottom: 35px; }
.contact-us #landing { background: url(../img/bg.contact-us.jpg)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.contact-us.jpg*/ no-repeat; height: 407px; overflow: hidden; }
.contact-us .body { margin: 0 5px; }
.contact-us .cols-three { background: url(../img/bg.three-col.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.three-col.gif*/ -9px 0; padding-left: 5px; }
.contact-us .cols-three .col { padding: 0 29px; width: 165px; }
.contact-us .cols-three .col-mid { width: 184px; }
.contact-us .cols-two { background: url(../img/bg.three-col.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.three-col.gif*/ 347px 0 repeat-y; padding-left: 5px; }
.contact-us .cols-two-wide-narrow { background-position: 450px 0; }
.contact-us .cols-two .col { padding: 0 29px; width: 285px; }
.contact-us .cols-two .col-narrow { width: 170px; }
.contact-us .cols-two .col-wide { width: 398px; }
.contact-us .cols-two .col-wide img { float: left; margin-right: 10px; }
.contact-us .cols-two .col-wide .text { display: table-cell; zoom: 1; }
.contact-us .cols-nobg { background: none; }
.contact-us .subpage h2, .contact-us .subpage h3 { margin-bottom: 10px; }
.contact-us .menu .feature-title { color: rgb(121,34,88); font-size: 1.167em; font-weight: normal; }
.contact-us .menu ul { margin-bottom: 30px; }
.contact-us .menu li { margin-bottom: 11px; }
.contact-us .more a { font-weight: normal; }
.contact-us .menu .bullet a { color: rgb(46,177,53); }
.contact-us .gazelle { padding-right: 10px !important; width: 175px !important; }
.contact-us .gazelle h3 { color: rgb(121,34,88); font-size: 1.363em; font-weight: normal; margin-bottom: 15px; }
.contact-us .gazelle ul { margin-bottom: 15px; }
.contact-us .gazelle li { margin-bottom: 5px; }
.contact-us #subpage-corpdepts h3 { margin-bottom: 5px; }
.contact-us #subpage-corpdepts p { padding-bottom: 10px; }
.contact-us #subpage-getstarted h2 { font-size: 1.25em; margin-bottom: 20px; }
.contact-us #subpage-getstarted .subcol { float: left; width: 199px; }
.contact-us #subpage-getstarted .subcol h3 { font-weight: normal; margin:5px 0; }
.contact-us #subpage-getstarted li { margin: 0; padding: 5px 0; }
.contact-us #subpage-getstarted li.active { background: rgb(242,242,242); }
.contact-us #subpage-getstarted li.active > a { color: rgb(137,137,137); }
.contact-us #subpage-getstarted li.active > a:hover { text-decoration: none; }
.contact-us .form-intro-alt h2 { font-size: 1.417em; }
.contact-us .form-intro-alt p { font-size: 1.25em; }
.contact-us .menu .email-form { margin: 0 20px 20px; padding-bottom: 20px; }
.contact-us .email-form .form table { width: 400px; }
.contact-us .email-form .error { float: right; width: auto; }
.contact-us .email-form .form { padding-bottom: 55px; }
.contact-us .email-form #phone { width: 135px; }
.contact-us .email-form label { font-size: 1em; }
.contact-us .email-form th label { text-align: right; padding-right: 20px; width: 124px; }
.contact-us .email-form .form td th label,
.contact-us .email-form .form td table { width: auto; }
.contact-us .email-form td th label { padding-right: 10px; margin-left: 22px; }
.contact-us .email-form #ext { margin-right: 4px; width: 40px; }
.contact-us .email-form .alt label { text-align: left; width: 160px; }
.contact-us .email-form #hospital { width: 200px; }
.contact-us .email-form hr { margin-left: -2px; width: 407px; }
.contact-us .email-form textarea { border: 1px solid rgb(219,219,219); height: 100px; padding: 5px; width: 384px; }
.contact-us .email-form .info { right: 17px; top: 12px; }
* html .contact-us .email-form .info { right: 40px; }
.contact-us .email-form .more a { background: url(../img/arrow.grn.left.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/arrow.grn.left.gif*/ no-repeat 0 50% !important; float: left; font-weight: bold; padding: 0 0 0 11px; }
.contact-us .email-form .button { float: right; }

.contact-us .phone-numbers { padding-left: 12px; }
.contact-us .phone-numbers p { padding-bottom: 5px; }
.contact-us .phone-numbers h3.subhead { color: rgb(248,151,29); }
.contact-us .phone-numbers table { margin: 0 0 20px -12px; border-bottom: 20px solid rgb(219,219,219); }
.contact-us .phone-numbers th { background: rgb(230,245,228); border-bottom: 1px solid rgb(255,255,255); color: rgb(102,102,102); padding: 5px 17px; }
.contact-us .phone-numbers td { background: rgb(242,242,242); padding: 8px 17px; }
.contact-us .phone-numbers .even td { background: rgb(254,255,255); }

/*three color boxes, expand on hover*/
.hover-boxes { background: url(../img/bg.hover-boxes.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.hover-boxes.gif*/ no-repeat -674px 0; padding-top: 23px; margin: 0 0 17px -3px; }
.hover-boxes ol { background: url(../img/bg.hover-boxes.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.hover-boxes.gif*/ no-repeat 0 100%; padding-left: 6px; }
.hover-boxes ol li { color: rgb(255,255,255); float: left; font-weight: bold; margin: -20px 14px 0 0; min-height: 60px; padding: 14px 22px 14px; position: relative; width: 170px; }
* html .hover-boxes ol li { height: 60px; }
.hover-boxes ol .third { margin-right: 0; width: 168px; }
.hover-boxes ol li ul { display: none; }
.hover-boxes ol .full { margin-right: 0; width: 624px; }
.hover-boxes ol .full span { display: none; }
.hover-boxes ol .full ul { display: block; margin: 0; min-height: 45px; }
* html .hover-boxes ol .full ul { height: 45px; }
.hover-boxes ol .full li { float: none; height: auto; list-style: disc; margin: 0 0 0 10px;  min-height: 0; padding: 0; width: auto; }
.hover-boxes-first { background-position: -674px -23px; }
.hover-boxes-first ol { background-position: -1348px 100%; }
.hover-boxes-second { background-position: -674px -46px; }
.hover-boxes-second ol { background-position: -2022px 100%; }
.hover-boxes-third { background-position: -674px -69px; }
.hover-boxes-third ol { background-position: -2696px 100%; }

/*call to action (get started) tabs*/
.cta-tabs { width: 100%; }
.cta-tabs td { background: rgb(242,242,242); padding: 10px 22px; vertical-align: middle; width: 330px; }
.cta-tabs .alt { background: rgb(225,240,223); border-left: 1px solid rgb(255,255,255); }
.cta-tabs h3 { font-weight: normal; }
.cta-tabs h3 span { color: rgb(248,151,29); font-size: 1.083em; font-weight: bold; }
.cta-tabs p { margin: 0; }

.billpay #content h2 { border-bottom: 1px solid rgb(221,221,221); font-size: 1.667em; font-weight: normal; padding-bottom: 12px; position: relative; }
.billpay #content h3 { color: rgb(248,151,29); margin-bottom: 13px; }
.billpay #content { margin-bottom: 50px; padding: 0 18px; }
.billpay #content .panes { background: url(../img/bg.billpay.panes.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.billpay.panes.gif*/ repeat-y top right; border-bottom: 1px solid rgb(221,221,221); }
.billpay #content .pane { float: left; padding: 30px 80px 30px 30px; width: 344px; }
.billpay #content .pane div.button { margin-bottom: 30px; }
.billpay #content .panes .email-form table { width: 335px; }
.billpay #content .panes .email-form input { width: 222px; }
.billpay #content .panes .email-form label { font-size: 1em; width: 110px; }
.billpay #content .panes .email-form .right { text-align: right; }
.billpay #content .panes .email-form .more { text-align: right; font-size: 0.833em; }
.billpay #content .panes .email-form .last td { padding-top: 18px; }
.billpay #content .panes .email-form .last label { font-size: 0.917em; margin-right: 10px; }
.billpay #content .panes .email-form .last input { border: 0; width: auto; }

.billpay .form-billpay-registration { padding: 30px 100px 30px 75px; width: 440px; }
.billpay .form-billpay-registration .info { right: 19px; top: 14px; }
.billpay .form-billpay-registration select.month { width: 80px; }
.billpay .form-billpay-registration .month span { width: 46px; }
* html .billpay .form-billpay-registration select { margin-right: 6px; }
* html .billpay .form-billpay-registration select.month { width: 76px; }
.billpay .form-billpay-registration .day { margin-right: 6px; }
.billpay .form-billpay-registration #dob_yy { margin-left: 5px; width: 47px; }
.billpay .form-billpay-registration #initial { width: 47px; }
.billpay .form-billpay-registration #postal_code { width: 82px; }
.billpay .form-billpay-registration .error { float: right; width: auto; }
.billpay .form-billpay-registration .button-wrap { border-top: 1px solid rgb(221,221,221); margin-top: 20px; padding-top: 15px; text-align: right; }
.billpay .form-billpay-registration .button { margin-left: 13px; }

.billpay #content .message-intro { padding: 12px 0 32px; width: 527px; }
.billpay #content .message { background: rgb(230,245,228); border-radius: 8px; font-size: 1.083em; font-weight: bold; margin-bottom: 30px; padding: 17px 0; text-align: center; width: 530px; }
.billpay #content .message span { background: url(../img/icon.success.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/icon.success.gif*/ no-repeat; line-height: 30px; margin-left: 20px; padding: 8px 40px; }
.billpay #content .gazelle { border-top: 1px solid rgb(221,221,221); padding: 30px 0; }
.billpay #content .gazelle h3 { color: rgb(121,34,88); font-size: 1.363em; font-weight: normal; margin-bottom: 8px; }
.billpay #content .gazelle ul { margin-bottom: 14px; }
.billpay #content .gazelle img { float: left; margin-right: 20px; }
.billpay #content .gazelle .text { display: table-cell; zoom: 1; }

.billpay #payment-insurance-wrap { border-bottom: 1px solid rgb(221,221,221); padding: 1px 0; }
.billpay #payment-insurance { background: rgb(250,250,250) url(../img/bg.billpay.payment-insurance.jpg)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.billpay.payment-insurance.jpg*/ no-repeat; height: 403px; }
.billpay #payment-insurance .email-form { float: right; padding: 24px 33px; width: 550px; }
.billpay #payment-insurance .email-form form { margin: 48px 0 0 100px; }
.billpay #payment-insurance .email-form h3 { padding-right: 50px; }
.billpay #payment-insurance .email-form table { width: 333px; }
.billpay #payment-insurance .email-form label { font-size: 1em; width: 130px; }
.billpay #payment-insurance .email-form .button { float: right; margin-top: 10px; }
.billpay #payment-insurance .email-form input { width: 200px; }
.billpay #payment-insurance .email-form .trouble { font-size: 0.917em; margin-left: 130px; width: auto;}
.billpay #payment-insurance .email-form .trouble a { font-weight: bold; }
.billpay .alt #payment-insurance { background-image: url(../img/bg.billpay.payment-insurance.alt.jpg)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.billpay.payment-insurance.alt.jpg*/; }
.billpay .small #payment-insurance { background-image: url(../img/bg.billpay.new-invoice.jpg)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.billpay.new-invoice.jpg*/; height: 216px; }
.billpay .small #payment-insurance .email-form h3 { padding-right: 115px; }
.billpay .small #payment-insurance .button-wrap .button { float: left; }
.billpay .small #payment-insurance .button-wrap span { color: rgb(137,137,137); float: left; font-weight: bold; margin: 15px 17px; }

.billpay #options-menu { background: url(../img/bg.billpay.options-menu.jpg)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.billpay.options-menu.jpg*/ no-repeat 277px 13px; height: 428px; }
.billpay #options-menu #sidebar { margin-top: 12px; width: 265px; }
.billpay #options-menu .section-nav ul { border: 0; }
.billpay #options-menu .section-nav li a { background-position: -260px 50%; color: rgb(46,177,53); }

.billpay .form-invoicepayment .invoices th { border-bottom: 1px solid rgb(221,221,221); padding-bottom: 11px; }
.billpay .form-invoicepayment .invoices .first td { padding-top: 12px; }
.billpay .form-invoicepayment .invoices td { width: 130px; }
.billpay .form-invoicepayment .invoices .even td { background: rgb(242,242,242); }
.billpay .form-invoicepayment .invoices input { width: 100px; }
.billpay .form-invoicepayment .invoices span { color: rgb(237,28,36); display: block; font-size: 0.917em; padding-top: 5px; }
.billpay .form-invoicepayment .form { padding: 30px; width: 540px; }
.billpay .form-invoicepayment .meta { color: rgb(137,137,137); }
.billpay .form-invoicepayment fieldset { position: relative; }
.billpay .form-invoicepayment .info { right: 20px; top: -30px; }
.billpay .form-invoicepayment table { width: auto; }
.billpay .form-invoicepayment p, .billpay .form-invoicepayment hr { width: 520px; }
.billpay .form-invoicepayment p { padding-bottom: 20px; }
.billpay .form-invoicepayment label { font-size: 1em; font-weight: bold; }
.billpay .form-invoicepayment td label { color: rgb(137,137,137); }
.billpay .form-invoicepayment th label { width: 245px; }
.billpay .form-invoicepayment td input { width: 248px; }
.billpay .form-invoicepayment th label span { color: rgb(137,137,137); font-size: 0.917em; font-weight: normal; margin-left: 5px; }
.billpay .form-invoicepayment select.month { width: 85px; }
.billpay .form-invoicepayment .month span { width: 51px; }
* html .billpay .form-invoicepayment select { margin-right: 6px; }
* html .billpay .form-invoicepayment select.month { width: 81px; }
.billpay .form-invoicepayment #slide, .billpay .form-invoicepayment #cvv2 { width: 76px; }
.billpay .form-invoicepayment .notice { font-size: 0.917em; margin-left: 9px; padding: 13px 0; }
.billpay .form-invoicepayment .method { padding-bottom: 15px; }
.billpay .form-invoicepayment .method p, .billpay .form-invoicepayment .method a { font-size: 0.917em; font-weight: normal; }
.billpay .form-invoicepayment .method p { color: rgb(137,137,137); padding-bottom: 15px; }
.billpay .form-invoicepayment .method label { display: block; margin-bottom: 5px; }
.billpay .form-invoicepayment .method img { margin: 5px 0; }
.billpay .form-invoicepayment #phone_area { width: 40px; }
.billpay .form-invoicepayment #phone_three, .billpay .form-invoicepayment #phone_four { width: 65px; }
.billpay .form-invoicepayment #phone span { color: rgb(221,221,221); margin: 0 3px; }
.billpay .form-invoicepayment .has-radio td label { margin-right: 30px; }
.billpay .form-invoicepayment .button-wrap { margin: -4px 12px 0 0; text-align: right; }
.billpay .form-invoicepayment .button { margin-left: 10px; }
.billpay .form-invoicepayment .invoices-alt th.amt { border-left: 1px solid rgb(221,221,221); }
.billpay .form-invoicepayment .invoices-alt th, .billpay .form-invoicepayment .invoices-alt td { border-bottom: 1px solid rgb(221,221,221); padding: 14px 0; }
.billpay .form-invoicepayment .invoices-alt .last th, .billpay .form-invoicepayment .invoices-alt .last td { border-bottom: 0; }
.billpay .form-invoicepayment .invoices-alt label { width: 122px; }
.billpay .form-invoicepayment .invoices-alt input { margin-right: 45px; width: 122px; }
.billpay .form-invoicepayment .invoices-alt .amt label { text-align: right; width: 105px; }
.billpay .form-invoicepayment .invoices-alt .amt label span { font-weight: bold; margin-right: 5px; }
.billpay .form-invoicepayment .invoices-alt .amt input { margin: 0; width: 100px; }

.billpay .form-insurancetransfer .subhead { float: right; margin-top: -30px; }
.billpay .form-insurancetransfer .subhead strong { margin-left: 25px; }
.billpay .form-insurancetransfer .subhead span { color: rgb(137,137,137); font-weight: bold; }
.billpay .form-insurancetransfer .form { padding: 30px 40px 100px 50px; }
.billpay .form-insurancetransfer .info { right: 12px; top: 10px; }
* html .billpay .form-insurancetransfer .info { right: 50px; }
.billpay #content.form-insurancetransfer .form h2 { border: 0; font-size: 1.25em; margin: 0; }
.billpay .form-insurancetransfer .cols { background: url(../img/bg.dbdbdb.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.dbdbdb.gif*/ 412px 0 repeat-y; position: relative; }
.billpay .form-insurancetransfer .col { float: left; width: 380px; }
.billpay .form-insurancetransfer .col-right { float: right; }
.billpay .form-insurancetransfer h3 { clear: both; }
.billpay .form-insurancetransfer hr { margin-top: 10px; }
.billpay .form-insurancetransfer table { width: auto; }
.billpay .form-insurancetransfer label { font-size: 1em; width: 125px; }
.billpay .form-insurancetransfer hr { width: 100%; }
.billpay .form-insurancetransfer #initial,
.billpay .form-insurancetransfer #rp_initial { width: 50px; }
.billpay .form-insurancetransfer .has-radio div,
.billpay .form-insurancetransfer .has-radio input { float: left; }
.billpay .form-insurancetransfer .has-radio label { float: left; width: 60px; }
.billpay .form-insurancetransfer #use_patient-wrap { background: rgb(230,245,228); margin: 0 2px 5px 0; padding: 3px 5px; }
.billpay .form-insurancetransfer #ins-carrier { width: 374px; }
.billpay .form-insurancetransfer #ins-carrier option { padding: 2px 5px; }
.billpay .form-insurancetransfer .button-wrap { margin-top: -4px; text-align: right; }
.billpay .form-insurancetransfer .button { margin-left: 10px; }

.billpay #content.form-invoiceconsolidation h3 { color: rgb(51,51,51); font-size: 1.25em; font-weight: normal; margin-top: 10px; }
.billpay .form-invoiceconsolidation table { border-bottom: 20px solid rgb(242,242,242); color: rgb(137,137,137); margin: 0; width: 100%; }
.billpay .form-invoiceconsolidation th { background: rgb(242,242,242); border: 0 solid rgb(242,242,242); border-width: 0 1px; }
.billpay .form-invoiceconsolidation td { background: rgb(250,250,250);border: 0 solid rgb(221,221,221); border-width: 0 1px; }
.billpay .form-invoiceconsolidation th, .billpay .form-invoiceconsolidation td { padding: 10px 20px; }
.billpay .form-invoiceconsolidation .even td { background: rgb(255,255,255); }
.billpay .form-invoiceconsolidation hr { margin-left: -2px; width: 100%; }
.billpay .form-invoiceconsolidation p { padding-bottom: 5px; }
.billpay .form-invoiceconsolidation .footnote { margin: 16px 30px 25px; width: 525px; }
.billpay .form-invoiceconsolidation .footnote .more a { font-weight: normal; }
.billpay .form-invoiceconsolidation .button-wrap { padding-bottom: 10px; text-align: right; }
.billpay .form-invoiceconsolidation .button { margin-left: 10px; }

.billpay .payment-details p { margin: 25px 0 52px; width: 525px; }
.billpay .payment-details h3 { padding-bottom: 15px; }
.billpay .payment-details th, .billpay .payment-details td { padding-bottom: 14px; }
.billpay .payment-details th { padding-right: 20px; text-align: right; width: 144px; }
.billpay .payment-details td { width: 443px; }
.billpay .payment-details td th, .billpay .payment-details td td { padding-bottom: 0; width: auto; }
.billpay .payment-details td td { padding-right: 40px; }
.billpay .payment-details .more-bar { margin-top: 35px; width: 605px; }

.billpay .form-paymentreview .form { padding: 30px 30px 75px; width: 550px; }
.billpay .form-paymentreview .invoices, .billpay .form-paymentreview p, .billpay .form-paymentreview hr { width: 100%; }
.billpay .form-paymentreview hr { margin-bottom: 15px; }
.billpay .form-paymentreview .invoices { border-top: 1px solid rgb(221,221,221); margin-bottom: 45px; }
.billpay .form-paymentreview .invoices td, .billpay .form-paymentreview .invoices th { border-bottom: 1px solid rgb(221,221,221); }
.billpay .form-paymentreview p { margin-bottom: 25px; }
.billpay .form-paymentreview strong { color: rgb(167,25,48); display: block; margin-bottom: 25px; text-align: center; }
.billpay .form-paymentreview .total { background: rgb(242,242,242); color: rgb(137,137,137); }
.billpay .form-paymentreview .invoices td, .billpay .form-paymentreview .invoices th { padding: 13px 15px; }
.billpay .form-paymentreview .thead th { padding: 11px 15px 13px; }
.billpay .form-paymentreview .payment th { padding-left: 15px; width: 160px; }
.billpay .form-paymentreview .button-wrap { float: right; }
.billpay .form-paymentreview .button { margin-left: 15px; }

.jdos-login { background: url(../img/bg.jdos-login.jpg)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.jdos-login.jpg*/; height: 467px; margin-bottom: 105px; padding: 40px; }
.jdos-login .copy { width: 522px; }
.jdos-login h1 { margin-bottom: 10px; font-size: 26px; font-weight: normal; line-height: 1; }
.jdos-login h2 { background: url(../img/icon.lock.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/icon.lock.gif*/ no-repeat; color: rgb(137,137,137); font-size: 1.667em; font-weight: normal; margin-bottom: 14px; padding: 7px 0 0 30px; }
.jdos-login p { font-size: 1.25em; }
.jdos-login form { background: rgb(253,253,253); border: 1px solid rgb(219,219,219); border-radius: 8px; padding: 17px 30px 25px 17px; margin-top: 40px; width: 295px; }
.jdos-login input { margin-right: 15px; width: 128px; }
.jdos-login .last input { margin: 0; }
.jdos-login hr { margin: 17px 0 9px; width: 100%; }
.jdos-login label { font-weight: bold; }
.jdos-login .has-check label { font-size: 0.917em; font-weight: normal; }
.jdos-login .has-check input { margin: 0; }
.jdos-login .has-check td { padding-bottom: 10px; }


.tabwrap { border-bottom:31px solid rgb(212,208,200); }
.tabs { min-height:62px; position:relative; }
* html .tabs { height:62px; }
.tabs li { float: left; margin: 0 1px !important; padding: 0 !important; background: none !important; width:135px; }
.tabs li a { background: url(../img/bg.tabs.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.tabs.gif*/ left bottom no-repeat; color: rgb(102,102,102); display: block; height:62px; font-weight: bold; padding: 25px 13px 0; position: relative; }
.tabs li a:hover { background-position: center bottom; }
.tabs li a:active, .tabs li a.curr { background-position: right bottom; }
.tabs li a.curr, .tabs li a:hover { color: rgb(46,177,53); text-decoration: none; }
.tabsinner { margin: 0 auto -1px; overflow: hidden; width: 822px; }
.tabsinner ul { width: 10000px; margin-bottom: 0 !important; }
.tabs .prev, .tabs .next { background: url(../img/btn.prev-next.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/btn.prev-next.gif*/; height: 50px; left: 0; overflow: hidden; margin: -21px 6px; position:absolute; text-indent: -9999px; top: 50%; width: 35px; }
.tabs .next { background-position: right top; left: auto; right: 0; }
.tabs .prev:hover { background-position: left bottom; }
.tabs .next:hover { background-position: right bottom; }
.tabscontent { border: 1px solid rgb(219,219,219); border-radius: 5px 5px 0 0; clear: both; }
.tabcontent { background: rgb(219,219,219); color: rgb(255,255,255); display: none; margin: 9px; padding: 24px 33px; }
.tabscontent .green { background: rgb(0,176,146); }
.tabscontent .blue { background: rgb(0,173,238); }
.tabscontent .purple { background: rgb(125,0,99); }
.tabscontent .orange { background: rgb(246,150,50); }
.tabscontent .yellow { background: rgb(201,221,3); }
.tabcontent-curr { display: block; }
.tabcontent .text { display: table-cell; zoom: 1; }
.tabcontent .img { border: 1px solid rgb(255,255,255); float: right; margin-left: 20px; }
.tabcontent h2 { font-size: 2.833em !important; font-weight: normal; }
.tabcontent p { font-size: 1.25em; }
.tabcontent h3 { font-size: 1.167em; margin-bottom: 0.5em; }
.tabcontent .sub p { font-size: 1em; margin-bottom: 0.5em; }
.tabcontent .sub img { float: left; margin-right: 10px; }
.tabcontent a { color: rgb(255,255,255); }
.tabcontent .more a { background-image: url(../img/arrow.wht.png)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/arrow.wht.png*/ !important; }

.results { padding: 5px 0; }
.results #maincolumn { padding: 0 0 20px 20px; width: 520px; border-bottom: 1px solid rgb(219,219,219); }
.results ol { list-style: decimal; margin: 22px 0 0 18px; }
.results ol li { margin-bottom: 10px; }
.results ol p { margin-bottom: 5px; }
.results .title { font-size: 1.083em; }
.results #pages {  width: 540px; padding: 15px 0 50px; }

.results .tabs { border-bottom: 1px solid rgb(221,221,221); margin-bottom: 14px; min-height: 0; }
* html .tabs { height: auto; }
.results .tabs ul { overflow: hidden; padding-left: 15px; position: relative; top: 1px; zoom: 1; }
.results .tabs li { float: left; margin: 0 0 0 1px; color: rgb(46,177,53); font-size: 0.917em; font-weight: bold; line-height: 1; width: auto; }
.results .tabs .tab { display: block; padding: 7px 15px 6px; border: 1px solid rgb(221,221,221); border-top-left-radius: 4px; border-top-right-radius: 4px; }
.results .tabs li a { background: rgb(250,250,250); color: rgb(102,102,102); height: auto; }
.results .tabs li a:hover { color: rgb(46,177,53); text-decoration: none; }
.results .tabs span.tab { border-bottom-color: rgb(255,255,255); }
.results .tabs .cnt { font-weight: normal; }

.nav-toggle { font-size: 0.917em; line-height: 1; font-weight: bold; margin-bottom: 20px; overflow: hidden; }
* HTML .nav-toggle { zoom: 1; }
.nav-toggle div { float: right; border: 1px solid rgb(221,221,221); border-radius: 4px; }
.nav-toggle span,
.nav-toggle a { padding: 5px 15px 4px 18px; display: inline-block; }
.nav-toggle span { color: rgb(46,177,53); }
.nav-toggle a { background: rgb(250,250,250); color: rgb(102,102,102); }
.nav-toggle a:hover { color: rgb(46,177,53); text-decoration: none; }
.nav-toggle div *:first-child { border-right: 1px solid rgb(221,221,221); padding-right: 18px; padding-left: 15px; }

.innovations-grid .copy { margin-bottom: 19px; position: relative; zoom: 1; }
.innovations-grid .copy p { font-size: 1.25em; margin-right: 250px; }
.innovations-grid .copy .howto { bottom: 0; color: rgb(204,204,204); font-size: 0.917em; position: absolute; text-align: right; right: 0; width: 250px; }
* html .innovations-grid .copy { margin-bottom: 4px; }
* html .innovations-grid .copy .howto { bottom: 15px; }
*:first-child+html .innovations-grid .copy { margin-bottom: 4px; }
*:first-child+html .innovations-grid .copy .howto { bottom: 15px; }
#feature-grid-wrap { position: relative; margin-top: -25px; }
#feature-grid { position: relative; height: 467px; }
.grid-item { width: 151px; height: 113px; position: absolute; background: url(../img/bg.innovations-grid.jpg)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.innovations-grid.jpg*/ no-repeat; }
#gitem_01 { top: 0; left: 0; background-position: 0 0; }
#gitem_02 { top: 0; left: 156px; background-position: -156px 0; }
#gitem_03 { top: 0; left: 312px; background-position: -312px 0; }
#gitem_04 { top: 0; left: 468px; background-position: -468px 0; }
#gitem_05 { top: 0; left: 624px; width: 307px; height: 231px; }
#gitem_06 { top: 118px; left: 0px; background-position: 0 -118px; }
#gitem_07 { top: 118px; left: 156px; width: 307px; height: 231px; background-position: -156px -118px; }
#gitem_08 { top: 118px; left: 468px; background-position: -468px -118px; }
#gitem_09 { top: 236px; left: 0; height: 231px; }
#gitem_10 { top: 236px; left: 468px; background-position: -468px -236px; }
#gitem_11 { top: 236px; left: 624px; height: 231px; background-position: -624px -236px; }
#gitem_12 { top: 236px; left: 780px; background-position: -780px -236px; }
#gitem_13 { top: 354px; left: 156px; background-position: -156px -354px; }
#gitem_14 { top: 354px; left: 312px; background-position: -312px -354px; }
#gitem_15 { top: 354px; left: 468px; }
#gitem_16 { top: 354px; left: 780px; background-position: -780px -354px; }

.hidden { position: absolute; left: -9999px !important; top: -9999px !important; }
.js .grid-item a { cursor: default; }
.loaded .grid-item a { cursor: pointer; }
#feature-grid .reveal img { display: none; }
#feature-grid .open { z-index: 5; }
#grid-slides .grid-slide { display: none; }

.grid-slide { width: 640px; min-height: 300px; padding: 30px 30px 25px; font-size: 1.083em; line-height: 1.385; }
.grid-slide img { float: left; margin: 2px 20px 0 0; }
.grid-slide .text { display: table-cell; zoom: 1; }
.grid-slide .kicker { font-size: 0.846em; color: rgb(136,136,136); margin-bottom: 3px; }
.grid-slide .cat { color: rgb(246,150,50); text-transform: uppercase; font-weight: bold; }
.grid-slide .date { color: rgb(136,136,136); font-weight: bold; }
.grid-slide h2 { font-size: 16px; line-height: 1.125; margin-bottom: 10px;}
.grid-slide p { margin-bottom: 10px; }
.grid-slide .warning { margin-bottom: 10px; background: #111; color: #eee; padding: 5px 10px; font-size: 0.923em; line-height: 1.167; }
.grid-slide .note { font-size: 0.923em; line-height: 1.167; color: #666; }

html:not(.js) #feature-grid .reveal:hover { z-index: 5; }
html:not(.js) #feature-grid .reveal:hover img { display: block; }
html:not(.js) #grid-slides .grid-slide:target { display: block; }

#innovations-list { margin-top: -25px; min-height: 450px; }
#innovations-list .copy { margin-bottom: 19px; position: relative; zoom: 1; }
#innovations-list .copy p { font-size: 1.25em; margin-right: 250px; }
#innovations-list .copy .howto { bottom: 0; color: rgb(204,204,204); font-size: 0.917em; position: absolute; text-align: right; right: 0; width: 250px; }
* html #innovations-list .copy { margin-bottom: 4px; }
* html #innovations-list .copy .howto { bottom: 15px; }
*:first-child+html #innovations-list .copy { margin-bottom: 4px; }
*:first-child+html #innovations-list .copy .howto { bottom: 15px; }
#accordion-slider { border-bottom: 1px solid rgb(204,204,204); }
#accordion-slider .section { border-right: 1px solid rgb(204,204,204); border-left: 1px solid rgb(204,204,204);   }
#accordion-slider .header { background: url(../img/bg.innov-list.hdr.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.innov-list.hdr.gif*/ 0 50%; border-top: 1px solid rgb(204,204,204); padding: 9px 37px 8px; cursor: pointer; color: rgb(46,177,53); }
#accordion-slider .header:hover h2 { text-decoration: underline; }
#accordion-slider h2 { font-size: 1.25em !important; font-weight: normal; margin: 0 !important; }
#accordion-slider .open { background-position: -1000px 50%; cursor: default; color: rgb(250,252,250); border-bottom: 1px solid rgb(204,204,204); }
#accordion-slider .open:hover h2 { text-decoration: none; }
.js #accordion-slider .body { display: none; padding: 0 55px; background: rgb(246,246,246); position: relative; overflow: hidden; }
* html #accordion-slider .body { width: 819px; }
#accordion-slider .slide { border-right: 1px solid rgb(204,204,204); border-left: 1px solid rgb(204,204,204); background: rgb(255,255,255); overflow: hidden; }
#accordion-slider ul { margin: 0 !important; }
.js #accordion-slider ul { width: 9999em; padding-bottom: 1px; position: relative; }
#accordion-slider li { float: left; width: 230px; padding: 10px 15px 0 15px !important; min-height: 105px; border-right: 1px solid rgb(219,219,219); margin: 0 !important; background: none !important; }
* html #accordion-slider li { height: 100px; border-right: 1px solid rgb(219,219,219); }
#accordion-slider .btn  { display: block; position: absolute; top: 0; height: 115px; width: 58px; cursor: pointer; background: url(../img/bg.innov-list.btns.png)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.innov-list.btns.png*/ no-repeat; }
#accordion-slider .prev { left: 0; }
#accordion-slider .next { right: 0; background-position: 100% 0; }
* html #accordion-slider .next { right: -1px; }
#accordion-slider .inactive { cursor: default; 
	opacity: 0.3;
	filter: alpha(opacity=30); }
#accordion-slider .kicker { font-size: 0.917em; color: rgb(136,136,136); margin-bottom: 3px; }
#accordion-slider .kicker .cat { font-weight: bold; text-transform: uppercase; color: rgb(233,131,0); }
#accordion-slider .kicker .date { font-weight: bold; }
#accordion-slider .more { font-size: 0.917em; margin-top: 5px; }

.social-wrap { border: 1px solid rgb(204,204,204); border-radius: 9px; }
.social .hdr { background: rgb(242,242,242); border-top: 1px solid rgb(204,204,204); font-size: 1.167em; margin-bottom: 9px; padding: 10px 12px; }
.social-wrap .first .hdr { border: 0; border-radius: 9px 9px 0 0; }
.social ul { margin-left: 35px; }
.social-icon { background: url(../img/icon.social.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/icon.social.gif*/ no-repeat; padding: 6px 0 6px 38px; }
.social-icon-fb { background-position: 0 0; }
.social-icon-tw { background-position: 0 -100px; }
.social-icon-li { background-position: 0 -200px; }
.social-icon-yt { background-position: 0 -300px; }
.social-icon-none { background: none; padding-left: 0; }

.feed { float: left; }
.feed .hdr { border-bottom: 1px solid rgb(204,204,204); padding-bottom: 10px; }
.feed-youtube { margin: 0 31px 0 14px; width: 435px; }
* html .feed-youtube { margin-left: 7px; }
.feed-facebook { width: 225px; }
.feed .items { margin-bottom: 19px; padding-top: 15px; }
.feed h3 { margin-bottom: 10px; }
.feed-twitter { width: 225px; float: right; }
.feed li p { margin: 0 0 5px 0; }
.feed li .date { color: #999; margin-bottom: 1em; }
.js .feed-facebook li { display: none; }

.tag-cloud h2 { font-size: 18px; margin-bottom: 10px; }
.tag-cloud .body { line-height: 16px; }
.tag-cloud a { color: rgb(51,51,51); }
.weight-1 { font-size: 11px; }
.weight-2 { font-size: 12px; }
.weight-3 { font-size: 14px; }
.weight-4 { font-size: 14px; font-weight: bold; }
.weight-5 { font-size: 16px; font-weight: bold; }

.new { color: rgb(248,151,29); }

.search-results ol { list-style: decimal; list-style-position: inside; margin: 0 0 15px; border-bottom: 1px solid #DBDBDB; padding-bottom: 75px; }
.search-results ol .thumb-feature { border: 0; font-size: 1em; width: 530px; position: relative; left: 2.25em; top: -1.25em; } /* work around for ie. numbers not displaying in opera*/
.search-results ol li { vertical-align: top } /*ie 6&7*/
*:first-child+html .search-results ol .thumb-feature { left: 1em; top: 0; }
* html .search-results ol .thumb-feature { left: 1em; top: 0; }
.search-results ol .thumb-feature h2 { font-size: 1.083em; }
.header-search { margin-bottom: 35px; }
.header-search h2 { display: inline; }
.header-search .count { display: inline; padding-left: 25px; color: #666; }
.header-search .button { float: right; }

.selectbox { background: url(../img/bg.selected-lab.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.selected-lab.gif*/; cursor: pointer; height: 26px; margin: 5px 0 19px; position: relative; width: 444px; z-index: 1; }
* html .selectbox { margin-bottom: 12px; }
*:first-child+html .selectbox { margin-bottom: 12px; }
.selectbox span { display: block; padding: 5px 10px; }
.selectbox span a { display: inline; } /*iOS inserting <a> tags around phone numbers*/
.selectbox ul { background: rgb(255,255,255); border: 1px solid rgb(219,219,219); border-top: 0; display: none; font-size: 1em; left: 0; max-height: 250px; overflow: auto; position: absolute; top: 23px; width: 440px; z-index: 1; }
* html .selectbox ul { height: 250px; overflow-y: scroll; }
.selectbox li { padding: 5px 10px; }
.selectbox a { color: rgb(51,51,51); display: block; }
.selectbox a:hover { color: rgb(46,177,53); }
.selectbox-alt { background: url(../img/bg.selected-lab.grn.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.selected-lab.grn.gif*/; margin: 15px 0 25px; }
.selectbox-alt span { color: rgb(46,177,53); font-weight: bold; }
.selectbox-flex { width: 100%; }
.selectbox-flex span { background: url(../img/bg.selected-lab.grn.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.selected-lab.grn.gif*/ 100% 0; margin-left: 5px; padding-right: 5px; }
.selectbox-flex ul { width: 99%; }
input.focusable { border: 0; height: 0; width: 0; }
input.focusable:focus { outline: 0; }

#expert-insights { }
.article #expert-insights h1 { font-size: 1.333em; font-weight: bold; line-height: 1.125; }
#expert-insights .col-1 { width: 225px; float: left; padding-bottom: 40px; }
#expert-insights .col-2 { width: 465px; float: right; padding-bottom: 40px; }
#expert-insights .section-nav h2 { font-size: 1em; text-transform: none; color: rgb(51,51,51); margin: 12px 0 8px 7px; }
#expert-insights ul.bullet { width: 35em; max-width: 100%; }
#expert-insights p + ul.bullet { margin-top: -0.5em; }
#complete-survey { margin: 25px 0; }

/*fancybox overrides*/
#fancybox-wrap.slidebox { background: rgb(255,255,255) url(../img/bg.slidebox.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.slidebox.gif*/ repeat-x 0 100%; }
#fancybox-wrap.slidebox .fancybox-bg,
.slidebox #fancybox-outer { background: none; }
.slidebox #fancybox-content div { overflow: hidden !important; }
.slidebox #fancybox-close { top: -5px; right: -5px; width: 25px; height: 25px; background: transparent url(../img/btn.close.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/btn.close.gif*/; }
.slidebox #fancybox-left, .slidebox #fancybox-right { bottom: -20px; height: 30px !important; width: 65px; }
.slidebox #fancybox-left { left: -20px; background: url(../img/bg.slidebox.prev.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.slidebox.prev.gif*/ no-repeat 50% 50%; }
.slidebox #fancybox-right { right: -20px; background: url(../img/bg.slidebox.next.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.slidebox.next.gif*/ no-repeat 50% 50%; }
.slidebox #fancybox-left-ico,
.slidebox #fancybox-right-ico { background: none; }

#fancybox-wrap.slidebox #fancybox-bg-n,
#fancybox-wrap.slidebox #fancybox-bg-ne,
#fancybox-wrap.slidebox #fancybox-bg-e,
#fancybox-wrap.slidebox #fancybox-bg-se,
#fancybox-wrap.slidebox #fancybox-bg-s,
#fancybox-wrap.slidebox #fancybox-bg-sw,
#fancybox-wrap.slidebox #fancybox-bg-w,
#fancybox-wrap.slidebox #fancybox-bg-nw { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=''); }
* HTML .slidebox #fancybox-left-ico,
* HTML .slidebox #fancybox-right-ico { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=''); }
* HTML .slidebox #fancybox-hide-sel-frame { height: 100%; }
 