#specialalert { background: url(../img/bg.specialalert.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.specialalert.gif*/ no-repeat; left: 0; position: absolute; top: 0; width: 100%; z-index: 10; }
#specialalert p { background: rgb(17,17,17); color: rgb(255,255,255); margin-top: 17px; padding: 15px 0; text-align: center; }
#specialalert strong { color: rgb(255,234,0); text-transform: uppercase; }
#specialalert a { color: rgb(255,255,255); text-decoration: underline; }
#specialalert a:hover { text-decoration: none; }
.js #specialalert { display: none; }