/* SDG Care360 lp additions */
.box-4-wrap { border: 1px #dbdbdb solid; border-left: none; border-right: none; overflow: hidden; width: 705px; margin-bottom: 15px; position: relative; background: url(../img/bg.boxes.4.png) no-repeat 0 100%; }
.box-4-wrap .feature, .box-4-wrap .feature-menu { width: 165px; padding: 15px 3px 50px 7px; font-size: 0.917em; }
.feature-menu { float: left; }
.article #maincontent .box-4-wrap h2 { font-size: 1em; margin: 0 0 3px 0; } 
.article #maincontent .feature-menu .actions a { background-image: url(../img/sdg.actions_arrow.png) !important; }
.article #maincontent .feature-menu .actions li { background: url(../img/sdg.actions_arrow.png) no-repeat 0 100%; }
.article #maincontent .feature-menu .actions li ul { background: url(../img/sdg.actions_arrow.png) no-repeat -200px 100%; padding-bottom: 3px; }
.article #maincontent .feature-menu .actions li.nested a span { background: url(../img/sdg.actions_arrow.png) no-repeat; }
.article #maincontent .feature-menu .actions_arrow li { width: 165px; }
.article #maincontent .feature-menu .actions_default a { background-image: url(../img/sdg.actions_arrow.png) !important; }
.article #maincontent .feature-menu .actions_default li { width: 165px; }
.article #maincontent .feature-menu .actions2 li ul { background: url(../img/sdg.actions_arrow.png) no-repeat -200px 100%; }
.article #maincontent .feature-menu .feature .actions li { background: url(../img/sdg.actions_arrow.png) no-repeat 0 100%; }
.article #maincontent .feature-menu ul { margin: 0 }
.article #maincontent .feature-menu ul li { background: url(../img/sdg.actions_arrow.png) no-repeat 0 100% !important; } 
.article #maincontent .feature-menu ul li:hover { background-position: 100% 100% !important; margin: 0 !important; } 
.take-action-right	{ width: 200px; float: right; margin-bottom: 12px; }

/* end SDG Care360 lp additions */

#sidebar .actions2 h2 { margin: 0 0 13px 15px; line-height: 1; }
.js .actions2 li.parent ul { display: none; }

#sidebar .actions_default h2 { margin: 0 0 13px 15px; line-height: 1; }


.actions_default li { width: 197px; line-height: 1; font-size: 11px; margin: 0 !important; background: url(../img/bg.actions_arrow.gif) no-repeat 0 100%; padding-bottom: 1px; padding-left: 0; }
.actions_default a { padding: 7px 27px 6px 15px; color: rgb(51,51,51); font-weight: bold; min-height: 11px; display: block !important; background-image: url(../img/bg.actions_arrow.gif) !important; }

* html .actions_default a { zoom: 1; }


.actions_default li:hover { background-position: 100% 100%; }
.actions_default li:hover > a { background-position: 100% 0 !important; text-decoration: none; color: rgb(255,255,255) !important; }

.actions2 li.parent li a { padding: 8px 5px 6px 15px; background-position: 0 -100px !important; color: rgb(51,51,51); }
.actions2 li li a:hover { color: rgb(46,177,53) !important; text-decoration: underline; }
.actions2 li li { background: none !important; }
.actions2 li ul { background: url(../img/bg.actions_arrow.gif) no-repeat -200px 100%; padding-bottom: 3px; }
.js .actions2 li.parent ul { display: none; }

.actions_arrow li { width: 197px; line-height: 1; font-size: 11px; margin: 0 !important; background: url(../img/bg.actions_arrow.gif) no-repeat 0 100%; padding-bottom: 1px; padding-left: 0; }

.actions_arrow a { padding: 7px 27px 6px 15px; color: rgb(51,51,51); font-weight: bold; min-height: 11px; display: block !important; background-image: url(../img/bg.actions_arrow.gif) !important; }
* html .actions_arrow a { zoom: 1; }

.actions_arrow li:hover { background-position: 100% 100%; }
.actions_arrow li:hover > a { background-position: 100% 0 !important; text-decoration: none; color: rgb(255,255,255) !important; }

.actions_plus li { width: 197px; line-height: 1; font-size: 11px; margin: 0 !important; background: url(../img/bg.actions_plus.gif) no-repeat 0 100%; padding-bottom: 1px; padding-left: 0; }
.actions_plus a { padding: 7px 27px 6px 15px; color: rgb(51,51,51); font-weight: bold; min-height: 11px; display: block !important; background-image: url(../img/bg.actions_plus.gif) !important; outline:0; }
* html .actions_plus a { zoom: 1; outline:0; }

.actions_plus li:hover { background-position: 100% 100%; outline:0; }
.actions_plus li:hover > a { background-position: 100% 0 !important; text-decoration: none; color: rgb(255,255,255) !important; outline:0; }

.actions_minus li { width: 197px; line-height: 1; font-size: 11px; margin: 0 !important; background: url(../img/bg.actions_minus.gif) no-repeat 0 100%; padding-bottom: 1px; padding-left: 0; }
.actions_minus a { padding: 7px 27px 6px 15px; color: rgb(255,255,255); font-weight: bold; min-height: 11px; display: block !important; background-image: url(../img/bg.actions_minus.gif) !important; outline:0; }
* html .actions_minus a { zoom: 1; outline:0; }

.actions_minus li { background-position: 100% 100%; outline:0; }
.actions_minus li > a { background-position: 100% 0 !important; text-decoration: none; !important; outline:0; }

.actions_minus li:hover { background-position: 100% 100%; }
.actions_minus li:hover > a { background-position: 100% 0 !important; text-decoration: none; color: rgb(255,255,255) !important; outline:0; }

.actions_lock li { width: 197px; line-height: 1; font-size: 11px; margin: 0 !important; background: url(../img/bg.actions_lock.gif) no-repeat 0 100%; padding-bottom: 1px; padding-left: 0; }
.actions_lock a { padding: 7px 27px 6px 15px; color: rgb(51,51,51); font-weight: bold; min-height: 11px; display: block !important; background-image: url(../img/bg.actions_lock.gif) !important; }
* html .actions_lock a { zoom: 1; }

.actions_lock li:hover { background-position: 100% 100%; }
.actions_lock li:hover > a { background-position: 100% 0 !important; text-decoration: none; color: rgb(255,255,255) !important; }

.actions_blank li { width: 197px; line-height: 1; font-size: 11px; margin: 0 !important; background: url(../img/bg.actions_blank.gif) no-repeat 0 100%; padding-bottom: 1px; padding-left: 0; }
.actions_blank a { padding: 7px 27px 6px 15px; color: rgb(51,51,51); font-weight: bold; min-height: 11px; display: block !important; background-image: url(../img/bg.actions_blank.gif) !important; }
* html .actions_blank a { zoom: 1; }

.actions_blank li:hover { background-position: 100% 100%; }
.actions_blank li:hover > a { background-position: 100% 0 !important; text-decoration: none; color: rgb(255,255,255) !important; }

.subitem_image {background-image:url(../img/arrow.gif); float:right; position:relative; left:5px; bottom:0px; width: 25px; border-width: 0px; border-style:solid; border-color:red; padding:0px; margin-bottom:-20px;}

.subitem_arrow {position:relative; float:right; background:url(../img/arrow.gif); width:6px; height:12px; margin-right:11px; margin-top: -1px;}

.subitem_lock {position:relative; float:right; background:url(../img/lock.gif); width:12px; height:15px; margin-right:9px; margin-top: -6px;}
.subitem_blank {position:relative; float:right;  width:0px; }


.subitem_blank {position:relative; float:right;  width:0px; }

.subitem_hr {width:195px; background-color:#ffffff; color:#cccccc; padding:0px 0px 0px 0px; margin:0px 0px 0px 0px;}

.feature .actions_lock li { background: url(../img/bg.actions_lock.gif) no-repeat 0 100%; padding-left: 0; }
.feature .actions_lock li:hover { background-position: 100% 100%; }

.feature .actions_arrow li { background: url(../img/bg.actions_arrow.gif) no-repeat 0 100%; padding-left: 0; }
.feature .actions_arrow li:hover { background-position: 100% 100%; }

.feature .actions_default li { background: url(../img/bg.actions_arrow.gif) no-repeat 0 100%; padding-left: 0; }
.feature .actions_default li:hover { background-position: 100% 100%; }

.feature .actions_blank li { background: url(../img/bg.actions_blank.gif) no-repeat 0 100%; padding-left: 0; }
.feature .actions_blank li:hover { background-position: 100% 100%; }

.feature .actions_plus li { background: url(../img/bg.actions_arrow.gif) no-repeat 0 100%; padding-left: 0; }
.feature .actions_plus li:hover { background-position: 100% 100%; }

.feature .actions_minus li { background: url(../img/bg.actions_arrow.gif) no-repeat 100% 100%; padding-left: 0; }
.feature .actions_minus li:hover { background-position: 100% 100%; }

.feature .actions2 ul { margin-bottom: 0px; }

#nav-main .menu ul { float: none; margin: 0 0 12px 15px; }
#nav-main .menu li { float: none; margin: 0 0 4px; }
#nav-main .actions2 li { float: left; margin: 0 0 4px; }
#nav-main .login li { float: none; margin: 0 0 4px;}
#nav-main .menu li a { color: rgb(51,51,51); }
* html #nav-main .menu li { display: list-item; }
#nav-main .menu a { display: inline; height: auto; text-indent: 0; overflow: visible; background: none; }
#nav-main .menu a:hover { color: rgb(46,177,53); }

.menu .col-4 { padding-left: 3px; background: url(../img/nav-main-col4.gif) repeat-y 236px 0; }
.menu .col { float: left; margin-left: 1px; }
.menu .col-4 .col { width: 185px; padding: 15px 24px 5px; }
.menu .col-left { }
.menu .col-4 .highlite { background: rgb(242,242,242); margin: 0 1px 0 24px; padding: 15px 19px 20px; width: 170px; border-top-left-radius: 6px; border-bottom-left-radius: 6px;}
* html .highlite { display: inline; }
.menu .title { font-weight: bold; font-size: 1.091em; margin-bottom: 10px; }
.menu .col .actions { margin: 0 -6px; }
#nav-main .menu ul + .more { margin-left: 15px; }
#nav-main .more a { color: rgb(51,51,51); background-image: url(../img/arrow.blk.gif) !important; }

#nav-main .menu ol { list-style: decimal; padding-left: 22px; margin-bottom: 1em; }
#nav-main .col + .col + .col + .col ul { margin: 0 0 1em; }
#nav-main .col + .col + .col + .col .actions2 ul { margin: 0 0; }
#nav-main .col + .col + .col + .col ul li { margin-bottom: 0.25em; background: url(../img/icon.bullet.disc.gif) no-repeat 15px 0.5em; padding-left: 22px; }
#nav-main .col + .col + .col + .col li a { color: rgb(46,177,53); }
#nav-main .col + .col + .col + .col .actions li { background: url(../img/bg.actions_arrow.gif) no-repeat 0 100%; padding-left: 0; }
#nav-main .col + .col + .col + .col .actions a { color: rgb(51,51,51); }
#nav-main .col + .col + .col + .col .actions li:hover { background-position: 100% 100%; }


#nav-main .col + .col + .col + .col .actions_lock li { background: url(../img/bg.actions_lock.gif) no-repeat 0 100%; padding-left: 0; }
#nav-main .col + .col + .col + .col .actions_lock a { color: rgb(51,51,51); }
#nav-main .col + .col + .col + .col .actions_lock li:hover { background-position: 100% 100%; }


#nav-main .col + .col + .col + .col .actions_arrow li { background: url(../img/bg.actions_arrow.gif) no-repeat 0 100%; padding-left: 0; }
#nav-main .col + .col + .col + .col .actions_arrow a { color: rgb(51,51,51); }
#nav-main .col + .col + .col + .col .actions_arrow li:hover { background-position: 100% 100%; }



#nav-main .col + .col + .col + .col .actions_default li { background: url(../img/bg.actions_arrow.gif) no-repeat 0 100%; padding-left: 0; }
#nav-main .col + .col + .col + .col .actions_default a { color: rgb(51,51,51); }
#nav-main .col + .col + .col + .col .actions_default li:hover { background-position: 100% 100%; }



#nav-main .col + .col + .col + .col .actions_blank li { background: url(../img/bg.actions_blank.gif) no-repeat 0 100%; padding-left: 0; }
#nav-main .col + .col + .col + .col .actions_blank a { color: rgb(51,51,51); }
#nav-main .col + .col + .col + .col .actions_blank li:hover { background-position: 100% 100%; }


#nav-main .col + .col + .col + .col .actions_plus li { background: url(../img/bg.actions_plus.gif) no-repeat 0 100%; padding-left: 0; }
#nav-main .col + .col + .col + .col .actions_plus a { color: rgb(51,51,51); }
#nav-main .col + .col + .col + .col .actions_plus li:hover { background-position: 100% 100%; }


#nav-main .col + .col + .col + .col .actions_minus li { background: url(../img/bg.actions_minus.gif) no-repeat 100% 100%; padding-left: 0; }
#nav-main .col + .col + .col + .col .actions_minus a { color: rgb(255,255,255); }
#nav-main .col + .col + .col + .col .actions_minus li:hover { background-position: 100% 100%; }