.tc-page ul.bullet a,
.tc-11-page ul.bullet a { color: rgb(51,51,51); }
.tc-page ul.bullet a:hover,
.tc-11-page ul.bullet a:hover { color: rgb(46,177,53); }

.tc-page #maincontent { float: none; width: 945px; margin: 0 auto 50px; }

.tc-page { background: url(../img/bg.title-page.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.title-page.gif*/ no-repeat 50% 20px; }
.tc-page #page-title { width: 945px; margin: 0 auto 20px; padding-top: 27px; background: url(../img/bg.title-page.bc.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.title-page.bc.gif*/ no-repeat 100% 0; }
.tc-page #headerbar { height: 20px; }
.tc-page #breadcrumbs { width: auto; }
.tc-page #bodycontent { width: auto; }

.tc-page #tabs { border-bottom: 1px solid rgb(221,221,221); }
.tc-page #tabs ul { overflow: hidden; position: relative; top: 1px; zoom: 1; }
.tc-page #tabs li { float: left;  margin-left: 1px; color: rgb(46,177,53); font-size: 0.917em; font-weight: bold; line-height: 1; }
.tc-page #tabs li a,
.tc-page #tabs li span { display: block; padding: 7px 15px 6px; border: 1px solid rgb(221,221,221); border-top-left-radius: 4px; border-top-right-radius: 4px; }

.tc-page #tabs li a { background: rgb(250,250,250); color: rgb(102,102,102); }
.tc-page #tabs li a:hover { color: rgb(46,177,53); text-decoration: none; }
.tc-page #tabs li span { border-bottom-color: rgb(255,255,255); }

#recent-results { font-size: 0.917em; overflow: hidden; width: 661px; background: rgb(242,242,242) url(../img/bg.recent-results.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.recent-results.gif*/ no-repeat 0 100%; margin-left: 284px; }
#recent-results .cap { padding-top: 6px; background: url(../img/bg.recent-results.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.recent-results.gif*/ no-repeat 100% 0;}
#recent-results .item { float: left; width: 280px; padding: 2px 25px 12px; }
#recent-results h3 { margin-bottom: 5px; }
#recent-results ul,
#recent-results li { margin-bottom: 0; }

#selected-lab { padding: 9px 16px 10px; }
#selected-lab h2 { color: rgb(248,151,29); margin-bottom: 6px; }
#selected-lab p { color: rgb(102,102,102); font-size: 0.917em; margin: 5px 17px 5px 30px; }
#selected-lab ul { font-size: 0.917em; margin: 0; }
#selected-lab .selectbox, #selected-lab p, #selected-lab ul { float: left; }
#selected-lab .bullet a { color: rgb(46,177,53); }
#selected-lab .help { font-size: 0.917em; margin: -6px 0 0 34px; }
#selected-lab .help li { margin-bottom: 0; }
#selected-lab .login { clear: both; }
#selected-lab .login h3 { display: inline; margin-right: 5px; }
#selected-lab .login a { margin: 0 2px; }
#selected-lab .login span { color: rgb(102,102,102); }

#oi-menu-wrap { background: url(../img/bg.ddd.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.ddd.gif*/ repeat-y 667px 0; border: 0 solid rgb(219,219,219); border-width: 1px 0; margin: 10px 0; padding: 1px 0; position: relative; }
#oi-menu { overflow: hidden; }
#alpha-numeric, #oi-search { background: rgb(242,242,242); float: left; padding: 13px 20px; padding-bottom: 100px; margin-bottom: -90px; width: 626px; } 
#oi-search { margin-left: 3px; width: 256px; padding: 13px 5px 20px 15px; }
#oi-search input { border: 1px solid rgb(219,219,219); padding: 3px; width: 180px; }
#oi-menu h2 { color: rgb(248,151,29); margin-bottom: 5px; }
#alpha-numeric h2 { float: left; }
#alpha-numeric-sub { background: rgb(255,255,255); border: 1px solid rgb(219,219,219); border-top: 0; display: none; left: 0; max-height: 250px; overflow: auto; padding: 13px 16px; position: absolute; top: 0; width: 450px; }
* html #alpha-numeric-sub { height: 250px; }
#alpha-numeric-sub li { margin-bottom: 5px; }
#alpha-numeric-sub a { color: rgb(51,51,51); display: block; word-wrap: break-word; }
#alpha-numeric-sub a:hover { color: rgb(46,177,53); }
#alpha-numeric-sub span { font-weight: bold; }
#alpha-numeric-sub li ul { margin: 0 0 20px 10px; }

.tc-page iframe { border: 0; height: 400px; width: 100%; }
.tc-oi-detail { padding: 15px 20px; zoom: 1; }
.tc-oi-detail-title h3, .tc-oi-detail .back { float: left; font-weight: bold; margin-bottom: 1.1em; }
.tc-oi-detail .back { background: url(../img/arrow.grn.left.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/arrow.grn.left.gif*/ no-repeat 0 2px; padding-left: 10px; }
.tc-oi-detail h2 { font-size: 2em; margin-bottom: .65em; }
.tc-oi-detail-body { clear: both; width: 688px; }
.tc-oi-detail-body sup, .tc-oi-detail-body sub { position: static; vertical-align: top; }
.tc-oi-detail .bullet { margin: 0 0 10px; }
.tc-oi-detail-figure { border: 0 solid rgb(219,219,219); border-width: 1px 0; margin-bottom: 10px; padding: 10px 0; }
.tc-oi-detail-figure img { float: left; margin-right: 10px; }
.tc-oi-detail .notice { background: rgb(234,247,234); font-size: 1.167em; margin: 10px -20px; padding: 15px; }
.tc-landing #intro { background: url(../img/bg.ddd.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.ddd.gif*/ repeat-y 711px 0; border-bottom: 1px solid rgb(219,219,219); margin: -15px 0 27px; padding: 10px 15px 37px; }
.tc-landing #main, .tc-landing #side { float: left; }
.tc-landing #main { width: 695px; }
.tc-landing #main h2 { color: rgb(248,151,29); font-size: 1.5em; font-weight: normal; }
.tc-landing #main .selectbox, .tc-landing #main ul { float: left; }
.tc-landing #main .selectbox { background-image: url(../img/bg.selected-lab.grn.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.selected-lab.grn.gif*/; }
.tc-landing #main .selectbox span { color: rgb(46,177,53); font-weight: bold; }
.tc-landing #main .help { font-size: 0.917em; margin: -6px 0 0 34px; }
.tc-landing #main .help li { margin-bottom: 0; }
.tc-landing #main p { clear: both; color: rgb(137,137,137); font-size: 1.083em; margin-bottom: 0.7em; }
.tc-landing #main .extra { color: rgb(102,102,102); font-size: 0.917em; }
.tc-landing #side { color: rgb(137,137,137); padding: 2px 9px 0 22px; width: 189px; }
.tc-landing #side h3 { color: rgb(248,151,29); margin-bottom: 5px; }
.tc-landing #side p { font-size: 1.083em; margin-bottom: 25px; }
.tc-landing .more { background: url(../img/arrow.grn.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/arrow.grn.gif*/ no-repeat 100% 2px; font-weight: bold; padding-right: 10px; }
#new-tests-guides { padding: 0 15px; }
#new-tests-guides h3 { font-size: 1.167em; margin-bottom: 5px; }
#new-tests, #new-guides { float: left; width: 240px; }
#new-guides { width: 525px; }
#new-guides a { color: rgb(46,177,53); }
.tc-oi-detail .manual { background: url(../img/bg.tc.manual.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.tc.manual.gif*/; float: right; margin-bottom: 10px; width: 465px; }
.tc-oi-detail .manualinner { background: url(../img/bg.tc.manual.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.tc.manual.gif*/ bottom right; padding: 15px 20px; }
.tc-oi-detail .manual img { float: left; }
.tc-oi-detail .manual .copy { float: left; padding: 0 10px; width: 240px; }
.tc-oi-detail .manual h4 { color: rgb(46,177,53); font-size: 0.833em; margin-bottom: 5px; text-transform: uppercase; }
.tc-oi-detail .manual h3 { font-size: 1.25em; margin-bottom: 35px; }
.tc-oi-detail .margin ul { font-size: 0.917em; }
.tc-oi-detail .manual h5 { margin: 15px 0 10px; }
.tc-oi-detail .manual .meta { color: rgb(153,153,153); font-size: 0.833em; padding-bottom: 10px; }
.tc-oi-detail .manual .extra { border-top: 1px solid rgb(221,221,221); font-size: 0.917em; padding-top: 20px; }
.tc-oi-detail .decimal { list-style: decimal; margin: 0 0 10px 15px; }

.tc-page #maincolumn { float: left; padding: 0 0 20px 20px; width: 688px; }
.tc-page .did-you-mean { font-size: 1.25em; }
.tc-page .results { padding: 5px 0; }
.tc-page .results ol { list-style: decimal; margin: 22px 0 0 18px; }
.tc-page .results .item-title { font-size: 1.083em; }

.tc-page .no-results { border: 0 !important; padding-left: 0 !important; }
.tc-page .no-results h2 { margin: 0 0 20px 20px; }
.tc-page .no-results p { margin: 0 0 102px 20px; }
.tc-page .no-results h3 { color: rgb(248,151,29); margin-bottom: 9px; }
.tc-page .no-results #tips { background: rgb(242,242,242); padding: 21px; width: 483px; }
.tc-page .no-results ul { list-style: disc; margin-left: 14px; }
.tc-page .no-results li { margin: 3px 0; }

#tg-menu { margin: 15px 0 20px; zoom: 1; padding-bottom: 20px; border-bottom: 1px solid rgb(219,219,219); position: relative; }
#tg-menu:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
#tg-menu h2 { color: rgb(248,151,29); font-size: 1.083em; height: 28px; }
#tg-browse-wrap { width: 456px; float: left; position: relative; }
#tg-browse-wrap h2 { margin-left: 15px; }
#tg-browse-wrap .filter { float: left; width: 152px; min-height: 64px; }
* html #tg-browse-wrap .filter { height: 64px; }
#tg-browse-wrap .title { height: 64px; background: url(../img/bg.tc.browse.title.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.tc.browse.title.gif*/ no-repeat; font-weight: bold; cursor: pointer; position: absolute; width: 152px; top: 28px; left: 0;border-bottom: 1px solid rgb(219,219,219); z-index: 10; }
#tg-filter-specialty .title { left: 152px; }
#tg-filter-name .title { left: 304px; }
#tg-browse-wrap .title span { display: inline-block; padding-right: 14px; background: url(../img/bg.tc.browse.title.arw.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.tc.browse.title.arw.gif*/ no-repeat 100% 6px; margin: 27px 0 0 27px; }
#tg-browse-wrap .title:hover { color: rgb(46,177,53); }
#tg-browse-wrap .active .title { background-position: 0 -75px; border-bottom: 0; }
#tg-browse-wrap .title:hover span,
#tg-browse-wrap .active .title span { background-position: 100% -94px; color: rgb(46,177,53); }
#tg-browse-wrap .new { color: #F8971D; }
#tg-browse-wrap .menu { display: none; padding-top: 80px; border: 1px solid rgb(219,219,219); border-top: 0; }
html:not(.js) #tg-browse-wrap .filter:hover .menu { display: block; }
html:not(.js) #tg-filter-condition li:hover > ul { display: block; }

#tg-filter-condition .menu { width: 943px; }
#tg-filter-condition ul { min-height: 30em; position: relative; width: 150px; padding-bottom: 1em; border: 1px solid rgb(219,219,219); border-width: 0 1px 0 0; }
#tg-filter-condition ul ul { position: absolute; top: 0; left: 151px; display: none; width: 303px; background: rgb(255,255,255); border-width: 0 1px 1px 0; }
#tg-filter-condition ul ul ul { left: 304px; }
#tg-filter-condition ul ul ul ul { width: 183px; height: 30em; overflow: auto; border: 0; }
* html #tg-filter-condition ul { height: 35em !important; }
#tg-filter-condition li { padding: 0 1px; line-height: 1; margin-bottom: 1px; }
* html #tg-filter-condition li { margin: 0; padding: 0; zoom: 1; }
#tg-filter-specialty li a,
#tg-filter-condition li a { display: block; padding: 3px 25px; color: rgb(51,51,51); }
#tg-filter-condition ul ul ul ul li a { padding-right: 5px; padding-left: 15px; word-wrap: break-word; }
#tg-filter-condition li .flyout { background: url(../img/bg.tc.browse.li.arw.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.tc.browse.li.arw.gif*/ no-repeat 100% 5px; cursor: pointer; }
#tg-filter-condition li a:hover { background-color: rgb(242,242,242); text-decoration: none; }
#tg-filter-condition li .flyout:hover { color: rgb(255,255,255); background-color: rgb(46,177,53); background-position: 100% -45px; }
#tg-filter-condition li .active { color: rgb(255,255,255); background-color: rgb(46,177,53); background-position: 100% -45px; }

#tg-filter-specialty .menu { padding-bottom: 1em; width: 240px; }
#tg-filter-specialty li { padding: 0 1px; line-height: 1; margin-bottom: 1px; }
* html #tg-filter-specialty li { zoom: 1; }
#tg-filter-specialty li a:hover,
#tg-filter-condition li .flyout:hover { color: rgb(255,255,255); background-color: rgb(46,177,53); text-decoration: none; }

#tg-search-wrap { width: 489px; position: absolute; right: 0; z-index: 10; }
#tg-search-wrap h2 { margin-left: 22px; }
#tg-search-wrap .body { border: 1px solid rgb(219,219,219); padding: 1px; }
#tg-search-wrap #tg-search { background: rgb(242,242,242); padding: 0 12px 0 20px; min-height: 61px; overflow: hidden; }
* html #tg-search { height: 61px; }
#tg-search .form { float: left; padding-top: 15px; }
#tg-search .form div { overflow: hidden; }
#tg-search input { border: 1px solid rgb(219,219,219); border-right: 0; float: left; padding: 4px 0 0 10px; height: 25px; width: 195px; color: rgb(136,136,136); }
#tg-search-wrap  #tg-search input { width: 205px; }
#tg-search button { background: url(../img/btn.go.tc.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/btn.go.tc.gif*/ no-repeat; border: 0; display: block; height: 31px; width: 36px; overflow: hidden; text-indent: -9999px; float: left; }
#tg-search button:hover { background-position: 0 -32px; }
#tg-search button:active { background-position: 0 -64px; }
#tg-search ul.bullet { float: right; font-size: 0.917em; margin: 0; max-width: 190px; }
* html #tg-search ul.bullet { width: 190px; }
*:first-child+html #tg-search ul.bullet { width: 190px; }
#tg-search ul.bullet a { color: rgb(46,177,53); }
#tg-search ul { padding-top: 12px; }
#tg-search li { margin: 0; }


ul.alpha { overflow: hidden; border-left: 1px solid rgb(219,219,219); }
* html ul.alpha { zoom: 1; }
ul.alpha li { background: rgb(247,247,247) url(../img/bg.alpha.li.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.alpha.li.gif*/ repeat-x 0 50%; float: left; font-weight: bold; text-align: center; }
ul.alpha a, ul.alpha span { border: 1px solid rgb(219,219,219); border-left: 0; color: rgb(51,51,51); display: block; min-width: 23px; padding: 4px 0; text-decoration: none; }
* html ul.alpha a, * html ul.alpha span { width: 23px; }
ul.alpha a:hover, ul.alpha a.active, ul.alpha span { background: rgb(46,177,53) !important; color: rgb(255,255,255); text-decoration: none; }
ul.alpha span.inactive { color: #333; background: none !important; }
ul.alpha .open a { background: rgb(255,255,255) !important; border-bottom-color: rgb(255,255,255); color: rgb(46,177,53); }
ul.num a { min-width: 35px; }
* html ul.num a { width: 35px; }
#browse-num { float: right; margin-bottom: 3px; }
#browse-alpha { clear: both; margin-left: 1px; }

#tg-filter-name .menu { width: 925px; margin: 2px 0 0 -304px; padding: 80px 0 15px 18px; overflow: hidden; background: none; }
* html #tg-filter-name .menu { margin-left: 0; padding-top: 16px; }
#tg-filter-name ul.alpha { float: left; margin-right: 18px; }

/*test center v1.1*/
.tc-11-search { border: 0 solid rgb(219,219,219); border-width: 1px 0; }
.tc-11-search .inner { background: rgb(249,249,249); color: rgb(137,137,137); margin: 1px 0; padding: 21px 17px; }
.tc-11-search h2 { color: rgb(248,151,29); font-size: 1.083em; margin-bottom: 10px; }
.tc-11-search p { font-size: 0.917em; padding-right: 40px; }
.tc-11-search input,
.tc-11-search button { float: left; }
.tc-11-search input { border: 1px solid rgb(219,219,219); border-right: 0; height: 24px; line-height: 22px; outline: none; padding: 2px 5px; width: 138px; color: rgb(136,136,136); }
.tc-11-search button { background: url(../img/btn.tc_11.go.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/btn.tc_11.go.gif*/; border: 0; height: 31px; overflow: hidden; padding: 0; text-indent: -9999px; width: 35px; }
.tc-11-search button:hover { background-position: left bottom; }

.tc-11-page .find-test-guide-nav { position: relative; z-index: 10; }
* html .tc-11-page .find-test-guide-nav li { zoom: 1; }
.tc-11-page .has-flyout-open { background: rgb(39,154,46) url(../img/bg.nav-section.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.nav-section.gif*/ repeat-x 0 -200px !important; color: rgb(255,255,255) !important; }
.tc-11-page .flyout { background: rgb(255,255,255); border: 5px solid rgb(84,185,72); box-shadow: 1px 1px 3px rgb(221,221,221); display: none; left: 225px; overflow: hidden; padding:1px; position: absolute; top: -11px; width: 707px; z-index: 10; }
.tc-11-page .flyout .hdr { background: rgb(84,185,72); border-bottom: 1px solid rgb(221,221,221); color: rgb(255,255,255); font-size: 0.917em; font-weight: bold; line-height: 1.4em; min-height: 1.4em; padding: 10px; }
* html .tc-11-page .flyout .hdr { height: 1.4em; width: 707px; zoom: 1; }
.tc-11-page .flyout .level { display: none; }
.tc-11-page .flyout .arrow { color: rgb(0,121,52); }
.tc-11-page .flyout .crumb { cursor: pointer; }
.tc-11-page .flyout .crumb:hover { text-decoration: underline; }
.tc-11-page .flyout .bdy { display: block; height: 344px; overflow: hidden; width: 707px; }
.tc-11-page .flyout .bdy-inner { width: 10000px; }
.tc-11-page .flyout .col { background: rgb(255,255,255); border-right: 1px solid rgb(221,221,221); display: none; float: left; height: 334px; padding: 5px 1px; overflow: auto; width: 235px; }
.tc-11-page .flyout .col1 { display: block; }
.tc-11-page .flyout .col strong { display: block; margin: 6px 0 7px 15px; }
.tc-11-page .flyout .col li strong { display: inline; margin: 0; }
.tc-11-page .flyout .col ul { display: block; }
.tc-11-page .flyout .col li { background: rgb(255,255,255);  }
.tc-11-page .flyout .col li a { font-weight: normal; line-height: 1.4em; padding: 2px 25px 2px 34px; text-indent: -9px; }
.tc-11-page .flyout .col li a.active { background: rgb(219,219,219) !important; color: rgb(51,51,51) !important; }
.tc-11-page .flyout .col li a:hover { background: rgb(39,154,46) url(../img/bg.nav-section.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.nav-section.gif*/ repeat-x 0 -200px !important; color: rgb(255,255,255) !important; }
.tc-11-page .flyout .subset { display: none; }
.tc-11-page .flyout ul.alpha { overflow: hidden; border-left: 1px solid rgb(219,219,219); margin-left: 8px; }
* html .tc-11-page .flyout ul.alpha { margin-left: 5px; zoom: 1;}
.tc-11-page .flyout ul.alpha li { background: rgb(247,247,247) url(../img/bg.alpha.li.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.alpha.li.gif*/ repeat-x 0 50%; float: left; }
.tc-11-page .flyout ul.alpha a,
.tc-11-page .flyout ul.alpha span { border: 1px solid rgb(219,219,219); border-left: 0; color: rgb(51,51,51); display: block; font-weight: bold; min-width: 18px; padding: 7px 0 7px 11px; text-align: center; text-decoration: none; }
* html .tc-11-page .flyout ul.alpha a,
* html .tc-11-page .flyout ul.alpha span { width: 16px; }
.tc-11-page .flyout ul.alpha a:hover,
.tc-11-page .flyout ul.alpha span { background: rgb(46,177,53) !important; color: rgb(255,255,255); text-decoration: none; }
.tc-11-page .flyout ul.alpha span.inactive { color: #333; background: none !important; }
.tc-11-page .flyout ul.alpha .open a { background: rgb(255,255,255) !important; border-bottom-color: rgb(255,255,255); color: rgb(46,177,53); }
.tc-11-page .flyout ul.num { margin-top: 5px; margin-bottom: 12px; }
.tc-11-page .flyout ul.num a { min-width: 45px; }
* html .tc-11-page .flyout ul.num a { width: 45px; }

.tc-11-recent-viewed { border-bottom: 1px solid rgb(219,219,219); margin: -20px 0 25px; padding: 0 15px; }
.tc-11-recent-viewed.border-0 { border: 0; margin-bottom: 40px; }
.tc-11-recent-viewed .inner { background: url(../img/bg.dbdbdb.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.dbdbdb.gif*/ repeat-y 50% 0; margin-bottom: 30px; }
.tc-11-recent-viewed .bullet { margin-bottom: -15px; }
*:first-child+html .tc-11-recent-viewed { margin-top:-13px; }
*:first-child+html .tc-11-recent-viewed .bullet { margin-bottom: 0; }
*:first-child+html .tc-11-recent-viewed .inner { margin-bottom: 15px; }
* html .tc-11-recent-viewed { margin-top:-13px; }
* html .tc-11-recent-viewed .bullet { margin-bottom: 0; }
* html .tc-11-recent-viewed .inner { margin-bottom: 15px; }
.tc-11-recent-viewed .bullet li { padding-left: 34px; text-indent: -9px; }
.tc-11-recent,
.tc-11-viewed { float: left; width: 47%; }
.tc-11-viewed { margin-left: 8%; width: 45%; }

.tc-11-page .partial-links a { color: rgb(46,177,53) !important; }
.tc-11-page .two-col-landing { padding: 0 15px; }
.tc-11-page .two-col:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.tc-11-page .two-col { zoom: 1; }
.tc-11-page .two-col h2 { font-size: 1.083em; margin-bottom: 5px; }
.tc-11-page .two-col h3 { font-size: 1.25em; margin: -3px 0 15px; }
.tc-11-page .two-col .col { float: left; width: 200px; }
.tc-11-page .two-col .col-right { float: right; width: 437px; }

.tc-11-page .col-main { float: left; width: 510px; }
.tc-11-page .col-full { float: none !important; width: auto !important; }
.tc-11-page .col-main .copy { padding: 0 17px; }
.tc-11-page .col-main .copy-alt { border-bottom: 1px solid rgb(221,221,221); margin-bottom: -15px; padding-bottom: 20px; }
.tc-11-page .col-main .copy .bullet { margin-left: -15px; }
.tc-11-page .col-sidebar { background: rgb(249,249,249); float: right; width: 179px; }
.tc-11-page .sidebar-promo { border-bottom: 1px solid rgb(221,221,221); font-size: 0.917em; margin: 15px; padding-bottom:15px; }
.tc-11-page .sidebar-promo-last { border: 0; padding-bottom: 30px; }
.tc-11-page .sidebar-promo h3 { font-size: 0.909em; margin-bottom: 11px; text-transform: uppercase; }
.tc-11-page .sidebar-promo li { margin-bottom: 11px; }
.tc-11-page .sidebar-promo ul a { color: rgb(51,51,51); }
.tc-11-page .sidebar-promo ul a:hover { color: rgb(46,177,53); }
.tc-11-page .sidebar-promo h4 { font-size: 1.364em; margin-bottom: 10px; }
.tc-11-page .sidebar-promo h4 a { color: rgb(51,51,51); }
.tc-11-page .sidebar-promo h4 a:hover { color: rgb(46,177,53); text-decoration: none; }
.tc-11-page .sidebar-promo img { margin-bottom: 7px; }
.tc-11-page .sidebar-promo p { margin-bottom: 30px; }
.tc-11-page .sidebar-promo-alt { border: 0; margin: 19px 14px; padding: 0; }
.tc-11-page .sidebar-promo-alt h3 { border-bottom: 1px solid rgb(221,221,221); padding-bottom: 8px; }
.tc-11-page .sidebar-promo-alt ol { color: rgb(137,137,137); }
.tc-11-page .sidebar-promo-alt li,
.tc-11-page .sidebar-promo-alt li a { color: rgb(51,51,51); }
.tc-11-page .sidebar-promo-alt li a:hover { color: rgb(46,177,53); }

.tc-11-page .heading { margin: -5px 15px 0; }
.tc-11-page .copy .heading { margin: 0; }
.tc-11-page .prehead { display: block; margin-bottom: 5px; }
.tc-11-page .prehead-alt { color: rgb(137,137,137); margin-bottom: 12px; }
.tc-11-page h1 { font-size: 2em; font-weight: normal; margin-bottom: 12px; }
.tc-11-page .subheadtitle { font-size: 1.167em; margin: 11px 0 19px; }

.tc-11-select-lab { border: 0 solid rgb(221,221,221); border-width: 1px 0; margin-top: 40px; }
.tc-11-select-lab-alt { border-top-width: 0; margin: 0 0 24px; }
.tc-11-select-lab .inner { background: rgb(249,249,249); margin: 1px 0; padding: 18px 20px; }
.tc-11-select-lab-alt .inner { background: rgb(255,255,255); padding: 18px 7px 5px; }
.tc-11-select-lab h2 { color: rgb(248,151,29); margin-bottom: 6px; }
.tc-11-select-lab p { color: rgb(153,153,153); font-size: 0.917em; margin: 0; }
.tc-11-select-lab ul { font-size: 0.917em; margin: 0; }

.tc-11-select-lab .tc-11-lab-login { color: rgb(137,137,137); font-size: 0.917em; margin: -14px 0 20px; }
* html .tc-11-select-lab .tc-11-lab-login { margin-top: 0; }
.tc-11-select-lab .tc-11-lab-login span { margin: 0 3px; }

.tc-11-page .footnote { color: rgb(137,137,137); font-size: 0.917em; font-style: italic; margin: 42px 6px; }
.tc-11-page .footnote-alt { margin: 26px 180px 26px 0; }

.tc-11-tabs { border-bottom: 1px solid rgb(221,221,221); margin-bottom: 14px; }
.tc-11-tabs.margin-0 { margin: 0; }
.tc-11-tabs ul { overflow: hidden; padding-left: 15px; position: relative; top: 1px; zoom: 1; }
.tc-11-tabs li { float: left; margin-left: 1px; color: rgb(46,177,53); font-size: 0.917em; font-weight: bold; line-height: 1; }
.tc-11-tabs li a,
.tc-11-tabs li span { display: block; padding: 7px 15px 6px; border: 1px solid rgb(221,221,221); border-top-left-radius: 4px; border-top-right-radius: 4px; }
.tc-11-tabs li a { background: rgb(250,250,250); color: rgb(102,102,102); outline: 0; }
.tc-11-tabs li a:hover { color: rgb(46,177,53); text-decoration: none; }
.tc-11-tabs li span { border-bottom-color: rgb(255,255,255); }

.tc-11-page .algorithm { border-bottom: 1px solid rgb(221,221,221); margin-bottom: 20px; padding: 10px 17px 30px; }
.tc-11-page .algorithm img { border: 1px solid rgb(221,221,221); float: left; margin-right: 19px; }
.tc-11-page .algorithm .text { display: table-cell; zoom: 1; }
.tc-11-page .algorithm h2 { margin-bottom: 10px; }
.tc-11-page .algorithm .more span { color: rgb(137,137,137); margin: 0 5px; }
.tc-11-page .type { color: rgb(137,137,137); font-size: 0.917em; text-transform: uppercase; }
.algorithm-modal { position: relative; }
.algorithm-modal .chrome { overflow: hidden; width: 100%; }
.algorithm-modal .more,
.algorithm-modal .close { float: right; }
.algorithm-modal .more { margin-top: 5px; }
.algorithm-modal .close { background: url(../img/btn.tc_11.close.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/btn.tc_11.close.gif*/; height: 24px; margin-left: 15px; overflow: hidden; text-indent: -9999px; width: 25px; }
.algorithm-modal .close:hover { background-position: bottom left; }

.tc-11-page .guide-list { padding-left: 17px; }
.tc-11-page .guide { border-bottom: 1px solid rgb(221,221,221); margin: 0 17px 20px 0; padding: 5px 25px 20px 0; }
.tc-11-page .guide .type { display: block; margin-bottom: 2px; }
.tc-11-page .guide h2 { margin-bottom: 5px; }
.tc-11-page .icon { background: url(../img/bg.tc_11.guides.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.tc_11.guides.gif*/ no-repeat; float: left; height: 64px; margin: 0 30px 0 20px; width: 80px; }
.tc-11-page .text { display: table-cell; zoom: 1; }
.tc-11-page .icon-ig { background-position: -80px 0; }
.tc-11-page .icon-th { background-position: -160px 0; }
.tc-11-page .icon-ts { background-position: -240px 0; }
.tc-11-page .icon-pp { background-position: -320px 0; }
.tc-11-page .icon-tf { background-position: -400px 0; }
.tc-11-page .icon-p { background-position: -480px 0; }
.tc-11-page .icon-ei { background-position: -560px 0; }
.tc-11-page .icon-wp { background-position: -640px 0; }
.tc-11-page .icon-tg { background-position: -720px 0; }
.tc-11-page .education-list { padding: 15px 0 0 17px; }
.tc-11-page .education { border-bottom: 1px solid rgb(221,221,221); margin: 0 17px 20px 0; padding: 5px 25px 20px 0; }
.tc-11-page .education-last { border: 0; }
.tc-11-page .education .img { float: left; margin: 0 28px 0 21px; }
.tc-11-page .education .bullet { margin-left: -15px; }

.tc-11-page .results-list { border-bottom: 1px solid rgb(221,221,221); margin-bottom: 15px; padding: 15px 17px 18px; }
.tc-11-page .results-list ol { list-style: decimal outside; margin: 22px 100px 0 17px; }
.tc-11-page .results-list p { margin-bottom: 5px; }
.tc-11-page .results-list li { margin-bottom: 10px; }
.tc-11-page .additional { font-size: 0.917em; }
.tc-11-page .additional,
.tc-11-page .additional a { color: rgb(137,137,137); }
.tc-11-page .additional a { text-decoration: underline; }
.tc-11-page .additional a:hover { text-decoration: none; }
.tc-11-page .additional strong { text-transform: uppercase; }

.tc-11-page .no-results { border: 0 !important; padding-left: 0 !important; }
.tc-11-page .no-results h2 { margin: 0 0 20px 20px; }
.tc-11-page .no-results p { margin: 0 0 102px 20px; }
.tc-11-page .no-results h3 { color: rgb(248,151,29); margin-bottom: 9px; }
.tc-11-page .no-results ul { list-style: disc; margin-left: 14px; }
.tc-11-page .no-results li { margin: 3px 0; }
.tc-11-page #tips { background: rgb(242,242,242); padding: 21px; border-top: solid 1px #dbdbdb; box-shadow: 0 -2px #fff;}
.tc-11-page .no-results #tips { width: 483px; }
.tc-11-page #tips h3 { color: rgb(248,151,29); margin-bottom: 9px; }
.tc-11-page #tips ul { list-style: disc; margin-left: 14px; }
.tc-11-page #tips li { margin: 3px 0; }

.tc-11-page .client-tools { background: rgb(249,249,249); padding: 10px 15px 7px; border-top: 1px solid rgb(219,219,219); border-bottom: 1px solid rgb(219,219,219); margin-bottom: 30px; }
.tc-11-page .client-tools ul.bullet { margin: 0 0 0 -15px; }
.tc-11-page .test-code h4 { font-size: 1.167em; }
.tc-11-page .test-code p { color: rgb(248,151,29); font-weight: bold; }


.select-lab-default { margin: 18px 0 15px; border: 0; }
.tc-11-select-lab .selectbox-flex { width: 343px; margin: 0; }
.tc-11-select-lab .selectbox-flex span { color: rgb(46,177,53); font-weight: bold; padding: 0 30px 0 5px; height: 26px; line-height: 2; overflow: hidden; }
.tc-11-select-lab .selectbox-flex span a { color: rgb(46,177,53); font-weight: normal; cursor: default; text-decoration: none; }

.select-confirm:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.select-confirm { margin: 15px 0 12px; zoom: 1; }
.select-confirm .selectbox { float: left; margin: 3px 15px 0 0; }
.select-confirm button.confirm { border: 0; height: 31px; overflow: hidden; padding: 0; text-indent: -9999px; float: left; }
.select-confirm button.confirm:hover { background-position: left bottom; }
.select-confirm button.go { background: url(../img/btn.tc_11.go.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/btn.tc_11.go.gif*/; width: 35px; }
.select-confirm button.update { background: url(Unknown_83_filename)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/btn.tc_11.update.gif*/; width: 136px; }

.tc-11-page .large { font-size: 16px; }
.tc-11-page .note { font-size: 0.917em; color: #888; }
.tc-11-page .copy ol { margin-bottom: 1em; padding-left: 2em; list-style: decimal; }
.tc-11-page .copy ol li { margin-bottom: 0.25em; }

.search-box { overflow: hidden; zoom: 1; }
.search-box input { border: 1px solid rgb(219,219,219); height: 24px; line-height: 22px; outline: none; padding: 2px 5px; color: rgb(136,136,136); display: block; margin-bottom: 20px; }
.search-box button { background: url(../img/btn.tc_11.go.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/btn.tc_11.go.gif*/; border: 0; height: 31px; overflow: hidden; padding: 0; text-indent: -9999px; width: 35px; display: block; }
.search-box button:hover { background-position: left bottom; }
.results .search-box { margin-bottom: 50px; }
.results .search-box input { width: 329px; }

.lab-login-block { border-bottom: 1px solid #dbdbdb; margin: 1px 0 25px; background: #fdfdfd; }
.lab-login-block .lab { width: 498px; padding: 20px 10px 1px 17px; float: left; border-right: 1px solid #dbdbdb; background: #fff; }
.lab-login-block .login { width: 149px; float: right; padding: 18px 15px 0; }
.lab-login-block .login h3 { text-transform: uppercase; font-size: 0.917em; margin-bottom: 5px; }
.lab-login-block .links { color: #999; }

.select-lab-block { padding: 7px 0 12px 17px; border-bottom: 1px solid #dbdbdb; margin-bottom: 25px; }
.select-lab-block .large { margin-top: 10px; }
.select-lab-block .note { margin: 0; }

.no-results-search { padding: 20px 17px 0; min-height: 115px; }
.no-results-search p.large { margin-bottom: 25px; }
.no-results-search p.note { margin-bottom: 7px; }
