/*
  temp_tabpage.css: new cCombinedComponants
  cCombinedComponants.css: old cCombinedComponants
  temp_owner_benefits.css: disclaimers for owner_benefits and dealers_suppliers (trash)
*/

/* --------------------------------- Start of Document: cThumbSwitch --------------------------- */
div#thumbSwitchBckgndImage{
    padding: 78px 0px 0px 0px;
}
#right{
    width:110px;
    height:15px;
    position:fixed;
    right:3px;
    top:60px;
}
.bodyCopy{
    width:500px;
    line-height:1.8em;
    font-size:1.1em;
}
.subHead{
    margin-top:23px;
    margin-bottom:13px;
    font-size:1.1em;
	line-height:1.8em;
}
.bottom .subHead{
    margin: 0 0 -10px;
    font-size:1.1em;
	line-height:1.8em;
}
.btnTxt{
    line-height:12px;
}
#leftContent {
    height: 100%;
    left: 60px;
    padding-bottom:80px;
    position: relative;
	width: 600px;
}
body.brandpage #leftContent {
    height: auto;
}
#leftContent .top {
    height: 160px;
    width: 525px;
	margin-bottom:10px;
	float:left;
}
#leftContent .top .logo {
	height: 50px;
	margin-bottom: 15px;
	width: 340px;
}
body.brandpage #leftContent .top .logo {
	margin-bottom: 20px;
}
#thumbSwitchBckgndImage h2 img {
	height:50px;
}
body.brandpage #thumbSwitchBckgndImage h2 img {
	width: 70%;
	height:100%;
}
#thumbSwitchBckgndImage .ctaBtn .actionContainer {
	margin:0;
}

#leftContent .mid {
    width: 600px;
	float:left;
	margin:5px 0 26px 0;
}
#buick #leftContent .mid,
#gmc #leftContent .mid {
	margin: 15px 0 26px 0;
}
#leftContent .mid .list{
    float:left;
    margin-left: 0;
    margin-top: -5px;
    padding: 0;
    width: 560px;
}
body.brandpage #leftContent .mid .list{
	width: 100%;
}
#leftContent .mid .list .itemsTitle{
    display: inline-block;
    height: 21px;
    width:128px;
    margin-left:4px;
    text-transform: uppercase;
    line-height: 12px;
    float:left;
    font-size:.9em;
}
#leftContent .mid .list .itemsTitle h4.gotham-book {
    margin: 0;
}
#leftContent .mid .list .thumbnailImage {
    width:120px;
    height:80px;
    float: left;
    margin-top: 5px;
    margin-right: 13px;
    position: relative;
}
body.brandpage #leftContent .mid .list .thumbnailImage{
	margin-right: 30px;
}
#leftContent .mid .list .thumbnailImage div{
	cursor: pointer;
	display:block;
	height:66px;
	position: relative;
	width:120px;
}
#leftContent .mid ul.list.newStyle .thumbnailImage > div  > a{
	background: url("../images/background1085.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/background1085.png*/ repeat scroll 0 0 transparent;
	bottom: -1px;
	color: #FFF;
	font-size: 0.8333em;
	left: 1px;
	line-height: 1.2em;
	position: absolute;
	text-align: center;
	text-decoration: none;
	width: 100%;
}
#leftContent .mid ul.list.newStyle .thumbnailImage div.centeredAC{
	margin: 0 auto;
    width:99px;
	height:22px;
}
#leftContent .mid ul.list.newStyle .thumbnailImage div .actionContainer{
	height:auto;
	width: 99px;
}

div#leftContent div.bottom{
	float:left;
	overflow: hidden;
	width: 100%;
	margin:0 0 27px;
}
div#leftContent .bottom .subHead{
    margin: 0 0 -2px;
}
div#leftContent div.socialIconsFollow{
	width: 100%;
}
.list .thumbnailImage div.active img,.list .thumbnailImage div img:hover {
    border: 1px solid #00b1e9;
}
.list .thumbnailImage div img{
    border: 1px solid #000;
}
/*#leftContent .mid .list .itemsTitle a:hover, a:visited, a:active, a:link {
    color:#00b1e9;
    text-decoration: underline;
}*/
#leftContent .socialIconsFollow p {
    text-transform: uppercase;
    float: left;
    width: 135px;
}
#leftContent .socialIconsFollow .icons {
    width: 250px;
    margin-top: 10px;
    float: left;
}
#leftContent .socialIconsFollow .icons img {
    padding-right: 5px;
}
#leftContent .bottom .textLinks {
    list-style:none;
    width: 320px;
    padding:0;
    margin: 12px 0 0;
    font-size:1.1em;
}
body.brandpage #leftContent .bottom .textLinks{
	width: 100%;
}
#leftContent .bottom .textLinks li {
     background: url("../images/thumbSwitchLeftArrowIcon.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/thumbSwitchLeftArrowIcon.png*/ no-repeat scroll 0 5px transparent;
     padding-left: 15px;
}
#leftContent .socialIconsFollow .socialIconsList {
/*    list-style-type: none;
    margin-left: -35px;*/
    margin: 15px 0 0;
    padding: 0;
}
#leftContent .socialIconsFollow .socialIconsList li{
    display: inline-block;
    float: left;
}
#leftContent .socialIconsFollow .socialIconsList .socialIconsText {
    text-transform: uppercase;
    float: left;
    margin-top:2px;
    margin-right: 10px;
    font-size:8.5em;
}
#leftContent .socialIconsFollow .socialIconsList li a img {
    float: left;
    margin-right: 10px;
}
#leftContent .top .ctaBtn {
    float: left;
    margin:-7px 20px 0 0;
}
.layeredCta a.button { /* swaps default buttons for 80% opacity version  */
    background: url("../images/fBtnLeftEnd_80.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/fBtnLeftEnd_80.png*/ no-repeat scroll 0 7px transparent;
}
.layeredCta .genBtn { /* swaps default buttons for 80% opacity version  */
    background: url("../images/fBtnBg_80.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/fBtnBg_80.png*/ repeat-x scroll left top transparent;
}
.layeredCta .actionContainer { /* swaps default buttons for 80% opacity version  */
    background: url("../images/fBtnRtEnd_80.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/fBtnRtEnd_80.png*/ no-repeat scroll right 7px transparent;
    margin-top: 0px;
}
.altLinkColor {
    color: #00b1e9;
    text-decoration: none;
}
ul li > a:hover .altLinkColor{
    color: #9ed6e8;
}
/* End of Document: cThumbSwitch */




/* ----------------------------------- Start of Document: cFaqs ---------------------------*/

body.faq-page div.title.parbase.section > h2{
	padding: 25px 0 25px 50px;
}

/*  [START] Rounded corner box structure */

.upperRow {
	/*top: 22px;*/
	margin: 0;
	padding: 0;
	position: relative;
}
.midRow {
	margin: 0;
	padding: 0;
	position: relative;
	overflow:hidden;

}
.ie7 .singleWideContainer.parbase.section .midRow{width:230px!important}
.ie7 .singleWideContainer .lowerRow .lowerMid{width:216px!important;}
#future_vehicles .midRow{
	overflow:visible;
}
.lowerRow {
	margin: 0;
	padding: 0;
	position: relative;
}
/*  [END] Rounded corner box structure */

/*  [START] Expandable box DEFAULT STATE styles  */
.upperLeft {
	background-image: url(../images/upperLeft70.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/upperLeft70.png*/;
	background-repeat: no-repeat;
	height:7px;
	width: 7px;
	float:left;
}
.upperMid {
	background-image: url(../images/upperMid70.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/upperMid70.png*/;
	background-repeat: repeat-x;
	height:7px;
	margin-left:7px;
	margin-right:7px;
}
.upperRight {
	background-image: url(../images/upperRight70.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/upperRight70.png*/;
	background-repeat: no-repeat;
	height:7px;
	width:7px;
	float:right;
}
.midLeft {
	background-image: url(../images/midLeft70.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/midLeft70.png*/;
	background-repeat: repeat-y;
	background-position: left;
}
.midRight {
	background-image: url(../images/midRight70.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/midRight70.png*/;
	background-repeat: repeat-y;
	background-position: right;
}
.midMid {
	background-image: url(../images/midMid70.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/midMid70.png*/;
	background-repeat: repeat;
	margin-left:7px;
	margin-right:7px;
	overflow:hidden;
}
.ie7 #stock-financial .shadedContainer.contentFit .midRow .midLeft .midRight .midMid{
	margin-left:13px;
}
#teamgm_cares .midMid {
/*	overflow:inherit;
*/}
#teamgm_cares .midRow {
	overflow:inherit;
}
.navHolder .midMid {
	background-image: url(../images/midMid70.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/midMid70.png*/;
	background-repeat: repeat;
	margin-left:7px;
	margin-right:7px;
	overflow:visible;
}

.midMid ul {
	margin: 0;
}
body#article.contentpagetwocolumn div.midMid ul{
	padding-left:15px !important;
	list-style: disc !important;
}
.lowerLeft {
	background-image: url(../images/lowerLeft70.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/lowerLeft70.png*/;
	background-repeat: no-repeat;
	height:7px;
	width: 7px;
	float:left;
}
.lowerMid {
	background-image: url(../images/lowerMid70.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/lowerMid70.png*/;
	background-repeat: repeat-x;
	margin-left:7px;
	margin-right:7px;
	height:7px;
}
.lowerRight {
	background-image: url(../images/lowerRight70.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/lowerRight70.png*/;
	background-repeat: no-repeat;
	height:7px;
	width:7px;
	float:right;
}
/*  [END] Expandable box DEFAULT STATE styles  */



/*  [START] Expandable box - HOVER STATE styles  */
.expandBoxHover .upperLeft {
	background-image: url(../images/upperLeft90.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/upperLeft90.png*/;
}
.expandBoxHover .upperMid {
	background-image: url(../images/upperMid90.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/upperMid90.png*/;
}
.expandBoxHover .upperRight {
	background-image: url(../images/upperRight90.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/upperRight90.png*/;
}
.expandBoxHover .midLeft {
	background-image: url(../images/midLeft90.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/midLeft90.png*/;
}
.expandBoxHover .midRight {
	background-image: url(../images/midRight90.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/midRight90.png*/;
}
.expandBoxHover .midMid {
	background-image: url(../images/midMid90.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/midMid90.png*/;
}
.expandBoxHover .lowerLeft {
	background-image: url(../images/lowerLeft90.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/lowerLeft90.png*/;
}
.expandBoxHover .lowerMid {
	background-image: url(../images/lowerMid90.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/lowerMid90.png*/;
}
.expandBoxHover .lowerRight {
	background-image: url(../images/lowerRight90.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/lowerRight90.png*/;
}
/*  [END] Expandable box - HOVER STATE styles  */


/*  [START] Expandable box - EXPANDED STATE styles   */
. .upperLeft {
	background-image: url(../images/upperLeft90.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/upperLeft90.png*/;
}
.expandBoxOpen .upperMid {
	background-image: url(../images/upperMid90.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/upperMid90.png*/;
}
.expandBoxOpen .upperRight {
	background-image: url(../images/upperRight90.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/upperRight90.png*/;
}
.expandBoxOpen .midLeft {
	background-image: url(../images/midLeft90.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/midLeft90.png*/;
}
.expandBoxOpen .midRight {
	background-image: url(../images/midRight90.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/midRight90.png*/;
}
.expandBoxOpen .midMid {
	background-image: url(../images/midMid90.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/midMid90.png*/;
}
.expandBoxOpen .lowerLeft {
	background-image: url(../images/lowerLeft90.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/lowerLeft90.png*/;
}
.expandBoxOpen .lowerMid {
	background-image: url(../images/lowerMid90.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/lowerMid90.png*/;
}
.expandBoxOpen .lowerRight {
	background-image: url(../images/lowerRight90.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/lowerRight90.png*/;
}
/*  [END] Expandable box - EXPANDED STATE styles   */

.clearfix {
	clear:right;
}
.qaBoxWrap {
	background: url(../images/expandCollapse/bg_65.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/expandCollapse/bg_65.png*/ repeat scroll 0 0 transparent;
	border: 1px solid #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 auto;
	min-height: 4500px;
	padding: 25px 50px 50px;
	width: 1015px;
	display:block;
}
.qaBoxWrap h2 {
	float:left;
	clear:both;
	color:#00B1E9;
	text-decoration:none;
}
.qaBoxWrap .faqTitle {
	color: #fff;
}
h2 .sectionTitle,
.pageTopActions .faqTitle {
	color:#00B1E9;
}
.qaBoxWrap a:focus {
	outline:none;
}
.btn {
	float:left;
	clear:both;
	width:175px;
	height:17px;
	padding:3px 0 0;
	margin:20px 0 0;
	display:block;
	font-size:0.6875em;
	font-weight:900;
	text-transform:uppercase;
	text-align:center;
	border-style:solid;
	border-color:#fff;
	border-width:1px;
}
.btnNonCTA {
	float:left;
	clear:both;
	width:175px;
	height:17px;
	padding:3px 0 0;
	margin:20px 0 0;
	display:block;
	font-size:0.6875em;
	font-weight:900;
	text-transform:uppercase;
	text-align:center;
}
.colorText{
	color:#01a7dc !important;
}

.colorTextUnderlined{
	color:#01a7dc !important;
	text-decoration: underline;
}

/*styles for navigation box*/

.navHolder {
	clear: both;
	float: left;
	margin: 0;
	position: relative;
	padding: 23px 0 0 50px;
	/*width: 238px;*/
	width:220px;
}
.nav {
	padding:15px;
	list-style-image:url(../images/expandCollapse/small_blue_arrow.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/expandCollapse/small_blue_arrow.png*/;
	font-weight:bold;
	margin: 0;
}
.nav li {
	margin:9px 12px 0 20px;
}
.nav li:first-child {
	margin-top:5px;
}
.navHolder .shadedContainer {
	padding-bottom: 0;
	position: relative;
	padding-top: 20px;
	}

/*styles for expanding box*/


body.contentpage div#content div.shadedContainer div.midRow div.midLeft div.midRight div.midMid div.par div.parbase div.navHolder div.links div.midRow div.midLeft div.midRight div.midMid ul.nav div.parsys div.faq_link  {
	width: 175px;
}


.boxHolder {
	float: left;
	margin: 0 0 0 15px;
	position: relative;
	/*  top: -20px;*/
    width: 614px;
}
.pageTopActions,
.pageBottomActions {
	font-weight:bold;
}
.pageTopActions {
	/*float: left;*/
	width: 614px;
	height: 1.2em;
	padding-bottom: 10px;
}
.pageBottomActions {
	/*float: left;
	margin: 20px 0 0;*/
    width: 614px;
}
.secondaryActionsContainer {
		color:#00B1E9;
	float: right;
	padding-top: 8px;
	text-decoration: underline;
}
.secondaryActionsContainer a, .secondaryActionsContainer a:visited, .secondaryActionsContainer a:active, .secondaryActionsContainer a:link {
	color:#00B1E9;
}
.secondaryActionsContainer a:hover {
	color: #9ed6e8;
}
div.faqquestion div.upperMid, div.faqquestion div.lowerMid, div.faqquestion div.midMid {
	width: 600px;
}
.qaBox {
	color: #FFFFFF;
	margin: 0;
	overflow: hidden;
	padding: 15px 10px 0;
}
.qaBox a.plus,
.qaBox a.minus {   /* creates a home for plus and minus icons */
	float:left;
	display:block;
	width:20px;
	height:20px;
	margin:-5px 0 0 -5px;
	text-decoration:none;
}
.qaBox a.plus {
	background:url(../images/expandCollapse/plus.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/expandCollapse/plus.png*/;
}
.qaBox a:hover.plus , .expandBoxHover .qaBox a.plus{
	background:url(../images/expandCollapse/plusHover.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/expandCollapse/plusHover.png*/;
}
.qaBox a.minus {
	background:url(../images/expandCollapse/minus.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/expandCollapse/minus.png*/ no-repeat -2px 0;
}
.qaBox a:hover.minus, .expandBoxHover .qaBox a.minus{
	background:url(../images/expandCollapse/minusHover.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/expandCollapse/minusHover.png*/ no-repeat -2px 0;
}
.qaBox p:last-child {
	margin-top:16px;
	font-weight:900;
}
.qaBox .faqQ a,
.qaBox .faqA a,
.qaBox ul a {
	padding: 0;
	margin: 0;
}
.qaBox .faqQ a:link, .qaBox .faqQ a:active, .qaBox .faqQ a:visited, .qaBox .faqQ a:hover,
.qaBox .faqA a:link, .qaBox .faqA a:active, .qaBox .faqA a:visited, .qaBox .faqA a:hover,
.qaBox ul a:link, .qaBox ul a:active, .qaBox ul a:visited, .qaBox ul a:hover {
	text-decoration: underline;
	padding: 0;
	margin: 0;
}
.qaBox .faqA a,
.qaBox .faqQ a:link, .qaBox .faqQ a:active,
.qaBox .faqA a:link, .qaBox .faqA a:active,
.qaBox ul a:link, .qaBox ul a:active {
	color:#00B1E9 !important;
}
.qaBox .faqQ a:visited,
.qaBox .faqA a:visited,
.qaBox ul a:visited {
	color:#a7a7a7;
}
.qaBox .faqQ a:hover,
.qaBox .faqA a:hover,
.qaBox ul a:hover {
	color:#9ed6e8;
}
.faqQ ul,
.faqA  ul {
	padding: 0;
	margin: 0;
}
.qaBox ul a {
	left: 0;
}
.qaBox li {
	margin: 0;
	line-height: 1.8em;
}
.qaBox li span {
	font-size: 1.2em; /* works with cufon to create a larger letter 'Q' and letter 'A' */
	position: relative;
    top: -1px;
}
.faqQ {
	cursor:pointer;
	padding:0 20px 15px 30px;
}
.faqA {
	border-top: 1px solid #FFF;
	padding: 13px 20px 10px 30px;
	margin-top: 10px;
}
.expAll, .linkPrint {
	color:#00B1E9;
	text-decoration:underline;
	margin-bottom:-10px;
}
.expAll {
	float:left;
	clear:left;
}
.linkPrint {
	float:right;
	clear:right;
	text-decoration:underline;
}
/* End of Document: cFaqs */


/* ----------------------------------- Start of Document: cBaseballCards --------------------------------- */
#model-overview .titleContainer {
	margin: 0 auto;
	padding: 24px 0 9px 0;
}
#model-overview {
	left: 40px;
	padding-bottom: 40px;
	position: absolute;
	top: 100px;
	width: 256px;
}
#model-overview a.active {
	color: #00b1e9;
}
#model-overview #make-model {
	/*padding-top: 24px;*/
	font-size: 1.5em;
	line-height:1.3333em;
	text-align: center;
	text-transform: uppercase;
}
#model-overview #price {
	font-size: 0.8333em;
	line-height: 1.5em;
	padding-top: 10px;
	text-align: center;
}
#model-overview .arrow-link {
	background-image: url("../images/bullet_arrow.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/bullet_arrow.png*/;
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 13px;
}
#model-overview .arrow-link.active a {
	color: #00b1e9;
}
#model-overview #available-colors-link {
	margin: 10px auto 0;
	width: 120px;
}
#model-overview .separator {
	background-image: url("../images/line.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/line.png*/;
	background-repeat: repeat-x;
	background-position: left center;
	height: 1px;
	margin: 15px 0 15px -5px;
	padding-right: 10px;
	width:100%;
}

body#enclave div#model-overview div#key-features {
	width: 205px !important;
}

#model-overview #key-features {
	margin: 0 auto;
	width: 210px;
}

#model-overview #key-features ul {
	font-weight: normal;
	list-style-type: disc;
	margin: 5px 12px;
	padding: 0 0 0 3px;
}
#model-overview #key-features ul li {
	padding-bottom: 5px;
}
#model-overview .moreVehicleText{
	font-weight: bold;
	margin: 0 auto -10px;
	text-align: center;
	width: 200px;
}
/*#model-overview .buttonAdjust240{
	width: 230px;
}
#model-overview .buttonAdjust240 .actionContainer{
	margin-right: 0;
}
#model-overview .buttonAdjust240 .actionContainer a.button{
	margin-right: 0;
}
*/
#model-overview .button span.btnLeftEnd, #model-overview .button span.btnRightEnd {
	top: 0;
}
#model-overview-link {
	margin: 15px auto;
}
#model-overview-link a {
	display: block;
	height: 20px;
	margin: 0 auto;
}
#model-links {
	width: 190px;
	margin: 0px auto 10px;
}
#model-links ul {
	list-style: none;
	padding: 0;
	margin: 5px 0;
}
#model-links ul li.arrow-link a{
	color: #FFF;
	text-decoration: none;
}
#model-links ul li.arrow-link a:hover{
	color: #9ED6E8;
}
#model-overview #addThis_container {
	width: 215px;
	margin: 0 auto;
}
#model-overview #select-another-vehicle {
	margin: 0 auto;
	padding-bottom: 10px;
}
#model-overview #select-another-vehicle a {
	display: block;
	width: 167px;
	height: 20px;
	margin: 0 auto;
}
#model-overview #select-another-vehicle a:hover {
	background-position: left -21px;
}
.submitContainer {
	float: left;
	padding: 3px 0 0 8px;
	position: relative;
	text-decoration: none;
	top: -9px;
}
/*----------------- Color selector -------------------*/
#color-selector {
	position: absolute;
	width: 487px;
	height: 400px;
	top: 85px;
	left: 295px;
	display: none;
}
#color-selector-content {
	height: 400px;
}
.model-overview-close-button {
	width: 79px;
	height: 20px;
	position: absolute;
	top: 10px;
	right: 8px;
}
#color-selector #color-swatches {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 200px;
	height: 50px;
}
#color-selector #color-swatches ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#color-selector #color-swatches ul li {
	float: left;
	margin-right: 15px;
	margin-bottom: 5px;
	padding: 0;
}
#color-selector #bg-360 {
	background-image: url("../images/360-control-bg.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/360-control-bg.png*/;
	bottom: -19px;
	height: 277px;
	left: 3px;
	position: absolute;
	width: 480px;
}
#color-selector #vehicle-360 {
	bottom: 45px;
	height: 160px;
	left: 10px;
	position: absolute;
	width: 480px;
}
#color-selector .color-code {
	width: 48px;
	height: 16px;
	display: block;
}
#color-selector #nav360 {
	bottom: 11px;
	height: 10px;
	left: 200px;
	position: absolute;
	width: 83px;
}
#color-selector #prev360 {
	width: 19px;
	height: 20px;
	position: absolute;
	display: block;
	background-image: url("../images/360-arrows.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/360-arrows.png*/;
	background-position: left center;
	background-repeat: no-repeat;
	left: 0;
	outline: none;
}
#color-selector #next360 {
	width: 19px;
	height: 20px;
	position: absolute;
	display: block;
	background-image: url("../images/360-arrows.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/360-arrows.png*/;
	background-position: right center;
	background-repeat: no-repeat;
	right: 0;
	outline: none;
}
/* -------------- Current Offers -------------*/
#current-offers {
	position: absolute;
	width: 400px;
	height: 150px;
	top: 340px;
	left: 295px;
	display:none;
}
#current-offers-content {
	display: block;
	height: 138px;
}
#current-offer-copy {
	/*height: 38px;
	padding: 18px 30px 30px;
	width: 300px;*/
	   padding: 10px 30px 0;
}
#current-offer-form-content {
	margin-left: 10px;
	margin-top: 15px;
	position: relative;
}
#current-offers-form {
	padding:0;
	margin: 0 20px;
	/* IE 8 and up */
    margin-left: 26px\9;
    /* IE 7 and below */
    *margin-left:24px;
}
#current-offers-form fieldset {
	position:relative;
	border:none;
}
#current-offers-form input[type="text"] {
	background-color: transparent;
	background-image: url("../images/zip-bg.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/zip-bg.png*/;
	border: medium none;
	clear: right;
	float: left;
	height: 20px;
	outline: medium none;
	padding: 2px 7px;
	position: relative;
	width: 100px;
}
#current-offer-button {
	bottom: -16px;
	height: 22px;
	left: 138px;
	outline: medium none;
	position: absolute;
}
/*  View Change */
#view-change {
	bottom: 55px;
	cursor: pointer;
	position: fixed;
	right: 25px;
	text-transform: uppercase;
	font-size:.8em;
}
#model-overview-background img {
	position: absolute;
	top:0;
	left:0;
}
#model-overview-background {
	position: relative;
}

/*  [START] button adjustment for fixed-width container */


#model-overview .buttonAdjust_chevrolet {  /* javascript will add these */
	padding-left: 2px;
}
#model-overview .buttonAdjust_buick { /* javascript will add these */
}
#model-overview .buttonAdjust_gmc { /* javascript will add these */
	padding-left: 7px;
}
#model-overview .buttonAdjust_cadillac { /* javascript will add these */
	padding-left: 22px;
}

#model-overview .buttonAdjust120 {
	margin: 0 61px;
}
#model-overview .buttonAdjust170 {
	margin: 0 auto;
	}
#model-overview .buttonAdjust230 {
	margin: 0;
}
#model-overview .buttonAdjust240 {

	text-align: center;
	/*padding-left:17px;
	margin: 0 auto;
	width: 240px;*/
}
div.modelOverviewCTA{
	margin: 0 auto;
	display: inline-block; /* corrects CTA centering issue */
}


/*  [END] button adjustment for fixed-width container */

#lastItem {  /* provides uniform spacing around this object, the content above it, and bottom of it's container */
	margin: 50px 0 0 40px
}
/*
div.destination_freight_charge{
	padding: 40px 0 0;
	width: 920px;
}
*/
div.DFCWrap  a:link, div.DFCWrap  a:visited, div.DFCWrap  a:active{
	color: #FFF;
}
div.DFCWrap  a:hover{
	color: #9ED6E8;
}
div.DFC{
	cursor: pointer;
}
a.DFC{
	color: #FFF;
}
div.DFCText{
	text-indent:-999px;
}
div.DFC span.rollOverTextDFCpage{
	display: none;
}
body#dfc div.DFC span.rollOverTextDFCpage{
	display: block;
}
.modalTrigger a, .modalTrigger a:visited, .modalTrigger a:active, .modalTrigger a:link {
    color: #fff;
    text-decoration: underline;
}
.modalTrigger a:hover {
	color: #9ed6e8;
}




/* [START] Styling for the DFC pane */
div.shadedContainerDFC{
	left: 0;
	position: relative;
	margin: 75px auto 0;
	width: 649px;
	z-index: 500;
}
body#dfc .destination_freight_charge{
  position:relative;
  width:649px;
  margin:10px auto 0;
}


div.shadedContainerDFC div.actionContainer{
	float: right;
	margin: -10px 0 0;
}
div.shadedContainerDFC div.DFCText h3{
	margin: 0 0 5px;
}
div.shadedContainerDFC div.DFCText{
	overflow: hidden;
	padding: 10px 5px 10px 10px;
	text-indent: 0;
	width:620px;
}
div.shadedContainerDFC div.DFCText h3{
	margin: 0 0 5px;
}
div.shadedContainerDFC span.highLightColor{
	color: #00B1E9;
}
div.shadedContainerDFC div.scrollPane{
	height: 450px;
	overflow: auto;
	width: 620px;
}
div.shadedContainerDFC .jspPane{
	width: 610px;
}
div#choose-a-wrap .jspVerticalBar ,
div.shadedContainerDFC .jspVerticalBar {
	background: transparent;
	padding: 0 0 0 10px;
}
div#choose-a-wrap .jspTrack,
div.shadedContainerDFC .jspTrack{
	background: url("../images/scrrollbarBackground.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/scrrollbarBackground.png*/ repeat-y scroll center center transparent;
}
div#choose-a-wrap .jspDrag,
div.shadedContainerDFC .jspDrag{
	background: url("../images/scrrollbarScrubber.jpg")/*tpa=http://www.gm.com/etc/designs/gmcom/images/scrrollbarScrubber.jpg*/ no-repeat scroll center center transparent;
}
div.shadedContainerDFC div.jspPane > ul{
	margin: 0;
	padding: 0;
}
div.shadedContainerDFC div.jspPane > ul > li{
	clear: both;
	padding: 10px;
}
div.shadedContainerDFC div.jspPane > ul > li.even{
	background-color: #5E5E5E;
}
div.shadedContainerDFC div.vehicleName{
	float: left;
	font-size: 1.2em;
}
div.shadedContainerDFC div.vehicleName + ul{
	float: right;
	text-align: right;
}
/* [END] Styling for the DFC pane */




/* [START] Styling for the disclamer pane */
div.shadedContainerToolTip {
	bottom: 80px;
	left: 40px;
	padding: 0 0 40px;
	position: fixed;
	width: 500px;
	z-index: 500;
}
body.modelpage div.shadedContainerToolTip{
	bottom: 50px;
	width: 340px;
}
body.browsebybrand_flash div#noFlashContainer{
	left: -9999px;
	position: absolute;
}
body.browsebybrand_flash div.shadedContainerToolTip{
	width: 340px;
}
div.shadedContainerToolTip .midMid{
	padding: 10px 20px;
}

/*body.contentpage.investors-page div.shadedContainerToolTip{
	width: 1024px;
	margin: 0;
	left: 0 !important;
	position: relative;
	margin-top: -171px;
}*/

/* [END] Styling for the disclamer pane */
/* End of Document: cBaseballCards */


/* --------------------------------------- Start of Document: cBottomTabContainer ------------------------------ */
.colorText {
	color: #00B1E9;
}
.slideName{
	color: #FFf;
}
body.tabpage .shadedContainer{
  padding:0;
}
body#future_vehicles #bottomTabContainer > ul.content > li > :first-child{
	margin-top: 35px;
}
body#future_vehicles #bottomTabContainer > ul.content > li[title="'14 Chevy Impala"] .cq-colctrl-lt1 .cq-colctrl-lt1-c0 p{ width:357px !important;}
/*body#future_vehicles #bottomTabContainer > ul.content > li[title="'14 Cadillac ELR"] .cq-colctrl-lt1 .cq-colctrl-lt1-c0 p{ width:361px !important;}*/

div#bottomTabContainer ul.content li div#shadedContainer{
	margin-top:10px !important;
}

#bottomTabContainer div.shadedContainer{
	width: 1140px;
	/*margin: 60px 100px 0px 100px;*/
	margin: 30px 100px 0px 100px;
}
div.shadedContainer > div.midRow > div.midLeft > div.midRight > div.midMid{
	position: relative;
}
body#owner_assistance div#bottomTabContainer ul.content li .midRow,
body#owner_assistance div#bottomTabContainer ul.content li .midMid{
	overflow:visible;
	margin-top:0;
	padding-top:0;
}

div#bottomTabContainer div.cq-colctrl-lt0-c0 {
	margin: 65px 30px 0 ;
}
.tabpage .cta_shaded_container_0 {
	margin-bottom:15px;
	margin-top:-80px;
}
.tabpage .cq-colctrl-lt0-c0 + .cta_shaded_container + .cta_shaded_container {
	margin-bottom:60px;
}
div#bottomTabContainer div.cq-colctrl-lt0-c1{
	margin: 40px 0 0;
}
div#bottomTabContainer div.cq-colctrl-lt0-c1 div.section h2{
	margin: 0;
	padding: 0;
}
h2.bottomTabContainerTitle{
	font-size: 1.5em;
	left: 92px;
	margin: 0;
	position: absolute;
	top: 43px;
	width: 100%;
}
div#bottomTabContainer{
	height: 378px;
	margin: 93px;
	/*overflow: hidden;*/
	position: absolute;
	width: 940px;
}
#bottomTabContainer h1 {
	color: #FFFFFF;
	font-size: 55px;
	line-height: .75em !important;
	margin: 0 0 0 -5px;
	text-decoration: none;
}
body#future_vehicles div.shadedContainer{
	padding: 100px 0 140px;
}
body#future_vehicles div.midMid{
	overflow: visible;
}
body#future_vehicles div#bottomTabContainer > ul{
	font-weight: normal;
}
body#future_vehicles div#bottomTabContainer > ul > li[title="'13 Chevrolet Malibu"] > div.title {
	margin: 65px 75px 0;
}
body#future_vehicles div#bottomTabContainer > ul > li[title="'13 Chevrolet Malibu"] div.cq-colctrl-lt1-c0 {
	width: 45%;
}
body#future_vehicles div#bottomTabContainer > ul > li[title="'13 Chevrolet Malibu"] div.cq-colctrl-lt1-c0 p{
	line-height: 1.5em;
	margin: 0;
}
body#future_vehicles div#bottomTabContainer > ul > li[title="'13 Cadillac XTS"] > div.title {
	margin: 25px 75px 0;
}
body#future_vehicles div#bottomTabContainer > ul > li[title="'13 Cadillac XTS"] div.cq-colctrl-lt1-c0 {
	width: 45% !important;
}
body#future_vehicles div#bottomTabContainer > ul > li[title="'13 Cadillac XTS"] div.cq-colctrl-lt1-c0 p{
	line-height: 1.5em;
	margin: 0;
}
body#future_vehicles div#bottomTabContainer > ul > li[title="'13 Cadillac XTS"] div.cq-colctrl-lt1-c0 div.text.text_0{
	margin: 230px 0 0 -60px;
	width: 900px;
}
body#future_vehicles div#bottomTabContainer > ul > li[title="'13 Cadillac XTS"] div.cq-colctrl-lt1-c0 div.text.text_1{
	margin: 0 0 0 -60px;
	width: 900px;
}
body#future_vehicles div#bottomTabContainer > ul > li[title="'13 Chevrolet Spark"] div.cq-colctrl-lt1-c0 {
	width: 45%;
}
body#future_vehicles div#bottomTabContainer > ul > li[title="'13 Cadillac ELR"] > div.title {
	margin: 30px 75px 0;
}
body#future_vehicles div#bottomTabContainer > ul > li[title="'13 Cadillac ELR"] div.cq-colctrl-lt1-c0 {
	width: 45%;
}
body#future_vehicles div#bottomTabContainer > ul > li[title="'13 Cadillac ELR"] div.cq-colctrl-lt1-c0 p{
	line-height: 1.5em;
	margin: 0;
}
body#future_vehicles div#bottomTabContainer > ul > li[title="'13 Cadillac ELR"] div.cq-colctrl-lt1-c0 div.text.text_0{
	margin: 230px 0 0 -60px;
	width: 900px;
}
div#bottomTabContainer li[title="Auto Shows"] h1{
	line-height: 40px;
}
div#bottomTabContainer li[title="Auto Shows"] p{
	margin: 0;
}
div#bottomTabContainer li[title="Auto Shows"] div.title.parbase.title_0 h3{
	margin: 0;
	padding: 0;
}
div#bottomTabContainer li[title="Auto Shows"] div.callToAction.parbase.calltoaction_0 a.btnNonCTA{
	font-size: 1em;
	margin: 0;
	padding: 0;
	width: 100%;
}
div#bottomTabContainer li[title="Auto Shows"] div.callToAction.parbase.calltoaction_0 a.btnNonCTA:hover span{
	color: #9ED6E8 !important;
}
div#bottomTabContainer li[title="Auto Shows"] div.callToAction.parbase.calltoaction_0 a.btnNonCTA span{
	margin: 0 0 0 -35px;
	text-decoration: underline;
}
div#bottomTabContainer ul{
	height: 100%;
	list-style: none outside none;
	margin: 0;
	padding: 0;
	position: absolute;
}
div#bottomTabContainer ul.tabs{
	bottom: 1px;
	font-size: 0.9em;
	height: 68px;
	left: 1px;
	line-height: 1.3em;
	text-transform: uppercase;
	width: 939px;
	z-index: 15;
}
div#bottomTabContainer > ul > li {
	background:/*url('../images/stingray.jpg')*/ no-repeat 0 0;
	padding: 1px;
	position: absolute;
}
div#bottomTabContainer ul li#bluetooth{
	background-image: url( '../images/ownerBenefits/bluetooth.png' )/*tpa=http://www.gm.com/etc/designs/gmcom/images/ownerBenefits/bluetooth.png*/;
}
div#bottomTabContainer ul li#gmCard{
	background-image: url( '../images/ownerBenefits/gmCard.png' )/*tpa=http://www.gm.com/etc/designs/gmcom/images/ownerBenefits/gmCard.png*/;
}
div#bottomTabContainer ul li#goodwrench{
	background-image: url( '../images/ownerBenefits/goodwrench.png' )/*tpa=http://www.gm.com/etc/designs/gmcom/images/ownerBenefits/goodwrench.png*/;
}
div#bottomTabContainer ul li#onstar{
	background-image: url( '../images/ownerBenefits/onstar.png' )/*tpa=http://www.gm.com/etc/designs/gmcom/images/ownerBenefits/onstar.png*/;
}
div#bottomTabContainer ul li#ownerCenter{
	background-image: url( '../images/ownerBenefits/ownerCenter.png' )/*tpa=http://www.gm.com/etc/designs/gmcom/images/ownerBenefits/ownerCenter.png*/;
}
div#bottomTabContainer ul li#partsAccessories{
	background-image: url( '../images/ownerBenefits/partsAccessories.png' )/*tpa=http://www.gm.com/etc/designs/gmcom/images/ownerBenefits/partsAccessories.png*/;
}
div#bottomTabContainer ul li#warranty{
	background-image: url( '../images/ownerBenefits/warranty.png' )/*tpa=http://www.gm.com/etc/designs/gmcom/images/ownerBenefits/warranty.png*/;
}
div#bottomTabContainer ul li#xmRadio{
	background-image: url( '../images/ownerBenefits/xmRadio.png' )/*tpa=http://www.gm.com/etc/designs/gmcom/images/ownerBenefits/xmRadio.png*/;
}
div#bottomTabContainer ul.tabs li {
	background: url('../images/background1085.png')/*tpa=http://www.gm.com/etc/designs/gmcom/images/background1085.png*/ repeat top left;
	bottom: 0;
	cursor: pointer;
	height: 44px;
	margin: 0 1px 0 0;
	padding: 8px 8px 0;
	position: absolute;
	text-align: left;
}
div#bottomTabContainer ul.tabs li.first{
	height: 37px;
	margin: 0 1px 7px 0;
}
div#bottomTabContainer ul.tabs li.last {
	height: 37px;
	margin: 0 0 7px;
}
div#bottomTabContainer ul.tabs li.btActive {
	background-image: url('../images/background1095.png')/*tpa=http://www.gm.com/etc/designs/gmcom/images/background1095.png*/;
	height: 60px;
}
div#bottomTabContainer ul.tabs li.first.btActive, div#bottomTabContainer ul.tabs li.last.btActive{
	background-image: url('../images/background1095.png')/*tpa=http://www.gm.com/etc/designs/gmcom/images/background1095.png*/;
	height: 53px;
}

div#bottomTabContainer ul.tabs li a{
	color: white;
	display: block;
	font-size:.8em;
	text-decoration: none;
	margin:0;
}
#current_offers div#bottomTabContainer ul.tabs li a,
#future_vehicles div#bottomTabContainer ul.tabs li a{
  width:114px;
}
#future_vehicles div#bottomTabContainer ul.tabs li  a{
	width: auto;
}
/*.ipad div#bottomTabContainer ul.tabs li a {
position: absolute;
top: 10%;
width: 90px;
}*/
div#bottomTabContainer ul.tabs li:hover a, div#bottomTabContainer ul.tabs li.btActive  a{
	color: #00b1e9;
}
div#bottomTabContainer ul.tabs li.tabFill{
	height: 7px;
	margin: 0;
	padding: 0;
}
div#bottomTabContainer ul.tabs li.tabFillLeft{
	background: url('../images/lowerLeft_5px85.png')/*tpa=http://www.gm.com/etc/designs/gmcom/images/lowerLeft_5px85.png*/ no-repeat scroll right bottom transparent;
	height: 7px;
	left: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	width:7px
}
div#bottomTabContainer ul.tabs li.tabFillRight{
	background: url("../images/lowerRight_5px85.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/lowerRight_5px85.png*/ no-repeat scroll right bottom transparent;
	height: 7px;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 1px;
	width: 7px;
}
div#bottomTabContainer div.bottomTabContainerPrev, div#bottomTabContainer div.bottomTabContainerNext{
	cursor: pointer;
	display: none;
	height: 100%;
	top: 0;
	position: absolute;
	width: 55px;
	z-index: 10;
}
div#bottomTabContainer div.bottomTabContainerPrev{
	background: url("../images/prev.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/prev.png*/ no-repeat scroll right center transparent;
	left: 0;
}
div#bottomTabContainer div.bottomTabContainerPrev:hover{
	background: url("../images/prev_hover.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/prev_hover.png*/ no-repeat scroll right center transparent;
}
div#bottomTabContainer div.bottomTabContainerNext{
	background: url("../images/next.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/next.png*/ no-repeat scroll left center transparent;
	right: 0;
}
div#bottomTabContainer div.bottomTabContainerNext:hover{
	background: url("../images/next_hover.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/next_hover.png*/ no-repeat scroll left center transparent;
}

/* inital styling */
/*div.shadedContainer > div.midRow > div.midLeft > div.midRight > div.midMid{
	height: 3002px;
}*/
ul#bottomTabContainerData{
	left: -7px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: -12px;
	display:none;
}
ul#bottomTabContainerData > li{
	height:378px;
	width: 940px;
}
/* End of Document: cBottomTabContainer */


/* ------------------------------- Start of Document: cVision -----------------------------*/
div#visionData{
	position: absolute;
	left: -9999px;

}
.colorText {
    color: #00B1E9;
}
div#addThis_container{
	clear: both;
	width: 80px;
}
div.shadedContainerPop div#addThis_container{		
	bottom: 0;	
    height: 72px;    /*83*/
    overflow: hidden;
    position: absolute;
    right: 0; /*10px;*/
    /*width: 120px !important; */
    width: 100px !important;
}


div.shadedContainerPop div#addThis_container #addThis_custom_link{
	/*margin-top: 38px;
	float: right;
	margin-right: 10px;	
    height: 45px !important;    */    
    /*float: right;*/
    /*height: 72px;    */
    /*padding: 26px 9px;
    margin-top: 0;
    background: url("../images/addThis.png") no-repeat scroll 69px center  transparent;*/
    /*width: 98px;*/    


    background: url("../images/addThis.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/addThis.png*/ no-repeat scroll 83px center transparent;
    float: right;
    margin-top: 0;
    padding: 26px 9px;
    text-align: center;
}
div.shadedContainerPop div#addThis_container div.addthis_toolbox{
	margin: 0;
	right: -2px !important;
	height: 83px;
	top:3px;
	/*display: none;*/
}
div.sliderBackground{
	left: -7px;
	margin: 0;
	padding: 0 0 38px;
	position: absolute;
	top: 350px;
	width: 900px;
}
div.sliderBackground div.midMid{
	padding: 8px 0 8px 200px;
}
div#content{
	height: 100%;
	width: 100%;
}
div#sliderContainer{
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
div.videoCaptionWrap div#addThis_container{
  float:right;
  right:22px;
}
div.videoCaptionWrap p.videoCaption{
  width:470px;
  float: left;
}


div#sliderContainer ul#sliderContent{
	left: 200px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 130px;
	width: 650px;
}
div#sliderContainer div.callToAction.parbase.calltoaction{
	margin: -10px 0 0;
}
div#sliderContainer ul#sliderContent li{
	height: 210px;
	position: absolute;
}
div#sliderContainer ul#sliderContent li p {
	height: 4.5em;
	line-height: 1.5em;
	margin: 0 0 10px;
	overflow: hidden;
}
div#sliderContainer ul#sliderContent li div.actionContainer{
	margin: 0 5px 0 0;
}
div#sliderContainer ul#sliderContent li div.actionContainer .genBtn{
	padding-top: 1px;
}
.safari6 div#sliderContainer ul#sliderContent li div.actionContainer .genBtn{
	padding-top: 2px;
}
div#sliderContainer ul#sliderContent li div.addThis{
	left: 0;
	margin: 0;
	position: absolute;
	top: 170px;
}
div#sliderContainer ul#sliderContent li div.addThis div#addThis_container{
	float: left;
	margin: 0;
}

div#sliderContainer div#slideTrack{
	border: 1px solid #5E5E5E;
	height: 15px;
	margin: 10px 0 0;
	position: relative;
}
div#sliderContainer div#sliderTab{
	background: url("../images/vision/pointer.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/vision/pointer.png*/ no-repeat scroll 0 0 transparent;
	height: 19px;
	left: 225px;
	margin-left: 1px;
	position: absolute;
	top: 40px;
	width: 15px;
}
div#sliderContainer div.stop{
	background-color: #FFF;
	height: 13px;
	margin: 1px 0;
	width: 1px;
	position: absolute;
}
div#sliderContainer div.stop.active{
	background-color: #00B1E9;
}
div#sliderContainer ul#stopLabels{
	margin: 0;
	padding: 0;
	width: 700px;
}
div#sliderContainer ul#stopLabels li{
	float: left;
	margin: 0 25px 0 0;
	width: 75px;
}
div#sliderContainer ul#stopLabels li a{
	display: block;
	font-size: 0.9167em;
	line-height: 1.4545em;
	text-decoration: underline;
}
div#sliderContainer ul#stopLabels li.active a{
	color: #00B1E9;
}
div#sliderContainer h2#sliderTitle{
	margin: 0;
}
div#sliderContainer div#sliderCTAWraper{
	clear: both;
	height: 28px;
	margin: 0;
}
div#sliderContainer div#sliderCTAWraper div.callToAction + a + div.callToAction div.actionContainer{
	margin: 5px 15px 0 0;
}
div#sliderContainer div#sliderCTAWraper div.actionContainer{
	float: right;
}
#quality_safety #sliderContainer div#sliderCTAWraper div.actionContainer,
#community_education #sliderContainer div#sliderCTAWraper div.actionContainer,
#design_technology #sliderContainer div#sliderCTAWraper div.actionContainer,
#environment1 #sliderContainer div#sliderCTAWraper div.actionContainer{
	margin: 5px 15px 0 0 !important;
}
.ipad #quality_safety #sliderContainer div#sliderCTAWraper div.actionContainer{margin-right:30px;}
.ipad #environment1 #sliderContainer div#sliderCTAWraper .par.parsys  .section,.ipad #community_education  #sliderContainer div#sliderCTAWraper .par.parsys  .section{
right:10px!important;
position:relative;
}


div#sliderContainer div#sliderCTAWraper div.actionContainer .genBtn{
	padding-top: 1px;
}
.safari6 div#sliderContainer div#sliderCTAWraper div.actionContainer .genBtn{
	padding-top: 2px;
}
.ie7 #quality_safety div#sliderContainer div#sliderCTAWraper div.actionContainer .genBtn,
.ie7 #community_education div#sliderContainer div#sliderCTAWraper div.actionContainer .genBtn,
.ie7 #design_technology div#sliderContainer div#sliderCTAWraper div.actionContainer .genBtn,
.ie7 #environment1 div#sliderContainer div#sliderCTAWraper div.actionContainer .genBtn{
	padding-top: 3px !important;
}
#article div.actionContainer .genBtn{
	padding-top: 3px !important;
}
html.ie #article div.actionContainer .genBtn{
	padding-top: 2px !important;
}


/* Inital styling */
ul#visionData {
	margin: 150px 0 0 200px;
	padding: 0;
}
/* End of Document: cVision */
/* Will Added for FAQ */
.opacityOnHoverState {
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.opacityOffHoverState {
	opacity: .6;
	filter: alpha(opacity=60);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}

.answerOpenState {
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
/* End Wills FAQ add  */

/* ------------------------------- Start of BrowseBy -----------------------------*/

#flashContainer{
	height: 100%;
	width: 100%;
}
body#browseByBrand form#formComponentsExample > div.shadedContainer,
body#browseByType form#formComponentsExample > div.shadedContainer{
  padding-bottom:0;
}


body#browseByBrand div.rollOverDetails,
body#browseByType div.rollOverDetails{
	padding: 0 0 40px;
	width: 920px;
	z-index: 450;
}

.ie7 body#browseByBrand div.rollOverDetails,
.ie7 body#browseByType div.rollOverDetails,
.ie7 body#browseByBrand div.rollOverDetails p,
.ie7 body#browseByType div.rollOverDetails p{
	padding-top:0 !important;
	top:0 !important;
	margin-top:0 !important;
}
.ie9 body#browseByBrand div.rollOverDetails,
.ie9 body#browseByType div.rollOverDetails{
	padding: 45px 0 60px;
}
body#browseByBrand div.rollOverDetailsStatic,
body#browseByType div.rollOverDetailsStatic{
	bottom: 40px;
	left: 40px;
	padding: 0;
	position: static;
	z-index: 450;
}

body#browseByBrand div.rollOverDetails span.tipText,
body#browseByType div.rollOverDetails span.tipText{
	text-indent: -999px;
}
div#resultsContainer, div#resultsContainer ul{
	margin: 20px auto 0;
	width: 95%;
}
div#resultsContainer ul li{
	clear: none;
	float: left;
	height: 200px;
	padding: 0 0 0 10px;
	width: 110px;
}
div#resultsContainer ul li h3{
	margin: 5px 0 0;
}
div#resultsContainer ul li a{
	text-decoration: none;
}
div.shadedContainerToolTip a:link, div.shadedContainerToolTip a:visited, div.shadedContainerToolTip a:active{
	color: #FFF;
}
div.shadedContainerToolTip a:hover{
	color: #9ED6E8;
}

/* Disclaimer on MO */
/*
html.cufon-active body.modelpage div#content div#model-overview-main div#model-overview div div.destination_freight_charge div.DFCWrap div.DFC span.rollOverText {
	display: block;
	width: 223px;
	padding: 0 10px;
	position: absolute;
	bottom: 60px
	}
*/
body.modelpage div#lastItem a.button span.genBtn{
	padding: 2px 0 0;
}
body.modelpage div#content div#model-overview-main div#model-overview div.rollOverDetails div.parbase div.rollOverDetails {
	padding: 0 10px;
}
body div#content div#model-overview-main div#model-overview div.rollOverDetails.modalTrigger{
	position: absolute;
	bottom: 40px;
	width: 100%;
	}
body.modelpage div#content div#model-overview-main div#model-overview.shadedContainerPop {
	padding-bottom: 175px;
	}
div#model-overview div.lowerRow + div + div{
	bottom: 70px;
	clear: both;
	padding: 0 10px;
	position: absolute;
}






/*Volt specific disclaimer*/

/*div#model-overview div.lowerRow + div + div.dfc_2013ChevroletVolt{
	bottom: auto;
	clear: both;
	padding: 0 10px;
	position: relative;
}
div#model-overview div.lowerRow + div + div.dfc_2013ChevroletVolt +div.rollOverDetails.modalTrigger{
  position:relative;
  bottom:auto;
}
*/



/* Start of NON-FLASH brand landign pages */
body.brandpage div#content{
/*	padding: 0 0 60px;
*/}
body.brandpage div#flashContent div#content div#thumbSwitchBckgndImage div#leftContent div.socialIconsFollow ul.socialIconsList li.socialIconsText
{
font-size:10px;
}
.ipad.portrait body.brandpage div#flashContent div#content div#thumbSwitchBckgndImage div#leftContent div.socialIconsFollow ul.socialIconsList li.socialIconsText,
.ipad.landscape body.brandpage div#flashContent div#content div#thumbSwitchBckgndImage div#leftContent div.socialIconsFollow ul.socialIconsList li.socialIconsText
{
font-size:10px !important;
}
body.brandpage div#flashContent div#content div#thumbSwitchBckgndImage div#leftContent div.top div.bodyCopy p{
font-size:12px;
margin:0 0 10px;
line-height:normal;
}
body.brandpage div#flashContent div#content div#thumbSwitchBckgndImage div#leftContent div.mid p.subHead{
	margin:0 0 5px;

}
body.brandpage div#flashContent div#content div#thumbSwitchBckgndImage div#leftContent
{
padding-left:35px;
}
body.brandpage div#flashContent div#content div#thumbSwitchBckgndImage div#leftContent ul.list li.thumbnailImage span.genBtn{
	width: 79px;
}
body.brandpage div#flashContent div#content div#thumbSwitchBckgndImage div#leftContent div.socialIconsFollow ul.socialIconsList
{
padding-top:10px;
}

body.brandpage div#flashContent div#content div#thumbSwitchBckgndImage div#leftContent div.mid ul.list li.itemsTitle a.gotham-book
{
color:white;
text-decoration:none;
}

body.brandpage div#flashContent div#content div#thumbSwitchBckgndImage div#leftContent div.mid ul.list li.thumbnailImage div.active div.centeredAC
{
width:auto;
}

/* End of NON-FLASH brand landign pages */

/* Start of Flex Video */
body.videoPage div.title.parbase.section{
	float: left;
	padding: 10px 0 0 43px;
}
body.videoPage div.callToAction{
	float: right;
	margin: 2px 43px 0 0;
}
div.flexVideoGallery div.modalPopOutContentGallery div.shadedContainer.videoWraper{
	float: left;
	margin: 0;
	padding: 10px 43px 43px;
	width: 880px;
}


html.gecko div.flexVideoGallery div.modalPopOutContentGallery div.shadedContainer.videoWraper div.midMid,
html.webkit div.flexVideoGallery div.modalPopOutContentGallery div.shadedContainer.videoWraper div.midMid,
html.ie9 div.flexVideoGallery div.modalPopOutContentGallery div.shadedContainer.videoWraper div.midMid{
	margin-left:3px;
}
html.gecko div.flexVideoGallery .videoWraper .verticalLine ,
html.ie9 div.flexVideoGallery .videoWraper .verticalLine  {
    width: 601px;
}
html.webkit div.flexVideoGallery .videoWraper .verticalLine{
    width: 603px;
}
html.gecko div.flexVideoGallery div.modalPopOutContentGallery div.shadedContainer.videoWraper object{
	padding-right:2px;
	width:600px;
}
html.webkit div.flexVideoGallery div.modalPopOutContentGallery div.shadedContainer.videoWraper object {
	padding-right:2px;
	width:598px;
}
html.ie9 div.flexVideoGallery div.modalPopOutContentGallery div.shadedContainer.videoWraper object {
	padding-right:1px;
	width:598px;
}
html.webkit div.flexVideoGallery div.modalPopOutContentGallery div.shadedContainer.videoWraper div.videoTitle {
width: 584px;
}
/* view line 
body#employee_profiles div.flexVideoGallery div.modalPopOutContentGallery div.shadedContainer.videoWraper div.videoTitle{
  border-right: #5E5E5E solid 1px;
  float: left;
  padding:2px;
  width: 595px;
}
html.chrome body#employee_profiles div.flexVideoGallery div.modalPopOutContentGallery div.shadedContainer.videoWraper div.videoTitle{
	width:596px;
}
html.ie9 body#employee_profiles div.flexVideoGallery div.modalPopOutContentGallery div.shadedContainer.videoWraper div.videoTitle{
	width:594px;
}
body#employee_profiles div.flexVideoGallery div.modalPopOutContentGallery div.shadedContainer.videoWraper div.videoTitle h2{
font-size:1.3em;
}
*/
.videoWraper .line{
	border-bottom: 1px solid #5E5E5E;
	height: 418px;
	left: 0;
	margin: 0 0 0 2px;
	position: absolute;
	top: 0;
	width: 5px;
}
.ie8 .videoWraper .line{
	height:330px;
}
.ie7 .videoWraper .line{
	height:368px;
}
.videoWraper .line.right{
	left: auto;
	right: 2px;
}
div.flexVideoGallery .videoWraper .line.right{
	display: none;
}
div.flexVideoGallery div.modalPopOutContentGallery div.shadedContainer.videoWraper div.videoTitle{
	border-right: #5E5E5E solid 1px;
	float: left;
	padding: 0 8px;
	width: 583px
}
div.flexVideoGallery .videoWraper .verticalLine{
	border-right: 1px solid #5E5E5E;
	height: 5px;
	left: 0;
	margin: 2px 0 0 0;
	position: absolute;
	top: 0;
	width: 606px;
}
html.chrome div.flexVideoGallery .videoWraper .verticalLine {
	width:607px;
}
body.ipad div.flexVideoGallery .videoWraper .verticalLine {
	width:602px;
}
div.flexVideoGallery .videoWraper .verticalLine.bottom{
	margin: 0 0 2px;
}
div.modalPopOutContentGallery div.shadedContainer.videoWraper div.videoTitle,
div.modalPopOutContentGallery div.shadedContainer.videoWraper object,
div.modalPopOutContentGallery div.shadedContainer.videoWraper div.videoCaptionWrap{
	border-right: none;
}
html.safari6 div.modalPopOutContentGallery div.shadedContainer.videoWraper div.videoTitle{
	clear:both;
}
div.flexVideoGallery  .videoWraper h2{
	text-transform: uppercase;
}
div.flexVideoGallery  div.modalPopOutContentGallery div.shadedContainer.videoWraper object{
	border-right: #5E5E5E solid 1px;
	float: left;
}

div.modalPopOutContentGallery div.shadedContainer.videoWraper div.videoCaptionWrap{
	border-top: 1px solid #5E5E5E;
	float: left;
	padding: 0 9px;
	width: 98%;
}

/* video gallery alignment */
html.webkit div.modalPopOutContentGallery div.shadedContainer.videoWraper div.videoCaptionWrap,
html.webkit div.flexVideoGallery div.modalPopOutContentGallery div.shadedContainer.videoWraper div.videoTitle{
	width: 588px;
}
html.webkit div.flexVideoGallery div.modalPopOutContentGallery div.shadedContainer.videoWraper object {
	width: 602px;
}
html.gecko div.flexVideoGallery div.modalPopOutContentGallery div.shadedContainer.videoWraper object {
	width: 599px;
}
html.ie9 div.flexVideoGallery div.modalPopOutContentGallery div.shadedContainer.videoWraper object {
	width: 597px;
}
html.safari.mac div.flexVideoGallery div.modalPopOutContentGallery div.shadedContainer.videoWraper div.videoTitle,
html.safari.mac div.modalPopOutContentGallery div.shadedContainer.videoWraper div.videoCaptionWrap{
	width: 584px;
}
html.safari.mac div.flexVideoGallery div.modalPopOutContentGallery div.shadedContainer.videoWraper object {
	width: 598px;
}
html.ie9 div.modalPopOutContentGallery div.shadedContainer.videoWraper div.videoCaptionWrap,
html.ie1 div.modalPopOutContentGallery div.shadedContainer.videoWraper div.videoCaptionWrap,
html.gecko div.modalPopOutContentGallery div.shadedContainer.videoWraper div.videoCaptionWrap,
html.gecko div.flexVideoGallery div.modalPopOutContentGallery div.shadedContainer.videoWraper div.videoTitle,
html.ie9 div.flexVideoGallery div.modalPopOutContentGallery div.shadedContainer.videoWraper div.videoTitle {
	width:582px;
}
html.ipad div.flexVideoGallery div.modalPopOutContentGallery div.shadedContainer.videoWraper div.videoTitle {
	width:589px;
	border-right: 1px solid #5e5e5d;
}
html.ipad div.modalPopOutContentGallery div.shadedContainer.videoWraper div.videoCaptionWrap{
	width:583px;
}
div.flexVideoGallery div.modalPopOutContentGallery div.shadedContainer.videoWraper div.videoCaptionWrap{
	padding: 0 8px;
}
div.flexVideoGallery div.modalPopOutContentGallery div.shadedContainer.videoWraper div.videoCaptionWrap{
	border-right: #5E5E5E solid 1px;
	height:211px;
}
/*---*/

div.flexVideoGallery .videoWraper .videoCaptionWrap #addThis_container{
	float: right;
	padding: 9px 0 50px 20px;
}
div.flexVideoGallery .videoWraper .videoCaptionWrap #addThis_container #addThis_custom_link{
	padding: 3px 0 0;
}
.cq-colctrl-lt1-c0 .callToAction + a + .callToAction .actionContainer,
div.flexVideoGallery .videoWraper .videoCaptionWrap .actionContainer + .actionContainer{
	padding: 0 0 0 15px;
}
div.flexVideoGallery .videoWraper .videoCaptionWrap .genBtn{
	padding: 1px;
}
html.safari.mac div.flexVideoGallery .videoWraper .videoCaptionWrap .genBtn{
	padding: 2px;
}
html.ie div.flexVideoGallery .videoWraper .videoCaptionWrap .genBtn{
	padding: 2px 0 0;
}

/* End of Flex Video */


/* Start Flex Video Gallery */
.flexVideoGallery  .flexVideoItem ul{
	display: none;
}
.flexVideoGallery #video #thumbnailWrap{
	float:left;
	margin-top:-400px;
}
.ie8 .flexVideoGallery #video #thumbnailWrap{
float:left;
margin-top:-373px;
}
.ie7 .flexVideoGallery #video #thumbnailWrap{
float:left;
margin-top:-350px;
}
body.ipad .flexVideoGallery #video #thumbnailWrap{
float:left;
margin-top:-358px;
}
.flexVideoGallery #video #thumbnailWrap .galleryItem{
	margin: 0 0 20px 25px;
	width: 240px;
}
.flexVideoGallery #video #thumbnailWrap .galleryItem .thumbnail{
	border: 1px solid #FFF;
	float: left;
	height: 66px;
	margin: 0 10px 0 0;
	width: 120px;
}
.flexVideoGallery #video #thumbnailWrap .galleryItem .thumbnail .play{
	background: url("../images/playImage_91x91.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/playImage_91x91.png*/ no-repeat scroll center transparent;
	height: 100%;
	width: 100%;
}
.flexVideoGallery #video #thumbnailWrap .galleryItem .thumbnail.playing {
	border: 1px solid #00B1E9;
}
.flexVideoGallery #video #thumbnailWrap .galleryItem .thumbnail.playing .play{
	display: none;
}
.flexVideoGallery #video #thumbnailWrap .galleryItem .text{
	background: url("../images/arrow.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/arrow.png*/ no-repeat scroll 0 7px transparent;
	float: left;
	padding: 0 0 0 15px;
	width: 90px;
}
/* Start Flex Video Gallery */

/* Start pomo tile */
#promoTileMedium{
	height: 128px;
	overflow: hidden;
	padding: 0 0 25px;
	position: relative;
	width: 433px;
}
.contentpagetwocolumn #promoTileMedium{
	padding: 0 !important;
}
#promoTileMedium img{
	left: 0;
	position: absolute;
	top: 0;
}
#promoTileMedium h3{
	font-size: 1.667em;
	left: 7px;
	line-height: 1.3em;
	margin: 0;
	position: absolute;
	top: 7px;
}
#promoTileMedium .text{
	left: 7px;
	position: absolute;
	top: 27px;
}
#promoTileMedium .text p{
	margin: 0;
	padding: 0;
}
#promoTileMedium .author .parsys.promoPar{
	height: 100px;
	width: 200px;
}
#promoTileMedium .parsys.promoPar{
	bottom: 7px;
	left: 7px;
	position: absolute;
}
#promoTileMedium .btnNonCTA{
	background: url("../images/arrow.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/arrow.png*/ no-repeat scroll 0 center transparent;
	color: #FFFFFF;
	font-size: 0.9167em;
	font-weight: bold;
	line-height: 1.3em;
	text-align: left;
	text-decoration: none;
	text-indent: 15px;
}
#promoTileMedium .btnNonCTA .colorText{
	color: #FFF !important;
	font-weight: bold;
}
/* End promo tile */
/* Start Archive */
body.newsarchivepage div.shadedContainer{
	width: 1118px;
}
body.newsarchivepage div.clpContent{
	margin: 0 68px;
}
body.newsarchivepage div.clpContent div.newsArchive div.title h2{
	margin: 0;
}
body.newsarchivepage div.resultsWrapper{
	height: 40px;
	margin:0 0 15px;
}
body.newsarchivepage div.clearfix + div.resultsWrapper{
	margin:10px 0 30px;
}
body.newsarchivepage div.resultCount,
body.newsarchivepage div.filters,
body.newsarchivepage div.viewPerPage,
body.newsarchivepage div.pages{
	float: left;
	margin: 15px 0 0;
	position: relative;
}
body.newsarchivepage div.resultCount{
	width: 200px;
}
body.newsarchivepage div.filters{
	width: 250px;
}
body.newsarchivepage div.viewPerPage{
	margin: 15px 0 0 100px;
	width: 235px;
}
body.newsarchivepage div.filters label.filterLabel,
body.newsarchivepage div.viewPerPage label.filterLabel{
	float: left;
	line-height: 1.6364em;
	padding: 0;
}
body.newsarchivepage div.filters span.select,
body.newsarchivepage div.viewPerPage span.select,
body.newsarchivepage div.filters select.select,
body.newsarchivepage div.viewPerPage select.select{
	left: auto !important;
	position: absolute;
	right: 0;
}
body.newsarchivepage div.filters select.select,
body.newsarchivepage div.viewPerPage select.select{
	right: 2px;
}
body.newsarchivepage div.resultCount h3{
	margin: 0;
}
body.newsarchivepage div.controlNav{
	line-height: 1.3333em;
	margin: 12px 0 0;
}
body.newsarchivepage div.article{
	float: left;
	margin:0;
	width: 47%;
	margin:35px 0 0;
}
body.newsarchivepage div.article.odd{
	clear: both;
	margin:35px 5% 0 0;
}

body.newsarchivepage div.article img{
	float: left;
	padding:0 10px 0 0;
	margin: 5px 0 0;
}

body.newsarchivepage div.article h3,
body.newsarchivepage div.article div.summary,
body.newsarchivepage div.article div.callToAction{
margin-left:0;
margin-bottom:0;
}
body.newsarchivepage div.article img + h3,
body.newsarchivepage div.article img + h3 + div,
body.newsarchivepage div.article img + h3 + div + div{
margin-left:110px !important;
}

body.newsarchivepage div.article div.summary p{
	padding:0;
	margin:0;
}


/* End Archive */
/* Select for Archive */
.ie #archive select.select {
	font-size:13.33px;
}

#archive div.filters span.select {
	background: url('../images/formComponents/dropdown.png')/*tpa=http://www.gm.com/etc/designs/gmcom/images/formComponents/dropdown.png*/ no-repeat !important;
    width: 197px !important;
    top: -2px !important;
	font-size:1em;
}

#archive .filters select.select {
	width: 196px !important;
	right:0;
}

  body.tabpage div.shadedContainer{
	min-height:672px !important;
	min-width:1190px;
  }

 /* body.tabpage#owner_assistance div.shadedContainer{
	min-width:1040px !important;
  }*/





/*owner_assistance > Owner Center tab*/

body#owner_assistance div.subsection_image_link_container{
/*  margin-left:-41px;
*/}

div#bottomTabContainer ul.content li div.subsection_image_link_container{
/*  margin-top:-21px;
*/  overflow:hidden;
  margin:0 auto;
}
body#current_offers div.subsection_image_link_container ul{
  margin-top:-20px;
}


body.tabpage div.subsection_image_link_container ul li{
  margin:0;
/*  width:auto;
*/}
body#current_offers div.subsection_image_link_container ul li{
/*  margin:0 20px;
  width:auto;
*/}


body#current_offers div.subsection_image_link_container ul li,
body#current_offers div.subsection_image_link_container ul li img,
body#dealers_suppliers div.subsection_image_link_container ul li,
body#deealers_suppliers div.subsection_image_link_container ul li img,
body#owner_assistance div.subsection_image_link_container ul li,
body#owner_assistance div.subsection_image_link_container ul li img {
    position: relative;
}
body#owner_assistance div.subsection_image_link_container ul li a ,
body#dealers_suppliers div.subsection_image_link_container ul li a {
    height: 82px;
    overflow: hidden;
	position:relative;
	z-index:9999;
}
body#current_offers div.subsection_image_link_container ul li a{
	display: block;
	height:144px;
	width:144px;
    overflow: hidden;
	position:relative;
}
body#dealers_suppliers div.subsection_image_link_container ul li img:hover ,
body#owner_assistance div.subsection_image_link_container ul li img:hover {
  margin-top:-82px;
}
body#current_offers div.subsection_image_link_container ul li img:hover{
  margin-top:-145px;
}

body#current_offers div.subsection_image_link_container ul li a:active,
body#current_offers div.subsection_image_link_container ul li a:focus,
body#current_offers div.subsection_image_link_container ul li a:visited,
body#dealers_sullpiers div.subsection_image_link_container ul li a:active,
body#dealers_sullpiers div.subsection_image_link_container ul li a:focus,
body#dealers_sullpiers div.subsection_image_link_container ul li a:visited,
body#owner_assistance div.subsection_image_link_container ul li a:active,
body#owner_assistance div.subsection_image_link_container ul li a:focus,
body#owner_assistance div.subsection_image_link_container ul li a:visited {
  outline: none !important;
  noFocusLine: expression(this.onFocus=this.blur());
  -moz-outline-style: none !important;
}
/*body#owner_assistance div.subsection_image_link_container ul li + li + li + li + li + li a{
  width:82px;
}
body#owner_assistance div.subsection_image_link_container ul li + li + li + li + li + li + li a{
  width:auto;
}
body#owner_assistance div#bottomTabContainer ul.tabs li + li + li + li + li a{
  margin-left:-4px;
}

body#owner_assistance div#bottomTabContainer ul.tabs li + li + li + li + li + li a{
  margin-left:0;
}

*/  /* ie7 */
  html.ie7 body#owner_assistance div.subsection_image_link_container ul li{
	height: 82px;
	overflow: hidden;
  }

  /* ie8 */
  html.ie8 body#owner_assistance.Owner_Center div.subsection_image_link_container ul li{
	margin:0 16px 0 0 !important;
  }


  body#current_offers div#bottomTabContainer ul.content li div.cta_shaded_container > div.midRow{
	margin-top:-20px;
  }
     div#bottomTabContainer div.midRow{
    	overflow: visible;
    }


 /*  bottom tab container logoLeft & logoRight */
  div#bottomTabContainer div.midRow.logoLeft,
  div#bottomTabContainer div.midRow.logoRight{
	overflow:visible;
  }
  body#current_offers div#bottomTabContainer ul.content li div.cta_shaded_container div.midRow.logoLeft div.midMid,
  body#current_offers div#bottomTabContainer ul.content li div.cta_shaded_container div.midRow.logoRight div.midMid{
	margin-top:20px !important;
  }
  div#bottomTabContainer div.midRow.logoLeft div.midMid.opacity70,
  div#bottomTabContainer div.midRow.logoRight div.midMid.opacity70{
	overflow:visible;
  }
  div#bottomTabContainer div.midRow.logoLeft div.midMid.opacity70 div.parsys.cta,
  div#bottomTabContainer div.midRow.logoRight div.midMid.opacity70 div.parsys.cta{
	padding:0 !important;
  }
  div#bottomTabContainer div.midRow.logoLeft div.midMid.opacity70 div.parbase.image.section,
  div#bottomTabContainer div.midRow.logoRight div.midMid.opacity70 div.parbase.image.section{
	height:auto;
  }
  div#bottomTabContainer div.midRow.logoRight div.midMid.opacity70 div.parbase.image.section img,
  div#bottomTabContainer div.midRow.logoLeft div.midMid.opacity70 div.parbase.image.section img{
    margin:-6px 0 -12px -16px;
    position: relative;
    z-index: 9999;
	float:left !important;
  }

  div#bottomTabContainer ul.content li div.logoLeft div.midMid div.parsys_column > div.parsys_column{
	width:45% !important;
  }

  body#dealers_suppliers div#bottomTabContainer ul.content li div.logoLeft div.midMid div.parsys_column > div.parsys_column{
	width:43% !important;
  }

body#owner_assistance div#bottomTabContainer div.midRow.logoLeft div.midMid.opacity70 div.parbase.image.section img{
	width: 98% !important;
	margin: -5px 0 -12px -5px;
	border-radius: 2% 0 0 2%;
}

  div#bottomTabContainer ul.content li div.midRow div.midMid div.parsys_column > div.parsys_column + div.parsys_column div.text div.text p{
	margin-top:0;
  }

  div#bottomTabContainer div.midRow.logoRight div.midMid.opacity70 div.parsys_column.cq-colctrl-lt14-c0{
	float:right;
  }
  div#bottomTabContainer div.midRow.logoRight div.midMid.opacity70 div.parsys_column.cq-colctrl-lt14-c1 div.text.parbase.section{
	width:100%;
	margin-left:90px;
  }
  div#bottomTabContainer div.midRow.logoRight div.midMid.opacity70 div.parsys_column.cq-colctrl-lt14-c1 div.callToAction.parbase.section{
	margin-left:90px;
  }
  div#bottomTabContainer div.midRow.logoRight div.midMid.opacity70 div.parbase.image.section img{
    margin:-6px -20px -5px -9px;
    position: relative;
    z-index: 9999;
	right:0;
	float:right;
  }
 /*  END bottom tab container logoLeft & logoRight */


  body#future_vehicles div#content > div.shadedContainer,
  body#current_offers div#content > div.shadedContainer,
  body#owner_assistance div#content > div.shadedContainer,
  body#dealers_suppliers div#content > div.shadedContainer{
	padding-top:65px !important;
	min-width:1103px;
  }
  body.tabpage div#bottomTabContainer{
	width:1068px;
	height:418px;
  }
  body#owner_assistance div#bottomTabContainer ul.tabs li.tabFillRight,
  body#dealers_suppliers div#bottomTabContainer ul.tabs li.tabFillRight,
  body#current_offers div#bottomTabContainer ul.tabs li.tabFillRight,
  body#future_vehicles div#bottomTabContainer ul.tabs li.tabFillRight {
    right: -127px;
  }




  body#current_offers div#bottomTabContainer ul.content li div.cta_shaded_container,
  body#future_vehicles div#bottomTabContainer ul.content li div.cta_shaded_container{
  	margin-top:20px !important;
  }
   body#owner_assistance div#bottomTabContainer ul.content li div.cta_shaded_container,
   body#dealers_suppliers div#bottomTabContainer ul.content li div.cta_shaded_container,
  body#current_offers div#bottomTabContainer ul.content li div.cta_shaded_container{
  	margin-top:65px !important;
  }
   body#owner_assistance div#bottomTabContainer ul.content li div.cta_shaded_container.parbase,
   body#dealers_suppliers div#bottomTabContainer ul.content li div.cta_shaded_container.parbase,
   body#current_offers div#bottomTabContainer ul.content li div.cta_shaded_container.parbase{
	margin-left:auto;
	margin-right:auto;
   width: 830px;
  }



  body#current_offers div#bottomTabContainer ul.content li div.cta_shaded_container.parbase > div{
	width:100%;
  }
body#current_offers div#bottomTabContainer ul.content li div.midRow div.midMid.opacity70 div.parsys_column > div.parsys_column,
body#dealers_suppliers div#bottomTabContainer ul.content li div.midRow div.midMid.opacity70 div.parsys_column > div.parsys_column{
     padding:0 !important;
	 margin-left:-4px;
  }
  body#current_offers div#bottomTabContainer ul.content li div.midRow.logoLeft div.midMid div.parsys_column > div.parsys_column,
  body#dealers_suppliers div#bottomTabContainer ul.content li div.midRow.logoLeft div.midMid div.parsys_column > div.parsys_column{
	 margin-left:0;
  }
  body#current_offers div#bottomTabContainer ul.content li div.midRow.logoLeft div.midMid.opacity70 div.parsys_column div.parsys_column + div.parsys_column{
	padding:0;
  }
  body#current_offers div#bottomTabContainer ul.content li div.midRow div.midMid.opacity70 div.parsys_column > div.parsys_column + div.parsys_column,
  body#dealers_suppliers div#bottomTabContainer ul.content li div.midRow div.midMid.opacity70 div.parsys_column > div.parsys_column + div.parsys_column{
	margin-left:24px !important;
  }
   body#current_offers div#bottomTabContainer ul.content li div.midRow div.midMid.opacity70 div.parsys_column.cq-colctrl-lt11-c1{
	padding:0;
  }
 body#current_offers div#bottomTabContainer ul.content li div.midRow div.midMid.opacity70 div.parsys_column.cq-colctrl-lt11-c1{
	width: auto;
  }
  body#current_offers div#bottomTabContainer ul.content li div.midRow div.midMid.opacity70 div.parsys_column div.callToAction{
/*	margin-top:10px;
*/  }

  body#future_vehicles div#bottomTabContainer ul.content li .text{
	text-align:left;
	margin-top:9px;
  }
  body#current_offers div#bottomTabContainer ul.content li .midRow .midMid div.parsys.cta ,
  body#future_vehicles div#bottomTabContainer ul.content li .midRow .midMid div.parsys.cta {
    margin-top:20px;
  }
  html.ie7 body#current_offers div#bottomTabContainer ul.content li .midRow .midMid div.parsys.cta ,
  html.ie7 body#future_vehicles div#bottomTabContainer ul.content li .midRow .midMid div.parsys.cta {
    margin-top:0;
  }
  body#current_offers div#bottomTabContainer ul.content > li .midRow.logoLeft div.parsys.cta,
  body#current_offers div#bottomTabContainer ul.content > li .midRow.logoRight div.parsys.cta{
	margin-top:0;
  }

  body#owner_assistance div#bottomTabContainer ul.content li div.midMid,
  body#dealers_suppliers div#bottomTabContainer ul.content li div.midMid,
  body#current_offers div#bottomTabContainer ul.content li div.midMid,
  body#future_vehicles div#bottomTabContainer ul.content li div.midMid{
	height:230px;
	padding:0;
	overflow: visible;
  }
  body#owner_assistance div#bottomTabContainer ul.content li div.midRow.logoLeft div.midMid,
  body#owner_assistance div#bottomTabContainer ul.content li div.midRow.logoRight div.midMid,
  body#dealers_suppliers div#bottomTabContainer ul.content li div.midRow.logoLeft div.midMid,
  body#dealers_suppliers div#bottomTabContainer ul.content li div.midRow.logoRight div.midMid,
  body#current_offers div#bottomTabContainer ul.content li div.midRow.logoLeft div.midMid,
  body#current_offers div#bottomTabContainer ul.content li div.midRow.logoRight div.midMid{
	height:229px;
	margin-top:0;
	padding-top:0;
  }
  html.ie body#owner_assistance div#bottomTabContainer ul.content li div.midRow.logoLeft div.midMid,
  html.ie body#owner_assistance div#bottomTabContainer ul.content li div.midRow.logoRight div.midMid,
  html.ie body#dealers_suppliers div#bottomTabContainer ul.content li div.midRow.logoLeft div.midMid,
  html.ie body#dealers_suppliers div#bottomTabContainer ul.content li div.midRow.logoRight div.midMid,
  html.ie body#current_offers div#bottomTabContainer ul.content li div.midRow.logoLeft div.midMid,
  html.ie body#current_offers div#bottomTabContainer ul.content li div.midRow.logoRight div.midMid{
	height:229px;
	margin-top:0;
  }

 div#bottomTabContainer ul.content li .midRow.logoRight .midMid .parsys_column > .parsys_column + .parsys_column{
	margin:20px 10px 20px 5px;
}
  div#bottomTabContainer ul.content > li div.midRow.logoLeft div.parsys.cta div.parsys_column > div.parsys_column + div.parsys_column{
	margin-top:15px;
  }
  body#owner_assistance div#bottomTabContainer ul.content > li div.midRow div.parsys.cta div.parsys_column > div.parsys_column{
	margin-left:40px;
	margin-left:0;
	margin-right:0;
  }
  body#current_offers div#bottomTabContainer ul.content > li div.midRow div.parsys.cta div.parsys_column > div.parsys_column + div.parsys_column{
	margin-top:65px;
	margin-left:0;
  }
  body#dealers_suppliers div#bottomTabContainer ul.content > li div.midRow.logoLeft div.parsys.cta div.parsys_column > div.parsys_column + div.parsys_column,
  body#current_offers div#bottomTabContainer ul.content > li div.midRow.logoLeft div.parsys.cta div.parsys_column > div.parsys_column + div.parsys_column{
	margin-top:44px;
	margin-left:11px;
  }
  body#owner_assistance div#bottomTabContainer ul.content > li div.midRow.logoLeft div.parsys.cta div.parsys_column > div.parsys_column + div.parsys_column{
	margin-left:21px;
  }
  
 /*<li> width*/ 
 body#owner_assistance.tabpage div#content div.shadedContainer div.midRow div.midLeft div.midRight div.midMid div#bottomTabContainer ul.tabs li{widht: 80px;}

  body#dealers_suppliers div#bottomTabContainer ul.content > li div.midRow div.parsys.cta div.parsys_column > div.parsys_column + div.parsys_column{
	margin-right:0;
	padding-right:0;
  }
  body#dealers_suppliers div#bottomTabContainer ul.content > li div.midRow div.parsys_column > div.parsys_column > div.image img{
	float:left;
  }

  body#owner_assistance div#bottomTabContainer ul.content > li div.midRow.logoLeft div.parsys.cta div.parsys_column > div.parsys_column,
  body#dealers_suppliers div#bottomTabContainer ul.content > li div.midRow.logoLeft div.parsys.cta div.parsys_column > div.parsys_column,
  body#current_offers div#bottomTabContainer ul.content > li div.midRow.logoLeft div.parsys.cta div.parsys_column > div.parsys_column,
  body#owner_assistance div#bottomTabContainer ul.content > li div.midRow.logoRight div.parsys.cta div.parsys_column > div.parsys_column,
  body#dealers_suppliers div#bottomTabContainer ul.content > li div.midRow.logoRight div.parsys.cta div.parsys_column > div.parsys_column,
  body#current_offers div#bottomTabContainer ul.content > li div.midRow.logoRight div.parsys.cta div.parsys_column > div.parsys_column{
	  margin-right:4px;
	  padding-right:0;
  }

  body#current_offers div#bottomTabContainer ul.content > li div.midRow div.parsys.cta div.parsys_column > div.parsys_column div.parbase.image{
	text-align:left;
  }

  div#bottomTabContainer ul.content li > div.title_diff_sizes,
  div#bottomTabContainer ul.content li > div.title_diff_sizes + div{
	margin:0 0 0 88px;
  }


  body#current_offers div#bottomTabContainer ul.content li div.title h1,
  body#current_offers div#bottomTabContainer ul.content li div.title + div.section div.text{
    font-family: "Gotham Light",Arial,sans-serif;
	text-align:center;
	margin:0;
	width:100%;
  }


  body#current_offers div#bottomTabContainer ul.content li div.title h1{
	font-size: 42px;
	margin-bottom:10px;
    letter-spacing: 1px;
  }
  body#current_offers div#bottomTabContainer ul.content > li div.midRow div.parsys.cta div.title.parbase.section h1 *{
	margin-top:14px;
  }

  body#future_vehicles #bottomTabContainer > ul.content > li > div.title_diff_sizes {
	  margin-top: 53px;
  }
 html.ie7 body#future_vehicles #bottomTabContainer > ul.content > li > div.title_diff_sizes {
	  margin-top: 40px;
  }
  body#future_vehicles div#bottomTabContainer ul.content li > div.title_diff_sizes h1 {
    font-family: "Gotham Light",Arial,sans-serif;
    font-size: 42px;
    letter-spacing: 1px;
    width: 600px;
  }
body#owner_assistance div.cta_shaded_container div.title.section h1,
body#dealers_suppliers div.cta_shaded_container div.title.section h1{
    font-size:24px;
	font-family:'Gotham Book', Arial, sans-serif;
	letter-spacing: 1px;
 }

  body#owner_assistance div#bottomTabContainer ul.content li div.title h1{
	width:100%;
	padding-bottom:10px !important;
	padding-left:7px !important;
  }

  div#bottomTabContainer ul.content li h1 span{
	display:block;
  }


/*  btc disclaimers */

/* future vehicles */
/* current offers */
  body#current_offers div#bottomTabContainer ul.content > li .section.text p{
	text-indent:0;
  }
div#bottomTabContainer ul.content li div.textDisclaimer{
	margin-top:212px !important;
	margin-left:0;
	width:1065px;
	position:absolute;
	text-align:left;
	left:0;
	top:0;
}
/* all */
 body#current_offers div#bottomTabContainer ul.content > li div.text p ,
 body#future_vehicles div#bottomTabContainer ul.content > li div.text p {
/*    font-family: 'Gotham Book',Arial,sans-serif;
    line-height: 1.6em;
	margin-top:9px !important;
    margin-bottom:12px !important;
*/ }
 body#current_offers div#bottomTabContainer ul.content > li div.midMid div.text p,
 body#future_vehicles div#bottomTabContainer ul.content > li div.midMid div.text p{
	font-family: 'Gotham Book',Arial,sans-serif;
	line-height:1.6em;
	margin-top:0 !important;
	margin-left:0;
  }
 .ie7
 body#future_vehicles div#bottomTabContainer ul.content > li div.midMid div.text p{line-height:0.8em}

body.tabpage div.textDisclaimer p{
	color:#696969;
	font-weight:normal;
	font-family:Arial !important;
	font-size:11px;
	line-height:12px;
    margin-left: 8px;
    text-indent: -6px;
}
div#bottomTabContainer ul.content li div.textDisclaimer{
	margin-top:212px;
	margin-left:0;
	width:1065px;
	position:absolute;
	text-align:left;
	left:0;
	top:0;
}

/* owner benefits */
body#owner_assistance div.shadedContainer + div.textDisclaimer,
body#dealers_suppliers div.shadedContainer + div.textDisclaimer{
  left:0 !important;
  top:585px !important;
  position:absolute;
  width:1070px !important;

}
body#owner_assistance div.shadedContainer + div.textDisclaimer p,
body#dealers_suppliers div.shadedContainer + div.textDisclaimer p{
	margin-left:0;
}
body#owner_assistance div#bottomTabContainer ul.content div.midRow div.midMid > div > div.title,
body#dealers_suppliers div#bottomTabContainer ul.content div.midRow div.midMid > div > div.title{
  padding:35px 35px 0 38px;
}
body#owner_assistance div#bottomTabContainer ul.content div.midRow div.midMid > div > div.text,
body#dealers_suppliers div#bottomTabContainer ul.content div.midRow div.midMid > div > div.text{
  padding: 0 120px 0 40px;
}
body#owner_assistance div#bottomTabContainer ul.content div.midRow div.midMid > div > div.text br,
body#dealers_suppliers div#bottomTabContainer ul.content div.midRow div.midMid > div > div.text br{
	display: none;
}
/* all */

div#bottomTabContainer div.midRow.logoLeft div.cq-colctrl-lt9-c1 div.callToAction{
/*  margin:60px 0 0 150px;
*/}
div#bottomTabContainer div.midRow.logoLeft div.cq-colctrl-lt9-c1 div.callToAction + div.callToAction {
  float:left;
}

div#bottomTabContainer div.callToAction + div.callToAction div.actionContainer{
  margin-left:5px;
}


body#browseByBrand div.dfc_div,
body#browseByType div.dfc_div,
body#browseByBrand div.parbase.disclaimer,
body#browseByType div.parbase.disclaimer{
	padding: 0;
	z-index: 455;
	left:0;
	margin:0 auto;
	width:946px;
}
body#browseByBrand div.parbase.disclaimer,
body#browseByType div.parbase.disclaimer{
  	float:none;
}


body#browseByBrand.flash div.dfc_div,
body#browseByType.flash div.dfc_div{
  position:relative;
  top:0;
  width:1140px;
  margin:-34px auto 0;
}
body#browseByType.flash div.dfc_div{

  margin:-16px auto 0;
}
body#browseByBrand.flash div.parbase.disclaimer,
body#browseByType.flash div.parbase.disclaimer{
  width:1140px;
  height:82px;
  position:relative;
}

body#browseByBrand.flash.tile div.dfc_div,
body#browseByBrand.flash.tile div.parbase.disclaimer,
body#browseByType.flash.tile div.dfc_div,
body#browseByType.flash.tile div.parbase.disclaimer{
  width:1140px;
}
body#browseByBrand.flash.notile div.dfc_div,
body#browseByBrand.flash.notile div.parbase.disclaimer,
body#browseByType.flash.notile div.dfc_div,
body#browseByType.flash.notile div.parbase.disclaimer{
  width:911px;
}

html.ie body#browseByBrand div.dfc_div,
html.ie body#browseByType div.dfc_div{
  margin-top:-100px;
}
html.ie7 body#browseByBrand div.dfc_div,
html.ie7 body#browseByType div.dfc_div{
  margin-top:0;
}
html.ie8 body#browseByBrand.flash.tile div.dfc_div,
html.ie8 body#browseByType.flash.tile div.dfc_div{
  margin-top:-134px;
}
html.ie body#browseByBrand.flash div.dfc_div,
html.ie body#browseByType.flash div.dfc_div{
  margin-top:-134px;
}
html.ie9 body#browseByBrand div.parbase.disclaimer,
html.ie9 body#browseByType div.parbase.disclaimer{
  margin-top:-40px;

}
html.ie9 body#browseByBrand.flash div.parbase.disclaimer,
html.ie9 body#browseByType.flash div.parbase.disclaimer{
  margin-top:0;

}

body#browseByBrand.flash div.rollOverDetails,
body#browseByType.flash div.rollOverDetails{
  top:0;
  padding:0;
  left:0;
}

body#browseByBrand div.rollOverDetails,
body#browseByType div.rollOverDetails{
/*  padding:0;
*/}

body#browseByBrand.flash div.shadedContainerToolTip{
  position:absolute;
  left:0;
}


#inventors.flexRightContent #promoTileMedium,.flexRightContent .promoTileLarge{}

.paddthis{
	/*background: none repeat scroll 0 0 yellow;*/
    float: right;
    height: 72px;
    margin-top: 2px;
    overflow: hidden;
    position: relative;
    width: 98px;
}
.paddthis #addThis_container{
	 bottom: 0 !important;
    display: block;
    height: 72px !important;
    margin: 0;
    overflow: hidden !important;
    position: relative !important;
    right: 0 !important;
    width: 97px !important;
}
.paddthis #addThis_custom_link{	
	background: url("../images/addthis/addthis-icons.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/addthis/addthis-icons.png*/ no-repeat scroll 60px -148px transparent;
    color: #FFFFFF;
    display: block;
    float: right;
    height: 20px;
    margin-top: 25px;
    text-align: center;
    text-decoration: none;
    width: 91px !important;
}
/*.paddthis .addthis_toolbox{
	height: 71px !important;
    margin: 0 !important;
    right: -2px !important;
}*/