/* column control layouts */
div.cq-colctrl-cols {width: 100%; float: left; }

div.cq-colctrl-default { width: 100%;}


div.cq-colctrl-lt1-c0 { width: 34%; padding-right: 14px; float: left; position:relative; }
div.cq-colctrl-lt1-c1 { width: 63%; float: left; position:relative;}
@media screen and (min-width: 768px) {
.ipad .relatedResources .content {width: 300px;}
.ipad #our_commitment .relatedResources .content {width: 390px;} 
	.ipad div.cq-colctrl-lt1-c1 {
		width: 50%;
	}
}

div.cq-colctrl-lt2-c0 { width: 31%; padding-right: 14px; float: left; position:relative; }
div.cq-colctrl-lt2-c1 { width: 31%; padding-right: 14px; float: left; position:relative;}
div.cq-colctrl-lt2-c2 { width: 32%; float: left; position:relative; }

div.cq-colctrl-lt3-c0 { width: 46%; padding-right: 14px; float: left; position:relative; }
div.cq-colctrl-lt3-c1 { width: 24%; padding-right: 14px; float: left; position:relative;}
div.cq-colctrl-lt3-c2 { width: 24%; float: left; position:relative; }

div.cq-colctrl-lt4 { margin:-18px 0pt;}
div.cq-colctrl-lt4-c0 { width: 38%; padding-right: 4px;}
div.cq-colctrl-lt4-c1 { width: 58%; }

div.cq-colctrl-lt5-c0 { width: 55%; padding-right: 14px; float: left; position:relative; }
div.cq-colctrl-lt5-c1 { width: 40%; float: left; position:relative;}

div.cq-colctrl-lt6-c0 { width: 45%; padding-right: 14px; float: left; position:relative; }
div.cq-colctrl-lt6-c1 { width: 40%; float: left; position:relative;}

div.cq-colctrl-lt7-c0 { width: 24%; padding-right: 14px; float: left; position:relative; }
div.cq-colctrl-lt7-c1 { width: 24%; padding-right: 14px; float: left; position:relative;}
div.cq-colctrl-lt7-c2 { width: 24%; padding-right: 14px; float: left; position:relative;}
div.cq-colctrl-lt7-c3 { width: 24%; float: left; position:relative; }

div.cq-colctrl-lt8-c0 { width: 40%; padding-right: 14px; float: left; position:relative; }
div.cq-colctrl-lt8-c1 { width: 55%; float: left; position:relative;}

div.cq-colctrl-lt9-c0 { width: 53%; padding-right: 14px; float: left; position:relative; }
div.cq-colctrl-lt9-c1 { width: 40%; float: left; position:relative;}

div.cq-colctrl-lt10-c0 { width: 35%; padding-right: 14px; float: left; position:relative; }
div.cq-colctrl-lt10-c1 { width: 55%; float: left; position:relative;}

div.cq-colctrl-lt11-c0 { width: 45%; padding-right: 14px; float: left; position:relative; }
div.cq-colctrl-lt11-c1 { width: 45%; float: left; position:relative; }

div.cq-colctrl-lt12-c0 { width: 50%; padding-right: 14px; float: left; position:relative;}
div.cq-colctrl-lt12-c1 { width: 50%; float: left; position:relative;}

div.cq-colctrl-lt13-c0 { width: 40%; padding-right: 14px; float: left; position:relative; }
div.cq-colctrl-lt13-c1 { width: 55%; float: left; position:relative;}

div.cq-colctrl-lt14-c0 { width: 50%; padding-right: 14px; float: left; position:relative; }
div.cq-colctrl-lt14-c1 { width: 45%; float: left; position:relative;}

div.cq-colctrl-lt15-c0 { width: 48%; padding-right: 2%; float: left; position:relative; }
div.cq-colctrl-lt15-c1 { width: 48%; float: left; position:relative;}

div.cq-colctrl-lt195-c0 { width: 19%; padding: 0 10px 0 4px; float: left; position:relative; }
div.cq-colctrl-lt195-c1 { width: 19%; padding-right: 10px; float: left; position:relative;}
div.cq-colctrl-lt195-c2 { width: 19%; padding-right: 10px; float: left; position:relative;}
div.cq-colctrl-lt195-c3 { width: 19%; padding-right: 10px; float: left; position:relative;}
div.cq-colctrl-lt195-c4 { width: 19%; float: left; position:relative; }

div.cq-colctrl-lt166-c0 { width: 16%; padding-right: 7px; float: left; position:relative; }
div.cq-colctrl-lt166-c1 { width: 16%; padding-right: 7px; float: left; position:relative;}
div.cq-colctrl-lt166-c2 { width: 16%; padding-right: 7px; float: left; position:relative;}
div.cq-colctrl-lt166-c3 { width: 16%; padding-right: 7px; float: left; position:relative;}
div.cq-colctrl-lt166-c4 { width: 16%; padding-right: 7px; float: left; position:relative;}
div.cq-colctrl-lt166-c5 { width: 16%; float: left; position:relative; }

div.cq-colctrl-lt147-c0 { width: 14%; padding-right: 14px; float: left; position:relative; }
div.cq-colctrl-lt147-c1 { width: 14%; padding-right: 14px; float: left; position:relative;}
div.cq-colctrl-lt147-c2 { width: 14%; padding-right: 14px; float: left; position:relative;}
div.cq-colctrl-lt147-c3 { width: 14%; padding-right: 14px; float: left; position:relative;}
div.cq-colctrl-lt147-c4 { width: 14%; padding-right: 14px; float: left; position:relative;}
div.cq-colctrl-lt147-c5 { width: 14%; padding-right: 14px; float: left; position:relative;}
div.cq-colctrl-lt147-c6 { width: 14%; float: left; position:relative; }

#future_vehicles li[title="2014 Chevy Impala"] div div p {width:357px !important;}
#future_vehicles li[title="2014 Cadillac ELR"] div div p {width:361px !important;}

div#bottomTabContainer li[title="Auto Shows"] p  { width:300px;}