
/* ----------------------------------------- Start of Document: gSite -------------------------- */
html, body {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: arial;
	line-height:1.6667em;
	color:#fff;
	min-height: 100%;
	width:100%;
	background: #000;  
}

#gmc { overflow:hidden !important;}
a:link, a:active, a:visited, a:hover {
	color:#00B1E9;
	text-decoration: underline;
	outline:none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	text-decoration: none;
	font-family: Arial, sans-serif;
}
h1 {
	font-size: 2em;
	line-height: 1.3333em;
}
h2 {
	font-size: 1.5em;
	line-height: 1.6667em;
}
h3 {
	font-size: 1.3333em;
	line-height: 1.5em;
}
h4 {
	font-size: 1em;
	line-height: 1.3333em;
}
h5 {
}
h6 {
}
h1 a:link {
	color:#00B1E9;
	text-decoration: underline;
}
a:hover {
	text-decoration: underline;
	color:#9ed6e8;
}
a:hover span.colorText{
	text-decoration: underline;
	color:#9ed6e8 !important;
}
h1 a:link, h1 a:active, h1 a:visited, h2 a:link, h2 a:active, h2 a:visited, h3 a:link, h3 a:active, h3 a:visited, h4 a:link, h4 a:active, h4 a:visited, h5 a:link, h5 a:active, h5 a:visited, h6 a:link, h16 a:active, h6 a:visited {
	text-decoration: underline;
	line-height:1.5em;
}
h1 a:link, h1 a:active, h1 a:visited {
	color:#00B1E9;
}
h2 a:link, h2 a:active, h2 a:visited, h3 a:link, h3 a:active, h3 a:visited, h4 a:link, h4 a:active, h4 a:visited, h5 a:link, h5 a:active, h5 a:visited, h6 a:link, h16 a:active, h6 a:visited {
	color:#fff;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover { /* temp gray color until style guide is updated  */
	color:#b8b8b8;
}
h1 span.sectionTitle,
h2 span.sectionTitle,
h3 span.sectionTitle,
h4 span.sectionTitle,
h5 span.sectionTitle,
h6 span.sectionTitle {  /* supports the blue highlighting that denotes section title */
	color:#00B1E9;
}
ul {
	list-style-type: none;
}
ul.qaBox li.faqA ul{
	list-style-type:disc;
	margin-left:10px;
}
ul li a:link, ul li a:active, ul li a:visited {
	color:#00b1e9;
}
div.text ul{
	padding-left: 15px;
	font-weight: normal;
	list-style: disc outside none;
}
body.brandpage ul li.textItems a:link{
	color:white;
}
body.brandpage ul li.textItems a:hover{
	color:#4DC0E5;
}
body.brandpage a:hover.button,
body.brandpage a:hover.button .highlightLinkColor{
	color:#00b1e9 !important;
}

#privacyStatement ul li a:link, #privacyStatement ul li a:active, #privacyStatement ul li a:visited {
	text-decoration: none;
}
ul li > a.active {
	color:#00B1E9;
	text-decoration: none;
}
ul li  a:hover {
	color:#9ed6e8;
	text-decoration: none;
}
img {
	border: none;
}
div#background {
	left: 0;
	position: fixed;
	top: 0;
	z-index: 0;
	display:none;
}

body.homepage div#background {
	display: block;
}

/*.ipad.landscape #background { width:1024px !important; height:768px !important;}
.ipad.landscape #background img { width:1024px !important; height:auto !important; top:0;}
.ipad.portrait #background { width:768px !important; height:1024px !important;}
.ipad.portrait #background img { width:auto !important; height:1024px !important;}

*/
/*body.homepage div#background,
body.brandpage div#background{
	display: block;
}*/
div#background img {
	top: 0;/*bottom*/
	position: absolute;
	left: 0;
	display: none;

  /*width: 100%;*/
}
body.homepage div#background img {
	display: block;
}
body.brandpage div#background img {
	opacity:0.75;
}
div#content {
	left: 0;
	position: absolute;
	top: 0;
	z-index: 5;
}
.ie7 div#content {
	padding-bottom:20px;
}
.ie9 div#content {
	padding-bottom:20px;
}
div#vignette {
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	display: block;
	overflow:hidden;
	z-index: 2;
}
.clearfix_both {
	clear:both;
}

/*** added home.css files below ***/
div#auxiliaryNavigation {
    background: url("../images/gFooterBackground.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/gFooterBackground.png*/ repeat-x scroll left center transparent;
    bottom: 0;
	left: 0;
    height: 37px;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
	z-index: 999;
}
div#auxiliaryNavigation ul {
    float: left;
    list-style: none outside none;
    margin: 9px 0 0 22px;
    padding: 0;
    position: relative;
    text-transform: uppercase;

}
div#auxiliaryNavigation ul li a {
    color: #FFF;
    font-size: .8em;
    letter-spacing: .1em;
    text-decoration: none;
}
div#auxiliaryNavigation ul.right li a:hover{
	color: #AAA;
}
div#auxiliaryNavigation ul.right li.active a {
    color: #00B1E9;
}
div#auxiliaryNavigation ul li.last {
    background: none repeat scroll 0 0 transparent;
    margin: 0;
    padding: 0;
}
div#auxiliaryNavigation ul.right {
	display: block;
    float: right;
    height: 32px;
    margin: 9px 18px 0 0;
    overflow: hidden;
    padding: 0;
}
div#auxiliaryNavigation ul.right li {
    float: right;
}
div#auxiliaryNavigation ul li {
    background: url("../images/gFooterSeparator.jpg")/*tpa=http://www.gm.com/etc/designs/gmcom/images/gFooterSeparator.jpg*/ no-repeat scroll right center transparent;
    float: left;
    line-height: 1.5em;
    margin: 0 8px 0 0;
    padding: 0 8px 0 0;
}
/*** end home.css addition ***/
focus{
	border:none;
}
/* End of Document: gSite */



/* --------------------------------------- Start of Document: gFooter ----------------------------------- */
div#auxiliaryNavigation {
    background: url("../images/gFooterBackground.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/gFooterBackground.png*/ repeat scroll left center transparent;
    bottom: 0;
	left: 0;
    height: 52px;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
	z-index: 999;
}
.ipod div#auxiliaryNavigation{
	position: static;
}
div#auxiliaryNavigation ul {
    float: left;
    list-style: none outside none;
    margin: 18px 0 0 22px;
    padding: 0;
    position: relative;
    text-transform: uppercase;    
}
div#auxiliaryNavigation ul li a {
    color: #FFF;
    font-size: .75em;
    letter-spacing: .1em;
    text-decoration: none;
}
div#auxiliaryNavigation ul.right li a:hover{
	color: #AAA;
}
div#auxiliaryNavigation ul.right li.active a {
    color: #00B1E9;
}
div#auxiliaryNavigation ul li.last {
    background: none repeat scroll 0 0 transparent;
    margin: 0;
    padding: 0;
}
div#auxiliaryNavigation ul.right {
	display: block;
    float: right;
    height: 32px;
    margin: 9px 18px 0 0;
    overflow: hidden;
    padding: 0;
	width: 575px;
}
div#auxiliaryNavigation ul.right li {
    float: right;
}
div#auxiliaryNavigation ul li {
    background: url("../images/gFooterSeparator.jpg")/*tpa=http://www.gm.com/etc/designs/gmcom/images/gFooterSeparator.jpg*/ no-repeat scroll right 4px transparent;
    float: left;
    line-height: 16px;
    margin: 0 8px 0 0;
    padding: 0 8px 0 0;
}


/* End of Document: gFooter */


/* slideupDisclaimer */
#content .parbase.disclaimer{
  float:left;
}
#content .parbase.disclaimer #disclosureLinks{
  margin:0 0 77px -118px;
}
#investors #content .parbase.disclaimer #disclosureLinks{
  margin:0 0 77px 0;
}

.disclosure-container{
  position:absolute;
  display:none;
  margin-left:154px;
  cursor:pointer;
  overflow:hidden;
  top:-7px;
}
html.ie7 .disclosure-container{
  left:0;
}
.disclosure-bg{
  overflow:hidden;
}
.disclosure-scroll-box{
  padding:10px 0 0 0; /**/
  overflow:hidden;
  position:relative;
  top:20px;
  height:96%;
}
.disclosure-scroll-btns{ /**/
  position:absolute;
  top:0;
  width:100%;
  height:92%;
  margin-top:11px;
}
.disclosure-scroll-btns img{ /**/
  position:absolute;
  display:block;
  right:0;
  margin-right:7px;
}
.disclosure-scroll-btns img.scroll-up{ /**/
  top:0;
}
.disclosure-scroll-btns img.scroll-down{ /**/
  bottom:0;
}
.disclosure-content{ /**/
  position:absolute;
  padding:0 32px 0 20px;
  overflow:hidden;
}

.disclosure-link{
  margin-left: 121px;
}
#investors .disclosure-link{
  margin-left:0;
}

/* BRAND LOCKUP*/
div.brandLogoLockUp_container{
  position:relative;
  margin-left:auto;
  margin-right:auto;
}
div.brandLogoLockUp_container ul li{
  float:left;
}

/*#diversity div.brandLogoLockUp_container.container_1 ul li img,
#official_1 div.brandLogoLockUp_container ul li img{
	position: relative;
	margin: 15px;
}*/

#official_3 div.brandLogoLockUp_container.container_0 ul li img{
	margin: 0;
}

#browseByType #gmbrowsebycontainer{top:17px!important}

.ipad ul.textLinks li.textItems a:link,.ipad ul.textLinks li.textItems a:active,.ipad ul.textLinks li.textItems a:visited {
  color:#ffffff;
}

.peoplepage h1{
    font-size: 1.5em;
    line-height: 1.6667em;
}

#saturn_vehicles,#hummer_vehicles{
  overflow: hidden;  
}
/*Edit Abrahan to live chat*/
.contentpagetwocolumn .live_chat{
  margin: 35px 0 30px;  
  position: relative;
  width: 99%;
}
.contentpagetwocolumn .live_chat #liveChatWrap{
  position: inherit; !important;
  top: inherit !important;
  right: inherit !important;
  z-index: 9999999;
}

#playVideoContent{height: 427px !important;}

.safari6 #diversity #playVideoContent{
	position:relative;
}
.ie8 #playVideoContent{height: 310px !important;}


/*@media (max-width: 767px) {*/
@media screen and (max-device-width : 767px) and (max-device-width : 768px) and (orientation : portrait){
  div#auxiliaryNavigation{
    /*background: green !important;*/
  }
  div#auxiliaryNavigation ul {
    margin-left: 220px;
  
  }

  div#auxiliaryNavigation ul.right {
    margin-right: 2px;
  }
  div#auxiliaryNavigation ul li {margin-right: 4px;padding-right: 5px;}
}

html.ipad div#auxiliaryNavigation{}
html.ipad div#auxiliaryNavigation ul{
  margin-left: 5px;
  margin-right: 5px;
}
html.ipad div#auxiliaryNavigation ul.right li{
  margin-right: 5px !important;
  padding-right: 5px !important;  
}
html.ipad div#primaryNavigation li#blackFill {
  /*background: red;*/
}
/*.parsys.list_parsys.par_list li{
width: 98px!important;
height: 98px!important;}*/
div.subsection_image_link {
height: 98px;
position: relative;
}
div.brandLogoLockUp_container ul li img{margin:0}