/* global */

body{
	background: none;
}
body.ver4,
html.ver4{
  width:1000px;
}

/* the vignette is a global issue but needs to be styled individualy in some cases */
div#background{
  z-index: -1;
}
div#vignette{
  z-index: 2;
}

div#vignette,
div#vignette img{
  width:auto !important;
  height:1150px !important;
}

#browseByBrand .midMid > div > ul > li.topRow > ul:first-child > li + li{
  margin-top:10px;
}

.browsebybrand_flash div#vignette,
body#search div#vignette,
body#corporate_responsiblity div#vignette,
body.peoplepage_summary div#vignette,
body.peoplepage div#vignette,
body#allGMSites div#vignette,
body#design_technology div#vignette,
body.newsarchivepage div#vignette{
  display: none !important;
}
body.brandpage div#vignette,
body#design_technology div#vignette{
  display:block !important;
}

div#flashContent > p,
a[href="http://www.adobe.com/go/getflashplayer"],
iframe{
  display: none;
}
div.modalPopOutContentGallery iframe{
  display: block !important;
  background:#000 !important;
}
body#employee_profiles #flashContent{
  border-right:1px #666 solid;
  width:599px;
  margin:0;
  padding:0 0 22px 0;
  background:#000 !important;
}
body#diversity object,
body#employee_profiles object{
  background:#000 !important;
}

/* brand landing */
body.brandpage div#content{
  height: 675px;
}
body.brandpage div#content div#thumbSwitchBckgndImage{
  height: 600px;
}
body.brandpage div#content div#thumbSwitchBckgndImage div#leftContent{
  padding: 0;
}
body#browseByBrand div#content ul.divider.col02{display:none;}
/*div.browseByBrandForm.shadedContainer, div.browseByTypeForm.shadedContainer {width: 830px;}*/

/* browse by */
body#browseByBrand div.dfc_div,
body#browseByType div.dfc_div,
body#browseByBrand div.rollOverDetails,
body#browseByType div.rollOverDetails{
	top: auto;
}
/* model or baseball card */
body.modelpage div#content{
  height: 875px;
}
body.modelpage div.shadedContainerPop{
  z-index: 500;
}
body.modelpage div.shadedContainerToolTip{
  z-index: 501;
}
body.modelpage div#background img{
  top: 0;
}
#view-change{
	position: absolute;
	top: 525px;
}
body.visionpage div#sliderContainer{
	z-index: 1;
}
div#sliderContainer div.shadedContainer{
	padding: 0;
}
/* acontentpage content div (hence background div) height */

/*body.contentpage div#content{
	height: 650px;
}*/

/* dfc */
div.shadedContainerDFC div.scrollPane > ul{
	margin: 0;
	padding: 0;
}
div.shadedContainerDFC div.scrollPane > ul > li{
	clear: both;
	padding: 10px;
}
div.shadedContainerDFC div.scrollPane > ul > li.even{
	background-color: #5E5E5E;
}
body#dfc div.jspTrack{
	display: none;
}
/* history and heritage */
body#historyAndHeritage{
	width: 1025px;
}
/* search */
body#search{
	width: 1025px;
}
body#search div#content{
	margin: 65px auto 20px;
}
body#search div.shadedContainer{
	margin: 0 auto;
}
/* dealor locater */
#mds-app-dl #criterial_filter_area input#dealerCity,
#mds-app-dl #criterial_filter_area input#dealerName {
  width:140px !important;
}
#mds-app-dl div#criterial_filter_area .midLeft > ul + ul {
  padding-bottom:66px !important;
}
#criterial_filter_area ul#dlSearchBtns { /* Upper right side of top box */
  height: 208px !important;
}
.dealerSearchGeneral ul {
  margin:-26px 0 !important;
}







/*	tab pages -------------------------------------------- */

/*body.tabpage#owner_assistance #content > .shadedContainer,
body.tabpage#dealers_suppliers #content > .shadedContainer,
body.tabpage#current_offers #content > .shadedContainer,
/*body.tabpage#future_vehicles #content > .shadedContainer{
  min-width:980px;
  width:1110px !important;
  margin:0 !important;
  padding-left:0 !important;
  padding-right:0 !important;
}*/
/*body.tabpage#owner_assistance div#bottomTabContainer,
body.tabpage#dealers_suppliers div#bottomTabContainer,
body.tabpage#current_offers div#bottomTabContainer,
body.tabpage#future_vehicles div#bottomTabContainer{
  margin-left:13px !important;
  margin-right:0px !important;
}*/
body.tabpage#owner_assistance div#bottomTabContainer ul.content > li div.parsys_column > div.parsys_column div.text p,
body.tabpage#dealers_suppliers div#bottomTabContainer ul.content > li div.parsys_column > div.parsys_column div.text p,
body.tabpage#current_offers div#bottomTabContainer ul.content > li div.parsys_column > div.parsys_column div.text p,
body.tabpage#future_vehicles div#bottomTabContainer ul.content > li div.parsys_column > div.parsys_column > div.text > div.text p{
/*  margin:12px 0 !important;
*/  margin:0 0 12px 0 !important;
}
/*body.tabpage#owner_assistance h2.bottomTabContainerTitle,
body.tabpage#dealers_suppliers h2.bottomTabContainerTitle,
body.tabpage#current_offers h2.bottomTabContainerTitle,
body.tabpage#future_vehicles h2.bottomTabContainerTitle{
  margin:0 0 0 13px !important;
  top:40px;
  left:0 !important;
  width:90%;
}*/
/*body.tabpage#owner_assistance #primaryNavigation,
body.tabpage#owner_assistance #auxiliaryNavigation,
body.tabpage#dealers_suppliers #primaryNavigation,
body.tabpage#dealers_suppliers #auxiliaryNavigation,
body.tabpage#future_vehicles #primaryNavigation,
body.tabpage#future_vehicles #auxiliaryNavigation,
body.tabpage#current_offers #primaryNavigation,
body.tabpage#current_offers #auxiliaryNavigation{
  width:1124px !important;
}*/
body.tabpage#owner_assistance #background,
body.tabpage#owner_assistance #background img,
body.tabpage#dealers_suppliers #background,
body.tabpage#dealers_suppliers #background img,
body.tabpage#current_offers #background,
body.tabpage#current_offers #background img,
body.tabpage#future_vehicles #background,
body.tabpage#future_vehicles #background img{
  width:1124px !important;
  top:0;
}
body#current_offers div#bottomTabContainer ul.content li .midRow .midMid div.parsys.cta, body#future_vehicles div#bottomTabContainer ul.content li .midRow .midMid div.parsys.cta {
margin-top: 0;
}
body#current_offers div#bottomTabContainer ul.content li[title="Vehicle Savings"] .midRow .midMid div.parsys.cta{
margin-top: 12px;
}
body#current_offers div#bottomTabContainer ul.content li div.cta_shaded_container > div.midRow {
margin-top: 0;
}

/* borders amd corners */

  /* container borders and radii*/
  body.tabpage .upperRow .opacity70,
  body.tabpage .midRow .opacity70,
  body.tabpage .lowerRow .opacity70{
    background:none;
  }

  body#dealerLocator .upperRow .opacity70,
  body#dealerLocator .midRow .opacity70,
  body#dealerLocator .lowerRow .opacity70{
    background:none;
  }


  body.tabpage .midMid{
    background:url("../images/midMid70.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/midMid70.png*/ !important;
    border:1px #888 solid;
    -moz-border-radius: 7px;
    border-radius: 7px;
  }


  body#dealerLocator .midMid{
    background:url("../images/midMid70.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/midMid70.png*/ !important;
    border:1px #888 solid;
    -moz-border-radius: 7px;
    border-radius: 7px;
  }
  /* ENDcontainer borders and radii*/


  /* cta borders and radii */
  body.tabpage#owner_assistance div.actionContainer,
  body.tabpage#dealers_suppliers div.actionContainer,
  body.tabpage#current_offers div.actionContainer,
  body.tabpage#future_vehicles div.actionContainer,
  body.tabpage#owner_assistance div.actionContainer a.button,
  body.tabpage#dealers_suppliers div.actionContainer a.button,
  body.tabpage#current_offers div.actionContainer a.button,
  body.tabpage#future_vehicles div.actionContainer a.button,
  body.tabpage#owner_assistance div.actionContainer a.button span.genBtn,
  body.tabpage#dealers_suppliers div.actionContainer a.button span.genBtn,
  body.tabpage#current_offers div.actionContainer a.button span.genBtn,
  body.tabpage#future_vehicles div.actionContainer a.button span.genBtn{
	  background:0;
	  margin:0;
	  padding:0;
  }
  body.tabpage#owner_assistance div.actionContainer a.button,
  body.tabpage#dealers_suppliers div.actionContainer a.button,
  body.tabpage#current_offers div.actionContainer a.button,
  body.tabpage#future_vehicles div.actionContainer a.button{
	  padding:1px 8px 0;
	  display: block;
  }
  body.tabpage#owner_assistance div.actionContainer,
  body.tabpage#dealers_suppliers div.actionContainer,
  body.tabpage#current_offers div.actionContainer,
  body.tabpage#future_vehicles div.actionContainer{
	  border:2px #666 solid;
	  border-radius: 7px;
	  background:#000;
	  opacity:0.8;
  }

  /* END cta borders and radii */

    body.tabpage div#bottomTabContainer ul.content > li div.midRow.logoLeft div.parsys.cta div.parsys_column > div.parsys_column + div.parsys_column div.callToAction{
      margin-top: 5px;
    }

  /* tabs radius and tabfills */
  body.tabpage#owner_assistance div#bottomTabContainer ul.tabs li.first,
  body.tabpage#dealers_suppliers div#bottomTabContainer ul.tabs li.first,
  body.tabpage#current_offers div#bottomTabContainer ul.tabs li.first,
  body.tabpage#future_vehicles div#bottomTabContainer ul.tabs li.first,
  body.tabpage#owner_assistance div#bottomTabContainer ul.tabs li.last ,
  body.tabpage#dealers_suppliers div#bottomTabContainer ul.tabs li.last ,
  body.tabpage#current_offers div#bottomTabContainer ul.tabs li.last ,
  body.tabpage#future_vehicles div#bottomTabContainer ul.tabs li.last {
	  border-radius: 0 0 0 10px;
	  margin: 0 1px 0 0 !important;
	  height:44px !important;
	  bottom:0;
  }
  body.tabpage#owner_assistance div#bottomTabContainer ul.tabs li.last ,
  body.tabpage#dealers_suppliers div#bottomTabContainer ul.tabs li.last ,
  body.tabpage#current_offers div#bottomTabContainer ul.tabs li.last ,
  body.tabpage#future_vehicles div#bottomTabContainer ul.tabs li.last {
	  border-radius: 0 0 10px 0;
	  margin:0 !important;
  }
  body.tabpage#owner_assistance div#bottomTabContainer ul.tabs li.btActive ,
  body.tabpage#dealers_suppliers div#bottomTabContainer ul.tabs li.btActive ,
  body.tabpage#current_offers div#bottomTabContainer ul.tabs li.btActive ,
  body.tabpage#future_vehicles div#bottomTabContainer ul.tabs li.btActive {
	  height:53px !important;
  }

  body.tabpage#owner_assistance div#bottomTabContainer ul.tabs li.tabFill,
  body.tabpage#dealers_suppliers div#bottomTabContainer ul.tabs li.tabFill,
  body.tabpage#current_offers div#bottomTabContainer ul.tabs li.tabFill,
  body.tabpage#future_vehicles div#bottomTabContainer ul.tabs li.tabFill,
  body.tabpage#owner_assistance div#bottomTabContainer ul.tabs li.tabFillLeft,
  body.tabpage#dealers_suppliers div#bottomTabContainer ul.tabs li.tabFillLeft,
  body.tabpage#current_offers div#bottomTabContainer ul.tabs li.tabFillLeft,
  body.tabpage#future_vehicles div#bottomTabContainer ul.tabs li.tabFillLeft,
  body.tabpage#owner_assistance div#bottomTabContainer ul.tabs li.tabFillRight ,
  body.tabpage#dealers_suppliers div#bottomTabContainer ul.tabs li.tabFillRight ,
  body.tabpage#current_offers div#bottomTabContainer ul.tabs li.tabFillRight ,
  body.tabpage#future_vehicles div#bottomTabContainer ul.tabs li.tabFillRight {
	  display: none;
  }

  /* END tabs radius and tabfills */
/* END borders amd corners */


body#owner_assistance div.subsection_image_link_container ul li img:hover {
  margin-top:0 !important;
}
body#current_offers div.subsection_image_link_container ul li img:hover{
  margin-top:0 !important;
}

body#current_offers div.subsection_image_link_container ul li div,
body#current_offers div.subsection_image_link_container ul li{
  border:0 !important;
}

body#current_offers div.subsection_image_link_container ul li{
  display:block;
  width:144px;
  height:144px;
  border:0 !important;
}
div#bottomTabContainer div.midRow.logoLeft div.midMid.opacity70 div.parbase.image.section img {
  margin: -1px 0 0 -16px !important;
}
div#bottomTabContainer ul.content li div.logoLeft div.midMid, div#bottomTabContainer ul.content li div.logoRight div.midMid {
  height: 238px !important;
}
/*body#current_offers h2.bottomTabContainerTitle,
body#future_vehicles h2.bottomTabContainerTitle{
  left: -24px !important;
}*/



/*  browseBy logo container */
  body#browseByBrand div.brandLogosContainer,
  body#browseByType div.brandLogosContainer{
	margin-bottom:60px;
  }
  body#browseByBrand div.brandLogosContainer,
  body#browseByBrand div.brandLogosContainer div.shadedContainer,
  body#browseByType div.brandLogosContainer,
  body#browseByType div.brandLogosContainer div.shadedContainer {
    width: 810px !important;
  }
  body#browseByBrand div.brandLogosContainer,
  body#browseByBrand div.brandLogosContainer div.shadedContainer div.midMid,
  body#browseByType div.brandLogosContainer,
  body#browseByType div.brandLogosContainer div.shadedContainer div.midMid{
	height:40px;
  }
  body#browseByBrand div.brandLogosContainer div.shadedContainer div.midMid div.brandLogosTitle,
  body#browseByType div.brandLogosContainer div.shadedContainer div.midMid div.brandLogosTitle{
	margin-top:-20px;
  }
  body#browseByBrand div.brandLogosContent ul#brandLogos li,
  body#browseByType div.brandLogosContent ul#brandLogos li {
	height:60px;
  }
  body#browseByBrand div.brandLogosContent ul li a,
  body#browseByType div.brandLogosContent ul li a{
	width:200px !important;
	height:60px;
  }
  body#browseByBrand div.brandLogosContent ul li a img,
  body#browseByType div.brandLogosContent ul li a img{
	width:200px;

  }
  body#browseByBrand div.brandLogosContent ul li a img:hover,
  body#browseByType div.brandLogosContent ul li a img:hover{
	margin-top:0;
  }
  body#browseByBrand div.divider,
  body#browseByType div.divider{
	display:none;
  }

/*  END browseBy logo container */




#primaryNavigation{
  position: absolute;
  background:#000;
  width: 100% !important;
  top:0 !important;
  position:fixed;
}

#auxiliaryNavigation{
  clear: both;
  font-size: 0.9167em;
  width: 100% !important;
  bottom:0 !important;
  position:fixed;
}



#primaryNavigation ul li#search{
  right:0px !important;
  position:absolute !important;
  float:none !important;
}
#primaryNavigation ul li#allGMSites{
  margin-right:150px;
  right:0;
  position: absolute;
}
#blackFill{display:none !important;}
/*div#content{
  position: static;
}*/
body.brandpage #auxiliaryNavigation{
  bottom:0 !important;
}



/*----------------------------------------------------------------------------------------------------portrait--*/
@media (orientation:portrait){
	
	#content .shadedContainer{
		min-width: 768px !important;
		width: 99% !important;
		margin: 0 auto !important;
	}
	.visionPage #content .shadedContainer{
		width: 100% !important;
	}
	#content .scWrapper .shadedContainer{
		min-width: 275px !important;
		width: 100% !important;
	}
	#slideMenu .shadedContainer{
		min-width: 240px !important;
		width: 100% !important;
	}
	div.mh_container{
	  width:100% !important;
	  height: auto;
	}
	.mastheadhomepage .home-section{
		width: 96%;
	}
	div#rotatingMasthead{
		width: 100% !important;
	}
	div#rotatingMasthead ul,
	div#rotatingMasthead ul li.mh_item{
		width: 100% !important;
	}
	div#rotatingMasthead ul li.mh_item > img{
		width: 100% !important;
		height: 100% !important;
	}
	.flex_promo_tile a img{
		width: 100% !important;
	}
	.mastheadhomepage .slideHolder ul li,
	.mastheadhomepage .slideHolder ul{
		width: 100%;
	}
	.mastheadhomepage #middle-section{
		margin-bottom: 0;
	}
	div.brandLogoLockUp_container ul li img{
		width: 107%;
	}
	
	/*Fix for Ipad Portrait brandLogoLockUp_container on Diversity page*/
	.ipad #diversity .container .flexMidContent .lowerpar {
		width:880px !important;
	}
	.ipad #diversity div.brandLogoLockUp_container ul li{
		width:87px !important;
	}
	.ipad #diversity div.brandLogoLockUp_container ul li img{
		width: 100%;
	}
	
	 body.browsebybrand_flash div#resultsContainer ul li { padding: 0 0 0 24px; } 
	
	.relatedResources .content{
		width: 100% !important;
	}
	#teamgm_cares.contentpagetwocolumn #content .shadedContainer .par.parsys{
		padding-bottom: 0;
	}
	
	/* tabpage */
  	body#current_offers div#bottomTabContainer ul.content li div.cta_shaded_container div.midRow.logoLeft div.midMid,
  	body#current_offers div#bottomTabContainer ul.content li div.cta_shaded_container div.midRow.logoRight div.midMid{
	 	margin-top:0 !important;
	 	height: 239px !important;
	}
	.tabpage div#bottomTabContainer ul.tabs,
	body.tabpage div#bottomTabContainer{
		width: 871px !important;
	}		
	div#bottomTabContainer > ul > li{
		background-size: 875px 418px;
	}
	div#bottomTabContainer ul.tabs li a{
		max-width: 90px !important;
		width: 90% !important;
		position: absolute;
		top: 10%;
	}
		
	/* contentpagetwocolumn template */
	.flexLeftContent { width: 400px !important; }
	.singleWideContainer > div { width: 49.5% !important; }
	
	body.menuboxpage div.container > .flexMidContent .parsys.upperpar { width: 100% !important; }
	body.menuboxpage div.container + div.clearfix + div.container .flexLeftContent { width: 49% !important; }
	body.menuboxpage div.container + div.clearfix + div.container .flexRightContent { width: 49% !important; }

	
	#quality .subsection_image_link{ width: 159px !important; }
	#quality .subsection_image_link a, #quality .subsection_image_link a img{ width: 159px !important; }
	#quality .subsection_image_link_container ul li span.title_wrapper{width: 159px !important; background-size: 100% 100%; } 

	body.menuboxpage div.container{
		width: 96% !important;
		margin: 0 auto !important;
	}
	body.menuboxpage div.container .lowerpar{
		width: 100% !important;
	}
	div.midMid.singleWide,
	div.midMid.doubleWide{ 
		min-height: 148px !important;
		height: 100% !important;
	}
	/*div.mh_container { width: 800px !important; }*/
	
	/* Contact us */
	#contactUs .contact-us-brand-section{
		width: 100% !important;
		max-width: 988px !important;
		background-size: 100%; 
	}
	#contactUs .contact-us-brand-section p{
		width:99% !important;
	}
	#contactUs .contact_us_branding.section,
	#contactUs .parsys_column.cq-colctrl-lt1{
	 	width:100% !important;
	}
	#contactUs .parsys_column.cq-colctrl-lt1-c0,
	#contactUs .parsys_column.cq-colctrl-lt1-c1{
	 	width:48% !important;
	}
	#contactUs .contact-us-brand-section a#marquee1,
	#contactUs .contact-us-brand-section a#marquee2,
	#contactUs .contact-us-brand-section a#marquee3,
	#contactUs .contact-us-brand-section a#marquee4{
		width: 220px !important;
	}
	#contactUs .contact-us-brand-section a#marquee2{
		left: 222px !important;
	}
	#contactUs .contact-us-brand-section a#marquee3{
		left: 444px !important;
	}
	#contactUs .contact-us-brand-section a#marquee4{
		left: 666px !important;
	}
	#contactUs .contact-us-brand-section a#marquee5{
		width: 110px !important;
	}
	#contactUs .contact-us-brand-section a#marquee6{
		width: 110px !important;
		left: 108px !important;
	}
	#contactUs .contact-us-brand-section a#marquee7{
		width: 110px !important;
		left: 221px !important;
	}
	#contactUs .contact-us-brand-section a#marquee8{
		width: 110px !important;
		left: 336px !important;
	}
	#contactUs .contact-us-brand-section a#marquee9{
		width: 110px !important;
		left: 449px !important;
	}
	#contactUs .contact-us-brand-section a#marquee10{
		width: 110px !important;
		left: 564px !important;
	}
	#contactUs .contact-us-brand-section a#marquee11{
		width: 110px !important;
		left: 676px !important;
	}
	#contactUs .contact-us-brand-section a#marquee12{
		width: 110px !important;
		left: 796px !important;
	}
	#contactUs #content .shadedContainer .cq-colctrl-lt1-c0 .cta_shaded_container .parsys_column.cq-colctrl-lt2 .parsys_column.cq-colctrl-lt2-c0,
	#contactUs #content .shadedContainer .cq-colctrl-lt1-c1 .cta_shaded_container .parsys_column.cq-colctrl-lt2 .parsys_column.cq-colctrl-lt2-c0,
	body#contactUs.contentpage #content .shadedContainer .cta_shaded_container .parsys_column.cq-colctrl-lt2 .parsys_column.cq-colctrl-lt2-c1{
		width: 48% !important;	
	}	
	#contactUs .contact-us-brand-section p#brand-section-para-2 { width: auto !important; }

	/* Browse by */
	body.browsebybrand_flash div.roundedCornerFormSet > ul{
		width: 100% !important;
	}
	body.browsebybrand_flash div#content form.formComponentsExample > div.shadedContainer{
		min-height: 900px;
	}
	div.shadedContainerDFC{
		margin-top: -800px !important;
		margin-left: 150px !important;
	}
	 
	/* Dealer Locator */
	.dealerlocatorpage #content .shadedContainer{
		min-width: 250px !important;
	}
	.dealerSearchContainer{
		width: 72% !important;
	}
	div.dl_enclosing_div{
		width: 95% !important;
	}
	.dealerSearchGeneral,
	.dealerSearchGeneral .upperRow,
	.dealerSearchGeneral .midRow,
	.dealerSearchGeneral .lowerRow{
		width: 99% !important;
	}
	#mds-app-dl .dealerSearchGeneral .roundedCornerFormSet{
		width: auto !important;
	}
	div.roundedCornerFormSet > ul{
		width: 200px !important;
	}
	.dealerSearchGeneral .criteriaTitle,
	li.formElements {
		width: 100% !important;
	}
	li.formElements{
		padding-left: 25px !important;
	}
	.dealerSearchRefined .upperRow,
	.dealerSearchRefined .midRow,
	.dealerSearchRefined .lowerRow { 
		width: 99% !important; 
	}	
	
	/*first container on Filter Area Fix for dealerLocator Ipad Portrait*/
	.ipad #dealerLocator #content .webclipping .mds-area-pf1 #criterial_filter_area .midRow .midLeft > p {margin-top: 2px;}
	.ipad #dealerLocator #content .webclipping .mds-area-pf1 #criterial_filter_area .midRight{border:1px #888 solid; border-radius:7px; 
	width:857px;}
	.ipad #dealerLocator #content .webclipping .mds-area-pf1 #criterial_filter_area .midRight ul#dlSearchBtns{width: 210px !important;}
	.ipad #dealerLocator #content .webclipping .mds-area-pf1 #criterial_filter_area .midRight div.midMid{width: 210px; border:none;}
	/*Pager Fix for dealerLocator Ipad Portrait*/
	.ipad #dealerLocator #content .webclipping .mds-area-pf1 #headline div#dl_headline_paging_id{width: 865px;}
	/*Google Map Adaptation Ipad Portrait*/
	.ipad #dealerLocator #content .webclipping .mds-area-pf2 div.pf2a {margin-left:20px; width:330px;}
	.ipad #dealerLocator #content .webclipping .mds-area-pf2 div.pf2a #map_canvas div.gmnoprint{ right:95px !important;}/*Titles Map*/
	
	
	/*IPAD PORTRAIT : historical_dividends page. InvestorTabPage CSS style*/
	.ipad .InvestorTabPage .shadedContainer .midRow div.par div.parbase{ display: block; text-align:center;}
	
	/*IPAD PORTRAIT: Tabs width*/
	.ipad .InvestorTabPage div#content div.shadedContainer div.midRow div.midRight div.midMid div.par div.parbase ul#topMenuNav li{width:304.33px !important;}
	
	
	
	/* All GM sites */
	.global-sites-brand-list li{
		width: 146px !important;
	}
	.global-sites-menu-block{
		width: 33% !important;
		margin-left: 3px !important;
	}
	#content .branding_call_to_action .shadedContainer{
		min-width: 20px !important;
		margin-top: 50px !important;
	}
	#content .branding_call_to_action h4 + div + div.shadedContainer{
		margin: 0 !important;
	}
	#allGMSites div.cq-colctrl-lt195-c0{
		margin-top: -15px !important;
	}
	
	
	/* Investors */

	#investors div.container div.upperpar { width: 900px !important; } 
	#investors div.stockSectionContainer ul li span { font-size: 26px; } 
	#investors div.stockSectionContainer ul li.current_rate { height: 73px;  } 
	#investors div.stockSectionContainer ul li.current_rate span { font-size: 32px; }
}
/*------------------------------------------------------------------------------------------END orientation:portrait*/



/*----------------------------------------------------------------------------------------------------landscape--*/
@media (orientation:landscape){

	.browsebybrand_flash #content .shadedContainer{
		max-width: 950px !important;
		width: 96% !important;
		margin: 0 auto !important;
	}
	
	div.shadedContainerDFC{
		margin-top: -600px !important;
		margin-left: 300px !important;
	}
	
	/* tabpage */
	.tabpage #content .shadedContainer{
		max-width: 1024px !important;
		min-width: 768px !important;
		width: 99% !important;
		margin: 0 auto !important;
	}
	.tabpage div#bottomTabContainer ul.tabs,
	body.tabpage div#bottomTabContainer{
		width: 870px !important;
	}		
	div#bottomTabContainer > ul > li{
		background-size: 870px 418px;
	}
	div#bottomTabContainer ul.tabs li a{
		max-width: 90px !important;
		width: 90% !important;
		position: absolute;
		top: 10%;
	}
	body#current_offers div#bottomTabContainer ul.content li div.cta_shaded_container div.midRow.logoLeft div.midMid,
  	body#current_offers div#bottomTabContainer ul.content li div.cta_shaded_container div.midRow.logoRight div.midMid{
	 	margin-top:0 !important;
	 	height: 239px !important;
	}
	
	
body.ver4,
html.ver4{
  width:1024px;
}

div.chooseBrand{
  left: 65px;
}

  body.visionpage div#content{
	height: 620px;
  }

  body.visionpage.ver4 div#content,
  body.visionconfigpage.ver4 div#content,
  body#aboutGM.ver4 div#content,
  body.contentpage.ver4 div#content,
  body.contactuspage.submitted.ver4 div#content{
	height: 640px;
  }
  body.contactuspage div#content div.shadedContainer{
	min-width:0 !important;
	width:auto !important;
  }
  body.contactuspage.submitted div#content div.shadedContainer{
	min-width:0 !important;
	width:600px !important;
  }

  /*--*/
	body.brandpage #content,
	body.brandpage #flashContent,
	body.brandpage #flashContent > #content,
	body.brandpage #thumbSwitchBckgndImage{
	  width:700px !important;
	}

  /*-------landscape--*/

  body#owner_assistance #primaryNavigation,
  body#dealers_suppliers #primaryNavigation,
  body#current_offers #primaryNavigation,
  body#future_vehicles #primaryNavigation{
  position:absolute !important;
  top:0px !important;
  }
  body.ver5#owner_assistance #auxiliaryNavigation,
  body.ver5#dealers_suppliers #auxiliaryNavigation,
  body.ver5#current_offers #auxiliaryNavigation,
  body.ver5#future_vehicles #auxiliaryNavigation{
	position:fixed!important;
	bottom:0 !important;
  }

  body#owner_assistance #auxiliaryNavigation,
  body#dealers_suppliers #auxiliaryNavigation,
  body#current_offers #auxiliaryNavigation,
  body#future_vehicles #auxiliaryNavigation{
  position:absolute !important;
  bottom:0 !important;
  }
  body #primaryNavigation,
  body #auxiliaryNavigation{
	width:100% !important;
  }

  body.brandpage #primaryNavigation,
  #primaryNavigation ul,
  body.brandpage #auxiliaryNavigation{
	width:1024px;
  }
  body.brandpage #auxiliaryNavigation{
	position:absolute !important;
  }
  body.brandpage #primaryNavigation{
	background:#000;
  }


  /*-------landscape--*/
  body.tabpage #background,
  body.tabpage #background img{
	height:1150px;
	top:0;
  }

  body.ver4.mastheadhomepage #background,
  body.ver4.mastheadhomepage #background img,
  body.ver4#dealerLocator #background,
  body.ver4#dealerLocator #background img{
    width:1024px;
  }
  body.modelpage #background{top:-120px;left:0 !important;}
  body.modelpage #background img{left:0 !important;}
  /*--*/
  body.brandpage #background
  body.brandpage #background img{
	width:auto !important;
	height:980px !important;
  }

  /*-------landscape--*/

  body#employee_resource_groups.ver4 div.shadedContainerPop {
	position:absolute !important;
	left:50% !important;
	margin-left:-315px;
  }
  body.ver3#owner_assistance{
	  height:960px !important;
  }
  #view-change{bottom:20px;}

  .visionpage #background{
  height:740px !important;
  }
  .visionpage #background img{
  height:740px !important;
  position: relative;
  }
  
  /*IPAD LANDSCAPE: #dealerLocator*/
  .ipad #dealerLocator #content .webclipping .mds-area-pf1 #criterial_filter_area .midRight div.midMid{border:none; width:310px;}
  .ipad #dealerLocator #content .webclipping .mds-area-pf1 #criterial_filter_area .midRight{border:1px #888 solid; border-radius:7px;}
  .ipad #dealerLocator #content .webclipping .mds-area-pf1 #criterial_filter_area .midRow .midLeft > p {margin-top: 2px;}
  
  
  
  /*IPAD LANDSCAPE: .InvestorTabPage   (Tabs width)*/
  .ipad .InvestorTabPage div#content div.shadedContainer div.midRow div.midRight div.midMid div.par div.parbase ul#topMenuNav li{width:342px !important;}

}/*--------------------------------------------------------------------------------------END orientation:landscape*/

/*  body#dealerLocator div#content > .shadedContainer,
  body.visionconfigpage div#content > .shadedContainer,
  body.newsarchivepage div#content > .shadedContainer,
  body.peoplepage_summary  div#content > .shadedContainer,
  body.investors-page div#content > .shadedContainer,
  body#sales-production #content > .shadedContainer,
  body#stock-financial #content > .shadedContainer,
  body#creation #content > .shadedContainer,
  body#acceleration #content > .shadedContainer,
  body#emotion #content > .shadedContainer,
  body#revolution #content > .shadedContainer,
  body#globalization #content > .shadedContainer,
  body#innovation_challenges #content > .shadedContainer,
  body#rebirth #content > .shadedContainer{
    min-width:1000px !important;
    width:1000px !important;
  }*/
  body.contentpagetwocolumn div.flexLeftContent,
  body.peoplepage div.flexLeftContent{
    margin-left:20px !important;
    margin-right:50px !important;
  }
  /*body.contentpagetwocolumn div#content > .shadedContainer,
  body.peoplepage  div#content > .shadedContainer,
  body#contacts div#content > .shadedContainer{
    min-width:1000px;
    width:1020px;
  }*/

#exteriorImageIpad{display:none;}

/* pillar */


body.newsarchivepage div#content > div.shadedContainer{
    min-width:1000px;
  width:1000px !important;
}
body.newsarchivepage div#content > div.shadedContainer .clpContent{
  margin:0 10px !important;
}
body.newsarchivepage div#content > div.shadedContainer .clpContent .controlNav{
  right:20px !important;
}
body.newsarchivepage div#content > div.shadedContainer .article.odd{
  margin-right:10px !important;
}
body.newsarchivepage div#content > div.shadedContainer .article.even{
  margin-left:10px !important;
}




body#designing_for_physically_challenged.ipad div.parsys_column.cq-colctrl-lt1-c0{
  margin:0 20px !important;
  width:450px !important;
}
body#designing_for_physically_challenged.ipad div.pparsys_column.cq-colctrl-lt1-c1{
  width:auto !important;
}

.flexVideoGallery #video #thumbnailWrap .galleryItem {
  margin: 0 0 5px 25px !important;
}

div.shadedContainer > div.midRow > div.midLeft > div.midRight > div.midMid {
  padding: 24px 0;
}

/*Fix spacing on Tabs for InvestorTabPage Page.*/
.InvestorTabPage div#content div.shadedContainer div.midRow div.midLeft div.midRight > div.midMid{ padding:0px;}


.investors-page div.shadedContainer > div.midRow > div.midLeft > div.midRight > div.midMid {}


div.flexVideoGallery .videoWraper .verticalLine.bottom {
  height: 28px;
  margin: -24px 0 2px;
}
 div.flexVideoGallery .videoWraper .verticalLine {
  height: 30px !important;
  margin: 2px 0 0;
  z-index:10;
}
div.modalPopOutContentGallery .videoWraper .line{
  height:392px;
}
div.modalPopOutContentGallery p.videoCaption{
  margin-bottom: 0;
}
div.flexVideoGallery div.modalPopOutContentGallery div.shadedContainer.videoWraper div.videoTitle {
border:0;
height: 41px;
margin-top: -23px;
background:#000;
padding: 10px 0 0 10px !important;
}

div.modalPopOutContentGallery iframe {
border-right: 1px #5e5e5e solid !important;
height:308px !important;
width:599px !important;
}
body#contactUsForm #background,
body#contactUsForm #background img{
  height:100% !important;
}
#terms-container{
  z-index:9999;
}
#terms-content{
  margin:0 0 0 20px !important;
  width:640px !important;
  padding:0 !important;
}
#terms-scroll-btns{
  height:300px !important;
  top:50% !important;
  margin-top:-150px !important;
}
/*body#investors div#slideMenuWrap + div.shadedContainer {
  width:1015px !important;
  min-width:1015px !important;
}*/

.clpContent{
  margin:0 20px !important;
}
body.investorsnewsarchivepage .articles .resultsWrapper div{
  margin-right:5px !important;
  margin-left:0 !important;

}
body.investorsnewsarchivepage .articles .resultsWrapper div.controlNav{
  right:55px !important;
}

body.investorsnewsarchivepage .articles .resultsWrapper div.resultCount{
  width:96px !important;
}
body.investorsnewsarchivepage#international_salesproduction div#content>div.shadedContainer{
  width:1000px !important;
}

body.investorsnewsarchivepage div#content>div.shadedContainer .clpContent{
  margin:0 10px !important;
}


body#latest-news #content > .shadedContainer,
body#sales-production #content > .shadedContainer,
body#announcements-events #content > .shadedContainer{
  width:980px;
}
body#stockholder-information #content > .shadedContainer,
body#sec-filings #content > .shadedContainer{
  width:940px !important;
  margin:0 20px 0!important;
}
body#sec-filings .custom_iframe{
  margin-left:130px !important;
}

body#international_salesproduction .article.odd,
body#latest-news .article.odd,
body#announcements-events .article.odd{
  margin-right:40px;
}

body#latest-news div.resultCount{
  width:96px;
}
body#latest-news div.filterPerQ{
  margin-left:10px;
}
body#latest-news div.controlNav{
  right:55px !important;
}

body#sales-production #content > .shadedContainer,
body#stock-financial #content > .shadedContainer{
  min-width:0 !important;
}

/*body#investors div.container {
  margin-left:0 !important;
  padding-left:10px !important;
}*/
body#sales-production .flexLeftContent,
body#sales-production .flexRightContent,
body#stock-financial .flexLeftContent,
body#stock-financial .flexRightContent{
  min-width:0 !important;
}



body#sales-production div.flexLeftContent{
  margin-left: 20px !important;
  margin-right: 30px !important;
}
body#stock-financial div.flexLeftContent{
  margin-left: 20px !important;
  margin-right: 0px !important;
}
body#stockholder-information div.flexLeftContent{
  margin-left: 20px !important;
  margin-right: 0px !important;
}
body#stockholder-information div.flexRightContent{
  margin-left: 20px !important;
  margin-right: 0px !important;
}
body#earning-releases #content > .shadedContainer{
	min-width:900px !important;
}

body#earning-releases div.flexLeftContent{
  margin-left: 20px !important;
  margin-right: 10px !important;
}
body#earning-releases div.flexRightContent{
  margin-left: 10px !important;
  margin-right: 0px !important;
}

#fundamentals ul#topMenuNav{
  margin: -23px -4px 0;
  border:0;
}
#fundamentals ul#topMenuNav li,
#analyst-coverage ul#topMenuNav li,
#stock-financial ul#topMenuNav li{
  padding: 6px 4px;
text-align: center;
line-height: 50px;
border-bottom: 1px #666 solid;
padding-bottom: 4px;
}

#stock-financial ul#topMenuNav{
	margin: -23px 7px 0 !important;
	border:0;
}
#stock-financial ul#topMenuNav li {
	margin: -8px -9px -6px 0 !important;
	padding: 6px 0 5px;
}
#fundamentals ul#topMenuNav{
	margin: -23px 0 0;
 	border:0;
}
#analyst-coverage ul#topMenuNav{
	margin: -23px 2px 0;
 	border:0;
}
#fundamentals ul#topMenuNav li,
#analyst-coverage ul#topMenuNav li{
	padding: 0;
	padding-bottom: 5px !important;
}

#fundamentals .shadedContainer .midMid .container,
#analyst-coverage .shadedContainer .midMid .container,
#stock-financial .shadedContainer .midMid .container{
  margin:0 -7px;
}


#fundamentals ul#topMenuNav li  a,
#analyst-coverage ul#topMenuNav li a,
#stock-financial ul#topMenuNav li a{
  border-radius: 6px 0 0 0;
}
#fundamentals ul#topMenuNav li + li a,
#analyst-coverage ul#topMenuNav li + li a,
#stock-financial ul#topMenuNav li + li a{
  border-radius: 0;
}
#fundamentals ul#topMenuNav li + li + li a,
#analyst-coverage ul#topMenuNav li + li + li a,
#stock-financial ul#topMenuNav li + li + li a{
  border-radius: 0 6px 0 0;
}
body#fundamentals ul#topMenuNav > li + li + li a {
padding-right: 20px !important;
}

#fundamentals ul#topMenuNav div.shadedContainer > div.midRow > div.midLeft > div.midRight > div.midMid ,
#analyst-coverage ul#topMenuNav div.shadedContainer > div.midRow > div.midLeft > div.midRight > div.midMid ,
#stock-financial ul#topMenuNav div.shadedContainer > div.midRow > div.midLeft > div.midRight > div.midMid {
  padding-top:0 !important;
}


body.investors-page #background{
  height:650% !important;
}
body.investors-page #background img{
  height:100% !important;
}

#background{
  display:block !important;
}
div#sliderTab{top:55px !important;}


body.simplepage.investors-page.ver4 .par.parsys{width:470px !important;}

body.ipad.ver4#dealer_locator h2.dealerName{clear:none;}


body.brandpage div#background{
  overflow:hidden !important;
}

/*body#owner_assistance #content > .shadedContainer {
  min-width:960px;
}*/


/* visionpage slide style change */
div#sliderContainer div.stop {
  width:99px;
  margin-left:-25px;
}
div#sliderContainer div#slideTrack {
}

div#sliderContainer div#sliderTab {
	display:none;
}

ul.multiColFormWrapper li.rowTwo{
  margin:0;
  float:none;
}
li.rowTwo div.centeredFormContent h3{
  line-height:50px;
}

div#resultsContainer ul#vehicleResults{
  float:none;
}
.ipad #content .shadedContainer .midRow .midMid .par.parsys .parbase.contact_us_branding_6.section .shadedContainer.contact_us_branding_6 .midRow{height:124px}

.ipad #owner_assistance .parsys_column.cq-colctrl-lt11 .parsys_column.cq-colctrl-lt11-c1 .text.parbase.section + .text.parbase.section{height:0px;}
.ipad #current_offers .parsys_column.cq-colctrl-lt11-c1{margin-top:64px;}

#primaryNavigation ul li#GMLogo span{
  text-indent: 0 !important;
  color:#000;
  background-position: -15px 1px;
}



div#primaryNavigation li#vision ul{width: 660px !important;}

body#dealerLocator .dealerSearchRefined.shadedContainer .midMid,
body#dealerLocator .submitButtonContainer{margin-left: 2px;}


body.visionconfigpage div.modalPopOutContentGallery div#flashContentClone p.videoCaption{
  margin-bottom:26px;
}


.ipad div.flexVideoGallery div.modalPopOutContentGallery div.shadedContainer.videoWraper div.videoCaptionWrap{
  height:162px !important;
}

body.visionconfigpage div.videogallery_video_gallery_crx div.videoTitle{
  display: none;
}
body.visionconfigpage div.shadedContainerPop,
body.visionconfigpage div.shadedContainerPop div#upperRow,
body.visionconfigpage div.shadedContainerPop div#lowerRow,
body.visionconfigpage div.shadedContainerPop div.midRow{
  width:565px !important;
}
body.visionconfigpage div.videogallery_video_gallery_crx div#flashContentClone{
  height:303px !important;
  margin-bottom:0 !important;
}
body.visionconfigpage div.videogallery_video_gallery_crx div#flashContentClone iframe#bcplayer{
  width:565px !important;
  margin-left:-16px !important;
}
body.visionconfigpage div.videogallery_video_gallery_crx div.shadedContainer.videoWraper,
body.visionconfigpage div.videogallery_video_gallery_crx div.shadedContainer.videoWraper div.midLeft{
  width:546px !important;
}
body.visionconfigpage div.videogallery_video_gallery_crx div.shadedContainer.videoWraper div.midLeft div.midMid{
  padding:0 !important;
}

.simplepage.ipad.mobile.investors-page .midLeft{
  height:265px;
}