/*------------------------------- Home page styles -------------------------------*/
.mastheadhomepage a:link, .mastheadhomepage a:active, 
.mastheadhomepage a:visited, .mastheadhomepage a:hover {
	color: #0ebff2;
	text-decoration: underline;
	outline: none;
} 
ul li a:hover {
	color: #9ed6e8;
	text-decoration: none;
} 
.mastheadhomepage #upper-section{
	margin-top: 38px;
}
.mastheadhomepage .home-section{
	width: 980px;
	margin: 0 auto;
}
.mastheadhomepage #middle-section{
	margin-top: 15px;
	margin-bottom: 22px;
}
.mastheadhomepage #middle-section .column{
	width: 33.33%;
	float: left;
	overflow: hidden;
}
/*.mastheadhomepage #middle-section .column.column-left{
	margin-right: 18px;
    min-height: 156px;
    overflow: hidden;
    width: 31.5%;
}*/
.mastheadhomepage #middle-section .column-left .content{
	max-width: 310px;
}
.mastheadhomepage #lower-section{
	margin-bottom: 10px;
}
.mastheadhomepage #lower-section .content{
	margin-bottom: 25px;
}

/*santi*/
.mastheadhomepage #content .shadedContainer{ position: relative; padding-bottom: 52px; padding-top: 68px;}/*Padding from the Content*/
.mastheadhomepage #content .shoppingMastheadHeadline.gotham-bold{ font-size:29px;}
.mastheadhomepage #content .midMid{padding-top: 24px; padding-bottom: 6px;} /*Padding from the Midle section*/

/****** Homepage Latest News from GM ******/
.mastheadhomepage .feedWrapper {
	list-style: none;
	margin: 0;
	padding: 0;
}
.mastheadhomepage .contentSlideNo {
	background-color: transparent;
	float: right;
	clear: right;
	margin: 0;
	padding: 2px 0 0;
}
.mastheadhomepage #middle-section  h2 {
	float: left;
	clear: left;
	padding: 2px 0 0;
	margin: 0;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 1.5em;
}
.mastheadhomepage .slideHolder ul {
	list-style: none;
	padding: 0;
	width: 620px;
}
.mastheadhomepage .slideHolder {
	float: left;
	clear: none;
	margin: -2px 0 0;
	width: 100%;
}
.mastheadhomepage .slideHolder li {
	float: left;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 310px;
}
.mastheadhomepage .slideHolder h3 {
	font-size: 14px;
	line-height: 1.3333em;
}
.mastheadhomepage .slideHolder p {
	font-weight: 100;
	margin: 0 !important;
}

.mastheadhomepage .gmFeed a.title{
	text-decoration: none;
}
.mastheadhomepage ul li .contentSlideNo a {
	font-weight: bold;
	color: #fff;
	text-decoration: underline;
	margin: 0 2px 0;
	color: #0ebff2;
}
.mastheadhomepage ul li .contentSlideNo a.slideNoActive,
.mastheadhomepage ul li .contentSlideNo a.slideNoActive:hover {
	text-decoration: none;
	color: white;
}
.mastheadhomepage ul li .contentSlideNo a:hover {
	color: #9ed6e8;
}
.mastheadhomepage .gmFeed a.title:hover{
	color: #9ed6e8;
}
.mastheadhomepage ul li a.read-more:hover {
	text-decoration: underline;
	color: #9ed6e8;
}
.mastheadhomepage .slideHolder .read-more{
	margin-left: 5px;
}

/****** Rotating Masthead ******/
.mastheadhomepage .ieborder {
	background: none !important;
}
.mastheadhomepage div#rotatingMasthead{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #5e5e5e;
}
.ie8 .mastheadhomepage div#rotatingMasthead{
	border: none;
}
.ie8 .mastheadhomepage div#rotatingMasthead div.ieborder.top.left {
	background: url(../images/ieborder_topleft.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/ieborder_topleft.png*/ no-repeat !important;
}
.ie8 .mastheadhomepage div#rotatingMasthead div.ieborder.top.right{
 	background:url(../images/ieborder_topright.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/ieborder_topright.png*/ no-repeat !important;
}
.ie8 .mastheadhomepage div#rotatingMasthead div.ieborder.bottom.left{
  	background:url(../images/ieborder_bottomleft.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/ieborder_bottomleft.png*/ no-repeat !important;
}
.ie8 .mastheadhomepage div#rotatingMasthead div.ieborder.bottom.right{
  	background:url(../images/ieborder_bottomright.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/ieborder_bottomright.png*/ no-repeat !important;
}
.ie8 .mastheadhomepage div#rotatingMasthead div.ieborder.center{
	height: 100%;
  	background:url(../images/ieborder_center.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/ieborder_center.png*/ repeat-y !important;
}
.ie8 .mastheadhomepage div#rotatingMasthead div.ieborder.middle{
	width: 100%;
  	background:url(../images/ieborder_center.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/ieborder_center.png*/ repeat-x !important;
}
.ipad.mastheadhomepage div.mh_container{ 
	height: auto;
}
.mastheadhomepage div#rotatingMasthead li div.mh_content_wrapper{
	margin: 0;
	height: 100%;
}
.mastheadhomepage div#rotatingMasthead li .pos_container.left-top{
	padding: 44px 0 0 44px;
}
.mastheadhomepage div#rotatingMasthead li .pos_container.right-top{
	padding: 22px 17px 0 0;
}

/****** Titles and text in mastheads ******/
.mastheadhomepage div#rotatingMasthead li div.mh_content_wrapper h1 {
	margin: 10px 0 0;
}
.mastheadhomepage .title_diff_sizes{
	margin-top: -10px;
}
.mastheadhomepage .section.text{
	margin-top: 20px;
}
.mastheadhomepage .section.text p{
	margin-top:8px;
	line-height: 1em;
}
.mastheadhomepage div#rotatingMasthead .text li{
	display: list-item;
	float: none;
}
.mastheadhomepage div#rotatingMasthead .text ul{
	position: relative;
	color: inherit;
}
.mastheadhomepage div#rotatingMasthead .text ol{
	margin-left: -20px;
}

/****** CTAs******/
.ie9 .mastheadhomepage #content .genBtn,
.ie8 .mastheadhomepage #content .genBtn{
    padding: 3px 0 0 !important;
}
.gecko .mastheadhomepage #content .genBtn,
.ie .mastheadhomepage .genBtn.gotham-bold{
	padding-top: 0.27em !important;
}

.mastheadhomepage .actionContainer{
	background: url("../images/fBtnRtEnd_sm_hp.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/fBtnRtEnd_sm_hp.png*/ no-repeat scroll right 0 transparent;
}
.mastheadhomepage a.button {
	background: url("../images/fBtnLeftEnd_sm_hp.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/fBtnLeftEnd_sm_hp.png*/ no-repeat scroll 0 0 transparent;
}
.mastheadhomepage #content .genBtn{
	background: url("../images/fBtnBg_sm_hp.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/fBtnBg_sm_hp.png*/ repeat-x scroll 0 0 transparent;
	margin-top: 0;
	height: 21px;
}
.mastheadhomepage .mh_item1 .actionContainer{
	background: url("../images/fBtnRtEnd_hp.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/fBtnRtEnd_hp.png*/ no-repeat scroll right 0 transparent;
	margin-top: 0;
}
.mastheadhomepage .mh_item1 a.button {
	background: url("../images/fBtnLeftEnd_hp.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/fBtnLeftEnd_hp.png*/ no-repeat scroll 0 0 transparent;
}

.mastheadhomepage #content .mh_item1 .genBtn{
	margin-top: 0;
	padding: 7px 0 0 !important;
	height:30px;
	background: url("../images/fBtnBg_hp.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/fBtnBg_hp.png*/ repeat-x scroll 0 0px transparent;
	font-size:12px;
}

.mastheadhomepage div#rotatingMasthead li .mh_item1 div.mh_content_wrapper div.callToAction {
	margin-top: 20px;
}


/****** Promo Tiles ******/
.mastheadhomepage .flex_promo_tile{
	margin: 4px 0 0;
	float: right;
}
.mastheadhomepage .flex_promo_tile a{
	max-height: 100% !important;
}

/****** BrandLogo LockUp *******/
.mastheadhomepage div.brandLogoLockUp_container {
	margin-bottom: 30px;
}

/****** Social Icons ******/
.mastheadhomepage .content.social{
	text-align: center;
	width: auto;
	margin: 0;
}
.mastheadhomepage .content.social h2{
	float: left;
	margin: 0;
}

/****** Disclaimer ******/
.mastheadhomepage #disclaimer {
	font-size: 10px;
	position: relative;
	bottom: 73px;
	height:auto;
}
.mastheadhomepage #content .lowerMid{
	padding-bottom:71px;
}
.mastheadhomepage .disclosure-bg{
	font-size: 10px;
}

.mastheadhomepage #disclaimer .textDisclaimer{
	position:relative;
}
.mastheadhomepage #disclaimer .textDisclaimer p{
	margin: 5px 0 0;
}

.mastheadhomepage #content .parbase.disclaimer #disclosureLinks {
	margin: 4px 0 0 -118px;
}

.mastheadhomepage #content #disclaimer-section .parbase.disclaimer #disclosureLinks{
	margin: 0 0 77px -118px;
}
