.position_box{
	width: 100%;
	height: 100%;
	position: relative;
}
.pos_container{
	position: absolute;
}
.pos_container.left-top{
	left: 0;
	top: 0;
}
.pos_container.right-top{
	right: 0;
	top: 0;
}