
body.ipad.contentpagetwocolumn #content > div.shadedContainer.contentFit > div.upperRow,
body.ipad.contentpagetwocolumn #content > div.shadedContainer.contentFit > div.lowerRow{
/*	display:none;
*/}
body.ipad.contentpagetwocolumn #content > div.shadedContainer.contentFit > div.midRow > div.midLeft{
/*  background:url(../images/midMid70.png) ;
*/
/*background: 0;
*/}
body.ipad.contentpagetwocolumn #content > div.shadedContainer.contentFit > div.midRow > div.midLeft > div.midRight{
/*  background:url(../images/midMid70.png) right center repeat-y;
  margin-left: 3px;
*/
/*background: 0;
*/}
body.ipad.contentpagetwocolumn #content > div.shadedContainer.contentFit > div.midRow > div.midLeft > div.midRight > div.midMid{
  margin-right:6px;

/*background: 0;
*/}
body.ipad.contentpagetwocolumn #content > div.shadedContainer.contentFit > div.midRow{
/*	border:1px #867F86 solid;
	border-radius:6px;
  background:0;
*/}
body.ipad.contentpagetwocolumn #content > div.shadedContainer.contentFit > div.lowerRow div.lowerMid{
	height:6px;
}

div.mh_container{
  margin:0 auto 10px;/*before 10px last*/
  height:auto;
  background:0;
  overflow: hidden;
}
/* these values reset to 'relative' after window load to fix background image repeat bugginess */
body.ipad div.mh_container{
  height:387px;
  position:absolute;
}
body.ipad div.mh_container.midRow{
  position:absolute;
}
/* ************* */

div.mh_container div.midLeft,
div.mh_container div.midRight,
div.mh_container div.midMid{
  background:0;

}

div#rotatingMasthead{
	overflow:hidden;
	position:relative;
	margin:0 auto;
	width:0;
	height:0;
}


/* ieborder border image styles */
div#rotatingMasthead div.ieborder{
  display:block;
  position:absolute;
}
div#rotatingMasthead div.ieborder.top.left,
div#rotatingMasthead div.ieborder.top.right,
div#rotatingMasthead div.ieborder.bottom.left,
div#rotatingMasthead div.ieborder.bottom.right{
  width:5px;
  height:5px;
}
div#rotatingMasthead div.ieborder.top.left{
  margin:0;
  background:url(../images/ieborder_topleft.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/ieborder_topleft.png*/ no-repeat;
}
div#rotatingMasthead div.ieborder.top.right{
  margin:0;
  right:0;
  background:url(../images/ieborder_topright.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/ieborder_topright.png*/ no-repeat;
}
div#rotatingMasthead div.ieborder.bottom{
  bottom:0;
}
div#rotatingMasthead div.ieborder.bottom.left{
  margin: 0;
  background:url(../images/ieborder_bottomleft.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/ieborder_bottomleft.png*/ no-repeat;
}
div#rotatingMasthead div.ieborder.bottom.right{
  margin:0;
  right:0;
  background:url(../images/ieborder_bottomright.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/ieborder_bottomright.png*/ no-repeat;
}
div#rotatingMasthead div.ieborder.center.left{
  left:0;
  margin:5px 0 0;
}
div#rotatingMasthead div.ieborder.center.right{
  right:0;
  margin:5px 0 0;
}

div#rotatingMasthead div.ieborder.center{
  width:1px;
  background:url(../images/ieborder_center.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/ieborder_center.png*/ repeat-y;
}
div#rotatingMasthead div.ieborder.middle{
  margin-left:5px;
  height:1px;
  background:url(../images/ieborder_center.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/ieborder_center.png*/ repeat-x;
}



body.contentpagetwocolumn a.button{
   margin: 0 5px 0 0;
   padding: 0 5px 0 1px;
}
body.contentpagetwocolumn a.button span{
   margin:7px 0 5px 9px;
/*   padding:3px 0 0;
*/}
div#rotatingMasthead a.button span{
   padding:2px 0 0;
}
div#rotatingMasthead a.button span.gotham-bold-dynamic{
   padding:3px 0 0;
}
.safari6 div#rotatingMasthead a.button span{
   padding:3px 0 0;
}

body.ipad.contentpagetwocolumn a.button span{

   padding:4px 0 0;
}
body.contentpagetwocolumn a.button span span{
   margin:0;
}
div#rotatingMasthead div.playVideo a.button span,
div#rotatingMasthead div.playVideo + div.callToAction a.button span{
   margin:7px 0 0 9px;
   padding:2px 0 0;
}
html.ie div#rotatingMasthead div.playVideo a.button span,
html.ie div#rotatingMasthead div.playVideo + div.callToAction a.button span{
   padding:3px 0 0;
}
body.ipad div#rotatingMasthead div.playVideo a.button span,
body.ipad div#rotatingMasthead div.playVideo + div.callToAction a.button span,
html.mac div#rotatingMasthead div.playVideo a.button span,
html.mac div#rotatingMasthead div.playVideo + div.callToAction a.button span{
   padding:3px 0 0;
}
div#rotatingMasthead div.playVideo a.button span span,
div#rotatingMasthead div.playVideo + div.callToAction a.button span span{
   margin:0;
}

html.ie body.contentpagetwocolumn .mh_container a.button span{
   padding:3px 0 0 !important;
}
html.ie body.contentpagetwocolumn div.playVideo + div.callToAction a.button span{
   padding:3px 0 0;
}
html.ie7 body.contentpagetwocolumn a.button span,
html.ie8 body.contentpagetwocolumn a.button span{
   padding:2px 0 0 !important;
}



div#rotatingMasthead ul{
	position: absolute;
	left:0;
	overflow: hidden;
}
div#rotatingMasthead li{
	float: left;
	display: block;
}
div#rotatingMasthead li > div{
	position: relative;
}

div#rotatingMasthead li img.background{
  position:absolute;
}
div#rotatingMasthead li div.mh_content_wrapper{
  position:absolute;
  top:0;
  left:0;
  height:308px;
  width:100%;
  margin:44px 0 0 44px;
}
div#rotatingMasthead li div.mh_content_wrapper h1,
div#rotatingMasthead li div.mh_content_wrapper h2{
  margin:0;
  line-height:0;
  font-weight:normal;
  font-size:42px;
}
div#rotatingMasthead li div.mh_content_wrapper h1{
  margin-bottom:10px;
}
html.ie div#rotatingMasthead li div.mh_content_wrapper h1{
  margin-top:16px;
  margin-bottom:40px;
}
div#rotatingMasthead li div.mh_content_wrapper div.text.parbase.section{
  width:430px;
}
div#rotatingMasthead li div.mh_content_wrapper div.playVideo,
div#rotatingMasthead li div.mh_content_wrapper div.callToAction{
  margin-right:10px;
  float:left;
}

div#rotatingMasthead li div.mh_content_wrapper div.mh_item_par > div.callToAction{
  margin-left: 16px;
  margin-top: 247px;
}
div#rotatingMasthead li div.mh_content_wrapper div.mh_item_par > div.text.parbase.section + div.callToAction + div.callToAction,
div#rotatingMasthead li div.mh_content_wrapper div.mh_item_par > div.text.parbase.section + div.playVideo + div.callToAction,
div#rotatingMasthead li div.mh_content_wrapper div.mh_item_par > div.text.parbase.section + div.callToAction{
  margin-left: 0;
  margin-top: 0;
}

.btnNonCTA {
    clear:none;
    margin: 0;
    width: auto;

}


div#rotatingMasthead #button-set{
	position: absolute;
}
div#rotatingMasthead #button-set div.paddle{
  display:block;
  float:left;
  height:18px;
  overflow:hidden;

}
#rotatingMasthead #button-set img{
  margin-top:0;
}
#rotatingMasthead #button-set img#paddle-right{
  margin-top:-36px;
}
#rotatingMasthead #button-set img#paddle-left{
  margin-top:0;
}
#rotatingMasthead #button-set ul{
  position:relative;
  display:inline;
}
#rotatingMasthead #button-set ul li{
	overflow:hidden;
}
#rotatingMasthead #button-set img{
	cursor:pointer;
	position:relative;

}


/* show all frames for debuging */
/*		div{
			overflow:visible !important;
		}
		#button-set div{
			overflow:hidden !important;
		}
*/

div.mh_container + div.title{
  margin:0 auto -10px;
  position:relative;
  width:980px;
}
div.mh_container + div.title > h2{
  padding:0;
}
body.mastheadtwocolumn div.mh_container + div.title,
body.menuboxpage div.mh_container + div.title{
  margin: 0 auto !important;
}
body.mastheadtwocolumn div.container div.title > h2,
body.menuboxpage div.container div.title > h2{
  line-height: 15px;
  *line-height: 20px;
  height: 28px;
  overflow: hidden;  
  /**margin-top: 3px;*/
}

body.mastheadtwocolumn div.container > div.flexMidContent,
body.menuboxpage div.container > div.flexMidContent{
  margin-top:38px;
}
body.ipad.mastheadtwocolumn div.container > div.flexMidContent,
body.ipad.menuboxpage div.container > div.flexMidContent{
  margin-top:0;
}
body.mastheadtwocolumn div.container > div.flexMidContent .parsys.upperpar,
body.menuboxpage div.container > div.flexMidContent .parsys.upperpar{
  width:980px;
  margin:0 auto;
}
body.mastheadtwocolumn div.container + div.clearfix + div.container + div.clearfix + div.container > div.flexMidContent,
body.menuboxpage div.container + div.clearfix + div.container + div.clearfix + div.container > div.flexMidContent{
  margin-top:0;
  margin-bottom: 10px;
}


body.mastheadtwocolumn  div.container,
body.menuboxpage  div.container{
  margin-bottom: 0px;
  /*margin-bottom:20px;
  *margin-bottom: 12px;*/
}
body.mastheadtwocolumn div.container + div.clearfix + div.container,
body.menuboxpage div.container + div.clearfix + div.container{
  width:980px;
  margin:0 auto 0;
}
body.mastheadtwocolumn div.container + div.clearfix + div.container + div.clearfix + div.container,
body.menuboxpage div.container + div.clearfix + div.container + div.clearfix + div.container{
  width:980px;
  margin:0 auto;
  clear: both;
}



body.mastheadtwocolumn div.container > div.flexLeftContent,
body.menuboxpage div.container > div.flexLeftContent{
  margin:0 !important;
  width:480px !important;
  padding: 0;
}
body.mastheadtwocolumn div.container > div.flexRightContent,
body.menuboxpage div.container > div.flexRightContent{
  width:480px !important;
  float:right;
  padding: 0;
}

body.mastheadtwocolumn div.container > div.flexLeftContent div.textimage.promoTileVideo,
body.mastheadtwocolumn div.container > div.flexRightContent div.textimage.promoTileVideo,
body.menuboxpage div.container > div.flexLeftContent div.textimage.promoTileVideo,
body.menuboxpage div.container > div.flexRightContent div.textimage.promoTileVideo{
  clear:both;
}
body.mastheadtwocolumn div.container > div.flexLeftContent div.textimage.promoTileVideo div#videoPromoTileMedium > a,
body.mastheadtwocolumn div.container > div.flexRightContent div.textimage.promoTileVideo div#videoPromoTileMedium > a,
body.menuboxpage div.container > div.flexLeftContent div.textimage.promoTileVideo div#videoPromoTileMedium > a,
body.menuboxpage div.container > div.flexRightContent div.textimage.promoTileVideo div#videoPromoTileMedium > a{
  display:block;
  text-align:center;
}


body.mastheadtwocolumn  div.container > div.flexLeftContent > div.par.parsys,
body.menuboxpage  div.container > div.flexLeftContent > div.par.parsys{
  padding-bottom:0 !important;
}

div.menu_box{  
  clear:both;
  margin-bottom:20px;
  *margin-bottom: 20px;  
  /*margin-bottom:18px;*//*Error q lanzo*/
  vertical-align: top;

  position: relative;
}
div.menu_box 
.singleWideContainer{
  /*background: green;*/
  overflow: hidden;
}
html.ie9 div.menu_box,
html.ie8 div.menu_box{
  margin-bottom:20px;
}
html.ie9 #page_five_wireframes_masthead div.menu_box,
html.ie8 #page_five_wireframes_masthead div.menu_box{
  margin-bottom:20px;
}

html.ie7 div.par_singlewidecontainer{
  margin-bottom:20px;
  float:left;
}
/*html.ie7 div.singleWideContainer div.menu_box{  
  margin-bottom:0px !important;  
}*/


html.ie9 div.singleWideContainer div.menu_box,
html.ie8 div.singleWideContainer div.menu_box{
  margin-bottom:20px !important;
}

div.menu_box h1{
  font-size:12px;
  background:url(../images/menubox_header_bg.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/menubox_header_bg.png*/ no-repeat;
  padding:8px 0 8px 8px;
  margin:7px 0 3px;
}
div.menu_box h1 + p,
div.menu_box h1 + div{
  font-size:11px;
  margin:0 0 0 9px;
}
div.menu_box div.arrow_links_text_wrapper ul li{
	background: url(../images/bullet_arrow.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/bullet_arrow.png*/ 0 7px no-repeat;
	padding-left:15px;
}
div.menu_box div.arrow_links_text_wrapper ul li a{
	color:#fff;
	text-decoration: none;
	font-weight: normal;
}
body.mastheadtwocolumn div.layoutHorizontal div.callToAction{
	float:left;
	margin:0 10px 0 0;/*0 10px 5px 0*/
}


body.mastheadtwocolumn div.cta_wrapper.layoutVertical,
body.menuboxpage div.cta_wrapper.layoutVertical{
	margin:0 !important;
	float:left;
}
body.mastheadtwocolumn div.cta_wrapper.layoutVertical > div.callToAction1,
body.menuboxpage div.cta_wrapper.layoutVertical > div.callToAction1{
	margin-bottom:0;
}
body.mastheadtwocolumn div.cta_wrapper.layoutVertical > div.callToAction2,
body.menuboxpage div.cta_wrapper.layoutVertical > div.callToAction2{
	clear:left;
}
body.mastheadtwocolumn div.menu_box div.cta_wrapper,
body.menuboxpage div.menu_box div.cta_wrapper{
	overflow: hidden;

  bottom: -4px;/*-5*/
  /**bottom: 4px;*/
  position: absolute;
  /*last lines no habia*/
}

/*body.mastheadtwocolumn div.menu_box .doubleWide div.cta_wrapper,
body.menuboxpage div.menu_box .doubleWide div.cta_wrapper{
  bottom: -13px;
}*/

.ie8 body.mastheadtwocolumn div.menu_box div.cta_wrapper,
.ie8 body.menuboxpage div.menu_box div.cta_wrapper{
  bottom: -1px;
}
.ie9 body.mastheadtwocolumn div.menu_box div.cta_wrapper,
.ie9 body.menuboxpage div.menu_box div.cta_wrapper{
  bottom: -2px;
}
.ie7 body.mastheadtwocolumn div.menu_box div.cta_wrapper,
.ie7 body.menuboxpage div.menu_box div.cta_wrapper{
  bottom: 4px;
}

div.cta_wrapper.layoutHorizontal {
	margin-left: 9px;
}
div.menu_box img + h1 + p + div.cta_wrapper{
	margin: 0;
	/*position: relative !important;*//*Abrahan <-*/
}

div.singleWideContainer > div{
  width:230px;
  display: inline-block;  
}
html.ie7 div.singleWideContainer div.singleWide1{
  display: block;
  float:left;
  /*margin-bottom: 20px;*/
  clear: both;
}

html.ie7 div.singleWideContainer div.singleWide2 {
	clear: none;
}
/*html.ie7 div.singleWideContainer div.singleWide1,
html.ie7 div.singleWideContainer div.singleWide2{
  margin-bottom: 20px !important;
  background: green;
}*/
div.midMid.singleWide,
div.midMid.doubleWide{
  height:148px;
  padding: 0 2px;  
}
div.midMid.doubleWide .img_wrapper{
	float:left;
	height:100%;
	margin-right:10px;
}
div.midMid.doubleWide .img_wrapper img{
	margin-top:9px;
}
div.midMid.doubleWide .text_wrapper{
	min-height:103px;
}
div.midMid.doubleWide div.cta_wrapper{
	position:relative!important;
	top:auto;
	bottom:auto!important;
}

div.menu_box div.midMid.authorMode{
  height:auto;
  padding: 0 2px;
}

div.singleWideContainer div.singleWide2{
  float:right;
}
div.doubleWide{
	padding:4px 0 0 4px;
}
div.doubleWide > img{
  float:left;
  margin:9px 16px 0 0;
}



body.mastheadtwocolumn div.subsection_image_link_container,
body.menuboxpage div.subsection_image_link_container,
body.contentpagetwocolumn div.subsection_image_link_container{
	margin-bottom: 20px;/*before 20*/
  margin-top: 0px;
  *margin-top: 0px;
	/*margin-top: 10px;*/  
  clear: both;
}

body.mastheadtwocolumn div.subsection_image_link_container ul{
  /*background: red;*/
  overflow: hidden;
}


body.mastheadtwocolumn .upperpar div.subsection_image_link_container,
body.menuboxpage .upperpar div.subsection_image_link_container{
  margin-top: 15px !important;
  *margin-top: 0px;
  margin-bottom: 17px;
  /**margin-bottom: 0px;  */
  *display: block;
  *overflow: hidden;
}
html.ie7 body.contentpagetwocolumn div.subsection_image_link_container{
  *margin-top: 0px !important;
  clear: both;
}

html.gecko body.mastheadtwocolumn div.subsection_image_link_container,
html.gecko body.menuboxpage div.subsection_image_link_container{
	/*margin-top: -42px;*/
}
body.mastheadtwocolumn div.subsection_image_link_container div.subsection_image_link a,
body.menuboxpage div.subsection_image_link_container div.subsection_image_link a{
	position: absolute;
	z-index:10;
}
body.mastheadtwocolumn  div.subsection_image_link_container div.subsection_image_link a + a,
body.menuboxpage  div.subsection_image_link_container div.subsection_image_link a + a{
	position: relative;
	z-index:1;
}

div.brandLogoLockUp_container{
  margin-bottom:45px;
}
html.gecko div.brandLogoLockUp_container{
   /* margin-bottom:10px;*/
  /*margin-top:-42px; */

    overflow: hidden;
    clear: both;
    display: block;
    
}

body.mastheadtwocolumn div.follow_social,
body.menuboxpage div.follow_social{
  display:inline-block;
  margin:4px 5px 2px 0;  
  float: right;
}

html.ie7 body.mastheadtwocolumn div.follow_social,
html.ie7 body.menuboxpage div.follow_social{ 
  /*margin-bottom: 40px;*/
  /*float: right;*/  
  /*vertical-align: top; */
  zoom: 1; 
  vertical-align: top;
  display: inline;
  height: 20px;   
}

html.ie7 body.mastheadtwocolumn div.brandLogoLockUp_container,
html.ie8 body.mastheadtwocolumn div.brandLogoLockUp_container,
html.ie7 body.menuboxpage div.brandLogoLockUp_container,
html.ie8 body.menuboxpage div.brandLogoLockUp_container{
	margin-bottom:20px;
}

html.ie7 body.mastheadtwocolumn div.brandpage_social,
html.ie8 body.mastheadtwocolumn div.brandpage_social,
html.ie7 body.mastheadtwocolumn div.follow_social,
html.ie8 body.mastheadtwocolumn div.follow_social,
html.ie7 body.mastheadtwocolumn div.follow_social h3,
html.ie8 body.mastheadtwocolumn div.follow_social h3,
html.ie7 body.menuboxpage div.brandpage_social,
html.ie8 body.menuboxpage div.brandpage_social,
html.ie7 body.menuboxpage div.follow_social,
html.ie8 body.menuboxpage div.follow_social,
html.ie7 body.menuboxpage div.follow_social h3,
html.ie8 body.menuboxpage div.follow_social h3{
	margin-top:0;
}

/*html.ie7 body.mastheadtwocolumn div.brandpage_social,
html.ie8 body.mastheadtwocolumn div.brandpage_social,
html.ie7 body.mastheadtwocolumn div.follow_social,
html.ie7 body.menuboxpage div.brandpage_social,
html.ie8 body.menuboxpage div.brandpage_social,
html.ie7 body.menuboxpage div.follow_social{*/
	/*margin-bottom:-10px;*/
  /*margin-bottom: 20px;*/
/*}*/




html.ie8 body.mastheadtwocolumn div.follow_social,
html.ie8 body.menuboxpage div.follow_social,
html.ie9 body.menuboxpage div.follow_social{
	/*margin-bottom:20px;*/
}

html.ie7 body.mastheadtwocolumn div.follow_social h3,
html.ie8 body.mastheadtwocolumn div.follow_social h3,
html.ie7 body.menuboxpage div.follow_social h3,
html.ie8 body.menuboxpage div.follow_social h3{
	line-height:1em;
}


body.mastheadtwocolumn div.follow_social h3,
body.menuboxpage div.follow_social h3{
	margin-bottom: 0;
  margin-top: 0;
}
body.mastheadtwocolumn  .brandLogoLockUp_container,
body.menuboxpage .brandLogoLockUp_container{
  margin-bottom: 10px !important;
}
body.mastheadtwocolumn .lowerpar,body.menuboxpage .lowerpar{    

    text-align: right;
    clear: both;
    width: 980px;
    
    overflow: hidden;    
}

body.mastheadtwocolumn div.brandpage_social,
body.menuboxpage div.brandpage_social{
    /*Edit Abrahan*/    
    float: right;
    height: 20px;
    margin: 6px 4px 2px 0;
    text-align: left;
    width: 20px;
}
html.ie7 body.mastheadtwocolumn div.brandpage_social,
html.ie7 body.menuboxpage div.brandpage_social{
    float: right;/*float:none*/
    /*vertical-align: top;*/
    zoom:1;
    *display: inline !important; 
}
/* provisional */
div#rotatingMasthead{
  overflow:hidden;
  position:relative;
  margin:0 auto;
  width:980px;
  height:387px;
}


body.ipad div.mh_container{
  width:980px;
  height:387px;
  position:relative;
}
body.ipad div.mh_container.midRow{
  position:relative;
}

div.mh_container{
        width   :   982px;
}


li.mh_item{
  width   :   980px;
  height    :   387px;
}


div#button-set{
  margin-top: 351px;
  height: 18px;
  left:50%;
}


div#button-set div{
position    :   relative;
}
div#button-set ul{
 height      :   18px;
  position    :   relative;
}
div#button-set ul li{
 height      :   18px;
  position    :   relative;
  width:20px;
}

div#button-set ul li img.live{
  margin-top:-18px !important;
}
.menuBarFill {position: relative;}

div.mhCtaVertical div.callToAction + div.callToAction,
div.mhCtaVertical div.callToAction + div.playVideo,
div.mhCtaVertical div.playVideo + div.playVideo,
div.mhCtaVertical div.playVideo + div.callToAction{
	clear:left;
}

/*Edit Abrahan*/
#page_8_masthead .singleWide .layoutVertical{bottom: 5px;}
html.ie7 #page_8_masthead .singleWide .layoutVertical{bottom: 0px;}
#page_8_masthead .doubleWide .layoutHorizontal{bottom:-5px;}
html.ie7 #page_8_masthead .doubleWide .layoutHorizontal{bottom:0px;}

#diversity div.cta_wrapper.layoutVertical > div.callToAction2{
  clear: none;
  float: left;
  margin-bottom: 5px;
}

#gm_foundation .flexRightContent .rightpar .menu_box .callToAction1 .button{
  margin-bottom:4px !important;
}


body.mastheadtwocolumn  div.flexLeftContent div.text .text,
body.menuboxpage div.flexLeftContent div.text .text{
  margin-bottom: 14px;  
}
body.mastheadtwocolumn  div.flexLeftContent div.text .text p:first-child{
  margin-top: 0
}
body.mastheadtwocolumn  div.flexLeftContent div.text .text p:first-child+html
{
  *margin-top: 0;  
}

.flex_promo_tile{
  /*height:160px;*/
  margin-bottom:20px;/*21*/  
  /*padding-top:1px;  */
}
.ipad .flex_promo_tile{ margin-bottom: 24px;}

#our_company .flex_promo_tile,
#supporting_our_troops .flex_promo_tile,
#auto-show-calendar .flex_promo_tile{
  margin-bottom: 25px;
}
.flex_promo_tile h3,.flex_promo_tile br{display: none;}
/*.ie .flex_promo_tile{margin-bottom:20px;}
.ie8 .flex_promo_tile{margin-bottom:20px;}*/
.flex_promo_tile a{
  clear: both;
  display: block;
  max-height: 160px !important;
  overflow: hidden;
  padding: 1px 0;
}
.ie7 .flex_promo_tile{margin-bottom: 23px;}
