@charset "UTF-8";

/*
* Symbolset
* www.symbolset.com
* Copyright Â© 2013 Oak Studios LLC
*
* Upload this file to your web server
* and place this within your <head> tags.
* <link href="webfonts/ss-social-circle.css" rel="stylesheet" />
*/

@font-face {
  font-family: "SSSocialCircle";
  src: url('ss-social-circle.eot')/*tpa=http://www.newmont.com/files/fonts/ss-social-circle.eot*/;
  src: url('ss-social-circle.eot-#iefix')/*tpa=http://www.newmont.com/files/fonts/ss-social-circle.eot?#iefix*/ format('embedded-opentype'),
       url('ss-social-circle.woff')/*tpa=http://www.newmont.com/files/fonts/ss-social-circle.woff*/ format('woff'),
       url('ss-social-circle.ttf')/*tpa=http://www.newmont.com/files/fonts/ss-social-circle.ttf*/  format('truetype'),
       url('ss-social-circle.svg#SSSocialCircle')/*tpa=http://www.newmont.com/files/fonts/ss-social-circle.svg#SSSocialCircle*/ format('svg');
  font-weight: normal;
  font-style: normal;
}

/* This triggers a redraw in IE to Fix IE8's :before content rendering. */
html:hover [class^="ss-"]{-ms-zoom: 1;}

.ss-icon, .ss-icon.ss-social-circle,
[class^="ss-"]:before, [class*=" ss-"]:before,
[class^="ss-"].ss-social-circle:before, [class*=" ss-"].ss-social-circle:before,
[class^="ss-"].right:after, [class*=" ss-"].right:after,
[class^="ss-"].ss-social-circle.right:after, [class*=" ss-"].ss-social-circle.right:after {
  font-family: "SSSocialCircle";
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  /*-webkit-font-feature-settings: "liga"; Currently broken in Chrome >= v22. Falls back to text-rendering. Safari is unaffected. */
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

[class^="ss-"].right:before,
[class*=" ss-"].right:before{display:none;content:'';}

.ss-facebook:before,.ss-facebook.right:after{content:'ï˜'}.ss-twitter:before,.ss-twitter.right:after{content:'ï˜‘'}.ss-linkedin:before,.ss-linkedin.right:after{content:'ï˜’'}.ss-googleplus:before,.ss-googleplus.right:after{content:'ï˜“'}.ss-appdotnet:before,.ss-appdotnet.right:after{content:'ï˜”'}.ss-zerply:before,.ss-zerply.right:after{content:'ï˜•'}.ss-reddit:before,.ss-reddit.right:after{content:'ï˜–'}.ss-steam:before,.ss-steam.right:after{content:'ï˜—'}.ss-tumblr:before,.ss-tumblr.right:after{content:'ï˜ '}.ss-wordpress:before,.ss-wordpress.right:after{content:'ï˜¡'}.ss-blogger:before,.ss-blogger.right:after{content:'ï˜¢'}.ss-posterous:before,.ss-posterous.right:after{content:'ï˜£'}.ss-quora:before,.ss-quora.right:after{content:'ï˜¤'}.ss-youtube:before,.ss-youtube.right:after{content:'ï˜°'}.ss-vimeo:before,.ss-vimeo.right:after{content:'ï˜±'}.ss-vine:before,.ss-vine.right:after{content:'ï˜³'}.ss-letterboxd:before,.ss-letterboxd.right:after{content:'ï˜²'}.ss-flickr:before,.ss-flickr.right:after{content:'ï™€'}.ss-instagram:before,.ss-instagram.right:after{content:'ï™'}.ss-500px:before,.ss-500px.right:after{content:'ï™‚'}.ss-etsy:before,.ss-etsy.right:after{content:'ïš‚'}.ss-pinterest:before,.ss-pinterest.right:after{content:'ï™'}.ss-svpply:before,.ss-svpply.right:after{content:'ï™‘'}.ss-readmill:before,.ss-readmill.right:after{content:'ï™’'}.ss-dropbox:before,.ss-dropbox.right:after{content:'ï™“'}.ss-pinboard:before,.ss-pinboard.right:after{content:'ï™”'}.ss-delicious:before,.ss-delicious.right:after{content:'ï™•'}.ss-dribbble:before,.ss-dribbble.right:after{content:'ï™ '}.ss-behance:before,.ss-behance.right:after{content:'ï™¡'}.ss-github:before,.ss-github.right:after{content:'ï™°'}.ss-octocat:before,.ss-octocat.right:after{content:'ï™±'}.ss-stackoverflow:before,.ss-stackoverflow.right:after{content:'ï™²'}.ss-paypal:before,.ss-paypal.right:after{content:'ïš€'}.ss-kickstarter:before,.ss-kickstarter.right:after{content:'ïš'}.ss-foursquare:before,.ss-foursquare.right:after{content:'ïš'}.ss-yelp:before,.ss-yelp.right:after{content:'ïš‘'}.ss-skype:before,.ss-skype.right:after{content:'ïš '}.ss-rdio:before,.ss-rdio.right:after{content:'ïš°'}.ss-spotify:before,.ss-spotify.right:after{content:'ïš±'}.ss-lastfm:before,.ss-lastfm.right:after{content:'ïš²'}.ss-soundcloud:before,.ss-soundcloud.right:after{content:'ïš³'}.ss-link:before,.ss-link.right:after{content:'ðŸ”—'}.ss-phone:before,.ss-phone.right:after{content:'ðŸ“ž'}.ss-mail:before,.ss-mail.right:after{content:'âœ‰'}.ss-like:before,.ss-like.right:after{content:'ðŸ‘'}.ss-rss:before,.ss-rss.right:after{content:'îŒ'}.ss-share:before,.ss-share.right:after{content:'ï˜'}.ss-apple:before,.ss-apple.right:after{content:'ï£¿'}.ss-microsoft:before,.ss-microsoft.right:after{content:'ï›±'}.ss-windows:before,.ss-windows.right:after{content:'ï›²'}.ss-android:before,.ss-android.right:after{content:'ï›³'}.ss-blackberry:before,.ss-blackberry.right:after{content:'ï›´'}

/* Legacy */
.ss-fivehundredpx:before,.ss-fivehundredpx.right:after{content:'ï™‚'}