
.topnav {
margin:0;
padding:0;
background: url("../images/nav_bg.jpg")/*tpa=http://www.energytransfer.com/images/nav_bg.jpg*/ repeat-x;
border: 1px solid #D0DADF;
width: 880px;
height:35px;
}

.topnav li.top {
border:0;
width:175px;
/*width:145px; rew 2/14*/
floaT:left;
}

#navContainer li,
#navContainer li ul {
padding:0;
margin:0;
list-style:none;
font-family: Arial,Helvetica,sans-serif;
}

#navContainer li ul {
display: none;
}

#navContainer ul li ul {
width:220px;
border:1px solid #efefef;
}

#navContainer ul ul li {
border-bottom:1px solid #D0DADF;
}

#navContainer ul li a {
display:block;
padding:10px;
color:#000;
font-weight:bold;
text-decoration:none;
font-size:12px;
}

#navContainer .top > a {
    text-align: center;
}


#navContainer ul li.top > a{
padding-left:30px;
/*padding-left:20px; rew 2/14/2014*/
}

#navContainer ul li a:hover {
color:#999;
}
#navContainer ul li:hover > ul {
display: block;
position: absolute;
}

#navContainer ul ul
{
border-top:1px solid #D0DADF;	
background-color:#fff;
}

#navContainer ul li.sub1 > a,
#navContainer ul li.sub2 > a,
#navContainer ul li.sub3 > a,
#navContainer ul li.sub4 > a {
background:url('../images/arrow.gif')/*tpa=http://www.energytransfer.com/images/arrow.gif*/ no-repeat 98% 50%;
}

#navContainer ul li.sub1:hover > ul,
#navContainer ul li.sub2:hover > ul {
display: block;
position: absolute;
left:220px;
top:inherit;
margin-top:-35px;
margin-left:-1px;
/*border: 1px solid RED;*/
}

#navContainer ul li.sub3:hover > ul,
#navContainer ul li.sub4:hover > ul {
display: block;
position: absolute;
left:30px;
top:inherit;
margin-top:-35px;
margin-left:-1px;
}

#navContainer ul li.sub1.gov:hover > ul {
margin-top:-145px;
}

.clear {clear:both;}

