

button.button,
div.greenHead,
.roundedHead,
#lnav_section,
div.grayHead.grayULine {
	position: relative;
	
}

/*update for checkout trail in IE8*/
/* IE 8 */
@media \0screen {
	#header_checkout_steps .button.button {border-radius: 10px;}
}
/************************************
+COMMON IMAGES FOR ALL SITES
************************************/

body #outer_wrap_bg,
body#cart #outer_wrap_bg,
body#receipt.checkout #outer_wrap_bg {
	background: url(../assets/images/dt/body_back.png)/*tpa=http://www.dollartree.com/assets/images/dt/body_back.png*/ top center repeat-x;
}

#header_wrap {background: url(../assets/images/dt/body_back.png)/*tpa=http://www.dollartree.com/assets/images/dt/body_back.png*/ top center repeat-x;}
body.checkout #outer_wrap_bg, body.callCenter #outer_wrap_bg {background: url(../assets/images/dt/body_back_nonav.png)/*tpa=http://www.dollartree.com/assets/images/dt/body_back_nonav.png*/ top center repeat-x;}
div#universalTabWrapper ul#universalTabs li {background:url(../assets/images/common/top_shadow.png)/*tpa=http://www.dollartree.com/assets/images/common/top_shadow.png*/ top center repeat-x;}
div.universalSubWrapperRight {background: #FFF url(../assets/images/common/checkout_bar.png)/*tpa=http://www.dollartree.com/assets/images/common/checkout_bar.png*/ bottom center repeat-x;}
div#breadcrumb li {background:url(../assets/images/icon/icon_slash_gray.gif)/*tpa=http://www.dollartree.com/assets/images/icon/icon_slash_gray.gif*/ right center no-repeat;}
ul#pagination li.prevPage {background-image:url(../assets/images/body/c0c0c0.gif)/*tpa=http://www.dollartree.com/assets/images/body/c0c0c0.gif*/;}
ul#pagination li.nextPage {background-image:url(../assets/images/body/c0c0c0.gif)/*tpa=http://www.dollartree.com/assets/images/body/c0c0c0.gif*/;}
div#footer_wrap {background:url(../assets/images/body/background_footer.gif)/*tpa=http://www.dollartree.com/assets/images/body/background_footer.gif*/ top left no-repeat;}
#header_top  #links_row2 #shopping_cart {background:url(../assets/images/icon/icon_cart.gif)/*tpa=http://www.dollartree.com/assets/images/icon/icon_cart.gif*/ 9px 0 no-repeat;}
#checkout_header_top  #links_row2 #shopping_cart {background:url(../assets/images/icon/icon_cart.gif)/*tpa=http://www.dollartree.com/assets/images/icon/icon_cart.gif*/ 9px 0 no-repeat;}
div#header_mid td {background:url(../assets/images/dt/nav_back.png)/*tpa=http://www.dollartree.com/assets/images/dt/nav_back.png*/ top left repeat-x;}
div#header_mid td.on {background:url(../assets/images/body/background_tnav-on.gif)/*tpa=http://www.dollartree.com/assets/images/body/background_tnav-on.gif*/ top left repeat-x;}
div#header_bot {background:url(../assets/images/body/background_headbot.gif)/*tpa=http://www.dollartree.com/assets/images/body/background_headbot.gif*/ top left no-repeat;}
ul#left_nav_data li.on ul li a {background:#eefaeb url(../assets/images/icon/icon_bullet_4d4d4f.gif)/*tpa=http://www.dollartree.com/assets/images/icon/icon_bullet_4d4d4f.gif*/ 0 9px no-repeat;}
a.minusLeft {background:url(../assets/images/icon/icon_minus.gif)/*tpa=http://www.dollartree.com/assets/images/icon/icon_minus.gif*/ left 1px no-repeat;}
a.qMark_l {background:url(../assets/images/dt/icon/icon_q_mark.gif)/*tpa=http://www.dollartree.com/assets/images/dt/icon/icon_q_mark.gif*/ top left no-repeat;}
a.print_l {background:url(../assets/images/icon/icon_print.gif)/*tpa=http://www.dollartree.com/assets/images/icon/icon_print.gif*/ top left no-repeat;}
a.qMark_l_head {background:url(../assets/images/dt/icon_q_mark_head.gif)/*tpa=http://www.dollartree.com/assets/images/dt/icon_q_mark_head.gif*/ top left no-repeat;}
a.greenArrow_l {background:url(../assets/images/dt/icon/icon_green_arrow_left.gif)/*tpa=http://www.dollartree.com/assets/images/dt/icon/icon_green_arrow_left.gif*/ left center no-repeat;}
a.greenArrow_r, .greenArrow_r {background:url(../assets/images/dt/icon/icon_green_arrow_right.gif)/*tpa=http://www.dollartree.com/assets/images/dt/icon/icon_green_arrow_right.gif*/ right center no-repeat;}
a.greenArrow_d {background:url(../assets/images/icon/icon_green_arrow_down.gif)/*tpa=http://www.dollartree.com/assets/images/icon/icon_green_arrow_down.gif*/ right 5px no-repeat;}
table.checkoutTable tr.itemRow {background: url(../assets/images/common/ucart_topShadow.png)/*tpa=http://www.dollartree.com/assets/images/common/ucart_topShadow.png*/ top left repeat-x;}

#glo-ucart-content div.greenHead,
#glo-ucart-content div.greenHead h3 {background: none;}

div.grayHead.dt h3 {background:url(../assets/images/dt/logo_tiny.png)/*tpa=http://www.dollartree.com/assets/images/dt/logo_tiny.png*/ center left no-repeat; padding-left: 30px;}
div.grayFill { background:#EBEEE7; }
div#billingPaymentHead h2 {background:none;}
div.hiliteBox {background-image:url(../assets/images/body/hilite_box_tl.gif)/*tpa=http://www.dollartree.com/assets/images/body/hilite_box_tl.gif*/;}
div.hiliteBox div.inner_bl {background-image:url(../assets/images/body/hilite_box_bl.gif)/*tpa=http://www.dollartree.com/assets/images/body/hilite_box_bl.gif*/;}
div.hiliteBox div.inner_tr {background-image:url(../assets/images/body/hilite_box_tr.gif)/*tpa=http://www.dollartree.com/assets/images/body/hilite_box_tr.gif*/;}
div.hiliteBox div.inner_br {background-image:url(../assets/images/body/hilite_box_br.gif)/*tpa=http://www.dollartree.com/assets/images/body/hilite_box_br.gif*/;}
div.hiliteBox div.content_wrap {background-image:url(../assets/images/body/c0c0c0.gif)/*tpa=http://www.dollartree.com/assets/images/body/c0c0c0.gif*/;}
div.hiliteBox div.inner {background-image:url(../assets/images/body/c0c0c0.gif)/*tpa=http://www.dollartree.com/assets/images/body/c0c0c0.gif*/;}
.thumbIcon span {background: url(../assets/images/icon/icon_star.gif)/*tpa=http://www.dollartree.com/assets/images/icon/icon_star.gif*/ 0 1px no-repeat;}
#checkout_head {background-image:url(../assets/images/checkout/checkout_head_bot.gif)/*tpa=http://www.dollartree.com/assets/images/checkout/checkout_head_bot.gif*/;}
body#shipMethod div.order_wrap {background:url(../assets/images/checkout/order_wrap_left_col.gif)/*tpa=http://www.dollartree.com/assets/images/checkout/order_wrap_left_col.gif*/ top left repeat-y;}
body#shipMethod div.order_wrap_inner {background:url(../assets/images/checkout/order_wrap_left_col_bot.gif)/*tpa=http://www.dollartree.com/assets/images/checkout/order_wrap_left_col_bot.gif*/ bottom left no-repeat;}
.rounded_promo {}
.rounded_promo .inner_top {background:url(../assets/images/cms/home/home_feature_top.gif)/*tpa=http://www.dollartree.com/assets/images/cms/home/home_feature_top.gif*/ top left no-repeat;}
.rounded_promo .inner_bot {background:url(../assets/images/cms/home/home_feature_bot.gif)/*tpa=http://www.dollartree.com/assets/images/cms/home/home_feature_bot.gif*/ bottom left no-repeat;}
.rounded_promo_alt {background:url(../assets/images/cms/home/home_feature_alt_bg.gif)/*tpa=http://www.dollartree.com/assets/images/cms/home/home_feature_alt_bg.gif*/ top left repeat-y;}
.rounded_promo_alt .inner_top {background:url(../assets/images/cms/home/home_feature_alt_top.gif)/*tpa=http://www.dollartree.com/assets/images/cms/home/home_feature_alt_top.gif*/ top left no-repeat;}
.rounded_promo_alt .inner_bot {background:url(../assets/images/cms/home/home_feature_alt_bot.gif)/*tpa=http://www.dollartree.com/assets/images/cms/home/home_feature_alt_bot.gif*/ bottom left no-repeat;}
body.prod-ens #content_top {background:url(../assets/images/body/product_detail_bg.gif)/*tpa=http://www.dollartree.com/assets/images/body/product_detail_bg.gif*/ top left repeat-y;}
body.prod-ens #content_mid {background:#eef0eb url(../assets/images/body/c4c4c4.gif)/*tpa=http://www.dollartree.com/assets/images/body/c4c4c4.gif*/ top left repeat-y; /*left border*/}
body.prod-ens #content_mid div.inner {background:url(../assets/images/body/c4c4c4.gif)/*tpa=http://www.dollartree.com/assets/images/body/c4c4c4.gif*/ top right repeat-y; /*right border*/}
.prod-ens div.pricing_group ul li {background: url(../assets/images/icon/icon_star.gif)/*tpa=http://www.dollartree.com/assets/images/icon/icon_star.gif*/ 0 3px no-repeat;}

body.prod-ens #buyItem{
   
    width: 385px;
    margin-bottom: 10px;
}
body.prod-ens #buyItemWrap{}

#widget-quickview #buyItem
{
   
    width: 280px;
    margin-bottom: 10px;
}

#widget-quickview #buyItemWrap{}
body#product .add_info_body {background:#fff url(../assets/images/body/c4c4c4.gif)/*tpa=http://www.dollartree.com/assets/images/body/c4c4c4.gif*/ top left repeat-y; /*left border*/}
body#product .add_info_body div.inner {background:url(../assets/images/body/c4c4c4.gif)/*tpa=http://www.dollartree.com/assets/images/body/c4c4c4.gif*/ top right repeat-y; /*right border*/}
.prod-ens ul.messages li{list-style-image: url(../assets/images/icon/icon_star.gif)/*tpa=http://www.dollartree.com/assets/images/icon/icon_star.gif*/;}
body#ensemble div#combo_products_wrap table {background:url(../assets/images/body/c0c0c0.gif)/*tpa=http://www.dollartree.com/assets/images/body/c0c0c0.gif*/ top left repeat-y; /*left border*/}
body#ensemble div#combo_products_wrap table td {background:url(../assets/images/body/c0c0c0.gif)/*tpa=http://www.dollartree.com/assets/images/body/c0c0c0.gif*/ top right repeat-y; /*right border*/}
table.relatedGroup {background:url(../assets/images/body/c0c0c0.gif)/*tpa=http://www.dollartree.com/assets/images/body/c0c0c0.gif*/ top left repeat-y; /*left border*/}
table.relatedGroup tr.itemRow td {background:url(../assets/images/body/c0c0c0.gif)/*tpa=http://www.dollartree.com/assets/images/body/c0c0c0.gif*/ top right repeat-y; /*right border*/}
#cat-quickview-top {background: url(../images/uc_qv/bac-quickview-top.png)/*tpa=http://www.dollartree.com/images/uc_qv/bac-quickview-top.png*/ no-repeat;}
#cat-quickview-body {background: url(../images/uc_qv/bac-quickview-body.png)/*tpa=http://www.dollartree.com/images/uc_qv/bac-quickview-body.png*/ repeat-y;}
#cat-quickview-bottom {background: url(../images/uc_qv/bac-quickview-bottom.png)/*tpa=http://www.dollartree.com/images/uc_qv/bac-quickview-bottom.png*/ no-repeat;}
#cat-quickview-content {background:#fff url(../assets/images/body/c0c0c0.gif)/*tpa=http://www.dollartree.com/assets/images/body/c0c0c0.gif*/ 275px 0px repeat-y; /* will draw a line down the center */}
#cat-quickview-product-information #cat-quickview-description li 	{background: url(../assets/images/uc_qv/bac-cat-quickview-bullet.gif)/*tpa=http://www.dollartree.com/assets/images/uc_qv/bac-cat-quickview-bullet.gif*/ no-repeat 0px 3px;}
#glo-ucart-top {background: url(../assets/images/uc_qv/bac-ucart-top.png)/*tpa=http://www.dollartree.com/assets/images/uc_qv/bac-ucart-top.png*/ no-repeat 0px 0px;}
#glo-ucart-bottom {background: url(../assets/images/uc_qv/bac-ucart-bottom.png)/*tpa=http://www.dollartree.com/assets/images/uc_qv/bac-ucart-bottom.png*/ no-repeat 0px 0px;}
#glo-ucart-body {background: url(../assets/images/uc_qv/bac-ucart-body-ms.png)/*tpa=http://www.dollartree.com/assets/images/uc_qv/bac-ucart-body-ms.png*/ top left repeat-y;}
body#siteMap div.catWrap li a {background:url(../assets/images/icon/icon_bullet_green.gif)/*tpa=http://www.dollartree.com/assets/images/icon/icon_bullet_green.gif*/ 0 5px no-repeat;}
div.cmsCurve {background:url(../assets/images/cms/common/top_curve.gif)/*tpa=http://www.dollartree.com/assets/images/cms/common/top_curve.gif*/ top left no-repeat;}
div.iconBox {background:url(../assets/images/cms/common/icon_box_bg.gif)/*tpa=http://www.dollartree.com/assets/images/cms/common/icon_box_bg.gif*/ top left no-repeat;}
div.blueGradBox {background:url(../assets/images/cms/common/blue_grad_188-tile.gif)/*tpa=http://www.dollartree.com/assets/images/cms/common/blue_grad_188-tile.gif*/ top left repeat-y;}
div.blueGradBox div.inner {background:url(../assets/images/cms/common/blue_grad_188-top.gif)/*tpa=http://www.dollartree.com/assets/images/cms/common/blue_grad_188-top.gif*/ top left no-repeat;}
div.cmsCurveSM {background:url(../assets/images/cms/common/top_curve_sm.gif.jpg)/*tpa=http://www.dollartree.com/assets/images/cms/common/top_curve_sm.gif*/ top left no-repeat;}
div.jobDescBox div.inner {background:url(../assets/images/cms/careers/job_description_box-bac.gif)/*tpa=http://www.dollartree.com/assets/images/cms/careers/job_description_box-bac.gif*/ repeat-y;}

ul.christmasMessage li.daysLeft {
    background:transparent url(../assets/images/header_nav/bkgd_christmasticker.gif)/*tpa=http://www.dollartree.com/assets/images/header_nav/bkgd_christmasticker.gif*/ no-repeat scroll 0 0;
    height:30px;
    width:30px;
    text-align: center;
}

#BVEnsembleNoReviewsImageLink {
    float: left;
    background: url(../assets/images/ratings/bg_BVCustomerRatingsTop.gif)/*tpa=http://www.dollartree.com/assets/images/ratings/bg_BVCustomerRatingsTop.gif*/ no-repeat scroll left top transparent;
    height: 25px;
    padding: 8px 9px 0;
    width: 227px;
}

#BVEnsembleLinkWriteFirst {
    float: none;
    margin: 0;
    background: url(../assets/images/ratings/bg_BVCustomerRatingsBottom.gif)/*tpa=http://www.dollartree.com/assets/images/ratings/bg_BVCustomerRatingsBottom.gif*/ no-repeat scroll left bottom #EBEEE7;
    padding: 0 9px 9px;
}

div.BVEnsembleRatingLinks {
    background: url(../assets/images/ratings/bg_BVCustomerRatingsBottom.gif)/*tpa=http://www.dollartree.com/assets/images/ratings/bg_BVCustomerRatingsBottom.gif*/ no-repeat scroll left bottom #EBEEE7;
    padding: 0 9px 9px;
    clear: both;
}

div.BVEnsembleOverallRating {
    background: url(../assets/images/ratings/bg_BVCustomerRatingsTop.gif)/*tpa=http://www.dollartree.com/assets/images/ratings/bg_BVCustomerRatingsTop.gif*/ no-repeat scroll left top transparent;
    float: left;
    height: 25px;
    padding: 5px 9px 0;
    width: 227px;
}
body#puDelivery table#shippingTable2.checkoutTable .col1.actionCallout {
	border: 1px solid #CCC;
	border-top: 0;
	border-right: 0;
}

#glo-ucart-content .top_inner {background: #FFF url(../assets/images/common/ucart_top_grad.gif)/*tpa=http://www.dollartree.com/assets/images/common/ucart_top_grad.gif*/ repeat-x bottom;}
#glo-ucart-content .bot_inner #glo-ucart-totals {background: #FFF url(../assets/images/common/ucart_bottom_grad.gif)/*tpa=http://www.dollartree.com/assets/images/common/ucart_bottom_grad.gif*/ repeat-x bottom;}

table.checkoutTable tbody td.colFirst,
table.checkoutTable tbody td.col1and2,
table.checkoutTable tbody td.col1,
table.checkoutTable tbody td.col2,
table.checkoutTable tbody td.col3,
table.checkoutTable tbody td.col4,
table.checkoutTable tbody td.col5,
table.checkoutTable tbody td.colLast {
	background: url(../assets/images/dt/checkout_table_cell.gif)/*tpa=http://www.dollartree.com/assets/images/dt/checkout_table_cell.gif*/ repeat-x top;
}
body#receipt  tbody td, body#orderHistory  tbody td { background-image: none; }

button.large.step {
	background: #e5e8df url(../assets/images/common/step_curve.png)/*tpa=http://www.dollartree.com/assets/images/common/step_curve.png*/ no-repeat;
	background-image : none\9; /* IE8 and below */
}

button.large.step.active {
	color: #FFFFFF;
	background: #52A368 url(../assets/images/common/step_curve.png)/*tpa=http://www.dollartree.com/assets/images/common/step_curve.png*/ no-repeat;
	background-image : none\9; /* IE8 and below */
}

button.large.step.first {background-image: none;}
button.large.step.active {background-color: #5eba35;}
.printIcon {background: url(../assets/images/common/print_icon.jpg)/*tpa=http://www.dollartree.com/assets/images/common/print_icon.jpg*/ no-repeat;}


.checkeredBackground {
    background: url(../assets/images/common/bg_xy-rep_stripes.png)/*tpa=http://www.dollartree.com/assets/images/common/bg_xy-rep_stripes.png*/;
    width: 960px;
    margin-left: 0px;
    }

.iconPrint {background: url(Unknown_83_filename)/*tpa=http://www.dollartree.com/assets/images/common/icon_print.png*/;}
.iconArrowRT {background: url(Unknown_83_filename)/*tpa=http://www.dollartree.com/assets/images/common/icon_arrow_rt.png*/;}
.iconArrowLT {background: url(Unknown_83_filename)/*tpa=http://www.dollartree.com/assets/images/common/icon_arrow_lt.png*/;}

#menu li.shopByBusiness  {background-color: #0f86bd !important;}
#menu li.shopByBusiness a.tnavLink:hover {background-color: #13a7ed !important;}

#menu li.shopByBusiness a span          {background-color: transparent !important;}
#menu li.shopByBusiness a:visited span  {background-color: transparent !important;}
#menu li.shopByBusiness a:hover span    {background-color: transparent !important;}
#menu li.shopByBusiness a:active span   {background-color: transparent !important;}


/*
    Colorbox Core images
*/
#cboxOverlay{background-color: black; opacity:0.4; filter:alpha(opacity=40); /* For IE8 and earlier */ }


#cboxLoadingOverlay{background:url(../assets/images/common/loading_background.png)/*tpa=http://www.dollartree.com/assets/images/common/loading_background.png*/ no-repeat center center;}
#cboxLoadingGraphic{background:url(../assets/images/common/loading.gif)/*tpa=http://www.dollartree.com/assets/images/common/loading.gif*/ no-repeat center center;}
#cboxPrevious{position:absolute; bottom:0; left:0; background:url(../assets/images/common/controls.png)/*tpa=http://www.dollartree.com/assets/images/common/controls.png*/ no-repeat -75px 0; width:25px; height:25px; text-indent:-9999px;}
#cboxNext{position:absolute; bottom:0; left:27px; background:url(../assets/images/common/controls.png)/*tpa=http://www.dollartree.com/assets/images/common/controls.png*/ no-repeat -50px 0; width:25px; height:25px; text-indent:-9999px;}
#cboxClose{position:absolute; bottom:0; right:0; background:url(../assets/images/common/controls.png)/*tpa=http://www.dollartree.com/assets/images/common/controls.png*/ no-repeat -25px 0; width:25px; height:25px; text-indent:-9999px;}

/*
Cluetip images
*/
div.clue-bottom-jtip .cluetip-arrows {background-image: url(../assets/images/common/arrowup.gif)/*tpa=http://www.dollartree.com/assets/images/common/arrowup.gif*/;}
div.clue-top-jtip .cluetip-arrows {background-image: url(../assets/images/common/arrowdown.gif)/*tpa=http://www.dollartree.com/assets/images/common/arrowdown.gif*/;}
div.clue-left-jtip .cluetip-arrows {background-image: url(../assets/images/common/arrowright.gif)/*tpa=http://www.dollartree.com/assets/images/common/arrowright.gif*/;}
div.clue-right-jtip .cluetip-arrows {background-image: url(../assets/images/common/arrowleft.gif)/*tpa=http://www.dollartree.com/assets/images/common/arrowleft.gif*/;}
div.clue-bottom-default .cluetip-arrows {background-image: url(../assets/images/common/darrowup.gif)/*tpa=http://www.dollartree.com/assets/images/common/darrowup.gif*/;}
div.clue-top-default .cluetip-arrows {background-image: url(../assets/images/common/darrowdown.gif)/*tpa=http://www.dollartree.com/assets/images/common/darrowdown.gif*/;}
div.clue-left-default .cluetip-arrows {background-image: url(../assets/images/common/darrowright.gif)/*tpa=http://www.dollartree.com/assets/images/common/darrowright.gif*/;}
div.clue-right-default .cluetip-arrows {background-image: url(../assets/images/common/darrowleft.gif)/*tpa=http://www.dollartree.com/assets/images/common/darrowleft.gif*/;}
#cluetip-waitimage {background-image: url(../assets/images/common/wait.gif)/*tpa=http://www.dollartree.com/assets/images/common/wait.gif*/;}