
/************************************
+DOLLARTREE SPECIFIC STYLES
************************************/

/************************************
+TOC
	+TO BE SORTED
	+GENERIC
	+ERRORS AND HIGHLIGHTS
	+BREADCRUMB
	+PAGINATION
	+FOOTER
	+HEADER
	+LEFT NAV
	+RECENTLY VIEWED
	+UTILITY CLASSES (GLOBAL)
	+CHECKOUT STYLES
	+CART
	+BILLING
	+PICKUP AND DELIVERY
	+SHIPPING
	+ORDER REVIEW PAYMENT
	+PRODUCT DETAIL
	+GIFT CARD
	+SECTION PAGE
	+CATEGORY PAGE
	+SEARCH RESULTS
	+RELATED ITEMS
	+QUICK VIEW
	+UNIVERSAL CART
	+ACCOUNT LOGIN
	+MY ACCOUNT
	+ORDER HISTORY
	+ADDRESS BOOK
	+EMAIL PREFERENCE
	+SUBSCRIBE/UNSUBSCRIBE
	+HOME PAGE
	+CONTENT PAGE
	+BAZAAR VOICE
	+PAYMENT PAGE
	+SMS PAGE (user/sms_optin.jsp)
************************************/

/************************************
+TO BE SORTED
************************************/
body#cart #keepShopping  {
	color: #109A4A;
	border-color: #C0C0C0;
}
ul#menu li a span {
	color: #5ab74c;
	text-shadow: none;
	font-weight: bold;
}
ul.inlinemenu li a {
	color: #FFFFFF;
}
ul#menu li.top_level {
	border-left: 1px solid #53B039;
	border-right: 1px solid #087d39;
}
ul#menu li.top_level:first-child {
	border-left: none;
}
ul#menu li.top_level.item7 {
	border-right: none;
}
ul#menu li.top_level:last-child {
	border-right: none;
}
ul#menu li:hover {
	background-color: #5ab74c;
	background-image: none;
}
ul#menu li.shopByBusiness:hover {background-color: #13a7ed !important;}

ul#menu li.shopByBusiness:hover .dropdown_1column,
ul#menu li.shopByBusiness:hover .dropdown_2column,
ul#menu li.shopByBusiness:hover .dropdown_3column,
ul#menu li.shopByBusiness:hover .dropdown_4column,
ul#menu li.shopByBusiness:hover .dropdown_5column {border: 3px solid #13a7ed !important;}


ul#menu li .dropdown_1column {
	margin-left: 1px;

    /*added so to position the content area absolutely*/
    position: relative;
    margin-top: -45px;
    min-height: 225px;
}


ul#menu li:hover a span {
	background-color: #5ab74c;
	background-image: none;
	color: #FFFFFF;
}
.cart-info-text {
	color: #FFFFFF;
}
#headerSearch .custServ {
	color: #0092cf;
}
#headerSearch .custServ span.grey {
	color: #505050;
}

a.commonLink,
a.smallLink,
a.tinyLink {
	color: #109A4A;
}

.roundedHead {
	background-color: #e5f0e3;
	background-color: #e5f0e3;
}

.roundedHead h1 {
	color: #109A4A;
}

button.medium.grey.link {
	text-transform: capitalize;
}

input.large, button.large {
    font-size: 14px;
    color: #ffffff;
    padding: 5px 10px;
    background-color: #f8ab59;
    background: -moz-linear-gradient(
        top,
        #f8ab59 0%,
        #e77f23);
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#f8ab59),
        to(#e77f23));
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #db721c;
}

button.large {
	text-transform: uppercase;
}

div#headerSearch input#searchKey {
	height: 17px;
}



/************************************
+GENERIC
************************************/
body {
	color:#4B4B4B;
}
body.popup {
	background-color: #FFFFFF;
}
a {
    color: #007c3e;
}
hr {
    color: #C0C0C0;
    background-color: #C0C0C0;
}
input, select, textarea {
	color: #606060;
}


dl.formInputs dt {
	color: #000000;
}
div.form-field-error {
	background-color: #FFDDDD;
    float:left;
}
div.form-field-error div.radio-container{
	color: #4B4B4B;
}
div.form-field-container div.formTip {
	color: #389160;
}

a.lnkEdit {
	color: #1B909C;
}

div#viewed-products a.itemLink,
div.itemCell h6 a.itemLink {
	color: #109A4A;
}

td.subcatHeader.grayHead {
	position: relative;
	behavior: url(../js/PIE.htc)/*tpa=http://www.dollartree.com/js/PIE.htc*/;
}

/************************************
+ERRORS AND HIGHLIGHTS
************************************/
.hilite {
	color: #109A4A;
}
.introText {
	color: #4B4B4B;
}
a#glo-ucart-view-shopping-bag {
	color: #427F52;
}
#glo-ucart-totals .subtotal span.total-text a,
#glo-ucart-totals .subtotal {
	color: #505050;
}
.callout {
	color: #336DC1;
}
.sale {
	color: #cc0000;
}

/************************************
+BREADCRUMB
************************************/
div#breadcrumb {position: absolute;}

div#breadcrumb li {
	color: #505050;
}
div#breadcrumb li a {
	color:#0F7A42;
}

/************************************
+PAGINATION
************************************/
ul#pagination li.browseSub a{
	color: #389160;
}

/************************************
+FOOTER
************************************/
div#footer_wrap a{
	color: #505050;
	border-left: 1px solid #BBBBBB;
}
div#sub_footer a {
	border-left: 1px solid #BBBBBB;
	color: #707070;
}

/************************************
+HEADER
************************************/
#header_wrap #header_top {
	height: 104px;
	width: 100%;
}

.welcome-signin-text  {
	color: #0092cf;
}
.welcome-signin-text  a {
	color: #0092cf;
	text-decoration: underline;
}
 body#storeLocator .infoWindow a {
	 color: #427F52;
}
body#storeLocator div.storeListing {
	border-bottom: 1px solid #C0C0C0
}
#header_top #custserv .blue a {
    color: #336DC1;
}
#header_top #custserv .blue {
    color: #336DC1;
}
#header_top #custserv .grey {
    color: #505050;
}
#header_top #links_row2{
	color: #117A3F;
}
#checkout_header_top #links_row2 {
	color: #117A3F;
}
#checkout_header_top #links_row2 a {
	color: #117A3F;
}
#header_top #links_row2 #shopping_cart_price {
    color: #109A4A;
}
#header_top #links_row2 #shopping_cart_price a {
    color: #109A4A;
}
#header_top #links_row2 #espanol {
    color: #FF0000;
}
#header_top #links_row2 #email_signup {
	border-left: 1px solid #BBBBBB;
   color: #109A4A;
}
#header_top #links_row2 #email_signup a {
   color: #109A4A;
}
#header_top li {
	border-left: 1px solid #BBBBBB;
}
#header_top li.first{
   color: #6689bd;
}
#header_top ul.inlinemenu {
	text-align:right;
}
#header_top ul.inlinemenu li {
	float:none;
}
#header_top li a {
	color: #505050;
}
#header_top #links_row2 a {
	color: #117A3F;
}
div#header_mid  ul#menu li a span {
	color: #FFFFFF;
}
div#header_mid td {
	border-left: 1px solid #FFFFFF;
}
div#header_mid td a {
	color: #2D4136;
}
div#header_mid td.on a {
	color: #FFFFFF;
}
#header_mid #menu li.top_level a.tnavLink {
	font-size:14px;
}
#header_mid #menu li ul li {
	font-size:14px;
}
#header_mid #menu li ul li a,
#header_mid #menu li:hover div a:hover {
	color:#379B45;
}
#header_mid #menu li:hover div a:hover {
	text-decoration:underline;
}
#header_mid #menu li ul div.subsub a {
	font-size:12px;
	font-weight:normal;
	color: #505050;
}
#header_mid #menu li ul div.subsub a:hover {
	color: #505050;
}
/************************************
+LEFT NAV
************************************/
#lnav_section {
	color: #FFFFFF;
}
#lnav_section a {
	color: #FFFFFF;
}
ul#left_nav_data li a {
	color: #427F52;
	background-color: #cee2cb;
	border-top: 1px solid #e7f1e6;
}
ul#left_nav_data li ul li.off {
	background-color: #E4F0E2;
}
ul#left_nav_data li.off {
	background-color: #cee2cb;
}
ul#left_nav_data li a.active {
	color: #FFFFFF;
	background-color: #459B5E;
}
ul#left_nav_data li ul {
	background-color: #E4F0E2;
	border-top: 1px solid #FFFFFF;
}
ul#left_nav_data li.on ul li a {
	color: #505050;
}
ul#left_nav_data li.on ul li a:hover {
	color: #505050;
}
ul#left_nav_data li.on ul li.on a {
	
}

/************************************
+RECENTLY VIEWED
************************************/
div#viewed-products h6 {
	color: #606060;
}
div#viewed-products td a {
	color: #0F7B41;
}
div#viewed-products-review h6 {
	color: #606060;
}
div#viewed-products-review td a {
	color: #0F7B41;
}

/************************************
+UTILITY CLASSES (GLOBAL)
************************************/
a.minusLeft {
	color: #389160;
}
a.qMark_l {
	color: #0a9a49;
}
a.print_l {
	color: #389160;
}
a.qMark_l_head {
	color: #FFFFFF;
}
a.line_l {
	border-left: 1px solid #C0C0C0;
	color: #389160;
}
a.greenArrow_l {
	color: #389160;
}
a.greenArrow_r, .greenArrow_r {
    color: #007c3e !important;
}
a.greenArrow_d {
	color: #389160;
}
div.greenHead,
#lnav_section {
	background-color: #52A368;
	color: #FFFFFF;
}
div.greenHead h1,
div.greenHead h2,
div.greenHead h3 {
	color: #FFFFFF;
}
div.greenHead a{
	color: #FFFFFF;
}
div.grayHead h1,
div.grayHead h2,
div.grayHead h3 {
	color: #389160;
	padding-top: 0;
}
.subcatHeader.grayHead h1 {
	padding-top: 10px;
}
div.grayHead {
	-webkit-border-top-right-radius: 20px;
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-topright: 20px;
	 border-top-left-radius: 20px;
	 border-top-right-radius: 20px;
}

#category div.grayHead h2 a {
	color: #389160;
}

div.grayHead h2.segmented dl {
	border-left: 1px solid #C0C0C0;
}
div.grayHead h2.segmented dd {
	color: #4B4B4B;
}
div.graySubhead {
	background-color: #F2F4F0;
}
div#outer_wrap .subcatGroup td.subcatHeader.grayHead h2 {
	
}
td.subcatHeader.grayHead,
td.subcatHeader .grayHead {
	border: 1px solid #C0C0C0;
	background-color: #EBEEE7;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	 border-top-left-radius: 10px;
	 border-top-right-radius: 10px;
	 border-radius:10px 10px 0 0;
}

td.subcatHeader .grayHead h1 {
	padding: 10px 0 5px 15px;
}

table.subcatGroup tr.itemRow td:first-child {
	border-left: 1px solid #C0C0C0;
}

div.grayFoot div.inner {
	border: 1px solid #C0C0C0;
	border-width: 0 1px 1px 1px;
	background-color: #EBEEE7;
	-webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-bottomleft: 15px;
	-moz-border-radius-bottomright: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

div.hiliteBox {
	background-color: #E6F0E5;
}

/************************************
+CHECKOUT STYLES
************************************/
.content-right .privacy  h3 {
	color: #389160;
}
table.checkoutTable thead th {
	color: #389160;
	border-bottom: 1px solid #C0C0C0;
}
table.checkoutTable thead th a {
	color: #389160;
}
table.checkoutTable tbody {
	border: 1px solid #C0C0C0;
	border-top: 0;
}
table.checkoutTable h6 {
	color: #389160;
}
#shopping-cart-items tr {
	border-left: 1px solid #D5D5D5;
}
#shopping-cart-items tr td:first-child {
	border-left: 1px solid #D5D5D5;
}
#shopping-cart-items td {
	border-right: 1px solid #D5D5D5;
	border-bottom: 1px solid #D5D5D5;
}
#shopping-cart-items td td {
	border: none;
}
table.checkoutTable h6 a {
	color: #389160;
}
dl.orderReturns  {
	border-bottom: 1px solid #C0C0C0;
}
dl.orderSummary  {
	border-top: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0;
}
dl.orderSummary dt.disc, dl.orderSummary dd.disc {
	color: #FF0000;
}
dl.subtotal dt.disc, dl.subtotal dd.disc {
	color: #FF0000;
}

.form_wrap.added_borders {
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    padding: 20px 10px 20px 20px;
}

.checkout_form_wrap 	{
	border: 1px solid #C0C0C0;
}
.form_wrap .paymentModule {
    border-top: 0px solid #C0C0C0;
    border-bottom: 1px solid #C0C0C0;
}
.form_wrap h3 {
	color: #389160;
}
.shaded {
	background-color: #e5f0e3;
}
.shadedLite {
	background-color: #f8f8f1;
}
#checkout_head {
	border: 1px solid #C0C0C0;
	background-color:#F8F8F1;
}
#checkoutTrail {
	border-bottom: 1px solid #C0C0C0;
}
#checkout_head div.order_summary_wrap {
	border: 0 solid #C0C0C0;
}
#checkout_head div.order_summary_wrap .inner_wrap {
	border-bottom: 0 solid #C0C0C0;
	border-left: 1px solid #C0C0C0;
}

/************************************
+CART
************************************/
body#cart div#cart_mid {
	background-color: #E6F0E5;
	border: 1px solid #C0C0C0;
}
body#cart div#content_bot_right div.inner {
	color: #389160;
}
body#cart .hiliteBox h3 {
	color: #389160;
}
body#cart .hiliteBox dl.yourStore dt {
	color: #389160;
}
body#cart .hiliteBox dl.yourStore dd {
	color: #4B4B4B;
}
body#cart .hiliteBox dl.yourStore span {
	color: #4B4B4B;
}
body#cart .hiliteBox dl.yourStore a {
	color: #389160;
}
body#cart #learn_inner, body#puDelivery #learn_inner {
	color: #4B4B4B;
}
body#cart #learn_inner a {
	color: #117A3F;
}
body#cart div#handling_fee_wrap {
	border: 2px solid #C0C0C0;
	background-color: #FFFFFF;
}
body#cart #handling_fee_inner {
	color: #4B4B4B;
}
body#cart #handling_fee_inner a {
	color: #117A3F;
}
body#cart #shopping-cart-items .col3 .remove a {
	color: #427F52;
}
body.checkout div.order_summary_wrap h2,
body#receipt div.order_summary_wrap h2,
body#cart div.order_summary_wrap h2 {
	color: #427F52;
	text-align: right;
	font-size:16px !important;
}

.order_summary_wrap h2 {
	padding-right: 10px;
}

/************************************
+BILLING
************************************/
body#billing .checkout_form_wrap div.inner{
	border: 1px solid #C0C0C0;
    
}

body#billing #needAssistance {
	background-color: #EBEEE7;
}

.reviewText a { color: #0a9a49; }

/************************************
+PICKUP AND DELIVERY
************************************/
body#puDelivery table#shippingTable1.checkoutTable td {
	
}
body#puDelivery table#shippingTable1.checkoutTable tr {
	border-right: 1px solid #D5D5D5;
}
body#puDelivery table#shippingTable1.checkoutTable tr td {
	border-bottom: 1px solid #D5D5D5;
	border-right: 1px solid #D5D5D5;
}
body#puDelivery table#shippingTable1.checkoutTable tr td:first-child {
	border-left: 1px solid #D5D5D5;
}
body#puDelivery table#shippingTable2.checkoutTable td {
	border: 1px solid #D5D5D5;
	border-top: none;
}
body#puDelivery div.cell_left dl.checkoutOptions dt {
	color: #389160;
}
body#puDelivery .estArrival,body#payment .estArrival {
	color: #389160;
}
body#puDelivery #needAssistance,
body#payment #needAssistance {
	background-color: #EBEEE7;
}
body#puDelivery .changeAddress .checkout_form_wrap .inner {
	border: 1px solid #D5D5D5;
}
body#puDelivery #addressBookWrap {
	border: 1px solid #D5D5D5;
}
body#puDelivery #memberChangeAddress .addressItem {
    border-right: 1px solid #D5D5D5;
}
body#puDelivery #memberChangeAddress .addressItem.nextRow{
    border-top: 1px solid #D5D5D5;
}

/************************************
+SHIPPING
************************************/
body#shipMethod div.gift_card_wrap div.inner_left {
	border-top: 1px solid #C0C0C0;
}

/************************************
+ORDER REVIEW PAYMENT
************************************/
body#payment #needAssistance {
	background-color: #EBEEE7;
}
body#payment #pickupNotice .inner {
	border: 1px solid #C0C0C0;
}
body#payment div.order_wrap div.inner_left div.inner,
body#receipt div.order_wrap div.inner_left div.inner {
	border-color: #C0C0C0;
}
body#payment table.checkoutTable td {
	border-right: 1px solid #D5D5D5;
}

body#payment table.checkoutTable tr td:first-child {
	border-left: 1px solid #D5D5D5;
}

body#payment table.checkoutTable td,body#receipt table.checkoutTable tr {
	border-bottom: 1px solid #D5D5D5;
	border-right: 1px  solid #D5D5D5;
}
div#promo_entry table.labelFieldButton label {
	color: #389160;
}
div#promo_entry p.confirmation {
	color: #389160;
}
body#receipt #needAssistance {
	background-color: #f5f5f5;
}
body#receipt #pickupNotice .inner {
	border: 1px solid #C0C0C0;
}
body#receipt #billing_payment_wrap .inner {
	border: 1px solid #C0C0C0;
}
body#shipMethod div#content_wrap table.checkoutTable thead th{
	color: #FFFFFF;
	background-color: #969696;
}
div.button_row {
	border: 1px solid #C0C0C0;
}
div.button_row h5,
div.button_space h5 {
	color: #389160;
}
.introText p.orange {
    color: rgb(255, 102, 0);
}

/************************************
+PRODUCT DETAIL
************************************/
body.prod-ens #content_top {
	border-top: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0;
}
body.prod-ens #content_mid {
	border-top: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0;
}
div#widget-quickview #content_mid {
	background-color: #eef0eb;
}
div#widget-quickview #buyItem dt label {
	color: #4B4B4B;
}
div#widget-quickview #buyItem div#storeZip dt label {
    color: #4B4B4B;
}
.prod-ens #inner_right h1,
body#giftcard #inner_right h1 {
	color: #3B9162;
}
body.prod-ens #buyItem div#storeZip dt label {
    color: #4B4B4B;
}
.prod-ens #buyItem dl.formInputs dd input#zipcode {
    color: #4B4B4B;
}
#inStorePickupZipCode {
    color: #4B4B4B;
}
a.colorLink {text-decoration: underline;}
.prod-ens #buyItem dl.formInputs dd input#quantity {
    color: #4B4B4B;
}
body#product #thresholdPopup {
   background: #FFFFFF;
   border: 2px solid #459B5E;
}
#widget-quickview #thresholdPopup {
   background: #FFFFFF;
   border: 2px solid #459B5E;
}
body#ensemble #thresholdPopup {
   background: #FFFFFF;
   border: 2px solid #459B5E;
}
.prod-ens #inner_right h1 a {
	color: #3B9162;
}
div#combo_products_wrap {
	background-color: #FFFFFF;
}
div#widget-quickview div#combo_products_wrap {
	border-top: 2px solid #C0C0C0;
	border-bottom: 2px solid #C0C0C0;
}
div#combo_products_wrap h3 {
	color: #3B9162;
}
div#combo_products_wrap h3 a {
	color: #3B9162;
}
.prod-ens .productDescContainer {
    border: 1px solid #C0C0C0;
	border-top: none;
    padding: 10px;
}
 /* update */
.prod-ens .prodDetailsLnk {
    color: #109a4a;
}
.prod-ens .titleTxt {
   border: 1px solid #C0C0C0;
   background-color: #EEEEEE;
}
.prod-ens ul.messages li {
    color: #000000;
}
.prod-ens .shippingOptions p {
   color: #000;
   font-weight:700;
}
.prod-ens .shippingOptions li {
        color: #000;
        font-size: 12px;
        margin: 4px 0 4px 24px;
}
.prod-ens div.pricing_group dl.price {
	color: #3B9162;
}
.prod-ens div.pricing_group ul li {
	color: #000000;
}
body.prod-ens .more_images img {
	border: 1px solid #C0C0C0;
}
body#product .add_info_body {
	border-top: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0;
}
body#product #csrAvail {
	border-left: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0;
	border-right: 1px solid #C0C0C0;
}
body#product #csrAvail .hilite {
	color: #1B909C;
}
body#product .grayBG {
	background-color: #EBEEE7;
}
dl.availabilityMessage dt {

}
table.checkoutTable thead th.colFirst,
table.checkoutTable thead th.col1and2,
table.checkoutTable thead th.col1,
table.checkoutTable thead th.col2,
table.checkoutTable thead th.col3,
table.checkoutTable thead th.col4,
table.checkoutTable thead th.col5,
table.checkoutTable thead th.colLast {
	background-color: #EBEEE7;
}
body#ensemble div#combo_products_wrap table td {
	border-top: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0;
}
body#ensemble tr.comboQty {
	background-color: #EBEEE7;
}
body#ensemble #content_mid dt {
	color:#777777;
}
body#ensemble div.combo_qty_wrap {
    background-color: #EBEEE7;
}
body#ensemble div.combo_qty_wrap label {
	color: #3B9162;
}
a#shareLink {
	color: #3B9162;
}
body.prod-ens div#learn_more_wrap {
	border: 2px solid #C0C0C0;
	background-color: #FFFFFF;
}
div#widget-quickview div#learn_more_wrap {
	border: 2px solid #C0C0C0;
	background-color: #FFFFFF;
}
body#cart div#learn_more_wrap {
	border: 2px solid #C0C0C0;
	background-color: #FFFFFF;
}
body#puDelivery div#learn_more_wrap {
	border: 2px solid #C0C0C0;
	background-color: #FFFFFF;
}

body#cart .noItemsMessage  a {
	color: #1B909C;
}

/************************************
+GIFT CARD
************************************/
#gc_style {
	background-color: #eef0eb;
	border: 1px solid #C0C0C0;
}

/************************************
+SECTION PAGE
************************************/
.section_landing_promo h6{
	color: #117A3F;
}
.section_landing_promo a.view_all_promo{
	color: #939393;
}

/************************************
+CATEGORY PAGE
************************************/
table.subcatGroup tr.itemRow td {
	border-bottom: 1px solid #C0C0C0;
	border-right: 1px solid #C0C0C0;
}
div.itemCell h6 {
	color: #606060;
}
div.itemCell h6 a {
	color: #606060;
}
div.itemCell dl {
	color: #4B4B4B;
}

/************************************
+SEARCH RESULTS
************************************/
table.subcatGroup tr.itemRow td.searchdirect {
	background-color: #EBEEE7;
}

div.graySubhead {
	border-left: 1px solid #C0C0C0;
	border-right: 1px solid #C0C0C0;
}

/************************************
+RELATED ITEMS
************************************/
table.relatedGroup tr.itemRow td {
	border-top: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0;
}
#cart_rail_head {
	border: 1px solid #C0C0C0;
}
#cart_rail_head h2 {
	color: #389160;
}
#related_rail_head h2 {
	color: #389160;
}
#related_rail {
	border: 1px solid #C0C0C0;
}


/************************************
+QUICK VIEW
************************************/
.widget-ima-loader {
	background-color: #FFFFFF;
}
#cat-quickview-content {
	border: 1px solid #3B9162;
}
#cat-quickview-content dl.availabilityMessage {
	color: #109A4A;
}
#cat-quickview-product-information #cat-quickview-product-price-name {
	border-bottom: 1px solid #c2c2c2;
	color: #000000;
}
.cat-quickview-ens-price-name a:link, .cat-quickview-ens-price-name a:visited, .cat-quickview-ens-price-name a:hover, .cat-quickview-ens-price-name a:active {
	color: #000000;
}
#cat-quickview-product-price-name a:link, #cat-quickview-product-price-name a:visited, #cat-quickview-product-price-name a:hover, #cat-quickview-product-price-name a:active {
	color: #000000;
}

/************************************
+UNIVERSAL CART
************************************/
#glo-ucart-slider-viewport {
	border-top: 1px solid #D5D5D5;
	border-bottom: 1px solid #D5D5D5;
}


/************************************
+ACCOUNT LOGIN
************************************/
.shaded.privacy .inner p a {
	color: #0a9a49;
}

/************************************
+MY ACCOUNT
************************************/
div.returnLink {
	color: #4B4B4B;
}
div.acctText, div.user-address-entry {
	color: #4B4B4B;
}
span.store {
	color: #109A4A;
}
body#MyAcct div.menuItem a {
	color: #0a7e3d;
}
body#MyAcct div.innerGray {
	margin-top: 10px;
	background-color: #e5f0e3;
	border-top: 1px solid #C0C0C0;
}
body#MyAcct .columnRight .acctRightTop {
	border: 1px solid #C0C0C0;
}
body#MyAcct div.inner li {
	color: #4B4B4B;
}
body#MyAcct div.inner a {
	color: #389160;
}
div.graySideForm h2 {
	color: #505050;
    
}
div.graySideForm {
	background-color: #EBEEE7;
	border-right: 1px solid #EBEEE7;
    
}
div.graySideForm div.form_wrap {
	border: 1px solid #EBEEE7;
	background-color: #FFFFFF;
}

body#LogOut div.introText { padding:0; }
body#LogOut div#checkout_wrap h1 {
	color: #389160;
}

/************************************
+ORDER HISTORY
************************************/
body#orderHistory div#content_wrap table.checkoutTable tbody .col5 {
	color: #389160;
}
/************************************
+ADDRESSBOOK
************************************/
body#AddBook div.form_wrap {
	background-color: #FFFFFF;
	border: 1px solid #EBEEE7;
}
body#AddBook div.returnLink {
	color: #4B4B4B;
}

/************************************
+EMAIL PREFERENCE
************************************/
div.introText h2,
div.introText h2 {
	color: #389160;
}

body#emailSignUp  .content-left {
	padding-left: 0;
}

/************************************
+SUBSCRIBE/UNSUBSCRIBE
************************************/
#pop_close {
}
#pop_close a {
	color: #FFFFFF;
}
div#pop_head_wrap {
	background: #eef1eb;
}
h1.popTitle {
	color: #3B9162;
}
/************************************
+HOMEPAGE
************************************/
.rounded_promo .inner_content {
	color: #FFFFFF;
}
.rounded_promo_alt .inner_content {
	color: #787575;
}
.rounded_promo hr {
	color: #91C99F;
	background-color: #91C99F;
}
.rounded_promo_alt hr {
	color: #C0C0C0;
	background-color: #C0C0C0;
}
#bot_promo2 {
	border-color: #BBBBBB;
}
.sideXsidePromo .inner_content h6,
.sideXsidePromo .scroller_content h6 {
	color: #117A3F;
}
.sideXsidePromo .inner_content p,
.sideXsidePromo .scroller_content p {
	color: #505050;
}
.sideXsidePromo a.promoAction {
	color: #117A3F;
}

/************************************
+CONTENT PAGE
************************************/
body.contentPage div#body_wrap h1 {
	color: #389160;
}
body.contentPage div#body_wrap h2 {
	color: #389160;
}
body.contentPage div#body_wrap h2.callout {
	color: #336DC1;
}
div.blueGradBox p {
	color: #2485DF;
}
div.blueGradBox a {
	color: #2485DF;
}
body.contentPage div#body_wrap div.careersContent div.col1Desc h2,
body.contentPage div#body_wrap div.careersContent div.col2Desc h2 {
      color: #336DC1;
}
div.billMeLaterModule {
   border-top: 1px solid #C0C0C0;
   border-bottom: 1px solid #C0C0C0;
}
.christmascorner {
	color: #2D4136;
}
.christmasticker {
    color: #FF0000;
}
ul.christmasMessage li.christmasticker_bold a {
    color: #FF0000;
}
ul.christmasMessage li.christmasticker a {
    color: #FF0000;
}
ul.christmasMessage li.daysLeft a {
    color: #FFFFFF;
}
 .springFlingTicker {
    color: #93278F;
}
ul.springFlingMessage li.springFlingTicker_bold a {
    color: #93278F;
}
ul.springFlingMessage li.springFlingTicker a {
	color: #93278F;
}

/************************************
+BAZAAR VOICE
************************************/
div.BVEnsembleContainer {
    background: none repeat scroll 0 0 #EBEEE7;
    color: #4B4B4B;
}
div.BVEnsembleRatingLink a b{
    color: #4B4B4B;
}

/************************************
+PAYMENT PAGE
************************************/
.DTlayer {
	border: 2px solid #C0C0C0;
	background-color: #FFFFFF;
}
div.button_wrap a:link {
	color: #666666;
}
a {
    color: #007c3e;
}
div.button_wrap .add-to-wish-list a {
	color: #109A4A;
	font-weight: bold;
	font-size: 11px;
}

body.hasLeftNav div.introText,
div.introText {
	padding: 10px 0 0 0;
}

.popupLayer h2 {
	color: #389160;
}

#closeme {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    margin-left: 0px;
    padding: 0px;
    text-align: center;
    font-weight: normal;
}

#pop_head_wrap {
    display: none;
}

span.secondaryMessage {font-size: 14px; color: #333333 !important;}
.mc_assistance_msg {width:84%; min-height:119px; font-size:1.2em; margin:10px 0 10px 0; background-color:#dee3d7;}
.bg_header {
    background-color: #EBEEE7 !important;
    border-radius: 10px 10px 0 0 !important;
    padding: 10px 0 5px 20px !important;
    margin-bottom: 15px !important;
    border-bottom: 1px solid #C0C0C0 !important;
}

/*pixel-perfect styles begins*/
.form-field-container label {color: #000000 !important;}

#pop_content_wrap a.forgotPass {display:inline-block; padding:0px !important;}
#pop_content_wrap a {color: #007b3e !important; padding: 0 0px !important;}
ul.bullet_circle li {color: #333333; font-size: 11px;}
#loadme1 a, #loadme2 a, #loadme3 a {text-decoration: underline !important; font-weight: normal !important;}
#loadme2 ul {margin-left: 15px; list-style-type: disc;}
#loadme2 ul ul {list-style-type: none;}
#loadme2 ul ul li:before {content: "-";  left: -5px;}
#loadme2 ul ul li {text-indent: -10px;}
a.privacy_link {font-weight: normal; text-decoration: underline;}
#createDiv.form-field-error {width: 239px;}
/*pixel-perfect styles end*/


/********************************
+SMS PAGE (user/sms_optin.jsp)
********************************/

#form_wrap_sms_opt_in {
    border: 0px solid #000;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 1.0em;
}

#form_wrap_sms_opt_in .header {
    display: block;
    text-align: center;
}

#form_wrap_sms_opt_in h1:first-of-type {
    font-size: 2.0em;
    color: #389160;
    font-weight: bold;
    margin-bottom: 20px;
}

#form_wrap_sms_opt_in h1 {
    font-size: 2.0em;
    color: #389160;
    font-weight: bold;
}

#formWrapper {
    border: 0px solid #000;
    width: 70%;
    display: block;
    margin: 0px auto;
    padding-bottom: 6px;
}

#formWrapper label.mobile {
    font-size: 1.23em;
    font-weight: bold;
}

#formWrapper .redStar {color:#ff0000; padding-right:4px;}

#formWrapper input[type="text"] {
    width: 240px;
}

#form_wrap_sms_opt_in .disclaimer {
    width: 285px;
    border: 1px solid;
    margin: 0px auto;
}

#form_wrap_sms_opt_in .disclaimer ul li {
    list-style-type: none;
    list-style-position: inside;
    padding: 10px 0 10px 20px;
    text-indent: -1em;
    display: inline;
}

#termWrapper {
    display: block;
    width: 260px;
    margin: 0px auto;
}

#termWrapper .checkBox {
    display: inline;
    border: 0px solid;
    float: left;
}

#termWrapper .terms {
    display: inline;
    border: 0px solid;
    float: right;
    width: 240px;
    padding-top: 7px;
}

#termWrapper .buttonContainer {
    width:90%;
    border:0px solid;
}

#termWrapper .buttonContainer .textRequire {
 padding: 10px 6px 0px 12px;
display: inline;
float: left;
}

#termWrapper .buttonContainer .buttonWidth {float:right; width:40%;}


/********************************
+SMS PAGE (user/sms_optin.jsp)
********************************/

#form_wrap_sms_opt_in {
    border: 0px solid #000;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 1.0em;
}

#form_wrap_sms_opt_in .header {
    display: block;
    text-align: center;
}

#form_wrap_sms_opt_in h1:first-of-type {
    font-size: 2.0em;
    color: #389160;
    font-weight: bold;
    margin-bottom: 20px;
}

#form_wrap_sms_opt_in h1 {
    font-size: 2.0em;
    color: #389160;
    font-weight: bold;
}

#formWrapper {
    border: 0px solid #000;
    width: 70%;
    display: block;
    margin: 0px auto;
    padding-bottom: 6px;
}

#formWrapper label.mobile {
    font-size: 1.23em;
    font-weight: bold;
}

#formWrapper .redStar {color:#ff0000; padding-right:4px;}

#formWrapper input[type="text"] {
    width: 240px;
}

#form_wrap_sms_opt_in .disclaimer {
    width: 285px;
    border: 1px solid;
    margin: 0px auto;
}

#form_wrap_sms_opt_in .disclaimer ul li {
    list-style-type: none;
    list-style-position: inside;
    padding: 10px 0 10px 20px;
    text-indent: -1em;
    display: inline;
}

#termWrapper {
    display: block;
    width: 260px;
    margin: 0px auto;
}

#termWrapper .checkBox {
    display: inline;
    border: 0px solid;
    float: left;
}

#termWrapper .terms {
    display: inline;
    border: 0px solid;
    float: right;
    width: 225px;
    padding: 5px 0px;
}

#termWrapper .buttonContainer {
    width:100%;
    border:0px solid;
}

#termWrapper .buttonContainer .textRequire {
 padding: 10px 6px 0px 12px;
display: inline;
float: left;
color: #ff0000;
padding-left:20px;
}

#termWrapper .buttonContainer .buttonWidth {float:right; width:40%;}

#headerSearch form input {
    width:200px;
    float:right;
    margin:6px 4px 0px 0px;

}

