#menu {
	list-style:none;
	width:100%;
	margin:0 auto 0 auto;
	height:48px;
	padding:0;
}

#menu li.menu_left {
	float:left;
	display:block;
	width: 104px;
	text-align:center;
	position:relative;
	height: 48px;
}

#menu li a.tnavLink {
	font-size:12px;
	color: #EEEEEE;
	height: 48px;
	font-weight: normal;
	outline:0;
	width: 120px;
	text-decoration:none;
	text-shadow: 1px 1px 1px #000;
	display: table-cell;
	vertical-align: middle;
}

#menu li .drop {
	padding-right:0;

}

.dropdown_1column,
.dropdown_2column, 
.dropdown_3column,
.dropdown_4column,
.dropdown_5column {
	margin:4px auto;
	float:left;
	position:absolute;
	z-index: 1000;
	left:-999em; /* Hides the drop down */
	text-align:left;
	padding:10px 5px 0px 5px;
	border: 3px solid #5eb936;	
	/* Gradient background */
	background:#FFFFFF;
}

.dropdown_1column {width: auto;}
.dropdown_2column {width: 450px;}
.dropdown_3column {width: 750px;}
.dropdown_4column {width: 1000px;}
.dropdown_5column {width: 1250px;}

#menu li:hover .dropdown_1column, 
#menu li:hover .dropdown_2column,
#menu li:hover .dropdown_3column,
#menu li:hover .dropdown_4column,
#menu li:hover .dropdown_5column {
	top:43px;
	left: 0;
}

.col_1,
.col_2,
.col_3,
.col_4,
.col_5,
.megaArea {
	display:inline;
	float: left;
	position: relative;
}
.col_1 {width:auto;}
.col_2 {width:270px;}
.col_3 {width:410px;}
.col_4 {width:550px;}
.col_5 {width:690px;}
.megaArea {width:auto;}

#menu .menu_right {
	float:right;
	margin-right:0;
}
#menu li:hover .align_right {
	left:auto;
	right:-1px;
	top:43px;
}

#menu p, #menu h2, #menu h3, #menu ul li {
	font-family:Arial, Helvetica, sans-serif;
	line-height:21px;
	font-size:12px;
	text-align:left;
	text-shadow: 1px 1px 1px #FFFFFF;
}
#menu h2 {
	font-size:21px;
	font-weight:400;
	letter-spacing:-1px;
	margin:7px 0 14px 0;
	padding-bottom:14px;
	border-bottom:1px solid #666666;
}
#menu h3 {
	font-size:14px;
	margin:7px 0 14px 0;
	padding-bottom:7px;
	border-bottom:1px solid #888888;
}
#menu p {
	line-height:18px;
	margin:0 0 10px 0;
}

#menu li:hover div a {

}
#menu li:hover div a:hover {
	color:#5eb936;
}

.strong {
	font-weight:bold;
}
.italic {
	font-style:italic;
}

.imgshadow { /* Better style on light background */
	background:#FFFFFF;
	padding:4px;
	border:1px solid #777777;
	margin-top:5px;
	-moz-box-shadow:0px 0px 5px #666666;
	-webkit-box-shadow:0px 0px 5px #666666;
	box-shadow:0px 0px 5px #666666;
}
.img_left { /* Image sticks to the left */
	width:auto;
	float:left;
	margin:5px 15px 5px 5px;
}

#menu li .black_box {
	background-color:#333333;
	color: #eeeeee;
	text-shadow: 0 0 #FFF;
	padding:4px 6px 4px 6px;

	/* Shadow */
	-webkit-box-shadow:inset 0 0 3px #000000;
	-moz-box-shadow:inset 0 0 3px #000000;
	box-shadow:inset 0 0 3px #000000;
}

#menu li ul {
	list-style:none;
	padding:0 10px 15px 10px;
}

#menu .col_1 {
	border-right: 1px solid #ccc;
}

#menu li ul li a {
	text-shadow: 0 0 #FFF;
	font-weight: bold;
	padding: 4px 0;
	/* white-space:nowrap; */
	color: #666;
}

#menu .mm_wrap {
	padding-bottom: 15px;
}

#menu li ul li {
	font-size:12px;
	position:relative;
	height: auto;
	padding:0;
	margin:0 0 4px;
	display: block;
	float:none;
	text-align:left;
	background-image: none;
	text-shadow: 0 0 #FFF;
}

#menu li ul li ul {
	margin: 5px 0 5px 10px;
	font-size:11px;
}

#menu li ul li:hover {
	background:none;
	border:none;
}

#menu li .greybox li {
	background:#F4F4F4;
	border:1px solid #bbbbbb;
	margin:0 0 4px 0;
	padding:4px 6px 4px 6px;
	width:116px;
}
#menu li .greybox li:hover {
	background:#ffffff;
	border:1px solid #aaaaaa;
	padding:4px 6px 4px 6px;
	margin:0 0 4px 0;
}

#menu li ul div.subsub {
	  margin: -5px 0 10px 0;
}

#menu li ul div.subsub a {
  display: block;
  height: 10px;
  font-size: 10px;
  margin: 0 0 0 10px;
}