

#header_wrap, body #outer_wrap_bg {
background: url(Unknown_83_filename)/*tpa=http://www.dollartree.com/assets/images/dt/bg_x-rep_top.png*/ top center repeat-x;}

ul.bullet_circle li {background: url(../assets/images/common/li.png)/*tpa=http://www.dollartree.com/assets/images/common/li.png*/ 2px 7px no-repeat; padding-left: 10px;}
button.large {background: transparent url(../assets/images/common/buttonlarge.png)/*tpa=http://www.dollartree.com/assets/images/common/buttonlarge.png*/ #f8ab59;}
#ideasNavigation {width: 290px !important; background: url(../assets/category_images/y_rep_border.png)/*tpa=http://www.dollartree.com/assets/category_images/y_rep_border.png*/ repeat-y 180px 0px #ffffff;}