/*BEGIN FROM CAROUSEL.CSS DESKTOP MEDIA QUERY*/
.isMobile {
    display: none;
}

.ico_video {
    width: 76px;
    height: 75px;
    margin: -31px 10px 0 0;
    background-image: url('../../../-/media/gwmp/images/ui/ico_video.png')/*tpa=http://www.mylan.com/-/media/gwmp/images/ui/ico_video.png*/;
    background-size: auto;
    vertical-align: top;
}

.carousel {
    padding-right: 20px;
    margin-bottom: 30px;
}

.carousel_interior {
    margin: 30px 0 30px -40px;
}

.carousel_interior:first-child {
    margin: -32px 0 15px -40px; /* first child is top of page carousel */
}

/* cover up left */
.carousel-shade, .rotator-shade {
    content: " ";
    display: block;
    width: 400px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    z-index: 601;
    background: #ffffff;
}

/* Added through JS */
.js .carousel-titlePaneWorld {
    display: block;
    width: 117px;
    height: 103px;
    position: absolute;
    right: -41px;
    bottom: -25px;
    z-index: 6;
    background-image: url(../../../-/media/gwmp/images/ui/ico_carousel_world.png)/*tpa=http://www.mylan.com/-/media/gwmp/images/ui/ico_carousel_world.png*/;
}

.carousel-slides {
    position: relative;
}

.carousel-slides > li {
    position: relative;
}

.no-js .carousel-slides > li {
    margin: 0 0 30px;
}

.carousel-img {
    min-height: 200px; /* for empty cases */
}

.carousel-content {
    padding-right: 40px;
    position: relative;
}

.carousel-text {
    position: absolute;
    right: 40px;
    bottom: 0;
    left: 0;
}

.carousel-text-hd {
    height: 50px;
    padding: 25px 40px 0;
    background-color: rgba(0,177,221,.85);
}

.carousel-text-hd:before, .carousel-text-hd:after {
    content: '';
    display: block;
    width: 21px;
    height: 75px;
    position: absolute;
    top: 0;
    z-index: 600;
    background: transparent url('../../../-/media/gwmp/images/ui/ico_spritesheet_carousel_arrows.png')/*tpa=http://www.mylan.com/-/media/gwmp/images/ui/ico_spritesheet_carousel_arrows.png*/ no-repeat 0 0;
}

.carousel-text-hd:before {
    left: 0;
}

.carousel-text-hd:after {
    right: -21px;
    background-position: -31px 0;
}

.carousel-text-hd > .hdg, .carousel-text-hd > a > .hdg {
    color: #ffffff;
}

.carousel-text-hd-link {
    display: inline-block;
    padding-top: 6px;
    color: #ffffff;
    font-weight: bold;
    vertical-align: top;
}

.carousel-text-bd {
    height: 60px;
    padding: 15px 40px 0;
    background-color: rgba(255,255,255,.8);
    color: #333333;
    font-size: 20px;
}

.carousel-text-bd p {
    /*CIBER commented out
        height: 2.4em;
        overflow: hidden;
        */
}

.carousel-text-bd-link {
    color: inherit;
}

/* Added through JS */
.carousel-controls {
    padding: 10px 70px 0 0;
    text-align: right;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.carousel-controls_alt {
    padding-right: 40px;
    text-align: center;
}

.carousel-controls-arrow {
    width: 9px;
    height: 17px;
    background: transparent url(../../../-/media/gwmp/images/ui/ico_spritesheet_carousel_controls.png)/*tpa=http://www.mylan.com/-/media/gwmp/images/ui/ico_spritesheet_carousel_controls.png*/ 0 0;
    cursor: pointer;
}

.carousel-controls-arrow_prev {
    margin-right: 5px;
}

.carousel-controls-arrow_next {
    margin-left: 5px;
    background-position: -58px 0;
}

.carousel-controls-nav > li {
    display: inline-block;
}

.carousel-controls-nav-item {
    display: block;
    width: 6px;
    height: 6px;
    margin: 0 5px;
    background: transparent url(../../../-/media/gwmp/images/ui/ico_spritesheet_carousel_controls.png)/*tpa=http://www.mylan.com/-/media/gwmp/images/ui/ico_spritesheet_carousel_controls.png*/ -19px 0;
    vertical-align: middle;
    line-height: 16px;
    cursor: pointer;
}

.carousel-controls-nav-item_isActive {
    width: 13px;
    height: 18px;
    margin-bottom: -9px;
    background-position: -35px 0;
}

.carousel-titlePane {
    width: 500px;
    height: 30px;
    padding: 10px 0 0 10px;
    overflow: hidden;
    position: absolute;
    right: -215px;
    bottom: 303px;
    z-index: 3;
    background-color: #ffffff;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.no-js .carousel-titlePane {
    display: none;
}

.carousel-titlePane-slides {
    position: relative;
}

.carousel-titlePane-slides > li {
    display: inline-block;
}

.carousel-titlePane-slides > li + li {
    margin-left: 40px;
}

.carousel-titlePane-slides-item {
    display: inline-block;
    color: #00b1dd;
    font-weight: bold;
    font-size: 20px;
    cursor: vertical-text;
}

.carousel-titlePane-slides-item_isActive {
    color: #333333;
}

.carousel-tabs {
    padding-right: 40px;
    text-align: right;
}

.no-js .carousel-tabs {
    display: none;
}

.carousel-tabs > li + li {
    margin-left: 20px;
}

.carousel-tabs-item {
    display: block;
    padding: 8px 5px 5px;
    color: #00b1dd;
    cursor: pointer;
}

.carousel-tabs-item_isActive {
    padding-top: 5px;
    border-top: solid 3px #fdb813;
    color: #333333;
    font-weight: bold;
}

/*CIBER SUPPLEMENTAL to handle case where carousel headline is too long and wraps
	 (twoline class is appended using JS) */
.carousel-text-hd h2 {
    position: relative;
    top: -3px;
}

.carousel-text-hd.twoLine h2 {
    position: relative;
    top: -18px;
    line-height: 1;
}
/* supplemental / experimental tweak */
.carousel-tabs.hList.js-carousel-index.isDesktop {
    margin-top: 10px;
}

a.carousel-text-hd-link.js-modalTrigger {
    /*on this page (for example) long headlines cause video icon to wrap*/
    width: 0px;
    white-space: nowrap;
}

.carousel-text-hd.twoLine {
    position: relative;
}

.carousel-text-hd.twoLine a.carousel-text-hd-link.js-modalTrigger {
    display: none;
}
/*end CIBER SUPPLEMENTAL*/

.pageWrap-inner {
    padding-left: 4%;
}

/*BEGIN CIBER OVERRIDES*/
.pageWrap-inner {
    padding-left: 0;
}

.home .pageWrap-inner {
    padding-left: 4%;
}

.carousel {
    margin-bottom: 0;
}

.home-carousel-module {
    margin-bottom: 30px;
}

.carousel-titlePane {
}

.carousel-titlePane-slides-item {
    position: relative;
    top: -4px;
}

.rotator-items > li, .rotator-tabs > li, .carousel li {
    padding-left: 0;
}

.rotator-items > li:before, .rotator-tabs > li:before, .carousel li:before {
    display: none;
}

.carousel-text-hd > .hdg, .carousel-text-hd > a:hover {
    text-decoration: none;
}

a.carousel-text-hd-link:hover {
    color: #fff;
}

/* ======== BEGIN ADDED FOR EMEA ======== */

.carousel {
    margin-bottom: 20px;
}

body.home .main-wrap > .grid {
    max-width: 940px;
}

.js body.home .carousel-slides > li {
    max-width: 920px;
}

.js body.home .carousel-slides > li > .carousel-img > a > img {
    max-width: 880px;
}

.carousel-text-bd > p > a {
    color: #333;
    font-size: 20px;
    line-height: 1;
}

.carousel-text-bd > p > a:hover {
    text-decoration: none;
}

/* ======== END ADDED FOR EMEA ======== */

/* END CIBER OVERRIDES*/

/* END DESKTOP MEDIA QUERY */

/* BEGIN CIBER IE 8 Overrides */

/*from min width rule in media-queries.css*/
/*Updated "!important" to override display style inheriting from the parent*/
.mobileOnly {
    display: none !important;
}

.carousel-text-bd {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ccffffff,endColorstr=#ccffffff);
}

.carousel-titlePane {
    bottom: 536px !important;
    right: -448px;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.carousel-text-hd, .hero-image-overlay {
    /* temp, this filter messes up the before/after arrow images, use background image instead */
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#D800B1DD,endColorstr=#D800B1DD);*/
    background: url('../../../-/media/gwmp/images/ui/ie8_overlay_pixel.png')/*tpa=http://www.mylan.com/-/media/gwmp/images/ui/ie8_overlay_pixel.png*/!important;
}

.btn {
    /*have to offset the offset caused by the filter shadow*/
    position: relative;
    left: -5px;
    top: -5px;
    zoom: 1;
    filter: progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, Strength=5, Direction=0), progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, Strength=5, Direction=90), progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, Strength=5, Direction=180), progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, Strength=5, Direction=270), progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e2e2e2', GradientType=0);
}

.btn > a {
    /*have to offset the offset that offsets the offset caused by the filter shadow*/
    position: relative;
    right: -10px;
    top: 5px;
}

.search-module .submit input {
    filter: alpha(opacity=0);
}

.language-flyout .overlay {
    filter: alpha(opacity=50);
}


/*hack the content image to not stretch - no idea why I have to do this... */

.content-image img {
    width: inherit;
}


/*this is an enhancement - mylan.com continues to shrink until it becomes unusable. We should allow scrolling,
 * remove flyoffs and set a min width? then we'd also have to disable fixed positioning on the header, because it would stick when you scroll horizontally... just food for thought. */
/*.ie8 body{min-width:680px;overflow-x:auto;}
 .ie8 .flyoff{padding-right:0;}*/



/*begin styles from rotator.css desktop media query*/

.rotator-items {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU2JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNmU2ZTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,#fff 0%,#fff 56%,#e6e6e6 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(56%,#fff),color-stop(100%,#e6e6e6));
    background: -webkit-linear-gradient(top,#fff 0%,#fff 56%,#e6e6e6 100%);
    background: -o-linear-gradient(top,#fff 0%,#fff 56%,#e6e6e6 100%);
    background: -ms-linear-gradient(top,#fff 0%,#fff 56%,#e6e6e6 100%);
    background: linear-gradient(to bottom,#fff 0%,#fff 56%,#e6e6e6 100%);
}

.no-js .rotator-items {
    background: #fff;
}


.rotator-tab-bg {
    background: url('../../../-/media/gwmp/images/ui/bgrotatortab.png')/*tpa=http://www.mylan.com/-/media/gwmp/images/ui/bgrotatortab.png*/;
    width: 100%;
    height: 74px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.rotator-wrapper_interior {
    /*ciber changed margin: 0 0 40px -40px;*/
    margin: 0 0 40px 0;
}

.rotator-control {
    margin-top: -23px;
    top: 50%;
}


/*investors dashboard - from the screenlarge media query*/


.investors-dashboard .dashboard-val_primary {
    height: 110px;
}

.investors-dashboard .dashboard-val_primary span.val {
    position: relative;
    top: -12px;
}

.investors-dashboard .grid:before, .investors-dashboard .grid:after {
    content: "";
    display: table;
}

.investors-dashboard .grid:after {
    clear: both;
}

.investors-dashboard .grid_noClear:before, .investors-dashboard .grid_noClear:after {
    content: none;
}

.investors-dashboard .grid .grid {
    margin: 0 -20px;
}

.investors-dashboard .grid .grid_alt {
    margin: 0;
}

.investors-dashboard .grid_slim {
    margin: 0 -10px;
}

.investors-dashboard .grid_topArrows > * {
    margin-top: 15px;
    position: relative;
}

.investors-dashboard .grid_topArrows > *:before {
    content: "";
    position: absolute;
    top: -17px;
    left: 43%;
    border-top: 10px solid #03afda;
    border-right: 19px solid transparent;
    border-left: 19px solid transparent;
}

.investors-dashboard .grid-col {
    float: left;
}

.investors-dashboard .grid-col-inner {
    /*ciber removed padding: 0 20px;*/
}

.investors-dashboard .grid-col-inner_tight {
    padding: 0;
}

.investors-dashboard .grid_slim > .grid-col > .grid-col-inner {
    padding: 0 10px;
}

.investors-dashboard .grid-col_1of1 {
    width: 100%;
}

.investors-dashboard .grid-col_1of2 {
    width: 50%;
}

.investors-dashboard .grid-col_1of3 {
    width: 33.333333%;
}

.investors-dashboard .grid-col_2of3 {
    width: 66.666666%;
}

.investors-dashboard .grid-col_1of4 {
    width: 25%;
}

.investors-dashboard .grid-col_3of4 {
    width: 75%;
}

.investors-dashboard .grid-col_1of5 {
    width: 20%;
}

.investors-dashboard .grid-col_2of5 {
    width: 40%;
}

.investors-dashboard .grid-col_3of5 {
    width: 60%;
}

.investors-dashboard .grid-col_4of5 {
    width: 80%;
}

.investors-dashboard .grid-col_1of6 {
    width: 16.666667%;
}

.investors-dashboard .grid-col_5of6 {
    width: 83.333333%;
}

.investors-dashboard .grid-col_1of7 {
    width: 14.285714%;
}

.investors-dashboard .grid-col_3of7 {
    width: 42.857143%;
}

.investors-dashboard .grid-col_4of7 {
    width: 57.142857%;
}

.investors-dashboard .grid-col_1of12 {
    width: 8.333333%;
}

.investors-dashboard .grid-col_5of12 {
    width: 41.666665%;
}

.investors-dashboard .grid-col_7of12 {
    width: 58.333331%;
}

.investors-dashboard .grid-col_11of12 {
    width: 91.666663%;
}

.investors-dashboard .grid-col_1of8 {
    width: 12.5%;
}

.investors-dashboard .grid-col_3of16 {
    width: 18.75%;
}

.investors-dashboard .grid-col_5of16 {
    width: 31.25%;
}

.investors-dashboard .grid-col_6of16 {
    width: 37.5%;
}

.investors-dashboard .grid-col_3of10 {
    width: 30%;
}

.investors-dashboard .grid-col_min {
    width: 31.9565217%;
}

.investors-dashboard .grid-col_maj {
    width: 36.0869566%;
}

.investors-dashboard .grid-col_nav {
    width: 25.531914893%;
}

.investors-dashboard .grid-col_mainContent {
    width: 74.468085106%;
}

.investors-dashboard .grid-col_content {
    width: 70.5882353%;
}

.investors-dashboard .grid-col_rail {
    width: 29.4117647%;
}

.investors-dashboard .push {
    position: relative;
}

.investors-dashboard .push_1of5 {
    left: 20%;
}

.investors-dashboard .push_3of16 {
    left: 18.75%;
}

.investors-dashboard .push_6of16 {
    left: 37.5%;
}

.investors-dashboard .push_rail {
    left: 70.5882353%;
}

.investors-dashboard .pull {
    position: relative;
}

.investors-dashboard .pull_1of7 {
    left: -14.285714%;
}

.investors-dashboard .pull_3of5 {
    left: -60%;
}

.investors-dashboard .pull_4of5 {
    left: -80%;
}

.investors-dashboard .pull_3of16 {
    left: -18.75%;
}

.investors-dashboard .pull_6of16 {
    left: -37.5%;
}

.investors-dashboard .pull_content {
    left: -29.4117647%;
}

.investors-dashboard .grid .grid_spaced {
    margin-bottom: 20px;
}

.investors-dashboard .grid-col_rail .cta-margin-bottom {
    margin-bottom: 42px;
}

.investors-dashboard .isMobile {
    display: none;
}

.investors-dashboard .dashboard-wrapper {
    margin: 0 0 40px -40px;
}

.investors-dashboard .dashboard {
    width: 100%;
    padding-right: 2000px;
}

.investors-dashboard .dashboard-inner {
    position: relative;
}

.investors-dashboard .dashboard-inner:after {
    content: " ";
    width: 21px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAGCAYAAAFbUuU1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAI9JREFUeNpiZmRk9ATin0D8HSCAGICEMRDzAjEjQAAxQ2X4gZgFiP/DMEAAgSTsgJiDEQL+gQSZGLAAgAACyXoC6a9Q/AWIvwHxdyD+CcS/gfgvEP8DYYAAAil2gSqCafgGVQjCf6CKsVuFDRCtECDAYO4EuecXFKOzYRjmjD/Ibgc5C0ozQNnEO5MUQBNDAUTTLm71GO1rAAAAAElFTkSuQmCC);
}

.investors-dashboard .dashboard-timestamp {
    margin-left: 40px;
    right: 20px;
    left: 58.82%;
    /*CIBER added...*/
    font-size: 18px;
    /*CIBER changed...*/
    top: 20px;
}

.investors-dashboard .mix-dashboard_alt {
    text-align: right;
}

.investors-dashboard .dashboard-row {
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid #a9a9a9;
}

.investors-dashboard .dashboard-primary {
    width: 58.82%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 35px 0 11px 40px;
    float: left;
    border: 1px solid #fff;
    border-width: 0 1px 1px 0;
}

.investors-dashboard .dashboard-val_primary {
    font-size: 117px;
    letter-spacing: -2px;
}

.investors-dashboard .dashboard-secondary {
    width: 41.18%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 81px 40px 21px 40px;
    float: left;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #a9a9a9;
}

.investors-dashboard .dashboard-val_secondary {
    margin: 6px 0 0;
    font-size: 55px;
}

.investors-dashboard .dashboard-tertiary {
    /*CIBER changed...
		padding: 25px 40px 24px
            */
    padding: 21px 40px 24px;
}

.investors-dashboard .dashboard-val_tertiary {
    margin: 6px 0 0;
    font-size: 45px;
}

.investors-dashboard .dashboard-actions {
    padding: 21px 40px;
    border-top: 1px solid #fff;
    background: #00b5e6;
}


.investors-dashboard .dashboard-ico {
    width: 41px;
    height: 41px;
    margin: 9px 0 0 2px;
    background-position: 0 41px;
}

.investors-dashboard .dashboard-ico_inc {
    background-position: 0 0;
}

.investors-dashboard .dashboard-ico_desc {
    background-position: 0 -42px;
}

.investors-dashboard .grid-col.center > .grid-col-inner {
    padding-left: 13px;
}

.investors-dashboard .dashboard-action.dashboard-action_stock {
    padding-left: 59px;
    background-position: 0 -86px;
}

.investors-dashboard .dashboard-action.dashboard-action_calc {
    padding-left: 48px;
    background-position: -1px -135px;
}

.investors-dashboard .dashboard-action.dashboard-action_history {
    padding-left: 83px;
    background-position: 12px -186px;
}
