/* custom selects using jquery.selectric - this file has been modified (JJ) */

.selectricWrapper {
    position: relative;
    /*width: 300px;*/
    cursor: pointer;
}

.selectricResponsive {
    width: 100%;
}

.selectric {
    border: 1px solid #eee;
    border-radius: 3px;
    position: relative;
    border: hidden;
}

div.selectric {
    background-image: url('../../../-/media/gwmp/images/ui/select_bg.png')/*tpa=http://www.mylan.com/-/media/gwmp/images/ui/select_bg.png*/;
}

.selectric .label {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 30px 0 0;
    padding: 8px 6px 8px 10px;
    font-size: 14px;
    line-height: 18px;
    color: #555862;
    min-height: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.selectric .button {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 38px;
    height: 30px;
    color: #fff;
    border: 0;
    text-align: center;
    font: 0/0 a;
    *font: Arial Unicode MS,Arial;
    background-image: url('../../../-/media/gwmp/images/ui/select_arrow.png')/*tpa=http://www.mylan.com/-/media/gwmp/images/ui/select_arrow.png*/;
}

*.selectric .button:after {
    /*content: " ";*/
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-top-color: #BBB;
    border-bottom: none;
}

.selectricHover .selectric {
    border-color: #eee;
}

.selectricHover .selectric .button {
    color: #888;
}

.selectricHover .selectric .button:after {
    border-top-color: #888;
}

.selectricOpen {
    z-index: 9999;
}

.selectricOpen .selectric {
    border-color: #fff;
    border-radius: 0;
    background: #fff;
    z-index: 9999;
    text-decoration: underline;
}

.selectricOpen .selectric .button {
    background-image: url('../../../-/media/gwmp/images/ui/select_arrow.png')/*tpa=http://www.mylan.com/-/media/gwmp/images/ui/select_arrow.png*/;
    background-position: 0 -40px;
}

.selectricOpen .selectricItems {
    display: block;
}

.selectricDisabled {
    filter: alpha(opacity=50);
    opacity: 0.5;
    cursor: default;
    -webkit-touch-callout: none;
    user-select: none;
}

.selectricHideSelect {
    position: relative;
    overflow: hidden;
    width: 0;
    height: 0;
}

.selectricHideSelect select {
    position: absolute;
    left: -100%;
    display: none;
}

.selectricInput {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 1px !important;
    height: 1px !important;
    outline: none !important;
    border: none !important;
    *font: 0/0 a !important;
    background: none !important;
}

.selectricTempShow {
    position: absolute !important;
    visibility: hidden !important;
    display: block !important;
}

.selectricItems {
    display: none;
    position: absolute;
    overflow: auto;
    top: 100%;
    left: 0;
    background: white;
    border: 0;
    z-index: 9998;
    box-shadow: 0 0 10px -6px;
}

.selectricAbove .selectricItems {
    top: auto;
    bottom: 100%;
}

.selectricItems li:before {
    width: 0;
}

.selectricItems ul, .selectricItems li {
    list-style: none;
    padding: 0px;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    min-height: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.selectricItems li {
    display: block;
    padding: 3px 5px 3px 10px;
    border: 0;
    color: black;
    cursor: pointer;
}

.selectricItems li.selected {
    /*background: #3875d7;*/
    /*color: #fff;*/
    border-top-color: #E0E0E0;
}

.selectricItems li:hover {
    background: #3875d7;
    color: #fff;
}

.selectricItems li.disabled {
    background: #F5F5F5;
    color: #BBB;
    border-top-color: #FAFAFA;
    cursor: default;
}

/*custom additions by JJ*/

.selectricWrapper {
    min-width: 130px;
}
.selectricOuter.active {
    /*box-shadow: 0px 0px 0px 1px #ccc;*/
   outline:1px solid #cccccc;
}
.selectricWrapper.selectricOpen > .selectricItems {
    /*box-shadow: 0px 0px 0px 1px #ccc;*/
   outline:1px solid #cccccc;
    margin-left: 0px;
    border: 4px solid white;
    top: 34px;
    box-sizing:border-box;
    border-bottom-right-radius:3px;
    border-bottom-left-radius:3px;
}