#slideshow {
  height: 425px; }

#slides {
  width: 100%;
  float: left;
  z-index: -500;
  position: absolute;
  top: 140px;
  overflow: hidden; }

#page-content {
  width: 724px; }

#page-content .fixed-block {
  position: relative;
  top: 285px;
  background-color: white; }

#page-content .callout-bar {
  min-height: 110px;
  width: 724px; }

#page-content .callout-bar .title {
  width: 100%; }

#page-content .callout-bar .title .holder {
  margin-top: 18px;
  margin-left: 22px;
  margin-right: 22px;
  margin-bottom: 0; }

#page-content .callout-bar .title p {
  font-family: 'Arial', sans-serif;
  font-size: 26px; }

#page-content .callout-bar .callout {
  float: left;
  width: 100%; }

#page-content .callout-bar .callout .holder {
  margin: 12px 22px; }

#page-content .callout-bar .callout p {
  font-family: 'Arial', sans-serif;
  font-size: 14px; }

#page-content .body .copy {
  width: 677px; }

#page-content .body .promo {
  display: block;
  width: 266px;
  margin-left: 30px;
  margin-bottom: 35px; }

/* subpages */
#sectionNav {
  float: left;
  width: 181px; }

#sectionNav ul {
  margin-top: 5px; }

#sectionNav .subnav-header {
  margin-top: 15px; }

#sectionNav .dropdown-label {
  display: none; }

#page-content .bodyContainer {
  float: right;
  width: 543px; }

#page-content .bodyContainerFull .content {
  width: 96%; }

/*# sourceMappingURL=768.css.map */
