#slideshow {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1280px;
  height: 625px; }

#slides {
  width: 100%;
  float: left;
  z-index: -500;
  position: absolute;
  top: 70px;
  zoom: 1;
  overflow: hidden; }

#page-content {
  width: 940px; }

#page-content .fixed-block {
  position: relative;
  top: 295px;
  background-color: White;
  float: left; }

#page-content .callout-bar {
  width: 940px; }

#page-content .callout-bar .title {
  width: 235px; }

#page-content .callout-bar .title .holder {
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 15px; }

#page-content .callout-bar .title p {
  font-family: 'Arial', sans-serif;
  font-size: 26px;
  line-height: 28px; }

#page-content .callout-bar .callout {
  float: left;
  width: 705px;
  font-family: 'Arial', sans-serif;
  font-size: 14px; }

#page-content .callout-bar .callout .holder {
  margin: 15px 0; }

#page-content .callout-bar .callout p {
  font-family: 'Arial', sans-serif;
  font-size: 14px; }

/* UNUSED? */
#page-content .page-title {
  background-color: blue;
  color: white;
  background-color: #e01a2b; }

#page-content .body .copy {
  width: 893px; }

#page-content .body .promo {
  display: block;
  width: 313px;
  margin-left: 35px;
  margin-bottom: 35px; }

/* subpages */
#sectionNav {
  float: left;
  width: 234px; }

.fixed-block-community #sectionNav .subnav-header {
  margin-top: 15px; }

#sectionNav ul {
  margin-top: 5px; }

#sectionNav .dropdown-label {
  display: none; }

#page-content .bodyContainer {
  float: right;
  width: 706px; }

#page-content .bodyContainerFull .content {
  width: 97%; }

/*# sourceMappingURL=980.css.map */
