@charset "UTF-8";


 /*  Hide homepage-carousel until everything loaded, show it with script in homepage carousel widget template line 220 */ 

/*	.wei-slider {
    opacity: 0;
	}*/

	
 /*  from steve.css  */ 
	.wei-menu-li {
	font-size: 120%;
	}
	.text-menu-title {
	border-bottom: 1px solid #ddd;
	min-height: 58px;
	padding: 12px 0 0;
	margin: 0 !important; width: 100%;
	}
	.wei-slider-menu {
	height: 54px;
	}
	.wei-menu-li a {
	padding:17px 0;
	}
	.wei-section:last-child {
	margin-right: 0 !important;
	}
	.wei-section.s3.right-home {
	margin-right: 0 !important;
	}
	.wei-section.s5 {
	width: 28.7%;   min-height: 116px;
	}
	.ie7 .wei-section.s5 {
 	width: 28%;  /* ie7 */ 
	}
	
	.bottom-util {
	width:37.8%; float:right; margin:20px 0;
	}
	
	.ie7 .bottom-util {
	margin-right:8px;}
	
	.bottom-util-left {
    float: left;
    width: 47%;
	}
	
	.bottom-util-right {
    float: right;
    width: 47%;
	}
 	
	.long-feature {
    width: 59.8% !important; margin-bottom:0 !important;
	}
	
	.long-feature p {
    padding-left: 52%;
	}
	
	/*.long-feature .wei-section-action {
    float: right;
    width: 48%;
	}*/
	.ie7 .long-feature {
    width: 59% !important;
	}
	
	.long-feature img {
    float: left;
    margin: 0 3.7% 0 0;
    width: 48.6%;
	}
	.wei-section.s3 {
	float: left;
	width: 17.7%;
	}
	.wei-section {
	border-top: 1px solid #DDDDDD;
	color: #666666;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	margin: 20px 2.4% 20px 0;
	}
	.wei-section.s3 {
	width: 17.7%; /*  *width: 17%; ie7 */ 
	margin-bottom:0;
	}
 
	
	.home-stock-chart-wrppr {
	margin:0;
	/*padding:10px 0 0 3px;
	border: 1px solid #DDDDDD;*/
	min-height: 72px;
	background: url("../../Images/ticker_bg.png")/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/ticker_bg.png*/ repeat-x left top transparent;
	}
 

	.home-stock-quote1, .home-stock-hi-low {
	max-height: 50px;
	overflow: hidden;
	float:left; 
	text-align:center;
	
	}

	.home-stock-quote1 {
     background: url("../../../../../../../../quotes.corporate-ir.net/media_files/irol/10/101801/qi/hes_iframe.gif.jpg")/*tpa=http://quotes.corporate-ir.net/media_files/irol/10/101801/qi/hes_iframe.gif*/ no-repeat scroll left top transparent;
    height: 50px;
    width: 40%;
	float:left;
	margin: 1% 0 1% 1%;
	}
	.home-stock-hi-low {
  background: url("../../../../../../../../quotes.corporate-ir.net/media_files/irol/10/101801/qi/hes_iframe.gif.jpg")/*tpa=http://quotes.corporate-ir.net/media_files/irol/10/101801/qi/hes_iframe.gif*/ no-repeat scroll right top transparent; 
    height: 50px;
    width: 57%;
	float:right;
	margin: 1% 0  ;
	text-align:right;
	   background-size: 200% auto; 
	}
	.home-stock-quote2, .home-stock-hi-low2 {

	overflow: hidden;
	float:left; 
	text-align:center;
	height:72px;
	
	}

	.home-stock-quote2 {
        background: url("../../../../../../../../quotes.corporate-ir.net/media_files/IROL/10/101801/QI/hes_qi.jpg.gif")/*tpa=http://quotes.corporate-ir.net/media_files/IROL/10/101801/QI/hes_qi.jpg*/ no-repeat scroll left top transparent;

        width: 40px;
        /*width:40%;*/
	    float:left;
	}
	.home-stock-hi-low2 {
        background: url("../../../../../../../../quotes.corporate-ir.net/media_files/IROL/10/101801/QI/hes_qi.jpg.gif")/*tpa=http://quotes.corporate-ir.net/media_files/IROL/10/101801/QI/hes_qi.jpg*/ no-repeat scroll right top transparent; 

        width: 117px;
        /*width: 60%;*/
	    float:right;
	    text-align:right;

	}
	
	.home-stock-quote_new, .home-stock-quote_new img
	{
	    float:left;
	    width:100%;
	    height:72px;
	    max-width:206px;
	    
	}
	
	/*
	.home-stock-quote_new 
	{
	    max-height: 72px;
	    overflow: hidden;
	    float:left; 
	    
	    background: url("http://quotes.corporate-ir.net/media_files/IROL/10/101801/QI/hes_qi.jpg") no-repeat scroll left top transparent;
        background-size: 99% auto; 
        height: 72px;
        width: 100%;
	    float:left;
	    
	    display:block;
	    
	}
    */
	
/*	.home-stock-quote1 > img {
    max-width: 290% !important;
    width: 290%;
    }
	
	.home-stock-hi-low > img {
    float: right !important;
    max-width: 210% !important;
    width: 210%;*/
}
	.sf_colsOut:last-child {
    margin-bottom: 0 !important;
	}
/* ------------------------------------*\
	moved from wei.css
\*------------------------------------ */ 		

 
	.wei-section ul {
		margin:0 0 0 0;
	}
	.wei-section li {
	list-style:none;
	/*letter-spacing: -0.1px;*/
	line-height: 16px; 
    margin: 4px 0 0;
		}
	.wei-section li a {
		  display: inline;
	/*	 letter-spacing: -0.1px;*/
		}
	.wei-section .news-title {
	color:#000;
	
	}
	.wei-section h2 {
	color:#007a50;
	font-size:20px;
	font-weight:normal;
	line-height: 22px;	
	   margin: 8px 0 10px;
	}
	.wei-section h3
	{   margin: 0 0 10px; font-size:14px;}
	.wei-section-label {
	text-transform:uppercase;
	font-size:11px;
	font-weight:normal;
	margin: 0 0 8px;
	}
	.wei-section-action {
	margin: 10px 0 0;
	}
	.wei-section-action span.arrow {
  	display: inline-block; 
 	background: url(../../Images/icon_link_arrows.gif)/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/icon_link_arrows.gif*/ no-repeat top left; 
  	width: 14px; 
  	height: 14px;
	margin: 0 0 -2px 6px;	
	}
	.wei-section-action:hover span.arrow{
  	background: url(../../Images/icon_link_arrows.gif)/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/icon_link_arrows.gif*/ no-repeat bottom left; 
	}
	.wei-section-action span.light-arrow{
  	display: inline-block; 
  	background: url(../../Images/icon_link_arrows-light.gif)/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/icon_link_arrows-light.gif*/ no-repeat top left; 
  	width: 10px; 
  	height: 14px;
	margin: 0 0 -3px 3px;	
	}
	.wei-section-action:hover span.light-arrow{
  	background: url(../../Images/icon_link_arrows-light.gif)/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/icon_link_arrows-light.gif*/ no-repeat bottom left; 
	}
	.show-grid{
	margin:0 ;
	}
	.home-stock-infographic {
    border: 1px solid #DDDDDD;
    margin: 7px 0;
	}
	
	.ie7 span.light-arrow {background:none !important;}
 /*  Slider Captions  */ 
	.sf_colsIn .sf_cols {
    display: none !important;
	}
	.rdCenter	.sf_colsIn .sf_cols {
    display: block !important;
	}
	.wei-slider {
	color:#fff;
	}
	.wei-slider-menu {
	margin:0 0;
	overflow: hidden;
	background:#000;
	list-style:none;
	z-index:2;
	}
	.wei-slider-menuli {
	float:left;
	position:relative;
	}
	.wei-menu-li {
	color:#fff;
	white-space: nowrap;
	width: 25%; 
	float:left;
	text-align:center;
	border:none;
	background:url("../../Images/1px-20-white.png")/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/1px-20-white.png*/ no-repeat scroll left top transparent;
	}
	.ie7 .wei-menu-li {
	 width: 24.7%;  /* ie7 */ 
	}
	.wei-menu-li:first-child {
	background: none repeat scroll 0 0 transparent;
	}
	.wei-menu-li:last-child {
	margin-left:0px; /* width: 25% ; */ 
	}
	.wei-menu-li a {
	background: transparent;
	color:#fff;
	display:block;
	text-decoration:none;
	border-right: 1px solid transparent;
	}
	.wei-menu-li a:hover {
	background: #009900;
	border-right: 1px solid #009900;
	z-index:200;
	}
	.wei-menu-li-show {
	}
	.wei-menu-li-show a, .wei-menu-li-show a:hover {
	background-color: #007A50;
	border-color: #007A50;
	color:#fff;
	display:block;
	text-decoration:none;
	z-index: 55;
	}
	.wei-slider h2 {
	 font-size:245%;
	 text-shadow:2px 2px 4px rgba(0, 0, 0, 1), 1px 1px 5px rgba(0, 0, 0, 0.20); /* text-transform: capitalize;*/
	  /* For IE 8 */
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='#000000')";
/* For IE 5.5 - 7 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='#000000');
filter:DropShadow(Color=#000000, OffX=0, OffY=3);
	}
	 .wei-slider p {
	 font-size:22px;
	 text-shadow:1px 2px 2px rgba(0, 0, 0, 1), 1px 1px 5px rgba(0, 0, 0, 0.45); letter-spacing: 0.5px;
	 margin: 0 0 15px; line-height: 26px;
	 
	 /* For IE 8 */
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='#000000')";
/* For IE 5.5 - 7 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='#000000');
filter:DropShadow(Color=#000000, OffX=0, OffY=3);
	}
	
	 .ie7 .wei-slider p, .ie8 .wei-slider p {
	  
	 text-shadow:1px 2px 2px #000000  !important;}
 /* ------------------------------------*\
		CAROUSE
\*------------------------------------ */ 
/*	.carousel {
	background:#000;
	}*/
	#homepage-carousel {opacity:0;   }
	.items-container {width:4000px;}
	.wei-carousel-control-right {
	background: url("../../Images/hero_img_carousel_arrows_big.png")/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/hero_img_carousel_arrows_big.png*/ no-repeat scroll right top transparent;
	color: #FFFFFF;
	display: block;
	height: 57px;
	position: absolute;
	right: 0;
	top: 40%;
	width: 57px;
	}
	.wei-carousel-control-right:hover {
	background: url("../../Images/hero_img_carousel_arrows_big.png")/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/hero_img_carousel_arrows_big.png*/ no-repeat scroll right bottom transparent;
	}
	.wei-carousel-control-left {
	background: url("../../Images/hero_img_carousel_arrows_big.png")/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/hero_img_carousel_arrows_big.png*/ no-repeat scroll left top transparent;
	color: #FFFFFF;
	display: block;
	height: 57px;
	position: absolute;
	left: 0;
	top: 40%;
	width: 57px;
	}
	.wei-carousel-control-left:hover {
	background: url("../../Images/hero_img_carousel_arrows_big.png")/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/hero_img_carousel_arrows_big.png*/ no-repeat scroll left bottom transparent;
	}
	.wei-carousel-caption {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	top: 0;
	left: 0;
	right: 0;
	padding: 2% 7.5% 2.5%;
	position: absolute;
	/*white-space: nowrap;*/

	} 
	/*.wei-carousel-caption.right {
    left: auto;
    right: 0;
	}*/
	
	.Left-Bottom-65, .Left-Bottom-50, .Left-Bottom-35, .Right-Bottom-65, .Right-Bottom-50, .Right-Bottom-35 {
	bottom: 10px !important;
    top: auto  !important;
 
	}
	
	 .Left-Bottom-65,  .Right-Bottom-65 {
		min-height:133px;
	}
	 .Left-Bottom-50,  .Right-Bottom-50 {
		min-height:153px;
	}
	 .Left-Bottom-35,  .Right-Bottom-35 {
		min-height:173px;
	}
	
	.Right-65, .Right-50, .Right-35, .Right-Bottom-65, .Right-Bottom-50, .Right-Bottom-35 {
	right: 0 !important;
    left: auto  !important;
	}
	
	.Left-65, .Left-Bottom-65, .Right-65, .Right-Bottom-65 {
		 width: 55% !important;
	}
	
	.Left-50, .Left-Bottom-50, .Right-50, .Right-Bottom-50 {
		 width: 42% !important;
	}
	
	.Left-35, .Left-Bottom-35, .Right-35, .Right-Bottom-35 {
		 width: 29% !important;
	}
	
/*	.ShaleEnergy .wei-carousel-caption {
    bottom: 10px !important;
    top: auto  !important;
    width: 30% !important;
	min-height:168px;
	}
	.Marketing .wei-carousel-caption {width: 40% !important;}
	 .Offshore .wei-carousel-caption {width: 40% !important;}*/
	.wei-btn2 {
	background:#009a00;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:400;
	padding: 7px 18px 0px 18px;
	white-space:nowrap;
	border: 0;
	height:22px;
	margin: 5px 20px 5px 0;
	display:block;
	width:85px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
	}
	.wei-btn2:hover {
	color:#fff;
	background:#00bb00;
	text-decoration:none;
	}	
	 

 /* *********************** */ 
 /*  Homepage */ 
 /* ********************* */ 

	#home-list, .mobile-caption-item {
	display:none;
	}
	.carousel .item {
	float:left;
	}
	.left-feature {
	position:relative;
	}
	.right-feature {
	position:relative;
	}
	.feature-item {  /*  position:absolute; --commented by Wei */ 
	display:none;
	}
	
/*------------------------------------*\
	GLOBAL OFFICES DROPDOWN 
\*------------------------------------*/
	
	#menu-region * {
	padding:0;
	margin: 0;
	font: 11px Arial, Helvetica, sans-serif;
	list-style-type:none;
	}
	#menu-region {
	float: left;
	line-height: 10px;
	left: 200px;
	}
	#menu-region a {
	display: block;
	text-decoration: none;
	color: #fff;
	}
	#menu-region a:hover, #menu-region a:active {
	background: url("../../Images/bg_dumenu_btn.png")/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/bg_dumenu_btn.png*/ no-repeat scroll right -20px #007a50;
	/*box-shadow: 0 0 5px #eee;*/
	}
	#menu-region ul li ul li {
	width: 125px;
 
	background: #eee;
	z-index:1;
	}
	#menu-region ul li ul li a {
	font: 13px arial;
	font-weight:normal;
	padding: 10px 14px;
	color:#666;
	border-top:1px solid #fff;
	}
	#menu-region ul li ul li a:hover {
	background: #009900;
	color:#fff;
	border-top:1px solid #090;
	}
	#menu-region ul li {
	float: left;
	width: 125px;
	background: url("../../Images/bg_dumenu_btn.png")/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/bg_dumenu_btn.png*/ no-repeat scroll right -1px #949494;
	}
	
	#menu-region ul li:active {
	float: left;
	width: 125px;
	background: url("../../Images/bg_dumenu_btn.png")/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/bg_dumenu_btn.png*/ no-repeat scroll right -1px #007a50;
	}
	
	#menu-region ul li a {
	padding: 3px 6px;
	}
	#menu-region li {
	position:relative;
	float:left;
	}
	#menu-region ul li ul, #menu-region:hover ul li ul, #menu-region:hover ul li:hover ul li ul {
	display:none;
	list-style-type:none;
	width: 125px;
	}
	#menu-region ul li ul {
	/*border-bottom: 3px solid #007a50;
	margin-left:1px;
	box-shadow: 0 0 5px #aaa.wei-menu-li;*/
	}
	#menu-region:hover ul, #menu-region:hover ul li:hover ul, #menu-region:hover ul li:hover ul li:hover ul {
	display:block;
	}
	#menu-region:hover ul li:hover ul li:hover ul {
	position: absolute;
	margin-left: 145px;
	 /*margin-top: -2px; */
	font: 11px;
	}
	#menu-region:hover ul li:hover ul {
	position: absolute;
	margin-top: 0;
	font: 11px;
	}
	#menu-region>ul>li:hover>ul {
	bottom:100%;
	/*border-bottom: 1px solid transparent*/
	}
	@media only screen and (max-width:1200px) {
	 
	 
	  /* Home Stock Quote */ 
	  /*
	 .home-stock-quote2 {     background-size: 235% 72px; }
	 .home-stock-hi-low2 {     background-size: 175% 72px; }
*/
 }
 @media only screen and (max-width:1023px) {
	 
	 
	  /* Home Stock Quote */ 
	 .home-stock-quote1 {     background-size: 295% auto; }
	 .home-stock-hi-low {     background-size: 200% auto; }
 }
@media only screen and (max-width:960px) { 
	.wei-section.s5, .wei-section.s3 {
	width: 48%; margin-top: 20px !important;
	}
	
	

	.wei-section.s5.left-feature, .wei-section.s3.left-home {
	margin-right: 4%; margin-top: 20px !important;
	}
	.wei-section.s5.right-feature, .wei-section.s3.right-home {
	margin-right: 0%;
	}
	
	.long-feature {
    width: 100% !important; margin:0 !important;
	}
	.long-feature img {
    float: left;
    margin: 0 4% 0 0;
    width: 48%;
	}
	
		.bottom-util {
	width:100%;   margin:10px 0 20px;
	}
	
	.bottom-util-left {
    float: left;
    width: 48%;
	}
	
	.bottom-util-right {
    float: right;
    width: 48%;
	}
	  /* Home Stock Quote */ 
	  
	  .home-stock-chart-wrppr { 
	/*padding:8px 14px 0;*/
	  }
	 .home-stock-quote1 {  width:70px;   background-size: 100% cover; }
	 .home-stock-hi-low {   width:100px;   background-size: 100% cover; }
	 .home-stock-quote2 {  width:83px;   background-size: auto; }
	 .home-stock-hi-low2 {   width:123px;   background-size: auto; }
	
  .return-top> a { display:none; }
  	.wei-global-contact { 	float: right; 	}
	 .text-menu-title {
	  min-height: 44px;
    padding: 24px 0 0;
	margin: 0;
	}
		 /*  Carousel */ 
	 
	.wei-carousel-control-right {
	 background: url("../../Images/hero_img_carousel_arrows.png")/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/hero_img_carousel_arrows.png*/ no-repeat scroll right top transparent;
	 color: #FFFFFF;
	 display: block;
	 height: 33px;
	 position: absolute;
	 right: 0;
	 top: 38%;
	 width: 33px;
	}
	 .wei-carousel-control-right:hover {
	 background: url("../../Images/hero_img_carousel_arrows.png")/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/hero_img_carousel_arrows.png*/ no-repeat scroll right bottom transparent;
	}
	 .wei-carousel-control-left {
	 background: url("../../Images/hero_img_carousel_arrows.png")/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/hero_img_carousel_arrows.png*/ no-repeat scroll left top transparent;
	 color: #FFFFFF;
	 display: block;
	 height: 33px;
	 position: absolute;
	 left: 0;
	 top: 38%;
	 width: 33px;
	}
	 .wei-carousel-control-left:hover {
	 background: url("../../Images/hero_img_carousel_arrows.png")/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/hero_img_carousel_arrows.png*/ no-repeat scroll left bottom transparent;
	}
	
	 }
   @media only screen and (max-width:863px) {
 
	 .wei-carousel-caption {
	 padding: 1% 7.5% ;
	}
	 .wei-slider h2 {
	 font-size: 230%;
	}
	 .wei-slider p {
	 font-size: 18px;  line-height: 23px;
	}
   }
  
@media only screen and (max-width:768px) {
	   .wei-slider h2 {
	 font-size:198%;
	 line-height:normal;
	 font-family:HelveticaNeu, Arial, Helvetica, sans-serif; 
	 font-weight:bold;
	}
	 .wei-slider p {
	 font-size:17px; line-height: 22px;
	 
	 font-family:HelveticaNeu, Arial, Helvetica, sans-serif; 
	 margin: 0 0 10px; letter-spacing: 0.4px;
	}
	 #global_office_flash_swf {
	display:none;
	}
		
		
		.wei-section h2 {
    color: #007A50;
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;}
		 /*  Homepage  */ 
	
	 .wei-menu-li {
	font-size: 105%;
	}
	
	 .wei-slider-menu {
	height: 44px;
	}
	 .wei-menu-li a {
	padding:12px 0;
	}
	 .wei-section:nth-child(2n) {
	margin-right: 0;
	}
	 
	 .wei-section {
	margin: 1px 4% 0 0;
	} 
	  
	.mobile-menu {
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	height:35px;
	display:block;
	}
	 #mobile-menu {
	display:block;
	background:url(../../Images/btn_mobile_nav_menu.png)/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/btn_mobile_nav_menu.png*/ left top no-repeat;
	width:90px;
	height:34px;
	position: absolute;
	right: 30px;
	top: 20px;
	}
	
	 /*  MAIN NAV  */  
		#main-nav {
	display:none;
	}
	 #main-nav ul {
	width:100%;
	border:none;
	}
	 #main-nav ul li {
	background-color:#007a50;
	width:50%;
	margin:0;
	padding:5px 0;
	border-bottom:1px solid #fff;
	}
	 #main-nav ul li:hover {
	background:#fff;
	}
	 #main-nav ul li a {
	color:#fff !important;
	font-size:13px;
	width:100%;
	margin:0;
	padding:5px 0 !important;
	text-align:center;
	}
	 #main-nav ul li a:hover, #main-nav ul li:hover a {
	color:#007a50 !important;
	}
	 #main-nav ul li div {
	display:none !important;
	}
	 #main-nav .RadMenu_Sitefinity .rmHorizontal .rmItem a.rmLink .rmText {
	width: 100%;
	}
	 #main-nav .RadMenu_Sitefinity .rmItem a.rmFocused, #main-nav .RadMenu_Sitefinity .rmItem a.rmSelected {
	border:none !important;
	border-style: none !important;
	}
	/* #hdr-area div {
	min-height:0;
	}
	 #hdr-area {
	margin: 20px 0 0 0;
	border-bottom: none;
	padding-bottom: 0;
	}*/
	/* #logo-area img {
	max-width: 90px;
	width: 100%;
	}*/
	#util-area, #side-col {
    display: none;
	}
	}  /*  End 768  */ 
 @media only screen and (max-width:624px) {
	 
	 .Left-Bottom-65, .Left-Bottom-50, .Left-Bottom-35, .Right-Bottom-65, .Right-Bottom-50, .Right-Bottom-35 {
    bottom: 5px !important;
  ;
	 }
	 
	  .Left-Bottom-65,  .Right-Bottom-65 {
		min-height:120px;
	}
	 .Left-Bottom-50,  .Right-Bottom-50 {
		min-height:135px;
	}
	 .Left-Bottom-35,  .Right-Bottom-35 {
		  min-height: 150px;
	}
	
 .wei-carousel-caption {
padding: 0.2% 7.5% ;
	}
 .wei-slider h2 {
font-size: 165%;
	}
 .wei-slider p {
font-size: 13px;
	}
 .wei-menu-li a {
padding: 9px 0;
	}
 .wei-slider-menu {
height: 37px;
	}
 .wei-menu-li {
font-size: 88%;
	}
	}
	 @media only screen and (max-width:624px) {
 
	 .wei-btn2 {
	font-size: 13px;
	height: 19px;
	line-height: 16px;
	padding: 4px 8px 2px 12px;
	width: 80px;
	}
	 }
	 @media only screen and (max-width:560px) {
 .wei-slider h2 {
font-size: 150%;
	}
 .wei-slider p {
font-size: 13px;
	}
	

	 }
	 
	 @media only screen and (max-width:490px) {

	.home-stock-quote2 { width:40%;      }
	 .home-stock-hi-low2 { width:60%;      }
	 }
@media only screen and (max-width:480px) {
		
		.home-stock-quote2 {  width:83px;   background-size: 100% cover; }
	 .home-stock-hi-low2 {   width:123px;   background-size: 100% cover; }
		 /*  homepage */ 
	#homepage-carousel {
background: none repeat scroll 0 0 #000000;
padding-bottom: 148px;
min-height: 288px;
	}
 .wei-carousel-control-left, .wei-carousel-control-right {
display:none;
top: -2000px;
	}
 .wei-slider-menu {
height: 22px;
margin: 0 auto;
padding: 0 0 0 20px;
width: 170px;
	}
 #homepage-carousel {
padding-bottom: 10px; 
	}
 
 .wei-carousel-caption {
display:none;
	}
 .wei-slider h2 {
font-size: 148%;
font-weight:normal;
	}
 .wei-slider p {
font-size: 13px;
	}

 .wei-section.s5 {
width: 100%;
	}
 .wei-section.s3 {
width: 100%;
	}
	
	.long-feature img { 
    margin: 0 0 15px;
    width: 100%;
}
.long-feature p {
    padding-left: 0;
	}
	
	 
	
	.bottom-util-left {
    float: left;
    width: 100%;
	}
	
	.bottom-util-right {
    float: right;
    width: 100%;
	margin: 15px 0 0;
	}

 .text-menu-title {
border-bottom: none;
	}
  .return-top> a { display:block; }
  
   .wei-menu-li:first-child {
 background: url("../../Images/mobile-slider-off.gif")/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/mobile-slider-off.gif*/ no-repeat scroll center 40% transparent;
	}
 .wei-slider-menu li {
background: url("../../Images/mobile-slider-off.gif")/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/mobile-slider-off.gif*/ no-repeat scroll center 40% transparent;
border:none;
font-size: 0;
position: relative;
width: 40px;
	}
 .wei-slider .wei-menu-li-show {
background: url("../../Images/mobile-slider-on.gif")/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/mobile-slider-on.gif*/ no-repeat scroll center 40% transparent;
	}
 .wei-menu-li-show a, .wei-menu-li-show a:hover {
background: none;
	}
 .wei-menu-li a {
border:none;     padding: 9px 0;
	}
 .wei-menu-li a:hover {
background: none;
border-right: none;

	}
	.mobile-caption-item {
    padding: 0 4px;
	}
	.text-menu-title { 
    padding: 8px 0; }
	
	/* MENU REGIONAL OFFICES*/
	.wei-global-contact {
float: none;
	}
	 #menu-region { 
margin: 8px 0 0;
	}
	 #menu-region * {
font-size: 12px;
letter-spacing: 0;
	}
	 #menu-region a {
color: #007A50;
	}
	 #menu-region a:hover {
color: #007A50;
	}
	 #menu-region a:hover, #menu-region a:active {
background: url("../../Images/Funnel-For-Mobile -Dropdown.png")/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/Funnel-For-Mobile -Dropdown.png*/ no-repeat scroll right 11px #eee;
box-shadow: 0 0 5px #fff;
	}
	 #menu-region ul li, #menu-region ul li:hover {
width: 100%;
background: url("../../Images/Funnel-For-Mobile -Dropdown.png")/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/Funnel-For-Mobile -Dropdown.png*/ no-repeat scroll right 11px #eee;
	}
	 #menu-region ul li a {
padding: 10px 0 7px 16px;
cursor: default;
	}
	 #menu-region ul li ul li a {
padding: 8px 0 8px 32px;
color:#090;
cursor: pointer;
	}
	 #menu-region ul li ul li a:after {
content: url("../../Images/arr-r-009900.png")/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/arr-r-009900.png*/;
	}
	 #menu-region ul li ul li a:hover:after {
content: url("../../Images/arr-r-ffffff.png")/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/arr-r-ffffff.png*/;
	}
	 #menu-region:hover ul li:hover ul li:hover ul {
position: relative;
margin-left:0;
	}
	 #menu-region:hover ul li:hover ul {
position: relative;
margin-top:0;
	}
	 #menu-region ul li ul, #menu-region:hover ul li ul, #menu-region:hover ul li:hover ul li ul {
display:block;
width: 100%;
	}
	 #menu-region ul li ul {
margin-left: 0px;
	}
	 #menu-region ul li ul li {
width: 100%;
min-width:200px;
	}
	
	#mobile-menu {
    right: 20px;
	}
	
	/*wei mobile menu mod 1.14*/
	#menu-region {
    
    width: 100%;}
	.text-menu-title {
    padding: 8px 0 0;
}
	#menu-region ul li ul li {
    min-width: 100px;
    width: 49.8% !important;
}
#menu-region ul li ul {
    border-bottom: none;}
#menu-region   ul li:nth-child(even) {border-left:1px solid #fff;}
#menu-region ul li ul li a:after {
    content: ' ';
}
#menu-region ul li ul li a {
 padding: 8px 0;
    text-align: center;}
	
 }
  @media only screen and (max-width:420px) {
  
 #homepage-carousel {
min-height: 254px;
	}
 
	}
 @media only screen and (max-width:360px) {
 
 .wei-slider h2 {
font-size: 17.4px;
line-height:20px
	}
 .wei-slider p {
font-size: 13px;
	}
 #homepage-carousel {
min-height: 230px;
	}
 }