.halfAvailableWidth
{
	float:left;	
	text-align: left;
	display: inline;
	margin: 5px 0px;
	width: 50%;
	vertical-align: top;
}

.thirdAvailableWidth
{
	float:left;	
	text-align: left;
	display: inline;
	margin: 5px 0px;
	width: 33%;
	vertical-align: top;
}

.halfLeft
{
	width:50%;
}

.halfRight
{
	width:50%;
	float:right;
}

.halfLeft .scfSectionBorderAsFieldSet,
.halfRight .scfSectionBorderAsFieldSet
{
	margin : 0px;
	padding:0px;	
	border-width:0px ;
}

.halfLeft .scfEmailGeneralPanel,
.halfLeft .scfMultipleLineGeneralPanel,
.halfLeft .scfSingleLineGeneralPanel,
.halfLeft .scfPasswordGeneralPanel,
.halfLeft .scfNumberGeneralPanel,
.halfLeft .scfDatePickerGeneralPanel,
.halfLeft .scfDateGeneralPanel,
.halfLeft .scfRadioButtonListGeneralPanel,
.halfLeft .scfCheckBoxListGeneralPanel,
.halfLeft .scfFileUploadGeneralPanel,
.halfLeft .scfDateSelectorGeneralPanel,

.halfRight .scfEmailGeneralPanel,
.halfRight .scfMultipleLineGeneralPanel,
.halfRight .scfSingleLineGeneralPanel,
.halfRight .scfPasswordGeneralPanel,
.halfRight .scfNumberGeneralPanel,
.halfRight .scfDatePickerGeneralPanel,
.halfRight .scfDateGeneralPanel,
.halfRight .scfRadioButtonListGeneralPanel,
.halfRight .scfCheckBoxListGeneralPanel,
.halfRight .scfFileUploadGeneralPanel,
.halfRight .scfDateSelectorGeneralPanel
{
	margin: 0px;
	width: 80%;
	display: block;
	float:left;
	margin-bottom:10px;
}


.halfLeft .scfDropListBorder,
.halfLeft .scfEmailBorder,
.halfLeft .scfMultipleLineTextBorder,
.halfLeft .scfSingleLineTextBorder,
.halfLeft .scfPasswordBorder,
.halfLeft .scfNumberBorder,
.halfLeft .scfDatePickerBorder,
.halfLeft .scfDateBorder,
.halfLeft .scfRadioButtonListBorder,
.halfLeft .scfListBoxBorder,
.halfLeft .scfCheckBoxListBorder,
.halfLeft .scfFileUploadBorder,
.halfRight .scfDropListBorder,
.halfRight .scfEmailBorder,
.halfRight .scfMultipleLineTextBorder,
.halfRight .scfSingleLineTextBorder,
.halfRight .scfPasswordBorder,
.halfRight .scfNumberBorder,
.halfRight .scfDatePickerBorder,
.halfRight .scfDateBorder,
.halfRight .scfRadioButtonListBorder,
.halfRight .scfListBoxBorder,
.halfRight .scfCheckBoxListBorder,
.halfRight .scfFileUploadBorder
{
	text-align: left;
	display: block;
	margin: 0px;
	width: 100%;
	vertical-align: top;
}

.halfLeft .scfDropListLabel,
.halfLeft .scfEmailLabel,
.halfLeft .scfMultipleLineTextLabel,
.halfLeft .scfSingleLineTextLabel,
.halfLeft .scfPasswordLabel,
.halfLeft .scfNumberLabel,
.halfLeft .scfDatePickerLabel,
.halfLeft .scfDateLabel,
.halfLeft .scfRadioButtonListLabel,
.halfLeft .scfCheckBoxListLabel,
.halfLeft .scfListBoxLabel,
.halfLeft .scfFileUploadLabel,
.halfLeft .scfDateSelectorLabel,
.halfRight .scfDropListLabel,
.halfRight .scfEmailLabel,
.halfRight .scfMultipleLineTextLabel,
.halfRight .scfSingleLineTextLabel,
.halfRight .scfPasswordLabel,
.halfRight .scfNumberLabel,
.halfRight .scfDatePickerLabel,
.halfRight .scfDateLabel,
.halfRight .scfRadioButtonListLabel,
.halfRight .scfCheckBoxListLabel,
.halfRight .scfListBoxLabel,
.halfRight .scfFileUploadLabel,
.halfRight .scfDateSelectorLabel
{
	padding-bottom : 0px;
}



.halfLeft .scfValidator,
.halfRight .scfValidator
{
	margin: 0px;
	display:block;
	font-size :0.8em;
	position:absolute;
}

.halfLeft .scfValidatorRequired,
.halfLeft .scfRequired,
.halfRight .scfValidatorRequired,
.halfRight .scfRequired
{
	float:left;
}

/*behrreich hide labels*/
.scfSingleLineTextLabel
{
	display:none;
}

/*behrreich hide validators*/
span.scfValidator
{
	display:none !important;
}
/*End of hide*/

/*hidden section*/
.hiddenSection
{
	display:none;
}

/*other section*/
.scfSectionBorderAsFieldSet
{
	border:none !important;
}
.scfSectionBorder fieldset
{
	padding:0px;
	margin:0px;
}

/* Override default Forms section*/
.scfSectionBorderAsFieldSet
{
    padding: 0px !important;
    border: 0px !important;
    margin: 0px !important;
}

.scfSectionLegend
{
    padding: 7px 13px 8px 13px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 20px;
}

.scfSectionBorder
{
    margin: 0px !important;
    padding: 0px !important;
    width: 100%;
}

.scfSectionContent
{
    width: 100%;
    float: left;
}

.footer .footer-top-level input.email-signup {
	border:none;
	background:#fff;
	padding:8px 25px;
	width:65%;
}
.footer .footer-top-level input.email-signup-submit {
	border:none;
	background:url(../../../../ui/basic/images/icon-sprites.png)/*tpa=http://www.ryder.com/ui/basic/images/icon-sprites.png*/ no-repeat 0 -1000px;
	padding:8px 25px;
	position:relative;
	left:-3px;
}
/*.page-utility-accordion .accordion-input {
    border:1px solid #ddd;
    width:188px;
    height:24px;
    line-height:24px;
    background:#f7f7f7;
    padding:0 5px;
    margin-bottom:10px;
    color:#666;
    font-size:.91666666666667em;
}
.page-utility-accordion .accordion-input:focus {
    border:1px solid #ccc;
    background:#fff;
    color:#333;
}
.page-utility-accordion .accordion-input.error {
    border:1px solid #d92127;
    background:#fee9ea;
    color:#d92127;
}
.page-utility-accordion .accordion-submit {
    color:#d92127;
	background:#fff url(/ui/basic/images/icon-sprites.png) no-repeat 105% -793px;
	border:1px solid #d92127;
	padding:5px 20px 5px 10px;
	display:block;
	float:left;
	text-transform:uppercase;
	font-family: "Gill Sans MT", sans-serif;
	text-decoration:none;	
	font-size:0.8333333333333333em;
	float:right;
}
.page-utility-accordion .accordion-submit:hover {
    color:#fff;
	background-color:#d92127;
	background-position:105% -893px;
}*/