body   
{
    background:#f4f4f4;
    font-size:1.0em;
    font-family:Arial;
    margin:0px;
    padding:0px;
    color:#222;
}
a:visited
{
    color:#0356a5;
}

#CommonMainCont
{
	width:100%;
}
	
	/* Header */
	#CommonLogoSearchCont
	{
		background:#0054A4 url("../Images/bg-header.png")/*tpa=http://www.autoliv.com/Style%20Library/Autoliv/Images/bg-header.png*/ repeat-x top left;
		width:100%;
		height:85px;
		color:#fff;
	}
		#CommonLogoSearch
		{
			margin:0 auto;
			width:950px;
		}
			#CommonLogo
			{
				float:left;
				padding:20px 0 0 0;
				width:200px;
			}
			#CommonSearchLinks
			{
				float:right;
				width:600px;
				text-align:right;
				margin:5px 20px 10px 0;
			}
			#CommonSearchLinks p
			{
				margin:0;
				padding:0 4px 0 0;
			}
			#CommonSearchLinks a
			{
				font-size:0.7em;
				color:#fff;
				text-decoration:none;
				padding:0 0 0 15px;
			}
			#CommonSearchLinks a:visited
			{
				color:#fff;
			}
				#CommonSearchLinks input
				{
					margin:10px 0 0 0;
					width:250px;
					border:1px solid #1b5a96 !important;
					background:#3d7dba url("../Images/bg-search-top.png")/*tpa=http://www.autoliv.com/Style%20Library/Autoliv/Images/bg-search-top.png*/ repeat-x top left;
					color:#99BDCD;
					padding:6px 0 6px 27px;
					font:italic 0.84em Arial;
				}
				#CommonSearchLinks .ms-sbtable-ex
				{
				    float:right;
				}
				#CommonSearchLinks .ms-sbplain
				{
					width:250px !important;
					border:1px solid #1b5a96 !important;
				}
	
	/* Menu */
	#CommonMenuCont
	{
		clear:both;
		background:#cee1f3;
		height:32px;
		border-bottom:1px solid #9dbddc;
	}
		#CommonTopMenu
        {
            width: 1000px;
			margin-left: auto;
			margin-right: auto;
        }

		#CommonTopMenu ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}
		#CommonTopMenu ul li {
			display: block;
			position: relative;
			float: left;
			margin: 3px 0 0;
            padding: 3px 1px 8px;
		}
		#CommonTopMenu ul li:hover {
			border-right:1px solid #9dbddc;
			border-top:1px solid #9dbddc;
			border-left:1px solid #9dbddc;
			background:#B51540;
			color:#fff;
			padding:3x 0 0 0;
		}
		
		#CommonTopMenu ul li ul li:hover {
			border:0;
			background:#f7f7ff;
		}
			
		#CommonTopMenu ul li a {		    
			font:0.9em Arial;
		    color:#0054A4;
			text-decoration:none;
			/*padding:5px 15px 5px 15px;*/
			margin:3px 0 0 0;
			padding:3px 10px 7px;
			text-shadow:#e9f1fa 1px 1px 0;
			white-space: nowrap;
		}
		#CommonTopMenu .inactive a{
		    font-weight:bold;
		}
		#CommonTopMenu .active a{
		    font-weight:bold;
		}
		#CommonTopMenu ul li:hover a{
		    color:#fff;
		    text-shadow:0 0 0;
		}
		#CommonTopMenu ul li a:hover{
			font:bold 0.9em Arial;
		    color:#fff;
		    text-shadow:0 0 0;
		}
		#CommonTopMenu ul li table 
		{
		    z-index: 900;
			background:#f7f7ff;
			display:none;
			margin:3px 0 0 0;
			border-top:4px solid #B51540;
		}
		
		#CommonTopMenu ul li:hover table {
			display:block;
			border-right:1px solid #9dbddc;
			border-bottom:1px solid #9dbddc;
			border-left:1px solid #9dbddc;
			position:absolute;
			left:-1px;
			top:26px;
		}
		#CommonTopMenu .active {
			border-right:1px solid #9dbddc;
			border-top:1px solid #9dbddc;
			border-left:1px solid #9dbddc;
			background:#f7f7ff;
			margin:3px 0 0 0;
			padding:3px 15px 7px;
			font-weight:bold !important;
		}
	    
		#CommonTopMenu ul li:hover td {
			float: none;
		}
					
		#CommonTopMenu ul li table td {			
			padding: 5px;
			margin-right: 0px;
			margin-top: 0px;
			font:0.8em Arial;
			vertical-align: top;
			width: 300px;
		}
		
		#CommonTopMenu ul li table td ul li
		{
		    margin-right: 10px;
		    float: none;
		}
		
		#CommonTopMenu ul li table td p {			
			padding: 5px;
			margin-right: 0px;
			margin-top: 0px;
			font:0.76em Arial;
		}
		#CommonTopMenu ul li table td ul li a {
		    color:#0054A4 !important;
		}
			
		#CommonTopMenu ul li table td ul li a:hover{
			color: #b51540 !important;
		}
		
		#CommonTopMenu .menuChild
		{
		    font:normal 0.9em Arial !important;
		    left: 20px;
		    position: relative;
		}
		#CommonTopMenu .menuChild a
		{
		    font:normal 0.9em Arial !important;
		}
		
		#CommonTopMenu .menuParent a
		{
		    font-weight:bold !important;
		}
	
	/* Content */
	#CommonContentCont
	{
		background:#fff url("../Images/bg-content.png")/*tpa=http://www.autoliv.com/Style%20Library/Autoliv/Images/bg-content.png*/ repeat top left;
	}
	
	    .PanelContent
		{
		    border-top:1px solid #cfdeec;
		   	border-right:1px solid #cfdeec;
			border-left:1px solid #cfdeec;
			border-bottom:1px solid #cfdeec;
			background: #f7f7ff;
 /*         
            background: #cee3f7;
 */
		}
	
		#CommonContent
		{
			margin:0 auto;
			padding:0 0 15px 0;
			width:1020px;
			background:url("../Images/bg-content-main.png")/*tpa=http://www.autoliv.com/Style%20Library/Autoliv/Images/bg-content-main.png*/ repeat-y top left;
		}
		
		.commonFilterButton {
            height: 25px;
            width: 80px;
            border: 0;
            display:inline;
            margin: 0 0 -6px;
        }
        .commonInputBorder {
            border:1px solid #ccc;
        }
            
			/* Start */
			#ContactCont
			{
			    margin: 0 auto;
			    width:900px;
				padding:10px;
				background-color:#fff;
				border:1px solid #ccdceb;
			}
						
			.slider-movie
            {
                width:374px;
                height:100%;
                opacity:0.95;
                /*filter:alpha(opacity=95);*/
                position:absolute;
                top:0;
                right:0px;
            }
            .slider-movie-content
            {
                font-size: 0.9em;
                text-align: left;
                width:250px;
                height:100%;
                color:#FFFFFF;
                padding:30px 0;
                position:absolute;
                top:0;
                right:0px;
            }
            
            .slider-movie a,.slider-movie-content a
            {
                color: White;
            }
			
			#StartLevel1Cont
			{
				width:920px;
				margin:15px 0 10px 40px;
				padding:0;
				clear:both;
			}
				#StartSafety
				{
					font-size:0.7em;
					float:left;
					width:272px;
					margin:0 15px 0 0;
					padding:10px;
					border-top:4px solid #004f9a;
					border-right:1px solid #cfdeec;
					border-bottom:1px solid #cfdeec;
					border-left:1px solid #cfdeec;
					background:#fff;
				}
				#StartSafety h2
				{
					color:#0054A4;
					font:italic 2.60em Arial;
					padding:0;
					margin:0;
				}
				.startSafetyImg
				{
					padding:0;
					margin:6px 0 0 0;
				}
					.startSafetyLeftBoxCenter
					{
						float:left;
						width:49%;
						margin:0;
						padding:0;
						text-align:center;
					}
					.startSafetyRightBoxCenter
					{
						float:right;
						width:49%;
						margin:0;
						padding:0;
						text-align:center;
					}
					.startSafetyLeftBox
					{
						float:left;
						width:49%;
						margin:0;
						padding:0;
					}
					.startSafetyRightBox
					{
						float:right;
						width:49%;
						margin:0;
						padding:0;
						text-align:left;
					}

				#StartLife
				{
					font-size:0.7em;
					float:right;
					width:279px;
                    height:382px;
					margin:0 0 0 0;
					padding:10px;
					border:1px solid #cfdeec;
                    border-top:4px solid #b51540 ;
					background:#fff;
				}

					#StartLife h2
					{
						color:#0054A4;
						font:italic 2.60em Arial;
						padding:0;
						margin:0;
					}
			
			#StartNumbersCont
			{
				width:920px;
				height:92px;
				margin:10px 0 0 40px;
				padding:0;
				background:#fff url("../Images/bg-start-numbers.gif")/*tpa=http://www.autoliv.com/Style%20Library/Autoliv/Images/bg-start-numbers.gif*/ no-repeat top left;
				clear:both;
			}
				#StartNumbersCont h2
				{
					color:#fff;
					font:100 1.4em Arial;
					padding:9px 0 0 15px;
					margin:0;
				}
				#StartNumbers1
				{
					width:150px; 
					height:75px; 
					margin:8px 0; 
					float:left; 
					overflow:hidden; 
					position:relative;
				}
				#StartNumbers2
				{
					width:180px; 
					height:75px; 
					margin:8px 20px;
					float:left; 
					overflow:hidden; 
					position:relative;
					text-align:center;
				}
				#StartNumbers3
				{
					width:70px; 
					height:75px; 
					margin:8px 15px;
					float:left; 
					overflow:hidden; 
					position:relative;
					text-align:center;
				}
				#StartNumbers4
				{
					width:80px; 
					height:75px; 
					margin:8px 15px;
					float:left; 
					overflow:hidden; 
					position:relative;
					text-align:center;
				}
				#StartNumbers5
				{
					width:120px; 
					height:75px; 
					margin:8px 20px;
					float:left; 
					overflow:hidden; 
					position:relative;
					text-align:center;
				}
				#StartNumbers6
				{
					width:150px; 
					height:75px; 
					margin:8px 10px; 
					float:left; 
					overflow:hidden; 
					position:relative;
					text-align:center;
				}
				.startNumberText
				{
					font-size:0.70em;
					margin:-17px 0 0 0;
				}
				.startNumberDigit
				{
					font-size:2.40em;
					color:#e68138;
				}
			
			#StartLevel2Cont
			{
				width:920px;
				margin:15px 0 0 40px;
				padding:0;
				clear:both;
			}
				#StartWorking
				{
					font-size:0.7em;
					float:left;
					width:272px;
					margin:0;
					padding:10px;
					border-top:4px solid #004f9a;
					border-right:1px solid #cfdeec;
					border-bottom:1px solid #cfdeec;
					border-left:1px solid #cfdeec;
					background:#fff;
				}
					#StartWorking h2
					{
						color:#0054A4;
						font:1.60em Arial;
						padding:0;
						margin:0;
					}
				#StartPressFocus
				{
					font-size:0.7em;
					float:left;
					width:589px;
					margin:0 0 0 15px;
					padding:10px;
					border-top:4px solid #004f9a;
					border-right:1px solid #cfdeec;
					border-bottom:1px solid #cfdeec;
					border-left:1px solid #cfdeec;
					background:#fff;
				}
					#StartPressFocus h2
					{
						color:#0054A4;
						font:1.60em Arial;
						padding:0;
						margin:0;
					}
					#StartPress
					{
						float:left;
						width:250px;
					}
						#StartPress h2
						{
							padding-bottom:6px;
						}
						.pressP3
						{
							margin:0;
							padding-bottom:3px;
						}
						.pressHeader
						{
							color:#222;
							font-weight:bold;
							text-decoration:none;
						}
						.pressDate
						{
							color:#767676;
						}
					#StartFocus
					{
						float:right;
						width:270px;
						border-left:1px solid #cfdeec;
						padding:0 0 0 20px;
					}
			
			#StartPartnersCont
			{
				width:920px;
				height:74px;
				margin:10px 0 0 40px;
				padding:0;
				background:#fff url("../Images/bg-start-partners.gif")/*tpa=http://www.autoliv.com/Style%20Library/Autoliv/Images/bg-start-partners.gif*/ no-repeat top left;
				clear:both;
			}
				#StartPartnersCont h2
				{
					color:#fff;
					font:100 1.4em Arial;
					padding:22px 0 0 15px;
					margin:0;
				}
				#StartPartners1
				{
					float: left;
				}
				#StartPartners2
				{
					position: relative;
					left: 45px;
					top: 5px;
					float: left;
				}
				
				#StartPartners2 #brandLinks ul li {
					width: 80px;
					height: 64px;
					margin-right: 5px;
					margin-left: 5px;
				}
				
				#StartPartners2 #brandLinks a img {
					border: 0;
				}
				
				#StartPartners2 #brandLinks .prev, .next {
					float: left;
					margin-right: 10px;
					margin-left: 5px;
				}
			
			/* Contact */
			#ContactCont
			{
			    margin: 0 auto;
			    width:900px;
				padding:10px;
				background-color:#fff;
				border:1px solid #ccdceb;
				font-size: 0.7em;
			}
			#ContactCont h1
			{
				color:#0054A4;
				font:italic 2.60em Arial;
				padding:0;
				margin:0 0 10px 0;
			}
			
			/* Main */
			#MainBreadCont
			{
				font-size:0.7em;
				width:920px;
				margin:0 0 0 70px;
				padding:4px 0 0 0;
				clear:both;
			}
				.mainBreadArrow
				{
					color:#b51540;
					font:bold 1.4em Comic Sans MS;
					line-height:0.6em;
					padding:0;
					margin:0 2px;
				}
			
			#MainContentCont
			{
				width:920px;
				margin:0 0 10px 40px;
				padding:0;
				clear:both;
			}
			#MainContentFull
				{
					font-size:0.7em;
					float:left;
					width:910px;
					margin:0;
				}
				
					#MainContentFullArticle
					{
						margin:0;
						padding:30px 40px;
						border-top:4px solid #004f9a;
						border-right:1px solid #cfdeec;
						border-left:1px solid #cfdeec;
						border-bottom:1px solid #cfdeec;
						background:#fff;
					}
				#MainContentLeft
				{
					font-size:0.7em;
					float:left;
					width:612px;
					margin:0;
				}
					#MainContentLeftArticle
					{
						margin:0;
						padding:30px 40px;
						border-top:4px solid #004f9a;
						border-right:1px solid #cfdeec;
						border-left:1px solid #cfdeec;
						border-bottom:1px solid #cfdeec;
						background:#fff;
					}
						#MainContentLeftArticle h1
						{
							color:#0054A4;
							font:italic 2.60em Arial;
							padding:0;
							margin:0 0 10px 0;
						}
						#MainContentLeftShare
						{
							margin:20px 0 0 0;
							padding:6px 0 0 0;
							border-top:1px solid #cfdeec;
						}
						.extNewsListImg
						{
							margin:0 0 40px 0;
						}
						.extNewsListHeader, .extNewsHeader
						{
							font:1.8em Arial;
							padding:0;
							margin:0;
						}
						.extNewsListHeader a, .extNewsListHeader a:hover, .extNewsListHeader a:visited
						{
							color:#0054A4;
							text-decoration:none;
							padding:0;
							margin:0;
						}
						.extNewsListAbstract
						{
							padding:0;
							margin:4px 0 0 0;
						}
						.extNewsListDate, .extNewsDate
						{
							color:#777;
							padding:0;
							margin:4px 0 0 0;
						}
						#FilterCont
						{
							border:1px solid #cfdeec;
							background:#f0f5fa;
							padding:6px 8px;
							width:510px;
						}
						#PagingCont
						{
							text-align:center;
							font-weight:bold;
						}
					#MainContentLeftPushCont
					{
						padding:5px 0 5px 0;
						margin:15px 0 0 0;
						width:100%;
						background:#fff;
						border-top:4px solid #004f9a;
					}
					#MainContentLeftPushCont h2
					{
						color:#0054A4;
						font:1.6em Arial;
						padding:0 0 0 15px;
						margin:0;
					}
					#MainContentLeftPushCont h3
					{
						color:#0054A4;
						font:1.2em Arial;
						padding:0;
						margin:0;
					}
						#MainContentLeftPush1
						{
							width:173px;
							margin:8px 0; 
							float:left; 
							overflow:hidden; 
							position:relative;
							border-right:1px solid #9dbddc;
							padding:2px 15px 2px 15px;
						}
						#MainContentLeftPush2
						{
							width:173px;
							margin:8px 0; 
							float:left; 
							overflow:hidden; 
							position:relative;
							border-right:1px solid #9dbddc;
							padding:2px 15px 2px 15px;
						}
						#MainContentLeftPush3
						{
							width:173px;
							margin:8px 0; 
							float:left; 
							overflow:hidden; 
							position:relative;
							padding:2px 15px 2px 15px;
						}
					#MainContentLeftJob
					{
						height:92px;
						margin:15px 0 0 0;
						padding:0;
						background:#fff url("../Images/bg-career-job.gif")/*tpa=http://www.autoliv.com/Style%20Library/Autoliv/Images/bg-career-job.gif*/ no-repeat top left;
					}
						#MainContentLeftJob h2
						{
							color:#fff;
							font:1.8em Arial;
							padding:12px 0 0 15px;
							margin:0;
						}
						#MainContentLeftJob1
						{
							width:185px; 
							height:75px; 
							margin:20px 0; 
							float:left; 
							overflow:hidden; 
							position:relative;
						}
						#MainContentLeftJob2
						{
							width:378px; 
							height:55px; 
							margin:25px 0 8px 20px;
							float:left; 
							overflow:hidden; 
							position:relative;
							text-align:center;
						}
						.mainContentLeftJobText
						{
							
						}
						.mainContentLeftJobDigit
						{
							font-size:2.8em;
							color:#e68138;
						}
						
					#MainContentLeftFinancial
					{
						height:92px;
						margin:15px 0 0 0;
						padding:0;
						background:#fff url("../Images/bg-article-financial.gif")/*tpa=http://www.autoliv.com/Style%20Library/Autoliv/Images/bg-article-financial.gif*/ no-repeat top left;
					}
						#MainContentLeftFinancial h2
						{
							color:#fff;
							font:1.8em Arial;
							padding:12px 0 0 15px;
							margin:0;
						}
						#MainContentLeftFinancial1
						{
							width:130px; 
							height:75px; 
							margin:8px 0; 
							float:left; 
							overflow:hidden; 
							position:relative;
						}
						#MainContentLeftFinancial2
						{
							width:128px; 
							height:75px; 
							margin:8px 15px 8px 8px;
							float:left; 
							overflow:hidden; 
							position:relative;
							text-align:center;
						}
						#MainContentLeftFinancial3
						{
							width:75px; 
							height:75px; 
							margin:8px 8px 8px 0;
							float:left; 
							overflow:hidden; 
							position:relative;
							text-align:center;
						}
						#MainContentLeftFinancial4
						{
							width:75px; 
							height:75px; 
							margin:8px 25px 8px 32px;
							float:left; 
							overflow:hidden; 
							position:relative;
							text-align:center;
						}
						#MainContentLeftFinancial5
						{
							width:75px; 
							height:75px; 
							margin:8px 0 8px 20px;
							float:left; 
							overflow:hidden; 
							position:relative;
							text-align:center;
						}
						
					#MainContentLeftNumbers
					{
						height:92px;
						margin:15px 0 0 0;
						padding:0;
						background:#fff url("../Images/bg-article-numbers.gif")/*tpa=http://www.autoliv.com/Style%20Library/Autoliv/Images/bg-article-numbers.gif*/ no-repeat top left;
					}
						#MainContentLeftNumbers h2
						{
							color:#fff;
							font:1.8em Arial;
							padding:12px 0 0 15px;
							margin:0;
						}
						#MainContentLeftNumbers1
						{
							width:130px; 
							height:75px; 
							margin:8px 0; 
							float:left; 
							overflow:hidden; 
							position:relative;
						}
						#MainContentLeftNumbers2
						{
							width:128px; 
							height:75px; 
							margin:8px 30px 8px 25px;
							float:left; 
							overflow:hidden; 
							position:relative;
							text-align:center;
						}
						#MainContentLeftNumbers3
						{
							width:50px; 
							height:75px; 
							margin:8px 0;
							float:left; 
							overflow:hidden; 
							position:relative;
							text-align:center;
						}
						#MainContentLeftNumbers4
						{
							width:64px; 
							height:75px; 
							margin:8px 25px 8px 28px;
							float:left; 
							overflow:hidden; 
							position:relative;
							text-align:center;
						}
						#MainContentLeftNumbers5
						{
							width:105px; 
							height:75px; 
							margin:8px 0;
							float:left; 
							overflow:hidden; 
							position:relative;
							text-align:center;
						}
						.mainContentLeftText
						{
							
						}
						.mainContentLeftDigit
						{
							font-size:2.60em;
							color:#e68138;
						}
						
					.mainContentLeftBox
					{
						margin:15px 0 0 0;
						padding:15px;
						border:1px solid #cfdeec;
						background:#fff;
					}
					    .mainContentLeftBox h2
					    {
						    color:#0054A4;
						    font:1.60em Arial;
						    padding:0;
						    margin:0;
					    }
					    .mainContentLeftBox h3
					    {
						    color:#0054A4;
						    font:1.20em Arial;
						    padding:0;
						    margin:0;
					    }
					    .mainContentLeftBoxImg
					    {
						    float:left;
						    margin:0 15px 0 0;
					    }
					    .mainContentLeftInfoCont
					    {
						    margin:15px 0 0 0;
						    padding:30px 40px;
						    border-top:4px solid #004f9a;
						    border-right:1px solid #cfdeec;
						    border-left:1px solid #cfdeec;
						    border-bottom:1px solid #cfdeec;
						    background:#fff;
					    }
						    .mainContentLeftInfoCont h2
						    {
							    color:#0054A4;
							    font:1.6em Arial;
							    padding:0;
							    margin:0;
						    }
						    .mainContentLeftInfoCont p
						    {
							    padding:0;
							    margin:0;
						    }
						    .calLeft
						    {
							    float:left;
							    width:75px;
							    height:80px;
							    background:#fff url("../Images/bg-content-date.png")/*tpa=http://www.autoliv.com/Style%20Library/Autoliv/Images/bg-content-date.png*/ no-repeat top left;
						    }
							    .calLeftMonth
							    {
								    color:#fff;
								    font:bold 1.2em Arial;
								    height:18px;
								    margin:0;
								    padding:4px 0 0 0;
								    text-align:center;
								    clear:both;
							    }
							    .calLeftDay
							    {
								    font:bold 2.4em Arial;
								    height:57px;
								    margin:0;
								    padding:14px 0 0 0;
								    text-align:center;
								    clear:both;
							    }
						    .calRight
						    {
							    float:right;
							    width:420px;
						    }
					
				#MainContentRight
				{
					font-size:0.7em;
					float:right;
					width:294px;
					margin:0 0 0 10px;
				}
					#MainContentRightMenu
					{
						margin:0;
						padding:15px 5px 5px 5px;
						border-top:4px solid #b51540;
						border-right:1px solid #cfdeec;
						border-left:1px solid #cfdeec;
						border-bottom:1px solid #cfdeec;
						background:#fff;
					}
					#MainContentRightMenu h2
					{
						color:#b51540;
						font:italic bold 1.60em Arial;
						text-align:center;
						padding:0;
						margin:0 0 10px ;
						cursor:pointer;
						cursor:hand;
					}
					#MainContentRightMenu ul
					{
						margin:0 2px;
						padding:0;
						list-style:none;
					}
					#MainContentRightMenu ul ul
					{
						color:#e00000;
						margin:6px 0 0 0;
					}
					#MainContentRightMenu li
					{
						display:list-item;
						padding:6px 8px;
						border-bottom:1px solid #9dbddc;
						color:#0356a5;
					}
					#MainContentRightMenu li li
					{
						display:list-item;
						margin:0 -8px 0 25px;
						padding:4px 8px;
						border-top:1px solid #9dbddc;
						border-bottom:none;
						color:#0356a5;
					}
					.mainContentRightMenuAdd
					{
						background:#fff url("../Images/bg-submenu-add.gif")/*tpa=http://www.autoliv.com/Style%20Library/Autoliv/Images/bg-submenu-add.gif*/ no-repeat top right;
					}
					.mainContentRightMenuHide
					{
						display:none;
					}
					.mainContentRightMenuShow
					{
						display:block;
					}
					.mainContentRightMenuSub
					{
						background:#fff url("../Images/bg-submenu-sub.gif")/*tpa=http://www.autoliv.com/Style%20Library/Autoliv/Images/bg-submenu-sub.gif*/ no-repeat top right;
					}
					#MainContentRightMenu #menu ul li a, #MainContentRightMenu li a:visited
					{
						color:#0356a5;
						text-decoration:none;
					}
					#MainContentRightMenu #menu ul li a:hover
					{
						color:#b51540;
						text-decoration:none;
						padding:0;
					}
					#MainContentRightMenu li .active a 
					{
						/*font-style:italic;
						color:#b51540;
						background:#f0f5fa;
						text-decoration:none;
						padding:0;
						border-top:1px solid #9dbddc;
						border-right:1px solid #9dbddc;
						border-bottom:2px solid #f0f5fa;
						border-left:1px solid #9dbddc;*/
					}
					
					.mainContentRightBox
					{
						margin:15px 0 0 0;
						padding:15px 15px 5px 15px;
						border-top:4px solid #004f9a;
						border-right:1px solid #cfdeec;
						border-left:1px solid #cfdeec;
						border-bottom:1px solid #cfdeec;
						background:#fff;
					}
					.mainContentRightBox h2
					{
						color:#0054A4;
						font:1.60em Arial;
						padding:0;
						margin:0;
					}
					.mainContentRightBoxImg
					{
						margin:10px 0 0 0;
						padding:0;
					}
					
			/* Product */
			#ProductStartFlash
			{
			    margin: 0 auto;
				background-color:#fff;
				text-align:center;
/*
			    width:900px;
				padding:10px;
				border-top:4px solid #004f9a;
*/
			}
			#ProductFlashCont
			{
				padding:15px 0 0 0px;
				margin:0 0 0 50px;
				width:920px;
				height:450px;
				background:#fff;
				border-top:4px solid #004f9a;
				text-align:center;
				clear:both;
			}
			
			.productListCont
			{
				font-size:0.7em;
				padding:15px;
				margin:0 0 15px 50px;
				width:890px;
				border-top:4px solid #004f9a;
				border-right:1px solid #cfdeec;
				border-bottom:1px solid #cfdeec;
				border-left:1px solid #cfdeec;
				background:#fff;
			}
			.productSingleListCont
			{
				padding:15px;
				margin:15px 0;
				width:580px;
				border-top:4px solid #004f9a;
				border-right:1px solid #cfdeec;
				border-bottom:1px solid #cfdeec;
				border-left:1px solid #cfdeec;
				background:#fff;
			}
			.productListCont h2, .productSingleListCont h2
			{
				color:#0054A4;
				font:2em Arial;
				padding:0;
				margin:0;
			}
				.productList
				{
					margin:5px 0 5px 0;
					padding:15px;
					border-bottom:1px solid #cfdeec;
				}
				.productList h3
				{
					color:#0054A4;
					font:1.60em Arial;
					padding:0;
					margin:0;
				}
				.productListImg
				{
					float:left;
					margin:0 15px 0 0;
				}
			
			#ProductPushCont
			{
				padding:5px 0 5px 0;
				margin:15px 0 0 40px;
				width:920px;
				background:#fff;
				border-top:4px solid #004f9a;
				font:0.7em Arial;
			}
			#ProductPushCont h2
			{
				color:#0054A4;
				background:#fff;
				font:1.60em Arial;
				padding:0;
				margin:0;
			}
				#ProductPush1
				{
					width:196px;
					background:#fff;
					margin:8px 0; 
					float:left; 
					overflow:hidden; 
					position:relative;
					border-right:1px solid #9dbddc;
					padding:2px 15px 2px 15px;
				}
				#ProductPush2
				{
					width:196px;
					margin:8px 0; 
					background:#fff;
					float:left; 
					overflow:hidden; 
					position:relative;
					border-right:1px solid #9dbddc;
					padding:2px 15px 2px 15px;
				}
				#ProductPush3
				{
					width:196px;
					margin:8px 0; 
					background:#fff;
					float:left; 
					overflow:hidden; 
					position:relative;
					border-right:1px solid #9dbddc;
					padding:2px 15px 2px 15px;
				}
				#ProductPush4
				{
					width:196px;
					margin:8px 0; 
					background:#fff;
					float:left; 
					overflow:hidden; 
					position:relative;
					padding:2px 15px 2px 15px;
				}
	
	/* Footer */
	#CommonFooterSearchCont
	{
		background:#0054A4;
		margin:0;
		padding:0;
		height:40px;
	}
		#CommonFooterMoreSearch
		{
			margin:0 auto;
			width:920px;
			clear:both;
		}
			#CommonFooterMoreButton
			{
				float:left;
				margin:6px 10px 6px 0;
				padding:4px 10px;
				border:1px solid #003364;
				color:#fff;
				font-size:0.8em;
				cursor:pointer;
			}
			
			#CommonFooterSubscribeButton {
                background: url('../Images/subscribebtn.png')/*tpa=http://www.autoliv.com/Style Library/Autoliv/Images/subscribebtn.png*/;                
                float: left;
                height: 25px;
                width: 80px;
                cursor: pointer;
                border: 0;
            }
			
			
			#CommonFooterSearch
			{
				float:right;
				margin:5px 0;
				width:400px;
				text-align:right;
			}
			    #CommonFooterSearch input
				{
					margin:0;
					width:250px;
					border:1px solid #1b5a96 !important;
					background:#3d7dba url("../Images/bg-search-bottom.png")/*tpa=http://www.autoliv.com/Style%20Library/Autoliv/Images/bg-search-bottom.png*/ repeat-x top left;
					color:#99BDCD;
					padding:6px 0 6px 27px;
					font:italic 0.84em Arial;
				}
				#CommonFooterSearch .ms-sbtable-ex
				{
				    float:right;
				}
				#CommonFooterSearch .ms-sbplain
				{
					width:250px !important;
					border:1px solid #1b5a96 !important;
				}
		
		#CommonFooterMoreWrapper{
				width: 920px;
				float: left;
				background-color: #fff;
				border:1px solid #ccc;
				margin-top: 0px;
				display:none;
			}
		
			    #CommonFooterMoreContent {
				    margin: 20px;
				    float: left;
			    }
			
			        #CommonFooterMoreContent .box
			        {
				        float: left;
				        font: bold 0.9em Arial;
				        color: white;
				        padding: 5px 10px 5px 10px;
				        clear:none;
				        width:270px;
			        }
			
			            #CommonFooterMoreContent .box ul {
				            list-style-type: none;
				            margin:5px 0 0 -20px;
				            font:0.76em Arial;
			            }
		
	#CommonFooterStockQuickLinksCont
	{
		background:#fff url("../Images/bg-footer-stock.png")/*tpa=http://www.autoliv.com/Style%20Library/Autoliv/Images/bg-footer-stock.png*/ repeat-x bottom left;
		height:180px;
		margin:0;
		padding:0;
		border-bottom:1px solid #cbdcec;
	}
		#CommonFooterStockQuickLinks
		{
			margin:0 auto;
			width:920px;
			clear:both;
		}
		#CommonFooterStockQuickLinks h2
		{
			color:#0054A4;
			font:1.30em Arial;
			padding:0 0 10px 0;
			margin:0;
		}
		#CommonFooterStockQuickLinks p
		{
			padding:0 0 3px 0;
			margin:0;
			font-size:0.7em;
		}
			#CommonFooterStock
			{
				width:290px; 
				height:120px; 
				margin:10px 0 0 0;
				padding:1px 10px 0 5px;
				float:left; 
				overflow:hidden; 
				position:relative;
			}
				#FooterStockNyseSse
				{
					background:url("../Images/bg-footer-stock-divider.png")/*tpa=http://www.autoliv.com/Style%20Library/Autoliv/Images/bg-footer-stock-divider.png*/ no-repeat top left;
					width:280px;
					height:100px;
					padding:0;
					margin:0;
				}
					#FooterStockNyse
					{
						float:left;
						width:110px;
						margin:0 30px 0 0;
						text-align:center;
					}
					#FooterStockSse
					{
						float:right;
						width:110px;
						margin:0 15px 0 0;
						text-align:center;
					}
				.footerText
				{
					font-size:0.70em;
				}
				.footerDigit
				{
					font-size:2.40em;
					color:#222;
				}
			#CommonFooterSubscribe
			{
				width:282px; 
				height:150px; 
				margin:10px 0 0 0;
				padding:1px 10px 0 15px;
				float:left; 
				overflow:hidden; 
				position:relative;
				border-left:1px solid #cfdeec;
			}
			#CommonFooterLinks
			{
				width:274px; 
				height:120px; 
				margin:10px 0 0 0;
				padding:1px 10px 10px 15px;
				float:left; 
				overflow:hidden; 
				position:relative;
				border-left:1px solid #cfdeec;
			}
		
	#CommonFooterDisclaimerCont
	{
		background:#fff;
		height:150px;
		margin:0 0 -16px 0;
		padding:0;
	}
		#CommonFooterDisclaimer
		{
			font-size:0.7em;
			margin:0 auto;
			width:920px;
			clear:both;
		}
			#CommonFooterDisclaimerLeft
			{
				color:#767676;
				float:left;
				width:570px;
			}
			#CommonFooterDisclaimerLeft img
			{
				margin:0 20px 50px 0;
			}
			#CommonFooterDisclaimerRight
			{
				color:#0356a5;
				float:right;
				width:250px;
				text-align:right;
				padding:10px 0 0 0;
			}
				.commonDisclaimerArrow
				{
					color:#0356a5;
					font:bold 1.4em Comic Sans MS;
					line-height:0.6em;
					padding:0;
					margin:0 2px;
				}

/* Common classes */
.clearDiv
{
	clear:both;
}
.articleAbstract
{
	font-size:1.6em;
}
.alvLogoBtm
{
	float:left;
	margin:0 20px 0 0;
	padding:0;
}
.arrowLinkIcon
{
	float:left;
	margin:0 6px 0 0;
	padding:0;
}
.shareText
{
	font-weight:bold;
	vertical-align:15%;
}
.blueLink, .blueLink a:visited
{
	color:#0356a5;
	padding:0;
	text-decoration:none;
	vertical-align:30%;
}
.blueLinkHeader, .blueLinkHeader a:visited
{
	color:#0356a5;
	padding:0;
	text-decoration:none;
}
.blueLinkFooter, .blueLinkFooter a:visited
{
	color:#0356a5;
	padding:0;
	text-decoration:none;
	vertical-align:15%;
}
.p2
{
	margin:0;
	padding-bottom:2px;
}
.p5
{
	margin:0;
	padding-bottom:5px;
}
.p10
{
	margin:0;
	padding-bottom:10px;
}
div.ui-datepicker
{
    font-size:12px;
}

.dialogContent{
	font-family: verdana !important;
	font-size:10px !important;
}
.ui-dialog-titlebar{
	background:#004F9A !important;
}
.ui-dialog-title{
	color:#fff !important;
	font-size:14px !important;
}
.ui-dialog{
	width:800px !important;
}

.ms-rteStyle-AutolivBlueText
{
    -ms-name:"Autoliv Blue Text";
    color: #0054A4;
}
