#bannerfullbger
{
	width:100%;
	height:454px;
	top:0px;
	left:0px;
	position:absolute;
}
#slides {
	position:relative;
	z-index:0;
	width:1064px;
    height:454px;
	margin:0 auto;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/

.slides_container {
	width:100%;
	height:454px;
	overflow:hidden;
	position:relative;
	display:none;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

.slides_container div.slide {

    width:1064px;
    height:454px;
    margin:0 auto;
	display:block;
}


/*
	Next/prev buttons
*/
img
{
border:0;
outline:none;
}
a
{outline:0;
}
#slides .prev {
	position:absolute;
	top:0;
	display:block;
	z-index:6;
	width:70px;
	height:100%;
	cursor:w-resize;
}
#slides .next {
	position:absolute;
	top:0;
	right:0;
	display:block;
	z-index:6;
	width:70px;
	height:100%;
	cursor:e-resize;
}
#slides .prev img, #slides .next img{
	display: none;
}
#slides .one {
	position: relative;
top: -188px;
left: 100px;
display: block;
z-index: 6;
width: 38px;
}
#slides .two {
	position: relative;
top: -208px;
left: 138px;
display: block;
z-index: 6;
width: 38px;
}
#slides .three {
	position: relative;
top: -228px;
left: 175px;
display: block;
z-index: 6;
width: 38px;
}

#slides .four {
	position: relative;
top: -248px;
left: 211px;
display: block;
z-index: 6;
width: 38px;
}


#slides .five {
	position: relative;
top: -268px;
left: 244px;
display: block;
z-index: 6;
width: 38px;
}

#slides .six {
	position: relative;
top: -288px;
left: 277px;
display: block;
z-index: 6;
width: 38px;
}

#slides .seven {
	position: relative;
top: -308px;
left: 314px;
display: block;
z-index: 6;
width: 38px;
}

#slides .eight {
position: relative;
top: -329px;
left: 350px;
display: block;
z-index: 6;
width: 38px;
}
.bannertextcontainer
{
	top:75px;
	left:60px;
	position:absolute;
}
.bannertextcontainer h1
{
	margin:0;
	line-height: 1.1em;
}

.bannertextcontainer p{
	margin: 5px 0 0 0!important;
	padding-bottom: 0!important;
}

.bannertextcontainer a{
	text-decoration: underline;
	color:#231F20!important;
}
.bannercontainer
{
	background: #E6E6E6;
	width:100%;
	height:454px;
	margin-bottom:40px;
}
.LearnMore
{

}
.slidePaginationActive
{
	background-position: 0 110%;
}
.slidePagination
{
	background-image: url("../../Image Library/2014-template/bullets.gif")/*tpa=http://www.dovercorporation.com/Image%20Library/2014-template/bullets.gif*/;
	list-style:none;
	float:left;
	width:17px;
	height:20px;
	margin:0;
	cursor:pointer;
}
.paginationDiv
{
	position:relative;
	text-align: center;
}
.paginationDiv ul{
	display: inline-block;
	margin-top: 5px;
}

.slidePagination:hover
{
	background-image: url("../../Image Library/2014-template/bullets.gif")/*tpa=http://www.dovercorporation.com/Image%20Library/2014-template/bullets.gif*/;
	background-position: 0 110%;
	cursor:pointer;
}