@charset "utf-8";
/* CSS Document */

* { padding: 0; margin: 0; }

html { font-size: 100%; /* IE hack */ }

body {
 /*background:#aaaaff url('img_tree.png') no-repeat right top; */
 background-color:#ffffff;
 font-size:0.75em;
}

#wrapper { 
 margin: 0 auto;
 width: 950px;
}
 
ul.bullets{
	font-family:Arial, Helvetica, Verdana, sans-serif;
	font-size:1.23em;
	color:#000000;
	line-height: 18px;
	margin-bottom:20px;
	margin-left:20px;
	padding-bottom:20px;
	list-style-type: disc;	
}
 
ul.bullets li{
padding-bottom:20px;
} 

/* HEADER START*/
a.top_links:link, a.top_links:visited {
	
    font-family:Arial, Helvetica, Verdana, sans-serif;
	font-size:1.23em;
	color:#333333;
	letter-spacing:0.02em;
	text-decoration:none;
	z-index:1000;
}

a.top_links:hover, a.top_links:active {
    color:#ec008c;
}

ul.ultoplinks{
	
	/*margin-left:30px;*/
	list-style-type: none;	
}

ul.ultoplinks li{
	
margin-left:30px;	
display: inline;	
}

.breadcrumb{
font-family:Arial, Helvetica, Verdana, sans-serif;
font-size:12px;
color:#000000;
padding-bottom:20px;
line-height: 14px;
padding-top:5px;
}

.breadcrumb_link:link, .breadcrumb_link:visited{
text-decoration:none;
line-height: 14px;
color:#000000;
}

.breadcrumb_link:hover{
color:#ec008c;
text-decoration:underline;
}

img{
	border:0px;
}

#siteheader {
 width: 950px;
 color: #333;
 padding: 0px;
 height: 120px;
 margin: 0px 0px 5px 0px;
 
}

/*
#siteheader #logoleft {
float: left;
width: 20px;
margin-top: 20px;
margin-bottom: 40px;

}

*/

#logoleft {
float: left;
width: 20px;
margin-top: 20px;
margin-bottom: 40px;

}
/*
#siteheader #headernav {
float: right;
text-align:right;
width: 480px;
margin-top:20px;
}

*/

#headernav {
float: right;
text-align:right;
/*width: 480px;*/
/*margin-top:20px; */
}

#headerbtn ul{
padding-top:10px;
}

#headerbtn li{
display:inline; 
float:right; 
}

/* HEADER END*/ 
/* NAVIGATION START*/
#navigation {
 clear:both;
 width: 940px;
 color: #333;
height:30px;
 margin: 1px 0px 5px 0px; 
}

#navlink {
	clear:both;
	width: 725px;
	color: #333;
	float:left;
	margin: 0px 0px 5px 0px;

}

#navigation #searchbox {
	float:right;	
	margin-top:0px;	
}

#navigation #searchbox input#avon_search_submit {     
	margin-left: 1px;  	
	width: 23px;
    height: 20px;
	cursor:pointer;
	border:0px none;
    background: url('../images/icons/search_btn.gif')/*tpa=http://www.avoncompany.com/images/icons/search_btn.gif*/ no-repeat left top; 
	vertical-align:top;
	/* visibility:  hidden; */
}

*:first-child+html #navigation #searchbox input#avon_search_submit { 
    
	margin-left: 1px;  
	margin-top: 1px;
	width: 23px;
    height: 20px;
	cursor:pointer;
	border:0px none;
    background: url('../images/icons/search_btn.gif')/*tpa=http://www.avoncompany.com/images/icons/search_btn.gif*/ no-repeat left top; 
	vertical-align:top;	
	/* visibility:  hidden; */
}

#navigation #searchbox input#txtsearch { 
font-family:Arial, Helvetica, Verdana, sans-serif;
font-size:1.15em;
color:#999999;
border:1px solid;
width:180px;
height:18px;
/* visibility:  hidden; */
}

/* NAVIGATION END*/
#content { 
clear:left;
 width: 950px;
 color: #333; 
 background:#ffffff;
 margin: 0px 0px 5px 0px; 
 height: auto;
}


/******* CONTENT START *******************/
#contentbanner{

 width: 644px;
 height: 100%;
 color: #333; 
 float:left;
 }
 
 #contentbuttons{
 width: 304px;
 height: 100%;
 color: #333;
 float:left;
 }
 
/******* CONTENT END *******************/
/******* CONTENT thumbnails *******************/

img.contentthumbnailleft{
 padding-left:11px;
 padding-bottom:8px; 
 }
 
 img.contentthumbnailright{
 padding-left:6px;
 padding-bottom:8px; 
 }
 
 
/******* CONTENT thumbnails *******************/

/********Brands Content Thumbnails***********/

.category_header{
font-family:Arial, Helvetica, Verdana, sans-serif;
font-weight:bold;
font-size:16px;
color:#f0008c;
margin-bottom:0px;
}

/********Brands Content Thumbnails***********/
/******* FOOTER START *******************/


#footer {
clear:both;
/* width: 950px; */
 margin: 0px 0px 0px 0px;
}


#footer #footerlinks {
	float:left;
	/* width:750px; */
	margin-top:-5px;
	/* margin: 0px 0px 30px 0px; */	
}


#footerlinks #footer_links ul{
  /*	padding-top:550px; */
}


#footerlinks #footer_links li{
display:inline; 	
padding-right:11px;
}

a.footer_item:link, a.footer_item:visited{
font-family:Arial, Helvetica, Verdana, sans-serif;
font-size:1em;
color:#000000;
text-decoration:none;
letter-spacing:0.04em;
}

a.footer_item:hover {
	text-decoration:underline;
}


a.footer_item_aaa1:link, a.footer_item_aaa1:visited{
font-family:Arial, Helvetica, Verdana, sans-serif;
font-size:1em;
color:#000000;
padding-right:2px;
text-decoration:none;
}

a.footer_item_aaa1:hover {
	text-decoration:underline;
}



a.footer_item_aaa2:link, a.footer_item_aaa2:visited{
font-family:Arial, Helvetica, Verdana, sans-serif;
font-size:1.28em;
color:#000000;
padding-right:2px;
text-decoration:none;
}

a.footer_item_aaa2:hover {
	text-decoration:underline;
}

a.footer_item_aaa3:link, a.footer_item_aaa3:visited{
font-family:Arial, Helvetica, Verdana, sans-serif;
font-size:1.7em;
color:#000000;
padding-right:2px;
text-decoration:none;
}

a.footer_item_aaa3:hover {
	text-decoration:underline;
}



img.rss_footer{
	margin-right:4px;
	margin-bottom:-4px;
}

/*img.aaa_footer{
	padding-right:4px;
	margin-bottom:-4px;
} */


#footer #avp {
	float:right;
	width:199px;
	font-family:Arial, Helvetica, Verdana, sans-serif;
	font-size:1.1em;
	color:#000000;
	text-align:right;
	line-height:1.3em;
	font-weight: bold; 
	margin: 0px 0px 35px 0px; 
}

 #avp {
 	width:199px;
 	font-family:Arial, Helvetica, Verdana, sans-serif;
 	font-size:1.1em;
 	color:#000000;
 	text-align:right;
 	line-height:1.3em;
 	font-weight: bold;  	
 }
 
 .avpdate {
 	font-family:Arial, Helvetica, Verdana, sans-serif;
 	font-size:0.8em;
 	color:#333333;
 	font-weight: normal; 	
}

#copyright
{
font-family:Arial, Helvetica, Verdana, sans-serif;
font-size:0.9em;
color:#000000;
text-align:right;
padding-top:4px;
letter-spacing:0.1em;
}

 
 .follow
 {
font-family:Arial, Helvetica, Verdana, sans-serif;
 font-size:1em;
 color:#000000;
 float:left;
 padding-right: 6px;
 padding-top: 8px;
 letter-spacing:0.1em;
 }
 
 .followtn{
	float:left;
 }

#follow_links ul{
 	
 }
 
 
#follow_links li{
 display:inline; 	
 } 
 
 img.followimg{
 	margin-right:6px;
 	border:0px;
}

/*** END OF FOOTER LINK **********/
/******* BRAND PAGE START *******************/


#pagebanner{
	/*height:200px;*/
}


#leftnavigation{

 width: 210px;
 height: 100%;
 color: #333; 
 float:left;
 }
 
 #contentarea{
	width: 740px;
	height: 100%;
	color: #333;
	float:left;
 }
 
.contentleftwithrightdottedline{
	width: 458px;
	float:left;
	padding-right:30px;
	border-right:1px;
	border-right-color:#cdcdcd;
	border-right-style: solid;
	min-height:550px;
 }
 
 
 .contentleftwithoutrightdottedline{
	width: 458px;
	float:left;
	padding-right:30px;
	border-right:1px;	
 } 
 
 .contenttext{
	width: 100%;
	float:left;
}

.contenttext h1.overlaypages {
	/*
	font-family:Arial, Helvetica, Verdana, sans-serif;
	font-size:2.91em;
	width:840px;
	*/
	font-family:Arial, Helvetica, sans-serif; /*Georgia, "Times New Roman", Times, serif; */
	font-size:30px;
	color:#f0008c;
	margin-bottom:10px;
	padding-top:2px;
	font-weight:normal;
	display:block;
	clear:both;
 } 
 
 
 
 .contenttext h1 {
 	font-family:Arial, Helvetica, sans-serif; /*Georgia, "Times New Roman", Times, serif; */
	font-size:30px;
	color:#f0008c;
	margin-bottom:10px;
	padding-top:2px;
	font-weight:normal;
	display:block;
	clear:both;
	/*
	font-family:Arial, Helvetica, Verdana, sans-serif;
	font-size:2.1em;
	color:#000000;
	margin-bottom:10px;
	padding-top:10px;
	font-weight:normal;
	background-color:white; 
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#ffffff,direction=180,strength=2); 
    position:relative; 
    width:440px; 
    */
 } 
 
 
 .contenttext h2 {
	font-family:Arial, Helvetica, Verdana, sans-serif;
	font-size:1.75em;
	color:#898989;
	margin-bottom:15px;
	font-weight:normal;     	
 }
 
 .contenttext h3 {
	font-family:Arial, Helvetica, Verdana, sans-serif;
	font-size:1.4em;
	color:#000000;
	margin-bottom:8px;
	padding-top:8px;
	font-weight:bold;
 }

 .contenttext h4 {
	font-family:Arial, Helvetica, Verdana, sans-serif;
	font-size:1.55em;
	color:#f0008c;
	margin-bottom:8px;
	padding-top:8px;
font-weight:normal;

 }

.contenttext h5 {
	font-family:Arial, Helvetica, Verdana, sans-serif;
	font-size:1.35em;
	color:#f0008c;
	margin-bottom:10px;
	font-weight:bold;
   	width:auto; 
 }

.contenttext h6 {
	font-family:Arial, Helvetica, Verdana, sans-serif;
	font-size:1.5em;
	color:#000000;
	margin-bottom:8px;
	font-weight:normal;
   	width:auto; 
 }

.thumbnailclear{
	clear:both;
	width:450px; 
	height:20px;
}

.contenttext p {
	 font-family:Arial, Helvetica, Verdana, sans-serif;
font-size:1.2em;
color:#000000;
line-height: 1.35em;
margin-bottom:1.2em;
 }
 
.videocaption{

font-family:Arial, Helvetica, Verdana, sans-serif;
font-size:1.1em;
color:#000000;
text-align:left;
padding-top:5px;
margin-bottom:1.2em;
	
}

.contenttext .thumbnaildiv p {
font-family:Arial, Helvetica, Verdana, sans-serif;
font-size:1.2em;
color:#000000;
line-height: 1.35em;
margin-bottom:1.7em;
 }
 
.contenttext a:link, .contenttext a:visited{
color:#F0008C;
text-decoration:underline;
font-weight:normal;
}

.contenttext a:hover{
text-decoration:underline;
}
  
 
.contenttext ul {
list-style-type: disc !important;
margin-left:30px;
margin-right:5px;
margin-bottom:15px;
 } 
 
.contenttext ul li {
font-family:Arial, Helvetica, Verdana, sans-serif;
font-size:1.2em;
color:#000000;
line-height: 1.25em;
margin-bottom:0.4em;
 } 
 
 
.contenttext ul li ol {
list-style-type: decimal !important;
font-family:Arial, Helvetica, Verdana, sans-serif;
margin-left:30px;
margin-top:10px;
margin-right:5px;
margin-bottom:0.7em;
 } 
 
.contenttext ul li ol li {
font-family:Arial, Helvetica, Verdana, sans-serif;
font-size:1.0em;
color:#000000;
line-height: 1.35em;
 } 
 
 
 .contenttext ol {
list-style-type: decimal !important;
font-family:Arial, Helvetica, Verdana, sans-serif;
margin-left:30px;
margin-right:5px;
margin-bottom:1.4em;
 } 
 
.contenttext ol li {
font-size:1.2em;
color:#000000;
line-height: 1.25em;
margin-bottom:0.4em;
} 
 
 
 
.contenttext ol li ul {
list-style-type: disc !important;
margin-left:30px;
margin-right:5px;
margin-top:10px;
 } 
 
.contenttext ol li ul li {
font-family:Arial, Helvetica, Verdana, sans-serif;
font-size:1.0em;
color:#000000;
line-height: 1.25em;
 } 
 
 
 .contenttext ul li ul {
list-style-type: square !important;
margin-left:30px;
margin-right:5px;
margin-top:10px;
 } 
 
.contenttext ul li ul li {
font-family:Arial, Helvetica, Verdana, sans-serif;
font-size:1.0em;
color:#000000;
line-height: 1.35em;
 } 
 
 
.contenttext table{
border:1px;
border-color:#d5dce9;
border-style:solid;
border-collapse: collapse;	
}

.contenttext td {
font-family:Arial, Helvetica, Verdana, sans-serif;
font-size:1.0em;
color:#000000;
line-height: 1.35em;
padding:5px;
border-color:#d5dce9;
border-bottom-style:solid;
border-bottom-width:1px;

vertical-align:text-top;
	
}

.contenttext th {
font-family:Arial, Helvetica, Verdana, sans-serif;
font-weight:bold;
font-size:1.0em;
color:#000000;
line-height: 1.35em;
padding:7px;
border-color:#000000;
border-bottom-style:dotted;
border-bottom-width:1px;
background-color:#d5dce9;
vertical-align:text-top;
border-top: 2px solid #000000;	
}
  
 /*  toolbar */

#contenttoolbar {
float: right;
text-align:right;
width: auto;
padding-bottom:3px;
}

a.toolbar_links_share:link, a.toolbar_links_share:visited, a.toolbar_links_share:active {
	
	font-family:Arial, Helvetica, Verdana, sans-serif;
	font-size:12px;
	font-weight:normal;
	width:auto;
	background:#ffffff url('../images/icons/share.gif')/*tpa=http://www.avoncompany.com/images/icons/share.gif*/ no-repeat;
	padding-left: 23px;
	padding-right: 0px;
    padding-bottom:5px;
    text-decoration:none;
    color:#000000;
}

a.toolbar_links_share:hover {
    color:#ec008c;
	text-decoration:underline;
}

a.toolbar_links_rss:link, a.toolbar_links_rss:visited, a.toolbar_links_rss:active{
	
	font-family:Arial, Helvetica, Verdana, sans-serif;
	font-size:12px;
	font-weight:normal;
	width:auto;
	background:#ffffff url('../images/icons/rss.gif')/*tpa=http://www.avoncompany.com/images/icons/rss.gif*/ no-repeat;
	padding-left: 23px;
	padding-right: 0px;
    padding-bottom:5px;
    text-decoration:none;
    color:#000000;
}

a.toolbar_links_rss:hover {
    color:#ec008c;
	text-decoration:underline;
}

a.toolbar_links_print:link, a.toolbar_links_print:visited, a.toolbar_links_print:active {
	
	font-family:Arial, Helvetica, Verdana, sans-serif;
	font-size:12px;
	font-weight:normal;
	width:auto;
	background:#ffffff url('../images/icons/print.gif')/*tpa=http://www.avoncompany.com/images/icons/print.gif*/ no-repeat;
	padding-left: 23px;
	padding-right: 0px;
    padding-bottom:5px;
    text-decoration:none;
    color:#000000;
}
a.toolbar_links_print:hover {
    color:#ec008c;
	text-decoration:underline;
}

a.toolbar_report_builder:link, a.toolbar_report_builder:visited, a.toolbar_report_builder:active {
	
	font-family:Arial, Helvetica, Verdana, sans-serif;
	font-size:12px;
	font-weight:normal;
	width:auto;
	background:#ffffff url('../images/icons/reportbuilder.gif')/*tpa=http://www.avoncompany.com/images/icons/reportbuilder.gif*/ no-repeat;
	padding-left: 23px;
	padding-right: 0px;
    padding-bottom:5px;
    text-decoration:none;
    color:#000000;
}
a.toolbar_report_builder:hover {
    color:#ec008c;
	text-decoration:underline;
}

ul.contenttoolbarlinks{
	list-style-type: none;
}

ul.contenttoolbarlinks li{
margin-left:15px;	
display: inline;
}
 
 /*  toolbar */
.btnlink:link, .btnlink:visited{
text-decoration:none;
line-height: 14px;
color:#000000;
}

.btnlink:hover{
color:#ec008c;
text-decoration:underline;
}
.printbutton {
background-color: 
#d42626; 
color:#fff; 
width:130px; 
border:2px solid #ccc; 
padding:2px;
}


@media print {
input#hideme {
display: none;
}
}
.sharebtn
{
font-family:Arial, Helvetica, Verdana, sans-serif;
font-size:12px;
font-weight:normal;
height:20px;
float:right;
width:auto;
background:#ffffff url('../images/icons/share.gif')/*tpa=http://www.avoncompany.com/images/icons/share.gif*/ no-repeat;
padding-left: 25px;
padding-right: 15px;
}
.btnlink:link, .btnlink:visited{
text-decoration:none;
line-height: 14px;
color:#000;
font-weight:normal;
}

.btnlink:hover{
color:#ec008c;
text-decoration:underline;
}

h1.header
{
font-family:Helvetica, Verdana, sans-serif;
font-size:35px;
color:#f0008c;
line-height: 40px;
margin-bottom:10px;
padding-top:10px;
}

h2.subheader
{
font-family:Arial, Helvetica, Verdana, sans-serif;
font-size:21px;
color:#898989;
line-height: 24px;
margin-bottom:15px;
}

h3.header
{
font-family:Arial, Helvetica, Verdana, sans-serif;
font-size:18px;
color:#f0008c;
line-height: 22px;
margin-bottom:10px;
}

p.article_copy{

}

.pinktext{
	color:#f0008c;
	font-weight:bold;
}

img.floatLeft { 
	float: left; 
	margin-top: 3px;
	margin-right: 10px; 
	margin-bottom: 10px;
	clear: left;
}

.contentright{
	width: 215px;
	float:left;
	margin-left:30px;
 }
 
.contentright .contentrightsection{
	width:100%;
	margin-bottom:40px;
}
 
.contentlink:link, .contentlink:visited{
color:#f0008c;
text-decoration:underline;
font-weight:bold;
}

.contentlink:hover{
text-decoration:underline;
color:#000000;
}
  
h4.right_header{
	
font-family:Arial, Helvetica, Verdana, sans-serif;
font-size:18px;
font-weight:normal;
color:#000000;
margin-bottom: 10px;
background-color:white; 
     filter:progid:DXImageTransform.Microsoft.Shadow(color=#ffffff,direction=180,strength=2); 
     position:relative; 
     width:200px; 
}

h5.right_sub_header{
	
font-family:Arial, Helvetica, Verdana, sans-serif;
font-weight:bold;
font-size:16px;
color:#f0008c;
margin-bottom:10px;
}

img.brandthumbnailimages{
	padding-right:5px;
	padding-bottom:5px;
}
.right_news_title_date
{
font-family:Arial, Helvetica, Verdana, sans-serif;
font-size:1.0em;
color:#000000;
line-height: 1.0em;
padding-bottom:5px;
}
.right_news_title
{
font-family:Arial, Helvetica, Verdana, sans-serif;
font-size:1.1em;
color:#000000;
line-height: 1.2em;
padding-bottom:5px;
font-weight:bold;
}

.right_news_article
{
font-family:Arial, Helvetica, Verdana, sans-serif;
font-size:1.1em;;
color:#000000;
line-height: 1.2em;
padding-bottom:18px;
margin-bottom:18px;
border-bottom:1px;
border-bottom-color:#000;
border-bottom-style: dotted;
}
.article_more:link, .article_more:visited{
font-family:Arial, Helvetica, Verdana, sans-serif;
font-weight:bold;
text-decoration:underline;
font-size:1.0em;
color:#000000;
line-height: 14px;
}
.article_more:hover{
color:#ec008c;
}
.media_emaillink:link, .media_emaillink:visited{
font-family:Arial, Helvetica, Verdana, sans-serif;
text-decoration:underline;
font-size:1.1em;
color:#000000;
line-height: 14px;
}
.media_emaillink:hover{
color:#ec008c;
}
 
/******* BRAND PAGE END *******************/

/******* ABOUT AVON PAGE START *******************/

.contentleftfull{
 width: 710px; 
  float:left;
  padding-right:30px; 
 }
 
 .thumbnail_image{
	float:left;
	padding-right:10px;
	padding-bottom:10px;
 }
 
h1.bio_header
{
font-family:Arial, Helvetica, Verdana, sans-serif;
font-size:30px;
color:#ec008c;
line-height: 40px;
margin-bottom:10px;
padding-top:24px;
}

h2.bio_sub_header
{
font-family:Arial, Helvetica, Verdana, sans-serif;
font-size:18px;
line-height: 21px;
color:#000000;
margin-bottom:15px;
}

/******* ABOUI AVON PAGE END *******************/
  
  
  /*****************
START OF LEFT MENU
********************/

/* Turn off list bullets */
	

	
	ul.leftnavigationtree {width: 180px;}
	ul.leftnavigationtree  li {list-style: none;} 
	/* Control how "spaced out" the tree is */
	ul.leftnavigationtree ul , ul.leftnavigationtree li {padding:0px; }
	/* Provide space for our own "bullet" inside the LI */
	ul.leftnavigationtree  li           .bullet { padding-left: 0px; }
	/* Show "bullets" in the links, depending on the class of the LI that the link's in */
	ul.leftnavigationtree  li.liOpen    .bullet { }
	ul.leftnavigationtree  li.liClosed  .bullet { }
	ul.leftnavigationtree  li.liBullet  .bullet { }
	/* Sublists are visible or not based on class of parent LI */
	ul.leftnavigationtree  li.liOpen    ul { display: block; }
	ul.leftnavigationtree  li.liClosed  ul { display: none; }
	/* Format menu items differently depending on what level of the tree they are in */
	
/* FIRST LEVEL */

ul.leftnavigationtree  li { 
	
		font-family: Arial, Helvetica, Verdana, sans-serif;
		font-size:14px;
		color:#000000;
		text-decoration:none; 
		padding-top:10px;
		margin-left:0px !important;
	}

/* END First Level */
		

/* Second Level */
ul.leftnavigationtree  li ul li { 
		font-family: Arial, Helvetica, Verdana, sans-serif;
		font-size:12px;
		color:#000000;
		line-height: 14px;
		padding-left:12px;
		margin-top:-5px;	
	}
	

/* END Second Level */

/* Third Level */

ul.leftnavigationtree  li ul li ul li { 
		font-family: Arial, Helvetica, Verdana, sans-serif;
		font-size:12px !important;
		font-weight:normal;
		text-decoration:none;
		color:#000;
		margin-left:-15px;
background: url(../images/icons/dash.gif)/*tpa=http://www.avoncompany.com/images/icons/dash.gif*/ top left no-repeat; 
padding-left:22px;
	}
	
	
	
/* END Third Level */


/* Fourth Level */

	ul.leftnavigationtree  li ul li ul li ul li { 
	
		font-family: Arial, Helvetica, Verdana, sans-serif;
		font-size:12px !important;
		font-weight:normal;
		text-decoration:none;
		color:#000000;
		padding-left:9px;
		background: none; 
		margin-top:-5px;
		/* text-indent:-3px */	
	}
	
	

/* END Fourth Level */	

.left_nav_tab a, .left_nav_tab a:visited{
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size:1.6em;
	line-height: 21px;
	text-decoration:none;
background-color:white; 
     filter:progid:DXImageTransform.Microsoft.Shadow(color=#ffffff,direction=180,strength=2); 
     position:relative; 
     width:180px; 
	color:#000000;	
}

.left_nav_tab a:hover{
	color:#ec008c;
	text-decoration:none;
}


.left_nav_tab_active a, .left_nav_tab_active a:visited{
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size:1.6em;
	line-height: 21px;
	text-decoration:none;
background-color:white; 
     filter:progid:DXImageTransform.Microsoft.Shadow(color=#ffffff,direction=180,strength=2); 
     position:relative; 
     width:180px;
color:#ec008c; 	
}


.left_nav_tab_active a:hover{	
	text-decoration:none;
}

a.leftnav_links, a.leftnav_links:visited {	
    color:#000000;
	text-decoration:none;
}
a.leftnav_links:hover {
    color:#ec008c;
}
a.leftnav_links_selected {
     color:#ec008c;
	text-decoration:none;
	
	/*font-weight: bolder;*/
}
   
  
  
.leftrailextrabranddiv{	
	padding-top:5px;
	padding-left:0px;
	margin-top:10px;
	margin-left: 2px;
	border-top-style: solid;
	border-top-color: #000;
	border-top-width: 1px;	
	width: 180px;
}

.leftrailextrabrandlink_selected{
font-family: Arial, Helvetica, Verdana, sans-serif;
font-size:14px;
color:#ec008c !important;
line-height: 18px;
cursor:pointer;
padding-top:5px;
padding-right: 5px;
width: 180px;
text-decoration:none;
display:block;

}

.leftrailextrabrandlink:link, .leftrailextrabrandlink:visited{
font-family: Arial, Helvetica, Verdana, sans-serif;
font-size:14px;
color:#000000;
line-height: 18px;
cursor:pointer;
padding-top:5px;
padding-right: 5px;
width: 180px;
text-decoration:none;
display:block;
}


.leftrailextrabrandlink:hover{
	color:#ec008c;
}

li#expandednode{
/*color:#ec008c; */
}



h1.overlay_header
{
font-family:Arial, Helvetica, Verdana, sans-serif;
font-size:30px;
color:#000000;
font-weight:normal;
margin:0;
padding:0;
width:400px;
}

.share_links{margin:0;padding:0;}


.share_linksbtn:link, .share_linksbtn:visited{
font-family:Arial, Helvetica, Verdana, sans-serif;
font-size:18px;
color:#000000;
height:25px;
float:left;
padding:8px 20px 20px 40px;
margin:0;
text-decoration:none;
line-height: 14px;
color:#000;
}

.share_linksbtn:hover{
color:#ec008c;
text-decoration:underline;
}
/* Share this page END*/

/*** OVERLAY START**********/
#popup {
position: absolute;
left: 420px;
top: 200px;
z-index: 1001;
visibility: hidden;
border: solid;
border-color: #7BC041;
}
#grayBG {
position: absolute;
top: 0px;
bottom: 0px;
left: 0px;
right: 0px;
overflow: hidden;
padding: 0;
margin: 0;
background-color: #000;
filter: alpha(opacity=50);
opacity: 0.5;
z-index: 1000;
}

/*** OVERLAY END**********/
/******* Print Page style *******************/

#printcontentarea{
	width: 100%;
	height: 100%;
	color: #333;
	float:left;
	padding:20px;
	display:inline;
 }
 
#printcontentarea h1 {
	font-family:Arial, Helvetica, Verdana, sans-serif;
	font-size:35px;
	color:#f0008c;
	line-height: 40px;
	margin-bottom:10px;
	padding-top:10px;
 width:auto;
 }
  
#printcontentarea h2 {
	font-family:Arial, Helvetica, Verdana, sans-serif;
	font-size:21px;
	color:#898989;
	line-height: 24px;
	margin-bottom:15px;
	font-weight:normal;
width:auto;     	
 }
 
#printcontentarea h3 {
 	font-family:Arial, Helvetica, Verdana, sans-serif;
	font-size:18px;
	color:#000000;
	line-height: 22px;
	margin-bottom:10px;
	font-weight:normal;
width:auto;
 }
#printcontentarea h4 {
	font-family:Arial, Helvetica, Verdana, sans-serif;
	font-size:16px;
	color:#f0008c;
	margin-bottom:8px;
	padding-top:8px;
font-weight:normal;
width:auto;
 }

#printcontentarea p {
	 font-family:Arial, Helvetica, Verdana, sans-serif;
font-size:1.2em;
color:#000000;
line-height: 1.35em;
margin-bottom:1.2em;
 }
 
 
#printcontentarea a:link, #printcontentarea a:visited{
color:#f0008c;
text-decoration:underline;
font-weight:bold;
}

#printcontentarea a:hover{
text-decoration:underline;
color:#000000;
}
 
#printcontentarea ul {
list-style-type: disc !important;
margin-left:30px;
margin-right:5px;
 } 
 
#printcontentarea ul li {
font-family:Arial, Helvetica, Verdana, sans-serif;
font-size:1.2em;
color:#000000;
line-height: 1.35em;
margin-bottom:0.4em;
 } 
  
#printcontentarea ul li ol {
list-style-type: decimal !important;
font-family:Arial, Helvetica, Verdana, sans-serif;
margin-left:30px;
margin-top:10px;
margin-right:5px;
margin-bottom:0.4em;
 } 
 
#printcontentarea ul li ol li {
font-family:Arial, Helvetica, Verdana, sans-serif;
font-size:1.0em;
color:#000000;
line-height: 1.35em;
 } 
  
#printcontentarea ol {
list-style-type: decimal !important;
font-family:Arial, Helvetica, Verdana, sans-serif;
margin-left:30px;
margin-right:5px;
margin-bottom:0.4em;
 } 
 
#printcontentarea ol li {

font-size:1.2em;
color:#000000;
line-height: 1.35em;
margin-bottom:0.4em;
} 
  
#printcontentarea ol li ul {
list-style-type: disc !important;
margin-left:30px;
margin-right:5px;
margin-top:10px;
 } 
 
#printcontentarea ol li ul li {
font-family:Arial, Helvetica, Verdana, sans-serif;
font-size:1.0em;
color:#000000;
line-height: 1.35em;
 } 
  
#printcontentarea ul li ul {
list-style-type: square !important;
margin-left:30px;
margin-right:5px;
margin-top:10px;
 } 
 
#printcontentarea ul li ul li {
font-family:Arial, Helvetica, Verdana, sans-serif;
font-size:1.0em;
color:#000000;
line-height: 1.35em;
 } 

.printpageurlfooter{
	clear:both; 
	border-color:#000; 
	border-top-style:solid; 
	border-top-width:1px;
	font-family:Arial, Helvetica, Verdana, sans-serif;
	
	padding-top: 5px;
	
font-size:0.85em;
color:#000000;
line-height: 1.35em;
word-wrap: break-word; 
width: 100%;
}

/******* END Print Page style *******************/
/******* Video Page style START*******************/

.videopage{
	padding-left:30px; 
	padding-right:30px;
	padding-bottom:20px;
	padding-top:0px;
	
}

/******* Video Page style END *******************/
/******* SITEMAP  START********************/


table.sitemaptable
{
border-collapse:collapse;
width:940px;

}
table.sitemaptable th
{
font-family:Arial, Helvetica, Verdana, sans-serif;
font-size:1.1em;
background-color:#999999;
color:#000000;
padding:5px;
text-align:left;
width:220px;
padding-left:10px;
}

table.sitemaptable td
{
font-family:Arial, Helvetica, Verdana, sans-serif;
font-size:1.2em;
background-color:#ffffff;
padding:5px;
text-align:left;
width:220px;
vertical-align:top;
padding-bottom:30px;
padding-top:10px;
}
/** world wide web page ***/

/* */

.rssbody{
	padding-left:20px;
	padding-right:20px;
	padding-bottom:20px;
}


.rssbody paragraphtext{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	
}

.rssbody .paragraphtext p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	
}

.rssbody table.rsstable{
	border:0px;
	border-color:black;
	width:100%;
	padding:25px;
	border-collapse: collapse
	
}
.rssbody table.rsstable th.tableheading {
	font-family: Arial;
	font-size:12px;
	text-align:left;
	background-color:#cccccc;
	padding:5px;
}
.rssbody table.rsstable td.tablecontent {
	font-family: Arial;
	font-size:12px;
	text-align:left;
	padding:5px;
	border-bottom:1px;
	border-color:#000;	
}
	


/* */
h1.rsstitle{
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#f0008c;
	font-weight:normal;
	/*background-color:white; 
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#ffffff,direction=180,strength=2); 
     position:relative; */
     /*width:440px; */
}

.mytitle{
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#f0008c;
	font-weight:normal;
	/*background-color:white; */
   /* filter:progid:DXImageTransform.Microsoft.Shadow(color=#ffffff,direction=180,strength=2); */
     /*position:relative; */
     /*width:440px; */
}


p.paragraphtext{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;	
}

table.countrylist{
	border:0px;
	
	border-collapse: collapse;
	width:270px;	
}

td.cellleftgrey {
	font-family: Arial;
	font-size:12px;
	text-align:left;
	padding:3px;
	background-color:#d5dce9;	
}
td.cellrightgrey {
	font-family: Arial;
	font-size:12px;
	text-align:right;
	padding:3px;
	background-color:#d5dce9;	
}

td.cellleftwhite {
	font-family: Arial;
	font-size:12px;
	text-align:left;
	padding:3px;
	background-color:#fff;	
}

td.cellrightwhite {
	font-family: Arial;
	font-size:12px;
	text-align:right;
	padding:3px;
	background-color:#fff;	
}


a.overlaytablelinks:link, a.overlaytablelinks:visited{
text-decoration:underline;
color:#000000;
font-weight:normal;
}

a.overlaytablelinks:hover{
text-decoration:underline;
color:#f0008c;
}

/*This class is used for PDF report builder Default.aspx */
.PDFReportBuildertext{
	 font-family:Arial, Helvetica, Verdana, sans-serif;
font-size:1.2em;
color:#000000;
line-height: 1.35em;

}

.highlight
{
    background: #FFFF40;
}

/*  For PDF report builder PageTreeSelector.ascx */
.pdfTreeNode span
{
    margin-left: 5px;
}


@font-face {
    font-family: 'DidotLTStdItalic';
    src: url('didotltstd-italic-webfont.eot')/*tpa=http://www.avoncompany.com/css/didotltstd-italic-webfont.eot*/;
    src: url('didotltstd-italic-webfont.eot-#iefix')/*tpa=http://www.avoncompany.com/css/didotltstd-italic-webfont.eot?#iefix*/ format('embedded-opentype'),
         url('didotltstd-italic-webfont.woff')/*tpa=http://www.avoncompany.com/css/didotltstd-italic-webfont.woff*/ format('woff'),
         url('didotltstd-italic-webfont.ttf')/*tpa=http://www.avoncompany.com/css/didotltstd-italic-webfont.ttf*/ format('truetype'),
         url('didotltstd-italic-webfont.svg#DidotLTStdItalic')/*tpa=http://www.avoncompany.com/css/didotltstd-italic-webfont.svg#DidotLTStdItalic*/ format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DidotLTStdRoman';
    src: url('didotltstd-roman-webfont.eot')/*tpa=http://www.avoncompany.com/css/didotltstd-roman-webfont.eot*/;
    src: url('didotltstd-roman-webfont.eot-#iefix')/*tpa=http://www.avoncompany.com/css/didotltstd-roman-webfont.eot?#iefix*/ format('embedded-opentype'),
         url('didotltstd-roman-webfont.woff')/*tpa=http://www.avoncompany.com/css/didotltstd-roman-webfont.woff*/ format('woff'),
         url('didotltstd-roman-webfont.ttf')/*tpa=http://www.avoncompany.com/css/didotltstd-roman-webfont.ttf*/ format('truetype'),
         url('didotltstd-roman-webfont.svg#DidotLTStdRoman')/*tpa=http://www.avoncompany.com/css/didotltstd-roman-webfont.svg#DidotLTStdRoman*/ format('svg');
    font-weight: normal;
    font-style: normal;

}
/* added for the sub navigation on the CR part of the website 10/03/11 */
.contenttext .cr_subnav{font-size:1em;}
.contenttext .cr_subnav a{font-size:11px;font-weight:normal;}
.contenttext table.profile_success td{vertical-align:top;}
.newsBoxWrapper .cr_newsBox{border-bottom:1px dotted #000000;color:#000000;font-family:Arial,Helvetica,Verdana,sans-serif;font-size:1em;line-height:1.2em;margin-bottom:18px;padding-bottom:18px;display:block;clear:both;}
.newsBoxWrapper .cr_newsBox_date{color:#000000;font-family:Arial,Helvetica,Verdana,sans-serif;font-size:.9em;line-height:1em;margin:0;padding:0 0 5px 0;}
.newsBoxWrapper .cr_newsBox_title{color:#000000;font-family:Arial,Helvetica,Verdana,sans-serif;font-size:1em;line-height:1.1em;margin:0;padding:0 0 5px 0;font-weight:bold;}
.newsBoxWrapper .cr_newsBox_article{color:#000000;font-family:Arial,Helvetica,Verdana,sans-serif;font-size:1em;line-height:1.1em;margin:0;padding:0 0 5px 0;font-weight:normal;}
.newsBoxWrapper .cr_newsBox_more{color:#f0008c;text-decoration:underline;font-weight:bold;font-family:Arial,Helvetica,Verdana,sans-serif;font-size:1em;font-weight:bold;line-height:1.1em;text-decoration:underline;}
.rhr_quote span{color:#ec008c;font-size:30px;}
.rhr_quote a, .rhr_quote span a, .rhr_quote_small a, .rhr_quote_small span a{color:#F0008C;}
.rhr_quote{color: #595F70;font-family: 'DidotLTStdRoman';font-size: 21px;line-height: 1.3em;text-align: right;width: 190px;font-weight:normal;margin:0;padding:5px 0;}
.rhr_quote_small {color: #595F70;font-family: 'DidotLTStdRoman';font-size: 16px;font-weight: normal;line-height: 1.3em;margin: 0;padding: 5px 0;text-align: right;width: 190px;}
.rhr_quote_small span{color:#ec008c;font-size:20px;}
.rhr_quote_small_black {color: #000;font-family: 'DidotLTStdRoman';font-size: 16px;font-weight: normal;line-height: 1.3em;margin: 0;padding: 5px 0;text-align: right;width: 190px;}
.rhr_quote_small_black span{color:#ec008c;font-size:20px;}


.rhr_note span{color:#ec008c;font-size:18px;}
.rhr_note a, .rhr_note span a{color:#F0008C;}
.contenttext .cr_blockquote{display:block;clear:both;background:#f8f8f8;border:1px solid #ccc;height:auto;width:95%;margin:20px 0;padding:10px;font-weight:bold;color: #000000;font-family: Arial,Helvetica,Verdana,sans-serif;font-size: 14px;line-height: 1.35em;margin-bottom: 1.2em;}
.contenttext .cr_blockquote_noBold{display:block;clear:both;background:#f8f8f8;border:1px solid #ccc;height:auto;width:95%;margin:20px 0;padding:10px;font-weight:normal;color: #000000;font-family: Arial,Helvetica,Verdana,sans-serif;font-size: 14px;line-height: 1.35em;margin-bottom: 1.2em;}
.contenttext .cr_blockquote span,.contenttext  .cr_blockquote_noBold span{color: #000000;font-family: Arial,Helvetica,Verdana,sans-serif;font-size:14px;line-height: 1.35em;display:block;clear:both;font-weight:normal;margin-bottom:5px;}
.contenttext .cr_blockquote h3,.contenttext  .cr_blockquote_noBold h3{color: #000000;font-family: Arial,Helvetica,Verdana,sans-serif;font-size: 18px;font-weight: normal;margin-bottom: 8px;padding-top: 8px;}
.contenttext .cr_blockquote p, .contenttext .cr_blockquote_noBold p{color: #000000;font-family: Arial,Helvetica,Verdana,sans-serif;font-size:14px;line-height: 1.35em;margin-bottom: 1.2em;clear:both;display:block;}
.cr_blockquote ul li, .contenttext .cr_blockquote ul li, .cr_blockquote_noBold ul li, .contenttext .cr_blockquote_noBold ul li{font-size:14px;}
#cycle_box{width:458px;height:445px;position:relative;margin:0;padding:0;background-image:url('../images/corporatecitizenship/corporateresponsibility/visual-of-product-lifecycle-clear.gif')/*tpa=http://www.avoncompany.com/images/corporatecitizenship/corporateresponsibility/visual-of-product-lifecycle-clear.gif*/; background-repeat:no-repeat; background-position:top left;}
#cycle_box a{color:#000000;font-family: Arial,Helvetica,Verdana,sans-serif;font-size:13px;line-height:1.2em;font-weight:bold;text-align:center;text-decoration:none;width:113px;}
#cycle_box a span{display:block;clear:both;margin:0;padding:0 5px;width:103px;}
#cycle_box a#cycle_box_one{position:absolute;width:113px;height:70px;display:block;top:13px;left:174px;z-index:100;outline:none;color:#000;background-image:url('../images/corporatecitizenship/corporateresponsibility/cycle-off.png')/*tpa=http://www.avoncompany.com/images/corporatecitizenship/corporateresponsibility/cycle-off.png*/; background-repeat:no-repeat; background-position:top center;padding:16px 0 0 0;}
#cycle_box a#cycle_box_two{position:absolute;width:113px;height:70px;display:block;top:101px;left:326px;z-index:100;outline:none; color:#000;background-image:url('../images/corporatecitizenship/corporateresponsibility/cycle-off.png')/*tpa=http://www.avoncompany.com/images/corporatecitizenship/corporateresponsibility/cycle-off.png*/; background-repeat:no-repeat; background-position:top center;padding:10px 0 0 0;}
#cycle_box a#cycle_box_three{position:absolute;width:113px;height:70px;display:block;top:278px;left:326px;z-index:100;outline:none; color:#000;background-image:url('../images/corporatecitizenship/corporateresponsibility/cycle-off.png')/*tpa=http://www.avoncompany.com/images/corporatecitizenship/corporateresponsibility/cycle-off.png*/; background-repeat:no-repeat; background-position:top center;padding:17px 0 0 0;}
#cycle_box a#cycle_box_four{position:absolute;width:113px;height:70px;display:block;top:366px;left:174px;z-index:100;outline:none; color:#000;background-image:url('../images/corporatecitizenship/corporateresponsibility/cycle-off.png')/*tpa=http://www.avoncompany.com/images/corporatecitizenship/corporateresponsibility/cycle-off.png*/; background-repeat:no-repeat; background-position:top center;padding:26px 0 0 0;}
#cycle_box a#cycle_box_five{position:absolute;width:113px;height:70px;display:block;top:278px;left:21px;z-index:100;outline:none;color:#000;background-image:url('../images/corporatecitizenship/corporateresponsibility/cycle-off.png')/*tpa=http://www.avoncompany.com/images/corporatecitizenship/corporateresponsibility/cycle-off.png*/; background-repeat:no-repeat; background-position:top center;padding:26px 0 0 0;}
#cycle_box a#cycle_box_six{position:absolute;width:113px;height:70px;display:block;top:101px;left:21px;z-index:100;outline:none;color:#000;background-image:url('../images/corporatecitizenship/corporateresponsibility/cycle-off.png')/*tpa=http://www.avoncompany.com/images/corporatecitizenship/corporateresponsibility/cycle-off.png*/; background-repeat:no-repeat; background-position:top center;padding:26px 0 0 0;}
#cycle_box .cycle_box_info{position:absolute;width:180px;height:120px;display:block;top:170px;left:140px;z-index:200;text-align:center;color: #000000;font-family: Arial,Helvetica,Verdana,sans-serif;font-size:2em;line-height:1.4em;font-weight:normal;}
#cycle_box a:hover#cycle_box_one,#cycle_box a:hover#cycle_box_two,#cycle_box a:hover#cycle_box_three,#cycle_box a:hover#cycle_box_four,#cycle_box a:hover#cycle_box_five,#cycle_box a:hover#cycle_box_six{background-image:url('../images/corporatecitizenship/corporateresponsibility/cycle-on.png')/*tpa=http://www.avoncompany.com/images/corporatecitizenship/corporateresponsibility/cycle-on.png*/; background-repeat:no-repeat; background-position:top center;}
.contenttext p.pic_label{color:#595F70;font-family: Arial,Helvetica,Verdana,sans-serif;font-size:1em;line-height:1.1em;margin-bottom:1.2em;width:458px;text-align:center;}
/* added for the careers page and any other page that might want a rotating image gallery */
#believe{background-color:#000;padding:3px 0;margin:0;display:block;clear:both;height:415px;width:455px;overflow:hidden;}
#gallery {position:relative;height:365px;}
#gallery p {float:left;position:absolute;left:3px;width:448px;height:345px;margin:0;padding:0;top:30px;}
#gallery p img {border:none;margin:0;padding:0;width:448px;height:325px;}
#gallery p.show {z-index:1;}
#gallery .caption {background-color:#000;color:#FFFFFF;height:45px;left:3px;position:absolute;top:370px;width:448px;z-index:1;margin:0;padding:5px 0 0 0;}
#gallery .caption .content {padding:0 5px;margin:0;line-height:1.3em;font-size:16px;color:#fff;font-family:Arial, Helvetica, sans-serif;width:442px;font-weight:bold;text-align:center;}
#gallery .caption .content h3 {margin:0 0 5px 0;padding:0;color:#F0008C;font-size:16px;font-weight:normal;font-family:Arial, Helvetica, sans-serif;line-height:1em; letter-spacing:normal;text-transform:uppercase;}
#gallery .caption .content span{color:#F0008C;font-size:16px;font-weight:bold;}
#gallery .caption .content label{color:#ddd;font-size:16px;font-weight:bold;}
#gallery p:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0;}
#gallery .gallery_top_header{display:block;clear:both;margin:0;padding:0;}
#gallery .gallery_top_header h2{display:block;clear:both;margin:0;padding:0;color:#fff;font-size:18px;text-align:center;min-height:30px;height:30px;line-height:30px;font-family:Arial, Helvetica, sans-serif;font-weight:normal;}


a.job_posting_btn_link{width:215px;height:118px;margin:0;padding:0;display:block;clear:both;background-image:url(../images/job-Postings-buttons_up.gif)/*tpa=http://www.avoncompany.com/images/job-Postings-buttons_up.gif*/;background-repeat:no-repeat;background-position: center top; text-indent:-999999px;}
a.job_posting_btn_link:hover{background-image:url(../images/job-Postings-buttons_over.gif)/*tpa=http://www.avoncompany.com/images/job-Postings-buttons_over.gif*/;background-repeat:no-repeat;background-position: center top;}

a.rep_btn_link{width:215px;height:118px;margin:0;padding:0;display:block;clear:both;background-image:url(../images/Button_rep1.gif)/*tpa=http://www.avoncompany.com/images/Button_rep1.gif*/;background-repeat:no-repeat;background-position: center top; text-indent:-999999px;}
a.rep_btn_link:hover{background-image:url(../images/Button_rep2.gif)/*tpa=http://www.avoncompany.com/images/Button_rep2.gif*/;background-repeat:no-repeat;background-position: center top;}



a.btn_job_link, a.job_posting_btn_link{width:215px;height:75px;margin:0;padding:0;display:block;clear:both;background-image:url(../images/btn_job_link.png)/*tpa=http://www.avoncompany.com/images/btn_job_link.png*/;background-repeat:no-repeat;background-position: center top; text-indent:-999999px;}
a.btn_job_link:hover, a.job_posting_btn_link:hover{background-image:url(../images/btn_job_link_over.png)/*tpa=http://www.avoncompany.com/images/btn_job_link_over.png*/;background-repeat:no-repeat;background-position: center top;}
a.btn_rep_link{width:215px;height:75px;margin:0;padding:0;display:block;clear:both;background-image:url(../images/btn_rep_link.png)/*tpa=http://www.avoncompany.com/images/btn_rep_link.png*/;background-repeat:no-repeat;background-position: center top; text-indent:-999999px;}
a.btn_rep_link:hover{background-image:url(../images/btn_rep_link_over.png)/*tpa=http://www.avoncompany.com/images/btn_rep_link_over.png*/;background-repeat:no-repeat;background-position: center top;}















.pageSlider{ overflow: hidden;width: 458px; height: 330px; position: relative; margin: 0 auto 0px;}
.pageSlider .wrapperPageImages{ overflow: hidden;width: 458px; height: 330px; margin: 0px; position: absolute; top: 0; left: 0; }
/* Width below is max for Opera */
.pageSlider .wrapperPageImages  ul{overflow: hidden;width: 32700px; list-style: none; position: absolute; top: 0; left: 0; background: #fff; margin: 0; }
.pageSlider .wrapperPageImages  ul li{ overflow: hidden;display: block; float: left; padding: 0; height: 330px; width: 458px; margin: 0; }
.pageSlider .arrow { display: block; height: 200px; width: 67px; background: url(../images/arrows.png)/*tpa=http://www.avoncompany.com/images/arrows.png*/ no-repeat 0 0; text-indent: -9999px; position: absolute; top: -250px; cursor: pointer; }
/* to make forward and back work, delete the width and height and tweak the right:20px value which was set to -20px previously*/
.pageSlider .wrapperPageImages  ul li p{ display:block;clear:both;margin:0;padding:0 0 5px 0;font-size:14px;font-family: Arial, Helvetica, sans-serif;font-weight:bold;text-align:center;}
.pageSlider .forward { background-position: 0 0; right: 20px; width:1px; height:1px;}
.pageSlider .back{ background-position: -67px 0; left: 20px; width:1px; height:1px;}
.pageSlider .forward:hover{ background-position: 0 -200px; }
.pageSlider .back:hover{ background-position: -67px -200px; }
.pageSlider .thumbNav { position: relative; top: 14px; text-align: right; margin:0 45px 0 0; z-index:100;padding:0;}
.pageSlider .thumbNav li { display: inline; }
.pageSlider .thumbNav a{ color: white; font: 11px/18px Arial, Helvetica; display: inline; padding: 4px 8px; height: 18px; margin: 0 7px 0 0; background: #000000; text-align: right;  top: 10px; border: 1px solid #ffffff; text-decoration:none;}
.pageSlider .thumbNav a:hover  { background-image: none; color:#ec008c;}
.pageSlider .thumbNav a.cur{ background: #ec008c; }
.pageSlider .start-stop{ color: white; font: 10px/15px Arial, Helvetica; z-index: 10; background-color:#ec008c; padding-top: 2px; color: white; width: 22px; text-align: center; position: absolute; 15px; top: 11px; right: 20px; height:20px; border: 1px solid #ffffff;text-decoration:none;}
.pageSlider .start-stop.playing{background-color: #EC008C;color: #FFFFFF;text-decoration: none;}
.pageSlider .start-stop:hover  { background-image: none; }
.pageSlider .start-stop.playing a, .pageSlider .start-stop.playing a:link, .pageSlider .start-stop.playing a:visited {color: #fff;text-decoration:none;}
*:first-child+html {} * html .start-stop{ color: white; font: 10px/15px Arial, Helvetica; z-index: 10; background-color:#ec008c; color: white; width: 24px; text-align: center; position: absolute; top: 14px; right: 12px; padding-top: 5px; padding-bottom: 6px; height:20px; border: 1px solid #ffffff;text-decoration:none;}
/* Prevents */
.pageSlider .wrapperPageImages  ul ul{ position: static; margin: 0; background: none; overflow: visible; width: auto; border: 0; }
.pageSlider .wrapperPageImages  ul ul li{ float: none; height: auto; width: auto; background: none; }

#page-wrap{ width: 760px; padding: 15px; background: white; margin: 0 auto 50px; position: relative; }
#col1 { width: 49%; float: left; margin: 0 0 20px 0; }
#col2 { width: 49%; float: right; }
/* For Specific Slides */
#textSlide{ padding: 10px 30px; }
#textSlide h3{ font: 20px Georgia, Serif; }
#textSlide h4{ text-transform: uppercase; font: 15px Georgia, Serif; margin: 10px 0; }
#textSlide ul{ list-style: disc; margin: 0 0 0 25px; }
#textSlide ul li{ display: list-item; }
#quoteSlide{ padding: 30px; }
#quoteSlide blockquote { font: italic 24px/1.5 Georgia, Serif; text-align: center; color: #444; margin: 0 0 10px 0; }
#quoteSlide p{ text-align: center; }




.hof_linkbox a, .hof_linkbox a:link, .hof_linkbox a:hover, .hof_linkbox a:visited{color: #F0008C;font-weight: normal;text-decoration: underline;}
.hof_rhr, .hof_rhr p{color: #000000;font-family: Arial,Helvetica,Verdana,sans-serif;font-size: 1.1em;line-height: 1.35em;margin-bottom: 1.2em;}    
.hof_rhr h4{color: #F0008C;font-family: Arial,Helvetica,Verdana,sans-serif;font-size:1.35em;font-weight: normal;margin-bottom: 8px;padding-top: 8px;}



#btn1 {
 display: inline-block;
 width: 149px;
 height: 73px;
 cusror: pointer;
 background-image: url("../images/corporatecitizenship/corporateresponsibility/tn1a.gif")/*tpa=http://www.avoncompany.com/images/corporatecitizenship/corporateresponsibility/tn1a.gif*/;
 text-indent: -9999em;
 }
 
#btn1:hover {
 background-image: url("../images/corporatecitizenship/corporateresponsibility/tn1b.gif")/*tpa=http://www.avoncompany.com/images/corporatecitizenship/corporateresponsibility/tn1b.gif*/;
 }


#btn2 {
 display: inline-block;
 width: 152px;
 height: 73px;
 cusror: pointer;
 background-image: url("../images/corporatecitizenship/corporateresponsibility/tn2a.gif")/*tpa=http://www.avoncompany.com/images/corporatecitizenship/corporateresponsibility/tn2a.gif*/;
 text-indent: -9999em;
 }
 
#btn2:hover {
 background-image: url("../images/corporatecitizenship/corporateresponsibility/tn2b.gif")/*tpa=http://www.avoncompany.com/images/corporatecitizenship/corporateresponsibility/tn2b.gif*/;
 }


#btn3 {
 display: inline-block;
 width: 151px;
 height: 73px;
 cusror: pointer;
 background-image: url("../images/corporatecitizenship/corporateresponsibility/tn3a.gif")/*tpa=http://www.avoncompany.com/images/corporatecitizenship/corporateresponsibility/tn3a.gif*/;
 text-indent: -9999em;
 }
 
#btn3:hover {
 background-image: url("../images/corporatecitizenship/corporateresponsibility/tn3b.gif")/*tpa=http://www.avoncompany.com/images/corporatecitizenship/corporateresponsibility/tn3b.gif*/;
 }




#cr-btn1
{
  display: inline-block;
  width: 149px;
  height: 72px;
  cusror: pointer;
  position:relative; left: 1px;
  background: url("../images/corporatecitizenship/corporateresponsibility/btn-cr-1.gif")/*tpa=http://www.avoncompany.com/images/corporatecitizenship/corporateresponsibility/btn-cr-1.gif*/ no-repeat 0 0;
  text-indent: -9999em;
}

#cr-btn1:hover
{
  background-position: 0 -71px;
}



#cr-btn2
{
  display: inline-block;
  width: 151px;
  height: 72px;
  cusror: pointer;
  position:relative; left: 1px;
  background: url("../images/corporatecitizenship/corporateresponsibility/btn-cr-2.gif")/*tpa=http://www.avoncompany.com/images/corporatecitizenship/corporateresponsibility/btn-cr-2.gif*/ no-repeat 0 0;
  text-indent: -9999em;
}

#cr-btn2:hover
{
  background-position: 0 -71px;
}


#cr-btn3
{
  display: inline-block;
  width: 150px;
  height: 72px;
  cusror: pointer;
  position:relative; left: 1px;
  background: url("../images/corporatecitizenship/corporateresponsibility/btn-cr-3.gif")/*tpa=http://www.avoncompany.com/images/corporatecitizenship/corporateresponsibility/btn-cr-3.gif*/ no-repeat 0 0;
  text-indent: -9999em;
}

#cr-btn3:hover
{
  background-position: 0 -71px;
}


/* GRI DATA TABLE */

table.gri_table{    }

table.gri_table tr{

}


table.gri_table tr td{    
    margin: 0 20px 0 0;
    padding: 10px;
}

tr.gri_header, tr.gri_header td {
    background-color: #999999;
    color: #fff;
    font-size: 14px;
    font-weight: bold;    
}

tr.gri_row_1 {
    background-color: #ec008c;
}

tr.gri_row_1 td {
    font-size: 21px;
    font-weight: bold;
    color: #fff;
}

tr.gri_row_2 {
    background-color: #d5dce9;
}

tr.gri_row_2 td {
    font-size: 18px;
    font-weight: bold;    
}

tr.gri_row_3 {
    background-color: #ddd;
}

tr.gri_row_3 td {
    font-size: 16px;
    font-weight: bold;    
}


table.gri_table tr td a{    
	display: block;
	margin: 0 0 10px 0;
}


.contenttext table.executive_profile_table{border:none;margin-bottom:10px;}
.contenttext table.executive_profile_table td{vertical-align:bottom;}
.contenttext table.executive_profile_table td h3{margin-bottom:0;}



@media print {
	input#hideme{display:none;}
	div#printhead{display:block;}
	#printcontentarea,.contenttext{width:99%;height:100%;color:#333;float:left;display:inline;padding:20px;}
	#printcontentarea h1.overlaypages{font-family:Arial, Helvetica, Verdana, sans-serif;font-size:2.91em;color:#f0008c;margin-bottom:10px;padding-top:2px;font-weight:400;}
	#printcontentarea h1,.contenttext h1{font-family:Arial, Helvetica, Verdana, sans-serif;font-size:35px;color:#f0008c;line-height:40px;margin-bottom:10px;padding-top:10px;width:auto;font-weight:400;}
	#printcontentarea h2,.contenttext h2{font-family:Arial, Helvetica, Verdana, sans-serif;font-size:21px;color:#898989;line-height:24px;margin-bottom:15px;width:auto;font-weight:400;}
	#printcontentarea h3,.contenttext h3{font-family:Arial, Helvetica, Verdana, sans-serif;font-size:18px;color:#000;line-height:22px;margin-bottom:10px;width:auto;font-weight:400;}
	#printcontentarea h4,.contenttext h4{font-family:Arial, Helvetica, Verdana, sans-serif;font-size:16px;color:#f0008c;margin-bottom:8px;padding-top:8px;width:auto;font-weight:400;}
	.contenttext h5{font-family:Arial, Helvetica, Verdana, sans-serif;font-size:15px;color:#f0008c;margin-bottom:10px;font-weight:400;width:auto;}
	.contenttext h6{font-family:Arial, Helvetica, Verdana, sans-serif;font-size:16px;color:#f0008c;margin-bottom:8px;font-weight:400;width:auto;}
	#printcontentarea p,.contenttext p{font-family:Arial, Helvetica, Verdana, sans-serif;font-size:16px;color:#000;line-height:1.35em;margin-bottom:1.4em;}
	#printcontentarea a:link,#printcontentarea a:visited,.contenttext a{color:#f0008c;text-decoration:underline;font-weight:700;}
	#printcontentarea ul,.contenttext ul{list-style-type:disc !important;margin-left:30px;margin-right:5px;margin-bottom:15px;}
	#printcontentarea ul li,.contenttext ul li{font-family:Arial, Helvetica, Verdana, sans-serif;font-size:1.2em;color:#000;line-height:1.25em;margin-bottom:0.4em;}
	#printcontentarea ul li ol,.contenttext ul li ol{list-style-type:decimal !important;font-family:Arial, Helvetica, Verdana, sans-serif;margin:10px 5px 0.7em 30px;}
	#printcontentarea ol,.contenttext ol{list-style-type:decimal !important;font-family:Arial, Helvetica, Verdana, sans-serif;margin-left:30px;margin-right:5px;margin-bottom:1.4em;}
	#printcontentarea ol li,.contenttext ol li{font-size:1.2em;color:#000;line-height:1.25em;margin-bottom:0.4em;}
	#printcontentarea ol li ul,.contenttext ol li ul{list-style-type:disc !important;margin-left:30px;margin-right:5px;margin-top:10px;}
	#printcontentarea ol li ul li,.contenttext ol li ul li{font-family:Arial, Helvetica, Verdana, sans-serif;font-size:1em;color:#000;line-height:1.25em;}
	#printcontentarea ul li ul,.contenttext ul li ul{list-style-type:square !important;margin-left:30px;margin-right:5px;margin-top:10px;}
	.printpageurlfooter{clear:both;border-top-style:solid;border-top-width:1px;font-family:Arial, Helvetica, Verdana, sans-serif;padding-top:5px;font-size:0.85em;color:#000;line-height:1.35em;word-wrap:break-word;width:100%;border-color:#000;}
	#printcontentarea ul li ol li,.contenttext ul li ol li,#printcontentarea ul li ul li,.contenttext ul li ul li{font-family:Arial, Helvetica, Verdana, sans-serif;font-size:1em;color:#000;line-height:1.35em;}
	/******* END Print Page style *******************/
}



