.anythingSlider                         { overflow: hidden;width: 644px; height: 436px; position: relative; margin: 0 auto 0px;}
.anythingSlider .wrapperfeaturedimages                 { overflow: hidden;width: 644px; height: 436px; margin: 0px; position: absolute; top: 0; left: 0; }

                                        /* Width below is max for Opera */
.anythingSlider .wrapperfeaturedimages  ul             {overflow: hidden;width: 32700px; list-style: none; position: absolute; top: 0; left: 0; background: #eee; margin: 0; }
.anythingSlider .wrapperfeaturedimages  ul li          { overflow: hidden;display: block; float: left; padding: 0; height: 436px; width: 644px; margin: 0; }
.anythingSlider .arrow                  { display: block; height: 200px; width: 67px; background: url(../images/arrows.png)/*tpa=http://www.avoncompany.com/images/arrows.png*/ no-repeat 0 0; text-indent: -9999px; position: absolute; top: -250px; cursor: pointer; }
/* to make forward and back work, delete the width and height and tweak the right:20px value which was set to -20px previously*/
.anythingSlider .forward                { background-position: 0 0; right: 20px; width:1px; height:1px;}
.anythingSlider .back                   { background-position: -67px 0; left: 20px; width:1px; height:1px;}
.anythingSlider .forward:hover          { background-position: 0 -200px; }
.anythingSlider .back:hover             { background-position: -67px -200px; }

.thumbNav                               { position: relative; top: 14px; text-align: right; margin-right:34px; z-index:100;}
.thumbNav li                            { display: inline; }
.thumbNav a                             { color: white; font: 11px/18px Arial, Helvetica; display: inline; padding: 4px 8px; height: 18px; margin: 0 7px 0 0; background: #000000; text-align: right;  top: 10px; border: 1px solid #ffffff; text-decoration:none;}
.thumbNav a:hover                       { background-image: none; color:#ec008c;}
.thumbNav a.cur                         { background: #ec008c; }

.start-stop                             { color: white; font: 10px/15px Arial, Helvetica; z-index: 10; background-color:#ec008c; padding-top: 2px; color: white; width: 22px; text-align: center; position: absolute; 15px; top: 11px; right: 10px; height:20px; border: 1px solid #ffffff;text-decoration:none;}
.start-stop.playing                     { background-color: #ec008c; }
.start-stop:hover                       { background-image: none; }


*:first-child+html {} * html .start-stop  { color: white; font: 10px/15px Arial, Helvetica; z-index: 10; background-color:#ec008c; color: white; width: 24px; text-align: center; position: absolute; top: 14px; right: 12px; padding-top: 5px; padding-bottom: 6px; height:20px; border: 1px solid #ffffff;text-decoration:none;}


/*
  Prevents
*/
.anythingSlider .wrapperfeaturedimages  ul ul          { position: static; margin: 0; background: none; overflow: visible; width: auto; border: 0; }
.anythingSlider .wrapperfeaturedimages  ul ul li       { float: none; height: auto; width: auto; background: none; }





#page-wrap                              { width: 760px; padding: 15px; background: white; margin: 0 auto 50px; position: relative; }
#col1                                   { width: 49%; float: left; margin: 0 0 20px 0; }
#col2                                   { width: 49%; float: right; }

/*
    For Specific Slides
*/
#textSlide                              { padding: 10px 30px; }
#textSlide h3                           { font: 20px Georgia, Serif; }
#textSlide h4                           { text-transform: uppercase; font: 15px Georgia, Serif; margin: 10px 0; }
#textSlide ul                           { list-style: disc; margin: 0 0 0 25px; }
#textSlide ul li                        { display: list-item; }

#quoteSlide                             { padding: 30px; }
#quoteSlide blockquote                  { font: italic 24px/1.5 Georgia, Serif; text-align: center; color: #444; margin: 0 0 10px 0; }
#quoteSlide p                           { text-align: center; }