body {
	/*
	background-color: #FFFFFF;
	*/
}

body, html, input {
	
	
}

.info {
	font-style:italic;
	font-size: 0.9em;
	color: #FFFFFF;
}



/******* Video Page style START*******************/


.videopage_avonlogo {
text-align:right;	
padding-top:10px; 
padding-bottom:14px; 
padding-right:12px; 
background-color:#FFF;
}

/******* Video Page style END *******************/