#popupMask {
	display:none;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:200;
	background-color:#000;
	-moz-opacity: 0.7;
	opacity:.70;
	filter: alpha(opacity=70);
}
#popupContainer {
	position: absolute;
	z-index: 201;
	top: 0px;
	left: 0px;
	display:none;
	padding: 0px;
}
#popupInner {
	border: 1px solid #000000;
	background-color: #FFFFFF;
}
#popupFrame {
	margin: 0px;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 202;
}
#popupTitleBar {
	padding:10px;
	/*
	
	background-color: #333344;
	color: #FFFFFF;
	font-weight: bold;
	height: 1.3em;
	padding: 5px;
	border-bottom: 2px solid #000000;
	border-top: 1px solid #78A3F2;
	border-left: 1px solid #78A3F2;
	border-right: 1px solid #204095;
	position: relative;
	z-index: 203;
	
	*/
}
#popupTitle {
	float:left;
	font-size: 1.1em;
}
#popupControls {
	float: right;
	cursor: pointer;
	cursor: hand;
}
#popupControls a span {
	padding-bottom:10px;
	display: block;
	height: 17px;
	width: 64px;
	text-indent: -9000px;
	background: url('../images/icons/close.gif')/*tpa=http://www.avoncompany.com/images/icons/close.gif*/ no-repeat;
}

/*
 css defination for Video display overlay
*/

#videoPopupMask {
	DISPLAY: none; Z-INDEX: 200; FILTER: alpha(opacity=70); LEFT: 0px; WIDTH: 100%; POSITION: absolute; TOP: 0px; HEIGHT: 100%; BACKGROUND-COLOR: #000; opacity: .70; -moz-opacity: 0.7
}
#videoPopupContainer {
	PADDING-RIGHT: 0px; DISPLAY: none; PADDING-LEFT: 0px; Z-INDEX: 201; LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; POSITION: absolute; TOP: 0px
}
#videoPopupInner {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #ffffff
}
#videoPopupDisplay {
	Z-INDEX: 202; MARGIN: 0px; WIDTH: 100%; POSITION: relative; HEIGHT: 100%
}
#videoPopupTitleBar {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
#videoPopupTitle {
	FONT-SIZE: 1.1em; FLOAT: left
}
#videoPopupControls {
	FLOAT: right; CURSOR: hand
}
#videoPopupControls A SPAN {
	DISPLAY: block; BACKGROUND: url(../images/icons/close.gif)/*tpa=http://www.avoncompany.com/images/icons/close.gif*/ no-repeat; PADDING-BOTTOM: 10px; WIDTH: 64px; TEXT-INDENT: -9000px; HEIGHT: 17px
}
