@charset "utf-8";
*{ padding:0px; margin:0px; }
			
			.boxgrid1{ 
			/*	padding-top:8px; */
				width: 140px; 
				height: 140px;
				/*float:left; */
				background:#4f682f; 
				overflow: hidden; 
				position: relative; 
				margin-bottom:0px;
				cursor: hand; 
				cursor: pointer;
			}

			.boxgrid1 img{ 
				position: absolute; 
				top: 0; 
				left: 0; 
				border: 0; 
			}

			
			.boxgrid1 h3{ 
				margin: 10px 10px 0 10px; 
				color:#FFF; 
				font:12pt Arial, sans-serif; 
				letter-spacing:-1px; 
				font-weight: bold;  
			}
			
			.boxgrid1 p{  
				padding: 0 10px; 
				color:#d5dce9; 
				font-weight:bold; 
				font:10pt Arial, sans-serif; 
			}


			.boxgrid1 p a:link, .boxgrid1 p a:visited{
				color:#ffffff; 
				text-decoration:none;
			}

			.boxgrid1 p a:hover, .boxgrid1 p a:active {
				text-decoration:underline;
			}
			
			
		.boxcaption{ 
				float: left; 
				position: absolute; 
				background: #000; 
				height: 110px; 
				width: 100%; 
				opacity: .8; 
				/* For IE 5-7 */
				filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
				/* For IE 8 */
				-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
 			}
 				.captionfull .boxcaption {
 					top: 260;
 					left: 0;
 				}
 				.caption .boxcaption {
 					top: 110;
 					left: 0;
 				}
				
			h3 a{}
