#mainnav
{	margin: 0;
	padding: 0;
	z-index: 30;
}

#mainnav li
{	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	padding-right:23px;
}

#mainnav li a.inactivelink:link, #mainnav li a.inactivelink:visited
{	

font-family:Arial, Helvetica, Verdana, sans-serif;
	font-size:16px;
	color:#000000;
	font-weight:bold;
	display: block;
	margin: 0 1px 0 0;
	width: auto;
	text-align: left;
	text-decoration: none;	 
}

#mainnav li a.inactivelink:hover
{	
	text-decoration: none;
	color:#ec008c;
}



#mainnav li a.activelink:link, #mainnav li a.activelink:visited
{	

font-family:Arial, Helvetica, Verdana, sans-serif;
	font-size:16px;
	color:#ec008c;
	font-weight:bold;
	display: block;
	margin: 0 1px 0 0;
	width: auto;
	text-align: left;
	text-decoration: none;
	z-index: 13000;
}

#mainnav li a.activelink:hover
{	text-decoration: none;}



#mainnav div
{	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	z-index: 13000;
	border: 1px solid #ec008c;
	}

	#mainnav div a
	{	
	
	font-family:Arial, Helvetica, Verdana, sans-serif;
	font-size:12px;
	color:#666666;
	line-height:15px;
	padding: 5px 12px;
	position: relative;
	display: block;
	margin: 0;
	width: auto;
	white-space: nowrap;
	text-align: left;
	text-decoration: none;
	background: #ffffff;
		
		}

	#mainnav div a:hover
	{	
		color: #ec008c;
		text-decoration: underline;
		}



