/* News Styles */
/* Entergy News CSS Document */

.news-headlines-table {
  padding-left: 8px;
  line-height: 1.5em;
}

.news-headline-item {
  line-height: 1.5em;
}

.news-headlines-date {
  font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  line-height: 1.5em;
}

.news-headlines-text {
  font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  line-height: 1.5em;
}

.news-headlines-link {
  font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  line-height: 1.5em;
}

.news-headlines-nonews {
  font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  line-height: 1.5em;
}

a.news-headlines-link {
  font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  line-height: 1.5em;
}

a.news-headlines-link:hover {
  font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-decoration: underline;
  line-height: 1.5em;
}

a.news-headlines-link:visited {
  font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.5em;
}

.news-release-date-text {
	font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 16px;
}

.news-release-contact-title-text {
	font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 1.5em;
	padding-top: 16px;
}

.news-release-contact-one-text {
	font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
	font-size: 12px;
	padding-top: 16px;
	padding-left: 17px;
}

.news-release-contact-two-text {
	font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 1.5em;
	padding-top: 16px;
	padding-left: 28px;
}

.news-release-contact-three-text {
	font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 1.5em;
	padding-top: 16px;
	padding-left: 17px;
}

.news-release-contact-four-text {
	font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 1.5em;
	padding-top: 16px;
	padding-left: 28px;
}

.news-release-graphic-logo {
	padding-top: 15px;
}

.news-release-headline {
	font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
	font-size: 22px;
	font-weight: normal;
	line-height: 32px;
	padding-top: 9px;
	padding-bottom: 20px;
}

.news-release-body-text {
	font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 1.5em;
}

.news-room-news-years {
  font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  padding-top: 16px;
  padding-bottom: 9px;
}

.news-room-selected-year {
  font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}

a.news-room-selected-year {
  font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}

a.news-room-selected-year:visited {
  font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}

a.news-room-selected-year:hover {
  font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}

a.news-room-unselected-year {
  font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
}

a.news-room-unselected-year:visited {
  font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
}

a.news-room-unselected-year:hover {
  font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-decoration: underline;
}

.news-room-num-results {
	font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
}

.news-room-links {
  font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  padding-bottom: 15px;
}

a.news-room-links {
  font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
}

a.news-room-links:visited {
  font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
}

a.news-room-links:hover {
  font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-decoration: underline;
}

.news-room-date {
  font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
  font-size: 12px;
  padding-right: 20px;
  font-weight: normal;
  text-decoration: none;
}
a.news-room-date {
  font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
  font-size: 12px;
  padding-right: 20px;
  font-weight: normal;
  text-decoration: none;
}

a.news-room-date:visited {
  font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
  font-size: 12px;
  padding-right: 20px;
  font-weight: normal;
  text-decoration: none;
}

a.news-room-date:hover {
  font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
  font-size: 12px;
  padding-right: 20px;
  font-weight: normal;
  text-decoration: underline;
}

.news-list-item-table {
  padding-top: 15px;
}

.news-list-date {
  font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
  font-size: 12px;
  padding-right: 20px;
  font-weight: normal;
  text-decoration: none;
}

.news-list-td-two {
  width: 20px; 
}

.news-list-headline {

}

a.news-list-links {
  font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
}

a.news-list-links:visited {
  font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
}

a.news-list-links:hover {
  font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-decoration: underline;
}

.wireframe-news-page {
  width: 750px;
  align: left;
}

.wireframe-news-page-header {
  width: 100%;
  height: 108px;
}

.wireframe-news-page-header-bottom-padding {
  height: 40px;
}

.wireframe-news-page-content-area {
  width: 584px;
  padding-left: 20px;
  padding-right: 0px;
  padding-top: 27px;
}

.wireframe-news-page-header-img-column {
  width: 50%;
}

.wireframe-news-page-content-area-left-column {
  width: 378px;
  padding-right: 25px;
}

.wireframe-news-page-content-area-center-column {
  width: 1px;
  padding-left: 0px;
  padding-right: 0px;
}

.wireframe-news-page-content-area-right-column {
  width: 135px;
  padding-left: 25px;
}

.wireframe-news-page-content-area-extended {

}

/* Entergy Financial News */

.news-fnr-table {

}

.news-fnr-td-1 {
	vertical-align: top;
	white-space: nowrap;
}

.news-fnr-td-2 {
	vertical-align: top; 
}

.news-fnr-td-3 {
	vertical-align: top; 
}

.news-fnr-date {
  font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}

.news-fnr-error {
  font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}

.news-fnr-spacer {
  font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}

a.news-fnr-link {
  font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
}

a.news-fnr-link:visited {
  font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
}

a.news-fnr-link:hover {
  font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-decoration: underline;
}
