/*-----------------------------------------------------------------------------------------*/
/*----------------------------------  AMFAM.COM STYLESHEET  -------------------------------*/
/*-------------------------------------    NOSCRIPT   -------------------------------------*/

	body {
		height:50%; 
		padding-top:20%;  
	}
	
/* Outer Wrapper / Header_Wrapper / Header
--------------------------------------------------------------------------------------- */	
	#header, #footer_wrapper, #container, #main, #aside { 
		background:none; 
		display:none;
	}
	#outer_wrapper, #wrapper { background:none; border:none; }
	


	
/* Amfam Logo / Global Nav / Search Box / Primary Nav / Secondary Nav / Main Wrapper / Main Column / Footer Wrapper
---------------------------------------------------------------------------------------------------------------------- */	
	
	#amfam_logo, #global_nav, #search_box, 
	#header, #primary_nav, #secondary_nav, #main_wrapper, 
	#main_column, #footer_wrapper { display:none; }
	

/*  6/13/08 Banner Content and Content
---------------------------------------------------------------------------------------------------------------------- */		
	#banner_content, #content {
		display:none;
	}


/* Error Messages
--------------------------------------------------------------------------------------- */	
	
	.system_error, .system_notice { 
		display: none; 
	}
	
	.scripting_error span {  font-size: 12px; line-height: 16px; }

/* No Script Styles 
--------------------------------------------------------------------------------------- */	
	
	#noscript_msg { background: transparent url(../images/noscript_bg.gif)/*tpa=https://web.amfam.com/site_files/images/noscript_bg.gif*/; background-repeat: repeat-y; margin: 0 auto; width: 967px; }		
	#noscript_msg .header {	background: transparent url(../images/noscript_headerBG.gif)/*tpa=https://web.amfam.com/site_files/images/noscript_headerBG.gif*/ no-repeat top left; height:21px;}
	#noscript_msg .footer { background: transparent url(../images/noscript_footerBG.gif)/*tpa=https://web.amfam.com/site_files/images/noscript_footerBG.gif*/ no-repeat bottom left; height:21px; }
	#noscript_msg .content { padding: 30px;}


/* Print Styles
--------------------------------------------------------------------------------------- */		

@media print {

	body { height:100%; padding:0; }
	#noscript_msg { background:none; margin:0; width:750px;	}
	#noscript_msg .header { background: none; }
	#noscript_msg .footer { background: none; }
	#noscript_msg .content { padding: 10px;  }
		
}