/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */ 

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
* {margin:0;padding:0;} 
 
html,
button,
input,
select, 
textarea {color: #222;}

html, body {height: 100%;}
body {font-size: 1em;	line-height: 1.4; font-family: Raleway, sans-serif;	font-weight: 500;}

html {overflow-y:scroll; overflow: -moz-scrollbars-vertical;}
body {background-position: center 0; background-repeat: repeat-x;}

/*div{border:solid 1px black;}*/

.clearbody {clear: both; height: 100px;}

/*
 * Remove text-shadow in selection highlight: h5bp.com/
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {background: #b3d4fc; text-shadow: none;}
::selection {background: #b3d4fc; text-shadow: none;}

/*
 * A better looking default horizontal rule
 */
hr {display: block;height: 1px;border: 0;border-top: 1px solid #ccc;margin: 1em 0;padding: 0;}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {vertical-align: middle;}

/*
 * Remove default fieldset styles.
 */

fieldset {border: 0; margin: 0;	padding: 0;}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {resize: vertical;}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#header{
	display: block;
	position: fixed;
    top:0px;
	width: 100%;
	min-width: 975px;
	height: 114px;
	background: transparent url('Images/h_bk_nav.png')/*tpa=http://www.targaresources.com/Themes/Default/Content/Images/h_bk_nav.png*/ 0 0 repeat;
	z-index: 3;
	filter:alpha(opacity=90);
	opacity:0.9;

}

#header_map{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
}

#header_image{
	position: absolute;
	width: 100%;
	height: 201px;
	z-index: 0;
	background-color: transparent;
	background: url('Images/subBanner-1.jpg')/*tpa=http://www.targaresources.com/Themes/Default/Content/Images/subBanner-1.jpg*/;
	background-position: center top;
	background-repeat: repeat-x;
}
.header_cont{width:965px;position:relative;margin:0 auto;height: 200px;}

.header_image_cont{
	min-height: 89px;
	width: 441px;
    position: absolute;
    left: 0px;
    top: 123px;
}

#wrap {width: 100%; min-height: 100%; z-index: 2; position: relative;}

#main {
	min-height: 600px;
	width: 965px;
	margin: 0 auto;
    padding: 15px 15px 74px 15px;
	position: relative;
	}  /* must be same height as the footer */
	
	
#mainmap 
{
    background-color:transparent;
	width: 965px;
	margin: 0 auto;
    padding: 15px 15px 74px 15px;
	position: relative;
	}
	
	
#footer {
    position: fixed;
    bottom:0px;
    z-index: 3;
	width: 100%;
	min-width: 975px;
	margin-top: -74px; /* negative value of footer height */
	height: 74px;
	clear:both;
	background: transparent url('Images/f_bk_nav.png')/*tpa=http://www.targaresources.com/Themes/Default/Content/Images/f_bk_nav.png*/ 0 0 repeat;
} 
	
#footer_content{
	overflow:auto;
	width: 965px;
	height: 60px;
	margin: 0 auto;
	padding: 14px 15px 0 15px;	
}

#footer_content_closed{
	overflow:auto;
	width: 965px;
	height: 60px;
	margin: 0 auto;
	padding: 14px 15px 0 15px;	
    display:none;
}



/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/* thank you Erik J - negate effect of float*/
	}


/* Header Elements */

#logo {
	display: block;
	position: absolute;
	width: 171px;
	height: 49px;
	top:40px;
	overflow: hidden;
	text-indent: -9999px;
	background: transparent url('Images/h_targa_logo.png')/*tpa=http://www.targaresources.com/Themes/Default/Content/Images/h_targa_logo.png*/ 0 0 no-repeat;
	cursor: pointer;
}

#printlogo {display: none;}

/* Sub Nav */
#nav_sub {
	display: block;
	position: relative;
	float: right;
	top: 2px;
	padding: 0 25px 0 0;
	clear: both;

}

#nav_sub ul {
	display: inline-block;
	position: relative;
	padding: 0;	
	margin: 0;	
}

#nav_sub ul li {
	list-style: none;
	display: inline;
	padding: 0 14px 0 15px;
	background: url('Images/b_hash.png')/*tpa=http://www.targaresources.com/Themes/Default/Content/Images/b_hash.png*/ right 7px no-repeat;
	
}

#nav_sub ul li:last-child{padding: 0 0 0 13px; background: none;}

#nav_sub ul li a{
	display: inline-block;
	color: #ffffff;
	font-weight: 500;
	text-decoration: none;
	font-size:0.688em;
	letter-spacing: 0.09em;
	line-height: 1.636em;
}

#nav_sub ul li a.active, #nav_sub ul li a:hover{color: #b7d1e9;}



/* Main Nav */
.nav_container{
    width:100%;
    position: fixed;
    z-index: 4;
}

#nav{
    width: 965px;
    margin: 0 auto;
}

#nav_main_container {
	display: block;
	position: relative;
	float: right;
	top:8px;
	clear: both;
	width:700px;	
}

/*
.lt-ie9 #nav_main_container {op
	width:685px;
}

.ie9 #nav_main_container {
	width:685px;
}
*/

#nav_main {
	display: inline-block;
	position: relative;
	padding: 0;	
	margin: 0;
	float: right;		
}

#nav_main li {
	list-style: none;
	display: inline;
	padding: 0;
	position:relative;
	
}

#nav_main li a{
	display: inline-block;
	color: #ffffff;
	font-weight: 500;
	text-decoration: none;
	font-size:0.750em;
	letter-spacing: 0.09em;
	text-transform: uppercase;
	padding: 28px 23px;
}


#nav_main li.active a, #nav_main li a:hover{background: url('Images/bk_nav_hover.png')/*tpa=http://www.targaresources.com/Themes/Default/Content/Images/bk_nav_hover.png*/ 0 0 repeat-x;}

/* main menu dropdowns */

#nav_main ul.dropdown {
	display: block;
	color: #ffffff;
	background: #175387;
	-moz-box-shadow:0px 0px 27px 7px rgba(0, 0, 0, 0.48);
	-webkit-box-shadow:0px 0px 27px 7px rgba(0, 0, 0, 0.48);
	box-shadow:0px 0px 27px 7px rgba(0, 0, 0, 0.48);
	z-index: 500;
	position: absolute;	
	margin-top: 25px;
	left:0px;
	padding: 15px 0;
	*top: 25px; /* IE 7 and below */
	*margin-top: 0; /* IE 7 and below */
	

}

.lt-ie9 #nav_main ul.dropdown{
	background: #175387;
	color: #ffffff;	
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}

#nav_main ul.dropdown li{display: block; padding: 2px 10px 2px 25px;}
    #nav_main ul.dropdown li a{display: inline-block; color: #ffffff; font-weight: 500; text-decoration: none; font-size: 11px; letter-spacing: 0.09em; margin: 0; padding: 0px; background: none; text-transform: none;}
    #nav_main ul.dropdown li a:hover{color: #B5D6F5;}

#nav_main ul.dropdownOperations{background:url('Images/operationsThumb.jpg')/*tpa=http://www.targaresources.com/Themes/Default/Content/Images/operationsThumb.jpg*/ 0 0 repeat-x;}
#nav_main ul.dropdownOperations .menu_operations_thumbLink{height: 113px; cursor:pointer;}
#nav_main ul.dropdownInvestor li{width:305px !important;}
#nav_main ul.dropdownContact li{width:241px !important;}
.menu_toparrow{display: block; position: absolute; width: 21px; height: 11px; top: -11px; margin: 0 0 0 20px; background: url('Images/menu_toparrow.png')/*tpa=http://www.targaresources.com/Themes/Default/Content/Images/menu_toparrow.png*/ 0 0 no-repeat;}


/* Home Rotator */
.ad_content{display: none; position: relative; width: 706px; height: 230px; top: -25px; z-index: 2;}

.subtext {display: block; position: relative; margin: 8px 0; width: 575px; color:#ffffff; letter-spacing: .1em; font-weight: 500; font-size: 12px; line-height: 19px; text-transform: uppercase;}

.home_more {display: block; position: relative; margin: 8px 0; width: 133px; height: 33px; background: url('Images/b_bk_bluetrans.png')/*tpa=http://www.targaresources.com/Themes/Default/Content/Images/b_bk_bluetrans.png*/ 0 0 repeat;}
    .home_more a{display: block; position: relative; color:#b7d1e9; font-size: 0.75em; letter-spacing: 0.09em; text-decoration: none; text-transform: uppercase; padding: 9px 10px 7px 30px; background: url('Images/b_circle.png')/*tpa=http://www.targaresources.com/Themes/Default/Content/Images/b_circle.png*/ 5px 9px no-repeat;}

/* Sidebar Nav */
.pubsidebarsubnavarea {width: 226px; padding: 30px 0 0 0;}
.pubsidebarsubnav {width: 226px; padding: 0 0 0 0;}
.pubsidebarsubnav a {display: block; border-bottom: 1px solid #ABB7CD; padding: 10px 0; font-size: 12px; text-decoration: none; color: #2b69a2; font-weight: 500; letter-spacing: .05em; line-height: 16px;}
.pubsidebarsubnav a:hover {color: #6490b8;}

.pubsidebarsubnav a.activeSub, .pubsidebarsubnav a.activeSub:hover {display: block; border-bottom: 1px solid #ABB7CD; padding: 10px 0; font-size: 12px; text-decoration: none; color: #ffffff; font-weight: 500; background-color: #2B69A2; padding-left: 8px; letter-spacing: .05em; line-height: 16px;}

.SubOpCatindentnav {background-color: #F3F4F8; width: 226px; padding: 0 0 0 0;}
.SubOpCatindentnav a {padding: 7px 0 7px 15px !important; display: block; font-size: 12px; text-decoration: none; border-bottom: 1px solid #F3F4F8; color: #2b69a2; font-weight: 500; letter-spacing: .05em; line-height: 16px;}



.SubOpCatindentnav a:hover {color: #6490b8;}
.SubOpCatindentnav a.activeSub, .SubOpCatindentnav a.activeSub:hover {border-bottom: none !important; padding: 7px 0 7px 15px !important; display: block; font-size: 12px; text-decoration: none; color: #ffffff; font-weight: 500; background-color: #2B69A2; padding-left: 8px; letter-spacing: .05em; line-height: 16px;}

.pubsidebarsubnavarea .SubOpCatindentnav:nth-last-child(2) a{border-bottom: 1px solid #ABB7CD;}


.pubsidebarutilitynav a {margin: 12px 0 0 0;display: block; border: 1px solid #2B69A2; padding: 13px 0 12px 27px; font-size: 11px; text-decoration: none; color: #2B69A2; font-weight: 500; letter-spacing: .1em; line-height: 16px; text-transform: uppercase; margin-right: 9px; background: url('Images/b_dark-circle.png')/*tpa=http://www.targaresources.com/Themes/Default/Content/Images/b_dark-circle.png*/ no-repeat scroll 7px 13px transparent; letter-spacing: 0.095em;}

.pubsidebarutilitynav a:hover {background: url('Images/b_dark-circle.png')/*tpa=http://www.targaresources.com/Themes/Default/Content/Images/b_dark-circle.png*/ no-repeat scroll 9px 13px #2B69A2; color: #ffffff;}


/* Price Data - Shareholder Widget */

#stockTickerCont{
    position: absolute;
    width: 290px;
    height: 55px;
    z-index: 0;
    top:120px;
    right:40px;
}
.stockTicker{
    min-height: 89px;
    width: 290px;
    margin: 0 auto;
    position: relative;    
}
.stockTickerLine{
    font-size: 12px;
    color:White;
    position:absolute;
    height: 25px;
    width: 290px;
    top: 0px;
    right:0px;    
    
}

.stockTitleBkgnd{
  background-color: #063158;
  width: 110px;
  position:absolute;
  top:0px;
  left:0px;
  height:25px;
}

.stockTickerLineTitle{
    position:absolute;
    top:0px;
    left:0px;   
    text-align: center; 
    padding: 4px 20px 5px 20px;
    color: #B5D6F5;   
    width:70px;
}
.stockTickerLineLastprice{
    position:absolute;
    top:0px;
    left: 103px;
    text-align: center;
    padding: 4px 9px; 
    width: 60px;
}
.stockTickerLineChange{
    position:absolute;
    top:0px;
    left:170px;
    text-align: center;
    padding: 4px 4px; 
    width: 55px;
}
.stockTickerLinePchange{
    position:absolute;
    top:0px;
    left:231px;
    text-align: center;
    padding: 4px 4px;
    width: 55px;
}

.stockTickerLineBkgnd{
  background-color: #063158;
  opacity: 0.7;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter:alpha(opacity=70);
  width: 185px;
  position:absolute;
  top:0px;
  left:110px;
  height:25px;
  zoom: 1;
}

/* Content */
#content {font-family: 'Raleway', sans-serif; font-weight: 500;margin-top: 15px;}

.pubsidebar {float: left; width: 235px; min-height: 450px;}
.pubcontentarea {float: right; width: 711px; min-height: 450px;}
.pubcontentareafull {clear: both; width: 950px; min-height: 450px;}

.pubsubcontentheadertitle h1 {
	margin: 0;
	padding: 0;
	color: #02315b;
	font-size: 12px;
	letter-spacing: .1em;
	font-weight: 700;
	text-transform: uppercase;
	
	
}

.pubsubcontentparenttitle h2 {
	margin: 0;
	padding: 0;
	color: #02315b;
	font-size: 24px;
	font-weight: 500;
	line-height: 26px;
}

.pubsubcontentblock {clear: both; padding: 20px 0;}


/* Sitemap */
#sitemapblock {clear: both; width: 100%;}

    #sitemapblock a {color: #2B68A1;text-decoration: none;}
    #sitemapblock a:hover  {color:#6490b8;}

    #sitemapblock li {width: 425px; float: left; list-style: none; margin-right: 45px;}
    #sitemapblock li a {display: block; text-transform: uppercase; margin: 20px 0 5px 0; color: #02315b;  font-size: 12px;}
    
    #sitemapblock li li a {font-size: 12px; padding: 2px 0 2px 15px; margin: 0 0 0 12px; border: none; text-transform: none; background-image:url(Images/bullet.png)/*tpa=http://www.targaresources.com/Themes/Default/Content/Images/bullet.png*/; background-repeat:no-repeat; background-position: 0 7px; list-style-type:none; color:#6490b8;}
    #sitemapblock li li a:hover  {color:#02315b;}
    #sitemapblock li li li a {display: none;}


/* Segment List */

.pubsegmentlistitem{
    border-top: solid 1px #4277A1;
    padding: 30px 0px;
    font-size: 14px;
    clear: both;    
}
.pubsegmentlistitemtitle{
    font-weight: 700;
    color: #2B69A2;
    letter-spacing: .1em;
    line-height: 20px;
    width: 470px;
}

.pubsegmentlistitemimg{
    float: left;
    margin-right: 15px;
    margin-bottom: 12px;   
}

.pubsegmentlistitemcont{
    width: 711px;    
    height: 120px;
    overflow:hidden;
    line-height: 24px;
    float:left;
    font-size: 12px; 
}


.pubprofilelistitemtoggle {clear: both; padding: 20px 0 0 0; cursor: pointer;}
.pubprofilelistitemtoggle div {display: block; padding: 0 0 0 20px; font-size: 12px; text-decoration: none; color: #2B69A2; font-weight: 500; letter-spacing: .1em; line-height: 16px; text-transform: uppercase; background: url('Images/b_view-more-circle.png')/*tpa=http://www.targaresources.com/Themes/Default/Content/Images/b_view-more-circle.png*/ no-repeat 0 0; letter-spacing: 0.15em; cursor: pointer;}


.pubsegmentlistitemctrl{padding: 20px 20px 0 0; cursor: pointer; float: left;}
.pubsegmentlistitemctrl div {padding: 0 0 25px 20px; font-size: 12px; text-decoration: none; color: #2B69A2; font-weight: 500; letter-spacing: .1em; line-height: 16px; text-transform: none; background: url('Images/b_view-more-circle.png')/*tpa=http://www.targaresources.com/Themes/Default/Content/Images/b_view-more-circle.png*/ no-repeat 0 0; letter-spacing: 0.15em; cursor: pointer;}
.pubsegmentlistitemctrl div:hover {color: #6490B8;}
.pubsegmentlistitemmap div {background: url('Images/icon-ops-system-map.jpg')/*tpa=http://www.targaresources.com/Themes/Default/Content/Images/icon-ops-system-map.jpg*/ no-repeat 0 0;}

.pubsegmentlistitemarea div {background: url('Images/icon-ops-service-area.jpg')/*tpa=http://www.targaresources.com/Themes/Default/Content/Images/icon-ops-service-area.jpg*/ no-repeat 0 0;}

.pubsegmentlistitemtoggle{float:right;margin-right: -20px;clear:both;}


.pubsegmentlistitemcont .title{
    color:#6D8CB8;
    font-weight: 700;    
}

.pubsegmentlistitemcont p{
    padding-bottom: 5px;
}

.pubsegmentlistitemcont a{
    color:#6D8CB8;
    text-decoration:none;
}




/* service area */
.serviceAreaClose{position:absolute;top: 15px; right: 30px; font-family: arial;font-size: 17px;font-weight:bold; cursor:pointer;}    
.serviceArea{display:none; position:fixed; top:50%;left:50%; min-width:277px; _width:277px; min-height:250px; _height: 250px; margin-left: -150px; padding: 10px 30px 30px 30px; background-color:white; box-shadow: 2px 2px 15px #333333;}
.serviceAreaData{font-size: 12px; line-height: 22px; font-weight:500;}
.serviceAreaTitle{font-size: 24px;margin-bottom: 15px; color: #063158;}
.serviceAreaName{color: #6490B8; font-size:11px; font-weight:700; margin-bottom: 15px;}    
 
/* Contact List */

.pubcontactlistitem{
    border-top: solid 1px #4277A1;
    padding: 30px 0px;
    font-size: 12px;    
}
.pubcontactlistitemtitle{
    font-weight: 700;
    letter-spacing: .1em;
    color: #02315F;
    text-transform: uppercase;    
    margin-bottom: 15px;
    font-size: 12px;   
}

.pubcontactlistitemcont{
    float:left;
    width: 177px;    
}


.pubcontactlistitemcont .title{
    color:#6D8CB8;
    font-weight: 700;    
}

.pubcontactlistitemcont p{
    padding-bottom: 5px;
}

.pubcontactlistitemcont a{
    color:#6D8CB8;
    text-decoration:none;
}
/* Footer */

#footer_col1 {
	display: block;
	position: relative;
	float: left;
	width: 720px;
	height: 60px;
	
}



#footer_col2 {
	display: block;
	position: relative;
	float: left;
	width: 165px;
	height: 60px;
	
}

#footer_col3 {
	display: block;
	position: relative;
	float: left;
	width: 60px;
	height: 60px;
}

#footer_col3_closed {
    position: absolute;
    right: 0px;    
	display: block;
	width: 60px;
	height: 60px;
	background-color:#1C578B;
}


#footer_col1 ul {
	display: inline-block;
	position: relative;
	padding: 0;	
	margin: 0 0 0 0;	
}

#footer_col1 ul li {
	list-style: none;
	display: inline;
	padding: 0 10px 0 0;
	
}

#footer_col1 ul li a{
	display: inline-block;
	width: 199px;
	color: #ffffff;
	font-weight: 500;
	text-decoration: none;
	font-size:0.750em;
	letter-spacing: 0.09em;
	text-transform: uppercase;
	padding:22px 0 21px 26px;
	background: url('Images/f_bk_buttons.png')/*tpa=http://www.targaresources.com/Themes/Default/Content/Images/f_bk_buttons.png*/ 0 0 no-repeat;
}


#footer_col1 ul li.active a, #footer_col1 ul li a:hover{
background: url('Images/f_bk_buttons_hover.png.gif')/*tpa=http://www.targaresources.com/Themes/Default/Content/Images/f_bk_buttons_hover.png*/ 0 0 no-repeat;
}


#footer_col2 ul {
	display: inline-block;
	position: relative;
	padding: 0;	
	margin: 0;
	top:15px;	
}

#footer_col2 ul li {
	list-style: none;
	display: inline;
	padding: 0 14px 0 15px;
	background: url('Images/b_hash.png')/*tpa=http://www.targaresources.com/Themes/Default/Content/Images/b_hash.png*/ right 7px no-repeat;
}

#footer_col2 ul li:last-child {
	padding: 0 0 0 13px;
	background: none;
}


#footer_col2 ul li a{
	display: inline-block;
	color: #ffffff;
	font-weight: 400;
	text-decoration: none;
	font-size:0.688em;
	letter-spacing: 0.09em;
	line-height: 1.636em;
}
#footer_col2 ul li a.active, #footer_col2 ul li a:hover {
	color: #b7d1e9;
}


.footer_toggle{
    cursor:pointer;
	display: block;
	width: 60px;
	height: 60px;
	background: #063158 url('Images/f_b_openclose.gif')/*tpa=http://www.targaresources.com/Themes/Default/Content/Images/f_b_openclose.gif*/ top center no-repeat;
}

.footer_toggle_closed{
    cursor:pointer;
	display: block;
	width: 60px;
	height: 60px;
	background: transparent url('Images/f_b_openclose.gif')/*tpa=http://www.targaresources.com/Themes/Default/Content/Images/f_b_openclose.gif*/ bottom center no-repeat;
}


/* Footer Popup Modules */

.footer_module {
	display: none;
	position: absolute;
	bottom: 60px;
	color: #ffffff;
	z-index: 500;
	
}

.lt-ie8 .footer_module {
	display: block;
	position: absolute;
	bottom: 60px;
	margin: 0 0 0 -945px;
	color: #ffffff;
	z-index: 500;
	
}


.footer_bottomarrow{
	display: block;
	position: absolute;
	width: 21px;
	height: 11px;
	bottom: -11px;
	margin: 0 0 0 20px;
	background: url('Images/popup_bottomarrow.png')/*tpa=http://www.targaresources.com/Themes/Default/Content/Images/popup_bottomarrow.png*/ 0 0 no-repeat;
	
}

.close_button{display: block; position: relative; width: 220px;height: 19px;background: transparent url('Images/b_close.gif')/*tpa=http://www.targaresources.com/Themes/Default/Content/Images/b_close.gif*/ right center no-repeat;}


/* FOOTER MODULE STYLES 
---------------------------------------------------- */
#operations_module{width: 225px; height: 282px;}
.module_content {display: block; width: 225px; height: 265px; background: #175387; font-size: 12px; letter-spacing: 0.09em; line-height: 20px;}
.module_content_prDate, .module_content_Date, .module_content_eventDate {padding: 15px 0 0 20px; font-size: 12px; font-weight: 600; letter-spacing: 0.09em; text-transform: uppercase; line-height: 16px;}
.module_content_prTitle, .module_content_Title, .module_content_eventTitle {padding: 5px 10px 0 20px; font-size: 11px; letter-spacing: 0.09em; line-height: 16px;}
.module-learn-more {position:absolute;left:20px; bottom:11px;text-transform: uppercase;  background-image:url(Images/b_home-module-circle.png)/*tpa=http://www.targaresources.com/Themes/Default/Content/Images/b_home-module-circle.png*/; background-repeat:no-repeat; background-position: 0 2px; font-size: 12px; font-weight: 500; letter-spacing: 0.09em;}

.module-learn-more a {color:#B7D1EA; text-decoration: none; padding: 0 0 0 20px;}
.module-learn-more a:hover {color:#ffffff;}


.module_close {width:215px;height:18px;text-align:right; padding-right:10px; zoom: 1; filter: alpha(opacity=80;);opacity: 0.8; background: #175387;cursor:pointer;}
.boxclosebttn{position: absolute; top: -3px; right: 6px;}
.boxclosebttn a{text-decoration:none; color:#fff;}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	/* IE 6/7 fallback */
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
	display: none !important;
	visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
	visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
	*zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 1055px) {
	/* Style adjustments for viewports that meet the condition */
	
	#footer_col2 {
	display: block;
	position: relative;
	float: left;
	width: 225px;
	height: 60px;
	
}

#footer_col2 ul {
	display: inline-block;
	position: relative;
	padding: 0;	
	margin: 0;
	top:15px;
	float:right;	
}
	
	#footer_col3 {
	position: absolute;
	right:0px;

	
}
}

@media print,
	   (-o-min-device-pixel-ratio: 5/4),
	   (-webkit-min-device-pixel-ratio: 1.25),
	   (min-resolution: 120dpi) {
	/* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

#ndq-toolbar {font-size: 11px; margin-top: 10px;}
#ndq-toolbar a {text-decoration: none; display: block; color: #2B69A2;}
#ndq-toolbar a:hover {color: #6490b8;}

@media print 
{
    
	* {background: transparent !important; color: #000 !important; /* Black prints faster: h5bp.com/s */ box-shadow: none !important; text-shadow: none !important;}
	
#printlogo {display: block; position: relative; width: 171px; height: 49px; background: transparent url('Images/h_targa_logo-print.png')/*tpa=http://www.targaresources.com/Themes/Default/Content/Images/h_targa_logo-print.png*/ 0 0 no-repeat;}

#nav {}

#wrap{display: block; padding: 0; margin: 0; position: relative;}
#main{min-height: 100px; margin: 0; padding: 0; position: relative;}

.header_cont{display:none;}
.nav_container {position: relative;}

#content {margin-top: 0;}
.pubsidebar {display: block; height: 25px !important; min-height: 25px !important; float: none;}
.pubsidebarsubnavarea{display:none;}
.pubsidebarheader {display: block; height: 25px; padding: 75px 0 0 0;}
.pubsubcontentheadertitle {display: block; height: 25px;}
.pubcontentarea {display: block; position: relative; width: 956px; padding: 85px 0 0 0; float:none; top: 0;}
.pubsubcontentblock, .pubsubsegmentlist, .pubsegmentlistitem, .pubsegmentlistitemcont {width: 956px !important; padding: 0; margin: 0;}
.pubsegmentlistitem {padding-top: 20px;}
.pubsegmentlistitem {border-top: none;}
.pubsegmentlistitemtitle {width: 700px;}

.mainpaddingfix {padding: 0; margin: 0;}
.pubsegmentlistitemcont{height:inherit !important;}

.StandardCBStyleSeg blockquote {padding: 5px !important;}
.StandardCBStyleSeg img {text-align: center;}

#header, .header_image_cont, #stockTickerCont, #footer, .pubsegmentlistitemctrl, .pubprofilelistitemtoggle, .pubsidebarsubnav, #ndq-toolbar, #nav_main_container, #nav_sub, .pubsidebarutilitynav, .SubOpCatindentnav {display:none !important;}


}

.ad_map-content{position: relative; width: 100%; z-index: 2; margin: 0 auto;}

.pubmapinfobox{position:relative;width:245px;font-family: sans-serif;font-size:12px;color:white;box-shadow: 3px 3px 20px #000; font-family: 'Raleway', sans-serif; font-weight: 400; letter-spacing: .1em; z-index: 4000;}
.pubmapinfoboxclose{width:235px;height:18px;text-align:right;padding-right:10px;zoom: 1;filter: alpha(opacity=50;);opacity: 0.5;}
.pubmapinforboxclosebttn{position:absolute;top: -3px;right: 6px;}
.pubmapinforboxclosebttn a{text-decoration:none;color:White;}
.pubmapinfoboxcontent{width:225px;min-height:170px;padding:10px;line-height: 25px;}
.pubmapinfoboxcontent span{text-transform: uppercase;font-weight: bold;}
.pubmapinfoboxlink{position:absolute;left:5px;bottom:12px;text-transform: uppercase;  background-image:url(Images/b_white-map-circle.png)/*tpa=http://www.targaresources.com/Themes/Default/Content/Images/b_white-map-circle.png*/; background-repeat:no-repeat; width: 200px;}
.pubmapinfoboxlink a{color:white;text-decoration: none; padding: 0 0 0 20px; z-index: 200;}
.pubmapinfoboxarrow{position: absolute;left: 115px;bottom: -10px;width: 22px;height: 22px;-webkit-transform: rotate(135deg);-moz-transform: rotate(135deg);-o-transform: rotate(135deg);-ms-transform: rotate(135deg);box-shadow: 7px -7px 10px rgba(0,0,0,0.6); z-index: 199;}	

.pubmapinfoboxbkgndgas{background-color: #DADC3B;}
.pubmapinfoboxbkgndlogistics{background-color: #30CD42;}
.pubmapinfoboxbkgndwholesale{background-color: #2d73e7;}
.pubmapinfoboxbkgndproducts{background-color: #da3155;}
.pubmapinfoboxbkgndupstream{background-color: #e78322;}
.pubmapinfoboxbkgndcorporate {background-color: #16C3E8;}
 
.pubmaptagline {width: 965px; margin: -85px auto 0 auto;}
.pubmapfiltersbuttons {width: 965px; margin: 0 auto; position: relative; z-index: 1; background-color: transparent;}
.pubmapfiltersspace {float: left; margin: 30px 10px 0 0;}
.pubmapfilters {display: block; position: relative; margin: 0 0; width: 235px; height: 41px; box-shadow: 2px 2px 5px #000000;}
.pubmapfilters:hover {color: #ffffff;}

.toggleALL, .toggleNGP, .toggleLM {cursor:pointer; position: relative; color:#6490B8; font-size: 0.75em; letter-spacing: 0.09em; text-decoration: none; text-transform: uppercase; padding: 13px 10px 12px 30px; background: url('Images/b_dark-circle.png')/*tpa=http://www.targaresources.com/Themes/Default/Content/Images/b_dark-circle.png*/ 10px 13px no-repeat; background-color: #ffffff;box-shadow: 5px 5px 10px #000000; }

.pubmapfilters .blue{background-color: rgba(7,51,91,0.8); background-color: rgb(7,51,91); color: #ffffff; background-image: url('Images/b_white-map-circle.png')/*tpa=http://www.targaresources.com/Themes/Default/Content/Images/b_white-map-circle.png*/;}

.pubmapkeycont {position: fixed; left: 0; bottom: 0; width:100%; height:60px;}
.pubmapkey{ margin: 0 auto; width:965px;}
.pubmapkey img {margin-top: -235px; box-shadow: 1px 1px 1px #999999;}

/* GOOGLE FONTS */
@font-face {
  font-family: 'Raleway300';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Book'), local('Raleway-Book'), url(../../../../themes.googleusercontent.com/static/fonts/raleway/v6/-_Ctzj9b56b8RgXW8FAriRsxEYwM7FgeyaSgU71cLG0.woff)/*tpa=http://themes.googleusercontent.com/static/fonts/raleway/v6/-_Ctzj9b56b8RgXW8FAriRsxEYwM7FgeyaSgU71cLG0.woff*/ format('woff');
}

@font-face {
  font-family: 'Raleway400';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(../../../../themes.googleusercontent.com/static/fonts/raleway/v6/IczWvq5y_Cwwv_rBjOtT0w.woff)/*tpa=http://themes.googleusercontent.com/static/fonts/raleway/v6/IczWvq5y_Cwwv_rBjOtT0w.woff*/ format('woff');
}
@font-face {
  font-family: 'Raleway500';
  font-style: normal;
  font-weight: 500;
  src: local('Raleway Medium'), local('Raleway-Medium'), url(../../../../themes.googleusercontent.com/static/fonts/raleway/v6/CcKI4k9un7TZVWzRVT-T8xsxEYwM7FgeyaSgU71cLG0.woff)/*tpa=http://themes.googleusercontent.com/static/fonts/raleway/v6/CcKI4k9un7TZVWzRVT-T8xsxEYwM7FgeyaSgU71cLG0.woff*/ format('woff');
}
@font-face {
  font-family: 'Raleway600';
  font-style: normal;
  font-weight: 600;
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url(../../../../themes.googleusercontent.com/static/fonts/raleway/v6/xkvoNo9fC8O2RDydKj12bxsxEYwM7FgeyaSgU71cLG0.woff)/*tpa=http://themes.googleusercontent.com/static/fonts/raleway/v6/xkvoNo9fC8O2RDydKj12bxsxEYwM7FgeyaSgU71cLG0.woff*/ format('woff');
}
@font-face {
  font-family: 'Raleway700';
  font-style: normal;
  font-weight: 700;
  letter-spacing: .1em;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(../../../../themes.googleusercontent.com/static/fonts/raleway/v6/JbtMzqLaYbbbCL9X6EvaIxsxEYwM7FgeyaSgU71cLG0.woff)/*tpa=http://themes.googleusercontent.com/static/fonts/raleway/v6/JbtMzqLaYbbbCL9X6EvaIxsxEYwM7FgeyaSgU71cLG0.woff*/ format('woff');
}
@font-face {
  font-family: 'Raleway800';
  font-style: normal;
  font-weight: 800;
  src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'), url(../../../../themes.googleusercontent.com/static/fonts/raleway/v6/1ImRNPx4870-D9a1EBUdPBsxEYwM7FgeyaSgU71cLG0.woff)/*tpa=http://themes.googleusercontent.com/static/fonts/raleway/v6/1ImRNPx4870-D9a1EBUdPBsxEYwM7FgeyaSgU71cLG0.woff*/ format('woff');
}
@font-face {
  font-family: 'Raleway900';
  font-style: normal;
  font-weight: 900;
  src: local('Raleway Heavy'), local('Raleway-Heavy'), url(../../../../themes.googleusercontent.com/static/fonts/raleway/v6/PKCRbVvRfd5n7BTjtGiFZBsxEYwM7FgeyaSgU71cLG0.woff)/*tpa=http://themes.googleusercontent.com/static/fonts/raleway/v6/PKCRbVvRfd5n7BTjtGiFZBsxEYwM7FgeyaSgU71cLG0.woff*/ format('woff');
}

