#backtotop {
	width: 70px;
	height: 71px;
	margin: 10px 0px 10px 0px;
	cursor: pointer;
	display: none;
	clear: both;
	float: right;

}
#backtotop.fixed {
	top: 400px;
	position: fixed;
	float: none;
	z-index: 9999;
}

#dark-side #backtotop.small,
#backtotop.small {
	width: 50px;
	height: 30px;
	margin: 0;
	bottom:0;
	right: 31px;
	position:fixed;
	float: none;
	z-index: 9999;
}

#dark-side #backtotop.small{
	right: 68px;
}

#dark-side #backtotop.desktop,
#backtotop.desktop {
	right:7%;
}

#backtotop { background: url(../../../images/siteOptimization/backtotop.png)/*tpa=http://www.ralphlauren.com/images/siteOptimization/backtotop.png*/ no-repeat }
#backtotop:hover { background: url(../../../images/siteOptimization/backtotop_hover.png)/*tpa=http://www.ralphlauren.com/images/siteOptimization/backtotop_hover.png*/ no-repeat }
#dark-side #backtotop { background: url(../../../images/siteOptimization/backtotop_denim.png)/*tpa=http://www.ralphlauren.com/images/siteOptimization/backtotop_denim.png*/ no-repeat }
#dark-side #backtotop:hover { background: url(../../../images/siteOptimization/backtotop_denim_hover.png)/*tpa=http://www.ralphlauren.com/images/siteOptimization/backtotop_denim_hover.png*/ no-repeat }
#backtotop.small, 
#dark-side #backtotop.small { background: url(../../../images/siteOptimization/backtotop_ipad.png)/*tpa=http://www.ralphlauren.com/images/siteOptimization/backtotop_ipad.png*/ no-repeat }
#backtotop.small.clicked, 
#dark-side #backtotop.small.clicked { background: url(../../../images/siteOptimization/backtotop_ipad_active.png)/*tpa=http://www.ralphlauren.com/images/siteOptimization/backtotop_ipad_active.png*/ no-repeat; }
