body {
	width:expression(document.documentElement.clientWidth < 1010 ? "1010px" : "auto");
}
.footer-menu li{
	background-image: expression( (this===this.parentNode.childNodes[0]) ? "none" : "auto");
}
.show-block{
	background:url(Unknown_83_filename)/*tpa=http://www.steeldynamics.com/wp-content/themes/sdi-corp-wp/none.gif*/;
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='images/bg-show-block.png', sizingmethod='scale');
}
.sidebar-content li span.pointer{
	background:url(Unknown_83_filename)/*tpa=http://www.steeldynamics.com/wp-content/themes/sdi-corp-wp/none.gif*/;
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='images/pointer-3.png', sizingmethod='crop');
}

.right-block{
	width: 336px;
	height: 200px;
	float: right;
	padding: 35px 0 0 5px;
	z-index: 0;
!important}

.textwidget{
	height: 100px;
	margin-left: 19px;
!important
}

.left-block {
z-index:100;
}