/*
Theme Name:Steel Dynamics
Theme URI:
Description:
Version:1.0
Author:
Author URI:
Tags:
*/
/* === reset === */
ul, ol{list-style:none;}
img, form, fieldset{border:none;}
ul, ol, form, fieldset{
	margin:0;
	padding:0;
}
body, h1, h2, h3, h4, h5, h6, dl, dt, dd, p{margin:0;}
table{width:100%; border-collapse:collapse;}
q{quotes: none;}
q:before{content:"";}
q:after{content:"";}
input:focus { outline: none; }
textarea:focus { outline: none; }
select:focus { outline: none; }
/* === end reset === */
a{text-decoration: none;}
a:hover{text-decoration:underline;}
html,body {height: 100%;}
body{
	background: #ede9d9 url(images/bg-body.gif)/*tpa=http://www.steeldynamics.com/wp-content/themes/sdi-corp-wp/images/bg-body.gif*/ repeat-y 50% 0;
	min-width: 1010px;
	font: 14px/1.5em helvetica, sans-serif;
	color: #333;
}
.main{
	width:998px;
	margin: 0 auto;
}







#header, #nav, #other, #print-link, .footer-menu { display : none !important; } 

.content-page{width: 791px;	padding: 15px 0 15px 65px !important;}

a {text-decoration : underline; color : #0000ff !important;}





/*--header--*/
#header{
	height: 114px;
	background: url(images/bg-holder.gif)/*tpa=http://www.steeldynamics.com/wp-content/themes/sdi-corp-wp/images/bg-holder.gif*/ repeat-x;
	width: 100%;
	position: relative;
	z-index: 5;
}
#header .main{
	height: 25px;
	padding: 89px 0 0 0;
	position: relative;
}
#header .main:after {
	height: 0;
	clear: both;
	content: "";
	display: block;
}
/*--top-menu-block--*/
.top-menu-block{
	width: 400px;
	height: 24px;
	position: absolute;
	top: 0;
	right:-2px;
	background: #a4303a;
	border: 1px solid #8e333c;
	z-index: 10;
}
.top-menu-block:after {
	height: 0;
	clear: both;
	content: "";
	display: block;
}
/*--top-menu--*/
.top-menu{
	float: left;
	height: 24px;
}
.top-menu li{
	float: left;
	height: 24px;
	line-height: 24px;
	padding: 0 0 0 15px;
}
.top-menu li a{color: #fff;}
/*--links-block--*/
.links-block{
	float: right;
	background: url(images/bg-lincks-block.gif)/*tpa=http://www.steeldynamics.com/wp-content/themes/sdi-corp-wp/images/bg-lincks-block.gif*/ no-repeat;
	width: 158px;
	height: 22px;
	margin: 1px 1px 0 0;
	cursor: pointer;
	position: relative;
	z-index: 10;
}
.links-block h3{
	line-height: 22px;
	font-weight: normal;
	font-size: 1.083em;
	padding: 0 0 0 5px;
}
.links-block h3 a{
	color: #000;
	display: block;
}
.links-block ul{
	display: none;
	width: 156px;
	overflow: hidden;
	position: absolute;
	left: 0;
	top:20px;
	background: #fff;
	border: solid #c3c1b7;
	border-width: 1px 1px 0 1px;
}
.links-block ul li{
	border-bottom: 1px solid #c3c1b7;
	width: 146px;
	float: left;
	padding: 3px 5px;
}
.links-block ul li a{
	color: #000;
	display: block;
}
.links-block h3 a:hover,
.links-block ul li a:hover{
	color: #a4303a;
	text-decoration: none;
}
.links-block.hover ul,
.links-block:hover ul{display: block;}
/*--main-menu--*/
.main-menu{
	width: 100%;
	font-family: "Trebuchet MS", sans-serif;
	height: 25px;
}
.main-menu:after {
	height: 0;
	clear: both;
	content: "";
	display: block;
}
.main-menu li{
	float: left;
	position: relative;
	height: 25px;
	line-height: 25px;
	padding: 0 0 0 55px;
	z-index: 0;
}
.main-menu li a{
	color: #fff;
	height: 25px;
	float: left;
	background: url(images/pointer.gif)/*tpa=http://www.steeldynamics.com/wp-content/themes/sdi-corp-wp/images/pointer.gif*/ no-repeat 100% 50%;
	padding: 0 15px 0 0;
	text-transform: uppercase;
}
.main-menu li a:hover{text-decoration: none;}
.main-menu li ul{
	display: none;
	position: absolute;
	left: 0;
	top:24px;
	width: 180px;
	overflow: hidden;
	border: solid #c3c1b7;
	border-width: 1px 1px 0 1px;
	background: #fff;
	height: auto;
}
.main-menu li ul li{
	height: auto;
	width: 130px;
	border-bottom: 1px solid #c3c1b7;
	padding: 3px 25px;
	line-height: 1.5em;
}
.main-menu li ul li a{
	float: none;
	height: auto;
	background: none;
	text-transform: none;
	color: #000;
	padding: 0;
	display: block;
}
.main-menu li ul li a:hover{color: #a4303a;}
#nav li:hover ul,
#nav li.hover ul{display:block;}
/*--logo--*/
.logo,
.logo a{
	display: block;
	width:206px;
	height: 40px;
}
.logo{
	background: url(images/logo.gif)/*tpa=http://www.steeldynamics.com/wp-content/themes/sdi-corp-wp/images/logo.gif*/ no-repeat;
	position: absolute;
	top:23px;
	left: 37px;
}
.logo a{
	overflow: hidden;
	text-indent: -9999px;
}
/*--content--*/
.holder-home{
	background: url(images/bg-content-home.gif)/*tpa=http://www.steeldynamics.com/wp-content/themes/sdi-corp-wp/images/bg-content-home.gif*/ repeat-y;
	width: 998px;
	padding: 0 6px;
	margin: -114px auto 0 auto;
	min-height: 100%;
}
* html .holder-home{height: 100%;}
.holder{
	background: url(images/bg-content.gif)/*tpa=http://www.steeldynamics.com/wp-content/themes/sdi-corp-wp/images/bg-content.gif*/ repeat-y;
	width: 998px;
	padding: 0 6px;
	margin: -114px auto 0 auto;
	min-height: 100%;
}
* html .holder{height: 100%;}
#content{
	width: 100%;
	padding: 114px 0 105px 0;
}
.home-content{width: 100%;}
/*--first-block--*/
.first-block:after {
	height: 0;
	clear: both;
	content: "";
	display: block;
}
.first-block{
	width: 100%;
	background: #a4303a;
	height: 271px;
}
.first-block:after {
	height: 0;
	clear: both;
	content: "";
	display: block;
}
.left-block{
	float: left;
	width: 597px;
	height: 269px;
	background: url(images/img-1.jpg)/*tpa=http://www.steeldynamics.com/wp-content/themes/sdi-corp-wp/images/img-1.jpg*/ no-repeat;
	overflow: hidden;
	position: relative;
}
.left-block-content{
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
}
.show-block{
	width: 100%;
	background: url(images/bg-show-block.png)/*tpa=http://www.steeldynamics.com/wp-content/themes/sdi-corp-wp/images/bg-show-block.png*/ repeat;
}
.show-block h1{
	line-height: 1.5em;
	font-weight: normal;
	color: #fff;
	font-size: 2.5em;
	padding: 0 25px;
	position: relative;
}
/*--right-block--*/
.right-block{
	width: 356px;
	float: right;
	padding: 35px 4px 0 0;
}
.right-block p{
	line-height: 1.5em;
	font-size: 1.333em;
	color: #300;
	padding: 0 30px 15px 0;
}
.division-block{
	width: 100%;
	float: right;
}
.division-block strong{
	font-size: 1.083em;
	text-transform: uppercase;
	float: right;
	color: #300;
	font-family: "Trebuchet MS", sans-serif;
	height: 24px;
	line-height: 24px;
	padding: 0 7px 0 0;
}
/*--main-home-content--*/
.main-home-content{
	width: 998px;
	overflow: hidden;
}
.column{
	float: left;
	width: 199px;
	padding: 10px 0 0 0;
}
.column h2{
	font-family: "Trebuchet MS", sans-serif;
	font-size: 1.083em;
	padding: 0 10px 10px 10px;
}
.column-content{
	width: 100%;
	overflow: hidden;
}
.column-content li{
	background: url(images/pointer-2.gif)/*tpa=http://www.steeldynamics.com/wp-content/themes/sdi-corp-wp/images/pointer-2.gif*/ no-repeat 0 4px;
	width:169px;
	padding: 0 15px 10px 15px;
	float: left;
}
.column-content li p.date{font-size: 0.917em;}
p.more{padding: 0 0 15px 15px;}
p.more a{color: #000;}
.video-prev{
	margin: 0 auto 10px auto;
	width: 171px;
}
/*--info-block--*/
.info-block{
	background: url(images/bg-info.gif)/*tpa=http://www.steeldynamics.com/wp-content/themes/sdi-corp-wp/images/bg-info.gif*/ repeat-x;
	width: 180px;
	margin: 0 auto;
	overflow: hidden;
	padding: 13px 0 0 0;
}
.info-block li{
	float: left;
	padding: 0 0 10px 0;
	width: 99px;
}
.info-block li a{
	float: left;
	padding: 0 0 0 20px;
	color: #333;;
}
.info-block li.rss{width: 80px;}
.info-block li.rss a{background: url(images/ico-rss.gif)/*tpa=http://www.steeldynamics.com/wp-content/themes/sdi-corp-wp/images/ico-rss.gif*/ no-repeat 0 3px;}
.info-block li.pdf a{background: url(images/ico-pdf.gif)/*tpa=http://www.steeldynamics.com/wp-content/themes/sdi-corp-wp/images/ico-pdf.gif*/ no-repeat 0 3px;}
.info-block li.ar a{background: url(images/ico-ar.gif)/*tpa=http://www.steeldynamics.com/wp-content/themes/sdi-corp-wp/images/ico-ar.gif*/ no-repeat 0 3px;}
/*--dev-block--*/
.dev-block{
	float: left;
	width: 400px;
}
.dev-block h2{
	background: url(images/bg-title-dev.gif)/*tpa=http://www.steeldynamics.com/wp-content/themes/sdi-corp-wp/images/bg-title-dev.gif*/ no-repeat;
	width: 202px;
	height: 46px;
	overflow: hidden;
	font-size: 1.833em;
	line-height: 46px;
	padding: 0 12px;
	font-weight: normal;
}
/*--dev-content---*/
.dev-content{
	width: 320px;
	margin: 0 auto;
	padding: 14px 0;
	overflow: hidden;
}
.dev-content img{
	display: block;
	margin: 0 0 5px 0;
}
.dev-content p.read-more{text-align: right;}
.dev-content p.read-more a{
	color:#a4303a;
}
/*--footer--*/
.footer-wrap{
	background: url(images/bg-content.gif)/*tpa=http://www.steeldynamics.com/wp-content/themes/sdi-corp-wp/images/bg-content.gif*/ repeat-y;
	width: 998px;
	padding: 0 6px;
	margin: -105px auto 0 auto;
}
#footer{
	background: url(images/bg-footer.gif)/*tpa=http://www.steeldynamics.com/wp-content/themes/sdi-corp-wp/images/bg-footer.gif*/ repeat-x;
	height: 103px;
	padding: 2px 0 0 0;
	width: 998px;
}
/*--footer-menu--*/
.footer-menu{
	width:100%;
	height: 26px;
	overflow: hidden;
}
.footer-menu li{
	float: left;
	height: 26px;
	line-height: 26px;
	font-size: 0.917em;
	background: url(images/bulet.gif)/*tpa=http://www.steeldynamics.com/wp-content/themes/sdi-corp-wp/images/bulet.gif*/ no-repeat 0 50%;
	padding:0 11px;
}
.footer-menu li:first-child{background:none;}
.footer-menu li a{color: #fff;}
.copyright{
	color: #fff;
	text-align: right;
	padding: 5px 5px 0 0;
	font-size: 0.833em;
}
/*=== Inner page ===*/
.inner-content{
	width: 100%;
	overflow: hidden;
	border-top: 2px solid #b2362d;
}
/*--sidebar--*/
.sidebar{
	float: right;
	width: 277px;
	padding: 10px 0 0 0;
}
.sidebar-content{
	width: 100%;
	overflow: hidden;
}
.sidebar-content li{
	width: 237px;
	float: left;
	padding: 18px 20px 5px 20px;
	margin: 0 0 10px 0;
	color: #fff;
	position: relative;
}
.sidebar-content li span.pointer{
	background: url(images/pointer-3.png)/*tpa=http://www.steeldynamics.com/wp-content/themes/sdi-corp-wp/images/pointer-3.png*/ no-repeat;
	width: 15px;
	height: 24px;
	overflow: hidden;
	text-indent: -9999px;
	display: block;
	position: absolute;
	left: 0;
	top: 17px;
}
.sidebar-content li img{
	display: block;
	margin: 0 0 5px 0;
}
.sidebar-content li h3{
	font-weight: normal;
	font-size: 1.5em;
	line-height: 1.5em;
	padding: 0 0 10px 0;
}
.sidebar-content li p{padding: 0 0 10px 0;}
.sidebar-content li p.more{
	text-align: right;
	padding: 0 10px 10px 0;
}
.sidebar-content li p.more a{color: #fff;}
/*--prev box--*/
.sidebar-content li.sbox-0{background:#821a20 url(images/bg-prev.gif)/*tpa=http://www.steeldynamics.com/wp-content/themes/sdi-corp-wp/images/bg-prev.gif*/ no-repeat;}
.sidebar-content li.sbox-1{background:#e9e2d1 url(images/bg-next.gif)/*tpa=http://www.steeldynamics.com/wp-content/themes/sdi-corp-wp/images/bg-next.gif*/ no-repeat;}
.sidebar-content li.gallery-sidebar p,
.sidebar-content li.sbox-1 p{color: #000;}
.sidebar-content li.gallery-sidebar p.more a,
.sidebar-content li.sbox-1 p.more a{color: #a4303a;}
.sidebar-content li.gallery-sidebar{
	background: #eeecda;
	padding: 0;
	width: 277px;
}
.sidebar-content li.gallery-sidebar p{padding: 0 20px 10px 20px;}
/*--main column--*/
.main-column{
	float: left;
	width: 656px;
	padding: 5px 0 0 0;
}
/*--breadcrumbs--*/
.breadcrumbs{
	width: 646px;
	overflow: hidden;
	height: 20px;
	padding: 0 0 0 10px;
	line-height: 20px;
	font-size: 0.917em;
	color: #7e7e7e;
}
.breadcrumbs a{
	float: left;
	background: url(images/pointer-bc.gif)/*tpa=http://www.steeldynamics.com/wp-content/themes/sdi-corp-wp/images/pointer-bc.gif*/ no-repeat 100% 50%;
	padding:0 15px 0 0;
	margin: 0 5px 0 0;
	color: #7e7e7e;
}
/*--content-page--*/
.content-page{
	width: 591px;
	padding: 15px 0 15px 65px;
}
.content-page h2{
	font-weight: normal;
	padding: 18px 0 5px 0;
	line-height: 1.1em;
	font-size: 1.5em;
	color: #a4303a;
}
.content-page .post-block h2,
.content-page h1{
	font-weight: normal;
	color: #6e6e6e;
	line-height: 1.1em;
	padding: 0 0 10px 0;
	font-size: 3.25em;
}
p.wp-caption-text{
	text-align: center;
	color: #a4303a;
	font-size: 0.833em;
}
.alignright{
	float: right;
	display: inline;
	margin: 0 0 5px 10px;
}
.alignleft{
	float: left;
	display: inline;
	margin: 0 10px 5px;
}
.aligncenter{
	display: block;
	margin: 0 auto 5px auto;
}
.alignright img,
.aligncenter img,
.alignleft img{
	display: block;
	margin: 0 auto;
}
.content-page p{padding: 0 0 15px 0;}
.content-page a{color: #a4303a;}
.content-page ul{padding: 0 0 15px 0;}
.content-page ul li{
	padding: 0 0 0 15px;
	background: url(images/bulet-2.gif)/*tpa=http://www.steeldynamics.com/wp-content/themes/sdi-corp-wp/images/bulet-2.gif*/ no-repeat 5px 8px;
}
/*--WP--*/
.post-block{
	width: 100%;
	padding: 0 0 20px 0;
}
.error-404{
	width: 100%;
	padding: 50px 0;
	text-align: center;
}
.error-404 h2{padding: 0 0 50px 0;}
.column a{color: #333;}

/*--GENERAL--*/
ul.spaced { list-style:none; 
}
ul.spaced li { padding-left: 10px;
line-height: 24px;
font-size: 18px;
margin-left: .5px;
text-indent: -.0em;
margin-bottom: 15px;
background: url(images/bullet-red.gif)/*tpa=http://www.steeldynamics.com/wp-content/themes/sdi-corp-wp/images/bullet-red.gif*/ no-repeat 5px 8px;
} 

img.floatleft {
float: left;
}

table.years {
}

table.years a {
font-size: 15px;
text-decoration: underline;
}

h4 {font-family: Arial,Helvetica,sans-serif; color: #cc3333; font-size: x-small; font-weight: bold;}
p.footnote {font-family: Arial,Helvetica,sans-serif; color: #000000; font-size: xx-small; line-height:  normal;}