/* IE6 CSS for Gap Inc */
	
/* Default Styles */

	
	
/* Layout Styles */
	
	/* header */
		/* search */
			#header #search .submit {
				float: left;
			}
	
	/* secondary navigation */
		#secondary-navigation img.gradient {
			display: none;
		}
		
		#secondary-navigation li a.breadcrumb,
		#secondary-navigation li a.selected {
			background-image: url(../images/generic-bullet.gif)/*tpa=http://www.gapinc.com/etc/designs/gapinc/images/generic-bullet.gif*/;		
		}
			
			
	/* primary content */
		#primary-content { display: inline; }


/* shared modules */
	/* search results filter */
		#search-filter .keyword .submit {
			float: left;
		}
	
	/* hero */
	
		.hero-navigation a {
			background-image: url(../images/generic-hero-icon.gif)/*tpa=http://www.gapinc.com/etc/designs/gapinc/images/generic-hero-icon.gif*/!important;
		}
	
		/* homepage */
			#homepage .hero .tagline a {
				background-image: url(../images/generic-bullet.gif)/*tpa=http://www.gapinc.com/etc/designs/gapinc/images/generic-bullet.gif*/;
			}
	
/* page specific components */
	
	/* social media */
		.social-media .feed li img {
			left: -50px;
		}
