/* IE7 CSS for Gap Inc */
	
/* Default Styles */

	/* reset elements */
		form { padding: 0; margin: 0; }
	
	/* global classes */

		/* clearfix */
			.brand-navigator,
			.cq-colctrl-lt4,
			.findPagesByTag,
			.imageGallery ul,
			.job-search ul,
			.social-media,
			#content,
			#footer-navigation,
			#header,
			#searchImageGallery ul,
			#searchVideoGallery ul,
			#primary-navigation { 
				height: 1%; 
			}
	
	
/* Layout Styles */
	
	/* header */

		/* search */
			#header #search .submit {	
				color: #808285;
				font-size: 0.001em;
				text-align: right; 
			}	

		/* primary navigation */
			#primary-navigation {
				overflow: hidden;
			}
			

	/* primary content */
		
		/* cms generated column layouts */
			.cq-colctrl-lt1-c0, .cq-colctrl-lt1-c1, .cq-colctrl-lt2-c0,	.cq-colctrl-lt2-c1,	.cq-colctrl-lt2-c2, .cq-colctrl-lt3-c0,	.cq-colctrl-lt3-c1,	.cq-colctrl-lt3-c2, .cq-colctrl-lt3-c3,	.cq-colctrl-lt4-c0,	.cq-colctrl-lt4-c1 { display: inline; }


/* shared modules */

	/* connect with us */
		ul.connect-with-us li,
		ul.image-list li { display: inline-block; }			
			
			
/* page specific components */
	
	/* blog */
		/* blog entry */
			/* blog actions */
				#primary-content .blog-actions {
					display: inline-block;
				}