/* Print CSS for Gap Inc */

.section h2, #search-filter h2 { border-bottom: 3px solid #7b7b7b; }

#secondary-navigation h3 { border-bottom: 3px solid #7b7b7b; margin: 0; padding-left: 15px; font-weight: bold; }
#secondary-navigation li { background: none!important; }
#secondary-navigation li a { display: block; border-bottom: 1px solid #7b7b7b!important; padding: 8px 0 8px 20px!important; background: none!important; }
#secondary-navigation li li a { padding-left: 40px!important; }
#secondary-navigation li li li a { padding-left: 60px!important; }