textarea,
input,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  padding: 0px;
  max-width: 259px;
  width: 25px;
  border: none;
  color: #333333;
  font-size: 12px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 0 9px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 9px 0 rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 9px 0 rgba(0, 0, 0, 0.3); }
  
input[type="checkbox"],
input[type="radio"] {
  height: auto;
  margin: 0px;
  padding: 0;
  position: relative;
  width: auto; }
  input[type="checkbox"] + label,
  input[type="radio"] + label {
    padding-left: 8px;
	margin-top: -4px; }
    input[type="checkbox"] + label:before,
    input[type="radio"] + label:before {
      background: none;
      border: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }