/* for font reference */
.HelveticaNeue-Bd {
	font-family: "HelveticaNeueW01-75Bold";
	font-weight: normal;
	font-style: normal;
}
.HelveticaNeue-BdCn {
  font-family: "HelveticaNeueW01-75Bold";
	font-weight: normal;
	font-style: normal;
}
.HelveticaNeue-Md {
	font-family: "HelveticaNeueW01-65Medi";
	font-weight: normal;
	font-style: normal;

}

::-moz-selection {
	background: #e72b41;
	color: #FFF;
	text-shadow: none;
}

::selection {
	background: #cc0000;
	color: #FFF;
	text-shadow: none;
}

a {
  color:#404040;
}

a:hover {
	color: #E72C41;
}

h1, h2, h3,
h4, h5, h6 {
  font-family:'HelveticaNeueW01-75Bold', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 38px;
  line-height: 44px;
  margin-bottom: 15px;
}

h2 {
  font-size: 28px;
  line-height: 24px;
}

h3 {
  font-size: 20px;
  line-height: 22px;
}

h4 {
  font-size: 18px;
  line-height: 20px;
}

h5 {
  font-size: 16px;
  line-height: 18px;
}

h6 {
  font-size: 14px;
  line-height: 16px;
}

p {
  font-size: 14px;
  line-height: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #646565;
}

ul {
    font-size: 14px;
    line-height: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #646565;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

li,
ul.menu li,
ul.menu li.leaf,
ul.menu li.collapsed,
ul.menu li.expanded {
  list-style-type: none;
  list-style-image:none;
}

img {
  max-width: 100%;
  height: auto;
	vertical-align: middle;
}

blockquote, .pullquote {
  display: block;
  border-left: 1px solid #E72C41;
  color: #E72C41;
  margin:1em 0;
  padding: 0 1.5em;
  font-size: 1.1em;
  font-weight: bold;
}

blockquote p {
  margin:0;
  text-indent: -0.5em;
}

.imgLeft {
  float: left;
  margin: 1em 1em 1em 0;
}

.imgRight {
  float: right;
  margin: 1em 0 1em 1em;
}

.imgCenter {
  text-align: center;
  margin: 1em auto;
  display: block;
}

.rArrow {
	color: #cc0000;
	text-decoration: none;
    transition: background-color 0.3s ease-out;
  -webkit-transition: background-color 0.3s ease-out;
}
.rArrow:after {
	content:'→';
	margin-left:.5em;
  font-size: 1.2em;
  line-height: 1em;
  color:#cc0000;

}

.extLink {
  color:#e72c41;
  text-decoration: none;
}

.extLink:hover {
  color: #B81E3A;
}

.extLink:after {
  margin-left: .5em
}

.btn {
	font-size: 20px;
	font-family: "HelveticaNeueW01-75Bold";
	padding: 18px 20px;
	margin-top: 30px;
	text-decoration: none;
    transition: background-color 0.3s ease-out;
  -webkit-transition: background-color 0.3s ease-out;
}

.btn.full {
  width: 100% !important;
  display: block;
  margin-top: 0;
}

.btn.rArrow {
	position: relative;
}

.btn.rArrow:after {
	position: absolute;
	top:15px;
	right: 15px;
	color:#FFF;
}

.btn.extLink {
  position: relative;
}

.btn.extLink:after {
  position: absolute;
  top:14px;
  right: 15px;
}

footer a,
aside a,
header a {
	color:#CC0000;
  text-decoration: none;
}

.large-text p {
  font-size: 18px;
  line-height: 30px;
  font-family: "HelveticaNeueW01-75Bold";
}

/* Twitter Container */


#quicktabs-container-social_media,
#quicktabs-container-twitter_social_responsibility,
#quicktabs-container-twitter_cvs_pharmacy,
#quicktabs-container-twitter_minutelclinic,
#quicktabs-container-twitter_beauty_club {
	background-color: #B8E3EB;
	padding: 0 2000px;
	margin: 0 -2000px;
}

#quicktabs-container-social_media h2,
#block-quicktabs-twitter-social-responsibility h2,
#block-quicktabs-twitter-cvs-pharmacy h2,
#block-quicktabs-twitter-minutelclinic h2,
#block-quicktabs-twitter-beauty-club h2 {
	display: none;
}

#quicktabs-social_media .quicktabs-tabs li, 
#block-quicktabs-twitter-social-responsibility .quicktabs-tabs li{
	margin-left: 15px;
	width: 170px;
	display: inline-block;
	margin-bottom: 0px;
}

#quicktabs-social_media .quicktabs-tabs,
#block-quicktabs-twitter-social-responsibility .quicktabs-tabs {
	margin-bottom: 0px;
}

#quicktabs-social_media .quicktabs-tabs li.first:FIRST-CHILD,
#quicktabs-tab-twitter_social_responsibility .quicktabs-tabs li.first:first-child {
	margin-left: 0px;
	display: inline-block;
	width: 170px;
	margin-bottom: 15px;	
}

#quicktabs-social_media .quicktabs-tabs li.active a,
a#quicktabs-tab-twitter_social_responsibility-0,
a#quicktabs-tab-twitter_beauty_club-0 {
	font-size: 28px;
	font-weight: 300;
	font-family: 'HelveticaNeueW01-75Bold',"Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #000;
	pointer-events: none;
	text-decoration: none;
	
}

#quicktabs-social_media .quicktabs-tabs li a{
	color: #ffffff;
	font-weight: bold;
	font-size: 24px;
}

#quicktabs-social_media .quicktabs-tabs li a:ACTIVE,#quicktabs-social_media .quicktabs-tabs li:ACTIVE{
	color: #000000;
}

.tweet-username {
  display: none;
}

.tweet-text {
 line-height: 16px;
}

.tweet-text a, .tweet-text a:hover {
 color: #CC0000;
 font-family: 'HelveticaNeueW01-75Bold',"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.tweets-pulled-listing h2 {
  display: none;
}

.tweets-pulled-listing .grid_1 {
  margin-left: 0;
  margin-right: 20px;
  margin-top: 50px!important;
}

/* End Twitter Container */

/* Takeover Page */

.takeover-page {
	width: 960px;
	background: #000;
	margin: 0 auto;
}

.takeover-header {
	background: #fff;
	padding: 15px 15px;
}

.takeover-header img:first-child {
	width: 353px;
	margin-left: -75px;
}

.close {
	float: right;
	text-decoration: none;
	margin-top: 30px;
	color: red;
}

.close:hover {
	opacity: 0.6;
}
.continue {
	float: right;
	margin-bottom: 20px;
	text-decoration: none;
}

.hero {
	margin: 0;
}

.hero p {
	color: #fff;
	font-size: 3em;
	width: 50%;
	line-height: 1em;
}

.takeover-page .region-global-header {
	float: left!important;
	width: 100%!important;
	background: #000!important;
}

div#block-block-4 {
	float: left;
	margin-left: 200px;
}

div#block-search-form {
	/* display: none; */
}

.takeover-page .content {
	background: #fff;
}

.takeover-page .views-field.views-field-title {
	font-size: 28px;
}

.takeover-page .views-field.views-field-title p {
	font-size: 16px;
	color: #000;
}

.takeover-page .views-field.views-field-field-thumbnail {
	float: right;
}

.takeover-page .rArrow:after {
	content: "";
}
