/* added by spaden@addventures & mfalat@addventures */


.panel-pane.pane-views.pane-cvs-video iframe {
	width: 1600px!important;
	height: 900px!important;
	margin-left: -320px;
}

/* ********************* PLAYING ******************* */


/* ************ Content Bottom Articles ************ */

.cvs-video-bottom-articles .views-field.views-field-title {
	margin-top: 8px;
	padding-bottom: -5px
}

.pane-node-field-video-embed-code {
    margin-bottom: 30px;
}

.pane-node-title .pane-content {
    font-weight: bold;
    margin-bottom: 30px;
}

.pane-node-body .field-name-body {
    margin-bottom: 30px;
}

.page-node-2571 .cvs-video-bottom-articles {
    display: none;
}



.cvs-video-bottom-articles {
	float: left;
	clear: both;
	background-color: #CC0000!important;
	padding-left: 320px;
	width: 960px;
	margin-left: -320px;
	padding-right: 320px;
    /*display: none!important;/* Temporary Fix */*/
}

.page-node-2587 .We.Wish,
.page-node-2586 .Deep.Breath,
.page-node-2584 .Raise.Glass,
.page-node-2582 .Tick.Tock {
    display: none;
}

.cvs-video-bottom-articles p {
	font-family: "HelveticNeueW01", sans-serif;
	line-height: 16px;
	font-size: 14px;
	color: white;
}

.cvs-video-bottom-articles a {
	font-family: 'HelveticaNeueW01-75Bold', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 16px;
	color: white;
	text-decoration: none;
}

.cvs-video-bottom-articles a:hover {
	color: #ccc;
}

.cvs-video-bottom-articles .views-row {
    float: left;
    padding-right: 30px;
    margin-top: 60px;
    width: 300px;
    padding-bottom: 80px;
}

.cvs-video-bottom-articles .views-row.views-row-1.views-row-odd.views-row-first {
	float: left;
	padding-right: 30px;
	margin-top: 60px;
	width: 300px;
	padding-bottom: 80px;
}

.cvs-video-bottom-articles .views-row.views-row-2.views-row-even {
	float: left;
	padding-right: 30px;
	margin-top: 60px;
	width: 300px;
}

.cvs-video-bottom-articles .views-row.last {
	float: left;
	margin-top: 60px;
	width: 300px;
    padding: 0!important;
}

.cvs-video-bottom-articles img {

}

#quicktabs-view__banner_video__default {
	position: relative;
	padding-bottom: 50px;
}

#quicktabs-view__banner_video__default .quicktabs-tabs {
	position: absolute;
	bottom: 0;
	left: 0;
}

#quicktabs-view__banner_video__default iframe {
	margin-left: -320px;
	width: 1600px;
	height: 900px;
}

#quicktabs-view__banner_video__default .quicktabs-tabs a {
	font-family: 'HelveticaNeueW01-75Bold', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #CC0000;
	text-decoration: none;
	padding-top: 27px;
	position: relative;
}

#quicktabs-view__banner_video__default .quicktabs-tabs li {
	padding-top: 40px;
	margin-left: 0;
	margin-right: 20px;
	float: left;
}

#quicktabs-view__banner_video__default .quicktabs-tabs .active a {
	color: #000;
}

#quicktabs-view__banner_video__default .quicktabs-tabs .active a:before {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 10px 0 10px;
	border-color: #1B1B1B transparent transparent transparent;
	position: absolute;
	margin: 0 0 0 -10px;
	left: 50%;
	top: 6px;
}

#quicktabs-view__banner_video__default .quicktabs-tabs li.first:before {
	content: "PLAYING:";
	margin-right: 20px;
	font-family: 'HelveticaNeueW01-75Bold', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000;
}

#quicktabs-view__banner_video__default p {
	margin: 0;
}

.pane-banner-video {
	margin-bottom: 15px;
}

.view-cvs-video .tweets-pulled-listing .grid_1 {
  width: 100% !important;
  padding: 15px 30px;
  height: auto !important;
  margin: 0 !important;
}

.view-cvs-video .tweet-names {
  width: 100%;
  float: left;
  margin-bottom: 15px;
}

.view-cvs-video .tweet-username {
  color: #CC0000;
  font-size: 18px;
  font-family: 'HelveticaNeueW01-75Bold', "Helvetica Neue", Helvetica, Arial, sans-serif;
  float: left;
  margin-right: 10px;
  display: block;
}

.view-cvs-video .tweet-author {
  font-weight: normal !important;
  font-family: "Helvectica Neue", sans-serif !important;
  float: left;
}

.view-cvs-video .tweet-author a {
  font-weight: normal !important;
  padding: 0;
  color: #cc0000;
  font-family: "Helvectica Neue", sans-serif !important;
  font-size: 18px;
}

.view-cvs-video .tweet-text {
  font-size: 15px;
  line-height: 24px;
}

.view-cvs-video .tweet-time {
  display: none;
}

@media screen and (max-width: 909px) {

	.cvs-video-bottom-articles .views-row.views-row-1.views-row-odd.views-row-first,
	.cvs-video-bottom-articles .views-row.views-row-2.views-row-even,
	.cvs-video-bottom-articles .views-row.views-row-3.views-row-odd.views-row-last {
		float: none;
		padding-right: 0;
		padding-bottom: 0;
	}

	.cvs-video-bottom-articles .views-row.views-row-2.views-row-even,
	.cvs-video-bottom-articles .views-row.views-row-3.views-row-odd.views-row-last {
		padding-top: 0;
	}

	.cvs-video-bottom-articles .views-row.views-row-3.views-row-odd.views-row-last {
		padding-bottom: 80px;
	}
}

@media only screen and (min-width: 620px)  and (max-width: 909px){
	.cvs-video-bottom-articles .views-row.views-row-1.views-row-odd.views-row-first,
	.cvs-video-bottom-articles .views-row.views-row-2.views-row-even,
	.cvs-video-bottom-articles .views-row.views-row-3.views-row-odd.views-row-last {
		width: 600px;
	}

	.cvs-video-bottom-articles .views-row {
		clear: both;
	}

	.cvs-video-bottom-articles .views-field-title {
		padding-top: 40px;
	}

	.cvs-video-bottom-articles img {
		float: left;
		padding-right: 20px;
		clear: left;
		margin-bottom: 30px;
	}

	.cvs-video-bottom-articles .views-row.views-row-3.views-row-odd.views-row-last img {
		margin-bottom: 80px;
	}
}

@media screen and (max-width: 1600px) {
	#quicktabs-view__banner_video__default iframe {
		width: 100%;
		margin-left: 0;
		height: 100%;
		position: absolute;
	}

	#quicktabs-view__banner_video__default .views-field-field-video-embed {
		width: 100%;
		/*padding-bottom: 56.25%;*/
		position: relative;
	}

	#quicktabs-view__banner_video__default .quicktabs-tabs a {
		padding-top: 24px;
	}

    #quicktabs-view__banner_video__default {
        position: relative;
        padding-bottom: 47px;
    }
}


/* ************************************************** */

/* ********************* Twitter Black ******************** */


.panel-pane.pane-views.pane-cvs-video.cvs-twitter-black {
	clear: none;
	float: left;
	font-family: 'HelveticaNeueW01-75Bold', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 16px;
	margin-left: -320px;
	width: 645px;
    height: 507px;
	background-color: black;
	margin-bottom: 80px;
	padding-bottom: 90px;
    /*display: none!important;/* Temporary Fix */*/

}

.cvs-twitter-black a {
	font-size: 20px;
	text-decoration: none;
	color: white;
	font-family: 'HelveticaNeueW01-75Bold', "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.cvs-twitter-black p {
	line-height: 1.8em;
	color: white;
	font-family: 'HelveticaNeueW01-75Bold', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.cvs-twitter-black .views-row.views-row-1.views-row-odd.views-row-first.views-row-last {
	font-family: 'HelveticaNeueW01-75Bold', "Helvetica Neue", Helvetica, Arial, sans-serif;
	float: right;
	margin-left: 320px;
	padding-right: 30px;
	padding-top: 60px;
	padding-bottom: 80px;
}

/* ********************* End Twitter Black ******************** */

/* ********************* Twitter Gray ******************** */
.panel-pane.pane-views.pane-cvs-video.cvs-twitter-gray {
	clear: none;
	background-color: #ccc;
	width: 955px;
	float: right;
	margin-right: -320px;
	padding-top: 30px;
	height: 567px;
    /*display: none!important;/* Temporary Fix */*/
}

.panel-pane.pane-views.pane-cvs-video.cvs-twitter-gray .pane-content {
  width: 630px;
}

.panel-pane.pane-views.pane-cvs-video.cvs-twitter-gray p {
	padding-top: 60px;
	padding-left: 30px;
	padding-bottom: 80px;
}

.cvs-twitter-gray a {
	font-family: 'HelveticaNeueW01-75Bold', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	text-decoration: none;

}

.cvs-twitter-gray .views-field-body {
    color: #ccc;
}

/* ********************* End Twitter Gray **************** */


/* ********************* Twitter Feed Pull ************** */

.cvs-twitter.gray .tweets-pulled-listing .grid_1 {
	margin-left: 0;
	margin-right: 20px;
	width: 100%;
	padding-left: 30px;
	float: none;
}


/* ******************** Media Queries ******************** */

}
/*@media screen and (max-width: 909px) {

	.panel-pane.pane-views.pane-cvs-video.cvs-twitter-black {
		clear: both;
		float: none;
		width: 600px;
	}
	.panel-pane.pane-views.pane-cvs-video.cvs-twitter-gray {

	}
}*/
