/* ****************************************
 *       added by spaden@addventures      *
 * **************************************** */

.views-featured-hiring-access {
	display: inline-block;
	vertical-align: top;
}

.views-featured-hiring-access .views-row.views-row-1.views-row-odd.views-row-first,
.views-featured-hiring-access .views-row.views-row-2.views-row-even.views-row-last {
	float: left;
	width: 224px;
	padding-right: 20px;
}



/* css fixes for other elements on the page */

.panel-pane.pane-views.pane-our-businesses {
	float: left;
}
