/* FlexSlider Necessary Styles
 *********************************/

.flexslider {
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}
.slides {
	padding-left: 0;
}
.flexslider .slides > li {
	display: none;
	-webkit-backface-visibility: hidden;
}/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
	width: auto;
	height: auto;
	max-height: 300px;
	display: block;
}
.flex-pauseplay span {
	text-transform: capitalize;
}

/* Clearfix for the .slides element */
.slides:after {
	content: "\0020";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
html[xmlns] .slides {
	display: block;
}
* html .slides {
	height: 1%;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
	display: block;
}

.flex-viewport {
	max-height: 2000px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.loading .flex-viewport {
	max-height: 300px;
}
.flexslider .slides {
	zoom: 1;
}

.carousel-direction-nav a:before, .flex-pauseplay a:before {
	font-family: "helvetica", Arial;
}

.carousel-direction-nav ul {
	margin-top: 10px;
}
.carousel-direction-nav li {
	float: left;
}
.carousel-direction-nav a {
	background: url(../img/flex-nav-arrow.png)/*tpa=http://www.cvshealth.com/sites/all/themes/cvs/img/flex-nav-arrow.png*/ no-repeat;
	display: block;
	height: 38px;
	width: 38px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
.carousel-direction-nav .carousel-prev {
	background-position: 15px -21px;
}
.carousel-direction-nav .carousel-disabled {
	background-position: 0 -20000px;
}
.carousel-direction-nav .carousel-prev:hover {
	background-position: 15px -21px;
}
.carousel-direction-nav .carousel-next {
	background-position: -15px -22px;
}
/*.carousel-direction-nav .carousel-next.carousel-disabled {
 background-position: -15px -52px;
 }*/
.carousel-direction-nav .carousel-next:hover {
	background-position: -15px -22px;
}
.carousel-viewport {
	margin-bottom: 50px;
}
.carousel-viewport .slides > li {
	margin-left: 0;
}

/*.carousel-viewport .slides li.views-row-7 {
	margin-left: 10px !important;
}*/

.primary .slides > li {
	margin-right: 24px;
}

.carousel-controls .carousel-direction-nav {
	display: none;
}

#block-views-featured-posts-block .carousel-controls .carousel-direction-nav {
	display: block;
	margin: 0px;
}
#block-views-featured-posts-block .carousel-controls .carousel-direction-nav, .view-how-we-are-making-a-difference .carousel-controls .carousel-direction-nav {
	display: block;
	margin: 0px;
}

.carousel-viewport {
	margin-bottom: 0px;
}

.carousel-viewport .slides > li {
/*	margin-right: 16px !important;
	width: 224px !important;*/
	padding: 0 !important;
}

.carousel-controls {
	float: right;
	margin-right: -15px;
}
.view-featured-posts .carousel-controls, .view-how-we-are-making-a-difference .carousel-controls {
	margin-right: 8px;
	margin-top: 10px;
}

.carousel-controls .carousel-control-paging {
	display: none;
}
.carousel-controls .carousel-direction-nav {
	display: block;
}