/*logo*/

#site-name > a {
  background-image: url(../img/caremark-logo.png)/*tpa=http://www.cvshealth.com/sites/all/themes/cvs/img/caremark-logo.png*/;
  background-color: transparent;
  display: block;
  width: 302px;
  height: 50px;
  margin-left: 20px;
  text-indent: -9999px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

@media only screen and (max-width: 500px ){
    #site-name > a {
      background-image: url(../img/caremark-logo.png)/*tpa=http://www.cvshealth.com/sites/all/themes/cvs/img/caremark-logo.png*/;
      background-color: transparent;
      display: block;
      width: auto;
      height: 50px;
      margin-left: 20px;
      margin-top: -5px;
      text-indent: -9999px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }
}



@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  #site-name > a {
    background-image: url(../img/cvs-caremark-logo_x2.png)/*tpa=http://www.cvshealth.com/sites/all/themes/cvs/img/cvs-caremark-logo_x2.png*/;
    background-repeat: no-repeat;
    /*background-size: 80% 80%;*/
  }
}

/* End Logo */

.navbar-header {
	background: #EBEBEB;
	position: fixed;
	z-index: 100;
}

.navbar-header a {
  text-decoration: none;
}

.navbar-header .wrapper {
	position: relative;
}

.navbar-header .title {
	height: 23px;
	display: block;
	width: 135px;
	margin: 8px auto 15px;
	float: left;
}

body.front .navbar-header {
  background: transparent;
  border-bottom: 1px #bfbfbf solid;
  top: 0;
  width: 100%;
  max-width: 1600px;
}

.navbar-header .menu {
	margin: 0;
	padding-left: 0;
}

.header-container .navigation{
  width: 100%;
  background: #000;
  float: left;
  overflow: hidden;
  display: none;
}

.header-container ul {
	list-style: none;
	padding-left: 0;
}


/* Primary Menu */

.primary-menu {
	float: left;
}

.primary-menu .menu {
	margin: 0;
}

.primary-menu .menu a,
.global-menu .menu a {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: block;
	padding-top: 34px;
	padding-bottom: 25px;
	font-size: 16px;
	color:#fff;
}

.primary-menu .menu a:hover {
    color:#d9d9d9;
}

.global-menu .menu a:hover {
    color:#d9d9d9!important;
}

.primary-menu .menu li {
  float: left;
  margin-right: 20px;
  margin-left: 0;
}

.primary-menu li.active-trail {
	position: relative;
}

.primary-menu li.active-trail:after {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 10px 10px;
	border-color: transparent transparent rgb(255,255,255) transparent;
	position: absolute;
	left: 40%;
	bottom: -13px;
}

.not-logged-in .primary-menu li.active-trail:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent rgb(255,255,255) transparent;
    position: absolute;
    left: 40%;
    bottom: -13px;
}


.primary-menu li.active-trail a {
	color: #fff;
}

.primary-menu .menu .first {
    margin-left: 0;
}
.primary-menu .menu .last {
}

/* End Primary Menu */


/* Global Menu */

.header-container .global-menu {
  background: #646464;
  margin: 0;
  float: right;
  margin-right: -371px;
  padding-right: 356px;
  padding-left: 90px;
}

.header-container .global-menu .menu li{
  float: left;
  padding-bottom: 20px;
  padding-top: 14px;
  position: relative;
}

.header-container .global-menu .menu li a {
  font-size: 13px;
  color: #fff;
  padding: 24px 5px 17px 5px;
  display: block;
}

.front .header-container .global-menu .menu li a {
  padding: 24px 5px 14px 5px;
}

.global-menu .menu li.active-trail:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent rgb(255,255,255) transparent;
    position: absolute;
    left: 26%;
    bottom: 0px;
}

/* End Global Menu */


.header-container .secondary {
  width: 100%;
  background: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  float: left;
}


/*social buttons */

.navbar-right {
	float: right;
	display: none;
    position: relative;
}

#block-block-4 {
  float: right;
}

#navbar-social {
	margin-right: 0;
	float: right;
}

.social {
	padding:0;
	margin: 25px 0 20px;

}

.social li {
	float: left;
	margin-right: 30px;
}

@media (max-width: 500px) {
    .social li {
        float: left;
        margin-right: 20px;
    }

    .social li:last-child {
        float: left;
        margin-right: 0;
    }
}

.social a {
	background: url(../img/social-icons.png)/*tpa=http://www.cvshealth.com/sites/all/themes/cvs/img/social-icons.png*/ no-repeat;
	display: block;
	height: 25px;
	width: 22px;
	text-indent: -9999px;
}

.social .twitter {
	background-position: -42px 1px;
}

.social .facebook {
	background-position: 8px 0;
}

.social .youtube {
    background-position: -135px 0;
}

.social .linkedin {
	background-position: -89px 0;
}

.social .twitter:hover {
	background-position: -42px -26px;
}

.social .facebook:hover {
	background-position: 8px -27px;
}

.social .youtube:hover {
    background-position: -135px -27px;
}

.social .linkedin:hover {
	background-position: -89px -27px;
}

/* End Social Buttons */


/* Search Form */

#block-search-form {
  float: right;
}

#block-search-form h2 {
  display: none;
}

#block-search-form label {
	display: block;
	background: url(../img/search.png)/*tpa=http://www.cvshealth.com/sites/all/themes/cvs/img/search.png*/ no-repeat;
	height: 22px;
	width: 20px;
	cursor: pointer;
	margin-top: 26px;
	/*padding: 0 20px;*/
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden;
  -webkit-box-sizing:content-box;
  -moz-box-sizing:content-box;
  box-sizing:content-box;
  position: relative;
  z-index: 2;
}

#block-search-form input[type="submit"] {
  display: none;
}

#block-search-form .open {
	background: url(../img/active-toggle.png)/*tpa=http://www.cvshealth.com/sites/all/themes/cvs/img/active-toggle.png*/ no-repeat;
}

/*#block-search-form .open:hover {
	background-position:0px -46px;
}*/

#block-search-form .form-text {
	display: none;
	position: absolute;
	top: 0;
	right: 30px;
	height: 65px;
	color: #ffffff;
	background: #000;
	padding: 15px;
  outline:none;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  z-index: 1;
  max-width: none;
  margin: 5px 0 0 0;
  font-size: 14px;
}

.lt-ie8 #block-search-form .form-text {
  overflow: hidden;
  right: 0;
}

/* End Search Form */



/* Mobile Menu Button */

.navbar-toggle {
	float: left;
	right: 20px;
	margin-top: 20px;
	background-color: transparent;
	border: none;
	outline: 0;
	text-indent: -999px;
	width: 30px;
}

.navbar-toggle .icon-bar {
	display: block;
	width: 22px;
	height: 3px;
	border-radius: 1px;
	background: #585858;
}

.navbar-toggle:hover .icon-bar, .navbar-toggle:active .icon-bar:active, .navbar-toggle.active .icon-bar {
  background:rgb(135,135,135);
}

.navbar-toggle .icon-bar + .icon-bar {
	margin-top: 4px;
}

.navbar-toggle.active {
  background: url(../img/active-toggle.png)/*tpa=http://www.cvshealth.com/sites/all/themes/cvs/img/active-toggle.png*/ no-repeat;
  width: 30px;
  height: 35px;
  margin-top: 20px;
  background-size:18px 21px
}

.navbar-toggle.active span {
  display: none;
}

/* End Mobile Menu Button */



/* Sidr Styles */

.sidr {
	font-family: "HelveticaNeueW01-Bold75", sans-serif;
	background: #000;
	display: none;
  	position: absolute;
  	position: fixed;
  	top: 0;
  	bottom: 0;
  	z-index: 99;
  	width: 260px;
  	overflow-x: hidden;
  	overflow-y: auto;
  	font-size: 15px;
  	color: #999;
	padding:30px 20px;
	width: 235px;

}

.sidr.right {
    left: auto;
    right: -260px;
}

.sidr.left {
	left: -260px;
    right: auto;
}

.sidr .content {
	float: left;
	width: 100%;
}

.sidr label {
  float: left;
  margin-left: 20px;
  margin-top: 18px;
}

.sidr a {
	color: #999;
}

.sidr a.active,
.sidr a:hover {
	color: #e72b41;
}

.navbar-left-collapse {
	position: relative;
	color: #999;
	background: #212121;
	padding:30px 20px;
	width: 235px;
}

.sidr .rArrow:after {
	display: none;
}

.sidr .rArrow {
	text-decoration: underline;
}

.sidr .menu {
	padding: 0;
	line-height: 3em;*/
}

.sidr .menu-name-menu-global-menu {
	font-size: 14px;
	background: #646464;
	margin: -30px;
	margin-bottom: 0;
	padding: 20px 30px;
}

.sidr-inner .menu-name-main-menu {
	font-size: 18px;
}

.sidr .menu li {
	line-height: .5em;
	margin: 0 0 2em 0;
}

.sidr .menu a {
	font-family: "HelveticaNeueW01-Bold75", sans-serif;
	color:#fff;
  text-decoration: none;
}

.sidr p {
	background: #fff;
	margin: 24px 0;
	font-size: 13px;
}

.sidr.left p {
	text-align: left;
  	margin: 1.5em 0 1.5em 2em;
}

.sidr p a {
	text-decoration: underline;
}

.sidr li.active-trail:before {
	content: "";
	width: 0;
	height: 0;
	margin-left: -43px;
	border-style: solid;
	border-width: 10px 0 10px 20px;
	border-color: transparent transparent transparent rgb(238,238,238);
	position: absolute;
}

.sidr .logo-list {
	border-top: 1px solid #3C3C3C;
	border-bottom: 1px solid #3C3C3C;
	margin-bottom: 20px;
}

.sidr .fluid_4 {
	float: none;
	width: auto;
}

#sidr-id-brands {
	text-align: center;
}

.sidr-inner #sidr-id-search-block-form {
  background: #fff;
  margin-left: -20px;
  margin-right: -200px;
  margin-bottom: 20px;
  width: 120%;
  float: left;
  /*padding-right: 200px;*/
}

#sidr-id-search-block-form .form-submit {
  display: none;
}

#block-search-form .form-submit {
	display: none;
}

#sidr-id-search-block-form--2 .form-text,
#sidr-id-search-block-form .form-text {
	padding-left: 10px;
	padding-right: 40px;
	margin-top: 4px;
	background: #fff url(../img/search.png)/*tpa=http://www.cvshealth.com/sites/all/themes/cvs/img/search.png*/ no-repeat 150px 10px;
	color: #000;
	font-size: 13px;
	width: 180px;
	height: 45px;
	outline: 0;
  	border:0;
  	max-width:none;
  	float: left;
  	margin-bottom: 0;
}

.sidr-inner {
  float: left;
  width: 100%;
}

.sidr-inner .social {
  margin-top: 20px;
}

@media only screen and (max-width: 909px) {
	.easy-breadcrumb {
		padding-top: 40px;
	}
}

@media only screen and (min-width: 910px) {

  #site-name a {
    margin-left: -65px;
  }

  .navbar-toggle, .navbar-primary .close {
	display: none
	}

  body.front .navbar-header {
    border: none;
  }

  .navbar-header {
    position: relative;
    float: left;
  }

  .header-container .navigation {
    display: block;
  }

	.navbar-header .title {
		margin-left: 12px;
  		margin-top: 10px;
		float: left;
		display: block;
	}

	.navbar-primary {
  	line-height: 70px;
  	margin-bottom: 30px;
		position: relative;
		width: auto;
		background: #FFF;
		float: left;
	}

	.navbar-right {
		display: block;
	}

	.hero-slider .flexslider li.flexslider_views_slideshow_slide{
		/*padding-top: 90px;*/
	}
}

.panel-display .sidebar-text .pane-title {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000;
	text-decoration: none;
}

.panel-display .sidebar-text a {
	color: #c00;
	text-decoration: none;
}

.panel-display .sidebar-text a:hover {
	color: #656565;
	text-decoration: none;
}

/* to handle the menu break between 820px and 840px */
/*@media only screen and (min-width: 820px) and (max-width:885px) {

	.primary-menu .menu li {
		margin-right: 7px!important;
	}

	.header-container .global-menu .menu li a {
  	padding: 24px 5px 14px 5px !important;
	}
}*/

@media only screen and (max-width: 320px) {
	.sidr .menu {
		float: none;
		position: relative;
	}
}

@media only screen and (max-width: 1080px) {
	#site-name a {
		margin-left: 0;
	}
}

