/* =====================================
   History Section by spaden@addventures
   ===================================== */

.page-about-us-our-purpose-company-history #block-system-main .view-content .item-list{
    display:none;
}

.history-block ul.quicktabs-tabs.quicktabs-style-arrows {
	border: none;
}

.history-block ul.quicktabs-tabs.quicktabs-style-arrows a {
	font-family: "HelveticaNeueW01-Bold75", sans-serif;
	color: #CC0000;
	font-size: 20px;
	padding-right: 60px;
	padding-left: 0;
    background: none!important;
}

.history-block ul.quicktabs-tabs.quicktabs-style-arrows li {
	margin-left: 0px;
}

.history-block ul.quicktabs-tabs.quicktabs-style-arrows li.active {

	position: relative;
	background: none;
}

.history-block ul.quicktabs-tabs.quicktabs-style-arrows li.active a {
	color: #646464;
	background: none;
}

.history-block ul.quicktabs-tabs.quicktabs-style-arrows a:hover {
	background: none;
}

.history-block ul.quicktabs-tabs.quicktabs-style-arrows li.active.first:before {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 15px 16px 15px;
	border-color: transparent transparent #cc0000 transparent;
	position:absolute;
	bottom: -25px;
	left: 23%;
}

.history-block ul.quicktabs-tabs.quicktabs-style-arrows li.active:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 16px 15px;
    border-color: transparent transparent #cc0000 transparent;
    position:absolute;
    bottom: -25px;
    left: 12%;
}

#block-quicktabs-our-history .views-slideshow-controls-top a{
	background: url(/sites/all/themes/cvs/img/flex-nav-arrow.png) no-repeat;
	padding-top: 40px;
	text: none;
	float: right;
}
#quicktabs-our_history > div.item-list > ul {
	padding-left: 0px;
	border-color: #CC0000;
	width: 960px;
	padding-bottom: 80px!important;
}

#block-quicktabs-our-history {
	margin-top: 0px;
}

#block-quicktabs-our-history h2 {
    display: none;
}

/* ========== replacement nav buttons by spaden@addventures =========== */

	/* first, disable old buttons and pager */
	.view.view-history .pager {
		display: none;
	}
	/* ========================== */


.history-block .front-slide {
	margin-top: 105px;
	/*margin-bottom: 400px;*/
}

.history-block .front-slide a {
	text-decoration: none;
	color:#000;
	font-size: 24px;
	font-family: "HelveticaNeueW01-Bold75", sans-serif;
}

.history-block .front-slide p {
	margin-right: 331px;
}
.history-block .view-header {
	border-top: 10px solid #CC0000;
}

.view-history .nav-btns {
	margin-top: 40px;
	position: absolute;
	right: 330px;
}

.view-history .prev-btn {
	background: url(../img/flex-nav-arrow.png) no-repeat;
	cursor: pointer;
	display: inline-block;
	height: 39px;
	width: 40px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background-position: 15px -20px;
}

.view-history .next-btn {
	background: url(../img/flex-nav-arrow.png) no-repeat;
	cursor: pointer;
	display: inline-block;
	height: 39px;
	width: 40px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background-position: -15px -20px;
}

.view-history .views-field-body p {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #818285;
}

.view-history .views-field-body p:last-child {
  border-bottom: none;
}

/* ================================================================================ */

.history-block .view-header {
	margin: -80px -331px 0px -331px;
	padding-bottom: 60px;
    position: relative;
}

/* ================================================================================
 * This section handles the columns in each decade
 * ================================================================================ */

#quicktabs-tabpage-our_history-0 > div > div.view-content > div > ul > li.views-row {
	padding-right: 0px;
	margin-right: 20px;
    margin-left: 0;
	width: 300px!important;
    /*border-bottom: 1px solid #000;*/
}

#quicktabs-tabpage-our_history-0 .view-header .nav-btns {
    display: none;
}

#quicktabs-tabpage-our_history-1 > div > div.view-content > div > ul > li.views-row {
	padding-right: 0px;
	margin-right: 20px;
    margin-left: 0;
	width: 300px!important;
    /*border-bottom: 1px solid #000;*/
}

#quicktabs-tabpage-our_history-2 > div > div.view-content > div > ul > li.views-row {
	padding-right: 0px;
	margin-right: 20px;
    margin-left: 0;
	width: 300px!important;
    /*border-bottom: 1px solid #000;*/
}

#quicktabs-tabpage-our_history-3 > div > div.view-content > div > ul > li.views-row {
	padding-right: 0px;
	margin-right: 20px;
    margin-left: 0;
	width: 300px!important;
    /*border-bottom: 1px solid #000;*/
}

#quicktabs-tabpage-our_history-4 > div > div.view-content > div > ul > li.views-row {
	padding-right: 00px;
	margin-right: 20px;
    margin-left: 0;
	width: 300px!important;
    /*border-bottom: 1px solid #000;*/
}

#quicktabs-tabpage-our_history-5 > div > div.view-content > div > ul > li.views-row {
	padding-right: 0px;
	margin-right: 20px;
    margin-left: 0;
	width: 300px!important;
    /*border-bottom: 1px solid #000;*/
}

#quicktabs-tabpage-our_history-6 > div > div.view-content > div > ul > li.views-row {
	padding-right: 20px;
	margin-right: 0px;
    margin-left: 0;
	width: 300px!important;
    /*border-bottom: 1px solid #000;*/
}

#quicktabs-tabpage-our_history-0,
#quicktabs-tabpage-our_history-1,
#quicktabs-tabpage-our_history-2,
#quicktabs-tabpage-our_history-3,
#quicktabs-tabpage-our_history-4,
#quicktabs-tabpage-our_history-5,
#quicktabs-tabpage-our_history-6
 > div {
 	margin: 0px -320px 120px -320px;
 	padding: 0px 320px;
	background-color: #f1f1f1;
}

/* ================================================================================= */

.splash-title {
	font-size: 24px;
	font-family: "HelveticaNeueW01-Bold75", sans-serif;
	color: #000;
    margin-top: -55px;
    text-align: center;
}

.history-block .view-content .item-list {
	margin: 30px 0!important;
	background-color: #f1f1f1;
	display: inline-block;
	vertical-align: top;
	padding-bottom: 50px;
}
.history-block img {
	width: 630px;
	float: left;
	padding-right: 30px;
}

.history-block {
	margin-top: 80px;
}

.history-block .field-content a {
	font-size: 24px;
	color: #000;
	text-decoration: none;
}

.next-btn.first-page,
.prev-btn.front-page {
	display: none;

}

.view-history .front-slide {
	display: none;
}

.view-history .front-slide .image {
    min-height: 415px;
    min-width: 660px;
    float: left;
    margin-left: 496px;
}

#views_slideshow_controls_text_previous_history-block_1 a {
	visibility: hidden;
}

#views_slideshow_controls_text_pause_history-block_1 a {
	visibility: hidden;
}

#views_slideshow_controls_text_next_history-block_1 a {
	visibility: hidden;
}

#quicktabs-container-our_history .quicktabs-tabs li.active a {
    pointer-events: none;
}

@media only screen and (max-width: 767px) {

	.mobile-title {
		font-family: "HelveticNeueW01-Bold75", sans-serif;
		font-size: 38px;
	}

	.view-history .nav-btns {
		margin-left: 32%;
	}

	/* hide history block */
	.history-block {
		display: none;
	}

	.view-history .view-grouping-header {
		text-align: center;
		font-size: 24px;
		color: #646464;
		margin-bottom: 25px;
		padding-top: 10px;
	}

	.mobile-header-body {
		color: #646464;
	}

	.history-mobile-block {
		display: block;
	}

	.view-history .nav-btns {
	margin-top: 40px;
	position: absolute;
	margin-right: 331px;
	right: 0;
}
	.view-history .pager {
		display: none;
	}

	.view-history hr {
		margin: 30px 0;
		border-top: 1px solid #313131;
	}

	.view-history .view-grouping-content {
		border-top: 10px solid #CC0000;
		background: #f1f1f1;
		padding: 15px;
	}

	.view-history .view-grouping-header:before {
		content: "";
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 15px 16px 15px;
		border-color: transparent transparent #cc0000 transparent;
		position:absolute;
		margin-top: 44px;
		left: 46%;
	}

	.item-list ul li {
		margin: 0;

	}

	.view-history.view-display-id-block_2 .view-content .view-grouping {
		display: none;
	}

	.view-history.view-display-id-block_2 .view-content {
		display: block !important;

	}

	.view-history.view-display-id-block_2 .view-content .view-grouping:first-child {
		display:block;
	}

	.view-history .mobile-prev {
		float: left;
		background: url(../img/flex-nav-arrow.png) no-repeat;
		cursor: pointer;
		display: inline-block;
		height: 40px;
		width: 40px;
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
		background-position: 15px -19px;
	}

	.view-history .mobile-next {
		float: right;
		background: url(../img/flex-nav-arrow.png) no-repeat;
		cursor: pointer;
		display: inline-block;
		height: 40px;
		width: 40px;
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
		background-position: -15px -19px;
	}

}

