.contextual-links-region.panel-pane.pane-block.pane-cvs-ui-cvs-ui-article-np.grid_margin.pane-cvs-ui {
	margin-bottom: -30px;
}

.contextual-links-region.panel-pane.pane-block.pane-easy-social-easy-social-block-1.pane-easy-social {
	float: left;
	margin-top: -30px;
}

.contextual-links-region.panel-pane.pane-block.pane-easy-social-easy-social-block-2.pane-easy-social {
	float: left;
	margin-top: -50px;
}

.panel-pane.pane-block.pane-easy-social-easy-social-block-2.pane-easy-social {
	float: left;
	margin-top: -65px;
}


.node-type-press-release .contextual-links-region.panel-pane.pane-block.pane-easy-social-easy-social-block-1.pane-easy-social {
	margin-top: 10px;
	margin-bottom: 10px;
}

.node-type-press-release .contextual-links-region.panel-pane.pane-block.pane-easy-social-easy-social-block-2.pane-easy-social {
	float: left;
	margin-top: 0px;
}

.node-type-press-release .panel-pane.pane-block.pane-easy-social-easy-social-block-2.pane-easy-social {
	float: left;
	margin-top: 0px;
}
