/*/* 
 * to handle the Our Businesses Page
 * spaden@addventures.com



@media only screen and (max-width: 704px) {	
	#block-views-9e2a65e6dc7f1db845a7e2d8618654ac .view-better-health-care-static-pages .excerpt-block img {
		width: 224px;
		float: none;
	}
}

@media only screen and (max-width: 320px) {	
	#block-views-9e2a65e6dc7f1db845a7e2d8618654ac .view-better-health-care-static-pages .excerpt-block img, h4, p {
		padding-left: 12px;
		width: 224px;
		float: none;
	}
}*/