.pagerer {
	margin-top: 60px !important;
	float: left;
}

.pagerer-pager .pager {
	position: relative;
	margin-left: 10px !important;
}

.pagerer-pager .pager li {
	margin-right: 10px !important;
}

.pagerer-pager .widget {
	background: #eaeaea;
	color: #646464 !important;
	text-decoration: none !important;
	padding: 22px 10px !important;
}

.pagerer-pager .widget input {
	background: #eaeaea;
	border: none;
}

.pagerer-pager .pager-item {
	padding-top: 24px !important;
	text-transform: uppercase;
	font-family: "helvectica neue", sans-serif !important;
}

.pagerer-center {
	display: none;
}

.pagerer-pager .pager-previous {
	padding: 0 !important;
	margin: 0 !important;
	/*position: absolute;
	 left: 205px;*/
	float: none !important;
	display: inline-block !important;
	margin: 0 !important;
	text-indent: -999px;
	width: 60px;
	height: 60px;
	background: #EAEAEA url(../img/pagers.png)/*tpa=http://www.cvshealth.com/sites/all/themes/cvs/img/pagers.png*/ no-repeat !important;
	background-position: 19px 16px !important;
}

.pagerer-pager .pager-previous a {
	margin: 0 !important;
	float: left;
	height: 60px;
	width: 60px;
	text-indent: 999px;
	background: #EAEAEA url(../img/pagers.png)/*tpa=http://www.cvshealth.com/sites/all/themes/cvs/img/pagers.png*/ no-repeat !important;
	background-position: 19px 16px !important;
}

.pagerer-pager .pager-previous.active a {
	background: #CC0000 url(../img/pagers.png)/*tpa=http://www.cvshealth.com/sites/all/themes/cvs/img/pagers.png*/ no-repeat !important;
	color: #fff !important;
	background-position: 19px -86px !important;
}

.pagerer-pager .pager-next {
	padding: 0 !important;
	margin: 0 !important;
	/*position: absolute;
	 left: 270px;*/
	float: none !important;
	display: inline-block !important;
	width: 60px;
	height: 60px;
	margin: 0 !important;
	text-indent: -999px;
	background: #CC0000 url(../img/pagers.png)/*tpa=http://www.cvshealth.com/sites/all/themes/cvs/img/pagers.png*/ no-repeat !important;
	background-position: 19px -37px !important;
}

.pagerer-pager .pager-next a {
	margin: 0 !important;
	float: left;
	height: 60px;
	width: 60px;
	text-indent: -9999px;
	background: #CC0000 url(../img/pagers.png)/*tpa=http://www.cvshealth.com/sites/all/themes/cvs/img/pagers.png*/ no-repeat !important;
	background-position: 19px -37px !important;
}

/* fixes the left margin on Expert Voices pager */
.expert-voices-main-content .pagerer-pager .pager-previous, .view-media .pagerer-pager .pager-previous, .view-newsroom-press-releases .pagerer-pager .pager-previous {
	left: 170px;
	padding: 0 0.1em 0 .3em;
}

.expert-voices-main-content .pagerer-pager .pager-next, .view-media .pagerer-pager .pager-next, .view-newsroom-press-releases .pagerer-pager .pager-next {
	left: 235px;
}

.pagerer-pager .pager ul > span {
	display: none;
}

@media (max-width: 767px) {

	#block-views-cvs-insights-block table.pagerer {
		margin-left: -40px;
	}

	#block-views-cvs-insights-block table.pagerer li.pager-item {
		margin: 0px;
	}

	#block-views-cvs-insights-block table.pagerer li.pager-previous, #block-views-cvs-insights-block table.pagerer li.pager-last {
		margin-left: -20px !important;
	}

}

@media (max-width: 380px) {
	.pagerer-pager .pager li {
		margin-right: 3px !important;
	}
}
