@charset "UTF-8";

/*/////
ie7.css
Mutual of Omaha Insurance Company
Corporate Site - mutualofomaha.com
/////*/

/* PNG Filter for IE6: { background-image:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="filename.png", sizingMethod="image"); } */
/* Header/Utilities /Search */
#utilities #find-bg { margin-top:0; }

/* Title/Banner Bar */
#homepage #register { line-height:16px; }
#homepage #login-assist { padding:3px 20px 3px 20px; }
#homepage #login-assist a { line-height:14px; }
#homepage #subaction { padding:0 20px; }

/* Sitemap */
#sitemap .col h3 { padding:0 0 10px 0; font-size:16px; font-weight:normal; color:#676767; }
#sitemap .col li.quote a.sitemap-connect { font-weight:normal; }

/* Homepage Accordion */
#homepage #content .sidebar-home .accordion li .buyonline ul li.last-child { height:34px; }
#homepage #content .sidebar-home .accordion li .tab-content p { padding:5px 20px 5px 14px; font-size:14px; line-height:19px }

/* Product Page */
#product-index #get-started .toll-free span { color:#3C6818; font-size:16px; font-weight:bold; }

/* Content Utilities */
.email-util-model h4 { height:34px; padding:20px 0 0 73px; }
.share-util-model h4 { height:34px; padding:20px 0 0 58px; }

/* Subnav */
#content .subnav ul li ul li ul li a { background:url("../images/layout/subnav-arrow-bullets.gif")/*tpa=http://www.mutualofomaha.com/images/layout/subnav-arrow-bullets.gif*/ 0 6px no-repeat; }

#landing hr { margin:0; padding:0; height:1px; border-color:#e7e7e7; }

/* Underwritting Company Fix */
#content .main div.content-title h1 small.btm { font-weight:normal; display:block; padding:6px 0 5px 0; font-size:12px; }