@charset "UTF-8";

/*/////
base.css
Mutual of Omaha Insurance Company
Corporate Site - mutualofomaha.com
/////*/

@import url("reset.css")/*tpa=http://www.mutualofomaha.com/css/reset.css*/;
@import url("nav.css")/*tpa=http://www.mutualofomaha.com/css/nav.css*/;
@import url("modal.css")/*tpa=http://www.mutualofomaha.com/css/modal.css*/;
@import url("buttons.css")/*tpa=http://www.mutualofomaha.com/css/buttons.css*/;
@import url("forms.css")/*tpa=http://www.mutualofomaha.com/css/forms.css*/;
@import url("quote.css")/*tpa=http://www.mutualofomaha.com/css/quote.css*/;


/*///// Standard Page Elements /////*/
body { font-family:Arial, sans-serif; font-size:14px; letter-spacing:.01em; color:#000; background:#F2EDE6 url("../images/layout/bg.jpg")/*tpa=http://www.mutualofomaha.com/images/layout/bg.jpg*/ repeat-X scroll 50% 0; }
h1,h2,h3,h4,h5,h6 { font-weight:normal; }
p { }
ul {  }
li { }
a { text-decoration:none; color:#2389DD; }
a:hover { text-decoration:underline; }
a.img-link { border:none; }
strong { font-weight:bold; }
em { font-style:italic; }
hr { height:1px; border:none; border-bottom:1px solid; }
sup { font-size:9px; vertical-align:top; }


/*///// Custom Page Elements /////*/
#wrapper { width:990px; margin:0 auto; overflow:hidden; border:0px dashed #333; }
#content-wrapper { /* ie6 min-height:550px; height:auto !important; height:550px; */ overflow:hidden; background-color:#FFF; border-bottom:5px solid #FFF; border-left:5px solid #FFF; border-right:5px solid #FFF; }

.slash { padding:0 2px; }
img.arrow { width:4px; height:7px; margin:0 0 0 8px; background:transparent url('../images/arrows/arrow-gray.gif')/*tpa=http://www.mutualofomaha.com/images/arrows/arrow-gray.gif*/ top right no-repeat; border:0px dashed #333; }
img.arrow-left { width:4px; height:7px; margin:0 8px 0 0; background:transparent url('../images/arrows/arrow-gray-left.gif')/*tpa=http://www.mutualofomaha.com/images/arrows/arrow-gray-left.gif*/ top right no-repeat; border:0px dashed #333; }
a.qtip { border-bottom:1px solid #EDC827; }
a.qtip:hover { text-decoration:none; border-bottom:1px solid #FFF; }

/*///// Header /////*/
#header { width:990px; overflow:hidden; padding-top:24px; /*background:transparent url("/images/layout/page-top-bg.png") top left no-repeat ;*/ border:0px dashed #333; }
	#logo { float:left; width:270px; height:56px; margin:0 0 0 8px; background:transparent url("../images/layout/logo.gif")/*tpa=http://www.mutualofomaha.com/images/layout/logo.gif*/ no-repeat scroll left top; border:0px dashed #333; }
	#logo span { display:block;}
	#logo a { display:block; width:270px; height:56px; border:none; }
	#logo img { display:block; width:270px; }
	#nav {display:none;}

	#utilities { display: none;}
		#search { padding:0; }
		#search form { float:right; }
		#search span { display:none; }
		#search input { height:19px; width:340px; float:left; padding:6px 4px; font-size:1.1em; color:#444; background-color:#FFF; border-top:2px solid #dddddd; border-bottom:2px solid #dddddd; border-left:2px solid #dddddd; border-right:0px solid #dddddd; }
		#search #search-btn { height:35px; width:36px; float:left; border:0; margin:0; background:url("../images/buttons/btn-search.png")/*tpa=http://www.mutualofomaha.com/images/buttons/btn-search.png*/ top left no-repeat; }
		#search a { height:35px; width:36px; float:left; border:0; margin:0; background:url("../images/buttons/btn-search.png")/*tpa=http://www.mutualofomaha.com/images/buttons/btn-search.png*/ top left no-repeat; }
		#search a:hover { background-position: 0 -35px; }
			/* Autocomplete Search */
			.ac_results { padding: 0px; border: 1px solid #D1ECFE; background-color: #fff; overflow: hidden; z-index: 99999; }
			.ac_results ul { width: 100%; list-style-position: outside; list-style: none; padding: 0; margin: 0; }
			.ac_results li { margin: 0px; padding: 6px; cursor: default; display: block; /* 
				if width will be 100% horizontal scrollbar will apear 
				when scroll mode will be used
				*/
				/*width: 100%;*/
				font: menu; font-size: 14px; /* 
				it is very important, if line-height not set or set 
				in relative units scroll will be broken in firefox
				*/
				line-height: 16px; overflow: hidden; }
			.ac_loading { background: white url('Unknown_83_filename')/*tpa=http://www.mutualofomaha.com/css/indicator.gif*/ right center no-repeat; }
			.ac_odd { background-color: #fff; }
			.ac_over { background-color: #D1ECFE; color: #333; }
	
	/* Find Links */
	#utilities .links { position:relative; float:right; padding:10px 3px 0 0; z-index:6015; }
	#utilities .links ul { }
	#utilities .links li { display:inline; padding:0 0 0 5px; }
	#utilities .links li strong { padding-right:2px; }
	#utilities .links li a { overflow:hidden; border:none; padding:2px 0 0 20px; font-size:13px; line-height:15px; background:transparent url('../images/layout/bullets-box.png')/*tpa=http://www.mutualofomaha.com/images/layout/bullets-box.png*/ no-repeat; }
	#utilities .links li a:hover { text-decoration:underline; }
	#utilities .links li a.on { color:#01213E; background-position:0 -18px; }
	#utilities .links li p { display:inline; padding-left:10px; border-left:1px solid #666666; }
	#utilities .links li p a { color:#227FC2; padding:0; background:none;}
	#utilities .links li p a:hover { color:#227FC2; text-decoration:underline; }
		/* Find Overlay */
		#find-bg { position:absolute; width:352px; height:208px; margin-top:32px; margin-left:90px; background:transparent url('../images/layout/find-bg.png')/*tpa=http://www.mutualofomaha.com/images/layout/find-bg.png*/ no-repeat; }
			#loading { width:25px; height:25px; margin:100px 170px; background:transparent url('../images/layout/loading.gif')/*tpa=http://www.mutualofomaha.com/images/layout/loading.gif*/ no-repeat; }
			div.find p { font-size:12px; }
			div.find strong { color:#676767; }
			div.find  h3 { margin-top:8px; padding-bottom:10px; font-size:16px; color:#032d59; }
			div.find form tr.tall { height:50px; }
			div.find form tr.short { height:18px; }
			div.find form label { font-size:12px; }
			div.find form select { float:left; width:160px; padding:2px 4px; margin:5px 30px 0 0; font-size:14px; color:#777; border:2px solid #b5b5b5; }
			div.find form .agent-lookup, div.find form .atm-zip, div.find form .sales-career-zip { float:left; width:160px; padding:5px 4px; margin:2px 0 6px 0; font-size:13px; color:#777; background-color:#FFF; border-top:2px solid #dddddd; border-bottom:2px solid #dddddd; border-left:2px solid #dddddd; border-right:0px solid #dddddd; }
			div.find form .focus { color:#333; background-color:#FFF; border-top:2px solid #D5D5D5; border-bottom:2px solid #D5D5D5; border-left:2px solid #D5D5D5; border-right:0px solid #D5D5D5; }
			div.find form #atm-zip { width:45px; }
			div.find ul.horiz { margin-bottom:10px; }
			div.find ul.horiz li { display:inline; padding:1px 6px 1px 14px; background:transparent url('../images/layout/thin-arrow-bullets.gif')/*tpa=http://www.mutualofomaha.com/images/layout/thin-arrow-bullets.gif*/ no-repeat; }
			div.find ul.more { float:left; width:145px; margin:2px 0 0 0; }
			div.find ul.more li { margin-top:3px; padding:3px 4px 1px 12px; background:transparent url('../images/layout/thin-arrow-bullets.gif')/*tpa=http://www.mutualofomaha.com/images/layout/thin-arrow-bullets.gif*/ no-repeat; }

/*///// title-bar /////*/
#title-bar { overflow:hidden; height:70px; margin:0; padding:0; color:#A5DAFF; font-size:12px; text-align:left; background:#093157 url("../images/layout/titlebar-shade-gradient.png")/*tpa=http://www.mutualofomaha.com/images/layout/titlebar-shade-gradient.png*/ top left repeat-x; border:0px dashed #333; }
#title-bar h2 {float:left; padding:23px 0 0 18px; font-size:22px; letter-spacing:.04em; font-weight:normal; }
#title-bar h2 strong { font-weight:normal; color:#333; }
#title-bar h2 a { color:#333; border:none;/* display:block;*/ }
#title-bar h2 a:hover { text-decoration:none; }
#title-bar div.utilities { float:right; padding:15px 10px 0 0; }
#title-bar div.utilities p { padding:0; }
#title-bar div.utilities li { float:left; margin-top:10px; border-right:none; }
#title-bar div.utilities li strong { padding:0 4px 0 15px; font-size:24px; color:#FFF; font-weight:normal; }
#title-bar div.utilities li.toll-free { padding:0; margin-top:10px; }
#title-bar div.utilities li.select-state { display:none }
#title-bar div.utilities li.select-state.last { display: none}
#title-bar div.utilities li.or { display: none; }
#title-bar div.utilities li.last { display: none; }
	#edit-state-wrapper { padding:0 15px;  }
	#title-bar div.utilities li.select-state.last #edit-state-wrapper { padding:0; }
	#text-state-wrapper { padding:6px 15px; }
	#title-bar div.utilities li.select-state.last #text-state-wrapper { padding:6px 0px; }
	#text-state-wrapper a { font-size:12px; color:#8ECBFA; }
		/* State Select Utility */
		#content-state { padding:0; margin:0; font-size:12px; }
		#content-state label { margin-right:3px; color:#FFF; }
		#content-state select { width:130px; padding:2px 2px; color:#333; border:2px solid #034F81; }

/*///// Content /////*/
#content { position:relative; overflow:hidden; clear:both; padding:5px 0; }
#content h1 { font-size:22px; margin:15px 0; }
#content .subnav, #content .main, #content .sidebar, #content .cta { }
#content .main { padding:0 0 25px 0; z-index:10; }
#content .sidebar, #content .subnav { padding:0; }
#content .subnav { display: none; }
#content .sidebar { display: none; }
#content sup { font-size:9px; vertical-align:top; }

/* Content Interior */
#content .one-col { width:750px; }
#content .three-col { display:inline; width:750px; margin: 0px; }
#content .two-col { display:inline; width:750px; margin: 0px; }
#content .content-title { background:transparent url('../images/layout/page-title-bg.gif')/*tpa=http://www.mutualofomaha.com/images/layout/page-title-bg.gif*/ bottom left repeat-x; }
#content .content-copy, #content .sidebar { float:left; }
#content .content-copy { padding:12px 20px 20px 20px; line-height:18px; }
#content .content-copy p { padding-bottom:15px; }

#content .main .date { padding-bottom:2px; color:#999; font-size:13px; }
#content .main div.content-title h1 { width:500px; padding:0; margin:0; color:#333; font-size:26px; border-bottom: 0px solid #d0d0d0; }
#content .main h3 { padding:5px 0 10px 0; color:#333; font-size:18px; }
#content .main h4 { font-weight:bold; }

#content .main ol { margin:0 0 15px 22px; }
#content .main ul { margin:0 0 15px -3px; }
#content .main ul li ul, #content .main ul li ol, #content .main ol li ul, #content .main ol li ol { margin-bottom:5px; margin-top:3px; }
#content .main ol { list-style-type:decimal; }
#content .main ol.upper-alpha { list-style-type:upper-alpha; }
#content .main ol.lower-alpha { list-style-type:lower-alpha; }
#content .main ul li, #content .main ol li { padding:0 0 6px 0; }
#content .main ul li { padding:0 0 0 17px; margin:0 0 8px 0; background:transparent url('../images/layout/thin-arrow-bullets.gif')/*tpa=http://www.mutualofomaha.com/images/layout/thin-arrow-bullets.gif*/ no-repeat; }
#content .main ul.regular li { font-size:14px; line-height:18px; margin:0 0 16px 0; }

/* print email share utilities */
#content .utilities { display: none; }
#content .utilities ul { position:relative; list-style:none; margin:0; padding:0; border:0px dashed #333; z-index:6011; }
#content .utilities ul li { display:inline; padding:0 0 0 5px; font-size:12px; background:none; }
#content .utilities #print_util { background:transparent url('../images/layout/site-utils.png')/*tpa=http://www.mutualofomaha.com/images/layout/site-utils.png*/ 0 0 no-repeat; border-right:1px solid #E7E7E7; }
#content .utilities #email_util { background:transparent url('../images/layout/site-utils.png')/*tpa=http://www.mutualofomaha.com/images/layout/site-utils.png*/ 0 -30px no-repeat; border-right:1px solid #E7E7E7; }
#content .utilities #share_util { background:transparent url('../images/layout/site-utils.png')/*tpa=http://www.mutualofomaha.com/images/layout/site-utils.png*/ 0 -60px no-repeat; border-right:0px solid #E7E7E7; }
#content .utilities li a { padding:7px 14px 8px 25px; line-height:26px; color:#777; border:none; }
#content .utilities li a:hover { text-decoration:underline; }

#content .utilities .other-products { float:right; padding:9px 14px 0 0; }
#content .utilities .other-products select { padding:2px 2px; }

/* Email Friend Utility */
.email-util-model h4 { width:214px; height:54px; margin:0; background:transparent url('../images/layout/email-util-top-bg.png')/*tpa=http://www.mutualofomaha.com/images/layout/email-util-top-bg.png*/ no-repeat; }
.email-util-model h5 { width:174px; height:48px; padding:10px 20px; font-size:10px; color:#777; background:transparent url('../images/layout/email-util-btm-bg.png')/*tpa=http://www.mutualofomaha.com/images/layout/email-util-btm-bg.png*/ no-repeat; }
.email-util-model form { padding:0; margin:0; }
#emailFriend { width:173px; padding:5px 21px 10px; margin:0; background:transparent url('../images/layout/email-util-mid-bg.png')/*tpa=http://www.mutualofomaha.com/images/layout/email-util-mid-bg.png*/ repeat-y; }
#emailFriend input { display:block; width:160px; padding:4px 4px; font-size:12px; margin-bottom:6px; font-size:13px; color:#777; background-color:#FFF; border:2px solid #dddddd; }
#emailFriend input.error { border-color:#C42828; }
#emailFriend #send-page { border:none; }

/* Share Utility */
.share-util-model { }
.share-util-model h4 { width:136px; height:54px; background:transparent url('../images/layout/share-util-top-bg.png')/*tpa=http://www.mutualofomaha.com/images/layout/share-util-top-bg.png*/ no-repeat; }
.share-util-model h5 { width:136px; height:18px; margin:0; padding:0; font-size:10px; color:#777; background:transparent url('../images/layout/share-util-btm-bg.png')/*tpa=http://www.mutualofomaha.com/images/layout/share-util-btm-bg.png*/ no-repeat; }
.share-util-model .mid { width:94px; padding:2px 21px; margin:0; background:transparent url('../images/layout/share-util-mid-bg.png')/*tpa=http://www.mutualofomaha.com/images/layout/share-util-mid-bg.png*/ repeat-y; }
.share-util-model a { display:block; height:10px; margin-bottom:6px; padding:2px 20px 4px 25px; font-size:13px; color:#777; background:transparent url('../images/layout/social-icons.gif')/*tpa=http://www.mutualofomaha.com/images/layout/social-icons.gif*/ no-repeat; border:none; }
.share-util-model a:hover { text-decoration:underline; }
.share-util-model a.facebook { background-position:0 0;  }
.share-util-model a.twitter { background-position:0 -16px; }
.share-util-model a.linkedin { background-position:0 -32px; }
.share-util-model a.delicious { background-position:0 -48px; }
.share-util-model a.favorites { background-position:0 -64px; }

/* content tabs */
#content ul.ui-tabs { list-style:none; overflow:hidden; height:40px; margin-top:5px; border:0px dashed #333; }
#content div.content-copy ul.ui-tabs { margin:0 0 20px -20px; padding:40px 0 0 16px; background:transparent url('../images/layout/page-title-bg.gif')/*tpa=http://www.mutualofomaha.com/images/layout/page-title-bg.gif*/ bottom left repeat-x; }
#content ul.ui-tabs li { float:left; background:none; padding:4px 0 0 0; line-height:normal; }
#content ul.ui-tabs li a { display:block; width:149px; height:35px; padding:10px 15px; margin:0 2px; color:#555; font-size:15px; background:transparent url('../images/layout/content-tabs-bg.jpg')/*tpa=http://www.mutualofomaha.com/images/layout/content-tabs-bg.jpg*/ repeat-x; border:1px solid #E7E7E7; cursor:pointer; }
#content ul.ui-tabs li a:hover { background-position:0 -35px; }
#content ul.ui-tabs li.ui-tabs-selected { }
#content ul.ui-tabs li.ui-tabs-selected a { color:#01213E; background:none; background-color:#FFF; }
#content ul.ui-tabs li.ui-tabs-selected a, ul.ui-tabs li.ui-state-disabled a, ul.ui-tabs li.ui-state-processing a { cursor:default; }
#content ul.ui-tabs li a, #content .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } 
/* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
#content .ui-tabs-panel { background:none; display: block; }
#content .ui-tabs-hide { display: block !important; }

/* table formatting */
#content .main table { margin-bottom:.5em; border-collapse:collapse; }
#content .main table td, #content .main table th { padding:10px; }
#content .main table tr.charthead th { border-right:none; border-left:none; border-top:none; }
#content .main table th { height:50px; font-weight:bold; background:transparent url('../images/layout/table-header-bg.jpg')/*tpa=http://www.mutualofomaha.com/images/layout/table-header-bg.jpg*/ bottom left repeat-x; vertical-align:bottom; }
#content .main table.noborder td, #content .main table.noborder th { border:none;  }

/* definition list */
#content .main dl { margin:0 0 15px 0; }
#content .main dl dt, #content .main dl dd { padding:0 0 2px 17px; }
#content .main dl dt { font-weight:bold; background:transparent url('../images/layout/thin-arrow-bullets.gif')/*tpa=http://www.mutualofomaha.com/images/layout/thin-arrow-bullets.gif*/ no-repeat; }
#content .main dl dd { padding-bottom:15px; }

#content small { font-size:.65em; font-weight:bold; vertical-align:top; }

/* FAQs */
#content .main .question { float:left; width:320px; border-right:1px solid #CCC; }
#content .main .question h4 { padding:0; margin:0; font-size:14px; line-height:16px; font-weight:normal; }
#content .main .question h4 a { }
#content .main .question h4 a.on { color:#01213E; }
#content .main .question h4 a.on:hover { border:none; text-decoration:none; cursor:default; }
#content .main .question { padding-right:15px; }
#content .main .question p { line-height:18px; }

#content .main .answer { float:left; width:320px; margin-left:20px; }
#content .main .answer p { line-height:18px; }

#content .main .content-copy div.pull-quote { float:right; margin:10px 0 15px 35px; color:#444; font-size:22px; line-height:26px; }
#content .main .content-copy div.pull-quote p { padding:18px 20px 22px 10px; border-top:1px solid #E7E7E7; border-bottom:1px solid #E7E7E7; }
#content .main .content-copy div.five-col { width:345px; }
#content .main .content-copy div.four-col { width:220px; }
#content .main .content-copy div.three-col { width:175px; }
#content .main .content-copy.three-col div.pull-quote { float:none; margin:10px 0 25px 0; padding:3px 10px 0 35px; color:#444; font-size:22px; line-height:26px; background:transparent url("../images/layout/quote.png")/*tpa=http://www.mutualofomaha.com/images/layout/quote.png*/ no-repeat; }
#content .main .content-copy div.pull-quote span { display:block; padding-top:10px; color:#676767; text-align:right; font-size:12px; font-style:normal; }

/* Main Photos and Captions */
#content .main .content-copy .photo { float:right; margin:0 0 5px 35px; line-height:15px; }
#content .main .content-copy .photo p { padding:7px; color:#888; font-size:11px; letter-spacing:.02em; }

/* Chart Table Content ie: /life-insurance/learn/types/whole-life-insurance.php */
#content .main .content-copy table.chart { width:745px; margin-bottom:0; font-size:12px; color:#01213e; }
#content .main .content-copy table.chart tr { border-bottom:solid 1px #e7e7e7; }
#content .main .content-copy table.chart th { padding:0; text-align:center; font-weight:normal; background:none; border-right:0px solid #fff; }
#content .main .content-copy table.chart td { background-color:#eef7fe; padding:10px; border-right:1px solid #fff; }
#content .main .content-copy table.chart td.header { color:#01213e; background:none; }

#content .main span.or { display: none; }

/* subnav */
#content .subnav div.subnav-bg { overflow:hidden; background:transparent url('../images/layout/subnav-bg.png')/*tpa=http://www.mutualofomaha.com/images/layout/subnav-bg.png*/ top right repeat-y; }
#content .subnav ul { margin-left:10px; margin-right:20px; }
#content .subnav ul li { padding:8px 0 8px 10px; font-size:18px; background-color:#FFF; border-top:1px solid #EEE; }
#content .subnav ul li.first { padding-top:15px; border-top:none; }
#content .subnav ul li a { cursor:pointer; display:block; font-size:15px; color:#888; border:none; }
#content .subnav ul li a:hover { color:#01213E; text-decoration:none; }
#content .subnav ul li.on a { border:none; color:#2389dd; }
#content .subnav ul li.on a:hover { border:none; color:#01213E; text-decoration:none; }
#content .subnav ul li.on a.on { cursor:default; color:#01213E; border:none;}
#content .subnav ul li.on a.on:hover { border:none; color:#01213E; text-decoration:none; }
#content .subnav ul li ul { overflow:hidden; padding:8px 0 6px 0; background-color:#FFF; border:0px dashed #333; }
#content .subnav ul li ul li { padding:0; border:none; }
#content .subnav ul li ul li a { cursor:pointer; display:block; padding:0 0 10px 0; font-size:13px; color:#2389dd; border:none; }
#content .subnav ul li ul li a:hover { color:#01213E; text-decoration:none; }
#content .subnav ul li ul li.on a.on { display:block; cursor:default; color:#01213E; }
#content .subnav ul li ul li.on a.on:hover { color:#01213E; }
#content .subnav ul li ul li ul { padding:3px 0 5px 0; }
#content .subnav ul li ul li ul a { padding:0 0 10px 10px; font-size:12px; background:url("../images/layout/subnav-arrow-bullets.gif")/*tpa=http://www.mutualofomaha.com/images/layout/subnav-arrow-bullets.gif*/ 0 2px no-repeat; }
#content div.subnav-end { height:91px; background:url('../images/layout/subnav-bg-btm.png')/*tpa=http://www.mutualofomaha.com/images/layout/subnav-bg-btm.png*/ no-repeat; }
#content .subnav .ad .image-link { border-bottom:none; }

/* sidebar */
#content .sidebar .text-ad-1 { width:240px; margin:10px 0 0 0; padding:0; background:none; }
#content .sidebar .text-ad-1 .top { width:204px; margin:0; padding:7px 18px 4px 18px; background:transparent url('../images/sidebar/bg-sidebar-text-ad-top.png')/*tpa=http://www.mutualofomaha.com/images/sidebar/bg-sidebar-text-ad-top.png*/ top left no-repeat; border:0px dashed #333; }
#content .sidebar .text-ad-1 .btm { width:204px; margin:0; padding:0 18px 6px 18px; background:transparent url('../images/sidebar/bg-sidebar-text-ad-btm.png')/*tpa=http://www.mutualofomaha.com/images/sidebar/bg-sidebar-text-ad-btm.png*/ bottom left no-repeat; border:0px dashed #333; }
#content .sidebar .text-ad-1 h3 { margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; font-size:18px; font-weight:normal; color:#054f8c; text-align:center; line-height:22px; }
#content .sidebar .text-ad-1 h3 a, #content .sidebar .text-ad-1 h3 a:hover { color:#054f8c; text-decoration:none; border-bottom:none; }
#content .sidebar .text-ad-1 p { margin:0 0 5px 0; padding:0; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; color:#676767; text-align:center; line-height:16px; }

#content .sidebar a.ad { cursor:pointer; display:block; width:202px; margin:10px 0 0 0; padding:7px 18px 0 18px; background:url('../images/ads/bg-sidebar-ad-btm.png')/*tpa=http://www.mutualofomaha.com/images/ads/bg-sidebar-ad-btm.png*/ bottom repeat-x; border:1px solid #e7e7e7; -moz-border-radius:7px; -webkit-border-radius:7px; }
#content .sidebar a.ad:hover { text-decoration:none; background:#f3fafe; }
#content .sidebar a.ad:hover .action.btn img { background-position:0 -34px; border:0px dashed #333; }
#content .sidebar a.ad .heading { display:block; margin:0 0 4px 0; padding:0; font-family:Arial, Helvetica, sans-serif; font-size:18px; font-weight:normal; color:#054f8c; text-align:center; line-height:22px; }
#content .sidebar a.ad .body { display:block; margin:0 0 8px 0; padding:0; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; color:#676767; text-align:center; line-height:16px; }
#content .sidebar a.ad .action { display:block; margin:0; padding:0 0 11px 0; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; color:#2389dd; text-align:center; line-height:16px; background:none; }
#content .sidebar a.ad .action .label { display:none; }

#content .sidebar div.feature { width:202px; margin:10px 0 0 0; padding:7px 18px 0 18px; border:1px solid #e7e7e7; background:transparent url("../images/layout/page-title-bg.gif")/*tpa=http://www.mutualofomaha.com/images/layout/page-title-bg.gif*/ repeat-x; background-position:0px -36px; -moz-border-radius:7px; -webkit-border-radius:7px; }
#content .sidebar div.feature h3 { margin-bottom:18px; }
#content .sidebar div.feature li { padding-top:1px; line-height:16px; }

#content .sidebar div.quote { width:188px; margin:20px 0 0 0; padding:3px 15px 0 35px; color:#555; font-size:12px; line-height:18px; background:transparent url("../images/layout/quote.png")/*tpa=http://www.mutualofomaha.com/images/layout/quote.png*/ no-repeat; }
#content .sidebar div.quote span { display:block; padding-top:10px; color:#555; text-align:right; }

#content .sidebar #sales-career { margin-top:10px; }
#content .sidebar #sales-career td { margin:0; padding:0 0 5px 0; }
#content .sidebar #sales-career-zip { float:left; width:45px; padding:5px 4px; margin:2px 0 6px 0; font-size:13px; color:#777; background-color:#FFF; border-top:2px solid #dddddd; border-bottom:2px solid #dddddd; border-left:2px solid #dddddd; border-right:0px solid #dddddd; }
#content .sidebar #sales-career-zip.focus { color:#333; }

#content .sidebar .graphic-ad-1 { width:240px; height:190px; margin:10px 0 0 0; padding:0; background:transparent url('Unknown_83_filename')/*tpa=http://www.mutualofomaha.com/images/temp/ad-graphic-1.png*/ top left no-repeat; }

.content-copy .accordion a:hover { text-decoration:none; border-bottom:none; }

#content .sidebar .toggle { display:block; width:240px; margin:0; padding:5px 0 0 0; background:none; border:0px dashed #333; }
#content .sidebar .toggle li { display:block; margin:0; padding:0; background:#568cbe; }
#content .sidebar .toggle li.separate { margin-top:5px; background:none; border:0px dashed #333; }
#content .sidebar .toggle li.fly-out { display:block; width:212px; height:85px; padding:10px 14px; background:#c5e772; }
#content .sidebar .toggle li.fly-out p { margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:16px; color:#444; }
#content .sidebar .toggle li.fly-out p .phone { display:block; margin:12px 0 9px 0; padding:0; font-size:26px; font-weight:bold; }
#content .sidebar .toggle li h3 { width:176px; height:28px; margin:0; padding:12px 50px 0 14px; font-size:16px; color:#FFF; background:url('../images/sidebar/tab-accordion.png')/*tpa=http://www.mutualofomaha.com/images/sidebar/tab-accordion.png*/ top left no-repeat; border:0px dashed #333; cursor:pointer; }
#content .sidebar .toggle li h3 a { font-size:16px; color:#FFF; border:none; }
#content .sidebar .toggle li h3 a:hover { text-decoration:none; }
#content .sidebar .toggle li.primary h3 { background:url('Unknown_83_filename')/*tpa=http://www.mutualofomaha.com/images/sidebar/tab-accordion-primary.png*/ top left no-repeat; }
#content .sidebar .toggle li h3.ui-state-active { background:url('../images/sidebar/tab-accordion.png')/*tpa=http://www.mutualofomaha.com/images/sidebar/tab-accordion.png*/ top left no-repeat; }
#content .sidebar .toggle li.primary.ui-state-active h3 { background:url('../images/sidebar/tab-accordion-primary-active.png')/*tpa=http://www.mutualofomaha.com/images/sidebar/tab-accordion-primary-active.png*/ top left no-repeat; }
#content .sidebar .toggle li ul.submenu { *margin:-3px 0 3px 0; padding:0; background:#FFF; }
#content .sidebar .toggle li ul li.submenu-item { background:#fff; border-bottom:1px solid #EBEBEB; }
#content .sidebar .toggle li ul li:first-child { background:transparent url('../images/sidebar/submenu-item-top-shadow.png')/*tpa=http://www.mutualofomaha.com/images/sidebar/submenu-item-top-shadow.png*/ top left repeat-x; }
#content .sidebar .toggle li ul li:last-child { border-bottom:none; }
#content .sidebar .toggle li ul li a { display:block; background:transparent url('../images/sidebar/submenu-item-arrow.gif')/*tpa=http://www.mutualofomaha.com/images/sidebar/submenu-item-arrow.gif*/ top right no-repeat; }
#content .sidebar .toggle li ul li a:hover { display:block; background:#ED730D url('../images/sidebar/submenu-item-arrrow-sel.gif')/*tpa=http://www.mutualofomaha.com/images/sidebar/submenu-item-arrrow-sel.gif*/ 262px 13px no-repeat; color:#fff; }
#content .sidebar .toggle li ul li h3 { padding:10px 0 11px 11px; font-size:14px; font-weight:normal; }
#content .sidebar .toggle li ul li:last-child h3 { padding:10px 0 10px 11px; }

#content .sidebar .toggle li .tab-content { width:232px; margin:0; padding:0; background:#fff url('Unknown_83_filename')/*tpa=http://www.mutualofomaha.com/images/sidebar/bg-accordion-tab-content.png*/ bottom left no-repeat; border-right:4px solid #2b5985; border-bottom:4px solid #2b5985; border-left:4px solid #2b5985; }
#content .sidebar .toggle li.primary .tab-content { border-right:4px solid #356111; border-bottom:4px solid #356111; border-left:4px solid #356111; }
#content .sidebar .toggle li .tab-content p { margin:0; padding:10px 20px 12px 14px; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#676767; line-height:19px }

/*///// Sitemap /////*/
.sitemap_nav { display:none;}
.sitemap_nav li { display:block; float:left; height:15px; padding:15px 20px; margin:0; border-right:1px solid #D5D5D5;  }
.sitemap_nav li.sitemap_title { padding-left:20px; font-size:14px; line-height:18px; background-color:#D5D5D5; border:none; }
.sitemap_nav li a { color:#555; font-size:14px; line-height:18px; border:none; }
.sitemap_nav li a:hover { color:#676767; text-decoration:none; }
.sitemap_nav li a:active, .sitemap_nav li a.clicked { color:#676767; }
.sitemap_arrow { position:absolute; margin:45px 0 0 125px; z-index:20; }

#sitemap { position:relative; clear:both; overflow:hidden; height:360px; color:#CCC; line-height:16px; font-size:13px; background-color:#D5D5D5; }
#sitemap_products_links, #sitemap_tools_links, #sitemap_about_links { position:absolute; z-index:10; }
#sitemap .wrapper { clear:both; padding:17px 0 0 0; }
#sitemap .col { float:left; width:222px; padding:0 0 0 18px; }
#sitemap .col h3 { padding:0 0 10px 0; font-size:15px; font-weight:bold; color:#676767; }
#sitemap .col h4 { padding:0 0 5px 0; color:#777; font-size:14px; }
#sitemap .col li { padding:0 0 7px 0; }
#sitemap .col li a { color:#2890D8; border:none; }
#sitemap .col li a:hover { color:#0B3261; text-decoration:none; }
#sitemap .col li.quote a { color:#63b054; }
#sitemap .col li.quote a:hover { color:#477d3c; }
#sitemap .col li.space { padding-top:10px; }

/*///// Footer /////*/
#footer { width:938px; font-size:12px; color:#999; padding:10px 21px; /*background:transparent  url("/images/layout/page-btm-bg.png") top left no-repeat ;*/  }
#footer p { color:#999; }
#footer .links { display:none; } /*padding:10px 10px 0 21px;*/
#footer .links li { display:inline; padding:0 15px 0 0; }
#footer .links li a { color:#666; font-size:12px; line-height:18px; }
#footer .copyright { float:left; color:#999; text-align:right; }/*padding:10px 21px 0 0;*/

/*///// Disclaimers /////*/
#disclaimers { clear:both; width:929px; padding:10px 21px 10px 0; font-size:12px; line-height:15px; }
#disclaimers p { padding:0 0 .6em 0; color:#999; }

/*///// Custom Styles /////*/
.with_minheight { min-height:550px; height:auto !important; height:550px; }

.mask { overflow: hidden; }

/* table borders */
.table-border td, .table-border th { border:1px solid #d5d5d5; }
#content .main table td.border-top-none, #content .main table th.border-top-none { border-top:none; }
#content .main table td.border-btm-none, #content .main table th.border-btm-none { border-bottom:none; }
#content .main table td.border-right-none, #content .main table th.border-right-none { border-right:none; }
#content .main table td.border-left-none, #content .main table th.border-left-none { border-left:none; }

/* display none */
.display-none, .displayNone { display:none; }
.display-block, .displayBlock { display:block; }
.display-inline, .displayInline { display:inline; }


.clear-both, .clearBoth { clear: both; }

.float-left { float: left; }
.float-right { float: right; }

.required { }

.margin-left-10 { margin-left: 10px; }
.margin-left-20 { margin-left: 20px; }
.margin-left-30 { margin-left: 30px; }
.margin-left-40 { margin-left: 40px; }
.margin-left-50 { margin-left: 50px; }
.margin-left-220 { margin-left: 220px; }

.padding-left-220 { padding: 20px; }
.padding-left-20 { padding-left: 20px; }

input.width200 { width:100px }
input.width75 { width:75px }
input.width50 { width:50px }
input.width40 { width:40px }
input.width30 { width:30px }

.tint-5 { background:transparent url('Unknown_83_filename')/*tpa=http://www.mutualofomaha.com/images/layout/tint-5.png*/ top left repeat; }


/* jQuery.Rating Plugin CSS - http://www.fyneworks.com/jquery/star-rating/ */
div.rating-cancel,div.star-rating{float:left;width:17px;height:15px;text-indent:-999em;cursor:pointer;display:block;background:transparent;overflow:hidden}
div.rating-cancel,div.rating-cancel a { background:url("../images/icons/delete.gif")/*tpa=http://www.mutualofomaha.com/images/icons/delete.gif*/ no-repeat 0 -16px; }
div.star-rating,div.star-rating a{background:url("../images/icons/star.gif")/*tpa=http://www.mutualofomaha.com/images/icons/star.gif*/ no-repeat 0 0px}
div.rating-cancel a,div.star-rating a{display:block;width:16px;height:100%;background-position:0 0px;border:0}
div.star-rating-on a{background-position:0 -16px!important}
div.star-rating-hover a{background-position:0 -32px}
/* Read Only CSS */
div.star-rating-readonly a{cursor:default !important}
/* Partial Star CSS */
div.star-rating{background:transparent!important;overflow:hidden!important}
/* END jQuery.Rating Plugin CSS */

/*///// Presentation elements /////*/
/* Presentation */
#content .main .content-copy #presentation { width:750px; margin:0;}
#content .main .content-copy #presentation #presentation-wrapper { width:750px; margin:0;}
#content .main .content-copy #presentation #presentation-content { width:750px; margin:0;}
/* toggle */
#content .main .content-copy #presentation #presentation-content li.toggle { padding:0; margin:0; background:none; border-bottom:1px solid #e7e7e7; }
#content .main .content-copy #presentation #presentation-content li.toggle.btm { border:none; }
#content .main .content-copy #presentation #presentation-content li.toggle div {width:400px;}
#content .main .content-copy #presentation #presentation-content a.toggle-link { display:block; width:463px; height:20px; padding:5px 0; font-weight:normal; font-size:16px; color:#054F8C; background:transparent url('../images/layout/presentation/show-hide.png')/*tpa=http://www.mutualofomaha.com/images/layout/presentation/show-hide.png*/ 98% 0 no-repeat; }
#content .main .content-copy #presentation #presentation-content a.toggle-link:hover { text-decoration:none; background-position:98% -60px; }
#content .main .content-copy #presentation #presentation-content a.toggle-link.open { text-decoration:none; background-position:98% -30px; }
#content .main .content-copy #presentation #presentation-content a.toggle-link.open:hover { text-decoration:none; background-position:98% -90px; }

#content .main .content-copy #presentation ul.ui-tabs-nav { display: none;}
#content .main .content-copy #presentation ul.ui-tabs-nav li { padding:0; margin:0; line-height:normal; background:none; }
#content .main .content-copy #presentation ul.ui-tabs-nav li a { cursor:pointer; display:block; width:222px; height:26px; padding:11px 0 0 20px; overflow:hidden; font-size:13px; background-color:#F3FAFE; }
#content .main .content-copy #presentation ul.ui-tabs-nav li a:hover { text-decoration:none; }
#content .main .content-copy #presentation ul.ui-tabs-nav li.top a { width:224px; background:transparent url('../images/layout/presentation/presentation-nav-top.png')/*tpa=http://www.mutualofomaha.com/images/layout/presentation/presentation-nav-top.png*/ top left no-repeat; }
#content .main .content-copy #presentation ul.ui-tabs-nav li.top a:hover { background-position:0 -74px; }
#content .main .content-copy #presentation ul.ui-tabs-nav li.mid a { background-color:#F3FAFE; border-top:1px solid #e7e7e7; border-left:1px solid #e7e7e7; border-right:1px solid #e7e7e7; }
#content .main .content-copy #presentation ul.ui-tabs-nav li.mid a:hover { background-color:#e8f5fe; }
#content .main .content-copy #presentation ul.ui-tabs-nav li.btm a { background-color:#F3FAFE; border-top:1px solid #e7e7e7; border-bottom:1px solid #e7e7e7; border-left:1px solid #e7e7e7; border-right:1px solid #e7e7e7; }
#content .main .content-copy #presentation ul.ui-tabs-nav li.btm a:hover { background-color:#e8f5fe; }
#content .main .content-copy #presentation ul.ui-tabs-nav li.ui-tabs-selected {  }
#content .main .content-copy #presentation ul.ui-tabs-nav li.ui-tabs-selected a { cursor:default; color:#01213e; }
#content .main .content-copy #presentation ul.ui-tabs-nav li.ui-tabs-selected.top a { background-position:0 -37px; }
#content .main .content-copy #presentation ul.ui-tabs-nav li.ui-tabs-selected.mid a, #content .main .content-copy #presentation ul.ui-tabs-nav li.ui-tabs-selected.btm a { background:transparent url('../images/arrows/arrow-gray-left.gif')/*tpa=http://www.mutualofomaha.com/images/arrows/arrow-gray-left.gif*/ 7px 50% no-repeat; }
#content .main .content-copy #presentation ul.ui-tabs-nav li.ui-tabs-selected.mid a, #content .main .content-copy #presentation ul.ui-tabs-nav li.ui-tabs-selected.btm a { background-color:#FFF; border-left:1px solid #FFF; }
#content .main .content-copy #presentation ul.ui-tabs-nav li.ui-tabs-selected a, #content .main .content-copy #presentation ul.ui-tabs-nav li.ui-state-disabled a, 
#content .main .content-copy #presentation ul.ui-tabs-nav li.ui-state-processing a { cursor:default; }
#content .main .content-copy #presentation ul.ui-tabs-nav li a, #content .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } 
/* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
#content .main .content-copy #presentation .ui-tabs-panel { background:none; }
#content .main .content-copy #presentation .ui-tabs-hide { display: block !important;}
#content .main .content-copy #presentation .back-next { display: none;}
#content .main .content-copy #presentation .back-next li { display:inline; padding:5px 5px 5px 8px; margin:0; background:none; border-left:1px solid #e7e7e7; }
#content .main .content-copy #presentation .back-next li.back-frame { border:none; }
#content .main .content-copy #presentation .back-next li.disabled a { color:#999; cursor:default; }
#content .main .content-copy #presentation .back-next li.disabled a:hover { text-decoration:none; }
#content .main .content-copy #presentation div.btm { display:none;}

/*** Medsupp QUOTE ***/
#results { display:none;}
#show-all-plans { display:block; }
#title-bar div.utilities li strong { color:#444; }
#site-data-wrapper { display:none; }
#msqform { display:none; }
#content .two-col { width:800px; }



