@charset "UTF-8";

/*/////
quote.css
Mutual of Omaha Insurance Company
Corporate Site - mutualofomaha.com
/////*/

/*///// Quote elements /////*/
/* Quoter */
#content .main .content-copy .getQuote .getQuote-wrapper.last { border:none; }
#content .main .content-copy .getQuote table { margin-bottom:20px; }
#content .main .content-copy .getQuote td { width:auto; vertical-align:middle; padding:0 0 5px 15px; }
#content .main .content-copy .getQuote td.age { width:100px; border-right:1px solid #d5d5d5; }
#content .main .content-copy .getQuote td.gender { width:165px; border-right:1px solid #d5d5d5; }
#content .main .content-copy .getQuote td.plantype { width:165px; border-right:1px solid #d5d5d5; }
#content .main .content-copy .getQuote td.tobacco { width:125px; border-right:1px solid #d5d5d5; }
#content .main .content-copy .getQuote td.show-state { padding-bottom:9px; }
#content .main .content-copy .getQuote td.show-state.disabled { background:url("../images/layout/loading.gif")/*tpa=http://www.mutualofomaha.com/images/layout/loading.gif*/ 15% 45% no-repeat; }
#content .main .content-copy .getQuote td.show-state p { padding:0; margin:0; font-size:14px; }
#content .main .content-copy .getQuote td.state { width:125px; }
#content .main .content-copy .getQuote td.zip { width:50px; }
#content .main .content-copy .getQuote td.disabled { background:url("../images/layout/loading.gif")/*tpa=http://www.mutualofomaha.com/images/layout/loading.gif*/ 100% 45% no-repeat; }
#content .main .content-copy .getQuote td.error { background-color:#FCF7DF; }

/* from Life Insurance Quoter */
#tables hr { display:none; }
#tables-agency hr { display:none; }
.label-right-align { text-align:right; vertical-align:top; }
#call-to-action { border:1px solid #CACECF; padding:0px; margin:0px; }
#call-to-action h3 { background-color:#e7eef6; padding:3px; margin:0px; text-align:center; }
#call-to-action p { padding:2px; }
#err_msg, .err { width:95%; height:16px; margin:2px 0 10px 0; line-height:16px; padding:5px; font-size:11px; font-weight:bold; color:#c25237; vertical-align:middle; background:#ffeceb; border:1px solid #e43e33; display:none; }
form table tr td.invalid { background-position:center right; } 
#tables div { margin:0px; }	
#tables-agency div { margin:0px; }	
#contact { display:none; width:500px; height:40px; }
#contact input { float:left; margin-right:5px; border:0px; }
#contact p { padding:0px; line-height:40px; height:40px; font-size:12px; } 
#tables table { background:transparent url('../images/products/life/bg_results.jpg')/*tpa=http://www.mutualofomaha.com/images/products/life/bg_results.jpg*/ top left repeat-x; border-width:1px 1px 0 0; border-style:solid; border-color:#eee; width:100%; }
#tables table td { border-width:0px 0px 0px 1px; border-style:solid; border-color:#eee; }
#tables-agency table{ background:transparent url('../images/products/life/bg_results.jpg')/*tpa=http://www.mutualofomaha.com/images/products/life/bg_results.jpg*/ top left repeat-x; border-width:1px 1px 0 0; border-style:solid; border-color:#eee; width:100%; }
#tables-agency table td { border-width:0px 0px 0px 1px; border-style:solid; border-color:#eee; }
.term { color:#01213e; font-weight:normal; font-size:16px; vertical-align:middle; text-align:right; }
.term strong { font-size:22px; }
.term span { display:block; color:#999; }
.benefit { color:#01213e; font-weight:normal; font-size:24px; vertical-align:middle; text-align:right; }
.premium { color:#3C6818; font-size:26px; font-weight:bold; vertical-align:middle; text-align:right; }
.perMonth { color:#999; font-size:13px; font-weight:normal; line-height:24px; vertical-align:middle; text-align:right; }
#tables .coverage { color:#01213e; font-weight:normal; font-size:24px; vertical-align:middle; text-align:center; }
#tables .rates { color:#999; font-weight:normal; font-size:20px; vertical-align:middle; text-align:center; border-top:1px solid #e7e7e7; }
#tables .covering { color:#999; font-weight:normal; font-size:20px; vertical-align:middle; text-align:right; border-right:0px solid #e7e7e7; }
#tables .rates strong { color:#3C6818; font-weight:bold; font-size:24px; }
#tables .rates span { color:#999; font-weight:normal; font-size:16px; }

#tables-agency .coverage { color:#01213e; font-weight:normal; font-size:24px; vertical-align:middle; text-align:center; }
#tables-agency .rates { color:#999; font-weight:normal; font-size:20px; vertical-align:middle; text-align:center; border-top:1px solid #e7e7e7; }
#tables-agency .covering { color:#999; font-weight:normal; font-size:20px; vertical-align:middle; text-align:right; border-right:0px solid #e7e7e7; }
#tables-agency .rates strong { color:#3C6818; font-weight:bold; font-size:24px; }
#tables-agency .rates span { color:#999; font-weight:normal; font-size:16px; }
/* end of Life Insurance Quoter */ 
	
#content .main .content-copy .quote-results { width:745px; margin:25px 0; }
#content .main .content-copy .quote-results .top { height:96px; padding:10px 0; text-align:center; background:url("Unknown_83_filename")/*tpa=http://www.mutualofomaha.com/images/products/medsupp/quoter-top-bg.png*/ bottom left repeat-x; border:1px solid #e7e7e7; -moz-border-radius-topleft:7px; -moz-border-radius-topright:7px; -webkit-border-top-left-radius:7px; -webkit-border-top-right-radius:7px; border-top-left-radius:7px; border-top-right-radius:7px; }
#content .main .content-copy .quote-results .top h3 { padding-bottom:5px; }
#content .main .content-copy .quote-results .top strong { color:#02213e; }
#content .main .content-copy .quote-results .top p { padding-bottom:8px; font-size:12px; }
#content .main .content-copy .quote-results .top ul.select-plan { margin:auto; }
#content .main .content-copy .quote-results .top ul.select-plan li { display:block; float:left; /*width:23px;*/ height:23px; padding:0 5px; margin:0 5px; background:none; border:1px solid #c5c5c5; -moz-border-radius:7px; -webkit-border-radius:7px; border-radius:7px; } /*background:transparent url('/images/layout/quoter/btn-plans.png') top left no-repeat; */
#content .main .content-copy .quote-results .top ul.select-plan li a { display:block; /*width:22px;*/ height:19px; padding:2px 3px; color:#02213E; font-weight:bold; text-decoration:none; }
#content .main .content-copy .quote-results .top ul.select-plan li.disabled { background-color:#e7e7e7; border:1px solid #e7e7e7; }
#content .main .content-copy .quote-results .top ul.select-plan li.disabled a { color:#676767; }
	/* Slider */
	#content .main .content-copy .quote-results .slider ul, #content .main .content-copy .quote-results .slider ul li { margin:0; padding:0; list-style:none; background:none; }
	#content .main .content-copy .quote-results .mid { border-left:1px solid #e7e7e7; border-right:1px solid #e7e7e7; }
	#content .main .content-copy .quote-results .slider { position:relative; overflow:hidden; height:300px; width:743px; }
		.slider .items { width:20000em; position:absolute; clear:both; }
	#content .main .content-copy .quote-results .slider .items.one-col { width: 250px; margin-left:250px; }
	#content .main .content-copy .quote-results .slider .items.two-col { width: 500px; margin-left:125px; }
		/* active item */
	#content .main .content-copy .quote-results .slider div.item { position:relative; float:left; width:219px; height:300px; margin:0 9px; padding:0 5px; background-color:#FFF; }
	#content .main .content-copy .quote-results .slider div.active { z-index:5000; }
	#content .main .content-copy .quote-results .slider div.disabled { display:none; visibility:hidden; }
	#content .main .content-copy .quote-results .slider a.remove-plan { position:absolute; display:block; width:15px; height:15px; left:197px; top:2px; padding:5px; background:transparent url('../images/layout/quoter/btn-remove-plan.png')/*tpa=http://www.mutualofomaha.com/images/layout/quoter/btn-remove-plan.png*/ top left no-repeat; z-index:5000; clear:both; border:0px dashed #333; }
	#content .main .content-copy .quote-results .slider a.remove-plan:hover { background-position:0 -24px; }
	#content .main .content-copy .quote-results .slider a.remove-plan span { display:none; }
	#content .main .content-copy .quote-results .slider table { padding:0; margin:0; width:219px; border:0px dashed #333; }
	#content .main .content-copy .quote-results .slider tr { border:0px dashed #333; }
	#content .main .content-copy .quote-results .slider th { padding:10px 0 15px 0; text-align:center; font-size:26px; line-height:30px; font-weight:normal; color:#02213e; background:none; }
	#content .main .content-copy .quote-results .slider th span.long-heading { font-size:14px;line-height:15px;font-weight:bold; }
	#content .main .content-copy .quote-results .slider td { padding:7px 0; text-align:center; line-height:16px; font-size:12px; border-bottom:1px dotted #E7E7E7; }
	#content .main .content-copy .quote-results .slider td a.qtip strong { color:#676767; }
	#content .main .content-copy .quote-results .slider td.last { border:none; }
	#content .main .content-copy .quote-results .slider td.rate { padding-top:20px; font-size:26px; color:#999; border:none; }
	#content .main .content-copy .quote-results .slider td.rate span { font-size:20px; color:#999; }
	#content .main .content-copy .quote-results .slider td.rate strong { padding-right:3px; color:#3C6818; }
	#content .main .content-copy .quote-results .back-next { display:none; }
	#content .main .content-copy .quote-results .slider a.prev, #content .main .content-copy .quote-results .slider a.next { position:absolute; display:block; width:15px; height:326px; font-size:12px; background:transparent url('../images/buttons/btn-next-back-quoter.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-next-back-quoter.png*/ top left no-repeat; cursor:pointer; z-index:5001; }
	#content .main .content-copy .quote-results .slider a span { display:none; }
	#content .main .content-copy .quote-results .slider a.prev { left:0; background-position:-32px 0; }
	#content .main .content-copy .quote-results .slider a.prev:hover { left:0; background-position:0 0; }
	#content .main .content-copy .quote-results .slider a.prev.disabled { display:none; }
	#content .main .content-copy .quote-results .slider a.next { left:728px; background-position:-49px 0; }
	#content .main .content-copy .quote-results .slider a.next:hover { left:728px; background-position:-17px 0; }
	#content .main .content-copy .quote-results .slider a.next.disabled { display:none; }
	#content .main .content-copy .quote-results div.btm { clear:both; }
	
	
/* print email utilities */
#content .main .content-copy ul.quote-utils { float:left; padding:0; margin:0 0 12px 45px; font-size:12px; }
#content .main .content-copy ul.quote-utils li { padding:0; margin:0;list-style-image:none; }
#content .main .content-copy #print_quote { padding:7px 14px 0 25px; background:transparent url('../images/layout/site-utils.png')/*tpa=http://www.mutualofomaha.com/images/layout/site-utils.png*/ 0 0 no-repeat; }
#content .main .content-copy #email_quote { padding:2px 14px 0 25px; background:transparent url('../images/layout/site-utils.png')/*tpa=http://www.mutualofomaha.com/images/layout/site-utils.png*/ 0 -35px no-repeat; }
#content .main .content-copy ul.quote-utils li a { margin:0; line-height:20px; color:#777; border:none; }

.email-quote-util-model h4 { width:218px; height:10px; margin:5px 0 0 0; padding:0; background:transparent url('../images/layout/email-quote-util-top.gif')/*tpa=http://www.mutualofomaha.com/images/layout/email-quote-util-top.gif*/ no-repeat; }
.email-quote-util-model h5 { width:176px; height:38px; padding:0 20px 10px 20px; font-size:10px; color:#777; background-color:#FFF; border-bottom:1px solid #E7E7E7; border-left:1px solid #E7E7E7; border-right:1px solid #E7E7E7; }
.email-quote-util-model form { padding:0; margin:0; }
#emailQuote{ width:174px; padding:10px 21px 0; margin:0; background-color:#FFF; border-left:1px solid #E7E7E7; border-right:1px solid #E7E7E7; }
#emailQuote input { display:block; width:160px; padding:4px 4px; font-size:12px; margin-bottom:6px; font-size:13px; color:#777; background-color:#FFF; border:2px solid #dddddd; }
#emailQuote input.error { background-color:#FCF7DF; border-color:#EDC827; }
#emailQuote #send-email-quote { border:none; }

/* PRINT CHART */
#show-all-plans { display:none; margin-bottom:15px; }
#content .main .plans { margin:0; padding:0; width:100%; font-size:14px; border-top:0px solid #ebebeb; }
#content .main .plans-top { margin:0; padding:0; width:100%; font-size:14px; }
#content .main .plans-top th { margin:0; padding:4px 0; font-size:13px; text-align:center; vertical-align:middle; background:#FFF; }
#content .main .plans-top td { margin:0; padding:0; text-align:center; vertical-align:middle; }
#content .main .plans-top th #mostpop { margin:0 0 4px 0; padding:0; color:#888; line-height:13px; border:0px dashed #333; }
#content .main .plans-top th.left { margin:0; padding:4px 30px 4px 10px; width:19%; font-weight:bold; color:#555; text-align:left; border:none; }
#content .main .plans-bottom { margin:0; padding:0; width:100%; font-size:8px; line-height:8px; }
#content .main .plans-bottom th { margin:0; padding:0; text-align:center; vertical-align:middle; background:#FFF; }
#content .main .plans-bottom th.left { margin:0; padding:4px 30px 4px 10px; width:19%; font-weight:bold; color:#555; text-align:left; border:none; }
#content .main .plans th { margin:0; padding:10px 0; font-size:13px; text-align:center; vertical-align:middle; background:#FFF; border-left:0px solid #ebebeb; }
#content .main .plans th span { display:none; }
#content .main .plans th .plan-name { margin:0 0 2px 0; padding:0; color:#02213E; font-size:16px; border:0px dashed #333; }
#content .main .plans th .plan-rate { margin:0; padding:0; color:#3c6818; font-size:16px; font-weight:bold; border:0px dashed #333; }
#content .main .plans th.left { margin:0; padding:10px 30px 10px 10px; width:19%; font-weight:bold; color:#555; text-align:left; border-bottom:1px solid #ebebeb; }
#content .main .plans th.last_col { border-right:none; }
#content .main .plans td { margin:0; padding:0; text-align:center; vertical-align:middle; border-left:0px solid #ebebeb; }
#content .main .plans td.rate { border-right:1px solid #ebebeb; border-bottom:1px solid #ebebeb; }
#content .main .plans td.left { margin:0; padding:10px 10px 10px 10px; width:19%; line-height:16px; text-align:left; vertical-align:middle; background:#FFF; border-bottom:1px solid #ebebeb; }
#content .main .plans td.checked { background:transparent url('../images/icons/checkmark-16.png')/*tpa=http://www.mutualofomaha.com/images/icons/checkmark-16.png*/ center no-repeat; }
#content .main .plans td.last_col { border-right:1px solid #ebebeb; }
#content .main .first-row { border-top:none; }
#content .main .last-row { border-bottom:0px solid #ebebeb; }
#content .main .details { width:685px }
#show-all-plans .connect { margin-top:15px; }
#show-all-plans .connect span.intro { width:235px; font-size:13px; }
#show-all-plans .connect span.action, #show-all-plans .connect span.or { display:none; }
	
.qtip { z-index:7000; }
.qtip-wrapper .plan-add { padding:7px 10px; line-height:15px; background-color:#F3FAE1; border:1px solid #84C03E; }
.qtip-wrapper .plan-add-btm { width:83px; height:6px; margin-top:-1px; background:transparent url('../images/qtip/qtip-arrow.png')/*tpa=http://www.mutualofomaha.com/images/qtip/qtip-arrow.png*/ center -14px no-repeat; }
.qtip-wrapper .plan-remove { padding:7px 10px; line-height:15px; background-color:#FFEFEF; border:1px solid #CD6464; }
.qtip-wrapper .plan-remove-btm { width:83px; height:6px; margin-top:-1px; background:transparent url('../images/qtip/qtip-arrow.png')/*tpa=http://www.mutualofomaha.com/images/qtip/qtip-arrow.png*/ center -7px no-repeat; }
.qtip-wrapper .plan-info { padding:7px 10px; line-height:15px; background-color:#FCF7DF; border:1px solid #EDC827; }
.qtip-wrapper .plan-info-btm { width:240px; height:6px; margin-top:-1px; background:transparent url('../images/qtip/qtip-arrow.png')/*tpa=http://www.mutualofomaha.com/images/qtip/qtip-arrow.png*/ center 0 no-repeat; }
.qtip-wrapper .plan-info ul { margin:0; padding:0; }
.qtip-wrapper .plan-info ul li { padding:2px 0 3px 0; margin:0 0 8px 0; }
.qtip-wrapper .plan-info ul li.last { margin:0 0 0 0; }


/*** Quote Refactor ***/
#content .main .main-border table td, #content .main .main-border table th { 
	padding:0 !important;
	margin:0; 
}

#get-quote h2, #comparePlans h2, #enterQuote h2 { 
	margin:0;
	padding-left:12px;
	color:#206897;
	font-size:20px;
}

#get-quote h2 span, #comparePlans h2 span, #enterQuote h2 span { 
	display:block; 
	margin:5px 0; 
	color:#676767; 
	font-size:14px;
}

#get-quote p.user-info { display:block; float:left; font-size:16px; line-height:20px; }
#get-quote a.edit { float:left; margin:14px 0 0 10px; }
#get-quote a.continue-to-step-3 { float:right; margin:0 10px 20px 0; }
#get-quote .quote-head { clear:both; overflow:hidden; }
#get-quote .quote-head h1 { float:left; color:#206897; margin:0; padding:10px 0 0 12px; }

#get-quote #msqform { margin:20px 0; }

#get-quote .email { margin:3px 0 0 0; }

#content .main .content-copy table#chart .bg_lblue { cursor:pointer;  text-align: left; vertical-align:top; border-left: 1px solid #e7e7e7; font-size:12px; border-bottom: 1px solid #e7e7e7; }
#content .main .content-copy table#chart .bg_dblue { cursor:pointer;  text-align: center; vertical-align:top; border-left: 1px solid #e7e7e7; font-size:12px; border-bottom: 1px solid #e7e7e7;}
#content .main .content-copy table#chart .bg_white { background: #FFF; text-align: center; vertical-align:top; border-left: 1px solid #e7e7e7; border-bottom: 1px solid #e7e7e7; cursor:pointer; font-size:12px;}
#content .main .content-copy table#chart .bg_blue { background: #eef7fe; text-align: center; vertical-align:top; border-left: 1px solid #e7e7e7; border-bottom: 1px solid #e7e7e7; cursor:pointer; font-size:12px;}
#content .main .content-copy table#chart .bg_blue.nocheck { padding:18px 0 0 0; }

#content .main .content-copy table#chart2 .bg_white2 { background: #FFF; text-align: center;  border-left: 1px solid #e7e7e7; border-bottom: 1px solid #e7e7e7; font-size:12px;}
#content .main .content-copy table#chart2 .bg_white3 { background: #FFF; text-align: center;  border-bottom: 1px solid #e7e7e7; font-size:12px;}
#content .main .content-copy table#chart .control { background: #FFF; text-align: center; vertical-align:top; border-bottom: 1px solid #e7e7e7; cursor:pointer; font-size:12px;}

#content .main .content-copy table#chart .bg_lblue.control { cursor:pointer; border-left: 0 solid #e7e7e7; font-size:12px; border-bottom: 1px solid #e7e7e7; }
#content .main .content-copy table#chart .bg_dblue.control { cursor:pointer; border-left: 0 solid #e7e7e7; font-size:12px; border-bottom: 1px solid #e7e7e7;}
#content .main .content-copy table#chart .bg_white.control { background: #FFF; text-align: center; border-left: 0 solid #e7e7e7; border-bottom: 1px solid #e7e7e7; cursor:pointer; font-size:12px;}
#content .main .content-copy table#chart2 .bg_white2.control { background: #FFF; text-align: center;  border-left: 0 solid #e7e7e7; border-bottom: 1px solid #e7e7e7; cursor:pointer; font-size:12px;}

#content .main .content-copy table#chart .header {border-right: 1px solid #e7e7e7; font-size:12px; cursor:pointer; border-bottom: 1px solid #e7e7e7; text-align:left;  border-left: 0 solid #e7e7e7; }
#content .main .content-copy table#chart2 .header2 {border-right: 1px solid #e7e7e7; font-size:12px; cursor:pointer; border-bottom: 1px solid #e7e7e7; text-align:left;  border-left: 0 solid #e7e7e7; }
#content .main .content-copy table#chart .headerlink {margin-top:6px; color:#3a95e0; font-weight:bold;}
#content .main .content-copy table#chart .control a { display:block; width:10px; height:30px; background:transparent url('../images/layout/presentation/show-hide.png')/*tpa=http://www.mutualofomaha.com/images/layout/presentation/show-hide.png*/ 0 0 no-repeat; }
#content .main .content-copy table#chart .control a:hover { background-position:0 -60px; text-decoration:none; }
#content .main .content-copy table#chart .control a.on { margin-top:0; background-position:0 -30px; }
#content .main .content-copy table#chart .control a.on:hover { background-position:0 -90px; }

#get-quote #action_left {width:411px; margin:25px; padding:0px; min-height: 630px; }
#get-quote #action_left-top { margin:0; padding:0; }
#get-quote .header-01 {width:411px; height:38px; background:transparent url('../images/quoter/call-2-action-top.gif')/*tpa=http://www.mutualofomaha.com/images/quoter/call-2-action-top.gif*/ top left no-repeat;}
#get-quote #action_left-top span { display:none; }
#get-quote #action-left-mid{ border-left:2px solid #bebebe; border-right:2px solid #bebebe; border-bottom:2px solid #bebebe; min-height:630px;background-color:#fff; }
#get-quote #action-left-mid4{border-left:2px solid #bebebe; border-right:2px solid #bebebe; border-bottom:2px solid #bebebe; background-color:#fff;}
#get-quote .action-heading {padding:10px 0 0 20px; color:#fff; font-size:22px; margin:0;}
#get-quote .action {padding:10px;}

#content .main #get-quote table td.steps-bg { border-right:1px solid #fff; width:200px; padding:23px 0 23px 45px; color:#206897; font-size:17px; overflow:hidden; }
#content .main #get-quote table td.steps-bg.last { border-right:none; }
#content .main #get-quote table td.step-title-blue { 
	border-left:1px solid #B5D7F3; 
	border-top:1px solid #B5D7F3; 
	border-right:1px solid #FFF;
	border-bottom:1px solid #B5D7F3;
}
#content .main #get-quote table td.step-title-gray {
	border-left:1px solid #cecece; 
	border-top:1px solid #cecece; 
	border-right:1px solid #FFF;
	border-bottom:1px solid #cecece;
}
#content .main #get-quote table td.step-title-gray.nav {
	cursor: pointer;
}
#get-quote #step-one { background:#b5d7f3 url('../images/quoter/1-blue.gif')/*tpa=http://www.mutualofomaha.com/images/quoter/1-blue.gif*/ 5px 8px no-repeat; }
#get-quote #step-one.step-title-gray { background:#cecece url('../images/quoter/1-gray.gif')/*tpa=http://www.mutualofomaha.com/images/quoter/1-gray.gif*/ 5px 8px no-repeat; }
#get-quote #step-two { background:#b5d7f3 url('../images/quoter/2-blue.gif')/*tpa=http://www.mutualofomaha.com/images/quoter/2-blue.gif*/ 5px 8px no-repeat; }
#get-quote #step-two.step-title-gray { background:#cecece url('../images/quoter/2-gray.gif')/*tpa=http://www.mutualofomaha.com/images/quoter/2-gray.gif*/ 5px 8px no-repeat; }
#get-quote #step-three { background:#b5d7f3 url('../images/quoter/3-blue.gif')/*tpa=http://www.mutualofomaha.com/images/quoter/3-blue.gif*/ 5px 8px no-repeat; }
#get-quote #step-three.step-title-gray { background:#cecece url('../images/quoter/3-gray.gif')/*tpa=http://www.mutualofomaha.com/images/quoter/3-gray.gif*/ 5px 8px no-repeat; }
#get-quote .first-step { border-left:2px solid #ebebeb; }
#get-quote .step-arrow-selected { text-align:center; background-color:#fff; vertical-align:top; background:transparent url('../images/quoter/blue-arrow.gif')/*tpa=http://www.mutualofomaha.com/images/quoter/blue-arrow.gif*/ center top no-repeat;}
#get-quote .step-arrow-none { }
#get-quote .step1, #get-quote .step2, #get-quote .step3 {
	overflow: hidden;
	width: 744px;
	border-left:1px solid #CECECE; 
	border-right:1px solid #CECECE; 
	border-bottom:1px solid #CECECE;
}
#get-quote .step1 { }
#get-quote .step2 { }
#get-quote .step3 { background:transparent url('../images/quoter/senior-couple.jpg')/*tpa=http://www.mutualofomaha.com/images/quoter/senior-couple.jpg*/ bottom left no-repeat;}
#get-quote .step3b { padding-top:10px;}
#get-quote .step4 { }

#get-quote .step3 { 
	padding-bottom: 30px;
}

.info-box { 
	background:transparent url('../images/icons/icon-question.png')/*tpa=http://www.mutualofomaha.com/images/icons/icon-question.png*/ top left no-repeat;
	display: block; 
	float: left;
	width: 16px;
	height: 16px; 
	margin: 10px 0 0 5px;
	cursor: pointer;
}

.info-box span { 
	display: none;
}

.tooltip {
	font-size: 12px;
	line-height: 14px;
	text-align: left !important; 
	padding: 8px !important; 
}

/* modal */
.jqmWindow5 { position:fixed; top:30%; left:55%; padding:10px; background-color:#fff; z-index:5000; display:none; }
#enterQuote { width:810px; margin-left:-435px; }
#enterQuote h2 { margin:15px; 0 0 0; padding:0; }
#enterQuote #msqform_m { margin:0; padding:0; }
#enterQuote #info_list { margin:0 0 10px 0; padding:6px 0; width:100%; font-size:12px; border-bottom:1px solid #ebebeb; border-top:1px solid #ebebeb; }
#enterQuote #info_list ul { margin:0; padding:0; font-size:11px; text-align:left; overflow:hidden; }
#enterQuote #info_list ul li { margin:0; padding:10px 12px 5px 12px !important; display:block; float:left; clear:none; text-align:left; background:none !important; border-right:1px solid #ebebeb; }
#enterQuote #info_list ul li span.label { margin:0 4px 0 0; padding:0; font-size:12px;}
#enterQuote #info_list ul li.first { padding-left:0; margin:0px; }
#enterQuote #info_list ul li.last { padding:2px 0 0 10px; border-right:none; }
#submit_msqform_m { float:right; }
#content .main .content-copy #enterQuote .getQuote table { margin:0; padding:0; }
#enterQuote .cancel-modal { font-size:13px; margin:10px 5px 0 0; }

#comparePlans { width:610px; margin-left:-335px; }
#comparePlans .compare {display: block; width:150px; height:120px; background-color:#fff;text-align:center; vertical-align:middle; border:1px solid #cecece; }
#comparePlans a.compare {display: block; width:150px; height:120px; float:left;}
#comparePlans a.compare:hover { width:150px; height:120px; border:1px solid #125e90; text-decoration:none; }
#comparePlans a.compare.selected { background:transparent url('../images/quoter/blue-bkgd.jpg')/*tpa=http://www.mutualofomaha.com/images/quoter/blue-bkgd.jpg*/ top left no-repeat; width:150px; height:120px; border:1px solid #125e90; text-decoration:none; }
#comparePlans a.compare.disabled { cursor:default; border:1px solid #cecece; filter: alpha(opacity=60); opacity: .6; }
#comparePlans a.compare.disabled:hover { cursor:default; border:1px solid #cecece; }
#comparePlans a.compare-plans { float:right; margin:45px 20px 45px 25px; }
#comparePlans a.compare-plans.disabled { background-position:0 0; cursor:default; filter: alpha(opacity=60); opacity: 0.6; }
#comparePlans a.compare-plans.disabled:hover { background-position:0 0; }

#get-quote .center-plan, #comparePlans .center-plan {text-align:center; width:120px;}
#get-quote .plan-label, #comparePlans .plan-label { font-size:20px; line-height:20px; color:#125E90; vertical-align:middle; padding-bottom:5px; }
#get-quote .plan-label span, #comparePlans .plan-label span { font-size:18px; }
#get-quote .plan-rate, #comparePlans .plan-rate {font-size:24px; display:block; color: #3C6818;}
#get-quote .plan-per-month, #comparePlans .plan-per-month {color:#888888; font-size:14px; padding-left:10px;}
#get-quote .plan-letter, #comparePlans .plan-letter {vertical-align:bottom;}
#get-quote .plan-checkbox, #comparePlans .plan-checkbox { display:block; margin:10px 0 0 0; }
#get-quote .disabled .plan-checkbox, #comparePlans .disabled .plan-checkbox { color:#aaa; }

/* contact form */
#get-quote #action-left-mid #Comments { width:200px; }
#get-quote a.send-me-a-booklet { float:left; margin:0 10px 0 0; }
#get-quote #contactForm td { padding:2px 5px; }

#company-alt{
	padding:0px 25px 20px 25px; margin-bottom:10px; border-bottom:1px solid #cecece;background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f5f5f5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f5f5f5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f5f5f5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
}

#call-to-action-alt .action{padding:0;}

div.attention-container {
	padding: 15px;
	text-align: center;
}

div.attention-container,
#call-to-action-alt a.connect.round{
	background: #d4ed96; /* Old browsers */
	background: -moz-linear-gradient(top,  #d4ed96 0%, #c5e773 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d4ed96), color-stop(100%,#c5e773)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #d4ed96 0%,#c5e773 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #d4ed96 0%,#c5e773 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #d4ed96 0%,#c5e773 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #d4ed96 0%,#c5e773 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4ed96', endColorstr='#c5e773',GradientType=0 ); /* IE6-9 */
}
#content .main .content-copy .quote-results .mid{
	border:none;
}