 /*
________________________________________________________________________________

This file loads after main.css and extends the rules in that file.
Styles in this file are intended to operate from 768px up;
________________________________________________________________________________

-- BASE --
-- 1.1 fonts --
-- 1.2 Structure --
-- 1.3 Text --

-- PRESENTATION --
-- 2.1 Header --
-- 2.2 Footer --
-- 2.3 Navigation --
-- 2.4 Content --
-- 2.5 Print --
-- */


/* 1.1 =Fonts
------------------------------------------------------------------------------*/

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular-webfont.eot')/*tpa=http://www.uhsinc.com/fonts/OpenSans-Regular-webfont.eot*/;
  src: url('../fonts/opensans-regular-webfont-1.eot-#iefix')/*tpa=http://www.uhsinc.com/fonts/OpenSans-Regular-webfont.eot?#iefix*/ format('embedded-opentype'),
       url('../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular')/*tpa=http://www.uhsinc.com/fonts/OpenSans-Regular-webfont.svg#OpenSansRegular*/ format('svg'),
       url('Unknown_83_filename')/*tpa=http://www.uhsinc.com/fonts/OpenSans-Regular-webfont.woff*/ format('woff'),
       url('../fonts/OpenSans-Regular-webfont.ttf')/*tpa=http://www.uhsinc.com/fonts/OpenSans-Regular-webfont.ttf*/ format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Italic-webfont.eot')/*tpa=http://www.uhsinc.com/fonts/OpenSans-Italic-webfont.eot*/;
  src: url('../fonts/opensans-italic-webfont-1.eot-#iefix')/*tpa=http://www.uhsinc.com/fonts/OpenSans-Italic-webfont.eot?#iefix*/ format('embedded-opentype'),
       url('../fonts/OpenSans-Italic-webfont.svg#OpenSansItalic')/*tpa=http://www.uhsinc.com/fonts/OpenSans-Italic-webfont.svg#OpenSansItalic*/ format('svg'),
       url('Unknown_83_filename')/*tpa=http://www.uhsinc.com/fonts/OpenSans-Italic-webfont.woff*/ format('woff'),
       url('../fonts/OpenSans-Italic-webfont.ttf')/*tpa=http://www.uhsinc.com/fonts/OpenSans-Italic-webfont.ttf*/ format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Semibold-webfont.eot')/*tpa=http://www.uhsinc.com/fonts/OpenSans-Semibold-webfont.eot*/;
  src: url('../fonts/opensans-semibold-webfont-1.eot-#iefix')/*tpa=http://www.uhsinc.com/fonts/OpenSans-Semibold-webfont.eot?#iefix*/ format('embedded-opentype'),
       url('../fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold')/*tpa=http://www.uhsinc.com/fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold*/ format('svg'),
       url('Unknown_83_filename')/*tpa=http://www.uhsinc.com/fonts/OpenSans-Semibold-webfont.woff*/ format('woff'),
       url('../fonts/OpenSans-Semibold-webfont.ttf')/*tpa=http://www.uhsinc.com/fonts/OpenSans-Semibold-webfont.ttf*/ format('truetype');
  font-weight: 500;
  font-style: normal;

}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Bold-webfont.eot')/*tpa=http://www.uhsinc.com/fonts/OpenSans-Bold-webfont.eot*/;
  src: url('../fonts/opensans-bold-webfont-1.eot-#iefix')/*tpa=http://www.uhsinc.com/fonts/OpenSans-Bold-webfont.eot?#iefix*/ format('embedded-opentype'),
       url('../fonts/OpenSans-Bold-webfont.svg#OpenSansBold')/*tpa=http://www.uhsinc.com/fonts/OpenSans-Bold-webfont.svg#OpenSansBold*/ format('svg'),
       url('Unknown_83_filename')/*tpa=http://www.uhsinc.com/fonts/OpenSans-Bold-webfont.woff*/ format('woff'),
       url('../fonts/OpenSans-Bold-webfont.ttf')/*tpa=http://www.uhsinc.com/fonts/OpenSans-Bold-webfont.ttf*/ format('truetype');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'Muli';
  src: url('../fonts/Muli-Regular-webfont.eot')/*tpa=http://www.uhsinc.com/fonts/Muli-Regular-webfont.eot*/;
  src: url('../fonts/muli-regular-webfont-1.eot-#iefix')/*tpa=http://www.uhsinc.com/fonts/Muli-Regular-webfont.eot?#iefix*/ format('embedded-opentype'),
  		 url('../fonts/Muli-Regular-webfont.svg#MuliRegular')/*tpa=http://www.uhsinc.com/fonts/Muli-Regular-webfont.svg#MuliRegular*/ format('svg'),
       url('Unknown_83_filename')/*tpa=http://www.uhsinc.com/fonts/Muli-Regular-webfont.woff*/ format('woff'),
       url('../fonts/Muli-Regular-webfont.ttf')/*tpa=http://www.uhsinc.com/fonts/Muli-Regular-webfont.ttf*/ format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muli';
  src: url('../fonts/Muli-Light-webfont.eot')/*tpa=http://www.uhsinc.com/fonts/Muli-Light-webfont.eot*/;
  src: url('../fonts/muli-light-webfont-1.eot-#iefix')/*tpa=http://www.uhsinc.com/fonts/Muli-Light-webfont.eot?#iefix*/ format('embedded-opentype'),
  		 url('../fonts/Muli-Light-webfont.svg#MuliLight')/*tpa=http://www.uhsinc.com/fonts/Muli-Light-webfont.svg#MuliLight*/ format('svg'),
       url('Unknown_83_filename')/*tpa=http://www.uhsinc.com/fonts/Muli-Light-webfont.woff*/ format('woff'),
       url('../fonts/Muli-Light-webfont.ttf')/*tpa=http://www.uhsinc.com/fonts/Muli-Light-webfont.ttf*/ format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* 1.2 =Structure
------------------------------------------------------------------------------*/
html               { font-family: 'tablet'; }

#page-content      { margin: 0 auto; padding: 0 30px; max-width: 1050px; min-height: 300px; }
#left-column       { float: left; margin: 80px 0 0 -100%; width: 225px; /* width: 21%; */ }
#main-column-wrap  { float: left; width: 100%; }
#main-column       { margin: 26px 0 0 225px; padding: 0 0 0 4.7%; }
#full-column       { margin: 16px 0 0; width: 100%; }

.body-text-left-col  { float: left; width: 49%; }
.body-text-right-col { float: right; width: 49%; }


/* 1.3 =Text
------------------------------------------------------------------------------*/
body            { font-size: 14px; }
h1              { font-size: 38px; line-height: 38px; }
img.photo-left.photo-left  { float: left; margin: 0 15px 0 0; }
img.photo-right.photo-right { float: right; margin: 0 0 0 15px; } /* duplicate selector increases specificty without resorting to !important */

.body-text img,
#left-column img
{
	display: inline;
	margin: auto;
	max-width: 100%;
	height: auto;
}

/* 2.1 =Header
------------------------------------------------------------------------------*/
header { position: relative; z-index: 10; margin: 0; padding: 0; border: 0; background: #fff; background: rgba(255,255,255,.7); }
#header-top
{
	position: relative;
	margin: 0 auto;
	padding: 25px 30px 25px;
	max-width: 1050px;
}

.main-logo
{
	display: block;
	overflow: hidden;
	margin: 0;
	width: 393px;
	height: 39px;
	text-indent: -999px;
	background: url(../images/main-logo-tablet.png)/*tpa=http://www.uhsinc.com/images/main-logo-tablet.png*/ no-repeat;
	background-size: auto;
	-webkit-background-size: auto;
}


.btn-mobile-menu
{
	top:27px;
	right:60px;
}
.btn-mobile-search
{
	top:27px;
	right:20px;
}


/* 2.2 =Footer
------------------------------------------------------------------------------*/

footer
{
	clear: both;
	margin: 40px 0 0;
	padding: 40px 0 0;
	border-top: 1px solid #eaeaea;
	text-align: left;
	-moz-border-image:url("../images/bkg-border.png")/*tpa=http://www.uhsinc.com/images/bkg-border.png*/ 1 1 stretch;
	-webkit-border-image:url("../images/bkg-border.png")/*tpa=http://www.uhsinc.com/images/bkg-border.png*/ 1 1 stretch;
	border-image:url('../images/bkg-border.png')/*tpa=http://www.uhsinc.com/images/bkg-border.png*/ 1 1 stretch;
}

footer h3
{
	margin: 0 0 10px;
	font-family: Muli, Arial, Sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #222;
	border-bottom: 1px solid #e6e6e6;
}

#footer-top-row
{
	margin: 0 auto;
	padding: 0 20px;
	max-width: 1030px;
	border: 0;
}

.footer-contact              { float: left; display: inline; }
.footer-top-right            { float: right; width: 70%; text-align: right; }

.footer-map
{
	display: inline-block;
	margin: 0 10% 0 0;
	padding: 0 0 0 60px;
	width: auto;
	text-align: left;
	background: url('../images/icons.png')/*tpa=http://www.uhsinc.com/images/icons.png*/  0 0 no-repeat;
}
.footer-map .btn-view-map    { font-size: 11px; text-transform: uppercase; }

/*.footer-employee-self-service
{
	display: inline-block;
	margin: 0 10% 0 0;
	padding: 10px 0 0 60px;
	width: auto;
	text-align: left;
	background: url('../images/icons.png')  0 -565px no-repeat;
}
.footer-employee-self-service .btn-view-map    { font-size: 11px; text-transform: uppercase; }*/
.footer-stock
{
	display: inline-block;
	padding: 0 0 0 35px;
	width: auto;
	text-align: left;
	background: url('../images/icons.png')/*tpa=http://www.uhsinc.com/images/icons.png*/  0 -118px no-repeat;
}

.footer-stock .stock-price   { font-weight: 500; }

#footer-bottom-row
{
	position: relative;
	padding: 15px 20px 40px;
	max-width: 1030px;
	text-align: left;
}

#footer-bottom-row .footer-social-links
{
	position: absolute;
	right: 20px;
	top: 0;
}

#footer-bottom-row .footer-copyright      { margin: 4px 0 0; }
#footer-bottom-row .footer-copyright span { display: inline; }

.footer-disclaimer { display: block; margin: 20px 0 0; padding: 20px 0 0; border-top: 1px solid #ccc; }


/* 2.3 =Navigation
------------------------------------------------------------------------------*/
#main-nav > li a
{
	padding: 14px 9px;
}

.explore-more { display: none; }
.sub-nav
{
	display: block!important;
	margin: 0;
	padding: 0;
	height: auto!important;
	list-style-type: none;
	background: none;
	border-bottom: 1px solid #e6e6e6;
}
.sub-nav li a
{
	display: block;
	padding: 15px 15px 13px 15px;
	font-size: 15px;
	line-height: 20px;
	color: #000;
	border-top: 1px solid #e6e6e6;
}

.sub-nav li:last-child a { padding: 15px 15px 13px 15px;  }

.sub-nav li.current a,
.sub-nav li a:hover,
#main-nav .flyout-wrapper li.current a,
#main-nav .flyout-wrapper li a:hover
{
	background: url(../images/bkg-subnav-hover.png)/*tpa=http://www.uhsinc.com/images/bkg-subnav-hover.png*/;
}

/* 2.4 =Content
------------------------------------------------------------------------------*/

    /* =homepage */

body.home #page-content,
body.home #footer-top-row,
body.home #footer-bottom-row
{
	max-width: 1200px;
}

body.home .main-logo
{
}

body.home #page-content { max-width:1240px; padding: 0;}


body.home h1
{
	margin: 0 0 10px;
	padding: 0 0 15px;
	font-size: 26px;
	font-weight: 400;
	line-height: 26px;
	border-bottom: 1px solid #e6e6e6;
}

#home-banners-container
{
	display: block;
	z-index: 1;
	position: relative;
	/*margin: -140px auto 0;*/
	margin: 0;
	width: 100%;
	max-width: 100%;
}
.home-banners
{
	overflow: hidden;
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
	list-style: none;
 }

.home-banners > div
{
	-webkit-backface-visibility: hidden;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
}

.home-banners > div:first-child
{
	position: relative;
	display: block;
	float: left;
}

.home-banners img
{
	display: block;
	height: auto;
	float: left;
	width: 100%;
	border: 0;
}


.home-banners_nav
{
	overflow: hidden;
	position: absolute;
	top: 33%;
	left: 10%;
	z-index: 3;
	width: 20px;
	height: 34px;
	text-indent: -9999px;
	text-decoration: none;
	background: url("../images/sprite-home-banners-nav.png")/*tpa=http://www.uhsinc.com/images/sprite-home-banners-nav.png*/ no-repeat;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.home-banners_nav.next
{
	left: auto;
	right: 10%;
	background-position: right top;
}

.home-banner-text
{
 	float: left;
  z-index: 5;
  padding: 1% 5% 1% 2%;
 	width: 100%;
  font-family: Muli, Arial, Sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.home-banners .btn-learn-more
{
	display: block;
	margin: 10px 0 0;
	font-family: Open Sans, Arial, sans-serif;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	color: #005480;
}

.home-news-column   { padding: 0; margin: 30px 20px 0; }


.left-column-home
{
	display: table-cell;
	vertical-align: top;
}

.home-news-column .btn-view-all
{
	display: inline;
	float: right;
	margin: -47px 0 0;
	padding: 3px 6px;
	font-size: 11px;
	line-height: 11px;
	text-transform: uppercase;
	color: #fff;
	background: #005480;
}

.btn-view-all:hover { color: #fff; }


.news-items .btn-read-more
{
	margin-top: 0;
}

.home-spotlight-column       { margin: 30px 0 0;}
.home-spotlight-container    { margin: 0 30px; padding: 0; list-style-type: none; }
.home-spotlight-container li { display: inline-block; margin: 0 1.5%;}
.home-spotlight-column img   { max-width: 100%; height: auto;}


    /* =careers */

.career-blocks-container
{
	margin: 25px 0 0 -1.9%;
}

.career-block
{
	position: relative;
	float: left;
	margin: 0 0 1.9% 1.9%;
	width: 30%;
	min-width: 220px;
	font-size: 15px;
	line-height: 22px;
}

.career-block .career-image { display: block; max-width: 100%; height: auto; }
.career-block .career-text
{
	display: inline;
	position: absolute;
	top: 0;
	padding: 10px 15px;
	height: 70%;
	background: #e5e8e9;
	background: rgba(238, 238,238,.85);
	opacity: 0;
	filter: alpha(opacity = 0);
	transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
}

.career-block .career-text a
{
	display: block;
	margin: 10px 0 0;
	font-size: 13px;
	text-transform: uppercase;
}

.career-block:hover .career-text { opacity: 1; filter: alpha(opacity = 100)}

.career-block h2
{
	position: absolute;
	bottom: 0;
	margin: 0;
	padding: 9px 17px;
	width: 100%;
	font-family: Muli, Arial, Sans-serif;
	font-size: 17px;
	font-weight: 500;
	text-transform: uppercase;
	color: #fff;
	background: #216990;
	background: rgba(33,103,141,.85);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

    /* =Timeline */

body.timeline header        { position: fixed; top: 0; width: 100%; background: #fff; }
body.timeline #page-content { padding-top: 137px; }
body.timeline #full-column  { position: relative; }

#timeline-nav        { display: block; position: fixed; float: left; width: 15%; }

#timeline-nav h3
{
	display: inline-block;
	margin: 0 0 20px;
	padding: 0 0 10px;
	font-family: Muli, Arial, Sans-serif;
	font-size: 18px;
	background: url(../images/bkg-timeline-year.png)/*tpa=http://www.uhsinc.com/images/bkg-timeline-year.png*/ left bottom repeat-x;
}
#timeline-nav ul
{
	display: table;
	margin: 0;
	padding: 0;
	width: 115px;
	list-style-type: none;
	background: url("../images/bkg-timeline-nav.png")/*tpa=http://www.uhsinc.com/images/bkg-timeline-nav.png*/ 88px 0 repeat-y;
}

#timeline-nav li
{
	display: table-row;
	padding: 5px 0 0 10px;
	font-family: Muli, sans-serif;
	line-height: 15px;
	text-decoration: none;
	vertical-align: middle;
	background: url("../images/bkg-timeline-nav-year.png")/*tpa=http://www.uhsinc.com/images/bkg-timeline-nav-year.png*/ 83px 50% no-repeat;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	transition: color .2s;
	-moz-transition: color .2s;
	-webkit-transition: color .2s;
}

#timeline-nav span
{
	display: table-cell;
	padding: 0 50px 0 0;
	vertical-align: middle;
	text-align: center;
	/* text-indent: -100px; */
	color: #fff;
	cursor: pointer;
	background-position: -100px 50%;
}


#timeline-nav .kwicks-expanded
{
	background: url("../images/bkg-timeline-nav-year-active-circle.png")/*tpa=http://www.uhsinc.com/images/bkg-timeline-nav-year-active-circle.png*/ 82px 50% no-repeat;
}


#timeline-nav .kwicks-expanded
{

}

#timeline-nav .kwicks-expanded span
{
	text-indent: 0;
	color: #fff!important;
	background: url("../images/bkg-timeline-nav-year-active.png")/*tpa=http://www.uhsinc.com/images/bkg-timeline-nav-year-active.png*/ 0 50% no-repeat;
	transition: background .2s ease-in-out,text-indent .3s ease-out;
	-moz-transition: background .2s ease-in-out,text-indent .3s ease-out;
	-webkit-transition: background .2s ease-in-out,text-indent .3s ease-out;
}

#timeline-content    { float: right; width: 76%; }


    /* =contact */

.contact-form-container .form-row
{
	float: left;
	margin: 0 0 10px;
	width: 100%;
}

#contour .contourField { margin: 0 0 10px; }

.contact-form-container label,
#contour label.fieldLabel
{
	float: left;
	clear: left;

	width: 20%;
}

.contact-form-container input[type="text"],
.contact-form-container textarea,
.contact-form-container select,
#contour input.text,
#contour textarea,
#contour select,
#contour span.checkboxlist,
#contour span.radiobuttonlist
{
	float: left;
	margin: 0;
	width: 50%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.contact-form-container .invalid,
#contour span.contourError
{
	float: left;
	clear: left;
	margin: 0 0 0 20%;
}

.contact-form-container .btn-red
{
	float: left;
	padding: 8px 20px 10px;
	margin: 20px 0;
}


    /* =Search results */

.search-again-label               { display: inline; }
.search-again-form                { padding: 25px 30px; }
.search-again-input               { margin: 0 20px; }
.search-again-form .search-button { padding: 2px 15px;}
.search-results-item              { padding: 0 25px;}


    /* =facilities list / facilities map */

#full-column.facilities-list,
#full-column.facilities-map
{
	margin: 26px 0 0;
}


    /* =maps */

#maps-container { display: block; float: left; margin: 0 0 30px; width: 100%;}
#map
{
	float: left;
	width: 100%;
	height: 440px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.right-maps
{
	position: relative;
	float: right;
	width: 66.4%;
	border-top: 1px solid #bbc4c9;
	border-left: 1px solid #bbc4c9;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#alaska-map
{
	float: left;
	width: 50%;
	height: 120px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#pr-map
{
	float: left;
	width: 50%;
	height: 120px;
	border-left: 1px solid #bbc4c9;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#maps-container { position: relative; border: 1px solid #bbc4c9; }

#maps-legend
{
	float: left;
	width: 33.6%;
	height: 120px;
	font-family: Arial, sans-serif;
	font-size: 11px;
	line-height: 11px;
	font-weight: 600;
	color: #222;
	background: #fff;
	border-top: 1px solid #bbc4c9;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#maps-legend ul   { margin: 25px; padding: 0; list-style-type: none; }
#maps-legend li   { margin: 10px 0; padding: 0 0 0 20px; }
#maps-legend li.a { background: url(../images/map-marker-yellow.png)/*tpa=http://www.uhsinc.com/images/map-marker-yellow.png*/ no-repeat; }
#maps-legend li.b { background: url(../images/map-marker-green.png)/*tpa=http://www.uhsinc.com/images/map-marker-green.png*/ no-repeat; }
#maps-legend li.c { background: url(../images/map-marker-blue.png)/*tpa=http://www.uhsinc.com/images/map-marker-blue.png*/ no-repeat; }
#maps-legend li.d { background: url(../images/map-marker-red.png)/*tpa=http://www.uhsinc.com/images/map-marker-red.png*/ no-repeat; }

#maps-container .marker-image
{
	position:absolute;
	width: 12px;
	height: 12px;
	margin: -6px 0 0 -6px;
}
.marker-tooltip { background: #fff;}
.marker-tooltip .marker-popup
{
	left: 0;
	border-color: #910028;
	font-size: 13px;
	line-height: 18px;
	z-index: 99999;
}

.marker-tooltip .marker-popup:before
{
	border-top-color: #910028;
}

.marker-tooltip .marker-popup .thumb     { margin: 0 20px 0 0; max-width: 150px; }
.marker-tooltip .marker-popup h2         { margin: 0 0 15px; font-size: 13px; line-height: 13px; color: #900028; font-weight: 500; }
.marker-tooltip .marker-popup .address1  { display: block;  }
.marker-tooltip .marker-popup .address2  { display: block;  }
.marker-tooltip .marker-popup .phone     { display: block;  }
.marker-tooltip .marker-popup .url       { display: block; margin: 15px 0 0; font-size: 11px; text-transform: uppercase; }

#location-filter-form-container
{
	clear: both;
	margin: 0 0 20px;
	background: #f6f6f6;
	border-bottom: 1px solid #ccc;
}


#location-filter-form-container h1
{
	margin: 0;
	padding: 20px 20px 20px 30px;
	font-size: 28px;
	color: #fff;
	background: #005480;
}

#location-filter-form-container .location-filter-form-row
{
	display: block;
	padding: 10px 30px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

#location-filter-form-container .message-row    { padding-top: 10px; }
#location-filter-form-container .zip-row        { padding-top: 0; }
#location-filter-form-container .zip-row input  { float: none; margin: 0; padding: 3px; font-size: 11px; }
#location-filter-form-container .zip-row select { float: none; margin:0; padding: 3px; font-size: 11px; }
#location-filter-form-container .zip-row label  { float: none; margin: 0 20px; }

#location-filter-form-container .checkbox-row span  { display: inline-block; margin: 0;}
#location-filter-form-container .checkbox-row input { margin: 0 10px 0 0;}
#location-filter-form-container .checkbox-row label { margin: 0 15px 0 0 }

#location-filter-form-container .button-row { padding-bottom: 30px; }

#location-filter-form-container .msg-positive { float: left;}
#location-filter-form-container .btn-search-locations-again
{
	float: right;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	color: #005480;
	cursor: pointer;
}

#location-filter-form-container .btn-search-locations-again:after          { content: ' +' }
#location-filter-form-container .btn-search-locations-again.expanded:after { content: ' -' }

.location-item-row
{
	clear: both;
	display: block;
	padding: 20px 30px;
	border-top: 1px solid #ccc;
}

.location-item-row .location-item-column
{
	float: left;
	width: 25%;
	margin: 0 20px 0 0;
}

.location-item-row .location-item-column.last{ margin: 0; width: 24%; }

.location-item-row .facility-name a
{
	font-weight: 500;
}

.location-item-address-container
{
	float: left;
	padding: 0 10px 0 0;
	width: 40%;
}

.location-item-address-container .location-item-column
{
	width: 100%;
}
.location-item-row .location-item-column.location-item-street-address
{
	clear: left;
	width: 100%;
}

.location-item-row .facility-phone         { display: block; margin: 0;}


    /* =Board of Directors */

.body-text-column
{
	float: left;
	padding: 0 0 0 2%;
	width: 50%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.body-text-column:first-child
{
	padding: 0 2% 0 0;
}

.director-item strong  { font-weight: 500; }


.body-text-col-wrapper { overflow: hidden; }
.body-text-left-col    { float: left; width: 49%; }
.body-text-right-col   { float: right; width: 49%; }