 /*
________________________________________________________________________________

This file loads after main.css and medium.css and extends the rules in those files.
Styles in this file are intended to operate from 980px up;
________________________________________________________________________________

-- BASE --
-- 1.1 Structure --
-- 1.2 Text --

-- PRESENTATION --
-- 2.1 Header --
-- 2.2 Footer --
-- 2.3 Navigation --
-- 2.4 Content --
-- 2.5 Print --
-- */


/* 1.2 =Structure
------------------------------------------------------------------------------*/
html  { font-family: 'desktop'; }
body  { min-width: 968px;}

/* 2.1 =Header
------------------------------------------------------------------------------*/

.main-logo 
{ 
  display: block;
  overflow: hidden;
  width: 626px; 
  height: 47px; 
  text-indent: -999px;
  background: url(../images/main-logo.png)/*tpa=http://www.uhsinc.com/images/main-logo.png*/ no-repeat;
}


/* The following has been moved up from medium to allow mobile nav on tablets for a longer menu */
.btn-mobile-menu,
.btn-mobile-search,
.mobile-bottom-footer { display: none; }

.site-search
{
	display: block!important;
	position: absolute!important;
	right: 0;
	top: 50%;
	margin: -12.5px 30px 0 0;
	height: auto!important;
}

.site-search .input-search
{
	float: left;
	margin: 0 2px 0 0;
	padding: 3px 0 3px 5px;
	width: auto;
	height: 25px;
	font-size: 14px;
	line-height: 14px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.site-search a
{
	float: left;
	margin: 0;
	width: 30px;
	height: 25px;
	text-indent: -9999px;
	background: #444 url('../images/icons.png')/*tpa=http://www.uhsinc.com/images/icons.png*/ 6px -408px no-repeat;
	background-size: auto;
	-webkit-background-size: auto;
}

/* 2.3 =Navigation
------------------------------------------------------------------------------*/

nav            
{ 
	display: block;
	margin: 0;
	font-family: Open Sans, Arial, sans-serif; 
	font-size: 13px;
	line-height: 13px;
	text-align: center; 
	text-transform: uppercase;
	background: #982645;
 	background: rgba(134,0,37,.85);
}
#main-nav                   { display: block!important; overflow: visible!important; margin: 0 auto; padding: 0; height: auto!important; max-width: 1200px; }
#main-nav .first            { margin: 0;}
#main-nav > li:first-child  { margin-left: 0;}
#main-nav > li:last-child   { margin-right: 0;}
#main-nav > li              { display: inline-block; margin: 0; }
#main-nav > li a            
{ 
	display: block;
	padding: 14px 14px; 
	color: #fff; 
	background: none; 
	border: none; 
}
#main-nav > li.current > a,
#main-nav > li:hover > a     { background: #7e172e; }

#main-nav > li:hover .flyout-wrapper 
{ 
	visibility: visible; 
	opacity: 1;
	-webkit-transition-delay: 0s, 0s;
	-moz-transition-delay: 0s, 0s;
	transition-delay: 0s, 0s;
}

    /* Main nav flyouts */

#main-nav .flyout-wrapper
{
	display: block;
	visibility: hidden;
	position: absolute;
	padding: 10px 0;
	text-align: left;
	text-transform: none;
	background:#f9f9f9;
	background:rgba(249,249,249,.9) url(../images/bkg-flyout.png)/*tpa=http://www.uhsinc.com/images/bkg-flyout.png*/ 25px -1px no-repeat;
	opacity: 0;
	-webkit-transition-property: opacity, visibility;
	-moz-transition-property: opacity, visibility;
	transition-property: opacity, visibility;

	-webkit-transition-duration: .2s, 0s;
	-moz-transition-duration: .2s, 0s;
	transition-duration: .2s, 0s;

	-webkit-transition-delay: 0s, .2s;
	-moz-transition-delay: 0s, .2s;
	transition-delay: 0s, .2s;
}

#main-nav .flyout-wrapper ul { margin: 0; padding: 0; }
#main-nav .flyout-wrapper li { display: block; margin: 5px 0; }
#main-nav .flyout-wrapper a  { display: block; margin: 0 15px; padding: 5px; color: #000; }
#main-nav ul.fly-out-column  { float: left; }

.explore-more { display: none; }
.sub-nav      
{ 
	display: block!important; 
	margin: 0; 
	padding: 0; 
	height: auto!important; 
	list-style-type: none; 
	background: none;
	border-bottom: 1px solid #e6e6e6; 
}
.sub-nav li a 
{ 
	display: block;
	padding: 15px 15px 13px 15px; 
	font-size: 15px; 
	line-height: 20px;
	color: #000; 
	border-top: 1px solid #e6e6e6;
}

.sub-nav li:last-child a { padding: 15px 15px 13px 15px;  }

.sub-nav li.current a,
.sub-nav li a:hover,
#main-nav .flyout-wrapper li.current a,
#main-nav .flyout-wrapper li a:hover
{
	background: url(../images/bkg-subnav-hover.png)/*tpa=http://www.uhsinc.com/images/bkg-subnav-hover.png*/;
}


/* 2.4 =Content
------------------------------------------------------------------------------*/

    /* =homepage */

.home-banners_nav
{
  top: 45%;
}

.home-banner-text-outer-wrapper
{
    position: absolute;
    z-index: 99999;
    bottom: 0;
    width: 100%;  
}

.home-banner-text-inner-wrapper
{
    max-width: 1240px;
    margin:  0 auto;
    top: 0;
    width: 100%;
}

.home-banner-text
{
  position: relative;
  margin: 0 20px 0 0;
  /*bottom: 5%;*/
  bottom: 0%;
  right: 0;
  z-index: 5;
  padding: 1%;
  float: right;
  max-width: 610px;
  font-family: Muli, Arial, Sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}


.home-news-column            { float: left; margin: 30px 0 0 20px; width: 43%; border: 0; }  
.home-spotlight-column       { float: right; margin: 30px 20px 0 0; width: 50%; text-align: right; }
.home-spotlight-container    { margin: 0; padding: 0; list-style-type: none; }
.home-spotlight-container li { float: left; width: 31.8%; margin: 0 0 0 1.5%;  }
.home-spotlight-column img   { max-width: 100%; height: auto;}

.home-spotlight-container li:first-child { margin: 0 0 0 1.5%; }


  /* =maps */

#maps-container { display: block; float: left; margin: 0 0 30px; width: 100%;}
#map
{
  float: left;
  width: 75%; /* 780px; */
  height: 440px;
  border-right: 1px solid #bbc4c9;
}

.right-maps 
{ 
  float: right;
  width: 25%;
  border: 0;
}

#alaska-map
{
  display: block;
  width: 100%;
  height: 270px;
  border-bottom: 1px solid #bbc4c9;
  border-left: none;
}
#pr-map
{
  display: block;
  width: 100%;
  height: 170px;
  border: 0;
}

#maps-legend
{
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 99;
  padding: 3px 15px;
  width: auto;
  height: auto;
  font-family: Arial, sans-serif;
  font-size: 11px;
  line-height: 11px;
  font-weight: 600;
  color: #222;
  background: #fff;
  border: 1px solid #bbc4c9;
}

#maps-legend ul { margin: 0;}

.location-item-row
{
  clear: both;
  display: block;
  padding: 20px 30px;
  border-top: 1px solid #ccc;
}

.location-item-row .location-item-column
{
  float: left;
  width: 31%;
  margin: 0 20px 0 0;
}

.location-item-row .location-item-column.location-item-image { margin: 0 30px 0 0; width: 16%;}
.location-item-row .location-item-column.last                { margin: 0; width: 18%; }

.location-item-address-container 
{
  float: none;
  width: auto;
}

.location-item-row .location-item-column.location-item-street-address
{
  clear: none;
  width: 25%;
}

.location-item-row .facility-city-state { display: inline; }


/* 2.2 =Footer
------------------------------------------------------------------------------*/
footer { text-align: left; }

#footer-bottom-row .footer-social-title  
{ 
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 80px;
  width: 130px; 
  font-size: 12px; 
  text-transform: uppercase; 
}

#footer-bottom-row .footer-social-links a 
{ 
  overflow: hidden;
  display: inline-block;
  margin: 12px 2px;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  background: url('../images/icons.png')/*tpa=http://www.uhsinc.com/images/icons.png*/ no-repeat;
}

#footer-bottom-row .footer-social-links .facebook { background-position: 0 -444px; }
#footer-bottom-row .footer-social-links .twitter  { background-position: 0 -477px; }
#footer-bottom-row .footer-social-links .youtube  { background-position: 0 -510px; }