/* =============================================================================
 *   Default Structure Content Jnj.com
 * ========================================================================== */
div#content table {
  border: none;
  width: 100%;
}

div#content table p {
  margin-bottom: 0;
}

div#content ul,
div#content ol{
  margin: 5px 0 25px 25px;
}

div#content ul li ul li{
  list-style:disc;
  font-size:1em;
}

div#content ul li p{
  font-size:1em;
}

/* suppliers/supplier-diversity - Page */
div#content .block-views li.views-row div.views-field-field-teaser p{
  margin-bottom:15px;
}

div#content div.views-field-field-teaser ul{
  margin: 5px 0 25px 25px;
}

div#content div.views-field-field-teaser ul li{
  list-style-type:disc;
}

/* =============================================================================
 *   Default Font Styles & Align
 * ========================================================================== */

h1.title{
  color: #12C2E9;
  font: 1.5em Arial;
  margin-bottom:10px;
}

h3 {
  color: #0E8BA6;
  font: bold 1em Arial;
  margin: 10px 0;
}

.reset-color {
  color: #555555;
}

.reset-decoration {
  text-decoration: none;
}

p, .p_rs_skip {
  color: #555555;
  font: 0.75em/1.3 Arial;
}

ul li {
  color: #555555;
}

.no-wrap {
  white-space: nowrap;
}

.no-line-height {
  line-height: 0 !important;
}

.no-margin {
  margin-bottom: 0 !important;
}
.less-margin {
  margin-bottom: 5px !important;
}
div.line-gray-separator{
  border-bottom:1px solid #E1E9E6;
  overflow: hidden;
}
.black-box {
  border: 2px solid #000000;
  padding: 5px;
  margin-bottom: 20px;
}

/* Box-Item-Gray */
div.box-item-gray{
  background: url("../images/bg-gradient-box-item.gif") repeat-x top left;
  border: 1px solid #e6e6e6;
  border-radius:3px;
  padding-right:50px;
  min-width:50px;
  min-height:50px;
}

span.item-title{
  position: relative;
  top: 5px;
  left: 15px;
  font: bold 0.87em Arial;
  color:#0E8BA6;
}

p.image-description {
  font-size: 0.65em;
}

/* Sub-titles */
span.sub-title{
  font: bold 1.167em Arial;
  color:#0E8BA6;
}

h2.sub-title{
  font: bold 0.87525em Arial;
  color:#0E8BA6;
  margin: 0;
}

p h2.sub-title  {
  font-size: 1.167em;
}

em span.sub-title{
  font-style: italic;
}

div#content ul.blue-list li {
  color:#0E8BA6;
}

p.strong-title{
  font-weight: bold;
  color:#555;
  margin-bottom:0;
}

/* Links */

a {
  outline: 0 !important;
  color: #12C2E9;
}

/* Exception for these links
a#OLE_LINK6:hover,
a#OLE_LINK3:hover
*/

a.underline,
a#OLE_LINK6:hover,
a#OLE_LINK3:hover{
  text-decoration:underline;
}

/* Normal PDF list - Right-Side*/
div.pdf-list-right-side{
  float:right;
  margin-top: 0;
  width:40%;
}

/* Normal PDF list - Left-Side*/
.pdf-list{
  color: #555;
  font: 0.75em Arial;
  margin:15px 0;
}

.pdf-list li {
  background: url("../images/pdf.gif") no-repeat center left;
  list-style:none !important;
  padding-left:20px;
  margin:0 0 8px;
  width:93%;
}

.pdf-list-right-side li a {
  font-size: 1.6em;
  font-weight: bold;
}

.pdf-list li a {
  text-decoration: none;
}

.pdf-list li a:hover {
  text-decoration: underline;
}
/* END PDF LIST */


div.interior-text {
  float: left;
  margin-top: 5px;
  width: 60%;
}

div#content p.highlight {
  border-bottom: 1px solid #998590;
  border-top: 1px solid #998590;
  color: #CC0000;
  font: 18px/24px Georgia;
  margin: 14px 0 18px;
  padding: 14px 0;
  text-align: center;
}

div.gray-container{
  padding: 15px 0 8px 5px;
  border-radius: 15px;
  border: 1px solid #E5E5E5;
  background: url("../images/gray-container-gradient.jpg") repeat-x bottom transparent;
}

div.gray-container .gray-container-thumb-image {
  float: left;
}

div.gray-container .gray-container-content{
  margin-left: 190px;
  padding-top: 10px;
  background: none no-repeat transparent;
}
div.gray-container .gray-container-content div.line-gray-separator{
  border-bottom: 1px dotted #C5C5C5;
  margin-bottom: 8px;
  padding: 0 0 5px;
  width: 80%;
  margin-left: 5px;
}
div.gray-container .gray-container-content p{
  margin-bottom: 5px;
}

div.gray-container .gray-container-content a{
  color: red;
  text-decoration: none;
  margin-left: 5px;
}
/*** END Product Coupon ***/

.no-border{
  border:none !important;
}

body.page-news p {
  margin-bottom: 10px;
}
body.page-news p.bluetext {
  padding: 3px 0 3px 0;
  margin-bottom: 0 !important;
}
body.page-news p.bluetext a {
  font-size: 1.083em;
}
div#content ul.blue-list {
  margin:5px 0 5px 15px;
}

/**********************************/
/* Styles for Strategic Framework */
/**********************************/

.title-slide{
  font-size:2.3em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin:0 0 20px;
}

.text-slide-large {
  font-size:1.84em;
}

.subtitle-slide{
  font-size:1.3em;
  margin-bottom:0;
}

.text-slide {
  font-size:1.3em;
}

.text-large {
  font-size:2.3em;
}

.text-medium {
  font-size:2em;
}

.text-small {
  font-size:0.8em;
}

.text-normal {
  font-weight:normal;
}

.text-bold {
  font-weight:bold;
}

.text-red {
  color:#ed1c24;
}

a.text-red {
  text-decoration: none;
}

.text-gray{
  color:#828282;
}

.text-black{
  color:#000;
}

.text-left{
  float:left;
  width:55%;
}

.image-right{
  float:right;
  text-align:center;
  width:45%;
}

/* Styles for Map */
.small-content-map{
  float: left;
  width: 380px;
}

.video-player-map{
  float: right;
  width: 350px;
  position:relative;
}

.video-player-map a{
  background-color:#B51601;
  border-radius:0 0 10px 10px;
  padding: 4px 0;
  display:block;
  font-weight:bold;
  font-size:0.75em;
  text-align: center;
  height: 20px;
  width:100%;
  color:#fff;
  text-decoration:none;
}

.title-list-map-full{
  font: 0.8em Arial;
  font-weight:bold;
  color:#12c2e9;
  margin-bottom:10px;
}

.left-content-map-list{
  padding:10px;
  float:left;
}

.right-content-map-list{
  margin-top:10px;
  margin-left:120px;
}

/* SEO h2 headings style fix */
div.gray-container .gray-container-content h2{
  margin: 0;
}

h2.seo-h2 {
  color: #555;
  font: 0.75em Arial;
  font-weight: bold;
  margin: 0;
}
/* SEO h2 headings style fix  END */

/* For-all-you-love Page */
.border-default{
  float: left;
  border:1px solid #d0d0d0;
}

.box-video-list{
  float:left;
  padding:0 2%;
  width:46%;
}

.box-video-title-dotted{
  border-bottom: 2px dotted #ccc;
  color: #555;
  display: block;
  font: 1.3em Arial;
  font-weight:bold;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-bottom: 10px;
}

.container-100 {
  width: 100%;
  overflow: hidden;
}

.column {
  padding-right: 1%;
  float: left;
}

.column-right {
  padding-left: 1%;
  float: right;
}

.column-33 {
  padding: 0 1%;
  width: 31%;
  float: left;
}

.column-66 {
  padding: 0 1%;
  width: 64%;
  float: left;
}

.column-40 {
  padding: 0 1%;
  width: 38%;
  float: left;
}

.column-60 {
  padding: 0 2%;
  width: 56%;
  float: left;

}
.column-50-m-100,
.column-50 {
  padding: 0 1%;
  width: 48%;
  float: left;
}

.images-full-width img {
  width: 100%;
}

.line-dotted {
  border-bottom: 2px dotted #ccc;
  width: 100%;
  margin-bottom: 20px;
}

.line-dashed {
  border-bottom: 2px dashed #ccc;
  width: 100%;
  margin-bottom: 20px;
}

/* Responsability Pages */
.responsability-left-side{
  float:left;
  width:50%;
}

/* Default Style for Box Item Gray */
div.box-item-gray-responsability {
  width:320px;
  float:right;
  margin-left: 30px;
  margin-bottom:25px;
  border:1px solid #DEDEDE;
  padding: 0;
}
div.box-item-gray-responsability p:first-child {
  background: #fbfbfb;
  border-bottom: 1px solid #dedede;
  font-size: 0.65em !important;
  padding: 7px 14px;
}
div.box-item-gray-responsability p.txt-box {
  padding: 10px 15px 0 !important;
}
div.box-item-gray-responsability p.txt-box a{
  font-weight:bold;
}
div.box-item-gray-responsability p {
  margin: 0;
}

html.IE-7 div.cic-video-list li,
html.IE-7 ul.bullets-navigation li {
  display: inline !important;
  zoom: 1;
}

/* BEGIN JNJ A-Z */
div.accordion-bar-gray .accordion-toggle,
div.accordion-bar-gray .accordion-open,
div.accordion-bar-gray .accordion-open-close,
div.accordion-bar-gray .accordion-close {
  background:url(../images/newsroom_arrow.gif) no-repeat 96% -22px #F7F7F8;
  padding:2%;
  width:96%;
  display:inline-block;
  -webkit-border-radius: 10px!important;
  -khtml-border-radius: 10px!important;
  -icab-border-radius: 10px!important;
  -moz-border-radius: 10px!important;
  -o-border-radius: 10px!important;
  border-radius: 10px!important;
  text-transform:uppercase;
  font-weight:bold;
  font-size:1.2em;
}

div.accordion-bar-gray .accordion-toggle a,
div.accordion-bar-gray .accordion-open a,
div.accordion-bar-gray .accordion-open-close a,
div.accordion-bar-gray .accordion-close a {
  color:#828282;
  text-decoration:none;
}

.open div.accordion-bar-gray .accordion-toggle,
.open div.accordion-bar-gray .accordion-open,
.open div.accordion-bar-gray .accordion-open-close,
.open div.accordion-bar-gray .accordion-close{
  background-position: 96% 21px;
}

div.accordion-bar-gray .accordion-body {
  float: left;
  width: 100%;
  padding-top:20px;
}
div.accordion-bar-gray .accordion-body p {
	padding:0 35px 15px 50px;
}
@media screen and (max-width: 640px) {
  div.accordion-bar-gray .accordion-body p {
    padding:0 15px 15px 15px;
  }
}
div.accordion-bar-gray .accordion-body table p {
	padding:0 0 15px;
}
.accordion-bar-gray {
  border: 1px solid #FFF;
}

.open div.accordion-bar-gray {
  border:1px solid #f1f1f1 !important;
  -webkit-border-top-left-radius: 10px!important;
  -webkit-border-top-right-radius: 10px!important;
  -khtml-border-top-left-radius: 10px!important;
  -khtml-border-top-right-radius: 10px!important;
  -icab-border-top-left-radius: 10px!important;
  -icab-border-top-right-radius: 10px!important;
  -moz-border-top-left-radius: 10px!important;
  -moz-border-top-right-radius: 10px!important;
  -o-border-top-left-radius: 10px!important;
  -o-border-top-right-radius: 10px!important;
  border-top-left-radius: 10px!important;
  border-top-right-radius: 10px!important;
  margin-bottom: 20px;
  background: url("../images/jnj-a-z-background.png") no-repeat 0 bottom;
}


div.accordion-bar-gray .column-50 {
  padding:0 5%;
  width: 40%;
}

div.accordion-bar-gray p{
  margin-bottom:0;
}

div.accordion-bar-gray ul{
  margin-bottom:0 !important;
}

div.accordion-bar-gray ul li{
  list-style:square;
  color:#2e96b1 !important;
  font-size: 0.8em !important;
  padding-bottom: 2px;
}
div.accordion-bar-gray ul li a{
  color:#2e96b1;
  text-decoration:none;
}

.header-section {
  font-size:0.9em;
  text-transform:uppercase;
  color:#0a8caa;
  margin-bottom:5px;
}

.header-section-gray {
  font-size:0.9em;
  font-weight: bold;
  text-transform:uppercase;
  color:#828282;
  margin-bottom:5px;
}

.container-gray {
  background:#f7f7f7;
  border:1px solid #f1f1f1;
  -webkit-border-radius: 10px !important;
  -khtml-border-radius: 10px !important;
  -icab-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -o-border-radius: 10px !important;
  border-radius: 10px !important;
  padding: 15px;
  padding-bottom: 0;
  overflow: hidden;
}
/* END JNJ A-Z */
.citation {
  font-size: 1.1em;
  font-family: Georgia;
  color: #828282;
  padding-bottom: 1em;
  border-bottom:1px solid #f1f1f1;
}

.line-separator {
  font-size: 1.1em;
  border-bottom:1px solid #f1f1f1;
  color: #828282;
  clear: both;
}

.table-header-blue {

}

table .sub-title {
  font-size: 1em;
  padding-bottom: 10px;
}

table .line-dashed {
  line-height: 0;
  margin-bottom: 10px
}

.accordion-bar-gray tbody {
  border: none;
  vertical-align: top;
}