/* =============================================================================
 *  Print for graphical theme
 * ========================================================================== */
p.bluetext {
  padding: 3px 0 3px 0;
  margin-bottom: 0 !important;
}

body.not-front .content-column {
  padding-top: 0;
}

#block-jnj-custom-jnj-custom-readspeaker,
.our-news-center .flex-direction-nav,
.our-news-center .flex-control-nav{
  display:none;
}

body.our-news-center #content-column,
.our-news-center .region-tertiary-content{
  margin-left:0 !important;
  width:70% !important;
}

body.our-news-center .region-sidebar-second {
  margin-right: -2%;
}

body.newsroom-landing-page .block-jnj-custom,
body.newsroom-landing-page .news-block{
  width:65%;
}

body.newsroom-landing-page .region-sidebar-second{
  top:100px;
}

body.node-type-our-news-center .hidden,
body.newsroom-landing-page #block-jnj-custom-jnj-news-filter .form-item-search-keys,
body.newsroom-landing-page #block-jnj-custom-jnj-news-filter .form-actions{
  display: none !important;
}

.new-layout h1#page-title,
body.node-type-our-news-center h1#page-title{
  margin-left:0 !important;
}

.new-layout .columns,
body.node-type-our-news-center .columns{
  padding-top:0 !important;
}

div.region-leaderboard nav.leaderboard-menu ul.menu li {
  margin-right: 12px;
}