/* Search */
div#search input#input-search {
  width: 125px;
}

div.region-leaderboard {
  border-bottom: 100px solid #b41601;
}

div#page {
  position: relative;
}

/* =============================================================================
 *   Header
 * ========================================================================== */
/* Logo */
body section#block-views-header-and-footer-logo {
  width: 255px;
  padding-left: 0;
}

header {
  top: 49px;
  background: transparent !important;
}

/* Main Menu */
nav.main-menu li {
  margin: 0px;
  list-style: none;
  padding: 30px 0;
  margin: 0 1%;
  float: left;
  position: relative;
}

nav.main-menu li a {
  font-size: 14px;
  color: #d8e8f2;
  font-weight: bold;
}

/* =============================================================================
 *   Content
 * ========================================================================== */
div#content div.view-home-gallery {
  min-height: 450px;
}

div#content div.view-home-gallery .thumbnails {
  bottom: 5%;
}

div#content div.view-home-gallery .thumbnails ul li {
  list-style: none;
}

div#content div.view-home-gallery #slider .views-field-title,
div#content div.view-home-gallery #slider .views-field-field-hide-slide-title{
  bottom: 70%;
}

div#content div.view-home-gallery #slider .views-field-body {
  bottom: 56%;
}

div#content div.view-home-gallery #slider .views-field-field-full-story-link-text {
  bottom: 51%;
}

div#content div.view-home-gallery #slider .views-field-title span a,
div#content div.view-home-gallery #slider .views-field-field-hide-slide-title span a{
  font-size: 24px;
}
div#content div.view-home-gallery #slider .views-field-title {
  display: none;
}

body.not-front section#main-content {
  float: right;
  width: 75%;
}

body.not-front .content-column {
  padding-top: 0;
}

.sidebar-menu {
  margin-top: 0;
  width: 20%;
}

.sidebar-menu ul.menu li {
    padding-bottom: 10px;
    padding-left: 10px;
}

.sidebar-menu ul.menu li.first {
  padding-left: 0;
}

.sidebar-menu ul.menu a.active-trail,
.sidebar-menu ul.menu a.active {
  color: #12C2E9;
}

/* =============================================================================
 *   Footer
 * ========================================================================== */
footer#footer {
  margin-top:20px;
  padding: 20px 0 30px 0;
  border-top: 1px solid #E5E5E5;
  overflow: hidden;
}

body.node-type-home footer#footer {
  padding: 35px 0 30px 20px;
  border: none;
  margin: 0;
}

/* Menu Footer */
footer#footer nav.footer-menu {
  padding-bottom: 18px;
  width: 56%;
  float: left;
}

footer#footer nav.footer-menu li {
  float: left;
  font-size: 12px !important;
  padding: 0 14px 0 0;
  list-style: none;
}

footer#footer nav.footer-menu li a {
  color: #797979;
  text-decoration: none;
}

footer#footer section#block-views-header-and-footer-footer {
  float: left;
  width: 56%;
}

footer#footer section#block-views-header-and-footer-footer p {
  color: #797979;
  font-size: 9px;
  margin-bottom: 10px;
  line-height: 12px;
}

footer#footer section#block-views-header-and-footer-footer p a {
  color: #12C2E9;
}

footer#footer .footer-logo {
  float: right;
  width: 36%;
  text-align: right;
}

footer#footer .footer-logo img {
  /*padding-right: 10%;*/
  width: auto;
  max-width: 100%;
}

footer#footer section.block-lastupdate {
  float: left;
  clear: left;
  white-space: nowrap;
}

footer#footer section.block-lastupdate p{
  color: #797979;
  font-size: 0.65em;
}

/* Social Links */
section#block-views-nodequeue-1-social-mobile {
  display: none;
}

footer#footer section.social-links { /* pode colocar por classe geral */
  float: right;
}

footer#footer .social-links ul{ /* pode trocar por geral-class ul */
  margin: 5px 0 35px;
  overflow: hidden;
}

footer#footer .social-links li { /* pode trocar por geral-class li */
  color: #797979;
  float: left;
  font-size: 11px;
  height: 30px;
  padding-left: 12px;
  width: 30px;
  list-style: none;
}

footer#footer .social-links li.find { /* pode trocar por geral-class li.find */
  width: 55px;
  text-align: right;
}

footer#footer .social-links li a { /* pode trocar por geral-class li.a */
  text-indent: -9999px;
  font-size: 0;
  line-height: 0;
  height: 30px;
  width: 30px;
  display: block;
}

footer#footer .social-links li img { /* pode trocar por geral-class li img */
  display: block;
}
body.html div#content div.video-player_wrapper {
  height: 0 !important;
}

/* Gallery */
div.region-content-aside {
  width: auto;
}

div.view-gallery {
  background: none;
}

div.view-gallery div.flexslider div.flex-viewport ul li div.field-name-field-title {
  padding-left: 0;
  font-size: 13px;
}

div.region-content-aside div.video-player_wrapper,
div.region-content-aside div.video-player-text,
div.view-gallery .flex-pauseplay,
div.view-gallery div#slider .direction-nav,
div.view-gallery .flex-direction-nav,
div.view-gallery div.title,
.direction-nav {
  display:none !important;
}