@import url("../../fonts/webfonts.css")/*tpa=http://www.cdw.com/assets/fonts/webfonts.css*/;

/* Default Layout */
.clsTypeaheadControl { 												width:210px; height:245px; .height:235px; text-align:center; font-family:Verdana, Geneva, sans-serif;  margin-bottom:10px;position:relative;}
.clsTypeaheadControl h3 { 											font-family:'Prelo-Black', verdana, sans-serif; font-size:20px; text-transform:uppercase; letter-spacing:1px; margin:0 0 10px 0; padding:0; color:#616265; background:url(../../../../img.cdw.com/content/products/finders/finder-menu-heading-bg.png)/*tpa=http://img.cdw.com/content/products/finders/finder-menu-heading-bg.png*/ center bottom no-repeat; padding-bottom:25px;}
.clsTypeaheadControl h3.clsTypeaheadCaption span{					font-size:25px;}
.clsTypeaheadControl h3.clsTypeaheadCaption .blue{ 					color:#29b4f5; }
.clsTypeaheadControl h3.clsTypeaheadCaption .pink{ 					color:#ef0088; }
.clsTypeaheadControl h3.clsTypeaheadCaption .yellow{ 				color:#ebce44; }
.clsTypeaheadControl h3.clsTypeaheadCaption .plus{ 					color:#8c8d8e; font-style:italic; font-size:30px; font-weight:normal; padding-right:1px; margin-left:-1px;}
.clsTypeaheadControl .clsTypeaheadThumbnail { 						margin:0 auto; }
.clsTypeaheadControl .clsTypeaheadTextLabel { 						text-align:left; font-size:15px; font-weight:normal;font-family:'Prelo-Bold',verdana, sans-serif; text-transform:uppercase; color:#8c8d8e; display:block; padding:5px; letter-spacing:1px;}
.clsTypeaheadControl .clsTypeaheadControlTextBox{					width:190px; border:1px solid #cacaca; padding:7px 5px; color:#8c8d8e; font-family:Verdana, Geneva, sans-serif; font-size:11px; margin:0 auto; box-shadow: inset 0 0 5px #ccc;display:inline-block !important; .height:30px; float:left;}
.clsTypeaheadControl .clsTypeaheadControlTextBOX{					width:200px;}
.clsTypeaheadControl .clsTypeaheadControlTextBox:focus,
.clsTypeaheadControl .clsTypeaheadControlTextBox:active{	     	color: #4d4e53;
}
.clsTypeaheadControl .clsTypeaheadResults { 						border:1px solid #ccc; text-align:left; margin:27px 0px 0; border-radius:5px; background:#fff; position:absolute;z-index:10;}
.clsTypeaheadControl .clsTypeaheadResults ul{						list-style:none; padding:0; margin:0; BACKGROUND: #fff; }
.clsTypeaheadControl .clsTypeaheadResults ul li a{					padding:4px 7px; COLOR: #666 !important; TEXT-DECORATION: none; font-size:11px; display:block; width:188px !important;white-space:normal !important;line-height:14px !important; background:none!important;}
.productsMenu .findersMenuWrapper .rightCol .columnTwo .level2 {	background:none !important;}
.productsMenu .findersMenuWrapper .rightCol .columnTwo .level2 .clsTypeaheadControl .clsTypeaheadResults ul li a:hover{			color:#666 !important;}
	
/** DropMenu Layout **/
.headerDropMenu .clsTypeaheadCaption img {							width:207px;}

/* Hubs layout */
.clsTypeaheadControlHubs{											width:531px; height:100px; text-align:left; padding:20px; }
.clsTypeaheadControlHubs h3{										font-size:30px; background:none; padding-bottom:0;}
.clsTypeaheadControlHubs h3.clsTypeaheadCaption span{				font-size:32px;}
.clsTypeaheadControlHubs .clsTypeaheadThumbnail { 					float:right; margin:-43px 70px 0 0; .margin:-43px 31px 0 0;}
.clsTypeaheadControlHubs .clsTypeaheadControlTextBox{				width:287px; font-size:12px; padding:10px;.height:36px;}
.clsTypeaheadControlHubs .clsTypeaheadResults{						width:285px; margin:-1px 0;float:left;clear:left;margin-top:36px;.margin-top:-1px;.display:none;}
.clsTypeaheadControlHubs .clsTypeaheadResults ul li a{				width:265px !important;}

/* Finder Results layout */
.clsTypeaheadControlFinderResults{									width:714px; height:150px; padding:10px 20px; text-align:left; border:none; border-top:5px solid #e7e7e7; background:url(../../../../img.cdw.com/content/products/finders/finder-results-bg.png)/*tpa=http://img.cdw.com/content/products/finders/finder-results-bg.png*/ center bottom no-repeat;}
.clsTypeaheadControlFinderResults h3{								font-size:30px; background:none; padding-bottom:0;}
.clsTypeaheadControlFinderResults h3.clsTypeaheadCaption span{		font-size:32px;}
.clsTypeaheadControlFinderResults .clsTypeaheadThumbnail { 			float:right; margin:-43px 70px 0 0; }
.clsTypeaheadControlFinderResults .clsTypeaheadResultsFor{			color:#cc0000; font-size:15px; font-family:'Prelo-Bold', Verdana, Geneva, sans-serif; text-transform:uppercase;display:block; font-weight:bold; padding:5px; letter-spacing:1px;}
.clsTypeaheadControlFinderResults .clsTypeaheadControlTextBox{		width:419px; font-size:12px; padding:10px;color:#4d4e53;}
.clsTypeaheadControlFinderResults .clsTypeaheadResults{				display:block; width:440px; margin:35px 0 0 0;}
.clsTypeaheadControlFinderResults .clsTypeaheadResults ul li a{		width:265px !important;}

/* css hacks for quirks mode */ 
.clsTypeaheadControlQuirks{}

/** Finder Menu **/
.productsmenu .findersmenuwrapper .rightcol .columntwo .level2 .clsTypeaheadCaption {	height:44px;}
.productsMenu .findersMenuWrapper .rightCol .columnTwo .level2 .clsTypeaheadCaption{	height:44px;}
.level2 .clstypeaheadcontrol .clstypeaheadresults {					margin:29px 4px 0 0; /*.margin:29px 0 0 -190px;*/.margin:29px 0 0 -200px; overflow: hidden;.width: 200px;}
.related_finders {													border-top: 1px solid #CACACA;padding-top: 13px;margin: 20px 0 6px 0;width:200px;}
.related_finders strong {											padding: 0 5px;display: block;margin: 0 0 6px 0;}

.productFinderWrapper .clearAll {width:131px;  text-align:right;padding:0;}