.ui-autocomplete .container { 										MARGIN: 0px auto; display: block; WIDTH: 997px }
.ui-autocomplete .staticContainer { 									TEXT-ALIGN: center }
.ui-autocomplete .clear { 											CLEAR: both }

/** Tyepahead dropdown container **/
.ui-autocomplete { 									z-index: 20022; display: none; position:absolute; width: 266px; BORDER-BOTTOM: #8c8d8e 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #8c8d8e 1px solid; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=100)"; filter: alpha(opacity=100); PADDING-BOTTOM: 15px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 266px; PADDING-RIGHT: 0px; BACKGROUND: #fff; FONT-SIZE: 11px; BORDER-TOP: #8c8d8e 1px solid; BORDER-RIGHT: #8c8d8e 1px solid; PADDING-TOP: 0px; border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px; -o-border-radius: 6px; -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px; -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px }
.ui-autocomplete UL { 								z-index: 20022; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; PADDING-TOP: 0px; list-style-type: none }
.ui-autocomplete LI { 								z-index: 20022; LIST-STYLE-TYPE: none; MARGIN: 0px 4px; }
.ui-autocomplete .ui-autocomplete-category { 		z-index: 20022; MARGIN: 5px 4px 5px 0px; display: block; BACKGROUND: url(../../../../img.cdw.com/content/search/menu-item_bg.gif)/*tpa=http://img.cdw.com/content/search/menu-item_bg.gif*/ #fff repeat-x 0% 50%; COLOR: #005a84; FONT-SIZE: 13px; FONT-WEIGHT: bold }
.ui-autocomplete .ui-autocomplete-close { 			z-index: 20022; TEXT-ALIGN: right; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 7px; PADDING-TOP: 6px }
.ui-autocomplete .ui-autocomplete-close IMG { 		CURSOR: pointer }
.ui-autocomplete .ui-autocomplete-category SPAN { 	z-index: 20022; PADDING-BOTTOM: 0px; PADDING-LEFT: 7px; PADDING-RIGHT: 7px; BACKGROUND: #fff; PADDING-TOP: 0px }
.ui-autocomplete .ui-menu-item A { 					PADDING-BOTTOM: 1px; BACKGROUND-COLOR: #fff; PADDING-LEFT: 7px; PADDING-RIGHT: 7px; ZOOM: 1; DISPLAY: list-item; COLOR: #666; CURSOR: pointer; TEXT-DECORATION: none; PADDING-TOP: 1px }
.ui-autocomplete #ui-active-menuitem { 				BACKGROUND-COLOR: #e6e7e8 }
.ui-autocomplete .ui-menu-item A:hover { 			BACKGROUND-COLOR: #e6e7e8; COLOR: #666; TEXT-DECORATION: none }
.ui-autocomplete .video { 							BACKGROUND: no-repeat 95% 50% }

/** Slider **/
.ui-slider-handle, #content-slider A { 				OUTLINE-STYLE: none !important; OUTLINE-COLOR: invert !important; OUTLINE-WIDTH: medium !important; TEXT-DECORATION: none }
.ui-slider-handle, #content-slider A:hover { 		OUTLINE-STYLE: none !important; OUTLINE-COLOR: invert !important; OUTLINE-WIDTH: medium !important; TEXT-DECORATION: none }

/** Scroller **/
.ui-autocomplete .scrollable { 										POSITION: relative; HEIGHT: 80px; OVERFLOW: hidden }
.ui-autocomplete .scrollable .items { 								POSITION: absolute; HEIGHT: 20000em }
.ui-autocomplete .scrollable .items { 								HEIGHT: auto }
.ui-autocomplete .scrollable { }

/** Next Previous actions **/
.ui-autocomplete .actions { 											MARGIN: 0px 5px 0px 0px }
.ui-autocomplete .actions .prev { 									TEXT-INDENT: -9999em; MARGIN: 0px 0px 6px; WIDTH: 20px; DISPLAY: block; BACKGROUND: no-repeat center 0px; FLOAT: right; HEIGHT: 4px; CLEAR: right; OVERFLOW: hidden; CURSOR: pointer }
.ui-autocomplete .actions .next { 									TEXT-INDENT: -9999em; WIDTH: 20px; DISPLAY: block; BACKGROUND: no-repeat center 0px; FLOAT: right; HEIGHT: 4px; CLEAR: right; OVERFLOW: hidden; CURSOR: pointer }
.ui-autocomplete .actions .disabled { 								BACKGROUND-POSITION: center -4px }
.ui-autocomplete .actions A:hover { 									BACKGROUND-POSITION: center -8px }
.ui-autocomplete .actions A.disabled:hover { 						BACKGROUND-POSITION: center -4px }

/** Modal **/
.ui-autocomplete .modal { 											POSITION: relative; TEXT-ALIGN: left; MARGIN: 0px auto; WIDTH: 680px; DISPLAY: none; BACKGROUND: #fff; -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5); box-shadow: rgba(0, 0, 0, 0.5) 0 1px 8px; -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 1px 8px }
.ui-autocomplete .modal .content { 									BORDER-BOTTOM: #b0b0b0 1px solid; BORDER-LEFT: #b0b0b0 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-TOP: #b0b0b0 1px solid; BORDER-RIGHT: #b0b0b0 1px solid; PADDING-TOP: 10px }
.ui-autocomplete .modal .closeModal { 								POSITION: absolute; MARGIN: 0px; TOP: -30px; RIGHT: -20px }
.ui-autocomplete .modal .message { 									MARGIN: 0px; WIDTH: 158px; FLOAT: right }
.ui-autocomplete .modal H3 { 										MARGIN: 0px 0px 15px }
.ui-autocomplete .modal P { 											MARGIN: 0px 0px 10px }
.ui-autocomplete .modal .message A { 								COLOR: #0070bc !important; FONT-SIZE: 12px; TEXT-DECORATION: underline }
.ui-autocomplete .modal .message A:hover { 							COLOR: #0070bc !important; TEXT-DECORATION: underline }

/** Container Reset **/
.ui-autocomplete #container { 										z-index: 20022; }
#content-slider-0, #content-slider-1, #content-slider-2, #content-slider-3 { POSITION: relative; MARGIN: 0px; background:#fff url(../../../../img.cdw.com/content/search/scrollbar_bg.gif)/*tpa=http://img.cdw.com/content/search/scrollbar_bg.gif*/ 4px 0 repeat-y; WIDTH: 10px; FLOAT: left; HEIGHT: 88px; border:none; }

/** UI slider **/
.ui-slider { 										position: relative; text-align: left; }
.ui-slider .ui-slider-handle { 						position: absolute; z-index: 2; width: 14px; cursor: pointer; BACKGROUND: #a1a1a1; COLOR: #efefef; TEXT-ALIGN: center; }
.ui-slider .ui-slider-range { 						position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }
.ui-slider-horizontal { 							height: .8em; }
.ui-slider-horizontal .ui-slider-handle { 			top: -.3em; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { 			top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { 		left: 0; }
.ui-slider-horizontal .ui-slider-range-max { 		right: 0; }
.ui-slider-vertical {								width: .8em; height: 80px; }
.ui-slider-vertical .ui-slider-handle { 			left: -.3em; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { 				left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-max { 			bottom: 0; }
.ui-slider-vertical .ui-slider-range-min { 			top: 0; }


/** Container Handles **/
.content-slider-handle-1 { 							POSITION: absolute; TEXT-ALIGN: center; WIDTH: 10px; BACKGROUND: #a1a1a1; HEIGHT: 12px; COLOR: #efefef; TOP: -4px; CURSOR: pointer }
.content-slider-handle-2 { 							POSITION: absolute; TEXT-ALIGN: center; WIDTH: 10px; BACKGROUND: #a1a1a1; HEIGHT: 12px; COLOR: #efefef; TOP: -4px; CURSOR: pointer }
.content-slider-handle-0 { 							POSITION: absolute; TEXT-ALIGN: center; WIDTH: 10px; BACKGROUND: #a1a1a1; HEIGHT: 12px; COLOR: #efefef; TOP: -4px; CURSOR: pointer }
.content-slider-handle-3 { 							POSITION: absolute; TEXT-ALIGN: center; WIDTH: 10px; BACKGROUND: #a1a1a1; HEIGHT: 12px; COLOR: #efefef; TOP: -4px; CURSOR: pointer }

/** Scrollers **/
#scroll-3 { 										MARGIN: 0px; WIDTH: 250px; FLOAT: left; HEIGHT: 88px; top:0px; OVERFLOW: hidden }
#scroll-2 { 										MARGIN: 0px; WIDTH: 250px; FLOAT: left; HEIGHT: 88px; top:0px; OVERFLOW: hidden }
#scroll-1 { 										MARGIN: 0px; WIDTH: 250px; FLOAT: left; HEIGHT: 88px; top:0px; OVERFLOW: hidden }
#scroll-0 { 										MARGIN: 0px; WIDTH: 250px; FLOAT: left; HEIGHT: 88px; top:0px; OVERFLOW: hidden }
#content-holder-0, #content-holder-1, #content-holder-2, #content-holder-3 { OVERFLOW: hidden; }