.module{ padding-bottom:10px; }
.custom_header .module{ padding-bottom:0; }

.left_callout{ width:292px; }
.left_callout .lc_heading h2{ padding:0 21px; font:normal 14px Tahoma !important; color:#fff; background:#000 url(images/left_callout_h2.png)/*tpa=http://www.auto-owners.com/Portals/_default/Containers/AutoOwners_New/images/left_callout_h2.png*/ repeat-y; }
.left_callout .lc_heading_top{ height:14px; background:url(images/container_sprite_png8.png)/*tpa=http://www.auto-owners.com/Portals/_default/Containers/AutoOwners_New/images/container_sprite_png8.png*/; }
.left_callout .lc_heading_bottom{ height:9px; background:url(images/container_sprite_png8.png)/*tpa=http://www.auto-owners.com/Portals/_default/Containers/AutoOwners_New/images/container_sprite_png8.png*/ 0 -14px; }
.left_callout .lc_body{ min-height:1px; background:url(images/left_callout_body.png)/*tpa=http://www.auto-owners.com/Portals/_default/Containers/AutoOwners_New/images/left_callout_body.png*/ repeat-y; }
.left_callout .lc_body .gradiant{ min-height:1px; padding:10px 21px 14px; background:url(images/left_callout_gradiant.png)/*tpa=http://www.auto-owners.com/Portals/_default/Containers/AutoOwners_New/images/left_callout_gradiant.png*/ left bottom no-repeat; line-height:20px; }
.left_callout .lc_bottom{ height:3px; background:url(images/container_sprite_png8.png)/*tpa=http://www.auto-owners.com/Portals/_default/Containers/AutoOwners_New/images/container_sprite_png8.png*/ 0 -23px; }
.left_callout ul{ margin-left:15px !important; list-style-image:url(images/left_callout_bullet.png)/*tpa=http://www.auto-owners.com/Portals/_default/Containers/AutoOwners_New/images/left_callout_bullet.png*/; }

.left_callout .available_video .gradiant{ min-height:1px; padding:10px 0 14px; background:url(images/left_callout_gradiant.png)/*tpa=http://www.auto-owners.com/Portals/_default/Containers/AutoOwners_New/images/left_callout_gradiant.png*/ left bottom no-repeat; line-height:20px; }
.left_callout .available_video .gradiant td{ border:none !important; }

.index_callout{  }
.index_callout .ic_heading{  }
.index_callout .ic_heading a{ display:block; height:61px; padding:15px 0 0 13px; background:url(images/index_callout_h2.png)/*tpa=http://www.auto-owners.com/Portals/_default/Containers/AutoOwners_New/images/index_callout_h2.png*/ no-repeat; }
.index_callout .ic_heading a:hover{ background-position:0 -76px; text-decoration:none; }
.index_callout .ic_heading h2{ padding:0; margin:0; font-size:20px !important; color:#fff; }
.index_callout .ic_tagline{ padding-top:2px; }
.index_callout .ic_body{ background:url(images/index_callout_body.png)/*tpa=http://www.auto-owners.com/Portals/_default/Containers/AutoOwners_New/images/index_callout_body.png*/ repeat-y;  }
.index_callout .ic_body .gradiant{ height:118px; padding:10px 4px 5px 12px; margin:0 4px 0 1px; background:url(images/index_callout_gradiant.png)/*tpa=http://www.auto-owners.com/Portals/_default/Containers/AutoOwners_New/images/index_callout_gradiant.png*/ left bottom repeat-x; }
.index_callout .ic_body .gradiant p{ font:normal 12px/18px Tahoma; }
.index_callout .ic_bottom{ height:3px; background:url(images/container_sprite_png8.png)/*tpa=http://www.auto-owners.com/Portals/_default/Containers/AutoOwners_New/images/container_sprite_png8.png*/ 0 -23px; }

.index_callout_title{ padding-bottom:0 !important; }

.youtube_rotator{ width:640px; height:285px; background:url(../../../0/images/homepage_rotator/YouTube_Background_Rotator.jpg)/*tpa=http://www.auto-owners.com/Portals/0/images/homepage_rotator/YouTube_Background_Rotator.jpg*/ no-repeat; }
.youtube_rotator #youtube-link{position: absolute; 	top: 0px; left: 483px; width: 157px; height: 285px; background-color: transparent;}
.youtube_rotator #youtube-play{position: absolute; 	top: 0px; left: 483px; width: 157px; height: 285px; background-color: transparent;}
