@import "default_JoyG.css"/*tpa=http://www.joyglobal.com/ClientCss/default_JoyG.css*/;


h1 {
	margin-bottom: 10px;
	padding: 0 0 3px 0;
	color:#354f65;
	font:bold 20px "Arial Narrow", Arial, Trebuchet, Helvetica, sans-serif; text-transform:uppercase; 
	border-bottom: solid 2px #808080;
}

h1 a:link,
h1 a:hover,
h1 a:visited  {color: #354f65; text-decoration:none;}

	.LeftZone h1,
	.LeftZone h1 a:link,
	.LeftZone h1 a:hover,
	.LeftZone h1 a:visited,
	.RightZone h1,
	.RightZone h1 a:link,
	.RightZone h1 a:hover,
	.Right h1 a:visited,
	.CenterZone h1,
	.CenterZone h1 a:link,
	.CenterZone h1 a:hover,
	.CenterZone h1 a:visited{color: #354f65; text-decoration:none;}
iframe div.stockTitle{border-bottom: solid 2px #808080!important;}


#contentArea {background: #fff;  padding:0px 0px 3px 0px;}
	#topContentContainer {float:left; overflow: hidden; width:955px; height:250px;}
	#contentContainer {float:left; width:955px;  background: url(images/bg_home_content_joyG.gif)/*tpa=http://www.joyglobal.com/ClientCss/images/bg_home_content_joyG.gif*/ repeat-y;  margin:20px 0 0 0;}
	
	#leftContentContainer {float:left; width:231px; padding: 0px 10px;}
	#leftZone{width: 231px;}
	.StockPrice P {line-height:normal; padding:0px; margin:0px;}
        .StockPrice {margin-bottom: 15px;}
	
	#centerZone {width:434px;  padding-top:15px; padding:0px 13px; float: left; clear:none;}
	#titleBarContainer {display:none;}
	#centerZone .Freeform{clear:none}
	
	
	#rightZone {float:right; /* floats right of centerContent */ width:220px; margin:0px; padding: 0px 10px;}
	.RightZone h1{
		margin: 0 0 10px 0;
		padding: 0 0 3px 0;
		color:#354f65;
		font:bold 20px "Arial Narrow", Arial, Trebuchet, Helvetica, sans-serif; text-transform:uppercase; 
		border-bottom: solid 2px #808080;
	}

	/*need to remove #rightZone in wkst*/
		
	#rightZone .FreeformBorder {margin-bottom: 15px; padding: 0 0 10px 0;}
	#rightZone .Freeform P {margin-bottom: 5px;}
	
	/* Block images - teaser, text editor, PhotoBlock, video block */
	.OneCol .image a img {float: right;}
	.OneCol .image p,
	.TwoCol .image p
	{margin-right:100px; margin-left:0px;}
	
	.OneCol .image a img,
	.TwoCol .image a img,
	.tocList .image a img{margin-bottom:5px;}
	
	.TOCBlock h3,
	.AggregationResults h3,
	.WhatsNew h3 {
		margin: 0 0 10px 0;
		padding: 0 0 3px 0;
		color:#354f65;
		font:bold 20px "Arial Narrow", Arial, Trebuchet, Helvetica, sans-serif; text-transform:uppercase; 
		border-bottom: solid 2px #ffcc33;}
		
	.Date {color:#666;}
	

/*=============   JQUERY HOMEPAGE ROTATOR   ================================================================*/
#topZone{position:relative;overflow:visible;}
#topContentContainer{overflow:visible;}
#mainBody div.jQueryRotator{position:relative;}
#mainBody div.jQueryRotator div.data{/*position:absolute;left:0;top:0;*/z-index:5;width:955px;height:250px;overflow:visible;}
#mainBody div.jQueryRotator div.OneCol{margin:0;padding:0;/*background:transparent url(images/bg_JGJQuery.png) 323px -52px no-repeat;*/width:955px;height:250px;overflow:visible;}

#mainBody div.jQueryRotator div.image{position:absolute;left:0;top:0;margin:0;z-index:20;}
#mainBody div.jQueryRotator div.image a.teaserImage{display:block;width:955px;height:250px;}
#mainBody div.jQueryRotator .OneCol .image a.teaserImage img{display:block;margin:0;padding:0;}

/*#mainBody div.jQueryRotator div.image div.imageTextBG{position:absolute;left:280px;bottom:52px;z-index:25;height:200px;width:675px;margin:0;background:transparent url(images/bg_JGJQuery.png) left top no-repeat;}
*/
#mainBody div.jQueryRotator div.image h4{position:absolute;left:535px;top:30px;z-index:30;width:400px;color:#fff;font-size:30px;}
#mainBody div.jQueryRotator div.image h4 a,
#mainBody div.jQueryRotator div.image h4 a:hover,
#mainBody div.jQueryRotator div.image h4 a:active,
#mainBody div.jQueryRotator div.image h4 a:focus{color:#fff;text-decoration:none;}

#mainBody div.jQueryRotator div.image p.teaser{position:absolute;left:535px;top:70px;z-index:40;width:400px;color:#fff;font-size:16px;line-height:22px;margin-right:0;}
/*#mainBody div.jQueryRotator div.image p.teaser span.line1{padding-left:54px;}
#mainBody div.jQueryRotator div.image p.teaser span.line2{padding-left:36px;}
#mainBody div.jQueryRotator div.image p.teaser span.line3{padding-left:18px;}
#mainBody div.jQueryRotator div.image p.teaser span.line4{padding-left:0;}*/

#mainBody div.jQueryRotator #nav{width:941px;height:51px;overflow:hidden;position:absolute;left:0;top:198px;z-index:100;padding:4px 0 0 14px;background:#808080;/*background:transparent url(images/bg_rotatorNav.png) left top repeat;*/}
#mainBody div.jQueryRotator #nav a{text-decoration:none;height:47px;margin-left:10px;display:block;float:left;width:140px;color:#fff;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter:alpha(opacity=50);opacity:0.5;}

#mainBody div.jQueryRotator #nav a div.outerText{clear:none;}
#mainBody div.jQueryRotator #nav a div.innerText{padding-top:9px;}

.IE7 #mainBody div.jQueryRotator #nav a{zoom:1;}

#mainBody div.jQueryRotator #nav a:hover,
#mainBody div.jQueryRotator #nav a:active,
#mainBody div.jQueryRotator #nav a:focus,
#mainBody div.jQueryRotator #nav a.activeSlide{text-decoration:none;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);opacity:1.0;color:#fff;}
#mainBody div.jQueryRotator #nav a img{float:left;margin-right:7px;vertical-align:middle;}
#mainBody div.jQueryRotator #nav a:hover img,
#mainBody div.jQueryRotator #nav a.activeSlide img{}

#mainBody div.jQueryRotator #nav a img{border:1px solid #fff;}





div.overlayBG{display:none;position:fixed;left:0;top:0;z-index:998;background:transparent url(images/bg_lightbox.png)/*tpa=http://www.joyglobal.com/ClientCss/images/bg_lightbox.png*/ left top repeat;}
				div.overlayBG.visible{display:block;}
				
				div.overlayContent{display:none;position:fixed;left:0;top:0;z-index:999;}
				div.overlayContent.visible{display:block;}
				
				div.closeBtn{position:absolute;right:5px;top:5px;width:14px;height:15px;background:transparent url(images/brandUpdateClose.jpg)/*tpa=http://www.joyglobal.com/ClientCss/images/brandUpdateClose.jpg*/ left top no-repeat;cursor:pointer;}
				












