#lightbox{
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 100;
	text-align: center;
	line-height: 0;
	}

#lightbox a img{ border: none; }

#outerImageContainer{
	position: relative;
	background-color: #fff;
	width: 250px;
	height: 250px;
	margin: 0 auto;
	}

#imageContainer{
	padding: 10px;
	}

#loading{
	position: absolute;
	top: 40%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
	}
#hoverNav{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
	}
#imageContainer>#hoverNav{ left: 0;}
#hoverNav a{ outline: none;}

#prevLink, #nextLink{
	width: 49%;
	height: 100%;
	background: transparent url(lightbox/blank.gif)/*tpa=http://www.joyglobal.com/ClientCss/lightbox/blank.gif*/ no-repeat; /* Trick IE into showing hover */
	display: block;
	}
#prevLink { left: 0; float: left;}
#nextLink { right: 0; float: right;}
#prevLink:hover, #prevLink:visited:hover { background: url(lightbox/prev.gif)/*tpa=http://www.joyglobal.com/ClientCss/lightbox/prev.gif*/ left 15% no-repeat; }
#nextLink:hover, #nextLink:visited:hover { background: url(lightbox/next.gif)/*tpa=http://www.joyglobal.com/ClientCss/lightbox/next.gif*/ right 15% no-repeat; }


#imageDataContainer{
	font: 10px Verdana, Helvetica, sans-serif;
	background-color: #fff;
	margin: 0 auto;
	line-height: 1.4em;
	overflow: auto;
	width: 100%	
	}

#imageData{	padding:0 10px; color: #666; }
#imageData #imageDetails{ width: 70%; float: left; text-align: left; }	
#imageData #caption{ font-weight: bold;	}
#imageData #numberDisplay{ display: block; clear: left; padding-bottom: 1.0em;	}			
#imageData #bottomNavClose{ width: 33px; float: right;  padding-bottom: 0.7em;	}	
		
#overlay{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 500px;
	background-color: #000;
	}

/* ==== comment form ====
======================== */	
.commentForm{
	margin-bottom:30px;
	padding-bottom:20px;
	border-bottom:1px solid #ddd;
}

.commentForm .name,
.commentForm .email,
.commentForm .rating,
.commentForm .title,
.commentForm .comment,
.commentForm .recaptcha,
.commentForm .thankYouForm{
	margin-top:10px;
}

.commentForm .label{
	font-weight:bold;
	display:block;
}

/*.commentForm .comment .label{
	float:left;
	margin-right:5px;
}*/

.commentForm table{
	border-collapse:collapse;
	margin:0;
	padding:0;
}

.commentForm table tr{
	margin:0;
	padding:0;
}

.commentForm table td{
	margin:0;
	padding:0;
	text-align:center;
}

.commentForm .nameMessage,
.commentForm .emailMessage,
.commentForm .titleMessage,
.commentForm .ratingMessage,
.commentForm .commentMessage,
.commentForm .recaptchaMessage{
	display:none;
}

.commentForm .icon{
	display:none;
}
.commentForm .ErrorMessage{
	display:none;
}
.commentForm .messageOn,
.commentForm .error{
	color:#900;
	display:block;
}

.commentForm .buttons{
	margin-top:20px;
}

.commentForm .buttons,
.commentForm .thankYouForm{
	clear:both;
}

/* ==== comments ====
======================== */	
.commenting .label{
	font-weight:bold;
	margin-right:5px;
}

.comments .label,
.summary .label{
	float:left;
	font-weight:bold;
	margin-right:5px;
}

.summary{
	margin-bottom:20px;
	padding-bottom:10px;
	border-bottom:1px solid #ddd;
}

.summary .average,
.summary .count{
	margin-bottom:5px;
}	

.summary .average .rated{
	/*float:left;*/
	margin-right:4px;
}

.comments .comment .label{
	float:none;
}

.summary  .icon,
.comments .icon{
	display:none;
}

.comments .OneCol div{
	overflow:hidden;padding:10px;
}

.comments .OneCol .altRow{
	background:#eee;
}

.comments .OneCol div .title,
.comments .OneCol div .rating,
.comments .OneCol div .user,
.comments .OneCol div .dateTime,
.comments .OneCol div .comment{
	margin-bottom:2px;padding:0px;
}

.comments .OneCol div .title div,
.comments .OneCol div .rating div,
.comments .OneCol div .user div,
.comments .OneCol div .dateTime div,
.comments .OneCol div .comment div{
	padding:0px;
}

.comments .comment .value p{
	margin-bottom:0;
	padding-bottom:0;
	margin-top:5px;
	padding-top:0;
}
.comments .comment .value p:first-child{
	margin-top:0;
	padding-top:0;
}

.commenting .featured{
	margin:0 0 30px 0;
}
