BODY {
	FONT-SIZE: 11px; MARGIN: 0px; COLOR: #3a3a3a; FONT-FAMILY: Verdana, Helvetica, sans-serif 
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 17px; MARGIN: 5px 0px 14px; COLOR: #000000; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
H2 {
	PADDING-LEFT: 34px; FONT-WEIGHT: bold; FONT-SIZE: 12px; MARGIN: -35px 0px; COLOR: #999900; PADDING-TOP: 32px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 50px
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN: 0px; PADDING-BOTTOM: 3px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: #343321; PADDING-BOTTOM: 7px; MARGIN: 0px; TEXT-TRANSFORM: uppercase; COLOR: #ffffff; PADDING-TOP: 7px; LETTER-SPACING: 0px
}
H5 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; MARGIN: 5px 0px 14px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H6 {
	TEXT-DECORATION: none; FONT-SIZE: 10px; MARGIN: 5px 0px 14px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

HR {
	MARGIN: 1em auto; WIDTH: 100%; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 1px; BACKGROUND-COLOR: #f2f2f2; BORDER-BOTTOM-STYLE: none; BORDER-BOTTOM: #3a3a3a 1px dotted
}
P {
	MARGIN: 0px 0px 15px;
	FONT-SIZE: 11px;
	COLOR: #3a3a3a;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}

input.search {
margin-top: -10px;
}

LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; color: #3a3a3a
}

A:link {
	COLOR: #003f74; TEXT-DECORATION: none
}
A:visited {
	COLOR: #003f74; TEXT-DECORATION: none
}
A:active {
	COLOR: #003f74; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #003f74; TEXT-DECORATION: underline
}
#content H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; MARGIN: 5px 0px 14px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
#contentform H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; MARGIN: 5px 0px 14px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}

#content A:link {
	COLOR: #003f74; TEXT-DECORATION: underline
}
#content A:visited {
	COLOR: #003f74; TEXT-DECORATION: underline
}
#content A:active {
	COLOR: #003f74; TEXT-DECORATION: bold
}
#content A:hover {
	COLOR: #00549a;
	TEXT-DECORATION: bold;
	text-align: left;
}
#demo A:link {
	COLOR: #003f74; TEXT-DECORATION: underline
}
#demo A:visited {
	COLOR: #003f74; TEXT-DECORATION: underline
}
#demo A:active {
	COLOR: #003f74; TEXT-DECORATION: underline
}
#demo A:hover {
	COLOR: #003f74;
	TEXT-DECORATION: underline;
}
#line {
	MARGIN: 7px 0px 14px; WIDTH: 100%; BORDER-BOTTOM: #f4f4f4 1px solid
}
#dottdline {
	MARGIN: 12px 0px 19px; WIDTH: 100%; BORDER-BOTTOM: #cccccc 1px dotted
}
#topbg {
	BACKGROUND: url(../media/top-bg.jpg)/*tpa=http://www.wesco.com/media/top-bg.jpg*/ no-repeat center bottom; HEIGHT: 320px
}
#topbg-interior {
	BACKGROUND: url(../media/topbg-interior.jpg)/*tpa=http://www.wesco.com/media/topbg-interior.jpg*/ no-repeat center bottom; HEIGHT: 250px 
}
#toptext {
	FONT-SIZE: 11px; FLOAT: right; MARGIN-top: -12px; COLOR: #ffffff; TEXT-ALIGN: right;
}
#toptext A:link {
	PADDING-LEFT: 4px; FONT-WEIGHT: bold; COLOR: #ffffff; display: block;
}
#toptext A:visited {
	PADDING-LEFT: 4px; FONT-WEIGHT: bold; COLOR: #ffffff
}
#toptext A:active {
	PADDING-LEFT: 4px; FONT-WEIGHT: bold; COLOR: #ffffff
}
#toptext A:hover {
	BACKGROUND: #1775ab; COLOR: #ffffff; TEXT-DECORATION: none
}
#toptext img {
padding-bottom: 5px;
}
#toptext form {
margin-right: 7px; display: block;
}
#toptext form input.search {
width: 120px;
}
#sidenav UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px;  PADDING-BOTTOM: 0px; MARGIN: 3px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; color: #787878;
}
#sidenav LI {
	PADDING-RIGHT: 0px; border-bottom: #3a3a3a 1px dotted; PADDING-LEFT: 0px; PADDING-BOTTOM: 4px; MARGIN: 0px; PADDING-TOP: 4px; LIST-STYLE-TYPE: none; color: #787878;
}
#sidenav A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 15px; FONT-WEIGHT: normal; FONT-SIZE: 11px; no-repeat; PADDING-BOTTOM: 3px; COLOR: #3a3a3a; PADDING-TOP: 3px; TEXT-DECORATION: none; outline: none
}
#sidenav A:hover {
	FONT-WEIGHT: normal; BACKGROUND: #ffffff; no-repeat; TEXT-DECORATION: none; color: #003f74;
}

#sidenav H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: url(../media/side-h1-bg.jpg)/*tpa=http://www.wesco.com/media/side-h1-bg.jpg*/ no-repeat; PADDING-BOTTOM: 0px; MARGIN: 0px 0px -3px; WIDTH: 192px; COLOR: #000000; PADDING-TOP: 7px; LETTER-SPACING: 0px; HEIGHT: 23px
}
#content UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 1px; FONT-SIZE: 11px; MARGIN: 2px; COLOR: #3a3a3a; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
#demo UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 1px; FONT-SIZE: 11px; MARGIN: 2px;  FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
#content LI {
	PADDING-LEFT: 0px; PADDING-TOP: 0px; LIST-STYLE-IMAGE: url(../media/bullet.jpg)/*tpa=http://www.wesco.com/media/bullet.jpg*/
}
#contentform UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 1px; FONT-SIZE: 11px; MARGIN: 2px; COLOR: #3a3a3a; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
#contentform LI {
	PADDING-LEFT: 0px; PADDING-TOP: 0px; LIST-STYLE-IMAGE: url(../media/bullet.jpg)/*tpa=http://www.wesco.com/media/bullet.jpg*/
}
#page {
	MARGIN: auto; WIDTH: 960px
}
#contentside {
	MIN-HEIGHT: 475px; BACKGROUND: url() #fff no-repeat 50% bottom; MARGIN: auto; OVERFLOW: hidden; WIDTH: 960px
}
#header {
	MARGIN: auto; WIDTH: 960px; PADDING-TOP: 28px; HEIGHT: 100px
}
#header-interior {
	MARGIN: auto; WIDTH: 960px; PADDING-TOP: 28px; HEIGHT: 100px
}
#bottomhalf {
	BACKGROUND: url(../media/gray.jpg)/*tpa=http://www.wesco.com/media/gray.jpg*/ #f2f2f2 no-repeat 50% bottom

}
#side {
	PADDING-RIGHT: 10px; MARGIN-TOP: 10px; PADDING-LEFT: 10px;  PADDING-BOTTOM: 10px; FLOAT: left; WIDTH: 200px
}
#content {
	MARGIN-TOP: 10px;
	FLOAT: left;
	MARGIN-BOTTOM: 20px;
	MARGIN-LEFT: 10px;
	WIDTH: 490px;
}
#contentform {
	MARGIN-TOP: 10px; FLOAT: left; MARGIN-BOTTOM: 20px; MARGIN-LEFT: 10px; WIDTH: 700px
}
#contentsearch {
	MARGIN-TOP: 10px; FLOAT: left; MARGIN-BOTTOM: 20px; MARGIN-LEFT: 10px; WIDTH: 700px
}
#rside {
	PADDING-RIGHT: 5px; MARGIN-TOP: 10px; PADDING-LEFT: 20px; FLOAT: left; WIDTH: 205px
}
#rside H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: url(../media/side-h1-bg.jpg)/*tpa=http://www.wesco.com/media/side-h1-bg.jpg*/ no-repeat; PADDING-BOTTOM: 0px; MARGIN: 0px 0px -3px; WIDTH: 192px; COLOR: #000000; PADDING-TOP: 7px; LETTER-SPACING: 0px; HEIGHT: 23px
}
#footer {
	CLEAR: both; MARGIN: auto; WIDTH: 960px; COLOR: #e9e9e9; LINE-HEIGHT: 20px; PADDING-TOP: 7px; MIN-HEIGHT: 112px; TEXT-ALIGN: left; POSITION: relative;
}
#footer .social-media{
	position: absolute;
	right: 0;
	top: 35%;
}
#footer .social-media .text-connect{
	display: block;
	margin: 0 0 .5em 1em;
}
#footer .social-media a{
	text-decoration: none;
}
#footer .social-media img{
	border: 0;
	margin-left: .75em;
	max-width: 32px;
}
#footer A:link {
	MARGIN-LEFT: 3px; COLOR: #FFFFFF; MARGIN-RIGHT: 3px; TEXT-DECORATION: none
}
#footer A:visited {
	MARGIN-LEFT: 3px; COLOR: #FFFFFF; MARGIN-RIGHT: 3px; TEXT-DECORATION: none
}
#footer A:active {
	MARGIN-LEFT: 3px; COLOR: #FFFFFF; MARGIN-RIGHT: 3px; TEXT-DECORATION: none
}
#footer A:hover {
	COLOR: #FFFFFF; TEXT-DECORATION: underline
}
#fullfooter {
	CLEAR: both; BACKGROUND: url(../media/footer-bg.jpg)/*tpa=http://www.wesco.com/media/footer-bg.jpg*/ repeat-x; WIDTH: 100%; HEIGHT: 121px
}
#navbar {
	CLEAR: both; BACKGROUND: url(../media/nav-bar-img.jpg)/*tpa=http://www.wesco.com/media/nav-bar-img.jpg*/ #ffffff repeat-x; HEIGHT: 27px; TEXT-ALIGN: right; FONT-FAMILY: Arial, Helvetica, sans-serif
}
#navbar UL {
	
}
#navbar LI {
	DISPLAY: inline; MARGIN: 0px; HEIGHT: 27px
}
#navbar LI A {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; FONT-WEIGHT: bold; FLOAT: right; BORDER-LEFT: #003a6b 1px solid; COLOR: #f0f0f0; PADDING-TOP: 7px; HEIGHT: 20px; TEXT-ALIGN: left; outline: none
}
#navbar LI A:hover {
	BACKGROUND: url(../media/nav-hover.jpg)/*tpa=http://www.wesco.com/media/nav-hover.jpg*/ repeat-x; COLOR: #fff; TEXT-DECORATION: none
}

#mainimage-interior {
	MARGIN-TOP: 2px; BACKGROUND: url(../media/career-youth.jpg)/*tpa=http://www.wesco.com/media/career-youth.jpg*/ no-repeat; WIDTH: 960px; HEIGHT: 134px
}
#mainimage-interior-about {
	MARGIN-TOP: 2px; BACKGROUND: url(../media/about-banner.jpg)/*tpa=http://www.wesco.com/media/about-banner.jpg*/ no-repeat; WIDTH: 960px; HEIGHT: 134px
}
#mainimage-interior-markets {
	MARGIN-TOP: 2px; BACKGROUND: url(../media/markets-banner.jpg)/*tpa=http://www.wesco.com/media/markets-banner.jpg*/ no-repeat; WIDTH: 960px; HEIGHT: 134px
}
#mainimage-interior-industrial {
	MARGIN-TOP: 2px; BACKGROUND: url(../media/industrial-banner.jpg)/*tpa=http://www.wesco.com/media/industrial-banner.jpg*/ no-repeat; WIDTH: 960px; HEIGHT: 134px
}
#mainimage-interior-construction {
	MARGIN-TOP: 2px; BACKGROUND: url(../media/construction-banner.jpg)/*tpa=http://www.wesco.com/media/construction-banner.jpg*/ no-repeat; WIDTH: 960px; HEIGHT: 134px
}
#mainimage-interior-utility {
	MARGIN-TOP: 2px; BACKGROUND: url(../media/utility-banner.jpg)/*tpa=http://www.wesco.com/media/utility-banner.jpg*/ no-repeat; WIDTH: 960px; HEIGHT: 134px
}
#mainimage-interior-government {
	MARGIN-TOP: 2px; BACKGROUND: url(../media/government-banner.jpg)/*tpa=http://www.wesco.com/media/government-banner.jpg*/ no-repeat; WIDTH: 960px; HEIGHT: 134px
}
#mainimage-interior-healthcare {
	MARGIN-TOP: 2px; BACKGROUND: url(../media/healthcare-banner.jpg)/*tpa=http://www.wesco.com/media/healthcare-banner.jpg*/ no-repeat; WIDTH: 960px; HEIGHT: 134px
}
#mainimage-interior-datacomm {
	MARGIN-TOP: 2px; BACKGROUND: url(../media/datacomm-banner.jpg)/*tpa=http://www.wesco.com/media/datacomm-banner.jpg*/ no-repeat; WIDTH: 960px; HEIGHT: 134px
}
#mainimage-interior-oem {
	MARGIN-TOP: 2px; BACKGROUND: url(../media/oem-banner.jpg)/*tpa=http://www.wesco.com/media/oem-banner.jpg*/ no-repeat; WIDTH: 960px; HEIGHT: 134px
}
#mainimage-interior-manufactured {
	MARGIN-TOP: 2px; BACKGROUND: url(../media/manufactured-banner.jpg)/*tpa=http://www.wesco.com/media/manufactured-banner.jpg*/ no-repeat; WIDTH: 960px; HEIGHT: 134px
}
#mainimage-interior-integrated {
	MARGIN-TOP: 2px; BACKGROUND: url(../media/integrated-banner.jpg)/*tpa=http://www.wesco.com/media/integrated-banner.jpg*/ no-repeat; WIDTH: 960px; HEIGHT: 134px
}
#mainimage-interior-retail {
	MARGIN-TOP: 2px; BACKGROUND: url(../media/retail-banner.jpg)/*tpa=http://www.wesco.com/media/retail-banner.jpg*/ no-repeat; WIDTH: 960px; HEIGHT: 134px
}
#mainimage-interior-customers {
	MARGIN-TOP: 2px; BACKGROUND: url(../media/customers-banner.jpg)/*tpa=http://www.wesco.com/media/customers-banner.jpg*/ no-repeat; WIDTH: 960px; HEIGHT: 134px
}
#mainimage-interior-products {
	MARGIN-TOP: 2px; BACKGROUND: url(../media/products-banner.jpg)/*tpa=http://www.wesco.com/media/products-banner.jpg*/ no-repeat; WIDTH: 960px; HEIGHT: 134px
}
#mainimage-interior-suppliers {
	MARGIN-TOP: 2px; BACKGROUND: url(../media/products-banner.jpg)/*tpa=http://www.wesco.com/media/products-banner.jpg*/ no-repeat; WIDTH: 960px; HEIGHT: 134px
}
#mainimage-interior-services {
	MARGIN-TOP: 2px; BACKGROUND: url(../media/services-banner.jpg)/*tpa=http://www.wesco.com/media/services-banner.jpg*/ no-repeat; WIDTH: 960px; HEIGHT: 134px
}
#mainimage-interior-careers {
	MARGIN-TOP: 2px; BACKGROUND: url(../media/careers-banner.jpg)/*tpa=http://www.wesco.com/media/careers-banner.jpg*/ no-repeat; WIDTH: 960px; HEIGHT: 134px
}
#mainimage-interior-success {
	MARGIN-TOP: 2px; BACKGROUND: url(../media/success-banner.jpg)/*tpa=http://www.wesco.com/media/success-banner.jpg*/ no-repeat; WIDTH: 960px; HEIGHT: 134px
}
#mainimage-interior-investors {
	MARGIN-TOP: 2px; BACKGROUND: url(../media/investors-banner.jpg)/*tpa=http://www.wesco.com/media/investors-banner.jpg*/ no-repeat; WIDTH: 960px; HEIGHT: 134px
}
#mainimage-interior-governance {
	MARGIN-TOP: 2px; BACKGROUND: url(../media/governance-banner.jpg)/*tpa=http://www.wesco.com/media/governance-banner.jpg*/ no-repeat; WIDTH: 960px; HEIGHT: 134px
}
#mainimage-interior-international {
	MARGIN-TOP: 2px; BACKGROUND: url(../media/international-banner.jpg)/*tpa=http://www.wesco.com/media/international-banner.jpg*/ no-repeat; WIDTH: 960px; HEIGHT: 134px
}
#mainimage-interior-lighting {
	MARGIN-TOP: 2px; BACKGROUND: url(../media/lighting-banner.jpg)/*tpa=http://www.wesco.com/media/lighting-banner.jpg*/ no-repeat; WIDTH: 960px; HEIGHT: 134px
}
#mainimage-interior-contact {
	MARGIN-TOP: 2px; BACKGROUND: url(../media/contact-banner.jpg)/*tpa=http://www.wesco.com/media/contact-banner.jpg*/ no-repeat; WIDTH: 960px; HEIGHT: 134px
}
#mainimage-interior-ebiz {
	MARGIN-TOP: 2px; BACKGROUND: url(../media/ebiz-banner.jpg)/*tpa=http://www.wesco.com/media/ebiz-banner.jpg*/ no-repeat; WIDTH: 960px; HEIGHT: 134px
}
#mainimage-interior-ts {
	MARGIN-TOP: 2px; BACKGROUND: url(../media/ts-banner.jpg)/*tpa=http://www.wesco.com/media/ts-banner.jpg*/ no-repeat; WIDTH: 960px; HEIGHT: 134px
}
#mainimage-interior-aes {
	MARGIN-TOP: 2px; BACKGROUND: url(../media/aes-banner.jpg)/*tpa=http://www.wesco.com/media/aes-banner.jpg*/ no-repeat; WIDTH: 960px; HEIGHT: 134px
}
#mainimage-interior-lcvc {
	MARGIN-TOP: 2px; BACKGROUND: url(../media/lcvc-banner.jpg)/*tpa=http://www.wesco.com/media/lcvc-banner.jpg*/ no-repeat; WIDTH: 960px; HEIGHT: 134px
}
#mainimage-interior-lean {
	MARGIN-TOP: 2px; BACKGROUND: url(../media/lean-banner.jpg)/*tpa=http://www.wesco.com/media/lean-banner.jpg*/ no-repeat; WIDTH: 960px; HEIGHT: 134px
}
#mainimage-interior-recovery {
	MARGIN-TOP: 2px; BACKGROUND: url(../media/recovery-banner.jpg)/*tpa=http://www.wesco.com/media/recovery-banner.jpg*/ no-repeat; WIDTH: 960px; HEIGHT: 134px
}
#mainimage-interior-er {
	MARGIN-TOP: 2px; BACKGROUND: url(../media/er-banner.jpg)/*tpa=http://www.wesco.com/media/er-banner.jpg*/ no-repeat; WIDTH: 960px; HEIGHT: 134px
}
#mainimage-interior-national {
	MARGIN-TOP: 2px; BACKGROUND: url(../media/national-banner.jpg)/*tpa=http://www.wesco.com/media/national-banner.jpg*/ no-repeat; WIDTH: 960px; HEIGHT: 134px
}
#mainimage-interior-green {
	MARGIN-TOP: 2px; BACKGROUND: url(../media/green-banner.jpg)/*tpa=http://www.wesco.com/media/green-banner.jpg*/ no-repeat; WIDTH: 960px; HEIGHT: 134px
}
#front-image {
	MARGIN-TOP: 2px; BACKGROUND: url(../media/front-image.jpg)/*tpa=http://www.wesco.com/media/front-image.jpg*/ no-repeat; WIDTH: 960px; HEIGHT: 250px
}
.homeboxbrands {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: url(../media/datacomm.jpg)/*tpa=http://www.wesco.com/media/datacomm.jpg*/ no-repeat 50% top; WIDTH: 168px; COLOR: #990000; HEIGHT: 125px
}
.homeboxclients {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: url(../media/datacomm.jpg)/*tpa=http://www.wesco.com/media/datacomm.jpg*/ no-repeat 50% top; WIDTH: 168px; COLOR: #990000; HEIGHT: 125px
}
.homeboxpartners {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: url(../media/datacomm.jpg)/*tpa=http://www.wesco.com/media/datacomm.jpg*/ no-repeat 50% top; WIDTH: 168px; COLOR: #990000; HEIGHT: 125px
}
.homeboxtext {
	FONT-SIZE: 10px; WIDTH: 158px; COLOR: #686868; HEIGHT: 100px
}

#news H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: url(../media/side-h1-bg.jpg)/*tpa=http://www.wesco.com/media/side-h1-bg.jpg*/ no-repeat; PADDING-BOTTOM: 0px; MARGIN: 0px 0px -3px; WIDTH: 192px; COLOR: #000000; PADDING-TOP: 7px; LETTER-SPACING: 0px; HEIGHT: 23px
}
#news UL {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 20px; MARGIN: 0px; PADDING-TOP: 0px
}
#news LI {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 15px; BACKGROUND: #f9f9f9; PADDING-BOTTOM: 10px; MARGIN: 0px 0px 1px; PADDING-TOP: 10px; BORDER-BOTTOM: #e9e9e9 1px dotted; LIST-STYLE-TYPE: none
}
#news LI A {
	COLOR: #003f74; TEXT-DECORATION: bold
}
#news LI A:hover {
	COLOR: #f003f74; TEXT-DECORATION: underline
}


#form H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: url(../media/side-h1-bg.jpg)/*tpa=http://www.wesco.com/media/side-h1-bg.jpg*/ no-repeat; PADDING-BOTTOM: 0px; MARGIN: 0px 0px -3px; WIDTH: 192px; COLOR: #000000; PADDING-TOP: 7px; LETTER-SPACING: 0px; HEIGHT: 23px
}
#form UL {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 0px; PADDING-TOP: 0px
}
#form LI {
	PADDING-RIGHT: 10px; FONT-SIZE: 10px; DISPLAY: block; PADDING-LEFT: 15px; BACKGROUND: #f9f9f9; PADDING-BOTTOM: 5px; MARGIN: 0px 0px 1px; PADDING-TOP: 10px; BORDER-BOTTOM: #e9e9e9 1px dotted; LIST-STYLE-TYPE: none
}
#form LI A {
	COLOR: #003f74; TEXT-DECORATION: bold
}
#form LI A:hover {
	COLOR: #f003f74; TEXT-DECORATION: underline
}

#footerholder {
	MARGIN: auto; WIDTH: 960px
}
#footerholder A:link {
	FONT-SIZE: 11px; COLOR: #2e2e0c
}
#footerholdera:visited {
	FONT-SIZE: 11px; COLOR: #2e2e0c
}
#footerholder A:active {
	FONT-SIZE: 11px; COLOR: #2e2e0c
}

#footernav {
	FLOAT: right; COLOR: #FFFFFF; HEIGHT: 28px; TEXT-ALIGN: right; FONT-FAMILY: Arial, Helvetica, sans-serif
}
#footernav A:link {
	FONT-WEIGHT: normal; MARGIN-LEFT: 3px; COLOR: #ffffff; MARGIN-RIGHT: 3px; TEXT-DECORATION: none
}
#footernav A:visited {
	FONT-WEIGHT: normal; MARGIN-LEFT: 3px; COLOR: #ffffff; MARGIN-RIGHT: 3px; TEXT-DECORATION: none
}
#footernav A:active {
	FONT-WEIGHT: normal; MARGIN-LEFT: 3px; COLOR: #ffffff; MARGIN-RIGHT: 3px; TEXT-DECORATION: none
}
#footernav A:hover {
	COLOR: #999999
}
#copyright {
	FLOAT: left; HEIGHT: 100%; WIDTH: 960px; FONT-SIZE: 10px; BACKGROUND: #002F59; COLOR: #FFFFFF; MARGIN-LEFT: 6px; LINE-HEIGHT: 14px; PADDING-TOP: 8px; HEIGHT: 39px
}
#copyright A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #FFFFFF
}
#copyright A:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #FFFFFF
}
#copyright A:active {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #FFFFFF
}
#copyright A:hover {
	COLOR: #FFFFFF; TEXT-DECORATION: underline
}
.clogin {
	FONT-SIZE: 10px; FLOAT: right
}
.r {
	BORDER-TOP-WIDTH: 0px; CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; POSITION: relative; BORDER-RIGHT-WIDTH: 0px
}
.r:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.c {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FLOAT: left; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
.formdesc {
	FONT-WEIGHT: bold; WIDTH: 120px
}
.formfield {
	FONT-SIZE: 10px; MARGIN: 0px 0px 0px 10px; WIDTH: 350px; COLOR: #666666
}
.formfielddesc {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 12px; PADDING-BOTTOM: 3px; MARGIN: 0px 0px 10px 10px; WIDTH: 350px; COLOR: #666666; PADDING-TOP: 3px; HEIGHT: 100px
}
#date {
	PADDING-LEFT: 15px; FONT-WEIGHT: bold; FLOAT: left; COLOR: #f2f2f2; PADDING-TOP: 6px
}
#box-highlight {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; FONT-WEIGHT: bold; BACKGROUND: url(../media/home-box_brands.jpg)/*tpa=http://www.wesco.com/media/home-box_brands.jpg*/ no-repeat; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 227px; COLOR: #3a3a3a; MARGIN-RIGHT: 0px; PADDING-TOP: 10px; HEIGHT: 127px
}
#box-highlight2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; FONT-WEIGHT: bold; BACKGROUND: url(../media/home-box-clients.jpg)/*tpa=http://www.wesco.com/media/home-box-clients.jpg*/ no-repeat; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 227px; COLOR: #3a3a3a; MARGIN-RIGHT: 0px; PADDING-TOP: 10px; HEIGHT: 127px
}
#box-highlight3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; FONT-WEIGHT: bold; BACKGROUND: url(../media/home-box-partners.jpg)/*tpa=http://www.wesco.com/media/home-box-partners.jpg*/ no-repeat; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 210px; COLOR: #3a3a3a; MARGIN-RIGHT: 0px; PADDING-TOP: 10px; HEIGHT: 127px
}
#box-highlight4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; FONT-WEIGHT: bold; BACKGROUND: url(../media/integrated.jpg)/*tpa=http://www.wesco.com/media/integrated.jpg*/ no-repeat; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 227px; COLOR: #3a3a3a; MARGIN-RIGHT: 0px; PADDING-TOP: 10px; HEIGHT: 127px
}
#box-highlight5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; FONT-WEIGHT: bold; BACKGROUND: url(../media/datacomm.jpg)/*tpa=http://www.wesco.com/media/datacomm.jpg*/ no-repeat; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 227px; COLOR: #3a3a3a; MARGIN-RIGHT: 0px; PADDING-TOP: 10px; HEIGHT: 127px
}
#box-highlight6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; FONT-WEIGHT: bold; BACKGROUND: url(../media/oem.jpg)/*tpa=http://www.wesco.com/media/oem.jpg*/ no-repeat; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 210px; COLOR: #3a3a3a; MARGIN-RIGHT: 0px; PADDING-TOP: 10px; HEIGHT: 127px
}
#box-clients {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; FONT-WEIGHT: bold; BACKGROUND: url(../media/home-box-clients.jpg)/*tpa=http://www.wesco.com/media/home-box-clients.jpg*/ no-repeat; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 227px; COLOR: #3a3a3a; MARGIN-RIGHT: 0px; PADDING-TOP: 10px; HEIGHT: 127px
}
#box-partners {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; FONT-WEIGHT: bold; BACKGROUND: url(../media/home-box-partners.jpg)/*tpa=http://www.wesco.com/media/home-box-partners.jpg*/ no-repeat; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 210px; COLOR: #3a3a3as; MARGIN-RIGHT: 0px; PADDING-TOP: 10px; HEIGHT: 127px
}
#box-branding-text {
	PADDING-RIGHT: 35px; FONT-FAMILY: Verdana, Helvetica, sans-serif; FONT-SIZE: 10px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 200px; MARGIN-RIGHT: 0px; PADDING-TOP: 0px; HEIGHT: 60px
}
#box-clients-text {
	PADDING-RIGHT: 0px; FONT-FAMILY: Verdana, Helvetica, sans-serif; FONT-SIZE: 10px; PADDING-LEFT: 8px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 200px; MARGIN-RIGHT: 0px; PADDING-TOP: 0px; HEIGHT: 60px
}
#box-partners-text {
	PADDING-RIGHT: 0px; FONT-FAMILY: Verdana, Helvetica, sans-serif; FONT-SIZE: 10px; PADDING-LEFT: 43px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 200px; MARGIN-RIGHT: 0px; PADDING-TOP: 0px; HEIGHT: 60px
}
.demos {
	MARGIN-RIGHT: 7px
}
.demoslast {
	MARGIN: 0px
}
.formdesc {
	FONT-WEIGHT: bold; WIDTH: 120px
}
.formfield {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 10px; PADDING-BOTTOM: 3px; MARGIN: 0px 0px 10px 10px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 350px; COLOR: #666666; PADDING-TOP: 3px; BORDER-BOTTOM: #cccccc 1px solid
}
.formfielddesc {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 12px; PADDING-BOTTOM: 3px; MARGIN: 0px 0px 10px 10px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 350px; COLOR: #666666; PADDING-TOP: 3px; BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: 100px
}
.c {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#topline {
	BORDER-TOP: #CCCCCC 3px solid
}
#header #right-side {
	FLOAT: right; WIDTH: 700px; POSITION: relative; HEIGHT: 70px
}
#header #topnavlinks {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; Z-INDEX: 100; RIGHT: 5px; PADDING-BOTTOM: 25px; COLOR: #cadadc; LINE-HEIGHT: 0.98em; PADDING-TOP: 0px; POSITION: absolute; TOP: 10px
}


.branches_list {margin-left:25px; font-family:Arial, Helvetica, sans-serif; color:#333; font-size:12px;}

.branches_list a:link {font-size:14px; font-family:Arial, Helvetica, sans-serif; color:#006; text-decoration:underline;}

.branches_list a:visited {font-size:14px; font-family:Arial, Helvetica, sans-serif; color:#006; text-decoration:underline;}

.branches_list a:hover {font-size:14px; font-family:Arial, Helvetica, sans-serif; color:#333; text-decoration:underline;}

.branches_list a:active {font-size:14px; font-family:Arial, Helvetica, sans-serif; color:#333; text-decoration:underline;}


#branch_info_box {width:675px; height:75px; background-color:#e7e7e7; border:1px solid #999;}

#branch_info {float:left;font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#003; text-align:left; padding:10px;}

#click_here {float:right; border:none;padding-top:10px;}


.error {font-family:Arial, Helvetica, sans-serif; color:#036; font-size:12px; text-align:left; margin-top:10px; margin-bottom:10px;}

.form_label {font-family:Arial, Helvetica, sans-serif; color:#036; font-size:12px; text-align:right; vertical-align:text-top; padding-top:4px;}

.bluelinks a:link  {
	COLOR: #003f74; TEXT-DECORATION: underline;
	}
.bluelinks a:visited {
	COLOR: #003f74; TEXT-DECORATION: underline;
	}
/*#lighting-ads .ad-cycle{display: none;}
#lighting-ads .ad{right: 0; text-align: center;}
#lighting-ads .ad img {border: 0; max-width: 180px;}
#lighting-ads .lighting-ads-cycle {min-height: 200px;}
*/
#lighting-ads .ad{text-align: center; margin: 4em 0;}
#lighting-ads .ad:first-child{margin-top: 2em;}
#lighting-ads .ad img {border: 0; max-width: 180px;}

img[src$="wescodirect_products.jpg"]{
	box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.15);
}

<!--[if IE]>
<style type="text/css">
#toptext FORM {
margin-top: -3px;
float: right;
</style>
<![endif]-->
