
body {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}


div {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
:focus {
	outline: 0;
}
img {
	border: 0;
}



/* tables still need 'cellspacing="0"' in the markup */

table {
	border-collapse: collapse;
	border-spacing: 0;
}
td {
	text-align: left;
	font-weight: normal;
}
th {
	text-align: left;
	font-weight: normal;
}
caption {
	text-align: left;
	font-weight: normal;
}
q:after {
	content: "";
}
q:before {
	content: "";
}
blockquote:after {
	content: "";
}
blockquote:before {
	content: "";
}
q {
	quotes: "" "";
}
blockquote {
	quotes: "" "";
}

/* Cliffs Styles for website */


p {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

a {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}


.body {
	line-height: 1.4em;
	color: black;
	background-image: url("images/bg.gif")/*tpa=http://www.cliffsnaturalresources.com/Style Library/cliffs/images/bg.gif*/;
	font-family: Arial, Helvetica, Tahoma, sans-serif;
}


#wrapper {
	width: 1009px;
	margin:0px auto;
	background: url("images/drop-right.png")/*tpa=http://www.cliffsnaturalresources.com/Style Library/cliffs/images/drop-right.png*/;
	background-repeat: repeat-y;
	background-position: right;
}
#wrapper2 {
	width: 1009px;
	margin:0px auto;
	background: black;
	background: url("images/drop-left.png")/*tpa=http://www.cliffsnaturalresources.com/Style Library/cliffs/images/drop-left.png*/;
	background-repeat: repeat-y;
	background-position: left;
}
#container {
	width: 995px;
	margin:0px auto;
	background: white;
}

#top-bar {
	position:relative;
	background-color: #e8eaec;
	height: 40px;
	color: #666666;
	line-height: 33px;
}

#language-select{
	margin-left: 15px;
	color: #666666;
	font-size: 11px;
	font-family: Arial, Helvetica, Tahoma, sans-serif;
}

#search{	
	position: absolute;		
	color: #666666;
	font-size: 11px;
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	width:400px;
    	margin: 0 10px 0 0;
    	padding: -10 10px 0 0px;
	
}


#cliffs-title{	
	position: absolute;		
	color: #005696;
	font-size: 11px;
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	width:180px;
    padding: -10 10px 0 0px;
	
}




#adminlinks{
    	position:relative;
	background-color: #e8eaec;
	height: 40px;
	color: #666666;
	font-color:#e8eaec;

}


#header {
	position: relative;
	height: 80px;
	margin-left: 25px;
	margin-right:  5px;
	background-image:url('images/top-hrule.gif')/*tpa=http://www.cliffsnaturalresources.com/Style Library/cliffs/images/top-hrule.gif*/;
	background-repeat:no-repeat;
	background-position:left bottom;
	z-index: 10;
}


#headerimagearea{
	margin-top: 5px;
	margin-left: 25px;
	position: relative;
	
}

#headerimagearea2{
	margin-top: 10px;
	
	position: relative;
	margin-left: 5px;
	
}

#logo {
	float: left;
	background-image: url('images/cliffs-logo.gif')/*tpa=http://www.cliffsnaturalresources.com/Style Library/cliffs/images/cliffs-logo.gif*/;
	background-position: top left;
	background-repeat: no-repeat;
	height: 53px;
	width: 210px;
	margin-top: 12px;
	margin-right: 12px;
}


#menu-wrap{
	margin-left: 220px ;
}


#home-content{
	
	margin-left:20px;
	position: relative;
	

}

#content-col1{
	float: left;
	width: 315px;
	margin-right: 15px;
	margin-bottom: 20px;
	padding-top: 65px;
	min-height:350px;
	background-image: url('images/featured-title.gif')/*tpa=http://www.cliffsnaturalresources.com/Style Library/cliffs/images/featured-title.gif*/;
	background-position: top left;
	background-repeat: no-repeat;
	margin-left: 10px
	
}


#content-col1 p{
	width: 280px;
	color: #005696;
	font-size: 11px;
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	margin-bottom: 10px;
	line-height: 130%;
}

#content-col1 a{
	color: #005696;
}

#content-col2{
	float: left;
	width: 315px;
	margin-right: 20px;
	padding-top: 65px;
	background-image: url('images/cliffsnews-title.gif')/*tpa=http://www.cliffsnaturalresources.com/Style Library/cliffs/images/cliffsnews-title.gif*/;
	background-position: top left;
	background-repeat: no-repeat;

}

#content-col2 p{
	width: 280px;
	color: #005696;
	font-size: 11px;
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	margin-bottom: 10px;
	line-height: 130%;
}

#content-col2 a{
	color: #005696;
}

#content-col3{
	float: left;
	width:  281px;
	padding-top: 60px;
	background-image: url('images/clf-header-sm.gif')/*tpa=http://www.cliffsnaturalresources.com/Style Library/cliffs/images/clf-header-sm.gif*/;
	background-position: top left;
	background-repeat: no-repeat;
	margin-right:10px;
	font-size: 11px;
}

#content-col1-fre{
	float: left;
	width: 315px;
	margin-right: 15px;
	margin-bottom: 20px;
	padding-top: 65px;
	min-height:350px;
	background-image: url('images/featured-title-FRE.gif')/*tpa=http://www.cliffsnaturalresources.com/Style Library/cliffs/images/featured-title-FRE.gif*/;
	background-position: top left;
	background-repeat: no-repeat;
	margin-left: 10px
	
}


#content-col1-fre p{
	width: 280px;
	color: #005696;
	font-size: 11px;
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	margin-bottom: 10px;
	line-height: 130%;
}

#content-col1-fre a{
	color: #005696;
}

#content-col2-fre{
	float: left;
	width: 315px;
	margin-right: 20px;
	padding-top: 65px;
	background-image: url('images/cliffsnews-title-FRE.gif')/*tpa=http://www.cliffsnaturalresources.com/Style Library/cliffs/images/cliffsnews-title-FRE.gif*/;
	background-position: top left;
	background-repeat: no-repeat;

}

#content-col2-fre p{
	width: 280px;
	color: #005696;
	font-size: 11px;
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	margin-bottom: 10px;
	line-height: 130%;
}

#content-col2-fre a{
	color: #005696;
}

#content-col3-fre{
	float: left;
	width:  281px;
	padding-top: 60px;
	background-image: url('images/clf-header-sm.gif')/*tpa=http://www.cliffsnaturalresources.com/Style Library/cliffs/images/clf-header-sm.gif*/;
	background-position: top left;
	background-repeat: no-repeat;
	margin-right:10px;
	font-size: 11px;
}

#content-col1-cn{
	float: left;
	width: 315px;
	margin-right: 15px;
	margin-bottom: 20px;
	padding-top: 65px;
	min-height:350px;
	background-image: url('images/featured-title-cn.gif')/*tpa=http://www.cliffsnaturalresources.com/Style Library/cliffs/images/featured-title-cn.gif*/;
	background-position: top left;
	background-repeat: no-repeat;
	margin-left: 10px
	
}


#content-col1-cn p{
	width: 280px;
	color: #005696;
	font-size: 11px;
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	margin-bottom: 10px;
	line-height: 130%;
}

#content-col1-cn a{
	color: #005696;
}

#content-col2-cn{
	float: left;
	width: 315px;
	margin-right: 20px;
	padding-top: 65px;
	background-image: url('images/cliffsnews-title-cn.gif')/*tpa=http://www.cliffsnaturalresources.com/Style Library/cliffs/images/cliffsnews-title-cn.gif*/;
	background-position: top left;
	background-repeat: no-repeat;

}

#content-col2-cn p{
	width: 280px;
	color: #005696;
	font-size: 11px;
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	margin-bottom: 10px;
	line-height: 130%;
}

#content-col2-cn a{
	color: #005696;
}

#content-col3-cn{
	float: left;
	width:  281px;
	padding-top: 60px;
	background-image: url('images/clf-header-sm.gif')/*tpa=http://www.cliffsnaturalresources.com/Style Library/cliffs/images/clf-header-sm.gif*/;
	background-position: top left;
	background-repeat: no-repeat;
	margin-right:10px;
	font-size: 11px;
}


#globalfooter {
	clear: both;
	background-image: url('images/footer-rule.gif')/*tpa=http://www.cliffsnaturalresources.com/Style Library/cliffs/images/footer-rule.gif*/;
	background-position: top;
	background-repeat: no-repeat;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
	height: 65px;
	font-size: 10px;
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	
}

#globalfooter p{
	float: left;
	margin-top: 12px;
	margin-bottom: 15px;
	margin-left: 15px;
	font-size: 11px;
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	line-height: 170%;
}

#globalfooter-links{
	margin-top: 12px;
	margin-right: 10px;	
	float: right;
	font-size: 11px;
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	line-height: 170%;
	width: 400px;
	text-align:right;


}


/*CLIFFS CUSTOM STYLES */

.breadcrumb a
{
    font-family: tahoma; 
    clear:both;
    font-size:9pt; 
    font-family: Arial, Helvetica, Tahoma, sans-serif;
    padding-left:2px;
    padding-bottom:2px;
    padding-top:2px;
	color: #666666;
	text-decoration:none;
}

.breadcrumb
{
    font-family: tahoma; 
    clear:both;
    font-size:9pt; 
    font-family: Arial, Helvetica, Tahoma, sans-serif;
    padding-left:2px;
    padding-bottom:2px;
    padding-top:3px;
	color: #666666;
	text-decoration:none;
}

.removeMargins
{
	margin-top:-2px;
	margin-left:-2px;
	margin-right:-2px;
}

.sharepointLogin
{
	float:right;
	display:inline;
	font-color:#e8eaec;
}

.pagebreadcrumb{
	padding:3px 3px 3px 3px;
	margin-left: 5px;
	margin-right: 22px;
	font-size:8pt;
	background-color:#e8eaec;
	color:#666666;
	text-decoration:none;

}

.pagebreadcrumb a{
font-size:8pt;
background-color:#e8eaec;
color:#666666;
text-decoration:none;
}


.title{
font-family: Arial, Helvetica, Tahoma, sans-serif;
font-weight:bold;
color:#000000;
padding:15px 0px 0px 0px;
vertical-align:middle;
margin-left:10px;
font-size:18pt
}

.pagecontent{
font:11pt;
font-family: Arial, Helvetica, Tahoma, sans-serif;
color:#000000;
padding:15px 0px 10px 0px;
vertical-align:middle;
margin-left:10px;
margin-right:25px;
}

#sec-page-content{
	float: right;
	position:relative;
	width: 780px;
	margin-right: 25px;
	margin-bottom: 50px;
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	font-size: 13px;
	color: #333333;
}


#content-2col1 {
	float: left;
	width: 328px;
}
#content-2col2{
	float: right;
	width: 328px;
}

#content-3col1 {
	float: left;
	width: 209px;
	margin-right: 23px;
}

#pagebreaker{
	
	clear: both;
	background-image: url('images/footer-rule.gif')/*tpa=http://www.cliffsnaturalresources.com/Style Library/cliffs/images/footer-rule.gif*/;
	background-position: top;
	background-repeat: no-repeat;
	height:20px;
	position: relative;

}
#leftNavbararea{
	margin-top: 37px;
	margin-left: 20px;
	margin-right: 10px;
	position: relative;
	float: left;
	

}

#leftNavbararea2{
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 10px;
	position: relative;
	float: left;
	

}

.leftNavbarContainer { color: #000000 }


.leftNavbar
{
	
	background-color: #ffffff;
	width:160px;
}
.leftNavbarSpacer
{
	width:160px;
}
.leftNavbarSelected
{
	background-color: #0098DB;
	color: #ffffff;
	

}

.leftNavbar3
{
	color: #ffffff;
}

.leftNavbar2
{
	color: #ffffff;
}

.leftNavbar1
{
	color: #ffffff;
}

.leftNavbar1
{
	font-family: Arial, Helvetica, Tahoma, sans-serif; 
	font-size: 9pt; 
	font-weight:bold; 
	border-bottom: 1px solid #ccc;
	color: #000000;
	background-color: #ffffff; 

}

.leftNavbar2
{	
	font-family: Arial, Helvetica, Tahoma, sans-serif; 
	font-size: 9pt; 
	background-color: #0098DB;
	color: #ffffff;
	border-bottom: 1px solid #ccc;

}


.leftNavbarHover
{
	background-color: #93B1CC;
	color:#FFFFFF;
}

.leftNavbarFlyOuts
{
	font-family: Arial, Helvetica, Tahoma, sans-serif; 
	font-size:9pt; 
	border-top:1px #CBD1E0 solid;
	border-left:1px #CBD1E0 solid;
	border-right:1px #CBD1E0 solid;	
}

.leftNavbarFlyOutsItem
{
	border-bottom:1px #CBD1E0 solid;
	background-color: #93B1CC;
}
.leftNavbarFlyOutsItem a
{
	padding:1px 5px 1px 5px;
	display:block;
	color:#354260;
	*width:100px;
	min-width:100px;
}

.leftNavbarFlyOutsHover
{
	background-color: #93B1CC;
}


/* Top Navigation Tabs */

#header #globalNav{
    height: 53px;
    
}

.topNav
{
position:relative; 
top:20px;
	
}

.topNavItem
{
	
	font-family: Arial, Helvetica, Tahoma, sans-serif;  
	font-size: 11pt;
	
	
}

.topNavItem a
{
	display:block;
	width:auto;
	padding:0px 40px 0px 0px;
}


/* Normal Navigation Button w/ CSS Sprites Better Technique */

.topNav .topNavItem tr td{
	font-size: 11pt;
	color: #005696;
	border-top:5px solid #E9E8E6;
	

}
.topNav .topNavItem tr td a{
	display: block;
	font-size:11pt;
	color: #005696;
	height: 20px;
	padding-top: 5px;
	border-top:5px solid #E9E8E6;
	text-align:left;
	
}


/* Selected Navigation Button w/ CSS sprites*/

.topNav .topNavSelected tr td{
	border-top:5px solid #6D8D23;
	
}

.topNav .topNavSelected tr td a{
	font-size: 11pt;
	color:#6d8d23;
	border-top:5px solid #6D8D23;
	 
}


/* Hover Navigation Button w/ CSS sprites*/

body .topNav .topNavHover tr td{
	border-top:5px solid #6D8D23;
}

body .topNav .topNavHover tr td a{
	color: #6d8d23;
	border-top:5px solid #6D8D23;	
}


/* ====== Flyout menu for subsites====== */

body .topNavFlyOuts {
	padding: 2px 2px 2px 2px;			
	background-color: #0098DB;
	color: #ffffff;
	font-size: 10pt;
	border:1px #CBD1E0 solid;
}

body .topNavFlyOutsHover
{
	background-color: #93B1CC;
}


body .topNavFlyOutsItem {	
	border: 1px; 
	border-bottom: 1px #CBD1E0 solid;	

}

body .topNavFlyOutsItem a {
    display:block;
	font-size: 11px !important;      	
    padding:3px 5px 4px 5px;
	background-color: #0098DB;   
	text-decoration: none;    
}

body .topNavFlyOutsItem a:link {
    display:block;
	margin: 0;	
    padding:3px 5px 4px 5px;
	background-color: #0098DB;    
	text-decoration: none;    
}

body .topNavFlyOutsItem a:visited {
    display:block;	
    padding:3px 5px 4px 5px;
	background-color: #0098DB;   
	text-decoration: none;    
}

body .topNavFlyOutsItem a:active {
   	display:block;
    padding:3px 5px 4px 5px;
	background-color: #0098DB;  
	text-decoration: none;    
}

/*ADCOM Styles*/





#feature {
	clear: both;
	position: relative;
	width: 1000px;
	height: 395px;
	padding:0px 0px 20px 0px;
	z-index:1;

}


#feature-left-button{
	position:absolute;
	top: 0;
	left: 0;
	width: 25px;

}
#feature-right-button{
	position:absolute;
	top: 0;
	right: 0;
	width: 25px;

}
#feature-slider {
	position: absolute;
	top: 0;
	height: 395px;
        left:-20px
}

#slider h1{
	visibility: hidden;
	display: none;
}
#slider p{
	visibility: hidden;
	display: none;
}



/* Homepage Animation =Animation */

#slider .animated {
	position: relative;
}

	#slider .animated h1 {
		position: absolute;
		/*left: 48px;*/
		right: -2000px;
		top: 36px;
		display: block;
		width: 950px;
		font-family: 'Swiss Light';
		font-size: 2em;
		line-height: 1.25em;
		font-weight: normal;
		text-transform: uppercase;
		text-shadow: #333 0px 0px 6px;
		color: #fff;
		visibility: visible;
		z-index: 200;
	}
	
		#slider .animated h1 em {
			position: relative;
			right: -2000px;
			display: block;
			font-family: 'Swiss Medium';
			font-size: 1.1em;
			font-style: normal;
			font-weight: bold;
		}
		
	#slider .animated img {
		position: relative;
		left: -198px;
		z-index: 100;
	}

	#slider .animated p {
		position: absolute;
		left: 0;
		top: -600px;
		display: block;
		padding: 40px 48px;
		width: 854px;
		background: #a3aa23;
		font-family: 'Swiss Light';
		font-size: 1.6em;
		line-height: 1em;
		text-transform: uppercase;
		text-shadow: #333 0px 0px 5px;
		color: #fff;
		visibility: visible;
		z-index: 300;
	}
	
		#slider .animated p em {
			display: block;
			font-size: 1em;
			font-family: 'Swiss Medium';
			font-style: normal;
			font-weight: bold;
		}

		#slider .animated p.cta {
			top: -600px;
			height: 315px;
			background: #fff url("images/bg-animation.png")/*tpa=http://www.cliffsnaturalresources.com/Style Library/cliffs/images/bg-animation.png*/ left top no-repeat;
		}
	
			#slider .animated p.cta a {
				display: block;
				padding: 315px 0 0 0;
				width: 854px;
				height: 0px;
				background: url("images/bg-logo.png")/*tpa=http://www.cliffsnaturalresources.com/Style Library/cliffs/images/bg-logo.png*/ center center no-repeat;
				overflow: hidden;
			}


/* Font Styles */

@font-face {
    font-family: 'Swiss Light';
    src: url('fonts/tt0001m_-webfont.eot')/*tpa=http://www.cliffsnaturalresources.com/Style%20Library/cliffs/fonts/tt0001m_-webfont.eot*/;
    src: url('fonts/tt0001m_-webfont.eot-#iefix')/*tpa=http://www.cliffsnaturalresources.com/Style%20Library/cliffs/fonts/tt0001m_-webfont.eot?#iefix*/ format('eot'),
         url('fonts/tt0001m_-webfont.woff')/*tpa=http://www.cliffsnaturalresources.com/Style%20Library/cliffs/fonts/tt0001m_-webfont.woff*/ format('woff'),
         url('fonts/tt0001m_-webfont.ttf')/*tpa=http://www.cliffsnaturalresources.com/Style%20Library/cliffs/fonts/tt0001m_-webfont.ttf*/ format('truetype'),
         url('fonts/tt0001m_-webfont.svg#webfontxWqshVav')/*tpa=http://www.cliffsnaturalresources.com/Style%20Library/cliffs/fonts/tt0001m_-webfont.svg#webfontxWqshVav*/ format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Swiss Light';
    src: url('fonts/tt0002m_-webfont.eot')/*tpa=http://www.cliffsnaturalresources.com/Style%20Library/cliffs/fonts/tt0002m_-webfont.eot*/;
    src: url('fonts/tt0002m_-webfont.eot-#iefix')/*tpa=http://www.cliffsnaturalresources.com/Style%20Library/cliffs/fonts/tt0002m_-webfont.eot?#iefix*/ format('eot'),
         url('fonts/tt0002m_-webfont.woff')/*tpa=http://www.cliffsnaturalresources.com/Style%20Library/cliffs/fonts/tt0002m_-webfont.woff*/ format('woff'),
         url('fonts/tt0002m_-webfont.ttf')/*tpa=http://www.cliffsnaturalresources.com/Style%20Library/cliffs/fonts/tt0002m_-webfont.ttf*/ format('truetype'),
         url('fonts/tt0002m_-webfont.svg#webfontKzFAmt2B')/*tpa=http://www.cliffsnaturalresources.com/Style%20Library/cliffs/fonts/tt0002m_-webfont.svg#webfontKzFAmt2B*/ format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'Swiss Medium';
    src: url('fonts/tt0759m_-webfont.eot')/*tpa=http://www.cliffsnaturalresources.com/Style%20Library/cliffs/fonts/tt0759m_-webfont.eot*/;
    src: url('fonts/tt0759m_-webfont.eot-#iefix')/*tpa=http://www.cliffsnaturalresources.com/Style%20Library/cliffs/fonts/tt0759m_-webfont.eot?#iefix*/ format('eot'),
         url('fonts/tt0759m_-webfont.woff')/*tpa=http://www.cliffsnaturalresources.com/Style%20Library/cliffs/fonts/tt0759m_-webfont.woff*/ format('woff'),
         url('fonts/tt0759m_-webfont.ttf')/*tpa=http://www.cliffsnaturalresources.com/Style%20Library/cliffs/fonts/tt0759m_-webfont.ttf*/ format('truetype'),
         url('fonts/tt0759m_-webfont.svg#webfontd2nBnzM1')/*tpa=http://www.cliffsnaturalresources.com/Style%20Library/cliffs/fonts/tt0759m_-webfont.svg#webfontd2nBnzM1*/ format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Swiss Medium';
    src: url('fonts/tt0760m_-webfont.eot')/*tpa=http://www.cliffsnaturalresources.com/Style%20Library/cliffs/fonts/tt0760m_-webfont.eot*/;
    src: url('fonts/tt0760m_-webfont.eot-#iefix')/*tpa=http://www.cliffsnaturalresources.com/Style%20Library/cliffs/fonts/tt0760m_-webfont.eot?#iefix*/ format('eot'),
         url('fonts/tt0760m_-webfont.woff')/*tpa=http://www.cliffsnaturalresources.com/Style%20Library/cliffs/fonts/tt0760m_-webfont.woff*/ format('woff'),
         url('fonts/tt0760m_-webfont.ttf')/*tpa=http://www.cliffsnaturalresources.com/Style%20Library/cliffs/fonts/tt0760m_-webfont.ttf*/ format('truetype'),
         url('fonts/tt0760m_-webfont.svg#webfont4uNE4uAd')/*tpa=http://www.cliffsnaturalresources.com/Style%20Library/cliffs/fonts/tt0760m_-webfont.svg#webfont4uNE4uAd*/ format('svg');
    font-weight: normal;
    font-style: italic;
}

/* MENU STYLES FOR TELEO DESIGN */
ul#menu{
	width: 100%;
	float: left;
	list-style: none;
	margin:0;
	padding:0;
}
ul#menu li{
	position: relative;
	float: left;
	
	margin-top: 20px;
	padding-right:11px;
	
	height: 37px;
	background-image: url('images/menu-seperate.gif')/*tpa=http://www.cliffsnaturalresources.com/Style Library/cliffs/images/menu-seperate.gif*/;
	background-position: right;
	background-repeat: no-repeat;
}
#menu li.last{
	background-image: none;
}
#menu li a {
	float: left;
	display: block;
	height: 37px;
	text-indent: -9999px;
}
#menu-about {
	width: 87px;
	background-image: url('images/menu-about.gif')/*tpa=http://www.cliffsnaturalresources.com/Style Library/cliffs/images/menu-about.gif*/;
	background-repeat: no-repeat;
	background-position: top;
}
a#menu-about:hover {
	background-position: 0 -37px;
}
#menu-careers {
	width: 92px;
	background-image: url('images/menu-careers.gif')/*tpa=http://www.cliffsnaturalresources.com/Style Library/cliffs/images/menu-careers.gif*/;
	background-repeat: no-repeat;
	background-position: top;
}
a#menu-careers:hover {
	background-position: 0 -37px;
}
#menu-sustainability {
	width: 124px;
	background-image: url('images/menu-sustain.gif')/*tpa=http://www.cliffsnaturalresources.com/Style Library/cliffs/images/menu-sustain.gif*/;
	background-repeat: no-repeat;
	background-position: top;
}
a#menu-sustainability:hover {
	background-position: 0 -37px;
}
#menu-contact {
	width: 92px;
	background-image: url('images/menu-contact.gif')/*tpa=http://www.cliffsnaturalresources.com/Style Library/cliffs/images/menu-contact.gif*/;
	background-repeat: no-repeat;
	background-position: top;
}
a#menu-contact:hover {
	background-position: 0 -37px;
}
#menu-investors {
	width: 104px;
	background-image: url('images/menu-investors.gif')/*tpa=http://www.cliffsnaturalresources.com/Style Library/cliffs/images/menu-investors.gif*/;
	background-repeat: no-repeat;
	background-position: top;
}
a#menu-investors:hover {
	background-position: 0 -37px;
}
#menu-newscenter {
	width: 117px;
	background-image: url('images/menu-newscenter.gif')/*tpa=http://www.cliffsnaturalresources.com/Style Library/cliffs/images/menu-newscenter.gif*/;
	background-repeat: no-repeat;
	background-position: top;
}
a#menu-newscenter:hover {
	background-position: 0 -37px;
}
#menu-seperator {
	width: 11px;
	background-image: url('images/menu-seperator.gif')/*tpa=http://www.cliffsnaturalresources.com/Style Library/cliffs/images/menu-seperator.gif*/;
	background-repeat: no-repeat;
	background-position: top;
}

ul#menu li .sub {
	position: absolute; /*--Important--*/
	top: 44px; left: 0;
	z-index: 99999;
	background: #fefcfb;
	padding: 10px 0 ;
	float: left;
	width: 540px;
	display: none; 
}
ul#menu li .row { /*--If needed to break out into rows--*/
	clear: both;
	float: left;
	width: 100%;
	margin-bottom: 10px;
}
ul#menu li .sub ul{
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-right: 5px;
	width: 175px;
	position: relative;
	background-image: url('images/menu-seperate-dark.gif')/*tpa=http://www.cliffsnaturalresources.com/Style Library/cliffs/images/menu-seperate-dark.gif*/;
	background-position: right;
	background-repeat: repeat-y;
}

ul#menu li .sub ul.last{
	background: none;
}
ul#menu .sub ul li {
	width:  140px;
	color: #fff;
	margin:  0;
	padding: 0;

	margin-top:  2px;
	margin-bottom: 2px;
	
	height: auto;
	background: none;
}
ul#menu .sub ul li a {
	float: none;
	text-indent: 0; /*--Override text-indent from parent list item--*/
	height: auto; /*--Override height from parent list item--*/
	
	display: block;
	text-decoration: none;
	font-size: 12px;
	color: #005696;
	text-transform: uppercase;
	padding-left: 25px;
		
}
ul#menu .sub ul li a:hover {
	color: #6d8d23;
	
	background-image: url('images/submenu-arrow.gif')/*tpa=http://www.cliffsnaturalresources.com/Style Library/cliffs/images/submenu-arrow.gif*/;
	background-position: left;
	background-repeat: no-repeat;
}


.shadowLeft
{
	*height:100%;
	min-height:100%;
	width:7px;
	margin:0px auto;	
	background-image: url('images/drop-left.png')/*tpa=http://www.cliffsnaturalresources.com/Style Library/cliffs/images/drop-left.png*/;
	background-repeat:repeat-y;
	background-position:left top;
}
.shadowRight
{
	*height:100%;
	min-height:100%;
	width:7px;
	margin:0px auto;	
	background-image: url('images/drop-right.png')/*tpa=http://www.cliffsnaturalresources.com/Style Library/cliffs/images/drop-right.png*/;
	background-repeat:repeat-y;
	background-position:left top;
}

.spacer
{
	width:7px
}

.authoringRegion
{
	width:100%;
	background-color: #e8eaec;
	height: 40px;
	color: #666666;
	line-height: 33px;
	position:relative;

}
#header2 {
	height: 80px;
	margin-left: 10px;
	margin-right:  5px;
	background-image:url('images/top-hrule.gif')/*tpa=http://www.cliffsnaturalresources.com/Style Library/cliffs/images/top-hrule.gif*/;
	background-repeat:no-repeat;
	background-position:left bottom;

}

hr {
  width: 100%;
  background-color:#e8eaec;
  color:#e8eaec;
  height: 1px;
}
