.ms-WPTitle
{
    padding:0px!important;
	font-family:"ff-din-web-pro" !important ;
	font-weight: 600 !important;
	font-style: normal !important;
    font-size:15px !important;
    color:#00AFEC !important;
    border-bottom:1px solid #848484 !important;
    padding-bottom:10px !important;
    line-height:18px !important;
}

.ms-wpTdSpace{
display:none!important;}

.ms-WPHeader Td
{
border-bottom-color:#848484!important;
border-bottom-Width:0px!important;
}

.ms-wpContentDivSpace
{
    margin:0px!important;
}