/**
 * @file
 * CSS targeted specifically for Internet Explorer 7 (and earlier) for Windows.
 *
 * Any CSS in this file will apply to all versions of IE before IE 8. You can
 * target specific versions of IE by using conditional comments. See your
 * sub-theme's .info file for an easy way to use them.
 */





/* amgen.com */

.active-trail {
white-space: wrap;
}

/*
#MailPrintContainer {
    display: block;
    float: right;
    margin-right: 20px;
    margin-top: -28px;
    padding: 0;
	position: relative;
}

.breadcrumb {
    margin-top: -30px;
    white-space: nowrap;
}

.breadcrumb a {
    background-image: none;
	padding-left: 0px;
}
*/
#NavBreadCrumbs ul li a {
    background-image: none;
	padding-left: 0px;
}

#UpperContainer {
	display: inline-table;
	vertical-align:top;
	position: relative;
	padding: 0px;

}

#UpperContainer-HTML {
	   top: 24px;
	   left: 20px;
	   /*
    background-image: url("http://10.216.221.129:8080/sites/all/themes/amgen_zen_D7/files/partners_header.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 175px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 750px;
	*/
	margin: 0px;

}

td a:visited, td a:link, td a:active, td a:hover td a {
    color: #007EC0;
    font: bold 11px arial,helvetica,sans-serif;
    text-decoration: none;
	background-image:none;
	padding-left: 0px;
	margin-left: 0px;
	
}

#page {
	vertical-align: top;
	position: relative;
	z-index: 50; 
}

#header {
	position: relative;
	z-index: 51;
	height: 250px;
}


.section {
	position: relative;

}

.region {
	position: relative:
}

#MainContent {
	
	display: block;
}




.NavRightContainer {
	/* border: 1px solid green; */
}

.two-sidebars #content {
    margin-left: 0px;
    margin-right: 0px;
}

#content {
    background-image: url("../../../wwwext.amgen.com/files/mainContentAreaGradientBkgd.jpg")/*tpa=http://wwwext.amgen.com/files/mainContentAreaGradientBkgd.jpg*/;
    background-repeat: repeat-y;
    margin-left: 20px;
    margin-top: -40px;
    width: 750px;
	position: relative;
}

.content a {
	background-image: none;
}




/*

* html div#page-wrapper div#page div#header {
	border: 1px solid purple;
}

*/
