@charset "UTF-8";
/* CSS Document */
<!--
body {
 padding:0px;
 margin:0px;
 font:12px Arial, Helvetica, sans-serif;
}
#container {
 width:835px;
 position: absolute;
 padding: 0px;
 margin: 0px;
}

#UpperContainer-HTML {
	left: 20px;
}


.featuredHeadline {
 font:12px Arial, Helvetica, sans-serif;
 font-weight:bold;
}
.featuredText {
 font:12px Arial, Helvetica, sans-serif;
 color:#333333;
}
#globalMenu {
 margin:23px 10px 10px auto;
 text-align:right;
 padding:0px;
 width:700px;
 white-space:nowrap;
 font-size:10px;
 font-weight:bold;
}
#globalMenu a:link, #globalMenu a:visited {
 color:#666666;
 text-decoration:none;
 padding-right:30px;
 padding-left:8px;
}
.globalMenu {
 background-image:url(../../../wwwext.amgen.com/files/alternate_nav_arrow.gif)/*tpa=http://wwwext.amgen.com/files/alternate_nav_arrow.gif*/;
 background-repeat:no-repeat;
 background-position:left 2px;
}

#globalMenu a:hover {
 text-decoration:underline;
}
#mainMenu {
 position:absolute;
 top:175px;
 left:46px;
 z-index:6;
}

#mainMenu0, #mainMenu1, #mainMenu2, #mainMenu3, #mainMenu4, #mainMenu5, #mainMenu6, #mainMenu7 {
 float:left;
 padding:10px 32px 21px 0px;
 font:12px Arial, Helvetica, sans-serif;
 font-weight:bold;
 z-index:5;
}
#mainMenu0 { margin-left:20px; }
a.mainMenu:link, a.mainMenu:visited {
 color:#FFFFFF;
 text-decoration:none;
 background-image:url(../../../wwwext.amgen.com/files/alternate_nav_arrow_white.gif)/*tpa=http://wwwext.amgen.com/files/alternate_nav_arrow_white.gif*/;
 background-repeat:no-repeat;
 background-position:left 2px;
 padding-left:10px;
}
a.mainMenu:hover {
 background-image:url(../../../wwwext.amgen.com/files/alternate_nav_arrow_blue.gif)/*tpa=http://wwwext.amgen.com/files/alternate_nav_arrow_blue.gif*/;
 background-repeat:no-repeat;
 background-position:left 2px;
 padding-left:10px;
}
#mainMenuLine {
 visibility:hidden;
 position:absolute;
 top:175px;
 height:45px;
 border-left:1px solid #4c6a7f;
 z-index:7;
}
#mainMenuSubitem0,
#mainMenuSubitem1,
#mainMenuSubitem2,
#mainMenuSubitem3,
#mainMenuSubitem4,
#mainMenuSubitem5,
#mainMenuSubitem6,
#mainMenuSubitem7 {
 padding:0px 0px 0px 0px;
 position:absolute;
 top:0px;
 z-index:3;
 visibility:hidden;
 margin-top:12px;
 white-space:nowrap;
 border-left:1px solid #4c6a7f;
 width:auto;
}
p.mainMenuSubitem {
 padding:2px 0px 4px 3px;
 margin:0px;
}
p.mainMenuSubitemOn {
 background-color:#007ec0;
 padding:2px 0px 4px 3px;
 margin:0px;
 width:auto;
}
 
a.subitem:link, a.subitem:visited {
 color:#ffffff;
 text-decoration:none;
 padding:0px 0px 0px 6px;
 margin:0px;
}
#header-xml {
 /* background-image:url(http://wwwext.amgen.com/files/1.jpg); 
 background-repeat:no-repeat;
 height:175px;
 width:750px;
 margin-left:46px; */
}

#content {
    background-image: url("../../../wwwext.amgen.com/files/mainContentAreaGradientBkgd.jpg")/*tpa=http://wwwext.amgen.com/files/mainContentAreaGradientBkgd.jpg*/;
    background-repeat: repeat-y;
    margin-left: 20px;
    margin-top: 210px;
    width: 750px;
}

#content img {
	border: none;
}
 
h1 {
 float:left;
 width:360px;
 margin:12px 10px 10px 20px;
 font:22px Arial, Helvetica, sans-serif;
 font-weight:normal;
 color:#333333;
 padding:0px;
}
.mainHeadlineSubhead {
 font-size:12px;
 text-decoration:none;
}
a.mainHeadlineReadMore:link, a.mainHeadlineReadMore:visited {
 font-size:12px;
 color:#007ec0;
 text-decoration:none;
}
a.mainHeadlineReadMore:hover {
 text-decoration:none;
}

.news_header {
    color: #007EC0;
    font: bold 13px arial,sans-serif;
}

#news {
 float:left;
 width:310px;
 margin:12px 10px 10px 10px;
 padding-left:10px;
 border-left:1px solid #CCCCCC;
}
#news a:link, #news a:visited {
 color:#333333;
 text-decoration:none;
 font: 12px arial,helvetica,sans-serif;
}
#news a:hover {
 text-decoration:none;
}
#news p {
 padding:2px 0px 4px 0px;
 margin:0px;
}

.moreNews {
 padding:0px;
 margin:0px;

}
#news .moreNews a:link, #news .moreNews a:visited {
 font-weight:bold;
 color:#333333;
 text-decoration:none;
 background-image:url(../../../wwwext.amgen.com/files/alternate_arrow_round.gif)/*tpa=http://wwwext.amgen.com/files/alternate_arrow_round.gif*/;
 background-repeat:no-repeat;
 background-position:right 0px;
 padding-right:19px;
 margin-top: 20px;
 color: #007EC0;
 font: 12px arial,sans-serif;

}
.moreNews a:hover {
 text-decoration:none;
}

.featuredItem {
 color:#333333;
 float:left;
 width:180px;
 padding:0px;
 margin-right:10px;
 margin-top:10px;
 background-image:url(../../../wwwext.amgen.com/files/featuresBkgd.jpg)/*tpa=http://wwwext.amgen.com/files/featuresBkgd.jpg*/;
 background-repeat:no-repeat;
 background-position:left 81px;
 min-height:150px;
}
.featuredItem img {
 margin-bottom:4px;
}
.featuredItem a:link, .featuredItem a:visited {
 color:#333333;
 text-decoration:none;
 background: none repeat scroll 0 0 transparent;
 padding: 0;
}
.featuredItem a:hover {
 text-decoration:none;
}
.featuredHeadline {
 padding:2px 8px 2px 10px;
}
#featured1Text, #featured2Text, #featured3Text, #featured4Text {
 padding:0px 8px 0px 10px;
}


#footer {
    background-image: url("../../../wwwext.amgen.com/img/global/global_bottom.gif")/*tpa=http://wwwext.amgen.com/img/global/global_bottom.gif*/;
    background-repeat: no-repeat;
    display: block;
    left: 20px;
    position: absolute;
    top: 700px;
    width: 200px;
	height: 40px;
	visibility: hidden;
}

#subMenuBkgd {
 visibility:hidden;
 top:175px;
 left:46px;
 height:300px;
 width:750px;
 position:absolute;
 z-index:2;
 background-image:url(../../../wwwext.amgen.com/files/alternate_submenu_bkgd.png)/*tpa=http://wwwext.amgen.com/files/alternate_submenu_bkgd.png*/;
}
.leftSpacer {
 margin-left:20px;
 clear:both;
}


#superfish-1 li ul {
    margin-top: -2px;
}

#superfish-3 li ul {
    margin-top: -6px;
}

-->
