/* Framework
---------------------------*/

body#home {
    margin: 1.2em 1.2em;
}

body#home #Wrapper {
    border-top: 1px solid #dddddd;

}

body#home #HeaderNav {
    top: 11px;
}

body#home #Banner {
    width: 890px;
    padding: 19px 34px 0 36px;
    border-bottom: 8px solid #eeeeee;
}
#ContentLeft {
    width: 612px;
    height: 470px;
    float: left;
}
#RightRail {
    position: relative;
    width: 245px;
    height: 470px;
    float: right;
    margin-left: 33px;
}
body#home #Content {
    display: none;
}

/* Heading
---------------------------*/

#Head {
    width: 612px;
    height: 102px;
    background: transparent url(../images/home/features/Heading.gif)/*tpa=http://www.chevron.com/images/home/features/Heading.gif*/;
    text-indent: -9999px;
}

/* Feature Content
---------------------------*/

#Features {
    width: 612px;
    height: 368px;
    position: relative;
    overflow: hidden;
}
#Features .feature {
    width: 612px;
    height: 368px;
    top: 0;
    left: 0;
    position: absolute;
    text-indent: -9999px;
    display: none;
}
#Features .feature a {
    position: absolute;
    top: 0;
    left: 0;
    width: 612px;
    height: 368px;
}
#Features .defaultFeature {
    display: block;
}

/* Feature Navigation
---------------------------*/

#Features .navigation {
    bottom: 0;
    right: 15px;
    position: absolute;
    z-index: 9999;
}

/* to enable a caption beneath the feature */
.showCaption #Features .navigation {
    bottom: 72px;
    right: 15px;
    position: absolute;
    z-index: 9999;
}

#Features .navigation li {
    display: block;
    float: left;
}
#Features .navigation li a {
    display: block;
    width: 21px;
    height: 23px;
    overflow: hidden;
    background: transparent url(../images/home/features/navigation.png)/*tpa=http://www.chevron.com/images/home/features/navigation.png*/ -6px 0;
    background-position: -6px 0;
	text-indent: -9999px;
    outline-style: none;    
}
#Features .navigation li a.navItemSelected,
#Features .navigation li a:hover {
    background-position: -6px -23px;
}
#Features .navigation li.first a {
    background-position: 0 0;
    width: 27px;
}
#Features .navigation li.first a.navItemSelected,
#Features .navigation li.first a:hover {
    background-position: 0 -23px;
}
#Features .navigation li.last a {
    width: 27px;
}

/* News
---------------------------*/

#News {
    width: 245px;
    position: absolute;
    bottom: 213px;
}
#News h3 {
    overflow: hidden;
    width: 245px;
    height: 16px;
    background:url("../Images/home/headerPromoNews.gif")/*tpa=http://www.chevron.com/Images/home/headerPromoNews.gif*/ no-repeat scroll 0 0 transparent; 
    margin-bottom: 16px;
    text-indent: -9999px;
}
#News p {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 14px;
}
#News a {
    color: #333333;
}
#News .closed {
    display: none;
}
#News p.button {
    height: auto;
    margin: 18px 0 22px 0;
}

#News p.button a {
    color: #4082c6;
    font-size: 0.8em;
}

/* Promotions
---------------------------*/

#Promotions {
    width: 243px;
    height: 213px;
    position: absolute;
    bottom: 0;
}
#Promotions .promotion {
    display: block;
    position: relative;
    width: 245px;
    height: 109px;
    border-top: 1px solid #e0e0e0;
    text-indent: -9999px;
}
#Promotions .promotion a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 245px;
    height: 109px;
    background-repeat: no-repeat;
    text-indent: -9999px;
    outline-style: none;
}
#Promotions h2 {
    width: 220px;
}

/* Customer Links
---------------------------*/

#CustomerLinks {
    clear: both;
    width: 890px;
    height: 32px;
    padding-top: 22px;
    text-align: center;
}
#CustomerLinks a {
    margin: 26px 23px 0px 22px;
    color: #676767;
    font-size: 10px;
    text-transform: uppercase;
}