/*------------------------------------------------------------------
Navigation CSS
--------------------------------------------------------------------*/

/* Header Navigation 
------------------------------- */
#HeaderNav {
	position: absolute;
	top: 11px;
	right: 16px;
	/*_width: 37em; testing removal */
}
#HeaderNav ul {
	list-style-type: none;
	list-style-position: outside;
}
#HeaderNav ul li {
	float: left;
	display: inline;
	font-size: 1em;
	height: 1.8em;
	line-height: 1.8em;
	text-transform: uppercase;
    background: url(../Images/bgNavPipe.gif)/*tpa=http://www.chevron.com/Images/bgNavPipe.gif*/ no-repeat 100% .5em;
	padding: 0 10px;
}
#HeaderNav ul li#Countries  {padding: 0 10px 0 0;}
#HeaderNav ul li#Countries a {
    background: url(../Images/world_grey.gif)/*tpa=http://www.chevron.com/Images/world_grey.gif*/ no-repeat 8px 0;
    padding-left: 48px;
	height: 1.8em;
	display: block;
	_display: inline-block; /* IE/Mac */
}
#HeaderNav ul li#Countries.selected a,
#HeaderNav ul li#Countries a:hover {background: url(../Images/world_grey_on.gif)/*tpa=http://www.chevron.com/Images/world_grey_on.gif*/ no-repeat 8px 0;}
#HeaderNav ul li a {
    height: 1em;
	color: #666666;
}
#HeaderNav ul li a:hover {
    height: 1em;
	color: #009DD9;
	text-decoration: none;
}
#HeaderNav ul li.selected a {color: #009DD9;}
#HeaderNav ul li.last {
    padding-right: 0;
    background: none;
}

/* Top Navigation
--------------------------------------------------------------------*/
#TopNav {position: relative;}
#TopNav ul {
	list-style-type: none;
	list-style-position: outside;
	border-top: 1px solid #dddcdc;
	font-size: 1.35em;
	height: 24px;
	line-height: 24px;
	background: url(../Images/bgNav.gif)/*tpa=http://www.chevron.com/Images/bgNav.gif*/ repeat-x 0 100%;
	padding-left: 6px;
}
#TopNav ul li {
	float: left;
	display: inline;
	position: relative;
}
#TopNav ul li a {
	height: 24px;
	float: left;
	display: inline;
	color: #666666;
	text-decoration: none;
	padding: 0 10px;
	background-repeat: no-repeat;
	background-position: 10px 0;
	text-indent: -5000px;
	overflow: hidden;
}
#TopNav ul li a:hover {color: #009dd9;}
#TopNav ul li.selected a {
	color: #009dd9;
	background-position: 10px -24px;
}
#TopNav ul li.hover a {background-position: 10px -24px;}
#TopNav ul li.hoverSub {background: #fff;}
#TopNav ul li.hoverSub a {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 0 9px;
	background-position: 9px -24px;
}
#TopNav ul.macFF li div.subnav {
    background: #fff;
    padding: 0;
}

/* Nav Image Replacements
-------------------------------- */
/* Home */
#TopNav ul li.li1 a {
    width: 35px;
    background-image: url(../Images/navHome.gif)/*tpa=http://www.chevron.com/Images/navHome.gif*/;
}
/*  Human Energy Stories (formerly Explore, formerly Chevron Stories) */
#TopNav ul li.li2 a {
    width: 124px;
    background-image: url(../Images/navHumanEnergyStories.gif)/*tpa=http://www.chevron.com/Images/navHumanEnergyStories.gif*/;
}
/* CR */
#TopNav ul li.li3 a {
     width: 72px;
    background-image: url(../Images/navGlobalIssues.gif)/*tpa=http://www.chevron.com/Images/navGlobalIssues.gif*/;   
}
/* Global Issues */
#TopNav ul li.li4 a {
    width: 85px;
    background-image: url(../Images/navEnergySources.gif)/*tpa=http://www.chevron.com/Images/navEnergySources.gif*/;
}
/* Energy Sources */
#TopNav ul li.li5 a {    
    width: 110px;
    background-image: url(../Images/navProductsServices.gif)/*tpa=http://www.chevron.com/Images/navProductsServices.gif*/;
}
/* Products & Services */
#TopNav ul li.li6 a {
    width: 135px;
    background-image: url(../Images/navCorporateResponsibility.gif)/*tpa=http://www.chevron.com/Images/navCorporateResponsibility.gif*/;
}
/* About Us */
#TopNav ul li.li7 a {
    width: 84px;
    background-image: url(../Images/navAboutUs.gif)/*tpa=http://www.chevron.com/Images/navAboutUs.gif*/;
}

/* Navigation -> Dropdown
--------------------------------------------------------------------*/
#TopNav ul li div.subnav {
	position: absolute;
	top: 24px;
	left: 0;
	display: none;
	padding: 0 6px 6px 0;
	overflow: hidden;
	/* This box needs a width. Setting inline, as box widths will vary. */
}
#TopNav ul li.hoverSub div.subnav {display: block;}
#TopNav ul li div.subnav div.subnavImg {
	position: absolute;
	right: 0;
	bottom: 0;
	height: 800px;
	width: 800px;
	background: url(../Images/bgSubNavShadow.png)/*tpa=http://www.chevron.com/Images/bgSubNavShadow.png*/ no-repeat;
	/* Set up transparency for IE */
	/*behavior: url("iepngfix.htc"); /* Alternate way - uses background image */
	_background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/Images/bgSubNavShadow.png', sizingMethod='scale');
}
#TopNav ul li div.subnav div.contentWrapper {
	padding: 0 3px 3px 3px 3px;
	background: #fff;
	border: 1px solid #ddd;
	border-top: 0;
	position: relative;
}
#TopNav ul li div.subnav div.content {
	background: #fff url(../Images/bgSubNav.gif)/*tpa=http://www.chevron.com/Images/bgSubNav.gif*/ repeat-x 0 100%;
	padding: 3px 6px;
	position: relative;
}
#TopNav ul li div.subnav div.col {
	float: left;
	margin-right: 19px;
}
#TopNav ul li div.subnav div.col.last {margin-right: 0;}
#TopNav ul li div h3 {
	font-size: .8em;
	color: #666666;
	font-style: italic;
	border-bottom: 1px solid #ddd;
	margin: 4px 0 3px 6px;
	line-height: 1.5em;
}
#TopNav ul li div ul {
	float: left;
	border-top: 0;
	font-size: .8em;
	height: auto;
	background: none;
	padding-left: 0;
}
#TopNav ul li div ul.sep {margin-right: 16px;}
#TopNav ul li div ul li {
	float: none;
	line-height: 1.1em;
	display: block; /* chrome 17 hack */
}
#TopNav ul li.li2 div ul li {
	float: none;
	line-height: 1.1em;
	display: inline; /* chrome 17 hack */
}
#TopNav ul li div ul li a,
#TopNav ul li.selected div ul li a,
#TopNav ul li.hoverSub div ul li a,
#TopNav ul li.li2 div div.one ul li a {
	display: block;
	height: auto;
	width: auto;
	float: none;
	color: #666;
	padding: 4px 0 4px 6px;
	background: url(../Images/bgSubNavArrowOff.gif)/*tpa=http://www.chevron.com/Images/bgSubNavArrowOff.gif*/ no-repeat 0 7px;
	text-indent: 0;
	overflow: visible;
	border: 0;
}
#TopNav ul li div ul li a:hover,
#TopNav ul li.selected div ul li a:hover,
#TopNav ul li.selected div ul li.selected a,
#TopNav ul li.li2 div ul li.one a:hover {
	color: #009dd9;
	background: url(../Images/bgSubNavArrowOn.gif)/*tpa=http://www.chevron.com/Images/bgSubNavArrowOn.gif*/ no-repeat 0 7px;
}

#TopNav ul li.li7 div.subnav {	width: 160px !important; }

/* Nav -> Dropdown -> Column Widths
-------------------------------- */
#TopNav ul li.li3 div.col {width: 100px;}
#TopNav ul li.li6 div.col {width: 85px;}

#TopNav ul li div li.hdr {
	color: #666666;
	border-bottom: 1px solid #ddd;
	margin: 0 0 3px 0px;
}
#TopNav ul li div li.hdrPadTop { padding-top: 1em; }
/* Nav -> Dropdown -> Human Energy Stories
-------------------------------- */
#TopNav ul li.li2 div.subnav div.content {   
    margin: 0px;
    padding: 0px;    
}
#TopNav ul li.li2 div.subnav div.col {
	margin-right: 0px;
	display: inline;	
}	
#TopNav ul li.li2 div ul li a {
	display: inline;
	float: left;
	height: 27px;
	width: 95px;
	padding: 64px 3px 3px 3px;
	_padding-bottom: 6px;
	overflow: hidden;
	text-align: left;
}
#TopNav ul li.li2 div div li.one {
	margin: 0 0 0 8px;
	padding-right: 28px;
	width: 95px;
	display: block;
}
#TopNav ul li.li2 div ul li.one a  {
	background:transparent url(../Images/bgSubNavArrowOff.gif)/*tpa=http://www.chevron.com/Images/bgSubNavArrowOff.gif*/ no-repeat scroll 0 7px;
    border: 0;
    color: #666;
    display: block;
    float: none;
    height: auto;
    overflow: visible;
    padding: 4px 0 4px 6px;
    text-indent: 0;
    width: 95px;
}
#TopNav ul li.li2 div div li.hesAll a {
	border-bottom: 1px solid #ddd;
	margin-bottom: 8px;
	margin-top: 3px;
}
#TopNav ul li.li2 div ul li.two a {
	margin: 9px 0px 0px 0;
	background: url(../stories/assets/images/hesNav2.jpg)/*tpa=http://www.chevron.com/stories/assets/images/hesNav2.jpg*/ no-repeat 0 0;
}
#TopNav ul li.li2 div ul li.two a:hover,
#TopNav ul li.li2.selected div ul li.two a:hover {background: url(../stories/assets/images/hesNav2.jpg)/*tpa=http://www.chevron.com/stories/assets/images/hesNav2.jpg*/ no-repeat 0 0;}
#TopNav ul li.li2 div ul li.three a {
	margin: 9px 0px 0px 8px;
	background: url(../stories/assets/images/hesNav3.jpg)/*tpa=http://www.chevron.com/stories/assets/images/hesNav3.jpg*/ no-repeat 0 0;
}
#TopNav ul li.li2 div ul li.three a:hover,
#TopNav ul li.li2.selected div ul li.three a:hover {background: url(../stories/assets/images/hesNav3.jpg)/*tpa=http://www.chevron.com/stories/assets/images/hesNav3.jpg*/ no-repeat 0 0;}
#TopNav ul li.li2 div ul li.four a {
	margin: 9px 0px 0px 8px;
	background: url(../stories/assets/images/hesNav4.jpg)/*tpa=http://www.chevron.com/stories/assets/images/hesNav4.jpg*/ no-repeat 0 0;
}
#TopNav ul li.li2 div ul li.four a:hover,
#TopNav ul li.li2.selected div ul li.four a:hover {background: url(../stories/assets/images/hesNav4.jpg)/*tpa=http://www.chevron.com/stories/assets/images/hesNav4.jpg*/ no-repeat 0 0;}
#TopNav ul li.li2 div ul li.five a {
	margin: 9px 0px 0px 8px;
	background: url(../stories/assets/images/hesNav5.jpg)/*tpa=http://www.chevron.com/stories/assets/images/hesNav5.jpg*/ no-repeat 0 0;
}
#TopNav ul li.li2 div ul li.five a:hover,
#TopNav ul li.li2.selected div ul li.five a:hover {background: url(../stories/assets/images/hesNav5.jpg)/*tpa=http://www.chevron.com/stories/assets/images/hesNav5.jpg*/ no-repeat 0 0;}
/* TopNav -> Search
--------------------------------------------------------------------*/
#TopNav #Search {
    _width: 160px;
    position: absolute;
    top: 3px;
    right: 16px;
}
#TopNav #Search input.text {
    width: 97px;
    height: 1.4em;
    float: left;
    color: #666666;
    font-size: 1em;
    border: 1px solid #ddd;
    background: #fff url(../Images/bgInputSearch.gif)/*tpa=http://www.chevron.com/Images/bgInputSearch.gif*/ no-repeat;
    padding: 3px 0 0 20px;
    margin-right: 5px;
}

/* Breadcrumb
--------------------------------------------------------------------*/
#Breadcrumb ul {
	list-style-type: none;
	list-style-position: outside;
    color: #009dd9;
    height: 2.3em;
    line-height: 2.4em;
    _line-height: 2.3em;
    padding: 0 12px;
    margin: 0;
    border-bottom: 1px solid #dddfe1;
}
#Breadcrumb ul li {
	font-size: .9em;
	float: left;
	display: inline;
	margin-right: 3px;
}
#Breadcrumb ul li.arrow {color: #666666;}
#Breadcrumb ul li a {color: #666666;}
#Breadcrumb ul li a:hover {
	color: #009dd9;
	text-decoration: none;
}

/* Left Hand Nav
--------------------------------------------------------------------*/
#LeftCol ul {
	list-style-type: none;
	list-style-position: outside;
	padding: 0;
	margin: 0 0 2.0em 10px;
}
#LeftCol ul li {
	font-size: 1.3em;
	margin: 0 0 .5em 0;
	padding: 0 0 0 6px;
	font-weight: normal;
}
#LeftCol ul li a {color: #666;}
#LeftCol ul li a:hover {
    color: #009dd9;
    text-decoration: none;
}
#LeftCol ul li.selected {
    color: #009dd9;
    background: url(../Images/bgNavArrow.gif)/*tpa=http://www.chevron.com/Images/bgNavArrow.gif*/ no-repeat 0 4px;
}
#LeftCol ul li.selected a.selected {color: #009dd9;}
#LeftCol ul li ul {margin: 6px 0 0 6px;}
#LeftCol ul li ul li {
	margin: 0 0 .3em 0;
	font-size: .85em;
}
#LeftCol ul li ul li ul {margin: 4px 0 0 6px;}
#LeftCol ul li ul li ul li {font-size: 1em;}
#LeftCol ul li.section {
	margin-top: 10px;
	padding-top: 23px;
}
#LeftCol ul li#renewables {background: url(../Images/navRenewables.gif)/*tpa=http://www.chevron.com/Images/navRenewables.gif*/ no-repeat 0 0;}
#LeftCol ul li#renewables.selected {background: url(../Images/navRenewablesOn.gif)/*tpa=http://www.chevron.com/Images/navRenewablesOn.gif*/ no-repeat 0 0;}
#LeftCol ul li#emergingEnergy {background: url(../Images/navEmergingFuels.gif)/*tpa=http://www.chevron.com/Images/navEmergingFuels.gif*/ no-repeat 0 0;}
#LeftCol ul li#emergingEnergy.selected {background: url(../Images/navEmergingFuelsOn.gif)/*tpa=http://www.chevron.com/Images/navEmergingFuelsOn.gif*/ no-repeat 0 0;}
#LeftCol ul li#efficiencyConservation {background: url(../Images/navEfficiencyConservation.gif)/*tpa=http://www.chevron.com/Images/navEfficiencyConservation.gif*/ no-repeat 0 0;}
#LeftCol ul li#efficiencyConservation.selected {background: url(../Images/navEfficiencyConservationOn.gif)/*tpa=http://www.chevron.com/Images/navEfficiencyConservationOn.gif*/ no-repeat 0 0;}