
/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> global settings needed for thickbox <<<-----------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
*{padding: 0; margin: 0;}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox specific link and font settings <<<------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
/*#TB_window {
	font: 12px Arial, Helvetica, sans-serif;
	color: #333333;
}

#TB_secondLine {
	font: 10px Arial, Helvetica, sans-serif;
	color:#666666;
}

#TB_window a:link {color: #666666;}
#TB_window a:visited {color: #666666;}
#TB_window a:hover {color: #000;}
#TB_window a:active {color: #666666;}
#TB_window a:focus{color: #666666;}*/

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox settings <<<-----------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_overlay {
	position: fixed;
	z-index:100;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
}

.TB_overlayMacFFBGHack {background: url(Unknown_83_filename)/*tpa=http://www.chevron.com/css/macFFBgHack.png*/ repeat;}
.TB_overlayBG {
	background-color:#fff;
	filter:alpha(opacity=50);
	-moz-opacity: 0.50;
	opacity: 0.50;
}

* html #TB_overlay { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#TB_window {
	position: fixed;
	/*background: #ffffff;*/
	z-index: 102;
	color: #666;
	display:none;
	/*border: 1px solid #ddd;*/
	text-align:left;
	top:50%;
	left:50%;
	overflow: hidden;
}

* html #TB_window { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#TB_window img#TB_Image {
	display:block;
	margin: 15px 0 0 15px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #666;
	border-left: 1px solid #666;
}

#TB_caption{
	height:25px;
	padding:7px 30px 10px 25px;
	float:left;
}

#TB_closeWindow{
	height:25px;
	padding:11px 25px 10px 0;
	float:right;
}

#TB_closeAjaxWindow{
	padding:7px 10px 5px 0;
	margin-bottom:1px;
	text-align:right;
	float:right;
}

#TB_ajaxWindowTitle{
	float:left;
	padding:7px 15px 5px 10px;
	margin-bottom:1px;
	font-size:1.5em;
	color:#333;
}

#TB_title{
	/*background-color:#e8e8e8;*/
	height:27px;
}

#TB_ajaxContent{
	clear:both;
	padding:8px 8px 5px 8px;
	overflow: hidden;
	text-align:left;
	line-height:1.4em;
}

#TB_ajaxContent.TB_modal{
	padding:15px;
}

#TB_ajaxContent p{
	padding:5px 0px 5px 0px;
}
#TB_ajaxContent h2 {
	line-height: 1.2em;
}
#TB_load{
	position: fixed;
	display:none;
	height:13px;
	width:208px;
	z-index:103;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -104px; /* -height/2 0 0 -width/2 */
}

* html #TB_load { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#TB_HideSelect{
	z-index:99;
	position:fixed;
	top: 0;
	left: 0;
	background-color:#fff;
	border:none;
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	height:100%;
	width:100%;
}

* html #TB_HideSelect { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#TB_iframeContent{
	clear:both;
	padding: 2px 0 5px 8px;
	overflow: auto;
	text-align: left;
	line-height: 1.4em;
	position: relative;
}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox additions <<<----------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/


#TB_wrapper {
	padding: 0 6px 6px 0;
	overflow: hidden;
	position: relative;
}
#TB_contentPad {
	padding: 3px;
	background: #fff;
	border: 1px solid #ddd;
	position: relative;
}
#TB_content {
	background: #fff url(../Images/bgSubNav.gif)/*tpa=http://www.chevron.com/Images/bgSubNav.gif*/ repeat-x 0 100%;
	position: relative;
}
#TB_popupImg {
	position: absolute;
	right: 0;
	bottom: 0;
	height: 800px;
	width: 800px;
	background: url(../Images/bgSubNavShadow.png)/*tpa=http://www.chevron.com/Images/bgSubNavShadow.png*/ no-repeat;
	_background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/Images/bgSubNavShadow.png', sizingMethod='scale');
}
#TB_closeWindowButton {
	display: block;
	background: url(../Images/iconClose.gif)/*tpa=http://www.chevron.com/Images/iconClose.gif*/ no-repeat 0 0;
	width:	11px;
	height: 11px;
	text-align: left;
	text-indent: -5000px;
	overflow: hidden;
    position: absolute;
    right: 4px;
    top: 6px;
    _right: 12px;
}
/* Form settings */
#TB_window fieldset {
	padding-bottom: 0;
}
#TB_window div.iefix {
	float: left;
}
#TB_window div.nolabel {
	float: none;
}
#TB_window form fieldset div.buttons {
	width: 333px;
	text-align: right;
}


/* Misc. styles */
a, a:visited {
	color: #4082c6;
	text-decoration: none;
}
a:hover {
	color: #4082c6;
	text-decoration: underline;
}

.external  {
	background: url(../Images/iconExternal.gif)/*tpa=http://www.chevron.com/Images/iconExternal.gif*/ no-repeat 0 4px;
	padding: 4px 0 4px 18px;
}
.pdf {
	background: url(../Images/iconPDF.gif)/*tpa=http://www.chevron.com/Images/iconPDF.gif*/ no-repeat 0 4px;
	padding: 4px 0 4px 22px;
}
.imgCaption {
    color: #333333;
    line-height: 1.4em;
}

/* Video caption styles */
.vidDesc { 
	width: 90%;
	color: #333333;
	font: normal .8em/1.4em arial, helvetica, sans-serif;
	line-height: 1.4em;
}
.vidDesc8Line { 
	width: 97%;
	height: 173px;
	overflow: auto;
}
.vidDesc p { margin-top: .7em; }
.vidDesc h1 {
	font-size: 1.5em;
	font-weight: normal;
	color: #009dd9;
	margin: 1em 0 0 0;
}

.vidDesc h2 { 
	font-size: 1em;
	font-weight: normal;
	color: #009dd9;
}
.vidDesc a {
    outline: 0;
}
/* Style corrections for AJAX thickbox vs. iframe */
#TB_window .vidDesc h1 {
    font-size: 2.4em;
    line-height: 1.2em;
}

#TB_window .vidDesc p {
    font-size: 1.6em;
    line-height: 1.4em;
    margin-bottom: 0px;
    padding: 0px;
}
.flashMsg {
	background: #efefef;
	border: solid 2px #999;
	font-size: 1.2em;
	width: auto;
    margin: 5px;
    padding: 10px;
}
.flashMsg a { color: #ff0000; }
.flashMsg img {
	vertical-align: middle;
	padding: 8px;
	border: none;
}

a.ThickboxSplashLink span {
    display: none;
}