.home-news-col h2, .main-content h2 {
	display:block;
}
.home-news-col h2 a.archive-link {
	/*display:block;*/

}
.row {
	display:block;
	overflow:hidden;
}
.showarea {
	display:block;
	overflow:hidden;
	clear:both;
}
dl.news-mod dt {
	float: left !important;
	margin: 0 20px 0 0 !important;
	padding: 0;
	width: 92px !important;
}
.home-events-col { 
	margin-left: 2% !important;
	padding-left: 2% !important;
}
.pf-1col {
	margin-left:4%;	
}
.utilitynav-search { 
	top:28px;
	position:relative;
	float:right;
	display:block;
	clear:none;
}
.search-wrap, .lang-select-wrap .lang-select {
	border:1px solid #bbbbb9;
}
.search-wrap input {
	border:none; border:0; border-color: transparent; margin:0; padding:0; height:22px; line-height:22px;
}
.lang-select-wrap, .result-select-wrap {
	overflow:hidden;
	display:block;
}
.lang-select, .result-select {
	overflow:visible;
}
.lang-select select {
	 border:0; border-color: transparent; margin:0; padding:0; height:22px; line-height:22px; width:112px;
	 border-top:0;
	 border-left:0;
}
.results-select {
	background: #fff url(../images/select-background.png)/*tpa=http://www.nov.com/images/select-background.png*/ no-repeat 24px center;
	border-right: 1px solid #bbbbb9;
	float: left;
	height: 20px;
	line-height: normal;
	margin: 0 0 0 0;
	overflow: hidden;
	vertical-align: top;
	width: 45px;
}

.search-large .searchform {
	border-right: none;
	float: left;
	margin: 0 auto;
	width: 325px;
}

.search-large .search-wrap {
	margin:0 20px 0 0;
}

.searchbutton {
	display:block;
	
}
.select-red-wrap {
	overflow:hidden;
	display:block;
	width:150px;
}
.select-red {
	overflow:visible;
}
.select-red select {
	width:150px;
}
.prefooter .select-red-wrap {
	overflow:hidden;
	display:block;
	width:150px;
}
.prefooter .select-red {
	background: #fff  url(../images/select-red-background.png)/*tpa=http://www.nov.com/images/select-red-background.png*/ no-repeat 130px 0;
}
.select-red-long {
	background: #fff url(../images/select-red-background.png)/*tpa=http://www.nov.com/images/select-red-background.png*/ no-repeat 188px 0;

}
.prefooter .select-red {
	overflow:hidden;
}
.prefooter .select-red select {
	width:170px;
}

.thumbnail-title, .thumbnail-roll {
	left:0px;
}
.thumbnail-wrapper a {
	text-decoration:none;
}

.home-news-col .col {
	/*max-width:46%;*/
}
.feature .blurb {
	margin: 16px 26px 20px !important;
	line-height: normal;
}
input[type="submit"].button-red {
	background: #d81e05;
	border: none;
	color: #ffffff;
	font-size: 14px;
	margin-right:4px;
	padding: 1px 2px;
	text-shadow: 0px -1px 0px rgba(000,000,000,0.4), 0px 0px 0px rgba(255,255,255,0);
	letter-spacing: 0.125em;
	text-transform:uppercase;
}
input[type="submit"].button-grey {
	background: #cccccc;
	border: none;
	color: #555555;
	margin-right:4px;
	padding: 1px 2px;
}
.prefooter input[type="submit"].button-red {
	margin-right:10px;
	padding: 1px 10px;
}
.prefooter input[type="submit"].button-grey {
	margin-right:10px;
	padding: 1px 10px;
}
.side-by-side .one-half-w-split {
	width: 47.9166666666%;
	margin-left: 4%;
	padding-left: 0%;
	background: none;
	float:left;
}
.side-by-side .one-third-w-split {
	width:30%;
}
.side-bar .eventarea hr, .side-bar hr {
	border-bottom: 1px solid #d2d2d2;
}
.left-nav li.current>a {
	background: url(../images/left-nav-ie7.gif)/*tpa=http://www.nov.com/images/left-nav-ie7.gif*/ 0 0 repeat-y #ededed;
}
a:active {background-color: transparent;}


.wrap { width: 1228px; }
.PBViewing  { float:none !important; }
.home-intro-col { width: 285px; }
.home-news-col { width: 545px;}
.home-news-col .col {
	float: left;
	width: 255px;
}
.home-news-col .first-col { margin: 0 35px 0 0; }
.news-mod img {
	height: auto;
	max-width: 100%;
	width: 253px;
}
.content { border-bottom:none; }
DL.news-mod DT { width:100% !important; }
.span4 { width: 718px; }
.home-news-col { width: 545px; }
.brand .home-events-col { width: 38%; }
.news-mod img {
	height: auto;
	max-width: 100%;
}
.home-news-col .col {
	float: left;
	width: 255px;
	margin-bottom:10px;
}
.home-news-col .first-col { margin: 0 35px 0 0; }
.brand DL.news-mod DT { width:100%; }
#header .utility-block ul li { display:inline; }
.home-content-wrap ul.columnwidgetlist li { float:left; }
.home-news-col .showarea hr { display:none; }
.eventarea { border-bottom:none; }
.home-content-wrap {
	position:relative;
	top:-30px;
}
.brand .columnwidgetlist li { float:left; }
.brand .columnwidgetlist li:nth-child(2n) { width:42%; }
.brand .columnwidgetlist li:nth-child(2n) .home-events-col { width:100%; }

.one-third { width:29.5%; }
.left-nav-content-wrap .block-list li  { width:47%; }
.content-sidebar-wrap .main-content { width:998px; }
.left-nav-content-sidebar-wrap .main-content { width: 718px; }
input[type="text"].searchprod, input[type="search"].searchprod { padding-top:5px; }
.left-nav-content-wrap .main-content { width: 100%; }
input-form-mobile-inline, input-form-mobile-inline { display:inline; }
.one-half { width:45%; }
.story-list-container .story-list-item-data { width:760px; }
ul.primarynav-list li ul.sub-menu li { width:275px; }
ul.primarynav-list li ul.sub-menu li a{ width:auto; }
.slide-title { text-transform:inherit; }
.home-content-wrap h2 { text-transform:inherit; }
.flyout-menu { left:275px; }
.slider-block .wrap { width:100.9% }
.arrows-nav { 
	text-indent:-9999px; 
	font-size:0;
	line-height:0;
	text-transform:capitalize;
}
.carousel-wrapper { height: 591px; }
.brand dl.news-mod dd { width:100%; }

.blocklist li:nth-child(2n+3) {
  margin-left: 0px;
}

.columnwidgetlist li:nth-child(3) {
margin-left: 200px;
}

.block-list li {
width: 394px;
}





