.span3{
	width:640px;
}


.pf-1col {
	margin-left:4%;	
}
.first-col {
	margin-left: 0;
}
dl.news-mod dt {
	float: left !important;
	margin: 0 20px 0 0 !important;
	/* padding: 0; */
	/* width: 92px !important; */
}

.slide-title {
	font-family: 'Oswald', sans-serif;
	font-weight:300;
}
.feature .blurb {
	margin: 16px 26px 20px !important;
	line-height: normal;
}

.search-large input[type="text"].searchform, .search-large input[type="search"].searchform {
	color: #777;
	font-size: 0.6875rem;
	font-size: 11px;
	height: 17px;
	margin: 0;
	padding: 3px 5px 0px;
	-webkit-appearance: none;
}
input[type="text"].searchform, input[type="search"].searchform {
	color: #777;
	font-size: 0.6875rem;
	font-size: 11px;
	height: 17px;
	margin: 0;
	padding: 3px 5px 0;
	-webkit-appearance: none;
}

.main-content INPUT[type='text']{
	padding:6px 0 0 6px;
}


		/* CMO - 11-18-2013 - ADC Update */
/*.left-nav-content-wrap .block-list li+li+li, 
.left-nav-content-wrap .block-list li+li+li+li+li,
.left-nav-content-wrap .block-list li+li+li+li+li+li+li,
.left-nav-content-wrap .block-list li+li+li+li+li+li+li+li+li,
.left-nav-content-wrap .block-list li+li+li+li+li+li+li+li+li+li+li {
	margin:0 0 0 0;
}
.left-nav-content-wrap .block-list li+li+li+li,
.left-nav-content-wrap .block-list li+li+li+li+li+li,
.left-nav-content-wrap .block-list li+li+li+li+li+li+li+li,
.left-nav-content-wrap .block-list li+li+li+li+li+li+li+li+li+li,
.left-nav-content-wrap .block-list li+li+li+li+li+li+li+li+li+li+li+li,
.left-nav-content-wrap .block-list li+li+li+li+li+li+li+li+li+li+li+li+li+li {
	margin:0 0 0 42px;
}*/

INPUT[type='text'].searchprod{
	padding:5px 0 0 5px;
}


.home-events-col h2{
	font-size:25px;
}


HTML.lt-ie9 .block-list LI.lastli{
	margin:0 0 0 10px;
}




.wrap { width: 1228px; }
.PBViewing  { float:none !important; }
.home-intro-col { width: 285px; }
.home-news-col { width: 545px;}
.home-news-col .col {
	float: left;
	width: 255px;
}
.home-news-col .first-col { margin: 0 35px 0 0; }
.news-mod dt > div {
	width: 253px;
}
.content { 
	padding-top:0;
	border-bottom:none;
}
.span4 { width: 718px; }
.home-news-col { width: 545px; }
.brand .home-events-col { width: 38%; margin-top:-10px; }
.news-mod img {
	height: auto;
	max-width: 100%;
}
.home-news-col .col {
	float: left;
	width: 255px;
}
.home-news-col .first-col { margin: 0 35px 0 0; }
.brand DL.news-mod DT { width:100%; }
.left-nav-content-wrap .block-list li {
	margin: 0 0 0 38px;
	width: 290px;
}
.block-list li:nth-child(odd) { clear: none; }
.left-nav-content-wrap .block-list li {
	margin: 0 0 0 38px;
	width: 290px;
}
.left-nav-content-wrap .block-list li:nth-child(3n) { margin: 0 0 0 38px; }
.block-list li:nth-child(4), .block-list li:nth-child(7), .block-list li:nth-child(10), .block-list li:nth-child(16), .block-list li:nth-child(22), .block-list li:nth-child(28) {
	clear: both;
	margin: 0 0 0 0;
}
.block-list li:nth-child(5n) { margin: 0 0 0 38px !important; }

.left-nav-content-sidebar-wrap .main-content { width: 718px; }
.left-nav-content-wrap .main-content { width: 948px; }
.story-list-container .story-list-item-data { width:760px; }
.arrows-nav { 
	text-indent:-9999px; 
	font-size:0;
	line-height:0;
	text-transform:capitalize;
}
.carousel-wrapper { height: 591px; }
.brand dl.news-mod dd { width:100%; }
.product-list li { width:238px; }
.product-carousel-scroll {
	/* height: 108px; */
	height: 86px;
	width: 656px;
}
.story-list-container .story-list-item-img  { width: 215px; }
.block-list li:nth-child(4), .block-list li:nth-child(7), .block-list li:nth-child(10), .block-list li:nth-child(13), .block-list li:nth-child(16), .block-list li:nth-child(19), .block-list li:nth-child(22), .block-list li:nth-child(28) {
	clear: both;
	margin:0 !important;
}
.block-list li:nth-child(5), .block-list li:nth-child(8), .block-list li:nth-child(11), .block-list li:nth-child(14), .block-list li:nth-child(17), .block-list li:nth-child(20) {
	margin: 0 0 0 40px !important;
}
.span2 { width: 998px; }

.tn-lg {
	width: 100%;
	height: 376px;
}
.main-content .blocklist-item-wrapper { 
	width:30.5% !important;
	height:350px;
}
.story-list-container .blocklist-item-wrapper { 
	width:100% !important; 
	height:inherit;
}
.resources ul li:nth-child(odd) { margin-left: 38px; }
.resources ul li.firstli { margin-left: 0; }
.resources ul li { 
	min-height:425px; 
	width:275px;
	margin-left:38px;
}
.resources ul li:nth-child(1), .resources ul li:nth-child(4), .resources ul li:nth-child(7), .resources ul li:nth-child(10), .resources ul li:nth-child(13), .resources ul li:nth-child(16), .resources ul li:nth-child(19), .resources ul li:nth-child(22), .resources ul li:nth-child(25), .resources ul li:nth-child(28), .resources ul li:nth-child(31), .resources ul li:nth-child(34), .resources ul li:nth-child(37), .resources ul li:nth-child(40), .resources ul li:nth-child(43), .resources ul li:nth-child(46), .resources ul li:nth-child(49), .resources ul li:nth-child(52), .resources ul li:nth-child(55), .resources ul li:nth-child(58), .resources ul li:nth-child(61), .resources ul li:nth-child(64), .resources ul li:nth-child(67), .resources ul li:nth-child(70), .resources ul li:nth-child(73), .resources ul li:nth-child(76), .resources ul li:nth-child(79), .resources ul li:nth-child(82), .resources ul li:nth-child(85), .resources ul li:nth-child(88), .resources ul li:nth-child(91), .resources ul li:nth-child(94), .resources ul li:nth-child(97), .resources ul li:nth-child(100), .resources ul li:nth-child(103), .resources ul li:nth-child(106), .resources ul li:nth-child(109), .resources ul li:nth-child(112), .resources ul li:nth-child(115), .resources ul li:nth-child(118), .resources ul li:nth-child(121), .resources ul li:nth-child(124), .resources ul li:nth-child(127), .resources ul li:nth-child(130), .resources ul li:nth-child(133), .resources ul li:nth-child(136), .resources ul li:nth-child(139), .resources ul li:nth-child(142), .resources ul li:nth-child(145), .resources ul li:nth-child(148), .resources ul li:nth-child(151), .resources ul li:nth-child(154), .resources ul li:nth-child(157)

