#form .address .left 
{
    margin-right:0;
}

.bold 
{
    vertical-align:top;
}

.right.times 
{
    width:120px;
}

.add 
{
    height:25px;
    position:relative;
}

    .add input 
    {
        position:absolute;
        top:4px;
        left:0;
    }
    
#form h2 
{
    width:230px;
    margin-top:5px;
}

#header 
{
    width:510px;
}

#form 
{
    width:510px;
}

#registerBtn 
{
    height:26px;
    position:relative;
}

    #registerBtn input 
    {
        position:absolute;
        bottom:-5px;
        left:200px;
    }
    
#form label 
{
    margin-bottom:3px
}