body#fish-for-fun 
{
	font-family:Arial, Verdana, Sans-Serif;
	margin:0;
	padding:0;
}

#fishForFun 
{
    position:absolute;
    z-index:9999;
    top:0;
}

#fish-for-fun p {
	font-size:12px;
	font-family:Arial, Verdana, Sans-Serif;
	line-height:16px;
	margin:0 0 12px 0;
}

#fish-for-fun .left {
	float:left;
}

#fish-for-fun .right {
	float:right;
}

#fish-for-fun .centerText {
	text-align:center;
}

#fish-for-fun .clear {
	clear:both;
	margin:0;
	padding:0;
}

#fish-for-fun .red,
#fish-wrapper .red 
{
	color:#d11241;
}

#fish-for-fun .bold, 
#fish-wrapper .bold 
{
	font-weight:bold;
	font-size:14px;
}
	            
#fish-for-fun .sponsor 
{
	font-weight:bold;
	font-style:italic;
}

#fish-for-fun .nomargin {
	margin:0 !important;
}

#fish-for-fun .noborder 
{
    border:none !important;
}

#fish-for-fun .logo 
{
    margin:0 0 5px 10px;
}

#overlay {
	background:#000;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter:alpha(opacity=75);
	-moz-opacity:0.75;
	-khtml-opacity: 0.75;
	opacity:0.75;
	width:100%;
	height:1330px;
	position:fixed;
	top:0;
	left:0;
	z-index:99996;
	cursor:pointer;
}

	#fish-for-fun #wrapper {
		width:668px;
		height:1330px;
		overflow:visible;
		position:absolute;
		top:10px;
		left:0;
		margin:0;
		z-index:99999;
		text-align:left;
	}
	
	#fish-for-fun #bg {
		width:668px;
		height:1330px;
		overflow:hidden;
		background:url(../images/bg.png)/*tpa=http://www.consolenergy.com/FishForFun/images/bg.png*/ no-repeat;
		position:relative;
		z-index:99998;
	}
	
	#fish-for-fun #termsPanel {
		position:absolute;
		bottom:150px;
		/*right:-282px;*/
		right:306px;
		display:block;
		width:306px;
		height:640px;
		overflow:visible;
		background:url(../images/bg-rules.png)/*tpa=http://www.consolenergy.com/FishForFun/images/bg-rules.png*/ no-repeat;
		z-index:99997;
	}
	
		#fish-for-fun .close {
			width:46px;
			height:45px;
			overflow:hidden;
			text-indent:-2000px;
			background:url(../images/btn-close-off.png)/*tpa=http://www.consolenergy.com/FishForFun/images/btn-close-off.png*/ no-repeat;
			position:absolute;
		}
		
		#fish-for-fun .close:hover {
			background:url(../images/btn-close-on.png)/*tpa=http://www.consolenergy.com/FishForFun/images/btn-close-on.png*/ no-repeat;
		}
		
		    #fish-for-fun #wrapper .close 
		    {
		        top:147px;
		        right:-25px;
		    }
		
		    #fish-for-fun #termsPanel .close 
		    {
		        top:5px;
			    right:-25px;
		    }
	
		#fish-for-fun #termsPanel .interior {
			margin:63px 74px 75px 25px;
			height:502px;
			width:207px;
			overflow:hidden;
		}
		
			#fish-for-fun #termsPanel .interior h1 {
				font-size:21px;
	            font-family:Arial, Verdana, Sans-Serif;
	            font-weight:bold;
	            color:#668;
	            margin:0 0 10px 0;
	            text-transform:uppercase;
			}
			
			#fish-for-fun #termsPanel .interior p {
				font-size:12px;
	            font-family:Arial, Verdana, Sans-Serif;
	            line-height:18px;
	             margin:0 0 15px 0;
				 color:#333;
			}
	
	    #fish-for-fun #content 
	    {
	        /*height:853px;*/
	        height:1215px;
	        overflow:hidden;
	        margin:40px 80px 60px 55px;
			padding:10px;
			position:relative;
	    }
		
			#fish-for-fun #logo {
				width:309px;
				height:239px;
				overflow:hidden;
				position:absolute;
				top:0;
				left:169px;
				z-index:999999;
				background:url(../images/logo.png)/*tpa=http://www.consolenergy.com/FishForFun/images/logo.png*/ no-repeat;
			}
	    
	        #fish-for-fun #header 
	        {
	            background:url(../images/bg-headerWater.png)/*tpa=http://www.consolenergy.com/FishForFun/images/bg-headerWater.png*/ repeat-x;
	            background-position:center bottom;
	            padding:0 0 60px 0;
	        }
	        
	            #fish-for-fun #dateNav 
	            {
	                width:auto;
	                margin:0 auto 30px auto;
	                display:table;
	            }
	        
	                #fish-for-fun #dateNav ul
	                {
	                    list-style:none;
	                    margin:0;
	                    padding:0;
	                    display:table-row;
	                }
	                
	                    #fish-for-fun #dateNav ul li 
	                    {
	                        display:table-cell;
	                        vertical-align:top;
	                    }
	                    
	                    #fish-for-fun #dateNav ul li.first 
	                    {
	                        border-right:20px solid #fff;
	                    }
	                    
	                        #fish-for-fun #dateNav ul li a 
	                        {
	                            background:#ccc;
	                            color:#666;
	                            font-size:12px;
	                            padding:5px 15px;
	                            border-radius:10px;
	                            -moz-border-radius:10px;
	                            -webkit-border-radius:10px;
	                            -o-border-radius:10px;
	                            text-decoration:none;
	                            font-family:'PTSansNarrowRegular','PT Sans Narrow',arial,verdana,sans-serif;
	                            text-transform:uppercase;
	                            font-weight:bold;
	                            display:block;
	                            transition:all 0.5s;
	                            -moz-transition:all 0.5s;
	                            -webkit-transition:all 0.5s;
	                            -o-transition:all 0.5s;
	                            text-align:center;
	                            vertical-align:middle;
	                        }
	                        
	                        #fish-for-fun #dateNav ul li a:hover,
	                        #fish-for-fun #dateNav ul li a.active 
	                        {
	                            transition:all 0.5s;
	                            -moz-transition:all 0.5s;
	                            -webkit-transition:all 0.5s;
	                            -o-transition:all 0.5s;
	                            color:#fff;
	                            background:#D11241;
	                        }
	                
	                #fish-for-fun #header .info 
	                {
	                    position:relative;
	                }
	                        
	                    #fish-for-fun #header .info .dates 
	                    {
	                        display:block;
	                        position:relative;
	                        top:0;
	                    }
	        
	            #fish-for-fun #header h1 
	            {
	                font-size:31px;
	                font-family:Arial, Verdana, Sans-Serif;
	                font-weight:bold;
	                color:#333;
	                margin:0 0 6px 0;
	                padding:60px 0 0 0;
	                text-transform:uppercase;
	            }
	            
	            #fish-for-fun #header p 
	            {
	                font-size:12px;
	                font-family:Arial, Verdana, Sans-Serif;
	                line-height:18px;
	                margin:0 0 15px 0;
	            }
				
				#fish-for-fun #header .times {
					margin:20px 0 10px 0;
				}
				
					#fish-for-fun #header .times p {
						margin:0 0 5px 0;
					}
					
					#fish-for-fun #header .times .btn-directions {
						width:119px;
						height:26px;
						overflow:hidden;
						text-indent:-2000px;
						background:url(../images/btn-directions-off.gif)/*tpa=http://www.consolenergy.com/FishForFun/images/btn-directions-off.gif*/ no-repeat;
						display:block;
						margin:0 auto;
					}
					
					#fish-for-fun #header .times .btn-directions:hover {
						background:url(../images/btn-directions-on.gif)/*tpa=http://www.consolenergy.com/FishForFun/images/btn-directions-on.gif*/ no-repeat;
					}
					
					#fish-for-fun #header .times .left 
					{
					    width:29%;
					    text-align:center;
					    padding:10px;
					    border-right:1px dotted #999;
					}
	        
	        #fish-for-fun #form 
	        {
	            position:relative;
	        }
			
				#fish-for-fun #form .left {
					width:49%;
				}
				
				#fish-for-fun #form .right {
					width:49%;
				}
			
				#fish-for-fun #form h2, 
				#fish-for-fun #bar h2 
				{
					font-family:Arial, Verdana, Sans-Serif;
					font-size:21px;
					text-transform:uppercase;
					color:#fff;
					font-weight:bold;
					display:block;
					background:#d11241;
					padding:3px 6px;
					margin:0 0 5px 0;
				}
				
				#fish-for-fun #form select 
				{
				    padding:5px;
				}
				
				#fish-for-fun #form label {
					display:inline-block;
					font-size:14px;
					font-weight:bold;
					color:#333;
					text-transform:uppercase;
					margin:0 0 5px 0;
					font-family:Arial, Verdana, Sans-Serif;
				}
				
				#fish-for-fun #form .required {
					color:#333;
					font-size:10px;
					font-style:italic;
					margin:0 0 10px 0;
				}
				
				#fish-for-fun #form .kidForm {
					width:70%;
				}
				
				#fish-for-fun #form .kids {
					width:30%;
				}
				
					#fish-for-fun #form .kids table {
						border:none;
						width:100%;
					}
					
						#fish-for-fun #form .kids table tr {
							
						}
						
							#fish-for-fun #form .kids table tr th {
								border:none;
								height:26px;
							}
						
							#fish-for-fun #form .kids table tr td {
								border:none;
								padding:3px;
								font-size:11px;
								text-align:right;
							}
				
				#fish-for-fun #form .left.child {
					width:120px;
					margin:0 4px 0 0;
				}
				
					#fish-for-fun #form .left.child label {
						font-size:11px;
					}
				
				#fish-for-fun #form .left.age {
					width:43px;
					margin:0 5px 0 0;
				}
				
					#fish-for-fun #form .left.age label {
						font-size:11px;
					}
				
				#fish-for-fun #form .add {
					width:52px;
					margin:0;
					padding:4px 0 0 0;
					float:left;
				}
				
					#fish-for-fun #form .add input {
						width:52px;
						height:25px;
						background:url(../images/btn-add-off.gif)/*tpa=http://www.consolenergy.com/FishForFun/images/btn-add-off.gif*/ no-repeat;
						overflow:hidden;
						border:none;
						text-indent:-2000px;
						cursor:pointer;
					}
					
					#fish-for-fun #form .add input:hover {
						background:url(../images/btn-add-on.gif)/*tpa=http://www.consolenergy.com/FishForFun/images/btn-add-on.gif*/ no-repeat;
					}
				
				#fish-for-fun #form input {
					height:30px;
					border:none;
					padding:1px 8px 0 8px;
				}
				
					#fish-for-fun #form .long {
						background:url(../images/input-long.gif)/*tpa=http://www.consolenergy.com/FishForFun/images/input-long.gif*/ no-repeat;
						width:208px;
					}
					
					#fish-for-fun #form .medium {
						background:url(../images/input-medium.gif)/*tpa=http://www.consolenergy.com/FishForFun/images/input-medium.gif*/ no-repeat;
						width:104px;
					}
					
					#fish-for-fun #form .midShort {
						background:url(../images/input-midShort.gif)/*tpa=http://www.consolenergy.com/FishForFun/images/input-midShort.gif*/ no-repeat;
						width:43px;
					}
					
					#fish-for-fun #form .short {
						background:url(../images/input-short.gif)/*tpa=http://www.consolenergy.com/FishForFun/images/input-short.gif*/ no-repeat;
						width:26px;
					}
					
				#fish-for-fun #form .address {
					margin:15px 0;
				}
					
					#fish-for-fun #form .address .left {
						margin-right:5px;
						width:auto;
					}
					
				#fish-for-fun #form .error {
					font-size:12px;
					display:block;
					/*visibility:hidden;
					display:block;*/
				}
				
				#fish-for-fun #form .total {
					height:25px;
					display:block;
					float:left;
					margin:0 5px 10px 0;
					padding:7px 0 0 0;
				}
					
				#fish-for-fun #form .btn-submit {
					width:119px;
					height:26px;
					overflow:hidden;
					border:none;
					cursor:pointer;
					background:url(../images/btn-submit-off.gif)/*tpa=http://www.consolenergy.com/FishForFun/images/btn-submit-off.gif*/ no-repeat;
					text-indent:-2000px;
				}
				
				#fish-for-fun #form .btn-submit:hover {
					background:url(../images/btn-submit-on.gif)/*tpa=http://www.consolenergy.com/FishForFun/images/btn-submit-on.gif*/ no-repeat;
				}
				
				#fish-for-fun #form .disclaimer {
					font-size:11px;
					line-height:14px;
					text-align:left;
					text-transform:none;
					font-weight:normal;
				}
				
				#fish-for-fun #form .age_checkbox {
					position:absolute;
					bottom:-2px;
					left:30px;
				}
				
					#fish-for-fun #form .age_checkbox label {
						font-size:11px;
						color:#333;
						font-weight:normal;
						text-transform:uppercase;
						float:left;
						margin:7px 5px 0 0;
					}
					
					#fish-for-fun #form .age_checkbox input {
						float:left;
					}
					
	#fish-for-fun #termsLink {
		position:absolute;
		width:100%;
		bottom:60px;
		left:0;
		text-align:center;
	}
	
		#fish-for-fun #termsLink a {
			font-size:10px;
			font-style:italic;
			color:#636363;
		}
		
		#fish-for-fun #termsLink a:hover {
			color:#cc0033;
		}
		
/* Thank You Styles */
#fish-for-fun #thankYou 
{
    
}

#fish-for-fun #thankYou h2 
{
    font-size:21px;
    font-weight:700;
    color:#cc0033;
    text-transform:uppercase;
    text-align:center;
}

#fish-for-fun #thankYou p 
{
    
}

#registerLightBox 
{
    width:668px;
    height:1230px !important;
    position:absolute;
    top:10px;
    left:0;
    z-index:100000;
}

    .closeBtn {
		width:46px;
		height:45px;
		overflow:hidden;
		text-indent:-2000px;
		background:url(../images/btn-close-off.png)/*tpa=http://www.consolenergy.com/FishForFun/images/btn-close-off.png*/ no-repeat;
		position:absolute;
		cursor:pointer;
		z-index:1000001;
	}
		
	.closeBtn:hover {
		background:url(../images/btn-close-on.png)/*tpa=http://www.consolenergy.com/FishForFun/images/btn-close-on.png*/ no-repeat;
	}
		
		#registerLightBox .closeBtn 
		{
		    top:30px;
		    right:-25px;
		}
		
/* Landing Page Styles */
#fish-wrapper {
	width:900px;
	margin:0 auto;
	padding-bottom:10px;
}

	#fish-wrapper #fish-head {
		width:900px;
		height:41px;
		background:url(../images/bg-landing-head.gif)/*tpa=http://www.consolenergy.com/FishForFun/images/bg-landing-head.gif*/ no-repeat;
	}
	
	#fish-wrapper #fish-body {
		width:776px;
		background:url(../images/bg-landing-body.gif)/*tpa=http://www.consolenergy.com/FishForFun/images/bg-landing-body.gif*/ repeat-y;
		padding:10px 62px;
	}
	
		#fish-wrapper #fish-body h2 {
			width:513px;
			height:48px;
			overflow:hidden;
			background:url(../images/landing-header.png)/*tpa=http://www.consolenergy.com/FishForFun/images/landing-header.png*/ no-repeat;
			text-indent:-2000px;
			font-size:50px;
			font-weight:bold;
			margin:0 auto;
		}
		
		#fish-wrapper #fish-body h3 {
			font-size:20px;
			color:#363636;
			text-align:center;
			font-weight:normal;
			margin:20px 0 5px 0;
		}
		
		#fish-wrapper #fish-body .strong {
			font-weight:bold;
		}
		
		#fish-wrapper #fish-body .date {
			margin:5px 0;
		}
		
		#fish-wrapper #fish-body p {
			background:url(../images/bg-dashed.gif)/*tpa=http://www.consolenergy.com/FishForFun/images/bg-dashed.gif*/ repeat-x;
			background-position:left center;
			text-align:center;
			font-size:14px;
			font-weight:normal;
			font-style:italic;
			color:#363636;
			margin:0 150px;
		}
		
		#fish-wrapper #fish-body .button {
			background:url(../images/btn-register-fishPage.gif)/*tpa=http://www.consolenergy.com/FishForFun/images/btn-register-fishPage.gif*/ no-repeat;
			width:94px;
			height:163px;
			overflow:hidden;
			margin:50px auto 20px auto;
			text-indent:-2000px;
			display:block;
		}
		
		#fish-wrapper #fish-body .gray {
			padding:0 5px;
			background:#f9f9f9;
		}
	
	#fish-wrapper #fish-foot {
		width:900px;
		height:61px;
		background:url(../images/bg-landing-foot.gif)/*tpa=http://www.consolenergy.com/FishForFun/images/bg-landing-foot.gif*/ no-repeat;
	}