/* HIDE */
	.my_account_box, .noprint, .boxExpandClosed, #nav, #contextNav, .skip, #extraFeatures, #tools, #featurebar { display: none !important; }
	
/* END HIDE */

/* LAYOUT */
	body { padding: 20px !important; }
	#wrap { margin: 0 auto 0 auto; text-align: left; }
	#main { border-left: solid 15px #0093D0; }
	#content { border: solid 1px #bfbfbf; padding: 20px; }
/* END LAYOUT */

/* FEATURED STORIES */
	#featuredStories { margin-bottom: 30px !important; padding: 0 !important; position: relative; z-index: 0; min-height: 280px; }
	#featuredStories * { z-index: 0 !important; }
	#featuredStories div { padding: 0 5px 1px 0 !important; }
	#featuredStories p { display: none; }
	#featuredStories h1, #featuredStories h1 a { font-size: 21px; color: #999; padding-top: 10px; }
	#featuredStories h1, #featuredStories p {  padding-left: 430px; }
	/* for Internet Explorer */
	/*\*/
	* html #featuredStories {
	height: 280px;
	}
	/**/
	#featuredStories img { display: none; }
	#featuredStories img { position: absolute; top: 0; left: 0; z-index: 2; }
	#featuredStories .activeStory { border: solid 1px #e0e0e0; border-left: none; border-right: none; border-bottom: none;}
	#featuredStories .activeStory h1 { padding-top: 15px; margin-top: 0; }
	#featuredStories .activeStory h1 a { padding-top: 0 !important; }
	#featuredStories .activeStory h1, #featuredStories .activeStory h1 a { font-size: 21px; color: #FAAF40;}
	#featuredStories .activeStory img { display: block; float: left; margin-right: 15px;  }
	#featuredStories .activeStory p { display: block; }
	#featuredStories2, #featuredStories3, #featuredStories4 { border-top: solid 1px #e0e0e0; padding-bottom: 0px; }
	#featuredStories4.activeStory { border-bottom: solid 1px #e0e0e0; }
/* END FEATURED STORIES */

IFRAME { width: 100%; height:100%; }

#featurebar {display:none;}
#nav {display:none;}
#main { border-left: none !important; }
#content {padding: 2px !important;}
#breadcrumb { margin-top:5px; padding-bottom:0px !important; }
#pageContent {border:0px !important;}
#footer a {display: none;}