/* ACCESSIBILITY */

/*/*/a{}
body{
  font-size: x-small;
  voice-family: "\"}\"";
  voice-family: inherit;
  font-size: small;
}
html>body{
  font-size: small;
}  
/* */

.skip { height:1px; left:-10000px; overflow:hidden; position:absolute; width:1px; }

/* LAYOUT */

body { background:transparent url(../images/bgd_texture_soft.jpg)/*tpa=http://www.oneok.com/images/bgd_texture_soft.jpg*/ no-repeat scroll center top; }

#wrap { width: 982px; margin: 0 auto 0 auto; background: url(../images/bgd_stripe.gif)/*tpa=http://www.oneok.com/images/bgd_stripe.gif*/ no-repeat left top; }
	#header { width: 982px; height: 134px; float: left; display: inline; border-bottom: solid 1px #bfbfbf; overflow: hidden; }
		#logo { width: 320px; float: left; height: 134px; }
		#logo img, #logo a { float: left; display: inline; margin: 0 !important; overflow:hidden; }
		.my_account_box { width: 600px; padding: 10px 20px; min-height: 115px; float: right; }
		#pageContent .my_account_box { width: 540px; background: #fff url(../images/bgd_my-account.gif)/*tpa=http://www.oneok.com/images/bgd_my-account.gif*/ top left no-repeat; padding: 0px; }
			.ma_left { width: 405px; margin-right: 30px; float: left; background: url(../images/bgd_my-account.gif)/*tpa=http://www.oneok.com/images/bgd_my-account.gif*/ top left no-repeat; }
			.ma_right { width: 160px; float: right; }
	#main { background: #fff url(../images/bgd_content_3col2.jpg)/*tpa=http://www.oneok.com/images/bgd_content_3col2.jpg*/ repeat-y left top;  border: solid 1px #bfbfbf; border-top: none !important; width: 965px; margin-left: 15px; float: left; display: inline; }
	body.wide #main { background: #fff url(../images/bgd_content.gif)/*tpa=http://www.oneok.com/images/bgd_content.gif*/ repeat-y left top; }
	body.wide #contentHeader { width: 740px; }
	body.wide #breadcrumb { width: 670px; }
	
	body.home #main { background-image: none !important; }
		#nav { border-bottom: solid 3px #003d79; background: #fff !important; }
		body.wide #content { border-bottom: solid 20px #fff; float: left; width: 965px; padding: 0 0 20px 0; min-height: 320px; }
		#content { float: left; width: 965px; padding: 0 0 20px 0; min-height: 320px; background: url(../images/bgd_white_cover.gif)/*tpa=http://www.oneok.com/images/bgd_white_cover.gif*/ no-repeat left bottom; }
		/* for Internet Explorer */
		/*\*/
		* html #content {
		height: 320px;
		}
		* html .my_account_box {
		height: 118px;
		}
		/**/
		body.home #content { border-bottom: solid 20px #fff; float: left; width: 965px; padding: 0 0 20px 0; }
			#contextNav { float: left; width: 170px; margin: 20px 0 20px 15px; display: inline; }
			body.home #contextNav { display: none !important; }
			#pageContent { float: left; width: 540px; padding: 0 20px 0 20px; display: inline; border-top: solid 20px #fff; }
			/* for Internet Explorer */
			/*\*/
				* html #pageContent { width: 550px; padding: 0 10px 0 20px; }
			/**/
			body.home #pageContent { float: left; width: 745px; margin: 0 !important; display: inline; padding-right: 20px; } /* Wider, no context nav */
			body.wide #pageContent { width: 740px !important; }
			#extraFeatures { float: left; width: 160px; margin: 20px; display: inline; font-size: .85em; }
			body.wide #extraFeatures { display: none !important; }
			body.home #pageContent { float: left; width: 745px; margin: 0 !important; display: inline; padding-right: 20px; } /* Wider, no context nav */
			body.home #extraFeatures { margin-left: 0 !important; } /* Wider, no context nav */
			
			
		#featurebar { border-top: solid 3px #003d79; font-size: .9em; border-bottom: solid 20px #fff; background: #fff url(../images/bgd_toolbar_notile.gif)/*tpa=http://www.oneok.com/images/bgd_toolbar_notile.gif*/ no-repeat 0 20px; float: left; width: 965px; padding-top: 15px; }
		#featurebar p { font-size: .9em; }
	
/* HEADER */

#header h2 {  font-size: 1.25em; }

/* NAV */
#nav {font-size: 15px; margin: 0; padding: 5px 5px 0 5px; float: left; width: 955px; position: relative; z-index: 101; }
#nav ul { padding:0; margin: 0; list-style-type: none; display: inline; float: left; }
#nav ul li  { padding:0; margin: 0 10px 0 0; list-style-type: none; display: inline; position:relative; float: left; }
#nav ul, #nav ul li { display:inline; margin:0 10px 0 0; padding:0; }
#nav .current_page_item a, #nav .current_page_ancestor a { background:#003d79; color: #fff; }
#nav .current_page_item li a, #nav .current_page_ancestor li a { background: #fff; color: #1a1a1a; }
#nav a { padding: 8px; color: #1a1a1a; text-decoration: none; display: block; }
/* #nav a:hover { background:#6CB33F; color: #fff; }
#nav li:hover ul { display:block; }
*/
#nav li ul li { margin:0; z-index: 100; float: none !important; }
#nav li a { height:auto; }
#nav li ul { display: none; position: absolute; left: 0px; z-index: 100 !important; border: solid 1px #6CB33F; font-size: 12px; }
#nav li ul li ul { left: 114px !important; }
/* #nav li ul li a, #nav li ul li a:hover{ width: 171px !important; height: 40px !important; display: block; padding:0px !important; margin:0; } */
#nav li ul li a, #nav li ul li a:hover{ width: 171px !important; display: block; padding:0px !important; margin:0; }
#nav ul li ul li ul { display:none !important; }
#nav ul li ul li a { padding: 5px 0 5px 15px!important; display:block; line-height: 150%; background: #fff !important; color: #1a1a1a !important; }
#nav ul li ul li a:hover { padding: 5px 0 5px 15px!important; text-decoration:none!important; color:#ffffff!important; background:#6CB33F !important; }
#nav li ul{ display: none; margin:0; padding:0; width:186px; background-color:#ffffff; color: #1a1a1a;  }
#nav li.over a, #nav li.over { background:#6CB33F; color: #fff; }
#topNav {display: block;}
/*   
#nav li.over ul{ display: block; margin:0; padding:0; width:186px; background-color:#ffffff; color: #1a1a1a;  }
#nav li.over a, #nav li.over { background:#6CB33F; color: #fff; }
*/

	/* My account */
.my_account_box a, .my_account_box a:hover, .my_account_box a:visited { color: #0093d0; }
.my_account_box .ma_welcome { line-height: 30px; font-size: 13px; padding: 0 0 5px 120px; }
.my_account_box .ma_payment_info { line-height: 20px; font-size: 13px; }
.my_account_box .ma_payment_info th { font-size: .9em; font-weight: normal; }
.my_account_box .ma_payment_info .btn_pay_now a { color: #6cb33f !important; font-style: italic; }
.my_account_box .ma_address, .my_account_box .ma_help { font-size: 11px; color: #666666; float: left; display: inline; width: 405px; }
.my_account_box .ma_address a, .my_account_box .ma_help a { font-style: italic; }
.ma_right a, .ma_right a:hover, .ma_right a:visited { color: #1a1a1a; }
.ma_right { padding-top: 15px; font-size: 11px; }
.ma_right ul { margin: 0; padding: 0; list-style: none; }
.ma_right ul li a { padding: 3px 0 3px 16px; background: url(../images/bullet_arrow_gray.gif)/*tpa=http://www.oneok.com/images/bullet_arrow_gray.gif*/ 0px 4px no-repeat; }
.ma_right .btn_log_out { padding-top: 14px; text-align: right; }
.my_account_box .column { padding-right: 10px; }
.my_account_box div.noLabel { padding-top: 1.3em; }
.my_account_box .input { width: 120px !important; }
	/* End My account */
	
	/* Featured Stories */
		#featuredStories { margin-bottom: 30px !important; padding: 0 !important; background: #fff no-repeat top left; position: relative; z-index: 0; min-height: 280px; }
		#featuredStories * { z-index: 0 !important; }
		#featuredStories div { padding: 0 5px 1px 0 !important; }
		#featuredStories p { display: none; }
		#featuredStories h1, #featuredStories h1 a { font-size: 21px; color: #999; padding-top: 10px; }
		#featuredStories h1, #featuredStories p {  padding-left: 430px; }
		/* for Internet Explorer */
		/*\*/
		* html #featuredStories {
		height: 280px;
		}
		/**/
		#featuredStories img { display: none; }
		#featuredStories img { position: absolute; top: 0; left: 0; z-index: 2; border: solid 1px #e0e0e0; }
		#featuredStories .activeStory { background: #f2fafe; border: solid 1px #e0e0e0; border-left: none; border-right: none; border-bottom: none;}
		#featuredStories .activeStory h1 { padding-top: 15px; margin-top: 0; }
		#featuredStories .activeStory h1 a { padding-top: 0 !important; }
		#featuredStories .activeStory h1, #featuredStories .activeStory h1 a { font-size: 21px; color: #FAAF40;}
		#featuredStories .activeStory img { display: block; float: left; background: #f2fafe; margin-right: 15px;  }
		#featuredStories .activeStory p { display: block; }
		#featuredStories2, #featuredStories3, #featuredStories4 { border-top: solid 1px #e0e0e0; padding-bottom: 0px; }
		#featuredStories4.activeStory { border-bottom: solid 1px #e0e0e0; }
	/* End Featured Stories */
	 
	/* Tools */
	#tools  { width:51px; float:right;  }
	#tools  ul { margin-bottom:0px !important;  }
	#tools  li { float: right; list-style-type: none !important; margin-left: 10px; margin-bottom:0px; }
	/* End Tools */
	
/* PULLOUTS - 32px Icon Boxes To Feature Options */

.pullout, a.pullout, p.pullout, span.pullout, div.pullout { width: 190px; min-height: 5.5em; margin: 0 20px 20px 10px; float: left; background-repeat: no-repeat; background-position: top left; padding-left: 40px; }
.pullout { background-image: none; }
.singlecol .pullout { width: 500px !important; border-bottom: solid 1px #dfdfdf; padding-bottom: 5px; margin-bottom: 5px; }
.singlecol .pullout .column { width: auto !important; }
.pullout h3 { font-size: 1.2em; margin-bottom: 0 !important; }

/* TOOLBAR */
#featurebar .column { width: 173px; margin: 10px; }
#featurebar .pullout, #featurebar a.pullout, #featurebar p.pullout, #featurebar span.pullout, #featurebar div.pullout { width: 173px !important; margin: 0 10px 10px 10px !important; float: left; display: inline; background-repeat: no-repeat; background-position: top left; padding-left: 20px; padding-top: 5px; }
#featurebar .pullout h2 { padding-left: 20px; font-size: 1.25em; }
#featurebar ul { list-style-type: none; font-size: 11px; line-height: 20px; }
#featurebar ul li { display: inline; }
#featurebar ul li a { background: url(../images/bullet_arrow_gray.gif)/*tpa=http://www.oneok.com/images/bullet_arrow_gray.gif*/ no-repeat top left; color: #1a1a1a; padding: 0 0 0 20px; display: block; margin-bottom: 2px; }
#featurebar li.current_page_item a { background: url(../images/bullet_arrow_navy.gif)/*tpa=http://www.oneok.com/images/bullet_arrow_navy.gif*/ no-repeat top left; color: #003D79; }

/* FOOTER */

#footer a { color: #808080; text-decoration: none; }
#footer a:hover { color: #808080; text-decoration: underline; }
#footer img {vertical-align:bottom; padding-top:3px;}

/* RAD GRIDS */

/*.RadGrid { }
.RadGrid tbody { }
th.rgHeader { color: #003D79; font-weight: bold; font-size: 1.1em; border-top: solid 3px #6CB33F; border-bottom: solid 1px #6CB33F; padding: 10px 6px; }
.RadGrid td { padding: 3px 6px; border-bottom: solid 1px #dfdfdf; }
.RadGrid .rgAltRow td{ background: #F2FAFE; }
.RadGrid .rgGroupHeader {  }
.RadGrid .rgGroupHeader td { font-weight: bold; }
.RadGrid .rgGroupHeader td p { margin-bottom: 0 !important; }
.RadGrid td.rgCommandCell { padding: 0 !important; border-bottom: none !important; }

li th.rgHeader { font-size:0.9em; font-weight:normal; color: #1a1a1a; border: none; padding: 0; }
li .RadGrid td { padding: 0; border: none; }*/

/* LISTS */

ul.options { list-style-type: none; margin: 0; padding: 0; border-bottom: solid 1px #dfdfdf; }
ul.options li { border-top: solid 1px #dfdfdf; margin: 0; padding: 3px 6px; }
ul.options li.alt { background: #F2FAFE; }
ul.options h3 { margin-bottom: 10px; }
ul.options table { margin-bottom: 0; }
ul.options p.icon { margin-bottom: 1em; }
ul.options p.icon a { color: #0093D0; }
	
/* FORMS */
.input { width: 130px; padding: 5px 20px 0 5px;  }

#nav #search input.search_input { background: #fff url(../images/bgd_nav_search.gif)/*tpa=http://www.oneok.com/images/bgd_nav_search.gif*/ no-repeat center left; width: 130px; height: 18px; padding: 5px 20px 0 25px; }

fieldset span { width: 300px !important; }
fieldset .column, fieldset .columnright { width: 250px; }
fieldset {width: 540px;}

.CSSForm { width: 540px; }
.CSSForm label { width: 250px; padding-top:2px; font-weight: bold; float: left; margin-right: 5px; }
.CSSForm input.text, .CSSForm textarea { width: 245px; margin-right: 5px; }
.CSSForm select { width: 250px; }
.CSSForm p { border-bottom: solid 1px #dfdfdf; padding-bottom: 5px; margin-bottom: 5px; float: left; width: 100%; }
.CSSForm .btnGreen, .CSSForm .btnYellow, .CSSForm .btnRed, .CSSForm .button { margin-bottom: 1em; margin-top: 1em; }
.CSSForm div.info, .CSSForm div.warning, .CSSForm div.alert, .CSSForm div.success, .CSSForm div.notice { float: left; display: inline; width: 520px; }
.CSSForm .telerikContainer { border-bottom: solid 1px #dfdfdf; padding-bottom: 5px; margin-bottom: 5px; float: left; width: 100%; }
.CSSForm fieldset { float: left; }
.CSSForm fieldset .column span { width: 200px !important; }

.Wizard {  }
.Wizard-SideBar { width: 150px; }
.Wizard-Step { width: 370px; }
.Wizard-Step label { width: 100px; float: left; margin-right: 5px; }
.Wizard-Step input.text, .Wizard-Step textarea, .Wizard .riTextBox { width: 240px; }
.Wizard-Step select { }
.Wizard-Step p { border-bottom: solid 1px #dfdfdf; padding-bottom: 5px; margin-bottom: 5px; float: left; width: 100%; }
.Wizard-Step fieldset { float: left; width: 100%; }
.Wizard-Step .btnGreen, .Wizard-Step .btnYellow, .Wizard-Step .btnRed, .Wizard-Step .button { width: inherit !important; margin-bottom: 1em; margin-top: 1em; }
.Wizard .StepNavigation { padding-left: 10px; }
.Wizard .telerikContainer { border-bottom: solid 1px #dfdfdf; padding-bottom: 5px; margin-bottom: 5px; float: left; width: 100%; }

/* TEXT BOX EXPAND */
.boxExpand { border:1px solid #E0E0E0; background:#f5f5f5; color:#1A1A1A; margin-bottom:10px; padding:10px 10px 10px 30px; background-image: url(../images/icons/16x16/icon_tools_safetytips16x16.gif)/*tpa=http://www.oneok.com/images/icons/16x16/icon_tools_safetytips16x16.gif*/; background-repeat: no-repeat; background-position: 10px 10px; }
.boxExpandClosed  { cursor: hand; cursor: pointer; }
.boxExpand .message { display: none; padding-top: 1em; }
.boxExpand .header{ color: #0093D0; font-weight: bold; }
.boxExpand .close { cursor: hand; cursor: pointer; color: #0093D0; font-weight: bold; display: none; }

/* MODAL POPUP */
.modalpopup{ width:650px; text-align:left; background:#fff; border-left: solid 18px #e0e0e0; }
.modalpopup .container { min-height: 315px; }
/* for Internet Explorer */
/*\*/
	* html .modalpopup .container { height: 315px; }
/**/ 
.modalpopup .header { border-bottom: solid 3px #003D79; color:#003D79; padding: 10px 40px 10px 10px; font-size: 1.5em; line-height: 1.5em; } 
.modalpopup .header .msg { }         
.modalpopup .body { color:#333; margin:8px 0; padding:12px 10px 12px 10px; overflow:auto; height: 200px; } 
.modalpopup .body .msg { }  
.modalpopup .footer { padding: 5px 8px; text-align: right; vertical-align: middle; border-top: solid 1px #e0e0e0; } 
.modalpopup .close { right: 7px; background: url(Unknown_83_filename)/*tpa=http://www.oneok.com/css/img/btn_close.gif*/ no-repeat top left; width: 25px;	cursor: pointer; position: absolute; top: 7px; height: 15px; }
.modalBackground { background-color:Black; filter:alpha(opacity=50); opacity:0.5; cursor: wait; }   


/* pdf Page */
.pdfPage { width:540px; height:720px; }
body.wide .pdfPage { width:750px; }
