/*DD Created styling for localisation*/
.MOD_NO_6 #mainNav_byName li, .MOD_NO_6 #mainNav_m li { font:16px 'Calibri', Verdana, san-serif; }
/*Change the font-size as per your language requirement*/
.MOD_GC_22afc .keyFeatureTabContent h4 {margin-bottom:6px;}/*(K) created for key features H4 tag*/  
/*MG | GCB Fixes for left nav */
.MOD_GC_3 div.two_col_callouts242 div{width:242px; margin:0 18px 0 0;}
.MOD_GC_3 div.two_col_callouts242 div.last {margin-right:0;}
.MOD_GC_3 div.category_featured_left_nav {width:522px;}
.MOD_GC_3 div.category_featured_left_nav img {margin-right:18px;}
.MOD_GC_3 div.category_featured_left_nav div {width:300px; margin:0;}
/* GCB fixes in product series for left nav */
.three_col_callouts_left_nav_wrapper {width:486px;overflow:hidden;}
.three_col_callouts_left_nav_wrapper .three_col_callouts {width:486px;overflow:hidden;}
.three_col_callouts_left_nav_wrapper .three_col_callouts div {width:224px;margin:0 18px 0 0;}
.three_col_callouts_left_nav_wrapper .three_col_callouts div.last {margin-right:0;}
/* GCB fixes in product series tab for left nav for Three-column-without-line layout */
#jdtcwl-en-us-main-row-1 .tabContent .MOD_GC_3 div.category_featured_left_nav div {width:244px;}
#jdtcwl-en-us-main-row-1 .tabContent .MOD_GC_3 div.category_featured_left_nav {width:504px;}
#jdtcwl-en-us-main-row-1 .MOD_GC_3 div.container {width:auto;}
#jdtcwl-en-us-main-row-1 .MOD_GC_3 div.category_featured_left_nav div {width:280px;}
.width486 {width:486px !important;}