html {
	height:100%;
	overflow-y:scroll;
}

body {
	background:#FFF url(../../images/bg/header-gradient.png)/*tpa=https://www.53.com/resources/images/bg/header-gradient.png*/ repeat-x 0 0;
	height:100%;color:#444;
	font-size:12px;
	line-height:1.4;
}

body.no-page-bg { background-image: none !important; }

body,
input,
button,
textarea,
select {
	font-family:Verdana,Arial,Helvetica,sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color:#1C4094;
	font-family:Verdana,Arial,Helvetica,sans-serif;
}

h2.mk { 
  color: #5E8CB1;
	font-size: 13px;
}

pre,
tt,
code,
kbd,
samp,
var {
	font-family:"Courier New",Courier,monospace;
}

h1 {
  font-size:18px;
	font-weight:bold;
}

h2 {
	font-size:16px;
}

h3 {
	font-size:14px;
}

h4 {
	font-size:12px;
}

h5 {
	color:#000;
	font-size:12px;
}

h6 {
	font-size:11px;
}

h2+p,
h3+p,
h4+p,
h5+p {
	margin-top:4px;
}

a {
	color:#1C4094;
}

a:hover {
	color:#5D9732;
}

a:focus {
	outline:none;
}

a:active {
	outline:none;
}

blockquote {
	background-color:#EEE;
	border:#D0D0D0 solid 1px;
	color:#333;
	margin-top:14px!important;
	padding:0 10px 7px!important;
}

	.MKG-blockquote {
		background-color:#F6F6F6;
		border-top:#D0D0D0 solid 1px;
		border-bottom:#D0D0D0 solid 1px;
		border-right: none;
		border-left: none;
		color:#333;
		margin-top:14px!important;
		padding: 15px 15px!important;
	}

blockquote *{
	margin-top:7px!important;
}

blockquote h1,
blockquote h2,
blockquote h3,
blockquote h4,
blockquote h5,
blockquote h6 {
	color:#333;
}

body,
p,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
blockquote,
th,
td {
	margin:0;
	padding:0;
}

fieldset,
img {
	border:0;
}

img {
	vertical-align:bottom;
}

ol li,
ul ol li {
	list-style-type:decimal;
}

ul li {
	list-style-type:disc;
}

ul ul li {
	list-style-type:circle;
}

ul ul ul li {
	list-style-type:square;
}

ol ol li {
	list-style-type:lower-alpha;
}

ol ol ol li {
	list-style-type:lower-roman;
}

sub {
	vertical-align:sub;font-size:smaller;
}

sup {
	vertical-align:super;font-size:smaller;
}

legend {
	padding-bottom:8px;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

caption {
	position:absolute;
	left:-999em;
}

th {
	text-align:center;
}

tbody th {
	text-align:left;
}

code {
	color:#06f;
}

code,
pre {
  font-family:"Courier New",monospace,serif;
	font-size:1em;
}

th,
strong,
dt,
b {
	font-weight:bold;
}

q,
em,
cite,
dfn,
i,
cite,
var,
address {
	font-style:italic;
}

blockquote p:before,
blockquote p:after,
q:before,
q:after {
	content:'';
}

ins {
	text-decoration:none;
	border-bottom:3px double #333;
}

del {
	text-decoration:line-through;
}

abbr,
acronym {
	border-bottom:1px dotted #333;
	font-variant:normal;
}

dd p,
dd pre,
dd ul,
dd ol,
dd dl,
li p,
li pre,
li ul,
li ol,
li dl,
fieldset p,
fieldset ul,
fieldset ol {
	padding-right:0;
	padding-left:0;
}

dt {
	color:#1C4094;
	font-size:14px;
	font-weight:bold;
}

dd {
	margin-top:4px;
}

li {
	margin-left:30px;
}

table {
	margin-right:30px;
	margin-left:30px;
}

hr {
	margin-right:30px;
	margin-left:30px;
	border-style:inset;
	border-width:1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
hr,
legend,
input,
button,
textarea,
select,
address,
table {
	margin-top:14px;
}

li,
dt {
	margin-top:10px;
}

label {
	padding-top:14px;
}

fieldset {
	line-height:1;
}

input[type="checkbox"] {
	vertical-align:bottom;
	*vertical-align:baseline;
}

input[type="radio"] {
	vertical-align:text-bottom;
}

input {
	_vertical-align:text-bottom;
}

input,
button,
textarea,
select,
optgroup,
option {
	font-size:12px;
}

button,
input[type="submit"],
input[type="reset"],
input[type="button"],
.input-button {
	*overflow:visible;_width:0;
	padding:4px 8px;
}

#skip-links {
	display:none;
}