@font-face {
  font-family: "LeagueGothic";
  src: url(/sites/all/themes/brand_camp_theme/fonts/League_Gothic.oet);
  src: url(/sites/all/themes/brand_camp_theme/fonts/League_Gothic.eot?#iefix) format("embedded-opentype"), url(/sites/all/themes/brand_camp_theme/fonts/League_Gothic.woff) format("woff"), url(/sites/all/themes/brand_camp_theme/fonts/League_Gothic.ttf) format("truetype"), url(/sites/all/themes/brand_camp_theme/fonts/League_Gothic.svg) format("svg");
}

@font-face {
  font-family: "ywfthannahnarrow";
  src: url(/sites/all/themes/brand_camp_theme/fonts/hannah-narrow-semibold.eot);
  src: url(/sites/all/themes/brand_camp_theme/fonts/hannah-narrow-semibold.eot?#iefix) format("embedded-opentype"), url(/sites/all/themes/brand_camp_theme/fonts/hannah-narrow-semibold.woff) format("woff"), url(/sites/all/themes/brand_camp_theme/fonts/hannah-narrow-semibold.ttf) format("truetype"), url(/sites/all/themes/brand_camp_theme/fonts/hannah-narrow-semibold.svg) format("svg");
}

/*
 * responsive.custom.css is for custom media queries that are not set via the
 * theme settings, such as cascading media queries.
 *
 * By default all the other responsive stylesheets used in Adaptivetheme use a
 * "stacking method", however cascading media queries use a waterfall method so
 * you can leverage the cascade and inheritance for all browsers that support
 * media queries, regardless of screen size.
 *
 * @SEE http://zomigi.com/blog/essential-considerations-for-crafting-quality-media-queries/#mq-overlap-stack
 *
 * NOTE: this file loads by default, to disable got to your theme settings and
 * look under the "CSS" settings tab.
 */
/*
 * Really small screens and up
 */
/* @media only screen and (min-width: 220px) {} */
/*
 * Smalltouch sizes and up
 */
/* @media only screen and (min-width: 320px) {} */
/*
 * Smalltouch sizes and down
 */
@media only screen and (max-width: 480px) {
  /*
   * Float Region Blocks - custom media query CSS example:
   *
   * Float regions blocks is an Extension you can enable in the appearance
   * settings for your theme. This feature allows you to automatically float
   * blocks in regions, you can switch it on and off depending on your
   * requirements. For design purposes you many want to remove the floats for
   * devices where the entire theme is just one column - for example small
   * mobile phones. The following CSS is inside the custom media query:
   *
   *   @media only screen and (max-width: 480px){}
   *
   * This will target devices with a maximum width of 480px - most small phones.
   * In these smaller screen sizes we can remove the float and widths so all
   * blocks stack instead of displaying horizonally. The selector used is an
   * "attribute selector" which will match on any float block class. Use your
   * inspector or Firebug to get the classes from the page output if you need
   * more granular control over block alignment and stacking.
   */
  .region[class*="float-blocks"] .block {
    float: none;
    width: 100%;
  }
}
/*
 * Tablet sizes and up
 */
/*
 * Desktops/laptops and up
 */
/* @media only screen and (min-width: 1025px) {} */
@media only screen and (max-width: 1100px) {
  body {
    background: #222222 url(/sites/all/themes/brand_camp_theme/images/bg.jpg);
  }

  #page-wrapper {
    background: transparent url(/sites/all/themes/brand_camp_theme/images/shadow-768.png) center repeat-y;
  }

  #page#page {
    max-width: 768px;
  }

  .block-search-api-page {
    display: none;
  }

  .block-wfm-monster-nav {
    width: 118px;
  }
  .block-wfm-monster-nav .block-inner {
    margin-left: 28px;
  }

  #name-and-slogan {
    right: 28px;
  }
  #name-and-slogan a {
    width: 111px;
    height: 104px;
    background: url(/sites/all/themes/brand_camp_theme/images/logo-tablet.png) no-repeat 0 0;
  }

  #block-boxes-bc-twitter p:first-child img {
    margin-left: 80px;
  }
  #block-boxes-bc-twitter p.text img {
    max-width: 685px;
  }

  #block-wfm-blocks-wfm-blocks-footer .footer-new-container {
    margin: 0 0 0 85px;
  }
  #block-wfm-blocks-wfm-blocks-footer div.footer-column, #block-wfm-blocks-wfm-blocks-footer .footer-new-secondary {
    clear: none;
    float: left;
    width: 315px;
    margin: 0 35px 0 0;
  }

  .tabletOnly {
    visibility: visible;
  }

  #block-boxes-bc-twitter .boxes-box-content p.text.footerTextSlides {
    width: 748px;
    margin: 0 auto;
  }

  #block-boxes-bc-back > .block-inner, #block-boxes-bc-back-content > .block-inner {
    width: 768px;
    margin-left: -384px;
    overflow: hidden;
  }
  #block-boxes-bc-back > .block-inner > .block-content, #block-boxes-bc-back-content > .block-inner > .block-content {
    margin-left: -246px;
    width: 1260px;
  }

  #block-boxes-bc-twitter {
    width: 768px;
    margin-left: -384px;
    overflow: hidden;
  }
  #block-boxes-bc-twitter > .block-inner {
    margin-left: -246px;
    width: 1260px;
  }

  .view-brand-camp-list .view-content {
    left: -10px;
  }
}
@media only screen and (min-width: 360px) {
  .page-node .view-brand-camp-list .views-row-last {
    display: none;
  }
}
@media only screen and (min-width: 1100px) {
  .page-node .view-brand-camp-list .views-row-last {
    display: inline-block;
  }

  .tabletOnly {
    visibility: hidden;
  }
}


@media only screen and (max-width:320px) {
@font-face {
  font-family: "LeagueGothic";
  src: url(/sites/all/themes/brand_camp_theme/fonts/League_Gothic.oet);
  src: url(/sites/all/themes/brand_camp_theme/fonts/League_Gothic.eot?#iefix) format("embedded-opentype"), url(/sites/all/themes/brand_camp_theme/fonts/League_Gothic.woff) format("woff"), url(/sites/all/themes/brand_camp_theme/fonts/League_Gothic.ttf) format("truetype"), url(/sites/all/themes/brand_camp_theme/fonts/League_Gothic.svg) format("svg");
}

@font-face {
  font-family: "ywfthannahnarrow";
  src: url(/sites/all/themes/brand_camp_theme/fonts/hannah-narrow-semibold.eot);
  src: url(/sites/all/themes/brand_camp_theme/fonts/hannah-narrow-semibold.eot?#iefix) format("embedded-opentype"), url(/sites/all/themes/brand_camp_theme/fonts/hannah-narrow-semibold.woff) format("woff"), url(/sites/all/themes/brand_camp_theme/fonts/hannah-narrow-semibold.ttf) format("truetype"), url(/sites/all/themes/brand_camp_theme/fonts/hannah-narrow-semibold.svg) format("svg");
}

/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
/* Increase the default font size on small touch devices */
body {
  font-size: 100%;
}

/* =============================================================================
 *   Mobile Menu Toggle
 *   See your theme settings extensions for how to enable the menu toggle.
 *   These are example styles for the menu toggle menu, you can use these in the
 *   relevant responsive stylesheets as required. Modify to suit your design.
 * ========================================================================== */
.at-mt .at-menu-toggle {
  /* The toggle link */
  /* Menu items */
}
.at-mt .at-menu-toggle h2 {
  margin-bottom: 5px;
}
.at-mt .at-menu-toggle h2 a {
  background: #eee;
  border: 2px solid #ccc;
  padding: 2px 10px;
}
.at-mt .at-menu-toggle ul.menu li a {
  background: #eee;
  border-bottom: 1px solid #fff;
}

}
@media only screen and (min-width:321px) and (max-width:580px) {
@font-face {
  font-family: "LeagueGothic";
  src: url(/sites/all/themes/brand_camp_theme/fonts/League_Gothic.oet);
  src: url(/sites/all/themes/brand_camp_theme/fonts/League_Gothic.eot?#iefix) format("embedded-opentype"), url(/sites/all/themes/brand_camp_theme/fonts/League_Gothic.woff) format("woff"), url(/sites/all/themes/brand_camp_theme/fonts/League_Gothic.ttf) format("truetype"), url(/sites/all/themes/brand_camp_theme/fonts/League_Gothic.svg) format("svg");
}

@font-face {
  font-family: "ywfthannahnarrow";
  src: url(/sites/all/themes/brand_camp_theme/fonts/hannah-narrow-semibold.eot);
  src: url(/sites/all/themes/brand_camp_theme/fonts/hannah-narrow-semibold.eot?#iefix) format("embedded-opentype"), url(/sites/all/themes/brand_camp_theme/fonts/hannah-narrow-semibold.woff) format("woff"), url(/sites/all/themes/brand_camp_theme/fonts/hannah-narrow-semibold.ttf) format("truetype"), url(/sites/all/themes/brand_camp_theme/fonts/hannah-narrow-semibold.svg) format("svg");
}

/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
/* Increase the body font size on small touch devices */
body {
  font-size: 100%;
}

/* =============================================================================
 *   Mobile Menu Toggle
 *   See your theme settings extensions for how to enable the menu toggle.
 *   These are example styles for the menu toggle menu, you can use these in the
 *   relevant responsive stylesheets as required. Modify to suit your design.
 * ========================================================================== */
.at-mt .at-menu-toggle {
  /* The toggle link */
  /* Menu items */
}
.at-mt .at-menu-toggle h2 {
  margin-bottom: 5px;
}
.at-mt .at-menu-toggle h2 a {
  background: #eee;
  border: 2px solid #ccc;
  padding: 2px 10px;
}
.at-mt .at-menu-toggle ul.menu li a {
  background: #eee;
  border-bottom: 1px solid #fff;
}

}
@media only screen and (min-width:581px) and (max-width:768px) {
@font-face {
  font-family: "LeagueGothic";
  src: url(/sites/all/themes/brand_camp_theme/fonts/League_Gothic.oet);
  src: url(/sites/all/themes/brand_camp_theme/fonts/League_Gothic.eot?#iefix) format("embedded-opentype"), url(/sites/all/themes/brand_camp_theme/fonts/League_Gothic.woff) format("woff"), url(/sites/all/themes/brand_camp_theme/fonts/League_Gothic.ttf) format("truetype"), url(/sites/all/themes/brand_camp_theme/fonts/League_Gothic.svg) format("svg");
}

@font-face {
  font-family: "ywfthannahnarrow";
  src: url(/sites/all/themes/brand_camp_theme/fonts/hannah-narrow-semibold.eot);
  src: url(/sites/all/themes/brand_camp_theme/fonts/hannah-narrow-semibold.eot?#iefix) format("embedded-opentype"), url(/sites/all/themes/brand_camp_theme/fonts/hannah-narrow-semibold.woff) format("woff"), url(/sites/all/themes/brand_camp_theme/fonts/hannah-narrow-semibold.ttf) format("truetype"), url(/sites/all/themes/brand_camp_theme/fonts/hannah-narrow-semibold.svg) format("svg");
}

/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
/* Increase the body font size on small devices */
html {
  font-size: 81.3%;
}

}
@media only screen and (min-width:769px) and (max-width:1059px) {
@font-face {
  font-family: "LeagueGothic";
  src: url(/sites/all/themes/brand_camp_theme/fonts/League_Gothic.oet);
  src: url(/sites/all/themes/brand_camp_theme/fonts/League_Gothic.eot?#iefix) format("embedded-opentype"), url(/sites/all/themes/brand_camp_theme/fonts/League_Gothic.woff) format("woff"), url(/sites/all/themes/brand_camp_theme/fonts/League_Gothic.ttf) format("truetype"), url(/sites/all/themes/brand_camp_theme/fonts/League_Gothic.svg) format("svg");
}

@font-face {
  font-family: "ywfthannahnarrow";
  src: url(/sites/all/themes/brand_camp_theme/fonts/hannah-narrow-semibold.eot);
  src: url(/sites/all/themes/brand_camp_theme/fonts/hannah-narrow-semibold.eot?#iefix) format("embedded-opentype"), url(/sites/all/themes/brand_camp_theme/fonts/hannah-narrow-semibold.woff) format("woff"), url(/sites/all/themes/brand_camp_theme/fonts/hannah-narrow-semibold.ttf) format("truetype"), url(/sites/all/themes/brand_camp_theme/fonts/hannah-narrow-semibold.svg) format("svg");
}

/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
.view-brand-camp-list .view-content {
  text-align: center;
}

}
@media only screen and (min-width:1060px) {
@font-face {
  font-family: "LeagueGothic";
  src: url(/sites/all/themes/brand_camp_theme/fonts/League_Gothic.oet);
  src: url(/sites/all/themes/brand_camp_theme/fonts/League_Gothic.eot?#iefix) format("embedded-opentype"), url(/sites/all/themes/brand_camp_theme/fonts/League_Gothic.woff) format("woff"), url(/sites/all/themes/brand_camp_theme/fonts/League_Gothic.ttf) format("truetype"), url(/sites/all/themes/brand_camp_theme/fonts/League_Gothic.svg) format("svg");
}

@font-face {
  font-family: "ywfthannahnarrow";
  src: url(/sites/all/themes/brand_camp_theme/fonts/hannah-narrow-semibold.eot);
  src: url(/sites/all/themes/brand_camp_theme/fonts/hannah-narrow-semibold.eot?#iefix) format("embedded-opentype"), url(/sites/all/themes/brand_camp_theme/fonts/hannah-narrow-semibold.woff) format("woff"), url(/sites/all/themes/brand_camp_theme/fonts/hannah-narrow-semibold.ttf) format("truetype"), url(/sites/all/themes/brand_camp_theme/fonts/hannah-narrow-semibold.svg) format("svg");
}

/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */

}