/* This file has been created for My list Sign in modal, MLLP & MLDP pages alone */
/* Created in 7.2 release */
/*THD.FORM.CSS - Start*/
/*Global alignment Class for Global Use Start*/
.force-float-right{float:right !important;}
/*Global alignment Class for Global Use End*/
#popupSignIn input, input[type=text] button{font-family: Arial, Helvetica, sans-serif;} 
#popupSignIn button, input, input[type=text]{font-size: 100%;margin: 0;vertical-align: middle;}
#popupSignIn label, input, input[type=text], button{font-size: 12px;font-weight: normal; line-height:14px;} 
#popupSignIn button, input[type="button"], input[type="reset"], input[type="submit"] {cursor: pointer; border:none;}
#popupSignIn input,input[type=text]{font: normal 12px Arial, Helvetica, sans-serif;} 
#popupSignIn form{margin:0; padding:0;}
#popupSignIn input[type=password], input[type=text]{ 
    border: 1px solid #ccc;
    color: #777;
    display: inline-block;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    padding: 4px 4px 4px 10px;
    width: 200px;
	vertical-align:middle;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
}
#popupSignIn input[type=password],input[type=text]{ 
    -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
	-webkit-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.1) inset;
}
#popupSignIn label{font-size:12px; font-weight:bold; padding-top:5px; display:block; color:#777;}/*Req*/
#popupSignIn input[type="password"]:focus, input[type="text"]:focus, input.focus{background-color:#E9F2F5; color:#000; outline:none;}

/*1d. Form structure
===============================*/
#popupSignIn .control-group{clear:both; margin-bottom:10px; height:auto;}
#popupSignIn .controls.btn-right button.btn, .controls.btn-right a.btn, .controls.btn-right input.btn{float: right}/*Req*/
#popupSignIn .control-label{float:left; width:110px; text-align:left; margin-right:10px; padding-top:6px;}/*Req*/
#popupSignIn label.control-label.control-label-long{width:130px;}
#popupSignIn .controls{margin-left:120px;}/*Req*/
#popupSignIn.controls.controls-right{text-align:right;}
#popupSignIn .controls.btn-controls{width:216px;}
#popupSignIn .controls.controls-long{margin-left:160px;}
#popupSignIn .btn-controls .btn{float:right;}
#popupSignIn .btn-controls .btn.btn-first{margin:0 0 0 10px;}
/*THD.FORM.CSS - End*/

/* This file created for my lists_landing & my lists detail page */
#backgroundPopup{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
height:100%;
width:100%;
top:0;
left:0;
background:#000000;
border:1px solid #cecece;
z-index:1;
opacity:0.7; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; filter: alpha(opacity=70);
}
#backgroundPopup1{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
height:100%;
width:100%;
top:0;
left:0;
background:#000000;
border:1px solid #cecece;
z-index:1;
}
#popupListToCart, #popupPartialList, #popupListToCartSuccess, #popupNonPartialLists,#popupMultiDelete, #popupCartToList{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
height:auto;
width:400px;
background:#FFFFFF;
z-index:9999;
padding:20px;
font-size:13px;
box-shadow: 0 0 10px #999;
} 
#popupDeleteList{
width:340px !important;
display:none;
}
#popupCreateNewList{
padding:20px;
/*width:440px !important;*/
display:none;
}
#popupAddList{
padding: 20px 30px !important;
width:320px !important;
}
#popupListToCartSuccess{
width:390px !important;
}
#fancybox-content #popupSignIn,#fancybox-content  #popupAddList,#fancybox-content  #popupCreateNewList,#fancybox-content  #popupCreateNewList1,#fancybox-content #popupAddToYour, #fancybox-content #popupListToCart , #popupListToCartSuccess, #popupNonPartialLists,#fancybox-content #popupMultiDelete,#fancybox-content #popupBlindsContent,#fancybox-content #popupCartToList{
display:block;
position:relative;
_position:relative; /* hack for internet explorer 6*/
background:transparent;
box-shadow: none;
height:auto;
}
#popupDeleteList, #popupEmailList, #popupEmailConfirmation, #popupPartialList, #popupClearList{
width:400px;
display:none;
padding:20px;
font-size:13px;
height:auto;
}
#fancybox-content #popupDeleteList,#fancybox-content #popupEmailList,#fancybox-content #popupEmailConfirmation,#fancybox-content #popupPartialList,#fancybox-content #popupClearList,#fancybox-content #popupMultiDelete,#fancybox-content #popupBlindsContent{
display:block;
}
#popupAddToYour .closeBtn{ margin-top:10px}
#popupSignIn{
padding:30px!important;
}
#addToListResponse_pip
{
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
height:auto;
width:450px;
z-index:9999;
margin-top:50px;
}
#popupAddToYour{
width:370px;
padding:12px;
}
#popupAddToYour .list-item-added{
float:left;
padding-left:5px; /*QC 18780*/
}
#addToListResponse #popupAddToYour .list-item-added{
	padding-left:9px !important; /*QC 18780*/
}
.popupAddListClose{
font-size:14px;
line-height:14px;
right:6px;
top:4px;
right:0px\9;
top:-15px\9;
position:absolute;
position:relative\9;
color:#6fa5fd;
font-weight:700;
display:block;
z-index:10000;
}
.z-index-9999{
z-index:9999 !important; 
}
.z-index-9998{z-index:9998 !important;}

@charset "utf-8";

.cursor {cursor:pointer}
/*------------------Image CSS Starts------------------*/
.addListToCart {cursor:pointer;margin:0px !important;float:right;clear:right}
.btnAdd {margin:50px 0px 0px 120px; *margin:50px 0px 0px 280px;}
.deleteBtn {background-image:url("../../images/delete.jpg")/*tpa=http://www.homedepot.com/static/myaccount/images/delete.jpg*/; width:65px; height:19px; cursor:pointer; float:right; margin-right:11px; }
.pdtDelete .deleteBtn {position:absolute; bottom:0; right:5px;}
.deleteListBtn {background-image:url("../../images/deleteList.jpg")/*tpa=http://www.homedepot.com/static/myaccount/images/deleteList.jpg*/; background-repeat:no-repeat; width:92px; height:19px; cursor:pointer}
.emailBtn {background-image:url("../../images/email.jpg")/*tpa=http://www.homedepot.com/static/myaccount/images/email.jpg*/; width:18px; height:18px; float:left; cursor:pointer}
.exportBtn {background-image:url("../../images/export.jpg")/*tpa=http://www.homedepot.com/static/myaccount/images/export.jpg*/; width:18px; height:18px; float:left; cursor:pointer}
.printBtn {background-image:url("../../images/print.jpg")/*tpa=http://www.homedepot.com/static/myaccount/images/print.jpg*/; width:19px; height:19px; float:left; cursor:pointer}
.clearBtn {background-image:url("../../images/clear.jpg")/*tpa=http://www.homedepot.com/static/myaccount/images/clear.jpg*/; width:19px; height:19px; float:left; cursor:pointer}
.emailGryBtn {background-image:url("../../images/email_gray.jpg")/*tpa=http://www.homedepot.com/static/myaccount/images/email_gray.jpg*/; width:18px; height:18px; float:left; }
.exportGryBtn {background-image:url("../../images/export_gray.jpg")/*tpa=http://www.homedepot.com/static/myaccount/images/export_gray.jpg*/; width:18px; height:18px; float:left; }
.printGryBtn {background-image:url("../../images/print_gray.jpg")/*tpa=http://www.homedepot.com/static/myaccount/images/print_gray.jpg*/; width:19px; height:19px; float:left; }
.clearGryBtn {background-image:url("../../images/clear_gray.jpg")/*tpa=http://www.homedepot.com/static/myaccount/images/clear_gray.jpg*/; width:19px; height:19px; float:left; }
.closeBtn {background: url("../../../images/dwarves.png")/*tpa=http://www.homedepot.com/static/images/dwarves.png*/ repeat -335px -260px; width:50px; height:50px;position: absolute;right: -30px;top: -30px;cursor:pointer;text-decoration:none\9; *margin-top:5px;margin-top:5px\9;}
.noBtn {float:left; margin-right:10px; cursor:pointer}
.yesBtn {float:left; cursor:pointer}
.yesClearBtn {background-image:url("../../images/yes_clear.jpg")/*tpa=http://www.homedepot.com/static/myaccount/images/yes_clear.jpg*/; width:115px; height:31px; float:left; cursor:pointer}
.delConfirmBtn {margin-top:20px; cursor:pointer}
.viewListBtn {float:center; margin-right:10px!important; cursor:pointer;}
.viewListGryBtn {float:left; margin-right:10px!important; cursor:pointer;text-decoration:none\9;}
.viewCartBtn {float:left; cursor:pointer}
.viewCartGryBtn {float:left; cursor:pointer; margin-right:10px}
.warningIcon {background-image:url("../../../images/halflings.png")/*tpa=http://www.homedepot.com/static/images/halflings.png*/; background-position: 0 2012px;background-repeat: repeat-y;width:25px; height:25px; float:left; margin-right:5px; margin-top:5px;}
#imagepart .warningIcon {background-image:url("../../../images/halflings.png")/*tpa=http://www.homedepot.com/static/images/halflings.png*/; width:8px; height:23px; float:left; margin-right:5px; margin-top:5px;margin-bottom:10px;}  
.warnTxt{float: left; padding:9px 0px 0px 0px; font-size:11px; font-family:arial;} /*width removed. if needed make it specific*/
#myListPdt .warnTxt{width:290px !important;}
.width250{width:250px}
.total_lists .error{margin-top:-5px; display:block;} 
.tickIcon {background-image:url("../../images/tick.jpg")/*tpa=http://www.homedepot.com/static/myaccount/images/tick.jpg*/; width:21px; height:15px;float:left; margin-top:5px;margin-left:5px!important;background-repeat:no-repeat;}
.tickIcon {*background:url("../../images/tick.jpg")/*tpa=http://www.homedepot.com/static/myaccount/images/tick.jpg*/;width:21px; height:15px;*height:17px;margin-right:5px; float:left; margin-left:5px!important;background-repeat:no-repeat;}
.itemrow  .updatedTick .tickIcon, #popupEmailConfirmation .tickIcon  {margin-top:0px;}
#addToListResponse .tickIcon {margin-right:1px;}
#removeTEIDConfirm .tickIcon {margin-bottom:5px;}
.tickIcon_existList{background-image:url("../../images/tick.jpg")/*tpa=http://www.homedepot.com/static/myaccount/images/tick.jpg*/; background-repeat:no-repeat; margin-top:15px;}
.tickIcon_newList{background-image:url("../../images/tick.jpg")/*tpa=http://www.homedepot.com/static/myaccount/images/tick.jpg*/; background-repeat:no-repeat; margin:3px 5px 0px 5px; height:15px; width:21px;}
.tickMsg {margin-left:60px!important;}
.cancelGryBtn {float:left; margin-right:10px; cursor:pointer}
.sendBtn {float:left; cursor:pointer; margin-right:26px}
.pickInBtn {background-image:url("../../images/PickInStore.jpg")/*tpa=http://www.homedepot.com/static/myaccount/images/PickInStore.jpg*/; width:156px; height:33px; cursor:pointer; margin:10px 0px 30px 0px;display:none;}
.addToCartBtn {background-image:url("../../images/AddToCart.jpg")/*tpa=http://www.homedepot.com/static/myaccount/images/AddToCart.jpg*/; width:156px; height:32px; cursor:pointer;display:none; margin-bottom:10px;}
.block{display:block !important;}
.btnInternetOnly {background-image:url("../../images/onlineExclusive.jpg")/*tpa=http://www.homedepot.com/static/myaccount/images/onlineExclusive.jpg*/; background-repeat:no-repeat ; width:24px; height:24px; cursor:pointer;margin-bottom:20px; margin-top:5px; margin-left:5px; display:none}/*ie fix*/
.btnInternetOnly  *, .btnNotAvailable *, .btnNotSoldOnline *{vertical-align:middle;}
.btnCheckYourLocalStore {background-image: url("../../images/checkYourLocalStore.jpg")/*tpa=http://www.homedepot.com/static/myaccount/images/checkYourLocalStore.jpg*/;background-repeat: no-repeat;cursor: pointer;display: none;height: 38px;margin-bottom: 20px;margin-left: -30px;margin-top: 5px;width: 156px;}
.btnNotSoldOnline {background-image:url("../../images/storeExclusive.jpg")/*tpa=http://www.homedepot.com/static/myaccount/images/storeExclusive.jpg*/; background-repeat:no-repeat; width:24px; height:24px; cursor:pointer;margin-bottom:28px; display:none; margin-left:5px;}
.addBackordered {background-image:url("../../images/backordered_Online.jpg")/*tpa=http://www.homedepot.com/static/myaccount/images/backordered_Online.jpg*/; background-repeat:no-repeat ; width:24px; height:24px; cursor:pointer;margin-bottom:28px; display:none}
.btnNotAvailable {background-image: url("../../../images/halflings.png")/*tpa=http://www.homedepot.com/static/images/halflings.png*/;background-position: left 579px;width:24px; height:24px; cursor:pointer;margin-bottom:28px; margin-left:5px; display:none} /*Margin changed to fix defect 25921*/
.btnShowStoreFinder{display:none;margin-bottom:30px;*margin-bottom:20px;}
.btnShowStoreFinder a {color:#777;margin:0 1px 1px;} /*Margin added to fix defect 25921*/
.innerValuesbtn{width:115px; margin-left:30px; font-weight:bold;line-height:12px;}
.continueShoppingBtn {cursor:pointer}
.addItemsBtn {background-image:url("../../images/addItems2YourList_btn.png")/*tpa=http://www.homedepot.com/static/myaccount/images/addItems2YourList_btn.png*/; width:220px; height:38px; cursor:pointer; float:right}
.createListBtn {cursor:default; float:left; opacity:0.7; filter:Alpha(opacity=70);}
.createListBtn.btn-orange {background-image: none !important;}
.createListBtnOrange {background-image:url("../../images/createList.jpg")/*tpa=http://www.homedepot.com/static/myaccount/images/createList.jpg*/;} 
.createListGryBtn {cursor:pointer; float:left; margin-left:150px}
.plusIcon {background-image:url("../../images/plus.jpg")/*tpa=http://www.homedepot.com/static/myaccount/images/plus.jpg*/; width:9px; height:9px; cursor:pointer;}
.mobile {background-image:url("../../images/mobile.gif")/*tpa=http://www.homedepot.com/static/myaccount/images/mobile.gif*/; width:23px; height:23px; float:left; background-repeat:no-repeat; padding-right:5px; padding-top:0px!important;}
.mobiTxt {padding:5px 0 0 0px; float:left; font-size:11px}
/*.mobiPanel {margin-top:10px}*/
.listIcon {background-image:url("../../images/list_ico.jpg")/*tpa=http://www.homedepot.com/static/myaccount/images/list_ico.jpg*/; background-repeat:no-repeat; height:auto; padding:6px 0px 4px 30px !important}
.signinBtn {background-image:url("../../images/sign_in.jpg")/*tpa=http://www.homedepot.com/static/myaccount/images/sign_in.jpg*/; width:85px; height:31px; cursor:pointer;}
.createAcctBtn {background-image:url("../../images/create_account.jpg")/*tpa=http://www.homedepot.com/static/myaccount/images/create_account.jpg*/; width:151px;border:0px; height:31px; cursor:pointer;background-repeat:no-repeat;}
.createAcctBtn {*background:url("../../images/create_account.jpg")/*tpa=http://www.homedepot.com/static/myaccount/images/create_account.jpg*/;}
.storeBtn {background-image:url("../../images/store_excl.jpg")/*tpa=http://www.homedepot.com/static/myaccount/images/store_excl.jpg*/; width:79px; height:24px; cursor:pointer;}
.backOrderBtn{background-image:url("../../images/back_ordered.jpg")/*tpa=http://www.homedepot.com/static/myaccount/images/back_ordered.jpg*/; width:133px; height:23px; cursor:pointer; margin:10px 0px 40px 0px}
.onlineBtn{background-image:url("../../images/online_excl.jpg")/*tpa=http://www.homedepot.com/static/myaccount/images/online_excl.jpg*/; width:79px; height:24px; cursor:pointer; margin:10px 0px 40px 0px}
.outStockBtn{background-image:url("../../images/OutOfStock.jpg")/*tpa=http://www.homedepot.com/static/myaccount/images/OutOfStock.jpg*/; width:96px; height:23px; cursor:pointer;}
.outStockPanel{padding-right:55px}
/*------------------Image CSS Ends------------------*/
/*------------------Tax Exempt Starts------------------*/
.errorTxt {font-weight:normal; color:red}
.taxIdPanel{padding-left:171px;}
.taxIdPanel input {height:20px; vertical-align:middle;margin-right:8px;}
.getPanel{margin-left:25px; margin-bottom:10px}
.getPanel span,.getPanel1 span{color:#F63}
.getPanel1{margin-left:19px; margin-top:10px}
.getPanel1 label, .getPanel1 input{float:left}
.taxExempt{padding-left:15px;}
.taxExempt1{padding-left:5px;}
#taxIdNum .taxExempt label {font-weight:normal}
.taxExempt input {color:#666}
.close-bar a.popup-closer {color:#fff !important;}
/*------------------Tax Exempt Ends------------------*/
/*------------------Model Windows starts------------------*/
.Overlay_CloseBtn a {color: #333333;text-decoration: none;}
.Overlay_CloseBtn {font-family: Arial,Helvetica,sans-serif;color: #333333;font-size: 11px;font-weight: bold;}
.reqTxt {text-align: right; margin:0px 25px 0px 0px}
.required, #popupSignIn  .required{font-family: Arial,Helvetica,sans-serif; color: #777777; font-size: 12px; padding:0 0 10px 0px; padding:0 0 5px 10px\9;/*padding:15px 0px 0px 0px; removed MG (make class more specific if needed)*/ font-weight: bold; margin:5px\9;}/*02 June changes by Guru added padding*/ 
.requiredPadding{padding:10px 0px 0px 0px;}
#popupSignIn .reqTxt li{ padding:8px 0px 0px 0px; padding:3px 0px 0px 0px\0/!important;}
*+html #popupSignIn .reqTxt li{ padding:1px 0px 0px 0px;}
#popupSignIn .popButton .required{ margin-left:10px; margin-left:6px\9;}
.mainLogonTitle { font-family: Arial,Helvetica,sans-serif; color: #333333; font-size: 23px; font-weight: bold;  height:25px; height:40px\9; padding:10px 0 10px !important;padding:10px 0px 0px 0px\9 !important;*padding:0px; border-bottom:1px solid #CCC; text-align:left; *width:100%; *padding-top:0px;}
.mainLogonTitle.required{height:auto; padding-bottom:15px;margin-left:0px\9;padding-bottom:5px\9 !important;}
.mainLogonTitle .required{margin-left:0px\9;}
*+html #popupSignIn .mainLogonTitle.required{height:30px; padding-bottom:5px;}
.required span{color:#F96302}
.required a {color:#F96302}
.noBold{ font-weight:normal}
#popupSignIn  .noBold{ font-weight:normal !important;}
.newTitle { font-family: Arial,Helvetica,sans-serif; color: #333333; font-size: 24px; font-weight: bold; height:18px; padding:0px 0px 15px 0px !important;}
.marTop5px{margin-top:5px; margin-right:5px;}
.newTitleItem { font-family: Arial,Helvetica,sans-serif; color: #333333; font-size: 18px; font-weight: bold; height:18px; padding:0px 0px 15px 0px !important; border-bottom:1px solid #CCC}
.newTitleItem div{ float:left; font-family: Arial,Helvetica,sans-serif;font-size: 24px;}
.newTitle div{ float:left; font-size: 24px; font-family: Arial,Helvetica,sans-serif; }
.mainLogonTitle div p{ padding-top:0px;padding-top:0px\9;padding-bottom:5px\9; margin:0px; font-weight:bold; font-size: 22px;}
*+html .mainLogonTitle div p{ line-height:25px;}
.data { height:auto; margin:10px 0px!important; clear:left;}
.item_list{font-family: Arial,Helvetica,sans-serif; color: #000; height:167px; overflow-y:auto; margin-top:10px}
.newitem_list{font-family: Arial,Helvetica,sans-serif; color: #000; overflow:auto; /*padding-top:15px; */padding-bottom:3px; *padding-bottom:15px;}
.item_list .item{ padding:10px 0px 5px 0px !important; font-size:14px; color:#000; font-weight:bold; text-align:left; cursor:pointer;}
.item_list .item.toAdd {text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.item_list .item:hover{text-decoration:underline;}
.fadingBackground{opacity:0.7; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; filter: alpha(opacity=70);}
a.model_window{text-decoration:none}
.popButton  div div.float_left{margin:17px 0px 0px 0px;margin:17px 0px 0px 0px\9 !important;}
.createpopButton { margin:20px 0px 0px 0px; padding-top:2px;}
.createButton {float:left;padding:15px 0px 10px 0px!important}
.createButton input{height:25px; width:200px!important; color:#999;font-size:14px}
.newpopButton { margin:0px; float:right; padding-right:45px!important; padding: 0 0 1.5em 0;}
#popupAddToYour .newpopButton,#popupCreateNewList .newpopButton{padding-right: 0px !important;}
.error_msg{ font-family: Arial,Helvetica,sans-serif; color:#FF0000; font-size:12px; margin:15px 40px 10px 2px !important; display:none; text-align:left;}
.error_msg img{padding:3px 10px 0px 0px;}
.popButton input{width:235px !important; height:30px; border:1px solid #ccc; color:#999; padding-left:5px}
#black-overlay { position:absolute; display:none; top:0; left:0; opacity:0.3; filter:alpha(opacity=30); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; background:#fff; z-index:1000; }
.float_left{float:left}
.float_right{float:right}
.btn_content{ padding:5px 5px 5px 5px; float:left; color:white; background:url("Unknown_83_filename")/*tpa=http://www.homedepot.com/static/myaccount/styles/source/Images/btn_mid.gif*/ repeat-x; height:30px;}
#createList_PIP{margin:15px 0 0 10px;margin:15px 0 0 0px\9 !important;}
#createList_inPopup{margin:15px 0px 0px 10px;}
#createList_cart{margin:17px 0px 0px 10px;margin:17px 0px 0px 0px\9 !important;}
.model3, .model2{display:none;}
 #popupSignIn #email_id , #popupSignIn  #password{padding-left:5px !important; margin-left:5px;} 
.email_width, .password_width, .superPIP__zoneE .grp_addToCart input.email_width, .superPIP__zoneE .grp_addToCart input.password_width{width:200px} 
.pad-right10px{padding-right:10px!important}
.reqTxt .createAccTxt span{float:right; padding:8px 10px 0px 0px;font-size: 17px; font-weight:bold; color:#777; width:205px\9; float:left\9;}/*07 june changes by Guru*/
.signInError {float:left;display:none;font-weight: bold; text-align:left;}
#popupSignIn .icon-error{ height: 24px; margin-top: -5px; padding-left: 9px;}
.mob_access_list {padding-bottom:7px}
.mob_access_list div{padding-top:5px}
.mob_access_listTxt{color:#999; padding-top:5px;}
.noPadding{padding:0!important; margin-top:10px}
.toShow{ padding-top:7px !important;}
/*------------------Model Windows Ends------------------*/
/*------------------MyAccount Landing page starts------------------*/
#myListTotal .topGrayPanel {margin:0px 15px 0px 15px;background-color:#eeeeee; height:50px;} /* MarginTop is 0 - prodDefect - 24304*/
#myListTotal .topExportPanel {margin:0px 15px 0px 15px;background-color:#FFF; height:27px;}
#myListTotal .topGrayPanel input{width:200px; height:22px; height:19px\9; padding-top:6px\9; border:1px solid #ccc; color:#999; padding-left:5px; font-size:11px}/* changed may 2 for look and feel- remvoed border MG for form HD VDS compliance*/
#myListTotal .topGrayPanel input:focus, .edit_display input.newListName:focus{background-color:#fff;}
#myListTotal .float_left{float:left; padding:15px;}
#myListTotal p span{ padding: 0 0 0 10px; vertical-align: middle;}
#total_lists {font-size:24px;font-weight:bold}
.total_lists{height: 30px; margin: 0; padding: 11px 10px 10px;  padding: 12px 10px 10px\9; *padding: 12px 10px 10px\9; font-size:11px;display: inline-block;}
#createList_listLanding{ background:url("../../images/arrow_bg1.jpg")/*tpa=http://www.homedepot.com/static/myaccount/images/arrow_bg1.jpg*/ no-repeat scroll right center transparent; display: block; float: left; height: 30px; padding: 10px; width: 140px;} 
.topGrayPanelTxt {max-width:480px; min-width:160px; width:auto; height:30px; font-weight:bold;float:left; padding:10px; } 
.grayPanel {float:left;margin:40px 0px 0px 40px; padding:20px; background-color:#e5e5e5; height:auto;width:650px;}
.grayPanel h1{color:#000;padding-botom:20px;font-weight:bold;font-size:22px}
.grayPanelTxt{ padding:12px 0px}
.grayPanelBtn {margin-right:10px;}
#landing_add1, #add_new_list{width:250px; height:25px; border:1px solid #ccc; color:#999; padding-left:5px;}
.nameExistError{display:none; padding-left:15px;}
.nameExistError1{display:none; padding-left:15px; float:left; color:red}
.nameExistError2{ display:none; color:red; clear:left; font-family: Arial,Helvetica,sans-serif; font-size:12px; vertical-align:middle;/* padding-top:10px;padding-left:5px;*/ }
.nameExistError3{display:none; padding-top:10px;*padding-top:0px;}
.nameExistError3 div{color:red; font-family: Arial,Helvetica,sans-serif; font-size:12px; vertical-align:middle;}
.nameExistError1 img, .nameExistError3 img{padding-right:10px;}
.nameExistError2 img{padding-right:5px;}
.ErrorWithoutIcon {padding:5px 0px 0px 30px; *padding:5px 0px 0px 0px; * float:left}
#myListItems {margin:0px 15px 0px 15px;}
.itemTitle {float:left;  width:100%; padding:15px 0px; border-bottom:1px solid #CCC}
.itemTitle *{vertical-align:middle;}
.itemName {float:left; width:500px; font-size:18px; font-weight:bold; color:#000000;padding-left: 12px;}
.itemDate {float:left; width:115px; text-align:right; padding-top:6px}
.itemDateTitle {float:left; width:176px; font-weight:bold; *margin-top:5px; padding-top:7px}
.itemSort {float:left;padding-left: 12px; width:535px; font-size:11px; font-weight:bold; color:#666;}
.itemSort select{font-size: 11px; width:108px; height:20px; margin-top:6px; padding:0; color:#000; *margin-top:5px} 
.sortBy {padding-right:10px; float:left; padding-top:8px; color:#777;} 
.sortByTxt {padding:6px 0px 0px 20px; float:left; width:230px; color:#777; }
.sortByTxtLocal{vertical-align:middle; display:table-cell; height:30px}
.padBot12{padding-bottom:12px!important}
.editTxt {font-size:12px; font-weight:normal;color:#f26522; clear:left; width:60px;}
.grayTxt {font-size:11px; font-weight:normal;color:#666666; padding-top:10px}
#myListItems a{color:#F96302; text-decoration:none;cursor:pointer;}
.listEdit a{text-decoration:none; cursor:pointer;
 font-size:11px; font-weight:normal;color:#F96302; float:left; padding-top:2px; margin-left:5px;}
.listNameHover{padding:0px 5px 5px; float:left; background:#CCC; cursor:pointer; max-width:365px !important}
#myListPdt .topGrayPanel .editCondn{padding:10px;}
#myListPdt .topGrayPanel .editCondn .float_left{padding:0px;}
#myListPdt .topGrayPanel .editCondn .float_left input.newLstNm{height:20px; background:#fff;}
#myListPdt .topGrayPanel .editCondn .float_left input.newLstNm:hover{background:#fff;}
.editCondn{float:left;}
.editCondn input{width:200px; height:22px; border:1px solid #ccc; color:#999; padding-left:5px}
.edit_display{display:none}
.itemSave {float:left; padding:0px 10px}
.itemCancel, .listCancel {float:left; font-size:12px; font-weight:normal;padding-top:10px}
.listCancel a{text-decoration:none; color:#F96302; cursor:pointer;}
.listName, .fullListName{float:left; font-size:20px;}
.updatedTick{float:left; margin-left:10px; display:none}
#mobAccess{clear:both; width:100%}
#deleteList, #deleteItem{ display:none; z-index:9999; position:absolute; top: 200px; left:570px; border:1px solid #ccc;box-shadow: 0 0 10px #999; /*5-24 MG*/ padding:20px 5px 20px 20px; background-color:#FFF; width:350px; width:335px\9;font-family: Arial,Helvetica,sans-serif; font-size:14px; font-weight:bold; color:black; cursor:pointer;}	
.deleteList{cursor:pointer; position: relative; margin-top:3px}
#deleteList{*margin-left:10px;}
#deleteItem{left:379px; height:104px; width:290px; *margin-top:-12px }
#deleteList img, #deleteItem img{margin:10px}
#dynamicitems{padding-left:15px; padding-right:15px}
#dynamicitems .list_deleted{color:black; font-family: Arial,Helvetica,sans-serif; font-size:16px; font-weight:bold;margin-right:18px;}
.list_deleted{color:black; font-family: Arial,Helvetica,sans-serif; font-size:18px; font-weight:bold; padding-right:10px}
.list_deleted img{padding-right:5px}
/*------------------MyAccount Landing page Ends------------------*/
/*------------------MyAccount Product page starts------------------*/
#myListPdt  .topGrayPanel {margin:0px 15px 0px 15px;*margin:20px 15px 0px 15px;background-color:#eeeeee; height:50px; font-size:24px}
#myListPdt  .topGrayPanelTxt{ font-size:24px; background:url("../../images/arrow_bg1.jpg")/*tpa=http://www.homedepot.com/static/myaccount/images/arrow_bg1.jpg*/ no-repeat scroll right center transparent; white-space:pre; word-wrap:break-word; padding:15px 10px 5px; /*text-overflow: ellipsis; max-width: 420px; overflow: hidden;*/}
#myListPdt  .topExportPanel {margin:0px 15px 0px 15px;background-color:#FFF; height:27px;}
#myListPdt  .topGrayPanel input{width:200px; height:30px; /* removed border MG border:1px solid gray;*/ color:#999; padding-left:5px}
#myListPdt  .float_left{float:left; padding:15px;}
.listNameTextContainer{display: inline-block; max-width: 374px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
#myListPdt .listDetails.listNameTextContainer {max-width:400px;white-space: nowrap;word-wrap: normal;}
.itemTotal  span{ padding: 0px 5px 0 2px;font-size:20px}
.itemPdtSort {float:left; width:400px; font-size:11px; font-weight:bold; color:#666}
.itemPdtSort select{font-size: 11px; width:100px; margin-top:5px; padding:0; height:20px}
.itemUnitPrice{float:left; width:100px; text-align: center; padding-top:8px;  color:#777; font-size:11px; font-weight:bold; margin-left:14px;}
.itemQty{float:left; width:50px; padding-top:8px; color:#777; font-size:11px; font-weight:bold}
.itemDelete{float:right; margin:5px 0px 0px 65px; padding-right:15px; }
.pdtTitle {float:left;  width:100%; padding:10px 0px; border-bottom:1px solid #CCC;padding-top:-20px\9;}
.pdtView {float:left;width:143px; height:143px;text-align:right;height:auto\9;}
.pdtModel {float:left; width:230px; padding-left:10px}
.pdtPrice {float:left; width:123px; text-align:center}
.pdtQty {float:left; width:50px}
.pdtQty input{float:left; width:25px; height:15px; margin-bottom:4px; font-weight:bold; font-size:11px; color:#000;text-align:center;padding-left:4px; }/*7.17 - QC 28623*/
.pdtDelete {float:right; padding-right:15px; min-height:140px;min-width:155px\9; min-width:155px;position:relative;}
.pdtSubTotal {padding-top:15px; width:159px; text-align:right; font-size:11px; font-weight:bold;}
.hideItemPrice {padding-top:15px; width:159px; text-align:left; font-size:12px; color:black; padding-left:60px;font-weight:bold;}
.priceBox {height: 40px;}
.perPiece {text-align:right; margin-right:20px; font-family:arial; font-size:14px; font-weight:bold; color:#666;}
.strikePrice {text-decoration: line-through; padding-top:5px; text-align:right; margin-right:20px;}
.pdtSubTotal span{padding-left:12px;font-size:16px; font-weight:bold; color:#333333;font-style:italic;}
.pdtUpdate {color:#00AE4D; cursor:pointer; font-size:11px; font-weight:bold }
.addListCart {margin:0px 15px 40px 15px; *margin-bottom:20px!important;}
.itemsIcon{float:left; text-align:center; color:#000000; cursor:pointer}
.itemsIconTxt{float:left;padding:3px 15px 0px 5px; font-weight:bold}
.itemsIconPanel{float:left;padding-top:10px}
.itemsIconPanel a:hover{text-decoration:none}
.itemsGrayIcon{float:left; text-align:center; color:#999999;}
.itemsGrayIcon span{padding:0px 10px 5px 5px}
.itemTotal {font-size:10px;font-weight:bold; padding:15px 10px 5px; float:right; height:30px;}
.itemTotal  *{vertical-align:middle;}
.itemTotalTxt{font-size:10px!important; padding:0!important;}
.btmIconPanel{ float:right; margin-bottom:20px;}
.topGrayTxt {font-size:14px; font-weight:normal;color:#000; padding-top:0px}
.pdtGrayTxt{padding-top:40px;color: #A4A4A4;font-size: 11px;font-weight: normal;}
.centerButtons{float:right;margin:15px 0px 34px 0px;}
.centerButtons img{margin-left:10px}
.popText{ color:#A4A4A4; padding:10px 0 5px 0px; padding-bottom:15px\9!important;font-size:12px; font-weight:bold}
#popupListToCartSuccess .popText{padding:10px 0 5px;padding-bottom:12px\9!important}
p.deleteAsk{font-size:18px} /*5-24 MG*/
div.deleteAsk {height:33px; margin:0 auto;} /*5-24 MG*/
#deleteItem .deleteAsk{ font-size:18px; padding-bottom:30px}
/*------------------MyAccount Product page Ends------------------*/
/*------------------Email List CSS starts------------------*/
.emailFields{margin-left:20px;*margin-top:60px;}

#popupEmailList .emailFields input[type="text"]{width:200px; height:26px; margin-bottom:10px; font-size:11px}
#popupEmailList .emailTitle , #popupEmailConfirmation .emailTitle{ font-family: Arial,Helvetica,sans-serif; color: #333333; font-size: 24px!important; font-weight: bold; padding:5px 0px 10px 0px;*width:420px;margin-top:0!important; }
#popupEmailConfirmation .emailTitle {padding-bottom:0;}
.mylist-email-format{margin-left:-6px;padding-bottom:0px;}
.mylist-email-format li{list-style:none;display:inline-block;font-weight: normal;padding-right:14px;padding-right:0px\9;}
.emailTitle .required{height:auto; padding-bottom:10px; }
.emailTitle .normal{  color: #777777;  margin-bottom: 10px;   margin-left: 2px; }
.emailTxt {width:68px; float:left; padding-bottom:10px; padding-top:11px; padding-right:17px; text-align:right}
#popupEmailList textarea {width: 250px; height: 58px; resize:none; margin-bottom:11px; font-size:11px; color:#777777; padding:5px;overflow:auto;}
.emailReq{color:#ED1C24; float:left; clear:both; padding:11px 0 10px;font-weight:bold;}
.clear_both{clear:both}
.reqTxt{text-align:right; margin-right:24px; font-size:11px; font-weight:bold}
.reqTxt span{color:#ED1C24;font-weight:bold}
.emailRecipTxt {clear:both; padding-left:75px; font-size:12px; width:260px;}
.maxchar {float:right; font-size:11px; padding-right:27px}
.emailCopy input{float:left; width:12px; margin-bottom:15px; height:12px; margin-right:3px; margin-top:1px; }
.emailCopy {font-size:11px; font-weight:bold; padding:20px 59px 0 0; float:right; padding-bottom:15px\9; }
.mar_top30{margin-top:30px}
.recipientDetail{font-size:12px; margin-left:93px; padding-top:5px; width:260px}
.marLeft5px{margin-left:5px}

/*-------------------Email List CSS Ends------------------*/
/*-------------------My cart page starts------------------*/
.addToListFromCart{font-family: Arial,Helvetica,sans-serif; font-size:12px;padding-top: 0 !important; font-weight:bold; color:#333; width:100px; cursor:pointer; text-align:right; vertical-align:top !important}
#popupCreateListFromCart{padding:23px 30px 19px; width:320px; /*position:absolute;*/}
#addToListResponse #popupCreateListFromCart{padding:12px 30px 0px;}
#addToListResponse #popupCreateListFromCart .createButton{padding:0 0 10px!important;}
#addToListResponse #popupCreateListFromCart #createList_PIP{margin:0 0 0 10px;}
.item_copied{color:black; font-family: Arial,Helvetica,sans-serif; font-size:12px; font-weight:bold; padding:0px 10px 20px 0px; text-align: right;}
.item_copied img{padding-left:10px}
.item_copied span{color: #e6781e; display: inline-block; font-weight: bold; max-width: 190px; overflow: hidden; text-overflow: ellipsis; vertical-align: middle;}
.item_copied a{text-decoration:none}
.ClosePopup{float:right; position:relative;z-index: 999;} 
.mar_top20{margin-top:20px !important}
#add_new_list.newName{font-size:14px; height:25px; padding:2px !important; width:173px !important;}
#add_new_list {margin-right:10px\9 !important;}
.height30{height:30px}
#addToListResponse{z-index:9999;}
/*-------------------My cart page ends------------------*/
/*-------------------Choose Store CSS starts------------------*/
.storeTxt {color:#999999; padding-left:5px; cursor:pointer}
#myListStore {margin:0px 15px 0px 15px;}
#myListStore a{color:#F96302; text-decoration:none}
#myListStore .pdtSubTotal span {font-style:normal; font-size:12px; font-weight:normal}
#localStore{padding-left:50px; color:#F96302; font-weight:normal}
#myListStore .deleteItem {margin-top:120px}
/*-------------------Choose Store CSS Ends------------------*/
/*-------------------Partial List CSS starts------------------*/
.partialPanel {float:left; background-color:#eee;border-top:1px solid #ccc;border-bottom:1px solid #ccc; color:#333; padding:20px; line-height:15px; font-size:12px; margin:15px 0}
.partialPanelTxt{padding-left:28px}
.optionTxt {clear:both; padding:10px 0 0 10px; font-size:10px; color:#777}
.optionTxt span{color:#F96302;}
/*-------------------Partial List CSS Ends------------------*/
.marBot30px{margin-bottom:30px}
/*ToolTip CSS*/
 #tooltip{position:absolute; border:1px solid #cccccc;background:#fff;padding:10px 20px;color:#333; display:none; width:170px;}
  .itemsGrayIcon a{text-decoration:none; color:#999999 !important}
/*----------------------Send Email Error-------------------*/
.emailErrButtons{margin:40px 0px 10px 55px}
.emailErrBtm{float:left; margin-right:10px}
/*-----------------------End send email error------------------*/
/*----------------------- IE Fixes starts-----------------------------*/
#IE8 .marTop1IE2px{margin-top:12px;}
/*----------------------- IE Fixes Ends-----------------------------*/
/*temporary class for quickview add to list*/
.addToList_btn{z-index:9999; background-color:white; font-size:13px; font-weight:bold;}
.addToList_btn .plus{margin:0 10px 0 0;} 
/* fix for update qty textbox height & width */
/*.quantity {width:20px!important;}*/
/* addtoListGrey button class */
.addItemsToList {cursor:auto;}
/*addtoListGrey button class */
.addListToCartGrey {background-image:url("../../images/AddListToCartGrey.jpg")/*tpa=http://www.homedepot.com/static/myaccount/images/AddListToCartGrey.jpg*/; width:184px; height:32px; cursor:auto}
#userMessage {font-family:Arial,"Helvetica Neue",Helvetica,sans-serif !important}
#test{margin:auto !important;}
.SSKU_Actions_Container  li *{vertical-align:middle;} 
.createTxt>:first-child{font-weight:bold !important; margin-top:15px; margin-top:15px\0/!important;}
.createTxt{margin-top:0px 25px 0px 10px !important;} 
.reqTxt>:first-child{margin-top:10px}
.deleteAsk #no_delete{margin-left:70px}
.createAccount{padding-right:12px;}
.forgotPswd{float:right!important;margin-top:15px; *margin-top:0px;padding-bottom:0px!important;}

/* Email modal View List button with out arrow button */
.viewListBtnNoArrow {background-image:url("../../images/viewList_no_arrow.jpg")/*tpa=http://www.homedepot.com/static/myaccount/images/viewList_no_arrow.jpg*/; width:90px; height:31px; float:center; margin-right:10px!important; cursor:pointer;}
.itemTotalTxt{font-size:10px!important; padding:0!important;}
.font11px_bold{font-size:11px!important; font-weight:bold;}
.mar_bottom0px{margin-bottom:0px !important;}
.noBorder{border-bottom:0px !important;}
.padTopBotm{padding:10px 0px !important;}
.height40px{height:40px !important;}
.mar_right75px{margin-right:75px !important;}
.width700px{width:700px;}

/* bulk pricing info text*/
.bulkPriceBlock {float: left; margin-top: 15px; width: 300px;}
.blkImgBlk {background-image: url("../../images/bulkPricingInfo1.jpg")/*tpa=http://www.homedepot.com/static/myaccount/images/bulkPricingInfo1.jpg*/; background-repeat: no-repeat; float: left; height: 29px; padding-left: 0px; width: 30px;}
.bulkPriceTxt {color: #333333; float: left; font-size: 12px; font-weight: bold; width: 225px;}

/*Create list button alignment issues in create list modal*/
#addToListResponse #popupCreateListFromCart .createButton{padding-top:15px\9!important;padding-top:14px\8!important; }

*:first-child+html #addToListResponse #popupCreateListFromCart .createButton{padding-top:13px!important; }
/*Sign In modal style start here*/
.createAccTxt {float:left; width:380px; padding-top:5px; padding-top:0px\9;}
:root .createAccTxt {padding-top:6px\0/IE9!important;}
*+html .createAccTxt {float:left; width:377px; padding-top:4px;}/*only for IE-7*/
.mainLogonTitle div{ padding:0px 0px 0px 0px ; }
.required ul{list-style-type: disc !important; padding: 0 30px 0 25px; margin: 0px !important; padding: 0 20px 0 25px\9; }
*+html .required ul{ padding:0 25px 0 25px;}/*only for IE-7*/
.required ul li{padding:0px 0px 10px 0px !important; text-align:left!important;display:list-item !important;}
*+html  #popupSignIn .required ul li{ line-height:13px;}
.popButton { border-top: 1px solid #CCCCCC;margin-top:6px !important;text-align: justify !important;} 
*+html .popButton{margin-top:2px !important;}
#popupSignIn .popButton{ width:400px;}
*+html #popupSignIn .popButton{margin-top:0px; width:410px;}/*only for IE-7*/
#fancybox-content  #popupCreateNewList .closeBtn, #fancybox-content #popupDeleteList .closeBtn,#fancybox-content #popupEmailList .closeBtn, #fancybox-content #popupEmailConfirmation .closeBtn, #fancybox-content #popupPartialList .closeBtn, #fancybox-content #popupClearList .closeBtn, #fancybox-content #popupAddList .closeBtn, #fancybox-content #popupCreateListFromCart .closeBtn, #fancybox-content #popupAddToYour .closeBtn{
display:none;
}
*+html .createTxt>:first-child{font-weight:bold !important; margin-top:16px!important;}/*only for IE-7*/
.createAccTxt span{ color: #777777; float: left;font-size: 17px;font-weight: bold; padding: 8px 0px 0 10px;}
*+html .createAccTxt span{ color: #777777; float: left;font-size:17px;font-weight: bold; padding: 8px 0px 0 15px;}/*only for IE-7*/

/*Terms & conditions text starts here*/
#termsCond{float:left; margin:30px 0 5px 30px; margin:20px 0 5px 30px\9!important;}
:root #termsCond{ margin:38px 0 5px 30px\0/IE9!important;}
*+html #termsCond{margin:24px 0 5px 30px !important; width:360px;} /*only for IE-7*/

ul#ftLegalLinks{margin:0;padding:0;}
ul#ftLegalLinks li{margin:0;padding-right:6px;display:inline;list-style:none;}
/*end of terms & conditions text ends here */

/* Work bench standerds for sign in modal forms */
#popupSignIn .signInModalForm{float:right; margin-right:20px;}
*+html #popupSignIn .signInModalForm{width:380px!important; padding:0px;}

#popupSignIn .reqTexts{font-weight:bold;text-align:right;}
#popupSignIn .reqTexts span, .control-label span{color:#f00;}

#popupSignIn .control-label{text-align:right;white-space:nowrap;} /*Added white-space for Defect 28270 */
:root #popupSignIn .control-label{width:113px\0/IE9!important; }
*+html #popupSignIn .control-label{text-align:right;width:153px; }

#popupSignIn .linkTexts{text-align:right;}
#popupSignIn .linkTexts a{ color:#F96302;}

#popupSignIn .signInModalForm label{padding-right:0px;}
#popupSignIn  .control-group{float:right;}
*+html #popupSignIn  .control-group{float:right; width:380px!important; text-align:right!important;}
/* work bench standerds for sign in modal end here */

/*Sign In modal style ends here*/
/*to adjust the Add list to cart button in MLDP*/
#addListToCartBottom, #addListToCart {margin-right:15px!important;}
*+html #btmIconPanel{margin-right:20px;clear:both}
*+html #addListToCartGreyBottom{margin-left:270px;}
/*ALTC POPUP Structure -- Start */
#popupListToCart{width:auto;font-family:Arial, "Helvetica Neue",Helvetica, sans-serif;color:#777777;padding:20px 0px 35px 20px; }
#popupListToCart h1{font-size:22px;font-weight:bold;line-height:30px; padding-top:30px;font-family:Arial, "Helvetica Neue",Helvetica, sans-serif;}
*+ html #popupListToCart h1{width:500px;}
:root #popupListToCart h1{padding-top:34px\0/IE9;}
#popupListToCart .partialPanel{ border: 1px solid #CCCCCC;float: left;font-size: 14px;line-height: 15px; margin: 30px 0 20px;
padding: 30px 0 20px 5px; background-color:#fff;width:505px;height:auto;font-family:Arial, "Helvetica Neue",Helvetica, sans-serif;}
.altcScroll{overflow: auto;height: 245px!important;}/*spacified !important bcoz to change the height dynamically*/
*+html .altcScroll{height: 245px!important;}/*spacified !important bcoz to change the height dynamically*/
.altcRowItem{height:60px;margin-bottom:20px;}
*+html .altcRowItem{height:60px;}
.altcImgItem{margin:0px;padding:0px;float:left;clear:both; position:relative;}
.altcDescriptionItem{color:#777777;margin:0px;padding:0px 0px 0px 25px;float:left;width:415px; font-size:14px;font-family:Arial, "Helvetica Neue",Helvetica, sans-serif;}
.altcDescriptionItem p.fontBold{padding:0px;margin:0px;font-weight:bold;font-size:14px;font-family:Arial, "Helvetica Neue",Helvetica, sans-serif;}
.countOverFlowTxt{margin-left:43px; padding-bottom:20px;color:#777777;font-size:12px;font-family:Arial, "Helvetica Neue",Helvetica, sans-serif; padding-right:50px}
*+html .countOverFlowTxt{ padding-bottom:0px;}
@media screen and (-webkit-min-device-pixel-ratio:0){ .countOverFlowTxt { padding-bottom:0px; } }/*Hack for chrome to align the bottom mesg(we re sorry, not..)*/
.heightAuto{height:auto;}
#popupListToCart .closeBtn{margin-top:7px; margin-right:10px;padding-right:0px}
#countReached{margin-left:55px;font-size:12px;}
#numberofItemsAddedMessagediv{font-size:12px;font-family:Arial, "Helvetica Neue",Helvetica, sans-serif;padding:0px; margin:0px;}
.altcWarningMsg {width:24px; height:24px; float:left; margin-top:5px;} 
.altcRightButtons{float:right; padding-right:15px;}
.altcNegMarginTop{margin-top:-20px;}
*+html .altcNegMarginTop{margin-top:0px;}
@media screen and (-webkit-min-device-pixel-ratio:0){ .altcNegMarginTop{margin-top:0px;} }/*Hack for chrome to align the bottom mesg(we re sorry, not..)*/
/*ALTC POPUP Structure -- End */

#ShoppingListDetailsHorizontal1_rr .myListAddToList {
  margin-top: 6px;
  text-align: center;
  width: 128px;
}

#popupAddToListFromList {
  margin: 50px 30px 45px;
}

#popupAddToListFromList .content {
  padding-left: 35px;
  color: #777;
  font-size: 22px;
}

#popupAddToListFromList .mainLogonTitle {
 border:0 !important;
 height: auto !important;
 padding: 0 !important;
}

/*Order Details Display - Start*/
.OrderDetailDisplayInfo{padding-left:10px;text-align:left; width:930px !important; margin-top:20px}/*used important to over write the ID width*/
.OrderDetailDisplayInfo h1 {border: medium none;clear: both;color: #333333;float: none;font-family: helvetica,arial,sans-serif;font-size: 28px;font-weight: 700;line-height: normal;margin: -5px 0 18px;overflow: visible;position: relative;font-weight:bold;}
.OrderDetailDisplayInfo h3{clear: both;display: block;font-size: 1.1em;padding: 3px 10px;}
.OrderDetailDisplayInfo table{border:0;font-size:100%;}
.OrderDetailDisplayInfo table th{background:#ECEDE8;font-size:0.9em;text-align:left;}
.OrderDetailDisplayInfo table tr{}
.OrderDetailDisplayInfo .page-options{position:absolute;top:20px;right:0;font-size:.8em;text-align:right;z-index:1;background-color:#FFF;}
.OrderDetailDisplayInfo .page-options{top: -40px;right: -100px;display: none;}
.OrderDetailDisplayInfo .page-actions {display: inline;float: right;margin-right: 10px; margin-bottom:10px;}
.OrderDetailDisplayInfo .btn-print-page {background: url("../../images/button_print_icon.gif")/*tpa=http://www.homedepot.com/static/myaccount/images/button_print_icon.gif*/ no-repeat scroll right top transparent; display: block;height: 11px;width: 42px;}
.OrderDetailDisplayInfo .btn-print-page span{display:none}
.OrderDetailDisplayInfo .cartCol-quantity{width:55px!important;}
.OrderDetailDisplayInfo .cart-total{padding-top:10px!important;}
.OrderDetailDisplayInfo .total{padding-left:30px!important;}
.OrderDetailDisplayInfo .cart-shipMethod{width:20%;}
/*Order Details Display - End*/
.order-tooltip.tip-Container {float: none; display: inline-block; white-space:normal;}
.order-tooltip.tip-Container .mylist-privacy-setting-tooltip {height: 0px; width: 0px;}
.order-tooltip.tip-Container #quickTip #tipClose {margin-right: 0px;}
.order-tooltip.tip-Container #tipContent {overflow-y: auto; max-height: 220px;font-weight: normal;font-size: 12px; text-align: left;}
.order-tooltip.tip-Container #tipClose .qtip-close-label{margin-right: 0px; padding-top: 3px!important;text-align: right;font-size:12px; float: left;}
.order-tooltip.tip-Container #tipClose  .icon-close{float: right;}
.order-tooltip.tip-Container #tipContent ul {padding: 10px 0px 0px 25px; list-style-type: square;}
.order-tooltip.tip-Container #tipTitle {padding-top: 10px!important;}
.order-tooltip.tip-Container .order-info-setting-tooltip {background-position: right 4355px;height: 16px;padding-top: 0px;margin-top:-3px\9 !important;margin-top:-2px;}
/*Guest order Details - tooltip*/
.guest-order-tooltip.tip-Container #tipContent  ul {padding: 10px 5px 10px 5px; list-style-type: none;}


/* Alignment of link in orderstatus page*/
.page-options{position:absolute;top:20px;right:0;font-size:.8em;text-align:right;z-index:1;background-color:#FFF;}
.page-options{top: -40px;right: -100px;display: none;}

/* Value Price css 7.15*/
#dynamicitems .valuePrice{font-family:"Helvetica Neue",Helvetica, sans-serif;margin-right:16px;font-size:12px;width:107px;}
#dynamicitems .valuePrice .priceBox{height:auto !important;text-align:right;min-height:40px;}
#dynamicitems .valuePrice .perPiece{font-family:"Helvetica Neue",Helvetica, sans-serif;font-weight:bold;color:#000000;margin-right:0px;font-size:12px;}
#dynamicitems .valuePrice .wasPrice{color:#666666;text-decoration:line-through;}
#dynamicitems .valuePrice .savePercentage{color:#00ae4d;padding: 5px 0px 5px 0px;}
#dynamicitems .valuePrice .priceLbl,#dynamicitems .valuePrice .dateBtwn{color:#666666;font-size:10px;}
#dynamicitems .valuePrice .dateBtwn span{display:block;}
#dynamicitems .updateTxt{font-size:10px !important;color:#000000 !important}
#dynamicitems .updateTxt:hover{text-decoration:underline;}
#emailFormat {margin-top:-3px;}

/* Defect ID # 36366  */
#myListStore #datedropdown.custom {
    opacity: 1;
}

/* Alignment of buttons in MLDP modals */
#popupListToCartSuccess .centerButtons{ margin-right:4px\9;}

/*Alignment of grey lines in sign-in modal*/
#popupSignIn .required{margin:5px 0px\9;}
#popupSignIn .required ul{padding-right:25px;}

/* QC 18976- MLLP alignment*/
.itemPdtSort select.custom{filter: alpha(opacity=100)\9;}
#myacct-mllp-error .warnTxt{color:red;padding-top:4px;}

/*Non-Partial items style starts here*/
#popupNonPartialLists,#popupMultiDelete{width:570px;} 
#popupNonPartialLists #generalMerchItemsListTitle,#popupMultiDelete #itemsDltListTitle{width:547px;border-bottom:1px solid #ccc;height:32px;}
#popupNonPartialLists .centerButtons,#popupMultiDelete .centerButtons{float: right;margin: 16px 22px 25px;}
#popupNonPartialLists .nonPartialPanel,#popupMultiDelete .nonPartialPanel{margin-top:8px;float: left;font-size: 12px; width:545px;}
#popupNonPartialLists #genItems,#popupMultiDelete .genItems{border-bottom:1px solid #ccc;float:left;padding: 15px 0 25px 6px;width: 99%;}

#generalMerchItemsListTitle .icon-small-green-check{float:left;height:20px;width:22px;}
#generalMerchItemsListTitle p,#popupMultiDelete  #itemsDltListTitle p{font-size:18px;color:#000;padding: 0 30px;}
#popupMultiDelete  #itemsDltListTitle p{padding-left:0px !important;}
#genMerchItems .grid_3,#itemsToBeDeleted .grid_3{height: 50px;width: 110px;}
#genMerchItems .grid_3 img,#itemsToBeDeleted .grid_3 img{padding: 11px 40px;}
#genMerchItems .grid_18,#itemsToBeDeleted .grid_18{width: 390px; margin: 2px 5px 0;}
#genMerchItems .grid_18 p,#itemsToBeDeleted .grid_18 p{color:#000;font-weight:bold;}
#genMerchItems .grid_18 #desc p,#itemsToBeDeleted .grid_18 .itemDetails div{font-size: 12px; color:#A4A4A4;font-weight:normal;}
#genMerchItems #desc,#itemsToBeDeleted .itemDetails,#genMerchItems .grid_18 .itemDetails{padding-top: 10px;}
#genMerchItems .grid_18 .attrName{display:table-row;color:#A4A4A4}
#genMerchItems .grid_18 .attrName .labelAttr{display:table-cell;font-weight:normal;color:#A4A4A4;line-height:5px;padding-right:5px;}
#popupNonPartialLists .altcGenItemsScroll,#popupMultiDelete .altcGenItemsScroll{overflow: auto;height: 340px!important;overflow-x:hidden;-webkit-overflow-scrolling: touch;}/*spacified !important bcoz to change the height dynamically*/
#popupNonPartialLists *+html .altcGenItemsScroll,#popupMultiDelete*+html .altcGenItemsScroll{height: 340px!important;}
#popupNonPartialLists .centerButtons .float_left{ padding-right:8px;}
#popupNonPartialLists .centerButtons span.checkOutAlign{padding-bottom:8px;}
/*Non-Partial items style ends here*/
/*Multi Select MLDP Starts*/
.my-account .mldpItemSelect .control-group{float:left; width:100%;}
.my-account .mldpItemSelect label.checkbox{width:28px; margin-right:0px;}
.my-account .mldpItemSelect .pdtAddAction{margin:0 20px;}
.my-account  a.disableMultiAction{cursor:not-allowed;opacity:0.4;display: inline-block;zoom:1;filter: alpha(opacity=40);}
.my-account .mldpItemSelect{float: left; padding-top: 10px; width: 100%;}
.my-account .mldpItemSelect .control-group{margin-bottom:0px;}
.my-account .mldpItemSelect .pdtList{float:left;width:100%}
.my-account .mldpItemSelect #dynamicitems{margin-bottom:-5px !Important;}
.my-account .mldpItemSelect .pdtDelete{padding-left:12px;}
.my-account .mldpItemSelect .pdtDltAction{color:#666;}
.my-account .mldpItemSelect .pdtDltAction{padding-left:9px;}
.my-account .mldpItemSelect .itemTitle{border-top:1px solid #CCCCCC !important;}
.mldpItemSelect .addListCart,.mldpItemSelect #checkAll2{clear:both;}
.my-account .mldpItemSelect .listActionBtns a,.my-account .mldpItemSelect .listActionBtns a:hover{text-decoration:none;}
.my-account .mldpItemSelect .addListToCartGrey { margin:0px 29px 0px 0px !important;float: right;}
.my-account .mldpItemSelect .pdtView{width:110px !important;}
.my-account .mldpItemSelect .listActionBtns{float:left; margin:10px 0px 0px 10px;}
.my-account .mldpItemSelect .parentCheck{margin-left:0px !important;}
.my-account .mldpItemSelect .parentLbl{margin-top:3px;}
.my-account .mldpItemSelect #addListToCartBottom,.my-account .mldpItemSelect #addListToCart{margin-right:29px!important;}
.my-account .mldpItemSelect .multiActionWrapTop,.my-account .mldpItemSelect .multiActionWrapBtm{float: left; padding-top: 5px;}
#fancybox-content #popupMultiDelete .bulkPriceBlock{display:none;}
#fancybox-content #popupMultiDelete button.no_delete{margin-right:7px;}/*added space for new buttons from workbench*/
/*Multi select MLDP Ends*/

/* STARTS Sharable Lists MYAC-3129*/
.mylist-privacy-setting{margin:14px 7px 0 0;}
.mylist-privacy-setting-link{color:#000000;float:left;line-height:14px;vertical-align: bottom;}
.mylist-privacy-setting-tooltip {position:relative;margin-top:-2px!important;background-position:left 4652px;padding:12px!important;}
.mylist-privacy-setting-tooltip-orange{position:relative;margin-top:-2px!important;background-position:-5px 2886px;padding:10px!important;margin-right: 9px !important;}
.mylist-privacy-setting #tipHeader{display:none;}
.mylist-privacy-setting #tipContent{line-height:16px;color:#000;}
.mylist-privacy-setting-mldp{margin-right:14px;margin-left:10px;}
.mylist-privacy-setting-mldp .mylist-ps-grey{color:#777;}
.mylist-privacy-setting-mldp .mylist-ps-change{font-size:10px;}
.mylist-ps-content{width: 300px; display: block; top: 4px; left: -300px;}
/* ENDS Sharable Lists MYAC-3129*/
.my-account .dynamic_btn:hover {text-decoration: none;}
.my-account .btn-orange .icon-plus-white {background-position: right 1249px;}
.my-account #noItemContinueButton.btn-orange {float: none;}
.mylist-privacy-setting-link a.thdOrange{vertical-align:top\9;}
.mylist-privacy-setting-link a.thdOrange:hover{text-decoration:underline!important;}
.mylist-privacy-setting-link a.mylist-ps-change{vertical-align:top\9;}
/* ENDS Sharable Lists MYAC-3129*/

/* QC-19011 starts*/
#popupCreateListFromCart{padding:20px 30px !important;}
#popupCreateNewList.backgroundPopup {float:left;width:320px!important;padding:20px 30px;}
#popupCreateNewList.backgroundPopup .mainLogonTitle, #addToListResponse #popupCreateListFromCart .mainLogonTitle{margin-bottom:6px}
#popupCreateNewList .createButton input#landing_add1{width:173px !important; width:165px\9  !important; padding:2px !important;}
#popupCreateNewList.backgroundPopup .mainLogonTitle{margin-bottom:14px\9!important;}
#popupCreateListFromCart .createButton input#add_new_list {width:173px !important; width:165px\9  !important; padding:2px !important;} 
#addToListResponse .listNamePopUpError {margin-bottom:10px;} 
#popupCreateListFromCart .createButton,  #popupCreateNewList .createButton{padding-top:6px!important;}
#addToListResponse #popupCreateListFromCart .createButton{padding-top:0px\9!important;}
#popupCreateNewList #createList_inPopup, #popupCreateListFromCart #createList_PIP{margin-top:6px!important;}
#addToListResponse #popupCreateListFromCart #createList_PIP{margin-top:0px!important;}
/*Ends 19011 */


/*Start : Styles for shared list */
#sharableLists .title{ color:#000; font-size:36px; margin: 10px 20px 11px;padding-bottom: 8px; border-bottom:1px solid #ddd;}
/*.privacy-form-wrapper{margin-top:10px;}*/
.myacct-privacy-setting-option{padding-top:16px;}
.list-privacy-setting-container{margin: 20px;overflow: hidden;display:none;}
.my-account .list-privacy-setting .controls{margin-left: 0;}
.my-account .list-privacy-setting-button{float: right; margin: 25px 12px 0;}
.my-account .myacct-privacy-setting-option{overflow: hidden;} 
#sharableLists .grid_10{ width:auto;}

#fancybox-content #sharableLists,#fancybox-content .list-privacy-setting-container{display:block;}	
#fancybox-content #sharableLists .sharable-url-txt{ border: 1px solid #999999; height: 18px; margin: 10px 0 12px 2px; width: 341px;}
#sharableList .myacct-privacy-setting-option label, #sharableList .myacct-privacy-setting-option label b{ font-weight:normal;  cursor: pointer; color: #000;font-size: 20px;line-height: 115%;}
 /*END: Styles for shared list */
 /* Blinds Items css Starts*/
.my-account .blindsAttr{	padding-top:10px !important;color:#999999;}
.my-account .blindsAttr span{display: table-cell;}
.my-account .blindsAttr span,.copyEditBtn{display:inline-block;}
.my-account .copyEditBtn{padding-left:5px;}
.my-account .blindsAttr .labelAttr{padding:0px 5px 0px 0px; color: #a4a4a4;font-size: 11px;font-weight: normal;display:table-cell;line-height:13px;}
.my-account .blindsAttr .attrName{display:table-row;}
.my-account .blindsAttr .skuColor{float:left;}
.my-account .blindsAttr .icon-info-grey-bg{background-position: right 2884px;margin-left:-5px;}
.my-account .blindsSkuID{color: #a4a4a4; font-size: 11px; font-weight: normal;}
.my-account .blindsAttr .tip-Container .control-label{width:auto;	margin-right:0px;}
.my-account .viewAllDetails{	clear:left;	float:left;line-height:13px;}
.my-account .viewAllDetails a.customDtlsLink:hover{text-decoration: underline;}
.my-account .viewAllDetails a.customDtlsLink{ color: #f26322; text-decoration: none; font-weight:bold;}
#popupBlindsContent {background: none repeat scroll 0 0 #ffffff; box-shadow: 0 0 10px #999; display: none; height: auto; position: fixed;width: 620px; z-index: 9999; margin: 5px 0 0 20px;}
#popupBlindsContent .gridBlindsPopup{width: 505px;margin-top:-4px;}
#popupBlindsContent .blidsTitle, #popupBlindsContent .blidsPriceTotal{border-bottom:1px solid #ccc; float: left; width: 100%;  margin: 10px 0 20px; padding-bottom:15px;}
#popupBlindsContent .blidsPriceTotal{border-top:1px solid #ccc;	border-bottom:none;	margin-top:20px; padding:15px 0px 0px;}
#popupBlindsContent h1.page-title{font-weight:normal;margin-left:0px;font-size:18px;line-height:20px;}
#popupBlindsContent .prodTitle, #popupBlindsContent .prodPrice{font-size:18px; font-weight:bold;	color:#333;	float:left;}
#popupBlindsContent .prodTitle{width:450px;}
#popupBlindsContent .prodPrice{ float:right;  margin:0;}
#popupBlindsContent .attrLbl{width:140px;float:left;display:inline-block;padding-right:10px;color:#999999;}
#popupBlindsContent .prodInfo p{	color: #333;  font-weight: bold;}
#popupBlindsContent .prodId{	margin:10px 0;}
#popupBlindsContent .estDate, #popupBlindsContent .catId, #popupBlindsContent .attrVal, #popupBlindsContent .additionalPrice{color:#333;display:inline-block;}
#popupBlindsContent .attrVal{width:280px;padding-right:10px;}
#popupBlindsContent .priceLbl{font-size:11px !important;padding-right:5px;}
#popupBlindsContent .blindsEvenRow{ background-color: #eee;}
#popupBlindsContent .prodAttr{padding: 4px 5px; overflow: hidden;}
#popupBlindsContent .additionalPrice{font-weight:bold;width:55px;text-align:right}
.blindsCustom{background: none repeat scroll 0 0 #f96302; color: #fff; cursor: default; font-weight: bold; left: 0px;  padding: 4px 9px 3px 8px; position:absolute; text-align: right; top: 10px; font-size:14px;}
#popupMultiDelete div.blindsCustom, #popupNonPartialLists div.blindsCustom{font-size: 11px;left: 10px;padding: 4px 9px 3px 8px;top: 16px;}
#popupListToCart div.blindsCustom{font-size: 11px;left: 0px;}
.my-account #dynamicitems .blindsView,#popupBlindsContent .prodImg{position:relative;}
#popupBlindsContent .prodImg{ margin: 0; min-height: 100px; padding: 0;}
#popupBlindsContent .prodInfo{margin-top:15px;}
.my-account .copyEditBtn .btn{width:120px; text-align:center}
#popupBlindsContent .grid_4 {width:115px !important;}
#popupBlindsContent .grid_4 .blindsCustom{ left: -10px;}
.blindsError .warnTxt{color: #ED1C24;float: none;font-weight: bold;line-height:13px;}
.my-account .colorSwatch,#popupBlindsContent .colorSwatch{display: block; height: 25px; left: 75px; border: 1px solid #ccc; position: absolute;top: 75px; width: 25px; z-index:200;}
.my-account .colorSwatch{left: 85px !important;}
#itemsToBeDeleted .BlindsCopyEditHide, .my-account .BlindsCopyEditHide,#itemsToBeDeleted .viewAllDetails{display:none;}
#itemsToBeDeleted .labelAttr{padding:0px 5px 0px 0px; color: #a4a4a4;font-weight: normal;display:table-cell;line-height:13px;}
#itemsToBeDeleted .attrName{display:table-row;}



#blindsCopyError .blindsError{width:167px; margin:5px 0 10px 5px;}
#blindsCopyError .warnTxt,.blindsCartError .warnTxt{padding-top: 5px;}
.blindsCartError .blindsError{margin:10px 0;}
.my-account .mldpItemSelect .blindsCopyErrAlign{padding-right:0px}
 /* Blinds Items css Ends*/
 
 /* WCS API Guest Order Details Page styles*/
 #GuestOrderDetailsContent{float:left;}
.guestOrderPageWCSAPI { margin-top:0!important;padding-left:0!important}
.guestOrderPageWCSAPI h1.page-title{font-size:21px;margin:5px 0 0 20px;}
.guestOrderPageWCSAPI h1.large{font-size:14px;color:#777;}
#GuestOrderDetailsContent .order-info-setting-tooltip {background-position: right 4355px; height: 16px;margin-top: -2px;padding-top: 0;}
#GuestOrderDetailsContent .order-tooltip.tip-Container {display: inline-block; float: none; white-space: normal;}
.guestOrderPrint{margin-right:20px;}
#GuestOrderDetailsContent .order-tooltip.tip-Container #tipClose .qtip-close-label {float: left;font-size: 12px; margin-right: 0;   padding-top: 3px !important;text-align: right;}
#GuestOrderDetailsContent #tipContent{text-align:left;font-weight:normal;}
#GuestOrderDetailsContent .order-tooltip.tip-Container #tipContent ul {list-style-type: square;padding: 10px 0 0 25px;}
#GuestOrderDetailsContent #OrderSummaryInfo{margin-top:5px;}
.guestOrderPageWCSAPI #leftCol .contactUs h3{padding:3px 0px;}
/*new Add to list from cart page CSS*/
.ellipsisForList {text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.popUpBorder {border-top: 1px solid #cccccc;margin-top: 6px !important;text-align: justify !important;}
.errorTextForCart{width:278px;}
.createNewListText{color:#000;margin:20px 0px 10px 0px;}
.checkBoxCart{float:left;width:202px!important;margin-top:5px;}
.addListContactArea{margin:10px 0px 0px}
.addListContactArea .controls{color:#000;margin-left:0px}
#createList_cartNew{margin-top:0px;}
.fontBold{font-weight:bold;color:#000}
.addAllItemsText{font-weight:normal;color:#000;font-size:14px}
.addListBtnFromCart{padding:8px 34px;opacity:1}
.listCartText{color:#777;font-size:12px;}	
.mainAddToListTitle {height: auto;border-bottom: 1px solid #ccc;color: #333333;font-family: Arial,Helvetica,sans-serif;font-size: 23px;font-weight: bold;padding-bottom: 15px!important;text-align: left;}
.toAddFromCart{display:block;padding-top:5px;}
.listMarbottom{margin-bottom:5px!important}
.dataFromCart{clear: left;height: auto;}
.item_listFromCart{color: #000;font-family: Arial,Helvetica,sans-serif;margin-top: 10px;max-height: 100px;overflow-y: auto;}
.addToListText{display:inline-block;padding-right:10px}
.guestOrderPageWCSAPI #leftCol .contactUs .icon-carrot-orange {background-position: right 52px;}
/* Add items from cart to list styles starts here*/
#popupCartToList {
  width: 516px;
}

#popupCartToList .partialPanelCart {
  border: 1px solid #ccc;
  color: #333;
  font-size: 12px;
  line-height: 15px;
   margin: 30px 0 20px;
  padding: 10px;
}

#fancybox-content #popupCartToList .altcRightButtons {
  float: right;
  margin-right: -25px;
}

#fancybox-content #popupCartToList .altcDescriptionItem {
  padding: 0 0 0 20px;
  width: 395px;
}

#fancybox-content #popupCartToList .countOverFlowTxt {
  margin: -20px 0;
  padding: 0 30px;
}
#fancybox-content #popupCartToList h2 {
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 22px;
    font-weight: bold;
    line-height: 30px;
    padding-top: 30px;
}
#popupCartToList .swatch-color{
height: 12px;    
right: 27px;
width: 12px;
}
#popupCartToList .blinds-sku-img{float:left;width: 73px;margin-left: 5px;}
	/* Add items from cart to list styles ends here*/

.myacct-privacy-setting-option{	
    float: left;    
}
.myacct-privacy-setting-option a{
	 border: 1px solid #dddddd;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    height: 164px;
    margin: 0 23px;    
    text-align: center;
    text-decoration: none;
    width: 177px;
	 cursor: pointer;
}
.myacct-privacy-setting-option a:hover{box-shadow: 0 0 0 3px #ddd inset;}
.myacct-privacy-setting-option a span{
	 border-bottom: 1px solid #ddd;
    display: block;
    font-weight: bold;
	margin: 5px 25px 10px;
	padding: 5px 5px 8px;
	
}
#addToListResponse #popupCreateNewList {padding:20px 35px !important;color:#000;}
.list-privacy-setting-button{clear:both}
#popupCreateNewList .listPrivacyHeading{font-size:24px;padding:0 0 5px 15px;}
#popupCreateNewList  .listPrivacyHeading a{color:#000;font-weight:bold;}
.myacct-privacy-setting-option a.listPrivSelected{background-color:#eee;}
#popupCreateNewList .popButton{border:0!important; margin-top:4px!important;}
#popupCreateNewList .sharedListTxtBox{display:none; margin: 14px 0 5px 92px; padding: 5px;width: 482px;}
#sharableLists .list-privacy-setting{margin: 0px 16px;}
.myacct-privacy-setting-option .radio-hidden ,#sharableLists .list-privacy-setting .sharedListTxtBox{display:none; margin: 15px 0 0px 92px;padding: 5px;width: 482px; height:28px;}
#popupCreateNewList .myacct-privacy-setting-option label{  font-size: 20px;font-weight: normal;line-height: 115%;padding-top: 10px; color:#000000; cursor: pointer;}
#popupCreateNewList .mar_top20{margin-top:0!important;}
#popupCreateNewList .newTitle, #popupCreateNewList .newTitleItem{height:30px;}
#popupCreateNewList .data{margin-top:18px;}
#popupCreateNewList .newTitle .tickIcon, #popupCreateNewList .newTitleItem .tickIcon{margin-right:10px;}


/* Style of Aisle&Bay information */ 
.myacct-listInventory{display:none; margin-top:25px;margin-left:5px;}
.myacct-listInventory .stock-bg{background: #00AE4D;padding: 3px 9px;color: #fff;border-radius: 3px;text-align: center;display: inline-block;}
.myacct-listInventory .inStock{color:#666;font-size: 13px;}
.myacct-listInventory .aisleBayDisplay{margin:5px 5px 5px 0;display:none;color: #666666;}
.myacct-listInventory a{display:inline-block;color:#666666;}
.spinner{background-image:url("../../images/spinner.GIF")/*tpa=http://www.homedepot.com/static/myaccount/images/spinner.GIF*/;width:60px;height:60px;display:inline-block;}