@font-face {
    font-family: 'aleoregular';
    src: url('aleo-regular-webfont.eot')/*tpa=http://www.murphyoilcorp.com/css/fonts/aleo/aleo-regular-webfont.eot*/;
    src: url('aleo-regular-webfont.eot-#iefix')/*tpa=http://www.murphyoilcorp.com/css/fonts/aleo/aleo-regular-webfont.eot?#iefix*/ format('embedded-opentype'),
         url('aleo-regular-webfont.woff')/*tpa=http://www.murphyoilcorp.com/css/fonts/aleo/aleo-regular-webfont.woff*/ format('woff'),
         url('aleo-regular-webfont.ttf')/*tpa=http://www.murphyoilcorp.com/css/fonts/aleo/aleo-regular-webfont.ttf*/ format('truetype'),
         url('Unknown_83_filename#aleoregular')/*tpa=http://www.murphyoilcorp.com/css/fonts/aleo/aleo-regular-webfont.svg#aleoregular*/ format('svg');
    font-weight: normal;
    font-style: normal;

}