/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box;}
/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#fff;}
#colorbox{}
    #cboxTopLeft{width:25px; height:25px; background:url(../img/global_nav/border1.png)/*tpa=http://www.amgen.com/img/global_nav/border1.png*/ no-repeat 0 0;}
    #cboxTopCenter{height:25px; background:url(../img/global_nav/border1.png)/*tpa=http://www.amgen.com/img/global_nav/border1.png*/ repeat-x 0 -50px;}
    #cboxTopRight{width:25px; height:25px; background:url(../img/global_nav/border1.png)/*tpa=http://www.amgen.com/img/global_nav/border1.png*/ no-repeat -25px 0;}
    #cboxBottomLeft{width:25px; height:25px; background:url(../img/global_nav/border1.png)/*tpa=http://www.amgen.com/img/global_nav/border1.png*/ no-repeat 0 -25px;}
    #cboxBottomCenter{height:25px; background:url(../img/global_nav/border1.png)/*tpa=http://www.amgen.com/img/global_nav/border1.png*/ repeat-x 0 -75px;}
    #cboxBottomRight{width:25px; height:25px; background:url(../img/global_nav/border1.png)/*tpa=http://www.amgen.com/img/global_nav/border1.png*/ no-repeat -25px -25px;}
    #cboxMiddleLeft{width:25px; background:url(../img/global_nav/border2.png)/*tpa=http://www.amgen.com/img/global_nav/border2.png*/ repeat-y 0 0;}
    #cboxMiddleRight{width:25px; background:url(../img/global_nav/border2.png)/*tpa=http://www.amgen.com/img/global_nav/border2.png*/ repeat-y -25px 0;}
    #cboxContent{background:#fff; overflow:hidden;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:20px;}
        #cboxTitle{position:absolute; bottom:0px; left:0; text-align:center; width:100%; color:#999;}
        #cboxCurrent{position:absolute; bottom:0px; left:100px; color:#999;}
        #cboxSlideshow{position:absolute; bottom:0px; right:42px; color:#444;}
        #cboxPrevious{position:absolute; bottom:0px; left:0; color:#444;}
        #cboxNext{position:absolute; bottom:0px; left:63px; color:#444;}
        #cboxLoadingOverlay{background:#fff url(../img/global_nav/loading.gif)/*tpa=http://www.amgen.com/img/global_nav/loading.gif*/ no-repeat 5px 5px;}
        #cboxClose{background: url("../img/global_nav/controls.png")/*tpa=http://www.amgen.com/img/global_nav/controls.png*/ no-repeat scroll -25px 0 transparent;
color: #444444;
display: block;
height: 25px;
position: absolute;
right: 0;
top: 0;
width: 25px;}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}
/*
  The following provides PNG transparency support for IE6
  Feel free to remove this and the /ie6/ directory if you have dropped IE6 support.
*/
.cboxIE6 #cboxTopLeft{background:url(../img/global_nav/borderTopLeft.png)/*tpa=http://www.amgen.com/img/global_nav/borderTopLeft.png*/;}
.cboxIE6 #cboxTopCenter{background:url(../img/global_nav/borderTopCenter.png)/*tpa=http://www.amgen.com/img/global_nav/borderTopCenter.png*/;}
.cboxIE6 #cboxTopRight{background:url(../img/global_nav/borderTopRight.png)/*tpa=http://www.amgen.com/img/global_nav/borderTopRight.png*/;}
.cboxIE6 #cboxBottomLeft{background:url(../img/global_nav/borderBottomLeft.png)/*tpa=http://www.amgen.com/img/global_nav/borderBottomLeft.png*/;}
.cboxIE6 #cboxBottomCenter{background:url(../img/global_nav/borderBottomCenter.png)/*tpa=http://www.amgen.com/img/global_nav/borderBottomCenter.png*/;}
.cboxIE6 #cboxBottomRight{background:url(../img/global_nav/borderBottomRight.png)/*tpa=http://www.amgen.com/img/global_nav/borderBottomRight.png*/;}
.cboxIE6 #cboxMiddleLeft{background:url(../img/global_nav/borderMiddleLeft.png)/*tpa=http://www.amgen.com/img/global_nav/borderMiddleLeft.png*/;}
.cboxIE6 #cboxMiddleRight{background:url(../img/global_nav/borderMiddleRight.png)/*tpa=http://www.amgen.com/img/global_nav/borderMiddleRight.png*/;}
.cboxIE6 #cboxTopLeft,
.cboxIE6 #cboxTopCenter,
.cboxIE6 #cboxTopRight,
.cboxIE6 #cboxBottomLeft,
.cboxIE6 #cboxBottomCenter,
.cboxIE6 #cboxBottomRight,
.cboxIE6 #cboxMiddleLeft,
.cboxIE6 #cboxMiddleRight {
    _behavior: expression(this.src = this.src ? this.src : this.currentStyle.backgroundImage.split('"')[1], this.style.background = "none", this.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=" + this.src + ", sizingMethod='scale')");
}