@charset "UTF-8";
/* CSS Document */
<!--


font { padding-bottom: 10px; font-size: 17px; }

.no-bold {
    font-weight: normal;
}

#featured0Headline img {
    width: 341px;
    height: auto;
}

-->