/**
 * @description : Attachment Compatibility | All the css associated with the ACM
 * @author Mohit Gahlot | SapientNitro
 * @email mgahlot@sapient.com
 */ 
.breadcrumb .MOD_NO_8{margin:0 0 0 18px;}
.breadcrumb .MOD_GC_1a{padding:8px 0 10px;}
.attachment_compatibility { border: 1px solid #C5C5C5; border-width:0px 1px 1px 1px; margin:0 0 24px 0px;overflow: hidden;width: 942px;font:12px 'Calibri', Helvetica, Arial, san-serif;}
.attachment_compatibility .wizard_bar{border:1px solid #c5c5c5;border-width:1px 0px;  border-bottom:none; padding:1px; background: #ffffff;}
.attachment_compatibility .wizard_bar_content {background: url("../img/ps/top-bar.gif")/*tpa=http://www.deere.com/common/deere-resources/img/ps/top-bar.gif*/ repeat-x 0 0; height:36px;padding:0px 13px 0px 18px;clear:both;}
.attachment_compatibility .acm_content_wrapper {padding:18px;}
.attachment_compatibility .wizard_bar .nav_list {width:400px; float:right; padding:10px 0;text-align:right;}
.attachment_compatibility .wizard_bar .nav_list li  {display:inline;color:#367C3B;font-size:13px;}
.attachment_compatibility .wizard_bar .nav_list li  {border-left:1px solid #999;padding:0 5px;}
.attachment_compatibility .wizard_bar .nav_list li:first-child {border-left:none;padding-left:0;}
.attachment_compatibility .wizard_bar .nav_list li a { color:#367C3B;font-size:13px;}
.attachment_compatibility a:hover {text-decoration:underline;}
.attachment_compatibility .acm_content_wrapper .acm_sidebar {width:200px;margin-right:24px;float:left;}
.attachment_compatibility .acm_content_wrapper .acm_content {width:682px;float:left;font:13px/normal "Calibri", Helvetica, Arial, sans-serif; }
.attachment_compatibility .acm_sidebar .box {background:#F1F1F1; border:1px solid #DADADA; clear:both; overflow:hidden; margin-bottom:18px;}
.attachment_compatibility .acm_sidebar .box.last {margin-bottom:0;}
.attachment_compatibility .acm_sidebar .box .primary_subhead {background:#FFDE00;text-transform: uppercase;padding:5px 10px;}
.attachment_compatibility .acm_sidebar .box_content {padding:10px 10px 18px 10px;}
.attachment_compatibility .acm_sidebar .box_content .submit_btn {float:none;}
.attachment_compatibility .acm_sidebar .box_content .col_1, .qtip-content .box .col_1 {margin-bottom:18px;}
.attachment_compatibility .acm_sidebar .box_content .col_1 label , .qtip-content .box .col_1 label{display:block;font:bold 12px/15px Calibri, Helvetica, Arial, sans-serif; color:#6D6D6D;margin-bottom:5px;}
.attachment_compatibility .acm_sidebar .box_content .col_1  select , .qtip-content .box .col_1 select{font:12px/15px "Calibri", Helvetica, Arial, sans-serif; color:#6D6D6D;height:auto;padding:3px;}
.attachment_compatibility .acm_sidebar .box_content .col_1 div.selector{width:auto;}
.attachment_compatibility .acm_sidebar .box_content .col_1 div.selector span {width:140px;}
.attachment_compatibility .acm_sidebar .box_content .col_1.last, .qtip-content .box .col_1.last {margin-bottom:0;}
.attachment_compatibility .acm_sidebar .box_content ul.frmAcmtype li {display:block; margin-bottom:5px;font:12px/20px "Calibri", Helvetica, Arial, sans-serif; color:#6D6D6D; overflow:hidden;}
.attachment_compatibility .acm_sidebar .box_content ul.frmAcmtype li input {vertical-align:middle;}
.attachment_compatibility .acm_sidebar .box_content ul.frmAcmtype li .left {float:left;width:45%;font-family:Calibri, Helvetica, Arial, sans-serif; font-weight:bold;}
.attachment_compatibility .acm_sidebar .box_content ul.frmAcmtype li .right {float:right;width:45%;text-align:right;}
.attachment_compatibility .acm_content .list_view_block {	border-bottom:1px dotted #DADADA;padding:0px 18px 18px 18px;margin-bottom:18px;}
.attachment_compatibility .acm_content .list_view_block.last {border-bottom:none;padding-bottom:0px;margin-bottom:0px;}
.attachment_compatibility .acm_content .list_view_block ul li {line-height:14px; margin-bottom:12px;}
.attachment_compatibility .acm_content .list_view_block ul.listCol1 {float:left;width:30%;margin-right:5%;}
.attachment_compatibility .acm_content .list_view_block ul.listCol2 {float:left;width:30%;margin-right:5%;}
.attachment_compatibility .acm_content .list_view_block ul.listCol3 {float:left;width:30%;}
.attachment_compatibility .acm_content .list_view_block ul li a:hover {text-decoration:underline;}
.attachment_compatibility .acm_content .list_view_block .primary_subhead {margin-bottom:12px;}
.attachment_compatibility .MOD_FO_21 .image_slider {background-color:#f1f1f1;margin-bottom:10px;}
.attachment_compatibility .MOD_FO_21 .image_slider .primary_subhead {background:#FFDE00;text-transform: uppercase;padding:5px 10px;}
.attachment_compatibility .MOD_FO_21 .image_slider .primary_subhead .sub_title {float:left;width:55%;}
.attachment_compatibility .MOD_FO_21 .image_slider .primary_subhead .right {float:right;width:40%;text-align:right;}
.attachment_compatibility .MOD_FO_21  {background:#F1F1F1; clear:both; overflow:hidden; margin-bottom:18px;}
.attachment_compatibility .compare_view_content .category_content  .primary_subhead{background: #DADADA;clear: both;margin:6px 0;padding: 0;text-transform: uppercase;width:680px;font:bold 13px/24px Calibri, Helvetica, Arial, sans-serif; }
.attachment_compatibility .compare_view_content .category_content  .primary_subhead:first-child {
	margin-top:0;
}
.attachment_compatibility .compare_view_content .category_content .primary_subhead a {line-height:24px;text-decoration:none;width:680px;}
.attachment_compatibility .compare_view_content div.MOD_FO_6panel {border:none; margin: 0 10px 5px; padding: 0 0 6px; width: 656px; background:none;}
.compare_view_content table.compatibility_filter  {width:100%;}
.compare_view_content table.compatibility_filter td {
	background:#fff;border:1px solid #f1f1f1;padding:8px; text-align:center; vertical-align:middle;
	width:22% !important;
}
.compare_view_content table.compatibility_filter tr.odd td{background-color:transparent;}
.compare_view_content table.compatibility_filter td img {margin:0;}
.compare_view_content table.compatibility_filter a {text-decoration:none;font:normal 13px/normal Calibri, Helvetica, Arial, sans-serif;}
.compare_view_content table.compatibility_filter a:hover{text-decoration:underline;}
.compare_view_content table.compatibility_filter td.col_1 {	text-align:left; vertical-align:top; width:31.5% !important;border-right-width:4px;}
.attachment_compatibility .MOD_FO_21 .image_slider .sliding_image_left {float:left;width:180px;padding:13px;}
.attachment_compatibility .MOD_FO_21 .image_slider .sliding_image_left ul.hide_models_list {
	margin:18px 0 0 0;
	border:none;
	height:auto;
	display:none;
}
.attachment_compatibility .MOD_FO_21 .image_slider .sliding_image_left ul.hide_models_list li {
	display:block;float:left;width:100%;margin-bottom:5px;line-height:19px;}
.attachment_compatibility .MOD_FO_21 .image_slider .sliding_image_left ul.hide_models_list li input {
	vertical-align:middle;
}
.attachment_compatibility .MOD_FO_21 .image_slider .MatrixTable {
	margin:0; float:right;width:472px; height:160px;
}
.attachment_compatibility .MOD_FO_21 .image_slider .MatrixTable  .relative {
	padding-top:20px;
}
.attachment_compatibility .MOD_FO_21 .image_slider .MatrixTable  .tablediv2 table th {height:157px !important;}
.attachment_compatibility .MatrixTable .tablepag {top:0;}
.attachment_compatibility .MatrixTable .tablepag a.next_column {background:url(../img/media-gallery-nav-rht.gif)/*tpa=http://www.deere.com/common/deere-resources/img/media-gallery-nav-rht.gif*/ no-repeat 0 0 !important;width:19px !important; height:50px !important; top:55px;}
.attachment_compatibility .MatrixTable .tablepag a.prev_column  {background:url(../img/media-gallery-nav-left.gif)/*tpa=http://www.deere.com/common/deere-resources/img/media-gallery-nav-left.gif*/ no-repeat 0 0 !important;width:19px !important; height:50px !important;left:0px !important; top:55px;}
.attachment_compatibility .MOD_FO_21 table th .close_Container {top:5px;}
.attachment_compatibility .MatrixTable .tablediv2 {left:17px !important;background:#DADADA;}
.qtip-content {background:#F1F1F1; border:2px solid #FFDE00;}
.qtip-content .box {width:245px;}
.qtip-content .box .primary_subhead, .qtip-content .box .box_content .col_1 {margin-bottom:14px;}
.qtip-content .box .col_1 label {display:none;}
.qtip-content .box .col_1 div.selector {width:auto;}
.qtip-content .box .col_1 div.selector span {width:200px;}
.qtip-content  .box .grey_btn {float:none;}

/* overwrite layout css */
#jdcomp-en-us-row-2 {margin:0 !important; background:none; }
/* overwrite style css */
.MatrixTable .tablediv2 table{position:relative;}
.MatrixTable{overflow:visible;}
.MatrixTable .tablediv2{height:160px;}
.hidden{display:none !important;}
.frmAcmtype label { float: left; width: 130px;}
.tablepag span{width:400px;}
#acmCompareView{text-transform:capitalize;}
.grey_btn_disabled{ background:url(../img/grey_btn.gif)/*tpa=http://www.deere.com/common/deere-resources/img/grey_btn.gif*/ left -56px no-repeat;}
.grey_btn_disabled input{cursor:default;color: #B6B6B6;}

.grey_btn_disabled, .grey_btn_disabled { background:url(../img/grey_btn.gif)/*tpa=http://www.deere.com/common/deere-resources/img/grey_btn.gif*/ left -56px no-repeat;}
.grey_btn_disabled:hover span, .grey_btn_disabled:hover input, .grey_btn_disabled:focus span { background:url(../img/grey_btn.gif)/*tpa=http://www.deere.com/common/deere-resources/img/grey_btn.gif*/ 100% -84px no-repeat;}
.grey_btn_disabled input , .grey_btn_disabled input:focus { background:url(../img/grey_btn.gif)/*tpa=http://www.deere.com/common/deere-resources/img/grey_btn.gif*/ 100% -84px no-repeat;}
.box.last .box_content{height:220px; overflow:auto;}
.MOD_FO_21 table th div.relative{font-size:13px;}
.MOD_FO_21 table th, .MOD_FO_21 table td{border-left:2px solid transparent;}
.ie7 .attachment_compatibility .acm_sidebar .box_content ul.frmAcmtype li label{float:none; display:inline-block;}
.ie7 .attachment_compatibility .acm_sidebar .box_content ul.frmAcmtype li input{vertical-align:top;}
.ie7 select { width: 90% }

.link_disabled:hover, .link_disabled{color: #B6B6B6 !important;cursor: text;outline: medium none; text-decoration:none !important;}

#frmAcmChooseEquipment1 div.selector select{width:235px;}
#frmAcmChooseEquipment div.selector select{width:175px;}
