/***********************************************/
/* SYTLESHEET FOR LAYOUTS */
/***********************************************/

/*****Global Styles****/
#nest-col-1	{ margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0; }
.ls-cmp-wrap{ padding:0 !important/*(K) to resolve artf1175835*/; }

/*.ls-canvas .ls-cmp-wrap{ padding:0 !important(K) to resolve artf1175835; }*/
.ls-canvas .iw_component 		{ margin:0px!important; }
.seperator						{ margin:0 0 18px 0; }
#ls-gen4-ls-area-body, 
#ls-gen3-ls-fxr					{ width:auto; }
#ls-canvas 						{ width: 994px !important; }
#jdheader-row-1, #jdcomp-en-us-main-row-1	{ padding: 0 2px 0 2px; background:url('../img/bg_wrap.gif')/*tpa=http://www.deere.com/common/deere-resources/img/bg_wrap.gif*/ repeat-y #fff; }
#jddisclaimer-row-1 .MOD_GC_7 	{ margin-left:0px!important; margin-top: 8px; }

#jdfooter-row-1 				{ margin-bottom:10px; }

#jdfhfl-en-us-main-row-1,
#jdcf-en-us-row-1, 
#jd404l-en-us-main-row-1,
#jdofl-en-us-row-1,
#jdhpfl-en-us-main-row-1,
#jdnpwlfhfl-en-us-main-row-1,
#jdnpfhfl-en-us-main-row-1,
#jdofwfcl-en-us-row-1,
#jdocnhl-en-us-row-1,
#jdtcfl-en-us-main-row-1,
#jdparts-en-us-row-1,
#jdtcsbl-en-us-row-1,
#jdtcw23-en-us-row-2,
#jd23Hero-en-us-row-1, 
#jdcomp-en-us-main-row-2,
#jdsign-main-row-1,
#my-jd-main-row-1, #jdtcwl-en-us-main-row-1, #jdtcwol-en-us-main-row-1 { padding-left:2px; padding-right:2px; width:990px; background:url('../img/bg_wrap.gif')/*tpa=http://www.deere.com/common/deere-resources/img/bg_wrap.gif*/ repeat-y #fff; border-bottom:1px solid #ccc;position:relative; }
/*****Global Styles****/

/******* Regional Homepage ********/
#jdhpfl-en-us-row-2		{ margin-bottom:24px; }
#jdhpfl-en-us-row-3		{ padding-bottom:6px; }
#jdhpfl-en-us-row-3 #ls-gen3-ls-fxr	{ width:990px !important; }
#jdhpfl-en-us-row-3-area-1			{ margin:0px 0 0 24px;padding-right:18px;border-right:1px solid #E0E0E0; width:684px; float:left; }
#jdhpfl-en-us-row-3-area-2 			{ margin-top:-6px ;padding-left:18px; float:left; }
/******* Regional Homepage ********/

/******* Product Page ********/
#jdfhfl-en-us-row-2					{ margin-bottom:45px; }
#jdfhfl-en-us-row-3 #nest-col-1		{ padding-bottom:6px; }
#jdfhfl-en-us-row-3-area-1 			{ border-right: 0 solid #E3E4E5; margin:-6px 0 0 !important; padding: 0px 24px 0 18px !important /*(K) artf1179133*/; border-right:0px solid #E3E4E5; float:left; }
#jdfhfl-en-us-row-1 .ls-cmp-wrap	{ padding:0px 0px 1px 0px!important; }
#jdfhfl-en-us-row-2 #ls-gen3-ls-fxr { margin:0px auto !important; }
#jdfhfl-en-us-row-3 #ls-gen5-ls-fxr	{ width:990px !important; }
#jdfhfl-en-us-row-3 #nest-col-1 	{ width:704px!important; padding-left:24px; float:left; }
#jdfhfl-en-us-row-3-area-1 			{ width:220px!important; overflow:hidden; }
#jdfhfl-en-us-row-2-area-1			{ width:auto; }
#jdfhfl-en-us-row-3-area-1 .ls-cmp-wrap	{ padding:1px 0px!important; }
#jdfhfl-en-us-row-3-area-1 .iw_component{ margin: -1px 0!important; }
#jdfhfl-en-us-row-3 #ls-gen9-ls-fxr 	{ width: 990px; }
#jdfhfl-en-us-main-col-1{ background:url(../img/layout_gray_bg.jpg)/*tpa=http://www.deere.com/common/deere-resources/img/layout_gray_bg.jpg*/ repeat-x top left; } /*(K) Product page Grey BG*/
/******* Product Page ********/

/******* History and time line ********/
#jdtcw23-en-us-col-1-row-1			{ margin-bottom:24px;margin-top:0px; }
#jdtcw23-en-us-row-2				{ margin-top:0px;margin-bottom:0px;padding-bottom:6px; }
#jdtcw23-en-us-col-1-row-2-area-2	{ margin-top:-6px; float:left; width:220px; }/*(VK)artf1179143*/
#jdtcw23-en-us-row-2-area-1			{ width:186px !important; min-height:150px; float:left; }/*(VK)artf1179143*/
#jdtcw23-en-us-row-1-area-1			{ width:804px !important; }
#jdtcw23-en-us-col-2-row-1			{ padding-left:18px; }
#nest-col23-1						{ width:802px !important; border-left:1px solid #E3E4E5; overflow:hidden; float:left; }/*(VK)artf1179143*/
#nest-col23-1 #ls-gen3-ls-col-body 	{ width:804px !important; }
#nest-col23-1 #ls-gen10-ls-fxr		{ width:804px !important} 
#nest-col23-1 #ls-gen12-ls-fxr		{ width:804px !important} 
#jdtcw23-en-us-col-3-row-1			{ border-right:1px solid #E3E4E5; width:540px!important; overflow:hidden; }	
.ls-fxr_space #nest-col23-3			{ width:540px!important; }
#nest-col23-3						{ margin-right:18px; float:left; overflow:hidden; }/*(VK)artf1179143*/
#jdtcw23-en-us-col-3-row-1-area-1 	{ padding-left: 18px;padding-right: 18px; width: 504px!important; overflow:hidden; }/*(VK)artf1179143*/
/*Start, fix for  artf1166487,AJ*/

/*(K) Artifact artf1184946 : Generic Content Page| Text is getting cropped in the teamsite preview.*/
#ls-gen13-ls-col-body #jdtcw23-en-us-col-3-row-1 #ls-gen14-ls-fxr #jdtcw23-en-us-col-3-row-1-area-1 { _width:auto !important; _overflow:visible;}
#ls-gen13-ls-col-body #jdtcw23-en-us-col-3-row-1 #ls-gen14-ls-fxr #jdtcw23-en-us-col-3-row-1-area-1 .MOD_GC_3 { _width:467px;}
/*(K) Artifact artf1184946 : Generic Content Page| Text is getting cropped in the teamsite preview.*/

#nest-col23-3 #ls-gen11-ls-col-body { width:540px; }
#jdtcw23-en-us-col-3-row-1 #ls-gen12-ls-fxr{ width:540px }
/*End, fix for  artf1166487,AJ*/
/******* History and time line ********/

/******* Two-Third Hero Layout start ********/
#jd23Hero-en-us-col-2-row-1 		{ margin-bottom:24px!important; }
#jd23Hero-en-us-row-1				{ width:990px; padding-bottom:6px; }
#jd23Hero-en-us-col-2-row-1-area-1,
#jd23Hero-en-us-col-2-row-2-area-1,
#jd23Hero-en-us-col-3-row-1-area-1 	{ width:auto; }
#jd23Hero-en-us-col-2-row-2 #ls-gen10-ls-fxr,
#jd23Hero-en-us-col-2-row-1 #ls-gen8-ls-fxr { width:784px !important} 
#ls-row-1-col-2-row-3 #ls-gen12-ls-fxr{ width:804px; }
#ls-gen1-ls-fxr #nest-col23Hero-1 	{ overflow:hidden; width:782px}
#jd23Hero-en-us-col-2-row-1-area-1	{ padding-left:18px; }
#jd23Hero-en-us-col-2-row-2-area-1	{ padding-left:18px; }
#jd23Hero-en-us-col-3-row-1-area-1	{ padding:18px 18px 0px 18px; border-right:1px solid #E3E4E5; }
#jd23Hero-en-us-col-1-row-3-area-1	{ padding:18px 24px 0 18px; }
#jd23Hero-en-us-row-1-area-1		{ border-right:0px solid #E3E4E5; width:185px; float:left; min-height:150px;/*(VK)artf1169477*/}
#nest-col23Hero-1					{ border-left:1px solid #E3E4E5; float:left; overflow:hidden!important; width:802px!important;/*(VK)artf1175766*/ }
.quirk-mode #nest-col23Hero-1 {overflow:visible!important;}
#jd23Hero-en-us-col-2-row-1 #ls-gen8-ls-fxr, #nest-col23Hero-2 { width:782px!important; }
#jd23Hero-en-us-col23Hero-1-row-1-area-1		{ width:804px!important; }
#jd23Hero-en-us-col-2-row-2 #ls-gen10-ls-fxr 	{ width:782px!important; }
#jd23Hero-en-us-row-1 #ls-gen1-ls-fxr 			{ padding:0px; }
/******* Two-Third Hero Layout end ********/

/******* Reman styles start ********/
#jdtcsbl-en-us-row-1-area-1			{ float:left; width:185px; }/*(VK)artf1179143*/
#jdtcsbl-en-us-row-1				{ padding-bottom:6px; }
#jdtcsbl-en-us-coltcsbl-1-row-2		{ margin-bottom:24px;margin-top:0px; }
#jdtcsbl-en-us-col-1-row-3-area-1	{ margin-top:-6px; }
#nest-coltcsbl-3 					{ padding: 0 18px; border-right:1px solid #E3E4E5; width:504px; float:left; }/*(VK)artf1179143*/
#jdtcsbl-en-us-col-2-row-1-area-1	{ padding-left:18px;}
#jdtcsbl-en-us-col-1-row-3-area-1	{ padding-left:18px; float:left; width:220px; }/*(VK)artf1179143*/
#jdtcsbl-en-us-coltcsbl-1-row-2 #ls-gen6-ls-fxr, #nest-coltcsbl-2{ width:782px !important}
#jdtcsbl-en-us-row-1 .ls-col-body	{ overflow:hidden!important; }/* DD artf1179418 #jdtcsbl-en-us-row-1 .ls-col*/
#jdtcsbl-en-us-row-1 #ls-row-1-col-2-row-3 #ls-gen10-ls-fxr { width:804px!important; }
#jdtcsbl-en-us-col-3-row-1-area-1 	{ padding-left:18px; }
#nest-coltcsbl-4 					{ padding-bottom:0px!important; }
#jdtcsbl-en-us-col-3-row-2 			{ border-top:1px solid #E3E4E5; padding-top:18px;/*DD : As discussed with Parul for spacing with horizontal line*/ }
#jdtcsbl-en-us-col-1-row-3-area-1 .iw_component{ margin: -1px 0!important; }
#nest-coltcsbl-1 #ls-gen12-ls-fxr 	{ width:804px!important; }
#nest-coltcsbl-1 					{ width:800px; overflow:hidden; float:left; border-left:1px solid #E3E4E5; }/*(VK)artf1179143*/
#jdtcsbl-en-us-col-3-row-1 #ls-gen14-ls-fxr{ width:504px!important; }
/******* Reman styles end ********/

/****Industy Page layout changes****/
#jdtcfl-en-us-row-2			{ margin:0 auto; width:942px; margin-bottom:24px; }
#jdtcfl-en-us-row-3			{ padding-bottom:6px; }
#jdtcfl-en-us-row-3-area-1 	{ display: inline; float: left; width: 186px; overflow:hidden!important; }
#jdtcfl-en-us-row-3-area-2 	{ border-left: 1px solid #E3E4E5 !important; width:504px!important; border-right: 1px solid #E3E4E5 !important;margin: 0 0 0px 0;overflow:hidden; padding:0px 18px 0 !important; }
#jdtcfl-en-us-row-3-area-3 	{ margin: -6px 0 0;padding: 0 0 0 18px; }
#jdtcfl-en-us-row-3 #ls-gen5-ls-fxr { width:990px !important; }
#jdtcfl-en-us-row-2 #ls-gen3-ls-fxr { margin:0px auto !important; }
#jdtcfl-en-us-row-2 #ls-gen3-ls-fxr #jdtcfl-en-us-row-2-area-1 { margin:0px auto}/*(K)artf1165356*/ 
#jdtcfl-en-us-row-3-area-3 .iw_component{ margin: -1px 0!important; }
#jdtcfl-en-us-row-3-area-2 #ls-gen7-ls-area-body .ls-cmp-wrap .iw_component { margin:0px; }
#jdtcfl-en-us-row-3-area-2 #ls-gen7-ls-area-body { width:504px!important; }
#jdtcfl-en-us-row-3 #ls-gen9-ls-fxr { width:990px!important; }
/****Industy Page layout changes****/

/****** Product Series/Non-Product Full Hero layout *****/
#jdnpfhfl-en-us-row-3 #ls-gen5-ls-fxr { width:990px !important; }
#jdnpfhfl-en-us-row-3 #ls-gen9-ls-fxr { width:990px !important; } /*(VK) artf1173783*/
#jdnpfhfl-en-us-row-2-area-1		{ margin: 0 auto; }
#jdnpfhfl-en-us-row-3 .ls-canvas .ls-area .ls-1st { overflow:hidden; } /*(VK) artf1167621*/
#nest-colnp-1 					{  height:auto;  margin:0px;  padding:0px 18px 0px 24px; width:702px; float:left; }
#jdnpfhfl-en-us-row-3-area-1 	{ padding:0 20px 0 0px;  margin: -6px 0px 0px 0px; float:left; }
#jdnpfhfl-en-us-row-3 			{ margin-bottom:6px; }
#jdnpfhfl-en-us-row-2 { margin: 0 auto; margin-bottom:24px!important; width:942px; }
#jdcomp-en-us-row-2 { margin: 0 auto; margin-bottom:24px!important; width:942px; display:table; background:url(../img/left-col-border.gif)/*tpa=http://www.deere.com/common/deere-resources/img/left-col-border.gif*/ repeat-y left top; }
#jdcomp-en-us-main-col-2 { margin:0 auto; }
/****** Product Series/Non-Product Full Hero layout *****/

/****** Category/Non-Product Full Hero with Line Layout *****/
#jdnpwlfhfl-en-us-row-3 #ls-gen5-ls-fxr { width:990px !important; }
#jdnpwlfhfl-en-us-row-3 #ls-gen9-ls-fxr { width:990px !important; }
#jdnpwlfhfl-en-us-row-2-area-1			{ margin: 0 auto; }
#jdnpwlfhfl-en-us-col-2-row-1-area-1 	{ width:666px!important; }
#jdnpwlfhfl-en-us-row-3 .ls-canvas .ls-area .ls-1st { overflow:hidden; } /*(VK) artf1167621*/
#jdnpwlfhfl-en-us-row-2					{ margin: 0 auto; margin-bottom:24px!important; width:942px; }
#nest-colnpwl-1							{ height:auto !important; width:666px; float:left; margin-right:18px; padding:0 18px 0 42px!important;/*(VK)artf1179143*/  border-right:1px solid #E3E4E5 !important; }
#jdnpwlfhfl-en-us-row-3-area-1 {  padding:0px !important; float:left; width:222px; overflow:hidden; }
#jdnpwlfhfl-en-us-row-3-area-1 #ls-gen13-ls-area-body{  margin:-6px 0px 0px 0 !important; }/*(VK)artf1169243*/
#jdnpwlfhfl-en-us-row-3 				{ padding-bottom:6px; position:relative; overflow:hidden; }/*(VK)artf1179143*/
/****** Category/Non-Product Full Hero with Line Layout *****/

/***** Generic content & assets / O-Frame styles *****/
#jdofl-en-us-col-1-row-3-area-1 		{ padding:0 0px 0 18px; }
#jdofl-en-us-row-1 #ls-gen10-ls-fxr, #jdofl-en-us-row-1 #jdofl-en-us-col-3-row-1-area-1 { width:504px!important; } /*DD TS Upgrade*/
#nest-colofl-1 #ls-gen3-ls-col-body 	{ width:804px; }/*DD TS Upgrade ID not being used now*/
#nest-colofl-1 #ls-gen6-ls-fxr, #nest-colofl-1 #jdofl-en-us-col-1-row-1 { width:804px !important}/*DD TS Upgrade*/
#nest-colofl-2 							{ border-left:0px solid #E3E4E5; padding:0 0 18px 18px; }
#jdofl-en-us-row-1 #ls-row-1-col-2-row-3{ border-left:0px solid #E3E4E5; margin:20px 0; }
#nest-colofl-3 							{ padding: 0 18px; border-right:1px solid #E3E4E5; /*overflow:hidden; DD artf1183317*/ float:left; width:504px; /*(VK)artf1179143*//*(VK)artf1179419*/ }
* html #nest-colofl-3 					{ width:504px!important; }/*(VK)artf1179898*/
#jdofl-en-us-row-1 .tab .tabContent 	{ width:468px!important; }
/*#jdofl-en-us-col-3-row-1 #ls-gen10-ls-fxr #jdofl-en-us-col-3-row-1-area-1 #ls-gen11-ls-area-body .tab .tabContent { _width:500px!important;(K) to rollback as per artf1185660}*/
#jdofl-en-us-row-1 #nest-colofl-1 		{ border-left:1px solid #E3E4E5; float:left; width:802px/*(VK)artf1175841*/; overflow:hidden!important; }
#jdofl-en-us-row-1						{ padding-bottom:6px; }
#jdofl-en-us-col-1-row-3-area-1 		{ margin-top:-6px; width:220px; float:left; }
#nest-colofl-1 #ls-gen3-ls-col-body #ls-gen6-ls-fxr{ width:804px !important}
#nest-colofl-1 #ls-gen8-ls-fxr, #nest-colofl-1 #ls-row-2-col-2-row-2 { width:804px; }/*DD TS Upgrade*/
#nest-colofl-1 #ls-gen5-ls-col-body 	{width:804px !important; }/*DD TS Upgrade*/
#nest-colofl-1 #jdofl-en-us-col-1-row-1, #nest-colofl-1 #ls-row-2-col-2-row-2{width:804px !important; }/*DD TS Upgrade*/
#jdofl-en-us-row-1-area-1 				{ float:left; width:185px; }
/***** Generic content & assets / O-Frame styles *****/

/***** O-Frame without featured content styles *****/
#jdofwfcl-en-us-col-3-row-1-area-1, #jdofwfcl-en-us-col-3-row-2 { padding:0 0 0 18px; }
#ls-gen12-ls-fxr #jdofwfcl-en-us-col-3-row-1-area-1, #jdofwfcl-en-us-col-3-row-2 { padding:0px; }
#jdofwfcl-en-us-col-1-row-3-area-1 								{ padding:0 24px 0 18px; }
#jdofwfcl-en-us-row-1 #ls-gen10-ls-fxr 							{ width:804px!important; }
#nest-colofwfcl-1, #nest-colofwfcl-1 #ls-gen3-ls-col-body 		{ width:804px!important; }
#nest-colofwfcl-2 							{ padding:0 0 24px/*(K)artf1162891*/ 17px;/*(VK) artf1166343*/ }
#nest-colofwfcl-3 							{ padding: 0 18px; border-right:1px solid #E3E4E5; width:504px; }/*padding(VK) artf1162891*/
#nest-colofwfcl-3 #ls-gen11-ls-col-body 	{ width:504px!important; }
#jdofwfcl-en-us-row-1 #ls-gen1-ls-fxr, #ls-gen1-ls-fxr	{ width:990px !important}
#ls-gen4-ls-fxr, jdofwfcl-en-us-colofwfcl-1-row-1-area-1{ width:804px; }
#nest-colofwfcl-1 							{ border-left:1px solid #E3E4E5; }/*(VK) artf1162891*/
#jdofwfcl-en-us-colofwfcl-1-row-1-area-1	{ width:804px !important}
#jdofwfcl-en-us-col-3-row-1 #ls-row-1-col-2-row-3 #ls-gen12-ls-fxr{ width:504px!important; }
#jdofwfcl-en-us-col-3-row-1-area-1 			{ width:504px!important; }
#jdofwfcl-en-us-row-1 #ls-gen1-ls-fxr .ls-col{ padding-bottom:4px; }/*(K)artf1162891*/ 
/***** O-Frame without featured content styles *****/

/***** Sitemap/404 layout styles start *****/
#nest-col404l-1 			{ margin:0 0px 0 24px; }
#jd404l-en-us-row-2-area-2 	{ padding:0 24px 0 18px; }
#jd404l-en-us-row-2 		{ min-height:300px; }
#jd404l-en-us-row-2 		{ padding-bottom:6px; }
#jd404l-en-us-row-2-area-2 	{ margin-top:-6px; }
/***** Sitemap/404 layout changes *****/

/***** Our Company/Parts Page layout *****/
#jdparts-en-us-row-1 #ls-gen1-ls-fxr{ width:990px; }
#jdparts-en-us-col-2-row-1-area-1	{ width:auto; }
#jdparts-en-us-col-2-row-2-area-1	{ width:auto; }
#jdparts-en-us-col-3-row-1-area-1 	{ width:504px; }
#jdparts-en-us-col-2-row-2 #ls-gen12-ls-fxr{ width:780px; }
#nest-colparts-2, #jdparts-en-us-col-2-row-2 {width:780px;}/*DD TS Upgrade*/
#jdparts-en-us-col-2-row-1-area-1	{ padding-left:18px; }
#jdparts-en-us-col-2-row-2-area-1	{ padding-left:18px; }
#jdparts-en-us-col-3-row-1-area-1	{ padding:0px 18px 0px 18px; /*border-right:1px solid #E3E4E5; (K) artf1165062 */}
/*#jdparts-en-us-row-1-area-1{border-right:1px solid #E3E4E5; }(K) removed against artf1165062 to add border to right section*/
#jdparts-en-us-row-1-area-1			{ min-height:150px; width:186px; float:left; }
#jdparts-en-us-colparts-1-row-2 #jdparts-en-us-col-2-row-2-area-1 { width:764px; }
#jdparts-en-us-colparts-1-row-2 .ls-col { padding-bottom:0px!important; }
#nest-colparts-3 					{ border-right:1px solid #e7e7e7; width:540px; float:left; }
#jdparts-en-us-row-1				{ padding-bottom:6px; }
#jdparts-en-us-col-2-row-1 			{ margin-bottom:24px; }/*(VK)artf1176764*/
#jdparts-en-us-col-1-row-3-area-1 	{ padding:0px 0px 0 18px!important; margin-top:-6px; float:left; border-left:0px solid #E7E7E7; overflow:hidden; width:220px!important; }
/*#jdparts-en-us-colparts-1-row-2 	{ margin-bottom:24px; } (K) cleanUP Process*/
#nest-colparts-1					{ border-left:1px solid #E7E7E7; width:802px!important; overflow:hidden; float:left;/*(VK)artf1175260*/ }
#jdparts-en-us-colparts-1-row-2 	{ margin-bottom:6px; overflow:hidden;  }/*(VK)artf1167273*/
/*(K)Artifact Artifact artf1165062 */ 
#jdparts-en-us-row-1 #ls-gen1-ls-fxr #nest-colparts-1					{ width:780px; }
#ls-gen3-ls-col-body #ls-row-1-col-2-row-3 #ls-gen12-ls-fxr 			{ width:780px; _width:782px; }
#jdparts-en-us-col-2-row-2 #ls-gen10-ls-fxr #jdparts-en-us-col-2-row-2-area-1 { width:762px; }
#ls-gen3-ls-col-body #jdparts-en-us-col-1-row-1 #ls-gen4-ls-fxr #jdparts-en-us-colparts-1-row-1-area-1 { width:780px; }
#jdparts-en-us-colparts-1-row-1-area-1 #ls-gen5-ls-area-body p.MOD_NO_8	{ margin:0px; }
/*(K)Artifact Artifact artf1165062 */ 
/*DD artf1167270 */
#nest-colparts-1 #ls-gen3-ls-col-body			{ width:780px !important; }
#nest-colparts-1 #ls-gen14-ls-fxr 				{ width:804px !important; }
#jdparts-en-us-col-2-row-1-area-1 .ls-cmp-wrap	{ padding:0!important; }/*(VK)artf1176764*/
#jdparts-en-us-col-1-row-3-area-1 .iw_component	{ margin: -1px 0!important; }
/***** Our Company/Parts Page layout *****/

/***** C frame/Contact Us/ Faq Page layout *****/
#jdcf-en-us-row-1 #ls-gen1-ls-fxr	{ width:990px !important}
#jdcf-en-us-row-1-area-1 			{ min-height:150px; width:185px; float:left; }
#jdcf-en-us-colcf-1-row-2			{ padding-left:18px; }
#nest-colcf-1						{ border-left:1px solid #E3E4E5; display:inline;float:left;width:802px; overflow:hidden;/*(VK)artf1178002*/ }
#nest-colcf-1 #ls-gen3-ls-col-body 	{ width:784px; }
#jdcf-en-us-row-1 					{ padding-bottom:6px; }
#jdcf-en-us-colcf-1-row-1-area-1 	{ width:804px!important; }
/***** C frame/Contact Us/ Faq Page layout *****/

/***** One column no hero/product by Name Layout *****/
#jdocnhl-en-us-col-2-row-1-area-1 	{  padding: 0 0 0 24px;  width: 978px !important; }
#jdocnhl-en-us-col-2-row-1-area-1 .reverse_cframe .centerColumn { margin-left:0px!important; }
#jdocnhl-en-us-col-2-row-1-area-1 .reverse_cframe .rightColumn { margin-top:-6px!important; }
/***** One column no hero/product by Name Layout *****/

/***** Reman styles (need to confirm(remove)) *****/
#jdreman-en-us-col-3-row-1-area-1, #jdreman-en-us-col-3-row-2 { padding:0 18px; }
#jdreman-en-us-col-1-row-3-area-1 { padding:0 24px 0 18px; }
/***** Reman styles (need to confirm(remove)) *****/

/***** Full Hero Fixed Layout *****/
#nest-col-1 			{ height:auto !important; border-right:0px solid #E3E4E5 !important;  width:683px; }
.ls-canvas .ls-col		{ overflow:visible; !important}
#footer .ls-canvas .ls-area, .ls-canvas .ls-col-body { overflow:visible!important; }
#footer .ls-canvas .ls-area-body { overflow:visible!important; }
/***** Full Hero Fixed Layout *****/

#jdsfhrrfl-en-us-row-2 #ls-gen3-ls-fxr	{ width:990px !important; }
#jdsfhrrfl-en-us-row-2-area-2 			{ margin:4px 0 0 20px !important; }
#jdsfhrrfl-en-us-row-3 #ls-gen6-ls-fxr 	{ width:990px !important; }
#jdsfhrrfl-en-us-row-3 #ls-gen5-ls-fxr 	{ width:990px !important; }
#jdsfhrrfl-en-us-row-3-area-1 			{ margin:20px 0 20px 20px !important;  padding:0 !important; }
#jdsfhrrfl-en-us-row-3-area-2 			{ margin:20px 0 !important; padding:0 10px 0 36px !important; }

/*** extra ***/
.ls-canvas .ls-area, .ls-canvas .ls-area-body { overflow:visible}
#ls-gen4-ls-fxr							{ width:804px; }
#ls-gen6-ls-col-body, #ls-gen11-ls-fxr, #ls-gen7-ls-fxr  { width:auto; }
#jdhpfl-en-us-main-col-1 #ls-gen4-ls-col-body #jdhpfl-en-us-row-3 #ls-gen7-ls-fxr  { overflow:hidden; }
/*** extra ***/

#jdnpwlfhfl-en-us-main-row-1 #ls-gen3-ls-fxr #jdnpwlfhfl-en-us-main-col-1 #ls-gen4-ls-col-body #jdnpwlfhfl-en-us-row-3 #ls-gen9-ls-fxr #nest-colnpwl-1{ overflow:hidden; /*(k) Artifact artf1206584 : Category Page | Space between right rail vertical line and FCG is not proper*/}
#jdnpwlfhfl-en-us-main-row-1  #nest-colnpwl-1{overflow:hidden}/*RS TS Fix */

/*** For Sign In & Registration Pages ***/
#jdsign-main-row-1 #ls-gen4-ls-col-body { padding:0 24px 24px; }
#jdsign-row-2-col-1, #jdsign-row-3-col-1 {margin-right:18px;}
#jdsign-row-2 {padding-bottom:20px; border-bottom:1px solid #ccc; margin-bottom:20px;}
/*DD Commented out as this had regression on Product Selector Layout
#ls-gen5-ls-fxr, #ls-gen14-ls-fxr, #jdsign-row-1-area-1 { width:942px !important; }
#ext-gen7 > img { width:940px !important; }*/

/*** My John Deere Pages ***/
#my-jd-main-col-1{ padding:0 24px 24px; }
#my-jd-row-4 { margin-top:40px; }
#my-jd-row-3 { margin-top:20px; }
#my-jd-row-3 #ls-gen9-ls-fxr { width:942px; }
#my-jd-row-3 #my-jd-row-3-col-1 { margin-right:18px; }

/****** For one column 750px *******/
#jdoc-en-us-row-1 #ls-gen5-ls-fxr {width:auto !important;}
#jdheader-row-0-area-0 {width:750px;max-width: 750px;width: auto !important;}

/****** For DY2013-Three-Column-Full-Layout-Right-Column-Border | MG *******/

#jdtcwl-en-us-main-col-2 {margin-right: 17px; border-right:1px solid #E3E4E5; width: 186px; float: left; padding-top: 8px;}
#jdtcwl-en-us-row-5-area-1, #jdtcwl-en-us-row-5-area-2 {border-right: 1px solid #E3E4E5; padding:0px 18px 0 0; margin-right: 17px; float: left; width: 504px; }
#jdtcwl-en-us-row-4 {margin-bottom: 18px;}
#jdtcwl-en-us-main-col-3 {float: left; width: 764px;}
#jdtcwl-en-us-row-5-area-3 {width: 222px; float: left;}
#jdtcwl-en-us-main-col-3 .MOD_GC_1a {padding-left: 0;}
#jdtcwl-en-us-main-col-3 p.MOD_NO_8 {margin-right: 2px;}
#jdtcwl-en-us-main-col-1 {width: 990px;}
#jdtcwl-en-us-main-col-1 #jdtcwl-en-us-row-1 {background:#fff url(../img/left_nav_dvdr_bg.gif)/*tpa=http://www.deere.com/common/deere-resources/img/left_nav_dvdr_bg.gif*/ repeat-y 0 0; width: 990px;}
#jdtcwl-en-us-main-col-5 #jdtcwl-en-us-row-5-area-2 {width:auto; float:none;margin:0;padding:0;border:none;}
/****** DY2013-Three-Column-Full-Layout-Without-Right-Column-Border | MG *******/

#jdtcwol-en-us-main-col-2 {margin-right: 17px; border-right:1px solid #E3E4E5; width: 186px; float: left; padding-top: 8px;}
#jdtcwol-en-us-row-5-area-1, #jdtcwol-en-us-row-5-area-2 {padding:0px; margin-right: 18px; float: left; width: 522px; }
#jdtcwol-en-us-row-5-area-1  #ls-gen15-ls-area-body, #jdtcwol-en-us-row-5-area-2  #ls-gen15-ls-area-body {width: 522px;}
#jdtcwol-en-us-row-4 {margin-bottom: 18px;}
#jdtcwol-en-us-main-col-3 {float: left; width: 764px;}
#jdtcwol-en-us-row-5-area-3 {width: 222px; float: left;}
#jdtcwol-en-us-main-col-3 .MOD_GC_1a {padding-left: 0;}
#jdtcwol-en-us-main-col-3 p.MOD_NO_8 {margin-right: 2px;}
#jdtcwol-en-us-main-col-1 {width: 990px;}
#jdtcwol-en-us-main-col-1 #jdtcwol-en-us-row-1 {background:#fff url(../img/left_nav_dvdr_bg.gif)/*tpa=http://www.deere.com/common/deere-resources/img/left_nav_dvdr_bg.gif*/ repeat-y 0 0; width: 990px;}
#jdtcwl-en-us-row-1 #ls-gen5-ls-fxr, #jdtcwol-en-us-row-1 #ls-gen5-ls-fxr {width: 990px !important;}

#jdtcwl-en-us-row-5-area-2{width:504px;}

#jdtcwl-en-us-row-5 #ls-gen14-ls-fxr.ls-fxr {width:764px;}
#jdtcwl-en-us-row-5-col-1 {margin-right: 18px;padding-right: 18px;width: 504px;}

#jdtcwl-en-us-main-col-3 #jdtcwl-en-us-row-5 #jdtcwl-en-us-row-5-col-1  {width:540px; margin:0; padding:0;}

