/* CSS fot Construction Modules (VK) */

/*** Header ***/
.MOD_NO_28, .MOD_NO_6 { background:#fff url('../img/bg_header_black.gif') repeat-x 0 bottom; }
.MOD_NO_6 .logo, .MOD_NO_28 .logo {  background:url('../img/logo-john-deere-black.gif') no-repeat; }
.MOD_NO_6 #mainNav .submenu li a, .MOD_NO_19 .listName li a { color:#000; }
.MOD_NO_6 #mainNav .submenu li a:hover,
.MOD_NO_6 #utilityNav .submenu li a:hover, 
.MOD_NO_6 #mainNav .submenu li a:focus,
.MOD_NO_6 #utilityNav .submenu li a:focus { color:#000; text-decoration:underline; background:url('../img/arrows.gif') no-repeat 0 -15px }
/*** Header ***/

/*** Footer ***/
.MOD_NO_7 .links a, .MOD_NO_7_1 .footer_links a, .MOD_NO_21 a, .MOD_NO_19 .listName .title a, .html{ color:#000 !important; }
/*** Footer ***/


/*** Breadcrumb ***/
.MOD_NO_8 span { color: #000; }
/*** Breadcrumb ***/


/*** General Styles ***/
p { color:#000;}
/*** General Styles ***/


/*** Links ***/
a, .MOD_FO_6b .itemModel a, .MOD_FO_36 a, .MOD_FO_37 ul li span.desc 	{ color:#000; }/*DD artf1183473 */
a.more, a.seeall, a.external { color:#000!important; background: url("../img/arrows.gif") no-repeat scroll left -13px; }
.collapsable_panel a.more:hover, .collapsable_panel a.seeall:hover, .collapsable_panel a.external:hover{background: url("../img/arrows.gif") no-repeat scroll left -14px!important;}
.arrow_g { color:#000; background: url("../img/arrows.gif") no-repeat scroll left -14px; }
a.pdf, a.xls, .o-frame a.pdf, a.pdf:hover, a.xls:hover,  a.xlsx:hover, .o-frame a.pdf:hover, a.more_pdf:hover, a.more_xls:hover,  a.more_xlsx:hover, a.more_doc:hover, a.more_docx:hover  { color:#000 !important; }
a.more_pdf , a.more_xls, a.more_xlsx, a.more_doc, a.more_docx  { color:#000; }
.back-to-top { background:url('../img/arrow_top_yellow.gif') no-repeat 0 5px; }
.back-to-top:hover { text-decoration:underline; }/*DD artf1187120 Inline Style Change*/
.MOD_NO_2_S.WCAG_MOD_NO_2_S .tabContent a.more, .MOD_NO_2_S.WCAG_MOD_NO_2_S .tabContent a.seeall, .MOD_NO_2_S.WCAG_MOD_NO_2_S .tabContent a.external, .MOD_GC_25.WCAG_MOD_GC_25 .tab_module .tab_module_content a.more, .MOD_GC_25.WCAG_MOD_GC_25 .tab_module .tab_module_content a.seeall, .MOD_GC_25.WCAG_MOD_GC_25 .tab_module .tab_module_content a.external{background:url("../img/arrows.gif") no-repeat scroll left -13px transparent; color:#000000 !important;}
/*** Links ***/

/*** Other Modules ***/
.MOD_FO_1 .feature .inner a.seeall{ float:left; margin-top:5px; background:url("../img/arrows.gif") no-repeat 0 -13px;}
* html .MOD_FO_1 .feature .inner a.seeall{line-height:14px;  background-position:0 -15px;}
.MOD_GC_10a .viewall, .MOD_GC_10b .viewall { background-position: 0 -15px; }
.MOD_NO_12 a, .MOD_NO_22 a, .MOD_NO_24 a, .MOD_NO_20 a { background: url("../img/mod_no_4_on.gif") no-repeat scroll 12px 16px #F1F1F1; }
.MOD_NO_1T_S a { background: url("../img/mod_no_4_on.gif") no-repeat scroll 12px 19px #F1F1F1; }
.MOD_NO_16 li { background: url("../img/arrows.gif") no-repeat scroll left -15px transparent; }
.MOD_NO_21 ul li a { background:url(../img/arrows.gif) no-repeat left -15px; }
.MOD_NO_25 ul.nav li.next { background: url("../img/arrows.gif") no-repeat scroll right -14px transparent; }
.MOD_NO_25 ul.nav li.prev { background:url("../img/bullet_arrow2_yellow.gif") no-repeat left 4px; }
.MOD_GC_26 .MOD_GC_26_Position a.more { background:url(../img/arrows.gif) no-repeat left -15px; }
.MOD_GC_3 ul.nav li,
.MOD_NO_26 ul.nav li  { background:url("../img/bullet_arrow2_yellow.gif") no-repeat scroll left center transparent; }
.MOD_GC_3 ul.nav li.prev,
.MOD_NO_26 ul.nav li.prev  { background:url("../img/bullet_arrow2_yellow.gif") no-repeat left 5px; }
.MOD_GC_3 ul.nav li.next,
.MOD_NO_26 ul.nav li.next { background:url("../img/arrows.gif") no-repeat right -15px; }
.relatedIndustries li a { background:url("../img/arrows.gif") no-repeat right -14px; }

.MOD_FO_1 .feature h5, .MOD_FO_1 .buying_options h5 { background:#666; }
.MOD_FO_1 .feature h3, .MOD_FO_1 .buying_options h3, .MOD_FO_1 .feature .primary_subhead, .MOD_FO_1 .buying_options .primary_subhead { background:#666; }/*RS WCAG*/
.MOD_FO_1 .buying_options .close { background-image:url("../img/close.gif"); }
.MOD_FO_1 .feature ul li { background-image:url("../img/sub_square_black.gif"); }


.MOD_GC_12_5a .pause-resume, .MOD_GC_12_5 .pause-resume, .MOD_GC_12_5a .pause-resume-anchor, .MOD_GC_12_5 .pause-resume-anchor, 
.MOD_GC_12_5a #pager a.pause-resume, .MOD_GC_12_5 #pager a.pause-resume { background-position:0 -72px !important; }
.MOD_GC_12_2a .resume, .MOD_GC_12_2a_green .resume {  background-position: -14px -72px; }
.MOD_GC_12_5a #pager a.pause-resume.resume, .MOD_GC_12_5 #pager a.pause-resume.resume { background-position: -14px -72px !important; }/*DD Fixed the pause button image position.*/
.MOD_GC_12_2a .pause:hover, .MOD_GC_12_2a_green .pause:hover, .MOD_GC_12_5a .pause:hover, .MOD_GC_12_5 .pause:hover, .MOD_GC_12_5a #pager a.pause-resume:hover, .MOD_GC_12_5 #pager a.pause-resume:hover { background-position:-372px -72px !important; }
.MOD_GC_12_2a .resume:hover, .MOD_GC_12_2a_green .resume:hover, .MOD_GC_12_5a .resume:hover, .MOD_GC_12_5 .resume:hover, .MOD_GC_12_5a #pager a.pause-resume.resume:hover, .MOD_GC_12_5 #pager a.pause-resume.resume:hover {
	background-position:right -72px !important;
} /* MG - updated sprite */
/*** Modules ***/

/*** Left Nav ***/
/*.MOD_NO_4.green li.nvl_1 h3 {background-image:url('../img/mod_no_4_nvl1_title.gif');}*/
.MOD_NO_4.green li.nvl_1 h3, .MOD_NO_4.green li.nvl_2 h3, .MOD_NO_4.green li.nvl_2_1 h3, .MOD_NO_4.green li.nvl_3 ul h3, .MOD_NO_4.green li.nvl_3_1 ul h3, .MOD_NO_4.green li.nvl_4 ul li.nvl_4_on { background-image: url("../img/mod_no_4_on.gif"); }

.MOD_NO_4.green li.nvl_2 ul, .MOD_NO_4.green li.nvl_2 h3, .MOD_NO_4.green li.nvl_3 ul li, .MOD_NO_4.green li.nvl_2_1 ul, .MOD_NO_4.green li.nvl_2_1 h3, .MOD_NO_4.green li.nvl_3_1 ul li, .MOD_NO_4.green li.nvl_4 ul li, .MOD_NO_4.green li.nvl_3 ul h3, .MOD_NO_4.green li.nvl_3_1 ul h3, .MOD_NO_4.green li.nvl_1 h3, .MOD_NO_4 li.nvl_3_1 ul li, .MOD_NO_10b.green li.nvl_1 h3, .MOD_NO_10b.green li.nvl_2 ul, .MOD_NO_10b.green li.nvl_2 h3, .MOD_NO_10b.green li.nvl_3 ul li, .MOD_NO_10b.green li.nvl_2_1 ul, .MOD_NO_10b.green li.nvl_2_1 h3, .MOD_NO_10b.green li.nvl_3_1 ul li, .MOD_NO_10b.green li.nvl_1_on a, .MOD_NO_10b.green li.nvl_4 ul li, .MOD_NO_10b.green li.nvl_3 ul h3, .MOD_NO_10b.green li.nvl_3_1 ul h3, .MOD_NO_10a.green li.nvl_1 h3, .MOD_NO_10a.green li.nvl_1_on, .MOD_NO_10a.green li.nvl_2 ul, .MOD_NO_10a.green li.nvl_2 h3, .MOD_NO_10a.green li.nvl_3 ul li, .MOD_NO_10a.green li.nvl_2_1 ul, .MOD_NO_10a.green li.nvl_2_1 h3, .MOD_NO_10a.green li.nvl_3_1 ul li, .MOD_NO_10a.green li.nvl_4 ul li, .MOD_NO_10a.green li.nvl_3 ul h3, .MOD_NO_10a.green li.nvl_3_1 ul h3 {  border-left-color: #f9cd05; }/*DD artf1185773*/

.MOD_NO_4.green li.nvl_1 h3, .MOD_NO_4.green li.nvl_1 h3 a, .MOD_NO_4.green li.nvl_2 h3 a, .MOD_NO_4.green li.nvl_2_1 h3 a, .MOD_NO_4.green li.nvl_3 ul h3 a, .MOD_NO_4.green li.nvl_3_1 ul h3 a, .MOD_NO_4.green li.nvl_4 ul li.nvl_4_on a, .MOD_NO_10a.green li.nvl_3 ul h3 a, .MOD_NO_10a.green li.nvl_4 ul li.nvl_4_on a { color:#000; }/*DD artf1214493*/


.MOD_NO_10a.green li.nvl_3 ul h3 a, .MOD_NO_10a.green li.nvl_3_1 ul h3 a, .MOD_NO_10a.black li.nvl_4 ul li.nvl_4_on a { color:#000; }
.MOD_NO_10a.green li.nvl_3 ul h3, .MOD_NO_10a.green li.nvl_3_1 ul h3, .MOD_NO_10a.green li.nvl_4 ul li.nvl_4_on { background-image:url('../img/mod_no_4_on.gif');}

.MOD_NO_10b.green li.nvl_1 h3 {background-image:url('../img/mod_no_4_on.gif');}
.MOD_NO_10b.green li.nvl_1_on a {background-image:url('../img/mod_no_4_on.gif');}
.MOD_NO_10b.green li.nvl_1_on a { color:#000; }
.MOD_NO_10b.green li.nvl_1 h3, .MOD_NO_10b.green li.nvl_1 h3 a { color:#000; }
/*** Left Nav ***/

/*** Pagination ***/
.pages a { color:#000; }
.pages img { display:none!important; }
.page_link { color:#666!important; }
.page_bar { color:#999; }
.active_page { color:#000!important; }
.MOD_FO_28 .page_navigation a.next_link, .MOD_FO_34 .page_navigation a.next_link, .pages a.next_link, .MOD_FO_44 .page_navigation a.next_link{ padding-right:10px; color:#666!important; background:url("../img/arrows.gif") no-repeat right -14px !important; }
.MOD_FO_28 .page_navigation a.previous_link, .MOD_FO_34 .page_navigation a.previous_link, .pages a.previous_link, .compatibleEquipment div a.previous_link, .MOD_FO_44 .page_navigation a.previous_link{ padding-left:10px; color:#666!important; background:url("../img/bullet_arrow2_yellow.gif") no-repeat left 4px !important; }/*DD artf1284804*/
/*** Pagination ***/


.MOD_GC_3 ul li, .MOD_GC_3 ol ul ul li, .MOD_GC_3 ul ol ul li, 
.MOD_GC_7 ul li, .MOD_GC_7 ol ul ul li, .MOD_GC_7 ul ol ul li, 
.MOD_GC_21 ul li, .MOD_GC_21 ol ul ul li, .MOD_GC_21 ul ol ul li, 
.MOD_GC_14_1 ul li, .MOD_GC_14_1 ol ul ul li, .MOD_GC_14_1 ul ol ul li, 
.MOD_GC_22a ul li, .MOD_GC_22a ol ul ul li, .MOD_GC_22a ul ol ul li,
.MOD_GC_22b ul li, .MOD_GC_22b ol ul ul li, .MOD_GC_22b ul ol ul li,
.MOD_GC_22afc ul li, .MOD_GC_22afc ol ul ul li, .MOD_GC_22afc ul ol ul li,
.MOD_FO_8 .contentLightbox li, 
ul.square_list li, .MOD_NO_5_1 li ul li, .MOD_GC_21 .content_area ul li, .MOD_GC_11_Horizontal ul li, .MOD_GC_11_2 .content_pan ul li, 
.MOD_FO_15 .li_list li, .MOD_FO_1 .feature ul li, .product .module01 .featSpecs ul li,
.MOD_FO_63 ul li, .MOD_FO_63 ol ul ul li, .MOD_FO_63 ul ol ul li { background-image:url(../img/bullet_square_black.gif); }/*DD artf1204920*/

.MOD_FO_15 .li_list li {background-image: url("../img/square_black.gif");}
.MOD_FO_8 .contentLightbox li {background: url("../img/square_black.gif") no-repeat scroll 0 5px transparent;}


/*Lightbox Arrow*/
.modal .prev, .modal .next 	{ background-image:url(../img/popArrow_construction.gif); }/*DD artf1185686*/

/*Left Nav*/



/*(K)Inline Link Style*/
.MOD_GC_7 a, .MOD_GC_3 a, .MOD_FO_6panel a, .MOD_NO_18 a  {text-decoration:underline; color:#000000;}
.MOD_NO_18 a:hover, .MOD_FO_6panel a:hover, .MOD_GC_3 a:hover, .MOD_GC_7 a:hover {text-decoration:underline; color:#999999;}
/*(K)Inline Link Style*/

.MOD_GC_24 li a { color:#000; }/*DD Changed the color for construction model.*/

.rss_icon { color:#000 !important; }
.rss_icon:hover { text-decoration:underline !important; color:#000 !important; }

.MOD_GC_12_2a #pager a, .MOD_GC_12_2a_green #pager a { color:#000;}


/*DD Automated News Component*/
.MOD_GC_27 li, .MOD_GC_27 .see_all { color:#000; }

/*DD artf1229852 Asset Link*/
.MOD_NO_25 ul.nav li a, .MOD_GC_12_1 .vidbox h4 { color:#000; }/*DD artf1237917 Added .MOD_GC_12_1 .vidbox h4 */
.MOD_GC_12_1 .vidbox span { color:#000; }/*RS WCAG*/

/*DD artf1215657 Export Link*/
.export-xls input {width:auto;}
.export-xls input, .export-xls input.buttonhover { color:#000 !important; }

/*DD artf1215657*/
.MOD_FO_21 .compatibility_content h3 a { background:url('../img/arrow_black.gif') no-repeat 8px 9px; }
.MOD_FO_21 .compatibility_content h3.open a { background:url('../img/arrow_white.gif') no-repeat 7px 9px !important; }

/*.MOD_FO_21 h3.open a { background:url("../img/arrow_down_white.gif") no-repeat 5px 10px !important;  }*/

/*DD artf1224391*/
.MOD_GC_14_2 a:hover, .MOD_GC_21 a:hover { color:#999; }

.listName li.MOD_FO_4 a { color:#000; }
.listName li.MOD_FO_4.oon a, .MOD_FO_9 .inner .prodType a{ background: url(../img/arrow_black.gif) no-repeat -1px 5px; }
.MOD_FO_9 .inner .prodType a:hover, .MOD_FO_9 .inner .prodType a:focus, .MOD_FO_9 .inner .prodType a:active { color:#000 !important; background-position:-1px 5px; }

/*PK artf1235143*/
.tinymce ul li { background-image:url(../img/bullet_square_black.gif); }

#BVRRSummaryContainer a, #BVRRContainer a { color:#000; }

.MOD_FO_6a .MOD_FO_6panel ul li, .MOD_FO_6a .MOD_FO_6panel ol ul li, .MOD_FO_6a .MOD_FO_6panel ol ul ul li, .MOD_FO_6a .MOD_FO_6panel ul ol ul li { background:url('../img/bullet_square_black.gif') no-repeat 7px 6px; }/*DD artf1254594*/


/*MOD_FO_33 Blog Comoponent Styling*/
.MOD_FO_33 .news a {color:#000;}
.MOD_FO_33 a.view_more 	{ background:url('../img/yellow_arrow.gif') no-repeat 0 5px transparent; color:#000;}

/* MOD_FO_44 */
.MOD_FO_44 a:hover {text-decoration:underline; color:#333;}

/*PS Construction Theme*/
.find-vehicle-type{background:#7b7c7d url(../img/construction/approach-selection-bg.jpg) no-repeat left top;}
ul.square_list li, .MOD_NO_5_1 li ul li, .MOD_GC_21 .content_area ul li, .MOD_GC_11_Horizontal ul li, .MOD_GC_11_2 .content_pan ul li {background-image: url(../img/sub_square_black.gif) !important;}

.MOD_FO_46 li a label, .product_filters a .panel_txt_highlight, .MOD_FO_47 .MOD_FO_47_content .subheadings h3 {color:#000}
.MOD_FO_46 a:hover, .MOD_FO_PS_11 a:hover, .MOD_FO_6panel .add-on .img a:hover{color:#333; text-decoration:underline;}
.MOD_FO_46 a:hover, .MOD_FO_PS_11 a:hover{color:#999;}/*RS */
.MOD_FO_46 .result_filter .icon_print, .icon_print{background-image:url("../img/construction/print.png")}
.filter_footer a.clearAllFlters, .clear_slider a.clearSelectedFilter, .area a.clear_selection, .column a.clear_selection {background-image:url("../img/construction/clear-icon.png") !important; color:#000;}
.clear_slider a.clearSelectedFilter, .filter_panel a.clearSelectedFilter{background-image:url("../img/construction/clear-icon.png") !important; color:#000;}
.MOD_FO_46 .result_filter .icon_share{background-image:url("../img/construction/share.png")}
.sidebar_panel .product_filters .filter_heading h2{background-color:#666666}
.jslider .jslider-bg i, .jslider .jslider-pointer { background-image: url(../img/construction/jslider_bg.png) !important; }

.btn_secondary_green { background:url(../img/btn_secondary.gif) left top no-repeat; line-height:21px; height:21px; color:#595959; font-size:12px; font-weight:bold; text-transform:uppercase; }
.btn_secondary_green span { background:url(../img/btn_secondary.gif) right -22px no-repeat; line-height:21px; margin-left:4px; height:21px; white-space:nowrap; float:left; padding:0 18px 0 14px; cursor: pointer; }
.btn_secondary_green:hover { background:url(../img/btn_secondary.gif) left -44px no-repeat; }
.btn_secondary_green:hover span, .btn_secondary_green:focus span, .ie7 .btn_secondary_green:active span { background:url(../img/btn_secondary.gif) right -66px no-repeat; }
.btn_secondary_green:active, .btn_secondary_green:hover, .btn_secondary_green:focus { background:url(../img/btn_secondary.gif) left -88px no-repeat; }
.btn_secondary_green:active span { background:url(../img/btn_secondary.gif) right -110px no-repeat; }
.MOD_FO_46 a.btn_secondary_green:hover{color:#595959;}

.MOD_FO_6panel .add-on .img a {text-decoration:none;}


.MOD_NO_28 .myJDlogo {background:url("../img/construction/logo_mjd.png") no-repeat}
a.back_to_ps_results {background: url("../img/construction/arrow_back.gif") no-repeat scroll 0 3px transparent;}
.MOD_FO_PS_11 ul li{background: url("../img/sub_square_black.gif") no-repeat scroll 0 6px transparent;}


.MOD_FO_37 .views, .MOD_NO_30 span{color:#000;}

.MOD_FO_46 .wizardPanelFourColumn img.selected {border-color:#333;}
.body-copy a:hover, .MOD_FO_6b .itemModel a:hover, .MOD_FO_36 a:hover{color:#999999;}/*RS 14170613*/
.pwd_guide_line {color:#000; background: url("../img/construction/arrow_down.gif") no-repeat right 7px;}
.pwd_guide_line_open {color:#000; background: url("../img/construction/arrow_top.gif") no-repeat right 7px;}

.MOD_FO_24 ul li, .MOD_FO_24 ol ul ul li, .MOD_FO_24 ul ol ul li, .MOD_FO_32 ul li, .MOD_FO_32 ol ul ul li, .MOD_FO_32 ul ol ul li, .MOD_FO_22 .why_JD_account ul li, .MOD_FO_24 .modal_content ul li, .MOD_FO_26 ul li{background-image: url("../img/bullet_square_black.gif");}

.contentInnerWrapper .MOD_FO_28 a:hover, a.inlineLink:hover {color:#999999;text-decoration:underline;}
.MOD_FO_47 .MOD_FO_47_content .MOD_FO_47_content_left ul li{background: url("../img/sub_square_black.gif") no-repeat scroll 0 6px transparent;}
.BVRRRatingContainerStar .BVRRRatingNormalImage a{background-position:0px -13px;}
.ie .BVRRRatingContainerStar .BVRRRatingNormalImage a{background-position:0px -14px;}
.filters_head div.optionMoreLess a {background-position:0px -14px;}
#printWindowContentWrapper a:hover, #printWindowContentWrapper a:focus, .ie7 #printWindowContentWrapper a:active{color:#000 !important;}
/* Left Nav | MG */
#leftColumnSidebar ul.MOD_NO_10a li .flyout_dropdown .flyout_desc_box .flyout_right_desc ul li {
    background: url("../img/arrows.gif") no-repeat scroll left -15px transparent;
}
#leftColumnSidebar ul.MOD_NO_10a li .flyout_dropdown .flyout_title {
    background: url("../img/arrows.gif") no-repeat scroll left -13px transparent;
}
#leftColumnSidebar ul.MOD_NO_10a li.nvl_2 h3, #leftColumnSidebar ul.MOD_NO_10a li.nvl_3 ul h3, #leftColumnSidebar ul.MOD_NO_10a li.nvl_4 ul li.nvl_4_on {
}
#leftColumnSidebar ul.MOD_NO_10a li .flyout_dropdown .flyout_desc_box .flyout_right_desc ul li a {color: #000;}
.MOD_FO_PS_11 a.btn_secondary:hover, a.btn_secondary:hover{color:#595959;}

.suggestAddress .address_content.suggest_address_close {color: #000; background: url("../../img/arrows.gif") no-repeat scroll left -13px;}

.filters_head div.optionMoreLess a, 
.filters_head div.optionMoreLess a.moreOptions {color:#000; background: url("../img/construction/arrow_down.gif") no-repeat left 6px;}
.filters_head div.optionMoreLess a.lessOptions {color:#000; background: url("../img/construction/arrow_top.gif") no-repeat left 6px;}

.two_column_archive .group li, .three_column_archive .group li { background:url("../img/arrows.gif") no-repeat 6px -14px transparent !important; }/*DD Image path is temprary fix as per localization*/
.two_column_archive .group li a, .three_column_archive .group li a {text-decoration:none;}
.two_column_archive .group li a:hover, .three_column_archive .group li a:hover {text-decoration:underline;}

/*KC 14492832*/
.print_preview .MOD_FO_1 .feature h3{color:#666 !important;}
.html {color: #000;}
.xls:hover, .pdf:hover, .html:hover { text-decoration: underline !important;color: #000!important;}
/* Model page icons */
.MOD_GC_12_1 #MOD_GC_12_1_nav li a, #shareThis li.mail-share .mail-share-content a {color:#000;}
.MOD_GC_12_1 #MOD_GC_12_1_nav li.gallery a {background-image:url('../img/construction/icon-image-gallery.png');}
.MOD_GC_12_1 #MOD_GC_12_1_nav li.degrees a {background-image:url('../img/construction/icon-360-view.png');}
.MOD_GC_12_1 #MOD_GC_12_1_nav li.videos a {background-image:url('../img/construction/icon-video-gallery.png');}


/*Advance Flyout*/
#ls-canvas ul.MOD_NO_10a li .flyout_dropdown .flyout_desc_box .flyout_right_desc ul li a{color:#000;}
#ls-canvas ul.MOD_NO_10a li .flyout_dropdown .flyout_title a {color:#333 !important;}
#ls-canvas ul.MOD_NO_10a li .flyout_dropdown .flyout-model-listing span.flyout_title {background: none !important;}

/* Special Offers Listing */
.specialOffers .product_filters a .panel_txt_highlight{color: #000;}
.specialOffers .filter_clear_all a.clearAllFlters{background: url("../img/construction/clear-icon.png") no-repeat scroll left center transparent !important;}
.specialOffers .filters_head div.optionMoreLess a, .specialOffers .MOD_FO_47_row div.MOD_FO_47_ee a.moreOptions, .specialOffers .MOD_FO_47_row div.MOD_FO_47_ee a.lessOptions{background: url("../img/construction/arrow_down_trans.png") no-repeat scroll 0 6px transparent; color:#000;}
.specialOffers .filters_head div.optionMoreLess a.lessOptions, .specialOffers .MOD_FO_47_row div.MOD_FO_47_ee a.lessOptions{background: url("../img/construction/arrow_top_trans.png") no-repeat scroll 0 4px transparent}
.specialOffers a{color:#000 !important;}
.specialOffers .filters .label_filter_container a{color:#666 !important;}

/*Alert List Page*/
#nyroModalTitle.back, .notification-detail .back{background-image: url(../img/construction/arrow_left.gif);}
.fallback-login .signInFooterLeft a.more {background: url(../img/construction/web-alert-help-icon.gif) no-repeat 0 center !important;}
.fallback-login .signInFooterLeft a.notify.more{background:url(../img/construction/notifyIcon.gif) no-repeat 0 center !important;}
.MOD_FO_36 a.notify{background: url(../img/construction/notifyIcon.gif) no-repeat scroll 0 center rgba(0, 0, 0, 0);}
.MOD_FO_36 a.notify:hover{color:#999 !important;}

/*QC 655*/
.MOD_NO_6 #utilityNav li:first-child span, .MOD_NO_6 #utilityNav li:first-child a{color:#000;}
/* Fall Back Enabled for MyJD Sign In*/
ul.reg-list li{color:#ffde00;}
.fallback-login #newAccRow a.moreLinkLarge{background:url("../img/arrows.gif") no-repeat scroll left -13px;}
.special-offers .so-description li{background:url('../img/bullet_square_black.gif') no-repeat 0 6px !important;}
.model-special-offer .primary_subhead a{color: #333;}
.model-special-offer .primary_subhead.open a, .model-special-offer .primary_subhead.open a:hover{background: url("../img/construction/arrow_down_trans.png") no-repeat;background-position: 0 7px;}
.model-special-offer .primary_subhead a,.model-special-offer .primary_subhead a:hover{background: url("../img/mod_no_4_on.gif") no-repeat;background-position: 0 4px;}

#nyroModalContent .MOD_FO_63 .eligible_equipments li,#special_offers .MOD_FO_63 .eligible_equipments li{color: #000;}