/* CSS for L-3 */

/*
  Fonts.com font families in use
  font-family:"Helvetica Neue W01 77 Bd Cn";
  font-family:"Avenir LT W01 65 Medium";
*/

* { margin: 0; padding: 0; border: 0; }

body {
  text-align: center;
  font: 62.5% Arial, Helvetica, sans-serif; /* 62.5% resets 1em to the equivalent of 10px */
	background: #dedede;
}


/* Global Styles */

a, a:link, .link { color: #3f4480; text-decoration: underline; }
a:hover, .link:hover { text-decoration: none; }
.link { cursor: pointer; }

a#skip-nav { position: absolute; left: -999em; }

a.broken, a.highlight { color: #FFFFFF; background: #B60016; } /* Use this class on links that are broken during site development */

.highlight { color: #ED2024; font-weight: bold; }

a.doc { background: url('../../images/stories/icons/doc.gif')/*tpa=http://www.l-3com.com/images/stories/icons/doc.gif*/ 0px 3px no-repeat; padding: 5px 0 5px 20px; }
a.txt { background: url('../../images/stories/icons/txt.gif')/*tpa=http://www.l-3com.com/images/stories/icons/txt.gif*/ 0px 3px no-repeat; padding: 5px 0 5px 20px; }
a.xls { background: url('../../images/stories/icons/xls.gif')/*tpa=http://www.l-3com.com/images/stories/icons/xls.gif*/ 0px 3px no-repeat; padding: 5px 0 5px 20px; }
a.rss { background: url('../../images/stories/icons/feed.gif')/*tpa=http://www.l-3com.com/images/stories/icons/feed.gif*/ 0px 3px no-repeat; padding: 5px 0 5px 20px; }
a.pps { background: url('../../images/stories/icons/pps.gif')/*tpa=http://www.l-3com.com/images/stories/icons/pps.gif*/ 0px 3px no-repeat; padding: 5px 0 5px 20px; }
a.pdf { background: url('../../images/stories/icons/pdf.gif')/*tpa=http://www.l-3com.com/images/stories/icons/pdf.gif*/ 0px 3px no-repeat; padding: 5px 0 5px 20px; }
a.zip { background: url('Unknown_83_filename')/*tpa=http://www.l-3com.com/images/stories/icons/airchive.gif*/ 0px 3px no-repeat; padding: 5px 0 5px 20px; }
a.image { background: url('../../images/stories/icons/pic.gif')/*tpa=http://www.l-3com.com/images/stories/icons/pic.gif*/ 0px 3px no-repeat; padding: 5px 0 5px 20px; }
a.video { background: url('../../images/stories/icons/film.gif')/*tpa=http://www.l-3com.com/images/stories/icons/film.gif*/ 0px 3px no-repeat; padding: 5px 0 5px 20px; }
a.audio { background: url('../../images/stories/icons/audio.gif')/*tpa=http://www.l-3com.com/images/stories/icons/audio.gif*/ 0px 3px no-repeat; padding: 5px 0 5px 20px; }
a.email { background: url('Unknown_83_filename')/*tpa=http://www.l-3com.com/images/stories/icons/mailto.gif*/ 0px 3px no-repeat; padding: 5px 0 5px 20px; }
a.flash { background: url('../../images/stories/icons/flash.gif')/*tpa=http://www.l-3com.com/images/stories/icons/flash.gif*/ 0px 3px no-repeat; padding: 5px 0 5px 20px; }

.pdf img { margin: 0 0 0 5px; vertical-align: middle; }

a.button-wide {
  display: block;
  padding: 3px 0;
  margin: 0 6px 0 0;
  width: 178px;
  height: 25px;
  background: url('../../images/bg-button-link-wide.gif')/*tpa=http://www.l-3com.com/images/bg-button-link-wide.gif*/ top left no-repeat;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
}
a.button-wide-tall {
  display: block;
  padding: 4px 0;
  margin: 0 6px 0 0;
  width: 178px;
  height: 39px;
  font-size: 11px;
  line-height: normal;
  background: url('../../images/bg-button-link-wide-tall.gif')/*tpa=http://www.l-3com.com/images/bg-button-link-wide-tall.gif*/ top left no-repeat;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
}
a.button {
  display: block;
  padding: 3px;
  width: 100px;
  height: 25px;
  background: url('../../images/bg-button-link.gif')/*tpa=http://www.l-3com.com/images/bg-button-link.gif*/ top left no-repeat;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}
a.button-right {
  display: block;
  padding: 3px;
  width: 100px;
  height: 25px;
  background: url('../../images/bg-button-link-right.gif')/*tpa=http://www.l-3com.com/images/bg-button-link-right.gif*/ top left no-repeat;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
}
a.button-right-wide {
  display: block;
  padding: 3px 10px 0 10px;
  width: 116px;
  height: 25px;
  font-size: 12px;
  background: url('../../images/bg-button-right-wide.gif')/*tpa=http://www.l-3com.com/images/bg-button-right-wide.gif*/ top left no-repeat;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
}
a.button-left {
  display: block;
  padding: 3px;
  width: 100px;
  height: 25px;
  background: url('../../images/bg-button-link-left.gif')/*tpa=http://www.l-3com.com/images/bg-button-link-left.gif*/ top left no-repeat;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
}

h1,
.contentheading,
.componentheading,
h2.contentheading,
h2.componentheading,
.advanced-search h3 {
  margin: 0 0 15px 0;
  padding: 0;
  font-size: 1.8em;
  line-height: 1;
  font-weight: bold;
  color: #000000;
  border: 0;
}
h2.contentheading a { color: #000000; text-decoration: none; }

#page h1 { font-size: 2em; padding: 0; margin: 0 0 10px 0; }

.article_row h2,
.article_row h2.contentheading,
h2 {
  margin: 5px 0 10px 0;
  padding: 0;
  font-size: 1.5em;
  line-height: 1;
  font-weight: normal;
  color: #000000;
}
h3 {
  margin: 5px 0 0 0;
  padding: 0 0 10px 0;
  font-size: 1.2em;
  line-height: 1;
  font-weight: normal;
  color: #000000;
}
h3.toggle-location-country { padding: 5px 0 0 0; }

table { border-collapse: collapse; border-spacing: 0; width: 100%; margin: 0 0 15px 0; }
#main-content table td { vertical-align: top; padding: 5px; text-align: left; border-bottom: 1px solid #ececec; }
#main-content table th { vertical-align: bottom; text-align: left; padding: 5px; background: #ececec; }

#main-content table th.link,
#main-content table th.headerSortUp,
#main-content table th.headerSortDown { color: #3f4480; text-decoration: underline; cursor: pointer; }

#main-content table th.headerSortUp { background: url('../../images/arrow-up.gif')/*tpa=http://www.l-3com.com/images/arrow-up.gif*/ 5px 12px no-repeat #ececec; padding-left: 20px; }
#main-content table th.headerSortDown { background: url('../../images/arrow-down.gif')/*tpa=http://www.l-3com.com/images/arrow-down.gif*/ 5px 12px no-repeat #ececec; padding-left: 20px; }

object, embed { border: 0; outline: 0; }

fieldset { border: 1px solid #CCCCCC; padding: 10px; margin: 0 0 15px 0; }
legend { color: #666666; font-weight: bold; }
input, select, option, textarea { padding: 2px; border: 1px solid #CCCCCC; font-family: Arial, Helvetica, san-serif; font-size: 12px; }
option { padding-right: 10px; border: 0; }
label { font-weight: bold; padding-right: 10px; }

ul, ol { margin: 0 0 15px 35px; }
li { margin: 0 0 5px 0; }

p { padding: 0 0 15px 0; }

sup,
sub { line-height: 0; }

hr { height: 1px; margin: 0 0 15px 0; border: 0; border-bottom: 1px solid #ececec; }

.l, .left { float: left; }
.r, .right { float: right; }
.clear { clear: both; }

.b, .bold { font-weight: bold; }
.no-b { font-weight: normal; }
.u, .underline { text-decoration: underline; }
.no-u { text-decoration: none; }
.i, .italic { font-style: italic; }
.no-i { font-style: normal; }
.small { font-size: .79em; line-height: normal; }
.large { font-size: 1.2em; line-height: 1.3em; }
.x-large { font-size: 1.4em; line-height: 1.6em; }
.x-x-large { font-size: 1.6em; line-height: normal; }
.t-c, .text-center, .center { text-align: center; }
.t-r, .text-right, .right { text-align: right; }
.t-l, .text-left, .left { text-align: left; }

.serif { font-family: Palatino Linotype, Palatino, Georgia, TimesBook Antiqua, serif; }
.no-serif, .san-serif { font-family: Arial, Helvetica, sans-serif; }

.intro { font-size: 1.2em; color: #1A1B44; font-weight: bold; line-height: 1.4em; }

img { border: 0; line-height: 1; vertical-align: middle; }
img.l, img.left { margin: 0 15px 15px 0; border: 1px solid #DEDEDE; }
img.r, img.right { margin: 0 0 15px 10px; border: 1px solid #DEDEDE; }


/* Error Styling */

.email_confirm, .hide, .hideme { display: none; }
#form_error { font-weight: bold; color: #ed1c24; }

input.error { border: 1px solid #ed1c24; background: #FFEFEF; }
label.error { 
  display: block; 
  clear: none; 
  margin: 0; 
  padding: 5px 0 0 0; 
  width: 100%; 
  color: #ed1c24;
}

.module-middle-padding.callout {
  padding: 10px;
  margin: 0 0 15px;
  border: 1px solid #40406B;
  color: #40406B;
  background: #F7F9FD;
  font-weight: normal;
}
.module-middle-padding h3 { color: #40406B; font-weight: bold; margin: 0 0 5px 0; padding: 0; }
.module-middle-padding p { margin: 0; padding: 0 0 15px 0; }
.module-middle-padding .press-release-item p { margin: 0 0 15px 0; padding: 0; }


/* Site Colors */

.black { color: #000000; }
.gray { color: #4f4e4e; }
.white { color: #FFFFFF; }
.green { color: #008302; }
.blue { color: #40406B; }
.red { color: #ED2024; }


/* Navigation */
/* Based on Son of Suckerfish: http://www.htmldog.com/articles/suckerfish/dropdowns */

#nav {
  float: left;
	margin: 0;
  width: 966px;
  height: 44px;
  font-size: 1.6em;
  border-bottom: 10px solid #FFFFFF;
  /*background: #161640;*/
  font-family: "Helvetica Neue W01 77 Bd Cn", Arial, sans-serif;
}
#nav ul { /* Begin First Level Lists */
  float: left;
  width: auto;
  height: 44px; 
	margin: 0;
	padding: 0;
  line-height: 1;
	list-style: none;
  /*border-right: 1px solid #5b5b75;*/
}
#nav ul#media-center { border: 0; }

#nav ul li { /* All List Items */
	float: left;
	margin: 0;
	padding: 0;
	width: auto;
}
/*#nav ul li .separator { display: block; width: 1px; height: 44px; overflow: hidden; background: #5b5b75; } 
#nav ul li .separator span { display: none; } */

#nav ul li a {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
  height: 44px;
  overflow: hidden; 
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  background: url('../../images/bg-nav-rounded.gif')/*tpa=http://www.l-3com.com/images/bg-nav-rounded.gif*/ top center #161640;
  cursor: pointer;
}

/*#nav ul li a span { display: block; padding: 13px 0 15px 0; } */
#nav ul li a span { left: -999em; position: absolute; }
#nav ul li a img { padding: 0; margin: 0 auto; }
#nav ul li ul li a img { padding: 0; }

#nav ul li.item2 a { width: 109px;  background: url('../../images/bg-nav-rounded.gif')/*tpa=http://www.l-3com.com/images/bg-nav-rounded.gif*/ top left no-repeat; }
#nav ul li.item3 a { width: 170px; }
#nav ul li.item4 a { width: 170px; }
#nav ul li.item43 a { width: 96px; }
#nav ul li.item6 a { width: 86px; }
#nav ul li.item7 a { width: 161px; }
#nav ul li.item8 a { width: 135px; }
#nav ul li.item247 a { width: 135px; background: url('../../images/bg-nav-rounded.gif')/*tpa=http://www.l-3com.com/images/bg-nav-rounded.gif*/ top right no-repeat; }

#nav ul li a em { display: block; height: 44px; }

#nav ul li.sfhover.item2 a em  { background: url('../../images/stories/nav-about-l-3_on.gif')/*tpa=http://www.l-3com.com/images/stories/nav-about-l-3_on.gif*/ top center no-repeat; }
#nav ul li.sfhover.item2 img.menu-image { display: none; }
#nav ul li.sfhover.item3 a em  { background: url('../../images/stories/nav-business-segments_on.gif')/*tpa=http://www.l-3com.com/images/stories/nav-business-segments_on.gif*/ top center no-repeat; }
#nav ul li.sfhover.item3 img.menu-image { display: none; }
#nav ul li.sfhover.item4 a em  { background: url('../../images/stories/nav-products-services_on.gif')/*tpa=http://www.l-3com.com/images/stories/nav-products-services_on.gif*/ top center no-repeat; }
#nav ul li.sfhover.item4 img.menu-image { display: none; }
#nav ul li.sfhover.item6 a em  { background: url('../../images/stories/nav-careers_on.gif')/*tpa=http://www.l-3com.com/images/stories/nav-careers_on.gif*/ top center no-repeat; }
#nav ul li.sfhover.item6 img.menu-image { display: none; }
#nav ul li.sfhover.item7 a em  { background: url('../../images/stories/nav-investor-relations_on.gif')/*tpa=http://www.l-3com.com/images/stories/nav-investor-relations_on.gif*/ top center no-repeat; }
#nav ul li.sfhover.item7 img.menu-image { display: none; }
#nav ul li.sfhover.item8 a em  { background: url('../../images/stories/nav-media-center_on.gif')/*tpa=http://www.l-3com.com/images/stories/nav-media-center_on.gif*/ top center no-repeat; }
#nav ul li.sfhover.item8 img.menu-image { display: none; }
#nav ul li.sfhover.item247 a em  { background: url('../../images/stories/nav-code-of-ethics_on.gif')/*tpa=http://www.l-3com.com/images/stories/nav-code-of-ethics_on.gif*/ top center no-repeat; }
#nav ul li.sfhover.item247 img.menu-image { display: none; }

/* Original widths with Divisions as a nav item */
/*
#nav ul li.item2 a { width: 115px;  background: url('/images/bg-nav-left.jpg') top left no-repeat;}
#nav ul li.item3 a { width: 175px; }
#nav ul li.item4 a { width: 175px; }
#nav ul li.item43 a { width: 100px; }
#nav ul li.item6 a { width: 90px; }
#nav ul li.item7 a { width: 165px; }
#nav ul li.item8 a { width: 140px;  background: url('/images/bg-nav-right.jpg') top right no-repeat; }
*/
#nav ul li.item247 ul li a { background: none; }

/*
#nav ul li.active a,
#nav ul li.active a:hover,
*/
#nav ul li.sfhover a,
#nav ul li a:hover { color: #000000; background: url('../../images/bg-nav-rounded.gif')/*tpa=http://www.l-3com.com/images/bg-nav-rounded.gif*/ bottom center no-repeat #FFFFFF; }

#nav ul li.sfhover.item247 a,
#nav ul li.item247 a:hover { background: url('../../images/bg-nav-rounded.gif')/*tpa=http://www.l-3com.com/images/bg-nav-rounded.gif*/ bottom right no-repeat; color: #000000; }

#nav ul li.sfhover.item2 a,
#nav ul li.item2 a:hover { background: url('../../images/bg-nav-rounded.gif')/*tpa=http://www.l-3com.com/images/bg-nav-rounded.gif*/ bottom left no-repeat; color: #000000; }

#nav ul li.sfhover.item2 ul li a,
#nav ul li.sfhover.item247 ul li a { background: none; }

#nav ul li ul { /* Begin Second Level Lists */
	position: absolute;
	background: #FFFFFF;
	width: 250px;
  height: auto;
	margin: 0 0 0 -1px;
	padding: 0;
	left: -999em;
  z-index: 999;
  font-size: 12px;
  border: 1px solid #939492;
  border-top: 0;
  font-family: Arial, Helvetica, sans-serif;
}
#nav ul li.item2 ul { margin-left: 0; /*border-left: 0;*/ }
#nav ul li.item247 ul { margin-left: -117px; /*border-right: 0;*/ }
#nav ul li ul li {
	float: left;
	margin: 0;
	padding: 0;
	width: 250px;
}

#nav ul li.item2 ul li a,
#nav ul li.item3 ul li a,
#nav ul li.item4 ul li a,
#nav ul li.item43 ul li a,
#nav ul li.item6 ul li a,
#nav ul li.item7 ul li a,
#nav ul li.item8 ul li a,
#nav ul li.item247 ul li a,
#nav ul li ul li a {
	display: block;
  overflow: visible;
  text-align: left;
	margin: 0;
	padding: 0;
	width: 250px;
  height: auto;
  
}
#nav ul li ul li a span { left: auto; position: static; display: block; padding: 7px 10px; }

#nav ul li ul li .sf-sub-indicator { display: block; position: absolute; right: 0;  width: 10px; height: 28px; background: url('../../images/arrow-red-small.gif')/*tpa=http://www.l-3com.com/images/arrow-red-small.gif*/ left no-repeat; }

#nav ul li.active ul li a,
#nav ul li.sfhover ul li a { background: none; } /* Negated top level highlighting on sub levels */

#nav ul li ul li.sfhover a,
#nav ul li.item2 ul li.sfhover a,
#nav ul li.item247 ul li.sfhover a,
#nav ul li.item2 ul li.sfhover a:hover,
#nav ul li.item247 ul li.sfhover a:hover,
#nav ul li.active ul li a:hover,
#nav ul li ul li a:hover,
#nav ul li.item2 ul li a:hover,
#nav ul li.item247 ul li a:hover  { background: #ECECEC; }

#nav ul li ul li ul { /* Begin Third Level Lists */
	position: absolute;
	background: #ECECEC;
	width: 250px;
	margin: -26px 0 0 250px; /* Adjust -1em to fit the height of a list item */
	padding: 0;
	left: -9999em;
  z-index: 999;
  border: 1px solid #939492;
}
#nav ul li.item2 ul li ul { margin-left: 250px; }
#nav ul li.item8 ul li ul,
#nav ul li.item247 ul li ul { margin-left: -252px; margin-top: -27px; }

#nav ul li ul li ul li {
	float: left;
	margin: 0;
	padding: 0;
	width: 250px;
}
#nav ul li ul li ul a {
	display: block;
	margin: 0;
	padding: 0;
	width: 250px;
}

#nav ul li.item2 ul li.sfhover ul li a:hover,
#nav ul li.item8 ul li.sfhover ul li a:hover,
#nav ul li.item247 ul li.sfhover ul li a:hover,
#nav ul li.active ul li ul li a:hover,
#nav ul li ul li ul li a:hover,
#nav ul li.item2 ul li ul li a:hover,
#nav ul li.item8 ul li ul li a:hover ,
#nav ul li.item247 ul li ul li a:hover  { background: #cacad3; }

#nav li:hover { position: static; background-position: 0 0; } /* Fixes IE sticky dropdowns somehow? */
#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li.sfhover ul ul, #nav li.sfhover ul ul ul { left: -999em; }
#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul, #nav li li li.sfhover ul { left: auto; }

/*
#nav ul li.item3 ul { position: absolute; background: none; width: auto; height: auto; margin: 0 0 0 -1px; padding: 0; border: 0; }

#nav ul li.item3 ul li { float: left; margin: 0; padding: 0; width: auto; }
#nav ul li.item3 ul li a { width: auto; padding: 0; width: auto; height: auto; text-decoration: none; }

#nav ul li.item3 ul li table.nav-table {
  border: 1px solid #939492;
  border-top: 0;
  background: #FFFFFF;
  width: auto;
  padding: 0 8px;
}
#nav ul li.item3 ul li table.nav-table td { width: 160px; padding: 13px 20px 13px 13px; text-align: left; vertical-align: top; font-size: 12px; text-decoration: none; }
#nav ul li.item3 ul li table.nav-table td p { margin: 0; padding: 0; line-height: normal; }
#nav ul li.item3 ul li table.nav-table td.link { width: 88px; padding: 13px 3px 13px 0; font-size: 13px; }
#nav ul li.item3 ul li table.nav-table td.link.first { padding-left: 13px; }
#nav ul li.item3 ul li table.nav-table td.link.last { padding-right: 13px; }
#nav ul li.item3 ul li table.nav-table td.link img { border-bottom: 3px solid #FFFFFF; }
#nav ul li.item3 ul li table.nav-table td.link a { display: block; background: #232649; color: #FFFFFF; text-decoration: none; padding: 0; line-height: 1; }
#nav ul li.item3 ul li table.nav-table td.link b,
#nav ul li.item3 ul li table.nav-table td.link strong { display: block; padding: 6px 0 6px 3px; font-weight: normal; height: 30px; font-size: 11px; }
#nav ul li.item3 ul li table.nav-table td.link a:hover { background: #404682; }
#nav ul li.item3 ul li table.nav-table h3 { font-size: 16px; color: #000000; font-weight: bold; margin: 0 0 10px 0; padding: 0; line-height: normal; }
*/


#nav ul li.item3 ul { position: absolute; background: none; width: auto; height: auto; margin: 0 0 0 -1px; padding: 0; border: 0; }
#nav ul li.item3 ul li { float: left; margin: 0; padding: 0; width: auto; }
#nav ul li.item3 ul li a { }

#nav ul li.item3 ul li { 
  border: 1px solid #939492; 
  border-top: 0; 
  padding: 5px;
  background: #FFFFFF;
}
#nav ul li.item3 ul li .link-block {
  float: left;
}
#nav ul li.item3 ul li .link-block img { padding-top: 5px; margin: 0 0 5px 0; }
#nav ul li.item3 ul li.sfHover .link-block a,
#nav ul li.item3 ul li .link-block a {
  display: block;
  width: auto;
  height: 111px;
  padding: 0 5px;
  background: #FFFFFF;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
}
#nav ul li.item3 ul li .link-block a:hover { background: #ececec; }
#nav ul li.item3 ul li .link-block a strong { font-weight: normal; }




/* Top Nav */

#top { 
  float: right;
  color: #4f4e4e;
  font-size: 1.2em;
}
#top ul { 
	float: right;
	margin: 0;
	padding: 4px 10px 0 0;
	list-style: none;
}
#top ul li {
	float: left;
	margin: 0;
	padding: 0;
}
#top ul li .separator { padding: 0 7px; } 
#top ul li a { color: #3F4480; text-decoration: underline; }
#top ul li a:hover { color: #4f4e4e; text-decoration: none; }
#top ul ul { display: none; }

form.search { float: right; }
form.search label { display: none; }
form.search input { float: left; margin: 0 5px 0 0; }
form.search input.inputbox { 
  width: 230px; 
  padding: 3px;
  color: #4f4e4e; 
  font-size: 1.1em; 
  border: 1px solid #e6e6e6; 
 }
form.search input.button { border: 0; padding: 0; }


/* Layout */

#wrap {
  margin: 0 auto;
  width: 996px;
  text-align: center;
}
#text-reset { text-align: left; }

#main-top { width: 996px; height: 38px; overflow: hidden; background: url('../../images/bg-main-top.gif')/*tpa=http://www.l-3com.com/images/bg-main-top.gif*/ bottom left no-repeat; }
#main { width: 996px; background: url('../../images/bg-main.gif')/*tpa=http://www.l-3com.com/images/bg-main.gif*/ top left repeat-y; }
#main-padding { margin: 0 15px; }
#main-bottom { width: 996px; height: 33px; overflow: hidden; background: url('../../images/bg-main-bottom.gif')/*tpa=http://www.l-3com.com/images/bg-main-bottom.gif*/ top left no-repeat; }

#header { height: 90px; }
#logo { position: absolute; margin: 0 0 0 28px; z-index: 450; display: block; }

#slideshow {
  width: 966px;
  height: 360px;
  overflow: hidden;
  margin-bottom: 20px;
}
.slide {
  width: 966px;
  height: 360px;
  overflow: hidden;
  position: relative;
  background-position: top left;
  background-repeat: no-repeat;
}
/*
.slide-text {
  position: relative;
  z-index: 50;
  width: 425px;
  height: 280px;
  margin: -348px 0 0 540px;
  padding: 0;
  color: #FFFFFF;
  font-size: 1.2em;
  line-height: 1.5em;
  font-weight: bold;
}
*/

.slide-text { 
  width: 966px;
  position: absolute;
  z-index: 500;
  top: 25px;
}

h2.arrow,
a.slide-title,
.slide-text h2 { 
  margin: 0 0 5px 0;
  padding: 0 0 5px 25px;
  font-weight: normal;
  font-size: 1.8em;
  line-height: 1.3em;
  color: #FFFFFF;
  background: url('../../images/arrow-red-large.png')/*tpa=http://www.l-3com.com/images/arrow-red-large.png*/ 0px 4px no-repeat;
  /*border-bottom: 1px solid #a4a79a;*/
  /*font-family: "Avenir LT W01 65 Medium", Arial, sans-serif;*/
  /*font-family: "Linotype Univers W01 Cn", Arial, sans-serif;*/
  font-family: Arial, sans-serif;
	height: 60px;
  font-weight: bold;
  text-decoration: none;
}
h2.arrow { color: #000000; margin-bottom: 10px; height:auto; }


.slide-text h2,
a.slide-title { 
  float: right;
  display: block;
  margin: 0; 
  padding: 0; 
  width: 370px;
  height: auto; 
  background: url('../../images/stories/home-slideshow/bg-title.png')/*tpa=http://www.l-3com.com/images/stories/home-slideshow/bg-title.png*/; 
}
a.slide-title:hover { background: #000000; }

.slide-text h2 .large,
a.slide-title .large { line-height: inherit; }

.slide-text h2.left { left: 0; right: auto; }

a.slide-title strong,
a.slide-title b,
.slide-text h2 strong,
.slide-text h2 b { 
  display: block;
  font-weight: normal;
  padding: 10px 15px 10px 35px;
  margin: 0;
  background: url('../../images/slideshow-arrow.png')/*tpa=http://www.l-3com.com/images/slideshow-arrow.png*/ 0px 0px no-repeat;
}

.slide-text h3 { 
  margin: 0 0 10px 0;
  padding: 10px 0 10px 0;
  font-size: 2.6em;
  line-height: 1;
  color: #FFFFFF;
  font-weight: normal;
  border-bottom: 1px solid #a4a79a;
  font-family: "Helvetica Neue W01 77 Bd Cn", Arial, sans-serif;
}

/*.slide-text p { padding: 0 15px 15px 0; }*/
.slide-text .join-button { position:absolute; bottom: 60px; right: 20px; }

#slideshow-container { position: relative; }

div#slideshow-navigation {
  width: 966px;
  text-align: right;
  position: absolute;
  z-index: 600;
  right: 10px;
  margin: 320px 0 0 0;
  padding: 0;
}

#next-slide,
#previous-slide,
#pager-items,
#pager-items li { display: inline; }

ul#pager-items { margin: 0 5px; padding: 0; list-style: none; }
ul#pager-items li { margin: 0; padding: 0; list-style: none; }
ul#pager-items img {
  width: 20px;
  height: 19px;
  background: url('../../images/slideshow/pager.png')/*tpa=http://www.l-3com.com/images/slideshow/pager.png*/ top left no-repeat;
}

ul#pager-items a:hover img { background: url('../../images/slideshow/pager-hover.png')/*tpa=http://www.l-3com.com/images/slideshow/pager-hover.png*/ top left no-repeat; }
ul#pager-items .activeSlide a:hover img,
ul#pager-items .activeSlide img { background: url('../../images/slideshow/pager-active.png')/*tpa=http://www.l-3com.com/images/slideshow/pager-active.png*/ top left no-repeat; }

#next-slide { cursor: pointer; }
#previous-slide { cursor: pointer; }


/*
div#slideshow-navigation img { cursor: pointer; }
#next-slide { margin-right: 20px;  }

img#control-slide { width: 15px; height: 16px; margin: 0 10px 0 10px; }
img.pause { background: url('/images/pause.png') top left no-repeat; }
img.pause.paused { background: none; background: url('/images/play.png') top left no-repeat; }

table#slideshow-navigation { 
  width: 966px;
  position: relative;
  z-index: 100;
  margin: -39px 0 40px 0;
  height: 86px;
  overflow: hidden;
}
table#slideshow-navigation td { 
  padding: 0;
  text-align: center;
  vertical-align: bottom;
  background: url('/images/bg-slide-nav-sprite.png') bottom center no-repeat;
}
table#slideshow-navigation td a {
  display: block;
  outline: none; 
  border: 0; 
  height: 47px;
  padding: 0;
  font-size: 2.2em;  
  font-family: "Helvetica Neue W01 77 Bd Cn", Arial, sans-serif;
  color: #666666;
  text-decoration: none;
  background: url('/images/bg-slide-nav-sprite.png') bottom left no-repeat;
}
table#slideshow-navigation b,
table#slideshow-navigation strong { 
  display: block;
  font-weight: normal;
  padding: 11px 40px 10px 40px;
  background: url('/images/bg-slide-nav-sprite.png') bottom right no-repeat;
}

table#slideshow-navigation td.activeSlide { background: url('/images/bg-slide-nav-sprite.png') top center no-repeat; }
table#slideshow-navigation td.activeSlide a { color: #FFFFFF; background: url('/images/bg-slide-nav-sprite.png') 0px -39px no-repeat; }
table#slideshow-navigation td.activeSlide strong { background: url('/images/bg-slide-nav-sprite.png') right -39px no-repeat; }

*/
#content {
  font-size: 1.2em;
  line-height: 1.6em;
  color: #222222;
}

.home-content { background: url('../../images/bg-home-columns.gif')/*tpa=http://www.l-3com.com/images/bg-home-columns.gif*/ 320px 0px repeat-y; }

.home-column {
  float: left;
  width: 320px;
}
.home-column .padding { padding: 0 10px; }

.home-column-block .press-row-3 { display: none; }
.home-column-block.webcasts p { padding: 0 0 5px 0; }
#home-right .home-column-block.webcasts hr { margin: 0 0 5px 0; }

#home-left .padding { padding: 0 10px 0 0; }
#home-middle { width: 321px; }
#home-right .padding { padding: 0 0 0 10px; }

#home-right-column {
  float: left;
  width: 641px;
  background: url('../../images/bg-home-columns-alt.gif')/*tpa=http://www.l-3com.com/images/bg-home-columns-alt.gif*/ 321px 40px no-repeat;
}

#home-right-column h2 {
  margin: 0 0 15px 10px;
  padding: 0 0 10px 20px;
  font-size: 1.5em;
  line-height: 1;
  font-weight: normal;
  color: #000000;
  border-bottom: 2px solid #c0c0c0;
  background: url('../../images/arrow-red.gif')/*tpa=http://www.l-3com.com/images/arrow-red.gif*/ 0px 3px no-repeat #FFFFFF;
  /*font-family: "Avenir LT W01 65 Medium", Arial, sans-serif;  */
  font-family: "Linotype Univers W01 Cn", Arial, sans-serif;
}
.home-column h2 {
  margin: 0 0 15px 0;
  padding: 0 0 10px 20px;
  font-size: 1.5em;
  line-height: 1;
  font-weight: normal;
  color: #000000;
  border-bottom: 2px solid #c0c0c0;
  background: url('../../images/arrow-red.gif')/*tpa=http://www.l-3com.com/images/arrow-red.gif*/ 0px 3px no-repeat;
  /*font-family: "Avenir LT W01 65 Medium", Arial, sans-serif;  */
  font-family: "Linotype Univers W01 Cn", Arial, sans-serif;
}
#home-right h2 { margin-left: 0; }
#home-right hr { margin-bottom: 0; }

.ucd_sec_cat,
.home-column h3 {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 1.3em;
  line-height: normal;
  color: #000000;
  font-weight: normal;
  font-family: "Helvetica Neue W01 77 Bd Cn", Arial, sans-serif;  
}
.ucd_sec_cat { display: block; }
.home-column#home-left h3 { font-size: 1.5em; }

.home-column-block { padding: 0 15px 0 20px; color: #000000; background: url('../../images/bg-home-column-body.gif')/*tpa=http://www.l-3com.com/images/bg-home-column-body.gif*/ top left repeat-y; }
.home-column-block table { padding: 0; margin: 0; }
.home-column-block table td { padding: 0; }
#home-middle .home-column-block { padding: 0 15px 0 20px; color: #000000; background: url('../../images/bg-home-column-middle-body.gif')/*tpa=http://www.l-3com.com/images/bg-home-column-middle-body.gif*/ top left repeat-y; }


.home-column-wrapper-short .home-column-block,
.home-column-wrapper-no-wrap .home-column-block,
.home-column-wrapper-featured-video .home-column-block { background: none; }

.home-column-block.short { padding-bottom: 5px; }

.home-column-block.info-list p { padding: 0 0 7px 0; }
.home-column-block.info-list img { vertical-align: middle; margin: 0 10px 0 0; }
.home-column-block.info-list a { font-weight: bold; padding: 0 15px 0 0; color: #222222; text-decoration: none; background: url('../../images/arrow-red-small.gif')/*tpa=http://www.l-3com.com/images/arrow-red-small.gif*/ right no-repeat; }
.home-column-block.info-list a:hover { text-decoration: underline; }

.box {
  padding: 10px;
  border: 1px solid #e3e3e3; 
  background: url('../../images/bg-gradient.gif')/*tpa=http://www.l-3com.com/images/bg-gradient.gif*/ bottom repeat-x;
}

#home-left .box { margin: 0; padding: 15px 10px; } 
#home-left .box.short,
.box.short {
  height: 65px;
  margin: 0 0 15px 0;
  padding: 0;
  overflow: hidden;
  border: 0;
  background: url('../../images/bg-gradient-box-short.gif')/*tpa=http://www.l-3com.com/images/bg-gradient-box-short.gif*/ top no-repeat;
}
.featured-video .box {
  width: 266px;
  height: 135px;
  margin: 0 0 15px 0;
  padding: 0;
  border: 0;
  background: url('../../images/bg-featured-video.gif')/*tpa=http://www.l-3com.com/images/bg-featured-video.gif*/ top no-repeat;
}
.box.short form { padding: 15px 10px 0 10px; }

table.box { padding: 0; border-collapse: separate; width:695px; }
table.box td { padding: 10px;  }

.box-corners.module-top { background:url('../../images/bg-interior-corners-top.gif')/*tpa=http://www.l-3com.com/images/bg-interior-corners-top.gif*/; height:10px;}
.box-corners.module-middle { border-left: solid 1px #e4e4e4; border-right: solid 1px #e4e4e4; }
.box-corners.module-bottom { background:url('../../images/bg-interior-corners-bottom.gif')/*tpa=http://www.l-3com.com/images/bg-interior-corners-bottom.gif*/; height:15px; margin-bottom: 15px; }
.box-corners.module-middle h2.arrow { padding-top: 0; background-position: 8px 1px; padding-left: 30px; margin-left: 215px  }
.box-corners.module-middle p { margin: 0 0 0 215px; padding: 0 0 10px 0; }
.box-corners.module-middle img { margin-bottom: 10px; }

.box-corners.module-top, .box-corners .module-top-bottom { width:695px;}
.box-corners.module-middle { width:693px; /* minus 2px because of border*/}
.box-corners.module-middle-padding { padding: 15px 15px 0 15px; }

.media-trade-shows h3 { display: none; }
#main-content .media-trade-shows table td { border: 0; padding: 0; }
.media-trade-shows .mod_events_latest_date { }
.media-trade-shows .clear { padding: 0 0 2px 0; }

.media-trade-shows.content-module.module-middle { float: left; width: 335px; padding: 0 0 0 10px; }
.media-trade-shows.major.content-module.module-middle { float: right; width: 340px;}

.home-column#home-middle .box h3 { font-size: 1.6em }
#home-middle .box p { padding: 0; }
#home-middle .box a { color: #000000; text-decoration: none; }
#home-middle .box a:hover { color: #40406B; text-decoration: none; }

#home-left form { float: left; margin: 2px 0; }
#home-left select { float: left; width: 195px; border: 1px inset #e3e3eb; }
#home-left form a { float: left; margin: 3px 0 0 10px; display: block; }

#home-right .home-column-block.list { line-height: 1.5em; }
#home-right .home-column-block.list a { color: #000000; text-decoration: none; }
#home-right .home-column-block.list a:hover { color: #000000; text-decoration: underline; }
#home-right .home-column-block.list hr { margin-right: 10px; }

.home-column-block.list p { padding: 0 0 5px 0; }
.home-column-block.list hr { margin-bottom: 5px; margin-right: 10px; }

#home-middle .home-column-block.list { line-height: 1.8em; }
#home-middle .home-column-block.list p { padding: 0 0 10px 0; }
#home-middle .home-column-block.list hr { margin-bottom: 10px; }

.home-column-block.list img { line-height: 0; vertical-align: middle; }

/* Ultimate Content Display module CSS */
div.ucd {} 
ul.ucd_list {margin: 0; padding: 0; list-style: none;}
ul.ucd_list li.ucd_item { padding: 5px 0 7px 0; margin: 0 0 0 0; border-bottom: 1px solid #ececec; } /* List item styling */
/*
ul.ucd_list li.ucd_item a { color: #222222; text-decoration: none; }
ul.ucd_list li.ucd_item a:hover { text-decoration: underline; }
*/
ul.ucd_list li.row0 { background:none;}
ul.ucd_list li.row1 { background:none;}
ul.ucd_list li.ucd_item div.ucd_title { float: none; background: none; margin: 0; padding: 0; }
ul.ucd_list li.ucd_item span.ucd_date { font-weight: bold;}
/*ul.ucd_list li.ucd_item span.ucd_sec_cat { display: none;}*/
ul.ucd_list li.ucd_item div.ucd_introtext { margin: 0; padding: 0; }
ul.ucd_list li.ucd_item a.ucd_readon { display: none; }
ul.ucd_list li.ucd_item div.ucd_introtext p { margin:0; padding:0; }


.interior-content { background: url('../../images/bg-interior-content.gif')/*tpa=http://www.l-3com.com/images/bg-interior-content.gif*/ left repeat-y; }

#interior-left {
  float: left;
  width: 200px;
}
/*#interior-left .padding { padding: 10px; }*/

#interior-left ul.menu {
  margin: 0 5px 30px 5px;
  padding: 0;
  list-style: none;
  float: left;
}
#interior-left ul.menu li {
  float: left;
  width: 190px;
  margin: 0;
  padding: 0;
  list-style: none;
}
#interior-left ul.menu li a {
  display: block;
  margin: 0 0 5px 0;
  padding: 5px 10px;
  font-size: 1.4em;
  line-height: 1;
  font-weight: normal;
  color: #242424;
  border: 0;
  background: none;
  text-decoration: none;
}

#interior-left ul.menu li a { display: none; }
#interior-left ul.menu li ul li a { display: block; }

/*
#interior-left ul.menu li.item2 a,
#interior-left ul.menu li.item3 a,
#interior-left ul.menu li.item4 a,
#interior-left ul.menu li.item5 a,
#interior-left ul.menu li.item6 a,
#interior-left ul.menu li.item7 a,
#interior-left ul.menu li.item8 a, 
#interior-left ul.menu li.item43 a { display: none; }

#interior-left ul.menu li.item2 ul li a,
#interior-left ul.menu li.item3 ul li a,
#interior-left ul.menu li.item4 ul li a,
#interior-left ul.menu li.item5 ul li a,
#interior-left ul.menu li.item6 ul li a,
#interior-left ul.menu li.item7 ul li a,
#interior-left ul.menu li.item8 ul li a,
#interior-left ul.menu li.item43 ul li a { display: block; }
*/

#interior-left ul.menu li ul {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
}
#interior-left ul.menu li ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}
#interior-left ul.menu li ul li a {
  display: block;
  margin: 0 0 1px 0;
  padding: 8px 10px;
  font-size: 1em;
  line-height: 1;
  font-weight: normal;
  text-transform: uppercase;
  color: #2e2c2d;
  border: 0;
  text-decoration: none;
  background: #d8dee6;
}
#interior-left ul.menu li ul li a:hover { background: #bcc7d5; }

#interior-left ul.menu.highlight li ul li.active a,
#interior-left ul.menu.highlight li ul li.active a:hover { background: #24254F; color: #FFFFFF; }

#interior-left ul.menu li ul li.active ul li a,
#interior-left ul.menu.highlight li ul li.active ul li a,
#interior-left ul.menu li ul li ul li a {
  display: block;
  margin: 0 0 1px 0;
  /*padding: 8px 10px;*/
	padding: 8px 10px 8px 20px;
  font-size: 1em;
  line-height: 1;
  font-weight: normal;
  text-transform: none;
  color: #2e2c2d;
  border: 0;
  text-decoration: none;
  background: #e8eff8;
}
#interior-left ul.menu li ul li.active ul li a:hover,
#interior-left ul.menu.highlight li ul li.active ul li a:hover,
#interior-left ul.menu li ul li ul li a:hover { background: #d7e0ec; color: #2e2c2d; }


#interior-left ul.menu li ul li.active ul li ul li a,
#interior-left ul.menu.highlight li ul li.active ul li ul li a,
#interior-left ul.menu li ul li ul li ul li a {
  display: block;
  margin: 0 0 1px 0;
  /*padding: 8px 10px;*/
	padding: 8px 10px 8px 30px;
  font-size: 1em;
  line-height: 1;
  font-weight: normal;
  text-transform: none;
  color: #2e2c2d;
  border: 0;
  text-decoration: none;
  background: #EFF6FF;
}
#interior-left ul.menu li ul li ul li ul li a:hover { background: #d7e0ec; }

#interior-left h3 { margin: 0; padding: 0 0 10px 0; clear: both; font-family: "Helvetica Neue W01 77 Bd Cn", Arial, sans-serif; font-size: 1.4em; }


.home-column-block-top { display: block; width: 303px; height: 10px; margin: 5px 0 0 0; overflow: hidden; background: url('../../images/bg-home-column-top.gif.png')/*tpa=http://www.l-3com.com/images/bg-home-column-top.gif*/ bottom left no-repeat; }
.home-column-block-bottom { display: block; width: 303px; height: 14px; margin: 0 0 15px 0; overflow: hidden; background: url('../../images/bg-home-column-bottom.gif')/*tpa=http://www.l-3com.com/images/bg-home-column-bottom.gif*/ top left no-repeat; }

#home-middle .home-column-block-top { display: block; width: 303px; height: 10px; margin: 5px 0 0 0; overflow: hidden; background: url('../../images/bg-home-column-middle-top.gif')/*tpa=http://www.l-3com.com/images/bg-home-column-middle-top.gif*/ bottom left no-repeat; }
#home-middle .home-column-block-bottom { display: block; width: 303px; height: 14px; margin: 0 0 10px 0; overflow: hidden; background: url('../../images/bg-home-column-middle-bottom.gif')/*tpa=http://www.l-3com.com/images/bg-home-column-middle-bottom.gif*/ top left no-repeat; }

.home-column-wrapper-short .home-column-block-top,
.home-column-wrapper-short .home-column-block-bottom,
.home-column-wrapper-no-wrap .home-column-block-top,
.home-column-wrapper-no-wrap .home-column-block-bottom,
.home-column-wrapper-featured-video .home-column-block-top,
.home-column-wrapper-featured-video .home-column-block-bottom,
.wrapper-blank .left-block-top,
.wrapper-blank .left-block-bottom { display: none; }

.left-block-top { display: block; width: 190px; height: 10px; margin: 5px 0 0 5px; overflow: hidden; background: url('../../images/bg-left-block-top.gif')/*tpa=http://www.l-3com.com/images/bg-left-block-top.gif*/ bottom left no-repeat; }
.left-block-bottom { display: block; width: 190px; height: 14px; margin: 0 0 30px 5px; overflow: hidden; background: url('../../images/bg-left-block-bottom.gif')/*tpa=http://www.l-3com.com/images/bg-left-block-bottom.gif*/ top left no-repeat; }

.left-block {
  padding: 0 10px;
  margin: 0 5px 0 5px;
  background: #FFFFFF;
  border: 1px solid #e2e2e2;
  border-top: 0;
  border-bottom: 0;
}
.left-block p { margin: 0; padding: 0 0 10px 0; }

.left-block.blank {
  padding: 0;
  margin: 0;
  background: none;
  border: 0;
}

#interior-right {
  float: right;
  width: 756px;
  padding: 0;
  position: relative;
}
#interior-right .padding { padding: 0; }

#banner { 
  border: 1px solid #e4e4e4; 
  padding: 7px; 
  background: url('../../images/bg-gradient.gif')/*tpa=http://www.l-3com.com/images/bg-gradient.gif*/ bottom repeat-x; 
  color: #999999;
  text-align: right;
  font-size: .89em;
}
#banner.right { float: right; margin: 0 0 15px 15px; }
#banner p { margin: 4px 0 0 0; padding: 0; }

.breadcrumbs {
  display: block;
  padding: 5px 10px 0 0px;
  margin-bottom: 10px;
}
.breadcrumbs img { vertical-align: middle; margin: 0 3px; }

#main-content { padding: 20px 30px; }

#interior-right ul {
  margin: 0 0 15px 15px;
  padding: 0;
  list-style: none;
}
#interior-right ul li {
  margin: 0 0 5px 0;
  padding: 0 0 0 10px;
  background: url('../../images/arrow-red-small.gif')/*tpa=http://www.l-3com.com/images/arrow-red-small.gif*/ 0px 6px no-repeat;
}
#interior-right ul ul { margin: 5px 0 0 15px; }

#interior-right .press-release-item ul { list-style: disc; text-align: left; }
#interior-right .press-release-item ul li { text-align: left; background: none; padding-left: 0; }

#interior-right ul li ul li  {
  margin: 0 0 0 10px;
  padding: 0;
  background: none;
  list-style: disc;
}
#interior-right ul ul ul { padding-bottom: 5px; }
#interior-right ul li ul li ul li {
  margin: 0 0 0 10px;
  padding: 0;
  background: none;
  list-style: circle;
}

#interior-right ul.col-2 {
  margin: 0 0 15px 15px;
  float: left;
  padding: 0;
  list-style: none;
}
#interior-right ul.col-2 li {
  float: left;
  width: 320px;
  margin: 0 0 5px 0;
  padding: 0 0 0 10px;
  background: url('../../images/arrow-red-small.gif')/*tpa=http://www.l-3com.com/images/arrow-red-small.gif*/ 0px 5px no-repeat;
}

.left-column-list,
.right-column-list { width: 320px; }
.left-column-list { float: left; }
.right-column-list { float: right; }

#footer { font-size: 1.1em; padding: 0 15px 15px 15px; color: #5a5959; }
#footer p { margin: 0; padding: 0 0 5px 0; }

.article_column.cols4 {
  float: left;
  width: 310px;
  padding: 0 20px 0 0;
}
table.category .sectiontableentry1 td,
table.category .sectiontableentry2 td { border-bottom: 1px solid #EFEFEF; padding: 5px;}
table.category .sectiontableentry2 td { background: #f2f2f2; }
table.category .sectiontableentry2.press-release-item td { background: #ffffff; }

.leading_separator { display: none; }

table.list { margin: 0 0 3px 0; padding: 0; border: 0; }
table.list img.l { margin: 0 10px 0 0; }
table th.title,
table.list th.title { color: #000000; font-size: 12px; font-weight: normal; background: #d8dee6; padding: 10px; text-align: left; vertical-align: middle; border-bottom: 3px solid #FFFFFF; }
table.list th.title h2 { color: #1A1B44; font-size: 1.4em; line-height: 1; margin: 0 0 5px 60px; padding: 0; line-height: normal; font-weight: bold; }
table.list th.title p { margin: 0 0 0 60px; padding: 0; }
#main-content table.list th.header { vertical-align: top; margin: 0; padding: 5px 10px; background: #F7F9FD; color: #000000; font-size: 12px; width: 15%; }
table.list td { margin: 0; padding: 10px; background: #FFFFFF; color: #000000; font-size: 12px; }
/*
table.list td a { color: #000000; text-decoration: none; }
table.list td a:hover { color: #000000; text-decoration: underline; }
*/
table.list th.products,
table.list td.products { width: 70%; }
table.list th.divisions { }
table.list td.divisions { width: 85%; }
/*
table.list td.divisions a { color: #000000; text-decoration: none; }
table.list td.divisions a:hover { color: #000000; text-decoration: underline; }
*/
#main-content table td.divisions,
#main-content table.list td.divisions { border-bottom: 0; }
table.list td.divisions p { margin: 0 0 0 10px; padding: 0 0 5px 0; }

/*table.list td.products ul { height: 150px; overflow: auto; }*/
#interior-right table.list td ul { margin: 0; padding: 0; }
#interior-right table.list td ul li { margin: 0 0 5px 0; padding: 0; background: 0; }

form.select-nav { margin: 15px 0 30px 0; }
form.select-nav select { width: 300px; border: 1px inset #e3e3eb; }

#main-content table.careers { background: #dcdcdc; width: auto; margin: 0 0 15px 0; }
#main-content table.careers td.image { padding: 1px; height: 170px; width: 222px; }
#main-content table.careers td.text { padding: 20px 10px 10px 30px; color: #000000; vertical-align: top; }
#main-content table.careers td.text h2 { font-size: 1.9em; margin: 0 0 10px 0; padding: 0; color: #000000; }
#main-content table.careers td.text h3 { font-size: 1.3em; margin: 0 0 10px 0; padding: 0; color: #1A1B44; }

.careers.module-middle-padding { height: 170px; overflow: hidden; }

#main-content table.locations { border-collapse: separate; border-spacing: 5px; margin: 0; }
#main-content table.locations td { padding: 5px; border: 1px solid #CCCCCC; }

#main-content table.career-options { margin: 0; clear: both; }
#main-content table.career-options td { padding: 20px 20px 20px 0; width: 50%; }

#main-content table.division-group { }
#main-content table.division-group th { padding: 10px; background: #ececec; font-size: 16px; }
#main-content table.division-group td { padding: 10px; border-bottom: 1px solid #ececec; vertical-align: top; }
#main-content table.division-group td.overview { }
#main-content table.division-group td.location { border-left: 1px solid #ececec; border-bottom: 0; width: 200px; }
#main-content table.division-group td.location p { margin: 0; padding: 0 0 15px 0; }

#main-content table.division-group p { margin: 0; padding: 0 0 5px 0; }
#interior-right table.division-group ul { margin: 0; }
#interior-right table.division-group ul li { line-height: normal; margin-bottom: 5px; background-position: 0px 3px; }

a#collapse-solutions { padding-left: 10px; }

table.sec-filings td { line-height: normal; }

#main-content .sec-form { border: 1px solid #CCCCCC; overflow: scroll; width: 690px; padding: 10px; }

#main-content .sec-form table{ font-size: 11px; }
#main-content .sec-form table td { line-height: normal; padding: 5px; border: 1px solid #000000; background: #FFFFFF; }

.sec-issuer { text-transform: uppercase; }

#main-content table.featured { background: #BCC7D5; height: 166px; border: 0; }
#main-content table.featured td.image { padding: 1px; }
#main-content table.featured td.text { padding: 40px 10px 10px 30px; color: #000000; vertical-align: top; }
#main-content table.featured td.text h2 { font-size: 1.9em; margin: 0 0 5px 0; padding: 0; color: #000000; }
#main-content table.featured td.text h3 { font-size: 1.3em; margin: 0 0 10px 0; padding: 0; color: #1A1B44; line-height: 1.4em; }

table.trade-show { margin: 0 0 5px 0; }
table.trade-show td { background: #d8dee6; padding: 10px; }
table.trade-show td h3 { margin: 0 0 10px 0; padding: 0; font-size: 1.8em; }
table.trade-show td h4 { margin: 0 0 10px 0; padding: 0; font-size: 1.3em;  }
table.trade-show td p { margin: 0 0 5px 0; padding: 0; }

#interior-right .trade-show-archive.major { float: right; position: relative; margin: -19px 1px 0 0; }

#interior-right .trade-show-archive ul { margin: 0; padding: 0; list-style: none; }
#interior-right .trade-show-archive ul li { 
  float: left; 
  width: 347px;
  margin: 0 0 5px 0; 
  padding: 0; 
  border: 0; 
  background: none; 
}
#interior-right .trade-show-archive .ucd_date { display: none; }
#interior-right .trade-show-archive a { 
  display: block; 
  padding: 7px 10px; 
  font-size: 1.1em; 
  text-align: left; 
  font-weight: bold;
  background: url('../../images/bg-button-rounded-wide.gif')/*tpa=http://www.l-3com.com/images/bg-button-rounded-wide.gif*/ top left no-repeat;
  text-decoration: none;
  /*border: 1px solid #D4D4D4;*/
}
#interior-right .trade-show-archive a:hover { font-weight: bold; background: url('../../images/bg-button-rounded-wide-hover.gif')/*tpa=http://www.l-3com.com/images/bg-button-rounded-wide-hover.gif*/ top left no-repeat; }

#main-content table.media-table { }
#main-content table.media-table th { background: #bcc7d5; border-right: 5px solid #FFFFFF; padding: 10px; font-size: 14px; }
#main-content table.media-table td { padding: 0; padding: 10px; border: 0; width: 50%; }
#interior-right table.media-table ul { margin: 0 0 15px 0; }
#interior-right table.media-table ul li { margin: 0 0 10px 0; }

#main-content table.media-table h3 { display: none; }

table.info { }
table.info th { vertical-align: middle; text-align: left; background: #bcc7d5; padding: 10px; font-size: 14px; }
table.info td { padding: 10px; }
#interior-right table.info ul { margin: 0 0 15px 0; }
#interior-right table.info ul li { margin: 0 0 10px 0; }

table.leading { 
  background: #ECECEC;
}


/* Joomla Things */

.article_separator,
.row_separator { display: none; }

.forme { font-weight: bold; }

.forme .error { clear: both; color: #ED2024; font-size: .89em; display: block; width: auto; padding: 2px 0 5px 0; line-height: 1; }

.forme label { font-weight: normal; padding: 0 10px 10px 0; float: left; display: block; width: 320px; color: #454545; line-height: normal; }

.forme input,
.forme select,
.forme textarea,
.forme button { float: left; border-color: #CCCCCC; margin-right: 10px; }

.forme textarea { width: 500px; height: 100px; }

.forme td { padding: 5px; }

.forme .radio,
.forme .check { display: block; clear: both; }

.thankyou input,
button.button,
.forme input#submit {
  display: block;
  padding: 0px;
  float: right;
  margin: 0; 
  width: 116px;
  height: 23px;
  color: #FFFFFF;
  font-weight: bold;
  border: 0;
  text-align: center;
  background: url('../../images/bg-button.gif')/*tpa=http://www.l-3com.com/images/bg-button.gif*/ top left;
}
.thankyou input { display: none; }

#next-rotate,
#previous-rotate { cursor: pointer; }

#interior-right .content-module.padding { padding: 5px; }

.testimonial-controls.module-middle-padding { padding: 6px 0 0 0; }
.testimonial-controls.module-middle-padding  #next-rotate {
  position: absolute;
  z-index: 150;
  margin-top: 54px;
  right: 45px;
}

.page-bio p { margin-left: 100px; }


/* Press Releases */
.press-release-item center li { text-align: left; }

#blank-wrapper {
  font-size: 1.2em;
  line-height: 1.6em;
  color: #222222;
  text-align: left;
  background: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
}


/* Trade Shows */

.blogmajor-trade-shows table { width: 100%; }

.blogtrade-shows .counter,
.blogmajor-trade-shows table tr { display: none; }
.blogmajor-trade-shows table tr.major-show { display: table-row; }

table tr.major-show td { background: #EFEFEF; }
.blogmajor-trade-shows table tr.major-show td { background: none; }

.ucdhome-trade-shows .ucd_date { display: none; }
.home-trade-shows ul.ucd_list li.ucd_item .ucd_title { font-weight: bold; padding: 0 0 10px 0; }

.ucdhome-trade-shows table tr { display: none; }
.ucdhome-trade-shows table tr.major-show { display: block; display: table-row; }

.ucdhome-trade-shows table tr.major-show td { background: none; line-height: normal; padding: 0 5px 5px 0; }
.ucdhome-trade-shows table td { vertical-align: top;  }


.blogtrade-shows tr.major-show.no-major-show td { display: none; }

/* Joomla Stuff */

.pagination {
  display: block;
  padding: 15px 0 15px 0;
  border-top: 1px solid #CCCCCC;
}
.solutions-az .pagination { border-top: 0; padding: 0; }

.pagination a,
.pagination span {
  display: block;
  float: left;
  padding: 2px 4px;
  margin: 0 3px 0 0;
  border: 1px solid #CCCCCC;
  text-decoration: none;
}
.pagination span { background: #FFFFFF; border: 1px solid #FFFFFF; }

.list-footer .limit { float: right; padding: 15px 0 0 0; }
.list-footer .limit select { margin-left: 5px; }
.list-footer .counter { display: none; }

#featured-press-release h3 { display: none; }
.press-date { font-weight: bold; display: block; }
#featured-press-release .press-date { position: absolute; bottom: 0; }
#featured-press-release .press-row-1 { position: relative; padding-bottom: 20px; }
#featured-press-release .press-title { font-size: 1.3em; margin: 0 0 10px 0; padding: 0; color: #1A1B44; line-height: 1.4em; font-weight: bold; }
#featured-press-release a.press-title { text-decoration: none; }
#featured-press-release a.press-title:hover { text-decoration: underline; }

#featured-press-release .press-row-2,
#featured-press-release .press-row-3,
#featured-press-release .press-row-4 { display: none; }

.media-table .moduletable.press-releases .press-row-1 { display: none; } /* Hides the first press release on the Media page, which is reserved for another part of the page */


#careers-slideshow {
  width: 695px;
  height: 268px;
  margin: 0 0 15px 0;
  text-align: right;
  line-height: 1;
  background: url('../../images/stories/careers-slides/bg-slides.gif')/*tpa=http://www.l-3com.com/images/stories/careers-slides/bg-slides.gif*/ top repeat-x #1d235a;
}
#careers-slideshow .moduletable { width: 695px !important;  }
#careers-slideshow .moduletable div { padding: 27px 27px 0 0; margin: 0 0 7px 0; }
#careers-slideshow img { margin: 0 0 0 20px; padding: 0; }
#careers-slideshow p { clear: both; padding: 0 27px 0 0; margin: 0; }
#careers-slideshow a { color: #FFFFFF; text-decoration: none; padding: 7px 0 5px 20px; background: url('../../images/stories/careers-slides/learn-more-arrow.gif')/*tpa=http://www.l-3com.com/images/stories/careers-slides/learn-more-arrow.gif*/ left no-repeat; }
#careers-slideshow a:hover { color: #e34854; }

#careers-slideshow-nav {
  position: absolute;
  margin: -36px 0 0 27px;
  z-index: 100;
}
#careers-slideshow-nav a {
  display: block;
  float: left;
  margin: 0 10px 0 0;
  padding: 3px 6px 1px 2px;
  font-weight: bold;
  text-align: left;
  line-height: 1;
  background: #562c53;
  color: #626587;
  text-decoration: none;
}
#careers-slideshow-nav a:hover { color: #FFFFFF; }
#careers-slideshow-nav a.activeSlide { background: #e34854; color: #FFFFFF; } 


table#careers-header {
  width: 695px;
  margin: 0 0 15px 0;
  line-height: 1;
  background: url('../../images/stories/careers-slides/bg-slides.gif')/*tpa=http://www.l-3com.com/images/stories/careers-slides/bg-slides.gif*/ top repeat-x #1d235a;
}
table#careers-header td { border: 0; padding: 27px 10px; }


.pop-up { 
  width: 600px;
  text-align: left;
  font-size: 1.2em;
  padding: 15px;
}
.pop-up p { margin: 0; padding: 0 0 15px 0; }
.pop-up li { margin: 0; padding: 0 0 15px 0; }

.investor-webcasts .moduletable h3 { display: none; }

.mod_events_latest_table { line-height: normal; }

.solutions-divisions p { margin: 0 0 8px 0; padding: 0; line-height: normal; }

.gks_main {
width:400px;
float:right;
clear:both;
font-size:12px;
}

.gks_main .padding {
background:#F9F9F9;
margin:15px 0 0;
padding:10px 8px;
}

.gks_chart {
position:relative;
height:154px;
width:auto;
clear:both;
margin-bottom:10px;
}

.gks_loader {
height:130px;
width:250px;
position:absolute;
z-index:0;
background:#fff;
text-align:center!important;
line-height:130px;
color:#aaa;
text-transform:uppercase;
}

.gks_chart img {
position:absolute;
z-index:1;
}

.gks_timeline {
position:absolute;
z-index:2;
height:154px;
width:250px;
background:transparent url(Unknown_83_filename)/*tpa=http://www.l-3com.com/templates/css/timeline.png*/ no-repeat 0 0;
margin-left:-3px;
}

.gks_change img {
vertical-align:middle;
margin:0 5px 0 0;
}

.gks_trigger {
float:left;
text-indent:-999em;
width:6px;
height:6px;
background:#ccc;
display:block;
margin:12px 0 0 4px;
}

.gks_value {
font-weight:700;
}

.gks_stock_name {
color:#458bd0;
}

.gks_stock {
color:#000;
font-weight:700;
line-height:1;
}

.gks_tooltip {
display:none;
position:absolute;
z-index:999;
border:1px solid #ddd;
min-height:154px;
width:500px;
font-size:1.4em;
line-height:1.6em;
background:#fff;
padding:10px;
}

.gks_tooltip span {
padding-right:5px;
}

.gks_tooltip_chart {
float:left;
width:250px;
height:154px;
position:relative;
}

.gks_tooltip_timeline {
position:absolute;
z-index:2;
height:154px;
width:250px;
top:0;
left:-3px;
background:transparent url(Unknown_83_filename)/*tpa=http://www.l-3com.com/templates/css/timeline.png*/ no-repeat 0 0;
}

.gks_tooltip_datas {
float:left;
width:220px;
margin:0 0 0 30px;
}

.gks_tooltip_datas h3 {
font-family:Georgia,serif;
font-size:18px;
font-weight:400;
padding:0 0 3px;
}

.gks_tooltip_datas sub {
color:#999;
line-height:16px;
}

.gks_tooltip_value {
display:block;
font-weight:700;
margin:30px 0 0;
}

.gks_tooltip_time,.gks_tooltip_change {
display:block;
}

fieldset.word { clear: both; }
.search_result .display p { display: none; }

/*
.ethics #interior-right ul.section-list { font-size: 1.4em; }
.ethics #interior-right ul.section-list li { background-position: 0px 6px; }
*/

.investor-web-casts h3,
.investor-web-casts hr { display: none; }
.investor-web-casts p { margin: 0 0 15px 0; padding: 0 10px 0 0; float: left; width: 330px; }
.investor-web-casts p.row3 { clear: both; }

#jevents_body .row-event strong { display: block; margin: 0 180px 0 90px; }

/* Press Releases */

#interior-right .press-release-item table { width: auto; font-size: 11px; }
#interior-right .press-release-item table td { padding: 2px; width: auto; line-height: normal; border: 0; }
#interior-right .press-release-item table td p { margin: 0; padding: 0; }
#interior-right .press-release-item table td.bwalignc {
    text-align: center;
}
#interior-right .press-release-item table td.bwalignl {
    text-align: left;
}
#interior-right .press-release-item table td.bwalignr {
    text-align: right;
}
#interior-right .press-release-item table td.bwcellpmargin {
    margin-bottom: 0;
    margin-top: 0;
}
#interior-right .press-release-item table td.bwdoublebottom {
    border-bottom: 2.25pt double #ECECEC;
}
#interior-right .press-release-item table td.bwlistitemmargb {
    margin-bottom: 10px;
}
#interior-right .press-release-item table td.bwnowrap {
    white-space: nowrap;
}
#interior-right .press-release-item table td.bwpadb1 {
    padding-bottom: 2px;
}
#interior-right .press-release-item table td.bwpadb3 {
    padding-bottom: 4px;
}
#interior-right .press-release-item table td.bwpadl0 {
    padding-left: 0;
}
#interior-right .press-release-item table td.bwpadl1 {
    padding-left: 5px;
}
#interior-right .press-release-item table td.bwpadl11 {
    padding-left: 55px;
}
#interior-right .press-release-item table td.bwpadl2 {
    padding-left: 10px;
}
#interior-right .press-release-item table td.bwpadl3 {
    padding-left: 15px;
}
#interior-right .press-release-item table td.bwpadl4 {
    padding-left: 20px;
}
#interior-right .press-release-item table td.bwpadl5 {
    padding-left: 25px;
}
#interior-right .press-release-item table td.bwpadl7 {
    padding-left: 35px;
}
#interior-right .press-release-item table td.bwpadr0 {
    padding-right: 0;
}
#interior-right .press-release-item table td.bwsinglebottom {
    border-bottom: 1pt solid #ECECEC;
}
#interior-right .press-release-item table td.bwtablemarginb {
    margin-bottom: 10px;
}
#interior-right .press-release-item table td.bwuline {
    text-decoration: underline;
}
#interior-right .press-release-item table td.bwvertalignb {
    vertical-align: bottom;
}
#interior-right .press-release-item table td.bwvertalignm {
    vertical-align: middle;
}
#interior-right .press-release-item table td.bwvertalignt {
    vertical-align: top;
}


/* Google Search Appliance */

div.google { margin: 0; padding: 0; border: 0; }
div.google form {
  border: 1px solid #CCCCCC; 
  padding: 10px; 
  margin: 0 0 35px 0; 
}

div.google form select#limit { display: none; }
div.google form td select#limit { display: inline; }
div.google a small { 
  color: #000000;
  text-decoration: none;
}
div.google a:hover small { text-decoration: none; }

div.google form input { margin: 0 10px 0 0; width: 350px; }
div.google form button {
  position: absolute;
  right: 40px;
  width: 100px;
  height: 25px;
  padding-right: 10px;
  color: #FFFFFF;
  font-weight: bold;
  background: url('../../images/bg-button-link-right.gif')/*tpa=http://www.l-3com.com/images/bg-button-link-right.gif*/ top left no-repeat;
}
div.google .g { margin: 0 0 2em 0; }
div.google .s span.url { color: #ED2024; }
div.google .l { float: none; }
div.google .s { margin: 0 0 5px 0; padding: 0; }

.google-pager {     
  border-top: 1px solid #CCCCCC;
  display: block;
  padding: 15px 0;
}
.google-pager .pagination { border: 0; padding: 0; }
.google-pager .links-pager { float: left; }
.google-pager .total-pager { float: right; padding-top: 4px; }

.google .suggest { display: none; }

blockquote.g { margin-left: 25px; }

.google-pager big { font-size: 1em; font-weight: bold; display: block; padding: 0 0 15px 0; }

#main-content table.as th { vertical-align: top; }
#main-content table.as td { border: 0; }


.accordion strong {
  font-weight: normal; 
  color: #3f4480;
  cursor: pointer;
  text-decoration: underline;
}
.accordion strong:hover { text-decoration: none; }
#interior-right .accordion li ul {
  list-style: none;
  margin: 0 0 15px 0;
  padding: 0;
}
#interior-right .accordion li ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}