/* version 7.100
Aug 25, 2010; Rae LaTulippe
Add .wsh_noBG to remove background images / color from body of print/email pages
Added default h5 styles
Added global styles
Adjusted nav, content and toolbar widths for default template
*/

html, body { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:12px;color:#000 }
td, th, p, dd, dt, input, select, textarea,.emailText, label { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:12px;}
/* Remove background image and colors  */
.wsh_noBG { background-image: none; background-color: #fff; margin: 10px;}



a {color:#14477A}

/* TEMPLATE LAYOUT	*/
#wsh_body {width: 970px; margin: auto; padding: 0; background-color: #e5e5e5; }
#wsh_container {width: 100%; margin: 0 auto; background-color: #fff; border-bottom: 1px solid #e5e5e5; color: #000; }
#wsh_top {width: 970px; background-color: #4F7BA8;}
#wsh_top h1 {padding: 0; margin: 0; font-size: 18px; }

#wsh_container #wsh_bread {background-color: #14477A; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; }
#wsh_bread {margin: 0; padding: 10px 15px; font-size: 11px; text-align:center}
#wsh_container #wsh_bread a {font-size: 11px;color:#fff;font-weight:bold;text-decoration:none;padding-right:15px}
#wsh_container #wsh_bread a:hover {font-size: 11px;color:#ADC2D6;font-weight:bold;text-decoration:none;padding-right:15px}
#wsh_container #wsh_bread a.on {font-size: 11px;color:#ADC2D6;font-weight:bold;text-decoration:none;padding-right:15px}

/*
#wsh_container #wsh_bread a:active {font-size: 11px;color:#ADC2D6;font-weight:bold;text-decoration:none;padding-right:15px}
#wsh_container #wsh_bread a:visited {font-size: 11px;color:#FFF;font-weight:bold;text-decoration:none;padding-right:15px}
*/

#wsh_leftNav {float: left; width: 175px; margin: 0; padding: 15px 15px 0 15px;}
#wsh_content {float: left; width: 520px;  min-height:480px; height:auto !important; border-left: 1px dashed #ccc; margin: 0;  padding: 15px 25px 15px 25px; line-height: 18px;} 
#wsh_content_large {float: left; width: 690px;  min-height:480px; height:auto !important; border-left: 1px dashed #ccc; margin: 0;  padding: 15px 25px 15px 25px; line-height: 18px;} 
#wsh_content h1 {margin: 0 0 15px 0; font-size: 16px;}
#wsh_rightCol {float: left; width: 170px;  margin: 0; padding: 15px 5px 0 0;} 
#wsh_footer {clear: both; color: #333; border-top: 1px solid #ccc; padding: 10px 15px; font-size: 11px; color: #999;} 

/* HEADERS */
h1 {font-size: 16px;}
h2 {font-size: 15px;}
h3 {font-size: 14px;}
h4 {font-size: 13px;}
h3 { border-bottom: 2px solid #4F7BA8; padding: 0; margin: 10px 0 5px 0; font-size: 14px; line-height: 22px; font-weight: bold; color: #333; }
h5 { padding: 0; margin: 10px 0 5px 0; font-size: 13px; font-weight: bold; color: #333; }

/* NAVIGATION STYLES (nav.cfm) */
ul#wshnav { margin:0; padding:0;}
ul#wshnav li {padding:6px 0 6px 0; list-style-type:none; margin:0;}
ul#wshnav li.wsh_first {padding:0 0 8px 0;}
ul#wshnav ul.subnav {margin:0; padding:0;}
ul#wshnav ul.subnav li {padding:3px 0 0 20px; border:0px;}
ul#wshnav ul.subnav a {font-size:0.9em; line-height:0.9em; font-weight: normal;}
#wshnav a {font-weight:bold; color:#666; text-decoration:none;}
#wshnav a:hover {text-decoration:underline; color:#000;}
#wshnav a.selected {color:#000;}

/* DATA TABLES */
.dataTable { }
.dataTable td { border-bottom: 1px solid #ccc; }
.dataTable td, .dataTable th { padding: 5px 3px; }
.dataTable th { vertical-align:bottom; }
.dataTable caption a { color: #fff; }
.dataTableBottom td { border-bottom: 0px;}
/* to get rid of bottom line on tables, uncomment: */
/* td.dataTableBottom {border-bottom:0;} */
.dataTable .total td { font-weight: bold; }
.dataTable .special td { color: #CC9900; }
.dataTable .nostyle { border:0;vertical-align:top; }
.nostyle td { border:0; padding:2px; margin:0; }

/* BANKING TABLES */
.banking td {text-align:right; vertical-align:middle;}
.banking th {text-align:left; white-space:normal; vertical-align:bottom; background-color:transparent; border-bottom:2px #4F7BA8 solid;}
.banking .bankingSpacer { border: none;}
.banking th.dataTH { color:#FFFFFF; font-weight:bold; padding:4px 0 4px 8px; text-align:left;}
.banking td.bankingLabel,.banking th.bankingLabel, .MADetail td, .MADetail th { text-align:left; white-space:normal;}  
.banking td.bankLeft,.banking th.bankLeft {text-align:left; white-space:normal;}
td.bankingChange { font-weight:bold;}
.highSpacer td { height:25px; border:none;}
.banking td.bankCenter, th.bankCenter { text-align:right; white-space: nowrap;}
.banking th.dataTH { background-color:#4F7BA8; color:#FFFFFF; font-weight:bold; padding:4px 0 4px 8px; text-align:left;}
  
/* ALL TABLES */
th, caption { border-bottom: 2px solid #4F7BA8; font-weight: bold; text-align: left; padding: 5px 3px; }
.primary, .primary td, .primarybold, .primarybold td { vertical-align: top; }
.primarybold, .primarybold td { font-weight: bold; }
.alternate, .alternate td { background-color: #efefef; vertical-align: top; }
  
/* DROP DOWN MENUS */
.wsh_menuselect { padding-bottom:7px; }
.wsh_menuselect form {display: inline;}

/* Used on Dividends for the Calculator Block */
.focus { font-size: 12px; font-weight: bold; color: #000; border: 1px solid #000;}

/* HOME PAGE */
h3.wsh_home { padding: 0 0 5px 0; margin: 10px 0 5px 0; font-size: 13px; font-weight: bold; color: #333; }
h3 span { font-size: 11px; float: right;}
.wsh_minichart {background-color: #efefef; border: 1px solid #ddd; text-align: center; padding: 5px; margin-top: 5px;}
.wsh_minichart img {background-color: #fff; padding: 5px; border: 1px solid #ddd;}
.wsh_minichart form {display: inline;}
.wsh_minichart label {font-size: 11px;}

/* STOCK QUOTE */
#wsh_miniQuote {width:183px; border: 1px solid #ddd; margin-bottom: 15px; font-size: 11px;}
.wsh_miniQuote_Head {background-color:#4F7BA8; color: #fff; font-weight: bold; padding: 5px 8px;}
.wsh_miniQuote_Label {float: left; width: 75px; padding: 5px 8px;}
.wsh_miniQuote_Data {float: right; width: 76px; text-align: right; padding: 5px 8px;}
.wsh_miniQuote_Disc {padding: 5px 0 10px 8px}
.wsh_miniQuote_Date {padding: 3px 0 5px 8px;}
/* Valuation Changes up or down (Calculator, Stock quote, etc.) */
.pricedown { color: #900; }
.priceup{ color: #090; }

/* EXPAND/COLLAPSE (used on FAQ, Document  Display, Bios & Results)  */
.wsh_expCol_Title {background-color: #efefef; border-bottom: 2px solid #fff; }
.wsh_expCol_Title a {cursor: pointer;}
.wsh_expCol_Title_Off {padding: 5px 5px 0 0; clear: both;}
.wsh_expCol_Content  {padding: 8px 26px;}
.wsh_expCol_Content_Bottom { border-bottom: 1px solid #efefef; padding: 8px 26px 15px 26px;}
.wsh_expCol_All {text-align: right; padding-bottom: 5px;}
.wsh_expCol_All a {text-decoration: none;}
.wsh_expCol_All img, .wsh_expCol_Title img {vertical-align: middle; padding-right: 5px;}
img.wsh_expCol {float: left; padding: 8px 5px; vertical-align: middle;}
.wsh_expCol_Img {float: left; vertical-align: middle; width: 21px; }
.wsh_expCol_Img a {cursor: pointer;}
.wsh_expCol_Sec {margin-left: 21px; padding: 8px 8px 8px 5px;}
.wsh_expCol_Sec_NoMargin { padding: 8px 8px 8px 0;}
.wsh_expCol_Sec a {cursor: pointer;}

/* GOVERNANCE */
.wsh_bioPic {float: right; padding: 0 0 0 15px;}
.wsh_commMem {padding: 3px 0 3px 0;}
.wsh_commMem img {float: left; padding-right: 5px; vertical-align: middle; }
.wsh_commMem_Duty {float: left;}
.wsh_comm_Attend {padding: 3px 0 3px 15px; }
.wsh_bioIndent {margin-left: 21px}
/* Committees page */
td.wsh_expCol_Content {	padding: 8px 24px;} 
/* Document Display */
#wsh_govDoc  li {padding-top: 5px; padding-bottom: 5px;}


/* PRESS RELEASES */
h5.wsh_news { border-bottom: 2px solid #4F7BA8; padding-left: 4px; margin: 5px 0 5px 0; line-height: 22px; font-size: 12px; font-weight: bold; color: #333; }
#wsh_newsList .wsh_summary {margin: 0; padding: 8px 8px 0 0;} 
#wsh_newsList .wsh_more {padding: 5px 5px 8px 0; text-align: right;}
#wsh_newsList .filesize {padding: 5px; text-align: right;}
#wsh_newsList .wsh_file_Type {padding-right: 5px;}
#wsh_newsList .wsh_briefcase {padding-right: 8px; text-align: right; }
#wsh_newsList .wsh_briefcase img {vertical-align: text-top;}

/* EVENTS*/
#wsh_eventsList .wsh_add {margin: 0; padding: 0;} 
#wsh_eventsList .wsh_reminder {margin: 0; padding: 5px 0; font-size: 11px;}
#wsh_eventDetails .wsh_listen {display: block; height: 20px;}
#wsh_eventDetails .wsh_listen img {float: left; padding-right: 5px; vertical-align: top;}
#wsh_eventDetails .wsh_files {display: block; padding: 5px 0; height: 20px;}
#wsh_eventDetails .wsh_files img {padding-right: 5px; vertical-align: middle;}
#wsh_eventDetails .wsh_files .dataTable img {padding-right: 5px; vertical-align: middle;}
#wsh_eventDetails .wsh_contact {display: block;}

/* SEC */
#wsh_secList th {white-space:nowrap;}

/* 	QUARTERLY RESULTS */
#wsh_Results h5 {margin-top: 20px;} 
#wsh_Results td {padding-top: 5px;}
#wsh_Results .wsh_expCol_Title {clear: left;} 
#wsh_Results .wsh_icon {padding-right: 5px;}

/* ANNUAL/PROXY */
.wsh_ar_Box {border:1px solid #ccc; padding:8px;}
#wsh_ar_Archives img.wsh_view {float: left; padding-right: 5px; vertical-align: baseline;}

/* FAQS */
.wsh_faqIndent {margin-left: 21px}

/* CONTACT FORMS (used on event reg, contact us, confirm0 */
#wsh_ContactInfo td {padding: 5px 5px 5px 0;}
#wsh_ContactInfo .wsh_emailLabel {font-weight: bold; line-height: 20px;}
.optional { font-size:x-small; color:#888888;}

/* SEARCH RESULTS */
#wsh_search_Results th {white-space:nowrap;}

/* SHAREHOLDER TOOLS */
#toolbar {width:185px; font-size: 11px;}
#toolbar .ToolbarContent { padding:0; text-align: left; margin-bottom: 15px; border: 1px solid #ddd;}
#toolbar .ToolbarTitle {background-color:#4F7BA8; color: #fff; font-weight: bold; padding: 5px 8px;}
#toolbar ul {margin: 0; padding: 5px 8px;}
#toolbar ul li {padding:3px 0; margin: 0; list-style-type: none;}
#toolbar a { vertical-align: middle; text-decoration: none;}
#toolbar img {padding: 0 5px 2px 0; border: 0px; vertical-align: middle;}
#toolbar form {display: inline;} 

/* TOOLS LINKS */
.toolbar { text-decoration: none; }
.toolbar:hover { text-decoration: underline; }
.toolbarIcons { border:0px; vertical-align: middle; }

/* DISCLAIMERS */
.disclaimer { font-size: 11px; color: #999;}
.wsh_briefcaseLegend { padding: 10px 0; text-align: right;}
.wsh_briefcaseLegend img {vertical-align: middle;}
.wsh_briefcaseIcon {vertical-align: bottom;}
/* ERROR HANDLING */
.error, .required { color: #f00; }
.warn { color: #f60; }
label.error { font-weight: bolder; }

/* FILESIZE */
.filesize { font-size: 11px; color: #666; }

/* FORM */
.submit { border: 1px solid #999; color: #666; text-transform: capitalize; background-color: #eee; padding: 0px 2px; }
.wsh_searchBox {width: 110px; color: #aaa;}

#CompareSelector { margin: 0; padding-top: 5px; padding-bottom: 5px; background-color: #eee; border: 1px solid #ccc;}

/* CHART LOADING IMAGE */
img.chart { background: transparent url('../common/images/ani-LoadingChart.gif')/*tpa=http://www.ielp.com/common/images/ani-LoadingChart.gif*/ center center no-repeat;}

/* GENERAL STYLES */
.wsh_bold {font-weight: bold;}
.wsh_nowrap {white-space:nowrap;}
.wsh_alignL {text-align: left;}
.wsh_alignC {text-align: center;}
.wsh_alignR {text-align: right;}
.wsh_valignT {vertical-align: top;}
.wsh_valignM {vertical-align: middle;}
.wsh_valignB {vertical-align: bottom;}
.wsh_valignBL {vertical-align: baseline;}
.wsh_noTxtDec, .wsh_noTxtDec a, .wsh_noTxtDec img {text-decoration: none;}
.wsh_txtUL {text-decoration: underline;}
.wsh_txtCap {text-transform: capitalize;}
.wsh_noDisplay {display: none;}
.wsh_inline {display: none;}
.wsh_floatL {float: left;}
.wsh_floatR {float: right;}
.wsh_cursorPointer {cursor: pointer;}
.wsh_cursorAuto {cursor: auto;}


/* SPACING */
.wsh_p0 {padding: 0;}
.wsh_p5 {padding: 5px;}
.wsh_p10 {padding: 10px;}
.wsh_p15 {padding: 15px;}
.wsh_p20 {padding: 20px;}

.wsh_pt0 {padding-top: 0;}
.wsh_pt5 {padding-top: 5px;}
.wsh_pt10 {padding-top: 10px;}
.wsh_pt15 {padding-top: 15px;}
.wsh_pt20 {padding-top: 20px;}

.wsh_pr0 {padding-right: 0;}
.wsh_pr5 {padding-right: 5px;}
.wsh_pr10 {padding-right: 10px;}
.wsh_pr15 {padding-right: 15px;}
.wsh_pr20 {padding-right: 20px;}

.wsh_pb0 {padding-bottom: 0;}
.wsh_pb5 {padding-bottom: 5px;}
.wsh_pb10 {padding-bottom: 10px;}
.wsh_pb15 {padding-bottom: 15px;}
.wsh_pb20 {padding-bottom: 20px;}

.wsh_pl0 {padding-left: 0;}
.wsh_pl5 {padding-left: 5px;}
.wsh_pl10 {padding-left: 10px;}
.wsh_pl15 {padding-left: 15px;}
.wsh_pl20 {padding-left: 20px;}

.wsh_m0 {margin: 0;}
.wsh_m5 {margin: 5px;}
.wsh_m10 {margin: 10px;}
.wsh_m15 {margin: 15px;}
.wsh_m20 {margin: 20px;}

.wsh_mt0 {margin-top: 0;}
.wsh_mt5 {margin-top: 5px;}
.wsh_mt10 {margin-top: 10px;}
.wsh_mt15 {margin-top: 15px;}
.wsh_mt20 {margin-top: 20px;}

.wsh_mr0 {margin-right: 0;}
.wsh_mr5 {margin-right: 5px;}
.wsh_mr10 {margin-right: 10px;}
.wsh_mr15 {margin-right: 15px;}
.wsh_mr20 {margin-right: 20px;}

.wsh_mb0 {margin-bottom: 0;}
.wsh_mb5 {margin-bottom: 5px;}
.wsh_mb10 {margin-bottom: 10px;}
.wsh_mb15 {margin-bottom: 15px;}
.wsh_mb20 {margin-bottom: 20px;}

.wsh_ml0 {margin-left: 0;}
.wsh_ml5 {margin-left: 5px;}
.wsh_ml10 {margin-left: 10px;}
.wsh_ml15 {margin-left: 15px;}
.wsh_ml20 {margin-left: 20px;}

