/* Print CSS  Version 7.000
April 30, 2010; Rae LaTulippe
*/

/* REMOVE ELEMENTS */
#wsh_top, #wsh_bread, #wsh_leftNav, #menu_container, #wsh_rightCol, #wsh_toolbar, #toolbar, #wsh_footer, .noprint, .wsh_menuselect, #wsh_printTools, #wsh_printToolsBlog, .wsh_printToolsNext, .wsh_printLogo  {display:none;}
#wsh_printBody {margin: 0;}
.wsh_printContainer, .wsh_printTop, .wsh_printMiddle, .wsh_printBottom {height:auto; margin:0 auto; width:auto !important;}

/* turn off release header/footer */
.wsh_prinertOff {display: none;}

/* GENERAL PAGE PROPERTIES */
body, td, div { margin: 0; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #333333; line-height: 15px; } 
p 	{ margin-top: 8px; margin-bottom: 8px; } 
td { vertical-align: top; } 
li	{ margin-bottom: 5px; }
blockquote	{ margin-left: 15px; }
imput {line-height: 11px;}

/* HEADINGS */
h1, .wsh_printContainer	h1 { font-family: Arial, Helvetica, sans-serif; font-size: 24px; font-weight: normal; line-height: 28px; }
h2, .wsh_printContainer h2	{ font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; color: #333333; line-height: 22px; margin-bottom: 0; }
h3	{ font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; line-height: 18px; margin-bottom: 0; }
h4	{ font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold; text-transform: uppercase; line-height: 16px; margin-bottom: -0.4em; }
h5	{ font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; line-height: 15px; margin-bottom: -0.5em; color: #555555; }
h6	{ font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-transform: uppercase; line-height: 15px; margin-bottom: -0.4em; }


/* DATA TABLES */
.dataTable {}
.dataTable td { border-bottom: 1px solid #ccc; }
.dataTable td, .dataTable th { padding: 5px 3px; }
.dataTableBottom td { border-bottom: 0px;}
/* to get rid of bottom line on tables, uncomment: */
/* td.dataTableBottom {border-bottom:0;} */
.dataTable .total td { font-weight: bold; }
.dataTable .nostyle { border:0;vertical-align:top; }
.nostyle td { border:0; padding:2px; margin:0; }
.dataTable th, th { border-bottom: 1px solid #000; font-weight: bold; text-align: left; padding: 5px 3px 5px 0;}
caption {border-bottom: 1px solid #000; font-weight: bold; text-align: left; padding: 5px 3px 5px 0;}

/* HOME */
.wsh_minichart {background-color: #efefef; border: 1px solid #ddd; text-align: center; padding: 5px; margin-top: 5px;}
.wsh_minichart img {background-color: #fff; padding: 5px; border: 1px solid #ddd;}
.wsh_minichart form {display: inline;}
.wsh_minichart label {font-size: 11px;}
h3.wsh_home { padding: 0 0 5px 0; margin: 10px 0 5px 0; font-size: 13px; font-weight: bold; color: #333; }
h3 span { font-size: 11px; float: right;}

/* STOCK QUOTE */
#wsh_miniQuote {width:178px; border: 1px solid #ddd; margin-bottom: 15px; font-size: 11px;}
.wsh_miniQuote_Head {background-color:#0072bc; color: #fff; font-weight: bold; padding: 5px 8px;}
.wsh_miniQuote_Label {float: left; width: 73px; padding: 5px 8px;}
.wsh_miniQuote_Data {float: right; width: 73px; text-align: right; padding: 5px 8px;}
.wsh_miniQuote_Disc {padding: 5px 0 10px 8px}
/* Valuation Changes up or down (Calculator, Stock quote, etc.) */
.pricedown { color: #900; }
.priceup{ color: #090; }

/* EXPAND/COLLAPSE (used on FAQ, Document  Display, Bios & Results)  */
.wsh_expCol_Title {margin-top: 20px; }
.wsh_expCol_Title_Off {padding: 5px 0px 15px 0px; clear: both;}
.wsh_expCol_Content  {padding: 8px 0px 8px 0px; display: inline !important;}
.wsh_expCol_Content_Bottom {padding: 8px 0px 8px 0px; display: inline !important;}

/* GOVERNANCE */
.wsh_bioPic {float: right; padding: 0 0 0 15px;}
.wsh_commMem {padding: 3px 0 3px 0;}
.wsh_commMem img {float: left; padding-right: 5px; vertical-align: middle;}
.wsh_commMem_Duty {float: left;}
.wsh_comm_Attend {padding: 3px 0 3px 15px; }
.wsh_bioIndent {margin-left: 21px}
/* Committees page */
td.wsh_expCol_Content {	padding: 8px 24px;} 
/* Document Display */
#wsh_govDoc  li {padding-top: 5px; padding-bottom: 5px;}
.wsh_expCol_Content_Bottom { border-bottom: 1px solid #efefef; padding: 8px 26px 15px 26px;}

/* PRESS RELEASES */
h5.wsh_news {border-bottom: 1px solid #000; padding-left: 4px; margin: 5px 0 5px 0; line-height: 22px; font-size: 12px; font-weight: bold; color: #333; }
#wsh_newsList .filesize {padding: 5px; text-align: right;}
#wsh_newsList .wsh_file_Type {padding-right: 5px;}

/* EVENTS*/
#wsh_eventsList .wsh_add {margin: 0; padding: 0;} 
#wsh_eventsList .wsh_reminder {margin: 0; padding: 5px 0; font-size: 11px;}
#wsh_eventDetails .wsh_listen {display: block; height: 20px;}
#wsh_eventDetails .wsh_listen img {float: left; padding-right: 5px; vertical-align: top;}
#wsh_eventDetails .wsh_files {display: block; padding: 5px 0; height: 20px;}
#wsh_eventDetails .wsh_files img {padding-right: 5px; vertical-align: middle;}
#wsh_eventDetails .wsh_contact {display: block;}

/* SEC */
#wsh_secList th {white-space:nowrap;}

/* 	QUARTERLY RESULTS */
#wsh_Results h5 {margin-top: 20px;} 
#wsh_Results td {padding-top: 5px;}
#wsh_Results .wsh_icon {padding-right: 5px;}

/* ANNUAL/PROXY */
.wsh_ar_Box {border:1px solid #ccc; padding:8px;}
#wsh_ar_Archives img.wsh_view {float: left; padding-right: 5px; vertical-align: baseline;}
#sh_archive, #sh_archive h5 {display: inline !important;}
/* FAQS */
.wsh_faqIndent {margin-left: 21px}

/* CONTACT FORMS (used on event reg, contact us, confirm0 */
#wsh_ContactInfo td {padding: 5px 5px 5px 0;}
#wsh_ContactInfo .wsh_emailLabel {font-weight: bold; line-height: 20px;}
.optional { font-size:x-small; color:#888888;}

/* SEARCH RESULTS */
#wsh_search_Results th {white-space:nowrap;}

/* DISCLAIMERS */
.disclaimer { font-size: 11px; color: #999;}

/* ERROR HANDLING */
.error, .required { color: #f00; }
.warn { color: #f60; }
label.error { font-weight: bolder; }

/* FILESIZE */
.filesize { font-size: 11px; color: #666; }

/* GENERAL STYLES */
.wsh_bold {font-weight: bold;}
.wsh_nowrap {white-space:nowrap;}
.wsh_alignL {text-align: left;}
.wsh_alignC {text-align: center;}
.wsh_alignR {text-align: right;}
.wsh_valignT {vertical-align: top;}
.wsh_valignM {vertical-align: middle;}
.wsh_valignB {vertical-align: bottom;}
.wsh_valignBL {vertical-align: baseline;}
.wsh_noTxtDec, .wsh_noTxtDec a {text-decoration: none;}
.wsh_txtUL {text-decoration: underline;}
.wsh_txtCap {text-transform: capitalize;}
.wsh_noDisplay {display: none;}
.wsh_inline {display: none;}
.wsh_floatL {float: left;}
.wsh_floatR {float: right;}

/* SPACING */
.wsh_p0 {padding: 0;}
.wsh_p5 {padding: 5px;}
.wsh_p10 {padding: 10px;}
.wsh_p15 {padding: 15px;}
.wsh_p20 {padding: 20px;}

.wsh_pt0 {padding-top: 0;}
.wsh_pt5 {padding-top: 5px;}
.wsh_pt10 {padding-top: 10px;}
.wsh_pt15 {padding-top: 15px;}
.wsh_pt20 {padding-top: 20px;}

.wsh_pr0 {padding-right: 0;}
.wsh_pr5 {padding-right: 5px;}
.wsh_pr10 {padding-right: 10px;}
.wsh_pr15 {padding-right: 15px;}
.wsh_pr20 {padding-right: 20px;}

.wsh_pb0 {padding-bottom: 0;}
.wsh_pb5 {padding-bottom: 5px;}
.wsh_pb10 {padding-bottom: 10px;}
.wsh_pb15 {padding-bottom: 15px;}
.wsh_pb20 {padding-bottom: 20px;}

.wsh_pl0 {padding-left: 0;}
.wsh_pl5 {padding-left: 5px;}
.wsh_pl10 {padding-left: 10px;}
.wsh_pl15 {padding-left: 15px;}
.wsh_pl20 {padding-left: 20px;}

.wsh_m0 {margin: 0;}
.wsh_m5 {margin: 5px;}
.wsh_m10 {margin: 10px;}
.wsh_m15 {margin: 15px;}
.wsh_m20 {margin: 20px;}

.wsh_mt0 {margin-top: 0;}
.wsh_mt5 {margin-top: 5px;}
.wsh_mt10 {margin-top: 10px;}
.wsh_mt15 {margin-top: 15px;}
.wsh_mt20 {margin-top: 20px;}

.wsh_mr0 {margin-right: 0;}
.wsh_mr5 {margin-right: 5px;}
.wsh_mr10 {margin-right: 10px;}
.wsh_mr15 {margin-right: 15px;}
.wsh_mr20 {margin-right: 20px;}

.wsh_mb0 {margin-bottom: 0;}
.wsh_mb5 {margin-bottom: 5px;}
.wsh_mb10 {margin-bottom: 10px;}
.wsh_mb15 {margin-bottom: 15px;}
.wsh_mb20 {margin-bottom: 20px;}

.wsh_ml0 {margin-left: 0;}
.wsh_ml5 {margin-left: 5px;}
.wsh_ml10 {margin-left: 10px;}
.wsh_ml15 {margin-left: 15px;}
.wsh_ml20 {margin-left: 20px;}


/* Show URL 
a:link, a:visited {background: transparent; color:#333; text-decoration:none;}
a:link[href^="http://"]:after, a[href^="http://"]:visited:after {content: " (" attr(href) ") "; font-size: 11px;}
a[href^="http://"] {color:#000;}*/
