

/*****************************************************************************************************************
 
	1) RESETS, ANCHOR OUTLINE REMOVAL, HTML5 TAG SETUP, HR SETUP, FORM ELEMENT SETUP, IMAGE REPLACEMENT, CLEARFIX
	2) GLOBAL TAGS & PAGE WRAPPER
	3) HEADER
	4) NAVIGATION (UTILITY, MAIN, LEFT)
	5) CONTENT (1 COLUMN, 2 COLUMN, 3 COLUMN)
	6) FOOTER
	7) GLOBAL CLASSES
	8) IE6 SPECIFIC
	9) IE7 SPECIFIC

******************************************************************************************************************/
	

	
	 
	/* =====  RESETS, ANCHOR OUTLINE REMOVAL, HTML5 TAG SETUP, HR SETUP, FORM ELEMENT SETUP, CLEARFIX   ===== */
	
			html, body, a, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; border-collapse:collapse; border-spacing:0; }                  
			a:hover, a:active, a:focus, object, embed { outline:none; }
			article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }
			hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
			input, select { vertical-align:middle; } button { width:auto; overflow:visible; } button, input, select, textarea { margin:0; } label, input[type=button], input[type=submit], button { cursor:pointer; }input[type="radio"] { vertical-align:text-bottom; } input[type="checkbox"] { vertical-align:bottom; } .ie7 input[type="checkbox"] { vertical-align:baseline; } .ie6 input { vertical-align:text-bottom; } textarea { overflow:auto; }
			.clearfix:before, .clearfix:after { content:"\0020"; display:block; height:0; visibility:hidden; } .clearfix:after { clear:both; }
			.ie6 body { height:100%!important; }
	
	/* =====  GLOBAL TAGS & ELEMENTS   ===== */
			
			html { overflow-y:scroll; }
			body { margin : 0; background:#ffffff; font-size:.75em; font-family:"Lucida Grande", "Lucida", "Trebuchet MS", "Arial", sans-serif; color:#444; text-align:center; }
			select, input, textarea, button { font:99% sans-serif; }
			a { color:#999; text-decoration:none; }
			a:hover, a:focus, a:active { color:#666; text-decoration:underline; }
			h1,h2,h3,h4,h5,h6 { font-family: "Puritan", "Gill Sans", "Gill Sans MT", "Arial", sans-serif; }
			sub { vertical-align:sub; font-size:smaller; }
			sup { vertical-align:super; font-size:smaller; }
			small { font-size:85%; }
			strong, th { font-weight:bold; }
			td, td img { vertical-align:top; } 
			#page { text-align:left; }
			a#logo-oi { display:block; position:fixed; top:40px; left:20px; background:url('../../../uploadedimages/_Assets/images/logo-oi.png')/*tpa=http://www.o-i.com/uploadedimages/_Assets/images/logo-oi.png*/ no-repeat top left; width:136px; height:118px; z-index:300; }
			.ie8 a#logo-oi { width: 170px; }
			.ie6 a#logo-oi { width:136px; height:118px; position: relative; left: 0px; top: 0px; }
			a#logo-oi  span { display:none; }
			/*Page Background */
			#page-bkg {position:fixed; width:100%; height:100%; background-attachment: fixed; background-clip: border-box; background-origin: padding-box; background-position: top left; background-repeat: no-repeat; background-size: cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; margin: 0; padding: 0; }
			 .bkgImg {display:none;}
			@media only all and (max-width: 1280px) and (max-height: 800px) { /* Important: 1280x800px has the same ratio as 1440x900px */
			    #page-bkg { -moz-background-size: 1280px 800px; background-size: 1280px 800px;}
			}
			
            /* Page Background - IE specific */
            .ie8 #page-bkg, .ie7 #page-bkg {display:none;}
			.ie6 #page-bkg {position:absolute; display:none;}
			.ie8 .bkgImg, .ie7 .bkgImg, .ie6 .bkgImg {min-height: 100%; min-width: 1280px; width: 100%; height: auto; display:block; position: fixed; top: 0; left: 0;}
            .ie6 .bkgImg {position:absolute;}
            .ie6 .bkgImg {position:absolute;}
            @media screen and (max-width: 1024px) { /* Specific to this particular image */
	            .ie8 .bkgImg, .ie7 .bkgImg, .ie6 .bkgImg {left: 50%; margin-left: -512px;   /* 50% */}
            }
			
			.rounded-corners { -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; line-height: 0px; }
			.rounded-corners img {opacity: 0;}
			
	
	
	
	/* =====  NAVIGATION   ===== */
	
			
				#nav-main { width:170px; position:fixed; top:170px; left:20px; background:url('../../../uploadedimages/_Assets/images/backgrounds/bkg-mainnav.png')/*tpa=http://www.o-i.com/uploadedimages/_Assets/images/backgrounds/bkg-mainnav.png*/ no-repeat bottom left ; z-index:300; }				
				#nav-main.scroll { position: relative; float: left; top: 40px; background-position: 0px 130px; margin-bottom:85px; }
                #nav-main.scroll #logo-oi { position: relative; left: 0px; top: 0px; }
                .ie6 #nav-main, .ie6 #nav-main.scroll { position:absolute; }
                .ie6 #nav-main.scroll #logo-oi { position:absolute; }
				#nav-main ul { list-style:none; text-align:right; z-index:500; }
				#nav-main li { display:block; }
				#nav-main a { display:block; padding:6px 17px; font-size:110%; color:#336666; text-decoration:none; }
				#nav-main a:hover { text-decoration:none; }
				#nav-main li.on a {  }
				#nav-main span { display:block; }
				#nav-main .mainnav-off { position:relative; }
				#nav-main .mainnav-off a.current { background:#242929; color:#fff; }
				#nav-main .mainnav-off ul { display:none; opacity:0; position:absolute; top:0px; left:170px; width:1px; text-align:left; z-index:400; overflow:hidden; }
				.ie6 #nav-main .mainnav-off ul { left:16px; }
				.ie7 #nav-main .mainnav-off ul, .ie8 #nav-main .mainnav-off ul { left:169px; }
				#nav-main .mainnav-off ul a { color:#669999; padding:6px 10px; font-size:100%; background:url('../../../uploadedimages/_Assets/images/backgrounds/bkg-subnav.png')/*tpa=http://www.o-i.com/uploadedimages/_Assets/images/backgrounds/bkg-subnav.png*/ no-repeat bottom right; width:180px; }
				#nav-main .mainnav-off ul a:hover { color:#fff; }
				#nav-main .mainnav-on a.parent {background: url("../../../uploadedimages/_assets/images/icons/down-arrow.png")/*tpa=http://www.o-i.com/uploadedimages/_assets/images/icons/down-arrow.png*/ no-repeat 158px 14px transparent;}
				#nav-main .mainnav-on a.on { color:#333333;}
				#nav-main .mainnav-on ul { background:#ddedf0; border-top:1px solid #cbe3e9;  }
				#nav-main .mainnav-on ul a { color:#669999; padding:4px 20px; } 
				#nav-main .mainnav-on ul a:hover { color:#447879; }
				#navmain-search { padding:10px 0 22px 22px;  }
				#navmain-search fieldset { display:block; position:relative; background:url('../../../uploadedimages/_Assets/images/backgrounds/bkg-sitesearch.png')/*tpa=http://www.o-i.com/uploadedimages/_Assets/images/backgrounds/bkg-sitesearch.png*/ no-repeat top left; width:126px; height:22px; }
				.ie7 #navmain-search fieldset { width: 146px; }
				.label-sitesearch { position:absolute; top:0px; left:10px; display:block; line-height:22px; color:#999; }
				.input-sitesearch { position:absolute; top:0px; left:10px; display:block; height:20px; color:#666; background:none; width:87px; border:0px; }
				.submit-sitesearch { display:block; position:absolute; top:0px; height:10px; background:none; border:0px; cursor: pointer;margin-left:100px }
				.submit-sitesearch span { display: none !important; }
				.ie6 .submit-sitesearch { left:0px; height:22px;}
	
	    /*========= WHY GLASS STYLING - WC3 VALIDATED =========*/
	    
                /* ACCORDIAN STRUCTURE */
                #ui-vertaccordian {z-index:-2;bottom: 25px;float: right;height: 235px;width: 305px;min-width: 200px;position: fixed; right: 0; }
				.ie6 #ui-vertaccordian { position:absolute; }
                #ui-vertaccordian-bg {z-index:-3;background: url('../../../uploadedimages/_Assets/images/whyglass/o-i_WhyGlass_AccordianTransBG.png')/*tpa=http://www.o-i.com/uploadedimages/_Assets/images/whyglass/o-i_WhyGlass_AccordianTransBG.png*/ repeat;bottom: 0;float: right;min-height: 260px;min-width: 100%;position: fixed;right: 0;}
                #ui-vertaccordian span {border-left: 1px solid #ccc;float : left;width : 42px;}
                #ui-vertaccordian span.slider img {display:none;}

                /* SLIDES */
                .slider {z-index:5;cursor : pointer;}
                .slider-text {margin-top:100px;margin-left: -77px;text-transform : uppercase;border:none !important;font-family : Sans-Serif;font-size : 18px;color : #a6d8e5;overflow : visible !important ;width:200px !important;text-align: right;}
                .ie6 .slider-text, .ie7 .slider-text, .ie8 .slider-text {margin-top:10px;margin-left: 10px;}
                .current-slider .slider-text{}
                .current-slider:after {position:relative;bottom:138px;padding-left: 0px;content: url('../../../uploadedimages/_Assets/images/whyglass/o-i_WhyGlass_CurrentSlideTab.png')/*tpa=http://www.o-i.com/uploadedimages/_Assets/images/whyglass/o-i_WhyGlass_CurrentSlideTab.png*/;}
                .slide-copy {border:none !important;z-index:-1;position: fixed;bottom: 0;left:0;display : none;color : #FFFFFF;font-size : 12px;position : fixed;margin-bottom:35px;margin-left : 225px;width : 900px !important;}
                .slide-copy .copy { height: 200px; }
				.ie6 .slide-copy { position:absolute; }
                .slide-copy p {width:430px;font-size:13px; margin-bottom: 10px;}

                .slide-copy a {color : #FFFFFF;text-decoration : underline;}
                .slide-copy h1 {margin-bottom: 30px;text-transform : uppercase;font-size : 92px; text-shadow: 0px  0px 20px #000000;}
                #next-slide {padding-left: 40px;float:right;border:none !important;box-shadow:none !important;margin-top: 10px;margin-left: -73px;width:26px !important;z-index: 1; cursor:pointer;}
                .current-slider {}
                
                p.footnote { font-size: 10px; line-height: 21px; color: #FFFFFF; font-style: italic; padding-top: 10px;}

                /* FOOTER */
                #footer.full {position : fixed;width : 100%;bottom : 0;left : 0;background : url('../../../uploadedimages/_Assets/images/backgrounds/bkg-footertop.png')/*tpa=http://www.o-i.com/uploadedimages/_Assets/images/backgrounds/bkg-footertop.png*/ repeat-x;z-index : 300;}
				.ie6 #footer.full { position:absolute; }
                #footer.full #footer-content {width : 100% !important ;}		

                /* EXTRAS  */
                .rotate {box-shadow:none !important ;-webkit-transform: rotate(270deg);-moz-transform: rotate(270deg);-o-transform: rotate(270deg); -ms-transform: rotate(270deg); writing-mode: lr-tb;}
                .box-shadow {-moz-box-shadow:inset 0 0 3px #000000;-webkit-box-shadow:inset 0 0 3px #000000;box-shadow:inset 0 0 3px #000000;}
                .text-shadow {text-shadow:   0px  0px 5px #000000;}

                /* IE SPECIFIC  */
                .ie6 .rotate, .ie7 .rotate, .ie8 .rotate {filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);}
                .ie6 .box-shadow, .ie7 .box-shadow, .ie8 .box-shadow {zoom:1; filter:progid:DXImageTransform.Microsoft.Shadow(color='#000000', Direction=135, Strength=2) !important;}
                .ie6 .text-shadow, .ie7 .text-shadow, .ie8 .text-shadow {zoom: 1; filter: progid:DXImageTransform.Microsoft.Glow(Color=#000000, Strength=1); }
                .ie6 .current-slider:after, .ie7 .current-slider:after, .ie8 .current-slider:after { bottom: 47px; }
	
	
	
	/* =====  PAGE CONTENT   ===== */
			
			
			#page-content { position:relative; z-index:200; }
			#subpage { padding:40px 0 0 200px }
			
			#subpage-header { position:relative; background:#999; width:700px; height:135px; background:url(../../../uploadedimages/_Assets/images/backgrounds/bkg-subpageheader.png)/*tpa=http://www.o-i.com/uploadedimages/_Assets/images/backgrounds/bkg-subpageheader.png*/ no-repeat top left ; }
			#subpage-header h1 { position:absolute; top:39px; left:40px; color:#fff; font-size:215%; text-transform:uppercase; line-height: 28px; width: 480px; }
			
			#breadcrumb { position:absolute; bottom:15px; left:40px; font-size:90%; color:#ccc; width: 485px;}
			#breadcrumb li { list-style:none; display:block; float:left; }
			#breadcrumb a { color:#699; display:block; float:left; padding:0 3px 0 0; }
			#breadcrumb span {  padding:0 3px 0 0; }
			
			#headernews { background:url(../../../uploadedimages/_Assets/images/backgrounds/bkg-newsheader.png)/*tpa=http://www.o-i.com/uploadedimages/_Assets/images/backgrounds/bkg-newsheader.png*/ no-repeat top left; color:#ccc; position:absolute; top:0px; right:0px; width:175px; height:135px; font-size:90%; }
			#headernews ul { bottom: 15px; list-style: none outside none; position: absolute; right: 30px; width: 125px; overflow:inherit; top:auto; height:auto; }
			#headernews ul a { display:block; color:#699; }
			a#btn-headernews-next { width:20px; height:20px; display:block; position:absolute; right:-20px; bottom:21px; cursor: pointer; background:url(../../../uploadedimages/_Assets/images/buttons/btn-headernews-next.png)/*tpa=http://www.o-i.com/uploadedimages/_Assets/images/buttons/btn-headernews-next.png*/ no-repeat top left; }	
			a#btn-headernews-next:hover { background:url(../../../uploadedimages/_Assets/images/buttons/btn-headernews-next.png)/*tpa=http://www.o-i.com/uploadedimages/_Assets/images/buttons/btn-headernews-next.png*/ no-repeat bottom left; }	
			a#btn-headernews-prev { width:20px; height:20px; display:block; position:absolute; right:-20px; bottom:0px; cursor: pointer; background:url(../../../uploadedimages/_Assets/images/buttons/btn-headernews-prev.png)/*tpa=http://www.o-i.com/uploadedimages/_Assets/images/buttons/btn-headernews-prev.png*/ no-repeat top left; }	
			a#btn-headernews-prev:hover { background:url(../../../uploadedimages/_Assets/images/buttons/btn-headernews-prev.png)/*tpa=http://www.o-i.com/uploadedimages/_Assets/images/buttons/btn-headernews-prev.png*/ no-repeat bottom left; }	
			a#btn-headernews-next span, a#btn-headernews-prev span { display:none; }
			
			#subpage-content { background:#fff; width:700px; float: left; padding-bottom:25px;}
			.ie6 #subpage-content { zoom:1; position:relative; overflow:hidden; margin-left:1px!important; }
			#subpage-content .hrule { margin:0 40px; height:2px; background:#e0e0e0; }
			#subpage-content .hrule hr { display:none; }
			#subpage-content a { color: #336666; }
			#subpage-content a:hover { color: #000000; }

			#subpage-content .content .row { display: block; padding: 15px 0px; white-space: nowrap; line-height: 16px; }
			#subpage-content .content .row span.cell { display: inline-block; vertical-align: top; white-space: normal; width: 60%; }
			#subpage-content .content .row span.cell.title { width: 30%; text-align: right; font-weight: bold; padding-right: 10px; }
		
			#footnote {background:#fff; width:700px;}
			#footnote p {font-size: 10px; line-height: 21px; margin: 0 0 12px 0; color: #636363; font-style: italic; padding: 20px 40px;}
			
			
			
	/* =====  STACK CONTENT COMPONENTS   ===== */			
			
			.stackright { padding:40px; background-repeat:no-repeat!important; min-height: 145px; }
			.stackright.top { background-position:left 40px!important; }
			.ie6 #subpage-content div.top { background-position:0 40px; }
			.stackright.bottom { background-position:left bottom!important; }
			.stackright-content {padding:15px 0px 0px 318px;}
			
			.stackleft { padding:40px; background-repeat:no-repeat!important; min-height: 145px; }
			.stackleft.top { background-position:right 40px!important; }
			.stackleft.bottom { background-position:right bottom!important; }
			.stackleft-content {padding:15px 350px 0px 0px;}	
			.ie6 .stackleft-content { zoom:1; }
			.stackright.last, .stackleft.last {padding-bottom: 70px;}
			
			.stackright-content h2, .stackleft-content h2, .greystack-content h2 {font-size:33px; color: #555; line-height:37px; font-weight:lighter; margin: 0 0 12px 0; text-transform: uppercase;}
			.products .stackright-content h2 { font-size: 30px; }
			.stackright-content p, .stackleft-content p, .greystack-content p {font-size: 12px; color: #707070; line-height: 18px; margin: 0 0 12px 0;}
			.stackright-content a, .stackleft-content a, .greystack-content a {font-size: 16px; color: #366; line-height: 21px;}		
			.black .stackright-content a:hover { color: #FFF !important; }
			
            h2.global-reach { position:absolute; width:190px; line-height:72px; font-size:72px; color:#fff; }
            .global-reach-copy {left: 385px; position: absolute; width: 250px;	}	
            
            .greystack-content {}
			
			.products { min-height:415px !important; }
			.stackright.products .stackright-content {padding-top:24px; }
			.products p {line-height:14px; }
			.products h3 { font-size:18px; color: #707070; line-height: 48px; font-weight: bold; white-space: nowrap; text-transform: uppercase; }
			.stackright.products .stackright-content h2, .stackright.products .stackright-content h3, .stackright.products .stackright-content p { padding-left:10px; }
			
			.products.black p {line-height:14px; }
			.products.black h3 { color:#fff; }
			.stackright.products.black .stackright-content h2, .stackright.products.black .stackright-content h3, .stackright.products.black .stackright-content p { color:#fff; }
			
			.footnote {vertical-align: super; font-size: 8px;}			
			
			.stackpodlist {padding: 0 0 1px 0;}
			.stackpodlist-content {margin: 40px;}
			.stackpodlist-pod {float: left; margin: 0 20px 0 0; width:300px;}
			.ie7 .stackpodlist-pod {margin: 0 13px 0 0;}
			.ie6 .stackpodlist-pod {margin: 0 13px 0 0;}
			.stackpodlist-pod h4 {font-size: 16px; color: #707070; margin: 10px 0px; font-weight: bold;}
			.stackpodlist-pod p {font-size: 12px; color: #707070; line-height: 18px; margin: 0 0 30px 0;}
			.stackpodlist-pod a {font-size: 12px; color: #366; }
			.stackpodlist-pod img {vertical-align: bottom;}
			.stackpodlist-pod.end {margin: 0;}
			.stackpodlist-pod .rounded-corners { margin-right: 10px; }
			.ie6 .stackpodlist .clearfix .end {margin: 0;}
			
			
			.single {margin: 0; padding: 0;}
			.single-content {padding: 15px 30px 10px 30px;}
			.single-content h2 {font-size: 20px; line-height: 30px; color: #999; margin-bottom: 18px;}
			.single-content p {color:#707070; font-size:12px; line-height:18px;}
			.single-content .location-pod {width:300px; margin:20px 0;}
			.single-content .location-pod img {float:left;}
			.single-content .location-pod p {width:200px; float:left; margin:5px 10px; font-size:10px;}
			.single-content .location-pod p span {font-size:13px; font-weight:bold; text-transform:uppercase; line-height:26px;}
			
			.container {/*border: 1px dashed #666;*/background-color: #fff; padding: 0 0 80px 0; margin: 0;}
			.container-regions {background-color: #fff; padding: 0; margin: 0;}
			.productsolutions-container {background-color: #fff; padding: 0 0 80px; margin: 0;}
			.spacer {clear:both;}			
	
	
	/* ==== CONTACTS AND LOCATION - MAP ==== */
	
			.maphover { width:700px; height:275px; background:url(../../../uploadedimages/_Assets/images/contacts/world-map.jpg)/*tpa=http://www.o-i.com/uploadedimages/_Assets/images/contacts/world-map.jpg*/ no-repeat; }
			#maphover-main { background-position:0px -1100px; }		
			#maphover-namerica { background-position:0px -825px; }	
			#maphover-lamerica { background-position:0px -550px; }	
			#maphover-europe { background-position:0px -275px; }	
			#maphover-apac { background-position:0px 0px; }	
			

	/* ====  REGION TABLE ===   */
	
			#regions {margin-top:30px;}
			#regions table {width:670px; margin:0 auto;}
			#regions table tr td {border-right:2px solid #DDDDDD; padding:0 10px; width:170px;}
			#regions table tr td a {color:#336666;}
			#regions table tr td span.header a {text-transform:uppercase; line-height:30px; background:url('../../../uploadedimages/_Assets/images/icons/right-arrow.png')/*tpa=http://www.o-i.com/uploadedimages/_Assets/images/icons/right-arrow.png*/ no-repeat right 5px; padding-right:10px;}
			#regions table tr td ul {list-style-type:none;}
			#regions table tr td li.country {color:#707070; text-transform:uppercase; line-height:20px;}
			#regions table tr td li ul {text-transform: none; list-style-type:none;}
			#regions table tr td li ul li.on {background:#acc4c7 url('../../../uploadedimages/_Assets/images/icons/down-arrow-1.png')/*tpa=http://www.o-i.com/uploadedimages/_Assets/images/icons/down-arrow.png*/ no-repeat 148px 14px; font-weight:bold; color:#333737; padding:5px 10px; margin:0 -10px;}
			#regions table tr td li ul li.on div.details {font-size:11px; margin:2px 0; color:#6a6a6a;}



	/* === REGIONS === */
	
			#regions-header {}
			#regions-header img {float:left; padding-right:30px;}
			#regions-header p {padding:10px 0;}
			#regions-header .container .hrule {width:640px; margin-left:0;}
			#regions-header .contact-info a {color:#336666;}
			#regions-header .contact-info h2 {text-transform:uppercase; font-size:20px; color:#333333;}
			#regions-header .contact-info ul {list-style-type:none;}
			#regions-header .contact-info ul li {color:#707070;}
			#regions-header .contact-info table {margin-bottom:30px;}
			#regions-header .contact-info table td {width:320px;}
			
			
			
			
	/* ===== STANDARD CONTENT ===== */
			#standard-content {padding:15px 30px 80px;}
			.generic {padding: 10px 30px 10px !important;}
			#standard-toolbar {display:block; list-style:none; float:right; padding:15px 30px 0 0; }
			#standard-toolbar li {float:left; padding:0 10px 0 5px;}	
			#standard-toolbar li.icon-subscribe {background:url(../../../uploadedimages/_Assets/images/icons/icons-feed.png)/*tpa=http://www.o-i.com/uploadedimages/_Assets/images/icons/icons-feed.png*/ no-repeat top left; padding-left:20px;}
			#standard-content h2 {clear:both; padding:20px 0 0 10px; color:#707070; font-size:18px;}
			#standard-content-image-1 {padding:15px 0 0 10px;}
			#standard-content-images p {font-size:10px; padding:10px 0 0 10px; color:#b7b7b7;}
			#standard-content p {padding:5px 0 0 10px; color:#707070; font-size:12px; line-height:17px; margin-bottom:12px;}
			#standard-content p b { padding: 5px 0px 0px 0px; margin-bottom: 0px; }
			#standard-content b { color: #707070; font-size: 12px; line-height: 17px; margin-bottom: 12px; padding: 5px 0 0 10px; }
			#standard-content ul {padding:5px 0 0 25px; color:#707070; font-size:12px; line-height:17px; margin-bottom:12px;}
				
			#standard-content-bottom { padding:0 30px 100px; }
			#standard-content-bottom h3 {font-size:19px; color:#707070; padding:18px 0 0 10px;}
			#standard-content-bottom .hrrule {display:inline-block; background-color:#E0E0E0; background-repeat: repeat; height:2px; margin:0px 10px 5px 10px; width:620px;}
			#standard-content-bottom ul {list-style:none; padding:5px 0 0 10px;}
			#standard-content-bottom ul li {padding-bottom:10px;}
			#standard-content-bottom ul li a {display:block; font-size:14px; color:#336666;}
			#standard-content-bottom ul li span {display:block; font-size:10px; color:#b7b7b7;}	
			#standard-content .hrrule {display:inline-block; background-color:#E0E0E0; background-repeat: repeat; height:2px; margin:20px 10px 0 10px; width:620px;}
			
			#standard-content-images { padding:15px 0 0 10px; }
				.news-1-image { width:620px; line-height:0px; }	
		
				.news-2-50-image-left { width:302px; line-height:0px; }
				.news-2-50-image-right { width:302px; padding-left:20px; line-height:0px; }

				.news-2-60-image { width:407px; line-height:0px; }
				.news-2-40-image { width:205px; padding-left:12px; line-height:0px; }

				.news-3-60-image { width:407px; line-height:0px; }
				.news-3-40top-image { line-height:0px;}
				.news-3-40bot-image { line-height:0px;}

				.news-66-left-image { width:381px; float:left; line-height:0px; }
				.news-3-right { width:227px; float:right; }
				.news-33-topright-image { width:227px; line-height:0px; }
				.news-33-botright-image { width:227px; margin-top:14px; line-height:0px; }
					
					
			/* ===== NEWSROOM CONTENT ===== */	
			
			h2.tabbed-content-header { font-size:20px!important; font-weight:bold; color:#555; padding-left:40px; padding-top: 10px; text-transform:uppercase; /*width:300px;*/ clear: both; }
			
			.tabbed-content-wrapper { clear:both; margin:15px 0 0 42px; width:618px; height:404px; background:url(../../../uploadedimages/_Assets/images/newsroom/tabbed-content-bg.jpg)/*tpa=http://www.o-i.com/uploadedimages/_Assets/images/newsroom/tabbed-content-bg.jpg*/ no-repeat top left; } 
			ul.news-tab { list-style:none; }
			ul.news-tab li { display: inline; }
			.ie6 ul.news-tab li { width:120px; float:left; }
			ul.news-tab li a { float:left; width:120px; height:27px; background:url(../../../uploadedimages/_Assets/images/newsroom/news-tab.png)/*tpa=http://www.o-i.com/uploadedimages/_Assets/images/newsroom/news-tab.png*/ no-repeat top left ; margin-right:5px; padding-top:4px; text-align:center; color:#555 !important; cursor:pointer; text-decoration:none; }
			ul.news-tab li a.selected { background-position:left -27px; color:#fff !important; text-decoration:none; }
			
			#tabbed-content-search { float:right; height:27px; }
			#tabbed-content-search fieldset { display:block; position:relative; background:url('../../../uploadedimages/_Assets/images/backgrounds/bkg-newssearch.png')/*tpa=http://www.o-i.com/uploadedimages/_Assets/images/backgrounds/bkg-newssearch.png*/ no-repeat top left ; width:155px; height:22px; }
			#tabbed-content-search fieldset .label-sitesearch { position:absolute; top:0px; left:10px; display:block; line-height:22px; color:#999; }
            #tabbed-content-search fieldset .input-sitesearch { position:absolute; top:0px; left:10px; display:block; height:20px; color:#666; background:none; width:113px; border:0px; }
            #tabbed-content-search fieldset .submit-sitesearch { display:block; position:absolute; top:0px; right:0px; width:24px; height:20px; background:none; border:0px;margin-left:33px }

			#company-panel { display:block; }
			#oi-panel { display:none; }

			.feed-display-wrapper { clear:both; float:left; width:330px; height:330px; margin:17px 0 0 17px; }
			.feed-display-wrapper span { color:#b7b7b7; font-size:10px; }
			.feed-display-wrapper h2, .feed-display-wrapper p, .feed-display-wrapper a { color:#fff!important; margin:0!important; padding:0!important; }
			.feed-display-wrapper h2 { line-height:1em; margin-bottom:6px!important; clear: both; color: #707070; font-size: 18px; font-weight: bold; padding: 20px 0 0 10px; }
			.feed-display-wrapper p { margin-bottom:8px!important; }
			.feed-display-wrapper a { font-size:14px!important; zoom: 1; position: relative; }

			.feed-list-wrapper { float:right; width:253px; height:377px; margin:-4px 0 0 0; }
			.scroll-up { width:253px; height:17px; background:url(../../../uploadedimages/_Assets/images/newsroom/scroll-up-off.jpg)/*tpa=http://www.o-i.com/uploadedimages/_Assets/images/newsroom/scroll-up-off.jpg*/ top left no-repeat; cursor:pointer; }
			.scroll-up.disabled { width:253px; height:17px; background:url(../../../uploadedimages/_Assets/images/newsroom/scroll-up-disabled.jpg)/*tpa=http://www.o-i.com/uploadedimages/_Assets/images/newsroom/scroll-up-disabled.jpg*/ top left no-repeat; cursor:pointer; }
			.scroll-down { width:253px; height:17px; background:url(../../../uploadedimages/_Assets/images/newsroom/scroll-down-off.jpg)/*tpa=http://www.o-i.com/uploadedimages/_Assets/images/newsroom/scroll-down-off.jpg*/ top left no-repeat; cursor:pointer; }
			.scroll-down.disabled { width:253px; height:17px; background:url(../../../Error.htm-aspxerrorpath=-uploadedimages-_Assets-images-newsroom-scroll-down-disabled.jpg)/*tpa=http://www.o-i.com/uploadedimages/_Assets/images/newsroom/scroll-down-disabled.jpg*/ top left no-repeat; cursor:pointer; }
			.scroll-list { width:253px; height:345px; overflow-y:hidden; }
			.ie6 .scroll-list { height:270px; }
			.scroll-list p { color:#636363!important; margin:0!important; padding:0!important; width:200px; }
			
			.scroll-list ul { padding-bottom:50px; }
			.ie6 .scroll-list ul { padding-left:0!important; list-style:none!important; }
			.scroll-list li { border-bottom:1px solid /*grey*/ #999999; color:#636363; cursor:pointer; }
			.scroll-list li.first { border-top:1px solid /*grey*/ #999999; border-bottom:1px solid /*grey*/ #999999; color:#636363; cursor:pointer; }
			.scroll-list li.current-feed { background:url(../../../uploadedimages/_Assets/images/newsroom/feed-select-arrow.png)/*tpa=http://www.o-i.com/uploadedimages/_Assets/images/newsroom/feed-select-arrow.png*/0 19px no-repeat; }

			.scroll-list li p.feed-date { color:#b7b7b7!important; margin-bottom:6px; padding:6px 0 0 38px!important; }
			.scroll-list li p.feed-title { color:#636363!important; font-weight:bold; font-size:14px!important; padding:2px 0 8px 38px!important; }

                /* archive */
                .year-nav { float: left; margin: 10px 0px 10px 90px; }
								
				/* == NEWSROOM BOTTOM SECTION ==*/
				
				.tabbed-content-bottom-bkg { clear:both; padding-left: 36px; padding-bottom: 50px; margin: 50px 0px 0px 0px; min-height:500px; background:url('../../../uploadedimages/_Assets/images/backgrounds/bkg-newsbottom.jpg')/*tpa=http://www.o-i.com/uploadedimages/_Assets/images/backgrounds/bkg-newsbottom.jpg*/ bottom right no-repeat; } 
				.tabbed-content-bottom-bkg h2, .tabbed-content-bottom h2 { font-size:20px!important; font-weight:bold; color:#555; padding:0!important; text-transform:uppercase; }
				span.view-all a { font-size:12px; font-weight:bold; color:#366; text-transform:none!important; padding-left:12px; line-height:12px; }
				.tabbed-content-bottom-bkg h3 { font-size:18px!important; color:#555; padding:10px 0 4px 40px; margin-top:6px; }
				
				ul.kit-list { margin-left:40px; width:300px; }
				ul.kit-list li { list-style:none; line-height:16px; padding:4px 0; border-bottom:1px solid #e4e4e4; }
				ul.kit-list li.first { border-top:1px solid #e4e4e4; }
				ul.kit-list li a { font-size:13px; font-weight:bold; color:#366; }
			
				
				/* == INVESTORS BOTTOM SECTION ==*/
				
				.tabbed-content-bottom { margin:50px 30px; padding:0 10px; }
					.tabbed-content-bottom a { color:#366; }
					.tabbed-content-bottom h3 { font-size:16px; font-weight:bold; color:#707070; }
					.tabbed-content-bottom ul { list-style:none; margin-top:10px; }
					.tabbed-content-bottom li { padding-left:48px; margin-bottom:20px; }
				
				.tabbed-content-bottom .hrule { margin:20px 0!important; }
				
				.double-stack { float:left; clear: both; margin: 50px 0px 0px 42px; }
				.ie6 .double-stack { float:none; }
				.financial-reports { float:left; width:295px;  height:142px; padding-top:20px; margin-right: 38px; border-top:1px solid #e4e4e4; border-bottom:1px solid #e4e4e4; }
				    .financial-reports h2 { font-size:20px!important; font-weight:200; color:#555; padding:0!important; text-transform:uppercase; }
					.financial-reports ul { list-style:none; padding-left:48px; margin-top:16px; }
					.ie6 .financial-reports ul li { margin-bottom:5px; zoom:1; }
					.financial-reports ul li a { font-size:12px; line-height:21px; font-weight:bold; padding:0;  }
					
				.stock-quote { float:left; width:295px; height:180px; padding-top:5px; margin-right: 38px; margin-bottom:15px; border-top:1px solid #e4e4e4; border-bottom:1px solid #e4e4e4; }
				    .stock-quote h2 { font-size:20px!important; font-weight:bold; color:#555; padding:0!important; text-transform:uppercase; }
					.stock-quote ul { list-style:none; padding-left:48px; margin-top:16px; }
					.stock-quote ul li a { font-size:12px; line-height:21px; font-weight:bold; padding:0;  }
				
				.oi-facts { float:right; width:256px; height:162px; padding:14px; background:url('../../../uploadedimages/_Assets/images/backgrounds/bkg-oi-facts.jpg')/*tpa=http://www.o-i.com/uploadedimages/_Assets/images/backgrounds/bkg-oi-facts.jpg*/ top left no-repeat; }
					.oi-facts h3 { font-size:14px; font-weight:bold; padding-left:8px; }
					.oi-facts li { list-style:none; padding-left:10px; line-height:22px; }
				
				.oi-facts .stock {height:180px !important;}
				
				.triple-stack { min-height:200px; }
				.triple-stack p { margin-top:20px; width:200px; float:left; }
							
				.webcast {background:url('../../../uploadedimages/_Assets/images/icons/webcast.jpg')/*tpa=http://www.o-i.com/uploadedimages/_Assets/images/icons/webcast.jpg*/ no-repeat;}
				.event {background:url('../../../uploadedimages/_Assets/images/icons/events.jpg')/*tpa=http://www.o-i.com/uploadedimages/_Assets/images/icons/events.jpg*/ no-repeat;}	
			
			
			/* == ABOUT > LEADERSHIP ==*/
			
				#leadership-intro { padding:50px 60px 30px 40px; }
				#leadership-intro h2 { font-size:200%; text-transform:uppercase; }
				#leadership-intro p { color:#707070; line-height:130%; }
				#leadership-nav { background:#e7e7e7; padding:0 0 20px 0;}
				#leadership-nav ul { list-style:none; text-align:center; width:210px; float:left; padding:0 0 0 20px;}
				#leadership-nav a { color:#447879; font-weight:bold; display:block; padding:15px 0 0 0; }
				#leadership-nav a:hover { text-decoration:none; }
				#leadership-nav a span { display:block; color:#838383; font-weight:normal; font-size:90%; }
				#leadership-nav p { background:#777777; padding:10px 40px; color:#e1e1e1; }
				.leadership-stack-right { background-position:bottom left; padding:55px 0 40px 275px; margin-right:40px; min-height:200px; }
				.leadership-stack-left { background-position:bottom right; padding:55px 275px 40px 0; margin-left:40px; min-height:200px; }
				.leadership-stack-right.last, .leadership-stack-left.last { margin-bottom:33px; }  
				.leadership-stack-left, .leadership-stack-right { background-repeat:no-repeat; border-bottom:2px solid #e0e0e0; background-repeat:no-repeat; }
				.leadership-stack-left h3, .leadership-stack-right h3 { font-size:150%; color:#000; padding:0 0 20px 0; }
				.leadership-stack-left h3 span, .leadership-stack-right h3 span { display:block; font-size:80%; }
				.leadership-stack-left p, .leadership-stack-right p { color:#707070; line-height:130%; }
				
				
       			
			
			
	/* ===== SITEMAP ===== */	

			#standard-content .sitemap-cols {display:inline-block; margin:5px 0 0 5px;}
			#standard-content .sitemap-cols h2 { clear:both; padding:20px 0 0 10px; color:#336666; font-size:18px;}
			#standard-content .sitemap-cols h2 a { color:#336666; }
			#standard-content .sitemap-cols h2 a:hover { color:#333; }
			#standard-content .sitemap-cols .sitemap-cols-lists {float:left; padding-right:20px; width:291px;}
			#standard-content .sitemap-cols ul {list-style:none; padding:13px 0 0 20px;}
			#standard-content .sitemap-cols ul li{padding:0 0 5px 0;}
			#standard-content .sitemap-cols ul li a {display:block; color:#336666;}	
			#standard-content .sitemap-cols ul li a:hover {display:block; color:#333;}	

	
	
	
	
	/* =====  PRODUCTS   ===== */
			
			.product-float{ display:block; width:231px; height: 290px; float: left; border: solid #ddd 1px; cursor:pointer; }
			.product-float:hover {background-color:#dedede; text-decoration: none;  }
			.product-float:hover .product-label { text-decoration: underline; }
			.product-type {margin: 0; padding: 0; width: 231px; height: 250px;}
			.product-label{margin-top: 6px; padding: 0;font-size:13px; font-weight:bold; text-align: center; color: #366; line-height: 18px;}
	
	        .ie7 .product-float{ width:229px; }
	
	
	
	/* =====  ROUNDED TABLES   ===== */

			#rounded-corner { font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif; font-size:12px; width:620px; text-align:left; border-collapse:collapse; margin:20px auto 35px; }
			#rounded-corner th { font-weight:normal; font-size:13px; color:#699; background:#101617 url("../../../uploadedimages/_Assets/images/prodsolutions/table-head-bg.jpg")/*tpa=http://www.o-i.com/uploadedimages/_Assets/images/prodsolutions/table-head-bg.jpg*/ repeat-x; padding:9px 15px; }
			#rounded-corner thead th.rounded-c1 { background: url("../../../uploadedimages/_Assets/images/prodsolutions/left-corner.jpg")/*tpa=http://www.o-i.com/uploadedimages/_Assets/images/prodsolutions/left-corner.jpg*/ no-repeat left -1px; width: 10px; margin:0; padding:0; }
			.ie7 #rounded-corner thead th.rounded-c1, .ie8 #rounded-corner thead th.rounded-c1 {width: 3px;}
			#rounded-corner thead th.rounded-c5 { background: url("../../../uploadedimages/_Assets/images/prodsolutions/right-corner.jpg")/*tpa=http://www.o-i.com/uploadedimages/_Assets/images/prodsolutions/right-corner.jpg*/ no-repeat left -1px; width: 10px; margin:0; padding:0;}
			#rounded-corner tbody td { background:#fff; border-top:1px solid #e4e4e4; color:#888; padding:8px 22px; }
			#rounded-corner tfoot td { background:#fff; border: none;}
			#rounded-corner tbody tr:hover td { background:#eee; cursor:pointer; } 	

	
	
	/* =====  HOME   ===== */
			
			#home-promos { position:fixed; bottom:35px; left:0px; width:100%; text-align:center; height:50px; overflow:hidden; z-index:100; background:url(../../../uploadedimages/_Assets/images/home/bkg-thumbstrip.png)/*tpa=http://www.o-i.com/uploadedimages/_Assets/images/home/bkg-thumbstrip.png*/ 0 26px repeat-x; }
			.ie6 #home-promos { position:absolute; }
			#home-promos-content { width:100%; }
			#home-promos ul { margin:0 auto; }
			#home-promos li { display:block; list-style:none; float:left; }
			#home-promos li a { text-decoration:none; opacity:0.3; filter:alpha(opacity=30); width:95px; height:115px; display:block; float:left; text-align:center; background-position:0px 36px; background-repeat:no-repeat; position:relative; }
			#home-promos li a:hover { text-decoration:none; opacity:1; filter:alpha(opacity=100);}
			#home-promos li a.current { opacity:1; filter:alpha(opacity=100);}
			#home-promos li a.current:hover { text-decoration:none; }
			#home-promos li a span { color:#fff; background:#000; display:none; position:absolute; left:-23px; top:0px; text-align:center; line-height:33px; width:127px; background:url(../../../uploadedimages/_Assets/images/home/bkg-thumb-title.png)/*tpa=http://www.o-i.com/uploadedimages/_Assets/images/home/bkg-thumb-title.png*/ top left no-repeat; }
			#home-promos li h1, #home-promos li p { display:none; }
			/*.ie6 #home-heros {position:relative;}*/
			.home-hero-fullcolor, .home-hero-fullcolorbox, .home-hero-dark, .home-hero-light { display:none; width:500px; position:absolute; top:40px; left:235px; padding:50px 0 30px 0;}
			.ie6 .home-hero-fullcolor, .ie6 .home-hero-fullcolorbox, .ie6 .home-hero-dark, .ie6 .home-hero-light {top:120px;}
			.home-hero-fullcolorbox { width:365px; background:#e6e6e6; padding-top:0px; -moz-border-radius:10px; -webkit-border-radius:10px; opacity:.75;} 
			.home-hero-fullcolor h1, .home-hero-fullcolorbox h1, .home-hero-dark h1, .home-hero-light h1{ padding:28px 20px 20px 22px; text-transform:uppercase; line-height:1em; font-size:36px; }
			.home-hero-fullcolor p, .home-hero-fullcolorbox p, .home-hero-dark p, .home-hero-light p { font-size: 13px; padding:0 20px 17px 20px; line-height:24px; }
			.home-hero-dark h1, .home-hero-dark p { color:#fff; }
			.home-hero-cta { display:block; padding:0 20px 0 20px !important; font-size:14px !important; line-height:20px !important; }
			.home-hero-cta a { color:orange !important; }
			.home-hero-fullcolorbox .home-hero-cta a { color:green !important; }
	
	
	
	/* ==== EMAIL FORM ===  */
	
			#email-form {margin:0 40px;}
			#email-form h2 {color:#999999; font-size:24px; font-weight:200; line-height:30px; margin-bottom:18px;}
			#email-form p {color:#707070; font-size:12px; line-height:14px;}
			#email-form fieldset {color:#707070; font-size:12px; font-weight:normal; margin:20px;}
			#email-form fieldset div { margin:20px 0;}
			#email-form .fieldset-area label {float:left; width:100px; text-align:right; margin:3px 10px 0 0;}
			#email-form .fieldset-area input {margin:0; width:200px; height:25px; border:1px solid #999;
					-webkit-border-radius:6px;	-moz-border-radius:6px;	border-radius:6px;}
			#email-form .fieldset-area textarea {margin:0; width:400px; height:100px; border:1px solid #999;
					-webkit-border-radius:6px;	-moz-border-radius:6px;	border-radius:6px;}
			#email-form .fieldset-area .captcha { }
			#email-form .fieldset-area .captcha div {margin:5px 0 20px;}
			#email-form .fieldset-area .captcha p {font-size:10px; margin:5px;}
			#email-form .fieldset-area .captcha-area {width:200px; border:1px solid #999;}
			#email-form .fieldset-area a.button {background:url('../../../uploadedimages/_Assets/images/buttons/button-standard-left.png')/*tpa=http://www.o-i.com/uploadedimages/_Assets/images/buttons/button-standard-left.png*/ no-repeat left top; height:30px; width:11px; padding:10px 14px; margin:10px 0; float:left;}
			#email-form .fieldset-area a.button span {background:url('../../../uploadedimages/_Assets/images/buttons/button-standard-right.png')/*tpa=http://www.o-i.com/uploadedimages/_Assets/images/buttons/button-standard-right.png*/ repeat-y right top; padding:10px 13px 6px 0; color:#fff; font-size:15px; text-align:center;}
			#email-form .fieldset-area .submit {margin:20px 0 0 110px; height: 250px;}
	
	
	
	/* =====  SEARCH RESULTS   ===== */
	
			#searchresults { margin: 50px 0px 15px 50px; position:relative; width:700px;}
    	#searchresults p { padding: 20px 0 0; color: #999999; }
			#searchresults p span.search-phrase { font-weight:bold;}
			#searchresults p span.filter-results { background: url("../../../uploadedimages/_Assets/images/buttons/btn-unchecked.png")/*tpa=http://www.o-i.com/uploadedimages/_Assets/images/buttons/btn-unchecked.png*/ no-repeat scroll 0 0 transparent; margin: 0 10px; padding: 2px 0 5px 20px; }
			#searchresults p span.filter-results.on { background: url("../../../uploadedimages/_Assets/images/buttons/btn-checked.png")/*tpa=http://www.o-i.com/uploadedimages/_Assets/images/buttons/btn-checked.png*/ no-repeat scroll 0 0 transparent; }
			#searchresults-search fieldset { display:block; position:relative; background:url('../../../uploadedimages/_Assets/images/backgrounds/bkg-search-area.png')/*tpa=http://www.o-i.com/uploadedimages/_Assets/images/backgrounds/bkg-search-area.png*/ top left no-repeat; width:300px; height:22px; }
            #searchresults-search fieldset .input-sitesearch { width: 195px; }
            #searchresults-search fieldset .submit-sitesearch { display:block; position:absolute; top: -2px; left:225px; padding-left: 27px; background: url('../../../uploadedimages/_Assets/images/buttons/btn-search-button.png')/*tpa=http://www.o-i.com/uploadedimages/_Assets/images/buttons/btn-search-button.png*/ top left no-repeat; height: 25px; }
            #searchresults-search fieldset .submit-sitesearch:hover, #searchresults-search fieldset .submit-sitesearch:focus, #searchresults-search fieldset .submit-sitesearch:active { text-decoration: none; }
            #searchresults-search fieldset .submit-sitesearch span { display: block !important; float: left; color: #FFFFFF; font-weight: bold; padding: 4px 12px 0px 0px; background: url('../../../uploadedimages/_Assets/images/buttons/btn-search-button.png')/*tpa=http://www.o-i.com/uploadedimages/_Assets/images/buttons/btn-search-button.png*/ top right no-repeat; height: 21px; }
			#searchresults .page-nav { float:right; margin:10px 90px;}
			#searchresults .page-nav a { color:#336666; }
			#searchresults .page-nav ul { list-style-type:none; }
			#searchresults .page-nav ul li { border-right:1px solid #999999; float:left; padding:0 10px;}
			#searchresults .page-nav ul li.last { border-right:none; }
 			#searchresults-results { width: 600px; margin-left: 50px; }
			#searchresults-results p { color:#999999; }
			#searchresults-results p.date { margin-bottom: 5px; font-size: 11px; }
			#searchresults-results .result { border-bottom:2px solid #E0E0E0; }
			#searchresults-results .result.first { border-bottom:2px solid #E0E0E0; border-top:2px solid #E0E0E0;}
			#searchresults-results .result h2 { color:#336666; font-size:18px; letter-spacing:0.9px; line-height:24px; padding:10px 0;}
			#searchresults-results .result h2 a { color:#336666; font-size:16px; letter-spacing:normal; line-height:24px; padding:10px 0;}
			#searchresults-results .result h3 { padding: 10px 0px; }
			#searchresults-results .page-nav { margin-right: 40px; }
			
			/* Paging/search */
            .page-nav { float:right; margin:10px 90px 10px 0px;}
            .page-nav a { color:#336666; }
            .page-nav ul { list-style-type:none; }
            .page-nav ul li { border-right:1px solid #999999; float:left; padding:0 10px;}
            .page-nav ul li.next { border-right:none; }
	
	        /* google styleing */
	        .gsc-tabsArea div.gsc-tabHeader { margin: 0 10px; padding: 2px 0 5px 20px; border: none; }
            .gsc-tabsArea .gsc-tabHeader.gsc-tabhInactive { background: url("../../../uploadedimages/_Assets/images/buttons/btn-unchecked.png")/*tpa=http://www.o-i.com/uploadedimages/_Assets/images/buttons/btn-unchecked.png*/ no-repeat scroll 0 0 transparent; }
            .gsc-tabsArea .gsc-tabHeader.gsc-tabhActive { background: url("../../../uploadedimages/_Assets/images/buttons/btn-checked.png")/*tpa=http://www.o-i.com/uploadedimages/_Assets/images/buttons/btn-checked.png*/ no-repeat scroll 0 0 transparent; }

            .gsc-result h2 { color:#336666; font-size:18px; letter-spacing:0.9px; line-height:24px; padding:10px 0;}
            .gsc-result h2 a { color:#336666; font-size:16px; letter-spacing:normal; line-height:24px; padding:10px 0;}
            .gsc-result h3 { padding: 10px 0px; }

            .gsc-cursor-box { margin-top: 10px; float: right; }
            .gsc-cursor-page { color: #336666 !important; text-decoration: none !important; border-right:1px solid #999999; padding:0 10px; margin-right: 0px !important; }
            .gsc-cursor-page.last { border-right: none; }
            .gsc-cursor-current-page { color: #444 !important; }
            .gcsc-branding { float: right; clear: both; }
            
    /* =====  VIMEO ===== */        
                
            .video { padding-left: 40px; }
            .video h2 {  color: #555555; font-size: 20px !important; font-weight: bold; padding-top: 10px; text-transform: uppercase; }
	
	/* =====  FOOTER   ===== */
	
			#footer { position:fixed; width:700px; bottom:0px; left:200px; background:url('../../../uploadedimages/_Assets/images/backgrounds/bkg-footertop.png')/*tpa=http://www.o-i.com/uploadedimages/_Assets/images/backgrounds/bkg-footertop.png*/ 0px 0px repeat-x; z-index:300; }					
			.ie6 #footer { position:relative; left:0; }
			#footer.full { width:100%; left:0px; }
			#footer-content { width:700px; height:35px; }
			#footer.full #footer-content { margin: 0 auto }
			#footer-left { /*width:49%;*/ color:#fff; float:left; }
			#footer-right { color:#fff; line-height:35px; float:right; }
			#footer-left li { padding:10px 3px 0px 3px; }
			#footer-left li.footer-copyright { padding:10px 7px 0px 7px; }
			#footer-left a { border-right:1px solid #333; padding:0 7px 0 0; color:#669999 }
			#footer-left a:hover {color:#ccc; }
			#footer-left a.last { border-right:none; }
			#footer-right a { color:#669999; }
			#footer-right li { border-left:#292f2f solid 1px; padding:0 10px; }	
			#footer-right #anchor-sitemap { padding-right:30px; background:url(../../../uploadedimages/_Assets/images/buttons/btn-footersitemap.png)/*tpa=http://www.o-i.com/uploadedimages/_Assets/images/buttons/btn-footersitemap.png*/ top right no-repeat; }
			#footer-right #anchor-sitemap:hover, #footer-right #anchor-sitemap:active, #footer-right #anchor-sitemap:focus { text-decoration:none; }
			#footer-right #anchor-sitemap:hover {color:#ccc;}
			#footer-right #anchor-language { padding-right:38px; background:url(../../../uploadedimages/_Assets/images/buttons/btn-footerlanguage.png)/*tpa=http://www.o-i.com/uploadedimages/_Assets/images/buttons/btn-footerlanguage.png*/ top right no-repeat; }
			#footer-right #anchor-language:hover, #footer-right #anchor-language:active, #footer-right #anchor-language:focus { text-decoration:none; }
			#footer-right #anchor-language:hover { background-position: right -35px; color: #ccc; }
			#footer-right li span { color:#669999; }
			#footer-right .white { padding-left:5px; }
			#footer-left li, #footer-left a, #footer-left span, #footer-right li, #footer-right a, #footer-right span { display:block; float:left; }
			#footer-right div li, #footer-right div a { display:block; float:none; } 
			#footer-sitemap, #footer-language { display:none; background:#101617; width:100%; }
			#footer-sitemap ul li a strong, #footer-language ul li a strong {color:#ccc;}
			#footer-sitemap ul li a, #footer-language ul li a {color:#669999;}
			#footer-sitemap ul li a:hover, #footer-language ul li a:hover {color:#ccc; }
			#footer.full #footer-sitemap div, #footer.full #footer-language div { margin:0 auto; width:700px; }
			#footer-sitemap ul, #footer-language ul { width:150px; float:left; padding:20px 0px 20px 20px; list-style:none; }
			#footer-viewall { text-align:right; padding:20px 50px; }
	
	
	/* =====  REGION SELECTOR ===== */		
	
			
	        #footer #region-select { display: block; position: relative; height: 240px; color: #336666; }
	        #footer #region-select h4 { position: absolute; left: 40px; top: 20px; text-transform: uppercase; color: #FFFFFF; font-size: 22px; }
	        #footer #select-region-dd { display: block; width: 260px !important; position:absolute; top: 80px; left: 40px; }
	        #footer #select-language-dd { display:block; width: 260px !important; position:absolute; top: 80px; left: 320px;}
	        #footer #select-region-btn, #footer #select-language-btn { display:block; width: 250px !important; height: 23px; background:url('../../../uploadedimages/_Assets/images/region-selector/dropdown-btm-on.png')/*tpa=http://www.o-i.com/uploadedimages/_Assets/images/region-selector/dropdown-btm-on.png*/ no-repeat top left; padding:6px 0 0 13px; cursor:pointer; z-index:305; position:absolute;}
	        #footer #select-language-btn.off { background:url('../../../uploadedimages/_Assets/images/region-selector/dropdown-btm-off.png')/*tpa=http://www.o-i.com/uploadedimages/_Assets/images/region-selector/dropdown-btm-off.png*/ no-repeat top left; }
	        #footer #select-region-list, #footer #select-language-list { display:block; width:245px !important; height: 133px; background:url('../../../uploadedimages/_Assets/images/region-selector/dropdown-btm-open.png')/*tpa=http://www.o-i.com/uploadedimages/_Assets/images/region-selector/dropdown-btm-open.png*/ no-repeat top left; padding:6px 5px 6px 10px; cursor:pointer;z-index:310; position:absolute;}
	        #footer #select-region-list ul, #footer #select-language-list ul { margin-top:6px; height:110px; overflow:auto; float: none; padding: 0px; width: auto; }
	        #footer #select-region-list li, #footer #select-language-list li { list-style-type:none; padding:4px 0; border-top: 1px solid #CCC; margin-right:10px; padding-left:3px;}
	        #footer #select-region-list li:hover, #footer #select-language-list li:hover { background:#e7f5f9; color:#000;}
	        #footer #select-region-btn li, #footer #select-language-btn li { list-style-type:none;}
	        #footer #region-select .soft { color:#999; padding-left:3px;}
	
	        #footer #btn-go { position: absolute; top: 140px; left: 40px; }
	        #footer #btn-go a { display: block; height:29px; float:left; background:url('../../../uploadedimages/_Assets/images/buttons/btn-go-btm.png')/*tpa=http://www.o-i.com/uploadedimages/_Assets/images/buttons/btn-go-btm.png*/ no-repeat top left; padding-left:17px; cursor:pointer; color:#fff;}
	        #footer #btn-go.off a { color: #336666; background-position: left -29px; }
	        #footer #btn-go a span { display:block; height:23px; padding: 6px 24px 0 0; background:url('../../../uploadedimages/_Assets/images/buttons/btn-go-btm.png')/*tpa=http://www.o-i.com/uploadedimages/_Assets/images/buttons/btn-go-btm.png*/ no-repeat top right; }
	        #footer #btn-go.off a span { background-position: right -29px; }
	        #footer #btn-go a:hover, #footer #btn-go a:focus, #footer #btn-go a:active { text-decoration:none; }
	        
	        #region-select.landing { display:block; position:fixed; top:40px; left:20px; background:url('../../../uploadedimages/_Assets/images/region-selector/region-select-BG.png')/*tpa=http://www.o-i.com/uploadedimages/_Assets/images/region-selector/region-select-BG.png*/ no-repeat top left; width:812px; height:365px; z-index:300; color:#336666; font-size:14px; font-family:, "Lucida Grande", Arial, Helvetica, sans-serif }
	        .landing #select-region-dd { display:block; width:260px; position:absolute; top:130px; left:217px; color:#336666; font-size:14px; font-family:, "Lucida Grande", arial, sans-serif}
	        .landing #select-language-dd { display:block; width:260px; position:absolute; top:130px; left:496px;}
	        .landing #select-region-btn, .landing #select-language-btn { display:block; width:250px; height:30px; background:url('../../../uploadedimages/_Assets/images/region-selector/dropdown-closed.png')/*tpa=http://www.o-i.com/uploadedimages/_Assets/images/region-selector/dropdown-closed.png*/ no-repeat top left; padding:8px 0 0 13px; cursor:pointer; z-index:305; position:absolute;}
	        .landing #select-language-btn.off { background-position: left -38px; }
	        .landing #select-region-list, .landing #select-language-list { display:block; width:245px; height:182px; background:url('../../../uploadedimages/_Assets/images/region-selector/dropdown-open.png')/*tpa=http://www.o-i.com/uploadedimages/_Assets/images/region-selector/dropdown-open.png*/ no-repeat top left; padding:8px 5px 10px 10px; cursor:pointer;z-index:310; position:absolute;}
	        .landing #select-region-list ul, .landing #select-language-list ul { margin-top:10px; height:150px; overflow:auto;}
	        .landing #select-region-list li, .landing #select-language-list li { list-style-type:none; padding:6px 0; border-top: 1px solid #CCC; margin-right:10px; padding-left:3px;}
	        .landing #select-region-list li:hover, .landing #select-language-list li:hover { background:#e7f5f9; color:#000;}
	        .landing #select-region-btn li, .landing #select-language-btn li { list-style-type:none;}
	        #region-select.landing .soft { color:#999; padding-left:3px;}
	
	        .landing #btn-go a {display:block; height:36px; float:left; position:absolute; top:300px; left: 217px; background:url('../../../uploadedimages/_Assets/images/region-selector/btn-go.png')/*tpa=http://www.o-i.com/uploadedimages/_Assets/images/region-selector/btn-go.png*/ no-repeat top left; padding-left:17px; cursor:pointer; color:#fff;}
	        .landing #btn-go.off a { background-position: left -36px; }
	        .landing #btn-go a span {display:block; height:27px; padding: 9px 32px 0 0; background:url('../../../uploadedimages/_Assets/images/region-selector/btn-go.png')/*tpa=http://www.o-i.com/uploadedimages/_Assets/images/region-selector/btn-go.png*/ no-repeat top right; }
	        .landing #btn-go.off a span { background-position: right -36px; }
	        .landing #btn-go a:hover, .landing #btn-go a:focus, .landing #btn-go a:active { text-decoration:none; color:#e7f5f9; }
	        
	        .landing #legal-desc { font-size: 80%; left: 217px; position: absolute; text-align: justify; top: 170px; width: 540px; }
	        
	        
	/* ===== Cookies Landing Classes ===== */
	        .cookies table { position: relative; left: 30px; width: 630px; font-size: 80%; color: rgb(112, 112, 112); margin: 40px 0; table-layout: fixed; }
	        .cookies td { padding: 5px; border: 1px solid rgb(204, 204, 204); word-wrap: break-word; }
	
	
	/* =====  GLOBAL CLASSES   ===== */
			
			.left { float:left; }
			.right { float:right; }
			.hide { display:none; visibility:hidden; }
			.bhide { position:absolute; left:-10000px; top:auto; width:1px; height:1px; overflow:hidden; }
			.img-rep { display:block; text-indent:-999em; overflow:hidden; background-repeat:no-repeat; text-align:left; direction:ltr; }
			.rightcol-pod { padding:15px 0 0 15px; }
			.cta { display:block; font-weight:bold; padding:5px 0; }
			.white { color:#fff !important; }
			.green {color:#00B000 !important;}
			.red {color:#FF0000 !important;}
	
	
	
	
	
	
	/* =====  IE6 SPECIFIC   ===== */
	
			.ie6 .clearfix { zoom:1; }
			#ie6Disclaimer {background:#191970; width:650px; margin: 25px 0 0 5px; border:2px solid #ffffff; padding:25px; left:200px; position:relative; z-index:500;}
	        #ie6Disclaimer p {font-size: 14px; color:#ffffff; font-weight:bold; width:650px;}
	        #ie6Disclaimer ul {list-style:none; margin-top:5px;}
	        #ie6Disclaimer ul li {font-size: 13px; float:left; list-style:none; padding-right:15px;}
	        #ie6Disclaimer ul li a strong {color:#ffffff;}
			#ie6Disclaimer ul li a {color:#ffffff;}
			#ie6Disclaimer ul li a:hover {color:#ccc; }
	
	
	
	
	/* =====  IE7 SPECIFIC   ===== */
	
			.ie7 .clearfix { zoom:1; }
			
		
			
	/* =====  MEDIA QUERIES ===== */
			
		@media screen and (max-width: 460px) {
		
			#nav-main { position:relative; }
		
		}
			
			
