/* START Telerik.Sitefinity.Resources.Themes.Basic.Styles.fancybox.css */
#fancybox-loading{position:fixed;top:50%;left:50%;height:40px;width:40px;margin-top:-20px;margin-left:-20px;cursor:pointer;overflow:hidden;z-index:1104;display:none}
* html #fancybox-loading{position:absolute;margin-top:0}
#fancybox-loading div{position:absolute;top:0;left:0;width:40px;height:480px;background-image:url(Pending_relink)/*tpa=http://www.blackstone.com/WebResource.axd?d=VbrQruZ8VpQ_2CFHkLyyw3m_d1wshsE5Wkztcw_3sW52Wjb0z46HJBAqhHNoapCu5v9izXk7tb6VU1Shkz0Pt9S-SvEOCqLjpqM8MqzSAt4-_9UF3poAgUz8Rgx3oFM1bObV37wzvlSyEt-WjKbDH9EjfwfxJ8wZejurT3Ka-5IsCAI6GiXjmTWpuLDO_mm5INPADA2&t=635491612740000000*/}
#fancybox-overlay{position:fixed;top:0;left:0;bottom:0;right:0;background:#000;z-index:7100;display:none}
* html #fancybox-overlay{position:absolute;width:100%}
#fancybox-tmp{padding:0;margin:0;border:0;overflow:auto;display:none}
#fancybox-wrap{position:absolute;top:0;left:0;margin:0;padding:20px;z-index:7101;display:none}
#fancybox-outer{position:relative;width:100%;height:100%;background:#FFF}
#fancybox-inner{position:absolute;top:0;left:0;width:1px;height:1px;padding:0;margin:0;outline:0;overflow:hidden}
#fancybox-hide-sel-frame{position:absolute;top:0;left:0;width:100%;height:100%;background:transparent}
#fancybox-close{position:absolute;top:-15px;right:-15px;width:30px;height:30px;background-image:url(Pending_relink)/*tpa=http://www.blackstone.com/WebResource.axd?d=VbrQruZ8VpQ_2CFHkLyyw3m_d1wshsE5Wkztcw_3sW52Wjb0z46HJBAqhHNoapCu5v9izXk7tb6VU1Shkz0Pt9S-SvEOCqLjpqM8MqzSAt4-_9UF3poAgUz8Rgx3oFM1bObV37wzvlSyEt-WjKbDH9EjfwfxJ8wZejurT3Ka-5IsCAI6GiXjmTWpuLDO_mm5INPADA2&t=635491612740000000*/;background-position:-40px 0;cursor:pointer;z-index:1103;display:none}
#fancybox_error{color:#444;font:normal 12px/20px Arial;padding:7px;margin:0}
#fancybox-content{height:auto;width:auto;padding:0;margin:0}
#fancybox-img{width:100%;height:100%;padding:0;margin:0;border:0;outline:0;line-height:0;vertical-align:top;-ms-interpolation-mode:bicubic}
#fancybox-frame{position:relative;width:100%;height:100%;border:0;display:block}
#fancybox-title{position:absolute;bottom:0;left:0;font-family:Arial;font-size:12px;z-index:1102;margin-top:10px;margin-left:-3px;font-weight:bold;line-height:1.2;color:#FFF;background-color:#000;border:3px solid #fff;padding:15px 10px;font-weight:normal!important}
.fancybox-title-inside{padding:10px 0;text-align:center;color:#333}
.fancybox-title-outside{padding-top:5px;color:#FFF;text-align:center;font-weight:bold}
#fancybox-left,#fancybox-right{position:absolute;bottom:0;height:100%;width:35%;cursor:pointer;outline:0;background-image:url(Pending_relink)/*tpa=http://www.blackstone.com/WebResource.axd?d=f3tCACayRrUY9hUM2FVS0pBTgUOuV3sndKxhpfoG5rYyImDoGZCf9qB4wIqYKr5vII8TUWZGDjhOjDMV18tVOWYmUUWnAFzSQACZ16nAX5vG6Io9tBjv_LVPMw_Q8TeYQWUvtr7jutsRssKC4tTujzoB4IsdmFspkV27QTONISPSCD-JwtwprpVih9ctKpqhFpAV_g2&t=635491612740000000*/;z-index:1102;display:none}
#fancybox-left{left:0}
#fancybox-right{right:0}
#fancybox-left-ico,#fancybox-right-ico{position:absolute;top:50%;left:-9999px;width:30px;height:30px;margin-top:-15px;cursor:pointer;z-index:1102;display:block}
#fancybox-left-ico{background-image:url(Pending_relink)/*tpa=http://www.blackstone.com/WebResource.axd?d=VbrQruZ8VpQ_2CFHkLyyw3m_d1wshsE5Wkztcw_3sW52Wjb0z46HJBAqhHNoapCu5v9izXk7tb6VU1Shkz0Pt9S-SvEOCqLjpqM8MqzSAt4-_9UF3poAgUz8Rgx3oFM1bObV37wzvlSyEt-WjKbDH9EjfwfxJ8wZejurT3Ka-5IsCAI6GiXjmTWpuLDO_mm5INPADA2&t=635491612740000000*/;background-position:-40px -30px}
#fancybox-right-ico{background-image:url(Pending_relink)/*tpa=http://www.blackstone.com/WebResource.axd?d=VbrQruZ8VpQ_2CFHkLyyw3m_d1wshsE5Wkztcw_3sW52Wjb0z46HJBAqhHNoapCu5v9izXk7tb6VU1Shkz0Pt9S-SvEOCqLjpqM8MqzSAt4-_9UF3poAgUz8Rgx3oFM1bObV37wzvlSyEt-WjKbDH9EjfwfxJ8wZejurT3Ka-5IsCAI6GiXjmTWpuLDO_mm5INPADA2&t=635491612740000000*/;background-position:-40px -60px}
#fancybox-left:hover,#fancybox-right:hover{visibility:visible}
#fancybox-left:hover span{left:20px}
#fancybox-right:hover span{left:auto;right:20px}
.fancy-bg,#fancybox-title-left,#fancybox-title-right{display:none}
/* END Telerik.Sitefinity.Resources.Themes.Basic.Styles.fancybox.css */
/* START Telerik.Sitefinity.Resources.Themes.LayoutsBasics.css */
.sf_cols{width:100%;margin:0;padding:0}
.sf_cols:before,.sf_cols:after{content:"";display:table}
.sf_cols:after{clear:both}
.sf_cols{zoom:1}
.sf_colsOut+.sf_colsOut{*margin-left:-1px!important}
.sf_block{display:block}
.sf_1col_1_100{float:none;margin:0}
.sf_2cols_1_25{float:left;width:25%;margin:0}
.sf_2cols_2_75{float:right;width:75%;margin:0}
.sf_2cols_2_75 .sf_2cols_2in_75{margin-left:12px}
.sf_2cols_1_33{float:left;width:33%;margin:0}
.sf_2cols_2_67{float:right;width:67%;margin:0}
.sf_2cols_2_67 .sf_2cols_2in_67{margin-left:12px}
.sf_2cols_1_50{float:left;width:50%;margin:0}
.sf_2cols_2_50{float:right;width:50%;margin:0}
.sf_2cols_2_50 .sf_2cols_2in_50{margin-left:12px}
.sf_2cols_1_67{float:left;width:67%;margin:0}
.sf_2cols_2_33{float:right;width:33%;margin:0}
.sf_2cols_2_33 .sf_2cols_2in_33{margin-left:12px}
.sf_2cols_1_75{float:left;width:75%;margin:0}
.sf_2cols_2_25{float:right;width:25%;margin:0}
.sf_2cols_2_25 .sf_2cols_2in_25{margin-left:12px}
.sf_3cols_1_33{float:left;width:33%;margin:0}
.sf_3cols_2_34{float:left;width:34%;margin:0}
.sf_3cols_3_33{float:left;width:33%;margin:0;_margin-left:-1px!important}
.sf_3cols_2_34 .sf_3cols_2in_34,.sf_3cols_3_33 .sf_3cols_3in_33{margin-left:12px}
.sf_3cols_1_25{float:left;width:25%;margin:0}
.sf_3cols_2_50{float:left;width:50%;margin:0}
.sf_3cols_3_25{float:left;width:25%;margin:0;_margin-left:-1px!important}
.sf_3cols_2_50 .sf_3cols_2in_50,.sf_3cols_3_25 .sf_3cols_3in_25{margin-left:12px}
.sf_4cols_1_25,.sf_4cols_2_25,.sf_4cols_3_25,.sf_4cols_4_25{float:left;width:25%;margin:0}
.sf_4cols_4_25{_margin-left:-1px!important}
.sf_4cols_2_25 .sf_4cols_2in_25,.sf_4cols_3_25 .sf_4cols_3in_25,.sf_4cols_4_25 .sf_4cols_4in_25{margin-left:12px}
.sf_5cols_1_20,.sf_5cols_2_20,.sf_5cols_3_20,.sf_5cols_4_20,.sf_5cols_5_20{float:left;width:20%;margin:0}
.sf_5cols_5_20{_margin-left:-1px!important}
.sf_5cols_2_20 .sf_5cols_2in_20,.sf_5cols_3_20 .sf_5cols_3in_20,.sf_5cols_4_20 .sf_5cols_4in_20,.sf_5cols_5_20 .sf_5cols_5in_20{margin-left:12px}
/* END Telerik.Sitefinity.Resources.Themes.LayoutsBasics.css */
