@import url(Pending_relink)/*tpa=http://fast.fonts.net/t/1.css?apiType=css&projectid=670cc57d-62bc-40a9-be76-13808a689ff3*/;
@font-face{
font-family:"Respublika FY W01 Light";
src:url("../dv2/2/fi170197.eot-d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=670cc57d-62bc-40a9-be76-13808a689ff3")/*tpa=http://fast.fonts.net/dv2/2/8d61d2c3-24a7-43d3-a705-cc02a720405a.eot?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=670cc57d-62bc-40a9-be76-13808a689ff3*/ format("eot");
}
@font-face{
font-family:"Respublika FY W01 Light";
src:url("../dv2/2/fi170197.eot-d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=670cc57d-62bc-40a9-be76-13808a689ff3")/*tpa=http://fast.fonts.net/dv2/2/8d61d2c3-24a7-43d3-a705-cc02a720405a.eot?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=670cc57d-62bc-40a9-be76-13808a689ff3*/;
src:url("../dv2/3/fi170198.woff-d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=670cc57d-62bc-40a9-be76-13808a689ff3")/*tpa=http://fast.fonts.net/dv2/3/52853a61-5a1a-46ef-8c7d-a94fd1573a87.woff?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=670cc57d-62bc-40a9-be76-13808a689ff3*/ format("woff"),url("../dv2/1/fi170199.ttf-d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=670cc57d-62bc-40a9-be76-13808a689ff3")/*tpa=http://fast.fonts.net/dv2/1/601db025-94af-4579-9939-e173ac6734ee.ttf?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=670cc57d-62bc-40a9-be76-13808a689ff3*/ format("truetype"),url("../dv2/11/fi170200.svg-d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=670cc57d-62bc-40a9-be76-13808a689ff3#799a9427-c362-4804-83da-7e9707100f28")/*tpa=http://fast.fonts.net/dv2/11/799a9427-c362-4804-83da-7e9707100f28.svg?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=670cc57d-62bc-40a9-be76-13808a689ff3#799a9427-c362-4804-83da-7e9707100f28*/ format("svg");
}
@font-face{
font-family:"Respublika FY W01 Light Italic";
src:url("../dv2/2/fi170201.eot-d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=670cc57d-62bc-40a9-be76-13808a689ff3")/*tpa=http://fast.fonts.net/dv2/2/7f4c6ef9-835f-4da8-8779-db90fbdaa5ce.eot?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=670cc57d-62bc-40a9-be76-13808a689ff3*/ format("eot");
}
@font-face{
font-family:"Respublika FY W01 Light Italic";
src:url("../dv2/2/fi170201.eot-d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=670cc57d-62bc-40a9-be76-13808a689ff3")/*tpa=http://fast.fonts.net/dv2/2/7f4c6ef9-835f-4da8-8779-db90fbdaa5ce.eot?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=670cc57d-62bc-40a9-be76-13808a689ff3*/;
src:url("../dv2/3/fi170202.woff-d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=670cc57d-62bc-40a9-be76-13808a689ff3")/*tpa=http://fast.fonts.net/dv2/3/91a71ea4-2086-4ecb-8c95-dc77a323b360.woff?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=670cc57d-62bc-40a9-be76-13808a689ff3*/ format("woff"),url("../dv2/1/fi170203.ttf-d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=670cc57d-62bc-40a9-be76-13808a689ff3")/*tpa=http://fast.fonts.net/dv2/1/ebbef0da-6ada-49a8-a76a-4abf0d8947db.ttf?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=670cc57d-62bc-40a9-be76-13808a689ff3*/ format("truetype"),url("../dv2/11/fi170204.svg-d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=670cc57d-62bc-40a9-be76-13808a689ff3#9ed51ccf-2976-4795-86ca-594897ef8aea")/*tpa=http://fast.fonts.net/dv2/11/9ed51ccf-2976-4795-86ca-594897ef8aea.svg?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=670cc57d-62bc-40a9-be76-13808a689ff3#9ed51ccf-2976-4795-86ca-594897ef8aea*/ format("svg");
}
@font-face{
font-family:"Respublika FY W01 Regular";
src:url("../dv2/2/fi170205.eot-d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=670cc57d-62bc-40a9-be76-13808a689ff3")/*tpa=http://fast.fonts.net/dv2/2/37447912-fa17-4b42-a8bd-1beb7c55f20d.eot?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=670cc57d-62bc-40a9-be76-13808a689ff3*/ format("eot");
}
@font-face{
font-family:"Respublika FY W01 Regular";
src:url("../dv2/2/fi170205.eot-d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=670cc57d-62bc-40a9-be76-13808a689ff3")/*tpa=http://fast.fonts.net/dv2/2/37447912-fa17-4b42-a8bd-1beb7c55f20d.eot?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=670cc57d-62bc-40a9-be76-13808a689ff3*/;
src:url("../dv2/3/fi170206.woff-d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=670cc57d-62bc-40a9-be76-13808a689ff3")/*tpa=http://fast.fonts.net/dv2/3/e572b324-11bf-4c4b-ba04-c4e609fb03a6.woff?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=670cc57d-62bc-40a9-be76-13808a689ff3*/ format("woff"),url("../dv2/1/fi170207.ttf-d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=670cc57d-62bc-40a9-be76-13808a689ff3")/*tpa=http://fast.fonts.net/dv2/1/f74cfe2d-6b4e-4bad-93fd-66a76450ad5d.ttf?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=670cc57d-62bc-40a9-be76-13808a689ff3*/ format("truetype"),url("../dv2/11/fi170208.svg-d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=670cc57d-62bc-40a9-be76-13808a689ff3#f47df439-bed1-4811-a676-e0a8cc8f737e")/*tpa=http://fast.fonts.net/dv2/11/f47df439-bed1-4811-a676-e0a8cc8f737e.svg?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=670cc57d-62bc-40a9-be76-13808a689ff3#f47df439-bed1-4811-a676-e0a8cc8f737e*/ format("svg");
}
@font-face{
font-family:"Respublika FY W01 Italic";
src:url("../dv2/2/fi170209.eot-d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=670cc57d-62bc-40a9-be76-13808a689ff3")/*tpa=http://fast.fonts.net/dv2/2/da9922a0-d730-4733-8e99-e1d3212a2973.eot?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=670cc57d-62bc-40a9-be76-13808a689ff3*/ format("eot");
}
@font-face{
font-family:"Respublika FY W01 Italic";
src:url("../dv2/2/fi170209.eot-d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=670cc57d-62bc-40a9-be76-13808a689ff3")/*tpa=http://fast.fonts.net/dv2/2/da9922a0-d730-4733-8e99-e1d3212a2973.eot?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=670cc57d-62bc-40a9-be76-13808a689ff3*/;
src:url("../dv2/3/fi170210.woff-d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=670cc57d-62bc-40a9-be76-13808a689ff3")/*tpa=http://fast.fonts.net/dv2/3/d258afe0-7319-46d2-9f5e-72481562b194.woff?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=670cc57d-62bc-40a9-be76-13808a689ff3*/ format("woff"),url("../dv2/1/fi170211.ttf-d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=670cc57d-62bc-40a9-be76-13808a689ff3")/*tpa=http://fast.fonts.net/dv2/1/e829dc96-ac4f-4296-9c23-89969ffdbb7a.ttf?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=670cc57d-62bc-40a9-be76-13808a689ff3*/ format("truetype"),url("../dv2/11/fi170212.svg-d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=670cc57d-62bc-40a9-be76-13808a689ff3#07c6be4e-5a39-4138-93ad-71256e74d3e2")/*tpa=http://fast.fonts.net/dv2/11/07c6be4e-5a39-4138-93ad-71256e74d3e2.svg?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=670cc57d-62bc-40a9-be76-13808a689ff3#07c6be4e-5a39-4138-93ad-71256e74d3e2*/ format("svg");
}
@font-face{
font-family:"Respublika FY W01 Bold";
src:url("../dv2/2/fi170213.eot-d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=670cc57d-62bc-40a9-be76-13808a689ff3")/*tpa=http://fast.fonts.net/dv2/2/b4dcfce5-0c7d-4904-83ae-f27edbda2ff7.eot?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=670cc57d-62bc-40a9-be76-13808a689ff3*/ format("eot");
}
@font-face{
font-family:"Respublika FY W01 Bold";
src:url("../dv2/2/fi170213.eot-d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=670cc57d-62bc-40a9-be76-13808a689ff3")/*tpa=http://fast.fonts.net/dv2/2/b4dcfce5-0c7d-4904-83ae-f27edbda2ff7.eot?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=670cc57d-62bc-40a9-be76-13808a689ff3*/;
src:url("../dv2/3/fi170214.woff-d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=670cc57d-62bc-40a9-be76-13808a689ff3")/*tpa=http://fast.fonts.net/dv2/3/101e9924-0eba-4c4a-b3c9-d707f4b71f93.woff?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=670cc57d-62bc-40a9-be76-13808a689ff3*/ format("woff"),url("../dv2/1/fi170215.ttf-d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=670cc57d-62bc-40a9-be76-13808a689ff3")/*tpa=http://fast.fonts.net/dv2/1/a6b55fc6-2825-409c-a2f6-76bde5e4ade7.ttf?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=670cc57d-62bc-40a9-be76-13808a689ff3*/ format("truetype"),url("../dv2/11/fi170216.svg-d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=670cc57d-62bc-40a9-be76-13808a689ff3#cdc16cb6-6405-485a-81cc-e9d5784d956a")/*tpa=http://fast.fonts.net/dv2/11/cdc16cb6-6405-485a-81cc-e9d5784d956a.svg?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=670cc57d-62bc-40a9-be76-13808a689ff3#cdc16cb6-6405-485a-81cc-e9d5784d956a*/ format("svg");
}
@font-face{
font-family:"Respublika FY W01 Bold Italic";
src:url("../dv2/2/fi170217.eot-d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=670cc57d-62bc-40a9-be76-13808a689ff3")/*tpa=http://fast.fonts.net/dv2/2/eb6ca9cc-a2a1-4118-a04d-f82ba65cc783.eot?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=670cc57d-62bc-40a9-be76-13808a689ff3*/ format("eot");
}
@font-face{
font-family:"Respublika FY W01 Bold Italic";
src:url("../dv2/2/fi170217.eot-d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=670cc57d-62bc-40a9-be76-13808a689ff3")/*tpa=http://fast.fonts.net/dv2/2/eb6ca9cc-a2a1-4118-a04d-f82ba65cc783.eot?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=670cc57d-62bc-40a9-be76-13808a689ff3*/;
src:url("../dv2/3/fi170218.woff-d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=670cc57d-62bc-40a9-be76-13808a689ff3")/*tpa=http://fast.fonts.net/dv2/3/9f8f2be5-30bb-4157-9265-417ed5e60cb4.woff?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=670cc57d-62bc-40a9-be76-13808a689ff3*/ format("woff"),url("../dv2/1/fi170219.ttf-d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=670cc57d-62bc-40a9-be76-13808a689ff3")/*tpa=http://fast.fonts.net/dv2/1/fcf08bff-1a32-4d89-b05b-a6cb79391ccb.ttf?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=670cc57d-62bc-40a9-be76-13808a689ff3*/ format("truetype"),url("../dv2/11/fi170220.svg-d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=670cc57d-62bc-40a9-be76-13808a689ff3#03a96f46-cd6e-4b4e-bac0-92f036194234")/*tpa=http://fast.fonts.net/dv2/11/03a96f46-cd6e-4b4e-bac0-92f036194234.svg?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=670cc57d-62bc-40a9-be76-13808a689ff3#03a96f46-cd6e-4b4e-bac0-92f036194234*/ format("svg");
}
@font-face{
font-family:"Respublika FY W01 Black";
src:url("../dv2/2/fi170221.eot-d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=670cc57d-62bc-40a9-be76-13808a689ff3")/*tpa=http://fast.fonts.net/dv2/2/eb4a8e1c-1359-4dc1-ae29-9d44a62e3008.eot?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=670cc57d-62bc-40a9-be76-13808a689ff3*/ format("eot");
}
@font-face{
font-family:"Respublika FY W01 Black";
src:url("../dv2/2/fi170221.eot-d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=670cc57d-62bc-40a9-be76-13808a689ff3")/*tpa=http://fast.fonts.net/dv2/2/eb4a8e1c-1359-4dc1-ae29-9d44a62e3008.eot?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=670cc57d-62bc-40a9-be76-13808a689ff3*/;
src:url("../dv2/3/fi170222.woff-d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=670cc57d-62bc-40a9-be76-13808a689ff3")/*tpa=http://fast.fonts.net/dv2/3/e6897bb4-b814-496d-a1b7-304031a886da.woff?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=670cc57d-62bc-40a9-be76-13808a689ff3*/ format("woff"),url("../dv2/1/fi170223.ttf-d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=670cc57d-62bc-40a9-be76-13808a689ff3")/*tpa=http://fast.fonts.net/dv2/1/530de320-1eb6-42b9-a9e0-2fabafb8e416.ttf?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=670cc57d-62bc-40a9-be76-13808a689ff3*/ format("truetype"),url("../dv2/11/fi170224.svg-d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=670cc57d-62bc-40a9-be76-13808a689ff3#f0f7cca1-fc23-4235-9a4a-b9cf9491e679")/*tpa=http://fast.fonts.net/dv2/11/f0f7cca1-fc23-4235-9a4a-b9cf9491e679.svg?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=670cc57d-62bc-40a9-be76-13808a689ff3#f0f7cca1-fc23-4235-9a4a-b9cf9491e679*/ format("svg");
}
@font-face{
font-family:"Respublika FY W01 Black Italic";
src:url("../dv2/2/fi170225.eot-d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=670cc57d-62bc-40a9-be76-13808a689ff3")/*tpa=http://fast.fonts.net/dv2/2/d242c695-f7fc-4cf5-aebf-eb7986c43e12.eot?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=670cc57d-62bc-40a9-be76-13808a689ff3*/ format("eot");
}
@font-face{
font-family:"Respublika FY W01 Black Italic";
src:url("../dv2/2/fi170225.eot-d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=670cc57d-62bc-40a9-be76-13808a689ff3")/*tpa=http://fast.fonts.net/dv2/2/d242c695-f7fc-4cf5-aebf-eb7986c43e12.eot?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=670cc57d-62bc-40a9-be76-13808a689ff3*/;
src:url("../dv2/3/fi170226.woff-d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=670cc57d-62bc-40a9-be76-13808a689ff3")/*tpa=http://fast.fonts.net/dv2/3/5ba86bdc-4bec-421a-a63a-fbb1e96a829e.woff?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=670cc57d-62bc-40a9-be76-13808a689ff3*/ format("woff"),url("../dv2/1/fi170227.ttf-d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=670cc57d-62bc-40a9-be76-13808a689ff3")/*tpa=http://fast.fonts.net/dv2/1/cb05c7e0-ed42-4049-a3cc-4aadddb65ee3.ttf?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=670cc57d-62bc-40a9-be76-13808a689ff3*/ format("truetype"),url("../dv2/11/fi170228.svg-d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=670cc57d-62bc-40a9-be76-13808a689ff3#52e12d30-39c2-44ab-a83b-c1135dad9060")/*tpa=http://fast.fonts.net/dv2/11/52e12d30-39c2-44ab-a83b-c1135dad9060.svg?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=670cc57d-62bc-40a9-be76-13808a689ff3#52e12d30-39c2-44ab-a83b-c1135dad9060*/ format("svg");
}
@font-face{
font-family:"Respublika FY W01 Extra Black";
src:url("../dv2/2/fi170229.eot-d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=670cc57d-62bc-40a9-be76-13808a689ff3")/*tpa=http://fast.fonts.net/dv2/2/bbca2ffb-87ec-415d-8e30-e6c9ff37ebc4.eot?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=670cc57d-62bc-40a9-be76-13808a689ff3*/ format("eot");
}
@font-face{
font-family:"Respublika FY W01 Extra Black";
src:url("../dv2/2/fi170229.eot-d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=670cc57d-62bc-40a9-be76-13808a689ff3")/*tpa=http://fast.fonts.net/dv2/2/bbca2ffb-87ec-415d-8e30-e6c9ff37ebc4.eot?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=670cc57d-62bc-40a9-be76-13808a689ff3*/;
src:url("../dv2/3/fi170230.woff-d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=670cc57d-62bc-40a9-be76-13808a689ff3")/*tpa=http://fast.fonts.net/dv2/3/92098816-16f4-484b-b5a1-1247e5fdfb6c.woff?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=670cc57d-62bc-40a9-be76-13808a689ff3*/ format("woff"),url("../dv2/1/fi170231.ttf-d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=670cc57d-62bc-40a9-be76-13808a689ff3")/*tpa=http://fast.fonts.net/dv2/1/ce9fbf8d-3d2e-4ae2-9559-12138f1805e8.ttf?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=670cc57d-62bc-40a9-be76-13808a689ff3*/ format("truetype"),url("../dv2/11/fi170232.svg-d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=670cc57d-62bc-40a9-be76-13808a689ff3#ac0f3565-c501-4615-bbe7-f57613169b84")/*tpa=http://fast.fonts.net/dv2/11/ac0f3565-c501-4615-bbe7-f57613169b84.svg?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=670cc57d-62bc-40a9-be76-13808a689ff3#ac0f3565-c501-4615-bbe7-f57613169b84*/ format("svg");
}
@font-face{
font-family:"Respublika FY W01 X Blk Italic";
src:url("../dv2/2/fi170233.eot-d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=670cc57d-62bc-40a9-be76-13808a689ff3")/*tpa=http://fast.fonts.net/dv2/2/6d74156e-1af2-4494-8db8-376550d1869d.eot?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=670cc57d-62bc-40a9-be76-13808a689ff3*/ format("eot");
}
@font-face{
font-family:"Respublika FY W01 X Blk Italic";
src:url("../dv2/2/fi170233.eot-d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=670cc57d-62bc-40a9-be76-13808a689ff3")/*tpa=http://fast.fonts.net/dv2/2/6d74156e-1af2-4494-8db8-376550d1869d.eot?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=670cc57d-62bc-40a9-be76-13808a689ff3*/;
src:url("../dv2/3/fi170234.woff-d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=670cc57d-62bc-40a9-be76-13808a689ff3")/*tpa=http://fast.fonts.net/dv2/3/a3ce2a2d-e089-4c14-bf4e-0046e2a8b347.woff?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=670cc57d-62bc-40a9-be76-13808a689ff3*/ format("woff"),url("../dv2/1/fi170235.ttf-d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=670cc57d-62bc-40a9-be76-13808a689ff3")/*tpa=http://fast.fonts.net/dv2/1/7076ed32-c3ec-4b8f-8460-2e82020b51ab.ttf?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=670cc57d-62bc-40a9-be76-13808a689ff3*/ format("truetype"),url("../dv2/11/fi170236.svg-d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=670cc57d-62bc-40a9-be76-13808a689ff3#0df00342-ef86-4889-b74d-12a02739441a")/*tpa=http://fast.fonts.net/dv2/11/0df00342-ef86-4889-b74d-12a02739441a.svg?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=670cc57d-62bc-40a9-be76-13808a689ff3#0df00342-ef86-4889-b74d-12a02739441a*/ format("svg");
}
