@import url(../../../../fonts.googleapis.com/css-family=Open+Sans-400,300,400italic,700,600,600italic.css)/*tpa=http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700,600,600italic*/;
/*
          ,/
        ./(\
 -`___-'  |`
 ''-(  -`--)
     7/`
     \\ BP
*/
body.v4master {
  color: #222222;
  font-size: 14px;
}
.ms-WPBody {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
#s4-ribbonrow .ms-MenuUIPopupBody,
#s4-ribbonrow .ms-popoutMenu,
.ms-cui-menu[id^="Ribbon."],
.ms-cui-tooltip {
  position: fixed !important;
}
/* offsets design mode */
#TurnOnAccessibility {
  height: 45px;
}
.s4-skipribbonshortcut {
  height: 90px;
  border-bottom: 1px solid #ccc;
  background-color: #f8f8f8;
}
#s4-statusbarcontainer {
  margin-top: 0;
}
#s4-statusbarcontainer .s4-status-s3 {
  width: 100%;
}
body #s4-ribboncont {
  background: #000;
}
body.v4master {
  overflow-x: hidden !important;
  overflow-y: scroll !important;
}
body #s4-workspace {
  overflow: visible !important;
}
body #s4-ribbonrow {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}
.s4-title {
  overflow: hidden;
}
.s4-ca {
  margin-left: 0px;
}
/* MASTERPAGE */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
a img {
  border: 0 none;
}
a:link,
.ms-WPBody a:link {
  color: #c6002b;
}
a:visited,
.ms-WPBody a:visited {
  color: #ad0025;
}
a:hover {
  color: #c6002b;
}
.mp-body {
  width: 990px;
  min-height: 620px;
  padding-bottom: 20px;
  margin: 0 auto;
  padding: 5px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.mp-body a:hover {
  text-decoration: underline;
}
.mp-body h1,
.mp-body h2,
.mp-body h3,
.mp-body h4,
.mp-body h5,
.mp-body h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.1em;
}
.mp-body h1 {
  color: #c6002b;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: -1px;
  font-size: 30px;
  line-height: 1.1em;
}
.mp-body h2 {
  color: #3c3c3c;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 23px;
  font-weight: 300;
  line-height: 1.1em;
}
.mp-body h3 {
  color: #3c3c3c;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.1em;
}
.mp-body h4 {
  color: #3c3c3c;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.1em;
}
.mp-body h5 {
  color: #3c3c3c;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1em;
}
.mp-body .ih-Style-Button {
  display: inline-block;
  color: white;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  background-color: #c6002b;
  background-image: linear-gradient(to bottom, #d0002d, #bc0029);
  border: 1px solid #930020;
  box-shadow: inset 0 0 -10px -10px rgba(0, 0, 0, 0.9);
  border-radius: 6px;
  cursor: pointer;
  padding: 8px 10px 8px 10px;
  padding: 4px 12px;
  color: white !important;
  width: inherit;
  height: inherit;
}
.mp-body .ih-Style-Button:hover {
  background-color: #930020;
  background-image: linear-gradient(to bottom, #cb002c, #7a001a);
  text-decoration: none;
}
.mp-header {
  margin: 30px 0 20px;
  height: 90px;
  position: relative;
}
.mp-header a.mp-logo-link {
  float: left;
  display: inline-block;
  width: 375px;
  height: 45px;
  background: url('../Images/ihm-logo.png')/*tpa=http://www.iheartmedia.com/Style%20Library/iHeart/Images/ihm-logo.png*/ no-repeat;
}
.mp-header a.mp-header-listen {
  display: inline-block;
  color: white;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  background-color: #c6002b;
  background-image: linear-gradient(to bottom, #d0002d, #bc0029);
  border: 1px solid #930020;
  box-shadow: inset 0 0 -10px -10px rgba(0, 0, 0, 0.9);
  border-radius: 6px;
  cursor: pointer;
  padding: 8px 10px 8px 10px;
  float: right;
  height: 20px;
  line-height: 20px;
  padding: 8px 15px 8px 10px;
  margin-right: 10px;
}
.mp-header a.mp-header-listen:hover {
  background-color: #930020;
  background-image: linear-gradient(to bottom, #cb002c, #7a001a);
  text-decoration: none;
}
.mp-header a.mp-header-listen:before {
  animation: beat 1s 2s;
  content: url('../Images/ihm-listen-icon.png')/*tpa=http://www.iheartmedia.com/Style%20Library/iHeart/Images/ihm-listen-icon.png*/;
  float: left;
  margin-right: 6px;
}
.mp-header .mp-header-content {
  float: right;
  width: 480px;
  padding-top: 10px;
}
.mp-header .mp-header-content .s4-wpTopTable {
  float: left;
  width: auto;
  text-align: left;
}
.mp-header .s4-search {
  font-size: 16px;
}
.mp-header .s4-search input.ms-sbplain {
  border: 1px solid #ccc !important;
  border-right: 0;
  height: 36px !important;
  width: 250px !important;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222222;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  border-radius: 6px 0 0 6px;
  padding-left: 15px;
  text-align: left;
  line-height: 20px;
}
.mp-header .s4-search input.ms-sbplain:hover {
  background-color: #ffffff !important;
}
.mp-header .s4-search input.ms-sbplain.s4-searchbox-QueryPrompt {
  text-indent: 10px;
}
.mp-header .s4-search .ms-sbgo a {
  display: block;
  width: 40px;
  text-align: center;
  height: 36px !important;
  background-color: #222222;
  background-image: linear-gradient(to bottom, #444444, #111111);
  border: 1px solid #000;
  box-shadow: inset 0 0 -10px -10px rgba(0, 0, 0, 0.9);
  border-radius: 0 6px 6px 0;
  font-size: 16px;
  text-decoration: none !important;
}
.mp-header .s4-search .ms-sbgo a:before {
  content: "GO";
  color: white;
  line-height: 36px;
  width: 40px;
  text-align: center;
}
.mp-header .s4-search .ms-sbgo a:hover {
  background-image: linear-gradient(to bottom, #666666, #333333);
}
.mp-header .s4-search .ms-sbgo img {
  display: none;
}
.mp-header .mp-header-nav {
  position: absolute;
  right: 0;
  bottom: 0;
}
@keyframes beat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.mp-footer {
  padding-top: 20px;
  margin-top: 20px;
  clear: both;
  border-top: 1px solid #848484;
}
.mp-footer .mp-footer-links {
  float: left;
}
.mp-footer .mp-footer-links a {
  padding: 0 10px;
}
.mp-footer .mp-footer-links a:hover {
  color: #c6002b;
  text-decoration: underline;
}
.mp-footer .mp-social {
  float: right;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  line-height: 20px;
}
.mp-footer .mp-social .mp-social-connect {
  float: left;
  font-size: 1.2em;
}
.mp-footer .mp-social a {
  margin-left: 10px;
  display: inline-block;
  float: left;
  color: #222222;
}
.mp-footer .mp-social a:hover {
  color: #c6002b;
  text-decoration: underline;
}
.mp-footer .mp-social .mp-social-fb,
.mp-footer .mp-social .mp-social-tw {
  display: inline-block;
  float: left;
  height: 20px;
  width: 20px;
  margin-right: 7px;
  vertical-align: top;
}
.mp-footer .mp-social .mp-social-fb {
  background-image: url('../Images/social-facebook-20.png')/*tpa=http://www.iheartmedia.com/Style%20Library/iHeart/Images/social-facebook-20.png*/;
}
.mp-footer .mp-social .mp-social-tw {
  background-image: url('../Images/social-twitter-20.png')/*tpa=http://www.iheartmedia.com/Style%20Library/iHeart/Images/social-twitter-20.png*/;
}
.mp-footer .mp-copyright {
  clear: both;
  display: block;
  padding: 10px;
}
.mp-footer .mp-copyright small {
  font-size: 12px;
}
.page {
  padding-bottom: 20px;
}
.page:before,
.page:after {
  content: " ";
  display: table;
}
.page:after {
  clear: both;
}
.page:before,
.page:after {
  content: " ";
  display: table;
}
.page:after {
  clear: both;
}
.page.page-homepage {
  padding-bottom: 20px;
}
.mp-header-nav {
  position: absolute;
  right: 0;
  bottom: 0;
}
.mp-header-nav .menu ul {
  /* root items */
}
.mp-header-nav .menu ul li.static a:hover,
.mp-header-nav .menu ul li.static a:active {
  background-color: #222222;
  color: white !important;
  text-decoration: none;
}
.mp-header-nav .menu ul.static {
  z-index: 999;
}
.mp-header-nav .menu ul.static > li.static {
  /* first element */
}
.mp-header-nav .menu ul.static > li.static > a {
  display: none;
}
.mp-header-nav .menu ul.static > li.static ul.static > li {
  /* force quick show instead of JS */
  /* force quick hide instead of JS */
}
.mp-header-nav .menu ul.static > li.static ul.static > li:hover > UL.dynamic {
  display: block;
}
.mp-header-nav .menu ul.static > li.static ul.static > li > ul.dynamic {
  display: none;
}
.mp-header-nav .menu ul.static > li.static ul.static > li > a.menu-item {
  font-size: 16px;
  line-height: 16px;
  border-radius: 6px;
  padding: 7px 10px;
  display: block;
  font-weight: 600;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222222;
}
.mp-header-nav .menu ul.static > li.static ul.static > li > a.menu-item.dynamic-children {
  border-radius: 6px 6px 0 0;
}
.mp-header-nav .menu ul.static > li.static ul.static > li.dynamic-children {
  /* dropdowns */
}
.mp-header-nav .menu ul.static > li.static ul.static > li.dynamic-children.hover .menu-item {
  color: #fff;
}
.mp-header-nav .menu ul.static > li.static ul.static > li.dynamic-children span.additional-background {
  padding-right: 0;
  background-image: none;
}
.mp-header-nav .menu ul.static > li.static ul.static > li.dynamic-children ul.dynamic {
  z-index: 999;
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
  background-color: #222222;
  border: 0;
  width: 240px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  margin-left: 1px;
  line-height: 16px;
}
.mp-header-nav .menu ul.static > li.static ul.static > li.dynamic-children ul.dynamic li {
  border-bottom: 1px solid #444;
}
.mp-header-nav .menu ul.static > li.static ul.static > li.dynamic-children ul.dynamic li a.menu-item {
  padding: 6px 10px;
  display: block;
  font-size: 15px;
  color: white !important;
}
.mp-header-nav .menu ul.static > li.static ul.static > li.dynamic-children ul.dynamic li a.menu-item:hover {
  background-color: #333333;
}
.mp-header-nav .menu ul.static > li.static ul.static > li.dynamic-children ul.dynamic li:last-child {
  border-bottom: none !important;
  color: white !important;
  border-radius: 0 0 6px 6px;
}
.mp-header-nav .menu ul.static > li.static ul.static > li.dynamic-children ul.dynamic li:last-child a:hover {
  border-radius: 0 0 6px 6px;
}
.mp-header-nav .menu ul.static > li.static ul.static > li.hover > a.menu-item {
  /* when the hover goes to the dropdown */
  background-color: #222222;
  color: white;
}
.mp-header-nav .menu ul.static > li.static ul.static:last-child:hover > UL.dynamic {
  display: block;
  left: -149px !important;
  position: absolute !important;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 6px !important;
  border-top-right-radius: 0px !important;
}
.nav-side {
  border-top: 1px solid #ccc;
  margin-bottom: 20px;
}
.nav-side a,
.nav-side span {
  display: block;
  padding: 8px 10px;
  border-bottom: 1px solid #ccc;
  color: #222222;
}
.nav-side a:hover,
.nav-side span:hover {
  color: #c6002b;
  background-color: #f5f5f5;
  text-decoration: none;
}
.nav-side > span {
  cursor: pointer;
}
.nav-side .nav-nested {
  display: none;
}
.nav-side .nav-nested a {
  padding-left: 20px;
}
.nav-side a.active {
  background-color: #f8f8f8;
}
/* homepage styles */
.pageSize {
  overflow: auto;
  clear: both;
}
/* important to override the page layout from CC*/
.layoutHomePageBottomWebParts .ms-WPTitle {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  color: #222222 !important;
  font-size: 16px !important;
  border-bottom: 1px solid #222222;
}
.layoutHomePageBottomWebParts .ms-WPHeaderTdMenu {
  display: none;
}
.captionTitle {
  color: white !important;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 24px !important;
  font-weight: 600 !important;
  margin: 0;
  padding: 0;
}
.captionDescription {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  padding: 0;
  margin: 0;
  font-weight: 400 !important;
  font-size: 13px !important;
}
.layoutHomePageBottomWebParts {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.homePageToutsTitle {
  font-weight: 600;
}
.homePageSlider {
  height: 315px;
  width: 490px;
  margin-right: 10px;
}
.homePageIheartArea {
  height: 315px;
  width: 490px;
}
.homePageIheartButton {
  margin: 0 25px 45px 0;
  color: White;
  background-color: #00afec;
  border: 1px solid #007ba3;
}
.homePageToutsNewsSize {
  height: 285px;
  width: 315px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.homePageTouts {
  border: 1px solid #848484;
  border-radius: 6px;
  min-height: 300px;
}
.homePageToutsImages {
  height: 164px;
  width: 307px;
  margin: 4px 4px 15px 4px;
}
.homePageToutsTitle {
  font-weight: 600;
  font-size: 24px;
  color: #222222;
  margin-bottom: 10px;
  text-align: center;
  line-height: 24px;
}
.homePageToutsContent {
  margin: 0px 10px 10px 10px;
  line-height: 15px;
}
.homePageNewsTitle {
  font-weight: 900 !important;
  font-style: normal !important;
  font-size: 13px;
  color: #222222;
  border-bottom: 1px solid #9d9d9d;
  padding-bottom: 10px;
  line-height: 13px;
}
.homePageNewsPressReleaseTitles {
  font-style: normal !important;
  font-size: 13px;
  margin-bottom: 20px;
  color: #222222;
  line-height: 13px;
}
.layoutHomePageTopWebParts {
  position: relative;
}
#getapp {
  display: inline-block;
  color: white;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  background-color: #c6002b;
  background-image: linear-gradient(to bottom, #d0002d, #bc0029);
  border: 1px solid #930020;
  box-shadow: inset 0 0 -10px -10px rgba(0, 0, 0, 0.9);
  border-radius: 6px;
  cursor: pointer;
  padding: 8px 10px 8px 10px;
  position: absolute;
  bottom: 30px;
  right: 20px;
  width: 150px;
  padding: 7px 0;
  text-align: center;
  Z-INDEX: 11;
}
#getapp:hover {
  background-color: #930020;
  background-image: linear-gradient(to bottom, #cb002c, #7a001a);
  text-decoration: none;
}
/* NEWS */
a.dfwp-list {
  font-size: 15px;
  color: #222222;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a.dfwp-list:hover {
  color: #c6002b;
  text-decoration: underline;
}
.contentQueryMargin {
  word-wrap: break-word;
  margin-bottom: 12px;
}
a.contentQuery:link,
a.contentQuery:visited {
  Color: #222222;
  line-height: 18px;
}
a.contentQuery:hover,
a.contentQuery:active {
  color: #c6002b;
  text-decoration: underline;
}
.inTheNewsLink {
  font-weight: 700;
  text-decoration: none;
}
/* search page */
li.ms-searchref-filter,
li.ms-searchref-filtermsg {
  padding: 7px 0px 7px 10px !important;
}
.srch-results {
  padding-left: 40px !important;
  width: auto !important;
  max-width: 755px !important;
}
.srch-stats {
  margin-left: 40px;
  border-bottom: 1px solid #848484;
  font-family: Arial;
  font-size: 14px;
  margin-top: 98px;
  line-height: 14px;
}
.srch-stats b {
  font-weight: 700;
  font-style: normal !important;
  font-size: 24px;
  line-height: 24px;
}
.srch-Page {
  padding-left: 250px !important;
  padding-bottom: 32px !important;
}
.srch-Page strong {
  background-image: none !important;
  background-color: #c6002b;
  color: white !important;
}
.srch-Page a:hover {
  background-image: none !important;
  background-color: #c6002b;
  color: white !important;
}
.srch-Page a:link,
.srch-Page a:visited {
  color: #c6002b;
}
.srch-Title3 {
  padding-left: 0px !important;
}
.ms-searchref-selected {
  border: 0px !important;
  background-image: url('Unknown_83_filename')/*tpa=http://www.iheartmedia.com/Style%20Library/iHeart/css/Images/bg-tertiary-nav-hover.png*/ !important;
  border-bottom: 1px solid #d9d9d9 !important;
}
.ms-searchref-selected a {
  color: white !important;
}
.ms-searchref-selected a:link {
  text-decoration: none !important;
}
.ms-searchref-selected:hover a {
  color: white !important;
}
.ms-searchref-unselected {
  border-bottom: 1px solid #d9d9d9 !important;
}
.ms-searchref-unselected a {
  color: #2d2d2d !important;
}
.ms-searchref-unselected a:link {
  text-decoration: none !important;
}
.ms-searchref-unselected:hover {
  background-image: url('Unknown_83_filename')/*tpa=http://www.iheartmedia.com/Style%20Library/iHeart/css/Images/bg-tertiary-nav-hover.png*/ !important;
}
.ms-searchref-unselected:hover a {
  color: white !important;
}
.ms-searchref-categoryname {
  display: none;
}
#SRCHREF {
  margin-top: 88px !important;
  margin-left: 115px !important;
  background: none !important;
  width: 195px !important;
  border: 0px !important;
}
.ms-searchref-filters li:first-child {
  border-top: 1px solid #d9d9d9 !important;
}
.ms-searchref-filterlink {
  font-style: normal !important;
  font-size: 13px !important;
  border: 0px !important;
  line-height: 13px;
}
.ms-searchref-morelink {
  color: #c6002b;
  font-style: normal !important;
  font-size: 12px !important;
  line-height: 12px;
}
.srch-Title2 {
  margin-top: 25px;
}
.srch-Title2 A:hover {
  color: red !important;
  line-height: 18px;
}
.srch-Title2 A:link,
.srch-Title2 A:visited {
  font-style: normal !important;
  color: #00aefc !important;
  text-decoration: none !important;
  line-height: 18px;
}
.srch-Description2 {
  font-style: normal !important;
  line-height: 18px;
  font-size: 14px !important;
  max-width: 755px !important;
  margin-left: 0 !important;
}
.ms-searchref-caption {
  font-style: normal !important;
  font-size: 13px;
  text-decoration: none;
  color: #848484 !important;
  line-height: 13px;
}
/* PAGE LAYOUT */
.layoutHomePageTopWebParts {
  height: 315px;
  width: 490px;
}
.layoutHomePageMarginBetweenTopWP {
  margin-right: 10px;
}
.layoutHomePageMarginBetweenLowerWP {
  margin-right: 20px;
}
.layoutHomePageMarginBetweenWP {
  margin-top: 5px;
  width: 990px;
}
.layoutHomePageBottomWebParts {
  margin-top: 20px;
  width: 315px;
  margin-bottom: 5px;
}
.layoutSecondaryFullTitle {
  height: 25px;
}
.layoutSecondaryFullSecondaryNavigation {
  height: 29px;
  margin-top: 20px;
}
.layoutSecondaryFullContent {
  width: 808px;
  height: auto;
  margin-top: 20px;
  word-wrap: break-word;
}
.layoutSecondaryLeft {
  width: 182px;
  height: auto;
  margin-top: 45px;
}
.layoutSecondaryDiv {
  margin-top: 45px;
  width: 808px;
}
.layoutSecondarySplitLeftDiv {
  width: 310px;
  height: auto;
  margin-right: 40px;
  margin-top: 45px;
}
.layoutSecondarySplitRightDiv {
  width: 640px;
  height: auto;
  margin-top: 45px;
}
.layoutSecondarySplitTitle {
  height: 25px;
}
.layoutSecondarySplitSecondaryNavigation {
  height: 29px;
  margin-top: 20px;
}
.layoutSecondarySplitContent1 {
  width: 640px;
  height: auto;
  margin-top: 20px;
}
.layoutSecondarySplitContent2 {
  margin-top: 20px;
}
.layoutSecondarySplitContent2WebParts {
  width: 300px;
  height: auto;
  word-wrap: break-word;
}
.layoutSecondarySplitContent2WebPartsMargin {
  margin-right: 40px;
}
.layoutSecondaryStandardLeftDiv {
  width: 310px;
  height: auto;
  margin-right: 40px;
  margin-top: 45px;
}
.layoutSecondaryStandardRightDiv {
  width: 640px;
  height: auto;
  margin-top: 45px;
  margin-bottom: 10px;
}
.layoutSecondaryStandardTitle {
  height: 25px;
}
.layoutSecondaryStandardSecondaryNavigation {
  height: 29px;
  width: 640px;
  margin-top: 20px;
}
.layoutSecondaryStandardContent {
  margin-top: 20px;
  width: 640px;
  height: auto;
}
.layoutSecondaryStandardContentWebParts {
  width: 300px;
  word-wrap: break-word;
  height: auto;
}
.layoutSecondaryStandardContentWebPartsMargin {
  margin-right: 40px;
}
.layoutSecondaryWideTitle {
  height: 25px;
  margin-top: 45px;
}
.layoutSecondaryWideSecondaryNavigation {
  height: 29px;
  margin-top: 20px;
}
.layoutSecondaryWideContent {
  margin-top: 20px;
  width: 990px;
}
.layoutSecondaryWideContentWebPart1 {
  width: 310px;
  height: auto;
}
.layoutSecondaryWideContentWebPart2 {
  width: 360px;
  height: auto;
}
.layoutSecondaryWideContentWebPart3 {
  width: 240px;
  height: auto;
}
.layoutSecondaryWideContentWebPartsMargin {
  margin-right: 40px;
}
.layoutStationSearchTitle {
  height: 25px;
  margin-top: 45px;
  margin-left: 350px;
}
.layoutStationSearchSecondaryNavigation {
  height: 29px;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 350px;
}
.layoutStationSearchContent {
  width: 990px;
  height: auto;
}
/* PRESS RELEASE */
.layoutPressReleaseTitle {
  height: 25px;
}
.layoutPressReleaseSecondaryNavigation {
  height: 29px;
  margin-top: 20px;
}
.layoutPressReleaseContent {
  word-wrap: break-word !important;
  height: auto;
  margin-top: 40px;
}
.layoutPressReleaseLeft {
  width: 200px;
  height: auto;
  margin-top: 45px;
  margin-right: 40px;
  margin-left: 0;
}
.layoutPressReleaseDiv {
  margin-top: 45px;
  width: 750px;
}
.layoutPressReleaseNavigate {
  margin-top: 45px;
}
.layoutPressReleaseRelatedArticle {
  margin-top: 40px;
}
.layoutPressReleaseNavigate .LinksBlue {
  color: #222222 !important;
}
/* ADVERTISING */
.layoutAdvertisingLeftDiv {
  width: 310px;
  height: auto;
  margin-right: 40px;
  margin-top: 45px;
}
.layoutAdvertisingRightDiv {
  width: 640px;
  height: auto;
  margin-top: 45px;
}
.layoutAdvertisingRightDiv .ih-Style-Button {
  width: auto !important;
}
.layoutAdvertisingTitle {
  width: 640px;
  height: 25px;
}
.layoutAdvertisingContent {
  word-wrap: break-word;
  margin-top: 50px;
  width: 640px;
  height: auto;
}
.layoutOurTeamTitle {
  width: 640px;
  height: 25px;
  margin-left: 351px;
}
.layoutOurTeamSecondaryNavigation {
  height: 29px;
  margin-top: 20px;
  margin-left: 351px;
}
.layoutOurTeamContent {
  width: 990px;
  height: auto;
  margin-top: 20px;
}
.layoutSecondaryOurTeamDiv {
  margin-top: 45px;
  width: 990px;
}
.layoutInvestors2Title {
  height: 25px;
  margin-top: 45px;
}
.layoutInvestors2SecondaryNavigation {
  height: 29px;
  margin-top: 20px;
}
.layoutInvestors2Content {
  width: 640px;
}
.layoutInvestors2leftContent {
  width: 310px;
  height: auto;
  margin-top: 45px;
}
.layoutInvestors2ContentWebPart1 {
  width: 360px;
  height: auto;
  margin-top: 20px;
}
.layoutInvestors2ContentWebPart2 {
  width: 240px;
  height: auto;
  margin-top: 20px;
}
.layoutInvestors2ContentWebPartsMargin {
  margin-right: 40px;
}
.layoutInvestors2RightContent {
  width: 640px;
  height: auto;
}
.layoutInvestors1Title {
  height: 25px;
  margin-top: 45px;
}
.layoutInvestors1SecondaryNavigation {
  height: 29px;
  margin-top: 20px;
}
.layoutInvestors1Content {
  width: 640px;
}
.layoutInvestors1leftContent {
  width: 310px;
  height: auto;
  margin-top: 45px;
}
.layoutInvestors1ContentWebPart1 {
  width: 640px;
  height: auto;
  margin-top: 20px;
}
.layoutInvestors1ContentWebPartsMargin {
  margin-right: 40px;
}
.layoutInvestors1RightContent {
  width: 640px;
  height: auto;
}
.layoutSearchPageRefinement {
  height: auto;
  width: 200px;
  margin-right: 20px;
}
.layoutSearchPageBody {
  height: auto;
  width: 770px;
}
.layoutSubSiteAdvertisingLeftDiv {
  width: 310px;
  height: auto;
  margin-right: 40px;
  margin-top: 45px;
}
.layoutSubSiteAdvertisingRightDiv {
  width: 640px;
  height: auto;
  margin-top: 45px;
}
.layoutSubSiteAdvertisingTitle {
  width: 640px;
  height: 25px;
}
.layoutSubSiteAdvertisingSecondaryNavigation {
  height: 29px;
  width: 640px;
  margin-top: 20px;
}
.layoutSubSiteAdvertisingContent {
  word-wrap: break-word;
  margin-top: 20px;
  width: 640px;
  height: auto;
}
.layoutSiteMapLeftDiv {
  width: 310px;
  height: auto;
  margin-right: 40px;
  margin-top: 45px;
}
.layoutSiteMapRightDiv {
  width: 640px;
  height: auto;
  margin-top: 45px;
}
.layoutSiteMapTitle {
  width: 640px;
  height: 25px;
}
.layoutSiteMapContent {
  word-wrap: break-word;
  margin-top: 20px;
  width: 640px;
  height: auto;
}
/* PAGE CONTROLS */
#slidescallOut .slides_container {
  width: 310px;
  height: 300px;
  overflow: auto;
  position: relative;
  display: none;
}
.captionDetails .captionTitle {
  color: white;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  margin: 0 0 3px;
  padding: 0;
}
.captionDetails .captionDescription {
  font-size: 13px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: white;
}
.siteSecondaryNavigationDiv {
  width: auto;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
}
ul.siteSecondaryNavigationUl {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: auto;
}
ul.siteSecondaryNavigationUl li {
  float: left;
}
ul.siteSecondaryNavigationUl li a {
  display: inline-block;
  padding: 8px 12px;
  color: #c6002b;
  font-weight: 600;
}
ul.siteSecondaryNavigationUl li a.siteSecondaryNavBackground {
  background-color: #f4f4f4;
  font-weight: 700;
  color: #222222;
}
ul.siteSecondaryNavigationUl li a:hover {
  color: #c6002b;
  background-color: #e8e8e8;
  text-decoration: none;
}
/* investor articles */
.secondThirdTierExecutivesRelatedArticlesTitle {
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  border-bottom: 1px solid #222222;
  padding: 7px 0;
}
.secondThirdTierRelatedArticlesLinksMargin {
  padding: 10px 0;
  border-bottom: 1px dotted #ccc;
}
.secondThirdTierRelatedArticlesLinksMargin a.secondThirdTierExecutivesRelatedArticlesLinks {
  font-size: 12px;
  color: #939697;
  line-height: 13px;
}
/* CALLOUT */
#containercallOut {
  width: 310px;
  position: relative;
  z-index: 0;
}
#examplecallOut {
  width: 310px;
  height: auto;
  position: relative;
}
#slidescallOut {
  left: 4px;
  top: 15px;
  z-index: 100;
}
#slidescallOut .slides_container {
  display: none;
  height: auto;
  overflow: hidden;
  position: relative;
  width: 310px;
}
#slidescallOut .slides_container div.slide {
  display: block;
  margin-bottom: 40px;
  width: 310px;
  height: 300px;
}
#slidescallOut .next {
  left: 585px;
}
#slidescallOut .pagination {
  margin: 26px auto 0;
  width: 100px;
}
#slidescallOut .pagination li {
  float: left;
  list-style: none outside none;
  margin: 0 1px;
}
#slidescallOut .pagination li a {
  background-position: 0 0;
  display: block;
  float: left;
  height: 0;
  overflow: hidden;
  padding-top: 12px;
  width: 12px;
}
#slidescallOut .next,
#slidescallOut .prev {
  display: block;
  height: 43px;
  left: -39px;
  position: absolute;
  top: 107px;
  width: 24px;
  z-index: 101;
}
#slidescallOut .callOutTitle,
#slidescallOut .callOutDescription {
  line-height: 30px;
}
#slidescallOut .callOutTitle {
  color: #c6002b;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: -1px;
  font-size: 30px;
  line-height: 1.1em;
  font-weight: 600;
}
#slidescallOut .callOutDescription {
  color: #3c3c3c;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 23px;
  font-weight: 300;
  line-height: 1.1em;
}
#slidescallOut .callOutQuote {
  color: #939697;
  float: none;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-style: italic !important;
  font-weight: 400 !important;
  margin-bottom: 40px;
  margin-top: 25px;
}
#slidescallOut #slidescallOut .pagination li.current a {
  background-position: 0 -12px;
}
/*
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: normal;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

th {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    text-align: left;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    border: 0;
}

address,
cite,
code,
dfn,
em,
strong,
var {
    font-style: normal;
    font-weight: normal;
}

caption {
    font-style: normal;
    font-weight: normal;
    text-align: left;
}

q:before,
q:after {
    content: '';
}

abbr,
acronym {
    border: 0;
}

    */
.pagesSize {
  height: auto;
  width: 990px;
}
.floatLeft {
  float: left;
}
.floatNone {
  float: none;
}
.floatRight {
  float: right;
}
.LinksBlue,
.LinksBlue:visited {
  color: #c6002b !important;
}
.LinksBlue:hover,
.LinksBlue:active {
  color: Red !important;
}
.LinksGray,
.LinksGray:visited {
  color: #2d2d2d !important;
}
.LinksGray:hover,
.LinksGray:active {
  color: Red !important;
}
.pageCoreContentBodyText {
  font-style: normal !important;
  font-size: 14px;
  line-height: 18px;
}
.siteSectionLevelTitle {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-style: normal !important;
  font-size: 30px;
  text-transform: uppercase;
  color: #2d2d2d;
  margin-bottom: 20px;
  line-height: 30px;
}
.sitePageLevelTitle {
  font-weight: 700;
  font-style: normal !important;
  text-transform: uppercase;
  font-size: 24px;
  color: #c6002b;
  line-height: 24px;
}
.siteDocumentTitle {
  font-weight: 700;
  font-style: normal !important;
  font-style: italic;
  font-size: 16px;
  color: #2d2d2d;
  line-height: 16px;
}
.siteTertiaryTitle {
  font-weight: 700;
  font-style: normal !important;
  font-size: 14px;
  color: #2d2d2d;
  line-height: 14px;
}
/*.investorsChild {
    display: none;
}

.investorsChildPadding {
    Padding: 7px 20px 7px 20px;
    font-style: normal !important;
    font-size: 13px;
    color: #2d2d2d;
    line-height: 13px;

    a {
        font-style: normal !important;
        font-size: 13px;
        color: #2d2d2d;
        text-decoration: none;
        line-height: 13px;
    }

    &:hover {
        background-color: #efefef;
    }

    &:active {
        background-color: #efefef;
    }
}

.investorfloatleft {
    float: left !important;
}*/
.siteFiltersYearDropDown {
  width: 105px;
  font-family: Arial;
  font-size: 10px;
  line-height: 10px;
}
.siteFiltersMonthYearTitle {
  font-weight: 700;
  font-style: normal !important;
  font-size: 16px;
  font-size: 13px;
  color: #c6002b;
  color: #848484;
  border-bottom: 1px solid #848484;
  margin-bottom: 15px;
  padding-bottom: 10px;
  line-height: 10px;
  line-height: 13px;
}
.siteDropDownBoxes {
  width: 195px;
  height: 30px;
  border: 1px solid #2d2d2d;
  font-style: normal !important;
}
.siteDropDownArrowGraphic {
  height: 15px;
  width: 15px;
  padding: 10px;
}
.siteDropDownLineSeparator {
  height: 24px;
  border: 1px solid #2d2d2d;
}
.siteBlueButton {
  font-weight: 700;
  font-style: normal !important;
  font-size: 14px;
  text-transform: uppercase;
  border: 3px #007ba3;
  height: 31px;
  padding: 7px;
  border-radius: 6px;
  background-color: #43ceff;
  line-height: 14px;
}
.siteBlueButton:hover {
  background-color: #007ba3;
}
.selectboxform {
  margin: 0px 0px 10px 0px;
  padding: 3px 0px 3px 10px;
  background: url('../../ClearChannelStyleSheet/Images/drop-arrow-30.png')/*tpa=http://www.iheartmedia.com/Style%20Library/ClearChannelStyleSheet/Images/drop-arrow-30.png*/ no-repeat right;
  font-style: normal !important;
  font-size: 13px;
  width: 278px;
  height: 32px;
  display: block;
  text-align: left;
  background-color: white;
  cursor: pointer;
  border: 1px solid #9d9d9d;
  line-height: 24px;
}
.formElementsFullWidth {
  width: 590px;
}
.formElementsMainDiv {
  width: 650px;
}
.formElementsHalfWidth {
  width: 278px;
}
.formElementsMarginLeft {
  margin-left: 30px;
}
.formElementsMarginTitle {
  margin-left: 36px;
}
.formElementsAppearance {
  border: 1px solid #9d9d9d;
  height: 38px;
  font-style: normal !important;
  font-size: 18px;
  color: #2d2d2d;
  margin-bottom: 20px;
  line-height: 18px;
  padding-left: 10px;
}
.formElementsAppearance:hover {
  background-image: url('../../ClearChannelStyleSheet/Images/bg-form-field.png')/*tpa=http://www.iheartmedia.com/Style%20Library/ClearChannelStyleSheet/Images/bg-form-field.png*/ !important;
}
.formElementsAstrix {
  color: Red;
}
#formElementTitle {
  font-weight: 700;
  font-style: normal !important;
  color: #2d2d2d;
  font-size: 30px;
  padding-bottom: 20px;
  line-height: 30px;
}
.formElementButton {
  background-color: #c6002b;
  font-weight: 700;
  font-style: normal !important;
  height: 25px;
  width: 100px;
  color: White;
  border-radius: 5px;
  border: solid;
  border-color: #007ba3;
}
.formElementLabel {
  font-style: normal !important;
  color: #2d2d2d;
  font-size: 11px;
  vertical-align: middle;
  line-height: 11px;
}
.formElementsSubmitMessage {
  background-image: url('../../ClearChannelStyleSheet/Images/bg-thankyou.jpg')/*tpa=http://www.iheartmedia.com/Style%20Library/ClearChannelStyleSheet/Images/bg-thankyou.jpg*/;
  height: 85px;
  width: 565px;
  position: absolute;
  top: 100px;
  left: 350px;
  color: white;
  font-weight: 700;
  font-style: normal !important;
  font-size: 24px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  line-height: 24px;
  text-align: center;
  border-radius: 6px;
}
.formElementLabelText {
  font-style: normal !important;
  font-size: 18px;
  line-height: 18px;
}
.formElementButtonMargin {
  margin-right: 146px;
}
.errormessage {
  font-size: 24px;
  color: #ba2026;
  line-height: 24px;
}
.messageBox {
  width: 590px !important;
  font-style: normal !important;
  font-size: 18px;
  color: #2d2d2d;
  margin-bottom: 20px;
  line-height: 18px;
}
.FacebookLike {
  margin-left: 110px;
  float: right;
  width: 50px;
}
.error {
  width: 990px;
  height: 700px;
  background-color: #c6002b;
  margin: 0 auto;
  margin-top: 30px;
}
.error404 {
  width: 990px;
  background-repeat: no-repeat;
}
.clearchannellogo {
  margin-left: 350px;
  width: 250px;
}
.clearChannelLogoWidth {
  width: 990px;
  height: 55px;
}
.dfwp-list {
  margin-top: 20px !important;
}
.executiveBorder {
  margin-left: 349px;
  border-bottom: 1px solid #848484;
}
.contactUsSendButton {
  width: 167px;
  background-image: url('../../ClearChannelStyleSheet/Images/BUTTON-SEND-NORMAL.png')/*tpa=http://www.iheartmedia.com/Style%20Library/ClearChannelStyleSheet/Images/BUTTON-SEND-NORMAL.png*/;
  background-repeat: no-repeat;
  height: 31px;
  border: 0px;
  border-radius: 6px;
  background-color: transparent;
}
.contactUsSendButton:hover {
  width: 167px;
  background-image: url('../../ClearChannelStyleSheet/Images/BUTTON-SEND-HOVER.png')/*tpa=http://www.iheartmedia.com/Style%20Library/ClearChannelStyleSheet/Images/BUTTON-SEND-HOVER.png*/;
  height: 31px;
  background-repeat: no-repeat;
  border: 0px;
  border-radius: 6px;
  background-color: transparent;
}
/*#getapp {
    BACKGROUND-IMAGE: url('../../ClearChannelStyleSheet/Images/BUTTON-GETAPP-NORMAL.png');
    Z-INDEX: 11;
    BORDER-BOTTOM: 0px;
    POSITION: absolute;
    BORDER-LEFT: 0px;
    MARGIN-TOP: 225px;
    WIDTH: 140px;
    BACKGROUND-REPEAT: no-repeat;
    HEIGHT: 31px;
    MARGIN-LEFT: 328px;
    BORDER-TOP: 0px;
    BORDER-RIGHT: 0px;
    border-radius: 6px 6px 6px 6px;

    &:hover {
        BACKGROUND-IMAGE: url('../../ClearChannelStyleSheet/Images/BUTTON-GETAPP-HOVER.png');
        Z-INDEX: 11;
        BORDER-BOTTOM: 0px;
        POSITION: absolute;
        BORDER-LEFT: 0px;
        MARGIN-TOP: 225px;
        WIDTH: 140px;
        BACKGROUND-REPEAT: no-repeat;
        HEIGHT: 31px;
        MARGIN-LEFT: 328px;
        BORDER-TOP: 0px;
        BORDER-RIGHT: 0px;
        border-radius: 6px 6px 6px 6px;
    }
}*/
.preloadImage {
  display: none;
}
li.EventDate {
  list-style-type: disc;
}
.EventDescription {
  margin-left: 25px;
  font-style: normal !important;
  font-size: 14px;
  line-height: 24px;
}
.EventTitle {
  font-weight: 700;
  font-style: normal !important;
  font-size: 14px;
  color: #2d2d2d;
  margin-top: 30px;
  line-height: 14px;
  margin-bottom: 20px;
}
.image-fixed-width {
  height: auto !important;
  width: auto !important;
}
.ms-WPBorderBorderOnly {
  border: 1px solid #d9d9d9 !important;
}
.pluginCountButton {
  display: none !important;
}
.pluginCountNum {
  display: none !important;
}
.pluginCountButtonNub {
  display: none !important;
}
.fb_edge_widget_with_comment iframe {
  width: 47px !important;
}
span.fb_edge_comment_widget.fb_iframe_widget iframe {
  width: 401px !important;
}
.s4-specialNavLinkList {
  display: none !important;
}
/* last season's styles in the back :) */
.custom-rteStyle-CoreContent {
  -ms-name: "CoreContent";
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.custom-rteStyle-Bold {
  -ms-name: "Bold";
  font-weight: 600;
}
.custom-rteStyle-Italic {
  -ms-name: "Italic";
  font-style: italic;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.custom-rteStyle-CoreContentBold {
  -ms-name: "CoreContentBold";
  font-weight: 600;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.custom-rteStyle-CoreContentItalic {
  -ms-name: "CoreContentItalic";
  font-style: italic;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.custom-rteStyle-CoreContentBoldItalic {
  -ms-name: "CoreContentBoldItalic";
  font-style: oblique;
  font-weight: 600;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.custom-rteStyle-BlueHyperLink {
  -ms-name: "BlueHyperLink";
  text-decoration: none;
  color: #c6002b;
}
.custom-rteStyle-GrayHyperLink {
  -ms-name: "GrayHyperLink";
  text-decoration: none;
  color: Gray;
}
.custom-rteStyle-BulletedBlueHyperLink {
  -ms-name: "BulletedBlueHyperLink";
  Display: list-item;
  text-decoration: none;
  color: #c6002b;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 24px;
  margin-left: 20px;
}
a.custom-rteStyle-BulletedBlueHyperLink:link,
.custom-rteStyle-BulletedBlueHyperLink a:link,
a.custom-rteStyle-BlueHyperLink:link,
.custom-rteStyle-BlueHyperLink a:link {
  text-decoration: none;
  color: #c6002b;
}
a.custom-rteStyle-BulletedBlueHyperLink:visited,
.custom-rteStyle-BulletedBlueHyperLink a:visited,
a.custom-rteStyle-BlueHyperLink:visited,
.custom-rteStyle-BlueHyperLink a:visited {
  text-decoration: none;
  color: #c6002b;
}
a.custom-rteStyle-BulletedBlueHyperLink:hover,
.custom-rteStyle-BulletedBlueHyperLink a:hover,
a.custom-rteStyle-BlueHyperLink:hover,
.custom-rteStyle-BlueHyperLink a:hover {
  text-decoration: underline;
  color: #c6002b;
}
.custom-rteStyle-BulletedGrayHyperLink {
  -ms-name: "BulletedGrayHyperLink";
  display: list-item;
  text-decoration: none;
  font-style: normal;
  line-height: 24px;
  margin-left: 20px;
  list-style-position: outside;
}
.custom-rteStyle-BulletedGrayHyperLink a:link,
a.custom-rteStyle-BulletedGrayHyperLink:link,
a.custom-rteStyle-GrayHyperLink:link .custom-rteStyle-GrayHyperLink a:link {
  color: #555555;
}
.custom-rteStyle-BulletedGrayHyperLink a:visited,
a.custom-rteStyle-BulletedGrayHyperLink:visited,
a.custom-rteStyle-GrayHyperLink:visited .custom-rteStyle-GrayHyperLink a:visited {
  color: #3c3c3c;
}
.custom-rteStyle-BulletedGrayHyperLink a:hover,
a.custom-rteStyle-BulletedGrayHyperLink:hover,
a.custom-rteStyle-GrayHyperLink:hover .custom-rteStyle-GrayHyperLink a:hover {
  color: #c6002b;
  text-decoration: underline;
}
.custom-rteStyle-PageLevelTitle {
  -ms-name: "PageLevelTitle";
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  border-bottom: 1px solid #D9D9D9;
  color: #c6002b;
  padding-bottom: 5px;
  padding-top: 10px;
  margin-bottom: 25px;
  line-height: 28px;
}
.custom-rteStyle-PageLevelTitleWithoutBorder {
  -ms-name: "PageLevelTitleWithoutBorder";
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  color: #c6002b;
  padding-bottom: 5px;
  padding-top: 10px;
  line-height: 28px;
}
.custom-rteStyle-PageLevelSubTitle {
  -ms-name: "PageLevelSubTitle";
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: #2D2D2D !important;
}
.custom-rteStyle-StationFeatureBox {
  -ms-name: "StationFeatureBox";
  padding: 25px;
  border: 1x solid #848484;
  border-radius: 6px;
}
.custom-rteStyle-StationFeatureHeading {
  -ms-name: "StationFeatureHeading";
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  color: #2D2D2D;
  margin-bottom: 15px;
  font-weight: 600 !important;
  font-style: normal !important;
}
.custom-rteStyle-StationFeatureTitle {
  -ms-name: "StationFeatureTitle";
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
  color: #c6002b;
  margin-bottom: 15px;
  font-weight: 900 !important;
  font-style: normal !important;
}
.custom-rteStyle-StationFeatureDescription {
  -ms-name: "StationFeatureDescription";
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #2D2D2D;
  margin-bottom: 20px;
  font-weight: 400 !important;
  font-style: normal !important;
}
.custom-rteStyle-CoreFeatureTitle {
  -ms-name: "CoreFeatureTitle";
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600 !important;
  font-style: normal !important;
  font-size: 18px;
  color: #c6002b;
  padding-bottom: 10px !important;
}
.custom-rteStyle-CoreFeatureLinks {
  -ms-name: "CoreFeatureLinks";
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400 !important;
  font-style: normal !important;
  font-size: 14px;
  color: #2d2d2d;
  line-height: 24px;
}
.custom-rteStyle-SideFeatureTitle {
  -ms-name: "SideFeatureTitle";
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 900 !important;
  font-style: normal !important;
  font-size: 18px;
  color: #c6002b;
  line-height: 18px;
  margin-bottom: 15px;
  border-bottom: 1px solid #848484;
}
.custom-rteStyle-SideFeatureTitleWithMarginTop {
  -ms-name: "SideFeatureTitleWithMarginTop";
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 900 !important;
  font-style: normal !important;
  font-size: 20px;
  color: #c6002b;
  line-height: 20px;
  margin-top: 40px;
}
.custom-rteStyle-SideFeatureTitle2 {
  -ms-name: "SideFeatureTitle2";
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #c6002b;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 5px;
  margin-bottom: 10px;
  line-height: 18px;
}
.custom-rteStyle-SideFeatureDescription {
  -ms-name: "SideFeatureDescription";
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #848484;
  margin-bottom: 15px;
  line-height: 20px;
}
.custom-rteStyle-InvestorCaption {
  -ms-name: "InvestorCaption";
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
}
.custom-rteStyle-SectionlevelTitle {
  -ms-name: "SectionlevelTitle";
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 20px;
  color: #2d2d2d;
}
.custom-rteStyle-SecondarypagelevelTitle {
  -ms-name: "SecondarypagelevelTitle";
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 20px;
  color: #c6002b;
  line-height: 28px;
}
.custom-rteStyle-DocumentTitle {
  -ms-name: "DocumentTitle";
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 18px;
}
.custom-rteStyle-TertiaryTitle {
  -ms-name: "TertiaryTitle";
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #2d2d2d;
}
.custom-rteStyle-SiteMapBlue {
  -ms-name: "SiteMapBlue";
  color: #c6002b;
}
.custom-rteStyle-SiteMapGray {
  -ms-name: "SiteMapGray";
  color: #2d2d2d;
}
.custom-rteStyle-InvestorTitle {
  -ms-name: "InvestorTitle";
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #2d2d2d;
}
.custom-rteStyle-InvestorListItem {
  -ms-name: "InvestorListItem";
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-size: 14px;
  color: #2d2d2d;
}
.custom-rteStyle-BorderBottom {
  -ms-name: "BorderBottom";
  border-bottom: 1px solid #9D9D9D;
}
.custom-rteStyle-BorderBottom {
  -ms-name: "BorderBottom";
  border-bottom: 1px solid #9D9D9D;
}
.custom-rteStyle-Bullets {
  -ms-name: "Bullets";
  display: list-item;
  margin-left: 20px;
  list-style-position: outside;
}
.custom-rteStyle-AudioPage {
  -ms-name: "AudioPage";
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  color: #c6002b;
}
.custom-rteStyle-FillingSectionTitle {
  -ms-name: "FillingSectionTitle";
  border-bottom: 1px solid #D9D9D9 !important;
  padding-bottom: 5px !important;
  font-size: 18px;
  color: #c6002b;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 18px;
}
.custom-rteStyle-ImageFloatLeft {
  -ms-name: "ImageFloatLeft";
  float: left;
  padding-right: 15px;
  padding-bottom: 15px;
}
.custom-rteStyle-ImageFloatRight {
  -ms-name: "ImageFloatRight";
  float: right;
  padding-left: 15px;
  padding-bottom: 15px;
}
/* found in existing */
.custom-rteStyle-SiteMapBlue:hover {
  color: #c6002b;
}
.custom-rteStyle-SiteMapGray:hover {
  color: #c6002b;
}
.custom-rteStyle-BlueHyperLink:hover {
  color: #c6002b;
}
.custom-rteStyle-BulletedBlueHyperLink:hover {
  color: #c6002b;
}
.custom-rteStyle-BulletedGrayHyperLink:hover {
  color: #c6002b;
}
.custom-rteStyle-GrayHyperLink:hover {
  color: #c6002b;
}
.CoreContent {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.CoreContent a:link,
.CoreContent a:visited {
  color: #c6002b;
  text-decoration: none;
}
.CoreContent a:hover,
.CoreContent a:active {
  color: #c6002b;
  text-decoration: underline;
}
.CoreContentTitle {
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
}
.CoreContentBorder {
  border-top: 1px solid #d9d9d9;
  margin-bottom: 25px;
  margin-top: 25px;
}
/*# sourceMappingURL=LocalCore.css.map *