.webform-component-leftcol {
  width: 47%;
  float: left;
}
.webform-component-rightcol {
  width: 47%;
  float: right;
}
.webform-component-column input[type="text"],
.webform-component-column input[type="email"],
.webform-component-column input[type="number"] {
  width: 98%;
}
.webform-component-clear-both {
  clear:both;
}
.webform-component-column input.form-text {
  width: max-width; /** Firefox hack **/
}
.webform-component-column .webform-container-inline input.form-text {
  width: 360px; /** Firefox hack **/
}

.webform-component-column .webform-container-inline label,
.webform-component-column .description {
  text-align: right;
}
.webform-component-column .description {
  margin-right: 10px;
}
.webform-component-column .webform-component-select {
  text-align: left;
}
