@charset "UTF-8";
/* CSS Document */
	#dgdc_overlay {
		position: absolute;
		top: 0;
		left: 0;
		background-color: #000;
		width: 100%;
		height: 100%;
		z-index: 998;
		display: none;
	}
	#dgdc_lightbox {
		position: absolute;
		top: 0px;
		left: 0;
		z-index: 999;
		width: 100%;
		text-align: center;
		display: none;
	}
	#dgdc_lightbox a {
		color: #fff;
	}
	#dgdc_lightbox img {
		border: 10px solid #e6e6e6;
	}
	
	#popup {
		display: none;
		width: 700px;
		height: 407px; 
		background-image:url('2014-10-05-PopUp.jpg')/*tpa=http://dg.gaprc.org/test/2014-10-05-PopUp.jpg*/;
		margin: 0 auto;

		}

		/* SPLIT BOXES */

		/*.dgdcleft {
			width: 350px;
			height: 183px;
			display:block;
			position:relative;
			top: 236px;
			left: 0px;
			float:  left;
			}
		.dgdcright {
			width: 350px;
			height: 183px;
			display:block;
			position:relative;
			top: 236px;
			right: 0px;
			float: right;
			}*/


		/* THREE BOXES, TWO BOXES ON LEFT ARE LINKS */
		.dgdcleft {
			width: 234px;
			height: 183px;
			display:block;
			position:relative;
			top: 236px;
			left: 0px;
			float:  left;
			}
		.dgdcright {
			width: 234px;
			height: 183px;
			display:block;
			position:relative;
			top: 236px;
			right: 0px;
			float: left;
			}

#dgdc_light_close {
		width: 20px;
		height: 20px;
		position: relative;
		top: -10px;
		right: -10px;
		float: right;
		background-image:url('close.gif')/*tpa=http://dg.gaprc.org/test/close.gif*/;
	}		