@charset "UTF-8";

/* Tags. */

body
{
	background-color: #c9d3d7;
	margin: 0px;
	padding: 0px;
}

address
{
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	line-height: 1.5;
	margin: 20px 0px 20px 20px;
}

/* Links */

a
{
	color: #5c718e;
	text-decoration: none;
}

a:hover
{
	color: #000000;
	text-decoration: underline;
}

a img
{
	border-width: 0px;
}

/* Headers */

h2
{
	color: #5C718E;
	font-size: 16px;
	font-style: normal;
	margin-bottom: 10px;
}

h3
{
	color: #392D8B;
	font-family: "Arial Black", Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	margin: 15px 0px 10px;
	padding: 0px;
}

h4
{
	color: #392D8B;
	font-family: "Arial Black", Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	margin: 12px 0px 5px;
	padding: 0px;
}

h5
{
	font-size: 13px;
	font-weight: normal;
	margin: 20px 0px 0px;
	padding: 0px;
}

/* Forms */

/* Remove the white space that IE puts around forms. */

form
{
	margin: 0px;
	padding: 0px;
}

input,
select,
textarea,
button
{
	font-family: Tahoma, Verdana, Sans-serif;
	font-size: 11px;
}

label
{
	cursor: pointer;
}

input.button,
button
{
	background: #c9d3d7;
	border-color: #A9C0DE;
	color: #385A7A;
	line-height: 1;
}

input.hint,
select option.hint
{
	color: #999999;
}

.help
{
	font-size: 12px;
	font-weight: normal;
}

.form table th,
.form table td
{
	vertical-align: top;
}

/* Layout */

#all
{
	background-color: #b3c1c6;
	width: 788px;
	margin-right: auto;
	margin-left: auto;
}

#container
{
	background-color: #FFFFFF;
	width: 770px;
	margin-right: auto;
	margin-left: auto;
}

#top
{
	background-color: #FFFFFF;
	width: 730px;
	margin-right: auto;
	margin-left: auto;
	height: 104px;
	background-image: url(../images/mast-bg.gif)/*tpa=http://www.globalp.com/images/mast-bg.gif*/;
	background-repeat: repeat-x;
}

#flash
{
	background-color: #FFFFFF;
	text-align: center;
	width: 730px;
	margin-right: auto;
	margin-left: auto;
}

#bottom
{
	background-color: #FFFFFF;
	text-align: center;
	width: 730px;
	margin-right: auto;
	margin-left: auto;
}

/* Header. */

#top a.logo
{
	background-image: url(../images/logo.gif)/*tpa=http://www.globalp.com/images/logo.gif*/;
	margin: 0px;
	padding: 0px;
	background-repeat: no-repeat;
	height: 96px;
	width: 214px;
	float: left;
	display:block;
}

#top h1
{
	display:none;
}

#top span
{
	display: none;
}

#top #button
{
	float: right;
	padding-top: 40px;
	padding-right: 10px;
	height: 46px;
	width: 129px;
}

/* Navigation */

#topnav
{
	background-image: url(../images/nav-bg.gif)/*tpa=http://www.globalp.com/images/nav-bg.gif*/;
	height: 29px;
	width: 730px;
	margin-right: auto;
	margin-left: auto;
	font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 29px;
	font-weight: bold;
	color: #000000;
	text-align: center;
}

#topnav a
{
	color: #000000;
	text-decoration: none;
	padding-right: 8px;
	padding-left: 8px;
}

#topnav a:hover
{
	text-decoration: underline;
}

/* Secondary Navigation */

p.nav
{
	margin: 0px;
	padding: 0px;
	margin-left: 14px;
}

p.nav a
{
	color: #4c5d7a;
	text-decoration: none;
	padding-left: 10px;
	background-image: url(../images/link_arrow.gif)/*tpa=http://www.globalp.com/images/link_arrow.gif*/;
	background-repeat: no-repeat;
	background-position: left;
}

p.nav a:hover
{
	text-decoration: underline;
}

/* Left Column */

#leftColumn
{
	text-align: left;
	width: 170px;
	float: left;
	padding-bottom: 40px;
}

#leftColumn p
{
	font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #4c5d7a;
	margin: 0px;
	padding: 0px;
	line-height: 18px;
}

#leftColumn a
{
	color: #4c5d7a;
	text-decoration: none;
	padding-left: 10px;
	background-image: url(../images/link_arrow.gif)/*tpa=http://www.globalp.com/images/link_arrow.gif*/;
	background-repeat: no-repeat;
	background-position: left;
	margin-left: 14px;
}

#leftColumn a:hover
{
	text-decoration: underline;
}

/* Middle Column */

#middleColumn
{
	float: left;
	font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
	line-height: 16px;
	text-align: left;
}

#middleColumn p
{
	margin: 10px 0px;
}

#middleColumn ul
{
	margin: 10px;
	padding: 0px;
}

#middleColumn ul li
{
	margin-left: 15px;
	padding-left: 0px;
}

/* Right Column */

#rightColumn
{
	text-align: left;
	float: right;
	font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
	font-size: 11px;
	line-height: 18px;
}

#rightColumn p.nav
{
	font-weight: bold;
}

#sideBarImage
{
	margin: 10px 0px 25px 0px;
	text-align: center;
}

/* Layout modes. */

/* No right hand column. */

.layout1 #middleColumn
{
	width: 560px;
}

/* Content area and right hand column evenly sized. */

.layout1x1 #middleColumn
{
	width: 280px;
}

.layout1x1 #rightColumn
{
	width: 280px;
}

/* Wide content area, thin right column. */

.layout2x1 #middleColumn
{
	/* Actual space is 370. We're allowing for 10 pixels of margin on the right
	 * hand side. */
	width: 360px;
}

.layout2x1 #rightColumn
{
	/* Actual space is 190, but the image is only 187 and we want it to appear
	 * right aligned. */
	width: 187px;
}

/* Footer */

#clear
{
	clear: both;
	background-image: url(../images/footer-bg.gif)/*tpa=http://www.globalp.com/images/footer-bg.gif*/;
	background-repeat: repeat-x;
	width: 730px;
	font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #3b3b3b;
	padding-top: 20px;
	padding-bottom: 20px;
}

/* Breadcrumbs */

#crumb
{
	background-color: #FFFFFF;
	text-align: left;
	width: 730px;
	margin-right: auto;
	margin-left: auto;
	font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
	font-size: 10px;
	color: #5c718e;
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}

#crumb a
{
	color: #5c718e;
	text-decoration: none;
}

#crumb a:hover
{
	color: #000000;
	text-decoration: underline;
}

/* Image replaced headers. */

h2 span
{
	display: none;
}

h3 span
{
	display: none;
}

#ql
{
	background-image: url(../images/quicklinks-hdr.gif)/*tpa=http://www.globalp.com/images/quicklinks-hdr.gif*/;
	margin: 0px;
	padding: 0px;
	height: 36px;
	width: 150px;
}

#tl
{
	background-image: url(../images/termloc-hdr.gif)/*tpa=http://www.globalp.com/images/termloc-hdr.gif*/;
	background-repeat: no-repeat;
	height: 36px;
	width: 150px;
	margin: 0px;
	padding: 0px;
}


#cr
{
	background-image: url(../images/careers.gif)/*tpa=http://www.globalp.com/images/careers.gif*/;
	background-repeat: no-repeat;
	height: 36px;
	width: 150px;
	margin: 0px;
	padding: 0px;
}

#gl
{
	background-image: url(../images/gas_sta_loc-hdr.gif)/*tpa=http://www.globalp.com/images/gas_sta_loc-hdr.gif*/;
	background-repeat: no-repeat;
	height: 36px;
	width: 150px;
	margin: 0px;
	padding: 0px;
}

#ps
{
	background-image: url(../images/prod-serv-hdr.gif)/*tpa=http://www.globalp.com/images/prod-serv-hdr.gif*/;
	background-repeat: no-repeat;
	margin: 0px;
	padding: 0px;
	height: 36px;
	width: 167px;
}

#qc
{
	background-image: url(../images/contact-hdr.gif)/*tpa=http://www.globalp.com/images/contact-hdr.gif*/;
	background-repeat: no-repeat;
	margin: 0px;
	padding: 0px;
	height: 36px;
	width: 167px;
}

#il
{
	background-image: url(../images/investor-hdr.gif)/*tpa=http://www.globalp.com/images/investor-hdr.gif*/;
	background-repeat: no-repeat;
	margin: 0px;
	padding: 0px;
	height: 36px;
	width: 167px;
}

#search
{
	background-image: url(../images/search-hdr.gif)/*tpa=http://www.globalp.com/images/search-hdr.gif*/;
	background-repeat: no-repeat;
	height: 36px;
	width: 150px;
	margin: 0px;
	padding: 0px;
}

#searchNearYou
{
	background-image: url(../images/searchnearyou-hdr.gif)/*tpa=http://www.globalp.com/images/searchnearyou-hdr.gif*/;
	background-repeat: no-repeat;
	height: 36px;
	width: 187px;
	margin: 0px;
	padding: 0px;
}

/* Contextual navigation is the navigation beneath the page title. It's
 * positioned relatively and with a negative top value to pull it up under the
 * title. */

.contextualNavigation
{
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	position: relative;
}

/* Terminal */

#searchByStateForm
{
	margin: 0px 0px 20px;
	font-weight: bold;
}

#searchByProximityForm
{
	margin: 0px 0px 20px;
}

#searchByProximityForm table
{
	border-collapse: collapse;
}


#searchByProximityForm td,
#searchByProximityForm th
{
	margin: 0px;
	padding: 0px 0px 3px 0px;
	font-weight: bold;
}

#searchByProximityForm th
{
	text-align: right;
	padding-right: 3px;
}

.list
{
	float: left;
	width: 175px;
}

/* Container for the Google Map used on the terminals page. */

#map
{
	 width: 280px;
	 height: 280px;
	 margin-bottom: 20px;
}

/* The map overlay is displayed inside the Google Maps control. */

.mapOverlay
{
	font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
	font-size: 12px;
}

/* Remove extra spacing around form in IE. */

.mapOverlay form
{
	margin: 0px;
	border: 0px;
	padding: 0px;
	display: block;
}

/* Home page specific styles. */

#home #bottom
{
	background-image:url(../images/content-bg.gif)/*tpa=http://www.globalp.com/images/content-bg.gif*/;
	background-repeat:repeat-x;
}

#home #middleColumn
{
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	color: #6d6d6d;
	width: 290px;
	margin-left: 50px;
	margin-top: 4px;
}

#home #rightColumn
{
	width: 150px;
}

#middleColumn .disclaimer
{
	font-size: smaller;
	font-style: italic;
	line-height: 1.2;
}

#middleColumn .disclaimer p
{
	margin: 5px 0px;
}

