body
{
	font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
	background-color: #ffffff
}

h2
{
	font-size: 16px;
	padding-right: 15px;
}

h3
{
	font-size: 20px;
}

a
{
	text-decoration: none;
}

#all
{
	width: auto;
}

#container
{
	width: auto;
}

/* Header */

#top
{
	clear: both;
}

#all #container #top a.logo
{
	color: #FF0000;
	background-image: none;
	height: auto;
	width: auto;
}

#all #container #top .logo h1
{
	color: #FF0000;
	display: block;
}

#all #container #top #button
{
	display: none;
}

.logo
{
	float: left;
}

#button
{
	float: right;
}

#topnav
{
	display: none;
}

#crumb
{
	display: none;
}

/* Content */

#flash
{
	clear: both;
}

#bottom
{
	clear: both;
	width: auto;
}

#leftColumn
{
	display: none;
}

.layout2x1 #middleColumn,
.layout1x1 #middleColumn,
.layout1 #middleColumn
{
	width: auto;
}

.layout2x1 #rightColumn,
.layout1x1 #rightColumn,
.layout1 #rightColumn
{
	width: 187px;
	font-size: 12px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E8E8E8;
}

#all #container #bottom #rightColumn img
{
	display: none;
}


/* Footer */

#clear
{
	clear: both;
	font-size: 11px;
	width: auto;
}

