* {margin:0;padding:0;font:1em arial, sans-serif}
body {font-size:75%;border:none}

a {color:#008751} #wrapper a:hover {text-decoration:underline;color:#e37f1c} #wrapper #nav a:hover {text-decoration:none}
img, a img {border:none}
p, li, td, th, address span{line-height:1.5em}
p,address, div.note {margin-bottom:1em}

h1, h2, h3, h4, h5, h6, th {font-weight:bold}
h1, h2, h3 {text-transform:uppercase;}
h1 {font-size:2em;color:#eb9014;margin-bottom:1em} h1 span {font-weight:normal}
h2 {color:#298369;font-size:1.3em;padding:.6em 0} h2 a {color:#298369} h2 span.clear {text-transform:none;font-size:1.1em;}
h3 {color:#005984;padding:.7em 0 .4em;font-size:1.1em} h3 a {color:#005984} h3 span.clear {text-transform:none;font-size:1em;}
h4 {padding:.5em 0}
h5 {font-weight:bold;padding:.5em 0}
h6 {font-size:.9em}
h7 {font-size:.8em;font-style:oblique;font-weight:bold}
h2 a, h3 a {text-decoration:none;font-weight:bold}
strong {font-weight:bold} cite, em {font-style:oblique;padding-right:.6em}
b {font-weight:bold}
i {font-style:oblique}
hr.wide {size:20px; color:#4D9609;}

ul {margin:0 2em 1em} 
ol {margin:0 3em 1.6em} 
ul ul, ol ol, ol ul, ul ol {margin-top:.6em} ol ol {list-style-type:lower-alpha}
ol.outline {list-style-type:upper-roman} ol.outline ol {list-style-type:upper-alpha} ol.outline ol ol {list-style-type:lower-roman}ol.outline ol ol ol{list-style-type:lower-alpha}
ol.legal {} ol.legal li {margin-bottom:.6em;}

ol.footnote {margin-left:30px;margin-bottom:0;} ol.footnote li {font-size:.9em; font-style:oblique;color:#666;} /*used throughout, especially on Sustainability report tables */
ul.linklist, ul.linklist li {margin-left:0;list-style:none}
ul.long li, ol.long li {margin-bottom:.6em}
ul.bookmarks, ul.bookmarks li, ul.pagination, ul.pagination li, ul.refine, ul.refine li{list-style:none;margin:0;padding:0}
ul.bookmarks, ul.refine {margin-bottom:1.8em;border-top:solid 5px #008751;border-bottom:solid 5px #008751;padding:1em 1.5em}
ul.horizontal li {display:inline;padding-right:1em}
ul.related li {display:block;margin-bottom:.2em;}
ul.refine a, ul.bookmarks a {font-weight:bold;text-decoration:none}
ul.bookmarks a {padding-right:15px;background:url(../image/btn_down.gif)/*tpa=http://www.weyerhaeuser.com/image/btn_down.gif*/ no-repeat right 50%}
ul.links li {list-style:url(../image/arrow_sml.gif)/*tpa=http://www.weyerhaeuser.com/image/arrow_sml.gif*/;margin-left:-8px;margin-bottom:.6em}
ul.indent li {margin-left:20px; list-style:none}
#wrapper ul.pagination li.sel a, #wrapper ul.pagination li.sel a:hover{font-weight:bold;text-decoration:none;color:#333;cursor:default}

address span, cite span, object {display:block}

div.table {padding:1.6em;border:solid 1px #1c6c35;background:#fcf8e9;}
table {border-collapse:collapse;width:100%;margin-bottom:1.6em}
td, th {vertical-align:top;padding:.4em .5em;text-align:left} 
.header {border-bottom: solid 1px #000000}  
.color {background-color: #003333; color: White; font-weight:bold; }
.color th {text-align:center; vertical-align:middle;}
td.right {text-align:right;} 
td.nowrap, th.nowrap {white-space:nowrap} 
th {font-weight:bold} th a {color:#000; font-weight:bold} th.right {text-align:right;}
td.red {color:#C00000;font-weight:bold;} /* used for Wredco Acreage properties that have been partially sold, sold or under contract */
body.sustainability div.table {border:none;padding: 0;}
body.sustainability tr.category th, tr.header{border: none;}

/* the styles below are used to add black borders to cells */
td.borderTop, th.borderTop {border-top: solid 1px #000000} 
td.borderRight, th.borderRight {border-right: solid 1px #000000}
td.borderBottom, th.borderBottom {border-bottom: solid 1px #000000} 
td.borderLeft, th.borderLeft {border-left: solid 1px #000000}

td.borderBottomGray, th.borderBottomGray {border-bottom: solid 1px gray;} 


/* the styles below are used to add borders to cells the same color as the 
div-table backround for the appearance of 1px space between colored cells 
as used in the Progress Toward Sustainability Goals chart */
td.spaceTop, th.spaceTop {border-top: solid 1px #fcf8e9} 
td.spaceRight, th.spaceRight {border-right: solid 1px #fcf8e9}
td.spaceBottom, th.spaceBottom {border-bottom: solid 1px #fcf8e9}
td.spaceLeft, th.spaceLeft {border-left: solid 1px #fcf8e9}

/* change the alignment of a cell */
td.leftAlign, th.leftAlign {text-align:left;} 
td.rightAlign, th.rightAlign {text-align:right;}
td.centerAlign, th.centerAlign {text-align:center;} 

/* the styles below are used on the Westwood Shipping site */
th.vessel {font-weight:bold; font-style:italic} 
th.subcaption {font-weight:bold;padding:0 0 1em;}

/* this style reduces the width of a table to allow for an image that floats to the right */
div.auto, div.auto table {width:42em} 

/* this style creates an alternate background color for rows */
tr.alt td, tr.alt th {background-color:#f2f1e1} 

/* this style creates a darker background color used for rows containing totals */
tr.total td, tr.total th {background-color:#dfddd0}

/* this style changes the background color of the row to dark green with white capitalized text */
tr.category th {background-color:#1C6C35;color:White;border-bottom: solid 1px #000000;border-top: solid 1px #000000;text-transform:uppercase}

/* the styles below color the rating cells used on the sustainability Progress Toward Sustainability Goals chart   */
td.below, th.below {background-color:#C41200; color:White; text-align:center; vertical-align:middle; font-weight:bold;}
td.achieves, th.achieves {background-color:#4D9609; color:White; text-align:center; vertical-align:middle; font-weight:bold;}
td.exceeds, th.exceeds {background-color:#01415B; color:White; text-align:center; vertical-align:middle; font-weight:bold;}
td.na, th.na {background-color:#f2f1e1; text-align:center; vertical-align:middle; font-weight:bold;}
td.nanobold {background-color:#f2f1e1;}

/* the styles below are used throughout the sustainability site for data tables */
table.numeric th, table.numeric td {font-size: .9em;padding: 4px 6px;} td.left, th.left {text-align:left!important;} 
table.numeric td, table.numeric tr.colhead th, table.numeric tr.total {text-align:right}   tr.colhead th, tr.colhead td {border-bottom: solid 1px #000000}
table.numeric th.subcaption {font-size:1em;font-weight:bold;padding:0 0 1em;}

/* this table sytle is similar to the 'numeric' style but centers text by default 
but also allows options for text alignment and the use of normal or small text */
table.data td, table.data th {text-align:center;padding:4px 6px 6px 0;} table.data th.leftAlign {text-align:left;padding:4px 6px 6px 4px;} table.data small {font-size:.9em} 
table.data p {padding-bottom:.5em}

/* these table styles create a table with small text but no other special formatting */
table.small th, table.small td {font-size: .9em;padding: 4px 4px} th a {color:#008751} .header {border-bottom: solid 1px #000000} 


/* this style creates a center aligned table with the option to use a smaller font */
table.center td, table.center th {text-align:center;vertical-align:middle; padding:0 0 1.5em 0;} table.center small {font-size:.9em} 
table.center p {padding-bottom:.5em}

/* this style adds a background image to the tables used on the Surplus Industrial Properties site; Remove background position if no image is used in table */
table.contract {background:url(../image/businesses/surplusproperties/bg_contract.png)/*tpa=http://www.weyerhaeuser.com/image/businesses/surplusproperties/bg_contract.png*/ no-repeat; background-position:bottom;} 
table.pending {background:url(Unknown_83_filename)/*tpa=http://www.weyerhaeuser.com/image/businesses/surplusproperties/bg_pending.png*/ no-repeat;}

blockquote {border:solid 1px #ccc; padding:2em;margin:2em 8em 2em 6em;color:#666}
blockquote p{font-family:georgia, serif;margin:0;padding:0} blockquote cite {display:block;text-align:right;margin-top:1.2em}

blockquote.spotlight {border:solid 1px #ccc; padding:2em;margin:2em 8em 2em 6em;color:#333; background:#fcf8e9;}
blockquote.spotlight p{font-family:georgia, serif;margin:0;padding:0;} 

div.shade {background-color:#FFDD50/*#b5da9b*/;padding:15px 15px 2px 15px;margin-top:20px; margin-bottom:20px;border:0px solid red;}
div.chart {padding:0 0 1em 2em}

.updated {padding-left:2em;font-size:.9em;color:#666;margin:3em 0 2em}
div.updated {display:block;}

/* this caption style is used to title many tables */
caption {text-transform:uppercase;color:#1c6c35;font-weight:bold;text-align:left;padding:0 .5em .8em 0}

caption span {text-transform:none;color:#666;font-size:.9em;line-height:1.5em} caption span.sub {padding-top:1em;color:#000;font-size:.95em;font-weight:bold;padding:0 0 1em;}

/* generally used when there is a caption under a picture */
p.figure {padding:5px;text-align:center;color:#000;font-size:.9em; font-weight:bold;}

/* format used for Note: ... -- gray, italic text */
p.note, div.note {font-size:.9em;color:#666;font-style:oblique}
span.note {font-size:.9em;color:#808080;font-style:oblique; line-height:1em;}
span.link {font-size:.9em;color:#008751;font-style:oblique; line-height:1em;} span.indent {margin-left:20px; list-style:none}

dt, dt a {font-weight:bold;color:#005984}
dd {margin-bottom:1.6em}

/* stat format is used throughout the Sustainability report */
dl.stat {width: 19em;float:right;clear:right;margin:0 0 1em 1em;background:#fff}
dl.stat * {color: #eb9014}
dl.stat dt {font: 4em trebuchet ms, tahoma, sans-serif;text-align:center}
dl.stat dt.long {font-size: 3em}
dl.stat dt.xtralong {font-size: 1.2em}
dl.stat dd {padding:0 1em;font-size:.85em;text-align:center}
dl.stat dd + dt, dl.stat dd + dt + dd {color:#298369}

.top {margin-bottom:1.8em;text-align:right;padding-bottom:4px;border-bottom: solid 1px #008751} .top a {font-weight:bold;font-size:.9em;text-decoration:none;padding-right:15px;background:url(../image/btn_up.gif)/*tpa=http://www.weyerhaeuser.com/image/btn_up.gif*/ no-repeat right 50%}
.phone, .downloads a  {white-space:nowrap}

div.img {width:auto; float:right;clear:right;text-align:center;padding:0 10px 1em 2em;background-color:#fff} 
div.center {width:auto;float:center;text-align:center;padding:0 10px 1em 2em} 
img.padded {padding-right: 10em}
img.right {float:right;}
img.icon {padding-left:5px;}
img.iconRight {padding-right:8px; vertical-align:middle}

div.sthelens1 {position:absolute;left:435px; top:135px}
div.sthelens2 {position:absolute;left:677px; top:307px}

p.tagline, span.tagline {font-size:1em;font-weight:bold;color:#1C6C35;} 
div.tagline {margin:-2em 0 0 3em;padding-bottom: 15px}

p.blue, span.blue {font-size:1.1em;font-weight:bold;color:#005984;} 

.redtxt {font-weight:bold;color:#c00;margin-bottom:1em}

/* example of callout can be found at www.wy.com/Company/Media/Contacts */
.callout {border:dashed 1px #197033} 
.callout p {font-size:.95em;color:#1c6c35;line-height:1.3em;margin:0;padding:0}
.callout .box {padding:1em}
.callout {margin:0 4px 4px 0;zoom:100%;float:right;width:200px;} .linkset {margin-right:0}

.more {padding-left:20px}

.Column1 {width:170px; position:relative; float:left; display:block; border:0px solid blue;}
.Column2 {width:170px; position:relative; float:left; left:20px; display:block; border:0px solid black;}
.Column3 {width:170px; position:relative; float:left; left:40px; display:block; border:0px solid red;}
.Column4 {width:170px; position:relative; float:left; left:60px; display:block; border: 0px solid green}


/* careers specific */
div.swap {width:auto; float:right;clear:right;text-align:center;margin:-5.75em -2.75em 0 0;background-color:Transparent} 


/* layout */
@media screen {
	#wrapper {height:100%;min-height:100%;margin-left:18em;}
	
	#brand {border-bottom:solid 4px #fff;background:#4D9609;padding:20px 13px 10px 20px;}
	#wrapMain {width:780px}
	#nav {position:relative;width:18em;margin-left:-18em;background:#deeecf;padding:0;overflow:hidden;}
	
	#main {width:100%;float:right;text-align:left;}
	#content {} #content1 {width:100%}
	#content1, #content2, #nav {float:left}
	#content1 .container, #content2 .container, #content3 .container {margin:1em 1.5em}
	#content2 {}
	#content3 {display:block;clear:both;padding-top:1px;}
	#nav li,#wrapMain,#main,#content,#content1,#content2,#nav, #content3,#nav  {zoom:100%}
	#brand:after, #main:after, #content:after, #content1:after, #content2:after, #content3:after, #nav:after {content:".";display:block;height:0;clear:both;visibility:hidden}

	#nav {position:relative;z-index:100;padding-bottom:4em} #nav a {text-decoration:none} #nav ul, #nav li {list-style:none}
	#navIn {zoom:100%}
	#nav .container {margin-bottom:1em}
	#nav h2 {border-bottom:solid 4px #fff;background:#1c6c35;padding:.2em .5em} 
	#nav h2 a {text-transform:uppercase;color:#fff !important;font-weight:bold;font-size:1.5em}
	#nav h2 a:hover {color:#fc0;}
	
	#nav ul ul a {font-size:.95em}
	#nav ul {margin:0}	#nav ul ul {margin-top:.2em} #nav ul ul ul {margin:3px 0 3px 12px;border-left:dashed 1px #c1dea8}
	#nav li {padding:.6em .8em .6em 0; border-bottom:solid 3px #fff} #nav li li {padding:0;margin:.2em 0;border:none} 
	#nav li a {display:block;padding-left:10px;text-transform:uppercase;font-weight:bold;text-decoration:none} #nav li li a {text-transform:none;font-weight:normal}
	#nav li li a:hover, #nav li.sel li a:hover {text-decoration:underline} #nav li.sel a:hover {cursor:default;text-decoration:none} #nav li.sel li a, #nav li.sel li a:hover {cursor:pointer}

	#nav li.sel a {color:#ed950e;display:inline-block;width:auto;padding-right:15px;background:url(../image/sel.gif)/*tpa=http://www.weyerhaeuser.com/image/sel.gif*/ no-repeat right 3px;font-weight:bold} #nav li.sel li a {background-image:none}
	#nav li li a, #nav li.sel li a {color:#197033;font-weight:normal}
	
	#nav li.l2 {background:#e9f7dc} 
	#nav #leftNav li.special {background:#c1dea8}
	.sustainability #nav li.special a {text-transform:none !important}
	
	
	/* landing pages */
	
	body.landing #content1 .container {margin-left:3px}
	body.L1 h1 {font-size:3.2em;margin-bottom:.2em}
	body.L2 h1 {font-size:2.6em;margin-bottom:.2em}
	body.L3 h1 {font-size:2.2em;margin-bottom:.2em}
	body.landing .intro {width:90%;padding-bottom:1em;} body.landing #content h2 {font-size:1em}
	body.landing h1, body.landing .intro, body.landing .more {padding-left:20px}

	body.sustainability .intro p {color:#005984;font-size:1.3em;margin-bottom:.5em} /* to apply this change to entire site, use body .intro p */
	body.sustainability .fact {width:99%;height:auto;min-height:50px;}  
	body.sustainability.L1 .fact img {display:block;float:right;padding-right:1em;padding-top:2em;}
	body.sustainability.L1 .fact {width:49.11%}
	body.sustainability.L1 .feature img {display:block;float:right;padding-right:1em;padding-top:2em}
	body.sustainability.L2 .feature {width:99%} 
	body.sustainability .feature .box {margin:0;/*padding-right: 100px*/}
	body.sustainability.L1 #content1 {margin-left:20px !important;}
	body.sustainability.L1 h1 {margin-left:-22px !important;}

	body.sustainability .feature p:first-line {font-size:1.01em!important;font-weight:bold!important;color:#197033} /*bolds first line of text -- no heading -- used on Sustainability > / Env. Footprint */
	
	body.westernseedlings .intro p {color:#005984;font-weight:bold;font-size:1.3em;margin-bottom:.5em} 
	body.bonsai p.intro  {color:#005984;font-weight:bold;font-size:1.3em;margin-bottom:.5em} 
	
	body.alt .fact {width:99%}  
	body.alt.L1 .fact img {display:block;float:right;padding-right:1em;padding-top:2em;padding-bottom:1px;}
	body.alt.L1 .fact {width:49.11%}
	body.alt .feature {width:99%} 
	body.alt .news {width:99%} 

	
	/* .linkset .info img {display:block;margin-top:6px} */
	
	body.business.homebuilders .feature {width:553px} 
	body.business.homebuilders .intro p {color:#005984;font-size:1.3em;margin-top:.5em; margin-bottom:.1em} 
	.wrecoFlash {width:745px;border:0}

	
	.flash {width:553px;border:solid 1px #197033} .didYouKnow {width:15.8em} .feature, .news, .fact, .didYouKnow_Sustainability, .siteHighlights {width:49.11%} .linkset {width:24.1em} 
	.whatcanatreebe {width:674px;border:solid 1px #197033}
	.licensing {width:725px; height:200px; border:solid 1px #197033}
	.licensing_copy {margin-top:15px}
	.licensing_title{float:left; color:#298369;}
	.licensing_detail{margin-left:240px; margin-bottom:20px;}
	.licensing_detail_wide{margin-left:250px; margin-bottom:20px;}

	
	.flash, .didYouKnow, .news, .feature, .bottomFeature, .linkset, .fact {margin:0 4px 4px 0;zoom:100%;float:left;min-height:144px} .linkset {margin-right:0}
	.flash:after, .didYouKnow:after, .news:after, .feature:after, .linkset:after {content:".";display:block;height:0;clear:both;visibility:hidden}
	.didYouKnow .box, .news .box, .feature .box, .linkset .box, .fact .box {padding:1em}
	.flash img {display:block}
		
	.didYouKnow {border:solid 1px #197033} 
	.didYouKnow .box {padding-left: 32px;background:#fff url(../image/arrow.gif)/*tpa=http://www.weyerhaeuser.com/image/arrow.gif*/ no-repeat 8px 8px}
	.didYouKnow p {font-size:.95em;line-height:1.3em;margin:0;padding:0}
	
	.fact {clear:left;border:dotted 1px #197033;}
	.landing .fact p {font-size:.95em;margin-top:.8em;line-height:1.3em}
	.fact img {display:block;float:right;padding-right:1em;padding-top:1.25em} 
	.landing .fact img {margin:-4px -2px 0.5em 1em}.detail .fact img {margin:-14px -2px 0.5em 1em}
	.detail .fact {float:none;width:auto;margin:0 0 1.6em;border:solid 1px #197033;padding:12px 2em 1em 33px;background:#fff url(../image/arrow.gif)/*tpa=http://www.weyerhaeuser.com/image/arrow.gif*/ no-repeat 12px 1em}
	.fact p:first-line {font-size:1em;font-weight:bold!important;color:#197033}
	.fact cite {display:block;text-align:right;font-style:oblique;padding:1em 1.5em 0 0}
	
	.feature {border:dotted 1px #197033;clear:left;} 
	.feature .box {margin:0;/*padding-right: 100px*/}
	.feature h3, .feature ul, .feature li {padding:0 5px 0 0;margin:0;display: inline;}
	.feature h3, .feature p {font-size:.95em; text-transform:none}
	.feature li a {font-size:.95em;white-space:nowrap}
	.feature img {display:block} .feature img.logo {float:left;margin:12px 4px} .feature img.lrg {float:right;margin:9px 4px}

	.news {background:#e9f7dc}
	.news a {text-decoration:none;color:#000;font-size:.95em}
	.news ul, .news li {list-style:none;margin:0;padding:0}
	.news li {padding-bottom:.6em;line-height:1.2em}

	.linkset .info{background:#deeecf}
	.linkset a {text-decoration:none;color:#000;font-size:.95em}
	.linkset ul, .linkset li {list-style:none;margin:0;padding:0}
	.linkset li {padding-bottom:.6em;line-height:1.3em}
	
	body.landing .more {clear:both;padding-top:1em}
	
	ul.hlist {padding-bottom:2em}
	ul.hlist li {zoom:100%;width:25em; float:left}
	
	/* template */
	#brand {height:4em}
	#brand a, #global a {text-decoration:none} #global a:hover,#globalNav a.sel {color:#fcc800}
	#brand a, #global a {font-weight:bold}
	
	#global {background:#4D9609;position:absolute;top:10px;left:350px;padding-right:10px;width:625px}
	#global a:hover {color:}
	
	#globalLinks, #globalSearch {float:right;text-align:right}
	#globalLinks {width:20em;padding-right:9em} #globalNav {zoom:100%}
	#globalLinks a {white-space:nowrap;font-weight:bold;font-size:1.1em;text-transform:uppercase;color:#fff;padding:4px 12px 2px;float:right;display:block;width:auto}
	
	#globalSearch span {display:block;width:auto;background:#fff;border:solid 1px #212a13; border-color:#c9d9b0 #212a13 #212a13 #c9d9b0;padding:0 4px}
	#globalSearch input {vertical-align:middle} 
	.searchTerm {border:none;border-color:#fff;color:#acacac;font-weight:bold} 
	.searchBtn {padding:3px;}
	
	#globalNav {clear:both;padding:2em 0 0 0;}
	#globalNav ul, #globalNav li {list-style:none;margin:0;padding:0;width:auto;line-height:1em}#globalNav li.first {border:none}
	#globalNav ul {float:right;text-align:left}
	#globalNav li {float:left;padding:0 1.6em;border-left:solid 1px #a0d49a} #globalNav li.last {padding-right:0}
	#globalNav a {color:#fff;text-decoration:none;font-size:.9em} #globalNav li.sel a {color:#fcc800}
	
	#globalNav:after, #globalLinks:after, #globalSearch:after {content:".";display:block;height:0;clear:both;visibility:hidden}
	
	#foot {width:960px;clear:both;text-align:right;padding:26px 13px 13px 20px;color:#707070;font-size:.9em}
	
	/* home page */
	body.home #wrapper {margin-left:0}
	body.home #global {margin-top:1.8em} body.home #globalNav {display:none}
	body.home #content1 .container {margin:0}
	body.home #homeFlash .flash {width:992px;height:247px;float:none;margin-right:0;border:none}
	body.home #homeContent {clear:left;width:992px}
	
	body.home #nav {position:static;background:transparent;margin:0;width:992px;float:none;padding:0}
	body.home #nav ul.buckets, body.home #nav ul.buckets li {list-style:none;margin:0;padding:0}
	body.home #nav li.bucket {border-right:solid 1px #fff;zoom:100%;width:247px;float:left;}
	body.home #nav li.bucket ul {display:none;position:absolute;top:6.7em;width:247px;height:227px;border-bottom:solid 4px #fff;overflow:visible;background:#deeecf}
	body.home #nav li.last, body.home #nav li.last ul {border-right:none;width:248px} 
	body.home #nav li.bucket ul {padding-top:20px}
	body.home #nav li.bucket ul li {border:none;padding:0}
		
	body.home #nav li li a {text-transform:none;font-weight:bold;font-size:1.1em;padding:.2em 1em}
	body.home #nav #nav1 li.special, body.home #nav #nav3 li.special {margin-top:1em;padding-top:1em;border-top:solid 1px #c1dea8}
	body.home #wrapper #nav li li a {color:#008751} body.home #wrapper #nav li a:hover {color:#fc0}
	body.home #nav li.redirect {background-color:transparent}
	
	body.home #nav h2 {border-bottom:none;padding:0;z-index:10} body.home #nav h2 a {padding:0;margin:0} body.home #nav h2 a:hover {color:#fff;background:#4d9609}
	body.home #nav h2 a {}body.home #nav h2 a span {display:block;width:100%;font-weight:bold;cursor:pointer}


	/* 
	COLORS: light green : adda69  bluegrey: a4c1af  peach: f2e4a5  burnt orange: d8b463 charcoal 58534f
	*/
	
	body.home .news h2, body.home .linkset h2 {font-size:1em} .linkset h2 a {font-size:1em;color:#298369!important;} .news h2 a {font-size:1em;color:#298369!important;} .highlight h2 a {font-size:1em;color:#298369!important;} .new h2 a {font-size:1em;color:#298369!important;}
	body.home .box {padding:1em 1.5em}
	body.home .news {width:18em;background:#fff} 
	body.home .news .box {background:#deeecf;margin-bottom:4px}
	body.home .new {background:#deeecf;padding:1em;}
	
	body.home .info {margin-bottom:4px}
	body.home .highlight {background:#fff url(../image/arrow.gif)/*tpa=http://www.weyerhaeuser.com/image/arrow.gif*/ no-repeat 8px 8px}
	body.home .highlight .box {border:solid 1px #197033;font-size:.95em;line-height:1.3em;padding:14px 8px 10px 32px}
	
	body.home .intro {width:36.5em;padding:1.8em;float:left;margin:0 0 4px 0} 
	body.home .intro h1 {font-size:1.8em;margin-bottom:.2em}
	
	body.home .link {padding-top: .3em}
	body.home .link a {color:#008751} a:hover {text-decoration:underline;color:#e37f1c}
	
	/* .detail .intro {color:#1c6c35;text-transform:uppercase}*/
	
}

/* news */
.newsDateline
{
	font-weight:bold;
}

/* Sustainability specific styles */
.sustainability .feature a, .sustainability .news a {color:Black; text-decoration:none; font-size:1em}
.sustainability .feature {border:none}
.sustainability .feature li {line-height:22px}
.sustainability .related a {text-decoration:none; font-size:1em}

.sectionHighlights {float:left;margin:0 4px 4px 0;zoom:100%;float:left;min-height:144px;width:553px}
.sectionHighlights:after {content:".";display:block;height:0;clear:both;visibility:hidden}
.sectionHighlights .box {padding:1em;padding-left: 32px;background:#fff url(../image/arrow.gif)/*tpa=http://www.weyerhaeuser.com/image/arrow.gif*/ no-repeat 8px 8px}
.sectionHighlights .firstRow {font-size:14pt; text-transform:uppercase;color:#298369;font-weight:bold;padding-bottom:10px;padding-top:4px}
.sectionHighlights .highlight {font-weight:bold;color:#005984;}
.sectionHighlights .box a {text-decoration:none;}
	
body.sustainability.L1 .feature h2 {margin-bottom:-13px;}
body.sustainability div#content3 {height:8px;}

.bottomFeature {border:dotted 1px #197033;padding-left:12px;padding-top:12px;width:361px}
.bottomFeatureRight {width:358px}
.bottomFeature .box {margin:0;/*padding-right: 100px*/}
.bottomFeature h2 {margin-bottom:-13px;}
.bottomFeature h3, .bottomFeature ul, .bottomFeature li {padding:0 5px 0 0;margin:0;display: inline;}
.bottomFeature h3, .bottomFeature p {font-size:.95em; text-transform:none}
.bottomFeature li a {font-size:.95em;white-space:nowrap;text-decoration:none}
.bottomFeature img {display:block} .bottomFeature img.logo {float:left;margin:12px 4px} .bottomFeature img.lrg {float:right;margin:9px 4px}

.siteHighlights {background:#deeecf}
.siteHighlights a {text-decoration:none;color:#000;font-size:.95em}
.siteHighlights ul, .siteHighlights li {list-style:none;margin:0;padding:0}
.siteHighlights li {padding-bottom:.6em;line-height:1.3em}

.sustainabilityStory { background-color:#deeecf; border:solid 1px black; margin-bottom:15px; padding-bottom:20px}
.sustainabilityStory .topText { background:#1c6c35 url(../image/white_arrow2.gif)/*tpa=http://www.weyerhaeuser.com/image/white_arrow2.gif*/ no-repeat 4px 4px; font-size:1.3em; font-weight:bold; color:white; text-transform:uppercase; padding:10px}
.sustainabilityStory .headline { font-size:1.1em; font-weight:bold; padding:20px} 
.sustainabilityStory p {padding:0px 20px 0px 20px}
.sustainabilityStory ul {margin-left:32px;}

h3.sustainabilityLanding
{
    padding: 0 0 20px 20px;
    text-transform: none !important;
    font-size:1.75em;
}
.landingPageBoxContainer
{
    padding: 0px 10px 1em 2em;
    float: right;
    clear: both;
}
.landingPageBox
{
    width: 280px;
    padding: 10px 10px 0 10px;
}
.performanceBox
{
    background-color: #90d7e8;
}    
.peopleBox
{
    background-color: #fabf8f;
}
.landingPageBox div.arrow
{
    float: left;
    padding-right: 5px;
    font-size: 11pt;
    font-weight: bold;
}
.performanceArrow
{
    color: #eb9014;
}
.peopleArrow
{
    color: #e36c0a;
}
.landingPageBox div.arrowText
{
    font-size: 11pt;
    font-weight: bold;
}
.landingPageBox ul
{
    list-style-type: square;
}
.landingPageBox li
{
    padding-bottom: 5px;
}
.columnLeft
{
    width:510px;
}
.columnRight
{
    width:195px;
    float:right;
}
.tableColumnLeft
{
    width:510px;
}
.tableColumnRight
{
    width:195px;
}
.columnRight div.img
{
    padding-bottom:20px !important;
}
.SIAStoryTitle
{
    color: #663300;
    font-family: Franklin Gothic Demi;
    font-size: 22pt;
}
        
.SIAStorySubhead
{
    color: #008752;
    font-family: Franklin Gothic Demi;
    font-size: 13pt;
    margin-bottom: 5px;
}
        
.SIAStoryPostedDate
{
    color: #000000;
    font-family: Franklin Gothic Demi;
    font-size: 9pt;
    font-weight: bold;
    text-decoration: none;
    border-bottom-color: currentColor;
    border-bottom-width: medium;
    border-bottom-style: none;
}
        
.SIAStoryText
{
    line-height: 13pt;
    font-family: Franklin Gothic Book;
    font-size: 10pt;
    margin-bottom: 10px;
    padding-top: 10px;
}

.SIAStoryPHeader
{
    color: #008752;
    font-weight: bold;
}
        
.SIABanner
{
    position: relative;
    top: 35px;
    left: 36px;
}
        
.SIAStory
{
    width: 994px;
    height: 518px;
    overflow: auto;
}
        
.SIAStory table
{
    width: 10%;
    margin-bottom: 0px;
}
        
.SIAImageCaption
{
    width: 50px;
    font-size: 8pt;
    font-weight: bold;
}
div.apple_overlay_sia 
{
	display: none;
	background: #ffffff url(../images/SIA-Background.png)/*tpa=http://www.weyerhaeuser.com/images/SIA-Background.png*/ no-repeat;
	font-size: 10pt;
	padding-top: 75px;
	padding-left: 17px;
	padding-right: 13px;
}


        
/* westwood */
body.westwood a {color:#19763f}
body.westwood #brand, body.westwood #global {background:#19763f}
body.westwood #global {margin-top:1.8em} body.westwood #globalNav {display:none}
body.westwood #global a:hover {color:#fc0}
body.westwood #globalLinks a {font-size:1em;color:#fff;padding:4px 7px;background:none}
body.westwood #globalSearch span {border-color:#666}
body.westwood h1, body.westwood h2 {color:#19763f}
body.westwood #nav {background:#ccc}
body.westwood #nav h2 {background:#999;height:1em} body.westwood #nav h2 a {display:none}
body.westwood #nav a {color:#666} body.westwood #nav a:hover {color:#fc0}
body.westwood #nav li.sel a {color:#19763f;} #nav li.sel li a {background-image:none}
body.westwood #nav li li a, body.westwood #nav li.sel li a {color:#666}
body.westwood #nav li.l2 {background:#ddd} 
body.westwood #nav ul.special {background:#bbb}

.sectionhead {color:#298369;font-size:1.3em;padding:.4em 0;text-transform:uppercase;font-weight:bold}

/* WHIP Chinese translation pages */
body.whipChinese p {font-size:1.2em}
body.whipChinese caption {font-size:1.3em}
body.whipChinese ul li {padding-bottom:.2em;}
body.whipChinese ul.linklist a {font-size:1.2em}
body.whipChinese #nav h2{font-size:1.1em!important;}
body.whipChinese #nav ul a {font-size:1.2em}
body.whipChinese #nav ul ul a {font-size:1.2em} 
body.whipChinese #foot {font-size:.7em;}
body.whipChinese h2 {font-size:1.5em;}
table.whipCh th, table.whipCh td {font-size:1.2em}
ul.whipFont li {font-size:1.2em;}
p.gradeList {margin-bottom:8px; text-align:right;}
div.whipColumnRight {float:right; width:auto; clear:right; text-align:right; margin-left:1.5em; margin-bottom:2em; padding:0 0 1em 2.5em; background-color:#fff; border:solid 0px #eb9014;}
p.whipTagline, span.tagline {font-size:1em;font-weight:bold;color:#1C6C35;} 
div.whipTagline {margin:-.8em 0 0 3em;padding-bottom: 15px}
.whipSpeciesImg {width:120; padding-bottom:5px;text-align:right; display:block; border:dotted 0px blue;}
.speciesName {}


/* careers 

 body.careers  {background-image:url('/image/company/careers/bg.gif');  background-repeat:no-repeat } 
*/

@media print {
	#brand, #nav,.top, #global, .flash, ul.bookmarks  {display:none}
	a {color:#333;text-decoration:none}
}

/* development only */
.devnote {font-weight:bold;color:#c00;margin-bottom:1em;}