#survey_modal {
	background: #EBEBEB;
	border: 1px solid #C0C0C0;
	color: #212721;
	padding: 20px;
	width: 278px;
	overflow: hidden;
	text-align: left;
	left: 50%;
	margin: 0 0 0 -155px;
	position: fixed;
	top: 20%;
	z-index: 9999;
	display: none;
}
#survey_modal h2 {
	color: #20A0CA;
	font-size: 20px;
	font-family: 'HelveticaNeueW01-77BdCn 692722', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	text-transform: uppercase;		
}
#survey_modal h3 {
	font-size: 16px;
}
#survey_modal p {
	font-size: 14px;
}
#survey_modal-yes {
	margin: 20px 0;
	background-color: #e72c41;
	border: none;
	border-radius: 8px;
	color: #FFF;
	cursor: pointer;
	font-size: 13px;
	padding: 15px;
	text-align: left;
	text-transform: capitalize;
	width: 127px;
	display: block;
	transition: background-color 0.5s ease-out;
	-webkit-transition: background-color 0.5s ease-out;
	text-decoration: none;
}
#survey_modal-yes:hover {
	background-color: #b81e39;
	color:#FFF;
}
#survey_modal-yes:after {
	content: url('img/external-link.png');
	margin-left:.5em;
	float: right;
}
#survey_modal-no {
	color: #E72B41;
	text-decoration: underline;
	font-size: 13px;
	cursor: pointer;
}