/* Reset Styles
html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	background: url(/sitecollectionimages/imagerepository/home/bg.jpg) repeat;
}*/

#pageBody {max-height:1225px !important;} /*override*/

/*.content2col {height:915px !important }*/

#page{
	background: transparent;
	/*min-height: 700px;*/
	width: 990px;
	margin: -35px auto 0 auto;
}
.brandLanding_bg {	background:#FFF; }

/* Slider */
#sliderWrapper {
	background-color: #fff;
	width: 1200px;
	height: 425px;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
	left:-98px;
	top:0px;
}


#mainSlider a {
	display: block;
	float: left;
	margin: 0 12px;
	outline: none;
}

	#mainSlider a img{
		border: 0;
	}

#leftSlide, #rightSlide {
	background-color: transparent;
	/*opacity: 0.5;*/
	height: 500px;
	width: 70px;
	top: 0;
	position: absolute;
	cursor:pointer;
}

#leftSlide {
	left: 0x;
}

#rightSlide {
	right: 0px;
}

#slidePager {
	margin-left: 0;
	position: absolute;
	left: 46.5%;
	top: 16px;
	opacity: 1 !important;
	z-index:50000;
}

	#slidePager a {
		background: url("../sitecollectionimages/imagerepository/home/slider_paging.png")/*tpa=http://www.kraftfoodsgroup.com/sitecollectionimages/imagerepository/home/slider_paging.png*/ no-repeat -16px -1px;
		display: inline-block;
		width: 13px;
		height: 13px;
		margin: 0 4px 0 0;
	}
	
		#slidePager a:hover, #slidePager a.selected  {
			background-position: -1px -1px;
		}
		
		#slidePager a span {
			display: none;
		}
		
#brand_slider_wrapper {
	background-color: #fff;
	width: 1004px;
	overflow: hidden;
	margin: 20px auto;
	position: relative;
	}
	.image_carousel img {
		background-color: white;
		padding: 9px;
		margin: 7px;
		display: block;
		float: left;
	}
	
	
/*#brands_rightSlide {
	right: -22px;
	width:30px;
	height:30px;
	border:1px solid red;
	}*/
	
#brand_slider_wrapper .caroufredsel_wrapper {
	height: 96px !important;
	margin-left:27px !important;
	width: 950px !important;
	}
	#brand_slider_wrapper .caroufredsel_wrapper a {
		margin:0px 2px; 
		padding:0px; 
		display:block;
		float:left;
		border:none;
		opacity: 1;
		transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
		}
		#brand_slider_wrapper .caroufredsel_wrapper a:hover {
			opacity: 0.5;
			}
			
	#brand_slider_wrapper .caroufredsel_wrapper img {border:none;}
	
#brands_leftSlide {
	left: 0px;
	top: 0px;
	background-color: transparent;
	/*opacity: 0.5;*/
	width: 28px;
	height: 95px;
	position: absolute;
	cursor:pointer;
	background: url(../sitecollectionimages/imagerepository/home/brand_left_arrow.gif)/*tpa=http://www.kraftfoodsgroup.com/sitecollectionimages/imagerepository/home/brand_left_arrow.gif*/ no-repeat;
	}
	
#brands_rightSlide {
	right: -1px;
	top: 0px;
	background-color: transparent;
	/*opacity: 0.5;*/
	width: 28px;
	height: 95px;
	position: absolute;
	cursor:pointer;
	background: url(../sitecollectionimages/imagerepository/home/brand_right_arrow.gif)/*tpa=http://www.kraftfoodsgroup.com/sitecollectionimages/imagerepository/home/brand_right_arrow.gif*/ no-repeat;
	}
	
#side_bar {
	position:relative;
	width:236px;
	background:#ffffff;
	float:left;
	height: 854px;
	/*min-height:600px;*/
	}
	#side_bar h1, #side_bar h1 a {
		font-family:Arial, Helvetica, sans-serif;
		font-weight: bold;
		font-size:19px;
		color:#003399;
		margin:0px;
		background:url(Unknown_83_filename)/*tpa=http://www.kraftfoodsgroup.com/sitecollectionimages/imagerepository/brands/kraft_brands_h1_bg.gif*/ no-repeat;
		width:236px;
		height:39px;
		padding: 7px 0 0 0;
		text-decoration:none;
		}
	#side_bar h2, #side_bar h2 a {
		font-family:Arial, Helvetica, sans-serif;
		font-weight: normal;
		font-size:12px;
		color:#676767;
		margin:0px;
		background:url(Unknown_83_filename)/*tpa=http://www.kraftfoodsgroup.com/sitecollectionimages/imagerepository/brands/kraft_brands_h1_bg.gif*/ no-repeat;
		width:236px;
		height:39px;
		padding: 7px 0 0 0;
		text-decoration:none;
		}
		
#great_brands {
	position:relative;
	width: 783px;
	margin:0 0 0 2px;
	/*min-height:600px;*/
	float:left;
	}
	
#great_brands_header {
	position:realative;
	width: 783px;
	z-index:100;
	margin-left:-2px;
	}
	
#brands_wrapper {
	margin: 0px 0 0 -19px;
	overflow: scroll;
	overflow-x:hidden;
	height:649px;
	padding: 0px;
	position: absolute;
	width: 767px;
	}
	/*.win #brands_wrapper, .gecko #brands_wrapper {padding: 0 0px 0 54px; width:730px; overflow-x:hidden;;} margin-top:205px !important*/
.brand {
	float:left;
	margin:0 0 20px 15px;
	}
.brand_overlay {
	position:absolute;
	width:300px;
	height:287px;
	margin: -228px 0 0 -41px;
	-moz-box-shadow: 0px 0px 6px #666666;
	-webkit-box-shadow: 0px 0px 6px #666666;
	box-shadow: 0px 0px 6px #6666660;
	}
	.brand_overlay h1 {
		margin: -78px 0 0 54px !important;
		color: #000 !important;
		font-size: 15px !important;
		font-weight: bold !important;
		font-family: Arial, Helvetica, sans-serif !important;
	}
	.brand_overlay p {
		margin: 0px 0 0 54px !important;
		color: #002db2 !important;
		font-size: 11px !important;
		line-height: 12px !important;
		font-weight: bold !important;
		font-family: Arial, Helvetica, sans-serif !important;
	}
	/*.brand_overlay a {
		margin: 0px 0 0 54px;
		color: #002db2;
		font-size: 11px;
		font-weight: bold;
		font-family: Arial, Helvetica, sans-serif;
	}*/
	
.brand_overlay_link {
	position: absolute;
	display: block;
	width: 300px;
	height: 287px;
	margin: -260px 0 0 0px;

	}
	
	
#callOutLinks {
	margin:160px 0 0 0;
	}
#callOutLinks a {
	display:block;
	margin:0 0 10px 0;
	}
#callOutLinks a img {
	border:none;
	}
	