/* Global Sidebar Styles shared by different Templates
----------------------------------------------------------------------------------------------------*/

/* Sidebar Left
----------------------------------------------------------------------------------------------------*/
#sidebar-left {
	display: inline;
	width:220px;
	float:left;	
	margin: 0px 0px 0px 20px;
	padding-bottom: 40px;
}

#sidebar-left h3 {
	font-size:12px;
	padding:30px 0 0 20px;
}

.ie7 #sidebar-left h2 {
	font-size:16px;
}

#sidebar-left h2.section-title {
	margin-bottom: 5px;
}

#sidebar-left strong {
	display:block;
	font-family: 'MuseoSans700', Arial, sans-serif;
}

.ie7 #sidebar-left strong,
.ie8 #sidebar-left strong {
	font-family: 'MuseoSans900', Arial, sans-serif;
	display:block;	
}

#sidebar-left a,
#sidebar-right a {
	color:#003366;
	font-family: Arial, sans-serif;
}

#sidebar-left a:hover {
	text-decoration:underline;
}

#sidebar-left a.see-our-leadership {
	font-weight:bold;
	color:#539fdd;
}

#sidebar-left ul,
#sidebar-right ul {
	list-style-type:none;
	margin:0;
}

#sidebar-left .menu {
	background-color:#e5f5ff;
}

#sidebar-left ul {
	padding-top:10px;
}

#sidebar-left li {
	border-bottom:1px solid #d8e0e5;
	margin:0 10px 0 10px;
	padding:10px 0 10px 10px;
}

#sidebar-left li.last {
	border-bottom:1px solid #a4b0b7;
}

#sidebar-left li.no-bdr {
	border-bottom:0px;
}

#sidebar-left li.active {
	background-color:#fff;
	margin:0;
	border-bottom:none;
}

#sidebar-left li a {
	display:block;
	position: relative;
	padding-right: 20px;
	margin:0 10px 0 0px;
}

#sidebar-left li.active a {
	margin:0 20px 0 10px;
	color:#ff3300;
	border-bottom:none;
}

#sidebar-left li a div.count {
	position: absolute;
	top: 0px;
	right: 0px;
	font-family: Arial;
	font-size: 11px;
	text-align: right;
	color: #999;
}

#sidebar-left li.active a div.count {
	color:#ff3300;
}

#sidebar-left a.footer-link {
	padding:10px 0 20px 20px;
	display:block;
	font-family: 'MuseoSans900', Arial, sans-serif;
	color:#45bdff;
	background-color:#E5F5FF;
}

/* fix underlining for Search version's article count divs */

div#content.search #sidebar-left li a:hover {
	text-decoration: none;
}

div#content.search #sidebar-left li a:hover strong {
	text-decoration: underline;
}

/* Sidebar Right
----------------------------------------------------------------------------------------------------*/
#sidebar-right {
	width:170px;
	float:left;
	background-color:#e5f5ff;
	margin-left:20px;
}