.jcarousel-skin-tango .jcarousel-container {
    -moz-border-radius: 10px;
    background: #F0F6F9;
   height: 100px;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
   
    width: 980px;
    height: 100px;
     padding: 0 0 0 0;
    margin:0 0 0 0;

}


.jcarousel-skin-tango .jcarousel-clip-horizontal {
    height: 100px; 
    width:959px;

}

.jcarousel-skin-tango .jcarousel-item {
 height: 100px; 

}

.jcarousel-skin-tango .jcarousel-item-horizontal {
    margin-left: 1px;
}


.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #000;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 12px;
    height: 100px;
    cursor: pointer;
    background: url(../global/images/skins/slider_next.png)/*tpa=http://www.wdc.com/global/images/skins/slider_next.png*/;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover {
    background-position: 0 0;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active {
    background-position: 0 0;
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 12px;
    height: 100px;
    cursor: pointer;
    background: url(../global/images/skins/slider_prev.png)/*tpa=http://www.wdc.com/global/images/skins/slider_prev.png*/;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover {
    background-position: 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
    background-position: 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

