body {
	background-color: #fff;
	width: 100%;
	text-align: center;
	margin: 0px;
	padding: 0px;
}

/*  START Rules for Links (LEGACY and v5) */
	/* for BOTH versions of the site --JD */
	a,
	a:link,
	a:hover,
	a:visited { text-decoration: none; }
	a:link { color: #01598e; }
	a:hover { color: #000000; }
	a:visited { color: #01598e; }

		/* from earlier version of the site --JD */
	#header_top a,
	#header_top a:hover{ color:#fff; }
	#breadcrumb a, #breadcrumb a:hover { color:#666666; }
	#breadcrumb a:hover { text-decoration:underline; }
	#footer a, #footer a:hover {
		/* from earlier version of the site --JD */
		clear: both;
		width: 975px; color: #999999; }

		/* for v5 version of the site --JD */
	#header_top_v5 a,
	#header_top_v5 a:hover{ color:#fff; }
	#breadcrumb_v5 a, #breadcrumb_v5 a:hover { color:#666666; }
	#breadcrumb_v5 a:hover { text-decoration:underline; }
	#footer-wrapper #footer_v5 a,
	#footer-wrapper #footer_v5 a:hover{
		clear: both;
		width: 975px; color: #3a3a3a; }  /* was d5d5d5 */
/*  END Rules for Links (LEGACY and v5) */

/*******************************************************************************/
.ovPadding { padding: 0 20px; }
#maincontainer,
#overlaycontainer {
	text-align: left;
	margin: 0 auto;
	position:relative;
	line-height: 15pt;
	font-size: 10pt;
	color:#4d4c4c;
	font-family:"Lucida Grande","Lucida Sans Unicode",  sans-serif;
	height:100%;
}
#maincontainer { width: 980px; }
/*******************************************************************************/


/*   START header: LEGACY version */
	#header{ 
		/* from earlier version of the site --JD */
		background-color: #F0F0F0; }
	#header_top{
		/* from earlier version of the site --JD */
		text-align: right;
		vertical-align:middle;
		width: 980px;
		height:44px;
		margin: 0 auto 0 0;
		position:relative;
		background-color:#f0f0f0;
		font-size: 14px;
		font-family: Arial, Helvetica;
		background-image: url("../global/images/topnav/background/nav_top.png")/*tpa=http://www.wdc.com/global/images/topnav/background/nav_top.png*/;
		background-repeat: no-repeat;
	}
/*   END header: LEGACY version */
/*   START header: v5 version */
	#header_v5 {
	    width: 100%;
	    height:118px;
	    background: #c1c1c3 url("../global/images/topnav/background/gradient.jpg")/*tpa=http://www.wdc.com/global/images/topnav/background/gradient.jpg*/ repeat-y center top;
	}
    #header_v5 .header-wrapper {
        position: relative;
        width: 980px;
        margin: 0 auto;
    }
    @media only screen and (max-device-width : 1024px){
        #header_v5 .header-wrapper 
        {
            width: 100%;
        }   
    }
	#top-menu-wrapper {
	    position: absolute;
	    top: 75px;
	    left: 0;
	    z-index: 500;
	    display:table;
	    width: 100%;
	    border-spacing: 0;
	    border-collapse:separate;
	}
	#top-menu-wrapper span.up-arrow {
	    display:none;
	    position: absolute;
	    bottom: 0;
	    left: 50%;
	    margin-left: -20px;
	    height: 11px;
	    width: 40px;
	    background: transparent url("../global/images/topnav/top_arrow.png")/*tpa=http://www.wdc.com/global/images/topnav/top_arrow.png*/ no-repeat center top;
	    z-index: 2;
	}
	#top-nav-offset {
	/*    width: 173px;
	    *width: 199px;
	    *float: left;*/
	    height: 1px;
	}
	#top-logo {
	    position: absolute;
	    top: 0;
	    left: 0;
	    z-index: 501;
	}
/*   END header: v5 version */

/*   START search: LEGACY version   */
	#search{
		position: absolute;
		top:.8em;
		right: 10px;
		font-size:0.7em;
		width:auto;
		color:#fff;
	}
	#search form{
		padding:0;
		margin:0;
	}
/*   END search: LEGACY version   */
/*   START search: v5 version   */
	#search_v5 {
		position: absolute;
		top:25px;
		right: 10px;
		font-size:0.7em;
		width:auto;
		color:#717171;
	}
	#search_v5 .btn {
	    cursor: pointer;
	    position: absolute;
	    width: 30px;
	    height: 21px;
	    vertical-align:top;
	    border: 0 solid #FFF;
	    text-indent: -9999px;
	    outline: 0;
		background: url("../global/images/topnav/sprite_search_btn.png")/*tpa=http://www.wdc.com/global/images/topnav/sprite_search_btn.png*/ no-repeat 0 0;
	    top: 1px;
	    right: 7px;
	}
	#search_v5 .btn:hover { background-position: 0 -21px; }
	#search_v5 input[type="text"] {
	    height: 15px;
	    width: 129px;
	    font-size: 12px;
	    background-color: #cccccc;
	    border: 1px solid #cccccc;
	    color: #717171;
	    padding: 1px 34px 2px 8px;
	    transition: all 0.25s ease-in-out;
	    -webkit-transition: all 0.25s ease-in-out;
	    -moz-transition: all 0.25s ease-in-out;
	}
	#search_v5 input[type="text"] {
	    position: absolute;
	    top: 1px;
	    right: 37px;
	}
	#search_v5 .header_links {
		text-align: right;
		width: 600px;
		position: absolute;
		top: 5px;
		right: 214px;
	}
	#search_v5 input[type="text"]:hover,
	#search_v5 input[type="text"]:focus {
	    box-shadow: 0 0 5px #008fe2;
	    -webkit-box-shadow: 0 0 5px #008fe2;
	    -moz-box-shadow: 0 0 5px #008fe2;
	}
	#search_v5 input[type="text"]::-webkit-input-placeholder { color: #00639c; }
	#search_v5 input[type="text"]:-moz-placeholder { color: #00639c; }
	#search_v5 input[type="text"]::-moz-placeholder { color: #00639c; }
	#search_v5 input[type="text"]:-ms-input-placeholder { color: #00639c; }
	#search_v5 form{
		padding:0;
		margin:0;
	}
    .submenu-wrapper.modrnShow { display: block !important; opacity: 1 !important; }
    .submenu-wrapper.modrnHide { display: none !important; opacity: 0 !important; }
	
/*   END search: v5 version   */

/*   START breadcrumb: LEGACY version   */
	#breadcrumb{
		color:#666666;
		text-align: left;
		width: 980px;
		height:25px;
		padding: 0 0 0 15px;
		margin: 5px 0 0 0;
		position:relative;
		background-color:#f0f0f0;
		font-family:Arial, Helvetica;
		font-size:8pt;
	}
	#nobreadcrumb{
		color:#666666;
		background-color:#f0f0f0;
		width: 980px;
		height:10px;
	}
/*   END breadcrumb: LEGACY version   */
/*   START breadcrumb: v5 version   */
	.breadcrumbtext_v5 {
		display: inline-block;
		margin-top:-10px;
		text-align: left;
		width: 980px;
		padding: 19px 0 0  40px;
		font-family:Arial, Helvetica;
		font-size:8pt;
	}
	#breadcrumb_v5,
	#nobreadcrumb_v5 {
		color:#666666;
		background-color:#fff;
		width: 100%;
		height:35px;
	    background: -moz-linear-gradient(top,  rgba(169,169,169,1) 0%, rgba(255,255,255,0.08) 92%, rgba(255,255,255,0) 100%);
	    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(169,169,169,1)), color-stop(92%,rgba(255,255,255,0.08)), color-stop(100%,rgba(255,255,255,0)));
	    background: -webkit-linear-gradient(top,  rgba(169,169,169,1) 0%,rgba(255,255,255,0.08) 92%,rgba(255,255,255,0) 100%);
	    background: -o-linear-gradient(top,  rgba(169,169,169,1) 0%,rgba(255,255,255,0.08) 92%,rgba(255,255,255,0) 100%);
	    background: -ms-linear-gradient(top,  rgba(169,169,169,1) 0%,rgba(255,255,255,0.08) 92%,rgba(255,255,255,0) 100%);
	    background: linear-gradient(to bottom,  rgba(169,169,169,1) 0%,rgba(255,255,255,0.08) 92%,rgba(255,255,255,0) 100%);
	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9a9a9', endColorstr='#00ffffff',GradientType=0 );
	}
/*   END breadcrumb: v5 version   */

/*   START headertops: LEGACY version   */
	#homeheadertop {
		height:8px;
		padding: 0;
		margin: 0;
		text-align: left;
		/*background-image: url("/global/images/bodyassets/bodytopsquare_bg.png");
		background-repeat:repeat-y;*/
	}
	#productheader {
		height:200px;
		padding: 0;
		margin: 0;
		text-align: left;
	/*	background-image: url("/global/images/bodyassets/body_bg.png");
		background-repeat:repeat-y;*/
	}
	#productheadertop,
	#genericheadertop {
		height:10px;
		padding: 0;
		margin: 0;
		text-align: left;
	}
	#productheadertop {
	/*	background-image: url("/global/images/bodyassets/breadcrumb_bg.png");
		background-repeat:no-repeat;*/
	}
	#genericheadertop {
		background-color: #ffffff;
		/*background-image: url("/global/images/bodyassets/breadcrumb_bg.png");
		background-repeat:no-repeat;*/
	}
	#hero {
		text-align: center;
		padding: 0 3px;
		margin: 0;
		width: 980px;
	}
	#ovHero {

		padding: 0;
		margin: 0;
	}
	.eventpromotxt, 
	.cmspecial { position: absolute; color: #ffffff; text-align: left; }
	.eventpromotxt a { font-weight: bold; text-decoration: underline; color: #ffffff; }
	.cmspecial a { text-decoration: none; font-weight: 100; font-family: Verdana; color: #ffffff; font-size: 18px; }

	/*   ===================  START Media content strip below hero ===================  */
		#mediacontentx,
		.mediacontent {
			margin: 0;
			text-align: left;
			background-color:#999999;
			background-image: url("../global/images/bodyassets/mediacontent_bg.png")/*tpa=http://www.wdc.com/global/images/bodyassets/mediacontent_bg.png*/;
			background-repeat:repeat-y;
		}
		#mediacontentx {
			padding: 0;
			height:100px;
		}
		.mediacontent{
			padding: 10px 0 6px 0;
		}
		.mediacontent { min-height:60px; }
		#mediacontent {
			padding: 0;
			margin: 0;
			position: relative;
			height: 60px;
			text-align: left;
			background-color: #999999;
			background-image: url("../global/images/products/background/mediacontent_bg.png")/*tpa=http://www.wdc.com/global/images/products/background/mediacontent_bg.png*/;
			background-repeat: repeat-y;
		}
		#flashdemocontainer {
			min-width:600px;
			min-height:400px;
		}
		.tblcapacities { border-collapse:collapse; }
		.tblcapacities td {
			font-weight: bold;
			font-size: 9pt;
			padding:2px 4px 0px 4px;
		}
		.mediatitle {
			font-weight: bold;
			font-size: 9pt;
			text-align:left;
			float: right;
			padding-right:15px;
		}
	/*   ===================  END Media content strip below hero ===================  */

/*   END headertops: LEGACY version   */

/*   START body container: LEGACY version   */
	.bodycontentfeatures,
	#bodycontent,
	.bodycontent {
		background-color: #FFFFFF;
		padding: 0 15px;
		margin: 0;
		text-align: left;
	}
	#bodycontentNPNB {
		margin: 0;
		text-align: left;
	}

	#bodycontentBlckNP,
	#bodycontentNP,
	#ovhero,
	#homebodycontentNP {
		background-color: #fff;
		margin: 0;
		text-align: left;
	}
	#bodycontentBlckNP { background-color: #000000; }
	#bodycontentNP,
	#ovhero { background-color: #ffffff; }
	#homebodycontentNP { background-color: #e9e8e8; }
/*   END body container: LEGACY version   */
/*   START body container: v5 version   */
	#bodycontent-wrapper {
	    margin: 0 auto;
	    width: 980px;
	}
/*   END body container: v5 version   */

/*   START Footer styles: LEGACY version   */
	#bodyfooter,
	#bodyfooterBlck {
		height:100px;
		width: 100%;
		/*background-image: url("/global/images/bodyassets/bodybottom_bg.png");
		background-repeat:no-repeat;*/
	}
	#bodyfooter { background-color: #ffffff; }
	#bodyfooterBlck { background-color: #000000; }
	#bodyfootersquare {
		position: relative;
		width: 100%;
		/*background-image: url("/global/images/bodyassets/footer_bg.png");
		background-repeat:no-repeat; */
	}
	#homebodyfooter {
		background-color: #FFFFFF;
		height:20px;
		/*background-image: url("/global/images/bodyassets/bodybottomsquare_bg.png");
		background-repeat:no-repeat;*/
	}
	#footer {
		font-size:11px;
		color:#999999;
		padding: 10px 0 0 5px;
		bottom: 0px;
		left: 0px;
		width: 100%;
		background-color:#F0F0F0;
	}
/*   END Footer styles: LEGACY version   */
/*   START Footer styles: v5 version   */
	#footer-wrapper {
	    background-color: #dcdcdc;
	    color:#3a3a3a;
	    margin: 0 auto;
	    line-height: 15pt;
	}
	#footer-wrapper .legal {
	    font-size: 11px;
	    padding-bottom: 20px;
	}
	#footer-wrapper #footer_v5 {
        margin: 0 auto;
	    display:table;
		width: 980px;
	    border-spacing: 0;
	    border-collapse:separate;
		font-size:11px;
		padding: 25px;
		bottom: 0px;
		left: 0px;
	}
	#footer_v5 .contentpadding {
	    display:table-row;
	}
	#footer_v5 .cell{
	    display:table-cell;
	    text-align: left;
	    *float: left;
	    *display: block;
	}
	#footer_v5 .cell:first-child {
	    width: 26%;
	}
/*   END Footer styles: v5 version   */

/*   START Highlight styles: LEGACY version   */
	.prodhighlightsBG {
		background-image: url("../global/images/products/background/bg_highlights.png")/*tpa=http://www.wdc.com/global/images/products/background/bg_highlights.png*/;
		background-repeat:repeat-x;
	}
	.prodhighlightsBG500 {
		background-image: url("../global/images/products/background/bg_highlights500.png")/*tpa=http://www.wdc.com/global/images/products/background/bg_highlights500.png*/;
		background-repeat:repeat-x;
	}
	#prodhighlights { background-color:#ffffff; }
	#prodhighlights div {	
		background-color:#ffffff;
		float: left;
		width: 215px;
		min-height: 150px;
		margin: 0 0 0 0;
		padding: 0 20px 0 5px;
	}
	#prodhighlights div:hover {
		/*cursor: pointer; cursor: hand;
		background-color:#f6f6f6;*/
	}
	#prodfeatures div {
		float: left;
		background-color:#FFFFFF;
		width: 215px;
		min-height: 150px;
		margin: 0;
		padding: 0 20px 0 5px;
	}
/*   END Highlight styles: LEGACY version   */

/*   START Overlay styles: LEGACY version   */
	#flashDemo {  }
	#overlay {
		background-image:url(../global/images/overlay/white_overlay.png)/*tpa=http://www.wdc.com/global/images/overlay/white_overlay.png*/;
		color:#333333;
		height:650px;
	}
	/* container for external content. uses vertical scrollbar, if needed */
	div.contentWrap /* { height:800px; } */
/*   END Overlay styles: LEGACY version   */

/*******************************************************************************/
/*   START Misc styles: LEGACY version   */
	#sliderBanner {
		background-color:#F0F0F0;
		height:200px;
		text-align: center;
	}
	#featuresMI {
		/*background-image: url("/global/images/bodyassets/body_bg.png");
		background-repeat:repeat-y;*/
	}
	#clearleft,
	.clearleft { clear: left; }
	.clearboth { clear: both; }
	.clearinheret { clear: inherit; }
	.clearnone { clear: none; }

	#ff,
	#ffxx {
		width: 100%;
		background-color:#ffffff;
	}
	#tt,
	#ttbar {
		cursor: pointer; cursor: hand;
		text-align: center;
		color:#fff;
		width: 980px;
		height:37px;
		background-color:#ffffff;
	    vertical-align:bottom;
		background-image: url("../global/images/bodyassets/bg_accordian.jpg")/*tpa=http://www.wdc.com/global/images/bodyassets/bg_accordian.jpg*/;
		background-repeat: repeat-x;
		padding:0 0 0 0;
		margin: 0 0 0 -3px;
	}
	#ttbar {
		margin: 0 0 0 -4px;
	}
	#accordianbar,
	#accordianbarLP {
		width:980px;
		padding: 0 0 0 3px;
		margin: 0 -3px 0 0;
	}
	#accordianbarLP { color:#fff; }
	/* homepage formatting */
	#hpcolumns {
		background-color:#ffffff;
		padding: 0 4px;
		margin: 0 auto;
		min-height:50px;
		text-align: left;
	/*	background-image: url("/global/images/bodyassets/body_bg.png");
		background-repeat:repeat-y;*/
	}
	/* overview page formatting */
	#ovcolumns {
		background-color:#ffffff;
		padding:0;
		margin: 0;
		min-height:50px;
		text-align: left;
	/*	background-image: url("/global/images/bodyassets/body_bg.png");
		background-repeat:repeat-y;*/
	}
	/* generic page formatting  */
	.verbarheader_padding,
	.vertbarfooter_padding { padding: 0 4px; }
	.contentpadding { padding: 0 10px; }
	.overviewcontentpadding { padding: 5px; }
	.tborderright { border-right: #dcdbdb 1px solid; }
	.toppadding { padding-top:100px; }
	.clearfix:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
	/*  Product overview comparison chart styles*/    
	#comparisonchart {
		width:980px;
	/*	margin-left:-0.1em;*/
	}
	#comparisonchart #ovheader { background-color:#494949; }
	#comparisonchart #ovheader th .lastcol {
		border:none;
		background-image: url("../global/images/products/background/bg_comparisonchartprod.jpg")/*tpa=http://www.wdc.com/global/images/products/background/bg_comparisonchartprod.jpg*/;
		background-repeat:repeat-x;
	}
	#comparisonchart td {
		padding:15px;
		border-right-width: 1pt;
		border-right-style: solid;
		border-right-color:#dcdbdb;
	}
	#comparisonchart td .lastcol { border-right:none; }
	.comparisontitle,
	.comparisontitle10,
	.comparisontitlegreen,
	.comparisontitlered,
	.comparisontitlesmall {
		line-height: 20pt;
		font-weight: bold;
		font-size: 13pt;
		color: #ffffff;
		background-color:#555555;  /* was #0066a4  */
		padding:5px;
		border:10px solid #414141;
	}
	.comparisontitle10 { font-size: 10pt; }
	.comparisontitlegreen {	background-color:#62ad44; }
	.comparisontitlered { background-color:#810618;	}
	.comparisontitlesmall {
		line-height: 16pt;
	    font-size: 10pt;
		background-color:#0066a4;	
	}
	.comparisonprod {
		border-right-width: 1pt;
		border-right-style: solid;
		border-right-color:#dcdbdb;
		background-image: url("../global/images/products/background/bg_comparisonchartprod.jpg")/*tpa=http://www.wdc.com/global/images/products/background/bg_comparisonchartprod.jpg*/;
		background-repeat:repeat-x;
	}
	.comparisonprodlastcol {
		background-image: url("../global/images/products/background/bg_comparisonchartprod.jpg")/*tpa=http://www.wdc.com/global/images/products/background/bg_comparisonchartprod.jpg*/;
		background-repeat:repeat-x;
	}
	.floatLeft{ float: left; }
	.floatRight{ float: right; }
	.colcenter { text-align: center; }
	.centered { text-align:center; }
/*   END Misc styles: LEGACY version   */
/*   START Misc styles: v5 version   */
	.contentpadding { padding: 0 10px; }
	.header_links_padding { padding: 0 4px; }
	.floatLeft{ float: left; }
	.floatRight{ float: right; }
/*   END Misc styles: v5 version   */
/*******************************************************************************/

/*   START PRODUCT TABS STYLES: LEGACY version   */
/*   START PRODUCT Line Card TABS STYLES: LEGACY version   */
/*   START PRODUCT White TABS STYLES: LEGACY version   */
	ul.tabs,
	ul.tabsLC,
	ul.tabswhite {
		margin: 0;
		padding: 0 5px;
		list-style: none;
		height: 32px; /*--Set height of tabs--*/
	}
	ul.tabs,
	ul.tabsLC {
		float: left;
		width: 100%;
	}
	ul.tabs li,
	ul.tabsLC li,
	ul.tabswhite li {
		float: left;
		margin: 0;
		padding: 0;
		height: 31px; /*--Subtract 1px from the height of the unordered list--*/
		line-height: 31px; /*--Vertically aligns the text within the tab--*/
	    color: #000;
		border-left: none;
		margin-bottom: -1px; /*--Pull the list item down 1px--*/
		position: relative;	
	}
	ul.tabsLC li { overflow: hidden; }
	ul.tabs li a,
	ul.tabsLC li a,
	ul.tabswhite li a {
		text-decoration: none;
		color: #000;
		display: block;
	    line-height: 20pt;
	    font-weight: bold;
	    font-size: 9pt;
	    color:#000000;
		padding: 0 10px;
		outline: none;
	}
	ul.tabs li a,
	ul.tabswhite li a  { line-height: 10pt; }
	ul.tabswhite li a { color:#ffffff; }
	ul.tabs li a:hover,
	ul.tabsLC li a:hover,
	ul.tabswhite li a:hover { color:#31b0ff; }
	html ul.tabs li.active, html ul.tabs li.active a:hover,html ul.tabs li.active a { /*--Makes sure that the active tab does not listen to the hover properties--*/
	    line-height: 10pt;
	    font-weight: bold;
	    font-size: 9pt;
	    color:#0065a4;
	}
	html ul.tabsLC li.active, html ul.tabsLC li.active a:hover,html ul.tabsLC li.active a { /*--Makes sure that the active tab does not listen to the hover properties--*/
	    line-height: 20pt;
	    font-weight: bold;
	    font-size: 9pt;
	    color:#0065a4;
	}
	html ul.tabswhite li.active, html ul.tabswhite li.active a:hover,html ul.tabswhite li.active a { /*--Makes sure that the active tab does not listen to the hover properties--*/
	    line-height: 10pt;
	    font-weight: bold;
	    font-size: 9pt;
	    color:#31b0ff;
	}
	.tab_container {
		border-top: none;
		overflow: hidden;
		clear: both;
		float: left; 
		width: 100%;
		background: #fff;
	}
	.tab_content {
		padding: 0;
		margin: 0;
		min-height:600px;
		/*background-image: url("/global/images/bodyassets/body_bg.png");
		background-repeat:repeat-y;*/
	}

	#bodyframe{
		padding: 0;
		margin: 0;
		text-align: left;
		background-color: #dedede;
		/*background-image: url("/global/images/bodyassets/body_bg.png");
		background-repeat:repeat-y;*/
	}
/*   END PRODUCT TABS STYLES: LEGACY version   */
/*   END PRODUCT Line Card TABS STYLES: LEGACY version   */
/*   END PRODUCT White TABS STYLES: LEGACY version   */

/*   START Container# styles: LEGACY version   */
	/*three columns*/
	#container3 { float: left; overflow: hidden; width:972px; padding-top:15px; background-image: url("../global/images/homepage/homepagecontentbg.jpg")/*tpa=http://www.wdc.com/global/images/homepage/homepagecontentbg.jpg*/; background-repeat:repeat-x;}
	#container3 div { float: left; width: 288px; margin-right: 5px;  margin-bottom: -2000px; padding-bottom: 2000px; padding-left:10px; padding-right:16px;}
	#container3 .col1 {  border-right: 1px solid #dcdbdb; }
	#container3 .col2 {  border-right: 1px solid #dcdbdb; }
	#container3 .col3 { margin-right: 0;}
	#container3 .textpadding{margin:0;padding-bottom:20px;}
	.container3 { float: left; overflow: hidden; width:972px; padding-top:15px; background: #fff; }
	.container3 div { float: left; width: 288px; margin-right: 5px;  margin-bottom: -2000px; padding-bottom: 2000px; padding-left:10px; padding-right:15px;}
	.container3 .col1,
	.container3 .col2 { border-right: 1px solid #c6c6c6; }
	.container3 .col1.nobrdr,
	.container3 .col2.nobrdr { border-right: none; }
	.container3 .col3 { margin-right: 0;}
	.container3 .col1 p,
	.container3 .col2 p,
	.container3 .col3 p {margin: 0; padding: 0; }
	.container3 .textpadding{ margin:0; padding-bottom:20px; }
	.container3 .lmlbuynow_wrapper { display: block; margin-top: 20px; padding: 0; height: 45px; }
	.container3 .lml_wrapper { float: right; text-align: right; width: 105px; margin: 8px 0 0 0; padding:0;}
	.container3 .mwdn_wrapper { float: right; text-align: right;  width: 180px; margin: 8px 0 0 0; padding:0;}
	.container3.graybkgd { background-color: #dedede; }
	.container3 .socialWrapper img { height: 31px; width: 30px; border: 0; margin: 5px 18px 18px 0; }
	/*four columns*/
	#container4 { float: left; overflow: hidden; width:975px;}
	#container4 div { float: left; background: #fff;  width: 218px; margin-right: 5px;  margin-bottom: -2000px; padding-bottom: 2000px;padding-left:10px;padding-right:10px;}
	#container4 .col1 {  border-right: 1px solid #dcdbdb; }
	#container4 .col2 { border-right: 1px solid #dcdbdb;}
	#container4 .col3 {  border-right: 1px solid #dcdbdb;}
	#container4 .col4 { margin-right: 0;}
	#container4 .textpadding{margin:0;padding-bottom:20px;}
/*   END Container# styles: LEGACY version   */

/*   START Column# styles: LEGACY version   */
	.column3HL,
	.column3,
	.column4HL,
	.column4,
	.column5 {
		float: left;
		width: 972px;
		margin: 0;
		padding: 0;
		list-style: none;
	}
	.column3,
	.column4,
	.column5 { background-color:#ffffff; }
	.column3HL li,
	.column3 li,
	.column3 li.thumbnail,
	.column3 li.thumbnaillast {
		float: left;
	  	width: 305px;
	  	padding-top: 15px;
	  	padding-left: 8px;
	  	padding-right: 8px;
		border-right: 1px solid #dcdbdb;
		/*margin-right: 0; margin-bottom: -2000px; padding-bottom: 2000px;*/
	}
	.column3 li {
		padding-top: 30px;
		min-height:150px;
	}
	.column3 li.thumbnail,
	.column3 li.thumbnaillast { padding-top: 0; }
	.column3 li.thumbnaillast { border-right: none;	}
	.column3 li.clearlast { clear: both; }
	.column4HL li,
	.column4 li {
		float: left;
		width: 220px;
		padding-top: 15px;
		padding-left: 8px;
		padding-right: 8px;
		min-height:100px;
		border-right: 1px solid #dcdbdb;
	}
	.column4 li { min-height:150px; }
	.column5 li{
		float: left;
	  	width: 175px;
	  	padding-top: 15px;
	  	padding-left: 8px;
	  	padding-right: 8px;
		border-right: 1px solid #dcdbdb;
		min-height:130px;  /* conflicting style; was min-height: 100px; --JD note */
	}
	.column3HL li.last,
	.column3 li.last,
	.column4HL li.last,
	.column4 li.last,
	.column5 li.last { border-right:none; }
/*   END Column# styles: LEGACY version   */

/*   START infotable styles: LEGACY version   */
	#infotable{
		padding: 20px;
		margin: 0;
		height: 200px;
		text-align: left;
		background-color: #F0F0F0;
		background-image: url("../global/images/products/background/bg_prodinfotable.png")/*tpa=http://www.wdc.com/global/images/products/background/bg_prodinfotable.png*/;
		background-repeat: no-repeat;
	}
	#infotable .columns {
		float: left;
		width: 980px;
		margin: 0;
		padding: 0;
		list-style: none;
	}
	#infotable .columns li {
		float: left;
		width: 325px;
	}
/*   END infotable styles: LEGACY version   */

/*   START prodhdr styles: LEGACY version   */
	.prodhdrbgwhite { background-color: #ffffff; }
	.prodhdrbgblack { background-color: #000000; }
	.prodhdrbgred { background-color: #7d0101; }
/*   END prodhdr styles: LEGACY version   */

/*   START Product Library styles: LEGACY version   */
/*   START Product catalog styles: LEGACY version   */
	.segmenttitle ,
	.libsegmenttitle {
		text-align: left;
		line-height: 34px;
		color: #fff;
		width: 750px;
		height: 37px;
		background-color: #ffffff;
		background-image: url("../global/images/bodyassets/bg_accordian.jpg")/*tpa=http://www.wdc.com/global/images/bodyassets/bg_accordian.jpg*/;
		background-repeat: repeat-x;
		padding: 0;
		margin: 0;
	}
	.segmenttitle {	width: 965px; }
	.productcattitle {
		font-weight:bold;
	    font-size: 12pt;
	    padding:0 0 0 10px;
	}
/*   END Product Library styles: LEGACY version   */
/*   END Product catalog styles: LEGACY version   */

/*******************************************************************************/
/*   START styles: LEGACY catch-all   */
	/* ======================================================= */
	/* JQuery toggle styles for carousel */
	/* ======================================================= */
	.arrowright {
		font-family: Arial, Helvetica, sans-serif;
		background-image: url("../global/images/arrows/arrowright.png")/*tpa=http://www.wdc.com/global/images/arrows/arrowright.png*/;
		background-repeat: no-repeat;
		background-position: center 20px;
		color: #FFFFFF;
		font-size: 12px;
		font-style: normal;
		font-weight: bold;
		padding: 0 0 0 0;
		height:40px;
	}
	.arrowdown {
		font-family: Arial, Helvetica, sans-serif;
		background-image: url("../global/images/arrows/arrowdown.png")/*tpa=http://www.wdc.com/global/images/arrows/arrowdown.png*/;
		background-repeat: no-repeat;
		background-position: center 25px;
		color: #FFFFFF;
		font-size: 12px;
		font-style: normal;
		font-weight: bold;
		padding: 3px 0 0 0;
		height:40px;
	}
	.arrowup {
		font-family: Arial, Helvetica, sans-serif;
		background-image: url("../global/images/arrows/arrowup.png")/*tpa=http://www.wdc.com/global/images/arrows/arrowup.png*/;
		background-repeat: no-repeat;
		background-position: center 25px;
		color: #FFFFFF;
		font-size: 12px;
		font-style: normal;
		font-weight: bold;
		padding: 3px 0 0 0;
		height:40px;
	}
	.arrowdownGRN_border {
		background-image: url("../global/images/arrows/arrowupdownGRN.png")/*tpa=http://www.wdc.com/global/images/arrows/arrowupdownGRN.png*/;
		background-repeat: no-repeat;
		background-position: center top;
		height:9px;
		border-right: #dcdbdb 1px solid;
	}
	.arrowdownGRN {
		background-image: url("../global/images/arrows/arrowupdownGRN.png")/*tpa=http://www.wdc.com/global/images/arrows/arrowupdownGRN.png*/;
		background-repeat: no-repeat;
		background-position: center top;
		padding: 0;
		height:9px;
	}

	.sitemapPadding { padding: 4px 0; }

	.tooltipWIH {
		display:none;
		font-size:12px;
		height:70px;
		width:160px;
		padding:25px;
		color:#fff;
	}
	.rowheightOV { height:10px; }


	/* Feature tab styles*/
	.featurespadding { padding: 0 10px; }

	/* Compatibility styles */
	#Result { cursor: pointer; }
	.styled-select select {
		/* background: transparent;*/
		padding: 5px;
		font-size: 14px;
		line-height: 1;
		/* border: 0;
		border-radius: 0;*/
		/*   height: 32px;
		-webkit-appearance: none;*/
	}
	.styled-select {
	/*
		height: 32px;
		overflow: hidden;
		background: url(/global/images/buttons/new_arrow.png) no-repeat right #ddd;
		border: 1px solid #ccc;
	*/
	}
	.wide {
		min-width: 25%;
		background-color: #E5E5E5;
		padding:10px;
	}
	#compatibilitybox {}
	.boxed {
		padding-top:4px;
		padding-left:8px;
		padding-right:8px;
		padding-bottom:8px;
		height:100%;
		clear: both;
		float: left;
		background-color: #E5E5E5;
		border: 1px solid #D6D6D6 ;
	}
	#wdlist { padding-top:10px; }
/*   END styles: LEGACY catch-all   */
/*******************************************************************************/

/*   START Feature styles: LEGACY version   */
	.featureContentWrapper,
	.featurebody,
	.featurerow,
	.featurebodyfixed,
	.featurerowfixed { width: 100%; }
	.featurebodyfixed { width: 100%; }
	.featurerowfixed { width: 100%; }
	.featureContentWrapper { padding: 40px 0 20px 0; }
	.featurefloatright { float: right; }
	.featurefloatleft { float: left; }
	.featureclearfloat { clear: both; }
	.featurefloatrightfixed {
		padding-right: 10px;
		float: right;
		width: 48%;
	}
	.featurefloatleftfixed {
		padding-left: 10px;
		float: left;
		width: 48%;
	}
	.featureonecolumnfixed {
		padding: 0 10px;
		width: 100%;
	}
/*   END Feature styles: LEGACY version   */

/*   START forms styles: LEGACY version   */
	.formH .button, .formH .button:visited, .formV .button, .formV .button:visited { padding: 5px 10px; display: inline; border: none; color: #fff; cursor: pointer; font-weight: bold; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
	.formH .button:hover, .formV .button:hover { text-decoration: none; }
	.formH .button:active, .formV .button:active { position: relative; padding: 6px 10px 4px; }
	.formH .button.gray, .formV .button.gray { background-color: #666; }
	.formH .button.gray:hover, .formV .button.gray:hover { background-color: #ccc; }

	.formH, .formV { width: 513px; padding: 0px; display: block; clear: both; }
	.formH input[type='text'], .formH select, .formH textarea,
	.formV input[type='text'], .formV select, .formV textarea { padding: 3px 5px 3px 5px; color: #555; border: #cecece solid 1px; }
	
	.formH span { margin: 13px 5px 0px 5px; float: left; width: 160px; font-style: normal; }
	.formH input[type='text'] { margin-top: 10px; float: left; width: 331px; height: 21px; }
	.formH select { margin-top: 10px; float: left; width: 342px; height: 28px; }

	.formV span { margin: 13px 5px 0px 0px; display: block; width: 500px; font-style: normal; }
	.formV input[type='text'] { margin-top: 5px; display: block;  width: 501px; height: 21px; }
	.formV select { margin-top: 5px; display: block; width: 512px; height: 28px; }
	.formV textarea { margin-top: 5px; display: block; width: 501px; height: 100px; }

	.display_none { display: none; }
	.formH input.error, .formV input.error { border: solid 1px red!important; }
	.formH label.error, .formV label.error { color: Red; margin-left: 170px; }
/*   END forms styles: LEGACY version   */



/*============================================================================*/
/* New Design - Carousel styles */
/* active styles: used in index.html --JD */
/*============================================================================*/
    #bxslider-wrapper {
        margin: 0 auto;
    }
	.bx-wrapper {
	    margin: 0 auto;
	    max-width: 1419px; 
	}
	.bx-wrapper .bx-viewport {
	    box-shadow: none;
	    -webkit-box-shadow: none;
	    -moz-box-shadow: none;
	    border: 0;
	    left: 0;
	}
	#bxslider li {
	    height:503px; 
	    overflow: hidden;
	    background-repeat: no-repeat;
	    background-position: center 0;
	}
	#bxslider li.biu {
	    height: 280px;
	}
	#bxslider li .article-wrapper {
        max-width: 980px;
        margin: 0 auto;
	}
	#bxslider li article {
	    width: 300px;
	    text-align: left;
	    color: #FFF;
	    padding: 20px 30px 50px 30px;
        background: url(../global/images/overlay/bkg_overlay_blk.png)/*tpa=http://www.wdc.com/global/images/overlay/bkg_overlay_blk.png*/;
	    margin-top: 3%;
	    margin-left: 17px;
	}
	#bxslider li .button {
	    position: relative;
		font-size: 13px;
		padding: 9px 15px;
		background-color: #0069a3;
		color: #fff;
	    font-weight: bold;
	    top: 15px;
	}
	#bxslider li h1 {
	    margin-bottom: 15px;
	}
	.bx-wrapper .bx-pager.bx-default-pager a {
	    height: 11px !important;
	    width: 11px !important;
	    border: 1px solid #B8C4CF;
	    color: #B8C4CF;
	    background: transparent;
	    border-radius: 6px;
	    -moz-border-radius: 6px;
	    -webkit-border-radius: 6px;
	}
	.bx-wrapper .bx-pager {
	    position: absolute;
	    padding: 0;
	    left: 50%;
	    margin-left: -61px;
	    bottom: 14px;
	}
	.bx-wrapper .bx-controls-direction a {
	    z-index: 400;
		top: 47%;
	    margin-top: -58px;
		width: 50px;
		height: 141px;
	    display: none;
	}
	.bx-wrapper .bx-pager.bx-default-pager a:hover,
	.bx-wrapper .bx-pager.bx-default-pager a.active {
	    background: #B8C4CF !important;
	}
/*============================================================================*/
/* New Design - Home grid v1 */
/* active styles: used in index.html --JD */
/*============================================================================*/
/*
#home-grid-wrapper { width: 100%;}
#home-grid {
	max-width: 1419px;
	margin: 0 auto;
}
#home-grid .box {
	position: relative;
    float: left;
    overflow: hidden;
    width: 25%;
    height: 285px; 
}
@media screen and (max-width: 850px) {
	#home-grid .box {
		position: relative;
	    float: left;
	    overflow: hidden;
	    width: 50%;
	    height: 285px; 
	}
}
#home-grid .box .content {
	text-align: left;
    position: absolute;
    z-index: 5;
    padding: 0 30px;
    color: #FFF;
	font-size: 10pt; 
}
#home-grid .box .content a.link { color: #FFF; }
#home-grid .box .content h2 {
    font-size: 32px;
    margin-bottom: 10px;
    color: #FFF;
}
#home-grid .content.dark {
    color: #000;
    right: inherit;
}
#home-grid .box .content.dark h2 { color: inherit; }
#home-grid .box .content.dark a.social_icon {
    float: left;
    margin: 10px 10px 0 0;
}
#home-grid .layer {
	position: absolute;
    background-color: #eaeaea;
    width: 100%;
    height: 100%;
}
#home-grid .layer .under,
#home-grid .layer .over{
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    width: 490px;
    height: 285px;
}
#home-grid .layer .bkg {
    background: -moz-linear-gradient(-45deg,  rgba(62,124,199,0.8) 0%, rgba(11,74,158,0.8) 93%, rgba(11,74,158,0.8) 100%); 
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(62,124,199,0.8)), color-stop(93%,rgba(11,74,158,0.8)), color-stop(100%,rgba(11,74,158,0.8))); 
    background: -webkit-linear-gradient(-45deg,  rgba(62,124,199,0.8) 0%,rgba(11,74,158,0.8) 93%,rgba(11,74,158,0.8) 100%);
    background: -o-linear-gradient(-45deg,  rgba(62,124,199,0.8) 0%,rgba(11,74,158,0.8) 93%,rgba(11,74,158,0.8) 100%); 
    background: -ms-linear-gradient(-45deg,  rgba(62,124,199,0.8) 0%,rgba(11,74,158,0.8) 93%,rgba(11,74,158,0.8) 100%); 
    background: linear-gradient(135deg,  rgba(62,124,199,0.8) 0%,rgba(11,74,158,0.8) 93%,rgba(11,74,158,0.8) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc3e7cc7', endColorstr='#cc0b4a9e',GradientType=1 ); 

    position: absolute;
    width: 490px;
    height: 285px;
    z-index: 2;
    -webkit-opacity: 0;
	-moz-opacity: 0;
	opacity: 0;
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    transition: all 0.20s ease-in-out;
}
#home-grid .layer .over {
   	-webkit-opacity: 0;
	-moz-opacity: 0;
	opacity: 0;
    z-index: 1;
}
#home-grid .content .link,
#home-grid .content p {
    display: none;
}
#home-grid .content a.show{
    text-decoration:underline;
}
*/
/*============================================================================*/
/* New Design - Home grid v2 */
/* active styles: used in index.html --JD */
/*============================================================================*/
#home-grid-wrapper { width: 100%;}
#home-grid_v2 {
	max-width: 1419px;
	margin: 0 auto;
	border-top: 2px solid #ffffff;
	border-bottom: 2px solid #ffffff;
}
#home-grid_v2 .box {
    background-color: #ffffff;
	position: relative;
    float: left;
    overflow: hidden;
    height: 260px; 
    border-bottom: 2px solid #ffffff;
}
#home-grid_v2 .box.cell { width: 24.6% }
#home-grid_v2 .box.cell.cell-4 { width: 25% }
#home-grid_v2 .box.brdr { width: 0.4% }

@media screen and (max-width: 850px) {
	#home-grid_v2 .box.cell { width: 49.8%; }
	#home-grid_v2 .box.cell.cell-4 { width: 49.8% }
    #home-grid_v2 .box.brdr-2 { clear: both; width: 0; }
}

#home-grid_v2 .box .content {
	text-align: left;
    position: absolute;
    z-index: 5;
    padding: 0 20px;
    color: #FFF;
	font-size: 10pt; 
}
#home-grid_v2 .box .content h2 {
    font-size: 16pt; 
    color: #FFF;
}
#home-grid_v2 .box .content h3 { margin-bottom: 8px; }
#home-grid_v2 .content.dark {
    width: 90%;
    color: #000;
    right: inherit;
    padding: 0 0 0 20px;
}
#home-grid_v2 .box .content.dark h2 { color: inherit; font-size: 11pt; margin-bottom: 7px; }
#home-grid_v2 .box .content.dark a.social_icon {
    float: left;
    margin: 0 7px 7px 0;
}
#home-grid_v2 .box .content.dark a.social_icon img {
    width: 30px;
    height: 30px;
}
#home-grid_v2 .layer {
	position: absolute;
    background-color: #eaeaea;
    width: 100%;
    height: 100%;
}
#home-grid_v2 .layer .under{
    position: absolute;
    left: 0;
    top: 0;
    width: 490px;
    height: 285px;
}
#home-grid_v2 .content a.social_link {
    display: inline-block;
    padding: 7px 0;
    font-size: 10pt;
}


/*============================================================================*/
/* New Design - Shared styles */
/*============================================================================*/

	section#productdetailtop_v5 h1 {
		font-size: 24px;
		color: #000;
		font-weight: normal;
		line-height: 65px;
		margin-left: 10px;
	}
	ul.cabinet {
		height: 30px;
		line-height: 30px;
		position: absolute;
		left: 0;
		bottom: 0;
	}
	ul.cabinet li.tab {
		height: inherit;
		line-height: inherit;
		width: 164px;
		float: left;
		margin-left: 3px;
		background-color: #c6c6c6;
		text-transform: uppercase;
		font-weight: bold;
		cursor: pointer;
		text-align: center;
		position: relative;
	}
	ul.cabinet li.tab.selected,
	ul.cabinet li.tab:hover,
	ul.cabinet li.tab:hover a {
		background-color: #fff;
		color: #0069a3;
	}
	ul.cabinet li.tab a {
		color: #4D4C4C;
		width: 100%;
		height: 100%;
		display: block;
	}
	h2 {
		font-size: 20px;
		color: #000;
		margin-top: 20px;
	}
	ul.row li.cell div.teaser img.thumb,
	div.info img.thumb {
		display: block;
		margin: 0 auto;
	}
    div.info_v2 img.thumb {
        display: block;
        margin: 0 auto;
    }
    table.data-table {
	    width: 100%;
	    text-align: center;
	    border-spacing: 0;
	    border-collapse: separate;
    }
    table.data-table td {
	    font-size: 14px;
	    color: #000;
	    line-height: 23px;
	    text-align: center;
    }
    table.data-table tr.even {
	    background-color: #ececec;
    }
    table.data-table tr:first-child {
	    border-bottom: 1px #000 solid;
    }
    table.data-table tr:first-child td {
	    font-size: 18px;
	    border-bottom: 1px #a4a4a4 solid;
    }
    table.data-table tr.icons:first-child {
	    background-color: #a4a4a4;
    }
    table.data-table tr.icons:first-child td {
	    padding: 65px 0 10px;
	    color: #fff;
	    border-bottom: none;
    }
	.grid {
		display:table;
		width: 100%;
	}
	.grid ul.row {
		display:table-row;
	}
	.grid li.cell {
		display:table-cell;
		vertical-align: middle;
	}
	.grid li.cell div.product-outer {
		height: auto;
		width: 100%;
		margin: 0 auto;
		border-left: 1px solid #c6c6c6;
	}
	.grid li.cell:first-child div.product-outer {
		border-left: none;
	}
	.grid li.cell div.product-inner {
		height: inherit;
		width: 286px;
		margin: 0 auto;
		position: relative;
	}
	.grid li.cell:first-child div.product-inner {
		margin: 0 auto 0 0;
	}
	.grid li.cell:last-child div.product-inner {
		margin: 0 0 0 auto;
	}
	.grid li.cell:first-child {
		/* width: 316px; */
	}
	.grid li.cell:last-child {
		/* width: 316px; */
	}
	.grid li.cell div.product-inner div.teaser {
		position: relative;
	}
    hr {
        background-color: #000;
        height: 1px;
        border: none;
        margin: 20px 0;
    }
/*============================================================================*/
/* New Design - Product List styles */
/* active styles: used in compare.html --JD */
/* inactive styles: used in products.html --JD */
/*============================================================================*/
	section#productdetailtop_v5.product-categories {
		margin-top:1px;
		height: 100px;
		background: url('../global/images/misc/tab_bg_01.jpg')/*tpa=http://www.wdc.com/global/images/misc/tab_bg_01.jpg*/ no-repeat center center;
		position: relative;
	}
	section#productdetailtop_v5.product-categories h1 {
		color: #fff;
	}
	/*
	div#product-catalog div.grid li.cell div.product-inner div.teaser div.highlights {
		font-size: 14px;
		color: #5c5c5c;
		line-height: 23px;
	}
	div#product-catalog div.grid li.cell div.product-inner div.teaser div.highlights ul {
		margin: 20px 0;
	}
	div#product-catalog div.grid li.cell div.product-inner div.teaser div.highlights li {
		list-style-type: square;
		list-style-position: inside;
	}
	div#product-catalog div.grid li.cell div.product-inner div.teaser h3 {
		text-align:center;
	}
	div#product-catalog hr {
		color:#666666;
		background-color:#fff;
		width: 980px;
		height:25px;
	    background: -moz-linear-gradient(top,  rgba(169,169,169,1) 0%, rgba(255,255,255,0.08) 92%, rgba(255,255,255,0) 100%);
	    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(169,169,169,1)), color-stop(92%,rgba(255,255,255,0.08)), color-stop(100%,rgba(255,255,255,0)));
	    background: -webkit-linear-gradient(top,  rgba(169,169,169,1) 0%,rgba(255,255,255,0.08) 92%,rgba(255,255,255,0) 100%);
	    background: -o-linear-gradient(top,  rgba(169,169,169,1) 0%,rgba(255,255,255,0.08) 92%,rgba(255,255,255,0) 100%);
	    background: -ms-linear-gradient(top,  rgba(169,169,169,1) 0%,rgba(255,255,255,0.08) 92%,rgba(255,255,255,0) 100%);
	    background: linear-gradient(to bottom,  rgba(169,169,169,1) 0%,rgba(255,255,255,0.08) 92%,rgba(255,255,255,0) 100%);
	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9a9a9', endColorstr='#00ffffff',GradientType=0 );
		border: none;
		margin: 30px 0 20px;
	}
	div#product-catalog {
		margin-bottom: 60px;
	}
	*/
/*============================================================================*/
/* New Design - Product Detail styles */
/* active styles: used in product-detail.html --JD */
/*============================================================================*/
	section#productdetailtop_v5.product-header {
		margin-top:3px; /* was 1px */
		height: 493px; 
		width: 980px;
		position: relative;
		overflow: hidden;
	}
	section#productdetailtop_v5 img.bkgd {
		position: absolute;
		z-index: 0;
	}
    section#productdetailtop_v5.product-header div.product-detail-title {
        position: relative;
        width: 950px;
        height: 60px;
        text-align: left;
        padding-left: 18px;
        clear: both;
        z-index: 1;
    }
	section#productdetailtop_v5.product-header div.info,
	section#productdetailtop_v5.product-header div.info_v2 {
		position: absolute;
        padding: 35px 25px 0 25px;
        background: url('../global/images/misc/white_opacity.png')/*tpa=http://www.wdc.com/global/images/misc/white_opacity.png*/;
        height: 100%;
        width: auto;
    }
	section#productdetailtop_v5.product-header div.info_v2 {
        right: 0;
    }
	section#productdetailtop_v5.product-header div.info h1,
	section#productdetailtop_v5.product-header div.info_v2 h1 {
		font-size: 30px;
	    font-weight: bold;
	    line-height: 32px;
        margin:10px 0;
    }
    section#productdetailtop_v5.product-header div.product-detail-title h1 {
	    margin: 0 0 0 2px;
	    padding: 3px 0px 0px 0px;
	    color: #474747;
        line-height: 14pt;
        font-weight: normal;
        font-size: 13pt;
        text-decoration: none;
    }
    section#productdetailtop_v5.product-header div.product-detail-title h2,
    section#productdetailtop_v5.product-header div.product-detail-title h3 {
	    color: #474747;
        line-height: 32px;
        font-weight: bold;
        font-size: 30px;
	    margin: 0;
    }
	section#productdetailtop_v5.product-header div.info div.align-left,
	section#productdetailtop_v5.product-header div.info_v2 div.align-left {
		padding:10px 0 0 10px;
		font-size: 14px;
		line-height: 23px;
	}
    section#productheadertop.product-header div#seleceted-product {
        padding-top: 240px; /* was 200px */
        background-position: 38px 40px; /* was center 40px */
        background-repeat: no-repeat;
    }
	div#product-detail div.parent.tab-container {
        /* was just div.tab-container */
		background-color: #0066a1;
	}
	div#product-detail div.tab-table {
		display: table;
		margin: 0 auto;
		background-color:#ffffff;
	}
	div#product-detail div.tab-container ul.cabinet {
		height: 46px;
		line-height: 46px;
		position: relative;
		display: table-row;
		vertical-align: bottom;
	}
	div#product-detail div.tab-container ul.cabinet li.tab {
		width: auto;
		float: none;
		margin-left: 0;
		background-color: #0066a1;
		color: #fff;
		text-transform: none;
		font-weight: normal;
		display: table-cell;
		font-size: 16px;
		padding: 0 20px;
		position: relative;
		*float: left;
		vertical-align: middle;
		line-height: 18px;
	}
	div#product-detail div.tab-container ul.cabinet li.tab .caret-item {
	    display: table-cell;
        vertical-align: middle;
        padding: 10px 0;
	}
	div#product-detail div.tab-container ul.cabinet li.tab.selected div.caret,
	div#product-detail div.tab-container ul.cabinet li.tab:hover div.caret,
	div#product-detail div.parent.no-child.tab-container ul.cabinet li.tab.selected div.caret,
	div#product-detail div.parent.no-child.tab-container ul.cabinet li.tab:hover div.caret  {
		position: absolute;
		left: 50%;
		margin-left: -12px;
		bottom: 0;
		width: 24px;
		height: 11px;
		background-image: url('../global/images/misc/tab_arrow.png')/*tpa=http://www.wdc.com/global/images/misc/tab_arrow.png*/;
		background-position: 24px 0;
	}
    div#product-detail div.tab-container ul.cabinet li.tab.selected div.caret.sub,
    div#product-detail div.tab-container ul.cabinet li.tab:hover div.caret.sub,
    div#product-detail div.parent.no-child.tab-container ul.cabinet li.tab.selected div.caret.sub,
    div#product-detail div.parent.no-child.tab-container ul.cabinet li.tab:hover div.caret.sub  {
	    background-image: url('../global/images/misc/tab2_arrow.png')/*tpa=http://www.wdc.com/global/images/misc/tab2_arrow.png*/;
    }
    div#product-detail div.parent.tab-container ul.cabinet li.tab.selected div.caret,
    div#product-detail div.parent.tab-container ul.cabinet li.tab:hover div.caret,
    div#product-detail div.parent.tab-container ul.cabinet li.tab.selected div.caret.sub,
    div#product-detail div.parent.tab-container ul.cabinet li.tab:hover div.caret.sub {
	    background-position: 0 0;
    }
	div#product-detail div.child.tab-container {
		background-color: #dedede;
	}
	div#product-detail div.child.tab-table {
		display: none;
	}
	div#product-detail div.child.tab-container ul.cabinet li.tab {
		background-color: #dedede;
		/* padding: 0 40px; */
		color: #000;
		border-left: 2px solid #FFF;
	}
	div#product-detail div.child.tab-container ul.cabinet li.tab:first-child {
		border-left: none;
	}


	div#product-detail .highlightsbars .bluetxt {color: #0069a3;}
	div#product-detail .highlightsbars .htitlebar { width: 100%; height: 59px; position: relative; background-color: #f1f1ef; padding-top: 9px; }
	div#product-detail .highlightsbars .htitlebar h4 { font-weight: bold; font-size: 22pt; padding: 0; margin: 16px 0 0 0;}
	div#product-detail .highlightsbars .htitlebar h4.left { float: left; margin-left: 140px; }
	div#product-detail .highlightsbars .htitlebar h4.right { float: right; text-align: right; margin-right: 165px; }
	div#product-detail .highlightsbars .htitlebar div.vsicon2 { height: 50px; width: 160px; border-radius: 25px; background-color: #464648; font-size: 12pt; color: white; position: absolute; left: 404px; }
	div#product-detail .highlightsbars .htitlebar div.vsicon2 span { display: block; padding: 15px 14px;}
	div#product-detail .highlightsbars .htitlebar div.vsicon { height: 50px; width: 50px; border-radius: 25px; background-color: #464648; font-size: 18pt; color: white; position: absolute; left: 454px; }
	div#product-detail .highlightsbars .htitlebar div.vsicon span { display: block; padding: 15px 10px;}
	div#product-detail .highlightsbars .hband { width: 100%; }
	div#product-detail .highlightsbars .hband p { margin: 5px 0; }
	div#product-detail .highlightsbars .hband .highheader { font-weight: bold; font-size: 18pt; margin-top: 15px; }
	div#product-detail .highlightsbars .hband.alt { background-color: #f1f1ef; }
	div#product-detail .highlightsbars .hband .leftcol, 
	div#product-detail .highlightsbars .hband .rightcol { padding-left: 48px; padding-bottom: 10px;padding-top: 10px; }
	div#product-detail .highlightsbars .hband .leftcol { float: left; width: 386px; padding-right: 44px; }
	div#product-detail .highlightsbars .hband .rightcol { float: right; width: 395px; padding-right: 56px; border-left: 3px solid #dbdbdb;}
	div#product-detail .highlightsbars .hband a, 
	div#product-detail .highlightsbars .hband a:hover { color: white; text-decoration: none; font-size: 9pt; }
	div#product-detail .highlightsbars .lrn { display: inline-block; padding: 14px; background-color: #0069a3; float: right; margin: 19px 40px; }

	div#product-detail .hlb2 .bluetxt {color: #0069a3;}
	div#product-detail .hlb2 .htitlebar { width: 100%; height: 59px; background-color: #f1f1ef; position: relative; padding-top: 6px; }
	div#product-detail .hlb2 .htitlebar h4 { font-size: 22pt; padding: 0; margin: 16px 0 0 0;}
	div#product-detail .hlb2 .htitlebar h4.left { font-weight: normal; color: #818181; float: left; margin-left: 140px; }
	div#product-detail .hlb2 .htitlebar h4.right { font-weight: bold; float: right; text-align: right; margin-right: 165px; }
	div#product-detail .hlb2 .htitlebar div.vsicon2 { height: 50px; width: 150px; border-radius: 25px; background-color: #464648; font-size: 12pt; color: white; position: absolute; left: 404px; }
	div#product-detail .hlb2 .htitlebar div.vsicon2 span { display: block; padding: 15px 14px;}
	div#product-detail .hlb2 .htitlebar div.vsicon { height: 50px; width: 50px; border-radius: 25px; background-color: #464648; font-size: 18pt; color: white; position: absolute; left: 454px; }
	div#product-detail .hlb2 .htitlebar div.vsicon span { display: block; padding: 15px 10px;}
	div#product-detail .hlb2 .hband { width: 100%; }
/*	div#product-detail .hlb2 .hband.bkgdtile { background-image: url('../global/images/misc/bkgd_mycloudcomp.jpg');} */
	div#product-detail .hlb2 .hband p { margin: 5px 0; }
	div#product-detail .hlb2 .hband .leftcol { float: left; padding: 10px 0 10px 48px; width: 480px; }
	div#product-detail .hlb2 .hband .rightcol { float: left; padding: 10px 0; width: 450px; }
	div#product-detail .hlb2 .hband .leftcol .pagetitle { color: #818181; }	
    div#product-detail .hlb2 .hband .leftcol .col1line { height: 61px; width: 438px; padding-right: 44px; border-bottom: 1px dotted #727272; margin-bottom: 20px; }
    div#product-detail .hlb2 .hband .rightcol .col1line { height: 61px; width: 345px; padding-right: 56px; border-bottom: 1px dotted #727272; margin-bottom: 20px; }
    div#product-detail .hlb2 .hband .leftcol .col2line { height: 81px; width: 438px; padding-right: 44px; border-bottom: 1px dotted #727272; margin-bottom: 20px; }
    div#product-detail .hlb2 .hband .rightcol .col2line { height: 81px; width: 345px; padding-right: 56px; border-bottom: 1px dotted #727272; margin-bottom: 20px; }
    div#product-detail .hlb2 .hband a, 
	div#product-detail .hlb2 .hband a:hover { color: white; text-decoration: none; font-size: 9pt; }
	div#product-detail .hlb2 .lrn { display: inline-block; padding: 14px; background-color: #0069a3; float: right; margin: 19px 40px; }




	/*
	div#product-detail div.product-info {
		display: table;
		height: 312px;
	}
	div#product-detail div.product-info article {
		display: table-cell;
		vertical-align: middle;
	}
	div#product-detail div.product-info article p {
		font-size: 14px;
		line-height: 23px;
		color: #000;
	}
    div#product-detail div.product-info article h2,
    div#product-detail div.product-info article p {
        margin: 0;
    }
    div#product-detail div.product-info.module {
        
    }
    div#product-detail div.product-info.module article {
        background: #d9d9d9;
        background: -moz-linear-gradient(top,  #d9d9d9 12%, #b8b8b8 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(12%,#d9d9d9), color-stop(100%,#b8b8b8));
        background: -webkit-linear-gradient(top,  #d9d9d9 12%,#b8b8b8 100%);
        background: -o-linear-gradient(top,  #d9d9d9 12%,#b8b8b8 100%);
        background: -ms-linear-gradient(top,  #d9d9d9 12%,#b8b8b8 100%);
        background: linear-gradient(to bottom,  #d9d9d9 12%,#b8b8b8 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9d9d9', endColorstr='#b8b8b8',GradientType=0 );
        position: relative;
    }
    div#product-detail div.product-info.module article > .caret {
        background-image: url('../global/images/misc/module_arrow.png');
        background-repeat: no-repeat;
        height: 27px;
        width: 10px;
        position: absolute;
        top: 12px;
    }
    div#product-detail div.product-info.module.content-left article > .caret {
        right:-10px;
        background-position: right top;
    }
    div#product-detail div.product-info.module.content-right article > .caret {
        left:-10px;
        background-position: left top;
    }
    div#product-detail div.product-info.module article h2 {
        background-color: #eeeeee;
        padding: 15px 20px;
        color: #474747;
    }
    div#product-detail div.product-info.module article p {
        padding: 10px 20px 0;
        color: #474747;
    }
    div#product-detail div.product-info.marquee {
        display: block;
    }
    div#product-detail div.product-info.marquee article {
        display: block;
        width: 308px;
        padding: 20px 0 0 30px;
    }
    div#product-detail div.product-info.marquee article h2,
    div#product-detail div.product-info.marquee article p {
        color: #fff;
    }
    */
    /*
	div#product-detail table.data-table tr.icons:first-child td.photos {
		background: url('../global/images/icons/icon_holds_photos.png') no-repeat center 10px;
	}
	div#product-detail table.data-table tr.icons:first-child td.hours {
		background: url('../global/images/icons/icon_holds_hours.png') no-repeat center 10px;
	}
	div#product-detail table.data-table tr.icons:first-child td.songs {
		background: url('../global/images/icons/icon_holds_songs.png') no-repeat center 10px;
	}
	div#product-detail table.data-table tr.icons:first-child td:first-child {
		font-size: 24px;
		vertical-align: middle;
		padding: 0;
	}
    */
    /*
	div#product-detail .grid ul.row {
		height: 200px;
	}
	div#product-detail .grid li.cell div.product-inner div.teaser {
		display: table;
	}
	div#product-detail .grid li.cell div.product-inner div.teaser li.cell:first-child {
		width: 150px;
	}
	div#product-detail .grid li.cell div.product-inner div.teaser img.thumb {
		margin-right: 10px;
	}
    */
    div#product-detail div.content-container h2 {
        line-height: 20pt;
        font-weight: bold;
        font-size: 16pt;
        color: #333333;
        margin: .83em 0;
    }
	section.related-products {
		margin-bottom: 60px;
	}
	section.related-products h2 {
		margin-bottom: 20px;
	}
/*============================================================================*/
/* New Design - Category styles */
/* inactive styles: used in products.html --JD */
/*============================================================================*/
	/*
	#product-category {
	    margin-bottom:60px;
	}
	#product-category .category-wrap {
	    width: 60%;
	    margin-bottom: 45px;
	}
	#product-category .category-wrap h2 {
	    margin-bottom: 10px;
	}
	#product-category h3 {
	    margin: 5px 0;
	    font-size: 14px;
	}
	#product-category ul li {
	    border-bottom: 1px solid #b2b2b2;
	    margin: 20px 0 25px;
	    padding: 10px 0 25px;
	}
	#product-category li.cell div.thumb {
	    width: 30%;
	    float: left;
	}
	#product-category li.cell div.content {
	    float: left;
	    width: 70%;
	    position: relative;
	}
	#product-category a.absolute.button {
	    position: absolute;
	    right: 0;
	    top: 0;
	    padding: 4px 15px;
	}
	#product-category ul.row li.cell .actions {
	    margin-top: 20px;
	}
	#product-category ul.row li.cell a.button {
	    margin-right: 15px;
	}
	*/
/*============================================================================*/
/* New Design - Compare styles */
/* active styles: used in compare.html --JD with Retsin */
/*============================================================================*/
	section#compareheadertop {
		margin-top:1px;
		height: 221px;
		width: 980px;
		position: relative;
	}
	section#compareheadertop img.bkgd {
		position: absolute;
		z-index: -1;
	}
	section#compareheadertop article {
		margin-left: 4%;
	    padding-top: 20px;
	    width: 335px;
	    font-size: 12px;
	}
	section#compareheadertop h1 {
		font-size: 23px;
		line-height: 24px;
	}

	section.compare {
		display:table;
		width: 100%;
	    margin-bottom: 60px;
	}
	section.compare p.footnote { margin: 10px; font-size: 8pt; color: #7f7d7d; }
	section.compare table { 
		width: 100%; 
		border-bottom: 2px solid #e5f0f6;
	}
	section.compare table tr {
	    vertical-align: middle;
	    color: #7f7d7d;
	}
	section.compare table th {
	    vertical-align: top;
	    padding: 10px;
	    text-align: center;
	}
	section.compare table th a {
	    color: #FFF;
	    font-weight: bold;
	    font-size: 14px;
	}
	section.compare table tr td { text-align: center; padding: 10px; border-left: 1px solid #cbd3d7; }
	section.compare table tr.nobrdr td { border: none !important; text-align: center; }
	section.compare table tr td img { margin: 2px; }
	section.compare table tr td:first-child {text-align: left; border-left: none !important; padding-left: 40px; }



    ul.truelist li { display: list-item; list-style: initial; margin-left: 40px; }
    ol.truelist li { display: list-item; list-style-type: decimal; margin-left: 40px; }
/*    table.trueparagraph p, div.trueparagraph p, section.trueparagraph p { margin: 13px 0; } */
/*    span.trueparagraph p { display: block; margin: 13px 0; } */

/*============================================================================*/
/* New Design - Datacenter styles */
/*============================================================================*/
#datacenter {
    max-width: 1419px;
    background: #2b2b2b;
    background: -moz-linear-gradient(top,  #2b2b2b 65%, #191919 93%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(65%,#2b2b2b), color-stop(93%,#191919));
    background: -webkit-linear-gradient(top,  #2b2b2b 65%,#191919 93%);
    background: -o-linear-gradient(top,  #2b2b2b 65%,#191919 93%);
    background: -ms-linear-gradient(top,  #2b2b2b 65%,#191919 93%);
    background: linear-gradient(to bottom,  #2b2b2b 65%,#191919 93%);
    padding-bottom: 120px;
    margin: 0 auto;
}
#datacenter h1,
#datacenter h2,
#datacenter h3 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: normal;
    color: #8c8c8c;
    font-size: 21px;
}
#datacenter h1 {
    font-size: 38px;
    margin: 10px 0 25px;
}
#datacenter .sand {
    color: #a4965d;
}
#datacenter .scale-fit {
    max-width: 100%;
    height: auto;
    display: block;
}
#datacenter .inner {
    position: relative;
}

#datacenter .inner .action {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    margin: 0 auto;
}
#datacenter .event .title {
    color: #737373;
    font-size: 16px;
    margin: 20px auto 10px;
}
#datacenter .event {
    margin-bottom: 20px;
}
#datacenter .event .plus {
    font-size: 22px;
    padding: 0 16px;
}
#datacenter section.title-block {
    padding: 50px 0 0;
    background-color: #191919;
}
#datacenter h2 {
    padding-top: 30px;
    border-top: 2px solid #a4965d;
    display: inline-block;
}
#datacenter h2.line:after,
#datacenter h2.line:before {
    content: ".";
    position: relative;
    top: -49px;
    left: -10px;
}
#datacenter h2.line:after {
    left: inherit;
    right: -10px;
}
#datacenter h2.no-line {
    padding-top: 0;
    border-top: 0 solid #a4965d;
}
#datacenter .content-block {
    max-width: 840px;
    margin: 0 auto;
}
#datacenter .content-block .text {
    color: #8b8469;
    font-size: 15px;
    line-height: 1.4em;
    max-width: 640px;
    margin: 0 auto;
    text-align: left;
    padding: 2em 10px;
}
#datacenter  .drives {
    padding: 15px 10px;
    color: #bdbdbd;
    width: 100%;
}
#datacenter  .drives .item {
    width: 32%;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    border-right: 2px solid #353535;
}
#datacenter  .drives .item:last-child {
    border-right:0 solid #353535;
}
#datacenter  .drives .item img {
    display: block;
    margin: 0 auto 25px;
}
#datacenter  .drives .item img.hd {
    margin-top: 25px;
    margin-bottom: 50px;
}
#datacenter .button {
    position: relative;
    font-size: 13px;
    color: #bdbdbd;
    border: 1px solid #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 3px 8px;
    background: #686868;
    background: -moz-linear-gradient(top,  #686868 36%, #363636 91%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(36%,#686868), color-stop(91%,#363636));
    background: -webkit-linear-gradient(top,  #686868 36%,#363636 91%);
    background: -o-linear-gradient(top,  #686868 36%,#363636 91%);
    background: -ms-linear-gradient(top,  #686868 36%,#363636 91%);
    background: linear-gradient(to bottom,  #686868 36%,#363636 91%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#686868', endColorstr='#363636',GradientType=0 );
}
#datacenter .button:hover {
    background: #645d41;
    background: -moz-linear-gradient(top,  #8b856c 36%, #645d41 91%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(36%,#8b856c), color-stop(91%,#645d41));
    background: -webkit-linear-gradient(top,  #8b856c 36%,#645d41 91%);
    background: -o-linear-gradient(top,  #8b856c 36%,#645d41 91%);
    background: -ms-linear-gradient(top,  #8b856c 36%,#645d41 91%);
    background: linear-gradient(to bottom,  #8b856c 36%,#645d41 91%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8b856c', endColorstr='#645d41',GradientType=0 );
}
#datacenter .button.arrow:after {
    content: url('../global/images/datacenter/arrow_btn.png')/*tpa=http://www.wdc.com/global/images/datacenter/arrow_btn.png*/;
    display: inline-block;
    position: relative;
    left: 4px;
    top: 3px;
}
#datacenter .button.arrow.play {
    padding: 5px 13px;
}
#datacenter .button.arrow.play:after {
    left: 1px;
}
#datacenter .justify {
    text-align: justify !important;
}