/*Ext.ux.Modal base styles*/
.hidden{ display:none !important;}
.modal-dialog-overlay {z-index:8086; position: fixed; width: 100%; top: 0; left: 0; height: 100%; zoom: 1;}
.curtain{
  z-index:8087;
  width:100%;
  height:100%;
  position:absolute;
  left:0;
  top:0;
  text-align:center;
  margin:0px auto;
  background:#000;
  -moz-opacity:.50; 
  opacity:.50;
  filter:alpha(opacity=50)
}
.fixed{
  position:fixed!important;
}
.modal-dialog-contents {font-family: Arial, verdana, sans-serif; font-size: 14px; color: #4c4c4c;}

.modal-dialog-contents a:link, .modal-dialog-contents a:visited {
	color: #095A90;
}
.modal-dialog-contents a:hover {
	text-decoration: underline;
}

.modal-dialog-viewport {
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=180, Color='#333333')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=180, Color='#333333');
	-moz-box-shadow: 0px 10px 10px #555;
	-webkit-box-shadow: 0px 10px 10px #555;
	box-shadow: 0px 10px 10px #555;
	position: absolute;
	z-index: 8088;	
}
.modal-dialog-viewport-rounded {
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=180, Color='#555')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=180, Color='#555');
	-webkit-box-shadow: 0px 0px 10px 2px #555;
	-moz-box-shadow: 0px 0px 10px 2px #555;
	box-shadow: 0px 0px 10px 2px #555;
	position: absolute;
	z-index: 8088;
}
.modal-dialog-viewport-rounded,
.modal-dialog-viewport-rounded .in-overlay {
	background: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.modal-dialog-buttons {position: absolute; top: 0; right: 0;}
.modal-dialog-buttons .close-btn a {
  width: 35px;
  height: 30px;
  background: #999 url('../../../images/EMC_Image_C_1294179768253_close-icon-modal.png')/*tpa=http://www.emc.com/R1/images/EMC_Image_C_1294179768253_close-icon-modal.png*/ no-repeat;
  position: relative;
  display: block;
  top: 10px;
  right: 10px;
  outline: 0;
  overflow: hidden;
  text-decoration: none;
}
.modal-dialog-buttons .close-btn-small a {
  width: 13px;
  height: 13px;
  background: #999 url('../../../images/EMC_Image_C_1306507921827_close-icon-small.png')/*tpa=http://www.emc.com/R1/images/EMC_Image_C_1306507921827_close-icon-small.png*/ no-repeat;
  position: relative;
  display: block;
  top: 8px;
  right: 8px;
  outline: 0;
  overflow: hidden;
  text-decoration: none;
}
.modal-dialog-overlay-button a span {visibility: hidden;}
.overlays {
	border-radius: 5px;
	-moz-border-radius: 5px;	
}
/*End Ext.EMC.ux.Modal base styles*/




/* My Account */
.modal-dialog-viewport { background: #fff }
.my-account-modal {
    padding: 15px 33px 42px 33px; 
}
.my-account-modal .my-account-title {
    margin-bottom: 18px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d9d9d9;
    color: #000;
    font-size: 18px;
}
.my-account-modal .my-account-data {
    background: url(../../../images/EMC_Image_C_1306507921805_my-account-avatar.png)/*tpa=http://www.emc.com/R1/images/EMC_Image_C_1306507921805_my-account-avatar.png*/ left top no-repeat;
    height: 130px;
    padding-left: 120px;
    font-size: 1.167em;
}
.my-account-modal .my-account-salute{
    padding-bottom: 18px;
}
.my-account-modal .my-account-profile-link {
    margin-left: 20px;
    font-size: 1.167em;
}
/* Loading */
.modal-dialog-contents .in-overlay .loading{
	background: url("../../../images/EMC_Image_C_1306518021523_loading.gif")/*tpa=http://www.emc.com/R1/images/EMC_Image_C_1306518021523_loading.gif*/ no-repeat scroll center 115px #FFFFFF;
    height: 800px;
    margin-top:22px;
    padding-top: 160px;
    position: relative;
    text-align: center !important;
    width: 581px;
    z-index: 50;
}
.modal-dialog-contents #logInLightbox-in-overlay .loading{
    width: 600px;
}

/* Profile */
	/*#profileLightbox{height:590px;}
	#profileLightbox-in-overlay{/*height:590px;*//*}*/

/**
    Please refer to button.ftl for HTML markup
**/
.my-account-modal .button { 
    display: inline-block; white-space: nowrap; height: 24px; cursor: pointer; text-align: center;
}

.my-account-modal .button .button-l { display: block; height: 24px;
    padding-left: 6px;
    background: url(../../../images/EMC_Image_C_1294179769662_button-corners.png)/*tpa=http://www.emc.com/R1/images/EMC_Image_C_1294179769662_button-corners.png*/ left top;
}

.my-account-modal .button .button-r {
    display: block;
    height: 24px;
    padding-right: 6px;
    background: url(../../../images/EMC_Image_C_1294179769662_button-corners.png)/*tpa=http://www.emc.com/R1/images/EMC_Image_C_1294179769662_button-corners.png*/ right top;
}
.my-account-modal .button .button-label {
    display: block;
    height: 24px;
    line-height: 24px;
    font-weight: bold;
    color: #fff;
    background: url(../../../images/EMC_Image_C_1294179769694_button-mid.png)/*tpa=http://www.emc.com/R1/images/EMC_Image_C_1294179769694_button-mid.png*/ left top repeat-x;
}

.my-account-modal .button .icon {
    display: block;
    text-align: left;
    padding-right: 30px;
}

/* icons */
.my-account-modal .button .open-window { background: url(../../../images/EMC_Image_C_1294179768349_open-window.gif)/*tpa=http://www.emc.com/R1/images/EMC_Image_C_1294179768349_open-window.gif*/ no-repeat right center; }

/* button variations */
.my-account-modal .button-blue .button-l { background: url(../../../images/EMC_Image_C_1294179769628_button-blue-corners.png)/*tpa=http://www.emc.com/R1/images/EMC_Image_C_1294179769628_button-blue-corners.png*/ left top; }
.my-account-modal .button-blue .button-r { background: url(../../../images/EMC_Image_C_1294179769628_button-blue-corners.png)/*tpa=http://www.emc.com/R1/images/EMC_Image_C_1294179769628_button-blue-corners.png*/ right top;}
.my-account-modal .button-blue .button-label { text-transform: uppercase; padding: 0 10px; background: #1060b2 url(../../../images/EMC_Image_C_1294179769646_button-blue-mid.png)/*tpa=http://www.emc.com/R1/images/EMC_Image_C_1294179769646_button-blue-mid.png*/ left top repeat-x; }

.my-account-modal .button-gray .button-l { background: url(../../../images/EMC_Image_C_1294179769678_button-gray-corners.png)/*tpa=http://www.emc.com/R1/images/EMC_Image_C_1294179769678_button-gray-corners.png*/ left top; }
.my-account-modal .button-gray .button-r { background: url(../../../images/EMC_Image_C_1294179769678_button-gray-corners.png)/*tpa=http://www.emc.com/R1/images/EMC_Image_C_1294179769678_button-gray-corners.png*/ right top;}
.my-account-modal .button-gray .button-label { text-transform: uppercase; padding: 0 10px; background: #434343 url(../../../images/EMC_Image_C_1294179774589_button-gray-mid.png)/*tpa=http://www.emc.com/R1/images/EMC_Image_C_1294179774589_button-gray-mid.png*/ left top repeat-x; }

.my-account-modal .button-action .button-l { background: url(../../../images/EMC_Image_C_1306507121298_button-action-corners.png)/*tpa=http://www.emc.com/R1/images/EMC_Image_C_1306507121298_button-action-corners.png*/ left top no-repeat; }
.my-account-modal .button-action .button-r { background: url(../../../images/EMC_Image_C_1306507121298_button-action-corners.png)/*tpa=http://www.emc.com/R1/images/EMC_Image_C_1306507121298_button-action-corners.png*/ right top;}
.my-account-modal .button-action .button-label { text-transform: uppercase; padding: 0 10px; background: #a3a3a3 url(../../../images/EMC_Image_C_1306507121282_button-action-mid.png)/*tpa=http://www.emc.com/R1/images/EMC_Image_C_1306507121282_button-action-mid.png*/ left top repeat-x; color: #f9f9f9; }

.my-account-modal .button-disabled {cursor: default;}
.my-account-modal .button-disabled .button-l { background: url(Unknown_83_filename)/*tpa=http://www.emc.com/R1/assets/img/elements/button-disabled-corners.png*/ left top no-repeat; }
.my-account-modal .button-disabled .button-r { background: url(Unknown_83_filename)/*tpa=http://www.emc.com/R1/assets/img/elements/button-disabled-corners.png*/ right top;}
.my-account-modal .button-disabled .button-label { text-transform: uppercase; padding: 0 10px; background: #a3a3a3 url(Unknown_83_filename)/*tpa=http://www.emc.com/R1/assets/img/elements/button-disabled-mid.png*/ left top repeat-x; color: #999;}

/* hover state */
.my-account-modal .button:hover { text-decoration: none; background: none;}
.my-account-modal .button:hover .button-l { background-position: left bottom;}
.my-account-modal .button:hover .button-r { background-position: right bottom; }
.my-account-modal .button:hover .button-label { background-position: left bottom; }
.my-account-modal a.button-blue:hover .button-l,
.my-account-modal a.button-blue:hover .button-label,
.my-account-modal a.button-gray:hover .button-l,
.my-account-modal a.button-gray:hover .button-label,
.my-account-modal a.button-action:hover .button-l,
.my-account-modal a.button-action:hover .button-label{ background-position: left bottom;}

.my-account-modal a.button-blue:hover .button-r,
.my-account-modal a.button-action:hover .button-r,
.my-account-modal a.button-gray:hover .button-r {background-position: right bottom;}

/* Modal content */
.modal-dialog-viewport .modal-dialog-content-wrapper { margin: 30px }

/** KEEP HACKS AT THE END **/

/* ie6 hacks */
.x-ie6 .my-account-modal .button {
    display: inline;
    zoom: 1;
    width: 1%;
}

/* ie9 hacks, seriously */
.x-ie9 .my-account-modal .button,
.x-ie9 .my-account-modal .button .button-l,
.x-ie9 .my-account-modal .button .button-r {
    display: inline-block;
}