
<!--
body { 
  margin: 0px
}

.menudiv {
  background-color: white;
  line-height: 15px;
  padding: 6px;
}

a.menuitem {
  font-family: arial, helvetica, verdana, geneva;
  font-size: 11px;
  color: black;
  text-decoration: none;
}

a.menuitem:hover {
  text-decoration: underline;
}

div#menu_about {
  position:absolute;
  left: 229;
  top:28;
}
div#menu_investor {
  position:absolute;
  left: 295;
  top:28;
}
div#menu_products {
  position:absolute;
  left: 412;
  top:28;
}
div#menu_power {
  position:absolute;
  left: 544;
  top:28;
}
div#menu_media {
  position:absolute;
  left: 640;
  top:28;
}

div#menu_careers {
  position:absolute;
  left: 693;
  top:28;
}

-->




