<!--

body { 

  margin: 0px

}



p {

	font-family: arial, helvetica, verdana, geneva;

	font-size: 11px;

        line-height: 14px;

	text-decoration: none;

	font-color: black;

}



td {

	font-family: arial, helvetica, verdana, geneva;

	font-size: 11px;

        line-height: 14px;

	text-decoration: none;

	font-color: black;

}



small {

	font-family: arial, helvetica, verdana, geneva;

	font-size: 9px;

	text-decoration: none;

	font-color: black;

}

.smallText {

	font-family: arial, helvetica, verdana, geneva;

	font-size: 11px;

	text-decoration: none;

	font-color: black;
	
	line-height:100%;
	
	padding-top:5px;
	
	padding-bottom:5px;

}

.smallText a {

	font-family: arial, helvetica, verdana, geneva;

	font-size: 11px;

	text-decoration: none;

	font-color: black;
	
	line-height:100%;

}

.smallText a:hover {

	font-family: arial, helvetica, verdana, geneva;

	font-size: 11px;

	text-decoration: underline;

	font-color: black;
	
	line-height:100%;

}

ul {

	font-family: arial, helvetica, verdana, geneva;

	font-size: 11px;

	margin-left: 0px;

	padding-top: 0px;

	margin-top: 0px;

	padding-bottom: 0px;

	margin-bottom: 10px;

        padding-left: 15px;



}



li {

	font-family: arial, helvetica, verdana, geneva;

	font-size: 11px;

	line-height: 16px;

	margin-top: 10px;

}





h1 {

	font-family: arial, helvetica, verdana, geneva;

	font-size: 11.5px;

	font-weight: bold;

	margin-bottom: 0px;

	padding-bottom: 0px;

}



a {

	font-family: arial, helvetica, verdana, geneva;

	font-size: 11px;

	text-decoration: none;

        color: black;

}



a:hover {



	font-size: 11px;

	text-decoration: underline;

	color: black;

}



.plain {

	font-family: arial, helvetica, verdana, geneva;

	font-size: 11px;

	color: black;

	text-decoration: none;

}

	

.homesrch {

	background-color: white;

	height: 29px; 

	margin-bottom: 0px;

}



.hometextr {

	align: black;

	color: black;

	font-family: arial, helvetica, verdana, geneva;

	font-size: 10px;

	align: right;

	font-variant: small-caps;

	margin-top: 2px;

}



.hometextr a {

	color: black;

	text-decoration: none;

	font-variant: small-caps;

	font-size: 10px;

}



.hometextr a:hover {

	color: black;

	text-decoration: underline;

	font-variant: small-caps;

	font-size: 10px;

}



.hmleftmain {

	width: 456px;

	bgcolor: white;

}



.hmleftmaincontent {

	padding: 15px 0 0 0;

}


.hmleftmainimg {

	padding: 0 0 0 13px;

}



.hmleftmaintext {

	color: black;

	font-size: 11px;

	font-family: arial, helvetica, verdana, geneva;

	margin: 15px 0 20px 15px;

}



.hmrightmain {

	width: 304px;

	bgcolor: white;

}



.hmrightmaincontent {

	padding: 15px 0 0 0;

}



.hmrightmainimg {

	padding: 0 0 0 16px;

}



.hmrightmainimgbox {

	padding: 35px 0 0 10px;

	margin-left: 27px;

	margin-top: 15px;

	height: 90px;

	width: 259px;

	background-image: url("img/hm_powerplant_box.jpg")/*tpa=http://www.calpine.com/img/hm_powerplant_box.jpg*/;

	background-repeat: no-repeat;

}


.hmleftmainimgboxlg {

	padding: 35px 0 0 10px;

	margin-left: 0px;

	margin-top: 15px;

	height: 90px;

	width: 440px;

	background-image: url("img/hm_powerplant_box_lg.jpg")/*tpa=http://www.calpine.com/img/hm_powerplant_box_lg.jpg*/;

	background-repeat: no-repeat;

}


.hmrightmainimgboxtext {

	font-family: arial, helvetica, verdana, geneva;

	font-size: 11px;

	color: black;

	width: 225px;

}


.hmleftmainimgboxtext {

	font-family: arial, helvetica, verdana, geneva;

	font-size: 11px;

	color: black;

	width: 400px;

}



.hmrightmainimgboxtext img {

	margin-bottom: -3px;

	margin-top: 8px;

}


.hmleftmainimgboxtext img {

	margin-bottom: -3px;

	margin-top: 8px;

}



.hmrightmainimgboxtext a {

	font-family: arial, helvetica, verdana, geneva;

	font-size: 11px;

	color: black;

}



.hmrightmaintext {

	color: black;

	font-size: 11px;

	font-family: arial, helvetica, verdana, geneva;

	margin: 6px 15px 8px 25px;

}


.hmrightmaintext img {

	margin-bottom: -3px;

}


.breadsrch {

	background-color: #55739f;

	height: 29px; 

	margin-bottom: 0px;

}



.breadtextl {

	color: white;

	font-family: arial, helvetica, verdana, geneva;

	font-size: 11px;

	padding-left: 20px;

	padding-top: 6px;

	text-align: left;

	vertical-align: middle;

	float: left;

}



.breadtextl a {

	color: white;

	text-decoration: none;

}



.breadtextl a:hover {

	color: white;

	text-decoration: underline;

}



.breadtextr {

	align: right;

	color: white;

	font-family: arial, helvetica, verdana, geneva;

	font-size: 10px;

	float: right;

	font-variant: small-caps;

	margin-top: 2px;

}



.breadtextr a {

	color: white;

	text-decoration: none;

	font-variant: small-caps;

	font-size: 10px;

}



.breadtextr a:hover {

	color: white;

	text-decoration: underline;

	font-variant: small-caps;

	font-size: 10px;

}



.searchbox {

	height: 20px;

	width: 10px;

	border: 0px;

	font-family: Arial, Helvetica, verdana, geneva;

	font-size: 8px;

	font-weight: bold;

	color: #333333;

	vertical-align : middle;

	display: inline;

}



.searchinput {

	height: 15px;

	width: 120px;

	border-width: 1px;

	border-color: #ccc;

	font-family: Arial, Helvetica, verdana, geneva;

	font-size: 10px;

	font-weight: bold;

	color: #333333;

	display: inline;

	margin-top: 2px;

	margin-bottom: 3px;

}





.leftnavarea {

	width: 188px;

	background-color: white; 

	color: #585858;

	font-family: arial, helvetica, verdana, geneva;

	font-size: 11px;

	padding-top: 25px;

        padding-bottom: 25px;

	text-indent: 20px;

}



.leftnavarea a {

	font-family: arial, helvetica, verdana, geneva;

	font-size: 11px;

	text-indent: 20px;

	text-decoration: none;

	line-height: 4px;

}



.leftnavarea strong {

        font-weight: bold;

        color: #e99f2a;

        backgroundcolor: #92A5AB;

}





.leftnavarea a:hover {

	color: #585858;

	font-family: arial, helvetica, verdana, geneva;

	font-size: 11px;

	text-indent: 20px;

	text-decoration: underline; 

	line-height: 4px;

}	



.nav2 {

	color: #585858;

	font-family: arial, helvetica, verdana, geneva;

	font-size: 10px;

	text-decoration: none;

	padding-left: 10px;

	line-height: 2px;

}



.nav2 a {

	color: #585858;

	font-family: arial, helvetica, verdana, geneva;

	font-size: 10px;

	text-decoration: none;

	line-height: 2px;

}



.nav2 a:hover {

	color: #585858;

	font-family: arial, helvetica, verdana, geneva;

	font-size: 10px;

	text-decoration: underline;

	line-height: 2px;

}



.mainbodyarea {


	background-color: #eaeae5;

	color: #000000;

	font-family: arial, helvetica, verdana, geneva;

	font-size: 11px;

}



.mainbodyhead {

	width: 348px;

	align: right;

	margin: 0 0 0 0;

}



.mainbodytext {

	width: 348px;

	background-color: #eaeae5;

	color: #000000;

	font-family: arial, helvetica, verdana, geneva;

	font-size: 11px; 

	padding: 16px 0 16px 8px;

}



.mainbodytext a {

        color: #2f507f;

}



.mainbodytextwide {

	width: 529px;

	padding: 16px 0 16px 8px;

}



.mainbodytextwide a {

        color: #2f507f;

}





.mainbodytext p {

	color: #000000;

	font-family: arial, helvetica, verdana, geneva;

	font-size: 11px;

	line-height: 14px;

}



.mainbodyelement1 {

	padding: 0 0 0 16px;

	background-color: #eaeae5;

}



.mainbodyelement1 p {

	padding: 0 0 0 0;

	background-color: #eaeae5;

	width: 330px;

}



.mainbodyelement1 ul {

	font-family: arial, helvetica, verdana, geneva;

	font-size: 11px;

	line-height: 14px;

	margin-left: 15px;

}



.mainbodyelement1 li {

	font-family: arial, helvetica, verdana, geneva;

	font-size: 11px;

	line-height: 14px;

}



.mainbodyelement1 a {

	color: #1d4177;

	font-family: arial, helvetica, verdana, geneva;

	font-size: 11px;

	text-decoration: none;

}



.mainbodyelement1 a:hover {

	color: #1d4177;

	font-family: arial, helvetica, verdana, geneva;

	font-size: 11px;

	text-decoration: underline;

}



.mainbodyelement2 {

	padding: 0 0 0 4px;

	background-color: #eaeae5;

}



.rightcontentarea {

	width: 166px;

	background-color: #eaeae5; 

}



.rightcontenttext {

	font-size: 11px;

	align: left;

}



.rightcontenttext ul {

	font-family: arial, helvetica, verdana, geneva;

	font-size: 11px;

	list-style-image: url(img/down_icon.gif)/*tpa=http://www.calpine.com/img/down_icon.gif*/;

	margin: 0 0 0 0;

	padding: 0 0 0 0;

}



.rightcontenttext li {

	font-family: arial, helvetica, verdana, geneva;

	font-size: 11px;

	list-style-image: url(img/down_icon.gif)/*tpa=http://www.calpine.com/img/down_icon.gif*/;

	vertical-align: bottom;

	margin: 10px 0 0 0;

	padding: 0 0 0 5px;

}



.rightcontentemail ul {

	font-family: arial, helvetica, verdana, geneva;

	font-size: 10px;

	list-style-image: url(img/email_icon.gif)/*tpa=http://www.calpine.com/img/email_icon.gif*/;

	margin: 0 0 0 0;

	padding: 0 0 0 5px;

}

.rightcontentemail li {

	font-family: arial, helvetica, verdana, geneva;

	font-size: 10px;

	list-style-image: url(img/email_icon.gif)/*tpa=http://www.calpine.com/img/email_icon.gif*/;

	vertical-align: bottom;

	margin: 10px 10px 0 0;

	padding: 0 0 0 5px;

}



.rightcontenttext li a {

	text-decoration: none;

	color: black;

}



.rightcontenttext li a:hover {

	text-decoration: underline;

	color: black;

}



.rightcontentcontent {

	font-size: 11px;

	align: left;

}



.rightcontentcontent ul {

	font-family: arial, helvetica, verdana, geneva;

	font-size: 11px;

	list-style-image: url(img/arrow.gif)/*tpa=http://www.calpine.com/img/arrow.gif*/;

	margin: 0 0 0 0;

	padding: 0 0 0 0;

}



.faq ul {

	font-family: arial, helvetica, verdana, geneva;

	font-size: 11px;

	list-style-image: url(img/arrow.gif)/*tpa=http://www.calpine.com/img/arrow.gif*/;

	margin: 0 0 0 0;

	padding: 0 0 0 0;

        line-height: 12px;

} 



.faq li {

	list-style-image: url(img/arrow.gif)/*tpa=http://www.calpine.com/img/arrow.gif*/;

        line-height: 11px;

        margin-top: 10px;

} 



.rightcontentcontent li {

	font-family: arial, helvetica, verdana, geneva;

	font-size: 11px;

	list-style-image: url(img/arrow.gif)/*tpa=http://www.calpine.com/img/arrow.gif*/;

	vertical-align: bottom;

	margin: 10px 0 0 0;

	padding: 0 0 0 5px;

}



.rightcontentcontent li a {

	text-decoration: none;

	color: black;

}



.rightcontentcontent li a:hover {

	text-decoration: underline;

	color: black;

}



.footertext {

	font-family: arial, helvetica, verdana, geneva;

	font-size: 10px;

	line-height: 10px;

	padding-top: 5px;

	color: black;

}



.footertext a {

	font-family: arial, helvetica, verdana, geneva;

	font-size: 10px;

	line-height: 10px;

	text-decoration: none;

	color: black;

}



.footertext a:hover {

	font-family: arial, helvetica, verdana, geneva;

	font-size: 10px;

	line-height: 10px;

	text-decoration: underline;

	color: black;

}



.mainhead {

	background-color: #5b9177;

	height: 25px;

	width: 760px;

}



.sectionlabel {
  background-color: #d58024;
  width: 800px;
  height: 19px;
  padding-left: 20px;
  font-weight: bold;
  font-size: 12px;
  color: #FFFFFF;
  font-family: verdana;
}

.press-releases p
{
    margin: 0 0 0 30;
}
.press-release-event
{
    margin-bottom: 30px;
    margin-top: 0px;
}


-->



