/**

 * @license

 * MyFonts Webfont Build ID 2857380, 2014-08-04T17:23:59-0400

 * 

 * The fonts listed in this notice are subject to the End User License

 * Agreement(s) entered into by the website owner. All other parties are 

 * explicitly restricted from using the Licensed Webfonts(s).

 * 

 * You may obtain a valid license at the URLs below.

 * 

 * Webfont: Clarendon Light by Bitstream

 * URL: http://www.myfonts.com/fonts/bitstream/clarendon/light/

 * 

 * Webfont: Clarendon by Bitstream

 * URL: http://www.myfonts.com/fonts/bitstream/clarendon/clarendon/

 * 

 * Webfont: Clarendon Bold by Bitstream

 * URL: http://www.myfonts.com/fonts/bitstream/clarendon/bold/

 * 

 * 

 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2857380

 * Licensed pageviews: 30,000,000

 * Webfonts copyright: Copyright 1990-2003 Bitstream Inc. All rights reserved.

 * 

 * 2014 MyFonts Inc

*/



/* @import must be at top of file, otherwise CSS will not work */

@import url(../../../../../../../../../fonts.googleapis.com/css-family=Libre+Baskerville-Libre+Baskerville-400italic-Radley.css)/*tpa=https://fonts.googleapis.com/css?family=Libre+Baskerville|Libre+Baskerville:400italic|Radley*/;

@import url(../../../../../../../../../fonts.googleapis.com/css-family=Lusitana.css)/*tpa=https://fonts.googleapis.com/css?family=Lusitana*/;

@import url("../../../../../../../../../hello.myfonts.net/count/2b99a4.css")/*tpa=http://hello.myfonts.net/count/2b99a4*/;

@font-face {

	font-family: 'ClarendonBT-Light';

	src: url('webfonts/2B99A4_0_0.eot')/*tpa=http://static.coach.com/aapz_prd/on/demandware.static/Sites-Coach_US-Site/Sites/default/v1433766638119/css/webfonts/2B99A4_0_0.eot*/;

	src: url('webfonts/2B99A4_0_0.eot-#iefix')/*tpa=http://static.coach.com/aapz_prd/on/demandware.static/Sites-Coach_US-Site/Sites/default/v1433766638119/css/webfonts/2B99A4_0_0.eot?#iefix*/ format('embedded-opentype'), url('webfonts/2B99A4_0_0.woff')/*tpa=http://static.coach.com/aapz_prd/on/demandware.static/Sites-Coach_US-Site/Sites/default/v1433766638119/css/webfonts/2B99A4_0_0.woff*/ format('woff'), url('webfonts/2B99A4_0_0.ttf')/*tpa=http://static.coach.com/aapz_prd/on/demandware.static/Sites-Coach_US-Site/Sites/default/v1433766638119/css/webfonts/2B99A4_0_0.ttf*/ format('truetype');

}

@font-face {

	font-family: 'ClarendonBT-Roman';

	src: url('webfonts/2B99A4_1_0.eot')/*tpa=http://static.coach.com/aapz_prd/on/demandware.static/Sites-Coach_US-Site/Sites/default/v1433766638119/css/webfonts/2B99A4_1_0.eot*/;

	src: url('webfonts/2B99A4_1_0.eot-#iefix')/*tpa=http://static.coach.com/aapz_prd/on/demandware.static/Sites-Coach_US-Site/Sites/default/v1433766638119/css/webfonts/2B99A4_1_0.eot?#iefix*/ format('embedded-opentype'), url('webfonts/2B99A4_1_0.woff')/*tpa=http://static.coach.com/aapz_prd/on/demandware.static/Sites-Coach_US-Site/Sites/default/v1433766638119/css/webfonts/2B99A4_1_0.woff*/ format('woff'), url('webfonts/2B99A4_1_0.ttf')/*tpa=http://static.coach.com/aapz_prd/on/demandware.static/Sites-Coach_US-Site/Sites/default/v1433766638119/css/webfonts/2B99A4_1_0.ttf*/ format('truetype');

}

@font-face {

	font-family: 'ClarendonBT-Bold';

	src: url('webfonts/2B99A4_2_0.eot')/*tpa=http://static.coach.com/aapz_prd/on/demandware.static/Sites-Coach_US-Site/Sites/default/v1433766638119/css/webfonts/2B99A4_2_0.eot*/;

	src: url('webfonts/2B99A4_2_0.eot-#iefix')/*tpa=http://static.coach.com/aapz_prd/on/demandware.static/Sites-Coach_US-Site/Sites/default/v1433766638119/css/webfonts/2B99A4_2_0.eot?#iefix*/ format('embedded-opentype'), url('webfonts/2B99A4_2_0.woff')/*tpa=http://static.coach.com/aapz_prd/on/demandware.static/Sites-Coach_US-Site/Sites/default/v1433766638119/css/webfonts/2B99A4_2_0.woff*/ format('woff'), url('webfonts/2B99A4_2_0.ttf')/*tpa=http://static.coach.com/aapz_prd/on/demandware.static/Sites-Coach_US-Site/Sites/default/v1433766638119/css/webfonts/2B99A4_2_0.ttf*/ format('truetype');

}



/*For Vertical Shop Header*/

.onebytwo.hidden {

	display: block !important;

}

.height_1.onebytwo .html-slot-content {

	display: table;

	height: 364px !important;

}

.vertical_header {

	z-index: 2;

	text-align: left;

	background-color: white;

	display: table-cell;

	vertical-align: middle;

}

.COHhed1 {

	font-family: 'ClarendonBT-Light', Kameron, Georgia, Times, serif;

	font-weight: lighter;

	font-size: 3.6em;

	color: black;

	text-transform: uppercase !important;

	letter-spacing: 0px;

	margin: 0px 10% 0px 10%;

	background: none;

	line-height: 30px;

	-webkit-font-smoothing: antialiased;

}

.COHdek1 {

	font-family: 'ClarendonBT-Light', Kameron, Georgia, Times, serif;

	font-size: 2.0em;

	color: black;

	margin: 10px 10% 0px 10%;

	line-height: 1.1em;

	font-weight: lighter;

	-webkit-font-smoothing: antialiased;

	letter-spacing: 0px;

	height: auto !important;

}

.COHhedMobile {

	font-family: 'ClarendonBT-Light', Kameron, Georgia, Times, serif;

	font-size: 3em;

	color: black !important;

	text-transform: uppercase !important;

	font-weight: lighter;

	line-height: 26px;

	-webkit-font-smoothing: antialiased;

	margin-top: 0px;

	margin-bottom: 0px;

	letter-spacing: 0px;

}

.COHdekMobile {

	font-family: 'ClarendonBT-Light', Kameron, Georgia, Times, serif;

	font-size: 1.5em;

	color: black !important;

	text-transform: uppercase !important;

	font-weight: lighter;

	line-height: 1.5em;

	-webkit-font-smoothing: antialiased;

	margin-bottom: 0px;

	letter-spacing: 0px;

}



@media (max-width: 1100px) {

.COHhed1 {

	margin: 0px 8% 0px 8%;

}

.COHdek1 {

	margin: 10px 8% 0px 8%;

}

}

.ppstart {

	display: none !important;

}



@media (max-width: 1100px) and (min-width: 768px) {

.pt_product-search-result .height_1.onebytwo .html-slot-content {

	display: table;

	height: 280px !important;

}

}



/*EVENTS*/

.event-date {

	font-size: 1.4em !important;

	color: #666 !important;

	font-weight: 300 !important;

}

.event-name {

	font-family: 'Lusitana', serif !important;

	font-size: 2.3em !important;

	color: #000 !important;

}

.event-description {

	font-size: 1.1em !important;

	color: #666 !important;

	letter-spacing: 0px;

}

p.details {

	letter-spacing: 0px;

}



/*NEWS*/

#carousel-example-generic .carousel-control .glyphicon-chevron-left {

	left: 10%

}

#carousel-example-generic .carousel-control .glyphicon-chevron-right {

	right: 10%

}

.news-wrapper h3 {

	font-family: 'ClarendonBT-Light', Kameron, Georgia, Times, serif !important;

}

h2.news-landing-title {

	font-family: 'ClarendonBT-Light', Kameron, Georgia, Times, serif !important;

	padding-top: 35px !important;

	-webkit-font-smoothing: antialiased;

}

h2.news-detail-title {

	padding-top: 35px !important;

}

h2.news-detail-title a {

	font-family: 'ClarendonBT-Light', Kameron, Georgia, Times, serif !important;

	-webkit-font-smoothing: antialiased;

}

.folder-container.folder-number, .folder-container.folder-number-1 {

	margin-left: 16px !important;

}

.news-detail-wrapper .sub-title {

	margin-bottom: 16px;

	font-size: 30px;

	text-transform: uppercase;

	font-family: 'ClarendonBT-Light', Kameron, Georgia, Times, serif;

	color: #000;

}

.intro {

	color: #000;

	font-family: 'ClarendonBT-Light', Kameron, Georgia, Times, serif;

	font-size: 18px;

}

p.details {

	font-family: 'ClarendonBT-Light', Kameron, Georgia, Times, serif;

	margin: 24px 0;

	font-size: 16px;

	line-height: 26px;

	text-transform: none;

	color: #000;

}

blockquote.copy {

	padding-top: 30px;

	padding-bottom: 30px;

	font-family: 'ClarendonBT-Light', Kameron, Georgia, Times, serif;

	font-size: 30px;

	font-weight: 300;

	line-height: 1em;

	letter-spacing: .05em;

	color: #000;

	text-align: center;

	text-indent: 0;

	text-transform: uppercase;

	border: 0px;

}

blockquote.copy span {

	display: block;

	font-family: 'ClarendonBT-Light', Kameron, Georgia, Times, serif;

	font-size: .5em;

	font-style: italic;

	text-align: center;

}

p.author {

	font-family: latoregular;

	font-size: 17px;

	text-transform: uppercase;

	margin: -7px 0 0;

	text-align: right;

	color: #000;

}

.news-detail-wrapper .sub-title {

	font-size: 30px !important;

	font-family: 'ClarendonBT-Light', Kameron, Georgia, Times, serif !important;

}

.intro {

	font-family: 'ClarendonBT-Light', Kameron, Georgia, Times, serif !important;

	font-size: 18px !important;

}

p.details {

	font-family: 'ClarendonBT-Light', Kameron, Georgia, Times, serif !important;

	font-size: 16px !important;

}

blockquote.copy {

	font-family: 'ClarendonBT-Light', Kameron, Georgia, Times, serif !important;

	font-size: 30px !important;

}

blockquote.copy span {

	display: block;

	font-family: 'ClarendonBT-Light', Kameron, Georgia, Times, serif !important;

	font-size: .5em !important;

}

p.author {

	font-family: latoregular !important;

	font-size: 17px !important;

}

.breadcrumb li .breadcrumb-last, .breadcrumb a, .breadcrumb>li+li:before {

	color: #000 !important;

}

.has-subcat.dropdown[data-id="women-shop"], .has-subcat.dropdown[data-id="men-shop"] {

	display: none;

}

.body-bg-color .search {

	margin-bottom: 40px;

}

.site-map h2.sub-heading:last-of-type, .site-map .inner-content:last-child {

	display: none;

}

@media (max-width: 1099px) and (min-width: 768px) {

.body-bg-color .container-fluid.search .container {

	padding-right: 13px

}

}

#footer-accordian.footer-menu a.customer-contact {

	font-size: 1.6em;

	padding: 9px 0 9px 6px;

	border-bottom: 1px solid #ccc;

	color: #000000;

	display: block;

	line-height: 18px;

}



/*MOBILE HEADER*/

@media (min-width: 765px) {

#mobile-banner {

	display: none;

}

#mobile-banner-image {

	display: none;

}

#top-utility-nav-msg {

	color: white !important;

}

.category-banner {

}

}

@media (max-width: 765px) {

#top-utility-nav-msg {

	color: black;

}

.breadcrumb {

	border-bottom: none !important;

}

}

#mobile-banner {

	width: 100%;

	border-top: 2px solid black;

	border-bottom: 2px solid black;

	text-align: center;

	padding-top: 50px;

	padding-bottom: 50px;

	background: white;

}

#mobile-banner-image {

	width: 100%;

	text-align: center;

	background: white;

}



/*I need this for top navigation image*/

/*Ul.main-nav a#category-accessories-men-new-arrivals{

    color: #FF0000;

}

Ul.main-nav span#category-shoes-features {

    color: #FF0000;

}

a[data-id='category-women-shoes'] {

	color: red !important;

}

a[data-id='women-shoes'] {

	color: red !important

}

a[title='Sneakers'] {

	color: red !important;

}*/

@media (min-width:767px) {	

ul.list-inline a[data-id="peanuts"], ul.list-inline a[data-id="peanuts"]:hover {

    background-image: url("nav_snoopy_retina.png")/*tpa=http://static.coach.com/aapz_prd/on/demandware.static/Sites-Coach_US-Site/Sites/default/v1433766638119/css/nav_snoopy_retina.png*/;

    background-repeat: no-repeat;

    display: inline-block;
	
	width: 38px;
	
    height: 50px;

    margin: 0 5px 0 10px;

    top: -20px;

    text-indent: -99999px;
	
	background-size: contain;
}
}

@media (max-width:767px) {	

	ul.list-inline a[data-id="peanuts"], ul.list-inline a[data-id="peanuts"]:hover {
		
		background-image: url("nav_snoopy_mobile.jpg")/*tpa=http://static.coach.com/aapz_prd/on/demandware.static/Sites-Coach_US-Site/Sites/default/v1433766638119/css/nav_snoopy_mobile.jpg*/;
		
		background-position: left 0px;

		display: block;

		height: auto;

		margin-left: 12px;

		margin-top: 0;

		text-indent: -99999px;

		width:auto;
		
		background-size: contain;
  		background-repeat: no-repeat;

	}

}