/* _lcid="1033" _version="15.0.4420"
_LocalBinding */
.slm-layout-main{
overflow:hidden;
width:100%;
padding:0px;
margin:0px;
border:0px;
}
.slm-edit-ecb{
float:left;
width:40px;
clear:both;
}
.slm-edit-ecb div{
vertical-align:middle;
height:23px;
padding:2px 0px 0px 2px;
}
.slm-edit-link{
vertical-align:top;
padding:1px 0px 0px 1px;
}
.slm-display-link{
vertical-align:top;
padding:0px;
}
.presence-status-icon{
float:left;
padding-top:1px;
padding-right:5px;
padding-left:0px;
height:12px;
width:12px;
}
.wp-content{
margin-bottom:6px;
margin-top:6px;
margin-left:4px;
margin-right:0px;
}
.cbq-layout-main{
width:100%;
padding:0;
margin:0;
border:0;
}
.toc-layout-main{
width:100%;
padding:0;
margin:0;
border:0;
}
.dfwp-column
{
float:left;
}
.dfwp-list
{
list-style:none;
margin:0px;
padding:0px;
}
.item{
padding-bottom:6px;
padding-top:6px;
padding-left:4px;
padding-right:0px;
clear:both;
}
.slm-dragdrop-source .item
{
clear:none;
}
.slm-dragdrop-source .groupheader
{
clear:none;
}
.centered{
text-align:center;
}
.link-item,.link-item a,.link-item a:link{
font-family:tahoma;
font-size:8pt;
color:#003399;
text-decoration:none;
}
.link-item a:visited,.link-item a:active{
color:#4167AF;
text-decoration:none;
}
.link-item a:hover{
color:#000000;
text-decoration:underline;
}
.link-item-large,.link-item-large a,.link-item-large a:link{
font-family:tahoma;
font-size:18pt;
color:#003399;
text-decoration:none;
}
.link-item-large a:visited,.link-item-large a:active{
color:#4167AF;
text-decoration:none;
}
.link-item-large a:hover{
color:#000000;
text-decoration:underline;
}
.description{
font-family:tahoma;
font-size:8pt;
color:#4c4c4c;
}
.image-area-left{
float:left;
padding-right:5px;
padding-left:0px;
}
.image-area-right{
float:right;
padding-left:5px;
padding-right:0px;
vertical-align:top;
}
.image-area-top{
padding-bottom:5px;
}
.image{
border:0;
}
.image-fixed-width{
border:0;
width:90px;
}
.bullet{
border-style:none;
border-color:inherit;
border-width:0;
vertical-align:top;
background-image:url("../../../images/lstbulet.gif")/*tpa=http://www.viacom.com/_layouts/images/lstbulet.gif*/;
background-repeat:no-repeat;
background-position:left;
padding-left:10px;
padding-right:0px;
}
.groupheader{
font-family:tahoma;
text-align:left;
margin-bottom:5px;
font-size:10pt;
font-weight:bold;
color:#000000;
clear:both;
}
.band{
background-color:#E4E8F0;
padding:2px 0px 2px 3px;
}
.large{
font-size:18pt;
}
.small{
font-size:8pt;
}
.medium{
font-size:10pt;
}
.centered{
text-align:center;
}
.separator{
border:1px #333333 solid;
clear:both;
}
.whitespace{
margin:0;
padding:0 0 10px 0;
clear:both;
}
.level-header{
padding:2px 0px 2px 0px;
}
.level-band{
background-color:#E4E8F0;
padding:2px 0px 2px 3px;
margin-right:3px;
margin-left:0px;
}
.level-description{
font-family:tahoma;
font-size:8pt;
color:#4c4c4c
}
.level-description-padding{
padding-left:15px;
padding-right:0px;
padding-bottom:1px;
}
.level-item-pos{
margin:2px 3px 2px 3px;
padding:1px 0px 1px 0px;
}
.level-item,.level-item a,.level-item a:link{
font-family:tahoma;
font-size:8pt;
color:#003399;
}
.level-item a:visited,.level-item a:active{
color:#4167AF;
text-decoration:none;
}
.level-item a:hover{
color:#000000;
text-decoration:underline;
}
.level-section{
margin-bottom:6px;
}
.level-bullet{
border-style:none;
border-color:inherit;
border-width:0;
vertical-align:top;
background-image:url("../../../images/lstbulet.gif")/*tpa=http://www.viacom.com/_layouts/images/lstbulet.gif*/;
background-repeat:no-repeat;
background-position:left;
padding-left:10px;
padding-right:0px;
}
.headertitle,.headertitle a,.headertitle a:link{
font-family:tahoma;
font-size:10pt;
font-weight:bold;
color:#003399;
}
.headertitle a:visited,.headertitle a:active{
color:#4167AF;
text-decoration:none;
}
.headertitle a:hover{
color:#000000;
text-decoration:underline;
}
.headertitle-large,.headertitle-large a,.headertitle-large a:link{
font-family:tahoma;
font-size:12pt;
font-weight:bold;
color:#003399;
}
.headertitle-large a:visited,.headertitle-large a:active{
color:#4167AF;
text-decoration:none;
}
.headertitle-large a:hover{
color:#000000;
text-decoration:underline;
}
.headertitle-small,.headertitle-small a,.headertitle-small a:link{
font-family:tahoma;
font-size:8pt;
font-weight:bold;
color:#003399;
}
.headertitle-small a:visited,.headertitle-small a:active{
color:#4167AF;
text-decoration:none;
}
.headertitle-small a:hover{
color:#000000;
text-decoration:underline;
}
.headertitle-band,.headertitle-band a,.headertitle-band a:link{
font-family:tahoma;
font-size:10pt;
font-weight:bold;
color:#003399;
}
.headertitle-band a:visited,.headertitle-band a:active{
color:#4167AF;
text-decoration:none;
}
.headertitle-band a:hover{
color:#000000;
text-decoration:underline;
}
.cqfeed
{
text-align:right;
}
.ms-slDlg-BodyContainer
{
width:100%;
height:100%;
}
.ms-slDlg-FieldLabel
{
padding-top:10px;
padding-bottom:2px;
}
.ms-slDlg-IndentedFieldLabel
{
padding-left:10px;
padding-top:5px;
padding-bottom:2px;
}
.ms-slDlg-FieldDescription
{
color:gray;
}
.ms-slDlg-BrowseButton
{
margin-left:10px;
margin-right:5px;
}
.ms-slLinkDlg-InputField
{
width:275px;
}
.ms-slLinkDlg-FirstPanel
{
text-align:left;
padding-top:10px;
padding-left:50px;
padding-right:20px;
}
.ms-slLinkDlg-Panel
{
text-align:left;
padding-top:0px;
padding-left:50px;
padding-right:20px;
}
.ms-slLinkDlg-PeoplePanel
{
text-align:left;
background-color:#d6e8ff;
padding-top:0px;
padding-left:50px;
padding-bottom:10px;
padding-right:20px;
margin-top:5px;
}
.ms-slDlg-ActionText
{
padding-left:5px;
}
.ms-slDlg-ActionText a,.ms-slDlg-ActionText a:visited,.ms-slDlg-ActionText a:active{
color:#4167AF;
text-decoration:none;
}
.ms-slDlg-ActionText a:hover{
color:#000000;
text-decoration:underline;
}
.ms-slGroupDlg-InputField
{
width:362px;
}
.ms-slGroupDlg-Panel
{
text-align:left;
padding-top:5px;
padding-left:50px;
padding-right:20px;
}
.ms-slViewDlg-InputField
{
width:362px;
}
.ms-slViewDlg-Panel
{
text-align:left;
padding-top:5px;
padding-left:50px;
padding-right:20px;
}
.ms-slViewDlg-FirstPanel
{
text-align:left;
padding-top:20px;
padding-left:50px;
padding-right:20px;
}
.ms-slSortDlg-Panel
{
text-align:left;
padding-top:0px;
padding-left:0px;
padding-right:0px;
}
.listItem div.callOut a
{
font:bold 12.5pt/16pt arial,helvetica,sans-serif;
color:#ffffff;
}
.title-With-Background
{
background-color:#83B0EC;
margin-top:5px;
padding:4px;
}
div.title-With-Background a,div.title-With-Background a:link,div.title-With-Background a:hover,div.title-With-Background a:visited,div.title-With-Background a:active
{
font:bold 12.5pt/16pt arial,helvetica,sans-serif;
color:#ffffff;
}
img.media-preview
{
border:none;
}
span.media-title
{
display:block;
}
H1.ms-rteElement-H1
{
-ms-name:"Heading 1";
-ms-element:"true";
}
H2.ms-rteElement-H2
{
-ms-name:"Heading 2";
-ms-element:"true";
}
H3.ms-rteElement-H3
{
-ms-name:"Heading 3";
-ms-element:"true";
}
H4.ms-rteElement-H4
{
-ms-name:"Heading 4";
-ms-element:"true";
}
H1.ms-rteElement-H1B
{
-ms-name:"Heading 1 Alternate";
}
H2.ms-rteElement-H2B{
-ms-name:"Heading 2 Alternate";
}
H3.ms-rteElement-H3B{
-ms-name:"Heading 3 Alternate";
}
H4.ms-rteElement-H4B{
-ms-name:"Heading 4 Alternate";
}
P.ms-rteElement-P{
-ms-name:"Paragraph";
-ms-element:"true";
}
.ms-rteStyle-Normal
{
-ms-name:"Normal";
}
.ms-rteStyle-Quote
{
-ms-name:"Quote";
}
.ms-rteStyle-IntenseQuote
{
-ms-name:"Intense Quote";
}
.ms-rteStyle-Emphasis
{
-ms-name:"Emphasis";
}
.ms-rteStyle-IntenseEmphasis
{
-ms-name:"Intense Emphasis";
}
.ms-rteStyle-References
{
-ms-name:"Reference";
}
.ms-rteStyle-IntenseReferences
{
-ms-name:"Intense Reference";
}
.ms-rteStyle-Accent1
{
-ms-name:"Accent 1";
}
.ms-rteStyle-Accent2
{
-ms-name:"Accent 2";
}
.ms-rteForeColor-1
{
color:darkred;
-ms-name:"";
-ms-color:"Dark Red";
}
.ms-rteForeColor-2
{
color:red;
-ms-name:"";
-ms-color:"Red";
}
.ms-rteForeColor-3
{
color:orange;
-ms-name:"";
-ms-color:"Gold";
}
.ms-rteForeColor-4
{
color:yellow;
-ms-name:"";
-ms-color:"Yellow";
}
.ms-rteForeColor-5
{
color:lightgreen;
-ms-name:"";
-ms-color:"Light Green";
}
.ms-rteForeColor-6
{
color:green;
-ms-name:"";
-ms-color:"Dark Green";
}
.ms-rteForeColor-7
{
color:lightblue;
-ms-name:"";
-ms-color:"Sky Blue";
}
.ms-rteForeColor-8
{
color:blue;
-ms-name:"";
-ms-color:"Blue";
}
.ms-rteForeColor-9
{
color:darkblue;
-ms-name:"";
-ms-color:"Dark Blue";
}
.ms-rteForeColor-10
{
color:purple;
-ms-name:"";
-ms-color:"Dark Purple";
}
.ms-rteBackColor-1
{
background-color:darkred;
-ms-name:"";
-ms-color:"Dark Red";
}
.ms-rteBackColor-2
{
background-color:red;
-ms-name:"";
-ms-color:"Red";
}
.ms-rteBackColor-3
{
background-color:orange;
-ms-name:"";
-ms-color:"Gold";
}
.ms-rteBackColor-4
{
background-color:yellow;
-ms-name:"";
-ms-color:"Yellow";
}
.ms-rteBackColor-5
{
background-color:lightgreen;
-ms-name:"";
-ms-color:"Light Green";
}
.ms-rteBackColor-6
{
background-color:green;
-ms-name:"";
-ms-color:"Dark Green";
}
.ms-rteBackColor-7
{
background-color:lightblue;
-ms-name:"";
-ms-color:"Sky Blue";
}
.ms-rteBackColor-8
{
background-color:blue;
-ms-name:"";
-ms-color:"Blue";
}
.ms-rteBackColor-9
{
background-color:darkblue;
-ms-name:"";
-ms-color:"Dark Blue";
}
.ms-rteBackColor-10
{
background-color:purple;
-ms-name:"";
-ms-color:"Dark Purple";
}
.ms-rteFontFace-1
{
-ms-name:"Tahoma";
font-family:tahoma;
}
.ms-rteFontFace-2
{
-ms-name:"Courier";
font-family:courier,monospace;
}
.ms-rteFontFace-3
{
-ms-name:"Times New Roman";
font-family:"Times New Roman",Times,serif;
}
.ms-rteFontFace-4
{
-ms-name:"Comic Sans";
font-family:"Comic Sans","Comic Sans MS",cursive;
}
.ms-rteFontFace-5
{
-ms-name:"Calibri";
font-family:Calibri;
}
.ms-rteFontFace-6
{
-ms-name:"Georgia";
font-family:Georgia;
}
.ms-rteFontFace-7
{
-ms-name:"Impact";
font-family:Impact;
}
.ms-rteFontFace-8
{
-ms-name:"Trebuchet MS";
font-family:"Trebuchet MS",helvetica;
}
.ms-rteFontFace-9
{
-ms-name:"Palatino Linotype";
font-family:"Palatino Linotype",Palatino,serif;
}
.ms-rteFontFace-10
{
-ms-name:"Lucida Console";
font-family:"Lucida Console",monaco,sans-serif;
}
.ms-rteFontFace-11
{
-ms-name:"Garamond";
font-family:garamond;
}
.ms-rteFontFace-12
{
-ms-name:"Segoe UI";
font-family:"Segoe UI",Tahoma;
}
.ms-rteFontSize-1
{
font-size:9pt;
}
.ms-rteFontSize-2
{
font-size:11pt;
}
.ms-rteFontSize-3
{
font-size:13pt;
}
.ms-rteFontSize-4
{
font-size:18pt;
}
.ms-rteFontSize-5
{
font-size:24pt;
}
.ms-rteFontSize-6
{
font-size:36pt;
}
.ms-rteFontSize-7
{
font-size:48pt;
}
.ms-rteFontSize-8
{
font-size:72pt;
}
.ms-rteThemeForeColor-1-0
{
/* [ReplaceColor(themeColor:"BackgroundOverlay",opacity:"1")] */ color:#fff;
-ms-name:"Light 1";
/* [ColorName] */ -ms-color:"White";
}
.ms-rteThemeForeColor-2-0
{
/* [ReplaceColor(themeColor:"BodyText",opacity:"1")] */ color:#444;
-ms-name:"Dark 1";
/* [ColorName] */ -ms-color:"Black";
}
.ms-rteThemeForeColor-3-0
{
/* [ReplaceColor(themeColor:"SubtleEmphasisText",opacity:"1")] */ color:#666;
-ms-name:"Light 2";
/* [ColorName] */ -ms-color:"White";
}
.ms-rteThemeForeColor-4-0
{
/* [ReplaceColor(themeColor:"SubtleEmphasisBackground",opacity:"1")] */ color:#efefef;
-ms-name:"Dark 2";
/* [ColorName] */ -ms-color:"Blue Gray";
}
.ms-rteThemeForeColor-5-0
{
/* [ReplaceColor(themeColor:"ContentAccent1",opacity:"1")] */ color:#0072C6;
-ms-name:"Accent 1";
/* [ColorName] */ -ms-color:"Dark Blue";
}
.ms-rteThemeForeColor-6-0
{
/* [ReplaceColor(themeColor:"ContentAccent2",opacity:"1")] */ color:#00485B;
-ms-name:"Accent 2";
/* [ColorName] */ -ms-color:"Pink";
}
.ms-rteThemeForeColor-7-0
{
/* [ReplaceColor(themeColor:"ContentAccent3",opacity:"1")] */ color:#288054;
-ms-name:"Accent 3";
/* [ColorName] */ -ms-color:"Turquoise";
}
.ms-rteThemeForeColor-8-0
{
/* [ReplaceColor(themeColor:"ContentAccent4",opacity:"1")] */ color:#767956;
-ms-name:"Accent 4";
/* [ColorName] */ -ms-color:"Orange";
}
.ms-rteThemeForeColor-9-0
{
/* [ReplaceColor(themeColor:"ContentAccent5",opacity:"1")] */ color:#ED0033;
-ms-name:"Accent 5";
/* [ColorName] */ -ms-color:"Dark Green";
}
.ms-rteThemeForeColor-10-0
{
/* [ReplaceColor(themeColor:"ContentAccent6",opacity:"1")] */ color:#682A7A;
-ms-name:"Accent 6";
/* [ColorName] */ -ms-color:"Yellow";
}
.ms-rteThemeForeColor-1-1
{
/* [ReplaceColor(themeColor:"BackgroundOverlay-Lightest",opacity:"1")] */ color:#F2F2F2;
-ms-name:"Light 1 Lightest";
/* [ColorName] */ -ms-color:"White";
}
.ms-rteThemeForeColor-2-1
{
/* [ReplaceColor(themeColor:"BodyText-Lightest",opacity:"1")] */ color:#D9D9D9;
-ms-name:"Dark 1 Lightest";
/* [ColorName] */ -ms-color:"Gray-50%";
}
.ms-rteThemeForeColor-3-1
{
/* [ReplaceColor(themeColor:"SubtleEmphasisText-Lightest",opacity:"1")] */ color:#E0E0E0;
-ms-name:"Light 2 Lightest";
/* [ColorName] */ -ms-color:"Ice Blue";
}
.ms-rteThemeForeColor-4-1
{
/* [ReplaceColor(themeColor:"SubtleEmphasisBackground-Lightest",opacity:"1")] */ color:#D8D8D8;
-ms-name:"Dark 2 Lightest";
/* [ColorName] */ -ms-color:"Ice Blue";
}
.ms-rteThemeForeColor-5-1
{
/* [ReplaceColor(themeColor:"ContentAccent1-Lightest",opacity:"1")] */ color:#C0E4FF;
-ms-name:"Accent 1 Lightest";
/* [ColorName] */ -ms-color:"Light Blue";
}
.ms-rteThemeForeColor-6-1
{
/* [ReplaceColor(themeColor:"ContentAccent2-Lightest",opacity:"1")] */ color:#D5F6FF;
-ms-name:"Accent 2 Lightest";
/* [ColorName] */ -ms-color:"Pink";
}
.ms-rteThemeForeColor-7-1
{
/* [ReplaceColor(themeColor:"ContentAccent3-Lightest",opacity:"1")] */ color:#CAEEDC;
-ms-name:"Accent 3 Lightest";
/* [ColorName] */ -ms-color:"Light Turquoise";
}
.ms-rteThemeForeColor-8-1
{
/* [ReplaceColor(themeColor:"ContentAccent4-Lightest",opacity:"1")] */ color:#E4E5DB;
-ms-name:"Accent 4 Lightest";
/* [ColorName] */ -ms-color:"Light Orange";
}
.ms-rteThemeForeColor-9-1
{
/* [ReplaceColor(themeColor:"ContentAccent5-Lightest",opacity:"1")] */ color:#FFC8D4;
-ms-name:"Accent 5 Lightest";
/* [ColorName] */ -ms-color:"Light Green";
}
.ms-rteThemeForeColor-10-1
{
/* [ReplaceColor(themeColor:"ContentAccent6-Lightest",opacity:"1")] */ color:#E5CBED;
-ms-name:"Accent 6 Lightest";
/* [ColorName] */ -ms-color:"Light Yellow";
}
.ms-rteThemeForeColor-1-2
{
/* [ReplaceColor(themeColor:"BackgroundOverlay-Lighter",opacity:"1")] */ color:#D8D8D8;
-ms-name:"Light 1 Lighter";
/* [ColorName] */ -ms-color:"Gray-25%";
}
.ms-rteThemeForeColor-2-2
{
/* [ReplaceColor(themeColor:"BodyText-Lighter",opacity:"1")] */ color:#B4B4B4;
-ms-name:"Dark 1 Lighter";
/* [ColorName] */ -ms-color:"Gray-80%";
}
.ms-rteThemeForeColor-3-2
{
/* [ReplaceColor(themeColor:"SubtleEmphasisText-Lighter",opacity:"1")] */ color:#C1C1C1;
-ms-name:"Light 2 Lighter";
/* [ColorName] */ -ms-color:"Ice Blue";
}
.ms-rteThemeForeColor-4-2
{
/* [ReplaceColor(themeColor:"SubtleEmphasisBackground-Lighter",opacity:"1")] */ color:#B4B4B4;
-ms-name:"Dark 2 Lighter";
/* [ColorName] */ -ms-color:"Ice Blue";
}
.ms-rteThemeForeColor-5-2
{
/* [ReplaceColor(themeColor:"ContentAccent1-Lighter",opacity:"1")] */ color:#82CAFF;
-ms-name:"Accent 1 Lighter";
/* [ColorName] */ -ms-color:"Light Turquoise";
}
.ms-rteThemeForeColor-6-2
{
/* [ReplaceColor(themeColor:"ContentAccent2-Lighter",opacity:"1")] */ color:#96E9FF;
-ms-name:"Accent 2 Lighter";
/* [ColorName] */ -ms-color:"Pink";
}
.ms-rteThemeForeColor-7-2
{
/* [ReplaceColor(themeColor:"ContentAccent3-Lighter",opacity:"1")] */ color:#96DEBA;
-ms-name:"Accent 3 Lighter";
/* [ColorName] */ -ms-color:"Light Turquoise";
}
.ms-rteThemeForeColor-8-2
{
/* [ReplaceColor(themeColor:"ContentAccent4-Lighter",opacity:"1")] */ color:#CACCB8;
-ms-name:"Accent 4 Lighter";
/* [ColorName] */ -ms-color:"Light Orange";
}
.ms-rteThemeForeColor-9-2
{
/* [ReplaceColor(themeColor:"ContentAccent5-Lighter",opacity:"1")] */ color:#FF91A9;
-ms-name:"Accent 5 Lighter";
/* [ColorName] */ -ms-color:"Light Green";
}
.ms-rteThemeForeColor-10-2
{
/* [ReplaceColor(themeColor:"ContentAccent6-Lighter",opacity:"1")] */ color:#CC98DB;
-ms-name:"Accent 6 Lighter";
/* [ColorName] */ -ms-color:"Light Yellow";
}
.ms-rteThemeForeColor-1-3
{
/* [ReplaceColor(themeColor:"BackgroundOverlay-Medium",opacity:"1")] */ color:#BFBFBF;
-ms-name:"Light 1 Medium";
/* [ColorName] */ -ms-color:"Gray-25%";
}
.ms-rteThemeForeColor-2-3
{
/* [ReplaceColor(themeColor:"BodyText-Medium",opacity:"1")] */ color:#8E8E8E;
-ms-name:"Dark 1 Medium";
/* [ColorName] */ -ms-color:"Gray-80%";
}
.ms-rteThemeForeColor-3-3
{
/* [ReplaceColor(themeColor:"SubtleEmphasisText-Medium",opacity:"1")] */ color:#A3A3A3;
-ms-name:"Light 2 Medium";
/* [ColorName] */ -ms-color:"Blue Gray";
}
.ms-rteThemeForeColor-4-3
{
/* [ReplaceColor(themeColor:"SubtleEmphasisBackground-Medium",opacity:"1")] */ color:#787878;
-ms-name:"Dark 2 Medium";
/* [ColorName] */ -ms-color:"Blue Gray";
}
.ms-rteThemeForeColor-5-3
{
/* [ReplaceColor(themeColor:"ContentAccent1-Medium",opacity:"1")] */ color:#43AFFF;
-ms-name:"Accent 1 Medium";
/* [ColorName] */ -ms-color:"Blue";
}
.ms-rteThemeForeColor-6-3
{
/* [ReplaceColor(themeColor:"ContentAccent2-Medium",opacity:"1")] */ color:#2DD3FF;
-ms-name:"Accent 2 Medium";
/* [ColorName] */ -ms-color:"Pink";
}
.ms-rteThemeForeColor-7-3
{
/* [ReplaceColor(themeColor:"ContentAccent3-Medium",opacity:"1")] */ color:#62CE98;
-ms-name:"Accent 3 Medium";
/* [ColorName] */ -ms-color:"Light Turquoise";
}
.ms-rteThemeForeColor-8-3
{
/* [ReplaceColor(themeColor:"ContentAccent4-Medium",opacity:"1")] */ color:#B0B394;
-ms-name:"Accent 4 Medium";
/* [ColorName] */ -ms-color:"Light Orange";
}
.ms-rteThemeForeColor-9-3
{
/* [ReplaceColor(themeColor:"ContentAccent5-Medium",opacity:"1")] */ color:#FF5B7E;
-ms-name:"Accent 5 Medium";
/* [ColorName] */ -ms-color:"Green";
}
.ms-rteThemeForeColor-10-3
{
/* [ReplaceColor(themeColor:"ContentAccent6-Medium",opacity:"1")] */ color:#B364C9;
-ms-name:"Accent 6 Medium";
/* [ColorName] */ -ms-color:"Light Yellow";
}
.ms-rteThemeForeColor-1-4
{
/* [ReplaceColor(themeColor:"BackgroundOverlay-Darker",opacity:"1")] */ color:#A5A5A5;
-ms-name:"Light 1 Darker";
/* [ColorName] */ -ms-color:"Gray-50%";
}
.ms-rteThemeForeColor-2-4
{
/* [ReplaceColor(themeColor:"BodyText-Darker",opacity:"1")] */ color:#333;
-ms-name:"Dark 1 Darker";
/* [ColorName] */ -ms-color:"Gray-80%";
}
.ms-rteThemeForeColor-3-4
{
/* [ReplaceColor(themeColor:"SubtleEmphasisText-Darker",opacity:"1")] */ color:#4C4C4C;
-ms-name:"Light 2 Darker";
/* [ColorName] */ -ms-color:"Blue Gray";
}
.ms-rteThemeForeColor-4-4
{
/* [ReplaceColor(themeColor:"SubtleEmphasisBackground-Darker",opacity:"1")] */ color:#3C3C3C;
-ms-name:"Dark 2 Darker";
/* [ColorName] */ -ms-color:"Blue Gray";
}
.ms-rteThemeForeColor-5-4
{
/* [ReplaceColor(themeColor:"ContentAccent1-Darker",opacity:"1")] */ color:#005594;
-ms-name:"Accent 1 Darker";
/* [ColorName] */ -ms-color:"Dark Blue";
}
.ms-rteThemeForeColor-6-4
{
/* [ReplaceColor(themeColor:"ContentAccent2-Darker",opacity:"1")] */ color:#009AC3;
-ms-name:"Accent 2 Darker";
/* [ColorName] */ -ms-color:"Plum";
}
.ms-rteThemeForeColor-7-4
{
/* [ReplaceColor(themeColor:"ContentAccent3-Darker",opacity:"1")] */ color:#1D603F;
-ms-name:"Accent 3 Darker";
/* [ColorName] */ -ms-color:"Turquoise";
}
.ms-rteThemeForeColor-8-4
{
/* [ReplaceColor(themeColor:"ContentAccent4-Darker",opacity:"1")] */ color:#585A40;
-ms-name:"Accent 4 Darker";
/* [ColorName] */ -ms-color:"Brown";
}
.ms-rteThemeForeColor-9-4
{
/* [ReplaceColor(themeColor:"ContentAccent5-Darker",opacity:"1")] */ color:#B10026;
-ms-name:"Accent 5 Darker";
/* [ColorName] */ -ms-color:"Dark Green";
}
.ms-rteThemeForeColor-10-4
{
/* [ReplaceColor(themeColor:"ContentAccent6-Darker",opacity:"1")] */ color:#4E1F5B;
-ms-name:"Accent 6 Darker";
/* [ColorName] */ -ms-color:"Yellow";
}
.ms-rteThemeForeColor-1-5
{
/* [ReplaceColor(themeColor:"BackgroundOverlay-Darkest",opacity:"1")] */ color:#7F7F7F;
-ms-name:"Light 1 Darkest";
/* [ColorName] */ -ms-color:"Gray-50%";
}
.ms-rteThemeForeColor-2-5
{
/* [ReplaceColor(themeColor:"BodyText-Darkest",opacity:"1")] */ color:#222;
-ms-name:"Dark 1 Darkest";
/* [ColorName] */ -ms-color:"Black";
}
.ms-rteThemeForeColor-3-5
{
/* [ReplaceColor(themeColor:"SubtleEmphasisText-Darkest",opacity:"1")] */ color:#333333;
-ms-name:"Light 2 Darkest";
/* [ColorName] */ -ms-color:"Blue Gray";
}
.ms-rteThemeForeColor-4-5
{
/* [ReplaceColor(themeColor:"SubtleEmphasisBackground-Darkest",opacity:"1")] */ color:#181818;
-ms-name:"Dark 2 Darkest";
/* [ColorName] */ -ms-color:"Blue Gray";
}
.ms-rteThemeForeColor-5-5
{
/* [ReplaceColor(themeColor:"ContentAccent1-Darkest",opacity:"1")] */ color:#003963;
-ms-name:"Accent 1 Darkest";
/* [ColorName] */ -ms-color:"Dark Blue";
}
.ms-rteThemeForeColor-6-5
{
/* [ReplaceColor(themeColor:"ContentAccent2-Darkest",opacity:"1")] */ color:#006984;
-ms-name:"Accent 2 Darkest";
/* [ColorName] */ -ms-color:"Plum";
}
.ms-rteThemeForeColor-7-5
{
/* [ReplaceColor(themeColor:"ContentAccent3-Darkest",opacity:"1")] */ color:#13402A;
-ms-name:"Accent 3 Darkest";
/* [ColorName] */ -ms-color:"Dark Teal";
}
.ms-rteThemeForeColor-8-5
{
/* [ReplaceColor(themeColor:"ContentAccent4-Darkest",opacity:"1")] */ color:#3B3C2B;
-ms-name:"Accent 4 Darkest";
/* [ColorName] */ -ms-color:"Brown";
}
.ms-rteThemeForeColor-9-5
{
/* [ReplaceColor(themeColor:"ContentAccent5-Darkest",opacity:"1")] */ color:#760019;
-ms-name:"Accent 5 Darkest";
/* [ColorName] */ -ms-color:"Dark Green";
}
.ms-rteThemeForeColor-10-5
{
/* [ReplaceColor(themeColor:"ContentAccent6-Darkest",opacity:"1")] */ color:#34153D;
-ms-name:"Accent 6 Darkest";
/* [ColorName] */ -ms-color:"Dark Yellow";
}
.ms-rteThemeBackColor-1-0
{
/* [ReplaceColor(themeColor:"BackgroundOverlay",opacity:"1")] */ background-color:#fff;
-ms-name:"Light 1";
/* [ColorName] */ -ms-color:"White";
}
.ms-rteThemeBackColor-2-0
{
/* [ReplaceColor(themeColor:"BodyText",opacity:"1")] */ background-color:#444;
-ms-name:"Dark 1";
/* [ColorName] */ -ms-color:"Black";
}
.ms-rteThemeBackColor-3-0
{
/* [ReplaceColor(themeColor:"SubtleEmphasisText",opacity:"1")] */ background-color:#666;
-ms-name:"Light 2";
/* [ColorName] */ -ms-color:"White";
}
.ms-rteThemeBackColor-4-0
{
/* [ReplaceColor(themeColor:"SubtleEmphasisBackground",opacity:"1")] */ background-color:#efefef;
-ms-name:"Dark 2";
/* [ColorName] */ -ms-color:"Blue Gray";
}
.ms-rteThemeBackColor-5-0
{
/* [ReplaceColor(themeColor:"ContentAccent1",opacity:"1")] */ background-color:#0072C6;
-ms-name:"Accent 1";
/* [ColorName] */ -ms-color:"Dark Blue";
}
.ms-rteThemeBackColor-6-0
{
/* [ReplaceColor(themeColor:"ContentAccent2",opacity:"1")] */ background-color:#00485B;
-ms-name:"Accent 2";
/* [ColorName] */ -ms-color:"Pink";
}
.ms-rteThemeBackColor-7-0
{
/* [ReplaceColor(themeColor:"ContentAccent3",opacity:"1")] */ background-color:#288054;
-ms-name:"Accent 3";
/* [ColorName] */ -ms-color:"Turquoise";
}
.ms-rteThemeBackColor-8-0
{
/* [ReplaceColor(themeColor:"Accent4")] */ background-color:#FD9F08;
/* [ReplaceColor(themeColor:"ContentAccent4",opacity:"1")] */ background-color:#767956;
-ms-name:"Accent 4";
/* [ColorName] */ -ms-color:"Orange";
}
.ms-rteThemeBackColor-9-0
{
/* [ReplaceColor(themeColor:"ContentAccent5",opacity:"1")] */ background-color:#ED0033;
-ms-name:"Accent 5";
/* [ColorName] */ -ms-color:"Dark Green";
}
.ms-rteThemeBackColor-10-0
{
/* [ReplaceColor(themeColor:"ContentAccent6",opacity:"1")] */ background-color:#682A7A;
-ms-name:"Accent 6";
/* [ColorName] */ -ms-color:"Yellow";
}
.ms-rteThemeBackColor-1-1
{
/* [ReplaceColor(themeColor:"BackgroundOverlay-Lightest",opacity:"1")] */ background-color:#F2F2F2;
-ms-name:"Light 1 Lightest";
/* [ColorName] */ -ms-color:"White";
}
.ms-rteThemeBackColor-2-1
{
/* [ReplaceColor(themeColor:"BodyText-Lightest",opacity:"1")] */ background-color:#D9D9D9;
-ms-name:"Dark 1 Lightest";
/* [ColorName] */ -ms-color:"Gray-50%";
}
.ms-rteThemeBackColor-3-1
{
/* [ReplaceColor(themeColor:"SubtleEmphasisText-Lightest",opacity:"1")] */ background-color:#E0E0E0;
-ms-name:"Light 2 Lightest";
/* [ColorName] */ -ms-color:"Ice Blue";
}
.ms-rteThemeBackColor-4-1
{
/* [ReplaceColor(themeColor:"SubtleEmphasisBackground-Lightest",opacity:"1")] */ background-color:#D8D8D8;
-ms-name:"Dark 2 Lightest";
/* [ColorName] */ -ms-color:"Ice Blue";
}
.ms-rteThemeBackColor-5-1
{
/* [ReplaceColor(themeColor:"ContentAccent1-Lightest",opacity:"1")] */ background-color:#C0E4FF;
-ms-name:"Accent 1 Lightest";
/* [ColorName] */ -ms-color:"Light Blue";
}
.ms-rteThemeBackColor-6-1
{
/* [ReplaceColor(themeColor:"ContentAccent2-Lightest",opacity:"1")] */ background-color:#D5F6FF;
-ms-name:"Accent 2 Lightest";
/* [ColorName] */ -ms-color:"Pink";
}
.ms-rteThemeBackColor-7-1
{
/* [ReplaceColor(themeColor:"ContentAccent3-Lightest",opacity:"1")] */ background-color:#CAEEDC;
-ms-name:"Accent 3 Lightest";
/* [ColorName] */ -ms-color:"Light Turquoise";
}
.ms-rteThemeBackColor-8-1
{
/* [ReplaceColor(themeColor:"ContentAccent4-Lightest",opacity:"1")] */ background-color:#E4E5DB;
-ms-name:"Accent 4 Lightest";
/* [ColorName] */ -ms-color:"Light Orange";
}
.ms-rteThemeBackColor-9-1
{
/* [ReplaceColor(themeColor:"ContentAccent5-Lightest",opacity:"1")] */ background-color:#FFC8D4;
-ms-name:"Accent 5 Lightest";
/* [ColorName] */ -ms-color:"Light Green";
}
.ms-rteThemeBackColor-10-1
{
/* [ReplaceColor(themeColor:"ContentAccent6-Lightest",opacity:"1")] */ background-color:#E5CBED;
-ms-name:"Accent 6 Lightest";
/* [ColorName] */ -ms-color:"Light Yellow";
}
.ms-rteThemeBackColor-1-2
{
/* [ReplaceColor(themeColor:"BackgroundOverlay-Lighter",opacity:"1")] */ background-color:#D8D8D8;
-ms-name:"Light 1 Lighter";
/* [ColorName] */ -ms-color:"Gray-25%";
}
.ms-rteThemeBackColor-2-2
{
/* [ReplaceColor(themeColor:"BodyText-Lighter",opacity:"1")] */ background-color:#B4B4B4;
-ms-name:"Dark 1 Lighter";
/* [ColorName] */ -ms-color:"Gray-80%";
}
.ms-rteThemeBackColor-3-2
{
/* [ReplaceColor(themeColor:"SubtleEmphasisText-Lighter",opacity:"1")] */ background-color:#C1C1C1;
-ms-name:"Light 2 Lighter";
/* [ColorName] */ -ms-color:"Ice Blue";
}
.ms-rteThemeBackColor-4-2
{
/* [ReplaceColor(themeColor:"SubtleEmphasisBackground-Lighter",opacity:"1")] */ background-color:#B4B4B4;
-ms-name:"Dark 2 Lighter";
/* [ColorName] */ -ms-color:"Ice Blue";
}
.ms-rteThemeBackColor-5-2
{
/* [ReplaceColor(themeColor:"ContentAccent1-Lighter",opacity:"1")] */ background-color:#82CAFF;
-ms-name:"Accent 1 Lighter";
/* [ColorName] */ -ms-color:"Light Turquoise";
}
.ms-rteThemeBackColor-6-2
{
/* [ReplaceColor(themeColor:"ContentAccent2-Lighter",opacity:"1")] */ background-color:#96E9FF;
-ms-name:"Accent 2 Lighter";
/* [ColorName] */ -ms-color:"Pink";
}
.ms-rteThemeBackColor-7-2
{
/* [ReplaceColor(themeColor:"ContentAccent3-Lighter",opacity:"1")] */ background-color:#96DEBA;
-ms-name:"Accent 3 Lighter";
/* [ColorName] */ -ms-color:"Light Turquoise";
}
.ms-rteThemeBackColor-8-2
{
/* [ReplaceColor(themeColor:"ContentAccent4-Lighter",opacity:"1")] */ background-color:#CACCB8;
-ms-name:"Accent 4 Lighter";
/* [ColorName] */ -ms-color:"Light Orange";
}
.ms-rteThemeBackColor-9-2
{
/* [ReplaceColor(themeColor:"ContentAccent5-Lighter",opacity:"1")] */ background-color:#FF91A9;
-ms-name:"Accent 5 Lighter";
/* [ColorName] */ -ms-color:"Light Green";
}
.ms-rteThemeBackColor-10-2
{
/* [ReplaceColor(themeColor:"ContentAccent6-Lighter",opacity:"1")] */ background-color:#CC98DB;
-ms-name:"Accent 6 Lighter";
/* [ColorName] */ -ms-color:"Light Yellow";
}
.ms-rteThemeBackColor-1-3
{
/* [ReplaceColor(themeColor:"BackgroundOverlay-Medium",opacity:"1")] */ background-color:#BFBFBF;
-ms-name:"Light 1 Medium";
/* [ColorName] */ -ms-color:"Gray-25%";
}
.ms-rteThemeBackColor-2-3
{
/* [ReplaceColor(themeColor:"BodyText-Medium",opacity:"1")] */ background-color:#8E8E8E;
-ms-name:"Dark 1 Medium";
/* [ColorName] */ -ms-color:"Gray-80%";
}
.ms-rteThemeBackColor-3-3
{
/* [ReplaceColor(themeColor:"SubtleEmphasisText-Medium",opacity:"1")] */ background-color:#A3A3A3;
-ms-name:"Light 2 Medium";
/* [ColorName] */ -ms-color:"Blue Gray";
}
.ms-rteThemeBackColor-4-3
{
/* [ReplaceColor(themeColor:"SubtleEmphasisBackground-Medium",opacity:"1")] */ background-color:#787878;
-ms-name:"Dark 2 Medium";
/* [ColorName] */ -ms-color:"Blue Gray";
}
.ms-rteThemeBackColor-5-3
{
/* [ReplaceColor(themeColor:"ContentAccent1-Medium",opacity:"1")] */ background-color:#43AFFF;
-ms-name:"Accent 1 Medium";
/* [ColorName] */ -ms-color:"Blue";
}
.ms-rteThemeBackColor-6-3
{
/* [ReplaceColor(themeColor:"ContentAccent2-Medium",opacity:"1")] */ background-color:#2DD3FF;
-ms-name:"Accent 2 Medium";
/* [ColorName] */ -ms-color:"Pink";
}
.ms-rteThemeBackColor-7-3
{
/* [ReplaceColor(themeColor:"ContentAccent3-Medium",opacity:"1")] */ background-color:#62CE98;
-ms-name:"Accent 3 Medium";
/* [ColorName] */ -ms-color:"Light Turquoise";
}
.ms-rteThemeBackColor-8-3
{
/* [ReplaceColor(themeColor:"ContentAccent4-Medium",opacity:"1")] */ background-color:#B0B394;
-ms-name:"Accent 4 Medium";
/* [ColorName] */ -ms-color:"Light Orange";
}
.ms-rteThemeBackColor-9-3
{
/* [ReplaceColor(themeColor:"ContentAccent5-Medium",opacity:"1")] */ background-color:#FF5B7E;
-ms-name:"Accent 5 Medium";
/* [ColorName] */ -ms-color:"Green";
}
.ms-rteThemeBackColor-10-3
{
/* [ReplaceColor(themeColor:"ContentAccent6-Medium",opacity:"1")] */ background-color:#B364C9;
-ms-name:"Accent 6 Medium";
/* [ColorName] */ -ms-color:"Light Yellow";
}
.ms-rteThemeBackColor-1-4
{
/* [ReplaceColor(themeColor:"BackgroundOverlay-Darker",opacity:"1")] */ background-color:#A5A5A5;
-ms-name:"Light 1 Darker";
/* [ColorName] */ -ms-color:"Gray-50%";
}
.ms-rteThemeBackColor-2-4
{
/* [ReplaceColor(themeColor:"BodyText-Darker",opacity:"1")] */ background-color:#333;
-ms-name:"Dark 1 Darker";
/* [ColorName] */ -ms-color:"Gray-80%";
}
.ms-rteThemeBackColor-3-4
{
/* [ReplaceColor(themeColor:"SubtleEmphasisText-Darker",opacity:"1")] */ background-color:#4C4C4C;
-ms-name:"Light 2 Darker";
/* [ColorName] */ -ms-color:"Blue Gray";
}
.ms-rteThemeBackColor-4-4
{
/* [ReplaceColor(themeColor:"SubtleEmphasisBackground-Darker",opacity:"1")] */ background-color:#3C3C3C;
-ms-name:"Dark 2 Darker";
/* [ColorName] */ -ms-color:"Blue Gray";
}
.ms-rteThemeBackColor-5-4
{
/* [ReplaceColor(themeColor:"ContentAccent1-Darker",opacity:"1")] */ background-color:#005594;
-ms-name:"Accent 1 Darker";
/* [ColorName] */ -ms-color:"Dark Blue";
}
.ms-rteThemeBackColor-6-4
{
/* [ReplaceColor(themeColor:"ContentAccent2-Darker",opacity:"1")] */ background-color:#009AC3;
-ms-name:"Accent 2 Darker";
/* [ColorName] */ -ms-color:"Plum";
}
.ms-rteThemeBackColor-7-4
{
/* [ReplaceColor(themeColor:"ContentAccent3-Darker",opacity:"1")] */ background-color:#1D603F;
-ms-name:"Accent 3 Darker";
/* [ColorName] */ -ms-color:"Turquoise";
}
.ms-rteThemeBackColor-8-4
{
/* [ReplaceColor(themeColor:"ContentAccent4-Darker",opacity:"1")] */ background-color:#585A40;
-ms-name:"Accent 4 Darker";
/* [ColorName] */ -ms-color:"Brown";
}
.ms-rteThemeBackColor-9-4
{
/* [ReplaceColor(themeColor:"ContentAccent5-Darker",opacity:"1")] */ background-color:#B10026;
-ms-name:"Accent 5 Darker";
/* [ColorName] */ -ms-color:"Dark Green";
}
.ms-rteThemeBackColor-10-4
{
/* [ReplaceColor(themeColor:"ContentAccent6-Darker",opacity:"1")] */ background-color:#4E1F5B;
-ms-name:"Accent 6 Darker";
/* [ColorName] */ -ms-color:"Yellow";
}
.ms-rteThemeBackColor-1-5
{
/* [ReplaceColor(themeColor:"BackgroundOverlay-Darkest",opacity:"1")] */ background-color:#7F7F7F;
-ms-name:"Light 1 Darkest";
/* [ColorName] */ -ms-color:"Gray-50%";
}
.ms-rteThemeBackColor-2-5
{
/* [ReplaceColor(themeColor:"BodyText-Darkest",opacity:"1")] */ background-color:#222;
-ms-name:"Dark 1 Darkest";
/* [ColorName] */ -ms-color:"Black";
}
.ms-rteThemeBackColor-3-5
{
/* [ReplaceColor(themeColor:"SubtleEmphasisText-Darkest",opacity:"1")] */ background-color:#333333;
-ms-name:"Light 2 Darkest";
/* [ColorName] */ -ms-color:"Blue Gray";
}
.ms-rteThemeBackColor-4-5
{
/* [ReplaceColor(themeColor:"SubtleEmphasisBackground-Darkest",opacity:"1")] */ background-color:#181818;
-ms-name:"Dark 2 Darkest";
/* [ColorName] */ -ms-color:"Blue Gray";
}
.ms-rteThemeBackColor-5-5
{
/* [ReplaceColor(themeColor:"ContentAccent1-Darkest",opacity:"1")] */ background-color:#003963;
-ms-name:"Accent 1 Darkest";
/* [ColorName] */ -ms-color:"Dark Blue";
}
.ms-rteThemeBackColor-6-5
{
/* [ReplaceColor(themeColor:"ContentAccent2-Darkest",opacity:"1")] */ background-color:#006984;
-ms-name:"Accent 2 Darkest";
/* [ColorName] */ -ms-color:"Plum";
}
.ms-rteThemeBackColor-7-5
{
/* [ReplaceColor(themeColor:"ContentAccent3-Darkest",opacity:"1")] */ background-color:#13402A;
-ms-name:"Accent 3 Darkest";
/* [ColorName] */ -ms-color:"Dark Teal";
}
.ms-rteThemeBackColor-8-5
{
/* [ReplaceColor(themeColor:"ContentAccent4-Darkest",opacity:"1")] */ background-color:#3B3C2B;
-ms-name:"Accent 4 Darkest";
/* [ColorName] */ -ms-color:"Brown";
}
.ms-rteThemeBackColor-9-5
{
/* [ReplaceColor(themeColor:"ContentAccent5-Darkest",opacity:"1")] */ background-color:#760019;
-ms-name:"Accent 5 Darkest";
/* [ColorName] */ -ms-color:"Dark Green";
}
.ms-rteThemeBackColor-10-5
{
/* [ReplaceColor(themeColor:"ContentAccent6-Darkest",opacity:"1")] */ background-color:#34153D;
-ms-name:"Accent 6 Darkest";
/* [ColorName] */ -ms-color:"Dark Yellow";
}
.ms-rteImage-0
{
-ms-name:"No border";
}
.ms-rteImage-1
{
-ms-name:"Thin line border";
/* [ReplaceColor(themeColor:"BodyText",opacity:"1")] */ background-color:#444;
/* [ReplaceColor(themeColor:"BodyText-Darker",opacity:"1")] */ border:1px solid #333;
/* [RecolorImage(themeColor:"SubtleBodyText",method:"Tinting")] */ background-image:url("../../images/tabtitlerowbottombg.png-rev=23.png")/*tpa=http://www.viacom.com/_layouts/15/images/tabtitlerowbottombg.png?rev=23*/;
background-repeat:repeat-x;
background-position:top;
}
.ms-rteImage-2
{
-ms-name:"Table border";
padding:2px;
/* [ReplaceColor(themeColor:"SubtleLines")] */ border-top:1px solid #c6c6c6;
/* [ReplaceColor(themeColor:"Lines")] */ border-bottom:1px solid #ababab;
/* [ReplaceColor(themeColor:"SubtleLines")] */ border-left:1px solid #c6c6c6;
/* [ReplaceColor(themeColor:"Lines")] */ border-right:1px solid #ababab;
}
.ms-rteImage-3
{
-ms-name:"Dark border";
padding:15px;
/* [ReplaceColor(themeColor:"BodyText-Darker",opacity:"1")] */ background-color:#333;
/* [ReplaceColor(themeColor:"BodyText",opacity:"1")] */ border:1px solid #444;
/* [RecolorImage(themeColor:"BodyText-Darker",method:"Tinting")] */ background-image:url("../../images/tabtitlerowbottombg.png-rev=23.png")/*tpa=http://www.viacom.com/_layouts/15/images/tabtitlerowbottombg.png?rev=23*/;
background-attachment:fixed;
background-repeat:repeat-x;
background-position:left bottom;
}
.ms-rteImage-4
{
-ms-name:"Light border";
padding:6px;
padding-bottom:33px;
/* [ReplaceColor(themeColor:"BackgroundOverlay-Lightest",opacity:"1")] */ background-color:#F2F2F2;
/* [ReplaceColor(themeColor:"SubtleLines")] */ border-top:1px solid #c6c6c6;
/* [ReplaceColor(themeColor:"Lines")] */ border-bottom:1px solid #ababab;
/* [ReplaceColor(themeColor:"SubtleLines")] */ border-left:1px solid #c6c6c6;
/* [ReplaceColor(themeColor:"Lines")] */ border-right:1px solid #ababab;
background-image:url("../../images/selbg.png-rev=23.png")/*tpa=http://www.viacom.com/_layouts/15/images/selbg.png?rev=23*/;
background-repeat:repeat-x;
background-position:top;
}
.ms-rteTable-default > tbody > tr > td,
.ms-rteTable-default > tbody > tr > th,
.ms-rteTable-0 > tbody > tr > td,
.ms-rteTable-0 > tbody > tr > th,
.ms-rteTable-1 > tbody > tr > td,
.ms-rteTable-1 > tbody > tr > th,
.ms-rteTable-2 > tbody > tr > td,
.ms-rteTable-2 > tbody > tr > th,
.ms-rteTable-3 > tbody > tr > td,
.ms-rteTable-3 > tbody > tr > th,
.ms-rteTable-4 > tbody > tr > td,
.ms-rteTable-4 > tbody > tr > th,
.ms-rteTable-5 > tbody > tr > td,
.ms-rteTable-5 > tbody > tr > th,
.ms-rteTable-6 > tbody > tr > td,
.ms-rteTable-6 > tbody > tr > th,
.ms-rteTable-7 > tbody > tr > td,
.ms-rteTable-7 > tbody > tr > th,
.ms-rteTable-8 > tbody > tr > td,
.ms-rteTable-8 > tbody > tr > th,
.ms-rteTable-9 > tbody > tr > td,
.ms-rteTable-9 > tbody > tr > th,
.ms-rteTable-10 > tbody > tr > td,
.ms-rteTable-10 > tbody > tr > th
{
vertical-align:top;
padding:7px 5px 6px;
}
.ms-rteTable-default > tbody > tr > th,
.ms-rteTable-default > tbody > tr.ms-rteTableFooterRow-default,
.ms-rteTable-0 > tbody > tr > th,
.ms-rteTable-0 > tbody > tr.ms-rteTableFooterRow-0,
.ms-rteTable-1 > tbody > tr > th,
.ms-rteTable-1 > tbody > tr.ms-rteTableFooterRow-1,
.ms-rteTable-2 > tbody > tr > th,
.ms-rteTable-2 > tbody > tr.ms-rteTableFooterRow-2,
.ms-rteTable-3 > tbody > tr > th,
.ms-rteTable-3 > tbody > tr.ms-rteTableFooterRow-3,
.ms-rteTable-4 > tbody > tr > th,
.ms-rteTable-4 > tbody > tr.ms-rteTableFooterRow-4,
.ms-rteTable-5 > tbody > tr > th,
.ms-rteTable-5 > tbody > tr.ms-rteTableFooterRow-5,
.ms-rteTable-6 > tbody > tr > th,
.ms-rteTable-6 > tbody > tr.ms-rteTableFooterRow-6,
.ms-rteTable-7 > tbody > tr > th,
.ms-rteTable-7 > tbody > tr.ms-rteTableFooterRow-7,
.ms-rteTable-8 > tbody > tr > th,
.ms-rteTable-8 > tbody > tr.ms-rteTableFooterRow-8,
.ms-rteTable-9 > tbody > tr > th,
.ms-rteTable-9 > tbody > tr.ms-rteTableFooterRow-9,
.ms-rteTable-10 > tbody > tr > th,
.ms-rteTable-10 > tbody > tr.ms-rteTableFooterRow-10
{
/* [ReplaceColor(themeColor:"SubtleBodyText")] */ color:#777;
text-align:left;
font-weight:normal;
}
.ms-rtetablecells
{
padding:2px;
vertical-align:top;
}
.ms-rteTable-default
{
-ms-name:"Default Table Style - Light";
}
.ms-rteTable-default,
.ms-rteTable-default > tbody > tr > td,
.ms-rteTable-default > tbody > tr > th,
td.ms-rteTable-default,
th.ms-rteTable-default,
.ms-rtetablecells
{
/* [ReplaceColor(themeColor:"SubtleLines")] */ border:1px solid #c6c6c6;
}
.ms-rteTable-0
{
-ms-name:"Table Style 1 - Clear";
border-width:0px;
border-style:none;
border-collapse:collapse;
}
.ms-rteTable-1{
-ms-name:"Table Style 2 - Light Banded";
}
.ms-rteTable-1 tr.ms-rteTableHeaderRow-1,
.ms-rteTable-1 tr.ms-rteTableFooterRow-1,
.ms-rteTable-1 tr.ms-rteTableHeaderRow-1 > th,
.ms-rteTable-1 tr.ms-rteTableFooterRow-1 > th,
.ms-rteTable-1 tr.ms-rteTableFooterRow-1 > td
{
/* [ReplaceColor(themeColor:"BackgroundOverlay",opacity:"1")] */ background-color:#fff;
/* [ReplaceColor(themeColor:"BackgroundOverlay")] */ background-color:rgba( 255,255,255,0.85 );
/* [ReplaceColor(themeColor:"Lines")] */ border-top:1px solid #ababab;
/* [ReplaceColor(themeColor:"Lines")] */ border-bottom:1px solid #ababab;
}
.ms-rteTable-1 tr.ms-rteTableOddRow-1
{
/* [ReplaceColor(themeColor:"BackgroundOverlay-Lighter",opacity:"1")] */ background-color:#D8D8D8;
/* [ReplaceColor(themeColor:"BackgroundOverlay-Lighter")] */ background-color:#D8D8D8;
}
.ms-rteTable-1 tr.ms-rteTableEvenRow-1
{
/* [ReplaceColor(themeColor:"BackgroundOverlay",opacity:"1")] */ background-color:#fff;
/* [ReplaceColor(themeColor:"BackgroundOverlay")] */ background-color:rgba( 255,255,255,0.85 );
}
.ms-rteTable-6{
-ms-name:"Table Style 3 - Medium Two Tones";
}
.ms-rteTable-6 tr.ms-rteTableHeaderRow-6,
.ms-rteTable-6 tr.ms-rteTableFooterRow-6,
.ms-rteTable-6 tr.ms-rteTableHeaderRow-6 > th,
.ms-rteTable-6 tr.ms-rteTableFooterRow-6 > th,
.ms-rteTable-6 tr.ms-rteTableFooterRow-6 > td
{
/* [ReplaceColor(themeColor:"ContentAccent1-Darker",opacity:"1")] */ background-color:#005594;
/* [ReplaceColor(themeColor:"ContentAccent1-Darker")] */ background-color:#005594;
/* [ReplaceColor(themeColor:"BackgroundOverlay")] */ color:#fff;
}
.ms-rteTable-6 tr.ms-rteTableOddRow-6
{
/* [ReplaceColor(themeColor:"ContentAccent1-Lightest",opacity:"1")] */ background-color:#C0E4FF;
/* [ReplaceColor(themeColor:"ContentAccent1-Lightest",opacity:"0.7")] */ background-color:#C0E4FF;
}
.ms-rteTable-6 tr.ms-rteTableEvenRow-6
{
/* [ReplaceColor(themeColor:"BackgroundOverlay",opacity:"1")] */ background-color:#fff;
/* [ReplaceColor(themeColor:"BackgroundOverlay",opacity:"0.7")] */ background-color:rgba( 255,255,255,0.85 );
}
.ms-rteTable-2{
-ms-name:"Table Style 4 - Light Lines";
}
.ms-rteTable-2 tr.ms-rteTableHeaderRow-2,
.ms-rteTable-2 tr.ms-rteTableFooterRow-2,
.ms-rteTable-2 tr.ms-rteTableHeaderRow-2 > th,
.ms-rteTable-2 tr.ms-rteTableFooterRow-2 > th,
.ms-rteTable-2 tr.ms-rteTableFooterRow-2 > td
{
/* [ReplaceColor(themeColor:"BodyText")] */ background-color:#444;
/* [ReplaceColor(themeColor:"BackgroundOverlay",opacity:"1")] */ color:#fff;
}
.ms-rteTable-2 tr.ms-rteTableOddRow-2,
.ms-rteTable-2 tr.ms-rteTableEvenRow-2
{
/* [ReplaceColor(themeColor:"StrongLines")] */ border-top:1px solid #92c0e0;
/* [ReplaceColor(themeColor:"StrongLines")] */ border-bottom:1px solid #92c0e0;
}
.ms-rteTable-3{
-ms-name:"Table Style 5 - Grid";
}
.ms-rteTable-3,
.ms-rteTable-3 > tbody > tr > td,
.ms-rteTable-3 > tbody > tr > th
{
/* [ReplaceColor(themeColor:"Lines")] */ border:1px solid #ababab;
}
.ms-rteTable-3 tr.ms-rteTableOddRow-3
{
/* [ReplaceColor(themeColor:"BackgroundOverlay-Lighter",opacity:"1")] */ background-color:#D8D8D8;
/* [ReplaceColor(themeColor:"BackgroundOverlay-Lighter")] */ background-color:#D8D8D8;
}
.ms-rteTable-3 tr.ms-rteTableHeaderRow-3,
.ms-rteTable-3 tr.ms-rteTableFooterRow-3,
.ms-rteTable-3 tr.ms-rteTableEvenRow-3
{
/* [ReplaceColor(themeColor:"BackgroundOverlay",opacity:"1")] */ background-color:#fff;
/* [ReplaceColor(themeColor:"BackgroundOverlay")] */ background-color:rgba( 255,255,255,0.85 );
}
.ms-rteTable-4{
-ms-name:"Table Style 6 - Accent 1";
}
.ms-rteTable-4,
.ms-rteTable-4 > tbody > tr > td,
.ms-rteTable-4 > tbody > tr > th
{
/* [ReplaceColor(themeColor:"ContentAccent1-Darker",opacity:"1")] */ border:1px solid #005594;
}
.ms-rteTable-4 tr.ms-rteTableHeaderRow-4,
.ms-rteTable-4 tr.ms-rteTableFooterRow-4,
.ms-rteTable-4 tr.ms-rteTableHeaderRow-4 > th,
.ms-rteTable-4 tr.ms-rteTableFooterRow-4 > th,
.ms-rteTable-4 tr.ms-rteTableFooterRow-4 > td
{
/* [ReplaceColor(themeColor:"ContentAccent1-Darker",opacity:"1")] */ background-color:#005594;
/* [ReplaceColor(themeColor:"BackgroundOverlay",opacity:"1")] */ color:#fff;
}
.ms-rteTable-5{
-ms-name:"Table Style 7 - Accent 2";
}
.ms-rteTable-5,
.ms-rteTable-5 > tbody > tr > td,
.ms-rteTable-5 > tbody > tr > th
{
/* [ReplaceColor(themeColor:"ContentAccent2-Darker",opacity:"1")] */ border:1px solid #009AC3;
}
.ms-rteTable-5 tr.ms-rteTableHeaderRow-5,
.ms-rteTable-5 tr.ms-rteTableFooterRow-5,
.ms-rteTable-5 tr.ms-rteTableHeaderRow-5 > th,
.ms-rteTable-5 tr.ms-rteTableFooterRow-5 > th,
.ms-rteTable-5 tr.ms-rteTableFooterRow-5 > td
{
/* [ReplaceColor(themeColor:"ContentAccent2-Darker",opacity:"1")] */ background-color:#009AC3;
/* [ReplaceColor(themeColor:"BackgroundOverlay",opacity:"1")] */ color:#fff;
}
.ms-rteTable-7{
-ms-name:"Table Style 8 - Accent 3";
}
.ms-rteTable-7,
.ms-rteTable-7 > tbody > tr > td,
.ms-rteTable-7 > tbody > tr > th
{
/* [ReplaceColor(themeColor:"ContentAccent3-Darker",opacity:"1")] */ border:1px solid #1D603F;
}
.ms-rteTable-7 tr.ms-rteTableHeaderRow-7,
.ms-rteTable-7 tr.ms-rteTableFooterRow-7,
.ms-rteTable-7 tr.ms-rteTableHeaderRow-7 > th,
.ms-rteTable-7 tr.ms-rteTableFooterRow-7 > th,
.ms-rteTable-7 tr.ms-rteTableFooterRow-7 > td
{
/* [ReplaceColor(themeColor:"ContentAccent3-Darker",opacity:"1")] */ background-color:#1D603F;
/* [ReplaceColor(themeColor:"BackgroundOverlay",opacity:"1")] */ color:#fff;
}
.ms-rteTable-8{
-ms-name:"Table Style 9 - Accent 4";
}
.ms-rteTable-8,
.ms-rteTable-8 > tbody > tr > td,
.ms-rteTable-8 > tbody > tr > th
{
/* [ReplaceColor(themeColor:"ContentAccent4-Darker",opacity:"1")] */ border:1px solid #585A40;
}
.ms-rteTable-8 tr.ms-rteTableHeaderRow-8,
.ms-rteTable-8 tr.ms-rteTableFooterRow-8,
.ms-rteTable-8 tr.ms-rteTableHeaderRow-8 > th,
.ms-rteTable-8 tr.ms-rteTableFooterRow-8 > th,
.ms-rteTable-8 tr.ms-rteTableFooterRow-8 > td
{
/* [ReplaceColor(themeColor:"ContentAccent4-Darker",opacity:"1")] */ background-color:#585A40;
/* [ReplaceColor(themeColor:"BackgroundOverlay",opacity:"1")] */ color:#fff;
}
.ms-rteTable-9{
-ms-name:"Table Style 10 - Accent 5";
}
.ms-rteTable-9,
.ms-rteTable-9 > tbody > tr > td,
.ms-rteTable-9 > tbody > tr > th
{
/* [ReplaceColor(themeColor:"ContentAccent5-Darker",opacity:"1")] */ border:1px solid #B10026;
}
.ms-rteTable-9 tr.ms-rteTableHeaderRow-9,
.ms-rteTable-9 tr.ms-rteTableFooterRow-9,
.ms-rteTable-9 tr.ms-rteTableHeaderRow-9 > th,
.ms-rteTable-9 tr.ms-rteTableFooterRow-9 > th,
.ms-rteTable-9 tr.ms-rteTableFooterRow-9 > td
{
/* [ReplaceColor(themeColor:"ContentAccent5-Darker",opacity:"1")] */ background-color:#B10026;
/* [ReplaceColor(themeColor:"BackgroundOverlay",opacity:"1")] */ color:#fff;
}
.ms-rteTable-10{
-ms-name:"Table Style 11 - Accent 6";
}
.ms-rteTable-10,
.ms-rteTable-10 > tbody > tr > td,
.ms-rteTable-10 > tbody > tr > th
{
/* [ReplaceColor(themeColor:"ContentAccent6-Darker",opacity:"1")] */ border:1px solid #4E1F5B;
}
.ms-rteTable-10 tr.ms-rteTableHeaderRow-10,
.ms-rteTable-10 tr.ms-rteTableFooterRow-10,
.ms-rteTable-10 tr.ms-rteTableHeaderRow-10 > th,
.ms-rteTable-10 tr.ms-rteTableFooterRow-10 > th,
.ms-rteTable-10 tr.ms-rteTableFooterRow-10 > td
{
/* [ReplaceColor(themeColor:"ContentAccent6-Darker",opacity:"1")] */ background-color:#4E1F5B;
/* [ReplaceColor(themeColor:"BackgroundOverlay",opacity:"1")] */ color:#fff;
}
.ms-rteTableGrid td,.ms-rteTableGrid th{
border:1px dotted black;
}
.ms-rtePosition-1{
-ms-name:"Left";
float:left;
}
.ms-rtePosition-2{
-ms-name:"Right";
float:right;
}
.ms-rtePosition-3{
-ms-name:"Top";
vertical-align:text-top;
}
.ms-rtePosition-4{
-ms-name:"Middle";
vertical-align:middle;
}
.ms-rtePosition-5{
-ms-name:"Bottom";
vertical-align:text-bottom;
}
.ms-rtestate-write
{
cursor:text;
min-height:1em;
}
.ms-asset-icon
{
border-width:0px;
margin:0px 5px;
}
.ms-rtestate-field TABLE,.ms-rtestate-write TABLE
{
border-collapse:collapse;
}
.ms-rte-autocomplete
{
/* [ReplaceColor(themeColor:"BackgroundOverlay",opacity:"1")] */ background-color:#fff;
border-width:1px;
border-style:solid;
/* [ReplaceColor(themeColor:"SubtleLines")] */ border-top-color:#c6c6c6;
/* [ReplaceColor(themeColor:"Lines")] */ border-bottom-color:#ababab;
/* [ReplaceColor(themeColor:"SubtleLines")] */ border-left-color:#c6c6c6;
/* [ReplaceColor(themeColor:"Lines")] */ border-right-color:#ababab;
font-family:Verdana;
font-size:1em;
padding-top:10px;
padding-bottom:10px;
position:absolute;
cursor:default;
}
.ms-rte-autocomplete-results div
{
border-top:1px solid transparent;
border-bottom:1px solid transparent;
/* [ReplaceColor(themeColor:"BodyText")] */ color:#444;
padding-left:10px;
padding-right:10px;
overflow:hidden;
}
.ms-rte-autocomplete-results div.ms-rte-autocomplete-selected,
.ms-rte-autocomplete-modes div.ms-rte-autocomplete-selected
{
/* [ReplaceColor(themeColor:"HoverBackground")] */ background-color:rgba( 205,230,247,0.5 );
}
.ms-core-needIEFilter .ms-rte-autocomplete-results div.ms-rte-autocomplete-selected,.ms-core-needIEFilter .ms-rte-autocomplete-modes div.ms-rte-autocomplete-selected
{
background-color:transparent;
/* [ReplaceColor(themeColor:"HoverBackground")] */ -ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#7fcde6f7,endColorstr=#7fcde6f7)";
}
.ms-rte-autocomplete-modes div
{
border-top:1px solid transparent;
border-bottom:1px solid transparent;
/* [ReplaceColor(themeColor:"BodyText")] */ color:#444;
padding-left:20px;
padding-right:10px;
}
.ms-rte-autocomplete-info
{
padding-left:10px;
padding-right:10px;
}
.ms-rte-layoutszone-outer
{
float:left;
}
.ms-rte-layoutszone-inner
{
word-wrap:break-word;
border:1px solid transparent;
margin:1px;
padding:10px;
}
.ms-rte-layoutszone-inner-editable
{
/* [ReplaceColor(themeColor:"SubtleLines")] */ border:1px solid #c6c6c6;
margin:1px;
padding:10px;
min-height:100px !important;
}
.ms-rte-layoutszone-fixer
{
clear:both;
}
.ms-rte-wpbox
{
font-style:normal;
font-weight:normal;
font-variant:normal;
word-spacing:normal;
letter-spacing:normal;
text-transform:none;
text-align:left;
text-indent:0px;
text-decoration:none;
line-height:normal;
white-space:normal;
word-wrap:normal;
list-style-type:disc;
list-style-image:none;
list-style-position:outside;
}
.ms-rtestate-write .ms-webpart-chrome-title,
.ms-rtestate-write .ms-rte-embedcode-title
{
cursor:move;
}
.ms-rtestate-field
{
word-wrap:break-word;
}
.ms-rtefield{
min-width:384px;
padding:2px 2px 2px 2px;
}
.ms-rte-embeddialog-textarea
{
height:100px;
}
.ms-rte-embeddialog-preview
{
margin:30px 5px 0px 15px;
width:auto;
height:auto;
}
.ms-rte-embedcode-link
{
font-size:1.1em;
padding:5px 10px;
}
.ms-rte-embedcode-linkedit
{
text-align:right;
text-transform:uppercase;
}
.ms-rte-embedil
{
display:inline-block;
}
.ms-rte-embedcode-delete
{
float:right;
margin-top:5px;
}
#rtePasteFlyout,
#rtePasteFlyout .ms-cui-menusection
{
border-width:0px;
}
#rtePasteFlyoutLink
{
padding:5px;
margin:0px;
border:1px solid #bec1c4;
}
#rtePasteFlyoutLink:hover
{
border-color:#92b7d1;
}
#rtePasteFlyoutImg
{
vertical-align:middle;
}
#rtePasteFlyoutText
{
margin:0px 4px;
color:#23272c;
}
#rtePasteFlyoutOptions a.ms-rtePasteFlyout-option
{
width:24px;
height:24px;
display:inline-block;
}
.ms-rte-srcdialog-text
{
font-family:"Courier New",Consolas;
;
}
.ms-imagecrop-background
{
background-color:black;
}
span.ms-imagecrop img.ms-imagecrop-ghost
{
filter:Alpha(Opacity=50) !important;
opacity:0.5 !important;
}
.ms-imagecrop-handle
{
width:5px;
height:5px;
border-color:#cf8000;
border-width:2px;
border-style:solid;
background-color:white;
}
.ms-imagecrop-handle-ne
{
top:-5px;
right:-5px;
}
.ms-imagecrop-handle-se
{
bottom:-5px;
right:-5px;
}
.ms-imagecrop-handle-sw
{
bottom:-5px;
left:-5px;
}
.ms-imagecrop-handle-nw
{
top:-5px;
left:-5px;
}
.ms-imagecrop-edge
{
border-color:white;
border-width:2px;
border-style:dashed;
}
.ms-imagecrop-edge-left
{
left:-1px;
}
.ms-imagecrop-edge-top
{
top:-1px;
}
.ms-imagecrop-edge-right
{
right:-1px;
}
.ms-imagecrop-edge-bottom
{
bottom:-1px;
}
.ms-RteCropppedImage
{
overflow:hidden;
}
#ms-rte-styleGalleryMenu .ms-cui-gallerybutton-a
{
border:1px solid #afb4ba;
}
.ms-rte-stylePreview
{
white-space:normal;
width:64px;
}
.ms-rte-stylePreviewBox
{
overflow:hidden;
position:relative;
height:30px;
}
.ms-rte-stylePreviewBoxInner
{
display:table;
overflow:hidden;
padding:0px;
position:absolute;
bottom:0px;
height:30px;
}
.ms-rte-stylePreviewHolder
{
display:table-cell;
vertical-align:middle;
padding:0px;
}
.ms-rte-stylePreviewTitle,
.ms-rte-stylePreviewTitleFull
{
margin:0px auto;
display:table-cell;
vertical-align:middle;
width:64px;
}
.ms-rte-styleGalleryPreview
{
height:60px;
}
.ms-rte-styleGalleryPreview .ms-rte-stylePreviewHolder
{
vertical-align:bottom;
}
.ms-rte-styleGalleryPreview .ms-rte-stylePreviewTitle
{
height:30px;
}
.ms-rte-styleRibbonPreview
{
height:48px;
}
.ms-rte-styleRibbonPreview .ms-rte-stylePreviewTitle
{
height:18px;
white-space:nowrap;
text-overflow:ellipsis;
overflow:hidden;
display:block;
}
.ms-rte-styleRibbonPreview .ms-rte-stylePreviewTitleFull
{
height:46px;
}
.ms-rtestate-field h1,
h1.ms-rteElement-H1,
.ms-rtestate-field h2,
h2.ms-rteElement-H2
{
line-height:1.4;
/* [ReplaceColor(themeColor:"ContentAccent1")] */ color:#0072C6;
}
.ms-rtestate-field h3,
h3.ms-rteElement-H3
{
line-height:1.4;
}
.ms-rtestate-field h4,
h4.ms-rteElement-H4
{
line-height:1.6;
/* [ReplaceColor(themeColor:"SubtleBodyText")] */ color:#777;
}
h1.ms-rteElement-H1B,
h2.ms-rteElement-H2B,
h3.ms-rteElement-H3B,
h4.ms-rteElement-H4B
{
/* [ReplaceColor(themeColor:"ContentAccent2")] */ color:#00485B;
}
.ms-rtestate-field p,
p.ms-rteElement-P
{
margin:0px 0px 10px 0px;
line-height:1.6;
}
.ms-rteElement-Hr
{
/* [ReplaceColor(themeColor:"Lines")] */ background-color:#ababab;
height:1px;
}
.ms-rteElement-Callout1
{
color:#660000;
background-color:#fef4e4;
float:left;
width:25em;
padding:10px;
border:1px solid #FD9F08;
}
.ms-rteElement-Callout2
{
color:#353738;
background-color:#f2f2f2;
float:right;
width:25em;
padding:10px;
border:1px solid #36B000;
}
.ms-rteElement-Callout3
{
font-style:italic;
color:#CA0078;
float:right;
width:25em;
padding:10px;
}
.ms-rteElement-Callout4
{
color:#005677;
float:right;
width:20em;
padding:10px;
background-color:#d8f4ff;
border:1px solid #00ADEE;
}
.ms-rteStyle-Normal
{
/* [ReplaceFont(themeFont:"body")] */ font-family:"Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
font-size:13px;
/* [ReplaceColor(themeColor:"BodyText")] */ color:#444;
/* [ReplaceColor(themeColor:"BackgroundOverlay",opacity:"1")] */ background-color:#fff;
/* [ReplaceColor(themeColor:"BackgroundOverlay")] */ background-color:rgba( 255,255,255,0.85 );
font-weight:normal;
}
.ms-rteStyle-Byline,
.ms-rteStyle-Quote,
.ms-rteStyle-IntenseQuote
{
font-style:italic;
/* [ReplaceColor(themeColor:"BodyText")] */ color:#444;
}
.ms-rteStyle-Emphasis,
.ms-rteStyle-IntenseEmphasis
{
font-style:italic;
/* [ReplaceColor(themeColor:"ContentAccent1")] */ color:#0072C6;
}
.ms-rteStyle-References,
.ms-rteStyle-IntenseReferences
{
/* [ReplaceColor(themeColor:"SubtleBodyText")] */ color:#777;
}
.ms-rteStyle-IntenseQuote,
.ms-rteStyle-IntenseEmphasis,
.ms-rteStyle-IntenseReferences
{
text-decoration:underline;
}
.ms-rteStyle-Comment,
.ms-rteStyle-Accent1
{
/* [ReplaceColor(themeColor:"ContentAccent1")] */ color:#0072C6;
}
.ms-rteStyle-Caption,
.ms-rteStyle-Accent2
{
/* [ReplaceColor(themeColor:"ContentAccent2")] */ color:#00485B;
}
.ms-rteStyle-Tagline
{
font-size:1.3em;
/* [ReplaceColor(themeColor:"SubtleBodyText")] */ color:#777;
}
.ms-rteStyle-Highlight
{
/* [ReplaceColor(themeColor:"BodyText")] */ color:#444;
/* [ReplaceColor(themeColor:"ContentAccent6")] */ background-color:#fae032;
}
.ms-rteThemeFontFace-1
{
-ms-name:"Body";
/* [ReplaceFont(themeFont:"body")] */ font-family:"Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
}
.ms-rteThemeFontFace-2
{
-ms-name:"Heading";
/* [ReplaceFont(themeFont:"heading")] */ font-family:"Segoe UI Semilight","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
}
