
/* this makes it possible to add next button beside scrollable */
.scrollable
{
    float: left;
}

/* prev, next, prevPage and nextPage buttons */
.scrollable a.browse
{
    background: url(../../../images/SJM/HomepageBanner/hori_large.png)/*tpa=http://www.sjm.com/images/SJM/HomepageBanner/hori_large.png*/ no-repeat;
    display: block;
    width: 30px;
    height: 30px;
    float: left;
    margin: 40px 10px;
    cursor: pointer;
    font-size: 1px;
}

/* right */
.scrollable a.right
{
    background-position: 0 -30px;
    clear: right;
    margin-right: 0px;
}
.scrollable a.right:hover
{
    background-position: -30px -30px;
}
.scrollable a.right:active
{
    background-position: -60px -30px;
}


/* left */
.scrollable a.left
{
    margin-left: 0px;
}
.scrollable a.left:hover
{
    background-position: -30px 0;
}
.scrollable a.left:active
{
    background-position: -60px 0;
}

/* up and down */
.scrollable a.up, a.down
{
    background: url(../../../images/SJM/HomepageBanner/vert_large.png)/*tpa=http://www.sjm.com/images/SJM/HomepageBanner/vert_large.png*/ no-repeat;
    float: none;
    margin: 10px 50px;
}

/* up */
.scrollable a.up:hover
{
    background-position: -30px 0;
}
.scrollable a.up:active
{
    background-position: -60px 0;
}

/* down */
.scrollable a.down
{
    background-position: 0 -30px;
}
.scrollable a.down:hover
{
    background-position: -30px -30px;
}
.scrollable a.down:active
{
    background-position: -60px -30px;
}


/* disabled navigational button */
.scrollable a.disabled
{
    visibility: hidden !important;
}

