.scrollable
{
    position: relative;
    overflow: hidden;
    width: 962px;
    height: 304px; 
}

.scrollable .items
{ 
    width: 20000em;
    position: absolute;
    clear: both;
}

.scrollable .items div
{
    float: left;
    width: 962px;
    height: 304px;
    top: 0px;
    margin:0 10px 0 0;
    padding:0;    
    position: relative;
}

.scrollable img
{
    float: left;
    background-color: #fff;
    width: 962px;
    height: 304px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.scrollable .active
{
    border: 2px solid #000;
    position: relative;
    cursor: default;
}
