.naviContainer
{
    z-index: 10;
    position:  absolute;
    top: 271px; 
    width: 170px;
    height: 20px;
    right: 6px;
}

/* position and dimensions of the navigator */
.navi
{    
    display:inline;    
}

/* items inside navigator */
.navi a
{
    display:block;    
    float:left;
    height: 19px;
    width: 9px;
    padding: 1px 5px 0 7px;
    color: #555;
    background: url(../../../images/SJM/btn.gif)/*tpa=http://www.sjm.com/images/SJM/btn.gif*/ 0 0 no-repeat;    
    margin-right:4px;
}

/* mouseover state */
.navi a:hover
{
    /*	background-position:0 -8px;      */
    color: #fff;
    text-decoration: none;
    background-position: 0 -20px;
}

/* active state (current page state) */
.navi a.active
{
    /*	background-position:0 -16px;     */
    color: #fff;
    background-position: 0 -20px;
}

.naviContainer .pausePlayContainer { float:left; width:20px; display:inline; }
.naviContainer #pausePlayButton { display:block; height:20px; padding:0; width:21px; text-decoration:none; }
.naviContainer #pausePlayButton.play { background:url("../../../images/SJM/btn_play.gif")/*tpa=http://www.sjm.com/images/SJM/btn_play.gif*/ no-repeat scroll 0 0 transparent; }
.naviContainer #pausePlayButton.play:hover { background-position:0 -20px; }
.naviContainer #pausePlayButton.pause { background:url("../../../images/SJM/btn_pause.gif")/*tpa=http://www.sjm.com/images/SJM/btn_pause.gif*/ no-repeat scroll 0 0 transparent; }
.naviContainer #pausePlayButton.pause:hover { background-position:0 -20px; }
