ul.socializewithus {
    background-color:#ffffff;
    border-radius: 5px;
    padding-bottom:5px;
    padding-top:5px;
    display: inline-block;
    list-style-type: none;
    width: 100%
}
ul.socializewithus > li {
    display: inline-block;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}
 ul.socializewithus > li > span {
     color: #ff7900;
     padding: 0;
     margin: 0;
     font-size: 14px;
     font-weight: bold;
     position: relative;
     top: 2px;
 }