ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:0;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:0;}
ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%;}
ol.bjqs-markers.h-centered{text-align: center;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{
	display: inline-block;
	font-size: 9px;
}
p.bjqs-caption{
	display: block;
	width: 96%;
	margin: 0;
	padding: 2%;
	position: absolute;
	bottom: 0;
	left: 0;
	color:#fff;
	margin-bottom:10;
	
}
#banner-fade,
#banner-slide{
	width:320;
	height:220;
	margin-bottom: 5px;
}

ul.bjqs-controls.v-centered li a{
	display:block;
	padding:10px;
	background:#fff;
	color:#000;
	text-decoration: none;
}

ul.bjqs-controls.v-centered li a:hover{
	background:#000;
	color:#fff;
	text-decoration: none;
}

ol.bjqs-markers li a{
	padding: 2px 5px;
	color: #fff;
	margin: 5px;
	background-color: #666;
	text-decoration: none;
}

ol.bjqs-markers li.active-marker a,
ol.bjqs-markers li a:hover{
	background: #999;
}

p.bjqs-caption{
	/*
	background-color: rgba(255,255,255,0.7);
	background-color: rgb(255,255,255);
	background-color:transparent;
	
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#77ffffff, endColorstr=#77ffffff);
	*/

/* For IE 8*/
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";

}