body{
background: #000033;
font-family: 'Open Sans', sans-serif;
}
.container{
background: #fff;  
}
.nav-header table {
    position:relative;
    width:100%;
}
.nav-header img {
    padding: 10px 10px;
}
.img-tagline {
padding-left: 400px;
}
.navbar-default {
background-color: #fff;
border-color: #fff;
}

.navbar-collapse {
padding-right: 0px;
padding-left: 0px;
}

.nav-justified > li > a {
min-height: 72px;
}
@media(max-width:768px){
    .nav-justified > li > a {
        min-height: 0;
    }
    .nav-justified {
        max-height: 0;
    }
    .tabmaster{
        margin-top:0;
    }
}
@media(max-width:400px){
    .nav-header table{
        position:relative;
    }
    .navbar img{
        position:absolute;
        top:0;
        bottom:0;
        margin:auto;
        width:28%;
    }
    .nav-justified > li > a {
        min-height: 0;
    }
    .nav-justified {
        max-height: 0;
    }
}

.nav-justified {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 100%;
}

.nav-justified > li > a {
padding:15px 8px;
margin-bottom: 0;
font-weight: bold;
color: #000066;
text-align: center;
background-color: #F3F2D6;
background-image: -webkit-gradient(linear, left top, left bottom, from(#E2E1BA), to(#F3F2D6));
background-image: -webkit-linear-gradient(top, #E2E1BA 0%, #F3F2D6 100%);
background-image: -o-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
background-image: -webkit-gradient(linear, left top, left bottom, from(top), color-stop(0%, #E2E1BA), to(#F3F2D6));
background-image: linear-gradient(top, #E2E1BA 0%, #F3F2D6 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E2E1BA', endColorstr='#F3F2D6',GradientType=0 );
background-repeat: repeat-x;
border-bottom: 1px solid #E2E1BA;
border-right: 1px solid #d5d5d5;
border-left: 1px solid #fff;
}

.nav-justified > li > a:hover,
.nav-justified > li > a:focus {
  background-color: #F3F2DD;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}
.nav-justified .active{
background-color: #DDD!important;
background-image: none!important;
-webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.15)!important;
box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.15)!important;
}

.nav-justified > li:first-child > a {
  border-radius: 5px 5px 0 0;
}
.nav-justified > li:last-child > a {
  border-bottom: 0;
  border-radius: 0 0 5px 5px;
}

.tabmaster{
  margin-top: 40px;
  padding-left: 5%;
  padding-right: 5%;
}
.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}
.footer > span {
  font-size:12px;
}