
h2{
	padding: 5px 0px 10px 0px;
}
h4{
	color: #666633;
	padding: 5px 0px;
    font-weight:bold;
}
h5{
	color: #666633;
	font-size:14px;
	font-weight: bold;
}

a {
	color: #6699CC;
    cursor:pointer;
}
a:hover {
	color: #666633;
}
.disclaimer p {
	border: double 3px #B8A065;
	font-size: 9px;
	background-color: #EEEDCC;
	padding: 10px 0 10px 20px;
}


/*	modified */
.collapsibleLink{
    color:#000066;
    font-size:13px;
    display:table;
    border-bottom:2px;
    height:25px;
    padding:5px 10px 0px 10px;
    margin: 2px 10px;
}

.hhrPropertyTable{
    margin-top:10px;
    margin-bottom:10px;
    
}
.collapsibleLink > span{
    font-variant:small-caps;
    font-weight:bold;
}
.disclaimer{
    font-size: 10px; 
    font-style: italic
}
.mainColumn {
    vertical-align:top;
	padding: 8px 5px;
}
.mainColumnImg{
    padding-left:5px;
    float:right;
}
.rightColumn {
    vertical-align:top;
	padding: 12px 5px;
	font-size:12px;
	width: 260px;
}
.rightColumn > table {
    border-collapse:collapse;
    background-color:#eeedcc;
}
.rightColumn > table > tbody > tr > td {
    padding: 1px 4px;
}
.rightColumnDown {
	padding: 8px 5px;
	font-size:12px;
}
.highlightBox {
	border: 3px double #B8A065;
	background-color: #EEEDCC;
    padding:10px;
	
}
.highlightBox3 {
	border: 3px double #B8A065;
	background-color: #EEEDCC;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 0px;
    margin:10px;
}
.hhrList {
    padding-top:8px;
    padding-bottom:10px;
}
.hhrList > li{
    margin: 0 0 10px 0;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
padding: 1px 4px;
line-height: 1.42857143;
vertical-align: middle;
border-top: 0px solid #ddd;
text-align:left;
}

.managerPro > table > tbody > tr > td{
    padding:8px;
}
.managerPro > table > tbody >tr >td > p{
    padding-top:5px;
}   

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}

/*
WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
now override the 3.3 new styles for modern browsers & apply opacity
*/


@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}