.ui-tabs {
  padding: 0px !important;
  border: 0px;
}
.ui-tabs .item-list {
  border: 0px;
  margin: 0px;
  padding: 0px;
}
.ui-tabs .item-list ul.ui-tabs-nav {
  padding: 0px !important;
  margin: 0px !important;
  border: 0px;
}
.ui-tabs .item-list ul.ui-tabs-nav li {
  margin: 0px !important;
  padding: 0px;
  width: 33.333333%;
  border: 0px;
  height: 80px;
}
.ui-tabs .item-list ul.ui-tabs-nav li a {
  line-height: 3.3em;
  font-size: 19px;
  font-weight: normal;
}
.ui-tabs .ui-tabs-panel {
  padding: 0px !important;
}
