/*	!!Variables	*/
/*
	Orange: #dd9d46;
	Blue: #303a71;
	Greenish Bkgd: #f1fbef
*/	

/*	!!Eric Meyer Reset	*/
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*	!! /Eric Meyer Reset	*/


body{
	background:#fff none;
/*	color:#4d4e53;*/
	color:#4d4e53;
	font:12px arial, sans-serif;
	text-align:center;
}

h1, h2, h3, h4, h5, h6{
	margin:0;
}

h1{
	font-size:19px;
}

h2{
	font-size:14px;
	margin:0 0 5px;
}

h3{
	font-size:13px;
}

h4{
	font-size:1em;
}

p{
	margin:0 0 1em;
}

img{
	border-style:none;
}

a:link, a:visited{
	color:#639ec8;
}
		
a:hover, a:active{
	color:#303a71;	
}

table{
	border-style:none;
	margin:0 0 1.5em;
	padding:0;
	width:100%;
}

caption{
	font-size:14px;
	font-weight:bold;
	text-align:left;
}

th{
	font-weight:bold;
	ont-size:100%;
	padding:3px;
}

td{
	font-size:100%;
	padding:3px;
}

tr.alt{
	background:#f1fbef none;
}

#wrapper{
	text-align:left;
	margin:0 auto;
	width:984px;
}

/*	!!Header	*/
#header{
	overflow:auto;
	position:relative;
}

#logo{
	display:inline;
	float:left;
	margin:15px;
}

#stock{
	display:inline;
	float:right;
	font-size:10px;
	margin:2em 0;
	text-align:right;
	width:50%;
}

#stock1{
	display:inline;
	float:right;
	font-size:10px;
	margin:2em 0;
	text-align:right;
	width:5%;
}

/*	!!navtop	*/
#navtop
{
	/*2013 KC rewamp enhancement
	background:#303a71 none;*/
	background:#303a71 none;
	border-radius:10px 10px 10px 0;
	-moz-border-radius:10px 10px 10px 0;
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	-webkit-border-bottom-left-radius:0;
	behavior: url(../js/pie.htc)/*tpa=http://www.kimberly-clark.com/js/pie.htc*/;
	color:#fff;
	font-weight:bold;
	overflow:hidden;
}

#navtop ul{ 
	display:inline;
	height:30px;
	float:left;
	list-style:none;
	margin:0;
	padding:0;
	width:50%;
}

#navtwo{
	font-weight:normal;
	text-align:right;
}

#navtop li{
	display:inline;
	float:left;
	left:1px;
	position:relative;
	white-space:nowrap;
}

#navtop a{
	color:#fff;
	display:block;
	line-height:20px;
	margin:5px 0 0;
	padding:0 15px 10px;
	text-decoration:none;
}

#navtop label{
	color:#fff;
	font-weight:normal;
	line-height:30px;
}

#txtSearch{
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;	
	behavior: url(../js/pie.htc)/*tpa=http://www.kimberly-clark.com/js/pie.htc*/;
	border-style:none;
	margin:0 0 0 5px;
}

#navtop a.primaryselect{
	background:#fff none;
	border-radius:10px 10px 0 0;
	-moz-border-radius:10px 10px 0 0;
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-webkit-border-bottom-right-radius:0;
	-webkit-border-bottom-left-radius:0;
	behavior: url(../js/pie.htc)/*tpa=http://www.kimberly-clark.com/js/pie.htc*/;
	color:#303a71;
}

/*	!!content	*/
#main{
	display:inline;
	float:left;
	margin:0 0 10px;
	position:relative;
	width:100%;
}

#container{
	border-width:0 1px 1px;
	border-style:solid;
	border-color:#303a71;
	border-radius:0 0 10px 10px;
	-moz-border-radius:0 0 10px 10px;
	-webkit-border-top-left-radius:0;
	-webkit-border-top-right-radius:0;
	-webkit-border-bottom-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	behavior: url(../js/pie.htc)/*tpa=http://www.kimberly-clark.com/js/pie.htc*/;
	display:inline;
	float:left;
	padding:10px;
	width:746px;	
}


#widgets{
	/*background:#6c6c6c none;*/
	display:inline;
	float:right;
	margin:10px 0;
	width:206px;
}

#nav{
	/*background:#999 none;*/
	display:inline;
	float:left;
	min-height:1px;
	width:188px;
}

#nav h3{
	margin:0 0 10px;
}

#nav h3 a:link, #nav h3 a:visited{
	color:#000;
}
		
#nav h3 a:hover, #nav h3 a:active{
	color:#000;
}

#nav ul{
	list-style:none;
	margin:0;
	padding:0;
}

#nav li{
	font-size:12px;
	margin:0 0 7px;
}

#nav ul ul ul{
	display:none;
	margin:0 0 0 1em;
}

#nav ul ul .current + ul{
	display:block;
}

#nav a{
	background:transparent none no-repeat left center;
	display:block;
	padding:0 0 3px 10px;
}

#nav a.current{
	background-image:url(../images/bull.png)/*tpa=http://www.kimberly-clark.com/images/bull.png*/;
}

#nav a:link, #nav a:visited{
	color:#639ec8;
	text-decoration:none;
}
		
#nav a:hover, #nav a:active{
	color:#639ec8;
	text-decoration:underline;		
}

#content{
	/*background:#cdcdcd none;*/
	display:inline;
	float:left;
	width:558px;
}

#nav li li{
	font-size:11px;
	margin:0 0 3px;
}

#nav li li a{
	color:#4d4e53;
}

#nav li li a:link, #nav li li a:visited{
	color:#4d4e53;
	text-decoration:none;
}
		
#nav li li a:hover, #nav li li a:active{
	color:#4d4e53;
	text-decoration:underline;		
}

#nav li li li{
	font-size:11px;
	margin:0 0 3px;
}

/*	!!Homepage	*/

#homecontent{
	height:513px;
	position:relative;
	width:859px;
}

.homecontent1{
	background:#fff url(Unknown_83_filename)/*tpa=http://www.kimberly-clark.com/images/homepage1.jpg*/ no-repeat top left;
}

.news{
	background:transparent url(../images/fade.png)/*tpa=http://www.kimberly-clark.com/images/fade.png*/ repeat top left;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	behavior: url(../js/pie.htc)/*tpa=http://www.kimberly-clark.com/js/pie.htc*/;
	bottom:25px;
	left:100px;
	min-height:80px;
	padding:10px;
	position:absolute;
	width:295px;
    z-index:3;
}


.news a{
	color:#1c1e1c;
}

#news2{
	left:435px;
}

.newslist{
	list-style:none;
	margin:0 0 -.5em;
	padding:0;
}

.newslist li{
	font-size:11px;
	margin:0 0 .5em;
}

.subheading{
	color:#910012;
	font-weight:bold;
}

#brandribbon{
    height:497px;
    left:859px;
    overflow:hidden;
    position:absolute;
    top:15px;
    width:123px;
}

#br_ul{ 
    left:0;
    list-style:none;
    margin:0;
    padding:0;
    position:absolute;
    width:100%;
}

#br_ul li{
    position:relative;
    text-align:center;
    width:100%;
}

#br_ul img{
	padding-bottom:20px;
	width:100px;
}

/*	!!footer	*/
#footer
{
	/*2013 KC rewamp enhancement*/
	background:#B3B3B3 none;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	behavior: url(../js/pie.htc)/*tpa=http://www.kimberly-clark.com/js/pie.htc*/;
	clear:both;	
	color:#4d4e53;
	overflow:hidden;
	padding:10px;
}

/*
#footer
{
	background:#dd9d46 none;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	behavior: url(/js/pie.htc);
	clear:both;	
	color:#4d4e53;
	overflow:hidden;
	padding:10px;
}*/


#footer div{
	display:inline;
	float:left;
	font-size:12px;
	margin:0 3%;
	width:15%;
}

#footer ul{ 
	list-style:none;
	margin:0;
	padding:0;
}

#footer h4{
	font-size:12px;
}

#footer a{
	color:#4d4e53;
	text-decoration:none;
}

#footer #ftLinks{
	font-size:12px;
	margin:0 4%;
	width:28%;
}

.icon{
	background:transparent none no-repeat left center;
	padding:0 0 0 19px;
}

#lnk-twitter{
	background-image:url(../images/ico_twitter.png)/*tpa=http://www.kimberly-clark.com/images/ico_twitter.png*/;
}

#lnk-facebook{
	background-image:url(../images/ico_fb.png)/*tpa=http://www.kimberly-clark.com/images/ico_fb.png*/;
}

#lnk-rss{
	background-image:url(../images/ico_rss.png)/*tpa=http://www.kimberly-clark.com/images/ico_rss.png*/;
}

#selLinks{
	margin:1em 0 0;
}

#selLinksGo, #subFeatureSearch{
	cursor:pointer;
	padding:1px 3px;
	vertical-align:bottom;;
}

#subFooter{
	color:#6d6e65;
	font-size:10px;
	margin:2px 0 0;
	text-align:right
}

#subFooter a{
	color:#6d6e65;
}

/*	!!Templates	*/
	
.article{
	display:inline;
	float:left;
	width:100%;
}

.article h1
{
	/*2013 KC rewamp enhancement
	color:#303a71;*/
	border-bottom:2px solid #B3B3B3;
	color:#303a71;
	margin:0 0 10px -10px;
	padding:0 0 5px 10px;
}

/* 2013 KC rewamp enhancement */

#pgheader{
	display:inline;
	float:left;
	width:100%;
}

#pgheader h1
{
	border-bottom: 2px solid #B3B3B3;
	color: #303A71;
    	margin: 0 0 10px -10px;
    	text-align: left;
    	width: 90%;
}


#images{
	float:right;
	width:200px;
}

#images img{
	margin:0 0 10px;
	width:100%;
}

.bodycopy{
	display:inline;
	float:left;
	width:348px;	
}

.bodycopy li{
	list-style:disc;
	margin:0 0 0 1.25em;
}

.b .bodycopy{
	width:262px;
}

.b #images{
	display:inline;
	float:left;
	margin-right:10px;
	width:286px;
}

.c1 #images{

}

.c1 .bodycopy{

}

.c2 .bodycopy{
	width:540px;
}

.c2 img{
	display:block;
	margin:0 0 10px;
	width:540px;
}

.c3 .bodycopy{
	width:540px;
}

.c3 img{
	display:block;
	margin:0 0 10px;
	width:540px;
}

.c4 .bodycopy{
	margin-bottom:1.5em;
	width:360px;
}

.fullwidth #container{
	width:962px;
}

.fullwidth #navtop{
	border-radius:10px 10px 0 0;
	-moz-border-radius:10px 10px 0 0;
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-webkit-border-bottom-right-radius:0;
	-webkit-border-bottom-left-radius:0;
}

.fullwidth #content{
	width:774px;
}

.fullwidth .bodycopy{
	width:auto;
}
	
#secondary{
	background:#f1fbef;
	clear:both;
	color:#4d4e53;
	margin:0 0 0 -10px;
	overflow:hidden;
	padding:10px;
	width:550px;
}

#secondary h3{
	margin:0 0 3px;
}

#secondary ul{
	list-style:none;
	margin:0;
	padding:0;
}

#secondary li{
	margin:3px 0;
}

#secondary ul b{
	padding-right:1em;
}

.accordion{
	clear:both;
	border-bottom:1px solid #303a71;
}

.ui-accordion-content{
	overflow:hidden;
	padding-left: 24px;
}

.accordion img{
	display:inline;
	float:left;
	margin:0 12px 6px 0;
	width:85px;
}

.d1a #cnam{
	display:block;
}

.accordion h3{
	background:transparent url(../images/ico_plus.jpg)/*tpa=http://www.kimberly-clark.com/images/ico_plus.jpg*/ no-repeat 5px center;
	border-top:1px solid #303a71;
	cursor:pointer;
	outline:none;
	padding:3px 0 3px 25px;
}

.accordion h3.ui-state-active{
	background-image:url(../images/ico_minus.jpg)/*tpa=http://www.kimberly-clark.com/images/ico_minus.jpg*/;
}

.accordion td{
	padding-bottom:2em;
}

#continentlist{
	border-bottom:2px solid #303a71;
	display:inline;
	float:left;
	margin:0 0 1em;
	width:100%;
}

#continentlist li{
	display:inline;
	float:left;
	margin-left:8px;
	width:100px
}

#continentlist a{
	border-width:1px;
	border-style:solid solid none;
	border-color: #303a71;
	border-radius:5px 5px 0 0;
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:0;
	-webkit-border-bottom-left-radius:0;
	behavior: url(../js/pie.htc)/*tpa=http://www.kimberly-clark.com/js/pie.htc*/;
	color:#303a71;
	display:block;
	font-weight:bold;
	padding:5px 0;
	text-align:center;
	text-decoration:none;
}

#continentlist a.sel{
	background:#EEEEEE none;
	border-color:#303a71;
}

/*
#secondary a:link, #secondary a:visited{
	color:#4d4e53;
}
		
#secondary a:hover, #secondary a:active{
	color:#000;
}
*/

.cols{
	margin:0 0 1em;
}

.cols + h2, .cols + div, .cols + p {
	clear:both;
}

.cols img{
	display:inline;
	float:left;
	margin:0 10px 0 0;
	width:85px;
}

.colunit{
	display:inline;
	float:left;
	margin:0 0 10px;
	width:279px;
}

.colunitcopy{
	display:inline;
	float:left;
	width:165px;
}

.brandcolumns{
	display:inline;
	float:left;
	margin:0 12px 1em 0;
	width:120px;
}

.accordion img.D1aBottom, .D1aBottom{
	clear:both;
	display:block;
	left:-6px;
	position:relative;
	width:540px;
}

.cuclong{
	width:240px;
}

img + .cuclong{
	width:165px;
}

.box{
	display:inline;
	float:left;
	width:259px
}

.box + .box{
	margin-left:20px;
}

#featureSearch{
	margin:0 0 1em;
	text-align:right;
}

.gobutton {
	position: relative;
	top: 3px;
}

.storynav a{
	padding:0 3px;
}

.storynav a:link, .storynav a:visited{
	color:#303a71;
	text-decoration:none;
}
		
.storynav a:hover, .storynav a:active{
	color:#dd9d46;
	text-decoration:underline;
}

.storynav a.selected{
	color:#dd9d46;
	text-decoration:underline;
}

#featured_times{
	border-bottom:1px solid #303a71;
	margin:0 0 5px;
	padding:0 0 5px 5px;
}

#featured_cats{
	margin:0 0 2em;
	padding:0 0 0 5px;
}

.pagination {
	float: left;
	text-align: center;
	width: 100%;
}

.pagination .prev {
	float: left;
}

.pagination .next {
	float: right;
}

.story{
	border-bottom:1px solid #303a71;
	display:inline;
	float:left;
	margin:0 0 10px;
	padding:0 0 10px 5px;
	width:100%;
}

.story img{
	display:inline;
	float:left;
	margin:0 15px 0 0;
	width:130px;
}

.storycontent{
	display:inline;
	float:left;
	width:395px;
}

.eventtitle{
	margin:0 0 5px 5px;
}

.eventlist {
	border-top:1px solid #303a71;
	margin:0 0 10px;
	overflow:hidden;
}

.eventlist li{
	border-bottom:1px solid #303a71;
	display:inline;
	float:left;
	padding:3px 5px;
	width:100%;
	
}

.eventlist h4{
	clear:left;
	display:inline;
	float:left;
	padding:0 10px 0 0;
	width:150px;
}

.eventlist p{
	display:inline;
	float:left;
	display:inline;
	margin:0;
	width:380px;
}

#mediasearch{
	background:#f1fbef none;
	margin:0 0 10px;
	padding:5px;
}

#mediasearch b{
	padding:0 10px;
}

#mediasearch a{

}

.galleryhead{
	clear:both;
	color:#303a71;
	margin:0 0 10px;
}

.gallery{
	border-bottom:1px solid #303a71;
	display:inline;
	float:left;
	margin:0 0 1em;
	width:100%;
}

.lastgallery{
	border-style:none;
}

.assethead{
	clear:both;
	margin:0 0 5px;
}

.asset{
	border-bottom:1px solid #f1fbef;
	display:inline;
	float:left;
	margin:0 0 1em;
	padding:0 0 1em;
	width:500px;
}

.assetthumb{
	float:right;
	width:170px;
	
}

#contact_form{
	clear:both;
	width:100%;
}

#contact_form label{
	cursor:pointer;
	display:block;
	font-weight:bold;
}

.d3 .article label{
	clear:both;
	cursor:pointer;
	display:block;
	font-weight:bold;
}

/*	!!Flash Content	*/
#flashcontentmap{
	left:-12px;
	position:relative;
}

#media_overlay{
	background-color:#303a71;
	border:3px solid #fff;
	-moz-box-shadow:0 0 15px #000;
	-webkit-box-shadow:0 0 15px #000;;
	box-shadow:0 0 15px #000;
	display:none;
	height:450px;
	left:167px;
	position:absolute;
	top:50px;
	width:650px;
	z-index:2;
}

#mo_flash{
	display:block;
	height:100%;
	position:relative;
	width:100%;
	z-index:1;
}

#mo_video{
	display:block;
	margin:25px auto 0;
}

#mo_close{
	cursor:pointer;
	position:absolute;
	right:-15px;
	top:-15px;
	z-index:2;
}

/*	!!Widgets	*/
.widget{
	margin:0 15px 2em;
	position:relative;
}
	
.widget h3{
	color:#303a71;
}	
	
.widget img{
	max-width:216px;
}

.connect_widget_list .social{
	background:transparent none no-repeat left center;
	display:block;
	margin:2px 0;
	min-height:16px;
	padding:0 0 0 20px;
}

.connect_widget_list .rss{
	background-image:url(../images/ico_rss.png)/*tpa=http://www.kimberly-clark.com/images/ico_rss.png*/;
}

.connect_widget_list .twitter{
	background-image:url(../images/ico_twitter.png)/*tpa=http://www.kimberly-clark.com/images/ico_twitter.png*/;
}

.connect_widget_list .facebook{
	background-image:url(../images/ico_fb.png)/*tpa=http://www.kimberly-clark.com/images/ico_fb.png*/;
}

.gallery_container{
	overflow:hidden;
	position:relative;
	width:200px;
}

.gallery_list{

}

.gallery_list li{
	position:absolute;
	text-align:center;
	top:0;
	width:200px;
}

.gallery_list p{
	margin-left: 24px;
	text-align:left;
	width: 150px;
}

.gallery_list img{
	height:100px;
	width:150px;
}

.gl_controls{
	cursor:pointer;
	padding:3px;
	position:absolute;
	top:40px;
}

#gl_fwd{
	left:0;
}

#gl_rev{
	right:0;
}

#toolbar{
	border:1px solid #ddd;
	border-radius:0 10px 10px 0;
	-moz-border-radius:0 10px 10px 0;
	-webkit-border-top-left-radius:0;
	-webkit-border-top-right-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	-webkit-border-bottom-left-radius:0;
	behavior: url(../js/pie.htc)/*tpa=http://www.kimberly-clark.com/js/pie.htc*/;
	width:175px;
}

/*	!!Site Map	*/
.sitemap ul{
}

.sitemap ul ul{
	margin:0 0 0 2em;
}

.sitemap > div > ul > li {
	margin: 0 0 1em;
}

.sitemap > div > ul > li > a{
	font-size: 140%;
	font-weight:bold;
}

/*	!!Content Page	*/
/*
.contentpage{
	
}

.contentpage img{
	float:right;
	width:200px;
}*/

/*	!!Search	*/
#searchframe{
	border-style:none;
	background:#fff;
	height:1360px;
	width:100%;
}

/*	!!Cycled Content	*/
.cyclenews{
	overflow:hidden;
	position:relative;
}

.cyclecopy{
	position:absolute;
	top:0;
	left:0;
}

.errorPage{
	margin-top:50px;
	height:425px;
	/*position:relative;
	width:859px;*/
}
/*
.msie .v90 BODY {
      OVERFLOW-X: auto; OVERFLOW: scroll
}
.mozilla BODY {
      OVERFLOW-X: auto; OVERFLOW: scroll
}
.opera BODY {
      OVERFLOW-X: auto; OVERFLOW: scroll
}
.safari BODY {
      OVERFLOW-X: auto; OVERFLOW: scroll
}
.js BODY {
      
}

#rightcontent .img {
      MARGIN-BOTTOM: 5px
}
#rightcontent .title {
      PADDING-BOTTOM: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; MARGIN-BOTTOM: 5px; COLOR: #636466; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
#rightcontent .content {
      PADDING-BOTTOM: 20px; LINE-HEIGHT: 18px; COLOR: #666666
}
#rightcontent .link {
      
}
#rightcontent .line {
      BORDER-BOTTOM: #e0e0e0 1px solid; LINE-HEIGHT: 0px; MARGIN-TOP: 2px; WIDTH: 100%; MARGIN-BOTTOM: 5px; HEIGHT: 1px; CLEAR: both; FONT-SIZE: 0px
}
.clear {
      CLEAR: both
}
.wrap:after {
      DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: '[DO NOT LEAVE IT IS NOT REAL]'
}
.wrap {
      MARGIN: 0px auto; WIDTH: 100%; DISPLAY: block; OVERFLOW: hidden
}
.divright {
      FLOAT: right
}


IMG {
      MAX-WIDTH: 100%; MAX-HEIGHT: 100%
}
BODY {
      BACKGROUND-COLOR: #ffffff; MARGIN: 0px auto; WIDTH: 1000px; DISPLAY: block; OVERFLOW: auto
}

#rightcontent {
      OVERFLOW: hidden
}
.rightwidgetcontent UL {
      LIST-STYLE: none none outside; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.rightwidgetcontent .content {
      PADDING-BOTTOM: 20px; LINE-HEIGHT: 18px; COLOR: #666666
}
.rightwidgetcontent .img {
      TEXT-ALIGN: center; MARGIN-BOTTOM: 5px
}
.rightwidgetcontent .title {
      PADDING-BOTTOM: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; MARGIN-BOTTOM: 5px; COLOR: #636466; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 0px
}

#content_right {
      TEXT-ALIGN: left; WIDTH: 125px; FLOAT: left
}
#slider_right_head {
      BACKGROUND-IMAGE: url(/images/index-slider-right-top.png); WIDTH: 100%; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 50% top; HEIGHT: 11px
}
#slider_right_bottom {
      BACKGROUND-IMAGE: url(/images/index-slider-right-bottom.png); WIDTH: 100%; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 50% bottom; HEIGHT: 11px
}
#slider_right_div {
      TEXT-ALIGN: left; WIDTH: 100%
}
.slider_right_ul {
      PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.slider_right_ul LI {
      TEXT-ALIGN: center; LINE-HEIGHT: 0; DISPLAY: block; MARGIN-LEFT: auto; FONT-SIZE: 0px; MARGIN-RIGHT: auto; PADDING-TOP: 20px
}
.slider_right_ul LI IMG {
      
}

#totalcontainer{
    height:497px;
    left:859px;
    overflow:hidden;
    position:absolute;
    top:15px;
    width:123px;
}*/

