.msie .v90 BODY {
      OVERFLOW-X: auto; OVERFLOW: scroll
}
.mozilla BODY {
      OVERFLOW-X: auto; OVERFLOW: scroll
}
.opera BODY {
      OVERFLOW-X: auto; OVERFLOW: scroll
}
.safari BODY {
      OVERFLOW-X: auto; OVERFLOW: scroll
}
.js BODY {
      
}

#rightcontent .img {
      MARGIN-BOTTOM: 5px
}
#rightcontent .title {
      PADDING-BOTTOM: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; MARGIN-BOTTOM: 5px; COLOR: #636466; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
#rightcontent .content {
      PADDING-BOTTOM: 20px; LINE-HEIGHT: 18px; COLOR: #666666
}
#rightcontent .link {
      
}
#rightcontent .line {
      BORDER-BOTTOM: #e0e0e0 1px solid; LINE-HEIGHT: 0px; MARGIN-TOP: 2px; WIDTH: 100%; MARGIN-BOTTOM: 5px; HEIGHT: 1px; CLEAR: both; FONT-SIZE: 0px
}
.clear {
      CLEAR: both
}
.wrap:after {
      DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: '[DO NOT LEAVE IT IS NOT REAL]'
}
.wrap {
      MARGIN: 0px auto; WIDTH: 100%; DISPLAY: block; OVERFLOW: hidden
}
.divright {
      FLOAT: right
}

/*
IMG {
      MAX-WIDTH: 90%; MAX-HEIGHT: 100%
}
BODY {
      BACKGROUND-COLOR: #ffffff; MARGIN: 0px auto; WIDTH: 1000px; DISPLAY: block; OVERFLOW: auto
}*/

#rightcontent {
      OVERFLOW: hidden
}
.rightwidgetcontent UL {
      LIST-STYLE: none none outside; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.rightwidgetcontent .content {
      PADDING-BOTTOM: 20px; LINE-HEIGHT: 18px; COLOR: #666666
}
.rightwidgetcontent .img {
      TEXT-ALIGN: center; MARGIN-BOTTOM: 5px
}
.rightwidgetcontent .title {
      PADDING-BOTTOM: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; MARGIN-BOTTOM: 5px; COLOR: #636466; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
#content_right {
      TEXT-ALIGN: left; WIDTH: 123px; FLOAT: left
}
#slider_right_head {
      BACKGROUND-IMAGE: url(../images/index-slider-right-top.png)/*tpa=http://www.kimberly-clark.com/images/index-slider-right-top.png*/; WIDTH: 100%;  BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION:top; HEIGHT:11px
}
#slider_right_bottom {
     BACKGROUND-IMAGE: url(../images/index-slider-right-bottom.png)/*tpa=http://www.kimberly-clark.com/images/index-slider-right-bottom.png*/; WIDTH: 100%; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION:bottom; HEIGHT: 11px
}
#slider_right_div {
      TEXT-ALIGN: center; WIDTH: 100%; 
}
.slider_right_ul {
      PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.slider_right_ul LI {
      TEXT-ALIGN: center; LINE-HEIGHT: 0; DISPLAY: block; MARGIN-LEFT: auto; FONT-SIZE: 0px; MARGIN-RIGHT: auto; PADDING-TOP: 20px
}
.slider_right_ul LI IMG 
{
      
}

#totalcontainer{
    height:533px;
    left:860px;
    overflow:hidden;
    position:absolute;
    top:0px;
    width:125px;
    
}

