@import url("../en-US/css/typography.css")/*tpa=http://www.cbre.com/Style%20Library/region/en-US/css/typography.css*/;

/* @override 
	
*/
@media print {
/**
 * Print styles taken from HTML5 Boilerplate
 *
 * style.css contains a reset, font normalization and some base styles.
 */
* {
	background:transparent!important;
	/*color:#000!important;*/
	text-shadow:none!important;
	filter:none!important;
	-ms-filter:none!important
}

/* Black prints faster: sanbeiji.com/archives/953 */
a,a:visited {
	/*color:#444!important;*/
	font-weight: bold;
	text-decoration: none;
}

a[href]:after {
	/*content:" (" attr(href) ")"*/
}

abbr[title]:after {
	content:" (" attr(title) ")"
}

.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after {
	content:""
}

/* Don't show links for images, or javascript/internal links */
pre,blockquote {
	border:1px solid #999;
	page-break-inside:avoid
}

thead {
	display:table-header-group
}

/* css-discuss.incutio.com/wiki/Printing_Tables */
tr,img {
	page-break-inside:avoid
}

img {
	max-width:100%!important
}

@page {
	margin:1.75cm
}

p,h2,h3 {
	orphans:3;
	widows:3
}

h2,h3 {
	page-break-after:avoid
}

/**
 * Custom print styles.
 * Customized for CBRE US. Version 1.0
 * Author: Square360
 */

/* General layout */
#topNavigation,
.nav-offices, .nav-login, .search,
.footer-links, 
.footer-legal,
.social-links,
.tools-container,
.nav-language,
.s4-notdlg {
	display:none;
	visibility:hidden
}
#titlerow {
	display:block;
	visibility:visible
	/*border-bottom: #000 2px solid;*/
}

#titlerow a[href]:after {
	content:""
}
.logo:before {
	content: url(../../images/cbre-logo.png)/*tpa=http://www.cbre.com/Style%20Library/images/cbre-logo.png*/;
}
.logo a {
	display: none;
}
.logo, .country {
	display: inline;
	font-size: 13pt;
	font-weight: bold;
	margin: 0 10pt 0 0;
}
.s4-wpcell-plain .s4-wpTopTable {
	padding-bottom: 30pt
}

#mainarea:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0
}

div.content-container {
	width:  100%;
	overflow: hidden;
}

div.content-container div.main-content {
	width: 65%;
}
.floatRight {
	float: right;
	margin: 0 0 20px 20px;
}

/* Homepage layout */
.bottom-section {
	display:none;
	visibility:hidden
}
.news-home a {
	display: block;
}
.news-home ul, .news-home li {
	list-style: none;
	margin: 5pt 0;
	padding: 0;
}
.news-home h6 {
	margin: 0 !important;
	padding: 0 !important;
}

/* Slider layout */
.slider {
	display:none;
}
.slider-home .slider, .slider-accolades .slider, 
.slider-globalaccolades .slider, .slider-globalhome .slider{
	display: block;
}
.slider-img { 
	float: right;
	margin: 0 0 0 5%;
	max-width: 35%;
}
.slider-content{
	float: left;
	max-width: 60%;
}

.slider-accolades .slider-img,
.slider-globalaccolades .slider-img { 
	float: right;
	margin: 0 0 0 5%;
	max-width: 25%;
}
.slider-accolades .slider-content,
.slider-globalaccolades .slider-content {
	float: left;
	max-width: 70%;
}
.slider-panel {
	border-top: #e5e5e5 1pt solid;
	float: none;
	display: block !important;
	padding: 1em 0;
	page-break-inside:avoid;
}
.slider-panel.cloned {
	display: none !important;
}
.slider-panel:first-child,
.slider-panel.cloned + .slider-panel{
	border-top: none;
}
.slider:after,
.slider-panel:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0
}

/* Page layout */
#page-navigation,
.iconEmail,
.article object {
	display:none;
	visibility:hidden
}
#breadcrumb{
 margin:5pt 0 20pt;
}
.article,
.article.fullpage .page-text  {
	float: left;
	width: 60%
}
.article.fullpage, .main-content .article.article-body  {
	float: none;
	width: auto
}
.sidebar {
	clear:right;
	float: right;
	width: 30%
}

.article hr {
	background: #F2F2F2;
	border: 0;
	color: #F2F2F2;
	height: 1px;
	margin: 5pt 0;
}

.news-teaser a {
	display: block;
}
.news-teaser ul, .news-teaser li,
ul.sitemap-list, .sitemap-list li {
	list-style: none;
	margin: .5em 0 !important;
	padding: 0 !important;
}
.news-teaser h6 {
	margin: 0 !important;
	padding: 0 !important;
}
#mainarea table {
	border-collapse: collapse;
	border-spacing: 0;
}

td.ms-wpTdSpace {
	display: none;
}

/* Sidebar */
.sidebar-primary .sidebar-block span {
	display: block;
}
.sidebar-primary .office-information.sidebar-block .office-city, .sidebar-primary .office-information.sidebar-block .office-province {
display: inline;
}
h3.ms-WPTitle,
.sidebar h3.office-name,
.sidebar h3.employee-name,
.sidebar-block h3 {
	border-top: #69BE28 3px solid;
	margin:10pt 0 0;
	padding: 5pt 0;
}
/* Employee listings block */ 
#mainarea .employee-list li { background: none; padding:0 0 10px; width: 140px; }
#mainarea .article-footer .employee-list li { float: left; margin: 0 20px 0 0; }
.employee-list ul { list-style: none; margin:0; padding: 0; }   
.employee-list li { padding: 0 0 10px;}
.employee-list li span {display: block; }
.employee-list li .employee-photo { float: left; padding: 0 7px 0 0; } 
.employee-list li .office-city, .employee-list li .office-province, .employee-list li .office-zip { display: inline; }

#MSO_ContentTable {
	margin:0
}

.licensing-info {
	display:none;
}

} /* End @media print*/