#searchContainer{
	top:-25px;
	left:36px;
}

#mainNavContainer div ul{
	position:absolute;
top:80px;
}


#mainNavContainer div.hovered {
	cursor : pointer;
background-color :#004475; 
background-image : url(../images/dropdown_hilite.png)/*tpa=http://www.lb.com/assets/images/dropdown_hilite.png*/;
background-repeat : no-repeat;
background-position : left top;
}

.submenuHover{
	background-image : url(../images/home_topnav_arrow.gif)/*tpa=http://www.lb.com/assets/images/home_topnav_arrow.gif*/;
background-repeat : no-repeat;
background-position : 15px 2px;
padding-left : 30px;
}
.submenuHover a{
	text-indent:10px;
}
.slideButton{
	border-bottom:5px solid #CCC;
}
#tabs .selected{
	border-bottom:5px solid #7F96AF;
}
#tabs .active{
	border-bottom:5px solid #013358;
}
#infoLogo {
background-image:url("../images/sitemap_logo.gif")/*tpa=http://www.lb.com/assets/images/sitemap_logo.gif*/;
}

#rightCol .col_header {
	height:20px;
}

#breadcrumb{
	width:940px;
}

#rightCol ul{
width:198px;
}

#leftCol {
margin-right:0px;
padding-right:20px;
}

#midTwoCol{
	width:720px;
}


/*
	investorRelations email is too long to fit into the required width, causing this box to be about 8pixels too wide.
	this fixes it with a couple pixels to spare.
*/
#rightNav div, #leftCol_additionalContent div{
	padding-right:10px;
}

.rh_column_rss{
	margin-bottom:0px;
	
	
}

#addThisFooter .addthis_button{
	top:1px;
}