/*
-----------------------------------------------------
INDEX.CFM ONLY - PAGE Definitions for DIV Layouts
-----------------------------------------------------
FileName:    Index.css
Version:     2006.05.01
-----------------------------------------------------
*/

body {
	background-color : #FFFFFF;
	background-image : url("../images/home_back.jpg")/*tpa=https://www.realogy.com/images/home_back.jpg*/;
	background-repeat: no-repeat;
	background-position : 2px 0px;
}
.MainContent {
	top              : 235px;
}
.FlashHeader {
	position         : absolute;
	left             : 0px;
	top              : 85px;
}
.MainSiteInfo {
	top              : 185px;
}
.MainPageContent {
	margin-top       : 90px;
}
.MainPageContent h2 {
	margin-top       : 0px;
	padding-top      : 0px;
}
.MainRightNav {
	margin-top       : 50px;
	background-image : none;
}
.MainContent {
	margin-top       : -50px;
}
.MainLeftNav {
	margin-top       : 60px;
	padding-right    : 20px;
	width            : 155px;
}
#valueCircleLinkBox {
	position         : absolute;
	top              : 280px;
	left             : 190px;
	color            : #000;
	font-size        : 85%; 
}
#valueCircleLinkBox a {
	color            : #E9BB2E;
}
#valueCircleLinkBox h3 {
	color            : #004837;
	font-family      : Arial, Verdana, Tahoma, sans-serif;
	margin           : 0px 0px -2px 0px;
	padding          : 0px 0px 0px 0px;
	font-size        : 130%;
}
#LeftNav ul {
	list-style-image : url(../images/gray_arrow_rt.gif)/*tpa=https://www.realogy.com/images/gray_arrow_rt.gif*/;
	padding          : 0px 0px 0px 0px;
	margin           : 0px 0px 0px 12px;
}
#LeftNav li {
	margin           : 0px 0px 4px 0px;
}
#LeftNav li a {
	color            : #000;
	text-decoration  : underline;
}
#LeftNav a:hover {
	text-decoration  : underline;
}
#CenterNav ul {
	margin-top       : 0px;
	margin-bottom    : 0px;
}
#CenterNav a.more {
	color            : #E9BB2E;
	font-size        : 85%;
}

/* new edits for resized template, homepage only */


body  {
    background-image: url("../images/home_back_2012.jpg")/*tpa=https://www.realogy.com/images/home_back_2012.jpg*/;
    background-position:2px -1px;
}


.home .MainPage, .home .MainHeader, .home .FlashHeader {
	width:960px;
}

.home .MainPageContent {
	width:560px;
	margin-top:97px;
}

.home #valueCircleLinkBox {
	display:none;
}

.home .MainLeftNav {
	margin-left:-797px;
	margin-top:128px;
}

.home .MainSiteInfo {
	top:245px;
}

.home .BreadCrumbSearch {
	top:25px;
	
}

.home #SiteSearch {
	margin-bottom:32px;
}

.siteSearchButton {
	position: absolute;
	right: 46px;
	top: -3px;
}

.home #CenterNav {
	left:19px;
}

.home #RightNav {
	padding-top:40px;
}

.home .colFix {
	padding-right:40px;
}

.home .leftFix {
	padding-left:8px;	
}

.slidesPagination {
	z-index: 50;
	position: absolute;
	bottom: 9px;
	left: 730px;
	margin: 0px;
	padding: 0px;
}
.slidesPagination li {
	width: 8px;
	height: 9px;
	overflow: hidden;
	float: left;
	display: block;
	margin-right: 5px;
	cursor: pointer;
	outline:none;
}
.slidesPagination li a {
	display: block;
	width: 8px;
	height: 9px;
	background: transparent url(../images/pagination-bullet.png)/*tpa=https://www.realogy.com/images/pagination-bullet.png*/ no-repeat scroll 0 0;
	text-indent: -999px;
	outline:none;
	noFocusLine: expression(this.onFocus=this.blur());
}

.slidesPagination li a:focus {
	outline:none;
}
.slidesPagination li.slidesCurrent a {
	background-position: 0px -9px;
}


#slides {
	position:relative;
	z-index:1;
	width:960px;
	height:260px;
}

#slidesWrapper {
	position:relative;
	width:960px;
	height:260px;
	z-index:2;
	top:0px;
	left:0px;
}

#slidesTopLayer {
	width:960px;
	position:absolute;
	height:260px;
	background:transparent url(../images/carousel-top-layer.png)/*tpa=https://www.realogy.com/images/carousel-top-layer.png*/ no-repeat scroll 0 0;
	z-index:3;
	top:0px;
	left:0px;
}


#slidesContent {
	position:absolute;
	top:0px;
	right:0px;
	margin:20px;	
	width:267px;
	height:200px;
	z-index:6;
}

#slidesContent div {
	display:none;
	position:absolute;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
}

#slidesContent div.activeContent {
	display:block;
}

#slidesContent h1 {
	color:#005847;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:26px;
	font-weight:600;
	line-height:29px;
	margin:0px;
	padding:0px;
}

#slidesContent ul {
	padding:0px;
	margin-top:12px;
}

#slidesContent ul li {
	list-style-type:none;
	font-family: 'Source Sans Pro', sans-serif;
	color:#7c754b;
	font-size:12px;
	font-size:12px;
	font-weight:normal;
	line-height:16px;
	background:transparent url(../images/cc-small-bullet.png)/*tpa=https://www.realogy.com/images/cc-small-bullet.png*/ no-repeat scroll 2px 8px;
	padding-left:10px;
	margin-bottom:5px;
}


#slidesContent ul li a {
	text-decoration:none;
	color:#7c754b;
}



#slidesContent ul li a:hover {
	text-decoration:underline;
}


#slidesContent ul.pane1List li {
	font-size:20px;
	font-weight:600;
	background:transparent url(../images/cc-bullet.png)/*tpa=https://www.realogy.com/images/cc-bullet.png*/ no-repeat scroll 2px 50%;
	margin-bottom:15px;
	padding-left:15px;
}


.loadingAnim {
	width:100%;
	height:100%;
	background:#FFFFFF url(../images/287.gif)/*tpa=https://www.realogy.com/images/287.gif*/ no-repeat scroll 50% 50%;
	position:absolute;
	left:0px;
	top:0px;
	z-index:100001;
}

.nrt-logo {
	width:52px;
	height:30px;
	position:absolute;
	display:block;
	right:0px;
	bottom:-10px; /*-4px;*/
}

.pane2-logos {
	width:254px;
	height:78px;
	position:absolute;
	display:block;
	right:6px;
	bottom:0px;
}

.cartus-logo {
	width:94px;
	height:31px;
	position:absolute;
	display:block;
	right:0px;
	bottom:0px;
}

.trg-logo {
	width:115px;
	height:31px;
	position:absolute;
	display:block;
	right:0px;
	bottom:0px;
}

#slidesContent div.cursorOverlay {
	cursor:pointer;
}

