/*
-----------------------------------------------------
PAGE Definitions for DIV Layouts
-----------------------------------------------------
FileName:    MainLayout.css
Version:     2006.05.01
-----------------------------------------------------
*/

.MainPage {
	position         : absolute;
	width            : 960px;
	left             : 0px;
	top              : 0px;
}
.MainHeader {
	position         : absolute;
	width            : 100%;
	height           : 60px;
	left             : 0px;
	top              : 0px;
}
.MainMenu {
	position         : absolute;
	width            : 100%;
	height           : 25px;
	left             : 0px;
	top              : 60px;
}
.MainBreadCrumb {
	position         : absolute;
	width            : 545px;
	height           : 50px;
	left             : 230px;
	top              : 85px;
	padding          : 10px 0px 0px 0px;
}
.MainSiteInfo {
	position         : absolute;
	width            : 200px;
	height           : 50px;
	left             : 0px;
	top              : 90px;
	padding          : 10px 0px 0px 0px;
}
.MainContent {
	position         : absolute;
	left             : 0px;
	top              : 140px;
	margin           : 0px 0px 0px 0px;
	padding          : 0px 0px 30px 195px;       /* LC fullwidth */
	min-width        : 195px;       /* LC fullwidth + CC padding */
}
.MainLeftNav {
	position         : relative;
	float            : left;
	padding          : 0px 0px 0px 15px;
	width            : 175px;
	margin           : 14px 0px 0px -790px;    /* LC fullwidth */
}
.MainLeftNav2L {
	position         : relative;
	float            : left;
	padding          : 0px 0px 0px 15px;
	width            : 175px;
	margin           : 14px 0px 0px -777px;    /* LC fullwidth */
}
.MainLeftNav2R {
/* NOT USED NOW */
}
.MainPageContent {
	position         : relative;
	float            : left;
	width            : 560px;
	padding          : 0px 35px 0px 0px;
}
.MainPageContent2L {
	position         : relative;
	float            : left;
	width            : 550px;
	padding          : 0px 35px 0px 0px;
}
.MainPageContent2R {
        position         : relative;
        float            : left;
        width            : 395px;
        padding          : 0px 35px 0px 0px;
}
.MainRightNav {
	position         : relative;
	float            : left;
	width            : 155px;
	margin           : -20px -191px 0px -20px;   /* RC fullwidth + CC padding */
	padding          : 20px 0px 0px 20px;
	background-image : url("../images/sidecolumn2.jpg")/*tpa=https://www.realogy.com/images/sidecolumn2.jpg*/;
	background-repeat: no-repeat;
	height           : 424px;
}
.MainRightNav2L { 
/* NOT USED NOW */
}
.MainRightNav2R {
        position         : relative;
        float            : left;
        width            : 155px;
        margin           : 0px -191px 0px -20px;   /* RC fullwidth + CC padding */
	padding          : 0px 0px 0px 20px;
	background-image : url("../images/sidecolumn2.jpg")/*tpa=https://www.realogy.com/images/sidecolumn2.jpg*/;
	background-repeat: no-repeat;
	height           : 424px;
}
.MainFooter {
	position         : relative;
	clear            : both;
	float            : left;
	width            : 960px;
	height           : 35px;
	left             : 200px;
	margin           : 0px 0px 0px -400px;
	padding          : 10px 0px 0px 0px;
}
#rightBox {
	float            : right;
}

.BreadCrumbSearch {
	top:25px;
}

.Slogan {
	right:0px;
	top:29px;
}

