 /**** begin ipad *****/
		  
		  @media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
{
/* Styles */

			body {

          	font-size:1em !important;
          	background-image:none;
          	background:#555555;
		  	line-height:14px;
          }
		  
		 #globalNavLogoLink img {
			 
			 
			width:200px;
			height:50px; 
			 
		 }

          h1 {

          	padding-left:2px;
          	color:#555555;
          	font-weight:700;
          }
		  
		  #baroid_masthead {
			  
			display:none !important;
			height:0px !important;  
			  
		  }
		  
		  #baroid_masthead img	{
			  
			display:none !important;
			height:0px !important;  
			  
		  }
		  
		  .bigTable {
			  
			width:95%;  
			  
		  }
		  
		  		  
		  #learn_more {
			  
			padding-right:5px;  
			  
		  }
		  
		  #learn_more a {
    		background: url("/public/pubsdata/Home_Page/campaign/learn_more.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    		display: block;
    		height: 19px;
    		width: 86px;
		  }
		  
		  .bigImage {
			  
			width:97%;
			padding:1px;  
			  
		  }
		  
		  #the_map {
			  
			display:none;
			  
		  }
		  
		  	  
		  #location_table td {
			
			width:95%;
			position:relative;
			float:left; 
			font-size:.7em; 
			margin:0px;
			padding:0px;
		  }
		  
		  #location_table th {
			  
			font-size:1.4em !important;
			  
		  }
		  
		  #location_table h6 {
			
			font-size:1.2em !important;  
			  
		  }
		  
		  #corp_table td {
    		
			width:95%;
			position:relative;
			float:left; 
			font-size:.7em; 
			margin:0px;
			padding:0px;
		}
		
		
		   #corp_table th {
			  
			font-size:1.4em !important;
			  
		  }
		  
		   #corp_table h6 {
			
			font-size:1.2em !important;  
			  
		  }
		  
		  #mast_case 	{
			  
			 display:none;
			  
		  }
		  
		  #location_sub_table {
			
			
			margin:0px !important; 
			
		  }
		  
		  #location_sub_table td {
			
			
			font-size:.7em; 
			
		  }
		  
		  .location_sub_table_h5-Sub {
    	 	color: #000000;
    		font-size: 12px;
    		font-weight: bold;
    		padding-bottom: 2px;
		}
		
		#location_sub_table td span {
			
			
			font-size:1em; 
			
		 }
		 
		  #location_sub_table td h5 {
			
			
			font-size:.9em; 
			
		  }
		  
		  #location_sub_table td h6 {
			
			
			font-size:.9em; 
			
		  }
		  
		  .gotable {
			
			width:100%; 
			float:left;
			position:relative;
			height:auto; 
			  
		  }
		  
		  .gotable tr:first-child {
			  
			 display:none;
			  
			  
		  }
		  
		  .gotable img {
			 
			display:none;
			  
			  
		  }
		  
		  .gotable td {
			  
			  position:relative;
			  float:left;
			  margin:5px;
			  padding:5px;
			  background:#fff;
			  width:300px;
			  text-align:center;
			  
		  }
		  
		  
		  /****** start solutions *********/
		  
		  	#challengeGenericComponent {
    
	
				padding-left: 10px;
		
		
			}
			
			#challange_case {
    			display:none;
			}
			
			#challengeOverviewComponent td:first-child {
				
				padding:5px;
				
			}
			
			#challengeOverviewComponent td:last-child {
				
				display:none;
				
			}
		  
		  /****** end solutions *********/
		  
		  /************ start events ************/
		  
		  
		  #main	{
			  
			width:100% !important;  
			  
			  
		  }
		  
		  #colheader	{
			  
			width:100% !important;
			padding: 10px 3px 10px 0px !important;  
			  
		  }
		  
		  #colheader33	{
			  
			width:100% !important;
			padding: 10px 3px 10px 0px !important;  
			  
		  }
		  
		  #nape_2013	{
			  
			width:100% !important;
			padding: 10px 3px 10px 0px !important;  
			  
		  }
		  
		  #colheader30	{
			  
			width:100% !important; 
			padding: 10px 3px 10px 0px !important; 
			  
		  }
		  #colheader34	{
			  
			width:100% !important; 
			padding: 10px 3px 10px 0px !important; 
			  
		  }
		  
		  #otc_brasil	{
			  
			width:100% !important; 
			padding: 10px 3px 10px 0px !important; 
			  
		  }
		  
		  #colheader31	{
			  
			width:100% !important;
			padding: 10px 3px 10px 0px !important;  
			  
		  }
		  
		  #colheader32	{
			  
			width:100% !important;
			padding: 10px 3px 10px 0px !important;  
			  
		  }
		  
		  #raoheader2	{
			  
			width:100% !important;
			padding: 10px 3px 10px 0px !important;  
			  
		  }
		  
		  #adipec	{
			  
			width:100% !important;
			padding: 10px 3px 10px 0px !important;  
			  
		  }
		  	  
		  #section43	{
			  
			width:32% !important;  
			  
		  }
		  
		  #rao1	{
			  
			width:32% !important;  
			  
		  }
		  
		  #rao2	{
			  
			width:32% !important;  
			  
		  }
		  
		  #rao3	{
			  
			width:32% !important;  
			  
		  }
		  
		  #section44	{
			  
			width:32% !important;  
			  
		  }
		  
		  #section45	{
			  
			width:32% !important;
			  
		  }
		  
		 #quicktest	{
			 
			 
			display:none;
			 
		 }
		  
		 #top	{
			 
			display:none; 
			 
		 }
		 
		 #section1	{
			 
			width:32% !important; 
			 
		 }
		 
		 #section2	{
			 
			width:32% !important; 
			 
		 }
		 
		 #section3	{
			 
			width:32% !important; 
			 
		 }
		  
		   /************ end events ************/
		   
		   /************ Begin Calculators ***********/
		   
		   
		  #form_wrap	{
			   
			
			margin:5px !important;
			   
			   
			   
		  }
		   
		  #documentListing_1368526481057_0_divChallenges div:first-child {
			  
			  display:none;
			  
		  }
		   #documentListing_1368526481057_0_divProductService div:first-child {
			  
			  display:none;
			  
		  }
		  
		  #documentListing_1368526481057_0_divBrand div:first-child {
			  
			  display:none;
			  
		  }
		  
		  #documentListing_1368526481057_0_divLocation div:first-child {
			  
			  display:none;
			  
		  }
		  
		  #documentListing_1368526481057_0_btn_search {
			  
			  position:absolute;
			  left:0;
				
			  
		  }
		  
		  #documentListing_1368526481057_0_btn_reset {
			  
				display:none;  
			  
		  }
		  
		   
		    /************ End Calculators ***********/

          #PreviewToolbar {
          
		  	display:none;
		  
          }
		  
		  	  
		  #menuBtn img {
			
			margin-top:-1px; 
			float:right;
			  
		  }
		  
		  #searchBtn img {
			
			margin-top:-1px; 
			float:right;
			  
		  }
		  
		  #fullsite {
			  
			padding-left:10px;
			 
			
			  
		  }
		  
		  #fullsite a {
			  
			  color:#ffffff;
			  
		  }

          .globalNavRegister {

          padding-right:5px;
          font-size:1em !important;
          }

          #globalNavWrapper .globalNavUtility {
          background:  url('/public/pubsdata/customer-resources/img/mobile_img/topbackgroundgradient.png') #CC0000;
          background-repeat:repeat-x;
          height: 50px;
          position: relative;
          }
          #globalNavWrapper .globalNavLogo {
          float: left;
          margin-left: 0px;
          margin-top: 0px;
		  width:100%;

          }
		  
		  input::-webkit-input-placeholder {
          
          text-transform: uppercase;
          }


          #globalNavLogoLink {

          width:100%;

          }

          .globalNavUtility div div table tbody tr td {

          background:#999!important;


          }

          #searchbox_globalNavigationSearchHalcom_SearchInput {
          display:none;
          position:fixed;

          left:0;
          z-index:33000;
          /* background:url('/web-resources/common/img/mobile_img/magnifysearch.png')#fff right no-repeat !important; */
          width:100%;

          top:78px;
          margin:0px;
          padding:10px 0px 10px 0px;
          border:2px solid #999 !important;

          }
          #searchbutton_globalNavigationSearchHalcom_SearchInput {

          display:none;
          position:fixed;
          background:#c5c5c5;
          left:0;

          z-index:34000;
          height:18px;
          top:78px;
          /* margin-left:335px; */
          padding:10px 0px 10px 0px;
          border:0px solid #000 !important;
          }

          #container {
          margin: 0px auto;
          overflow: hidden;
          width: 100%;
          }

          #pageWrapper {
          width: 100% !important;
          background-image:none;
          background-color:#ffffff;
          }

          #centerColumn-HomePageLayout {
          width: 100%;
          padding:0px;
          margin:0px;
          }

          .primaryNav {

          float:left !important;
          width:100% !important;
          height:100% !important;
          display:none;
          border:0px !important;
          padding:0px;
          margin:0px;
          }



          #globalNavWrapper li {
          font-size: 1em;

          width:100% !important;
          float:left !important;
          display:block;

          }

          #globalNavWrapper .primaryNav > ul {

          list-style:none;

          }


          #globalNavWrapper .primaryNav > ul > li  {
          width:50% !important;
          height:26px;
          margin-bottom:5px;
          float:left !important;
          display:block;
          padding:0px !important;
          margin-right:0px !important;
		  border:0px !important;
          }

          #globalNavWrapper .primaryNav > ul > li:first-child  {
          width:50% !important;
          height:26px;
          padding:0px;
          margin-top:-3px;
          margin-bottom:5px;
          float:left !important;
          display:none;

          }

          #globalNavWrapper .primaryNav > ul > li:nth-child(2)  {
          width:50% !important;
          height:26px;
          padding:0px;
          margin-top:-3px;
          margin-bottom:5px;
          float:left !important;
          display:block;

          }

          #globalNavWrapper .primaryNav > ul > li:nth-child(3)  {
          width:50% !important;
          height:26px;
          padding:0px !important;
          margin-top:-3px;
          margin-bottom:5px;
          float:left !important;
          display:block;


          }

          #globalNavWrapper .primaryNavLast {
          border-right: 0px none !important;
          min-width:50% !important;
		  float:left;
		  
		  
          }

          #globalNavWrapper .primaryNavLast > a {
          padding: 0px !important;
          text-align: left !important;
          min-width: 100% !important;
          background: #555555;
          border-right:0px !important;
          }

          #globalNavWrapper .primaryNav > ul > li > a {
          background: #555555;
          color: #bdbdbd;
          display: block;
		  text-align:left !important;
          font-size: 1em;
          font-weight: bold;
          padding:6px 6px !important;
          width:100%;
          border-left:1px solid #fff;
          border-right:1px solid #fff;
          }

          .primaryNavDropdown {

          display:none !important;


          }
          
          #secondMenu {
            
          float:left;
          margin-top:0px;
          padding-right:5px;
          padding-left:5px;
          margin-left:-5px;
          color:#555555;    
              
              
          }

          .halcomHomeComponents > #home_mid_wrapper > #home_right_wrapper > #home_news_header {

          width:100%;
          font-size: 1.2em;
          background:#cccccc;
          border-radius:10px;
          margin:5px 0px 0px 0px;
          padding:2px 0px 0px 0px;
          }

          .newsBottom {

          display:none;

          }

          .halcomHomeComponents > #home_mid_wrapper > #home_right_wrapper {

          float: left;
          background:#ffffff;
          margin:0px;
          padding:0px;
          width: 100%;
          }
		  
		  .halcomHomeComponents > #home_mid_wrapper > #home_right_wrapper > #home_news_content_wrapper {
    		background-image: url("/web-resources/common/img/spinner.gif");
    		background-position: center center;
    		background-repeat: no-repeat;
    		height: 95%;
		}

		.halcomHomeComponents > #home_mid_wrapper > #home_right_wrapper > #home_news_content_wrapper > ul {
    		
			margin:10px 0px 0px 20px;
    		width: 95%;
		}
          .halcomHomeComponents > #home_mid_wrapper {
          float: left;
          width: 100%;
          }

          .halcomHomeComponents > #home_bottom_wrapper > #home_bottom_left {

          float: left;
          width: 100%;

          display:none;
          }

          #globalNavArea {

          width:100% !important;


          }
          .halcomHomeComponents > #home_mid_wrapper > #home_left_wrapper {
         
		  float: left;

          width: 100%;
          height:150px;
          padding:0px;
          margin:0px;

          }

          .halcomHomeComponents > #home_mid_wrapper {
          float: left;
          width: 100%;

          }

          .halcomHomeComponents > #home_bottom_wrapper {

          width:100%;
          float:left;
          }
          .halcomHomeComponents > #home_bottom_wrapper > #home_bottom_mid > #home_middle_wrapper {
          width: 100%;
          padding:0px 20px 20px 0px !important;
          float:left;
		  margin-bottom:10px !important;
          }

          .halcomHomeComponents > #home_bottom_wrapper > #home_bottom_mid > #home_bottom_mid_head {
          font-size: 14px;
          font-weight: bold;
          height: 28px;
          margin: 5px 10px 3px;
          vertical-align: middle;
          float:left;
          width:100%;
          }
		  
		  .halcomHomeComponents > #home_bottom_wrapper > #home_bottom_mid > #home_middle_wrapper table {
			
			margin-bottom:10px;  
			  
		  }

          .halcomHomeComponents > #home_bottom_wrapper > #home_bottom_mid > #home_middle_wrapper table td {
          font-size:1.1em !important;
          padding:10px;
          }

          .halcomHomeComponents > #home_bottom_wrapper > #home_bottom_mid > #home_middle_wrapper strong {

          font-size:1em !important;
          }

          .halcomHomeComponents > #home_bottom_wrapper > #home_bottom_mid > ul > li {
          font-size:1.1em !important;
          }

          .halcomHomeComponents > #home_bottom_wrapper > #home_bottom_right {
          float:left;
          width: 100%;
          font-size:1.1em !important;
          }

          .halcomHomeComponents > #home_bottom_wrapper > #home_bottom_right p {

          margin-right:10px;
          padding:0px 15px 0px 10px;

          }

          .halcomHomeComponents > #home_bottom_wrapper > #home_bottom_right table {
          float:left;
          width: 100%;

          }

          .halcomHomeComponents > #home_bottom_wrapper > #home_bottom_right table td {
          font-size:1.1em !important;
          padding:2px !important;
          margin:0px !important;

          }

          .halcomHomeComponents > #home_bottom_wrapper > #home_bottom_right > #home_bottom_right_head > strong {
          font-size: 1.1em !important;
          margin-right:10px !important;
          }

          .halcomHomeComponents > #home_bottom_wrapper > #home_bottom_mid {
          float:left;
          width: 100%;
          }

          .halcomHomeComponents > #home_bottom_wrapper {
          /*background-image: url("/web-resources/common/img/home_bottom_bg.gif");*/
          background:none;
          background-repeat: repeat-y;
          display: inline-block;
          }

          #DivFlash {

          display:none;

          }
          .middleImage {

          display:none;

          }





          #footerWrapper {

          width:100% !important;
          float:left;
		  
          background-color: #666666;
          border-top: 4px solid #CC0000;
          color: #FFFFFF;
          margin-top: 3px;
          padding-top:15px;
          text-decoration: none;
		  
          }

          #footerArea {
          width: 100% !important;
          }

          .globalFooterComponent > .footerleft {
          float: left;
          padding: 0;
          margin:0px !important;
          width:100% !important;
          }

          .globalFooterComponent > .footerleft > .footerCol1 {
          display:none;
          }

          .globalFooterComponent > .footerleft > .footerCol2 {
          display:none;
          }

          .globalFooterComponent > .footerleft > .footerCol3 {
          display:none;
          }
          .globalFooterComponent > .footerleft > .footercopy {
          /* float: left;
          padding: 10px 0;
          white-space: normal !important;
          width: 100% !important; */
          display:none;
          }

          .globalFooterComponent > .footerleft > .footerright {
          float: left;
          padding: 10px 0 0;
          width: 100%;
          }

          .globalFooterComponent > .footerleft > .footerright > .imageCol1 {
          color: #FFFFFF;
          font-size:1.1em;
          float: left !important;
          padding: 0px 0px 0px 0px;
          margin:5px;
          vertical-align: top;
          width: 40%;

          }

          .globalFooterComponent > .footerleft > .footerright > .imageCol2 {
          color: #FFFFFF;
          font-size:1.1em;
          float: left !important;
          padding: 0px 10px 20px 0px;
          margin:5px 5px 15px 5px;
          vertical-align: top;
          width: 40%;

          }

          /* secondary nav */

          .secondaryNav {
          display:none;
          position:absolute !important;
          z-index:500000;
          left:0 !important;
          top:0 !important;
          width:0px;
          height:100% !important;
          background-image:none !important;
          background:#555555 !important;
          padding:0px !important;
          margin:0px 10px 10px 0px !important;
		  color:#fff;
          }


          .secondaryNav .secondaryNavTitle {
          background-image:none !important;
          background:#383838 !important;
          padding-left:15px;
          }

          .secondaryNav .secondaryNavRight {
          background: none;
          height: 0px !important;
          position: absolute;
          display:none !important;
          right: 0;
          top: 0;
          width: 0px !important;
          }

          .secondaryNav > ul > li {
          border-top: 0px !important;
          font-size: 12px;

          padding: 5px 10px 5px 10px !important;
          width: 80%;
          margin:0px 0px 0px 0px;

          }

          .secondaryNav > ul > li > a {
          color: #c4c4c4;

          }

          .secondaryNav > ul > li ul a {
          color: #c4c4c4;
          text-decoration: none;
          }

          .secondaryNav > ul > li ul  {
          padding-left:10px;
          }

          .secondaryNav li {
          list-style: url('/public/pubsdata/customer-resources/img/mobile_img/secondarynavbullet.png') inside none !important;

          vertical-align: middle;
          /*line-height: 90px; */
          }
		  
		   .secondaryNav ul li {
          list-style: url('/public/pubsdata/customer-resources/img/mobile_img/secondarynavbullet.png') inside none !important;

          vertical-align: middle;
          
          }

          .secondaryNav .secondaryNavCurrent {
          color: #ffffff;
          font-weight: bold;
          }

          .secondaryNav .secondaryNavBottom {

          background: none #383838 !important;
          border-top: 0px solid #c4c4c4 !important;
          width:100% !important;
          height:auto !important;

          }

          .secondaryNav .secondaryNavBottom img {

          padding:5px 0px 0px 5px;

          }

          .secondParagraph {

          border-top: 1px solid #c4c4c4;
          background-color: #383838;
          padding:0px !important;
          margin:0px !important;
		  
          }
		  
		  		  
		  .secondParagraph a {
			  
			color:#fff;  
			  
		  }
		  
		  .social {

          
		  border-top: 1px solid #c4c4c4;
          background-color: #383838;
          padding:10px 0px 10px 15px !important;
          margin:0px !important;
		  font-weight:bold;
		  vertical-align:text-top;
		  
          }
		  
		  .social a {
			  
			color:#bdc4af; 
			vertical-align:text-top; 
			text-decoration:none; 
			margin-top:3px; 
		  }
		  
		  .social img	{
			  
			
			  
		  }
		  
		  .socialheader	{
			  
			background-color:#777777;
			color:#fff;
			font-weight:bold;
			padding:10px 10px 10px 15px;
			font-size:14px;
		  }
		  

          .share  {

          color:#ffffff;
          font-size:1.2em;
          padding: 10px 5px 10px 10px;

          }

          .share  img  {

          padding: 5px 5px 0px 0px;

          }

          /* breadcrumb */

          #breadCrumbComponent {
          display:none;
          width:100%;
          }
          .addit {

          display:none;

          }

          #breadcrumbArea {
          width: 100% !important;
		  display:none;
          }


          /*#centerColumn {

          width:100% !important;

          }*/

          #centerColumn, #centerColumn-OneColumnLayout {
          border: 0px solid #CCCCCC;
          border-top-left-radius: 0px;
          border-top-right-radius: 0px;
          overflow: hidden;
          padding:0px !important;
          position: relative;
          width:100% !important;
          }
		  
		  #centerColumn * p, #centerColumn-OneColumnLayout * p {
    	   margin-bottom: 10px;
    	   margin-top: 0;
		   padding: 0px 3px 0px 3px;
			}

          .genericContentComponent {

          padding:0px 5px 0px 5px !important;
		  width:100% !important;

          }

          .documentListingCustomComponent {

          padding:0px 15px 0px 15px !important;

          }
		  
		  #productsProductListComponent {
			  
		  padding:0px 3px 3px 10px !important;  
			  
		  }
		  
		  #productsProductListComponent div span p {
			
			padding:3px !important;
			  
		  }
		  
		  
          .productsProductGroupOverviewComponent {
			   
		    padding-left:5px !important;
			   
		   }
		   
		   /****** Begin Products and Services Home ********/
		   
		   #productLandingComponent > div {
    		background-color: #FDFDF9;
   			background-image:none !important;
    		background-repeat: repeat-x;
    		display: inline;
    		float: left;
    		margin-right: 5px;
    		min-height:200px !important;
    		width: 100% !important;
			}
			
			#productLandingComponent > div > img {
				
				
				display:none;
				
			}
			
			#productLandingComponent div ul li {
				list-style: none;
				padding: 10px 0px 10px 0px;
				border-bottom: 1px solid #ccc;
			}
		   
		   /****** End Products and Services Home ********/

          #centerColumn, #centerColumn-OneColumnLayout div {

          padding:0px !important;

          }

          #centerColumn-OneColumnLayout {

          margin: 0 5px 0px;
          padding: 0 5px 0px;
          }

          #centerColumn {
          width:100% !important;
          padding:0px !important;

          }

          #centerColumnWrapper div #centerColumnRow {
          margin-right: 0 !important;
          width:100% !important;

          }
          
          
          div#centerColumnWrapper {
          width: 100% !important;

          }
          
		  #centerColumnWrapper {
          width: 100% !important;

          }

          .ls-canvas .ls-area .ls-1st {
          margin-top: 0 !important;
          width:100% !important;
          }
          .ls-canvas .ls-cmp-wrap {
          padding: 1px 0;
          width:100% !important;
          }
          .ls-canvas .ls-col-body {
          overflow: hidden;
          width:100% !important;
          }
          .containerComponent > .twocolcontainerdiv {
          overflow: hidden;
          width: 99% !important;
          padding:5px !important;
          }
          .containerComponent > .twocolcontainerdiv > .twocolleftcontainer {
          background-color: #FDFDF9;
          background-image: none;
          background-repeat: no-repeat;
          border-bottom: 1px solid #DFDFED;
          float: left;
          margin: 0;
          padding: 0 0px 10px 0px !important;
          width:99% !important;
          }

          .containerComponent > .twocolcontainerdiv > .twocolleftcontainer > h2 {

          padding-left:5px;

          }

          .containerComponent > .twocolcontainerdiv > .twocolrightcontainer > h2 {

          padding-left:5px;

          }
          .containerComponent > .twocolcontainerdiv > .twocolleftcontainer > .containercontent {

          padding-left:5px;

          }

          .containerComponent > .twocolcontainerdiv > .twocolrightcontainer > .containercontent {

          padding-left:5px;

          }

          .containerComponent > .twocolcontainerdiv > .twocolleftcontainer > img {
          width:99% !important;
          }
          .containerComponent > .twocolcontainerdiv > .twocolrightcontainer {
          background-color: #FDFDF9;
          background-image: none;
          background-repeat: no-repeat;
          border-bottom: 1px solid #DFDFED;
          float: left;
          margin: 0;
          padding: 0 0px 10px 0;
          width: 99% !important;
          }

          .containerComponent > .twocolcontainerdiv > .twocolrightcontainer > img {
          width:99% !important;
          }



          .genericContentComponent > h1 {
          clear: none;
          }
          
          .genericContentComponent div p img {
              
             
              
          }    

          /**** search styles ****/

          #mainSearchResults {

          width:100% !important;
          float:left;


          }

          #mainSearchResults ul li {

          width:100% !important;
          float:left;
          margin:0px !important;
          padding:0px !important;

          }

          #mainSearchResults ul li div div p.linebreak, #mainSearchResults ul li div p {
          clear: none !important;
          margin: 0 !important;
          padding: 0 !important;
          width: 100% !important;
          }

          .Refine {
          border-left: 0px solid #CCCCCC !important;
          margin-left: 40px !important;
          margin-right:0px !important;
          padding-left: 40px !important;
          width: 100% !important;
          height:50% !important;

          display:none;



          }





          #Refine {


          width:90%;



          }

          #refine-resultsbutton img {

          margin:0px;
          width:99%;

          }

          /**** end search styles ****/

          /* Baroid styles */

          .secondaryNav .secondaryNavContactUs {
          display:none;
          }



          #tabbedNav {
          width: 100% !important;

          }


          .tabbedNavComponent {

          width:100%;


          }

          .tabbedNavComponent, .tabbedNavComponent > ul {
          height: 24px;
          overflow: hidden;
          position: relative;
          width:100% !important;

          }

          #centerColumnWrapper {

          float: left;
          width: 100% !important;

          }



          /* end Baroid styles */

          /* begin productsProductOverviewComponent */

          #productsProductOverviewComponent table tbody tr:last-child {

          display:none;

          }

          #productsProductOverviewComponent img {

          margin-left:5px;

          }

          /* right nav begin */
          .rightNavWrapper {

          width:100%;
          float:left;


          }

          .rightNavWrapper > .sidebarTitleComponent > .rightNavHeader {
          background: none #ccc !important;
          background-repeat: repeat-x !important;
          margin-left: 0px !important;
          min-height: 24px;
          padding-bottom: 5px;
          padding-top: 0;
          width: 100% !important;
          }

          .rightNavWrapper > .sidebarTitleComponent > .rightNavHeader > img {
          float: left;
          padding: 0 0px 0 0px !important;
          position: relative;
          top: 2px;
          }

          #rightColumn .ls-area-body {
          background: none;
          margin-bottom: -2px;
          }

          #rightColumn > .ls-area-body > .ls-cmp-wrap:last-child {
          left: 2px;
          position: relative;
          width: 100%;
          }

          #rightColumn {
          background: none;
          background-repeat: repeat-y;
          display: block;
          margin-bottom: 20px;
          margin-left: 0 !important;
          width:100% !important;
          left:0px !important;
          }

          /* right nav end */
		  
		  /*  Social media hub begin */
		  
		  #hubContainer {
    		margin: 0 auto;
   		 	width: 100% !important;
			display:none;
		}
		
		
		  #ytContainer {
    		border: 1px solid #CCCCCC;
    		float: left;
    		height: 350px;
    		margin-bottom: 10px;
   		 	width: 100% !important;
		}
		
		.defContainer {
    		border: 1px solid #CCCCCC;
    		height: 350px;
    		overflow: hidden;
    		position: relative;
			float:left;
   			width: 100% !important;
			}
			
		#twContainer {
    		float: left !important;
    		margin-bottom: 10px;
   		 	margin-left: 10px;
		}
			
		.liContainer {
    		border: 1px solid #CCCCCC;
    		float: left;
    		height: 350px;
   		 	margin-right: 10px;
    		overflow: hidden;
    		position: relative;
    		width: 100% !important;
		}
		
		.ligContainer {
    		border: 1px solid #CCCCCC;
    		float: left !important;
    		height: 350px;
    		overflow: hidden;
    		position: relative;
    		width: 100% !important;
		}
		
		.defFooter {
    		background-color: #FAFAFA;
    		bottom: 0;
    		color: #666666;
    		font-family: Arial,Helvetica,sans-serif;
    		font-size: 11px;
    		height: 16px;
    		padding: 4px;
    		position: relative !important;
    		text-align: right;
    		width: 100%;
}
		  
		  
		  /*  Social media hub end */

          /* begin tools and resources */

          #toolsAndResourcesComponent {
          border: 0 solid #CCCCCC;
          display: inline;
          float: left;
          padding: 0;
          width: 100% !important;
          }


          #toolsAndResourcesComponent > #content_twoCol {
          background:none;
          border-right: 1px solid #D4D4D4;
          display: inline;
          float: left;
          margin-left: 0;
          padding-bottom: 20px;
          width: 100% !important;
          }

          #toolsAndResourcesComponent > #content_twoCol > .toolsAndResourcesHomeComponent > .featured_twoCol {
          color: #FFFFFF;
          display: inline;
          float: left;
          height: auto;
          margin: 0px;
          text-align: center;
          width: 100% !important;
          }

          #toolsAndResourcesComponent > #content_twoCol > .toolsAndResourcesHomeComponent > div div.two_col_top {
          background: url("/web-resources/components/img/two_col_top.gif") no-repeat scroll 0 0 transparent;
          height: auto;
          width: 100% !important;
          }

          #toolsAndResourcesComponent > #content_twoCol > .toolsAndResourcesHomeComponent > .content_twoCol_left > .icon {
          color: #CC0000;
          font-size: 18px;
          font-weight: normal;
          height: 35px;
          line-height: 20px;
          padding: 15px 0 5px 10px;
          vertical-align: top !important;
          width: 80% !important;
          }

          #toolsAndResourcesComponent > #content_twoCol > .toolsAndResourcesHomeComponent > .featured_twoCol > img {
          width:95% !important;
          height:auto !important;
          
          
          }

          #toolsAndResourcesComponent > #content_twoCol {
          background: url("/web-resources/components/img/content_twoCol_table_bg.gif") repeat-y scroll 0 0 transparent;
          border-right: 1px solid #D4D4D4;
          display: inline;
          float: left;
          margin-left: 0;
          padding-bottom: 20px;
          width: 100% !important;
          }

          #toolsAndResourcesComponent > #content_twoCol > .toolsAndResourcesHomeComponent > .content_twoCol_right {
          background-color: #FDFDF9;
          background: none;
          background-repeat: no-repeat;
          display: inline;
          float: left;
          margin-right: 15px;
          width:100%;
          }

          #toolsAndResourcesComponent > #content_twoCol > .toolsAndResourcesHomeComponent > .content_twoCol_left {
          background-color: #FDFDF9;
          background: none;
          background-repeat: repeat-x;
          display: inline;
          float: left;
          margin-left: 0px;
          width:100%;
          }

          #toolsAndResourcesComponent > #content_twoCol > .toolsAndResourcesHomeComponent > .content_twoCol_right > p.h3P, #toolsAndResourcesComponent > #content_twoCol > .toolsAndResourcesHomeComponent > .content_twoCol_left > p.h3P {
          margin-right: 10px !important;
          text-align: right;

          }

          #toolsAndResourcesComponent > #content_twoCol > .toolsAndResourcesHomeComponent > .content_twoCol_left > .h3Title {
          margin-left: 45px;
          width: 80% !important;
          margin-right:15px;
         
          }

          #toolsAndResourcesComponent > #content_twoCol > .toolsAndResourcesHomeComponent > div div.two_col_top {
          background: url("/web-resources/components/img/two_col_top.gif") no-repeat scroll 0 0 transparent;
          height: 15px;
          width: 100% !important;
          }

          #toolsAndResourcesComponent > #content_twoCol > .toolsAndResourcesHomeComponent > .content_twoCol_right > .icon {
          color: #CC0000;
          font-size: 18px;
          font-weight: normal;
          height: 20px;
          line-height: 20px;
          padding: 15px 0 5px 10px;
          vertical-align: top !important;
          width: 95% !important;
          }

          #toolsAndResourcesComponent > #content_twoCol > .toolsAndResourcesHomeComponent > .content_twoCol_right > .h3Title {
          margin-left: 45px;
          width: 80%;
          margin-right:15px;
          }
			


			}