/* Preview Bar */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://fonts.gstatic.com/s/opensans/v10/MTP_ySUJH_bn48VBG8sNSugdm0LZdjqr5-oayXSOefg.woff2) format('woff2'), url(https://fonts.gstatic.com/s/opensans/v10/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
#pageClass div.PreviewToolBar {
  box-sizing: border-box;
}
#pageClass div.PreviewToolBar *,
#pageClass div.PreviewToolBar *:before,
#pageClass div.PreviewToolBar *:after {
  box-sizing: inherit;
}
body.PreviewBody {
    background-position: 0 0;
    margin: 0;
}
#pageClass div.PreviewToolBar input[type="radio"]{
     appearance:radio; 
    -moz-appearance:radio; 
    -webkit-appearance:radio;
}
#pageClass div.PreviewToolBar input[type="submit"],
#pageClass div.PreviewToolBar input[type="text"]{
    text-indent: 0;
    margin:0;
}
#pageClass div.PreviewToolBar * {   
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
}
#pageClass div.PreviewToolBar {
    background: url('https://q4widgets.q4web.com/preview/images/preview-logo.png') no-repeat scroll 10px center #272727 !important;
    border: 0;
    color: #777;
    display:block;
    height: 50px !important;
    left: 0;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    position: fixed !important;
    text-align: left;
    text-transform: uppercase;
    top: -50px !important;
    width: 100% !important;
    z-index: 2147483647;
}
#pageClass div.PreviewToolBar #lnkPostback {
    background-image: url('https://q4widgets.q4web.com/preview/images/open-icon.png');
    background-repeat:no-repeat;
    background-position: center center;
    background-color: #272727;
    border-radius: 24px;
    display:block !important;
    height: 48px;
    width: 48px;
    position: absolute;
    right: 5px;
    top: 55px;
}

#pageClass div.PreviewToolBar #lnkPostback:hover {
    background-color: #3a3a3a;
}

/* Open Preview Bar*/

#pageClass div.PreviewToolBar {
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
#pageClass div.PreviewToolBar.open {
    top:0 !important;
}
#pageClass div.PreviewToolBar .PreviewLogo {
    display:none;
}
#pageClass div.PreviewToolBar .PreviewFloatLeft,
#pageClass div.PreviewToolBar .PreviewDateControls {
    display:block;
    float: right;
    padding:0;
    margin:0;
    width: 620px;
}
#pageClass div.PreviewToolBar .PreviewDateControls {
    font-size: 0;
    text-align: right;
}
#pageClass div.PreviewToolBar .PreviewFloatLeft {
    float:left;
    line-height: 50px;
    padding-left: 50px;
    width: 235px;
}
#pageClass div.PreviewToolBar .PreviewFloatLeft label {
    padding: 0 5px;
}
#pageClass div.PreviewToolBar .PreviewFloatLeft input {
    background-color: #3a3a3a;
}
#pageClass div.PreviewToolBar .PreviewActionButton {
    background: none;
    border: 0;
    border-left: 1px solid #000;
    color: #fff !important;
    cursor: pointer;
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    height: 50px;
    letter-spacing: 0px;
    line-height: 20px;
    padding: 15px;
    text-transform: uppercase;
    width: 90px !important;
}
#pageClass div.PreviewToolBar .PreviewActionButton:hover {
    text-decoration: none;
}
#pageClass div.PreviewToolBar.open #lnkPostback:hover,
#pageClass div.PreviewToolBar .PreviewActionButton:hover {
    background-color: #3a3a3a;
}
#pageClass div.PreviewToolBar #btnView {
    margin-left: 10px;
}
#pageClass div.PreviewToolBar #DateTextbox {
    background-color: #3a3a3a;
    border: 0 none;
    color: #fff;
    float: left;
    font-family: "Open Sans";
    font-size: 12px;
    height: 35px;
    margin: 7px 10px 0 0;
    padding: 7px;
    width: 80px !important;
}
#pageClass div.PreviewToolBar .PreviewDateControls select,
#pageClass div.PreviewToolBar .PreviewDateControls input {
    color: #000;
}
#pageClass div.PreviewToolBar .PreviewDateControls input#btnRefresh {
    margin-left: -1px;
}
#pageClass div.PreviewToolBar.open #lnkPostback {
    background: url('https://q4widgets.q4web.com/preview/images/close-icon.png') no-repeat scroll center center transparent;
    border-left: 1px solid #000;
    border-radius: 0;
    color: #fff;
    float: right;
    font-size: 14px;
    position: static;
    text-align: center;
    text-decoration: none;
    width: 45px;
    height: 50px;
}

@media (max-width: 925px){
    #pageClass div.PreviewToolBar .PreviewFloatLeft {
        display:none;
    }
}
@media (max-width: 750px){
    #pageClass div.PreviewToolBar .PreviewDateControls {
        width: auto;
    }
    #pageClass div.PreviewToolBar .PreviewDateControls > * {
        display:none;
    }
    #pageClass div.PreviewToolBar .PreviewDateControls a.PreviewActionButton,
    #pageClass div.PreviewToolBar .PreviewDateControls input#btnRefresh {
        display:block;
        float: right;
    }
}

/* Select Box */

#pageClass div.PreviewToolBar .sbSelector,
#pageClass div.PreviewToolBar .sbSelector:before,
#pageClass div.PreviewToolBar .sbSelector:after,
#pageClass div.PreviewToolBar .sbHolder,
#pageClass div.PreviewToolBar .sbHolder:before,
#pageClass div.PreviewToolBar .sbHolder:after,
#pageClass div.PreviewToolBar .sbToggle,
#pageClass div.PreviewToolBar .sbToggle:before,
#pageClass div.PreviewToolBar .sbToggle:after {
    overflow: visible;
    box-shadow: none;
    border-radius: 0;
    border: 0;
    padding: 0;
    background: none;
    min-width: 0;
    content: '';
}

#pageClass div.PreviewToolBar .sbHolder{
    background-color: #3a3a3a !important;
    float: left !important;
    height: 35px !important;
    margin: 7px 4px 0 0 !important;
    width: 50px !important;
}
#pageClass div.PreviewToolBar .sbToggle {
    background: url("https://q4widgets.q4web.com/preview/images/arrow-icon.png") no-repeat scroll 15px center transparent !important;
    height: 35px !important;
    width: 30px !important;
    margin:0 !important;
    top:0 !important;
    right:0 !important;
}
#pageClass div.PreviewToolBar .sbSelector{
    background: transparent !important;
    width: auto !important;
    margin:0 !important;
    line-height: 35px !important;
}

#pageClass div.PreviewToolBar .sbSelector:link, 
#pageClass div.PreviewToolBar .sbSelector:visited,
#pageClass div.PreviewToolBar .sbSelector:hover {
    color: #fff !important;
}

#pageClass div.PreviewToolBar .sbOptions {
    width: 60px !important;
}