
/* remove space for right nav */
.s4-ca 	
{
    PADDING-LEFT: 0px;
    margin-left: 0;
}

/* hide the breadcrumbs */
#breadCrumbs  
{
    display: none;
}

#s4-leftpanel 
{
    display: none;
}

.s4-ca 
{
    padding-left: 0;   
}

#mainMenu a.menu-item {
    color: #000;
}

h2, .ms-rteElement-H2 
{
    font-size: 13px;
}

h3, .ms-rteElement-H3 
{
    font-size: 13px;
}