.printOnly {display: inline;}
.noPrint {display: none;}

a, a:link, a:visited { color: #535455; text-decoration:underline; }
body { margin: 0 5%; width: auto; font-size: 11pt; line-height: 16pt; background-image: none; background-color: transparent; }
body #s4-ribbonrow, #headerControls, #mainMenuWrapper, #s4-leftpanel, #rightNav, #footerLinks, #footerSub, #breadCrumbs, #logo a { display: none; }
#headerContent { background-color: transparent; width: auto; }
#header {background-image: none; background-color: transparent; }
#bodyContentInner { width: 84%; margin: 0; padding: 0; }
.s4-ca {padding: 0;}
#footer { margin-top: 1pt; position: fixed; bottom: 0; height: auto; }
#footer, #footerContent {background-image: none; background-color: transparent; }
#footerContent h2 {color: #777; font-size: 10pt; }
#footerContent { font-size: 8pt; line-height: 10pt; width: auto; margin: 0; color: #777; }
#copyright {padding: 0; font-size: 8pt; }
#breadCrumbs SPAN.breadCrumbCurrentPage, #breadCrumbs A.breadCrumb   { color: #535455; font-weight: normal !important; text-decoration:underline; }
#logo 
{
    width: 96px;
    height: 35px;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 10px;
}

#pageImage1 { 
    float: left;
    padding-top:0;
    margin-top:0;
}

#pageImage1 img {
  padding:0 20px 20px 0; 
  margin: 0;
}

#footer h2 
{
    color: #535455;
}

#footer h2 .colored 
{
    color: #cc0000;
}