/* fixes content being squished over to the right with too much padding */
#bodyContentInner div.s4-ca  
{
    padding-left: 20px; 
}


/* fixes search button being just a bit too far right */
#search { right: -159px; }

#contact 
{
    right: 1px;
}

#clientPortal .headerDropDownButton
{
    margin-right: -3px;   
}

/* fixes the html template with removed javascript for the investor relations
and monster sections */
div.menu-horizontal>ul>li {
  /* for old menu 
  padding-right: 20px;
  */

}

/* add some left padding to the main menu to make it look centered in ie7 */
div.menu-horizontal 
{
    
}