html
{
    overflow: auto;
}

html, body
{
    height: 100%;
    margin: 0;
    padding: 0;
}

body
{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/backgroundMain.jpg")/*tpa=http://www.rgare.com/_layouts/rgare2011/images/backgroundMain.jpg*/;
    background-repeat: repeat-y;
    background-position: top center;
    background-color: #eaeaea;
    /* these were originally in #pageContent */
    font-size: 12px;
    line-height: 16px;
    color: #535455; /*original: #6d6f71;*/
}

/*fixes strong tags appearing extra bold*/
strong, b {
    font-weight: bold;
}

/*********************
 general styles
**********************/
a, a:link, a:visited, .ms-WPBody a, .ms-WPBody a:link, .ms-WPBody a:visited
{
    /* Fred: link color is here */
    color: #cc0000; /* this is the original red: #cc0000 */
    text-decoration: none;
}

    a:hover, .ms-WPBody a:hover
    {
        color: #b7b8b9;
    }

.ms-WPBody, .ms-WPBody td
{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

/* make all mailto links underline */
a[href^="mailto"]
{
    color: #535455;
}

    a[href^="mailto"]:hover
    {
        color: #cc0000;
    }



h2, .ms-rteElement-H2
{
    color: #cc0000;
    margin-bottom: 0;
    margin-top: 4px;
    font-size: 12px;
    font-weight: bold;
}

h3, .ms-rteElement-H3
{
    margin-top: 4px;
    margin-bottom: 0;
    color: #535455;
    font-size: 12px;
    font-weight: bold;
}

h4, .ms-rteElement-H4, h4 a, h4 a:link, h4 a:visited
{
    margin: 0;
    color: #535455;
    font-style: normal;
    font-size: 12px;
    font-weight: bold;
}

    h4.ms-rteElement-H4B, h4.ms-rteElement-H4B a, h4.ms-rteElement-H4B a:link, h4.ms-rteElement-H4B a:visited
    {
        margin: 0;
        font-style: normal;
        font-size: 12px;
        font-weight: bold;
        color: #535455;
    }

        h4.ms-rteElement-H4B .linkArrow
        {
            color: #cc0000;
            font-size: 16px;
            font-weight: normal;
        }

        h4.ms-rteElement-H4B a:hover
        {
            color: #cc0000;
            text-decoration: underline;
        }

            h4.ms-rteElement-H4B a:hover .linkArrow
            {
                color: #535455;
                text-decoration: none;
            }


.hidden
{
    display: none;
}

.printOnly
{
    display: none;
}

.colored
{
    color: #cc0000;
    font-weight: bold;
}

p
{
    margin-top: 0;
}

ul
{
    margin-top: 0;
    margin-left: 2em;
    padding-left: 0em;
}

a img
{
    border: 0;
}

sub, sup
{
    line-height: 0;
}


/*********************
 SharePoint elements
**********************/

/* web part title */
.ms-WPTitle, .ms-WPTitle a
{
    color: #000;
    font-weight: bold;
}

.ms-WPHeader td
{
    border-bottom-color: transparent;
    background-color: transparent;
}

/*********************
 Edit Mode and Form styles
**********************/

.PagePropertiesPanel input[type=text]
{
    width: 98%;
}

.PagePropertiesPanel
{
    margin-top: 20px;
    width: 460px;
    border: 1px dotted #ddd;
    padding: 10px 14px 10px 6px;
}

    .PagePropertiesPanel #pageTitle
    {
        padding-top: 0;
    }

    .PagePropertiesPanel fieldset
    {
        border: 0;
    }

    .PagePropertiesPanel legend
    {
        font-size: 14px;
        margin-top: -32px;
        margin-left: -9px;
        BACKGROUND-IMAGE: url(../../images/globgrad.gif)/*tpa=http://www.rgare.com/_layouts/images/globgrad.gif*/;
        TEXT-ALIGN: left;
        BORDER-LEFT: #cccccc 1px solid;
        PADDING-BOTTOM: 1px;
        BACKGROUND-COLOR: #efebef;
        PADDING-LEFT: 4px;
        PADDING-RIGHT: 4px;
        BACKGROUND-REPEAT: repeat-x;
        FONT-FAMILY: tahoma;
        HEIGHT: 18px;
        COLOR: #777777;
        FONT-SIZE: 8pt;
        BORDER-TOP: #cccccc 1px solid;
        FONT-WEIGHT: normal;
        BORDER-RIGHT: #cccccc 1px solid;
        PADDING-TOP: 1px;
    }


    .PagePropertiesPanel .ms-formfieldcontainer
    {
        padding: 2px 0;
    }

.ms-formfieldlabelcontainer
{
    font-weight: bold;
}

.ms-formfieldlabel
{
    color: #333;
}

a.ms-selectorlink
{
    color: #2e4cf0;
}

.ms-rtestate-field .ms-formfieldvaluecontainer, .ms-formfieldvaluecontainer
{
    border: 1px dotted #ddd;
}

/* fixes the web part properties toolbar so it's not underneath the ribbon */
#MSOTlPn_MainTD
{
    padding-top: 44px;
}

.securityEdit
{
    color: #cc0000;
}

/*********************
 main layout
**********************/

/* fix the SharePoint 2010 scrolling issue (now scrolls fine on iOS) 
   source: http://kyleschaeffer.com/sharepoint/sharepoint-2010-scrolling/
*/
body.v4master
{
    overflow: visible;
    height: inherit;
    width: inherit;
}

body #s4-workspace
{
    overflow: visible !important;
    height: 100%;
}


.ms-dlgOverlay
{
    width: 100% !important;
}

#s4-bodyContainer
{
    min-height: 100%;
    /*position: relative;*/
}


/*********************
top red bar stylings 
**********************/
BODY #s4-ribboncont
{
    background-color: #cc0000;
    min-height: 24px;
}


body #s4-ribbonrow
{
    background-color: transparent;
    min-height: 24px;
    /*    height: 24px;*/
    overflow: hidden;
    overflow-y: hidden;
    display: block;
    min-width: 917px;
    z-index: 1000;
    /* part of the SharePoint 2010 scrolling issue */
    position: fixed;
}

/* part of the SharePoint 2010 scrolling issue */
#s4-ribbonrow .ms-MenuUIPopupBody, #s4-ribbonrow .ms-popoutMenu, .ms-cui-menu[id ^= "Ribbon."]
{
    position: fixed !important;
}

/* fix the top red bar so it collapses when the ribbon isn't open */
.ms-cui-topBar2
{
    border: 0px solid transparent;
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
    height: auto;
}

.ms-cui-TabRowLeft
{
    margin-top: 0;
}

.s4-trc-container-menu
{
    margin: 0;
}

/* some javascript in the init adds an inline height of 44px. This fixes that issue.*/
.s4-ribbonrowhidetitle, #s4-ribbonrow
{
    height: auto !important;
}

/* site actions menu */
.ms-siteactionsmenuinner
{
    background-image: none;
    background-color: #cc0000;
    border: 0;
}
/* site actions hover */
.ms-siteactionsmenuhover
{
    background-image: none;
    background-color: #cc0000;
    border: 0;
    color: #ccc;
}

/* navigate up icon */
.s4-breadcrumb-anchor:hover
{
    background-image: none;
    border: 1px solid transparent;
    background-color: #cc0000;
}

body #s3-ribboncont, .ms-qatbutton:hover, .s4-breadcrumb-anchor:hover
{
    background-image: none;
    background-color: transparent;
    border: 1px solid transparent;
}

/* user menu */
.ms-SpLinkButtonActive.ms-welcomeMenu
{
    background-image: none;
    background-color: transparent;
    border: 1px solid transparent;
}

body #pageStatusBar
{
    padding-top: 24px;
    display: inline;
}

/* when the ribbon is hidden, this is the top red bar */

#s4-statusbarcontainer
{
    padding-top: 23px;
    background-color: #cc0000;
    border-top: 1px solid #cc0000;
    height: 0;
}

/*********************
header 
**********************/
#header
{
    width: 100%;
    padding: 0;
    background-image: url("../images/backgroundHeader.jpg")/*tpa=http://www.rgare.com/_layouts/rgare2011/images/backgroundHeader.jpg*/;
    background-repeat: repeat-y;
    background-position: top center;
    background-color: #d9d9d9;
    /* added these lines to fix the ie7 z-index bug */
    position: relative;
    z-index: 101;
}

#headerContent
{
    width: 917px;
    margin: 0 auto;
    background-color: #eee;
    position: relative;
    z-index: 1005;
}

#logo
{
    padding: 14px 0px;
}

#headerControls
{
    position: absolute;
    top: 14px;
    right: 0px;
    width: 400px;
    z-index: 1001;
}

#cstm-auth
{
    position: absolute;
    top: -4px;
    right: 260px;
}

.headerDropDown
{
    float: right;
    z-index: 1001;
    display: inline;
    position: relative;
    margin-top: 5px;
    margin-right: 4px;
    padding-right: 4px;
    font-weight: normal;
}


    .headerDropDown a
    {
        color: #535455;
    }

        .headerDropDown a:hover
        {
            color: #cc0000;
        }


.headerDropDownButton
{
    z-index: 1002;
    background-repeat: no-repeat;
    border: 0;
    margin: 0;
    font-weight: bold;
}

div.headerDropDownButton div#arrow
{
    POSITION: absolute;
    BORDER-LEFT: #d5d5d5 1px solid;
    WIDTH: 22px;
    BACKGROUND: url(../../rga/images/icon_downarrow.gif)/*tpa=http://www.rgare.com/_layouts/rga/images/icon_downarrow.gif*/ no-repeat 5px 11px;
    HEIGHT: 21px;
    TOP: 0px;
    RIGHT: 0px;
}



#clientPortal .headerDropDownButton
{
    background: url("../../rga/images/bg_inputgradiant.gif")/*tpa=http://www.rgare.com/_layouts/rga/images/bg_inputgradiant.gif*/ #ffffff repeat-x left bottom;
    width: 146px;
    height: 12px;
    border: 1px solid #d5d5d5;
    padding: 4px;
}

#globalDirectory .headerDropDownButton
{
    display: none;
    background-image: url("../images/dropdownGlobalDirectory.jpg")/*tpa=http://www.rgare.com/_layouts/rgare2011/images/dropdownGlobalDirectory.jpg*/;
    width: 136px;
    height: 22px;
}


/* header drop down style */
UL.headerDropDownList
{
    POSITION: absolute;
    DISPLAY: none;
    TOP: 21px;
    left: 0px;
    padding: 0;
    list-style-type: none;
    margin: 0;
    background-color: #fff;
    border: 1px solid #ddd;
}




/* client portal drop down width */
#clientPortal ul.headerDropDownList
{
    width: 154px;
}

/* global directory drop down width */
#globalDirectory ul.headerDropDownList
{
    width: 130px;
}


/* header drop down list styles */
UL.headerDropDownList li
{
    background-color: #fff;
    padding: 5px;
}

    UL.headerDropDownList li:hover
    {
    }

/* contact button styles */
#contact
{
    float: right;
    display: inline;
    position: relative;
    top: 5px;
    right: 4px;
}


/* search box styles */
#search
{
    position: relative;
    right: -170px;
    width: 226px;
    height: 22px;
}

DIV#search INPUT.ms-sbplain
{
    background: url("../../rga/images/bg_inputgradiant.gif")/*tpa=http://www.rgare.com/_layouts/rga/images/bg_inputgradiant.gif*/ #ffffff repeat-x left bottom;
    width: 148px !important;
    border: 1px;
    height: 18px;
    border: 1px solid #d5d5d5 !important;
    color: #535455;
    font-weight: bold;
    font-style: normal;
    font-size: 12px;
    font-family: Arial;
    padding: 2px 3px 0 3px;
}

.s4-search INPUT.ms-sbplain
{
    color: #ccc;
}


/* search submit button style */
DIV#search TD.ms-sbgo IMG
{
    width: 80px;
    height: 22px;
    vertical-align: top;
    margin-left: 4px;
    border: none !important;
}

.s4-search
{
    float: right;
}

/* contact button */
#contact a span
{
    width: 80px;
    height: 22px;
    display: block;
    background-image: url("../images/buttonContact.jpg")/*tpa=http://www.rgare.com/_layouts/rgare2011/images/buttonContact.jpg*/;
    background-repeat: no-repeat;
}


body #pageStatusBar
{
}

/* sign out */
#cstm-auth
{
    margin-top: 8px;
    text-align: right;
    width: 222px;
}

    #cstm-auth li
    {
        display: inline;
    }


/*********************
main menu
**********************/
#mainMenu
{
    /*background-image: url("/_layouts/rgare2011/images/menuBackground.gif");*/
    background-repeat: no-repeat;
    width: 917px;
    position: relative;
    bottom: 0px;
    z-index: 1000;
    font-size: 11px;
    font-weight: bold;
    padding: 0px 0;
}

    #mainMenu div.menu-horizontal
    {
        width: auto;
        border-left: 1px solid #d5d5d5;
    }


    #mainMenu li .additional-background
    {
        background-image: none;
        text-decoration: none;
    }

.s4-tn LI.static > .menu-item
{
    padding: 3px 10px 3px 10px;
    border: 0;
    border-right: 1px solid #d5d5d5;
    font-size: 13px;
}

.menu-horizontal a.dynamic-children span.additional-background
{
    padding-right: 0;
}

.s4-tn LI.static > .menu-item:hover
{
    background-color: #fff;
    border: 0;
    border-right: 1px solid #d5d5d5;
}

.s4-tn LI.hover > .menu-item
{
    border-color: #d5d5d5;
    background-color: #fff;
}

.s4-tn LI.static ul.dynamic
{
    border: 1px solid #d5d5d5;
    background-color: #fff;
    border-top: 0;
}

.s4-tn LI.static > .selected
{
    border: 0;
    border-right: 1px solid #d5d5d5;
    background-color: #fff;
    color: #000;
}

/* make the background color of the main selected and hovered items white */
.s4-tn ul.static > li:hover, .s4-tn LI.hover > .selected
{
    background-color: #fff;
}

    .s4-tn LI.hover > .selected > .menu-item
    {
        border-right: 1px solid #d5d5d5;
    }

.menu li
{
    margin: 0 auto;
}

#mainMenu a.menu-item span.menu-item-text
{
    color: #535455;
    text-decoration: none;
}

#mainMenu ul.dynamic a.menu-item:hover
{
    background-color: #eee;
}

#mainMenu ul.dynamic a.menu-item span.menu-item-text
{
    color: #777;
}

#mainMenu a.selected span.menu-item-text
{
    color: #000;
}

#mainMenu a.menu-item:hover
{
    text-decoration: none;
}

/* fixes ie7 z-indez bug */
li.dynamic-children
{
    position: relative;
}

    /* fixes menu hover for html template for investor relations and careers */
    li.dynamic-children:hover ul.dynamic
    {
        left: 14px;
        top: 24px;
    }

#subTitleBar
{
    z-index: -1;
}

#mainMenu
{
    width: 917px;
    margin: 0 auto;
}

/* Grey Menu*/
#mainMenuWrapper
{
    background: url(../../rga/images/bg_inputgradiant.gif)/*tpa=http://www.rgare.com/_layouts/rga/images/bg_inputgradiant.gif*/ #ffffff repeat-x left bottom;
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    background-color: #fff;
    z-index: 1000;
}

/*********************
breadcrumbs
**********************/
#breadCrumbs
{
    padding-bottom: 6px;
}

    #breadCrumbs a.breadCrumb:link, #breadCrumbs a.breadCrumb:visited
    {
        font-size: .8em;
        color: #777;
        font-weight: bold;
    }

    #breadCrumbs a.breadCrumb:hover
    {
        color: #cc0000;
    }

    #breadCrumbs span.breadCrumbCurrentPage
    {
        color: #cc0000;
    }

    #breadCrumbs .seperator
    {
        padding: 0 3px;
    }


/*********************
body
**********************/
#bodyContent
{
    padding-top: 20px;
}

    #bodyContent .ms-rteTable-default
    {
        text-align: left;
    }


/* content area, make room for the left nav */
.s4-ca
{
    margin-left: 200px;
}

.ms-mini-socialNotif-Container
{
    display: none;
}

.ms-rteForeColor-2
{
    color: #cc0000;
}

.back
{
    margin-top: 12px;
    font-size: 16px;
}

.searchTerm
{
    background-color: #fff495;
}

/*********************
left menu
**********************/
/* width of the left nav */
body #s4-leftpanel
{
    width: 180px;
    padding-top: 8px;
}

body #s4-leftpanel-content
{
    border-color: transparent;
}

#s4-leftpanel .menu-item
{
    color: #535455; /* original: #6d6f71; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

/* main level style */
#s4-leftpanel .s4-ql UL.root > LI > .menu-item
{
}

/* make left links hover red and underline */
#s4-leftpanel a:hover
{
    color: #cc0000;
    /* TODO: figure out why the sub nav items aren't underlining on hover */
    text-decoration: underline;
}


/* item selected */
#s4-leftpanel .s4-ql A.selected
{
    background-image: none;
    background-color: transparent;
    border: 1px solid transparent !important;
    color: #000 !important;
    font-weight: bold;
}

/*#s4-leftpanel .s4-ql A.selected .menu-item-text:before {
    content: "> ";
}*/

/* sub level style */
#s4-leftpanel .s4-ql UL.root UL > LI > A
{
    margin-left: 10px;
}

#s4-leftpanel li > ul
{
    margin-bottom: 0;
}


#s4-leftpanel a.menu-item
{
    padding: 1px 4px 1px 10px;
}

/* make the sub nav items closer together than the main nav items */
#s4-leftpanel li > ul > li
{
    /*
    min-height: 16px;
    */
}

#s4-leftpanel li > ul
{
    /*
    margin-bottom: 0;
    */
}

    #s4-leftpanel li > ul > li > a.menu-item
    {
        /*
    line-height: 13px;
    padding: 0 4px 0 10px;
    */
        padding-left: 10px;
    }


/*********************
footer
**********************/
#footer
{
    padding: 0;
    margin: 0;
    clear: both;
    min-width: 917px;
    font-size: 12px;
    line-height: 20px;
    height: 160px;
    margin-top: -160px;
    position: relative;
}

#footerContent
{
    width: 917px;
    margin: 0 auto;
    padding: 12px 0 0 0;
}

#footer h2
{
    color: #cc0000;
    font-size: 16px;
    margin: 0 0 10px 0;
    font-weight: 500;
}

#footer .highlight
{
    font-weight: 900;
    font-size: 16px;
}

#footer, #footerContent
{
    background-image: url("../images/backgroundFooter.jpg")/*tpa=http://www.rgare.com/_layouts/rgare2011/images/backgroundFooter.jpg*/;
    background-repeat: repeat-y;
    background-position: top center;
    background-color: #dadcdb;
}

#ctl00_MSO_ContentDiv
{
    padding-bottom: 160px;
}

#footerSub
{
    font-size: 11px;
    width: 917px;
    margin: 10px auto 0px auto;
    border-top: 1px solid #999;
    padding-top: 6px;
    text-align: right;
}

#footerLinks
{
    display: inline;
}

#copyright
{
    padding-left: 10px;
    display: inline;
}


/*********************
 Styles for rgare2011_homepage.aspx and rgare2011_groupre.aspx and rgare2011_productsandservices.aspx page templates
**********************/

table.landingPageColumns, table.homePageColumns
{
    width: 100%;
}

#pageContent table.homePageColumns > tbody > tr > td
{
    width: 25%;
    vertical-align: top;
    padding: 14px 42px 20px 0;
}

table.homePageColumns ul, table.landingPageColumns ul
{
    margin: 0;
    padding: 0;
}

table.homePageColumns li, table.landingPageColumns li
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 11px;
    font-weight: bold;
    color: #535455;
    padding: 2px;
}

#pageContent table.landingPageColumns td
{
    width: 33%;
    vertical-align: top;
    padding: 14px 42px 20px 0;
}


/* indents the second line of links on the homepage if they wrap */
table.homePageColumns h4
{
    text-indent: -10px;
    padding-left: 10px;
}


/*********************
 Styles for rgare2011_basepage.aspx and rgare2011_basepagerightnav.aspx page templates
**********************/
#bodyContentInner
{
    width: 917px;
    margin: 0 auto;
}

#pageTitle
{
    font-size: 18px;
    font-weight: normal;
    color: #cc0000;
    padding-top: 20px;
    line-height: 22px;
}

#pageIntroText
{
    font-weight: bold;
    color: #535455;
    padding-top: 6px;
    font-size: 12px;
    margin-bottom: 12px;
}

#pageSubHeading
{
    color: #535455;
    font-size: 1.5em;
    padding-top: 12px;
    line-height: 1.5em;
}

#pageImage1 img
{
    padding: 10px 0;
}

/*********************
 Styles for the world map
**********************/

#map #officeLocation
{
    height: 30px;
    font-size: 18px;
    font-weight: bold;
}

/*********************
 Styles for the site map
**********************/
#siteMapPageContent li > ul
{
    padding-left: 10px;
}

table.siteMapColumns
{
    width: 100%;
}

    table.siteMapColumns td
    {
        width: 25%;
        vertical-align: top;
        padding: 14px 42px 20px 0;
    }

#siteMapPageContent ul
{
    padding-left: 0;
}

#siteMapPageContent li
{
    list-style-type: none;
}

/*********************
 Styles for the knowledge center and cal
**********************/
/* search styles */
.rga-searchResult
{
    BORDER-BOTTOM: #777 1px solid;
    MARGIN-BOTTOM: 20px;
}

.rga-searchResult-metadata
{
    MARGIN-BOTTOM: 10px;
    COLOR: #777;
    FONT-SIZE: 10px;
    FONT-WEIGHT: bold;
}

    .rga-searchResult-metadata B, .rga-searchResult-metadata b a
    {
        COLOR: #000;
    }

        .rga-searchResult-metadata b a:hover
        {
            color: #b7b8b9;
        }

.rga-searchResult-title
{
    MARGIN-BOTTOM: 5px;
    FONT-WEIGHT: bold;
}

    .rga-searchResult-title IMG
    {
        VERTICAL-ALIGN: bottom;
    }

.rga-searchResult-description
{
    MARGIN-BOTTOM: 20px;
}

.rga-searchResult-footer
{
    MARGIN-TOP: -10px;
    MARGIN-BOTTOM: 20px;
}

#rightNav a#ToggleAdvSearchBox
{
    color: #fff;
}

    #rightNav a#ToggleAdvSearchBox:hover
    {
        color: #b7b8b9;
    }

#rga-advancedSearchBox
{
    PADDING-BOTTOM: 15px;
    BACKGROUND-COLOR: #c00;
    PADDING-LEFT: 15px;
    PADDING-RIGHT: 15px;
    PADDING-TOP: 15px;
}

    #rga-advancedSearchBox H2
    {
        COLOR: #fff;
    }

    #rga-advancedSearchBox H2
    {
        MARGIN-BOTTOM: 10px;
    }

    #rga-advancedSearchBox INPUT[type='text']
    {
        MARGIN-BOTTOM: 10px;
    }

    #rga-advancedSearchBox SELECT
    {
        MARGIN-BOTTOM: 10px;
    }

    #rga-advancedSearchBox INPUT[type='text']
    {
        BORDER-BOTTOM: 0px;
        BORDER-LEFT: 0px;
        WIDTH: 200px;
        DISPLAY: block;
        FONT-SIZE: 12px;
        BORDER-TOP: 0px;
        BORDER-RIGHT: 0px;
    }

    #rga-advancedSearchBox SELECT
    {
        BORDER-BOTTOM: 0px;
        BORDER-LEFT: 0px;
        WIDTH: 200px;
        DISPLAY: block;
        FONT-SIZE: 12px;
        BORDER-TOP: 0px;
        BORDER-RIGHT: 0px;
    }

    #rga-advancedSearchBox INPUT[type='submit']
    {
        MARGIN-LEFT: 135px;
    }

#CSR .ms-descriptiontext
{
    TEXT-ALIGN: inherit;
    FONT-FAMILY: inherit;
    COLOR: inherit;
    FONT-SIZE: inherit;
}

.srch-WPBody
{
    MARGIN: inherit;
    FONT-FAMILY: inherit !important;
    COLOR: inherit;
    FONT-SIZE: inherit;
}

.ms-searchref-main
{
    BACKGROUND-IMAGE: inherit;
    BORDER-BOTTOM: inherit;
    BORDER-LEFT: inherit;
    PADDING-BOTTOM: inherit;
    BACKGROUND-COLOR: inherit;
    MARGIN: inherit;
    PADDING-LEFT: inherit;
    WIDTH: inherit;
    PADDING-RIGHT: inherit;
    BACKGROUND-REPEAT: inherit;
    FONT-FAMILY: inherit !important;
    BACKGROUND-POSITION: inherit;
    HEIGHT: inherit;
    FONT-SIZE: inherit;
    BORDER-TOP: inherit;
    BORDER-RIGHT: inherit;
    PADDING-TOP: inherit;
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
}

.srch-stats
{
    FONT-FAMILY: inherit !important;
    COLOR: inherit;
    MARGIN-LEFT: inherit;
}

.srch-Page
{
    PADDING-BOTTOM: 3px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 3px;
}

.srch-Page-bg
{
    BACKGROUND-COLOR: #eee;
}

.srch-Page A:link
{
    BORDER-BOTTOM: transparent 0px;
    BORDER-LEFT: transparent 0px;
    PADDING-LEFT: 4px;
    PADDING-RIGHT: 4px;
    DISPLAY: inline;
    FONT-FAMILY: Arial, Helvetica, sans-serif !important;
    FLOAT: none;
    COLOR: #535455 !important;
    BORDER-TOP: transparent 0px;
    BORDER-RIGHT: transparent 0px;
    TEXT-DECORATION: underline !important;
}

.srch-Page A:visited
{
    BORDER-BOTTOM: transparent 0px;
    BORDER-LEFT: transparent 0px;
    PADDING-LEFT: 4px;
    PADDING-RIGHT: 4px;
    DISPLAY: inline;
    FONT-FAMILY: Arial, Helvetica, sans-serif !important;
    FLOAT: none;
    COLOR: #535455 !important;
    BORDER-TOP: transparent 0px;
    BORDER-RIGHT: transparent 0px;
    TEXT-DECORATION: underline !important;
}

.srch-Page A:hover
{
    BORDER-BOTTOM: transparent 0px;
    BORDER-LEFT: transparent 0px;
    PADDING-LEFT: 4px;
    PADDING-RIGHT: 4px;
    DISPLAY: inline;
    FONT-FAMILY: Arial, Helvetica, sans-serif !important;
    FLOAT: none;
    COLOR: #535455 !important;
    BORDER-TOP: transparent 0px;
    BORDER-RIGHT: transparent 0px;
    TEXT-DECORATION: underline !important;
}

.srch-Page-img A:link
{
    BORDER-BOTTOM: transparent 0px;
    BORDER-LEFT: transparent 0px;
    PADDING-LEFT: 4px;
    PADDING-RIGHT: 4px;
    DISPLAY: inline;
    FONT-FAMILY: Arial, Helvetica, sans-serif !important;
    FLOAT: none;
    COLOR: #535455 !important;
    BORDER-TOP: transparent 0px;
    BORDER-RIGHT: transparent 0px;
    TEXT-DECORATION: underline !important;
}

.srch-Page-img A:visited
{
    BORDER-BOTTOM: transparent 0px;
    BORDER-LEFT: transparent 0px;
    PADDING-LEFT: 4px;
    PADDING-RIGHT: 4px;
    DISPLAY: inline;
    FONT-FAMILY: Arial, Helvetica, sans-serif !important;
    FLOAT: none;
    COLOR: #535455 !important;
    BORDER-TOP: transparent 0px;
    BORDER-RIGHT: transparent 0px;
    TEXT-DECORATION: underline !important;
}

.srch-Page-img A:hover
{
    BORDER-BOTTOM: transparent 0px;
    BORDER-LEFT: transparent 0px;
    PADDING-LEFT: 4px;
    PADDING-RIGHT: 4px;
    DISPLAY: inline;
    FONT-FAMILY: Arial, Helvetica, sans-serif !important;
    FLOAT: none;
    COLOR: #535455 !important;
    BORDER-TOP: transparent 0px;
    BORDER-RIGHT: transparent 0px;
    TEXT-DECORATION: underline !important;
}

.srch-Page STRONG
{
    BORDER-BOTTOM-STYLE: none;
    BORDER-RIGHT-STYLE: none;
    DISPLAY: inline;
    FONT-FAMILY: Arial, Helvetica, sans-serif !important;
    BORDER-TOP-STYLE: none;
    BACKGROUND: none transparent scroll repeat 0% 0%;
    FLOAT: none;
    COLOR: #cc0000;
    FONT-SIZE: 14px;
    VERTICAL-ALIGN: bottom;
    BORDER-LEFT-STYLE: none;
    FONT-WEIGHT: bold;
}

/* end search styles */




.featuredGroup, .featuredItem
{
    PADDING-BOTTOM: 10px;
    PADDING-LEFT: 10px;
    PADDING-RIGHT: 10px;
    MARGIN-BOTTOM: 10px;
    PADDING-TOP: 10px;
}

    .featuredGroup H2, .featuredItem h2, .featuredItem h2 a
    {
        MARGIN: 0px 0px 4px 0px;
        FONT-SIZE: 16px;
        color: #000;
    }

.featuredGroup, .featuredItem
{
    BACKGROUND-COLOR: #dadcdb;
}

.featuredItemImage IMG
{
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 20px;
    FLOAT: left;
    PADDING-TOP: 0px;
}

.featuredItem
{
    PADDING-BOTTOM: 10px;
    PADDING-LEFT: 10px;
    PADDING-RIGHT: 10px;
    CLEAR: left;
    PADDING-TOP: 10px;
}

.featuredItemDescription
{
}

.clearer
{
    CLEAR: both;
}

.defaultInput
{
    FONT-STYLE: italic;
    COLOR: #999;
}


.event .date
{
    width: 57px;
    display: block;
    float: left;
    height: 57px;
    margin-right: 10px;
    clear: left;
    background-image: url(../images/iconcalendar.gif)/*tpa=http://www.rgare.com/_layouts/rgare2011/images/iconcalendar.gif*/;
}

.event .month
{
    text-align: center;
    margin-top: 3px;
    font-family: ‘arial narrow’, sans-serif;
    color: #fff;
    font-size: 9px;
}

.event .day
{
    text-align: center;
    margin-top: 8px;
    color: #000;
    font-size: 30px;
    font-weight: bold;
}

.event .title
{
    font-weight: bold;
}

.event
{
    clear: left;
}

#pageTitleNoLink
{
    display: none;
}

#pageTitleLink[href=""]
{
    display: none;
}

    #pageTitleLink[href=""] + #pageTitleNoLink
    {
        display: block;
    }

#pageTitleLink:after
{
    content: "»";
}

.kcMetaData
{
    font-size: 11px;
    margin-bottom: 4px;
}


.kcMetaData, .kcMetaDataItem, .kcMetaDataItem, .kcMetaDataLabel, .kcMetaDataVal
{
    display: inline;
}

div.kcMetaDataVal, div.kcMetaDataVal a
{
    color: #000;
    font-weight: bold;
}

    div.kcMetaDataVal a:hover
    {
        color: #b7b8b9;
    }

.kcMetaDataItem
{
    white-space: nowrap;
    border-left: 1px solid #ccc;
    padding: 0 3px 0 5px;
}

    .kcMetaDataItem > div
    {
    }

    .kcMetaDataItem:first-child
    {
        border-left: 0;
        padding-left: 0;
    }

    /* EXPLANATION: I've embedded the values into the value attribute on the .kcMetaDataItem div
         that way, if the property is empty, the div is hidden
         NOTE: the <nobr></nobr> is the value the KCDatePublished field is returning when it's empty */
    .kcMetaDataItem[value=""], .kcMetaDataItem[value="<nobr></nobr>"]
    {
        display: none;
    }

        .kcMetaDataItem:first-child, .kcMetaDataItem[value=""] + .kcMetaDataItem, .kcMetaDataItem[value="<nobr></nobr>"] + .kcMetaDataItem
        {
            border-left: 0;
            padding-left: 0;
        }

.hidden
{
    display: none;
}

#PublishingRollupImage > div > div
{
    float: left;
    margin: 0 20px 4px 0;
}

.rounded
{
    border-radius: 10px;
}