/*** Overlay  ***/
div#Overlay { position:fixed; background: url(../images/overlay.png)/*tpa=http://www.unitedhealthgroup.com/UHG/images/overlay.png*/; top:0; left:0; width:100%; height:860px; z-index:222222; display:none; }
	div#VideoHolder { position:fixed; width:525px; margin-top:122px; left:50%; margin-left:-290px; } 
	/*div#VideoHolder { position:relative; width:525px; margin-top:122px; }*/

  
.bringthefader { }
	.bringthefader:hover { cursor:pointer }


/*** Lightbox Home Page  ***/
img#CloseVideo { cursor:pointer; }
div#VideoBorder { background:#FFF; padding: 10px; }
div#VideoBox { width:500px; xmargin: 0px auto; overflow:hidden; }


/*** Slides ***/
div#videoSlides { margin-left: 63px; }
	div#videoSlides li { margin-right: 4px; }
	
	
/*** Lightboxes ***/
div#lightboxHolder { position:fixed; width:580px; margin-top:100px; left:50%; margin-left:-290px; display:none; }
	img#Closelighbox { cursor:pointer; }
	div#lightboxBorder { background:#FFF; padding: 10px; }
	div#lightboxC { width:560px; xmargin: 0px auto; overflow:hidden; }
	/*div.lightbox_container { background-color:#fefefe; background-image:url(../../images/lightbox_background_gradient.png); background-position:top left; background-repeat:repeat-x; border:#aaa 1px solid; display:none; overflow:auto;  } */
	div.lightbox_container { background-color:#fefefe; background-image:url(../images/lightbox_background_gradient.png)/*tpa=http://www.unitedhealthgroup.com/UHG/images/lightbox_background_gradient.png*/; background-position:top left; background-repeat:repeat-x; border:#aaa 1px solid; display:none; overflow:auto; }

	
	