/* Global Elements */
	body { background: rgb(242,242,242) url(../../images/pageBG.gif)/*tpa=http://www.rocktenn.com/images/pageBG.gif*/ repeat-x scroll top left; text-align: center; font:90%/180% "Trebuchet MS", Helvetica, sans-serif; font-size: small; }
	table { font-size:inherit; }
	pre,code,kbd,samp,tt { font-family:monospace; line-height:100%; }
	b, strong { font-weight: bold; }
	i, em { font-style: italic; }
	p { margin: 0 0 1.0em 0; color: rgb(102,102,102); line-height: 1.2em; }
	
	h2 { color: black; font-weight: bold; }
	h2.intro { font-size: 1.6em; font-weight: normal; margin: 0 0 0.8em 0; }
	h3 { color: white; font-weight: bold; }
	sup { vertical-align: 0.1em; }
	a { color: #3399ff; text-decoration: none; }
	a:hover { text-decoration: underline; }
	
/* ID Items */
	#wrapper { text-align: left; width: 920px; margin: 0 auto 0 auto; padding-left:12px; }
		#header { position: relative; width: 920px; height: 74px; background: white url(../../images/rktHeader.gif)/*tpa=http://www.rocktenn.com/images/rktHeader.gif*/ top left no-repeat; z-index:10}
		#header.home { position: relative; width: 920px; height: 395px; background: white url(../../images/rktHeader.gif)/*tpa=http://www.rocktenn.com/images/rktHeader.gif*/ top left no-repeat; }
			#search { position: absolute; top: 12px; right: 0px; height: 22px; width: 240px; }
			#search input.field { border: 1px solid rgb(200,200,200); padding: 0 2px 1px 2px; color: rgb(51,51,51); }
			#navholder { position: absolute; top: 37px; left: 320px; height: 28px; width: 800px; }
				#navholder .button { position: relative; float: left; }
				#navholder ul { position: absolute; top: 37px; left: 0px; display: none; z-index: 99; margin: 0px; padding: 0px; list-style: none; line-height: 18px; font-size: 14px; width: 200px; background: white; }
				#navholder ul li { background: white; height: 18px; padding: 3px 4px 3px 12px; }
				#navholder ul li:hover { background: rgb(185,207,231); color: rgb(51,51,51); cursor: pointer; }
				#navholder ul a { text-decoration: none; color: rgb(102,102,102); width: 180px; line-height: 16px; font-size: 12px; }
				#navholder ul a:hover { color: rgb(51,51,51); }
				#navholder ul li:hover  a { color: rgb(51,51,51); }
				#navholder ul#dropdown-languages  {position: absolute; top: px; right: 0px; display: none; z-index: 99; margin: 0px; padding: 0px; list-style: none; line-height: 18px; font-size: 14px; width: 105px; background: white;}
				
			#slideshow { position: absolute; top: 75px; height: 321px; }
		
		#main { background: white url(../../images/lowerLevelContentBG.gif)/*tpa=http://www.rocktenn.com/images/lowerLevelContentBG.gif*/; width: 920px; padding: 0; position:relative; z-index:1}
		#home #main { background-image: none; }
		#code #main { width: 890px; background-image: none; padding: 15px; }
		#main #homeContent { width: 920px; margin: 8px 0 4px 0; line-height: 1.1em; }
				#homeContent h2 { width: 100%; text-transform: uppercase; font-size: 1.1em; letter-spacing: 0.1em; color: rgb(153,153,153); padding-bottom: 5px; border-bottom: 1px solid rgb(221,221,221); }
				#homeContent h3 { color: rgb(153,153,153); margin-top: 8px; }
				#homeContent h4 a:link, #homeContent h4 a:visited { color: rgb(51,51,51); font-weight: bold; }
				#homeContent td.col { width: 33%; padding: 8px 5px 10px 0; }
					#upper td { /* height: 195px; */ overflow: hidden; /* background: white; */ }
					#lower td { height: 127px; background: rgb(239,239,239) url(../../images/homeLowerBG.gif)/*tpa=http://www.rocktenn.com/images/homeLowerBG.gif*/ top left repeat-x; }
				#homeContent .leftPad { padding-left: 15px; }
		
		#main #homeContent .linkBox { height: 72px; width: 261px; border: 1px solid #ccc; background: url(../../images/home-block-bg.jpg)/*tpa=http://www.rocktenn.com/images/home-block-bg.jpg*/ repeat-y; padding: 15px 15px 15px 20px; margin: 0px 0px 5px 0px; }
		#main #homeContent .linkBox li { list-style: inside url(../../images/goArrow.gif)/*tpa=http://www.rocktenn.com/images/goArrow.gif*/; }
		#main #homeContent .linkBox li a:link, #main #homeContent li a:visited { position: relative; top: -1px; margin: 0 0 15px 10px; font-size: 1.3em; line-height: 1.3em; }	
		#main #homeContent .linkBox li a:hover { text-decoration: underline; }
		#main #homeContent .linkBox p { position: relative; margin: 0 0 0px 27px; }	
				
		img#slide { z-index: 0; }

	/* Navigation */
		#sidebar { float: left; width: 322px; }
			#sidebar h1 { color: white; font-size: 1.7em; background: rgb(102,153,204); padding: 15px 0 15px 40px; width: 282px; }
			#sidebar ul { margin: 0 0 10px 0; font-size: 12px; line-height: 18px; }
			#sidebar ul li ul { margin: 0 0 0 20px; }
			#sidebar ul li ul li ul { margin: 0 0 0 20px; }
			#sidebar li { list-style: inside url(../../images/goArrow.gif)/*tpa=http://www.rocktenn.com/images/goArrow.gif*/; }
			#sidebar li:hover { list-style: inside url(../../images/goArrow2.gif)/*tpa=http://www.rocktenn.com/images/goArrow2.gif*/; }
			#sidebar li.active { list-style: inside url(../../images/goArrow2.gif)/*tpa=http://www.rocktenn.com/images/goArrow2.gif*/; }
			#sidebar li a:link, #sidebar li a:visited { position: relative; top: -1px; margin: 0 0 10px 5px; }
			#sidebar a:link, #sidebar a:visited { color: black; }
			#sidebar li a.active { font-weight: bold; }
			#sidebar a:hover { text-decoration: underline; }
			
			#locations-nav { overflow-x: hidden; overflow-y: auto; height: 400px; width: 250px; font-size: 11px; line-height: 12px; }

			#productNavHolder { background: #003366; height: 273px; width: 322px; }
			#productNavHolder li a:link, #productNavHolder li a:visited { margin: 0 0 10px 5px; color: white; }
			#productNavHolder h5 { color: #6699cc; font-size: 12px; font-weight: bold; margin: 0px 0px 10px 0px; padding: 0px; }
			#prodImg { margin: 0 0 10px 0; }
			
	/* Content Area */
		#content { float: right; background: white url(../../images/contentBG.gif)/*tpa=http://www.rocktenn.com/images/contentBG.gif*/ repeat-x; width: 598px; height: 100%; }
		#content ul li { list-style: disc; list-style-position: inside; color: rgb(102,102,102); }
		#content ul li ul { margin: 0px 0px 0px 20px; list-style: circle; list-style-position: inside; color: rgb(102,102,102); }
		
		#content h2 { color: rgb(51,102,153); font-size: 1.7em; font-weight: normal; margin: 0 0 0.9em 0; }
		#content h3 { color: rgb(102,102,102); font-size: 1.6em; font-weight: normal; margin: 0 0 0.9em 0; }
		
			#crumbtrail { color: rgb(102,102,102); background: none; padding: 15px 15px 15px 20px; }
			#crumbtrail a:link, #crumbtrail a:visited { color: rgb(102,102,102); }
			#crumbtrail a:hover, #crumbtrail a.current { color: rgb(51,51,51); cursor: pointer; }
			
			#quotes { color: rgb(153,153,153); line-height: 1.2em; }
			#quotes td { background: none; padding: 0; height: auto; }
			#quotes .info { color: rgb(51,51,51); }
			#quotes .up { color: rgb(0,153,0); }
			#quotes .down { color: rgb(225,0,0); }
			#quotes .price { font-weight: bold; }
			
			.ataglance { padding: 10px 0px 0px 0px; }
			.ataglance .glanceImg { float: left; }
			.ataglance .glanceImg img { padding: 4px; border: 1px solid #ccc; margin: 0px 4px 0px 0px; width: 72px; height: 72px; }
			.ataglance .glanceTitle { position: relative; float: left; height: 62px; width: 82px; padding: 10px; font-size: 12px; line-height: 14px; color: #fff; font-weight: bold; }
			.ataglance .glanceTitlegreenbg { position: relative; float: left; height: 62px; width: 82px; padding: 10px; background: #009966; font-size: 12px; line-height: 14px; color: #fff; font-weight: bold; }
			.ataglance .glanceTitlebluegreenbg { position: relative; float: left; height: 62px; width: 82px; padding: 10px; background: #006666; font-size: 12px; line-height: 14px; color: #fff; font-weight: bold; }
			.ataglance .glanceTitlebluebg { position: relative; float: left; height: 62px; width: 82px; padding: 10px; background: #006699; font-size: 12px; line-height: 14px; color: #fff; font-weight: bold; }
			.ataglance .glanceTitlepurplebg { position: relative; float: left; height: 62px; width: 82px; padding: 10px; background: #3366cc; font-size: 12px; line-height: 14px; color: #fff; font-weight: bold; }
			.ataglance .glanceTitleorangebg { position: relative; float: left; height: 62px; width: 82px; padding: 10px; background: #cc6600; font-size: 12px; line-height: 14px; color: #fff; font-weight: bold; }
			.ataglance .glanceTitleltorangebg { position: relative; float: left; height: 62px; width: 82px; padding: 10px; background: #cc6600; font-size: 12px; line-height: 14px; color: #fff; font-weight: bold; }
			.ataglance .glanceTitlegreenbg .glanceLink { position: absolute; bottom: 10px; right: 10px; font-size: 11px; background: url(../../images/goArrow.gif)/*tpa=http://www.rocktenn.com/images/goArrow.gif*/ no-repeat 35px 2px; padding-right: 18px;}
			.ataglance .glanceTitlebluegreenbg .glanceLink { position: absolute; bottom: 10px; right: 10px; font-size: 11px; background: url(../../images/goArrow.gif)/*tpa=http://www.rocktenn.com/images/goArrow.gif*/ no-repeat 35px 2px; padding-right: 18px;}
			.ataglance .glanceTitlebluebg .glanceLink { position: absolute; bottom: 10px; right: 10px; font-size: 11px; background: url(../../images/goArrow.gif)/*tpa=http://www.rocktenn.com/images/goArrow.gif*/ no-repeat 35px 2px; padding-right: 18px;}
			.ataglance .glanceTitlepurplebg .glanceLink { position: absolute; bottom: 10px; right: 10px; font-size: 11px; background: url(../../images/goArrow.gif)/*tpa=http://www.rocktenn.com/images/goArrow.gif*/ no-repeat 35px 2px; padding-right: 18px;}
			.ataglance .glanceTitleorangebg .glanceLink { position: absolute; bottom: 10px; right: 10px; font-size: 11px; background: url(../../images/goArrow.gif)/*tpa=http://www.rocktenn.com/images/goArrow.gif*/ no-repeat 35px 2px; padding-right: 18px;}
			.ataglance .glanceTitleltorangebg .glanceLink { position: absolute; bottom: 10px; right: 10px; font-size: 11px; background: url(../../images/goArrow.gif)/*tpa=http://www.rocktenn.com/images/goArrow.gif*/ no-repeat 35px 2px; padding-right: 18px;}
			.ataglance .glanceTitle .glanceLink { position: absolute; bottom: 10px; right: 10px; font-size: 11px; background: url(../../images/goArrow.gif)/*tpa=http://www.rocktenn.com/images/goArrow.gif*/ no-repeat 35px 2px; padding-right: 18px;}
			.ataglance .glanceTitlegreenbg .glanceLink a { color: #ccc; }
			.ataglance .glanceTitlebluegreenbg .glanceLink a { color: #ccc; }
			.ataglance .glanceTitlebluebg .glanceLink a { color: #ccc; }
			.ataglance .glanceTitlepurplebg .glanceLink a { color: #ccc; }
			.ataglance .glanceTitleorangebg .glanceLink a { color: #ccc; }
			.ataglance .glanceTitleltorangebg .glanceLink a { color: #ccc; }
			.ataglance .glanceTitle .glanceLink a { color: #ccc; }
			.ataglance .glanceInfo { float: left; height: 62px; width: 330px; background: #666666; padding: 10px; color: #fff; font-size: 12px; line-height: 14px;  }
		
			.valueadded { margin: 0px 0px 10px 0px; }
			.valueadded .valueTitle { position: relative; padding: 10px; font-size: 12px; line-height: 14px; color: #fff; font-weight: bold; } 
			.valueadded .valueTitlegreenbg { position: relative; padding: 10px; background: #009966; font-size: 12px; line-height: 14px; color: #fff; font-weight: bold;  }
			.valueadded .valueTitlebluegreenbg { position: relative; padding: 10px; background: #006666; font-size: 12px; line-height: 14px; color: #fff; font-weight: bold; }
			.valueadded .valueTitlebluebg { position: relative; padding: 10px; font-size: 12px; line-height: 14px; color: #fff; font-weight: bold; background: #006699; }
			.valueadded .valueTitlepurplebg { position: relative; padding: 10px; font-size: 12px; line-height: 14px; color: #fff; font-weight: bold; background: #3366cc; }
			.valueadded .valueTitleorangebg { position: relative; padding: 10px; font-size: 12px; line-height: 14px; color: #fff; font-weight: bold; background: #cc6600; }
			.valueadded .valueTitleltorangebg { position: relative; padding: 10px; font-size: 12px; line-height: 14px; color:#fff; font-weight: bold; background: #dd9922; }
			.valueadded .valueTitlegreenbg .valueLink { position: absolute; bottom: 10px; right: 10px; font-size: 11px; background: url(../../images/goArrow.gif)/*tpa=http://www.rocktenn.com/images/goArrow.gif*/ no-repeat 35px 2px; padding-right: 18px;}
			.valueadded .valueTitlebluegreenbg .valueLink { position: absolute; bottom: 10px; right: 10px; font-size: 11px; background: url(../../images/goArrow.gif)/*tpa=http://www.rocktenn.com/images/goArrow.gif*/ no-repeat 35px 2px; padding-right: 18px;}	
			.valueadded .valueTitlebluebg .valueLink { position: absolute; bottom: 10px; right: 10px; font-size: 11px; background: url(../../images/goArrow.gif)/*tpa=http://www.rocktenn.com/images/goArrow.gif*/ no-repeat 35px 2px; padding-right: 18px;}
			.valueadded .valueTitlepurplebg .valueLink { position: absolute; bottom: 10px; right: 10px; font-size: 11px; background: url(../../images/goArrow.gif)/*tpa=http://www.rocktenn.com/images/goArrow.gif*/ no-repeat 35px 2px; padding-right: 18px;}
			.valueadded .valueTitleorangebg .valueLink { position: absolute; bottom: 10px; right: 10px; font-size: 11px; background: url(../../images/goArrow.gif)/*tpa=http://www.rocktenn.com/images/goArrow.gif*/ no-repeat 35px 2px; padding-right: 18px;}
			.valueadded .valueTitleltorangebg .valueLink { position: absolute; bottom: 10px; right: 10px; font-size: 11px; background: url(../../images/goArrow.gif)/*tpa=http://www.rocktenn.com/images/goArrow.gif*/ no-repeat 35px 2px; padding-right: 18px;}
			.valueadded .valueTitlegreenbg .valueLink a { color: #ccc; }
			.valueadded .valueTitlebluegreenbg .valueLink a { color: #ccc; }
			.valueadded .valueTitlebluebg .valueLink a { color: #ccc; }
			.valueadded .valueTitlepurplebg .valueLink a { color: #ccc; }
			.valueadded .valueTitleorangebg .valueLink a { color: #ccc; }
			.valueadded .valueTitleltorangebg .valueLink a { color: #ccc; }
			.valueadded .valueTitle .valueLink { position: absolute; bottom: 10px; right: 10px; font-size: 11px; background: url(../../images/goArrow.gif)/*tpa=http://www.rocktenn.com/images/goArrow.gif*/ no-repeat 35px 2px; padding-right: 18px;}
			.valueadded .valueTitle .valueLink a { color: #ccc; } 
			
			.valueadded .valueInfo { background: #ddd; padding: 10px; color: #444; font-size: 12px; line-height: 14px;  }
			
			.findoutmore { background: url(../../images/goArrow.gif)/*tpa=http://www.rocktenn.com/images/goArrow.gif*/ no-repeat 90px 4px; }
			
			table.zone { color: #fff; font-size: 12px; line-height: 12px; margin: 10px 0px; }
			table.zone a { color: #fff; }
			table.zone span.small { font-size: 10px; }
			table.zone .arrow { vertical-align: middle; }
			table.zone td.desc { padding: 8px; }
			table.zone td.desc p { padding: 0px; margin: 0px 0px 6px 0px; color: #ffffff; }
			table.zone td table { margin: 8px; }
			table.zone td table td { height: 18px; vertical-align: middle; }
			
			td#bizDescr { width: 302px; }
			#bizDescr p { color: rgb(51,102,153); font-size: 1.2em; line-height: 1.4em; margin-left: 15px; }
			
			#google_map { width: 550px; height: 650px; border: 1px solid #444; }
			
		#landing #content { background: none; }
		#cap #content { height: auto;  }

		#footer { background: rgb(102,153,204); overflow: visible; padding: 5px 20px 5px 0px; margin: 0 0 5px 0; border-top: 3px solid white; font-size: 11px; font-weight: normal; }
		#footer p { text-align: right; margin: 0; color: rgb(153,204,255); }
		#footer a:link, #footer a:visited { color: #eee; margin: 0 8px 0 8px; font-weight: normal; }
		#footer a:hover { text-decoration: underline; }
		
		/* 
		 * #lower h2 { color: rgb(102,102,102); border-bottom: 1px solid white; } 
		 */

/* Global Classes */
	.contentBody { padding: 20px 25px 25px 20px; }
	.contentHolder { position: relative; top: 0; left: 0; padding: 35px; }
	.spacer { clear: both; height: 0px; }
	.overview {  width: 552px; }
	.overview p { padding: 0; }
	.footnote { color: rgb(150,150,150); }
	.news a:link, .news a:visited { color: rgb(51,51,51); font-weight: bold; }
	.news a:hover, #home h4 a:hover { text-decoration: underline; }
	.homeStory { margin-bottom: 25px; color: rgb(153,153,153); }
	.homeStory a img { margin-top: 8px; }
	.storyPic { padding: 2px; border: 1px solid rgb(204,204,204); float: left; clear: both; margin: 0 10px 10px 0; background: white; }
	.overview .storyPic { float: left; margin-right: 0; padding: 3px; }
	.overview .blurb { float: right; }
	
	.up, .down { padding-left: 15px; }
	.up { background: url(Unknown_83_filename)/*tpa=http://www.rocktenn.com/images/arrowUp.gif*/ top left no-repeat; }
	.down { background: url(Unknown_83_filename)/*tpa=http://www.rocktenn.com/images/arrowDown.gif*/ top left no-repeat; }
	
	.intro { color: rgb(51,102,153); font-size: 1.2em; line-height: 1.3em; }
	.clear { clear: both; }
	
	.greenbg { background: #009966; }
	.bluegreenbg { background: #006666; }
	.bluebg { background: #006699; }
	.purplebg { background: #3366cc; }
	.orangebg { background: #cc6600; }
	.ltorangebg { background: #dd9922; }
	