.AdmPageLayout .AdmWeatherExtendedSummaryDefaultTempSelection,
.AdmPageLayout .AdmWeatherCurrentConditionsDefaultTemp,
.AdmPageLayout .AdmCommentary,
.AdmPageLayout .AdmWeatherForecastPiece
{
    padding:0px;
}

.AdmPageLayout .AdmLocationContactsBodyContact
{
    padding-bottom:0px 0px 11px 0px;
}

.AdmPageLayout .AdmWeatherExtendedForecastSummaryBodyDayTitle
{
    padding:0px 0px 11px 11px;
}

.AdmPageLayout .AdmWebpart .AdmMarketIntelligence .AdmCommentaryBody .previewImage
{
    padding-right:10px;
    padding-bottom:5px;
    display:inline-block;
}

.AdmPageLayout .AdmWebpart .AdmLocationSearch .AdmLocationSearchListHeader
{
    text-align:center;
}


.AdmPageLayout .AdmWebpart .AdmMarketIntelligence .AdmCommentaryTypeFooterTitle
{
    font-weight:bold;    
}

.AdmPageLayout .AdmWebpart .AdmMarketIntelligence .AdmCommentaryTypeFooterText
{
    padding-top:11px;
}

.AdmPageLayout .AdmCommentaryTitle
{
    padding:0px 11px 0px 0px; 
}

.AdmPageLayout .AdmWebpart .AdmLocationSearchBody
{
    padding:11px 0px 0px 0px;
    background-color:#ffffff;
}

.AdmPageLayout .AdmWebpart .AdmLocationSearchBody .AdmBadLocation,
.AdmPageLayout .AdmWebpart .AdmLocationSearchBody .AdmLocation
{
    margin:auto;
    clear:both;
}

.AdmPageLayout .AdmWebpart .AdmLocationSearchBody .AdmLocation
{
}

.AdmPageLayout .AdmWebpart .AdmLocationSearchBody .AdmLocation .AdmLocationCity,
.AdmPageLayout .AdmWebpart .AdmLocationSearchBody .AdmLocation .AdmLocationLink
{
    font-weight:bold;
}

.AdmPageLayout .AdmWebpart .AdmWeatherForecastDay .AdmWeatherForecastDayDetail,
.AdmPageLayout .AdmWebpart .AdmWeatherExtendedForecastSummaryBodyDayDetails .AdmWeatherExtendedForecastSummaryBodyDayDetail
{
	display:block;
	margin:auto;
}

.AdmPageLayout .AdmWeatherForecastBody .AdmWeatherForecastCurrentDayPrecip,
.AdmPageLayout .AdmWeatherForecastBody .AdmWeatherForecastCurrentDayWind,
.AdmPageLayout .AdmWeatherForecastBody .AdmWeatherForecastCurrentDayHumidity,
.AdmPageLayout .AdmWeatherForecastBody .AdmWeatherForecastCurrentDayGrowDegree,
.AdmPageLayout .AdmWeatherForecastBody .AdmWeatherForecastCurrentDaySun
{
    padding:0px 6px 0px 6px;
}


.AdmPageLayout .AdmLocation,
.AdmPageLayout .AdmCommentaryTypeBody,
/*
.AdmPageLayout .AdmWeatherForecastBody .AdmWeatherForecastCurrentDayPrecip,
.AdmPageLayout .AdmWeatherForecastBody .AdmWeatherForecastCurrentDayWind,
.AdmPageLayout .AdmWeatherForecastBody .AdmWeatherForecastCurrentDayHumidity,
.AdmPageLayout .AdmWeatherForecastBody .AdmWeatherForecastCurrentDayGrowDegree,
.AdmPageLayout .AdmWeatherForecastBody .AdmWeatherForecastCurrentDaySun,
*/
.AdmPageLayout .AdmWeatherCurrentConditions .AdmWeatherCurrentConditionsBodyIconLabel,
.AdmPageLayout .AdmWeatherCurrentConditions .AdmWeatherCurrentConditionsDetailsWrapper
{
    padding:0px 11px 0px 11px;
}

.AdmPageLayout .AdmWeatherExtendedForecastSummaryBodyDaysWrapper,
.AdmPageLayout .AdmLocationContactsFooter,
.AdmPageLayout .AdmLocationBidsFooter,
.AdmPageLayout .AdmWeatherAnimatedRadarSummaryBodyRadarTitle
{
	padding:0px 11px 11px 11px;
}

.AdmPageLayout .AdmMarketIntelligenceFooter
{
	padding:11px;
}

.AdmPageLayout .AdmCommentaryFooter,
.AdmPageLayout .AdmWeatherCurrentConditionsBody
{
    padding:11px 0px 0px 0px;
}

.AdmPageLayout .AdmCommentaryHeader,
.AdmPageLayout .AdmWeatherCurrentConditions .AdmWeatherCurrentConditionsBodyForeCast
{
    padding:11px 0px 11px 0px;
}

.AdmPageLayout .AdmLocationBidsBody
{
	padding:11px 0px 11px 11px;	
}

.AdmPageLayout .AdmWeatherRadarZoom
{
	padding:11px 11px 0px 0px;
}

.AdmPageLayout .AdmLocationContactsBody
{
    padding:11px 11px 0px 11px;
}

.AdmPageLayout .AdmLocationDocumentsBody
{
    padding:11px 0px 11px 11px;
}

.AdmPageLayout .AdmWebpart .AdmLocationBidsBody .center
{    
    text-align:center;
}

.AdmPageLayout .AdmLocationCommentsBody
{
    padding:11px 5px 11px 11px;        
}

.AdmPageLayout .AdmWebpart .AdmMarketIntelligence .AdmCommentaryTypeFooter,
.AdmPageLayout .AdmWeatherExtendedForecastSummaryHeader,
.AdmPageLayout .AdmWeatherCurrentConditionsHeader,
.AdmPageLayout .AdmWeatherRadarHeader,
.AdmPageLayout .AdmLocationSearchHeader,
.AdmPageLayout .AdmWeatherForecastHeader,
.AdmPageLayout .AdmFuturesHeader,
.AdmPageLayout .AdmGrainOilSeedAddressInfoHeader,
.AdmPageLayout .AdmLocationAnnouncementsHeader,
.AdmPageLayout .AdmLocationBidsHeader,
.AdmPageLayout .AdmLocationContactsHeader,
.AdmPageLayout .AdmLocationCommentsHeader,
.AdmPageLayout .AdmLocationDocumentsHeader,
.AdmPageLayout .AdmLocationHoursHeader,
.AdmPageLayout .AdmWeatherCurrentConditions .AdmWeatherCurrentConditionsDetailsWrapper,
.AdmPageLayout .AdmLocationAnnouncementsBody,
.AdmPageLayout .AdmFuturesBody,
/*.AdmPageLayout .AdmLocationCommentsBody,*/
.AdmPageLayout .AdmLocationHoursBody,
.AdmPageLayout .AdmFuturesBody,
.AdmPageLayout .AdmLocationBidsContact .AdmLocationBidsContactLink,
.AdmPageLayout .MarketIntelligenceHeader,
.AdmPageLayout .AdmCommentaryTypeHeader
{
    padding:11px;
}

.AdmPageLayout .AdmLocationHoursBody
{
    white-space:pre-wrap;
}

.AdmPageLayout .AdmLocationSearchHeaderSearchGo
{
	margin-top:11px;
}

.AdmPageLayout .AdmLocationSearchHeaderSearchGo,
.AdmPageLayout .AdmWeatherRadarHeaderSearchGo,
.AdmPageLayout .AdmWeatherForecastHeaderSearchGo
{
    padding:2px;
}

.AdmPageLayout .AdmFuturesBodyIndicator,
.AdmPageLayout .AdmFuturesBodyFields,
.AdmPageLayout .AdmFuturesBodyValues
{
    padding:5px 0px 5px 0px;
}

.AdmPageLayout .AdmWeatherForecastHeaderTemp
{
    padding:5px 0px 0px 11px;
}

.AdmPageLayout .AdmLocationBidsBodyRow .AdmLocationDocumentsBodyRow
{
    padding:2px 0px 2px 0px;
}

.AdmPageLayout .AdmLocationBidsBodyRow .AdmLocationsBidSettledPrice
{
    color:#648d3d;
    font-weight:bold;
}

.AdmPageLayout .AdmLocationAddsBodyRow 
{
    padding:2px 0px 2px 0px;
}

.AdmPageLayout .AdmLocationContactsRow
{
    padding:5px 2px;
}

.AdmPageLayout .AdmWeatherForecastDayBody,
.AdmPageLayout .AdmWeatherForecastDayBodyFirstDay,
.AdmPageLayout .AdmWeatherForecastDayBodyLastDay
{
    padding:11px 5px 11px 5px;
}

.AdmPageLayout .AdmWeatherCurrentConditions .AdmWeatherCurrentConditionsBodyTempLabel
{
    display:none;
}

.AdmPageLayout .AdmWeatherExtendedSummaryForecastBodyDayVR,
.AdmPageLayout .AdmWeatherCurrentConditions .AdmWeatherCurrentConditionsForeCast
{
    margin-right:-1px;
    border-right:1px solid #7D7D7D;
}

.AdmPageLayout .AdmWeatherRadarImageMap
{
    width:100%;
}

.AdmPageLayout .AdmMarketIntelligenceFooter,
.AdmPageLayout .AdmCommentaryTypeBody,
.AdmPageLayout .AdmCommentaryTypeFooter,
.AdmPageLayout .AdmWeatherForecastDayBodyLastDay,
.AdmPageLayout .AdmWeatherForecastDayBodyFirstDay,
.AdmPageLayout .AdmWeatherForecastDayBody,
.AdmPageLayout .AdmWeatherRadarZoomButton,
.AdmPageLayout .AdmWeatherExtendedForecastSummaryBody,
.AdmPageLayout .AdmWeatherCurrentConditionsBody,
.AdmPageLayout .AdmWeatherAnimatedRadarSummaryBody,
.AdmPageLayout .AdmWeatherCurrentConditionsBodyForeCast,
.AdmPageLayout .AdmLocationInfo
{
    background:#f7f9f9;
}

.AdmPageLayout .AdmWeatherExtendedForecastSummaryHeader,
.AdmPageLayout .AdmWeatherCurrentConditionsHeader,
.AdmPageLayout .AdmWeatherRadarHeader,
.AdmPageLayout .AdmLocationSearchHeader,
.AdmPageLayout .AdmWeatherForecastHeader,
.AdmPageLayout .AdmFuturesHeader,
.AdmPageLayout .AdmGrainOilSeedAddressInfoHeader,
.AdmPageLayout .AdmLocationAnnouncementsHeader,
.AdmPageLayout .AdmLocationBidsHeader,
.AdmPageLayout .AdmLocationContactsHeader,
.AdmPageLayout .AdmLocationCommentsHeader,
.AdmPageLayout .AdmLocationDocumentsHeader,
.AdmPageLayout .AdmLocationHoursHeader,
.AdmPageLayout .AdmWeatherRadarZoom,
.AdmPageLayout .AdmWeatherRadarZoomButtonSelected,
.AdmPageLayout .AdmWeatherRadarZoomButton,
.AdmPageLayout .MarketIntelligenceHeader,
.AdmPageLayout .AdmCollapseStatus,
.AdmPageLayout .AdmCommentaryTypeFooter,
.AdmPageLayout .AdmCommentaryTypeBody,
.AdmPageLayout .AdmCommentaryTypeHeader
{
	font-family:verdana;
}

.AdmPageLayout .AdmWeatherExtendedForecastSummaryHeader,
.AdmPageLayout .AdmWeatherCurrentConditionsHeader,
.AdmPageLayout .AdmWeatherRadarHeader,
.AdmPageLayout .AdmLocationSearchHeader,
.AdmPageLayout .AdmWeatherForecastHeader,
.AdmPageLayout .AdmFuturesHeader,
.AdmPageLayout .AdmGrainOilSeedAddressInfoHeader,
.AdmPageLayout .AdmLocationAnnouncementsHeader,
.AdmPageLayout .AdmLocationBidsHeader,
.AdmPageLayout .AdmLocationContactsHeader,
.AdmPageLayout .AdmLocationCommentsHeader,
.AdmPageLayout .AdmLocationDocumentsHeader,
.AdmPageLayout .AdmLocationHoursHeader,
.AdmPageLayout .AdmWeatherRadarZoom,
.AdmPageLayout .AdmWeatherRadarZoomButtonSelected,
.AdmPageLayout .AdmWeatherRadarZoomButton,
.AdmPageLayout .MarketIntelligenceHeader,
.AdmPageLayout .AdmWeatherExtendedForecastSummaryBodyDayTitle,
.AdmPageLayout .AdmWeatherExtendedSummaryDefaultTempSelection,
.AdmPageLayout .AdmWeatherCurrentConditionsDefaultTemp,
.AdmPageLayout .AdmWeatherForecastHeaderTemp,
.AdmPageLayout .AdmWeatherRadarHeaderSearchGo,
.AdmPageLayout .AdmLocationSearchHeaderSearchGo,
.AdmPageLayout .AdmWeatherForecastHeaderSearchGo
{
	font-size:12px;
}

.AdmPageLayout .AdmCollapseStatus,
.AdmPageLayout .AdmCommentaryTypeBody,
.AdmPageLayout .AdmCommentaryTypeFooter,
.AdmPageLayout .AdmCommentaryTypeHeader
{
	font-size:11px;
}
.AdmPageLayout .AdmWeatherExtendedForecastSummaryHeader,
.AdmPageLayout .AdmWeatherCurrentConditionsHeader,
.AdmPageLayout .AdmWeatherRadarHeader,
.AdmPageLayout .AdmLocationSearchHeader,
.AdmPageLayout .AdmWeatherForecastHeader,
.AdmPageLayout .AdmFuturesHeader,
.AdmPageLayout .AdmGrainOilSeedAddressInfoHeader,
.AdmPageLayout .AdmLocationAnnouncementsHeader,
.AdmPageLayout .AdmLocationBidsHeader,
.AdmPageLayout .AdmLocationContactsHeader,
.AdmPageLayout .AdmLocationCommentsHeader,
.AdmPageLayout .AdmLocationDocumentsHeader,
.AdmPageLayout .AdmLocationHoursHeader,
.AdmPageLayout .AdmWeatherRadarZoom,
.AdmPageLayout .MarketIntelligenceHeader
{
	color:#FFFFFF;
	background:#648d3d;	
}

.AdmPageLayout .AdmWeatherRadarZoomButtonSelected
{
    background:#D9E0CC;
	padding:5px;
	margin-right:5px;
	border:1px solid #7D7D7D;
}

.AdmPageLayout .AdmWeatherRadarZoom .AdmWeatherRadarZoomButtonSelected:link,
.AdmPageLayout .AdmWeatherRadarZoom .AdmWeatherRadarZoomButtonSelected:active,
.AdmPageLayout .AdmWeatherRadarZoom .AdmWeatherRadarZoomButtonSelected:hover,
.AdmPageLayout .AdmWeatherRadarZoom .AdmWeatherRadarZoomButtonSelected:visited,
.AdmPageLayout .AdmWeatherRadarZoom .AdmWeatherRadarZoomButton:link,
.AdmPageLayout .AdmWeatherRadarZoom .AdmWeatherRadarZoomButton:active,
.AdmPageLayout .AdmWeatherRadarZoom .AdmWeatherRadarZoomButton:hover,
.AdmPageLayout .AdmWeatherRadarZoom .AdmWeatherRadarZoomButton:visited,
.AdmPageLayout .AdmWeatherRadarZoomButtonSelected,
.AdmPageLayout .AdmWeatherExtendedForecastSummaryBody hr,
.AdmPageLayout .AdmWeatherAnimatedRadarSummaryBody hr,
.AdmPageLayout .AdmFuturesBodyHeader hr,
.AdmPageLayout .AdmLocationSearchBody hr,
.AdmPageLayout .AdmLocationBidsCommodityHeader hr,
.AdmPageLayout .AdmLocationBidsViewMoreRow hr,
.AdmPageLayout .AdmWeatherForecastBody hr,
.AdmPageLayout .AdmCommentaryTypeHeader,
.AdmPageLayout .AdmCommentaryTypeFooter,
.AdmPageLayout .AdmCommentaryTypeBody,
.AdmPageLayout .AdmMarketIntelligence hr,
.AdmPageLayout .AdmFuturesBodyFooter hr
{
    color:#7D7D7D;
}

.AdmPageLayout .AdmWeatherRadarZoomButton
{
	color:#FFFFFF;
	padding:5px;
	margin-right:5px;
	border:1px solid #7D7D7D;
}

.AdmPageLayout .AdmWeatherHeaderTemp,
.AdmPageLayout .AdmLocationContactsFooter,
.AdmPageLayout .AdmFuturesBodyValues,
.AdmPageLayout .AdmLocationBidsViewMoreRow,
.AdmPageLayout .AdmWeatherExtendedSummaryDefaultTempSelection,
.AdmPageLayout .AdmWeatherCurrentConditionsDefaultTemp,
.AdmPageLayout .AdmWeatherForecastHeaderTemp,
.AdmPageLayout .AdmCommentaryFooter
{
    text-align:right;    
}

.AdmPageLayout .AdmCommentaryFooter
{
    width:100%;
}

.AdmPageLayout .AdmWeatherCurrentConditionsBodyTemp .AdmWeatherForecastCurrentDayTemp
{
    font-size:250%;
}

.AdmPageLayout .AdmCommentaryTitle,
.AdmPageLayout .AdmCollapseStatus,
.AdmPageLayout .AdmCommentaryTypeHeader,
.AdmPageLayout .MarketIntelligenceHeader,
.AdmPageLayout .AdmLocationBidsCommodityHeaderRow,
.AdmPageLayout .AdmLocationBidsCommodityHeader,
.AdmPageLayout .AdmLocationBidsType,
.AdmPageLayout .AdmLocationContactsBodyContactName,
.AdmPageLayout .AdmLocationDocumentsHeaderRow,
.AdmPageLayout .AdmFuturesBodyHeader,
.AdmPageLayout .AdmLocationContactsFooter,
.AdmPageLayout .AdmWeatherAnimatedRadarSummaryBodyRadarTitle,
.AdmPageLayout .AdmWeatherCurrentConditionsBodyTemp .AdmWeatherForecastCurrentDayTemp,
.AdmPageLayout .AdmWeatherForecastCurrentDayTemp,
.AdmPageLayout .AdmWeatherExtendedForecastSummaryHeader,
.AdmPageLayout .AdmWeatherCurrentConditionsHeader,
.AdmPageLayout .AdmWeatherRadarHeader,
.AdmPageLayout .AdmLocationSearchHeader,
.AdmPageLayout .AdmWeatherForecastHeader,
.AdmPageLayout .AdmFuturesHeader,
.AdmPageLayout .AdmGrainOilSeedAddressInfoHeader,
.AdmPageLayout .AdmLocationAnnouncementsHeader,
.AdmPageLayout .AdmLocationBidsHeader,
.AdmPageLayout .AdmLocationContactsHeader,
.AdmPageLayout .AdmLocationCommentsHeader,
.AdmPageLayout .AdmLocationDocumentsHeader,
.AdmPageLayout .AdmLocationHoursHeader,
.AdmPageLayout .AdmLocationBidsViewMoreRow,
.AdmPageLayout .AdmWeatherRadarZoom,
.AdmPageLayout .AdmWeatherRadarZoomButtonSelected,
.AdmPageLayout .AdmWeatherRadarZoomButton
{
    font-weight:bold;
}

.AdmPageLayout .AdmWeatherForecastBody .AdmWeatherForecastFeel
{
	white-space:nowrap;
}

.AdmPageLayout .AdmWeatherForecastCurrentDayTemp,
.AdmPageLayout .AdmWeatherForecastPredictedDayTemp
{
    font-size:145%;
}

.AdmPageLayout .AdmWeatherForecastPredictedDayTemp,
.AdmPageLayout .AdmWeatherExtendedForecastSummaryBodyDaysWrapper,
.AdmPageLayout .AdmWeatherCurrentConditionsBodyIcon .AdmWeatherCurrentConditionsBodyIconLabel,
.AdmPageLayout .AdmWeatherCurrentConditionsBodyTemp .AdmWeatherCurrentConditionsBodyTempHighLow,
.AdmPageLayout .AdmWeatherCurrentConditionsBodyTemp .AdmWeatherForecastCurrentDayTemp,
.AdmPageLayout .AdmWeatherForecastBody .AdmWeatherCurrentConditionsBodyForecast,
.AdmPageLayout .AdmWeatherForecastBody .AdmWeatherCurrentConditionsBodyIconHead,
.AdmPageLayout .AdmWeatherForecastBody .AdmWeatherCurrentConditionsBodyIcon,
.AdmPageLayout .AdmWeatherForecastBody .AdmWeatherCurrentConditionsBodyTemp,
.AdmPageLayout .AdmWeatherForecastBody .AdmWeatherForecastFeel,
.AdmPageLayout .AdmWeatherForecastBody .AdmWeatherForecastDate,
.AdmPageLayout .AdmWeatherForecastBody .AdmWeatherForecastCurrentDayTemp,
.AdmPageLayout .AdmWeatherForecastBody .AdmWeatherForecastPredictedDay,
.AdmPageLayout .AdmWeatherForecastBody .AdmWeatherForecastPredictedDayTemp
{
    text-align:center;
}

.AdmPageLayout .AdmMarketIntelligenceFooter,
.AdmPageLayout .AdmLocationBidsFooter
{
    font-size:smaller;
}


.AdmPageLayout .AdmWeatherForecastSearchValidationError,
.AdmPageLayout .AdmLocationSearchValidationError
{
    color:#BB0000;
    padding-bottom:2px;
}

.AdmPageLayout .AdmMarketIntelligenceBody:hover
{
	cursor:default;
}

.AdmPageLayout .AdmWebpart a:hover
{
	cursor:pointer;
}


.AdmPageLayout .AdmLocationBidsContact
{
    background:#D9E0CC;
}

.AdmPageLayout .AdmWeatherCurrentConditionsBodyIcon .AdmWeatherForecastImage,
.AdmPageLayout .AdmWeatherForecastBody .AdmWeatherForecastImage
{
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.AdmPageLayout .AdmWeatherExtendedForecastSummaryBody hr,
.AdmPageLayout .AdmWeatherAnimatedRadarSummaryBody hr,
.AdmPageLayout .AdmFuturesBodyHeader hr,
.AdmPageLayout .AdmLocationSearchBody hr,
.AdmPageLayout .AdmLocationBidsCommodityHeader hr,
.AdmPageLayout .AdmLocationBidsViewMoreRow hr,
.AdmPageLayout .AdmWeatherForecastBody hr,
.AdmPageLayout .AdmMarketIntelligence hr,
.AdmPageLayout .AdmFuturesBodyFooter hr
{
    height:1px;
}

.AdmPageLayout .AdmCommentaryUpdateDate,
.AdmPageLayout .AdmLocationBidsHeaderLastUpdated,
.AdmPageLayout .AdmCommentaryTypeBody
{
    font-weight:normal;
}


.AdmPageLayout .AdmLocationSearchHeaderSearchGo,
.AdmPageLayout .AdmLocationBidsHeaderLastUpdated
{
    float:right;
}

.AdmPageLayout .AdmCommentaryTypeHeader
{
    margin:0px;
    background:#D9E0CC;
}

.AdmPageLayout .AdmCollapseStatus
{
    color:#0B2777;
    margin-right:11px;
    padding:1px;
}

.AdmPageLayout .AdmCommentaryType,
.AdmPageLayout .AdmCommentaryBensonQuinnType,
.AdmPageLayout .AdmCommentaryAdmisGrainType,
.AdmPageLayout .AdmCommentaryMarketPartnersType,
.AdmPageLayout .AdmCommentaryTechCommentsType,
.AdmPageLayout .AdmCommentaryType,
.AdmPageLayout .AdmMarketIntelligenceFooter,
.AdmPageLayout .AdmWeatherForecastHeaderSearchTemp,
.AdmPageLayout .AdmLocationSearchHeaderSearchText,
.AdmPageLayout .AdmLocationSearchHeaderRadii,
.AdmPageLayout .AdmWeatherRadarBody
{
    margin-top:11px;
}

.AdmPageLayout .AdmLocationSearchHeaderRadii
{
	float:left;
}

.AdmPageLayout .AdmLocationSearchHeaderRadiiLabel,
.AdmPageLayout .AdmLocationSearchRadiusGo 
{
    padding-top:3px;
    padding-bottom:3px;
}

.AdmPageLayout .AdmWeatherForecastBody,
.AdmPageLayout .AdmWeatherForecastHeader,
.AdmPageLayout .AdmMarketIntelligenceFooter
{
    margin-bottom:11px;
}

.AdmPageLayout .AdmLocationBidsViewMoreRow,
.AdmPageLayout .AdmLocationBidsCommodityHeaderRow
.AdmPageLayout .AdmLocationDocumentsHeaderRow
{
    margin-top:5px;   
}

.AdmPageLayout .AdmLocationBidsType
{
    margin-bottom:5px;
}

.AdmPageLayout .AdmWeatherExtendedForecastSummaryBody hr,
.AdmPageLayout .AdmWeatherAnimatedRadarSummaryBody hr
{
    margin:0px 11px;
}

.AdmPageLayout .AdmLocationBidsCommodityHeaderRow
.AdmPageLayout .AdmLocationDocumentsHeaderRow
{
    margin-bottom:2px;
}

.AdmPageLayout .AdmLocationSearchBody .AdmBadLocation
{
    line-height:15px;
}

.AdmPageLayout .AdmLocationSearchBody .AdmBadLocation ul
{
    margin-top:0px;
    margin-bottom:0px;
    font-style:italic;
    list-style:circle outside none;
}

.AdmPageLayout .AdmLocationSearchBody .AdmBadLocation li
{
    font-size:15px;
}

.AdmPageLayout .AdmLocationSearchBody .AdmBadLocation li span
{
    font-size:11px;
}

.AdmPageLayout .AdmWeatherForecastDay hr
{
}

.AdmPageLayout .AdmWebpart .AdmLocationBidsViewMoreRow hr
{
	margin-right:11px;	
}

.AdmPageLayout .AdmWeatherForecastDayBody
{
    margin:0px 3px 0px 3px;
}
.AdmPageLayout .AdmWeatherForecastDayBodyFirstDay
{
    margin:0px 3px 0px 0px; 
}
.AdmPageLayout .AdmWeatherForecastDayBodyLastDay
{
    margin:0px 0px 0px 3px;
}

.AdmPageLayout .AdmWebpart .AdmMarketIntelligence .AdmCommentaryBody .youtubelink,
.AdmPageLayout .AdmWebpart .AdmMarketIntelligence .AdmCommentaryBody .previewImage,
.AdmPageLayout .AdmWebpart .AdmMarketIntelligence .AdmCommentaryBody .mp3Link
{
	border:0px;
    margin:0px;
    padding:5px 10px 5px 0px;
    display:inline-block;

}

.AdmPageLayout .AdmWebpart .AdmMarketIntelligence .AdmCommentaryBody .previewImage,
.AdmPageLayout .AdmWebpart .AdmMarketIntelligence .AdmCommentaryBody .mp3Link
{
    float:left;
    clear:left;
}

.AdmPageLayout .AdmWebpart .AdmMarketIntelligence .AdmCommentaryBody .mp3Link
{
    width:100%;
}

.AdmPageLayout .AdmWebpart .AdmMarketIntelligence .AdmCommentaryBody .youtubelink
{
    float:left;
    clear:left;
    border:0px;
    margin:0px;
	padding:0px;
    display:inline-block;
}

.AdmPageLayout .AdmWebpart .AdmMarketIntelligence .AdmCommentaryBody .youtubelink
{
    width:360px;
    height:225px;
}

.AdmPageLayout .AdmWebpart .AdmMarketIntelligence .AdmCommentaryBody .youtubewrapper
{
    border:0px;    
    width:360px;
    height:225px;
    margin:0px;
    padding:0px;
    clear:left;
    margin:0px auto;
    padding:5px 0px;
}

.AdmPageLayout .AdmWebpart .AdmMarketIntelligence .AdmCommentaryBody .previewImage
{
    max-height:125px;
    max-width:125px;
    width: expression(this.width > 125 ? "125px" : true);
    height: expression(this.height > 125 ? "125px" : true);
    width:125px;
    height:125px;
    float: left;
    clear: left;
}

.AdmLocation hr
{
    padding-top:0px;
    padding-bottom:0px;
}

.AdmPageLayout .AdmWebpart .LocationInfoImageDetailed
{
    max-height:75px;
    max-width:63px;
    width: expression(this.width > 63 ? "63px" : true);
    height: expression(this.height > 75 ? "75px" : true);
}

.AdmPageLayout .AdmWebpart .LocationInfoImagePreview
{
    max-height:51px;
    max-width:43px;
    width: expression(this.width > 43 ? "43px" : true);
    height: expression(this.height > 51 ? "51px" : true);
}

/* **************** GRIDS ***************** */
.line:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.lastUnit:after{content:" . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";visibility:hidden; clear:both;height:0 !important;display:block;line-height:0;}
.mainpanel{width:500px;}
.line{*zoom:1;}
.unit{float:left;}
.unitRight{float:right;}
.unitCenter{text-align:center; }
.size1of1{float:none; width:auto;}
.size1of2{width:50%;}
.size1of3{width:33.33333%;}
.size2of3{width:66.66666%;}
.size1of4{width:25%;}
.size2of4{width:50%;}
.size3of4{width:75%;}
.size1of5{width:20%;}
.size2of5{width:40%;}
.size3of5{width:60%;}
.size4of5{width:80%;}
.size1of6{width:16.66666%;}
.size2of6{width:33.33333%;}
.size3of6{width:50%;}
.size4of6{width:66.66666%;}
.size5of6{width:83.33333%;}
.size1of7{width:14.28571%;}
.size2of7{width:28.57142%;}
.size3of7{width:42.85714%;}
.size4of7{width:57.14285%;}
.size5of7{width:71.42857%;}
.size6of7{width:85.71428%;}
.size1of8{width:12.5%;}
.size2of8{width:25%;}
.size3of8{width:37.5%;}
.size4of8{width:50%;}
.size5of8{width:62.5%;}
.size6of8{width:75%;}
.size7of8{width:87.5%;}
.size1of9{width:11.11111%;}
.size2of9{width:22.22222%;}
.size3of9{width:33.33333%;}
.size4of9{width:44.44444%;}
.size5of9{width:55.55555%;}
.size6of9{width:66.66666%;}
.size7of9{width:77.77777%;}
.size8of9{width:88.88888%;}
.size1of10{width:10%;}
.size2of10{width:20%;}
.size3of10{width:30%;}
.size4of10{width:40%;}
.size5of10{width:50%;}
.size6of10{width:60%;}
.size7of10{width:70%;}
.size8of10{width:80%;}
.size9of10{width:90%;}
.size1of11{width:9.0909%;padding:1px;}
.size2of11{width:18.18181%;padding:1px;}
.size3of11{width:27.27272%;}
.size4of11{width:36.36363%;padding:1px;}
.size5of11{width:45.45454%;}
.size6of11{width:54.54545%;}
.size7of11{width:63.63636%;}
.size8of11{width:72.72727%;}
.size9of11{width:81.81818%;}
.size10of11{width:90.90909%;}
.size1of12{width:8.33333%;}
.size2of12{width:16.66666%;}
.size3of12{width:25%;}
.size4of12{width:33.33333%;}
.size5of12{width:41.66666%;}
.size6of12{width:50%;}
.size7of12{width:58.33333%;}
.size8of12{width:66.66666%;}
.size9of12{width:75%;}
.size10of12{width:83.33333%;}
.size11of12{width:91.66666%;}
.size1of13{width:7.6923%;}
.size2of13{width:15.38461%;}
.size3of13{width:23.07692%;}
.size4of13{width:30.76923%;}
.size5of13{width:38.46153%;}
.size6of13{width:46.15384%;}
.size7of13{width:53.84615%;}
.size8of13{width:61.53846%;}
.size9of13{width:69.23076%;}
.size10of13{width:76.92307%;}
.size11of13{width:84.61538%;}
.size12of13{width:92.30769%;}
.size1of14{width:7.14285%;}
.size2of14{width:14.28571%;}
.size3of14{width:21.42857%;}
.size4of14{width:28.57142%;}
.size5of14{width:35.71428%;}
.size6of14{width:42.85714%;}
.size7of14{width:50%;}
.size8of14{width:57.14285%;}
.size9of14{width:64.28571%;}
.size10of14{width:71.42857%;}
.size11of14{width:78.57142%;}
.size12of14{width:85.71428%;}
.size13of14{width:92.85714%;}
.size1of15{width:6.66666%;}
.size2of15{width:13.33333%;}
.size3of15{width:20%;}
.size4of15{width:26.66666%;}
.size5of15{width:33.33333%;}
.size6of15{width:40%;}
.size7of15{width:46.66666%;}
.size8of15{width:53.33333%;}
.size9of15{width:60%;}
.size10of15{width:66.66666%;}
.size11of15{width:73.33333%;}
.size12of15{width:80%;}
.size13of15{width:86.66666%;}
.size14of15{width:93.33333%;}
.size1of16{width:6.25%;}
.size2of16{width:12.5%;}
.size3of16{width:18.75%;}
.size4of16{width:25%;}
.size5of16{width:31.25%;}
.size6of16{width:37.5%;}
.size7of16{width:43.75%;}
.size8of16{width:50%;}
.size9of16{width:56.25%;}
.size10of16{width:62.5%;}
.size11of16{width:68.75%;}
.size12of16{width:75%;}
.size13of16{width:81.25%;}
.size14of16{width:87.5%;}
.size15of16{width:93.75%;}
.size1of17{width:5.88235%;}
.size2of17{width:11.7647%;}
.size3of17{width:17.64705%;}
.size4of17{width:23.52941%;}
.size5of17{width:29.41176%;}
.size6of17{width:35.29411%;}
.size7of17{width:41.17647%;}
.size8of17{width:47.05882%;}
.size9of17{width:52.94117%;}
.size10of17{width:58.82352%;}
.size11of17{width:64.70588%;}
.size12of17{width:70.58823%;}
.size13of17{width:76.47058%;}
.size14of17{width:82.35294%;}
.size15of17{width:88.23529%;}
.size16of17{width:94.11764%;}
.size1of18{width:5.55555%;}
.size2of18{width:11.11111%;}
.size3of18{width:16.66666%;}
.size4of18{width:22.22222%;}
.size5of18{width:27.77777%;}
.size6of18{width:33.33333%;}
.size7of18{width:38.88888%;}
.size8of18{width:44.44444%;}
.size9of18{width:50%;}
.size10of18{width:55.55555%;}
.size11of18{width:61.11111%;}
.size12of18{width:66.66666%;}
.size13of18{width:72.22222%;}
.size14of18{width:77.77777%;}
.size15of18{width:83.33333%;}
.size16of18{width:88.88888%;}
.size17of18{width:94.44444%;}
.size1of19{width:5.26315%;}
.size2of19{width:10.52631%;}
.size3of19{width:15.78947%;}
.size4of19{width:21.05263%;}
.size5of19{width:26.31578%;}
.size6of19{width:31.57894%;}
.size7of19{width:36.8421%;}
.size8of19{width:42.10526%;}
.size9of19{width:47.36842%;}
.size10of19{width:52.63157%;}
.size11of19{width:57.89473%;}
.size12of19{width:63.15789%;}
.size13of19{width:68.42105%;}
.size14of19{width:73.68421%;}
.size15of19{width:78.94736%;}
.size16of19{width:84.21052%;}
.size17of19{width:89.47368%;}
.size18of19{width:94.73684%;}
.size1of20{width:5%;}
.size2of20{width:10%;}
.size3of20{width:15%;}
.size4of20{width:20%;}
.size5of20{width:25%;}
.size6of20{width:30%;}
.size7of20{width:35%;}
.size8of20{width:40%;}
.size9of20{width:45%;}
.size10of20{width:50%;}
.size11of20{width:55%;}
.size12of20{width:60%;}
.size13of20{width:65%;} 
.size14of20{width:70%;}
.size15of20{width:75%;}
.size16of20{width:80%;}
.size17of20{width:85%;}
.size18of20{width:90%;}
.size19of20{width:95%;}
.size20of20{width:97%;}
.oddrow
{
    background:#ffffff;
}

.negative
{
    color:#951B1E;
}

.lastUnit {display:table-cell; *display:block;*zoom:1;float:none;_position:relative; _left:-3px; _margin-right:-3px;width:auto;}

.mainpanelHeight{height:500px;}
.height1of1{float:none; height:auto;}
.height1of2{height:50%;}
.height1of3{height:33.33333%;}
.height2of3{height:66.66666%;}
.height1of4{height:25%;}
.height2of4{height:50%;}
.height3of4{height:75%;}
.height1of5{height:20%;}
.height2of5{height:40%;}
.height3of5{height:60%;}
.height4of5{height:80%;}
.height1of6{height:16.66666%;}
.height2of6{height:33.33333%;}
.height3of6{height:50%;}
.height4of6{height:66.66666%;}
.height5of6{height:83.33333%;}
.height1of7{height:14.28571%;}
.height2of7{height:28.57142%;}
.height3of7{height:42.85714%;}
.height4of7{height:57.14285%;}
.height5of7{height:71.42857%;}
.height6of7{height:85.71428%;}
.height1of8{height:12.5%;}
.height2of8{height:25%;}
.height3of8{height:37.5%;}
.height4of8{height:50%;}
.height5of8{height:62.5%;}
.height6of8{height:75%;}
.height7of8{height:87.5%;}
.height1of9{height:11.11111%;}
.height2of9{height:22.22222%;}
.height3of9{height:33.33333%;}
.height4of9{height:44.44444%;}
.height5of9{height:55.55555%;}
.height6of9{height:66.66666%;}
.height7of9{height:77.77777%;}
.height8of9{height:88.88888%;}
.height1of10{height:10%;}
.height2of10{height:20%;}
.height3of10{height:30%;}
.height4of10{height:40%;}
.height5of10{height:50%;}
.height6of10{height:60%;}
.height7of10{height:70%;}
.height8of10{height:80%;}
.height9of10{height:90%;}
.height1of11{height:9.0909%;}
.height2of11{height:18.18181%;}
.height3of11{height:27.27272%;}
.height4of11{height:36.36363%;}
.height5of11{height:45.45454%;}
.height6of11{height:54.54545%;}
.height7of11{height:63.63636%;}
.height8of11{height:72.72727%;}
.height9of11{height:81.81818%;}
.height10of11{height:90.90909%;}
.height1of12{height:8.33333%;}
.height2of12{height:16.66666%;}
.height3of12{height:25%;}
.height4of12{height:33.33333%;}
.height5of12{height:41.66666%;}
.height6of12{height:50%;}
.height7of12{height:58.33333%;}
.height8of12{height:66.66666%;}
.height9of12{height:75%;}
.height10of12{height:83.33333%;}
.height11of12{height:91.66666%;}
.height1of13{height:7.6923%;}
.height2of13{height:15.38461%;}
.height3of13{height:23.07692%;}
.height4of13{height:30.76923%;}
.height5of13{height:38.46153%;}
.height6of13{height:46.15384%;}
.height7of13{height:53.84615%;}
.height8of13{height:61.53846%;}
.height9of13{height:69.23076%;}
.height10of13{height:76.92307%;}
.height11of13{height:84.61538%;}
.height12of13{height:92.30769%;}
.height1of14{height:7.14285%;}
.height2of14{height:14.28571%;}
.height3of14{height:21.42857%;}
.height4of14{height:28.57142%;}
.height5of14{height:35.71428%;}
.height6of14{height:42.85714%;}
.height7of14{height:50%;}
.height8of14{height:57.14285%;}
.height9of14{height:64.28571%;}
.height10of14{height:71.42857%;}
.height11of14{height:78.57142%;}
.height12of14{height:85.71428%;}
.height13of14{height:92.85714%;}
.height1of15{height:6.66666%;}
.height2of15{height:13.33333%;}
.height3of15{height:20%;}
.height4of15{height:26.66666%;}
.height5of15{height:33.33333%;}
.height6of15{height:40%;}
.height7of15{height:46.66666%;}
.height8of15{height:53.33333%;}
.height9of15{height:60%;}
.height10of15{height:66.66666%;}
.height11of15{height:73.33333%;}
.height12of15{height:80%;}
.height13of15{height:86.66666%;}
.height14of15{height:93.33333%;}
.height1of16{height:6.25%;}
.height2of16{height:12.5%;}
.height3of16{height:18.75%;}
.height4of16{height:25%;}
.height5of16{height:31.25%;}
.height6of16{height:37.5%;}
.height7of16{height:43.75%;}
.height8of16{height:50%;}
.height9of16{height:56.25%;}
.height10of16{height:62.5%;}
.height11of16{height:68.75%;}
.height12of16{height:75%;}
.height13of16{height:81.25%;}
.height14of16{height:87.5%;}
.height15of16{height:93.75%;}
.height1of17{height:5.88235%;}
.height2of17{height:11.7647%;}
.height3of17{height:17.64705%;}
.height4of17{height:23.52941%;}
.height5of17{height:29.41176%;}
.height6of17{height:35.29411%;}
.height7of17{height:41.17647%;}
.height8of17{height:47.05882%;}
.height9of17{height:52.94117%;}
.height10of17{height:58.82352%;}
.height11of17{height:64.70588%;}
.height12of17{height:70.58823%;}
.height13of17{height:76.47058%;}
.height14of17{height:82.35294%;}
.height15of17{height:88.23529%;}
.height16of17{height:94.11764%;}
.height1of18{height:5.55555%;}
.height2of18{height:11.11111%;}
.height3of18{height:16.66666%;}
.height4of18{height:22.22222%;}
.height5of18{height:27.77777%;}
.height6of18{height:33.33333%;}
.height7of18{height:38.88888%;}
.height8of18{height:44.44444%;}
.height9of18{height:50%;}
.height10of18{height:55.55555%;}
.height11of18{height:61.11111%;}
.height12of18{height:66.66666%;}
.height13of18{height:72.22222%;}
.height14of18{height:77.77777%;}
.height15of18{height:83.33333%;}
.height16of18{height:88.88888%;}
.height17of18{height:94.44444%;}
.height1of19{height:5.26315%;}
.height2of19{height:10.52631%;}
.height3of19{height:15.78947%;}
.height4of19{height:21.05263%;}
.height5of19{height:26.31578%;}
.height6of19{height:31.57894%;}
.height7of19{height:36.8421%;}
.height8of19{height:42.10526%;}
.height9of19{height:47.36842%;}
.height10of19{height:52.63157%;}
.height11of19{height:57.89473%;}
.height12of19{height:63.15789%;}
.height13of19{height:68.42105%;}
.height14of19{height:73.68421%;}
.height15of19{height:78.94736%;}
.height16of19{height:84.21052%;}
.height17of19{height:89.47368%;}
.height18of19{height:94.73684%;}
.height1of20{height:5%;}
.height2of20{height:10%;}
.height3of20{height:15%;}
.height4of20{height:20%;}
.height5of20{height:25%;}
.height6of20{height:30%;}
.height7of20{height:35%;}
.height8of20{height:40%;}
.height9of20{height:45%;}
.height10of20{height:50%;}
.height11of20{height:55%;}
.height12of20{height:60%;}
.height13of20{height:65%;} 
.height14of20{height:70%;}
.height15of20{height:75%;}
.height16of20{height:80%;}
.height17of20{height:85%;}
.height18of20{height:90%;}
.height19of20{height:95%;}


.AdmLocationTab .ajax__tab_outer {
    background: url("../Images/tab-right.jpg")/*tpa=http://www.adm.com/_layouts/ADMworld/Images/tab-right.jpg*/ no-repeat scroll right center transparent;
}
.AdmLocationTab .ajax__tab_inner {
    background: url("../Images/tab-left.jpg")/*tpa=http://www.adm.com/_layouts/ADMworld/Images/tab-left.jpg*/ no-repeat scroll 0 0 transparent;
    padding-left: 10px;
    padding-right: 9px;
    width: 74px;
}
.AdmLocationTab .ajax__tab_active .ajax__tab_outer {
    background: url("../Images/tab-right-active.gif")/*tpa=http://www.adm.com/_layouts/ADMworld/Images/tab-right-active.gif*/ no-repeat scroll right center transparent;
}
.AdmLocationTab .ajax__tab_active .ajax__tab_inner {
    background: url("../Images/tab-left-active.gif")/*tpa=http://www.adm.com/_layouts/ADMworld/Images/tab-left-active.gif*/ no-repeat scroll 0 0 transparent;
    padding-left: 10px;
    padding-right: 9px;
    width: 74px;
}
.AdmLocationTab .ajax__tab_tab {
    border-top: 2px solid #EAEAEA;
    color: #25467E;
    display: table-cell !important;
    font-family: verdana;
    font-size: 14px;
    height: 36px;
    line-height: 17px;
    margin: 0 !important;
    vertical-align: middle !important;
    width: 74px;
}

.AdmNewsHeadlines {
    line-height: 30px;
}
.AdmLocationTab .ajax__tab_lastone {
    background: url("Unknown_83_filename")/*tpa=http://www.adm.com/_layouts/ADMworld/Images/tab-last.jpg*/ no-repeat scroll right center transparent;
    border-left:2px solid #EAEAEA;
}
.AdmLocationTab .ajax__tab_active .ajax__tab_tab {
    background-color: #EAEAEA;
    border-top: 2px solid #EAEAEA;
    color: #25467E;
    font-weight: bold;
}

.AdmLocationTab .ajax__tab_body {
    font-family: verdana;
    font-size: 12px;
    margin: 0;
    padding: 0;
    position: relative; 
}

.AdmPageLayout .AdmWebpart .AdmLocationSearchBody,
.AdmPageLayout .AdmWebpart .ajax__tab_container,
.AdmPageLayout .AdmWebpart .ajax__tab_body 
{
	height:400px;
}


.AdmLocationTab .ajax__tab_body .AdmLocationSearchMap
{
}

.AdmLocationTab .ajax__tab_body .AdmLocationSearchMap .AdmLocationSearchMapHeader
{
}

.AdmLegendPushpin
{
    vertical-align:middle;
}


.AdmelevatorPushPin div
{    
    color:Black !important;
    font:12px verdana;
	font-family:verdana;
}

.AdmprocessorPushPin div
{
    color:Black !important;
    font:12px verdana;
	font-family:verdana;
}

.Admelevator_and_processorPushPin div
{
    color:Black !important;
    font:12px verdana;
	font-family:verdana;
}
                        
.AdmLocationTab .ajax__tab_body .AdmLocationSearchMap .AdmLocationSearchMapBody .AdmLocationSearchMapBodyContent .AdmelevatorPushPin,
.AdmLocationTab .ajax__tab_body .AdmLocationSearchMap .AdmLocationSearchMapBody .AdmLocationSearchMapBodyContent .AdmprocessorPushPin,
.AdmLocationTab .ajax__tab_body .AdmLocationSearchMap .AdmLocationSearchMapBody .AdmLocationSearchMapBodyContent .Admelevator_and_processorPushPin
{
    z-index:9;
}

.AdmLocationTab .ajax__tab_body .AdmLocationSearchMap .AdmLocationSearchMapHeader
{
    z-index:10;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:0;
    text-align:center;
    background-color:#eaeaea;
}

.AdmLocationTab .ajax__tab_body .AdmLocationSearchMap .AdmLocationSearchMapHeader .AdmLocationSearchMapHeaderContent
{
    float:right;
    background-color:transparent;
    padding:2px;
}

.AdmLocationTab .ajax__tab_body .AdmLocationSearchMap .AdmLocationSearchMapHeader .AdmLocationSearchMapHeaderContent .AdmLocationSearchMapFullScreenButton
{
    padding:0px 2px;
}


.AdmLocationTab .ajax__tab_body .AdmLocationSearchMap .AdmLocationSearchMapBody
{
    position:absolute;
    height:100%;
    width:100%;
    top:0;
    left:0;
}

.AdmLocationTab .ajax__tab_body .AdmLocationSearchMap .AdmLocationSearchMapBody .AdmLocationSearchMapBodyContent
{ 
    display:block;
    position:absolute;
    height:auto; 
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin-top:0;
    margin-bottom:0;
    margin-right:0;
    margin-left:0;
    padding-top:0;
}


.AdmLocationTab .ajax__tab_body .AdmLocationSearchMap .AdmLocationSearchMapLegendButtonPanel
{    
}

.AdmLocationTab .ajax__tab_body .AdmLocationSearchMap .AdmLocationSearchMapLegendButton
{
    padding:5px 2px 3px 2px;
}

.AdmLocationTab .ajax__tab_body .AdmLocationSearchMap .AdmLocationSearchMapBody .NavBar_compassControlContainer,
.AdmLocationTab .ajax__tab_body .AdmLocationSearchMap .AdmLocationSearchMapBody .NavBar_zoomControlContainer,
.AdmLocationTab .ajax__tab_body .AdmLocationSearchMap .AdmLocationSearchMapBody .NavBar_modeSelectorControlContainer
{
    background:#eaeaea;
}



.AdmLocationTab .ajax__tab_body .AdmLocationSearchMap .AdmLocationSearchMapFooter
{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
}

.AdmLocationTab .ajax__tab_body .AdmLocationSearchMap .AdmLocationSearchMapFooterContent
{
    float:left;
    background-color:transparent;
    padding:5px;
}

.AdmLocationTab .ajax__tab_body .AdmLocationSearchMap .AdmLocationSearchMapFooterContent .AdmLocationSearchMapLegendContent
{
   padding:5px;
   background-color:#eaeaea;
   border:2px solid #AAAAAA;    
}


.AdmLocationTab .ajax__tab_body .AdmLocationSearchList .AdmLocationSearchListHeader
{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    text-align:center;
    padding-top:5px;
    padding-bottom:5px;
    background-color:#eaeaea;
}

.AdmLocationTab .ajax__tab_body .AdmLocationSearchList .AdmLocationSearchListBody
{
    position:absolute;
    height:100%;
    width:100%;
    top:0;
    left:0;
}

.AdmLocationTab .ajax__tab_body .AdmLocationSearchList .AdmLocationSearchListBody .AdmLocationSearchListBodyContent
{ 
    display:block;
    position:absolute;
    height:auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin-top:22px;
    margin-bottom:22px;
    margin-right:0px;
    margin-left:0;
    border-left:2px solid #eaeaea;
    overflow-y:scroll;
    padding-top:11px;
}

.AdmLocationTab .ajax__tab_body .AdmLocationSearchList .AdmLocationSearchListFooter
{
    position:absolute;
    bottom:0;
    left:0;
    background-color:#eaeaea;
    width:100%;
    /*
    position:relative;
    top:-34px;
    background-color:#eaeaea;
    width:auto;
    */
}

.AdmLocationTab .ajax__tab_body .AdmLocationSearchList .AdmLocationSearchListFooterContent
{
    text-align:right;
    width:60%;
    margin:auto;
    padding:5px;
    line-height:12px;
}

.AdmPageLayout .AdmWebpart .AdmLocationSearchBody .AdmLocation .AdmLocationCommodities
{
    position:absolute;
    height:100%;
    width:50%;
    bottom:0;
    right:0;
    margin-right:10px;
}

.AdmPageLayout .AdmWebpart .AdmLocationSearchBody .AdmLocation .AdmLocationCommodities .AdmLocationCommodityIcons
{
    display:block;
    position:absolute;
    height:auto;
    bottom:0;
    left:0;
    right:0;
    margin-top:0px;
    margin-bottom:0px;
    margin-right:0px;
    margin-left:0;
}

.AdmPageLayout .AdmWebpart .AdmLocationSearchBody .AdmLocation .AdmLocationCommodities .AdmLocationCommodityIconDivWrapper
{
}

.AdmPageLayout .AdmWebpart .AdmLocationSearchBody .AdmLocation .AdmLocationCommodities .AdmLocationCommodityIcon
{
    padding:0 2px 0 2px;
    vertical-align:bottom;
    /*
    clear:left;
    float:right;
    float:right;
    */
}

.AdmPageLayout .AdmWebpart .AdmLocationSearchBody .AdmLocation .AdmLocationCommodities .AdmLocationCommodityIcon:firstline
{
}


.AdmPageLayout .AdmWebpart .AdmLocationSearchBody .AdmLocation
{
    position:relative;
}

.AdmPageLayout .AdmWebpart .AdmLocationSearchMapBodyContent .MicrosoftMap .light_infobox{
    position:relative;
    background-color:white;
    /* border:1px solid rgb(136, 136, 136);*/
    left:0px;
    top:0px;
    width:256px;
	padding-top:5px;
	padding-bottom:5px;
	z-index:10;
}

.AdmPageLayout .AdmWebpart .AdmLocationSearchMapBodyContent .MicrosoftMap .light_infobox_close{
    cursor:pointer;
	border:1px solid black;
    position: absolute;
    right: 5px;
    top: 5px;
    border:none;
}


.AdmPageLayout .AdmWebpart .AdmLocationSearchMapBodyContent .MicrosoftMap .light_infobox_content{
    margin:5px;
    font-family: Arial;
    font-size:11px;
    line-height:11px;
}

.AdmPageLayout .AdmWebpart .AdmLocationSearchMapBodyContent .MicrosoftMap .light_infobox_pointer{
    /*
	width:33px;
    height:38px;
	*/
    overflow:hidden;
    position:relative;
    z-index:-1;
    left:0px;
    bottom:0px;
}
.AdmPageLayout .AdmWebpart .AdmLocationSearchMapBodyContent .MicrosoftMap .dark_infobox{
    position:relative;
    background-color:#333333;
	color:white;
    border:1px solid rgb(136, 136, 136);
    left:0px;
    top:0px;
    width:256px;
	padding-top:5px;
	padding-bottom:5px;
	z-index:10;
}

.AdmPageLayout .AdmWebpart .AdmLocationSearchMapBodyContent .MicrosoftMap .dark_infobox_close{
	border:1px solid white;
    cursor:pointer;
    position: absolute;
    right: 5px;
    top: 5px;
    border:none;
}

.AdmPageLayout .AdmWebpart .AdmLocationSearchMapBodyContent .MicrosoftMap .NavBar_compassControlContainer,
.AdmPageLayout .AdmWebpart .AdmLocationSearchMapBodyContent .MicrosoftMap .NavBar_zoomControlContainer,
.AdmPageLayout .AdmWebpart .AdmLocationSearchMapBodyContent .MicrosoftMap .NavBar_modeSelectorControlContainer
{
    background:transparent;
}

.AdmPageLayout .AdmWebpart .AdmLocationSearchMapBodyContent .MicrosoftMap .dark_infobox_content{
    margin:5px;
    font-family: Arial;
    font-size:11px;
    line-height:11px;
}

.AdmPageLayout .AdmWebpart .AdmLocationSearchMapBodyContent .MicrosoftMap .MicrosoftMap_NavBar_typeMenu
{
    /*background:transparent;*/
}



.AdmPageLayout .AdmWebpart .AdmLocationSearchMapBodyContent .MicrosoftMap .MicrosoftNav a, 
.AdmPageLayout .AdmWebpart .AdmLocationSearchMapBodyContent .MicrosoftMap .MicrosoftNav a:link, 
.AdmPageLayout .AdmWebpart .AdmLocationSearchMapBodyContent .MicrosoftMap .MicrosoftNav a:visited,
.AdmPageLayout .AdmWebpart .AdmLocationSearchMapBodyContent .MicrosoftMap .MicrosoftNav a:hover,
.AdmPageLayout .AdmWebpart .AdmLocationSearchMapBodyContent .MicrosoftMap .MicrosoftNav a:active
{
    color:#7794C8;
}

.AdmPageLayout .AdmWebpart .AdmLocationSearchMapBodyContent .MicrosoftMap .dark_infobox_pointer{
	/*
    width:33px;
    height:38px;
	*/
    overflow:hidden;
    position:relative;
    z-index:-1;
    left:0px;
    top:0px;
}

.MicrosoftMap .dark_infobox a:link,
.MicrosoftMap .dark_infobox a:visited,
.MicrosoftMap .dark_infobox a:hover,
.MicrosoftMap .dark_infobox a:active
{
    color:#BBBBBB;
}

.AdmPageLayout .AdmWebpart .AdmBadLocation
{
    padding-top: 0px; 
    padding-right: 10px; 
    padding-bottom: 10px; 
    padding-left: 10px; 
    margin-top: 10px;
}   

.InactFlexFormOverlay
{
	background-color: #ffffff;
	width: 600px;
	height:700px;
	padding: 20px 14px 28px 3px;
	border: solid 1px #000000;
	font-size: 11px;
	line-height: 1.5;
	z-index:5;
}

.InactFlexFormOverlay .CloseButton
{
	position: absolute;
	top: 6px;
	right: 6px;
}

.InactFlexFormOverlay  .CloseButton a, .InactFlexFormOverlay  .CloseButton a:link, .InactFlexFormOverlay  .CloseButton a:visited, .InactFlexFormOverlay  .CloseButton a:active
{
	text-decoration: none;
	color: #7d7d7d;
	
}

.InactFlexFormOverlay .CloseButton input
{
	vertical-align: -5px;
}

.InactFlexFormOverlay h2.ModalTitle
{
	font-size: 16px;
	color: #3e546e;
	clear: both;
	font-weight: normal;
	margin-bottom: 10px;
}

.InactFlexFormOverlay h2.ModalTitle
{
	padding-left: 11px;
}

.InactFlexFormOverlay div.Description
{
	padding-bottom: 11px;
}

.InactFlexFormOverlay div.Description
{
	padding-left: 11px;
}

.InactFlexFormOverlay .ValidationSummary
{
	text-align: right;
}

.InactFlexFormOverlay tr.InputRow td.TextInput
{
	text-align: left;
}

.InactFlexFormOverlay tr.InputRow td.TextInput input
{
	width: 300px;
	height: 20px;
	border: solid 1px #7d7d7d;
}

.InactFlexFormOverlay td textarea
{
	width: 300px;
}

.InactFlexFormOverlay td
{
	padding: 2px 0 2px 0;
	font-size: 11px;
}

.InactFlexFormOverlay td .HiddenValidator
{
	/* position: absolute; */
	left: 6px;
}

.InactFlexFormOverlay td textarea
{
	vertical-align: top;
	border: solid 1px #7d7d7d;
}

.InactFlexFormOverlay td.CaptchaColumn
{
	padding: 10px 0;
}

.InactFlexFormOverlay td.CaptchaColumn input
{
	width: 126px;
	height: 20px;
	border: solid 1px #7d7d7d;
}

.InactFlexFormOverlay #SubmitButton
{
	padding: 11px 0 0 11px;
}

.InactFlexFormOverlay .ValidationSummary li
{
	list-style: none;
}

.InactFlexFormOverlay #SubmitButton a
{
	font-weight: bold;
	color: #7d7d7d;
	border: solid 1px #a1a1a1;
	text-decoration: none;
	padding: 1px 0px 2px;
	display: block;
	float: left;
	width: 71px;
	text-align: center;
}

.InactFlexFormOverlay img
{
	margin-right: 5px;
	vertical-align: bottom;
}

.InactFlexFormOverlay td.CaptchaColumn span.requiredFieldIndicator
{
	padding-right: 4px;
}

.InactFlexFormOverlay td.requiredFieldIndicator, .InactFlexFormOverlay td.inputLabel
{
	vertical-align: top;
}


#error {
	color:red;
	font-size:10px;
	display:none;

}
.needsfilled {
	background:yellow;
	color:black;
}

.NodeStyle
{
	width: 140px;
	font-size: 10px;
	display: block;
	text-decoration: none;
	color: #ffffff;
	border: solid 1px Transparent;
	padding: 2px 2px 2px 2px;
}

.NodeStyle:hover,
a.NodeStyle:hover,
.NodeStyle:link:hover,
a.NodeStyle:link:hover
{
	font-size: 10px;
	display: block;
	text-decoration: none;
	color: #003687;
	border: solid 1px #71a9ff;
	background-color: #c6ddff;
	padding: 2px 2px 2px 2px;
}

.HoverNodeStyle
{
	font-size: 10px;
	display: block;
	text-decoration: none;
	color: #ffffff;
	border: solid 1px Transparent;
	padding: 2px 2px 2px 2px;
}

.HoverNodeStyle:hover,
a.HoverNodeStyle:hover,
.HoverNodeStyle:link:hover,
a.HoverNodeStyle:link:hover
{
	font-size: 10px;
	display: block;
	text-decoration: none;
	color: #003687;
	border: solid 1px #71a9ff;
	background-color: #c6ddff;
	padding: 2px 2px 2px 2px;
}

.SelectedNodeStyle
{
	font-size: 10px;
	display: block;
	text-decoration: none;
	color: #ffffff;
	border: solid 1px Transparent;
	padding: 2px 2px 2px 2px;
}

.SelectedNodeStyle:hover,
a.SelectedNodeStyle:hover,
.SelectedNodeStyle:link:hover,
a.SelectedNodeStyle:link:hover
{
	font-size: 10px;
	display: block;
	text-decoration: none;
	color: #003687;
	border: solid 1px #71a9ff;
	background-color: #c6ddff;
	padding: 2px 2px 2px 2px;
}

.ModalPopupBG
{
    background-color: gray;
    filter: alpha(opacity=70);
    opacity: 0.7;
}
.container {
    text-align: center;
}

.content {
    display: inline-block;
    text-align: left;
}