/* Reset all browser default styles */
body
{
	font-size: 0;
	line-height: 1;
	white-space: normal;
}
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, input, textarea, p, th, td, table, tr, td
{
	margin: 0;
	padding: 0;
}
table, tr, td
{
	border-collapse: collapse;
	border-spacing: 0;
	border: none;
}
fieldset, img
{
	border: 0;
}
address, caption, cite, code, dfn, th, var
{
	font-style: normal;
	font-weight: normal;
}
pre, tt, code, samp, kbd, xmp, listing, plaintext
{
	font-family: monospace;
}
caption, th
{
	text-align: left;
}
h1, h2, h3, h4, h5, h6
{
	font-size: 100%;
	font-weight: normal;
}
q:before, q:after
{
	content: '';
}
abbr, acronym
{
	border: 0;
}
b, strong
{
	font-weight: bold;
}
i, em
{
	font-style: italic;
}