

/* tooltip start*/


.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1010;
    display: none;
    max-width: 276px;
    padding: 1px;
    text-align: left;
    white-space: normal;
    background-color: #ffffff;
    border-radius: 0 !important;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
    -webkit-bg-clip: padding-box;
    -moz-bg-clip: padding;
    border: 1px solid #00b1ed;
    padding: 0px;
}

    .popover.top {
        margin-top: -10px;
    }

    .popover.right {
        margin-left: 10px;
    }

    .popover.bottom {
        margin-top: 10px;
    }

    .popover.left {
        margin-left: -10px;
    }

.popover-title {
    padding: 8px 14px !important;
    margin: 0 !important;
    font-size: 14px !important;
    font-weight: normal !important;
    line-height: 18px !important;
    border-bottom: 1px solid #ebebeb !important;
    border-radius: 0 !important;
    background: rgb( 190, 229, 246) !important;
    color: #00B1ED !important;
}

.popover-content {
    padding: 9px 14px;
    color: #00B1ED;
}

.popover .arrow, .popover .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.popover .arrow {
    border-width: 11px;
}

    .popover .arrow:after {
        border-width: 10px;
        content: "";
    }

.popover.top .arrow {
    bottom: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-color: #00B1ED;
    border-bottom-width: 0;
}

    .popover.top .arrow:after {
        bottom: 1px;
        margin-left: -10px;
        border-top-color: #ffffff;
        border-bottom-width: 0;
        content: " ";
    }

.popover.right .arrow {
    top: 50%;
    left: -11px;
    margin-top: -11px;
    border-right-color: #00B1ED;
    border-left-width: 0;
}

    .popover.right .arrow:after {
        bottom: -10px;
        left: 1px;
        border-right-color: #ffffff;
        border-left-width: 0;
        content: " ";
    }

.popover.bottom .arrow {
    top: -11px;
    left: 50%;
    margin-left: -11px;
    border-bottom-color: #00B1ED;
    border-top-width: 0;
}

    .popover.bottom .arrow:after {
        top: 1px;
        margin-left: -10px;
        border-bottom-color: #ffffff;
        border-top-width: 0;
        content: " ";
    }

.popover.left .arrow {
    top: 50%;
    right: -11px;
    margin-top: -11px;
    border-left-color: #00B1ED;
    border-right-width: 0;
}

    .popover.left .arrow:after {
        right: 1px;
        bottom: -10px;
        border-left-color: #ffffff;
        border-right-width: 0;
        content: " ";
    }



/* tooltip end */





@media (min-width: 768px) {
    .popover {
        width: 300px;
        max-width: 400px;
    }

    .popover-title {
        padding: 4px 10px !important;
        font-size: 14px !important;
        line-height: 18px !important;
    }

    .popover-content {
        padding: 4px 10px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .popover {
        width: 250px;
        max-width: 300px;
    }

    .popover-title {
        padding: 4px 10px !important;
        font-size: 14px !important;
        line-height: 16px !important;
    }

    .popover-content {
        padding: 4px 10px;
    }
}

@media (max-width: 480px) {
    .popover {
        width: 200px;
        max-width: 200px;
    }

    .popover-title {
        padding: 4px 6px !important;
        font-size: 14px !important;
        line-height: 14px !important;
    }

    .popover-content {
        padding: 4px 6px;
        font-size: 12px;
        background-color: #ffffff;
    }
}

.tooltip-icon {
    width: 22px !important;
    height: 22px !important;
    cursor: pointer;
}