
#masterContainer #carousel_ul, #carousel_ul {
list-style: none;
}

#carousel_ul {
	line-height:1.4em;
}


#carousel_container
{
    
}
#carousel_inner {   
float:left; /* important for inline positioning */  
width:615px; /* important (this width = width of list item(including margin) * items shown */  
overflow: hidden;  /* important (hide the items outside the div) */  
/* non-important styling bellow */  
background: #FFFFFF;   
position:relative;  

}   
  
#carousel_ul {   
position:relative;   
left:-210px; /* important (this should be negative number of list items width(including margin) */  
list-style-type: none; /* removing the default styling for unordered list items */  
margin: 0px;   
padding: 0px;   
width:9999px; /* important */  
/* non-important styling bellow */  
padding-bottom:10px;   

}   
#carousel_ul  div
{
    padding:2px;
}
#carousel_ul li{   
float: left; /* important for inline positioning of the list items */  
width:197px;  /* fixed width, important */  
/* just styling bellow*/     
min-height:170px;   
margin-top:10px;   
margin-bottom:10px;   
margin-left:5px;   
margin-right:5px;
word-wrap: break-word;   
}   
  
#carousel_ul li img {   
.margin-bottom:-4px; /* IE is making a 4px gap bellow an image inside of an anchor (<a href...>) so this is to fix that */  
/* styling */  
cursor:pointer;   
cursor: hand;   
border:0px;   
}   
#left_scroll, #right_scroll   
{

float:left;   
height:130px;   
width:16px;   
padding-top:28px;

}   
#left_scroll
{
    padding-right:1px;
}
#right_scroll
{
    padding-left:1px;
}
#left_scroll img, #right_scroll img{   
border:0; /* remove the default border of linked image */  
/*styling*/  
cursor: pointer;   
cursor: hand;   
vertical-align:middle;
}  
