
//* The style for the blackout div that appears when the exit dialog is shown. */
#ln-blackout {position:fixed; top:0; left:0; width:100%; height:99%; background-color:#000;}
/* This style is for a container that holds the message dialog box. 
It has been added primarily to help with positioning.  */
#ln-messageHolder {position:fixed; top:200px; left:0; width:100%;}
/* This style is for the div that holds the actual exit dialog. */
#ln-messageBox 
{
    width:460px; 
    margin:0 auto; 
    min-height:200px; 
    background-color:#fff; 
    border:1px solid #78BE20; 
    -moz-box-shadow:0 0 20px 2px #78BE20; 
    -webkit-box-shadow:0 0 20px #78BE20; text-align:center; padding:20px; z-index: 7777; position: relative;
    }
/* This style is applied to the link that closes the dialog. */
a#ln-cancelLink 
{
    background-color:#e6e6e6;
    font-weight:bold; 
    padding:5px; color:#666; 
    text-decoration:none; 
    text-transform:uppercase; 
    font-size:0.8em;
}
a#ln-cancelLink:hover 
{
    background-color:#0077C8; 
    color:#e6e6e6;
}
a#ln-agreeLink 
{
    background-color:#e6e6e6;
    font-weight:bold; 
    padding:5px; color:#666; 
    text-decoration:none; 
    text-transform:uppercase; 
    font-size:0.8em;
}
a#ln-agreeLink:hover 
{
    background-color:#0077C8; 
    color:#e6e6e6;
}
/* This style is for the box that holds the section that says where the user is being directed to. */
.setoff 
{
    background-color:#f2f2f2; 
    padding:2px; 
    margin:10px 0 20px 0;
} 

.setoff a
{
    color:#0077C8; 
    text-decoration: none;
} 