#mainRotator {
       font-family:Arial, Verdana, Helvetica, sans-serif;
       font-size:11px;
       line-height:normal;
       color: #003C71;
       width:900px; 
       height:226px; 
       overflow:hidden;
       position:relative;
       margin:0;
       padding:0;
       z-index: 6666;
       /*padding-bottom: 5px;*/
}

#mainRotator .loading {
       width:900px; 
       text-align:center;
       vertical-align:middle;
       margin:10% 0 0 0;
       padding:0;
}

#mainRotator .frames {
       width:900px; 
       height:236px; 
       overflow:hidden;
       position:absolute;
       top:0px;
       left:0px;
}


#mainRotator .selector {
       height:20px;
       position:absolute;
       text-align:center;
       font-size:11px;
       z-index:5555;
       color:#003C71;
       bottom:10px;
       left:780px;       
}

#mainRotator .centerimg {
       background-image: url(../../Error/PageNotFound.aspx)/*tpa=http://www.unitedhealthgroup.com/images/SlideSelect-Center.png*/;
       opacity: 0.6;
       width:20px;
       height:18px;
       float:left;
       padding-top:2px;
    margin-right:5px;
    color:#003C71;
}

#mainRotator .selector .centerHover {
       z-index:5555
}

#mainRotator .sideBox {
       width:177px; 
       height:217px; 
       position:absolute; 
       top:10px; 
       z-index:5555;
}

#mainRotator .sideBoxText {
       width:177px; 
       height:217px; 
       color: #0077C8;
       position:absolute; 
       top:10px; 
       right:15px;
       z-index:5555;
}

#mainRotator .sideBoxText .sideBoxTitle {
       position:absolute; 
       top:10px; 
       left:10px; 
       width:157px;
       font-family:Arial, Times, "Times New Roman", serif;
       font-size:18px;
       z-index:5555;
}

#mainRotator .sideBoxText .sideBoxLinks {
       position:absolute; 
       top:35px; 
       left:10px; 
       width:157px;
       height:172px;
       overflow:hidden;
       z-index:5555;
}

#mainRotator .sideBoxText .sideBoxLinks .sideBoxLinksList {
       list-style:none; 
       padding:5px; 
       margin:5px;
       width:137px;
       height:152px;
       z-index:5555;
}

#mainRotator .sideBoxText .sideBoxLinks .sideBoxLinksList li {
       padding-bottom:5px;
       z-index:5555;
}

#mainRotator .sideBoxText .sideBoxLinks .sideBoxLinksList div a, #mainRotator .sideBoxText .sideBoxLinks .sideBoxLinksList div a:visited {
       color:#0077C8;
    text-decoration: none;
    z-index:5555;
}

#mainRotator .sideBoxText .sideBoxLinks .sideBoxLinksList div a:hover {
    text-decoration: underline;
    z-index:5555;
}

.selectorLinks{
    
    color:#0077C8;
    text-decoration: none;
    z-index:5555;
}

    div.rotator {
       font-family:Arial, Verdana, Helvetica, sans-serif;
       font-size:11px;
       line-height:normal;
       color: #0F238C;
       width:900px; 
       height:236px; 
       overflow:hidden;
       position:relative;
       margin:0;
       padding:0;

}

       div.frames {
       width:900px; 
       height:236px; 
       overflow:hidden;
       position:absolute;
}

    div.show {
}

    .shownum {
       font-weight:bold;
       font-size:12px;
}
