@charset "utf-8";

/* YUI Fonts Example: Setting Font Size
Note: To set the font size, always use percentages (%) from the conversion chart for maximum consistency and accessibility.
http://developer.yahoo.com/yui/examples/fonts/fonts-size_source.html

[77% = 10px]
[85% = 11px]
[93% = 12px] 
[100% = 13px]
[108% = 14px] 
[116% = 15px] 
[123.1% = 16px] 
[131% = 17px]
[138.5% = 18px]
[146.5% = 19px] 
[153.9% = 20px] 
[161.6% = 21px]
[167% = 22px] 
[174% = 23px] 
[182% = 24px] 
[189% = 25px] 
[197% = 26px] 

*/

 /*  YUI Reset 12/18/2012   */
    body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    margin:0;
    padding:0;
    }
    table {
    border-collapse:collapse;
    border-spacing:0;
    }
    fieldset,img {
    border:0;
    }
    address,caption,cite,code,dfn,em,strong,th,var {
    font-style:normal;
    font-weight:normal;
    }
    ol,ul {
    list-style:none;
    }
    caption,th {
    text-align:left;
    }
    h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
    }
    q:before,q:after {
    content:'';
    }
    abbr,acronym { border:0;
    }
    /*  YUI Fonts 12/18/2012  */
    /*
    Copyright (c) 2011, Yahoo! Inc. All rights reserved.
    Code licensed under the BSD License:
    http://developer.yahoo.com/yui/license.html
    version: 2.9.0
    */
    body {
    font:13px/1.231 arial, helvetica, clean, sans-serif;
    *font-size:small;
    *font:x-small
    }
    select, input, textarea, button {
    font:99% arial, helvetica, clean, sans-serif
    }
    table {
    font-size:inherit;
    font:100%
    }
    pre, code, kbd, samp, tt {
    font-family:monospace;
    *font-size:108%;
    line-height:100%
    }
/* ####################### GLOBAL Styles ######################## */

table.telerik-reTable-1, table.telerik-reTable-2, table.telerik-reTable-3, table.telerik-reTable-4 {
border-collapse:separate;
border-spacing:4;
}

body {
margin: 0;
padding: 0;
background: #E8E8E7 url(../Images/Main_BG.gif)/*tpa=http://www.unitedhealthgroup.com/UHG/Images/Main_BG.gif*/ repeat-x fixed top;
font-family: arial, helvetica, clean, sans-serif;
line-height: 1.5em;
color: #000000;
}

* {padding:0; margin:0}
em { 
font-style:italic; 
}
strong {
font-weight:bold;
}
strong em, em strong {
font-style:italic;
font-weight:bold;
}
.mainbody h1 {
font-family: FrutigerLTPro-Bold, Arial, Helvetica, sans-serif;
font-weight:normal;
letter-spacing:0em;
}
.mainbody h2, .mainbody h3, .mainbody h4, .mainbody h5, .mainbody h6 {
font-family: FrutigerLTPro-Roman, Arial, Helvetica, sans-serif;
font-weight:normal;
letter-spacing:0em;
}
h2 {
font-size:138.5%;
}
h3 {
font-size:123.1%;
}
h4 {
font-size:116%;
}
h5 {
font-size:108%;
}
h6 {
font-size:100%;
}

td {
text-align:left; 
vertical-align:top;
}
td, ul, ol {
font-weight:normal;
line-height:1.5em;
margin: 0;
margin-bottom:15px;
}

td td, td td td, td td td td, td ul, td td ul, td td td ul, td td td td ul, td ol, td td ol, td td td ol, td td td td ol {
font-size: 100%;
}

p {
font-size:100%;
font-weight:normal;
line-height:1.5em;
margin: 0;
margin: 8px 0;
}

hr {
margin:12px 0;
}

blockquote {
font-size:100%;
font-weight:normal;
line-height:1.5em;
margin: 0;
margin: 8px 0;
padding-left:20px;
}

td p, td ul, td ol {
font-size:100%; 
}

img {
border:0;
line-height:none;
}

select {
width: 165px;
}

pre {
white-space: pre-line;
word-wrap: break-word;
}

table.telerik-reTable-1, table.telerik-reTable-2, table.telerik-reTable-3, table.telerik-reTable-4 {
border-collapse:separate;
border-spacing:4px;
font-family: arial, helvetica, clean, sans-serif;
}

#masterContainer {
width:900px;
text-align: left;
background-color: white !Important;
margin-left: auto;
margin-right: auto;
}

#masterContainer ol {
list-style:decimal;
}
	
#masterContainer ul {
list-style: disc;
}
#masterHeader {
height:91px;
background-color: white;
padding: 0;
overflow: hidden;
font: 0;	
}
#graphicHeader {
height: 236px; 
overflow: hidden; 
font: 0;
float: none;
width: 900px;  
background-color: white;
}

#colorHeader {
height: 59px; 
overflow: hidden; 
font: 0;
}
#HeaderLogo {
float: left;
width: 144px;
height: 70px;
margin: 21px 0 0 14px;

}

#HeaderTagline {
float: right;
width: 286px;
height: 19px;
margin: 52px 21px 0 0;
}
#HeaderGraphic 
{
}

#masterNav {
min-height:28px;
background-color:#003C71;
}
#masterNav A {
}
#SearchBox {
height: 27px;
padding: 2px 0 0 0;
top: 0px; 
right: 4px; 
position: absolute;
}

#masterContent {
float: none;
width: 900px;
padding:0px 0px 0px 0px;  
background-color: white;
} 
#masterContent a {
float: none;
/*	background-color: white;  */
}

.contentright {
float:right;
margin-left:30px;
margin-bottom:12px;
}

#masterFooter {
clear: both;
min-height:80px;
width: 900px;
/*background-color: #ECEBEB; url(../Images/Footer_Line.gif) 0 10px repeat-x;*/
padding: 7px 0 0 0;
color: #003C71;
line-height: 1.4em;
margin: 0 auto;
}
#masterFooter a {
text-decoration:none;
}
#masterFooter a:hover {
text-decoration:underline;
color: #5B6770;
}
#masterFooter p.xx-small {
padding: 16px 0 0 0;
margin: 0;
font-size: 77%;
}
#masterContainer #masterFooter a:visited {
text-decoration: none;
color:#5B6770;
}
#masterContainer #masterFooter a, #masterContainer #masterFooter a:link {
text-decoration: none;
color: #5B6770;
}
#masterContainer #masterFooter a:hover, #masterContainer #masterFooter a:active {
text-decoration: underline;
color: #0077C8;
}
#masterContainer #masterFooter ul.footerlist {
list-style-type: none; 
margin: 0px; 
font-size: 93%;
padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px; 
}
#masterContainer #masterFooter ul.footerlist li {
line-height: 1.9em; 
margin: 0px; 
font-size: 115%; 
padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px; 
}

#dashHeader {
height: 12px;
background: white url(../Images/Header_Dash.gif)/*tpa=http://www.unitedhealthgroup.com/UHG/Images/Header_Dash.gif*/ repeat-x bottom;
}
#Dash {
height: 3px;
background: White url(../Images/Header_Dash.gif)/*tpa=http://www.unitedhealthgroup.com/UHG/Images/Header_Dash.gif*/ repeat-x 0px 3px;
font: 0;
padding: 3px 0 0 0;
overflow: hidden;
}
.dash {
height: 3px;
background: White url(../Images/Header_Dash.gif)/*tpa=http://www.unitedhealthgroup.com/UHG/Images/Header_Dash.gif*/ repeat-x 0px 3px;
font: 0;
padding: 10px 0px 10px 0px;
margin:5px 5px 10px 5px
overflow: hidden;
}

#PageHeader {
padding: 18px 0 0 0;
margin: 0 14px 0 0;
background: transparent url(../Images/PageHeader_Underline.gif)/*tpa=http://www.unitedhealthgroup.com/UHG/Images/PageHeader_Underline.gif*/ repeat-x bottom;
}
#PrintFriendly {
padding: 5px 0 0 0;
margin: 0 14px 0 0;
text-align:right;
}
#PrintPagePadding {
padding: 10px 0 20px 0;
}
#PrintPageFooter {
margin: 0 50px 0 16px;
background: transparent url(../Images/PageHeader_Underline.gif)/*tpa=http://www.unitedhealthgroup.com/UHG/Images/PageHeader_Underline.gif*/ repeat-x top;
}

.noLink a {
text-decoration:none;
color:#0077C8;
}
.noLink a:hover {
text-decoration:underline;
color:#0077C8;
}
.noLink a:visited {
text-decoration:none;
color:#0077C8;
}
.printPageBlue {
color:#0077C8;
}
.InteriorPageHeader {
height: 25px;
background: transparent url(../../Error/PageNotFound.aspx)/*tpa=http://www.unitedhealthgroup.com/UHG/UHG/Images/PageHeader_Underline.gif*/ repeat-x bottom;
margin-top: 0px;
padding-top:20px;
}

.gsaTitle {
font-size: 93%;
}
.results-title {
font-size:100%;
}
.gsasnippet {
color:#262626;
font-size:85%;
}
.gsalink {
font-size:77%;
}
.greenline {
height:0px;
border-top:  1px solid #78BE20;
border-bottom: 0px;
border-left: 0px;
border-right: 0px;
padding-top: 7px;
padding-left: 0px;
padding-right: 0px;
margin-top:7px;
}
.greyline {
height:0px;
border-top: 1px solid #E5E5E5;
border-bottom: 0px;
border-left: 0px;
border-right: 0px;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 0px;
padding-right: 0px;
}
.gsapagination {
margin: 0 auto;
width:600px;
}
#pagination-gsa li {
border:0; 
margin:0; 
padding:0;
font-size:85%;
list-style:none;
}
#pagination-gsa a {
border:solid 1px #DDDDDD;
margin-right:2px;
}
#pagination-gsa .previous-off,
#pagination-gsa .next-off {
color:#666666;
display:block;
float:left;
font-weight:bold;
padding:3px 4px;
}
#pagination-gsa .next a,
#pagination-gsa .previous a {
font-weight:bold;
border:solid 1px #FFFFFF;
} 
#pagination-gsa .active {
font-weight:bold;
}
#pagination-gsa a:link,
#pagination-gsa a:visited {
color:#0063e3;
display:block;
float:left;
padding:3px 6px;
text-decoration:none;
}
#pagination-gsa a:hover {
color:#0063e3;
border:solid 1px #78BE20;
}

.SubHeader {
font-weight: bold;	
color: #003C71;
font-size:116%;
}
.SubHeader ul, .SubHeader p, .SubHeader ul p {
font-weight: bold;
}
/* for backward compatibility */
.bsechead9 {
font-weight: bold;	
color: #003C71;
}
.body9 {
font-size: 93%;
line-height: 1.5em;
}

ul {
padding-left: 40px;	
padding-bottom: 10px;
}
ul.spacious li {
padding-bottom:12px;
}


/* ####################### Container Divs ######################## */

.img_r {
float: right;
text-align: right;
margin: 0 0 15px 20px;
}

.img_l {
float: left;
margin: 0 20px 15px 0;
}

.handC {
cursor: hand;
}

.float {
float: left;
}

.float_r {
float: right;
}

.clear {
clear: both;
}

.fix {
overflow: hidden; 
font: 0;
}

.divline_ltgrey {
background-color: #78BE20;
height: 1px;
overflow: hidden;
font: 0;
}
.divline_white {
background-color: white;
height: 1px;
overflow: hidden;
font: 0;
}
.dash_vert {
width: 1px;
overflow: hidden;
font: 0;
background: transparent url(../Images/dash_vert.gif)/*tpa=http://www.unitedhealthgroup.com/UHG/Images/dash_vert.gif*/ repeat-y top center;
}

#MainColumn1 {
float: left;
width: 695px;
padding: 0 0 0 14px;
}
#MainColumn1 a:link {
text-decoration:none;
color:#0077C8;  
}
#MainColumn1 a:hover {
text-decoration:underline;
color:#0077C8;
}
#MainColumn1 a:visited {
text-decoration:none;
color:#0077C8;
}
#MainColumn2 {
padding: 10px 0 0 0;
float: left;
width: 191px;
}
#MainColumn {
width: 872px;
padding: 0 14px;
}
#Column {
float: left;
padding: 12px 0 20px 0;
width: 670px;
}
#Column1 {
float: left;
padding: 12px 0 20px 0;
width: 390px;
}
#Column2 {
width: 230px;
float: left;
padding: 12px 0 0 19px;
}

.feature_photo {
padding: 15px 0 15px 0;
}

.more {
padding: 15px 0 0 0;
text-align: right;
}

.stock_hdr {
clear: both;
border-bottom: 1px dotted #b1b1b1;	
width: 695px;
font-weight: bold;
height: 20px;
padding: 15px 0 0 0;
overflow: hidden;
}

/* Social Media Project - Style for new footer div */
.divline_medgrey {
background-color: #a79e99; 
height:1px; 
overflow:hidden; 
margin:22px 0 4px 0;    
}
/* Social Media Project - END */


/* ------------- Contact Show/Hide Div ------------- */

.contactIntro {
width: 620px;
padding: 10px 0 0 0;	
}
.contact_subheadOne {
clear: both;
width: 620px;
font-size: 100%;
color: #07438b;
height: 22px;
padding: 17px 0 0 0;
overflow: hidden;	
}
.contact_subhead {
clear: both;
border-top: 1px dotted #b1b1b1;	
width: 620px;
font-size: 100%;
color: #07438b;
height: 22px;
padding: 17px 0 0 0;
overflow: hidden;	
}
.contact_hdr {
float: left;
}
.contact_arrow {
float: left;
padding: 5px 0 0 10px;
}
.contact_row {
clear: both;
padding:  5px 0;
width: 620px;
overflow: hidden;
}
.contact_container {
padding: 0;
}
.contact_inside {
float: left;
width: 580px;
padding: 0 0 10px 40px;
vertical-align: middle;
font-size: 85%;
}

/* ------------- Financial Show/Hide Div ------------- */

.materials_hdr {
clear: both;
border-bottom: 1px dotted #b1b1b1;	
width: 620px;
font-weight: bold;
height: 20px;
padding: 15px 0 0 0;
overflow: hidden;
}
.materials_subhead {
clear: both;
border-bottom: 1px dotted #b1b1b1;	
width: 620px;
color: #5e5f61;
height: 22px;
padding: 17px 0 0 0;
overflow: hidden;
background: url(../Images/Icons/arrow_grey_dwn.gif)/*tpa=http://www.unitedhealthgroup.com/UHG/Images/Icons/arrow_grey_dwn.gif*/ no-repeat 145px 23px;	
}
.materials_subhead2 {
clear: both;
border-bottom: 1px dotted #b1b1b1;	
width: 620px;
color: #5e5f61;
font-weight: bold;
height: 22px;
padding: 17px 0 0 0;
overflow: hidden;
}
.materials_row {
clear: both;
border-bottom: 1px dotted #b1b1b1;	
padding:  5px 0;
width: 620px;
overflow: hidden;
}
.materials_container {
padding: 0;
}
.materials_col1 {
float: left;
width: 60px;
vertical-align: middle;
}
.materials_col2 {
float: left;
width: 560px;
vertical-align: middle;
}
.materials_return {
padding: 10px 90px 0 0; 
text-align: right; 
}

.media_row {
padding: 10px 10px 0  0;
}
.media_row_inside {
padding: 0 15px 0  0;
}

/* ------------- Media Kit Show/Hide Div ------------- */

.mediakit_hdr {
clear: both;
border-bottom: 1px dotted #b1b1b1;	
width: 575px;
height: 18px;
padding: 8px 60px 3px 0;
overflow: hidden;
}
.mediakit_subhead {
clear: both;
width: 575px;
color: #5e5f61;
height: 22px;
padding: 10px 0 5px 0;
overflow: hidden;
background: url(../Images/Icons/arrow_grey_dwn.gif)/*tpa=http://www.unitedhealthgroup.com/UHG/Images/Icons/arrow_grey_dwn.gif*/ no-repeat 230px 17px;	
}
.mediakit_row {
clear: both;
border-bottom: 1px dotted #b1b1b1;	
padding:  8px 60px 8px 0;	
width: 575px;
overflow: hidden;
}
.mediakit_row2 {
clear: both;
padding:  0 20px 4px 0;	
width: 635px;
overflow: hidden;
}
.mediakit_container {
padding: 0;
}
.mediakit_col1 {
float: left;
width: 60px;
vertical-align: middle;
}
.mediakit_col2 {
float: left;
width: 515px;
vertical-align: middle;
}
.mediakit_return {
padding: 10px 60px 0 0; 
text-align: right; 
}

/* ------------- Stock Information Table ------------- */

.presen_row {
clear: both;
border-bottom: 1px dotted #b1b1b1;	
padding:  8px 0;
width: 630px;
overflow: hidden;
}
.presen_col1 {
float: left;
width: 120px;
vertical-align: middle;
}
.presen_col2 {
float: left;
width: 90px;
vertical-align: middle;
}
.presen_col3 {
float: left;
width: 415px;
vertical-align: middle;
}
.presen_hdr {
clear: both;
border-bottom: 1px dotted #b1b1b1;	
width: 630px;
font-weight: bold;
height: 20px;
padding: 10px 0 7px 0;
overflow: hidden;
}
.presen_subhead2 {
clear: both;
border-bottom: 1px dotted #b1b1b1;	
width: 695px;
color: #5e5f61;
height: 22px;
padding: 17px 0 0 0;
overflow: hidden;
}

/* ------------- Sidebar/Find Containers ------------- */

.find_about {
width: 154px;
height: 216px;
padding: 20px 24px 0 8px;
background: url(../../Error/PageNotFound.aspx)/*tpa=http://www.unitedhealthgroup.com/UHG/Images/Headers/about_find_bg.jpg*/ no-repeat;	
}
.find_modernization {
width: 154px;
height: 216px;
padding: 20px 24px 0 8px;
background: url(../../Error/PageNotFound.aspx)/*tpa=http://www.unitedhealthgroup.com/UHG/Images/Headers/modernization_find_bg.jpg*/ no-repeat;	
}
.find_global {
width: 154px;
height: 216px;
padding: 20px 24px 0 8px;
background: url(../../Error/PageNotFound.aspx)/*tpa=http://www.unitedhealthgroup.com/UHG/Images/Headers/global_find_bg.jpg*/ no-repeat;	
}
.find_newsroom {
width: 154px;
height: 216px;
padding: 20px 24px 0 8px;
background: url(../../Error/PageNotFound.aspx)/*tpa=http://www.unitedhealthgroup.com/UHG/Images/Headers/newsroom_find_bg.jpg*/ no-repeat;	
}
.find_businesses {
width: 154px;
height: 216px;
padding: 20px 24px 0 8px;
background: url(../../Error/PageNotFound.aspx)/*tpa=http://www.unitedhealthgroup.com/UHG/Images/Headers/businesses_find_bg.jpg*/ no-repeat;	
}
.find_community {
width: 154px;
height: 216px;
padding: 20px 24px 0 8px;
background: url(../../Error/PageNotFound.aspx)/*tpa=http://www.unitedhealthgroup.com/UHG/Images/Headers/community_find_bg.jpg*/ no-repeat;	
}
.find_investors {
width: 154px;
height: 216px;
padding: 20px 24px 0 8px;
background: url(../../Error/PageNotFound.aspx)/*tpa=http://www.unitedhealthgroup.com/UHG/Images/Headers/investors_find_bg.jpg*/ no-repeat;	
}

.sidebx_global {
width: 179px;
background: url(../Images/sidebx_bg_sides.gif)/*tpa=http://www.unitedhealthgroup.com/UHG/Images/sidebx_bg_sides.gif*/ repeat-y;	
}
.sidebx {
width: 179px;
/*	background-color: #EAEAEC; */
}
.sidebx_top {
width: 179px;
height: 10px;
overflow: hidden;
font: 0;
background: url(../Images/sidebx_top.gif)/*tpa=http://www.unitedhealthgroup.com/UHG/Images/sidebx_top.gif*/ no-repeat;
}
.sidebx_bot {
width: 179px;
height: 10px;
background: url(../Images/sidebx_bot.gif)/*tpa=http://www.unitedhealthgroup.com/UHG/Images/sidebx_bot.gif*/ no-repeat;	
overflow: hidden;
font: 0;
}
.sidebx_inside {
width: 200px;
margin: 0 0 0 0;
overflow: hidden;
font: 0;
background-color: #ECEDEF;
}
.sidebx_content {
padding: 8px;
background-color: #ECEDEF;
}

.optbox {
float:right;
width: 200px;
padding:15px;
/*	background-color: #EAEAEC; */
}
.optbox_inside {
width: 200px;
margin: 0 0 0 0;
overflow: hidden;
font: 0;
background-color: #ECEDEF;
}
.optbox_content {
padding: 8px;
background-color: #ECEDEF;
}

.sidebx_wide {
width: 517px;
background: url(../Images/sidebx_bg_sides_wide.gif)/*tpa=http://www.unitedhealthgroup.com/UHG/Images/sidebx_bg_sides_wide.gif*/ repeat-y;	
}
.sidebx_top_wide  {
width: 517px;
height: 4px;
overflow: hidden;
font: 0;
background: url(../Images/sidebx_top_wide.gif)/*tpa=http://www.unitedhealthgroup.com/UHG/Images/sidebx_top_wide.gif*/ no-repeat;	
}
.sidebx_bot_wide  {
width: 517px;
height: 4px;
background: url(../Images/sidebx_bot_wide.gif)/*tpa=http://www.unitedhealthgroup.com/UHG/Images/sidebx_bot_wide.gif*/ no-repeat;	
overflow: hidden;
font: 0;
}
.sidebx_inside_wide  {
width: 503px;
margin: 0 0 0 5px;
background: url(../Images/sidebx_bg_blue.gif)/*tpa=http://www.unitedhealthgroup.com/UHG/Images/sidebx_bg_blue.gif*/ repeat-x;	
border: 2px solid white;
overflow: hidden;
font: 0;
}
.sidebx_content_wide  {
text-align: left;
padding: 3px 5px;
}
.sidebx_grn {
width: 176px;
background: url(../Images/sidebx_bg_grn.gif)/*tpa=http://www.unitedhealthgroup.com/UHG/Images/sidebx_bg_grn.gif*/ #f4f3e2 repeat-x bottom left;	
padding: 0;
margin: 0;
}
.sidebx_top_grn {
width: 176px;
height: 3px;
overflow: hidden;
font: 0;
background: url(../Images/sidebx_top_grn.gif)/*tpa=http://www.unitedhealthgroup.com/UHG/Images/sidebx_top_grn.gif*/ no-repeat;	
}
.sidebx_yel {
width: 176px;
background: url(../Images/sidebx_bg_yel.gif)/*tpa=http://www.unitedhealthgroup.com/UHG/Images/sidebx_bg_yel.gif*/ #fff6cf repeat-x bottom left;	
padding: 0;
margin: 0;
}
.sidebx_top_yel {
width: 176px;
height: 3px;
overflow: hidden;
font: 0;
background: url(../Images/sidebx_top_yel.gif)/*tpa=http://www.unitedhealthgroup.com/UHG/Images/sidebx_top_yel.gif*/ no-repeat;	
}

.dotted {
border-top: 1px solid #C1C6C8;
height: 1px;
font: 0;
overflow: hidden;
}

.media_col1 {
float: left;
width: 200px;
padding: 10px 0 0 0;
}
.media_col2 {
float: left;
width: 495px;
padding: 10px 0 0 0;
}


/* ####################### Text Styles ######################## */


h1 {
color: #003C71;
font-size: 167%;    
font-weight: normal;
padding: 0;
margin:0;
margin-bottom:15px;
line-height:1.3em;
}
h2 {
color: #003C71;
font-size: 138.5%;    
padding: 0;
margin:0;
margin-bottom:15px;
}
h3 {
color: #767575;
font-size: 123.1%;    
padding: 0;
margin:0;
margin-bottom:15px;
}
h4 {
color: #003C71;
font-size: 116%;    
padding: 0;
margin:0;
margin-bottom:15px;
}
h2.sitemap {
font-size: 108%;
color: #767575;
font-weight: normal;
}
h2.sitemap a {
font-size: 108%;
color: #767575;
font-weight: normal;
text-decoration: none;
}
h2.sitemap a:hover {
font-size: 108%;
color: #767575;
font-weight: normal;
text-decoration: underline;
}
h2.inside {
font-size: 138.5%;
line-height: 1.4em;
color: #003C71;
font-weight: normal;
margin: 3px 0;
}
h2.inside a {
color: #767575;
font-weight: normal;
text-decoration: none;
}
h2.inside a:hover {
color: #767575;
font-weight: normal;
text-decoration: underline;
}
h3.inside {
font-size: 123.1%;
line-height: 1.3em;
color: #767575;
font-weight: normal;
margin: 10px 0 3px 0;
}
h4.inside {
font-size: 100%;
color: #767575;
text-transform: uppercase;
margin: 6px 0 3px 0;
}
h2.business {
font-size: 138.5%;
color: #767575;
margin: 5px 0 3px 0;
}
h4.products {
font-size: 100%;
color: #5e5f61;
margin: 0;
padding: 0;
font-weight: bold;
}
h2.media {
font-size: 138.5%;
line-height: 1.4em;
color: #767575;
font-weight: normal;
margin: 3px 0 0 0;
}
h2.media a {
color: #767575;
font-weight: normal;
text-decoration: none;
}
h2.media a:hover {
color: #767575;
font-weight: normal;
text-decoration: underline;
}

.gold {
color: #003C71;
}
.ltgrey {
color: #8f847e;
}
.medgrey {
color: #003C71;
}
.meddkgrey {
color:#767575;
}
.medblue {
color: #003C71;
}
.ltblue {
color: #0077C8;
}

.bold {
font-weight: bold;
}
.italic {
font-style: italic;
}
.sz10 {
font-size: 77%;
}
.sz11 {
font-size: 85%;
}
.sz11pt {
font-size: 85%;
}
.sz12 {
font-size: 93%;
}
.sz13 {
font-size: 100%;
}
.sz14 {
font-size: 108%;
}

.lh_sm {
line-height: 1.2em;	
}
.lh_med {
line-height: 1.4em;	
}

.caps {
text-transform: uppercase;
}

.green {
color:#78BE20;
}

.aligntop {
vertical-align:top;
}
.boxshow {
border: 1px solid #cecece;
padding: 30px;
margin-right:10px;
}
.boxshow img {
display: block;
margin-left: auto;
margin-right: auto; 
}
.boxed {
border: 1px solid #cecece;
padding: 30px;
margin-right:10px;
display:none;
}
.boxed img {
display: block;
margin-left: auto;
margin-right: auto 
}

.left {
float:left;
width: 420px;
}
.right {
width: 220px;
float:right;
padding-right:15px;
}

.mainbody {
color: #5e5f61;
padding:0px 10px 30px 10px;
margin-top:10px;
line-height:1.3em;
}
.mainbody a:link, .mainbody a:visited {
color: #0077C8;
text-decoration: none;
border: none;
outline: none;
}
.mainbody a:active, .mainbody a:hover {
color: #0077C8;
text-decoration: underline;
}
.mainbody ul, .mainbody ol {
line-height:1.5em;
margin: .6em 0 .6em 1.5em;
padding: .6em 0 .6em 1.5em;
}
.mainbody p, .mainbody td {
line-height:1.5em;
margin: 0;
margin-bottom:15px;
}

.goog-trans-section {
font-size:100%;
line-height: 1.4em;
}
.gsamainbody {
color: #5e5f61;
padding:0px 10px 30px 10px;
margin-top:10px;
line-height: 1.3em;
}
.gsamainbody a:link, .gsamainbody a:visited {
color: #0077C8;
text-decoration: none;
}
.gsamainbody a:active, .gsamainbody a:hover {
color: #0077C8;
text-decoration: underline;
}
.gsamainbody ul {
margin: .6em 0 .6em 1.5em;
padding: .6em 0 .6em 1.5em;
}

.feature {
font-size: 93%;
color: #8f847e;
}
.feature a:link, .feature a:visited {
color: #0077C8;
text-decoration: none;
}
.feature a:active, .feature a:hover {
color: #0077C8;
text-decoration: underline;
}

.h_prod_list {
list-style-type: none;
margin: 1em 0 2em 0;
padding: 0;
font-size: 108%;	
}
.h_prod_list li {
margin: 0 0 .2em 0;
padding: 0 0 .2em 0;
}
.h_prod_list a:link, .h_prod_list a:visited {
color: #0077C8;
text-decoration: none;
}
.h_prod_list a:active, .h_prod_list a:hover {
color: #0077C8;
text-decoration: underline;
}
.h_prod_list img {
padding: 0 0 0 5px; 
vertical-align: middle;
}

.find_list {
list-style-type: none;
margin: 1em 0 0 0;
padding: 0;
font-size: 93%;	
}
.find_list ul {
padding-left:5px;
margin-left:10px;
}
.find_list li {
margin: 0 0 .2em 0;
padding: 0 0 .2em 0;
}
.find_list a:link, .find_list a:visited {
color: #0077C8;
text-decoration: none;
}
.find_list a:active, .find_list a:hover {
color: #0077C8;
text-decoration: underline;
}

.bullet_list {
list-style-image: url(../Images/Icons/arrow_blue_r.gif)/*tpa=http://www.unitedhealthgroup.com/UHG/Images/Icons/arrow_blue_r.gif*/;
margin: .5em 0 0 -1.7em;
padding: 0;
}
.bullet_list li {
margin: 0 0 .2em 0;
padding: 0 0 .2em 0;
}
.bullet_list a:link, .bullet_list a:visited {
color: #0077C8;
text-decoration: none;
}
.bullet_list a:active, .bullet_list a:hover {
color: #0077C8;
text-decoration: underline;
}

.find_hdr_list {
list-style-type: none;
margin: .5em 0 0 0;
padding: 0;
font-size: 93%;	
}
.find_hdr_list li {
margin: 0 0 .15em 0;
padding: 0 0 .15em 0;
}
.find_hdr_list a:link, .find_hdr_list a:visited {
color: #0077C8;
text-decoration: none;
}
.find_hdr_list a:active, .find_hdr_list a:hover {
color: #0077C8;
text-decoration: underline;
}
.find_hdr_list_long {
list-style-type: none;
margin: .35em 0 0 0;
padding: 0;
font-size: 93%;	
line-height: 1.45em;
}
.find_hdr_list_long li {
margin: 0 0 .1em 0;
padding: 0 0 .1em 0;
}
.find_hdr_list_long a:link, .find_hdr_list_long a:visited {
color: #0077C8;
text-decoration: none;
}
.find_hdr_list_long a:active, .find_hdr_list_long a:hover {
color: #0077C8;
text-decoration: underline;
}

.speech_list {
list-style-type: none;
margin: .3em 0 0 0;
padding: 0;
font-size: 93%;	
}
.speech_list li {
margin: 0 0 .05em 0;
padding: 0 0 .05em 0;
}
.speech_list a:link, .speech_list a:visited {
color: #0077C8;
text-decoration: none;
}
.speech_list a:active, .speech_list a:hover {
color: #0077C8;
text-decoration: underline;
}

.sitemap_list {
margin: .5em 0 2em 0;
color: #8f847e;
font-size: 93%;	
}
.sitemap_list li {
list-style-type: none;
margin: 0 0 .1em 0;
padding: 0 0 .1em 0;
}
.sitemap_list ul {
margin: 0 0 0 .6em;
padding: 0 0 0 .6em;
}
.sitemap_list ul li {
margin-bottom: -.1em;
padding-bottom: -.1em;
}
.sitemap_list a:link, .sitemap_list a:visited {
color: #0077C8;
text-decoration: none;
}
.sitemap_list a:active, .sitemap_list a:hover {
color: #0077C8;
text-decoration: underline;
}

.bluelink {
font-size: 93%;
color: #0077C8;
line-height: 1.3em;	
text-align: right; 
padding: 5px 0 0 0;
}
.bluelink a:link, .bluelink a:visited {
color: #0077C8;
text-decoration: none;
}
.bluelink a:active, .bluelink a:hover {
color: #0077C8;
text-decoration: underline;
}
.bluelink_l {
font-size: 93%;
color: #8f847e;
line-height: 1.3em;	
text-align: left; 
padding: 5px 0;
}
.bluelink_l a:link, .bluelink_l a:visited {
color: #0077C8;
text-decoration: none;
}
.bluelink_l a:active, .bluelink_l a:hover {
color: #0077C8;
text-decoration: underline;
}
.inside_head {
padding: 10px 20px 15px 0;
font-size: 108%;
line-height: 1.5em;
color: #5e5f61;
}
.inside_head a:link, .inside_head a:visited {
color: #0077C8;
text-decoration: none;
}
.inside_head a:active, .inside_head a:hover {
color: #0077C8;
text-decoration: underline;
}
.inside_head_em {
font-size: 146.5%;
color: #003C71;
font-weight: bold;
line-height: 1.4em;
}

/* ####################### Dropdown List Function ######################## */

.dropdown {
float: left; 
padding: 0;
}
.dropdown dt {

width: 215px; 
padding: 4px 6px; 
font-weight: bold; 
color: #003C71; 
font-size: 93%;	
cursor: pointer; 
background: url(../Images/dd_hdr.gif)/*tpa=http://www.unitedhealthgroup.com/UHG/Images/dd_hdr.gif*/ no-repeat;
}
.dropdown dt:hover {
background: url(../Images/dd_hdr_over.gif)/*tpa=http://www.unitedhealthgroup.com/UHG/Images/dd_hdr_over.gif*/ no-repeat;
}
.dtHover {
background: url(../Images/dd_hdr_over.gif)/*tpa=http://www.unitedhealthgroup.com/UHG/Images/dd_hdr_over.gif*/ no-repeat;
}
.dropdown dd {
position: absolute; 
overflow: hidden; 
width: 223px; 
display: none; 
background: #fff; 
z-index: 200; 
opacity: 0;
}
.dropdown ul {
width: 221px; 
border: 1px solid #d3d3d3; 
list-style: none; 
border-top: none;
padding-left: 0px;	
padding-bottom: 0px;
}
.dropdown li {
display: inline;
}
.dropdown a, .dropdown a:link, .dropdown a:visited {
font-weight: bold; 
color: #0077C8; 
font-size: 93%;	
display: block; 
padding: 3px 6px; 
text-decoration: none; 
width: 209px;
height: 18px;
background: url(../Images/dd_bg.gif)/*tpa=http://www.unitedhealthgroup.com/UHG/Images/dd_bg.gif*/ #fdfdfd repeat-x;
}
.dropdown a:active, .dropdown a:hover {
font-weight: bold; 
color: #0077C8; 
font-size: 93%;	
display: block; 
padding: 3px 6px; 
text-decoration: none; 
background: url(../Images/dd_bg_over.gif)/*tpa=http://www.unitedhealthgroup.com/UHG/Images/dd_bg_over.gif*/ #d4d4d4 repeat-x;
width: 209px;
height: 18px;
}
.dropdown .underline {
border-bottom: 1px solid #d3d3d3;
}

.Headline {
padding-bottom: 5px;
color: #07438b;
font-family: Arial, Verdana, Helvetica;
font-size: 93%;
font-weight: bold;    
}
.Headline a {
text-decoration: none;
color: #0077C8;
}
.Headline a:visited {
text-decoration: none;
color: #0077C8;
}
.Headline a:hover {
text-decoration: underline;
color: #0077C8;
}

.Content {
color: #a79e99;
font-size: 93%;   
}

.Spacer {
height: 1px;
width: 1px;	
}
.newsroomMoreNews {
margin:0px;
padding:0px !important;
}
.newsroomMoreNews ul {
margin:0px;
padding:0px !important;
}

/* Video */

#VideoColumn1 {
float: left; 
width: 520px;
margin:0 20px 0 15px; 
}
#VideoColumn1 .VideoBox {
margin:20px;
}
#VideoColumn1 p {
font-size: 93%;
}
	
#VideoColumn2 {
float: right; 
width: 294px;
margin:40px 20px 0 0; 
font-size: 85%;
line-height: 1.2em; 
}
#VideoColumn2 p {
padding: 2px 0 12px 0; 
font-weight: normal; 
}
#VideoColumn2 h4.SubHeader {
margin:2px 0 2px 0;
font-size:123.1%;
}
#MoreVideos .MoreVideosImage {
float:left;
margin:10px 15px 6px 0;
width:60px;
}
.MoreVideosHeadline {
float:right;
margin:6px 0 6px 0;
width:184px;
}
#MoreVideos a {
text-decoration: none; 
font-weight: bold;
}
#MoreVideos img {
border: 1px solid rgb(0, 0, 0);
}
#MoreVideos a:hover {
text-decoration: underline;
}

a#TertNavigation {
color: #5E5F61;
text-decoration:none;
}
a#TertNavigation:hover {
text-decoration:underline;
}

#MainColumn2.TreeNode {
font-size: 85%;
margin: 1px 1px 1px 0;
padding: 2px 5px 3px 0;
}
#MainColumn2 .TreeNode {
font-size: 85%;
margin: 1px 1px 1px 0;
padding: 2px 5px 3px 0;
}
#MainColumn2 .TreeNodeSelect, #MainColumn2 .TreeNodeOver {
font-size: 85%;
margin-left: 0;
padding: 2px 5px 3px 0;
}
#MainColumn2 #ctl00_MainContent_TertiaryNav_RadTreeView1_t0 img, #MainColumn2 #ctl00_MainContent_TertiaryNav_RadTreeView1_t1 img, #MainColumn2 #ctl00_MainContent_TertiaryNav_RadTreeView1_t2 img, #MainColumn2 #ctl00_MainContent_TertiaryNav_RadTreeView1_t3 img, #MainColumn2 #ctl00_MainContent_TertiaryNav_RadTreeView1_t4 img, #MainColumn2 #ctl00_MainContent_TertiaryNav_RadTreeView1_t5 img {
display:none !important;
}
#MainColumn2 .TreeNodeSelect {
letter-spacing: -0.05em; 
}

.loginboxdiv {
margin:0px;
height:18px;
width:165px;
padding-left:10px;
vertical-align:middle;
background:url(../../Error/PageNotFound.aspx)/*tpa=http://www.unitedhealthgroup.com/images/login_bg.gif*/ no-repeat bottom;
background-position:top;
}
/* attributes of the input box */
.loginbox {
background:none;
border:none;
width:134px;
height:15px;
margin:0;
padding: 0px 7px 0px 7px;
font-family: Verdana, Geneva, sans-serif;
font-size:85%;
}

/* main page image rotator */  
#rotator {
clear: both;
border-color:#C1C6C8;
background-color: #ffffff;  
color: #000000;
margin-bottom: 10px;
overflow: hidden; 
font: 0;
}

/*main navigation */
#main_nav {
clear: both;
margin-bottom: 10px;  
padding: 7px; 
background-color: #003C71;
color:#ffffff;
font-weight:bold;
font-size:100%;
}
#main_content { 
padding: 0px 5px 0px 0px; 
float:right;
width:670px;   
word-wrap: break-word;   
}
#main_content_onecolumn { 
clear: both;
padding: 0px 10px 0px 10px; 
}
/* main content box */  
.main_content_box {
padding: 10px 10px 10px 10px;
background-color: #ffffff;  
color: #5e5f61;
margin-bottom: 10px;
}

.box_text {
padding-left: 5px;
font-size:93%;
text-align: left;
}

/* Grey Text  */
.grey_text {
color:#929293;
}

.heading {
color: #003C71;
font-weight:bold;
font-size: 100%;
padding-bottom:3px;
}

ul.menulinks {
list-style-type: none;
padding: 3px;
margin: 0px;
padding-left:5px;
text-align: left;
}
ul.menulinks_a {
list-style-type: none;
padding: 0px;
margin: 0px;
padding-left:5px;
padding-top:5px;
font-size: 100%;
text-align: left;
}
ul.menulinks li {
padding: 3px;
}
ul.menulinks_a li {
padding: 0px;
}

/* general content box no title */  
.content_box_a {
padding: 10px 10px 10px 10px;
background-color: #ffffff;  
color: #5e5f61;
margin-bottom: 10px;
}
    
/* Box with title - sidenav */    
#left_sidenav {
clear: both;
float: left;
width:210px;  /*modify for arrow*/
margin-top:10px;
margin-bottom:10px;
margin-left:10px;
padding-right:5px;
font: Arial, Helvetica, sans-serif;
}
#left_sidenav h4 {
font-size:93%;
font-family: Arial, Helvetica, clean, sans-serif;
font-weight: bold;
}
.sidenav_box_a {
clear: both;
width:200px;
border-style:solid;
border-color:#C1C6C8;
border-width:1px;
background-color: #ffffff;  
margin-bottom: 10px;
float: left;    
}

/*.sidenav_box_arrow*/
/*{*/
   
/*    padding: 29px 0px 0px 200px; /*arrow positioning*/
/*    width:15px;*/
/*}*/


.sidenav_box_header_a {
/* font-size:100%; */
padding-left: 5px;
padding-bottom: 2px;
padding-top: 2px;
color: #ffffff;
background-color: #003C71;
text-align: left;    
}
.sidenav_box_header_b {
/* font-size:100%; */
padding-left: 5px;
padding-bottom: 2px;
padding-top: 2px;
color: #ffffff;
background-color: #003C71;
text-align: left;
}
.SideNavigation_Tier {
list-style-type: none;
font-size: 85%;
color: #003C71;
text-align: left;
cursor: hand; 
cursor: pointer;
margin-left: 0px;
padding: 0px 0px 0px 30px;
width:205px; 
font-weight: bold;   
}
.SideNavigation_Tier li {
width:211px;
margin-left: -10px;
margin-bottom:5px;
list-style-type: none;
font-size: 85%;
color: #003C71;
padding: 0px 0px 0px 0px;
}
.sidenav_box_header_c {
color: #0077C8;
font-weight:bold;
/* font-size: 85%; */
padding-bottom: 5px;
padding-top: 0px;
padding-left: 0px;
text-align: left;
cursor: hand; 
cursor: pointer;    
}
.sidenav_box_header_d {
clear: both;
margin: 0;  
padding: 0; 
/* font-size: 85%; */
padding-left: 5px;
padding-bottom: 2px;
padding-top: 2px;
color:#0077C8;
font-weight:bold;   
}
.sidenav_box_header_d a:link, .sidenav_box_header_d a:visited {
color: #0077C8;
text-decoration: none;
}
.sidenav_box_header_d a:active, .sidenav_box_header_d a:hover {
color: #0077C8;
text-decoration: underline;
}
.sidenav_box_header_d A.Selected {
font-weight: bold;
color: #0077C8;
text-decoration: none;
}

.Icons a {
text-decoration:none;  
}
        
IMG.imgSocialMedia {
height:16px;
width:15px;
margin-left:3px; 
border:0;   
text-decoration:none;
}
IMG.imgLogo {
width:279px;
height:38px; 
border:0;
padding-left:25px; 
padding-top:0px; 
float:left;
}
div.socialMedia {
width:470px; 
padding-right:15px; 
padding-top:0px;   
}
div.Icons {
float: left;
margin-left:130px;
padding-right: 10px;
margin-top: 2px;
}
div.SearchDiv {
float:right;
width:225px;  
}
                   
#emailForm { 
width: 400px; 
height: 300px; 
margin-left:-62px; 
padding:5px; 
}
        
        
                
/* ####### HEADER ###### */

#headerContainer {
width:900px;
text-align: left;
background-color: white !Important;
margin-left: auto;
margin-right: auto;
}
.header-bottom img {
width:900px;
text-align: left;
background-color: white !Important;
margin-left: auto;
margin-right: auto;  
} 

#logo { 
position: relative; 
top: -5px; 
left: 23px; 
width: 263px; 
z-index:6666; 
}

#youtubeC { 
position: relative; 
top: -22px; 
left: 460px; 
width: 23px; 
}
#twitterC { 
position: relative; 
top: -45px; 
left: 490px; 
width: 23px; 
}
#linkedinC { 
position: relative; 
top: -78px; 
left: 520px; 
width: 23px; 
}
#facebookC { 
position: relative; 
top: -91px; 
left: 550px; 
width: 23px; 
}
#googleplusC { 
position: relative; 
top: -114px; 
left: 580px; 
width: 23px; 
}
#emailC { 
position: relative; 
top: -137px; 
left: 610px; 
width: 23px; 
}

#Icons1 {
position: absolute;
top: 15px; 
right: 100px; 
}
#socialicons1 li {
position: absolute;
top: 15px; 
right: 100px; 
display: inline;     
float: right;     
}
#socialicons a {
display: block;     
padding: 15px;       
margin-right: 4px; 
}

#searchC { 
position: relative; 
top: -20px; 
left: 635px; 
width: 268px; 
}

#searchC {
margin-left: 10px;
background: url("../images/bg-search.gif")/*tpa=http://www.unitedhealthgroup.com/UHG/images/bg-search.gif*/ no-repeat scroll 0% 0% transparent;   
height:20px; 
}
.searchBox {

background: none repeat scroll 0% 0% transparent;
border: medium none;
color: rgb(97, 97, 97);
font-size: 75%;
width:215px;
}
#searchC .searchBox { 
margin: 0px; 
padding: 4px 0px 0px 7px; 
background: none; 
border: none; 
color: #616161; 
font-size: 75%; 

}
#searchC .btn { 
margin: 0px; 
padding: 0px; 
position: absolute; 
top: 0px; 
left: 225px; 

}

.input-container {
    background: url(../images/bg-search.gif)/*tpa=http://www.unitedhealthgroup.com/UHG/images/bg-search.gif*/ no-repeat;
    width:197px;
    height:30px;
}
.input-container input{
    height:27px;
    height:27px\9; /* IE8 and below */
    color: rgb(97, 97, 97);
    line-height:23px;/*results in nice text vertical alignment*/
    line-height:15px\9;/*results in nice text vertical alignment*/
    border:none;
    background:transparent;
    padding:0 8px;/*don't start input text directly from the edge*/
    width:148px;/*full width - grey on the side - 2*10px padding*/
    font-size: 75%; 
}



#searchNews {
margin-right: 18px;
margin-left: 0px;    
}
#searchNews .searchBoxNews { 
margin: 0px; 
padding: 3px 0px 0px 5px; 
width: 160px; 
background: none; 
border: 1px solid #C1C1C1; 
color: #0077C8; 
font-size: 85%; 
}
#searchNews .btn { 
margin: 0px; 
padding: 0px; 
cursor:pointer; 
cursor:hand; 
}
.inputDate {
border: 1px solid #cecece;
padding: 1px;
border-bottom-color: #ddd;
border-right-color: #ddd;
color: #616161; 
font-size: 85%; 
height:25px;
}		
.SideNavigation {
list-style-type: none;
font-size: 85%;
color: #003C71;
text-align: left;
cursor: hand; 
cursor: pointer;
margin-left: 0px;
padding: 0px 5px 0px 5px;
width:205px; 
background:transparent url(../images/rounded-hover-stretch.png)/*tpa=http://www.unitedhealthgroup.com/UHG/images/rounded-hover-stretch.png*/ repeat-y; 
font-weight: bold;    
}
.SideNavigation li {
list-style-type: none;
font-size: 85%;
color: #003C71;
padding: 0px 0px 0px 0px;
}
.SideNavigation2 {
list-style-type: none;
font-size: 85%;
color: #003C71;
text-align: left;
cursor: hand; 
cursor: pointer;
margin-left: 0px;
padding: 0px 5px 0px 5px;
width:205px; 
font-weight: bold;    
}
.SideNavigation2 li {
list-style-type: none;
font-size: 85%;
color: #003C71;
padding: 0px 0px 0px 0px;
}	
.SideNavigation a:link, .SideNavigation a:visited {
color: #003C71;
text-decoration: none;
}
.SideNavigation a:active, .SideNavigation a:hover {
color: #003C71;
text-decoration: underline
}
.SideNavigation A.Selected {
font-weight: bold;
color: #78BE20;
text-decoration: none;
}
 
divPlace {
top: -44px;
position: absolute;
}

.Icons a { 
text-decoration:none; 
}
IMG.imgSocialMedia {
height:14px;
width:14px;
margin-left:3px; 
border:0;   
text-decoration:none;           
}
       
.imgLogo {
width:144px;
height:70; 
border:0;
padding-left:25px; 
padding-top:15px; 
float:left;
}
div.socialMedia {
width:470px; 
padding-right:15px; 
padding-top:15px;   
}
div.Icons {
float: left;
margin-left:130px;
padding-right: 10px;
margin-top: 4px; 
}
div.SearchDiv {
float:right;
width:225px;  
}
div.popdown { 
display: table; width: 30px; 
width:auto;
position: absolute;
z-index:9998; 
padding:0px;
top:52px;
margin-left:576px;
*margin-left:604px;
}
div.popdown > div { 
display: table-cell; 
padding: 0.5em;
border:1px solid #464646;
background-color:#FFFFFF;
*margin-left:-55px;
*margin-top: 2px;
} 
div.notch {
z-index:9999; 
width:9px;
height:5px; 
position:absolute; 
top:-4px; 
left:4px;
*top: -2px;
*left: -23px;         
}    
div.popdowngoogle { 
display: table; 
width:auto;
position: absolute;
z-index:9998; 
padding:0px;
top:52px;
margin-left:588px;
*margin-left:652px;
}
div.popdowngoogle > div { 
display: table-cell; 
padding: 0.5em;
border:1px solid #464646;
background-color:#FFFFFF;
*margin-left:-55px;
*margin-top: 2px;
} 
div.notchgoogle {
z-index:9999; 
width:9px;
height:5px; 
position:relative; 
top:-11px; 
left:2px;
*left:0px;
*top:-12px; 
}
div.emailNotch { 
display: table; 
position: absolute;
z-index:9998; 
padding:0px;
top:64px;
margin-left:558px;
*margin-left:652px;
}
div.emailNotch > div  { 
display: table-cell; 
padding: 0.5em;
border:1px solid #464646;
background-color:#FFFFFF;
*margin-left:-55px;
*margin-top: 2px;
}
div.notchEmail {
z-index:9999; 
width:9px;
height:5px; 
position:relative; 
top:-11px; 
left:143px;
*left:125px;
*top:-12px;
}
td.emailTitle {
font-weight:bold;
}
div.popdownEmail {
top:52px;
margin-left:468px; 
padding: 0.5em; 
position: absolute; 
border:1px solid black; 
z-index:9999; 
background-color:White;
*margin-left:487px; 
}
#emailForm { 
width: 400px; 
height: 300px; 
margin-left:-60px; 
padding:5px; 
}


.wrap {
position:relative;
width:205px;
float:left;
}
.top, .bottom {
float:left;
width:216px;
height:42px;
/*background:transparent url(/UHG/images/rounded-shadow-btm.gif) no-repeat; */
}
.top {
background:transparent url(../images/rounded-shadow-top.gif)/*tpa=http://www.unitedhealthgroup.com/UHG/images/rounded-shadow-top.gif*/ no-repeat; 
}
.top p {
margin-top:13px;
margin-left:20px;
color:#7A7A7A;
font-weight:bold;
}	

.sidenav_box 
{
    line-height:1.2em;
    font-size:90%;
 /*   
float:left;
padding:0px 0px 5px 0px;
width:205px;
background:transparent url(/UHG/images/rounded-shadow-bg.gif) repeat-y; 
color: #0077C8;
*/
}	
.sidenav_box p {
margin-left: 20px;
margin-top: 5px;
padding-right: 10px;
font-size: 100%;
}
.sidenav_box a:link, .sidenav_box a:visited {
color: #0077C8;
text-decoration: none;
}
.sidenav_box a:active, .sidenav_box a:hover {
color: #0077C8;
text-decoration: underline
}
.sidenav_box a.Selected {
color: #0077C8;
text-decoration: none;
}
.sidenav_box_gray 
{
/*
float:left;
color: #0077C8;
padding: 0px 5px 5px 15px;
width:185px; /*Your width minus 40px for your left and right padding */
/*background:transparent url(/UHG/images/rounded-shadow-bg.gif) repeat-y; 
*/
font-size: 90%;
line-height: 1.2em;
padding: 0px 5px 5px 14px;
}	
.sidenav_box_gray h4 {
top:12px;
position:absolute;
line-height:2em;
}	
.sidenav_box_gray p {
margin-left:0px;
}
.sidenav_box_gray a:link, .sidenav_box_gray a:visited {
color: #0077C8;
text-decoration: none;
}
.sidenav_box_gray a:active, .sidenav_box_gray a:hover {
color: #0077C8;
text-decoration: underline
}
.sidenav_box_gray a.Selected {
color: #0077C8;
text-decoration: none;
}
.sidenav_box_selected_top {
color: #78BE20;
text-align: left;
cursor: hand; 
cursor: pointer;
margin-top:6px;
margin-left: 0px;
padding: 0px 0px 0px 0px;
width:205px; 
height:9px;
background:transparent url(../images/rounded-hover-top.png)/*tpa=http://www.unitedhealthgroup.com/UHG/images/rounded-hover-top.png*/;
background-repeat:no-repeat;   
}
.sidenav_box_selected {
color: #78BE20;
text-align: left;
cursor: hand; 
cursor: pointer;
margin-left: 0px;
padding: 0px 5px 0px 20px;
width:211px;
background:transparent url(../images/rounded-hover-stretch.png)/*tpa=http://www.unitedhealthgroup.com/UHG/images/rounded-hover-stretch.png*/ repeat-y; 
font-weight: bold;	
}
.sidenav_box_selected a:link, .sidenav_box_selected a:visited {
color: #78BE20;
font-weight: bold;
}
.sidenav_box_selected_btm {
color: #78BE20;
cursor: hand; 
cursor: pointer;
margin-left: 0px;
margin-bottom:5px;
padding: 3px 5px 0px 20px;
width:216px; 
height:5px;
background:transparent url(../images/rounded-hover-btm.png)/*tpa=http://www.unitedhealthgroup.com/UHG/images/rounded-hover-btm.png*/;
background-repeat:no-repeat;  
}
.sidenav_box_selected_top2 {
color: #78BE20;
text-align: left;
cursor: hand; 
cursor: pointer;
margin-top:5px;
margin-left: -7px;
padding: 0px 0px 0px 0px;
height:7px;
background:transparent url(../images/rounded-hover-top2.png)/*tpa=http://www.unitedhealthgroup.com/UHG/images/rounded-hover-top2.png*/;
background-repeat:no-repeat; 
width:210px;  
}
.sidenav_box_selected2 {
color: #78BE20;
text-align: left;
vertical-align:middle;
cursor: hand; 
cursor: pointer;
margin-left: -7px;
padding: 0px 0px 3px 16px;
width:193px; 
background:transparent url(../images/rounded-hover-stretch2.png)/*tpa=http://www.unitedhealthgroup.com/UHG/images/rounded-hover-stretch2.png*/ repeat-y; 
background-position:fixed;
font-weight: bold;
}
.sidenav_box_selected_btm2 {
color: #78BE20;
cursor: hand; 
cursor: pointer;
vertical-align:middle;
margin-left: -7px;
margin-bottom:5px;
padding: 0px 0px 0px 0px;
height:7px;
background:transparent url(../images/rounded-hover-btm2.png)/*tpa=http://www.unitedhealthgroup.com/UHG/images/rounded-hover-btm2.png*/;
background-repeat:no-repeat;
width:210px;
}
.sidenav_box_selected_blue {
color: #0077C8;
text-align: left;
cursor: hand; 
cursor: pointer;
margin-left: 0px;
padding:0px 0px 5px 20px;
width:205px; 
background:transparent url(../images/rounded-hover-stretch.png)/*tpa=http://www.unitedhealthgroup.com/UHG/images/rounded-hover-stretch.png*/ repeat-y; 
font-weight: bold;	
}
.bio2 {
float:left;
background-color:#bca;
background: #FFFFFF;
position:  absolute;
background-repeat: no-repeat;
background-position: center center;
border:1px solid #78BE20;
padding:10px;
top: 500px;
left: 420px;
width:600px;
height:580px;
display:none;  
}
.bio {
float:left;
background-color:#bca;
background: #FFFFFF;
position:  absolute;
background-repeat: no-repeat;
background-position: center center;
border:1px solid #78BE20;
padding:10px;
top: 200px;
left: 420px;
width:0px;
height:0px;
display:none;
}

.topgray, .bottom {
float:left;
width:216px;
height:42px;
background:transparent url(../images/rounded-shadow-btm.gif)/*tpa=http://www.unitedhealthgroup.com/UHG/images/rounded-shadow-btm.gif*/ no-repeat; 
}	
.topgray {
background:transparent url(../images/rounded-shadow-top.gif)/*tpa=http://www.unitedhealthgroup.com/UHG/images/rounded-shadow-top.gif*/ no-repeat; 
}
.bottom {
float:left;
width:216px;
background:transparent url(../images/rounded-shadow-btm.gif)/*tpa=http://www.unitedhealthgroup.com/UHG/images/rounded-shadow-btm.gif*/ no-repeat; 
}
.topblue {
/*float:left;*/
vertical-align: top;
/*width:216px;*/
min-height:42px;
padding-left:20px;
padding-top:13px;
/*background:transparent url(/UHG/images/rounded-shadow-top.gif) no-repeat; */
font-size: 108%;
font-weight:bold;
border-bottom: 1px solid rgb(216, 216, 216);         
background: linear-gradient(rgb(255, 255, 255), rgb(244, 244, 244)) repeat scroll 0% 0% transparent;
-webkit-border-top-left-radius: 6px;
-moz-border-top-left-radius: 6px;           
-webkit-border-top-right-radius: 6px;
-moz-border-top-right-radius: 6px;
border-top-right-radius: 6px;
-webkit-box-shadow: 0px 3px 2px rgb(245, 245, 245) inset;
-moz-box-shadow: 0px 3px 2px rgb(245, 245, 245) inset;
box-shadow: 0px 3px 2px rgb(245, 245, 245) inset;            
}	
.topblue p {
margin-left:20px;
padding-right:20px;
font-weight:bold;
line-height:200%;
color:#5E5F61;
}	
.topblue a:link, .topblue a:visited {
color: #0077C8;
text-decoration: none;
}
.topblue a:active, .topblue a:hover {
color: #0077C8;
text-decoration: underline
}
.topblue a.Selected {
color: #0077C8;
text-decoration: none;
}
	
/* The style for the div that appears when the exit dialog is shown. */
#ln-blackout {
position:fixed; 
top:0; 
left:0; 
width:100%; 
height:100%; 
background-color:#000;
z-index: 7777;
}
/* This style is for a container that holds the message dialog box. */
#ln-messageHolder {
position:fixed; 
top:150px; 
left:0; 
width:100%;
}
/* This style is for the div that holds the actual exit dialog. */
#ln-messageBox {
width:460px; 
margin:0 auto; 
min-height:200px; 
background-color:#fff; 
border:10px solid #e6e6e6; 
-moz-box-shadow:0 0 20px 10px #666; 
-webkit-box-shadow:0 0 20px #666; 
text-align:center; padding:20px;
}

a#ln-cancelLink {
background-color:#e6e6e6; 
font-weight:bold; 
padding:5px; 
color:#666; 
text-decoration:none; 
text-transform:uppercase; 
font-size: 85%;
}
a#ln-cancelLink:hover {
background-color:#666; 
color:#e6e6e6;
}

/* footer background fix */
#masterContainer #masterFooter {
background: #ededec url('../Images/Main_BG.gif')/*tpa=http://www.unitedhealthgroup.com/UHG/Images/Main_BG.gif*/; 
}	
	
/* This style is for the box that holds the section that directed to. */
.setoff {
background-color:#f2f2f2; 
padding:5px; 
margin:10px 0 20px 0;
}
 
label {
display: block;     
padding-left: 15px;    
text-indent: -15px; 
} 

.header_title {
font-size: 123.1%;
color: Gray;
} 

.news_text {
color: #5E5F61;;
} 

.rss_image {
position: relative;
top: 3px;
}

.image_space {
height: 5px;
}

#masterContainer .tl_decade, .tl_decade  {
list-style: none;
}


.sidenav_box_gray {
color: #5E5F61;
}
.sidenav_box_gray a{
color: #0077C8;
}
.sidenav_box_gray ul, .sidenav_box_gray ol {
padding-left:15px;
}

#timeline_container #timeline .viewport {
background: url("~/media/5F42FC5ADB6D49A4B0BF04574AF85822.ashx.jpg")/*tpa=http://www.unitedhealthgroup.com/UHG/styles/~/media/5F42FC5ADB6D49A4B0BF04574AF85822.ashx*/ no-repeat 0 0 transparent;
}

.news_text_date { 
font-weight: bold; 
float:left;
margin-top:2px;
}


.sidebx .borderround {
width:175px;
}

/* General Border */

.borderround p, .borderround ul, .borderround ol {
font-size:90%;
}
.borderround ul, .borderround ol {
padding-left:3px;
}

/* Sitecore table */

.sidenav_box_gray table, .telerik-reTable-1 table, telerik-reTable-2 table, telerik-reTable-3 table, telerik-reTable-4 table, telerik-reTable-5 table {
border-collapse: separate;
border-spacing: 6px;
}
.sidenav_box_selected2 {
font-weight: normal;
}
.sidenav_box_selected2 a {
padding-right: 10px;
}

/* Timeline bug fix */

.pp_description {
display:none !important;
}

/* CSS for a div with the id=button1 through id=button8 with another div after it with a display:none on it that expands and collapses -- Contact Us page */

a.expandbutton {
border: #e1e1e1 1px solid;
text-align: center;
padding: 3px 10px 4px 10px;
margin: 0 0 5px 5px;
display: inline-block;
white-space: nowrap;
color: #ffffff;
font-size: 1 em;
font-weight: bold;
text-decoration: none;
border-radius: 5px;
-moz-border-radius:5px; /* Old Firefox */
background-color:#5B6770;
}
a.expandbutton:link {
background-color: #7C878E;
color: #ffffff;
}
a.expandbutton:visited {
background-color: #7C878E;
color: #ffffff;
}
a.expandbutton:hover {
background-color: #0077c8;
color: #ffffff;
}
a.expandbutton:active {
background-color: #0077c8;
color: #ffffff;
}

#ln-messageHolder {z-index:1000000;}

.spotlight {
width: 600px;
}

p.x-small, p.xx-small { line-height: 1.1em; }

/* BEGIN CSS Document for Sitecore Drop Down Styles */

.leadsentence { font-size:100%; color: #003C71; font-weight:bold !important; letter-spacing: 0.03em; }
.caption { font-size:85%; color: #7C878E; }
.fineprint { font-size:77%; color: #A2AAAD; }


.xx-large { font-size:153.9%; }
.x-large { font-size:138.5%; }
.large { font-size:123.1%; }
.medium { font-size:100%; }
.small { font-size:93%; }
.x-small { font-size:85%; }
.xx-small { font-size:77%; }

.colorblack { color: #000000; }
.colordarkblue { color: #003C71; }
.colorblue { color: #00629B; }
.colorgreen { color: #007041; }
.colorcrimson { color: #861F41; }
.colororange { color: #CF4520; }
.colorlightblue { color: #0077C8; }
.colorlightgreen { color: #44883E; }
.colorlightcrimson { color: #A50050; }
.colorlightorange { color: #ED8B00; }
.coloraccentcyan { color: #00A9CE; }
.coloraccentgreen { color: #78BE20; }
.coloraccentmagenta { color: #A51890; }
.colorgraydark { color: #5B6770; }
.colorgray { color: #7C878E; }
.colorgraymedium { color: #A2AAAD; }
.colorgraylight { color: #C1C6C8; }

.floatright { float:right; margin:0 0 1em 2em; }
.floatleft { float:left; margin:0 2em 1em 0; }
.alignright { text-align: right;}

.dash_vert {
width: 1px;
overflow: hidden;
font: 0;
background: transparent url(../../Error/PageNotFound.aspx)/*tpa=http://www.unitedhealthgroup.com/Images/dash_vert.gif*/ repeat-y top center;
padding:0 2em;
}

.bordersquare { border:thin #dedede solid; padding: 15px;}
.borderround { 
border:thin #dedede solid;
border-radius:10px;
-moz-border-radius:10px; /* Old Firefox */
padding: 15px;
*padding-bottom:40px;
*padding-top:5px;
background: #f5f5f5;
word-wrap: break-word;
}

/* END CSS Document for Sitecore Drop Down Styles */

a span.fineprint, .fineprint a, .fineprint a:link, .fineprint a:visited { 
color: #A2AAAD; 
text-decoration: underline; 
}

.InteriorPageHeader h1, .InteriorPageHeader h2 {
color: #6c6c6c;
font-size:138.5%;
font-weight: normal;
}

.NavMenuItem, .NavMenuItemEnglishOnly-es, .NavMenuItemEnglishOnly-br {
font-family:FrutigerLTPro-Light, Arial, Helvetica, clean, sans-serif;
font-size: 103%;
font-weight: bold;
padding-left: 14px;
padding-right: 6px;
padding-top: 6px;
color: white;
vertical-align:middle;
text-decoration: none;  
letter-spacing: 0.03em;
display:inline-block;
}
a.NavMenuItem:hover, a.NavMenuItemEnglishOnly-es:hover, a.NavMenuItemEnglishOnly-br:hover {
font-family:FrutigerLTPro-Light, Arial, Helvetica, clean, sans-serif;
color: #78BE20;
}
.NavMenuItemCurrent, .NavMenuItemCurrentEnglishOnly-es, .NavMenuItemCurrentEnglishOnly-br {
font-family:FrutigerLTPro-Light, Arial, Helvetica, clean, sans-serif;
font-size: 103%;
font-weight: bold;
padding-left: 13px;
padding-right: 6px;
padding-top: 6px;
color: #78BE20;
vertical-align:middle;
text-decoration: none;
letter-spacing: 0.03em;
display:inline-block;
}

#CountrySelector {
position: relative; 
top:0px;
padding:0px;
}
#LangCheckBox {
position: relative; 
top:0px;
padding-right:15px;
}
#panel {
background: #E8E7E7;
height: 28px;
display: none;
border-bottom: solid 2px #003C71;
padding-right: 0px;
padding-top: 10px;
font-size:12px;
color: #0077C8;
text-decoration: none;
}
.slide {
margin: 0;
padding: 0;
background: url(../images/languagepanel/btn-slide.gif)/*tpa=http://www.unitedhealthgroup.com/uhg/images/languagepanel/btn-slide.gif*/ no-repeat center top;
width:145px;
}
.btn-slide { 
background: url(../images/languagepanel/white-arrow.gif)/*tpa=http://www.unitedhealthgroup.com/uhg/images/languagepanel/white-arrow.gif*/ no-repeat right -35px;
text-align: center;
width: 130px;
height: 31px;
padding: 0px 0px 0 0;
margin: 0px auto;
display: block;
color:#fff;
text-decoration: none;
font-size:85%;
}


.active {
background-position: right 6px;
}


/* new left side boxes */
.wrap 
{
    border: 1px solid rgb(216, 216, 216);
    margin: 0px 0px 30px 0px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0px 3px 2px #CCC;
    -moz-box-shadow: 0px 3px 2px #CCC;
    box-shadow: 0px 3px 2px #CCC;
    padding: 0 0 10px 0;
    word-wrap: break-word;
}

 .wrap a
{
    color: #0077c8;
    text-decoration: none;
}
.wrap a:hover, .wrap a:active
{
    text-decoration: underline;
}

/*
 .wrap h4
{
    padding: 14px;
    vertical-align: bottom;
    margin: 0px;
    font-size: 103%;
}
*/
 .wrap ul.sidenav_list
{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.wrap ul.sidenav_list li
{
    padding: 8px 10px 8px 14px;
    line-height: 1.2em;
    margin: 0px;
    list-style: none outside none;
    font-weight: normal;
}
.sidenav_box_gray ul
{
    margin: 12px;
    padding: 0px;
}
.sidenav_box_gray ul li
{
    padding: 0px 0px 8px 0px;
}

@font-face {
    font-family: 'FrutigerLTPro-Light';
    src: url('../../2612E6_0_0.eot')/*tpa=http://www.unitedhealthgroup.com/2612E6_0_0.eot*/; /* IE9 Compat Modes */
    src: url('../../2612E6_0_0.eot-#iefix')/*tpa=http://www.unitedhealthgroup.com/2612E6_0_0.eot?#iefix*/ format('embedded-opentype'), /* IE6-IE8 */
         url('../../2612E6_0_0.woff')/*tpa=http://www.unitedhealthgroup.com/2612E6_0_0.woff*/ format('woff'), /* Modern Browsers */
         url('../../2612E6_0_0.ttf')/*tpa=http://www.unitedhealthgroup.com/2612E6_0_0.ttf*/ format('truetype'); /* Safari, Android, iOS */
    }
    

  
@font-face {
    font-family: 'FrutigerLTPro-Roman';
    src: url('../../2612E6_1_0.eot')/*tpa=http://www.unitedhealthgroup.com/2612E6_1_0.eot*/; /* IE9 Compat Modes */
    src: url('../../2612E6_1_0.eot-#iefix')/*tpa=http://www.unitedhealthgroup.com/2612E6_1_0.eot?#iefix*/ format('embedded-opentype'), /* IE6-IE8 */
         url('../../2612E6_1_0.woff')/*tpa=http://www.unitedhealthgroup.com/2612E6_1_0.woff*/ format('woff'), /* Modern Browsers */
         url('../../2612E6_1_0.ttf')/*tpa=http://www.unitedhealthgroup.com/2612E6_1_0.ttf*/ format('truetype'); /* Safari, Android, iOS */
    
    }
 
  
@font-face 
{
    font-family: 'FrutigerLTPro-Bold'; /* IE9 Compat Modes */
    src: url('../../2612E6_2_0.eot')/*tpa=http://www.unitedhealthgroup.com/2612E6_2_0.eot*/;  /* IE6-IE8 */
    src: url('../../2612E6_2_0.eot-#iefix')/*tpa=http://www.unitedhealthgroup.com/2612E6_2_0.eot?#iefix*/ format('embedded-opentype'),
         url('../../2612E6_2_0.woff')/*tpa=http://www.unitedhealthgroup.com/2612E6_2_0.woff*/ format('woff'), /* Modern Browsers */
         url('../../2612E6_2_0.ttf')/*tpa=http://www.unitedhealthgroup.com/2612E6_2_0.ttf*/ format('truetype'); /* Safari, Android, iOS */
    }