.help-img {
  width: 18px;
  margin-bottom: -4px;
  cursor:pointer;
}

#simplemodal-overlay {
  background-color:#000;
}

#simplemodal-container {
  background-color:#444; 
  padding:12px;
}

#simplemodal-container a.modalCloseImg {
  background:url(x.png) no-repeat; /* adjust url as required */
  width:25px;
  height:29px;
  display:inline;
  z-index:3200;
  position:absolute;
  top:-15px;
  right:-18px;
  cursor:pointer;
}

#block-views-related-news-block div.view-header p {
  color: #12C2E9;
  font: 1.5em Arial;
}

#block-views-related-news-block li.views-row {
  min-height: 100px;
}
  
#block-views-related-news-block li.views-row div.field-name-field-custom-title {
  color: #12c2e9;
  font: 0.75em/1.3 Arial;
  text-decoration: underline;
  padding-bottom: 3px;
  cursor: pointer;
}

#block-views-related-news-block li.views-row div.field-name-field-news-teaser {
  padding-top: 5px;
}

#block-views-related-news-block li.views-row div.field-name-field-news-teaser p {
  color: #555555;
}

#news-more a {
  padding-top: 5px;
  font-size: 11px;
}

#edit-actions--3, 
.news-link {
  display: none;
}

.editablefield-hover-link {
  background-color: white;
}

form#sharebasket-configuration-form div.form-item{
  position:relative;
}

form#sharebasket-configuration-form div.form-item a.edit{
  position:absolute;
  top:25px;
  left:58%;
}