
body { font-family:"Interstate", Helvetica, sans-serif;}

#easylink_wrap {
	position:relative;
	margin:0 auto;
	width:730px;
	height:598px;
	background-color:#fff;
	border-radius:15px;
}

#tabs {
	margin:0 auto;
	width:730;
	height:140px;
	border-bottom: dashed #f3f3f4 thin;
	padding: 0px 0 0 0px;
}

/*----WELCOMES and INSTRUCTIONS----*/

.welcome {
	font-size:20px;
	color:#0082c8;
}
.msg {
	font-size:18px;
	color:#0082c8;
}


/*----OPTIONAL ITEMS----*/
	
.noActive {
	 background: url('img/Map_off-720.gif')/*tpa=http://www.ecolab.com/Projects/EcolabSiteR0412/Controls/Map/img/Map_off-720.gif*/ no-repeat 0 0;
	 width: 824px; 
	 height: 382px;
	 position:relative;
	 margin:0 auto;
	}

#naregion  {
	background:url(img/Map_off-720.gif)/*tpa=http://www.ecolab.com/Projects/EcolabSiteR0412/Controls/Map/img/Map_off-720.gif*/ no-repeat 0 0;
	position:relative;
	width:270px;
	height:158px;
	display:block;
}
#naregion:hover { background:url(img/uscanada-720.gif)/*tpa=http://www.ecolab.com/Projects/EcolabSiteR0412/Controls/Map/img/uscanada-720.gif*/ no-repeat 0 0;}

#laregion
{
	position:relative;
	width:196px;
	height:250px;
	left:97px;
	top:-46px;
}
#laregion:hover { background:url(img/latinamerica-720.gif)/*tpa=http://www.ecolab.com/Projects/EcolabSiteR0412/Controls/Map/img/latinamerica-720.gif*/ no-repeat 0 0;}

#africaregion
{
	position:relative;
	width:182px;
	height:210px;
	top:-312px;
	left:293px;
}
#africaregion:hover { background:url(img/africame-720.gif)/*tpa=http://www.ecolab.com/Projects/EcolabSiteR0412/Controls/Map/img/africame-720.gif*/ no-repeat 0 0;}

#euregion
{
	position:relative;
	width:212px;
	height:124px;
	left:280px;
	top:-611px;
}
#euregion:hover { background:url(img/europe-720.gif)/*tpa=http://www.ecolab.com/Projects/EcolabSiteR0412/Controls/Map/img/europe-720.gif*/ no-repeat 0 0;}

#apregion
{
	position:relative;
	width:337px;
	height:354px;
	top:-735px;
	left:413px;
}
#apregion:hover { background:url(img/asiapacific-720.gif)/*tpa=http://www.ecolab.com/Projects/EcolabSiteR0412/Controls/Map/img/asiapacific-720.gif*/ no-repeat 0 0;}

#euregion.active { background:url(img/europe-720.gif)/*tpa=http://www.ecolab.com/Projects/EcolabSiteR0412/Controls/Map/img/europe-720.gif*/ no-repeat 0}
#naregion.active { background:url(img/uscanada-720.gif)/*tpa=http://www.ecolab.com/Projects/EcolabSiteR0412/Controls/Map/img/uscanada-720.gif*/ no-repeat 0 0;}
#apregion.active { background:url(img/asiapacific-720.gif)/*tpa=http://www.ecolab.com/Projects/EcolabSiteR0412/Controls/Map/img/asiapacific-720.gif*/ no-repeat 0 0;}
#africaregion.active { background:url(img/africame-720.gif)/*tpa=http://www.ecolab.com/Projects/EcolabSiteR0412/Controls/Map/img/africame-720.gif*/ no-repeat 0 0;}
#laregion.active{ background:url(img/latinamerica-720.gif)/*tpa=http://www.ecolab.com/Projects/EcolabSiteR0412/Controls/Map/img/latinamerica-720.gif*/ no-repeat 0 0;}

.RegName
{
	color:#fff;
	position:relative;
	margin:0 auto;
	font-size:12px;
	text-align:center;
}

.regions ol li { list-style-type: disc !important; }

#usname
{
	top:97px;
	left: 6px;
}

#laname
{
	top:100px;
	left: 27px;
}

#euroname
{
	top:65px;
	left: 0px;
}

#africaname
{
	top:40px;
	left: -30px;
}

#apname
{
	top:85px;
	left: -85px;
}
.nameRegion
{
	color:#005a84;
	font-size:16px;
}
.close
{
	text-align:right;
	color:#dedfe0;
	cursor:pointer;
}
.countriesContainer
{ 
	position:absolute; 
	background-color:#fff;
	z-index:999999;
	padding:20px;
	border-radius:15px;
	border:solid 1px #eaebeb;
    display: none;
	min-width:200px;
}
.regions ol li a 
{
	color:#005a84;
	text-decoration:none;
	font-size:14px;
}
.regions ol li a:hover
{
	color:#babcbe;
}
.regions ol {
	float:left !important;
	display:inline;
	margin:16px 0 0 0;
	width:150px;
}
.regions {
	text-align:left;
}
/*----Languages Buttons----*/
.flagholder{
	float:left;
}
#usflag
{
	background: url('img/flag-sprite_03.png')/*tpa=http://www.ecolab.com/Projects/EcolabSiteR0412/Controls/Map/img/flag-sprite_03.png*/ no-repeat -1px 0;
	width: 25px;
	height: 24px;
}
#jaflag
{
	background: url('img/flag-sprite_03.png')/*tpa=http://www.ecolab.com/Projects/EcolabSiteR0412/Controls/Map/img/flag-sprite_03.png*/ no-repeat -147px 0;
	width: 25px;
	height: 24px;
}
#easylink_wrap ul {
	margin-top:20px;
	z-index:1000;
	color:#0082c8;
}
#easylink_wrap ul li {
	list-style:none;
	margin: 0 40px 0 5px;
}

#easylink_wrap ul li a{
	text-decoration:none;
	font-weight:400;
	font-size:14px;
	color:#52bdec;
}
#easylink_wrap ul li a:hover
	{
		color:#babcbe;
	}
.spacer { height:10px; }


/*----DO NOT TOUCH - IT BITES----*/
.clear { clear:both; }
.ui-state-default,.ui-widget-content .ui-state-default{}.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited{}.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus{}.ui-state-hover a,.ui-state-hover a:hover{}.ui-state-active,.ui-widget-content .ui-state-active{}.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited{}.ui-state-highlight,.ui-widget-content .ui-state-highlight{}.ui-state-disabled,.ui-widget-content .ui-state-disabled{background-image:none}
.ui-tabs{}.ui-tabs .ui-tabs-nav{list-style:none}.ui-tabs .ui-tabs-nav li{float:left}.ui-tabs .ui-tabs-nav li a{}.ui-tabs .ui-tabs-nav li.ui-tabs-selected{}.ui-tabs .ui-tabs-nav li.ui-tabs-selected a,.ui-tabs .ui-tabs-nav li.ui-state-disabled a,.ui-tabs .ui-tabs-nav li.ui-state-processing a{}.ui-tabs .ui-tabs-nav li a,.ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a{display:block}.ui-tabs .ui-tabs-panel{}.ui-tabs .ui-tabs-hide{display:none !important}.ui-tabs .ui-tabs-panel h1{}