/*NAV Specific Style Tags */
/*NAV Specific Style Tags */
#globalmycarousel span {
  position: absolute;
  top: 30px;
  left: 0px;
  display: none;
  background: url(../../../corporate.mattel.com/mdn/mattel-top-nav-test/images/tooltip.png)/*tpa=http://corporate.mattel.com/mdn/mattel-top-nav-test/images/tooltip.png*/ no-repeat;
  width: 87px;
  height: 32px;
  text-align: center;
  padding: 0px;
  line-height:100%;
  color:#ffffff;
  font:10px arial,sans-serif; 
  z-index:1300;
}


#spanelem{
  position: absolute;
  top: 30px;
  left: 0px;
  display: none;
  background: url(../../../corporate.mattel.com/mdn/mattel-top-nav-test/images/tooltip.png)/*tpa=http://corporate.mattel.com/mdn/mattel-top-nav-test/images/tooltip.png*/ no-repeat;
  width: 90px;
  height: 32px;
  text-align: center;
  padding: 5px;
  line-height:100%;
  color:#ffffff;
  font:10px arial,sans-serif;
  z-index:1300; 
}


#globalmycarousel li { 
  float:left; 
  position:relative; 
  margin-right:0px; 
  display: inline; 
  display: block; 
}


#globalmycarousel-container {     
  z-index:5 !important;
  float:left;
  display: inline;
  margin: 2px 0px 0px 0px;
}


#chiclet-mask {
	background:url(chiclet-mask.png)/*tpa=http://www.mattel.com/files/nav/chiclet-mask.png*/ no-repeat;
	width:498px;
	height:48px;
	margin-top:2px;
	margin-left:-229px;
	position:absolute;
	left:50%;
	z-index:3;
	display:none;
}

#leftside{  
  float:left;
  display: inline;
  width:263px;
  margin: 2px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}


#rightside{
    margin: 2px 0px;
}

#rightside a:link {color:#7e8594; text-decoration: none;}      /* unvisited link */
#rightside a:visited {color:#7e8594; text-decoration: none;}  /* visited link */
#rightside a:hover {color:#e72d21; text-decoration: none;}  /* mouse over link */
#rightside a:active {color:#7e8594; text-decoration: none;}  /* selected link */


#globaltop-wrapper {
  width:100%;
    background-image:url('../../../corporate.mattel.com/mdn/mattel-top-nav-test/images/repeating-bar.png')/*tpa=http://corporate.mattel.com/mdn/mattel-top-nav-test/images/repeating-bar.png*/;
  background-position: center left;
  background-repeat:repeat-x; 
  overflow:hidden;
  margin:0px auto;  
  padding: 0px 0px 0px 0px; 
}


#globalheader-content {  
  width: 986px;
  height: 60px;
  margin: 0px auto;
  overflow:hidden;
  left:-50%;  
}


#above-header{
  width:100%;
  overflow:hidden;
  margin:0px auto;  
  padding: 0px 0px 0px 0px;   
  background-color: #DFDFDF;  
}


#above-globalheader-content{
  width: 975px;
  margin: auto; 
  overflow:hidden;  
  font: 11px arial,sans-serif;  
}


#above-globalheader-content-links{
  margin-left:655px;
  margin-top:2px;
  width:320px;
  color:#7F7F7F;
  height:16px;
  text-decoration: none;
}


#above-globalheader-content-links a:link {color:#686C6F; text-decoration: none;}      /* unvisited link */
#above-globalheader-content-links a:visited {color:#686C6F; text-decoration: none;}  /* visited link */
#above-globalheader-content-links a:hover {color:#e72d21; text-decoration: none;}  /* mouse over link */
#above-globalheader-content-links a:active {color:#686C6F; text-decoration: none;}  /* selected link */


#shop-icon{
  position:relative;
  margin: -45px 99px;
  font:bold 12px arial,sans-serif;
}


#shop-text{
  position:relative;
  margin: -17px 37px; 
  font:bold 12px arial,sans-serif;
  margin: -23px 37px\9; /* IE 8 and below */  
  *margin: -20px 37px; /* IE 7 */ 
  font:bold 13px arial,sans-serif\9;  /* IE 8 and below */  
  text-decoration: none;
  clear: both;
}


#mobile-text{
  position:relative;
  margin: -20px 136px;
  font:bold 12px arial,sans-serif;  
  margin: -23px 136px\9; /* IE 8 and below */ 
  *margin: -20px 136px; /* IE 7 */  
  font:bold 13px arial,sans-serif\9;  /* IE 8 and below */  
  text-decoration: none;
  clear: both;
}


#spanindex{
  z-index:1201; 
}


#globalmycarousel li a {
	position:relative;
	z-index:4;
}

#globalmycarousel li a:hover div {
	background-position:0px -100px !important;
} 

.chiclet {
	width:62px;
	height:46px;
	background-repeat:none;
}

.chiclet.barbie{
  background-image:url(chiclet_barbie3.png)/*tpa=http://www.mattel.com/files/nav/chiclet_barbie3.png*/;
}

.chiclet.ag {
  background-image:url(chiclet_ag3.png)/*tpa=http://www.mattel.com/files/nav/chiclet_ag3.png*/;
}

.chiclet.thw {
  background-image:url(chiclet_teamHW3.png)/*tpa=http://www.mattel.com/files/nav/chiclet_teamHW3.png*/;
}

.chiclet.fijit{
 background-image:url(chiclet_fijit3.png)/*tpa=http://www.mattel.com/files/nav/chiclet_fijit3.png*/;
}

.chiclet.barbie-i-can-be{
  background-image:url(chiclet_iCanBe3.png)/*tpa=http://www.mattel.com/files/nav/chiclet_iCanBe3.png*/;
}

.chiclet.bf5{
  background-image:url(chiclet_bf53.png)/*tpa=http://www.mattel.com/files/nav/chiclet_bf53.png*/;
}

.chiclet.hw{
  background-image:url(chiclet_hw3.png)/*tpa=http://www.mattel.com/files/nav/chiclet_hw3.png*/;
}

.chiclet.mh {
	background-image:url(chiclet_mh3.png)/*tpa=http://www.mattel.com/files/nav/chiclet_mh3.png*/;
}

.chiclet.polly {
  background-image:url(chiclet_polly3.png)/*tpa=http://www.mattel.com/files/nav/chiclet_polly3.png*/;
}
.chiclet.maxsteel {
  background-image:url(chiclet_maxsteel3.png)/*tpa=http://www.mattel.com/files/nav/chiclet_maxsteel3.png*/;
}

.chiclet.fisher-price {
  background-image:url(chiclet_fisherPrice3.png)/*tpa=http://www.mattel.com/files/nav/chiclet_fisherPrice3.png*/;
}

.chiclet.matchbox {
  background-image:url(chiclet_matchbox3.png)/*tpa=http://www.mattel.com/files/nav/chiclet_matchbox3.png*/;
}

.chiclet.polly {
  background-image:url(chiclet_polly3.png)/*tpa=http://www.mattel.com/files/nav/chiclet_polly3.png*/;
}

.chiclet.little-mommy {
  background-image:url(chiclet_littlemommy4.png)/*tpa=http://www.mattel.com/files/nav/chiclet_littlemommy4.png*/;
}
.chiclet.cars {
  background-image:url(chiclet-cars.png)/*tpa=http://www.mattel.com/files/nav/chiclet-cars.png*/;
}
.chiclet.planes {
  background-image:url(chiclet-planes.png)/*tpa=http://www.mattel.com/files/nav/chiclet-planes.png*/;
}
.chiclet.boomco {
  background-image:url(chiclet_Boomco.png)/*tpa=http://www.mattel.com/files/nav/chiclet_Boomco.png*/;
}
.chiclet.eah {
  background-image:url(chiclet_EAH.png)/*tpa=http://www.mattel.com/files/nav/chiclet_EAH.png*/;
}


.section-cars2 #main  {
  margin-top:-8px !important;
}

a.customer-service {
  color:#e72d21 !important; 
}

a.customer-service:hover {
 color: #686C6F !important;
 text-decoration: none;
}