#slideshow{
    background-color:#fff;
    height:auto;
    width:100%;
	padding: 0 20px;
	position: relative;
	margin: 45px -20px 0;
}

#slideshow.innerPage {
	margin: 30px 0;
	padding: 0;
}

#slideshow.innerPage ul {
	padding-bottom: 38.28125%;
	position: relative;
}

#slideshow.susPage {
	margin: 0 0 30px 0;
	padding: 0;
}


#slideshow ul{
    list-style:none outside none;
    margin:0;
    overflow:hidden;
    position:relative;
    width:100%;
    padding-bottom: 22.208513263%
}

#slideshow img {
	width: 100%;
}

#slideshow li, .middleSliderHolder .middleSlider{
	width: 100%;
    position:absolute;
    display:none;
    z-index:10;
}

#slideshow li:first-child,  .middleSliderHolder .middleSlider:first-child{
    display:block;
    z-index:100;
}

#slideshow .slideActive, .middleSliderHolder .slideActive{
    z-index:100;
}

#slideshow canvas{
	width: 100%!important;
    display:none;
    position:absolute;
    z-index:100;
}

#slideshow .arrow{
	display:none;
    height:86px;
    width:60px;
    position:absolute;
    top:50%;
    cursor:pointer;
    z-index:5000;
    margin: -43px 20px 0;
    opacity: .2;
}

#slideshow .arrow:hover{
	opacity: .3;
}

#slideshow .previous{ background-position:left top;left:0;}
#slideshow .previous:hover{ background-position:left bottom;}

#slideshow .next{ background-position:right top;right:0;}
#slideshow .next:hover{ background-position:right bottom;}