html, body {
	width: auto;
	margin: 0;
	padding: 0;
	color: #333;
	font: normal 12px/18px Verdana, Arial, Helvetica, sans-serif;
}

#popup_content {
	width: 500px;
	padding-left: 45px;
}

a:link, a:visited, a:active {
	color: #3366cc;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #ee5102;
}

	
img {
	border: 0;
}

#banner_container {
	height: 313px;
}

#content_container {
	margin: 0px auto 0px auto !important;
}
	
#content_left_landing {
	width: 624px;
	padding: 0;
	margin: 0 25px 0 0;
	float: left;
	text-align: left;
	font: normal 13px/18px "Trebuchet ms", Trebuchet, Helvetica, Arial, sans-serif;
}

	
#content_right_landing {
	width: 300px;
	text-align: left;
	padding: 0;
	margin: 0;
	float: right;
	font: normal 11px/15px Verdana, Arial, Helvetica, sans-serif;
}

#content_right_landing a {
	text-decoration: none;
	color: #000;
}

#content_center {
	width: 950px;
	height: auto;
	margin: 0;
	padding: 0px;
	text-align:left;
	}
#content_right 
{	
	display:none;
}
#content_left 
{			
	display:none;
}		

#bottomContent{
	width:625px;
}

#bottomLeftContent 
{
	float:left;
	width: 300px;
	margin: 0px 25px 0px 0px;
}

#bottomRightContent 
{
	float:right;
	width: 300px;
}

#pageContent {
	margin: 0px 0px 10px 0px;
}

.pageContent {
	font: normal 13px/18px "Trebuchet ms", Trebuchet, Helvetica, Arial, sans-serif;
	color: #000000 !important;
}

#bottom_left {
	float: left;
	width: 290px;
	margin-top: 20px;
	padding-right: 10px;
	font: normal 12px/15px "Trebuchet ms", Trebuchet, Helvetica, Arial, sans-serif;
}

#bottom_left  a {
	color: #3366cc;
	text-decoration: none;
}

#bottom_right {
	float: left;
	width: 455px;
	margin-top: 20px;
	padding-left: 20px;
	border-left: 1px solid #b2d1f0;
	font: normal 12px/14px Verdana, Arial, Helvetica, sans-serif;
}

body#home a#homenav,
body#aboutus a#aboutusnav,
body#news a#newsnav,
body#products a#productnav,
body#rd a#rdnav,
body#investors a#investorsnav,
body#alliances a#alliancesnav,
body#cr a#crnav,
body#careers a#careersnav
{
	color: #66ccff;
}

/* Root = Horizontal, Secondary = Vertical */

#thera_areas {
	padding: 20px 0;
	text-align: center;
	font: normal 12px/14px Verdana, Arial, Helvetica, sans-serif;
}

.highlight {
	font-weight: bold;
	color: #000;
}

.headline {
	display: block;
	padding-top: 6px;
	font: normal 20px/24px "Trebuchet ms", Trebuchet, Helvetica, Arial, sans-serif; 
	color: #3366cc;
}

.headline_small {
	display: block;
	padding-top: 6px;
	font: normal 17px/20px Verdana, Arial, Helvetica, sans-serif; 
	color: #3366cc;
}

.photo_headline {
	display: block;
	padding-top: 6px;
	font: normal 14px/18px "Trebuchet ms", Trebuchet, Helvetica, Arial, sans-serif; 
	color: #bf4b1d;
}

#content_right_landing .g_photo a {
  margin-top: 8px;
	font: normal 12px/15px Verdana, Arial, Helvetica, sans-serif; 
	color: #bf4b1d;
	text-decoration: none;
}

#content_right_landing .right_feature_photo a:hover {
	text-decoration: none;
}

#content_right_landing .right_feature_photo a {
	display: block;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 10px;
	color: #bf4b1d;
}
.feature_headline {
	display: block;
	padding-bottom: 5px;
	font: normal 35px/38px "Trebuchet ms", Trebuchet, Helvetica, Arial, sans-serif; 
	color: #3366cc;
}

.feature-body {
	font: normal 15px/20px "Trebuchet ms", Trebuchet, Helvetica, Arial, sans-serif;
}

.feature_photo {
	float: right;
	padding-left: 15px;
}

.feature a {
	color: #3366cc;
	text-decoration: none;
}

.feature a:hover {
	text-decoration: underline;
	color: #ee5102;
}

.news_headline {
	display: block;
	margin: 20px 0 0 0;
	padding: 6px 0 2px 0;
	font: 600 12px/13px Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	border-top: 1px solid #b2d1f0;
}

.news {
	display: block;
	padding-left: 0px;
	font: normal 11px/15px Verdana, Arial, Helvetica, sans-serif !important;
	text-decoration: none;
	color: #000000 !important;
}

a.news:hover {
	text-decoration: underline;
}

.date {
	display: block;
	color: #bf4b1d;
	margin-top: 4px;
	font: normal 11px/14px Verdana, Arial, Helvetica, sans-serif;
}

.year {
	color: #bf4b1d;
}

.right_feature {
	margin-top: 20px;
	margin-left: 10px;
	border-top: 1px solid #b2d1f0;
}


#content_right_landing .right_feature a {
	color: #0066cc;
	font: normal 13px/18px "Trebuchet ms", Trebuchet, Helvetica, Arial, sans-serif; 
	text-decoration: none;
}

#content_right_landing .right_feature a:hover {
	text-decoration: underline;
	font: normal 13px/18px "Trebuchet ms", Trebuchet, Helvetica, Arial, sans-serif; 
	color: #ee5102;
}


.right_thera {
	margin-top: 20px;
	margin-left: 10px;
	border-top: 1px solid #b2d1f0;
}

.right_thera_headline {
	display: block;
	padding-top: 8px;
}

#content_right_landing .global_links a {
	color: #bf4b1d;
	text-decoration: none;
	padding: 0px 1px 0px 1px;
}

* html #content_right_landing .global_links a {
	color: #bf4b1d;
	text-decoration: none;
	padding: 0px 1px 0px 1px;
}

#content_right_landing .global_links {
	font: normal 9px/12px Verdana, Arial, Helvetica, sans-serif;
	color: #bf4b1d; 
	text-align:center;
	margin-left: 10px ; 
	margin-right: 10px;
	padding: 0 0 0 0px;
	
}

#content_right_landing form {
	margin: 0;
	padding: 0;
}

#content_right_landing .search {
	font: normal 10px/12px Verdana, Arial, Helvetica, sans-serif; 
	border: 1px solid #C2C0C1; 
	background-color: #999999; 
	color: #fff; 
	width: 70px; 
	height: 18px; 
}

#content_right_landing .query {
	margin: 8px 0 0 10px;
	width: 180px;
}


#areas, #areas ul { /* all lists */
	padding: 0;
	margin: 0;
	list-style: none;
	width: 150px;
}

#areas a {
	display: block;
}

#areas li.root {
	background: #fff;
	font: normal 11px/15px Verdana, Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	height: 12px;
	color: #0066cc;
	text-decoration: none;
}

#areas li.root a.root_hover {
	color: #3366cc;
	text-decoration: none;
}

#areas li.root a.root_hover:hover {
	color: #ee5102;
	text-decoration: underline;
}

#areas li.areas_arrow {
	margin-top: 2px;
	background: #cbe0f3 url("Unknown_83_filename")/*tpa=http://www.bms.com/Style%20Library/BMS/images/areas_arrow.gif*/ no-repeat 50% 0px;
}

#areas li { /* all list items */
	float: left;
	background: #cbe0f3;
	width: 150px; /* width needed for Opera */
	padding: 0;
	margin: 0 0 0 20px;
	color: #666666;
	font: normal 10px/12px Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
}

#areas li ul { /* second-level lists */
	position: relative;
	margin: -1px;
	padding: 0;
	left: -999em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
	z-index: 100;
}


#areas li ul li a { 
	padding: 3px 4px 3px 15px;
	margin: 0;
}

#areas li ul li a:hover {
	color: #ee5102;
	text-decoration: underline; 
}

#areas li:hover ul, #areas li.sfhover ul { /* lists nested under hovered list items */
	left: auto;
}

/* WEB PART OVERRIDE */
.ms-WPBody
{
font: normal 10px/12px Verdana, Arial, Helvetica, sans-serif;
}
.ms-WPBody TABLE,.ms-TPBody TABLE
{
font: normal 10px/12px Verdana, Arial, Helvetica, sans-serif;
}
.ms-WPBody A:link,.ms-WPBody A:visited
{
color: #000000;
text-decoration: none;
}
.ms-WPBody A:hover
{
text-decoration: underline;
color: #000000;
}
.ms-WPBody th,.ms-TPBody th
{
font-weight: normal;
}
.ms-WPBody td
{
font: normal 10px/12px Verdana, Arial, Helvetica, sans-serif;
}

/* END WEB PART OVERRIDE */

fieldset {
	border: none;
	padding: 0;
	margin: 0;
}

.clearer {
	clear: both; 
	line-height: 0; 
	height: 0;
}


* html ul#navmenu {
	top: 334px;
	margin: 0 0 0 13px;
}

* html ul#navmenu ul {
	top: -155px;
}

* html #areas li {
	margin: 0 0 0 10px;
}

td.ms-sbscopes {
	width: 1px;
}

/* Hide the search scopes dropdown */
TD.ms-sbscopes select.ms-sbscopes { 
	display:none;   
	width: 1px;
} 

/* Added for BMS Com Refresh */
.ms-PartSpacingVertical {
	display:none;
}