.countryImageURL {
    background-image: url(Images/wc_arrow.gif)/*tpa=http://www.bms.com/Style Library/BMS/CSS/Images/wc_arrow.gif*/;
    background-position: left center;
    background-repeat: no-repeat;
    float: left;
    height: 23px !important;
    margin: -4px 0 0 6px !important;
    padding: 0 !important;
    width: 142px !important;
    z-index: auto;
}

.lefttopcornerimage
{
	  background-image: url(Images/left_top.png)/*tpa=http://www.bms.com/Style Library/BMS/CSS/Images/left_top.png*/;
	  /*src:url("/Style Library/BMS/CSS/Images/left_top.png");*/
}
.righttopcornerimage
{
	  background-image: url(Images/right_top.png)/*tpa=http://www.bms.com/Style Library/BMS/CSS/Images/right_top.png*/;
}
.leftbottomcornerimage
{
	  background-image: url(Images/left_btm.png)/*tpa=http://www.bms.com/Style Library/BMS/CSS/Images/left_btm.png*/;
}
.rightbottomcornerimage
{
	  background-image: url(Images/right_btm.png)/*tpa=http://www.bms.com/Style Library/BMS/CSS/Images/right_btm.png*/;
}

#nav 
{
height: 41px; 
float:left; 
padding-left:20px; 
font-family:arial, sans-serif;	
}

#menu 
{
height:10px;
position:relative;
font-size:0px; 
margin:0px; 
margin-top:0px;
margin-bottom:auto;
z-index:20; 
float:left; 
padding-right:0px;
}
#menu table.ie6 {border-collapse:collapse; 
margin:0; padding:0;}

#menu ul {padding:0; margin:0; list-style: none;}
#menu ul li {/*float:left;*/}
#menu ul li a {
	display:block; 
	/*float:left;	*/
	padding:8px 70px 8px 70px;
	text-decoration:none; 
	font-family:Verdana;
	color:white !important;
	font-weight:bold; 
	height:25px;
	width:120px;
	line-height:0px;
	font-size:11px;
	margin-bottom:10px;
	margin-top:25px;
	
	 

}
#menu ul li a b {display:block; float:left;padding:0 0 0 15px; text-decoration:none; color:#fff; font-weight:bold; height:41px;line-height:40px;font-size:19px; cursor:pointer;}
#menu ul li div.holder {position:absolute; top:1px; left:auto; right:0px; margin: 0; padding: 0; display:none; z-index:20;}

#menu ul li div .leftSide {float:left;}
#menu ul li div .rightSide 
{
float:left; 
margin-left:10px; 
display:inline; 
padding:0 10px 0 0; 
background-color:#005796;
}

#menu ul li:hover {position:relative;}
#menu ul li a:hover {color:#910; white-space:nowrap; position:relative;}
#menu ul li a:hover b {color:#910; background-position:left center;}
#menu ul li a.sub:hover {color:#910; background-position:right bottom; white-space:nowrap; position:relative;}
#menu ul li a.sub:hover b {color:#910; background-position:left bottom;}

#menu ul li:hover > a {color:#910; position:relative;}
#menu ul li:hover a.sub {color:#910; background-position:right bottom; white-space:nowrap; position:relative;}
#menu ul li:hover a.sub > b {color:#910; background-position:left bottom;}

#menu ul :hover div.holder {position:absolute; top:18px; left:auto; right:0px; margin: 0; padding: 0; display:block; z-index:20;}

#menu ul li.right a:hover div.holder {left:auto; right:0px; top:18px;}
#menu ul li.right:hover div.holder {left:auto; right:0px; top:18px;}

#menu ul dl {width:auto; margin:0; padding:0 5px;list-style:none;
             border-right-style:dashed;border-right-width:1px;border-right-color:#b2d1f0; float:none !important;
             }
#menu ul dl dt {padding:0 10px; margin:0; line-height:20px; background:#488; color:#fff; white-space:nowrap;}
#menu ul dl dd {display:block; padding:0; margin:0;}
#menu ul dd a {background-image: none; display:block; height:auto; width:auto; line-height: 20px; color:#FFFFFF; text-align:left; margin: 0; padding:0 10px;font-weight:normal; white-space:nowrap; float:none;}
#menu ul dd a:hover 
{
color:#FF9900 !important;
text-decoration: none !important;
/*font-weight:bold;
height:inherit;
width:inherit;*/
}

#menu ul table td {vertical-align:top;}