#navcontainer {
	height: 29px;
	width: 950px;
	margin: 0px auto;
	padding: 0;
	background: #00579C;
	border-bottom: solid 6px #F18A25;
}

/* Root = Horizontal, Secondary = Vertical */

ul#navmenu {
  margin: 0;
  border: 0 none;
  width: 950px; /*For KHTML*/
  padding: 0;
  list-style: none;
  height: 29px;
  position: absolute;
  background: #00579C;
  /*took out by Donn for BMSCom Refresh top: 92px;*/
  z-index: 100;
}

ul#navmenu li {
  margin: 0;
  border: 0 none;
  padding: 0;
  float: left; /*For Gecko*/
  display: inline;
  list-style: none;
  position: relative;
  z-index: 10;
}

ul#navmenu ul {
  margin: 0;
  border: 0 none;
  padding: 0;
  width: 190px;
  list-style: none;
  display: none;
  position: absolute;
  top: 29px;
}

.navPipe {
	 color: #FFFFFF;
   float: left;
   padding-top: 6px !important;
   background-color: #00579C;
   font-size: 14px;
   height: 18px;
}

.selectedTopMenu{
	color: #ffa500 !important;	
}

.selectedTopMenu:hover{
	color: #333333 !important;	
}

ul#navmenu .lastnav {
  margin: 0;
  border: 0 none;
  padding: 0;
  width: 190px;
  list-style: none;
  display: none;
  position: absolute;
  top: 29px;
  left: -90px;
}

ul#navmenu ul:after /*From IE 7 lack of compliance*/{
  clear: both;
  display: block;
  font: normal 1px serif;
  content: ".";
  height: 0;
  visibility: hidden;
}

ul#navmenu ul li {
  width: 190px;
  float: left; /*For IE 7 lack of compliance*/
  display: block !important;
  display: inline; /*For IE*/
}

/* Root Menu */
ul#navmenu a {
  padding: 7px 25px 3px 25px;
  float: none !important; /*For Opera*/
  float: left; /*For IE*/
  display: block;
  background: #00579C;
  color: #fff;
  font: bold 12px/14px Verdana, Arial, Helvetica, sans-serif;
  letter-spacing: .25px;
  text-decoration: none;
}

/* IE 7 */
html>body ul#navmenu a { *padding: 7px 26px 3px 26px; }

.aSpacer {
	padding: 0 !important;
	height: 5px !important;
}


.topnavmenu{
	height: 29px !important;
}

.topnavmenu:hover{
	height: 29px !important;
	 background: #F18A25;
}

/*Our Company*/
#TopNav1 {
padding: 7px 25px 3px 23px !important;
}
/* IE 7 - Our Company */
html>body #TopNav1 { *padding: 7px 26px 3px 23px; }

/*R & D*/
#TopNav2 {
}

/*Products*/
#TopNav3 {
}

/*Newsroom*/
#TopNav4{
	padding: 7px 21px 3px 21px !important;
}

/*Investors*/
#TopNav5 {
}

/*Partnering*/
#TopNav6 {
}

/*Responsiblity*/
#TopNav7 {
}

/*Careers*/
#TopNav8 {
	padding-right: 10px !important;
}

/* Root Menu Hover Persistence */
ul#navmenu a:hover,
ul#navmenu li:hover a,
ul#navmenu li.iehover a {
  background: #F18A25;
  color: #333333 !important;
}


/* 2nd Menu */
ul#navmenu ul a {
  padding: 8px 23px 3px 23px;
  float: none !important; /*For Opera*/
  float: left; /*For IE*/
  display: block;
  background: #00579C;
  color: #ffffff !important;
  font: bold 12px/14px Verdana, Arial, Helvetica, sans-serif;
  letter-spacing: .25px;
  text-decoration: none;
  height: auto;
}

ul#navmenu li:hover li a,
ul#navmenu li.iehover li a {
  float: none;
  background: #F18A25;
  border: none;
  font: normal 12px/14px Verdana, Arial, Helvetica, sans-serif;
  color: #ffffff !important;
  font-weight: normal;
}

ul#navmenu li:hover li a:hover {
    color: #333333 !important;
}

/* 2nd Menu Hover Arrow */
ul#navmenu li:hover li.first a,
ul#navmenu li.iehover li.first a {
  float: none;
  border: none;
  padding-top: 10px;
}

/* 2nd Menu Hover Arrow */
ul#navmenu li:hover li.last a,
ul#navmenu li.iehover li.last a {
  float: none;
  border: none;
  padding-bottom: 10px;
}

/* 2nd Menu Hover Persistence */
ul#navmenu li:hover li a:hover,
ul#navmenu li:hover li:hover a,
ul#navmenu li.iehover li a:hover,
ul#navmenu li.iehover li.iehover a {
  border: none;
  color: #333333;
  font: bold 12px/14px Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
}

/* 3rd Menu */
ul#navmenu li:hover li:hover li a,
ul#navmenu li.iehover li.iehover li a {
  background: #EEE;
  color: #222222;
}

/* 3rd Menu Hover Persistence */
ul#navmenu li:hover li:hover li a:hover,
ul#navmenu li:hover li:hover li:hover a,
ul#navmenu li.iehover li.iehover li a:hover,
ul#navmenu li.iehover li.iehover li.iehover a {
  color: #fff;
  text-decoration: underline;
}

/* 4th Menu */
ul#navmenu li:hover li:hover li:hover li a,
ul#navmenu li.iehover li.iehover li.iehover li a {
  background: #EEE;
  color: #222222;
}

/* 4th Menu Hover */
ul#navmenu li:hover li:hover li:hover li a:hover,
ul#navmenu li.iehover li.iehover li.iehover li a:hover {
  color: #fff;
  text-decoration: underline;
}

ul#navmenu ul ul,
ul#navmenu ul ul ul {
  display: none;
  position: relative;
  top: 0;
  left: 160px;
}

/* Do Not Move - Must Come Before display:block for Gecko */
ul#navmenu li:hover ul ul,
ul#navmenu li:hover ul ul ul,
ul#navmenu li.iehover ul ul,
ul#navmenu li.iehover ul ul ul {
  display: none;
}

ul#navmenu li:hover ul,
ul#navmenu ul li:hover ul,
ul#navmenu ul ul li:hover ul,
ul#navmenu li.iehover ul,
ul#navmenu ul li.iehover ul,
ul#navmenu ul ul li.iehover ul {
  display: block;
}

/* For flyout rounded corners */
.rtop, .rbottom{display:block;}
.rtop *, .rbottom *{display: block; height: 1px; overflow: hidden; background:#F18A25;}
.r1{margin: 0 5px}
.r2{margin: 0 3px}
.r3{margin: 0 2px}
.r4{margin: 0 1px; height: 2px}

.rl1 {margin: 0 0 0 5px; }
.rl2 {margin: 0 0 0 3px; }
.rl3 {margin: 0 0 0 2px; }
.rl4 {margin: 0 0 0 1px; height: 2px;}

.rr1 {margin: 0 5px 0 0; }
.rr2 {margin: 0 3px 0 0; }
.rr3 {margin: 0 2px 0 0; }
.rr4 {margin: 0 1px 0 0; height: 2px;}

/* For IE */
* html ul#navmenu {
	top: 91px;
}

* html ul#navmenu li:hover li.first a,
ul#navmenu li.iehover li.first a {
  float: none;
  border: none;
  padding-top: 0;
}

* html ul#navmenu a {
  padding: 2px 0px 4px 22.5px;
}