
.Default_Section1
{
    /*height: 40px;*/
    width: 945px;
    padding: 10px 20px 10px 20px;
    vertical-align: middle;
    text-align: left;
    background: url(../../Sites/0/PageLayouts/Images/Main_Content_Overlap.jpg)/*tpa=http://www.fnf.com/Sites/0/PageLayouts/Images/Main_Content_Overlap.jpg*/ repeat-x bottom center;
}
.Default_Section1 table
{
    /*height: 40px;*/
    width: 945px;
}
.Default_Content
{
    text-align: right;
}

.Default_Section2
{
    width: 100%;
    text-align: center;
    vertical-align: top;
    padding: 15px 30px 0px 15px;
}

.Default_Title
{
    font-size: 19pt;
    line-height: 22pt;
    font-weight: bold;
    color: #042a4e;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.Default_Section1_Content
{
    width: 945px;
    text-align: left;
}


