



/*RESET*/
/*html, body,*/ /* div*//*  span,  applet,  object,  iframe,  h1,  h2,  h3,  h4,  h5,  h6,   blockquote, .sitemap pre,*//*  a*//*  abbr,  acronym,  address,  big,  cite,  code,  del,  dfn,  em,  font,  img,  ins,  kbd,  q,  s,  samp,  small,  strike,  strong,  sub,  sup,  tt,  var,  dl,  dt,  dd,  ol,  ul,  li,  fieldset,  form,  label,  legend,  table,  caption,  tbody,  tfoot,  thead,  tr,  th,  td {margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }*/
:focus {outline: 0;}
body {line-height: 1; color: black; background: white; position:relative;}
.sitemap ol, .sitemap  ul {list-style: none; }
.sitemap table { border-collapse: separate; border-spacing: 0; }
.sitemap caption, th, td {text-align: left; font-weight: normal; }
.sitemap blockquote:before, blockquote:after {content: "";}
.sitemap blockquote {quotes: "" "";}

/* Typography  - The font-size percentage is of 16px. (0.75 * 16px = 12px) */
body{color:#3b434b; font:75%/1.5em 'Helvetica W01 Cn', Arial, Helvetica, sans-serif;}

p {font-family:'Helvetica W01 Cn'; font-weight:300; margin:0 0 1.5em;}



a:link{color:inherit; text-decoration:underline;}
a:visited{}
a:hover{}
a:hover,a:focus{text-decoration:none;}


/*Forms*/
 label       { font-weight: bold; }
 fieldset    { padding:1.4em; margin: 0 0 1.5em 0; border: 1px solid #ccc; }
 legend      { font-weight: bold; font-size:1.2em; }
 input.text, input.title, textarea, select {margin:0.5em 0; border:1px solid #bbb;}
 input.text:focus, input.title:focus, textarea:focus, select:focus {border:1px solid #666;}
 input.text, input.title{ width: 300px; padding:5px; }
 input.title{ font-size:1.5em; }
 textarea{ width: 390px; height: 250px; padding:5px; }
 .error, .notice, .success{ padding: .8em; margin-bottom: 1em; border: 2px solid #ddd; }
 .error      { background: #FBE3E4; color: #8a1f11; border-color: #FBC2C4; }
 .notice     { background: #FFF6BF; color: #514721; border-color: #FFD324; }
 .success    { background: #E6EFC2; color: #264409; border-color: #C6D880; }
 .error a    { color: #8a1f11; }
 .notice a   { color: #514721; }
 .success a  { color: #264409; }

/*Link Icons*/
body a.noicon { background:none; padding:0; margin:0; }/* add if something shouldn't have have an icon */


/* Ultility Classes */
.smallcaps {font-variant: small-caps; letter-spacing: 1px; text-transform: lowercase; font-size:1.2em;font-weight:bold; padding:0 2px;}
.amp{font-family:Baskerville, "Goudy Old Style", Palatino, "Book Antiqua", "URW Chancery L", Gentium, serif; font-style:italic;}
.aside-left{clear:left; float:left; margin:0 1.5em 0 0;}
.aside-right{clear:right; float:right; margin:0 0 0 1.5em;}

/*Clearing*/
.clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clear{clear:both;}

html{min-height:101%;}
a:active { outline: none;}


.topWrapper {height:83px; border-bottom:3px solid #274c7f;}
.top {width:1200px; margin:0 auto;}
.homeBannerWrapper {height:458px; background:url(../../sites/0/pagelayouts/images/bg-banner-repeat-1.png)/*tpa=http://www.fnf.com/sites/0/pagelayouts/images/bg-banner-repeat.png*/;}
.homeBanner {background:url(../../sites/0/pagelayouts/images/bg-home-banner.jpg)/*tpa=http://www.fnf.com/sites/0/pagelayouts/images/bg-home-banner.jpg*/; width:1110px; margin:0 auto; height:458px; position:relative;}
.subpageBanner {background:url(../../sites/0/pagelayouts/images/bg-home-banner.jpg)/*tpa=http://www.fnf.com/sites/0/pagelayouts/images/bg-home-banner.jpg*/; width:1110px; margin:0 auto; height:458px; position:relative;}
.subpageBanner h2 { top:40px; left: 75px; text-transform:uppercase; margin:0; font-size:26px;  position:absolute;  font-family:'Helvetica W01 Bd Cn'; font-weight:normal; z-index:1000;}
.investmentsBanner h2 {color:#16a337;}
.subsidiarysBanner h2 {color:#274c7f;}


.portfolioBannerWrapper {height:458px; background:url(../../sites/0/pagelayouts/images/bg-portfolio-banner-repeat-1.png)/*tpa=http://www.fnf.com/sites/0/pagelayouts/images/bg-portfolio-banner-repeat.png*/;}
.portfolioBanner {background:url(../../sites/0/pagelayouts/images/bg-portolio-banner.jpg)/*tpa=http://www.fnf.com/sites/0/pagelayouts/images/bg-portolio-banner.jpg*/; width:1110px; margin:0 auto; height:418px; position:relative; padding-top:40px;}

.leftBannerBtn { background:#b0afaf; height:51px; width:51px; display:block; position:absolute; top:170px; left:-10px; -moz-border-radius:51px; -webkit-border-radius:51px; -khtml-border-radius:51px; border-radius:51px; -webkit-transition:all 0.2s ease-out; -moz-transition:all 0.2s ease-out; -o-transition:all 0.2s ease-out;}
.leftBannerBtn:hover {background-color:#16a337; cursor:pointer;}
.leftBannerBtn a {height:24px; width:15px; background:url(../../sites/0/pagelayouts/images/btn-left.png)/*tpa=http://www.fnf.com/sites/0/pagelayouts/images/btn-left.png*/; text-indent:-9999px; display:block; margin:14px 0 0 16px;}

.rightBannerBtn { background:#b0afaf; height:51px; width:51px; display:block; position:absolute; top:170px; left:1070px;-moz-border-radius:51px;-webkit-border-radius:51px; -khtml-border-radius:51px; border-radius:51px; -webkit-transition:all 0.2s ease-out; -moz-transition:all 0.2s ease-out; -o-transition:all 0.2s ease-out;}
.rightBannerBtn:hover {background-color:#16a337; cursor:pointer;}
.rightBannerBtn a {height:24px; width:15px; background:url(../../sites/0/pagelayouts/images/btn-right.png)/*tpa=http://www.fnf.com/sites/0/pagelayouts/images/btn-right.png*/; text-indent:-9999px; display:block; margin:14px 0 0 20px;}





.bannerTextBtns {position:absolute; top:422px; left:60px; color: #d9d9d9;}
.bannerTextBtns ul {color: #d9d9d9; margin:0; padding:0;  font-family:'Helvetica W01 Bd Cn'; font-weight:normal; font-size:17px; width:100%; float:left;}
.bannerTextBtns ul {margin:0; padding:0;  font-family:'Helvetica W01 Bd Cn'; font-weight:normal; font-size:17px; text-shadow:0 1px 0 #153562; width:100%; float:left;}
.bannerTextBtns ul li {float:left; display:inline; padding-right:45px; background:url(../../sites/0/pagelayouts/images/bg-banner-blue-break.png)/*tpa=http://www.fnf.com/sites/0/pagelayouts/images/bg-banner-blue-break.png*/ right repeat-x; margin-left:10px; color:#a7c0e0; -webkit-transition:all 0.2s ease-out; -moz-transition:all 0.2s ease-out; -o-transition:all 0.2s ease-out;}
.bannerTextBtns ul.investmentsNav li {padding-right:230px;}
.bannerTextBtns ul.subsidiarysNav {margin-left:165px;}
.bannerTextBtns ul.subsidiarysNav li {padding-right:260px;}
.bannerTextBtns ul li:hover {color:#d9d9d9;}
.bannerTextBtns ul li span { display:block; float:left; background-color:#153562; height:17px; width:17px; -moz-border-radius:17px; -webkit-border-radius:17px; -khtml-border-radius:17px; border-radius:17px; color:#4f73a4; font-size:10px; line-height:16px; text-align:center; text-shadow:none; -webkit-transition:all 0.2s ease-out; -moz-transition:all 0.2s ease-out; -o-transition:all 0.2s ease-out;}
.bannerTextBtns ul li:hover span {color:#d9d9d9; background-color:#16a337;}
.bannerTextBtns ul li a { font-family:'Helvetica W01 Bd Cn'; font-weight:normal; background:#274c7f; text-decoration:none; padding:0 10px; font-size:16px; color:#d9d9d9; -webkit-transition:all 0.2s ease-out; -moz-transition:all 0.2s ease-out; -o-transition:all 0.2s ease-out;}
.bannerTextBtns ul li:hover a {font-family:'Helvetica W01 Bd Cn'; font-weight:normal; background:#274c7f; text-decoration:none; padding:0 10px; color:#d9d9d9;}
.bannerTextBtns ul li.lastTextLink {padding-right:0;}
.bannerTextBtns ul li.activeSlide a {color:#d9d9d9 !important;}
.bannerTextBtns ul li.activeSlide span { color:#d9d9d9; background-color:#16a337;}

.homepageRotatingBanner { width:960px; margin-left:75px; }
.subPageRotatingBanner { width:960px; margin-left:75px; height:400px;}

.bannerSlide {width:960px; float:left; height:400px; background:url(../../sites/0/pagelayouts/images/bg-slider-repeat.png)/*tpa=http://www.fnf.com/sites/0/pagelayouts/images/bg-slider-repeat.png*/;}
.subBannerSlide {width:960px; float:left; position:relative; padding-top:80px; background:url(../../sites/0/pagelayouts/images/bg-slider-repeat.png)/*tpa=http://www.fnf.com/sites/0/pagelayouts/images/bg-slider-repeat.png*/; height:320px;}
.subBannerSlide h5 {font-family:'Merriweather'; font-size:12px; color:#254879; margin:0 0 5px 0; padding:0; clear:both;}
.subBannerSlide p a {color:#16a337; font-style:italic; text-decoration:none;}
.subBannerSlide p a:hover {color:#274c7f;}
.bannerContentLeft {float:left; width:410px; margin-top:60px;}
.bannerContentLeft h2 {margin:0 0 5px 0; padding:0; font-size:48px; line-height:44px; color:#4d74a8; text-transform:uppercase;  font-family:'Helvetica W01 Bd Cn'; font-weight:normal; font-weight:normal;}
.bannerContentLeft h3 {font-size:19px; color:#042a4e; margin:0 0 10px 0; padding:0;   font-family:'Helvetica W01 Bd Cn'; font-weight:normal; font-weight:normal;}
.bannerContentLeft p {margin:10px 0 20px 0;}
.bannerContentRight {float:right; width:410px; margin-top:60px;}
.bannerContentRight h2 {margin:0; padding:0; font-size:49px; line-height:44px;  font-family:'Helvetica W01 Bd Cn'; font-weight:normal; color:#4d74a8; text-transform:uppercase;}
.bannerContentRight h3 {font-size:20px;  font-family:'Helvetica W01 Bd Cn'; font-weight:normal; color:#042a4e; margin:0 0 10px 0; padding:0;}
.bannerContentRight p {margin:10px 0 20px 0;}
.bannerImageRight {float:right;}
.stockChartImg {margin:15px 15px 0 0;}
.bannerImageLeft {float:left;}
.fortune500Img img {margin:53px 0 0 0px;}
.growthImg img {margin:65px 0 0 0px;}
.fortune500Copy h3 {margin-top:10px;}
.growthCopy h3 {margin-top:10px;}
.fortune500Copy img {margin:15px 0 0 -15px; }
.growthCopy img {margin:15px 0 0 0px; }
.stabilityMapCopy h1 {margin-bottom:8px;}
.stabilityMapCopy img {margin-top:10px;}

.portfolioBanner {}
.portfolioBanner h2 { font-family:'Helvetica W01 Bd Cn'; font-weight:normal; text-transform:uppercase; font-size:23px; margin-bottom:18px; margin-top: 0px;}
.portfolioBannerLeft {width:310px; float:left; padding-left:70px; position:relative; z-index:100;}
.portfolioBannerLeft h2 {color:#042a4e;}
.portfolioBlueLine { position: absolute; left:365px; top:10px; z-index:100000;} 
.portfolioGreenLine { position: absolute; right:300px; top:10px; z-index:1000000;} 
.portfolioBannerCenter {float:left; height:302px; width:303px;  margin:0; padding:0; list-style:none; z-index:1; position:relative; margin-left:20px; padding-top:20px; padding-bottom:25px; background:url(../../sites/0/pagelayouts/images/portfolio/img-portfolio-graph-shadow.png)/*tpa=http://www.fnf.com/sites/0/pagelayouts/images/portfolio/img-portfolio-graph-shadow.png*/ no-repeat bottom center;} 
.portfolioBannerRight {width:310px; float:right; padding-right:70px; text-align:right; position:relative; z-index:100;}
.portfolioBannerRight h2 {color:#226d00;}
p {font-family:'Merriweather', Georgia; font-size:12px; line-height:20px;}
.portfolioBannerCenter img {top:20px; position: absolute; z-index:1;}
.portfolioBannerCenter h3 {top:15px; width:140px; height:100px;  font-family:'Helvetica W01 Bd Cn'; font-weight:normal; margin:135px 0 0 80px; color:#3f5f8a; font-size:14px; line-height:16px; text-align:center; z-index:100; position:absolute;}
    .portfolioBannerCenter li { display:none;}    
.portfolioBannerCenter li:first-child { display: block; }

.portfolioKey .portfolioFNTG {width:150px;  height:60px; background:url(../../sites/0/pagelayouts/images/portfolio/img-portfolio-fntg-logo.png)/*tpa=http://www.fnf.com/sites/0/pagelayouts/images/portfolio/img-portfolio-fntg-logo.png*/ no-repeat; text-indent:-9999px; display:block; float:left; padding:0 0px 0 0; margin:0px 0 0 70px;}
.portfolioKey .portfolioServiceLink {width:176px; height:54px; background:url(../../sites/0/pagelayouts/images/portfolio/img-portfolio-servicelink-logo.png)/*tpa=http://www.fnf.com/sites/0/pagelayouts/images/portfolio/img-portfolio-servicelink-logo.png*/ no-repeat; text-indent:-9999px; display:block; float:left; padding:21px 0px 0 0; margin:0 0 0 55px; background-position:bottom;}



.portfolioKey .portfolioABRH
{
    width:100px;
    height:42px;
    background:url(../../sites/0/pagelayouts/images/portfolio/img-portfolio-abrh-logo.png)/*tpa=http://www.fnf.com/sites/0/pagelayouts/images/portfolio/img-portfolio-abrh-logo.png*/ no-repeat;
    text-indent:-9999px; display:block;
    float:left;
    text-align:left;
    margin: -10px 0px 0px 40px;
}

.portfolioKey .portfolioCeridian
{
    width:117px;
    height:40px;
    background:url(../../sites/0/pagelayouts/images/portfolio/img-portfolio-ceridian-logo.png)/*tpa=http://www.fnf.com/sites/0/pagelayouts/images/portfolio/img-portfolio-ceridian-logo.png*/ no-repeat;    
    text-indent:-9999px;
    display:block;
    float:right;
    text-align:left;   
    margin-top: -10px;
    padding-right: 10px;
}

.portfolioKey .portfolioRemy
{
    width:63px;
    height:43px;
    background:url(../../sites/0/pagelayouts/images/portfolio/img-portfolio-remy-logo.png)/*tpa=http://www.fnf.com/sites/0/pagelayouts/images/portfolio/img-portfolio-remy-logo.png*/ no-repeat;
    text-indent:-9999px;
    display:block;    
    float:left;
    text-align:left;
    clear:both;
    margin: 25px 0px 0px 50px;    
}


.portfolioKey .portfolioDI
{
    width:150px;
    height:46px;
    background:url(../../sites/0/pagelayouts/images/portfolio/img-portfolio-DI-logo.png)/*tpa=http://www.fnf.com/sites/0/pagelayouts/images/portfolio/img-portfolio-DI-logo.png*/ no-repeat;
    text-indent:-9999px;
    display:block;
    float:right;
    text-align:left;
    margin: 10px 0px 0px 0px;
}








.subBannerABRH {width:560px;}
.subBannerABRH p {width:460px; margin:0; float:left; padding:25px 0 25px 0;}
.subBannerABRH h3 {clear:both; float:left; margin-bottom:10px;}
.abrhBannerKey {opacity:1.0; width:560px; background:url(Unknown_83_filename)/*tpa=http://www.fnf.com/sites/0/pagelayouts/images/bg-abrh-key-shadow*/ no-repeat; background-position:bottom; float:left; position:relative; z-index:100;}
.abrhBannerKey:hover > li {opacity:0.5;}
.abrhBannerKey:hover > li:hover {opacity:1.0;}
.abrhBannerKey li {width:140px; height:21px; float:left; display:inline; padding-bottom:10px; cursor:pointer;}
.abrhBannerKey li:hover {opacity:0.5;}
.subBannerABRHMap img {position:absolute; top:40px; left:475px; z-index:1;  }
.blackest {height:100px; width:100px; background:black;}

.subBannerServiceLink {width:460px;}

.subBannerServiceLink h2 {color:#639abc;  font-family:'Helvetica W01 Bd Cn'; font-weight:normal; font-size:20px; text-transform:uppercase; margin-bottom:5px;}
.subBannerServiceLinkMap img {position:absolute; top:40px; left:475px; z-index:1;}
.subBannerServiceLink h3 {color:#639abc;  font-family:'Helvetica W01 Bd Cn'; font-weight:normal; font-size:20px; text-transform:uppercase; margin:0 0 5px 0;}
.subBannerServiceLink p { margin-top: 10px; }
.serviceLinkKey { position: absolute; top:245px; left:100px;}


.bottomWrapper {width:960px; margin:0 auto; padding-top:40px; padding-bottom:200px;}
.bottomWrapper h2 { font-size: 22px; color: #3d5a81;  font-family:'Helvetica W01 Bd Cn'; font-weight:normal; margin-bottom:10px;}
.bottomWrapper h3 { font-size: 18px; color: #86a3c9;  font-family:'Helvetica W01 Bd Cn'; font-weight:normal; margin-bottom:15px;}
.leftColumn { width: 430px; padding-right:50px; border-right:1px solid #bfbfbf; background:url(../../sites/0/pagelayouts/images/bg-column-fade.png)/*tpa=http://www.fnf.com/sites/0/pagelayouts/images/bg-column-fade.png*/ no-repeat right top; min-height:800px;}
.graphToggle { margin:25px 0; float:left; width:430px; }
.graphToggle ul { border-bottom: 2px solid #86a3c9; height:38px; float:left; width:390px; }
.graphToggle img { float: left; width:401px; padding:10px; height:211px }
.graphImgs { float:left; width:410px; padding:0 10px;}
.graphToggle ul li { height: 38px; float: left; font-family: 'Helvetica W01 Bd Cn'; font-size: 15px; color: #5e728c; line-height: 38px; padding: 0 10px; display:inline-block; background: #eee;}
.graphToggle ul li:hover { text-shadow:0 1px 0 #fff; cursor:pointer; color:#86a3c9;}
.graphToggle ul li.activeSlide { background: #86a3c9; text-shadow:0 1px 0 #5e728c; color:#fff; cursor:pointer;}
.graphToggle p { font-family: Arial, 'Helvetica Neue LT Std'; font-size: 12px; line-height: 16px; float:left; padding-left:10px; background:#eee; width:410px; padding:10px; }


.subBannerFNTG { width: 410px; float: left; }
.subBannerFNTGList { float: right; width: 475px;  text-align:center; position:absolute; left:450px; top:75px;}
.subBannerFNTGList h3 {color:#639abc;  font-family:'Helvetica W01 Bd Cn'; font-weight:normal; font-size:18px;  margin:0 0 20px 0;}
.subBannerFNTGList ul { width: 100%; float:left; margin-left:25px;}
.subBannerFNTGList ul li { float: left; border-bottom:2px solid transparent; display: inline; margin:5px 13px 0px 0; padding-bottom:5px; height:45px; cursor:pointer; }
.subBannerFNTGList ul li.subFidelityInsurance { margin-right: 40px; }
.subBannerFNTGList ul li.subChicago { margin-right: 40px; }
.subBannerFNTGList ul li.subCommonwealth { margin-right: 40px; padding-top:15px; }
.subBannerFNTGList ul li.subTicor { padding-right: 40px; padding-top:20px; }
.subBannerFNTGList p { font-size: 11px; line-height:17px; padding:4px 0;}
/*.subBannerFNTGList ul:hover > li {opacity:0.5;}
.subBannerFNTGList ul:hover > li:hover {opacity:1.0;}
.subBannerFNTGList ul li:hover {opacity:0.5;}*/
ul.subsidiaryMessage {width: 410px; float: left; list-style:none; position:relative;}
ul.subsidiaryMessage li { display:none; position:absolute; top:0; left:0;}
ul.subsidiaryMessage li .largeLogos {height:80px;}
ul.subsidiaryMessage h3 { margin-top: 20px; color:#639abc;  font-family:'Helvetica W01 Bd Cn'; font-weight:normal; font-size:20px; text-transform:uppercase; margin:20px 0; }

.subFidelityInsurance .largeLogos img { padding-top: 25px; }
.subLawyers .largeLogos img { padding-top: 20px; }
.subChicago .largeLogos img { padding-top: 15px; }
.subAlamo .largeLogos img { padding-top: 10px; }
.subCommonwealth .largeLogos img { padding-top: 15px; }
.subLawyers .largeLogos img { padding-top: 20px; }

.subBannerCeridian p {width:460px; margin:0; float:left; padding:15px 0 25px 0;}
.subBannerCeridian h3 { color:#16a337;  font-family:'Helvetica W01 Bd Cn'; font-weight:normal; font-size:20px; text-transform:uppercase; margin:20px 0 0 0; }
.subBannerCeridianInfographics {position:absolute; top:90px; left:475px; z-index:1;}


.subBannerRemy {width:560px;}
.subBannerRemy p {width:460px; margin:0; float:left; padding:15px 0 25px 0;}
.subBannerRemy img { float: left; }
.subBannerRemy h3 {clear:both; float:left; margin-bottom:10px; color:#16a337;  font-family:'Helvetica W01 Bd Cn'; font-weight:normal; font-size:20px; text-transform:uppercase; margin:20px 0 0 0;}
.subBannerRemy {opacity:1.0;width:560px; background:url(Unknown_83_filename)/*tpa=http://www.fnf.com/sites/0/pagelayouts/images/bg-abrh-key-shadow*/ no-repeat; background-position:bottom; float:left; position:relative; z-index:100;}
.remyBannerKey:hover > li {opacity:0.5;}
.remyBannerKey:hover > li:hover {opacity:1.0;}
.remyBannerKey li {width:140px; height:21px; float:left; display:inline; padding-bottom:10px; cursor:pointer;}
.remyBannerKey li:hover {opacity:0.5;}
.remyBannerKey li.europeKey { width: 100px; overflow:hidden; }

.subBannerRemyMap {position:absolute; top:80px; left:440px; z-index:1; width:515px;}
.remyBannerItem { position:absolute;}
.remyContinentInfo { width: 300px; margin-left:40px; float:left; }
.remyContinentInfo h2 { font-size:20px; color:#21416d; float:left; position:relative; left:0; top:0;}
.remyContinentInfo img { float: left; padding:20px 0;}
.remyContinentInfo p { float: right; font-size: 11px; line-height: 16px; width:200px; padding:10px 0; margin:0; }
/*.remyContinentInfo h4 {clear:both; float:left; color:#16a337;  font-family:'Helvetica W01 Bd Cn'; font-weight:normal; font-size:16px; margin:0 0 10px 0;}
.remyContinentInfo ul { float:left; margin-right:5px;}
.remyContinentInfo ul li { list-style-position: inside; color:#21416d; padding:1px 0; font-family:'Helvetica W01 Bd Cn';  }*/
.remyContinentInfo h4 { clear:both; color:#16a337;  font-family:'Helvetica W01 Bd Cn'; font-weight:normal; font-size:16px; margin-left: 15px; }
.remyContinentInfo ul { float:right;  padding-right: 20px; margin-top:-15px;}
.remyContinentInfo ul li { list-style-position:outside; color:#21416d; padding:1px 0; font-family:'Helvetica W01 Bd Cn'; margin-left: -10px;  }
.remyLocationImgs { float:right; width:152px; margin-left:10px;}
.remyLocationImgs img { padding-bottom: 15px;}

.ieBorder { border:1px solid #000;}

/*Hides Fonts.com Banner*/
#mti_wfs_colophon { display: none !important; }

.subBannerABRHMap img { display:none;}
img.ABRHfullmap { display: block !important; }

.remyBannerItem { display:none;}
.remyGlobalMap { display: block; }

