
.Homepage_Section1
{
    height: 350px;
    width: 100%;
    padding: 20px;
    vertical-align: middle;
    text-align: left;
    background: url(../../Sites/0/PageLayouts/Images/Main_Content_Overlap.jpg)/*tpa=http://www.fnf.com/Sites/0/PageLayouts/Images/Main_Content_Overlap.jpg*/ repeat-x bottom center;
}

.Main_Content_BG_jt
{
     background: url(../../Sites/0/PageLayouts/Images/bg-banner-repeat.png)/*tpa=http://www.fnf.com/Sites/0/PageLayouts/Images/bg-banner-repeat.png*/ repeat-x top center;     
}

.Main_Content_BG_jt_Port
{
     background: url(../../Sites/0/PageLayouts/Images/bg-portfolio-banner-repeat.png)/*tpa=http://www.fnf.com/Sites/0/PageLayouts/Images/bg-portfolio-banner-repeat.png*/ repeat-x top center;     
}

.Homepage_Section1_jt
{
    height: 400px;
    width: 100%;    
    vertical-align: middle;    
    background-color: #000;
}

.Homepage_Section2
{
    width: 670px;
    text-align: left;
    vertical-align: top;
}

.Homepage_Section3
{
    width: 295px;
    vertical-align: top;
    padding-left: 20px;
    text-align: left;
}

.Homepage_Section23_Container
{
    width: 100%;
    padding: 40px 0px 50px 0px;
    text-align: center;
}

.Homepage_Table_Bottom_Row
{
    background-color: #D9D9D9;
    border-bottom: solid 1px #cccccc;
    width: 100%;
    height: 55px;
}
.Homepage_Table_Bottom_Row table
{
    background-color: #e2e2e2;
    width: 1150px;
    height: 54px;
}
.Homepage_Table_Bottom_Row_Left
{
    background-color: #D9D9D9;
    width: 54px;
    height: 52px;
}
.Homepage_Table_Bottom_Row_Right
{
    background-color: #D9D9D9;
    width: 54px;
    height: 52px;
}

.Homepage_Table_Bottom_Menu
{
    background-color: #25497b;
    border-top: solid 1px #163563;
    border-bottom: solid 1px #163563;
    width: 100%;
    height: 55px;
}
.Homepage_Table_Bottom_Menu table
{
    background-color: #274c80;
    width: 1150px;
    height: 55px;
}