
.Investor_Info_Section1
{
    height: 40px;
    width: 945px;
    padding: 10px 20px 10px 20px;
    vertical-align: middle;
    text-align: left;
    background: url(../../Sites/0/PageLayouts/Images/Main_Content_Overlap.jpg)/*tpa=http://www.fnf.com/Sites/0/PageLayouts/Images/Main_Content_Overlap.jpg*/ repeat-x bottom center;
}
.Investor_Info_Section1 table
{
    height: 40px;
    width: 945px;
}
.Investor_Info_Section1_Content
{
    text-align: right;
}

.Investor_Info_Section2
{
    width: 645px;
    text-align: left;
    vertical-align: top;
    padding: 0px 0px 0px 30px;
    /*background: url(../../Sites/0/PageLayouts/Images/Column_Fade.png) no-repeat center right;*/
}

.vertDivide
{
 width: 40px;
 height: 100%;
}
.Investor_Info_Section2 td
{
}

.Investor_Info_Section3
{
    width: 275px;
    height: 100%;
    vertical-align: top;
    padding-left: 30px;    
    text-align: left;
    border-left: solid 1px #bfbfbf;
}

.Investor_Info_Section23_Container
{
    width: 100%;
    height: 100%;
    padding: 30px 0px 30px 0px;
    text-align: center;
}

.Investor_Info_Title
{
    font-size: 19pt;    
    line-height: 22pt;
    color: #042a4e;
    font-family:'Helvetica W01 Bd Cn';
    text-transform: uppercase;    
}
