
.TopStaticMenuStyle a,
.TopStaticMenuStyle a:visited,
.TopStaticMenuStyle a:active
{
	color: #274c7f;		
	font-family:'Helvetica';
	font-weight:bold;
	text-transform: uppercase;	
	text-decoration: none;
}
.TopStaticMenuStyle a:hover 
{
	color: #ffffff;
	font-family:'Helvetica';
	font-weight:bold;
	text-transform: uppercase;
	
	text-decoration: none;
}

.TopStaticMenuStyle
{
    width: 100%;    
}

.TopStaticMenuStyle td img
{
 margin-left: -30px;
}


.TopStaticMenuStyle td
{
    font-size: 10pt;    
    /*background: url(../../Sites/0/PageLayouts/Images/Horizontal_Static_Arrow.jpg) no-repeat right;*/
    padding: 15px 4px 0px 4px;
    height: 55px;
    vertical-align: top;
    border: solid 1px #000;
    border-bottom: solid 3px #ffffff;
    
}
.TopStaticHoverStyle td
{
	font-size: 10pt;	
	background-color: #ffffff;
    padding: 15px 4px 0px 4px;
    height: 55px;
    vertical-align: top;
    border-bottom: solid 3px #17A336;
}
.TopStaticHoverStyle td:hover a 
{
    color: #17A336;
}

.TopStaticSelectedStyle a,
.TopStaticSelectedStyle a:visited,
.TopStaticSelectedStyle a:active
{
	color: #18a62c;			
	font-family:'Helvetica';
	font-weight:bold;
	text-transform: uppercase;
	
	text-decoration: none;
}
.TopStaticMenuStyle a:hover 
{
	color: #ffffff;
	font-family:'Helvetica';
	font-weight:bold;
	
	text-transform: uppercase;
	
	text-decoration: none;
}

/* --------- Dynamic Dropdown Menu ---------*/
.TopDynamicSelectedStyle
{
}
.TopDynamicMenuStyle a,
.TopDynamicMenuStyle a:visited,
.TopDynamicMenuStyle a:active
{
	color: #ffffff;	
		font-family:'Helvetica';
	font-weight:bold;
	
	text-transform: uppercase;
	
	white-space: nowrap;
	text-decoration: none;	
}
.TopDynamicMenuStyle a:hover 
{
	color: #ffffff;		
		font-family:'Helvetica';
	font-weight:bold;
	
	text-transform: uppercase;
	
	white-space: nowrap;
	text-decoration: none;
}

.TopDynamicMenuStyle td
{
	font-size: 9pt;
	
	background: #385d91 url(../../Sites/0/PageLayouts/Images/Horizontal_Dynamic_Arrow.jpg)/*tpa=http://www.fnf.com/Sites/0/PageLayouts/Images/Horizontal_Dynamic_Arrow.jpg*/ no-repeat top left;
	width: 200px;
}
.TopDynamicMenuItemStyle td
{		
	text-align: left;
	width: 100%;
	padding: 7px 9px 7px 25px;
}

.TopDynamicHoverStyle td
{
	background: #284c80 url(../../Sites/0/PageLayouts/Images/Horizontal_Dynamic_Arrow_Hover.jpg)/*tpa=http://www.fnf.com/Sites/0/PageLayouts/Images/Horizontal_Dynamic_Arrow_Hover.jpg*/ no-repeat top left;
	width: 100%;
}
.TopDynamicHoverStyle td:hover a 
{
    color: #ffffff;
}

