

/************ USER: Office and Contact Display ************/

.Module_EDE_UserOfficeContactSection
{
    padding: 5px;
    margin-bottom: 20px;
    background-color: #f2f2f2;
}
.Module_EDE_UserContact
{
    margin: 10px 10px 10px 20px;
    font-size: 10pt;
}
.Module_EDE_UserContact_Name
{
    font-weight: bold;
    width: 200px;
}
.Module_EDE_UserContact_Title
{
    font-weight: bold;
    font-style: italic;
}
.Module_EDE_UserContact_Department
{
}
.Module_EDE_UserContact_Phone
{
}
.Module_EDE_UserContact_Email
{
}

.Module_EDE_UserContact_
{
}


.Module_EDE_UserOffice
{
    font-size: 10pt;
}
.Module_EDE_UserOffice_Company
{
    font-size: 8pt;
    font-weight: bold;
}
.Module_EDE_UserOffice_OfficeName
{
    font-size: 12pt;
    font-weight: bold;
    margin-bottom: 3px;
} 
.Module_EDE_UserOffice_Address
{
    margin-left: 10px;
    margin-top: 3px;
}
.Module_EDE_UserOffice_Address1
{
}
.Module_EDE_UserOffice_Address2
{
}
.Module_EDE_UserOffice_CityStateZip
{
}
.Module_EDE_UserOffice_PhoneNumbers
{
    margin-top: 10px;
    margin-left: 10px;
}
.Module_EDE_UserOffice_Phone
{
}
.Module_EDE_UserOffice_Small
{
    font-size: 10px;
    padding-bottom: 10px;
}
.Module_EDE_UserOffice_OfficeName_Small
{
    font-size: 11px;
    font-weight: bold;
}
.Module_EDE_UserOffice_PhoneNumbers_Small
{
    margin-top: 10px;
}
.Module_EDE_UserOffice_Address_Small
{
    margin-top: 3px;
}


