
.Portfolio_Subsidiaries_Company_Section1
{
    height: 350px;
    width: 945px;
    padding: 20px;
    vertical-align: middle;
    text-align: left;
    background: url(../../Sites/0/PageLayouts/Images/Main_Content_Overlap.jpg)/*tpa=http://www.fnf.com/Sites/0/PageLayouts/Images/Main_Content_Overlap.jpg*/ repeat-x bottom center;
}

.Portfolio_Subsidiaries_Company_Section2
{
    width: 675px;
    text-align: left;
    vertical-align: top;
    padding: 0px 15px 0px 0px;
    background: url(../../Sites/0/PageLayouts/Images/Column_Fade.png)/*tpa=http://www.fnf.com/Sites/0/PageLayouts/Images/Column_Fade.png*/ no-repeat top right;
}
.Portfolio_Subsidiaries_Company_Section2 td
{
}

.Portfolio_Subsidiaries_Company_Section3
{
    width: 275px;
    height: 714px;
    vertical-align: top;
    padding-left: 20px;
    text-align: left;
    border-left: solid 1px #bfbfbf;
}

.Portfolio_Subsidiaries_Company_Section23_Container
{
    width: 100%;
    padding: 30px 0px 30px 0px;
    text-align: center;
}
