
.Portfolio_Section1
{
    height: 350px;
    width: 945px;    
    vertical-align: middle;
    text-align: left;
    background: url(../../Sites/0/PageLayouts/Images/Main_Content_Overlap.jpg)/*tpa=http://www.fnf.com/Sites/0/PageLayouts/Images/Main_Content_Overlap.jpg*/ repeat-x bottom center;
}
.Portfolio_Section1_Buttons
{
    width: 965px;
}

.Portfolio_Section2
{
    width: 483px;
    text-align: left;
    vertical-align: top;
    padding: 0px 15px 0px 0px;
    background: url(../../Sites/0/PageLayouts/Images/Column_Fade.png)/*tpa=http://www.fnf.com/Sites/0/PageLayouts/Images/Column_Fade.png*/ no-repeat top right;
}

.Portfolio_Section3
{
    width: 482px;
    height: 714px;
    vertical-align: top;
    padding-left: 20px;
    text-align: right;
    border-left: solid 1px #bfbfbf;
}

.Portfolio_Section23_Container
{
    width: 100%;
    padding: 30px 0px 30px 0px;
    text-align: center;
}

.Portfolio_Table_Bottom_Row
{
    background-color: #D9D9D9;
    width: 100%;
    height: 55px;
}
.Portfolio_Table_Bottom_Row table
{
    background-color: #e2e2e2;
    width: 1110px;
    height: 54px;
}
.Portfolio_Table_Bottom_Row_Left
{
    background-color: #D9D9D9;
    width: 54px;
    height: 52px;
}
.Portfolio_Table_Bottom_Row_Right
{
    background-color: #D9D9D9;
    width: 54px;
    height: 52px;
}

.Portfolio_Table_Bottom_Row2
{
    background-color: #c3c1c2;
    border-top: solid 1px #c2c1c1;
    width: 100%;
    height: 55px;

}
.Portfolio_Table_Bottom_Row2 table
{
    background-color: #d1cfd0;
    width: 1105px;
    height: 55px;
}