
.Portfolio_Investments_Section1
{
    height: 350px;
    width: 945px;
    padding: 20px;
    vertical-align: middle;
    text-align: left;
    background: url(../../Sites/0/PageLayouts/Images/Main_Content_Overlap.jpg)/*tpa=http://www.fnf.com/Sites/0/PageLayouts/Images/Main_Content_Overlap.jpg*/ repeat-x bottom center;
}

.Portfolio_Investments_Section2
{
    width: 675px;
    text-align: left;
    vertical-align: top;
    padding: 0px 15px 0px 0px;
    background: url(../../Sites/0/PageLayouts/Images/Column_Fade.png)/*tpa=http://www.fnf.com/Sites/0/PageLayouts/Images/Column_Fade.png*/ no-repeat top right;
}
.Portfolio_Investments_Section2 td
{
}

.Portfolio_Investments_Section3
{
    width: 275px;
    height: 714px;
    vertical-align: top;
    padding-left: 20px;
    text-align: left;
    border-left: solid 1px #bfbfbf;
}

.Portfolio_Investments_Section23_Container
{
    width: 100%;
    padding: 30px 0px 30px 0px;
    text-align: center;
}


.Portfolio_Investments_Table_Bottom_Row
{
    background-color: #D9D9D9;
    border-bottom: solid 1px #cccccc;
    width: 100%;
    height: 55px;
}
.Portfolio_Investments_Table_Bottom_Row table
{
    background-color: #e2e2e2;
    width: 1150px;
    height: 54px;
}
.Portfolio_Investments_Table_Bottom_Row_Left
{
    background-color: #D9D9D9;
    width: 54px;
    height: 52px;
}
.Portfolio_Investments_Table_Bottom_Row_Right
{
    background-color: #D9D9D9;
    width: 54px;
    height: 52px;
}

.Portfolio_Investments_Table_Bottom_Menu
{
    background-color: #25497b;
    border-top: solid 1px #163563;
    border-bottom: solid 1px #163563;
    width: 100%;
    height: 55px;
}
.Portfolio_Investments_Table_Bottom_Menu table
{
    background-color: #274c80;
    width: 1150px;
    height: 55px;
}