
/************* Side Menu *******************/

.Side_Menu_Investor_Title
{
    color: #244c7f;
    font-weight: bold;
    font-size: 9pt; 
    padding: 10px 0px 0px 0px;
    font-family:'Merriweather';
}

.SideStaticInvestorMenuStyle a, 
.SideStaticInvestorMenuStyle a:visited,
.SideStaticInvestorMenuStyle a:active
{
	color: #244c7f;	
	font-weight: bold;
		font-family:'Merriweather';
		font-size: 9pt;
	text-decoration: none;
	white-space: nowrap;
	
}
.SideStaticInvestorMenuStyle a:hover 
{
	color: #86a3c9;		
	text-decoration: none;
	font-family:'Merriweather';
	font-size: 9pt;
	font-weight: bold;
}

.SideStaticInvestorMenuStyle td
{
	font-size: 9pt;
	font-family:'Merriweather';
	padding: 1px 0px 1px 0px;
	font-weight: bold;
}

.SideStaticInvestorHoverStyle td
{
	color: #17a338;
	font-weight: bold;
	font-family:'Merriweather';
	font-size: 9pt;
}
.SideStaticInvestorHoverStyle td:hover a 
{
    color: #86a3c9;
    font-weight: bold;
    font-family:'Merriweather';
    font-size: 9pt;
}

.SideStaticInvestorMenuItemStyle td
{		
}

.SideStaticInvestorHoverStyle td
{
}


div.SideDynamicMenuStyle
{
    border: solid 1px #ccc;    
    margin-top: 28px;
    margin-left: -170px;    
}

.SideDynamicSelectedStyle
{
	font-weight: normal;
	cursor: pointer;
	font-size: 9pt;
	line-height: 11pt;
	color: #244c7f;
	font-weight: bold;
	font-family:'Merriweather';
}

.SideDynamicMenuStyle a,
.SideDynamicMenuStyle a:visited,
.SideDynamicMenuStyle a:active
{
	color: #244c7f;	
	text-decoration: none;
	padding: 0px 9px 0px 5px;
	display: table;			
	white-space: nowrap;
	font-weight: bold;
	font-family:'Merriweather';
	font-size: 9pt;
	line-height: 11pt;
}
.SideDynamicMenuStyle a:hover 
{
	color: #86a3c9;		
	text-decoration: none;
	padding: 7px 9px 7px 5px;
	font-size: 9pt;
	line-height: 11pt;
	display: table;			
	white-space: nowrap;
	font-weight: bold;
	font-family:'Merriweather';
}
.SideDynamicMenuStyle td
{
	border: 1px solid #000000;		
	border-collapse: collapse;	
	font-size: 9pt;
	line-height: 11pt;
	font-weight: bold;
	font-family:'Merriweather';
	background-color: #fff;
}
.SideDynamicMenuItemStyle
{
	font-weight: normal;
	font-family:'Merriweather';
	font-size: 9pt;
	line-height: 11pt;
}
.SideDynamicMenuItemStyle td
{		
	padding: 7px 9px 7px 5px;
	border: 1px solid #D8CAAF;
	text-align: left;
	font-weight: bold;
	font-family:'Merriweather';
	font-size: 9pt;
	line-height: 11pt;
}
.SideDynamicHoverStyle
{
	font-weight: bold;
	font-family:'Merriweather';
	font-size: 9pt;
	line-height: 11pt;
	
}
