
/************* Side Menu *******************/

.Side_Menu_Title
{
    color: #244c7f;
    font-weight: bold;
    font-size: 10pt;    
    padding: 10px 0px 0px 10px;
}

.SideStaticMenuStyle a, 
.SideStaticMenuStyle a:visited,
.SideStaticMenuStyle a:active
{
	color: #244c7f;	
	font-weight: bold;		
	text-decoration: none;
	white-space: nowrap;
}

.SideStaticMenuStyle a:hover 
{
	color: #86a3c9;		
	text-decoration: none;
}

.SideStaticMenuStyle td
{
	font-size: 9pt;	
	padding: 1px 0px 1px 10px;
}

.SideStaticHoverStyle td
{
	color: #17a338;
	font-weight: bold;
}

.SideStaticHoverStyle td:hover a 
{
    color: #86a3c9;
    font-weight: bold;
}

.SideStaticMenuItemStyle td
{		
	background: url(../../Sites/0/PageLayouts/Images/Vertical_Static_Arrow.jpg)/*tpa=http://www.fnf.com/Sites/0/PageLayouts/Images/Vertical_Static_Arrow.jpg*/ no-repeat left top;
}

.SideStaticHoverStyle td
{
	background: url(../../Sites/0/PageLayouts/Images/Vertical_Static_Arrow_Hover.jpg)/*tpa=http://www.fnf.com/Sites/0/PageLayouts/Images/Vertical_Static_Arrow_Hover.jpg*/ no-repeat left top;
}

.SideDynamicSelectedStyle
{
	font-weight: normal;
	cursor: pointer;
	font-size: 13px;
	color: #2b7ab5;
	font-weight: normal;
	font-family:'Helvetica';
}

.SideDynamicMenuStyle a,
.SideDynamicMenuStyle a:visited,
.SideDynamicMenuStyle a:active
{
	color: #2b7ab5;	
	text-decoration: none;
	padding: 0px 9px 0px 5px;
	display: table;			
	white-space: nowrap;
	font-weight: normal;
	font-family:'Helvetica';
}

.SideDynamicMenuStyle a:hover 
{
	color: #335296;		
	text-decoration: none;
	padding: 7px 9px 7px 5px;
	font-size: 10px;		
	display: table;			
	white-space: nowrap;
	font-weight: normal;
	font-family:'Helvetica';	
}

.SideDynamicMenuStyle td
{
	border: 1px solid #000000;		
	border-collapse: collapse;
	background-color: Transparent;
	font-size: 13px;
	font-weight: normal;
	font-family:'Helvetica';
	background-color: #e5e5e5;
}

.SideDynamicMenuItemStyle
{
	font-weight: normal;
	font-family:'Helvetica';
}

.SideDynamicMenuItemStyle td
{		
	padding: 7px 9px 7px 5px;
	border: 0px solid #D8CAAF;
	text-align: left;
	font-weight: normal;
	font-family:'Helvetica';
}

.SideDynamicHoverStyle
{
	font-weight: normal;
	font-family:'Helvetica';
}
