body 
{
	margin: 0;
	width: 100%;
	height: 100%;
	vertical-align: top;
    background-color: #ffffff;
    /*font-family:'Merriweather', Georgia;*/
   
} 
 
table
{
	border-collapse: collapse;
}
 
td, p
{ 
	color: #000000;	
	font-family:'Merriweather', Georgia;
	font-size: 12px;
	line-height: 22px;
}



hr
{
	border: 0;
	height: 1px;
	color: #000000;
	background-color: #000000;
}

ul
{
    margin-top: 5px;
    margin-bottom: 5px;
}


/* ------ Fonts ------ */

.Sub_Heading1_DarkBlue
{
    font-size: 14pt;
    line-height: 18pt;    
    color: #244c7f;
    font-family:'Helvetica W01 Bd Cn';
    text-transform: uppercase;
}



.Sub_Heading1_DarkGreen
{
    font-size: 14pt;
    line-height: 18pt;    
    color: #226d00;
    font-family:'Helvetica W01 Bd Cn';
    text-transform: uppercase;
}

.Sub_Heading2_DarkBlue
{
    font-size: 13pt;
    line-height: 17pt;    
    color: #244c7f;
    font-family:'Helvetica W01 Bd Cn';
    text-transform: uppercase;
}

.Sub_Heading3_DarkBlue
{
    font-size: 13pt;
    line-height: 17pt;
    
    color: #244c7f;
    font-family:'Helvetica W01 Bd Cn';
    text-transform: uppercase;
}

.Sub_Heading2_LightBlue
{
    font-size: 12pt;
    line-height: 16pt;
    
    color: #86a3c9;
    font-family:'Helvetica W01 Bd Cn';
    text-transform: uppercase;
}

span.Sub_Heading1_DarkBlue a, span.Sub_Heading1_DarkBlue a:active, span.Sub_Heading1_DarkBlue a:visited
{
    font-size: 14pt;
    line-height: 18pt;    
    color: #244c7f;
    font-family:'Helvetica W01 Bd Cn';
    text-transform: uppercase;
    font-weight: normal;
}

span.Sub_Heading1_DarkBlue a:hover
{
    font-size: 14pt;
    line-height: 18pt;    
    color: #226d00;
    font-family:'Helvetica W01 Bd Cn';
    text-transform: uppercase;
    font-weight: normal;
}

.Text_DarkBlue
{
    color: #305380;
    font-family:'Helvetica W01 Bd Cn';
    line-height: 16px;
}

.Text_DarkBlue_Bold
{
    color: #305380;
    
    font-family:'Helvetica W01 Bd Cn';
    text-transform: uppercase;
}


/* ------ Common Elements ------ */

.HR_Content_Divider
{
    color: #bfbfbf;
    background-color: #bfbfbf;
    
    width: 100%;
}

/* ------- Header All Layouts ------- */

.Header_Table
{
    text-align: center;
    width: 100%;
}

.Header_Table td
{
    border: solid 0px #000;
}

.Header_Table_Sub
{
    width: 965px;
}

.Header_Table_Sub_Logo
{
    width: 169px;    
}

.Header_Table_Sub_Menu
{
    width: 600px;    
    vertical-align: bottom;
    padding: 0px 50px 0px 50px;
    position: relative;
    z-index: 9999;
    border: solid 1px #000;
}

.Header_Table_Sub_Ticker
{
    width: 110px;
}

.Header_Table_HR
{
    height: 3px;
    width: 100%;
    
    background-color: #274c7f;
}

.Main_Content_BG
{
    background: #efefef url(../../Sites/0/PageLayouts/Images/Main_Content_BG.jpg)/*tpa=http://www.fnf.com/Sites/0/PageLayouts/Images/Main_Content_BG.jpg*/ repeat-x bottom center;
}

/* ------- Footer ------- */

.Footer
{
   height: 80px;
   width: 100%;   
   border-top: solid 1px #1c3863;
   background-color: #2b4d7e;
   text-align: center;
   
}
.Footer table
{
   width: 965px;   
}
.Footer table td
{
   width: 965px;   
   color: #ffffff;
   font-size: 7pt;
   font-weight: normal;
}
.Footer td a,
.Footer td a:active,
.Footer td a:visited
{
    color: #ffffff;
    font-size: 7pt;
    font-weight: normal;    
    text-decoration: none;
}
.Footer a:hover
{
    color: #ffffff;
    font-size: 7pt;
    font-weight: normal;    
    text-decoration: underline;
}

.Footer_Left
{
    width: 33%;
    height: 80px;
    text-align: left;
    vertical-align: middle;
}
.Footer_Center
{
    width: 33%;
    height: 80px;
    text-align: center;
    vertical-align: middle;
}
.Footer_Right
{
    width: 33%;
    height: 80px;
    text-align: right;
    vertical-align: middle;
}

/* ------- Stock Ticker ------- */

.StockTicker_Table
{
    width: 110px;
}

.StockTicker_Table td
{
    font-size: 12px;
    font-family: helvetica;
    font-weight: bold;
    color: #7b7b7b;
    line-height: 14px;
    vertical-align: top;
}

.StockTicker_TopLeft
{
    text-align: left;
    line-height: 10px;
}

.StockTicker_TopRight
{
    text-align: right;
    line-height: 10px;
}

.StockTicker_HR
{
    color: #cacaca;
    background-color: #cacaca;    
    margin: 10px 0px 10px 0px;
}

.StockTicker_Price
{
    font-size: 16pt;
    font-family: arial;    
    letter-spacing: -1pt;
    vertical-align: middle;
}

.StockTicker_Price_Symbol
{
    font-size: 8pt;
    font-family: arial;    
    vertical-align: top;
    letter-spacing: -2pt;
}









































.admin_menubox_main
{
    border-bottom: solid 1px black; 
    background-color: ThreeDFace;
    padding: 3px;
    font-size: 8pt;
}
.admin_menubox_main a,
.admin_menubox_main a:link,
.admin_menubox_main a:visited
{
    padding: 3px;  
    text-decoration: none; 
    color:  #272c69;
    font-size: 8pt;
}
.admin_menubox_main a:hover
{
    border-color: ThreeDShadow;
    background-color: ThreeDHighlight;
    padding: 3px;
    text-decoration: none;
    font-size: 8pt;
}


/************* Standard User Gridview ***************/

.GridViewHeaderStyle
{
    background-color: #000000;
    width: 100%;
    height: 31px;
    color: White;
    font-size: 80pt;
}

.GridViewHeaderStyle td,
.GridViewHeaderStyle a:link,
.GridViewHeaderStyle a:active,
.GridViewHeaderStyle a:hover,
.GridViewHeaderStyle a:visited
{
    width: 100%;
    height: 29px;
    color: White;
    font-size: 10pt;
    padding-left: 10px;
}

.GridViewRowStyle,
.GridViewRowStyle td
{
    text-decoration: none;
    font-size: 5pt;
    font-weight: normal;
    height: 25px;
    padding: 10px 0px 10px 10px;
}
.GridViewRowStyle a:link,
.GridViewRowStyle a:active,
.GridViewRowStyle a:hover,
.GridViewRowStyle a:visited
{
    text-decoration: none;
    font-size: 8pt;
    font-weight: bold;
}

.GridViewPagerStyle
{
	background-color: #426182;
    background: url(Unknown_83_filename)/*tpa=http://www.fnf.com/Sites/3/PageLayouts/Images/TBLTopBG.jpg*/ repeat-x top center;
    width: 100%;
    height: 20px;
    color: White;
}

.GridViewPagerStyle td,
.GridViewPagerStyle a:link,
.GridViewPagerStyle a:active,
.GridViewPagerStyle a:hover,
.GridViewPagerStyle a:visited
{
    font-size: 7pt;
    color: White;
    height: 10px;
    padding-right: 2px;
}

.EmptyDataRowStyle,
.EmptyDataRowStyle td
{
    font-size: 12pt;
    font-weight: bold;
    width: 100%;
    text-align: center;
}
/************* Standard Admin Gridview *******************/

.ADMIN_GridViewHeaderStyle
{
    background-color: #15659A;
    color: White;
    font-size: 10pt;
}
.ADMIN_GridViewHeaderStyle td,
.ADMIN_GridViewHeaderStyle a:link,
.ADMIN_GridViewHeaderStyle a:active,
.ADMIN_GridViewHeaderStyle a:hover,
.ADMIN_GridViewHeaderStyle a:visited
{
    background-color: #15659A;
    color: White;
    font-size: 10pt;
}

.ADMIN_GridViewRowStyle,
.ADMIN_GridViewRowStyle td
{
    font-size: 8pt;
    font-weight: normal;
    height: 25px;
}
.ADMIN_GridViewRowStyle a:link,
.ADMIN_GridViewRowStyle a:active,
.ADMIN_GridViewRowStyle a:hover,
.ADMIN_GridViewRowStyle a:visited
{
    font-size: 8pt;
    font-weight: normal;
}

.ADMIN_GridViewPagerStyle,
.ADMIN_GridViewPagerStyle td,
.ADMIN_GridViewPagerStyle a:link,
.ADMIN_GridViewPagerStyle a:active,
.ADMIN_GridViewPagerStyle a:hover,
.ADMIN_GridViewPagerStyle a:visited
{
    font-size: 7pt;
    color: White;
    background-color: #426182;
    height: 10px;
}

.ADMIN_EmptyDataRowStyle,
.ADMIN_EmptyDataRowStyle td
{
    font-size: 12pt;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.admin_menubox_main
{
    border-bottom: solid 1px black; 
    background-color: ThreeDFace;
    padding: 3px;
    font-size: 8pt;
}
.admin_menubox_main a,
.admin_menubox_main a:link,
.admin_menubox_main a:visited
{
    padding: 3px;  
    text-decoration: none; 
    color:  #272c69;
    font-size: 8pt;
}
.admin_menubox_main a:hover
{
    border-color: ThreeDShadow;
    background-color: ThreeDHighlight;
    padding: 3px;
    text-decoration: none;
    font-size: 8pt;
}


/************* SUB MENU **************/

.admin_menubox_sub
{
    border: solid 1px #d8d8d8; 
    background-color: #f0f0f0; 
    margin: 5px;
    padding: 2px;
    text-decoration: none;
}
.admin_menubox_sub a,
.admin_menubox_sub a:active,
.admin_menubox_sub a:link,
.admin_menubox_sub a:visited
{
    padding: 3px;  
    text-decoration: none; 
    color:  #272c69;
    font-size: 8pt;
    font-weight: bold;
    margin: -2px;
}
.admin_menubox_sub a:hover
{
   background-color: #272c69;
   color: White;
    padding: 3px;
    text-decoration: none;
}

.admin_titlebox
{
    border: solid 1px 272c69; 
    background-color: #4b5d8d; 
    color: White; 
    margin: 5px;  
    padding: 3px;
    font-size: 10pt; font-weight: bold;
}

.admin_sectionbox
{
    border: solid 1px #d8d8d8; 
    background-color: #f0f0f0; 
    margin: 0px;
}
.admin_sectionbox_header
{
    font-weight: bold; 
    font-size: 10pt; 
    padding: 3px;
    margin: 3px 0px 3px 0px;
    border: solid 1px #d8d8d8;
    background-color: #e0e0e0;
}
.admin_sectionbox_content
{
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 30px;
}
.admin_sectionbox .admin_menubox_sub
{
    background-color: #f7f7f7;
}

.admin_modulecontainer_titlebox
{
    font-size: 8pt;
    font-weight: bold;
    border-bottom: solid 1px black; 
    padding: 2px;    
    background-color: #272c69; 
    color: White; 
}

.admin_modulecontainer_menubox
{
    font-size: 7pt;
    border-bottom: solid 1px black; 
    background-color: #cccccc; 
    padding: 2px;
}
.admin_modulecontainer_menubox a,
.admin_modulecontainer_menubox a:link,
.admin_modulecontainer_menubox a:visited
{
    padding: 2px;  
    text-decoration: none; 
    color:  #272c69;
}
.admin_modulecontainer_menubox a:hover
{
   background-color: #272c69;
   color: White;
    padding: 2px;
    text-decoration: none;
}


/************* Standard Admin Gridview *******************/

.ADMIN_GridViewHeaderStyle
{
    background-color: #15659A;
    color: White;
    font-size: 10pt;
} 
.ADMIN_GridViewHeaderStyle td,
.ADMIN_GridViewHeaderStyle a:link,
.ADMIN_GridViewHeaderStyle a:active,
.ADMIN_GridViewHeaderStyle a:hover,
.ADMIN_GridViewHeaderStyle a:visited
{
    background-color: #15659A;
    color: White;
    font-size: 10pt;
}

.ADMIN_GridViewRowStyle,
.ADMIN_GridViewRowStyle td
{
    font-size: 8pt;
    font-weight: normal;
    height: 25px;
}
.ADMIN_GridViewRowStyle a:link,
.ADMIN_GridViewRowStyle a:active,
.ADMIN_GridViewRowStyle a:hover,
.ADMIN_GridViewRowStyle a:visited
{
    font-size: 8pt;
    font-weight: normal;
}

.ADMIN_GridViewPagerStyle,
.ADMIN_GridViewPagerStyle td,
.ADMIN_GridViewPagerStyle a:link,
.ADMIN_GridViewPagerStyle a:active,
.ADMIN_GridViewPagerStyle a:hover,
.ADMIN_GridViewPagerStyle a:visited
{
    font-size: 7pt;
    color: White;
    background-color: #426182;
    height: 10px;
}

.ADMIN_EmptyDataRowStyle,
.ADMIN_EmptyDataRowStyle td
{
    font-size: 12pt;
    font-weight: bold;
    width: 100%;
    text-align: center;
}





.ViewControlContent a, .ViewControlContent a:active, .ViewControlContent a:visited
{
    text-decoration: none;    
    font-weight: bold;
}

.ViewControlContent a:hover
{
    text-decoration: none;
    color: #17A336;
    font-weight: bold;
}

.InvestorMaterial td a, .InvestorMaterial td a:active, .InvestorMaterial td a:visited
{
    text-decoration: none;
    color: #244c7f;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 15px;
}

.InvestorMaterial td a:hover
{
    text-decoration: none;
    color: #17A336;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 15px;
}



.FormLabel, .FormLabelRequired
{
    color: #244c7f;
    font-weight: bold;
}

.titleContact td
{border-bottom: solid 1px #ccc;}	



