.cleaner {
	clear: both;
	line-height: 0px;
	height: 0px;
	font-size: 0px;
}

.dashedLine {
	margin: 0px;
	padding: 0px;
	height: 1px;
	line-height: 1px;
	font-size: 1px;
	border-bottom: dashed 1px #999999;
}

.solidLine {
	margin: 0px;
	padding: 0px;
	height: 1px;
	line-height: 1px;
	font-size: 1px;
	border-bottom: solid 1px #CCCCCC;
}

.PageContentWidth{
	width: 704px;
}

.fTrebuchet{font-family: Trebuchet MS,Arial,Helvetica;}
.fArial{font-family: Arial,Helvetica,Trebuchet MS;}

.fs14{font-size: 14px;}
.fs12{font-size: 12px;}
.fs11{font-size: 11px;}
.fs8{font-size: 8px;}
.Mlf25{margin-left: 25px;}
.fBold{font-weight: bold;}

.cursorPointer {cursor: pointer;}

.description{
	font-family: Arial,Helvetica,Trebuchet MS;
	font-size: 12px;
	}

.arrowRight {
	font-size: 10px;
}

.LogoLink {
	text-decoration: none;
	display:block;
	cursor:pointer;
	width:161px; 
	height:75px; 
	//height:76px; 
	margin:15px 0px 0px 13px;
	//margin:15px 0px 0px 0px;
}
.DealersTable {
	font-size: 12px;
	font-family: Arial,Helvetica,Trebuchet MS;
}

.DealersTable a, .DealersTable .arrow {
	color: #980000;
}

.DealersTable td div {
	padding: 1px 0px 1px 8px;
}
.DealersTable td.columnDealerName { width: 150px; }
.DealersTable td.columnAddress { width: 162px; }
.DealersTable td.columnCountry { width: 80px;}
.DealersTable td.columnPhone { width: 130px; }
.DealersTable td.columnMake { width: 105px; }
.DealersTable td.columnCollision { width: 67px; line-height: 40px; height: 40px; }
.DealersTableData a	{
	text-decoration:none; 
	color:Black;
	}
.DealersTable .DealersTableHeader td {
	background-color: #D9D9D9; 
}

.DealersTable .DealersTableDataEven td {
	background-color: #EEEEEE; 
}
.DealersTable .DealersTableDataOdd td {
	background-color: #FFFFFF; 
}


.searchBar {
	margin-top: 6px;
	font-size: 11px;
	font-family: Arial,Helvetica,Trebuchet MS;
	background-color: #980000; 
	padding: 2px 13px 10px 13px;
	//padding: 6px 13px 9px 13px;
}
.searchBar select {
	width:148px;
	height: 21px;
	font-size: 11px;
	font-family: Arial,Helvetica,Trebuchet MS;
	background-color: white;
	color: black;
} 

.searchBar span.checkBox {
	color: white;
	position: relative;
	top: 3px;
	//top: -1px;
}
.searchBar img {
	position: relative;
	top: 8px;
	//top: 4px;
}

.resultsFound {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 13px;
}

.penskecarsLogo {
	background-color: #1B1B1B;
	margin-left:5px;
	margin-top:5px;
	margin-bottom:5px;
	width: 190px;
	text-align: center;
}

.StayConnectedControl {
	background-color: #1B1B1B;
	background-repeat: repeat-x;
	margin-left:5px;
	height: 76px;
	padding-top: 11px;
	font-family: Trebuchet MS, Arial, Helvetica;
	font-size: 14px;
	color: white;
	text-align: center;
}

.StayConnectedControl img {
	border: 0px;
	margin: 9px 3px 0px 3px;
}

.dealersSearchControl {
	margin-left:5px;
	height: 148px;
	padding-left: 16px;
	padding-top: 14px;
	font-family: Trebuchet MS, Arial, Helvetica;
	font-size: 14px;
	color: white;
}

.dealersSearchControl select {
	width:148px;
	font-size: 11px;
	font-family: Arial,Helvetica,Trebuchet MS;
	text-align: left;
	background-color:White;
	color:Black;
} 

.dealersSearchControl label {
	position:relative;
	top:-2px;
	//top:-1px;
} 
.dealersSearchControl div.button {
	width:66px; 
	height:21px; 
	background-image:url(images/home_button_search2.png)/*tpa=http://images.ebizautos.com/penskecorporatesite/images/home_button_search2.png*/; 
	cursor:pointer;
} 
.dealersSearchControl .item {
	padding-top:8px;
}

.EmploymentForm{
	font-size: 12px;
	text-align: left;
	font-family: Arial,Helvetica,Trebuchet MS;
}
.EmploymentForm input, .EmploymentForm select, .EmploymentForm textarea{
	font-size: 11px;
	font-family: Arial,Helvetica,Trebuchet MS;
	background-color: white;
	color: Black;
	border:1px solid #7F9DB9;
	line-height:14px;
}
.EmploymentForm textarea{
	width: 534px;
	height: 137px;
}
.EmploymentForm input, .EmploymentForm select{
	width: 198px;
}
.EmploymentForm select{
	width: 200px;
}
.EmploymentForm p.text{
	margin-left:120px; 
	margin-right:53px; 
}

.EmploymentForm p{
	margin: 0;
	margin-top:10px;
	padding-right: 6px;
	line-height: 16px;
} 

.EmploymentForm p.required, .EmploymentForm span{
	color: #980000;
}
.EmploymentForm p.inputLine{
	width: 320px;
	text-align: right;
}

.EmploymentForm input.button{
	width:66px; 
	height:21px; 
	background-image:url(images/button_employment_submit.jpg)/*tpa=http://images.ebizautos.com/penskecorporatesite/images/button_employment_submit.jpg*/; 
	cursor:pointer;
} 
.EmploymentForm a {
	color: #980000;
}

.fs10{
	font-size: 10px;
}
.EmploymentList {
	font-family: Arial;
	font-size: 12px;
	padding: 13px;
}

.EmploymentListColumn {
	width: 160px;
	float: left;		
}

.EmploymentListState {
	color: #000000;
	line-height: 20px;
	margin: 0px 0px 10px 0px;
	width: 150px;
	padding: 0px;
	font-weight: bold;
}

.EmploymentListCity, .EmploymentListCity a {
	line-height: 20px;
	width: 150px;
	margin: 0px;
	padding: 0px;
	font-weight: normal;
	color: 	#980000;
	text-decoration: none;
}

.EmploymentListCity a:hover {
	color: #FF0000;
}

.homePageNewsList{
	width: 520px;
	//width: 502px;
	padding:0;
	padding-top:10px;
	margin:0;
	margin-left:18px;
}

.newsItem {
	margin-top: 15px;
	
}

.newsDate {
	float: left;
	font-weight: bold;
	width: 70px;
	color: #980000;
}
.newsLink {
	float: left;
	width: 430px;
}
.newsLink a {
	color: #333333;
}

.moreNewsLink {
	padding: 15px 0px 0px 0px;
	margin:0px;
}
.moreNewsLink a {
	margin-left:55px;
	color: #333333;
}
.moreNewsLink span {
	font-size: 8px;
	color: #FF0000;
}

.stockInfo {
	height:214px;
	margin-left:5px;
	background-color: #1B1B1B;
	color: white;
	font-family: Trebuchet MS, Arial, Helvetica;
	font-size:14px;
	padding-top: 17px;
	padding-left: 16px;
}
.stockInfo div.item {
	padding-top:8px;
	width: 170px;
	font-family:  Arial, Trebuchet MS, Helvetica;
	font-size:11px;
}
.stockInfo span.name {
	float:left;
	font-weight: bold;
} 
.stockInfo span.value {
	width: 50px;
	float:right;
} 
.stockInfo span.red {
	color: red;
} 
.stockInfo span.green {
	color: #02C202;
} 
.stockInfo .info {
	color: #999999;
	font-size: 10px;
	margin-top: 13px;
} 

.homePageLeftContent{
	float: left;
	width: 530px;
	height: 651px;
	background-color:#FFFFFF;
}

.homePageRightContent{
	float: left;
	width: 195px;
	padding-right:5px;
	height: 651px; 
	background-color: #2D2D2D;
	background-image:url(images/penske_home_right_content_background.jpg)/*tpa=http://images.ebizautos.com/penskecorporatesite/images/penske_home_right_content_background.jpg*/; 
	background-repeat:repeat-x;
}
.homePageRightContent div.devider{
	height: 3px;
	background-color: #2D2D2D;
}
.homePageRightContent div.fortuneLogo{
	margin-left:5px;
	height: 138px;
	width: 190px;
	background-color: #1B1B1B;
	font-family: Arial;
	font-size:12px;
	text-align: center;
}
.homePageRightContent div.fortuneLogo br{
	height:13px;
	line-height:13px;
}
.homePageDescription{
	height:130px;
	width: 530px;
	background-image: url(images/shareholder_wraper_left.jpg)/*tpa=http://images.ebizautos.com/penskecorporatesite/images/shareholder_wraper_left.jpg*/;
	background-repeat:repeat-y;
}

.homePageDescription h1, .homePageDescription p{
	padding:0;
	padding-top:10px;
	margin:0;
	margin-left:18px;
}
.homePageDescription h1{
	font-size:18px;
}
.homePageNews{
	height: 241px;
	width: 100%;
	background-color: #EBEBEB;
	background-image: url(images/shareholder_wraper_left2.jpg)/*tpa=http://images.ebizautos.com/penskecorporatesite/images/shareholder_wraper_left2.jpg*/;
	background-repeat: repeat-y;
}
.homePageNews div.content{
	width:300px;
}

.homePageLeftContent div.rightBorder{
	float:right;
	width:10px;
	height:100%;
	background-image: url(images/shareholder_wraper_right.jpg)/*tpa=http://images.ebizautos.com/penskecorporatesite/images/shareholder_wraper_right.jpg*/;
	background-repeat:repeat-y;
}
.homePageLeftContent div.content{
	float:left;
	width:510px;
}
.homePageNews div.rightBorder{
	background-image: url(images/shareholder_wraper_right2.jpg)/*tpa=http://images.ebizautos.com/penskecorporatesite/images/shareholder_wraper_right2.jpg*/;
}
.homePageDescription p{
	font-family: Arial;
	font-size: 12px;
}

.PrivacyPolicy{
	background-color:black;
	color:white;
	font-family: Arial,Helvetica,Trebuchet MS;
	font-size:12px;
}

.PrivacyPolicy h1, .PrivacyPolicy h2{
	font-size:12px;
	font-weight:bold;
}
.PrivacyPolicy p, .PrivacyPolicy h1, .PrivacyPolicy h2{
	margin:15px;
	margin-left: 20px;
	margin-right: 20px;
}
.PrivacyPolicy .logo{
	border-bottom:1px dashed #666666; 
	padding-bottom:15px;
}
.PrivacyPolicy .HiddenLink {
	color: white;
	text-decoration: none;
}
.ContactUs{
	background-color:black;
	color:white;
	font-family: Arial,Helvetica,Trebuchet MS;
	font-size:14px;
}

.ContactUs h1{
	font-size:18px;
	font-weight:bold;
}
.ContactUs p, .ContactUs h1{
	margin:15px;
	margin-left: 20px;
	margin-right: 20px;
}
.ContactUs .logo, .ContactUs .line{
	border-bottom:1px dashed #666666; 
	margin-top:15px;
	margin-bottom:10px;
}
.ContactUs a{
	color: #CC0000;
}

.pageContent {
	font-family: Arial,Helvetica;
	font-size: 12px;
}

.pageContent a {
	outline: none;
	color: #980000;
}

.pageContent a:hover {
	color: #FF0000;
}

.CareerCentrWelcome, .SearchJobStep, .SearchJobThankYou {
	margin: 0px 3px 0px 4px;
}

.SearchJobThankYou {
	text-align: center;
}
.CareerCenterHeaderLink {
	float: right;
	font-size: 11px;
	margin: 16px 9px 0px 0px;
}

.headerColor {
	color: #980000;
}

.CareerCentrWelcomeImg {
	margin: 6px 0px 1px 0px;
	width: 698px;
}

.CareerCentrWelcomeImg img{
	margin: 0px 2px 0px 0px;
}

.CareerCentrWelcomeTxt, .LearnMoreSectionHeader {
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	margin: 17px 0px 25px 8px;
}

.CareerCentrWhyWorkTxt, .CareerCentrWelcomeBenefits {
	margin: 0px 0px 22px 8px;
}

.CareerCentrTxtHeader {
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	color: #980000;
	margin: 0px 0px 10px 0px;
}

.BenefitsLeft, .BenefitsRight {
	float: left;
	font-size: 12px;
	font-weight: bold;
	margin: 13px 26px 3px 32px;
	line-height: 19px;
}

.ContinueBtn {
	text-align: center;
}

.LearnMore img{
	border: 0px;
	margin: 0px auto 7px auto;
}

.BeginSearchJob img{
	border: 0px;
	margin: 13px auto 27px auto;
}

.CareerCenterWelcomeFooterLink {
	float: left;
	font-size: 11px;
	margin: 28px 0px 17px 19px;
	line-height: 20px;
	height: 60px;
}

.CareerCenterWelcomeFooterImg {
	float: right;
	margin: 29px 9px 0px 0px;
}

.FooterImg {
	float: left;
	margin: 0px 0px 0px 15px;
}

.FooterImg img{
	border: 0px;	
}

.CareerCentrLearnMore {
	margin: 0px 0px 48px 10px;
}

.LearnMoreSection {
	margin: 20px 10px 18px 0px;
}

.LearnMoreSection img {
	float:left;
	border: 5px solid #D9D9D9;
	margin: 0px 20px 0px 0px;
}

.LaernMoreBeginSearchJob img{
	border: 0px;
	margin-top: 10px;
}

.LearnMoreSectionHeader {
	margin: 0px 0px 10px 0px;
}

.LearnMoreSectionInner {
	float: left;
	width: 512px;
	margin: 2px 0px 0px 0px;
}

.SearchJobStepImg {
	margin: 19px 0px 22px 1px;
}

.SearchJobStep1Txt, .SearchJobStep1TxtHeader, .SearchJobStep2TxtHeader, .SearchJobStep3TxtHeader {
	font-family: Arial;
	font-size: 14px;
	margin: 9px 0px 10px 8px;
}

.SearchJobStep2TxtHeader {
	margin: 17px 0px 8px 8px;
}

.SearchJobStep3TxtHeader {
	margin: 13px 0px 12px 8px;
}

.SearchBar {
	width: 696px;
	height: 50px;
	background-color: #F3F3F3;
	margin: 0px 0px 10px 0px;
}

.SearchBarTxt {
	font-family: Arial;
	font-size: 14px;
	margin: 15px 0px 0px 17px;
	font-weight: bold;
	float: left;
}

.SearchBarSelect {
	float: left;
	border: 1px solid #CCCCCC;
	margin: 13px 0px 0px 4px;
	width: 125px;
}

.SearchBarInput {
	float: left;
	border: 1px solid #CCCCCC;
	margin: 13px 0px 0px 7px;
	width: 69px;
}

.SearchBarBtn {
	float: left;
	margin: 11px 0px 0px 12px;
}

.SearchBarBtn input {
	background: url("images/submit_btn.gif")/*tpa=http://images.ebizautos.com/penskecorporatesite/images/submit_btn.gif*/ no-repeat scroll 0 0 transparent;
	border: 0px;
	width: 70px;
	height: 25px;
	padding: 0px;
	margin: 0px;
	cursor: pointer;
}

.UsaFlash {
	margin: 30px 0px 60px 0px;
}

.ContinueToStep3, .ContinueToStep4, .SubmitApplication, .SubmitFeedback {
	text-align: center;
}

.ContinueToStep3 input {
	background: url("images/continue_to_step3_btn.gif")/*tpa=http://images.ebizautos.com/penskecorporatesite/images/continue_to_step3_btn.gif*/ no-repeat scroll 0 0 transparent;
	border: 0px;
	height: 52px;
	width: 312px;
	margin: 25px auto 44px auto;
	cursor: pointer;
}

.ContinueToStep4 input {
	background: url("images/continue_to_step4_btn.gif")/*tpa=http://images.ebizautos.com/penskecorporatesite/images/continue_to_step4_btn.gif*/ no-repeat scroll 0 0 transparent;
	border: 0px;
	height: 52px;
	width: 312px;
	margin: 25px auto 44px auto;
	cursor: pointer;
}

.SubmitApplication input {
	background: url("images/submit_application_btn.gif")/*tpa=http://images.ebizautos.com/penskecorporatesite/images/submit_application_btn.gif*/ no-repeat scroll 0 0 transparent;
	border: 0px;
	height: 52px;
	width: 312px;
	margin: 25px auto 44px auto;
	cursor: pointer;
}
.SubmitFeedback input {
	background: url("images/submit_feedback_btn.gif")/*tpa=http://images.ebizautos.com/penskecorporatesite/images/submit_feedback_btn.gif*/ no-repeat scroll 0 0 transparent;
	border: 0px;
	height: 42px;
	width: 213px;
	margin: 25px auto 44px auto;
	cursor: pointer;
}

.DealerShipTablDiv {
	width: 698px;
}

.DealerShipTablTitle {
	font-weight: bold;
	font-size: 13px;
	margin: 5px 0 5px 8px;
}

.DealerShipTabl {
	width: 698px;
	font-size: 12px;
	border: 0px;
	margin-bottom: 10px;
}

.DealerShipTabl td{
	background-color: #f3f3f3;
}

.SelectedDealershipList {
	margin: 13px 0px 13px 26px;	
	line-height: 20px;
}

.DealerShipTablTdHead {
	width: 40px;
	height: 30px;
	text-align:center; 
}
.DealerShipTablTdDistance {
	width: 100px;
	height: 40px;
}

.DealerShipTablTdDealership {
	margin-left: 10px;
}

.DealerShipTablTdStarburst {
	float:right;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.DealerShipTablTdDealershipStarburst {
	vertical-align:middle;
	float:left;
	width:435px;
	margin-top:10px;
	margin-bottom:5px;
}

.DealerShipTablFooterStarburst {
	margin-left: 15px;
}
.DealerShipTablFooterStarburstMark {
	float:left;
	width:35px;
}
.DealerShipTablFooterStarburstDesc {
	 padding-top:5px;
	 font-weight:bold;
	 position:relative;
}

.DepartmentTablTd {
	text-align: center;
	width: 40px;
	height: 40px;
	vertical-align: top;
}

.DepartmentTablTd2 {
	text-align: center;
	height: 40px;
	vertical-align: top;
}

.DepartmentTablTd input {
}

.DepartmentTablTd div {
	height: 9px;
	
}

.DepartmentTablDealership {	
	margin: 11px 0px 0px 10px;
	float: left;
}

.DepartmentDetailsLink 
{
	float: right;
	text-decoration: underline;
	cursor: pointer;
	color: #980000;
	margin: 11px 15px 0px 0px;
}

.DepartmentDetailsTxt {
	margin: 20px 20px 20px 10px;
	text-align: left;
}

.SearchJobStep4Text1 {
	font-size: 12px;
	font-weight: bold;
	margin: 5px 0px 10px 10px;
}

.SearchJobStep4Text2 {
	font-size: 11px;
	margin: 5px 0px 10px 10px;
}

.SearchJobStep4Text3 {
	font-size: 12px;
	margin: 10px 0px 0px 10px;
}

.SearchJobStep4InputSectionLeft {
	width: 90px;
	margin: 20px 0px 19px 23px;
	float: left;
	text-align: right;
}

.SearchJobStep4InputHeader, .SearchJobStep4Input {
	height: 30px;
}

.SearchJobStep4InputSectionRight {
	float: left;
	text-align: left;
	margin: 18px 0px 0px 10px;
}

.SearchJobStep4Attach, .SearchJobStep4AttachHeader {
	height: 35px;
	position: relative;
}

div.atachfile {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
	width: 400px;
}

input.file {
	position: relative;
	text-align: right;
	-moz-opacity:0 ;
	filter:alpha(opacity: 0);
	opacity: 0;
	z-index: 2;
}


.SearchJobStep4Input input {
	border: 1px solid #CCCCCC;
	width: 200px;
	height: 17px;
	text-indent: 2px;
}

.SearchJobStep4AttachLeft {
	width: 120px;
	margin: 20px 0px 11px 10px;
	float: left;
	text-align: right;
}

.SearchJobStep4AttachRight {
	float: left;
	text-align: left;
	margin: 18px 0px 0px 10px;
}

.SearchJobStep4Attach input {
	border: 1px solid #CCCCCC;
	width: 270px;
	height: 17px;
	margin-right: 2px;
}

.SearchJobStep4Attach img {
	vertical-align: top;
}

.SearchJobStep4Comment {
	margin: 5px 0px 0px 20px;
}

.SearchJobStep4CommentHeader {
	margin: 0px 0px 0px 20px;
	
}

.SearchJobStep4Comment textarea {
	border: 1px solid #CCCCCC;
	width: 669px;
	height: 137px;
}	

.ThankYouHeader {
	font-family: Arial;
	font-size: 14px;
	margin: 24px 0px 25px 0px;
	font-weight: bold;
}

.ThankYouDealershipList {
	line-height: 20px;
	min-height: 230px;
	margin-bottom: 50px;
}

.SiteFeedbackThankYou {
	margin: 0px 3px 0px 13px;
}

.SiteFeedbackHeader {
	font-family: Arial;
	font-size: 14px;
	margin: 18px 0px 27px 12px;
}
.SiteFeedbackThankYouText {
	font-style: italic;
	font-family: Arial;
	font-size: 14px;
	margin: 21px 0px 199px 0px;
}

.SiteFeedback input.text{
	border: 1px solid #999999;
	width: 200px;
	height: 17px;
	margin-left: 5px;
	padding-left: 5px;
}
.SiteFeedback input {
	vertical-align: middle;
	margin: 0px 3px 0px 0px;
}

.SiteFeedback textarea{
	border: 1px solid #999999;
	width: 615px;
	height: 91px;
	margin: 17px 0px 0px 26px;
}

.SiteFeedbackUserName, .SiteFeedbackHowNavigate, .SiteFeedbackHandheldDevice, .SiteFeedbackDidSubmit,
.SiteFeedbackWhatFavorite, .SiteFeedbackWhatImprove, .SiteFeedbackComparison, .SiteFeedbackEmail {
	margin: 0px 0px 25px 24px;
}
.SiteFeedbackHowFind {
	margin: 0px 0px 38px 24px;
}

.SearchEngine, .SiteFeedbackDealership, .SiteFeedbackFriend, .SiteFeedbackSocialMedia {
	margin: 15px 0px 22px 20px;
}

.HowNavigate, .DidSubmitDifficulty, .HandheldDevice {
	margin: 15px 0px 0px 20px;
}

.Comparison {
	margin: 15px 0px 36px 20px;
}

.SubmitFeedback input {
	margin: 16px 0px 20px 0px;
}

.floatL {
	float: left;
	margin-right: 11px;
}

#userEmail {
	margin-left: 6px;
}

.SearchJobNoResult {
	font-size: 12px;
	margin-left: 20px;
	margin-right: 5px;
}
.SearchJobNoResult .Title {
	color: #B92024;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}
.SearchJobNoResult .Bold {
	color: #333333;
	font-weight: bold;
}
.SearchJobNoResult .Note {
	font-size: 11px;
	color: #666666;
	margin-top:-5px;
}
.SearchJobNoResult .Red {
	color: #BD1719;
}



.VehicleSearchContent {
	background-color: #1B1B1B;
	margin-left:5px;
	width: 190px;
	height: 227px;
}
.VehicleSearchContent .Title {
	height: 20px;
	width: 200px;
	font-size: 18px;
	font-weight: bold;
	font-family: 'Trebuchet MS';
	color: #FFFFFF;
	margin-left: 20px;
	padding-top: 11px;
	line-height: 22px;
	padding-bottom: 14px;
}
.VehicleSearchContent .Cond {
	font-size: 14px;
	line-height: 14px;
	font-weight: bold;
	font-family: Arial;
	color: #FFFFFF;
	padding-left: 16px;
	margin-bottom: 6px;
	margin-left: 0;
}
.VehicleSearchContent .Radio {
	height: 12px;
	width: 12px;
	background-image: url('../../2-images.zibe.com/portals/penskecars/homepage/vehiclesearch/radio_bg.png')/*tpa=http://2-images.zibe.com/portals/penskecars/homepage/vehiclesearch/radio_bg.png*/;
	display: inline-block;
	cursor: pointer;
	margin-right: 5px;
}
.VehicleSearchContent .RadioChecked {
	background-position: -17px;
}
.VehicleSearchContent .RadioInactive {
	background-position: -34px;
	cursor: default;
}
.VehicleSearchContent .FindMyCar {
	display: block;
	position: static;
	margin-left: 15px;
	padding-top: 5px;
	cursor: pointer;
	display: block;
	clear: both;
}








/* Component containers
----------------------------------*/
.ui-widget-content { border: 1px solid #aaaaaa/*{borderColorContent}*/; background: #ffffff/*{bgColorContent}*/ ; color: #222222/*{fcContent}*/; }
.ui-widget-content a { color: #222222/*{fcContent}*/; }
.ui-widget-header { border: 1px solid #aaaaaa/*{borderColorHeader}*/; background: #cccccc/*{bgColorHeader}*/; color: #222222/*{fcHeader}*/; font-weight: bold; }
.ui-widget-header a { color: #222222/*{fcHeader}*/; }

/* Interaction states
----------------------------------*/
.ui-state-default { border: 1px solid #d3d3d3/*{borderColorDefault}*/; background: #e6e6e6/*{bgColorDefault}*/; font-weight: normal/*{fwDefault}*/; color: #555555/*{fcDefault}*/; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #555555/*{fcDefault}*/; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus { border: 1px solid #999999/*{borderColorHover}*/; background: #dadada/*{bgColorHover}*/; font-weight: normal/*{fwDefault}*/; color: #212121/*{fcHover}*/; }
.ui-state-hover a, .ui-state-hover a:hover { color: #212121/*{fcHover}*/; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active { border: 1px solid #aaaaaa/*{borderColorActive}*/; background: #ffffff/*{bgColorActive}*/; font-weight: normal/*{fwDefault}*/; color: #212121/*{fcActive}*/; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #212121/*{fcActive}*/; text-decoration: none; }
.ui-widget :active { outline: none; }

.ui-slider { position: relative; text-align: left; z-index: 5004;}
.ui-slider .ui-slider-handle { 
		position: absolute; 
		z-index: 5004; 
		width: 16px;
		height: 64px; 
		cursor: default; 
}
.ui-slider .ui-slider-range { position: absolute; z-index: 5004; font-size: .7em; display: block; border: 0; background-position: 0 0; }

.ui-slider-vertical .ui-slider-handle {left: 1px; margin-left: 0; margin-bottom: 0; z-index: 5004; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; z-index: 5004; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; z-index: 5004; }
.ui-slider-vertical .ui-slider-range-max { top: 0; z-index: 5004; }

.ui-widget-content {
	border: none;
}


.hidden {
	visiblity: hidden;
	display: none;
}






.findCarsYearSelectorsContainer {
	margin-left: 15px;
	margin-bottom: 5px;
	height: 24px;
	overflow: visible;
	position: relative;
	text-align: left;
	z-index: 5006;
}
.findCarsMakeSelectorsContainer {
	margin-left: 15px;
	margin-bottom: 5px;
	height: 24px;
	overflow: visible;
	position: relative;
	text-align: left;
	z-index: 5005;
}
.findCarsModelSelectorsContainer {
	margin-left: 15px;
	margin-bottom: 5px;
	height: 24px;
	overflow: visible;
	position: relative;
	text-align: left;
	z-index: 5004;
}
.findCarsPriceSelectorsContainer {
	margin-left: 15px;
	margin-bottom: 5px;
	height: 24px;
	overflow: visible;
	position: relative;
	text-align: left;
	z-index: 5002;
}

.selectBackground {
	background-color:White;
}
.selectorLabel {
	font-size: 14px;
	font-family: Trebuchet MS, Arial;
	font-weight: bold;
	top: 10px;
}

.selectorWrapper {
	font-size: 13px;
	font-family: Arial;
	font-weight: normal;
	color: #333333;
	top: 8px;
	background-repeat: no-repeat;
	height: 24px;
	cursor: pointer;	
	padding-top: 5px;
}

#FindYourCarYearDropdown {
	left: 0px;
	width: 160px;
}
#FindYourCarMakeDropdown {
	left: 0px;
	width: 160px;
}
#FindYourCarModelDropdown {
	left: 0px;
	width: 160px;
}
#FindYourCarPrice1Dropdown {
	left: 157px;
	width: 160px;
}

#FindYourCarYearDropdown,
#FindYourCarMakeDropdown, 
#FindYourCarModelDropdown, 
#FindYourCarPrice1Dropdown {
	background-image: url("images/dropdown/combo_gray_closed.png")/*tpa=http://images.ebizautos.com/penskecorporatesite/images/dropdown/combo_gray_closed.png*/;
}

#FindYourCarYearDropdown.selectorHovered, 
#FindYourCarMakeDropdown.selectorHovered, 
#FindYourCarModelDropdown.selectorHovered, 
#FindYourCarPrice1Dropdown.selectorHovered {
	background-image: url("images/dropdown/combo_gray_closed_hover.png")/*tpa=http://images.ebizautos.com/penskecorporatesite/images/dropdown/combo_gray_closed_hover.png*/;
}

#FindYourCarYearDropdown .dropdown, 
#FindYourCarMakeDropdown .dropdown, 
#FindYourCarModelDropdown .dropdown,
#FindYourCarPrice1Dropdown .dropdown {
	z-index: 1001;
}

#FindYourCarYearDropdown .dropdown, 
#FindYourCarMakeDropdown .dropdown, 
#FindYourCarModelDropdown .dropdown, 
#FindYourCarPrice1Dropdown .dropdown {
	position: absolute;
	top: 0px;
	background-image: url("images/dropdown/combo_gray_opened.png")/*tpa=http://images.ebizautos.com/penskecorporatesite/images/dropdown/combo_gray_opened.png*/;
	background-repeat: no-repeat;
	height: 194px;
	width: 160px;
	overflow: hidden;
} 

#FindYourCarYearDropdown .dropdownScrollerArea, 
#FindYourCarMakeDropdown .dropdownScrollerArea, 
#FindYourCarModelDropdown .dropdownScrollerArea, 
#FindYourCarPrice1Dropdown .dropdownScrollerArea {
	position: absolute;
	right: 4px;
	top: 91px;
	height: 78px;
	width: 20px;
}

#FindYourCarYearDropdown .dropdownButtonUp, 
#FindYourCarMakeDropdown .dropdownButtonUp, 
#FindYourCarModelDropdown .dropdownButtonUp, 
#FindYourCarPrice1Dropdown .dropdownButtonUp {
	position: absolute;
	top: 4px;
	right: 4px;
	height: 20px;
	width: 20px;
}

#FindYourCarYearDropdown .dropdownButtonDown, 
#FindYourCarMakeDropdown .dropdownButtonDown, 
#FindYourCarModelDropdown .dropdownButtonDown, 
#FindYourCarPrice1Dropdown .dropdownButtonDown {
	position: absolute;
	bottom: 4px;
	right: 4px;
	height: 20px;
	width: 20px;
}

#FindYourCarYearDropdown .dropdownList, 
#FindYourCarMakeDropdown .dropdownList, 
#FindYourCarModelDropdown .dropdownList, 
#FindYourCarPrice1Dropdown .dropdownList {
	position: absolute;
	top: 0px;
	width: 47px;
	padding-top: 1px;
}

.dropdownItem {
	position: relative;
	left:1px; 
	height: 16px;
	padding: 2px 10px 2px 6px;
	z-index: 5;
	overflow: hidden;
	white-space: nowrap;
}

#FindYourCarYearDropdown .dropdownItem, 
#FindYourCarMakeDropdown .dropdownItem, 
#FindYourCarModelDropdown .dropdownItem, 
#FindYourCarPrice1Dropdown .dropdownItem {
	width: 120px;
}

.itemsHovered {
	background: #E5E8E8;
}

.itemsSelected {
	background: #3399FF;
	color: #FFFFFF;
}

.SearchCarsSubmit {
	height: 1px;
	width: 1px;	
	margin: 10px 0px 0px 177px;
	position: absolute;
	float: left;
}
.SearchCarsSubmitWarning {
	position: absolute;
	margin: 15px 0px 0px 343px;
	float: left;
	font-size: 12px;
	font-family: Arial, Trebuchet MS;
	color: red;
	display: none;
}

.initialLabel {
	padding-top: 0px;
	padding-left: 7px; 
	height: 23px;
}
