/* <RadMenu / Default> */

.RadMenu_CMS .rmRootGroup,
.RadMenu_CMS a.rmLink,
.RadMenu_CMS .rmGroup .rmText,
.RadMenu_CMS .rmLeftArrow,
.RadMenu_CMS .rmRightArrow,
.RadMenu_CMS .rmTopArrow,
.RadMenu_CMS .rmBottomArrow
{
	background-image: url('Menu/rmSprite.png')/*tpa=http://www.peabodyenergy.com/radcontrols/menu/cms/Menu/rmSprite.png*/;
	background-color: transparent;	
}

.RadMenu_CMS .rmRootGroup
{
	border: 0;
	background: none;	
}

/* <Root items> */

/* Note, postion relative is huge to get the border to work right */
.RadMenu_CMS2 .rmExpanded
{
	position: relative !important;
	z-index: 8000 !important;
}

.RadMenu_CMS,
.RadMenu_CMS a.rmLink
{
	/*font: normal 12px/23px;*/
	color: #2D4A8F;
	text-decoration: none;
}

.RadMenu_CMS a.rmLink,
.RadMenu_CMS a.rmDisabled,
.RadMenu_CMS a.rmDisabled:hover
{
	background-position: 0 -72px;
}

.RadMenu_CMS .rmFirst a.rmLink,
.RadMenu_CMS .rmFirst a.rmLink:hover,
.RadMenu_CMS .rmLast .rmText,
.RadMenu_CMS .rmLast a.rmLink:hover .rmText,
.RadMenu_CMS .rmVertical a.rmLink,
.RadMenu_CMS .rmVertical .rmText
{
	background-repeat: no-repeat;
	background-position: 0 500px;
}

.RadMenu_CMS .rmVertical .rmFirst,
.RadMenu_CMS .rmVertical .rmLast
{
	background: none;
}

.RadMenu_CMS a.rmLink:hover,
.RadMenu_CMS a.rmFocused,
.RadMenu_CMS a.rmSelected
{
	background-color: #fff;
	text-decoration: underline;
}

.RadMenu_CMS .rmHorizontal .rmRootLink span.rmText
{
	display: inline;
	padding-left: 1px;
}

.RadMenu_CMS .rmHorizontal a.rmRootLink
{
	padding-left: 0;
}

.RadMenu_CMS .rmHorizontal .rmItem > a.rmRootLink /* IE6 doesn't like width: 100% on its items. */
{
	width: 100%;
}

.RadMenu_CMS .rmHorizontal img.rmLeftImage
{
	margin: 0 -1px -1px 0;
	cursor: pointer;		
}

.RadMenu_CMS_rtl .rmHorizontal img.rmLeftImage
{
	margin: 0 0 -1px -1px;
	cursor: pointer;		
}

.RadMenu_CMS .rmVertical a.rmLink
{
	padding-top: 1px;
	padding-bottom: 1px;
}

.RadMenu_CMS .rmVertical a.rmLink:hover,
.RadMenu_CMS .rmVertical a.rmFocused,
.RadMenu_CMS .rmVertical a.rmSelected,
.RadMenu_CMS .rmVertical a.rmExpanded,
.RadMenu_CMS .rmVertical a.rmExpanded:hover
{
	padding-top: 0;
	padding-bottom: 0;
	border-style: solid;
	border-color: #828282;
	border-width: 1px 0;
}

.RadMenu_CMS .rmVertical .rmFirst a.rmLink:hover,
.RadMenu_CMS .rmVertical .rmFirst a.rmFocused,
.RadMenu_CMS .rmVertical .rmFirst a.rmSelected,
.RadMenu_CMS .rmVertical .rmFirst a.rmExpanded,
.RadMenu_CMS .rmVertical .rmFirst a.rmExpanded:hover
{
	padding-top: 1px;
	padding-bottom: 0;
	border-top-width: 0;
}

.RadMenu_CMS .rmVertical .rmLast a.rmLink:hover,
.RadMenu_CMS .rmVertical .rmLast a.rmFocused,
.RadMenu_CMS .rmVertical .rmLast a.rmSelected,
.RadMenu_CMS .rmVertical .rmLast a.rmExpanded,
.RadMenu_CMS .rmVertical .rmLast a.rmExpanded:hover
{
	padding-bottom: 1px;
	padding-top: 0;
	border-bottom-width: 0;
}

.RadMenu_CMS .rmVertical .rmItem a.rmDisabled:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	border-width: 0;
}

.RadMenu_CMS a.rmExpanded,
.RadMenu_CMS a.rmExpanded:hover
{
	background: none;
	z-index: 6000;
}

.RadMenu_CMS a.rmDisabled,
.RadMenu_CMS a.rmDisabled:hover
{
	color: #7d7d7d;
	background-color: transparent;
}

/* </Root items> */
/* Note, postion relative is huge to get the border to work right */
.RadMenu_CMS .rmExpanded
{
	position: relative !important;
	z-index: 8000 !important;
}

/* <Submenu items> */

.RadMenu_CMS .rmGroup,
.RadMenu_CMS .rmMultiColumn,
.RadMenu_CMS .rmGroup .rmVertical
{
	/*background: transparent url('Menu/rmVSprite.png') repeat-y 0 0;*/
	background: none;
	border: 1px solid #BFBEBE;
	color: #2D4A8F;
    cursor: pointer;    
    z-index: 1;
}

.RadMenu_CMS .rmTopFix,
.RadMenu_CMS .rmBottomFix,
.RadMenu_CMS .rmRoundedCorners .rmGroup .rmItem,
.RadMenu_CMS .rmRoundedCorners li.rmFirstGroupColumn .rmItem,
.RadMenu_CMS .rmRoundedCorners ul.rmHorizontal .rmFirst,
.RadMenu_CMS_Context.rmRoundedCorners .rmGroup .rmItem,
.RadMenu_CMS_Context.rmRoundedCorners ul.rmHorizontal .rmFirst
{
	background-image: url('menu/rmvsprite-1.png')/*tpa=http://www.peabodyenergy.com/radcontrols/menu/cms/Menu/rmVSprite.png*/;
	background-color: #fff; 
	background-repeat: repeat-y;
}

* html .rmRoundedCorners_CMS .rmGroup .rmItem,
* html .rmRoundedCorners_CMS ul.rmHorizontal .rmFirst
{
	background-image: url('menu/rmvsprite-1.png')/*tpa=http://www.peabodyenergy.com/radcontrols/menu/cms/Menu/rmVSprite.png*/;
	background-color: #fff; 
	background-repeat: repeat-y;
}

.RadMenu_CMS .rmRoundedCorners .rmScrollWrapContainer .rmGroup,
.RadMenu_CMS .rmRoundedCorners .rmScrollWrap .rmItem,
.RadMenu_CMS .rmRoundedCorners .rmGroupColumn .rmItem,
.RadMenu_CMS .rmRoundedCorners .rmHorizontal .rmItem,
.RadMenu_CMS .rmRoundedCorners .rmScrollWrap .rmVertical,
.RadMenu_CMS_Context.rmRoundedCorners .rmScrollWrapContainer .rmGroup,
.RadMenu_CMS_Context.rmRoundedCorners .rmScrollWrap .rmItem,
.RadMenu_CMS_Context.rmRoundedCorners .rmHorizontal .rmItem,
.RadMenu_CMS_Context.rmRoundedCorners .rmScrollWrap .rmVertical
{
	background-image: none;
}

* html .rmRoundedCorners_CMS .rmScrollWrapContainer .rmGroup,
* html .rmRoundedCorners_CMS .rmScrollWrap .rmItem,
* html .rmRoundedCorners_CMS .rmHorizontal .rmItem,
* html .rmRoundedCorners_CMS .rmScrollWrap .rmVertical
{
	background-image: none;
}

.RadMenu_CMS .rmRoundedCorners .rmGroupColumn
{
	background-color: #fff;
}

.RadMenu_CMS .rmBottomLeft,
.RadMenu_CMS .rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_CMS_Context.rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_CMS_Context.rmRoundedCorners ul.rmGroup,
.RadMenu_CMS .rmRoundedCorners ul.rmGroup,
.RadMenu_CMS .rmRoundedCorners .rmMultiColumn
{
	background-image:  url('menu/rmroundedleft-1.png')/*tpa=http://www.peabodyenergy.com/radcontrols/menu/cms/Menu/rmRoundedLeft.png*/;
	background-color: transparent; 
	background-repeat: no-repeat;
}

* html .rmRoundedCorners_CMS .rmScrollWrapContainer,
* html .rmRoundedCorners_CMS .rmGroup ul.rmGroup,
* html .rmRoundedCorners_CMS ul.rmGroup
{
	background-image:  url('menu/rmroundedleft-1.png')/*tpa=http://www.peabodyenergy.com/radcontrols/menu/cms/Menu/rmRoundedLeft.png*/;
	background-color: transparent; 
	background-repeat: no-repeat;
}

.RadMenu_CMS .rmTopRight,
.RadMenu_CMS .rmBottomRight
{
	background-image:  url('menu/rmroundedright-1.png')/*tpa=http://www.peabodyenergy.com/radcontrols/menu/cms/Menu/rmRoundedRight.png*/;
	background-color: transparent; 
	background-repeat: no-repeat;
}

.RadMenu_CMS .rmTopFix,
.RadMenu_CMS .rmBottomFix,
.RadMenu_CMS .rmRoundedCorners .rmGroup .rmFirst,
.RadMenu_CMS_Context.rmRoundedCorners .rmGroup .rmFirst,
.rmRoundedCorners_CMS .rmGroup .rmFirst
{
	border-color: #979797;
}

.RadMenu_CMS .rmRoundedCorners .rmScrollWrapContainer .rmTopFix,
.RadMenu_CMS .rmRoundedCorners .rmScrollWrapContainer .rmBottomFix,
.RadMenu_CMS_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopFix,
.RadMenu_CMS_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomFix
{
	background: #FFF;
}

* html .rmRoundedCorners_CMS .rmScrollWrapContainer .rmTopFix,
* html .rmRoundedCorners_CMS .rmScrollWrapContainer .rmBottomFix
{
	background: #FFF;
}

.RadMenu_CMS .rmRoundedCorners .rmScrollWrapContainer .rmTopArrow,
.RadMenu_CMS .rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow,
.RadMenu_CMS .rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow,
.RadMenu_CMS .rmRoundedCorners .rmScrollWrapContainer .rmRightArrow,
.RadMenu_CMS_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopArrow,
.RadMenu_CMS_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow,
.RadMenu_CMS_Context.rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow,
.RadMenu_CMS_Context.rmRoundedCorners .rmScrollWrapContainer .rmRightArrow
{
	background-color: #FFF;
	border: 0;
}

* html .rmRoundedCorners_CMS .rmScrollWrapContainer .rmTopArrow,
* html .rmRoundedCorners_CMS .rmScrollWrapContainer .rmBottomArrow,
* html .rmRoundedCorners_CMS .rmScrollWrapContainer .rmLeftArrow,
* html .rmRoundedCorners_CMS .rmScrollWrapContainer .rmRightArrow
{
	background-color: #FFF;
	border: 0;
}

.RadMenu_CMS_rtl .rmBottomLeft,
.RadMenu_CMS_rtl .rmRoundedCorners ul.rmGroup,
.RadMenu_CMS_rtl .rmRoundedCorners .rmMultiColumn,
.RadMenu_CMS .rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_CMS .rmScrollWrapContainer .rmBottomLeft,
.rmRoundedCorners.RadMenu_CMS_Context_rtl ul.rmGroup,
.RadMenu_CMS_Context.rmRoundedCorners .rmScrollWrapContainer
{
	background-image: url('menu/rmroundedleft_rtl-1.png')/*tpa=http://www.peabodyenergy.com/radcontrols/menu/cms/Menu/rmRoundedLeft_rtl.png*/;
}

.RadMenu_CMS_rtl .rmTopRight,
.RadMenu_CMS_rtl .rmBottomRight
{
	background-image: url('menu/rmroundedright_rtl-1.png')/*tpa=http://www.peabodyenergy.com/radcontrols/menu/cms/Menu/rmRoundedRight_rtl.png*/;
}

.RadMenu_CMS_rtl li.rmTopFix,
.RadMenu_CMS_rtl li.rmBottomFix,
.RadMenu_CMS_rtl .rmRoundedCorners .rmGroup .rmItem,
.rmRoundedCorners.RadMenu_CMS_Context_rtl .rmGroup .rmItem
{
	background-position: 101% 0;
}

.RadMenu_CMS .rmSlide .rmScrollWrap
{
	background-image: none;
}

.RadMenu_CMS_rtl .rmGroup,
.RadMenu_CMS_rtl .rmMultiColumn,
.RadMenu_CMS_rtl .rmGroup .rmVertical
{
	background-position: 100% 0;
}

.RadMenu_CMS .rmRootGroup li.rmItem .rmGroup
{
	padding: 18px 0;
}

.RadMenu_CMS .rmRootGroup .rmHorizontal
{
	background-image: none;
}

.RadMenu_CMS .rmScrollWrap .rmVertical
{
	border: 0;
}

.RadMenu_CMS .rmRoundedCorners .rmScrollWrapContainer li.rmItem,
.RadMenu_CMS_Context.rmRoundedCorners .rmScrollWrapContainer li.rmItem,
.rmRoundedCorners_CMS .rmScrollWrapContainer li.rmItem
{
	background: none;
}

.RadMenu_CMS .rmGroup .rmItem a.rmLink,
.RadMenu_CMS .rmGroup .rmItem a.rmLink:hover,
.RadMenu_CMS .rmGroup .rmItem a.rmFocused,
.RadMenu_CMS .rmGroup .rmItem a.rmSelected,
.RadMenu_CMS .rmGroup .rmItem a.rmExpanded
{
	padding-top: 0;
	padding-bottom: 0;
	border: 0;
	cursor: pointer;
}

.RadMenu_CMS .rmGroup .rmLast a.rmLink,
.RadMenu_CMS .rmGroup .rmLast a.rmLink:hover,
.RadMenu_CMS .rmGroup .rmLast a.rmFocused,
.RadMenu_CMS .rmGroup .rmLast a.rmSelected,
.RadMenu_CMS .rmGroup .rmLast a.rmExpanded
{
	padding-bottom: 1px;
}

.RadMenu_CMS .rmGroup a.rmLink,
.RadMenu_CMS .rmGroup .rmText,
.RadMenu_CMS .rmGroup .rmItem a.rmDisabled,
.RadMenu_CMS .rmGroup .rmItem a.rmDisabled:hover,
.RadMenu_CMS .rmGroup .rmItem a.rmDisabled .rmText,
.RadMenu_CMS .rmGroup .rmItem a.rmDisabled:hover .rmText
{
	background-position: 0 500px;
	background-repeat: no-repeat;
	background-color: transparent;
}

.RadMenu_CMS .rmGroup a.rmLink:hover,
.RadMenu_CMS .rmGroup a.rmFocused,
.RadMenu_CMS .rmGroup a.rmSelected,
.RadMenu_CMS .rmGroup a.rmExpanded
{
	background-position: 0;
	/*
	background-position: 0 -168px;
*/
}

.RadMenu_CMS .rmGroup a.rmLink:hover .rmText,
.RadMenu_CMS .rmGroup a.rmFocused .rmText,
.RadMenu_CMS .rmGroup a.rmSelected .rmText,
.RadMenu_CMS .rmGroup a.rmExpanded .rmText
{
	background-position: 0;
	/*background-position: 100% -192px;*/
}

/* <expand arrows> */

.RadMenu_CMS .rmGroup .rmExpandRight,
.RadMenu_CMS .rmGroup .rmExpandDown,
.RadMenu_CMS .rmGroup .rmItem a.rmDisabled .rmExpandRight,
.RadMenu_CMS .rmGroup .rmItem a.rmDisabled .rmExpandDown,
.RadMenu_CMS .rmGroup .rmItem a.rmDisabled:hover .rmExpandRight,
.RadMenu_CMS .rmGroup .rmItem a.rmDisabled:hover .rmExpandDown
{
	background-position: 100% -216px;
}

.RadMenu_CMS .rmGroup a.rmLink:hover .rmExpandRight,
.RadMenu_CMS .rmGroup a.rmFocused .rmExpandRight,
.RadMenu_CMS .rmGroup a.rmSelected .rmExpandRight,
.RadMenu_CMS .rmGroup a.rmExpanded .rmExpandRight,
.RadMenu_CMS .rmGroup a.rmLink:hover .rmExpandDown,
.RadMenu_CMS .rmGroup a.rmFocused .rmExpandDown,
.RadMenu_CMS .rmGroup a.rmSelected .rmExpandDown,
.RadMenu_CMS .rmGroup a.rmExpanded .rmExpandDown
{
	background-position: 100% -240px;
}

.RadMenu_CMS .rmGroup a.rmDisabled:hover .rmExpandRight,
.RadMenu_CMS .rmGroup a.rmDisabled:hover .rmExpandDown
{
	background-image: url('Menu/rmSprite.png')/*tpa=http://www.peabodyenergy.com/radcontrols/menu/cms/Menu/rmSprite.png*/;
	background-position: 100% -216px;
}

/* </expand arrows> */

/* <rtl> */

.RadMenu_CMS_rtl a.rmLink,
.RadMenu_CMS_rtl .rmRootGroup a.rmDisabled
{
	background-position: 100% -96px;
}

.RadMenu_CMS_rtl .rmGroup a.rmDisabled
{
	background: none;
}

.RadMenu_CMS_rtl .rmText
{
	background-position: 0 -96px;
}

.RadMenu_CMS_rtl .rmVertical a.rmExpanded .rmText,
.RadMenu_CMS_rtl .rmVertical a.rmExpanded:hover .rmText
{
	background-position: 0 500px;
	background-repeat: no-repeat;
}

.RadMenu_CMS_rtl .rmGroup a.rmLink:hover,
.RadMenu_CMS_rtl .rmGroup a.rmFocused,
.RadMenu_CMS_rtl .rmGroup a.rmSelected,
.RadMenu_CMS_rtl .rmGroup a.rmExpanded
{
	background-position: 100% -264px;
}

.RadMenu_CMS_rtl .rmGroup a.rmLink:hover .rmText,
.RadMenu_CMS_rtl .rmGroup a.rmFocused .rmText,
.RadMenu_CMS_rtl .rmGroup a.rmSelected .rmText,
.RadMenu_CMS_rtl .rmGroup a.rmExpanded .rmText
{
	background-position: 0 -288px;
}

.RadMenu_CMS_rtl .rmGroup .rmExpandLeft
{
	background-position: 0 -312px;
}

.RadMenu_CMS_rtl .rmGroup a.rmLink:hover .rmExpandLeft,
.RadMenu_CMS_rtl .rmGroup a.rmFocused .rmExpandLeft,
.RadMenu_CMS_rtl .rmGroup a.rmSelected .rmExpandLeft,
.RadMenu_CMS_rtl .rmGroup a.rmExpanded .rmExpandLeft
{
	background-position: 0 -336px;
}

/* </rtl> */

/* </Submenu items> */

/* <Submenu offsets (Default - specific, overlapping submenus)> */

.RadMenu_CMS .rmSlide
{
	background: url(../../../images/menu-dropdown-background.png)/*tpa=http://www.peabodyenergy.com/images/menu-dropdown-background.png*/ repeat-x scroll center bottom #f9f9fb;
    /*margin: -1px 0 0 0;*/
    margin: 0;
}

.RadMenu_CMS .rmVertical .rmSlide,
.RadMenu_CMS .rmSlide .rmSlide,
.RadMenu_CMS_Context .rmGroup .rmSlide
{
	margin: 0 0 0 -5px;
}

.RadMenu_CMS_rtl .rmSlide
{
	margin: 0 0 0 0;
}

.RadMenu_CMS_rtl .rmFirst .rmSlide
{
	margin-left: 1px;
}

.RadMenu_CMS_rtl .rmVertical .rmSlide,
.RadMenu_CMS_rtl .rmSlide .rmSlide,
.RadMenu_CMS_Context_rtl .rmGroup .rmSlide
{
	margin: 0 0 0 5px;
}

/* </Submenu offsets> */

/* <Scrolling arrows> */

.RadMenu_CMS .rmLeftArrow,
.RadMenu_CMS .rmRightArrow
{
	background-color: #E6E6E6;
}

.RadMenu_CMS .rmLeftArrow { background-position: -8px -312px; border-right: 1px solid #828282; }
.RadMenu_CMS .rmRightArrow { background-position: -482px -216px; border-left: 1px solid #828282; }

.RadMenu_CMS .rmTopArrow,
.RadMenu_CMS .rmBottomArrow,
.RadMenu_CMS .rmGroup .rmLeftArrow,
.RadMenu_CMS .rmGroup .rmRightArrow
{
	background-color: #E6E6E6;
}

.RadMenu_CMS .rmTopArrow { background-position: 50% -367px; border-bottom: 1px solid #828282; }
.RadMenu_CMS .rmBottomArrow { background-position: 50% -391px; border-top: 1px solid #828282; }

/* </Scrolling arrows> */

/* <Separators> */

.RadMenu_CMS .rmHorizontal .rmSeparator .rmText,
.RadMenu_CMS .rmVertical .rmHorizontal .rmSeparator .rmText
{
	height: 22px;
	margin: 1px 0 0;
	width: 1px;
	background-color: #A8A8A8;
}

.RadMenu_CMS_Context .rmSeparator .rmText,
.RadMenu_CMS .rmHorizontal .rmGroup .rmSeparator .rmText,
.RadMenu_CMS .rmVertical .rmHorizontal .rmGroup .rmSeparator .rmText
{
	background-color: transparent;
	background-position: 0 -406px;
}

/* </Separators> */

/* </RadMenu / Default> */