




    
    
        
        
        










        .locationDropDown{position:relative;}.locationDropDown select{background:none repeat scroll 0 0 #fff;border:1px solid #ddd;border-radius:10px;box-shadow:none;box-sizing:border-box;color:#d3d3d3;font-size:12px;height:30px;line-height:30px;outline:medium none;padding:5px 10px;}.locationDropDown select[disabled]{background-color:gray;}.locationDropDown select:focus{border-color:black;}.locationDropDown .country{width:100%;margin-bottom:5px;}.locationDropDown .stateProvince,.locationDropDown .city{width:47%;float:left;}.locationDropDown .stateProvince{display:none;float:left;}.locationDropDown .city{float:right;}.locationDropDown .stateProvince.active{display:block;}.locationContainer select.hasError{background-color:#efd0d6;border-color:#cb2b59;}.lang_ru_RU .locationContainer .stateProvince{width:58%;}.lang_ru_RU .locationContainer .city{width:36%;}.locationDropDown select{border-color:#ddd;color:#888;}.locationDropDown select[disabled]{background-color:#d9d9d9;}.locationDropDown select:focus{border-color:#4882d0;}.locationContainer select.hasError{background-color:#efd0d6;border-color:#cb2b59;}#siteContainer{margin:0 auto;width:1060px;}#mainContentContainer{float:left;margin:0;width:1060px;}#primaryContainer{margin:0;width:1060px;padding-bottom:30px;}#contentArea{height:auto!important;min-height:850px;}#mainPromo{display:block;height:295px;position:relative;width:1060px;}#mainPromoNav{position:absolute;right:77px;top:130px;}#mainPromoNav a.prev,#mainPromoNav a.next{position:absolute;display:block;background:url(../../images/corporateSprite.png)/*tpa=http://www.starwoodhotels.com/corporate/images/corporateSprite.png*/ -4px -424px no-repeat;width:26px;height:36px;}#mainPromoNav a.prev{top:0;right:3px;background-position:-4px -512px;}#mainPromoNav a.next{top:0;left:0;background-position:-4px -556px;}#mainPromoNav a.prev:hover{background-position:-4px -600px;}#mainPromoNav a.next:hover{background-position:-4px -644px;}#promoImageContainer{position:relative;}#promoImageContainer li{position:absolute;display:none;}#promoImageContainer li.show{display:block;}#promoImageContainer li img{height:295px;width:1060px;}.hpSearchForm{font-size:11px;top:-360px;width:800px;}#userNavContainer{top:-295px;}#headerContainer #logoContainer{position:relative;top:-285px;}#crisisMessageContainer{background:url(../../images/homepage/crisisIcon.gif)/*tpa=http://www.starwoodhotels.com/corporate/images/homepage/crisisIcon.gif*/ no-repeat 30px 20px #ebeff2;font-size:14px;margin:30px 35px;min-height:40px;padding:20px;}#crisisMessageContainer div{margin:0 0 0 70px;}#crisisMessageContainer h4,#crisisMessageContainer a{color:#ef4643;}#crisisMessageContainer h4,#crisisMessageContainer h4 a{font:16px Arial,Verdana,Helvetica,sans-serif;text-transform:none;}#crisisMessageContainer h4,#crisisMessageContainer p{margin:0;}.hpSearchForm{float:left;position:absolute;width:210px;top:70px;margin:5px 0 0 33px;padding:15px 15px 15px 15px;background-color:#FFF;-moz-box-shadow:0 0 2px 1px #BABABA;-webkit-box-shadow:0 0 2px 1px #BABABA;box-shadow:0 0 2px 1px #BABABA;}.hpSearchForm .fnbHeader{color:#464c50;font-family:HelveticaNeueCn,Arial,Verdana,Helvetica,sans-serif;font-size:23px;text-transform:uppercase;margin:0 0 10px 0;}.hpSearchForm .dateFields input{width:84px;padding:5px 0 5px 5px;color:#888;}.calenderIcon a img{cursor:pointer;}.hpSearchForm .checkInDates,.hpSearchForm .checkOutDates,.hpSearchForm .locationContainer,.hpSearchForm .fnbQuestion,.hpSearchForm .calenderIcon,.hpSearchForm .bestRateContainer,.hpSearchForm .actionButton{float:left;}.hpSearchForm .checkInDates,.hpSearchForm .checkOutDates{width:90px;margin:0 5px 0 0;}.hpSearchForm .checkOutDates{margin-right:3px;}.hpSearchForm .checkInDates label,.hpSearchForm .checkOutDates label{color:#888;font-size:12px;}.hpSearchForm .locationContainer{width:185px;margin:0 5px 0 0;}.hpSearchForm .fnbQuestion{width:20px;padding-top:5px;z-index:1;}.hpSearchForm .calenderIcon{width:20px;padding-top:18px;}.hpSearchForm .bestRateContainer{width:115px;margin:3px 0 0 0;}.hpSearchForm .actionButton{margin-top:3px;float:right;}.hpSearchForm .actionButton button{width:100%;}.hpSearchForm .stateProvince{margin-right:0;}.hpSearchForm .locationContainer .error-container{left:106%;top:-21px;}.hpSearchForm.nonRoman .locationContainer .error-container{top:-15px;}.country,.stateProvince,.city{margin-bottom:5px;}.spacer{height:5px;}#ysearchinput{padding:5px 0 5px 5px;width:179px;color:#888;}.popUpError{position:relative;z-index:9052;}.popUpErrorHeader .popUpErrorClose{color:#4882D0;font-weight:bold;text-decoration:none;cursor:pointer;padding-right:5px;width:160px;}.popUpError #errorContainer{background:none repeat scroll 0 0 #EBEFF2;border:5px solid #C5CED8;padding:10px;text-align:left;height:100px;left:255px;position:absolute;top:-16px;width:180px;z-index:20;box-shadow:0 0 5px 1px rgba(0,0,0,0.4);}.popUpError .popUpErrorHeader{display:block;}.popUpErrorHeader{background:url("../../images/icons/toolTipClose.png")/*tpa=http://www.starwoodhotels.com/corporate/images/icons/toolTipClose.png*/ no-repeat scroll right center #EBEFF2;color:#4882D0;cursor:pointer;float:right;font-size:12px;font-weight:bold;padding:0 20px 0 0;text-align:right;text-transform:uppercase;width:160px;}#errorMessaging,.topError{color:#ef4643;display:inline-block;font-size:14px;font-weight:normal;list-style:none;padding:5px;}#chinaStateProvince,#japanStateProvince{display:none;}#stateProvince{width:140px;}#country,#stateProvince{max-width:210px;}.geoSuggestDropDown{position:absolute;z-index:9050;}.geoSuggestDropDown .yui-ac-content{position:absolute;left:0;top:-12px;width:30em;background:#c5ced8;overflow:hidden;text-align:left;z-index:9050;}.geoSuggestDropDown .yui-ac-shadow{position:absolute;left:0;top:-12px;background:#444;z-index:9049;}.geoSuggestDropDown ul{padding:0;margin:5px 7px;width:100%;}.geoSuggestDropDown li{padding:3px 8px;white-space:normal;cursor:pointer;color:#173955;font:13px/15px normal Arial,Verdana,Helvetica,sans-serif;}.geoSuggestDropDown li div.lastLocation{border-bottom:solid 1px #173955;padding-bottom:3px;}.geoSuggestDropDown li.yui-ac-highlight{background:url("../../images/icons/arrowRightBlue.png")/*tpa=http://www.starwoodhotels.com/corporate/images/icons/arrowRightBlue.png*/ no-repeat left center transparent;color:#5087d1;text-decoration:none;}.daysoftheweek{color:#545454;}.calendarHolderIframe{border:1px solid #c5ced8;}* html .calendarHolderIframe{width:454px;height:311px;}.calendarHolder{background-color:#ebeff2;}.calendarHolder{font-family:Arial,Helvetica,sans-serif;border:4px solid #c5ced8;}* html .calendarHolder{border-right-width:4px;border:4px solid #c5ced8;}.calendarDiv{border:0 solid #d9dcdf;}.calendarToolTip{font-family:Arial,Helvetica,sans-serif;}.closeLink a{background:url(../../images/icons/toolTipClose.png)/*tpa=http://www.starwoodhotels.com/corporate/images/icons/toolTipClose.png*/ no-repeat right;}.resetLink a{font-weight:bold;font-size:11px;}.closeLink{padding-right:0;}.closeLink a,.closeLink a:active,.closeLink a:link,.closeLink a:visited,.closeLink a:hover{color:#4882d0;font-weight:bold;font-size:11px;padding-right:20px;}.calendarNavigationPrevious{background:url(../../images/calendar/leftArrow.gif)/*tpa=http://www.starwoodhotels.com/corporate/images/calendar/leftArrow.gif*/ no-repeat left;width:5px;height:10px;}.calendarNavigationNext{background:url(../../images/calendar/rightArrow.gif)/*tpa=http://www.starwoodhotels.com/corporate/images/calendar/rightArrow.gif*/ no-repeat right;width:5px;height:10px;}.calendarHeader{background-color:#888;}.available a,.available a:link,.available a:visited{padding:0;margin:0;text-decoration:none;display:block;}.menuHolder .travelDateHolder{color:#4d4d4d;color:#888;font-weight:bold;line-height:normal;}.menuHolder .travelDateHolder ol .checkInInstructions .resetDateLink,.menuHolder .travelDateHolder ol .checkOutInstructions .resetDateLink{font-size:11px;color:#4882d0;font-weight:bold;text-transform:uppercase;}.menuHolder .travelDateHolder ol li.active{background-color:#FFF;padding:7px 0 5px 10px;border:1px solid #e3e7e9;}div.menuHolder div.travelDateHolder ol.instructions .checkInInstructions.active{font-size:16px;}div.menuHolder div.travelDateHolder ol.instructions .checkOutInstructions.active{font-size:16px;}div.menuHolder div.travelDateHolder ol.instructions .submitInstructions.active{font-size:16px;}.menuHolder .travelDateHolder ol .checkInInstructionsActive{color:#4882d0;font-weight:bold;font-size:16px;}.menuHolder .travelDateHolder ol .checkOutInstructionsActive{color:#0d293f;font-weight:bold;font-size:16px;}.menuHolder .travelDateHolder ol .submitInstructionsActive{color:#888;font-weight:bold;font-size:16px;}.menuHolder .travelDateHolder ol #submitInstructions *{display:inline;}.menuHolder .buttonLink{margin:3px 0 0 10px;}.menuHolder .continueButton{background-color:transparent;}.menuHolder .continueButton a,.menuHolder .continueButton a:visited,.menuHolder .continueButton a:active,.menuHolder .continueButton a:hover,.menuHolder .continueButton a:link{background:url(../../images/searchBtnArrow.gif)/*tpa=http://www.starwoodhotels.com/corporate/images/searchBtnArrow.gif*/ no-repeat scroll right center #4A78B4;border:medium none;color:white;cursor:pointer;vertical-align:inherit;text-decoration:none;text-transform:uppercase;padding:3px 25px 3px 25px;margin-top:3px;}div.menuHolder div.travelDateHolder ol.instructions .submitInstructions .buttonLink,div.menuHolder div.travelDateHolder ol.instructions .submitInstructions .buttonLink a{font-size:16px!important;font-weight:normal;}.menuHolder .buttonLink a,.menuHolder .buttonLink a:link,.menuHolder .buttonLink a:visited,.menuHolder .buttonLink a:active,.menuHolder .buttonLink a:hover{border:none;text-transform:uppercase;}.calendarToolTip{border:1px solid #dbd7c8;font-weight:bold;font-size:11px;}.checkInToolTip{color:#4882d0;}.checkOutToolTip{color:#0d293f;}.calendarHolder .calendarTableInner a,.calendarHolder .calendarTableInner a:link,.calendarHolder .calendarTableInner a:active,.calendarHolder .calendarTableInner a:visited,.calendarHolder .calendarTableInner a:hover{color:#FFF;}.calendarContainer.stayCalendar{background-color:#ebeff2;border:4px solid #c5ced8;}.calendarContainer.stayCalendar .calendarBody{margin:10px 15px 2px;}.calendarContainer.stayCalendar .calendarContainerInner{background-color:#ebeff2;padding:4px;}.calendarContainer.stayCalendar .calendarMonth{border:1px solid #DAE1E5;}.calendarContainer.stayCalendar .lastMonth{margin-right:0;}.calendarContainer.stayCalendar .calendarMonthHeader{background-color:#888;}.calendarContainer.stayCalendar .calendarHeader{padding-top:3px;}.calendarContainer.stayCalendar .calendarBody{margin-top:5px;}.calendarContainer.stayCalendar .day{font-family:Arial,sans-serif;color:#777778;}.calendarContainer.stayCalendar .availableRangeStart,.calendarContainer.stayCalendar .availableRangeEnd{color:#FFF;}.calendarContainer.stayCalendar .unselected{color:#777778;}.calendarContainer.stayCalendar .resetLink{padding-left:1px;margin-left:17px;border:none;}.calendarContainer.stayCalendar .resetLink a{text-decoration:none;padding-left:0;border:none;font-family:Arial,Verdana,Helvetica,sans-serif;font-weight:bold;color:#4882d0;}.calendarContainer.stayCalendar .resetLink a:hover{text-decoration:underline;}.calendarContainer.stayCalendar .closeLink{padding-right:0;}.calendarContainer.stayCalendar .closeLink a{background-image:none;color:#4882d0;font-family:Arial,Verdana,Helvetica,sans-serif;font-weight:bold;}.calendarContainer.stayCalendar .instructions{background:none;padding-bottom:5px;overflow:hidden;margin:0;}.calendarContainer.stayCalendar .errorContainer{margin:0;}.calendarContainer.stayCalendar .calendarFooter .messageContainer .instructions li{float:none;padding-left:15px;}.calendarContainer.stayCalendar .calendarFooter .messageContainer .instructions li.rangeStartInstructions.active{color:#4882d0;font-weight:bold;font-family:Arial,Verdana,Helvetica,sans-serif;}.calendarContainer.stayCalendar .calendarFooter .messageContainer .instructions li.rangeEndInstructions.active{color:#0d293f;font-weight:bold;font-family:Arial,Verdana,Helvetica,sans-serif;}.calendarContainer.stayCalendar .rangeStartInstructions,.calendarContainer.stayCalendar .rangeEndInstructions,.calendarContainer.stayCalendar .submitInstructions{width:auto;color:#888;font-weight:bold;font-family:Arial,Verdana,Helvetica,sans-serif;}.calendarContainer.stayCalendar .rangeStartInstructions a,.calendarContainer.stayCalendar .rangeEndInstructions a{font:11px;font-family:Arial,Verdana,Helvetica,sans-serif;font-weight:bold;color:#4882d0;}.calendarContainer.stayCalendar .submitInstructions .actionButton{background:none;margin:0 0 0 15px;padding:0;display:inline;}.calendarContainer.stayCalendar .submitInstructions .actionButton button{background:url(../../images/searchBtnArrow.gif)/*tpa=http://www.starwoodhotels.com/corporate/images/searchBtnArrow.gif*/ no-repeat scroll right center #4A78B4;color:white;cursor:pointer;text-decoration:none;text-transform:uppercase;padding:0 23px 0 23px;font-weight:normal;height:25px;font-family:HelveticaNeueCnMd,Arial,Verdana,Helvetica,sans-serif;font-size:16px;}.calendarContainer.stayCalendar .instructions .active{background-color:#FFF;padding:10px 0 10px 10px;border:1px solid #e3e7e9;color:#888;font-weight:bold;font-family:Arial,Verdana,Helvetica,sans-serif;}.calendarContainer.stayCalendar .instructions .submitInstructions{padding:5px 0 5px 10px;}.calendarContainer.stayCalendar .calendarFooter .messageContainer .instructions li.submitInstructions{padding-left:15px;position:relative;overflow:hidden;*overflow:visible;}.submitInstructions .actionButton{margin:0 0 0 5px;padding:0 0 0 3px;float:none;}.submitInstructions .actionButton button{display:inline-block;margin-bottom:0;}.calendarContainer .resetLink,.calendarContainer .resetLink a{background:none;}.calendarContainer .resetLink a,.calendarContainer .resetLink a:hover{font-size:12px;color:#4882d0;font-weight:bold;text-transform:uppercase;}.calendarContainer .calendarContainerInner .calendarFooter{border:none;}.availableRangeStartMessage{border:1px solid #dbd7c8;font-weight:bold;font-size:11px;color:#4882d0;font-family:Arial,Verdana,Helvetica,sans-serif;}.availableRangeEndMessage{border:1px solid #dbd7c8;font-weight:bold;font-size:11px;color:#0d293f;font-family:Arial,Verdana,Helvetica,sans-serif;}.bestRateContainer #bestRate div.bestRateLink{width:85px;}.hpSearchForm{width:240px;z-index:5;}.hpSearchForm .fnbHeader,.hpSearchForm .fnbQuestion{display:none;}.hpSearchForm .swui-date-picker input{font-size:10px;padding-left:26px;}.hpSearchForm .locationContainer{position:relative;width:auto;float:none;margin:0;}.hpSearchForm #ysearchinput{padding-left:27px;width:100%;margin-bottom:5px;}.hpSearchForm select{outline:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-size:12px;color:#888;padding:5px 10px;-webkit-border-radius:10px;border-radius:10px;background:#fff;border:1px solid #ddd;width:100%;box-shadow:none;}.hpSearchForm select:focus{border-color:#4882d0;}.hpSearchForm select[disabled]{background-color:#f0f0f0;}.hpSearchForm #country{width:100%;max-width:100%;margin-bottom:7px;height:30px;}.hpSearchForm #stateProvince,.hpSearchForm #chinaStateProvince,.hpSearchForm #japanStateProvince,.hpSearchForm #cityField{float:left;width:47%;height:30px;}.hpSearchForm #cityField{float:right;}.swui-date-picker .swui-field{*width:45%;}.hpSearchForm #ysearchinput{*width:85%;}.swui-date-picker input[type="text"]{*width:85%;}.swui-date-picker .error-container{position:absolute;width:210px;left:255px;top:11px;font-size:12px;z-index:9070;}.lt-ie9 .swui-date-picker .error-container{border:5px solid #c5ced8;}.swui-date-picker .errors{text-align:left;}.swui-date-picker .error-container h6{font-size:12px;text-transform:uppercase;}.lt-ie9 .swui-date-picker .error-container{border:5px solid #c5ced8;}.swui-date-picker .errors{text-align:left;}.swui-date-picker .error-container h6{font-size:12px;text-transform:uppercase;padding:12px 0 5px;margin:0;}@media screen and(-webkit-min-device-pixel-ratio:0){.popUpErrorHeader,.swui-date-picker .error-container h6 span{background-position:right 2px;}}.guestOffers{margin:30px 35px 0 35px;background:#fff;}.guestOffers .moduleLabels{float:left;position:relative;width:210px;height:140px;padding:0 15px 0 30px;}.guestOffers .moduleLabels .more{position:absolute;bottom:0;left:30px;}.guestOffers .moduleContent{position:relative;float:left;width:710px;height:140px;background-color:#fff;}.brandsSPG{background:transparent top left no-repeat;color:#fff;}.brandsSPG .moduleLabels{float:left;height:310px;margin:35px 0 0 0;padding:30px 0;position:relative;width:285px;z-index:1;}.brandsSPG h2{color:#fff;width:172px;}.brandsSPG .moduleContentInner h2{font-size:30px;left:375px;position:absolute;top:30px;width:244px;}.brandsSPG .moduleLabels h2,.brandsSPG .moduleLabels h5{margin-left:65px;}#contentArea .brandsSPG .sideNav{margin-left:60px;}.brandsSPG .sideNav{height:235px;width:230px;}.brandsSPG .sideNav .brands{border:1px solid transparent;float:left;height:44px;width:66px;padding:0;}.brandsSPG .sideNav a:hover,.brandsSPG .sideNav a.active{border:1px solid #888;}.brandsSPG .sideNav li{float:left;height:44px;width:66px;margin:0 10px 10px 0;_margin:0 8px 10px 0;}.brandsSPG .sideNav .brandSPGContainer{background:url("../../images/homepage/brandsModuleSprite.png")/*tpa=http://www.starwoodhotels.com/corporate/images/homepage/brandsModuleSprite.png*/ no-repeat scroll -74px -181px transparent;height:55px;left:72px;position:relative;top:0;width:155px;}.brandsSPG .sideNav a.brandSPG{width:75px;}.brandsSPG .sideNav a.brandST{background:url("../../images/homepage/brandsModuleSprite.png")/*tpa=http://www.starwoodhotels.com/corporate/images/homepage/brandsModuleSprite.png*/ no-repeat scroll 0 0 transparent;}.brandsSPG .sideNav a.brandLC{background:url("../../images/homepage/brandsModuleSprite.png")/*tpa=http://www.starwoodhotels.com/corporate/images/homepage/brandsModuleSprite.png*/ no-repeat scroll -78px 0 transparent;}.brandsSPG .sideNav a.brandWH{background:url("../../images/homepage/brandsModuleSprite.png")/*tpa=http://www.starwoodhotels.com/corporate/images/homepage/brandsModuleSprite.png*/ no-repeat scroll -156px 0 transparent;}.brandsSPG .sideNav a.brandMD{background:url("../../images/homepage/brandsModuleSprite.png")/*tpa=http://www.starwoodhotels.com/corporate/images/homepage/brandsModuleSprite.png*/ no-repeat scroll -2px -57px transparent;}.brandsSPG .sideNav a.brandWI{background:url("../../images/homepage/brandsModuleSprite.png")/*tpa=http://www.starwoodhotels.com/corporate/images/homepage/brandsModuleSprite.png*/ no-repeat scroll -78px -58px transparent;}.brandsSPG .sideNav a.brandSI{background:url("../../images/homepage/brandsModuleSprite.png")/*tpa=http://www.starwoodhotels.com/corporate/images/homepage/brandsModuleSprite.png*/ no-repeat scroll -155px -56px transparent;}.brandsSPG .sideNav a.brandAL{background:url("../../images/homepage/brandsModuleSprite.png")/*tpa=http://www.starwoodhotels.com/corporate/images/homepage/brandsModuleSprite.png*/ no-repeat scroll 0 -114px transparent;}.brandsSPG .sideNav a.brandEL{background:url("../../images/homepage/brandsModuleSprite.png")/*tpa=http://www.starwoodhotels.com/corporate/images/homepage/brandsModuleSprite.png*/ no-repeat scroll -78px -114px transparent;}.brandsSPG .sideNav a.brand4P{background:url("../../images/homepage/brandsModuleSprite.png")/*tpa=http://www.starwoodhotels.com/corporate/images/homepage/brandsModuleSprite.png*/ no-repeat scroll -155px -114px transparent;}.brandsSPG .sideNav .brandSPGContainer_ch{background:url("../../images/homepage/brandsModuleSprite_ch.png")/*tpa=http://www.starwoodhotels.com/corporate/images/homepage/brandsModuleSprite_ch.png*/ no-repeat scroll -66px -179px transparent;height:55px;left:72px;position:relative;top:0;width:155px;}.brandsSPG .sideNav a.brandSPG_ch{width:75px;}.brandsSPG .sideNav a.brandST_ch{background:url("../../images/homepage/brandsModuleSprite_ch.png")/*tpa=http://www.starwoodhotels.com/corporate/images/homepage/brandsModuleSprite_ch.png*/ no-repeat scroll 7px 3px transparent;}.brandsSPG .sideNav a.brandLC_ch{background:url("../../images/homepage/brandsModuleSprite_ch.png")/*tpa=http://www.starwoodhotels.com/corporate/images/homepage/brandsModuleSprite_ch.png*/ no-repeat scroll -71px 3px transparent;}.brandsSPG .sideNav a.brandWH_ch{background:url("../../images/homepage/brandsModuleSprite_ch.png")/*tpa=http://www.starwoodhotels.com/corporate/images/homepage/brandsModuleSprite_ch.png*/ no-repeat scroll -148px 2px transparent;}.brandsSPG .sideNav a.brandMD_ch{background:url("../../images/homepage/brandsModuleSprite_ch.png")/*tpa=http://www.starwoodhotels.com/corporate/images/homepage/brandsModuleSprite_ch.png*/ no-repeat scroll 7px -52px transparent;}.brandsSPG .sideNav a.brandWI_ch{background:url("../../images/homepage/brandsModuleSprite_ch.png")/*tpa=http://www.starwoodhotels.com/corporate/images/homepage/brandsModuleSprite_ch.png*/ no-repeat scroll -71px -53px transparent;}.brandsSPG .sideNav a.brandSI_ch{background:url("../../images/homepage/brandsModuleSprite_ch.png")/*tpa=http://www.starwoodhotels.com/corporate/images/homepage/brandsModuleSprite_ch.png*/ no-repeat scroll -148px -53px transparent;}.brandsSPG .sideNav a.brandAL_ch{background:url("../../images/homepage/brandsModuleSprite_ch.png")/*tpa=http://www.starwoodhotels.com/corporate/images/homepage/brandsModuleSprite_ch.png*/ no-repeat scroll 6px -108px transparent;}.brandsSPG .sideNav a.brandEL_ch{background:url("../../images/homepage/brandsModuleSprite_ch.png")/*tpa=http://www.starwoodhotels.com/corporate/images/homepage/brandsModuleSprite_ch.png*/ no-repeat scroll -71px -110px transparent;}.brandsSPG .sideNav a.brand4P_ch{background:url("../../images/homepage/brandsModuleSprite_ch.png")/*tpa=http://www.starwoodhotels.com/corporate/images/homepage/brandsModuleSprite_ch.png*/ no-repeat scroll -148px -110px transparent;}.brandsSPG .moduleContent{float:left;height:440px;position:relative;width:760px;}.brandsSPG .moduleContent .moduleContentInner{color:#fff;float:left;height:320px;left:290px;margin:35px 0 0 5px;padding:25px 15px;position:relative;width:320px;z-index:1;}.brandsSPG .brandsModuleSPGLinks{float:left;margin:5px 0 20px;width:100%;}.brandsSPG .moduleContentInner a,.brandsSPG .moduleContentInner .pipe{color:#95b8e7;display:inline;}.brandsSPG .moduleContentInner .pipe{float:left;margin:0 5px;}.brandsSPG .more{background:url("../../images/corporateSprite.png")/*tpa=http://www.starwoodhotels.com/corporate/images/corporateSprite.png*/ no-repeat right -746px transparent;_background:none;display:block;margin:0;}.brandsSPG .contentImg{left:0;position:absolute;top:0;z-index:0;}.brandsSPG .panelContainer{position:relative;top:0;left:0;height:440px;}.brandsSPG .panelContainer .panel{position:absolute;top:0;left:-285px;height:440px;width:1060px;}.brandsSPG .socialMediaIcons{display:block;left:15px;position:absolute;bottom:10px;width:100%;}.brandsSPG .brandMediaIcon{height:25px;float:left;width:25px;}.brandsSPG .fbpg{background:url("../../images/homepage/brandsModuleSprite.png")/*tpa=http://www.starwoodhotels.com/corporate/images/homepage/brandsModuleSprite.png*/ no-repeat scroll -42px -245px transparent;}.brandsSPG .twt{background:url("../../images/homepage/brandsModuleSprite.png")/*tpa=http://www.starwoodhotels.com/corporate/images/homepage/brandsModuleSprite.png*/ no-repeat scroll -20px -245px transparent;}.brandsSPG .flk{background:url("../../images/homepage/brandsModuleSprite.png")/*tpa=http://www.starwoodhotels.com/corporate/images/homepage/brandsModuleSprite.png*/ no-repeat scroll -64px -245px transparent;}.brandsSPG .foursquarefb{background:url("../../images/homepage/brandsModuleSprite.png")/*tpa=http://www.starwoodhotels.com/corporate/images/homepage/brandsModuleSprite.png*/ no-repeat scroll -89px -245px transparent;}.brandsSPG .ytc{background:url("../../images/homepage/brandsModuleSprite.png")/*tpa=http://www.starwoodhotels.com/corporate/images/homepage/brandsModuleSprite.png*/ no-repeat scroll -114px -245px transparent;width:44px;}.brandsSPG .wbo{background:url("../../images/homepage/brandsModuleSprite.png")/*tpa=http://www.starwoodhotels.com/corporate/images/homepage/brandsModuleSprite.png*/ no-repeat scroll -158px -245px transparent;}.brandsSPG .kxn{background:url("../../images/homepage/brandsModuleSprite.png")/*tpa=http://www.starwoodhotels.com/corporate/images/homepage/brandsModuleSprite.png*/ no-repeat scroll -181px -245px transparent;}.brandsSPG .brandsModuleLogo{height:100px;width:300px;display:block;}.brandsSPG .LogoST{background:url("../../images/homepage/brandsModuleSprite.png")/*tpa=http://www.starwoodhotels.com/corporate/images/homepage/brandsModuleSprite.png*/ no-repeat scroll 10px -700px transparent;margin:-10px 0 10px;}.brandsSPG .LogoLC{background:url("../../images/homepage/brandsModuleSprite.png")/*tpa=http://www.starwoodhotels.com/corporate/images/homepage/brandsModuleSprite.png*/ no-repeat scroll 10px -451px transparent;height:50px;margin:35px 0 15px;}.brandsSPG .LogoWH{background:url("../../images/homepage/brandsModuleSprite.png")/*tpa=http://www.starwoodhotels.com/corporate/images/homepage/brandsModuleSprite.png*/ no-repeat scroll 10px -552px transparent;margin:-10px 0 10px;}.brandsSPG .LogoMD{background:url("../../images/homepage/brandsModuleSprite.png")/*tpa=http://www.starwoodhotels.com/corporate/images/homepage/brandsModuleSprite.png*/ no-repeat scroll 0 -310px transparent;}.brandsSPG .LogoWI{background:url("../../images/homepage/brandsModuleSprite.png")/*tpa=http://www.starwoodhotels.com/corporate/images/homepage/brandsModuleSprite.png*/ no-repeat scroll 0 -1133px transparent;}.brandsSPG .LogoSI{background:url("../../images/homepage/brandsModuleSprite.png")/*tpa=http://www.starwoodhotels.com/corporate/images/homepage/brandsModuleSprite.png*/ no-repeat scroll 10px -1415px transparent;}.brandsSPG .LogoAL{background:url("../../images/homepage/brandsModuleSprite.png")/*tpa=http://www.starwoodhotels.com/corporate/images/homepage/brandsModuleSprite.png*/ no-repeat scroll -0px -1290px transparent;}.brandsSPG .LogoEL{background:url("../../images/homepage/brandsModuleSprite.png")/*tpa=http://www.starwoodhotels.com/corporate/images/homepage/brandsModuleSprite.png*/ no-repeat scroll 0 -1001px transparent;height:96px;margin:-3px 0 10px 0;}.brandsSPG .Logo4P{background:url("../../images/homepage/brandsModuleSprite.png")/*tpa=http://www.starwoodhotels.com/corporate/images/homepage/brandsModuleSprite.png*/ no-repeat scroll 0 -849px transparent;}.brandsSPG .LogoSPG{background:url("../../images/homepage/brandsModuleSprite.png")/*tpa=http://www.starwoodhotels.com/corporate/images/homepage/brandsModuleSprite.png*/ no-repeat scroll -0px -1552px transparent;}.brandsSPG .LogoSPG_ch{background:url("../../images/homepage/brandsModuleSprite.png")/*tpa=http://www.starwoodhotels.com/corporate/images/homepage/brandsModuleSprite.png*/ no-repeat scroll -0px -1700px transparent;}.spg{background:#ebeff2;margin:30px 35px 0 35px;padding:30px 15px 30px 30px;*float:left;}.spg .moduleContent{float:left;height:290px;padding:0;width:720px;background-color:#fff;}.spg .moduleLabels{float:left;width:225px;padding-top:15px;}.spg .moduleContentInner{float:left;margin:65px 0 0 15px;width:310px;}.spg .contentImg{float:right;}.spg .spgModLogo{bottom:16px;left:234px;float:right;position:absolute;}.spg .caption{position:absolute;right:10px;bottom:5px;font-size:9px;font-weight:bold;color:#fff;width:300px;text-align:right;text-transform:uppercase;line-height:11px;}.spg h3{color:#0d293f;font-size:16px;margin-bottom:5px;white-space:nowrap;}.spg ul.sideNav{margin-top:20px;width:217px;}.spg .sideNav li a{display:block;border:solid 1px #EBEFF2;}.spg .moduleContentInner .more{margin:0;}.spg .panelContainer{position:relative;}.spg .panel{position:absolute;top:0;left:0;width:720px;height:290px;background-color:#fff;}#contentArea .spg .moduleContentInner ul{list-style-type:disc;margin:0 0 10px 0;padding-bottom:5px;}#contentArea .spg .moduleContentInner li{list-style-type:disc;margin-left:18px;}.reviews{margin:30px 35px 0 35px;padding:30px;background:#ebeff2;}.reviews .moduleLabels{float:left;position:relative;width:190px;height:265px;padding:15px 10px 0 0;}.reviews .moduleLabels .more{position:absolute;bottom:0;left:5px;}.reviews .moduleContent,.reviews .loadingMessage{position:relative;float:left;width:720px;height:280px;background-color:#fff;}.reviews h3,.reviews h3 a{font-family:HelveticaNeueCnMd,Arial,Verdana,Helvetica,sans-serif;font-size:16px;font-weight:normal;}.reviews .reviewDetail{position:relative;margin:25px 0 0 35px;width:290px;height:250px;float:left;background-color:#fff;}.reviews img{float:right;margin:25px 35px 0 0;width:343px;height:230px;}.reviews .reviewDetail li{float:none;clear:both;margin-bottom:5px;}.reviews .reviewDetail label{float:left;width:217px;text-align:right;}.reviews .reviewDetail.starGraphicExclusion label{width:214px;}.reviews .reviewDetail .starRating{float:right;}.reviews .reviewDetail p{padding:5px 0 10px 0;margin:0;float:none;clear:both;text-align:right;}.reviews .reviewDetail .more{position:absolute;bottom:20px;left:0;}.reviews .prev{top:123px;left:4px;}.reviews .next{top:123px;right:4px;}.reviews .reviewList{position:relative;}.reviews .review{display:none;position:absolute;width:100%;top:0;left:0;}.reviews .reviewsModule{display:none;}.reviews .reviewsModule.show{display:block;}.reviews .review.show{display:block;}.reviews.loading .loadingMessage div{margin-top:125px;margin-left:300px;}.reviews.loading .moduleContent{display:none;}.topDestinations{padding:40px 50px;background-color:#e4e4e4;height:345px;}.topDestinations .moduleLabels,.topDestinations .moduleContent{float:left;overflow:hidden;}.topDestinations .moduleLabels{width:210px;margin:0 15px;overflow:visible;}.topDestinations .moduleContent{position:relative;padding:0;margin:0;width:720px;height:345px;overflow:hidden;}.topDestinations .moduleContent .destination{width:720px;height:345px;padding:0;background:transparent top left no-repeat;position:absolute;top:0;left:0;}.topDestinations .destination img{position:absolute;top:0;left:0;}.topDestinations .box h3{color:white;font-size:36px;font-family:HelveticaNeueCnLt,Arial,Verdana,Helvetica,sans-serif;line-height:33px;}.topDestinations .show .box{*filter:alpha(opacity=100);}.topDestinations .box p{color:white;font-family:Arial;font-size:14px;font-style:italic;padding-bottom:15px;}.topDestinations .box{width:170px;padding:15px;margin:0;position:absolute;background-color:#0d293f;Z-INDEX:1;top:15px;right:40px;}.topDestinations a.next{top:160px;right:5px;}.topDestinations a.prev{top:160px;left:5px;}.topDestinations .actionLink a{display:inline-block;}.globalCitizenship{background:transparent top left no-repeat;display:block;height:260px;width:1060px;}.globalCitizenship .moduleInner{background:#eeeced;height:200px;left:35px;opacity:.85;position:absolute;top:30px;width:990px;}.globalCitizenship .moduleLabels{left:35px;position:absolute;top:30px;width:230px;}.globalCitizenship h2{font-weight:300;}.globalCitizenship .moduleLabels h5{width:140px;}.globalCitizenship .moduleContent{position:absolute;top:35px;left:296px;width:655px;}.globalCitizenship .moduleContent h3,.globalCitizenship .moduleContent li{font-size:20px;font-weight:500;}.globalCitizenship .moduleContent h3{margin-bottom:25px;}.globalCitizenship .moduleContent p{font-family:HelveticaNeueCnMd,Arial,Verdana,Helvetica,sans-serif;font-size:18px;line-height:18px;text-transform:uppercase;}.globalCitizenship .moduleContent li{font-weight:normal;margin-bottom:5px;text-transform:uppercase;}.newHotels{margin:30px 0 0 0;background-color:#ebeff2;padding:35px;*z-index:9999;}.newHotels .moduleLabels{float:left;width:225px;height:220px;margin-left:30px;position:relative;}.newHotels .moduleLabels .more{position:absolute;bottom:0;left:0;}.newHotels .dropDown{margin-top:10px;}.newHotels .cityList{width:345px;margin:50px 0 0 15px;float:left;}.newHotels .cityList ul{float:left;width:170px;}.newHotels .sideNav li a{margin-right:10px;}.newHotels .propertyList{background-color:#fff;width:360px;height:220px;float:left;}.newHotels .propertyList .propertyDetails{margin:20px 15px;}.newHotels .address{font-size:12px;font-style:italic;}.newHotels .phoneFaxContainer{display:none;}.newHotels h3,.newHotels h3 a{font-family:HelveticaNeueCnMd,Arial,Verdana,Helvetica,sans-serif;font-size:16px;font-weight:normal;line-height:16px;}.newHotels .description{margin-top:10px;position:relative;}.newHotels .description .longDescription{position:absolute;border:3px solid #c5ced8;box-shadow:0 0 3px 0 rgba(153,153,153,.5);top:-7px;left:-10px;width:330px;padding:4px 7px;display:none;background-color:#ebeff2;z-index:2;}.newHotels .description img{cursor:pointer;}.newHotels .propertyList .propertyDetails{*filter:"progid:DXImageTransform.Microsoft.Alpha(enabled=false)"!important;}.newHotels .description .longDescription.show{display:block;}.newHotels .propertyList{position:relative;}.newHotels .propertyDetails{display:none;position:absolute;top:0;left:0;}.newHotels .newHotelsModule{display:none;}.newHotels .newHotelsModule.show{display:block;}.newHotels .propertyDetails.show{display:block;}.newHotels.loading .loadingMessage div{margin:110px 0 0 545px;}.customerService{background:#e4e4e4;margin:30px 35px 0 35px;padding:30px;}.customerService .moduleLabels{float:left;width:200px;padding-top:15px;}.customerService .moduleContent{width:355px;height:250px;float:left;margin-left:25px;background-color:#fff;}.customerService .moduleContentInner{padding:60px 15px 0 15px;}.customerService .moduleContentInner .more{margin-top:0;}.customerService img{width:345px;height:250px;float:left;}.customerService h3{font-weight:normal;color:#0d293f;font-size:16px;}.customerService h2 p{margin:5px 0 0;}.svoResidences{height:275px;width:1060px;display:block;}.svoResidences .moduleInner{height:100%;position:absolute;width:100%;}.svoResidences .moduleLabels{left:65px;position:absolute;top:50px;width:225px;}.svoResidences h2{width:210px;}.svoResidences h5{color:#fff;width:165px;}.svoResidences .moduleContent{height:205px;left:290px;position:absolute;top:30px;width:750px;}.svoResidences .moduleContentInner div{background-color:#FFF;float:left;height:185px;margin:0 30px 0 0;padding:15px;position:relative;width:315px;}.svoResidences h3{margin-top:40px;}.svoResidences p{margin:0;}.companyNews{background:none repeat scroll 0 0 #fff;margin:30px 35px 0 35px;}.companyNews .moduleContent{float:left;width:720px;}.companyNews .moduleLabels{float:left;margin:0 0 0 35px;width:205px;}.companyNews h2,.companyNews h5{width:200px;}.companyNews h3{color:#0D293F;font-size:16px;margin-bottom:5px;white-space:nowrap;}#contentArea .companyNews ul{margin-top:20px;width:225px;}.companyNews li a{text-transform:none;}#contentArea .companyNews .moduleContentInner ul{margin:0 0 10px;padding-bottom:5px;}#contentArea .companyNews .moduleContentInner li{margin-bottom:20px;padding:0 10px 0 0;}.companyNews .featuredNews,.companyNews .featuredVideo{float:left;}.companyNews .featuredNews{float:left;margin:0 30px 0;_margin:0;width:210px;}.companyNews .more{bottom:10px;position:absolute;}.companyNews .loadingMessage div{margin:100px 0 0 160px;}.companyNews.loading .videoContainer{display:none;}.companyNews iframe{border:none;}.careersOverview{background:#fff;margin:30px 0 0 55px;height:290px;}.careersOverview .moduleContent{background:none repeat scroll 0 0 #EBEFF2;float:left;height:290px;width:345px;}.careersOverview .moduleLabels{float:left;width:235px;}.careersOverview h2{margin-top:20px;}.careersOverview h5{line-height:15px;width:175px;}.careersOverview .moduleContentInner{padding:20px 15px;width:300px;}.careersOverview h3{color:#0d293f;font-size:16px;margin-bottom:10px;white-space:nowrap;}.careersOverview .more{margin:0;}.companyOverview{padding:0 35px;background:transparent top left no-repeat;}.companyOverview p{margin:0;}.companyOverview .moduleLabels,.companyOverview .moduleContent{float:left;margin:0 0 0 15px;padding:20px 15px;width:195px;overflow:hidden;}.companyOverview .section1{width:315px;}.companyOverview .section1 p{margin:5px 0;}.companyOverview .section2{width:345px;background-color:#ebeff2;}.companyOverview .section2 li{list-style-image:url(../../images/bullet_dot.png)/*tpa=http://www.starwoodhotels.com/corporate/images/bullet_dot.png*/;margin-left:15px;margin-bottom:5px;padding-left:0;}.careersPaths{padding:0 15px;margin:30px 35px 0 35px;background:transparent top left no-repeat;height:330px;}.careersPaths .moduleLabels,.careersPaths .moduleContent{float:left;overflow:hidden;}.careersPaths .moduleLabels{width:210px;padding:45px 15px 0 15px;}.careersPaths h2,.careersPaths h3,.careersPaths p{color:#FFF;}.careersPaths .more{margin-top:155px;background:url("../../images/icons/arrowRight95b8e7.png")/*tpa=http://www.starwoodhotels.com/corporate/images/icons/arrowRight95b8e7.png*/ right 2px no-repeat;color:#95b8e7;}.careersPaths .moduleContent{width:330px;padding:65px 15px 0 15px;}.generic1{margin:30px 35px 0 35px;padding:30px;background:#ebeff2;}.generic1 .moduleLabels{float:left;width:200px;padding-top:15px;}.generic1 .moduleContent{width:355px;height:250px;float:left;margin-left:25px;background-color:#fff;}.generic1 .moduleContentInner{padding:60px 15px 0 15px;}.generic1 .moduleContentInner .more{margin-top:0;}.generic1 img{width:345px;height:250px;float:left;}.generic1 h3{font-weight:normal;color:#0d293f;font-size:16px;}.generic2{padding:30px 30px 30px 65px;background:#e4e4e4;}.generic2 .moduleLabels{float:left;width:200px;padding-top:15px;height:312px;}.generic2 img{position:absolute;top:30px;left:290px;width:735px;height:327px;z-index:1;}.generic2 .moduleContent{position:absolute;top:52px;left:770px;width:200px;height:285px;margin-left:20px;background-color:#fff;z-index:2;}.generic2 .moduleContentInner{padding:20px 15px;}.generic2 .moduleContentInner .more{margin-top:0;}.generic2 h3{font-weight:normal;color:#0d293f;font-size:16px;}.diversityInclusion{padding:30px 65px;background-color:#E4E4E4;}.diversityInclusion .moduleLabels{float:left;margin-right:10px;width:215px;padding-top:15px;}.diversityInclusion .moduleContent{float:left;height:250px;width:360px;background-color:#fff;}.diversityInclusion img{float:left;}.diversityInclusion .moduleContentInner{padding:50px 15px 0;width:330px;}.diversityInclusion .more{margin-top:0;}.svoCareers{display:block;height:275px;width:1060px;}.svoResidences .moduleInner{height:100%;position:absolute;width:100%;}.svoCareers .moduleLabels{left:65px;position:absolute;top:60px;width:225px;}.svoCareers h2{width:210px;}.svoCareers h5{color:#888;width:165px;}.svoCareers .moduleContent{left:290px;position:absolute;top:35px;width:720px;}.svoCareers .moduleContentInner{background-color:#FFF;display:inline-block;height:180px;margin:0 30px 0 0;padding:0 15px 30px;position:relative;width:690px;}.svoCareers h3{margin-top:60px;}.svoCareers p{margin:0;}
    
    





