/*reset.css*/
#hd img 				{
    					vertical-align:middle;
						}

#hd h1 					{
    					display:inline;
    					margin:0 0 0 0px;
    					vertical-align:middle;
							}

#examples li 		{
    					padding:0.5em 1em;
					}


ul.listing 			{
    /*padding: 0 10px 10px 10px;*/
}
ul.listing li 		{
       					 list-style: disc;
        				margin: 0px;
    				}


.yui-skin-sam .yui-navset .yui-content {
						
					}

#hd,
#bd,
#ft {
						margin: 0px 0;
}
.accordionContainer_yui	{clear:both; height:380px;margin-bottom:20px;overflow:hidden;}

.myAccordion .yui-cms-accordion .yui-cms-item:not(:last-of-type).selected .bd
						{	border-bottom:3px solid #e9e7de}

					
						
.myAccordion h3 		{font-weight:normal}
.myAccordion 			{margin-bottom:20px;
  						float: left;
 						 margin-right: 15px;
 						 height:358px;
 						text-align:left;
 						border:1px solid #e9e7de;
 						 -moz-border-radius: 3px;
   						 -webkit-border-radius: 3px;
    					-khtml-border-radius: 3px;
    					border-radius: 3px;

}

.myAccordion .yui-cms-accordion .yui-cms-item {
   						 border: 1px solid #ffffff;
   						 width: 218px;
						text-align:left;  
  }
.myAccordion .yui-cms-accordion .yui-cms-item h3 {
      					margin: 0px;width: 216px;margin-left:1px;
      					 -moz-border-radius: 3px;
   						 -webkit-border-radius: 3px;
    					-khtml-border-radius: 3px;
    					border-radius: 3px;
    					
    }
.myAccordion .yui-cms-accordion .yui-cms-item .accordionToggleItem {
         
          				text-decoration: none;
          				padding-left: 15px;
          				display: block;
		 				font-family:tahoma;
						font-size:14px;
						color:#52483d;
						padding-top:0px;
		  
        }
        
.myAccordion .yui-cms-accordion .yui-cms-item.selected .accordionToggleItem {
       
						font-family:tahoma;
						font-size:14px;
						color:#52483D;
		 
        }
.myAccordion .yui-cms-accordion .yui-cms-item .bd {
        				height: 0px;
        				overflow: hidden;
        				background-color: #fff;
		
    }
.myAccordion .yui-cms-accordion .yui-cms-item .bd .fixed {
            			overflow: hidden;
           				 padding: 0px;
         
			
  }
		
.myAccordion .yui-cms-accordion .yui-cms-item-selected .bd .fixed {
           				 overflow: hidden;
           				 padding: 0px;
           				 height: 266px;			
        }

.myAccordion {

  						margin-right: 15px;
						text-align:left;
						padding-bottom:20px;

}
.myAccordion .yui-cms-accordion .yui-cms-item {
    					border: 1px solid #ffffff;
    					width: 218px;
	
  }

.myAccordion .yui-cms-accordion .yui-cms-item h3 {
      					margin: 0px;
	 
						font-family:tahoma;
						font-size:14px;
						height:34px;
						width:216px;
						color:#52483D;
						background:#f9f4e7;
						margin-bottom:0px; padding-bottom:0px;
						margin-left:1px;
    }
	
.myAccordion .yui-cms-accordion .yui-cms-item.selected h3 {
						font-family:tahoma;
						height:34px;
						width:216px;
						font-size:14px;
						color:#ffffff;
						background:#e9e7de;
						margin-left:1px;
	
	}
	
	
.myAccordion .yui-cms-accordion .yui-cms-item .accordionToggleItem {
         
          				text-decoration: none;
         				 padding-left: 10px;
          				display: block;
          				padding-top:10px;
		 
        }

.myAccordion .yui-cms-accordion .yui-cms-item.selected .accordionToggleItem {padding-left: 10px;
       
        }
.myAccordion .yui-cms-accordion .yui-cms-item .bd {
        				height: 0px;
        				overflow: hidden;
        				background-color: #fff;
    }

.myAccordion .yui-cms-accordion .yui-cms-item .fixed {
            			overflow: hidden;
            			padding: 0px;
            			height: 266px;
        }
		
.myAccordion .yui-cms-accordion .yui-cms-item .fixed .open	{		height:266px;}
	
.myAccordion .yui-cms-accordion .yui-cms-item .bd .open		{		height:auto;}


/* ########### style in global.css that needs to be overwritten ########  */
.t2_secondpane_video_textpara {
						display: inline;
						width: 210px;
						height: 68px;
						float: left;
						padding-left: 10px;
						background-image: none;
						text-align: left;
}
.t2_secondpane_video {
						width: 220px;
						height: 196px;
						margin-top: 5px;
}

/* ########### embedded styles to be put in css instead ######## , requires change in teamsite */

.accordion_video_container	{ height:193;
							width:220px;
							background:#f9f4e7;}
							
.myAccordion .t2_secondpane_link a:hover ,
.myAccordion .t2_secondpane_link a:hover,	
.myAccordion .t2_secondpane_image a:hover 	{	color:#e41720; text-decoration:underline}	


