/**
 * Copyright (c) 2006-2007, Bill W. Scott
 * All rights reserved.
 *
 * This work is licensed under the Creative Commons Attribution 2.5 License. To view a copy 
 * of this license, visit http://creativecommons.org/licenses/by/2.5/ or send a letter to 
 * Creative Commons, 543 Howard Street, 5th Floor, San Francisco, California, 94105, USA.
 *
 * This work was created by Bill Scott (billwscott.com, looksgoodworkswell.com).
 * 
 * The only attribution I require is to keep this notice of copyright & license 
 * in this original source file.
 *
 * Version 1.0 - 10.21.2008
 */

/**
 * Standard Configuration. It is advised that this section NOT be modified as the
 * carousel.js expects the behavior outlined below.
 **/
.carousel-component { 
clear:both;
	position:relative;
	overflow:hidden;   /* causes the clipping */
	display:none; /* component turns it on when first item is rendered */
	
}
				
.carousel-component ul.carousel-list { 
	width:10000000px;
	position:relative;
	z-index:1; 
}

.carousel-component .carousel-list li { 
	float:left;
	list-style:none;
	overflow:hidden;
	
    
}

/**
 * VERTICAL CAROUSEL DEFAULTS
 **/
.carousel-component .carousel-vertical li { 
	margin-bottom:0px;

	/* Fix for extra spacing in IE */
	float:left;
    clear:left;  
	
	/* Force the LI to respect the HEIGHT specified */
	overflow:hidden;
	display:block;
}

/* For vertical carousel, not set, width defaults to auto */
/* Note if you explicitly set width to auto, this might cause */
/* problems with Safari... as in up/down button not working in some examples. */	 
.carousel-component ul.carousel-vertical {
/*	width:auto;*/
}

.carousel-component .carousel-clip-region { 
	overflow:hidden; /* Secret to the clipping */
	margin:0px auto;
	position:relative; 
}

/**
 * ==============================================================================
 * Safe to override. It is safe to override background, padding, margin, color,
 * text alignment, fonts, etc. Define a separate CSS file and override your style
 * preferences.
 **/

.carousel-component { 
	background:#ffffff;
	padding:0px;
	
	color:#618cbe;
	border:1px solid #F2F2F2;
	padding-left:1px;
	padding-right:1px;
	
	vetical-align:bottom;
	border-bottom:0px;

	
}

.featured-brands-bottom {
	background-image:url(../media/images/styleimages/multipics_520_bottom_curve.gif)/*tpa=http://www.safeway.com/CMS/assets/media/images/styleimages/multipics_520_bottom_curve.gif*/;
	background-repeat:no-repeat;
	height:12px;
	margin:0px;
	padding:0px;
	font-size:1px;
	}
	
.carousel-component ul.carousel-list { 
	margin:0px;
	padding:0px;
	line-height:0px;

}
.carousel-component .carousel-list li { 
	margin:0px;
	padding:0px 0px 0px 0px;
	color:#666;
	background-image:url(../media/images/styleimages/ourBrandsDiv.gif)/*tpa=http://www.safeway.com/CMS/assets/media/images/styleimages/ourBrandsDiv.gif*/;
	background-repeat:no-repeat;
}
.carousel-component .carousel-vertical li { 
}
.carousel-component ul.carousel-vertical { 
}
.carousel-component {
    padding-top:4px;
	padding-bottom:4px;
}
.carousel-component .carousel-list li { 
 
    margin:0px;
	text-align:center;

    width:158px; /* img width is 75 px from flickr + a.border-left (1) + a.border-right(1) + 
                   img.border-left (1) + img.border-right (1)*/
    /*    margin-left: auto;*/ /* for testing IE auto issue */
}

.carousel-component .carousel-list li a { 
    display:block;
   /* border-left:1px dashed #e2edfa;*/
    outline:none;
    -moz-outline:none; 

	
}

.carousel-component .carousel-list li a:hover { 
   /* border: 1px solid #87bf4e; */
}

.carousel-component .carousel-list li img { 

	padding-right:0px;
	padding-left:0px;
	border-right: none;
	margin:0px auto;
    display:block; 

}

.carousel-component .carousel-list li strong { 
    display:block; 
}
                                    
#prev-arrow { 
    position:absolute;
    top:40px;
    z-index:3;
    cursor:pointer; 

    left:5px; 
}

#next-arrow { 
    position:absolute;
    top:40px;
    z-index:3;
    cursor:pointer; 
    right:5px; 

}