/*
Copyright (c) 2008, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.6.0
*/
.yui-overlay,.yui-panel-container{visibility:hidden;position:absolute;z-index:2;width:462px;}
.yui-panel-container form{margin:0;}
.mask{z-index:1;display:none;position:absolute;top:0;left:0;right:0;bottom:0;background-color:#000; opacity:.25; filter:alpha(opacity=30);}.mask.block-scrollbars{overflow:auto;}
.masked select,.drag select,.hide-select select{_visibility:hidden;}
.yui-panel-container select{_visibility:inherit;}
.hide-scrollbars,.hide-scrollbars *{overflow:hidden;}
.hide-scrollbars select{display:none;}.show-scrollbars{overflow:auto;}
.yui-panel-container.show-scrollbars,.yui-tt.show-scrollbars{overflow:visible;}
.yui-panel-container.show-scrollbars .underlay,.yui-tt.show-scrollbars .yui-tt-shadow{overflow:auto;}
.yui-panel-container.shadow .underlay.yui-force-redraw{padding-bottom:1px;}.yui-effect-fade .underlay{display:none;}.yui-tt-shadow{position:absolute;}.yui-override-padding{padding:0 !important;}
.yui-panel-container .container-close{overflow:hidden;text-decoration:none;padding-right:10px;}
/*.yui-skin-sam .mask{background-color:#000;opacity:.25;*filter:alpha(opacity=30);}*/

.yui-skin-sam .mask{background-color:#000;opacity:.25;filter:alpha(opacity=30);}

.yui-skin-sam .yui-panel-container{padding:0 1px;*padding:2px;}
.yui-skin-sam .yui-panel{position:relative;left:0;top:0;border-width:1px 0;z-index:1;*border-width:0px;*zoom:1;_zoom:normal;}
.yui-skin-sam .yui-panel .hd,.yui-skin-sam .yui-panel .bd,.yui-skin-sam .yui-panel .ft{border-style:solid;
border-width:0 0px;margin:0;*margin:0;*border:0;width:462px;}

.yui-skin-sam .yui-panel .hd{width:462px;}
.yui-skin-sam .yui-panel .bd,.yui-skin-sam .yui-panel .ft{background-color:#F2F2F2;width:462px;}
.yui-skin-sam .yui-panel .hd{padding:0 0px;font-size:93%;line-height:2;*line-height:1.9;font-weight:bold;color:#000; 

}
.yui-skin-sam .yui-panel .bd{padding:0px;width:462px;}
.yui-skin-sam .yui-panel .ft{border-top:solid 1px #808080;padding:0px 10px;font-size:77%;}
.yui-skin-sam .yui-panel-container.focused .yui-panel .hd{}
.yui-skin-sam .container-close{position:absolute;top:5px;right:16px;width:40px;height:20px;background:url(../media/images/styleimages/cancel1_btn.jpg)/*tpa=http://www.safeway.com/CMS/assets/media/images/styleimages/cancel1_btn.jpg*/ no-repeat 0 ;cursor:pointer;  font-family:tahoma; color:#333333; font-size:11px;padding-left:10px;padding-top:5px; }

*html .yui-skin-sam .container-close{position:absolute;top:7px;right:39px;width:40px;height:20px;background:url(../media/images/styleimages/cancel1_btn.jpg)/*tpa=http://www.safeway.com/CMS/assets/media/images/styleimages/cancel1_btn.jpg*/ no-repeat 0 ;cursor:pointer;  font-family:tahoma; color:#333333; font-size:11px;padding-left:-30px;padding-top:5px; }

.yui-skin-sam .container-close-skip{position:absolute;top:50px;right:60px;width:50px;height:20px;background:url(../media/images/cancel_btn.jpg)/*tpa=http://www.safeway.com/CMS/assets/media/images/cancel_btn.jpg*/ no-repeat 0 ;cursor:pointer;  font-family:tahoma; color:#333333; font-size:11px;}
.yui-skin-sam .yui-panel-container .underlay{right:-1px;left:-1px;}.yui-skin-sam .yui-panel-container.matte{padding:9px 10px;background-color:#fff;}.yui-skin-sam .yui-panel-container.shadow{_padding:2px 4px 0 2px;}

.yui-skin-sam .yui-panel-container.shadow .underlay{position:absolute;top:2px;left:-3px;
right:-3px;bottom:-3px;*top:4px;
*left:-1px;*right:-1px;*bottom:-1px;_top:0;
_left:0;_right:0;_bottom:0;_margin-top:3px;
_margin-left:1px;opacity:.12;*filter:alpha(opacity=40);
width:462px;float:left;line-height:2px;height:12px;font-size:1px;
/*background:url(/CMS/assets/media/images/topcorners.gif)*/
}

.yui-skin-sam .yui-dialog .ft{border-top:none;padding:0 10px 10px 10px;font-size:100%;}.yui-skin-sam .yui-dialog .ft .button-group{display:block;text-align:right;}.yui-skin-sam .yui-dialog .ft button.default{font-weight:bold;}.yui-skin-sam .yui-dialog .ft span.default{border-color:#304369;background-position:0 -1400px;}.yui-skin-sam .yui-dialog .ft span.default .first-child{border-color:#304369;}.yui-skin-sam .yui-dialog .ft span.default button{color:#fff;}.yui-skin-sam .yui-dialog .ft span.yui-button-disabled{background-position:0pt -1500px;border-color:#ccc;}.yui-skin-sam .yui-dialog .ft span.yui-button-disabled .first-child{border-color:#ccc;}.yui-skin-sam .yui-dialog .ft span.yui-button-disabled button{color:#a6a6a6;}
.yui-skin-sam .yui-simple-dialog .bd .yui-icon{width:16px;height:16px;margin-right:10px;float:left;}
.yui-skin-sam .yui-simple-dialog .bd span.blckicon{background-position:0 -1100px;}.yui-skin-sam .yui-simple-dialog .bd span.alrticon{background-position:0 -1050px;}.yui-skin-sam .yui-simple-dialog .bd span.hlpicon{background-position:0 -1150px;}.yui-skin-sam .yui-simple-dialog .bd span.infoicon{background-position:0 -1200px;}.yui-skin-sam .yui-simple-dialog .bd span.warnicon{background-position:0 -1900px;}.yui-skin-sam .yui-simple-dialog .bd span.tipicon{background-position:0 -1250px;}.yui-skin-sam .yui-tt .bd{position:relative;top:0;left:0;z-index:1;color:#000;padding:2px 5px;border-color:#D4C237 #A6982B #A6982B #A6982B;border-width:1px;border-style:solid;background-color:#FFEE69;}.yui-skin-sam .yui-tt.show-scrollbars .bd{overflow:auto;}.yui-skin-sam .yui-tt-shadow{top:2px;right:-3px;left:-3px;bottom:-3px;background-color:#000;}.yui-skin-sam .yui-tt-shadow-visible{opacity:.12;*filter:alpha(opacity=12);}
#show-dialog-2 {background:url(Unknown_83_filename)/*tpa=http://www.safeway.com/CMS/assets/images/emailExclusives.gif*/;  width:761px;height:81px;}
.bd {background:#ffffff;}


.dialogTitle {text-align:left; margin-left:30px;}