/* HOME PAGE override (IE 7) - "Weekly Specials" box to top align with "save even more" */

#WeeklySpecialForm {
    *margin: 0px;
}

/* global.css HOME PAGE override - spacing issues on right bar
   Classes in global.css are too broad - either affect too many tags or across too many pages */

.careers_image {
    margin-top: 0px;
}

object.promo_vertical_link {
    display: block;
}

div.margin_top_15, object.margin_top_15 {
    margin-top: 15px;
    *padding-top: 15px;
}

div.margin_bottom_15, object.margin_bottom_15 {
    margin-bottom: 15px;
    *padding-bottom: 15px;
}

/* global.css override (IE 7) */
HTML>BODY INPUT {
    *TEXT-INDENT: 0px !important
}

/* LIVESITE override (IE 7) - provide hasLayout to all elements so Accordian will display properly
    http://www.satzansatz.de/cssd/onhavinglayout.html */

.ls-canvas .ls-col {
    *display: inline-block
}
.ls-canvas .ls-col-body {
    *display: inline-block
}
.ls-canvas .ls-area {
    *display: inline-block
}
.ls-canvas .ls-area-body {
    *display: inline-block
}
.ls-canvas .ls-area .ls-1st {
    *min-height: 0 !important
}

/* global.css override - Our Store -> Pharmacy (all browsers) - ensure red background encompasses entire form */

div.store_locator_background div.store_locator {
    margin-left: 6px;
    width: 215px;
}

div.store_locator_background div.store_locator input {
    padding-top: 0px;
}

/* replacement for global.css|.t4_cpg_rotating_feature -> e.g. Eating Right Landing page (for 520x325 flash animations) */

.t4_cpg_rotating_flash {
    margin: 0;
    padding: 0;
    width: 520px;
    height: 325px;
}

/* supplement global.css|.error_header_text (ensure text is centered) */
h1.error_header_text {
    text-align: center;
}

/* add top border to footer in lieu of global.css|div.footer_gap (footer_border_top.gif) */
div.main_pane {
    border-top: 1px solid #BBB6A1;
}

/* global.css|header520 override - height should not be hardcoded + add bottom margin */
div.header520 {
    height: inherit !important;
    *height: 100% !important;
    min-height: 32px;
    margin-bottom: 15px;
}

/* supplement global.css|.styles_header_feature */

div.styles_header_feature {
	margin-bottom: 15px;
}

/* global.css|override specific link properties */

div.three_cm_520_text_content_link span.links a {
    padding-left: 0px;
}

div.leftnav_submenu_highlite a {
    font-size: 11px;
    font-weight: normal;
}

/* global.css|override footer height for Firefox compatibility */
.main_pane {
	height: 290px
}

/* global.css|override background color of 'related links' sidebar to match footer */
div.related_outer_container {
    background-color: #F6F3EA;
}

/* global.css|override line-height of 'related links' should match 24px standard */
div.related_outer_container div.related_head_text span.related_link {
     line-height: 24px;
}

div.related_outer_container div.related_demarker {
    margin-top: 0px;
}

/* global.css|override text alignment for CPG sub categories */
.cpg_subcat_text {
    text-align: center;
}

/* global.css|override image alignment for CPG sub categories */
.cpg_subcat_img1 {
    margin-left: 15px;
}

/* global.css|override to provide bullets for Open Nature list content */
div.one_cm_520_content div.one_cm_520_textbox div.one_cm_520_textpara ul {
	list-style: disc;
    margin: 10px 0px 10px 10px;
}

/* supplement global.css primary nav styles - external URLs not handled properly */
div.external_url_globalui_inner_header_link {
    float: left;
    height: 38px;
    margin: 0;
    padding: 0;
}


span.external_url_img_link a {
      color: #ffffff;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: bold;
    padding: 6px 10px 0;
    text-decoration: none;
    height: 26px;
}


/* global.css|override to center the dotted horizontal lines between the vertical dotted lines */
div.three_cm_520_dotted {
    margin-left: 10px;
}

/* global.css|override to fix large margin below first row of T05_Content_Promotion template/layout */
div.header760 {
    margin-bottom: 10px;
}

div.cm_520_long_bottom_content {
    margin-bottom: 10px;
}

/* inline fal override (IE 7) to fix missing 1px bottom border */
div.ls-canvas div.iw_component {
    *margin: 0!important
}

/** IE7-only fix to raise global header search box. */
* + html #globalui_so_header_search_label,
* + html #globalui_so_header_search_input,
* + html #globalui_so_header_search_go {
    margin-top:0;
    padding-top:10px;
}
