/*Copyright (c) 2006,Yahoo! Inc. All rights reserved. Code licensed under the BSD License: http://developer.yahoo.net/yui/license.txt */

#doc,#doc2,#doc3,.yui-t1,.yui-t2,.yui-t3,.yui-t4,.yui-t5,.yui-t6,
.yui-t7{text-align:center;margin:auto;width:520px;clear:both;}

#doc2{width:520px;}
#doc3{margin:auto 10px;width:auto;}.yui-b{position:relative;}.yui-b{_position:static;}#yui-main .yui-b{position:static;}#yui-main{width:100%;}.yui-t1 #yui-main,.yui-t2 #yui-main,.yui-t3 #yui-main{float:right;margin-left:-25em;}.yui-t4 #yui-main,.yui-t5 #yui-main,.yui-t6 #yui-main{float:left;margin-right:-25em;}.yui-t1 .yui-b{float:left;width:12.3207em;*width:12.0106em;}.yui-t1 #yui-main .yui-b{margin-left:13.3207em;*margin-left:13.0106em;}.yui-t2 .yui-b{float:left;width:13.8456em;*width:13.512em;}.yui-t2 #yui-main .yui-b{margin-left:14.8456em;*margin-left:14.512em;}.yui-t3 .yui-b{float:left;width:23.0759em;*width:22.52em;}.yui-t3 #yui-main .yui-b{margin-left:24.0759em;*margin-left:23.52em;}.yui-t4 .yui-b{float:right;width:13.8456em;*width:13.512em;}.yui-t4 #yui-main .yui-b{margin-right:14.8456em;*margin-right:14.512em;}.yui-t5 .yui-b{float:right;width:18.4608em;*width:18.016em;}.yui-t5 #yui-main .yui-b{margin-right:19.4608em;*margin-right:19.016em;}.yui-t6 .yui-b{float:right;width:23.0759em;*width:22.52em;}.yui-t6 #yui-main .yui-b{margin-right:24.0759em;*margin-right:23.52em;}.yui-t7 #yui-main .yui-b{display:block;margin:0 0 1em 0;}#yui-main .yui-b{float:none;width:auto;}.yui-g .yui-u,.yui-g .yui-g,.yui-gc .yui-u,.yui-gc .yui-g .yui-u,.yui-ge .yui-u,.yui-gf .yui-u{float:right;display:inline;}.yui-g div.first,.yui-gc div.first,.yui-gc div.first div.first,.yui-gd div.first,.yui-ge div.first,.yui-gf div.first{float:left;}.yui-g .yui-u,.yui-g .yui-g{width:49.1%;}.yui-g .yui-g .yui-u,.yui-gc .yui-g .yui-u{width:48.1%;}.yui-gb .yui-u,.yui-gc .yui-u,.yui-gd .yui-u{float:left;margin-left:2%;*margin-left:1.895%;width:32%;}.yui-gb div.first,.yui-gc div.first,.yui-gd div.first{margin-left:0;}.yui-gc div.first,.yui-gd .yui-u{width:66%;}.yui-gd div.first{width:32%;}.yui-ge .yui-u{width:24%;}.yui-ge div.first,.yui-gf .yui-u{width:74.2%;}.yui-gf div.first{width:24%;}.yui-ge div.first{width:74.2%;}#bd:after,.yui-g:after,.yui-gb:after,.yui-gc:after,.yui-gd:after,.yui-ge:after,.yui-gf:after{content:".";display:block;height:0;clear:both;visibility:hidden;}#bd,.yui-g,.yui-gb,.yui-gc,.yui-gd,.yui-ge,.yui-gf{zoom:1;}

/*begin YDN/YUI styles*/
#bd {padding-top:1em;}
.yui-gb:after{clear:none;}
#doc3 {min-width:950px;}
h1, h2, h3, h4, h5, h6 {line-height:1.2em; color:#67747f; font-size:100%; margin:1em 0 0 0;}
h1, h2, h3, h4, h5, h6 {font-weight:bold;}
h1.first-content, h2.first-content, h3.first-content {margin-top:0; padding-top:0; border:none;} /*if an h is the first thing on the page or in a section, it should be flush with the top border of its content area; otherwise, its content area should be padded to create space.*/

h1 { font-size: 136%; padding:0; padding-top:18px}
.wiki h1 { font-size: 120%; padding:0; margin-bottom:1em}
h2 { font-size: 110%; margin-top:1.5em; margin-bottom:.2em; padding:1em 0 0 0; border-top:1px dashed #C3D2DC;}
h2.first { border-top:none; margin-top:0; margin-bottom:.2em;}
#doc3 h2.first { float:none; /*float specified to resolve conflict on generic float declaration for .first in grids*/}
h4 {margin-top:1em; color: #000;}


h1 a, h2 a, h3 a, h4 a, h5 a { color:#67747f; }
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited {color:#67747f}



/*#bd table { margin:10px 17px; width:720px; }*/
#bd th { background:#B6CDE1; padding:2px; color:#fff; vertical-align:top}
#bd td { padding:2px; vertical-align:top}
#bd td.even { background:red; }

h2.classname { border-top:none; margin-top:0; margin-bottom:.2em; font-size: 130%; color:#000000}
h3.breadcrumb { border-top:none; margin-top:0; margin-bottom:.2em; font-size: 80%; color:#000000}
h3.methods { border-top:none; margin-top:0; margin-bottom:.2em; font-size: 100%; color:#000000}

.screenshot {border:thin solid #999999; margin:8px;}



code {font-family:"Courier New"; font-size: 100%; font-weight:bolder;}

div.apisummary {height:auto; margin:10px 0; width:auto; zoom:1;}
div.apisummary table {font-size:inherit;font:100%; border-collapse:separate; border:1px solid #666666; border-left:none;}
#doc3 div.apisummary table td, #doc3 div.apisummary table th {padding:.35em;}
div.apisummary table th { font-weight:bold;}
div.apisummary table td { border-top:1px solid #666666;}
div.apisummary table td, div.apisummary table th { border-left:1px solid #666666;}
div.apisummary table tr { background-color:#ddd;}
div.apisummary table tr.odd { background-color:#fff; }
div.apisummary table tfoot tr { background-color:#fff; }

dl#menuwidgets dt {font-weight:bold;}
dl#menuwidgets {margin:0 0 0 1.5em;}
img.example {clear:right;margin-bottom:10px;margin-left:10px;border:0;float:right;border:1px solid #999;}

/*rss reader styles*/
p.loading-content {background-image:url(../../../../us.i1.yimg.com/us.yimg.com/i/ydn/yuiweb/img/busy_arrow.gif)/*tpa=http://us.i1.yimg.com/us.yimg.com/i/ydn/yuiweb/img/busy_arrow.gif*/; background-position:top left; background-repeat:no-repeat; height:20px;padding:4px 0 0 25px; margin:0;}
#doc3 ul.yuirssreader {margin:0; padding:0;}
#doc3 ul.yuirssreader li {list-style-type:none;padding:5px 0 0 12px; margin:0;}
#doc3 ul.yuirssreader li p {margin:0; padding:0;}
ul.yuirssreader cite {color:#666666; margin:0;}
span.yuirssreader-date {font-size:77%; color:#67747f;}
img.rssbadge {display:inline;border:none !important;}



/*faq page:*/
.yui-ge .yui-g {width:98%;}
.yui-ge .yui-g .yui-u {width:48.1%;}


/*for notes on file includes*/
.include-notice {border:1px solid #6F7EA1; background:#eee; font:77% verdana; padding:.7em;}
.include-notice strong {color:#990000;}