/*Reset some bootstrap defaults*/
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {padding-left:0; padding-right:0;}
/*select {max-width:100%;}*/
/* CSS Document */
body {font-family:Arial, helvetica, sans-serif; background-color:#444444; color:#777777}
.row {margin:0 auto; padding:0;}
.footer {padding:0 0 30px 0}
.paddB0 {padding-bottom:0px;}
.paddT7 {padding-top:7px;}
.paddTB15 {padding-top:15px; padding-bottom:15px;}
.paddLR15 {padding-left:15px; padding-right:15px;}
.paddT15 {padding-top:15px;}
.paddT30 {padding-top:30px !important;}
.paddB15 {padding-bottom:15px;}
.padd15 {padding:15px;}
.paddR15 {padding-right:15px;}
.paddR30 {padding-right:30px !important;}

.margin0 {margin:0;}
.marginT5 {margin-top:5px;}
.marB0 {margin-bottom:0px;}
.marB10 {margin-bottom:10px;}
.marTB15 {margin-top:15px; margin-bottom:15px;}
.marLR15 {margin-left:15px; margin-right:15px;}
.marT15 {margin-top:15px;}
.marB15 {margin-bottom:15px;}
.marR15 {margin-right:15px;}

/*img {vertical-align:top}*/

.showMobile, .showMobileBlock {display:none;}
.showMobileBlockThenInline {display:inline;}
.relative {position:relative;}
.fl-left {float:left;}
.fl-right {float:right;}
.bg-lt-grey {background-color:#EEEEEE; padding:26px; margin-top:17px;}
h4 {color:#545454;}
.bg-lt-grey h4 {color:#777777}
.white {color:#ffffff;}
.bg-white {background-color:#ffffff;}
.bg-lt-grn {background-color:#78BE20}
/* logo row*/
	.logo-row {background-color:#78be20; height:165px}
	.logo-row a {color:#ffffff;}
	.logo-row .container {padding-top:36px; height:165px;background-color:#78be20;}
	#logo {float:left; cursor:pointer;}
	#logo img {display:block;}
	#rightNav {position:relative;  z-index:2; left:0px; text-align:right; float:right;}
	#index .tab-row .col-md-12 {display:none;}
	.tab-row .col-md-12 {position:absolute; top:100px;}
	#careersTab, #busTab {padding:15px 55px 15px 30px; background-image:url(../images/arrow.png)/*tpa=http://www.kellyservices.com/templates/pages/Global/Global/images/arrow.png*/; background-repeat:no-repeat; background-position:right center; background-color:#2C6B29; 
	display:inline-block; color:#ffffff; box-sizing:border-box; 
	-webkit-border-top-left-radius: 3px;
-webkit-border-top-right-radius: 3px;
-moz-border-radius-topleft: 3px;
-moz-border-radius-topright: 3px;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
	
	
	
	
	}
	#careersTab.active, #busTab.active {background-image:url(../images/arrowTab.png)/*tpa=http://www.kellyservices.com/templates/pages/Global/Global/images/arrowTab.png*/; background-color:#FFFFFF; color:#78BE20;
	-webkit-border-radius: 3px;
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius: 3px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-radius: 3px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	padding:15px 55px 20px 30px;
}

	/* Search */
		.mobileSearch { width:100%; position:absolute; right:0; text-align:right;}
		.mobileSearch a {padding:13px; background-color:#1f7932; position:absolute; right:0; top:0;}
		.mobileSearch input { width:0 !important; transition:width 0.3s; margin-top:6px; padding:5px;border:1px solid #cccccc;}
		.mobileSearch.active {width:100%;}
		.mobileSearch.active a {padding:13px;}
		.mobileSearch.active input {width:100% !important; }
		.mobileMenuBtnContainer {padding:6px 0px 6px 15px;}
		
		.searchDesktop {margin-bottom:15px;}
		.searchDesktop input {padding:6px; width:282px; border-radius:0; border:0;}
		.searchDesktop a {background-color:#1f7932; padding:8px 13px;}
/* Sliders area*/

#autoHeight {min-width:962px;}
	#autoHeight>div {display:block;}
	.align {
		  -webkit-transition: all 1s ease-in-out;
		  -moz-transition: all 1s ease-in-out;
		  -ms-transition: all 1s ease-in-out;
		  -o-transition: all 1s ease-in-out;
		  transition: all 1s ease-in-out;
		  display:inline-block;
		  position:absolute;
	}
	.align-show {left:50%;margin-left:-50%; opacity:1;filter: alpha(opacity=1);}	
	.twocol .align-show {position:inherit; margin-left:auto; left:auto}
	#home>.col-md-8 {padding-right:75px;}
		a.btn-lg {background-color:#3C6F2A; color:#ffffff; font-size:12px; font-weight:bold; background-image:url(../images/arrow.png)/*tpa=http://www.kellyservices.com/templates/pages/Global/Global/images/arrow.png*/; background-repeat:no-repeat; background-position:right center; padding-right:21px; display:inline-block;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			padding:16px 80px 16px 26px;
			background-image:url(../images/arrow-mobile.png)/*tpa=http://www.kellyservices.com/templates/pages/Global/Global/images/arrow-mobile.png*/; background-position:right center; background-size:55px 110px; border:1px solid #00B101; margin-bottom:10px;
		  }
		a.btn-lg:hover, a.btn-lg:visited, a.btn-lg:active {color:#ffffff;} 
		/*#careersBus{padding-bottom:75px;}*/
			#careersContent, #BusContent {display:none;}
			.bg-lt-grey input {width:80%; margin-bottom:10px; padding:5px; font-family:Arial, helvetica, sans-serif; color:#cccccc;}
			
			.btn-group {width:80%;}
			.btn-group .btn {width:100%;}
			.btn-group.fl-right ul {right: 0;
left: initial;}
			.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success, .btn-success {background-color:#78be20; text-align:left}
			.btn-grey:hover, .btn-grey:focus, .btn-grey:active, .btn-grey.active, .open>.dropdown-toggle.btn-grey, .btn-grey {background-color:#cccccc; text-align:left}
			.btn-group span.caret {position:absolute; top:15px; right: 7px;}
			
			.countrySelect .btn-group {width:auto;}
			/*.btn-group.marB10 .dropdown-menu {margin-top:-10px;}
			.bg-lt-grey select {width:80%; margin-bottom:10px; padding:5px; font-family:Arial, helvetica, sans-serif; color:#ffffff; background-color:#cccccc;}*/
			.bg-lt-grey a {font-size:12px; text-decoration:none; color:#9E9E9E;}
			.bg-lt-grey input[type='submit'] {background-color:#FF9326; padding:10px 38px; border:none; -webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px; width:auto; color:#ffffff; margin-top:10px;}
			.bg-lt-grey input[type='submit']:hover {text-decoration:underline;}
			.bg-lt-grey a:hover, .bg-lt-grey a:visited {text-decoration:underline;}
		.countrySelect {font-size:12px; color:#4B4B4B}
		.countrySelect h4 {float:left; margin:5px 10px 0 0}
		.countrySelect select {background-color:#74BB1C; color:#ffffff; /*padding:3px;*/  font-family:Arial, helvetica, sans-serif;  font-size:14px;}
		.countrySelect a {color:#868686 !important; text-decoration:none} 
		.countrySelect a:visited, .countrySelect a:active, .countrySelect a:hover {color:#868686 !important; text-decoration:underline}
		#careersBus {padding-top:15px;}
	.align-right {left:150%;margin-left:-481px; opacity:0;filter: alpha(opacity=0);}
	.align-left {left:-150%;margin-left:-481px; opacity:0;filter: alpha(opacity=0);}
	

/* footer */
	.footer .links h6 {font-size:13px; color:#ffffff; font-weight:bold;}
	.footer .links a {font-size:11px; color:#ffffff;  display:block;}
	.footerLine img {vertical-align:top;}
	.footerLine {width:100%}
	

/* Social */
	.social {width:23px; height:23px; background-image:url(../images/invision-social.gif)/*tpa=http://www.kellyservices.com/templates/pages/Global/Global/images/invision-social.gif*/; background-repeat:no-repeat; text-indent:100%; overflow:hidden; display:inline-block;}
	.social-fb {background-position:center 0px;}
	.social-tw {background-position:center -24px;}
	.social-li {background-position:center -48px;}
	.social-yt {background-position:center -72px;}
	.social-gp {background-position:center -97px; margin-left:4px; }
	.container {width:962px;}	
	/* spry */
	.Accordion  {width:100%;}
	.Accordion .tab {background-image:url('../images/accordion-tabs.gif')/*tpa=http://www.kellyservices.com/templates/pages/Global/Global/images/accordion-tabs.gif*/ !important; background-position:right 0px; height:39px; color:#000000; padding:12px 0 0 12px; font-size:12px; cursor:pointer;}
	.Accordion .content{overflow:hidden; background-color:#ffffff;}
	.Accordion .tab.active {background-image:url('../images/accordion-tabs.gif')/*tpa=http://www.kellyservices.com/templates/pages/Global/Global/images/accordion-tabs.gif*/ !important; background-position:right -78px; color:#ffffff;}

.StartUpRightColumn .MiddleBox {
	padding: 10px 10px 20px 10px;
	margin:5px 0;
	overflow: hidden;
	position: relative;
	background-color: #FFFFFF;
	font-size: 12px;
	border: 1px solid #cccccc;}
	.MiddleBox .Image {max-width:45%; float:left; padding-right:5px;}
	.MiddleBox .Image img  {max-width:100%;}
#rightNav .active {text-decoration:none; color:#2C6B29; cursor:pointer;}

/* find a job */
	#findAJob { background-color:#92c231; padding:16px 17px 13px 14px; color:#ffffff; margin-right:15px;}
	/*, #zip*/#findAJob input {height:27px; padding-top:3px; color:#cccccc; font-family:Verdana, Geneva, sans-serif; font-weight:bold }
	#category {width:100%; border:1px solid #9da2b0; color:#666; height:25px; padding:3px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; }
	/* #zip*/#keywords {width:100%; padding-left:3%; border:none; margin:10px 0;}
	/*#zip,*/ #findZip, #findCTA {float:left; border:none;}
/*	#zip {width:100%; box-sizing:border-box; margin:10px 0; padding-left:3%;}*/
	#findCTA {background-color:#fe6601; padding:6px 10px; color:#ffffff; text-decoration:none;display:inline-block;font-family:Verdana, Geneva, sans-serif; font-weight:bold; -webkit-border-radius: 5px; -moz-border-radius: 5px;border-radius: 5px; text-align:center; margin-left:15px;}


ul.navigation li ul li {padding-left:15px;list-style-type: none;}
ul.navigation>li  {font-weight:bold;list-style-type: none;}
ul.navigation>li>ul>li {font-weight:normal;}
.navigation>li>ul>li:hover, #navigation>li>ul> li:active, ul.navigation li ul li.selectedItem {
			background: url(../images/BtnArrowNavGrn.gif)/*tpa=http://www.kellyservices.com/templates/pages/Global/Global/images/BtnArrowNavGrn.gif*/ no-repeat transparent;
			background-position: 0px 3px;
			text-decoration: underline;
			color: #333;}
		.navigation a:link, .navigation a:visited {
			color: #666;
			text-decoration: none;}
	/* Shareholder Tools */
		.ContainerBeige {
			margin-right: 15px;
			background-color: #F7F7F7;
			margin-bottom: 20px;
			margin-top: 10px;}
		.ContainerBeige #TopBeige {height:15px; }
		.ContainerBeige #BeigeCopy {
			width: 170px;
			height: auto;
			font-size: .875em;
			font-family: Arial, Helvetica, sans-serif;
			padding: 0px 10px 0px 10px;}
		#BeigeCopy h3 {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 1.2em;
			color: #197532;
			border-bottom:2px solid #dadada
		}
		.irToolbar li a strong {
			font-weight: normal;
			left: 55px;
			opacity: 1 !important;
			padding: 8px 0 0;
			position: absolute;
			top: 20px !important;
			width: 115px;
			font-size:10px;
		}
		.irToolbar li a  {
		color:#016531}
		
		/*---  Dropdown Styles ---*/
		.mainNavigation {width: 695px; float: right; margin-top: 25px;}
		.navLink {float: right; line-height: 1em; color: #777777; font-family: AvenirHeavy, Helvetica, Arial, sans-serif; line-height: 1.3em; }
		.navLink:nth-child(1) {padding-right: 0px;}
		.navLink a {text-decoration: none;}
		.mainNavSubText {font-family: AvenirBook, Helvetica, Arial, sans-serif; font-weight: normal; font-size: 12px; color: #AAAAAA;}
		.navLink ul {text-align: left; display: inline; margin: 0; padding: 0px; list-style: none;}
		.navLink ul li {display: inline-block; margin:0px; padding:0px 30px 26px 0px; position: relative; cursor: pointer;}
		.navLink ul li ul {background-color: #F1F1F1; padding: 0; position: absolute; top: 44px; left: 0; width: 186px; padding: 0px; -webkit-box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.25); -moz-box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.25); box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.25); display: none; opacity: 0; visibility: hidden; z-index: 9999;}
		.navLink ul li ul li {padding: 0px; font-family: AvenirBook, Helvetica, Arial, sans-serif; font-weight: normal; background-color: #F1F1F1; display: block;  color: #858585;}
		.navLink ul li:nth-last-child(1) {padding-right:0;}
		.navLink ul li ul li a {display: block; width: 100%; padding: 10px 10px 10px 20px; color: #777777;}
		.navLink ul li ul li:nth-child(1) a {padding-top: 20px;}
		.navLink ul li ul li:nth-last-child(1) a {padding-bottom: 20px; padding-right:0;}
		.navLink ul li ul li:hover {background-color: #cccdce}
		.navLink ul li:hover ul {display: block; opacity: 1; visibility: visible;}
		.linkDivider {float: right; width: 1px; height: 16px; background-color: #DDDDDD;}
		
		
@media (max-width:480px){
/*general*/
	h1 {margin-top:0}
	.hideMobile {display:none;}
	.showMobile {display:inline !important;}
	.showMobileBlock {display:block !important;}
	.showMobileBlockThenInline {display:block !important;}
	.mobile-white {background-color:#ffffff;}
/*Above Content*/
.container, #autoHeight {width:100%; min-width:100%; max-width:100%;}
.logo-row>.container {padding-top:22px;}
	.logo-row {height:100px; background-color:#ffffff;}
	.logo-row .container {height:100px; background-color:#ffffff;}
	.tab-row .col-md-12 {display:none;}
	#careersTab, #busTab {color:#ffffff;
	-webkit-border-radius: 0px;
	-webkit-border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	display:inline-block;
	font-size:14px; background-color:#3C6F2A;
	width:48%;
	box-sizing:border-box;
	margin:0 1%;
	height:59px;
	text-align:center;
	float:left;
	white-space:nowrap;
	}
	#careersTab, #careersTab.active {padding:20px 10px; background-image:none;
	-webkit-border-radius: 0px;
	-webkit-border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;}
	#BusContent {background-color:white;}
	#busTab, #busTab.active{padding:10px 10px; background-image:none;
	-webkit-border-radius: 0px;
	-webkit-border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;}
	/*Mobile menu icon, and X*/
		a#menuBtn
		{
			display:block;
			max-width:100%;	
			height:35px;
			margin:0 auto;
			 padding:5px 12px;
		}
		a#menuBtn { cursor: pointer; padding:0px; }
		a#menuBtn span {
		  cursor: pointer;
		  border-radius: 1px;
		  height: 5px;
		  width: 35px;
		  background: white;
		  display: block;
		  margin:5px 0;
		  position:relative;
		}
		a#menuBtn span {
		  transition: all 500ms ease-in-out;
		}
		html.mm-opened a#menuBtn span:nth-child(1) {   
		-moz-transform:rotate(45deg);
		-o-transform:rotate(45deg);
		-webkit-transform:rotate(45deg);
		transform:rotate(45deg);   
		top:10px;
		}
		html.mm-opened a#menuBtn span:nth-child(2) {
		  background-color: transparent;
		}
		html.mm-opened a#menuBtn span:nth-child(3) {		  
		-moz-transform:rotate(-45deg);
		-o-transform:rotate(-45deg);
		-webkit-transform:rotate(-45deg);
		transform:rotate(-45deg);   
		  top:-10px;
		}
/*Main Content*/
	.containW {width:95%;}
	.mobileTitle {background-color:#1f7932;}
	.mobileTitle div {background-color:#1f7932; color:#ffffff; padding:15px 10px; font-size:11px}
	.mobileTitle div:first-child {font-weight:bold;}
	.mobileTitle div.back {/*background-position:left center; background-image:url(../images/arrow-mobileTitle.png); background-repeat:no-repeat;*/ cursor:pointer; }
	.countrySelect .col-xs-6:first-child {padding-left:0;}
	.countrySelect .bg-lt-grey .col-xs-4:first-child {padding-left:30px;}
	.countrySelect h4 {float:none; margin:5px 0 0 0; font-size:16px;}
	#careersBus{padding-bottom:15px; padding-top:0;}
	#careersBus>div:first-child{background-color:#ffffff;}	
	#home>.col-md-7 {padding-right:0px;}
	.bg-lt-grey {padding:0; margin:0;}
	.bg-lt-grey>div {width:100%;padding:0 26px;}
	.bg-lt-grey>div.col-md-4 {padding:0px 30px;}	
	.bg-lt-grey .col-md-8 .col-md-6, .bg-lt-grey>div {width:100%;}
	.bg-lt-grey .col-md-8 .col-md-6 a {padding:7px 0; display:block; border-bottom:1px solid #cccccc;}
	.bg-lt-grey .col-md-8 .col-md-6:last-child a:last-child {border-bottom:0; margin-bottom:15px;}
	.bg-lt-grey .col-md-8 .col-md-6 br {display:none;}
	
	.bg-lt-grey .col-md-8 .col-md-4, .bg-lt-grey>div {width:100%;}
	.bg-lt-grey .col-md-8 .col-md-4 a {padding:7px 0; display:block; border-bottom:1px solid #cccccc;}
	.bg-lt-grey .col-md-8 .col-md-4:last-child a:last-child {border-bottom:0; margin-bottom:15px;}
	.bg-lt-grey .col-md-8 .col-md-4 br {display:none;}
	.bg-lt-grey input{width:100%;}
	.bg-lt-grey input[type='submit'] {margin-bottom:26px;}
	/*.bg-lt-grey select {width:100%;}
	.countrySelect select {width:100%;}	
	#careersContent .countrySelect select {width:96%;}	*/
	.countrySelect .bg-lt-grey .col-md-4 {padding-left:15px;}
	.countrySelect>div.col-xs-6 {
		width: 100%;
		padding: 6px 0 6px 0;}
		
	/*.countrySelect>div.col-xs-6 select{margin:0 0 10px 0}*/
	.countrySelect .btn-group {width: 48%;}
	.countrySelect .btn-group:last-child {float:right;}
	/*#home {padding-bottom:40px;}*/
	#home .col-md-8 {width:100%; padding-right:0;}
	#home .col-md-8 div {padding:15px 0 ;}
	#home .col-md-8 div a {width:100%; margin: 0 auto;}
	
	/*.countrySelect select, .bg-lt-grey select {color:#2c2c2c;}*/
	
			.btn-group {width:100%;}
	
/*Footer*/
	.footerText a {padding:0 8px;}
	.mobileSocial-follow {text-align:center; color:#ffffff; font-weight:bold; margin-top:15px;}
	.mobileSocial-links {text-align:center; padding-bottom:75px;}
	.mobileSocial-links img {width:21px;}
	.footer, .footer a {font-size:10px; color:#ffffff;}
	/*.footerLine {width:90%} - RJG, removed to have bottom footer span entire width of page*/
}
@media (max-width:768px) { 
.fullW768 {width:95%;}
}
@media (max-width:740px) {
	#home .btn-lg {height:64px;}
	#home .btn-lg.careers {padding-top:24px;}
}
@media (min-width:481px) and (max-width: 768px) {
	.containW {width:480px;}
}

@media (min-width:769px) {
		.containW {max-width:962px; padding:15px;}
		.rightCol {border-left:1px solid #D3D3D3; padding-left:5px;}
}

@media (min-width:481px) and (max-width: 962px) {
	.align-show {left:0; margin-left:0;}
	.container, #autoHeight {width:100%; min-width:586px;}
	.tab-row .col-md-12 {min-width:586px;}
	
}
@media (min-width:963px){
	.align-show {margin-left:-481px}
}
@media (max-width:902px){
	#home a.btn-lg {width:80%;  float:left;}
}
@media (max-width:992px){
	.hideUnder992 {display:none;}
}

