
/*---- print-----*/
#bannerwrapper, #leftcol, #breadcrumb, #backtoTop, #footerwrapper,#topnavigation,#sidr-remote-content,.mobile-header,#productfinder,.headerinnerwrapper {display:none}
#logo{display:block !important;}
#contentwrapper{padding:0;}
#contentwrapper a[href]:after { content: none !important; }