* 
{
    margin:0px;
    padding:0px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html {
    min-width:320px;
}

body
{
	position:relative;
	width:100%;
    -webkit-backface-visibility:hidden;
    min-width:320px;
    visibility:hidden;
}

body.responsive {
   overflow-x:hidden;
}

@media \0screen\,screen\9 {
    body {
        overflow-x:visible!important;
    }
}

img[src*=".jpg"], img[src*=".png"], img[src*=".gif"] {
    max-width:100%;
}

/* Begin Responsive and Display Toggles */
.small_narrow, .small_narrow.block, .small_narrow.inline, .small_narrow.inline-block, .small_narrow.table, .small_narrow.table_row, .small_narrow.table_cell, .small_narrow.flexbox, .small_narrow.inline-flexbox,
.small_wide, .small_wide.block, .small_wide.inline, .small_wide.inline-block, .small_wide.table, .small_wide.table_row, .small_wide.table_cell, .small_wide.flexbox, .small_wide.inline-flexbox,
.small, .small.block, .small.inline, .small.inline-block, .small_.table, .small.table_row, .small.table_cell, .small.flexbox, .small.inline-flexbox,
.medium, .medium.block, .medium.inline, .medium.inline-block, .medium.table, .medium.table_row, .medium.table_cell, .medium.flexbox, .medium.inline-flexbox  {
    display:none;
}

.block {
    display:block;
}

.small_narrow.block, .small_wide.block, .small.block, .medium.block 
{
    display:none;
}

.small_narrow.large, .small_wide.large, .small.large, .medium.large
{
    display:block;
}

.inline {
    display:inline;
}

.small_narrow.inline, .small_wide.inline, .small.inline, .medium.inline 
{
    display:none;
}

.small_narrow.large.inline, .small_wide.large.inline, .small.large.inline, .medium.large.inline
{
    display:inline;
}

.inline-block {
    display:inline-block;
}

.small_narrow.inline-block, .small_wide.inline-block, .small.inline-block, .medium.inline-block
{
    display:none;
}

.small_narrow.large.inline-block, .small_wide.large.inline-block, small.large.inline-block, .medium.large.inline-block
{
    display:inline-block;
}

.table {
    display:table;
}

.small_narrow.table, .small_wide.table, .small.table, .medium.table 
{
    display:none;
}

.small_narrow.large.table, .small_wide.large.table, .small.large.table, .medium.large.table
{
    display:table;
}

.table-row {
    display:table-row;
}

.small_narrow.table-row, .small_wide.table-row, .small.table-row, .medium.table-row 
{
    display:none;
}

.small_narrow.large.table-row, .small_wide.large.table-row, .small.large.table-row, .medium.large.table-row
{
    display:table-row;
}

.table-cell {
    display:table-cell;
}

.small_narrow.table-cell, small_wide.table-cell, .small.table-cell, .medium.table-cell 
{
    display:none;
}

.small_narrow.large.table-cell, .small_wide.large.table-cell, .small.large.table-cell, .medium.large.table-cell
{
    display:table-cell;
}

.flexbox {
    display:flexbox;
}

.small_narrow.flexbox, small_wide.flexbox, .small.flexbox, .medium.flexbox 
{
    display:none;
}

.small_narrow.large.flexbox, .small_wide.large.flexbox, .small.large.flexbox, .medium.large.flexbox
{
    display:flexbox;
}

.inline-flexbox {
    display:inline-flexbox;
}

.small_narrow.inline-flexbox, small_wide.inline-flexbox, .small.inline-flexbox, .medium.inline-flexbox 
{
    display:none;
}

.small_narrow.large.inline-flexbox, .small_wide.large.inline-flexbox, .small.large.inline-flexbox, .medium.large.inline-flexbox
{
    display:inline-flexbox;
}

@media only screen and (max-width:1149px) {
    .responsive .largest {
        display:none;
    }
}

@media only screen and (min-width:641px) and (max-width:850px) {
   .responsive .large {
       display:none;
   }
   .responsive .medium, .responsive .medium.block {
    display:block;
    }
    .responsive .medium.inline {
    display:inline;
    }
    .responsive .medium.inline-block {
    display:inline-block;
    }
    .responsive .medium.table {
    display:table;
    }
    .responsive .medium.table-row {
    display:table-row;
    }
    .responsive .medium.table-cell {
    display:table-cell;
    }
    .responsive .medium.flexbox {
    display:flexbox;
    }
    .responsive .medium.inline-flexbox {
    display:inline-flexbox;
    }
}

@media only screen and (max-width:640px) {
    .responsive .large, .responsive .medium, .responsive .medium.large {
    display:none;
    }
    .responsive .small, .responsive .small.block {
    display:block;
    }
    .responsive .small.inline {
    display:inline;
    }
    .responsive .small.inline-block {
    display:inline-block;
    }
    .responsive .small.table {
    display:table;
    }
    .responsive .small.table-row {
    display:table-row;
    }
    .responsive .small.table-cell {
    display:table-cell;
    }
    .responsive .small.flexbox {
    display:flexbox;
    }
    .responsive .small.inline-flexbox {
    display:inline-flexbox;
    }
}

@media only screen and (min-width:513px) and (max-width:640px) {
    .responsive .small_narrow, .responsive .small_narrow.block {
    display:block;
    }
    .responsive .small_narrow.inline {
    display:inline;
    }
    .responsive .small_narrow.inline-block {
    display:inline-block;
    }
    .responsive .small_narrow.table {
    display:table;
    }
    .responsive .small_narrow.table-row {
    display:table-row;
    }
    .responsive .small_narrow.table-cell {
    display:table-cell;
    }
    .responsive .small_narrow.flexbox {
    display:flexbox;
    }
    .responsive .small_narrow.inline-flexbox {
    display:inline-flexbox;
    }
}

@media only screen and (max-width:512px) {
    .responsive .small_narrow, .responsive .small_narrow.block {
    display:block;
    }
    .responsive .small_narrow.inline {
    display:inline;
    }
    .responsive .small_narrow.inline-block {
    display:inline-block;
    }
    .responsive .small_narrow.table {
    display:table;
    }
    .responsive .small_narrow.table-row {
    display:table-row;
    }
    .responsive .small_narrow.table-cell {
    display:table-cell;
    }
    .responsive .small_narrow.flexbox {
    display:flexbox;
    }
    .responsive .small_narrow.inline-flexbox {
    display:inline-flexbox;
    }
}

/* End Responsive and Display Toggles */

/* Begin alert_top */

#alert_top {
background:#fff;
}

#alert_top .article > * {
    padding-top:35px;
    padding-bottom:15px;
}

#alert_top .article p
{
    margin-right:20px;
    margin-left:20px;
}

/* End Alert Top */

/* Begin Hamburger Nav Flyouts */

#mobile_nav_flyout_left 
{
    top: 0px;
    width:80%;
    position:absolute;
	height:1600px;
    -webkit-backface-visibility:hidden;
    -webkit-transform: translateZ(0);
        z-index:9999;
}


#mobile_nav_flyout_left.inactive, #mobile_nav_flyout_right.inactive {
    display:none;
}

#mobile_nav_flyout_left.active, #mobile_nav_flyout_right.active {
    display:block;
}

#mobile_nav_flyout_right 
{
    top:0px;
    width:80%;
    position:absolute;
    overflow:hidden;
    height:auto;
    z-index:9999;
	margin-left:20%;
    -webkit-backface-visibility:hidden;
    -webkit-transform: translateZ(0);
}

#mobile_nav_flyout_right #mobile_nav_flyout_right_container 
{
   height:1600px;
}

#mobile_nav_flyout_left.active ~ #page_center
{
   position:fixed!important;
   top:0px;
   left:0px;
   overflow-y:hidden;
}

#mobile_nav_flyout_right.active ~ #page_center
{
    position:fixed!important;
    top:0px;
    left:0px;
    overflow-y:hidden;
}

/* End Hamburger Nav Flyouts */

/* Begin Highest Level Containers */

#page_center 
{
   position:relative;
   height:100%;
   width:100%;
   position:relative;
   -webkit-backface-visibility:hidden;
   margin-bottom:0px;
   padding-bottom:0px;
   -webkit-transform: translateZ(0);
}

@media \0screen\,screen\9 {
    #page_center {
        width:auto!important;
        overflow-x:visible;
    }
}

#page_center_container {
    height:100%;
    position:relative;
}

#alert_top_close {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 15px !important;
}

#alert_top, #header, #content, #footer
{
	min-width: 1150px;
	position: relative;
	-webkit-backface-visibility: hidden;
}

#alert_top .article, #header_container, #content_container, #footer_container
{
    max-width:1150px;
	position: relative;
	margin: 0px auto 1.5em auto;
}

@media only screen and (min-width : 1px) and (max-width: 1149px) 
{
    .responsive #alert_top, .responsive #header, .responsive #content, .responsive #footer
    {
        min-width:320px;
    }
}

@media only screen and (max-width:850px) {
     .responsive #alert_top .article, .responsive #header_container {
      margin-bottom:0px;
     }
}

#main 
{
	position: relative;
}

@media only screen and (max-width: 850px) 
{
    .responsive #main 
    {
        padding:0px;
    }   
}

#main_container
{
	position: relative;
}

/* End Highest Level Containers */

/* Begin Footer */

@media only screen and (max-width: 950px)
{
    .responsive #footer_container .article {
    margin-top: 10px;
    }
    .responsive #footer
    {
        min-width:320px;
    }
    .responsive #footer_container
    {
        width: 100%;
    }
    .responsive #footer_container 
    {
        padding: 20px 0px 25px 0px;
    }   
}

/* End Footer */

/* Begin Content Locations */

#main_top 
{
	padding-bottom: 20px;
    overflow-x:hidden;
    -webkit-backface-visibility:hidden;
}

#left_rail
{
	
	width:33.33%;
	float:left;
    overflow-x:hidden;
    -webkit-backface-visibility:hidden;
}

#main_top+#left_rail
{
	padding-top:0px;
}

#left_rail+#main_right_unit
{
    margin-left: 33.33%;
}

@media only screen and (max-width: 1149px) 
{  
    .responsive #left_rail.yes_right_rail 
    {
        float:none;
        width:100%;
    }
    
    .responsive #left_rail.yes_right_rail + #main_right_unit 
    {
        margin-left: 0px;
    }
}

@media only screen and (max-width: 850px) 
{  
    .responsive #left_rail.no_right_rail 
    {
        float:none;
        width:100%;
    }
    
    .responsive #left_rail.no_right_rail + #main_right_unit 
    {
        margin-left: 0px;
    }
}

#main_top_partial 
{
	padding: 0px 0px 20px 0px;
	float:right;
	width:100%;
    overflow-x:hidden;
   -webkit-backface-visibility:hidden;
}

#main_content_right_rail_unit 
{
    width:100%;
    float:right;
}

#main_content 
{
	float:left;
	width:66.66%;
    overflow-x:hidden;
   -webkit-backface-visibility:hidden;
}

#main_content.no_right_rail 
{
    width:100%;
}

#left_rail ~ #main_right_unit #main_content.yes_right_rail 
{
    width:66.66%;
}

#right_rail 
{
	
	width: 33.33%;
	float:left;
    overflow-x:hidden;
   -webkit-backface-visibility:hidden;
}

#right_rail_container 
{
    margin-left: 15%;
}

@media only screen and (max-width:850px) 
{
    .responsive #main_content, .responsive #right_rail, #left_rail ~ #main_right_unit #main_content.yes_right_rail, #left_rail ~ #main_right_unit #right_rail
    {
        float:none;
        width:100%;
    }
    
    .responsive #right_rail 
    {
        margin-top: 20px;
    }
    
    .responsive #right_rail_container 
    {
        margin-left:0px;
    }
}

#main_bottom_partial 
{
	padding-top: 20px;
	float:right;
	width:100%;
    overflow-x:hidden;
   -webkit-backface-visibility:hidden;
}

#main_bottom {
    padding-top:20px;
    overflow-x:hidden;
   -webkit-backface-visibility:hidden;
}

/* End Content Locations*/

/* Begin width */

.width_100 
{
	width: auto;
}

.width_80 
{
	width: 80%;
}

.width_75 
{
	width: 75%;
}

.width_66 
{
	width: 66.66%;
}

.width_60 
{
	width: 60%;
}

.width_50 
{
	width: 50%;
}

.width_40 
{
	width: 40%;
}

.width_33 
{
	width: 33.33%;
}

.width_25 
{
	width: 25%;
}

.width_20 
{
	width: 20%;
}

/* End width */

/* ARTICLE */
.article 
{
	margin: 0px 20px 0px 20px;
}

.article h1 
{
    margin-left:0px;
    margin-right:0px;
}

#right_rail .article 
{
    margin-left:0px;
}

@media only screen and (max-width:850px) 
{
    .responsive #right_rail .article {
    margin-left:20px;
    }
    
    .responsive #left_rail .article 
    {
        margin-right: 20px;
    }
}

.multicolumn_column span.article ul 
{
	display:inline-block;
}

.article:first-child p:first-child, span.article p:first-child,
.article:first-child h2:first-child, span.article h2:first-child,
.article:first-child h3:first-child, span.article h3:first-child,
.article:first-child h4:first-child, span.article h4:first-child,
.article:first-child h5:first-child, span.article h5:first-child,
.article:first-child h6:first-child, span.article h6:first-child,
.article:first-child ul:first-child, span.article ul:first-child,
.article:first-child ol:first-child, span.article ol:first-child,
.article:first-child img:first-child, span.article img:first-child
{
	margin-top: 0em;
}

.multicolumn_row .article
{
	margin-left: 0px;
	margin-right: 0px;
}

/* End ARTICLE */

/* Begin multicolumn */
.multicolumn_row {
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    margin: 0px 20px 20px 20px;
}

.column_fill:after {
  content:". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .";
  height:0px;
  position:relative;
  display:block;
  font-size:10em;
  overflow:hidden;
}

.multicolumn_row .multicolumn_column 
{
	float:left;
	padding: 0px 0px 10000px 0px;
	margin: 0px 0px -10000px 0px;
	overflow:hidden;
    -webkit-backface-visibility:hidden;
}

.multicolumn_column_container 
{
	padding: 0px 0px 10000px 0px;
	margin: 0px 10px -10000px 10px;
	overflow:hidden;
    -webkit-backface-visibility:hidden;
}

.multicolumn_column:first-child .multicolumn_column_container
{
    margin-left:0px;
}

.multicolumn_column.width_last > .multicolumn_column_container 
{
    margin-right: 0px;
}

.multicolumn_column .multicolumn_column .multicolumn_column_container 
{
    margin-left: 10px;
}

.multicolumn_column:first-child .multicolumn_column .multicolumn_column_container 
{
    margin-left: 10px;
}

.multicolumn_column:first-child .multicolumn_column:first-child .multicolumn_column_container 
{
    margin-left: 0px;
}

.multicolumn_row .column_fill 
{
	height: 0px;
}

.multicolumn_row_separator
{
	border-top: 1px solid #cccccc;
	height: 20px;
	margin-left:20px;
	margin-right:20px;
}

.multicolumn_row_separator:last-child 
{
	height:1px;
}

.multicolumn_row:last-child 
{
	margin-bottom: 0px;	
}

.multicolumn_row+.multicolumn_row
{
	margin-top:20px;
}

.multicolumn_row+.clear 
{
	margin-top: 20px;
}

.article+.multicolumn_row
{
	margin-top: 20px;
}

.table+.multicolumn_row 
{
	margin-top: 20px;
}

#title_main_top+.multicolumn_row, #title_main_content+.multicolumn_row, #title_main_top_partial+.multicolumn_row 
{
	margin-top: 20px;
}

.multicolumn_row_borderless .multicolumn_column_container
{
	border: none;
}

.multicolumn_column_container > h1:first-child, .multicolumn_column_container > h2:first-child, .multicolumn_column_container > h3:first-child, 
.multicolumn_column_container > h4:first-child, .multicolumn_column_container > h5:first-child, .multicolumn_column_container > h6:first-child,
.multicolumn_column_container > p:first-child, .multicolumn_column_container > ul:first-child, .multicolumn_column_container > ol:first-child
{
margin-top:0px;
}

/* multicolumn_no_padding */
.multicolumn_row.no_padding, .multicolumn_row.no_padding .multicolumn_column_container
{
    padding:0px;
    margin:0px;
    border:none;
}

.multicolumn_row.no_padding .multicolumn_column 
{
    padding-right: 0px;
    padding-left:0px;
}

/* multicolumn wrap text */
.multicolumn_column_wrap_text_left .article:first-child 
{
	float:left;
	margin-right: 20px;
	overflow:hidden;
    -webkit-backface-visibility:hidden;
	margin-bottom:15px;
}

@media only screen and (max-width:450px) 
{
    .responsive .multicolumn_column_wrap_text_left .article:first-child 
    {
    float:none;
    }
}

.multicolumn_column_wrap_text_right .article, .multicolumn_column_wrap_text_right span.article 
{
	float:right;
}

/* Begin Responsive Multicolumn Stacking */

/* 20 and 80 percent */

@media only screen and (max-width:1149px) {
    .responsive #main_content.yes_right_rail .multicolumn_column.width_20, .responsive #main_content.yes_right_rail .multicolumn_column.width_80,
    .responsive #left_rail ~ #main_right_unit .multicolumn_column.width_20, .responsive #left_rail ~ #main_right_unit #main_content .multicolumn_column.width_80 {
        float: none;
        width: auto;
    }

    .responsive #main_content.yes_right_rail .multicolumn_column.width_20 .multicolumn_column_container, .responsive #main_content.yes_right_rail .multicolumn_column.width_80 .multicolumn_column_container,
    .responsive #left_rail ~ #main_right_unit .multicolumn_column.width_20 .multicolumn_column_container, .responsive #left_rail ~ #main_right_unit .multicolumn_column.width_80 .multicolumn_column_container {
        margin-top: 20px;
        margin-left: 0px;
        margin-right: 0px;
        border-right: none;
    }

    .responsive #main_content.yes_right_rail .multicolumn_column.width_20:first-child .multicolumn_column_container, .responsive #main_content.yes_right_rail .multicolumn_column.width_80:first-child .multicolumn_column_container,
    .responsive #left_rail ~ #main_right_unit .multicolumn_column.width_20:first-child .multicolumn_column_container, .responsive #left_rail ~ #main_right_unit .multicolumn_column.width_80:first-child .multicolumn_column_container {
        margin-top: 0px;
    }
}

@media only screen and (max-width:850px) 
{
    .responsive .multicolumn_column.width_20, .responsive .multicolumn_column.width_80
    {
    float:none;
    width:auto;
    }

.responsive .multicolumn_column.width_20 .multicolumn_column_container, .responsive .multicolumn_column.width_80 .multicolumn_column_container
   {
       margin-top: 20px;
       margin-left: 0px;
       margin-right: 0px;
       border-right:none;
   }

.responsive .multicolumn_column.width_20:first-child .multicolumn_column_container, .responsive .multicolumn_column.width_80:first-child .multicolumn_column_container
   {
       margin-top:0px;
   }
}

/* 25 and 75 percent */
#left_rail ~ #main_right_unit #main_content.yes_right_rail .multicolumn_column.width_25, #left_rail ~ #main_right_unit #main_content.yes_right_rail .multicolumn_column.width_25+.multicolumn_column.width_50, #left_rail ~ #main_right_unit #main_content.yes_right_rail .multicolumn_column.width_75
{
    float:none\0;
    width:auto\0;
}

#left_rail ~ #main_right_unit #main_content.yes_right_rail .multicolumn_column.width_25 .multicolumn_column_container, #left_rail ~ #main_right_unit #main_content.yes_right_rail .multicolumn_column.width_25+.multicolumn_column.width_50 .multicolumn_column_container, #left_rail ~ #main_right_unit #main_content.yes_right_rail .multicolumn_column.width_75 .multicolumn_column_container 
{
    margin-top:20px\0;
    margin-left:0px\0;
    border-right:none\0;
}

#left_rail ~ #main_right_unit #main_content.yes_right_rail .multicolumn_column.width_25:first-child .multicolumn_column_container, #left_rail ~ #main_right_unit #main_content.yes_right_rail .multicolumn_column.width_75:first-child .multicolumn_column_container 
{
    margin-top:0px\0;
}

@media only screen and (min-width:850px) 
{
    .responsive #left_rail ~ #main_right_unit #main_content.yes_right_rail .multicolumn_column.width_25, .responsive #left_rail ~ #main_right_unit #main_content.yes_right_rail .multicolumn_column.width_25+.multicolumn_column.width_50, .responsive #left_rail ~ #main_right_unit #main_content.yes_right_rail .multicolumn_column.width_75
{
    float:none;
    width:auto;
}

.responsive #left_rail ~ #main_right_unit #main_content.yes_right_rail .multicolumn_column.width_25 .multicolumn_column_container, .responsive #left_rail ~ #main_right_unit #main_content.yes_right_rail .multicolumn_column.width_25+.multicolumn_column.width_50 .multicolumn_column_container, .responsive #left_rail ~ #main_right_unit #main_content.yes_right_rail .multicolumn_column.width_75 .multicolumn_column_container 
{
    margin-top:20px;
    margin-left:0px;
    border-right:none;
}

.responsive #left_rail ~ #main_right_unit #main_content.yes_right_rail .multicolumn_column.width_25:first-child .multicolumn_column_container, .responsive #left_rail ~ #main_right_unit #main_content.yes_right_rail .multicolumn_column.width_75:first-child .multicolumn_column_container 
{
    margin-top:0px;
}
}

@media only screen and (min-width:850px) and (max-width:1023px) 
{
.responsive #main_content.yes_right_rail .multicolumn_column.width_25, .responsive #main_content.yes_right_rail .multicolumn_column.width_25+.multicolumn_column.width_50, .responsive #main_content.yes_right_rail .multicolumn_column.width_75,
.responsive #left_rail ~ #main_right_unit .multicolumn_column.width_25, .responsive #left_rail ~ #main_right_unit .multicolumn_column.width_25+.multicolumn_column.width_50, .responsive #left_rail ~ #main_right_unit .multicolumn_column.width_75
{
    float:none;
    width:auto;
    }
        
.responsive #main_content.yes_right_rail .multicolumn_column.width_25 .multicolumn_column_container, .responsive #main_content.yes_right_rail .multicolumn_column.width_25+.multicolumn_column.width_50 .multicolumn_column_container, .responsive #main_content.yes_right_rail .multicolumn_column.width_75 .multicolumn_column_container,
.responsive #left_rail ~ #main_right_unit .multicolumn_column.width_25 .multicolumn_column_container, .responsive #left_rail ~ #main_right_unit .multicolumn_column.width_25+.multicolumn_column.width_50 .multicolumn_column_container, .responsive #left_rail ~ #main_right_unit .multicolumn_column.width_75 .multicolumn_column_container
   {
       margin-top: 20px;
       margin-left: 0px;
       margin-right:0px;
       border-right:none;
   }
   
.responsive #main_content.yes_right_rail .multicolumn_column.width_25:first-child .multicolumn_column_container, .responsive #main_content.yes_right_rail .multicolumn_column.width_75:first-child .multicolumn_column_container,
.responsive #left_rail ~ #main_right_unit .multicolumn_column.width_25:first-child .multicolumn_column_container, .responsive #left_rail ~ #main_right_unit .multicolumn_column.width_75:first-child .multicolumn_column_container
   {
       margin-top:0px;
   }
}

@media only screen and (max-width:767px) 
{
.responsive .multicolumn_column.width_25, .responsive .multicolumn_column.width_25+.multicolumn_column.width_50, .responsive .multicolumn_column.width_75
{
    float:none;
    width:auto;
    }

.responsive .multicolumn_column.width_25 .multicolumn_column_container, .responsive .multicolumn_column.width_25+.multicolumn_column.width_50 .multicolumn_column_container, .responsive .multicolumn_column.width_75 .multicolumn_column_container
   {
       margin-top: 20px;
       margin-right:0px;
       margin-left: 0px;
       border-right:none;
   }

.responsive .multicolumn_column.width_25:first-child .multicolumn_column_container, .responsive .multicolumn_column.width_75:first-child .multicolumn_column_container
   {
       margin-top:0px;
   }
}

/* 33 and 66 percent */

@media only screen and (max-width:640px) 
{
    .responsive .multicolumn_column.width_33, .responsive .multicolumn_column.width_66
    {
        float:none;
        width:auto;
        }
        
   .responsive .multicolumn_column.width_33 .multicolumn_column_container, .responsive .multicolumn_column.width_66 .multicolumn_column_container
   {
       margin-top: 20px;
       margin-left: 0px;
       margin-right:0px;
       border-right:none;
   }
   
   .responsive .multicolumn_column.width_33:first-child .multicolumn_column_container, .responsive .multicolumn_column.width_66:first-child .multicolumn_column_container 
   {
       margin-top:0px;
   }
}

/* 40 and 60 percent */
@media only screen and (max-width:640px) 
{
    .responsive .multicolumn_column.width_40, .responsive .multicolumn_column.width_60
    {
        float:none;
        width:auto;
        }
        
   .responsive .multicolumn_column.width_40 .multicolumn_column_container, .responsive .multicolumn_column.width_60 .multicolumn_column_container
   {
       margin-top: 20px;
       margin-left: 0px;
       margin-right: 0px;
       border-right:none;
   }
   
   .responsive .multicolumn_column.width_40:first-child .multicolumn_column_container, .responsive .multicolumn_column.width_60:first-child .multicolumn_column_container 
   {
       margin-top:0px;
   }
}

/* 50 percent */
@media only screen and (max-width:640px) 
{
.responsive .multicolumn_column.width_50
{
    float:none;
    width:auto;
    }
        
.responsive .multicolumn_column.width_50 .multicolumn_column_container
   {
       margin-top: 20px;
       margin-left: 0px;
       margin-right: 0px;
       border-right:none;
   }
   
.responsive .multicolumn_column.width_50:first-child .multicolumn_column_container
   {
       margin-top:0px;
   }
}

.multicolumn_column.width_100 > .multicolumn_column_container 
{
    margin-top:0px!important;
}
/* End Responsive Multicolumn Stacking */

/* Begin Responsive NESTED multicolumn stacking */

.multicolumn_column_container .multicolumn_row {
    margin-left: 0px;
    margin-right: 0px;
}
.multicolumn_column_container .multicolumn_row:first-child {
    margin: 0;
}

/* nested multicolumn 20 percent */
.nested_20 > .multicolumn_column_container > .multicolumn_row > .multicolumn_column:first-child .multicolumn_column_container,
#main_content.yes_right_rail .nested_20 > .multicolumn_column_container > .multicolumn_row > .multicolumn_column:first-child .multicolumn_column_container,
#left_rail ~ #main_right_unit .nested_20 > .multicolumn_column_container > .multicolumn_row > .multicolumn_column:first-child .multicolumn_column_container

{
    margin-left:0px;
}

#main_content.yes_right_rail .nested_20 + .multicolumn_column,
#left_rail ~ #main_right_unit .nested_20 + .multicolumn_column
    {
        padding-top: 20px;
    }
    
#main_content.yes_right_rail .nested_20:first-child > .multicolumn_column_container,
#left_rail ~ #main_right_unit .nested_20:first-child > .multicolumn_column_container
    {
        margin-right:0px;
        margin-left:0px;
    }

#main_content.yes_right_rail .nested_20 > .multicolumn_column_container,
#left_rail ~ #main_right_unit .nested_20 > .multicolumn_column_container {
    margin-left: 0px;
}

#main_content.yes_right_rail .nested_20, .yes_right_rail .responsive .nested_20 + .multicolumn_column,
#left_rail ~ #main_right_unit .nested_20, .yes_right_rail .responsive .nested_20 + .multicolumn_column {
    float: none;
    width: auto;
}

#main_content.yes_right_rail .nested_20.width_40 > .multicolumn_column_container .multicolumn_column,
#left_rail ~ #main_right_unit .nested_20.width_40 > .multicolumn_column_container .multicolumn_column {
        width: 33.33%;
}

#main_content.yes_right_rail .nested_20.width_40 > .multicolumn_column_container .multicolumn_column.width_100,
#left_rail ~ #main_right_unit .nested_20.width_40 > .multicolumn_column_container .multicolumn_column.width_100
    {
        width:auto;
    }
    
#main_content.yes_right_rail .nested_20.width_40 > .multicolumn_column_container .multicolumn_column.width_last .multicolumn_column_container,
#left_rail ~ #main_right_unit .nested_20.width_40 > .multicolumn_column_container .multicolumn_column.width_last .multicolumn_column_container
    {
        margin-right:20px;
    }

@media only screen and (max-width:950px) 
{
    .responsive .nested_20 + .multicolumn_column 
    {
        padding-top: 20px;
    }
    
    .responsive .nested_20 > .multicolumn_column_container > .multicolumn_row > .multicolumn_column:first-child .multicolumn_column_container
    {
        margin-left:0px;
    }
    
    .responsive .nested_20:first-child > .multicolumn_column_container
    {
        margin-right:0px;
    }
    
    .responsive .nested_20 > .multicolumn_column_container
    {
        margin-left:0px;
    }
    
    .responsive .nested_20, .responsive .nested_20 + .multicolumn_column
    {
        float:none;
        width:auto;
    }
    
   .responsive .nested_20.width_40 > .multicolumn_column_container .multicolumn_column
    {
        width:33.33%;
    }
    
    .responsive .nested_20.width_40 > .multicolumn_column_container .multicolumn_column.width_100
    {
        width:auto;
    }
   

    .responsive .nested_20.width_40 > .multicolumn_column_container .multicolumn_column.width_last .multicolumn_column_container 
    {
        margin-right:20px;
    }
}

@media only screen and (max-width:640px) 
{
    .responsive .nested_20 + .multicolumn_column,
    .responsive #main_content.yes_right_rail .nested_20 + .multicolumn_column,
    .responsive #left_rail ~ #main_right_unit .nested_20 + .multicolumn_column
    {
        padding-top: 0px;
    }
    
    .responsive .nested_20.width_60 .multicolumn_column + .multicolumn_column,
    .responsive #main_content.yes_right_rail .nested_20.width_60 .multicolumn_column + .multicolumn_column,
    .responsive #left_rail ~ #main_right_unit .nested_20.width_60 .multicolumn_column + .multicolumn_column
    {
        padding-top:20px;
    }
    
    .responsive .nested_20 > .multicolumn_column_container .multicolumn_column,
    .responsive #main_content.yes_right_rail .nested_20 > .multicolumn_column_container .multicolumn_column,
    .responsive #left_rail ~ #main_right_unit .nested_20 > .multicolumn_column_container .multicolumn_column, 
    .responsive .nested_20.width_40 > .multicolumn_column_container .multicolumn_column,
    .responsive #main_content.yes_right_rail .nested_20.width_40 > .multicolumn_column_container .multicolumn_column,
    .responsive #left_rail ~ #main_right_unit .nested_20.width_40 > .multicolumn_column_container .multicolumn_column
    {
        float:none;
        width:auto;
    }
    
    .responsive .nested_20.width_40:first-child > .multicolumn_column_container .multicolumn_column,
    .responsive #main_content.yes_right_rail .nested_20.width_40:first-child > .multicolumn_column_container .multicolumn_column,
    .responsive #left_rail ~ #main_right_unit .nested_20.width_40:first-child > .multicolumn_column_container .multicolumn_column
    {
        margin-top:20px;
    }
    
    .responsive .nested_20.width_40:first-child > .multicolumn_column_container .multicolumn_column:first-child,
    .responsive #main_content.yes_right_rail .nested_20.width_40:first-child > .multicolumn_column_container .multicolumn_column:first-child,
    .responsive #left_rail ~ #main_right_unit .nested_20.width_40:first-child > .multicolumn_column_container .multicolumn_column:first-child
    {
        margin-top: 0px;
    }
}

/* nested multicolumn 50 percent */
.nested_50 > .multicolumn_column_container > .multicolumn_row > .multicolumn_column:first-child .multicolumn_column_container,
#main_content.yes_right_rail .nested_50 > .multicolumn_column_container > .multicolumn_row > .multicolumn_column:first-child .multicolumn_column_container,
#left_rail ~ #main_right_unit .nested_50 > .multicolumn_column_container > .multicolumn_row > .multicolumn_column:first-child .multicolumn_column_container

{
    margin-left:0px;
}
    
#main_content.yes_right_rail .nested_50:first-child > .multicolumn_column_container,
#left_rail ~ #main_right_unit .nested_50:first-child > .multicolumn_column_container
    {
        margin-right:0px;
        margin-left:0px;
    }

#main_content.yes_right_rail .nested_50 > .multicolumn_column_container,
#left_rail ~ #main_right_unit .nested_50 > .multicolumn_column_container {
    margin-left: 0px;
}

#main_content.yes_right_rail .nested_50 > .multicolumn_column_container .multicolumn_column.width_50,
#left_rail ~ #main_right_unit .nested_50 > .multicolumn_column_container .multicolumn_column.width_50 {
        width: 50%;
}

#main_content.yes_right_rail .nested_50 > .multicolumn_column_container .multicolumn_column.width_100,
#left_rail ~ #main_right_unit .nested_50 > .multicolumn_column_container .multicolumn_column.width_100
    {
        width:auto;
    }
    
#main_content.yes_right_rail .nested_50 > .multicolumn_column_container .multicolumn_column.width_last .multicolumn_column_container,
#left_rail ~ #main_right_unit .nested_50 > .multicolumn_column_container .multicolumn_column.width_last .multicolumn_column_container
    {
        margin-right:20px;
    }

@media only screen and (max-width:767px) 
{

.responsive .nested_50 > .multicolumn_column_container > .multicolumn_row > .multicolumn_column:first-child .multicolumn_column_container
    {
        margin-left:0px;
    }
    
    .responsive .nested_50:first-child > .multicolumn_column_container
    {
        margin-right:0px;
    }
    
    .responsive .nested_50 > .multicolumn_column_container
    {
        margin-left:0px;
    }
    
    .responsive .nested_50, .responsive .nested_50 + .multicolumn_column
    {
        float:none;
        width:auto;
    }
    
   .responsive .nested_50 > .multicolumn_column_container .multicolumn_column.width_50
    {
        width:50%;
    }
    
    .responsive .nested_50 > .multicolumn_column_container .multicolumn_column.width_100
    {
        width:auto;
    }
   

    .responsive .nested_50 > .multicolumn_column_container .multicolumn_column.width_last .multicolumn_column_container 
    {
        margin-right:20px;
    }
}

@media only screen and (max-width:640px) 
{
    .responsive .nested_50 + .multicolumn_column,
    .responsive #main_content.yes_right_rail .nested_50 + .multicolumn_column,
    .responsive #left_rail ~ #main_right_unit .nested_50 + .multicolumn_column
    {
        padding-top: 0px;
    }
    
    .responsive .nested_50:first-child .multicolumn_column + .multicolumn_column,
    .responsive #main_content.yes_right_rail .nested_50:first-child .multicolumn_column + .multicolumn_column,
    .responsive #left_rail ~ #main_right_unit .nested_50:first-child .multicolumn_column + .multicolumn_column
    {
        padding-top:20px;
    }
    
    .responsive .nested_50 > .multicolumn_column_container .multicolumn_column,
    .responsive #main_content.yes_right_rail .nested_50 > .multicolumn_column_container .multicolumn_column,
    .responsive #left_rail ~ #main_right_unit .nested_50 > .multicolumn_column_container .multicolumn_column, 
    .responsive .nested_50 > .multicolumn_column_container .multicolumn_column.width_50,
    .responsive #main_content.yes_right_rail .nested_50 > .multicolumn_column_container .multicolumn_column.width_50,
    .responsive #left_rail ~ #main_right_unit .nested_50 > .multicolumn_column_container .multicolumn_column.width_50
    {
        float:left;
        width:50%;
        margin-top:0px!important;
        padding-top:0px!important;
    }
  
  .responsive .multicolumn_column.nested_50 .multicolumn_column_container {
    margin-top: 0px!important;
}
  
  .responsive .nested_50 .width_100 {
    width:auto!important;
  }

    .responsive .nested_50 .multicolumn_column.width_50 .multicolumn_column_container {
        margin-top:0px;
        padding-right:10px;
        margin-right:0px!important;
    } 
}

/* End Responsive NESTED multicolumn stacking */

/* End multicolumn */

/* Begin Banner */

.banner .multicolumn_column_container 
{
    margin-left: 0px;
    margin-right: 0px;
}

.banner h1, .banner .h1 {
    margin-left:0px;
}

.banner .multicolumn_column.width_66 .multicolumn_column_container,
.banner .multicolumn_column.width_100 .multicolumn_column_container 
{    
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.banner .multicolumn_column.width_33 span 
{    
    background-repeat:no-repeat;
    background-position:center top;
    background-size: cover;
}


@media only screen and (max-width:850px) {
.responsive .multicolumn_row.banner {
    margin-left: 0;
    margin-right: 0;
}
}

.banner .column_fill {
 height:20px; 
}

/* End Banner */

/* Begin Multicolumn List Banner */

/* Begin Multicolumn List Banner */

.multicolumn_list_banner > .multicolumn_column > .multicolumn_column_container {
 margin-right:0px;
  margin-left:0px;
}

.multicolumn_list_banner > .multicolumn_column > .multicolumn_column_container > *  {
  border-right:1px solid #ccc;
  margin-bottom:5px;
  padding-right:20px;
  margin-left:20px;
}

.multicolumn_list_banner > .multicolumn_column.width_last > .multicolumn_column_container > * {
  border-right:none;
}

.multicolumn_list_banner > .multicolumn_column .multicolumn_column_container {
 padding-top:10px;
}

@media only screen and (max-width : 850px) {
.responsive .multicolumn_list_banner {
 margin-left:0px;
  margin-right:0px;
}
}

@media only screen and (max-width:640px) {
 .responsive .multicolumn_list_banner > .multicolumn_column > .multicolumn_column_container {
   margin-top:0px!important;
   padding-top:0px!important;
 }
  
.responsive .multicolumn_list_banner > .multicolumn_column > .multicolumn_column_container > *  {
border-right:none;
  padding:10px;
  margin:0px 20px 0px 20px;
     border-bottom:1px solid #ccc;
}
  
.responsive .multicolumn_list_banner > .multicolumn_column.width_last > .multicolumn_column_container > *  {

     border-bottom:none;
}  
  
  .responsive .multicolumn_list_banner > .multicolumn_column > .multicolumn_column_container .column_fill {
   border-bottom:0px;
    display:none;
  }
}

/* End Multicolumn List Banner */

/* Begin Multicolumn Row Table Style */

    .multicolumn_row.multicolumn_row_table_style {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        margin-bottom:0px;
    }

    .multicolumn_row + .multicolumn_row_table_style {
        border-top:none;
    }

    .multicolumn_row + .multicolumn_row_table_style {
        margin-top:0px;
    }

    .multicolumn_row.multicolumn_row_table_style > .multicolumn_column:first-child .multicolumn_column_container {
       border-left: 1px solid #ccc;
    }

   .multicolumn_row.multicolumn_row_table_style > .multicolumn_column .multicolumn_column_container {
       padding-left: 10px;
       padding-right: 10px;
       margin-right: 0px;
       margin-left: 0px;
       padding-top: 10px;
       border-right: 1px solid #ccc;
       background:#fff;
   }

   .multicolumn_row.multicolumn_row_table_style > .multicolumn_column .multicolumn_column_container .column_fill {
       height: 15px;
   }

/* End Multicolumn Row Table */

/* Begin article */

.article 
{
	margin: 0px 20px 0px 20px;
}

.article h1 
{
    margin-left:0px;
    margin-right:0px;
}

#right_rail .article 
{
    margin-left:0px;
}

@media only screen and (max-width:850px) 
{
    .responsive #right_rail .article {
    margin-left:20px;
    }
    
    .responsive #left_rail .article 
    {
        margin-right: 20px;
    }
}

.multicolumn_column span.article ul 
{
	display:inline-block;
}

.article:first-child p:first-child, span.article p:first-child,
.article:first-child h2:first-child, span.article h2:first-child,
.article:first-child h3:first-child, span.article h3:first-child,
.article:first-child h4:first-child, span.article h4:first-child,
.article:first-child h5:first-child, span.article h5:first-child,
.article:first-child h6:first-child, span.article h6:first-child,
.article:first-child ul:first-child, span.article ul:first-child,
.article:first-child ol:first-child, span.article ol:first-child,
.article:first-child img:first-child, span.article img:first-child
{
	margin-top: 0em;
}

.multicolumn_row .article
{
	margin-left: 0px;
	margin-right: 0px;
}

/* End Article */

/* Begin Accordion */

.accordion_content + .accordion_large {
    margin-top:.6em;
}

.accordion_content + .accordion_large:not(*:root) {
    margin-top:1em;
}

.accordion_content {
    overflow:hidden;
    -webkit-backface-visibility:hidden;
    -webkit-transform: translateZ(0);
}

.accordion_small a[href], .accordion_small a[href]:visited, .accordion_small a[href]:active, .accordion_small a[href]:hover,
.accordion_medium a[href], .accordion_medium a[href]:visited, .accordion_medium a[href]:active, .accordion_medium a[href]:hover
{
    cursor: text;
}

.accordion_small .plus_minus, .accordion_medium .plus_minus {
    display:none!important;
}

.plus_minus [class*="fa-"] {
    padding-left:0px;
}

@media only screen and (max-width: 640px) {
    .responsive .accordion_content + .accordion_small {
    margin-top:.6em;
}
    .responsive .accordion_content + .accordion_small:not(*:root) {
    margin-top:1em;
}
    .responsive .accordion_medium + .accordion_content, .responsive .accordion_large + .accordion_content {
        height:auto;
    }
    .responsive .accordion_small + .accordion_content {
        height:0px;
    }
    .responsive .accordion_content + .accordion_small {
        padding-top: 1em;
    }
    .responsive .accordion_small + .accordion_content > *:first-child {
        margin-top:1em!important;
    }
    .responsive .accordion_small .plus_minus {
    display:table-cell!important;
    padding-right:10px;
    }
}

@media only screen and (max-width: 850px) {
    .responsive .accordion_content + .accordion_medium {
    margin-top:.6em;
}
    .responsive .accordion_content + .accordion_medium:not(*:root) {
    margin-top:1em;
}
    .responsive .accordion_small + .accordion_content, .responsive .accordion_large + .accordion_content {
        height:auto;
    }
    .responsive .accordion_medium + .accordion_content {
        height:0px;
    }
    .responsive .accordion_content + .accordion_medium {
        padding-top: 1em;
    }
    .responsive .accordion_medium + .accordion_content > *:first-child {
        margin-top:1em!important;
    }
    .responsive .accordion_medium .plus_minus {
    display:table-cell!important;
    padding-right:10px;
    }
}

@media only screen and (min-width: 851px) {
    .responsive .accordion_content + .accordion_large {
    margin-top:.6em;
}

   .accordion_content + .accordion_large:not(*:root) {
    margin-top:1em;
}
    .responsive .accordion_small + .accordion_content, .responsive .accordion_medium + .accordion_content {
        height:auto;
    }
    .responsive .accordion_large + .accordion_content {
        height:0px;
    }
    .responsive .accordion_content + .accordion_large {
        padding-top: 1em;
    }
    .responsive .accordion_large + .accordion_content > *:first-child {
        margin-top:1em!important;
    }
    .responsive .accordion_large .plus_minus {
    display:table-cell!important;
    padding-right:10px;
    }
}

/* End Accordion */

/* Begin .vertical and .horizontal */

.vertical, .horizontal
{
    padding: 5px 0px 5px 0px;
}

.article.vertical 
{
   margin:0px!important;
   padding-left:25px;
   padding-right: 25px;
}

a.vertical 
{
    display:table;
}

.vertical > *, .vertical > a > *
{
    display:table-cell;
    vertical-align: middle;
    margin-left:0px;
    margin-right:0px;
}

.horizontal > *, .horizontal > a > * 
{
    display:table-cell;
    vertical-align:top;
}

.horizontal_bottom_align 
{
    vertical-align:text-bottom!important;
}

.alignment_wide
{
    width: 100%;
}

.alignment_wide + *, * + .alignment_wide
{
    padding-left: 15px!important;
}

.vertical + .article > *:first-child 
{
    margin-top:1.5em;
}

/* End .vertical and .horizontal */

/* Begin Tabs */

.tab_nav 
{
    margin-bottom: 20px;
    position:relative;
    margin:0px 20px 20px 20px;
    padding:25px 25px 0px 25px;
}

.tab
{
    padding: 0px;
    display:inline-block;
    max-width:49%;
    position:relative;
    margin-right: 5px;
    -webkit-backface-visibility:hidden;
}

.tab > a, .tab > a:visited, .tab > a:hover, .tab > a:active 
{
	font-size: 1.2em;	
	padding: 10px 25px 10px 25px;
	margin: 0px;
	text-align: center;
    display:inline-block;
}

@media only screen and (max-width:640px) {
    .responsive .tab > a, .responsive .tab > a:visited, .responsive .tab > a:hover, .responsive .tab > a:active {
        padding: 10px;
    }
}

.tab_nav .button.active a.button_a, .tab_nav .button.active a.button_a:visited, .tab_nav .button.active a.button_a:hover, .tab_nav .button.active a.button_a:active  
{
    cursor:default;
}

#section_0.show, #section_1.show, #section_2.show, #section_3.show, #section_4.show 
{
    top:0px;
    padding-top: 5px;
}

/* End Tabs */

/* Begin List Nav */

.list_nav ul:first-child 
{
margin:0px;
padding:0px;
}

.list_nav li li
{
	padding-bottom: 0px;
}

.list_nav li 
{
	display:none;
	background:none;
	padding-left: .7em;
}

.list_nav li.nav_top_item 
{
	display:list-item;
	margin-top: 0px!important;
	border-top: none!important;
}

.list_nav .nav_top_item.section_on_last > a:hover 
{
    cursor:text;
}

.list_nav li.section_on_last 
{
	display: list-item;
}

.list_nav li.item_show 
{
	display:list-item;
	padding-bottom: 0px;
}

.root_flag 
{
	display:none;
}

/* End List Nav */

/* Begin Tool Tip */

.tool-tip
{
    position:absolute;
}

img.tool-tip {
    padding:2px;
    background:#fff;
    border: 1px solid #ccc;
}

/* End Tool Tip */

/* THUMBS UP */

#thumbs_up, #thumbs_down 
{
    padding: .5em;
    display:inline-block;
}

#thumbs_up 
{
    padding-left:.7em!important;
}

#thumbs_up > a img+img, #thumbs_down > a img+img 
{
    visibility:hidden;
    width:0px;
    height:0px;
    overflow:hidden;
    -webkit-backface-visibility:hidden;
}

/* End THUMBS UP */

/* Begin Miscelleaneous Helpers */
.clear
{
	clear: both;
	height:0px;
	position:relative;
	overflow:hidden;
    -webkit-backface-visibility:hidden;
}

.clear_after:after
{
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

.clear_before:before
{
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

.max_width_small_narrow {
    max-width:280px;
}

.no_top_margin 
{
    margin-top: 0px!important;
}

.no_bottom_margin 
{
    margin-bottom: 0px!important;
}

.no_left_margin {
    margin-left: 0px!important;
}

.no_right_margin {
    margin-right:0px!important;
}

.no_top_padding 
{
    padding-top: 0px!important;
}

.no_bottom_padding 
{
    padding-bottom: 0px!important;
}

.no_left_padding {
    padding-left: 0px!important;
}

.no_right_padding {
    padding-right:0px!important;
}

.right 
{
	float:right!important;
}

.left
{
    float:left!important;
}

.center 
{
    text-align:center;
    margin: 0px auto 0px auto;
}

.absolute_top
{
    position:absolute;
    top: 0px;
    width:100%;
}

.absolute_bottom 
{
    position:absolute;
    bottom:0px;
    width:100%;
}

.show 
{
    display:block;
    position: relative;
}

.hide 
{
    display:none;
}

.bg_white {
    background:#fff;
}
/* End MISC HELPERS */

/* DART FIX */
iframe[height="1"] 
{
    position:absolute;
    left: -9999px;
}
/* End DART FIX */

/* OPINION LAB */
/*
OnlineOpinion v5.7.6
Released: 10/01/2013. Compiled 10/01/2013 04:04:42 PM -0500
Branch: master 79dc959bc3428c0d17655bb2594ce9cfe14935e8
Components: Full
UMD: disabled
The following code is Copyright 1998-2013 Opinionlab, Inc.  All rights reserved. Unauthorized use is prohibited. This product and other products of OpinionLab, Inc. are protected by U.S. Patent No. 6606581, 6421724, 6785717 B1 and other patents pending. http://www.opinionlab
*/
@media only screen and (max-width:850px) 
{
    .responsive .oo_feedback_float 
    {
        display:none;
    }   
}

#oo_feedback_fl_spacer { display: block; height: 1px; position: absolute; top: 0; width: 100px; }

.oo_feedback_float { width: 55px; height: 50px; overflow: hidden; font: 12px Tahoma, Arial, Helvetica, sans-serif; text-align: center; color: #252525; cursor: pointer; z-index: 999997; position: fixed; bottom: 5px; right: 10px; -webkit-transition: -webkit-transform 0.3s ease;}
.oo_feedback_float .screen_reader { color: transparent; display: block; position: relative; height: 0; width: 0; line-height: 0; overflow: hidden; }
.oo_feedback_float .olUp { width: 100%; height: 100%; background: url(../../images/global_images/opinion_lab/oo_float_icon.gif)/*tpa=https://www.salliemae.com/assets/images/global_images/opinion_lab/oo_float_icon.gif*/ center 10px no-repeat; text-align: center; padding: 31px 0 5px 0; position: relative; z-index: 2; filter: alpha(opacity=100); opacity: 1; transition: opacity .5s; -moz-transition: opacity .5s; -webkit-transition: opacity .5s; -o-transition: opacity .5s; }
.oo_feedback_float .olUp img { margin-bottom: 5px; }
.oo_feedback_float .oo_transparent { display: block; background: white; position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 1; opacity: 0.0; filter: alpha(opacity=0); border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; }

.oo_feedback_float:hover .oo_transparent {opacity: 0.8; filter: alpha(opacity=80);}
.oo_feedback_float:hover {width:100px; border: 1px solid #cccccc; border-radius: 9px; -moz-border-radius: 9px; -webkit-border-radius: 9px;}
.oo_feedback_float:hover .oo_transparent { opacity: 1.0; filter: alpha(opacity=100); }
.oo_feedback_float:hover .olUp { display: block; opacity: 0; filter: alpha(opacity=0); }
.oo_feedback_float .fbText { display: block; }
.oo_feedback_float .olOver { display: block; height: 100%; width: 100%; position: absolute; top: 0; left: 0; min-height: 50px; z-index: 2; opacity: 0; filter: alpha(opacity=0); transition: opacity .5s; -moz-transition: opacity .5s; -webkit-transition: opacity .5s; -o-transition: opacity .5s; }
.oo_feedback_float .olOver span { display: block; padding: 10px 5px; }
.oo_feedback_float:hover .olOver { opacity: 1.0; filter: alpha(opacity=100); top: 0; }

.oo_cc_wrapper { left: 0; padding: 0; position: fixed; text-align: center; top: 25px; width: 100%; z-index: 999999; }
.oo_cc_wrapper .screen_reader { color: transparent; display: block; position: relative; height: 0; width: 0; line-height: 0; overflow: hidden; }
.oo_cc_wrapper span { width: 100%; height: 100%; position: absolute; left: 0; top: 0; z-index: 1; }
.oo_cc_wrapper .iwrapper { background-color: white; margin: 0 auto; position: relative; width: 535px; z-index: 2; box-shadow: rgba(0, 0, 0, 0.6) 0 0 15px; -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0 0 15px; -moz-box-shadow: rgba(0, 0, 0, 0.6) 0 0 15px; border-radius: 9px; -moz-border-radius: 9px; -webkit-border-radius: 9px; }
.oo_cc_wrapper iframe { position: relative; border: none; width: 100%; z-index: 4; }
.oo_cc_wrapper .oo_cc_close { position: absolute; display: block; background: white; height: 20px; width: 20px; border: 1px solid #cccccc; cursor: pointer; right: -12px; top: -9px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; transition: background .5s; -moz-transition: background .5s; -webkit-transition: background .5s; -o-transition: background .5s; font: 14px/20px Tahoma, Arial, Helvetica, sans-serif; text-align: center; z-index: 5; color: #252525; text-decoration: none; }
.oo_cc_wrapper .oo_cc_close:hover { background: #eeeeee; }

.oo_bar { padding-bottom: 22px; }

#oo_bar { cursor: pointer; color: #252525; border-top: 1px solid #cccccc; background: #ffffff; bottom: 0; display: block; font: 12px Tahoma, Arial, Helvetica, sans-serif; height: 22px; left: 0; line-height: 22px; position: fixed; text-align: left; width: 100%; z-index: 999997; -webkit-transition: -webkit-transform .3s ease; transition: background 0.5s; -moz-transition: background 0.5s; -webkit-transition: background 0.5s; -o-transition: background 0.5s; }
#oo_bar:hover { background: #eeeeee; }
#oo_bar .screen_reader { color: transparent; display: block; position: relative; height: 0; width: 0; line-height: 0; overflow: hidden; }
#oo_bar span { background: url(Unknown_83_filename)/*tpa=https://www.salliemae.com/assets/css/global_css/oo_bar_icon.gif*/ left no-repeat; display: block; margin: 0 15px; height: 100%; padding-left: 17px; }

#oo_tab { background-color: #ffffff; border: 1px solid #cccccc; display: block; position: fixed; top: 40%; padding: 55px 0px 55px 0px; _height: 110px; _padding: 0px; _top: 45%; width: 35px; z-index: 999995; cursor: pointer; }
#oo_tab span { bottom: 15px; _bottom: 5px; display: block; background: url(Unknown_83_filename)/*tpa=https://www.salliemae.com/assets/css/global_css/oo_tab_icon.gif*/ no-repeat; height: 9px; position: absolute; width: 9px; }
#oo_tab div { background-image: url(Unknown_83_filename)/*tpa=https://www.salliemae.com/assets/css/global_css/oo_tab.png*/; _background-image: url(Unknown_83_filename)/*tpa=https://www.salliemae.com/assets/css/global_css/oo_tabie6.png*/; background-repeat: no-repeat; position: absolute; display: block; height: 100%; left: 0; top: 0; width: 100%; }
#oo_tab.wcag a { background: url(Unknown_83_filename)/*tpa=https://www.salliemae.com/assets/css/global_css/oo_tab_icon.gif*/ no-repeat; background-repeat: no-repeat; background-position: center bottom; border: none; outline: none; position: absolute; display: block; bottom: 15px; left: -6px; top: 0; width: 100%; }
#oo_tab.wcag img { border: none; outline: none; display: block; position: absolute; left: 0; top: -10px; }
#oo_tab .screen_reader { color: transparent; display: block; position: relative; height: 0; width: 0; line-height: 0; overflow: hidden; }

.oo_tab_left { left: -13px; border-radius: 0px 9px 9px 0px; -moz-border-radius: 0px 9px 9px 0px; -webkit-border-radius: 0px 9px 9px 0px; transition: left .5s; -moz-transition: left .5s; -webkit-transition: left .5s; -o-transition: left .5s; background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#eeeeee), to(white)); background-image: -webkit-linear-gradient(left, #eeeeee, white); background-image: -moz-linear-gradient(left, #eeeeee, white); background-image: -ms-linear-gradient(left, #eeeeee, white); background-image: -o-linear-gradient(left, #eeeeee, white); background-image: linear-gradient(left, #eeeeee, white); }
.oo_tab_left span { right: 6px; }
.oo_tab_left div { background-position: 6px -10px; }
.oo_tab_left:hover { left: -5px; }

.oo_tab_right { right: -13px; border-radius: 9px 0px 0px 9px; -moz-border-radius: 9px 0px 0px 9px; -webkit-border-radius: 9px 0px 0px 9px; transition: right .5s; -moz-transition: right .5s; -webkit-transition: right .5s; -o-transition: right .5s; background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from(white), to(#eeeeee)); background-image: -webkit-linear-gradient(left, white, #eeeeee); background-image: -moz-linear-gradient(left, white, #eeeeee); background-image: -ms-linear-gradient(left, white, #eeeeee); background-image: -o-linear-gradient(left, white, #eeeeee); background-image: linear-gradient(left, white, #eeeeee); }
.oo_tab_right span { left: 7px; }
.oo_tab_right div { background-position: -6px -10px; }
.oo_tab_right:hover { right: -5px; }

.oo_tab_ie_right { border-right: none !important; right: 1px; width: 25px !important; }
.oo_tab_ie_right:hover { right: 6px; width: 30px !important; }

#oo_tab.oo_tab_ie67_right.wcag { overflow: hidden !important; right: 0px !important; width: 26px !important; }
#oo_tab.oo_tab_ie67_right.wcag:hover { right: 0px !important; width: 31px !important; }
#oo_tab.oo_tab_ie67_right.wcag a { background: none; z-index: 1; }
#oo_tab.oo_tab_ie67_right.wcag .screen_reader { bottom: 15px; display: block; background: url(Unknown_83_filename)/*tpa=https://www.salliemae.com/assets/css/global_css/oo_tab_icon.gif*/ no-repeat; height: 9px; width: 9px; position: absolute; left: 7px; top: auto; z-index: 9999; }

#oo_container { position: fixed; height: 100%; width: 100%; top: 0; left: 0; z-index: 999999; }

html body #oo_invitation_prompt { background: white; box-shadow: rgba(0, 0, 0, 0.6) 0 0 15px; -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0 0 15px; -moz-box-shadow: rgba(0, 0, 0, 0.6) 0 0 15px; -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0 0 8px; -moz-box-shadow: rgba(0, 0, 0, 0.6) 0 0 8px; border-radius: 9px; -moz-border-radius: 9px; -webkit-border-radius: 9px; color: #252525; font: 14px/20px Tahoma, Arial,san-serif; line-height: 20px; margin: 50px auto; text-align: left; padding: 20px 10px; position: relative; width: 350px; z-index: 999999; }
html body #oo_invitation_prompt h1 { font-size: 24px; font-weight: 100; margin-bottom: .6em; }
html body #oo_invitation_prompt p { margin-bottom: 1.5em; }
html body #oo_invitation_prompt #prompt_buttons { padding-bottom: 15px; position: relative; z-index: 5; }
html body #oo_invitation_prompt #oo_launch_prompt { text-decoration: none; color: white; border: 1px solid #006633; padding: 5px 11px; margin-right: 17px; }
html body #oo_invitation_prompt #oo_no_thanks { text-decoration: none; color: #252525; border: 1px solid #cccccc; padding: 5px 11px; margin-right: 18px; }
html body #oo_ol_brand { display: block; height: 22px; }

#oo_ol_brand { background: url(Unknown_83_filename)/*tpa=https://www.salliemae.com/assets/css/global_css/oo_inv_opinionlab.png*/ bottom right no-repeat; border-top: 1px solid #cccccc; }

#oo_invitation_prompt a { background: white; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; transition: background .5s; -moz-transition: background .5s; -webkit-transition: background .5s; -o-transition: background .5s; }
#oo_invitation_prompt a:hover { background: #eeeeee; }

a#oo_launch_prompt { background: #006633; }
a#oo_launch_prompt:hover { background: #009966; }

#oo_close_prompt { position: absolute; display: block; background: white; height: 20px; width: 20px; border: 1px solid #cccccc; cursor: pointer; right: 5px; top: 5px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; transition: background .5s; -moz-transition: background .5s; -webkit-transition: background .5s; -o-transition: background .5s; font: 14px/20px Tahoma, Arial, Helvetica, sans-serif; text-align: center; }
#oo_close_prompt:hover { background: #eeeeee; }
#oo_close_prompt .screen_reader { color: transparent; display: block; position: relative; height: 0; width: 0; line-height: 0; overflow: hidden; }

/* Smartphones (portrait) ----------- */
@media only screen and (max-device-width: 480px) { /* Styles */
  html body #oo_invitation_prompt { -webkit-text-size-adjust: none; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; width: 90%; padding: 3%; } }
@media all and (-webkit-min-device-pixel-ratio: 2) { #oo_ol_brand { background: url(Unknown_83_filename)/*tpa=https://www.salliemae.com/assets/css/global_css/oo_inv_opinionlab@2x.png*/ bottom right no-repeat; -webkit-background-size: 85px 13px; } }
#oo_overlay, #oo_invitation_overlay { background: black url(Unknown_83_filename)/*tpa=https://www.salliemae.com/assets/css/global_css/oo_loading.gif*/ 50% 80px no-repeat; display: block; height: 1000%; left: 0; position: fixed; top: 0; width: 100%; z-index: 999998; opacity: 0.5; filter: alpha(opacity=50); }
#oo_overlay.no_loading, #oo_invitation_overlay.no_loading { background: black; opacity: 0.5; filter: alpha(opacity=50); }

@media print { #oo_bar, .oo_feedback_float, #oo_tab { display: none; } }


/* End OPINION LAB */