/**
 * 10/07/2014
 */
/**
 * 12/02/2014
 */
/**
 * 3/4/2015
 */

body{text-align:center;background-color:#ffffff;color:#000000;margin:0px 0px;font:normal 8pt verdana, arial, sans-serif;}table,td,th{color:#000000;font:normal 8pt verdana, arial, sans-serif;margin:0px 0px;}form{margin:0px 0px;text-align:center;}a{color:#3366cc;}secLvl {}.countrySelection {background-color:#351C15;background-repeat:repeat-x;padding:7px 10px;}.countrySelection table {position:relative;bottom:0px;left:0px;margin:0 auto;}.countrySelectCell {vertical-align:top}.countrySelect {display:block;width:auto;width:100%;}.countryCheckCell{margin:0px;}.countryCheck{color:#FFFFFF}.rad{margin-top:0px;}.arrowBtnMini{margin-top:2px;background-position:1px -786px;width:18px;height:18px;border-width:1px;border-color:#99CCFF;padding:0;background-color:#6699FF;background-image:url(../img/icn_cmp_linkblue.gif)/*tpa=http://www.ups.com/img/icn_cmp_linkblue.gif*/;background-repeat:no-repeat;}* html .arrowBtnMini{background-position:0px -787px;}.secFooter {width:500px;margin-left:auto;margin-right:auto;text-align:center;} * html .secFooter {width:auto;text-align:center;}img.footerBar {display:none;}.ccfmtxt1 a img {border:0;}.popuppage-blue {background-image:url(../img/icn_popup_blue.gif)/*tpa=http://www.ups.com/img/icn_popup_blue.gif*/;background-position:right top;background-repeat:no-repeat;border:0px none;display:inline;height:9px;margin:0px;padding:0px;width:12px;}.modulepad{padding-left:10px;padding-right:10px;padding-top:0px;padding-bottom:0px;}.modSelMedium{width:166px;font:7.5pt}.ccfmbg1{text-align:center;}.ccfmln1{}.ccfmtxt1 {text-align:center;}.ccfmtxt2{font-family:arial, verdana, sans-serif;color:#666666;text-align:center;}.worldship {display:block;width:640px;margin:auto;background-color:#351C15;}.worldship .alignBegin {margin:auto;text-align:left;}.worldship .alignBlock {display:block;width:640px;height:80px !important;overflow:hidden !important;}.worldship .alignCenter {text-align:center;}.worldship .alignLft {float:left;}.worldship .alignRgt {float:right;}.worldship .alignTxtLft {text-align:left;}.worldship .alignTxtCtr {text-align:center;}.worldship .alignRgtPad {float:right;padding-right:20px;}.worldship .logo {width:302px;height:76px;border:0;display:inline;}.worldship dt {padding-top:12px;}.worldship img {border:0;}.worldship img .main {height:404px;width:640px;}.worldship img .btnGo {width:38px;height:18px;}.worldship img .line {width:1px;height:1px;}.worldship .line {background-color:#CCC;}.brand {background-color:#351C15;border-top:10px solid #FFB500;padding-top:70px;}