/* 
	Resets defualt browser settings
	reset.css
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td { margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-style:inherit; font-size:100%; font-family:inherit; vertical-align:middle; }
:focus { outline:0; }
a:active { outline:none; }
body { line-height:1; color:black; background:white; }
ol,ul { list-style:none; }
table { border-collapse:separate; border-spacing:0; }
caption,th,td { text-align:left; font-weight:normal; }
blockquote:before,blockquote:after,q:before,q:after { content:""; }
blockquote,q { quotes:"" ""; }

/*
	Page style
*/

#container {
	width:490px;
	position:relative;
	z-index:0;
}

#example {
	width:490px;
	height:315px;
	position:relative;
}

/*
	Slideshow
*/

#slides {
	position:absolute;
	z-index:100;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/

.slides_container {
	width:490px;
height:315px;
	overflow:hidden;
	position:relative;
	display:none;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

.slides_container div.slide {
	width:490px;
	height:315px;
	display:block;
}


/*
	Next/prev buttons
*/

#slides .next,#slides .prev {
	position:absolute;
	top:107px;
	left:-39px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}

#slides .next {
	left:585px;
}

/*
	Pagination
*/

.pagination {
	margin:26px auto 0;
	width:100px;
}

.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	/*background-image:url(../img/pagination.png); */
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}

/*
	Caption
*/

.caption {
		top:180px;
	z-index:500;
	position:absolute;
	left:0;
	height:95px;	
	width:400px;	
	text-shadow:none;
		background:#000000;
	opacity:0.85;
   filter:alpha(opacity=85);
}

.captionDetails
{
     padding:15px 20px 15px 20px;
}
.captionTitle
{

/*FLAMABLACK*/
	font-family:"ff-din-web-pro-n9","ff-din-web-pro" !important;
	font-weight: 900 !important;
	font-style: normal !important;
	font-size:24px!important;
color:white!important;
}

.captionDescription
{

/*FLAMAMEDIUM*/
	font-family:"ff-din-web-pro-n6","ff-din-web-pro" !important ;
	font-weight: 600 !important;
	font-style: normal !important;
	font-size:16px!important;
color:white!important;
}