/*--- FONT DECLARATIONS --*/

/* @license
 * MyFonts Webfont Build ID 2528087, 2013-04-11T16:04:38-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Helvetica Neue Pro Cond Bold by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/neue-helvetica/helvetica-neue-pro-bold-condensed/
 * 
 * Webfont: Helvetica Neue Pro Cond Thin by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/neue-helvetica/helvetica-neue-pro-thin-condensed/
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2528087 * Webfonts copyright: Part of the digitally encoded machine readable outline data for producing the Typefaces provided is copyrighted &#x00A9; 1981 - 2008 Linotype GmbH, www.linotype.com. All rights reserved. This software is the property of Linotype GmbH, and may not be repro
 * 
 * © 2013 MyFonts Inc
*/

/* @import must be at top of file, otherwise CSS will not work */

@import url("../../hello.myfonts.net/count/269357.css")/*tpa=http://hello.myfonts.net/count/269357*/;
  
@font-face {
  font-family: 'HelveticaNeueLTPro-BdCn';
  src: url('../getmedia/2258f59e-92d2-4001-ab0c-3200c32da238/269357_0_0.aspx')/*tpa=http://corporate.ppg.com/getmedia/2258f59e-92d2-4001-ab0c-3200c32da238/269357_0_0.aspx*/;
  src: url('../getmedia/2258f59e-92d2-4001-ab0c-3200c32da238/269357_0_0.aspx-#iefix')/*tpa=http://corporate.ppg.com/getmedia/2258f59e-92d2-4001-ab0c-3200c32da238/269357_0_0.aspx?#iefix*/ format('embedded-opentype'),
  url('../getmedia/3bea65a8-202a-483c-90d1-fb09aa856c0d/269357_0_0.aspx')/*tpa=http://corporate.ppg.com/getmedia/3bea65a8-202a-483c-90d1-fb09aa856c0d/269357_0_0.aspx*/ format('woff'),  
  url('../getmedia/6483a0ee-b3aa-4611-9f62-ab0cc66e9efa/269357_0_0.aspx')/*tpa=http://corporate.ppg.com/getmedia/6483a0ee-b3aa-4611-9f62-ab0cc66e9efa/269357_0_0.aspx*/ format('truetype');
}

/*--- GENERAL STYLES ---*/

/*#General#*/

body { margin: 0; padding: 0; background: #0179ae; color: #000; font: 14px Helvetica,sans-serif; }

a[href]:link, a[href]:visited { color: #0179ae; text-decoration: underline; }
a[href]:hover, a[href]:active { color: #8d8d8d; text-decoration: underline; }
a img, input[type="image"] { border: 0; outline: 0; }
b { font-family: "HelveticaNeueLTPro-BdCn",Helvetica,sans-serif; font-weight: normal; }

h1 { color: #0179ae; font-family: "HelveticaNeueLTPro-BdCn",Helvetica,sans-serif; font-size: 2.5em; font-weight: normal; text-transform: uppercase; }
h2 { margin: 1.5em 0 .3em; color: #0179ae; font-family: "HelveticaNeueLTPro-BdCn",Helvetica,sans-serif; font-size: 1.2875em; font-weight: normal; }
h2.section { margin: 0; color: #737373; font-family: Helvetica,sans-serif; font-size: 1.1em; }
h2.separator { border-top: 2px solid #0779b5; padding-top: .75em; }
h2:first-child { margin-top: 0; }
h3 { color: #737373; font-family: "HelveticaNeueLTPro-BdCn",Helvetica,sans-serif; font-size: 1.1em; font-weight: normal; }
hr { border-color: #ccc; }
p + h2 { margin-top: 1.5em; }
table { border-collapse: collapse; }
td { vertical-align: top; }
th { text-align: left; vertical-align: top; }

a[href].more { padding: 5px; background: #0179ae; color: #fff !important; font: normal "HelveticaNeueLTPro-BdCn",Helvetica,sans-serif; text-decoration: none !important; text-transform: uppercase; }
a[href].more:hover { background: #105f97; }
a[href].more:after { content: " +"; position: relative; top: -2px; }

.download { clear: left; min-height: 80px; margin-bottom: 1em; border: 1px solid #d7d7d7; padding: 10px; font-size: 12px; }
.download img { float: left; margin-right: 18px; }
.download table { width: 408px; border-top: 1px solid #d7d7d7; }
.download table:after { clear: both; content: " ";  }
.download tr td:first-child { width: 100%; }
.download td { border-bottom: 1px solid #d7d7d7; padding: 6px; font-size: 12px; } 
.download a { display: inline-block; color: #666 !important; height: 16px !important; line-height: 16px !important; text-decoration: none !important; white-space: pre; }

.download a.doc { padding-left: 24px; background: url("../getmedia/7ab2e412-542a-42eb-90b4-4b4209b32e83/icon_doc.aspx.gif")/*tpa=http://corporate.ppg.com/getmedia/7ab2e412-542a-42eb-90b4-4b4209b32e83/icon_doc.aspx*/ top left no-repeat; }
.download a.eps { padding-left: 24px; background: url("../getmedia/f6995d46-d1b3-4be3-be35-55cc413d48fd/icon_eps.aspx.gif")/*tpa=http://corporate.ppg.com/getmedia/f6995d46-d1b3-4be3-be35-55cc413d48fd/icon_eps.aspx*/ top left no-repeat;}
.download a.gif { padding-left: 24px; background: url("../getmedia/c50dbb76-729a-4c06-a741-3376998dba41/icon_gif.aspx.gif")/*tpa=http://corporate.ppg.com/getmedia/c50dbb76-729a-4c06-a741-3376998dba41/icon_gif.aspx*/ top left no-repeat;}
.download a.jpeg, .download a.jpg { padding-left: 24px; background: url("../getmedia/10876b64-b9fc-471b-a070-e3402736a8d1/icon_jpg.aspx.gif")/*tpa=http://corporate.ppg.com/getmedia/10876b64-b9fc-471b-a070-e3402736a8d1/icon_jpg.aspx*/ top left no-repeat;}
.download a.pdf { padding-left: 24px; background: url("../getmedia/8125f457-928a-4054-a9e7-5e133b7aa76d/icon_pdf.aspx.gif")/*tpa=http://corporate.ppg.com/getmedia/8125f457-928a-4054-a9e7-5e133b7aa76d/icon_pdf.aspx*/ top left no-repeat; }
.download a.ppt { padding-left: 24px; background: url("../getmedia/dead55db-3a83-42e0-9e8d-8659712d0522/icon_ppt.aspx.gif")/*tpa=http://corporate.ppg.com/getmedia/dead55db-3a83-42e0-9e8d-8659712d0522/icon_ppt.aspx*/ top left no-repeat; }
.download a.psd { padding-left: 24px;  background: url("../getmedia/86d9829a-c6ab-44bc-bb49-980b21018f09/icon_psd.aspx.gif")/*tpa=http://corporate.ppg.com/getmedia/86d9829a-c6ab-44bc-bb49-980b21018f09/icon_psd.aspx*/ top left no-repeat;}
.download a.tiff, .download a.tif { padding-left: 24px; background: url("../getmedia/a6573549-3730-4201-9770-e28778551012/icon_tiff.aspx.gif")/*tpa=http://corporate.ppg.com/getmedia/a6573549-3730-4201-9770-e28778551012/icon_tiff.aspx*/ top left no-repeat; }
.download a.zip { padding-left: 24px; background: url("../getmedia/50cbb584-7912-4e1e-a675-cc13552752f5/icon_zip.aspx.gif")/*tpa=http://corporate.ppg.com/getmedia/50cbb584-7912-4e1e-a675-cc13552752f5/icon_zip.aspx*/ top left no-repeat; }

.download h2 { margin-top: 0; }
.download.tall { min-height: 140px; }
.download.wide table { width: 306px; }

.location { font-size: 12px; }
.location h2 { margin-top: 2em !important; }
.location h3 { margin: 0 !important; }
.location table { width: 100%; }
.location th { vertical-align: bottom; border-bottom: 1px solid #d7d7d7; padding: 6px; }
.location th.stateprovince { width: 25%; }
.location th.city { width: 35%; }
.location th.businessunits { width: 40%; }
.location th.map { width: 30px; text-align: center; }
.location th.factsheet { width: 30px; text-align: center; }
.location td { border-bottom: 1px solid #d7d7d7; padding: 6px; }
.location td.map { text-align: center; }
.location td.factsheet { text-align: center; }

div.stock { background: #f0f0f0; border: 1px solid #f0f0f0; outline: 15px solid #f0f0f0; }
div.stock + hr { margin-top: 15px !important; }

img.photoLeft { float: left; margin: 0 1.5em 1.5em 0; }
img.photoRight { float: right; margin: 0 0 1.5em 1.5em;  }

table.businessSummary th { border-bottom: 1px solid #fff; padding: 8px 12px; background: #e1f0f7; }
table.businessSummary td { border-bottom: 1px solid #fff; padding: 8px 12px; background: #e1f0f7; font-size: .9em; }
table.businessSummary h3 { color: #0179ae; }

table.businessOperations th { border-top: 1px solid #b0b0b0; padding: 8px 12px 8px 0; width:50%; }
table.businessOperations td { border-top: 1px solid #b0b0b0; padding: 8px 12px 8px 0; font-size: .9em; }
table.businessOperations h3 { color: #0179ae; }
table.businessOperations ul { margin-top: 0; }

table.businessFacts td { border-top: 1px solid #b0b0b0; padding: 8px 0; }table.businessFacts h3 { color: #0179ae; }
table.businessFacts img { margin-left: 24px; }
table.businessFacts ul { margin-bottom: 0; margin-left: 1.5em; padding-left: 0; }
table.businessFacts ul ul { margin-top: 8px !important; }
table.businessFacts ul ul li { margin-top: 8px; }

table.panels { font-size: 12px; border-collapse: separate; border-spacing: 18px; }
table.panels a[href].more { float: right; text-decoration: none; }
table.panels dt { clear: both; float: left; width: 144px; margin: 0; }
table.panels dd { margin: 0; text-align: right; }
tabel.panels dd + dt { border-top: 1px solid #737373; }
table.panels h2, table.panels h3 { margin-bottom: 2pt; line-height: 1em; text-transform: capitalize; }
table.panels h2 + p { margin-top: 0; }
table.panels hr { clear: both; margin: 2em 0 2em; border: 1px solid #b0b0b0; border-width: 1px 0 0; }
table.panels img + h2 { margin-top: 6px; }
table.panels img.photoRight + h2 { margin-top: 0; }
table.panels td { width: 288px; height: 235px; border: 1px solid #d4d4d4; padding: 15px; background: #fff; overflow: hidden; }

#content table.panels { border-spacing: 16px; margin-left:-16px;}
#content table.panels td {  width: 274px; height: 267px; padding: 15px; }

.ribbon { height: 33px; padding: 7px 22px 0 0; background: url("../getmedia/d171506e-01b7-47a1-b651-3862a8928693/bg_ribbon.aspx.gif")/*tpa=http://corporate.ppg.com/getmedia/d171506e-01b7-47a1-b651-3862a8928693/bg_ribbon.aspx*/ top left no-repeat; text-align: right; font-family: HelveticaNeueLTPro-BdCn,sans-serif; font-style: italic; }
.ribbon a { text-decoration: none !important; }

table.panels .color-b { background-color:#e1ecff;}

table.panels .home-links { color:#105f97; font-weight:bold; text-transform: uppercase; float:left; font-size:10px;}
table.panels .home-links ul { float:left; list-style-type: none; list-style-position:inside; margin-right: 30px; padding: 0;}
table.panels .home-links li {  margin:0; }
table.panels .home-links a[href].more {text-decoration:none;}

table.panels .home-applications { float:left; width:100%; }
table.panels .home-applications ul {float:left; margin-top:10px; list-style-position:inside; list-style-type:none; padding: 0; width: 100%; }
table.panels .home-applications li {  padding:3px; background-color:#105f97; color:#fff; font-weight:bold; text-transform: uppercase;  margin:0 0 3px 0;}
table.panels .home-applications li a { color:#fff !important;}

table.panels .home-news ul { padding: 0; font-size:11px; float:left;  margin-top:10px; list-style-position:inside; list-style-type:none; color:#105f97;  font-weight:bold; width:70%;}
table.panels .home-news li { margin-bottom:10px;}

table.sub-panels { border-top: 1px solid #ccc; font-size: 12px; }
table.sub-panels tr { border-bottom:1px solid #ccc; }
table.sub-panels td { vertical-align:top; padding:10px; }
table.sub-panels h2 { margin-top: 6px; }

ul#ethicsNumbers { list-style-type: none; margin: 0 0 45px; padding: 0; }
ul#ethicsNumbers li { display: block; float: left; width: 156px; margin: 0 1px; border: 1px solid #ccc; padding: 8px 0 3px; background: #105f97; color: #fff; font-weight: bold; text-align: center; }
ul#ethicsNumbers ul { position: absolute; margin: 3px 0 0 -41px !important; }
ul#ethicsNumbers ul li { float: none; margin: 0; background: #0179ae; font-weight: normal; }
ul#ethicsNumbers ul li + li { border-top: 0 !important; }
ul#ethicsNumbers ul li ul { margin: -26px 0 0 116px !important; }
ul#ethicsNumbers ul li ul li { background: #bfddeb; color: #000; font-size: .8em !important; }
ul#ethicsNumbers ul li ul li ul li { background: #fff; }

ul#ethicsNumbers ul { display: none; }
ul#ethicsNumbers li:hover ul { display: block; }
ul#ethicsNumbers li:hover ul ul { display: none; }
ul#ethicsNumbers li:hover ul li:hover ul { display: block; }
ul#ethicsNumbers li:hover ul li:hover ul ul { display: none; }
ul#ethicsNumbers li:hover ul li:hover ul li:hover ul { display: block; }
ul#ethicsNumbers li:hover ul li:hover ul li:hover ul ul { display: none; }
ul#ethicsNumbers li:hover ul li:hover ul li:hover ul li:hover ul { display: block; }

ul#ethicsNumbers ul:hover { display: block; }

#container { width: 100%; /* max-width: 1396px; */ margin: 0 auto; }

.clearfix { clear: both; }
.rightAlign { text-align: right; }
.wrapper { width: 960px; margin: 0 auto; }

.HorizontalFilter { display: inline-block; padding: 10px; border: 1px solid #b0b0b0; background-color: #fff; margin: 20px;}
.HorizontalFilter ul { margin: 0; padding: 0;}
.HorizontalFilter li { display: inline-block;}
.HFLabel { font-weight: bold;}

.VerticalFilter { display: block; padding: 10px; border: 1px solid #b0b0b0; background-color: #fff; margin: 0; max-width:620px;}
.VerticalFilter ul { margin: 0; padding: 0; list-style:none;}
.VerticalFilter li span {display:block; width:100px;  float:left;}
.VerticalFilter li {padding-bottom: 2px;}
.VerticalFilter input[type=submit] {margin-left:102px; }
.VFLabel { font-weight: bold;}

/*#Custom Forms#*/

#form-custom tr { vertical-align:top;}

.input-tiny   	{ width: 20px;  }
.input-small  	{ width: 75px;  }
.input-normal 	{ width: 125px;  }
.input-medium 	{ width: 215px; }
.input-large  	{ width: 475px; }
.input-full  	{ width: 650px; }
.textarea-small { height:125px; width:475px;}
.textarea-full { height:125px; width:650px;}

/*--- HEADER ---*/
/*#Header#*/

header { overflow: hidden; border-bottom: 1px solid #b0b0b0; background: #fff; }

#consent { padding:10px 10px 10px 10px; background-color:#fff; text-align:center; color:#ff0000; border-bottom: 2px solid #ff0000; }

#support { height: 37px; border-bottom: 1px solid #b0b0b0;  background: #f1f1f1 url("../getmedia/ea409c72-ffc8-451b-9b2c-bc4b2b320fd2/bg_article_dot.aspx.gif")/*tpa=http://corporate.ppg.com/getmedia/ea409c72-ffc8-451b-9b2c-bc4b2b320fd2/bg_article_dot.aspx*/ top center; }
#support .searchBox {
        clear: right; 
	float: right;
	width: 215px;
	margin: 6px 0;
	background: url("../getmedia/b73bc1a7-c4f8-4078-9c3a-df0ea08fbdf8/bg_search.aspx.gif")/*tpa=http://corporate.ppg.com/getmedia/b73bc1a7-c4f8-4078-9c3a-df0ea08fbdf8/bg_search.aspx*/ top left no-repeat;
}
#support input[type="text"] {
	width: 170px;
	border: 0;
	outline: 0;
	padding: 7px 0 0 12px;
	border: 0; 
	background: transparent;
	color: #545454;
	font: 1em Helvetica,sans-serif;
}
#support input[type="image"] {
        float: right; 
	vertical-align: top;
}

#support li { float: left; font-size: 0.9em; padding: 0 6px 0 0; }
#support li + li { border-left: 1px solid #0179ae; padding-left: 6px; }
#support li:last-child { padding-right: 0; }
#support li a[href] { text-decoration: none !important; }
#support ul { list-style-type: none; float: left; margin: 11px 0 0; padding: 0; text-transform: uppercase; }

#support .langselector { display: block; clear: right; width: 213px; height: 23px; margin: 6px 20px; border: 1px solid #c9c9c9; border-radius: 4px; padding: 0; background: #f1f1f1;  }
#support .langselector a { display: block; padding: 0 10px; color: #545454 !important; line-height: 25px; }
#support .langselector a.first { padding-right: 40px; background: url("../getmedia/55b4921d-454b-4979-937e-6536bb6ebb62/bg_language.aspx.gif")/*tpa=http://corporate.ppg.com/getmedia/55b4921d-454b-4979-937e-6536bb6ebb62/bg_language.aspx*/ top left no-repeat; }
#support .langselector li, #support .langselector li + li { float: none; border: 0; padding: 0; }
#support .langselector ul { position: absolute; display: none; z-index: 200; width: 213px; margin: -2px 0 0; border: 1px solid #c9c9c9; padding: 5px 0; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; box-shadow: 0px 5px 3px #545454; background: #fff; }
#support .langselector ul a { line-height: 1.5em; }
#support .langselector ul a:hover { background: #d0d0d0; }
#support .langselector li:hover > ul { display: block; }

header img { display: inline; }
header #signature { float: left; margin: 20px 0; }
header #logo { float: right; margin: 20px 0; }
header div.wrapper div { float: right; }

header #menu-button {
	display: none;
	position: absolute;
	top: 34px;
	right: 1em;
	border-radius: 8px;
	padding: .5em 1em .25em;
	background: #0179ae;
	box-shadow: 0px 0px 5px #3f3f3f;
	color: #fff !important;
	font-size: 1.4em;
	text-decoration: none; 
	text-transform: uppercase;
}

/*--- NAVIGATION ---*/
/*#Navigation#*/

nav { background: url("../getmedia/2826af3d-3d19-4ae6-9da3-dfd3ac9ef083/bg_nav.aspx.gif")/*tpa=http://corporate.ppg.com/getmedia/2826af3d-3d19-4ae6-9da3-dfd3ac9ef083/bg_nav.aspx*/ top left repeat-x; clear: both; margin-bottom: 0; padding: 0; border-top: 1px solid #fff;  border-bottom:5px solid #105f97;  font-size: 1em;}

nav a[href] { display: block; position: relative; top: 2px; border-right: 1px solid #046999; border-left: 1px solid #0773a7; padding: 0 1em; text-align: center; text-decoration: none !important; text-transform: uppercase; }
nav a[href]:link, nav a[href]:visited { color: #fff; }
nav li { display: table-cell; padding: 11px 0 11px 0; line-height: 22px;}
nav li.down, nav li:hover { background: #105f97; }
nav li.down a[href], nav li:hover a[href] { border-color: #105f97;  }
nav li:first-child a { border-left: none !important; }
nav li:last-child a { border-right: none !important; }
nav ul { display: table; list-style-type: none; margin: 0; padding: 0; width: 100%;}

/*--- DROP-DOWN MENUS ---*/
/*#Drop-Down Menus#*/

nav li ul { position: absolute; display: none; z-index: 100; width: 180px; margin: 11px 0 0 1px; border-radius: 0 0 5px 5px; padding: 0 0 0 0; box-shadow: 0px 0px 5px #3f3f3f; font-size: .9em; }
nav li ul:before { content: url("../getmedia/91256e65-ced6-4b78-9bfe-52a12933446e/icon_menu.aspx.gif")/*tpa=http://corporate.ppg.com/getmedia/91256e65-ced6-4b78-9bfe-52a12933446e/icon_menu.aspx*/; position: absolute; display: inline-block; top: -11px; }
nav li ul li { display: block; background: #fff; border: 1px solid #d0d0d0; border-width: 0 1px 1px; padding: 0; line-height: 1em;  }
nav li ul li:hover { background: #ededed; }
nav li ul li:last-child { border-radius: 0 0 5px 5px; }
nav li ul li a[href] { display: block; border: 0 !important; padding: 5px 10px !important; color: #737373 !important; text-align: left !important; text-transform: none !important; }

nav li ul li ul { margin: -23px 0 0 179px; display: none; border-radius: 0 5px 5px 5px; }
nav li ul li ul:before { content: url("../getmedia/4bacb87e-55ad-45aa-b78f-0f1bdd3500ef/icon_menu_sub.aspx.gif")/*tpa=http://corporate.ppg.com/getmedia/4bacb87e-55ad-45aa-b78f-0f1bdd3500ef/icon_menu_sub.aspx*/; position: absolute; display: inline-block; top: 8px; left: -10px; }
nav li ul li ul li { background: #ededed; }
nav li ul li ul li:hover { background: #d0d0d0; }
nav li ul li ul li:first-child { border-width: 1px; border-radius: 0 5px 0 0; }

nav li:hover > ul { display: block; } 

/*--- BILLBOARD ---*/
/*#Billboard#*/

#billboard { }
#billboard div.wrapper { width: 924px; padding: 35px 18px; }
#billboard div.billboard { display: none; position: relative; width: 100%; height: 396px; }
#billboard div.billboard div.active, #billboard div.billboard div.inactive { position: absolute; width: 100%; height: 396px; top: 0; left: 0; }
#billboard div.billboard div.active { z-index: 3; }
#billboard div.billboard div.inactive { z-index: 4; }
#billboard h1 { margin: 0; padding: 0; color: #fff; font-size: 3.25em; line-height: 1em }
#billboard h2 { margin: 0; padding: 0; color: #fff; font-size: 1.75em; line-height: 1em; }
#billboard a[href].more { display: inline-block; margin: .5em 0 0; padding: 5px;  }

/*--- INDIVIDUAL BILLBOARD STYLES ---*/
/*#Billboard (Individual Styles)#*/

div#billboardCommunity div.active { background: url("../getmedia/05818a1f-7ef8-49c3-a40e-600edd95261d/billboard_community.aspx.jpg")/*tpa=http://corporate.ppg.com/getmedia/05818a1f-7ef8-49c3-a40e-600edd95261d/billboard_community.aspx*/ top center no-repeat; }
div#billboardCommunity div.inactive { background: url("../getmedia/b2160771-3b54-455e-be24-166329d27f1a/billboard_community_bw.aspx.jpg")/*tpa=http://corporate.ppg.com/getmedia/b2160771-3b54-455e-be24-166329d27f1a/billboard_community_bw.aspx*/ top center no-repeat; }

div#billboardAerospace div.active { background: url("../getmedia/0057f33c-3454-44b9-a298-d9244625193d/billboard_aerospace.aspx.jpg")/*tpa=http://corporate.ppg.com/getmedia/0057f33c-3454-44b9-a298-d9244625193d/billboard_aerospace.aspx*/ top center no-repeat; }
div#billboardAerospace div.inactive { background: url("../getmedia/9b974913-5dab-4d12-af96-2d0dc7a65d47/billboard_aerospace_bw.aspx.jpg")/*tpa=http://corporate.ppg.com/getmedia/9b974913-5dab-4d12-af96-2d0dc7a65d47/billboard_aerospace_bw.aspx*/ top center no-repeat; }

div#billboardAutomotive div.active { background: url("../getmedia/c0fd19a5-64a1-4fde-9570-7b4956af841c/billboard_automotive.aspx.jpg")/*tpa=http://corporate.ppg.com/getmedia/c0fd19a5-64a1-4fde-9570-7b4956af841c/billboard_automotive.aspx*/ top center no-repeat;  }
div#billboardAutomotive div.inactive { background: url("../getmedia/5552c384-6877-4dee-950e-d2359b9a3271/billboard_automotive_bw.aspx.jpg")/*tpa=http://corporate.ppg.com/getmedia/5552c384-6877-4dee-950e-d2359b9a3271/billboard_automotive_bw.aspx*/ top center no-repeat; }

div#billboardBrands div.active { background: url("../getmedia/bf7b2792-bd52-47f4-8605-8ab482c79daf/billboard_brands.aspx.jpg")/*tpa=http://corporate.ppg.com/getmedia/bf7b2792-bd52-47f4-8605-8ab482c79daf/billboard_brands.aspx*/ top center no-repeat;  }
div#billboardBrands div.inactive { background: url("../getmedia/7af79f7d-879c-45f3-8e9c-e0fd669f6b40/billboard_brands_bw.aspx.jpg")/*tpa=http://corporate.ppg.com/getmedia/7af79f7d-879c-45f3-8e9c-e0fd669f6b40/billboard_brands_bw.aspx*/ top center no-repeat; }
div#billboardBrands img { position: relative; top: 20px; left: -20px; }

div#billboardCommercial div.active { background: url("../getmedia/bcb59df7-2e80-42cb-86ed-d53904523cfa/billboard_commercial.aspx.jpg")/*tpa=http://corporate.ppg.com/getmedia/bcb59df7-2e80-42cb-86ed-d53904523cfa/billboard_commercial.aspx*/ top center no-repeat;  }
div#billboardCommercial div.inactive { background: url("../getmedia/83f51102-021f-46ee-bae6-062bd3833479/billboard_commercial_bw.aspx.jpg")/*tpa=http://corporate.ppg.com/getmedia/83f51102-021f-46ee-bae6-062bd3833479/billboard_commercial_bw.aspx*/ top center no-repeat; }

div#billboardFiberglass div.active { background: url("../getmedia/1d1d7d3d-89c3-4bd7-8251-5a6e40fbd48d/billboard_fiberglass.jpg")/*tpa=http://corporate.ppg.com/getmedia/1d1d7d3d-89c3-4bd7-8251-5a6e40fbd48d/billboard_fiberglass*/ top center no-repeat;  }
div#billboardFiberglass div.inactive { background: url("../getmedia/48bb2b74-0480-4484-bd3c-70fcb26f481b/billboard_fiberglass_bw.jpg")/*tpa=http://corporate.ppg.com/getmedia/48bb2b74-0480-4484-bd3c-70fcb26f481b/billboard_fiberglass_bw*/ top center no-repeat; }
div#billboardFiberglass img { position: relative; top: 20px; left: -20px; }

div#billboardIndustrialInfrastructure div.active { background: url("../getmedia/ff29ac71-5838-4ebc-9e65-b3afcb5de725/billboard_industrial_infrastructure.aspx")/*tpa=http://corporate.ppg.com/getmedia/ff29ac71-5838-4ebc-9e65-b3afcb5de725/billboard_industrial_infrastructure.aspx*/ top center no-repeat;  }
div#billboardIndustrialInfrastructure div.inactive { background: url("../getmedia/70225fc2-a749-42fb-94d6-a51e10bb03a4/billboard_industrial_infrastructure_bw.aspx")/*tpa=http://corporate.ppg.com/getmedia/70225fc2-a749-42fb-94d6-a51e10bb03a4/billboard_industrial_infrastructure_bw.aspx*/ top center no-repeat; }

div#billboardMarine div.active { background: url("../getmedia/b327b663-5ca6-4052-a9a9-10e79ab2d1ef/billboard_marine.aspx.jpg")/*tpa=http://corporate.ppg.com/getmedia/b327b663-5ca6-4052-a9a9-10e79ab2d1ef/billboard_marine.aspx*/ top center no-repeat;  }
div#billboardMarine div.inactive { background: url("../getmedia/98c80bb2-ef7b-40fd-a2fa-ab09109703d2/billboard_marine_bw.aspx.jpg")/*tpa=http://corporate.ppg.com/getmedia/98c80bb2-ef7b-40fd-a2fa-ab09109703d2/billboard_marine_bw.aspx*/ top center no-repeat; }

div#billboardRenewableWind div.active { background: url("../getmedia/a7106d35-f2a9-4aa0-8cf4-067d51339c96/billboard_renewable_wind.aspx.jpg")/*tpa=http://corporate.ppg.com/getmedia/a7106d35-f2a9-4aa0-8cf4-067d51339c96/billboard_renewable_wind.aspx*/ top center no-repeat;  }
div#billboardRenewableWind div.inactive { background: url("../getmedia/6e298178-8f65-4ead-8516-8a5c5eb1f43a/billboard_renewable_wind_bw.aspx.jpg")/*tpa=http://corporate.ppg.com/getmedia/6e298178-8f65-4ead-8516-8a5c5eb1f43a/billboard_renewable_wind_bw.aspx*/ top center no-repeat; }

div#billboardResidential div.active { background: url("../getmedia/788c966a-5ab5-4428-80b1-44788617ddcc/billboard_residential.aspx.jpg")/*tpa=http://corporate.ppg.com/getmedia/788c966a-5ab5-4428-80b1-44788617ddcc/billboard_residential.aspx*/ top center no-repeat;   }
div#billboardResidential div.inactive { background: url("../getmedia/ea46523f-6bdd-4838-a065-b6bffb521e05/billboard_residential_bw.aspx.jpg")/*tpa=http://corporate.ppg.com/getmedia/ea46523f-6bdd-4838-a065-b6bffb521e05/billboard_residential_bw.aspx*/ top center no-repeat; }

div#billboardResidentialEuro div.active { background: url("../getmedia/4866f3f9-1c49-4e73-b9bf-cf1f41279880/billboard_residential_euro.aspx.jpg")/*tpa=http://corporate.ppg.com/getmedia/4866f3f9-1c49-4e73-b9bf-cf1f41279880/billboard_residential_euro.aspx*/ top center no-repeat;  }
div#billboardResidentialEuro div.inactive { background: url("../getmedia/aa1eb452-8fb4-48e9-aa71-25b9993bee1a/billboard_residential_euro_bw.aspx.jpg")/*tpa=http://corporate.ppg.com/getmedia/aa1eb452-8fb4-48e9-aa71-25b9993bee1a/billboard_residential_euro_bw.aspx*/ top center no-repeat; }
div#billboardResidentialEuro h1, div#billboardResidentialEuro h2 { color: #000 !important; }

div#billboardResidentialUK div.active { background: url("../getmedia/409024c2-9598-46a0-a035-bc7baacd1335/billboard_residential_uk.aspx.jpg")/*tpa=http://corporate.ppg.com/getmedia/409024c2-9598-46a0-a035-bc7baacd1335/billboard_residential_uk.aspx*/ top center no-repeat;  }
div#billboardResidentialUK div.inactive { background: url("../getmedia/d6491d28-fe03-44ae-9707-866b68b71fd2/billboard_residential_uk_bw.aspx.jpg")/*tpa=http://corporate.ppg.com/getmedia/d6491d28-fe03-44ae-9707-866b68b71fd2/billboard_residential_uk_bw.aspx*/ top center no-repeat; }

div#billboardResidentialUS div.active { background: url("../getmedia/fedf7a8d-fd9d-4ee3-acaa-31ce349eb698/billboard_residential_us.aspx.jpg")/*tpa=http://corporate.ppg.com/getmedia/fedf7a8d-fd9d-4ee3-acaa-31ce349eb698/billboard_residential_us.aspx*/ top center no-repeat; }
div#billboardResidentialUS div.inactive { background: url("../getmedia/8597ec3b-86e8-4ef6-926f-edd31ac77762/billboard_residential_us_bw.aspx.jpg")/*tpa=http://corporate.ppg.com/getmedia/8597ec3b-86e8-4ef6-926f-edd31ac77762/billboard_residential_us_bw.aspx*/ top center no-repeat; }
div#billboardResidentialUS h1, div#billboardResidentialUS h2 { color: #000 !important; }

div#billboardSolar div.active { background: url("../getmedia/9f5c5f1f-d944-4b34-8797-a41475ce602b/billboard_solar.aspx.jpg")/*tpa=http://corporate.ppg.com/getmedia/9f5c5f1f-d944-4b34-8797-a41475ce602b/billboard_solar.aspx*/ top center no-repeat;  }
div#billboardSolar div.inactive { background: url("../getmedia/fa526875-fd33-4978-8f7b-e63268ceb09b/billboard_solar_bw.aspx.jpg")/*tpa=http://corporate.ppg.com/getmedia/fa526875-fd33-4978-8f7b-e63268ceb09b/billboard_solar_bw.aspx*/ top center no-repeat; }

/*--- ARTICLE ---*/

article { position: relative; margin: 0; border: 1px solid #b0b0b0; border-width: 1px 0; padding: 0 0 2em; background-color: #fff; background-image: url("../getmedia/1ba7cfad-e422-4cb2-b3f2-574992e8d423/bg_article_curve.aspx.png")/*tpa=http://corporate.ppg.com/getmedia/1ba7cfad-e422-4cb2-b3f2-574992e8d423/bg_article_curve.aspx*/, url("../getmedia/ea409c72-ffc8-451b-9b2c-bc4b2b320fd2/bg_article_dot.aspx.gif")/*tpa=http://corporate.ppg.com/getmedia/ea409c72-ffc8-451b-9b2c-bc4b2b320fd2/bg_article_dot.aspx*/; background-position: top center, top center; background-repeat: no-repeat, repeat; background: #fff url("../getmedia/ea409c72-ffc8-451b-9b2c-bc4b2b320fd2/bg_article_dot.aspx.gif")/*tpa=http://corporate.ppg.com/getmedia/ea409c72-ffc8-451b-9b2c-bc4b2b320fd2/bg_article_dot.aspx*/\9; }

#home article { padding: 0; background-image: url("../getmedia/ea409c72-ffc8-451b-9b2c-bc4b2b320fd2/bg_article_dot.aspx.gif")/*tpa=http://corporate.ppg.com/getmedia/ea409c72-ffc8-451b-9b2c-bc4b2b320fd2/bg_article_dot.aspx*/; background-position: top left; background-repeat: repeat; }
#home article table.panels { position: relative; z-index: 5; margin-top: -76px; }
#home article table.panels a:link, #home article table.panels a:visited { color: #737373; text-decoration: none; }
#home article table.panels a:hover, #home article table.panels a:active { color: #0179ae; text-decoration: underline; }

#home, #sub { border-bottom:5px solid #105f97;}

#sub article div.wrapper { width: 900px; margin-top: 30px; border: 1px solid #ccc; padding: 24px 36px 2em; background: #fff; }

/*--- UTILITY ---*/

#utility { float: right; margin: 0 0 24px; font-size: .9em; }
#utility a[href] { display: inline-block; text-decoration: none; }
#utility a[href] + a[href]:before { content: " | " }

.st_sharethis_custom {
	background: url("../getmedia/eba8d452-4c80-47c3-9861-93db8f10772d/blank.aspx.gif")/*tpa=http://corporate.ppg.com//getmedia/eba8d452-4c80-47c3-9861-93db8f10772d/blank.aspx*/ no-repeat scroll left top transparent;
	padding:0px 16px 0 0;
}

/*--- BREADCRUMB ---*/

#breadcrumb { margin: 0 0 24px; font-size: .9em; float:left; }
#breadcrumb .CMSBreadCrumbsLink a[href] { display: inline-block; text-decoration: none; }
/*--- #breadcrumb .CMSBreadCrumbsLink, a[href] + a[href]:before { content: " > " } ---*/

/*--- SUBSCRIPTION FORM ---*/

.subForm input {margin-bottom:5px;}
.ErrorLabel { display:block; margin-bottom:10px; color:#ff0000;}


/*--- SECTION NAVIGATION ---*/

#section-nav { float: left; width: 212px; margin: 0; padding: 0; font-size: .9em; }
#section-nav a[href] { text-decoration: none; }
#section-nav li { border-bottom: 1px solid #b0b0b0; padding: 8px 10px 4px; background: #fff; font-weight: bold; }
#section-nav li:hover {  color:#000; } /*--- background: #ededed; ---*/
#section-nav li + li {  }
#section-nav ul { list-style-type: none; margin: 0 0 36px; padding: 0; text-transform: uppercase; }
#section-nav ul ul { margin: 0 0 10px 10px; padding: 0;  text-transform: capitalize; }
#section-nav ul ul li { font-weight: normal; padding: 6px 10px 3px; }

#section-nav li.down { background: #0179ae; }
#section-nav li.down a[href] { color: #fff; }
#section-nav ul ul li.down { background: #8d8d8d; }

#section-nav h2 { margin: 0 0 .25em; color: #000; font-family: Helvetica,Arial,sans-serif; font-size: 1em; font-weight: bold; text-transform: uppercase; }

/*--- SOCIAL ICONS ---*/
/*Social Icons#*/

ul#social-icons { float: left; margin:6px 0 6px 0; border: 0; padding: 0; list-style-type: none; }
ul#social-icons a { display: block; width: 24px; height: 24px; background: url("../getmedia/03003fe9-67a2-4216-b446-f55f89421100/icons_socialmedia.aspx.png")/*tpa=http://corporate.ppg.com/getmedia/03003fe9-67a2-4216-b446-f55f89421100/icons_socialmedia.aspx*/ no-repeat; }
ul#social-icons a.facebook { background-position: 0 0; }
ul#social-icons a.googleplus { background-position: -24px 0; }
ul#social-icons a.linkedin { background-position: -48px 0; }
ul#social-icons a.twitter { background-position: -72px 0; }
ul#social-icons a.youtube { background-position: -96px 0; }
ul#social-icons li { float: left; margin-right: 6px; border: 0; padding: 0; } 

/*--- FEATURED NEWS ---*/
#featured-news { border: 1px solid rgb(211, 211, 211);}
#featured-news h2 { text-transform:uppercase;}
#featured-news td {background-color:#e8e9ea; vertical-align:top;}
/* #featured-news img {margin: 2px 5px; width: 130px; height: 195px; float: left;} */


/*--- NEWSLETTER ---*/


.wrapper-nl { width: 600px; margin: 0 auto; }
#sub-newsletter div.wrapper-nl  { background-color:#fff; width: 600px; padding: 0; }


#content-newsletter { width: 600px; margin: 0; padding:0; line-height: 1.1em; }
#content-newsletter p { padding:0 18px 10px 18px; margin:0; font-size:11px;}

#content-newsletter h1 { margin:18px 0 0 0; padding:0; background: url("Unknown_83_filename")/*tpa=http://corporate.ppg.com/getmedia/ff67f5ac-89e0-41e9-8aeb-94c70ba37a40/mail-header.aspx*/; background-repeat:no-repeat; line-height: 1em; height:168px; color:#fff; }
#content-newsletter .headerText {padding:36px 0 0 18px; }


/*--- CONTENT ---*/

#sub article h1 { margin: 0 0 .25em; }

#content { float: right; width: 640px; margin-right: 9px; padding-left:18px; border-left: 3px double #b0b0b0; line-height: 1.2em; }
#content h1, #content h2, #content h3 { line-height: 1em; }

div.column { float: left; width: 308px; }
div.column + div.column { margin-left: 24px; }

#sub article *:first-child, div.column1 *:first-child, div.column2 *:first-child { margin-top: 0; }
div.column2 + div.column2 { margin-left: 18px; }

/*--- FOOTER ---*/
/*Footer#*/

footer { margin-top: 0;  border-top:1px solid #fff;  padding: 35px 0 0; color: #fff; }
footer a[href] { color: #fff !important; text-decoration: none !important; }
footer p#legal { float: left; margin: 4px 0 40px 20px; font-size: .8em; }
footer ul#sitemap { list-style-type: none; margin: 0; padding: 0; }
footer ul#sitemap li { float: left; width: 190px; font: 14px "HelveticaNeueLTPro-BdCn",Helvetica,sans-serif; text-transform: uppercase; }
footer ul#sitemap ul { margin: 0 0 2em; padding: 0; list-style-type: none; }
footer ul#sitemap ul li { float: none; width: auto; font: 12px Helvetica,sans-serif; text-transform: none; }
footer ul#sitemap ul li:before { content: "+ "; position: relative; top: -2px; }
footer ul#social-icons { clear: left; float: right; margin-top: 0; }
footer ul#social-icons a { background: url("../getmedia/87023b7b-6a86-4774-a0b7-3c19cfe4c60f/icons_socialmedia_white.aspx.png")/*tpa=http://corporate.ppg.com/getmedia/87023b7b-6a86-4774-a0b7-3c19cfe4c60f/icons_socialmedia_white.aspx*/ no-repeat; }

footer #logo-bug { float:left; clear: left; width: 55px; margin-bottom: 40px; }

/*--- INTERNET EXPLORER CSS HACKS ---*/

a[href].more { padding: 6px 4px 6px 4px\9; }
#billboard a[href].more { padding: 12px 12px 12px 12px\9;  }
#support ul { margin: 10px 0 0\9; }
#support input[type="text"] { padding-top: 5px\9; }

/*--- INTERNET EXPLORER 7 CSS HACKS ---*/

nav li { display: block !important!; float: left !important!; }
nav ul ul { display: none !important!; }
table.panels td { padding: 24px !important!; }
#billboard { margin-left: 12px !important!; }
#p_lt_ctl01_SearchBox_btnImageButton { margin-top: -23px !important!; }
#section-nav a:link, #section-nav a:visited { color: #0179ae !important!; }
#section-nav a:hover, #section-nav a:active { color: #8d8d8d !important!; }
#section-nav li.down { background: #fff !important!; }
#section-nav ul ul li.down { background: #fff !important!; }

/*--- INTERNET EXPLORER 9 CSS HACKS ---*/

/*--- WEBKIT CSS HACKS ---*/

@media screen and (-webkit-min-device-pixel-ratio:0) {
  #support input[type="text"] { margin-top: 0; padding-top: 5px; }  
  #support input[type="image"] { margin-top: 0; }  
} 

/*--- RESPONSIVE ELEMENTS FOR TABLETS ---*/
/*#Responsive (Tablets)#*/

@media screen and (min-width: 1px) and (max-width: 960px) {
  body:not(.IE9) #billboard { width: auto; margin-left: 0; }
  body:not(.IE9) #section-nav { float: none; width: auto; margin: 0 0 2em; border: 0; padding: 0;  }
  body:not(.IE9) #support { display: none; }
  body:not(.IE9) #support #language ul { display: block; }
  body:not(.IE9) #support #language ul ul { display: none; }
  body:not(.IE9) #utility { float: none; }
  body:not(.IE9) .download table { width: 100%; }
  body:not(.IE9) .order { height: auto; padding: 0; background: transparent; text-align: left; }
  body:not(.IE9) .wrapper { width: auto !important; padding: 0 1em; }
  body:not(.IE9) div#content, body:not(.IE9) div.column { float: none; width: auto; margin-left: 0 !important; border-left: 0 !important; padding-left: 0 !important; }  footer ul#sitemap { display: none; }
  body:not(.IE9) header #logo { display: none; }
  body:not(.IE9) header #menu-button { display: block; }
  body:not(.IE9) header #signature { float: none; margin: 0; }
  body:not(.IE9) header { padding: 20px 16px; }
  body:not(.IE9) nav { display: none; padding: 1em 0; background: transparent; font-size: 1.4em; }
  body:not(.IE9) nav li { display: block; padding: 0 !important; }
  body:not(.IE9) nav li a { padding: .25em 0 !important; border: 0 !important; text-align: center !important; }
  body:not(.IE9) nav ul ul { display: none !important; }
  body:not(.IE9) table.panels { border-collapse: collapse; }
  body:not(.IE9) table.panels td { display: inline-block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; width: 100% !important; height: auto !important; margin: 0 0 18px; }
}

/*--- RESPONSIVE ELEMENTS FOR MOBILE PHONES ---*/
/*#Responsive (Phones)#*/

@media screen and (min-width: 1px) and (max-width: 480px) {
  body:not(.IE9) #billboard { display: none; }
  body:not(.IE9) #home article table.panels { margin-top: 1em; }
  body:not(.IE9) #utility { float: none; }
  body:not(.IE9) .example img { width: 50%; }
  body:not(.IE9) .printAds td { display: inline-block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; width: 100% !important; }
  body:not(.IE9) footer p#legal { float: none; clear: both; width: auto; margin: 0; padding: 1em 0 0; }
  body:not(.IE9) footer ul#social-icons { display: none; }
  body:not(.IE9) header #menu-button { position: static; display: block; width: 100px; margin: 1em auto 0; text-align: center;  }
  body:not(.IE9) header #signature img { width: 100%; height: auto; }
  body:not(.IE9) header { height: auto; }
  body:not(.IE9) table.panels img { float: none !important; margin: 0 !important; }
  body:not(.IE9) table.panels img + h2 { clear: both; }
  body:not(.IE9) table.sub-panels td { display: inline-block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; width: 100% !important; }

  body:not(.IE9)  .VerticalFilter li span {display:block; width:480px; margin:3px 0 3px 0;  float:left; clear:both;}
  body:not(.IE9) .VerticalFilter input[type=submit] {margin:5px 0 0 0; }

}

/*--- PRINT STYLES ---*/
/*#Print#*/

@media print {
  #billboard { display: none; }
  #breadcrumb { display: none; } 
  #CMSHeaderDiv { display: none; }
  #content { width: 100% !important; margin: 0 !important; border: 0 !important; padding: 0 !important; }
  #home, #sub { border-bottom: 0 !important; }
  #legal { width: 100%; }
  #logo-bug { display: none; }
  #menu-button { display: none !important; }
  #section-nav { display: none; }
  #sitemap { display: none; }
  #support { display: none; }
  #utility { display: none; }
  .column { float: none; width: 100%; padding: 0 !important; }
  .wrapper { width: 100% !important; margin: 0 !important; border: 0 !important; padding: 0 !important; }
  article { border: 0 !important; padding: 0 !important; }
  body { color: #000; }
  footer { display: none; }
  header { display: none; }
  h1 { font-size: 1.5em; }
  h2.section { margin-top: 0; font-size: .75em; }
  nav { display: none; }
}


/* Minification failed (line 500, error number 1049): Browser hack generates invalid CSS */