html.lt-ie9.lt-ie8 {	
}
body {
	line-height: 1.1;
}
a:focus {
	outline: 10px #000 !important;
}
.globalToolbox .stateSelector a.changeBtn {
	
}
/*IE 7 fix for language dropdown text*/
.globalToolbox .languageSelector select{
	font-family: Helvetica, Arial, sans-serif;

}
.pageFooter .legal
{
    zoom:1!important;
}

.header .tools .search .inputSubmit {
	/*top: 23px; Removed for Home page redesign changes*/
	background: #fbfbfb url('../../../members/common/Style Library/Molina.Internet.MasterPages/img/btnGrayBg.png')/*tpa=http://www.molinahealthcare.com/members/common/Style Library/Molina.Internet.MasterPages/img/btnGrayBg.png*/ repeat-x 0 0;
}
/*.header .tools .signin a.register { /*Added for Home page redesign changes
line-height:18px;
}*/
input[type=submit] {
       filter:chroma(color=#000000);
}
.homepageScroller .item {
	height: 693px;
}

.homepageScroller .item .pageWrapper{
	/*to display content left to right in arabic*/
	direction:ltr;
}

.homepageScroller .item h3 {
	font-weight: normal;
}
.headerContainer .navigation .mega {
	height: auto;
}
#sidebar a:focus,
#main-content a:focus,
#sidebar-right a:focus {
	border: 10px #000 !important;
}
/*#cboxLoadedContent{height:auto !important;}*/
#healthcare-professionals-popup .changeBtn {padding-top:6px;}

/* end Home Page Overlays */
/* Staying Healthy Page */
.mainContent .content.stayinghealthy {	
}
.mainContent .content .top .heading {
	height: 8px;
	padding-top: 44px;
}
/* About Page */
.mainContent .content.about {	
}
.mainContent .content.about .middle h3 {
	margin: 5px 0 16px;
}
.mainContent .content.about .middle.three-col h4 {
	margin: 0 0 10px;
}
/* Internal Page */
.mainContent .content.internal {
	margin-top: 8px !important;/*Changes for Carousel*/
	*margin-bottom: 11px !important;/*Changes for Carousel*/
	z-index: 100;
}
/*#main-content .landing-module ul {
	margin-top: 60px;
}*/
#sidebar h2 {
	line-height:1em;
}
#sidebar ul li a:focus {
	outline: 1px solid #000;
}
#sidebar ul li ul li {
	float: none;
}
#sidebar ul li.selected ul {
	width: 204px;
}
#sidebar ul li.selected ul li {
	display: block;	
}
/*#sidebar ul li.selected ul li.selected ul {
	width: auto;
}*/
#sidebar ul li.selected ul li.selected ul li a {
	margin-left: 20px;
}
#sidebar ul li.selected ul li ul li
{
    position:relative;
}
#sidebar ul li.selected ul li ul li span
{
    position:absolute;
    left:0px;
}
#sidebar ul li.selected ul li ul li a
{
    margin-left:-10px !important;
    padding-left:30px !important;
    width:164px !important;
}

/*fourth level css starts*/
#sidebar ul li.selected ul li ul li ul li
{
    position:relative;
}
#sidebar ul li.selected ul li ul li ul li span
{
    position:absolute;
    left:0px;
}
#sidebar ul li.selected ul li ul li ul li a
{
    margin-left:-20px !important;
    padding-left:45px !important;
    width:149px !important;
}

/*fourth level css ends*/

/*fivth level css starts*/
#sidebar ul li.selected ul li ul li ul li ul li
{
    position:relative;
}
#sidebar ul li.selected ul li ul li ul li ul li span
{
    position:absolute;
    left:0px;
}
#sidebar ul li.selected ul li ul li ul li ul
{
    width:174px !important;
}
#sidebar ul li.selected ul li ul li ul li ul li a
{
    margin-left:-30px !important;
    padding-left:60px !important;
    width:134px !important;
}

/*fivth level css ends*/


#main-content .landing-module img {
	margin-right: 15px;
}
/* Providers Pages */
.providers .mainContent .content,
.providers .providers-sidebar {
	margin-top: 6px!important;/*Changes for Carousel*/
	/*padding-bottom: 14px;/*Changes for Carousel*/
}
/*
.providers .header .tools .search .inputSubmit {
	top: 13px;
}*/
.providers .header ul.state-specific-links {
	/*top: 65px;*/
	margin-top: 24px;
}
.providers .headerContainer .navigation ul ul {	
}
.providers .headerContainer .navigation ul li.sixth ul {	
}
.providers .headerContainer .navigation ul li.seventh ul {	
}
.providers .headerContainer .navigation ul li.eighth ul {	
}
.providers .headerContainer .navigation ul ul ul {
	margin: 0;
}
body.providers .headerContainer .navigation ul ul ul.xp {
	margin: -31px 0 0 180px;
}
/* Providers Coming Soon */
.header ul.state-specific-links {
	top: 65px;
}
.mainContent .content .coming-soon .links {
	padding-top: 15px;
}
/* Members Landing Page */
#sidebar-right .members-sign-in img.logo {
	margin-bottom: 0;
}
#sidebar-right .members-sign-in p.reasonsie7 {
	margin-top: 40px;
}
/* survey popup 
#survey-popup {
	height: 450px;
	overflow-x: hidden;
	overflow-y: scroll;
}*/
/*Adjusting top margin for main banner web part one in IE 7*/
.row1
{
    /*margin-top:-15px;added for 893 BG Image Changes*/
    margin-top:5px;
    }
    
     /*Adjusting homepage content div for ie7*/   
    .mainContent .content{
  position: relative; 
  /*margin: -225px 0 0 0; */
  z-index: 100;
}
/*Members State landing pages - Adjusting main content in ie7*/
.pageWrapper{
   /* position:relative;*/
    }
    /*Added to set proper alignment between the banners in the home page*/
.ms-PartSpacingVertical{
margin-top:0px !important;
}

/*Added to align the side bar in the members plan pages*/
#sidebar-right.sidebar-right-clearfix
{
    margin-top:225px;
}
/*Added for members login portal*/
#signIn_IFrame
{
    height:304px !important;
}

/* Added for dropdown skin*/
.dropclass
{
    height:96px !important;
    top:28px !important;
    overflow-y:auto !important;
}

.resetdropclass
{
    height:auto !important;
    top:28px !important;    
}
.dropjerkfix
{
    height:90px !important;
}
.header .tools .signin .signInie7{
display:inline;
    display:inline-table;
    display:inline-block;
    vertical-align:middle;
    *margin-top: expression(this.offsetHeight < this.parentNode.offsetHeight ? parseInt((this.parentNode.offsetHeight - this.offsetHeight) / 2 + 1.5) + "px" : "0");
}
/*.click-nav ul .clicker {
                background: url("/members/common/Style Library/Molina.Internet.MasterPages/img/btnSignInBg.jpg") repeat-x scroll 0 1px #613a6b; updated for Home page redesign changes
}

.click-nav ul .clicker:hover,
.click-nav ul .active {
                background: url("/members/common/Style Library/Molina.Internet.MasterPages/img/btnSignInBgHover.jpg") repeat-x scroll 0 1px #9458a3; updated for home page redesign changes
}*/
.ie_verticalcenteralign{
display:inline;
    display:inline-table;
    display:inline-block;
    vertical-align:middle;
    *margin-top: expression(this.offsetHeight < this.parentNode.offsetHeight ? parseInt((this.parentNode.offsetHeight - this.offsetHeight) / 2 + 1.5) + "px" : "0");
}

#EmailShare .bottombox{
padding:7px 44px 0 51px;
/*width:600px;*/
}
#EmailShare .centeralign #counter{
margin:0;
}
#EmailShare #recaptcha_widget #recaptcha_image img{
    height: 35px !important;
    width: 100% !important;
}
#EmailShare #recaptcha_widget #recaptcha_image img.normalview{
    height: 35px !important;
    width: 100% !important;
}
#EmailShare #recaptcha_widget #recaptcha_image img.expandview{
    height: 57px !important;
    width: 280px !important;
    left: -50px;
    position:absolute;
    background:url('../../../members/common/Style Library/Molina.Internet.MasterPages/img/dropshadow_img.png')/*tpa=http://www.molinahealthcare.com/members/common/Style Library/Molina.Internet.MasterPages/img/dropshadow_img.png*/ no-repeat;
    padding:7px;
    border:none;
    top: -10px;
    z-index: 1000;
}