/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox,
#cboxOverlay,
#cboxWrapper {
	position:absolute;
	top:0;
	left:0;
	z-index:9999;
	overflow:visible;
}
#cboxOverlay {
	position:fixed;
	width:100%;
	height:100%;
}
#cboxMiddleLeft,
#cboxBottomLeft {
	clear:left;
}
#cboxContent {
	position:relative;
}
#cboxLoadedContent {
	overflow:auto;
}
#cboxTitle {
	margin:0;
}
#cboxLoadingOverlay,
#cboxLoadingGraphic {
	position:absolute;
	top:0;
	left:0;
	width:100%;
}
#cboxPrevious,
#cboxNext,
#cboxClose,
#cboxSlideshow {
cursor:pointer;
}
.cboxPhoto {
	float:left;
	margin:auto;
	border:0;
	display:block;
}
.cboxIframe {
	width:100%;
	height:100%;
	display:block;
	border:0;
}
/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay {
	background:#000;
	opacity:0.3 !important;
	filter:alpha(opacity="30") !important;
}
#colorbox {
	background-color:#fff;
	/*-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;*//*commented for 1107*/
	/*Removed to show the medicare/duals Popup on place
	position: fixed !important;*/
	/*top: 8% !important;*/
}
#cboxTopLeft {
	width:8px;
	height:8px;
}
#cboxTopCenter {
	height:8px;
}
#cboxTopRight {
	width:8px;
	height:8px;
}
#cboxBottomLeft {
	width:8px;
	height:8px;
}
#cboxBottomCenter {
	height:8px;
}
#cboxBottomRight {
	width:8px;
	height:8px;
}
#cboxMiddleLeft {
	width:8px;
}
#cboxMiddleRight {
	width:8px;
}
#cboxContent {
	overflow:visible;
}
#cboxLoadedContent {
	margin-bottom:0px;
	border: 1px solid #ddd;
	border-radius: 3px;
}
#cboxLoadingOverlay {
	background:url('../../../members/common/Style Library/Molina.Internet.MasterPages/img/popup/loading_background.png')/*tpa=http://www.molinahealthcare.com/members/common/Style Library/Molina.Internet.MasterPages/img/popup/loading_background.png*/ no-repeat center center;
}
#cboxLoadingGraphic {
	background:url('../../../members/common/Style Library/Molina.Internet.MasterPages/img/popup/loading.gif')/*tpa=http://www.molinahealthcare.com/members/common/Style Library/Molina.Internet.MasterPages/img/popup/loading.gif*/ no-repeat center center;
}
#cboxTitle {
	position:absolute;
	bottom:-25px;
	left:0;
	text-align:center;
	width:100%;
	font-weight:bold;
	color:#7C7C7C;
}
#cboxCurrent {
	position:absolute;
	bottom:-25px;
	left:58px;
	font-weight:bold;
	color:#7C7C7C;
}
#cboxPrevious,
#cboxNext,
#cboxClose,
#cboxSlideshow {
	position:absolute;
	bottom:-29px;
	background:url('../../../members/common/Style Library/Molina.Internet.MasterPages/img/popup/controls.png')/*tpa=http://www.molinahealthcare.com/members/common/Style Library/Molina.Internet.MasterPages/img/popup/controls.png*/ no-repeat 0px 0px;
	width:23px;
	height:23px;
	text-indent:-9999px;
}
#cboxPrevious {
	left:0px;
	background-position: -51px -25px;
}
#cboxPrevious.hover {
	background-position:-51px 0px;
}
#cboxNext {
	left:27px;
	background-position:-75px -25px;
}
#cboxNext.hover {
	background-position:-75px 0px;
}
#cboxClose {
	position:absolute;
	/* change the top and right for the close button to appear inside the frame */
	top: 2px;
	right: 4px;
	background-position: -93px -77px;
	width: 34px;
	height: 32px;
}
#cboxClose {
	position:absolute;
	/* change the top and right for the close button to appear inside the frame */
	top: 2px;
	right: 4px;
	background-position: -93px -77px;
	width: 34px;
	height: 32px;
	border:0px;
}
#cboxClose.hover {
	
}
.cboxSlideshow_on #cboxSlideshow {
	background-position:-125px 0px;
	right:27px;
}
.cboxSlideshow_on #cboxSlideshow.hover {
	background-position:-150px 0px;
}
.cboxSlideshow_off #cboxSlideshow {
	background-position:-150px -25px;
	right:27px;
}
.cboxSlideshow_off #cboxSlideshow.hover {
	background-position:-125px 0px;
}
.cboxClose {
	position:absolute;
	top:0;
	right:0;
	z-index: 10000;
}
/* Styles for Popups Content */
a {
	color: #0395a2;
}

#share-link-email-popup,
#not-in-state-popup,
.overlays {
	background:#fff !important;
	padding: 14px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}
/*Added to fix the scroll in ie7*/
#state-language-popup
{
    *padding-bottom:0px;
}
/*End-Added to fix the scroll*/
#healthcare-professionals-popup {
    text-align:center;
    height: auto;
    background:#fff !important;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;            
}
.healthcare-pad
{
    padding:14px;
}
#healthcare-professionals-popup h3 
{
    margin-top:0px;
	font-size: 1.5em;
	font-weight: normal;
	line-height: 1.3;
}
#healthcare-professionals-popup h4 {
	color: #00909d;
	font-size: 1.4em;
}
#healthcare-professionals-popup .yes-no-buttons {
	/*padding: 0 0 0 190px;
	padding:0;
	margin-bottom: 20px;
	height: 20px;*/
	padding: 0;
	margin: 5px 0 30px;
	height: auto;
}
#healthcare-professionals-popup .changeBtn {
	float: left;
	color: #0395a2;
	text-decoration: none;
	font-size: 1em;
	border: solid 1px #cdcdcd;
	background: url('../../../members/common/Style Library/Molina.Internet.MasterPages/img/btnGrayBg.jpg')/*tpa=http://www.molinahealthcare.com/members/common/Style Library/Molina.Internet.MasterPages/img/btnGrayBg.jpg*/ repeat-x 0 0 #ededed;
	/*margin-right: 14px;*/
	/*padding: 7px 28px 6px;*/
	margin: 0 7px 20px;
	padding: 7px 20px 6px;
}
#healthcare-professionals-popup .changeBtn.dual {
	float: left;
	margin: 0 0 35px 145px;
}
#healthcare-professionals-popup .changeBtn:hover, #healthcare-professionals-popup .changeBtn_single:hover {
	background: url('../../../members/common/Style Library/Molina.Internet.MasterPages/img/btnGreenBg.jpg')/*tpa=http://www.molinahealthcare.com/members/common/Style Library/Molina.Internet.MasterPages/img/btnGreenBg.jpg*/ repeat-x 0 0 #00a7ab;
	color: #fff;
}

#healthcare-professionals-popup .changeBtn_single {
       color: #0395a2;
       text-decoration: none;
       font-size: 1em;
       border: solid 1px #cdcdcd;
       background: url('../../../members/common/Style Library/Molina.Internet.MasterPages/img/btnGrayBg.jpg')/*tpa=http://www.molinahealthcare.com/members/common/Style Library/Molina.Internet.MasterPages/img/btnGrayBg.jpg*/ repeat-x 0 0 #ededed;
       padding: 7px 20px 6px;
       margin: 0 0 20px;
}
#healthcare-professionals-popup a.not {
	float: left;
	width: 100%;
	margin-bottom: 10px;
}
#state-language-popup,
.overlays a,
#state-language-popup,
.overlays a:hover,
#state-language-popup,
.overlays a:visited {
	text-decoration:none;
}
.box-title {
	color:#2C2D31;
	font-size: 1.4em;
	font-weight: normal;
	margin: 0 0 8px 0;
}
#subs-container {
	position:relative;
	margin: 0 0 14px;
	padding:20px;
	border: 1px solid #ddd;
	/*height:60px;*/
}
.box-side {
	float: left;
	padding: 0;
	/*Width changed for the text to be on one line in the state change popup*/
	/*width:237px;*/
}
.box-side select {
	width: 170px;
}
.box-side.left {

}
.box-side.right {
	float:right;
}
.box-side h4, .box-side h4 a {
    font-size: 17px;
    font-weight: bold;
    line-height: 1em;
}

.box-side h4 {
	color:#00909d;
	margin:0 0 10px;
}
.box-side h4 a:hover {
	color:#f26535;
}
a:link,a:visited {
	border:none;
}
#button {
	width: 100%;
	text-align: center;
}
#button input[type="submit"] {
	float: right;
}
#share-link-email-popup label {
	float: left;
	width: 300px;
	margin-bottom: 5px;
	color: #000000;
    font-size: 14px;
}

#share-link-email-popup input[type=text].emailTextBox 
{
background: url(../img/bg-input-form001.png)/*tpa=http://www.molinahealthcare.com/Style Library/Molina.Internet.MasterPages/img/bg-input-form001.png*/ repeat-x 0 0 transparent;
background-color:#fff;
border-top: solid 1px #aaaaaa;
border-left: solid 1px #aaaaaa;
border-bottom: solid 1px #cccccc;
border-right: solid 1px #cccccc;
height: 16px;
padding: 5px;
width:290px;
color:#3d3d3d;
}
#share-link-email-popup input[type=text].captchatxtbox
{
background: url(../img/bg-input-form001.png)/*tpa=http://www.molinahealthcare.com/Style Library/Molina.Internet.MasterPages/img/bg-input-form001.png*/ repeat-x 0 0 transparent;
background-color:#fff;
border-top: solid 1px #aaaaaa;
border-left: solid 1px #aaaaaa;
border-bottom: solid 1px #cccccc;
border-right: solid 1px #cccccc;
height: 16px;
padding: 5px;
color:#3d3d3d; 
}
#share-link-email-popup .emailtxtboxblock
{
    display:inline-block;
}
#not-in-state-popup p {
	line-height: 1.4;
}
#not-in-state-popup .box-side select {
	width: 250px;
}
#not-in-state-popup .box-side input[type="submit"] {
	margin: 15px 0 0 167px;
}
/* survey popup */
#survey-popup {
	background:#fff !important;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
    overflow: hidden;
    *height:480px;/*modify UI*/
     width: 590px;
}

#survey-popup h2 {
	/*float: left;*/
	background: url(Unknown_83_filename)/*tpa=http://www.molinahealthcare.com/Style Library/Molina.Internet.MasterPages/img/survey-h2-bg.jpg*/ repeat-x 0 0;
	/*width: 568px;*/
	margin: 0px;/*modify UI*/
	padding: 20px 0 20px 14px;
	color: #00909d;
	font-size: 1.7em;
}
#survey-popup h3 {
	float: left;
	background: url(Unknown_83_filename)/*tpa=http://www.molinahealthcare.com/Style Library/Molina.Internet.MasterPages/img/survey-h3-bg.jpg*/ no-repeat right top #4fc2cf;
	width: 568px;
	margin:0 0 5px;
	padding:10px;
	color: #fff;
	font-weight: normal;
	font-size: 1.4em;
}
/*survey scroll*/
.survey-scroll 
{
    overflow:auto;
    height:410px;
    overflow-x:hidden;
    
    width:590px; 
    *position:absolute;
    
}
.surveypop_inner
{
    padding:10px;   
}
#survey-popup textarea {
	width: 532px;
	height: 60px;
	padding: 10px;
	border-color: #4fc2cf;
}
#survey-popup p.counter {
	text-align: right;
	margin-top: 5px;
	color: #ccc;
}
#survey-popup p.warning {
	color:#600;
}	
#survey-popup p.exceeded {
	color:#e00;
}
#survey-popup h4 {
	margin: 0 0 5px 0;
	color: #00909d;
	font-size: 1.2em;
}
#survey-popup .rate {
	float: left;
	width: 100%;
	margin: 0;
	padding: 10px 0 10px 5px;
	border-bottom: 1px solid #ccc;
}
#survey-popup .rate img {
	float: left;
	margin-top: 5px;
}
#survey-popup .rate .rating {
	float: left;
	text-align: center;
	margin: 0 14px;
	padding: 5px;/*survey popup css changes*/
}
/*survey popup css changes*/
/*#survey-popup .rate .rating div.radio {
    padding-top: 8px;
    position:relative;
    width:70px;
    height:18px;
    margin-right:3px;
}*/
/*survey popup css changes*/

#survey-popup .rate .rating label {
    float: none;
    text-align: center;
    display: inline-block;/*survey UI*/
    margin: 0 0 5px;
    width: 100%;
   
}
#survey-popup .rate .rating p 
{
    margin-top: 0;
}
#survey-popup .questions {
	float: left;
	width: 100%;
	margin-bottom: 10px;
	padding-bottom: 14px;
	border-bottom: 1px solid #ccc;
}
#survey-popup .questions .question {
	float: left;
	width: 100%;
	 height: 62px;
    margin: 7px 0;
}
#survey-popup .questions .question p {
	
	margin: 3px 0 0 0;
}

#survey-popup .questions .question .question_lftlabel{
/*float:left;*//*remove for UI changes*/
}
 
#survey-popup .questions .question .question_rgtlabel{
/*float:right;*//*removed and modify for UI changes*/
margin-left: 20px;
margin-top: 10px;
height:28px;

}
   
#survey-popup .questions .question select {
	float: right;
	font-size: 1.2em;
}
/*Newly added css for UI*/
#survey-popup .questions .question .question_rgtlabel select{
width: 300px !important;
display:none;
}

/* Added to prevent the gray lin */
.s4-ba {
    padding-bottom:8px!important;
}


/* Style for popup iframe height*/
.popupiframehgtfix
{
    height:290px !important;
}
.popupiframehgtfixemail
{
    height:525px !important;
    width:748px !important;
}

.dropjerkfix
{
    height:90px !important;
    position:relative;
    top:15px;
}

.captcharefresh
{ 
    float:left;   
    padding: 0px 0px 0px 10px;
}

.captchaleft
{
    float: left; 
}
.captchaclear
{
    clear:both;
}
.imgCaptchaStyle
{
    border-width: 0px; 
    margin-top: 0px;
    margin-bottom: 10px;
}

#state-language-popup .statebutton input
{
    margin-top:7px;
}

/*Email popup */
.email_popup_box{
	background:#fff;
	padding:10px;
	
	
}
.email_popup_box h2 {
color: #2C2D31;
font-family: arial;
font-size: 20px;
font-weight:normal;
margin:0px;
padding:0px;
}
.email_popup_box .titlelft{
float:left;
}
.email_popup_box .closebtnrgt{
float:right;
}

.emailpopupclosebutton {
	background: #f1f1f1 url('../../../members/common/Style Library/Molina.Internet.MasterPages/img/popup/controls.png')/*tpa=http://www.molinahealthcare.com/members/common/Style Library/Molina.Internet.MasterPages/img/popup/controls.png*/;
	background-position: -95px -77px;	
	height:32px;	
	width:32px;
	border:none;
}


.email_popup_box .title_box{
	display:inline-block;
	width:100%;
	margin-bottom:5px;
}
.popupmessagetxt{
text-align: center;
color: red;
font-size: 13px;
font-style: italic;
display:inline-block;
width:100%;
margin-bottom:5px;
}
.email_popup_box .control_box{
	border:1px solid #ccc;
	padding:10px;
	display:inline-block;
	height:270px;
	font-size: 15px;
	font-family: arial;
}

.email_popup_box .control_box input[type=text].email_txtbox
{
background: url('../../../members/common/Style Library/Molina.Internet.MasterPages/img/bg-input-form001.png')/*tpa=http://www.molinahealthcare.com/members/common/Style Library/Molina.Internet.MasterPages/img/bg-input-form001.png*/ repeat-x 0 0 transparent;
background-color:#fff;
border-top: solid 1px #aaaaaa;
border-left: solid 1px #aaaaaa;
border-bottom: solid 1px #cccccc;
border-right: solid 1px #cccccc;
height: auto;

padding: 5px;
width:273px;
color:#3d3d3d;
margin-right: 5px;
}
.email_popup_box .control_box input.email_txtbox
{
background: url('../../../members/common/Style Library/Molina.Internet.MasterPages/img/bg-input-form001.png')/*tpa=http://www.molinahealthcare.com/members/common/Style Library/Molina.Internet.MasterPages/img/bg-input-form001.png*/ repeat-x 0 0 transparent;
background-color:#fff;
border-top: solid 1px #aaaaaa;
border-left: solid 1px #aaaaaa;
border-bottom: solid 1px #cccccc;
border-right: solid 1px #cccccc;
height: 28px;

padding: 5px;
width:273px;
color:#3d3d3d;
margin-right: 5px;
}
.email_popup_box .control_box  .email_submitbtn input {
display: block;
float: left;
background: url('../../../members/common/Style Library/Molina.Internet.MasterPages/img/btnGreenBg.jpg')/*tpa=http://www.molinahealthcare.com/members/common/Style Library/Molina.Internet.MasterPages/img/btnGreenBg.jpg*/ repeat-x 0 0 #00a7ab;
padding: 5px 16px 6px;
color: #fff !important;
text-shadow: 1px 1px 1px #067a91;
border: 1px solid #0292a0;
border-top: 1px solid #75d7e2;
border-left: 1px solid #75d7e2;
outline: 1px solid #ccc;
}
.email_popup_box .control_box  .email_submitbtn{
	display:inline-block;
	width:100%;
}
.email_popup_box .control_box input.captcha_txtbox{
	width:75px !important;
}
.email_popup_box .control_box  .popform_cntrl{
	margin-bottom:15px;
	display: inline-block;
}
.email_popup_box .control_box .email_submit_btn_box{
	float:right;
}
.email_popup_box .control_box .labeltxt{
	margin-bottom:7px;
	display:inline-block;
	width:100%;
}
/*.email_popup_box .control_box .captcha_img{
	margin-left:122px;
	width:75%;
}*/

.email_popup_box .control_box .captcha_img img{
border-width: 0px;
margin-left: 123px;
float: left;
margin-bottom: 10px;
margin-right: 5px;
}
.email_popup_box .control_box .captcha_img span input{
margin-top: 2px;
}


.email_popup_box .control_box  .captcha_labeltxt{
	margin-right:10px;
}
.email_popup_box .control_box  span {
font-family: arial;
font-size: 13px;
font-style: italic;
color:red;
}

.email_popup_box .control_box  .hgt{
	height:15px;
	margin-bottom:0;
	width:100%;
	margin-top:5px;
}
.email_popup_box .control_box  .nomargin{
	
	margin-bottom:5px;
	
}
.email_popup_box .closebtnrgt input[type=submit]{
position: relative;
left: 5px;
top: -5px;
}
.email_popup_box .closebtnrgt input{
position: relative;
left: 20px;
top: -5px;
}
/* Survey popup captcha css*/

.members-enquiry-form .formcntrlbox .surveyPop_box{
width: 455px;
margin: 0 auto;
}
.members-enquiry-form .formcntrlbox .surveyPop_box input[type=text]{
width:150px;
}
.members-enquiry-form .surveyPop_box .lftfeedbox
{
    float:left;
    width:auto;
    display:inline-block;
    margin-right: 10px;
    text-align: right;
}
.members-enquiry-form .surveyPop_box .rgtfeedbox
{
    float:left;
	display:inline;
	width:190px;
}

.members-enquiry-form .formcntrlbox .surveyPop_box .captchaimg001 img{
float:left;
margin-bottom: 10px	;
margin-right: 5px;
}
.members-enquiry-form .formcntrlbox .surveyPop_box .captchatextbx
{
    float:left !important;
}
.members-enquiry-form .formcntrlbox .surveyPop_box .captchalabelbx
{
    position:relative;
    top:45px;
}
.members-enquiry-form .survey_center_box .errormsg_txt{
	text-align:center;
	font-style:italic;
	width:100%;
}
.members-enquiry-form .survey_center_box .errormsg_txt label{
	display:block;
	width:100%;
	margin-bottom:10px !important;
	font-size: 13px;
}
.members-enquiry-form .nomargin{
	margin-bottom:0;
}
.members-enquiry-form .survey_center_box{
text-align:center;
margin-bottom:10px;
width:auto;
display:block !important;
}
#survey-popup input[type=submit] {
	float: none;
	display:inline;
}
#survey-popup .questions .question select {
/*	float: right;*/
	font-size: 1.2em;
	margin-left:10px;
	width:300px;
}
.members-enquiry-form .surveyPop_box .rgtfeedbox .captchaimg001 input
{
    margin-top:0;
}
#survey-popup h4 .reqfld
{
    font-size:13px;
}
.members-enquiry-form .formcntrlbox .surveyPop_box label
{
    font-size:14px;
}
.members-enquiry-form .formcntrlbox .surveyPop_box .captchatextbx input[type="text"]
{
    height:auto;
    background: url(../img/bg-input-form001.png)/*tpa=http://www.molinahealthcare.com/Style Library/Molina.Internet.MasterPages/img/bg-input-form001.png*/ repeat-x 0 0 transparent;
}
.members-enquiry-form .formcntrlbox .surveyPop_box .captchatextbx input
{
    height:28px;
    background: url(../img/bg-input-form001.png)/*tpa=http://www.molinahealthcare.com/Style Library/Molina.Internet.MasterPages/img/bg-input-form001.png*/ repeat-x 0 0 transparent;
    border-top: solid 1px #aaaaaa;
    border-left: solid 1px #aaaaaa;
    border-bottom: solid 1px #cccccc;
    border-right: solid 1px #cccccc;
    padding: 5px;
    color:#3d3d3d;
    width: 150px;
}
.lstRadioCntrl
{
    width:75px; 
    text-align:center; 
    float:left;
}

#survey-popup .statepopupclosebutton {
    background: url("../../../members/common/Style Library/Molina.Internet.MasterPages/img/popup/controls-1.png")/*tpa=http://www.molinahealthcare.com/members/common/Style%20Library/Molina.Internet.MasterPages/img/popup/controls.png*/ repeat scroll -95px -77px #CEF3F7;
}
.members-enquiry-form .survey_center_box input
{
    float:none !important;
}
.popupfstDivSurvey
{
    height:490px !important;
    width:592px !important;
    position:fixed !important;
    top:50% !important;
    left:50% !important;
    margin-left:-296px !important;
    margin-top:-245px !important;
}
.popupsndDivSurvey
{
    height:488px !important;
}
.popupiframehgtfixSurvey
{
    height:488px !important;
}
.popupIFramereset
{
    display:none;
}
/* Survey popup ends*/




/* Medicare popup */
#div_medicare_popup .statebutton input, 
#div_duals_popup .statebutton input, 
#div_medicare_popup_external .statebutton input, 
#div_medicare_popup_internal .statebutton input,
#div_duals_popup_internal .statebutton input {
	font-size:14px;
	float:right;
	font-family: arial;
}
#div_medicare_popup,#div_duals_popup, #div_medicare_popup_external, #div_medicare_popup_internal,#div_duals_popup_internal{
	padding:10px;
}
#div_medicare_popup .statebutton, #div_duals_popup .statebutton,#div_medicare_popup_external .statebutton,#div_medicare_popup_internal .statebutton, #div_duals_popup_internal .statebutton{
	width:100%;
	*margin-top:20px !important;
	margin-top:25px;
}
#div_medicare_popup .leave_popup_box,#div_duals_popup .leave_popup_box, #div_medicare_popup_external .leave_popup_box,  #div_duals_popup_internal .leave_popup_box{
	display:inline-block; 
	width:100%;
}
#div_medicare_popup .leave_popup_box h3,#div_duals_popup .leave_popup_box h3, #div_medicare_popup_external .leave_popup_box h3, #div_medicare_popup_internal .leave_popup_box h3,#div_duals_popup_internal .leave_popup_box h3{
	font-size: 14px;
	font-family: arial;
	line-height: 25px;
    margin: 0;
    text-align:justify;
}
#div_medicare_popup .alert_icon ,
 #div_duals_popup .alert_icon ,
 #div_medicare_popup_external .alert_icon,
 #div_medicare_popup_internal .alert_icon,
 #div_duals_popup_internal .alert_icon{
	background: url("../../../members/common/Style Library/Molina.Internet.MasterPages/img/leave_alert.png")/*tpa=http://www.molinahealthcare.com/members/common/Style%20Library/Molina.Internet.MasterPages/img/leave_alert.png*/ no-repeat left top ;
	height:40px;
	width:40px;
	display:block;
	float:left;
	margin-right: 10px;
}
.leave_popup_box .div_medicare_popup_return
{
    	margin-right:10px;
}
.statebutton .div_medicare_popup_OK, .statebutton .div_medicare_popup_return
{
    display: block;
	float: right;
	background: url("../../../members/common/Style Library/Molina.Internet.MasterPages/img/btnGreenBg-1.jpg")/*tpa=http://www.molinahealthcare.com/members/common/Style%20Library/Molina.Internet.MasterPages/img/btnGreenBg.jpg*/ repeat-x 0 0 #00a7ab;
	padding: 5px 16px 6px;
	color: #fff !important;
	text-shadow: 1px 1px 1px #067a91;
	border: 1px solid #0292a0;
	border-top: 1px solid #75d7e2;
	border-left: 1px solid #75d7e2;
	outline: 1px solid #ccc;	
}
.statebutton .div_medicare_popup_OK
{
    margin-right:10px;
}
.statebutton .div_medicare_popup_OK:hover, .statebutton .div_medicare_popup_return:hover{
    text-decoration: none !important;
	opacity: 0.8;
	filter: alpha(opacity="90");
}
/*Medicare pop ends*/


/* Lead cards popup css starts here */
#lead_card_popup_div .statebutton input{
	font-size:14px;
	float:right;
	font-family: arial;
}
#lead_card_popup_div{
	padding:10px;
}
#lead_card_popup_div .statebutton{
	width:50px;	
	margin:18px auto 0px auto;
}
#lead_card_popup_div .leave_popup_box{
	display:inline-block; 
	width:100%;
}
#lead_card_popup_div .leave_popup_box h3{
	font-size: 14px;
	font-family: arial;
	line-height: 20px;
    margin: 0;
}
#lead_card_popup_div .alert_icon{
	background: url('../img/leave_alert.png')/*tpa=http://www.molinahealthcare.com/Style Library/Molina.Internet.MasterPages/img/leave_alert.png*/ no-repeat left top ;
	height:40px;
	width:40px;
	display:block;
	float:left;
	margin-right: 10px;
	}
/*#lead_card_popup_div .leave_popup_box .sbmt_btn{
	margin-right:10px;
}*/
.statebutton .cancel_btn, .statebutton .sbmt_btn {
	display: block;
	float: right;
	background: url('../img/btnGreenBg.jpg')/*tpa=http://www.molinahealthcare.com/Style Library/Molina.Internet.MasterPages/img/btnGreenBg.jpg*/ repeat-x 0 0 #00a7ab;
	padding: 5px 16px 6px;
	color: #fff !important;
	text-shadow: 1px 1px 1px #067a91;
	border: 1px solid #0292a0;
	border-top: 1px solid #75d7e2;
	border-left: 1px solid #75d7e2;
	outline: 1px solid #ccc;
}
.statebutton .cancel_btn:hover, .statebutton .sbmt_btn:hover
{
    text-decoration: none !important;
	opacity: 0.8;
	filter: alpha(opacity="90");
}
/* Lead cards popup css starts here */
#healthcare-professionals-popup #nothealthcare {
padding: 0;
margin: 0px 0 10px;
*margin-bottom:5px;
height: auto;
*display:inline-block;
}

/* Changes for EMail Share Enhancement */
#EmailShare{
color:#646464;
width:748px;
background:#fff;
height:100%;
font-family:Arial;
font-size:13px;
overflow:hidden !important;
}
#EmailShare  .topcntrn{
	background:#f1f1f1;
	padding:5px;
	border-bottom:1px solid #dddddd;
	margin-bottom: 5px;
}
#EmailShare .topcntrn div{
margin-bottom:10px;
margin-left: 38px;
}
#EmailShare .topcntrn div.bluelabeltxt{
margin-bottom: 5px;
}
#EmailShare .topcntrn h2{
background:url(../img/email-icon.png)/*tpa=http://www.molinahealthcare.com/Style Library/Molina.Internet.MasterPages/img/email-icon.png*/ no-repeat;
padding-left:37px;
min-height:30px;
margin-top:0px;
margin-bottom:5px;
line-height: 30px;
font-size: 1.243em;
position:relative;
height:25px;
}
.req_fld{
color:red;
font-size:13px;
}
.errortxt{
color:red;
display:inline-block;
font-size:13px;
height:22px;
position:relative;
width:520px;
}
.errortxt span
{
    position:absolute;
    left:132px;
    width:520px;
}
.bluelabeltxt{
color:#00909d;
font-weight:bold;
}
#EmailShare .bottombox label.textboxlbl
{
margin-right:0;
}
#EmailShare #recaptcha_widget #recaptcha_image
{
    margin-bottom:0;
    border:1px solid #ccc;
    height: 40px !important;
    position:relative;
    z-index:1000;
}

#EmailShare #recaptcha_widget .recaptcha_getanother a, 
#EmailShare #recaptcha_widget .recaptcha_only_if_image a,
#EmailShare #recaptcha_widget .recaptcha_only_if_audio a,
#EmailShare #recaptcha_widget .recaptcha_helptext a
{
    margin-left:0px;
}
#EmailShare #recaptcha_widget .recaptcha_getanother, 
#EmailShare #recaptcha_widget .recaptcha_only_if_image,
#EmailShare #recaptcha_widget .recaptcha_only_if_audio,
#EmailShare #recaptcha_widget .recaptcha_helptext
{
    margin-top:6px;
}
#EmailShare .emailpopupclosebutton{
    background: url("../../../members/common/Style Library/Molina.Internet.MasterPages/img/popup/controls-1.png")/*tpa=http://www.molinahealthcare.com/members/common/Style%20Library/Molina.Internet.MasterPages/img/popup/controls.png*/ repeat scroll -95px -77px #f1f1f1;
    border: medium none;
    height: 32px;
    width: 32px;
    position:absolute;
    right:0;
    top:0;
    cursor:pointer;
}
 #thankyoupopup .emailpopupclosebutton 
 {
    background: url("../../../members/common/Style Library/Molina.Internet.MasterPages/img/popup/controls-1.png")/*tpa=http://www.molinahealthcare.com/members/common/Style%20Library/Molina.Internet.MasterPages/img/popup/controls.png*/ repeat scroll -95px -77px #f1f1f1;
    border: medium none;
    height: 32px;
    width: 32px;
    position:absolute;
    right:3px;
    top:3px;
    cursor:pointer;
 }
#EmailShare .centeralign{
padding:0px 44px 5px 44px;
/*width:600px;*/
display:inline-block;
}


#EmailShare .centeralign .textboxlbl, #EmailShare .textarealbl, #EmailShare .commentbox {
width: 525px;
display: block;
float: left;
}
#EmailShare .centeralign .smtxtlabel, #EmailShare .centeralign .lfttxtlabel{
margin-bottom: 5px;
display: block;
float:left;
width:130px;
font-weight:bold;
font-size: 0.888em;
line-height:15px;
}


#EmailShare .centeralign #counter{
float:right;
margin:0;
margin-right:4px;
font-weight:bold;
font-size: 0.888em;
*line-height:15px;
}

 #EmailShare .textboxlbl input
{
background:#fff url(../img/bg-input-form001.png)/*tpa=http://www.molinahealthcare.com/Style Library/Molina.Internet.MasterPages/img/bg-input-form001.png*/ repeat-x 0 0;
border-top: solid 1px #aaaaaa;
border-left: solid 1px #aaaaaa;
border-bottom: solid 1px #cccccc;
border-right: solid 1px #cccccc;
height: 28px;
padding: 5px 0px 5px 0px;
color:#3d3d3d;
background-color:#fff;
width:100%;
}
#EmailShare input[type=text]
{
    height: auto;
    background:#fff url(../img/bg-input-form001.png)/*tpa=http://www.molinahealthcare.com/Style Library/Molina.Internet.MasterPages/img/bg-input-form001.png*/ repeat-x 0 0;
}

#EmailShare .commentbox textarea
{
margin-bottom:5px;
height:80px;
}
#EmailShare textarea
{
background:#fff url(../img/bg-input-form001.png)/*tpa=http://www.molinahealthcare.com/Style Library/Molina.Internet.MasterPages/img/bg-input-form001.png*/ repeat-x 0 0;
border-top: solid 1px #aaaaaa;
border-left: solid 1px #aaaaaa;
border-bottom: solid 1px #cccccc;
border-right: solid 1px #cccccc;
color:#3d3d3d;
background-color:#fff;
width:100%;
height:50px;
resize:none;
font-size:13px;
font-family:Arial;
outline:none;
}
#EmailShare .urltxt{
	width:30px;
	font-weight:bold;
	margin-right:5px;
	float:left;
	font-size: 0.888em;
	margin-left: 7px;
	
}
#EmailShare .url{
float:left;
width:555px;
}
#EmailShare .urlcntrn{
display:inline-block;
line-height:17px;
}
#EmailShare .bottombox{
padding:7px 48px 0 51px;
/*width:600px;*/
}
#EmailShare .bottombox label{
float:left;
margin-right:7px;
display:block;
}
#EmailShare .bottombox label.submitbtn{
float: right;
    margin-right: 0;
    width:110px;
    margin-top:5px;
}
#EmailShare .bottombox input[type=text], #EmailShare .bottombox .textboxlbl input{
width:70px;
margin-top:7px;
float:none;
}

#EmailShare .bottombox .refreshimg{
margin-top:2px;
margin-right:15px;
}
#EmailShare .bottombox .textlabel{
margin-top:8px;
}
#EmailShare .bottombox .submitbtn  input[type=submit]{
float:right;
}
#EmailShare #recaptcha_widget #recaptcha_image img{
    height: 40px !important;
    width: 100% !important;
}
#EmailShare #recaptcha_widget #recaptcha_image img.normalview{
    height: 40px !important;
    width: 100% !important;
}
#EmailShare #recaptcha_widget #recaptcha_image img.expandview{
    height: 57px !important;
    width: 280px !important;
    left: -50px;
    position:absolute;
    background:url('../../../members/common/Style Library/Molina.Internet.MasterPages/img/dropshadow_img.png')/*tpa=http://www.molinahealthcare.com/members/common/Style Library/Molina.Internet.MasterPages/img/dropshadow_img.png*/ no-repeat;
    padding:7px;
    border:none;
    top: -17px;
    z-index: 1000;
}
#EmailShare #recaptcha_widget .recaptcha_getanother a,
#EmailShare #recaptcha_widget .recaptcha_only_if_image a,
#EmailShare #recaptcha_widget .recaptcha_only_if_audio a,
#EmailShare #recaptcha_widget .recaptcha_helptext a
{
    z-index:1;
}
.popupiframedivfixemail_ms_dlgContent
{
    width:750px !important;
    height:527px !important;
    border:1px solid #DDDDDD !important;
    position:fixed !important;
    left:50% !important;
    top:50% !important;
    margin-left:-375px !important;
    margin-top:-263.5px !important;
    overflow:hidden !important;
}
.popupiframedivfixemail_ms_dlgBorder
{
    width:748px !important;
    height:525px !important;
    border:1px solid #DDDDDD !important;
    overflow:hidden !important;
}
.popupiframedivfixemail_ms_dlgBorder .ms-dlgFrameContainer
{
    overflow:hidden !important;
}
.removeiframehgtfixemail
{
    display:none !important;
}
.ms-dlgOverlay
{
    width:100% !important;
    height:100% !important;
    position:fixed !important;
}

.errortxt.captcha_errortxt
{
    display:inline-block;
    margin-left:198px;
    width:395px;
}
.verticalcenteralign{
 display: table-cell;
    height: 420px;
    vertical-align: middle;
    width: 748px;
    overflow:hidden;
}
.verticalcenteralign_thankyou{
 display: table-cell;
    height: 420px;
    vertical-align: middle;
    width: 748px;
    overflow:hidden;
    text-align:center;
}
/**ends*/
/**Thankyou css starts***/
#thankyoupopup{
width:748px;
height:525px;
background:#fff;
font-family:Arial;
font-size:13px;
}
#thankyoupopup  .topcntrn{
	background:#f1f1f1;
	height:40px;
	border-bottom:1px solid #dddddd;
	position:relative;
}

#thankyoupopup .thankyoutext h2{
	text-align:center;
}
/* EMail Share Enhancement Changes Ends*/