  /* IE7 1024 stuff */
  
  
  .ie7 ul#CTA_Image_Container li {
  	background-size:130% auto!important;
  }
  
  .ie7 .dropdown_2columns {
  	width: 80%!important;
  }
  
  .ie7 .dropdown_1column {
  	width: 80%!important;
  }
  
  .ie7  #CTA_Block_Box {
  	margin-top: 3%!important;
  }
  
 .ie7 #productNav {
  	top: -17px!important;
  }
  
  /* nav.primaryNav.isSplit {
   	margin-top: -15px;
   } */
   
  
  .ie7 #announcementPod {
  	width: 90%!important;
  	float: none!important;
  	display: inline-block!important;
  	margin-top: -20px!important;
  }
  
 .ie7 #whiteFade {
	/*top: 353px;*/
	top: 293px!important;
}
  
 .ie7 #productBackground {
	min-height: 12px!important;
	top: -120px!important;
}
  
 .ie7 #ankleFooter {
	margin-top: -124px!important;
	border: 10px solid #f327ce !important;
	
}  

 .ie7 #equityCallout {
	max-width: 330px!important;
	padding-left: 1%!important;
	padding-right: 1%!important;
}

 .ie7 #equityRotatorPod {
	padding-left: 1%!important;
}

 .ie7 #equityProductsPod {
	padding-left: 1%!important;
	padding-right: 1%!important;
}

 .ie7 #podContainer {
	margin-top: -43px!important;
}
