/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* =============================================================================
   HTML5 element display
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Force vertical scrollbar in non-IE
 * 3. Remove Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 4. Prevent iOS text size adjust on device orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */

html { font-size: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 12px; line-height: 1.231; background-image:url('../images/footgrad.jpg')/*tpa=http://162.74.99.105/CV/images/footgrad.jpg*/; background-repeat:repeat-x; background-position:bottom }

body, button, input, select, textarea { font-family:Arial, Helvetica, sans-serif; color: #222; }

/* 
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink!
 */

::-moz-selection { background: #035E7C; color: #fff; text-shadow: none; }
::selection { background: #035E7C; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { }
a:visited { color: #551a8b; }
a:focus { }

/* Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 0 0; padding: 0 0 0 0px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * Improve image quality when scaled in IE7
 * code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */

img { border: 0; -ms-interpolation-mode: bicubic; }

/*
 * Correct overflow displayed oddly in IE9 
 */

svg:not(:root) {
    overflow: hidden;
}


/* =============================================================================
   Figures
   ========================================================================== */

figure#font-family { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */



/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

/* 
 * Remove inner padding and border in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ 
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* Remove default vertical scrollbar in IE6/7/8/9 */
textarea { overflow: auto; vertical-align: top; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }


/* ==========================================================================================================================================================================
   Primary styles
   Author: 
   ======================================================================================================================================================================= */
	
	p{
	margin:0px 0px 15px 0px;
	font-size:14px;
	color:#888;	
	line-height:20px;
	}
	
	h1{
	
	padding:0px 0px;
	color:#0099CC;
	
	font-style:italic;	
	margin:0px 0px 5px 0px;
	font-size:24px;	
	}
	
	
	#xlgRightCol h1{
	float:left;
	}
	
	#xlgRightCol h1:first-child{
	
	margin:0px 20px 0px 0px;	
	}

	 h1#productGrouph1{
	margin:0px 0px 0px 10px;	
	}

	
	h2{
	color:#035e7c;
	margin:0px 0px 10px 0px;	
	}
	
	h3{
	margin:0px 0px 5px 0px;
	color:#0099cc;	
	font-size:16px;
	}
	
	h4{
	font-size:24px;
	color:#035e7c;
	margin:0px 0px 10px 0px;
	padding:0px 0px;
	line-height:24px;
	color:#035e7c;	
	}
	
	
	
	h5{
	font-size:18px;
	margin:0px 0px 15px 0px;
	color:#5b5b5b;	
	font-style:italic;
	}
	
	h6{
	padding:15px 0px 0px 10px;
	font-size:11px;
	margin:0px 0px;	
	}
	
	
	header{
	position:relative;	
	}
	
	article h3 a{
	text-decoration:none;	
	font-style:italic;
	margin:0px 0px 5px 0px;
	color:#0099cc !important;	
	font-size:16px;
	text-transform:uppercase;
	}
	
	article h3 a:hover{
	color:#035E7C !important;
	}
	
	#corporateNav{
	float:right;
	position:absolute;
	top:0px;
	right:15px;	
	border-top:4px solid #035E7C;
	padding: 2px 0px 0px 0px;
	}
	
	#corporateNav ul li{
	float:left;
	list-style:none;
	margin:0px 0px 0px 0px;
	text-transform:uppercase;
	font-size:10px;	
	}
	
	#corporateNav ul li a{
		-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	text-decoration:none;
	color:#035E7C;	
	padding:2px 15px 3px 15px;
	}
	
	#corporateNav ul li a:hover#font-family{
		color:#0099CC;
		background-color:#f0f0f0;
	}
	
	#siteSearch{
	position:absolute;
	right:15px;
	top:50px;	
	}
	
	#siteSearchbox{
	width:170px;	
	color:#999;
	text-transform:uppercase;
	padding:2px 0px 0px 5px;
	font-style:italic;
	}
	
	.fade {
  position: relative;
  top:0px;
  left: 0px;
  padding:10px 0px 10px 10px;
  width:110px;
}

.fade div {
  position: absolute;
  top: 0;
  padding:10px 0px 10px 10px;
  left: 0;
  display: none;
}
	
	#outerWrap{
	width:1024px;
	margin:0px auto;
	border-right:1px dashed #ccc;	
	border-left:1px dashed #ccc;	
	background-color:#fff;
	}
	
	#innerWrap{
	width:970px;
	margin:0px auto;
	border-right:1px dashed #ccc;	
	border-left:1px dashed #ccc;	
	background-color:#fff;
	}
	
	nav{
	width:100%;	
	height:40px;
	background-color:#f1f5f7;
	border-bottom:7px solid #0099cc;
	}

	nav h2#navBtn5 a, nav h2#navBtn2 a, nav h2#navBtn3 a{
		
	color:#0099cc;
	}
	
	nav h2#navBtn5 a:hover, nav h2#navBtn2 a:hover, nav h2#navBtn3 a:hover{
	color:#035E7C;
	}

	nav #navBtn{
		
		float:left;	
		margin:6px 20px 0px 15px;
		padding:0px 0px 3px 0px;
	}
	
	nav #navBtn:hover{
	border-bottom:2px solid #035E7C;	
	}

	nav h2{
	text-transform:uppercase;
	font-size:12px;
	float:left;	
	color:#0099cc;
	margin:0px 0px 0px 0px;
	padding:14px 20px 10px 20px;
	}
	
	
	nav h2 a{
	text-decoration:none;	
	color:#0099cc;
	padding:14px 0px 10px 0px;
	}
	
	nav h2:hover{
		
	color:#035E7C !important;
	}
	
	nav h2:hover, nav h2 a:hover{
	text-decoration:underline;	
	color:#035e7c;
	cursor:pointer;
	
	}
	
	#nav1, #nav2, #nav3, #nav4{
	
	height:60px;
	padding:0px 0px 0px 40px;
	background-color:#0099cc;	
	}
	
	#nav1 a, #nav2 a, #nav3 a, #nav4 a{
		-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	color:#fff;
	text-decoration:none;
	display:block;
	width:110px;
	text-align:center;
	float:left;
	padding:15px 20px 15px 20px;

	}
	
	
	#nav1 a:hover, #nav2 a:hover, #nav3 a:hover, #nav4 a:hover{
	background-color:#2aa6d0;	
	}
	
	
	.selected{
	text-decoration:underline;	
	color:#035e7c !important;
		background-color:#f6f6f6;
		border-right:1px dotted #035e7c;
		border-left:1px dotted #035e7c;
	}
	
	.selected a{
	text-decoration:underline;	
	color:#035e7c !important;

	}


	footer{
		z-index:3;
		position:relative;
	background-image:url('../images/footCap.jpg')/*tpa=http://162.74.99.105/CV/images/footCap.jpg*/;	
	background-repeat:no-repeat;
	height:260px;
	float:left;
	width:1024px;
	background-color:#035e7c;
	margin:0px 0px 0px 0px;	
	padding:40px 0px 50px 0px; 
	}
	
	footer h5{
		font-size:20px;
		font-style:italic;
		margin:0px 0px 10px 0px;
	color:#fff;	
	}
	
	#textResizer{
	position:absolute;	
	top:45px;
	left:55px;
	}
	
	
	
	.jfontsize-button {
    font: bold 12px arial;
    padding: 3px;
    border: solid 1px #ccc;
	float:left;
	width:15px;
	color:#ccc;
}
 
.jfontsize-button:hover {
    text-decoration: none;
    background: #999;
    color: #fff;
    border: solid 1px #888;
}
 
.jfontsize-disabled, .jfontsize-disabled:hover {
    color: #aaa;
    border: solid 1px #eee;
    background: #eee;
}
	
	
	
	#footerWrap{
		padding:130px 0px 0px 60px;
		overflow:hidden;
	}

	.footerCol{
		float:left;	
		margin:0px 80px 0px 0px;
	}
	
	.footerCol ul{
		border-left: 1px dashed #aecbd5;
		margin:0px 0px 0px 0px;
		padding:0px 0px 0px 10px;
		list-style:none;
		color:#0099cc;
		font-weight:bold;
		
	}
	
	
	.footerCol ul li a{
		text-decoration:none;
		text-transform:uppercase;
		font-size:10px;
		color:#aecbd5;
		font-weight:normal;
		margin:6px 0px 0px 0px;
	}
	
	.footerCol ul li a:hover{
		color:#fff;
	}
	
	#footerForm div label{
	color:#fff;
	text-transform:uppercase;
	font-style:italic;
	font-size:10px;	
	}
	
	#footerCopy{
	position:absolute;
	bottom:40px;
	left:60px;	
	font-size:10px;
	color:#68a6ba;
	}
	
	#footerForm{
	float:left;	
	margin:0px 0px 0px 40px;
	}
	
	#leftForm{
	width:240px;
	float:left;		
	}
	
	
	#rightForm {
    width: 200px;
    float: left;
    margin: -135px 0px 0px 0px;
	}
	
	#rightForm p{
	font-size:9px;
	color:#94acb4;
	margin: 10px 0px 5px 0px;	
	line-height:12px;
	}
		
	#rightForm #submit{
	margin:10px 0px 0px 0px;	
	width:145px;
	height:38px;
	border:0px;
	background-image:url('../images/footerFormSubmit.jpg')/*tpa=http://162.74.99.105/CV/images/footerFormSubmit.jpg*/;	
	text-indent:-9999px;
	}
	
	#rightForm #submit:hover{
	background-image:url('../images/footerFormSubmit_ov.jpg')/*tpa=http://162.74.99.105/CV/images/footerFormSubmit_ov.jpg*/;
		
	}
		
	
	#firstName, #lastName, #email{
		height:10px;
		width:200px;
	}


	#mainContent{
	overflow:hidden;
	padding:20px 0px 60px 0px;
	height:auto;	
	}

	#homeLeftCol{
	float:left;
	width:649px;
	margin:0px 15px 0px 0px;	
	height:auto;
	border-right:1px dashed #ccc;
	}
	

 	#homeRightCol{
	float:left;
	width:300px;
	}
	
		#techLeftCol{
	float:left;
	width:649px;
	margin:0px 15px 0px 15px;	
	height:auto;
	border-right:1px dashed #ccc;
	}
	
	#techRightCol{
		margin:0px 0px 0px 0px;	
	float:left;
	width:275px;
	}
	
	
	#awardCase{
	background-image:url('../images/awardCaseBg2.jpg')/*tpa=http://162.74.99.105/CV/images/awardCaseBg2.jpg*/;	
	background-repeat:no-repeat;
	border:3px solid #999;
	
	
	
	}
	
	
	
	#awardCase{
	background-image:url('../images/awardCaseBg2.jpg')/*tpa=http://162.74.99.105/CV/images/awardCaseBg2.jpg*/;	
	background-repeat:repeat-y;
	border:3px solid #999;
	height:auto;
	overflow:hidden;
	margin:0px 0px 40px 0px;
	
	}
	
		
		
		
.award{
width: 120px;	
float:left;
margin:10px 0px 10px 10px;
}

.award p{
font-size:;
	
}
	
		
.techBucket{
width:190px;
border-right:1px dashed #ccc;
float:left;
padding:10px 0px 0px 20px;
}
	
.techBucket p{
font-size:12px;
line-height:16px;	
}

.techBucket img{
margin:5px 0px 10px 0px;	
}

.techBucket:last-child{
border-right:none;	
}
	
	
	
	#smLeftCol{
	width:335px;
	padding:0px 25px 0px 15px;
	float:left;	
	
	}
	
	#smLeftColSupport{
	width:280px;
	padding:0px 25px 0px 15px;
	float:left;	
	
	}
	
	
	#lgRightCol{
	padding: 0px 10px 0px 0px;
	width:585px;
	float:left;	
	}
	
	#lgRightColSupport{
	padding: 0px 10px 0px 0px;
	width:640px;
	float:left;	
	}
	
	
	#xsmLeftCol{
	width:180px;
	min-height:100px;
	float:left;	
	padding: 0px 0px 0px 0px;

	}
	
	#xlgRightCol{
	padding: 0px 20px 0px 60px;
	width:709px;
	float:left;	
	border-left:1px dashed #ccc;
	height:auto;	
	
	}
	
	#appApprove{
	height:63px;
	width:100%;
	margin:40px 0px 0px 0px;
	float:left;	
	background-image:url('../images/appApproveBtn.jpg')/*tpa=http://162.74.99.105/CV/images/appApproveBtn.jpg*/;
	background-repeat:no-repeat;
	font-size:20px;
	color:#fff;
	font-weight:bold;
	text-decoration:none;
	text-transform:uppercase;
	display:block;
	padding:13px 0px 0px 45px;
	}
	
	#appApprove:hover{

	background-image:url('../images/appApproveBtn_ov.jpg')/*tpa=http://162.74.99.105/CV/images/appApproveBtn_ov.jpg*/;
	}
	
	
	
	#regionDropdown{
	float:right;
	margin:0px 20px 0px 0px;	
	}
	
	
	.boxcaption{ 
	float: left; 
	position: absolute; 
	background: #000; 
	height: 100px; 
	width: 100%; 
	opacity: .8; 
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
 	}
 				
	.captionfull .boxcaption {
 		top: 260;
 		left: 0;
 	}
 	
	.caption .boxcaption {
 		top: 220;
 		left: 0;
 	}
	
	#productTab .boxgrid{
	margin:15px 0px 0px 15px;	
	}
 				
	.boxgrid{ 
	width: 290px; 
	height: 100px; 
	margin:0px 0px 15px 0px; 
	float:left; 
	
	overflow: hidden; 
	position: relative; 
	}
	
	.boxgrid img{ 
	position: absolute; 
	top: 0; 
	left: 0; 
	border: 0; 
		}
		
	.boxgrid p{ 
	padding: 0 10px; 
	color:#afafaf; 
	font-weight:bold; 
	
	}
	
	.boxgrid a{
	color:#fff;
	font-size:18px;
	width:100%;
	height:100%;
	display:block;	
	font-weight:bold;
	text-decoration:none;
	font-style:italic;
	padding:70px 0px 0px 20px;
	}
	
	
	#rearAxleSelect{
	background-image:url('../images/rearAxleSelect_bg.jpg')/*tpa=http://162.74.99.105/CV/images/rearAxleSelect_bg.jpg*/;	
	}
	
	#frontAxleSelect{
	background-image:url('../images/frontAxleSelect_bg.jpg')/*tpa=http://162.74.99.105/CV/images/frontAxleSelect_bg.jpg*/;	
	}
	
	#driveshaftSelect{
	background-image:url('../images/driveSelect_bg.jpg')/*tpa=http://162.74.99.105/CV/images/driveSelect_bg.jpg*/;	
	}
	
	#hubSelect{
	background-image:url('../images/hubSelect_bg.jpg')/*tpa=http://162.74.99.105/CV/images/hubSelect_bg.jpg*/;	
	}
	
	#partsSelect{
	background-image:url('../images/tireSelect_bg.jpg')/*tpa=http://162.74.99.105/CV/images/tireSelect_bg.jpg*/;	
	}
	
	#LVDrivetrainSelect{
	background-image:url('../images/DrivetrainSelect_bg.jpg')/*tpa=http://162.74.99.105/CV/images/DrivetrainSelect_bg.jpg*/;	
	}
	
	#LVFuelCellSelect{
	background-image:url('../images/FuelCellSelect_bg.jpg')/*tpa=http://162.74.99.105/CV/images/FuelCellSelect_bg.jpg*/;	
	}
	
	#LVSealingSelect{
	background-image:url('../images/SealingSelect_bg.jpg')/*tpa=http://162.74.99.105/CV/images/SealingSelect_bg.jpg*/;	
	}
	
	#LVThermalManagementSelect{
	background-image:url('../images/ThermalManagementSelect_bg.jpg')/*tpa=http://162.74.99.105/CV/images/ThermalManagementSelect_bg.jpg*/;	
	}
	
	#OHAxlesSelect{
	background-image:url('../images/OHAxlesSelect_bg.jpg')/*tpa=http://162.74.99.105/CV/images/OHAxlesSelect_bg.jpg*/;	
	}
	
	#OHDriveShaftSelect{
	background-image:url('../images/OHDriveShaftSelect_bg.jpg')/*tpa=http://162.74.99.105/CV/images/OHDriveShaftSelect_bg.jpg*/;	
	}
	
	#OHTransmissionsSelect{
	background-image:url('../images/OHTransmissionsSelect_bg.jpg')/*tpa=http://162.74.99.105/CV/images/OHTransmissionsSelect_bg.jpg*/;	
	}
	
	#OHElectronicControlsSelect{
	background-image:url('../images/OHElectronicControlsSelect_bg.jpg')/*tpa=http://162.74.99.105/CV/images/OHElectronicControlsSelect_bg.jpg*/;	
	}
	
	#OHCTISSelect{
	background-image:url('../images/OHCTISSelect_bg.jpg')/*tpa=http://162.74.99.105/CV/images/OHCTISSelect_bg.jpg*/;	
	}
	
	
	
	#regionTabs{
	height:auto;	
	}
	
	#regionTabs .boxgrid a{
	color:#fff;	
	text-decoration:none;
	}
	
	#regionTabs .boxgrid a:hover{
	color:#fff;	
	text-decoration:none;
	}
	
	
	.box{ 
	width: 140px; 
	height: 195px; 
	margin:0px 15px 15px 0px; 
	float:left; 
	border-left:1px dashed #ccc;
	overflow: hidden; 
	position: relative; 
	
	}
	
	.box:last-child{ 
 
	margin:0px 0px 0px 0px; 
	 
	
	}
	
	.box img{ 
	position: absolute; 
	top: 0; 
	left: 0; 
	border: 0; 
		}
		
	.box p{ 
	padding: 0 10px; 
	color:#afafaf; 
	font-weight:bold; 
	
	}
	
	.box a{
	color:#fff;
	font-size:22px;
	width:100%;
	height:100%;
	display:block;	
	font-weight:bold;
	text-decoration:none;
	font-style:italic;

	padding:60px 0px 0px 20px;
	}
	
	.box p{
	font-weight:normal;
	line-height:16px;
	font-size:11px;	
	color:#888;
	margin:10px 0px 0px 0px;
	}
	
	.box a{
	padding:3px 0px 0px 10px;
	font-weight:bold;
	background-color:#0099cc;
	display:block;
	height:20px;
	width:100%;
	line-height:16px;
	font-size:11px;	
	color:#fff;
	margin:10px 0px 0px 0px;
	}
	
	.box a:hover{
	background-color:#ddd;
	color:#0099cc;
	
	}
	
	

	#homeMap{
		width:100%;
		height:350px;
		border-bottom:1px solid #f0f0f0;
		margin:0px 0px 0px 0px;
	}

	
	#supportMap{
		width:100%;
		height:350px;	
		margin:0px 0px 0px 0px;
	}


	
	#marketingHome{
		width:635px;
		height:260px;
		
		border-left:15px solid #035e7c;
	
	}
	
	
	#contactUsBtnHome{
	width:100%;
	height:50px;
	border-top:1px solid #f0f0f0;
	float:left;
	background-image:url('../images/contactBtnHome.jpg')/*tpa=http://162.74.99.105/CV/images/contactBtnHome.jpg*/;
	background-repeat:no-repeat;
	background-position:right;
	margin:0px 0px 10px 0px;
	}
	
	#contactUsBtnHome:hover{

	background-image:url('../images/contactBtnHome_ov.jpg')/*tpa=http://162.74.99.105/CV/images/contactBtnHome_ov.jpg*/;
	background-repeat:no-repeat;
	background-position:right;

	}
	
	#contactUsBtnHome a{
	width:100%;
	height:100%;
	display:block;	
	}
	
	#homeNews{
	background-image:url('../images/recentNewsHome.jpg')/*tpa=http://162.74.99.105/CV/images/recentNewsHome.jpg*/;
	background-repeat:no-repeat;
	width:100%;
	height:auto;
	float:left;
	padding:50px 0px 0px 10px;
	}
	
	#homeNews article{
	width:260px;	
	border-right:1px dashed #ccc;
	padding:0px 30px 0px 30px;
	float:left;
	}
	
	#homeNews p{
	line-height:18px;
	font-size:10px;
	color:#777;
	margin:0px 0px 0px 0px;	
	padding:0px 0px 25px 0px;
	background-image:url('../images/diamonds.gif')/*tpa=http://162.74.99.105/CV/images/diamonds.gif*/;
	background-repeat:no-repeat;
	background-position:center bottom;
	}
	
	#homeNews article:last-child{
	border-right:none;
	}
	
	#productHero{
		#background-image:url('../images/measureBg.gif')/*tpa=http://162.74.99.105/CV/images/measureBg.gif*/;
		background-repeat:no-repeat;
		margin:30px 0px 40px 0px;	
	}
	
	#productDemo{
		#background-image:url('../images/measureBg.gif')/*tpa=http://162.74.99.105/CV/images/measureBg.gif*/;
		background-repeat:no-repeat;
		margin:0px 0px 40px 0px;	
	}
	

	#productHeroImg{
	margin:15px 0px 10px 20px;	
	}

	a#backResults{
	background-image:url('../images/backResults.jpg')/*tpa=http://162.74.99.105/CV/images/backResults.jpg*/;	
	padding:15px 90px 15px 90px;
	margin:40px 0px 0px 0px;
	display:block;
	}
	
	a#backResults:hover{
	background-image:url('../images/backResults_ov.jpg')/*tpa=http://162.74.99.105/CV/images/backResults_ov.jpg*/;	
	
	}
	
	#productResources{
	padding:100px 0px 0px 10px;	
	}
	
	#productResources ul li{
	padding:5px 0px 5px 33px;
	list-style:none;
	background:url('../images/pdf.gif')/*tpa=http://162.74.99.105/CV/images/pdf.gif*/;	
	background-repeat:no-repeat;
	background-position:left;
	margin:0px 0px 15px 0px;
	}
	
	#productResources ul li.pdf{
	padding:5px 0px 5px 33px;
	list-style:none;
	background:url('../images/doc.png')/*tpa=http://162.74.99.105/CV/images/doc.png*/;	
	background-repeat:no-repeat;
	background-position:left;
	margin:0px 0px 15px 0px;
	}
	
	#productResources ul li.video{
	padding:5px 0px 5px 33px;
	list-style:none;
	background:url('../images/video.png')/*tpa=http://162.74.99.105/CV/images/video.png*/;	
	background-repeat:no-repeat;
	background-position:left;
	margin:0px 0px 15px 0px;
	}
	
	#productResources ul li.cal{
	padding:5px 0px 5px 33px;
	list-style:none;
	background:url('../images/cal.png')/*tpa=http://162.74.99.105/CV/images/cal.png*/;	
	background-repeat:no-repeat;
	background-position:left;
	margin:0px 0px 15px 0px;
	}
	
	#productResources ul li.doc{
	padding:5px 0px 5px 33px;
	list-style:none;
	background:url('../images/doc.png')/*tpa=http://162.74.99.105/CV/images/doc.png*/;	
	background-repeat:no-repeat;
	background-position:left;
	margin:0px 0px 15px 0px;
	}
	
	
	#productResources ul li a{
	padding:0px 0px 0px 0px;
	text-decoration:none;
	color:#888;
	}
	
	#productResources ul li a:hover{
	
	color:#0099cc;
	}
	
	
	#whitePapers h2{
	border-bottom: 1px solid #ccc;
	padding:0px 0px 5px 0px;	
	margin:0px 0px 10px 0px;
	}
	
	#whitePapers ul li{
	padding:5px 0px 5px 35px;
	list-style:none;
	background:url('../images/pdf.gif')/*tpa=http://162.74.99.105/CV/images/pdf.gif*/;	
	background-repeat:no-repeat;
	background-position:left;
	margin:0px 0px 15px 10px;
	}
	
	#whitePapers ul li a{
	padding:0px 0px 0px 0px;
	text-decoration:none;
	color:#888;
	}
	
	#whitePapers ul li a:hover{
	
	color:#0099cc;
	}
	
	
	#starTopInfo{
	overflow:hidden;
	margin:0px 0px 40px 0px;	
	}
	
	
	#starTopInfoLeft{
	width:480px;
	padding:0px 20px 0px 0px;
	float:left;		
	}
	
	#starTopInfoRight{
	width:209px;
	float:left;	
	}
	
	#optionsSection{
	overflow:hidden;
	margin:30px 0px 0px 0px;	
	border-bottom: 1px solid #f0f0f0;
	padding:0px 0px 20px 0px;
	}
	
	#quickFacts{
	background-color:#0099cc;
	padding:10px 15px 10px 15px;	
	}
	
	h5#factsH5{
	margin:0px 0px 5px 0px;	
	color:#fff;
	text-shadow: 0 1px 0 #000;
	
	}
	
	
	#quickFacts ul li{
		
	color:#fff;
	margin:0px 0px 10px 15px;
	}
	
	#featureBenefit{
	margin:40px 0px 0px 0px;	
	}
	
	#featureBenefit h5{
	width:100%;	
	height:30px;
	border-bottom:1px solid #ccc;	
	}
	
	#featureBenefit ul li{
	margin:0px 0px 10px 20px;	
	color:#035E7C;
	font-weight:bold;
	}
	
	#litSearch{
	padding:10px 0px 0px 10px;	
	}
	
	a.litSearch{
	text-transform:uppercase;
	text-decoration:none;
	font-weight:bold;
	display:block;
	text-align:left;
	color:#999;
	
	padding:20px 0px 0px 15px;	
	font-size:11px;
	}
	
	.litSearch p{
	text-transform:lowercase;
	font-weight:normal;
	text-align:left;	
	padding:0px 0px 0px 20px;
	}
	
	.litSearch h3{
	text-align:left;
	padding:0px 0px 0px 20px;	
	}
	
	.litSearch:hover{
	color:#0099cc;	
	}
	
	
	#relatedProducts{
	border-top:1px solid #0099cc;	
	border-bottom:1px solid #0099cc;
	padding:5px 0px 0px 0px;
	margin:100px 0px 0px 0px;
	}
	
	#relatedProducts h3{
	padding:5px 0px 10px 10px;
	font-style:italic;
		border-bottom:1px solid #f0f0f0;
	}
	
	
	.related{
	border-bottom:1px solid #f0f0f0;	
	}
	
	.related:hover{
	background-color:#fbfbfb;
	
	}
	
	.related p a{
	text-transform:uppercase;
	color:#888;
	font-size:16px;
	font-weight:bold;
	text-align:center;
	width:180px;
	display:block;	
	text-decoration:none;
	}
	
	.related p a:hover{
	color:#0099cc;	
	}
	
/* Commenting on 4/29/2014 for reducing the size of After Market Service Part button -------- STARTS *
****************************************************************************************************** 	
	a#servicePartsBtn{
	margin:100px 0px 60px 0px;
	padding:8px 0px 0px 45px;
	background:url('../images/servicePartsBtn.jpg');	
	background-repeat:no-repeat;
	height:65px;
	font-size:20px;
	color:#fff;
	font-weight:bold;
	text-decoration:none;
	text-transform:uppercase;
	display:block;
	}
	
	a#servicePartsBtn:hover{
	margin:100px 0px 60px 0px;
	padding:8px 0px 0px 45px;
	background:url('../images/servicePartsBtn_ov.jpg');	
	background-repeat:no-repeat;
	height:65px;
	font-size:20px;
	color:#fff;
	font-weight:bold;
	text-decoration:none;
	text-transform:uppercase;
	display:block;

	}
******************************************************************************************************	
 *Commenting on 4/29/2014 for reducing the size of After Market Service Part button -------- ENDS */

	a#servicePartsBtn{
	margin:100px 0px 80px 0px;
	padding:8px 0px 0px 10px;
	background:url('../images/servicePartsBtn.jpg')/*tpa=http://162.74.99.105/CV/images/servicePartsBtn.jpg*/;	
	background-repeat:no-repeat;
	height:45px;
	font-size:18px;
	color:#fff;
	font-weight:bold;
	text-decoration:none;
	text-transform:uppercase;
	display:block;
	}
	
	a#servicePartsBtn:hover{
	margin:100px 0px 80px 0px;
	padding:8px 0px 0px 10px;
	background:url('../images/servicePartsBtn_ov.jpg')/*tpa=http://162.74.99.105/CV/images/servicePartsBtn_ov.jpg*/;	
	background-repeat:no-repeat;
	height:45px;
	font-size:18px;
	color:#fff;
	font-weight:bold;
	text-decoration:none;
	text-transform:uppercase;
	display:block;

	}





	#filtersAll{
	overflow:hidden;
	z-index:1;
	margin:0px 0px 0px 0px;
	}
	
	#filtersAll h4{
	color:#fff;
	text-transform:uppercase;
	font-size:12px;
	line-height:14px;
	padding:3px 0px 3px 10px;
	background-image:url('../images/filterBg.jpg')/*tpa=http://162.74.99.105/CV/images/filterBg.jpg*/;
	background-repeat:no-repeat;	
	font-style:italic;
	}
	
	
	#filters{
		background-image:url('../images/filterPattern.jpg')/*tpa=http://162.74.99.105/CV/images/filterPattern.jpg*/;
			
		padding:0px 0px 40px 0px;
	}
	
	
	
	#filters form p{
	font-size:11px;	
	margin:3px 0px 0px 0px;
	padding:0px 0px 0px 20px;
	}
	
	
	
	#results{
		
	}
	
	
	#results h4{
	font-size:16px;
	padding:2px 0px 0px 15px;
	color:#fff;
	background-image:url('../images/resultsHeadBg.jpg')/*tpa=http://162.74.99.105/CV/images/resultsHeadBg.jpg*/;	
	background-repeat:no-repeat;	
	width:100%;
	height:30px;
	}
	
	
	.resultProd{
		position:relative;
	height:80px;
	width:100%;	
	padding:10px 0px 0px 0px;
	border-bottom:1px dashed #ccc;
	}
	
	.resultProd:hover {
	background-color:#fbfbfb;	
	cursor:pointer;
	}
	
	img.resultThumb{
	float:left;	
	width:180px;
	}
	
	
	.resultProd h5{
		float:left;
		color:#035E7C;
		font-style:normal;
	font-size:14px;
	margin:0px 20px 0px 0px;
	padding:0px 0px;	
	}
	
	.prodTitle{
	float:left;	
	padding:10px 0px 0px 0px;
	height:20px;	
	}
	
	.resultProd  p{
		float:left;	
		width:360px;
		line-height:14px;
		font-size:11px;
		color:#888;
		
	}
	
	.resultProd .resultsBtn{
		position:absolute;
		right:0px;
		top:28px;
	width:70px;
	height:20px;
	background-color:#eaeaea;
	color:#0099cc;	
	text-decoration:none;
	font-weight:bold;
	text-transform:uppercase;
	padding:8px 25px 5px 50px;
	
	}
	
	.resultProd .resultsBtn:hover{
	background-color:#035E7C;
	color:#eaeaea;	
	}
	
	.top {
	position:fixed;
	right:15px;
	bottom:15px;
	height:25px;
	padding-top:25px;
	line-height:25px;
	background:#333;
	color:#888;
	display:block;
	text-transform:uppercase;
	text-decoration:none;
	text-align:center;
	font-size:14px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	behavior:url(Unknown_83_filename)/*tpa=http://162.74.99.105/CV/PIE.htc*/;
}

.sticky #filtersAll {
	position:fixed;
	top:0;
	width:180px;

}

#tripColWrapper{
border-bottom:1px solid #f0f0f0;
overflow:hidden;
padding:0px 0px 40px 0px;	
}

	
	.tripCol{
	width:290px;
	height:340px;
	float:left;
	padding:0px 15px 0px 15px;
	border-left:1px dashed #ccc;
	}
	
	.tripCol:first-child{
		border-left:none;
	}
	
	.tripCol h5{
	width:100%;	
	height:auto;
	padding: 0px 0px 5px 0px;
	border-bottom:1px solid #ccc;
	}
	
	
	.tripCol ul{
	width:130px;
	float:left;
	margin:0px 0px 0px 15px;	
	}
	
	.tripCol ul li{
	color:#0099cc;
	font-size:11px;
	font-weight:bold;
	margin:0px 0px 5px 0px;	
	}
	
	#regionContacts{
	margin:0px 0px 0px 0px;
	width:100%;
	height:auto;
	overflow:hidden;
	float:left;	
	padding:15px 60px 30px 15px;
	}
	
	
	.contactInfo{
	width:135px;
	
	float:left;	
	padding:20px 20px 20px 0px;
	
	border-bottom:1px solid #f0f0f0;
	}
	
	.contactInfo p{
	margin:0px 0px 0px 0px;
	padding:0px 0px;	
	color:#555;
	font-size:11px;
	line-height:16px;
	}
	
	.contactInfo p span{
	font-weight:bold;	
	}
	
	.contactInfo p a{
	font-weight:bold;
	text-decoration:none;
	color:#555;	
	}
	
	.contactInfo p a:hover{
	text-decoration:underline;	
	color:#0099cc;
	}
	
	#techBucket{
	overflow:hidden;
	margin:0px 0px 20px 0px;	
	}
	
	.featuredTech{
	width:130px;
	height:70px;

	
	float:left;	
	margin:0px 5px 10px 10px;
	}
	
		.featuredTech p{
			text-align:center;
		}
	
	.featuredTech p a{
	text-decoration:none;
	margin:0px 0px 0px 0px;
	padding:0px 0px;
	line-height:10px;	
	color:#035E7C;
	}
	
	.featuredTech p a:hover{
		text-decoration:underline;
	}
	
	/* ========================================== TABS Begin ==================== */
	
	#tabs {
	font-size: 90%;
	
}
#tabs ul {
	float: left;
	background: #fff;
	width: 100%;
	
}
#tabs li {
	margin-left: 8px;
	list-style: none;
}
* html #tabs li {
	display: inline;
}
#tabs li, #tabs li a {
	float: left;
	color:#fff;
	text-decoration:none;
	text-transform:uppercase;
	font-style:italic;
	width:165px;
	height:20px;
	padding:4px 0px 0px 0px;
	text-align:center;
	background-color: #b9d0d7 ;
	font-weight:bold;

}

#tabs ul li.active a {
background-color: #0099cc !important;
width:100%;


}
#tabs div {

	clear: both;
	padding: 35px 0px 0px 10px;
	min-height: 200px;
}
#tabs div h3 {
	margin-bottom: 12px;
}
#tabs div p {
	line-height: 150%;
}
#tabs ul li a.active {
	text-decoration: none;
	padding: 8px;
	color: #fff;
	font-weight: bold;
	padding:0px 20px;
}
.thumbs {
	float:left;
	border:#000 solid 1px;
	margin-bottom:20px;
	margin-right:20px;
}
	
	/* ========================================== TABS end ==================== */
	
	
	/* Generic Utility */
.hide { position: absolute; top: -9999px; left: -9999px; }


/* Specific to example one */

#example-one { background: #eee; padding: 10px; margin: 0 0 20px 0; -moz-box-shadow: 0 0 5px #666; -webkit-box-shadow: 0 0 5px #666; }

#example-one .nav { overflow: hidden; margin: 0 0 10px 0; }
#example-one .nav li { width: 97px; float: left; margin: 0 10px 0 0; }
#example-one .nav li.last { margin-right: 0; }
#example-one .nav li a { display: block; padding: 5px; background: #959290; color: white; font-size: 10px; text-align: center; border: 0; }
#example-one .nav li a:hover { background-color: #111; }

#example-one ul { list-style: none; }
#example-one ul li a { display: block; border-bottom: 1px solid #666; padding: 4px; color: #666; }
#example-one ul li a:hover { background: #fe4902; color: white; }
#example-one ul li:last-child a { border: none; }

#example-one ul li.nav-one a.current, #example-one ul.featured li a:hover { background-color: #0575f4; color: white; }
#example-one ul li.nav-two a.current, #example-one ul.core li a:hover { background-color: #d30000; color: white; }
#example-one ul li.nav-three a.current, #example-one ul.jquerytuts li a:hover { background-color: #8d01b0; color: white; }
#example-one ul li.nav-four a.current, #example-one ul.classics li a:hover { background-color: #FE4902; color: white; }



/* Specific to example two */

#regionTabs .list-wrap { background: #fff; padding: 0px 10px 10px 10px; min-height:340px; margin: 0 0 15px 0; height:auto !important;}

#regionTabs ul { list-style: none;  margin:0px 0px 30px 0px; color:#888;}


#regionTabs ul li:last-child a { border: none; }

#regionTabs .nav { overflow: hidden; margin:0px 0px 20px 0px;}
#regionTabs .nav li { width: 110px; float: left; margin: 0 5px 0 0; list-style:none;}
#regionTabs .nav li.last { margin-right: 0; }
#regionTabs .nav li a {-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out; display: block; padding: 5px 0px 5px 0px; background: #b9d0d7; color: white; font-size: 10px; text-align: center; border: 0; color: #fff; text-transform:uppercase; font-style:italic; text-decoration:none; font-weight:bold;  }

#regionTabs li a.current,#regionTabs li a.current:hover { background-color: #0099cc !important; color: #fff; text-transform:uppercase; font-style:italic; text-decoration:none; font-weight:bold; }
#regionTabs .nav li a:hover, #regionTabs .nav li a:focus { background: #0099cc;}

#regionTabs h5{
font-size:12px;
margin:15px 0px 5px 0px;	
}
	
#regionTabs h3{
margin:40px 0px 10px 0px;	
}
	
#regionTabs ul li{
list-style:	disc;
margin:3px 0px 3px 20px;
font-size:11px;
color:#888;
}

#regionTabs p{
margin:0px 0px 5px 0px;	

}

.accordianBucket{
padding:10px 0px 70px 0px;
height:auto;
}
	
.accordionButton {	
	width: 630px;
	margin:0px 0px 0px 40px;
	padding:5px 0px 5px 10px;
	float: left;
	_float: none;  /* Float works in all browsers but IE6 */
	background: #fff;
	border-bottom: 1px solid #f0f0f0;
	cursor: pointer;
	color:#444;
	font-weight:bold;
	text-transform:uppercase;
	font-style:italic;
	font-size:12px;
	}

.accordionButton span{
float:right;
margin:0px 10px 0px 0px;
font-weight:normal;
font-size:9px;	
font-style:normal;
color:#ddd;
}
	
	
.accordionContent {	
color:#888;
height:auto;
width: 630px;
	border-bottom: 1px dashed #0099cc;
	padding:15px 0px 20px 0px;
	margin:0px 0px 20px 60px;
	float: left;
	_float: none; /* Float works in all browsers but IE6 */
	background: #fff;
	}
	
	
	
	.accordianBucket .accordionContent h1{
		color:#035E7C !important;
		font-size:14px;
		
		float:none !important;
		padding:10px 0px 7px 0px;
		
	}
	
	
	.accordionContent h2{
		color:#555;
		font-size:12px;
		height:15px;
		padding:10px 0px 20px 15px;
		width:100%;
	}
	
	.accordionContent ul li{
	list-style:disc;
	margin:0px 0px 0px 25px;	
	font-size:11px;
	}
	
	.accordionContent ul li a, .accordionContent a, #regionTabs a{
	color:#0099cc;	
	text-decoration:none;
	
	}
	
	#warrantyTab{
	height:auto;	
	}
	
	#warrantyTab a{
	margin:0px 5px 0px 0px;	
	}
	
	
	
	.accordionContent ul li a:hover, .accordionContent a:hover,  #regionTabs a:hover{
	color:#035E7C;
	text-decoration:underline;	
	}
	

.on {
	background: #f0f0f0;
	}
	
.over {
	background: #f0f0f0;
	}
	
	
	
	#naftaContactSearch{
		margin:60px 0px 0px 0px;
		color:#888;
	}
	
	#naftaContactSearch #repSearchBtn{
	width:100%;
	float:left;	
	background-color:#fff;
	background-image:url('../images/naftaSubmit.jpg')/*tpa=http://162.74.99.105/CV/images/naftaSubmit.jpg*/;
	background-repeat:no-repeat;
	border:none;
	height:28px;
	margin:8px 0px 0px 0px;
	color:#fff;
	text-transform:uppercase;
	font-weight:bold;
	text-align:left;
	padding:16px 30px 10px 17px;
	font-size:11px;
	}
	
	#naftaContactSearch #repSearchBtn:hover{
		background-image:url('../images/naftaSubmit_ov.jpg')/*tpa=http://162.74.99.105/CV/images/naftaSubmit_ov.jpg*/;
		cursor:pointer;
	}
	
	#litCriteria{
	
	border-top:3px dotted #0099cc;
	overflow:auto;
	background-color:#f0f0f0;	
	padding:10px 25px 10px 25px;
	margin:0px 0px 0px 0px;
	
	}
	
	.litOption{
		float:left;
		border:1px dotted #dedede;
		padding:5px 12px 5px 14px;
		width:185px;
		height:30px;
	
		position:relative;
	
	}
	
	.litOption input{
	position:absolute;
	right:9px;
	top:9px;
	}
	
	.litOption label{
	
	font-size:11px;
	vertical-align:middle;
	width:183px;
	display:block;
	color:#444;	
	}
	
	#litCriteriaSubmit{
		-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	border:0px;
	width:120px;
	height:65px;	
	margin:10px 0px 0px 250px;
	color:#fff;
	background-color:transparent;
	text-transform:uppercase;
	font-weight:bold;
	font-size:18px;
	z-index:99;

	padding:0px 0px 0px 0px;
	background-image:url('../images/litCriteriaBtn.png')/*tpa=http://162.74.99.105/CV/images/litCriteriaBtn.png*/;
	background-repeat:no-repeat;
	}
	
	#litCriteriaSubmit:hover{
	
	}
	
	
	
	#litCriteriaSubmitAll{
	border:0px;
	width:120px;
	height:66px;	
	color:#fff;
	margin:0px 0px 5px 42%;
	text-transform:uppercase;
	font-weight:normal;
	font-size:16px;

	background-color:transparent;
	padding:0px 0px 0px 0px;
	background-image:url('../images/litCriteriaBtn.png')/*tpa=http://162.74.99.105/CV/images/litCriteriaBtn.png*/;
	background-repeat:no-repeat;
	}
	
	#litCriteriaSubmitAll:hover{

	}
	
	
	.subBrand{
	width:130px;
	border-bottom:1px solid #ccc;
	border-left:1px dashed #ccc;
	padding:0px 0px 20px 10px;
	float:left;
	margin:10px 10px 0px 0px;	
	
	}
	
	.subBrand img{
	margin:0px 0px 0px 5px;	
	}
		
	
	.subBrand p{
	margin:0px 0px 0px 0px;
	font-size:10px;
	color:#888;	
	}
		
		
		#faqTab h4{

		color:#035E7C;
		font-size:14px;
		line-height:16px;
		margin:0px 0px 0px 0px;
		padding:10px 0px 4px 0px;
		width:100%;
	
		}
		
		#faqTab ol li{
			list-style-type:decimal;
			color:#888;
			margin:0px 0px 3px 20px;
		}
		
		
		#faqTab ul li{
			list-style-type:disc;
		}
		
		.litSearchResults{
			margin:50px 0px 0px 20px;
		
		text-align:left;
			
		}
		
	.litResult{
	float:left;
	margin:0px 25px 0px 0px;
	padding:0px 0px 0px 15px;
	height:auto;
	width:210px;	
	}
	
	.litResult a{
	padding:10px 0px 10px 35px;
	width:100%;
	display:block;
	list-style:none;
	background:url('../images/pdf.gif')/*tpa=http://162.74.99.105/CV/images/pdf.gif*/;	
	background-repeat:no-repeat;
	background-position:left;
	margin:0px 0px 10px 0px;
	color:#888;
	line-height:20px;
	text-decoration:none;
	font-weight:normal;
	}
	
	.litResult a.pdf{
	padding:10px 0px 10px 35px;
	width:100%;
	display:block;
	list-style:none;
	background:url('../images/doc.png')/*tpa=http://162.74.99.105/CV/images/doc.png*/;	
	background-repeat:no-repeat;
	background-position:left;
	margin:0px 0px 10px 0px;
	color:#888;
	line-height:20px;
	text-decoration:none;
	font-weight:normal;
	}
	
	.litResult a.video{
	padding:10px 0px 10px 35px;
	width:100%;
	display:block;
	list-style:none;
	background:url('../images/video.png')/*tpa=http://162.74.99.105/CV/images/video.png*/;	
	background-repeat:no-repeat;
	background-position:left;
	margin:0px 0px 10px 0px;
	color:#888;
	line-height:20px;
	text-decoration:none;
	font-weight:normal;
	}
	
	.litResult a.cal{
	padding:10px 0px 10px 35px;
	width:100%;
	display:block;
	list-style:none;
	background:url('../images/cal.png')/*tpa=http://162.74.99.105/CV/images/cal.png*/;	
	background-repeat:no-repeat;
	background-position:left;
	margin:0px 0px 10px 0px;
	color:#888;
	line-height:20px;
	text-decoration:none;
	font-weight:normal;
	}
	
	
	.litResult a:hover{
	color:#0099cc;
	text-decoration:underline;	
	}
		
		
	
		
#pagination{
	display:block;
	float:center;
	width:265px;
	margin:20px 0px 0px 0px;	
	}
	


#pagination-clean li{
height:27px;
width:27px;
color:#888888;
display:block;
float:left;
font-weight:bold;
background-image:url('../images/pg_ov.jpg')/*tpa=http://162.74.99.105/CV/images/pg_ov.jpg*/;
padding:0px 0px 0px 0px;
text-align:center;
background-repeat:no-repeat;
}

#pagination-clean li a{

margin-right:2px;
}

#pagination-clean .previous-off,
#pagination-clean .next-off {
	height:27px;
width:27px;
color:#888888;
display:block;
float:left;
font-weight:bold;
background-image:url('../images/pg.jpg')/*tpa=http://162.74.99.105/CV/images/pg.jpg*/;
padding:6px 0px 0px 0px;
text-align:center;
background-repeat:no-repeat;
}
#pagination-clean .next a,
#pagination-clean .previous a {
font-weight:bold;
border:solid 1px #FFFFFF;
}

#pagination-clean .active{
font-weight:bold;
height:27px;
width:27px;
display:block;
background-image:url('../images/pg_ov.jpg')/*tpa=http://162.74.99.105/CV/images/pg_ov.jpg*/;
color:#fff;
padding:6px 0px 0px 0px;
background-repeat:no-repeat;
float:left;
text-align:center;
}
	

#pagination-clean a:active{
text-decoration:none;
background-image:url('../images/pg_ov.jpg')/*tpa=http://162.74.99.105/CV/images/pg_ov.jpg*/;
color:#fff;
}

#pagination-clean a:link,
#pagination-clean a:visited {
color:#333;
background-image:url('../images/pg.jpg')/*tpa=http://162.74.99.105/CV/images/pg.jpg*/;
background-repeat:no-repeat;
display:block;
float:left;
padding:6px 10px 8px 12px;
text-decoration:none;
}
#pagination-clean a:hover{
text-decoration:none;
background-image:url('../images/pg_ov.jpg')/*tpa=http://162.74.99.105/CV/images/pg_ov.jpg*/;
color:#fff;
}
		
		
		
.allClick{
cursor:pointer;	
}
		
#resultsTop{
min-height:80px;
margin:0px 0px 20px 0px;	
position:relative;
}

#largeSearch{
width:400px;
height:30px;	
position:absolute;
left:0px;
top:40px;
color:#888;
font-size:16px;
padding:0px 0px 0px 10px;
text-transform:uppercase;
}

#largeSearchSubmit{
position:absolute;
left:430px;
top:40px;
background-color:transparent;
border:none;
background-image:url('../images/naftaSubmit.jpg')/*tpa=http://162.74.99.105/CV/images/naftaSubmit.jpg*/;
background-repeat:no-repeat;
border:none;
padding:7px 30px 9px 30px;
color:#fff;
text-transform:uppercase;
font-weight:bold;
font-size:16px;
}

#largeSearchSubmit:hover{
border-left:7px solid #ccc;	
}


h1#findTitle{
color:#035e7c;	
font-size:26px;
margin:20px 0px 0px 15px;
}

.repColumn1{
width:45%;
background-image:url('../images/repHead1.jpg')/*tpa=http://162.74.99.105/CV/images/repHead1.jpg*/;
background-repeat:no-repeat;
overflow:auto;
float:left;	
min-height:500px;
margin:20px 0px 0px 15px;
border-left:1px dashed #999;
}

.repColumn2{
width:45%;
background-image:url('../images/repHead2.jpg')/*tpa=http://162.74.99.105/CV/images/repHead2.jpg*/;
background-repeat:no-repeat;
overflow:auto;
min-height:500px;
float:left;	
margin:20px 0px 0px 15px;
border-left:1px dashed #999;
}

.repListing{
	font-size:16px;
margin:60px 0px 0px 20px;
}

.repName{
		font-size:16px;
width:100%;	
font-weight:bold;
display:block;
margin:5px 0px 0px 0px;
}

.repPhone{
	font-size:16px;
width:100%;	
display:block;
margin:5px 0px 0px 0px;
}

.repLink{
width:100%;
margin:5px 0px 0px 0px;
display:block;
color:#0099cc;
}

.repLink:hover{
cursor:pointer;
background-color:#eee;	
}


		
	
						/* ========================================== MODAL Begin ==================== */
#calculator1, #calculator2{
padding:20px;	
}
						/* ========================================== MODAL END ==================== */
	
	
	
#fourofour{
width:600px;
margin:0px auto;	
text-align:center;
}
	

#searchBarLit{
width:633px;	
margin:0px 0px 10px 0px;
text-transform:uppercase;
}


/*======================================================================================================================================================
Newly added for the Literature Search enhancement page classes
============================================================================================================*/

#Litresults{
		
	}
	
	
	/*#Litresults h4{
	font-size:16px;
	padding:2px 0px 0px 15px;
	color:#fff;
	background-image:url('../images/resultsHeadBg.jpg');	
	background-repeat:no-repeat;	
	width:100%;
	height:30px;
	}*/
	
	#Litresults h4{
	font-size:16px;
	padding:0px 0px 0px 0px;
	color:#fff;
	background-image:url('../images/graphy2.png')/*tpa=http://162.74.99.105/CV/images/graphy2.png*/;	
	/*background-repeat:no-repeat;*/	
	width:100%;
	height:30px;
	}
	
	
	
	.LitresultProd{
	position:relative;
	height:40px; /*dashed*/
	width:100%;	
	padding:5px 5px 0px 0px;
	border-bottom:1px dotted #ccc;
	}
	
	.LitresultProd:hover {
	background-color:#fbfbfb;	
	cursor:pointer;
	}
	
	img.LitresultThumb{
	float:left;	
	width:20px;
	margin:0px 40px 0px 0px;
	}
	
	
	.LitresultProd h5{
		float:left;
		color:#035E7C;
		/*font-style:normal;*/
		font-family:Arial,Helvetica,sans-serif;
		font-size:12px;
		width : 275px;
		margin:0px 10px 0px 0px;
		/*padding:0px 0px;*/
		word-wrap: break-word;
	}
	
	
		.LitresultTitles  p#DocumentSize{
		float:left;	
		/*width:10px;*/
		line-height:10px;
		font-size:12px;
		width:60px;
		margin:0px 10px 0px 0px;
		color:#FFFFFF;		
	}
	
	
	.LitprodTitle{
	float:left;	
	padding:2px 2px 0px 0px;
	height:auto;
	
	}
	
	.LitresultProd  p#DocumentType{
		float:left;	
		/*width:10px;*/
		line-height:10px;
		font-size:12px;
		width:120px;
		margin:0px 10px 0px 0px;
		color:#888;		
	}
	
	.LitresultProd  p#DocumentSize{
		float:left;	
		/*width:10px;*/
		line-height:10px;
		font-size:12px;
		width:60px;
		margin:0px 10px 0px 0px;
		color:#888;		
	}
	
		.LitresultProd  p#DocumentModifiedDate{
		float:left;	
		/*width:10px;*/
		line-height:10px;
		font-size:12px;
		width:60px;
		margin:0px 10px 0px 0px;
		color:#888;		
	}
	
	.LitresultProd  p#DocumentNumber{
		float:left;	
		/*width:10px;*/
		line-height:10px;
		font-size:12px;
	    width:70px;
		margin:0px 10px 0px 0px;
		color:#888;		
	}
	
	
	/*.resultProd .resultsBtn{
		position:absolute;
		right:0px;
		top:28px;
	width:70px;
	height:20px;
	background-color:#eaeaea;
	color:#0099cc;	
	text-decoration:none;
	font-weight:bold;
	text-transform:uppercase;
	padding:8px 25px 5px 50px;
	
	}*/
	
	.LitresultProd .resultsBtn:hover{
	background-color:#035E7C;
	color:#eaeaea;	
	}


	

/* ================================================================================================================================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}


/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}




/*=====================================================================================
After Market Styles 
=======================================================================================*/

h1#productGroup-aftermarket {
	margin: 0px 0px 0px 10px;
	color:#5b5b5b;
}
h2#productGroup-aftermarket {
	font-style:italic;
	margin-left:20px;
}
h3#productGroup-aftermarket {
	color:#5b5b5b;
	font-size:12px;
	margin-left:40px;
	margin-bottom:20px;
	text-decoration:none;
}
h3#productGroup-aftermarket a { color:#5b5b5b;; text-decoration:none;}
h3#productGroup-aftermarket a:hover {text-decoration:underline;}
h3#productGroup-aftermarket span {
	font-weight:normal;
}
h1#productGroup-aftermarket sup {
	font-size:15px;
	line-height:1.7em;
}
#xlgRightCol-AM {
	padding: 0px 0px 0px 24px;
	width:747px;
	float:left;	
	border-left:1px dashed #ccc;
	height:auto;	
	
	}
#starTopInfo-AM{
	overflow:hidden;
	margin:0px 0px 40px 0px;	
	padding-left:20px;
	background:#f2f2f2;

	width:100%;
	padding:0px 20px 0px 0px;
	float:left;		
	}

/* The headline should not be in CAPS in Market Page - Haynes request - 08/21/2013 */
/* Removed the line -	text-transform:uppercase; - */
#starTopInfo-AM h1 {
	color:#5b5b5b;
	margin-top:30px;
}



#starTopInfo-AM h3 {
	color:#f40537;
	font-style:italic;
}
#starTopInfo-AM sup {
	font-size:15px;
	line-height:1.5em;
}
#starTopInfo-AM a {
	color:#f40537;
	font-style:italic;
	text-decoration:none;
}
#xsmLeftCol-am {
	float:left;
	width:250px;
	padding-right:20px;
	padding-top:20px;
}
#xlgRightCol-AM2 {
	width:699px;
	float:left;	
	border-left:1px dashed #ccc;
	height:auto;	
	padding-top:20px;
	background:#f2f2f2;
}	
#xlgRightCol-AM2 h1 {
	color:#035e7c;
	padding-left:20px;
}
#starTopInfoLeft2 {
	background:#8ac6db;
	color:#FFF;
	padding:20px;
}
#xlgRightCol-AM2 #starTopInfoLeft2 p {color:white; margin-left:0px; line-height:1.4em;}
#starTopInfoLeft2 img {float:right; margin-left:20px;}
#starTopInfoLeft2 h1 {
	font-style:italic;
	color:white;
	margin-left:-20px;
	margin-top:20px;
	margin-bottom:10px;
}
#starTopInfoLeft2 a {
	color:white;
	font-style:italic;
	font-weight:bold;
	text-decoration:none;
}
#starTopInfoLeft2 a:hover {
	text-decoration:underline;
}
#xlgRightCol-AM2 h1 sup {
	font-size:15px;
	line-height:1.5em;
}
#xlgRightCol-AM2 h3 {
	margin-left:20px;
	font-style:italic;
	color:#707272;
}
#xlgRightCol-AM2 p {
	margin-left:20px;
	color:#4a4949;
	margin-right:20px;
	line-height:1.9em;
}
.contactbar { margin-top:-130px;}
#mainContentAM{
	overflow:hidden;
	padding:0px 0px 60px 0px;
	height:auto;	
}
#xlgRightCol-AM #aftermarket img {margin-top:10px;}


        #footerWrapAM{
		padding:80px 0px 0px 60px;
		overflow:hidden;
	}
	
	#footerColAM{
		float:left;	
		margin:0px 10px 0px 0px;
	}
	
	/* Changing for readjusting the footer components in Aftermaket page - 08/21/2013 - Changing from padding:0px 0px 0px 10px; to padding:0px 100px 0px 10px;*/
	#footerColAM ul{
		border-left: 1px dashed #aecbd5;
		margin:0px 0px 0px 0px;
		padding:0px 100px 0px 10px;
		list-style:none;
		color:#0099cc;
		font-weight:bold;
		
	}
	
	
	#footerColAM ul li a{
		text-decoration:none;
		text-transform:uppercase;
		font-size:10px;
		color:#aecbd5;
		font-weight:normal;
		margin:6px 0px 0px 0px;
	}
	
	#footerColAM ul li a:hover{
		color:#fff;
	}

#footerFormAM{
	float:left;	
	margin:0px 0px 0px 30px;
	}
#footerFormAM div label{
	color:#fff;
	text-transform:uppercase;
	font-style:italic;
	font-size:10px;	
	}

               

 /*.footerColAM{
   float:left;             
   margin:0px 20px 0px 0px;
 }*/
 
 /* Adding it to move the copyright line line little down - 08/21/2013 */
 	#footerCopyAM{
	position:absolute;
	bottom:25px;
	left:60px;	
	font-size:10px;
	color:#68a6ba;
	}

 /* R901932 - For adding Forbes Image - 04/15/2014 */
 	#rightFormAM {
    width: 200px;
    float: left;
    margin: -85px 0px 0px 0px;
	}

    #rightFormAM p{
	font-size:9px;
	color:#94acb4;
	margin: 10px 0px 5px 0px;	
	line-height:12px;
	}
		
	#rightFormAM #submit{
	margin:10px 0px 0px 0px;	
	width:145px;
	height:38px;
	border:0px;
	background-image:url('../images/footerFormSubmit.jpg')/*tpa=http://162.74.99.105/CV/images/footerFormSubmit.jpg*/;	
	text-indent:-9999px;
	}
	
	#rightFormAM #submit:hover{
	background-image:url('../images/footerFormSubmit_ov.jpg')/*tpa=http://162.74.99.105/CV/images/footerFormSubmit_ov.jpg*/;
		
	}
		

 /* ===============================
 end of after market styles
 ==============================*/
 
 /* ===============================
Start  of Supplier styles
 ==============================*/
 nav-supplier{
	width:100%;	
	height:20px;
	
	}

	nav-supplier h2#navBtn5 a, nav h2#navBtn2 a, nav h2#navBtn3 a{
		
	color:#0099cc;
	}
	
	nav-supplier h2#navBtn5 a:hover, nav h2#navBtn2 a:hover, nav h2#navBtn3 a:hover{
	color:#035E7C;
	}

	nav-supplier #navBtn{
		
		float:left;	
		margin:6px 20px 0px 15px;
		padding:0px 0px 3px 0px;
	}
	
	nav-supplier #navBtn:hover{
	border-bottom:2px solid #035E7C;	
	}

	nav-supplier h2{
	
	font-size:13px;
	float:left;	
	color:#0099cc;
	margin:0px 0px 0px 0px;
	padding:14px 10px 2px 20px;
	}
	
	
	nav-supplier h2 a{
	text-decoration:none;	
	color:#0099cc;
	padding:14px 0px 10px 0px;
	}
	
	nav-supplier h2:hover{
		
	color:#035E7C !important;
	}
	
	nav-supplier h2:hover, nav-supplier h2 a:hover{
	text-decoration:underline;	
	color:#035e7c;
	cursor:pointer;
	
	}
	
	#nav1, #nav2, #nav3, #nav4{
	
	height:60px;
	padding:0px 0px 0px 40px;
	background-color:#0099cc;	
	}
	
	#nav1 a, #nav2 a, #nav3 a, #nav4 a{
		-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	color:#fff;
	text-decoration:none;
	display:block;
	width:110px;
	text-align:center;
	float:left;
	padding:15px 20px 15px 20px;

	}
	
	
	#nav1 a:hover, #nav-supplier a:hover, #nav3 a:hover, #nav4 a:hover{
	background-color:#2aa6d0;	
	}
	
/* ===============================
 end of Supplier styles
 ==============================*/