.wt-rotator{
font-family:Arial,Helvetica,sans-serif;
font-size:12px;
background-color:#edf2f7;
border:none;
position:relative;
width:825px;
height:300px;
overflow:hidden;
}
.wt-rotator a{
outline:none;
color:#fff;
font-weight:bold !important;
}

.wt-rotator a:hover{

color:#eee;

}

.wt-rotator .screen{
position:relative;
top:0;
left:0;
width:825px;
height:300px;
overflow:hidden;
}
.wt-rotator .strip{
display:block;
position:absolute;
top:0;
left:0;
z-index:0;
overflow:hidden;
}
.wt-rotator .content-box{
display:none;
position:absolute;
top:0;
left:0;
overflow:hidden;
}
.wt-rotator .main-img{
display:none;
position:absolute;
top:0;
left:0;
z-index:0;
border:0;
}
.wt-rotator .preloader{
position:absolute;
top:50%;
left:50%;
width:40px;
height:40px;
margin-top:-20px;
margin-left:-20px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
border-radius:4px;
background:#000 url(assets/loader.gif)/*tpa=http://162.74.99.105/CV/css/assets/loader.gif*/ center no-repeat;
background:rgba(0,0,0,.7) url(assets/loader.gif)/*tpa=http://162.74.99.105/CV/css/assets/loader.gif*/ center no-repeat;
z-index:4;
display:none;
}
.wt-rotator .timer{
position:absolute;
left:0;
height:4px;
background-color:#FFF;
-moz-opacity:.5;
filter:alpha(opacity=50);
opacity:0.5;
z-index:4;
visibility:hidden;
font-size:0;
}
.wt-rotator .desc{
position:absolute;
color:#FFF;
z-index:6;
overflow:hidden;
visibility:hidden;
text-align:left;
}
.wt-rotator .inner-bg{
position:relative;
top:0;
left:0;
width:100%;
-moz-opacity:.4;
filter:alpha(opacity=40);
opacity:.4;
z-index:0;
}
.wt-rotator .inner-text{
position:absolute;
top:0;
left:0;
padding:10px 10px 10px 10px;
height:auto;
z-index:1;
}

div.c-panel.topRotator{
position:absolute;
top: 0px !important; 
left: 845px !important;
width: 120px !important;
height: 26px !important;
z-index:7;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;

visibility:hidden;
}

.wt-rotator .c-panel{
position:absolute;
top:180px !important;
left:55px !important;
width:500px !important;
z-index:7;

visibility:hidden;
}



.wt-rotator .outer-hp,
.wt-rotator .outer-vp{
position:absolute;
background:#FFF;
/*background:-moz-linear-gradient(#444, #111);
background:-webkit-gradient(linear, 0 top, 0 bottom, from(#444), to(#111));
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#111111',GradientType=0);*/
background:-moz-linear-gradient(#035E7D, #0198CD);
background:-webkit-gradient(linear, 0 top, 0 bottom, from(#035E7D), to(#0198CD));
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#035E7D', endColorstr='#0198CD',GradientType=0);
border:1px solid #000;
}
.wt-rotator .outer-hp{
left:0;
width:100%;
border-left:none;
border-right:none;
}
.wt-rotator .outer-vp{
top:0;
height:100%;
border-top:none;
border-bottom:none;
}
.wt-rotator .back-scroll,
.wt-rotator .fwd-scroll{
position:absolute;
top:0;
left:0;
z-index:10;
background:url(assets/spacer.png)/*tpa=http://162.74.99.105/CV/css/assets/spacer.png*/ no-repeat;
}

.wt-rotator div.outer-hp div.c-panel.topRotator div.thumbnails {
	height: 50px !important;
}

.wt-rotator .thumbnails,
.wt-rotator .buttons{
display:inline;
position:relative;
float:left;
overflow:hidden;

}
.wt-rotator .thumbnails ul{
position:relative;
list-style:none;
margin:0;
padding:0;

width:600px !important;
}

.marketList{
list-style:none;
margin:0px 0px 0px 0px;	
}
		
.marketList li{
margin:0px 0px 8px 0px;	
}

.wt-rotator .thumbnails ul.inside{
position:absolute;
top:0;
left:0;
}
.wt-rotator .thumbnails li,
.wt-rotator .play-btn,
.wt-rotator .prev-btn,
.wt-rotator .next-btn{
position:relative;
list-style:none;
display:inline;
float:left !important;
overflow:hidden;
background-color:#e3e9f0;
padding:8px 0px 0px 10px !important;
height:50px;
text-align:center;
color:#0099cc;
opacity: .9; 
filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
border-bottom:1px solid #444;
border-right:1px solid #444;
cursor:pointer;
font-size:11px;
font-weight:bold;
}

.wt-rotator .thumbnails li.override.image {
	padding:0 !important;
	width: 26px !important; 
	height: 26px !important; 
	line-height: 26px !important; 
	margin-right: 5px !important;  
	position: relative !important;
	list-style: none !important;
	display: inline !important;
	float: left !important;
	overflow: hidden !important;
	width: 24px;
	height: 24px;
	line-height: 24px !important;
	text-align: center !important;
	color: #222 !important;
	text-indent: -9999px !important; /* hide text */
	text-shadow: 0 1px 0 #222 !important;
	background-color: transparent !important;
	/*background: -moz-linear-gradient(#333, black !important);
	background: -webkit-gradient(linear, 0 top, 0 bottom, from(#333), to(black)) !important;*/
	border: 1px solid #111 !important;
	cursor: pointer !important;
	font-size: 12px !important;
	font-weight: bold;
	background-repeat: no-repeat !important !important;
	background-position: center !important !important;
	/*-moz-border-radius: 3px !important;
	-webkit-border-radius: 3px !important;
	border-radius: 3px !important; */
	-moz-opacity: 0.3 !important;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30) !important;
	filter: alpha(opacity=30) !important;
	opacity: 0.3 !important;
	border: none !important;
}
		
.thumbnails ul li{
	text-shadow: 0 1px 0 #fff;
	text-align:left !important;
	line-height:14px !important;
margin:0px 0px 0px 0px !important;

}

.wt-rotator .thumbnails li:hover{
	
color:#fff;
text-shadow: 0 0px 0 #888;
background-color:#035e7c;

}
.wt-rotator .thumbnails li.curr-thumb{
color:#fff;
text-shadow: 0 1px 0 #222;
background-image:url('../images/kn.png')/*tpa=http://162.74.99.105/CV/images/kn.png*/;
background-color:#0099CC;
cursor:default;
}
.wt-rotator .thumbnails li.image{
background:#000;
-moz-border-radius:0;
-webkit-border-radius:0;
border-radius:0;
}

.wt-rotator .thumbnails li.override.image.curr-thumb,
.wt-rotator .thumbnails li.override.image:hover{
	/*border: 3px solid #FFF !important;*/
	-moz-opacity: 1.0 !important;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100) !important;
	filter: alpha(opacity=100) !important;
	opacity: 1.0  !important;
	border: none !important;
}

.wt-rotator .thumbnails li.image.curr-thumb,
.wt-rotator .thumbnails li.image:hover{

}
.wt-rotator .thumbnails li.image a{
display:block;
border:0;
}

.wt-rotator .thumbnails ul li.override.image img {
	top: 0px !important; 
	left: 0px !important;
}
.wt-rotator .thumbnails li.image img{
display:block;
border:0;
position:absolute;
-moz-opacity:.85;
filter:alpha(opacity=85);
opacity:0.85;
}
.wt-rotator .thumbnails li.image:hover img{
-moz-opacity:1;
filter:alpha(opacity=100);
opacity:1;
}
.wt-rotator .thumbnails li.image.curr-thumb img{
-moz-opacity:1;
filter:alpha(opacity=100);
opacity:1;
cursor:default;
}
.wt-rotator .thumbnails li *{
display:none;
}
.wt-rotator .thumbnails li div{
position:relative;
color:#FFF;
background-color:#000;
width:auto;
height:auto;
}
.wt-rotator .play-btn{
background:#000 url(assets/play.png)/*tpa=http://162.74.99.105/CV/css/assets/play.png*/;
background:url(assets/play.png)/*tpa=http://162.74.99.105/CV/css/assets/play.png*/, -moz-linear-gradient(#333, #000);
background:url(assets/play.png)/*tpa=http://162.74.99.105/CV/css/assets/play.png*/, -webkit-gradient(linear, 0 top, 0 bottom, from(#333), to(#000));
}
.wt-rotator .play-btn:hover{
background-color:#CCC !important;
background:url(assets/play.png)/*tpa=http://162.74.99.105/CV/css/assets/play.png*/, -moz-linear-gradient(#CCC, #999);
background:url(assets/play.png)/*tpa=http://162.74.99.105/CV/css/assets/play.png*/, -webkit-gradient(linear, 0 top, 0 bottom, from(#CCC), to(#999));
}
.wt-rotator .pause{
background:#000 url(assets/pause.png)/*tpa=http://162.74.99.105/CV/css/assets/pause.png*/;
background:url(assets/pause.png)/*tpa=http://162.74.99.105/CV/css/assets/pause.png*/, -moz-linear-gradient(#333, #000);
background:url(assets/pause.png)/*tpa=http://162.74.99.105/CV/css/assets/pause.png*/, -webkit-gradient(linear, 0 top, 0 bottom, from(#333), to(#000));
}
.wt-rotator .pause:hover{
background-color:#CCC !important;
background:url(assets/pause.png)/*tpa=http://162.74.99.105/CV/css/assets/pause.png*/, -moz-linear-gradient(#CCC, #999);
background:url(assets/pause.png)/*tpa=http://162.74.99.105/CV/css/assets/pause.png*/, -webkit-gradient(linear, 0 top, 0 bottom, from(#CCC), to(#999));
}
.wt-rotator .prev-btn{
background:#000 url(assets/prev.png)/*tpa=http://162.74.99.105/CV/css/assets/prev.png*/;
background:url(assets/prev.png)/*tpa=http://162.74.99.105/CV/css/assets/prev.png*/, -moz-linear-gradient(#333, #000);
background:url(assets/prev.png)/*tpa=http://162.74.99.105/CV/css/assets/prev.png*/, -webkit-gradient(linear, 0 top, 0 bottom, from(#333), to(#000));
}
.wt-rotator .prev-btn:hover{
background-color:#CCC !important;
background:url(assets/prev.png)/*tpa=http://162.74.99.105/CV/css/assets/prev.png*/, -moz-linear-gradient(#CCC, #999);
background:url(assets/prev.png)/*tpa=http://162.74.99.105/CV/css/assets/prev.png*/, -webkit-gradient(linear, 0 top, 0 bottom, from(#CCC), to(#999));
}
.wt-rotator .next-btn{
background:#000 url(assets/next.png)/*tpa=http://162.74.99.105/CV/css/assets/next.png*/;
background:url(assets/next.png)/*tpa=http://162.74.99.105/CV/css/assets/next.png*/, -moz-linear-gradient(#333, #000);
background:url(assets/next.png)/*tpa=http://162.74.99.105/CV/css/assets/next.png*/, -webkit-gradient(linear, 0 top, 0 bottom, from(#333), to(#000));
}
.wt-rotator .next-btn:hover{
background-color:#CCC !important;
background:url(assets/next.png)/*tpa=http://162.74.99.105/CV/css/assets/next.png*/, -moz-linear-gradient(#CCC, #999);
background:url(assets/next.png)/*tpa=http://162.74.99.105/CV/css/assets/next.png*/, -webkit-gradient(linear, 0 top, 0 bottom, from(#CCC), to(#999));
}
.wt-rotator .up{
background:#000 url(assets/up.png)/*tpa=http://162.74.99.105/CV/css/assets/up.png*/;
background:url(assets/up.png)/*tpa=http://162.74.99.105/CV/css/assets/up.png*/, -moz-linear-gradient(#333, #000);
background:url(assets/up.png)/*tpa=http://162.74.99.105/CV/css/assets/up.png*/, -webkit-gradient(linear, 0 top, 0 bottom, from(#333), to(#000));
}
.wt-rotator .up:hover{
background-color:#CCC !important;
background:url(assets/up.png)/*tpa=http://162.74.99.105/CV/css/assets/up.png*/, -moz-linear-gradient(#CCC, #999);
background:url(assets/up.png)/*tpa=http://162.74.99.105/CV/css/assets/up.png*/, -webkit-gradient(linear, 0 top, 0 bottom, from(#CCC), to(#999));
}
.wt-rotator .down{
background:#000 url(assets/down.png)/*tpa=http://162.74.99.105/CV/css/assets/down.png*/;
background:url(assets/down.png)/*tpa=http://162.74.99.105/CV/css/assets/down.png*/, -moz-linear-gradient(#333, #000);
background:url(assets/down.png)/*tpa=http://162.74.99.105/CV/css/assets/down.png*/, -webkit-gradient(linear, 0 top, 0 bottom, from(#333), to(#000));
}
.wt-rotator .down:hover{
background-color:#CCC !important;
background:url(assets/down.png)/*tpa=http://162.74.99.105/CV/css/assets/down.png*/, -moz-linear-gradient(#CCC, #999);
background:url(assets/down.png)/*tpa=http://162.74.99.105/CV/css/assets/down.png*/, -webkit-gradient(linear, 0 top, 0 bottom, from(#CCC), to(#999));
}
#rotator-tooltip{
position:absolute;
top:0;
left:0;
z-index:99999;
display:none;
}
#rotator-tooltip.txt-up{
margin-left:-10px;
margin-bottom:5px;
background:url(assets/vtip.png)/*tpa=http://162.74.99.105/CV/css/assets/vtip.png*/ no-repeat;
background-position:10px bottom;
background-position-x:10px;
background-position-y:bottom;
}
#rotator-tooltip.txt-down{
margin-left:-10px;
margin-top:24px;
background:url(assets/vtip.png)/*tpa=http://162.74.99.105/CV/css/assets/vtip.png*/ no-repeat;
background-position:10px top;
background-position-x:10px;
background-position-y:top;
}
#rotator-tooltip.img-up{
background:url(assets/vtip.png)/*tpa=http://162.74.99.105/CV/css/assets/vtip.png*/ center bottom no-repeat;
}
#rotator-tooltip.img-down{
background:url(assets/vtip.png)/*tpa=http://162.74.99.105/CV/css/assets/vtip.png*/ center top no-repeat;
}
#rotator-tooltip.img-right{
background:url(assets/htip.png)/*tpa=http://162.74.99.105/CV/css/assets/htip.png*/ left center no-repeat;
}
#rotator-tooltip.img-left{
background:url(assets/htip.png)/*tpa=http://162.74.99.105/CV/css/assets/htip.png*/ right center no-repeat;
}
#rotator-tooltip .tt-txt{
font-family:Arial,Helvetica,sans-serif;
font-size:12px;
color:#FFF;
background-color:#000;
max-width:300px;
padding:5px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
margin:8px 0;
}
#rotator-tooltip img{
display:none;
background-color:#000;
padding:3px;
margin:8px;
-moz-border-radius:2px;
-webkit-border-radius:2px;
border-radius:2px;
}
.wt-rotator .s-prev,
.wt-rotator .s-next{
position:absolute;
top:0;
margin-top:-25px;
width:40px;
height:350px;
cursor:pointer;
background:url(assets/large_buttons.png)/*tpa=http://162.74.99.105/CV/css/assets/large_buttons.png*/ no-repeat;
-moz-opacity:.8;
filter:alpha(opacity=80);
opacity:.8;
z-index:8;
}
.wt-rotator .s-prev{
left:0;
background-position:0 center;
-moz-opacity:.90;
filter:alpha(opacity=90);
opacity:.90;
}
.wt-rotator .s-next{
left:100%;
margin-left:-38px;
-moz-opacity:.90;
filter:alpha(opacity=90);
opacity:.90;
background-position:-40px center;
}
.wt-rotator .s-prev:hover,
.wt-rotator .s-next:hover{
-moz-opacity:1.0;
filter:alpha(opacity=100);
opacity:1.0;
background-color:transparent !important;
}
.wt-rotator .block,
.wt-rotator .vpiece,
.wt-rotator .hpiece{
position:absolute;
z-index:2;
}