
@import url("Pending_relink")/*tpa=http://fast.fonts.net/t/1.css?apiType=css&projectid=150666e6-98a1-4f38-9776-dcdf42de286a*/;
@font-face{
font-family:"Univers W01";
src:url("Fonts/296c59c2-74b0-41c1-bcfd-23d22a713f86.eot-#iefix")/*tpa=http://www.anadarko.com/css/fonts/univers/Fonts/296c59c2-74b0-41c1-bcfd-23d22a713f86.eot?#iefix*/;
src:url("Fonts/296c59c2-74b0-41c1-bcfd-23d22a713f86.eot-#iefix")/*tpa=http://www.anadarko.com/css/fonts/univers/Fonts/296c59c2-74b0-41c1-bcfd-23d22a713f86.eot?#iefix*/ format("eot"),url("Fonts/609beecf-8d23-4a8c-bbf5-d22ee8db2fc9.woff")/*tpa=http://www.anadarko.com/css/fonts/univers/Fonts/609beecf-8d23-4a8c-bbf5-d22ee8db2fc9.woff*/ format("woff"),url("Fonts/a6595b8d-d4a3-4f01-bf21-0b53617d4b1c.ttf")/*tpa=http://www.anadarko.com/css/fonts/univers/Fonts/a6595b8d-d4a3-4f01-bf21-0b53617d4b1c.ttf*/ format("truetype"),url("Fonts/1cd9ef2f-b358-4d39-8628-6481d9e1c8ce.svg#1cd9ef2f-b358-4d39-8628-6481d9e1c8ce")/*tpa=http://www.anadarko.com/css/fonts/univers/Fonts/1cd9ef2f-b358-4d39-8628-6481d9e1c8ce.svg#1cd9ef2f-b358-4d39-8628-6481d9e1c8ce*/ format("svg");
font-weight: 100;
font-style: normal;
}
@font-face{
font-family:"Univers W01";
src:url("Fonts/2b61512c-069e-4111-bb23-9a918f94a74d.eot-#iefix")/*tpa=http://www.anadarko.com/css/fonts/univers/Fonts/2b61512c-069e-4111-bb23-9a918f94a74d.eot?#iefix*/;
src:url("Fonts/2b61512c-069e-4111-bb23-9a918f94a74d.eot-#iefix")/*tpa=http://www.anadarko.com/css/fonts/univers/Fonts/2b61512c-069e-4111-bb23-9a918f94a74d.eot?#iefix*/ format("eot"),url("Fonts/ecf89914-1896-43f6-a0a0-fe733d1db6e7.woff")/*tpa=http://www.anadarko.com/css/fonts/univers/Fonts/ecf89914-1896-43f6-a0a0-fe733d1db6e7.woff*/ format("woff"),url("Fonts/7628f343-8c36-4707-9559-8feb86c0462f.ttf")/*tpa=http://www.anadarko.com/css/fonts/univers/Fonts/7628f343-8c36-4707-9559-8feb86c0462f.ttf*/ format("truetype"),url("Fonts/11b816e7-d678-48dd-bc75-560de9c19049.svg#11b816e7-d678-48dd-bc75-560de9c19049")/*tpa=http://www.anadarko.com/css/fonts/univers/Fonts/11b816e7-d678-48dd-bc75-560de9c19049.svg#11b816e7-d678-48dd-bc75-560de9c19049*/ format("svg");
font-weight: 200;
font-style: normal;
}
@font-face{
font-family:"Univers W01";
src:url("Fonts/63bd7ad7-ab01-47e6-8cba-e2298391f89b.eot-#iefix")/*tpa=http://www.anadarko.com/css/fonts/univers/Fonts/63bd7ad7-ab01-47e6-8cba-e2298391f89b.eot?#iefix*/;
src:url("Fonts/63bd7ad7-ab01-47e6-8cba-e2298391f89b.eot-#iefix")/*tpa=http://www.anadarko.com/css/fonts/univers/Fonts/63bd7ad7-ab01-47e6-8cba-e2298391f89b.eot?#iefix*/ format("eot"),url("Fonts/e77f713a-7f78-4d74-b299-5ca4242176b9.woff")/*tpa=http://www.anadarko.com/css/fonts/univers/Fonts/e77f713a-7f78-4d74-b299-5ca4242176b9.woff*/ format("woff"),url("Fonts/90e56276-5fa2-4640-be25-8f42f40e4e8b.ttf")/*tpa=http://www.anadarko.com/css/fonts/univers/Fonts/90e56276-5fa2-4640-be25-8f42f40e4e8b.ttf*/ format("truetype"),url("Fonts/ffbd82f1-3d16-4dfc-8a55-df71c332b658.svg#ffbd82f1-3d16-4dfc-8a55-df71c332b658")/*tpa=http://www.anadarko.com/css/fonts/univers/Fonts/ffbd82f1-3d16-4dfc-8a55-df71c332b658.svg#ffbd82f1-3d16-4dfc-8a55-df71c332b658*/ format("svg");
font-weight: 200;
font-style: oblique;
}
@font-face{
font-family:"Univers W01";
src:url("Fonts/aefefc4e-9cb8-4e8e-8599-dda705456734.eot-#iefix")/*tpa=http://www.anadarko.com/css/fonts/univers/Fonts/aefefc4e-9cb8-4e8e-8599-dda705456734.eot?#iefix*/;
src:url("Fonts/aefefc4e-9cb8-4e8e-8599-dda705456734.eot-#iefix")/*tpa=http://www.anadarko.com/css/fonts/univers/Fonts/aefefc4e-9cb8-4e8e-8599-dda705456734.eot?#iefix*/ format("eot"),url("Fonts/1eaf27c0-f4de-4273-9f4c-1b3236ad2f3c.woff")/*tpa=http://www.anadarko.com/css/fonts/univers/Fonts/1eaf27c0-f4de-4273-9f4c-1b3236ad2f3c.woff*/ format("woff"),url("Fonts/9b913baf-b1f0-47d2-8c76-42f59650058f.ttf")/*tpa=http://www.anadarko.com/css/fonts/univers/Fonts/9b913baf-b1f0-47d2-8c76-42f59650058f.ttf*/ format("truetype"),url("Fonts/0abcce12-2274-4ee7-b6d5-0066b5f5f670.svg#0abcce12-2274-4ee7-b6d5-0066b5f5f670")/*tpa=http://www.anadarko.com/css/fonts/univers/Fonts/0abcce12-2274-4ee7-b6d5-0066b5f5f670.svg#0abcce12-2274-4ee7-b6d5-0066b5f5f670*/ format("svg");
font-weight: 300;
font-style: normal;
}
@font-face{
font-family:"Univers W01";
src:url("Fonts/b5c30ea8-0700-4fd2-aa12-cc45074693a9.eot-#iefix")/*tpa=http://www.anadarko.com/css/fonts/univers/Fonts/b5c30ea8-0700-4fd2-aa12-cc45074693a9.eot?#iefix*/;
src:url("Fonts/b5c30ea8-0700-4fd2-aa12-cc45074693a9.eot-#iefix")/*tpa=http://www.anadarko.com/css/fonts/univers/Fonts/b5c30ea8-0700-4fd2-aa12-cc45074693a9.eot?#iefix*/ format("eot"),url("Fonts/7b95cb9a-a288-4405-97a0-13095f56a903.woff")/*tpa=http://www.anadarko.com/css/fonts/univers/Fonts/7b95cb9a-a288-4405-97a0-13095f56a903.woff*/ format("woff"),url("Fonts/c7481806-4ea4-40db-a623-7bc352bbbe43.ttf")/*tpa=http://www.anadarko.com/css/fonts/univers/Fonts/c7481806-4ea4-40db-a623-7bc352bbbe43.ttf*/ format("truetype"),url("Fonts/ac8280da-3de5-456d-bd77-8f01665452a9.svg#ac8280da-3de5-456d-bd77-8f01665452a9")/*tpa=http://www.anadarko.com/css/fonts/univers/Fonts/ac8280da-3de5-456d-bd77-8f01665452a9.svg#ac8280da-3de5-456d-bd77-8f01665452a9*/ format("svg");
font-weight: 400;
font-style: normal;
}
@font-face{
font-family:"Univers W01";
src:url("Fonts/076b8d7a-91b5-4c89-86a1-546b980072c7.eot-#iefix")/*tpa=http://www.anadarko.com/css/fonts/univers/Fonts/076b8d7a-91b5-4c89-86a1-546b980072c7.eot?#iefix*/;
src:url("Fonts/076b8d7a-91b5-4c89-86a1-546b980072c7.eot-#iefix")/*tpa=http://www.anadarko.com/css/fonts/univers/Fonts/076b8d7a-91b5-4c89-86a1-546b980072c7.eot?#iefix*/ format("eot"),url("Fonts/21decb60-b395-4de2-bd04-e38eb2a56d2f.woff")/*tpa=http://www.anadarko.com/css/fonts/univers/Fonts/21decb60-b395-4de2-bd04-e38eb2a56d2f.woff*/ format("woff"),url("Fonts/091058d4-36b2-43f6-80d3-16c88e098061.ttf")/*tpa=http://www.anadarko.com/css/fonts/univers/Fonts/091058d4-36b2-43f6-80d3-16c88e098061.ttf*/ format("truetype"),url("Fonts/827d22bc-e38b-4ccf-8a21-1f9aaa76e402.svg#827d22bc-e38b-4ccf-8a21-1f9aaa76e402")/*tpa=http://www.anadarko.com/css/fonts/univers/Fonts/827d22bc-e38b-4ccf-8a21-1f9aaa76e402.svg#827d22bc-e38b-4ccf-8a21-1f9aaa76e402*/ format("svg");
font-weight: 600;
font-style: normal;
}
@font-face{
font-family:"Univers W01";
src:url("Fonts/783e01cd-5eb8-41d7-a380-a18673f2983b.eot-#iefix")/*tpa=http://www.anadarko.com/css/fonts/univers/Fonts/783e01cd-5eb8-41d7-a380-a18673f2983b.eot?#iefix*/;
src:url("Fonts/783e01cd-5eb8-41d7-a380-a18673f2983b.eot-#iefix")/*tpa=http://www.anadarko.com/css/fonts/univers/Fonts/783e01cd-5eb8-41d7-a380-a18673f2983b.eot?#iefix*/ format("eot"),url("Fonts/90c17e08-290d-4eba-ab33-77c81c1f559d.woff")/*tpa=http://www.anadarko.com/css/fonts/univers/Fonts/90c17e08-290d-4eba-ab33-77c81c1f559d.woff*/ format("woff"),url("Fonts/d93b9eab-632d-4aaf-b7fa-5c17060d62fc.ttf")/*tpa=http://www.anadarko.com/css/fonts/univers/Fonts/d93b9eab-632d-4aaf-b7fa-5c17060d62fc.ttf*/ format("truetype"),url("Fonts/caa7a31a-310f-4020-8311-89816a31472f.svg#caa7a31a-310f-4020-8311-89816a31472f")/*tpa=http://www.anadarko.com/css/fonts/univers/Fonts/caa7a31a-310f-4020-8311-89816a31472f.svg#caa7a31a-310f-4020-8311-89816a31472f*/ format("svg");
font-weight: 400;
font-style: oblique;
}
@font-face{
font-family:"Univers W01";
src:url("Fonts/db1c462f-8890-4a11-9de5-36872279e20a.eot-#iefix")/*tpa=http://www.anadarko.com/css/fonts/univers/Fonts/db1c462f-8890-4a11-9de5-36872279e20a.eot?#iefix*/;
src:url("Fonts/db1c462f-8890-4a11-9de5-36872279e20a.eot-#iefix")/*tpa=http://www.anadarko.com/css/fonts/univers/Fonts/db1c462f-8890-4a11-9de5-36872279e20a.eot?#iefix*/ format("eot"),url("Fonts/b993da84-c1f6-474a-8f00-8aa797b3de8f.woff")/*tpa=http://www.anadarko.com/css/fonts/univers/Fonts/b993da84-c1f6-474a-8f00-8aa797b3de8f.woff*/ format("woff"),url("Fonts/58403ef6-4c15-4280-b4b6-9acf50804f4f.ttf")/*tpa=http://www.anadarko.com/css/fonts/univers/Fonts/58403ef6-4c15-4280-b4b6-9acf50804f4f.ttf*/ format("truetype"),url("Fonts/9178e351-95c5-4913-9eeb-fd0645a18c2d.svg#9178e351-95c5-4913-9eeb-fd0645a18c2d")/*tpa=http://www.anadarko.com/css/fonts/univers/Fonts/9178e351-95c5-4913-9eeb-fd0645a18c2d.svg#9178e351-95c5-4913-9eeb-fd0645a18c2d*/ format("svg");
font-weight: 700;
font-style: normal;
}
@font-face{
font-family:"Univers W01";
src:url("Fonts/1e70cef5-4838-4826-a99f-e182b86fe21d.eot-#iefix")/*tpa=http://www.anadarko.com/css/fonts/univers/Fonts/1e70cef5-4838-4826-a99f-e182b86fe21d.eot?#iefix*/;
src:url("Fonts/1e70cef5-4838-4826-a99f-e182b86fe21d.eot-#iefix")/*tpa=http://www.anadarko.com/css/fonts/univers/Fonts/1e70cef5-4838-4826-a99f-e182b86fe21d.eot?#iefix*/ format("eot"),url("Fonts/322d336b-2d02-42f6-a24f-200c98b82a7c.woff")/*tpa=http://www.anadarko.com/css/fonts/univers/Fonts/322d336b-2d02-42f6-a24f-200c98b82a7c.woff*/ format("woff"),url("Fonts/32ed3859-e789-4a3f-96fd-b67231f1929f.ttf")/*tpa=http://www.anadarko.com/css/fonts/univers/Fonts/32ed3859-e789-4a3f-96fd-b67231f1929f.ttf*/ format("truetype"),url("Fonts/6d63e0ba-5ef0-4803-9fbe-686603f3771d.svg#6d63e0ba-5ef0-4803-9fbe-686603f3771d")/*tpa=http://www.anadarko.com/css/fonts/univers/Fonts/6d63e0ba-5ef0-4803-9fbe-686603f3771d.svg#6d63e0ba-5ef0-4803-9fbe-686603f3771d*/ format("svg");
font-weight: 700;
font-style: oblique;
}
@font-face{
font-family:"Univers W01";
src:url("Fonts/8ad2e453-ea69-411d-b93b-1fa328724687.eot-#iefix")/*tpa=http://www.anadarko.com/css/fonts/univers/Fonts/8ad2e453-ea69-411d-b93b-1fa328724687.eot?#iefix*/;
src:url("Fonts/8ad2e453-ea69-411d-b93b-1fa328724687.eot-#iefix")/*tpa=http://www.anadarko.com/css/fonts/univers/Fonts/8ad2e453-ea69-411d-b93b-1fa328724687.eot?#iefix*/ format("eot"),url("Fonts/b23ec90b-9f99-46a0-85f7-d1e820dbf851.woff")/*tpa=http://www.anadarko.com/css/fonts/univers/Fonts/b23ec90b-9f99-46a0-85f7-d1e820dbf851.woff*/ format("woff"),url("Fonts/249aeedc-8e38-41c9-874e-bba9a33fd5e4.ttf")/*tpa=http://www.anadarko.com/css/fonts/univers/Fonts/249aeedc-8e38-41c9-874e-bba9a33fd5e4.ttf*/ format("truetype"),url("Fonts/67e5d6e8-25e6-4556-99f8-ced41b2b7aae.svg#67e5d6e8-25e6-4556-99f8-ced41b2b7aae")/*tpa=http://www.anadarko.com/css/fonts/univers/Fonts/67e5d6e8-25e6-4556-99f8-ced41b2b7aae.svg#67e5d6e8-25e6-4556-99f8-ced41b2b7aae*/ format("svg");
font-weight: 800;
font-style: normal;
}