
body.conowingo { background: url(images/home/photo-conowingo-ie6.jpg)/*tpa=http://www.exeloncorp.com/stylesheets/images/home/photo-conowingo-ie6.jpg*/ center no-repeat; }
body.texas-wind { background: url(Unknown_83_filename)/*tpa=http://www.exeloncorp.com/stylesheets/images/home/photo-texas-wind-ie6.jpg*/ center no-repeat; }
body.limerick { background: url(images/home/photo-limerick-ie6.jpg)/*tpa=http://www.exeloncorp.com/stylesheets/images/home/photo-limerick-ie6.jpg*/ center no-repeat; }
body.exelon-city-solar { background: url(Unknown_83_filename)/*tpa=http://www.exeloncorp.com/stylesheets/images/home/photo-exelon-city-solar-ie6.jpg*/ center no-repeat; }

#ctl00_bdyBody #photo {
/*
	This line causes a reproducible crash in IE6/Parallels
	width: expression(document.body.clientWidth < 1299px "100%": "1300px" )!important;
*/
	overflow: hidden;
	text-align: center;
}

#ctl00_bdyBody .linkChart .columnsBody dl dt {
    height: 30px;
}

#ctl00_bdyBody #photo #caption-wrap {
	position: relative;
	top: 410px;
	left: 0;
	width: 1300px;
	height: 30px;
	margin: 0 auto;
}

#ctl00_bdyBody #body #content_main {
	min-height: 300px;
	height: auto !important;
	height: 300px;
}

#ctl00_bdyBody #content_main .index a span.title {
    display: inline; /* double margin float fix */
}

#ctl00_bdyBody #photo #caption-wrap #caption { position: static; }

#photo-img { text-indent: -90000px; }

#ctl00_bdyBody #shortcuts {
	width: expression(document.body.clientWidth < 961? "960px": "100%" );
}

#ctl00_bdyBody .autocomplete {
    background-image: url(images/default/x.gif)/*tpa=http://www.exeloncorp.com/stylesheets/images/default/x.gif*/;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/stylesheets/images/default/bd-quickSearchShadow.png", sizingMethod="scale");
}

#ctl00_bdyBody .quickResultsBot {
    background-image: url(images/default/x.gif)/*tpa=http://www.exeloncorp.com/stylesheets/images/default/x.gif*/;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/stylesheets/images/default/bd-quickSearchShadow-bot.png", sizingMethod="crop");
}
#ctl00_bdyBody #header {
	padding-top: 0;
	border-top: 38px #FFF solid;
}

#ctl00_bdyBody.content #header {
	background-position: 50% -38px;
}

	#ctl00_bdyBody #header #logo {
		background-image: url(images/default/x.gif)/*tpa=http://www.exeloncorp.com/stylesheets/images/default/x.gif*/;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/stylesheets/images/default/logo.png", sizingMethod="crop");
	}

@media print {
	#ctl00_bdyBody #header #logo {
		background-image: url(images/default/x.gif)/*tpa=http://www.exeloncorp.com/stylesheets/images/default/x.gif*/;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/stylesheets/images/default/logo-print.png", sizingMethod="crop");
	}
}

	#ctl00_bdyBody #header #main_navigation {
		background-image: url(images/default/x.gif)/*tpa=http://www.exeloncorp.com/stylesheets/images/default/x.gif*/;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/stylesheets/images/default/main_nav-inner-none.png", sizingMethod="crop");
	}
	
	#ctl00_bdyBody.home #header #main_navigation {
		filter: none;
	}
	
	#ctl00_bdyBody.home-energy #header #main_navigation {
		background-image: url(images/default/x.gif)/*tpa=http://www.exeloncorp.com/stylesheets/images/default/x.gif*/;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/stylesheets/images/default/main_nav-home-energy.png", sizingMethod="crop");
	}
	
	#ctl00_bdyBody.home-environment #header #main_navigation {
		background-image: url(images/default/x.gif)/*tpa=http://www.exeloncorp.com/stylesheets/images/default/x.gif*/;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/stylesheets/images/default/main_nav-home-environment.png", sizingMethod="crop");
	}
	
	#ctl00_bdyBody.home-community #header #main_navigation {
		background-image: url(images/default/x.gif)/*tpa=http://www.exeloncorp.com/stylesheets/images/default/x.gif*/;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/stylesheets/images/default/main_nav-home-community.png", sizingMethod="crop");
	}
	
	#ctl00_bdyBody.home-people_and_culture #header #main_navigation {
		background-image: url(images/default/x.gif)/*tpa=http://www.exeloncorp.com/stylesheets/images/default/x.gif*/;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/stylesheets/images/default/main_nav-home-people_and_culture.png", sizingMethod="crop");
	}
	
	#ctl00_bdyBody.home-performance #header #main_navigation {
		background-image: url(images/default/x.gif)/*tpa=http://www.exeloncorp.com/stylesheets/images/default/x.gif*/;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/stylesheets/images/default/main_nav-home-performance.png", sizingMethod="crop");
	}
	
	#ctl00_bdyBody.energy #header #main_navigation {
		background-image: url(images/default/x.gif)/*tpa=http://www.exeloncorp.com/stylesheets/images/default/x.gif*/;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/stylesheets/images/default/main_nav-inner-energy.png", sizingMethod="crop");
	}
	
	#ctl00_bdyBody.environment #header #main_navigation {
		background-image: url(images/default/x.gif)/*tpa=http://www.exeloncorp.com/stylesheets/images/default/x.gif*/;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/stylesheets/images/default/main_nav-inner-environment.png", sizingMethod="crop");
	}
	
	#ctl00_bdyBody.community #header #main_navigation {
		background-image: url(images/default/x.gif)/*tpa=http://www.exeloncorp.com/stylesheets/images/default/x.gif*/;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/stylesheets/images/default/main_nav-inner-community.png", sizingMethod="crop");
	}
	
	#ctl00_bdyBody.people_and_culture #header #main_navigation {
		background-image: url(images/default/x.gif)/*tpa=http://www.exeloncorp.com/stylesheets/images/default/x.gif*/;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/stylesheets/images/default/main_nav-inner-people_and_culture.png", sizingMethod="crop");
	}
	
	#ctl00_bdyBody.performance #header #main_navigation {
		background-image: url(images/default/x.gif)/*tpa=http://www.exeloncorp.com/stylesheets/images/default/x.gif*/;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/stylesheets/images/default/main_nav-inner-performance.png", sizingMethod="crop");
	}
	
	#ctl00_bdyBody #header #main_navigation li a {
		position: relative;
	}
	
	#ctl00_bdyBody #header #main_navigation li a.energy {
		background-image: url(images/default/x.gif)/*tpa=http://www.exeloncorp.com/stylesheets/images/default/x.gif*/;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/stylesheets/images/default/main_nav-energy-off.png", sizingMethod="crop");
	}
	
	#ctl00_bdyBody #header #main_navigation li a.environment {
		background-image: url(images/default/x.gif)/*tpa=http://www.exeloncorp.com/stylesheets/images/default/x.gif*/;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/stylesheets/images/default/main_nav-environment-off.png", sizingMethod="crop");
	}
	
	#ctl00_bdyBody #header #main_navigation li a.community {
		background-image: url(images/default/x.gif)/*tpa=http://www.exeloncorp.com/stylesheets/images/default/x.gif*/;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/stylesheets/images/default/main_nav-community-off.png", sizingMethod="crop");
	}
	
	#ctl00_bdyBody #header #main_navigation li a.people_and_culture {
		background-image: url(images/default/x.gif)/*tpa=http://www.exeloncorp.com/stylesheets/images/default/x.gif*/;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/stylesheets/images/default/main_nav-people_and_culture-off.png", sizingMethod="crop");
	}
	
	#ctl00_bdyBody #header #main_navigation li a.performance {
		background-image: url(images/default/x.gif)/*tpa=http://www.exeloncorp.com/stylesheets/images/default/x.gif*/;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/stylesheets/images/default/main_nav-performance-off.png", sizingMethod="crop");
	}
	
	#ctl00_bdyBody #header #main_navigation li a.energy:hover,
	#ctl00_bdyBody #header #main_navigation li a.energy:focus,
	#ctl00_bdyBody.energy #header #main_navigation li a.energy,
	#ctl00_bdyBody.home-energy #header #main_navigation li a.energy {
		background-image: url(images/default/x.gif)/*tpa=http://www.exeloncorp.com/stylesheets/images/default/x.gif*/;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/stylesheets/images/default/main_nav-energy-on.png", sizingMethod="crop");
	}

	#ctl00_bdyBody #header #main_navigation li a.environment:hover,
	#ctl00_bdyBody #header #main_navigation li a.environment:focus,
	#ctl00_bdyBody.environment #header #main_navigation li a.environment,
	#ctl00_bdyBody.home-environment #header #main_navigation li a.environment {
		background-image: url(images/default/x.gif)/*tpa=http://www.exeloncorp.com/stylesheets/images/default/x.gif*/;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/stylesheets/images/default/main_nav-environment-on.png", sizingMethod="crop");
	}
	
	#ctl00_bdyBody #header #main_navigation li a.community:hover,
	#ctl00_bdyBody #header #main_navigation li a.community:focus,
	#ctl00_bdyBody.community #header #main_navigation li a.community,
	#ctl00_bdyBody.home-community #header #main_navigation li a.community {
		background-image: url(images/default/x.gif)/*tpa=http://www.exeloncorp.com/stylesheets/images/default/x.gif*/;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/stylesheets/images/default/main_nav-community-on.png", sizingMethod="crop");
	}
	
	#ctl00_bdyBody #header #main_navigation li a.people_and_culture:hover,
	#ctl00_bdyBody #header #main_navigation li a.people_and_culture:focus,
	#ctl00_bdyBody.people_and_culture #header #main_navigation li a.people_and_culture,
	#ctl00_bdyBody.home-people_and_culture #header #main_navigation li a.people_and_culture {
		background-image: url(images/default/x.gif)/*tpa=http://www.exeloncorp.com/stylesheets/images/default/x.gif*/;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/stylesheets/images/default/main_nav-people_and_culture-on.png", sizingMethod="crop");
	}
	
	#ctl00_bdyBody #header #main_navigation li a.performance:hover,
	#ctl00_bdyBody #header #main_navigation li a.performance:focus,
	#ctl00_bdyBody.performance #header #main_navigation li a.performance,
	#ctl00_bdyBody.home-performance #header #main_navigation li a.performance {
		background-image: url(images/default/x.gif)/*tpa=http://www.exeloncorp.com/stylesheets/images/default/x.gif*/;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/stylesheets/images/default/main_nav-performance-on.png", sizingMethod="crop");
	}
	
#ctl00_bdyBody #body #sub_navigation,
#ctl00_bdyBody #body .sub_navigation {
	overflow: hidden;
}

#ctl00_bdyBody.content #body #content_wrapper {
	overflow: hidden;
}

#ctl00_bdyBody #content_main .pressRelease .contacts {
	width: 534px;
	overflow: hidden;
}

html.JS-active #ctl00_bdyBody .home-tab .home-tab-wrapper {
	background-image: url(images/default/x.gif)/*tpa=http://www.exeloncorp.com/stylesheets/images/default/x.gif*/;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/stylesheets/images/default/bd-home-bg.png", sizingMethod="crop");
}

html.JS-active #ctl00_bdyBody .home-tab .content_wrapper object {
	position: relative;
}

html.JS-active #ctl00_bdyBody .carousel_home-wrapper .carousel_mask-top {
	background-image: url(images/default/x.gif)/*tpa=http://www.exeloncorp.com/stylesheets/images/default/x.gif*/;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/stylesheets/images/home/carousel-shadow-top.png", sizingMethod="crop");
}

html.JS-active #ctl00_bdyBody .carousel_home-wrapper .carousel_mask-right {
	bottom: 9px;
	right: 19px;
	background-image: url(images/default/x.gif)/*tpa=http://www.exeloncorp.com/stylesheets/images/default/x.gif*/;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/stylesheets/images/home/carousel-shadow-right.png", sizingMethod="crop");
}

html.JS-active #ctl00_bdyBody .carousel_home-wrapper .carousel_mask-left {
	background-image: url(images/default/x.gif)/*tpa=http://www.exeloncorp.com/stylesheets/images/default/x.gif*/;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/stylesheets/images/home/carousel-shadow-left.png", sizingMethod="crop");
}

#caption #caption-text {
	background-image: url(images/default/x.gif)/*tpa=http://www.exeloncorp.com/stylesheets/images/default/x.gif*/;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/stylesheets/images/home/caption-bg.png", sizingMethod="scale");
}

#caption #caption-arrow {
	background-image: url(images/default/x.gif)/*tpa=http://www.exeloncorp.com/stylesheets/images/default/x.gif*/;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/stylesheets/images/home/caption-arrow.png", sizingMethod="crop");
}

#ctl00_bdyBody #footer #features {
	background-image: url(images/default/x.gif)/*tpa=http://www.exeloncorp.com/stylesheets/images/default/x.gif*/;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/stylesheets/images/default/footer-bg.png", sizingMethod="crop");
	position: static;
}

.tip td.topLeftCorner {
	background-image: url(images/default/x.gif)/*tpa=http://www.exeloncorp.com/stylesheets/images/default/x.gif*/;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/stylesheets/images/default/tip_top-left-corner.png", sizingMethod="crop");
}
.tip td.topRightCorner {
	background-image: url(images/default/x.gif)/*tpa=http://www.exeloncorp.com/stylesheets/images/default/x.gif*/;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/stylesheets/images/default/tip_top-right-corner.png", sizingMethod="crop");
}
.tip td.topSide {
	background-image: url(images/default/x.gif)/*tpa=http://www.exeloncorp.com/stylesheets/images/default/x.gif*/;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/stylesheets/images/default/tip_top-repeater.png", sizingMethod="scale");
}
.tip td.leftSide {
	background-image: url(images/default/x.gif)/*tpa=http://www.exeloncorp.com/stylesheets/images/default/x.gif*/;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/stylesheets/images/default/tip_left-repeater.png", sizingMethod="scale");
}
.tip td.rightSide {
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/stylesheets/images/default/tip_right-repeater.png", sizingMethod="scale");
}
.tip td.btmSide {
	background-image: url(images/default/x.gif)/*tpa=http://www.exeloncorp.com/stylesheets/images/default/x.gif*/;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/stylesheets/images/default/tip_btm-repeater.png", sizingMethod="scale");
}
.tip td.btmLeftCorner {
	background-image: url(images/default/x.gif)/*tpa=http://www.exeloncorp.com/stylesheets/images/default/x.gif*/;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/stylesheets/images/default/tip_btm-left-corner.png", sizingMethod="crop");
}
.tip td.btmRightCorner {
	background-image: url(images/default/x.gif)/*tpa=http://www.exeloncorp.com/stylesheets/images/default/x.gif*/;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/stylesheets/images/default/tip_btm-right-corner.png", sizingMethod="crop");
}
.tip td.btmPoint {
	background-image: url(images/default/x.gif)/*tpa=http://www.exeloncorp.com/stylesheets/images/default/x.gif*/;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/stylesheets/images/default/tip_btm-point.png", sizingMethod="crop");
}
#ctl00_bdyBody .map_frame .map_shadow_inner_l {
	background-image: url(images/default/x.gif)/*tpa=http://www.exeloncorp.com/stylesheets/images/default/x.gif*/;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/stylesheets/images/default/map/mapShadowInner-left.png", sizingMethod="crop");
}   
#ctl00_bdyBody .map_frame .map_shadow_inner_t {
	background-image: url(images/default/x.gif)/*tpa=http://www.exeloncorp.com/stylesheets/images/default/x.gif*/;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/stylesheets/images/default/map/mapShadowInner-top.png", sizingMethod="crop");
}   
#ctl00_bdyBody .gmaps_bubble_r {
	background-image: url(images/default/x.gif)/*tpa=http://www.exeloncorp.com/stylesheets/images/default/x.gif*/;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/stylesheets/images/default/map/mapBubble.r.png", sizingMethod="scale");
}
#ctl00_bdyBody .gmaps_bubble_b {
	background-image: url(images/default/x.gif)/*tpa=http://www.exeloncorp.com/stylesheets/images/default/x.gif*/;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/stylesheets/images/default/map/mapBubble.b.png", sizingMethod="crop");
}
#ctl00_bdyBody .mapBubble .header.hydro {
	background-image: url(images/default/x.gif)/*tpa=http://www.exeloncorp.com/stylesheets/images/default/x.gif*/;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/stylesheets/images/default/map/mapBubble.h.diamond.png", sizingMethod="crop");
}
#ctl00_bdyBody .mapBubble .header.solar {
	background-image: url(images/default/x.gif)/*tpa=http://www.exeloncorp.com/stylesheets/images/default/x.gif*/;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/stylesheets/images/default/map/mapBubble.h.star.png", sizingMethod="crop");
}
#ctl00_bdyBody .mapBubble .header.wind {
	background-image: url(images/default/x.gif)/*tpa=http://www.exeloncorp.com/stylesheets/images/default/x.gif*/;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/stylesheets/images/default/map/mapBubble.h.circle.png", sizingMethod="crop");
}
#ctl00_bdyBody .mapBubble .header.nuclear {
	background-image: url(images/default/x.gif)/*tpa=http://www.exeloncorp.com/stylesheets/images/default/x.gif*/;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/stylesheets/images/default/map/mapBubble.h.triangle.png", sizingMethod="crop");
}
#ctl00_bdyBody .mapBubble .header.fossil {
	background-image: url(images/default/x.gif)/*tpa=http://www.exeloncorp.com/stylesheets/images/default/x.gif*/;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/stylesheets/images/default/map/mapBubble.h.circle.png", sizingMethod="crop");
}
#ctl00_bdyBody .mapBubble .header.landfill {
	background-image: url(images/default/x.gif)/*tpa=http://www.exeloncorp.com/stylesheets/images/default/x.gif*/;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/stylesheets/images/default/map/mapBubble.h.square.png", sizingMethod="crop");
}

#ctl00_bdyBody #footer #features #feature_neighborhood #button-locations {
	top: 2px;
}

#ctl00_bdyBody #footer #features #feature_neighborhood div {
	/*background-image: url(images/default/x.gif);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/stylesheets/images/default/power-plant-locations.png", sizingMethod="scale");*/
	background: #fff;
	right: 17px;
	bottom: 23px;
}
#ctl00_bdyBody #content_main .photoLeft img {
	left: -195px;
}
#ctl00_bdyBody #content_main .event .info {
	top: -2px;
}
#ctl00_bdyBody #content_main .module dl.graphical dl dd span,
#ctl00_bdyBody #content_aside .module dl.graphical dl dd span {
	width: 130px;
	overflow: hidden;
}
#ctl00_bdyBody #content_main .module dl.graphical,
#ctl00_bdyBody #content_aside .module dl.graphical {
	width: 130px;
}
#ctl00_bdyBody #content_main .module dl dd,
#ctl00_bdyBody #content_aside .module dl dd {
	width: 130px;
}

#ctl00_bdyBody #content_main .quote_module div.top ul.top_content .no_image p,
#ctl00_bdyBody #content_aside .quote_module div.top ul.top_content .no_image p {
	float: left;
}

#ctl00_bdyBody #content_main .quote_module .carousel_small div.top ul.top_content .image,
#ctl00_bdyBody #content_aside .quote_module .carousel_small div.top ul.top_content .image {
	height: 80px;
}
#ctl00_bdyBody #content_main .quote_module .module_mask,
#ctl00_bdyBody #content_aside .quote_module .module_mask {
	bottom: 0;
}

