<!--Style Sheet | IE7 ONLY-->




#worldwideSites_sectionLinks {margin-top: -10px !important;}
h4{line-height:22px !important;}
h1{line-height:57px !important;}

#worldwideSites_sectionLinks ul .sectionLanguage li{
	position:relative;
}

#worldwideSites_sectionLinks ul .sectionLanguage li div{margin-left:0;right: -21px; top:15px;}

.promo220 .bar h6.outbound{margin-right:37px;}

.detailTitle{padding-bottom:30px;}

.layoutRow .forceBullet li,.layoutRow .forceBulletMargin li{margin-left:5px;}

/*
#productInfo_tabs .panes .layoutRow .imageModalContainer .noBullet li a {line-height:16px;}
#productInfo_tabs .panes .layoutRow .imageModalContainerRight .noBullet li a {line-height:inherit;}

#productInfo_tabs .panes .layoutRow .imageModalContainer .forceBullet li a {line-height:16px;}
#productInfo_tabs .panes .layoutRow .imageModalContainerRight .forceBullet li a {line-height:16px;}

#productInfo_tabs .panes .layoutRow.noBullet li a {line-height:16px;}
#productInfo_tabs .panes .layoutRow.forceBullet li a {line-height:16px;}
*/

.noBullet li .bodyTextB1 a, .forceBullet li .bodyTextB1 a, .forceBulletMargin li .bodyTextB1 a{font-size:34px !important;line-height:37px !important; margin-top:1px;}
.noBullet li .bodyTextB2 a, .forceBullet li .bodyTextB2 a, .forceBulletMargin li .bodyTextB2 a{font-size:18px !important;line-height:25px !important; margin-top:-1px;}
.noBullet li .bodyTextB3 a, .forceBullet li .bodyTextB3 a, .forceBulletMargin li .bodyTextB3 a{font-size:16px !important;line-height:19px !important; margin-top:-1px;}
.noBullet li .bodyTextB4 a, .forceBullet li .bodyTextB4 a, .forceBulletMargin li .bodyTextB4 a{font-size:14px !important;line-height:17px !important; margin-top:-1px;} /*font-weight:bold;*/
.noBullet li .bodyTextB5 a, .forceBullet li .bodyTextB5 a, .forceBulletMargin li .bodyTextB5 a{font-size:14px !important;line-height:22px !important; margin-top:-3px;}
.noBullet li .bodyTextB6 a, .forceBullet li .bodyTextB6 a, .forceBulletMargin li .bodyTextB6 a{font-size:14px !important;line-height:17px !important; margin-top:-1px;}
.noBullet li .bodyTextB7 a, .forceBullet li .bodyTextB7 a, .forceBulletMargin li .bodyTextB7 a{font-size:12px !important;line-height:15px !important; margin-top:0;}



/*
.linkItem{border-top:1px solid #ccc !important;}
.linkItem a.subCollection{border-bottom:1px solid #ccc !important;}
.linkItem .subCollection:first-child{border-top:1px solid #ccc !important;}

.linkItem a.subCollection:first-child{border-top: 1px solid #CCC !important;}*/

.layoutRow .forceBullet li, 
.layoutRow .forceBullet.short li,
.layoutRow .forceBulletMargin li, 
.layoutRow .forceBulletMargin.short li, 
.layoutRow .noBullet li, 
.layoutRow .noBullet.short li,
#productInfo_tabs .panes .layoutRow .forceBullet li, 
#productInfo_tabs .panes .layoutRow .forceBullet.short li,
#productInfo_tabs .panes .layoutRow .forceBulletMargin li, 
#productInfo_tabs .panes .layoutRow .forceBulletMargin.short li, 
#productInfo_tabs .panes .layoutRow .noBullet li, 
#productInfo_tabs .panes .layoutRow .noBullet.short li,
#productInfo_tabs .panes .parbase.section.text .layoutRow.noBullet li,
#productInfo_tabs .panes .parbase.section.text .layoutRow.forceBullet li{
	/*line-height:14px;*/
	/*vertical-align:baseline;*/
}

#productInfo_tabs .panes .parbase.section.text .layoutRow li a{
	background:none;
	display:inline-block;
	height:14px;
	/*line-height:14px;*/
	padding-left:0px;
}

#productFinder .heading h6{padding-bottom:17px;}

#productFinder li{
	position:relative;
}

.contactNumbersButton{overflow:hidden;}

/* CQ submit button positioning */
.parsys .section.submit .form_button_submit{margin-left:-2px;}

/* a.subCollection{padding-bottom:0;} */

label{line-height:1.5em !important;}

a.outbround, .outbound{padding-right:20px;background:url(../img/ui/icons/outbound.png)/*tpa=http://www.averydennison.com/includes/img/ui/icons/outbound.png*/ 100% 50% no-repeat; display:inline-block !important;}
a.outboundDark, .outboundDark{padding-right:20px;background:url(../img/ui/icons/outbound666.png)/*tpa=http://www.averydennison.com/includes/img/ui/icons/outbound666.png*/ 100% 50% no-repeat;}