.squeezebox .display-price .clarifier {
	color: #333;
	font-family: 'Open Sans Regular', Arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
	line-height: 1em;
}
.squeezebox .display-price {
	color: #005781;
	float: right;
	margin: 0 10px;
	min-height: 51px;
	min-width: 145px;
	opacity: 0;
}
.squeezebox .display-price sup {
	display: block;
	font-family: 'Open Sans Bold', Arial, sans-serif;
	font-size: 20px;
	margin-top: 6px;
	vertical-align: bottom;
}
.squeezebox .display-price {
	display: inline-block;
	float: none;
	opacity: 1;
	right: auto;
	top: auto;
}
.squeezebox .clear-after:after, .squeezebox .package-list:after, .squeezebox .display-price:after {
	clear: both;
	color: #f00;
	content: ".";
	display: block;
	font-weight: bold;
	height: 0;
	line-height: 0;
	overflow: hidden;
	width: 0;
}
.squeezebox .feature-list li {
	text-shadow: 1px 1px 1px #000000;
}
.full-content .green-medium-point-right:after {
	box-shadow: none;
}
.grey-large-point-right, .green-large-point-right, .green-medium-point-right, .green-small-point-right, .black-small-point-up, .black-small-point-down {
	box-shadow: none;
}
.squeezebox h3 {
	color: #FFFFFF;
	font-family: 'Open Sans CondBold', Arial, sans-serif;
	font-size: 24px;
	letter-spacing: 2px;
	margin-top: 30px;
	text-transform: uppercase;
}
.squeezebox.expanded h3 {
	color: #FFFFFF;
	font-size: 20px;
	font-weight: 600;
	left: -3px;
	margin-top: 0;
	position: relative;
	text-transform: uppercase;
	top:-12px;
}
.squeezebox.expanded > li.expanded h3 {
	color: #FFFFFF;
	font-size: 18px;
	font-weight: 600;
	left: 100px;
	margin-top: 0;
	position: relative;
	text-transform: uppercase;
	top: -9px;
}
.squeezebox ul {
	color: #999999;
	font-family: 'Open Sans BoldCondLight', Arial, sans-serif;
	font-size: 12px;
	font-weight: 600;
	list-style: disc outside none;
}
/* IE Only Update */
.squeezebox ul {
	font-size: 11px;
}
/* IE Only Update */
.squeezebox.expanded u {
	font-size: 12px;
}
.squeezebox .preview .feature-list ul {
	color: #999999;
	font-family: 'Open Sans BoldCondLight', Arial, sans-serif;
	font-size: 12px;
	font-weight: 600;
	list-style: disc outside none;
	position: relative;
	top: -16px;
	width: 220px;
}
.squeezebox > li {
	background: none #ffffff transparent;
	background: rgba(0, 0, 0, 0 ) none repeat scroll 0 0;
	box-shadow: 0 0 0 #000000;
	box-shadow: rgba(0, 0, 0, 0) 0 0 0;
	margin-bottom: 10px;
}
.squeezebox.expanded > li {
	background: none #ffffff transparent;
	background: rgba(0, 0, 0, 0 ) none repeat scroll 0 0;
	box-shadow: rgba(0, 0, 0, 0.34) 0 0 10px;
}
.squeezebox.expanded > li.expanded .trigger {
	background: none #ffffff transparent;
	background: rgba(0, 0, 0, 0) url(../../../buyflow/static/assets/images/collapse-arrow.png)/*tpa=https://www.charter.com/buyflow/static/assets/images/collapse-arrow.png*/ no-repeat scroll 0 0 !important;
	display: block;
	height: 75px;
	overflow: hidden;
	width: 39px;
	font-size: 1px;
	position: absolute;
	right: 0;
	text-indent: -300em;
	top: 45%;
}
.trigger.expanded {
	background: none #ffffff transparent;
	background: rgba(0, 0, 0, 0) url(../../../buyflow/static/assets/images/collapse-arrow.png)/*tpa=https://www.charter.com/buyflow/static/assets/images/collapse-arrow.png*/ no-repeat scroll 0 0 !important;
	display: block;
	height: 75px;
	overflow: hidden;
	width: 39px;
	font-size: 1px;
	position: absolute;
	right: 0;
	top: 45%;
}
.squeezebox.expanded > li .trigger {
	color: #FFFFFF;
	cursor: pointer;
	font-size: 10px;
	font-weight: 600;
	position: relative;
}
.squeezebox .trigger {
	color: #FFFFFF;
	cursor: pointer;
	font-size: 12px;
	font-weight: 600;
}
.squeezebox.expanded > li > div .spectrum_logo_white {
	background: none #ffffff transparent;
	background: rgba(0, 0, 0, 0) url(../../../buyflow/static/assets/images/spectrum_logo_small.png)/*tpa=https://www.charter.com/buyflow/static/assets/images/spectrum_logo_small.png*/ repeat scroll 0 0 !important;
}
.squeezebox .feature-list {
	color: #FFFFFF;
	list-style: none outside none;
}
.squeezebox .feature-list li:before {
	color: #333333;
	content: "";
	list-style: none outside none;
}
.squeezebox.expanded .feature-list li:before {
	color: #333333;
	content: "•";
	left: -9px;
	position: absolute;
	top: 0;
}
.squeezebox.expanded .feature-list li {
	color: #333333;
	line-height: 18px;
	position: relative;
	text-shadow:none;
}
.squeezebox .display-price {
	text-shadow: 1px 1px 1px #000000;
}
.squeezebox .display-price .dollars {
	color: #FFFFFF;
	font-family: 'Open Sans Semibold', Arial, sans-serif;;
	font-size: 59px;
}
.squeezebox .display-price .dollar-sign {
	color: #FFFFFF;
	font-family: 'Open Sans CondBold', Arial, sans-serif;
	font-size: 19px;
	font-weight: normal;
	line-height: 1em;
}
.squeezebox .dollar-sign-silver {
	color: #FFFFFF;
	font-family: 'Open Sans CondBold', Arial, sans-serif;
	font-size: 11px;
	font-weight: normal;
	line-height: 1em;
}
.squeezebox .dollar-sign-gold {
	color: #FFFFFF;
	font-family: 'Open Sans CondBold', Arial, sans-serif;
	font-size: 11px;
	font-weight: normal;
	line-height: 1em;
}
.squeezebox .display-price .clarifier {
	color: #FFFFFF;
}
.squeezebox .display-price sup {
	color: #FFFFFF;
	font-family: 'Open Sans Regular', Arial, sans-serif;;
	margin-top: 0;
}
.squeezebox .display-price .right-group {
	line-height: inherit;
	display: inline-block;
	left: 3px;
	position: relative;
	vertical-align: top;
}
.squeezebox .starting-text {
	color: #FFFFFF;
	font-family: 'Open Sans Regular', Arial, sans-serif;
	font-size: 10px;
	font-weight: normal;
	line-height: 1em;
}
.squeezebox .feature-list b {
	color: #FFFFFF !important;
}
.squeezebox .section.select-bundle .trigger.add-utag {
	position: relative;
	top: 2px;
}
.squeezebox.expanded .section.select-bundle .trigger.add-utag {
	top: 0;
}
.full-content .chooseBundleBtn {
	height: 32px;
	height: 35px;;
	width:115px;
}
.specLongDiscUL {
	margin-top: 150px;
	list-style: none outside none;
	color: rgb(255, 255, 255);
	text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
.specLongDiscLI1 {
	font-family: 'Open Sans Semibold', Arial, sans-serif;
	font-size: 30px;
	left: 5px;
	list-style: none outside none !important;
	text-shadow: 1px 1px 1px #000000;
	top: -15px;
}
.specLongDiscLI2 {
	font-family: 'Open Sans Semibold', Arial, sans-serif;
	font-size: 13px;
	left: 10px;
	list-style: none outside none !important;
	text-align: center;
	top: -20px;
	width: 200px;
}
.specLongDiscLI3 {
	font-family: 'Open Sans Semibold', Arial, sans-serif;
	font-size: 15px;
	font-weight: bold;
	list-style: none outside none !important;
	margin: 10px 0 0;
	text-align: center;
	top: -15px;
}
.specLongDiscLI4 {
	font-family: 'Open Sans Semibold', Arial, sans-serif;
	font-size: 13px;
	list-style: none outside none !important;
	margin-top: 40px;
	position: relative !important;
	text-align: center;
	top: -15px;
}
.specLongDiscMBPS1 {
	float: left;
	text-decoration: line-through;
}
.specLongDiscMBPS2 {
	float: right;
}
/* Bundles Page Update  */
.squeezebox > li.select-bundle, .squeezebox > li.silver-bundle, .squeezebox > li.gold-bundle {
	background-position: 0 center;
}
/* Bundles Page Update  */
.squeezebox > li.select-bundle .preview, .squeezebox > li.silver-bundle .preview, .squeezebox > li.gold-bundle .preview, .squeezebox .add-info, .squeezebox .price .footnote {
	color:#ffffff;
}
/* Bundles Page Update  */
.hr-text b {
	background: none repeat scroll 0 0 #145bb3;
}
#additionalOfferAreaList .display-price {
	color: #005781;
}
/*************************************
SQB Testing CSS
**************************************/
li .section {
	background-color: #01162d;
}
/*  lighter blue 011A3A  */
.squeezebox > li {
	background: url(../../../buyflow/static/assets/images/Charter_Spectrum_bkd.png)/*tpa=https://www.charter.com/buyflow/static/assets/images/Charter_Spectrum_bkd.png*/ no-repeat scroll 0 0 #01162d !important;
	box-shadow: rgba(0, 0, 0, 0.34) 0 0 10px !important;
}
.squeezebox.expanded > li.expanded {
	background: url(../../../buyflow/static/assets/images/spectrum-bundles-bg.png)/*tpa=https://www.charter.com/buyflow/static/assets/images/spectrum-bundles-bg.png*/ no-repeat scroll 0 0 #01162d !important;
}
.squeezebox.expanded > li {
	background: url(../../../buyflow/static/assets/images/Charter_Spectrum_bkd.png)/*tpa=https://www.charter.com/buyflow/static/assets/images/Charter_Spectrum_bkd.png*/ no-repeat scroll 0 0 #01162d !important;
}
.squeezebox.expanded > li {
	background: url(../../../buyflow/static/assets/images/spectrum-bundles-bg.png)/*tpa=https://www.charter.com/buyflow/static/assets/images/spectrum-bundles-bg.png*/ no-repeat scroll 0 0 #01162d !important;
}
.squeezebox .gfx {
    height: 105px !important;
    left: 10px !important;
    margin: 30px auto 10px !important;
    position: relative !important;
    top: -40px !important;
    width: 300px !important;
}
.squeezebox .gfx img {
    width: 250px !important;
}
.squeezebox .price {
	color: #FFFFFF !important;
}
.specLongDiscLI2 {
	margin-left: 10px;
	margin-top: 5px;
}
.squeezebox h4 {
	color:#ffffff;
}
.squeezebox.expanded > li.expanded .copy-area {
	margin-right: 20px;
	max-width: 380px;
	padding: 40px 0;
}
.select-bundle li.specLongDiscLI3 {
	margin-top: 27px;
}
.select-bundle .specLongDiscLI4 {
	margin-top: 56px;
}
#featured_offers li.section {
	min-height: 450px;
}
.squeezebox .trigger {
	line-height: 15px;
	margin-top: 0px;
}
.money-sign-fo {
	left: -12px;
	position: absolute;
	top: 0;
}
.clarifier.startAt {
	left: -60px;
	position: absolute;
	top: 30px;
}
.clarifier.silverPlus {
	left: -55px;
	position: absolute;
	top: 30px;
}
.clarifier.goldPlus {
	left: -50px;
	position: absolute;
	top: 30px;
}
.expanded .clarifier.startAt, .expanded .clarifier.silverPlus, .expanded .clarifier.goldPlus {
	left: -10px;
	top: -13px;
}
.squeezebox .display-price {
	left: 40px;
	position: relative;
	text-shadow: 1px 1px 1px #000000;
	top: 5px;
}
.clarifier.when-bundle-copy {
	font-size: 10px;
	line-height: 6px;
}
.package-list .buttons button .black-small-point-up, .package-list .buttons .black-small-point-down a, .package-list .buttons .black-small-point-down input {
	width: 125% !important;
}
.toggle.black-small-point-down {
	width: 155px !important;
}
.toggle.black-small-point-up {
	width: 155px !important;
}
.mozilla .toggle.black-small-point-down {
	width: 165px !important;
}
.mozilla .toggle.black-small-point-up {
	width: 165px !important;
}
.price-block.preview.full-content {
	left: 65px;
}
.package-list .summary > li {
	margin-right: 0px;
}
.package-list .detail .slide-margin {
	margin: 40px 10px 10px 20px;
}
/*************************************
Additional Style CSS
**************************************/
.squeezebox.expanded > li .trigger {
	background: url(../../../buyflow/static/assets/images/Charter_Spectrum_Expand_Trigger_2.png)/*tpa=https://www.charter.com/buyflow/static/assets/images/Charter_Spectrum_Expand_Trigger_2.png*/ no-repeat scroll 0 0 transparent !important;
	margin-left: 0;
	margin-top: 10px;
	margin-right: 3px;
	height:25px;
	width:55px
}
/* Safe Position CSS */
.desc {
	left: 49px;
	position: relative;
}
.package-list .desc {
	font-size: 32px;
}
.squeezebox.expanded > li.expanded .price-block {
	left: -30px;
	position: relative;
	top: 10px;
}
.squeezebox.expanded > li.expanded .price-block .chooseBundleBtn {
	left: 20px;
	position: relative;
	top: -50px;
}
.squeezebox.expanded > li.expanded .price-block .btn-choose {
	left: 40px;
	position: relative;
	top: -43px;
}
.storeFront .squeezebox .btn-choose {
	width: 90px;
}
.squeezebox.expanded .display-price .dollars {
	font-family: 'Open Sans Bold', Arial, sans-serif;
	font-size: 65px;
	font-weight: 600;
}
.squeezebox.expanded .display-price .cents {
	font-family: 'Open Sans Bold', Arial, sans-serif;;
}
.squeezebox.expanded li.expanded .CBO-md-copy h4 {
	color: #489cd3;
}
.squeezebox.expanded li.expanded .CBO-md-copy {
	color: #FFFFFF;
}
li.price .display-price.clear-after.addOfferOpOne:last-child {
	float: right;
	position: relative;
	top: 0;
	left: 10px;
}
/*************************************
White Box
**************************************/
.squeezebox.expanded li.expanded .expanded-white-bg {
	background: none repeat scroll 0 0 #FFFFFF;
	border-radius: 0 10px 10px 0;
	height: 99%;
	left: 277px;
	position: absolute;
	top: 4px;
	width: 445px;
}
.squeezebox.expanded li.expanded .expanded-blue-border {
	background: transparent;
	border: 6px solid #489cd3;
	width: 98.6%;
	height: 98.6%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 10px;
}
.squeezebox.expanded li.expanded .expanded-blue-border {
	display:none;;
}
.squeezebox.expanded li.expanded .expanded-header-bg {
	background: #489cd3;
	width: 100%;
	height: 35px;
	position: absolute;
	top: 0;
	left: 0;
	top: 4px;;
	left: 4px;;
	border-radius: 10px 10px 0 0;
}
.squeezebox.expanded li.expanded .expanded-header-logo {
	background: url(../../../buyflow/static/assets/images/Charter_Spectrum_logo_white-sm.png)/*tpa=https://www.charter.com/buyflow/static/assets/images/Charter_Spectrum_logo_white-sm.png*/ no-repeat scroll 0 0 transparent;
	height: 22px;
	left: 10px;
	position: absolute;
	top: 8px;
	width: 85px;
}
.squeezebox.expanded > li .minified-blue-block {
	display: block;
	background: #489cd3;
	width: 100%;
	height: 35px;
	position: absolute;
	top: 0;
	left: 0;
	top: 4px;;
	left: 4px;;
	border-radius: 10px 10px 0 0;
}
.squeezebox.expanded > li.expanded .preview .minified-blue-block, .squeezebox.expanded > li.expanded .minified-blue-block {
	display: none;
}
.squeezebox.expanded li.expanded .gfx {
    left: 10px;
    top: -30px;
}
.CBO-moredetails-block .CompleteDisp-Yes {
	color:#ffffff !important;
}
.squeezebox.expanded li.expanded h4 {
	color: #0075ac;
	position: relative;
}
.squeezebox .trigger:before {
	margin-left: 75px !important;
}
.expanded.squeezebox > LI.expanded .trigger {
	background: rgba(0, 0, 0, 0) url(../../../buyflow/static/assets/images/collapse-arrow.png)/*tpa=https://www.charter.com/buyflow/static/assets/images/collapse-arrow.png*/ no-repeat scroll 0 0 !important;
}