@charset "utf-8";#HomeSliderOuter{text-align:center;width:1280px;vertical-align:middle;height:278px;top:-121px;left:0;z-index:5;}#HomeSliderOuter img{top:-121px;position:absolute;display:block;text-align:center;left:0;}.lof-slidecontent{position:relative;}.lof-slidecontent .preload{height:100%;width:100%;position:absolute;top:0;left:0;z-index:100000;text-align:center;background:#FFF;}
.lof-slidecontent .preload div{height:100%;width:100%;}.lof-slidecontent .sliders-wrapper{position:relative;height:100%;width:900px;z-index:3px;}.lof-slidecontent ul.sliders-wrap-inner{padding:0;margin:0;position:absolute;}.lof-slidecontent ul.sliders-wrap-inner li{;padding:0;margin:0;float:left;position:relative;height:400px;}
.lof-slidecontent .lof-opacity{width:100%;height:100%;}.lof-slidecontent .lof-opacity li{position:absolute!important;top:0;left:0;float:inherit!important;}.lof-slidecontent .navigator-content{position:absolute;bottom:150px;right:605px;padding:5px 0 0 0;}.lof-slidecontent .navigator-wrapper{position:relative;z-index:10;height:180px;width:510px;color:#FFF;float:left;}
.lof-slidecontent ul.navigator-wrap-inner{top:0;padding:0;margin:0;position:absolute;width:100%;}.lof-slidecontent ul.navigator-wrap-inner li{cursor:hand;cursor:pointer;list-style:none;padding:0;margin-left:0;float:left;display:block;text-align:center;}ul.sliders-wrap-inner li img{padding:0;}.lof-slidecontent .slider-description a.readmore{color:#58B1EA;font-size:95%;}
.lof-slidecontent .slider-description a{color:#FFF;}.lof-slidecontent .slider-description{z-index:100px;position:absolute;bottom:110px;left:165px;width:670px;height:100px;color:#FFF;}.lof-slidecontent .slider-description h4{font-size:14px;margin:10px 0;padding:0;}.lof-slidecontent .slider-description .slider-meta a{margin:0;background:#C01F25;font-size:75%;padding:2px 3px;font-family:"Trebuchet MS",Trebuchet,Arial,Verdana,sans-serif;text-transform:uppercase;text-decoration:none;}
.lof-slidecontent .item-meta a:hover{text-decoration:underline;}.lof-slidecontent .item-meta i{font-size:70%;}.lof-slidecontent ul.navigator-wrap-inner li div{color:#FFF;height:100%;position:relative;padding-left:15px;border-top:1px solid #E1E1E1;text-align:left;}.lof-slidecontent ul.navigator-wrap-inner li.active div{color:#FFF;}
.lof-slidecontent ul.navigator-wrap-inner li img{opacity:.6;filter:alpha(opacity=60);}.lof-slidecontent ul.navigator-wrap-inner li.active img,.lof-slidecontent ul.navigator-wrap-inner li:hover img{border-bottom:#fff solid 3px;padding-bottom:2px;opacity:1.0;filter:alpha(opacity=100);}.lof-slidecontent .button-next,.lof-slidecontent .button-previous{display:block;width:40px;color:#FFF;cursor:pointer;position:absolute;height:100%;z-index:40;top:0;text-indent:-999px;}
.lof-slidecontent .button-next{right:0;}.lof-slidecontent .button-previous{left:0;}.lof-slidecontent .button-control{position:absolute;top:10px;right:48%;height:20px;width:20px;cursor:hand;cursor:pointer;}.lof-slidecontent .button-control span{display:block;width:100%;height:100%;}
/* Published:5/7/2014 9:44:39 PM*/
/* Images not published: */
/**** ****/
