/* Published:5/12/2015 8:05:06 PM*/
/* Images not published: */
/**** ****/
.intelliport_fda{clear:both;color:#1d2172;font-size:20px;font-weight:bold;padding:10px 0 20px 0;}.intelliport_image{float:left;width:320px;padding-right:10px;}.intelliport_text{float:left;width:370px;}.intelliport_button a{margin:0 auto;height:40px;width:200px;display:block;background-color:#007dc3;font-weight:bold;color:#fff;padding-top:8px;border:1px solid #007dc3;border-radius:10px;}
.intelliport_button a:hover{display:block;background-color:#1d2172;border:1px solid #1d2172;font-weight:bold;color:#fff;height:40px;}.intelliport_button p{text-align:center;font-weight:bold;color:#fff;margin-top:-10px;margin-bottom:10px;height:40px;}
/* Published:5/12/2015 8:05:06 PM*/
/* Images not published: */
/**** ****/
#lbOverlay{position:fixed;top:0;left:0;z-index:99998;width:100%;height:500px;}#lbOverlay.grey{background-color:#000;}#lbOverlay.red{background-color:#300;}#lbOverlay.green{background-color:#030;}#lbOverlay.blue{background-color:#011D50;}#lbOverlay.gold{background-color:#660;}#lbMain{position:absolute;left:0;width:100%;z-index:99999;text-align:center;line-height:0;}
#lbMain a img{border:none;}#lbOuterContainer{position:relative;background-color:#fff;width:200px;height:200px;margin:0 auto;}#lbOuterContainer.grey{border:3px solid #FFF;}#lbOuterContainer.red{border:3px solid #D00;}#lbOuterContainer.green{border:3px solid #00B000;}#lbOuterContainer.blue{border:3px solid #5F89D8;}
#lbOuterContainer.gold{border:3px solid #B0B000;}#lbDetailsContainer{font:10px Verdana,Helvetica,sans-serif;background-color:#fff;width:100%;line-height:1.4em;overflow:auto;margin:0 auto;}#lbDetailsContainer.grey{border:3px solid #FFF;border-top:none;}#lbDetailsContainer.red{border:3px solid #D00;border-top:none;}
#lbDetailsContainer.green{border:3px solid #00B000;border-top:none;}#lbDetailsContainer.blue{border:3px solid #5F89D8;border-top:none;}#lbDetailsContainer.gold{border:3px solid #B0B000;border-top:none;}#lbImageContainer,#lbIframeContainer{padding:10px;}#lbIframe{border:1px solid #999;overflow-x:hidden;overflow-y:hidden;}
#lbLoading{position:absolute;top:45%;left:0;height:32px;width:100%;text-align:center;line-height:0;background:url(Unknown_83_filename)/*tpa=http://www.bd.com/_styles/images/loading.gif*/ center no-repeat;}#lbHoverNav{position:absolute;top:0;left:0;height:100%;width:100%;z-index:10;}#lbImageContainer>#lbHoverNav{left:0;}#lbHoverNav a{outline:none;}#lbPrev{width:49%;height:100%;background:transparent url(Unknown_83_filename)/*tpa=http://www.bd.com/_styles/images/blank.gif*/ no-repeat;display:block;left:0;float:left;}
#lbPrev.grey:hover,#lbPrev.grey:visited:hover{background:url(Unknown_83_filename)/*tpa=http://www.bd.com/_styles/images/prev_grey.gif*/ left 15% no-repeat;}#lbPrev.red:hover,#lbPrev.red:visited:hover{background:url(Unknown_83_filename)/*tpa=http://www.bd.com/_styles/images/prev_red.gif*/ left 15% no-repeat;}#lbPrev.green:hover,#lbPrev.green:visited:hover{background:url(Unknown_83_filename)/*tpa=http://www.bd.com/_styles/images/prev_green.gif*/ left 15% no-repeat;}
#lbPrev.blue:hover,#lbPrev.blue:visited:hover{background:url(Unknown_83_filename)/*tpa=http://www.bd.com/_styles/images/prev_blue.gif*/ left 15% no-repeat;}#lbPrev.gold:hover,#lbPrev.gold:visited:hover{background:url(Unknown_83_filename)/*tpa=http://www.bd.com/_styles/images/prev_gold.gif*/ left 15% no-repeat;}#lbNext{width:49%;height:100%;background:transparent url(Unknown_83_filename)/*tpa=http://www.bd.com/_styles/images/blank.gif*/ no-repeat;display:block;right:0;float:right;}
#lbNext.grey:hover,#lbNext.grey:visited:hover{background:url(Unknown_83_filename)/*tpa=http://www.bd.com/_styles/images/next_grey.gif*/ right 15% no-repeat;}#lbNext.red:hover,#lbNext.red:visited:hover{background:url(Unknown_83_filename)/*tpa=http://www.bd.com/_styles/images/next_red.gif*/ right 15% no-repeat;}#lbNext.green:hover,#lbNext.green:visited:hover{background:url(Unknown_83_filename)/*tpa=http://www.bd.com/_styles/images/next_green.gif*/ right 15% no-repeat;}
#lbNext.blue:hover,#lbNext.blue:visited:hover{background:url(Unknown_83_filename)/*tpa=http://www.bd.com/_styles/images/next_blue.gif*/ right 15% no-repeat;}#lbNext.gold:hover,#lbNext.gold:visited:hover{background:url(Unknown_83_filename)/*tpa=http://www.bd.com/_styles/images/next_gold.gif*/ right 15% no-repeat;}#lbPrev2,#lbNext2{text-decoration:none;font-weight:bold;}#lbPrev2.grey,#lbNext2.grey,#lbSpacer.grey{color:#333;}
#lbPrev2.red,#lbNext2.red,#lbSpacer.red{color:#620000;}#lbPrev2.green,#lbNext2.green,#lbSpacer.green{color:#030;}#lbPrev2.blue,#lbNext2.blue,#lbSpacer.blue{color:#01379E;}#lbPrev2.gold,#lbNext2.gold,#lbSpacer.gold{color:#660;}#lbPrev2_Off,#lbNext2_Off{font-weight:bold;}#lbPrev2_Off.grey,#lbNext2_Off.grey{color:#CCC;}
#lbPrev2_Off.red,#lbNext2_Off.red{color:#FCC;}#lbPrev2_Off.green,#lbNext2_Off.green{color:#82FF82;}#lbPrev2_Off.blue,#lbNext2_Off.blue{color:#B7CAEE;}#lbPrev2_Off.gold,#lbNext2_Off.gold{color:#E1E100;}#lbDetailsData{padding:0 10px;}#lbDetailsData.grey{color:#333;}#lbDetailsData.red{color:#620000;}#lbDetailsData.green{color:#030;}
#lbDetailsData.blue{color:#01379E;}#lbDetailsData.gold{color:#660;}#lbDetails{width:60%;float:left;text-align:left;}#lbCaption{display:block;font-weight:bold;font-size:13px;color:#666;}#lbNumberDisplay{float:left;display:block;padding-bottom:1.0em;}#lbNavDisplay{float:left;display:block;padding-bottom:1.0em;}
#lbClose{width:64px;height:28px;float:right;margin-bottom:1px;}#lbClose.grey{background:url(Unknown_83_filename)/*tpa=http://www.bd.com/_styles/images/close_grey.jpg*/ no-repeat;}#lbClose.red{background:url(Unknown_83_filename)/*tpa=http://www.bd.com/_styles/images/close_red.png*/ no-repeat;}#lbClose.green{background:url(Unknown_83_filename)/*tpa=http://www.bd.com/_styles/images/close_green.png*/ no-repeat;}#lbClose.blue{background:url(Unknown_83_filename)/*tpa=http://www.bd.com/_styles/images/close_blue.png*/ no-repeat;}
#lbClose.gold{background:url(Unknown_83_filename)/*tpa=http://www.bd.com/_styles/images/close_gold.png*/ no-repeat;}#lbPlay{width:64px;height:28px;float:right;margin-bottom:1px;}#lbPlay.grey{background:url(Unknown_83_filename)/*tpa=http://www.bd.com/_styles/images/play_grey.png*/ no-repeat;}#lbPlay.red{background:url(Unknown_83_filename)/*tpa=http://www.bd.com/_styles/images/play_red.png*/ no-repeat;}#lbPlay.green{background:url(Unknown_83_filename)/*tpa=http://www.bd.com/_styles/images/play_green.png*/ no-repeat;}
#lbPlay.blue{background:url(Unknown_83_filename)/*tpa=http://www.bd.com/_styles/images/play_blue.png*/ no-repeat;}#lbPlay.gold{background:url(Unknown_83_filename)/*tpa=http://www.bd.com/_styles/images/play_gold.png*/ no-repeat;}#lbPause{width:64px;height:28px;float:right;margin-bottom:1px;}#lbPause.grey{background:url(Unknown_83_filename)/*tpa=http://www.bd.com/_styles/images/pause_grey.png*/ no-repeat;}#lbPause.red{background:url(Unknown_83_filename)/*tpa=http://www.bd.com/_styles/images/pause_red.png*/ no-repeat;}
#lbPause.green{background:url(Unknown_83_filename)/*tpa=http://www.bd.com/_styles/images/pause_green.png*/ no-repeat;}#lbPause.blue{background:url(Unknown_83_filename)/*tpa=http://www.bd.com/_styles/images/pause_blue.png*/ no-repeat;}#lbPause.gold{background:url(Unknown_83_filename)/*tpa=http://www.bd.com/_styles/images/pause_gold.png*/ no-repeat;}
/* Published:5/12/2015 8:05:06 PM*/
/* Images not published: */
/**** 
/webdav/07%20BD%2Ecom%20Worldwide%20Website/Building%20Blocks/System/System%20Components/CSS/images/loading.gif
/webdav/07%20BD%2Ecom%20Worldwide%20Website/Building%20Blocks/System/System%20Components/CSS/images/blank.gif
/webdav/07%20BD%2Ecom%20Worldwide%20Website/Building%20Blocks/System/System%20Components/CSS/images/prev_grey.gif
/webdav/07%20BD%2Ecom%20Worldwide%20Website/Building%20Blocks/System/System%20Components/CSS/images/prev_red.gif
/webdav/07%20BD%2Ecom%20Worldwide%20Website/Building%20Blocks/System/System%20Components/CSS/images/prev_green.gif
/webdav/07%20BD%2Ecom%20Worldwide%20Website/Building%20Blocks/System/System%20Components/CSS/images/prev_blue.gif
/webdav/07%20BD%2Ecom%20Worldwide%20Website/Building%20Blocks/System/System%20Components/CSS/images/prev_gold.gif
/webdav/07%20BD%2Ecom%20Worldwide%20Website/Building%20Blocks/System/System%20Components/CSS/images/blank.gif
/webdav/07%20BD%2Ecom%20Worldwide%20Website/Building%20Blocks/System/System%20Components/CSS/images/next_grey.gif
/webdav/07%20BD%2Ecom%20Worldwide%20Website/Building%20Blocks/System/System%20Components/CSS/images/next_red.gif
/webdav/07%20BD%2Ecom%20Worldwide%20Website/Building%20Blocks/System/System%20Components/CSS/images/next_green.gif
/webdav/07%20BD%2Ecom%20Worldwide%20Website/Building%20Blocks/System/System%20Components/CSS/images/next_blue.gif
/webdav/07%20BD%2Ecom%20Worldwide%20Website/Building%20Blocks/System/System%20Components/CSS/images/next_gold.gif
/webdav/07%20BD%2Ecom%20Worldwide%20Website/Building%20Blocks/System/System%20Components/CSS/images/close_grey.jpg
/webdav/07%20BD%2Ecom%20Worldwide%20Website/Building%20Blocks/System/System%20Components/CSS/images/close_red.png
/webdav/07%20BD%2Ecom%20Worldwide%20Website/Building%20Blocks/System/System%20Components/CSS/images/close_green.png
/webdav/07%20BD%2Ecom%20Worldwide%20Website/Building%20Blocks/System/System%20Components/CSS/images/close_blue.png
/webdav/07%20BD%2Ecom%20Worldwide%20Website/Building%20Blocks/System/System%20Components/CSS/images/close_gold.png
/webdav/07%20BD%2Ecom%20Worldwide%20Website/Building%20Blocks/System/System%20Components/CSS/images/play_grey.png
/webdav/07%20BD%2Ecom%20Worldwide%20Website/Building%20Blocks/System/System%20Components/CSS/images/play_red.png
/webdav/07%20BD%2Ecom%20Worldwide%20Website/Building%20Blocks/System/System%20Components/CSS/images/play_green.png
/webdav/07%20BD%2Ecom%20Worldwide%20Website/Building%20Blocks/System/System%20Components/CSS/images/play_blue.png
/webdav/07%20BD%2Ecom%20Worldwide%20Website/Building%20Blocks/System/System%20Components/CSS/images/play_gold.png
/webdav/07%20BD%2Ecom%20Worldwide%20Website/Building%20Blocks/System/System%20Components/CSS/images/pause_grey.png
/webdav/07%20BD%2Ecom%20Worldwide%20Website/Building%20Blocks/System/System%20Components/CSS/images/pause_red.png
/webdav/07%20BD%2Ecom%20Worldwide%20Website/Building%20Blocks/System/System%20Components/CSS/images/pause_green.png
/webdav/07%20BD%2Ecom%20Worldwide%20Website/Building%20Blocks/System/System%20Components/CSS/images/pause_blue.png
/webdav/07%20BD%2Ecom%20Worldwide%20Website/Building%20Blocks/System/System%20Components/CSS/images/pause_gold.png****/
@font-face{font-family:frutiger-cn;src:url("../infusionset/fonts/frutiger-cn-webfont.eot")/*tpa=http://www.bd.com/infusionset/fonts/frutiger-cn-webfont.eot*/;src:url("../infusionset/fonts/frutiger-cn-webfont.eot-#iefix")/*tpa=http://www.bd.com/infusionset/fonts/frutiger-cn-webfont.eot?#iefix*/ format("embedded-opentype"),url("Unknown_83_filename")/*tpa=http://www.bd.com/infusionset/fonts/frutiger-cn-webfont.woff*/ format("woff"),url("../infusionset/fonts/frutiger-cn-webfont.ttf")/*tpa=http://www.bd.com/infusionset/fonts/frutiger-cn-webfont.ttf*/ format("truetype"),url("../infusionset/fonts/frutiger-cn-webfont.svg#frutiger-cn-webfont")/*tpa=http://www.bd.com/infusionset/fonts/frutiger-cn-webfont.svg#frutiger-cn-webfont*/ format("svg"),url("Unknown_83_filename")/*tpa=http://www.bd.com/infusionset/fonts/frutiger-cn-webfont.otf*/ format("opentype");font-weight:normal;font-style:normal;}
@font-face{font-family:frutiger-blackcn;src:url("../infusionset/fonts/frutiger-blackcn-webfont.eot")/*tpa=http://www.bd.com/infusionset/fonts/frutiger-blackcn-webfont.eot*/;src:url("../infusionset/fonts/frutiger-blackcn-webfont.eot-#iefix")/*tpa=http://www.bd.com/infusionset/fonts/frutiger-blackcn-webfont.eot?#iefix*/ format("embedded-opentype"),url("Unknown_83_filename")/*tpa=http://www.bd.com/infusionset/fonts/frutiger-blackcn-webfont.woff*/ format("woff"),url("../infusionset/fonts/frutiger-blackcn-webfont.ttf")/*tpa=http://www.bd.com/infusionset/fonts/frutiger-blackcn-webfont.ttf*/ format("truetype"),url("../infusionset/fonts/frutiger-blackcn-webfont.svg#frutiger-blackcn-webfont")/*tpa=http://www.bd.com/infusionset/fonts/frutiger-blackcn-webfont.svg#frutiger-blackcn-webfont*/ format("svg"),url("Unknown_83_filename")/*tpa=http://www.bd.com/infusionset/fonts/frutiger-blackcn-webfont.otf*/ format("opentype");font-weight:normal;font-style:normal;}
@font-face{font-family:frutiger-boldcn;src:url("../infusionset/fonts/frutiger-boldcn-webfont.eot")/*tpa=http://www.bd.com/infusionset/fonts/frutiger-boldcn-webfont.eot*/;src:url("../infusionset/fonts/frutiger-boldcn-webfont.eot-#iefix")/*tpa=http://www.bd.com/infusionset/fonts/frutiger-boldcn-webfont.eot?#iefix*/ format("embedded-opentype"),url("Unknown_83_filename")/*tpa=http://www.bd.com/infusionset/fonts/frutiger-boldcn-webfont.woff*/ format("woff"),url("../infusionset/fonts/frutiger-boldcn-webfont.ttf")/*tpa=http://www.bd.com/infusionset/fonts/frutiger-boldcn-webfont.ttf*/ format("truetype"),url("../infusionset/fonts/frutiger-boldcn-webfont.svg#frutiger-boldcn-webfont")/*tpa=http://www.bd.com/infusionset/fonts/frutiger-boldcn-webfont.svg#frutiger-boldcn-webfont*/ format("svg"),url("Unknown_83_filename")/*tpa=http://www.bd.com/infusionset/fonts/frutiger-boldcn-webfont.otf*/ format("opentype");font-weight:normal;font-style:normal;}
.ew ol,.ew ul{list-style:none;}.ew .clearfix,.ew .row,.ew .row .part-1 .boxes{*zoom:1;}.ew .clearfix:before,.ew .row:before,.ew .row .part-1 .boxes:before,.ew .clearfix:after,.ew .row:after,.ew .row .part-1 .boxes:after{display:table;line-height:0;content:"";clear:both;}.ew a{outline:0;color:#00744f;}
.ew sub,.ew sup{position:relative;font-size:75%;line-height:0;vertical-align:baseline;}.ew sup{top:-0.4em;}.ew sub{bottom:-0.25em;}.ew img{vertical-align:middle;}.ew p{margin:0 0 1em;line-height:1.3;padding-bottom:0;}.ew small{font-size:85%;}.ew strong{font-weight:bold;}.ew em{font-style:italic;}.ew{font-family:frutiger-cn,Arial,sans-serif;font-size:18px;color:#585854;}
.ew h1{font-family:frutiger-boldcn,Arial,sans-serif;font-size:24px;color:#f37121;line-height:1.2;margin:0 0 20px 0;text-transform:uppercase;}.ew h2{font-family:frutiger-boldcn,Arial,sans-serif;font-size:24px;color:#f37121;line-height:1.2;margin:0 0 10px 0;}.ew img{max-width:100%;}.ew .row{max-width:996px;margin:0 auto 20px;}
.ew .row .part-1{width:65.6%;float:left;padding:0 1.4% 0 0;border-right:1px solid #dcdcd2;}.ew .row .part-1 .boxes .box{-moz-border-radius:4px;-webkit-border-radius:4px;-ms-border-radius:4px;border-radius:4px;background:#f4f7f9;background:-moz-linear-gradient(top,white 0,#f4f7f9 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,white),color-stop(100%,#f4f7f9));background:-webkit-linear-gradient(top,white 0,#f4f7f9 100%);background:-o-linear-gradient(top,white 0,#f4f7f9 100%);background:-ms-linear-gradient(top,white 0,#f4f7f9 100%);background:linear-gradient(to bottom,white 0,#f4f7f9 100%);width:47.5%;border:1px solid #d1e0e8;font-size:15px;padding:10px 0;margin:0 0 30px 0;}
.ew .row .part-1 .boxes .box h2{font-family:frutiger-blackcn,Arial,sans-serif;font-size:15px;color:#6897b4;line-height:1.3;margin:0;}.ew .row .part-1 .boxes .box p{margin:0;}.ew .row .part-1 .boxes .box .cell{padding:5px 15px;border-bottom:1px solid #d1e0e8;}.ew .row .part-1 .boxes .box .cell:last-child{border-bottom:none;padding-bottom:0;}
.ew .row .part-1 .boxes .box-1{float:left;}.ew .row .part-1 .boxes .box-2{float:right;}.ew .row .part-2{width:31.5%;float:right;padding:0 0 0 1.4%;}.ew .row .part-2 .box{font-size:15px;margin:0 0 30px 0;}.ew .row .part-2 .box h2{font-family:frutiger-blackcn,Arial,sans-serif;font-size:15px;color:#6897b4;line-height:1.3;margin:0;}
.ew .row .part-3{width:100%;float:left;}.ew .banner{max-width:1280px;margin:0 auto 50px;}.ew .banner img{width:100%;}.ew .bull-link{background:url(../infusionset/_images/bull-1.png)/*tpa=http://www.bd.com/infusionset/_images/bull-1.png*/ left top no-repeat;padding:0 0 0 30px;line-height:1.3;text-decoration:none;color:#585854;display:inline-block;}.ew .doc-link{background:url(../infusionset/_images/bull-2.png)/*tpa=http://www.bd.com/infusionset/_images/bull-2.png*/ left top no-repeat;padding:0 0 0 36px;line-height:1.3;text-decoration:none;color:#585854;display:inline-block;}
.ew .footnote{font-size:14px;}
/* Published:5/12/2015 8:05:07 PM*/
/* Images not published: */
/**** 
/webdav/07%20BD%2Ecom%20Worldwide%20Website/Building%20Blocks/Content/Worldwide%20Sites/Infusion%20Set/assets/"/infusionset/fonts/frutiger-cn-webfont.eot
/webdav/07%20BD%2Ecom%20Worldwide%20Website/Building%20Blocks/Content/Worldwide%20Sites/Infusion%20Set/assets/"/infusionset/fonts/frutiger-cn-webfont.eot
/webdav/07%20BD%2Ecom%20Worldwide%20Website/Building%20Blocks/Content/Worldwide%20Sites/Infusion%20Set/assets/"/infusionset/fonts/frutiger-cn-webfont.woff
/webdav/07%20BD%2Ecom%20Worldwide%20Website/Building%20Blocks/Content/Worldwide%20Sites/Infusion%20Set/assets/"/infusionset/fonts/frutiger-cn-webfont.ttf
/webdav/07%20BD%2Ecom%20Worldwide%20Website/Building%20Blocks/Content/Worldwide%20Sites/Infusion%20Set/assets/"/infusionset/fonts/frutiger-cn-webfont.svg
/webdav/07%20BD%2Ecom%20Worldwide%20Website/Building%20Blocks/Content/Worldwide%20Sites/Infusion%20Set/assets/"/infusionset/fonts/frutiger-cn-webfont.otf"
/webdav/07%20BD%2Ecom%20Worldwide%20Website/Building%20Blocks/Content/Worldwide%20Sites/Infusion%20Set/assets/"/infusionset/fonts/frutiger-blackcn-webfont.eot
/webdav/07%20BD%2Ecom%20Worldwide%20Website/Building%20Blocks/Content/Worldwide%20Sites/Infusion%20Set/assets/"/infusionset/fonts/frutiger-blackcn-webfont.eot
/webdav/07%20BD%2Ecom%20Worldwide%20Website/Building%20Blocks/Content/Worldwide%20Sites/Infusion%20Set/assets/"/infusionset/fonts/frutiger-blackcn-webfont.woff
/webdav/07%20BD%2Ecom%20Worldwide%20Website/Building%20Blocks/Content/Worldwide%20Sites/Infusion%20Set/assets/"/infusionset/fonts/frutiger-blackcn-webfont.ttf
/webdav/07%20BD%2Ecom%20Worldwide%20Website/Building%20Blocks/Content/Worldwide%20Sites/Infusion%20Set/assets/"/infusionset/fonts/frutiger-blackcn-webfont.svg
/webdav/07%20BD%2Ecom%20Worldwide%20Website/Building%20Blocks/Content/Worldwide%20Sites/Infusion%20Set/assets/"/infusionset/fonts/frutiger-blackcn-webfont.otf"
/webdav/07%20BD%2Ecom%20Worldwide%20Website/Building%20Blocks/Content/Worldwide%20Sites/Infusion%20Set/assets/"/infusionset/fonts/frutiger-boldcn-webfont.eot
/webdav/07%20BD%2Ecom%20Worldwide%20Website/Building%20Blocks/Content/Worldwide%20Sites/Infusion%20Set/assets/"/infusionset/fonts/frutiger-boldcn-webfont.eot
/webdav/07%20BD%2Ecom%20Worldwide%20Website/Building%20Blocks/Content/Worldwide%20Sites/Infusion%20Set/assets/"/infusionset/fonts/frutiger-boldcn-webfont.woff
/webdav/07%20BD%2Ecom%20Worldwide%20Website/Building%20Blocks/Content/Worldwide%20Sites/Infusion%20Set/assets/"/infusionset/fonts/frutiger-boldcn-webfont.ttf
/webdav/07%20BD%2Ecom%20Worldwide%20Website/Building%20Blocks/Content/Worldwide%20Sites/Infusion%20Set/assets/"/infusionset/fonts/frutiger-boldcn-webfont.svg
/webdav/07%20BD%2Ecom%20Worldwide%20Website/Building%20Blocks/Content/Worldwide%20Sites/Infusion%20Set/assets/"/infusionset/fonts/frutiger-boldcn-webfont.otf"
/webdav/07%20BD%2Ecom%20Worldwide%20Website/Building%20Blocks/Content/Worldwide%20Sites/Infusion%20Set/assets/infusionset/_images/bull-1.png
/webdav/07%20BD%2Ecom%20Worldwide%20Website/Building%20Blocks/Content/Worldwide%20Sites/Infusion%20Set/assets/infusionset/_images/bull-2.png****/
