/*

tag:    sg
date:   1/17/2014
desc:   took this from WW Products section and edited stylesheet throughout for redesigned Mexico Vacutainer Products section
*/



#gallery {
	width: 549px;  
	padding:0px 0px;
	margin-left:0px;  
	color:#fff;
	font-family:'FrutigerLTW01-47LightCn',Arial;  
}
.gallTop{
	height:9px;
	position:absolute;
	width:680px;
	top:0px;
	left:0px;
	background:url(Unknown_83_filename)/*tpa=http://www.bd.com/images/gall_corner_top.gif*/ no-repeat;
}
.gallBottom{
	height:8px;
	position:absolute;
	width:680px;
	bottom:0px;
	left:0px;
	background:url(Unknown_83_filename)/*tpa=http://www.bd.com/images/gall_corner_bottom.gif*/ no-repeat;
	overflow:hidden;
}
*.gallBottom{
	bottom:-1px;
}
.ad-gallery {	
	
}
.ad-gallery, .ad-gallery * {
	margin: 0;
	padding: 0;
}
.ad-gallery .ad-image-wrapper {
	width: 549px;  
	height: 440px;  
	clear: both;
	
}

.ad-gallery .ad-image-wrapper .ad-loader {
	z-index: -1;
	top: 48%;
	left: 48%;
	background:#180d09;
	padding:7px;
}

.ad-gallery .ad-image-wrapper .ad-image {
	top: 190px;  
	left: 3px !important;
	z-index: 9;
	width:400px !important; 
	height:400px !important;  
	margin-left: 140px; 

	
}
.ad-gallery .ad-image-wrapper .ad-image img{
	top: 190px;
	left: 3px !important;
	width:400px !important;
	height:400px !important; 
	margin-top: 40px; 

}
.ad-gallery .ad-image-wrapper .ad-image a img {
	border: 0;
	
}
.ad-gallery .ad-image-wrapper .ad-image .ad-image-description {
	margin-left: 7px;
	margin-right:7px;
	margin-top: -460px;  
	text-align: center;
	width: 400px; 
	z-index: 900;
	color:#f37121;
	line-height:18px;
	font: bold 16px/18px "FrutigerLTW01-47LightCn", "FrutigerLTW02-47LightCn", Arial, Helvetica, sans-serif;
	letter-spacing:1px;
	padding-top: 0
}
* html .ad-gallery .ad-image-wrapper .ad-image .ad-image-description {
	background: none;
 	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=true, sizingMethod=scale, src='opa75.png');
}
.ad-gallery .ad-image-wrapper .ad-image .ad-image-description .ad-description-title {
	display: block;
	color:#f37121;
	font-size:18px;
	font-weight:bold;
	padding:0px 0 5px 0;

}
.ad-gallery .ad-controls {
	height: 25px; 
	overflow:hidden;
}
.ad-gallery .ad-info {
	float: left;
}
.ad-gallery .ad-slideshow-controls {
	float: right;
}
.ad-gallery .ad-slideshow-controls .ad-slideshow-start, .ad-gallery .ad-slideshow-controls .ad-slideshow-stop {
	padding-left: 5px;
	cursor: pointer;
}
.ad-gallery .ad-slideshow-controls .ad-slideshow-countdown {
	padding-left: 5px;
	font-size: 0.9em;
}
.ad-gallery .ad-slideshow-running .ad-slideshow-start {
	cursor: default;
	font-style: italic;
}
.ad-gallery .ad-nav {
	position: absolute; 
	margin-top:-10px;
	float: left; 
	width: 110px; 
}
.ad-gallery .ad-forward, .ad-gallery .ad-back {
	position: absolute;
	z-index: 10;
	
}
/* IE 6 doesn't like height: 100% */
    * html .ad-gallery .ad-forward, .ad-gallery .ad-back {
	height: 100px; 
}
.ad-gallery .ad-back {
	cursor: pointer;
	left: 0px;
	width: 110px; 
	height: 20px; 
	display: block;
	background: url(../_images/css/ad_scroll_up.gif)/*tpa=http://www.bd.com/_images/css/ad_scroll_up.gif*/ top no-repeat; 
	z-index:1;
	
}
.ad-gallery .ad-forward {
	cursor: pointer;
	display: block;
	height: 20px; 
	width: 110px;  
	margin-top: 418px;
	background: url(../_images/css/ad_scroll_down.gif)/*tpa=http://www.bd.com/_images/css/ad_scroll_down.gif*/ bottom no-repeat;  
	z-index:1;
}
.ad-gallery .ad-nav .ad-thumbs {
	overflow: hidden; 
	width: 110px; 
	height:438px;  /* was 438 */
	float: left; 
	background: #edebe4; 
	border-top: 38px solid #edebe4; 
	border-bottom: 38px solid #edebe4; 
}
.ad-gallery .ad-thumbs .ad-thumb-list {
	width: 78px;  
	list-style: none;
}

.ad-gallery .ad-thumbs li {
	margin: 0 0 16px 0;  
	width: 78px; 
}

.ad-gallery .ad-thumbs li.last-margin {
	margin: 0;  
	width: 78px; 
}


.ad-gallery .ad-thumbs li a {
	display: block;
	width: 78px; 
}
.ad-gallery .ad-thumbs li a img {
	display: block;
	width:78px;  
	height:78px;  
	margin-left: 16px; 
	border:none !important; 
}
.ad-gallery .ad-thumbs li a.ad-active img {
	width: 78px; 
	height: 78px;
	border-bottom: 7px solid #f37121 !important; 

}
/* Can't do display none, since Opera won't load the images then */
.ad-preloads {
	position: absolute;
	left: -9000px;
	top: -9000px;
}
/*select, input, textarea {
	font-size: 1em;
}
h2 {
	margin-top: 1.2em;
	margin-bottom: 0;
	padding: 0;
	border-bottom: 1px dotted #dedede;
}*/
.example {
	border: 1px solid #CCC;
	background: #f2f2f2;
	padding: 10px;
}
pre {
	border: 1px solid #CCC;
	background: #f2f2f2;
	padding: 10px;
}
code {
	margin: 0;
	padding: 0;
}
#descriptions {
	position: relative;
	margin-top: 10px;
	width: 640px;
	padding: 10px;
}

#descriptions .ad-image-description .ad-description-title {
	display: block;
}
.more{
	color:#6897b4;
	font-size:14px;
}
