/* Global elements
---------------------------------------------------------*/
#wrapper {
 padding-top: 0;
 background: url(sprite_norepeat.gif)/*tpa=https://www.metlife.com/system/css/sprite_norepeat.gif*/ no-repeat;
 background-position:-1928px -37px;
}

#masthead {
 padding-top: 0px;
 background: url(sprite_norepeat.gif)/*tpa=https://www.metlife.com/system/css/sprite_norepeat.gif*/ no-repeat;
 background-position:0 -105px;
}

#portalcontent {
	/*padding-top: 20px;*/
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='/system/css/bg-content.png',sizingMethod='scale');
}

/* Header
---------------------------------------------------------*/
#header {
	padding-top: 113px;
	height: 34px;
	/*margin-bottom: -20px;*/
}

#logo {
	top: 63px;
}

#audienceNav {
	top: 34px;
}

#headerNav {
	top: 11px;
}

#frmSearch {
	top: 80px;
}

#nav {
	margin-top: 0;
	height: 39px;
}

#secondaryNav {
	height: 23px;
}

#frmSearch input {
	height: 15px;
}


/* Print & Email buttons */
#tab_content #tabs_header ul {
position:relative; margin:0px;
}
#printEmailNav ul{

	margin: -20px 12px 10px 0px; 
}
#printEmailNav li {
	margin-right: 10px;
}
#printEmailNav #life h3{
float:left;
margin: -25px 0px 0px 7px;
	padding: 0 14px 0 13px;
font-size: 1.8462em;
	font-weight: normal;
	line-height: 1.2em;

}

/* Glossary Popup Styles 
---------------------------------------------------------*/
#content #glossaryPopup {
	padding: 0 23px;
}

#content #glossaryPopup a.close {
	right: 33px;
	margin-top: 2px;
}

#content #glossaryPopup .top {
	left: 19px;
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='/system/css/bg-glossarypopup-top.png',sizingMethod='image');
}

#content #glossaryPopup .right {
	right: 18px;
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='/system/css/bg-glossarypopup-right.png',sizingMethod='scale');
}

#content #glossaryPopup .bottom {
	left: 19px;
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='/system/css/bg-glossarypopup-bottom.png',sizingMethod='crop');
}

#content #glossaryPopup .left {
	left: 19px;
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='/system/css/bg-glossarypopup-left.png',sizingMethod='scale');
}

#content #glossaryPopup .arrowleft {
	left: 0;
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='/system/css/bg-glossarypopup-arrow-left.png',sizingMethod='crop');
}

#content #glossaryPopup .arrowright {
	position: absolute;
	right: -1px;
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='/system/css/bg-glossarypopup-arrow-right.png',sizingMethod='crop');
}

/* Help Popup Styles 
---------------------------------------------------------*/
#content #helpPopup {
	padding: 0 35px;
}

#content #helpPopup a.close {
	right: 45px;
	margin-top: 2px;
}

#content #helpPopup .top {
	left: 31px;
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='/system/css/bg-helppopup-top.png',sizingMethod='image');
}

#content #helpPopup .right {
	right: 30px;
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='/system/css/bg-helppopup-right.png',sizingMethod='scale');
}

#content #helpPopup .bottom {
	left: 31px;
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='/system/css/bg-helppopup-bottom.png',sizingMethod='crop');
}

#content #helpPopup .left {
	left: 31px;
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='/system/css/bg-helppopup-left.png',sizingMethod='scale');
}

#content #helpPopup .arrowleft {
	left: 0;
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='/system/css/bg-helppopup-arrow-left.png',sizingMethod='crop');
}

#content #helpPopup .arrowright {
	position: absolute;
	right: 0;
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='/system/css/bg-helppopup-arrow-right.png',sizingMethod='crop');
}



/* Content
---------------------------------------------------------*/
#primary, #secondary {
	display: inline;
}

#primary ol {
	margin-left: 1.8em;
}

#wrapper .tab-section ul {
	margin-left: 1.25em;
}

div.separator {
	clear: both;
}



/* Page Specific 
---------------------------------------------------------*/


/* Search Results
-------------------------------------
#searchResult .rightContent .detail {
	height: 1%;
}

#searchResult .rightContent .bottom {
	width: 438px;
}
*/
#searchResult .mostRelevant a.helpLink {
	right: 18px;
}

#searchResult .callout, #searchResult .detail {
	height: 1%;
}

#searchResult .rightContent .bottom {
	position: absolute !important;
	bottom: 0 !important;
	left: 0 !important;
	width: 100% !important;
	height: 5px !important;
	background: url(bg-middleCallout-bottom.gif)/*tpa=https://www.metlife.com/system/css/bg-middleCallout-bottom.gif*/ no-repeat left bottom !important;
}

/* Footer
---------------------------------------------------------*/
/*#footer {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='/system/css/bg-footer.png',sizingMethod='crop');
}

#footer p.copy {
	margin-top: -104px;
}

*/


/* Home Page(s)
---------------------------------------------------------*/
#home #primary {
	position: relative;
}

#home #primary p.homeMessage  {
	position: absolute;
	margin-top: 0;
	top: -20px;
}

div.home-callouts {
	height: 284px;
	overflow: hidden;
}

div#hc-FProfessionals.home-callouts ul {
	bottom: -540px;
	height: 180px;
}

div#hc-Business {
	margin-top: 1.5385em;
}

div#hc-Business.home-callouts ul {
	bottom: -288px;
	height: 150px;
}

.middleModule {
	margin: 0 12px !important;
}
.home_modules .detail {
	padding: 6px 9px;
	width: 192px;
}


.home-FProfessionals .home_modules .detail {
	height: 239px !important;
}
.home-Business .home_modules .detail {
	height: 239px !important;
}
.home-personal .home_modules .detail {
	height: 248px !important;
}


div.doublemodule {
	float: left;
	width: 212px;
	margin-right: -4px;
}

div#AutoInsurance {
	margin-top: -7px;
}

/* Home Callouts - specific styles
-------------------------------------*/

/* Financial Professionals home callouts */
div.home-callouts ul li#hc-resourceSelling a {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='/system/css/home-callouts-resourceselling.png',sizingMethod='crop');
	cursor: pointer;
}

div.home-callouts ul li#hc-resourceSelling a:hover, div.home-callouts ul li#hc-resourceSelling a:focus {
	margin-top: -60px;
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='/system/css/home-callouts-resourceselling.png',sizingMethod='image');
}

div.home-callouts ul li#hc-resourceYouCanUse a {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='/system/css/home-callouts-resourceyoucanuse.png',sizingMethod='crop');
	cursor: pointer;
}

div.home-callouts ul li#hc-resourceYouCanUse a:hover, div.home-callouts ul li#hc-resourceYouCanUse a:focus {
	margin-top: -60px;
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='/system/css/home-callouts-resourceyoucanuse.png',sizingMethod='image');
}

div.home-callouts ul li#hc-innovativeThoughtLeadership a {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='/system/css/home-callouts-innovativethoughtleadership.png',sizingMethod='crop');
	cursor: pointer;
}

div.home-callouts ul li#hc-innovativeThoughtLeadership a:hover, div.home-callouts ul li#hc-innovativeThoughtLeadership a:focus {
	margin-top: -60px;
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='/system/css/home-callouts-innovativethoughtleadership.png',sizingMethod='image');
}


/* Business home callouts */
div.home-callouts ul li#hc-solutionManageRisk a {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='/system/css/home-callouts-solutionmanagerisk.png',sizingMethod='crop');
	cursor: pointer;
}

div.home-callouts ul li#hc-solutionManageRisk a:hover, div.home-callouts ul li#hc-solutionManageRisk a:focus {
	margin-top: -60px;
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='/system/css/home-callouts-solutionmanagerisk.png',sizingMethod='image');
}

div.home-callouts ul li#hc-serviceExcellence a {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='/system/css/home-callouts-serviceexcellence.png',sizingMethod='crop');
	cursor: pointer;
}

div.home-callouts ul li#hc-serviceExcellence a:hover, div.home-callouts ul li#hc-serviceExcellence a:focus {
	margin-top: -60px;
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='/system/css/home-callouts-serviceexcellence.png',sizingMethod='image');
}

div.home-callouts ul li#hc-supportyourbusiness a {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='/system/css/home-callouts-supportyourbusiness.png',sizingMethod='crop');
}

div.home-callouts ul li#hc-supportyourbusiness a:hover, div.home-callouts ul li#hc-supportyourbusiness a:focus {
	margin-top: -60px;
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='/system/css/home-callouts-supportyourbusiness.png',sizingMethod='image');
}

div.home-callouts ul li#hc-insightsToSupportYourBusiness a {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='/system/css/home-callouts-insightssupport.png',sizingMethod='crop');
	cursor: pointer;
}

div.home-callouts ul li#hc-insightsToSupportYourBusiness a:hover, div.home-callouts ul li#hc-insightsToSupportYourBusiness a:focus {
	margin-top: -60px;
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='/system/css/home-callouts-insightssupport.png',sizingMethod='image');
}



/* Product Template
---------------------------------------------------------*/
#promo_content #primary h3 {
	position: relative;
}

#promo_content .promo, #promo_content .promo .detail {
	position: relative;
	height: 1%;
}

#promo_content .promo .detail .insuranceProduct {
	display: inline;
}

#promo_content .promo .bottom {
	overflow: hidden;
}


/* Product Detail Template
---------------------------------------------------------*/
#tab_content #primary h3 {
	position: relative;
}

#tab_content #tabs_header ul li a {
	height: 1%;
}

#tab_content ul.tabindex, #tab_content div.tabbedcontent .tab-section, #tab_content .tab-section .callout .detail {
	height: 1%;
}

#tab_content .tab-section .callout .bottom {
	position: relative;
}

#tab_content #tabs_header {	
	height: 174px;
}

#tab_content #tabs_header ul {	
	float: left;
}

#tab_content #btn_compareProducts {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='/system/css/btn_compareProducts.png',sizingMethod='crop');
	cursor: pointer;
}

#tab_content #tabs_header img#proddetail-splash {
	position: absolute;
	right: 0;
	top: 0;
	float: none;
	margin: 0;
}

#tab_content #primary #form-requestQuote legend span {
	margin-left: 114px;
}

#tab_content .firstColumn ul {
	
	padding-left: 15px;
	
}

/* Search Result Template
---------------------------------------------------------*/
#searchResult #primary h3 {
	position: relative;
}
/*
#searchResult .bottom {
	overflow: hidden;
}*/


/* About Template
---------------------------------------------------------*/
#aboutML #primary {
	margin: -3px 13px 0 0;
}

#aboutML #primary h3 {
	position: relative;
}

#aboutML .callout, #aboutML .detail {
	height: 1%;
}


/* Article Template
---------------------------------------------------------*/
#article #primary h3 {
	position: relative;
}


/* Calculator - Disability Template
---------------------------------------------------------*/
#calculator .print {
	position: relative;
	height: 1%;
}

#calculator #primary h3 {
	position: relative;
}

#calculator .callout .bottom {
	overflow: hidden;
}

#calfrm-monthlyExpenseSteps ol li {
	margin: 0 0 -5px;
}

#calfrm-monthlyExpenseSteps ol li a {
	display: block;
	padding: 0;
	width: 18px;
	height: 18px;	
}

#calfrm-monthlyExpenseSteps ol li label {
	float: right;
	display: block !important;
	width: 220px;
}



/* Global Locations Template
---------------------------------------------------------*/
#globalLocations #primary {
	width: 876px;
}

#globalLocations #primary h3 {
	position: relative;
	width: 860px;
	height: 1%;
}
#globalLocations .rightContent {
	margin: 4px 0 10px 12px;
}

#globalLocations .callout .detail {
	height: 342px;
}
/*
#globalLocations .rightContent {
	margin: 4px -5px 0 0;
}

#globalLocations .callout {
	float: none;
}

#globalLocations .callout .bottom {
	width: 100%;
	overflow: hidden;
}

#globalLocations .listLocations .bottom {
	width: 212px;
	overflow: hidden;
}

#globalLocations .rightContent .detail {
	padding-bottom: 2px;
	width: 636px;
	overflow: hidden;
}

#globalLocations .rightContent .callout .detail {
	width: 615px;
}
*/
#globalLocations .rightContent .bottom {
	width: 652px;
	overflow: hidden;
}

/* Goals Template
---------------------------------------------------------*/
#goals #goals-lifeEvents, #goals #goals-concerns {
	display: inline
}

#goals #goals-lifeEvents {
	height: 1%;
}

#goals #goals-lifeEvents .content {
	padding-bottom: 15px;
}

#goals #goals-lifeEvents ul {
	height: 1%;
	margin-bottom: 0;
}

#goals #goals-lifeEvents ul li {
	display: inline;
}

/* Goals template
---------------------------------------------------------*/
#goals #primary h3 {
	position: relative;
}

#goals #goals-lifeEvents {
	width: 416px;
	overflow: hidden;
}

#goals #goals-lifeEvents h4 {
	margin-left: -12px;
}


/* Goals Detail template
---------------------------------------------------------*/
#goalDetails #primary h3 {
	position: relative;
}

#goalDetails #primary img#heroImage, #goalDetails #primary .toolsCallout {
	display: inline;
}

#goalDetails #goals-nextSteps {
	width: 608px;
	overflow: hidden;
}

#goalDetails #primary .callout .bottom {
	bottom: 13px;
}



/* Insurance Quote page 
---------------------------------------------------------*/
#insurance #primary h3 {
	position: relative;
}

#insurance #primary #form-requestQuote ol {
	margin-left: -10px;
}

#insurance #primary #form-requestQuote label {
	display: inline;
}

#insurance #form-requestQuote .stateZip select, #insurance #form-requestQuote .bestTime input {
	margin-left: 3px;
}

#insurance .callout .bottom {
	overflow: hidden;
}

#insurance #form-requestQuote legend span {
	margin-left: 96px;
}




/* Left Nav Template
---------------------------------------------------------*/
#leftNav #primary {
	margin-right: 0;
}

#leftNav #tabs_header a {
	height: 1%;
}

#leftNav .callout .bottom {
	bottom: 0px;	
	background: url(bg-calloutComplete-bottom.gif)/*tpa=https://www.metlife.com/system/css/bg-calloutComplete-bottom.gif*/ no-repeat left bottom !important;
	width: 874px;
}


#leftNav #primary {
	margin: -3px 13px 0 0;
}

#leftNav #primary h3 {
	position: relative;
}

#leftNav .callout, #leftNav .detail {
	height: 1%;
}


/*#########################################################
  #
  #	Components (could be included on any page)
  #
  #######################################################*/


/* Component - Normal_promo
---------------------------------------------------------*/
.Normal_promo {
	position: relative;
}
.Normal_promo .bottom {
	overflow: hidden;
}


/* Component - Find An Office
---------------------------------------------------------*/

#findOffice .bottom {
	overflow: hidden;
}

/* #findOffice #officeSearchForm {
	margin-left: 13px;
	width: 837px;
}*/

#findOffice #officeResults {
	margin-left: 13px;
}
/*
#findOffice #officeSearchForm, #findOffice .content {
	height: 1%;
}
*/
#findOffice #officeSearchForm .fields, #findOffice #officeResults, #findOffice #officeMap {
	display: inline;
}

#findOffice #officeResults .links br {
	display: none;
}

#findOffice #officeResults .links a {
	float: left;
}

#findOffice #officeResults .links {
	height: 1%;
}

#findOffice #officeResults .links a.directions {
	display: inline;
}

#findOffice p#findOffice-required {
	position: relative;
	margin-left: 13px;
	margin-bottom: 1px;
	padding-top: 0;
}
#leftContentPane_office_temp {
margin:13px 0 0 0;
}


/* Component - Actions
---------------------------------------------------------*/
#cActions {
	position: relative;
}

#cActions h4 {
	position: relative;
	width: 212px;
	height: 29px;
}

#cActions h4 a {
	display: block;
	height: 100%;
	text-indent: -9999em;
}

#cActions h4.selected {
	margin-left: 0;
	background-position: left bottom !important;
}

#cActions h4.last {
	margin-bottom: -3px;
}

#cActions h4#compheading-getaquote {
	background: #FFF url(compheading-getaquote.gif)/*tpa=https://www.metlife.com/system/css/compheading-getaquote.gif*/ no-repeat;
}

#cActions h4#compheading-requestinfo {
	background: #FFF url(compheading-requestinfo.gif)/*tpa=https://www.metlife.com/system/css/compheading-requestinfo.gif*/ no-repeat;
}

#cActions h4#compheading-findanoffice {
	height: 30px;
	background: #FFF url(compheading-findanoffice.gif)/*tpa=https://www.metlife.com/system/css/compheading-findanoffice.gif*/ no-repeat;
}

#cActions .detail {
	border: 1px solid #c7d0e1;
	border-bottom: none;
	padding: 10px;
	height: 1%;
}

#cActions .detail p {
	margin: 0 0 5px;
	padding: 0;
}

#cActions a.requestAQuote {
}


/* Component - Home - cHomeActions
---------------------------------------------------------*/
#frm_signIn label.noLabel {
	margin: 0 0 0 -9999em;
}

#cJumboMortgage .detail {
	overflow: hidden;
	height: 1%;
}

#cJumboMortgage button {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='/system/css/btn_learnMore.png',sizingMethod='crop');
}

/* Component - Did You Know
---------------------------------------------------------*/
#cDidYouKnow .detail {
	height: 1%;
}

/* Component - Filing a Claim
---------------------------------------------------------*/
#cFilingAClaim .bottom {
	overflow: hidden;
}

/* Component - Term Life and Disability Package
---------------------------------------------------------*/
#cTermLife .bottom {
	overflow: hidden;
}

/* Component - Related Information
---------------------------------------------------------*/
#cRelatedInfo .bottom {
	overflow: hidden;
}

/* Component - Mortgage Rate
---------------------------------------------------------*/
#cMortgageRate .detail {
	height: 1%;
}

#cMortgageRate .bottom {
	overflow: hidden;
}

/* Component - Rate This Page (#cRate)
---------------------------------------------------------*/
#cRate form div {
	clear: both;
}

#cRate form p.submit button {
/*	right: 21px;*/
}

/* Rep Contact Form & Consult Agent Form
---------------------------------------------------------*/
#form-repContact fieldset, #form-consultAgent fieldset {
	position: relative;
	left: -.5385em;
}

#form-repContact fieldset ol, #form-consultAgent fieldset ol {
	padding-left: .5385em;
}

#form-repContact {
	margin-right: -.5385em;
}

#form-repContact li.state, #form-repContact li.zip, #form-consultAgent li.state, #form-consultAgent li.zip {
	margin-bottom: 0px;
}

#form-repContact select#form-state, #form-repContact input#form-zip, #form-consultAgent select#caform-state, #form-consultAgent input#caform-zip {
	margin-bottom: 0px;
}

#form-repContact fieldset p {
	padding-left: .5385em !important;
}


/* Component - My Job Cart (#cJobCart)
---------------------------------------------------------*/
#cJobCart {
	position: relative;
}

.detail {
	height: 1%;
}

#cJobCart form input, #cJobCart form label {
	display: inline;
}

#cJobCart form button {
	margin-bottom: 0;
}


/* Component CTA
---------------------------------------------------------*/
#form-consultAgent #addOnProducts {
	margin-left: .5385em;
	margin-right: -.5385em;
}

#cConsultAgent #addOnProducts input {
	margin-right: 3px;
	margin-top: .3077em;
}

#cConsultAgent .overlay-component {
	width: 674px;
}


/* Component - Products and Services (#cProductsandServices)
---------------------------------------------------------*/
#cProductsandServices ul li a {
	height: 1%;
}

#cProductsandServices .bottom {
	overflow: hidden;
}





/* Popup Styles (as seen on the Privacy popup)
---------------------------------------------------------*/
.popup .border {
	display: none;
}

.popup a {
	color: #FFF !important;
}

.popup a.close {
	right: 6px;
	top: 5px;
}

#frm-emailToFriend div {
	clear: both;
}

.popup .topleft {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='/system/css/bg-popup-topleft.png',sizingMethod='crop');
}

.popup .topright {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='/system/css/bg-popup-topright.png',sizingMethod='crop');
}

.popup .top {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='/system/css/bg-popup-top.png',sizingMethod='scale');
}

.popup .bottomleft {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='/system/css/bg-popup-bottomleft.png',sizingMethod='crop');
}

.popup .bottomright {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='/system/css/bg-popup-bottomright.png',sizingMethod='crop');
}

.popup .bottom {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='/system/css/bg-popup-bottom.png',sizingMethod='scale');
}

.popup .right {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='/system/css/bg-popup-right.png',sizingMethod='scale');
}

.popup .left {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='/system/css/bg-popup-left.png',sizingMethod='scale');
}

.popup .leftarrow {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='/system/css/bg-popup-arrow-left.png',sizingMethod='crop');
}

/* BUTTONS - Text seperated from background image */

.btn_grey {          
	padding-top:2px !important;          
	line-height:normal;          
	height:26px;          
}
.btn_grey span {
	line-height: normal;           
	padding-top:3px;          
}
.btn_orange_go{          
	border: none;
	overflow: visible; 
	margin: 0; 
	padding: 0; 
	background:url(btn_orange_left.gif)/*tpa=https://www.metlife.com/system/css/btn_orange_left.gif*/ top left no-repeat;  
	font-weight: bold; 
	padding-left: 9px;
	font-size: small!important;
	cursor: pointer;
	padding-top:2px;
	padding-bottom:5px; 
}
.btn_orange_go span {
	margin: 0; 
	padding: 0;
	background:url(btn_orange_right.gif)/*tpa=https://www.metlife.com/system/css/btn_orange_right.gif*/ top right repeat-y; 
	color: #fff;
	margin-right: 8px;
	padding: 3px 12px 8px 0;
}


.btn_orange {          
	padding-top:2px !important;          
	line-height:normal;          
	height:26px;          
}
.btn_orange span {
	line-height: normal;           
	padding-top:3px;          
}

.btn_blue {          
	padding-top:2px !important;          
	line-height:normal;          
	height:26px;          
}
.btn_orangeblue span {
	line-height: normal;           
	padding-top:3px;          
}

.lock {
background: url(icn_lock.gif)/*tpa=https://www.metlife.com/system/css/icn_lock.gif*/ right 5px no-repeat;  
}
#cProductsandServices #bottom
{
	margin:-2px 0 -11px 0;
}
#ct_roundedCornerBox #lb
{
	height: 1%;
}
#ct_roundedCornerBox #bb
{
	height: 1%;
}
#ct_roundedCornerBox #tb
{
	height: 1%;
}
#ct_roundedCornerBox #rb
{
	height: 1%;
}
#ct_roundedCornerBox #tlc
{
	height: 1%;
}
#ct_roundedCornerBox #trc
{
	height: 1%;
}
#ct_roundedCornerBox #blc
{
	height: 1%;
}
#ct_roundedCornerBox #brc
{
	height: 1%;
}
#ct_roundedCornerBoxLft_office #lb
{
	height: 1%;
}
#ct_roundedCornerBoxLft_office #bb
{
	height: 1%;
}
#ct_roundedCornerBoxLft_office #tb
{
	height: 1%;
}
#ct_roundedCornerBoxLft_office #rb
{
	height: 1%;
}
#ct_roundedCornerBoxLft_office #tlc
{
	height: 1%;
}
#ct_roundedCornerBoxLft_office #trc
{
	height: 1%;
}
#ct_roundedCornerBoxLft_office #blc
{
	height: 1%;
}
#ct_roundedCornerBoxLft_office #brc
{
	height: 1%;
}
#ct_roundedCornerBoxRt_office #lbb
{
	height: 1%;
}
#ct_roundedCornerBoxRt_office #bbb
{
	height: 1%;
}
#ct_roundedCornerBoxRt_office #tbb
{
	height: 1%;
}
#ct_roundedCornerBoxRt_office #rbb
{
	height: 1%;
}
#ct_roundedCornerBoxRt_office #tlcb
{
	height: 1%;
}
#ct_roundedCornerBoxRt_office #trcb
{
	height: 1%;
}
#ct_roundedCornerBoxRt_office #blcb
{
	height: 1%;
}
#ct_roundedCornerBoxRt_office #brcb
{
	height: 1%;
}
#AccordionWrapper .bottom_roundedbtm
{
	bottom: -1px;
}
.fillGradientStyle02
{
	height: 1%;
}
.cntxtHlpMdImg
{
	margin-top: -4px;
}


