.fluid-text-top,.quote-top-purple,.quote-top-red,.quote-top-green,.quote-top-blue,.quote-top-orange{left:10px;}
.fluid-text-bottom{bottom:20px; right:20px;}

.fluid-text,.quote-blue,.quote-red,.quote-green,.quote-orange,.quote-purple{margin: 0 20px 20px 10px;}
.quote-bottom-blue, .quote-bottom-purple,.quote-bottom-red,.quote-bottom-green,.quote-bottom-orange{margin-right:10px;bottom:20px; right:10px;}

.excerpt-wrap .quote-purple,.excerpt-wrap .quote-green{margin-left:0;}
.excerpt-wrap .quote-top-purple,.excerpt-wrap .quote-top-green{left:0;}

.white-text{ margin: 0 5px 10px 0;}
.white-text-bottom{bottom:10px; right:5px;}
#fancybox-wrap {position: fixed;}
