.fluid-text-bottom{bottom:10px; right:10px;}
.white-text-bottom{bottom:0px; right:-5px;}
.quote-bottom-purple,.quote-bottom-red,.quote-bottom-green,.quote-bottom-blue,.quote-bottom-orange{bottom:10px; right:0px}

#fancybox-wrap {position: absolute;}
