/* fixed nav for desktops */
@media (min-width: 980px) {
    body {
        overflow-x: hidden !important;
        overflow-y: auto !important;
    }
    #headerWrap {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        z-index: 504;
    }
    .responsive-page #dropDowns {
        position: fixed;
        top: 77px;
    }
    .responsive-page #dropDownIndicatorWrapper {
        position: fixed;
        top: 77px;
    }
    #footerLighter > div {
        padding-left: 18px;
        padding-right: 18px;
    }
    #footerTopRow h3,
    #footerTopRow h3 a:link,
    #footerTopRow h3 a:visited,
    #footerTopRow h3 a:hover,
    #footerTopRow h3 a:active,
    #footerTopRow .col1 h3,
    #footerTopRow .col1 div,
    #footerTopRow div {
        font-size: 12px !important;
        line-height: 18px !important;
        color: #dedede !important;
    }
    #footerTopRow .col {
        width: 24% !important;
        margin-right: 10px;
    }
    #footerTopRow .col1 {
        /*margin-right: 20px;*/
    }
    #footerTopRow .col4 {
        margin-right: 0px;
    }
    #footer-lotus {
        right: 18px;
    }
    #footer-federation {
        left: 18px;
    }
    #footerLighter {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    #footerSeoBlock,
    #eeoBlock,
    #footerDock,
    #footer > .copyRight {
        padding-left: 18px !important;
        padding-right: 18px !important;
    }
}
/* new 1200px wide desktop size */
@media (min-width: 1200px) {
    #header,
    #footer > *,
    #footer > #footerExpanded > div > div,
    #footer > #footerExpanded > #footerSeoBlock,
    #footer > #footerExpanded > #eeoBlock {
        width: 1180px;
    }
    #header #menu .menuItem {
        padding-left: 13px;
        padding-right: 13px;
        margin-right: 10px;
    }
    #header #menu {
        width: 865px;
    }
    .dropdownItem {
        /*padding-left: 30px;*/
    }
    #dropDownIndicatorInner {
        padding-left: 200px;
    }
    .dropDownTabs {
        padding-left: 17px;
    }
    #header .searchFormWrapper {
        width: 239px;
    }
    #header #globalSearchForm input#searchString {
        width: 200px !important;
    }
    #footerTopRow .col {
        width: 24% !important;
        margin-right: 11px;
    }
    #footerTopRow .col1 {
        margin-right: 14px;
    }
    #header .searchForm .type-ahead {
        min-width: 218px;
    }
}

#footer {
    font-family: Verdana, Arial, Helvetica, sans-serif !important;
}



/* HP */

#hp-wrapper {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333333;
    padding-top: 77px;
}
@media (max-width: 979px) {
    #hp-wrapper {
        padding-top: 44px;
    }
}

#hp-leadspace {
    position: relative;
    overflow: hidden;
    width: 100%;
    background-color: #464646;
}

#hp-leadspace-wrapper {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    text-align: center;
}

#hp-leadspace .hp-inner {
    position: absolute;
    left: 50%;
    bottom: 0px;
    width: 0px;
}

@media (max-width: 979px) {
    #hp-leadspace,
    #hp-leadspace-wrapper,
    #hp-leadspace .hp-inner {
        position: relative;
        left: 0px;
        height: auto;
        width: 100%;
        overflow: visible;
    }
    #hp-leadspace .hp-inner {
        position: absolute;
    }
}

.hp-button {
    padding: 11px 13px;
    font-family: ff-meta-web-pro, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}
.hp-button-outline-blue {
    border: 2px solid #2c95dd;
    color: #ffffff;
}
.hp-button-solid-blue {
    border: 2px solid #2c95dd;
    background-color: #2c95dd;
}
a:hover .hp-button,
a:active .hp-button {
    /*text-decoration: underline;*/
}

.seo-text { position: fixed; width: 0px; height: 0px; text-indent: -9999px; }

#hp-boxes-wrapper {
    width: 100%;
    padding-bottom: 30px;
}
#hp-boxes-wrapper ul {
    max-width: 1600px;
    margin: 0px auto;
}
#hp-boxes-wrapper ul li.hp-box {
    float: left;
    position: relative;
    width: 25%;
    margin-bottom: -70px;
    padding-bottom: 10px;
}
@media (min-width: 480px) and (max-width: 979px) {
    ul#hp-boxes li.hp-box {
        width: 50%;
    }
    li#hp-box-3.hp-box {
        clear: left;
    }
}
@media (max-width: 479px) {
    ul#hp-boxes li.hp-box {
        width: 100%;
        clear: both;
    }
}

ul#hp-boxes li.hp-box img {
    width: 100%;
}
.hp-box-text {
    position: relative;
    top: -70px;
    padding: 18px;
    background-image: url('../../../../images/home2014/hp-layout/hp-box-bg.png')/*tpa=http://www.emc.com/images/home2014/hp-layout/hp-box-bg.png*/;
    color: #ffffff;
}
.hp-box-text h2 {
    font-family: ff-meta-web-pro, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 5px;
}
.hp-box-text p {
    color: #cccccc;
    font-family: ff-meta-web-pro, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 5px;
}
#hp-boxes a:link .hp-box-link,
#hp-boxes a:visited .hp-box-link {
    color: #ffffff;
    text-decoration: none;
    font-family: ff-meta-web-pro, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 5px;
}
#hp-boxes a:hover .hp-box-link,
#hp-boxes a:active .hp-box-link {
    color: #ffffff;
    text-decoration: underline;
    font-weight: bold;
}
                 
                 
/* responsive images */   
.ri, .ri-xl, .ri-lg, .ri-md, .ri-sm { display: none; }

.ri-inner {
    width: 100%;
    height: 100%;
}

@media (min-width: 980px) {
    .ri-lg { display: block; }
}
@media (min-width: 480px) and (max-width: 979px) {
    .ri-md { display: block; }
}
@media (max-width: 479px) {
    .ri-sm { display: block; }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    .ri-lg {
        display: none;
    }
    .ri-xl {
        display: block;
    }
    .ri-xl .ri-inner {
        -webkit-background-size: 2500px 542px;
        -moz-background-size: 2500px 542px;
        -o-background-size: 2500px 542px;
        background-size: 2500px 542px;
    }
}
