.millennials .intro .car {
  left: 80%;
  opacity: 1;
}

.millennials .info-section.section-4 .map .map-line {
  opacity: 1;
}
.millennials .info-section.section-4 .map .small-pie,
.millennials .info-section.section-4 .map .big-pie {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1); 
}
.millennials .info-section.section-4 .lines li {
  position: absolute; 
}
  .millennials .info-section.section-4 .lines li[data-orientation="left"]:before {
    width: 100%; 
  }
  .millennials .info-section.section-4 .lines li[data-orientation="right"]:after {
    width: 100%; 
  }
.millennials .info-section.section-4 .custom-donut-item.animate .lines li[data-orientation="left"]:before {
  width: 100%; }
.millennials .info-section.section-4 .custom-donut-item.animate .lines li[data-orientation="right"]:after {
  width: 100%; }
.millennials .info-section.section-4 .custom-donut-item.animate .donut {
  opacity: 1;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg); }
.millennials .info-section.section-4 .custom-donut-item.animate .title {
  opacity: 1; }