body{
	line-height:1em;
}
#home{ background-position: right 240px; }

#home #flashcontent{ margin-bottom:17px; }

/* start jQuery tabs.slideshow styles */
.forward, .backward {display:block;}
/* end jQuery tabs.slideshow styles  */
