.ektron-aloha-button.ektron-aloha-embed-button{background:url('../images/silk/icons/page_white_flash.png')/*tpa=http://www.nov.com/WorkArea/FrameworkUI/images/silk/icons/page_white_flash.png*/ no-repeat scroll 0 0 transparent;width:23px;height:23px;margin:1px 0 5px 5px}.ektron-aloha-embed-modal{width:790px;display:none}.ui-dialog .ektron-aloha-embed-modal{display:block}.ektron-aloha-embed-modal-iframe{display:none}.ui-dialog .ektron-aloha-embed-modal-iframe{border:solid 1px #D4D4D4;margin:auto;display:block}

.ektron-aloha-button.ektron-aloha-library-button{background-image:url('../images/silk/icons/book.png')/*tpa=http://www.nov.com/WorkArea/FrameworkUI/images/silk/icons/book.png*/;background-position:0 center}.ektron-aloha-library-modal{width:790px;display:none}.ui-dialog .ektron-aloha-library-modal{display:block}.ektron-aloha-library-modal-iframe{display:none}.ui-dialog .ektron-aloha-library-modal-iframe{border:solid 1px #D4D4D4;margin:auto;display:block}

.ektron-aloha-button.ektron-aloha-translate-button{background:url('../images/sprites/sprite-aloha-icons.png')/*tpa=http://www.nov.com/WorkArea/FrameworkUI/images/sprites/sprite-aloha-icons.png*/ 0 68px}.ektron-aloha-translate-modal{width:790px;display:none}.ui-dialog .ektron-aloha-translate-modal{display:block}.ektron-aloha-translate-modal-iframe{display:none}.ui-dialog .ektron-aloha-translate-modal-iframe{border:solid 1px #D4D4D4;margin:auto;display:block}

.ektron-aloha-button.ektron-aloha-template-button{background:url('../images/silk/icons/page_white_text.png')/*tpa=http://www.nov.com/WorkArea/FrameworkUI/images/silk/icons/page_white_text.png*/ no-repeat scroll 0 0 transparent;width:23px;height:23px;margin:1px 0 5px 5px}.ektron-aloha-template-modal{width:790px;display:none}.ui-dialog .ektron-aloha-template-modal{display:block}.ektron-aloha-template-modal-iframe{display:none}.ui-dialog .ektron-aloha-template-modal-iframe{border:solid 1px #D4D4D4;margin:auto;display:block}

.ektron-aloha-button.ektron-aloha-validator-button{background:url('../images/sprites/sprite-aloha-icons.png')/*tpa=http://www.nov.com/WorkArea/FrameworkUI/images/sprites/sprite-aloha-icons.png*/ 0 52px}.ektron-aloha-validator-modal{width:790px;display:none}.ui-dialog .ektron-aloha-validator-modal{display:block}.ektron-aloha-validator-header{float:left}.ektron-aloha-validator-title{float:left;margin-left:1.5em}.ektron-aloha-validator-optionsWrapper{clear:left}.ektron-aloha-validator-radio{vertical-align:middle}.ektron-aloha-validator-clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}.ektron-aloha-validator-clearfix{display:inline-block}/*\*/* html .ektron-aloha-validator-clearfix{height:1%}.ektron-aloha-validator-clearfix{display:block}/**/

