/* CSS Document */
/* last updated: 11-20-08 =============================================================================*/



/* BEGIN clearing floats ===============================================================================================*/
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {
	display: inline-block;
}
/* Hides from IE-mac \*/
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
/* End hide from IE-mac */
/* END clearing floats ==================================================================================================*/


/* BEGIN site-wide navigation ============================================================================================*/

#navigation {
	background: #fff;/*	float: right;
	font-size: 11px;*/
	position:relative;
	z-index:100;
}
#navigation ul {
	list-style: none;/*	position: relative; */
}
#navigation div {
	position: relative;
}
#navigation div.link {
	z-index:200;
}
#navigation div.topNav {
	float:left;
}
#navigation div.topNav a {
	display: block;
	padding: 0 10px;
/*	padding: 6px 10px;*/
	text-decoration: none;
	color: #666;
	background: #fff;
	border: 1px solid #fff;
	letter-spacing: 1px;
	font-size: 15px;
	font-weight: bold;
	/*line-height: 1.2em;*/
	line-height: 30px;
	height: 30px;
}
/*#navigation div.topNav a:hover {
	color: #fe7c0b;
	border: 1px solid #fe7c0b;
	border-bottom: none;
}*/
#navigation div.subNav {
	display: none;
	position: absolute;
	width: 276px;
	top: 30px;
	left: 0;
	padding: 9px;
	border: 1px solid #666;
	background: #f7f7f7;
	z-index:100;
}
#navigation div.subNav li a {
	float: none;
	display: block;
	padding: 4px 0;
	text-decoration: none;
	color: #666;
	background: transparent;
	border: none;
	font-size: 11px;
	letter-spacing: 0;
	font-weight: bold;
	height: 1%; /* kluge: removes large gaps in IE/Win *//*	border-right: 1px solid #0377cc;  */
	line-height: 1.2em;
}
#navigation div.subNav li a:hover {
	color: #a51681;
}
#navigation .topNav:hover div.link a, #navigation div.over div.link a {
	color: #00b5e5;
	background: #f7f7f7;
	border: 1px solid #666;
	border-bottom: none !important;
}
#navigation .topNav:hover div.subNav, #navigation div.over div.subNav {
	display: block;
}
/* you are here effect */
#navigation .topNav:hover div.link a.noDrop, #navigation div.over div.link a.noDrop {
	border-bottom: 1px solid #666 !important;
}
#businessPage #business .link a, #geographiesPage #geographies .link a, #aboutPage #about .link a, #newsPage #news .link a, #investingPage #investing .link a, #careersPage #hr .link a {
	color: #00b5e5;
	background: #f7f7f7;
	border: 1px solid #666;
}
.youarehere {
	color: #00b5e5 !important;
	background: #f7f7f7 !important;
	border: 1px solid #666 !important;
}
/* BEGIN sidebar navigation ===========================================================================================*/

#sideNav {
	border-top: 1px solid #9d9fa2;
	border-bottom: 1px solid #9d9fa2;
	/*	line-height: 14px;*/
	margin: 16px 0 20px 0;
	padding: 12px 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 1.3;
	font-weight: bold;
}
#sideNav.noRules {
	border: none;
}
#sideNav li {
	list-style: none;/*	position: relative; */
	padding: .3em 0;
	color: #000;
}
#sideNav a {
	display: block;
	text-decoration: none;
	height: 1%; /* kluge: removes large gaps in IE/Win *//*	border-right: 1px solid #0377cc;  */
	font-weight: bold;
}

#sideNav li.menuTitle ul {
	font-size: 11px;
	/*margin-bottom: 1.5em;*/
	margin: 0.3em 0 0.5em;
	padding-left: 10px;
}
#sideNav li.menuTitle ul.last {
	margin-bottom: 0;
}
#sideNav a {
	color: #666;
}
#sideNav li ul a {
	color: #808285;
}
#sideNav a:hover {
	color: #00b5e5;
}
#sideNav .collapsed {
	background: none;
}
/*#sideNav .displayed a.selected {
	color: #00b5e5;		
}*/
#sideNav a.selected {
	color: #00b5e5;
}
a.selected {
	color: #00b5e5;
}
#sideNav .hide {
	display: none;
}
#sideNav .show {
	display: block;
}
#sideNav .show a:hover {
	color: #a51681;
}
/* rule added: 05-31-2011
#sideNav li ul {
	margin-left: 1em;
}
*/
/* BEGIN sidebar utility bar ===========================================================================================*/
.sidebarUtility {
	font-size:95%;
}
.sidebarUtility li {
	display:inline;
/*	padding: 0 .5em;*/
	padding: 0 3px;
}
.sidebarUtility a {
/*	padding-left: 26px;*/
	color: #808285;
}
.sidebarUtility img {
	border: none;
}
li.sb_pipe {
	padding-right: 16px;;
}
#sidenavContainer .sidebarUtility a:link, #sidenavContainer .sidebarUtility a:visited, #sidenavContainer .sidebarUtility a:active {
	text-decoration: none;
}
.sidebarUtility a.email {
	background: url(../images/icons/icn_email.gif)/*tpa=http://www.aecom.com/internet1/images/icons/icn_email.gif*/ no-repeat left 0;
	padding-left: 26px;
}
.sidebarUtility a.print {
	background: url(../images/icons/icn_print.gif)/*tpa=http://www.aecom.com/internet1/images/icons/icn_print.gif*/ no-repeat left 0;
	padding-left: 26px;
}
.sidebarUtility a.rss {
	background: url(../images/icons/icn_rss.gif)/*tpa=http://www.aecom.com/internet1/images/icons/icn_rss.gif*/ no-repeat left 0;
	padding-left: 26px;
}
.sidebarUtility a.noIcon {
	background: none;
	padding-left: 0;
}
.sidebarUtility a:hover {
	text-decoration: underline !important;
}
/* END sidebar navigation =================================================================================*/





/* BEGIN utility formatting ============================================================================================*/

#corpId {
	position: relative;
	color: #666;
	height:58px;
	background: #fff;
	z-index:200;
}
#corpId #img1 {
	position: absolute;
	top: 47px;
	right: 0;
}
#util {
	/*	float: right;*/
	font: 10px/22px Arial, Helvetica, sans-serif;
	position: relative;
	z-index: 300;
}
#util ul {
    	list-style: none outside none;
    	margin: 0;
    	padding: 3px 8px;
}
#util ul li {
	float: left;
	margin: 0;
	position:relative;
}
#util a {
	padding: 0 8px;
	color: #999;
	text-decoration: none;
}
#util .pipe {
	color: #fff;
}
#util a:hover {
	text-decoration: underline;
}
.search * {
	font: 10px Arial, sans-serif;
}
.search table {
	border-collapse: collapse;
}
#head .search table.utility {
	margin-left: 104px; /*changed: 10-19-09*/
}
.searchtext {
	height: 14px;
	width: 120px;
}
input.srchBtn {
	font: 10px/18px Arial, Helvetica, sans-serif;
	color: #fff;
	background-color:#808285;
	border-style: none;
	width: 54px;
	height: 18px;
	font-weight: bold;
	margin: 0;
	padding: 0;
}
#languagehoice {
	width: 164px;
	height: 20px;
	border: 1px solid #dddddd;
}
/* END utility formatting ============================================================================================*/

/* left nav formatting alterations 10-2010 ===========================================================================*/
#sideNav.blNav {
	padding: 6px 0;
}
#sideNav.noRules {
	border: none;
}
#sideNav.blNav li {
	list-style: none;/*	position: relative; */
	padding: 0 12px;
}

li.blNav {
	padding: 1.5em 0 0.3em 0;
	margin: 10px 0;
	text-decoration: none;
	font-weight: bold;
	color: #666;
}

#sideNav li.blNav ul a:hover {
	color: #00b5e5;
}
/* left nav formatting alterations 10-2010 ===========================================================================*/
#sideNav li.msHead, #sideNav li.paHead {
	padding: 0.3em 0;
	margin-left: -1px;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	color: #000;
}
/*#sideNav li.msHead ul a:link,
#sideNav li.msHead ul a:active,
#sideNav li.msHead ul a:visited {
	color: #414042;
}*/
/*#sideNav li.msHead ul a:hover {
	color: #00bce4;
}*/
#sideNav li.msHead {
	padding-top: 1em;
}
#sideNav.msHead {
	padding-bottom: 16px;
}

div.subsidiaryLogo {
	padding-left:11px;
	display: block;
}
form#intranetSearch input.srchBtn {
	background: #808285 url(../images/icons/search_icn.png)/*tpa=http://www.aecom.com/internet1/images/icons/search_icn.png*/ no-repeat center center;
}