@charset "utf-8";
/* CSS Document */

* {
margin: 0;
padding: 0;
}

body {
/*	color:#808285;*/
		color:#666;
	font-family:Arial, Helvetica, sans-serif;
	/*font: 100.1%/1.2 Verdana, Arial, Helvetica, sans-serif;*/
	font-size:72.5%;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	/*	line-height:1.88889;*/
	padding-bottom: 10px;
	}
	
#head {
	width: 942px;
	margin: 0 auto;
	padding: 20px 22px 16px;
/*	border-bottom:  1px solid #000;*/
	position: relative;
	/*z-index: 10000;*/
	/*z-index: 1000;*/
	z-index: 5000;
}	

#siabcontainer {
	width: 100%;
/*	width: 986px;*/
	margin-top: -3px;
/*	line-height: 130%;*/
/*	position: relative;*/
	border-top: 1px solid #808285;
	background: #fff url(../images/contentBlend_tile.gif)/*tpa=http://www.aecom.com/internet1/images/contentBlend_tile.gif*/ repeat-x center top;
}
/*iframe {
	border-top: 1px solid #808285;
	margin-top: -3px;
	padding-top: 2px;
	background: #fff url(/internet1/images/contentBlend_tile.gif) repeat-x center top;
}*/

#container {
	width: 926px;
	padding: 32px 30px 50px;
	margin: 0 auto 0;
}
#container2 {
	width: 936px;
	padding: 32px 30px 50px 20px;
	margin: 0 auto 0;
}
#landingFlash {
	width: 986px;
	margin: 0 auto 0;
}
#storiesHome {
	width: 801px;
	height: 505px;
	margin: 0 auto 0;
}
#storiesHome .box {
	padding: 20px 0;
	margin: 0;
}
#storiesDetail {
	width: 801px;
	height: 458px;
	margin: 24px auto 23px;
	position: relative;
}
/*BEGIN non-flash rules - geographies ==================================================================*/
#geographies #landingNonFlash {
	position: relative;
	width: 986px;
	height: 555px;
	margin: 0 auto 0;
	background: url(../images/geographies/world_nohighlight.jpg)/*tpa=http://www.aecom.com/internet1/images/geographies/world_nohighlight.jpg*/ no-repeat center top;	/*position: relative;*/
}
#geographies #landingNonFlash div {
	position: absolute;
	top: 0;
	left: 0;
}
#geographies #mapNav {
	position: absolute;
	top: 420px;
	right: 30px;
	z-index: 2000;
}
#geographies #mapNav li {
	list-style: none;
	float: left;
}
#geographies #mapNav li a {
	padding: 6px 14px;
	/*	width:100px;
	heigth:24px;*/
	display: block;
	border: 1px solid #fff;
	background: #FFFFFF;
	text-decoration: none;
	font-size: 13px;
}
#geographies #mapNav li a:hover {
	border: 1px solid #808285;
}
/*END non-flash rules ==================================================================*/

/*BEGIN non-flash rules - services ==================================================================*/
#services #landingNonFlash {
	position: relative;
	width: 866px;
/*	padding: 30px 60px 30px;*/
	padding: 20px 60px 20px;
	margin: 0 auto 0;
	background: none;
}
/*#servicesNav {
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 2000;
}*/

#servicesNav {
	float: left;
}
#servicesNav li {
	list-style: none;
	padding: 6px 0;
}
#servicesNav li a {
	display: block;
	border: none;
	text-decoration: none;
/*	font-size: 30px;
	line-height: 34px;*/
	font-size: 25px;
	line-height: 28px;
}
#servicesNav li a:hover {
	border: none;
}
#servicesText {
	float: right;
	width: 313px;
	height: 480px;
	overflow: hidden;
}
#servicesText .sidebarUtility {
	float: right;
}
/*#servicesText {
	width: 313px;
	height: 480px;
	position: absolute;
	right: 30px;
	top: 20px;
	overflow: hidden;
}*/
/*END non-flash rules ==================================================================*/

/*BEGIN sets full column specs for home and overview pages =====================================*/

#fullColumnWidth {
/*	margin-bottom: 22px;*/
	border: none;
	height: 260px;
	padding: 22px;
	background-color:#003366;
	color:#fff;
}
/*END sets full column specs for home and overview pages =====================================*/

#pannelone {
	display: inline;
	clear: both;
	float: left;
	width: 230px;
}
#panneltwo {
	display: inline;
	float: right;
	padding-bottom:12px;
	width: 200px;
}
#pannelthree {
	float: left;
	margin: 0 30px;
	width: 482px;
}
#content {
	float: left;
/*	width: 584px;*/
	width: 586px;
/*	border-left: 1px solid #C4C4C4;
	border-right: 1px solid #C4C4C4;*/
/*	padding: 22px;*/
	/*max-width: 36em;*/
}
#contentColSpan1 {
	display:inline;
	width: 742px;
	float:left;
/*	border-left: 1px solid #C4C4C4;*/
	margin-right: 0px;
	/*border-right: 0px solid #C4C4C4;*/
	/*padding: 22px;*/
}
#contentColSpan2 {
	display:inline;
	width: 690px;
	float:right;
	margin-right: 0px;
}
#contentColSpan2.imageList {
	width: 600px;
	margin-right: 90px;
}
#contentColSpan2.contactUs {
	width: 640px;
}
#templateA #contentColSpan2 {
/*	border-right: 1px solid #C4C4C4;*/
	border-left: none;
}
/* BEGIN columns for information page ===============================================*/

#threeCol_twoColLeft {
	width: 621px;
	float: left;
}
#threeCol_oneColRight {
	width: 300px;
	float: right;
}

/* END columns for information page ===============================================*/

div.overview {
	padding: 22px 120px 22px 222px;
}
#pannelone .box, #panneltwo .box {
	padding: 10px;
}
/*BEGIN content and sidebar nested in #contentColSpan2: main template B, C, D ==============================*/
#contentLeft {
/*	width: 510px;*/
	width: 502px;
	float: left;
	display: inline;
}
#financialLeft {
	width: 450px;
	float: left;
	display: inline;
	margin-bottom: 1em;
}
#financialSidebar {
	display: inline;
	float: right;
	padding-top: 6px;
	width: 200px;
	margin-bottom: 1em;
}
#contentRight {
	width: 380px;
	float: right;
/*	background: #c4c4c4;*/
}
#sidebar {
	display: inline;
	float: right;
/*	margin-left: 22px;*/
	padding-top: 6px;
	padding-bottom:12px;
	width: 154px;
/*	background: #c4c4c4;*/
}
#sidebar2 {
	display: inline;
	float: right;
/*	margin-left: 22px;*/
	padding: 8px;
	width: 156px;
	background: #f0f0f0;
}
#sidebar.personalInfo {
	font-size: .98em;
}
#sidebarLeft {
	float: left;
	margin-right: 22px;
	display: inline;
/*	padding-top: 6px;*/
	padding-bottom:12px;
	width: 178px;
}
#sidebarLeft img {
	width: 178px;
	height: 160px;
}
#projectDetail {
	width: 700px;
	float: left;
}
/*END content and sidebar nested in #contentColSpan2: main template B ==============================*/
/*.clearAll {
	width: 100%;
	height: 10px;
	clear: both;
}
*/
/*#home #panneltwo {
	display: inline;
	float: left;
	width: 180px;
	height: 400px;
	margin: 22px;
	margin-bottom: 0;
	padding: 22px;
	background-color:#003366;
	color:#fff;
}

#home #pannelone {
	display: inline;
	float: left;
	width: 180px;
	height: 400px;
	margin: 22px;
	margin-bottom: 0;
	padding: 22px;
	background-color:#003366;
	color:#fff;
}*/
/* BEGIN clearing floats ===============================================================================================*/
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {
	display: inline-block;
}
/* Hides from IE-mac \*/
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}

/* End hide from IE-mac */
/* END clearing floats ==================================================================================================*/
