@charset "utf-8";
/* CSS Document */
	
	
/************************ */
/* Fonts */
/********************** */
	h1, .page-title-block h1, .page-title {
	white-space: nowrap;
	margin:0 !important;
	padding:0 ;
	font-size:28px;
	line-height:35px;
	color:#007a50;
	font-weight:normal;
	display: block; 
	border: medium none !important;
	}
	.page-title h2, .sfContentBlock h2, .landing-intro-block h2, .content-reg-hdr2 {
	margin:2px 0 10px;
	color:#007a50;
	font-size:20px;
	line-height:24px;
	font-weight:normal;
	}
	h3, .sfContentBlock h3, .details h3, .landing-intro-block h3, .content-reg-hdr3 { /*margin-top:30px; */
	color:#000;
	font-size:14px;
	line-height:20px;
	font-weight:normal;
	margin: 16px 0 4px;
	}
	.black {color:#000 !important;}
	.details h3, .page-title h3 { margin: 0 0 5px 0;}
	
	.text-link {
	display:inline;
	margin:0;
	padding:0 20px 0 0;
	color:#090;
	font-size:14px;
	line-height:14px;
	background:url(../Images/icon_link_arrows.png)/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/icon_link_arrows.png*/ right 1px no-repeat;
	} 
	.text-link:hover {
	color:#090;
	background-position:right -49px;
	}
	
	.sfContentBlock li {
 margin: 10px 0 0;
	}
	strong {
 color: #5a5a5a;
	}
	p {margin: 0 ;}
	.sfContentBlock p:last-child { margin: 0; }
	
	ul, ol { margin: 0 0 0 25px; }
 a.green-arrow:hover, a.light-arrow:hover {color:#007a50;}
/************************ */
/* Nav Search */
/********************** */
	a #widget-search:hover {
	text-decoration:none;
	}
	#nav-search { /*display: block; */ /* z-index:9000; */
	right: 20px;
	top: 17px;
	}
	.ie7 #nav-search {
	display:none; /*hide nav search for ie7 */
	}
	#nav-search .inner {
	padding: 16px 6px 12px 14px; 
	}
	#nav-search .sfsearchTxt {
	border: none;
	color: #999999;
	font-size:14px;
	width:162px;
	height: 30px;
	border-radius: 0;
	padding:0 40px 0 18px;
	}
	#gsc-i-id1 {
	border: none;
	color: #666;
	font-size:14px;
	height: 30px;
	border-radius: 0;
	padding:0 40px 0 18px;
	box-shadow: none;
	}
	.gsc-search-box {
	width:auto;
	}
	#gsc-iw-id1 {
	border: none !important;
	}
	.gsc-input-box {
	height: 26px !important;
	background:none repeat scroll 0 0 transparent !important;
	}
	#nav-search .gsc-input-box {
	height: 30px !important;
	}
	td.gsc-input {
	padding-right:0 !important;
	}
	
	table.gsc-search-box {
	background: url("../Images/google-search-bg-280.gif")/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/google-search-bg-280.gif*/ no-repeat scroll right top transparent;
	width: 280px !important;
	}
	div.gsc-clear-button { 
 	display: none !important;}
	#nav-search table.gsc-search-box {
	/* width: auto !important; */
	background: url("../Images/google-search-bg-nav-250.gif")/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/google-search-bg-nav-250.gif*/ no-repeat scroll right top transparent;
	width: 250px !important;
	}
	.gsib_a {
	padding: 2px 0 0 3px !important;
	}
	table.gssb_c {
	z-index: 9001 !important;
	width:100px !important;
	}
	.gsc-control-cse {
	padding:0 !important;
	}
	.gsib_b {
	display:none;
	}
	#nav-search .sfsearchTxt:focus {
	box-shadow: none;
	}
	#nav-search {
	/*display: block; */
	width:316px;
	}
	#nav-search .sfsearchSubmit {
	background: url("../Images/icon_search.gif")/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/icon_search.gif*/ no-repeat scroll 0px 0px transparent;
	border: 0 none;
	cursor: pointer;
		width: 28px;
	height: 28px;
	}
	#nav-search td.gsc-search-button {
	border: 0 none;
	cursor: pointer; 
	}
	#nav-search label {
	text-transform:uppercase;
	color: #fff;
	font-size:11px;
	float:left;
	vertical-align: middle;
	padding: 6px 10px 0 0;
	}
	input.gsc-input, .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus {
	border-color: transparent !important;
	box-shadow: none !important;
	}

/*------------------------------------ *\
	SEARCH BOX ABOVE SEARCH RESULTS
\*------------------------------------ */
	.search-results-search-box {
	line-height:14px; 
	}
	.search-results-search-box .gsc-search-box-tools .gsc-search-box .gsc-input {
	box-shadow: none; 
	}
	.search-results-search-box table.gsc-search-box {
	border-spacing: 0;
	border-style: none;
	border-width: 0;
	margin-bottom: 0;
	}
	.search-results-search-box #gsc-iw-id1 {
	margin-right: 0;
	}
	.search-results-search-box td.gsc-search-button {
	border: 0 none;
	cursor: pointer;
	width: 28px;
	height: 28px;
	border: none;
	}
	/* GSC Search Button for All */
	.cse .gsc-search-button input.gsc-search-button-v2, input.gsc-search-button-v2 {
	height: 26px !important;
	margin-top: 0 !important;
	min-width: 1px !important;
	padding: 0 30px 0 0 !important;
	width: 1px !important;
	}
	input.gsc-search-button, input.gsc-search-button:hover, input.gsc-search-button:focus {
	background-color: transparent !important;
	border-color: transparent !important;
	}
	input.gsc-input, .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus {
	border: none !important;
	}
	.search-results-search-label {
	float: left;
	font-size: 12px;
	padding: 7px 9px 7px 0;
	text-transform: uppercase;
	}
	.gsc-control-cse .gs-spelling, .gsc-control-cse .gs-result .gs-title, .gsc-control-cse .gs-result .gs-title * {
	font-size: 20px !important;
	margin-top: 10px !important;
	}
	.gs-webResult div.gs-visibleUrl, .gs-imageResult div.gs-visibleUrl, .gs-webResult .gs-snippet, .gs-imageResult .gs-snippet, .gs-fileFormatType {
	font-size: 14px !important;
	margin: 0 auto;
	padding: 0 auto;
	}
 
	.gs-result .gs-title, .gs-result .gs-title * {	 color:#000 !important ; 	 text-decoration: none !important ; 	}
	.gs-webResult.gs-result a.gs-title:link, .gs-webResult.gs-result a.gs-title:link b, .gs-imageResult a.gs-title:link, 
	.gs-imageResult a.gs-title:link b, 	.gsc-result-info {	color:#000 !important ; 	}
	.gsc-result-info {
 	color: #000000 !important; 	padding: 20px 8px 5px !important; }
	.gs-webResult div.gs-visibleUrl, .gs-imageResult div.gs-visibleUrl { 
 	color: #090 !important ; 	}
	.gs-webResult .gs-snippet, .gs-imageResult .gs-snippet, .gs-fileFormatType { 
 	color: #666 !important ; 	}	
	.gsc-results .gsc-cursor-box .gsc-cursor-page { 
 	color: #090 !important ; 	}
	.gsc-results .gsc-cursor-box .gsc-cursor-current-page{	color: #090 !important ; 	}	
	.gsc-webResult .gsc-result { 
 	padding: 4px 0 !important ;	}
/************************ */
/* Search Autocomplete */
/********************** */
	.ui-autocomplete {
	border:none;
	background: none;
	background-color:#eee;
	border-radius: 0;
	width: 271px;
	padding: 18px 20px;
	}
	.ui-autocomplete li {
	list-style:none;
	}
	.ui-autocomplete li a {
	height:35px;
	display:block;
	font-weight:bold;
	}
	li.autocomplete-label {
	height:35px;
	font-weight:bold;
	}
	.gsc-completion-container {
	border:none !important;
	background: none !important;
	background-color:#eee !important;
	border-radius: 0 !important;
	width: 271px !important;
	padding: 18px 20px !important;
	box-shadow: none !important;
	}
	.gsc-completion-container span {
	color:#009900;
	font-size:14px;
	}
	.gsc-completion-container .gsq_a {
	height:35px;
	display:block;
	font-weight:bold;
	}
/************************ */
/* WIDGET, UTILITIES */
/********************** */

	#widget-follow-box {
	z-index:9000;
	background-position: 253px 0;
	height: auto;
	margin: 19px 0 0 63px;
	width: 300px;
	}
	#widget-follow-box .inner {
	background-color: #077B51;
	border: medium none;
	border-radius: 0 0 0 0 !important;
	display: inline;
	float: left;
	height: auto;
	margin: 0;
	padding: 0;
	width: 100%;
	}
	#widget-follow-box .inner ul {
	background-color: #EEEEEE;
	border-top: 1px solid #FFFFFF;
	display: inline;
	float: left;
	height: 95px;
	margin: 5px 0 0 !important;
	padding: 0;
	width: 100%;
	}
	#widget-follow-box .inner ul li {
	background-image: none !important;
	border-right: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
	display: inline;
	float: left;
	height: 45px;
	margin: 0;
	padding: 0 0 0 20px;
	width: 129px;
	}
	#widget-follow-box .inner ul li a {
	color: #666666;
	display: block;
	font-size: 14px;
	height: 45px;
	line-height: 45px !important;
	width: 129px;
	}
	#widget-follow-box .facebook span.icon {
	margin:5px 0 0 0 !important;
	display:inline-block !important;
	width:38px !important;
	height:25px !important;
	background:url(../Images/icon_toolbox_share.png)/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/icon_toolbox_share.png*/ 0 0 no-repeat !important;
	}
	#widget-follow-box .facebook:hover span.icon {
	background-position:0 -25px !important;
	}
	#widget-follow-box .twitter span.icon {
	margin:0;
	display:inline-block !important;
	width:38px !important;
	height:25px !important;
	background:url(../Images/icon_toolbox_share.png)/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/icon_toolbox_share.png*/ 0 -50px no-repeat !important;
	}
	#widget-follow-box .twitter:hover span.icon {
	background-position:0 -75px !important;
	}
	#widget-follow-box .linkedin span.icon {
	margin:0;
	display:inline-block !important;
	width:38px !important;
	height:25px !important;
	background:url(../Images/icon_toolbox_share.png)/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/icon_toolbox_share.png*/ 0 -100px no-repeat !important;
	}
	#widget-follow-box .linkedin:hover span.icon {
	background-position:0 -125px !important;
	}
	#widget-follow-box .google span.icon {
	margin:0;
	display:inline-block !important;
	width:38px !important;
	height:25px !important;
	background:url(../Images/icon_toolbox_share.png)/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/icon_toolbox_share.png*/ 0 -150px no-repeat !important;
	}
	#widget-follow-box .google:hover span.icon {
	background-position:0 -175px !important;
	}
/************************ */
/* Video */
/********************** */

	p.video-caption {
	background-color:#eee;
	padding:18px 20px;
	font-size:12px;
	max-width: 830px;
	}
	.video-transcript {
	max-width: 830px;
	}
	.video-transcript h2 {
	color:#000;
	font-size:20px;
	}
	.btn-video-model {
	background: url("../Images/icon_expand.png")/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/icon_expand.png*/ no-repeat scroll 0px 0px transparent;
	cursor: pointer !important;
	display: block;
	height: 34px;
	right: 0;
	position: absolute;
	top: 0;
	width: 34px;
	z-index: 20;
	}
		.btn-video-model:hover {
	background: url("../Images/icon_expand.gif")/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/icon_expand.gif*/ no-repeat scroll 0px 0px transparent; }
	#mask {
	position:fixed;
	z-index:9000;
	background-color:#000;
	display:none;
	width:100%;
	height:100%;
	top:0;
	left:0;
	}
	#video-modal {
	width:932px; 
	height:auto;
	display:none;
	background-color: #fff;
	position: absolute;
	z-index:9999;
	padding: 15px 20px 10px 20px;
	margin:0 auto;
	}
	
	#video-modal #toolbox-modal {
	float:left;
	width:auto;
	}
	.close-btn {
	background: url("../Images/icon_close.gif")/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/icon_close.gif*/ no-repeat scroll top right transparent;
	text-transform:uppercase;
	color:#999;
	font-size:11px;
	float:right;
	display:block;
	width:76px;
	height:34px;
	padding: 8px 0 0 0;
	}
	p.video-caption-modal {
	background-color:#eee;
	padding:18px 20px;
	font-size:12px;
	float:left;
	}
	a.video-transcript-link {
	float: right;
 	font-size: 13px;
 	font-weight: bold;
	line-height: 15px;
	 margin-top: 5px; text-align: right;
 	}
	/* Hero Image Carousel */
	
	.hero-image-carousel-secondary .hero-image-carousel-container .hero-image-carousel {
    width: 74%;
}
	.hero-image-carousel-container {
	position: relative;
	width:99.8%; /* Limits hero image carousel container width to line up with small feature &editorial images*/
	}
	
	.hero-image-carousel-secondary .hero-image-caption-area {
    float: left;
    padding: 0 20px ;
    width: 20% ; }
	
	.hero-image-caption-area {
	background-color: transparent;
	position: relative;
	height:auto;
	/* width:100%; */
	padding: 2px 15px 15px;
	}
/*	.hero-image-carousel-secondary-container .hero-image-caption-area {
	padding: 0 2%;
	}*/
	.hero-image-caption-area h2 {
	font-size: 20px;
	line-height:22px;
	text-shadow: 0 0 10px #000000;
	}
	.hero-image-caption-area p {
	text-shadow: 0 0 5px #000000;
	margin: 0 0 15px;
	}
	/*.hero-image-carousel-secondary-container .hero-image-caption-area h2 {
	margin-top:5%;
	}*/
	/* Hero Video */
	.video-long-title {
	position:absolute;	font-size:40px;	line-height:44px;	font-weight:bold;	width: 88%;	height:auto;	left: 6%;	bottom:6%;	color:#fff;	display:none; 	z-index: 20;	text-shadow: 1px 1px 2px #000;	}
	.vjs-default-skin .vjs-big-play-button {
	background: url("../Images/icon_video_play.png")/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/icon_video_play.png*/ no-repeat scroll 0 0 transparent !important;
	border: none !important;
	border-radius: 0 !important;
	box-shadow: none !important;
	cursor: pointer !important;
	display: block;
	height: 8em;
	left: 52% !important;
	margin: -42px 0 0 -42px;
	opacity: 0.95;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 8em;
	z-index: 2;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)" !important;
	filter:none !important;
	}
	.vjs-default-skin .vjs-big-play-button:hover {opacity: 0.85;}
	.vjs-default-skin div.vjs-big-play-button span {
	display: none !important;
	}
	.videoWrapper {
	position: relative;
	padding-bottom: 56%; /* video dimensions - height/width */
	padding-top: 0px;
	height: 0;
	z-index:18;/*z-index: 1000; */
	}
	
	.videoWrapper-haivision 
	{
	    padding-bottom: 60%; /* video dimensions - height/width */
	    margin-bottom:2%;   
	}
	.videoWrapper-small {
	position: relative;
	padding-top: 0px;
	height: 0;
	z-index:18;/*z-index: 1000; */
	width:420px;
	height:236px;
	}
	video {
	position: absolute !important;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
	/*z-index: 1; */
	}
	video.video-js {
	z-index: 1000;
	}
	.video-js .vjs-controls {
	z-index: 1002;
	}
	.video-js .vjs-big-play-button {
	z-index: 1002; /* display:none; Hide for initial load */
	}
	.videoWrapper .video-js, .videoWrapper .tpPlayer {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    /*	z-index: 1; */
	    background: #000000;
	    margin-top:16px;
	}
	.videoWrapper object, .videoWrapper embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100% !important;
	/*z-index: 1; */
	}
	.vjs-spinner {
	display: none !important;
	}
	.video-js img.vjs-poster, .video-js .vjs-poster {
	height: auto !important;
	width: 100% !important;
	/*z-index: 1; */
	margin: 0 auto;
	padding: 0;
	cursor: pointer;
	max-height: 100%;
	position: absolute ;
	}	
	.videoTranscript {
	margin-bottom:50px;
	}
	.small-video 
	{
	    z-index:2000;
	}
	
	.ie7 .small-video .vjs-fullscreen-control, .ie8 .small-video .vjs-fullscreen-control
	{
	    display:none;
	}
	
	.link-list br {    margin: 0 0 10px;}
/************************ */
/* Notifications */
/********************** */

	.notification-wrapper {
	background:#077b51 url("../Images/icon_notifications.png")/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/icon_notifications.png*/ no-repeat scroll 18px center;
	padding:20px 0 0 0;
	float:left;
	}
	.notification-msg {
	font-size: 17px;
	padding: 0 14px 20px 75px;
	color:#fff;
	}
	.notification-btn {
	background: none repeat scroll 0 0 #fff;
	border: 0 none;
	color: #077b51;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: 400;
	/*height: 20px; */
	margin: 0 20px 20px 0;
	padding: 5px 12px 4px;
	white-space: nowrap;
	font-weight:bold;
	text-align:center;
	}
	
	.wei-btn {
 	 background: #fff;
	border: 0 none;
	color: #007A50;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	font-weight: 400;
	height: 20px;
	margin: 8px 22px 3px 0;
	padding: 5px 18px 4px 18px;
	white-space: nowrap;
	}
	.wei-btn:hover {
	color:#004d00; 
	}
	.wei-notice { 
	background: url(../Images/warning.gif)/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/warning.gif*/ no-repeat 15px 15px #007A50;
	color: #FFFFFF;
	display: inline-block;
	font-family: HelveticaNeu,Arial,Helvetica,sans-serif;
	margin: 0 0 10px;
	padding: 14px 0;
	}
	
	.wei-notice-msg { 
	font-size: 16px;
 	padding: 0 14px 0 70px;
 	margin: 3px 0;
	}
	
	.wei-right {
	float:right;
	}
/************************ */
/* Performance Data */
/********************** */

	ul.performance-list {
	margin:0;
	padding:0;
	position:relative;
	}
	.performance-list_inner {
	margin: 0 !important;
	position:relative;
	}
	.performance-list_inner .clrfix:after {
	display:none !important;
	content: " ";
	}
	ul.performance-list li {
	list-style: none;
	color:#fff;
	border-bottom:1px solid #fff;
	text-transform:uppercase;
	font-size:15px;
	line-height:17px;
	font-weight:bold;
	padding:0 0;
	background-color: #fff;
	overflow: hidden;
	margin: 0 !important;
	min-height: 18px;
	position:relative;
	width:100%;
	}
	ul.performance-list li .performance-list_top-item {
	background: url("../Images/icon_performance_bullet.png")/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/icon_performance_bullet.png*/ no-repeat scroll 18px center #949494;
	display: block;
	height: 100%;
	padding: 10px 0 10px 30px;
	max-width: 100%;
	}
	ul.performance-list li.active .performance-list_top-item {
	background: url("../Images/icon_performance_bullet_down.png")/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/icon_performance_bullet_down.png*/ no-repeat scroll 16px center #007a50;
	}
	ul.performance-list_inner {
	/* margin:0 0 0 -35px; */
	position:relative;
	padding:0;
	display:none;
	}
	ul.performance-list_inner li {
	border:none;
	background-color:#fff;
	color: #666;
	font-size:14px;
	font-weight:normal;
	text-transform:none;
	/*padding: 10px 0 8px 35px; */
	padding:0;
	margin: 0;
	}
	ul.performance-list_inner li.first {
	border-bottom:1px #ddd solid;
	color:#231f20;
	background: none repeat scroll 0 0 #EEFFEE !important;
	padding: 2px 15px;
	}
	ul.performance-list_inner li.shaded {
	background-color:#eee;
	}
	ul.performance-list_inner span {
	display:block;
	float:left;
	position:relative;
	padding: 2px 0;
	} 
	 .performance-list_inner .tc {text-align:center;} 
	 .performance-list_inner .t13px { font-size:13px; line-height:15px; text-transform:capitalize;}
	 .performance-list_inner .p15 {width:15%;}
	 .performance-list_inner .p20 {width:20%;}
	 .performance-list_inner .p45 {width:43%; margin-right: 2%;;}
	 .performance-list_inner .p50 {width:48%; margin-right: 2%;;}
	 .performance-list_inner .p30 {padding-left: 1%; width: 27%;}
	 
 .perf-details {
 clear: both;
 font-size: 13px;
 margin-left: 15%;
 padding: 12px 0;
 width: 80%;
	text-transform:none !important;
	display:none;
	}
	.perf-details .blk {padding:0 4px 0 0;} 
	
	.perf-show-detail {color: #007a50; clear: both; margin-left: 15%;
 padding: 12px 0; width: 80%; z-index:20;}
	.perf-hide-detail, .perf-show-detail { cursor: pointer; }
	.show-all-details , .hide-all-details {cursor: pointer; color: #007a50; text-align:right; background: url("../Images/icon_down_arrows-light.gif")/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/icon_down_arrows-light.gif*/ no-repeat scroll right -10px transparent;
 
 padding: 1px 14px 1px 0;}
	.show-all-details:hover , .hide-all-details:hover { text-align:right; text-decoration: underline;
 padding: 1px 14px 1px 0;}
	.hide-all-details {display:none;}
	.grn {color:#007a50;}

	span.col-title {	padding-right: 1% !important;	width: 40%;}
	span.col-stat {	text-align: center;	width: 11%;	color: #000;}
	ul.performance-list .perf-inner-li {padding: 7px 15px;}
	ul.performance-list .performance-list-label {	font-weight:bold;	padding: 10px 15px;	color: #000000;}
	.performance-list .performance-list-footnote {
	color: #000000;
	font-size: 85%;
	padding: 10px 40px 10px 15px;
	width: 94%;
	}
	span.indent-left { 
	clear: left;
	margin-left: 3%; 
	width: 37%;
	} 
	#global-offices ul.performance-list_inner li.first {
	padding: 15px 15px 2px;
	background: #FFFFFF !important;
	}
	
	#content-col .sfContentBlock {
	overflow: hidden;
 	 width: 100%; 
	}
	#content-col .sfVideoBlock {    overflow: visible; }
	
	.ie7 #content-col .sfContentBlock {
	clear: both; 
	width:99%;
	min-width:99%;
	}
	
	a.sfxlsx, a.pdf, a.pdf-no-after-text , .sfdownloadFileWrp a { background: url("../Images/hess_download.gif")/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/hess_download.gif*/ no-repeat scroll right 2px transparent  ; display: inline-block; line-height: 20px; padding: 1px 20px 2px 0 !important; line-height: 20px;
 clear: both; margin: 6px 0 0 !important;}
	
	.sfdownloadFileWrp {margin-bottom:22px !important;}
	a.sfxlsx:hover, a.pdf:hover, a.pdf-no-after-text:hover { background: url("../Images/hess_download_hover.gif")/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/hess_download_hover.gif*/ no-repeat scroll right 2px transparent ; }
	
	/*
	.pdf:before {
 content: "Download ";
	}
	 .sfxlsx:before {
 content: "Download ";
	}
 */
	
	a.flash, a.ex-link { background: url("../Images/hess_outbound_link.gif")/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/hess_outbound_link.gif*/ no-repeat scroll right 2px transparent  ;  display: inline-block;
 clear: both; margin: 6px 0 0 !important; line-height: 20px;
 padding: 1px 20px 2px 0 !important;}
	
		a.flash:hover, a.ex-link:hover { background: url("../Images/hess_outbound_link_hover.gif")/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/hess_outbound_link_hover.gif*/ no-repeat scroll right 2px transparent !important; }
/****************************** */
/* Responsive header and footer */
/****************************** */

	.mobile-menu, #mobile-menu, #footer-area .sfsearchBox, #footer-area .social-links, .resp-side-nav {	display:none;}
	
/**************************** */
/* MEDIA QUERY ALL SIZES WEI */
/**************************** */	
	
	/*header */
	#hdr-img .sfimageWrp {
	margin-right: 0 !important;
	}
	#logo-area {
	height: 71px;
	position: relative;
	}
	.logo-wrap {
	bottom: 0;
	min-width: 90px;
	position: absolute;
	width:100%;
	height:auto;
	}
	#util-area {
	z-index: 8900; 
	min-height:30px;
	position: relative;/*display: none !important; */ 
	}
	.ie7 #util-area { z-index: 1; 
	}
	.carousel { 
 margin-bottom: 0;
	}
	/* Breadcrumb */
	.sfBreadcrumbWrp {
	margin-left: -4px;
	}
	/* Sidebar */
	#side-col .rtsUL .rtsLI .rtsLink .rtsOut {
	border-top: 1px solid #DDDDDD;
	padding: 14px 10px 14px 1px;
	white-space: normal !important;
	}
	.ie7 	#side-col .rtsUL .rtsLI .rtsLink .rtsOut , .ie8 	#side-col .rtsUL .rtsLI .rtsLink .rtsOut { 
	padding:15px 10px 0; height: 23px !important;}
	 .ie8 	#side-col .rtsUL .rtsLI .rtsLink .rtsOut {    height: 15px !important;}
	
	
	.ie8 .RadTabStripLeft_nav-secondary .rtsLevel ul li, .ie8 .RadTabStripLeft_Sitefinity .rtsLevel ul li {padding:12px 0 0;}
	
	.ie7 #side-col .rtsLast, .ie8 #side-col .rtsLast{ 
	padding-bottom: 14px ; }
	/* Sidebar Tree View */
	
	#side-col .RadTreeView {
 float: right;
 width: 93% !important;
	border-bottom: 1px solid #DDDDDD;
 
 margin: 0 0 20px;
 
	}
	#side-col .RadTreeView * {
 background: none ;
 
 padding: 0;
	}
	.RadTreeView_Sitefinity, .RadTreeView_Sitefinity a.rtIn, .RadTreeView_Sitefinity .rtEdit .rtIn input {
	font:inherit !important;	
	}
	#side-col .RadTreeView_Sitefinity a.rtIn {
 line-height: inherit !important; white-space: normal;
 font-size: 105% !important;
	}
	#side-col .RadTreeView_Sitefinity a.rtIn {

	 color: #666666;
	 border-top: 1px solid #DDDDDD !important;
 display: block;
 padding: 14px 0 !important;
 text-decoration: none !important;
	}
	#side-col .RadTreeView_Sitefinity a.rtIn:hover {
	color:#007a50 !important;
	 border-top: 1px solid #DDDDDD !important;
 display: block;
 padding: 14px 0 !important;
 text-decoration: none !important;
	}
	#side-col .rtSelected a.rtIn {
 color: #007A50 !important;
	}
	#side-col .rtUL .rtLI .rtUL {
 font-size: 95%;
 margin-left: 5%;
	 
	}
	
	#side-col .RadTreeView .rtSp, #side-col .RadTreeView .rtPlus, #side-col .RadTreeView .rtMinus {
	display:none !important;
	}
	
	/* Sitefinity Content 2 Columns */
	.sf_cols .sf_2cols_1_50, .sf_cols .sf_2cols_2_50 {
	width:48.2%;
	margin: 0 3.5% 0 0;
	}
	.sf_cols .sf_2cols_2_50, .sf_2cols_2_50 .sf_2cols_2in_50 {
	margin: 0 0 0 0;
	}
	/* Sitefinity Content 3 Columns */
	.sf_cols .sf_3cols_1_33, .sf_cols .sf_3cols_2_34, .sf_cols .sf_3cols_3_33 {
	 margin: 0 3.5% 20px 0;
 width: 30.9%;/*	margin: 0 2% 15px 0;
 	width: 49%; */
	}
	.sf_cols .sf_4cols_1_25, .sf_cols .sf_4cols_2_25, .sf_cols .sf_4cols_3_25, .sf_cols .sf_4cols_4_25 {
	margin: 0 3.4% 0 0;
	width: 22.4%;
	}
	.sf_colsOut:last-child {
	margin-bottom: 3px;
	}
	.sf_cols .sf_3cols_3_33, .sf_cols .sf_4cols_4_25 {
	margin-right: 0;
	}
	.sf_4cols_2_25 .sf_4cols_2in_25, .sf_4cols_3_25 .sf_4cols_3in_25, .sf_4cols_4_25 .sf_4cols_4in_25, .sf_3cols_2_34 .sf_3cols_2in_34, .sf_3cols_3_33 .sf_3cols_3in_33 {
	margin-left: 0;
	}
	.sf_cols.small-feature-container {
	border-bottom:none;
	}
	
	.sf_2cols_1_50 .sfContentBlock, .sf_2cols_2_50 .sfContentBlock {
 border-bottom: none !important; margin-top: 0 !important; padding: 0 !important; margin-bottom:0 !important;}
	
	.sf_cols .sf_2cols_1_50 .small-feature-container ul li, .sf_cols .sf_2cols_2_50 .small-feature-container ul li, .sf_cols .sf_3cols_1_33 .small-feature-container ul li, .sf_cols .sf_3cols_2_34 .small-feature-container ul li, .sf_cols.sf_3cols_3_33 .small-feature-container ul li {
	margin:0 !important;
	}
 #content-col .small-feature-left-img-g-parent { padding: 0 0 10px !important; }
/* #content-col .small-feature-left-img-g-parent .sfitemRichText { margin: 0 0 6px !important; }*/
 #content-col .small-feature-with-image-2 .sfTxtContent , #content-col .small-feature-with-image-3 .sfTxtContent , #content-col .small-feature-with-image-multi .sfTxtContent { /*padding: 8px 0 0 !important;*/ }
 #content-col .sfitemTitle .sfTxtContent, #content-col .small-feature-with-image-2 .details .sfTxtContent , #content-col .small-feature-with-image-3 .details .sfTxtContent , #content-col .small-feature-with-image-multi .details .sfTxtContent { padding: 0 0 !important; }
 .ie7 #content-col .small-feature-left-img-g-parent .sfitemRichText { padding:0 0 15px !important; }
	.return-top> a:hover {
	 background: url("../Images/arr-return-top.png")/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/arr-return-top.png*/ no-repeat scroll right -16px transparent;
	}
	.return-top> a {
 background: url("../Images/arr-return-top.png")/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/arr-return-top.png*/ no-repeat scroll right 4px transparent;
 display: none;
 float: right;
 padding: 0 12px 4px;
	}
	.sfimageWrp {
	float: left;
	margin-right:5px;
	max-width: 100%;
	}
	
	#content-col .sf_cols .sf_colsIn > .sfimageWrp { margin-top: 20px; margin-bottom: 10px; } /*For user placeing full width images on first content block*/
		#content-col .sf_cols.last-div-block .sf_colsIn > .sfimageWrp { margin-top: 0; } /*For infographics*/
	/* footer */
	.footer-left {
	float:left;
	width:96.5%;
	}
	.footer-copyright, .footer-links {
	float:left;
	text-align:left;
	}
	.footer-copyright {
	margin-right: -35px;
	width: 280px \9;/*ie8 */
	}
	.footer-left .footer-links {
	margin-right: -35px;
	padding-left: 35px;
	}
	.footer-right {
	float:right;
	}
	.rtsUL {
	text-align: center;
	list-style: none outside none;
	margin:0 0px 0 6px;
	}
	.rtsUL > li {
	display: inline;
	float: none;
	padding: 0 0px;/* white-space: nowrap; */
	}
	
	.copyright-txt {
	white-space: nowrap;
	}
	#rights .sfimageWrp, #rights .sfContentBlock {
	float:none;
	}
	.mobile-captions {
	display:none;
	}
	#hdr-img {
	display:block;
	width:100%;
	}
	#hdr-img .sfimageWrp {
	width:100%;
	height: auto;
	}
	#hdr-img img {
	width:100%;
	height:auto;/*height:131px; */
	}
	/* CAROUSEL DESCRIPTION */	
	/*.wei-slider h2 {
	font-size:265%;
	line-height:120%;
	font-family:HelveticaNeu, Arial, Helvetica, sans-serif;
	text-shadow:1px 1px 3px #000000, 1px 2px 6px rgba(0, 0, 0, 0.3);
	font-weight:bold;
	}
	.wei-slider p {
	font-size:20px;
	line-height:normal;
	font-family:HelveticaNeu, Arial, Helvetica, sans-serif;
	text-shadow:2px 1px 2px #000000, 1px 2px 4px rgba(0, 0, 0, 0.3);
	margin: 0 0 10px;
	font-weight:normal;
	}*/
	
	/* SMALL FEATURES */
	.small-feature-with-image-3 ul li:nth-child(3n+1), .ie8 .small-feature-with-image-3 ul li.item3,  .ie7 .small-feature-with-image-3 ul li.item3 {clear: both;}
	.small-feature-with-image-3 ul li:nth-child(4), .small-feature-with-image-3 ul li:nth-child(5), .small-feature-with-image-3 ul li:nth-child(6) {margin-top:20px;}
	/*------------------------------------ *\
	IMAGE MODAL
	\*------------------------------------ */
	.img-wrppr-right {
	background:#EEEEEE; position: relative;
	}
	#img-modal {
	padding: 15x;
	box-shadow: 0 0 30px #000000;
	}
	.close-btn {
	background: url("../Images/icon_close.gif")/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/icon_close.gif*/ no-repeat scroll right top #FFFFFF;
	color: #999999;
	display: block;
	float: right;
	font-size: 11px;
	height: 26px;
	opacity: 0.85;
	padding: 8px 0;
	text-transform: uppercase;
	width: 76px;
	}
	
		.close-btn:hover {
	background: url("../Images/icon_close_hover.gif")/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/icon_close_hover.gif*/ no-repeat scroll right top #FFFFFF;}
		a.close-btn:hover { color:#333;
		}
	
	.hidden {	display:none; }
	.sfBrowseAndEditActionsList {	z-index:9000 !important; }
	
	/* Regular Contenblock Image*/
	.sfContentBlock > img {
 float: right;
 margin: 5px 0 15px 15px;
 width: 48.2%;
	}
	.sfContentBlock > img.img-full-width {
 float: none;
 margin: 0 0 10px;
 width: 100%;
	}
	
/* External Contact Form Iframe */
	
	#content {
	margin: 10px 0 !important;
	}
	/*------------------------------------ *\
			HIDE MOBILE LAYOUTS
	\*------------------------------------ */
	  .mobile-show, .show-768,   .show-960  {	display:none !important;	}
	  .mobile-hide, .hide-768,   .hide-960 {	display:block;  	 margin: 0; padding: 0;}
	.hide360 {	display:inline;	}
			
	/*------------------------------------ *\
			MEDIA QUERIES STARTS
	\*------------------------------------ */
	
@media only screen and (max-width:1220px) {
	
	/* Editorial Teasers */
	.editorial-teaser-container ul li h2.sfitemTitle {
	font-size: 115%;
	line-height: 130%;
	margin: 5% 5%;
	}
	.editorial-teaser-container .editorial-teaser-details a {
	margin: 0 0 0 5%;
	}
	.editorial-teaser-container .editorial-teaser-blackband a {
 	font-size: 16px;
	}
		
	/* Navigation */
	#main-nav .RadMenu_Sitefinity, #main-nav .RadMenu_Sitefinity a.rmLink {
	font-size: 13.5px;
	}
	#main-nav ul li {
	margin: 0 2%;
	}
	#main-nav ul li {
	margin:0 1.9% \0/IE8+9;
	}/* ie8, ie9 */
	}
@media only screen and (max-width:1155px) {
		#main-nav .RadMenu_Sitefinity, #main-nav .RadMenu_Sitefinity a.rmLink {
		font-size: 13px;
	}
		#main-nav ul li {
		margin: 0 1.95%;
	}
		#main-nav ul li {
		margin:0 1.85% \0/IE8+9;
	}/* ie8, ie9 */
		#main-nav ul {
	/* width: 98%; */
	}
	}
@media only screen and (max-width:1090px) {
	#main-nav .RadMenu_Sitefinity, #main-nav .RadMenu_Sitefinity a.rmLink {
	font-size: 13px;
	}
	#main-nav ul li {
	margin: 0 1.61%;
	}
	#main-nav ul li {
	margin:0 1.51% \0/IE8+9;
	}/* ie8, ie9 */
				
	/* Hero Image Carousel */
	.hero-image-carousel #carousel-controls, .hero-video-carousel #video-carousel-controls {
	top:190px ;
	}
	.editorial-teaser-container .editorial-teaser-blackband a {
 	font-size: 14px;}
	}
@media only screen and (max-width:1023px) {
	#main-nav .RadMenu_Sitefinity, #main-nav .RadMenu_Sitefinity a.rmLink {	font-size: 13px;	}
	#main-nav ul li {	margin: 0 1.48%;	}
	#main-nav ul li {	margin:0 1.38% \0/IE8+9;	}/* ie8, ie9 */
	#main-nav ul {	width: 99%;	}
	.footer-copyright {	width: 100%;	text-align: left;	}
	/* Video Carousel Modal Button */
	.btn-video-model { display:none;}
	.hero-video-caption-area { width:92%; margin-bottom: 20px;}
	.hero-video-carousel { width:100%;}
	
	.hero-image-carousel-secondary .hero-image-carousel-container .hero-image-carousel {
     width:100%;}
	.hero-image-carousel-secondary .hero-image-caption-area {  margin-bottom: 20px;  padding: 0 0 0 20px;  width: 90%;}
	
	}
@media only screen and (max-width:984px) {
	#main-nav ul li {	 margin: 0 1.4%;	}
	#main-nav ul li {	margin:0 1.3% \0/IE8+9;	}/* ie8, ie9 */
	
	}
@media only screen and (max-width:960px) {
	
	h1, .page-title-block h1, .page-title {		white-space: normal; }
		
	#logo-area {
	height: 54px;
	}
	#main-nav ul {
	float:left;
	}
	#main-nav .RadMenu_Sitefinity, #main-nav .RadMenu_Sitefinity a.rmLink {
	font-size: 13px;
	}
	#main-nav ul li {
	margin: 0 1.83%;
	}
	#main-nav ul li {
	margin:0 1.73% \0/IE8+9;
	}/* ie8, ie9 */
	#main-nav ul {
	width: 100%;
	}
	.gsc-control-cse .gs-spelling, .gsc-control-cse .gs-result .gs-title, .gsc-control-cse .gs-result .gs-title * {
 	font-size: 18px !important; }
	/* Sidebar */
	.RadTabStripLeft_nav-secondary .rtsLevel ul li .rtsLink, .RadTabStripLeft_Sitefinity .rtsLevel ul li .rtsLink {
	font-size: 14px;
	}
		
	/* Hero Video */
	.video-long-title {	font-size: 30px;	 line-height: 36px;	 	}
	.sfBreadcrumbWrp, .sfBreadcrumbWrp .RadSiteMap .sfBreadcrumbNavigation .rsmLink, .sfBreadcrumbWrp, .sfBreadcrumbWrp .RadSiteMap .sfNoBreadcrumbNavigation .rsmLink {
	font-size: 13px;
	}
	.content-intro-hdr {
	font-size: 16px;
	}
	/*.page-title h2, .hero-image-caption-area h2, .sfContentBlock h2, .landing-intro-block h2, .content-reg-hdr2, .small-feature-container ul li h2.sfitemTitle, .small-feature-container .small-feature-details h2, .hero-video-caption-area h2 {
	font-size: 16px;
	line-height: 20px;
	}*/
	.sfContentBlock h3, .landing-intro-block h3, .content-reg-hdr3 {
	font-size: 13px;
	line-height: 18px;
	}
	/*p {
	margin: 0 0 6px;
	}*/
	body, .hero-image-caption-area p, .small-feature-container ul li .details, .small-feature-container .small-feature-details .details, .small-feature-container ul li a, .small-feature-container .small-feature-details a, .hero-video-caption-area p, #rights .sfContentBlock {
	font-size: 13px;
	line-height: 18px;
	}
	.editorial-teaser-container .editorial-teaser-blackband a {
	font-size: 14px;
	line-height: 18px;
	margin: 0 4px 0 8px;
	padding: 6px 10px 6px 0;
	}
	.editorial-teaser-container ul li h2.sfitemTitle {
	font-size: 14px;
	line-height: 18px;
	}
	.btn-global a {
	font-size: 14px; padding: 6px 20px 5px 10px;
	}
 
	.editorial-teaser-container ul li h2.sfitemTitle {
	margin: 4% 5%;
	}
	.editorial-teaser-container .editorial-teaser-details a {
	margin: 0 0 0 5%;
	}
	.editorial-teaser-container .editorial-teaser-blackband a {
 	font-size: 13px;}
	
	.footer-left, .footer-right {
	font-size:13.5px;
	}
	.footer-left {
	width:95.5%;
	}
	.footer-left .footer-links {
	padding-left: 35px;
	}
		
	/* Hero Image Carousel */
	.hero-image-carousel #carousel-controls, .hero-video-carousel #video-carousel-controls {
	top:195px;
	}
		
	/* Editorial Teasers */
	.editorial-teaser-container ul li h2.sfitemTitle {
	font-size: 105%;
	line-height: 110%;
	margin: 4% 5% 3%;
	}
	.editorial-teaser-container .editorial-teaser-details a {
	margin: 0 0 0 5%;
	}
	.editorial-teaser-details .btn-global a, .btn-global a,  input.btn-global {
	font-size: 13px; line-height: 16px;
	}
	
	/* Sidebar */
	.rtsTxt {
	line-height: 16px;
	white-space: normal;
	}
	
	  .show-960 {	display:block !important; }
	  .hide-960 {	display:none; }
	#content-col .custom2col.show-960 {margin:0 !important;	}
	
	} /* End 960 */
	
@media only screen and (max-width:911px) {
	#main-nav ul li {
	margin: 0 1.5%;
	}
	#main-nav ul li {
	margin:0 1.4% \0/IE8+9;
	}/* ie8, ie9 */
	}
	
@media only screen and (max-width:863px) {
	#main-nav ul li {
	margin: 0 1.15%;
	}
	#main-nav ul li {
	margin:0 1.05% \0/IE8+9;
	}/* ie8, ie9 */
			
			/* Sidebar */
	.RadTabStripLeft_nav-secondary .rtsLevel ul li .rtsLink, .RadTabStripLeft_Sitefinity .rtsLevel ul li .rtsLink {
	font-size: 13px;
	}
	}
	
@media only screen and (max-width:815px) {
	#main-nav ul li {
	margin: 0 0.73%;
	}
	#main-nav ul li {
	margin:0 0.63% \0/IE8+9;
	}/* ie8, ie9 */
	}
	
@media only screen and (max-width:783px) {
	#hdr-img .sfimageWrp {
	display:none;
	}
	}
	
 @media only screen and (max-width:768px) {
	
	#content-col {	width: 100%;	}	
	/* UTILITIES */
	#util-area, #side-col {	display:none;	}
	#icon-print {	display:none !important;	}
	#toolbox .toolbox-icon-share {	background-position: 100px 0;	margin: 0 0 0 -90px;	}
	#toolbox .toolbox-icon-share {	width: 280px;	}
	#toolbox .toolbox-icon-share .inner ul li {	width: 119px;	}
	#toolbox .toolbox-icon-share .inner ul li.even {	border-right: medium none;	width: 120px;	}	 
	#toolbox .addthis_button_facebook .at16nc {	margin: 0 0 -8px;	}
	
	/* MOBILE MENU */ 
		
	.mobile-menu {
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	height:35px;
	display:block;
	}
	
	#mobile-menu {
	display:block;
	background:url(../Images/btn_mobile_nav_menu.png)/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/btn_mobile_nav_menu.png*/ left top no-repeat;
	width:90px;
	height:34px;
	position: absolute;
	right: 30px;
	top: 21px;
	}
	
	/*a.sfxlsx, a.pdf, a.pdf-no-after-text { line-height: 30px;}*/
	
	.sfBreadcrumbWrp {
 border-top: 1px solid #DDDDDD;
 color: #666666;
 line-height: 13px;
 margin: 0;
 padding: 10px 0;
	}
	.RadSiteMap .rsmOneLevel .rsmItem {
 font-size: 11px;
 font-weight: normal;
 line-height: 10px;}
	
	.sfBreadcrumbWrp li:nth-child(3), .sfBreadcrumbWrp li:nth-child(4), .sfBreadcrumbWrp li:nth-child(5)
	{display:none !important ; }
	
		.sfBreadcrumbWrp li:nth-child(1) a {padding-left:0 !important;}
		
		#toolbox {	 margin-left: -2px;/* margin-bottom: 0;*/ }
		
		#main-nav .RadMenu_Sitefinity, #main-nav .RadMenu_Sitefinity a.rmLink {
 
 padding: 0;}
	/* MAIN NAV */ 
	#main-nav {
	display:none;
	}
	#main-nav ul {
	width:100%;
	border:none !important;
	}
	#main-nav ul li {
	background-color:#007a50;
	width:50%;
	margin:0;
	padding:5px 0;
	border-bottom:1px solid #fff;
	}
	#main-nav ul li:hover {
	background:#fff;
	}
	#main-nav ul li a {
	color:#fff !important;
	font-size:13px;
	width:100%;
	margin:0;
	padding:5px 0 !important;
	text-align:center;
	}
	#main-nav ul li a:hover, #main-nav ul li:hover a {
	color:#007a50 !important;
	}
	#main-nav ul li div {
	display:none !important;
	}
	#main-nav .RadMenu_Sitefinity .rmHorizontal .rmItem a.rmLink .rmText {
	width: 100%;
	}
	#main-nav .RadMenu_Sitefinity .rmItem a.rmFocused, #main-nav .RadMenu_Sitefinity .rmItem a.rmSelected {
	border:none !important;
	border-style: none !important;
	}
	#hdr-area div {
	min-height:0;
	}
	#hdr-area {
	margin: 10px 0 ;
	border-bottom: none;
	padding-bottom: 0;
	}
	#logo-area img {
	max-width: 90px;
	width: 100%;
	}
	#content-col .sf_cols .sf_colsIn > .sfimageWrp {
 margin-top: 15px;
	}
	.gsc-input-box {
	height: 27px !important;
	}
	
	#content-col .sfContentBlock { float:left; float: left;
 margin: 10px 0;
 padding: 0 0 20px;}
	#content-col .sfContentBlock.custom2col { 
    padding: 0;
}
	/* FOOTER & FOOTER GOOGLE SEARCH 768 */ 
	#footer-area {
	padding-top: 0px;
	margin-top: 0;
	}
	#rights .rtsUL a {
 line-height: 30px;}
	.rtsUL { 
 margin: 0 0 0 6px; 
	}
	#footer-area .inner {
	margin: 0 auto;
	width: 340px;
	}
	#footer-area .sfsearchBox, #footer-area .social-links {
	display:block;
	}
	#footer-area .sfsearchTxt {
	border: 1px #ddd solid;
	color: #999999;
	font-size:14px;
	width:162px;
	height: 28px;
	border-radius: 0;
	padding:0 40px 0 18px;
	}
	#footer-area td.gsc-search-button {
	border: 0 none;
	cursor: pointer;
	text-indent:-2000px;
	width: 28px;
	height: 28px;
	display:block;
	margin: 0 0 0 -27px;
	}
	#footer-area .gsc-input {
	color: #999999;
	font-size:14px;
	box-shadow: none !important;
	height: 28px;
	border-radius: 0;
	padding:0;
	width: 194px;
	}
	.gsc-input-box {
	height:28px !important;
	border:none !important;
	}
	#gsc-iw-id1 {
	border: none !important;
	}
	#footer-area .sfsearchTxt:focus {
	box-shadow: none;
	}
	.gsc-input-box-focus {
	box-shadow:none !important;
	}
	
	/*footer */
	.return-top> a {display:block;}
	#footer-area label {
	text-transform:uppercase;
	color: #666;
	font-size:12px;
	float:left;
	vertical-align: middle;
	padding: 5px 9px 0 0;
	}
	#footer-area fieldset {
	border-bottom: 1px solid #ddd;
	padding:10px 0 12px;
	}
	#footer-area .social-links {
	border-bottom: 1px solid #ddd;
	padding:20px 0;
	height:30px;
	margin-bottom:20px;
	}
	#footer-area .social-links div {
	width:320px;
	margin: 0 auto;
	}
	#footer-area .social-links p {
	float:left;
	font-size:12px;
	}
	#footer-area .social-links ul {
	float:left;
	}
	#footer-area .social-links ul li {
	float:left;
	display:inline;
	}
	#footer-area .social-links ul li a span {
	display:none;
	}
	#footer-area .social-links .facebook span.icon {
	margin:0;
	padding:0 30px 0 0;
	display:inline-block !important;
	width:25px !important;
	height:25px !important;
	background:url(../Images/icon_toolbox_share.png)/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/icon_toolbox_share.png*/ 0 0 no-repeat !important;
	}
	#footer-area .social-links .twitter span.icon {
	margin:0;
	padding:0 30px 0 0;
	display:inline-block !important;
	width:25px !important;
	height:25px !important;
	background:url(../Images/icon_toolbox_share.png)/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/icon_toolbox_share.png*/ 0 -50px no-repeat !important;
	}
	#footer-area .social-links .linkedin span.icon {
	margin:0;
	padding:0 30px 0 0;
	display:inline-block !important;
	width:25px !important;
	height:25px !important;
	background:url(../Images/icon_toolbox_share.png)/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/icon_toolbox_share.png*/ 0 -100px no-repeat !important;
	}
	#footer-area .social-links .google span.icon {
	margin:0;
	padding:0;
	display:inline-block !important;
	width:25px !important;
	height:25px !important;
	background:url(../Images/icon_toolbox_share.png)/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/icon_toolbox_share.png*/ 0 -150px no-repeat !important;
	}
	table.gsc-search-box {
	/*border: 1px solid #D9D9D9 !important; */
		float: left;
	}
	#footer-area #gsc-iw-id1 {
	margin-right: 0;
	width: 190px;
	}
	.footer-left, .footer-right {
	font-size:12px;
	}
	.footer-copyright, .footer-links {
	float:none;
	text-align:center;
	}
	#footer-area .footer-left .rtsUL > li:first-child:before {
	content: "";
	}
	.footer-left, .footer-right {
	width: 100%;
	}
	.footer-copyright {
	margin: 0 0 -115px;
	padding: 100px 0 5px;
	text-align:center;
	}
	.footer-left .footer-links {
	margin-right: 0;
	padding-left: 0;
	}
	#rights {
	margin: 0 auto 8px;
	float:none;
	}
	.resp-side-nav {
	padding:0;
	margin:0;
	border-top:#fff 1px solid; text-align:left;
	}
	.resp-side-nav li {
	list-style:none;
	}
	.resp-side-nav li a {
	font-size:15px;
	color:#666 !important;
	display:block;
	padding:11px 30px ;
	background-color:#eee;
	border-bottom:#fff 1px solid;
	}
	.resp-side-nav li a.rtsSelected { border-bottom:0;}
	a.rtsLink.rtsSelected .rtsOut {
    color: #007A50;
}
.rtsUL.tree-children.resp-side-nav a {
    color: #009900 !important;
    padding-left: 50px !important;}
		
	/*FONTS */
	.content-intro-hdr {
	margin-top:0;
	color:#000;
	font-size:20px;
	line-height:30px;
	font-weight:normal;
	}
	.content-reg-hdr2 {
	margin-top:0;
	color:#007a50;
	font-size:20px;
	line-height:22px;
	font-weight:normal;
	}
	.content-reg-hdr3 {
	margin-top:30px;
	color:#000;
	font-size:14px;
	line-height:20px;
	font-weight:normal;
	}
	.text-link {
	display:inline;
	margin:0;
	padding:0 20px 0 0;
	color:#090;
	font-size:14px;
	line-height:14px;
	background:url(../Images/icon_link_arrows.png)/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/icon_link_arrows.png*/ right 2px no-repeat;
	}
	.text-link:hover {
	color:#090;
	background-position:right -48px;
	}
	
	.sf_colsOut:last-child {
 margin-bottom: 2px; }
	.page-title-block h1, h1 {
	padding: 9px 35px 10px 12px !important;
	}
	.page-title-block h1, h1, .page-title {
	font-size: 22px;
	line-height: 27px;
	}
	.page-title {
	background:url("../Images/btn_mobile_side_nav.png")/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/btn_mobile_side_nav.png*/ no-repeat scroll right 18px #EEEEEE;
	cursor:pointer;
	}
	
	/*.page-title h2, .page-title h3 {display:none;}*/
	.sfContentBlock h2, .landing-intro-block h2, .content-reg-hdr2, .small-feature-container ul li h2.sfitemTitle, .small-feature-container .small-feature-details h2, .hero-video-caption-area h2 {
	font-size: 17px;
	line-height: 21px; margin: 0 0 5px
	}
	.hero-video-caption-area h2 {
	 margin: 10px 0 5px
	}
	.sfContentBlock h3, .landing-intro-block h3, .content-reg-hdr3, teaser-container ul li h2.sfitemTitle {
	font-size: 13px;
	line-height: 16px;
	}
	body, .small-feature-container ul li .details, .small-feature-container .small-feature-details .details, .small-feature-container ul li a, .small-feature-container .small-feature-details a, .hero-video-caption-area p, #rights .sfContentBlock {
	font-size: 13px;
	line-height: 18px;
	}
	
		
	/* SMALL FEATURE & EDITORIAL TEASER */
	/*.small-feature-container {
	margin-top: 2% !important;
	}*/
	.small-feature-container, .editorial-teaser-container {
	/*padding: 0; */
	}
	.editorial-teaser-container .editorial-teaser-blackband a {
	font-size: 16px;
	line-height: 20px;
	margin: 0 3% 0 5%;
	padding: 5px 10px 5px 0;
	}
	.img-wrppr .img-caption {
	padding: 9px 12px;
	}
	.link-list br {    margin: 0 0 16px;}
	.link-list h3 {    margin: 25px 0 15px;}
	.link-list h3:first-child {    margin: 10px 0 10px;}
	.small-feature-container .sfimageWrp { margin: 0;	}
	.small-feature-container .sfimageWrp img { margin-bottom: 5px; }
	.small-feature-with-image-multi ul li, .small-feature-with-image-3 ul li, .editorial-teaser-with-image-3 ul li {
	margin: 0 3.5% 24px 0;
	width: 48.2%;
	}
	.small-feature-with-image-3 ul li:nth-child(3n), .editorial-teaser-with-image-3 ul li:nth-child(3n), .small-feature-with-image-3 .item2, .small-feature-with-image-3 .item5, .small-feature-with-image-3 .item8 {
	margin-right: 3.5% !important;
	}
	.small-feature-with-image-3 ul li:nth-child(3n+1) {
	clear: none;
	}
	.small-feature-with-image-multi ul li:nth-child(odd), .small-feature-with-image-3 ul li:nth-child(odd), .editorial-teaser-with-image-3 ul li:nth-child(odd) {
	clear:both;
	}
	.small-feature-with-image-multi ul li:nth-child(even), .small-feature-with-image-3 ul li:nth-child(even), .editorial-teaser-with-image-3 ul li:nth-child(even) {
	margin: 0 0 20px;
	}
	
	.small-feature-with-image-3 ul li:last-child {
 	margin-bottom: 0; margin-right:0 !important
	}
	.small-feature-with-image-3 ul li:nth-child(4), .small-feature-with-image-3 ul li:nth-child(5), .small-feature-with-image-3 ul li:nth-child(6) {
    margin-top: 0; margin-bottom: 0;
    }

/*	#content-col .sf_cols .small-feature-left-img-g-parent.sfContentBlock {
 margin: 13px 0 10px;}*/
	.small-feature-left-img .sfimageWrp {
 margin: 0 3.5% 20px 0;
	}
	.editorial-teaser-container ul li h2.sfitemTitle {
	margin: 5% 5%;
	}
	.editorial-teaser-container .editorial-teaser-details a {
	margin: 0 0 0 5%;
	}
	.editorial-teaser-container ul li h2.sfitemTitle {
	font-size: 16px;
	line-height: 20px;
	}
		
	/* Sitefinity Content 2, 3 & 4 Columns */
	.sf_cols .sf_4cols_1_25, .sf_cols .sf_4cols_2_25, .sf_cols .sf_4cols_3_25, .sf_cols .sf_4cols_4_25, .sf_cols .sf_2cols_1_50, .sf_cols .sf_2cols_2_50, .sf_cols .sf_3cols_1_33, .sf_cols .sf_3cols_2_34, .sf_cols.sf_3cols_3_33, .sf_cols .sf_3cols_1_33, .sf_cols .sf_3cols_2_34, .sf_cols .sf_3cols_3_33 {
	margin: 0 3.3% 20px 0;
	width: 48.3%;
	}
	.sf_cols .sf_4cols_2_25, .sf_cols .sf_4cols_4_25 {
	margin-right:0;
	}
	.sf_4cols_2_25, .sf_4cols_4_25, .sf_cols .sf_3cols_2_34, .sf_cols .sf_2cols_2_50 {
	margin-right:0;
	}
	
	#content-col .sf_cols .sf_cols.sfContentBlock.last-div-block { margin-top: 10px; }
			
	/*sidebar menu items */
	.RadTabStripLeft_Sitefinity .rtsLevel ul li .rtsIn, .RadTabStripLeft_Sitefinity .rtsLevel ul li .rtsTxt {
	font-size: 13px;
	line-height: 15px;
	white-space: normal;
	}
	.main-hess-map {
	display: none;
	}
		
	/*image modal */
	#img-modal {
	background-color: #000000;
	box-shadow: none;
	width: 100%;
	max-width:100%;
	left: 0 !important;
	margin: 0 auto;
	padding: 0;
	top: 0 !important;
	height: auto;
	}
	.close-btn {
	background: url("../Images/icon_close_bw.gif")/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/icon_close_bw.gif*/ no-repeat scroll right top transparent;
	color: #fff;
	height:20px;
	}
	#img-modal a:hover {
	color:#fff;
	}
	#img-modal .img-caption {
	background-color: #000000;
	padding: 15px 4% 22px;
	width: 94%;
	}
	#img-modal .img-caption p {
	color: #FFFFFF;
	}
	a.light-arrow, .light-arrow, .green-arrow , a.green-arrow  { display:inline-block;    margin-bottom: 15px;}
	a.light-arrow:last-child , a.green-arrow:last-child  {    margin: 0;} 
			
	/* Hero Image Carousel */
	.hero-image-carousel #carousel-controls, .hero-video-carousel #video-carousel-controls {	top:165px ;	}
	.hero-image-caption-area h2 { font-size:16px; }
	.hero-image-caption-area p { font-size:13px; width:100%; }
	.hero-image-caption-area .btn-hero-image-callout 
 	{ float:left; }
		
	.gsc-control-cse .gs-spelling, .gsc-control-cse .gs-result .gs-title, .gsc-control-cse .gs-result .gs-title * { font-size: 16px !important; }
	.gs-webResult div.gs-visibleUrl, .gs-imageResult div.gs-visibleUrl, .gs-webResult .gs-snippet, .gs-imageResult .gs-snippet, .gs-fileFormatType { font-size: 13px !important; }
	
	#content-col .show-768 {	display:block; }
	
		} /* End 768 */

@media only screen and (max-width:560px) {

	/* Hero Video */
	.video-long-title {	font-size: 24px;	 	line-height: 28px;	}
		.hero-video-caption-area { width:85%; }
	}
	
@media only screen and (max-width:480px) {
	
	#hdr-area { 
 margin: 10px 0 !important;
	}
	.last { margin-bottom: 0 !important; }
	/* Fonts */
	.sfContentBlock h3, .details h3, .landing-intro-block h3, .content-reg-hdr3 {
	margin-top: 10px;
	}
	
	#main-nav { 
 margin: 10px 0 -14px;
	}				
	

	.sf_colsOut:last-child {
 margin-bottom: 0;
	}
	#content-col .sfContentBlock.small-feature-parent { margin: 0 0 20px; padding: 0;}
	#content-col .sfContentBlock {
	 	 margin: 0 0 20px;
		 padding: 0 0 20px ;
	}
	#content-col .sf_cols .sf_cols.sfContentBlock {
 margin-top: 0 ;
}
	 #content-col .sf_2cols_1_50 .sfContentBlock, #content-col .sf_2cols_2_50 .sfContentBlock {
	 	 margin: 0 !important ;
		 padding: 0 0 10px !important ;
	}
	
	 #content-col .sfContentBlock .sf_2cols_1_50 .sfContentBlock, #content-col .sfContentBlock .sf_2cols_2_50 .sfContentBlock {
	 	 margin: 0 !important ;
		 padding: 0 !important ;
	}
	
	
	#content-col .sf_cols .sf_cols .sf_colsOut .sf_colsIn .sfContentBlock.last-div-block {
	 	 padding: 0 !important ;
		 
	}
	
	#content-col .sfContentBlock.editorial-teaser-parent {
 margin: 0 0 24px !important;
 padding-bottom: 25px !important;
}

#content-col .sf_cols .sf_colsIn > .sfimageWrp {
 margin: 10px 0 15px;
}
#content-col .sf_cols .sf_cols.sfContentBlock.last-div-block {
 margin-top: 0;
}
#content-col .sf_cols .sf_colsIn > .sfimageWrp.greyline {
 margin: 0;
}

#content-col .sf_cols .small-feature-left-img-g-parent.sfContentBlock {
 margin: 2px 0 22px !important;
 padding: 0 0 10px;
}
	#toolbox ul {
 margin: 13px 0 0 3px;
}
	/* Small Features & Editorial Teasers */
.small-feature-container .sfimageWrp,	.small-feature-left-img .sfimageWrp {
	width: 100%; margin:0;
	}
	.small-feature-left-img .small-feature-details {
	width: 100%;
	margin: 15px 0 0;
	}
	.editorial-teaser-container ul li { 
 margin: 0 3.5% 22px 0; }
	
	.small-feature-with-image-multi ul li:nth-child(2n), .small-feature-with-image-3 ul li:nth-child(2n), .editorial-teaser-with-image-3 ul li:nth-child(2n) {
 margin: 0 0 22px !important;
}
	/* Small Feature 3 Columns */
	.small-feature-with-image-multi ul li, .small-feature-with-image-3 ul li, .editorial-teaser-with-image-2 ul li, .editorial-teaser-with-image-3 ul li, .small-feature-with-image-2 ul li {
	width: 100%;
	 border-bottom: 1px solid #ddd;
 padding: 0 ;
	}
	.small-feature-with-image-multi ul li, .small-feature-with-image-3 ul li, .small-feature-with-image-2 ul li {
	 margin: 3px 0 20px !important;
 padding: 0 0 16px;
	}
	
	/*.small-feature-with-image-3 ul li:last-child {
 margin-bottom: 0 !important;
}*/
	.small-feature-left-img .small-feature-details, .small-feature-with-image-2 ul li {
 
 margin: 0 0 20px;}
	.small-feature-left-img .small-feature-details {
 margin: 0 0 5px;
	}
	
	.small-feature-container ul li.last {
 padding: 0;
	}
	.editorial-teaser-parent {
 padding-bottom: 15px !important;
	}

	#content-col .small-feature-left-img-g-parent {
 padding: 0 0 15px !important;
	}
	.sfitem.sfClearfix.last {
 border-bottom: medium none;
/* margin-bottom: 0 !important;*/
 margin-right: 0 !important;
 
	}
	
	.editorial-teaser-container .last { margin-bottom: 5px !important;}
	.editorial-teaser-container .editorial-teaser-blackband a {
	font-size: 15px;
	line-height: 19px;
	}
	
	/* Sitefinity Content 2, 3 & 4 Columns */
	.sf_cols .sf_2cols_1_50, .sf_cols .sf_2cols_2_50, .sf_cols .sf_3cols_1_33, .sf_cols .sf_3cols_2_34, .sf_cols.sf_3cols_3_33, .sf_cols .sf_4cols_1_25, .sf_cols .sf_4cols_2_25, .sf_cols .sf_4cols_3_25, .sf_cols .sf_4cols_4_25, .sf_cols .sf_2cols_1_50, .sf_cols .sf_2cols_2_50, .sf_cols .sf_3cols_1_33, .sf_cols .sf_3cols_2_34, .sf_cols .sf_3cols_3_33 {
 
	margin: 0 0 20px;	width: 99.5%;	clear:both;	 border-bottom: 1px solid #ddd; padding: 0 0 20px; float: left;	}
 
	
	 .last-div-block .sf_3cols_1_33, .last-div-block .sf_3cols_2_34, .last-div-block .sf_3cols_3_33 {padding:0;}
	
	 .sf_cols .sf_2cols_2_50, .sf_cols.sf_3cols_3_33, .sf_cols .sf_4cols_4_25, .sf_cols .sf_2cols_2_50, .sf_cols .sf_3cols_3_33 {
 
 /* margin: 10px 0 0 !important; */ padding:0; border-bottom:none;}
	
	.sf_colsOut.sf_3cols_1_33.no-bottom-border {
 margin-top: 0;
}

#content-col .sf_cols .sf_cols .sf_colsOut .sf_colsIn .sfContentBlock:first-child {
 margin-top: 6px !important;
}

#content-col .sf_cols .sf_cols.custom2col .sf_colsOut .sf_colsIn .sfContentBlock:first-child {
 margin-top: 0 !important;
}
.custom2col.sfContentBlock {
    margin: 0 0 17px !important; padding: 0 !important;
}

#content-col .sf_cols .sf_cols.last-div-block .sf_colsOut .sf_colsIn .sfContentBlock:first-child {
 margin-top: 0px !important; padding: 0 !important;
}

#content-col .sf_cols .sf_cols .sf_colsOut .sf_colsIn .sfContentBlock:first-child .img-wrppr-right, .img-wrppr { margin-top: 4px !important; margin-bottom: 10px;}
	
	.mobile-captions {
	display: block;
	padding: 0 10px;
	}
	.mobile-caption-item {
	padding: 0 10px;
	}
	
	/* Performance List */
	ul.performance-list li {
	font-size: 13px;
	line-height:15px;
	min-height: 20px;
	}
	ul.performance-list li .performance-list_top-item {
	padding: 8px 10px 8px 20px;
	background-position:10px center;
	}
	ul.performance-list li.active .performance-list_top-item {
	padding: 8px 10px 8px 20px;
	background-position:8px center;
	}
	ul.performance-list_inner li {
	padding: 10px 0 0 10px;
	}
	ul.performance-list .performance-list-label, ul.performance-list .perf-inner-li {
	padding:5px 5px;
	}
	ul.performance-list_inner li.first {
 	padding: 2px 5px 0;
	}
	span.col-title {
	font-size: 12px;
	line-height:14px;
	width: 97%;
	}
	.first .col-title {
 	display: none;
	}
	span.col-stat {
	font-size: 13px;
	line-height:15px;
	width: 16%;
	margin-left:3%;
	}
	span.col-title.indent-left {
	padding-right: 6%;
	width: 90%;
	}
	.indent-left {
	clear: left;
	margin-left: 15px;
	margin-right: -15px;
	}
	
	/* Secetion Navigation */
	.page-title {
	font-size: 20px;
	line-height: 22px; 
	background:url("../Images/btn_mobile_side_nav.png")/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/btn_mobile_side_nav.png*/ no-repeat scroll right 13px #EEEEEE; cursor:pointer;
	}
	h1, .page-title-block h1 {
	font-size: 18px; cursor:pointer;
	line-height: 20px;
	margin: 0 !important;
	padding: 9px 45px 10px 12px !important;
	}
	#content-col .sf_cols .sf_cols .sf_colsOut .sf_colsIn .sfContentBlock.page-title {
 padding: 0 !important; margin: 0 !important;}
	
	.video-js { margin: 10px 0;}
	.link-list br {    margin: 0 0 20px;}
	.link-list h3 {    margin: 35px 0 20px;}
	.link-list h3:first-child {    margin: 10px 0 20px;}
.videoWrapper {
 margin-top: 2px !important;
}
	.hero-video-carousel-container { margin: 0 0 15px;}
	.sfimageWrp { 
 margin-bottom: 0; }
	/* Modal Images */
	.img-wrppr {
	width: 100%;
	}
	.img-wrppr .img-enlarge {
	display: none;
	}
	.img-wrppr-right, .img-wrppr {
	margin: 10px 0 ;
	}
	.img-wrppr .img-caption {
	display: none;
	}
	/* Regular Contenblock Image*/
	.sfContentBlock > img { 
 margin: 0 0 15px;
 width: 100%;
	}
	
	/* footer */
	#rights .sfimageWrp {
	display: none;
	}
	#footer-area .inner {
	margin: 0 auto;
	width: 280px;
	}
	table.gsc-search-box {
	background: url("../Images/google-search-bg-222.gif")/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/google-search-bg-222.gif*/	no-repeat scroll right top transparent;
	width: 222px !important;
	}
	
	/* Hero Image Carousel */
	.hero-image-caption-area {
	background-color: #231F20; 
	}
	/*.hero-image-carousel-secondary-container .hero-image-carousel {
	height: 100% !important;
	overflow: hidden;
	width: 100%; padding: 15px 20px; 
	position: relative;
	}
	.hero-image-carousel-secondary-container .hero-image-caption-area {
	padding-bottom: 6% !important;
	width: 93%;
	}
	.hero-image-carousel-secondary-container {
	background: #000;
	max-height: 1000px;
	}*/
	
	/* Hero Video */
	.videoWrapper {
	margin-bottom: 110px; 
	}
	.vjs-default-skin .vjs-big-play-button {
	top: 58%;
	}
		#content-col .sfVideoBlock { display: inline-block;
 margin: 0;}
	.video-long-title { /*display:none !important; */
	/*position: relative; */
	background: none repeat scroll 0 0 #000000;
	top:218px;
	color: #FFFFFF;
	display: none;
	font-size: 18px;
	font-weight: normal;
	height: 68px;
	line-height: 22px;
	padding: 10px 3.58%;
	left: 0;
	text-align: left;
	width: 93%;
	clear: both;
	}
	
	.video-long-title > div {
    text-align: left !important;}
	a.video-transcript-link { 
 margin-top: -10px;
	}
	.hero-image-carousel-container { margin: 10px 0 25px;}
	/*Image Modal */
	.close-btn {
	background: url("../Images/icon_close_bw.gif")/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/icon_close_bw.gif*/ no-repeat scroll right top #000000;
	color: #FFFFFF;
	height: 20px;
	opacity: 0.6;
	padding-right: 38px;
	position: absolute;
	right: 0;
	text-align: right;
	width: 100%;
	}
	
	#content-col .mobile-show {display: block !important;	}
	#content-col .mobile-hide {display: none;	}
	#mobile-menu {right:20px;	}
	
	/* Hero Image Carousel */
	.hero-image-carousel #carousel-controls, .hero-video-carousel #video-carousel-controls {top:100px;	}
	
	 .performance-list_inner .p90m {width:80% !important; text-align:left !important; margin-left:15%; }
	 .performance-list_inner .mRef:before {content: "Reference: " ; color:#000;}
	 .performance-list_inner .mRef { margin-top:12px; padding-left:0 !important;}
	 .performance-list_inner .p80m {width:75% !important; }
	 .performance-list_inner .p70m {width:70% !important; }
	 .performance-list_inner .p70mR {width:70% !important; margin-left:20%; text-align:left !important;}
	 .performance-list_inner .mhide {display:none !important; }
	} /* End 480 */
	
 @media only screen and (max-width:360px) {
 	.hide360 {
	display:none;
	}
	
	#homepage-carousel {
	min-height: 258px;
	}
	
	h2 {
	line-height:20px;
	}
	h4 {
	font-size: 16px;
	line-height: 18px;
	}
		
	/*Image Modal */
	#img-modal {
	height: auto;
	max-height:480px;
	}
	
	/* Hero Image Carousel */
	.hero-image-carousel #carousel-controls, .hero-video-carousel #video-carousel-controls {
	top:75px ;}
	
	.video-long-title { 
	top:156px;
	}
		.hero-video-caption-area { width:80%; }
		
		.video-js { 
 height: 155px !important; 
 width: 280px !important;
		}
 	}
	/* -- End of Media Queries -- */
 
 /* Content Block Images Non-Modal CSS*/
 .no-enlarge .img-enlarge {
 display: none;
	}
.sfContentBlock.full-img-width > img {
 width: 100%;
	}


.icon {
    background: url("../Images/hess-social.png")/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/hess-social.png*/ no-repeat scroll 0px 0px transparent;
    display: inline-block;
    margin-right: 10px;
    line-height:15px;
}


.twitter-icon, .facebook-icon, .linkedin-icon, .pinterest-icon, .youtube-icon {
    width: 20px;
    height: 18px;
    text-indent: -9999px;
    /*overflow: hidden;*/
}


.twitter-icon{
	background-position:-37px -1px;
   
}

.twitter-icon:hover{
background-position:-37px -32px;
}

.facebook-icon{
	background-position:-74px 0px;
     margin-right: -5px !important;
     
}

.facebook-icon:hover{
	background-position:-74px -32px;
}

.linkedin-icon{
	background-position:-101px 0px;
    margin-left:3px !important;
}

.linkedin-icon:hover{
	background-position:-101px -32px;
}

.youtube-icon{
	background-position:0px 2px;

}

.youtube-icon:hover{
	background-position:0px -29px;
 }


.footer-links .footer-icons {
    margin: -5px -16px 0px 35px !important;
}

@media only screen and (max-width:780px) {
    .footer-links .footer-icons {
    margin: -5px -16px 0px 10px !important;
}

}