body	{ margin:0 auto; max-width:1220px; }
[class*="span"] { margin-left:0; }
.hdr-msg		{ position:absolute; top:-6000px; left:-2000px; }
.clrfix			{ zoom:1; }
.clrfix:after	{ content:"."; display:block; height:0; clear:both; visibility:hidden; }
#show-width { position:fixed; top:0; right:0; width:40px; height:22px; background-color:#ccc; color:#000; z-index:100; opacity:.5; padding-left:10px; display:none; }
#hdr-img	{ display:none; }
#logo-area img	{ width:100%; max-width:120px; }
.home-hdr { margin-bottom:10px !important;}
#hdr-area	{ margin:  16px 0; }
#main-nav { float:right; display:block; margin:13px 0 0 0; width:100%; }
#main-nav ul { float:right; display:block; margin:0; padding:0; width:97%; height:auto; position:relative; zoom:1; }
#main-nav ul li { /*z-index:20 !important;*/ float:left; display:block; padding:0; width:auto; height:auto; margin:0 2.2%; }
.ie7 #main-nav ul li, .ie8 #main-nav ul li { margin:0 1.4%; } /*ie8*/
#main-nav ul li:hover {background:url("../Images/bg_nav_widget_arrow.gif")/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/bg_nav_widget_arrow.gif*/ no-repeat scroll center 15px transparent;}
#main-nav ul li:hover a.rmSelected, #main-nav ul li:hover a.rmFocused{ border-color:#007a50 !important;}
/*#main-nav ul li:nth-child(6):hover, #main-nav ul li:nth-child(8):hover {background:none;}
#main-nav ul li.item5:hover, #main-nav ul li.item7:hover {background:none;}*/
#main-nav ul li.rmFirst { margin-left:0; }
#main-nav ul li.rmLast { margin-right:0; }
#main-nav .RadMenu_Sitefinity { float:left; display:inline; position:relative; margin:0; padding:0; width:100%; height:auto; }
#main-nav .RadMenu_Sitefinity ul.rmRootGroup { border:0; border-bottom:1px solid #ddd; background-color:#fff; z-index:20;   }
#main-nav .RadMenu_Sitefinity .rmHorizontal .rmItem a.rmLink .rmText { border:none; padding:0; position:relative; zoom:1; display:block; }
#main-nav .RadMenu_Sitefinity, #main-nav .RadMenu_Sitefinity a.rmLink { padding:0 0 8px 0; color:#007a50; font-size:14px; font-weight:bold; text-transform:uppercase; position:relative; zoom:1; display:block; }
#main-nav .RadMenu_Sitefinity a.rmLink, #main-nav .RadMenu_Sitefinity a.rmLink { font-size:14px ; position: relative;}	
.ie7 #main-nav .RadMenu_Sitefinity, .ie8 #main-nav .RadMenu_Sitefinity { font-size:13px ; position: relative;} /*ie8*/ 
.ie7 .RadMenu_Sitefinity .rmGroup .rmItem a.rmLink, .ie8 .RadMenu_Sitefinity .rmGroup .rmItem a.rmLink { font-size:14px!important; line-height:16px !important; /*ie7*/}
#main-nav .RadMenu_Sitefinity .rmItem a.rmLink:hover, #main-nav .RadMenu_Sitefinity .rmItem a.rmExpanded, #main-nav .RadMenu_Sitefinity .rmItem a.rmExpanded:hover { cursor:pointer; }
#main-nav .RadMenu_Sitefinity .rmItem a.rmFocused, #main-nav .RadMenu_Sitefinity .rmItem a.rmSelected { padding-bottom:4px; color:#007a50; cursor:pointer; border-bottom:4px solid #ddd; position:relative; zoom:1; display:block; z-index: 0 !important; }
#main-nav .RadMenu_Sitefinity .rmItem a.rmFocused:hover, #main-nav .RadMenu_Sitefinity .rmItem a.rmSelected:hover {  border-color:  #007a50; }
#main-nav div.RadMenu_Sitefinity .rmRootGroup .rmItem .rmSlide { margin-top:-12px; padding:8px 0 0 0; width:auto; height:auto; }
#main-nav div.RadMenu_Sitefinity .rmRootGroup .rmItem .rmSlide .rmVertical { float:left; display:inline; /*margin:0; padding:5px 0 0 0;*/ width:auto; height:auto; /*background-color:#077b51;  1.28.13 */ background-color: transparent; border:none;/* z-index:20; */  /*border-left:1px solid #ddd;*/ border-bottom:1px solid #ddd; /*border-right:1px solid #ddd; */   margin: 4px 0 0; /* box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);*/
    padding: 0;}
#main-nav .item6 .rmSlide, #main-nav .item7 .rmSlide {    left: auto !important;    right: 0 !important;}
 .no-margin-padding {    margin: 0 !important;    padding: 0 !important;}
#main-nav div.RadMenu_Sitefinity .rmRootGroup .rmItem .rmSlide .rmVertical li { padding:0;margin-left: 0;margin-right: 0; border-top:1px solid #fff; }
#main-nav div.RadMenu_Sitefinity .rmRootGroup .rmItem .rmSlide .rmVertical li.item0 {   border-top:1px solid #ddd !important; }
#main-nav div.RadMenu_Sitefinity .rmRootGroup .rmItem .rmSlide .rmVertical li.rmFirst, #main-nav div.RadMenu_Sitefinity .rmRootGroup .rmItem .rmSlide .rmVertical li.rmLast { margin-left:0; margin-right:0; }
#main-nav div.RadMenu_Sitefinity .rmRootGroup .rmItem .rmSlide .rmVertical li a.rmLink { float:left; display:inline; margin:0; padding:15px 18px 15px 12px; /*width:240px;*/ color:#666; background-color:#eee; font-size:15px; font-weight:normal; text-transform:none; border-left:1px solid #ddd; border-right:1px solid #ddd;  *font-size:14px !important; /*ie7*/ }
#main-nav div.RadMenu_Sitefinity .rmRootGroup .rmItem .rmSlide .rmVertical li a.rmLink:hover { background-color:#009900; color:#fff;border-left:1px solid #080; border-right:1px solid #080; }
#main-nav div.RadMenu_Sitefinity .rmRootGroup .rmItem .rmSlide .rmVertical li a.rmFocused, #main-nav div.RadMenu_Sitefinity .rmRootGroup .rmItem .rmSlide .rmVertical li a.rmSelected { border-bottom:none; }
#main-nav ul li ul li { margin: 0; }
.RadTabStripLeft_nav-secondary, .RadTabStripLeft_Sitefinity { float:right; margin:0 0 20px; width:93%; } /*sidebar location*/
.ie7 .RadTabStripLeft_nav-secondary, .ie7 .RadTabStripLeft_Sitefinity, .ie8 .RadTabStripLeft_nav-secondary, .ie8 .RadTabStripLeft_Sitefinity { float:right; margin:91px 0 20px; width:93%; } /*ie7 sidebar location*/
.rtsLevel1 .rtsUL { border-bottom: 1px solid #DDDDDD; }
 .ie7 .rtsLevel1 .rtsUL, .ie8 .rtsLevel1 .rtsUL { border-bottom: none; } 
.rtsUL .tree-children { border-bottom: none;}
.RadTabStripLeft_nav-secondary .rtsLevel, .RadTabStripLeft_nav-secondary .rtsLevel ul, .RadTabStripLeft_nav-secondary .rtsLevel ul li { width:100%; } 
.RadTabStripLeft_Sitefinity .rtsLevel, .RadTabStripLeft_Sitefinity .rtsLevel ul, .RadTabStripLeft_Sitefinity .rtsLevel ul li { width:100%; }
.RadTabStripLeft_nav-secondary .rtsLevel ul li, .RadTabStripLeft_Sitefinity .rtsLevel ul li { margin:0; /*padding:12px 0;*/ /*border-top:1px solid #ddd;*/ }
.ie7 .RadTabStripLeft_nav-secondary .rtsLevel ul li, .ie7 .RadTabStripLeft_Sitefinity .rtsLevel ul li, .ie8 .RadTabStripLeft_nav-secondary .rtsLevel ul li, .ie8 .RadTabStripLeft_Sitefinity .rtsLevel ul li {    padding:12px 0 0 8px; /*border-top:1px solid #ddd;*/ }
.RadTabStripLeft_nav-secondary .rtsLevel ul li .rtsLink, .RadTabStripLeft_Sitefinity .rtsLevel ul li .rtsLink { padding:0; text-align:left; color:#666; font-size:15px; *font-size:14px; /*ie7*/ font-size:14px\9; white-space:nowrap\9; /*ie8*/ }
.RadTabStripLeft_nav-secondary .rtsLevel ul li .rtsLink:hover, .RadTabStripLeft_nav-secondary .rtsLevel ul li .rtsSelected { color:#007a50; }
.RadTabStripLeft_Sitefinity .rtsLevel ul li .rtsLink:hover, .RadTabStripLeft_Sitefinity .rtsLevel ul li .rtsSelected { color:#007a50; }
.RadTabStripLeft_nav-secondary .rtsLevel ul li .rtsIn, .RadTabStripLeft_nav-secondary .rtsLevel ul li .rtsTxt { padding:0; }
.RadTabStripLeft_Sitefinity .rtsLevel ul li .rtsIn, .RadTabStripLeft_Sitefinity .rtsLevel ul li .rtsTxt { padding:0; }
.RadTabStripLeft_Sitefinity .rtsSelected, .RadTabStripLeft_Sitefinity .rtsSelected .rtsOut, .RadTabStripLeft_Sitefinity .rtsSelected .rtsIn { background-color:#fff; background-image:none; }
.RadTabStripLeft_Sitefinity .rtsLast .rtsLink { border-bottom:none; }
.RadTabStripLeft_Sitefinity .rtsSelected { color:#004d00; }
.RadTabStripLeft_nav-secondary .tree-children { margin: 0 0 5px 7px !important; }
.ie7 .RadTabStripLeft_nav-secondary .tree-children, .ie8 .RadTabStripLeft_nav-secondary .tree-children { margin: 0 0 0 7px !important; }
.RadTabStripLeft_nav-secondary .tree-children li a {color:#009900 !important; font-size: 95% !important; padding-right:5px !important;  min-height: 45px; }
.RadTabStripLeft_nav-secondary .tree-children li a:hover { color:#007a50 !important;}
.RadTabStripLeft_nav-secondary .tree-children .rtsOut { padding: 12px 10px 12px 1px !important; }
.ie7 .RadTabStripLeft_nav-secondary .tree-children .rtsOut , .ie8 .RadTabStripLeft_nav-secondary .tree-children .rtsOut { padding: 12px 10px 0 1px !important; }
#content-col { /*background-color:#f1f6d2;*/ }
#side-col { background-color:#fff;  margin-top: 108px; }
.ie7 #side-col, .ie8 #side-col {  margin-top: -6px; }
/* Related Links */
#side-col .sfContentBlock { float:right; font-weight: normal; background-color:#eee; width:80%;   margin-bottom: 20px;    padding: 4% 6% 6%;   }
 #side-col .sfContentBlock h2 { /*color:#fff; font-size:16px !important; line-height: 20px;*/ } 
#side-col .sfContentBlock a { font-weight:normal;}
.RadSiteMap .rsmFlow {    padding-bottom: 0; }

.Sidebar-White {   background: none repeat scroll 0 0 #fff !important;  margin: 0 0 20px !important;
    padding: 0 !important;
    width: 93% !important; }
.Sidebar-White ul  {      border-bottom: 1px solid #ddd;   margin: 0 0 0 3px;  }	
.Sidebar-White ul li {    border-top: 1px solid #ddd;    display: block;    font-size: 105%;    padding: 15px 1px 6px 1px;    text-align: left; }
.Sidebar-White ul li a { color:#666; text-decoration:none; }
.Sidebar-White ul li a:hover { color:#007a50; text-decoration:none; }
#footer-area { padding-top:10px; border-top:1px solid #ddd; }
.landing-intro-block { float:left; display:inline; margin:15px 0 15px 0; padding:0 0 10px 0; width:100%; height:auto; border-bottom:1px solid #ddd; }
.landing-intro-block h2 { color:#000; font-size:20px; line-height:30px; font-weight:normal; }
.landing-intro-block p { margin:5px 0 20px 0; color:#666; font-size:14px; line-height:20px; }
.landing-intro-block a { display:inline-block; margin:0 0 15px 0; padding:0 25px 0 16px; width:auto; height:auto; font-size:14px; line-height:30px; color:#fff; background:#090 url(../Images/bg_btn_arrows.png)/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/bg_btn_arrows.png*/ right 0 no-repeat; }
.landing-intro-block a:hover { text-decoration:none; background:#077b51 url(../Images/bg_btn_arrows.png)/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/bg_btn_arrows.png*/ right -50px no-repeat; }
/*.sfimageWrp img {max-width:99.9%;}*/ /* Limits user added full-width images width to line up with small feature &editorial images*/
.hero-image-block .sfimageWrp img {max-width:100%;} /* Hero image full-width images width */
.content-intro-block { float:left; display:inline; margin:15px 0 15px 0; padding:0 0 10px 0; width:100%; height:auto; }
.content-intro-block h2 { margin-top:0; color:#000; font-size:20px; line-height:30px; font-weight:normal; }
.content-intro-block p { margin:5px 0 20px 0; color:#666; font-size:14px; line-height:20px; }
.img-wrppr { float:right; width:48.2%; margin:10px 0 15px 15px; }

.sfContentBlock.no-bottom-border .flash-swf {    margin: 18px 0 0; } /* For GLobal Office Flash */
/*.img-wrppr.img-wrppr-none {margin:0;}*/
.img-wrppr img { width:100%; float:right; }
.img-wrppr-left { float:left; margin:10px 3.5% 20px 0; }
.img-wrppr-right { float:right; margin:7px 0.1% 6px 3.5%; } /* added 0.1% right margin to line up with small feature &editorial images*/
.img-wrppr .img-caption { float:left; display:inline; margin:0; padding: 12px 4% 16px; width: 92%; background-color:#eee; }
.img-wrppr .img-caption p { float:left; display:inline; margin:0; font-size:12px; line-height:16px; color:#666; }
.img-wrppr .img-enlarge {   z-index:10; width:100%; height:100%/*34px*/; background:url(../Images/icon_img_enlarge.png)/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/icon_img_enlarge.png*/ right top no-repeat; position: absolute; right: 0;  top: 0;    }
.img-wrppr .img-enlarge:hover {    background:url(../Images/icon_img_enlarge.gif)/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/icon_img_enlarge.gif*/ right top no-repeat; }
.sfimageWrp.greyline { margin: 0 !important; }
.small-feature-container { float:left; display:inline; position:relative; margin:22px 0 0; width:100%; height:auto; /*border-bottom:1px solid #ccc;*/ }
.sf_2cols_1_50 .small-feature-with-image-single, .sf_2cols_2_50 .small-feature-with-image-single { border-bottom: medium none; } /* no bottom borders for custom 2 column small features*/
.small-feature-container ul { margin:0;}
.small-feature-container ul li { float:left; display:inline; margin:0 3.5% 0 0; padding:0; width:45%; width:auto; height:auto; position:relative; *padding-bottom: 10px; /*ie7*/ }
.small-feature-with-image-2 ul li { width:48.2%; /* margin-bottom: 15px; */}
.small-feature-with-image-2 ul li:nth-child(2n) { float:left; margin-right:0; }
.small-feature-with-image-2 .item1, .small-feature-with-image-2 .item3, .small-feature-with-image-2 .item5, .small-feature-with-image-2 .item7, .small-feature-with-image-2 .item9 { margin-right:0 !important; }
.small-feature-with-image-single ul li { width:100%; }
.small-feature-with-image-single ul li:nth-child(2n) { float:left; margin-right:0; }
.small-feature-with-image-single .item1, .small-feature-with-image-2 .item3, .small-feature-with-image-2 .item5, .small-feature-with-image-2 .item7, .small-feature-with-image-2 .item9 { margin-right:0 !important; }
.small-feature-with-image-3 ul li { width:31%; }
.small-feature-with-image-3 ul li { width:30.8% \9; }
.small-feature-with-image-3 ul li:nth-child(3n) { margin-right:0; }
.small-feature-with-image-3 .item2, .small-feature-with-image-3 .item5, .small-feature-with-image-3 .item8 { margin-right: 0 !important; }
/*.small-feature-with-image-3 ul li:first-child + li + li { margin-right:0 !important; }*/ /* IE8 */
.small-feature-with-image-multi ul li { width:22.4%; margin-right:3.4%; }
.small-feature-with-image-multi ul li:nth-child(4n) { margin-right:0; }
.small-feature-with-image-multi ul .item3 { margin-right:0; }
.small-feature-container .sfimageWrp { float:left; display:inline; margin: 4px 0 0; padding:0; width:100%; height:auto; }
.small-feature-container .sfimageWrp img { width:100%; margin-bottom: 10px; }
.small-feature-left-img.small-feature-container .sfimageWrp img {   margin-bottom: 0; }

.ie7 .small-feature-container .sfimageWrp img {   margin-bottom: 25px; }
.small-feature-left-img .sfimageWrp { margin:0 3.5% 16px 0; width:48.2%; }

.small-feature-left-img .small-feature-details { float:left; display:inline; margin:0 0  10px; padding:0; width:47%; height:auto; }
.small-feature-container ul li img { margin-bottom:10px; }
.ie7 .small-feature-left-img .sfimageWrp { margin-bottom: 25px ;   }
.ie7 .small-feature-container ul li img { margin-bottom:27px; }


.small-feature-container ul li h2.sfitemTitle, .small-feature-container .small-feature-details h2, h2.news-title { float:left; display:inline; margin:0 0 10px 0; padding:0; width:100%; font-size:20px; line-height:24px; font-weight:normal; color:#007a50; }
.small-feature-container ul li h2.sfitemTitle b, .small-feature-container .small-feature-details h2 b {   clear: both;    color: #666666;    display: block;    font-size: 11px;    font-weight: normal;    line-height: 12px;    margin: 0 0 13px;    text-transform: uppercase;}
.small-feature-container ul li .details, .small-feature-container .small-feature-details .details { float:left; display:inline;  /*margin-bottom: 10px;*/ font-size:14px; line-height:20px; }
.small-feature-container ul li a, .small-feature-container .small-feature-details a { display:inline;   padding:0 20px 2px 0; color:#090; font-size:14px; line-height:20px; background:url(../Images/icon_link_arrows.png)/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/icon_link_arrows.png*/ right 2px no-repeat; position: relative; /*line-height: 34px !important;*/float: left;    margin: 16px 0 0;}
.small-feature-container ul li a:hover, .small-feature-container .small-feature-details a:hover { color:#007a50; background-position:right -48px; }
.small-feature-details .sfitemRichText { float:left;}
.sfitem .sfTxtContent {clear:both; 	}
.sfitem .sfTxtContent a {position:relative; *margin-bottom: 15px; /*ie7*/ } /* ie7 GTA missing link fix*/
.sfContentBlock .small-feature-container { margin:0 } /* Custom inserted infographics*/
.sfContentBlock .small-feature-with-image-multi ul li, .sfContentBlock .small-feature-with-image-3 ul li { /*margin-bottom:0 !important;*/} /* Custom inserted infographics*/
.editorial-teaser-container { float:left; display:inline; position:relative;/* margin: 22px 0 0;*/  width:100%; height:auto;/* border-bottom:1px solid #ccc;*/ }
.editorial-teaser-container ul { margin:0; *margin-bottom:25px; position:relative; }

.editorial-teaser-container ul li { float:left; display:inline; margin:0 3.5% 25px 0; padding:0; *padding-bottom:25px; /*ie7*/ width:auto; height:auto; position:relative; background:#222; }
 
/* .editorial-teaser-container.last-block ul li {    margin: 0 3.5% 15px 0;}*/
.editorial-teaser-with-image-1 ul li { margin-right:0; }
.editorial-teaser-with-image-2 ul li { width:48.2%; }
.editorial-teaser-with-image-2 ul li:nth-child(2n) { float:left; margin-right:0; }
.editorial-teaser-with-image-2 {padding-bottom:0 !important;}
.editorial-teaser-with-image-2 .item1, .editorial-teaser-with-image-2 .item3, .editorial-teaser-with-image-2 .item5, .editorial-teaser-with-image-2 .item7, .editorial-teaser-with-image-2 .item9 { float:left; margin-right:0 !important; }
.editorial-teaser-with-image-3 ul li { width:31%; }
.editorial-teaser-with-image-3 ul li { width:30.8% \9; }
.editorial-teaser-with-image-3 ul li:nth-child(3n) { margin-right:0; }
.editorial-teaser-with-image-3 .item2, .editorial-teaser-with-image-3 .item5, .editorial-teaser-with-image-3 .item8 { margin-right:0 ; }
.editorial-teaser-container ul li .last { margin-right:0 !important; margin-bottom:20px ; }
/*.small-feature-container ul li.last { margin-bottom:5px !important ;}*/
.editorial-teaser-container .sfimageWrp { float:left; display:block; margin:0; padding:0; width:100%; height:auto; }
.editorial-teaser-container .sfimageWrp img { width:100%; max-width:100%;}
.editorial-teaser-container .editorial-teaser-details { position:absolute; display:none; z-index:20; margin:0; padding:0; width:100%; height:auto; background:rgba(0,0,0, 0.7); overflow: hidden; left: 0; top: 0; float:left; }
.ie7 .editorial-teaser-container .editorial-teaser-details, .ie8 .editorial-teaser-container .editorial-teaser-details { z-index:40; background:url(../Images/black_60percent.png)/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/black_60percent.png*/; }
.editorial-teaser-container ul li h2.sfitemTitle { float:left; display:inline; margin:15px; padding:0; font-size:18px; line-height:22px; color:#fff; font-weight:normal; }
.editorial-teaser-container .editorial-teaser-details a { float:left; display:inline; margin:0 0 0 15px;  }
.editorial-teaser-container .editorial-teaser-blackband { float:left; display:block; margin:0; padding:0; width:100%; height:auto; background-color:#231f20; }

.editorial-teaser-container .editorial-teaser-blackband a { background: url("../Images/icon_link_white_arrow.gif")/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/icon_link_white_arrow.gif*/ no-repeat scroll right center transparent; color: #FFFFFF; display: inline; float: left; font-size: 18px; height: auto; line-height: 22px; margin: 5px 10px 5px 15px ; padding: 3px 10px 5px 0; width: auto; }
.ie7 .editorial-teaser-container .editorial-teaser-blackband {height:12px !important; margin-bottom:22px;}
.ie7 .editorial-teaser-container .editorial-teaser-blackband a {  line-height: 22px; margin: 5px 10px 0 15px !important; padding: 5 10px 0 0 !important;   }

 .ie7 #content-col .editorial-teaser-parent.sfContentBlock {   /* border-bottom: medium none;*/ padding-bottom:26px !important; } 
/*.ie7 .editorial-teaser-container .editorial-teaser-blackband, .ie7 .editorial-teaser-container .editorial-teaser-blackband a {   height:40px; }*/
/*.ie7 .editorial-teaser-container  { margin-bottom:25px;  }*/
.hero-image-carousel-container { float:left; display:inline; margin:0 0 3px; padding:0 0 5px 0; width:100%; height:auto; border-bottom:1px solid #ddd; background:#000 ; /* overflow:hidden !important;*/ }
.first-div-block .hero-image-carousel-container {  margin: 8px 0 3px; }
.hero-image-carousel-secondary .hero-image-carousel-container {padding:0;  margin: 0px 0 2px; background: #231F20; }
.hero-image-carousel { width:100%; height:auto !important; overflow:hidden !important; float:left; position:relative !important; } 
.hero-image-carousel .wrppr { position:relative; width:auto; opacity:0; width: 3000px;}
.hero-image-carousel .hero-image-block { float:left; display:inline; }
.hero-image-carousel .sfimageWrp {margin-right:0; !important; margin-bottom: 0;  position: relative;}
.hero-image-carousel .sfimagewrp img {width:100%; !important; max-width:100%;}
.hero-image-carousel .hero-image-details { display:none; }
.hero-image-caption-area { float:left; padding:15px 20px; }
.hero-image-caption-area h2 { /* margin:3px 0 12px 0; padding:0; */width:100%; color:#fff; font-size:18px; line-height:22px; font-weight:normal; clear:both;}
.hero-image-caption-area p { margin:0 0 4px 0; width:100%; color:#fff; font-size:14px; line-height:20px; font-weight:normal; clear:both; }
.hero-image-caption-area .btn-hero-image-callout { }
.hero-image-carousel #carousel-controls	{ position:absolute; /*top:230px; *top:0;*/ left:auto; *left:0; top:230px; width:100% !important; height:33px; z-index:20; }
.hero-image-carousel #carousel-controls .arrow	{ display:inline; margin:0; padding:0; width:33px; height:33px; display:none; } 
.hero-image-carousel #carousel-controls .prev { float:left; background:url(../Images/hero_img_carousel_arrows.png)/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/hero_img_carousel_arrows.png*/ 0 0 no-repeat; }
.hero-image-carousel #carousel-controls .next { float:right; background:url(../Images/hero_img_carousel_arrows.png)/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/hero_img_carousel_arrows.png*/ -33px 0 no-repeat; }
.hero-image-carousel #carousel-controls .prev:hover, #img-carousel #carousel-controls .prev-shover	{ cursor:pointer; background-position:0 -33px; }
.hero-image-carousel #carousel-controls .next:hover, #img-carousel #carousel-controls .next-shover	{ cursor:pointer; background-position:-33px -33px; }
/*.hero-image-carousel-secondary-container { background:#231F20; position:relative; max-height: 379px; overflow:hidden;}
.hero-image-carousel-secondary-container .secondary-wrapper {display: inline;}
.hero-image-carousel-secondary-container .hero-image-carousel { width: 74%; height: 74% !important; overflow:hidden; }
.hero-image-carousel-secondary-container .hero-image-caption-area {
 float: right; position: relative; width: 22%; overflow:hidden; }
.hero-image-carousel-secondary-container .black-background {height:100%; width:100%; background:#000; position:absolute; top:0; right:0; z-index: -1; }*/
.hero-video-carousel-container { float:left; display:inline; margin: 10px 0 0; /*padding:0 0 30px 0;*/ background-color:#231F20; width:100%; height:auto; border-bottom:1px solid #ddd; }
.sfContentBlock .hero-video-carousel-container { margin:0;} 
.hero-video-carousel { width:74%; height:auto; overflow:hidden; float:left; position:relative; }
.hero-video-carousel .wrppr { position:relative; width:auto; }
.hero-video-carousel .hero-video-block { float:left; display:inline; }
.hero-video-carousel .hero-video-details { display:none; }
.hero-video-caption-area { float:left; padding:0 20px ; height:auto; background-color:#231f20; width:20%; overflow: hidden;}
.hero-image-caption-area  h2, .hero-video-caption-area h2, .hero-video-carousel-container  h2 { /*float:left;*/ margin:10px 0 12px 0 !important; padding:0; /*width:80%;*/ color:#fff !important; font-size:18px; line-height:22px; font-weight:normal; margin-top:10px !important }
.hero-video-caption-area p { /*float:left;*/ margin:0 0 12px 0; /*width:70%;*/ color:#fff; font-size:14px; line-height:18px; font-weight:normal; }
.hero-video-caption-area .btn-hero-video-callout { /*float:left;*/ }
.hero-video-carousel #video-carousel-controls	{ position:absolute; top:162px; left:0; /*margin:168px 0 0 0*/; width:auto; height:33px; z-index:20; }
.hero-video-carousel #video-carousel-controls .arrow	{ display:inline; margin:0; padding:0; width:33px; height:33px; display:block; } 
.hero-video-carousel #video-carousel-controls .prev { float:left; background:url(../Images/hero_img_carousel_arrows.png)/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/hero_img_carousel_arrows.png*/ 0 0 no-repeat; }
.hero-video-carousel #video-carousel-controls .next { float:right; background:url(../Images/hero_img_carousel_arrows.png)/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/hero_img_carousel_arrows.png*/ -33px 0 no-repeat; }
.hero-video-carousel #video-carousel-controls .prev:hover, #img-carousel #video-carousel-controls .prev-shover	{ cursor:pointer; background-position:0 -33px; }
.hero-video-carousel #video-carousel-controls .next:hover, #img-carousel #video-carousel-controls .next-shover	{ cursor:pointer; background-position:-33px -33px; }

/*########### Styles for buttons and utility items ###########*/
.btn-global a , input.btn-global{ margin:0  ; padding:5px 20px 5px 10px;/* width:auto; height:auto;*/ font-size:14px; line-height:18px; color:#fff; background:#090 url(../Images/bg_btn_arrows.png)/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/bg_btn_arrows.png*/ right 0px no-repeat; white-space: nowrap; min-height:16px;  display:inline-block; }
.btn-global a:hover, input.btn-global:hover { text-decoration:none; background:#077b51 url(../Images/bg_btn_arrows.png)/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/bg_btn_arrows.png*/ right -50px no-repeat; } 

form {    margin: 0; }
.btn-widget { width:auto; height:auto; }
.btn-widget:hover, .btn-widget-hover { cursor:pointer; background-color:#077b51;}
.util-widget-box { display:none; position:absolute; padding:8px 0 0 0; position:absolute; top:auto; left:auto; width:auto; height:auto; background:url(../Images/bg_widget_arrow.gif)/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/bg_widget_arrow.gif*/ right top no-repeat; /* z-index:2000;*/ }
.ie7 .util-widget-box {*background-image:none; } /* ie7 */
.util-widget-box .inner { width:100%; height:auto; background-color:#077b51; }
#util-area .btn-widget { float:right; display:inline; margin:0 0 0 10px; padding:0 18px 0 9px; width:auto; height:19px; font-size:11px; background:#949494 url(../Images/bg_widget_btn.gif)/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/bg_widget_btn.gif*/ right top no-repeat; color:#fff; }
#util-area .btn-widget:hover, #util-area .btn-widget-hover { background:#077b51 url(../Images/bg_widget_btn.gif)/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/bg_widget_btn.gif*/ right -19px no-repeat; }

/*########### Styles for modals ###########*/
#img-modal { position:absolute; display:none; margin:20px 10.5% 0; padding:10px 30px 35px 30px;  width:74%; height:auto; background-color:#fff; z-index:9999; }
.ie7 #img-modal, .ie8 #img-modal  {   margin:20px 14% 0;max-width:66%}
#img-modal img { width:100%; }
#img-modal .img-caption { float:left; display:block; margin:0; padding:15px 2%; width:96%; background-color:#eee; }
#img-modal .img-caption p { float:left; display:block; margin:0; font-size:12px; line-height:16px; color:#666; }
.sf_cols.sfContentBlock .img-wrppr.img-wrppr-right {    margin: 0;    width: 100%; }
#toolbox { display:block; margin-bottom:2px; width:100%; height:10px; *height:25px; }
#toolbox ul { margin:15px 0 0 3px; }
#toolbox ul li { z-index:0 ; position:relative; float:left; display:inline; margin:0 25px 0 0; padding:0 0 0 16px; width:auto; height:10px; font-size:10px; line-height:10px; color:#999; background:url(../Images/hess_global_icons.png)/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/hess_global_icons.png*/ 0 0 no-repeat; }
#toolbox ul li:hover {color:#007a50; z-index:19;}
#toolbox ul li#icon-email { background-position:0 0; }
#toolbox ul li#icon-email:hover, #toolbox ul li.icon-email-shover { background-position:0 -10px; cursor:pointer; color:#007a50; }
#toolbox ul li#icon-print { background-position:0 -20px; }
#toolbox ul li#icon-print:hover, #toolbox ul li.icon-print-shover { background-position:0 -30px; cursor:pointer; color:#007a50; }
#toolbox ul li#icon-share { background-position:0 -40px; }
#toolbox ul li#icon-share:hover, #toolbox ul li.icon-share-shover { background-position:0 -50px; cursor:pointer; color:#007a50; }
#toolbox .toolbox-icon-share { width:300px; height:auto; background-position:40px 0; margin:0 0 0 -30px; *margin-top:12px; *left: 84px; *position: absolute; /* ie7 */ }
#toolbox .toolbox-icon-share .inner { float:left; display:inline; margin:0; padding:0; width:100%; height:auto; border:none; border-radius:0 !important; background-color:#077b51; }
#toolbox .toolbox-icon-share .inner ul { float:left; display:inline; margin:5px 0 0 0 !important; padding:0; width:100%; height:140px; background-color:#eee; border-top:1px solid #fff; }
#toolbox .toolbox-icon-share .inner ul li { float:left; display:inline; margin:0; padding:0 0 0 20px; width:129px; height:45px; background-image:none !important; border-top:1px solid #fff; border-right:1px solid #fff; }
#toolbox .toolbox-icon-share .inner ul li.even { width:130px; border-right:none; }
#toolbox .toolbox-icon-share .inner ul li a { display:block; width:129px; height:45px; font-size:14px; line-height:45px !important; color:#666; }
#toolbox .toolbox-icon-share .inner ul li a:hover { color:#090; text-decoration:none; }
#toolbox .addthis_button_facebook .at16nc { margin:0 0 -7px; !important; display:inline-block !important; width:38px !important; height:25px !important; background:url(../Images/icon_toolbox_share.png)/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/icon_toolbox_share.png*/ 0 0 no-repeat !important; }
#toolbox .addthis_button_facebook:hover .at16nc { background-position:0 -25px !important; }
#toolbox .addthis_button_twitter .at16nc { margin:0 0 -7px; display:inline-block !important; width:38px !important; height:25px !important; background:url(../Images/icon_toolbox_share.png)/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/icon_toolbox_share.png*/ 0 -50px no-repeat !important; }
#toolbox .addthis_button_twitter:hover .at16nc { background-position:0 -75px !important; }
#toolbox .addthis_button_linkedin .at16nc { margin:0 0 -7px; display:inline-block !important; width:38px !important; height:25px !important; background:url(../Images/icon_toolbox_share.png)/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/icon_toolbox_share.png*/ 0 -100px no-repeat !important; }
#toolbox .addthis_button_linkedin:hover .at16nc { background-position:0 -125px !important; }
#toolbox .addthis_button_google_plusone_badge .at16nc { margin:0 0 -7px; display:inline-block !important; width:38px !important; height:25px !important; background:url(../Images/icon_toolbox_share.png)/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/icon_toolbox_share.png*/ 0 -150px no-repeat !important; }
#toolbox .addthis_button_google_plusone_badge:hover .at16nc { background-position:0 -175px !important; }
#toolbox .addthis_button_blogger .at16nc { margin:0 0 -7px; display:inline-block !important; width:38px !important; height:25px !important; background:url(../Images/icon_toolbox_share.png)/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/icon_toolbox_share.png*/ 0 -200px no-repeat !important; }
#toolbox .addthis_button_blogger:hover .at16nc { background-position:0 -225px !important; }
#toolbox .addthis_button_digg .at16nc { margin:0 0 -7px; display:inline-block !important; width:38px !important; height:25px !important; background:url(../Images/icon_toolbox_share.png)/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/icon_toolbox_share.png*/ 0 -250px no-repeat !important; }
#toolbox .addthis_button_digg:hover .at16nc { background-position:0 -275px !important; }
#toolbox ul li#icon-email a { color: #999 !important; display: inline; float: left;}
#toolbox ul li#icon-email a:hover, #toolbox ul li#icon-email:hover { color:#007a50 !important; text-decoration:none; }
.at300b:hover {opacity: 1 !important; }
#toolbox .at300bs { display:none; }
#toolbox-modal { display:block; margin-bottom:15px; width:100%; height:10px; }
#toolbox-modal ul { margin:15px 0 0 3px; }
#toolbox-modal ul li { float:left; display:inline; margin:0 25px 0 0; padding:0 0 0 16px; width:auto; height:10px; font-size:10px; line-height:10px; color:#999; background:url(../Images/hess_global_icons.png)/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/hess_global_icons.png*/ 0 0 no-repeat; }
#toolbox-modal ul li#icon-email { background-position:0 0; }
#toolbox-modal ul li#icon-email:hover, #toolbox-modal ul li.icon-email-shover { background-position:0 -10px; cursor:pointer; color:#007a50; }
#toolbox-modal ul li#icon-print { background-position:0 -20px; }
#toolbox-modal ul li#icon-print:hover, #toolbox-modal ul li.icon-print-shover { background-position:0 -30px; cursor:pointer; color:#007a50; }
#toolbox-modal ul li#icon-share { background-position:0 -40px; }
#toolbox-modal ul li#icon-share:hover, #toolbox-modal ul li.icon-share-shover { background-position:0 -50px; cursor:pointer; color:#007a50; }
#toolbox-modal .toolbox-icon-share { margin:0 0 0 -30px; width:300px; height:auto; background-position:40px 0; }
#toolbox-modal .toolbox-icon-share .inner { float:left; display:inline; margin:0; padding:0; width:100%; height:auto; border:none; border-radius:0 !important; background-color:#077b51; }
#toolbox-modal .toolbox-icon-share .inner ul { float:left; display:inline; margin:5px 0 0 0 !important; padding:0; width:100%; height:140px; background-color:#eee; border-top:1px solid #fff; }
#toolbox-modal .toolbox-icon-share .inner ul li { float:left; display:inline; margin:0; padding:0 0 0 20px; width:129px; height:45px; background-image:none !important; border-top:1px solid #fff; border-right:1px solid #fff; }
#toolbox-modal .toolbox-icon-share .inner ul li.even { width:130px; border-right:none; }
#toolbox-modal .toolbox-icon-share .inner ul li a { display:block; width:129px; height:45px; font-size:14px; line-height:45px !important; color:#666; }
#toolbox-modal .toolbox-icon-share .inner ul li a:hover { color:#090; text-decoration:none; }
#toolbox-modal .addthis_button_facebook .at16nc { margin:0 0 -7px; !important; display:inline-block !important; width:38px !important; height:25px !important; background:url(../Images/icon_toolbox_share.png)/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/icon_toolbox_share.png*/ 0 0 no-repeat !important; }
#toolbox-modal .addthis_button_facebook:hover .at16nc { background-position:0 -25px !important; }
#toolbox-modal .addthis_button_twitter .at16nc { margin:0 0 -7px; display:inline-block !important; width:38px !important; height:25px !important; background:url(../Images/icon_toolbox_share.png)/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/icon_toolbox_share.png*/ 0 -50px no-repeat !important; }
#toolbox-modal .addthis_button_twitter:hover .at16nc { background-position:0 -75px !important; }
#toolbox-modal .addthis_button_linkedin .at16nc { margin:0 0 -7px; display:inline-block !important; width:38px !important; height:25px !important; background:url(../Images/icon_toolbox_share.png)/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/icon_toolbox_share.png*/ 0 -100px no-repeat !important; }
#toolbox-modal .addthis_button_linkedin:hover .at16nc { background-position:0 -125px !important; }
#toolbox-modal .addthis_button_google_plusone_badge .at16nc { margin:0 0 -7px; display:inline-block !important; width:38px !important; height:25px !important; background:url(../Images/icon_toolbox_share.png)/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/icon_toolbox_share.png*/ 0 -150px no-repeat !important; }
#toolbox-modal .addthis_button_google_plusone_badge:hover .at16nc { background-position:0 -175px !important; }
#toolbox-modal .addthis_button_blogger .at16nc { margin:0 0 -7px; display:inline-block !important; width:38px !important; height:25px !important; background:url(../Images/icon_toolbox_share.png)/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/icon_toolbox_share.png*/ 0 -200px no-repeat !important; }
#toolbox-modal .addthis_button_blogger:hover .at16nc { background-position:0 -225px !important; }
#toolbox-modal .addthis_button_digg .at16nc { margin:0 0 -7px; display:inline-block !important; width:38px !important; height:25px !important; background:url(../Images/icon_toolbox_share.png)/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/icon_toolbox_share.png*/ 0 -250px no-repeat !important; }
#toolbox-modal .addthis_button_digg:hover .at16nc { background-position:0 -275px !important; }
#content-col .sf_colsIn div.last-block { /*margin-bottom:5% ; */padding-bottom:0 !important; border-bottom:none !important; }
#content-col .small-feature-container.small-feature-with-image-single.last-block {    padding: 0 0 20px !important; }
#content-col .sf_colsIn div.last-div-block { border-bottom:none !important; width: 100%;   margin-bottom: 0;}
#footer-area { margin-top:0; }
#footer-nav, #footer-nav .rtsUL { float:right; }
#footer-nav .rtsUL li { float:left; display:inline; margin:0; padding:0; width:auto; }
#footer-nav .rtsUL li .rtsLink { padding-left:0; }
#footer-nav .rtsUL li .rtsOut { padding-right:0; }
#footer-nav .rtsUL li .rtsIn { padding:0 5px 0 0; background:url(../Images/util_slash.gif)/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/util_slash.gif*/ right center no-repeat; }
#footer-nav .rtsUL li.rtsLast .rtsIn { padding-right:0; background-image:none; }
/*########### Styles for content ###########*/
#content-col .sfContentBlock  { float:left; display:inline; margin:12px 0 12px; padding: 0 0 22px; border-bottom:1px solid #ddd; }
#content-col .custom2col.sfContentBlock {    margin: 7px 0 9px !important;    padding-bottom: 20px  }
#content-col .sfContentBlock.small-feature-parent {    padding: 0 0 20px;  margin: 10px 0 11px;}
 #content-col .sfContentBlock.page-title  { padding: 0 ; }
#content-col .sf_cols  .sf_cols.sfContentBlock {/*padding: 0 0 10px ;*/ margin: 12px 0  }
#content-col .sf_cols  .sf_cols.sfContentBlock.last-div-block {  padding:0; margin-bottom:4px;  margin-top: 14px;  }
.ie7 #content-col .sf_cols  .sf_cols.sfContentBlock.last-div-block, .ie8 #content-col .sf_cols  .sf_cols.sfContentBlock.last-div-block {  padding-bottom:22px; margin-bottom:0;}
#content-col .sf_cols  .small-feature-left-img-g-parent.sfContentBlock {   margin:14px 0 10px; }
.sf_cols .sf_colsOut .sf_colsIn .sfContentBlock.no-bottom-border {   margin-top: 0 !important; }
.editorial-teaser-parent {     padding-bottom: 3px !important; }
#content-col .sfContentBlock.sfVideoBlock { display: inline-block; width: 100%; margin:  12px 0 -10px; border:none; padding:0 0 10px;}
#content-col .sfContentBlock.sfVideoBlock.first-div-block {   margin:  19px 0 0;}
.page-title-block { border:none !important; padding:0 !important; margin:0 !important;}
.sfBreadcrumbWrp, .sfBreadcrumbWrp .RadSiteMap .sfBreadcrumbNavigation .rsmLink, .sfBreadcrumbWrp, .sfBreadcrumbWrp .RadSiteMap .sfNoBreadcrumbNavigation .rsmLink { font-size:14px; color:#999 !important; }
.rsmLink{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.rsmLink:hover
{
    background: none !important; text-decoration:underline; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
span.sfBreadcrumbNodeSeparator {    color: #999999 ;}
#mainNav_T361D07E4001 .RadMenu_Sitefinity { /*z-index:20 !important; */ position:relative; zoom:1;}
#mainNav_T361D07E4001 { position:relative; display:block; zoom:1; width:100%; height:auto; z-index:20 !important;}
.sfPageBrowseAndEditToolbarWrp a.sfOpenBrowseAndEditMenuLnk:link { z-index:21 !important; }
#rights .sfimageWrp, #rights .sfContentBlock { float:left; display:inline; margin:0; padding:0; width:auto; }
#rights .sfimageWrp { margin-right:5px; }
#rights .sfContentBlock { font-size:14px; color:#999; }
.video-js { float:left; display:inline;/* margin-top:25px !important;*/ }
/*.videoWrapper { margin-top:3px !important;}*/
/*.first-div-block .videoWrapper { margin-top:19px !important;}*/
.hero-video-carousel-container .video-js { margin-top:0 !important; }158
.blurb-block p, .blurb-block .blurb-copy { *width:425px !important;}

/*########### User Custom Styles for Content ###########*/

/* greyline: add 1px light grey line to image, useful for infographics*/
.greyline img { border: 1px solid #ddd; max-width: 99.5%;}
.greyline { height: auto; }
/* green-arrow: add a small green box with white arrow on the right of a link*/
a.green-arrow { background:url("../Images/icon_link_arrows.png")/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/icon_link_arrows.png*/ no-repeat scroll right 3px transparent; position:relative; padding: 1px 20px 1px 0;	color:#090;	  display: inline-table; margin: 6px 0 0;}
/*.ie7 a.green-arrow {  display: table;}*/
a.green-arrow:hover, .green-arrow:hover { background-position: right -47px;	color:#007a50;	}

/* light-arrow: add a small green arrow on the right of a link*/
a.light-arrow, .light-arrow { background:url("../Images/icon_link_arrows-light-ie7-a.gif")/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/icon_link_arrows-light-ie7-a.gif*/ no-repeat scroll right 3px transparent; padding: 1px 14px 1px 0;	color:#090;	  display: inline;}
a.light-arrow:hover, .light-arrow:hover { background: url("../Images/icon_link_arrows-light-ie7-ahover.gif")/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/icon_link_arrows-light-ie7-ahover.gif*/ no-repeat scroll right 3px transparent;	color:#007a50; }

/*investor landing page css moved to investor cms page */

.ie7 .wei-section a.light-arrow, .ie7 .light-arrow { background:url("../Images/icon_link_arrows-light-ie7-a.gif")/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/icon_link_arrows-light-ie7-a.gif*/ no-repeat scroll right center transparent; padding: 1px 14px 1px 0;	color:#090;display: inline;	 }
.ie7 .wei-section a.light-arrow:hover, .ie7 .light-arrow:hover {background:url("../Images/icon_link_arrows-light-ie7-ahover.gif")/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/icon_link_arrows-light-ie7-ahover.gif*/ no-repeat scroll right center transparent; 	color:#007a50; }

.ie7 .wei-section a.light-arrow, .ie7 .light-arrow, .ie7 .wei-section a.light-arrow, .ie7 .green-arrow {width:100%;  display: inline; }

/*no-bottom-border: remove the grey bottom border from a content block*/
#content-col .no-bottom-border{	border-bottom:none !important;	 	}

/*add-top-border: add a grey top border to a content block*/
.add-top-border{	border-top:1px solid #ddd;	padding-top:20px !important;	}	

/*dont-wrap: prenvent context text from wrapping (keep it in a single line if possible)*/
.dont-wrap {	white-space: nowrap;	}

.hide {display:none ;}

.blk {color:#000;}

.clear-both {float: none !important; clear:both !important;}

/*Link List Content Block*/
.link-list a {display:inline !important;}

/*############# Styles for the ApplyClass ##############*/

/* Style for Sitefinity Content Editor */
 
 .sfPageEditor hr { border-color: #ddd ; border-style: dotted ; margin: 5px 0; border-bottom:none;}
/*.sfPageEditor #logo-area, .sfPageEditor #util-area, .sfPageEditor #hdr-area,*/ .sfPageEditor #footer-nav, .sfPageEditor #footer-area {display:none;} 

 .sfTemplateEditor #logo-area, .sfTemplateEditor #util-area, .sfTemplateEditor #hdr-area, .sfTemplateEditor #footer-nav, .sfTemplateEditor #footer-area {display:block;} 
 
 
 .sfPageEditor .sfMessagePane.page-title .rtsUL {    display: none; }
 
 
 /*############# Investors page ##############*/
 
 #stock-frame  {/* margin-left:-20px;*/ width:99%; border:1px solid #ddd;}