.img-modal {}
.img-full-width {   margin: 0 0 10px;    width: 100%;}
.green-arrow {    background:url("../Images/icon_link_arrows.png")/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/icon_link_arrows.png*/ no-repeat scroll right 3px transparent;   position:relative;    padding: 1px 20px 1px 0;	color:#090;	}

.light-arrow { background:url("../Images/icon_link_arrows-light-ie7-a.gif")/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/icon_link_arrows-light-ie7-a.gif*/ no-repeat scroll right 3px transparent;    padding: 1px 14px 1px 0;	color:#090;	}
.green-arrow a, light-arrow a {color:#090;}
.black { color:#000 !important;}
.pdf {    background: url("../Images/hess_download.gif")/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/hess_download.gif*/ no-repeat scroll right 4px transparent !important;     margin: 6px 0 0 !important;     line-height: 20px;    padding: 3px 20px 5px 0 !important ;display: inline-block; *display:inline; *width:100%;}
.ex-link { background: url("../Images/hess_outbound_link.gif")/*tpa=http://www.hess.com/Sitefinity/WebsiteTemplates/HessBootstrap/App_Themes/HessBootstrap/Images/hess_outbound_link.gif*/ no-repeat scroll right 4px transparent !important;  display: inline-block;*display:inline; *width:100%;
 clear: both; margin: 6px 0 0 !important; line-height: 20px;
 padding: 1px 20px 1px 0 !important;}
 .ie7 .pdf, .ie7 .ex-link {background-image:none !important;}