body {
	background-color:transparent
}
body.bg {
    background: none repeat scroll 0 0 #F5F4ED;
}
/*.entry-content {
    font: 11px/1.6em Verdana,Geneva,sans-serif;
}*/


.stockquote {
    border: 1px solid #d6d6d6;
	font-size: 11px;
	margin:0;

}
.stockquote td{
	padding:0;
	border:none;
}
#stocktable {
    display: inline;
    float: right;
    width: 162px;
    margin: 0 0 0.1em 40px;	
}

.stockquote_title {
    background-color: #007AAB;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
	text-align:center;
	

}
.disclaimer {
    color: #999999;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
}
.shorten tr td:last-child, .shorten tr th:last-child{
	width:120px;
}
table.calculator th{
	letter-spacing:normal;
	padding:0;
}
table.th_adjust th{
	letter-spacing:normal;
	padding:0 0 5px 0;
	line-height:normal;
}

#leadership_menu .vmenu li ul li a, 
#responsibility_menu .vmenu li ul li a, 
#newsroom_menu .vmenu li ul li a, 
#investors_menu .vmenu li ul li a, 
#governance_menu .vmenu li ul li a {
    color: #000 !important;
}

#leadership_menu .vmenu li ul li a:hover, 
#responsibility_menu .vmenu li ul li a:hover, 
#newsroom_menu .vmenu li ul li a:hover, 
#investors_menu .vmenu li ul li a:hover, 
#governance_menu .vmenu li ul li a:hover,
#leadership_menu .vmenu li ul li.active a, 
#responsibility_menu .vmenu li ul li.active a, 
#newsroom_menu .vmenu li ul li.active a, 
#investors_menu .vmenu li ul li.active a, 
#governance_menu .vmenu li ul li.active a{
    color: #D96B16 !important;
}

.vmenu li span {
margin: 0 0 0 0.75em;
}
.vmenu li span.nolink {
margin: 0;
padding: 0 0 0.25em;
}

#leadership_menu .vmenu li.nobg:hover, 
#responsibility_menu .vmenu li.nobg:hover, 
#newsroom_menu .vmenu li.nobg:hover, 
#investors_menu .vmenu li.nobg:hover, 
#governance_menu .vmenu li.nobg:hover  {
    background: none;
}

#video {
    float: right;
    padding: 0 0 0 15px;
}
/*#csrcol1 {
	float: left;
    padding: 0;
    width: 245px;
	padding-left:50px;
}
#csrcol2 {
    float: left;
    padding: 0;
    width: 245px;
	padding-right:50px;
}*/
#csrcol2 h4, #csrcol1 h4 {
    margin: 0 0 10px;
    padding: 0;
}

#csrcol1 {
	float:right;
    padding: 0;
    width: 270px;
	padding:0 25px;
}
#csrcol2 {
    float: right;
    padding: 0;
    width: 270px;
	padding:0 25px;
}

.ttcol1 {
	padding-left: 30px;
	width: 245px;
	margin: 10px 0 0;
	float: left;
}

.entry-dividercsr {
	background: url('../images/layout/bg_content_tail.jpg')/*tpa=http://www.reynoldsamerican.com/images/layout/bg_content_tail.jpg*/ 0 0 no-repeat;
	height: 1px;
	padding-left: 0px;
	margin-left: 0px;
	clear: both;
	margin-top: 10px;
	margin-bottom: 30px;
}

#noheight div{
	height:inherit !important;
}

.noborder {
    border:none !important;
}

.noborder table, .noborder tr, .noborder tr td, .noborder tr th, tr.noborder, th.noborder, td.noborder, tr.noborder td, th.noborder td {
    border:none;
}
.dataTable tr th{
	border-bottom: 1px dashed #C6C6C6;
}
.dataTable tr.primary td, .dataTable tr.primary th{
	border-top:0px solid #DDDDDD;
}

.pdf a {
    background: url("../common/images/ico_pdf.gif")/*tpa=http://www.reynoldsamerican.com/common/images/ico_pdf.gif*/ no-repeat scroll 0 10px transparent;
	padding-left: 2em !important;
	display:inline;
	line-height:normal;
}

.dataTable img[class*="align"] {
    border: 0px solid #DDDDDD;
    padding: 0;
}

#expandAllSections img, #collapseAllSections img, #expandAllBios img, #collapseAllBios img, #expandAllSections img:hover, #collapseAllSections img:hover, #expandAllBios img:hover, #collapseAllBios img:hover{
	background-color:transparent;
	border:0px;
	text-decoration:none;
	padding: 0 0 0 0 !important;
}
.wsh_expCol_All{
	float:right;
	font: 9px Verdana,Geneva,sans-serif;

}
.wsh_expCol_All a:focus, .wsh_expCol_All a:active, .wsh_expCol_All a:hover {
    color: #1982D1;
    text-decoration: none;
}
.wsh_expCol{
	float:left;
	padding: 3px 3px 0 0;
	}
.wsh_commMem img{
	float:left;
	padding: 3px 3px 0 0;

}
.wsh_bioPic{
	padding:5px 10px 5px 0;
	float:left;
}

.links2 li {
    border-left: 1px solid #000;
    display: inline;
    font-size: 11px;
    font-weight: 400;
    margin: 0;
    padding: 0 3px;
}
.links2 li.first {
    border: medium none;
    padding: 0;
}

.objectives h2:before{
	content:"-  "; 
	/*color: #D96B16;*/
}
.objectives h2{
		border-bottom:1px dashed #C6C6C6; 
}
#spotlight h4{
	display:none;
	height:0px;
}
#spotlight p:last-child{
	margin-bottom:0px;
}
.hentry {
	border-bottom: 0px solid #ddd;
}

.vmenu #spotlight, .vmenu #spotlight li {
    margin-bottom: 0;
	color:#000;
}

#stocktable {
    display: inline;
    float: right;
    width: 162px;
	font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
	text-align: left;
}
.stockquote td {
    font: 11px Arial,Helvetica,sans-serif !important;
	text-transform:none;
}
.stockquote_title {
    background-color: #007AAB;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    padding-left: 7px;
		text-align: left;

}

.stockquote {
    border: 1px solid #007AAB !important;
}
.dow-jones, .nyse{
	cursor:default;
}

div.entry-content img.no-border{border:none;}
.no-clear{ clear:none; }
.post-body{ overflow:hidden; }

p.caption{ width: 585px; }
div.entry-content img, img.no-border{ border:none; }
div.entry-content img.border{ border:1px solid #CCCCCC; }
p.back-to-top{ text-align:right; }

/*******************************************/

#whatsnew_menu {
	margin: 0;
	padding: 0 1.5em;
	background: url(../images/layout/bg_sidebar_whatsnew.png)/*tpa=http://www.reynoldsamerican.com/images/layout/bg_sidebar_whatsnew.png*/ no-repeat;
	height: 37px;

}

.widget-title {
	color: #fff;
	text-align: center;
	font: bold 16px/2.5em "Trebuchet MS", Trebuchet, Arial, Helvetica, sans-serif;
}

#spotlight {
	padding-top: 15px;
}

#spotlight h5 {
	display: none;	
}

#spotlight ul  {
	list-style-type: none;
	font: 12px/1em "Trebuchet MS", Arial, Helvetica, sans-serif; 
}

#spotlight li { 
	padding-bottom: 10px;
	font-weight:700;
}

#spotlight p {
	/*padding-bottom: 10px;
	font-weight:500;*/
	padding: .5em 0 .5em;
	color: #D96B16;
	letter-spacing: 0;
	font: 12px/1em "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin-bottom: .5em;
}

.glass-widget .widget-footer {*margin-top:-13px; margin-top:-13px\0/;} /* this targets all IE, including 7. */
