/* version 7.000 
April 30, 2010; Rae LaTulippe

Added styles for stock quote page 
removed top padding on flash chart div (wsh_flashchart) 
updated stock price size to 28px 
added height: auto !important; to .wsh_printContent .wsh_printMiddle .wsh_printContainer  to fix FF issue. 
added width: 30%; to .wsh_printTools to fix alignment issue in IE6 
added styles for mobile email page
#menu_container now float right and has a set width of 250px
added estimates styles 
added background image none to .wsh_printBody 
#menu_container removed top margin 
added line height to print container */
/*////////////////////////////////////////// Share Icon Menus ///////////////////////////////////////////////////////////////*/

ul#iconMenu {
  list-style-type:none;
  padding:0px;
  margin-left:7px;
}

#iconMenu li {
  list-style-type:none;
  padding:5px;
  padding-bottom: 15px;
}

ul#iconMenuPrint {
  list-style-type:none;
  padding:0px;
  margin: 0 0 5px 0;
}

#iconMenuPrint li {
  list-style-type:none;
  padding:5px;
  margin-top: 5px;
  display: inline;  
}

#iconMenuPrint a {
  text-decoration: none;
}

#pop2
{
  display:none;
  position:absolute;
  right:0;
  top:0;
  margin-top:25px;
  margin-right:0px;
  z-index:999;
  width:126px;
  color: #000; 
}

#pop2content
{
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right:1px solid #666;
  border-bottom:1px solid #666;
  width:125px;
  background-color:#fff;
  z-index:999;
}

#pop2content td
{
  font-size:11px; 
  line-height: 15px;
  color:#666;
  padding:3px 5px;
  text-align:left;
}

#pop2content td a
{
  text-decoration:none;
}

#menu_container {
  position:relative;
  text-align:right;  
  float: right;
  width:250px;
  margin: 0;
}

#menu_container img {
	vertical-align: bottom;
}

/*/////////////////////////////////////////// Stock Quote //////////////////////////////////////////////////////////////*/
#wsh_flashchart { text-align:center; }
.wshright { text-align:right; }
.wshcenter { text-align:center; }
.wshquoteprice { font-weight:bold; font-size:28px; padding-top:10px; }

/*/////////////////////////////////////////// Print ///////////////////////////////////////////////////////////////////*/

.wsh_printDivider {
  background-image: url(../common/images/wsh_newsDivider.gif)/*tpa=http://www.reynoldsamerican.com/common/images/wsh_newsDivider.gif*/; 
  background-repeat: repeat-x; 
  background-position:center; 
  width: 100%; 
  height:20px; 
  clear: both;
}

.wsh_printBody {
  background-color: #eee; 
  margin: 20px; 
  text-align: center;
  background-image: none;
  width: 860px;
  margin: 20px auto;
}

.wsh_printContent {
  height: 100%; 
  width: 860px; 
  margin: 0 auto;
}

.wsh_printContent .wsh_printTop {
  background-image: url(../common/images/wsh_pr_top.png)/*tpa=http://www.reynoldsamerican.com/common/images/wsh_pr_top.png*/; 
  background-repeat: no-repeat; 
  height: 15px; 
  width: 860px;	
  margin: 0;
}

.wsh_printContent .wsh_printMiddle {
  background-image: url(../common/images/wsh_pr_middle.png)/*tpa=http://www.reynoldsamerican.com/common/images/wsh_pr_middle.png*/; 
  background-repeat: repeat-y; 
  height: 50px;	
  height: auto !important; 
  min-height: 50px; 
  margin: 0;	
  text-align: left;
}

.wsh_printContent .wsh_printMiddle .wsh_printContainer {
  margin: 0 20px 0 10px; 
  padding: 10px; 
  background-color: #fff;
  height: 100%;	
  height: auto !important; 
  width: 820px;  
}

.wsh_printContainer {
	line-height: 18px;
}

.wsh_printContainer h1 {
  color:#000000;
  font-size:16px;
  margin: 5px 0 0 0;
}

.wsh_printContainer h2 {
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
  margin: 8px 0 0 0; 
  color: #666;
}

.wsh_printContent .wsh_printBottom {
  background-image: url(../common/images/wsh_pr_bottom.png)/*tpa=http://www.reynoldsamerican.com/common/images/wsh_pr_bottom.png*/; 
  background-repeat: no-repeat; 
  height: 15px; 
  width: 860px;	
  margin: 0;
}

.wsh_printLogo {
  display: inline;  
  width: 580px;
}

.wsh_printTools {
  float: right; 
  display: inline; 
  height: 100%;	
  width: 250px;
  vertical-align: baseline;
  text-align: right;
}

.wsh_printToolsNext {
  display: block;
  margin-top: 8px;
}

.wsh_printToolsBlog {
  float: right; 
  padding: 0px 10px 10px 20px; 
  width: 25%; 
  text-align: left;
}

#wsh_printBar {
  margin: 5px 0 15px 0px; 
  height: 18px; 
  width: 820px;
}

#wsh_printBar p {
  margin: 2px 0;
}

#wsh_printBar .wsh_printDate {
  float: left; 
  font-size: 13px; 
  vertical-align: bottom; 
  height: auto;
}

#wsh_printBar .wsh_printNext {
  float: right; 
  vertical-align: bottom;
}

.wsh_printFooter {
  margin: 5px 0 10px 10px; 
  width: 820px;	
  text-align: left;
}

.wsh_printTable {
  margin: 8px 0 5px 0;
}

.wsh_printTable th {
  font-weight:  bold; 
  border-bottom: 1px solid #ccc; 
  background-color: #fff; 
  color: #000; 
  padding: 3px 15px 3px 0px;
}

.wsh_printTable td {
  padding: 3px 10px 3px 0px;
}

/*/////////////////////////////////////////// Mobile Email //////////////////////////////////////////////////////////////*/
.wsh_clear {
  clear:both;
}

.wsh_form_label {
float: left;
margin-right: 15px;
width: 135px;
}

.wsh_form_input {
float: left;
}

.wsh_input { width: 195px;}



/*////////////////////////////////////////////// Estimates Styles /////////////////////////////////////////////////////*/

#fin_def, #fin_def_bot {
  width: 270px;
}
  
.wsh_fin_def, .fin_def_bot {
  text-align:left;
}
  
#wsh_fin_def_top {   
  background: url('../common/images/wsh_qb_top.png')/*tpa=http://www.reynoldsamerican.com/common/images/wsh_qb_top.png*/ no-repeat;
  width: 270px;
  height: 18px;
}
  
#wsh_fd_arrow {
  float: left; 
  background: url('../common/images/wsh_qb_arrow.png')/*tpa=http://www.reynoldsamerican.com/common/images/wsh_qb_arrow.png*/ no-repeat;  
  height: 31px;
  width: 47px; 
  position: absolute;
  margin-left: -30px;
}
  
#wsh_fd_arrow_bot {  
  background: url('../common/images/wsh_qb_arrow.png')/*tpa=http://www.reynoldsamerican.com/common/images/wsh_qb_arrow.png*/ no-repeat;  
  height: 31px;
  width: 47px; 
  position: relative;
  bottom: 30px;
  left: -30px;
}
  
#wsh_fd_def_middle {
  background: url('../common/images/wsh_qb_middle.png')/*tpa=http://www.reynoldsamerican.com/common/images/wsh_qb_middle.png*/ repeat-y;
  min-height: 25px;
  height: auto !important;  
  height: 50px;
  width: 270px;
  margin: 0;
  padding: 0px 10px 10px 25px;
  z-index: 5; 
  /*  position: relative;
  overflow:hidden; */
}
  
#wsh_def_placeholder {
  font-size: 11px;
  width: 210px;
}
  
#wsh_def_placeholder h4 {
  font-size: 13px; 
  font-weight: bold;   
  color:#666;  
  margin: 0 0 8px 0;
}
  
#wsh_def_bot_placeholder {
  font-size: 11px;
  width: 210px;
}
  
#wsh_def_bot_placeholder h4 {
  font-size: 13px; 
  font-weight: bold;   
  color:#666;  
  margin: 0 0 8px 0;
}
  
#wsh_fin_def_bottom {   
  background: url('../common/images/wsh_qb_bottom.png')/*tpa=http://www.reynoldsamerican.com/common/images/wsh_qb_bottom.png*/ no-repeat;
  width: 270px;
  height: 25px; 
}
  
.sumPadding td {   
  padding:8px;
}
  
.earningsHeading {
  font-size:14px;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  margin-bottom:10px;
  padding-bottom:5px;
}
  
a#linkNoStyle {
  text-decoration:none;
}
  
a#linkNoStyle:hover {
  text-decoration:none;
  color:black;
}
  
.borderLR {
  border-left:1px solid #CCCCCC;
  border-right:1px solid #CCCCCC;
}
  
.top25 {
  margin-top:27px;
}
  
.borderTop {
  border-top:1px solid #CCCCCC;
}

/*////////////////////////////////////// Used to determine if user is using JS /////////////////////////////////////////////////*/
/*//////////////////////////////////////       Functional do not change        /////////////////////////////////////////////////*/

.wsh_JSon {
  display:inline;
}
 
.wsh_JSoff {
  display:none;
}	

.noprint {
  display: table-inline;
}