@charset "utf-8";
/* CSS Document */
*{margin:0;	padding:0;}

body {margin: 0px auto; padding:0px; background-color:#e7e7e9;}
#wrapper {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	font-family:Arial, Helvetica, sans-serif; 
	font-size:14px;color:#4b4b4d; 
}
#header {background-color:#ffffff; }
#slideshowHolder { display: none; } 
#globaltopnav {
	float:right;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;color:#4b4b4d;
	margin-top:48px;

}

#logo {
	float:left;
}

#globaltopnav a:link, #globaltopnav a:visited {
	text-decoration: underline;
	color:#4b4b4d;
}

#globaltopnav a:hover {
	color:#939598;	
	text-decoration: none;
	font-weight:normal;
}

#globaltopnav a:active {
}
.world {
	float:left;
}
.sites {
	margin-top:2px;
	float:right;
}
.floatleft{ float:left;}
.floatright{ float:right;}

.clear{clear:both;font-size:0;display:block;height:0;}
.space {height:15px;}

#section1 {
	display:block;
	float:left;
	width:723px;
	margin-right:11px;
	background-image:url(../images/mainpic5.jpg)/*tpa=http://www.synnex.com/global/resources/images/mainpic5.jpg*/;
	height:284px;
}
#section1Sub {
	display:block;
	float:left;
	width:723px;
	margin-right:11px;
	height:284px;
}
#section2 {
	display:block;
	float:left;
	width:226px;
}
#section2 p{
	margin-bottom:15px;
}
#section2 a:link, #section2 a:visited {
	text-decoration: none;
	color:#4b4b4d;

}

#section2 a:hover {
	color:#4b4b4d;	
	text-decoration: underline;

}

#section2 a:active {
}
#section3 {
	display:block;
	width:960px;
}
#section3a {
	display:block;
	float:left;
	width:231px;
	margin-right:12px;
}
#section3b {
	display:block;
	float:left;
	width:231px;
	margin-right:11px;
}
#section3c {
	display:block;
	float:left;
	width:231px;
	margin-right:12px;
}
#section3d {
	display:block;
	float:left;
	width:231px;
}

#section4 {
	display:block;
	float:left;
	width:310px;
	margin-right:15px;
}
#section4header {
	display:block;
	float:left;
	width:310px;

}

#section4cont {
	display:block;
	float:left;
	width:310px;
	padding-bottom:10px;
	background-color:#ffffff;
}
#section4cont a:link, #section4cont a:visited {
	text-decoration: none;
	color:#4b4b4d;
}

#section4cont a:hover {
	color:#4b4b4d;	
	text-decoration: underline;
}

#section4cont a:active {
}
#section5 {
	display:block;
	float:left;
	width: 635px;
}
#section5aheader {
	display:block;
	float:left;
	width:310px;
	margin-right:15px;
}
#section5a {
	display:block;
	float:left;
	width: 310px;
	margin-right:15px;
	padding-bottom:10px;
	height: 64px;
	background-color:#ffffff;
}
#section5acont {
	display:block;
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	background-color:#ffffff;
}
#section5acont a:link, #section5acont a:visited {
	text-decoration: none;
	color:#472e8d;
}

#section5acont a:hover {
	color:#472e8d;	
	text-decoration: underline;
}

#section5acont a:active {
}

#section5aconta {
	display:block;
	float:left;
	border-right:1px solid #cccccc;
	width:140px;
	background-color:#ffffff;
	margin-top:8px;
}
#section5acontb {
	display:block;
	float:left;
	border-right:1px solid #cccccc;
	width:91px;
	background-color:#ffffff;
	margin-top:8px;

}
#section5acontc {
	display:block;
	float:left;
	width:75px;
	background-color:#ffffff;
	margin-top:8px;

}

#section5aconta a:link, #section5aconta a:visited {
	text-decoration: none;
	color:#4b4b4d;
}

#section5aconta a:hover {
	color:#4b4b4d;	
	text-decoration: underline;
}

#section5cconta a:active {
}


#section5bheader {
	display:block;
	float:left;
	width:310px;
}
#section5b {
	display:block;
	float:left;
	width: 310px;
	padding-bottom:10px;
	height: 64px;
	background-color:#ffffff;
}
#section5bcont {
	display:block;
	padding-left:10px;
	padding-right:10px;
	padding-top:23px;
	background-color:#ffffff;
}
#section5bconta {
	display:block;
	float:left;
	width:75px;
	background-color:#ffffff;
	margin-top:8px;
	margin-left:10px;

}
#section5bcontb {
	display:block;
	float:left;
	width:215px;
	background-color:#ffffff;
	margin-top:8px;

}
#section5cheader {
	display:block;
	float:left;
	width:664px;
}
#section5c {
	display:block;
	float:left;
	width: 662px;
	border:1px solid #cccccc;
	padding-bottom:10px;
	height: 68px;
}
#section5ccont {
	display:block;
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	padding-bottom:10px;
}
#section5cconta {
	display:block;
	float:left;
	border-right:1px solid #cccccc;
	width:213px;
}
#section5cconta a:link, #section5cconta a:visited {
	text-decoration: none;
	color:#914099;
}

#section5cconta a:hover {
	color:#914099;	
	text-decoration: underline;
}

#section5cconta a:active {
}
#section5ccontb {
	display:block;
	float:left;
	border-right:1px solid #cccccc;
	width:213px;
}
#section5ccontc {
	display:block;
	float:left;
	width:214px;
}

#section-exec-profiles {
	display:block;
	float:left;
	width:723px;
	margin-right:11px;
	
}

.team-bios {
	background-color:#047391;
	color:#ffffff;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	
}

.grayheader {
	display:block;
	background-color:#939598;
	padding:12px;
	color:#ffffff;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
}
.tealheader {
	display:block;
	background-color:#047391;
	padding:12px;
	color:#ffffff;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
}
.tealheader-locations {
	display:block;
	background-color:#047391;
	padding-top:9px;
	padding-bottom:9px;
	padding-right:12px;
	padding-left:12px;
	color:#ffffff;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
}
.lighttealheader {
	display:block;
	background-color:#a2c8d3;
	padding:12px;
	color:#0c4a59;
	font-weight:bold;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
}
.medtealheader {
	display:block;
	background-color:#2cadab;
	padding:12px;
	color:#ffffff;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
}
.blueheader {
	display:block;
	background-color:#0071ba;
	padding:12px;
	color:#ffffff;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
}
.purpleheader {
	display:block;
	background-color:#472e8d;
	padding:12px;
	color:#ffffff;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
}
.orangeheader {
	display:block;
	background-color:#f68e1e;
	padding:12px;
	color:#ffffff;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
}
.greenheader {
	display:block;
	background-color:#4c9e45;
	padding:12px;
	color:#ffffff;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
}
.lightpurpleheader {
	display:block;
	background-color:#914099;
	padding:12px;
	color:#ffffff;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
}
.redheader {
	display:block;
	background-color:#d2202f;
	padding:12px;
	color:#ffffff;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
}
.greensection {
	display:block;
	background-color:#4c9e45;
	height:10px;
}
.green {
	color:#4c9e45;
	font-weight:bold;
	font-size: 15px;
}
.orangesection {
	display:block;
	background-color:#f05423;
	height:10px;
}
.orange {
	color:#f68e1e;
	font-weight:bold;
	font-size: 15px;
}
.redsection {
	display:block;
	background-color:#d2202f;
	height:10px;
}
.red {
	color:#d2202f;
	font-weight:bold;
	margin-bottom:0px;
	font-size: 15px;
}
.tealsection {
	display:block;
	background-color:#047391;
	height:10px;
}

#subcontent p.teal {
	color:#047391;
	font-weight:bold;
	font-size: 15px;
	margin-bottom:0px;
}
.lighttealsection {
	display:block;
	background-color:#2cacab;
	height:10px;
}
#subcontent p.lightteal {
	color:#2cacab;
	font-weight:bold;
	margin-bottom:0px;
	font-size: 15px;
}
.teal {
	color:#047391;
	font-weight:bold;
	font-size: 15px;
	margin-bottom:0px;
}
.lightteal {
	color:#2cacab;
	font-weight:bold;
	margin-bottom:0px;
	font-size: 15px;
}
.purplesection {
	display:block;
	background-color:#472e8d;
	height:10px;
}
.purple {
	color:#472e8d;
	font-weight:bold;
	font-size: 15px;
}
.bluesection {
	display:block;
	background-color:#00aeef;
	height:10px;
}
.blue {
	color:#00aeef;
	font-weight:bold;
	font-size: 15px;
}
.paddingleft15 {
	padding-left:15px;
}

#browsesect a:link, #browsesect a:visited {
	text-decoration: none;
	color:#4b4b4d;

}

#browsesect a:hover {
	color:#4b4b4d;	
	text-decoration: underline;

}

#browsesect a:active {
}


#browsesect1 {
	display: block;
	float:left;
	width: 188px;
	margin-right:5px;
}
#browsesect1cont {
	display: block;
	float:left;
	width: 167px;
	padding:10px;
}
#browsesect1cont p {
	margin-bottom: 15px;
}
#browsesect2 {
	display: block;
	float:left;
	width: 188px;
	margin-right:5px;
	height:10px;
}
#browsesect2cont {
	display: block;
	float:left;
	width: 167px;
	padding:10px;
}
#browsesect2cont p {
	margin-bottom: 15px;
}
#browsesect3 {
	display: block;
	float:left;
	width: 188px;
	margin-right:5px;
}
#browsesect3cont {
	display: block;
	float:left;
	width: 167px;
	padding:10px;
}
#browsesect3cont p {
	margin-bottom: 15px;
}
#browsesect4 {
	display: block;
	float:left;
	width: 188px;
	margin-right:5px;
}
#browsesect4cont {
	display: block;
	float:left;
	width: 167px;
	padding:10px;
}
#browsesect4cont p {
	margin-bottom: 15px;
}
#browsesect4cont a.biglink:link, #browsesect4cont a.biglink:visited {
	text-decoration: none;
	color:#2cacab;
	font-weight:bold;
	margin-bottom:0px;
	font-size: 15px;

}

#browsesect4cont a.biglink:hover {
	color:#2cacab;
	font-weight:bold;
	margin-bottom:0px;
	font-size: 15px;	
	text-decoration: underline;

}

#browsesect5cont a.biglink:active {
}
#browsesect5 {
	display: block;
	float:left;
	width: 188px;
}
#browsesect5cont {
	display: block;
	float:left;
	width: 167px;
	padding:10px;
}
#browsesect5cont a.biglink:link, #browsesect5cont a.biglink:visited {
	text-decoration: none;
	color:#047391;
	font-weight:bold;
	margin-bottom:0px;
	font-size: 15px;

}

#browsesect5cont a.biglink:hover {
	color:#047391;
	font-weight:bold;
	margin-bottom:0px;
	font-size: 15px;	
	text-decoration: underline;

}

#browsesect5cont a.biglink:active {
}
#browsesect5cont p {
	margin-bottom: 15px;
}

#subcontent p {
	margin-bottom: 15px;
}

#subcontent ul {
	margin-bottom: 15px;
}


#subcontent li{
margin-left:25px;
list-style-type: square;

}  
#subcontent ul li li { 
padding-left:5px;
list-style-type: circle;
}

#subcontent ul ul li { 
margin-left:40px;
list-style-type: circle;

}
#subcontent a:link, #subcontent a:visited {
	text-decoration: underline;
	color:#047391;
	margin-bottom:0px;
	font-size: 14px;

}

#subcontent a:hover {
	color:#047391;
	margin-bottom:0px;
	font-size: 14px;	
	text-decoration: none;

}




#tspage a:link, #tspage a:visited {
	text-decoration: underline;
	color:#2cadab;
	margin-bottom:0px;
	font-size: 14px;
	font-weight:bold;
}

#tspage a:hover {
	color:#2cadab;
	margin-bottom:0px;
	font-size: 14px;	
	text-decoration: none;
	font-weight:bold;
}




#browsesect5cont a.biglink:active {
}
#column1 {
	display: block;
	width:467px;
	margin-right:21px;
	float:left;
}
#column2 {
	display: block;
	width:467px;
	float:left;
}
#column3 {
	display: block;
	width:340px;
	margin-right:21px;
	float:left;
}
#column4 {
	display: block;
	width:594px;
	float:left;
}
#column5 {
	display: block;
	width:305px;
	float:left;
}
#column6 {
	display: block;
	width:290px;
	float:left;
}

#column7 {
	display: block;
	width:174px;
	float:left;
	padding-right:5px;
}

#footersection {
	display:block;
	width:955px;
	border-top:1px solid #cccccc;
	padding-top:10px;
	padding-bottom:10px;
	font-size:11px;
}
#footersection a:link, #footersection a:visited {
	text-decoration: none;
	color:#4b4b4d;

}

#footersection a:hover {
	color:#4b4b4d;	
	text-decoration: underline;

}

#footersection a:active {
}

/*RSS */

.titlefield{ /*CSS for RSS title link in general*/
text-decoration: underline;
}

.labelfield{ /*CSS for label field in general*/
color:brown;
font-size: 90%;
}

.datefield{ /*CSS for date field in general*/
color:gray;
font-size: 90%;
}

#example3{ /*Demo 3 main container*/
width: 296px;
height: 64px;
border: 0px solid navy;
}

#example3 div p{ /*Demo 3 P element that separates each entry*/
margin-top: 10px;
margin-bottom: 10px;
}