#menu {
    background-color: #047391;
    margin: 0px auto;

    top: 40px;
    width: 960px;
	height:33px;
}
ul li a.home{   background-color:#047391;}
ul li.sfHover a.home, ul li a.home:hover, ul li a.home:active{   background-color:#047391;}
ul li a.about{   background-color:#2cadab;}
ul li.sfHover a.about, ul li a.about:hover, ul li a.about:active{   background-color:#2cadab;}
ul li a.careers{   background-color:#047391;}
ul li.sfHover a.careers, ul li a.careers:hover, ul li a.careers:active{   background-color:#047391;}
ul li a.investors{   background-color:#2cadab;}
ul li.sfHover a.investors, ul li a.investors:hover, ul li a.investors:active{   background-color:#2cadab;}
ul li a.media{   background-color:#047391;}
ul li.sfHover a.media, ul li a.media:hover, ul li a.media:active{   background-color:#047391;}
ul li a.contact{   background-color:#2cadab;}
ul li.sfHover a.contact, ul li a.contact:hover, ul li a.contact:active{   background-color:#2cadab;}
/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin:			0;
	padding:0px;
	list-style:		none;
}
.sf-menu {
	line-height:	1.0;
}
.sf-menu ul {
	position:		absolute;
	top:			-999em;
	width:220px; /* left offset of submenus need to match (see below) */
	z-index:11;
}
.sf-menu ul li {
	width:100%;
	
	/* opacity removed Nov 14 2014 - RS */
	       /* opacity:.83; /* FX/Opera/Safari/Chrome */ 
       /* -ms-filter:"alpha(opacity=83)"; /* IE8 */ 
       /* filter:alpha(opacity=83); /* IE6/IE7 */ 

}

.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:			left;
	position:		relative;
}
.sf-menu a {
	display:		block;
	position:		relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			0;
	top:			2.3em; /* match top ul list item height */
	z-index:		99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			220px; /* match ul width */
	top:			0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			220px; /* match ul width */
	top:			0;
}

/*** DEMO SKIN ***/
.sf-menu {
	float:			left;
	margin-bottom:	1em;
}
.sf-menu a {
	border-left:	1px solid #fff;
	border-top:		0px solid #fff;
	padding-left: 		20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-decoration:none;
}
.sf-menu a, .sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	color:#ffffff;
	font-weight: bold;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
}
.sf-menu a.whitetext, .sf-menu a.whitetext:visited { /* visited pseudo selector so IE6 applies text colour*/
	color:			#ffffff;
	font-weight: bold;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
}
.sf-menu a.whitetext:hover  { /* visited pseudo selector so IE6 applies text colour*/
	color:			#ffffff;
	font-weight: bold;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
}

.sf-menu li {
	background:		#e5e5e5;
}
.sf-menu li li.home{   background-color:#047391;}
.sf-menu li li.about{   background-color:#2cadab;}
.sf-menu li li.careers{   background-color:#047391;}
.sf-menu li li.investors{   background-color:#2cadab;}
.sf-menu li li.media{   background-color:#047391;}
.sf-menu li li.contact{   background-color:#2cadab;}
.sf-menu li li {
	background:		#ee2738;

}
.sf-menu li li li {
	background:		#9AAEDB;
}
.sf-menu li.home:hover, .sf-menu li.sfHover, .sf-menu a.home:focus, .sf-menu a.home:hover, .sf-menu a.home:active { background: #047391; outline: 0;}
.sf-menu li.about:hover, .sf-menu li.sfHover, .sf-menu a.about:focus, .sf-menu a.about:hover, .sf-menu a.about:active { background: #2cadab; outline: 0;}
.sf-menu li.careers:hover, .sf-menu li.sfHover, .sf-menu a.careers:focus, .sf-menu a.careers:hover, .sf-menu a.careers:active { background: #047391; outline: 0;}
.sf-menu li.investors:hover, .sf-menu li.sfHover, .sf-menu a.investors:focus, .sf-menu a.investors:hover, .sf-menu a.investors:active { background: #2cadab; outline: 0;}
.sf-menu li.media:hover, .sf-menu li.sfHover, .sf-menu a.media:focus, .sf-menu a.media:hover, .sf-menu a.media:active { background: #047391; outline: 0;}
.sf-menu li.contact:hover, .sf-menu li.sfHover, .sf-menu a.contact:focus, .sf-menu a.contact:hover, .sf-menu a.contact:active { background: #2cadab; outline: 0;}
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	background:		#939598;
	outline:		0;

}

/*** arrows **/
.sf-menu a.sf-with-ul {
	padding-right: 	24px;
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			.75em;
	top:			1.05em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	background:		url('../images/arrows-new2.png')/*tpa=http://www.synnex.com/global/resources/images/arrows-new2.png*/ no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top:			.8em;
	background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator { background-position:  -10px 0; }
.sf-menu ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
.sf-menu ul a:focus > .sf-sub-indicator,
.sf-menu ul a:hover > .sf-sub-indicator,
.sf-menu ul a:active > .sf-sub-indicator,
.sf-menu ul li:hover > a > .sf-sub-indicator,
.sf-menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
.sf-shadow ul {
	background:	url('../images/shadow.png')/*tpa=http://www.synnex.com/global/resources/images/shadow.png*/ no-repeat bottom right;
	padding: 0 8px 9px 0;
	-moz-border-radius-bottomleft: 17px;
	-moz-border-radius-topright: 17px;
	-webkit-border-top-right-radius: 17px;
	-webkit-border-bottom-left-radius: 17px;
}
.sf-shadow ul.sf-shadow-off {
	background: transparent;
}
