/*
Theme Name: ITW
Author: Thirdwave, LLC
Author URI: http://www.thirdwavellc.com
Description: The theme for the ITW public website.  Support for various menus and galleries.
Version: 1.0
Tags: dark, light, white, black, gray, one-column, two-columns, left-sidebar, right-sidebar, fixed-width, flexible-width, custom-header, custom-menu, editor-style, featured-image-header, featured-images, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready
Text Domain: twentyeleven
*/

/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
:focus {/* remember to define focus styles! */
	outline: 0;
}
body {
	background: #fff;
	line-height: 1;
	font-size:.625em;
}
ol, ul {
	list-style: none;
}
table {/* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a img {
	border: 0;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

strong {
	font-weight: normal;
	font-family: "Trade Gothic W01 Bold 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* =Structure
----------------------------------------------- */

body {
	padding: 12px 0 0 0;
	background: #f1f1f1;
}
#page {
	margin: 20px auto 32px auto;
	width: 964px;
}
#primary {
	background: #fff;
	padding: 20px 20px 80px 20px;
	margin-top: 4px;
}
#primary a:hover {
	text-decoration: underline;
}
.home #primary {
	padding: 0px 20px 20px 20px;
	margin-top: 0px;
}
.home #secondary {
	background: #fff;
	padding: 20px;
	font-size: 1.2em;
	margin-top: 20px;
}
#content {
	position: relative;
	width: auto;
	min-height: 450px;
}
#content.career-opps {
	min-height: inherit;
}
.home #content {
	min-height: inherit;
}
.left-col {
	float: left;
	width: 144px;
	padding-top: 12px;
}
.center-col {
	width: 540px;
	float: left;
	padding: 0px 12px;
	border-right: 2px solid #f1f1f1;
	margin-right: 12px;
	font-size: 1.2em;
	line-height: 1.45em;
}
.center-col.full-width {
	width: 768px;
	border-right: 0px;
	margin-right: -2px;
	padding-right: 0px;
}
.center-col figure.feat-img {
	margin: 0px 0px 18px 0px;
	border-top: 1px dotted #8B8A8A;
	padding-top: 18px;
}

.right-col {
	float: left;
	width: 186px;
	background: -moz-linear-gradient(top,  rgba(241,241,241,1) 0%, rgba(241,241,241,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(241,241,241,1)), color-stop(100%,rgba(241,241,241,0)));
	background: -webkit-linear-gradient(top,  rgba(241,241,241,1) 0%,rgba(241,241,241,0) 100%);
	background: -o-linear-gradient(top,  rgba(241,241,241,1) 0%,rgba(241,241,241,0) 100%);
	background: -ms-linear-gradient(top,  rgba(241,241,241,1) 0%,rgba(241,241,241,0) 100%);
	background: linear-gradient(to bottom,  rgba(241,241,241,1) 0%,rgba(241,241,241,0) 100%);
	padding: 8px;
	font-size: 1.2em;
}
.careers .right-col {
	background: none;
	padding: 0px;
	width: 202px;
}

.bottom-col {
	margin: 0px 0px 0px 156px;
	font-size: 1.2em;
}

.home #secondary section {
	float: left;
	margin-left: 34px;
}
.home #secondary section:first-child {
	margin-left: 0px;
}
.home #secondary section.home-left {
	width: 282px;
}
.home-left ul {
	margin: 0px;
}
.home-left ul.itw-news {
	border-top: 1px dotted #F15D22;
}
.home-left li {
	list-style: none;
	font-size: 1.15em;
	border-top: 1px solid #D9DAD9;
	padding: 7px 0px 11px 0px;
}
.home-left li:first-child {
	border-top: 0px;
}
.home-left .thomson-news li:first-child {
	padding-top: 0px;
}
.home-left a, #secondary h2 a {
	color: #484848;
}
#secondary h2 a:hover {
	color: #F15D22;
}

.home .wp-post-image {
	border: 1px solid black;
}

.home-left a em {
	display: inline-block;
	background: url(images/news-arrow.png)/*tpa=http://www.itw.com/wp-content/themes/itw/images/news-arrow.png*/ no-repeat bottom;
	width: 11px;
	height: 15px;
	text-indent: -9999px;
	outline: none;
	margin-left: 5px;
}
.home-left ul.thomson-news {
	margin: 11px 0px 0px 0px;
}
.home-left ul.thomson-news .news-date {
	float: left;
	width: 30px;
	margin: -2px 14px 0px 0px;
	color: #484848;
}
.home-left ul.thomson-news .news-date span{
	display: block;
	line-height: 20px;
}
.home-left ul.thomson-news .news-month {
	font-size: 13px;
}
.home-left ul.thomson-news .news-day {
	font-size: 24px;
}
.home-left ul.thomson-news .thomson-link {
	float: right;
	width: 234px;
}
.home #secondary section.home-center {
	width: 156px;
}
.home #secondary section.home-center #webcast {
	margin-top: 30px;
}
.home #secondary section.home-center #webcast ul {
	list-style: none;
	margin: 0px;
	padding-left: 32px;
	font-size: 12px;
	background: url(images/webcast.png)/*tpa=http://www.itw.com/wp-content/themes/itw/images/webcast.png*/ no-repeat top left;
}
.home #secondary section.home-center #webcast p{
	margin-bottom: 6px;
}
.home #secondary section.home-center #webcast a {
	color: #F15D22;
}
.home #secondary section.home-center #webcast a:hover {
	text-decoration: underline;
}
.home #secondary section.home-center #webcast ul em{
	font-size: 11px;
}
.home #secondary section.home-right {
	width: 418px;
}
.home #secondary section.home-right .featured {
	background: #f1f1f1;
	padding: 18px 12px;
	-moz-box-shadow: 2px 2px 3px rgba(102,103,102,.15);
	-webkit-box-shadow: 2px 2px 3px rgba(102,103,102,.15);
	box-shadow: 2px 2px 3px rgba(102,103,102,.15);
}
.home #secondary section.home-right .featured img{
	float: left;
	margin: 2px 16px 0px 0px;
}
.home #secondary section.home-right .featured-content {
	float: left;
	width: 210px;
}
.home #secondary section.home-right .featured p {
	margin-bottom: 0px;
}
.home #secondary section.home-right .arrow-link {
	margin-top: 4px;
	font-size: .95em;
	background-position: right 3px;
}
/* Singular */
.singular .entry-header.article-title {
	width: 500px;
}

/* Attachments */
.singular .image-attachment .entry-content {
	margin: 0 auto;
	width: auto;
}
.singular .image-attachment .entry-description {
	margin: 0 auto;
	width: 68.9%;
}

/* Slideshow */
#slideshow {
	height:399px;
	width: 988px;
	margin-left: -32px;
	position: relative;
	z-index:1;
}
.slideshow-list {
	overflow: hidden;
	position: relative;
	margin: 0px 32px;
	width: 924px;
	height: 100%;
	z-index: 150;
}
#slideshow .slideshow-list li {
	position: absolute;
	left: 0px;
	z-index: 100;
	list-style: none;
}
#slideshow .slideshow-list li.currImg {
	z-index: 150;
}
#slideshow .slideshow-list li.nextImg {
	z-index: 125;
}

#slideshow .slide-nav {
	position: absolute;
	top: 176px;
	z-index: 100;
	width: 988px;
}
#slideshow .slide-nav a {
	outline: none;
	display: block;
	text-indent: -9999px;
	height: 48px;
	width: 15px;
}
#slideshow .slide-nav a.previous {
	float: left;
	background: url(images/slide-left.png)/*tpa=http://www.itw.com/wp-content/themes/itw/images/slide-left.png*/ no-repeat;
}
#slideshow .slide-nav a {
	float: right;
	background: url(images/slide-right.png)/*tpa=http://www.itw.com/wp-content/themes/itw/images/slide-right.png*/ no-repeat;
}

/*custom home nav*/
nav.menu-homepage-feature-menu-container {
	position: absolute;
	top: 0px;
	right: 32px;
	z-index: 150;
	width: 230px;
	padding: 0px;
	height: 399px;
}
.menu-homepage-feature-menu-container ul {
	color: #fff;
	margin: 0px;
}
.menu-homepage-feature-menu-container h1 {
	color: #fff;
	padding-bottom: 16px;
	margin-bottom: 12px;
}
.menu-homepage-feature-menu-container li {
	margin-top: 13px;
	-webkit-box-shadow: 2px 2px 2px rgba(0,0,0,.25);
	-moz-box-shadow: 2px 2px 2px rgba(0,0,0,.25);
	box-shadow: 2px 2px 2px rgba(0,0,0,.25);
	list-style: none;
}
.menu-homepage-feature-menu-container li:first-child {
	margin-top: 0px;
}
.menu-homepage-feature-menu-container a{
	display: block;
	height: 84px;
	width: 218px;
	padding: 6px 0px 0px 12px;
	font-family:'Joanna W01 Regular', "Times New Roman", Times, serif;
	font-size: 2.9em;
	line-height: 1em;
}
.menu-homepage-feature-menu-container a span {
	color: #fff !important;
	text-transform: uppercase;
	font-size: 11px;
	line-height: 17px;
	display: inline-block;
	width: 160px;
	font-family: 'Trade Gothic W01 Light', "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-top: 10px;
}
.menu-homepage-feature-menu-container li a span em{
	height: 15px;
	width: 14px;
	display: inline-block;
	padding: 0px 0px 0px 12px;
	text-indent: -9999px;
	outline: none;
}
.menu-homepage-feature-menu-container li.descr-menu-1 a {
	background: rgb(241,93,34);
	background: -moz-linear-gradient(top,  rgba(241,93,34,1) 0%, rgba(232,90,33,1) 70%, rgba(200,77,27,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(241,93,34,1)), color-stop(70%,rgba(232,90,33,1)), color-stop(100%,rgba(200,77,27,1)));
	background: -webkit-linear-gradient(top,  rgba(241,93,34,1) 0%,rgba(232,90,33,1) 70%,rgba(200,77,27,1) 100%);
	background: -o-linear-gradient(top,  rgba(241,93,34,1) 0%,rgba(232,90,33,1) 70%,rgba(200,77,27,1) 100%);
	background: -ms-linear-gradient(top,  rgba(241,93,34,1) 0%,rgba(232,90,33,1) 70%,rgba(200,77,27,1) 100%);
	background: linear-gradient(to bottom,  rgba(241,93,34,1) 0%,rgba(232,90,33,1) 70%,rgba(200,77,27,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f15d22', endColorstr='#c84d1b',GradientType=0 );
	color: #fdb913;
}
.menu-homepage-feature-menu-container li.descr-menu-1 a span em{
	background: url(images/wwa-arrow.png)/*tpa=http://www.itw.com/wp-content/themes/itw/images/wwa-arrow.png*/ no-repeat bottom right;
}
.menu-homepage-feature-menu-container li.descr-menu-2 a {
	background: #009cda;
	background: -moz-linear-gradient(top,  #009cda 0%, #0089bf 70%, #007aab 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#009cda), color-stop(70%,#0089bf), 	color-stop(100%,#007aab));
	background: -webkit-linear-gradient(top,  #009cda 0%,#0089bf 70%,#007aab 100%);
	background: -o-linear-gradient(top,  #009cda 0%,#0089bf 70%,#007aab 100%);
	background: -ms-linear-gradient(top,  #009cda 0%,#0089bf 70%,#007aab 100%);
	background: linear-gradient(to bottom,  #009cda 0%,#0089bf 70%,#007aab 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009cda', endColorstr='#007aab',GradientType=
0 );
	color: #8cd2f4;
}
.menu-homepage-feature-menu-container li.descr-menu-2 a span em{
	background: url(images/hww-arrow.png)/*tpa=http://www.itw.com/wp-content/themes/itw/images/hww-arrow.png*/ no-repeat bottom right;
}
.menu-homepage-feature-menu-container li.descr-menu-3 a {
	background: rgb(152,0,46);
	background: -moz-linear-gradient(top,  rgba(152,0,46,1) 0%, rgba(142,0,42,1) 70%, rgba(127,0,34,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(152,0,46,1)), color-stop(70%,rgba(142,0,42,1)), color-stop(100%,rgba(127,0,34,1)));
	background: -webkit-linear-gradient(top,  rgba(152,0,46,1) 0%,rgba(142,0,42,1) 70%,rgba(127,0,34,1) 100%);
	background: -o-linear-gradient(top,  rgba(152,0,46,1) 0%,rgba(142,0,42,1) 70%,rgba(127,0,34,1) 100%);
	background: -ms-linear-gradient(top,  rgba(152,0,46,1) 0%,rgba(142,0,42,1) 70%,rgba(127,0,34,1) 100%);
	background: linear-gradient(to bottom,  rgba(152,0,46,1) 0%,rgba(142,0,42,1) 70%,rgba(127,0,34,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#98002e', endColorstr='#7f0022',GradientType=0 );
	color: #f15d22;
}
.menu-homepage-feature-menu-container li.descr-menu-3 a span em, .menu-homepage-feature-menu-container li.descr-menu-4 a span em {
	background: url(images/oi-arrow.png)/*tpa=http://www.itw.com/wp-content/themes/itw/images/oi-arrow.png*/ no-repeat bottom right;
}
.menu-homepage-feature-menu-container li.descr-menu-4 a {
	background: #fdb913; /* Old browsers */
	background: -moz-linear-gradient(top,  #fdb913 0%, #edad12 70%, #dfa211 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdb913), color-stop(70%,#edad12), color-stop(100%,#dfa211)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fdb913 0%,#edad12 70%,#dfa211 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fdb913 0%,#edad12 70%,#dfa211 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fdb913 0%,#edad12 70%,#dfa211 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fdb913 0%,#edad12 70%,#dfa211 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdb913', endColorstr='#dfa211',GradientType=0 ); /* IE6-9 */
	color: #F15D22;
}
#primary .menu-homepage-feature-menu-container a:hover {
	text-decoration: none;
}
/* error404 */
.error404 #primary {
	float: none;
	margin: 0;
}
.error404 #primary #content {
	width: auto;
	margin-left: 144px;
}

/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.625em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.625em;
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}

/* Right Content */
.left-sidebar #primary {
	float: right;
	margin: 0 0 0 -26.4%;
	width: 100%;
}
.left-sidebar #content {
	margin: 0 7.6% 0 34%;
	width: 58.4%;
}
.left-sidebar #secondary {
	float: left;
	margin-left: 7.6%;
	margin-right: 0;
	width: 18.8%;
}

/* =Global
----------------------------------------------- */

body, input, textarea {
	color: #484848;
	font-family: 'Trade Gothic W01 Light', "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.7em;
}

/* Headings */
h1,h2,h3,h4,h5,h6 {
	clear: both;
	font-weight: normal;
}
h4 {
	color: #000;
	text-transform: uppercase;
	font-size: .9em;
	line-height: 1.55em;
}
h5 {
	font-family:'Joanna W01 Regular', "Times New Roman", Times, serif;
	color: #98002E;
	font-size: 1.35em;
	line-height: 1.15em;
	text-transform: capitalize;
}
hr {
	border: 0;
	border-bottom: 1px dotted #8B8A8A;
	overflow: hidden;
	height: 1px;
	margin: 12px 0px;
}
.hr {
	border-bottom: 1px dotted #8B8A8A;
	height: 1px;
	overflow: hidden;
	margin: 12px 0px 7px 0px;
}

/* Text elements */
p {
	margin-bottom: 12px;
}
ul, ol {
	margin: 0 0 1.625em 2.5em;
}
ul {
	list-style: disc;
}
ol {
	list-style-type: decimal;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
ul ul, ol ol, ul ol, ol ul {
	margin-bottom: 0;
}
dl {
	margin: 0 1.625em;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 1.625em;
}
cite, em, i {
	font-style: italic;
}
blockquote {
	font-family: Georgia, "Bitstream Charter", serif;
	font-style: italic;
	font-weight: normal;
	margin: 0 3em;
}
blockquote em, blockquote i, blockquote cite {
	font-style: normal;
}
blockquote cite {
	color: #666;
	font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}
pre {
	background: #f4f4f4;
	font: 13px "Courier 10 Pitch", Courier, monospace;
	line-height: 1.5;
	margin-bottom: 1.625em;
	overflow: auto;
	padding: 0.75em 1.625em;
}
code, kbd, samp, var {
	font: 13px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr, acronym, dfn {
	border-bottom: 1px dotted #666;
	cursor: help;
}
address {
	display: block;
	margin: 0 0 1.625em;
}
ins {
	background: #fff9c0;
	text-decoration: none;
}
sup,
sub {
	font-size: .8em;
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
h1 sup {
	font-size: .6em;
	bottom: 1.2ex;
}
sub {
	top: .5ex;
}

/* Forms */
input[type=text],
input[type=email],
input[type=password],
textarea {

	background: #fff;
	border: 1px solid #ddd;
	color: #666766;
	font-size: 11px;
	font-family: 'Trade Gothic W01 Light', "Helvetica Neue", Helvetica, Arial, sans-serif;
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
}
select {
	color: #484848;
	font-size: 11px;
	font-family: 'Trade Gothic W01 Light', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
	color: #484848;
}
textarea {
	padding-left: 3px;
	width: 98%;
}
input[type=text], input[type=email] {
	padding: 3px;
}

.entry-content input[type="submit"] {
	font-family:'Trade Gothic W01 Bold 2', "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: url(images/link-arrow.png)/*tpa=http://www.itw.com/wp-content/themes/itw/images/link-arrow.png*/ no-repeat 64px center #F15D22;
	border: 0px;
	color: #fff;
	text-transform: uppercase;
	padding: 3px 28px 3px 10px;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	cursor: pointer;
}
.entry-content input[type="submit"]::-moz-focus-inner {
    border: 0;
    padding: 0;
}
.form-row {
	
}
.form-item {
	float: left;
	margin: 0px 0px 8px 26px;
}
.form-row .form-item:first-child {
	margin-left: 0px;
}

.form-item label {
	display: block;
}
.form-item input[type="text"], .form-item input[type="email"], .form-item select {
	width: 147px;
	height: 16px;
}
.form-item select {
	height: 22px;
}
.form-item textarea {
	width: 355px;
	margin-bottom: 20px;
	display: block;
}
/* Links */
a {
	color: #98002e;
	text-decoration: none;
}
a:focus,
a:active,
a:hover {
	text-decoration: none;
}

/* Assistive text */
.assistive-text {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}
#access a.assistive-text:active,
#access a.assistive-text:focus {
	background: #eee;
	border-bottom: 1px solid #ddd;
	color: #1982d1;
	clip: auto !important;
	font-size: 12px;
	position: absolute;
	text-decoration: underline;
	top: 0;
	left: 7.6%;
}


/* =Header
----------------------------------------------- */

#branding {
	position: relative;
	z-index: 9999;
	background: #fff;
	padding: 20px 20px 0px 20px;
}
#site-title {
	margin-top: 2px;
	float: left;
}
#site-title a {
	display: block;
	text-indent: -9999px;
	outline: none;
	background: url(images/logo.png)/*tpa=http://www.itw.com/wp-content/themes/itw/images/logo.png*/ no-repeat;
	height: 35px;
	width: 102px;
}
#site-title a:hover,
#site-title a:focus,
#site-title a:active {
	color: #1982d1;
}
#site-description {
	display: none;
}
#branding img {
	height: auto;
	margin-bottom: -7px;
	width: 100%;
}

#branding .divider {
	height: 40px;
	width: 2px;
	overflow: hidden;
	background: #f1f1f1;
	margin: 0px 0px 0px 30px;
	float: left;
}

/* =Menu
-------------------------------------------------------------- */

#access {
	display: block;
	float: left;
	font-family: "Trade Gothic W01 Bold 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: -.02em;
	-webkit-font-smoothing: antialiased;
	margin-left: 4px;
}
#access ul {
	font-size: 1.2em;
	list-style: none;
	padding-left: 0;
	margin: 0px;
}
#access li {
	float: left;
	position: relative;
	margin: 0px 6px;
	height:60px;
}
#access a {
	color: #000;
	display: block;
	padding-bottom: 6px;
	margin: 12px;
	text-decoration: none;
	text-transform: uppercase;
	/*letter-spacing: -.02em;*/
}
#access ul .sub-pages {
	visibility: hidden;
	background: #f1f1f1;
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	background-clip: padding-box;
	padding: 10px;
	border: 10px solid rgba(217,218,217,.5);
	border-top: 0px;
	top: 60px;
	left: -10px;
	position: absolute;
}
#access ul li.page_item.careers .sub-pages, #access ul li.page_item.social-responsibility .sub-pages {
	right: -10px;
	left: auto;
}
#access ul ul {
	background: #fff;
	margin: 0;
	z-index: 99999;
	white-space: nowrap;
	padding: 10px 10px 4px 10px;
	float: left;
}
#access ul ul:first-child {
	padding-right: 0px;
}
#access ul ul.single-list:first-child {
	padding-right: 10px;
}
#access ul ul li {
	float: none;
	margin: 0px;
	padding-bottom: 4px;
	height: auto;
}
#access ul ul a {
	font-size: 13px;
	font-weight: normal;
	line-height: 14px;
	width: auto;
	font-family:'Trade Gothic W01 Roman', "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: none;
	margin: 0px;
	padding: 2px 2px 4px 2px;
	letter-spacing: normal;
}
#access li:hover {
	background: #f1f1f1;
}
#access li li:hover {
	background: #fff;
}
#access li:hover > a,
#access a:focus,
#access li.current_page_item > a,
#access li.current_page_ancestor > a {
	border-bottom: 4px solid #f15d22;
}
#access li li.current_page_item > a, #access li li.current_page_ancestor > a {
	border-bottom: 0px;
}
#access ul ul :hover > a {
	border-bottom: 0px;
	background: #f1f1f1;
}

#access ul li:hover > .sub-pages {
	visibility: visible;
}
#access .current-menu-item > a,
#access .current-menu-ancestor > a,
#access .current_page_item > a,
#access .current_page_ancestor > a {
}

/* Search Form */
#search-bar {
	width: 964px;
	margin: 0px auto;
}
#searchform {
	float: right;
}
#searchform div {
	margin: 0;
}
input#s {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	height: 16px;
	line-height: 1.2em;
	padding: 4px 10px 4px 4px;
	border: 0px;
	width: 140px;
	-webkit-transition-duration: 400ms;
	-webkit-transition-property: width, background;
	-webkit-transition-timing-function: ease;
	-moz-transition-duration: 400ms;
	-moz-transition-property: width, background;
	-moz-transition-timing-function: ease;
	-o-transition-duration: 400ms;
	-o-transition-property: width, background;
	-o-transition-timing-function: ease;
	-moz-box-shadow: inset 0 0px 0px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0.1);
	box-shadow: inset 0 0px 0px rgba(0,0,0,0.1);
	float: left;
	margin-right: 6px;
	font-style: italic;
	font-weight: bold;
}
#s:focus {
	background-color: #f9f9f9;
	width: 170px;
}
input#searchsubmit {
	background: url(images/search-submit.png)/*tpa=http://www.itw.com/wp-content/themes/itw/images/search-submit.png*/ no-repeat;
	height: 20px;
	width: 21px;
	border: 0px;
	padding: 0px;
	text-indent: -9999px;
	outline: none;
	float: right;
	margin-top: 2px;
}

/*Search Results */

.search-results #content {
	margin-left: 144px;
}
.search-results article {
	margin-bottom: 1.625em;
}
.search-results li .entry-title {
	font-size: 1.4em;
	margin-bottom: 0;
	line-height: 1.2em;
	color: #666767;
}
.search-results li .arrow-link {
	color: #98002E;
	font-family: 'Trade Gothic W01 Light', "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: none;
}
.search-results article p{
	margin-bottom: 0;
}
.list-results {
	margin: 0px;
}
.list-results li {
	list-style: none;
	margin-bottom: 12px;
}
.list-results li p {
	margin: 0px;
}
/* Business Search*/
.unit-search {
	margin-top: 48px;
}
.unit-search h2 {
	color: #00596a;
	text-transform: uppercase;
	margin-bottom: 8px;
}
.unit-search label {
	display: block;
	font-style: italic;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.unit-search select{
	color: #484848;
	font-size: 1em;
	width: 124px;
}
.unit-search select option {
	padding: 2px 0px;
}
.singular .entry-title.lang-select-title {
	padding-right:125px;
}
.unit-search label, .lang-box label {
	display: block;
	font-style: italic;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.unit-search select, .lang-box select{
	color: #484848;
	font-size: 1em;
	width: 124px;
}
.unit-search select option, .lang-box select option {
	padding: 2px 0px;
}
.unit-search .business-units-ie {
	display: none;
}

.unit-list .unit-letter {
	font-family:'Joanna W01 Regular', "Times New Roman", Times, serif;
	color: #F15D22;
	font-size: 1.8em;
	border-bottom: 2px solid #F1F1F1;
	padding-bottom: 6px;
	margin: 24px 0px 6px 0px;
}
.unit-list h1 {
	font-size: 1em;
}
.lang-box {
	position: absolute;
	right: 0;
	top: 0;
}
/* =Content
----------------------------------------------- */

#main {
	clear: both;
}
.page-title {
	color: #666;
	font-size: 10px;
	font-weight: 500;
	letter-spacing: 0.1em;
	line-height: 2.6em;
	margin: 0 0 2.6em;
	text-transform: uppercase;
}
.page-title a {
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 0;
	text-transform: none;
}
.hentry,
.no-results {
	position: relative;
}
.hentry:last-child,

.no-results {
	border-bottom: none;
}
.blog .sticky .entry-header .entry-meta {
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}
.entry-title {
	margin-bottom: 14px;
}
.entry-title,
.entry-title a {
	color: #98002e;
	text-decoration: none;
	font-family:'Joanna W01 Regular', "Times New Roman", Times, serif;
	font-weight: normal;	
}
.entry-title a:hover,
.entry-title a:focus,
.entry-title a:active {
	color: #1982d1;
}
.entry-meta {
	color: #666;
	clear: both;
	font-size: 12px;
	line-height: 18px;
}
.entry-meta a {
	font-weight: bold;
}
.entry-content h1 {
	font-family:'Joanna W01 Regular', "Times New Roman", Times, serif;
	color: #F15D22;
	font-size: 1.65em;
	line-height: 1em;
	margin-bottom: 6px;
}
.entry-content h1.red-title {
	color: #98002E;
	font-size: 28px;
	line-height: 30px;
	margin-bottom: 14px;
}
.entry-content h2 {
	font-size: 1.35em;
	line-height: 1.35em;
	color: #484848;
	margin-bottom: 12px;
}
.entry-content h2.red-title {
	color: #98002e;
}

.entry-content h3 {
	font-size: 1em;
	line-height: 1.15em;
	text-transform: uppercase;
	color: #000;
	margin-bottom: 12px;
	-webkit-font-smoothing: antialiased;
	font-family: "Trade Gothic W01 Bold 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: -.02em;
}
.entry-content h3.red-title {
	color: #98002e;
	margin: 24px 0px 16px 0px;
}
.entry-content h3.orange-title {
	color: #F15D22;
	margin: 14px 0px;
	border-top: 1px dotted #8B8A8A;
	padding-top: 16px;
}
.home .entry-content h2 {
	border-bottom: 1px dotted #8B8A8A;
	padding-bottom: 4px;
	color: #666766;
	font-size: 1em;
	line-height: 1.15em;
	text-transform: uppercase;
	font-family: "Trade Gothic W01 Bold 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	letter-spacing: -.02em;
}
.home .entry-content h3 {
	font-family:'Joanna W01 Regular', "Times New Roman", Times, serif;
	font-size: 1.7em;
	line-height: 1.2em;
	text-transform: none;
	margin-bottom: 5px;
}
.home .entry-content h3 a{
	color: #F15D22;
}

.entry-content table {
	width: 100%;
}

.page-link {
	clear: both;
	display: block;
	margin: 0 0 1.625em;
}
.page-link a {
	background: #eee;
	color: #373737;
	margin: 0;
	padding: 2px 3px;
	text-decoration: none;
}
.page-link a:hover {
	background: #888;
	color: #fff;
	font-weight: bold;
}
.page-link span {
	margin-right: 6px;
}
.entry-meta .edit-link a {
	background: #eee;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #666;
	float: right;
	font-size: 12px;
	line-height: 1.5em;
	font-weight: 300;
	text-decoration: none;
	padding: 0 8px;
}
.entry-meta .edit-link a:hover {
	background: #888;
	color: #fff;
}
.entry-content .edit-link {
	clear: both;
	display: block;
}

.black-text {
	color: #000;
}
.nowrap {
	white-space: nowrap;
}
.noborder {
	border: 0px !important;
}
h3.orange-title.noborder {
	padding-top: 0px;
}
.credit {
	font-size: 10px;
}
.arrow-list {
	border-bottom: 1px dotted #8B8A8A;
	margin:24px 0px 0px 0px;
}
.arrow-list li{
	border-top: 1px dotted #8B8A8A;
	padding: 8px 0px 9px 0px;
	list-style: none;
}
.arrow-list a {
	display: inline-block;
	padding: 0px 20px 0px 0px;
	background: url(images/list-arrow.png)/*tpa=http://www.itw.com/wp-content/themes/itw/images/list-arrow.png*/ no-repeat right center;
	color: #F15D22;
	font-family:'Joanna W01 Regular', "Times New Roman", Times, serif;
	font-size: 2em;
	line-height: 1.25em;
}

.arrow-link {
	display: inline-block;
	padding: 0px 20px 0px 0px;
	background: url(images/link-arrow.png)/*tpa=http://www.itw.com/wp-content/themes/itw/images/link-arrow.png*/ no-repeat right center;
	color: #F15D22;
	font-family: "Trade Gothic W01 Bold 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-transform: uppercase;
	letter-spacing: -.02em;
}
.arrow-link.orange {
	background: url(images/link-arrow-orange.png)/*tpa=http://www.itw.com/wp-content/themes/itw/images/link-arrow-orange.png*/ no-repeat right center;
	padding-right: 16px;
}
.right-col .arrow-link {
	color: #484848;
}
.right-col .arrow-link.orange {
	background-position: right 3px;
	padding-right: 15px;
}

.back-to {
	padding: 0px 0px 0px 18px;
	display: inline-block;
	background: url(images/back-arrow.png)/*tpa=http://www.itw.com/wp-content/themes/itw/images/back-arrow.png*/ no-repeat left center;
	font-family: "Trade Gothic W01 Bold 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-transform: uppercase;
	color: #8B8A8A;
	line-height: 1.15em;
	letter-spacing: -.02em;
}
.em-dash {
	font-size: 1.05em;
}
h1 .em-dash, h2 .em-dash {
	font-size: 1em;
}
/* Images */
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
	display: block;
}
img.size-full,
img.size-large {
	width: auto; /* Prevent stretching of full-size and large-size images with height and width attributes in IE8 */
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
.entry-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 1.625em;
}

/* Image borders */
a:focus img[class*="align"],
a:hover img[class*="align"],
a:active img[class*="align"],
a:focus img[class*="wp-image-"],
a:hover img[class*="wp-image-"],
a:active img[class*="wp-image-"] {/* Add some useful style to those fancy borders for linked images ... */
	background: #eee;
	border-color: #bbb;
}
/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}

/* Password Protected Posts */
.post-password-required input[type=password] {
	margin: 0.8125em 0;
}
.post-password-required input[type=password]:focus {
	background: #f7f7f7;
}

/*
Post Formats Headings
To hide the headings, display: none the ".entry-header .entry-format" selector,
and remove the padding rules below.
*/
.entry-header .entry-format {
	color: #666;
	font-size: 10px;
	font-weight: 500;
	letter-spacing: 0.1em;
	line-height: 2.6em;
	position: absolute;
	text-transform: uppercase;
	top: -5px;
}
.entry-header hgroup .entry-title {
	padding-top: 15px;
}
article.format-aside .entry-content,
article.format-link .entry-content,
article.format-status .entry-content {
	padding: 20px 0 0;
}
article.format-status .entry-content {
	min-height: 65px;
}
.recent-posts .entry-header .entry-format {
	display: none;
}
.recent-posts .entry-header hgroup .entry-title {
	padding-top: 0;
}

/* Singular content styles for Posts and Pages */
.singular .hentry {
	border-bottom: none;
	position: relative;
	z-index: 1;
}
.entry-title {
	color: #98002e;
	font-size: 28px;
	line-height: 30px;
}
.singular .entry-title,
.singular .entry-header .entry-meta {
	padding-right: 0;
}
.singular .entry-header .entry-meta {
	position: absolute;
	top: 0;
	left: 0;
}
blockquote.pull {
	font-size: 21px;
	font-weight: bold;
	line-height: 1.6125em;
	margin: 0 0 1.625em;
	text-align: center;
}
.singular blockquote.pull {
	margin: 0 -22.25% 1.625em;
}
.pull.alignleft {
	margin: 0 1.625em 0 0;
	text-align: right;
}
.singular .pull.alignleft {
	margin: 0 1.625em 0 -22.25%;
}
.pull.alignright {
	margin: 0 0 0 1.625em;
	text-align: left;
}
blockquote.pull.alignleft,
blockquote.pull.alignright {
	width: 33%;
}
.singular .pull.alignright {
	margin: 0 -22.25% 0 1.625em;
}
.singular blockquote.pull.alignleft,
.singular blockquote.pull.alignright {
	width: 33%;
}
.singular .entry-meta .edit-link a {
	bottom: auto;
	left: 50px;
	position: absolute;
	right: auto;
	top: 80px;
}

/*Two Column content*/
ul.cg-list {
	margin: 0px 0px 0px 12px;
	float: left;
	width: 375px;
}
ul.cg-list.first {
	margin: 0px;
}
ul.cg-list li {
	list-style: none;
	border-bottom: 1px solid #d9dad9;
	padding-bottom: 8px;
	margin-bottom: 4px;
}
.entry-content ul.cg-list h3 {
	font-family:'Joanna W01 Regular', "Times New Roman", Times, serif;
	font-size: 1.65em;
	line-height: 1em;
	border: 0px;
	text-transform: none;
	color: #F15D22;
	margin-bottom: 0;
}
ul.cg-list h3 a{
	color: #F15D22;
}
ul.cg-list a:after {
	content: "";
	text-transform: none;
	display: inline-block;
	height: 13px;
	width: 12px;
	background: url(images/link-arrow.png)/*tpa=http://www.itw.com/wp-content/themes/itw/images/link-arrow.png*/ no-repeat right bottom;
	padding-right: 5px;
}
ul.cg-list p {
	margin: 0px;
}
ul.cg-list a {
	color: #666766;
}

/* =Aside
----------------------------------------------- */

.format-aside .entry-title {
	display: none;
}
.singular .format-aside .entry-title {
	display: block;
}
.format-aside .entry-content {
	padding: 0;
}
.singular .format-aside .entry-content {
	padding: 1.625em 0 0;
}


/* =Link
----------------------------------------------- */

.format-link .entry-title {
	display: none;
}
.singular .format-link .entry-title {
	display: block;
}
.format-link .entry-content {
	padding: 0;
}
.singular .format-link .entry-content {
	padding: 1.625em 0 0;
}


/* =Gallery
----------------------------------------------- */

.gallery li {
	list-style: none;
}

.random-gallery {
	position: relative;
	height: 211px;
	width: 766px;
	border: 1px dotted #8B8A8A;
	border-right: 0px;
	border-left: 0px;
	padding: 15px 0px;
	margin: 24px 0px;
}
.random-gallery li {
	position: absolute;
	top: 15px;
	left: 0px;
	z-index: 50;
}
.random-gallery li.active {
	z-index: 70;
}
.random-gallery li.nextSlide {
	z-index: 60;
}

.mosaic-gallery {
	max-width: 768px;
	position: relative;
	margin: 0px;
	border-top: 1px dotted #8B8A8A;
	padding-top: 12px;
	z-index: 100;
}

.mosaic-gallery .gallery-item {
	margin: 4px 8px 4px 0px;
	float: left;
	width: 186px;
	cursor: pointer;
}
.mosaic-gallery .gallery-item img {
	position: relative;
}
.mosaic-gallery .gallery-item .expand-caption {
	display: block;
	position: absolute;
	bottom: 0px;
	right: 0px;
	text-indent: -9999px;
	outline: none;
	background: #fff;
	height: 16px;
	width: 16px;
	background: url(images/expand.png)/*tpa=http://www.itw.com/wp-content/themes/itw/images/expand.png*/ no-repeat center center #fff;
}
.mosaic-gallery .gallery-caption {
	position: absolute;
	z-index: 100;
	background: #fff;
	border: 6px solid #d9dad9;
	top: -22px;
	left: -22px;
	padding: 16px;
	display: none;
	-moz-box-shadow: 7px 7px 7px rgba(0,0,0,.25);
	-webkit-box-shadow: 7px 7px 7px rgba(0,0,0,.25);
	box-shadow: 7px 7px 7px rgba(0,0,0,.25);
}
.mosaic-gallery .caption-content {
	width: 236px;
	cursor: default;
}
.mosaic-gallery .gallery-caption h3 {
	color: #00596a;
	font-size: .9em;
	margin-bottom: 8px;
}
.mosaic-gallery .gallery-caption h2 {
	font-size: 1.35;
	line-height: 1.15;
	margin-bottom: 2px;
	font-family:'Joanna W01 Regular', "Times New Roman", Times, serif;
}
.mosaic-gallery .gallery-caption h2 a {
	color: #00bdf2;
}
.mosaic-gallery .gallery-caption a.learn-more {
	background: url(images/mosaic-arrow.png)/*tpa=http://www.itw.com/wp-content/themes/itw/images/mosaic-arrow.png*/ no-repeat right center;
	display: inline-block;
	padding: 0px 15px 0px 0px;
	color: #00596a;
	font-size: .9em;
	text-transform: uppercase;
	font-family: "Trade Gothic W01 Bold 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: -.02em;
}

.quote-gallery {
	border-top: 1px dotted #8B8A8A;
	border-bottom: 1px dotted #8B8A8A;
	padding: 12px 0px 4px 0px;
}
.quote-gallery ul.gallery {
	height:212px;
	width: 540px;
	margin: 0px;
	position: relative;
	overflow: hidden;
}
.quote-gallery li {
	position: absolute;
	left: 0px;
	z-index: 100;
}
.quote-gallery li.currImg {
	z-index: 150;
}
.quote-gallery li.nextImg {
	z-index: 125;
}
.quote-gallery .gallery-caption {
	position: absolute;
	top: 0px;
	left: 20px;
	z-index: 150;
	height: 212px;
	width: 294px;
}
.quote-gallery .capt-right .gallery-caption {
	left: auto;
	right: 0px;
}
.quote-gallery .wide-quote.capt-right .gallery-caption {
	width: 368px;
}
.quote-gallery .gallery-caption .top-caption, 
.quote-gallery .gallery-caption p, .quote-gallery .gallery-caption blockquote {
	opacity: 0;
}
.quote-gallery .gallery-caption hr {
	margin-top: 0px;
	width: 42px;
	border-top: 5px solid #20c4f4;
	border-bottom: 0px;
	height: 5px;
	text-align: left;
}
.quote-gallery .gallery-caption h3 {
	color: #00596A;
	margin-bottom: 3px;
}
.quote-gallery .gallery-caption p {
	color: #000;
	margin-bottom: 1.35em;
}
.quote-gallery .gallery-caption blockquote {
	font-size: 1.65em;
	font-family:'Joanna W01 Regular', "Times New Roman", Times, serif;
	color: #00596A;
	font-style: normal;
	line-height: 1.2em;
	text-indent: -.5em;
	margin: 0px;
	position: absolute;
	left: 0px;
	bottom: 12px;
	width: 318px;
}
.quote-gallery .wide-quote .gallery-caption blockquote {
	width: 362px;
}
.quote-gallery .slide-nav {
	width: 32px;
	margin: 4px 0px 0px 0px;
}
.quote-gallery .slide-nav a {
	outline: none;
	display: block;
	text-indent: -9999px;
	height: 10px;
	width: 10px;
}
.quote-gallery .slide-nav a.previous {
	float: left;
	background: url(images/slide-left.png)/*tpa=http://www.itw.com/wp-content/themes/itw/images/slide-left.png*/ no-repeat -6px -19px;
}
.quote-gallery .slide-nav a {
	float: right;
	background: url(images/slide-right.png)/*tpa=http://www.itw.com/wp-content/themes/itw/images/slide-right.png*/ no-repeat 0px -19px;
}

/* =Image
----------------------------------------------- */

.indexed.format-image .entry-header {
	min-height: 61px; /* Prevent the comment icon from colliding with the image when there is no title */
}
.indexed.format-image .entry-content {
	padding-top: 0.5em;
}
.indexed.format-image .entry-content p {
	margin: 1em 0;
}
.indexed.format-image .entry-content p:first-child,
.indexed.format-image .entry-content p:first-child a,
.indexed.format-image .entry-content p:first-child img {
	display: block;
	margin: 0;
}
.indexed.format-image .entry-content .wp-caption .wp-caption-text {
	margin: 0;
	padding-bottom: 1em;
}
.indexed.format-image footer.entry-meta {
	background: #ddd;
	overflow: hidden;
	padding: 4%;
	max-width: 96%;
}
.indexed.format-image div.entry-meta {
	display: inline-block;
	float: left;
	width: 35%;
}
.indexed.format-image div.entry-meta + div.entry-meta {
	float: none;
	width: 65%;
}
.indexed.format-image .entry-meta span.cat-links,
.indexed.format-image .entry-meta span.tag-links {
	display: block;
}
.indexed.format-image footer.entry-meta a {
	color: #444;
}
.indexed.format-image footer.entry-meta a:hover {
	color: #fff;
}
#content .indexed.format-image img {
	border: none;
	max-width: 100%;
	padding: 0;
}
.indexed.format-image .wp-caption {
	background: #111;
	margin-bottom: 0;
	max-width: 96%;
	padding: 2% 2% 0;
}
.indexed.format-image .wp-caption .wp-caption-text {
	color: #ddd;
}
.indexed.format-image .wp-caption .wp-caption-text:before {
	color: #444;
}
.indexed.format-image a:hover img {
	opacity: 0.8;
}


/* =error404
----------------------------------------------- */

.error404 #main #searchform {
	float: none;
}
.error404 #main #s {
	width: 200px;
	border: 1px solid #ccc;
}
.error404 #main input#searchsubmit {
	float: left;
}
/* Intro */
article.intro {
	background: #f9f9f9;
	border-bottom: none;
	margin: -1.855em -8.9% 1.625em;
	padding: 0 8.9%;
}
article.intro .entry-title {
	display: none;
}
article.intro .entry-content {
	color: #111;
	font-size: 16px;
	padding: 1.625em 0 0.625em;
}
article.intro .edit-link a {
	background: #aaa;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	font-size: 12px;
	padding: 0 8px;
	position: absolute;
	top: 30px;
	right: 20px;
	text-decoration: none;
}
article.intro .edit-link a:hover,
article.intro .edit-link a:focus,
article.intro .edit-link a:active {
	background: #777;
}

/* =Attachments
----------------------------------------------- */

.image-attachment div.attachment {
	background: #f9f9f9;
	border: 1px solid #ddd;
	border-width: 1px 0;
	margin: 0 -8.9% 1.625em;
	overflow: hidden;
	padding: 1.625em 1.625em 0;
	text-align: center;
}
.image-attachment div.attachment img {
	display: block;
	height: auto;
	margin: 0 auto 1.625em;
	max-width: 100%;
}
.image-attachment div.attachment a img {
	border-color: #f9f9f9;
}
.image-attachment div.attachment a:focus img,
.image-attachment div.attachment a:hover img,
.image-attachment div.attachment a:active img {
	border-color: #ddd;
	background: #fff;
}
.image-attachment .entry-caption p {
	font-size: 10px;
	letter-spacing: 0.1em;
	line-height: 2.6em;
	margin: 0 0 2.6em;
	text-transform: uppercase;
}


/* =Navigation
-------------------------------------------------------------- */

#content nav {
	clear: both;
}
#nav-above {
	padding: 0 0 1.625em;
}
#nav-above {
	display: none;
}
.paged #nav-above {
	display: block;
}
.nav-previous {
	float: left;
	width: 50%;
}
.nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
#content nav .meta-nav {
	font-weight: normal;
}

/* Singular navigation */
#nav-single {
	float: right;
	position: relative;
	top: -0.3em;
	text-align: right;
	z-index: 1;
}
#nav-single .nav-previous,
#nav-single .nav-next {
	width: auto;
}
#nav-single .nav-next {
	padding-left: .5em;
}
#nav-single .nav-previous {
	padding-right: .5em;
}

.left-nav ul {
	margin: 0px 6px 0px 0px;
}
.left-nav li {
	list-style: none;
	margin-bottom: 4px;
	font-size: 1.3em;
}
.left-nav a {
	color: #000;
	border-bottom: 1px dotted #8b8a8a;
	padding-bottom: 6px;
	display: inline-block;
	line-height: 1.1em;
}
#primary .left-nav a:hover, .left-nav .current_page_item > a, 
.page-template-page-innovations-php .left-nav .current_page_ancestor > a{
	color: #F15D22;
	text-decoration: none;
}

.left-nav ul .sub-pages {
	display: none;
}
.left-nav ul .current_page_item > .sub-pages, .left-nav ul .current_page_ancestor > .sub-pages {
	display: block;
	margin-left: 12px;
	margin-top: 4px;
}
.left-nav ul ul li {
	font-size: 1em;
}

.left-nav ul ul a {
	color: #484848;
	line-height: 1em;
}
.left-nav ul ul .current_page_ancestor > a {
	color: #F15D22;
}

.left-nav li.test-measurement-and-electronics a {
	max-width: 125px;
}
.left-nav li.environmental-and-safety-data a {
	max-width: 110px;
}
.left-nav li.students-and-recent-graduates a {
	max-width: 120px;
}
/* =Widgets
----------------------------------------------- */

.widget {
	line-height: 1.45em;
	margin-bottom: 24px;
}
.widget-title, .right-col h2 {
	color: #666767;
	text-transform: uppercase;
	font-family: "Trade Gothic W01 Bold 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1em;
	line-height: 14px;
	border-bottom: 1px dotted #8b8a8a;
	padding-bottom: 4px;
	margin-bottom: 16px;
	font-weight: normal;	
	-webkit-font-smoothing: antialiased;
	letter-spacing: -.02em;
}
.careers .right-col h2 {
	border-bottom: 0px;
	padding-bottom: 0px;
}
.widget .widget-title a{
	color: #666767;
}
#primary .widget .widget-title a:hover{
	text-decoration: none;
}
.widget img {
	margin-bottom: 12px;
	display: block;
}
.widget p img {
	margin-bottom: 0px;
}
.widget img.alignleft {
	margin: 2px 5px 5px 0px;
}
.no-margin-bottom, .widget img.no-margin-bottom {
	margin-bottom: 0px;
}
.widget ul {
	margin: 0;
}
.widget ul ul {
	margin-left: 1.5em;
}
.widget ul li {
}
.widget ul.sidebar-list {
	list-style: none;
}
.widget ul.sidebar-list li{
	line-height: 1.25em;
	margin-bottom: 6px;
}
.widget h3 {
	color: #F15D22;
	font-size: 1.1em;
	line-height: 15px;
	margin-bottom: 3px;
}
.widget a {
	text-decoration: none;
	color: #F15D22;
}
.widget a:hover,
.widget a:focus,
.widget a:active {
	text-decoration: underline;
}

/* Ephemera Widget */
section.ephemera ol,
.widget_twentyeleven_ephemera ol {
	list-style: square;
	margin: 5px 0 0;
}
.widget_twentyeleven_ephemera .widget-entry-title {
	font-size: 15px;
	font-weight: bold;
	padding: 0;
}

section.ephemera .entry-title a span {
	color: #29628d;
}

/* Widget Image */
.widget_image img {
	border: 0;
	padding: 0;
	height: auto;
	max-width: 100%;
}

/* Calendar Widget */

.widget_calendar #wp-calendar {
	color: #555;
	width: 95%;
	text-align: center;
}
.widget_calendar #wp-calendar caption,
.widget_calendar #wp-calendar td,
.widget_calendar #wp-calendar th {
	text-align: center;
}
.widget_calendar #wp-calendar caption {
	font-size: 11px;
	font-weight: 500;
	padding: 5px 0 3px 0;
	text-transform: uppercase;
}
.widget_calendar #wp-calendar th {
	background: #f4f4f4;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	font-weight: bold;
}
.widget_calendar #wp-calendar tfoot td {
	background: #f4f4f4;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

/*Business Segments*/
#segment-list {
	margin: 0px;
	border-bottom: 1px dotted #8B8A8A;
}
#segment-list li{
	list-style: none;
	position: relative;
	border-top: 1px dotted #8B8A8A;
	padding: 8px 0px 9px 0px;
	z-index: 1;
}
#segment-list h2 {
	font-size:2.3em;
	font-family:'Joanna W01 Regular', "Times New Roman", Times, serif;
	line-height: 1.05em;
	color: #F15D22;
	position: relative;
	z-index: 1;
}
#segment-list h3{
	color: #000;
	text-transform: uppercase;
	font-size: .9em;
	line-height: 1.25em;
	font-family: "Trade Gothic W01 Bold 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	margin-bottom: 3px;
	letter-spacing: -.02em;
}
#segment-list .segment-item{
	margin-top: 8px;
	display: none;
}

#segment-list .segment-left{
	float: left;
	margin-top: 5px;
	width: 144px;
}
#segment-list .segment-detail {
	float: left;
	width: 624px;
}
#segment-list .segment-detail div{
	float: left;
	width: 144px;
	margin-left: 12px;
}
#segment-list .revenues-cat img {
	margin-top: 8px;
	max-width: 144px;
	height: auto;
}
#segment-list .end-markets  p {
	margin-bottom: 0px;
    padding-left: 12px;
    text-indent: -12px;
}
#segment-list .percent-rev p {
	font-size: 1.65em;
	margin-top: 3px;
	margin-bottom: 0px;
}
#segment-list .end-markets ul {
	float: left;
	width: 183px;
	margin-left: 6px;
	padding-bottom: 12px;
}
#segment-list .end-markets ul.col-1 {
	margin-left: 0px;
}
#segment-list .end-markets li {
	border: 0px;
	padding: 0px;
}

.expand-content {
	position: absolute;
	right: 0px;
	top: 0px;
	color: #8B8A8A;
	text-transform: uppercase;
	font-family:'Trade Gothic W01 Bold 2', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: .8em;
	padding: 16px 0px 0px 0px;
	height: 30px;
	width: 100%;
	text-align: right;
	line-height: 1.4em;
	letter-spacing: -.02em;
	z-index: 75;
}
.expand-all, .expand-them-all {
	position: relative;
	text-align: right;
	display: block;
}
#primary .expand-content:hover {
	text-decoration: none;
	color: #484848;
}
.expand-content.active {
	color: #484848;
}
.expand-content span {
	text-indent: -9999px;
	text-align: left;
	outline: none;
	display: block;
	float: right;
	outline: none;
	height: 11px;
	width: 15px;
	background:url(images/expand.png)/*tpa=http://www.itw.com/wp-content/themes/itw/images/expand.png*/ no-repeat 5px 1px;
}
.expand-content.active span {
	background:url(images/close.png)/*tpa=http://www.itw.com/wp-content/themes/itw/images/close.png*/ no-repeat 5px 2px;
}
#segment-list .primary-brands ul.col-1 {
	margin-left: 0px;
}
#segment-list .primary-brands li {
	border: 0px;
	padding: 0px;
}

/*Innovations*/

.innovation-article {
	float: left;
	width: 768px;
	padding-left: 12px;
}
.innovation-article header.innovations {
	border-bottom: 1px dotted #8b8a8a;
	margin-bottom: 16px;
	padding-bottom: 6px;
}
.innovation-article header.innovations h1.entry-title {
	float: left;
	clear: none;
	width: 566px;
	margin: 6px 0px 0px 0px;
}
.innovation-article header.innovations h2 {
	clear: none;
	float: right;
	text-transform: uppercase;
	font-family: "Trade Gothic W01 Bold 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.1em;
	line-height: 1.15em;
	letter-spacing: -.02em;
}
.innovation-article header.innovations h2 a {
	display: block;
	padding-left: 64px;
	background: url(images/innovation-icon.png)/*tpa=http://www.itw.com/wp-content/themes/itw/images/innovation-icon.png*/ no-repeat left top;
	height: 37px;
	width: 138px;
	color: #484848;
}

.innovation-article .center-col {
	padding-left: 0px;
}

.innovation-article .center-col figure.feat-img {
	border: 0px;
	padding-top: 0px;
}

.innovation-article article h1 {
	color: #f15d22;
	font-size: 2em;
	line-height: 1.1em;
	font-family:'Joanna W01 Regular', "Times New Roman", Times, serif;
	margin-bottom: 12px;
}
/*Social Responsibility*/
.sr-landing {
	float: left;
	width: 768px;
	padding-left: 12px;
}
.sr-landing header h2 {
	font-size: 16px;
	line-height: 22px;
	color: #484848;
	margin-bottom: 12px;
}
.sr-landing .gallery {
	font-size: 1.2em;
	border-bottom: 1px dotted #8B8A8A;
	margin-bottom: 12px;
	padding-bottom: 12px;
}
.sr-landing .center-col {
	padding-left: 0px;
}
.sr-landing .center-col .entry-content h3.red-title:first-child {
	margin-top: 0px;
}
.sr-landing .right-col h1 {
	text-transform: uppercase;
	font-family: "Trade Gothic W01 Bold 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000;
	margin: 0px 0px 32px 0px;
	letter-spacing: -.02em;
}
.sr-landing .right-col h2 {
	border-bottom: 0px;
	color: #F15D22;
	border-top: 2px solid #d9dad9;
	padding: 24px 0px 0px 0px;
}
.sr-landing .right-col h2.noborder {
	padding-top: 0px;
}
.innovation-article header.sr-header h1.entry-title {
	margin: 0px;
}
.innovation-article header.innovations h2.sr-icon a {
	display: block;
	padding-left: 68px;
	background: url(images/sr-icon.png)/*tpa=http://www.itw.com/wp-content/themes/itw/images/sr-icon.png*/ no-repeat left top;
	height: 25px;
	width: 134px;
	color: #484848;
	margin-top: 6px;
}
#primary .innovation-article header.innovations h2 a:hover {
	text-decoration: none;
}

/* Environmental Data table*/
.itw-enivronmental {
	border-spacing: 0;
	width:540px;
	margin-bottom:40px;	
}
.itw-enivronmental th{
	text-align:left;
	font-weight:normal;
}
.itw-enivronmental thead th{
	color:#000;
	padding-bottom:3px;
	border-bottom:1px dotted #666766;
	font-family: "Trade Gothic W01 Bold 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: -.02em;
}
.itw-enivronmental tbody th{
	padding:6px 0px 0px 0px;
}
.itw-enivronmental thead th span, .itw-enivronmental td span{
	font-size:.85em;
	font-family: 'Trade Gothic W01 Roman', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.itw-enivronmental td, .itw-enivronmental th{
	padding:0px;
}
.itw-enivronmental td{
	border-bottom:1px solid #d8d9d9;
	padding:3px 0px;
}
.itw-enivronmental td.eng-td-spacer{
	width:20px;
	border-bottom:none;
}
.itw-enivronmental td.eng-td-title{
	width:350px;
}
.itw-enivronmental td.eng-td-amount, .itw-enivronmental th.eng-td-amount{
	width:85px;
	text-align:right;
}
.itw-enivronmental tfoot tr td{
	padding-top:12px;
}
.itw-enivronmental sub{
	font-size:.6em;
}
.itw-enivronmental td sub{
	font-size:.7em;
}
.itw-enivronmental td.eng-td-firstLone{
	padding-top:8px;
}
/*Community Relations*/
.cr-landing {
	float: left;
	width: 768px;
	padding-left: 12px;
}
.cr-landing #slideshow {
	height:322px;
	width: 768px;
	margin: 0px 0px 24px 0px;
	padding-bottom: 24px;
	border-bottom:1px dotted #666766;
}
.cr-landing .slideshow-list {
	margin: 0px;
	width: 768px;
}
.cr-landing #slideshow .slideshow-list li {
	left: 718px;
}
.cr-landing #slideshow .static-img {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 200;
	width: 225px;
	padding: 0px;
	height: 322px;
}
.cr-landing .center-col {
	padding-left: 0px;
	width: 344px;
	border: 0px;
}
.cr-landing .right-col {
	width: 384px;
}
.cr-landing .right-col aside {
	width: 186px;
	float: left;
	margin-left: 12px;
	padding-top: 15px;
}
.cr-landing .right-col aside.first {
	margin-left: 0px;
	border-top: 1px dotted #8B8A8A;
	padding-top: 15px;
}
.cr-landing .right-col .widget-title {
	border-bottom: 0px;
	margin-bottom: 6px;
	padding-bottom: 0px;
}
.widget.related-story {
	border-top: 1px dotted #8B8A8A;
	margin-bottom: 20px;
	padding-top: 20px;
}
.widget.related-story.first {
	border-top: 0px;
	padding-top: 0px;
}
.widget.related-story h3 {
	font-family: "Trade Gothic W01 Bold 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #00596a;
	font-size: .9em;
	margin-bottom: 4px;
	letter-spacing: -.02em;
}
.widget.related-story h2 {
	font-family:'Joanna W01 Regular', "Times New Roman", Times, serif;
	text-transform: none;
	font-size: 1.35em;
	line-height: 1.15em;
	border-bottom: 0px;
	margin-bottom: 6px;
	padding-bottom: 0px;
}
.widget.related-story h2 a{
	color: #00bdf2;
}
#primary .widget.related-story h2 a:hover {
	text-decoration: underline;
}

/*career builder styles*/
table#tblContent {
	border-top: 1px dotted #8B8A8A;
	padding-top: 16px;
}
.cb_style table, .cb_style td {
	color: #484848;
}
.cb_style td.cell_pageheader {
	color: #F15D22;
	margin: 0px;
	padding: 0px;
	text-transform: uppercase;
	font-family: "Trade Gothic W01 Bold 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 1em;
}
.cb_style td.cell_pageheader h1 {
	color: #F15D22;
}
.entry-content .cell_pageheader h1 {
	color: #F15D22;
	font-family: "Trade Gothic W01 Bold 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1em;
	margin: 0px;
}

.entry-content .s_tbl_navigator {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    margin-bottom: 20px;
    width: 560px;	
}
.entry-content .s_tbl_navigator td {
	color: #484848;
}
a.link1:link, a.link1 {
	color: #98002E !important;
}
.s_cell_navigatorintro, .s_cell_formintro {
	font-weight: normal;
}
.s_cell_label {
	font-weight: normal;
	font-family: "Trade Gothic W01 Bold 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #484848;
	padding-bottom: 3px;
}

.entry-content #mxdlResults {
	width: 560px;
}
.s_tbl_navigator td {
	padding: 3px;
}
.s_span_navigator {
	font-weight: bold;
}
#htrForm .s_cell_left {
	width: 280px;
	border-right: 1px solid #ddd;
	padding-right: 10px;
}
#htrForm .s_cell_right {
	padding-left: 10px;
}
#htrForm .s_cell_label {
	font-weight: bold;
}
#htrForm select{
	font-family: Arial, Helvetica, sans-serif;
	width: 260px;
}
#htrForm select, #htrForm input {
	margin-bottom: 10px;
}
.entry-content #htrSubmit input[type="submit"] {
	background-image: none;
	padding-right:10px;
	border-radius: 0px;
	font-size: 13px;
}
.r_cell_nav {
    padding: 8px 0;
}
.r_row_odd {
    background-color: #F1F1F1;
}
.r_cell_value {
    padding: 4px;
}
.cell_sectionheader {
    background-color: #8B8A8A;
    color: #FFFFFF;
    font-weight: bold;
    padding: 4px;
}
.cell_sectionheader a, .cell_sectionheader a.link3:link{
	color: #fff;
}
#spnBackSearch {
	float: none!important;
}

/*Bios*/
.bio-list {
	border-top: 1px dotted #8B8A8A;
}
.bio-list ul {
	margin: 0px;
}
.bio-list .featured-bios {
	border-bottom: 1px solid #d9dad9;
	margin: 24px 0px;
}
.bio-list li.bio {
	float: left;
	width: 248px;
	margin: 0px 12px 24px 0px;
	list-style: none;
}
.bio-list li.last-bio {
	margin-right: 0px;
}
.bio-detail {
	border-right: 0px;
	width: 766px;
	padding-right: 0px;
	margin-right: 0px;
}
.bio-detail .bio {
	padding-top: 20px;
	border-top: 1px dotted #8B8A8A;
	clear: both;
}
.bio img {
	width: 84px;
	height: auto;
	float: left;
	margin-right: 12px;
}
.bio-detail .bio img {
	width: 144px;
	height: 147px;
}
.bio-deet {
	float: left;
	height: 147px;
	position: relative;
	width: 384px;
}
.bio-deet p {
	position: absolute;
	bottom: 0px;
	left: 0px;
	margin: 0px;
}
.bio-content {
	clear: both;
	width: 534px;
	padding-top: 24px;
}
.bio-detail .entry-header {
	float: left;
}
.bio-detail .entry-header .entry-title {
	margin-bottom: 24px;
}

.bio-detail .back-to {
	float: right;
	margin-top: 12px;
}

/*Accordion Content*/
.accordion-content.first-item {
	border-top: 1px dotted #8B8A8A;
}
.accordion-content{
	position: relative;
	border-bottom: 1px dotted #8B8A8A;
	padding: 8px 0px 9px 0px;
}
.accordion-content h2 {
	font-size:2.3em;
	font-family:'Joanna W01 Regular', "Times New Roman", Times, serif;
	line-height: 1.05em;
	color: #F15D22;
	margin-bottom: 0px;
}
.accordion-content h2 span {
	letter-spacing: -.1em;
}

.accordion-content .show-hide{
	margin-top: 8px;
	display: none;
}
.accordion-content .show-hide p {
	margin-bottom: 1em;
}
.accordion-content .expand-content.active {
	color: #484848;
	height: 30px;
}

/*Related Content */
.related-stories {
	border-top: 2px solid #f1f1f1;
	padding-top: 8px;	
}
.related-stories h3 span{
	display: inline-block;
	color: #666766;
}
.related-stories .related-item {
	width: 174px;
	float: left;
	margin:12px 0px 0px 8px;
}
.related-stories .related-item.first-child {
	margin-left: 0px;
}
.related-stories .related-item.first-child, .related-stories .related-item.second-child, .related-stories .related-item.third-child {
	margin-top: 0px;
}
.related-stories .related-item.new-row {
	clear: both;
	margin-left: 0px;
}

.related-stories .related-item h2 {
	padding-top: 10px;
	margin: 12px 0px 6px 0px;
	border-top: 1px dotted #8B8A8A;
	font-size: 1.35em;
	line-height: 1.1em;
}
.related-stories .related-item h2 a{
	color: #20c4f4;
}

/*Video*/
#content.video .feat-img {
	display: none;
}
/* =Footer
----------------------------------------------- */

#colophon {
	width: 964px;
	margin: 0px auto;
	font-family: Arial, sans-serif;
	font-size: 10px;
	margin-bottom: 24px;
}
#colophon .widget {
	font-size: 10px;
	margin-bottom: 0px;
}
#supplementary.one {
	float: left;
}
#supplementary .menu li{
	list-style: none;
	display: inline;
	padding-right: 12px;
}
#supplementary .menu li a {
	color: #666766;
}
/* Site Generator Line */
#site-generator {
	float: right;
}
#site-generator a {
	color: #555;
	font-weight: bold;
}


/* =Responsive Structure
----------------------------------------------- */

@media (max-width: 963px) {
	#page, #search-bar, #colophon {
		width: 820px;
	}
	#access {
		float: none;
		clear: both;
		margin-left: 0px;
	}
	#access li {
		margin: 0px;
	}
	.left-col {
		float: none;
		position: relative;
		z-index: 150;
		margin: 0px 0px 0px 578px;
		width: 202px;
		padding-top: 0px;
	}
	.left-nav {
		width: 190px;
		min-height: 31px;
		cursor: pointer;
		margin-bottom: 12px;
	}
	.left-nav ul {
		background: url(images/expand.png)/*tpa=http://www.itw.com/wp-content/themes/itw/images/expand.png*/ no-repeat 180px 11px #f1f1f1;
		position: absolute;
		z-index: 100;
		padding: 8px 0px 0px 12px;
		width: 190px;
		top: 0px;
		left: 0px;
		margin: 0px;
	}
	.left-nav ul .current_page_item > .sub-pages, .left-nav ul .current_page_ancestor > .sub-pages {
		margin-left: 0px;
		margin-top: 0px;
	}
	.left-nav ul ul {
		width: auto;
		position: relative;
		background: #f1f1f1;
	}
	.left-nav li {
		display: none;
		margin-bottom: 6px;
	}
	.left-nav .current_page_item  li, .left-nav .current_page_ancestor li {
		display: block;
	}
	.left-nav li.nav-header {
		display: block;
	}
	.left-nav li.nav-header.active {
		margin-bottom: 12px;
	}
	.left-nav a {
		border: 0px;
	}
	.center-col {
		padding: 0px 18px 0px 0px;
		margin: -43px 18px 0px 0px;
	}
	.center-col.full-width {
		margin-right: 0px;
		width: 100%;
		float: none;
	}
	.bottom-col {
		margin-left: 0px;
	}
	/*Special Content*/
	.bio-detail {
		margin-right: 0px;
		width: 100%;
	}
	.bio-detail .back-to {
		margin-top: 36px;
	}
	.innovation-article {
		padding: 0px;
		width: 100%;
	}
	.innovation-article .center-col {
		margin-top: 0px;
	}
	.innovation-article header.innovations h1.entry-title {
		width:265px;
	}
	.unit-search {
		margin-top: 0px;
		margin-bottom: 18px;
		text-align: right;
	}
	
	.sr-landing, .cr-landing {
		padding: 0px;
		width: 100%;
	}
	.sr-landing {
		margin-top: -43px;
	}
	.sr-landing .center-col, .cr-landing .center-col {
		margin-top: 0px;
	}
	.cr-landing #slideshow, .cr-landing .slideshow-list {
		width: 100%;
	}
	.single-post .center-col, .search-results .center-col {
		margin-top: 0px;
	}
	.search-results #content {
		margin-left: 10px;
	}
 
	/*Homepage*/
	#slideshow {
		width: 820px;
		margin-left: -19px;
	}
	.slideshow-list {
		width: 612px;
		margin: 0px 19px;
	}
	#slideshow .slide-nav {
		width: 820px;
	}
	nav.menu-homepage-feature-menu-container {
		right: 20px;
		width: 150px;
	}
	.menu-homepage-feature-menu-container a	{
		width: 138px;
		padding: 6px 0 0 12px;
		height: 84px;
		font-size: 2.4em;
	}
	.menu-homepage-feature-menu-container a span {
		width: 130px;
		margin-top: 0px;
	}
	.home #secondary section.home-right {
		width: 274px;
	}
	.home #secondary section.home-right .featured {
		padding: 12px;
	}
	.home #secondary section.home-right .featured img {
		float: none;
		margin-bottom: 4px;
	}
	.home #secondary section.home-right .featured-content {
		float: none;
		width: auto;
	}
	.home .entry-content h3 {
		line-height: 1.2em;
	}
}
@media (max-width: 819px) {
	#page, #search-bar, #colophon {
		width: 580px;
	}
	#primary {
		padding-bottom: 20px;
	}
	#branding {
		padding-bottom: 20px;
	}
	#access {
		position: relative;
		float: right;
		clear: none;
		width: 202px;
	}
	#access ul {
		background: url(images/expand.png)/*tpa=http://www.itw.com/wp-content/themes/itw/images/expand.png*/ no-repeat 180px 11px #f1f1f1;
		padding: 8px 0px 0px 12px;
		width: 190px;
		top: 0px;
		left: 0px;
		margin: 0px;
		position: absolute;
		cursor: pointer;
	}
	#access ul .sub-pages, #access ul ul {
		width: auto !important;
	}
	#access ul li {
		display: none;
		float: none;
		height: auto;
		margin: 0px 0px 6px 0px;
	}
	#access li:first-child {
		margin: 0px;
	}
	#access ul li.nav-header {
		display: block;
		color: #000;
		text-transform: uppercase;
		height: 24px;
	}
	#access ul li.nav-header.active {
		margin-bottom: 6px;
	}
	#access li:hover {
		background: none;
	}
	#access ul li a {
		margin: 0px;
	}
	#access li:hover > a, #access a:focus, #access li.current_page_item > a, #access li.current_page_ancestor > a {
		border: 0px;
		color: #F15D22;
	}
	#access ul li:hover > .sub-pages {
		visibility: hidden;
	}

	.left-col {
		margin-left: 338px;
	}
	.center-col {
		width: 100%;
		float: none;
		border: 0px;
		margin-right: 0px;
	}
	.right-col {
		float: none;
		clear: both;
		width: 97%;
		margin-top: 24px;
	}
	.careers .right-col {
		width: 97%;
		background: -moz-linear-gradient(top,  rgba(241,241,241,1) 0%, rgba(241,241,241,0) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(241,241,241,1)), color-stop(100%,rgba(241,241,241,0)));
		background: -webkit-linear-gradient(top,  rgba(241,241,241,1) 0%,rgba(241,241,241,0) 100%);
		background: -o-linear-gradient(top,  rgba(241,241,241,1) 0%,rgba(241,241,241,0) 100%);
		background: -ms-linear-gradient(top,  rgba(241,241,241,1) 0%,rgba(241,241,241,0) 100%);
		background: linear-gradient(to bottom,  rgba(241,241,241,1) 0%,rgba(241,241,241,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#00f1f1f1',GradientType=0 );
		padding: 8px;
	}
	.entry-content .s_tbl_navigator, .entry-content #mxdlResults {
		width: 540px;
	}
	#htrForm select {
		width: 250px;
	}
	.center-col .entry-title {
		max-width: 288px;
	}
	.center-col.type-post .entry-title {
		max-width: none;
	}
	.center-col figure.feat-img img{
		width: 100%;
		height: auto;
	}
	.center-col img.size-full {
		max-width: 100%;
		height: auto;
	}

	.random-gallery {
		width: 100%;
		height: 149px;
	}
	.random-gallery .gallery-item img {
		width: 100%;
		height: auto;
	}
	.bio-list li.bio {
		width: 238px;
	}
	#segment-list .segment-left, #segment-list .segment-detail {
		float: none;
		width: 100%;
	}
	#segment-list .segment-detail {
		clear: both;
		padding: 12px 0px 0px 0px;
	}
	.segment-left img, .segment-left .percent-rev {
		float: left;
	}
	.segment-left img {
		margin-right: 12px;
	}
	#segment-list .segment-detail div:first-child {
		margin-left: 0px;
	}
	#segment-list .revenues-cat img {
		margin-bottom: 12px;
	}
	#segment-list .segment-detail div.end-markets {
		width: 124px;
	}
	#segment-list .segment-detail div.primary-brands {
		width: 92px;
	}
	.bio-list li.last-bio {
		margin-right: 12px;
	}
	.bio-deet {
		width: 344px;
	}
	.bio-content {
		width: 100%;
	}
	.innovation-article .center-col {
		margin-right: 0px;
	}	
	.innovation-article header.sr-header h1.entry-title {
		width: 322px;
	}
	.form-item {
		margin-left: 16px;
	}
	.sr-landing .right-col h1 {
		margin-bottom: 12px;
	}
	.cr-landing .center-col {
		width: 100%;
		margin-right: 0px;
		padding-right: 0px;
	}
	.cr-landing #slideshow {
		height: 326px;
	}
	.cr-landing #slideshow .static-img {
		display: none;
	}
	/*Homepage*/
	#slideshow, #slideshow .slide-nav {
		width: 580px;
	}
	.slideshow-list {
		width: 540px;
		height: 317px;
	}
	#slideshow .slide-item img {
		width: 540px;
		height: auto;
	}
	#slideshow .slide-nav {
		top: 150px;
	}
	nav.menu-homepage-feature-menu-container {
		position: relative;
		top: auto;
		right: auto;
		height: auto;
		width: auto;
		margin-left: 8px;
	}
	.menu-homepage-feature-menu-container li {
		float: left;
		margin-left: 11px;
	}
	.menu-homepage-feature-menu-container li:first-child {
		margin-top: 12px;
	}
	.menu-homepage-feature-menu-container a {
		width: 115px;
		height: 90px;
	}
	.menu-homepage-feature-menu-container a span {
		width: 115px;
	}
	.menu-homepage-feature-menu-container .descr-menu-4 a span {
		width: 100px;
	}
	.menu-homepage-feature-menu-container li a span em {
		padding-left: 4px;
	}
	.home #secondary section.home-right, .home #secondary section.home-center {
		width: 224px;
	}
	.home .entry-content h3 {
		font-size: 1.45em;
	}
	#site-generator {
		float: none;
		clear: left;
	}
}
@media (max-width: 579px) {
	#page, #search-bar, #colophon {
		width: 440px;
	}
	.left-col {
		margin-left: 198px;
	}
	.center-col .entry-title, .sr-landing .entry-title {
		max-width: 202px;
	}
	.business-segments .center-col .entry-title {
		max-width: 236px;
	}
	.itw_bizbrand.center-col .entry-title, .cr-landing .entry-title {
		max-width: 260px;
	}
	
	.random-gallery {
		height: 110px;
	}
	.bio-deet {
		width: 244px;
	}
	.form-row .third-item {
		margin-left: 0px;
	}
	#segment-list h2 {
		max-width: 330px;
	}
	#segment-list .segment-detail div.end-markets {
		clear: left;
		margin-left: 0px;
	}
	#segment-list .segment-detail div.end-markets {
		width: 144px;
	}
	#segment-list .segment-detail div.primary-brands {
		width: 144px;
	}
	.innovation-article header.innovations h1.entry-title, .innovation-article header.innovations h2 {
		float: none;
	}
	.related-stories .related-item.third-child {
		margin-left: 0px;
		padding-top: 6px;
		clear: both;
		float: none;
	}
	.cr-landing #slideshow {
		height: 242px;
	}
	.quote-gallery ul.gallery {
		width: 400px;
		height: 420px;
	}
	.quote-gallery li {
		left: 400px;
	}
	.quote-gallery li img {
		margin-left: -140px;
	}
	.quote-gallery li.capt-right img {
		margin-left: 0px;
	}
	.quote-gallery .gallery-caption {
		position: relative;
		width: 100%;
		left: auto;
	}
	.quote-gallery .gallery-caption blockquote {
		position: relative;
		margin-top: 20px;
	}
	.entry-content .s_tbl_navigator, .entry-content #mxdlResults {
		width: 400px;
	}
	.entry-content img {
		max-width: 400px;
	}
	#htrForm select {
		width: 180px;
	}
	/*Homepage*/
	#slideshow, #slideshow .slide-nav {
		width: 440px;
	}
	#slideshow {
		height: 317px;
	}
	.slideshow-list {
		width: 400px;
		height: 235px;
	}
	#slideshow .slide-item img {
		width: 400px;
	}
	#slideshow .slide-nav {
		top: 100px;
	}
	.menu-homepage-feature-menu-container a {
		width: 182px;
		font-size: 2.3em;
		height: 60px;
	}

	.home #secondary {
		margin-top: 4px;
	}
	.home #secondary section.home-left, .home #secondary section.home-right, .home #secondary section.home-center {
		width: 100%;
		float: none;
		margin: 0px 0px 24px 0px;
	}
}
@media only screen and (max-width: 439px) {
	#page, #search-bar, #colophon {
		width: 320px;
	}
	#access {
		width: 132px;
	}
	#access ul {
		width: 120px;
		background-position: 110px 11px;
	}
	.left-col {
		margin-left: 0px;
	}
	.center-col, .sr-landing {
		margin-top: 0px;
	}
	.right-col, .cr-landing .right-col {
		width: 95%;
	}
	.center-col .entry-title, .sr-landing .entry-title {
		max-width: none;
	}
	.innovation-article header.sr-header h1.entry-title {
		width: auto;
	}
	.mosaic-gallery .gallery-item img {
		max-width: 280px;
	}
	.random-gallery {
		height: 77px;
	}
	.cr-landing .right-col aside {
		margin-left: 0px;
	}
	.form-item {
		margin-left: 0px;
	}
	.form-item textarea {
		width: 280px;
	}
	.bio-detail .entry-header, .bio-detail .back-to {
		float: none;
	}
	.bio-detail .entry-header {
		margin-bottom: 0px;
	}
	.bio-detail .back-to {
		margin-top: 0px;
	}
	.bio img {
		float: none;
	}
	.bio-deet {
		height: auto;
		float: none;
	}
	.bio-deet p {
		position: relative;
	}
	.unit-search {
		text-align: left;
		
	}
	.related-stories .related-item {
		margin-left: 0px;
	}
	#segment-list h2, .accordion-content h2 {
		max-width: 220px;
	}
	.segment-left img, .segment-left .percent-rev {
		float: none;
	}
	#segment-list .segment-detail {
		padding: 0px;
	}
	#segment-list .segment-detail div {
		float: none;
		margin-left: 0px;
		margin-top: 12px;
	}
	.cr-landing #slideshow .slideshow-list li {
		left: 320px;
	}
	.cr-landing #slideshow, .cr-landing .slideshow-list {
		height: 169px; 
	}
	#slideshow .slide-item img {
		width: 280px;
	}
	.quote-gallery ul.gallery {
		width: 280px;
	}
	.quote-gallery li img {
		margin-left: -260px;
	}
	.entry-content .s_tbl_navigator, .entry-content #mxdlResults {
		width: 280px;
	}
	.entry-content img {
		max-width: 280px;
	}
	
	#htrForm select {
		width: 120px;
	}

	/*Homepage*/
	.slideshow-list {
		height: 164px;
	}
	#slideshow, .slideshow-list {
		width: 280px;
	}
	#slideshow {
		height: 410px;
	}
	#slideshow .slide-nav {
		width: 320px;
	}
	#slideshow .slide-nav {
		top: 70px;
	}
	.menu-homepage-feature-menu-container a {
		width: 268px;
	}
	.menu-homepage-feature-menu-container a span {
		width: 80%;
		display: block;
	}
}


/* =Print
----------------------------------------------- */

@media print {
	body {
		background: none !important;
		font-size: 10pt;
	}
	footer.entry-meta a[rel=bookmark]:link:after,
	footer.entry-meta a[rel=bookmark]:visited:after {
		content: " [" attr(href) "] "; /* Show URLs */
	}
	#page {
		clear: both !important;
		display: block !important;
		float: none !important;
		width: auto;
		position: relative !important;
		margin: 0;
	}
	#branding {
		border-top: none !important;
		padding: 0;
	}
	#branding hgroup {
		margin: 0;
	}
	#site-title a {
		font-size: 21pt;
	}
	#site-description {
		font-size: 10pt;
	}
	#branding #searchform {
		display: none;
	}
	#branding img {
		display: none;
	}
	#access {
		display: none;
	}
	#main {
		border-top: none;
		box-shadow: none;
	}
	#primary {
		margin: 0;
		width: 90%;
	}
	#content, .center-col.full-width {
		margin: 0;
		width: 100%;
		float: none;
	}
	.singular #content {
		margin: 0;
		width: 100%;
	}
	.singular .entry-header .entry-meta {
		position: static;
	}
	.entry-meta .edit-link a {
		display: none;
	}
	#content nav {
		display: none;
	}
	.singular .entry-header,
	.singular .entry-content,
	.singular footer.entry-meta, 
	.entry-header, .entry-title {
		margin: 0;
		width: 100%;
	}
	.singular .hentry {
		padding: 0;
	}
	.entry-title,
	.singular .entry-title,
	.singular .entry-title.lang-select-title,
	.entry-content h1 {
		font-size: 21px;
		padding: 0;
		margin: 0;
		width: 100%;
	}
	.singular .entry-title, .singular .entry-title.lang-select-title {
		white-space: nowrap;
	}
	.entry-header {
		width: 100%;
	}
	.entry-meta {
		font-size: 10pt;
	}
	.page-link {
		display: none;
	}
	.widget-area {
		display: none;
	}
	#colophon {
		display: none;
	}
	#search-bar, .left-col, .lang-box, #branding {
		display: none;
	}
}

/* =IE7 & 8
----------------------------------------------- */

#ie7 #access {
	width: 786px;
}
#ie7.home #content {min-height: 1px;}
#ie7 .quote-gallery .gallery-caption .top-caption, 
#ie7 .quote-gallery .gallery-caption p, #ie7 .quote-gallery .gallery-caption blockquote,
#ie8 .quote-gallery .gallery-caption .top-caption, 
#ie8 .quote-gallery .gallery-caption p, #ie8 .quote-gallery .gallery-caption blockquote {
	display: none;
}

#ie7 .quote-gallery .gallery-caption hr {
	margin-bottom: 6px;
}
#ie7 .right-col, #ie8 .right-col {
	background: url(images/ie-right-bg.gif)/*tpa=http://www.itw.com/wp-content/themes/itw/images/ie-right-bg.gif*/ repeat-x #fff;
}
#ie7 .careers .right-col, #ie8 .careers .right-col {
	background: none;
}

#ie7 #searchform {
	width: 181px;
}

#ie7 .vjs-default-skin.vjs-paused .vjs-play-control div {
	width:15px;
	height:17px;
	background:url('../../../../vjs.zencdn.net/c/video-js.png')/*tpa=http://vjs.zencdn.net/c/video-js.png*/;
	margin:.5em auto 0
}
#ie7 .vjs-default-skin.vjs-playing .vjs-play-control div {
	width:15px;
	height:17px;
	background:url('../../../../vjs.zencdn.net/c/video-js.png')/*tpa=http://vjs.zencdn.net/c/video-js.png*/ -25px 0;
	margin:.5em auto 0
}
#ie7 .vjs-default-skin .vjs-rewind-control div {
	width:19px;
	height:16px;
	background:url('../../../../vjs.zencdn.net/c/video-js.png')/*tpa=http://vjs.zencdn.net/c/video-js.png*/;
	margin:.5em auto 0
}
#ie7 .vjs-default-skin .vjs-mute-control div {
	width:22px;
	height:16px;
	background:url('../../../../vjs.zencdn.net/c/video-js.png')/*tpa=http://vjs.zencdn.net/c/video-js.png*/ -75px -25px;
	margin:.5em auto 0
}
#ie7 .vjs-default-skin .vjs-mute-control.vjs-vol-0 div {
	background:url('../../../../vjs.zencdn.net/c/video-js.png')/*tpa=http://vjs.zencdn.net/c/video-js.png*/ 0 -25px
}
#ie7 .vjs-default-skin .vjs-mute-control.vjs-vol-1 div {
	background:url('../../../../vjs.zencdn.net/c/video-js.png')/*tpa=http://vjs.zencdn.net/c/video-js.png*/ -25px -25px
}
#ie7 .vjs-default-skin .vjs-mute-control.vjs-vol-2 div {
	background:url('../../../../vjs.zencdn.net/c/video-js.png')/*tpa=http://vjs.zencdn.net/c/video-js.png*/ -50px -25px
}
#ie7 .vjs-default-skin div.vjs-seek-handle {
	position:absolute;
	width:16px;
	height:16px;
	margin-top:-0.3em;
	left:0;
	top:0;
	background:url('../../../../vjs.zencdn.net/c/video-js.png')/*tpa=http://vjs.zencdn.net/c/video-js.png*/ 0 -50px;
}
#ie7 .vjs-default-skin .vjs-fullscreen-control div {
	width:16px;
	height:16px;
	background:url('../../../../vjs.zencdn.net/c/video-js.png')/*tpa=http://vjs.zencdn.net/c/video-js.png*/ -50px 0;
	margin:.5em auto 0
}
#ie7 .vjs-default-skin.vjs-fullscreen .vjs-fullscreen-control div {
	background:url('../../../../vjs.zencdn.net/c/video-js.png')/*tpa=http://vjs.zencdn.net/c/video-js.png*/ -75px 0
}
#ie7 .vjs-default-skin .vjs-big-play-button {
	display:block;
	z-index:2;
	position:absolute;
	top:50%;
	left:50%;
	width:8.0em;
	height:8.0em;
	margin:-42px 0 0 -42px;
	text-align:center;
	vertical-align:center;
	cursor:pointer!important;
	border:.2em solid #fff;
	background:#454545;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#454545', endColorstr='#3f3f3f', GradientType=0);
}
#ie7 .vjs-default-skin div.vjs-big-play-button span {
	position:absolute;
	top:50%;
	left:50%;
	display:block;
	width:35px;
	height:42px;
	margin:-20px 0 0 -15px;
	background:url('../../../../vjs.zencdn.net/c/video-js.png')/*tpa=http://vjs.zencdn.net/c/video-js.png*/ -100px 0
}
#ie7 .vjs-default-skin .vjs-menu-button div {
	background:url('../../../../vjs.zencdn.net/c/video-js.png')/*tpa=http://vjs.zencdn.net/c/video-js.png*/ 0 -75px no-repeat;
	width:16px;
	height:16px;
	margin:.2em auto 0;
	padding:0
}
#ie7 .vjs-default-skin .vjs-menu-button ul li.vjs-selected {
	text-decoration:underline;
	background:url('../../../../vjs.zencdn.net/c/video-js.png')/*tpa=http://vjs.zencdn.net/c/video-js.png*/ -125px -50px no-repeat
}

.ie .unit-search .index_col {
	position: relative;
}
.ie .unit-search select {
display: none;
}
.ie .business-units-ie {
	width: 121px;
	display: block;
	margin: 0px;
	border: 1px solid #ccc;
	padding: 2px;
	color: #484848;
	font-family: Georgia, "Times New Roman", Times, serif;
	background: url(images/ie-select.png)/*tpa=http://www.itw.com/wp-content/themes/itw/images/ie-select.png*/ no-repeat 113px 9px;
}
.ie .business-units-ie:hover {
	border: 1px solid #5794bf;
}
.ie .business-units-ie li {
	list-style: none;
	padding-top: 3px;
}
.ie .business-units-ie li:first-child {
	padding-top: 0px;
}
.ie .business-units-ie ul {
	margin: 0px -2px;
	display: none;
	height: 200px;
	overflow-y: scroll;
	overflow-x: hidden;
}
.ie .unitFocus ul {
	display: block;
}
.ie .business-units-ie ul a{
	display: block;
	color: #484848;
	padding: 1px 2px;
	line-height: 1.25em;
}
.ie #primary .business-units-ie ul a:hover {
	background: #3399ff;
	color: #fff;
	text-decoration: none;
}
#ie7 .expand-content {
	padding-right: 15px;
}
#ie7 .expand-all {
	width: 753px;
}
#ie7 .expand-them-all {
	width: 525px;
}
#ie7 .expand-content span {
	position: absolute;
	top: 17px;
	right: 0px;
}
#ie7 .accordion-content .show-hide, #ie7 #segment-list .segment-item{
	height: 100%;
}
#ie7 .bio-list li.bio {
	padding: 0px 12px 24px 0px;
	margin: 0px;
}
#ie7 .bio-list li.last-bio {
	padding-right: 0px;
}
#ie7 .bio-content {
	padding-top: 0px;
}

#ie7 #segment-list h3 {
	padding-bottom: 3px;
	margin-bottom: 0px;
	zoom: 1;
}
#ie7 #content.career-opps{
	min-height: 1px;
}
#ie7 hr {
	margin-top: 0px;
}
#ie7 .right-col hr {
	margin-bottom: 8px;
}
#ie7 .right-col p {
	margin-bottom: 8px;
}
#ie7 .entry-content input[type="submit"] {
	padding: 0px 18px 0px 0px;
}
#ie7 .itw-enivronmental {
	border-collapse: collapse;
}
#ie7 .clearfix {
	zoom: 1;
}

/* =IE8 
----------------------------------------------- */ 
 
#ie8 section.feature-image.large img { 
	width: 100%; 
} 

/*Modernizr*/