
/* ================================================================ 
This copyright notice must be untouched at all times.

The original version of this stylesheet and the associated (x)html
is available at http://www.cssplay.co.uk/menus/drop_lists.html
Copyright (c) 2005-2007 Stu Nicholls. All rights reserved.
This stylesheet and the associated (x)html may be modified in any 
way to fit your requirements.
=================================================================== */

#nav_outer{
	width:850px; height:46px; background-image: url(../images/nav/nav_red_repeater.png)/*tpa=http://www.darden.com/images/nav/nav_red_repeater.png*/; background-repeat:repeat-x; z-index:500;
}

#lists {padding:0px 0px 0px 65px; margin:8px 0px 0px 0px; list-style:none; position:relative; float:left; width:700px; z-index:500; line-height:31px; font-family: Arial, Helvetica, sans-serif; outline:none;} /* margins for this demonstration only */
#lists li {display:inline; float:left; font-size:11px;}
#lists li a.tl_one { width:85px; display:block; text-decoration:none; font-size:11px; font-weight:normal; color:#fff; padding-left:20px; padding-right:20px;outline:none;}
#lists li a.tl_two { width:80px; display:block; text-decoration:none; font-size:11px; font-weight:normal; color:#fff; padding-left:20px; padding-right:20px;outline:none;}
#lists li a.tl_three { width:113px; display:block; text-decoration:none; font-size:11px; font-weight:normal; color:#fff; padding-left:20px; padding-right:20px;}
#lists li a.tl_four { width:70px; display:block; text-decoration:none; font-size:11px; font-weight:normal; color:#fff; padding-left:20px; padding-right:20px;outline:none;}
#lists li a.tl_five { width:40px; display:block; text-decoration:none; font-size:11px; font-weight:normal; color:#fff; padding-left:20px; padding-right:20px;outline:none;}
#lists li a.tl_six { width:55px; display:block; text-decoration:none; font-size:11px; font-weight:normal; color:#fff; padding-left:20px; padding-right:20px;outline:none;}

#lists div {display:none;}
.nav_nolink {text-decoration:none; white-space:normal; color: #666; padding-left:10px; font-size:12px; }
#lists li a:hover {text-decoration:none; white-space:normal; color:#000; background-image:url(../images/nav/nav_back_transparent.png)/*tpa=http://www.darden.com/images/nav/nav_back_transparent.png*/;}
#lists li:hover > a {text-decoration:none; white-space:normal;  color:#000; background-image:url(../images/nav/nav_back_transparent.png)/*tpa=http://www.darden.com/images/nav/nav_back_transparent.png*/;}

#lists :hover div
{display:block; background-image:url(../images/nav/nav_back_transparent.png)/*tpa=http://www.darden.com/images/nav/nav_back_transparent.png*/ ;position:absolute; left:0; top:31px; border-left:1px solid #888; border-right:1px solid #888; border-bottom:1px solid #888; padding-bottom:15px; padding-top:15px; z-index:500;}
#lists :hover div.pos1 {background-image:url(../images/nav/nav_back_transparent.png)/*tpa=http://www.darden.com/images/nav/nav_back_transparent.png*/ transparent; width:225px; left:64px; z-index:500;}
#lists :hover div.pos2 {background-image:url(../images/nav/nav_back_transparent.png)/*tpa=http://www.darden.com/images/nav/nav_back_transparent.png*/ transparent; width:200px; left: 189px; z-index:500;}
#lists :hover div.pos3 {background-image:url(../images/nav/nav_back_transparent.png)/*tpa=http://www.darden.com/images/nav/nav_back_transparent.png*/ transparent; width:250px; left: 309px; z-index:500;}
#lists :hover div.pos4 {background-image:url(../images/nav/nav_back_transparent.png)/*tpa=http://www.darden.com/images/nav/nav_back_transparent.png*/ transparent; width:210px; left: 462px; z-index:500;}
#lists :hover div.pos5 {background-image:url(../images/nav/nav_back_transparent.png)/*tpa=http://www.darden.com/images/nav/nav_back_transparent.png*/ transparent; width:410px; left: 420px; z-index:500;}
#lists :hover div.pos6 {background-image:url(../images/nav/nav_back_transparent.png)/*tpa=http://www.darden.com/images/nav/nav_back_transparent.png*/ transparent; width:270px; left: 580px; z-index:500;}

#lists .two:hover {position:relative;}
#lists .single:hover {position:relative;}

#lists .two:hover div.pos1 {width:300px; padding-top:10px;}
#lists .single:hover div.pos2 {width:200px;}

#lists :hover div dl {display:inline; padding:0; margin:0 10px 10px 10px; float:left; width:180px;}
#lists :hover div dl dt {width:180px; text-decoration:none; height:20px; line-height:20px;}

#lists .two:hover div {left:0px;}
#lists .two:hover div dl {width:129px;}
#lists .two:hover div dl dt {width:100px;}

#lists .single:hover div dl {width:129px;}
#lists .single:hover div dl dt {width:100px;}

#lists :hover div dl dd {padding:2px; margin:0;}
#lists :hover div dl dt {background:none}

#lists :hover div dt a {display:block; text-decoration:none; color: #666; font-size:11px; text-indent:10px; font-weight:bold; outline:none;}
#lists :hover div dd a {display:block; text-decoration:none; font-size:11px; color: #666; line-height:18px; text-indent:18px; font-weight:bold; outline:none;}
#lists :hover div dt a:hover {text-decoration: none; color:#660000; background:none;}
#lists :hover div dd a:hover {text-decoration: none; color:#660000; background:none;}

#lists .clear {clear:both;}


