
.rssFeed
{
	padding:0;
	margin:0;
}

.rssFeed .feedItem
{
	padding: 8px 0;
}

.rssFeed .title
{
	color: #666;
	font-size:11px;
	font-weight: 600;
}

.rssFeed .title a
{
	color:#333;
}

.rssFeed .date
{
	font-size: 9px;
	color: #999;
	font-style:italic;
	width: 100px;
	overflow:hidden;
	height: 16px;
}

.rssFeed .description
{
	display:none;
}


/********* Home Page News Feed Styles ***********/

.scroll-pane .rssFeed
{
	padding:0;
	margin:0;
}

.scroll-pane .rssFeed .feedItem
{
	font-size: 11px;
	color: #333;
	border-bottom: #999 dashed 1px;
	padding-bottom: 7px;
	margin-bottom: 7px;
}

.scroll-pane .rssFeed .title
{
	color: #666;
	font-size:11px;
	font-weight: 600;
}

.scroll-pane .rssFeed .title a
{
	color:#333;
	line-height:15px;
	text-decoration:none;
	font-weight:500;
}

.scroll-pane .rssFeed .date
{
	width: 115px;
	overflow:hidden;
	height: 19px;
	color: #333;
	font-size: 11px;
	font-style:normal;
}

.scroll-pane .rssFeed .description
{
	display:none;
}












/*** Old Style
#rssFeed
{
	font-size:11px;
	margin:-15px 0 0 0;
	padding:0;
}

#rssFeed a
{
	font-weight: 600;
	display:inline-block;
	margin:0;
	padding:10px 0 0 0;	
	color: #333;
}

******/