@charset "utf-8";
/* CSS Document */

/* Global */
td.bodyCopy {
	background-color: #FFF;
}

body {
	font-family: Verdana, Verdana, Geneva, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: 17px;
	font-weight: normal;
	font-variant: normal;
	color: #333333;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(../images/core/background.jpg)/*tpa=http://www.darden.com/images/core/background.jpg*/;
	background-repeat: no-repeat;
	background-color: #d6c9a2;
	background-position: top center;
	height:100%;
}

#caps,#caps a,#caps a:link,#caps a:visited,#caps a:hover {
	text-transform: uppercase;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 10px;
	color:#660000;
	background-color:#FFFFFF;
}
.copyright {
	color: #666;
	font-size: 9px;
	font-weight: bold;
}
A {
	/*font-size:11px;*/
	
	}
A:link {
	/*font-size:11px;*/
	text-decoration: none;
	outline:none;
	/*color: #660000;*/
}
A:visited {
	/*font-size:11px;*/
	text-decoration: none;
	outline:none;
	/*color: #660000;*/
}
A:hover {
	/*font-size:11px;*/
	text-decoration: none; 
	/*color:#660000;*/
	outline:none;
}

img.bod{
	float:left;
	padding-right: 7px;
}

img.eot{
	float:left;
	margin:0 10px 30px 0;
	padding:3px;
}
img.partners {
	margin-bottom: 7px;
}
h1{
	font-size:22px;
	color:#8b1004;
	padding:0px;
	margin:0px;
}

.txt_red_16{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:16px;
	color:#660000;
	font-weight:bold;
}

.txt_red_18{
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	line-height:16px;
	color:#660000;
}

/*Custom Links */
#page_top_holder{
	background-image:url(../images/core/bkgrnd_header.gif)/*tpa=http://www.darden.com/images/core/bkgrnd_header.gif*/;
	background-repeat:no-repeat;
	width:850px;
	height:85px;
}
#page_top_simplenav{
	padding-left:15px;
	padding-top:10px;
	float:left;
	width:250px;
}
#logo{
	float:left;
	margin-left:40px;
	padding-top:10px;
}
.headerlink:link {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #575757;
	text-decoration: none;
	margin-right:10px;
	font-weight:bold;
	outline:none;
}
.headerlink:visited {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #575757;
	text-decoration: none;
	margin-right:10px;
	font-weight:bold;
	outline:none;
}
.headerlink:hover {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #900;
	text-decoration: none;
	margin-right:10px;
	font-weight:bold;
	outline:none;
}
.footer{
	margin:0 auto;
	width:870px;
}
.footerlink:link {
	font-size:10px;
	color: #666;
	text-decoration: none
}
.footerlink:visited {
	font-size:10px;
	color:#666;
	text-decoration: none;
}
.footerlink:hover {
	font-size:10px;
	color:#660000;
	text-decoration: underline; 
}

.feedslink {
	font-size:12px;
	color:#999999;
	text-decoration: none;
}
.feedslink:visited {
	font-size:12px;
	color:#666666;
	text-decoration: none;
}
.feedslink:hover {
	font-size:12px;
	color:#666666;
	text-decoration: none;
}
.Graylink:link {
	color:#666;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
}
.Graylink:hover {
	color:#660000;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
}
.Graylink:visited {
	color: #666;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
}
.selected{
	color:#660000;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
}
/* Home page - News section */
.header_news {
	color: #660000;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 20px;
	letter-spacing: 4px;
}
.news_item {
	font-size: 11px;
	color: #333;
	border-bottom: #333 dashed 1px;
	padding-bottom: 7px;
	margin-bottom: 7px;
}
.news_item a {
	color:#333;
	line-height:15px;
	text-decoration:none;
}
.jScrollPaneContainer {
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.jScrollPaneTrack {
	position: absolute;
	cursor: pointer;
	right: 0;
	top: 0;
	height: 100%;
	background: #c4bfae;
}
.jScrollPaneDrag {
	position: absolute;
	background: #9a937c;
	cursor: pointer;
	overflow: hidden;
}
.jScrollPaneDragTop {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.jScrollPaneDragBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
}

/* Top Search Box */
.search {
	height:25px;
	width:230px;
	margin-right:0px;
	padding-top:10px;
	float:right;
}
.search_button{
	position:absolute;
	margin-left:190px;
	margin-top:5px;
	
}
.search_field{
	padding:3px 1px 3px 20px;
	width: 190px;
	height: 17px;
	border:1px solid #CCC;
	color: #616161;
	font: 11px Arial;
}
.search_icon{
	position:absolute;
	margin-top:5px;
	margin-left:2px;
}

.news_date {
	color: #990000;
	font-size: 10px;
}

/* Home page - Intro headline */
.home_headline {
	color: #660000;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 24px;
}
#home_bottom_pods{
	width:870px;
	overflow:hidden;
	clear:both;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
#home_pod_left{
	width:515px;
	height:310px;
	float:left;
	background-repeat: no-repeat;
}
#home_pod_right{
	width: 285px;
	padding: 0px 0px 0px 0px;
	float:right;
}
.home_bottom_content{
	overflow: hidden;
	width: 820px;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	background-color: #fcf5e6;
}
.home_pod_content{
	width:285px;
	overflow: hidden;
}
.divider_horizontal{
	width:100%;
	height:2px;
	margin:7px 0px 7px 0px;
 	background-image:url("../images/misc/divider_horizontal.jpg")/*tpa=http://www.darden.com/images/misc/divider_horizontal.jpg*/;
	clear: both;
	padding: 0px;
	overflow:hidden;
}
.divider_vertical{
	width:2px;
	height:310px;
	background-image:url("../images/misc/divider_vertical.jpg")/*tpa=http://www.darden.com/images/misc/divider_vertical.jpg*/;
	float: left;
	margin-right: 5px;
	margin-left: 5px;
}
.scroll-pane{
	height:140px;
	overflow:auto;	
}

/* text */


.header{
	font-size:18px;
	color:#660000;
	margin-bottom:5px;
	font-family: Arial, Helvetica, sans-serif;
	width:470px;
	float:left;
}

.subheader {
	color:#660000;
	font-size:14px;
	margin-bottom:5px;
	font-family:Arial, Helvetica, sans-serif;
	}
	
#breadcrumb{
	clear:both;
	margin:5px 0px 5px 0px;
}

.txt_8px{font-size:8px;}
.txt_10px{font-size:10px;} 
.txt_10px_gray{font-size:10px; color: #999; line-height:14px; }

/* About Darden */
/* Investor Relations */
.cellGrayLight {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 11px;
	background-color: #F8F8F8;

}
.cellGrayDark {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 11px;
	background-color: #E0E0E0;

}
.cellHeaderLight {
	color: #B80000;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	background-color: #E6E6E6;

}
.cellHeaderDark {
	color: #B80000;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	background-color: #CFCFCF;
}
span.name{
	clear: right;
	color: #a01117;
	display: block;
}

/* Corporate Governance */
/* Community */
/* Diversity */
/* Our Restaurants */
/* Careers */
.newsbox {
	background: #F7EBD6;
	border: 1px solid #ccc;
	padding: 16px;
}
.boldlink {
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #C00;
}
.main_table {
	background-image: url(../images/core/side_shadows_repeater.png)/*tpa=http://www.darden.com/images/core/side_shadows_repeater.png*/;
	background-repeat: repeat-y;
	margin: 0 auto;
}
.single_column{
	width:790px;
	margin-left:20px;
	margin-right:20px;
	margin-top:15px;
}
.main_content {
	width: 820px;
	margin-top: 0px;
	padding:15px;
	line-height: 18px;
	background-color: #ffffff;
	overflow:hidden;
	height:100%;
	float: left;
}

.main_content_gc {
	width: 820px;
	background-image: url(../images/giftcards/gc_pg_bg.jpg)/*tpa=http://www.darden.com/images/giftcards/gc_pg_bg.jpg*/;
	background-repeat:repeat-x;
	margin-top: 0px;
	padding:15px;
	line-height: 18px;
	background-color: #ffffff;
	overflow:hidden;
	height:100%;
	float: left;
	font-size:12px;
	}

.main_content_gc h1 {
	font-weight:100;
	font-size:20px;
	font-family:Arial, Helvetica, sans-serif;
	color:#660000;
	margin-top:10px;
	}

.main_content_textonly {
	margin-top: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
	margin-left: 15px;
}
.header_shadow_sm {
	/*background-image: url("/images/core/header_shadow_sm.jpg");
	background-repeat: no-repeat;*/
	height: 140px;
	padding-bottom:7px;
	background-image:url('../images/core/header-shadow.gif')/*tpa=http://www.darden.com/images/core/header-shadow.gif*/;
	background-repeat:repeat-x;
	background-position:bottom; 
	width: 850px;
}
.header_shadow_med {
	/*background-image: url(/images/core/header_shadow_med.jpg);
	background-repeat: no-repeat;*/
	height: 200px;
	width: 850px;
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom:7px;
	background-image:url('../images/core/header-shadow.gif')/*tpa=http://www.darden.com/images/core/header-shadow.gif*/;
	background-repeat:repeat-x;
	background-position:bottom; 
}
.header_shadow_lg {
	height: 230px;
	width: 850px;
	padding-bottom:7px;
	background-image:url('../images/core/header-shadow.gif')/*tpa=http://www.darden.com/images/core/header-shadow.gif*/;
	background-repeat:repeat-x;
	background-position:bottom; 
}
.side_bar_list {
	list-style-position: outside;
	list-style-type: none;
	margin-left: 20px;
	line-height: 22px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.side_bar_list_sec{
	list-style-position: outside;
	list-style-type: none;
	margin-left: 15px;
	line-height: 18px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.side_bar {
	background-image: url(../images/core/side_nav_top.jpg)/*tpa=http://www.darden.com/images/core/side_nav_top.jpg*/;
	background-position:top left;
	background-repeat: no-repeat;
	float:left;
	height:100%;
	width: 235px;
	padding: 0px;
}
.right_side_content {
	width: 565px;
	margin-left: 20px;
	float:left;
}
.full_width{
	width: 800px;
	margin: 0px 15px;
	float:left;
}
.media_contact{
	margin-bottom:10px;
	padding-bottom:10px;
	border-bottom: solid 1px #999;
}
.mediaLogo{
	border-right: 1px dashed #CCC;
	margin-right:20px;
	width:170px;
	padding-top:10px;
	padding-bottom:10px;
}
.mediaInfo{
	padding-left:20px;
	padding-top:10px;
	padding-bottom:10px;
}
.side_box_img{
	float:right;
	border:#666 solid 1px;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:5px;
}
.story{
	display:block;
}

 /*User List Board Members*/
ul.left{
	float:left;
	list-style-type:none;
	margin: 0px;
	padding: 0px;
	color: #555555;
}
ul.center{
	list-style-type:none;
	color: #555555;
	margin: 0px;
	padding: 0px;
}
ul.left li, ul.center li, ul.right li{
	clear: both;
	line-height: 1.2em;
	}
li.bio {
	background-image:url(../images/board/bio_back2.jpg)/*tpa=http://www.darden.com/images/board/bio_back2.jpg*/;
	background-repeat:no-repeat;
	height:175px;
	width:397px;
	padding-left:7px;
	padding-right:10px;
	padding-top:7px;
}
.caption{
	width:400px;	
}
.pdf_button {
	margin-top: 120px;
	margin-left: 160px;
	position: absolute;
}
li.bioblank {
	background-repeat:no-repeat;
	height:165px;
	width:397px;
	padding-left:7px;
	padding-right:10px;
	padding-top:7px;
}
li.bio .bioDownload
{
	padding: 5px 0;
	margin: 25px 0 0 0;
}

/**** Community Programs List ****/
ul.communityProgramsList
{
}

ul.communityProgramsList li
{
	padding: 5px 0 10px 0;
	margin:0;
}

ul.communityProgramsList li ul li
{
	padding: 0 0;
	margin:0;
}
.funding_ul{
	padding:0px 0px 0px 10px;
	margin:0px 0px 0px 0px;
}
.funding_ul li{
	padding:0px 0px 5px 0px;
	}


/**** Quote Box: This is used to bring attention to an area on some pages ****/
.quoteBox
{
	background-color: #f2efe4;
	padding: 10px;
	border: solid 2px #c9ba8f;
	color:#333;
	text-align:left;
	line-height:15px;
	width: 210px;
	float:right;
	clear: both;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 15px;
	margin-left: 15px;
}
.quoteBox_title{
	font-size:11px;
	font-weight:bold;
	color: #660000;
	text-align:center;
	margin-bottom:5px;
}

.quoteBox ul
{
	padding: 0px;
	margin: 0px;
}

.quoteBox ul li {
	margin-bottom: 10px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 10px;
	list-style-image: url(../images/misc/list_arrow.gif)/*tpa=http://www.darden.com/images/misc/list_arrow.gif*/;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-left:14px;
}


/******** List used for the corporate governance items *********/
.lstCorpgov
{
	list-style:none;
	margin: 10x 0 10px 20px;
	padding:0;
}
.lstCorpgov li
{
	padding:8px 0;
	margin:0;
}

/******** Styles used for the image gallery ************/
.imgGalleryThumbnailRow
{
	/*padding: 5px 5px 5px 25px;*/
	margin:0px;
	width: 565px;
	overflow: hidden;
	background-color: #f2efe4;
	border: solid 1px #c9ba8f;
}

/*.imgGalleryThumbnailRow div ul
{
	
}
.imgGalleryThumbnailRow div ul li
{
	padding-bottom:3px;
}*/

.imgThHorz
{
	background-color: #666;
	/*border: solid 1px #c9ba8f;*/
	width: 290px;
	float:left;
	height: 200px;
}
.imgGalleryThumbnailRow img
{
	border:none;
}

/********** Table used for contact us **************/
.tblContact
{
	
}

.tblContact td
{
	padding: 10px 5px;
}

/********* Speeches **********/
.speech
{
	padding:5px 0 5px 0;
	margin:0 0 10px 0;
}
.speech .date
{
	font-weight:600;
	padding: 0;
	margin:0;
}
.speech p
{
	padding:0;
	margin:0;
}


/********* Contact Us Page ***************/
.contactListing
{
	display:block;
	clear:both;
	margin: 0 0 3px 0;
	padding:0;
	width: 100%;
	background-color: #EBEBEB;
	background-image: url(../images/core/contact_us_bg.jpg)/*tpa=http://www.darden.com/images/core/contact_us_bg.jpg*/; /* BG image is white square. To Adjust where line is change background-position property below */
	background-position: 187px top;
	background-repeat: repeat-y;
}

.contactListing .title
{
	width: 190px;
	display:inline-block;
	border:none;
	float:left;
	font-weight:600;
}

.contactListing .details
{
	display:inline-block;
	width: 371px;
	float:left;
}

.contactListing .titleInner, .contactListing .detailsInner
{
	padding: 8px;
}

.contactListing .clear
{
	clear:both;
}


/******** Resizer Buttons *********/
.resizerBtns
{
	float:right;
	width: 90px;
	text-align:right;
	font-size:11px;
	margin-bottom:5px;
	height:15px;
}
.resizerBtns .resizerBtnsTxt
{
	font-size:10px;
	color:#666;
}

.resizerBtns .decrease
{
	width:13px;
	height:13px;
}

.resizerBtns .increase, .resizerBtns .increase a, .resizerBtns .increase a:link, .resizerBtns .increase a:visited, .resizerBtns .increase a:hover
{
}

.resizerBtns a
{
	text-decoration:none;
	color: #666;
}
.resizerBtns a:link, .resizerBtns a:visited
{
	text-decoration:none;
}

.resizerBtns a:hover
{
	text-decoration:underline; 
}

.resizerBtns .spacer
{
	font-size: 13px;
	color: #666;
}
.titleHeaderWrapper
{
	/*width:100%;*/
	display:block;
	height: 25px;
}

/*OUR COMMITMENT */
.red_arrow{
	border:0px;
	margin-bottom:-4px;
}

.dri_commit_funds{
	clear:both;	
	padding:0px;
	overflow:hidden;
}

#dri_commit_sec1{
	/*clear:both;*/
	margin:0px;
	overflow:hidden;
	display: block;
}
#dri_commit_sec2{
	clear:both;
	margin:0px;
	overflow:hidden;
}
.sec1_left{
	float:left;
	margin:0px 10px 10px 0px;
	/*width:540px;*/
}
.sec1_right{
	float:left;
	margin:0px 0px 10px 10px;
	/*width: 255px;*/
}
.dri_commit_landing{
	list-style:none;
	padding:0px;
	margin:0px;
	border-top:1px solid #d7c9a2;
}
.dri_commit_landing li{
	padding:8px 0px 8px 10px;
	border-bottom: 1px solid #d7c9a2;
}
.dri_commit_landing li a{
	color:#333;
	font-size: 12px;
}

#dri_commitment_nav{
	padding:20px 0px 0px 15px;
}
.dri_commitment_nav_header{
	font-size:24px;
	margin:0px 0px 10px 0px;
}
.dri_commitment_nav_header a{
	font-size:24px;
	color:#FFF;
	margin:0px 0px 10px 0px;
	text-shadow: black 0.1em 0.1em 0.2em;
	text-decoration:none;
}

.button_grad {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color:#333;
	font: 13px/100% Arial, Helvetica, sans-serif; 
	font-weight:bold;
	padding: .5em 1em .55em;
	-webkit-border-radius: .3em; 
	-moz-border-radius: .3em;
	border-radius: .3em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	font-weight:bold;
}
.button_grad:hover {
	text-decoration: none;
	color:#FFF;
}
.button_grad:active {
	position: relative;
}

.gray {
	background: #6e6e6e;
	background: -webkit-gradient(linear, left top, left bottom, from(#d4d2c2), to(#aeac9f));
	background: -moz-linear-gradient(top,  #d4d2c2,  #aeac9f);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4d2c2', endColorstr='#aeac9f');
}
.gray:hover {
	background: #616161;
	background: -webkit-gradient(linear, left top, left bottom, from(#8b1105), to(#720e04));
	background: -moz-linear-gradient(top,  #8b1105,  #720e04);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#8b1105', endColorstr='#720e04');
}
.gray:active {
	background: -webkit-gradient(linear, left top, left bottom, from(#8b1105), to(#720e04));
	background: -moz-linear-gradient(top,  #8b1105,  #720e04);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#8b1105', endColorstr='#720e04');
}

.commitmentNavSelect{
	display: inline-block;
	outline: none;
	color:#fff;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 13px/100% Arial, Helvetica, sans-serif;
	font-weight:bold;
	padding: .5em 1em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .3em; 
	-moz-border-radius: .3em;
	border-radius: .3em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	background: #616161;
	background: -webkit-gradient(linear, left top, left bottom, from(#8b1105), to(#720e04));
	background: -moz-linear-gradient(top,  #8b1105,  #720e04);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#8b1105', endColorstr='#720e04');
}

.accordionButton {
	width: 780px;
	float: left;
	_float: none;  /* Float works in all browsers but IE6 */
	border-bottom: 1px solid #d7c9a2;
	padding:10px;
	margin-bottom:10px;
	font-size:14px;
	cursor: pointer;
	}
	
.accordionContent {
	width: 770px;
	float: left;
	padding:0px 20px 15px 10px;
	_float: none; /* Float works in all browsers but IE6 */
	}
.accordionContent ul.networks li{
	margin-bottom:8px;
}
	
/***********************************************************************************************************************
 EXTRA STYLES ADDED FOR MOUSEOVER / ACTIVE EVENTS
************************************************************************************************************************/

.on {
	background: -webkit-gradient(linear, left top, left bottom, from(#f4f0e7), to(#ffffff));
	background: -moz-linear-gradient(top,  #f4f0e7,  #ffffff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f0e7', endColorstr='#ffffff');
	}
	
.over {
	background: -webkit-gradient(linear, left top, left bottom, from(#f4f0e7), to(#ffffff));
	background: -moz-linear-gradient(top,  #f4f0e7,  #ffffff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f0e7', endColorstr='#ffffff');
}

#giving_themes_box{
	width:255px;
	float:left;
}
.commit_img{
	padding:3px;
	border:solid 1px #9d9270;
}
.commit_img_title{
	/* [disabled]width: 245px; */
	font-size:11px;
	line-height:15px;
	/* [disabled]height:30px; */
	/* [disabled]margin:5px 0px 5px 0px; */
	font-weight:bold;
}

#newBizForm{
	background-color:#EBEBEB;
	padding:0px 15px 15px 15px;
	margin-top:15px;
	margin-bottom:15px;
}
.formText {
	padding:15px 0px 5px 0px;
	font-weight:bold;
}

.formField {


}

#newBizForm textarea{
	width:250px;
	height:75px;
}

.inputField {
	width:250px;
}
#dri_commit_partners {
	text-align: center;
	width: auto;
	margin:10px 20px 0px 0px;
	float: left;
}

.globalsignupForm {
		background-color:#f9f7ef;
		}
.globalsignupForm input {
		
		}
		
.globalsignupForm select {
		margin-top:5px;
	
		}
	
.globalsignupFormLabel{
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
			}
.globalsignupFormInputFull {
		width:350px;
		margin-top:5px;
		border: 2px solid;
		color:#a49c96;
		height:25px
		}
.globalsignupFormInputHalf {
	width:150px;
	margin-top:5px;
		border: 2px solid;
		color:#a49c96;
		height:25px

		}
.globalsignupFormInputThird {
	width:100px;
	margin-top:5px;
		border: 2px solid;
		color:#a49c96;
		height:25px
	}
		
.globalsignupFormDIV{
	padding: 10px 20px 10px 20px;
}



	
.globalsignupFormRightDIV {
	padding: 10px 20px;
	width:400px
	}
	
.globalsignupFormRightHeader {
	color:#600;
	font-weight:bold;
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
	line-height:24px;}
	
.globalsignupFormRightTable td {
	padding-top:25px;
	}
.globalsignupFormCell {
	padding-top:5px;
	}

.globalsignupFormRightDisclaimer {
	padding-left:10px;
	font-size:10px;
	}
.globalsignupFormDivider{
	background-color:#e0e0e0;
	width:2px;
	marging-top:20px;
	height:420px;
	}
	
.globalsignupFormBottomDisclaimer {
	text-align:center;
	margin-top:15px;}
	
.signUpheader{
	font-size:22px;
	color:#660000;
	margin-bottom:5px;
	font-family: Arial, Helvetica, sans-serif;
	width:470px;
	float:left;
	font-weight:bold;
}

.globalsignuptext {
	font-size:14px;}

.imgBox
{
	background-color: #f2efe4;
	padding: 5px;
	border: solid 2px #c9ba8f;
	color:#333;
	text-align:left;
	line-height:15px;
	width: 110px;
	float:right;
	clear: both;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 15px;
	margin-left: 15px;
}
