/* Global */
body {
margin: 10px;
padding: 0;
color: #000;
background: #fff;
font-family: Helvetica, Arial, sans-serif;
font-size: 100%;
width: 97%;
line-height: normal;
}

/* For site */

#wrapper {
width: 100%;
}

#uber_header {
text-align: center;
}

#uber_header #logo {
float: none;
}

#nav,#main_promo {
display: none;
}
.no_mobile {
display: none;
}
#breadcrumb {
display: none;
}
#breadcrumb_bottom {
display: none;
}

#main_nav {
position: relative;
padding-right: 10px;
}

#subnav {
}

#content_area {
position: relative
}

#content_area #left_col {
float: right;
}
#content_area #right_col {
float: left;
clear: left;
}

#text_main_w_widgets {
font-size: 100%;
}

#content_area #right_col {
margin: 0;
}


#right_widget_contain {
display: none;
}

div,#text_main_freight_features,.freight_less_truck_header,#content_main, #content_area #right_col, #content_area #left_col,#subnav ul li a,#subnav ul li a:hover,#text_main_w_widgets,#content_area .h1_widgets_present,#subnav ul ul li a,#subnav ul ul li a:hover,#subnav ul ul ul li a ,#subnav ul ul ul li a:hover,#subnav ul li .current_sub1,#subnav ul li li .current_sub2 ,#subnav ul li li li .current_sub3 {
width: 100%;
}


#subnav ul li {
background: none;
}

#subnav ul li a,#subnav ul li a:hover {
background: #CCC;
font-size: 100%;
color: #003388;
border: none;
}

#subnav ul li a.current_sub1:hover,#subnav ul li li a.current_sub2:hover ,#subnav ul li li li a.current_sub3:hover {
background: #bbb;
color: #003388;
border: none;
}

#subnav ul li li a.current_sub2 {
padding-right: 0px;
}

#subnav ul li li li a.current_sub3 {
padding-left: 0px;
}


#subnav ul li .current_sub1,#subnav ul li li .current_sub2 ,#subnav ul li li li .current_sub3 {
background: #bbb;
font-size: 100%;
color: #003388;
border: none;
}


#subnav ul li li a:hover,#subnav ul li li li a:hover,#subnav ul li li a,#subnav ul li li li a {
color: #003388;
background: #eee;
font-size: 100%;
}

#subnav ul li li a,#subnav ul li li a:hover {
padding: auto;
text-indent: 20px;
}
#subnav ul li li li a,#subnav ul li li li a:hover {
padding: auto;
text-indent: 40px;
}

#subnav ul ul li a,#subnav ul ul li a:hover {
padding-right: 0px;
}
	
#subnav ul ul ul li a {
padding: auto;
padding-left: 0px;
padding-right: 10px;
}

#subnav ul ul ul li a:hover {
padding-right: 10px;
padding-left: 0px;
}
	
#content_main h1 {
background: #0067B9 url('/images/mobile/header.png') repeat-x top left;
font-size: 100%;
}

#content_area .highlight_content {
width: 95%;
}
#content_area .highlight_content ul,#content_area .highlight_content h1 {
font-size: 100%;
}

#content_area h2 {
font-weight: bold;
font-size: 100%;
border-bottom: 1px solid #ccc;
}

#main_nav {
background: #0067B9;
}

#main_nav a:hover {
background: #0067B9;
}

.current_main {
background: #0067B9 url(header.png) repeat-x top left;
}

/* FREIGHT SPECIFIC */
.freight_home_expand,#features_content,#freight_features_header,.drop_shadow {
display: none;
}
#freight_home_bottom {
padding: 5px;
border: none;
}


/* For Applications */

table {
width: 100%;
float: left;
clear: both;
}

td {
text-align: left;
}

.column,.columnbg {
font-size: 20pt;
}

.stdLabelText,.stdDisplayText,td,td.step,th {
font-size: 45pt; 
}

input,select {
font-size: 30pt;
}

li {
font-size: 20pt;
}

td:after {
}

table table table tbody tr td:first-child {
/* display: none; */
}

table table table table tbody tr td:first-child {
display: block;
}

#masTplAppContainer,#masTplWrapper {
width: 100%;
}


#masTplBreadcrumbsBottom {
display: none;
}

.stdHighlightMarketingBriefText {
width: 200px;
}

.stdHighlightMarketingBriefText a img {
display: none;
}

.stdHighlightMarketingBriefText a {

display: block;
}

#postalCode1Lookup {
display: none;
}

#postalCode2Lookup {
display: none;
}

/*
#masTplTopNav {
display: none;
}
*/

#masTplTopNav_menu1,#masTplBreadcrumbsTop {
display: none;
}

#masTplTopNav #masTplTopNav_menu2 {
position: relative;
padding-right: 10px;
background: #0067B9;
}

#masTplTopNav #masTplTopNav_menu2 a:hover {
background: #0067B9;
}

.masTplTopNav_menu2_current {
background: #0067B9 url(header.png) repeat-x top left;
}

.highlight_table td {
width: auto;
}

/* CON-WAY HOME PAGE */

#home_mid_mods {
display: none;
}

#service_updates {
display: none;
}

#home_welcome_3 {
background: none;
border: none;
}

#home_bottom_area {
padding-top: 30px;
}

.mobile_only {
display: inline;
}
.no_mobile {
display: none;
}

