header, a.menuitem_drop { border-bottom:gray 1px solid; padding-bottom:11px !important; }
a.menuitem_drop:hover, a.menuitem_drop:hover > a { padding-bottom:12px !important; }

.cscSection{
  width: 100% !important;
  margin: 0 auto;
  
  }
.slides { 
    margin-bottom:20px; 
    width: 100%;
}
.cscVideoThumbnail, .cscVideoThumbnail a img{height:166px;width:220px !important}

.cscContainerleftFull {
  padding-right: 15px;
}
.cscSectionfourRightText h3 {
  font-size: 30px;
}
.cscSectionfourRightText h3 small {
  font-size: 29px;
}
.cscSectionfourRightText h4 {
  font-size: 22px;
}
.cscSection4 .cscSectionfourRightText {
  width: 100%;
  padding-left: 16.5%;
  padding-right: 10px;
}
.cscparagraph {
  width: 90%;
}
.cscSection4 .cscSectionfourRightText h4 {
  font-size: 22px;
}
.cscparallexContainer {
  width: 100%;
  margin: 0 auto;
}

#csc-contact {
  background-position: center center;
  background-repeat: repeat; 
}
.cscSection4 .cscSectionfourRight {
  background: #fff url(../../../assets1.csc.com/home/images/cscApplicationRightImage.jpg)/*tpa=http://assets1.csc.com/home/images/cscApplicationRightImage.jpg*/ top no-repeat;
}
.cscSectionfourRight {
  background: #fff url(../../../assets1.csc.com/home/images/cscBigDataRightImage.jpg)/*tpa=http://assets1.csc.com/home/images/cscBigDataRightImage.jpg*/ top no-repeat;
}
.scroll-button{ width:80px;}

#corpBucket {
    float: left;
    padding: 0 1.5%;   
    width: 30%;
}

#corpBucketSection {
   width: 30%;
}

#corpBucket {
    width: 100%;
}
   
.footer {
   width: 1000px;
   margin: 0 auto;
}
   
#socialStripSection, #corpBucketSection {
   padding-left: 2em;
}

.cscparallexContainer img, #csc-contact img{
width:100% !important;
}
.csc-wrapper {
width:100%
}
.cscContainerRightFull{
    width:43%;
    height:620px !important;
}
}
.cscContainerRightFull img{
    height:100% !important;
width:100% !important;
}