/*
Book	"franklin-gothic-urw"	400	normal	
Book Italic	"franklin-gothic-urw"	400	italic	
Demi	"franklin-gothic-urw"	700	normal	
Demi Italic	"franklin-gothic-urw"	700	italic	



Book	"franklin-gothic-urw-cond"	400	normal	
Book Italic	"franklin-gothic-urw-cond"	400	italic	
Medium	"franklin-gothic-urw-cond"	500	normal	
Medium Italic	"franklin-gothic-urw-cond"	500	italic	
Demi	"franklin-gothic-urw-cond"	700	normal	
Demi Italic	"franklin-gothic-urw-cond"	700	italic	
*/

.home div.content			{ width: 804px; }

.home section.banner		{ background: #222 url("../../img/loading.gif")/*tpa=http://www.nucor.com/img/loading.gif*/ no-repeat 50% 47%; height: 421px; overflow: hidden; position: relative; width: 804px; }
.banner nav					{ background: url("../../img/bg-slidenav.png")/*tpa=http://www.nucor.com/img/bg-slidenav.png*/; height: 23px; padding: 0 8px; position: absolute; right: 0; top: -23px; z-index: 9999; }
.banner nav li				{ float: left; padding: 4px 6px 5px; }
.banner nav li a			{ background: url("../../img/hexnut.png")/*tpa=http://www.nucor.com/img/hexnut.png*/ no-repeat; display: block; height: 14px; outline: none; position: relative; text-indent: -9999px; top: -23px; width: 14px; }
.banner nav li a:hover		{ background-position: 0 -14px; }
.banner nav li a.on			{ background-position: 0 -14px; cursor: default; }

.banner div.arrow			{ position: absolute; top: 0; width: 60px; height: 422px; z-index: 9000; cursor: pointer; }
.banner div.lt				{ left: 0; background: url("../../img/home-banner-arrows.png")/*tpa=http://www.nucor.com/img/home-banner-arrows.png*/ no-repeat 0 0; }
.banner div.rt				{ right: 0; background: url("../../img/home-banner-arrows.png")/*tpa=http://www.nucor.com/img/home-banner-arrows.png*/ no-repeat -180px 0; }
.banner div.lt:hover		{ background-position: -60px 0; }
.banner div.rt:hover		{ background-position: -120px 0; }

.banner div.bug				{ background: url("../../img/bg-bug.png")/*tpa=http://www.nucor.com/img/bg-bug.png*/ no-repeat; bottom: 0; height: 54px; left: 0; position: absolute; width: 363px; z-index: 9998; }
.banner div.bug-shadow		{ background: url("../../img/bug-shadow.png")/*tpa=http://www.nucor.com/img/bug-shadow.png*/ no-repeat; bottom: 0; height: 4px; left: 1px; position: absolute; width: 359px; z-index: 9999; }
.bug figure					{ height: 48px; left: 3px; position: absolute; top: 4px; width: 66px; }
.bug figure img				{ height: 47px; margin: 1px 1px 0 1px; width: 64px; }
.bug figure div				{ background: url("../../img/bug-image-overlay.png")/*tpa=http://www.nucor.com/img/bug-image-overlay.png*/ no-repeat; height: 48px; left: 0; position: absolute; top: 0; width: 66px; }
.bug h1						{ background: url("../../img/icon-up-bug.png")/*tpa=http://www.nucor.com/img/icon-up-bug.png*/ no-repeat 100% 0; color: #125d1d; /* filter: dropshadow(color=#fff, offx=0, offy=1); */ font-family: "franklin-gothic-urw"; font-size: 0.6875em; font-weight: 700; margin: 8px 6px 0 74px; padding-right: 16px; line-height: 1; /* text-shadow: 0px 1px 2px #fff; */ }
.bug h2						{ background: url("../../img/arrow-rt-blk.png")/*tpa=http://www.nucor.com/img/arrow-rt-blk.png*/ no-repeat 100% 0; *background-position: 100% 1px; color: #000; display: inline-block; *display: inline; font-family: "franklin-gothic-urw"; font-size: 0.6875em; font-weight: 700; margin: 0 5px 0 74px; padding-right: 16px;}
.bug h2 a					{ color: #000; font-weight: 700; text-decoration: none; }
.banner p.error				{ color: #eee; font-size: 0.625em; position: absolute; text-align: center; text-transform: uppercase; top: 100px; width: 804px; z-index: 9999; }

.banners li					{ background: #000; }

div.swipe					{ }

/*** all banners ***/
div.bg						{ height: 422px; left: 0; position: absolute; top: 0; width: 804px; }



/** Acuity Flagpole Overlay **/
.overlay-acuity *							{ margin: 0; padding: 0; }
.overlay-acuity *, .overlay-acuity *:before, .overlay-acuity *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

div.overlay-acuity *::-webkit-scrollbar		{ display: none; }

div.overlay-acuity							{ z-index: -1; opacity: 0; position: absolute; left: 50%; margin-left: -402px; top: 110px; width: 804px; height: 422px; background: rgba(0,0,0,.5); overflow: hidden; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; }
div.overlay-acuity.on						{ z-index: 999999; opacity: 1; left: 0; top: 0; right: 0; bottom: 0; margin-left: 0; min-width: 834px; width: 100%; height: 100%; }

.overlay-acuity header						{ width: 100%; height: 50px; background: #4f5256; background: rgba(70,70,70,.70); position: absolute; top: 0; left: 0; z-index: 99999; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, .25); -moz-box-shadow: 0px 3px 6px rgba(0, 0, 0, .25); box-shadow: 0px 3px 6px rgba(0, 0, 0, .25); }

.overlay-acuity header button				{ position: absolute; top: 13px; right: 1.5%; background: transparent; cursor: pointer; font: normal 400 32px/.5 'franklin-gothic-urw'; color: #b4b2b2; height: 24px; width: 24px; text-align: center; border: 2px #b4b2b2 solid; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; -webkit-transition: all .25s ease; -moz-transition: all .25s ease; -o-transition: all .25s ease; transition: all .25s ease;  }
.overlay-acuity header button:hover			{ color: #fff; border-color: #fff; }

.overlay-acuity header nav					{ display: block; float: right; margin-right: 2%; width: 56%; height: auto; position: relative; top: auto; left: auto; }
.overlay-acuity header ul					{ display: table; width: 100%; padding-right: 35px; }
.overlay-acuity header li					{ display: table-cell; text-align: center; padding: 0 2%; border-right: 1px #aaa solid; float: none; }
.overlay-acuity header li a					{ display: inline; height: auto; background: none; text-indent: 0; font: normal 500 14px/50px "franklin-gothic-urw-cond"; color: #b4b2b2; text-transform: uppercase; text-decoration: none; white-space: nowrap; -webkit-transition: all .25s ease; -moz-transition: all .25s ease; -o-transition: all .25s ease; transition: all .25s ease; }
.overlay-acuity header li a:hover, .overlay-acuity header li.active a { color: #fff; }
.overlay-acuity header li.active a			{ cursor: default; }

.overlay-acuity div.content-overlay				{ position: absolute; top: 0; right: 0; bottom: 0; left: 0; overflow-y: scroll; overflow-x: hidden; -webkit-overflow-scrolling: touch; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; }
.overlay-acuity section						{ position: relative; width: 100%; height: 100%; min-height: 100%; overflow: hidden; background-color: #000; background-repeat: no-repeat; background-position: 50% 50%; background-size: cover; }
.overlay-acuity section.front				{ background-image: url(../../img/acuity-flagpole/bg-page1.jpg)/*tpa=http://www.nucor.com/img/acuity-flagpole/bg-page1.jpg*/; background-position: 50% 0; }
.overlay-acuity section.intro				{ background-image: url(../../img/acuity-flagpole/bg-page2.jpg)/*tpa=http://www.nucor.com/img/acuity-flagpole/bg-page2.jpg*/; }
.overlay-acuity section.flagpole-facts		{ background-image: url(../../img/acuity-flagpole/bg-page3.jpg)/*tpa=http://www.nucor.com/img/acuity-flagpole/bg-page3.jpg*/; }
.overlay-acuity section.flagpole-facts2		{ background-image: url(../../img/acuity-flagpole/bg-page4.jpg)/*tpa=http://www.nucor.com/img/acuity-flagpole/bg-page4.jpg*/; }
.overlay-acuity section.steel-facts			{ background-image: url(../../img/acuity-flagpole/bg-page5.jpg)/*tpa=http://www.nucor.com/img/acuity-flagpole/bg-page5.jpg*/; }
.overlay-acuity section.community-impact	{ background-image: url(../../img/acuity-flagpole/bg-page6.jpg)/*tpa=http://www.nucor.com/img/acuity-flagpole/bg-page6.jpg*/; }

.overlay-acuity .wva						{ display: table; width: 100%; height: 100%; }
.overlay-acuity .cva						{ display: table-cell; vertical-align: middle; width: 100%; height: 100%; }

.overlay-acuity .front						{ padding-top: 10%; }
.overlay-acuity .front div					{ margin-left: 25%; }
.overlay-acuity .front h1					{ font: normal 400 31px/1.25 'franklin-gothic-urw-cond'; color: #fff; text-transform: uppercase; }
.overlay-acuity .front h1 em				{ font: normal 500 2.1em/.9 'franklin-gothic-urw-cond'; font-style: normal; }
.overlay-acuity .front h2					{ font: normal 400 17px/1 'franklin-gothic-urw-cond'; color: #fff; margin: 0 0 20px; }
.overlay-acuity .front button				{ display: block; padding: .5em 1.5em; background: none; border: 2px #fff solid; cursor: pointer; font: normal 400 16px/1 'franklin-gothic-urw-cond'; color: #fff; text-transform: uppercase; margin: 0 auto 0 190px; -webkit-transition: all .25s ease; -moz-transition: all .25s ease; -o-transition: all .25s ease; transition: all .25s ease; }
.overlay-acuity .front button:hover			{ color: #ccc; border-color: #ccc; }

.overlay-acuity .intro						{ padding-top: 80px; }
.overlay-acuity .intro div.left				{ width: 54%; float: left; text-align: right; }
.overlay-acuity .intro h1					{ font: normal 400 28px/1 'franklin-gothic-urw-cond'; color: #636363; text-transform: uppercase; }
.overlay-acuity .intro h1 em				{ font: normal 500 2.32em/.9 'franklin-gothic-urw-cond'; font-style: normal; position: relative; right: -.3em; }
.overlay-acuity .intro div.right			{ width: 46%; float: right; text-align: left; padding-left: 2em; }
.overlay-acuity .intro p					{ font: normal 400 16px/1.25 'franklin-gothic-urw-cond'; color: #636363; width: 320px; }
.overlay-acuity .intro p.quote				{ font: italic 500 24px/1 'franklin-gothic-urw-cond'; margin-top: 1em; }
.overlay-acuity .intro p.byline				{ font: normal 400 16px/1.5 'franklin-gothic-urw-cond'; }

.overlay-acuity p.byline b					{ font-weight: normal; font-weight: 700; }

.overlay-acuity .flagpole-facts h1			{ font: normal 400 31px/1.2 'franklin-gothic-urw-cond'; color: #fff; text-transform: uppercase; margin-left: 53%; text-shadow: 0px 0px 3px rgba(0, 0, 0, .25); }
.overlay-acuity .flagpole-facts h1 em		{ font: normal 500 2.1em/.9 'franklin-gothic-urw-cond'; font-style: normal; }
.overlay-acuity .flagpole-facts p			{ font: normal 400 16px/1.25 'franklin-gothic-urw-cond'; color: #fff; width: 380px; margin-left: 53%; text-shadow: 0px 0px 3px rgba(0, 0, 0, .25); }

.overlay-acuity .flagpole-facts p.scroll	{ position: absolute; bottom: 20px; left: 50%; margin-left: -100px; width: 200px; text-align: center; font: normal 500 24px/1 'franklin-gothic-urw-cond'; text-transform: uppercase; color: #fff; text-shadow: 0px 1px 3px rgba(0, 0, 0, .5); }

.overlay-acuity .flagpole-facts2			{ background-position: 40% 50%; }
.overlay-acuity .flagpole-facts2 h1			{ font: normal 400 38px/1.25 'franklin-gothic-urw-cond'; color: #fff; text-transform: uppercase; margin-left: 10%; }
.overlay-acuity .flagpole-facts2 h1 em		{ font: normal 500 1.68em/.9 'franklin-gothic-urw-cond'; font-style: normal; }
.overlay-acuity .flagpole-facts2 h2			{ font: italic 500 22px/1 'franklin-gothic-urw-cond'; color: #fff; text-transform: uppercase; margin: .8em 0 .25em 10%; }
.overlay-acuity .flagpole-facts2 ul			{ list-style-type: disc; margin-left: 10%; }
.overlay-acuity .flagpole-facts2 li			{ list-style-type: disc; font: normal 400 17px/1 'franklin-gothic-urw-cond'; color: #fff; margin: 0 0 .333em 1.5em; }
.overlay-acuity .flagpole-facts2 blockquote	{ position: absolute; width: 210px; text-align: center; bottom: 30%; left: 49%; }
.overlay-acuity .flagpole-facts2 blockquote p { font: italic 500 20px/1 'franklin-gothic-urw-cond'; color: #a1a4a8; text-shadow: 0px 0px 2px rgba(0, 0, 0, .5); margin-bottom: .333em; }
.overlay-acuity .flagpole-facts2 blockquote p.byline { font-size: 16px; line-height: 1.2; font-weight: 400; font-style: normal; }

.overlay-acuity .steel-facts				{ }
.overlay-acuity .steel-facts h1				{ font: normal 400 38px/1.125 'franklin-gothic-urw-cond'; color: #fff; text-transform: uppercase; margin: 10% 50% 0 0; text-align: right; text-shadow: 0px 0px 3px rgba(0, 0, 0, .25); }
.overlay-acuity .steel-facts h1 em			{ font: normal 500 1.68em/.9 'franklin-gothic-urw-cond'; font-style: normal; }
.overlay-acuity .steel-facts div.copy		{ background: rgba(70,70,70,.75); position: absolute; top: 100px; right: 60px; bottom: 0; width: 470px; }
.overlay-acuity .steel-facts figure			{ width: 155px; height: 194px; position: absolute; top: -32px; left: -50px; z-index: 2; }
.overlay-acuity .steel-facts figure	img		{ width: 143px; height: 182px; border: 6px #fff solid; -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, .25); -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, .25); box-shadow: 0px 0px 3px rgba(0, 0, 0, .25); }
.overlay-acuity .steel-facts h2				{ font: italic 400 24px/1 'franklin-gothic-urw-cond'; color: #fff; text-transform: uppercase; border-bottom: 1px #7e7e7e solid; margin: 26px 0 0 0; padding: 0 0 10px 106px; }
.overlay-acuity .steel-facts h2 span		{ font-style: normal; font-size: 21px; }
.overlay-acuity .steel-facts div.container	{ position: absolute; top: 134px; right: 0; left: 0; bottom: 0; }
.overlay-acuity .steel-facts div.scrollable	{ width: 100%; height: 100%; position: absolute; bottom: 0; right: 0; padding: 0 7%; overflow-x: hidden; overflow-y: scroll; }
.overlay-acuity .steel-facts p				{ color: #fff; padding: 0; }
.overlay-acuity .steel-facts p:first-child	{ margin-top: 2em; }
.overlay-acuity .steel-facts p.question		{ font: normal 500 18px/1.1 'franklin-gothic-urw-cond'; text-transform: uppercase; }
.overlay-acuity .steel-facts p.answer		{ font: normal 400 16px/1.25 'franklin-gothic-urw-cond'; margin: .25em 0 1.25em; }

.overlay-acuity .community-impact			{ padding-top: 7%; }
.overlay-acuity .community-impact h1		{ font: normal 400 38px/1.2 'franklin-gothic-urw-cond'; color: #fff; text-transform: uppercase; margin-left: 42%; text-shadow: 0px 0px 3px rgba(0, 0, 0, .25); }
.overlay-acuity .community-impact h1 em		{ font: normal 500 1.68em/.9 'franklin-gothic-urw-cond'; font-style: normal; }
.overlay-acuity .community-impact p			{ font: normal 400 16px/1.25 'franklin-gothic-urw-cond'; color: #fff; width: 480px; margin-left: 42%; text-shadow: 0px 0px 3px rgba(0, 0, 0, .25); }
.overlay-acuity .community-impact blockquote { position: absolute; width: 240px; text-align: center; bottom: 25%; right: 68%; }
.overlay-acuity .community-impact blockquote p { font: italic 500 20px/1 'franklin-gothic-urw-cond'; width: 100%; color: #a1a4a8; text-shadow: 0px 0px 3px rgba(0, 0, 0, .25); margin-bottom: .333em; }
.overlay-acuity .community-impact blockquote p.byline { font-size: 16px; line-height: 1.2; font-style: normal; font-weight: 400; }

.scrollable { position: relative; }
.scrollable:focus { outline: 0; }
.scrollable .viewport { position: relative; overflow: hidden; }
.scrollable .viewport .overview { position: absolute; }
.scrollable .scroll-bar { display: none; }
.scrollable .scroll-bar.vertical { position: absolute; right: 2px; height: 100%; }
.scrollable .scroll-bar.horizontal { position: relative; width: 100%; }
.scrollable .scroll-bar .thumb { position: absolute; }
.scrollable .scroll-bar.vertical .thumb { width: 100%; min-height: 10px; }
.scrollable .scroll-bar.horizontal .thumb { height: 100%; min-width: 10px; left: 0; }
.not-selectable { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

/*Default skin*/
.scrollable.default-skin { padding-right: 10px; padding-bottom: 6px; }
.scrollable.default-skin .scroll-bar.vertical { width: 6px; }
.scrollable.default-skin .scroll-bar.horizontal { height: 6px; }
.scrollable.default-skin .scroll-bar .thumb { background-color: #fff; opacity: 0.5; border-radius: 3px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
.scrollable.default-skin .scroll-bar:hover .thumb { opacity: 0.8; }


@media all and (max-width: 1200px)
{
	.overlay-acuity .steel-facts h1				{ font-size: 32px; margin: 10% 56% 0 0; }
	.overlay-acuity .steel-facts div.copy		{ right: 40px; width: 450px; }
}

@media all and (max-width: 1000px)
{
	.overlay-acuity .steel-facts h1				{ font-size: 28px; margin: 270px 58% 0 0; }
}

@media all and (max-width: 900px)
{
	.overlay-acuity .intro h1					{ font-size: 24px; }

	.overlay-acuity .steel-facts h1				{ font-size: 26px; margin: 270px 58% 0 0; }
	.overlay-acuity .steel-facts div.copy		{ right: 40px; width: 420px; }
}
