/*These are Ameren.com colors as defined in the Ameren.com style guide*/
.AmerenComColors
{
	color: #F2F2F2; /* RGB Decimal 242, 242, 242 - Background*/
	color: #D4D4D4; /* RGB Decimal 212, 212, 212 - Lines, Rules, Banner Border */
	color: #B2B2B2; /* RGB Decimal 178, 178, 178 - Gray text used on blue submenu area, top/bottom nav text, quicklinks container box */
	color: #666666; /* RGB Decimal 102, 102, 102 - Main menu text, body text */
	color: #1B6CB5; /* RGB Decimal  27, 108, 181 - Blue submenu bar */
	color: #96C8F3; /* RGB Decimal 150, 200, 243 - Light blue text used in submenu bar. */
	color: #24933C; /* RGB Decimal  36, 174,  60 - Main titles, link highlights, border highlights, green buttons */
	color: #D98C24; /* RGB Decimal 217, 140,  36 - Background elements, buttons */
}

/* HTML ELEMENT STYLE OVERRIDES */
body
{
	font-family: Arial, Sans-Serif;
	color: #666666;
}
a img /*prevent image link border - buttons*/
{
	border: none 0px #FFFFFF;
	text-decoration: none;
	color: #FFFFFF;
}

/*Sections */
/*Input Area*/
#divUserInput
{
	width: 180px;
	background-color: #FFFFFF;
	padding: 2px 2px 2px 2px;
}

.entryArea
{
	background-color: #EEF5F8;
}
/*Output Area*/
#divRecentActivity
{
	width: 190px;
	border: solid 1px #D4D4D4;
	padding: 3px;
}
/*#divMessageArea
{
	margin-top: 10px; 
	background-color: #FFFFFF;
	font-size: 1.0em;
	padding: 4px;
	border: solid 1px #D4D4D4;
}*/
.error
{
	color: #780000;
	font-weight: normal;
}
.controlTitle
{
	color: #24933C; /*font-weight: bold;*/
	font-size: 1.2em;
}
.controlBoldText
{
	font-size: .9em;
	font-weight: bold;
	margin-top: 10px; 
	margin-bottom: 0px
}

.RowWhite
{
	background-color: #FFFFFF;
	height: 20px;
	padding: 3px 3px 6px 3px;
	font-size: .9em;
	vertical-align: middle;
}

.RowMedium
{
	background-color: #F2F2F2;
	height: 20px;
	padding: 8px 3px 6px 3px;
	font-weight: bold;
	font-size: .9em;
}
.RowDark
{
	background-color: #D4D4D4;
	height: 20px;
	padding: 8px 3px 6px 3px;
	font-size: .9em;
	font-weight: bold;
}



/* ROUNDED CORNERS - DOES NOT WORK IN I.E. AS OF VERSION 8... */
.radius-small
{
	-moz-border-radius-topleft: 6px;
	-webkit-border-top-left-radius: 6px;
	-khtml-border-top-left-radius: 6px;
	border-top-left-radius: 6px;
}
.radius-small
{
	-moz-border-radius-topright: 6px;
	-webkit-border-top-right-radius: 6px;
	-khtml-border-top-right-radius: 6px;
	border-top-right-radius: 6px;
}
.radius-small
{
	-moz-border-radius-bottomleft: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-khtml-border-bottom-left-radius: 6px;
	border-bottom-left-radius: 6px;
}
.radius-small
{
	-moz-border-radius-bottomright: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-khtml-border-bottom-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

.radius-large
{
	-moz-border-radius-topleft: 12px;
	-webkit-border-top-left-radius: 12px;
	-khtml-border-top-left-radius: 12px;
	border-top-left-radius: 12px;
}
.radius-large
{
	-moz-border-radius-topright: 12px;
	-webkit-border-top-right-radius: 12px;
	-khtml-border-top-right-radius: 12px;
	border-top-right-radius: 12px;
}
.radius-large
{
	-moz-border-radius-bottomleft: 12px;
	-webkit-border-bottom-left-radius: 12px;
	-khtml-border-bottom-left-radius: 12px;
	border-bottom-left-radius: 12px;
}
.radius-large
{
	-moz-border-radius-bottomright: 12px;
	-webkit-border-bottom-right-radius: 12px;
	-khtml-border-bottom-right-radius: 12px;
	border-bottom-right-radius: 12px;
}

