.bannerImage
{
	margin-bottom:20px;
}

.buttons
{
	text-align:center;
}

.buttonRow
{
	white-space:nowrap;
	height: 22px;
	width: 672px;
	margin: 0 auto;
	
	margin-bottom: 12px;
}

.buttonImage
{
	width:153px;
	height: 22px;
	background: transparent url('../-/media/Common-Assets/Images/Structural-Images/dynamicLinkNotCurrent.png')/*tpa=https://q9u5x5a2.ssl.hwcdn.net/-/media/Common-Assets/Images/Structural-Images/dynamicLinkNotCurrent.png*/ top left no-repeat;
	text-align:center;
	float:left;
	margin-right: 20px;
    cursor:pointer;
}

.buttonImageSelected 
{
	background: transparent url('../-/media/Common-Assets/Images/Structural-Images/dynamicLinkCurrent.png')/*tpa=https://q9u5x5a2.ssl.hwcdn.net/-/media/Common-Assets/Images/Structural-Images/dynamicLinkCurrent.png*/ top left no-repeat;
}

.buttonImageHover 
{
	background: transparent url('../-/media/Common-Assets/Images/Structural-Images/dynamicLinkHover.png')/*tpa=https://q9u5x5a2.ssl.hwcdn.net/-/media/Common-Assets/Images/Structural-Images/dynamicLinkHover.png*/ top left no-repeat;
}

.buttonLast { margin: 0; }

#pageContent .buttonImage a, #pageContent .buttonImage a:link, #pageContent .buttonImage a:visited
{ 
	color: #FFF;
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 12px;
	line-height: 20px;
    height:22px;	
	text-decoration:none;
    display: block;
}


.dynamicContent
{
	margin-top: 10px;
    margin-left:20px;
}

.dynamicContentDiv 
{
    /*display: none;*/
}

#pageContent 
{ 
	margin-left:0px;
	margin-top:0px;
}

.dynamicContent #pageContent { min-height: 0; }


.dynamicLink, .dynamicLink:link, .dynamicLink:visited { color: #FFF; }

.pageImage 
{
    float: left;
    padding-right: 30px;
    padding-bottom: 30px;
}