/* The following line was originally from the file: AmerenApplicationMaster.css.  The AmerenApplicationMaster.css file was pulled in before this file, which is why it is at the top of this file */
.ms-topNavContainer { display: none; }
/* END AmerenApplicationMaster.css line */

* { margin: 0; padding: 0;}

.content { color: rgb(102, 102, 102); }

.content a, .content a:link { color: rgb(36, 147, 60); text-decoration: none; }

.topToolBarItem { float: left; margin-right: 2px; }

.topToolBarItem a { text-decoration: none; color: #2A4666; }

.topLink, .footerLink { padding-left: 18px; margin-right: 10px; background: url("../-/media/Common-Assets/Images/Bullets/listBullet.png")/*tpa=https://q9u5x5a2.ssl.hwcdn.net/-/media/Common-Assets/Images/Bullets/listBullet.png*/ center left no-repeat; display: inline; }

.topLink a { text-decoration: none; color: rgb(102,102,102); }

.footerLink a { text-decoration: none; color: rgb(85, 85, 85); }

.firstTopLink, .firstFooterLink { background: none; }

.wrapper, .contentLeftWrapper, .contentRightWrapper { padding: 10px; }

.contentRightWrapper { padding-bottom: 0; padding-top: 0; padding-right: 20px; }

.contentLeftWrapper { padding-bottom: 0; padding-top: 0; }

.reset { padding: 0; margin: 0; }

.topColumn { padding-bottom:10px; }

body { font-family: Arial; font-size: 12px; background-color: rgb(242, 242, 242); }

h2 { font-size: 30px; color: rgb(36, 147, 60); font-family: Century; }

h3 { font-size: 14px; color: rgb(36, 147, 60); }

h4 { font-size: 13px; font-weight: bold; color: #000; line-height: 18px; }

li p {
    display: inline;
}

#sudoBody { text-align: center; }

#contentWrapper { width: 960px; margin: auto; text-align: left; left: 10px; }

#topToolBar { height: 20px; margin-bottom: 5px; width: 950px; }

#mySite { display: none; }

#extraSeparator { position: relative; top: 2px; }

#siteActionsMenu { float: right; background: url(Unknown_83_filename)/*tpa=https://q9u5x5a2.ssl.hwcdn.net/Images/siteActionsBG.gif*/ top left repeat-x; }

#siteActionsMenu a { text-decoration: none; color: #FFF; padding: 2px; }

#headerLinksAndSearch { width: 940px; height: 10px; padding-right: 20px; margin: 20px 0px 20px 0; }

#topLinks, #footerLinks { float: right; width: 650px; padding-top: 5px; text-align: right; }

#topLinksList, #footerLinksList { list-style-type: none; }

#searchBox { float: right; width: 145px; }

#masthead { height: 71px; padding: 10px; padding-top: 15px; background: url("../-/media/Common-Assets/Images/Structural-Images/mastheadBG.png")/*tpa=https://q9u5x5a2.ssl.hwcdn.net/-/media/Common-Assets/Images/Structural-Images/mastheadBG.png*/ top left no-repeat; }

#amerenLogoWrapper { width: 190px; height: 54px; float: left; }

#promiseWrapper { width: 300px; height: 30px; float: right; text-align: right; padding-right: 20px;}

#navigationWrapper { width: 745px; float: left; position: relative; top: 5px; z-index: 2; }

.ameren-topNavContainer { margin-left: 10px; display: none; }

.ameren-topNav a, .ameren-topNav a:link { font-weight: bold; color: rgb(102, 102, 102); }

.ameren-topNav a:hover, .ameren-topNavSelected a { color: rgb(36, 147, 60); }

.ameren-topNav, .ameren-topNav ul { padding: 0; margin: 0; list-style-type: none; z-index: 600}

.ameren-topNav { display: inline; margin: 0 3px; }

.ameren-topNav ul { display: none; }

.ameren-topNavSeparator { padding: 0; margin: 0; list-style-type: none; z-index: 600; display: inline; margin: 0 3px; }

.ameren-topNavBullet { padding-bottom: 3px; }

table.ameren-topNav { margin: 0 10px; }

.ameren-topNavFlyOutContainer { position: absolute; z-index: 600; width: 224px; font-size: 12px; }

.ameren-topNavFlyOutContainer a, .ameren-topNavFlyOutContainer a:link, .ameren-topNavFlyOutContainer a:hover { font-weight: normal; }

.ameren-topNavFlyOutContainer a, .ameren-topNavFlyOutContainer a:link { color: rgb(102, 102, 102); }

.ameren-topNavFlyOutContainer a:hover { color: rgb(36, 147, 60); font-weight: bold; }

.ameren-topNavFlyOuts, div.zz1_TopNavigationMenu_0 { background-color: transparent; }

.ameren-topNavFlyOutRightItem { padding-left: 14px; background: transparent url("../-/media/Common-Assets/Images/Structural-Images/topNavFlyOutRightMiddle.png")/*tpa=https://q9u5x5a2.ssl.hwcdn.net/-/media/Common-Assets/Images/Structural-Images/topNavFlyOutRightMiddle.png*/ top left repeat-y; width: 100%; }

.ameren-topNavFlyOutLeftItem { padding-left: 20px; background: transparent url("../-/media/Common-Assets/Images/Structural-Images/topNavFlyOutLeftMiddle.png")/*tpa=https://q9u5x5a2.ssl.hwcdn.net/-/media/Common-Assets/Images/Structural-Images//topNavFlyOutLeftMiddle.png*/ top left repeat-y; width: 100%; }

#leftNavigation a, #leftNavigation a:link, #leftNavigation a:hover { font-weight: bold; }

.leftNavSiteTitle { margin-bottom: 8px; font-size: 13px; font-weight: bold;}

.leftNavSiteTitle a, .leftNavSiteTitle a:link { font-size: 1.1em; color: rgb(220, 224, 242); font-weight: bold; text-decoration: none; }

a.ameren-navitem { padding-left: 10px; text-decoration:none; }

a.ameren-navheader, a.ameren-navheader:link, a.ameren-navheader:visited,
a.ameren-navitem, a.ameren-navitem:link, a.ameren-navitem:visited { color: rgb(226, 235, 243); }

a.ameren-navheader:hover, a.ameren-navitem:hover { color: rgb(255, 255, 255); }

a.header-no-link { font-size: 11px;}

a.header-no-link, a.header-no-link:hover { color: rgb(188, 219, 247) !important; cursor: default; }

a.ameren-selectednavheader, a.ameren-selectednavheader:link, a.ameren-selectednavheader:visited,
a.ameren-selectednav, a.ameren-selectednav:link, a.ameren-selectednav:visited { color: rgb(244, 238, 54); }

html>body .ameren-topNavFlyOutRightItem { position: relative; top: -3px; }

html>body .ameren-topNavFlyOutLeftItem { position: relative; top: -3px; }

#contentBody { min-height: 545px; width: 960px; background: url("../-/media/Common-Assets/Images/Structural-Images/contentBodyBG.png")/*tpa=https://q9u5x5a2.ssl.hwcdn.net/-/media/Common-Assets/Images/Structural-Images/contentBodyBG.png*/ top left repeat-y; }

#contentBodyTop { height: 10px;  background:url("../-/media/Common-Assets/Images/Structural-Images/bodyTop.png")/*tpa=https://q9u5x5a2.ssl.hwcdn.net/-/media/Common-Assets/Images/Structural-Images/bodyTop.png*/ top left no-repeat; }

#contentBodyLeft { width: 200px; float: left; }

#leftNavigation { min-height:100px; margin-bottom: 10px; }

#adRotatorImages { position: relative; left: -10px; width: 190px; height: auto; }

#contentBodyRight { width: 760px; float: left; position: relative; }

#document #contentBodyRight { width: 95% !important; }

#contentBodyBottom { position: relative; z-index: -1; height: 20px; width: 100%; background: url("../-/media/Common-Assets/Images/Structural-Images/bodyBottom.png")/*tpa=https://q9u5x5a2.ssl.hwcdn.net/-/media/Common-Assets/Images/Structural-Images/bodyBottom.png*/ bottom left no-repeat; }

#copyright { float: left; padding-top: 5px; padding-bottom: 5px; color: rgb(85, 85, 85); }

.keywords { display:none;	visibility: hidden; }

.editPanel { border: 1px black dotted; }

.share { display:block; text-align:right; clear:both; margin-right:10px; margin-bottom:0px;}

.share a { text-decoration: none; color: #666666; }

.share img { vertical-align: middle; }

#pageContent { margin: 0px 20px 10px 0px; min-height: 510px; display:block; }

#pageContent a, #pageContent a:link, #pageContent a:visited { color: rgb(36, 147, 60); text-decoration: underline; }

#pageContent a:hover { text-decoration: underline; }

#pageContent ul { list-style-type: disc; padding-left: 20px; }

#pageContent ol { list-style-type: decimal; padding-left: 20px; }

.hr { border: 1px solid #999999; height: 1px; margin: 15px 0 10px; }

.pageTitle { font-family: Arial, sans-serif; font-size: 24px; color: #24933C; margin-bottom:2px;}

.pageSubtitle { font-family: Arial, sans-serif; font-size: 16px; line-height: 18px; color: #666666; font-weight: bold; margin-bottom: 10px;}

.pageText { font-family: Arial, sans-serif; font-size: 14px; line-height: 18px; color: #666666; margin-top: 10px; margin-bottom: 20px; display: block; }

.alertContent {width: 720px; height:45px; border: none; border-collapse: collapse; display:none;}

#alertContent a, #alertContent a:link, #alertContent a:visited { color: #FFFFFF; text-decoration: underline; }

#alertContent a:hover { text-decoration: underline; }

.alertImage { width: 114px; background-color:#BB3131;}

.alertText { font-family: Arial, sans-serif; font-size: 14px; color: #FFFFFF; background-color:#000000; width: 587px; vertical-align:top; padding-top: 3px; padding-left: 3px;}

.alertClose {width:26px; background-color:#000000;}

.sidebarText { color: rgb(150, 200, 243); font-family: Arial, sans-serif; font-size:12px; line-height: 18px }

.sidebarText a, .sidebarText a:link, .sidebarText a:active { color: rgb(188, 219, 247); text-decoration: none; }

.sidebarText a:hover { color: rgb(220, 224, 242); }

.quickFunctionContent {	position:relative; display:inline; float:left; width:700px;	margin:5px; }

#footerLinks { padding-right: 2px; }

#socialMediaFollow { font-size: 12px; color: rgb(128, 128, 128); text-align: right; padding: 5px 10px 0 0; }

a img, a:link img, a:hover img, a:visited img { border: none; text-decoration: none; }

#socialMediaFollow span { position: relative; top: -5px; }

#cscImage { position: relative; left: -10px; top: -10px; }

.ui-widget-content { overflow: hidden; }

/* Style that appears in the Rich Text Editor */
.ms-rteCustom-sidebarTitle{ color: white; font-weight:bold; }

/* Override core.css */
.ms-globallinks { font-family: inherit; font-size: inherit; }
.ms-globallinks { font-family: inherit; font-size: inherit; }
.ms-topnav { background: none; border: none; }
.ms-topnavselected { background: none; border: none; }
#searchBox td.ms-sbcell { border: none; background: transparent; padding-left: 10px; }
.ms-sbplain {
    font-family:Tahoma;
    font-size:8pt;
    color:#555555;
    border:solid 1px #999;
    -moz-box-shadow: 3px 3px 4px #C2C2C2;   
    -webkit-box-shadow: 3px 3px 4px #C2C2C2;     
    box-shadow: 3px 3px 4px #C2C2C2;      
    /* For IE 8 */     
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#C2C2C2')";   
    /* For IE 5.5 - 7 */    
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#C2C2C2'); 
}
.ms-pagebreadcrumb { display: none; }
.ms-pagemargin { display: none; }
.ms-WPBody { font-size: 12px; font-family: Arial;}
#MSOTlPn_Tbl { position: absolute; right: 0; top: 250px; }

.ms-formtable .ms-formbody, .ms-formtable .ms-formbodysurvey,
.ms-formtable .ms-formlabel, .ms-formtable .ms-gridCol, .ms-formtable .ms-gridT1 {
	font-family: Arial;
	font-size: 12px;
	line-height: 1.7em;
}

.datetime
{
	width: 195px;
	position: relative;
	left: 20px;
	margin-bottom: 20px;
    padding-right:59px;
}

.TextBlurbsList {
    width: 185px;
    height: 281px;
    position: relative;
    left: 20px;
    font-size: 12px;
    line-height: 16px;
    color: rgb(102, 102, 102);
}

.ImageWall {
    float:right;
    margin-left:20px;
    margin-top:10px;
}
.ImageWallImage {
    margin-bottom:25px;
}

.PersonnelWrapper {
    margin-bottom:18px;
    clear:both;
    overflow:auto;
}

.PersonnelImage {
    margin-right:10px;
    float:left;
}

.PersonnelBio {
    width:66%;
    float:left;
}

.PersonnelBio p {
    text-align:left;
}

.PersonnelName {
    font-family:Arial;
    color:#1b6cb5;
    font-size:14pt;
    font-weight:bold;
    margin-bottom:5px;
}

.PersonnelPositions {
    font-weight:bold;
    margin-bottom:15px;
}

/*QuickLinks CSS [Redesigned QuickLinks for Sitecore Re-Platform] */
.quickLinksContainer{
    border:1px solid #dedede;
    font-family:Arial;
    max-width:200px;
    width:200px;
    margin-top:10px;
    margin-left:20px;
}
.quickLinksHeader{
    background-color:#1b6cb5;
    color:#fff;
    display:block;
    font-size:15px;
    font-weight:bold;
    padding:7px 0px 7px 5px;
}
.quickLinks{
    overflow-y:hidden;
}
.quickLinks ul{
    margin:0px;
    padding:0px !important;
}
.quickLinks ul li{
    background-color:#fff;
    font-size:14px;
    font-weight:normal;
    /*height:16px;*/
    list-style-type:none;
    min-height:16px;
    padding:10px;
}
.quickLinks ul li.qlEven{
    background-color:#f1f1f1;
}
.quickLinks ul li a{
    color:#24933c;
    text-decoration:underline;
}
.quickLinksFooter{
    background-color:#1b6cb5;
    display:block;
    padding:5px 0px 0px 0px;
    text-align:center;
}
.quicklinksFooter img:hover{
    cursor:pointer;
}

/*FAQ CSS [Redesigned FAQs for Sitecore Re-Platform] */
.faqcontainer{
    border:1px solid #dedede;
    font-family:Arial;
    /*max-width:300px;*/
    width:100%;
    clear:both;
}
.faqheader{
    color:#fff;
    font-size:15px;
    font-weight:bold;
    background-color:#1b6cb5;
    display:block;
    padding:10px 0px 0px 0px;
}
.faqlinks{
}
.faqUL{
    margin:0px !important;
    padding:0px !important;
}
.faqUL .faqLI{
    background-color:#fff;
    color:#525b64;
    font-size:14px;
    font-weight:normal;
    /*height:26px;*/
    list-style-type:none;
    /*min-height:26px;*/
    padding:10px;
    vertical-align:middle;
    width:690px;
}
.faqVerticalSpacer {
    height:100%;
    vertical-align: middle;
    display: inline-block;
}
.faqQuestionContainer {
    vertical-align:middle;
    display:inline-block;
}
.faqUL .faqLI:hover{
    /*background-color:#b7ce93;*/
    cursor:pointer;
}
.faqselected{
    background-color:#1b6cb5 !important;
    color:#fff !important;
}
.faqUL .faqLI p{
    margin-top:0px;
    float:left;
    padding-left:15px;
    width:635px;
}
.faqview{
    float:left;
    font-weight:bold;
    /*margin-top:5px;*/
    text-decoration:none;
    text-decoration:underline;
    color: rgb(36, 147, 60);
    width:40px;
}

.faqclose{
    color: #FFFFFF !important;
}

.faqquestion{
    margin-top:0px;
/*  padding-left:40px;
    display:block !important;*/
}
.faqUL .faqLI.faqeven{
    background-color:#f1f1f1;
}
.faqhidden{
    display:none;
}
.faqdisplay{
    display:block;
    height:auto !important;
    border-bottom:1px solid #f1f1f1;
}
.faqfooter{
    background-color:#1b6cb5;
    display:block;
    padding:10px 0px 0px 0px;
    text-align:center;
}

/*Calendar CSS [Newly Designed Calendar for Sitecore Re-Platform] */

/*Header CSS*/
.calendarcontainer{
    background-color:#f2f2f2;
    padding:0px;
    width:710px;
}
.calendarheader{
    background-color:#1b6cb5;
    height:45px;
    margin:0px auto;
    width:700px;
}
.calendarheader h2{
    float:left;
    font-family:Arial;
    font-size:33px;
    font-weight:bold;
    color:#fff;
    margin:2px 0px 0px 5px;
}
.calendarcontrolbar{
    background-color:#fff;
    color:#000;
    float:right;
    font-family:Arial;
    font-size:16px;
    font-weight:bold;
    margin:6px 6px 0px 0px;
    width:430px;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.calendarcontrols{
    border:1px solid #e3e3e3;
    float:left;
    margin:5px 5px;
    width:45px;
    
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.calleftarrow{
    float: left;
    margin-left: 5px;
    padding: 0px 10px 0px 0px;
}
.calrightarrow{
    float: right;
    margin-right: 5px;
    padding: 0px 0px 0px 10px;
}
.calendarcontrolbar h3{
    float:left;
    margin:5px 0px;
    padding:0px;
    font-size:14pt;
    color:#000000 !important;
}
.calendarviewcontrols{
    border:1px solid #e3e3e3;
    float:right;
    font-family:Arial;
    font-size:12px;
    font-weight:normal;
    height:22px;
    margin:5px 10px 5px 10px;
    width:200px;
    
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.calendarviewcontrols a, .calendarviewcontrols a:hover, .calendarviewcontrols a:focus{
    color:#000;
    display:block;
    height:16px;
    padding:3px 0px;
    text-align:center;
    text-decoration:none !important;
    width:50%;
}
.calendarviewcontrols a:first-child{
    float:left;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.calendarviewcontrols a:last-child{
    float:right;
    -webkit-border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomright: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.calendarviewcontrols a.selected{
    background-color:#24933c;
    color:#fff !important;
}


/*Calender View CSS*/
.calendarview{
    font-family:Arial;
    margin:0px auto;
    padding:6px 0px;
    width:693px;
}
.calendarview > ul{
    clear:both;
    height:174px;
    margin:0px !important;
    padding:0px !important;
}
.calendarview > ul > li{
    background-color:#fff !important;
    display:table;
    float:left;
    height:168px;
    list-style-type:none !important;
    margin:2px;
    min-height:173px;
    width:93px;
}
.dayheader {
    height:42px;
    overflow:hidden;
}
.dayheadercurrent{
    background-color:#1b6cb5;
    color:#fff !important;
}
.dayheadercurrent h4{
    color:#fff !important;
}
.dayheader h1{
    float:left;
    font-family:Arial;
    font-size:32px;
    font-weight:bold;
    margin:4px 0px 0px 0px;
    text-align:right;
    text-transform:uppercase;
    width:40px;
}
.dayheader h4{
    float:left;
    font-family:Arial;
    font-size:14px;
    font-weight:bold;
    margin:9px 0px 0px 0px;
    padding-left:2px;
    text-align:left;
    text-transform:uppercase;
    width:50px;
}
.dayheader p{
    float:right;
    font-size:10px;
    margin:0px;
    padding:0px;
    width:50px;
}
.dayevents{
    font-family:Arial;
    font-size:9px;
    height:126px;
    overflow-y:auto;
    overflow-x:hidden;
    padding:5px 2px 0px 2px;
}
.dayeventscurrent{
    border-bottom:7px solid #1b6cb5;
    height:121px;
}
.dayevents ul{
    list-style-type:none;
    margin:0px;
    padding:0px;
}
.dayevents ul li{
    margin-bottom:10px;
    list-style-type:none;
}
.dayevents a,.dayevents a:hover,.dayevents a:focus,.dayevents a:visited{
    color:#24933c !important;
}
.othermonth{
    color:#b7b7b7;
}
.othermonth h4 {
    color:#b7b7b7 !important;
}

/*Calender List CSS*/
.calendarlist{
    margin:0px auto;
    padding:6px 0px;
    width:693px;
}
.calendarlist ul{
    background-color:#fff;
    border-left:1px solid #dddddd;
    border-right:1px solid #dddddd;
    border-top:1px solid #dddddd;
    margin:0px;
    min-height:100px;
    overflow:hidden;
    padding:0px 0px 10px 0px;
}
.calendarlist ul.selected{
    background-color:#f2f2f2;
}
.calendarlist ul li{
    background-color:transparent;
    color:#555555;
    display:inline;
    float:left;
    list-style-type:none;
    margin-right:10px;
    min-height:100px;
}
.calendarlist ul li:first-child, .calendarlist ul li:last-child{
    margin:0px;
}
.calendarlist ul li:first-child{
    color:#000;
    width:100px;
}
.calendarlist ul li:first-child h1{
    float:left;
    font-family:Arial;
    font-size:36px;
    font-weight:bold;
    margin-top:4px;
    text-align:right;
    text-transform:uppercase;
    width:45px;
}
.calendarlist ul li:first-child h4{
    float:left;
    font-family:Arial;
    font-size:18px;
    font-weight:bold;
    margin-top:9px;
    padding-left:2px;
    text-align:left;
    text-transform:uppercase;
    width:53px;
}
.calendarlist ul li:nth-child(2){
    width:175px;
}
.calendarlist ul li:nth-child(3){
    width:110px;
}
.calendarlist ul li:nth-child(4){
    width:70px;
}
.calendarlist ul li:last-child{
    width:200px;
}
.calendarlist ul li p{
    font-family:Arial;
    font-size:11px;
    font-weight:normal;
    margin:0px;
}
.calendarlist ul li p.listtitle{
    font-weight:bold;
    margin:20px 0px 0px 0px
}
.calendarlist ul li:last-child a,.calendarlist ul li:last-child a:hover,.calendarlist ul li:last-child a:focus,.calendarlist ul li:last-child a:visited{
    color:#24933c;
}

/*InfoModal CSS*/
.infoModal{
    background-color:#fff;
    border:1px solid #ddd;
    color:#555555;
    display:none;
    font-family:Arial;
    font-size:11px;
    font-weight:normal;
    left:0px;
    max-width:240px;
    width:240px;
    padding:5px;
    position:absolute;
    top:0px;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.infoModal h2{
    color:#0066cc;
    font-size:16px;
    margin:3px 0px;
}
.infoModal p{
    margin:0px 0px 10px 0px;
}
.infoModal p.modaltitle{
    font-weight:bold;
    margin:3px 0px;
}
.infoModal .infomodalarrowleft{
    position:absolute;
    top:30px;
    left:-50px;
}
.infoModal .infomodalarrowright{
    position:absolute;
    top:30px;
    left:245px;
}
.infoModalClose {
    float:right;
}