a img { border: none; }

.jcarousel-skin-ameren .jcarousel-container {
	
    background: url('../-/media/Common-Assets/Images/Component-Structural-Images/carousel-background.png')/*tpa=https://q9u5x5a2.ssl.hwcdn.net/-/media/Common-Assets/Images/Component-Structural-Images/carousel-background.png*/ top left no-repeat;
    font-size: 12px;
    line-height: 14px;
    color: rgb(102, 102, 102);
	

}

.jcarousel-skin-ameren .jcarousel-container-horizontal {
	
    width: 603px;
    padding: 20px 45px;
}

/*.jcarousel-skin-ameren .jcarousel-container-vertical {
    width: 75px;
    height: 245px;
    padding: 40px 20px;
}*/

.jcarousel-skin-ameren .jcarousel-clip-horizontal {

    height: 223px;
}

/*.jcarousel-skin-ameren .jcarousel-clip-vertical {
    width:  75px;
    height: 245px;
}*/

.jcarousel-skin-ameren .jcarousel-item {
	
	text-align: center;
    width: 187px;
    height: 183px;
}

.jcarousel-list { height: 200px;}

.jcarousel-skin-ameren .jcarousel-item-horizontal {
    margin-right: 20px;
}

/*.jcarousel-skin-ameren .jcarousel-item-vertical {
    margin-bottom: 10px;
}*/

.jcarousel-skin-ameren .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-ameren .jcarousel-next-horizontal {
    position: absolute;
    top: 76px;
    right: 10px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url('../-/media/Common-Assets/Images/Button-Images/next-horizontal.png')/*tpa=https://q9u5x5a2.ssl.hwcdn.net/-/media/Common-Assets/Images/Button-Images/next-horizontal.png*/ no-repeat 0 0;
}

.jcarousel-skin-ameren .jcarousel-next-horizontal:hover {
    background-position: -32px 0;
}

.jcarousel-skin-ameren .jcarousel-next-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-ameren .jcarousel-next-disabled-horizontal,
.jcarousel-skin-ameren .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-ameren .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.jcarousel-skin-ameren .jcarousel-prev-horizontal {
    position: absolute;
    top: 76px;
    left: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url('../-/media/Common-Assets/Images/Button-Images/prev-horizontal.png')/*tpa=https://q9u5x5a2.ssl.hwcdn.net/-/media/Common-Assets/Images/Button-Images/prev-horizontal.png*/ no-repeat 0 0;
}

.jcarousel-skin-ameren .jcarousel-prev-horizontal:hover {
    background-position: -32px 0;
}

.jcarousel-skin-ameren .jcarousel-prev-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-ameren .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-ameren .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-ameren .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}



/**
 *  Vertical Buttons
 *
.jcarousel-skin-tango .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(next-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-next-vertical:hover {
    background-position: 0 -32px;
}

.jcarousel-skin-tango .jcarousel-next-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango .jcarousel-next-disabled-vertical,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(prev-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:hover {
    background-position: 0 -32px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}*/