
/* Start styles for front page overlay */
body {
	overflow: hidden;
}

#landingOverlay
{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #FFF;
	z-index: 8000;
	overflow: auto;
	display: block;
}

#landingContainer
{
	margin: 0 auto;
	width: 969px;
}
#landingHeader
{
	position: relative;
	display: block;
	height: 120px;
	width: 969px;
}
#landingHeader:before
{
	position: absolute;
	content: " ";
	top: 52px;
	left: 6px;
	background-image: url('../../images/sprites/page-specific/homepage/landing-sprite.png')/*tpa=http://www.centurylink.com/assets/images/sprites/page-specific/homepage/landing-sprite.png*/;
	background-position: -34px -50px;
	width: 210px;
	height: 44px;
}
#landingHeader:after
{
	position: absolute;
	content: " ";
	top: 50px;
	right: 24px;
	background-image: url('../../images/sprites/page-specific/homepage/landing-sprite.png')/*tpa=http://www.centurylink.com/assets/images/sprites/page-specific/homepage/landing-sprite.png*/;
	background-position: -308px -48px;
	width: 638px;
	height: 48px;
}

#landingBody
{
	position: relative;
	display: block;
}
#landingBody > div
{
	float: left;
	position: relative;
}
#landingBody > div > div
{
	position: relative;
	z-index: 1;
}
#landingBody .landingSpacer
{
	height: 1px;
	width: 12px;
	display: block;
}

#landingBody h1,
#landingBody h1 a
{
	font-size: 26px;
	font-weight: bold;
	color: #FFF;
	padding: 0;
	margin: 0;
}
#landingBody > div:hover h1
{
	text-decoration: underline;
}

#landingBody p
{
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
	margin: 0;
	padding: 0;
	line-height: 180%;
}

#landingRes,
#landingSB,
#landingLB
{
	width: 300px;
	height: 96px;
	padding-top: 290px;
	padding-left: 14px;
	cursor: pointer;
}

#landingRes:after,
#landingSB:after,
#landingLB:after
{
	position: absolute;
	left: 0;
	top: 0;
	content: " ";
	width: 314px;
	height: 400px;
	background-image: url('../../images/sprites/page-specific/homepage/landing-sprite.png')/*tpa=http://www.centurylink.com/assets/images/sprites/page-specific/homepage/landing-sprite.png*/;
}

#landingRes:after
{
	background-position: -22px -128px;
}
#landingSB:after
{
	background-position: -347px -128px;
}
#landingLB:after
{
	background-position: -673px -128px;
}

#landingFooter
{
	margin-top: 40px;
}
#landingFooter a,
#landingFooter p
{
	font-size: 12px;
	color: #666;
	line-height: 180%;
}
/* End US 2027 */


body strong
{
	font-weight: bold;
}

#fiber_form_content input
{
	margin: 0;
}

#tpl_res-dd-get-internet
{
	color: #00853F;
}

.ui-tabs .ui-tabs-panel
{
	margin-top: 1px;
}

br.clearLeft
{
	clear: left;
}

#product-content
{
	position: relative;
	width: 959px;
	padding-top: 150px;
	font-size: 14px;
	color: #616365;
	font-weight: normal;
}

#product-content a,
#product-content a:link
{
	color: #00853F;
	cursor: pointer;
}

#product-content a.ctlButton,
#product-content a.ctlButton:link
{
	color: #FFF;
}

div#navFloat
{
	position: absolute;
	z-index: 1020;
	top: 0;
	display: block;
	width: 100%;
	height: 158px;
}
div#navFloat #navFloatBottom
{
	position: absolute;
	bottom: 0;
	width: 959px;
	height: 14px;
	background-image: url('../../images/sprites/page-specific/homepage_sprite.png')/*tpa=http://www.centurylink.com/assets/images/sprites/page-specific/homepage_sprite.png*/;
	background-position: -14px -854px;
}

div#navFloat div.floatNavBucket
{
	background-color: #FFF;
	border-bottom: #C8C8C8 solid 1px;
	float: left;
	display: block;
	width: 191px;
	height: 144px;
	text-align: center;
}
div#navFloat div.floatNavBucket.currBucket
{
	background-image: url('../../images/page-components/tv/shadowBox_background.jpg')/*tpa=http://www.centurylink.com/assets/images/page-components/tv/shadowBox_background.jpg*/;
	background-position: -13px -597px;
}
div.floatNavBucket:hover {
    background-image: url("../../images/page-components/tv/shadowBox_background.jpg")/*tpa=http://www.centurylink.com/assets/images/page-components/tv/shadowBox_background.jpg*/;
    background-position: -10px 150px;
}

div#navFloat div.floatNavBucket span
{
	position: relative;
	margin: 0;
	width: auto;
	height: 20px;
	display: inline;
	padding-right: 20px;
	line-height: 100%;
	font-size: 19px;
	color: #00853E;
	cursor: pointer;
}
div#navFloat div.floatNavBucket span:hover
{
	text-decoration: underline;
}

div#navFloat div.floatNavBucket span span
{
	position: absolute;
	right: 0;
	top: 8px;
	padding: 0;
	margin: 0;
	width: 10px;
	height: 10px;
	background-image: url('../../images/sprites/page-specific/homepage_sprite.png')/*tpa=http://www.centurylink.com/assets/images/sprites/page-specific/homepage_sprite.png*/;
	background-position: -615px -565px;
}

div#navFloat div.floatNavBucket span.bucketIcon
{
	display: block;
	padding: 0;
	text-decoration: none;
	margin: 20px auto 0 auto;
	background-image: url('../../images/sprites/page-specific/homepage_sprite.png')/*tpa=http://www.centurylink.com/assets/images/sprites/page-specific/homepage_sprite.png*/;
}

div#navFloat #btnNavFloatBundle .bucketIcon
{
	width: 134px;
	height: 70px;
	background-position: -644px -584px;
}
div#navFloat #btnNavFloatInternet .bucketIcon
{
	width: 134px;
	height: 70px;
	background-position: -796px -584px;
}
div#navFloat #btnNavFloatTV .bucketIcon
{
	width: 134px;
	height: 70px;
	background-position: -666px -690px;
}
div#navFloat #btnNavFloatPhone .bucketIcon
{
	width: 134px;
	height: 70px;
	background-position: -819px -690px;
}

div#navFloat #btnNavFloatOffers .bucketIcon
{
	width: 134px;
	height: 70px;
	background-position: -520px -648px;
}

div#navFloat #btnNavFloatHomeSecurity .bucketIcon
{
	width: 134px;
	height: 70px;
	background-position: -168px -1980px;
}

#banners .btnBannerPrevNext
{
	position: absolute;
	z-index: 1001;
	top: 120px;
	width: 52px;
	height: 52px;
	background-repeat: no-repeat;
	zoom: 1;
	cursor: pointer;
}
#banners .btnBannerPrevNext:hover
{
	text-decoration: none;
}

#btnBannerPrev
{
	left: 18px;
	background-image: url('../../images/sprites/page-specific/homepage_sprite.png')/*tpa=http://www.centurylink.com/assets/images/sprites/page-specific/homepage_sprite.png*/;
	background-position: -34px -1927px;
}
#btnBannerPrev:hover
{
	background-position: -34px -1867px;
}

#btnBannerNext
{
	right: 18px;
	background-image: url('../../images/sprites/page-specific/homepage_sprite.png')/*tpa=http://www.centurylink.com/assets/images/sprites/page-specific/homepage_sprite.png*/;
	background-position: -102px -1927px;
}
#btnBannerNext:hover
{
	background-position: -102px -1867px;
}

.main-container
{
	width: 959px;
}

.main-container .page-content
{
	padding: 0;
	margin: 0;
	border: none;
}

.main-container .main-banner,
.main-container #banners
{
	position: relative;
	width: 959px;
	height: 313px;
	overflow: visible;
}

.main-container #banners .banner
{
	position: absolute;
	z-index: 8;
	overflow: visible;
	top: 0;
	left: 0;
	display: none;
}
#banners:first-child
{
	display: block;
}

.main-container .banner-buttons
{
	position: absolute;
	left: 18px;
	top: 295px;
	width: 200px;
	overflow: visible;
	z-index: 20;
}

.main-container .banner-buttons .banner-button
{
	width: 16px;
	height: 16px;
	display: block;
	float: left;
	padding: 0;
	background: url('../../images/sprites/page-specific/homepage_sprite.png')/*tpa=http://www.centurylink.com/assets/images/sprites/page-specific/homepage_sprite.png*/ -208px -1886px no-repeat;
}

.main-container .banner-buttons .banner-button.current
{
	background-position: -181px -1886px;
}

div.placard
{
	position: relative;
	display: block;
	width: 959px;
	padding: 40px 0 20px 0;
}

div.placard > div
{
	display: block;
	float: left;
	position: relative;
}

div.placard div.hashAnchor
{
	position: absolute;
	top: 0;
	left: 0;
	float: none;
}

div.placard div.placardBottom
{
	top: 20px;
	float: none;
	width: 100%;
	clear: left;
	height: 14px;
	background-image: url('../../images/sprites/page-specific/homepage_sprite.png')/*tpa=http://www.centurylink.com/assets/images/sprites/page-specific/homepage_sprite.png*/;
	background-position: -14px -854px;
}

.placard .placardBottom-last
{
	display : none;
}


.placard p
{
	padding-top: 14px;
	font-size: 14px;
	color: #616365;
	line-height: 140%;
}
div.placard p .ctlButton
{
	display: inline-block;
}

div.placard ul
{
	list-style-position: inside;
	padding-left: 4px;
}
div.placard ul li
{
	margin-left: 16px;
	list-style-position: outside;
	color: #929292;
}

div#placardBundle .panelLeft
{
	width: 420px;
	padding: 100px 46px 0 0;
}
div#placardBundle .panelRight
{
	width: 474px;
	padding-top: 20px;
}

div#placardBundle .panelRight #optServices > div
{
	position: relative;
	display: block;
	float: left;
	width: 140px;
	height: 194px;
	padding-top: 98px;
	margin: 0 0 0 8px;
	text-align: center;
	background-image: url('../../images/sprites/page-specific/homepage_sprite.png')/*tpa=http://www.centurylink.com/assets/images/sprites/page-specific/homepage_sprite.png*/;
	background-position: -23px -927px;
	cursor: pointer;
}
div#placardBundle .panelRight #optServices > div.inactive
{
	background-image: none;
}
div#placardBundle .panelRight #optServices > div.inactive div
{
	opacity: 0.5;
	filter: alpha(opacity=50);
	zoom: 1;
}

div#placardBundle #optServices div div
{
	display: block;
	height: 90px;
}

div#placardBundle #optServices div div span
{
	display: block;
	margin: 0 auto 10px auto;
	background-image: url('../../images/sprites/page-specific/homepage_sprite.png')/*tpa=http://www.centurylink.com/assets/images/sprites/page-specific/homepage_sprite.png*/;
}

div#optBundleInternet div span
{
	width: 107px;
	height: 73px;
	background-position: -432px -768px;
}
div#optBundlePhone div span
{
	width: 40px;
	height: 73px;
	background-position: -413px -678px;
}
div#optBundleTV div span
{
	width: 92px;
	height: 87px;
	background-position: -267px -672px;
}
.prismTV div#optBundleTV div span
{
	width: 82px;
	height: 81px;
	background-position: -272px -770px;
}

div#placardBundle span.fauxCheckbox
{
	position: relative;
	display: inline;
	text-align: center;
	margin: 20px 0 0 0;
	width: auto;
	padding: 0 0 0 24px;
	color: #00853F;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
}
div#placardBundle span.fauxCheckbox span
{
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 17px;
	height: 17px;
	margin-right: 4px;
	background-image: url('../../images/sprites/page-specific/homepage_sprite.png')/*tpa=http://www.centurylink.com/assets/images/sprites/page-specific/homepage_sprite.png*/;
	background-repeat: no-repeat;
	background-position: -278px -619px;
}
div#placardBundle div.inactive span.fauxCheckbox
{
	color: #919191;
}
div#placardBundle div.inactive span.fauxCheckbox span
{
	background-position: -259px -619px;
}

div#placardBundle.prismTV a#btnBundleStart,
div#placardBundle a#btnBundlePrismStart
{
	display: none;
}
div#placardBundle.prismTV a#btnBundlePrismStart
{
	display: inline-block;
}


div.placard p.subNote
{
	font-size: 10px;
	color: #BBB;
}


#product-content h2
{
	padding: 0;
	margin: 0;
	font-size: 30px;
	color: #5B8F22;
	font-weight: normal;
}
#product-content h2 a
{
	font-size: inherit;
	font-weight: inherit;
}

#product-content h3
{
	padding-top: 16px;
	font-size: 16px;
	color: #616365;
	font-weight: bold;
}
#product-content h3 a
{
	color: #00853F;
}
#product-content h4
{
	font-size: 16px;
	color: #666;
	font-weight: bold;
	text-align: left;
	padding: 8px 0;
}

div#placardInternetGraphic
{
	display: block;
	width: 535px;
	height: 298px;
	background-image: url('../../images/sprites/page-specific/homepage_sprite.png')/*tpa=http://www.centurylink.com/assets/images/sprites/page-specific/homepage_sprite.png*/;
	background-position: -250px -936px;
}

div#placardInternet div.panelLeft
{
	width: 550px;
	padding-right: 16px;
}
div#placardInternet .panelRight
{
	padding-top: 60px;
	width: 386px;
}

div#placardTV div.panelLeft
{
	width: 352px;
	padding: 40px 0 0 0;
}

div#placardTV div.panelLeft h2
{
	position: relative;
	display: block;
	width: 350px;
}
div#placardTV.prismTV div.panelLeft h2
{
	width: 350px;
}

div#placardTV div.panelLeft h2 span.vertBar
{
	position: absolute;
	right: 62px;
	top: 4px;
	height: 30px;
	width: 2px;
	background-image: url('../../images/sprites/page-specific/homepage_sprite.png')/*tpa=http://www.centurylink.com/assets/images/sprites/page-specific/homepage_sprite.png*/;
	background-position: -248px -1813px;
}
div#placardTV.prismTV div.panelLeft h2 span.vertBar
{
	right: 226px;
}

div#placardTV div.panelLeft div.logoTV
{
	display: block;
	width: 42px;
	height: 35px;
	background-image: url('../../images/sprites/page-specific/homepage_sprite.png')/*tpa=http://www.centurylink.com/assets/images/sprites/page-specific/homepage_sprite.png*/;
	background-position: -193px -775px;
}

div#placardTV div.panelLeft div.btnLeftDTV-dtvGrayed{
	width: 155px;
	height: 45px;
	background-image: url('../../images/sprites/page-specific/homepage_sprite.png')/*tpa=http://www.centurylink.com/assets/images/sprites/page-specific/homepage_sprite.png*/;
	background-position: -28px -319px;
	margin : 15px 0 25px 0;
	float : left;
}

div#placardTV div.panelLeft div.btnRightDTV-selectPrism{
	width: 165px;
	height: 45px;
	background-image: url('../../images/sprites/page-specific/homepage_sprite.png')/*tpa=http://www.centurylink.com/assets/images/sprites/page-specific/homepage_sprite.png*/;
	background-position: -184px -319px;
	margin : 16px 0 25px 0;
	cursor : pointer;
}


div#placardTV.prismTV div.panelLeft div.btnLeftPrism-selectDTV {
	width: 155px;
	height: 44px;
	background-image: url('../../images/sprites/page-specific/homepage_sprite.png')/*tpa=http://www.centurylink.com/assets/images/sprites/page-specific/homepage_sprite.png*/;
	background-position: -31px -258px;
	margin : 15px 0 25px 0;
	float : left;
	cursor : pointer;
}

div#placardTV.prismTV div.panelLeft div.btnRightPrism-prismGrayed {
	width: 165px;
	height: 44px;
	background-image: url('../../images/sprites/page-specific/homepage_sprite.png')/*tpa=http://www.centurylink.com/assets/images/sprites/page-specific/homepage_sprite.png*/;
	background-position: -190px -258px;
	margin : 15px 0 25px 0;
}




div#placardTV.prismTV div.panelLeft div.logoTV
{
	top: 2px;
	width: 212px;
	height: 32px;
	background-position: -624px -792px;
}

div#placardTV div.panelLeft div.prismContent,
div#placardTV.prismTV div.panelLeft div
{
	display: none;
}
div#placardTV.prismTV div.panelLeft div.prismContent,
div#placardTV.prismTV div.panelLeft div.prismContent div
{
	display: block;
}


div#placardTV .panelRight
{
	margin-left: 40px;
	width: 520px;
}
div#placardTV .panelRight #PrismPlayer
{
	margin: 40px 0;
}

div#tvContainer #prismVideo {
	margin-top : 93px;
}

div#placardTV #prismVideo-disclaimer {
	position : absolute;
	top : 465px;
	z-index : 10;
	right : 48px;
	font-size : 10px;
	color : #9a9b9c;
}


div#btnGetPrismTV-wrapper {
	margin : 10px 0 30px 0;
}

div#btnGetPrismTV-wrapper .prism-Toggle-view {
	display : none;
}


div#placardTV.prismTV div.panelLeft span.logoTV
{
	display: block;
	position: absolute;
	right: 0;
	top: 2px;
	width: 212px;
	height: 32px;
	background-image: url('../../images/sprites/page-specific/homepage_sprite.png')/*tpa=http://www.centurylink.com/assets/images/sprites/page-specific/homepage_sprite.png*/;
	background-position: -624px -792px;
}

div#prism-classic-view-heading-wrapper {
	width : 350px;
}

div#prism-classic-view-heading-wrapper h2#titlePTV {
	width:65px
}

div#prism-classic-view-heading-wrapper div#h2-wrapper {
	float : left;
}

h4#prismLearnMore-link {
	margin-top : 20px;
}


div#placardPhone div.panelLeft
{
	width: 540px;
	height: 430px;
	background-image: url('../../images/sprites/page-specific/homepage_sprite.png')/*tpa=http://www.centurylink.com/assets/images/sprites/page-specific/homepage_sprite.png*/;
	background-position: -15px -1368px;
}
div#placardPhone .panelRight
{
	width: 390px;
	padding: 40px 0 0 26px;
}

div#placardOffers div.panelLeft
{
	width: 470px;
	padding: 40px 40px 0 0;
}
div#placardOffers .panelRight
{
	width: 400px;
	height: 402px;
	background: url('../../images/sprites/page-specific/homepage_sprite.png')/*tpa=http://www.centurylink.com/assets/images/sprites/page-specific/homepage_sprite.png*/ -565px -1363px no-repeat;
}

div#placardHomeSecurity div.panelLeft
{
	width: 352px;
	padding: 60px 0 0 0;
}
div#placardHomeSecurity .panelRight
{
	width: 515px;
	height: 368px;
	background-image: url('../../images/sprites/page-specific/homepage_sprite.png')/*tpa=http://www.centurylink.com/assets/images/sprites/page-specific/homepage_sprite.png*/;
	background-position: -322px -1910px;
}

input#hp-wo-password.occupied,
input#hp-wo-username.occupied
{
	background: none;
}

div.fadedHR
{
	width: 208px;
	height: 12px;
	margin: 0 auto;
	background-image: url('../../images/sprites/page-specific/homepage_sprite.png')/*tpa=http://www.centurylink.com/assets/images/sprites/page-specific/homepage_sprite.png*/;
	background-position: -628px -546px;
}

a#btnBundleStart,
a#btnBundlePrismStart
{
	display: inline-block;
	margin: 0 auto;
}

h2#titleDTV {
	width : 350px;
}

h2#titleDTV .vertBar
{
	right: auto;
	top: auto;
	margin-left: 6px;
}

h2#titleDTV .logoDTV
{
	right: auto;
	left: 72px;
}

/*Override inherited link color for CSS buttons*/
div.prismContent a#btnGetPrism,
div#placardOffers a#btnSpecialOffersCheck,
div#placardInternet a#btnInternetCheck {
	color : #ffffff;
}

#placardInternet #hp-spdemo {
	display: block;
	width: 530px;
	margin: 0;
	padding: 0;
}
#placardInternet .spd-graph {
	width: 530px;
}
#placardInternet .spd-graph ul li,
#placardInternet .spd-graph ul {
	margin: 0;
	padding: 0;
	display: block;
	list-style: none;
	color: #666;	
}
#placardInternet .spd-graph div,
#placardInternet .spd-graph span {
	display: block;
	position: relative;
	color: #666;		
}

#placardInternet .spd-graph .spd-speeds
{
	background: transparent url("../../images/sprites/speed-demo.png")/*tpa=http://www.centurylink.com/assets/images/sprites/speed-demo.png*/ no-repeat -54px -151px;
	height: 47px;
	width: 530px;
}

#placardInternet .spd-graph .spd-speeds h4 {
	line-height: 47px;
	text-transform: uppercase;
	color: #959595;
	font-size: 10px;
	letter-spacing: 1px;
	width: 35%;
	padding: 0;
	height: 100%;
	float: left;
	text-align: center;
	font-weight: normal;
}
#placardInternet .spd-graph .spd-speeds ul {
	width: 65%;
	height: 100%;
	float: right;
}
#placardInternet .spd-graph .spd-speeds ul li {
	width: 81px;
	height: 100%;
	float: left;
	display: block;
	position: relative;
	z-index: 100;
	overflow: visible;
}
#placardInternet .spd-graph .spd-speeds ul li a {
	position: relative;
	z-index: 100;
	top: 5px;
	left: 0;
	width: 81px;
	height: 37px;
	line-height: 37px;
	display: block;
	color: #333;
	font-size: 17px;
	text-align: center;
	box-shadow: 0 0 0 #CCC inset;
	background: transparent url("../../images/sprites/speed-demo.png")/*tpa=http://www.centurylink.com/assets/images/sprites/speed-demo.png*/ no-repeat -151px -204px;
	text-decoration: none;
	-webkit-transition: box-shadow 200ms;
	-moz-transition: box-shadow 200ms;
	-ms-transition: box-shadow 200ms;
	-o-transition: box-shadow 200ms;
	transition: box-shadow 200ms;
}
#placardInternet .spd-graph .spd-speeds ul li a:hover {
	color: #000;
	box-shadow: 0 0 20px #CCC inset;	
}
#placardInternet .spd-graph .spd-speeds ul .selectedSpeedNav {
	z-index: 101;
}
#placardInternet #hp-spdemo .spd-graph .spd-speeds ul .selectedSpeedNav a {
	box-shadow: 0 0 0 #CCC inset;
	width: 88px;
	z-index: 101;
	top: -2px;
	left: -4px;
	color: #FFF;
	height: 100%;
	line-height: 51px;
	background-position: -62px -204px;
}
#placardInternet .spd-graph .spd-icon
{
	position: absolute;
	display: block;
	width: 39px;
	height: 53px;
	background: url("../../images/sprites/speed-demo.png")/*tpa=http://www.centurylink.com/assets/images/sprites/speed-demo.png*/ no-repeat;
}

#placardInternet #spd-photos .spd-icon
{
	background-position: 0 -150px;
}

#placardInternet #spd-music .spd-icon
{
	background-position: 0 -200px;
}

#placardInternet #spd-tvshows .spd-icon
{
	background-position: 0 -250px;
}

#placardInternet #spd-movies .spd-icon
{
	background-position: 0 -304px;
}

#placardInternet .spd-graph .spd-bar-holder { height: 33px; width: 0; position: relative; top: 6px; left: 0; }
#placardInternet .spd-graph .spd-bar-holder .spd-b { height: 33px; position: absolute; top: 0; z-index: 50; }
#placardInternet .spd-graph .spd-bar-holder .spd-b-left { width: 2px; left: 0; background-position: left 0; }
#placardInternet .spd-graph .spd-bar-holder .spd-b-center { width: 100%; z-index: 49; left: 0; background-position: left 0; }
#placardInternet .spd-graph .spd-bar-holder .spd-b-right { width: 2px; right: 0;  background-position: right 0; }

#placardInternet #spd-photos .spd-bar-holder .spd-b
{
	background: url("../../images/sprites/speed-demo.png")/*tpa=http://www.centurylink.com/assets/images/sprites/speed-demo.png*/ no-repeat 0 -36px;
}

#placardInternet #spd-music .spd-bar-holder .spd-b
{
	background: url("../../images/sprites/speed-demo.png")/*tpa=http://www.centurylink.com/assets/images/sprites/speed-demo.png*/ no-repeat 0 -72px;
}

#placardInternet #spd-tvshows .spd-bar-holder .spd-b
{
	background: url("../../images/sprites/speed-demo.png")/*tpa=http://www.centurylink.com/assets/images/sprites/speed-demo.png*/ no-repeat 0 0;
}

#placardInternet #spd-movies .spd-bar-holder .spd-b
{
	background: url("../../images/sprites/speed-demo.png")/*tpa=http://www.centurylink.com/assets/images/sprites/speed-demo.png*/ no-repeat 0 -108px;
}


#placardInternet .spd-graph .spd-downloadables
{
	margin: 30px 0;
}

#placardInternet .spd-graph .spd-downloadables ul li
{
	position: relative;
}

#placardInternet .spd-graph .spd-downloadables ul li:before
{
	position: absolute;
	left: -12px;
	top: -2px;
	content: "";
	width: 530px;
	height: 54px;
	background: transparent url("../../images/sprites/speed-demo.png")/*tpa=http://www.centurylink.com/assets/images/sprites/speed-demo.png*/ no-repeat -282px -202px;
}

#placardInternet .spd-graph .spd-downloadrow
{
	width: 100%;
	height: 53px;
	position: relative;
}

#placardInternet .spd-graph .spd-pic,
#placardInternet .spd-graph .spd-bar,
#placardInternet .spd-graph .spd-time {
	display: block;
	height: 100%;
	margin: 0;
}
#placardInternet .spd-graph .spd-pic {
	width: 90px;
	position: absolute;
	top: 0;
	left: 0;
}
#placardInternet .spd-graph .spd-bar {
	margin: 0 89px 0 97px;
}
#placardInternet .spd-graph .spd-time {
	width: 90px;
	position: absolute;
	top: 10px;
	right: 0;
	height: 28px;
}
#placardInternet .spd-graph .spd-time .spd-num {
	font-size: 16px;
	line-height: 16px;
	height: 16px;
	float: left;
	padding: 0 5px;
	text-align: right;
	width: 3em;
}
#placardInternet .spd-graph .spd-time .spd-final-time {
	font-size: 10px;
	line-height: 10px;
	position: absolute;
	bottom: 0;
	right: 0;
	left: auto;
	padding: 0;
	text-align: right;
	width: 100%;
}
#placardInternet .spd-graph .spd-time .spd-type {
	font-size: 10px;
	line-height: 1;
	height: 8px;
	float: left;
	top: 0;
}

#placardInternet .spd-graph .spd-time .spd-secs
{
	padding: 0 0 6px 0;
	background: url("../../images/sprites/speed-demo.png")/*tpa=http://www.centurylink.com/assets/images/sprites/speed-demo.png*/ no-repeat -598px -149px;
}
#placardInternet .spd-graph .spd-time .spd-mins
{
	padding: 6px 0 0 0;
	background: url("../../images/sprites/speed-demo.png")/*tpa=http://www.centurylink.com/assets/images/sprites/speed-demo.png*/ no-repeat -623px -159px;
}

#placardInternet .spd-graph .spd-timeinsecs .spd-mins ,
#placardInternet .spd-graph .spd-timeinmins .spd-secs {
	display: none;
}
#placardInternet .spd-graph .spd-title {
	font-size: 12px;
	position: absolute;
	bottom: 5px;
	left: 2px;
}
#placardInternet .spd-graph .spd-fileweight {
	font-size: 10px;
	position: absolute;
	top: 15px;
	left: 30px;
	width: 55px;
	text-align: center;
	color: #9e9d9d;
}
#placardInternet .spd-copygroup {
	position: relative;
	top: 0;
	left: 0;
	height: 160px;
}
#placardInternet .spd-copygroup * {
	color: #999;
	font-size: 12px;
}
#placardInternet .spd-copygroup .spd-copy {
	position: absolute;
	visibility: hidden;
}
#placardInternet .spd-copygroup h3 {
	padding: 0 0 10px 0;
	font-size: 14px;
	font-weight: bold;
}
#placardInternet .spd-copygroup .halflist li {
	width: 210px;
	float: left;
	list-style-position: outside;
	margin-right: 35px;
	margin-left: 16px;
}

#home-speed-check
{
	position: absolute;
	right: 5px;
	top: auto;
	bottom: 8px;
	color: #fff;
	text-transform: capitalize;
	display: block;
	padding: 7px 9px;
	text-shadow: none;
	white-space: nowrap;
}
#home-speed-check:active
{
	top: auto;
}

#home-speed-check:hover
{
	color: #e0f0df;
}

#fp-wholesaleLink
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #00853F;
}

#fp-wholesaleLink-wrapper
{
	width: 307px;
	margin: 10px 0 0 660px;
}

#wls_link_underliner
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #00853F;
	text-decoration: underline;
}

.dtvImageStyle
{
	width:515px;
	height:499px;
}

.prism-Toggle-display
{
	display:none;
}

#countbox
{
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	width: 310px;
	height: 65px;
	position: absolute;
	top: 169px;
	left: 648px;
}

.countNum
{
	width: 64px;
	margin-right: 12px;
}

.num { color: #FFF; }

.numLeft
{
	background-color: #000;
	padding: 3px 5px;
	margin-right: 4px;
	font-size: 29px;
	border: 1px solid #000;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
}

.numRight
{
	background-color: #000;
	padding: 3px 5px;
	border: 1px solid #000;
	font-size: 29px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
}

.countText
{
	font-size: 11px;
	color: #FFF;
	text-align: center;
	margin-top: 5px;
	padding-right: 5px;
}

.countNum
{
	float: left;
}

.countNum .face
{
	background: url('../../images/page-components/flip_gradient.png')/*tpa=http://www.centurylink.com/assets/images/page-components/flip_gradient.png*/ -6px -8px no-repeat;
	position: absolute;
	width: 27px;
	height: 38px;
}