/* line 1, ../sass/calendarstyles.scss */
a:link, a:visited, a:active {
  text-decoration: none;
}

/* line 4, ../sass/calendarstyles.scss */
a:hover {
  color: #996600;
  text-decoration: underline;
}

/* line 8, ../sass/calendarstyles.scss */
td {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 8pt;
}

/* line 12, ../sass/calendarstyles.scss */
td.calBorder {
  background-color: #CCCC99;
}

/* line 15, ../sass/calendarstyles.scss */
.calHeading {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 8pt;
  color: #000000;
}

/* line 20, ../sass/calendarstyles.scss */
.calHeadingLink {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 9pt;
  color: #000000;
  text-decoration: none;
}

/* line 26, ../sass/calendarstyles.scss */
.calWeekDayLabel {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 8pt;
  color: #FFFFFF;
  background-color: #999966;
}

/* line 32, ../sass/calendarstyles.scss */
.calWeekendDays {
  background-color: #EEEECC;
}

/* line 35, ../sass/calendarstyles.scss */
.calWorkingDays {
  background-color: #FFFFFF;
}

/* line 38, ../sass/calendarstyles.scss */
.calToday {
  background-color: #FFFFCC;
}

/* line 41, ../sass/calendarstyles.scss */
.calCurrentMonth {
  color: #000000;
}

/* line 44, ../sass/calendarstyles.scss */
.calOtherMonth {
  color: #999999;
}

/* line 47, ../sass/calendarstyles.scss */
.hiLight {
  background-color: #FFFFCC;
}
