.foo {} /* W3C CSS validator likes CSS files to start with a class rather than a comment. Soooooo.... */

/*
	This style sheet is intended to contain RARELY CHANGED rules used when the Menu control adapter is enabled. 
	Obviously, this is specific to IE6.  We started with the same styles from the IE7/Firefox2|3 stylesheet,
	removed the :hover pseduo class for all non-anchor elements, and modified as necessary.
*/

/* for the most part, we're not not overriding, just reinforcing styles. !important is necessary */

ul.AspNet-Menu 
{
	padding: 0 !important; 
	margin: 0 !important; 
}

ul.AspNet-Menu li a,
ul.AspNet-Menu li a:hover
{
	color: #7D7D7D !important; 
}

ul.AspNet-Menu li.AspNet-Menu-WithChildren-Hover 
{
	float: left !important;
	
	/* 
		Remove the extra pixel from each side to make horizontal room for the border. 
		Add a pixel to the bottom so there's no break between the li border and the div border.
	*/
	padding: 0px 0px 1px 0px !important;
	
	background-image: none !important;
	background-color: #FFFFFF !important;
	
	border-right: 1px solid #A1A1A1 !important;
	border-bottom-style: none !important;
	border-left: 1px solid #A1A1A1 !important;
}

ul.AspNet-Menu li.AspNet-Menu-WithChildren a,
ul.AspNet-Menu li.AspNet-Menu-WithChildren-Hover a
{
	padding: 0px 19px !important;
}

ul.AspNet-Menu li.AspNet-Menu-WithChildren-Hover div
{
	display: block !important;
	position: absolute !important;

	border-top: none !important;
	border-right: 1px solid #A1A1A1 !important;
	border-bottom: 1px solid #A1A1A1 !important;
	border-left: 1px solid #A1A1A1 !important;
	
	background-color: white !important;
	margin: 1px 0px 0px -1px !important; /* to account for the 1px border so the line is unbroken */
	position: absolute !important;
	
	padding: 5px 10px 12px 0px !important;
}

ul.AspNet-Menu li.AspNet-Menu-WithChildren ul,
ul.AspNet-Menu li.AspNet-Menu-WithChildren-Hover ul 
{
	float: left !important;
	margin: 0px 3px 0px 8px !important;
	padding: 0px !important;
}

ul.AspNet-Menu li.AspNet-Menu-Leaf img,
ul.AspNet-Menu li.AspNet-Menu-Leaf-Hover img
{
	border: 0 !important;
	vertical-align: middle !important; 	
	padding: 1px 0px 1px 2px !important;
	height: 29px; 
}

ul.AspNet-Menu li a 
{
	font-family: verdana !important;
	font-size: 14px !important;
	color: #7D7D7D !important;
	text-decoration: none !important;
}

ul.AspNet-Menu li.AspNet-Menu-WithChildren li a,
ul.AspNet-Menu li.AspNet-Menu-WithChildren-Hover li a
{
	font-size: 11px !important;
	color: #7D7D7D !important;
	padding: 0px !important;
}

ul.AspNet-Menu li li.AspNet-Menu-Leaf,
ul.AspNet-Menu li li.AspNet-Menu-Leaf-Hover
{
	padding: 0px !important;
}

ul.AspNet-Menu li.AspNet-Menu-Current a 
{
	font-size: 11px !important;
	color: #0B2777 !important;
	padding: 0px !important;
}

ul.AspNet-Menu li li.AspNet-Menu-Leaf a:hover,
ul.AspNet-Menu li li.AspNet-Menu-Leaf-Hover a:hover,
ul.AspNet-Menu li li.AspNet-Menu-Leaf a.AspNet-Menu-Link:hover,
ul.AspNet-Menu li li.AspNet-Menu-Leaf-Hover a.AspNet-Menu-Link:hover,
ul.AspNet-Menu li li.AspNet-Menu-Leaf-Hover a.AspNet-Menu-Link-Hover:hover
{
	color: #0B2777 !important;
	text-decoration: underline !important;
}