@charset "UTF-8";
/* CSS Document */

#whatsnew_menu {
	margin: 0;
	padding: 0 1.5em;
	background: url(../images/layout/bg_sidebar_whatsnew.png)/*tpa=http://www.reynoldsamerican.com/images/layout/bg_sidebar_whatsnew.png*/ no-repeat;
	height: 37px;

}
h5.whatsnew {
	padding: .5em 0 .5em;
	color: #d96b16;
	letter-spacing: 0;
	font: 12px/1em "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin-bottom: .5em; 
}
.space {
	padding-top: .5em;
}