/*****************************Sign In Page*****************************/
a.more {
    color:#000000!important;
    background:url(../../img/hitachi/bullet_arrow.gif) no-repeat 0 2px;
}
.expected-qtip {
    visibility:hidden;
}
/*********************************Validate your profile Page**********************************/
.contentInnerWrapper .MOD_FO_28 a {
    color:#000000!important;
}
/********************************Challange Question Page*********************************/
.MOD_NO_30 span {
    color:#FF8000!important;
}
/********************************footer*******************************/
#footer a {
    color:#000000!important;
}
.MOD_NO_29 p a {
    color:#000000!important }
/*******************************More links****************************/
.contentInnerWrapper .MOD_FO_28 a.more {
    color:#FF8000!important;
}
#ls-gen9-ls-fxr a.more {
    color:#FF8000!important;
}
.more a.more {
    color:#FF8000!important;
}
.alert a.more {
    color:#FF8000!important;
}
/*************************Pagination************************/
.MOD_FO_25 .pagination a.selected {
    color:#000000!important;
}
.MOD_FO_25 .pagination a {
    color:#FF8000!important;
    font:13px Calibri;
    text-decoration:none;
}
.MOD_FO_37 ul li span.desc {
    color:#FF8000!important;
}
.MOD_FO_36 a {
    color:#FF8000!important;
}
.MOD_FO_36 a.sep {
    color:#CCCCCC!important;
}
a, .MOD_GC_3 a {
    color:#000000!important;
}
.MOD_NO_30 a {
    color:#999999!important;
}
/*************Header and welcome message styling*****************/
.MOD_NO_28 {
    width:990px;
    height:110px;
    position:relative;
    background:#fff url(../../img/hitachi/bg_header.gif) repeat-x 0 bottom !important;
    z-index:100;
}
.MOD_NO_28 .logo {
    background:url(../../img/hitachi/logo_hitachi.png) no-repeat;
    display:block;
    float:left;
    height:43px;
    left:27px;
    line-height:0;
    position:absolute;
    text-indent:-9999px;
    top:30px;
    width:206px;
    z-index:999;
}
.MOD_NO_28 .myJDlogo, .MOD_NO_28 .applicationLogo  {
    background:url(../../img/hitachi/logo_zxlink.png) no-repeat;
    width:140px;
    height:43px;
    position:absolute;
    z-index:9999;
    top:32px;
    right:24px;
    text-indent:-9999px;
    /*MG artf1290453 */
 }
 /*************Button styling*****************/
.submit_btn, .suggestAddress .nyro_submit_btn, .submit_btn:active {
    background:url(../../img/hitachi/btn_primary.png) left top no-repeat;
    height:28px;
    float:left;
    color:#595959;
    line-height:auto;
}
.submit_btnInput, .suggestAddress .nyro_submit_btnInput, .submit_btn:active .submit_btnInput {
    background:url(../../img/hitachi/btn_primary.png) right -29px no-repeat;
    margin-left:6px;
    cursor:pointer;
    border:0px;
    padding:4px 19px 6px 10px;
    font:bold 14px Calibri, Helvetica, Arial, sans-serif;
    text-transform:uppercase;
    overflow:visible;
    color:#595959;
    height:28px;
}
.gecko .submit_btnInput {
    padding-top:4px;
}
.submit_btn:hover {
    background:url(../../img/hitachi/btn_primary.png) no-repeat left -59px;
    text-decoration:none;
}
.submit_btn:hover .submit_btnInput, .submit_btn .submit_btnInput:focus {
    background:url(../../img/hitachi/btn_primary.png) right -88px no-repeat;
}
.myJDSignInBG {
    background:url(../../img/hitachi/bg_hitachi_signIn.jpg) no-repeat 0 0;
    height:498px;
    padding:0 0px 20px 0;
    width:990px;
}
a.btn_primary span {
    background:url(../../img/hitachi/btn_primary.png) right -29px no-repeat;
    line-height:31px;
    height:28px;
    margin-left:0x;
}
a.btn_primary {
    background:url(../../img/hitachi/btn_primary.png) left top no-repeat;
    height:28px;
    float:left;
    color:#595959;
    line-height:auto;
}
a.btn_primary:hover,.btn_primary:focus {
    background:url(../../img/hitachi/btn_primary.png) no-repeat left -59px;
    text-decoration:none;
}
a.btn_primary:hover span,.btn_primary:focus span {
    background:url(../../img/hitachi/btn_primary.png) right -88px no-repeat;
}
a.btn_primary:active {
    background:url(../../img/hitachi/btn_primary.png) left -59px no-repeat;
}
a.btn_primary:active span {
    background:url(../../img/hitachi/btn_primary.png) right -88px no-repeat;
}
/************Changes for arrow next link******************/
.MOD_FO_25 .pagination a.next_link {
    background:url(../../img/hitachi/bullet_arrow.gif) no-repeat scroll right 2px transparent;
    padding-right:6px;
}
.MOD_FO_25 .pagination a.next_link img {
    width:0;
}
/************Changes for accordian in faq page******************/
.MOD_FO_26 h3.open, .MOD_FO_26 h3.open a:hover {
    background-color:#FF8000;
}
.MOD_FO_26 h3 a {
    background:url(../../img/hitachi/specArrow.gif) no-repeat scroll 6px 9px rgba(0, 0, 0, 0);
    color:#333333;
    display:block;
    font:bold 13px/24px Calibri, Helvetica, Arial, san-serif;
    padding:0 0 0 18px;
    text-transform:uppercase;
}
/*Cancel Button*/
 a.grey_btn {
    background:url(../../img/hitachi/grey_btn.gif) left top no-repeat;
    line-height:28px;
    height:28px;
    color:#595959;
    font:bold 14px Calibri, Helvetica, Arial, sans-serif;
    text-transform:uppercase;
    text-decoration:none !important;
    display:inline-block;
    margin-right:10px;
    float:left;
}
 a.grey_btn span {
    background:url(../../img/hitachi/grey_btn.gif) right -28px no-repeat;
    line-height:28px;
    margin-left:2px;
    height:28px;
    display:inline-block;
    padding:0 18px 0 16px;
    cursor:pointer;
    white-space:nowrap;
}
 a.grey_btn:hover {
    background:url(../../img/hitachi/grey_btn.gif) left -56px no-repeat;
}
 a.grey_btn:hover span {
    background:url(../../img/hitachi/grey_btn.gif) 100% -84px no-repeat;
}
/*Secondary Button*/
.tnc_btn a.btn_secondary {
    background:url(../../img/hitachi/btn_primary.png) left top no-repeat!important;
    line-height:21px;
    height:23px;
    float:left;
    color:#595959;
    font:bold 12px Calibri, Helvetica, Arial, sans-serif;
    text-transform:uppercase;
}
.tnc_btn a.btn_secondary span {
    background:url(../../img/hitachi/btn_primary.png) right -29px no-repeat;
    line-height:21px;
    margin-left:3px;
    height:23px;
    float:left;
    padding:0 18px 0 15px;
    cursor:pointer;
}
.tnc_btn a.btn_secondary:hover , .btn_secondary:focus {
    background:url(../../img/hitachi/btn_primary.png) left -59px no-repeat;
}
.tnc_btn a.btn_secondary:hover span , .btn_secondary:focus span {
    background:url(../../img/hitachi/btn_primary.png) right -88px no-repeat;
}
.tnc_btn a.btn_secondary:active {
    background:url(../../img/hitachi/btn_primary.png) left -59px no-repeat;
}
.tnc_btn a.btn_secondary:active span {
    background:url(../../img/hitachi/btn_primary.png) right -88px no-repeat;
}

/*Center Alignment for footer*/
.footer_links {
    display: inline;
    float: right;
    margin-right: 80px;
    font-family: Helvetica;
        font-size: 12px;

}
.footer_links a {

    border-bottom: 1px solid #959595;
    color: #252525;
    text-decoration: none;
    }

.MOD_NO_7_1 .copyright {
     display: inline;
    margin-left: 120px;
      color: #959595;
    font-size: 12px;

}


/************Changes for Already Account Exist Pagination******************/
#alreadyAccountExist .page_navigation a.active_page {
    color:#000000!important;
}

#alreadyAccountExist .page_navigation a {
    color:#FF8000!important;
    font:13px Calibri;
    text-decoration:none;
}

#alreadyAccountExist .page_navigation a.next_link {
    background:url(../../img/hitachi/bullet_arrow.gif) no-repeat scroll right 2px transparent;
    padding-right:6px;
}
#alreadyAccountExist .page_navigation a.next_link img {
    width:0;
}

#alreadyAccountExist .page_navigation a.previous_link {
    background: url(../../img/hitachi/bullet_arrow2.gif) no-repeat scroll left 3px rgba(0, 0, 0, 0);
    margin: 0;
    padding: 0 4px 0 10px;
}

/******Added bullet arrow for suggest Address******/
.suggestAddress .address_content.suggest_address_close {
    background: url(../../img/hitachi/bullet_arrow.gif) no-repeat scroll 0 2px rgba(0, 0, 0, 0);
}

/****Removing underline from links*****/
.MOD_NO_7_1 .footer_links a:hover, .MOD_NO_7_1 .footer_links a:focus, .ie7 .MOD_NO_7_1 .footer_links a:active {text-decoration:none!important;}

/*******Arrow down & top in change password**********/
.pwd_guide_line {
    background: url(../../img/hitachi/arrow_down.gif) no-repeat scroll right 5px rgba(0, 0, 0, 0);
    color: #000000;
}
.pwd_guide_line_open {
    background: url(../../img/hitachi/arrow_top.gif) no-repeat scroll right 7px rgba(0, 0, 0, 0);
    color: #000000;
}

/*****Help Signing in Page*******/
.MOD_FO_6a h3.open, .MOD_FO_6a h3.open a:hover, .MOD_FO_6a .secondary_subhead.open, .MOD_FO_6a .secondary_subhead.open a:hover{
    background-color:#FF8000!important;
}
.MOD_FO_6a h3 a, .MOD_FO_6a .secondary_subhead a {
    background: url(../../img/hitachi/specArrow.gif) no-repeat scroll 8px 9px rgba(0, 0, 0, 0);
}
a.error {color:#CC6600 !important;text-decoration:underline;}
a.viewErrorDetails {padding: 0 0 0 11px; background:url("../../img/arrow_left_error.png") no-repeat scroll 0 4px transparent;}
a.viewErrorDetails.off {background:url("../../img/arrow_bottom_error.png") no-repeat scroll 0 6px transparent;}

/*****Web Alerts Changes*******/
#nyroModalTitle.back, .notification-detail .back{background: url(../../img/hitachi/bullet_arrow2.gif) no-repeat scroll 0 3px !important;line-height:14px;}
.fallback-login .signInFooterLeft a.more {background: url(../../img/hitachi/web-alert-help-icon.gif) no-repeat 0 center !important;}
.fallback-login .signInFooterLeft a.notify.more{background:url(../../img/hitachi/notifyIcon.gif) no-repeat 0px center !important;}
.fallback-login #newAccRow a.moreLinkLarge{background:url(../../img/hitachi/bullet_arrow.gif) no-repeat 0 2px;}

/****QC 211 - Contact Card*****/
.profile-owner a.edit-link{color:#FF8000 !important;}
ul.reg-list li{color:#FF8000;}