/*@import "screen";*/
/* PATHS */
/* @import must be at top of file, otherwise CSS will not work */
@import url("../../hello.myfonts.net/count/2db17f.css")/*tpa=http://hello.myfonts.net/count/2db17f*/;
html, body {
  font-family: Arial, sans-serif !important; }

a.btn, a:link.btn {
  font-family: Arial, sans-serif; }

h4 {
  font-family: Arial, sans-serif; }

.header_container .h_desktop .main_nav_container .site_nav li .sub_nav a {
  font-family: Arial, sans-serif; }
.header_container .items * {
  font-family: Arial, sans-serif; }

.items * {
  font-family: Arial, sans-serif;
  font-weight: bold; }

p {
  font-family: Arial, sans-serif !important; }
  p strong {
    font-family: Arial, sans-serif; }
  p.type_rule {
    font-family: Arial, sans-serif;
    font-weight: bold; }

footnote {
  font-family: Arial, sans-serif;
  font-style: italic; }

.learn {
  font-family: Arial, sans-serif; }

b {
  font-family: Arial, sans-serif;
  font-weight: bold; }

.heavy_text {
  font-family: Arial, sans-serif;
  font-weight: bold; }

.heavier_font {
  font-family: Arial, sans-serif;
  font-weight: bold; }

.page_wrap .breadcrumb * {
  font-family: Arial, sans-serif; }

.companies > .company_title, .careers > .company_title {
  font-family: Arial, sans-serif; }
.companies .company .company_title, .companies .career .company_title, .careers .company .company_title, .careers .career .company_title {
  font-family: Arial, sans-serif;
  font-weight: bold; }

.store_locator .info_locator p {
  font-family: Arial, sans-serif;
  font-weight: bold; }

table .table_title {
  font-family: Arial, sans-serif;
  font-style: italic; }

.analyst_table th {
  font-family: Arial, sans-serif;
  font-weight: bold; }

p.ir_footnote {
  font-family: Arial, sans-serif;
  font-weight: bold; }

.corp_tag header h2 {
  font-family: Arial, sans-serif;
  letter-spacing: 4px; }

.accordian_content .sub_title_content span {
  font-family: Arial, sans-serif;
  font-weight: bold; }

.accent .sub_nav a {
  font-family: Arial, sans-serif;
  font-weight: normal; }
.accent .sub_nav .sub_nav a {
  font-family: Arial, sans-serif;
  font-weight: normal; }

.home .entry p {
  font-family: Arial, sans-serif; }
.home .entry ul {
  font-family: Arial, sans-serif; }

div.quote_box .quote_text {
  font-family: Arial, sans-serif;
  font-style: italic; }

.story .content li {
  font-family: Arial, sans-serif;
  font-weight: bold; }

.faq_table th {
  font-family: Arial, sans-serif;
  font-style: italic; }

.flexslider .item .carousel-caption * {
  font-family: Arial, sans-serif; }
.flexslider .item .carousel-caption h2 {
  font-family: Arial, sans-serif;
  font-style: italic; }
.flexslider .item .carousel-caption p {
  font-family: Arial, sans-serif; }
.flexslider .item .carousel-caption .brand_links {
  font-family: Arial, sans-serif;
  font-weight: bold; }

.side_kicks .s_kick.ticker ul {
  font-family: Arial, sans-serif;
  font-weight: bold; }
.side_kicks .s_kick p.csr_report {
  font-family: Arial, sans-serif;
  font-weight: bold; }

.presentations .presentation p {
  font-family: Arial, sans-serif; }

.reconciliation span {
  font-family: Arial, sans-serif;
  font-weight: bold; }

.iframe .irContent * {
  font-size: 12px; }
.iframe .irContent ul {
  font-family: Arial, sans-serif; }

.mosiac .img_block figcaption {
  display: none; }
.mosiac .img_block a .caption {
  display: block; }
.mosiac .img_block .caption {
  background: transparent url("../img/bck_mosiac_title.png")/*tpa=http://www.tjx.com/img/bck_mosiac_title.png*/ repeat-x 0 bottom; }
  .mosiac .img_block .caption span, .mosiac .img_block .caption p {
    font-family: Arial, sans-serif;
    color: #fff;
    font-weight: bold;
    display: block;
    position: relative;
    z-index: 2; }

/*# sourceMappingURL=style-ie.css.map */
