/*** extra classes to avoid conflict with old jb.com styles ***/
ul.login-utility > li, ul#jb-primary-links li, div.social-wrap li, div.sitemap-wrap li, ul.header-footer > li
{
    padding: 0px 0px 0px 0px;
    background: none;
}
.placeHolder {
	color: #999;
}

li.hideTitle 
{
    display:none !important;
}
