/*

Color Codes which needs to be followed - 
Teal - #006685
Blue - #336699
White - #ffffff
Black - #000000
Gold - #FEC726
Nav Link Blue - #7ad8ff
Heading Gold - #e7a522
Arrow Grey - #999999
Light Grey - #D9D9D9
Nav Link Green - #99ff66
Red - #ff0000

*/
/* Fixed Centerd layout */
body {
	text-align: center;
	margin: 0px;
	font-family: Arial !important;
	background-color:#eeeeee !important;
	background-image:url('Images/silver_bg.gif')/*tpa=http://www.valero.com/Style%20Library/Images/silver_bg.gif*/;
	background-position:top;
	background-repeat:repeat-x;
	

}
td, input{
	font-family: Arial !important;

}
div#main {
	width: 995px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	background-color:white;
}
div#gutter {
	padding:15px;
}
.IE8Fix{
	z-index:100;
}

.tablegrid
{
	
	border-color: grey;
    border-width:1px;
    border-style: solid;
    border-collapse:collapse;
}

.tablegrid td
{
	
	border-color: grey;
    border-width:1px;
    border-style: solid;
    border-collapse:collapse;
    margin:0 0 0 0;
    padding-left:10px;
    padding-bottom:5px;
    padding-top:5px;
	height:30px;	
}	

img { 
	border:0; 
	margin:0;
}

img.Navigation
{
	width:175px;
	height:98px;
} 

/* Overridden classes*/
div.ms-WPBody 
{
	color: #000000;
	font-size: 11px;
}
.input.ms-long
{
    width:250px;
    color: #336699 !important;
	font-size: 36px !important;
	font-family: Arial !important;

}
.ms-WPTitle {
font-weight:bold;
color:#000000 !important;
padding-left:3px;
padding-right:7px;
padding-top:2px;
padding-bottom:2px;
font-size:10pt;
}
.ms-WPTitle A:visited {
color:#000000;
text-decoration:none;
cursor:pointer;
}
.ms-WPTitle A:link {
color:#000000;
text-decoration:none;
cursor:pointer;
}
.ms-WPTitle A:hover {
color:#000000;
text-decoration:none;
cursor:pointer;
} 
.ms-WPHeader TD{
border-bottom:0px solid transparent !important;
border-collapse:collapse;
}
.ms-WPBorderBorderOnly {
border-color:#d9d9d9 !important;
border-width:1px;
border-style:solid;
}
.ms-WPBorder {
border-color:#d9d9d9 !important;
border-width:1px;
border-style:solid;
}
.ms-WPBorder {
border-top-width:0px;
}  
.ms-sbcell, .ms-sbgo {
border:none !important;
background-color:transparent !important;
} 
 /*---- end ----- -*/
 
#footer {
    position: relative;
}
#footerLiner {
     padding:30px 20px; 
}
 
.V_SubMainBody {
	background-image:url('Images/SubPagesBackground.jpg')/*tpa=http://www.valero.com/Style%20Library/Images/SubPagesBackground.jpg*/;
	background-repeat: no-repeat;
	background-color:white;
}
.V_Spacer {
	width: 10px;
	height: 10px;
}
.V_LeftPadding {
	padding-left: 10px;
}
.V_LeftPadding1 {
	padding-left: 20px;
}

.V_BackColor {
	background-color: #3399cc;
	

}
.V_BackColor1 {
	background-color: #999999;
	

}
.V_BackColor2 {
	background-color: #D9D9D9;
	

}
.V_BackColor3{
	background-color:#42637D
}
.V_BackColor4{
	background-color:#4C7595
}


.V_Normal
{
	/*background-image: url("../../../../../../../../../../../PublishingImages/NewsArticleImage.jpg");*/

}
.V_HighLight
{
	background-image:url("Images/SignIngrad.gif")/*tpa=http://www.valero.com/Style%20Library/Images/SignIngrad.gif*/;
	background-repeat: repeat-x;


}
/* class for fading effect - can be deleted if not used */
.gradblack img {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  
  z-index:0;
}
.gradwhite img {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index:0;
}
.gradwhite * {
  position: relative;
  z-index: 1;
}
.gradwhite p {
  margin: 0px;
  padding: 3px;
  
}



.V_shadowLeft {
	height: 100%;
	min-height: 100%;
	width: 12px;
	background-color: #336699;
	background-position: left top;
}
/* for breadcrumb */
.V_breadcrumb
{
    color: #000000;
	font-size: 11px;
    clear:both;
    padding-left:7px;
    padding-bottom:2px;
    padding-top:4px;
    margin-bottom:4px;
}
.V_breadcrumb a:active
{
	padding-left:0px;
	padding-right: 0px;
	text-decoration:none;
   	color:  #336699;
}
.V_breadcrumb:active
{
	padding-left:0px;
	padding-right: 0px;
	text-decoration:none;
   	color: #336699;
}
.V_breadcrumb a
{
	padding-left:0px;
	padding-right: 0px;
	text-decoration:none;
   	color: #336699;
}
.V_breadcrumb a:hover
{
	text-decoration:underline;
}
.V_breadcrumbCurrent
{
	font-weight:normal; 
}
/* end of breadcrumb style */


.V_SignInButton {
	background-image: url("Images/SignIngrad.gif")/*tpa=http://www.valero.com/Style%20Library/Images/SignIngrad.gif*/;
	background-repeat: repeat-x;
	background-color: #3399cc !important;
	
	
}
.V_SignInlevel2 {
	color: #ffffff;
	font-size: 11px;
	width: 90px;
	padding-left: 2px;
	border-bottom:1px #336699 solid; 
	border-left:1px #336699 solid;
	border-right:1px #336699 solid;
	
	 
	}
.V_StandardText {
	color: #000000;
	font-size: 11px;
	/* need fix for firefox */

	
	
}
.V_StandardText UL{

 margin-left:0px;
 display:inline-block;
 
}
.V_Summary V_WebpartStyle{
	color: #000000;
	font-size: 11px;
}
.V_IntroText {
	color: #000000;
	font-size: 12px;
}
.V_StandardLink {
	color: #336699;
	font-size: 12px;
	text-decoration: none;
}
.V_StandardLinkBold {
	color: #336699;
	font-size: 12px;
	text-decoration: none;
	font-weight:bold;
}
.V_StandardLinkBold a{
	color: #336699;
	font-size: 12px;
	text-decoration: none;
	font-weight:bold;
}

.V_StandardLink:hover {
	text-decoration: underline;
}
.V_PageTitle_Level1 {
	color: #336699;
	font-size: 36px;
}
.V_PageSubTitle_Level1 {
	color: #464646;
	font-size: 11px;
}
.V_PageSubTitle_Level1 P{
	margin:0px;
}
.V_pageTitle_Level2 {
	color: #000000;
	font-size: 25px;
}
.V_ContentTitle {
	color: #006685;
	font-size: 15px;
}
.V_PhotographyTitle {
	color: #999999;
	font-size: 15px;
}
.V_Footer {
	color: #999999;
	font-size: 10px;
}
.V_Subhead_Level1 {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
}
.V_Subhead_Level2 {
	color: #E7A522;
	font-size: 12px;
	font-weight: bold;
}
.V_CenterColumn .V_Subhead_Level2 {
	color: #000000;
}
.V_Subhead_Level3 {
	color: #FF0000;
}
.V_DateStamp {
	color: #999999;
	font-size: 10px;
}
.V_Bulletedtext li {
	list-style-image: url('Unknown_83_filename')/*tpa=http://www.valero.com/ADDTOFAVORITES.GIF*/;
}
.ff li {
	list-style-image: url('Unknown_83_filename')/*tpa=http://www.valero.com/images/ADDTOFAVORITES.GIF*/;
}
.V_InformationNav {
	color: #7ad8ff;
	font-size: 13px;
	border:0px transparent solid !important;	

}
.V_InformationNavHover{
	color: #99ff66;
	font-size: 13px;
	border:solid 1px #006685 ;
	border-collapse:collapse;
	background-image:url("../_layouts/images/DropDownGradient.gif")/*tpa=http://www.valero.com/_layouts/images/DropDownGradient.gif*/;
	background-repeat: repeat-x;

}
.V_InformationNavSelected a {
	color: #99ff66;
	font-size: 13px;
	
}

.V_InformationNavFlyOuts
{
	font-size: 12px;
	border-left:1px #006685 solid;
	border-right:1px #006685 solid;
	border-bottom:1px #006685 solid;
	
	border-collapse:collapse;
	border-top:none !important;
}
.V_InformationNavFlyOutsItem
{	
	font-size: 12px;
	font-weight:bold;
	border-top:none ;

	color:#006685; 
	*width:140px;
	min-width:140px;
	
}
.V_InformationNavFlyOutsItem a
{
    display:block;
    padding:4px 5px 4px 5px;
}


.V_UtilityNavigation {
	color: #ffffff;
	font-size: 11px;
	text-transform: lowercase;
	text-decoration:none;
}
.V_UtilityNavigation_Rollover {
	color: #99ff66;
	font-size: 11px;
	text-transform: lowercase;
}
.V_ConstituentNav {
	color: #ffffff;
	font-size: 15px;
	text-transform:uppercase;
	margin:0;
	border:0px transparent solid !important;	
}
.V_ConstituentNavHover{
	color: #99ff66;
	border:solid 1px #006685 ;
	border-collapse:collapse;
	background-image:url("../_layouts/images/DropDownGradient.gif")/*tpa=http://www.valero.com/_layouts/images/DropDownGradient.gif*/;
	background-repeat: repeat-x;
	text-transform:uppercase;

}


.V_ConstituentNavSelected a{
	color: #99ff66;
	font-size: 15px;
	text-transform:uppercase;


}
.V_ConstituentNavFlyOuts
{
	color: #99ff66 ;
	font-size: 12px;
	border-left:1px #006685 solid;
	border-right:1px #006685 solid;
	border-bottom:1px #006685 solid;
	
	border-collapse:collapse;
	border-top:none !important;
}
.V_ConstituentNavFlyOutsItem
{	
	font-size: 12px;
	font-weight:bold;
	border-top:none ;

	color:#006685; 
	*width:178px;
	min-width:178px;
	
}
.V_ConstituentNavFlyOutsItem a
{
    display:block;
    padding:2px 5px 2px 5px;
}
.V_ConstituentNavLevels1
{
   background-image: url("Images/DropDownGradient.gif")/*tpa=http://www.valero.com/Style%20Library/Images/DropDownGradient.gif*/;
	background-repeat: repeat-x;
	border:1px #006685 solid;
}
.V_ConstituentNavLevels2
{
   background-image: url("Images/DropDownGradient2.gif")/*tpa=http://www.valero.com/Style%20Library/Images/DropDownGradient2.gif*/;

	background-repeat: repeat-x;
	
}
.V_ConstituentCollapsePanel{
			background-image:url('Images/ConstituentBackground.gif')/*tpa=http://www.valero.com/Style Library/Images/ConstituentBackground.gif*/;
			background-repeat:repeat-x;
				
}
.V_ConstituentCollapsePanel .gutter{
	padding:5px;
	height:250px;
}
.V_ConstituentTile{
			vertical-align: top;
			width:223px;
			height:100%;
			text-align:left;			
}

.V_HomeSnippet {
	color: #ffffff;
	font-size: 11px;
}
.V_HomeSnippet_AllCaps {
	color: #ffffff;
	font-size: 15px;
	text-transform: uppercase;
}
/* For Home page and other page backgrounds*/
.V_MainBody {
	background-image:url('Images/homelogo.jpg')/*tpa=http://www.valero.com/Style%20Library/Images/homelogo.jpg*/;
	background-repeat: no-repeat;
	background-color:white;
}
.V_MainBody td{
	vertical-align:top;
}

.V_HomeNavButton
{
	display: block; 
position: relative;

padding: 5px; 
float: left; 
text-decoration: none; 
cursor: pointer;
background-image: url('Unknown_83_filename')/*tpa=http://www.valero.com/Style%20Library/Images/V_Home_Images/SignIngrad.gif*/;
background-repeat: no-repeat;

}
/* For summary links styles*/
.V_bullet{
border-style: none;
border-color: inherit;
border-width: 0;
vertical-align:top;
background-image:url("../_layouts/images/ArrowRightGray.gif")/*tpa=http://www.valero.com/_layouts/images/ArrowRightGray.gif*/;
background-repeat:no-repeat;
background-position:left 3px;
padding-left:15px;
padding-right: 0px;

}
.V_item {
margin-bottom:6px;
margin-top:6px;
margin-left:4px;
margin-right:5px;
clear:both;
}
.centered {
text-align:center;
}
.V_link-item a:link{
color: #336699;
font-size: 12px;
text-decoration:none;
font-weight:bold;

}

.V_link-item a{
color: #336699;
font-size: 12px;
text-decoration:none;
font-weight:bold;

}

.V_link-item{
color: #336699;
font-size: 12px;
text-decoration:none;
font-weight:bold;

}

.V_link-item_CommitmenttoSafety{
	color:black;
	font-size:12px;
	text-decoration:none;
	}
.V_link-item a:active{
color: #336699;
text-decoration:none;
}
.V_link-item a:visited{
color: #336699;
text-decoration:none;
}
V_ImageOnleft{
	float:left;
	padding-right:5px;
	padding-left: 0px;
}
.V_link-item a:hover{
color: #336699;
text-decoration:underline;
}

.V_groupheader-Gray {
text-align:left;
margin-bottom:5px;
font-size:14px; 
font-weight:bold; 
color:#999999 !important;
clear:both;
}
.V_groupheaderLarge-Gray {
text-align:left;
margin-bottom:5px;
font-size:18px; 
font-weight:bold; 
color:#999999;
clear:both;
}


.V_groupheader-Gold { 
text-align:left;
margin-bottom:5px;
font-size:12px; 
font-weight:bold; 
color:#E7A522 !important;
clear:both;
}
.V_groupheader-Black {
text-align:left;
margin-bottom:5px;
font-size:12px; 
font-weight:bold; 
color:#000000;
clear:both;
}
.V_groupheaderLarge-Black {
text-align:left;
margin-bottom:5px;
margin-top:5px;
font-size:14px; 
font-weight:bold; 
color:#000000;
clear:both;
}


.V_BulletedList{
border-style: none;
border-color: inherit;
border-width: 0;
vertical-align:top;
background-image:url('Images/BlackBullet.GIF')/*tpa=http://www.valero.com/Style%20Library/Images/BlackBullet.GIF*/;
background-repeat:no-repeat;
background-position:left;
padding-left:15px;
padding-right: 0px;
vertical-align:top;
}
.V_FocalContentLearnMoreButton
{
	margin:5px 0px 0px 0px;
}
.V_LearnMoreBackGroundMid
{
 	background-image:url('Images/bluebuttonmid.gif')/*tpa=http://www.valero.com/Style%20Library/Images/bluebuttonmid.gif*/;
	background-repeat: repeat-x;
	white-space:nowrap;
	height:17px;
	text-align:center;
	vertical-align:middle;
 }
.V_LearnMoreBackGroundLeft
{
   background-image:url('Images/bluebuttonleft.gif')/*tpa=http://www.valero.com/Style%20Library/Images/bluebuttonleft.gif*/;
   background-repeat: no-repeat;	
   padding-left:5px;
}
.V_LearnMoreBackGroundRight
{
	background-image:url('Images/bluebuttonright.gif')/*tpa=http://www.valero.com/Style%20Library/Images/bluebuttonright.gif*/;
	background-repeat: no-repeat;
	padding-right:5px;
}
.V_LearnMoreText a:link
{	
	font-size:9pt;
	font-weight:bold;
	color:white !important;
	text-decoration:none;	
}
 .V_LearnMoreText a
{	
	font-size:9pt;
	font-weight:bold;
	color:white !important;
	text-decoration:none;	
}
 .V_LearnMoreText
{	
	font-size:9pt;
	font-weight:bold;
	color:white !important;
	text-decoration:none;	
	padding:0 3px 0 3px;
}
.V_LearnMoreText a:hover
 {
	
	font-size:9pt;
	font-weight:bold;
	color:white !important;
	text-decoration:none !important;
	padding-left:8px;
	padding-right: 8px;

}
/* Page Layouts */
.V_LeftNarrowColumn{
	width:215px;
	vertical-align:top;
}
.V_CenterColumn{
	width:550px;
	vertical-align:top;
}
.V_FullColumn{
	width:740px;
	vertical-align:top;
}

.V_RightNarrowColumn{
	width:180px;
	vertical-align:top;
}


#homepageContent .V_LearnMoreBackGroundMid
{
   background-image:url('Images/greenbuttonmid.gif')/*tpa=http://www.valero.com/Style%20Library/Images/greenbuttonmid.gif*/;
   background-repeat: repeat-x;
	
 }
#homepageContent .V_LearnMoreBackGroundLeft
{
   background-image:url('Images/greenbuttonleft.gif')/*tpa=http://www.valero.com/Style%20Library/Images/greenbuttonleft.gif*/;
 }
#homepageContent .V_LearnMoreBackGroundRight
{
   background-image:url('Images/greenbuttonright.gif')/*tpa=http://www.valero.com/Style%20Library/Images/greenbuttonright.gif*/;
 }
#homepageContent .description{
	color:white;
}
#homepageContent .V_link-item{
	color: #99ff66;
}

.V_GreenTitle {
	color: #99ff66;
	font-size: 25px;
}
.V_Whitebullet{
border-style: none;
border-color: inherit;
border-width: 0;
vertical-align:top;
background-image:url("../_layouts/images/ArrowRightWhite.gif")/*tpa=http://www.valero.com/_layouts/images/ArrowRightWhite.gif*/;
background-repeat:no-repeat;
background-position:left 3px;
padding-left:15px;
padding-right: 0px;

}
.V_BackgroundImage
{
	position:absolute;
	z-index:-100;	
}


/*  Hack */
#wpzone2 table tbody tr td{
	height:100%;
	
}
#wpzone2 table tbody tr td table{
	height:100%;
	
}

/*------summary links style ends ends----------- -*/

/*------Style for Contact web part----------*/

.V_ContactHeaderGray{
	text-align:left;
	margin-bottom:5px;
	font-size:18px; 
	font-weight:bold; 
	color:#999999;
	clear:both;
}

.V_ContactAddressTextBlack {
text-align:left;
margin-bottom:5px;
font-size:12px; 
font-weight:normal;
color:#000000;
clear:both;
}

.V_ContactAddressTitleBlack {
text-align:left;
margin-bottom:5px;
font-size:12px; 
font-weight:bold;
color:#000000;
clear:both;
}

.V_Email{
	background:url('Images/Icons/Email.jpg')/*tpa=http://www.valero.com/Style%20Library/Images/Icons/Email.jpg*/ no-repeat left center;
	display:block;	
	padding-left:25px;
	margin:5px 0 5px 10px;
}

.V_Phone{
	background:url('Images/Icons/phone.jpg')/*tpa=http://www.valero.com/Style%20Library/Images/Icons/phone.jpg*/ no-repeat left center;
	display:block;
	padding-left:25px;
	margin:5px 0 5px 10px;
	color:black !important;
	font-weight:bold;
}
.V_Fax{
	background:url('Images/Icons/Fax.gif')/*tpa=http://www.valero.com/Style%20Library/Images/Icons/Fax.gif*/ no-repeat left center;
	display:block;
	padding-left:25px;
	margin:5px 0 5px 10px;
	color:black !important;
	font-weight:bold;
}



/*------End of Contact web part style----------*/

.V_modalBackground {
	background-color:black;
	filter:alpha(opacity=30);
	opacity:0.3;
}

.V_modalPopup {
	
	padding:0px;
	width:450px;
	position:relative;
	z-index:40000;
}

.V_ModalWindow

{
  border: solid 1px Gray;
  background:#ffffff;
  padding: 0px10px10px10px;
  position:absolute;
  top:-1000px;
}


/* styles for focal Contents */
.V_FocalGreyHeader {
	color: #D9D9D9;
	font-size: 14px;
	font-weight: bold;
	padding-bottom:5px;
}
.V_FocalBlackHeader {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	padding-bottom:5px;
}
.V_FocalBlueHeader {
	color: #336699;
	font-size: 16px;
	font-weight: bold;
	padding-bottom:5px;
}
.V_Focal_Content{
	padding-bottom:10px;
	display:inline;}

.V_Focal_Content img{
	margin:0px 10px 10px 0px;}

.V_Focal_Content td{
	vertical-align:top}
	
.V_Focal_Content li{
	margin-left:20px;}

.V_Caption{
	font-size:80%;
	font-style:italic;
	text-align:left;}
/* style ends for focal content*/

/* Style for left navigation */
.V_leftNav
{
	width:200px;
	text-align:justify;
}
.leftNavSpacer
{
	width:200px;
}
.V_leftNavSelected
{
	color: black;
	text-decoration:none;
}

.V_leftNav3
{
	color: #336699;
}
.V_leftNav2
{
	color: #336699;
	
}
.V_leftNav1
{
	color: #336699;
	
}
.V_leftNav1
{
	color: #336699;
font-size: 12px;
text-decoration:none;
font-weight:bold;

}
.V_leftNav a
{ 
	font-size: 12px; 
	font-weight:bold; 
	padding-left:5px;
	display:block;
	padding-right:10px;
	line-height:14pt;

}
.V_leftNav2
{	
	font-size: 12px; 
	line-height:14pt;
	padding-left:12px;
	
}
.V_leftNav2 a
{
	padding-left:10px;
	display:block;
	padding-right:12px;
	padding-left:12px;
}
.V_leftNav3
{	  
	font-size:12px; 
	line-height:14pt;
	padding-left:12px;
}
.V_leftNav a
{
	padding-left:10px;
	display:block;
	padding-right:12px;
	line-height:14pt;
	padding-left:12px;
}
.V_leftNav:active{
	text-decoration:underline;
	color:black;

}
.V_leftNavHover
{
	text-decoration:underline;
	color:black;
}
.V_leftNavFlyOuts
{
	font-size:10px; 
	border-top:1px #336699 solid;
	border-left:1px #336699 solid;
	border-right:1px #336699 solid;	
}
.V_leftNavFlyOutsItem
{
	border-bottom:1px #336699 solid;
	
}
.V_leftNavFlyOutsItem a
{
	padding:1px 5px 1px 5px;
	display:block;
	color:#336699;
	*width:100px;
	min-width:100px;
}
.V_leftNavFlyOutsHover
{
	
}

.V_PDFImage{	
	background-image:url('../_layouts/images/pdf.gif')/*tpa=http://www.valero.com/_layouts/images/pdf.gif*/ !important;
	background-repeat:no-repeat;
	display:block;
	width:16px;
	height:16px;
}
.V_DOCImage{
	background-image:url('../_layouts/images/DOC16.GIF')/*tpa=http://www.valero.com/_layouts/images/DOC16.GIF*/ !important;
	background-repeat:no-repeat;
	display:block;
	width:16px;
	height:16px;

}
.V_XLSImage{
	background-image: url('../_layouts/images/XLS16.GIF')/*tpa=http://www.valero.com/_layouts/images/XLS16.GIF*/ !important;
	background-repeat:no-repeat;
	padding-left:16px;
	display:block;
	width:16px;
	height:16px;

}
.V_OtherImage{
	background-image: url('../_layouts/images/TXT16.GIF')/*tpa=http://www.valero.com/_layouts/images/TXT16.GIF*/ !important;
	background-repeat:no-repeat;
	display:block;
	width:16px;
	height:16px;

}


/* Style ends for left navigation */

/*styles for NewsROom*/

.V_HorizontalRuler
{
	color:#BFBFBF;
	height: 1px;
}
.V_HorizontalLine{
	border-bottom:solid 1px #999999;
}
.V_HorizontalLineBlack{
	border-bottom:solid 1px #000000;
}


.V_Hidden
{
	visibility:collapse;
	visibility:hidden;
}
.V_WatermarkCss
{
	font-style:italic;
	color: #999999;
}

/* end of NEwsROom*/

/*For Operations Map*/
.V_UnselectedButton
{
	width:205px;
	height:21px;
	overflow:hidden;
	padding:3px 0 2px 5px;
	font-weight:bold;
	font-size:14px;
	color:#999999 !important;
	margin-bottom:2px;
	background-image:url('Images/bg_map_unselected.jpg')/*tpa=http://www.valero.com/Style%20Library/Images/bg_map_unselected.jpg*/;
	background-position:top left;
	background-repeat:no-repeat;
	/*filter:progid:DXImageTransform.Microsoft.Gradient(endColorstr='#72A1BD', startColorstr='#FFFFFF', gradientType='1');*/
}

.V_SelectedButton
{
	width:205px;
	height:21px;
	overflow:hidden;
	padding:3px 0 2px 5px;
	font-weight:bold;
	font-size:14px;
	margin-bottom:2px;
	background-image:url('Images/bg_map_selected.jpg')/*tpa=http://www.valero.com/Style%20Library/Images/bg_map_selected.jpg*/;
	background-position:top left;
	background-repeat:no-repeat;

}

.V_SelectedLink
{
	color:#336699;
	
}

.V_UnSelectedLink
{
	color:#464646 !important;
}


.rounded_whiteblue_bl{background-image:url(Images/corner_white_bottom_left.gif)/*tpa=http://www.valero.com/Style%20Library/Images/corner_white_bottom_left.gif*/; background-repeat:no-repeat; background-position:bottom left;width:100%; height:10px;}
.rounded_whiteblue_br{background-image:url(Images/corner_white_bottom_right.gif)/*tpa=http://www.valero.com/Style%20Library/Images/corner_white_bottom_right.gif*/; background-repeat:no-repeat; background-position:bottom right;width:100%; height:10px;}
.rounded_whiteblue_tl{background-image:url(Images/corner_white_top_left.gif)/*tpa=http://www.valero.com/Style%20Library/Images/corner_white_top_left.gif*/; background-repeat:no-repeat; background-position:top left;width:100%; height:10px;}
.rounded_whiteblue_tr{background-image:url(Images/corner_white_top_right.gif)/*tpa=http://www.valero.com/Style%20Library/Images/corner_white_top_right.gif*/; background-repeat:no-repeat; background-position:top right;float:left; width:100%; height:10px;}
.whiteblue_container_bg{background:none;}
.whiteblue_container_content{padding:0 10px 0 10px;background:white;}
.whiteblue_container_bg2{background:white;height:10px;}	

.V_ValeroPumpDetails
{
	background-color:#D9D9D9;
}

.V_ShowHideDetails
{
    background-color:#ffe392;
}

.V_BlueBackground{
                background-color:#EEF2F7;
                font-family: Arial;
}

.V_Print{
                background:url('Unknown_83_filename')/*tpa=http://www.valero.com/Style%20Library/Images/Icons/print.png*/ no-repeat left center;
                display:block;     
                padding-left:25px;
                margin:5px 0 5px 10px;
}




/*End of operation map*/




