


.sf-menu.sf-style-pomegranate {
  float: left;
  margin-bottom: 1em;
  padding: 0;
}
.sf-menu.sf-style-pomegranate.sf-navbar {
  width: 100%;
}
.sf-menu.sf-style-pomegranate ul {
  padding-left: 0;
}
.sf-menu.sf-style-pomegranate a {
  /*	border: 1px outset #68000e;*/
  text-decoration:none;
  font-size:24px;
/*font-weight:bold;*/
  color: #0093d0;
  padding: 0.75em 0.5em;
  /*white-space: nowrap;*/
}
.sf-menu.sf-style-pomegranate a.sf-with-ul {

  padding-right: 11px;
  padding-left: 10px;

}
.sf-menu.sf-style-pomegranate.rtl a.sf-with-ul {
  padding-left: 2.25em;
  padding-right: 1em;
}
.sf-menu.sf-style-pomegranate.sf-navbar a {
  border: 0;
}
.sf-menu.sf-style-pomegranate span.sf-description {
  color: #13a;
  display: block;
  font-size: 0.8em;
  line-height: 1.5em;
  margin: 5px 0 0 5px;
  padding: 0;
}
.sf-menu.sf-style-pomegranate li,
.sf-menu.sf-style-pomegranate.sf-navbar {
  /* background: #79001c;      main navigation color*/

}
.sf-menu.sf-style-pomegranate li li{
  background: #00aeef; /*  second level of navigation */

}
.sf-menu.sf-style-pomegranate li li  a{
  color: #ffffff; /*  second level of navigation */
  font-size:16px;
  border-bottom:1px solid #0093d0;
   /*padding-left: 20px;*/

}

.sf-menu.sf-style-pomegranate li li  a:hover{
  color: #ffffff !important; /*  second level of navigation */
  font-size:16px;
  background-color:#7fd6f7;

 /* border-bottom:1px solid #0093d0;*/


}
.sf-menu.sf-style-pomegranate li li li {
  /*background: #5f0016;*/
}
.sf-menu.sf-style-pomegranate li:hover,
.sf-menu.sf-style-pomegranate li.sfHover,
.sf-menu.sf-style-pomegranate li.active a,
.sf-menu.sf-style-pomegranate a:focus,
.sf-menu.sf-style-pomegranate a:hover,
.sf-menu.sf-style-pomegranate a:active,
.sf-menu.sf-style-pomegranate.sf-navbar li li {
 /*background: #bfebfb;*/

  color: #999999;
}
.sf-menu.sf-style-pomegranate.sf-navbar li ul {
 /* background-color: #4c0012;*/
}
.sf-menu.sf-style-pomegranate.sf-navbar li ul li ul {
  background-color: transparent;
}
.sf-menu.sf-style-pomegranate ul.sf-megamenu li.sf-megamenu-wrapper ol,
.sf-menu.sf-style-pomegranate ul.sf-megamenu li.sf-megamenu-wrapper ol li {
	margin: 0;
	padding: 0;
}
.sf-menu.sf-style-pomegranate ul.sf-megamenu li.sf-megamenu-wrapper a.menuparent {
	font-weight: bold;
}
.sf-menu.sf-style-pomegranate ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
	display: inline;
	float: left;
	width: 12em;
}
.sf-menu.sf-style-pomegranate.rtl ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
	float: right;
}
.sf-menu.sf-style-pomegranate li.sf-parent-children-1 ul.sf-megamenu {
	width: 12em;
}
.sf-menu.sf-style-pomegranate li.sf-parent-children-2 ul.sf-megamenu {
	width: 24em;
}
.sf-menu.sf-style-pomegranate li.sf-parent-children-3 ul.sf-megamenu {
	width: 36em;
}
.sf-menu.sf-style-pomegranate li.sf-parent-children-4 ul.sf-megamenu {
	width: 48em;
}
.sf-menu.sf-style-pomegranate li.sf-parent-children-5 ul.sf-megamenu {
	width: 60em;
}
.sf-menu.sf-style-pomegranate li.sf-parent-children-6 ul.sf-megamenu {
	width: 72em;
}
.sf-menu.sf-style-pomegranate li.sf-parent-children-7 ul.sf-megamenu {
	width: 84em;
}
.sf-menu.sf-style-pomegranate li.sf-parent-children-8 ul.sf-megamenu {
	width: 96em;
}
.sf-menu.sf-style-pomegranate li.sf-parent-children-9 ul.sf-megamenu {
	width: 108em;
}
.sf-menu.sf-style-pomegranate li.sf-parent-children-10 ul.sf-megamenu {
	width: 120em;
}

#menu-794-2 > a.active , #menu-794-2.active-trail > a
{
color:#d6006e;
}
/*#region-menu{
z-index:9999 !important;
}*/

#superfish-2 > li
{padding-right:11px;
padding-right:6px\9;
}
@-moz-document url-prefix() {
#superfish-2 > li
{padding-right:17px;
}
}


#superfish-2 > li:last-child
{padding-right:0px !important;}
#superfish-2 > li:last-child a
{padding-right:0px !important;}
#superfish-2 > li:last-child a span
{display:none;}

#superfish-2 > li.last
{padding-right:0px !important;}
#superfish-2 > li.last a
{padding-right:0px !important;}
#superfish-2 > li.last a span
{display:none;}


#superfish-2 > li:hover > ul,
#superfish-2 > li.sfHover > ul {
  top: 50px;
}

.top_menu_arrow
{font-size:10px;
font-size:12px\9;
}

/*************css for Audience Menu starts************/

#superfish-12 > li > a {
    font-size: 15px !important;
    font-weight: bold;
	padding:5px 10px;
}

#superfish-12 > li.active-trail{
  background-color: #f8971d;
	text-decoration: none;
	color: #fff;
}

#superfish-12 > li.active-trail a{
   color: #fff;
}
#superfish-12 > li.active-trail a:hover{
   color: #fff;
}

#superfish-12 > li  {
    z-index:1000 !important;
}
#superfish-12 > li > ul {
    margin-top: -10px;
    padding-left: 10px;
    padding-top: 0 !important;
}
#block-superfish-12 {
    float: right;
    padding-top: 18px;
   /* width: 55%;*/
	margin-right: -20px;
	width: 61%\9;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#block-superfish-12 {
		width: 61%;
		}

	}

/*************css for Audience Menu ends************/
