
/* Page tabs */
.ctm-tab-module {position:relative; margin-top:-35px; height:36px; font:16px "Trebuchet MS", Arial, Helvetica, sans-serif; z-index:3;}
.ctm-tab-module b.shim, .ctm-tab-module b.shim b{position:absolute; bottom:0; left:0; right:0; background-position:right -599px; height:1px;}
.ctm-tab-module b.shim b{background-position:left -549px;}
.ctm-tab-module ul{height:35px; padding-left:38px; border-bottom:1px solid #ccd2d7;}
.ctm-tab-module li, .ctm-tab-module a, .ctm-tab-module span, .ctm-tab-module b{display:block; background:url(/images/content/themes/default/ctm_page_tabs_v3.png) -9999px no-repeat; height:33px; line-height:32px; font-weight:bold;}
.ctm-tab-module li{position:relative; top:3px; float:left; width:226px; text-align:center;}
.ctm-tab-module li a{color:#333; background-position:0 -450px; padding-left:2px;}
.ctm-tab-module li a:hover{text-decoration:none;}
.ctm-tab-module li a span{background-position:0 -250px; background-repeat:repeat-x; padding:0 6px; vertical-align:middle; white-space:nowrap;}
.ctm-tab-module li a span span{background:none !important; padding:0 !important; margin:0 !important;}
.ctm-tab-module li.first a{background-position:left -150px; padding-left:6px;}
.ctm-tab-module li.first a span{padding-left:0;}
.ctm-tab-module li.last{background-position:right -200px; padding-right:6px; width:220px;}
.ctm-tab-module li.last a span{padding-right:0;}
.ctm-tab-module li:hover a span{background-position:0 -400px;}
.ctm-tab-module li.first:hover a{background-position:left -300px;}
.ctm-tab-module li.last:hover{background-position:right -350px;}
.ctm-tab-module li.active, .ctm-tab-module li.active:hover{top:0; left:-11px; padding-right:17px; margin-right:-24px; background-position:right -50px; z-index:1; height:36px; width:232px;}
.ctm-tab-module li.active a, .ctm-tab-module li.active:hover a{background-position:left 0; height:36px; padding-left:17px;}
.ctm-tab-module li.active a span, .ctm-tab-module li.active:hover a span{background-position:0 -100px; padding:2px 0 1px;}

.ctm-tab-module ul.flex li, .ctm-tab-module ul.flex li.active, .ctm-tab-module ul.flex li.active:hover{width:auto;}
.ctm-tab-module ul.flex li a span{padding:0 23px 0 21px;}
.ctm-tab-module ul.flex li.first a span{padding-left:17px;}
.ctm-tab-module ul.flex li.last a span{padding-right:17px;}
.ctm-tab-module ul.flex li.active a span, .ctm-tab-module ul.flex li.active:hover a span{padding:2px 18px 1px;}

.ctm-tab-module li a span img{vertical-align:middle; padding-right:7px; margin-top:-3px; .margin-top:0; opacity:0.56; filter:alpha(opacity=56);}
.ctm-tab-module li.active a span img{opacity:1; filter:alpha(opacity=100);}


/****=Tabs module ****/
.js-collapsible-tabs{position:relative;}
.ctm-html-tabs-module .content{position:relative; z-index:1;}
.ctm-html-tabs-module .foot{display:block; position:absolute; top:35px; bottom:0; left:0; right:0; border:1px solid #ccc; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;  background:#fff; height:auto; z-index:0;}
.ctm-html-tabs-module .head{display:none;}
.ctm-html-tabs-module.border-gradient .foot{background:#fff url('/images/content/themes/default/skin_border_gradient_bg.v2.png') bottom repeat-x;}
.ctm-html-tabs-module .collapsible-tab-titles{margin-left:9px; padding-right:4px;}

.colspan-4 .ctm-html-tabs-module .collapsible-tab-titles ul{.width:891px;}
.colspan-3 .ctm-html-tabs-module .collapsible-tab-titles ul{.width:661px;}
.colspan-2 .ctm-html-tabs-module .collapsible-tab-titles ul{.width:431px;}
.colspan-1 .ctm-html-tabs-module .collapsible-tab-titles ul{.width:201px;}

.collapsible-tab-titles {position:relative; height:36px; font:14px "Trebuchet MS", Arial, Helvetica, sans-serif; z-index:3; overflow:hidden;}
.collapsible-tab-titles ul {height:35px; border-bottom:1px solid #ccd2d7;}
.collapsible-tab-titles li, .collapsible-tab-titles a, .collapsible-tab-titles span {display:block; background:url(/images/content/themes/default/ctm_html_module_tabs_v4.png) -9999px no-repeat; height:33px; line-height:32px; font-weight:bold;}
.collapsible-tab-titles li{position:relative; top:3px; float:left; text-align:center;}
.collapsible-tab-titles li a{color:#666; background-position:0 -450px; padding-left:2px;}
.collapsible-tab-titles li a:hover{text-decoration:none;}
.collapsible-tab-titles li a span{background-position:0 -250px; background-repeat:repeat-x; padding:0 23px; white-space:nowrap;}
.collapsible-tab-titles li a span span{background:none !important; padding:0 !important; margin:0 !important;}
.collapsible-tab-titles li.first a{background-position:left -150px; padding-left:6px;}
.collapsible-tab-titles li.first a span{padding-left:17px;}
.collapsible-tab-titles li.last{background-position:right -200px; padding-right:6px;}
.collapsible-tab-titles li.last a span{padding-right:17px;}
.collapsible-tab-titles li:hover a span{background-position:0 -400px;}
.collapsible-tab-titles li.first:hover a{background-position:left -300px;}
.collapsible-tab-titles li.last:hover{background-position:right -350px;}
.collapsible-tab-titles li.active, .collapsible-tab-titles li.active:hover, .collapsible-tab-titles li.selected, .collapsible-tab-titles li.selected:hover{top:0; left:-8px; padding-right:30px; margin-right:-18px; background-position:right -50px; z-index:1; height:36px;}
.collapsible-tab-titles li.active a, .collapsible-tab-titles li.active:hover a, .collapsible-tab-titles li.selected a, .collapsible-tab-titles li.selected:hover a{background-position:0 0; padding-left:30px; height:36px; color:#333;}
.collapsible-tab-titles li.active a span, .collapsible-tab-titles li.active:hover a span, .collapsible-tab-titles li.selected a span, .collapsible-tab-titles li.selected:hover a span{background-position:0 -100px; padding:2px 2px 1px;}
/* receiver lightbox */
.pm-main .collapsible-tab-titles span, .pm-main .collapsible-tab-titles a{display:inline;}


.contact-tabs .collapsible-tab-titles li a span{padding:0 10px;}
.contact-tabs .collapsible-tab-titles li.first a span{padding-left:6px;}
.contact-tabs .collapsible-tab-titles li.last a span{padding-right:6px;}
.contact-tabs .collapsible-tab-titles li.active, .contact-tabs .collapsible-tab-titles li.active:hover, .contact-tabs .collapsible-tab-titles li.selected, .contact-tabs .collapsible-tab-titles li.selected:hover{padding-right:17px;}
.contact-tabs .collapsible-tab-titles li.active a, .contact-tabs .collapsible-tab-titles li.active:hover a, .contact-tabs .collapsible-tab-titles li.selected a, .contact-tabs .collapsible-tab-titles li.selected:hover a{padding-left:17px;}
.contact-tabs .collapsible-tab-titles li.active a span, .contact-tabs .collapsible-tab-titles li.active:hover a span, .contact-tabs .collapsible-tab-titles li.selected a span, .contact-tabs .collapsible-tab-titles li.selected:hover a span{padding:2px 2px 1px;}


.ctm-html-accordion-module .content {padding-bottom:10px;}
.dtv-accordion .accordion-toggle {background: url('/images/content/themes/default/ctm_accordion.png') right top no-repeat; margin:0; padding:0; height:auto; border:0; padding-right:5px; text-decoration:none; vertical-align:top; color:#333;}
.dtv-accordion .accordion-toggle u {display:block; background: url('/images/content/themes/default/ctm_accordion.png') left top no-repeat; padding-left:26px; height:26px; line-height:27px; text-decoration:none; cursor:pointer; overflow:hidden;}
.dtv-accordion .accordion-toggle u:hover {text-decoration:none;}
.dtv-accordion .accordion-toggle.active {background-position: right -27px; text-decoration:none;}
.dtv-accordion .accordion-toggle.active u {background-position: left -27px; height:27px; color:#fff;}
.dtv-accordion .first .accordion-toggle {background-position: right -54px;}
.dtv-accordion .first .accordion-toggle u {background-position: left -54px;}
.dtv-accordion .first .accordion-toggle.active {background-position: right -81px;}
.dtv-accordion .first .accordion-toggle.active u {background-position: left -81px; height:27px;}
.dtv-accordion .last .accordion-toggle {background-position: right -108px;}
.dtv-accordion .last .accordion-toggle u {background-position: left -108px; height:27px;}
.dtv-accordion .last .accordion-toggle.active {background-position: right -27px;}
.dtv-accordion .last .accordion-toggle.active u {background-position: left -27px; height:27px;}

.dtv-accordion li .head, .dtv-accordion li .head b, .dtv-accordion li .foot, .dtv-accordion li .foot b {display: block; width: auto; height: 10px; margin: 0; padding: 0; font-size: 1px; line-height: 1px; overflow: hidden; background: none;}
.dtv-accordion li .accordion-content {background:none; display: none; margin: 0; padding:0; border:none;}
.dtv-accordion li .accordion-content .head {background: transparent url(/images/content/themes/default/ctm_accordion.png) no-repeat scroll right -135px; margin:0;}
.dtv-accordion li .accordion-content .head b {background: transparent url(/images/content/themes/default/ctm_accordion.png) no-repeat scroll left -135px; width:10px;}
.dtv-accordion li .accordion-content .foot {background: transparent url(/images/content/themes/default/ctm_accordion.png) no-repeat scroll right bottom; margin-top:-10px;}
.dtv-accordion li .accordion-content .foot b {width: 10px;background: transparent url(/images/content/themes/default/ctm_accordion.png) no-repeat scroll left bottom;}
.dtv-accordion li .accordion-content-wrap {background: transparent url(/images/content/themes/default/ctm_accordion_inner.png) right repeat-y; padding:0 10px;}
.dtv-accordion li .accordion-content-inner {background: transparent url(/images/content/themes/default/ctm_accordion_inner.png) left repeat-y;  margin-left:-10px; padding-left:10px; padding-bottom:10px; width:100%; overflow:hidden; }

.alt-skin .dtv-accordion .accordion-toggle {background:none; color:#999;}
.alt-skin .dtv-accordion .accordion-toggle u {background-image: url('/images/content/themes/default/ctm_accordion_open.png'); padding-left:20px;}
.alt-skin .dtv-accordion .accordion-toggle u:hover {color:#666;}
.alt-skin .dtv-accordion .accordion-toggle.active u {color:#09c;}		
.alt-skin .dtv-accordion li .accordion-content .head, .alt-skin .dtv-accordion li .accordion-content .head b, .alt-skin .dtv-accordion li .accordion-content .foot, .alt-skin .dtv-accordion li .accordion-content .foot b {display:none; background:none;}
.alt-skin .dtv-accordion li .accordion-content-wrap {background:url(/images/content/themes/default/list_bg_gradient.png) center 48% repeat-x; border-bottom:1px solid #ebebeb; padding:0 10px; margin-left:10px; margin-bottom:10px;}
.colspan-2 .alt-skin .dtv-accordion li .accordion-content-wrap,
.colspan-3 .alt-skin .dtv-accordion li .accordion-content-wrap,
.colspan-4 .alt-skin .dtv-accordion li .accordion-content-wrap {margin-left:20px; padding:0 16px;}
.alt-skin .dtv-accordion li .accordion-content-inner {background:none;}


/* Page tabs */
.dark-theme .ctm-tab-module {}
.dark-theme .ctm-tab-module ul{border-color:#2a2a2a;}
.dark-theme .ctm-tab-module li, .dark-theme .ctm-tab-module a, .dark-theme .ctm-tab-module span, .dark-theme .ctm-tab-module b{background-image:url(/images/content/themes/dark/ctm_page_tabs_v3.png);}
.dark-theme .ctm-tab-module li a{color:#999;}
.dark-theme .ctm-tab-module li.active a{color:#fff;}

/* Tab module */
.dark-theme .ctm-html-tabs-module .collapsible-tab-titles ul { border-bottom-color:#28292f; }
.dark-theme .collapsible-tab-titles li, .dark-theme .collapsible-tab-titles a, .dark-theme .collapsible-tab-titles span {background-image:url(/images/content/themes/dark/ctm_html_module_tabs_v4.png);}
.dark-theme .collapsible-tab-titles li a{color:#999;}
.dark-theme .collapsible-tab-titles li.active a, .dark-theme .collapsible-tab-titles li.active:hover a, .dark-theme .collapsible-tab-titles li.selected a, .dark-theme .collapsible-tab-titles li.selected:hover a{color:#fff;}
.dark-theme .ctm-html-tabs-module .foot{border-color:#404040; background:#040404;}
.dark-theme .ctm-html-tabs-module.border-gradient .foot{background-color:#040404; background-image:url('/images/content/themes/dark/skin_border_gradient_bg.v2.png');}
.dark-theme .ctm-html-tabs-module .inner-skin, .dark-theme .ctm-html-tabs-module .body {}
.dark-theme .ctm-html-tabs-module.border-gradient .foot, .dark-theme .ctm-html-tabs-module.border-gradient .foot b {}

.dark-theme .dtv-accordion .accordion-toggle {background-image: url(/images/content/themes/dark/ctm_accordion.png); color:#e1e1e1;}
.dark-theme .dtv-accordion .accordion-toggle u {background-image: url(/images/content/themes/dark/ctm_accordion.png);}
.dark-theme .dtv-accordion .accordion-toggle.active u{color:#fff;}

.dark-theme .dtv-accordion li .accordion-content .head, .dark-theme .dtv-accordion li .accordion-content .head b,
.dark-theme .dtv-accordion li .accordion-content .foot, .dark-theme .dtv-accordion li .accordion-content .foot b {background-image: url(/images/content/themes/dark/ctm_accordion.png);}
.dark-theme .dtv-accordion li .accordion-content-wrap, .dark-theme .dtv-accordion li .accordion-content-inner {background-image:url(/images/content/themes/dark/ctm_accordion_inner.png);}

.dark-theme .alt-skin .dtv-accordion .accordion-toggle {background:none; color:#999;}
.dark-theme .alt-skin .dtv-accordion .accordion-toggle u {background-image: url(/images/content/themes/dark/ctm_accordion_open.png); padding-left:20px;}
.dark-theme .alt-skin .dtv-accordion .accordion-toggle u:hover {color:#ccc;}
.dark-theme .alt-skin .dtv-accordion .accordion-toggle.active u{color:#fff;}
.dark-theme .alt-skin .dtv-accordion li .accordion-content-wrap{background-image:url(/images/content/themes/dark/list_bg_gradient.png); border-color:#404040;}