.js-lazy-styles.ctm-order-module{visibility:visible;}

.ctm-order-module{}
.ctl-header .ctm-order-module, 
.ctl-header .ctm-static-order-module{margin-top:6px;}
.ctl-header .cms2OrderModule,
.ctl-header .cms2StaticOrderModule{float:right;}

.cms2StaticOrderModule{/* you obviously don't know what you're doing.  width:100%; */ }
.cms2TargetedStaticOrderModule{ position:relative; width:214px; float:right; margin:30px 8px 8px; }

.ctm-omod-tup{width:214px; position:relative; background:#fff; border-radius:5px; font-size:12px; line-height:1.2em; border:none; color:#555; box-shadow:0 0 4px rgba(0,0,0,0.5); }
.ctm-omod-tup h3{
	margin:0; padding:5px 10px;	border-bottom:1px solid #cacaca;  border-radius:5px 5px 0 0; text-shadow:1px 1px 1px #fff;
	background:#e7e7e7; 	
	background: -moz-linear-gradient(top, #ffffff 0%, #e7e7e7 100%); 
	background: -webkit-linear-gradient(top, #ffffff 0%,#e7e7e7 100%);
}
.ctm-order-module .ctm-omod-tup h3 span{margin:0; font-family:Trebuchet MS, Arial, Sans-serif; font-size:14px; line-height:16px; color:#555;}
.ctm-omod-tup h3 .product-image{float:left; padding-right:8px;}
.ctm-omod-promo img{display:block; border-radius:5px 5px 0 0; box-shadow:0 0 4px rgba(0,0,0,0.5);}
.ctm-omod-promo~.ctm-omod-tup{border-radius:0 0 5px 5px;}


.ctm-omod-pricing-tup{background:#fafafa; border-top:1px solid #fff; border-bottom:1px solid #e8e7e6; border-radius:5px 5px 0 0;}
.ctm-omod-pricing-tup .message{padding:13px 10px; color:#555;}
.ctm-omod-product-images{display:none;}

.ctm-omod-tup .pricing{padding:10px;}
.ctm-omod-tup .pricing span{font-family:Arial,Helvetica,sans-serif; display:inline-block; line-height:21px; margin-top:2px;}
.ctm-omod-tup .pricing .price{font-size:16px; font-weight:bold; padding-right:2px;}
.ctm-omod-tup .pricing .terms{font-size:12px; color:#555;}

.ctm-omod-tup .pricing.radio{padding:0;}
.ctm-omod-tup .pricing.radio fieldset{position:relative; padding:10px; border:none; border-bottom:1px solid #e8e7e6;}
	.ctm-omod-tup .pricing.radio fieldset:last-child{border:none;}
.ctm-omod-tup .pricing.radio fieldset input[type='radio']{display:none; position:absolute; top:50%; margin-top:-11px;}
.ctm-omod-tup .pricing.radio fieldset label{position:relative; left:25px; cursor:pointer;}
.ctm-omod-tup .pricing.radio fieldset label span{}
.ctm-omod-tup .pricing.radio fieldset b.radio{display:block; position:absolute; top:50%; margin-top:-9px; background:#f9f9f9; border:1px solid #c5cad0; width:16px; height:16px; border-radius:10px; box-shadow:inset 0 1px 4px rgba(100,100,100,0.1); cursor:pointer;}
.ctm-omod-tup .pricing.radio fieldset b.radio.selected b{position:absolute; top:3px; left:3px; display:block; background:#6b717c; width:10px; height:10px; border-radius:5px;}

.ctm-omod-tup .pricing.select{padding:10px; height:32px;}
.ctm-omod-tup .pricing.select .faux.dropdown{position:absolute; left:10px; right:10px; border:1px solid #dce0e3; border-radius:4px; box-shadow:inset 0 0 1px rgba(0,0,0,0.1); background:#f4f4f5; cursor:pointer; z-index:1;
	background: -moz-linear-gradient(top, #f4f4f5 0%, #e7e7ed 100%); 
	background: -webkit-linear-gradient(top, #f4f4f5 0%,#e7e7ed 100%);
}
.ctm-omod-tup .pricing.select .faux.dropdown b.arrow{display:block; position:absolute; top:12px; right:10px; width:0; height:0; border:4px solid transparent; border-top:6px solid #666;}
.ctm-omod-tup .pricing.select .faux.dropdown label{display:block; height:16px; line-height:16px; padding:7px 10px; cursor:pointer;}
.ctm-omod-tup .pricing.select .faux.dropdown span{display:inline; line-height:1.2em;}
.ctm-omod-tup .pricing.select .faux.dropdown ul{padding-top:7px; display:none;} 
.ctm-omod-tup .pricing.select .faux.dropdown ul li{padding:0 10px 7px;}
.ctm-omod-tup .pricing.select .faux.dropdown ul li:hover span{color:#09c;}
.ctm-omod-tup .pricing.select .faux.dropdown.open label{display:none;}
.ctm-omod-tup .pricing.select .faux.dropdown.open ul{display:block;}

.ctm-omod-tup .action{background:#f6f4f3; padding:10px; border-top:1px solid #fff; border-radius:0 0 5px 5px;}
.ctm-omod-tup .action .message{padding:5px 0; clear:both;}
.ctm-omod-action{padding-top:10px;}
.ctm-omod-action:first-child{margin-top:-10px;}
.ctm-omod-action:empty{padding:0; margin:0;}
.ctm-omod-action .medium-button, .ctm-omod-action .medium-button span{display:block;}
.ctm-omod-action label{float:left; padding-right:4px; color:#555;}
.ctm-omod-action .small-button{float:right;}
.ctm-omod-action-set{margin:0 -2px;}
.ctm-omod-action-set:first-child{padding-bottom:0;}
.ctm-omod-action-set label{font-weight:bold; font-size:11px; color:#516E7D;}

/*
.ctm-omod-action-tup .btn-mid-act, .ctm-omod-action-tup .btn-mid-act span{display:block;}
#mod_125298_2 .ctm-static-order-module .ctm-omod-tup h3 span{font-weight:bold;}
#mod_125298_2 .ctm-static-order-module .ctm-omod-tup .ctm-omod-product-tup .ctm-static-content .ctm-omod-pricing-tup .message{border-bottom:1px solid #E8E7E6; padding-top:13px; text-align:left;}
*/

.ctm-omod-terms-tup{background:#f6f4f3; margin-top:-3px; padding-bottom:3px; border-radius:0 0 5px 5px;}
.ctm-omod-terms-tup a{background: url(/images/content/ordermodule/omod_product_bg.v4.png) 50% -207px no-repeat; display:block; height:16px; text-indent:-9999px;}
.ctm-omod-terms-tup a:hover{background-position: 50% -227px;}

/* Style for collapsible and expand behavior of Order Module */
.expand-fields fieldset, .ctm-omod-tup .hideHeader h3, .collapsible-img{display:none;}
.expand-fields fieldset.blockFieldset, .ctm-omod-tup .showHeader, #showArrow {display:block!important;}

.ctm-omod-tup .collapsible-img {padding:5px; background:#ededed; border-top:1px solid #fff; border-bottom:1px solid #e8e7e6; text-align:center;}
.ctm-omod-tup .collapsible-img .arrow{display:inline-block; position:relative; width:0; height:0; border:7px solid transparent; border-top:7px solid #fff; border-bottom:0;}
.ctm-omod-tup .collapsible-img .arrow b{display:inline-block; position:absolute; left:-7px; top:-8px; height:0; width:0; height:0; border:7px solid transparent; border-top:7px solid #555; border-bottom:none;}
.ctm-omod-tup .collapsible-img.fields-collapse .arrow{border-top:none; border-bottom:7px solid #fff;}
.ctm-omod-tup .collapsible-img.fields-collapse .arrow b{top:-1px; border-top:none; border-bottom:7px solid #555;}
/* End of style for collapsible and expand behavior of Order Module*/

/* Style for sticky behavior of Order Module */
.fixed {position:fixed!important; top:180px; z-index:4; margin-top:0px!important; /*margin-left:728px;*/}
.fixed .ctm-omod-tup h3
.fixed .ctm-omod-tup.expand-fields .pricing.radio fieldset{border:none;}
/* End of style for sticky behavior of Order Module */


.ctm-static-content .action{border-top:1px solid #e8e7e6;} /* static order modules */
	.ctm-static-content .ctm-omod-action-tup{background:#f6f4f3; padding:10px; border-top:1px solid #fff; border-radius:0 0 5px 5px; text-align:center;}
	.ctm-static-content .ctm-omod-action-tup .message{padding:5px 0;}
.ctm-static-order-module .ctm-omod-tup .ctm-omod-pricing-tup{height:auto; padding:0; background:none; border-bottom:none;}
/* why would any one put this in here???  .ctl-area-b .ctm-tup{min-height:200px;} */
.OM-call-to-order-prospect, .call-800-prospect, .OM-final-positioning, .OM-call-to-order, .call-800{position:static; padding:0 !important; margin:0 !important; background:none; text-align:left; height:auto;}
.OM-call-to-order-prospect, .OM-call-to-order{padding:15px 10px !important; border-bottom:1px solid #e8e7e6;}
.call-800-prospect{background:#f6f4f3; padding:10px !important; font-size:16px; font-weight:bold; color:#333;}
.call-800{background:#f6f4f3; padding:15px 10px !important; font-size:16px; font-weight:bold; border-radius:0 0 5px 5px;}
.OM-final-positioning{background:#f6f4f3; padding:10px !important; font-size:11px; border-radius:0 0 5px 5px;}
.call-800-prospect~.OM-final-positioning{margin-top:-10px !important; padding-top:1px !important;}
.ctm-static-order-module .inline-legal-dark {background:#f6f4f3; color:#999; font-size:10px; line-height:15px; clear:both; border-radius:0 0 5px 5px;}
.ctm-omod-tup .pricing-single{padding:10px;}
.ctm-omod-tup .pricing-single span{font-family:Arial,Helvetica,sans-serif; display:inline-block; line-height:21px; margin-top:2px;}
.ctm-omod-tup .pricing-single .price{font-size:16px; font-weight:bold; padding-right:2px;}


/* clears */
.ctm-omod-tup h3, .ctm-omod-tup .pricing, .ctm-omod-tup .action{zoom:1;}
.ctm-omod-tup h3:after, .ctm-omod-tup .pricing:after, .ctm-omod-tup .action:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}

/* error messages inside orderModule */
.ctm-omod-product-tup div.error-message{background:none;border:none;}
