
/* Video Module */
.ctm-video-module{-webkit-transform:translateZ(0);}
.ctm-video-module .playlist li{position:relative;z-index:5;list-style:none;}
.ctm-video-module .playlist li dl{background:url(/images/assets/videoplayer/bg-video-carousel-item.v2.png) no-repeat;width:102px;display:block;}
.ctm-video-module .playlist li span{display:block;width:102px;height:58px;background:url('') no-repeat center;}
.ctm-video-module .playlist li:hover dl dt{height:35px;position:absolute;top:13px;left:35px;height:35px;width:35px;background:url(/images/assets/videoplayer/carousel_video_playbutton.v2.png) no-repeat;}
.ctm-video-module .playlist li:hover dl{background-position:0 -85px;}
.ctm-video-module .playlist li:hover dl dd.short-title{color:#09c;}
.ctm-video-module .playlist li.selected dl{background-position:0 -172px;}
.ctm-video-module .playlist li dd.short-title{margin-top:8px; text-align:left;}

.ctm-video-module .video-display .scrollbar-v{width:15px;height:100%;cursor:pointer;position:relative;}
.ctm-video-module .video-display .scrollbar-v div{background:url(/images/assets/videoplayer/videoplayer-scrollbar-sprite.png) no-repeat;width:15px;line-height:0;font-size:1px;background-position:0 -85px;}
.ctm-video-module .video-display .scrollbar-v .start, .scrollbar-v .end{position:absolute;height:4px;background-repeat:no-repeat;}
.ctm-video-module .video-display .scrollbar-v .start{top:-4px}
.ctm-video-module .video-display .scrollbar-v .end{bottom:-4px}
.ctm-video-module .video-display .scrollbar-v .track{position:absolute;background-image:none;background-color:#333;top:0;left:4px;width:8px;bottom:0;}
.ctm-video-module .video-display .scrollbar-v .track .start{background:transparent;}
.ctm-video-module .video-display .scrollbar-v .track .end{background:transparent;}
.ctm-video-module .video-display .scrollbar-v .handle .end{background:transparent;}
.ctm-video-module .video-display .scrollbar-v .handle .start{background:transparent;}

.ctm-video-module .video-display{position:relative;background-color:#000;}
.ctm-video-module .video-display .display-layer{position:absolute;top:0;left:0;background:transparent;}
.ctm-video-module .video-display .video-flash{z-index:1;position:relative;overflow:hidden;}
.ctm-video-module .video-display .video-flash div{position:absolute;top:0;left:0;width:100%;height:100%;}
.ctm-video-module .video-display .video-flash div.flash{z-index:2;}
.ctm-video-module .video-display .video-flash div *{width:100%;height:100%;}
.ctm-video-module .video-display .video-loading{z-index:2;background-color:#111;overflow:hidden;background:url(/images/global/ajax/loading_40px.dark.gif) 50% 50% no-repeat;}
.ctm-video-module .video-display .video-loading img{width:100%;height:100%;}
.ctm-video-module .video-content{z-index:0;background-color:#000;color:#fff;position:relative;}
.ctm-video-module .video-content .endFrame{position:absolute;cursor:pointer;background-color:#000;text-align:center;}
.ctm-video-module .video-content .endFrame img{position:relative;top:1px;height:99%;width:99%;z-index:4;}
.ctm-video-module .video-content .title{line-height:16px;font-size:16px;position:absolute;font-family:Arial;font-weight:bold;color:#999;}
.ctm-video-module .video-content .description-tup{overflow:hidden;position:absolute;}
.ctm-video-module .video-content .description-tup .description{position:relative;font-family:Arial,Helvetica,sans-serif;color:#fff;}
.ctm-video-module .video-content .description-tup .scrollbar{position:absolute;right:0;top:0;width:20px;}
.ctm-video-module .video-content .channel-logo {position:absolute;}

.colspan-2 .ctm-video-module .video-display .scrollbar-v .track{height:106px;}
.colspan-3 .ctm-video-module .video-display .scrollbar-v .track{height:156px;}
.colspan-4 .ctm-video-module .video-display .scrollbar-v .track{height:208px;}
.colspan-2 .ctm-video-module .video-display .scrollbar-v .handle{position:absolute;left:0;background-position:0 0;height:30px;}
.colspan-3 .ctm-video-module .video-display .scrollbar-v .handle{position:absolute;left:0;background-position:0 -29px;height:53px;}
.colspan-4 .ctm-video-module .video-display .scrollbar-v .handle{position:absolute;left:0;background-position:0 -85px;height:70px;}
.colspan-2 .ctm-video-module .video-display, .colspan-2 .ctm-video-module .video-display .display-layer{width:444px;height:271px;}

.colspan-3 .ctm-video-module .video-display .display-layer{width:864px;height:481px;left: -2px;}
.colspan-3 .ctm-video-module .video-display .video-flash.cmp-adv-on{width:675px;height:379px;border: 1px solid #222223;border-top-right-radius:0px;border-top-left-radius:0px;left: 0px;}
.colspan-3 .ctm-video-module .video-display {width:860px;border-top-left-radius: 9px;border-top-right-radius: 9px;margin-left:2px;}

.colspan-3 .ctm-video-module .ep_player_lb_div{width:866px;height:0px;position:absolute;top:550px;}
.colspan-3 .ctm-video-module .ep_player_lb_div span{display:none;float:left;}
.colspan-3 .ctm-video-module .ep_player_lb_div span._fwac{margin: 0px 1px 5px 1px;}
.colspan-3 .ctm-video-module .ep_player_lb_div.lb-adv-on{display:block;height:80px;padding:5px;}
.colspan-3 .ctm-video-module .ep_player_lb_div.lb-adv-on span{display:block}
.colspan-3 .ctm-video-module .ep_player_cpm_adv{display: none;position: absolute;top:60px;right:0px;}
.colspan-3 .ctm-video-module .ep_player_cpm_adv.active{width:300px;height:250px;display:inline-block; margin-top:80px;left:688px;}
.colspan-3 .ctm-video-module .ep_player_cpm_adv.default{background:url(/images/assets/videoplayer/300x250_Advertisment.jpg) repeat-x 0 0;}

.colspan-4 .ctm-video-module .video-display, .colspan-4 .ctm-video-module .video-display .display-layer{width:904px;height:530px;}
.colspan-2 .ctm-video-module .video-display{background:url(/images/assets/videoplayer/video_2col_gradient.png) repeat-x 0 0;}
.colspan-4 .ctm-video-module .video-display{background:url(/images/assets/videoplayer/video_4col_gradient.png) repeat-x 0 0;}

.colspan-2 .ctm-video-module .flash-inset .video-flash, .colspan-2 .ctm-video-module .video-content .endFrame{width:186px;height:105px;left:19px;top:52px;border:1px solid #333;}
.colspan-3 .ctm-video-module .flash-inset .video-flash, .colspan-3 .ctm-video-module .video-content .endFrame{width:426px;height:239px;left:20px;top:52px;border:1px solid #333;}
.colspan-4 .ctm-video-module .flash-inset .video-flash, .colspan-4 .ctm-video-module .video-content .endFrame{width:368px;height:210px;left:65px;top:107px;border:1px solid #333;}
.colspan-3 .ctm-video-module .flash-inset.lb-adv-on .ep_player_lb_div{height:80px;width:300px;display:block;}


.colspan-2 .ctm-video-module .video-content .channel-logo {right:19px;top:21px;}
.colspan-3 .ctm-video-module .video-content .channel-logo {left:20px;top:17px;}
.colspan-4 .ctm-video-module .video-content .channel-logo {right:65px;top:64px;}

.colspan-2 .ctm-video-module .video-content .title{left:19px;top:29px;}
.colspan-3 .ctm-video-module .video-content .title{left:20px;top:82px;}
.colspan-3 .ctm-video-module .video-content.active-season-info .title{top:82px;}
.colspan-4 .ctm-video-module .video-content .title{left:65px;top:70px;}

.colspan-3 .ctm-video-module .video-display .video-content .season-info{display:none;}
.colspan-3 .ctm-video-module .video-display .video-content.active-season-info .season-info{display:block;margin-top:102px;font-size:14px;color:#ccc;font-family:Arial;font-weight:normal;}
.colspan-3 .ctm-video-module .video-display .video-content ul li{float:left}
.colspan-3 .ctm-video-module .video-display .video-content ul li.season-no {margin-left:19px;}
.colspan-3 .ctm-video-module .video-display .video-content ul li.pipe {margin-left:10px;margin-top:-1px;}
.colspan-3 .ctm-video-module .video-display .video-content ul li.episode-no {margin-left:8px;width: auto;font-size: 24px;font-family: DTV-DIN,'Arial',sans-serif;color: #bbbbbb;text-shadow: 0 1px 1px #000;}

.colspan-2 .ctm-video-module .video-content .description-tup{width:214px;height:105px;right:12px;top:52px;}
.colspan-3 .ctm-video-module .video-content .description-tup{width:358px;height:153px;right:30px;top:115px;}
.colspan-4 .ctm-video-module .video-content .description-tup{width:382px;height:207px;right:59px;top:107px;}
.colspan-2 .ctm-video-module .video-content .description-tup .scrollbar{height:106px;}
.colspan-3 .ctm-video-module .video-content .description-tup .scrollbar{height:156px;}
.colspan-4 .ctm-video-module .video-content .description-tup .scrollbar{height:208px;}
.colspan-2 .ctm-video-module .video-content .description-tup .description{font-size:11px;line-height:13px;}
.colspan-3 .ctm-video-module .video-content .description-tup .description{font-size:16px;line-height:16px;color:#999;font-weight:bold;}
.colspan-4 .ctm-video-module .video-content .description-tup .description{font-size:16px;line-height:17px;}
.ctm-video-module .video-content .has-scrollbar .description {margin-right:35px;}
.ctm-video-module .video-content .share {position:absolute;left:19px;top:230px;}
.colspan-3 .ctm-video-module .video-content .share {left:20px; top:252px;}
.colspan-4 .ctm-video-module .video-content .share {left:65px; top:272px;}
.ctm-video-module .video-content a.video-replay{display:block;position:absolute;float:none;z-index:5;height:60px;width:60px;margin:0;padding:0;overflow:hidden;text-indent:-9999px;text-decoration:none;background:#000 url(/images/assets/videoplayer/video_replay_sprite.v2.png) 0 0 no-repeat;}
.colspan-2 .ctm-video-module .video-content a.video-replay{width:186px;height:105px;left:20px;top:53px;background-position:50% 23px;background-color:transparent;}
.colspan-3 .ctm-video-module .video-content a.video-replay{width:276px;height:157px;left:48px;top:81px;background-position:50% 48px;background-color:transparent;}
.colspan-4 .ctm-video-module .video-content a.video-replay{width:368px;height:210px;left:66px;top:108px;background-position:50% 74px;background-color:transparent;}
.colspan-2 .ctm-video-module .video-content a.video-replay:hover{background-position:50% -157px;}
.colspan-3 .ctm-video-module .video-content a.video-replay:hover{background-position:50% -132px;}
.colspan-4 .ctm-video-module .video-content a.video-replay:hover{background-position:50% -106px;}
.ctm-video-module .video-content a.video-replay:hover{background-color:transparent;z-index:5;}

.ctm-video-module .flash-hidden .video-flash{width:0 !important;height:0 !important;}

.ctm-video-module .message-container {position:absolute;height:87%;width:100%;top:0;z-index:2;background:#000 url(/images/eportal/videoplayer/player_messaging_bg.png) center repeat-x;top:70px;}
.ctm-video-module .message-container .dtv-message-tup {background-color:transparent; background-position:0 11px; padding-left:28px; border:0; color:#fff; margin:22% auto; width:332px; behavior:none;}
.ctm-video-module .message-container .dtv-message-tup .error-message,
.ctm-video-module .message-container .dtv-message-tup .warning-message {}
.ctm-video-module .message-container .dtv-message-tup ul li {line-height:16px; margin:0;}
.ctm-video-module .message-container .dtv-message-tup ul li code {display:none;}
.colspan-4 .ctm-video-module .message-container .dtv-message-tup{width:622px; margin-top:20%;}
.colspan-3 .ctm-video-module .message-container .dtv-message-tup{width:332px; margin-top:22%;top:70px;}
.colspan-2 .ctm-video-module .message-container .dtv-message-tup{width:262px; margin-top:25%;}

/* Video Module Playlist */
.ctl-tup .ctm-video-module p {padding-top:0;}
.ctm-video-module .h-carousel{margin-top:12px; background:#fff; position:relative; border:1px solid #ccc; -moz-border-radius:4px; -webkit-border-radius:4px; -o-border-radius:4px; -ms-border-radius:4px; -khtml-border-radius:4px; border-radius:4px; }
.ctm-video-module .ep-carousel-prev, .ctm-video-module .ep-carousel-next{background-image:url(/images/content/carousel/carousel_arrow_sprites_dark.png); width:18px; height:120px; cursor:pointer; top: 1px;}
.ctm-video-module .ep-carousel-prev.disabled, .ctm-video-module .ep-carousel-next.disabled{opacity:0.5;filter:alpha(opacity=50);cursor:default;}
.ctm-video-module .h-carousel .playlist{height:126px;}
.ctm-video-module .h-carousel .playlist-notitle{margin-top:-22px;}
.ctm-video-module .h-carousel .playlist div{height:117px; overflow:hidden; position:absolute; right:22px; left:22px}
.ctm-video-module .h-carousel .playlist .title-text{font-size:14px; color:#666; padding:7px 0 5px 12px;}

.ctm-video-module .playlist-items {}
.ctm-video-module .h-carousel div.playlist-items-list {left:0;right:auto;overflow:visible;}
.ctm-video-module .playlist ol {height:87px;width:10000px;list-style:none;position:absolute;}

.ctm-video-module .h-carousel .playlist li{position:relative; margin:6px 0 0 0; padding-right:18px; background-color:#fff;}
.ctm-video-module .h-carousel .playlist li.last .end-marker{position:absolute; left:105px; top:-4px; display:block; background:url(/images/content/carousel/carousel_end_marker_light.png) -97px top no-repeat; width:1px; height:66px;}
.ctm-video-module .h-carousel .playlist li h4{display:none;}
.ctm-video-module .h-carousel .playlist li dd.short-title{color:#333;}
.ctm-video-module .h-carousel .playlist li.selected dd.short-title{color:#000;}
.colspan-2 .ctm-video-module .h-carousel .playlist{width:442px;}
.colspan-3 .ctm-video-module .h-carousel .playlist{width:672px;}
.colspan-4 .ctm-video-module .h-carousel .playlist{width:902px;}
.colspan-2 .ctm-video-module .h-carousel .playlist div.playlist-items{left:50px;right:46px;}
.colspan-3 .ctm-video-module .h-carousel .playlist div.playlist-items{left:45px;right:41px;}
.colspan-4 .ctm-video-module .h-carousel .playlist div.playlist-items{left:40px;right:36px;}
.colspan-2 .ctm-video-module .ep-carousel-prev{margin-left:24px;}
.colspan-2 .ctm-video-module .ep-carousel-next{margin-right:24px;}
.colspan-3 .ctm-video-module .ep-carousel-prev{margin-left:19px;}
.colspan-3 .ctm-video-module .ep-carousel-next{margin-right:19px;}
.colspan-4 .ctm-video-module .ep-carousel-prev{margin-left:14px;}
.colspan-4 .ctm-video-module .ep-carousel-next{margin-right:14px;}


/* Video Player Enhancement */
.ctm-video-module  .video-title-bar div {position:relative;display:block;float:left;} 
.ctm-video-module  .video-title-bar {width:866px;height:70px; background: -webkit-linear-gradient(#2c2d30,#1b1c1e);background: -webkit-linear-gradient(#2c2d30,#1b1c1e); /* For Safari 5.1 to 6.0 */
                                    background: -o-linear-gradient(#2c2d30,#1b1c1e); /* For Opera 11.1 to 12.0 */
                                    background: -moz-linear-gradient(#2c2d30,#1b1c1e); /* For Firefox 3.6 to 15 */
                                    background: linear-gradient(#2c2d30,#1b1c1e); /* Standard syntax */
                                    background: -ms-linear-gradient(top, #2c2d30 0%,#1b1c1e 100%);
                                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c2d30', endColorstr='#1b1c1e',GradientType=0 );
                                    -webkit-box-shadow: inset 0px 1px 0px 5px rgba(61, 61, 61, 0);
                                    -moz-box-shadow: inset 0px 1px 0px 5px rgba(61, 61, 61, 0);
                                    box-shadow: inset 0px 1px 0px 5px rgba(61, 61, 61, 0);
                                    -webkit-border-top-right-radius: 8px;
                                    -webkit-border-top-left-radius: 8px;
                                    -moz-border-top-right-radius: 8px;
                                    -moz-border-top-left-radius: 8px;
                                    border-top-right-radius: 8px;
                                    border-top-left-radius: 8px;
                                    margin-top:-68px;margin-left:-3px; 
                                    }
.ctm-video-module  .advertisement-titlebar {position:relative;width:1000px;height:70px; background-color:#1a1c1f; 
                                    background: -webkit-linear-gradient(#2c2d30,#1b1c1e);background: -webkit-linear-gradient(#2c2d30,#1b1c1e); /* For Safari 5.1 to 6.0 */
                                    background: -o-linear-gradient(#2c2d30,#1b1c1e); /* For Opera 11.1 to 12.0 */
                                    background: -moz-linear-gradient(#2c2d30,#1b1c1e); /* For Firefox 3.6 to 15 */
                                    background: linear-gradient(#2c2d30,#1b1c1e); /* Standard syntax */
                                    background: -ms-linear-gradient(top, #2c2d30 0%,#1b1c1e 100%);
                                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c2d30', endColorstr='#1b1c1e',GradientType=0 );
                                    -webkit-box-shadow: inset 0px 1px 0px 5px rgba(61, 61, 61, 0);
                                    -moz-box-shadow: inset 0px 1px 0px 5px rgba(61, 61, 61, 0);
                                    box-shadow: inset 0px 1px 0px 5px rgba(61, 61, 61, 0); 
                                    -webkit-border-top-right-radius: 8px;
                                    -webkit-border-top-left-radius: 8px;
                                    -moz-border-top-right-radius: 8px;
                                    -moz-border-top-left-radius: 8px;
                                    border-top-right-radius: 8px;
                                    border-top-left-radius: 8px;}
.ctm-video-module  .video-title-bar .header-logo {width:auto;margin-top:20px;margin-left:20px;}
.ctm-video-module  .video-title-bar .header-title {width:auto;margin-top:20px; margin-left:15px;font-size:24px;font-family:DTV-DIN,'Arial',sans-serif;color:#bbbbbb;text-shadow:0 1px 1px #000;}
.ctm-video-module  .video-title-bar .title-season-info {width:auto; margin-top:20px;font-size:24px;color:#bbbbbb;text-shadow:0 1px 1px #000}
.ctm-video-module  .video-title-bar .header-overlay {width:22px;height:22px;margin-left:14px;margin-top:25px;cursor:pointer;background: url(/images/global/lightbox/infoicon.png) no-repeat -1px 0;}
.ctm-video-module  .video-title-bar .title-season-info.hidden{ display:none; }
.ctm-video-module  .video-title-bar .title-season-info.shown{ display:block; }
.ctm-video-module  .video-advertise-bar {width: 866px;
height: 69px;
background-color: #1a1c1f;
/* -webkit-box-shadow: 0px 2px 0px 3px rgba(0, 0, 0, 0.5); */
/*-moz-box-shadow: 0px 2px 0px 3px rgba(0, 0, 0, 0.5);*/
/* box-shadow: 0px 2px 0px 3px rgba(0, 0, 0, 0.5); */
margin-top:0px;margin-left:-3px;
/*margin-left: 1px;*/}
.ctm-video-module a {text-decoration: none;text-indent:-9999px;}
.ctm-video-module  .lb-close-lightbox {position:absolute;display:block;float: none; z-index: 3; top: 20px; right: 20px; left: auto; width: 24px; height: 23px; overflow: hidden; background: url(/images/global/lightbox/closeicon_sprite.png) no-repeat -1px 0; background-position:-15px -12px;}
.ctm-video-module  .lb-close-lightbox:hover {background-position:-62px -13px ;}
.ctm-video-module  .adv-count-display {text-shadow: 0 1px 1px #000;font-size: 24px;font-family: DTV-DIN,'Arial',sans-serif;color: #bbbbbb;padding:0px;position: relative; float: left; margin-top: 24px;margin-left:20px;}

#lb_video_player .lightbox-tup {padding: 0px; margin: 24px;width: 864px; height:483px; border-top-left-radius: 9px;
border-top-right-radius: 9px;top:68px;border:1px solid #222223;}
.ie #lb_video_player .lightbox-tup{border-top-left-radius: 0px; border-top-right-radius: 0px;}

/* Video information */
.ctm-video-module  .video-info { position:absolute; top:70px; z-index: 9999;}
.ctm-video-module  .video-overlay-info {width:746px;height:auto; max-height:300px;border-bottom-right-radius:5px;border-bottom-left-radius:5px;background-color:#222;left:57px;
                                        stroke: #323436;stroke-width: 1px;
}
.ctm-video-module .video-overlay {height:auto;}
.ctm-video-module  .video-overlay-info .video-info-container { height:auto;width:100%;}
.ctm-video-module  .video-overlay-info .video-divider-info{width:520px; float:left; margin:21px 30px 25px 0px;}
.ctm-video-module  .video-overlay-info .video-divider-info .overlay-title{max-height:50px; width:592px;}
.ctm-video-module  .video-overlay-info .poster-social {float: left;}
.ctm-video-module  .video-overlay-info .poster {margin:26px 10px 40px 20px;stroke: #35373f;stroke-width: 2px;}
.ctm-video-module  .video-overlay-info .js-video-poster img{width:100px;height:150px;}
.ctm-video-module  .video-overlay-info .season-info.hidden{ display:none; }
.ctm-video-module  .video-overlay-info .season-info.shown{ display:block; }
.ctm-video-module  .video-overlay-info .season-info {display:block;font-size:14px;color:#ccc;font-family:Arial;font-weight:normal;margin-top:13px;}
.ctm-video-module  .video-display .video-content .title-season-info ul li.season-no {margin-left:2px;width: auto;font-size: 24px;font-family: DTV-DIN,'Arial',sans-serif;color: #bbbbbb;text-shadow: 0 1px 1px #000;}
.ctm-video-module  .video-overlay-info .season-info ul li{padding-right:5px;float:left;font-size:18px;}
.ctm-video-module  .video-overlay-info .season-info ul li.first-aired {font-size:18px;font-family:Arial;color:#8e949b;}
.ctm-video-module  .video-overlay-info .season-info ul li.first-aired .val {color:#ccc;font-weight:bold;}
.ctm-video-module  .video-overlay-info .season-info ul li.pipe{width: 2px;height: 22px;color: #2c3235;-webkit-box-shadow: -1px 0px 0px 0px rgba(27, 29, 32, 0);
                                                           -moz-box-shadow:-1px 0px 0px 0px rgba(27, 29, 32, 0);
                                                            box-shadow:-1px 0px 0px 0px rgba(27, 29, 32, 0); padding-left: 2px;padding-right: 10px;}
.ctm-video-module  .video-overlay-info .title {font-size:24px;color:#ccc;font-family:DTV-DIN,'Arial',sans-serif;}
.ctm-video-module  .video-overlay-info .episodeTitle {font-size:24px;color:#8e949b;font-family:DTV-DIN,'Arial',sans-serif;}
.ctm-video-module  .video-overlay-info .description-tup {float:left;font-size:18px;color:#bbbbbb;font-family:Arial;overflow:hidden;position:relative;margin-top:10px;margin-bottom:20px;width:592px;height:auto;max-height:160px;}
.ctm-video-module  .video-overlay-info .description-tup .description{position: relative; margin-right: 15px;} 
.ctm-video-module  .video-overlay-info .description-tup .scrollbar{position:absolute;right:0;top:0;width:20px;height:160px;}
.video-overlay-info .video-divider-info .share{display:inline-block;position:relative;float:left;}
.lb-tup .share-links {position:relative;margin-top:0px;}

.share .facebook  span{height:15px !important;}
/*.facebook iframe{width:450px !important;height:330px !important;} */

