
.scroller-v{position:relative; background:url('/images/content/themes/default/skin_1px_stroke.png') right repeat-y; height:360px}
		.scroller-v .shadow-left, .scroller-v .shadow-right{position:absolute; top:10px; left:1px; display:block; background:url('/images/content/scroller/cms2_scroller_v_shadows.png') bottom repeat-x; _background-image:expression("none"); _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/content/scroller/cms2_scroller_v_shadows.png',sizingMethod='scale'); width:212px; height:20px; overflow:hidden; z-index:2}
		.scroller-v .shadow-right{background-position:top; top:auto; bottom:10px; bottom:8px;}
			.colspan-2 .scroller-v .shadow-left, .colspan-2 .scroller-v .shadow-right{width:442px;}
			.colspan-3 .scroller-v .shadow-left, .colspan-3 .scroller-v .shadow-right{width:672px;}
			.colspan-4 .scroller-v .shadow-left, .colspan-4 .scroller-v .shadow-right{width:902px;}
		.scroller-v a.nav-previous, .scroller-v a.nav-next{position:absolute; width:214px; height:20px; display:block; cursor:pointer; z-index:3}
			.scroller-v a.nav-next{background-position:left bottom; bottom:0; .bottom:-2px; _bottom:-1px;}
			.scroller-v a.nav-next:hover{background-position:-214px bottom;}
			.colspan-2 .scroller-v a.nav-previous, .colspan-2 .scroller-v a.nav-next{width:444px;}
			.colspan-3 .scroller-v a.nav-previous, .colspan-3 .scroller-v a.nav-next{width:674px;}
			.colspan-4 .scroller-v a.nav-previous, .colspan-4 .scroller-v a.nav-next{width:904px;}		
			.scroller-v a.nav-previous b, .scroller-v a.nav-next b{ display:block; height:20px; background:  url(/images/content/scroller/cms2_scroller_v_buttons.png) no-repeat;}
			.scroller-v a.nav-previous b b,  .scroller-v a.nav-next b b{float:right; width:50%; padding-left:10px;}
			.scroller-v a.nav-previous b b b,  .scroller-v a.nav-next b b b{float:left; _display:inline; width:20px; padding-left:0; margin-left:-10px;}
			.scroller-v a.nav-previous:hover, .scroller-v a.nav-next:hover{cursor:pointer;}
			.scroller-v .disabled a.nav-previous, .scroller-v .disabled a.nav-previous:hover,
			.scroller-v .disabled a.nav-next, .scroller-v .disabled a.nav-next:hover{cursor:default;}
			.scroller-v a.nav-previous b    {background-position: left   0;}
			.scroller-v a.nav-previous b b  {background-position: right  0;}
			.scroller-v a.nav-previous b b b{background-position: center 0;}
			.scroller-v a.nav-previous:hover b    {background-position: left   -40px;}
			.scroller-v a.nav-previous:hover b b  {background-position: right  -40px;}
			.scroller-v a.nav-previous:hover b b b{background-position: center -40px;}
			.scroller-v a.nav-previous b    {background-position: left   0;}
			.scroller-v a.nav-previous b b  {background-position: right  0;}
			.scroller-v a.nav-previous b b b{background-position: center 0;}
			.scroller-v .disabled a.nav-previous b, .scroller-v .disabled a.nav-previous:hover b        {background-position: left   -80px;}
			.scroller-v .disabled a.nav-previous b b, .scroller-v .disabled a.nav-previous:hover b b    {background-position: right  -80px;}
			.scroller-v .disabled a.nav-previous b b b, .scroller-v .disabled a.nav-previous:hover b b b{background-position: center -80px;}
			.scroller-v a.nav-next b    {background-position: left   -20px;}
			.scroller-v a.nav-next b b  {background-position: right  -20px;}
			.scroller-v a.nav-next b b b{background-position: center -20px;}
			.scroller-v a.nav-next:hover b    {background-position: left   -60px;}
			.scroller-v a.nav-next:hover b b  {background-position: right  -60px;}
			.scroller-v a.nav-next:hover b b b{background-position: center -60px;}
			.scroller-v .disabled a.nav-next b, .scroller-v .disabled a.nav-next:hover b        {background-position: left   -100px;}
			.scroller-v .disabled a.nav-next b b, .scroller-v .disabled a.nav-next:hover b b    {background-position: right  -100px;}
			.scroller-v .disabled a.nav-next b b b, .scroller-v .disabled a.nav-next:hover b b b{background-position: center -100px;}
		.scroller-v .scrollarea{position:absolute; height:286px; width:15px; right:4px; top:37px; z-index:2;}
		.scroller-v .content{position:relative; background:url('/images/content/themes/default/skin_1px_stroke.png') left repeat-y;  overflow:hidden; z-index:1; clear:both;  height:290px; padding:35px 0 15px;}
			.scroller-v .content ul{position:relative; _height:0.01%;}
				.scroller-v .content ul li{float:left; padding:0; margin:0 10px 23px 0; cursor:pointer; width:82px; height:90px}		

.scrollbar-v{width:15px; height:100%; cursor:pointer; position:relative;}
		.scrollbar-v div{background:url(/images/content/scroller/v-scrollbar-sprite.v2.png) repeat-y; width:15px;  line-height:0; font-size:1px; }
		.scrollbar-v .start, .scrollbar-v .end {position:absolute; height:4px; background-repeat:no-repeat}
		.scrollbar-v .start{top:-4px}
		.scrollbar-v .end{bottom:-4px}
		.scrollbar-v .track{background-position:-20px 0; top:0; bottom:12px; position:absolute}
		.scrollbar-v .track .start{background-position:-40px 0}
		.scrollbar-v .track .end{background-position:0 0}
		.scrollbar-v .handle{position:absolute; left:0; background-position:-80px 0; height:50%}
		.scrollbar-v .handle .end{background-position:-60px 0}
		.scrollbar-v .handle .start{background-position:-100px 0}
		.scrollbar-v:hover .handle, .scrollbar-v.hover .handle{background-position:-140px 0}
		.scrollbar-v:hover .handle .end, .scrollbar-v.hover .handle .end{background-position:-120px 0}
		.scrollbar-v:hover .handle .start, .scrollbar-v.hover .handle .start{background-position:-160px 0}