.js-lazy-styles.in-page-gallery{visibility:hidden;}

/* Media Module */
.ctm-media-module .playlist {position:relative; overflow:hidden}
.ctm-media-module .playlist ul {list-style:none; position:relative; overflow:hidden}
.ctm-media-module .playlist li {cursor:pointer; float:left}
.ctm-media-module .playlist li dl{background:url(/images/assets/mediaplayer/bg-carousel-item.png) no-repeat; width:93px; display:block; }
.ctm-media-module .playlist li span{display:block; width:93px; height:54px; background:url('') no-repeat center;}
.ctm-media-module .playlist li:hover dl{background-position:0 -80px}
.ctm-media-module .playlist li.selected dl{background-position:0 -80px}
.ctm-media-module .playlist li dd.short-title{margin-top:10px; text-align:left;}
.ctm-media-module .playlist li img {display:none;}

.ctm-media-module .pagination {position:absolute; width:100%;  height:9px}
.ctm-media-module .h-carousel .pagination {top:8px;  height:9px}
.ctm-media-module .h-carousel .pagination div {position:absolute;right:7px}
.ctm-media-module .pagination span, .ctm-media-module .pagination li {background:url(/images/assets/mediaplayer/sprites/pager.png) no-repeat; width:9px; height:9px; margin:0 5px; cursor:pointer; float:left}
.ctm-media-module .pagination span.next-page {background-position:-10px 0}
.ctm-media-module .pagination ul {float:left}
.ctm-media-module .pagination li {background-position:-11px -14px}
.ctm-media-module .pagination li:hover, .ctm-media-module .pagination li.hover {background-position:0 -14px;}
.ctm-media-module .pagination li.active {background-position:0 -14px}

/* Horizontal carousel */
.ctm-media-module .h-carousel { background:#eee; position:relative; border:1px solid #d2d6d9; border-top:none; -moz-border-radius:0 0 4px 4px; -webkit-border-radius:0 0 4px 4px; border-radius:0 0 4px 4px; }
.ctm-media-module .h-carousel .playlist {height:117px}
.ctm-media-module .h-carousel .playlist b {display:none; width:12px; height:117px; background:url(/images/assets/mediaplayer/sprites/bg-carousel-h.png) no-repeat left top; position:absolute}
.ctm-media-module .h-carousel .playlist b.corner-left {left:0}
.ctm-media-module .h-carousel .playlist b.corner-right {background-position:right -122px; right:0}
.ctm-media-module .h-carousel .playlist div {height:117px; overflow:hidden; position:absolute; right:22px; left:22px}
.ctm-media-module .h-carousel .playlist .title-text {display:block; font-family:Trebuchet MS,Arial,Helvetica,sans-serif; font-size:15px;color:#626262; font-weight:bold; text-align:left;  line-height:18px; padding:4px 0 0 12px;}

.ctm-media-module .h-carousel .playlist ul {height:87px}
.ctm-media-module .h-carousel .playlist li {margin:6px 18px 0 0}
.ctm-media-module .h-carousel .playlist li h4{display:none}
.ctm-media-module .h-carousel .playlist li dd.short-title{display:block; font-family:Trebuchet MS,Arial,Helvetica,sans-serif; font-size:12px;color:#212121; font-weight:bold; line-height:12px;}
.ctm-media-module .h-carousel .playlist li:hover dd.short-title{color:#09c}
.ctm-media-module .h-carousel .playlist li.selected dd.short-title{color:#09c}

/* Vertical carousel */
.ctm-media-module .v-carousel {background:url(/images/assets/mediaplayer/sprites/bg-carousel-v.png) repeat-x left bottom; height:200px; position:relative}
.ctm-media-module .v-carousel .playlist {height:200px; width:215px}
.ctm-media-module .v-carousel .playlist b {display:block; width:2px; height:200px; background:#fff url(/images/assets/mediaplayer/sprites/bg-carousel-v.png) no-repeat left top; position:absolute}
.ctm-media-module .v-carousel .playlist b.corner-left {left:0}
.ctm-media-module .v-carousel .playlist b.corner-right {background-position:right -202px; right:0}
.ctm-media-module .v-carousel .playlist div {height:160px; margin:0 10px; overflow:hidden; position:relative}
.ctm-media-module .v-carousel .playlist li {clear:both; margin:12px 0 0 0; height:40px; overflow:hidden; position:relative; width:190px}
.ctm-media-module .v-carousel .playlist li:hover, .ctm-media-module .v-carousel .playlist li.hover {color:#09c}
.ctm-media-module .v-carousel .playlist li h4{margin:auto 0 auto 8px; float:left; width:100px}
.ctm-media-module .v-carousel .pagination {width:200px; bottom:12px; overflow:hidden}
.ctm-media-module .v-carousel .pagination div {height:9px; margin:0 auto}
.ctm-media-module .v-carousel .pagination .prev-page {margin-left:16px}


.in-page-gallery {overflow:hidden;-webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none;}
.in-page-gallery .photo-container li a:hover span{ background-image: url('/images/carousel/photo_gallery/media_module.png'); background-position: -115px -89px;background-repeat: no-repeat; position: absolute; left: 0px; top: 0px;width:63px;height: 60px;}
.in-page-gallery .photo-container li a span:hover{display: block; background-position: -180px -89px;}
.in-page-gallery .title{font-family: "Trebuchet MS";font-weight:bold;font-size:18px;color:#333;height: 40px;background-image: url('/images/carousel/photo_gallery/media_module.png');}

.in-page-gallery .photo-container{overflow:hidden;position:relative;}
.in-page-gallery img {margin: 0;padding: 0;}
.in-page-gallery .gallery-footer {padding-top: 8px;}

.colspan-4 .in-page-gallery {height:589px;width:904px;margin-top: 8px;}
.colspan-4 .in-page-gallery ul {list-style-type: none;width: 1200px;position:relative;overflow:hidden;height:508px;}
.colspan-4 .in-page-gallery img{height: 508px;}
.colspan-4 .in-page-gallery .title {background-position: -7px -209px;}
.colspan-4 .in-page-gallery .photo-description {width: 770px;}

.colspan-3 .in-page-gallery {height:460px;width:675px;margin-top: 8px;}
.colspan-3 .in-page-gallery ul {list-style-type: none;width: 1200px;position:relative;overflow:hidden;height:377px;}
.colspan-3 .in-page-gallery img{height: 377px;}
.colspan-3 .in-page-gallery .title {background-position: -7px -181px;}
.colspan-3 .in-page-gallery .photo-description {width: 534px;}

.colspan-2 .in-page-gallery {height:348px;width:444px;margin-top: 8px;}
.colspan-2 .in-page-gallery ul {list-style-type: none;width: 1200px;position:relative;overflow:hidden;height:250px;}
.colspan-2 .in-page-gallery img{height: 250px;}
.colspan-2 .in-page-gallery .title {background-position: -7px -153px;}
.colspan-2 .in-page-gallery .photo-description {width: 326px;}

.in-page-gallery .photo-description {float: left;}
.in-page-gallery li {list-style-type: none outside none;padding: 0;margin-right: 0px;float: left;position: relative;}
.in-page-gallery .gallery-footer{font-family: Arial;font-size: 12px;color: #666;line-height: 17px;}
.in-page-gallery .gallery-pagination{font-size: 16px;font-weight: bold;color: #666;float: right;position:relative;top: 0;}
.in-page-gallery .arrow{position: relative;float: left;background-image: url('/images/carousel/photo_gallery/media_module.png');z-index: 9999;background-position: -10px -20px;height: 55px;width: 46px;}
.in-page-gallery .arrow:hover{background-position: -200px -20px;cursor:pointer;}
.in-page-gallery .right-arrow{background-position: -136px -20px;}
.in-page-gallery .right-arrow:hover{background-position: -326px -20px;cursor:pointer;}

.in-page-gallery .transparent-layer{margin: 0;padding:0;position:absolute;z-index: 9000;}
.in-page-gallery .layer-right{position:absolute;z-index: 9000;top:48px;}
.in-page-gallery .layer-right img{position:absolute;z-index: 9000;top:0px;display:none;}