/* eportal carousel */
.ep-carousel-tup.js-lazy-styles{visibility:visible;}

.cms2CarouselModule{}
.cms2CarouselModule .border-only, .cms2CarouselModule .border-gradient, .cms2CarouselModule .emphasis-border-gradient, .cms2CarouselModule .top-of-page-border-gradient{}
.cms2CarouselModule  h1 span .icon, .cms2CarouselModule  h2 span .icon, .cms2CarouselModule  h3 span .icon, .cms2CarouselModule  h1 span img, .cms2CarouselModule  h2 span img, .cms2CarouselModule  h3 span img {margin-bottom:-5px;}
/* why is this here?
.cms2CarouselModule .ctm-grouping .content{overflow:visible;}
*/


.last-carousel{padding-bottom:16px;}
.after-carousel{margin-top:24px}
.ep-carousel-ajax {height:60px;background:transparent url(/images/global/ajax/loading_24px.gif) no-repeat center center;}
.dark-theme .ep-carousel-ajax {background-image:url(/images/global/ajax/loading_24px.black.gif);}
.ep-carousel{position:relative;}
	.ep-carousel h2{}
	.ep-carousel .content{padding-left:12px; padding-right:12px;}
	.ep-carousel .content h3, .ep-carousel .content h4 {color: #666;}
	.dark-theme .ep-carousel .content h3, .ep-carousel .content h4 {color: #fff;}
	.ep-carousel-1 .content h3 { font-size: 12px; }
	.ep-carousel .body{width:auto; padding-top:1px;} /* to add up to 16px padding above the header */
		.ep-carousel .none .body{padding-top:0;}	
	.ep-carousel .view-all{display:block; position:absolute; top:0; right:10px;}
	.ep-carousel .ep-carousel-tup{position:relative; padding-top:2px }	
	.ep-carousel .ep-carousel-slider{position:relative; left:7px; height:170px; margin-top:-2px; padding-top:3px; width:636px; overflow:hidden;}
		.ep-carousel-slider .head{display:none;}
		.ep-carousel .ep-carousel-slider ul{position:absolute; margin:0; padding:0; width:9999px;}
		.ep-carousel .ep-carousel-slider ul.data{display:none;}
		.ep-carousel .ep-carousel-slider ul li{float:left; width:106px; padding:0; margin:0;}
		.ep-carousel .ep-carousel-slider dd a{color:#333;}
		.ep-carousel .ep-carousel-slider dl:hover dd a{color:#09c; text-decoration:none;}
		.ep-carousel .ep-carousel-slider dt{display:none;}
		.ep-carousel .ep-carousel-slider dd{display:none;}
		.ep-carousel .ep-carousel-slider dd a.btn-sm-act span{padding:0 0 0 6px; height:auto; line-height:18px;}
		.ep-carousel .ep-carousel-slider dl .image, .ep-poster-sm{display:block; width:82px; height:122px; margin:0 auto; padding:0; cursor:pointer; border:1px solid #999;}
		.ep-carousel .ep-carousel-slider dl .image img, .ep-poster-sm img{border:1px solid #fff; display:block; padding:0px; width:80px; height:120px; visibility:visible;}
		.ep-carousel .ep-carousel-slider dl .title-short{display:block; font-family:Trebuchet MS,Arial,Helvetica,sans-serif; font-size:12px; font-weight:bold; text-align:left; width:84px; height:18px; line-height:18px; overflow:hidden; padding:4px 0 3px; margin:auto;}
		.ep-carousel .ep-carousel-slider dl .title-short a{display:block; width:84px; overflow:hidden;  text-overflow:ellipsis; white-space:nowrap;}
		.ep-carousel .ep-carousel-slider dl:hover .image, .ep-poster-sm:hover{border:1px solid #0099cc;}
		.ep-carousel .ep-carousel-slider dl:hover .image img, .ep-poster-sm:hover, .ep-poster-sm img:hover{border:1px solid #0099cc;}
		.ep-carousel .ep-carousel-slider dl .action{display:block; width:90px; margin:0 auto;}
		.ep-carousel .ep-carousel-slider dl.placeholder {height:120px;width:80px;display:block;}

	.ep-carousel .ep-carousel-content{position:absolute; padding:0; margin:0;}
	.listings-content-list .ep-carousel-content{position:relative;}
	.ep-carousel li .channel{display:none;}
	.ep-carousel li .bullet{display:none;}
	
	
	.ep-carousel .end-marker{height:140px;left:1px;position:absolute;background-image:url('/images/content/carousel/carousel_end_marker_light.png');top:-3px;width:106px;}
	.ep-carousel-1 .end-marker{height:140px;left:-8px;position:absolute;background-image:url('/images/content/carousel/carousel_end_marker_light.png');top:-3px;width:106px;}
	.ep-carousel-2 .end-marker{height:140px;left:-2px;position:absolute;background-image:url('/images/content/carousel/carousel_end_marker_light.png');top:-3px;width:106px;}
	
	.cms2GroupingModule.cms2CarouselModule .none{padding:0 12px;}
	.cms2GroupingModule.cms2CarouselModule .none .none{padding:0;}
	.cms2GroupingModule.cms2CarouselModule .ctm-grouping{padding-top:8px;}
	.ctm-grouping .ep-carousel h2{font-size:14px; line-height:14px;}
	.cms2GroupingModule.cms2CarouselModule h2, .cms2GroupingModule.cms2CarouselModule .intro{padding-left:10px;}
	.cms2GroupingModule.cms2CarouselModule .skin h2, .cms2GroupingModule.cms2CarouselModule .skin .intro{padding-left:0;}
	.cms2GroupingModule.cms2CarouselModule .skin h2{margin-top:4px;padding-bottom:4px;}
	.cms2GroupingModule.cms2CarouselModule .skin p.intro{margin-top:-3px;line-height:12px;}

	/*.ctm-grouping .border-only .ep-carousel, .ctm-grouping .border-gradient .ep-carousel, .ctm-grouping .emphasis-border-gradient .ep-carousel, .ctm-grouping .top-of-page-border-gradient .ep-carousel{padding:0;}*/
	.colspan-1 .ctm-grouping .colspan-1 .ep-carousel-tup, 
	.colspan-2 .ctm-grouping .colspan-2 .ep-carousel-tup,
	.colspan-3 .ctm-grouping .colspan-3 .ep-carousel-tup,
	.colspan-4 .ctm-grouping .colspan-4 .ep-carousel-tup{padding-bottom:21px; margin-bottom:2px;}
	.ctm-tup .ctm-grouping .ctm-tup .grouped-last .ep-carousel-tup,
	.colspan-4 .ctm-grouping .colspan-1 .grouped-last .ep-carousel-tup,
	.colspan-4 .ctm-grouping .colspan-3 .grouped-last .ep-carousel-tup,
	.colspan-4 .ctm-grouping .colspan-2 .grouped-last .ep-carousel-tup,
	.colspan-3 .ctm-grouping .colspan-2 .grouped-last .ep-carousel-tup,
	.colspan-3 .ctm-grouping .colspan-1 .grouped-last .ep-carousel-tup,
	.colspan-2 .ctm-grouping .colspan-1 .grouped-last .ep-carousel-tup{margin-bottom:-6px;}
	
	.colspan-1 .ctm-grouping .cms2CarouselModule.colspan-1 .grouped{background:url(/images/content/carousel/carousel_separator_col1.png) bottom no-repeat;}
	.colspan-2 .ctm-grouping .cms2CarouselModule.colspan-2 .grouped{background:url(/images/content/carousel/carousel_separator_col2.png) bottom no-repeat;}
	.colspan-3 .ctm-grouping .cms2CarouselModule.colspan-3 .grouped{background:url(/images/content/carousel/carousel_separator_col3.png) bottom no-repeat;}
	.colspan-4 .ctm-grouping .cms2CarouselModule.colspan-4 .grouped{background:url(/images/content/carousel/carousel_separator_col4.png) bottom no-repeat;}
	.ctm-tup .ctm-grouping .cms2CarouselModule.ctm-tup .grouped-last{background:none;}
	
	.ep-carousel-prev, .ep-carousel-next{position:absolute; top:4px; background:url(/images/content/carousel/carousel_arrow_sprites_light.png) no-repeat; width:18px; height:120px; cursor:pointer;}
	.ep-carousel-prev, .ep-carousel-prev.disabled:hover, .ipad .ep-carousel-prev:hover{background-position:4px 43px; left:-6px;}
	.ep-carousel-next, .ep-carousel-next.disabled:hover, .ipad .ep-carousel-next:hover{background-position:-95px 43px; right:-6px;}
	
	.ep-carousel-4 .ep-carousel-prev, .ep-carousel-4 .ep-carousel-prev.disabled:hover{background-position:4px 43px; left:-1px;}
	.ep-carousel-4 .ep-carousel-next, .ep-carousel-4 .ep-carousel-next.disabled:hover{background-position:-95px 43px; right:-1px;}
	
	
	.ep-carousel-prev:hover{background-position:4px -57px;}
	.ep-carousel-next:hover{background-position:-95px -57px;}
	.ep-carousel-prev.disabled, .ep-carousel-next.disabled {opacity:0.43;filter:alpha(opacity=43); cursor:default;}
		.dark-theme .ep-carousel-prev.disabled, .dark-theme .ep-carousel-next.disabled {opacity:0.23;filter:alpha(opacity=23);}
	.ep-search-carousel .ep-carousel-prev, .ep-search-carousel .ep-carousel-next{display:none;}
		
	.ep-carousel-feed{}
		.ep-carousel-feed .view-all{display:none;}
	
	.ep-carousel-4 .content h2 { padding-left : 3px; }
	.ep-carousel-4 .ep-carousel-tup{width:880px;}
	.ep-carousel-4 .ep-carousel-slider{width:848px; left:16px;}
	.ep-carousel-3 .ep-carousel-tup{width:650px;}
	.ep-carousel-3 .ep-carousel-slider{width:626px; left:12px;}
	.ep-carousel-3 .ep-carousel-content{margin-left:-5px;}
	.ep-carousel-3 .ep-carousel-slider ul li{width:106px;}
	.ep-carousel-2 .ep-carousel-tup{width:419px;}
	.ep-carousel-2 .ep-carousel-slider{width:400px; left:10px;}
	.ep-carousel-2 .ep-carousel-slider ul li{width:100px;}
	.ep-carousel-1 .ep-carousel-tup{width:190px;}	
	.ep-carousel-1 .ep-carousel-slider{width:158px; left:16px;}
	.ep-carousel-1 .ep-carousel-content{margin-left:-57px;}
	.ep-carousel-1 .ep-carousel-slider ul li{width:91px;}
	.ep-carousel-1 .ep-carousel-slider ul li.item-0 .title-short, .ep-carousel-1 .ep-carousel-slider ul li.item-0 .action,
	.ep-carousel-1 .ep-carousel-slider ul li.item-2 .title-short, .ep-carousel-1 .ep-carousel-slider ul li.item-2 .action{display:none;}
	.ep-carousel-1 .view-all{position:relative; left:0; right:auto;}
	.ctm-tup .ep-carousel-1 h1, .ctm-tup .ep-carousel-1 h2{font-size:14px; line-height:14px;margin-bottom:11px;}	

		
	.ep-carousel-1-single .ep-carousel-slider{width:100px; left:48px;}
		.ep-carousel-1-single .ep-carousel-content{margin-left:0;}
		.ep-carousel-1-single .ep-carousel-slider ul li{width:91px;}
		.ep-carousel-1-single .ep-carousel-slider ul li.item-0 .title-short, .ep-carousel-1-single .ep-carousel-slider ul li.item-0 .action,
		.ep-carousel-1-single .ep-carousel-slider ul li.item-2 .title-short, .ep-carousel-1-single .ep-carousel-slider ul li.item-2 .action{display:block;}
		
	.ep-carousel-1 .ep-carousel-prev, .ep-carousel-1 .ep-carousel-next{width:50px; height:140px; top:0;}
	.ep-carousel-1 .ep-carousel-prev, .ep-carousel-1 .ep-carousel-prev.disabled:hover, .ipad .ep-carousel-1 .ep-carousel-prev:hover{background-position:4px 47px; left:-5px;}
	.ep-carousel-1 .ep-carousel-next, .ep-carousel-1 .ep-carousel-next.disabled:hover, .ipad .ep-carousel-1 .ep-carousel-next:hover{background-position:-63px 47px; right:-5px;}
	.ep-carousel-1 .ep-carousel-prev:hover{background-position:4px -53px;}
	.ep-carousel-1 .ep-carousel-next:hover{background-position:-63px -53px;}
	
	.ep-carousel-contingency .ep-carousel-slider{display:none;}

	.ipad .ep-carousel {-webkit-tap-highlight-color:transparent;}

		
.ep-feed-module{}
	.ep-feed-module .content { padding-bottom:0 }
	.ep-feed-module .intro{}
	.ep-feed-module .view-all{}

	
.ep-feed-list{position:relative;}
	.ctm-tup.cms2CarouselModule.cms2GroupingModule{margin-top:0;}
	.ep-feed-list .none{margin-bottom:-8px;}
	.ep-feed-list .body{width:auto;}
	.ep-feed-list .skin .content{padding:8px 10px 3px;}
	.ctm-grouping .ep-feed-list{padding:0 20px 11px 0;}
	.ctm-tup.cms2CarouselModule .ep-feed-list  h2{font-size:18px; line-height:18px; margin-top:0;}
	.ctm-tup.cms2CarouselModule .ep-feed-list  h3{font-size:14px; line-height:14px; margin-top:0;}	
	.ctm-tup.cms2CarouselModule.cms2GroupingModule .ep-feed-list h2,
	.ctm-tup.cms2CarouselModule.cms2GroupingModule .ep-feed-list h3{margin-top:4px; margin-bottom:7px;}
	.ctm-tup.cms2CarouselModule.cms2GroupingModule .ep-feed-list h3.no-border{}
	.ctm-tup.cms2CarouselModule .none .ep-feed-list h2, 
	.ctm-tup.cms2CarouselModule .none .ep-feed-list h3{background:url('/images/content/themes/default/ctm_header_separator.png') 90% bottom no-repeat; padding-bottom:9px; margin-bottom:7px; margin-top:0;}
	.ctm-tup.cms2CarouselModule .none .ep-feed-list h3.no-border{background:none; padding:0; margin-bottom:7px;}
	.ep-feed-list ul{}
	.ep-feed-list li{position:relative; height:24px;}
	.ep-feed-list li dl {position:relative; display:inline-block; margin-left:0px; .float:left;}
	.ep-feed-list li dl dd{display:none;}
	.ep-feed-list li dl dt{position:relative; display:inline-block; padding:0 1px 0 px; line-height:22px; height:24px; font-family:Trebuchet MS, Arial, Helvetica, Sans-Serif; overflow:hidden;}
	.ep-feed-list .ep-carousel-prev, .ep-feed-list .ep-carousel-next {display:none;}
	.ep-feed-list-bulleted .channel{position:absolute; top:0; right:0;}
	.channel-bug{display:inline-block; height:15px; width:35px; margin:0 2px; text-align:center; background:url(/images/eportal/global/ep_channel_bug.png) no-repeat; font-size:11px; line-height:15px; font-weight:normal; color:#333;}
	.ep-feed-list-bulleted .channel, .channel-bug{}
	.ep-feed-list-bulleted li dl dt{padding-right:30px;}
	.ep-feed-list .bullet{position:absolute; top:0; left:-3px; display:block; background:url(/images/eportal/lists/ep_list_bullet.png) no-repeat; width:23px; height:22px; text-indent:-9999px;}
	.ep-feed-list li dl a{color:#333; font-weight:bold;}
	.ep-feed-list li dl a:hover{color:#09c; text-decoration:none;}
	.ep-feed-list-bulleted .skin .content,  .ctm-grouping .ep-feed-list-bulleted{padding-left:20px;}
		/* .imaged-carousel: ny custom css class */
		.imaged-carousel .ep-feed-list-bulleted .skin .content,  .ctm-grouping .imaged-carousel .ep-feed-list-bulleted{padding-left:0; padding-right:0;} 
		.ctm-grouping .imaged-carousel .ep-feed-list-bulleted{padding-bottom:0;}
		.imaged-carousel .ep-feed-list-bulleted .skin .content p,  .ctm-grouping .imaged-carousel .ep-feed-list-bulleted p{margin:0;}
	.colspan-1 .ep-feed-list-bulleted .skin .content,  .ctm-grouping.colspan-1 .ep-feed-list-bulleted{padding-left:12px; padding-right:12px;}
	.ep-feed-list-numbered .num-1{background-position:0 -100px;}
	.ep-feed-list-numbered .num-2{background-position:0 -200px;}
	.ep-feed-list-numbered .num-3{background-position:0 -300px;}
	.ep-feed-list-numbered .num-4{background-position:0 -400px;}
	.ep-feed-list-numbered .num-5{background-position:0 -500px;}