@charset "UTF-8";
/* CSS Document */

@import url("reset.css")/*tpa=http://www.nobleenergyinc.com/styles/reset.css*/;

.wt-rotator .c-panel{
	display: none !important;
}

body { color: #333; font: 12px/15px Arial, Helvetica, sans-serif; width: 100% }

html {
	background: url(../images/2012/bgd_body.jpg)/*tpa=http://www.nobleenergyinc.com/images/2012/bgd_body.jpg*/ 0 0 repeat-x #333;
	width: 100%;
}

#container {
	margin: 0 auto;
	position: relative;
	width: 950px;
}

#head {
	background: url(../images/2012/bgd_head.jpg)/*tpa=http://www.nobleenergyinc.com/images/2012/bgd_head.jpg*/ 0 0 repeat-x #333;
	height: 85px;
}
div#logo { float: left; }
	div#logo a img { margin-top: 32px; }

div#search { float: right; padding-top: 20px; }
	div#search .searchinternal { float: left; margin-left: 15px; vertical-align: bottom; }
	div#search .last { margin-right: 5px; }
	#nyse a.ticker:hover { text-decoration: none; }

#content {
	background: url(../images/2012/bgd_content.jpg)/*tpa=http://www.nobleenergyinc.com/images/2012/bgd_content.jpg*/ 0 0 repeat-x #FEFEFE;
	clear: both;
	padding: 0 10px;
}

#navigation { 
	height: 30px;
	margin-bottom: 15px;
}
	#navigation li {
		display: block;
		float: left;
		margin-right: 10px;
	}
		#navigation .last { margin-right: 0; }
		#navigation li a {
			color: #fff;
			display: block;
			font: bold 14px/14px Arial, Helvetica, sans-serif;
			height: 23px;
			padding: 7px 0 0 10px;
			text-decoration: none;
			width: 135px;
		}
			#navigation li a:hover, #navigation li .active { color: #333; }
	
#leftcolhome, #leftcol { clear: both; }

#leftcol, #rightcol { float: left; width: 140px; }
#centercol { float: left; padding: 0 10px; width: 630px; }
#centercol.noleft {
	width: 740px;
	padding-right: 20px;
}

#sub-navigation .title { border-bottom: none; padding: 0; }	
	#sub-navigation .title h3 {
		background: url(../images/2012/bgd_h3.gif)/*tpa=http://www.nobleenergyinc.com/images/2012/bgd_h3.gif*/ 0 0 no-repeat;
		border-bottom: none;
		color: #fff;
		height: 17px;
		margin: 0;
		padding: 3px 0 0 10px;
		width: 130px;
	}

#leftcolhome { 
	float: left;
	margin-right: 10px;
	width: 630px;
}

#homebuckets {
	height: 300px;
}
	#homebuckets li {
		float: left;
		margin-right: 10px;
		width: 150px;
	}
		#homebuckets .last { margin-right: 0; }
	#homebuckets li .headline { 
		background: url(../images/2012/bgd_blue_headline.jpg)/*tpa=http://www.nobleenergyinc.com/images/2012/bgd_blue_headline.jpg*/ 0 0 repeat-x #0B8AD7;
		color: #fff;
		display: block;
		font-weight: bold;
		padding: 2px 0 0 7px;
		height: 18px;
		width: 143px;
	}
		#homebuckets li .headline:hover { text-decoration: none; }
	#homebuckets li img {
		display: block;
		margin: 10px 0; 
	}


#rightcolhome {
	float: left;
	width: 290px;
}

#resources li {
	float: left;
	width: 140px;
}

	#resources .left { margin-right: 10px; }
	#resources .left ul li, #resources .right  ul li, #toolkit li, #resource li, .linklist2 li { margin-bottom: 10px; }
	#resources .left ul li h3, #toolkit li h3, h3.toolkit {
		background: url(../images/2012/title_shareholder_kit.gif)/*tpa=http://www.nobleenergyinc.com/images/2012/title_shareholder_kit.gif*/ 0 0 no-repeat;
		border-bottom: none;
		height: 20px;
		margin: 0;
		text-indent: -9999px;
		width: 145px; 
	}
	#resources .right ul li h3, #resource li h3, h3.resourceCenter {
		background: url(../images/2012/title_resources.gif)/*tpa=http://www.nobleenergyinc.com/images/2012/title_resources.gif*/ 0 0 no-repeat;
		border-bottom: none;
		height: 20px;
		margin: 0;
		text-indent: -9999px;
		width: 145px; 
	}
	h3.toolkit, h3.resourceCenter { margin-bottom: 10px; }
	h3.resourceCenter { margin-top: 20px; }
	
	h3.shareholderTools {
    		background: url("../images/2011/title_shareholderTools.gif")/*tpa=http://www.nobleenergyinc.com/images/2011/title_shareholderTools.gif*/ no-repeat scroll left top transparent;
    		border-bottom: none;
    		height: 20px;
    		margin: 0;
		text-indent: -9999px;
		width: 145px; 
	}
	
a.ar13 {
    background: url("../images/2013/13AR.png")/*tpa=http://www.nobleenergyinc.com/images/2013/13AR.png*/ no-repeat scroll left top transparent;
    display: block;
    height: 60px;
    padding: 5px 0 0 47px;
}
a.AR13 {
    background: url("../images/2013/13AR.png")/*tpa=http://www.nobleenergyinc.com/images/2013/13AR.png*/ no-repeat scroll left top transparent;
    display: block;
    height: 60px;
    padding: 5px 0 0 47px;
}
a.AR12 {
    background: url("../images/2012/12AR.png")/*tpa=http://www.nobleenergyinc.com/images/2012/12AR.png*/ no-repeat scroll left top transparent;
    display: block;
    height: 60px;
    padding: 5px 0 0 47px;
}
a.AR {
    background: url("../images/2012/11AR.png")/*tpa=http://www.nobleenergyinc.com/images/2012/11AR.png*/ no-repeat scroll left top transparent;
    display: block;
    height: 60px;
    padding: 5px 0 0 47px;
}
a.SR {
    background: url("../images/2013/NBL_2012SR.jpg")/*tpa=http://www.nobleenergyinc.com/images/2013/NBL_2012SR.jpg*/ no-repeat scroll left top transparent;
    display: block;
    height: 57px;
    padding: 5px 0 0 47px;
}
a.factSheet {
    background: url("../images/2011/fact_sheet.png")/*tpa=http://www.nobleenergyinc.com/images/2011/fact_sheet.png*/ no-repeat scroll left top transparent;
    display: block;
    height: 60px;
    padding: 5px 0 0 47px;
}
a.latestPres {
    background: url("../images/2013/NBL_2013_AD.jpg")/*tpa=http://www.nobleenergyinc.com/images/2013/NBL_2013_AD.jpg*/ no-repeat scroll left top transparent;
    display: block;
    height: 40px;
    padding: 5px 0 0 47px;
}
a.SR13 {
    background: url("../images/nbl_sustainability_2013.jpg")/*tpa=http://www.nobleenergyinc.com/images/nbl_sustainability_2013.jpg*/ no-repeat scroll left top transparent;
    display: block; 
    height: 60px;
    padding: 5px 0 0 47px;
}
a.interestOwners {
    background: url("../images/2011/interest_owners.png")/*tpa=http://www.nobleenergyinc.com/images/2011/interest_owners.png*/ no-repeat scroll left top transparent;
    display: block;
    height: 45px;
    padding: 5px 0 0 47px;
}
	
.features { clear: both; margin-bottom: 40px; }
	.features p { display: block; height: 50px; }
		.features p img { padding-right: 10px; }

#resource li { min-height: 55px; }
	#resource .title { min-height: 0; }


#footer {
	margin-top: 100px;
	min-height: 100px;
	padding: 0 0 100px 150px;
}
	#footer a, #footer p { color: #999; font-size: 11px; }
	#footer p { margin-bottom: 0; }
	
#fmGrid3 tr td { padding-bottom: 15px; }	

h1 {
	border-bottom: 1px dotted #333333;
    	clear: both;
    	color: #333333;
    	font-family: Arial,Helvetica,Geneva,sans-serif;
    	font-size: 24px;
    	font-weight: normal;
    	margin: 0 0 10px;
    	padding: 20px 0 10px;
    	text-transform: uppercase;
}

h3 { 
	border-bottom: 1px solid #bcbcbc;
	color: #428CC6;
	font-weight: bold;
	margin: 15px 0;
	padding-bottom: 5px;
}

p { margin-bottom: 15px; }

a { color: #333; outline: none; text-decoration: none; }
	a:hover { color: #428cc6; text-decoration: underline; }

hr {
	background-color: #bcbcbc;
	border: 0;
	color: #ccc;
	height: 1px;
	margin-bottom: 10px;
}

strong { font-weight: bold; }

.clearfloat { clear: both; }

.banner, .banner-careers { background-color: #333; height: 110px; margin-bottom: 20px; text-align: right; }
	.banner img:first-child { padding-right: 15px; }
	
.banner-careers img:first-child { float: left; padding-left: 15px; }
	
p.leadin, .leadinParagraph {
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 16px;
    line-height: 22px;
}

p.leadin a, .blue { color: #428CC6; }

.ctBulletinDate {
    color: #428CC6;
    display: block;
    font-family: Arial,Helvetica,Geneva,sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin: 10px 0 2px;
    padding: 0 0 2px;
}

#stockTicker {
    background: none repeat scroll 0 0 #CCCCCC;
    color: #333333;
    cursor: pointer;
    line-height: 19px;
    padding: 0;
    text-align: center;
    width: 150px;
}
#stockTicker .exchange, #stockTicker .ticker {
    font-weight: bold;
}
#stockTicker .change.up {
    background: url("../images/stock_up.gif")/*tpa=http://www.nobleenergyinc.com/images/stock_up.gif*/ no-repeat scroll 0 2px transparent;
    padding: 0 0 0 9px;
}
#stockTicker .change.down {
    background: url("../images/stock_down.gif")/*tpa=http://www.nobleenergyinc.com/images/stock_down.gif*/ no-repeat scroll 0 2px transparent;
    padding: 0 0 0 9px;
}

form#srchForm { background: url("../images/bkg_search.gif")/*tpa=http://www.nobleenergyinc.com/images/bkg_search.gif*/ no-repeat scroll left top transparent; width: 150px; }
#srchForm input#SearchValue {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #FFFFFF;
    height: 20px;
    vertical-align: top;
    width: 108px;
}
#srchForm input#btnSearch {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    margin: 0;
    padding: 0;
    position: relative;
    top: 1px;
}


table.mgt_bios td.col_1 {
    padding: 0 15px 20px 0;
}
table.mgt_bios td.col_2 {
    padding: 0 15px 20px 0;
}
table.mgt_bios td.col_3 {
    padding: 0 0 20px;
}
table.mgt_bios img {
    padding: 0 0 10px;
}
table.mgt_bios a.mgt_name, table.mgt_bios span.mgt_name {
    color: #333333;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 16px;
}
table.mgt_bios span.mgt_title {
    border-bottom: 1px dotted #333333;
    color: #428CC6;
    display: block;
    padding: 0 0 10px;
}
table.mgt_bios span.mgt_title2 {
    color: #428CC6;
    display: block;
    margin-bottom: 15px;
    padding: 0;
}

.pageHead {
    color: #428CC6;
    display: block;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 16px;
    font-weight: normal;
    margin: 0 0 10px;
}

.pageSubhead {
    color: #428CC6;
    display: block;
    font-family: Arial,Helvetica,Geneva,sans-serif;
    font-size: 12px;
    margin-bottom: 10px;
}



#sub-navigation li, .mnuLeft li {
	border-bottom: 1px solid #ccc;
	padding: 5px 0 5px 5px;
}


.mnuLeft ul li {
	border-bottom: none;
}


.mnuLeftItemActive, .mnuLeftItemActiveOver {
    color: #428CC6;
    padding: 6px 0 6px 10px;
}
.mnuLeftSubItemActive { border-bottom: none !important; }

.mnuLeftSubItem { border-bottom: none !important; }
	.mnuLeftSubItem a { color: #333 !important; border-bottom: none !important; }
		.mnuLeftSubItem a:hover { color: #428CC6 !important; border-bottom: none !important; }

.bulleted { margin-bottom: 15px; }
	.bulleted li { list-style: disc; margin-left: 25px; padding-left: 5px; }

#sitemaplist3 li { list-style: disc; margin-bottom: 10px; }
	#sitemaplist3 .mnuSitemapSubItem { list-style: square; margin: 5px 0 0 20px; }



a.new {
    background: url("../../investors.nobleenergyinc.com/images/new.gif")/*tpa=http://investors.nobleenergyinc.com/images/new.gif*/ no-repeat scroll 0 0 transparent;
    display: block;
    padding: 0 0 0 20px;
}

a.briefcase {
    background: url("../images/share_briefcase.gif")/*tpa=http://www.nobleenergyinc.com/images/share_briefcase.gif*/ no-repeat scroll 0 0 transparent;
    display: block;
    padding: 0 0 0 20px;
}

a.emailAlerts {
    background: url("../images/share_email.gif")/*tpa=http://www.nobleenergyinc.com/images/share_email.gif*/ no-repeat scroll 0 1px transparent;
    display: block;
    padding: 0 0 0 20px;
}

a.rssFeed {
    background: url("../images/share_rss.gif")/*tpa=http://www.nobleenergyinc.com/images/share_rss.gif*/ no-repeat scroll 0 0 transparent;
    display: block;
    padding: 0 0 0 20px;
}
ul.hasbullet li {
	list-style: disc;
	margin-left: 30px;
	padding: 0 0  15px 5px;
}
ul.nav_l2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav_l2 li {
    background: url("../images/2011/nav_rule.gif")/*tpa=http://www.nobleenergyinc.com/images/2011/nav_rule.gif*/ no-repeat scroll right bottom transparent;
    margin: 0;
    padding: 0 0 0 10px;
}
.nav_l2 ul li {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
}
.nav_l2 a {
    color: #FFFFFF;
    display: block;
    margin: 0;
    padding: 6px 0;
    text-decoration: none;
}
* html ul.nav_l2 li {
    height: 6px;
}
* html .nav_l2 a {
    padding: 6px 0;
}
.nav_l2 a:hover, .nav_l2 a.active {
    color: #428CC6;
    margin: 0;
    text-decoration: none;
}
ul.nav_l3 {
    list-style-type: none;
    margin: 0;
    padding: 0 0 4px;
}
.nav_l3 li {
    margin: 0;
    padding: 0 0 0 20px;
}
.nav_l3 a {
    color: #FFFFFF;
    display: block;
    margin: 0;
    padding: 4px 0;
    text-decoration: none;
}
* html ul.nav_l3 li {
    height: 5px;
}
* html .nav_l3 a {
    padding: 3px 0;
}
.nav_l3 a:hover, .nav_l2 a.active {
    color: #428CC6;
    margin: 0;
    text-decoration: none;
}







.ResponsibilityContent ul {
	padding-left: 15px;
}
.ResponsibilityContent li {
	list-style-type: disc;
	padding-bottom: 10px;
}


a.callout-box{
	display: block;
	float: right;
	width: 108px;
	height: 168px;
	padding: 15px;
	margin: 0 0 10px 10px;
}
a.callout-box:hover{
	background-position: 0 0;
}

.cb-exploration{
	background-image: url(../assets/callout_box_exploration.png)/*tpa=http://www.nobleenergyinc.com/assets/callout_box_exploration.png*/;
}
.cb-exploration2{
	background-image: url(../assets/callout_box_exploration2.png)/*tpa=http://www.nobleenergyinc.com/assets/callout_box_exploration2.png*/;
}
.cb-djbasin{
	background-image: url(../assets/callout_box_djbasin.jpg)/*tpa=http://www.nobleenergyinc.com/assets/callout_box_djbasin.jpg*/;
}
.cb-marcellus{
	background-image: url(../assets/callout_box_marcellus.jpg)/*tpa=http://www.nobleenergyinc.com/assets/callout_box_marcellus.jpg*/;
}
.cb-gom{
	background-image: url(../assets/callout_box_gulf.jpg)/*tpa=http://www.nobleenergyinc.com/assets/callout_box_gulf.jpg*/;
}
.cb-wafrica{
	background-image: url(../assets/callout_box_wafrica.jpg)/*tpa=http://www.nobleenergyinc.com/assets/callout_box_wafrica.jpg*/;
}
.cb-emed{
	background-image: url(../assets/callout_box_eafrica.jpg)/*tpa=http://www.nobleenergyinc.com/assets/callout_box_eafrica.jpg*/;
}
.cb-nevada-blm{
	background-image: url(../assets/callout_box_nevada_blm.png)/*tpa=http://www.nobleenergyinc.com/assets/callout_box_nevada_blm.png*/;
}
.cb-fracturing{
	background-image: url(../assets/callout_box_fracturing.png)/*tpa=http://www.nobleenergyinc.com/assets/callout_box_fracturing.png*/;
}
.cb-onshore{
	background-image: url(../assets/callout_box_onshore.jpg)/*tpa=http://www.nobleenergyinc.com/assets/callout_box_onshore.jpg*/;
}
.cb-operations{
	background-image: url(../assets/callout_box_operations.png)/*tpa=http://www.nobleenergyinc.com/assets/callout_box_operations.png*/;
}

.recruitingPage ul{
	margin-top: -.75em;
}
.recruitingPage ul li{
	list-style: disc!important;
	margin-left: 1em;
}
.recruitingTable{
	border-collapse: collapse;
	margin-bottom: 20px;
}
.recruitingTable thead td{
	background: #222;
	color: #FFF;
}
.recruitingTable td{
	padding: 5px 10px;
	border: 1px solid #888;
	text-align: center;
}


.cutline{
	margin-top: -2px;
	padding: 0 0 8px;
	border-bottom: 1px dotted #000;
}



.callout{
	padding: 10px 10px 5px;
	background: #D7D7D7;
	line-height: 1.2;
}
.callout h2{
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 2px;
	margin-left: 45px;
}
.callout img{
	float: left;
	margin: 0 5px 0 0;
	width: 40px;
}
.callout a{
	display: block;
	color: #428CC6;
	font-weight: bold;
	margin-left: 45px;
}
.clear{
	clear: both;
}
a.op-link{
	background: url(../images/2012/bgd_blue_headline.jpg)/*tpa=http://www.nobleenergyinc.com/images/2012/bgd_blue_headline.jpg*/ 0 0 repeat-x #0B8AD7;
	color: #fff;
	display: inline-block;
	font-weight: bold;
	padding: 5px 10px;
	
}
a.op-link:hover{
	color: #fff;
	
}

h2.person{
	font-family: Georgia, serif;
	font-size: 16px;
	margin-bottom: 3px;
	display: inline-block;
}
.clearboth {
	display: block;
	clear: both;
}
body.custom2014 h3.sidebarTitle {
background: url("../images/2012/bgd_h3.gif")/*tpa=http://www.nobleenergyinc.com/images/2012/bgd_h3.gif*/ repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: medium none;
    color: #fff;
    height: 17px;
    margin: 0;
    padding: 3px 0 15px 10px;
    width: 100%;
}
body.custom2014 #rightcol {
	margin-top: 15px;
}
body.custom2014 a{
	color: #0078b3;
}
body.custom2014 #bottomArea {
	width: 100%;
	display: block;
	clear: both;
}
body.custom2014 #bottomArea  .unit {
	width: 33.33%;
	float: left;
}
body.custom2014 #bottomArea  .unit > .inner {
	padding: 10px;
}
body.custom2014 #bottomArea .unit.quarter {
	width: 40%;

}
body.custom2014 #bottomArea .unit.threeforths{
	width: 60% !important;
}
body.custom2014 #bottomArea  .unit > .inner  img {
	max-width: 100%;
}