/* Print */
@media print {
  /* line 14, ../sass/commons/_print.scss */
  nav,
  .carousel,
  .breadcrumb-container,
  .news-latest-tweets,
  .newsroom-documents,
  .btn,
  footer,
  .footer,
  header.header.right-off-canvas-menu,
  .products-category-menu,
  .left-third,
  .news-footer,
  .media-links {
    display: none !important;
  }

  /* line 17, ../sass/commons/_print.scss */
  #content .layout div {
    border: 0px !important;
  }

  /* line 20, ../sass/commons/_print.scss */
  .right-third {
    width: 100%;
  }

  /* line 23, ../sass/commons/_print.scss */
  .header.layout-content.news-header.with-image {
    background-image: none !important;
    padding-top: 0 !important;
  }

  /* line 27, ../sass/commons/_print.scss */
  .news .news-content img {
    margin-left: 0 !important;
  }

  /* line 30, ../sass/commons/_print.scss */
  .news header.with-image div {
    height: initial !important;
  }

  /* line 33, ../sass/commons/_print.scss */
  .content-anchor {
    display: none !important;
  }

  /* line 38, ../sass/commons/_print.scss */
  .lte8 * {
    position: static !important;
    width: 100% !important;
    color: #000 !important;
    font-size: inherit !important;
  }
  /* line 45, ../sass/commons/_print.scss */
  .lte8 article,
  .lte8 section {
    display: block;
    width: 100%;
  }
  /* line 49, ../sass/commons/_print.scss */
  .lte8 img {
    width: auto !important;
    height: auto !important;
    max-width: 500px !important;
  }
  /* line 54, ../sass/commons/_print.scss */
  .lte8 header.header.right-off-canvas-menu {
    display: block !important;
  }
  /* line 62, ../sass/commons/_print.scss */
  .lte8 .swoosh,
  .lte8 .logo,
  .lte8 .right-nav,
  .lte8 .content-anchor,
  .lte8 .main-menu,
  .lte8 nav.tab-bar {
    display: none !important;
  }
}
