@charset "UTF-8";

/* 

	Reliance Steel & Aluminum Co.								
	
	Main CSS / Foundation Overrride


      ___           ___           ___           ___           ___           ___     
     /\  \         /\__\         /\  \         /\  \         /\  \         /\__\    
    /::\  \       /:/  /        /::\  \       /::\  \       /::\  \       /::|  |   
   /:/\:\  \     /:/  /        /:/\:\  \     /:/\:\  \     /:/\:\  \     /:|:|  |   
  /:/  \:\  \   /:/  /  ___   /::\~\:\  \   /::\~\:\  \   /::\~\:\  \   /:/|:|  |__ 
 /:/__/ \:\__\ /:/__/  /\__\ /:/\:\ \:\__\ /:/\:\ \:\__\ /:/\:\ \:\__\ /:/ |:| /\__\
 \:\  \  \/__/ \:\  \ /:/  / \/_|::\/:/  / \/_|::\/:/  / \/__\:\/:/  / \/__|:|/:/  /
  \:\  \        \:\  /:/  /     |:|::/  /     |:|::/  /       \::/  /      |:/:/  / 
   \:\  \        \:\/:/  /      |:|\/__/      |:|\/__/        /:/  /       |::/  /  
    \:\__\        \::/  /       |:|  |        |:|  |         /:/  /        /:/  /   
     \/__/         \/__/         \|__|         \|__|         \/__/         \/__/    

      ___           ___           ___           ___           ___           ___           ___     
     /\  \         /\  \         /\__\         /\__\         /\  \         /\  \         /\  \    
    /::\  \       /::\  \       /::|  |       /::|  |       /::\  \       /::\  \       /::\  \   
   /:/\:\  \     /:/\:\  \     /:|:|  |      /:|:|  |      /:/\:\  \     /:/\:\  \     /:/\ \  \  
  /:/  \:\  \   /:/  \:\  \   /:/|:|  |__   /:/|:|  |__   /:/  \:\  \   /::\~\:\  \   _\:\~\ \  \ 
 /:/__/ \:\__\ /:/__/ \:\__\ /:/ |:| /\__\ /:/ |:| /\__\ /:/__/ \:\__\ /:/\:\ \:\__\ /\ \:\ \ \__\
 \:\  \  \/__/ \:\  \ /:/  / \/__|:|/:/  / \/__|:|/:/  / \:\  \ /:/  / \/_|::\/:/  / \:\ \:\ \/__/
  \:\  \        \:\  /:/  /      |:/:/  /      |:/:/  /   \:\  /:/  /     |:|::/  /   \:\ \:\__\  
   \:\  \        \:\/:/  /       |::/  /       |::/  /     \:\/:/  /      |:|\/__/     \:\/:/  /  
    \:\__\        \::/  /        /:/  /        /:/  /       \::/  /       |:|  |        \::/  /   
     \/__/         \/__/         \/__/         \/__/         \/__/         \|__|         \/__/    




*/


/*	 -------------------------------------	[	global styles	]	-------------------------------------	*/

*											{ 	/*z-index:1;*/ position: relative;}

body										{	position: relative;overflow-x: hidden; color: #666; background: url('../img/home-background.png')/*tpa=http://www.rsac.com/img/home-background.png*/ no-repeat center top #000; -webkit-background-size: cover;   -moz-background-size: cover;  -o-background-size: cover; background-size: cover;}

a											{ 	font-family: 'Avenir-Light', arial; margin: 0; padding: 0; text-decoration: underline; display: inline-block; color: #134B6B;	}

h1											{ 	font-family: 'Lato', arial; font-size: 32px; line-height: 120%; margin: 0; padding: 0; font-weight: 500; }
h2											{ 	font-family: 'Avenir-Light', arial; font-size: 25px; line-height: 120%; margin: 0; padding: 0; font-weight: normal; }
h2.lato										{ 	font-family: 'Lato', arial; font-size: 25px; line-height: 120%; margin: 0; padding: 0; font-weight: 300;}
h3											{ 	font-family: 'Avenir-Light', arial; font-size: 20px; line-height: 120%; margin: 0; padding: 0; font-weight: normal; }
h4											{ 	font-family: 'Avenir-Light', arial; font-size: 16px; line-height: 120%; margin: 0; padding: 0; font-weight: normal; }	
p, ul, ol									{ 	font-family: 'Avenir-Light', arial; font-size: 14px; line-height: 20px; margin: 0; padding: 0; font-weight: normal; }

h4 + p , h4 + a, h2 + p, h2 + a				{	margin-top: 20px;	}
h3 + p , h3 + a								{	margin-top: 20px;	}
p  + p , a  + a								{	margin-top: 20px;	}
#content-right a + a						{ margin-top: 0; }
h2 + h4										{	margin-top: 20px;	}
p  + h4, p  + h3,  p + h2					{	margin-top: 20px;	}
h4 + h4										{	margin-top: 30px;	}
h4 + .row									{	margin-top: 10px !important;	}

.custom.dropdown a + a						{	margin: 0;			}
.default-selectbox 							{ 	margin-top: 5px; margin-bottom: 5px; }

.hidden-field								{ 	display: none;    }
.clear 										{ 	clear:both; line-height: 1px;}

.green										{ 	color: #327059 !important;  }
.light-green								{	color: #AACBC2 !important;	}
.blue										{ 	color: #134B6B !important;}
.black										{ 	color: #000 !important;}
.white										{ 	color: #fff !important;}
.gray										{ 	color: #666 !important;}
.caps										{	text-transform: capitalize;}	
	
.inline-block								{	display: inline-block; *display: inline; zoom:1; vertical-align: top; 	}
	
.full-link									{	position: absolute;  top:0; left:0; display: block; height: 100%; width: 100%; text-align: center; font-family: inherit;font-size: inherit;color: inherit;text-decoration: inherit;   z-index: 300 !important;}  

.btn-lg										{ 	width: 180px; height: 40px; font-size: 15px; color: #fff; font-family: 'Lato', Arial; border-radius: 5px; text-align: center; cursor: pointer; text-decoration: none; text-transform: uppercase; font-weight: bold; padding-top: 11px;	}
.btn-sm										{ 	width: 100px;  white-space: nowrap; height: 28px; font-size: 10px; color: #fff; font-family: 'Lato', Arial; 
				border-radius: 5px; text-align: center; cursor: pointer; text-decoration: none; text-transform: uppercase; font-weight: bold;	padding-top: 8px;  }
.btn-smr										{ 	width: 70px;  white-space: nowrap; height: 24px; font-size: 9px !important; color: #fff; font-family: 'Lato', Arial; 
                border-radius: 5px; text-align: center; cursor: pointer; text-decoration: none; text-transform: uppercase; font-weight: bold; padding-top: 8px;  }
.button-close								{ 	z-index:200;}

.pac-container								{ 	min-width: 250px; }

.btn-lg.green, .btn-sm.green, .btn-smr.green { 	background-color:#327059; color:#fff !important;   }
.btn-lg.blue , .btn-sm.blue					{ 	background-color:#134B6B; color:#fff !important;  }

.home #home-boxes #latest-news .btn-smr.green {padding-top: 6px !important;}

.btn-search									{	width: 100%; display: block; font-size: 12px; padding: 9px 2px; background-color: #327059; color: #fff; font-family: 'Lato', Arial; border-radius: 5px; margin-top: 10px; text-align: center; cursor: pointer; text-decoration: none; text-transform: uppercase; -webkit-box-shadow:  0px 1px 2px 1px rgba(0, 0, 0, 0.2); -moz-box-shadow:  0px 1px 2px 1px rgba(0, 0, 0, 0.2); box-shadow:  0px 1px 2px 1px rgba(0, 0, 0, 0.2); font-weight: normal;	}
.btn-search.disabled						{	display: none; opacity: .05; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; cursor:not-allowed}

#top-nav									{	height: 40px;	padding-top: 5px;}
#top-nav ul									{	margin-bottom: 0; top: 5px;}
#top-nav a									{	padding-top: 3px; color: #fff; font-size: 12px; text-decoration: none; }
#top-nav li									{ 	margin-right: 20px;}
#top-nav li:nth-last-of-type(1)				{	margin-right: 0;}

#nav										{ 	top: 55px; font-family: 'Avenir-Medium', arial !important; font-size: 14px !important; text-transform: uppercase; color:#327059; padding-left: 40px; }
#nav a										{ 	font-family: 'Avenir-Medium', arial !important; font-size: 14px !important; text-transform: uppercase; color:#327059; text-decoration: none;	}
#nav a.active,#nav li.active a, 
   #nav a:hover, #nav li:hover a			{	color:#000;		}								
#nav ul										{	height: 124px; width: auto; list-style: none; 	}
#nav li										{	margin-right: 20px;}
#nav li:nth-last-of-type(1)					{ 	margin-right: 0; }

#side-nav-mobile							{ z-index:1; }

#mobile-icons								{ 	top: 40px; cursor: pointer; min-width: 120px; text-align:right; }
#mobile-nav									{ 	background: none !important; display: none; top:-25px; z-index: 100;}
#mobile-nav ul								{ 	margin: 0; padding: 0; list-style: none;	}
#mobile-nav ul li							{ 	padding:0; color: #fff;  border-bottom:1px solid #568c7a; background-color: #2a6f59; 	}
#mobile-nav ul li a.has-subnav				{ 	background: url('../img/arrow-white-down-small.png')/*tpa=http://www.rsac.com/img/arrow-white-down-small.png*/ no-repeat #2a6f59 85% center;		}
#mobile-nav ul li.active,#mobile-nav ul li.active a.has-subnav		{	background-color: #134B6B;		 }
#mobile-nav ul li a							{ 	font-family: 'Avenir-Medium', arial; font-size: 14px; width: 95%; text-transform: uppercase;  color:#fff; text-decoration: none; padding: 15px; padding-left: 25px; }
#mobile-nav ul li:nth-last-of-type(1)		{	border:0; /*-webkit-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75); -moz-box-shadow:    0px 1px 5px rgba(50, 50, 50, 0.75); box-shadow:         0px 1px 5px rgba(50, 50, 50, 0.75);*/	}

#mobile-nav ul li ul						{	border-top: 1px solid #568c7a; list-style: disc inside; display: none;	}
#mobile-nav ul li ul li						{	color:#939295 !important; background-color: #ECECEC; padding-left:30px; border-bottom: 1px solid #fff;								}
#mobile-nav ul li ul li	a					{ 	color:#939295 !important; padding-left: 0px;		}

#sub-nav									{ 	z-index: 900; background: #fff; height: 160px; top: 178px; border-bottom: 5px solid #134B6B; border-top: 1px solid #c0c0c0; position: absolute; display: none;}
#sub-nav li									{	padding-top: 28px; padding-bottom: 18px; cursor: pointer; 	}
#sub-nav li:hover							{	background-color:#ECEDED; }
#sub-nav li.active							{ 	background-color: #134B6B; padding-bottom: 19px;  } /* border-top:10px solid #fff; */
#sub-nav li.active p, #sub-nav li.active a	{	color: #fff;				}						
#sub-nav img								{	margin-bottom: 5px; }
#sub-nav p, #sub-nav a						{	text-decoration: none; font-family: 'Avenir-Light', arial; font-size: 16px; line-height: 120%; margin: 0; padding: 0; font-weight: normal;	color:#134B6B;}

.subnav-arrow								{	position: absolute; top: 65px; display: none; left: 50%; margin-left: -20px; }

.panel										{	border-radius: 5px; border: 0; 	margin-right: 0;}

.panel p {text-align: justify;}
.panel li p {text-align: left;} 
.panel ul, .panel ol {margin-left: 25px; margin-bottom: 1em;}

#search-mobile								{	height: 65px; background-color:#4f4e4e;		padding-top:10px; 								}
#search-mobile input						{	font-family:Arial, Helvetica, sans-serif; font-size: 16px; color:#9d9d9d; border-radius: 3px; height: 44px; background: url('../img/icon-search-box.png')/*tpa=http://www.rsac.com/img/icon-search-box.png*/ #bfbfbf no-repeat; padding-right: 22px; background-position: 97% center; 								}

#search-mobile-top							{	display: none; height: 65px; background-color:#327059;	padding-top:10px; top:-25px; }
#search-mobile-top input					{	font-family: Arial, Helvetica, sans-serif; font-size: 16px; color:#9d9d9d; border-radius: 3px; height: 44px; background: url('../img/icon-search-box.png')/*tpa=http://www.rsac.com/img/icon-search-box.png*/ #fff no-repeat; padding-right: 22px; background-position: 97% center; 								}


#footer-mobile								{ 	height: 88px; background-color: #33715A; padding-top:  5px;}
#footer-mobile ul, #footer-mobile a			{   font-family: 'Avenir-Light', arial; font-size: 13px; line-height: 18px; margin: 0; padding: 0; font-weight: normal; text-decoration: none;}


.home #footer								{	background: #2F6954;font-family: Arial, Helvetica, sans-serif; font-size: 12px; min-height: 30px; padding-top:13px;	border-radius: 0 0 5px 5px; margin: 20px 0; width: 100%;}
#footer										{	background: #2F6954;font-family: Arial, Helvetica, sans-serif; font-size: 12px; min-height: 30px; padding-top:13px;	border-radius: 5px; margin: 20px 0.98375em; width: 97.3%;}
#footer p, #footer a						{	font-size: 12px !important; color:#AACBC1; text-decoration: none; }
#footer p 									{	margin-left: 1em; }
#footer .inline-list 						{	margin-right: 1em;}

#skip-link									{	display: none;	}

#quote-close								{ top:0 !important;right:0 !important;}

img + h2.green								{ margin-top: 20px; }


/*		form validation			*/

label.error, label.error {
	/* remove the next line when you have trouble in IE6 with labels in list */
	color: red;
	font-style: italic
}

/*input:focus { border: 1px dotted black; }*/
input.error { border: 1px dotted red; }


/*			reflow tables initialize			*/

p.mobile-table-label						{ color: #333; font-size: 14px; font-family: 'Avenir-Light', arial; margin-bottom: 3px; display: none;  }
tr.process-search-result,
tr.product-search-result					{ padding-bottom: 0; border-bottom: 0; }





/*	----------------------------------------[		quote inquiry modal / selected products or processes modal		]	-------------------------------------	*/

.reveal-modal .close-reveal-modal.btn-search	{ color:#fff !important;}
.reveal-modal .close-reveal-modal			{ color: #327059 !important; text-decoration: none !important; }
.reveal-modal h3							{ padding-bottom: 10px; border-bottom: 1px solid #d4d4d4; margin-bottom: 20px; }
.reveal-modal h5 							{ 	font-family: 'Avenir-Light', arial; font-size: 14px; line-height: 120%; margin: 0; padding: 0; font-weight: 700; margin-bottom: 15px;  }	
.reveal-modal .row .column, .reveal-modal .row .columns	{ padding-left: 0; padding-right: 0; }
.reveal-modal .row .row						{ margin-left: 0 !important; margin-right: 0 !important; }
.reveal-modal select						{ width: 80%;  }
.reveal-modal textarea						{ width: 100%; resize: none; margin-top: 20px;  }

.reveal-modal.company-bio h3				{ border:0 !important; }
.reveal-modal.company-bio a					{ margin-top: 20px; }
.reveal-modal .btn-search					{ font-size: 11px !important;}
.quote-add-button							{ width: 80%; }

.selected-product, .selected-process		{ padding:10px; border: 1px solid #e9e9e9; border-radius: 5px; width: 100%; margin-top: 15px; }
.selected-product:nth-of-type(1)			{ margin-top: 0; }
.selected-product .selected-product-left  { display: inline-block; vertical-align: top; width: 73%;}
.selected-product .selected-product-right	{ display: inline-block; vertical-align: middle; position: absolute; top: 20px; right: 20px;  }
.selected-product .btn-remove				{ display: block; cursor: pointer; background: url("../img/btn-remove.png")/*tpa=http://www.rsac.com/img/btn-remove.png*/ no-repeat left center; color: #C28185; text-decoration: underline; padding-top:2px; padding-left: 25px; height: 20px; font-size: 13px; }
.selected-product .selected-product-left p, 
  .selected-process .selected-process-left p		{  font-size: 12px; color:#999; margin: 0; margin-bottom: 3px; }
.selected-product .selected-product-left p span,
 .selected-process .selected-process-left p span	{ color: #333; font-weight: 700;  }


#quote-inquiry-lightbox.reveal-modal 		{top: 100px !important;}
#quote-inquiry-lightbox-2.reveal-modal		{top: 100px !important;}
#quote-inquiry-lightbox-3.reveal-modal		{top: 100px !important;}
#quote-inquiry-lightbox-4.reveal-modal		{top: 100px !important;}
 
  
 #quote-inquiry-process-lightbox.reveal-modal,
 #quote-inquiry-process-lightbox-2.reveal-modal,
 #quote-inquiry-process-lightbox-3.reveal-modal,
 #quote-inquiry-process-lightbox-4.reveal-modal,
 #selected-products-lightbox-wrapper,
 #selected-processes-lightbox-wrapper,
 #contact-form-lightbox      {top: 100px !important;}

.quote-inquiry #info-left				{ display: inline-block; vertical-align: top; width: 39%; margin-right: 16px; }
.quote-inquiry #info-right				{ display: inline-block; vertical-align: top; width: 58%;}

#quote-inquiry-lightbox-3 .quote-inquiry #info-right	{width: 55% !important;}
#quote-inquiry-process-lightbox-3 .quote-inquiry #info-right	{width: 55% !important;}

#quote-inquiry-lightbox-2 				{ width: 50% !important; padding: 1.75em 1.5em !important;}
#quote-inquiry-window-2 #info-left		{ width: 46.65%; margin-right: 3.8%; }
#quote-inquiry-window-2 #info-right		{ width: 48%; }

#contact-form-window #info-left			{ width: 44%; margin-right: 4%;}
#contact-form-window #info-right		{ width: 48%; }
#contact-form-window #lst-contact-subject {width: 100%;}
#contact-form-window #txt-contact-comments {white-space: normal;}

/* #quote-inquiry-step-1  {height: 210px;} */

.lt-ie9 .reveal-modal					{ top: 100px !important;}

.quote-inquiry #info-left p				{ color: #999; font-size: 14px; font-family: 'Avenir-Light', arial; }
.quote-inquiry #info-left p span		{ color: #333; font-size: 14px; font-family: 'Avenir-Light', arial; display: block;}

/*.quote-inquiry #info-left input, .quote-inquiry #info-right input	{ display: inline-block; width: 98%; margin-right: 3px; }*/
.quote-inquiry .default-selectbox  		{ width: 100%; }

.quote-inquiry #lst-quote-state, .quote-inquiry #lst-quote-state-2		{display: block; vertical-align: middle; height: 30px; top: -4px; padding-top: 3px;}
.quote-inquiry #txt-quote-zip,.quote-inquiry #txt-quote-zip-2			{display: inline-block; vertical-align: middle; width: 100%;}	

.quote-inquiry #txt-quote-phone			{ display: inline-block; vertical-align: top; width: 100%; }
.quote-inquiry #txt-quote-fax			{ display: inline-block; vertical-align: top; width: 100%; }	

.quote-inquiry #lst-return-quote		{ width: 100%; height: 30px; margin: 0 0 1em 0; padding-top: 3px; letter-spacing: -0.03em}

.quote-inquiry #chk-same-address		{ margin-bottom: 33px; margin-right: 10px; padding-top: 20px;}

.quote-inquiry #txt-contact-comments	{ margin-top: 0; height: 100px;  }

.quote-inquiry select {font-size: 90%;}

.quote-status-message					{	margin-bottom: 20px; width: 100%; color:#333; font-size: 12px; font-family: 'Avenir-Light', arial; border-radius: 5px; height: 50px; padding: 20px; text-align: center;}

#quote-inquiry-step-1 {margin-top: 70px; min-height: 220px;}
#quote-inquiry-step-1 .quote-status-message {position: absolute; top: -65px; margin: 0;}

/* #quote-inquiry-step-1 #addtional-products {width: 114%; margin-left: -5%;} */

#quote-inquiry-window-4					{ height: 130px;}

.quote-status-message.success			{	background: #b5e2ad; border: 1px solid #32941e;}
.quote-status-message.error				{	background: #e2adad; border: 1px solid #941e1e;}

span.custom.checkbox					{ display: none;}

.form-error {
    color: red;
    font-size: 12px;
	display: none;
	margin-bottom: 3px; 
}

@media only screen and (max-width: 767px) {
	
	.quote-inquiry #info-left	{ margin-bottom: 20px; }
	
	.quote-inquiry #info-left,.quote-inquiry #info-right	{ width: 100% !important;}	
	
	#quote-inquiry-lightbox-2.reveal-modal 				{ width: 96% !important; left: 1.7%; padding: 1.5em 1em !important; margin-left: auto !important; margin-right: auto !important;}
     #quote-inquiry-window-2 #info-left		{ width: 46.65% !important; }
     #quote-inquiry-window-2 #info-right		{ width: 48% !important; }
	 
	.selected-product	.selected-product-right	{position: relative; top: 3px; left: 10px;  }
/*	#quote-inquiry-step-1 #addtional-products {width: auto; margin-left: 0;} */ 
	
}

@media only screen and (max-width: 913px) {
	
	#nav li { margin-right: 0;}
	#nav a  { font-size: 12px !important;}
	#subnav { font-size: 80% !important; }
	#subnav .row ul li, .large-block-grid-5 > li {width: 18.5% !important; padding: 25px 5px 5px 5px !important;}
	.selected-product	.selected-product-right	{position: relative; top: 3px; left: 10px;  }
}


info-right
/*	----------------------------------------[	foundation custom form override	]	-------------------------------------	*/

form.custom .custom.dropdown.disabled		{ opacity: .6; }

form.custom .custom.dropdown				{	background: #f0f0f0 !important; border-radius: 3px; border: 0; height: 32px; 
												-webkit-box-shadow: 0 1px 2px rgba(50, 50, 50, 0.38); /* -1px 1px 5px rgba(50, 50, 50, 0.38);  */
												-moz-box-shadow: 0 1px 2px rgba(50, 50, 50, 0.38); 
												 box-shadow: 0 1px 2px rgba(50, 50, 50, 0.38);}
												
form.custom .custom.dropdown .selector		{	height: 32px !important; background-color: #666 !important; border-radius: 0 3px 3px 0; 	}
form.custom .custom.dropdown a.current		{	top: 3px; font-family: Arial, Helvetica, sans-serif !important; font-size: 12px !important; color: #666 !important; background-color: #f0f0f0 !important; }
form.custom .custom.dropdown ul li			{	font-family: Arial, Helvetica, sans-serif !important; font-size: 12px !important;	}


#form-process-search .custom.dropdown a.current,
#form-product-search .custom.dropdown a.current	 { width: 130px; }


#lst-country-wrapper-details .custom.dropdown a.current	{ width: 85px; }
#lst-state-wrapper-details .custom.dropdown a.current	{ width: 85px; }
						
#selected-products, #selected-processes		{	z-index: -2; }
#selected-products-link						{ 	width: 100%; text-decoration: none;}

/*	 -------------------------------------	[	global styles { mobile/tablet }	]	-------------------------------------	*/

@media only screen and (max-width: 767px) {
	#header										{ 	height: 90px !important; }
	#sub-nav									{	display: none !important;	}
	#logo										{ 	max-width: 140px !important; min-width: 140px !important; width: 140px !important; }
	.btn-search									{ 	margin-top: 10px !important; }
	.panel.top-square							{	border-radius: 0 0 5px 5px;	}
     .panel.top-square h2.green    				{ 	margin-bottom: 0.33em;}
     .panel.top-square h2.green + p    			{ 	margin-top: 0.33em;}
	
	
#form-process-search .custom.dropdown a.current,
#form-product-search .custom.dropdown a.current	 { width: 90% !important; }


#lst-country-wrapper-details .custom.dropdown a.current	{ width: 90% !important; }
#lst-state-wrapper-details .custom.dropdown a.current	{ width: 90% !important; }
	

/*			reflow tables mobile			*/
	
	p.mobile-table-label						{ display: block; }
	tr.process-search-result,
	tr.product-search-result					{ padding-bottom: 10px; border-bottom: 1px solid #d4d4d4; }
	
	/* change location button mobile */
	
	.products .button-change-current-location	{ top: 5px !important; }
	.current-location-label span				{ display: block !important; padding-left: 0 !important; }
	
}



/*	 -------------------------------------	[	home page { all sizes}	]	-------------------------------------	*/


.home h1									{	font-family: 'Lato',arial; font-size: 32px; font-weight: 300; color:#fff; line-height: 120%;}
.home h1 span								{	font-size: 40; font-weight: 400; display: block;}
.home .panel .panel-shade					{ 	position: absolute; top: 0; left: 0; width: 100%; height: 100%; background:#fff; opacity: 1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; padding: inherit; margin: inherit; border-radius: inherit; z-index:0;}

.home #background-slider img				{	width: 100%; max-width: 100%; min-width: 100%;}
.home #background-slider-wrapper			{ 	position: absolute; width: 100%; height: 100%; left: 0; top: 0;}

.home #background-slide-1					{	width: 100%; height: 100%; background: url("../img/homepage-background-1.jpg")/*tpa=http://www.rsac.com/img/homepage-background-1.jpg*/ no-repeat 50% 37%;}
.home #background-slide-2					{	width: 100%; height: 100%; background: url("../img/homepage-background-2.jpg")/*tpa=http://www.rsac.com/img/homepage-background-2.jpg*/ no-repeat 50% 20%;}
.home #background-slide-3					{	width: 100%; height: 100%; background: url("../img/homepage-background-3.jpg")/*tpa=http://www.rsac.com/img/homepage-background-3.jpg*/ no-repeat 50% 37%;}
.home #background-slide-4					{	width: 100%; height: 100%; background: url("../img/homepage-background-4.jpg")/*tpa=http://www.rsac.com/img/homepage-background-4.jpg*/ no-repeat 50% 37%;}
.home #background-slide-5					{	width: 100%; height: 100%; background: url("../img/homepage-background-5.jpg")/*tpa=http://www.rsac.com/img/homepage-background-5.jpg*/ no-repeat 50% 37%;}

.home .slider-content-wrapper				{	position: relative; top: 360px;}
.home .slider-content-wrapper .panel		{	background: none; height:220px; overflow:hidden;}
.home .slider-content-wrapper .large-6		{	height:220px;	}

.home .slider-content-button				{ 	margin-top: 20px; padding: inherit 5px; z-index: 300;}

.home #middle-area							{ 	width: 100%; min-height: 400px; padding-top: 115px;}
.home #middle-area	.large-6.columns		{ 	padding-left: 0;}
.home #middle-area	.panel					{	background: none;}

.home .slider-content, .home .slider-content *	{   z-index: 200 !important; }

.home .slider-content-shade					{   border-radius: 5px; opacity: .75; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"; width: 104%; height: 250px; background-color:#000;position: absolute; top:0; left:0; margin-left: -15px; padding-right: 25px; z-index: 0;}

.home #home-boxes .panel					{	background: none; border-radius: 5px; border: none;  min-height: 200px;}
.home #home-boxes .panel .row				{ 	margin-bottom: 20px; }
.home #home-boxes a							{ 	display: block;	}
.home #home-boxes #latest-news a,
 .home #home-boxes #stock-performance p,
 .home #home-boxes #quick-links-panel a	{ 	padding-left: 0; font-size: 13px; line-height: 1.4em;}
.home #home-boxes #quick-links-panel		{ 	padding-right: 0;}
.home #quick-links-accordion				{	z-index: 200 !important;}
 .home #quick-links-accordion a				{   color: #FFF; }
 
 .home #home-boxes *, .home #our-family *	{	z-index:111;}
.home #home-boxes, .home #our-family,		{	z-index:101;}
.home .panel-shade   {z-index: 1 !important;}

.home										{ 	padding-bottom: 40px; background: url('../img/home-background.png')/*tpa=http://www.rsac.com/img/home-background.png*/ no-repeat center top #000;
													-webkit-background-size: cover;   -moz-background-size: cover;  -o-background-size: cover; background-size: cover;}
.home #top-nav 								{ 	z-index: 200 !important;}
#header										{	position: relative; background: #fff; height: 138px; z-index: 100; margin-bottom: 25px;}
#logo										{	position: absolute; left: 0px; top: 15px; min-width: 120px;}
#logo-wrapper								{	padding: 0;}
#logo-wrapper a								{	display: block;}
#our-family									{ 	position: relative;}
#our-family .large-12.column				{	padding: 0;}
#our-family	.panel							{	background: none; border-radius: 5px 5px 0 0; border: none;}
.panel-footer								{	position: absolute;  border-radius: 0 0 5px 5px; background-color: #327059; bottom: -40px; left: 0; width: 100%; height: 40px; padding: inherit;}
.home #footer   							{ z-index: 200 !important;}
.home #footer * 							{ z-index: 201 !important;}

.ui-accordion 								{	margin: 0 auto; margin-bottom: 18px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;	-webkit-box-shadow:  0px 1px 4px 1px rgba(0, 0, 0, .4);box-shadow:  0px 1px 4px 1px rgba(0, 0, 0, .4);}
.ui-accordion .ui-accordion-content 		{	padding: 1em 1em;height: 160px;}
.ui-accordion .ui-accordion-header			{	padding: 1em .5em 1em 1em;	}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon {left: 85%;}
.ui-state-default 							{	border: none;background: #327059;color: #FFF;}


.ui-widget-content 							{	border:none;background: #327059;}
.ui-state-default .ui-icon 					{	background-image: url('../img/arrow-white-down.png')/*tpa=http://www.rsac.com/img/arrow-white-down.png*/; background-repeat: no-repeat; background-position: 0 5px;	}

#our-family-wrapper							{  	position: relative; margin-top: 30px; margin-bottom:20px;  height: 60px; overflow:hidden; box-sizing:content-box !important;  }
.logo-wrapper								{ 	display: inline-block; *display: inline; zoom:1; float: left;width: auto; position: relative; cursor: pointer; margin-right: 20px;}
.logo-wrapper img 							{ 	z-index: 90 !important; }



/*	 -------------------------------------	[	home page { mobile/tablet}	]	-------------------------------------	*/


#products-processes 						{ 	opacity:1.0;margin-top: 20px;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; z-index: 100 !important;}
#products-processes ul li img				{ 	border-radius: 5px; border: 10px solid #e3e3e3;}



/*	 -------------------------------------	[	home page {mobile}	]	-------------------------------------	*/


@media only screen and (max-width: 767px) {
	
	#quick-links-panel							{	color: #FFFFFF;}
	#logo										{ left: 20px; }
	
	.home .background-slide						{ background-position: 55% 15% !important; }
	.home #home-boxes #latest-news				{ padding-left: 0.9375em; }
	
	.home #home-boxes #latest-news .btn-sm		{width: 70px !important; }
	.home #footer-mobile   							{ z-index: 200 !important;}
	.home #footer-mobile * 							{ z-index: 201 !important;}

}




/*	 -------------------------------------	[	interior template #1 {all sizes}	]	-------------------------------------	*/


/*.interior										{	background: url('../img/background-interior.jpg') no-repeat center top #000000;}*/
.interior .panel								{ 	background-color: #fff;		}
.interior #main-content							{	z-index: 500; }
.interior #main-content #content-right			{	/*padding-right: 0;*/ float:right;		}			

.side-nav 										{	display: block; margin: 0; padding: 0; list-style-type: none; list-style-position: inside; 	}
.side-nav li 									{	margin: 0 0 0 14px; font-size: 1.2em; font-family: 'Lato', sans-serif;  }
.side-nav li + li								{ 	margin-top: 10px;}
.side-nav li a 									{	display: block;color: #2ba6cb; font-size: 1em; }
.side-nav li.active a 							{	color: #fff !important;font-size: 1em;	text-decoration: underline !important}
.side-nav li.divider 							{	border-top: 1px solid;height: 0;padding: 0;list-style: none;border-top-color: #e6e6e6; }
	  
	  
.side-nav .nav-block 							{	background-color: #FFFFFF;padding:15px 0;margin-bottom:12px;border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;	-webkit-box-shadow:  0px 1px 4px 1px rgba(0, 0, 0, .4);box-shadow:  0px 1px 4px 1px rgba(0, 0, 0, .4);opacity: .88; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=88)"; }
	  
 .side-nav .nav-block.family-of-companies { padding-right: 5px; letter-spacing: -0.015em}

.side-nav .nav-block.active 					{	background-color: #134B6B;padding:15px 0;margin-bottom:12px;border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;	-webkit-box-shadow:  0px 1px 4px 1px rgba(0, 0, 0, .4);box-shadow:  0px 1px 4px 1px rgba(0, 0, 0, .4); opacity: 1.0; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
.side-nav .nav-block.active li a				{	color:#fff !important; text-decoration: none;}

.sub-nav 										{ 	display: block; width: auto;overflow: hidden;margin: -0.25em 0 1.125em;padding-top: 0.25em;margin-right: 0;margin-left: -0.5625em; }
.sub-nav dt, .sub-nav dd						{	float: left;display: inline;margin-left: 0.5625em;margin-bottom: 0.625em;font-weight: normal;font-size: 0.875em; }
.sub-nav dt a,.sub-nav dd a 					{	color: #999999;text-decoration: none; }
.sub-nav dt.active a, .sub-nav dd.active a 		{	-webkit-border-radius: 1000px;border-radius: 1000px;font-weight: bold;background: #2ba6cb;padding: 0.1875em 0.5625em;cursor: default;color: white; }

.side-nav li a									{	color:#327059;text-decoration: none;  }

.nav-block li.sub-item a 						{	color:#666666;font-size: 80%; line-height: 120%;	}

#footer-mobile .inline-list > li				{	margin-left: 0.375em;	}
#footer-mobile .inline-list						{ 	margin-bottom: 5px; }



/*	 -------------------------------------	[	interior template #1 (mobile/tablet)	]	-------------------------------------	*/



.interior #products-processes 						{ 	opacity:1.0; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; margin-top: 0; 	}
.interior #products-processes ul li img				{ 	border-radius: 5px; border: 0;}


@media only screen and (max-width: 767px) {

	/********INTERIOR PAGE*********/
	
	.side-nav .nav-block.active{ float:left;	text-align: center; margin: 5px auto; }
	.side-nav .nav-block{ width: 48%; float:left; text-align:center; margin: 5px auto; }
	.side-nav .nav-block.family-of-companies { width: 98.6% !important; }
	.side-nav .nav-block .mobile{ display: none; }
	.side-nav li { margin: 4px 0 0 0px; font-size: 1em;}
	#side-nav-mobile .nav-block:nth-of-type(odd){ margin-right: 10px; }


	/* Homepage Accordion */
	
	.ui-accordion {
		display: block;
	}

	/*FOOTER*/
	
	.footer-content { width: 100%; padding-left: 0px; padding-right: 0px; border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px;	-webkit-box-shadow:  0px 0px 0px 0px rgba(0, 0, 0, .4); box-shadow:  0px 0px 0px 0px rgba(0, 0, 0, .4); margin-bottom: 0px; }
	.footer-width { width: 100%; padding-left: 0.98375em; padding-right: 0.98375em; }

}












/*	 -------------------------------------	[	Our Values Page {all sizes}	]	-------------------------------------	*/


.culture .culture-link-item					{ clear: both; margin-bottom: 20px; margin-top: 15px; }
.culture .culture-link-item:nth-of-type(1)	{ margin-top: 20px; }
.culture .culture-link-item	p 				{ display: block; vertical-align: middle; margin-top: 0.25em}
.culture .culture-link-item a				{ display: inline-block;  margin: 0; vertical-align: middle;}
.culture .culture-link-item img				{ margin: 5px 10px 5px 0; }


.panel .culture-link-item *  				{  line-height: 1.4em !important;}
.panel .culture-link-item h2 + h3 			{  margin-top: 1em; margin-bottom: 0.25em;}
.panel .culture-link-item h4 				{  margin-top: 0.25em; margin-bottom: 0.25em;}

/*	 -------------------------------------	[	leadership page {all sizes}	]	-------------------------------------	*/



#leadership-photos li	{ cursor: pointer; min-height: 235px; list-style: none; } 
.board-of-directors leadership-photos li	{ cursor: pointer; min-height: 200px; list-style: none; } 
#leadership-photos li p 					{font-size: 12px;}
#leadership-photos							{ 	margin: 20px 0 20px 5px;}
#leadership-photos h4						{ 	margin: 5px 0 3px 0; }
#leadership-photos h4 + p					{ 	margin: 0; line-height: 1.25em;}
.employee-bio img							{	float: left; }
.employee-title								{	float: left; padding-top: 108px; margin-left: 10px;   } 
.employee-title h4 + p						{	margin-bottom: 10px !important;	}
.employee-bio.no-timeline p					{	padding-left: 160px; 	 }
.employee-bio .row .large-4							{ width: 30%; margin-right: 20px; border-right: 1px solid #CCCCCC;}
.employee-bio .row .large-4:nth-last-of-type(1)		{ margin-right: 0px;}
.employee-bio h4 + p						{ margin-top: 0 !important;}
.employee-bio .row .large-12				{ margin-bottom: 15px; }
.employee-bio table tr th, table tr td		{ color:#666 !important; font-size: 13px !important;}

.employee-bio table 						{ border: none !important; font-family: 'Avenir-Light',arial;}

@media only screen and (max-width: 913px) {
/* for in between (iPad portrait) */
#leadership-photos							{ 	margin: 17px 0;}
.executive-management .reveal-modal.large, .board-of-directors .reveal-modal.large   {   width: 86%; left: 7%; margin-left: auto;}

}

/* for mobile */
.leadership #content-tab-left.left.center 	{ width: 32% !important; height: auto;} 
 #leadership-photos-mobile, #leadership-photos-mobile-container		{ height: auto;}
 #leadership-photos-mobile-container #arrow-next	{ 	cursor: pointer; right: -15px; top: 20px; position: absolute; z-index:100;}
 #leadership-photos-mobile-container #arrow-prev	{ 	cursor: pointer; left: -15px; top: 20px; position: absolute;z-index:100;}
 .leadership-slide > p:nth-of-type(2)			{ 	text-align: left; }
 .leadership-slide img							{ 	border: 1px solid #e5e5e5; }
 .leadership-slide      { width: 100%; height:100%;} 
 

 

/*	 -------------------------------------	[	corporate directors page {all sizes}	]	-------------------------------------	*/

.corporate-officers .corporate-officers	 h4							{ 	margin: 5px 0 3px 0; line-height: 1em;}
.corporate-officers	.corporate-officers h4 + p						{ 	margin:	0;	text-align: left; line-height: 1.2em; font-size: 13px;}
.corporate-officers	.corporate-officers p + h4						{ 	margin-top:	20px; margin-bottom: 0;	} 
.corporate-officers .corporate-officers			{/* margin-top:	20px; padding-bottom: 30px; border-bottom: 1px solid #e5e5e5; */ margin-bottom: 12px !important;}
.corporate-officers .corporate-officers:nth-last-of-type(1)	{ border: none; margin-bottom:0; }
#corporate-splash								{	margin: 20px 0;	}

.corporate-officers	.corporate-officers [class*="column"] + [class*="column"]:last-child	 { float: left !important; }
 
.officer-group-wrapper							{ margin-top: 20px; margin-bottom: 20px; padding-bottom: 20px; border-bottom: 1px solid #e5e5e5;}

.officer-group-wrapper:nth-last-of-type(1)		{ border: 0; }

@media only screen and (max-width: 767px) {
	
.board-of-directors .panel.top-square       	{ width: 100%; height: 1200px;} 
.corporate-officers	 h4 + p						{ margin-bottom:	10px !important; text-align: left;	}	
	
}

#content-tabs									{ background-color:#fff; min-height: 78px; padding: 0; /*1.25em;*/ border-bottom:1px solid #e5e5e5;}
#content-tabs a									{ font-family: 'Avenir-Light', arial; font-size: 13px; font-weight:normal; line-height:110%; text-decoration:none;		}
#content-tab-left								{ width: 100% !important; min-height: 40px; border-bottom: 1px solid #e5e5e5; padding-top: 11px; float:none !important ; }
#content-tab-left:nth-last-of-type(1)			{ border-bottom: 0; }	
#content-tab-right								{ width: 49%; height: 48px; padding-top:11px;}

.executive-management #content-tabs {overflow: none;}
 /*.leadership #content-tab-left {width: 33.3% !important; overflow: none;} 
 .corporate-officers #content-tab-left {width: 33.3% !important; overflow: none;} 
 .executive-management #content-tab-left {width: 33.3% !important; overflow: none;} 
 .board-of-directors #content-tab-left {width: 33.3% !important; overflow: none;} */
 
/*
.board-of-directors #employee-bio-anderson.reveal-modal {top: 150px !important;}
.board-of-directors #employee-bio-figueroa.reveal-modal {top: 150px !important;}
.board-of-directors #employee-bio-gimbel.reveal-modal   {top: 150px !important;}

.board-of-directors #employee-bio-hannah.reveal-modal   {top: 345px !important;} 
.board-of-directors #employee-bio-hayes.reveal-modal    {top: 345px !important;}
.board-of-directors #employee-bio-kaminski.reveal-modal {top: 345px !important;}

.board-of-directors #employee-bio-mollins.reveal-modal  {top: 465px !important;}
.board-of-directors #employee-bio-sharkey.reveal-modal  {top: 465px !important;}
.board-of-directors #employee-bio-waite.reveal-modal    {top: 465px !important;}
 /*
 
 

/*	 -------------------------------------	[	history {all sizes}	]	-------------------------------------	*/


/*body.history									{	background: url('../img/background-history.png') no-repeat center top #000000;}*/

.history #background-slider img					{	width:100%; max-width:100%; min-width:100%;		}
.history #background-slider-wrapper				{ 	position: absolute; width: 100%;height:100%; left:0; top:0; z-index: 0; }
.history .background-slide						{ background-position: center 69%;}
.history #background-slide-1					{	width: 100%; height: 100%; background-image: url("../img/history/1930s.jpg")/*tpa=http://www.rsac.com/img/history/1930s.jpg*/; background-repeat: no-repeat;	}
.history #background-slide-2					{	width: 100%; height: 100%; background-image: url("../img/history/1940s.jpg")/*tpa=http://www.rsac.com/img/history/1940s.jpg*/; background-repeat: no-repeat;}
.history #background-slide-3					{	width: 100%; height: 100%; background-image: url("../img/history/1950s.jpg")/*tpa=http://www.rsac.com/img/history/1950s.jpg*/; background-repeat: no-repeat;}
.history #background-slide-4					{	width: 100%; height: 100%; background-image: url("../img/history/1960s.jpg")/*tpa=http://www.rsac.com/img/history/1960s.jpg*/; background-repeat: no-repeat;}
.history #background-slide-5					{	width: 100%; height: 100%; background-image: url("../img/history/1970s.jpg")/*tpa=http://www.rsac.com/img/history/1970s.jpg*/; background-repeat: no-repeat;}
.history #background-slide-6					{	width: 100%; height: 100%; background-image: url("../img/history/1980s.jpg")/*tpa=http://www.rsac.com/img/history/1980s.jpg*/; background-repeat: no-repeat;}
.history #background-slide-7					{	width: 100%; height: 100%; background-image: url("../img/history/1990s.jpg")/*tpa=http://www.rsac.com/img/history/1990s.jpg*/; background-repeat: no-repeat;}
.history #background-slide-8					{	width: 100%; height: 100%; background-image: url("../img/history/2000s.jpg")/*tpa=http://www.rsac.com/img/history/2000s.jpg*/; background-repeat: no-repeat;}
.history #background-slide-9					{	width: 100%; height: 100%; background-image: url("../img/history/2010s.jpg")/*tpa=http://www.rsac.com/img/history/2010s.jpg*/; background-repeat: no-repeat;}

.history .slider-content-wrapper				{	position: relative; top: 330px; 	}
.history .slider-content-wrapper .panel		{	background: none; 	}

.history .slider-content-button				{ 	margin-top: 20px; padding: inherit 5px; z-index: 300;}

.history #middle-area							{ 	width: 100%; min-height: 400px; padding-top: 115px;  }
.history #middle-area	.large-6.columns		{ 	padding-left: 0; }
.history #middle-area	.panel					{	background: none; }

.history .slider-content    					{ z-index: 200; border-radius: 5px; width: 104%; height: 250px; background-color:#000; position: absolute; top:0;left:0; margin-left: -15px; padding-right: 25px; z-index:0;}

.history .slider-content-shade					{ display:none; border-radius: 5px; opacity: .75;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"; width: 104%; height: 250px; background-color:#000;position: absolute; top:0;left:0; margin-left: -15px; padding-right: 25px; z-index:0;}




.history #content-middle						{ 	margin-bottom: 0px; }
.history .slide-subpager						{ 	display: none; font-family: 'Lato', arial; font-size: 12px; color:#fff; border-bottom: 1px solid #fff; padding-bottom: 5px; margin: 0 auto; }
.history .slide-subpager .active sup 			{   font-size: 11px; top: -4px; padding-left: 2px;}
.history .slide-subpager sup 					{   font-size: 10px; top: -3px; padding-left: 1px;}
.history .inner-slider.cycle-slideshow > .cycle-prev	{	position: absolute; top: 125px; left: 0; margin-left: 0.1em; cursor: pointer; z-index: 8000;}
.history .inner-slider.cycle-slideshow > .cycle-next	{	position: absolute; top: 125px; right: 0; margin-right: 0.1em; cursor: pointer; z-index: 8000;}

.history .slide-subpager li						{ 	opacity: .65; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=65)"; top: 3px; cursor: pointer;  }
.history .slide-subpager li.active				{	font-size: 16px; opacity: 1; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";top: 0;}
.history .pager 								{	padding-left: 0px; }
.history .pager .pager-button					{	cursor: pointer; -webkit-box-shadow:  1px 1px 5px 0px rgba(0, 0, 0, .4); box-shadow:  1px 1px 5px 0px rgba(0, 0, 0, .4); display: block; height: 31px; width:88px; border-radius:3px; text-align: center; padding-top: 9px; color:#fff; font-family: 'Avenir-Medium', arial; font-size: 14px; font-weight: normal; margin-bottom: 10px;   }
.history .pager .pager-button .shade			{	display: block; background-color:#fff; opacity: .2; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)"; border-radius: 3px; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.history .pager .pager-button:hover .shade		{ 	opacity: .5;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; }
.history .pager .pager-button.active			{	color: #134B6B;    }
.history .pager .pager-button.active .shade		{	opacity: 1; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; z-index:-1;    }

.history #outer-slider h1						{ 	font-family: 'Lato', arial; font-size: 40px; color: #fff; text-shadow:  1px 1px rgba(0, 0, 0, .4); font-weight: 300; text-align: center; }
.history .outerslider-slide						{	width: 100%; display: none; overflow: visible;}	
.history .inner-slider  						{   overflow: visible; min-height: 525px;}
.history .innerslider-slide						{	width: 100%; display: none; text-align: center; overflow: visible;  }
.history .innerslider-slide img					{	margin-top: 20px; margin-bottom: 20px; border: 3px solid #666; -webkit-box-shadow:  1px 1px 5px 0px rgba(0, 0, 0, .4); box-shadow:  1px 1px 5px 0px rgba(0, 0, 0, .4); }
.history .innerslider-slide p					{ 	width: 100%; text-align: center; font-family: 'Avenir-Light', arial; font-size:15px; font-weight: 300; color: #fff; line-height: 130%;  }


.history #navigation-timeline-mobile			{	overflow: hidden; margin-bottom: 20px; height: 44px; width: 100%; border-radius: 3px;cursor: pointer; -webkit-box-shadow:  1px 1px 5px 0px rgba(0, 0, 0, .4); box-shadow:  1px 1px 5px 0px rgba(0, 0, 0, .4);  background: #134B6B; font-family: 'Avenir-Light', arial; font-size:19px; font-weight: 300; color: #fff; line-height: 130%;	}
.history #navigation-timeline-mobile.open		{	border-radius: 3px 3px 0 0; height: auto; }
.history #navigation-timeline-mobile.open #current-decade 	{ color:#fff; background: url('../img/arrow-white-up-small.png')/*tpa=http://www.rsac.com/img/arrow-white-up-small.png*/ no-repeat #134B6B 93% center;  }

.history #current-decade 						{ 	background: url('../img/arrow-white-down-small.png')/*tpa=http://www.rsac.com/img/arrow-white-down-small.png*/ no-repeat #134B6B 93% center; padding-top: 10px; padding-left: 20px; height: 44px; font-family: 'Avenir-Light', arial; font-size:19px; font-weight: 300; color: #fff; line-height: 130%; 		}
.history #current-decade a						{	color: #fff; }
.history #navigation-timeline-mobile a			{	padding-top: 6px; text-decoration: none; font-family: 'Avenir-Light', arial; font-size:19px; font-weight: 300; color: #3d7089; line-height: 130%;} 
.history #navigation-timeline-mobile ul			{	border-top: 1px solid #3d7089; list-style: none; margin:0 ;margin-top: 0px;  }
.history #navigation-timeline-mobile ul	li		{	height: 35px; cursor: pointer; padding-left: 20px; padding-top: 10px; padding-bottom: 10px; border-bottom: 1px solid #3d7089;   }
.history #navigation-timeline-mobile ul	li:nth-of-type(odd)	{ border-right: 1px solid #3d7089;}



@media only screen and (max-width: 913px) {
.history .inner-slider.cycle-slideshow > .cycle-prev	{	position: absolute; top: 125px; left: 0; margin-left: 0.1em; cursor: pointer; z-index: 8000;}
.history .inner-slider.cycle-slideshow > .cycle-next	{	position: absolute; top: 125px; right: 0; margin-right: 0.1em; cursor: pointer; z-index: 8000;}
}
/*	 -------------------------------------	[	history { mobile/tablet}	]	-------------------------------------	*/


@media only screen and (max-width: 767px) {
	
	.history #outer-slider h1					{	font-size: 30px; text-align: center; width: 90%; margin: 0 auto; }
	.history .innerslider-slide					{	text-align: center;	}	
	
	.history .background-slide						{ background-position: center 20%;}
	
}




/*	 -------------------------------------	[	family of companies { all sizes }	]	-------------------------------------	*/
	
	.coverflow-wrapper				{ overflow: hidden; margin: 30px auto 0 auto; padding-right: 2%; height: 200px; width: 90%; box-sizing:content-box; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; text-align: center; }
	.coverflow-wrapper.ui-clearfix   { clear: both;}
	#coverflow 						{ width: 100%; margin-bottom: 50px; margin-left: auto; list-style: none; }
	#coverflow div					{ width: 150px; margin-left: auto;}
	
  	#coverflow img 						{	background: #fff; display: block;border: 15px solid #E3E3E3;border-radius: 5px; height: 125px; width: 150px; outline: none; padding: 5px; }
	#coverflow a						{	outline: none;}
 
    
	

	#flip.ui-coverflow {margin-left: 0;}
	.ui-coverflow-item.ui-state-active			{ border: 0 !important; }
	
	.family-of-companies .ui-widget-content					{	color: #033;  background: #f7f7f7; border-top:2px solid #dedede; height: 5px; }
	.family-of-companies .ui-state-default					{	color: #033; top: -.6em !important; border-radius: 10px; background: #327059; border: 0; box-shadow: 1px 1px 1px #ccc;  }
	.family-of-companies .ui-coverflow-item:hover img		{ 	border-color: #327059 !important; }
	
	#scrollbar							{ 	margin: 0 auto;  marign-top: 20px; margin-bottom: 20px; width: 90%;  }
	#image-caption						{	width: 100%; text-align: center;color: #00527F; margin-top: 0px; margin-bottom: 20px; font-family: 'Avenir-Light', arial;font-size: 20px; }
	
/*	 -------------------------------------	[	products pages { all sizes }	]	-------------------------------------	*/
	

p.group-description											{ 	margin-bottom: 20px; }	
	
.products .side-nav 										{	display: block;margin: 0;padding: 0;list-style-type: none;list-style-position: inside; 	}
.products .side-nav li 										{	margin: 0 0 0 19px; font-size: 1em;font-family: 'Lato', sans-serif;  }
.products .side-nav li + li									{ 	margin-top: 10px;}
.products .side-nav li a 									{	display: block;color: #2ba6cb; font-size: 1em; }
.products .side-nav li.active a 							{	color: #fff !important;font-size: 1em;	text-decoration: underline !important}
.products .side-nav li.divider 								{	border-top: 1px solid;height: 0;padding: 0;list-style: none;border-top-color: #e6e6e6; }


.products .side-nav .nav-block 								{	background-color: #FFFFFF; padding:15px 15px;  margin-bottom:12px;border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;	-webkit-box-shadow:  0px 1px 4px 1px rgba(0, 0, 0, .4);box-shadow:  0px 1px 4px 1px rgba(0, 0, 0, .4);opacity: 1.0; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }
.products #selected-products .nav-block						{	background-color: #00527F;	}	  
.products #selected-products .nav-block h4					{ 	display: inline-block; font-family: 'Lato', arial; width: 90%; }
.products #selected-products .nav-block span				{	position: absolute; top: -3px; right: 0px; display: inline-block; background-color:#fff; color: #00527F; margin-left: 10px; padding-top: 4px; font-size: 16px; font-family: 'Lato', arial; border-radius: 20px; height: 27px; width: 27px;   }
.products .side-nav .nav-block.active 						{	background-color: #134B6B;padding:15px 0;margin-bottom:12px;border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;	-webkit-box-shadow:  0px 1px 4px 1px rgba(0, 0, 0, .4);box-shadow:  0px 1px 4px 1px rgba(0, 0, 0, .4); opacity: 1.0; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
.products .side-nav .nav-block.active li a					{	color:#fff !important; text-decoration: none;}

.products .side-nav li a									{	color:#327059;text-decoration: none;  }

.nav-block li.sub-item a 									{	color:#666666;font-size: 80%; line-height: 120%;	}

.products #txt-keyword										{	margin: 0;	font-size: 12px; }

.products .form-select										{ 	margin-bottom: 10px; }

.products .form-divider										{	border-bottom: 1px solid #ccc; margin-bottom: 10px; margin-top: 10px;  }

.products .lst-group-wrapper,.products .lst-country-wrapper	{ 	z-index:300 !important; }
.products .lst-type-wrapper,.products .lst-state-wrapper  	{ 	z-index:200 !important; }
.products .lst-shape-wrapper								{	z-index:100 !important; }

.products #product-search-forms								{ 	display: block; 		}
.products #locations-search									{ 	display: block; z-index:-1; 		}

.products #product-types img.product-type-photo				{ 	margin-bottom: 10px; z-index: 99 !important;}
.products #product-types									{ 	padding:0; width: 100%; margin: 0px; border: 0px none; list-style: none;  }
/*
.products #product-types li:nth-child(3n+1)					{ 	border-radius: 3px 0px 0 0; border-right: 1px solid #ccc; }
.products #product-types li:nth-child(3n+2)					{ 	border-radius: 0; border-right: 1px solid #ccc; }
.products #product-types li:nth-child(3n+3)					{ 	border-radius: 0px 3px 0 0;}
*/
.products #product-types li:first-child						{ 	border-radius: 3px 0px 0 0 !important; border-right: 1px solid #ccc; }
.products #product-types li:nth-child(3n+1),
 .products #product-types li:nth-child(3n+2)					{ 	border-radius: 0; border-right: 1px solid #ccc; }
.products #product-types li:nth-child(3)						{ 	border-radius: 0px 3px 0 0; }
.products #product-types li:nth-child(-n+5)					{	border-bottom: 1px solid #ccc; }

.products #product-types li									{	cursor: pointer; background-color: #fff; min-height: 320px; height: 100%;  padding-top: 30px; }
.products #product-types li:hover							{	background-color:#327059; }
.products #product-types li:hover a.product-arrow			{	background-position: 0 -40px; z-index: 100 !important;} 
.products #product-types li:hover .product-type-content		{ 	opacity: .2; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)"; z-index: 100 !important;}

.products #product-types li:hover h3						{	color:#fff !important; z-index: 100 !important;}
  .products #product-types li h3 a						    {	font-size: inherit; text-decoration: none;}
  .products #product-types li:hover h3 a 							{color:#fff !important;}
/*
.products #product-types li:hover .product-type-hover-content	{	display: block; 	}
.products #product-types li .product-type-hover-content		{  	display: none; padding-top: 35px; width: 100%; height: 100%;  position: absolute; top:0; left: 0; 		}
.products #product-types li .product-type-hover-content	p	{	text-align: center; font-family: 'Avenir-Light', arial; font-weight: normal; color:#fff; font-size: 13px; width: 90%; margin: 0 auto; 	}
.products #product-types li .product-type-hover-content h3 + p { margin-top: 10px;}
*/


.products #product-types li:nth-child(-n+3)					{	border-bottom: 1px solid #ccc; }

.products .large-block-grid-3 > li							{ 	padding: 0 20px 10px;}
.products .small-block-grid-2 > li							{ 	padding: 0 10px 5px;}

.products a.product-arrow									{	display: block; height: 40px; width: 40px; background: url('../img/arrow-products.png')/*tpa=http://www.rsac.com/img/arrow-products.png*/ no-repeat 0 0; margin: 15px auto; 	}
.products a.product-arrow:hover								{	background-position: 0 -40px; }

#product-type-wrapper										{ 	padding:0; background: transparent; }
#product-tabs												{	margin-bottom: 0px; }

.products #content-tabs										{	background: transparent; height: 44px; padding: 0; border: 0;  }
.products #content-tabs a									{	position:relative; top:6px; font-family: 'Lato', arial; font-size: 13px; font-weight:normal; line-height:120%; text-decoration:none; border: 0;text-shadow: -2px 1px 2px rgba(150, 150, 150, 1);	}
.products #content-tab-left									{ 	background-color:#acacac; width: 100%; height: 44px; padding-top: 6px; border-radius: 3px; border: 0; cursor: pointer; text-decoration: none; text-transform: uppercase; -webkit-box-shadow:  0px 1px 4px 1px rgba(0, 0, 0, .4); box-shadow:  0px 1px 4px 1px rgba(0, 0, 0, .4);  }

.products .product-content-tab, .products .process-content-tab								{ 	display: block !important;}
.products .product-content-tab.active, .products .process-content-tab.active				{ 	background-color: #327059 !important; height: 55px !important; margin-bottom: -10px !important;}




.products .search-results-label								{ margin-bottom: 15px; text-align: left; font-family: 'Avenir-Light', arial !important; font-size: 17px !important;  margin-bottom: 20px; }
.products .search-results-label span						{ display: inline-block; margin-left: 5px; text-align: left; font-family: 'Avenir-Light', arial !important; color: #999 !important; font-size: 16px !important; 	 }

.products .results-table									{ display: table !important; width: 100%; border: 0 !important; }
.products .results-table thead tr th a						{ color: #333; text-decoration: none;}
.products .results-table thead tr th img					{ position: relative; top:-2px; }
.products .results-table tbody tr							{ cursor: pointer; }		
.products .results-table td									{ border: 0 !important; font-family: 'Avenir-Light', arial !important; font-size: 14px !important; 
																color: #999 !important; }
.products .results-table tbody tr:hover, .products .results-table tbody tr:hover td { background-color: #d5e2de !important; color: #327059 !important;}

/* table edits for ALL Locations */
.contact-all .results-table tbody tr td 			{padding-top: 0 !important; padding-bottom: 0 !important;}
.contact-all .results-table tbody tr td a			{padding-top: 0.5625em !important; padding-bottom: 0.5625em !important; width: 100%;}
.products .results-table tbody tr td .grey 			{color: #999999; text-decoration: none !important;}


.products .results-table thead								{ background: none !important ; padding-bottom: 5px; border-bottom: 1px solid #d4d4d4; color:#333;  }
.products .results-table tr:nth-of-type(1) td				{ padding-top: 10px; }
.products .results-table tr td:nth-of-type(1),  
  .products .results-table tr th:nth-of-type(1)				{ padding-left: 10px !important; }

.products #block-views-6e3172dc7f6f2a8bd9992babc5ee36dc		{ z-index: -1; }

.ui-table-reflow td .ui-table-cell-label, .ui-table-reflow th .ui-table-cell-label	{	display: inline-block; min-width: 30%; margin: -.4em 1em -.4em -.4em; }

.ui-table-responsive.ui-table-reflow						{ display: table !important;}


/* 		-------------------------------[	product details page	] 	---------------------------------------------						*/



.product-details										{	background:#FFF;}
.product-details-wrapper h3			  	                {  	border-bottom:1px solid #e9e9ea; padding-bottom: 15px; }
.product-details-wrapper		                        {	min-height: 160px; font-weight:bold; font-family: 'Avenir-Light', arial; font-size: 17px; margin: 0; padding: 0; color:#000;	}
.product-details-wrapper .product-details-info		   	{  	width:50%; margin:15px 0;  }
.product-details-wrapper .product-details-image      	{  	width:48%; padding-right: 10px; padding-top: 10px; }
.product-details-wrapper div hr			                {  	width:100%; background-color:#e9e9ea; border:none;  }
.product-details-wrapper div span		                {	font-weight:normal; color:#999;  }

.product-details-wrapper													{	 border-bottom:1px solid #e9e9ea; margin-bottom: 20px;  }
#product-details															{ 	margin-top: 20px;		}
#product-details p															{	font-family: 'Avenir-Light', arial; font-size: 14px; color:#333; font-weight: 700;	}

.products .current-location-wrapper											{	margin-bottom: 20px; padding-bottom: 20px; border-bottom:1px solid #e9e9ea; clear: both; }
.products .current-location-wrapper #locations-search-products				{ 	margin: 0 !important; display: none; padding: inherit 0;}
.products .current-location-wrapper #locations-search-products .btn-search	{ 	margin: 0 5% 0 0;  padding: inherit 1% !important; float: left; width: 45%; }
.products .current-location-wrapper	span									{ 	padding-left:10px; }
.products .current-location-label											{	width: auto; margin-right: 20px;  }
.products .button-change-current-location									{ 	top: -5px;	}
 
 #btn-location-search-product-wrapper {padding: 0 !important;}

.products .pager ul													{	margin: 0 0 20px 0; padding:15px 0; clear:both; font-family: 'Avenir-Light', arial; font-size: 14px; color:#333; font-weight: 300;	}											
.products .pager li                              					{  list-style-type:none; float:left; margin:0 10px; padding:5px 0 0; color:#333;  }
.products .pager li a                             					{  font-size: 14px; color:#999; text-decoration:none; line-height:14px !important; }
.products .pager li.pager-current									{  top: 1px; background-color:#00527f; color:#fff; padding:5px 8px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; }
.products .pager li.pager-previous a,
.products .pager li.pager-next a									{	color:#333;	} 

.products .pager .pager-first, 
.products .pager .pager-last,
.products .pager .pager-ellipsis									{	display: none; }

.location-results										 			{ 	font-family: 'Avenir-heavy', arial !important; }
.location-results .location-result   								{  	vertical-align: top; float: none; width:31%; display: inline-block; border: 1px solid #e8e8e8; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; -khtml-border-radius: 10px; padding:15px; margin: 0px 9px 20px 0; min-height: 290px;  }
.location-results .location-result  .location-result-label      	{  	font-family: 'Avenir-Heavy', arial !important; text-align: left; line-height: 18px; margin: 0; font-size: 14px !important;  color:#333 !important; line-height: 17px !important; display: block; }
.location-results .location-result  .location-result-label span		{  	font-family: 'Avenir-Light', arial !important; display: block; margin-bottom: 10px; font-weight:normal; font-size:14px; color:#999; }


.location-results .btn-search										{ 	margin-top: 0; font-size: 12px !important; position: absolute; bottom: 10px; width: 87%; }

.view-product-search .views-row     								{  float: none; width:31%; display: inline-block; border: 1px solid #e8e8e8; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; -khtml-border-radius: 10px; padding:15px; margin: 5px 9px 0 0; min-height:184px; }
.view-product-search .views-field-field-locationname 				{  font-weight: bold;  }
.view-product-search h2.element-invisible							{  display: none;  }						

.location-results h4.green											{	font-size: 14px; }

.products .location-search-results h4								{ 	text-align: left; font-family: 'Avenir-Light', arial !important; margin-bottom: 20px; }
.products .location-search-results h4 span							{ 	display: inline-block; margin-right: 5px; text-align: left;  color: #999 !important; 
																		  font-size: 16px !important; font-family: 'Avenir-Light', arial !important; }

.products #locations-search-products form							{ 	margin-top: 10px; }
#txt-zipcode-details 												{	font-family: 'Avenir-Light', arial !important; font-size: 12px;  margin-top: 1px; height: 32px; 	
																	border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; -khtml-border-radius: 3px;}


/*	 -------------------------------------	[	products pages { mobile/tablet }	]	-------------------------------------	*/


@media only screen and (max-width: 767px) {

	.view-product-detail-page-results .views-row div div img	{   display:none;  }
	.products .side-nav .nav-block								{ 	width: 100%; text-align: left; float:left; margin: 5px auto; }
	.products #product-types h3									{ 	font-size: 18px; }
	.products #product-types li									{	border-radius: 0; height:100%; min-height: 250px; border-bottom: 1px solid #ccc;   }
	.products #product-types li .product-type-hover-content		{ 	display: none !important; }
	.products #product-search-forms									{ 	display: none; 		}
	.products #locations-search									{ 	display: none; 		}

	
	.products #product-types li:first-child						{ 	border-radius: 3px 0px 0 0 !important;  }
	.products #product-types li:nth-child(2)						{ 	border-radius: 0px 3px 0 0 !important; } 
	.products #product-types li:nth-child(odd)					    {	border-radius: 0; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; }
	.products #product-types li:nth-child(even)					{	border-radius: 0; border-right: 0; border-bottom: 1px solid #ccc; }
	
	.products #product-types li:nth-last-of-type(1),
	 .products #product-types li:nth-last-of-type(2)			{   border-bottom: 0; }
	 
	.view-product-search .views-row  							{ 	width:100%; float:none;  }
	#selected-products, #selected-processes						{ 	margin-top: 10px; margin-bottom: 10px; }
	.location-results .location-result 						 	{ 	width: 100%; margin-bottom: 15px; }
	
	#locations-search-products .large-3.columns, #locations-search-products .large-2.columns	{ padding-left: 0; padding-right: 0; }
	
}


#selected-processes-link										{ 	width: 100%; text-decoration: none;}

/* 		-------------------------------[	process home page	] 	---------------------------------------------	*/


.processes #process-types img.process-type-photo				{ 	margin-bottom: 10px; }
.processes #process-types										{ 	padding:0; width: 100%; margin: 0px; border: 0px none; list-style: none;  }

.processes #process-types li:first-child						{ 	border-radius: 3px 0px 0 0 !important; border-right: 1px solid #ccc; }
.processes #process-types li:nth-child(3n+1),
 .processes #process-types li:nth-child(3n+2)					{ 	border-radius: 0; border-right: 1px solid #ccc; }
.processes #process-types li:nth-child(3)						{ 	border-radius: 0px 3px 0 0; }
.processes #process-types li:nth-child(-n+5)					{	border-bottom: 1px solid #ccc; }


.processes #process-types li									{	cursor: pointer; background-color: #fff; min-height: 330px; height: 100%;  padding-top: 30px; }
.processes #process-types li:hover								{	background-color:#327059; }
.processes #process-types li:hover a.process-arrow				{	background-position: 0 -40px; } 
.processes #process-types li:hover .process-type-content		{ 	opacity: .2; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)"; z-index:100 !important;			}
.processes #process-types li:hover h3	{	color:#fff !important;			}
.processes #process-types li:hover .process-type-hover-content	{	display: block; 	}

.processes #process-types li .process-type-hover-content		{  	display: none; padding-top: 35px; width: 100%; height: 100%;  position: absolute; top:0; left: 0; 		}
.processes #process-types li .process-type-hover-content	p	{	text-align: center; font-family: 'Avenir-Light', arial; font-weight: normal; color:#fff; font-size: 13px; width: 90%; margin: 0 auto; 	}
.processes #process-types li .process-type-hover-content h3 + p { 	margin-top: 10px;}

.processes .large-block-grid-3 > li								{ 	padding: 0 20px 10px;	}
.processes .small-block-grid-2 > li								{ 	padding: 0 10px 5px;	}

.processes a.process-arrow										{	display: block; height: 40px; width: 40px; background: url('../img/arrow-products.png')/*tpa=http://www.rsac.com/img/arrow-products.png*/ no-repeat 0 0; margin: 15px auto; 	}
.processes a.process-arrow:hover								{	background-position: 0 -40px; }

#process-type-wrapper											{ 	padding:0; background: transparent; }


/* 		-------------------------------[	process pages	] 	---------------------------------------------						*/


.products #process-search-forms									{ display: block; }



@media only screen and (max-width: 767px) {

	.products #process-search-forms									{ display: none; }
	
	.processes #process-types li:first-child						{ 	border-radius: 3px 0px 0 0 !important;  }
	.processes #process-types li:nth-child(2)						{ 	border-radius: 0px 3px 0 0 !important; } 
	.processes #process-types li:nth-child(odd)					    {	border-radius: 0; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; }
	.processes #process-types li:nth-child(even)					{	border-radius: 0; border-right: 0; border-bottom: 1px solid #ccc; }
	.processes #process-types li:nth-last-of-type(1),
	 .processes #process-types li:nth-last-of-type(2)			{   border-bottom: 0; }
}


/* 		-------------------------------[	process details page	] 	---------------------------------------------						*/

.process-details										        {	background:#FFF;}
.view-process-detail .views-row h3			  	                {  	border-bottom:1px solid #e9e9ea; padding-bottom: 15px; }
.view-process-detail .views-row		                        	{	font-weight:bold; font-family: 'Avenir-Light', arial; font-size: 17px; margin: 0; color:#000;	}
.view-process-detail .views-row .product-details-info		   	{	width:50%; margin:15px 0;  }
.view-process-detail .views-row .product-details-image      	{  	width:48%; padding-right: 10px; padding-top: 10px; }
.view-process-detail .views-row div hr			                {  	width:100%; background-color:#e9e9ea; border:none;  }
.view-process-detail .views-row div span		                {	font-weight:normal; color:#999;  }

.process-details-wrapper										{	border-bottom:1px solid #e9e9ea; margin-bottom: 20px;  }
#process-details												{ 	margin-top: 20px;		}
#process-details p												{	font-family: 'Avenir-Light', arial; font-size: 14px; color:#333; font-weight: 700;	}


/* 		-------------------------------[	locations details page	] 	---------------------------------------------						*/

#block-views-products-per-location-block h2										{	display: none;	}
.view-location-details-page	.views-field										{	display: inline-block; font-family: 'Avenir-Light', arial; font-size: 17px; color:#134B6B;} 			
.view-location-details-page	.views-field-field-companyname .field-content:after	{	content: ":"; }
.view-location-details-page	.views-field-field-address2    .field-content:after	{	content: ","; }
.view-location-details-page	.views-field-field-city 	   .field-content:after	{	content: ","; }
.view-location-details-page	.views-field-field-state   	   .field-content:after	{	content: ","; }
.view-location-details-page	 .view-content										{ 	margin-bottom: 20px; }

#views-exposed-form-process-page												{	display:none; }
#txt-contact-zipcode 								{ font-family: 'Avenir-Light', arial; font-size: 12px; height: 32px; 
													border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; -khtml-border-radius: 3px;}

 

/* 		-------------------------------[	contact/locations page	] 	---------------------------------------------						*/


.contact .title								{	padding-bottom: 10px; border-bottom: 1px solid #e4e4e9; margin-bottom: 15px; }

.contact form 								{ 	margin: 0px; }

.contact #button-contact-form				{   margin-top: 0px; }

.contact #contact-info .columns p			{   line-height: 1.4em; float: left; margin: 10px; padding: 0 !important;  width: auto; text-align: left; }
															/* border: 1px solid #333333;} */

.contact #locations-list 					{	width: 100%;  list-style: none; padding:0; margin: auto; margin-top: 20px; line-height: 15px;	}
.contact #locations-list > li				{	width: 100%; padding-left: 55px; padding-bottom: 15px; margin-bottom: 15px; border-bottom: 1px solid #ccc;  }
.contact #locations-list > li:nth-last-of-type(1)	{ border-bottom: 0; }
/*
.contact #locations-list > li:before 		{  content:counter(li); counter-increment:li; position:absolute; font-size: 14px; top: -5px; left: 10px; text-align:center; 
											   background: url('../img/greendot.png') no-repeat; color:#fff; padding: 7px 14px 7px 7px;}
*/
.contact #locations-list li span			{ 	display: block; position: absolute; background: url('../img/greendot.png')/*tpa=http://www.rsac.com/img/greendot.png*/ no-repeat; color: #fff; width: 28px; height: 28px; 
													font-size: 14px; top: -6px; left: 10px; text-align: center; vertical-align: middle; padding-top: 8px; }

.contact #locations-list > li h4 a			{   color: inherit; font-size: inherit; text-decoration: none;}
.contact #locations-list > li p				{ 	margin-top: 10px; color: #666; }
.contact #locations-list > li a				{ 	color: #929292; }
.contact .pager								{ 	border-top: 1px solid #ccc; }
.contact #contact-map						{ 	width: 100%; height: 425px; border: 1px solid #ccc; }

.contact #contact-map img					{ 	max-width: none; z-index:0; }
.contact #contact-map div					{  -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box;}
	
.contact #contact-tabs						{ 	padding: 0; margin: 0;	}
.contact #contact-tabs:nth-of-type(1)		{ 	border-radius: 5px 0 0 0; }
.contact #contact-tabs .contact-tab			{	height: 65px; width: 33.3%; float:left;  background-color: #fff; text-align: center; padding-top: 23px; 	}

.contact #contact-tabs .contact-tab.active	{ 	background-color: #e0eae6; }
.contact #contact-tabs .contact-tab	a		{	font-family: 'Avenir-Light', arial; font-size: 16px; line-height: 120%; margin: 0; padding: 0; font-weight: normal; 	
													color: #327059; text-decoration: none; }
.contact #contact-tabs .contact-tab.active a	{ color:#96b6aa; }
.contact .contact-content					{ 	display: none; }

.contact #contact-content-wrapper			{  	clear: both; }
.contact .contact-content.active			{ 	display: block; }

.contact #contact-details					{ 	padding: 20px; border-bottom: 1px solid #ccc; }
.contact #contact-details p					{ 	margin-top: 10px; color:#666; }
.contact #contact-contacts					{ 	padding: 20px; }
.contact #contact-details p+p,.contact #contact-contacts p+p				{ margin-top: 5px; }

* .gm-style-iw, .contact .info-content, * .gm-style-iw div {height: 101% !important; overflow: visible !important;}
.contact .info-content h5					{ margin: 0 0 5px 0;}
.contact .info-content p 					{ line-height: 0.9em; font-size: 95%;}
.contact .info-content img					{ padding-top: 4px; width: 92%; height: auto;}

.contact form.custom .custom.dropdown		{ top: 10px; }

#contact-content-2,#contact-content-3		{ height: 405px; overflow-y: auto; }

.contact .contact-all-head th, 
  .contact .contact-all-head	{ font-family: 'Avenir', arial;  color: #fff; font-size: 14px; background-color: #286854; border-collapse:collapse; padding-top: 0 !important; padding-bottom: 0; !important;} /* height: 42px; */

.contact .contact-all-head th a				{ font-family: 'Avenir', arial; text-decoration: none;  color: #fff !important; font-weight: normal; 
														width: 100%; padding: 12px 0 10px 0; font-size: 14px;}
.contact .contact-all-head th.active		{ background-color:#348d71; }

.contact .contact-all-head th.arrow			{ background: url('../img/contact-arrow.png')/*tpa=http://www.rsac.com/img/contact-arrow.png*/ no-repeat center center;  padding: 0;} /* border-left: 1px solid #3F8E71; */
.contact .contact-all-head th.arrow.asc		{ background: url('../img/contact-arrow-up.png')/*tpa=http://www.rsac.com/img/contact-arrow-up.png*/ no-repeat center center; }
.contact .contact-all-head th.arrow.desc	{ background: url('../img/contact-arrow.png')/*tpa=http://www.rsac.com/img/contact-arrow.png*/ no-repeat center center; }
.contact .contact-all-head th.arrow.active	{  background-color:#348d71;}	/* border-left: 1px solid #2F6954; */

.contact .contact-all-head th .full-link2	{ display: block; width: 101%; height: 100%; margin: 0; padding: 0;}
.contact .results-table tbody tr			{ border-bottom: 0;}
.contact table td,.contact table th			{ padding-left: 20px; color:#666;font-family: 'Avenir', arial; } 

.contact .results-table tbody tr:nth-last-of-type(1)	{ border-bottom: 0; }
.contact .tabs .tab-title span.m 			{  display: none;}

.contact .fax-num							{ display: inline-block; margin-left: 10px; }


.ac_results li img 							{  float: left; margin-right: 5px;}


.ui-autocomplete 							{	position: absolute; z-index: 3000; background:#eee; font-size:12px;	}

@media only screen and (max-width: 767px) {
	
	.contact #contact-map						{	display: none; }
	.contact #content-right .large-4			{ 	border: none !important; }
/*	.contact #locations-list > li:before 		{ 	content: none; }   */
	.contact #locations-list > li				{ 	padding-left: 45px; }
	
	#contact-info h3.title						{	font-size: 16px; }
	
	.contact #frm_contact_search .columns		{ 	padding: 0; }
	.contact #contact-tabs .contact-tab			{ 	width: 32.2%; } 
	.contact .results-table tbody tr			{   border-bottom: 1px solid #d4d4d4;}
	.contact .tabs .tab-title span {display: none;}
	.contact .tabs .tab-title span.m {display: inline;}
	
	.contact .fax-num							{ display: block; margin-left: 0px; }
	
	
}




/* 		-------------------------------[	sitemap page	] 	---------------------------------------------						*/


.sitemap .title							{	padding-bottom: 10px; border-bottom: 1px solid #e4e4e9; margin-bottom: 15px;   }
.sitemap .clear 						{	clear: both; padding-top: 10px; margin-top: 20px !important;  }
.sitemap .clr-left						{   clear: left !important; }
#sitemap.sitemap li h4							{	margin: 5px auto;	}
#sitemap.sitemap li ul li 						{   list-style-type: none; padding-left: 0.035em; text-indent: -.7em;     }
#sitemap.sitemap li ul li:before 				{   content: "• "; color: #96b7ac;   }
#sitemap.sitemap a 								{	display: inline; color: inherit; font-size: inherit; text-decoration: none;}

@media only screen and (max-width: 767px) {
    #sitemap  							{  margin-left: 0;}
	#sitemap.sitemap li ul li 			{  list-style-type: none; padding-left: 0.035em; text-indent: -1.5em;     }
}