/* STYLE NOTES */
/*
	-Site colors:
		Dark gray backgrounds:	#1b1b1b
	
	-Site fonts:
		-font: 12px/16px Arial, Helvetica, sans-serif;
		 
	-Site z-index:
		Header is 2
		Content is 0
		Footer is 1
		
		Edit Buttons are 3
		To-Top-Button is 7
		Overlays are 9
		Backdrops are 8
*/

.promo .icon {
	width: 80px; height: 75px;
	background-image: url(../../assets/images/box.png)/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/box.png*/;
	float: left;
	position: relative;
	top: -13px;
}

/* BASE STYLES */
body { 
	background-image: url(../../assets/images/bg-interior.jpg)/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/bg-interior.jpg*/;
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-color: none;
	-webkit-background-size: cover; 
	-moz-background-size: cover; 
	-o-background-size: cover; 
	background-size: cover; 
	/*font-family: "GothamBook", sans-serif; */
	font-family: Arial, Helvetica, sans-serif;
	width: 100%; height: 100%; min-height:100%; min-width:100%;
}
html, body { height:100% }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, select, option, form, fieldset, input, p, blockquote, th, td { margin: 0; padding: 0; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; margin: 0; padding: 0; }
strong { font-weight: bold !important; }
em { font-style: italic; }
ul, li { list-style: none; }
img { border: none; }
.clear { float: none; clear: both; height: 0; }
.imgLink { display: block; }
.hide, .hidden { display: none !important; }
.jsHide { display: none; }
.no-js .jsHide { display: block; }
.no-js .enableJSHeader { color: #f00; font-weight: bold; margin: 10px 0; }
li.clear { display: none; }

a { cursor: pointer; text-decoration: none; }
a:link { color: #005596; }
a:visited { color: #005596; }
a:hover { color: #005596; text-decoration: underline; }
a:active { color: #005596; text-decoration: underline; }
.caps { text-transform: capitalize; }
.legalese { font: italic normal 10px/12px Arial, Helvetica, sans-serif; }
.lightBox { cursor: pointer; }
.error, .errMsg { color: #f00; }
input.errMsg, .errField { border: 1px solid #f00 !important; }
select.errMsg, select.errField { background: #f00 !important; color: #fff !important; }

/*CLEARFIX H4X */
.clear {clear: both;}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

/* VIGNETTE HELMETS */

/* EDIT BUTTONS */
a.edit {
	background: #f00 !important;
	border-radius: 6px;
	-moz-border-radius: 6px;
	box-shadow: 3px 3px 3px #1b1b1b;
	-moz-box-shadow: 3px 3px 3px #1b1b1b;
	-webkit-box-shadow: 3px 3px 3px #1b1b1b;
	color: #fff !important;
	filter: alpha(opacity=50);
	font-size: 18px;
	font-weight: bold;
	margin: 10px;
	opacity: 0.5;
	padding: 5px;
	/*position: absolute;*/
	top: 0px !important;
	text-align: center;
	text-transform: uppercase;
	width: 80px;
	z-index: 3;
}
a.add {
	background: #f00;
	border-radius: 6px;
	-moz-border-radius: 6px;
	box-shadow: 3px 3px 3px #1b1b1b;
	-moz-box-shadow: 3px 3px 3px #1b1b1b;
	-webkit-box-shadow: 3px 3px 3px #1b1b1b;
	color: #fff !important;
	display: block;
	filter: alpha(opacity=50);
	font-size: 18px;
	font-weight: bold;
	margin: 10px 0px 10px 100px;
	opacity: 0.5;
	padding: 5px 0;
	/*position: absolute;*/
	text-align: center;
	text-transform: uppercase;
	width: 80px;
	z-index: 3;
}
a.add:hover { filter: alpha(opacity=1000); opacity: 1; text-decoration: none !important; }


/* FONTS */
@font-face {
	font-family: 'GothamMedium';
	font-style: normal;
	font-weight: normal;
	src:	url('../../../itrucks/assets/fonts/gotham-medium-webfont.eot')/*tpa=http://www.navistar.com/vgn-ext-templating/itrucks/assets/fonts/gotham-medium-webfont.eot*/;
	src:	url('../../../itrucks/assets/fonts/gotham-medium-webfont.eot-#iefix')/*tpa=http://www.navistar.com/vgn-ext-templating/itrucks/assets/fonts/gotham-medium-webfont.eot?#iefix*/ format('embedded-opentype'),
		url('../../../itrucks/assets/fonts/gotham-medium-webfont.woff')/*tpa=http://www.navistar.com/vgn-ext-templating/itrucks/assets/fonts/gotham-medium-webfont.woff*/ format('woff'),
		url('../../../itrucks/assets/fonts/gotham-medium-webfont.ttf')/*tpa=http://www.navistar.com/vgn-ext-templating/itrucks/assets/fonts/gotham-medium-webfont.ttf*/ format('truetype'),
		url('../../../itrucks/assets/fonts/gotham-medium-webfont.svg#webfontA7rF6Mg9')/*tpa=http://www.navistar.com/vgn-ext-templating/itrucks/assets/fonts/gotham-medium-webfont.svg#webfontA7rF6Mg9*/ format('svg');
}
@font-face {
	font-family: 'GothamBook';
	font-style: normal;
	font-weight: normal;
	src:	url('../../../itrucks/assets/fonts/gotham-book-webfont.eot')/*tpa=http://www.navistar.com/vgn-ext-templating/itrucks/assets/fonts/gotham-book-webfont.eot*/;
	src:	url('../../../itrucks/assets/fonts/gotham-book-webfont.eot-#iefix')/*tpa=http://www.navistar.com/vgn-ext-templating/itrucks/assets/fonts/gotham-book-webfont.eot?#iefix*/ format('embedded-opentype'),
		url('../../../itrucks/assets/fonts/gotham-book-webfont.woff')/*tpa=http://www.navistar.com/vgn-ext-templating/itrucks/assets/fonts/gotham-book-webfont.woff*/ format('woff'),
		url('../../../itrucks/assets/fonts/gotham-book-webfont.ttf')/*tpa=http://www.navistar.com/vgn-ext-templating/itrucks/assets/fonts/gotham-book-webfont.ttf*/ format('truetype'),
		url('../../../itrucks/assets/fonts/gotham-book-webfont.svg#webfontA7rF6Mg9')/*tpa=http://www.navistar.com/vgn-ext-templating/itrucks/assets/fonts/gotham-book-webfont.svg#webfontA7rF6Mg9*/ format('svg');
}
@font-face {
	font-family: 'GothamBold';
	font-style: normal;
	font-weight: normal;
	src:	url('../../../itrucks/assets/fonts/gotham-bold-webfont.eot')/*tpa=http://www.navistar.com/vgn-ext-templating/itrucks/assets/fonts/gotham-bold-webfont.eot*/;
	src:	url('../../../itrucks/assets/fonts/gotham-bold-webfont.eot-#iefix')/*tpa=http://www.navistar.com/vgn-ext-templating/itrucks/assets/fonts/gotham-bold-webfont.eot?#iefix*/ format('embedded-opentype'),
		url('../../../itrucks/assets/fonts/gotham-bold-webfont.woff')/*tpa=http://www.navistar.com/vgn-ext-templating/itrucks/assets/fonts/gotham-bold-webfont.woff*/ format('woff'),
		url('../../../itrucks/assets/fonts/gotham-bold-webfont.ttf')/*tpa=http://www.navistar.com/vgn-ext-templating/itrucks/assets/fonts/gotham-bold-webfont.ttf*/ format('truetype'),
		url('../../../itrucks/assets/fonts/gotham-bold-webfont.svg#webfontA7rF6Mg9')/*tpa=http://www.navistar.com/vgn-ext-templating/itrucks/assets/fonts/gotham-bold-webfont.svg#webfontA7rF6Mg9*/ format('svg');
}

/* BACKGROUND FOR INTERIOR PAGES 
html { background: url(/vgn-ext-templating/navistar/assets/images/bg-interior.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; font-family: Arial, Helvetica, sans-serif; }
*/
/* HEADER */
#headerWrapper { color: #000; font-size: 10px; margin: 10px auto; padding: 0; position: relative; text-align: left; width: 968px; z-index: 2000; }
#headerWrapper a,
#headerWrapper a:link { color: #fff; }
#headerWrapper a:visited { color: #fff; }
#headerWrapper a:hover { color: #fff; text-decoration: underline; }

/* FOOTER */
.footsocial { position: relative; height: 0px; top: -40px; z-index: 1000; } 

#footerWrapper { width: 890px; height: 308px; padding: 25px 25px 0px 25px; clear: both; background: url(../../assets/images/bg-footer.png)/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/bg-footer.png*/ left top repeat-x;  color: #ccc; position: relative; text-align: left; z-index: 1000; font-size: 14px; }

#footerWrapper #footerMain { float: left; width: 650px; padding-right: 25px }
#footerWrapper #footerMain p { clear: both; padding: 8px 0px; }
#footerWrapper #footerMain p span { text-transform: uppercase; }
#footerWrapper #footerMain p.copyright { border-bottom: none; margin-top: 5px; font-size: 11px; }
#footerWrapper #footerMain ul { float: left; width: 158px; list-style: none; margin-bottom: 25px; }
#footerWrapper #footerMain ul.ftShort { width:100px; }
#footerWrapper #footerMain ul.ftMedium { width:115px; }
#footerWrapper #footerMain  .divideShort { height:5px; }
#footerWrapper #footerMain  .divide { width:650px; }
#footerWrapper #footerMain ul li.header { margin-bottom: 10px; text-transform: uppercase;}
#footerWrapper #footerMain ul li { margin: 0px 0px 3px; }
#footerWrapper #footerMain ul li a { color: #ccc; text-decoration: none; font-size: 13px; padding: 2px 0px; }
#footerWrapper #footerMain ul li a:hover { text-decoration: underline; }
#footerWrapper #footerMain p a { text-decoration: none; padding-right: 20px; }
#footerWrapper #footerMain p.copyright a { text-decoration: none; padding: 15px 10px; margin-top: 0px; float: none; width: 650px; }
#footerWrapper #footerMain p.copyright span { padding-right: 10px; text-transform: none !important;  }
#footerWrapper #footerMain p.copyright a:hover { text-decoration: underline; }
#footerWrapper #footerMain ul li.header a { color: #ccc; text-transform: uppercase; font-size: 13px }

#footerWrapper #footerSide { float: left; width: 215px; padding-left: 0px; }
#footerWrapper #footerSide a { color: #ccc; text-decoration: none; text-transform: uppercase; }
#footerWrapper #footerSide img { padding: 10px 0 20px 0; }

#footerWrapper #footerSide h3.redcross { color: #fff; font: normal normal lighter 19px Arial, Helevtica, sans-serif; text-transform: uppercase; }
#footerWrapper #footerSide p.redcross { color: #fff; font: normal normal lighter 10px Arial, Helevtica, sans-serif; }
#footerWrapper #footerSide p.redcross a { text-transform: none; }

#footerWrapper #footerMain a { color: #ccc; }
#footerWrapper #footerMain a:link { color: #ccc; }
#footerWrapper #footerMain a:visited { color: #ccc; }
#footerWrapper #footerMain a:hover, #footerWrapper #footerSide a:hover, #footerWrapper #footerMain p a:hover { color: #fff; text-decoration: underline; }
#footerWrapper #footerMain a:active, #footerWrapper #footerSide a:active, #footerWrapper #footerMain p a:active { color: #fff; text-decoration: underline; }
/* BEGIN LIGHTBOXES */
	
	#genericBackDrop { background: #000; display: none; filter: alpha(opacity=50); height: 100%; left: 0; opacity: 0.5; position: absolute; top: 0; width: 100%; z-index: 8; }

	/* GENERIC OVERLAY */
	.overlay { background: #fff; border-radius: 8px; -moz-border-radius: 8px; box-shadow: 5px 5px 5px #1b1b1b; -moz-box-shadow: 5px 5px 5px #1b1b1b; -webkit-box-shadow: 5px 5px 5px #1b1b1b; display: none; position: absolute; top: 100px; width: 200px; z-index: 9; }
	.overlay #leftNavOverlay { cursor: pointer; height: 250px; left: -75px; position: absolute; top: 140px; width: 120px; }
	.overlay #rightNavOverlay { cursor: pointer; height: 250px; left: 745px; position: absolute; top: 140px; width: 120px; }
	.overlay .dithered { cursor: default !important; }
	.overlay .panelHead { float: left; height: 27px; padding: 19px 3% 0 3%; width: 94%; }
	/*.overlay .panelHead .leftSide { float: left; text-align: left; width: 50%; }*/
	.overlay h2 { color: #f87a1e; font: normal normal lighter 2.2em Arial, Helevtica, sans-serif; text-transform: uppercase; }
	.overlay .panelHead .rightSide { float: left; position: relative; text-align: right; width: 50%; }
	/*.overlay .closeBtn { background: url('/vgn-ext-templating/itrucks/assets/images/closeBtn.png'); height: 25px; position: absolute; right: -12px; text-decoration: none; top: -12px; width: 25px; }*/
	.overlay .closeBtn { background: url('../../../itrucks/assets/images/itSprite.png')/*tpa=http://www.navistar.com/vgn-ext-templating/itrucks/assets/images/itSprite.png*/ 0 0 no-repeat; height: 25px; position: absolute; right: -12px; text-decoration: none; top: -12px; width: 25px; }
	.overlay .panelBody { float: left; height: 100%; text-align: center; width: 100%; }
	.overlay .panelBody .center { float: left; margin: 0 5px; overflow: hidden; padding: 0 15px 30px; width: 700px; }
	.overlay .panelBody .center .superGallery {  }
	.overlay .panelBody .center .superGallery .galleryWrap { /*display: none;*/ float: left; font: bold 1.3em Arial, Helvetica, sans-serif; max-width: 700px; margin: 0 45px; text-align: center; width: 700px; }
	.overlay .panelBody .spinnerWrapper { margin: 50px 0; text-align: center; width: 100%; }
	.overlay .panelBody .spinnerWrapper h3 { color: #9B938B; font: normal normal lighter 20px Arial, Helvetica, sans-serif !important; margin: 10px 0 0; width: 100%; }
	/*.overlay .panelBody .spinnerWrapper h3 { color: #9B938B; font: normal normal lighter 20px "GothamMedium", Arial, Helvetica, sans-serif !important; margin: 10px 0 0; width: 100%; }*/
	.overlay .panelBody .dithered { filter: alpha(opacity=30) !important; opacity: 0.3 !important; }
	.overlay .panelBody h3.noContent { color: #f87a1e; font: normal normal lighter 2em Arial, Helvetica, sans-serif; margin: 10px 0 55px; text-align: center; text-transform: uppercase; width: 790px; }

/* END LIGHTBOXES */

/* CONTENT */
#contentWrapper { min-height: auto; height: auto !important; height:  100%;margin-bottom:-45px; position: relative;}

/* All comments about penguins and candy did not make the cut */

/* Catch IE */
.ie7 {}
.ie8 {}
.ie9 {}

.wrap { width: 940px; height: 100%; margin: 0 auto; position: relative; z-index: 100; }
.promotational { min-height:705px; }
#newrotator {
	/* background-position: center center;
	background-attachment: fixed; */
	width: 100%; height: 100%; min-height:100%; min-width:100%;
	position: fixed;
	top: 0; left: 0;
	z-index: 0;
	-webkit-background-size: cover; 
	-moz-background-size: cover; 
	-o-background-size: cover; 
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: none;
	
}
.topnav { width: 940px; }

.topnav .search input[type='text'] {
	background: url(../../assets/images/sprite.png)/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/sprite.png*/ no-repeat 2px -220px #fff;
	float: left;
	position: relative;
	top: 4px;
	margin-right: 10px;
	border: 1px solid #ADADAD;
	padding: 3px 2px 4px 19px;
	font-size: 11px;
	color: #858585;
	width: 126px;
	height:12px;
	position: absolute;
    right: 95px;
}

.topnav .searchSubmit{
	background: url('../../assets/images/searchBox_sprite.png')/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/searchBox_sprite.png*/ repeat scroll 15px 0 transparent;
    border: medium none;
    float: right;
    height: 15px;
    width: 15px;
	top:7px;
	right:108px;
	position:absolute;
}

.topnav  .search #language {
	float:left;
	width: 70px;
	margin-right:10px;
	margin-top: 7px;
	font-size: 9px;
}
.topnav .search {
	height: 30px; width: 68px;
	display: block;
	float: right;
}
.topnav .search a {
		background-image: url(../../assets/images/sprite.png)/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/sprite.png*/ ;
		background-repeat: no-repeat;
		display: block;
		float: left;
		width: 22px; height: 26px;
}
.topnav .search a.lang { 
	width: 44px; height: 10px;
	background-position: 0 -298px;
	padding-left: 15px;
	position: relative; top: 10px;
	display: none;
}
.topnav .search a.tw {	background-position: 4px -70px;}
.topnav .search a.fb {	background-position: 4px -46px;}
.topnav .search a.yt {	background-position: 2px -124px;}
.topnav .search a.flc {	background-position: 1px -24px;}
.topnav .mainnav {
	background: url(../../assets/images/header-bg.png)/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/header-bg.png*/;
	height: 30px; width: 910px;
	display: block;
	padding: 13px 15px 0;
	font-size: 16px;
	margin-bottom: 0;
}
.topnav .mainnav li { display: block; float: left; margin-right: 20px; text-align:center; }
.topnav .mainnav li a { color: white; text-decoration: none; display:block; }
.topnav .mainnav li a:hover { text-decoration: underline; }
.topnav .mainnav li a#active { font-family: 'Arial'; font-weight:bold; line-height:16px; display:block; margin-top:2px; }
/*.topnav .mainnav li a#active { font-family: 'GothamBold'; line-height:16px;}*/
.ie8 .topnav .mainnav li a#active {line-height:16px;}
.ie7 .topnav .mainnav li a#active {line-height:17px;}
.topnav .mainnav li a.logo {
	background: url(../../assets/images/sprite.png)/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/sprite.png*/ 0 0 no-repeat;
	display: block;
	height: 20px; width: 140px;
}

.divide-sm-top {
	background: url(../../assets/images/double-dots.gif)/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/double-dots.gif*/;
	width: auto; height: 5px;
	margin: 5px 0;
}

.topnav .subnav {
	background: url(../../assets/images/subnav.png)/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/subnav.png*/ repeat-x bottom left;
	font-family: "Arial", sans-serif;
	font-size: 13px;
	/* line-height: 20px; */
	width: 940px;
	border-radius: 0 0 15px 15px;
	margin-top: 0;
	padding: 0 0;
	display: none;
	overflow: hidden;
	height:1px;
}
.topnav .subnav li {
	background: url(../../assets/images/double-dots.gif)/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/double-dots.gif*/ repeat-y top left;
	display: block;
	float: left;
	width: 175px;
	padding: 0px 30px 0;
}
.topnav .subnav li.xlrg { width: 460px; padding: 0 60px; }
.topnav .subnav li.xxlrg { width: 640px; padding: 0 20px; margin-top: 0; }
.topnav .subnav li.xxlrg h3 { padding-left: 30px; }
.topnav .subnav li.lrg { width: 273px; padding: 0 20px; }
.topnav .subnav li.lrg small { line-height: 17px; } 
.topnav .subnav li.lrg3col { padding: 0 69px; }
.topnav .subnav.news li.lrg3col { padding: 0 69px; }
.topnav .subnav.news li.lrg3col small { width:200px; display:block; }
.topnav .subnav li.sm { width: 130px; padding-left: 0 20px 0 40px; }
.topnav .subnav li.xlrg ul li {
	background: none;
	width: 460px;
	margin-left: 30px;
	font-size: 13px;
}

.topnav .subnav li.xxlrg ul li { 
	float: left;
	background: none;
	width: 130px;
	margin-left: 30px;
	font-size: 13px;
}
.topnav .subnav li.xlrg ul li a { }
.topnav .subnav li.xlrg ul li { margin: 0; }
.topnav .subnav li ul { padding: 0; margin-bottom: 10px; }
.topnav .subnav li ul li {
	margin-top: 2px;
	padding: 0;
	background: none;
	float: none;
	display: block;
}
.topnav .subnav a {
	text-decoration: none;
	color: #005596 !important;
	font-size: 13px;
}
.topnav .subnav a:hover {
	text-decoration: underline;
}
.topnav .subnav li:first-child {
	background: none;
}
.topnav .subnav h3,
.topnav .subnav h3 a {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: lighter;
	margin: 0 0 5px;
}
.topnav .subnav h3 a {
	color: #005596 !important;
}
.topnav .subnav h3 { padding: 4px 0; }
.topnav .subnav p {
	margin: 0;
	font-size: 13px;
	line-height: 16px;
}


/* PROMO TEXT */
.promo {
	color: #fff;
	position: relative;
	z-index: 1000;
	width: 730px;
	margin: 73px auto 0;
	display: none;
	position: absolute;
	top: 0; left: 0px;
	text-shadow: 1px 1px 4px #444444;
	
}
.promo:first-child { display: block; }
.promo.active { display: block; left: -0; }
.promo h1,
.promo h2 {
	font-size: 124px;
	text-transform: uppercase;
	margin: 0;
	line-height: 90px;
	text-shadow: 0 0 10px #999;
	filter:		progid:DXImageTransform.Microsoft.DropShadow(OffX=1, OffY=1, Color=#1f1f1f);
}
.ie9 .promo h1,
.ie9 .promo h2 {
	line-height: 100px;
}
.ie8 .promo h1,
.ie8 .promo h2 {
	line-height: 100px;
}
.promo h2 { font-size: 84px; }
.promo p { width: 653px; padding: 0 0 0 10px; font-size: 23px; position: relative;  }
.promo p span { filter: progid:DXImageTransform.Microsoft.Glow(Color=#666666,Strength=1)progid:DXImageTransform.Microsoft.blur(pixelradius=2, enabled='true'); position: absolute; zoom:1; left:7px; top: -3px; z-index:-1; }
.promo a.lightbox, .promo a.homePromoButton{
	 background: -moz-linear-gradient(top, #f9f9f9 0%, #e0e0e0 100%);  /* FF3.6+  */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#e0e0e0));  /* Chrome,Safari4+  */
	background: -webkit-linear-gradient(top, #f9f9f9 0%,#e0e0e0 100%);  /* Chrome10+,Safari5.1+  */
	background: -o-linear-gradient(top, #f9f9f9 0%,#e0e0e0 100%);  /* Opera 11.10+  */
	background: -ms-linear-gradient(top, #f9f9f9 0%,#e0e0e0 100%);  /* IE10+  */
	background: linear-gradient(top, #f9f9f9 0%,#e0e0e0 100%);  /* W3C  */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F9F9F9', endColorstr='#E0E0E0',GradientType=0 );  /* IE6-8  */
	 box-shadow: 0 0 6px #222; 
	color: #555; 
	padding: 8px 30px 8px 8px; 
	border-radius: 10px; 
	text-decoration: none;
	position: relative;
	display: block;
	top: 20px; left: 10px;
	width: 110px;
	line-height: 20px;
	height: 20px;
	float: left;
	text-shadow: 0px 0px 0px;
}

.promo a.lightbox:hover { text-decloration: underline; }

.ie9 .promo a.lightbox,
.ie8 .promo a.lightbox,
.ie7 .promo a.lightbox,
.ie9 .promo a.homePromoButton,
.ie8 .promo a.homePromoButton,
.ie7 .promo a.homePromoButton {
	left: 0px;
	line-height: 20px;
}

.ie8 .promo a.lightbox,
.ie7 .promo a.lightbox,
.ie8 .promo a.homePromoButton,
.ie7 .promo a.homePromoButton{
background: url("../../assets/images/subnav.png")/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/subnav.png*/ repeat scroll 0 0 transparent;
} 


.promo a span.btn { 
	background: url(../../assets/images/sprite.png)/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/sprite.png*/ 0 -385px no-repeat;
	display: block;
    position: absolute;
    right: 2px; top: 2px;
    height: 30px;
    width: 30px;
	text-shadow: 0px;
}
ul.promo-pager {
	height: 30px;
	min-width: 100px;
	padding: 0 5px;
	float: right;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #555;
	position: absolute;
	bottom: -30px; right: 0;
	background: url(../../assets/images/subnav.png)/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/subnav.png*/;
}
.ie7  ul.promo-pager  {
	
}
ul.promo-pager .prev {
	display: block;
	float: left;
	width: 20px; height: 10px;
	background: url(../../assets/images/sprite.png)/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/sprite.png*/ 0px -286px no-repeat;
	position: relative;
	top: 10px;
	cursor: pointer;
}
ul.promo-pager .next {
	display: block;
	float: right;
	width: 20px; height: 10px;
	background: url(../../assets/images/sprite.png)/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/sprite.png*/ -20px -286px no-repeat;
	position: relative;
	top: 10px;
	cursor: pointer;
}
ul.promo-pager li {
	width: 20px; height: 20px;
	background: url(../../assets/images/sprite.png)/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/sprite.png*/ -146px -61px no-repeat;
	float: left;
	margin-top: 5px;
	cursor: pointer;
}
ul.promo-pager li.active {
	background-position: -128px -61px;
}

/* SOCIALIZER */
.socializer {
	background: url(../../assets/images/subnav.png)/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/subnav.png*/;
	width: 650px; height: 135px;
	position: absolute;
	bottom: -30px; left: 0px;
	border-radius: 5px;
	padding: 5px;
	overflow: hidden;
}
.socializer h3 {
	background: url(../../assets/images/double-dots.gif)/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/double-dots.gif*/ left 21px repeat-x;
	text-transform: uppercase;
	font-size: 16px;
	/*color: #005596;*/
	color: #000;
	height: 23px;
}
.socializer .socialclose,
.socializer .show {
	float: right;
	padding-right: 32px;
	color: #005596;
	background: url(../../assets/images/sprite.png)/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/sprite.png*/ no-repeat 47px -262px;
}
.socializer ul { position: relative; }
.socializer ul.parent { left: -5px; }
.socializer ul li:first-child { margin-top: 5px; }
.socializer ul li { background-image: url(../../assets/images/sprite.png)/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/sprite.png*/;
	padding: 4px 0 4px 30px; 
	width: 117px; 
	cursor: pointer;
	background-repeat: no-repeat;
	color: #005596;
}
.flc { background-position: 2px -26px; }
.fb { background-position: 5px -96px; }
.yt { background-position: 5px -124px; } 
.tw { background-position: 5px -154px; }
.nw { background-position: 5px -186px; } 
.socializer ul li.active { background-color: #bbb; color:white;}
.socializer ul li.active ul {
	width: 500px; height: 105px;
	position: absolute;
	top: 0; right: 3px;
	display: block;
}
.socializer ul li.active div {
	display: block;
}
.socializer ul li.active div.tweets-feed,
.socializer ul li.active div.fb-like-box,
.socializer ul li.active #ytFeed,
.socializer ul li.active div.news-feed {
	/* background: url(/vgn-ext-templating/navistar/assets/images/grey1.png); */
	width: 500px; height: 105px;
	position: absolute;
	top: 0; right: 0px;
	display: block;
	border:solid 3px #BBB;
}
.socializer ul li ul,
.socializer ul li div { display: none; overflow-y: auto; overflow-x: hidden; color: grey;}
/* .socializer ul li ul a { color: #e1e1e1;} */

/**** FACEBOOK FEED ****/
.pts .fan_box .connect_top { display: none;}

/**** YOUTUBE FEED ****/
li.yt #ytFeed {
	height: 105px;
}
.social-news #ytFeed .videos {
	background: none;
}
#ytFeed .videos { 
	/* background: url(/vgn-ext-templating/navistar/assets/images/grey1.png); */
	width: auto; height: auto; 
	left: 0; overflow: hidden; 
}
#ytFeed .videos li {
	background: url("../../assets/images/double-dots.gif")/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/double-dots.gif*/ repeat-x left bottom !important;
	margin: 5px 5px 0px;
	padding: 0 50px 15px 0;
	width: 470px;
}
#ytFeed .videos li .yt-thumbnail {
	width: 80px; height: 60px;
	float: left;
	margin-right: 5px;
	display: block;
	overflow: hidden;
}
#ytFeed .videos li p.title {
	font-size: 13px;
	color: #005596;
}
#ytFeed .videos li .yt-thumbnail img {
	width: 100%; height: auto;
}

/**** TWITTER FEED ****/ 
.tweet_list { 
	overflow: hidden !important; 
	height: auto !important;
	left: 0 !important;
}
.tweet_list li {
	background: url("../../assets/images/double-dots.gif")/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/double-dots.gif*/ repeat-x left bottom !important;
	padding: 0 0 10px 10px !important;
	font-size: 13px;
	margin-bottom: 10px;
}
.tweet_avatar {
	float: left;
	margin-right: 5px;
}

.socializer ul li ul li {
	background: none;
	cursor: default;
	width: 450px;
	color: grey;
}
/*** news feed ***/
.socializer ul li div.news-feed {
	cursor: default;
	font-size: 13px;
}
.socializer ul li div.news-feed .news-item {
	background: url("../../assets/images/double-dots.gif")/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/double-dots.gif*/ repeat-x scroll left bottom transparent;
	padding: 5px 0 10px 10px;
}
.socializer ul li div.news-feed h3 {
	background: none !important; height: auto;
	color: #e1e1e1;
	cursor: pointer;
	font-size: 13px;
}
.socializer ul li div.news-feed h3 a {
	/* color: white; */
}

#container {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    font-size: 13px;
    padding: 25px;
    width: 890px;
    margin-bottom: 15px;
}
.divide {
	background: url(../../assets/images/double-dots.gif)/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/double-dots.gif*/;
	width: 890px; height: 10px;
	margin: 10px 0;
	clear: both;
}
article.v-block {
	background: #ccc;
	width: 194px; height: 405px;
	margin: 20px 0px 20px 38px;
	float: left;
	font-size: 13px;
	position: relative;
}
article.v-block.first {
	margin-left: 0;
}
article.v-block p {
	margin: 5px 10px 10px;
}
article.v-block .blockImg, article.h-block .blockImg { background:none; margin:0; padding:0; }
article.v-block img { width: 194px; height: auto; }

#contentblock0 {
	padding-top: 0;
}
article.h-block {
	background: url(../../assets/images/double-dots.gif)/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/double-dots.gif*/ left top repeat-x;
	padding-top: 45px;
	margin-bottom: 30px;
	margin-top: 0px;
	width: 670px;
}
article.h-block ul, 
article.h-block li {
	float: left;
    font-size: 13px;
    line-height: 18px;
    margin: 0 0 5px;
    width: 450px;
    list-style:disc inside none;
 }
 
article.h-block h2, .sub-footer h2 {
	/*color: #005596;*/
	color: #000;
	font-size: 18px;
	margin-bottom: 10px; 
	font-family: "Arial";
	text-transform: uppercase;
}
article.h-block img {
	float: left;
	margin-right: 15px;
}
article.h-block p, article.h-block ul {
	text-align: left;
	width: 440px;
	margin: 0 20px 15px 0;
	font-size: 13px;
	line-height: 18px;
}

.ie7 article.h-block ul, 
.ie7 article.h-block li,
.ie7 article.h-block p {
	width: 400px;
}





/* new for new design in careers */

article.v-block .blockImg, article.h-block-lrg .blockImg { background:none; margin:0; padding:0; }
article.v-block img { /*width: 100%; height: auto;*/ }

article.h-block-lrg:first-child {
	background: none;
	padding-top: 0;
}
article.h-block-lrg {
	background: url(../../assets/images/double-dots.gif)/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/double-dots.gif*/ left top repeat-x;
	padding-top: 15px;
	margin-bottom: 20px;
	margin-top: 0px;
	width: 890px;
}
article.h-block-lrg ul, 
article.h-block-lrg li {
	float: left;
    font-size: 13px;
    line-height: 18px;
    margin: 0 0 5px;
    width: 450px;
    list-style:disc inside none !important;
 }

article.h-block-lrg h2, .sub-footer h2 {
	/*color: #005596;*/
	color: #000;
	font-size: 18px;
	margin-bottom: 10px; 
	font-family: "Arial";
	text-transform: uppercase;
}
article.h-block-lrg img {
	float: left;
	margin-right: 15px;
}
article.h-block-lrg p, article.h-block-lrg ul {
	text-align: left;
	margin: 0 40px 15px 0;
	font-size: 13px;
	line-height: 18px;
	list-style:disc inside none !important;
}
article.h-block-lrg p {
	display: block;
	float: right;
	width: 415px;
}

article.v-block p,
article.v-block-lrg p {
	margin: 15px 10px;
}
article.v-block a.link-btn,
article.v-block-lrg a.link-btn {
	margin: 0px 10px;
}


article.v-block-lrg {
	width: 275px; height: 400px;
	float: left;
	margin: 50px 0 20px 32px; 
	background: #e1e4e8;
	position: relative;
}
article.v-block-lrg .title {
	position: absolute;
	color: white;
	text-transform: uppercase;
	text-shadow: 2px 2px 4px #222;
	font-size: 18px;
	left: 5px; top: 150px;
}
article.v-block-lrg img {
	width: 100%; height: auto;
}
article.v-block-lrg.first {
	margin-left: 0;
}
article.v-block-lrg a.learn-btn, article.v-block a.learn-btn {
	background: #2d8bbe; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: -moz-linear-gradient(top, #2d8bbe 0%, #1c5580 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2d8bbe), color-stop(100%,#1c5580)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #2d8bbe 0%,#1c5580 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #2d8bbe 0%,#1c5580 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #2d8bbe 0%,#1c5580 100%); /* IE10+ */
background: linear-gradient(top, #2d8bbe 0%,#1c5580 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d8bbe', endColorstr='#1c5580',GradientType=0 ); /* IE6-8 */
border-radius: 5px;
color: white;
/*font-family: "Gotham",sans-serif;*/
font-family: "Arial",sans-serif;
text-decoration: none;
padding: 5px;
position: absolute;
bottom: 20px;
left: 10px;
}

article.h-block a.learn-btn, a.blue-btn {
	background: #2d8bbe; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: -moz-linear-gradient(top, #2d8bbe 0%, #1c5580 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2d8bbe), color-stop(100%,#1c5580)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #2d8bbe 0%,#1c5580 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #2d8bbe 0%,#1c5580 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #2d8bbe 0%,#1c5580 100%); /* IE10+ */
background: linear-gradient(top, #2d8bbe 0%,#1c5580 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d8bbe', endColorstr='#1c5580',GradientType=0 ); /* IE6-8 */
border-radius: 5px;
color: white;
/*font-family: "Gotham",sans-serif;*/
font-family: "Arial",sans-serif;
text-decoration: none;
padding: 5px;
float: left;
}

article.v-block-lrg ul { list-style: none inside; width: 200px; float: left; padding-left: 10px; }
article.v-block-lrg ul a.test { border: none; background: none; padding: 0px; text-decoration: none;border-radius: none; bottom: 0px; color: #005596; left: 0px; display: block; padding: 3px 0px; position: relative; text-decoration: none; font-weight: bold;}
article.v-block-lrg ul a.test:hover { text-decoration: underline; }

.sub-footer .foot-block a {
	margin-left: 0;
}
article.v-block a,
.sub-footer .foot-block a,
.sub-footer .foot-block-2 a,
.sub-footer .foot-block-3 a,
.sub-footer .foot-block-3 h2 {
	background: url(../../assets/images/double-dots-blue.gif)/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/double-dots-blue.gif*/ no-repeat left 5px;
	/*font-family: "Gotham",sans-serif;*/
	font-family: "Arial",sans-serif;
	color: #005596;
	font-size: 13px;
	padding-left: 10px;
	margin-left: 10px;
	margin-bottom: 4px;
	display: block;
}
.sub-footer .foot-block a,
.sub-footer .foot-block-2 a,
.sub-footer .foot-block-3 a,
.sub-footer .foot-block-3 h2 {
	margin-left: 0;
	margin-top: 4px;
	margin-bottom: 0;
}

.sub-footer .foot-block-3 h2 {
	color: black;
	font-size: 17px;
	font-weight: normal;
	background: none;
	padding-left: 0px;
}

.sub-footer .foot-block-2 p{
	margin-bottom: 10px;
}
.sub-footer .foot-block {
	background: url(../../assets/images/double-dots.gif)/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/double-dots.gif*/ repeat-y;
	width: 263px;
	margin-right: 20px;
	margin-bottom: 20px;
	padding-left: 20px;
	float: left;
	position: relative;
}
.sub-footer .foot-block-2 {
	background: url(../../assets/images/double-dots.gif)/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/double-dots.gif*/ repeat-y;
	width: 410px;
	margin-right: 20px;
	margin-bottom: 20px;
	padding-left: 20px;
	float: left;
	position: relative;
}
.sub-footer .foot-block-3 {
	background: url(../../assets/images/double-dots.gif)/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/double-dots.gif*/ repeat-y;
	width: 259px;
	margin-right: 20px;
	margin-bottom: 20px;
	padding-left: 20px;
	float: left;
	position: relative;
	min-height: 165px;
}
.sub-footer .foot-block:first-child,
.sub-footer .foot-block-2:first-child,
.sub-footer .foot-block-3:first-child {
	background: none;
	padding-left: 0;
}

.breadcrumbs { clear: both; }
.breadcrumbs a {
	/*font-family: "GothamBold",sans-serif;*/
	font-family: Arial, Helvetica, sans-serif;
	background: url(../../assets/images/double-dots-blue.gif)/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/double-dots-blue.gif*/ no-repeat left 4px;
	padding-left: 10px;
	margin-right: 5px;
	color: #005596;
	text-decoration: none;
	font-size: 13px;
}
.breadcrumbs a:hover { text-decoration: underline; }

.breadcrumbs span.current {
	color: #999;
	background: url(../../assets/images/double-dots-blue.gif)/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/double-dots-blue.gif*/ no-repeat left 4px;
	padding-left: 10px;
}

/* TABBERLY */
a.tabber {
    border-bottom: 28px solid #e1e4e8;
    border-right: 19px solid transparent;
    color: #005596;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    font-size: 12px;
    line-height: 48px;
    height: 0;
    padding: 10px 40px 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 7px;
}
a.tabber.active {
	border-bottom: 28px solid #005596;
	color: #fff;
}

a.tabber:hover { text-decoration: underline; }

.tab-content {
	background: #e1e4e8;
	padding: 20px;
	margin-top: 5px;
	display: none;
}


.tab-content.active {
	display: block;
}
.tab-content h2 {
	/*color: #005596;*/
	color: #000;
	text-transform: uppercase;
}
.tab-content .tab-holder {
	background: url(Unknown_83_filename)/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/library/css/images/double-dots.gif*/ repeat-x;
	padding-top: 20px;
	margin-top: 10px;
}
.tab-content .tab-holder.top,
.tab-content .tab-holder.top .topic,
.tab-content .tab-holder.top .details {
	background: none;
	color: #005596;
	font-weight: bold;
	font-size: 15px;
	/*font-family: "GothamBold";*/
	font-family: Arial, Helvetica, sans-serif;
}
.tab-content .tab-holder .topic {
	float: left;
	width: 250px;
	font-weight: bold;
	font-size: 15px;
	/*font-family: "GothamBold";*/
	font-family: Arial, Helvetica, sans-serif;
}
.tab-content .tab-holder .details {
	font-size: 13px;
	line-height: 16px;
	float: left;
	width: 600px;
}
/* CONTACT PAGE */
.contact-content {
	background: #e1e4e8;
	padding: 20px;
	margin-top: 5px;
	width: 600px;
}
.contact-content h2{
	/*color: #005596;*/
	color: #000;
	font-size: 16px;
	/*font-family: "GothamBook", sans-serif;*/
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 0 20px;
	font-weight: normal;
	text-transform: uppercase;
}
.contactWrap { margin-bottom: 20px; }
.contactContainer { padding: 0; float: left; }

.tab-content p { padding: 10px 0; }
.tab-content ul li { font-weight: bold; }
.tab-content ul.iso li { margin-bottom: 10px; }

.contactContainer address.head { margin-top: 10px; padding-top: 10px; background: none; float: left; width: 850px; }
.contactContainer address { margin-top: 10px; padding-top: 10px; background: url("../../assets/images/double-dots.gif")/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/double-dots.gif*/ left top repeat-x; float: left; width: 609px; }
.contactContainer address span { font-family: arial !important; }
.contactContainer address span.colOne { font-size: 13px; font-weight: bold !important; }
.contactContainer span.colTwo { font-size: 13px; }
.contactContainer span .sml { font-size: 13px; }

.contactContainer address { font-style: normal; }
.contactContainer span.colTwo, span.colTwo.head { float: left; width: 33%; font-weight: normal; font-weight: normal; /*font-family: "GothamBold";*/font-family: Arial, Helvetica, sans-serif; }
.contactContainer span.colOne, span.colOne.head { float: left; width: 25%; font-weight: normal; font-weight: normal; /*font-family: "GothamBold";*/font-family: Arial, Helvetica, sans-serif; }
.contactContainer span.colThree, span.colThree.head { float: left; width: 34%; font-weight: normal; /*font-family: "GothamBold";*/font-family: Arial, Helvetica, sans-serif; }

span.head { font-size: 16px; }


/* TOP SUMMARY */
.top-summary { width: 900px; height: auto; margin-bottom: -20px; }
.top-summary.sitemap { margin-bottom: 0px; }
.top-summary h2 { color: #000; text-transform: uppercase; font-size: 24px; float: none; margin-bottom: 0px; }
.top-summary .top-img,
.top-summary .top-img img { height: auto; }
.top-summary p { margin: 20px 0; font-size: 18px; width: 890px; float: left; }
.top-summary p.half { width: 410px; margin: 0 40px 20px 0; float: left; font-size: 18px; }
.top-summary p:first-child { margin-left: 0; !important} 
.top-summary p.third { width: 260px; margin: 20px 40px 0 0; float: left; font-size: 18px; }

.top-summary h3.rsrchHdr { margin:6px 0 0;font-weight:bold; /*font-family:GothamBold;font-size:12pt;*/font-family: Arial, Helvetica, sans-serif; }
.top-summary p.rsrchP { margin:0 0 20px 0; }

.top-summary-short { width: 900px; height: auto; margin-bottom: 20px; /*float: left;*/ }
.top-summary-short h2 { color: #000; text-transform: uppercase; font-size: 24px; /*float: left;*/ margin-bottom: 20px; }
.top-summary-short .top-img,
.top-summary-short .top-img img { height: auto; float: left; clear: both; width: 408px; }
.top-summary-short .left { float:left; margin-right:20px; }
.top-summary-short .right { /*float:right; width:472px;*/ }
.top-summary-short .right h3 { /*font-family: "GothamBold",sans-serif;*/font-family: Arial, Helvetica, sans-serif; font-size:15px; padding-left: 20px; }
.top-summary-short .right ul li { margin-bottom: 8px; }

.retirees { line-height: 18px; }

.top-img { position: relative; margin-top: 10px; }
.retirees .top-img { position: relative; margin-top: 4px; }
.top-img h3 { position: absolute; /*font-family: 'GothamMedium';*/ font-family: Arial, Helvetica, sans-serif; text-trasform: uppercase; bottom: 20px; left: 20px; color: #fff; font-size: 30px; width: 500px; text-shadow: #1d1d1d 0em 0.1em 0.1em; filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=1, OffY=1, Color='black', Positive='true') }

.top-summary-short p { margin: 20px 20px 20px 0; font-size: 13px; width: 450px; float: right; }
.top-summary-short ul { margin: 0px 20px 0px 0; font-size: 13px; width: 450px; float: right; list-style:disc inside none !important;  }
.top-summary-short p.half { width: 410px; margin: 0 20px 0; float: left; font-size: 18px; }
.top-summary-short p:first-child { margin-left: 0; !important} 
.top-summary-short p.third {  width: 260px; margin: 0 20px 0; float: left; font-size: 18px; }

.retirees .opHours { width: 455px; border: solid 0px #fff; margin-left:-2px; font-size:11px; }
.retirees .opHours td { height:24px; text-align:center; }
.retirees .opHours td.closedColumn { width:72px; }
.retirees .opHours tr td:first-child { font-weight:bold; width:47px; } 
.retirees .opHours .hoursLabelRow { background-color:#c6c8cb; font-weight:bold; }
.retirees .opHours .amRow { background-color:#fff; }
.retirees .opHours .pmRow { background-color:#e7e9ed; }
.retirees br.clear { display: none; }

/*#containerWrap { width: 940px; margin: 0px auto 15px; /* this will be 15px when header added margin: 15px auto; font-family: Arial, Helvetica, sans-serif; }*/
/*#container, .container { width: 890px; padding: 25px; background: #fff; float: left; font-size:11px;}*/

.globofoot h2 { color: #000; text-transform: uppercase; font-size: 24px; }

.locationWrap { background: none; float: left; width: 222px; }
/*.locationWrap { background: url(/vgn-ext-templating/navistar/assets/images/double-dots.gif) 216px 5px repeat-y; float: left; width: 222px; }*/

#containerWrap { margin-bottom: 30px; float: left; }

section.location { float: left; width: 208px;  padding-right: 14px; }
section.location.last { float: left !important; }
section.last { float: right; width: 208px; padding-right: 0px; }
section.location a { cursor:default; border-bottom: 30px solid #ccc;  border-right: 30px solid transparent; display: block; font-weight: bold; height: 0; padding: 10px; text-decoration: none; color:black; position:relative;  }
section.location a span { position: absolute; top: 23px; line-height: 13px; display:block; width:185px; cursor:default; }
section.location a.short { line-height: 52px; cursor: default;  }
section.location a.ctry { padding:0; margin:0; display:inline; border: medium none; cursor: pointer; color: #005596; }
section.location a.ctry:hover { text-decoration:underline; cursor: pointer;  }

section.location .test { width: 208px; height: 130px; background: url(../../assets/images/loc-sprite.gif)/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/loc-sprite.gif*/ left top no-repeat; margin: 1px 0px; }
section.location .na { background-position:0px 0px }
section.location .cc { background-position:0px -130px }
section.location .ea { background-position:0px -260px }
section.location .ap { background-position:0px -390px }

section.location .item { width: 208px; float: left; background: #ccc; min-height: 311px; }
section.location .item p, section.location .item ul { padding: 10px; }
.ie7 section.location .item ul { padding-left:0px; } 
.ie7 section.location .item ul li { width: 100px; }
section.location .item ul { list-style: none inside; width: 165px; float: left;}
section.location .item ul.dubs { width: 84px; }
section.location .item ul a { cursor:pointer; border: none; padding: 3px 0px;height:auto; text-indent:-12px; margin-left:4px; display:block; width:102px; color: #005596; } 
section.location .item ul a:hover { text-decoration: underline; }
.ie7 section.location .item ul a {text-indent:-12px; margin-left:12px;}

.globoProdSubPageNav .last .locationWrap { background:none; }
.globoProdSubPageNav section.location .item { min-height: 75px; }
.globoProdSubPageNav section.location .item h2 { font-size:120%; margin: 10px 10px 0; color:#000000; }
.globoProdSubPageNav section.location a.ctry { font-weight:normal; height:13px; }
.globoProdSubPageNav section.location a.ctry:hover { text-decoration: underline; }
.globoProdSubPageNav .divide-sm-top { margin: 0 10px; }
.globoProdSubPageNav .mainItem { width:208px; min-height: 511px; background: none repeat scroll 0 0 #CCCCCC; }
/***** LEADERS *****/
.divide-sm {
	background: url(../../assets/images/double-dots.gif)/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/double-dots.gif*/;
	/*width: 890px;*/ height: 5px;
	margin: 10px 0;
}
.leadership {
	padding: 30px 40px 0;
	background: #ccc;
	position: relative;
	width: 810px; height: 290px;
	overflow: hidden;
}
.leadership .wrapper { 
	position: absolute;
	width: 810px; height: 260px;
	padding-top: 20px;
	overflow: hidden;
}
.leadership .holder{ position: absolute; left: 0; }  
.leadership .next {
	width: 0; height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 20px solid #005596;
	position: absolute;
	top: 40%; right: 10px;
	cursor: pointer;
}
.leadership .prev {
	width: 0; height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-right: 20px solid #005596;
	position: absolute;
	top: 40%; left: 10px;
	cursor: pointer;
}
.leadership .loader {
	width: 40px; height: 40px;
	background: url(../../assets/images/loader.gif)/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/loader.gif*/ no-repeat;
	position: absolute;
	top: 90px; left: 375px;
}

.leadership .leader:first-child { margin: 0; }
.leadership .leader {
	padding: 10px 10px;
	background: #97b5cd;
	float: left;
	margin-left: 24px;
	text-align: left;
	cursor: pointer;
	width: 105px;
	display: none;
}
.leadership .leader img { width: 105px; height: auto; opacity: 0.6; -moz-opacity: 0.6; filter: alpha(opacity=60); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";}
.leadership .leader p { color: #000000; margin: 3px 0; font-size: 13px; font-weight: bold;}
.leadership .leader.active { height: 210px; width: auto; position: relative; top: -20px; background: none; padding: 0; text-align: center; }

.ie7 .leadership .leader{ margin-left:20px !important; }
.ie7 .leadership .leader.active,
.ie8 .leadership .leader.active { width: 200px; }

.leadership .leader.active img {  height: 210px; width: auto; border: 5px solid #005596; opacity: 1; -moz-opacity: 1; filter:alpha(opacity=100); }
.leadership .leader.active p { color: #333;} 
.leadership .leader small { margin: 0 auto; display: none; width: 160px; }
.leadership .leader.active small { display: block; }

.leader-info { display: none; }
.leader-info.active { display: block; }
.leader-info .left{
	float: left;
	width: 300px;
	margin-right: 20px;
}
.leader-info .left img { width: 260px; height: auto; }
.leader-info .left p { margin: 0; font-size: 18px; text-transform: uppercase; clear: both; }
.leader-info .left a,
.leader-info .right a { color: #005596; cursor: pointer; }
.leader-info .left a.pdf {
	background: url(../../assets/images/sprite.png)/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/sprite.png*/ no-repeat -144px -104px;
	padding: 5px 0 15px 22px;
	float: left; margin-top: 0px;
	text-decoration: underline;
}

.leader-info .right {
	float: left;
	width: 550px;
}

.leader-info .right .hide { display: none; }


/*** NEWS SIDEBAR ***/
.news-sidebar {
	background: #E1E4E8;
	padding: 20px 40px;
	width: 140px;
	float: right;
	position: relative;
	right: -20px;
}
.news-sidebar a.mosaic,
.news-sidebar a.list {
	display: block;
	width: 50px; height: 55px;
	background: url(../../assets/images/sprite.png)/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/sprite.png*/ no-repeat;
	float: left;
	margin-bottom: 20px;
	position: relative;
	top: 0; left: 0;
	cursor: pointer;
}
.news-sidebar a.mosaic { background-position: 0 -421px; margin-right: 20px;}
.news-sidebar a.mosaic:hover { background-position: 0 -421px; }
.news-sidebar a.list { background-position: -71px -486px; }
.news-sidebar a.list:hover { background-position: -71px -486px; }
.news-sidebar a.mosaic.active { background-position: 0 -486px; }
.news-sidebar a.list.active { background-position: -71px -421px; }


.news-sidebar .divide { height: 5px; width: 150px;}
.news-sidebar ul {
	background: url("../../assets/images/double-dots.gif")/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/double-dots.gif*/ repeat-x bottom left;
	padding-bottom: 20px;
	padding-left: 0;
}
.news-sidebar ul h3 {
	text-transform: uppercase;
	font-family: arial;
	font-weight: bold;
	color: #000000;
	margin-bottom: 5px;
}
.news-sidebar ul li {
	margin-bottom: 5px;
}
.news-sidebar ul a {
	text-transform: capitalize;
	font-family: arial;
	font-weight: normal;
	color: #005596;
	text-decoration: none;
	font-size: 13px;
}
.news-sidebar ul a:hover { text-decoration: underline; }


/*** NEWS MOSAIC ***/
section.news {
	width: 670px;
	float: left;
}

.mosaic .news-item {
	float: left;
	width: 350px;
	position: relative;
	margin-bottom: 20px;
}
.mosaic .news-item.last {
	margin-right: 0 !important;
}
.mosaic .news-item .sub {
	background: url(../../assets/images/blu-1.png)/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/blu-1.png*/;
	position: absolute; bottom: 0;
	color: white;
	padding: 10px;
}
.mosaic .news-item .sub  h3 {
	/*font-family: "GothamMedium";*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	margin: 0 0 5px;
}
.mosaic .news-item .sub span {
	font-size: 16px;
}
.mosaic .news-item p { display: none;}
.mosaic .news-item.first {
	width: 300px; min-height: 500px;
	margin-right: 20px;
}
.mosaic .news-item.first .sub { color: #222; background: none; padding: 0; position: relative; top: 0; left: 0;}
.mosaic .news-item.first .sub h3 { font-size: 20px; /*font-family: "GothamBook";*/ font-family: Arial, Helvetica, sans-serif; text-transform: uppercase; }
.mosaic .news-item.first .sub .date { display: none; }
.mosaic .news-item.first p { display: block; line-height: 18px; }
.mosaic .news-item img {
	border: 1px solid #005596;
	width: 100%;
}

.mosaic .news-item.sm {
	width: 165px; height: 120px !important; float: left;
	color: white; margin-right: 20px;
}
.mosaic .news-item.sm .sub {background: #005596;}
.mosaic .news-item.sm img {	display: none; }

.news-wrapper-2 .news-item:first-child { width: 380px; margin-right: 20px; }
.news-wrapper-2 .news-item { width: 266px; border: 1px solid #005596; overflow: hidden; height: 175px !important; }
.news-wrapper-2 .news-item:first-child img { height: auto !important; width: 100% !important; }
.news-wrapper-2 .news-item img { height: 100%; width: auto; border: none; }
.news-wrapper-2 .news-item .sub { bottom: 0; }

/*** NEWS LIST ***/
.list .news-item {
	background: url("../../assets/images/double-dots.gif")/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/double-dots.gif*/ repeat-x bottom left transparent;
	clear: both;
	margin-bottom: 20px;
	padding-bottom: 20px;
}
.list .news-item img {
	float: right;
	width: 275px; height: auto;
	margin-left: 40px; margin-bottom: 20px;
	border: 1px solid #005596;
}
.list .news-item .sub h3 {
	color: #000000;
	text-transform: uppercase;
	/*font-family: "GothamBook";*/
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 18px;
	margin-bottom: 5px;
}
.list .news-item .sub .date {
	color: #999;
	font-style: italic;
}
.list .news-item p {
	font-family: arial, sans-serif;
}


/*** NEWS SOCIAL ***/

.social-news .feed {
	width: 286px; height: 540px; 
	margin: 0 10px 10px 0;
	float: left;
	overflow: hidden;
	font-family: arial, sans-serif;
	font-size: 13px;
}
.social-news .feed h3 {
	border-bottom: 28px solid #878787;
    border-right: 19px solid transparent;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    height: 0;
    line-height: 48px;
    margin-right: 15px;
    padding: 10px 40px 10px 30px;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
}
.social-news .feed h3 span {
	display: block;
	height: 20px; width: 20px;
	background: url(../../assets/images/sprite.png)/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/sprite.png*/ no-repeat 0 -50px;
	position: absolute;
	top: 25px; left: 7px;
}
.social-news .feed.tw h3 span { background-position: 0 -75px; }
.social-news .feed.yt h3 span { background-position: 0 -130px; }
.social-news .feed .inner {
	border: 1px solid #005596;
	padding: 5px;
	margin-top: 2px;
	font-family: arial;
}
.social-news .feed .inner a {
	color: #005596;
	margin-bottom: 5px;
	font-size: 13px;
	font-weight: bold;
}
.social-news .feed .feeder, .social-news .feed .twfeeder {
	height: 320px;
	overflow-y: auto;
	overflow-x: hidden;
	background: #E1E4E8;
	position: relative;
	top: 5px;
}
.social-news .feed #ytFeed {
	position: relative;
}
.social-news .feed #ytFeed li {
	width: 250px;
	padding: 10px 0;
	background: url(../../assets/images/double-dots.gif)/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/double-dots.gif*/ repeat-x;
}
.social-news .feed #ytFeed li .yt-thumbnail {
	display: none;
}
.social-news .feed #ytFeed li:first-child {
	padding-top: 0;
	background: none;
}
.social-news .feed .tweet_list li {
	width: 240px;
}
.social-news .feed .tweet_list li .tweet_text {
	
}
.social-news .feed .tweet_list .tweet_first {
	padding-top: 10px !important;
}
.social-news .feed #ytFeed li a {
	color: #005596;
	font-size: 13px;
}
.social-news .feed #ytFeed li .title { float: left; width: 210px; }
.social-news .feed #ytFeed li .time { float: right; font-size: 13px; font-weight: bold; color: #999; }
.social-news .more-social { clear: both; }
.social-news .feed h4 {
	color: #999;
	font-weight: bold;
	margin-top: 15px;
	margin-left: 10px;
}
.social-news .feed ul.more {
	padding-left: 10px;
	font-size: 13px;
}
.social-news .feed ul.more li {
	margin-top: 5px;
}
.social-news .feed ul.more li a {
	background: url(../../assets/images/double-dots-blue.gif)/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/double-dots-blue.gif*/ no-repeat left center;
	color: #005596;
	font-weight: bold;
	padding-left: 15px;
} 
h2.hashtitle {
	font-size: 28px;
	/*font-family: "GothamBook", sans-serif;*/
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	margin: 10px 0 20px;
}
.hashes {
	background-color: #E1E4E8;
	font-family: arial, sans-serif;
	float: left;
	position: relative;
	left: -49px;
	width: 159px;
	padding: 20px 40px;
}
.hashes li {
	color: #005596;
	margin-bottom: 10px;
	font-size: 13px;
	cursor: pointer;
}
.hashes .foot {
	position: absolute;
	bottom: -21px; left: -5px;
	background: url("../../assets/images/bg-sidebar-foot-left.gif")/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/bg-sidebar-foot-left.gif*/ no-repeat bottom left;
	height: 30px; width: 235px; 
}
.hashes li.active {
	color: #999;
}
.hash-filter {
	background: #E1E4E8;
	font-family: arial, sans-serif;
	width: 610px;
	padding: 20px;
	float: left;
	position: relative;
	left: -20px;
}
.hash-filter .tweet_list {
	background: url(../../assets/images/double-dots.gif)/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/double-dots.gif*/ repeat-x left -1px;
	padding-top: 15px;
}
.hash-filter .tweet_list li {
	background: url(../../assets/images/double-dots.gif)/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/double-dots.gif*/ repeat-x left 50px;
	border: none;
	padding: 0 0 21px !important;
}




/* GLOBAL PORTFOLIO STYLES */
.global-products .product { background: #e1e4e8; margin: 40px 0; position: relative; clear: both; /*float: left;*/ padding-bottom: 0px;}
.global-products .product img { float: left; padding: 0 20px 0px 0; }
.global-products .product p { /*width: 400px;float: left;margin-top: 30px;*/ font-size: 13px; padding:20px 20px 0 20px; }
.global-products .product a.btn, .h-block-lrg a.learn-btn { 
	position: absolute; 
	background: -moz-linear-gradient(center top , #2D8BBE 0%, #1C5580 100%) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2d8bbe), color-stop(100%,#1c5580)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #2d8bbe 0%,#1c5580 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #2d8bbe 0%,#1c5580 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #2d8bbe 0%,#1c5580 100%); /* IE10+ */
	background: linear-gradient(top, #2d8bbe 0%,#1c5580 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d8bbe', endColorstr='#1c5580',GradientType=0 ); 
	border-radius: 5px 5px 5px 5px; 
	bottom: 20px; 
	right: 0px;
	color: white; 
	padding: 10px; 
	height: 12px; 
	text-decoration: none; 
	margin: 20px 20px 0; 
	display:inline-block;
	/*float: left;
	clear:both;*/}
	
.global-products .product a.link  {
	position: absolute; 
	bottom: -6px; 
	right: 0px;
	padding: 15px; 
	height: 12px; 
	text-decoration: none; 
	margin: 20px 20px 0; 
	display:inline-block;
	font-size: 100%;
}
.global-products .product a.link:hover { text-decoration: underline;  }

.locationsHead { clear: both; line-height: 18px; }
.locationsHead h2 { width: 900px; color: #000000; font-size: 24px; text-transform: uppercase; }
#locationHeadTop { float: left; }

#locationHeadTop .main p {  }
#locationHeadTop .contact { float: left; width: 160px; padding: 20px 0px 20px 20px; background: url("../../assets/images/double-dots.gif")/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/double-dots.gif*/ repeat-y scroll left top transparent; color: black; }
#locationHeadBottom { background: url("../../assets/images/double-dots.gif")/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/double-dots.gif*/ repeat-x scroll 0 0 transparent; margin-top: 10px; padding: 20px 0; clear: both; display: none;}
#locationHeadBottom .main { float: left; width: 650px; padding: 20px 0px 20px 40px; }

#locationHeadBottom .nav { float: left; width: 160px; padding: 20px 40px 20px 0px; }


#contentWrapper .one { margin: 20px 1% 20px; float: left; width: 670px; }
#contentWrapper .glContent2,
#contentWrapper .glContent3,
#contentWrapper .glContent4,
#contentWrapper .glContent5 { display: none; margin: 20px 1% 20px; float: left; width: 670px; }

#contentWrapper .one p { text-align: left; }

/**** NEWS ASSETS ****/
.tabs.assets {
	position: relative;
	top: -20px;
}
.assets .tab-content {
	padding: 0;
	position: relative;
	color: #005596;
	font-family: arial, sans-serif;
	font-size: 13px;
}
.assets .tab-content a {
	color: #005596;
	text-decoration: none;
}
.assets .tab-content a:hover { text-decoration: underline; }
.assets .tab-content .divide {
	width: 860px;
	margin: 10px auto;
}




.tabs .tab-content nav {
	background: #c6c8cb;
}
.tabs .tab-content nav ul {
	font-weight: bold;
	padding: 9px;
	height: 18px;
	/*display: none;*/
}
.tabs .tab-content nav ul.active {
	display: block;
}
.tabs .tab-content nav ul li {
	background: url(../../assets/images/double-dots2.gif)/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/double-dots2.gif*/ no-repeat left center;
	color: #005596;
	padding-left: 20px;
	float: left;
	margin-right: 20px;
	font-size: 13px;
	font-weight: normal;
	text-transform: capitalize;
}
.tabs .tab-content nav ul li.active {
	color: #999; 
	background: none;
	padding: 0;
}
.assets .tab-content .top {
	width: 860px; height: 26px;
	margin: 10px auto 0;
}
.assets .tab-content .top a {
	margin-right: 10px;
	line-height: 25px;
}
.assets .tab-content .top input {
	float: right;
	background: url("../../assets/images/sprite.png")/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/sprite.png*/ no-repeat scroll 2px -220px #FFFFFF;
    border: 1px solid #555555;
    color: #333333;
    padding: 2px 4px 2px 17px;
}
.assets .tab-content .assets-wrap {
	height: 450px;
	overflow: hidden;
}
.assets .tab-content ul.asset-list {
	padding-left: 20px;
	position: relative;
}
.assets .tab-content ul.asset-list li {
	float: left;
	margin: 20px 17px 0 0;
	width: 200px; height: 200px;
	font-weight: bold;
	color: #000;
}
.assets .tab-content ul.asset-list li p { margin: 5px 0; }
.assets .tab-content ul.asset-list li img { width: 100%; }
.assets .tab-content .assets-pager {
	background: #c6c8cb;
	padding: 9px;
	height: 18px;
	text-align: right;
}
.assets .tab-content .assets-pager ul {
	width: 120px; height: 20px;
	margin: 6px 0;
	float: right;
}
.assets .tab-content .assets-pager .prev {
	width: 15px; height: 15px;
	background: url(../../assets/images/sprite.png)/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/sprite.png*/ 0 -286px;
	display: block;
	float: left;
	margin-right: 5px;
}
.assets .tab-content .assets-pager .next {
	width: 15px; height: 15px;
	background: url(../../assets/images/sprite.png)/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/sprite.png*/ -24px -286px;
	display: block;
	float: left;
	margin-left: 5px;
}
.assets .tab-content .assets-pager ul {
	padding: 0;
}
.assets .tab-content .assets-pager ul li {
	float: left; display: block;
	width: 9px; height: 9px;
	border-radius: 5px;
	border: 1px solid black;
	background: white;
	margin: 0 3px;
	cursor: pointer;
	-moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -ms-user-select: none;
}
.assets .tab-content .assets-pager ul li.active {
	line-height: 8px;
	font-size: 27px;
}

/* MENU */
#contentWrapper #mobileMenu a.mobilemats { background: none; border-bottom: 0 none; color: #005596; /*font-family: 'GothamMedium';*/ font-family: Arial, Helvetica, sans-serif; font-size: 1.1em; font-weight: normal; height: 24px; margin: 0 0 1px; outline: medium none; padding: 0 0 12px; text-decoration: none; text-shadow: 0 1px 1px transparent; float: left; }
#contentWrapper #mobileMenu a.mobilemats:hover { text-decoration: underline; }
#contentWrapper #mobileMenu a.mobilemats img { float: left; width: 36px; }
#contentWrapper #mobileMenu a.mobilemats span { border-left: 1px solid #fff; float: left; padding: 12px 0 12px 12px; }

.links { width: 200px; float: left; padding: 10px 0 20px; }
.stuff { width: 670px; float: left; padding-left: 20px; background: url("../../assets/images/double-dots.gif")/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/double-dots.gif*/ repeat-y scroll left 100px transparent; margin-bottom: 20px; }
.detailsImg { float: left; padding: 0 20px 20px 0; }
#detailShow, .detailHide { color: #005596; }

h3.artHead { border-bottom: 30px solid #CCCCCC; border-right: 30px solid transparent;  display: inline-block; height: 0; padding: 10px; position: absolute; top: -50px; line-height: 52px; text-transform: uppercase; }
h3.artHead:hover { text-decoration: underline; }
/**** NAVBREAD ***/
/* .navbread { float: right; margin: 5px 10px 0 0; } */
.navbread { position: absolute; right: 25px; top:32px; } 
.navbread a { /*font-family:'GothamBold', arial ,sans-serif;*/ font-family: Arial, Helvetica, sans-serif; margin-right: 5px; color: #005596; text-decoration: none; background: url(../../assets/images/double-dots-blue.gif)/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/double-dots-blue.gif*/ no-repeat left 4px; padding-left: 10px; }
.navbread a:hover { text-decoration: underline; }
.navbread a.searchcareers { background: none; }
.navbread a.searchcareers  img { margin-top: -5px; }
.navbread a.first { background: none; }
.navbread span.current { color: #999; background: url(../../assets/images/double-dots-blue.gif)/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/double-dots-blue.gif*/ no-repeat left 4px; padding-left: 10px; }

/*.navbread.research {
	position: absolute;
	top: 20px; right: 0;
}*/

/**** TIMELINE *****/
.timeline { background:#E1E4E8;width:630px;margin-top:30px;padding:20px; }
.timeline h2 { width:100%;text-transform:uppercase;font-size:1.6em;position:relative;left:125px;margin:0 0 20px; color: #3c3d3e; font-weight:normal; }
.timeline h3 { width:260px;text-align:left;display:inline-block;color:#000;font-family:Arial, Helvetica, sans-serif;font-size:1.3em; }
.timeline .dates { background:url(../../assets/images/double-dots.gif)/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/double-dots.gif*/ repeat-y scroll 208px 20px transparent;margin-top:30px; }
.timeline .dates .year-wrap { min-height:30px;margin-bottom:20px; }
.timeline .dates .year { background:url(../../assets/images/double-dots.gif)/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/double-dots.gif*/ repeat-x scroll 0 9px transparent;height:20px;padding-left:180px;position:relative;top:-10px;clear:both;margin:10px 0; }
.timeline .dates .year span { background:#ccc;font-size:16px;font-weight:700;color:#fff;padding:3px 10px; }
.timeline .dates .single-date { clear:both;position:relative; }
.timeline .dates .single-date.worldevent { float:left;width:147px; }
.timeline .dates .single-date.worldevent.first { margin-top:0; }
.timeline .dates .single-date.worldevent .content { color:#000;font-size:13px;text-align:right; }
.timeline .dates .single-date.worldevent .date { background:url(../../assets/images/double-dots-blue.gif)/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/double-dots-blue.gif*/ no-repeat left center #E1E4E8;position:absolute;top:-2px;right:-77px;color:#000;font-size:13px;padding-left:12px;font-family:Arial, Helvetica, sans-serif;text-transform:uppercase; font-weight:bold;}
.timeline .dates .single-date.navistarevent { float:right;width:400px;margin-bottom:20px; }
.timeline .dates .single-date.navistarevent .event { position:relative;left:25px; padding-right: 20px; }
.timeline .dates .single-date.navistarevent .event p { font-size: 12px !important; padding-left: 115px; }
.timeline .dates .single-date.navistarevent .event .content { width:260px; }
.timeline .dates .single-date.navistarevent.first { margin-top:-12px; }
.timeline .dates .single-date.navistarevent img { float:left;margin-right:19px;height:80px;width:auto;border:1px solid #999; }
.timeline .dates .single-date.navistarevent .content h4 { color:#000;margin:0; }
.timeline .dates .single-date.navistarevent .date { background:url(../../assets/images/double-dots-blue.gif)/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/double-dots-blue.gif*/ no-repeat right center #E1E4E8;position:absolute;top:48%;left:-38px;color:#000;font-size:13px;padding-right:12px;font-family:Arial, Helvetica, sans-serif;text-transform:uppercase; font-weight:bold;}
.timeline .lastMoreLine,.timeline .lastLine { height:55px;top:14px!important; }
.timeline .timelineToggle { position:relative;font-weight:700;font-size:13px;top:16px;text-decoration:underline;left:72px; }
.timeline .dates .single-date.worldevent img,.timeline .dates .single-date.worldevent .content h4 { display:none; }
a.hless { padding-left: 115px; }
.lastMoreLine .timelineToggle {
	left: 97px;
}

.lightbox-popup {
	background: white;
	min-width: 560px;
	min-height: 130px /*300px; max-height: 600px;*/
	/*overflow: auto;
	overflow-y: auto;*/
	-webkit-overflow-scrolling:touch;
	position: fixed;
	top: 20px; left: 50%;
	margin-left: -300px;
	z-index: 5000;
	box-shadow: 0 0 8px #111;
	display: none;
	padding: 5px;
}
.lightbox-popup #video_wrapper {
	margin: 0 auto;
}
.lightbox-popup a.close {
	background: url("../../assets/images/close.png")/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/close.png*/ no-repeat right 2px;
	display: block;
	position: absolute;
	top: -13px; right: -12px;
	width: 80px; height: 20px;
	color: white;
}
.lightbox-popup img {
	width: 100%; height: auto;
}
.lightbox-popup p.title {
	position: absolute;
	left: 0;
	bottom: -30px;
	font-weight: bold;
	color: white;
	display: none;
}
.lightbox-popup a.download {
	position: absolute;
	bottom: -70px; right: -13px;
	display: block;
	width: 190px; height: 80px;
	background: url("../../assets/images/dl-image.png")/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/dl-image.png*/ no-repeat;
}
.lightbox-popup .assessment { margin: 20px 10px 10px; }
.lightbox-popup .assessment p { margin: 10px 0; }
.lightbox-popup .assessment label { font-weight: normal; }
.lightbox-shade {
	width: 100%; height: 150%;
	background: transparent url('../../assets/images/black-bkgd.png')/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/black-bkgd.png*/;
	display: none;
	position: fixed;
	top: 0; left: 0;
	z-index: 4999;
}

/*  SITE MAP */
.site-map { float: left; width: 850px; }
.site-map ul { float: left; background: none; margin: 5px 0 20px; }
.site-map ul.sitemap-content{ background: #E1E4E8; padding: 10px; width: 630px; }
.site-map ul li { float: left; width: 630px; }
.site-map ul ul li { float: left; width: 220px; padding-top: 5px; background: url("../../assets/images/double-dots.gif")/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/double-dots.gif*/ repeat-x scroll left top transparent; margin-right: 20px; margin-bottom: 10px; }
.site-map ul ul li ul li { background: none; }
.site-map ul.split-col {
	width: 110px; float: left; 
}
.site-map ul.split-col li {
	width: 100px;
}
.site-map ul ul li a { margin-bottom: 5px;  }
.site-map ul ul ul { float: left; }

.site-map a.depth-1 { font-size: 22px; clear: both; width: 100%; float: left; border-top: 1px solid #005596; padding: 0 0 5px; }
.site-map a.depth-2 { font-weight: bold; display: block; }
.site-map a.depth-3 {  }
.site-map a { text-decoration: underline; } 

/*
.site-map { float: left; width: 720px; }
.site-map ul { float: left; background: none; margin: 5px 0 20px; }
.site-map ul li { float: left; width: 720px; }
.site-map ul ul li { float: left; width: 240px; }
.site-map ul ul li a {  }
.site-map ul ul ul { float: left; }

.site-map a.depth-1 { font-size: 22px; clear: both; width: 720px; float: left; border-bottom: 1px solid #005596; padding: 0 0 5px; }
.site-map a.depth-2 { font-weight: bold; }
.site-map a.depth-3 { padding-left: 5px; }
*/


/* SIDE RAIL */
.genericContent { background: none; position: absolute; left: 718px; z-index: 1001; }
.genericContent .sideRail { background: url(../../assets/images/bg-sidebar-foot.gif)/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/bg-sidebar-foot.gif*/ left bottom no-repeat; width: 244px; float: right; margin-right: -21px; padding-bottom: 20px; text-align: right; position: static; font-size: 13px; }
.ie7 .genericContent .sideRail  { position:absolute; }
.genericContent .sideRail ul { background: #e1e4e8; padding: 20px 50px 20px 0px; float: left; width: 194px;} 
.genericContent .sideRail ul li {color: #005596; width: 150px; margin-bottom: 10px; float: right; display: block;}
.genericContent h3.sideHead { background: url(../../assets/images/bg-sidebar-head.gif)/*tpa=http://www.navistar.com/vgn-ext-templating/navistar/assets/images/bg-sidebar-head.gif*/ left top no-repeat; width: 194px; height: 27px; color: #fff; padding: 8px 50px 0px 0px; font-size:100%;}
.genericContent a { font-size: 13px;  padding: 3px 0 3px 6px; display: block;}

/* stock ticker */
.stockTick {
	background-image: linear-gradient(top, #292929 0%, #8d8d8c 100%);
	background-image: -o-linear-gradient(top, #292929 0%, #8d8d8c 100%);
	background-image: -moz-linear-gradient(top, #292929 0%, #8d8d8c 100%);
	background-image: -webkit-linear-gradient(top, #292929 0%, #8d8d8c 100%);
	background-image: -ms-linear-gradient(top, #292929 0%, #8d8d8c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8d8d8c', endColorstr='#292929',GradientType=0 ); /* IE6-8 */
	width: 130px; height: 60px; 
	color: #ccc;
	border-radius: 10px;
	text-align: center;
	padding: 10px 5px;
	margin: 5px 10px 10px;
	float: left;
}
.stockTick .stockPrice {
	color: #00ff1e;
	display: block;
	font-size: 20px;
	font-weight: bold; 
}
.stockWrapper {
	font-size: 16px;
	font-family: arial, sans-serif;
}
.stockTick .stockChange {
	display: none;
}
a.ziplink { background: none  !important; padding-left: 0px  !important; font-size: 17px !important; font-weight: normal !important; /*font-family: "GothamBook",sans-serif  !important;*/ font-family: Arial, Helvetica, sans-serif; font-style: normal; text-transform:uppercase;}
a.ziplink:hover { text-decoration: underline; }


.globofix {  float:right; width:462px;}
