/*#region Oxy Classes******************/
body {
  font-family: Arial, Helvetica;
  font-size: 12pt;
  line-height: 1;
}
a {
  color: #00529b;
}
a:visited {
  color: #00529b;
}
a:hover {
  color: #77787b;
  text-decoration: none;
}
header .container,
footer .container {
  padding-left: 0;
  padding-right: 0;
}
header .container .row,
footer .container .row {
  margin-left: 0;
  margin-right: 0;
}
.ms-rtestate-field h1 {
  color: #00529b;
  font-size: 12pt;
}
h1 {
  color: #b56a1e;
  font-size: 1.2em;
}
h2 {
  color: #67727d;
  font: 10pt arial ;
}
h4 {
  color: #00529b;
  font: 8pt arial ;
}
article {
  font-family: arial, Tahoma;
  font-size: .85em;
  color: #77787b;
}
.btn-default {
  padding: 2px 20px;
  border-radius: 0px;
  background-color: #00529b;
  color: white;
  font-size: .8em;
}
.btn-default:hover {
  background-color: #67727d;
  color: white;
}
a.btn-default {
  color: white;
}
.oxyBlue1Background {
  background-color: #00529b !important;
}
.oxyOrangeBackground {
  background-color: #b56a1e !important;
}
.oxyRightCaretLarge {
  height: 8px;
  width: 8px;
  background-position: -173px -1px;
  display: inline-block;
  background-image: url(../../../../SiteCollectionImages/Sprite.png)/*tpa=http://www.oxy.com/SiteCollectionImages/Sprite.png*/;
  background-repeat: no-repeat;
}
.oxyRightCaretSmall {
  height: 8px;
  width: 8px;
  background-position: -173px -19px;
  display: inline-block;
  background-image: url(../../../../SiteCollectionImages/Sprite.png)/*tpa=http://www.oxy.com/SiteCollectionImages/Sprite.png*/;
  background-repeat: no-repeat;
}
.oxy_margin0 {
  margin: 0!important;
}
.oxy_margin5TopAndBottom {
  margin-top: 5px!important;
  margin-bottom: 5px!important;
}
/* Touch enable IE 11 */
#heroCarousel,
#videoWebPart,
#phoneVideoCarousel {
  -ms-touch-action: none;
}
/*# sourceMappingURL=Oxy.css.map */
/*#region Viewports*************************/
@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
/*# sourceMappingURL=Oxy.css.map */
/*#region Extended Widths. Header, Footer***/
/*Note that there is a similar section for the carousel. Seprated to accomodate media queries to handle images on smaller devices.*/
.oxyExtendedWidthSection-Parent {
  position: relative;
}
.oxyExtendedWidthSection {
  position: absolute;
  width: 1280px;
  left: -150px;
}
.oxyExtendedWidth-NavBar {
  background-color: #e8eaef;
  height: 56px;
}
.oxyExtendedWidth-Footer {
  background-color: #e8eaef;
  height: 420px;
}
/*# sourceMappingURL=Oxy.css.map */
/*#region Header, Links ********************/
header {
  font: 10pt arial;
}
header .links {
  font-size: .8em;
  margin-top: 30px;
}
header .links a {
  color: #77787b;
}
header .links .glyphicon-chevron-right {
  font-size: .7em;
  color: #67727d;
  top: 0;
}
@media screen and (min-width: 768px) {
  .HeaderRow1 {
    height: 85px;
  }
}
/*# sourceMappingURL=Oxy.css.map */
/*#region Stock Ticker**********************/
@media screen and (min-width: 768px) {
  .stockTicker {
    font: 10pt arial;
    color: #77787b;
  }
  .stockTicker > div {
    font-size: .8em;
    vertical-align: middle;
    position: relative;
    top: 30px;
    margin-left: 15px;
  }
  .stockTicker strong {
    color: black;
  }
  .stockTicker span {
    font-size: .75em;
  }
  .stockTicker span.glyphicon-arrow-up {
    color: green;
  }
  .stockTicker span.glyphicon-arrow-down {
    color: red;
  }
}
@media screen and (max-width: 767px) {
  .stockTicker {
    font: 10pt arial;
    color: #77787b;
    height: auto;
    padding: 10px 0;
    text-align: center;
  }
  .stockTicker hr {
    margin: 3px;
    padding: 2px;
  }
  .stockTicker > div {
    font-size: .8em;
    vertical-align: middle;
    margin-left: 15px;
  }
  .stockTicker strong {
    color: black;
  }
  .stockTicker p {
    font-size: .75em;
    margin-bottom: 2px;
  }
  .stockTicker span.glyphicon-arrow-up {
    color: green;
  }
  .stockTicker span.glyphicon-arrow-down {
    color: red;
  }
}
/*# sourceMappingURL=Oxy.css.map */
/*#region Logo******************************/
@media screen and (min-width: 768px) {
  .siteLogo_Oxy {
    z-index: 500;
    margin-left: 0;
    padding: 0 15px 0 15px;
    position: absolute;
  }
  .siteLogo_Oxy img {
    padding: 0px 5px 5px 2px;
    height: 95px;
    width: 95px;
    margin-top: -20px;
  }
}
@media screen and (max-width: 767px) {
  .siteLogo_Oxy {
    position: absolute;
    text-align: center;
    width: 100%;
  }
  .siteLogo_Oxy img {
    position: relative;
    z-index: 500;
    top: -5px;
    left: 5px;
    height: 80.75px;
    width: 80.75px;
  }
}
/*# sourceMappingURL=Oxy.css.map */
/*#region Navbar****************************/
#topnav .row {
  background-color: #e8eaef;
}
@media screen and (max-width: 767px) {
  #topNavList {
    margin-top: 0px;
  }
  #topNavList li.active a {
    background-color: #00529b;
    color: #e8eaef;
  }
  #topNavList li div.oxyTabActiveIndicator {
    display: none;
  }
  #topnav .row {
    background-color: transparent;
  }
  #topnav .row .navbar_oxy {
    background-color: transparent;
  }
}
/*.navbar-collapse{ //Moved to 615px line below
    width:635px;
}*/
@media screen and (min-width: 768px) {
  #oxyNavBarListSection {
    position: relative;
    left: 125px;
    width: 615px;
  }
  #topNavList li a {
    /*Set height of the a tag inside the li. Allow for padding of 15 top and bottom.*/
    line-height: 26px;
    background-image: url("../img/dividers.png")/*tpa=http://www.oxy.com/_catalogs/masterpage/Oxy/img/dividers.png*/;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 2px 26px;
  }
  #topNavList li.last a {
    background-image: none;
  }
  #topNavList li.active a {
    background-image: url("../img/hovernav.png")/*tpa=http://www.oxy.com/_catalogs/masterpage/Oxy/img/hovernav.png*/;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: auto;
    background-color: #00529b;
    color: #e8eaef;
  }
  #topNavList .sub {
    position: absolute;
    top: 55px;
    left: -30px;
    z-index: 501;
    background: #e8eaef;
    float: left;
    display: none;
    font-family: Arial;
    padding: 10px 0;
    border-top: 1px solid white;
    width: 960px;
    height: 300px;
  }
  #topNavList #menuOB {
    left: -126px;
    height: 300px;
  }
  #topNavList #menuSR {
    left: -236px;
    height: 300px;
  }
  #topNavList #menuIR {
    left: -388px;
    height: 300px;
  }
  #topNavList #menuCareers {
    left: -472px;
    height: 300px;
  }
  #topNavList #menuNews {
    left: -550px;
    height: 300px;
  }
  #topNavList #menuAboutUs {
    left: -612px;
    height: 300px;
  }
  #topNavList .content {
    position: static;
    top: auto;
    left: auto;
    z-index: auto;
    float: none;
    display: block;
  }
}
@media screen and (min-width: 992px) {
  .nav > li > a {
    padding: 15px 10px;
  }
}
.nav > li > a:hover,
.hovered {
  background-color: #00529b;
  color: #e8eaef;
}
#navMenuButtonContainer {
  padding-left: 15px;
}
.navMenuButton {
  border-color: #ddd;
  /*box-sizing:border-box;*/
  background-color: #b56a1e;
}
.navMenuButton .icon-bar {
  background-color: #e8eaef;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
#searchButton .navMenuButton {
  color: #e8eaef;
  width: 37px;
  height: 37px;
}
#searchButton .navbar-toggle {
  /*Cancel out the 15px right margin
        margin-right: 0px; */
}
.navbar_oxy {
  min-height: 0px;
  max-height: 56px;
  font: 10pt arial;
  background-color: #e8eaef;
  padding-left: 15px;
  padding-left: 0;
  position: relative;
  margin-bottom: 0;
  border-bottom: 0;
}
.navbar_oxy a {
  color: #00529b;
}
@media screen and (max-width: 991px) {
  .navbar_oxy a {
    font-size: 0.9em;
  }
  #topNavList li.last {
    width: 138px;
  }
  .navbar-collapse {
    padding-right: 0;
  }
}
#OxyPhoneNavigation {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13.33px;
  padding-top: 10px;
  padding-left: 5px;
  max-height: none;
}
#OxyPhoneNavigation.in {
  overflow-y: visible;
}
#OxyPhoneNavigation ul {
  list-style: none;
  padding-left: 0;
}
#OxyPhoneNavigation li {
  list-style: none;
}
#OxyPhoneNavigation .menu-item-text {
  color: #00529b;
  padding-top: 5px;
  padding-bottom: 5px;
}
#OxyPhoneNavigation .ms-core-listMenu-verticalBox > .ms-core-listMenu-item,
#OxyPhoneNavigation .ms-core-listMenu-verticalBox li.static > .ms-core-listMenu-item {
  padding-left: 5px;
}
#OxyPhoneNavigation .ms-core-listMenu-verticalBox li.static > ul.static > li.static > .ms-core-listMenu-item {
  padding-left: 20px;
}
#OxyPhoneNavigation a.selected {
  background: #00529b;
}
#OxyPhoneNavigation a.selected .menu-item-text {
  color: #e8eaef;
}
#OxyPhoneNavParentLink {
  padding-bottom: 8px;
}
@media screen and (max-width: 739px) {
  #OxyPhoneNavigation {
    top: 50px;
  }
}
@media screen and (min-width: 740px) {
  #OxyPhoneNavigation {
    display: none!important;
  }
}
/*# sourceMappingURL=Oxy.css.map */
/*#region Phone only classes****************/
@media screen and (max-width: 767px) {
  header .container {
    padding: 0 0 0 0;
    margin: 0 0px 0 0;
  }
  footer .footer-bottom .copyright,
  footer .footer-bottom .sitemap {
    float: none;
    text-align: center;
  }
  /*# sourceMappingURL=Oxy.css.map */
  .menuOverlay {
    z-index: 600;
    position: absolute;
  }
  .menuOverlay-topnav {
    width: 75%;
    /* 6 columns */
    top: -1px;
    left: 0%;
    background-color: #e8eaef;
    padding-left: 15px;
  }
  .menuOverlay-topSearch {
    top: 51px;
    right: 20px;
    width: 80%;
    background-color: transparent;
    padding-right: 0px;
    padding-left: 0px;
  }
  .menuOverlay-topSearch a {
    font-size: 1.5em;
  }
  input {
    width: 72%;
    height: 40px;
  }
  #topNavList li {
    border-bottom: 1px solid #67727d;
  }
  #topNavList li:last-child {
    border-bottom: none;
  }
  /*# sourceMappingURL=Oxy.css.map */
}
/*# sourceMappingURL=Oxy.css.map */
/*#region Footer****************************/
footer {
  padding-bottom: 0;
}
footer div {
  background-color: #e8eaef;
}
.footerNav_Oxy {
  padding: 20px 0 30px 0;
}
.footerNav_Oxy h4 {
  margin: 0 0 .3em 0;
  padding: 0;
}
.footerNav_Oxy h4 a,
.footerNav_Oxy h4 a:hover,
.footerNav_Oxy h4 a:visited {
  color: #00529b;
  font-family: arial;
  font-size: 9pt;
}
.footerNav_Oxy table {
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}
.footerNav_Oxy table tr {
  vertical-align: top;
}
.footerNav_Oxy table tr td {
  padding-right: 20px;
}
.footerNav_Oxy ul {
  display: inline-table;
  list-style: none;
}
.footerNav_Oxy ul li {
  padding-bottom: 3px;
}
.footerNav_Oxy ul li a,
.footerNav_Oxy ul li a:hover,
.footerNav_Oxy ul li a:visited {
  font-size: 8pt;
  font-family: arial;
  color: #9b9c9e;
}
@media screen and (max-width: 991px) {
  .footerNav_Oxy table tr td {
    padding-right: 13px;
  }
}
footer .footer-bottom {
  font-size: 14px;
  text-align: center;
}
footer .footer-bottom .sitemap {
  height: 20px;
}
footer .footer-bottom .sitemap ul {
  padding: 0;
}
footer .footer-bottom .sitemap li {
  display: inline-block;
  padding-left: 2px;
  padding-bottom: 0;
  /*line-height: 1em;*/
}
footer .footer-bottom .sitemap li a,
footer .footer-bottom .sitemap li a:link,
footer .footer-bottom .sitemap li a:visited {
  font-size: 8pt;
  font-family: arial;
  color: #00529b;
}
footer .footer-bottom .sitemap li a:hover {
  color: #00529b;
}
#footerImage {
  margin-bottom: 15px;
}
#footerImage img {
  height: 50px;
  width: 50px;
  margin-bottom: 0;
}
#footerImage p {
  margin-bottom: 0;
  font-size: 7pt;
  color: black;
}
.copyright p {
  margin: 5px;
  font: 10pt arial;
  color: #9b9c9e;
}
/*# sourceMappingURL=Oxy.css.map */
/*#region Main ******************************/
main {
  position: relative;
  top: -1px;
}
#container_ContentPlaceHolderMain {
  padding: 10px;
}
/*# sourceMappingURL=Oxy.css.map */
/*#region Carousel (in the body)************/
#headlineAndHeroCarousel {
  /*Note that there is a similar section for the navbar and the footer. Seprated to accomodate media queries to handle carousel on smaller devices.*/
}
@media screen and (min-width: 992px) {
  #headlineAndHeroCarousel .oxyExtendedWidthSection-Parent-Carousel {
    position: relative;
  }
  #headlineAndHeroCarousel .oxyExtendedWidthSection-Carousel {
    position: relative;
    width: 1280px;
    left: -150px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  #headlineAndHeroCarousel .oxyExtendedWidthSection-Carousel {
    position: relative;
    width: 740px;
    left: 0;
  }
  #headlineAndHeroCarousel .oxyExtendedWidthSection-Carousel img {
    width: 740px;
  }
}
#heroBar {
  overflow: hidden;
  top: -9px;
  /*Leaving the next section*/
  /*Might be needed later*/
  /*
    @media screen and (min-width: @bsSMMin) and (max-width: @bsSMMax) {
        //min-width:740px;
        img {
            //height: @heroBarImgHeight;
            //width: 740px;
        }
    }
    */
}
@media screen and (min-width: 992px) {
  #heroBar {
    min-width: 1280px;
  }
  #heroBar img {
    /*Remove Height and Width if always set by the images.*/
    height: 314px;
    width: 1280px;
  }
}
#heroBar .item {
  padding: 0;
}
#heroCarousel-indicators {
  position: relative;
  top: 10px;
}
#heroCarousel-indicators li {
  margin: 0 7px;
  background-color: #e8eaef;
  border-color: #e8eaef;
}
#heroCarousel-indicators li.active {
  background-color: #00529b;
  border-color: #00529b;
}
/*# sourceMappingURL=Oxy.css.map */
/*#region Newsfeed sections ****************/
.oxyNewsFeedSection {
  margin-bottom: 15px;
  margin-left: 0;
  font-size: 8pt;
  font-family: arial;
}
.oxyNewsFeedSection h2 {
  margin-bottom: 0;
  margin-top: 10px;
}
.oxyNewsFeedSection h3 {
  color: #444;
  /*Match SharePoint formatting*/
  font-size: 12px;
  font-family: Arial;
  margin-left: -5px;
  font-weight: 700;
  line-height: 19.2px;
}
.oxyNewsFeedSection hr {
  background-color: #cccccc;
  height: 1px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.oxyNewsFeedSection .oxyNewsFeedTitle {
  font-size: 8pt;
  font-family: Arial;
  color: #67727d;
  letter-spacing: .3px;
  font-weight: bold;
}
.oxyNewsFeedSection .oxyNewsFeedDate {
  color: #9b9c9e;
  font-size: 8pt;
}
.oxyNewsFeedSection .oxyNewsFeedBody {
  margin-top: 10px;
  line-height: 1.5;
  font-size: 8pt;
  font-family: arial;
}
.oxyNewsFeedSection .oxyReadMoreLink {
  margin-top: 10px;
}
.oxyNewsFeedSection .btn-default {
  margin-top: 15px;
}
/*# sourceMappingURL=Oxy.css.map */
/*# sourceMappingURL=Oxy.css.map */
#oxyVideoPlayer .modal-dialog {
  width: 700px;
  top: 50px;
  left: 0px;
  margin: 0 auto;
}
#oxyVideoPlayer .modal-dialog .modal-header {
  border-bottom: none;
}
#oxyVideoPlayer .modal-dialog .modal-header .close {
  color: red;
}
#oxyVideoPlayer .modal-dialog .modal-body {
  padding-bottom: 0;
}
#oxyVideoPlayer .modal-dialog .modal-body iframe {
  height: 390px;
  width: 658px;
  margin: 0 auto;
}
#oxyVideoPlayer .modal-dialog .modal-footer {
  padding-top: 0;
  border-top: none;
  margin-top: 0;
  text-align: left;
}
#oxyVideoPlayer .modal-dialog .modal-footer #oxyModalVideoMoreVideosButton {
  margin: 15px 0;
}
@media screen and (max-width: 767px) {
  #oxyVideoPlayer .modal-dialog .modal-body iframe {
    width: 318px;
    height: 190px;
  }
  #oxyVideoPlayer .modal-dialog {
    width: 330px;
    top: 50px;
    left: 0px;
  }
  .modal-body {
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media screen and (max-width: 320px) {
  #oxyVideoPlayer .modal-dialog .modal-body iframe {
    width: 286px;
    height: 190px;
  }
  #oxyVideoPlayer .modal-dialog {
    width: 290px;
    padding-left: 1px;
    padding-right: 1px;
    top: 50px;
    left: 0px;
  }
  .modal-body {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.oxyShowVideoLink {
  cursor: pointer;
}
.oxyVideoNonCarousel {
  /*margin-bottom:10px;*/
  width: 192px;
  padding: 0 0 0 0!important;
  vertical-align: top;
}
.oxyVideoNonCarousel img {
  width: 100%;
}
.oxyVideoNonCarousel .oxyVideoImg {
  padding: 0 2px;
}
.oxyVideoNonCarousel .videoImgTitleContainer {
  width: 100%;
  padding: 0 5px;
}
@media screen and (max-width: 991px) {
  .oxyVideoNonCarousel {
    width: 180px;
    /*Use 144px for 5 across on tablets.*/
  }
}
@media screen and (max-width: 767px) {
  .oxyVideoNonCarousel {
    width: 100%;
  }
  /*Comment this next rule to display the videos in a vertical list with titles below the thumbnail. Optionally, set the width to 90% above.*/
  .list-unstyled .oxyVideoImg {
    width: 50%;
    float: left;
    padding-right: 8px;
  }
}
.oxyVideoNonCarouselTitleClass {
  font-size: 12pt;
  color: black!important;
  font-family: Arial, Helvetica, sans-serif;
  /*font-weight: bold;*/
  background-color: #e8eaef;
}
.oxyVideoImgDiv {
  position: absolute;
  color: white;
}
.oxyVideoImg {
  /*width:160px;
    height:90px;*/
  margin-bottom: 10px;
  border: 0;
  padding: 4px;
  display: block;
  transition: all 0.2s ease-in-out;
  background-color: #fff;
}
/*# sourceMappingURL=Oxy.css.map */
/*# sourceMappingURL=Oxy.css.map */
.jcarousel-wrapper {
  margin: 20px 50px;
  position: relative;
  max-width: 960px;
}
.jcarousel-wrapper .carouselPhone {
  height: 120px;
  width: 240px;
}
/** Carousel **/
.wrapper {
  width: 100%;
  margin: 0 0 0 0;
  position: relative;
  top: 15px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.jcarousel {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.jcarousel ul {
  width: 20000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}
.jcarousel li {
  width: 400px;
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.jcarousel img {
  display: block;
  max-width: 100%;
  height: auto !important;
}
.jcarousel .oxyVideoImg {
  height: auto;
}
/** Carousel Controls **/
.videoCarouselButton {
  background-color: #00315c;
  color: white;
  width: 30px !important;
  height: 30px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 3px;
  font-size: 8pt;
}
.jcarousel-control-prev,
.jcarousel-control-next {
  position: absolute;
  margin-top: -15px;
  top: 190px;
}
@media screen and (min-width: 992px) {
  .jcarousel-control-prev,
  .jcarousel-control-next {
    top: 200px;
  }
}
.jcarousel-control-prev {
  left: 10px;
}
.jcarousel-control-next {
  right: 15px;
}
.jcarousel-control-next.carouselPhone {
  right: 15px;
}
/** Carousel Pagination **/
.jcarousel-pagination {
  position: absolute;
  top: 75px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  margin: 0;
}
.jcarousel-pagination.carouselPhone {
  left: 175px;
}
.jcarousel-pagination a {
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  height: 10px;
  width: 10px;
  line-height: 10px;
  background-color: #e8eaef;
  border-color: #e8eaef;
  color: #00315c;
  border-radius: 10px;
  text-indent: -9999px;
  margin-right: 7px;
  /*-webkit-box-shadow: 0 0 2px #4E443C;
        -moz-box-shadow: 0 0 2px #4E443C;
        box-shadow: 0 0 2px #4E443C;*/
}
.jcarousel-pagination a.active {
  background-color: #00529b;
  border-color: #00529b;
  /*background: #4E443C;
            color: #fff;*/
  opacity: 1;
  /*-webkit-box-shadow: 0 0 2px #F0EFE7;
            -moz-box-shadow: 0 0 2px #F0EFE7;
            box-shadow: 0 0 2px #F0EFE7;*/
}
/*# sourceMappingURL=Oxy.css.map */
#phoneVideoCarousel-indicators {
  position: relative;
  /*width:100%;*/
  /*margin-left:0;*/
  top: 0;
}
#phoneVideoCarousel-indicators li {
  margin-right: .3em;
  background-color: #e8eaef;
  border-color: #e8eaef;
}
#phoneVideoCarousel-indicators li.active {
  background-color: #00529b;
  border-color: #00529b;
}
#phoneVideoCarouselWrapper {
  padding: 10px 70px;
  border: 1px solid #e8eaef;
  height: auto;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.phoneVideoCarouselItem {
  width: 100%;
}
#phoneVideoCarouselWrapper a.carousel-control-left span {
  position: absolute;
  left: 5%;
  top: 42%;
}
#phoneVideoCarouselWrapper a.carousel-control-right span {
  position: absolute;
  right: 5%;
  top: 42%;
}
/*# sourceMappingURL=Oxy.css.map */
/*# sourceMappingURL=Oxy.css.map */
.videoImgTitleContainer {
  padding: 4px;
  height: auto;
}
.item .videoImgTitleContainer {
  padding: 4px 0;
  height: auto;
}
.videoImgTitle {
  height: 55px;
  font: .8em helvetica;
  color: #67727d;
}
.item .videoImgTitle {
  margin-top: 0;
  margin-bottom: 0;
}
.videoImgDescr {
  display: none;
  font-family: arial, Tahoma;
  font-size: .7em;
  color: #9b9c9e;
  margin-top: 5px;
}
@media screen and (min-width: 768px) {
  .list-unstyled .oxyVideoImg {
    width: 100%;
    /*height:90px;*/
  }
}
/*# sourceMappingURL=Oxy.css.map */
/*# sourceMappingURL=Oxy.css.map */
/*# sourceMappingURL=Oxy.css.map */
#oxyStoryPresentation .close {
  color: red;
}
#oxyModalStoryTitle {
  margin-top: 0;
  margin-right: 20px;
}
#oxyModalStoryImg {
  float: right;
  margin: 0 0 5px 5px;
}
/*# sourceMappingURL=Oxy.css.map */
/*# sourceMappingURL=Oxy.css.map */
/*Hide the suite bar at the top of the page*/
/*
#suiteBar,
#globalNavBox 
*/
#ms-designer-ribbon {
  /*display:none;*/
}
#s4-bodyContainer {
  padding-bottom: 5px;
  min-width: 300px;
}
/*# sourceMappingURL=Oxy.css.map */
/*# sourceMappingURL=Oxy.css.map */
/*reset elements that BS3 is expecting to be border-box*/
* [class^="col-"],
* [class^="col-"]:before,
* [class^="col-"]:after,
.container,
.container:before,
.container:after,
.row,
.row:before,
.row:after,
.nav *,
.navbar-toggle,
.table,
.table-responsive,
.form-control,
.btn-block,
.caret,
.dropdown-menu,
.navbar-toggle,
.page-navigation *,
.icon-bar,
.breadcrumb,
.progress-bar,
.modal-dialog,
legend,
fieldset,
code,
pre {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*# sourceMappingURL=Oxy.css.map */
/*# sourceMappingURL=Oxy.css.map */
.borderForTesting {
  border: 2px solid red;
}
/*# sourceMappingURL=Oxy.css.map */
/*# sourceMappingURL=Oxy.css.map */
.shadedBox {
  width: 100%;
}
.shadedBox .borderTL {
  height: 18px;
  width: 18px;
  background-image: url("../img/sprite.png")/*tpa=http://www.oxy.com/_catalogs/masterpage/Oxy/img/sprite.png*/;
  background-position: -92px -90px;
}
.shadedBox .borderT {
  height: 18px;
  background-repeat: repeat-x;
  background-image: url("../img/middle_top.png")/*tpa=http://www.oxy.com/_catalogs/masterpage/Oxy/img/middle_top.png*/;
}
.shadedBox .borderTR {
  height: 18px;
  width: 18px;
  background-image: url("../img/sprite.png")/*tpa=http://www.oxy.com/_catalogs/masterpage/Oxy/img/sprite.png*/;
  background-position: -120px -90px;
}
.shadedBox .borderL {
  width: 18px;
  background-repeat: repeat-y;
  background-image: url("../img/middle_left.png")/*tpa=http://www.oxy.com/_catalogs/masterpage/Oxy/img/middle_left.png*/;
}
.shadedBox .borderR {
  width: 18px;
  background-repeat: repeat-y;
  background-image: url("../img/middle_right.png")/*tpa=http://www.oxy.com/_catalogs/masterpage/Oxy/img/middle_right.png*/;
}
.shadedBox .borderBL {
  height: 18px;
  width: 18px;
  background-image: url("../img/sprite.png")/*tpa=http://www.oxy.com/_catalogs/masterpage/Oxy/img/sprite.png*/;
  background-position: -92px -118px;
}
.shadedBox .borderB {
  height: 18px;
  background-repeat: repeat-x;
  background-image: url("../img/middle_bottom.png")/*tpa=http://www.oxy.com/_catalogs/masterpage/Oxy/img/middle_bottom.png*/;
}
.shadedBox .borderBR {
  height: 18px;
  width: 18px;
  background-image: url("../img/sprite.png")/*tpa=http://www.oxy.com/_catalogs/masterpage/Oxy/img/sprite.png*/;
  background-position: -120px -118px;
}
.shadedBox .borderContent img {
  width: 100%;
}
/*# sourceMappingURL=Oxy.css.map */
/*# sourceMappingURL=Oxy.css.map */
.ms-rtestate-field p {
  font-size: .9em;
  color: #77787b;
}
.responsiveImg img {
  width: 100%;
  height: auto;
}
/*# sourceMappingURL=Oxy.css.map */
.callouts {
  padding-top: 10px;
}
.callouts .responsiveImg {
  margin-left: -18px;
  margin-right: -18px;
}
.callouts .responsiveImg img {
  margin-bottom: 20px;
}
.calloutTitle {
  font-size: 1em;
  color: black;
  font-family: Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
  margin-bottom: 20px;
}
.calloutTitleEmpty {
  font-size: 0;
}
.calloutHTML .ms-rtestate-field p {
  font-size: .75em;
  color: #77787b;
}
/*# sourceMappingURL=Oxy.css.map */
/*# sourceMappingURL=Oxy.css.map */
#leftNavCol {
  width: 100%;
  margin-top: 0;
}
#leftNavCol #sideNavBox {
  width: 100%;
  border: 1px solid #e8eaef;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 20px;
}
#leftNavCol #sideNavBox a {
  height: 40px;
  display: block;
  border-top: 1px solid #e8eaef;
  font-size: 8pt;
  padding-right: 5px;
  padding-top: 11px;
}
#leftNavCol #sideNavBox a.selected {
  font-weight: bold;
}
#leftNavCol #sideNavBox a span {
  vertical-align: middle;
}
#leftNavCol #sideNavBox #staticLeftNavItem a,
#leftNavCol #sideNavBox #staticLeftNavItem a:visited,
#leftNavCol #sideNavBox #staticLeftNavItem a:hover {
  border-top: none;
  padding-top: 14px;
  padding-bottom: 10px;
  padding-left: 10px;
  background-color: #00529b;
  color: white;
  text-decoration: none;
}
/*# sourceMappingURL=Oxy.css.map */
/*# sourceMappingURL=Oxy.css.map */
@media screen and (min-width: 768px) {
	#tabs {
	  width: 100%;
	  height: 65px;
	  margin-top: 0px;
	}
	#tabs ul {
	  margin: 0;
	  background-image: url("../img/tabBackground.png")/*tpa=http://www.oxy.com/_catalogs/masterpage/Oxy/img/tabBackground.png*/;
	  background-repeat: repeat-x;
	  float: left;
	  padding: 0;
	  width: 100%;
	}
	#tabs ul li {
	  display: block;
	  float: left;
	}
	#tabs ul li a {
	  position: relative;
	  padding: 15px;
	  padding-top: 30px;
	  display: block;
	  height: 65px;
	  color: white;
	  font-size: .8em;
	}
	#tabs ul li a.selected {
	  height: 65px;
	  cursor: default;
	  top: 0;
	  padding-top: 27px;
	  color: black;
	  background-repeat: repeat-x;
	  background-image: url(../img/tabSelectedFill.png)/*tpa=http://www.oxy.com/_catalogs/masterpage/Oxy/img/tabSelectedFill.png*/;
	}
	#tabs ul li a.selected:hover {
	  text-decoration: none;
	}
	#tabs div {
	  width: 100%;
	}
	#tabContent {
	  background-color: #f9f9f9;
	  width: 100%;
	  padding: 10px;
	}
	a.narrowTab{
		width:93px;
		padding-top:10px!important;
		font-size:.7em!important;
	}
}

@media screen and (max-width: 767px) {
                #tabs {
                  margin-top: 0px;
                }
                #tabs ul {
                  margin: 0;
                  padding: 0;
                  list-style:none;
                  margin:0 0 0 5px;
                  width:200px;
                }
                #tabs ul li {
                  border:0px blue solid;
                  margin:1px 0;
                  background-image: url("../img/tabBackground.png")/*tpa=http://www.oxy.com/_catalogs/masterpage/Oxy/img/tabBackground.png*/;
                  background-size:100% 100%;
                  
                  height:30px;
                }
                #tabs ul li a {
                  position: relative;
                  width:100%;
                  color: white;
                  font-size: .9em;
                  padding-left:5px;
                  
                  height:100%;
                  display:block;
                  padding-top:9px;
                }
                #tabs ul li a.selected {
                  background-image: url(../img/tabSelectedFill.png)/*tpa=http://www.oxy.com/_catalogs/masterpage/Oxy/img/tabSelectedFill.png*/;
                  cursor: default;
                  color: black;
                  
                }
                #tabs ul li a.selected:hover {
                  text-decoration: none;
                }
                #tabs div {
                  width: 100%;
                }
                #tabContent {
                  background-color: #f9f9f9;
                  width: 100%;
                  padding: 10px;
                }
}




/*# sourceMappingURL=Oxy.css.map */
/*# sourceMappingURL=Oxy.css.map */
@media screen and (min-width: 768px) {
  .oxyNewsIframeWidth {
    width: 650px;
  }
}
@media screen and (max-width: 991px) {
  .oxyNewsIframeWidth {
    width: 480px;
  }
}
@media screen and (max-width: 991px) and screen and (max-width: 767px) {
  .oxyNewsIframeWidth {
    max-width: 320px;
  }
}
/*# sourceMappingURL=Oxy.css.map */
#breadcrumb {
  font: 8pt arial;
  color: #77787b;
  margin-top: 12px;
  margin-bottom: 5px;
  padding-bottom: 10px;
  border-bottom: 1px #e8eaef solid;
  padding-left: 0;
  margin-left: 10px;
}
#breadcrumb span {
  margin-right: 5px;
}
@media screen and (max-width: 991px) {
  #breadcrumb {
    margin-left: 0;
  }
}
#pageTitle H1 {
  margin-top: 10px;
  padding-bottom:5px;
}
#topSpacer {
  height: 10px;
}
/*
    td#MSOTlPn_MainTD { 
    width: 0 !important; 

}
*/
.ms-ToolPaneOuter {
  position: absolute;
}
/*# sourceMappingURL=Oxy.css.map */
#oxyIRLatestNews {
  margin-bottom: 20px;
}
#oxyIRLatestNews .oxyNewsFeedBody {
  font-size: 9pt;
}
#oxyIRLatestNews .oxyReadMoreLink {
  margin-top: 5px;
}
#oxyIRPageStockPrice {
  margin-bottom: 25px;
}
#oxyIRPageStockPrice div {
  font-size: 8pt;
  font-family: Arial, Helvetica, sans-serif;
  height: 30px;
  background-color: inherit;
  padding-top: 10px;
}
.oxyStockUp {
  color: green!important;
}
.oxyStockDown {
  color: red!important;
}
.oxyIRPageStockPriceDescrCol {
  padding-right: 0;
}
.oxyIRPageStockPriceValCol {
  padding-left: 0;
  text-align: right;
  color: #67627d;
}
#oxyIRPageStockPriceUL li:nth-child(odd) {
  background-color: #e8eaef !important;
}
#oxyIRPageNavExternalLinks {
  margin: 10px 0 20px 0;
}
#oxyIRPageNavExternalLinks div {
  width: 180px;
  margin: 10px auto 0 auto;
  display: table;
}
#oxyIRPageNavExternalLinks div a {
  height: 25px!important;
  vertical-align: middle;
  display: table-cell !important;
  text-align: center;
}
/*# sourceMappingURL=Oxy.css.map */
/*# sourceMappingURL=Oxy.css.map */
.dfwp-column {
  width: 50%;
  margin: 2px 0!important;
  padding: 1px 0 1px 12px;
  /* Add the bullet/caret on the left */
  background-image: url("../../../../SiteCollectionImages/CaretSm.png")/*tpa=http://www.oxy.com/SiteCollectionImages/CaretSm.png*/;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: center;
}
/*Hide the Level Separators*/
.level-separator {
  display: none;
}
/*Set the width for the section to correctly divide into 2 halves.*/
@media screen and (max-width: 767px) {
  .dfwp-list {
    width: 300px;
  }
}
@media screen and (min-width: 768px) {
  .dfwp-list {
    width: 500px;
  }
}
/*Adjust the top margin*/
.toc-layout-main > .dfwp-list > .level-section {
  margin-top: 5px;
}
/*Hide the current level. Only done for Horizontal Presentation*/
.toc-layout-main > .dfwp-list > .level-section > .level-header > .headertitle {
  display: none;
}
/*# sourceMappingURL=Oxy.css.map */
/*# sourceMappingURL=Oxy.css.map */
/*Rule to display Chemical tables (class="products") in a list on the phone*/
@media screen and (max-width: 767px) {
  table.products,
  table.products tr,
  table.products td {
    display: block;
  }
}
/*Hide the Lync Click To Call icon*/
span.baec5a81-e4d6-4674-97f3-e9220f0136c1 > a {
  display: none !important;
}
/*# sourceMappingURL=Oxy.css.map */
.searchbox:not(#smallSearchBox) {
  margin-top: 27px;
}
#SearchBox .ms-srch-sb-searchLink {
  float: right;
}
#SearchBox input {
  width: 80%;
  padding: 3px 1px 0 0;
  background-color: #e8eaef;
}
#SearchBox .ms-srch-sb-border {
  border: 0;
}
#SearchBox .ms-srch-sb {
  margin-right: 15px;
  margin-bottom: 15px;
  float: left;
  width: 100%;
  background-color: #e8eaef;
}
main #SearchBox {
  width: 50%;
}
.ms-srch-sb-searchLink {
  border: 0;
}
.oxySrchIcon {
  /*Sample Search Icon. Will be overriden by SharePoint Search Icon*/
  background-color: #b56a1e;
  color: white;
  padding: 3px 3px 3px 4px;
  height: 100%;
  width: 100% !important;
  top: 0;
  font-size: 10pt;
}
.oxySrchIcon:hover {
  background-color: #00529b;
}
#smallSearchBox > div {
  padding: 0 0 0 5px;
}
#smallSearchBox input {
  color: #00529b;
  height: 40px;
}
#smallSearchBox a.ms-srch-sb-searchLink {
  height: 40px;
  width: 39px;
  border-radius: 4px 4px 2px 4px;
}
#smallSearchBox .oxySrchIcon {
  padding: 12px 12px 15px 12px;
}
.ms-srch-item-summary {
  font-family: arial, Tahoma;
  font-size: .7em;
  color: #9b9c9e;
}
.ms-srch-item-path {
  font-family: arial, Tahoma;
  font-size: .6em;
  color: #9b9c9e;
}
.ms-srch-ellipsis {
  font: .8em helvetica;
  color: #67727d;
  margin-top: 20px;
  margin-bottom: 5px;
}
.ms-srch-item {
  clear: both;
  width: auto;
  padding: 5px 20px 5px 10px;
  margin: 10px 0px 10px -10px;
  overflow: hidden;
}
.ms-srch-item-path {
  width: 100%;
}
.ms-srch-item-icon {
  display: none;
}
.ms-srch-Paging {
  text-align: left !important;
  font-size: .7em;
}
#PageLinkPrev,
#PageLinkNext {
  display: none;
  /*	box-sizing:content-box;*/
}
.ms-srch-result #PagingLink a {
  color: #00529b;
}
.ms-srch-result #PagingSelf a {
  color: white;
  background-color: #00529b;
  padding-top: 4px;
}
.ms-srch-result #Paging a:hover {
  color: black;
}
.ms-srch-resultFooter {
  position: absolute;
  top: 40px;
  font-size: .65em;
}
.oxySearchBody {
  width: 100%;
  border: 0px solid blue;
}
.oxySearchTitle a:visited {
  color: #00529b;
}
/*Hide the web part search box on the phone. Move the count up.*/
/*
*/
@media screen and (max-width: 767px) {
  main #SearchBox {
    width: 100%;
    height: 40px;
  }
  main #SearchBox > div {
    padding: 0 0 0 5px;
  }
  main #SearchBox input {
    color: #00529b;
    height: 40px;
  }
  main #SearchBox a.ms-srch-sb-searchLink {
    height: 40px;
    width: 39px;
  }
  main #SearchBox .oxySrchIcon {
    padding: 12px 12px 15px 12px;
  }
  main #SearchBox .ms-srch-sb-searchLink {
    height: 37px;
    width: 37px;
  }
  main #SearchBox .ms-srch-sb-searchLink span {
    height: 100%;
    width: 100%;
    padding: 12px 12px;
  }
  .ms-srch-resultFooter {
    position: absolute;
    top: 45px;
  }
}
#oxyEventReminder hr {
  margin: 10px 0;
  background-color: #e8eaef;
  height: 2px;
}
.oxyReminderRow {
  height: 40px;
  padding: 0px 20px 0px 20px;
}
.oxyReminderText {
  border: 0px red solid;
  padding-left: 0;
  padding-right: 0;
  vertical-align: top;
  padding-top: 0px;
  height: 20px;
}
.oxyReminderTitle {
  font-size: .7em;
  font-weight: bold;
  color: #00529b;
  padding-left: 0;
  padding-right: 0;
  height: 20px;
  display: table;
  border: 0px aqua dotted;
}
.oxyReminderTitle > div {
  display: table-cell;
  vertical-align: top;
  padding-top: 5px;
}
.oxyReminderDateTime {
  font-size: .8em;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0;
  color: #9b9c9e;
  height: 40px;
  display: table;
}
.oxyReminderDateTime > div {
  display: table-cell;
  vertical-align: top;
  padding-top: 3px;
}
.oxyReminderLink {
  font-size: .7em;
  color: white;
  font-weight: bold;
  height: 40px;
  background-color: #b56a1e;
  display: table;
}
.oxyReminderLink:hover {
  cursor: pointer;
}
.oxyReminderLink > div {
  display: table-cell;
  vertical-align: middle;
  padding-left: 0;
  padding-right: 0;
}
.oxyReminderLink > div > div {
  padding-left: 0;
  padding-right: 0;
}
.oxyMegaMenu {
  font-family: Helvetica, Arial;
  font-size: 12px;
  line-height: 15px;
  color: #67727d;
  background-color: #e8eaef;
  padding-left: 50px;
  width: 100%;
}
.oxyMegaMenu hr {
  color: #cccccc;
  background-color: #cccccc;
  height: 1px;
  border: none;
  margin: 3px 0px 10px 0px;
}
.oxyMegaMenu td {
  vertical-align: top;
}
.oxyMegaMenu a img {
  display: block;
  border: 0px;
}
.oxyMegaMenu a,
a.Major {
  color: #00529b !important;
  font-weight: bold;
  text-decoration: none;
  font-size: .9em;
  background-color: #e8eaef !important;
  background: #e8eaef !important;
}
.oxyMegaMenu a:hover,
a.Major:hover {
  color: #333333;
}
.oxyMegaMenu a.Major {
  font-size: 1.0em;
}
.oxyMegaSectionSingle {
  width: 100%;
  padding: 25px;
}
.oxyMegaSectionDoubleA {
  width: 66%;
  padding: 25px;
}
.oxyMegaSectionDoubleB {
  width: 33%;
  padding: 25px;
}
.oxyMegaSectionTriple {
  width: 33%;
  padding: 25px;
}
.oxyMegaText {
  font-size: .9em;
  margin-top: 5px;
  letter-spacing: .5px;
}
.oxyMegaMenuInner {
  padding-top: 15px;
  padding-bottom: 15px;
  display: block;
}
.oxyMegaMenuInner td {
  width: 100%;
  vertical-align: top;
}
.oxyMegaMenuLinkTable {
  width: 100%;
}
.oxyMegaMenuLinkTable td {
  width: 50%;
  padding-right: 50px;
}
/*chged gcg 10/29/2013 */
/* orig rgb(216, 216, 216) */
.ms-rteTable-1 tr.ms-rteTableOddRow-1 {
	background-color: rgb(236, 236, 236);
}
/*
ol {font-size: 10pt;
	font-weight:normal;}

ol li p {font-size: 1em;}
/*# sourceMappingURL=Oxy.css.map */