.homeCalloutHTML {
  margin-left: 20px;
}
.homeCalloutHTML .ms-rtestate-field {
  font-size: .75em;
  color: #9b9c9e;
}
.homeCalloutHTML .ms-rtestate-field p {
  line-height: 1.4285;
}
.homeCalloutTitle {
  float: left;
  clear: right;
  margin-top: 20px;
}
.header2 {
  font-family: helvetica;
  font-size: 1em;
  color: #00529b;
}
.header1 {
  font-family: helvetica;
  font-size: 1.2em;
  color: #00529b;
}
/*# sourceMappingURL=OxyPageLayouts_Home.css.map */
#oxyFlowOverLay {
  position: absolute;
  left: 0px;
  bottom: -55px;
  z-index: 10;
  width: 100%;
  background-repeat: no-repeat;
  /*
		*/
}
#oxyFlowOverLay a {
  display: none;
}
@media screen and (max-width: 767px) {
  #oxyFlowOverLay {
    height: 110px;
    background-image: url("../img/Blue_Wave_vector_360x109_layout_match.png")/*tpa=http://www.oxy.com/_catalogs/masterpage/Oxy/img/Blue_Wave_vector_360x109_layout_match.png*/;
    text-align: center;
    background-size: 100% 105px;
	bottom: 0px;
  }
  #oxyFlowOverLay a {
    position: relative;
    display: inline!important;
    top: 47%;
  }
  #oxyFlowOverLay img {
    height: 45px;
  }
  /*Hide the div inside siteLogo to not conflict with Bootstrap*/
  .siteLogo_Oxy > div {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  #oxyFlowOverLay {
    height: 173px;
    background-image: url("../img/Blue_Wave_vector_740x173_layout_match.png")/*tpa=http://www.oxy.com/_catalogs/masterpage/Oxy/img/Blue_Wave_vector_740x173_layout_match.png*/;
	bottom: 0px;
  }
  .siteLogo_Oxy {
    top: 200px;
    left: 119px;
  }
}
@media screen and (min-width: 992px) {
  #oxyFlowOverLay {
    height: 300px;
    background-image: url("../img/Blue_Wave_vector_1280x300_layout_match.png")/*tpa=http://www.oxy.com/_catalogs/masterpage/Oxy/img/Blue_Wave_vector_1280x300_layout_match.png*/;
	bottom: -55px;
  }
  .siteLogo_Oxy {
    top: 325px;
    left: 0;
  }
}
.carousel-indicators {
  z-index: 15;
}
/*# sourceMappingURL=OxyPageLayouts_Home.css.map */
/*# sourceMappingURL=OxyPageLayouts_Home.css.map */