/* News Release Details: table format */

span.prnews_span{font-size:8pt;font-family:"Arial";color:black}a.prnews_a{color:blue}li.prnews_li{font-size:8pt;font-family:"Arial";color:black}p.prnews_p{font-size:0.62em;font-family:"Arial";color:black;margin:0in}.prngen8{BORDER-BOTTOM:black 1pt solid;TEXT-ALIGN:CENTER;BORDER-LEFT:1pt;PADDING-LEFT:0.50em;PADDING-RIGHT:0.67em;VERTICAL-ALIGN:BOTTOM;BORDER-TOP:1pt;BORDER-RIGHT:1pt}.prngen7{BORDER-BOTTOM:black 1pt solid;TEXT-ALIGN:CENTER;BORDER-LEFT:1pt;PADDING-LEFT:0.50em;PADDING-RIGHT:0.50em;VERTICAL-ALIGN:BOTTOM;BORDER-TOP:1pt;BORDER-RIGHT:1pt}.prngen15{BORDER-BOTTOM:black 2pt double;TEXT-ALIGN:RIGHT;BORDER-LEFT:1pt;PADDING-LEFT:0.50em;PADDING-RIGHT:0.50em;VERTICAL-ALIGN:BOTTOM;BORDER-TOP:black;BORDER-RIGHT:1pt}.prngen2{BORDER-BOTTOM:1pt;TEXT-ALIGN:CENTER;BORDER-LEFT:1pt;PADDING-LEFT:0.50em;PADDING-RIGHT:0.50em;VERTICAL-ALIGN:BOTTOM;BORDER-TOP:1pt;BORDER-RIGHT:1pt}.prngen3{BORDER-BOTTOM:1pt;TEXT-ALIGN:RIGHT;BORDER-LEFT:1pt;PADDING-LEFT:0.50em;PADDING-RIGHT:0.67em;VERTICAL-ALIGN:BOTTOM;BORDER-TOP:1pt;BORDER-RIGHT:1pt}.prngen17{BORDER-BOTTOM:1pt;TEXT-ALIGN:RIGHT;BORDER-LEFT:black 1pt solid;PADDING-LEFT:0.50em;PADDING-RIGHT:0.67em;VERTICAL-ALIGN:BOTTOM;BORDER-TOP:black 1pt solid;BORDER-RIGHT:1pt}.prngen16{BORDER-BOTTOM:black 2pt double;TEXT-ALIGN:RIGHT;BORDER-LEFT:1pt;PADDING-LEFT:0.50em;PADDING-RIGHT:0.50em;VERTICAL-ALIGN:BOTTOM;BORDER-TOP:1pt;BORDER-RIGHT:1pt}.prngen18{BORDER-BOTTOM:1pt;TEXT-ALIGN:RIGHT;BORDER-LEFT:1pt;PADDING-LEFT:0.50em;PADDING-RIGHT:0.67em;VERTICAL-ALIGN:BOTTOM;BORDER-TOP:black 1pt solid;BORDER-RIGHT:1pt}.prngen9{BORDER-BOTTOM:1pt;BORDER-LEFT:1pt;PADDING-LEFT:0.50em;PADDING-RIGHT:0.50em;VERTICAL-ALIGN:BOTTOM;BORDER-TOP:1pt;BORDER-RIGHT:1pt}.prngen10{BORDER-BOTTOM:black 1pt solid;TEXT-ALIGN:RIGHT;BORDER-LEFT:1pt;PADDING-LEFT:0.50em;PADDING-RIGHT:0.67em;VERTICAL-ALIGN:BOTTOM;BORDER-TOP:1pt;BORDER-RIGHT:1pt}.prngen19{BORDER-BOTTOM:1pt;TEXT-ALIGN:RIGHT;BORDER-LEFT:1pt;PADDING-LEFT:0.50em;PADDING-RIGHT:0.67em;VERTICAL-ALIGN:BOTTOM;BORDER-TOP:black 1pt solid;BORDER-RIGHT:black 1pt solid}.prngen14{BORDER-BOTTOM:black 1pt solid;TEXT-ALIGN:RIGHT;BORDER-LEFT:1pt;PADDING-LEFT:0.50em;PADDING-RIGHT:0.50em;VERTICAL-ALIGN:BOTTOM;BORDER-TOP:1pt;BORDER-RIGHT:1pt}.prngen22{BORDER-BOTTOM:black 1pt solid;TEXT-ALIGN:RIGHT;BORDER-LEFT:black 1pt solid;PADDING-LEFT:0.50em;PADDING-RIGHT:0.67em;VERTICAL-ALIGN:BOTTOM;BORDER-TOP:1pt;BORDER-RIGHT:1pt}.prngen5{BORDER-BOTTOM:1pt;TEXT-ALIGN:CENTER;BORDER-LEFT:1pt;PADDING-LEFT:0.50em;PADDING-RIGHT:0.67em;VERTICAL-ALIGN:BOTTOM;BORDER-TOP:1pt;BORDER-RIGHT:1pt}.prngen11{BORDER-BOTTOM:1pt;TEXT-ALIGN:RIGHT;BORDER-LEFT:1pt;PADDING-LEFT:0.50em;PADDING-RIGHT:0.50em;VERTICAL-ALIGN:BOTTOM;BORDER-TOP:1pt;BORDER-RIGHT:1pt}.prngen24{BORDER-BOTTOM:black 1pt solid;TEXT-ALIGN:RIGHT;BORDER-LEFT:1pt;PADDING-LEFT:0.50em;PADDING-RIGHT:0.67em;VERTICAL-ALIGN:BOTTOM;BORDER-TOP:black 1pt solid;BORDER-RIGHT:1pt}.prngen13{BORDER-BOTTOM:1pt;TEXT-ALIGN:LEFT;BORDER-LEFT:1pt;PADDING-LEFT:0.50em;PADDING-RIGHT:0.50em;VERTICAL-ALIGN:BOTTOM;BORDER-TOP:1pt;BORDER-RIGHT:1pt}.prngen23{BORDER-BOTTOM:black 1pt solid;TEXT-ALIGN:RIGHT;BORDER-LEFT:1pt;PADDING-LEFT:0.50em;PADDING-RIGHT:0.67em;VERTICAL-ALIGN:BOTTOM;BORDER-TOP:1pt;BORDER-RIGHT:black 1pt solid}.prngen12{BORDER-BOTTOM:black 2pt double;TEXT-ALIGN:RIGHT;BORDER-LEFT:1pt;PADDING-LEFT:0.50em;PADDING-RIGHT:0.67em;VERTICAL-ALIGN:BOTTOM;BORDER-TOP:1pt;BORDER-RIGHT:1pt}.prngen20{BORDER-BOTTOM:1pt;BORDER-LEFT:black 1pt solid;PADDING-LEFT:0.50em;PADDING-RIGHT:0.50em;VERTICAL-ALIGN:BOTTOM;BORDER-TOP:1pt;BORDER-RIGHT:1pt}.prnsbtb0{BORDER-TOP:black 0pt}.prnrbrb0{BORDER-RIGHT:black 0pt}.prntblns{width:100%;BORDER-BOTTOM:1pt;BORDER-LEFT:1pt;BORDER-COLLAPSE:collapse;BORDER-TOP:1pt;BORDER-RIGHT:1pt}.prnsbt1{BORDER-TOP:1pt}.prnsbbs{BORDER-BOTTOM:black 1pt solid}.prnvab{VERTICAL-ALIGN:BOTTOM}.prntac{TEXT-ALIGN:CENTER}.prntar{TEXT-ALIGN:RIGHT}.prnpl6{PADDING-LEFT:0.50em}.prnsblb0{BORDER-LEFT:black 0pt}.prnsbl1{BORDER-LEFT:1pt}.prnrbrs{BORDER-RIGHT:black 1pt solid}.prnsbbd{BORDER-BOTTOM:black 2pt double}.prnpr8{PADDING-RIGHT:0.67em}.prnpr6{PADDING-RIGHT:0.50em}.prnsbb1{BORDER-BOTTOM:1pt}


.rightEvent {
    background: #76bd1d;
    overflow: hidden;
    padding: 20px;
    font-size: 13px;
    line-height: 20px;
}

.rightEvent .date-size {
    float: left;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
    margin-right: 5%;
    width: 34%;
}

.rightEvent .ModuleThumbnailLink {
    float: left;
    width: 61%;
    margin-top: 8px;
    border-left: 1px solid #fff;
    padding-left: 20px;
    background: url("../design/date-arrow2.png")/*tpa=http://www.cmsenergy.com/files/design/date-arrow2.png*/ no-repeat center left transparent;
}

.rightEvent .ModuleThumbnailLink img {
    height: 95px;
    display: block;
}
.rightEvent .ModuleHeadline {
    font-family: 'FranklinGothic-heavy';
    color: #fff;
    text-transform: uppercase;
    display: block;
}

.rightEvent .ModuleDate,
.rightEvent .hrefPresentation {
    color: #fff;  
    clear: both;
}
.rightEvent .hrefPresentation:hover {
    text-decoration: none !important;
}
.rightEvent .ModuleDate {
    margin-top: 15px;
}
.rightEvent .ModuleDate > i {
    color: #fff;
}

.presentationWebcastLink {
    display: inline-block;
    color: #4d4d4d;
    background: url("../icons/webcast.png")/*tpa=http://www.cmsenergy.com/files/icons/webcast.png*/ no-repeat center right transparent;
    padding-right: 25px;
}
.PageInvestorRelationsEventsPresentations .ModuleTime {
font-size: 13px;
line-height: 13px;
display: block;
margin-top: 5px;
display: none;
}
.PageInvestorRelationsEventsPresentations .eventContentInner a {
color: #4d4d4d;
}

.inner-photo {
    display: inline-block;
    float: left;
    margin-right: 2%;
    width: 30%;
}
.itemText {
    float: right;
    width: 68%;
}
.itemText p {
    padding: 0px;
    margin: 0px 0px 10px;
}
@media screen and (max-width: 768px) {
    .inner-photo {
        margin-right: 0px;
        float:none;
        width: 100%;
        margin-bottom:20px;
    }
    .itemText {
        float: none;
        width: 100%;
    }
}

.DisclaimerPopup {
    display: none;
}
.disclaimerButtons {
    text-align: center;
    display: block;
}

.InvestorTools {
    margin-top: 20px;
}
.RegulatoryFilingContainer .WordIcon a[href*=".docx"], .ModuleSECFilingDetails .WordIcon a[href*=".docx"] {
  background: url("../design/sprite-doc.png")/*tpa=http://www.cmsenergy.com/files/design/sprite-doc.png*/ no-repeat 0 0 transparent;
}