body {
    background: transparent !important;
}
.LayoutDefault {
    width: 670px;
    margin: 0 auto;
}
.PreviewToolBar, 
.ModuleSearch, 
.MainNav, 
.PaneQ4Footer,
.SecNav {
    display: none;
}
.NavTrigger {
    display: none !important;
}
.Wrapper {
    margin-bottom: -40px;
}
.FooterContainer,
.Wrapper:after {
    height: 40px;
}
.Banner h1 {
    font-size: 20px;
    line-height: 20px;
}
.Banner p {
    font-size: 18px;
    line-height: 20px;
}
.PaneBreadcrumb,
.PaneContent {
    width: 100% !important;
    float: none !important;
    max-width: 670px !important;
    padding: 0;
}
.PaneLeft,
.PaneRight {
    display: none;
}
.BlueModuleTitle h1 {
    margin-left: 0 !important;
}
.Breadcrumb {
    padding: 0;
}
.PaneFooter {
    background: #fff;
    text-align: center;
    border-top: 1px solid #ccc;
}
div.FooterLinks,
.BackToTop {
    display: none;
}
.Copyright {
    float: none;
    margin: 0;
}
.AccordionModule .ContentContainer,
.ModuleDownloadListWithTags.DlAccordionModule .ModuleContainerInnerTop {
    display: block !important;
}
.HeaderImageContainer,
.Slider {
    display: none;
}
.PaneContentInner {
    margin-top: 70px;
}