/** global header css **/

.mainBodyParent {		
	background-repeat: repeat-x;
	min-width: 960px;
}

.mainTopHeader {
	width: 100%;
	height: 35px;
	background-color: #ccc;
	background-image: url(../../ccms_img/insight-home-top-backtile-2011.gif)/*tpa=http://www.insight.com/insightweb/assets/en_US/ccms_img/insight-home-top-backtile-2011.gif*/;
	background-repeat: repeat-x;
}

.mainTopHeaderDiv {
	width: 940px;
	font-family: Arial, Helvetica, sans-serif;
	font-Size: 10px;
	color: #666666;
	padding: 8px 10px;
}

.mainTopHeaderLabels    a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-Size: 10px;
	color: #666666;
	text-decoration: none;
}

.mainTopHeaderLabels    a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-Size: 10px;
	color: #666666;
	text-decoration: none;
}

.mainTopHeaderLabels    a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-Size: 10px;
	color: #666666;
}

.mainTopHeaderLabels    a:active {
	font-family: Arial, Helvetica, sans-serif;
	font-Size: 10px;
	color: #666666;
}

.mainTopHeaderLabels {
	font-family: Arial, Helvetica, sans-serif;
	font-Size: 10px;
	color: #666666;
	text-decoration: none;
	cursor: pointer;
	line-height: 20px;
}

.headerContent {	
	height: 110px;
	overflow:hidden;
}

.headerContent #company-logo {
	float: left;
	margin-left: 10px;
	margin-top:20px;
}

.headerContent .megaanchor  {
	display: block;
	float: left;
	margin-top: 35px;
}

.headerContent .megaanchor-arrow  {
	background: #ffffff url('../../ccms_img/insight-home-main-navigation-arrow-down-2011.png')/*tpa=http://www.insight.com/insightweb/assets/en_US/ccms_img/insight-home-main-navigation-arrow-down-2011.png*/ no-repeat right center;
	padding-right: 20px;
}

.headerContent .megaanchor a {
	margin-top: 0px;
	border-bottom: 0px none;
	margin-right: 10px;
}

.headerContent .fragment {
	height: 401px;
}

.headerContent #searchDiv {	
	text-align: right;
	display: block;
	/* *float:right; */
}

.headerContent #searchBtn {
	/*position: relative;*/
	top: 4px;
	border: 0;
}

.headerContent #searchBtn img {
	text-decoration: none;
	border: 0 none;
	position:absolute;
	*position:none;
}

.headerContent #searchForm {
	display: block;
}

.headerContent #searchEle li {
	list-style-type: none;
	display: block;
	margin-top:5px;	
	margin-left:0px;
	text-align:right;	
	padding-right:32px;
	*padding-right:10px;
}


.header-spriteCancel {
    background-color: transparent;
    background-image: url("../../ccms_img/transaction_sprite_1.png")/*tpa=http://www.insight.com/insightweb/assets/en_US/ccms_img/transaction_sprite_1.png*/;
    background-position: 0 -225px;
    border: medium none;
    height: 16px;
    width: 16px;
    position:absolute;
    top:10px;
    right:10px;
} 

#searchDiv .spriteLink, #searchDiv .spriteLink:visited {
	color: #999999;	
	font-size: 9px;
	margin-right:8px;
	text-decoration:underline;
	line-height:30px;
	font-weight:normal;
}

.headerContent .search-input
{
	width:145px;		
}

.headerContent #loading {
	width: 960px;;	
	height: 20px;
	display: none;
	position: relative;
	top: -20px;
	z-index: 1000;
	clear: both;
}

.headerContent #loading img {
	margin-left: 20px;
}

.headerContent h3 {
	text-align: left;
}


.headerContent .searchEleForm #approvedItemsLi {
	height:25px;
}

.headerContent .searchEleForm #top-links {
	text-align:right;
	padding-right:0px;
}

.headerContent .searchEleForm #advSearchLink {
	padding-right:25px;	
}

.ui-autocomplete .ui-state-hover,
.ui-autocomplete .ui-widget-content .ui-state-hover,
.ui-autocomplete .ui-widget-header .ui-state-hover,
.ui-autocomplete .ui-state-focus,
.ui-autocomplete .ui-widget-content .ui-state-focus,
.ui-autocomplete .ui-widget-header .ui-state-focus
{	
	background: #426FD9 !important;
	font-weight: normal /*{fwDefault}*/;
	color: #FFFFFF !important;
	border: 0 !important;	
}

.megamenu #loginFormHeader
{
	width:200px;
	/*height:200px;	*/
	padding:10px;
}

.megamenu #loginFormHeader h3
{
	height:20px;
	color: #666666;
    font-size: 12px;
    font-weight:bold;
    margin:5px;
    Arial,Helvetica,"Microsoft Sans Serif","Trebuchet MS",san-serif;
}

.megamenu #loginFormHeader input
{
	width: 195px;	
}

.megamenu #loginFormHeader h4 {
	font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
}

.megamenu .menuHeader
{
	background:none;
}	



.megamenu #viewCartHeader
{
	width:270px;
	font-size:10px;
}
.megamenu #viewCartHeader .cartItems
{
	font-size:10px;
	color:#333333;
}
.megamenu #viewCartHeader .cartHeader
{
	font-size:10px;
	color:#333333;
	font-weight:bold;
}
#mainHeaderCartTotalPrice{
	font-weight:bold;
	color: #000000
}

/*web groups links in header*/
#webGroupIds{
	background: none repeat scroll 0 0 #FFFFFF;
    font-weight: normal;
    letter-spacing: normal;
    margin-left: auto;
    margin-right: auto;
    text-transform: none;
    width: 960px;
    word-spacing: normal;
    clear:both;
}

#webCurrentAccountLinks{

    padding-right: 10px;
   /* text-align: right;*/
    background-color:#FFFFFF;
    width: 99%;
    height:20px;
}

.webCurrentAccount{
	color: #666666;
    font-size: 10px;

}
#webCurrentAccountDetails{
	color:#CC0000;
	font-size:10px;
	text-decoration:none;
}

.webCurrentAccount a:hover{
	text-decoration:underline;
	color:#CC0000;
}

#webLoginAccountDetails{
	color:#CC0000;
	font-size:10px;
	text-decoration:none;
}
.webCurrentHeadingDiv
{
	/*float:left;*/
	padding-right:5px;
	padding-left:5px;
}

.ipsContractAnchorDivStyle{
	max-width:200px;
	height:16px; 
	overflow: hidden; 
	float:right;
	text-align:left;
}

.overFlowHiddenAndFloatright{
	overflow: hidden;
	float:right;
}

/*web groups links in header end*/



/* web Group DropDown styles*/
#webcurrentChangeWebGroup{
	background-color: #DFDFDF;
	border: 1px solid #CC0000;
    color: #333333;
	padding:15px;
	z-index: 1010;
	width:auto;
	position:absolute;
	float:right;
}

.webCurrentIdHeading{
	color: #333333;
    font-size: 10px;
    font-weight: bold;
}

.webCurrentIdHeadingData{
	color: #333333;
    font-size: 10px;
	padding-bottom:15px;
}

.webChangeIdHeading{
	border-bottom: 1px solid #E5E5E5;
    color: #333333;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.webChangeIdHeadingData{
	color: #333333;
    font-size: 10px;
}

#webGroupNonLoginId{
	text-decoration:none;
	color:#333333;
	font-size:10px;
}

.webChangeIdHeadingData a:hover{
	color:#CC0000;
	text-decoration:underline;
}


#currentLoginUserName{
	background-color: #DFDFDF;
	border: 1px solid #CC0000;
    color: #333333;
	padding:15px;
	z-index: 1010;
	width:auto;
	position:absolute;
}
/* web Group DropDown styles end*/

/*  ips Contract DropDown styles*/
#ipsContractDropMenuContainer
{
	width:498px;
	height:auto;	
}
.ipsMenuChangeLabel
{  
    border-bottom: 1px solid #E5E5E5;
    color: #333333;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 5px;
    padding-bottom: 5px;
    width:90px;
}
.ipsMenuContractMsg
{
    width:450px;
    font-size:10px;
    color:#666666;
    height:auto;
    line-height: 14px;
}
.ipsMenuBrowse
{
	font-weight: bold;
	margin-bottom: 5px;
    padding-bottom: 5px;
    color: #333333;
    font-size: 10px;
}

/*  ips Contract DropDown styles end*/

/* insight help or support styles*/
#insightHelpPageContainer
{
    width:95%;
    height:auto;
    padding-right:20px;  
    padding-left:20px;        
}
#insightHelpSuppDiv
{
	margin-left:15px;
	margin-right:15px;
}
#twoColDiv
{
   width:100%;
   height:auto;
   color: #666666;
}
#col1
{
   float:left;	 
   width:50%;
   height:auto;
  
}
#col2
{
   float:left;	
   width:50%;
   height:auto;
  
}
.hAuto
{
 	height:auto;
}

.textPop
{
  color:red;
  font-weight:bold;
}
.webSupportInputStyle {
    background-color: #FFFFFF;
    border-color: #C0C0C0;
    border-style: solid;
    border-width: 1px;
}

/* insight help or support styles end*/


a.subLink{
	color: #0073B0;
	text-decoration: none;
	font-size: 11px;
}
a.subLink:hover{
    color:#BD1933;
	text-decoration:none;
}
a.leasePrice,a.leasePrice:visited{color:#f90;text-decoration:none;}
a.leasePrice:hover{
color:#BD1933;
text-decoration:underline;
}
.yourPrice{
font-size:13px;
font-weight:bold;
}
.listPrice{
font-size:11px;
text-decoration:line-through;
font-style:italic;
}
.yourPriceLarge{
font-size:14px;
font-weight:bold;
}
.rebateAmount{
color:#b20000;
font-weight:bold;
}
.subText{
font-size:10px;
font-family:verdana,sans-serif;
}
.text{
color:#444;
font-size:11px;
}
.textBold{
color:#444;
font-size:11px;
font-weight:bold;
}
.textPop{
color:#B20000;
font-size:11px;
}
.largeText{
font-size:14px;
}
.bold{
font-weight:bold;
}
.currency{
font-size:10px;
font-style:italic;
}
#lease_box{
position:relative;
float:right;
width:360px;
margin:20px;
margin-right:0;
padding:12px;
background:#e5f5ff;
border:1px dashed #CFDDE6;
}
.bubble{
position:absolute;
display:none;
width:100px;
height:57px;
padding:6px;
font-size:9px;}html>.bubble{padding-right:8px;}

.errorMsg{
font-family:verdana,sans-serif;
font-size:11px;
font-weight:normal;
color:#BD1933;
width:420px;
background-color:#f5f5f5;
text-align:left;
border-width:3px;
border-style:double;
border-color:#BD1933;
padding:9px;
}
.confirmMsg{
font-family:verdana,sans-serif;
font-size:11px;
font-weight:bold;
color:#4769a0;
width:420px;
background-color:#f5f1ea;
text-align:left;
border-width:3px;
border-style:double;
border-color:#4769a0;
padding:9px;
}

/*10px space filling div class*/
.tenPXSpace{
	float: right;
	margin-bottom: 10px;
	width: 100%;
}
/*10px space filling div class*/
.twentyPXSpace{
	float: right;
	margin-bottom: 20px;
	width: 100%;
}
.right
{
	float: right;	
}
.left
{
	float: left;	
}

.subText {
    font-size: 11px;
}

.homePageTopHR {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #DDDDDD -moz-use-text-color -moz-use-text-color;
    border-right: medium none;
    border-style: solid none none;
    border-width: 1px medium medium;
    height: 1px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 940px;
}
div.header {
    border-bottom: 1px solid #CCCCCC;
    color: #333333;
    font-size: 16px;
    font-weight: bold;
}


.ipsnav {
	height:40px;
}

.ips-custom-logo
{
	float:left;display: table-cell; vertical-align:middle;width:178px;padding-top:24px;padding-right:5px;
}

.header-divider {
	margin-left:10px;margin-right:10px;margin-bottom:0;background:#FFFFFF;border-top: solid 1px #DDDDDD;	
}

#chatSupport {
	position:fixed;	
	width:108px;
	height:377px;	
	z-index:1000;
	left:0;
	top:10%;				
}

#chatSupport .close {
	position:relative;
	top:0px;
	right:-45px;
}

/** start account tools menu **/
.staticMenudiv{
padding:5px 15px 5px 5px;
width:auto;
vertical-align: text-top;
background: #ffffff;
}
.accMenuHeader{
text-align: left;
line-height: 14px;
text-indent: 5px;
color: #333;
font-size: 11px;
width: auto !important;
font-weight:bold;
border-bottom: 1px solid #E5E5E5;
font-family: Arial,Helvetica,sans-serif;
margin-bottom: 5px;
padding-bottom: 5px;
}
.menuChildren{
color:#0073b0;
text-align: left;
padding-left: 5px;
font-size: 11px;
text-decoration: none;
display:inline-block;
}
.verticalAlignTopStyle{
	width:auto;	
	margin-bottom:10px;
}
.paddingTop10Px{
	width:100%;
	height:auto;
}
.paddingBottom10px{
	padding-bottom: 10px;
}
/** end account tools menu **/

/** start GLM menu menu **/
#GLMwebSiteContainer
{
   width:300px;
   height:auto;
   
}
.GLMLabel
{
   color:#333333;
   font-size:13px;
}
#changeDefaultDiv
{
   display:none;
   width:300px;
   height:auto;
   font-size:13px;
}
.handOnHover
{
	cursor: pointer;
    cursor: hand;
}
/** end GLM menu menu **/
