@CHARSET "ISO-8859-1";
.insightCustomDialog .ui-dialog .ui-dialog-titlebar{
	display: none !important;
}
.insightCustomDialog .insightLightBoxClose{
	float: right;
    position: relative;
    right: -10px;
    top: -10px;
    z-index: 1003;	
}
.insightCustomDialog .ui-dialog, .insightCustomDialog .ui-dialog .ui-dialog-content{
	overflow: visible;
	padding: 0px;
}
.insightCustomDialog .ui-dialog-content .ui-widget-content{
	overflow: hidden;
}
