/******************* Product Return Request Form *************/

#productReturnRequestFormMainDiv
{
	float:left;
	width:940px;
	margin:10px;
}
.productReturnRequestFormHeading{
	border-bottom: 1px solid #CCCCCC;
    color: #333333;
    font-size: 16px;
    font-weight: bold;
}
.productReturnRequestFormData
{
    background: none repeat scroll 0 0 #EEEEEE;
    color: #333333;
    padding: 5px;
    width: 275px;
}
.clear
{
	clear:both;
}
.textPop {
    color: red;
    font-size: 12px;
    font-weight: bold;
}
.productReturnRequestFormData input[type=text],.productReturnRequestFormData textarea{
  	width:98%;
}