/* insight.com search page style sheet */


#searchContent{		
	width: inherit;
	display: none;		
	overflow:hidden;	
}

#narrowDownOptions, #leftCol{	
	float:left;
	width: 192px;
	background-color: #FFFFFF;
	margin-top: 10px;
	margin-left: 10px;
	padding-bottom: 1000em;
	margin-bottom: -1000em;			
}

#inventaryImage{
	background-color: #FFFFFF;   
    padding: 10px;
    position: relative;
    width: 940px;
    height: auto;	
}

#microSiteTemplateDiv{
	background-color: #FFFFFF;
	padding: 10px;
	float: left;
	/*height: 600px; */
}
#twoColTemplate{	
	overflow:hidden;	
}

#contentCol{
	float:left;
	padding: 10px; 
	width: 76%;
}
.sb_row{
	padding-bottom: 25px;
}

.narrowSearchForm{
	display: block;
	padding-top: 4px;
	padding-bottom: 4px;
}

#narrowSearchBtn, #rebatesSearchBtn{
	height: 24px;
	
	vertical-align: top;
}

#narrowSearchInput, #rebatesSearchInput{
	height: 20px;
	width: 114px;
	vertical-align: middle;
	border: 1px solid #C0C0C0;
}

#centerDiv{
	float:left;
	padding: 10px;	
	width:725px;
}

#rightCol{	
	float:left;
	width: 192px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#breadCrumb{
	/* border-top: 1px dotted #736F6E; */
	border-bottom: 1px dotted #736F6E;	
	padding: 10px 0;
	
}

#totalRecordsMessage{ 
	/* padding-left: 10px; */
	font-weight: bold;
	color: #908982;
}

#crumb{
	display: block;
	padding-top: 5px;
	padding-left: 10px;
	font-weight: bold;
}

.crumbSpan{
	display: block;
	padding-top: 5px;
	padding-left: 10px;
}
#shown{
	padding-top: 10px;
	position: relative;
}

#shown select{
	
}

#prevNextRecords{
	position: absolute;
	top: 0;
	right: 0;
	padding-top: 10px;
}

#paging{
	padding-top: 10px;
	display: block;
	text-align: center;
}

.moreNarrowOptionsDiv{
	display: none;
}
.paginationLink{
	padding-left: 3px;
	padding-right: 3px;
}
.paginationLinkDisable{
	text-decoration: none;
	font-weight: normal;
	color: #CDCDCD;
}

.blueBoldLink{
	font-weight: bold;
	color: #0073B0;
	text-decoration: underline;
}

.blueBoldLink:hover{
	color: #5CB3FF;
}

.compareSortDiv{
	padding-top: 5px;
	padding-bottom: 5px;
	display: block;
	float: left;
}

#addToProductCenterDiv{
	padding-top: 5px;
	padding-bottom: 5px;
	display: block;
}

.compareSortDiv a, #addToProductCenterDiv a{
	font-size: 11px;
	padding-right: 10px;
}

.compareSortDiv a input, #addToProductCenterDiv a input{
	vertical-align: middle;
}

.nugsSortBy{
	font-size: 11px;
	font-weight: bold;
	float: right;
	margin-top: 5px;
}

/* #results{
	padding-top: 10px;
} */

.container{
	width: 916px;
	padding: 0px;
	/* display: table;*/
	height: auto;
}
.row{
	/*display: table-row;*/
}
.cell{
	display: table-cell;
}
.blackBoldText{
	color: #000000;
	font-weight: bold;
}


.whiteBoldText{
	color: #FFFFFF;
	font-weight: bold;
}

.whiteNormalULink{
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: underline;
}

a.whiteNormalULink:hover{
	color: #EEAF30;
}

.darkBoldText{
	color: #444444;
	font-weight: bold;
}



#breadCrumbDidYouMean{
	font-weight:bold;
	color:#FF0000;
	font-size: 12px;
	padding-left:18px;
	padding-top:8px;
	
}

#breadCrumbDidYouMean span{
	color: #908982;
}

.productHeader{
	display: block;
	background-color: #EEEEEE;
	border-top: 1px solid #BABABA;
	padding: 3px;
}

.productChkBox{
	float: left;
	display: block;
	padding-right:10px;
}

.productTitle{
	display: block;
	float: left;
	padding-top: 2px;
	width: 550px;
	font-size:12;
	font-weight:normal;
}

.productTitle a {
	text-decoration: underline;
}

.productAvail{
	display: block;
	float: right;
}

.productAvail a{
	font-size: 11px;
}



.productDescription{
	display: block;
	padding: 5px;
}



.productBullets{
	display: block;
	float: left;
	font-size: 11px;
	margin-left: 0 px;
	width: 310px;

}

.productBullets ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.productBullets ul li{
	list-style: none;
	padding: 1px;
}

.searchResultsBullet{
	font-size: 11px;
	float: left;
}

.searchResultsBulletText{
	font-size: 11px;
	margin-left: 8px;
}

.manufacturerPartNum{
	padding-top: 1px;
	display:block;
}

.prodPrice{
	float: right;
	/*margin-top: 10px;*/
	margin-right:-5px;
}

.prices{
	display: block;
	/*text-align: right  !important;*/
}
.updatedPrices{
	color:#000000 !important;
	font-size:14px !important;
	font-weight:bold;
	padding-top:10px;
	/*text-align:left !important;*/
}

.currency{
	font-size: 11px;
	font-style: italic;
}

.price{
	font-size: 13px;
	font-weight: bold;
	margin-left:5px;
}

.listprice{
	font-size: 13px;	
	text-decoration: line-through;
}

.rebatePricesDiv{
	display: block;
	/*text-align: right  !important;*/
	border-bottom: 1px dotted #000000;
	margin-bottom: 5px;
	padding-bottom: 5px;
}

.rebatePrice{
	color: #FF0000;
	font-size: 13px;
	font-weight: normal;
	margin-left:40px;
}

.lightGreyText{
	color: #999999;
}

.callForPrice{
	display:block;
	margin: 6px 4px 8px 0pt;
	color:#666;
}
.addToOrderImg{
	display: block;
	text-align: right;
	padding-top: 20px;
}

.compareSimilar{
	clear: both;
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 20px;
	padding-right: 5px;
	float: left;
	width: 115px;
}

.compareSimilar a{
	font-size: 11px;
}

.compareSimilar a input{
	vertical-align: middle;
}

.narrowHeader{
	background-image: url("../../ccms_img/nsitImg_narrowYourResults_bgGradient.png")/*tpa=http://www.insight.com/insightweb/assets/en_US/ccms_img/nsitImg_narrowYourResults_bgGradient.png*/; 
	BACKGROUND-COLOR: #cccccc;
	background-repeat: repeat-x;
	color: #000000;
	padding-top: 3px;
	/*padding-left: 5px;*/
	padding-bottom: 3px;
	text-align: left;
	display: block;
	font-size: 11px;
	font-weight: bold;
	position: relative;
	padding-left: 5px;
}

.narrowSection, .defaultCollapse{
	padding-top: 2px;
}

.narrowLinks{
	margin-left: 10px;
	margin-right: 2px;
	display: block;
}

.narrowHitLinks{
	padding-bottom: 5px;
	padding-right: 2px;
	padding-top: 1px;
	padding-left: 1px;
}

.expandImg{
	position: absolute;
	top:0;
	right:0;
	display: block;
	padding-top: 3px;
	padding-right: 5px;
}

.moreChoicesLink{
	padding-bottom: 5px;
	padding-right: 2px;
	padding-top: 5px;
	padding-left: 10px;
	display: block;
}

 #masterProductLabel{
border-bottom:#f0cece 1px solid;
padding-bottom:5px;
background-color:#f4dddd;
padding-left:5px;
padding-right:5px;
border-right:#d78b8b 1px solid;
padding-top:5px;
width:190px;
float:left;
}
#similarProductsLabel{
padding-bottom:5px;
background:#ddd;
padding-left:5px;
padding-right:5px;
padding-top:5px;
width:915px;
height: auto;
}
#containerDiv{

}
#rowDiv{
display: table-row;
}
.tableCol{
    display: table-cell;
}
.compareSimilarHeader{
border-bottom: #ccc 1px solid;
color:#333;
font-size:16px;
font-weight:bold
}
#outerContainerDiv{
width:940px;
height: auto;
}
#blankSpace{
BACKGROUND-COLOR: #ffffff;
width:150px;
padding-left:5px;
padding-right:5px;
padding-top:5px;
padding-bottom:5px;
float:left;
}

.containers{
                display: table;
				
}

.rows{
             /*   display: table-row; */
}

.cells{
                display: inline;
               
}
.columns{
                display: table-column;
}

#compareColumn1,#compareColumn2,#compareColumn3,#compareColumn4,#compareColumn5,#compareColumn6{
width:135px;
float:left;
border-right:#c9c9c9 1px solid;
border-bottom:#eae9e9 1px solid;
padding-left:5px;
padding-right:5px;
padding-top:5px;
padding-bottom:5px;
}
#columnDiv{
width:150px;
}
#keySpecs{
border-bottom:#f0cece 1px solid;
padding-bottom:5px;
background-color:#f4dddd;
padding-left:5px;
padding-right:5px;
border-right:#d78b8b 1px solid;
padding-top:5px;
width:40px;
float:left;
}
#imageCell{
border-right:#c9c9c9 1px solid;
border-bottom:#f0cece 1px solid;
width:130px;
float:left;
padding-left:5px;
padding-right:5px;
padding-top:5px;
padding-bottom:5px;
}
#dataCell{
width:130px;
float:left;
padding-left:5px;
padding-right:5px;
padding-top:5px;
padding-bottom:5px;
text-align:center;
}

#masterDataCell{
border-right:#d78b8b 1px solid;
border-bottom:#f0cece 1px solid;
width:137px;
float:left;
padding-left:5px;
padding-right:5px;
padding-top:5px;
padding-bottom:5px;
text-align:center;
}
#LeftHdrCell{
width:150px;
float:left;
padding-left:5px;
padding-right:5px;
padding-top:5px;
padding-bottom:5px;
}


.topSidePointerLeft{
background:url("../../ccms_img/sprite4.png")/*tpa=http://www.insight.com/insightweb/assets/en_US/ccms_img/sprite4.png*/ no-repeat;
background-position: -20px -60px;
}

.topSidePointerSubStyle{
height:20px;
/*bgcolor:#FFFFFF;*/
}

.topRightCorner{
background:url("../../ccms_img/sprite4.png")/*tpa=http://www.insight.com/insightweb/assets/en_US/ccms_img/sprite4.png*/;
background-position: -20px -100px;
background-repeat:no-repeat;
}

.leftSide{
background:url("../../ccms_img/sprite3.png")/*tpa=http://www.insight.com/insightweb/assets/en_US/ccms_img/sprite3.png*/;
background-repeat:repeat-y;
background-position: -10px 0px;
}

.rightSide{
background:url("../../ccms_img/sprite3.png")/*tpa=http://www.insight.com/insightweb/assets/en_US/ccms_img/sprite3.png*/;
background-repeat:repeat-y;
background-position: -40px 0px;
}
.image_on_a_line{vertical-align:middle;}

.bottomLeftCorner{
background:url("../../ccms_img/sprite4.png")/*tpa=http://www.insight.com/insightweb/assets/en_US/ccms_img/sprite4.png*/;
background-position: -20px -140px;
background-repeat:no-repeat;
}

.bottomLeftCornerSubStyle{
width:10px;
 height:10px;
 /*bgcolor:#FFFFFF;*/
}

.bottomRightCorner{
background:url("../../ccms_img/sprite4.png")/*tpa=http://www.insight.com/insightweb/assets/en_US/ccms_img/sprite4.png*/;
background-position: -20px -170px;
background-repeat:no-repeat;
}
.topLeftCorner{
background:url("../../ccms_img/sprite4.png")/*tpa=http://www.insight.com/insightweb/assets/en_US/ccms_img/sprite4.png*/;
background-repeat:no-repeat;
background-position: -20px -20px;
}

.topLeftCornerSubStyle{
width:10px;
height:20px;
/*bgcolor:#FFFFFF;*/
}

.termsAndConditions{
width:350px;
padding-left:5px;
}

.bottomSide{
background:url("../../ccms_img/sprite5.png")/*tpa=http://www.insight.com/insightweb/assets/en_US/ccms_img/sprite5.png*/;
background-repeat:repeat-x;
background-position: 0px -20px;
}

.bottomSideSubStyle{
height:10px;
/*bgcolor:#FFFFFF;*/
}

.recentlyViewedProductsInline{
	width:177px; 
	background-color:#2D9009;
}

.relatedlinksSubStyle{
padding-top: 1px;
padding-bottom: 1px;
}

#inventoryBlowOutDiv{
	float:left;
	padding: 10px;	
	width:725px;
}
.pppProdNavLeft{
	float:left;
}

.toggleshow {
 display: block;
}

.togglehide {
 display: none;
}

.popupIBOdiv {
line-height: 14px;
position: absolute;
text-align: left;				
z-index: 1000;
}

.defaultCollapse{
	display: none;
}

.narrowHeadTitle{
	width: 171px;
	padding-left: 5px;
	display: block;
}

#errorMessageDiv{
	text-align: center;
	display: none;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 200px;
}
#noKeywordErrorMessage{
	text-align: center;
	width: 420px;
	color: #CC0000;
	padding: 10px;
	font-weight: bold;
	border: 1px solid #CC0000;
	background: none repeat scroll 0 0 #EEEEEE;
	display: block;
}

/* Product Compare List Box stylesheets */
#savedProductCompareBox{
	background: scroll transparent repeat url("../../ccms_img/resrc_sections_bkgrd2.gif")/*tpa=http://www.insight.com/insightweb/assets/en_US/ccms_img/resrc_sections_bkgrd2.gif*/;
	border-left: 1px solid #C4C4C4;
	border-right: 1px solid #C4C4C4;
	border-bottom: 1px solid #C9C9C9;
	margin-top: 2px;
	display: none;
}

#spcBoxTitle{
	background: scroll transparent repeat url("../../ccms_img/resrc_title_bkgrd.gif")/*tpa=http://www.insight.com/insightweb/assets/en_US/ccms_img/resrc_title_bkgrd.gif*/;
	border-top: 1px solid #C4C4C4;
	border-bottom: 1px solid #C4C4C4;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 3px;
	padding-top: 3px;
	font-weight: bold;
	color: #333333;
}

#spcBoxSavedItems{
	width: 217px;
	height: 40px;
	padding-left: 2px;
	padding-right: 2px;
	border-bottom: 1px solid #C9C9C9;
	border-right: 1px solid #C9C9C9;
	float: left;
}

#spcBoxSelect{
	font-size: 11px;
	vertical-align: middle;
}

#spcBoxImageBtnDiv{
	height: 40px;
	border-bottom: 1px solid #E2DBCE;
	float: left;
	padding-left: 5px;
}

.spcBoxImageBtns{
	vertical-align: middle;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 3px;
}
.hide{
	display: none;
}
/* ** end of Product Compare List Box stylesheets ** */

#shopBrandTemplateDiv
{
	background-color: #FFFFFF;
	padding: 10px;
}

#shopByBrandPageHeading
{
	border-bottom: 1px solid #CCCCCC;
	font-weight: bold;
	font-size: 16px;
	color: #333333;
	margin-bottom: 10px;
	margin-top: 10px;
	background-color: #FFFFFF;
}

#alphabetsPagingDiv{
	font-weight: bold;
	font-size: 12px;
	color: #333333;
	text-align: right;
	margin: 10px;
	background-color: #FFFFFF;
}

#shopByBrandPageDiv{
	margin-top: 10px;
	background-color: #FFFFFF;
}

#brandsLogoDiv{
	text-align: center;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 30px;
}

#brandsLogoDiv .sbbSingle{
	padding: 5px;
	display: inline;
	margin-right: 10px;
}

#brandsLogoDiv .sbbSingle a img{
	border: none;
	vertical-align: middle;
}

#brandLinksDiv {
	margin-top: 30px;
	margin-left: 30px;
	margin-right: 30px;
}

#sbbColOneDiv, #sbbColTwoDiv, #sbbColThreeDiv{
	float: left;
	width: 293px;
}



  #masterCPSLabel{
    border-bottom:#f0cece 1px solid; 
    background-color:#f4dddd;
    border-right:#d78b8b 1px solid;
    width:180px; 
    text-align:center; 
    padding:5px; 
    display:table-cell; 
    }





    #similarCPSLabel{   
    background:#ddd;
    width:562px;
    text-align:center;
    display:table-cell; 
    padding:5px;
    }
    
    #myCell1, #myCell2, #myCell3 , #LeftHdrCell
    {
      width:150px;  
      text-align:right;

      padding :5px;
    }



    
    #imageCell{
    border-right:#c9c9c9 1px solid;
    border-bottom:#f0cece 1px solid;
    width:130px;
    float:left;
    text-align:center;    
    }


    
    .keySpecsCell{
    border-bottom:#f0cece 1px solid;
    background-color:#f4dddd;
    border-right:#d78b8b 1px solid;
    width:40px;
    display:table-cell;
    text-align:center;
    padding:5px;


    }
    
    .emptyCellCPS 
    {
         width:40px;
      display:table-cell;
       padding:5px;
    }
    
    
    .cellCPSImage
    {
     border-right:#c9c9c9 1px solid;
     border-top:#c9c9c9 1px solid;
     border-bottom:#f0cece 1px solid;    
	 float:left;
     /*display:table-cell;*/
     padding:5px; 
    text-align:center;   
    }


    
    .dataCPSCell{     
    text-align:center;
   /* display:table-cell; */
  float:left;
    padding:5px;   
    }
    
    .CPSRow1 
    {
        background-color:#ddd;
      /*   display: table-row;*/
		 float:left;

    }
    
    .CPSRow2
    {
        background-color:#eee;
       /*  display: table-row; */
	    float:left;
    }

	#cpImagesID 
    {
        background-color: #FFFFFF;
      /*   display: table-row;*/
		 float:left;
    }

    .LeftMostCPSCell{   
    padding:5px;
    text-align:right;
	float:left;
   /* display:table-cell;   */
        
}


.titleSpecProd {
background-color:#ccc;
padding:5px;
text-align:left;
width:905px;
height: auto;
/* display:table-cell;*/
}

.titlePrintSpecProd {
background-color:#ccc;
padding:5px;
text-align:left;
width:590px;
/* display:table-cell;*/
height: auto;
}

#compareProductsData
{
    margin-left:20px;
}


/* compare list page styles */
#prodCompareListTemplateDiv{
	background-color: #FFFFFF;
	padding: 20px;
}

#pcl_mainHeading{
	margin-top: 10px;
	margin-bottom: 10px;
}

#pcl_description{
	color: #333333;
	margin-bottom: 10px;
}

#pcl_table{
	margin-left: auto;
	margin-right: auto;
	width: 458px;
	background-color: #EEEEEE;
	height: auto;
}

#pcl_tableHead{
	height: 20px;
	padding-top: 5px;
	padding-left: 5px;
}

#pcl_tableBody{
	padding: 20px;
	padding-bottom: 5px;
}

.pcl_row{
	height: 30px;
	padding-top: 5px;
}

.pcl_lableRed, .pcl_lable{
	float: left;
	width: 209px;
	text-align: center;
}

.pcl_input{
	float: right;
	width: 209px;
}

.pcl_lableRed, .redBoldText{
	font-weight: bold;
	color: #FF0000;
}

#compareBtnDiv{
	margin-top: 5px;
	text-align: center;
}

#pcl_instructions{
	text-align: center;
	clear: both;
}

#compareListErrorDiv{
	text-align: center;
	width: 420px;
	color: #CC0000;
	padding: 10px;
	font-weight: bold;
	border: 1px solid #CC0000;
	background: none repeat scroll 0 0 #EEEEEE;
	display: block;
}

#compareListErrorDivWrapper {
	display: none;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 250px;
}
#compareListErrorDiv{
	text-align: center;
	width: 420px;
	color: #CC0000;
	padding: 10px;
	font-weight: bold;
	border: 1px solid #CC0000;
	background: none repeat scroll 0 0 #EEEEEE;
}

	.box
	{
        float: left; 		
        text-align: center;
        padding:5px;		
    }

    .titleSpecProdSP
	{    
        
        float:left;
        background-color:#ccc;            
        width:906px;
        padding:5px;
        height: auto;
    }
    
      .SPRow1 
	{     
        float:left;	
		clear:both;
        background: none repeat scroll 0 0 #DDDDDD;	
		width:916px;	 
		height: auto;      
    }

    
    .SPRow2
    {           
        float:left; 
		clear:both;
        background: none repeat scroll 0 0 #EEEEEE;
        color: #333333;
		width:916px;  
		height: auto;
	     
         
    }

 .SPImageRow
    {  		        
        float:left; 
		clear:both; 
		width:916px;   
		height: auto;     
    }
 
 .keyStoreCol 
 {
      background-color: #F4DDDD;
    border-bottom: 1px solid #F0CECE;
    border-right: 1px solid #D78B8B;
    float: left;      
    text-align: center;
    padding:5px;
 }



.spFirstRowStyle
{
    background-color: #F4DDDD;
    border-bottom: 1px solid #F0CECE;
    border-right: 1px solid #D78B8B;
    float: left; 		
    text-align: center;
	vertical-align:middle; 
    padding:5px;
    
}
.spSecondRowStyle 
{    
    background-color: #FFF6F6;
    border-bottom: 1px solid #F0CECE;
    border-right: 1px solid #D78B8B;
    float: left; 		
    text-align: center;
	vertical-align:middle; 
    padding:5px;
}
.spSimilarDivStyle
{
    float: left; 	
    padding:5px;
    text-align:center;
    background: none repeat scroll 0 0 #DDDDDD;
}

.spKeySpecsDivStyle 
{
    border-bottom: 1px solid #F0CECE;
    border-right: 1px solid #D78B8B;
    float: left; 	
    padding:5px;
    text-align:center;
	vertical-align:middle;
	background-color: #ffffff;
}
.spImagesDivStyle 
{
    float: left; 	
    padding:5px;
    text-align:center;
    border-bottom: 1px solid #EAE9E9;
    border-right: 1px solid #C9C9C9;
}
.spCommonDivBox 
{
	float: left; 		
    text-align: center;
    padding:5px;	
	vertical-align:middle;
}

/* styles for product center popup for adding checked items to company standards */

#popUpDiv{
	height: 500px;
	width: 400px;
	display: none;
}
#popUpDialogBody{
	overflow: auto;
	height: auto;
	background-color: #FFFFFF;
}

.clear{
	clear: both;
}
.greyBox{
	background-color: #666666;
}
.greyBoxNW{
	background: url(Unknown_83_filename)/*tpa=http://www.insight.com/insightweb/assets/en_US/ccms_img/greyNW.jpg*/ no-repeat top left;
}
.greyBoxNE{
	font-size: 0;
	height: 10px;
	background: url(Unknown_83_filename)/*tpa=http://www.insight.com/insightweb/assets/en_US/ccms_img/greyNE.jpg*/ no-repeat top right;
}
.greyBoxContent{
	margin: 0px 10px 0px 10px;
}
#allCategories{
	background-color: #F7F7F7;
	border-color: #EFEFEF #C9C9C9 #EAE9E9 #EFEFEF;
	border-right: 1px solid #C9C9C9;
	border-style: solid;
	border-width: 1px;
	padding: 5px;
	font-weight: bold;
	width: auto;
	height: auto;
}		
.categoryHeading{
	background-color: #999999;
	border-color: #EFEFEF #C9C9C9 #EAE9E9 #EFEFEF;
	border-right: 1px solid #C9C9C9;
	border-style: solid;
	border-width: 1px;
	padding: 5px;
	color: #58595B;
	font-size: 12px;
	font-weight: bold;
	padding-top: 5px;
	text-decoration: underline;
	width: auto;
	margin-left: 9px;
	height: auto;
}
.categoryHeading a{
	color: #58595B;
	font-size: 12px;
	font-weight: bold;
	text-decoration: underline;
}
.productGroup{
	background-color: #CCCCCC;
	border-bottom: 1px solid #EAE9E9;
	border-right: 1px solid #EAE9E9;
	padding: 5px;
	padding-top: 5px;
	width: auto;
	margin-left: 15px;
	height: auto;
}
.productGroup a{
	color: #58595B;
	font-size: 12px;
	font-weight: bold;
	text-decoration: underline;
}
.configurationSet{
	background-color: #FFFFFF;
	border-bottom: 1px solid #EAE9E9;
	border-right: 1px solid #EAE9E9;
	padding: 5px;
	width: auto;
	margin-left: 15px;
	height: auto;
}
.configurationSet span{
	color: #58595B;
	font-size: 12px;
	text-decoration: underline;
}
.categorySeperation{
	margin-bottom: 3px;
}

/* Shopping Tools Configurator Styles */

#configuratorTemplateDiv{
	background-color: #FFFFFF;
	padding: 20px;
}

#configuratorBodyDiv{
	margin-top: 20px;
}

.configuratorSection{
	width: 456px;
	margin-right: 5px;
	margin-left: 5px;
	float: left;
}

.configuratorLeftSection{
	width: 456px;
	float: left;
	margin-right: 3px;
}

.configuratorRightSection{
	width: 456px;
	float: right;
	margin-left: 3px;
}

.configuratorSubHeading{
	border-bottom: 1px dotted #999999;
}

.configuratorLinkBullets ul{
	margin-left: 0px;
	padding-left: 10px;
	margin-top: 5px;
}

.configuratorLinkBullets ul li{
	font-size: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	list-style-type: disc;
}

.configuratorLinkBullets li span{
	font-size: 12px;
}

/* User-facing Company Standards */

#demoCompanyStandardsTempalteDiv{
	background-color: #FFFFFF;
	padding: 10px;
}



#companyStandardsWrapper{
	margin-top: 20px;
	background-color: #EEEEEE;
    border: 1px solid #C9C9C9;
    float: left;
    padding: 5px;
    width: 99%;
    height: auto;
}

#csLeftSection{
	background-color: #EEEEEE;
    border: 1px solid #FFFFFF;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    width: 415px;
}

#csRightSectionParent{
	background-color: #EEEEEE;
    float: left;
    width: 475px;
}

.csRightSection{
	background-color: #EEEEEE;
    float: left;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
    width: 475px;
}
.width175{
	width: 175px;
}
.width70{
	width: 70px;
}
.width90{
	width: 90px;
	text-align: center;
}
.width42{
	width: 42px;
}
.width30{
	width: 30px;
}
.csSubHeading{
    margin: 15px 0 0;
}

.csSectionBody{
	margin-top: 20px;
}

.csProductGroupDiv .productGroupExpandCollapseImg, .csProductGroupDiv .productGroupTitle{
	float: left;
}

.csProductGroupDiv{
	background-color: #CCCCCC;
    border-color: #FFFFFF;
    border-right: 1px solid #FFFFFF;
    border-style: solid;
    border-width: 1px;
    float: left;
    padding: 5px;
	width: 407px;
}



.csProductGroupDiv a img{
	border: none;
	vertical-align: middle;
	width: 15px;
	height: 15px;
	margin-left: 2px;
	margin-right: 2px;
	cursor: pointer;
}

.csProductGroupMemberDiv{
	border-color: #FFFFFF;
    border-right: 1px solid #FFFFFF;
    border-style: solid;
    border-width: 1px;
    float: left;
    padding: 5px;
	width: 407px;
}

.csProductGroupMemberDiv .csProductGroupMemberImgDiv{
	float: left;
}

.csProductGroupMemberDiv .csProductGroupMemberImgDiv img{
	height: 55px;
	width: 55px;
	vertical-align: middle;
	border: 0px solid #CCCCCC;
}

.csProductGroupMemberDiv .csProductGroupMemberProdInfo{
	float: left;
}

.csProductGroupMemberDiv .csProductGroupMemberProdInfo ul{
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

#selectedProductGroupBorder{
	border: 1px solid #C0C0C0;
    float: left;
    padding: 5px;
}

#selectedProductGroupContent{
	border: 1px solid #C0C0C0;
    float: left;
}

#productGroupTipDiv{
	float: left;
    min-height: 50px;
    padding: 5px;
}

.csProductGroupDivDescription{
	color: #000000;
	clear: both;
}

#csProductGroupBreadCrumb{
	background-color: #CCCCCC;
    float: left;
    padding-top: 10px;
	color: #333333;
	width: 471px;
	font-size:11px;
	padding-left:3px;
}

.csBreadCrumb{
	font-weight: bold;
}

.csProductGroupTitle{
	background-color: #CCCCCC;
    float: left;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left:3px;
	width: 471px;
	font-weight: bold;
	color: #333333;
	font-size:11px;
}

.csProductGroupTable {
	clear:both;
	border-collapse:collapse;
	width:474px;
	table-layout: fixed;
}
.csProductGroupTable th {font-weight:bold;} 
.csProductGroupTable th, .csProductGroupTable td {
	border:1px solid #d2d2d2;	
	vertical-align:middle;
	padding:2px;
	font-size:11px;
}

.csProductGroupTable div{
	font-size:11px;
}



.csProductGroupTable .contentRow input{
	vertical-align: middle;
	font-size: 11px;
}

#csProductGroupAddToOrder{
	background-color: #DDDDDD;
    float: left;
    padding: 5px;
	width: 464px;
	text-align: right;
}

.csProductGroupTable  .amount{
	color: #666666;
    font-size: 13px;
    font-weight: bold;
}

.csProductGroupTable .currency{
	color: #999999;
    font-size: 11px;
    font-style: italic;
}

.csProductGroupMemberDiv span{
	text-align: right;
	float: right;
}

.csProductGroupMemberDiv span input{
	vertical-align: middle;
}

.csProductGroupMemberDiv a{
	float: left;
}
.cspPrice {
	text-align:center;
}

.textBold {
    color: #333333;
    font-size: 12px;
    font-weight: bold;
}

a.resrcLinkMain, a.resrcLinkMain:visited {
    font-size: 12px;
    font-weight: bold;
}

.textPop {
    color: red;
    font-size: 12px;
    font-weight: bold;
}

/* company standards success msg pop up styles */
#companyStandardsSuccessPopUpDiv{
	background-color: #FFFFFF;
	width: 172px;
	border: 2px solid #BBBBBB;
    padding: 5px;
    position: relative;
}

#companyStandardsSuccessPopUpDiv #greenRightMarkImg{
	text-align: center;
	width: 15px;
	float: left;
	position: absolute;
	top: 50%;
}

#companyStandardsSuccessPopUpDiv #greenRightMarkImg img{
	vertical-align: middle;
}

#companyStandardsSuccessPopUpDiv .successMessage{
	float: right;
    font-weight: bold;
    margin-bottom: 10%;
    margin-top: 10%;
    text-align: center;
    width: 157px;
}

a.leasePrice, a.leasePrice:visited {
    color: #EEAF30;
    font-family: Arial,Helvetica,"Microsoft Sans Serif","Trebuchet MS",san-serif;
    font-size: 11px;
    text-decoration: none;
}

a.leasePrice:hover {
    color: #CC0000;
	text-decoration: none;
}

div.productImage a img {
	 float: left;
	 width: 152px;
	 border:1px solid #DADADA;	
	 
}

a.crumbLink, a:visited {	
     font-size: 12px;
	 font-weight:bold;
	 display: inline;
}
div.blackBanner{
	width: 192px; 
	height:52px;  	
	background: url("../../ccms_img/hdr_narrowYourResults_blk.png")/*tpa=http://www.insight.com/insightweb/assets/en_US/ccms_img/hdr_narrowYourResults_blk.png*/ no-repeat scroll center top transparent;
	text-align: center;
	line-height: 52px;
}
div.blackBanner h2{
	color:#FFFFFF;
	line-height:3;
	border:0;
}


div.blackBanner{
	width: 192px; 
	height:52px;  
	background-color: #000000;
	text-align: center;
	line-height: 52px;
}
div.blackBanner h1,div.blackBanner h2,div.blackBanner h3,div.blackBanner h4{
	color:#FFFFFF;
}

/* advance search Styles*/

.AdvanceSubHeader {   
    display: block;
    margin: 15px 0 0;
}


.adMainDivInline{
	width:824px;
	background:#FFFFFF;
	height: auto;
}

   .advanceMainHeader{
 	 width:930px;
	 text-align:left;
	 height: auto;
   }
 .advanceMainHeaderInline{
   text-align:left;
   margin-top:1px;
 } 
   .advanceTableHeader {
   	 background: none repeat scroll 0 0 #CCCCCC;  
     padding:5px;   
   }
   
   .advanceTableInfo {   	
	background: none repeat scroll 0 0 #EEEEEE;
    color: #333333;
   	 text-align:left; 
	 float:left;
	 width:196px;
	 padding:5px;
   }
   
   .advanceTableInfoInline{
   	width:401px;
   	border-top:1px solid #FFF;
   	border-right:1px solid #FFF;
   }
   
   .adMFRPartNum{
   	width:401px;
   	height:30px;
   	border-top:1px solid #FFF;
   	border-right:1px solid #FFF;
   }
	
	
	.advanceTableInfo1{
	width:402px;
	height:30px;
	border-top:1px solid #FFF;
	}
	
   .advanceTopHeader{
	 width:824px;	
	 height: auto; 
	  
   }
   
   .advSearchLeft {
	   background: none repeat scroll 0 0 #CCCCCC;
	   color: #333333;
	   font-weight: bold;	   
	   width:238px;
	   float:left;
	   padding:5px;	
	   text-align:right;	  
		border-top:1px solid #FFF;  
		border-right:1px solid #FFF;   
   }
   
   .advSearchRight {
	background: none repeat scroll 0 0 #EEEEEE;
	color: #333333;
	float:left;
	padding:5px;
	width:564px;
	 border-top:1px solid #FFF;  
   }
   
  
 input#advancedSearch_searchText {
	 margin-top:5px;	  
 }
 
 .advSearchValidation{
	color: #CC0000;
	font-weight:bold;
	display: none;
 }
 
 #subCategoryValidation{
	vertical-align: top;
}
#advanceSearchDidYouMean{
	color:#FF0000;
	font-size: 12px;
	padding-left:18px;
	
}

#menuData{
	background: none repeat scroll 0 0 #EEEEEE;
    color: #333333;
    width: 824px;
    height: auto;
}

#menuData .advanceTableInfo{
	padding:5px;
	float: left;
	font-size: 12px;
	text-transform: uppercase; 
}

#menuData .advanceTableInfo a, #menuData .advanceTableInfo a:visited{
	vertical-align: middle;
}

#menuData .advanceTableInfo a:hover{
	vertical-align: middle;
}

.advanceMainDiv{
	width:824px;
	background:#FFFFFF;
	padding-left:20px;
	padding-top:20px;
	padding-right:116px;
	height: auto;
}

.advanceNugsStyle{
	width:824px;
	border-bottom: 1px dotted #736F6E;
	padding-bottom:5px;
	height: auto;
}

/* advance search Styles end*/

/*add Items To Cart Templ*/

#adItemsMainDiv {
    float: left !important;
    padding: 5px; 
}

.adItemCount{
	width:auto;
	height:30px; 
	text-align: left; 
	color: red; 
	font-family:arial,helvetica,'sans serif';
	font-size: 8pt; 
	font-weight: bold;
}

.AdItemProductInfo{
	width: 560px; 
	float: left; 
	height: auto;
}

.AdItemProductInfoStyle{
	height: 150px; 
	padding: 0; 
	float: left; 
	background-color: #FFFFFF;
	width:580px;
}
.AddToCartInCSDialog{
	position:relative;
}

.addToCartSimpleProductInfo{
	height: 250px; 
	padding: 0; 
	float: left; 
	background-color: #FFFFFF;
	width:580px;
}

.addToCartMultipleParts{
	height: 250px; 
	padding: 0; 
	float: left; 
	background-color: #FFFFFF;
	width:580px;
	overflow-y: auto;
	overflow-x: hidden;
	border-bottom: 1px solid #BFBFBF;
	margin-left:15px;
}

.AddItemsProductImage{
	text-align: center; 
	float: left; 
	padding: 0; 
	margin-top: 10px;
	margin-left:10px;
}

.addItemsProductTitle{
	width: 125px; 
	padding-top: 15px;
	padding-left:5px; 
	float: right;
}

.addItemsCartItems{
	width: 250px; 
	padding-left: 20px; 
	min-height: 150px; 
	float: right; 
	overflow: hidden;
}

.addItemsSummary{
	font-family: arial, helvetica, 'sans serif'; 
	font-size: 10pt; 
	font-weight: bold;
    width:156px
}

.addCartSingleCartClass{
	width:450px; 
	float:left; 
	display:block;
}

.protectYouPurchase{
	background:#FFFFFF; 
	width:434px; 
	float:left; 
	display:block; 
	padding:8px;
	border:1px solid #cccccc;
}

.NoWarrantyOption{
	text-align:center; 
	background:#FFFFFF; 
	height:100px; 
	overflow:auto;
	overflow-X:hidden; 
	padding:8px;
}


/*add Items To Cart Templ end*/


/*Add Items To cart Template*/


.selectIpWarrenty{
	width:265px; 
	float: left; 
	overflow-y: auto;
	height: 160px;
	background: #FFFFFF;
}

.cartProductInfo{
	width: 290px; 
	height: auto; 
	padding: 0; 
	float: left; 
	background-color: #FFFFFF; 
	overflow: hidden;
}

.cartProductImage{
	text-align: center; 
	float: left; 
	padding: 0; 
	margin-top: 10px;
}


/*Add Items To cart Template end*/

/* compare similar template */

td.compareSimilartopCell {
	border-right: 1px solid #C9C9C9; 
	border-bottom: 1px solid  #EAE9E9; 
	padding: 5px 5px 5px 5px; 
	background-color:#ffffff;
	text-align: center;
}

td.altCell2 {
	border-right: 1px solid #a9a9a9; 
	border-bottom: 1px solid #A9A9A9;
	padding: 5px 5px 5px 5px; 
	background-color:#BBBBBB;
	text-align: center;
}

td.compareSimilartableInfo2 {
	border-right: 1px solid #A9A9A9; 
	padding: 5px 5px 5px 5px; 
	background-color:#DDDDDD;
	text-align: center;
}

td.compareSimilarTableInfo {
    background: none repeat scroll 0 0 #EEEEEE;
    color: #333333;
    padding: 5px;
    text-align: center;
}

td.altCell {
    background: none repeat scroll 0 0 #DDDDDD;
    padding: 5px;
    text-align: center;
}

.cs-MainTable{
	width:100%; 
	/* 
	cellpadding:0; 
	cellspacing:1; */
	border:0; 
	/*bgcolor:#eeeeee;*/
	height: auto;
}

.cs-emptyTd{
	background: none repeat scroll 0 0 #DDDDDD; 
	padding: 5px;
	background-color:#ffffff;
}

.cs-masterProducts{
	background-color: #A9A9A9;
    border-right: 1px solid #A9A9A9;
	padding: 5px;
}

.cs-similarProducts{
	background: none repeat scroll 0 0 #DDDDDD; 
	padding: 5px;
}

.cs-ItemValue{
	background: none repeat scroll 0 0 #CCCCCC; 
	padding:5px;
}

/* compare similar template */

/* compare products styles */

.compareProductsInline{
	background-color:#FFFFFF;
	border-bottom:1px solid #EAE9E9;
	border-right:1px solid #C9C9C9;
	padding:5px;
	text-align:center;
}

.compareProductModelInline{
	background:none repeat scroll 0 0 #DDDDDD;
	padding: 5px;
	text-align:center;
}

.compareProductsDescriptionInline{
	background:none repeat scroll 0 0 #EEEEEE;
	color:#333333;
	padding:5px;
	text-align:center;
}

.compareSimilarTableInfo .buttons, .compareSimilartableInfo2 .buttons{
	padding:0;
}

.compareSimilarTableInfo .buttons a, .compareSimilartableInfo2 .buttons a {
	float:none;
	padding:0;	
}

.compareSimilarTableInfo .buttons a span, .compareSimilartableInfo2 .buttons a span{
	float:none;
	padding-top:5px;
	padding-bottom: 5px;	
}


.compareProductsDescriptionInline .buttons a {
	float:none;
}

.compareProductsDescriptionInline .buttons a span{
	float:none;
	padding: 5px;	
}

.compareProductsItemValue{
	background: none repeat scroll 0 0 #CCCCCC; 
	color: #333333;
	font-weight: bold;
	padding:5px;
}


/* compare products style ends */

/* insight Memory Selector style*/

.insightMemMainDiv{
	margin-right:10px;
	margin-right:10px;
	margin-left:10px;
}

.InsightMemtext {
    color: #333333;
    font-size: 12px;
}

.InsightMemTable{
	width:715px;
	border:solid 0px #CCCCCC;
	height: auto;
}

.InsightMemLogo{
	padding:5px;
	border:solid 0px #DDDDDD;
	vertical-align:middle;
	display:inline;
}

/* insight Memory Selector style end*/


.RecViwedProductsDesc{
	top: 262px; 
	left: 820px; 
	display: none; 
	position:absolute;
}


/* licensing style */

.licenseHeader{
	background-color: #EEEEEE;
    border-top: 1px solid #BABABA;
    display: block;
    height: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
    width: 720px;
}
.searchByBrowseLicenseProducts{
	margin-bottom: 5px;
	padding:10px 0 10px 0;
	text-decoration: none;
}
.searchByBrowseLicenseProducts a img{
	vertical-align: middle;
	text-decoration: none;
	margin-right: 5px;
}
.LicenseManufactureName{
	font-size: 12px;
    margin-left: 5px;
    padding-right: 5px;
    width: 40%;
    float:left;
}
.LicenseButton{
	display: block;
	float: left;	
	border: 1px solid #BBBBBB;
	padding: 5px;	
	background-color: white;
}
.reportUsageClass{
	border: 1px solid #BBBBBB;
	background-color: white;
	padding: 5px;
}
.reportUsageSpace{
	padding-bottom: 10px;	
}
.licenseCheckBox{
	display: block;
    float: left;
    width:20px;
}
.handOnHover{
	cursor: pointer;
}
.licenseProgramName{
	display: block;
    float: left;
    width:28%;
 } 
 
 .licenseCenterDiv{
 	padding-bottom: 10px;
    padding-top: 10px;
    width: 720px;
 }
 
 .licenseCenterLeft{
 	width:44%;
 	float:left;
 }
 
 .licenseCenterRight{
 	width:44%;
 	float:left;
 }
 
 .lisenceSubLeft{
 	padding-bottom:10px;
 }
 
 .licenseLeftCol1{
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
	border: solid 1px #EEEEEE;
	background-color: #FFFFFF;
	margin-top: 10px;
	margin-left: 10px;
	height: 99%;
}
.licensecontentCol1{
	top: 0;
	padding: 10px; 
}

.bubble_rec {
		display: none;
		font-size: 11px;
		padding: 6px;
		position: absolute;
		z-index: 3000;
	}
 .bubble_recInline{
	display: none;
	position: absolute;
}
.blueLink{
font-size: 11px;
}
.empty1{
	height: 18px;
}
.empty2{
	padding-top: 5px;
}


.adsearchdis{
	border-top: 1px solid #FFFFFF;
    float: left;
    height: 30px;
    width: 815px;
}

.adSearchDisButton{
	
	border-top: 1px solid #FFFFFF;
    height: 30px;
    width: 500px;
}

/* licensing style end*/

.narrowSearchButon{
	height: 24px;
	border-left:1px solid #eeeeee;
	border-right:1px solid #eeeeee;
}

.bottonAlignRite{
	padding-left:34px;
	padding-top:15px;
}

.greentext{
	color:#58A618;
}

/*
 add to cart pop-up container & tabs
*/

.addToCartTabsContainer .ui-widget-content{
	border: none;
	width: 570px;
	padding: 5px;
}

.addToCartTabsContainer .ui-widget-header{
	border-top: none;
	border-left: none;
	border-right: none;
	background: none;
}

.addToCartTabsContainer .tab {
	margin-left: 10px;
}

#tabsOuterDiv{
	clear:both;
	background:#FFFFFF;
	padding-left:5px;
	float:left;
	width:590px;
}

#warrantyButtons .buttons{
	margin-right:10px;
}

#warrantyContent .warrantiesTable{
	table-layout:fixed;
}

#warrantyContent .warrantiesTable td{
	overflow:hidden;
	vertical-align:top;
}

.headerLinks{
	float: right;
	background-color: #EEEEEE;
	height: 35px;
	width: 270px;
	margin-right: -18px;
	border-radius: 10px 0 0 10px;
} 

.headerLinks .link{
	position: relative;
	top: 7px;
}

/*
styles for the accessories in add to cart pop up 
*/
.accessoriesContainer .productImageID,.AddItemsProductImage{
	width: 150px;
	height: 112px;
}
.accessoriesProductImage{
	width: 150px;
	height: 112px;
}

.accessoriesContainer .accessoryProductID{
	float: left;
}
.accessoriesContainer .accessoryProductID{
	width:150px;
	padding-right: 30px;
}
.addToCartTabsContainer .tab {
	border-top-right-radius:0px;
	border-top-left-radius:0px;
	margin-left: 10px !important;
}
.addToCartTabsContainer,.addToCartTabsContainer .accessoriesDesc{
	font-size: 12px;
}
.viewAllAccessoriesLink{
	display:none;
	padding: 10px;
}


/*
END styles for the accessories in add to cart pop up 
*/

#addToCartDialog #header{
	padding: 10px 10px 0px 10px;
}
#addToCartDialog .continueOrViewCart{
	background-color: #EEEEEE;
	border-top-right-radius:4px;
	border-top-left-radius:4px;
	border-bottom-right-radius:4px;
	border-bottom-left-radius:4px;
	
}

.ippLogo_addToCart{
	float: left !important;
	margin-top: -15px;
	margin-left: -15px;
}
/*Style for more prices drop down*/
.Deep_Drop_Icon
{
    background: url("../../ccms_img/customCatalogExpand.png")/*tpa=http://www.insight.com/insightweb/assets/en_US/ccms_img/customCatalogExpand.png*/;
     /* repeat scroll 0 0 transparent;    */
    float: left;
    margin: 1px;
}

.commonContractDropDown {
    position: absolute;
    width: 190px;
    border: 1px solid #B0B0B0;
    text-align: left;
    padding: 6px;
    font-size: 10px;
    background-color: #F6F6F6;
    display:none;  
    z-index:1010; 
    color:#666666;
}

#contractPricingDropDownContainer .contractPriceDesc{
	text-overflow: ellipsis;
	max-width:125px;
	min-width:125px;
	white-space: nowrap; 
	overflow: hidden;
	
}
#contractPricingDropDownContainer .contractDropDownOption:hover{
	background-color: #CCCCCC;
	color: #000000;
}
#contractPricingDropDownContainer .contractDropDownOption{
	line-height: 20px;
}
#oemWarrantyDetails .callForPrice{
	display: inline;
}
.itemSelectedBtn, .removeWarrBtn{
	display: none;
}
#addToCartDialog #loading{
	padding-top: 50px;
}

#oemWarrantyDetails 
{
	float: left;
	margin-top: 10px;
	margin-bottom: 15px;
	width: 100%;
}

.viewProductsSA{
	background-color: #EEEEEE;
    float: left;
    padding: 2px 16px;
    margin-right: 6px;
}
#slaTable{
	border-collapse: collapse;
	width: 100%;
}
.slTable{
	width: 100%;
}
.slTavleTd{
	padding: 0 2px !important;
}
#slaTable tr td{
	padding: 5px 2px;
	vertical-align: top;
}

#slaTable td.col1{
	width: 3%;
}
#slaTable td.col2{
	width: 34%;
}
#slaTable td.col3{
	width: 29%;
}
#slaTable .viewLevels{
	margin-right: 10px;
}
#slaTable tr {
	border: 1px solid rgb(236, 236, 236)
}
.licenseCenterResults{
	float:left; 
	padding: 10px; 
	width:940px;
}
.selectDropDown{
	position: absolute;
	z-index: 9999; 
	width: 100px; 
	padding: 10px; 
	margin-right: 42px; 
	background: none repeat scroll 0px 0px rgb(238, 238, 238); 
	font-size: 12px;	
}
#results h2 {
	border-bottom: 2px solid #EEEEEE;
	font-weight: bold;
}
.licBut {
	float: right;
	width:234px;
}
#softwareLicenseLinks {
	border-bottom:1px dotted #736F6E;
	overflow: auto;
	margin-left: 10px;
	width: 940px; 
}
.usagePeriod {
	margin-left: 8px;
}
#searchTemplate{
	margin-left:20px;
	padding-top:4px;
}
#prodInfoTemp{
	width:185px;
}
.rebateMessage{
 	color:#088A08;
	font-weight:bold;
}