/* --------------------------- global core | GENERAL --------------------------- */

html, #body, body
{
    color: #333;
    font-size: 12px;
    background: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 16px;
    background: #04162a url(../images/bg.jpg)/*tpa=http://www.buckeye.com/Portals/_default/Skins/BuckeyeMain/images/bg.jpg*/ no-repeat top center;
    margin: 0 auto;
}
h1
{
    font-weight: normal;
    font-size: 22px;
    color: #214c70;
}

h2
{
    font-weight: bold;
    font-size: 16px;
    color: #3896c2;
    padding-top: 5px;
    line-height: 20px;
}

h3
{
    font-weight: bold;
    font-size: 14px;
    color: #214c70;
    padding-top: 5px;
}


ul
{
    list-style-image: url('../images/bullet.gif')/*tpa=http://www.buckeye.com/Portals/_default/Skins/BuckeyeMain/images/bullet.gif*/;
}
li
{
    line-height: 19px;
}


a
{
    text-decoration: none;
    color: #00b3ad;
    -moz-outline: none;
    outline: none;
    font-size: 12px;
}
a:focus
{
    color: #00b3ad;
    outline: none;
    -moz-outline: none;
    outline: none;
}
a:hover
{
    color: #00b3ad;
    text-decoration: underline;
    -moz-outline: none;
    outline: none;
    cursor: pointer;
    cursor: hand;
}

a img
{
    border: none;
    -moz-outline: none;
    outline: none;
}
a:hover img
{
    border: none;
    -moz-outline: none;
    outline: none;
}
a:focus img
{
    outline: none;
    -moz-outline: none;
    outline: none;
}

:focus
{
    -moz-outline-style: none;
    outline: none;
}

a:active
{
    outline: none;
}

img
{
    border: none;
    -moz-outline: none;
    outline: none;
}
table, table tr, table tr td
{
    padding: 1px 0 0 0;
    margin: 0;
}

.clearall
{
    clear: both;
    height: 0;
    margin: 0;
    padding: 0;
}

/* --------------------------- framework --------------------------- */

#canvas
{
    width: 960px;
    margin: 0 auto 0 auto;
}

#container_top
{
    float: left;
    width: 960px;
    height: 23px;
    margin-top: 7px;
}

#top_banner
{
    float: left;
    width: 960px;
    height: 95px;
    display: block;
}

#container
{
    float: left;
    width: 960px;
    padding: 0px;
    margin: 6px 0;
    background-color: #fff;
}

#contentA
{
    float: left;
    width: 640px;
    float: right;
    padding: 0px 40px 25px 0;
    margin: 0;
    color: #333;
    text-align: left;
}
#contentAdmin
{
    float: left;
    width: 860px;
    float: right;
    padding: 0px 35px 25px 0;
    margin: 0;
    color: #333;
    text-align: left;
}



#contentB
{
    float: left;
    width: 680px;
    float: right;
    padding: 0px 0px 25px 0;
    margin: 0;
    color: #333;
    text-align: left;
    min-height: 800px;
}

#column_right
{
    width: 179px;
    float: right;
    text-align: left;
}

#column_left
{
    width: 480px;
    float: left;
}

#container_spanish
{
    float: left;
    width: 960px;
    display: block;
    padding: 0;
    margin: 0;
    background: #638c9f url(../images/bg_spanish_home.jpg)/*tpa=http://www.buckeye.com/Portals/_default/Skins/BuckeyeMain/images/bg_spanish_home.jpg*/ repeat-x top left;
}
#spanish_home_intro
{
    padding: 25px 30px;
    margin: 0;
    font-size: 14px;
    line-height: 24px;
    color: #234e6e;
}



/* NEWS */
#container_news
{
    float: left;
    width: 960px;
    height: 120px;
    display: block;
    padding: 0;
    margin: 0;
    background: #638c9f url(../images/bg_news.jpg)/*tpa=http://www.buckeye.com/Portals/_default/Skins/BuckeyeMain/images/bg_news.jpg*/ repeat-x top left;
}
#news_content
{
    padding: 10px 0;
    margin: 0;
    height: 100px;
    background: transparent url(../images/h_news.gif)/*tpa=http://www.buckeye.com/Portals/_default/Skins/BuckeyeMain/images/h_news.gif*/ no-repeat center left;
    width: 960px;
}

#news_content ul
{
    margin: 0;
    list-style: none;
    margin-left: 0;
    text-indent: 0;
    width: 930px;
    padding-left: 40px;
}

#news_content ul li
{
    float: left;
    display: inline;
    padding: 5px 10px;
    width: 210px;
    border-left: 1px solid #d9d9d9;
    color: #fff;
}
#news_content ul li a
{
    color: #214c70;
    font-size: 10px;
    text-decoration: none;
    background: transparent url(../images/icon_arrow.gif)/*tpa=http://www.buckeye.com/Portals/_default/Skins/BuckeyeMain/images/icon_arrow.gif*/ no-repeat top left;
    padding-left: 25px;
    display: block;
    margin-top: 10px;
}
#news_content ul li a:hover
{
    color: #ffffff;
    text-decoration: underline;
}
#news_content .date
{
    font-size: 11px;
}

#ticker
{
    margin-top: 10px;
}

#bizlinks
{
    float: left;
    margin: 0;
    height: 120px;
    width: 960px;
    color: #deb827;
    font-size: 12px;
    background-color: #fff;
}
#bizlinks
{
    text-transform: uppercase;
}
#bizlinks .boxlink
{
    padding: 10px 0 0 13px;
    color: #deb827;
    line-height: 33px;
}
#bizlinks a
{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
#bizlinks a:hover
{
    color: #deb827;
    text-decoration: none;
    font-weight: bold;
}

/*Footer Stuff*/
#footer
{
    clear: both;
    float: left;
    width: 930px;
    font-size: 10px;
    padding: 10px 15px;
    background-color: #d1ccb0;
    color: #234c5f;
}
#footer_left
{
    float: left;
    width: 250px;
    color: #234c5f;
    text-transform: uppercase;
}
#footer_left a
{
    color: #234c5f;
    text-decoration: none;
    font-size: 10px;
}
#footer_left a:hover
{
    color: #234c5f;
    text-decoration: underline;
}
#footer_right, #footer_right .Normal
{
    float: right;
    width: 650px;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    line-height: 15px;
    margin: 0px;
    color: #234c5f;
    font-weight: normal;
}

#footer_bottom
{
    clear: both; /* float: right;*/
    margin: 10px 0 25px 0;
    font-size: 10px;
    color: #214c70;
    margin-right: 15px;
    text-align: right;
}
/* --------------------------- navigations --------------------------- */
/* Main Navigation */
#top_nav
{
    float: left;
    width: 830px;
}

#top_nav ul
{
    float: left;
    margin: 0;
    display: inline;
    list-style: none;
    width: 830px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #FFF;
    text-transform: uppercase;
    margin-left: 0;
    padding-left: 0;
    text-indent: 0;
}
#top_nav ul li
{
    display: inline;
    font-weight: normal;
    text-transform: uppercase;
    padding: 0 3px 0 6px;
    background: transparent url(../images/nav_line.gif)/*tpa=http://www.buckeye.com/Portals/_default/Skins/BuckeyeMain/images/nav_line.gif*/ top left no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FFF;
}
#top_nav ul li a
{
    color: #FFF;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
}
#top_nav ul li a:hover
{
    color: #d1ccb0;
}

#top_nav .divider_top
{
    display: block;
    font-size: 10px;
    padding: 0px 5px 0px 8px;
    font: 9px Arial, Helvetica, sans-serif;
    color: #e2e2e2;
}

.section01 #top_nav ul li.nav01 a, .section02 #top_nav ul li.nav02 a, .section03 #top_nav ul li.nav03 a, .section04 #top_nav ul li.nav04 a
{
    color: #d1ccb0;
}

#top_search
{
    float: right;
    width: 130px;
    color: #fff;
}

#breadcrumb
{
    float: left;
    width: 830px;
    height: 20px;
    color: #214c70;
    font-size: 11px;
    font-weight: normal;
    padding: 5px 10px;
    line-height: 20px;
}
#breadcrumb a
{
    text-decoration: none;
    width: 830px;
    height: 20px;
    color: #214c70;
    font-size: 11px;
    font-weight: normal;
    line-height: 20px;
}
#breadcrumb a:hover
{
    color: #214c70;
    text-decoration: underline;
}

#callout
{
    text-align: center;
    margin: 15px 0;
}
/* Subnavigation */
#left
{
    width: 245px;
    margin: 0 0 35px 0;
    padding: 0;
    float: left;
    clear: left;
    height: 100%;
}

#quicklinks_info
{
    margin-top: 25px;
    width: 210px;
}
#quicklinks_info
{
    padding: 0px 10px;
    font-size: 12px;
}
#quicklinks_info ul
{
    float: left;
    margin: 0;
    display: inline;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    text-indent: 0;
}
#quicklinks_info ul li
{
    padding: 5px 0;
    list-style-type: none;
}
#quicklinks_info ul li a
{
    color: #214c70;
    text-decoration: none;
    font-weight: bold;
}
#quicklinks_info ul li a:hover
{
    color: #214c70;
    text-decoration: underline;
    font-weight: bold;
}

.quicklinks_h
{
    font-weight: normal;
    font-size: 18px;
    color: #3896c2;
    line-height: 28px;
}


.sch01 #subnav ul li.sch01 a, .sch02 #subnav ul li.sch02 a, .sch03 #subnav ul li.sch03 a, .sch04 #subnav ul li.sch04 a, .sch05 #subnav ul li.sch05 a, .sch06 #subnav ul li.sch06 a, .sch07 #subnav ul li.sch07 a, .sch08 #subnav ul li.sch08 a, .sch09 #subnav ul li.sch09 a
{
    color: #00b3ad;
}

/* --------------------------- text style hierarchy --------------------------- */

h1
{
    font-weight: normal;
    font-size: 22px;
    color: #214c70;
}

/* Headerpicture */

.section_home
{
    background: transparent url(Unknown_83_filename)/*tpa=http://www.buckeye.com/Portals/_default/Skins/BuckeyeMain/images/top_banners/home.jpg*/ top right no-repeat;
}
.section01
{
    background: transparent url(Unknown_83_filename)/*tpa=http://www.buckeye.com/Portals/_default/Skins/BuckeyeMain/images/top_banners/section01.jpg*/ top right no-repeat;
}
.section02
{
    background: transparent url(Unknown_83_filename)/*tpa=http://www.buckeye.com/Portals/_default/Skins/BuckeyeMain/images/top_banners/section02.jpg*/ top right no-repeat;
}
.section03
{
    background: transparent url(Unknown_83_filename)/*tpa=http://www.buckeye.com/Portals/_default/Skins/BuckeyeMain/images/top_banners/sectionr03.jpg*/ top right no-repeat;
}
.section04
{
    background: transparent url(Unknown_83_filename)/*tpa=http://www.buckeye.com/Portals/_default/Skins/BuckeyeMain/images/top_banners/section04.jpg*/ top right no-repeat;
}

.section_home img, .section01 img, .section02 img, .section03 img, .section04 img
{
    z-index: 1000;
}

.location
{
    font-size: 12px;
    color: #666;
}


/* Homepage Slideshow */
#slideshow
{
    width: 960px;
    height: 255px;
    overflow: hidden;
    background-color: #638c9f;
}

/* form elements */
.NormalTextBox
{
    font-size: 10px;
    background-color: #96b1be;
    border: 0px;
    color: #000;
    width: 90px;
    padding: 2px;
}
.searchField
{
    font-size: 10px;
    background-color: #96b1be;
    border: 0px;
    color: #000;
    width: 90px;
    padding: 2px;
}

input.formtxt
{
    font-size: 10px;
    background-color: #96b1be;
    border: 0px;
    color: #fff;
}

textarea.formtxt
{
    font-size: 10px;
    background-color: #E6E6E6;
    border: 1px solid #666666;
}
select.formtxt
{
    font-size: 10px;
    background-color: #E6E6E6;
    border: 1px solid #666666;
}

.Normal
{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}
.SkinObject
{
    padding: 9px 7px 0 0;
    font-size: 10px;
    color: #214c70;
    font-family: Arial, Helvetica, sans-serif;
}

/****************************************************************/
/************ VMENU START ***************************************/


/* begin Box, Block, VMenuBlock */

#art-vmenu-body
{
    position: relative !important;
    background-color: transparent;
    border: 0 none;
    width: 245px;
}

.art-vmenublock
{
    position: relative !important;
    background-color: transparent;
    border: 0 none;
    width: 245px;
}

/* end Box, Block, VMenuBlock */

/* begin BlockHeader, VMenuBlockHeader */
.art-vmenublockheader
{
    position: relative;
    z-index: 0;
    height: 32px;
    margin-bottom: 0;
}

.art-vmenublockheader .t
{
    height: 32px;
    color: #000000;
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    margin: 0;
    padding: 0 10px 0 28px;
    white-space: nowrap;
    line-height: 32px;
}

.art-vmenublockheader .l, .art-vmenublockheader .r
{
    display: block;
    position: absolute;
    z-index: -1;
    height: 32px;
    background-image: url('Unknown_83_filename')/*tpa=http://www.buckeye.com/Portals/_default/Skins/BuckeyeMain/css/images/vmenublockheader.png*/;
}

.art-vmenublockheader .l
{
    left: 0;
    right: 22px;
}

.art-vmenublockheader .r
{
    width: 894px;
    right: 0;
    clip: rect(auto, auto, auto, 872px);
}

/* end BlockHeader, VMenuBlockHeader */

/* begin Box, Box, VMenuBlockContent */
.art-vmenublockcontent
{
    position: relative;
    z-index: 0;
    margin: 0 auto;
    min-width: 1px;
    min-height: 1px;
}

.art-vmenublockcontent-body
{
    position: relative;
    z-index: 1;
    padding: 0;
}


.art-vmenublockcontent
{
    position: relative;
    z-index: 0;
    margin: 0 auto;
    min-width: 1px;
    min-height: 1px;
}

.art-vmenublockcontent-body
{
    position: relative;
    z-index: 1;
    padding: 0;
}


/* end Box, Box, VMenuBlockContent */

/* begin VMenu */
ul.art-vmenu
{
    margin: 0;
}

ul.art-vmenu ul
{
    display: none;
}

ul.art-vmenu ul.active
{
    display: block;
}

ul.art-vmenu li, ul.art-vmenu li ul, ul.art-vmenu li ul, ul.art-vmenu li ul li
{
    list-style-image: url('../qmimages/symbol_3.gif')/*tpa=http://www.buckeye.com/Portals/_default/Skins/BuckeyeMain/qmimages/symbol_3.gif*/;
}

/* end VMenu */

/* begin VMenuItem */
ul.art-vmenu a
{
    position: relative;
    display: block;
    overflow: hidden;
    height: 30px;
    cursor: pointer;
    text-decoration: none;
}

ul.art-vmenu li.art-vmenu-separator
{
    display: block;
    padding: 0 0 0 0;
    margin: 0;
    font-size: 1px;
}

ul.art-vmenu .art-vmenu-separator-span
{
    display: block;
    padding: 0;
    font-size: 1px;
    height: 0;
    line-height: 0;
    border-bottom: solid 1px #ffffff;
}

ul.art-vmenu a .r, ul.art-vmenu a .l
{
    position: absolute;
    display: block;
    top: 0;
    z-index: -1;
    height: 90px;
    background-image: url('Unknown_83_filename')/*tpa=http://www.buckeye.com/Portals/_default/Skins/BuckeyeMain/css/images/vmenuitem.png*/;
}

ul.art-vmenu a .l
{
    left: 0;
    right: 17px;
}

ul.art-vmenu a .r
{
    width: 900px;
    right: 0;
    clip: rect(auto, auto, auto, 883px);
}

ul.art-vmenu a .t
{
    display: block;
    color: #FFFFFF;
    font: bold 12px Arial,Verdana,Helvetica,sans-serif;
    margin-bottom: 3px;
    padding: 5px 5px 5px 8px;
    text-decoration: none;
    background-color: #214C70;
    text-transform: uppercase;
}

ul.art-vmenu a.active .l, ul.art-vmenu a.active .r
{
    top: -60px;
}

ul.art-vmenu a.active .t
{
    color: #ffffff;
    background-color: #214C70;
    border: 0 none;
    text-decoration: none;
}


ul.art-vmenu a:hover .l, ul.art-vmenu a:hover .r
{
    top: -30px;
}

ul.art-vmenu a:hover .t
{
    color: #ffffff;
    background-color: #0f2c45;
}
/* end VMenuItem */

/* begin VMenuSubItem */
ul.art-vmenu ul, ul.art-vmenu ul li
{
    margin: 0;
    padding: 0;
}

ul.art-vmenu ul a
{
    float: none !important;
    position: static !important;
    white-space: normal !important;
    margin-bottom: 3px;
    text-decoration: none;
}

ul.art-vmenu ul li
{
    padding: 0;
}

ul.art-vmenu ul span, ul.art-vmenu ul span span
{
    display: inline;
    float: none;
    margin: inherit;
    padding: inherit;
    background-image: none;
    text-align: inherit;
    text-decoration: inherit;
}

ul.art-vmenu ul a, ul.art-vmenu ul a:link, ul.art-vmenu ul a:visited, ul.art-vmenu ul a:hover, ul.art-vmenu ul a:active, ul.art-vmenu ul span, ul.art-vmenu ul span span
{
    background-color: transparent;
    background-image: none;
    border-bottom: 1px solid #FFFFFF;
    color: #214C70;
    font: bold 11px Arial,Verdana,Helvetica,sans-serif;
    padding: 3px 5px 3px 15px;
}

ul.art-vmenu ul
{
    margin: 0 0 0 0;
}

ul.art-vmenu ul ul
{
    margin: 0 0 0 0;
}

ul.art-vmenu ul li.art-vsubmenu-separator
{
    display: block;
    margin: 0;
    font-size: 1px;
    padding: 0 0 0 0;
}

ul.art-vmenu ul .art-vsubmenu-separator-span
{
    display: block;
    padding: 0;
    font-size: 1px;
    height: 0;
    line-height: 0;
    margin: 0;
    border: none;
}

ul.art-vmenu ul li li a
{
    background-position: 50px 0;
    padding-left: 50px;
}

ul.art-vmenu ul li li li a
{
    background-position: 75px 0;
    padding-left: 75px;
}

ul.art-vmenu ul li li li li a
{
    background-position: 100px 0;
    padding-left: 100px;
}

ul.art-vmenu ul li li li li li a
{
    background-position: 125px 0;
    padding-left: 125px;
}


ul.art-vmenu ul li a.active
{
    background-color: transparent;
    background-image: none;
    border-bottom: 1px solid #FFFFFF;
    color: #214C70;
    font: bold 11px Arial,Verdana,Helvetica,sans-serif;
    padding: 3px 5px 3px 15px;
}

ul.art-vmenu ul li li a.active
{
    background-color: #FFFFFF;
    font-weight: normal;
    margin-left: -15px;
    padding: 2px 0 2px 15px;
}

ul.art-vmenu ul li li li a.active
{
}

ul.art-vmenu ul li li li li a.active
{
}

ul.art-vmenu ul li li li li li a.active
{
}



ul.art-vmenu ul li a:hover, ul.art-vmenu ul li a:hover.active
{
    background-color: #96b1be;
    color: #ffffff;
    text-decoration: none;
}


ul.art-vmenu ul li li a:hover, ul.art-vmenu ul li li a:hover.active
{
    background-position: 50px -20px;
}

ul.art-vmenu ul li li li a:hover, ul.art-vmenu ul li li li a:hover.active
{
    background-position: 75px -20px;
}

ul.art-vmenu ul li li li li a:hover, ul.art-vmenu ul li li li li a:hover.active
{
    background-position: 100px -20px;
}

ul.art-vmenu ul li li li li li a:hover, ul.art-vmenu ul li li li li li a:hover.active
{
    background-position: 125px -20px;
}
/* end VMenuSubItem */

/* begin Menu */
.art-menu ul li, .art-menu ul li li, .art-menu ul li li li
{
    list-style-type: none;
    background-color: #D3DBDF;
}
/* end Menu */

/* begin BlockHeader, VMenuBlockHeader */
.art-vmenublockheader .t .Head
{
    height: 32px;
    color: #000000;
    font-family: Arial,Verdana,Helvetica,sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    white-space: nowrap;
    padding: 0;
    line-height: 32px;
    margin: 0;
}
/* end BlockHeader, VMenuBlockHeader */

/* begin VMenu */
ul.art-vmenu, ul.art-vmenu li
{
    list-style: none;
    margin: 0;
    padding: 0;
    width: auto;
    line-height: 0;
}

ul.art-vmenu ul
{
    display: none;
}

ul.art-vmenu ul.active
{
    border-bottom-width: 0 !important;
    border-top-width: 0 !important;
    left: 0 !important;
    margin-left: 0 !important;
    margin-top: 0 !important;
    overflow: hidden !important;
    top: 0 !important;
    width: auto !important;
    background-color: #D3DBDF;
    margin-bottom: 5px;
    padding: 0;
}
/* end VMenu */


/****************************************************************/
/************ VMENU end ***************************************/
/****************************************************************/
#contentAdmin .NormalTextBox
{
    background-color: #ffffff;
    border: 1px solid #C0C0C0;
    color: #000000;
    font-size: 11px;
    padding: 0px;
    font-family: Arial,Helvetica,sans-serif;
}
.quoteSkin
{
    background-color: #eeeeee;
    color: #313167;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.quoteSymbol
{
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
}
.quoteQuote
{
    font-size: 16px;
    font-weight: bold;
}
.quoteTime
{
    color: #bcbcbc;
    font-size: 11px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

table .LinksDesignTable
{
    padding: 5px 0;
    border-bottom: 1px dotted #666;
    width: 550px;
}

#bizlinks table tr td .boxlink
{
    padding: 8px 0 0 10px;
    color: #deb827;
    line-height: 33px;
}

#quicklinks_info ul
{
    float: left;
    margin: 0;
    display: inline;
    list-style-image: none;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    text-indent: 0;
}

#news_content ul
{
    margin: 0;
    list-style: none;
    margin-left: 0;
    text-indent: 0;
    width: 930px;
    padding-left: 40px;
}
#news_content ul li
{
    float: left;
    display: inline;
    padding: 0px 10px;
    width: 210px;
    border-left: 1px solid #d9d9d9;
    color: #fff;
    line-height: 15px;
}
#news_content ul li a
{
    color: #214c70;
    font-size: 10px;
    text-decoration: none;
    background: transparent url(../images/icon_arrow.gif)/*tpa=http://www.buckeye.com/Portals/_default/Skins/BuckeyeMain/images/icon_arrow.gif*/ no-repeat top left;
    padding-left: 25px;
    display: block;
    margin-top: 7px;
}
#news_content ul li a:hover
{
    color: #ffffff;
    text-decoration: underline;
}
#news_content .date
{
    font-size: 11px;
}

/* ---- new --- */
#news_content ul li p
{
    margin: 0px;
    padding: 0px;
}


#oList
{
    font: italic 18px Georgia, Times, serif;
    color: #999;
    line-height: 24px;
}
#oList a
{
    font: normal 14px Arial, Helvetica, sans-serif;
    color: #003366;
    border-left: solid 1px #999;
    margin: 0;
    padding: 0 0 1.2em 1em;
    line-height: 33px;
}
.PagingTable
{
    border: 0 none;
}
.tablestyle
{
    width: 100%;
}
.Head
{
    color: #3896C2;
    font-size: 16px;
    font-weight: bold;
}
#dataTableTitle
{
    padding-bottom: 10px;
    padding-top: 5px;
}
ol li { display:list-item; list-style:decimal; }