#zoomer {margin-top:-6px;}

#controls a {
	cursor:pointer;
	background:none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/_img/control.png',sizingMethod='image');
}
#controls .active a {
	background:none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/_img/control-h.png',sizingMethod='image');
}



