.box {padding:0;}
.box .rc {padding:10px;}
.rounded {position:relative;zoom:1;border:0px none}
.rounded .tl,.rounded .tr,.rounded .bl,.rounded .br {
	position:absolute;
	width:5px;
	height:5px;
	line-height:5px;
	background:url(../../_img/icons.png)/*tpa=http://www.baxter.com/_img/icons.png*/ no-repeat -10px -14px;
	background-color:#fff;
	overflow:hidden;
}
.rounded .tl {top:0px;left:0px;}
.rounded .tr {top:0px;right:0px;background-position:-15px -14px;}
.rounded .bl {bottom:0px;left:0px;background-position:-10px -19px;}
.rounded .br {bottom:0px;right:0px;background-position:-15px -19px;}
.rounded .rt {width:100%;position:absolute;top:0;border-top:1px solid #aaa09b;}
.rounded .rb {width:100%;position:absolute;bottom:0;border-bottom:1px solid #aaa09b;}
.rounded .rc {border-left:1px solid #aaa09b;border-right:1px solid #aaa09b;}

#aside .rounded .tl {display:none;}

.box_featured .tl {background-position:0px -14px}
.box_featured .tr {background-position:-5px -14px;}
.box_featured .bl {background-position:0px -19px;}
.box_featured .br {background-position:-5px -19px;}
.box_featured .rt {border-color:#7f6f68;}
.box_featured .rb {border-color:#7f6f68;}
.box_featured .rc {border-color:#7f6f68;}

.box_focus .rt, .box_focus .rc, .box_focus .rb {background-color:#ebebeb;border:none #900 !important;}
.box_focus .rc {zoom:1;}
.box_focus .tl {background-position:-50px -14px}
.box_focus .tr {background-position:-55px -14px;}
.box_focus .bl {background-position:-50px -19px;}
.box_focus .br {background-position:-55px -19px;}
#aside .box_focus .tl {display:block;}


.nav_internal a {display:inline-block;}

