/*

a.logo
{
	behavior: url(http://www.NewellRubbermaid.com/includes/iepngfix/iepngfix.htc);
}
*/
*
{
	outline: none;
}



.red
{
	padding: 0px 0px 0px 0px;
	font: 12px Arial, Helvetica, sans-serif;
	color: Red;
}


html, body, div, span, h1, h2, h3, table, fieldset, form, label
{
	margin: 0;
	padding: 0;
	border: 0 none;
	font-weight: normal;
	font-style: normal;
	font-size: 100%;
	line-height: 1;
	font-family: inherit;
	text-align: left;
}
img, button, form
{
	display: block;
	border: none;
	outline: none;
}
/*label{ float:left; font:12px Arial, Helvetica, sans-serif;}*/

body
{
	color: #666666;	
}
.heading
{
	padding: 0px 0px 0px 0px;
	font: 16px Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin: 0px 0px 0px 0px;
	display: block;
	border: none;
	outline: none;
}
.buttonFinal
{
	height: 25px;
	width: 123px;
	border: none;
	margin: 0;
	padding: 0;
	float: right;
	padding-right: 30px;
	background: url(../../SiteCollectionImages/btnFinalSubmit.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/btnFinalSubmit.gif*/ no-repeat;
	cursor: pointer;
}
.buttonFinalFr
{
	height: 25px;
	width: 157px;
	border: none;
	margin: 0;
	padding: 0;
	float: right;
	padding-right: 30px;
	background: url(../../SiteCollectionImages/btnFinalSubmitFr.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/btnFinalSubmitFr.gif*/ no-repeat;
	cursor: pointer;
}
.buttonFinalGr
{
	height: 25px;
	width: 157px;
	border: none;
	margin: 0;
	padding: 0;
	float: right;
	padding-right: 30px;
	background: url(../../SiteCollectionImages/btnFinalSubmitGr.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/btnFinalSubmitGr.gif*/ no-repeat;
	cursor: pointer;
}
.buttonFinalEs
{
	height: 25px;
	width: 157px;
	border: none;
	margin: 0;
	padding: 0;
	float: right;
	padding-right: 30px;
	background: url(../../SiteCollectionImages/btnFinalSubmitEs.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/btnFinalSubmitEs.gif*/ no-repeat;
	cursor: pointer;
}
.buttonBack1
{
	height: 25px;
	width: 86px;
	border: none;
	cursor: pointer;
	padding: 0;
	float: left;
}
.buttonBack2
{
	height: 25px;
	width: 86px;
	border: none;
	cursor: hand;
	padding: 0px;
	float: left;
	margin: 0px;
	_margin: 0px;
}
.buttonBack3
{
	height: 25px;
	width: 120px;
	border: none;
	cursor: hand;
	padding: 0px;
	float: left;
	margin: 0px 0px 10px 15px;
	_margin: 0px 0px 10px 15px;
}
.buttonFeedbackSend
{
	height: 25px;
	width: 86px;
	border: none;
	background: url(../../SiteCollectionImages/btnSend.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/btnSend.gif*/ no-repeat;
	cursor: hand;
}
.buttonRequestTechnology
{
	height: 25px;
	width: 157px;
	border: none;
	background: url(../../SiteCollectionImages/btnRequestTechnology.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/btnRequestTechnology.gif*/ no-repeat;
 	cursor: pointer;
}
.buttonRequestTechnologyFr
{
	height: 25px;
	width: 188px;
	border: none;
	background: url(../../SiteCollectionImages/btnRequestTechnologyFr.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/btnRequestTechnologyFr.gif*/ no-repeat;
 	cursor: pointer;
}
.buttonRequestTechnologyGr
{
	height: 25px;
	width: 188px;
	border: none;
	background: url(../../SiteCollectionImages/btnRequestTechnologyGr.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/btnRequestTechnologyGr.gif*/ no-repeat;
 	cursor: pointer;
}
.buttonRequestTechnologyEs
{
	height: 25px;
	width: 188px;
	border: none;
	background: url(../../SiteCollectionImages/btnRequestTechnologyEs.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/btnRequestTechnologyEs.gif*/ no-repeat;
 	cursor: pointer;
}
.buttonGo
{
	height: 25px;
	width: 72px;
	border: none;
	background: url(../../SiteCollectionImages/btnGo.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/btnGo.gif*/ no-repeat;
 	cursor: pointer;
}
.buttonGoEs
{
	height: 25px;
	width: 121px;
	border: none;
	background: url(../../SiteCollectionImages/btnGoEs.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/btnGoEs.gif*/ no-repeat;
 	cursor: pointer;
}
.buttonGoFr
{
	height: 25px;
	width: 121px;
	border: none;
	background: url(../../SiteCollectionImages/btnGoFr.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/btnGoFr.gif*/ no-repeat;
 	cursor: pointer;
}
.buttonGoGr
{
	height: 25px;
	width: 121px;
	border: none;
	background: url(../../SiteCollectionImages/btnGoGr.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/btnGoGr.gif*/ no-repeat;
 	cursor: pointer;
}
.buttonSubmit
{
	height: 25px;
	width: 66px;
	border: none;
	background: url(../../SiteCollectionImages/btnSubmit.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/btnSubmit.gif*/ no-repeat;
	cursor: hand;
}
.buttonAccept
{
	height: 25px;
	width: 86px;
	border: none;
	background: url(../../SiteCollectionImages/btnAccept.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/btnAccept.gif*/ no-repeat;
	cursor: pointer;
}
.buttonDecline
{
	height: 25px;
	width: 86px;
	border: none;
	background: url(../../SiteCollectionImages/btnDecline.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/btnDecline.gif*/ no-repeat;
	cursor: pointer;
}
.buttonFeedbackResetForm
{
	height: 25px;
	width: 120px;
	border: none;
	background: url(../../SiteCollectionImages/btnResetForm.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/btnResetForm.gif*/ no-repeat;
	cursor: hand;
}
.buttonNext
{
	height: 25px;
	width: 103px;
	border: none;
	background: url(../../SiteCollectionImages/btnNext.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/btnNext.gif*/ no-repeat;
	cursor: pointer;
	float:right;	
}
.buttonNextFr
{
	height: 25px;
	width: 123px;
	border: none;
	background: url(../../SiteCollectionImages/btnNextFr.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/btnNextFr.gif*/ no-repeat;
	cursor: pointer;
	float:right;	
}
.buttonNextGr
{
	height: 25px;
	width: 123px;
	border: none;
	background: url(../../SiteCollectionImages/btnNextGr.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/btnNextGr.gif*/ no-repeat;
	cursor: pointer;
	float:right;	
}
.buttonNextEs
{
	height: 25px;
	width: 123px;
	border: none;
	background: url(../../SiteCollectionImages/btnNextEs.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/btnNextEs.gif*/ no-repeat;
	cursor: pointer;
	float:right;	
}
.buttonPrevious
{
	height: 25px;
	width: 123px;
	border: none;
	background: url(../../SiteCollectionImages/btnPrevious.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/btnPrevious.gif*/ no-repeat;
	cursor: pointer;
	float:left;
}
.buttonPreviousFr
{
	height: 25px;
	width: 123px;
	border: none;
	background: url(../../SiteCollectionImages/btnPreviousFr.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/btnPreviousFr.gif*/ no-repeat;
	cursor: pointer;
	float:left;
}
.buttonPreviousGr
{
	height: 25px;
	width: 123px;
	border: none;
	background: url(../../SiteCollectionImages/btnPreviousGr.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/btnPreviousGr.gif*/ no-repeat;
	cursor: pointer;
	float:left;
}
.buttonPreviousEs
{
	height: 25px;
	width: 123px;
	border: none;
	background: url(../../SiteCollectionImages/btnPreviousEs.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/btnPreviousEs.gif*/ no-repeat;
	cursor: pointer;
	float:left;
}
.buttonRecommendSolution
{
	height: 25px;
	width: 157px;
	border: none;
	background: url(../../SiteCollectionImages/btnRecommendSolution.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/btnRecommendSolution.gif*/ no-repeat;
	cursor: pointer;
	float:left;
}
.buttonRecommendSolutionFr
{
	height: 25px;
	width: 188px;
	border: none;
	background: url(../../SiteCollectionImages/btnRecommendSolutionFr.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/btnRecommendSolutionFr.gif*/ no-repeat;
	cursor: pointer;
	float:left;
}
.buttonRecommendSolutionGr
{
	height: 25px;
	width: 188px;
	border: none;
	background: url(../../SiteCollectionImages/btnRecommendSolutionGr.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/btnRecommendSolutionGr.gif*/ no-repeat;
	cursor: pointer;
	float:left;
}
.buttonRecommendSolutionEs
{
	height: 25px;
	width: 188px;
	border: none;
	background: url(../../SiteCollectionImages/btnRecommendSolutionEs.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/btnRecommendSolutionEs.gif*/ no-repeat;
	cursor: pointer;
	float:left;
}
.clear
{
	clear: both;
}

.link a
{
	color: #006699;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.link a:hover
{
	text-decoration: underline;
}

.link1 a
{
	color: #006699;
	text-decoration: underline;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.link1 a:hover
{
	text-decoration: none;
}

#s4-bodyContainer {
	width:100% !important;
}

#mainContainter
{
	/* background: url(/SiteCollectionImages/bg.gif) 0 0 repeat-x; */
	margin: 0;
	width: 100%;
}
#mainContainter #container
{
	margin: 0 auto;
	width: 970px;
}

#container .header
{
	width: 970px;
}
#container .header .bg
{
	/* background: url(/SiteCollectionImages/headerBg_middle.gif) 0 0 repeat-x; */
	height: 86px;
}
#container .header .bg .left
{
/*	background: url(/SiteCollectionImages/headerBg_left.gif) 0 0 no-repeat; */
	width: 8px;
	height: 86px;
	float: left;
}
#container .header .bg .right
{
	/* background: url(/SiteCollectionImages/headerBg_right.gif) 0 0 no-repeat; */
	width: 8px;
	height: 86px;
	float: right;
}
.bg .logo
{
	width: 184px;
	height: 39px;
	display: block;
	float: left;
	background: url(../../SiteCollectionImages/logo.png)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/logo.png*/ no-repeat;
	position: relative;
	top: 25px;
	left: 27px;
}
.bg .stockQuote
{
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #848484;
	position: relative;
	top: 17px;
	right: 35px;
}
.bg .stockQuote .stockValue
{
	color: #4b266c;
	font-weight: bold;
}

.search
{
	background: url(Unknown_83_filename)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/searchBg.gif*/ 0 0 repeat-x;
	height: 29px;
	float: right;
	width: 267px;
}
.search .bgLeft
{
	background: url(Unknown_83_filename)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/searchBg_left.gif*/ 0 0 no-repeat;
	display: block;
	float: left;
	width: 11px;
	height: 29px;
}
.search .bgRight
{
	background: url(../../SiteCollectionImages/searchBg_right.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/searchBg_right.gif*/ 0 0 no-repeat;
	display: block;
	float: right;
	width: 32px;
	height: 29px;
	 
}
.header .bg form
{
	float: right;
	width: 267px;
	height: 29px;
	padding: 0;
	margin: 0;
	position: relative;
	top: 33px;
	left: 162px;
	background: url(  '../../SiteCollectionImages/searchBg1.gif' )/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/searchBg1.gif*/ 0 0 no-repeat;
}
.header .bg label
{
	float: left;
	text-indent: -1000em;
	width: 0px;
}
.header .bg input
{
	float: right;
	width: 215px;
	margin: 0;
	background: transparent;
	border: none;
	color: #000000;
	height: 23px;
	padding: 5px 0 0 0;
	_padding-top: 0px;
	_line-height: 28px;
}
header .bg input#address
{
	margin-right: 3px;
}
.header .bg input#searchSignup
{
	display: block;
	float: right;
	width: 32px;
	height: 29px;
	background: transparent url(     '../../SiteCollectionImages/searchBg_right.gif' )/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/searchBg_right.gif*/ no-repeat center top;
	overflow: hidden;
	cursor: pointer;
}

.switchNav div.sublist div.sublist2
{
	/*DIV that contains each sub menu*/
	margin: 0;
	padding: 0;
	margin-left: 20px;
}



/* Top Navigation 
#topNav{ font-family:Arial, Helvetica, sans-serif; 
	 font-size:16px; 
	 position:relative; 
	 top:5px; 
	 padding:0 0 0 17px;
	 }

#topNav ul{
	list-style-type:none;
	margin:0; padding:0;
}
#topNav ul li{
	list-style:none;
	padding:12px;
	display: inline;
	background:url(/SiteCollectionImages/navDivider.gif) right 0 no-repeat;
	padding-top:7px;
}

#topNav ul li a{
	padding:0;
	text-decoration:none;
	color:#666666;
}
#topNav ul li a:hover{
	text-decoration:none;
	color:#993333;
}
#topNav ul li a.active{
	text-decoration:none;
	color:#993333;
}
*/

#mainContainter #container .contentWrapper .mainContent
{
	margin: 22px 32px 0 25px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	text-align:justify;
}



#mainContainter #container .contentWrapper{
 width: auto;
 /*margin-top:27px;*/
}

#mainContainter #container .contentWrapper .banner
{
	float: left;
	width: 679px;
	height: 406px;
}

#mainContainter #container .contentWrapper .banner h1
{
	margin: 0px 0 5px 27px;
	background: url(../../SiteCollectionImages/title_featureBrand.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/title_featureBrand.gif*/ no-repeat;
	width: 139px;
	height: 17px;
}

/* Inner Page */
#mainContainter #container .contentWrapper .colL
{
	width: 228px;
	float: left;
	/*margin-left: 11px;*/
	_margin-left: 6px; /*background:url(/SiteCollectionImages/spacer.gif) 0 0 no-repeat; height:610px;*/
}

#mainContainter #container .contentWrapper .colL .leftnav
{
	width: auto;
	float: left;
	/*margin-top: 21px;*/
	_margin-top: 20px;
}
#mainContainter #container .contentWrapper .colL .leftnav .divBg
{
	/* background: url(/SiteCollectionImages/bg_leftNavHeading.gif) 0 0 no-repeat; */
	width: 228px;
	height: 24px;

	border-left-style: solid; 
	border-left-color: #BFD630; 
	border-left-width: 5px; 

}
#mainContainter #container .contentWrapper .colL .leftnav .divBg h1
{
	font: bold 14px Arial, Helvetica, sans-serif;
	color: black;
	padding: 3px 3px 0px 3px;
}
#mainContainter #container .contentWrapper .colL .leftnav .divBg h1 a
{
	font: bold 14px Arial, Helvetica, sans-serif;
	color: black;
	padding: 7px 3px 0 4px;
	text-decoration: none;
}
/* Investor Relations */

#mainContainter #container .contentWrapper .colL .leftnav form
{
	float: left;
	width: 219px;
	height: 29px;
	padding: 0;
	margin: 0;
	position: relative;
	top: 0px;
	left: 0px;
	background: url(     '../../SiteCollectionImages/enterTextBg.gif' )/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/enterTextBg.gif*/;
}
#mainContainter #container .contentWrapper .colL .leftnav label
{
	float: left;
	text-indent: -1000em;
}
#mainContainter #container .contentWrapper .colL .leftnav input
{
	float: right;
	width: 174px;
	margin: 0;
	background: transparent;
	border: none;
	color: #000000;
	height: 23px;
	padding: 5px 0 0 0;
	_padding-top: 0px;
	_line-height: 28px;
}
#mainContainter #container .contentWrapper .colL .leftnav input#address
{
	margin-right: 3px;
}
#mainContainter #container .contentWrapper .colL .leftnav input#searchSignup
{
	display: block;
	float: right;
	width: 32px;
	height: 29px;
	background: transparent url(     '../../SiteCollectionImages/searchBg_right.gif' )/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/searchBg_right.gif*/ no-repeat center top;
	overflow: hidden;
	cursor: pointer;
}
.divRadioBtn
{
	margin: 7px 0 0px 17px;
	padding-bottom: 20px;
	font: 12px Arial, Helvetica, sans-serif;
}

.divRadioBtn .clear
{
	clear: right;
	height: 6px;
	_margin-top: -6px;
}

/* Start Left Navigation Menu */

/*.switchNav{
	margin: 2px 0 12px 45px;
	padding: 0;
	width: 180px;
}

.switchNav a{
	color: #707070;
	text-decoration:none;
	
}

.switchNav a.listitem{
	font: bold 12px Arial, Helvetica, sans-serif; 
	display: block;
	width: auto;
	padding: 0;
	text-decoration: none;
	color: #707070;
	line-height:22px;
}

.switchNav a.listitem:current, .listitem:active { color: #006699; }

.switchNav div.sublist{ 
	margin:0; padding:0;
}

.switchNav div.sublist ul{ 
	list-style-type: none;
	margin: 0; padding: 0;
}

.switchNav div.sublist ul li{
	margin:0; padding:1px;
}

.switchNav div.sublist ul li a{
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #707070; text-decoration: none;
	padding: 2px 0 4px 10px; *padding-top: 1px;
	display: block;
}
.switchNav div.sublist ul li a:hover{ color: #006699; }

.switchNav div.sublist ul li a:current{ color: #006699; }

.switchNav div.sublist ul li a:active{ color: #006699; }


.switchNav div.sublist div.sublist2{ 
	margin:0; padding:0;
	margin-left:20px;
}

.switchNav div.sublist ul div.sublist2 ul{ 
	list-style-type: none;
	margin: 0; padding: 0;
}

.switchNav div.sublist ul li div.sublist2 ul li{
	
	margin:0; padding:1px;
}

.switchNav div.sublist ul li a div.sublist2 ul li a{
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #707070; text-decoration: none;
	padding: 2px 0 4px 10px; *padding-top: 1px;
	display: block;
}
.switchNav div.sublist ul li a:hover div.sublist2 ul li a:hover{ color: #006699; }

.switchNav div.sublist ul li a:current div.sublist2 ul li a:current{ color: #006699; }

.switchNav div.sublist ul li a:active div.sublist2 ul li a:active{ color: #006699; }*/
/* End Sublist 2 05/03/09 */

.switchNav
{
	margin: 2px 0 12px 45px;
	padding: 0;
	width: 180px; /*width of menu*/
}

.switchNav a
{
	color: #707070;
	text-decoration: none;
}

.switchNav a.listitem
{
	font: bold 12px Arial, Helvetica, sans-serif;
	display: block;
	width: auto;
	padding: 0;
	text-decoration: none;
	color: #707070;
	line-height: 22px;
}

.switchNav a.listitem:current, .listitem:active
{
	color: #A03033;
}

.switchNav div.sublist
{
	/*DIV that contains each sub menu*/
	margin: 0;
	padding: 0;
}

.switchNav div.sublist ul
{
	/*UL of each sub menu*/
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.switchNav div.sublist ul li
{
	/*border-bottom: 1px solid blue;*/
	margin: 0;
	padding: 1px;
}

.switchNav div.sublist ul li a
{
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #707070;
	text-decoration: none;
	padding: 2px 0 4px 10px; *padding-top:1px;
display:block;
}
.switchNav div.sublist ul li a:hover
{
	color: #A03033;
}

.switchNav div.sublist ul li a:current
{
	color: #A03033;
}

.switchNav div.sublist ul li a:active
{
	color: #A03033;
}




.switchNav div.sublist div.sublist2
{
	/*DIV that contains each sub menu*/
	margin: 0;
	padding: 0;
	margin-left: 20px;
}

.switchNav div.sublist ul div.sublist2 ul
{
	/*UL of each sub menu*/
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.switchNav div.sublist ul li div.sublist2 ul li
{
	/*border-bottom: 1px solid blue;*/
	margin: 0;
	padding: 1px;
}

.switchNav div.sublist ul li a div.sublist2 ul li a
{
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #707070;
	text-decoration: none;
	padding: 2px 0 4px 10px; *padding-top:1px;
display:block;
}
.switchNav div.sublist ul li a:hover div.sublist2 ul li a:hover
{
	color: #A03033;
}

.switchNav div.sublist ul li a:current div.sublist2 ul li a:current
{
	color: #A03033;
}

.switchNav div.sublist ul li a:active div.sublist2 ul li a:active
{
	color: #A03033;
}

/* End Left Navigation Menu */
.NewNav
{
	font: normal 12px Arial, Helvetica, sans-serif;
	/* display: block; */
	width: auto;
	padding: 0;
	text-decoration: none;
	color: #707070;
	line-height: 18px;
}

.NewNav a
{
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #006699;
	text-decoration: none;
	padding: 2px 0 4px 0px; *padding-top:1px;
	display:block;
}
.NewNav a:hover
{
	color: #006699;
}

.NewNav a:current
{
	color: #006699;
}

.NewNav a:active, .NewNav a:visited
{
	color: #006699;
}

.NewNav ul
{
	/*UL of each sub menu*/
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.NewNav ul li
{
	/*border-bottom: 1px solid blue;*/
	margin: 0;
	padding-bottom: 10px;
}

.NewNav ul li a:link
{
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #006699;
	text-decoration: none;
	padding: 0px 0 0px 0px; *padding-top:0px;
	display:block;
}
.NewNav ul li a:hover
{
	color: #006699;
	text-decoration: underline !important;	
}
/*
.NewNav ul li a:current
{
	color: #A03033;
	text-decoration: none;	
}
*/
.NewNav ul li a:active, .NewNav ul li a:visited
{
	color: #006699;
	text-decoration: none;	
}


/* Start Left Navigation Menu */

.switchNav1
{
	margin: 0px 0 0 10px;
	_margin-top: 7px;
	padding: 0;
	width: 180px;
	font: bold 12px Arial, Helvetica, sans-serif;
	text-decoration: none;
	line-height: 16px;
	text-shadow: #000000 0px 0px 0px;
}

.switchNav1 ul
{
	margin: 0px;
	padding: 0;
	list-style: none;
}

.switchNav1 ul li
{
	margin: 0;
	padding: 0;
	padding-top: 5px;
}


.switchNav1 ul li a, .switchNav1 ul li a:visited
{
	color: #707070;
	text-decoration: none;
	padding: 2px 0 0px 10px;
	display: block;
	margin: 0;
}
.switchNav1 ul li a.active
{
	color: #00AEEF;
	text-decoration: none;
	padding: 2px 0 0px 10px;
	display: block;
	margin: 0;
}

.switchNav1 ul li a.itemlist:hover
{
	color: #00AEEF;
}

.switchNav1 ul li a.itemlist:current, a.itemlist:active
{
	color: #006699;
}

.switchNav1 ul li .sublist
{
	margin: 0;
	padding: 0 0 0 10px;
	display: none;
	width: 180px;
	line-height: 12px;
}

.switchNav1 ul li .sublist ul
{
	list-style-type: none;
	margin: 0px 0 0 10px;
	padding: 0;
	
}

.switchNav1 ul li .sublist ul li
{
	margin: 0;
	padding: 1px;
	padding-top:5px;
}

.switchNav1 ul li .sublist ul li a, .switchNav1 ul li .sublist ul li a:visited
{
	color: #707070;
	text-decoration: none;
	padding: 2px 0 0px 0px;
	display: block;
	line-height: 12px;
	
}
.switchNav1 ul li .sublist ul li a:hover
{
	color: #006699;
}
.switchNav1 ul li .sublist ul li a:current, a:active
{
	color: #006699;
}

.switchNav1 ul li .sublist ul li a.active
{
	color: #006699;
	font-weight: bold;
	text-decoration: none;
}

/* End Left Navigation Menu */

#mainContainter #container .contentWrapper .colR
{
	width: 720px;/*652px;*/
	float: right;
	margin-right:0px;/* 35px;*/
	_margin-right: 17px;
	font: 12px Arial, Helvetica, sans-serif;
}
#mainContainter #container .contentWrapper .colR .clearfix
{
	padding-top: 1px; *padding-top:0px;
}

#mainContainter #container .contentWrapper .colR .title
{
	margin: 0;
	padding: 3px 0 5px 0;
}

#mainContainter #container .contentWrapper .colR h1
{
	font-size: 14px;
	font-weight: bold;
	color: black;
	padding: 0;
	padding-bottom: 14px;
}
#mainContainter #container .contentWrapper .colR .grayh1
{
	font-size: 14px;
	font-weight: bold;
	color: #666666;
	margin: 0px 0px 14px 0px;
}

#mainContainter #container .contentWrapper .colR h2
{
	font-size: 13px;
	font-weight: bold;
	color: black;
}

#mainContainter #container .contentWrapper .colR h3
{
	font-size: 12px;
	font-weight: bold;
	color: black;
}

#mainContainter #container .contentWrapper .colR .img
{
	width: 720px;
	height: 194px;
}

#mainContainter #container .contentWrapper .colR .textDiv
{
	width: 720px;
}

#mainContainter #container .contentWrapper .colR p
{
	margin: 0;
	padding: 0;
	text-align: justify;
	line-height: 17px;
	padding-bottom: 14px;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

#mainContainter #container .contentWrapper .colR .mainContent
{
	margin: 12px 0 0 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
}

#mainContainter #container .contentWrapper .colR .mainContent img
{
	
	margin: 15px 0 15px 0;
}


/* Start 14/03/09 */

#mainContainter #container .contentWrapper .colR a
{
	color: #006699;
	text-decoration: underline;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
}

#mainContainter #container .contentWrapper .colR a:hover
{
	color: #006699;
	text-decoration: none;
}

/* End 14/03/09 */


#mainContainter #container .contentWrapper .colR .mainContent p
{
	margin: 0;
	padding: 0;
	text-align: justify;
	line-height: 17px;
	padding-bottom: 14px;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

#mainContainter #container .contentWrapper .colR .mainContent div
{
	margin: 0;
	padding: 0;
	text-align: justify;
	line-height: 17px;
	padding-bottom: 0px;
}

#mainContainter #container .contentWrapper .colR .mainContent a, #mainContainter #container .contentWrapper .mainContent a
{
	color: #006699;
	text-decoration: underline;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#mainContainter #container .contentWrapper .colR .mainContent a:hover
{
	color: #006699;
	text-decoration: none;
}

/*#mainContainter #container .contentWrapper .colR .mainContent .pcontent{
	margin:0; padding:16px 0;
	text-align:justify;
	line-height:17px;
}*/


#mainContainter #container .contentWrapper .colR .mainContent ul
{
	margin: 0;
	padding: 0px 0 4px 29px; /* left text spacing */
	list-style-type: none;
}
#mainContainter #container .contentWrapper .colR .mainContent ul .dfwp-column .dfwp-list
{
	margin: 0;
	padding: 0px 0 4px 0px; /* left text spacing */
	list-style-type: none;
}

#mainContainter #container .contentWrapper .colR .mainContent li
{
	background: url(../../SiteCollectionImages/bullet.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/bullet.gif*/ 0 7px no-repeat;
	padding-left: 10px; /* spacing between bullet & text */
	padding-bottom: 10px;
	line-height: 17px;
	text-align: justify;
}
#mainContainter #container .contentWrapper .colR .mainContent .spacer
{
	padding-top: 28px;
}

#mainContainter #container .contentWrapper .colR .spacer
{
	padding-top: 28px;
}

/* Categories Page */
#mainContainter #container .contentWrapper .colR .brandBlock
{
	border-top: #CCCCCC 1px solid;
	height: 130px;
}
#mainContainter #container .contentWrapper .colR .brandBlock .tag
{
	font: 12px Arial, Helvetica, sans-serif;
	margin-top: 7px;
	float: left;
	color:#000;
	font-weight:bold;
}

#mainContainter #container .contentWrapper .colR .brandBlock .logo
{
	float: left;


	margin:28px 30px 0 75px; _margin:28px 48px 0 28px;
	/* margin: 8px 10px 0 25px;_margin: 8px 18px 0 10px;*/
}
/* End Categories Page */

/* Careers Page */
#mainContainter #container .contentWrapper .colR .mainContent .leftContent
{
	float: left;
	width: 230px;
}
#mainContainter #container .contentWrapper .colR .mainContent .leftContent form
{
	float: left;
	width: 230px;
	height: 29px;
	padding: 0;
	margin: 0;
	position: relative;
	top: 44px;
	left: 0px;
	background: url(     'Unknown_83_filename' )/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/selectRegionBg.gif*/;
}
#mainContainter #container .contentWrapper .colR .mainContent .leftContent label
{
	float: left;
	text-indent: -1000em;
}
#mainContainter #container .contentWrapper .colR .mainContent .leftContent input
{
	float: right;
	width: 170px;
	margin-top: 0;
	margin-right: 5px;
	background: transparent;
	border: none;
	color: #000000;
	height: 23px;
	padding: 6px 0 0 0;
	_padding-top: 0px;
	_line-height: 28px;
}
#mainContainter #container .contentWrapper .colR .mainContent .leftContent input#address
{
	margin-right: 3px;
}
#mainContainter #container .contentWrapper .colR .mainContent .leftContent input#searchSignup
{
	display: block;
	float: right;
	width: 32px;
	height: 29px;
	background: transparent url(     '../../SiteCollectionImages/searchBg_right.gif' )/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/searchBg_right.gif*/ no-repeat center top;
	overflow: hidden;
	cursor: pointer;
	margin: 0px;
	padding: 0px;
}
/* End Careers Page */

/* News Page */
#mainContainter #container .contentWrapper .colR .prodBlock
{
	border-top: #CCCCCC 1px solid;
	height: 165px;
	font-size: 12px;
}
#mainContainter #container .contentWrapper .colR .prodBlock .prodimg
{
	margin-top: 13px;
	float: left;
}
#mainContainter #container .contentWrapper .colR .prodBlock .logo
{
	float: left;
	width: 365px;
	margin: 6px 0 0 26px;
	line-height: 15px;
	font: 12px Arial, Helvetica, sans-serif;
}
/* End News Page */

/* Inclusion & Diversity */

#mainContainter #container .contentWrapper .colR .inclBlock_WtLogo
{
	margin-top: 10px;
	border-top: #CCCCCC 1px solid; /*height:165px;*/
	font-size: 12px;
	clear: both;
}

#mainContainter #container .contentWrapper .colR .inclBlock_WtLogo .prodimg_WtLogo
{
	margin-top: 10px;
	float: left;
	margin-bottom: 10px; |margin-bottom:0;
}

#mainContainter #container .contentWrapper .colR .inclBlock_WtLogo .text_WtLogo
{
	float: left;
	margin: 13px 0 0 15px;
	line-height: 17px;
	width: 515px;
	text-shadow: #000000 0px 0px 0px;
}

/* End Inclusion & Diversity */

/* Home News */
#mainContainter #container .contentWrapper .news
{
	float: right;
	width: 266px;
	font-size: 12px;
	line-height: 16px;
}

#mainContainter #container .contentWrapper .news h1
{
	background: url(../../SiteCollectionImages/title_latestNews.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/title_latestNews.gif*/ no-repeat;
	width: 110px;
	height: 17px;
}

#mainContainter #container .contentWrapper .news .heading
{
	float: left;
	margin-top: 15px;
	font: 16px Arial, Helvetica, sans-serif;
	font-weight: bold;
}
#mainContainter #container .contentWrapper .news .readmore
{
	float: right;
	margin: 10px 8px 0 0;
	_margin-right: 5px;
}
#mainContainter #container .contentWrapper .news .readmore a
{
	color: #666666;
	font: 11px Arial, Helvetica, sans-serif;
	text-decoration: none;
}
#mainContainter #container .contentWrapper .news .readmore a:hover
{
	text-decoration: underline;
}
#mainContainter #container .contentWrapper .news .hr
{
	border-bottom: #808080 1px solid;
	margin: 7px 0 6px 0;
}

#mainContainter #container .contentWrapper .content
{
	padding-top: 40px;
	font: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

#mainContainter #container .contentWrapper .content h1
{
	background: url(../../SiteCollectionImages/heading_ourBrands.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/heading_ourBrands.gif*/ no-repeat;
	width: 101px;
	height: 18px;
	padding-bottom: 9px;
}
/* End Home News */

/* Brand Logo */
#mainContainter #container .contentWrapper .content .brandLogo
{
	margin-top: 17px;
}

/* #mainContainter #container .contentWrapper .content .brandLogo h5 */
#mainContainter #container .contentWrapper .content .brandLogo
{
	font-size: 12px;
	font-weight: bold;
	margin: 0;
	background: url(../../SiteCollectionImages/arrow.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/arrow.gif*/ 300px 3px no-repeat;
	font: Arial, Helvetica, sans-serif;
	color:#666666;
}
#mainContainter #container .contentWrapper .content .brandLogo .logo1
{
	margin: 30px 67px 0 0;
	float: left;
}
#mainContainter #container .contentWrapper .content .brandLogo .logo2
{
	float: left;
	margin: 30px 62px 0 0;
}
#mainContainter #container .contentWrapper .content .brandLogo .logo3
{
	float: left;
	margin: 30px 70px 0 0;
}
#mainContainter #container .contentWrapper .content .brandLogo .logo4
{
	float: left;
	margin: 30px 75px 0 0;
}
#mainContainter #container .contentWrapper .content .brandLogo .logo5
{
	float: left;
	margin: 30px 72px 0 0;
}
#mainContainter #container .contentWrapper .content .brandLogo .logo6
{
	float: left;
	margin: 30px 69px 0 0;
}
#mainContainter #container .contentWrapper .content .brandLogo .logo7
{
	float: left;
	margin: 30px 0px 0 0;
}
#mainContainter #container .contentWrapper .content .brandLogo .logo8
{
	margin: 30px 67px 0 0;
	float: left;
}
#mainContainter #container .contentWrapper .content .brandLogo .logo9
{
	float: left;
	margin: 30px 62px 0 0;
}
#mainContainter #container .contentWrapper .content .brandLogo .logo10
{
	float: left;
	margin: 30px 70px 0 0;
}
#mainContainter #container .contentWrapper .content .brandLogo .logo11
{
	float: left;
	margin: 30px 75px 0 0;
}
#mainContainter #container .contentWrapper .content .brandLogo .logo12
{
	float: left;
	margin: 30px 72px 0 0;
}
#mainContainter #container .contentWrapper .content .brandLogo .logo13
{
	float: left;
	margin: 30px 69px 0 0;
}
#mainContainter #container .contentWrapper .content .brandLogo .logo14
{
	float: left;
	margin: 30px 0px 0 0;
}
/* End Brand Logo */

/* Footer */
.footer
{
	background: url(../../SiteCollectionImages/GGP-Color-Bar-970px.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/GGP-Color-Bar-970px.gif*/ left top repeat-x; 
	width:100%;
	text-align:right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	float: right;
	margin-top: 0px; /* |margin-top:26px; */
	padding-bottom:30px;
	padding-top:25px;
	/*margin-right: 0px !important;*/
}
.footer a, .footer a:visited
{
	color: #666666;
	text-decoration: underline;
	padding-left: 7px;
}
.footer a:hover
{
	text-decoration: none;
}
.footer a:current
{
	color: #666666;
	text-decoration: underline;
}
/* End Footer */

.footer a:active
{
	color: #666666;
	text-decoration: underline;
}

/* Login */
.loginBgLt
{
	background: url(Unknown_83_filename)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/login/leftbg.gif*/ 0 0 no-repeat;
}
.loginBgRt
{
	background: url(Unknown_83_filename)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/login/bg.gif*/ 0 0 repeat-x;
	border-right: 1px solid #E3E3E3;
	font: 12px Arial, Helvetica, sans-serif;
	color: #666666;
}
.loginBgRt .logo1
{
	width: 184px;
	height: 39px;
	display: block;
	float: left;
	background: url(../../SiteCollectionImages/logo.png)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/logo.png*/ no-repeat;
	position: relative;
	top: 25px;
	left: 27px;
}

.loginBgRt .textBox
{
	background: url(Unknown_83_filename)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/login/textBox_bg.gif*/ 0 0 repeat-x;
}
.loginBgRt .textBox input
{
	background: transparent;
	border: none;
	color: #000000;
	width: 148px;
	height: 19px;
	margin-left: 2px;
	_margin-top: 1px;
}

/* Careers New */

#mainContainter #container .contentWrapper .colL .bg
{
	margin: 10px 0px;
	_margin: -10px 0px;
	padding: 0px;
	width: 210px;
	background: #FFFFFF;
}
#mainContainter #container .contentWrapper .colL .bg .top
{
	height: 9px;
	_height: 0px;
	background: url(../../SiteCollectionImages/cornerRt.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/cornerRt.gif*/ right bottom no-repeat;
}
#mainContainter #container .contentWrapper .colL .bg .top span
{
	background: #ffffff url(../../SiteCollectionImages/cornerLt.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/cornerLt.gif*/ 0 bottom no-repeat;
	width: 9px;
	height: 9px;
	display: block;
}
#mainContainter #container .contentWrapper .colL .bg .bottom
{
	padding: 0;
	height: 9px;
	background: url(../../SiteCollectionImages/cornerBtmRt.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/cornerBtmRt.gif*/ right top no-repeat;
}
#mainContainter #container .contentWrapper .colL .bg .bottom span
{
	background: #ffffff url(../../SiteCollectionImages/cornerBtmLt.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/cornerBtmLt.gif*/ 0 top no-repeat;
	width: 9px;
	height: 9px;
	display: block;
}

/*#mainContainter #container .contentWrapper .colL .bg .contentContainer { background: url(/SiteCollectionImages/bg_bdrRt.gif) right 0 repeat-y;}*/
#mainContainter #container .contentWrapper .colL .bg .main
{
	background: url(../../SiteCollectionImages/bg_bdr.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/bg_bdr.gif*/ left 0 repeat-y;
}
#mainContainter #container .contentWrapper .colL .bg h1
{
	font: 14px Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: black;
	padding: 0 10px 0 10px;
}
#mainContainter #container .contentWrapper .colL .bg h2
{
	font: 12px Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: black;
}
#mainContainter #container .contentWrapper .colL .bg .contentInner
{
	padding: 0;
	padding-left: 12px;
	padding-right: 12px;
	font: 12px Arial, Helvetica, sans-serif;
	color: black;
}

/* Start Left Navigation Menu */

#mainContainter #container .contentWrapper .colL .bg .contentInner .switchNav
{
	margin: 2px 0 0px 0px;
	padding: 0;
	width: 194px; /*width of menu*/
	padding-top: 13px;
}
#mainContainter #container .contentWrapper .colL .bg .contentInner .switchNav a
{
	color: #707070;
	text-decoration: none;
}
#mainContainter #container .contentWrapper .colL .bg .contentInner .switchNav a.listitem
{
	font: bold 12px Arial, Helvetica, sans-serif;
	display: block;
	width: auto;
	padding: 0;
	text-decoration: none;
	color: #707070;
	line-height: 22px;
}
#mainContainter #container .contentWrapper .colL .bg .contentInner .switchNav a.listitem:current, .listitem:active
{
	color: #006699;
}
#mainContainter #container .contentWrapper .colL .bg .contentInner .switchNav div.sublist
{
	/*DIV that contains each sub menu*/
	margin: 0;
	padding: 0;
}
#mainContainter #container .contentWrapper .colL .bg .contentInner .switchNav div.sublist ul
{
	/*UL of each sub menu*/
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#mainContainter #container .contentWrapper .colL .bg .contentInner .switchNav div.sublist ul li
{
	margin: 0;
	padding: 1px;
}
#mainContainter #container .contentWrapper .colL .bg .contentInner .switchNav div.sublist ul li a
{
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #707070;
	text-decoration: none;
	padding: 2px 0 4px 10px; *padding-top:1px;
display:block;
}
#mainContainter #container .contentWrapper .colL .bg .contentInner .switchNav div.sublist ul li a:hover
{
	color: #006699;
}
#mainContainter #container .contentWrapper .colL .bg .contentInner .switchNav div.sublist ul li a:current
{
	color: #006699;
}
#mainContainter #container .contentWrapper .colL .bg .contentInner .switchNav div.sublist ul li a:active
{
	color: #006699;
}

#mainContainter #container .contentWrapper .colL .bg .contentInner form
{
	float: left;
	width: 194px;
	height: 29px;
	padding: 0;
	margin: 0;
	position: relative;
	top: 10px;
	left: -2px;
	background: url(     '../../SiteCollectionImages/enterRegionBg.gif' )/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/enterRegionBg.gif*/;
}
#mainContainter #container .contentWrapper .colL .bg .contentInner label
{
	float: left;
	text-indent: -1000em;
}
#mainContainter #container .contentWrapper .colL .bg .contentInner input
{
	float: right;
	width: 149px;
	margin: 0;
	background: transparent;
	border: none;
	color: #000000;
	height: 23px;
	padding: 5px 0 0 0;
	_padding-top: 0px;
	_line-height: 28px;
}
#mainContainter #container .contentWrapper .colL .bg .contentInner input#address
{
	margin-right: 3px;
}
#mainContainter #container .contentWrapper .colL .bg .contentInner input#searchSignup
{
	display: block;
	float: right;
	width: 32px;
	height: 29px;
	background: transparent url(     '../../SiteCollectionImages/searchBg_right.gif' )/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/searchBg_right.gif*/ no-repeat center top;
	overflow: hidden;
	cursor: pointer;
}
#mainContainter #container .contentWrapper .colL .bg .contentInner ul.list
{
	margin: 0;
	_margin-top: -10px;
	padding: 0;
}
#mainContainter #container .contentWrapper .colL .bg .contentInner ul.list li
{
	list-style-type: none;
	line-height: 20px;
}
#mainContainter #container .contentWrapper .colL .bg .contentInner ul.list li a
{
	text-decoration: none;
	color: #707070;
}
#mainContainter #container .contentWrapper .colL .bg .contentInner ul.list li a:hover
{
	color: #006699;
}
#mainContainter #container .contentWrapper .colL .bg .contentInner ul.list li a:current
{
	color: #006699;
}
#mainContainter #container .contentWrapper .colL .bg .contentInner ul.list li a:active
{
	color: #006699;
}
/* End Left Navigation Menu */

/* End Careers New */

/* Start Students 05/03/09 */
/* Search for Jobs */
#mainContainter #container .contentWrapper .colL .searchJobsBg
{
	margin: 30px 0px 0 0;
	padding: 0px;
	width: 230px;
	background: #FFFFFF;
}
#mainContainter #container .contentWrapper .colL .searchJobsBg .top
{
	height: 35px;
	_height: 0px;
	background: url(../../SiteCollectionImages/cornerRtBlue.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/cornerRtBlue.gif*/ right bottom no-repeat;
}
#mainContainter #container .contentWrapper .colL .searchJobsBg .top span
{
	background: #ffffff url(../../SiteCollectionImages/cornerLtBlue.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/cornerLtBlue.gif*/ 0 bottom no-repeat;
	width: 8px;
	height: 35px;
	display: block;
}
#mainContainter #container .contentWrapper .colL .searchJobsBg .bottom
{
	padding: 0;
	height: 8px;
	background: url(../../SiteCollectionImages/cornerBtmRtBlue.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/cornerBtmRtBlue.gif*/ right top no-repeat;
}
#mainContainter #container .contentWrapper .colL .searchJobsBg .bottom span
{
	background: #ffffff url(../../SiteCollectionImages/cornerBtmLtBlue.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/cornerBtmLtBlue.gif*/ 0 top no-repeat;
	width: 8px;
	height: 8px;
	display: block;
}
#mainContainter #container .contentWrapper .colL .searchJobsBg .main
{
	background: url(../../SiteCollectionImages/bg_bdrBlue.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/bg_bdrBlue.gif*/ left 0 repeat-y;
}
#mainContainter #container .contentWrapper .colL .searchJobsBg .main .contentInner
{
	padding: 0;
	margin-left: 40px;
	padding-top: 18px;
	font: 12px Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #707070;
}
#mainContainter #container .contentWrapper .colL .searchJobsBg .main .contentInner a
{
	color: #707070;
	text-decoration: none;
}
#mainContainter #container .contentWrapper .colL .searchJobsBg .main .contentInner a:hover
{
	color: #006699;
	text-decoration: none;
}
/* Start Left Navigation Menu */
#mainContainter #container .contentWrapper .colL .searchJobsBg .contentInner .switchNav
{
	margin: 3px 0 0px 0px;
	padding: 0;
	width: 180px;
	padding-bottom: 30px;
}
#mainContainter #container .contentWrapper .colL .searchJobsBg .contentInner .switchNav a
{
	color: #707070;
	text-decoration: none;
}
#mainContainter #container .contentWrapper .colL .searchJobsBg .contentInner .switchNav a.listitem
{
	font: bold 12px Arial, Helvetica, sans-serif;
	display: block;
	width: auto;
	padding: 0;
	text-decoration: none;
	color: #707070;
	line-height: 22px;
}
#mainContainter #container .contentWrapper .colL .searchJobsBg .contentInner .switchNav a.listitem:current, .listitem:active
{
	color: #006699;
}
#mainContainter #container .contentWrapper .colL .searchJobsBg .contentInner .switchNav div.sublist
{
	margin: 0;
	padding: 0;
}
#mainContainter #container .contentWrapper .colL .searchJobsBg .contentInner .switchNav div.sublist ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#mainContainter #container .contentWrapper .colL .searchJobsBg .contentInner .switchNav div.sublist ul li
{
	margin: 0;
	padding: 1px;
}
#mainContainter #container .contentWrapper .colL .searchJobsBg .contentInner .switchNav div.sublist ul li a
{
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #707070;
	text-decoration: none;
	padding: 2px 0 4px 25px; *padding-top:1px;display:block;}
#mainContainter #container .contentWrapper .colL .searchJobsBg .contentInner .switchNav div.sublist ul li a:hover
{
	color: #006699;
}
#mainContainter #container .contentWrapper .colL .searchJobsBg .contentInner .switchNav div.sublist ul li a:current
{
	color: #006699;
}
#mainContainter #container .contentWrapper .colL .searchJobsBg .contentInner .switchNav div.sublist ul li a:active
{
	color: #006699;
}

#mainContainter #container .contentWrapper .colL .searchJobsBg .contentInner ul.list
{
	margin: 0;
	margin-top: -3px;
	padding: 0;
}
#mainContainter #container .contentWrapper .colL .searchJobsBg .contentInner ul.list li
{
	list-style-type: none;
	line-height: 20px;
}
#mainContainter #container .contentWrapper .colL .searchJobsBg .contentInner ul.list li a
{
	text-decoration: none;
	color: #707070;
}
#mainContainter #container .contentWrapper .colL .searchJobsBg .contentInner ul.list li a:hover
{
	color: #006699;
}
#mainContainter #container .contentWrapper .colL .searchJobsBg .contentInner ul.list li a:current
{
	color: #006699;
}
#mainContainter #container .contentWrapper .colL .searchJobsBg .contentInner ul.list li a.active
{
	color: #006699;
}
/* End Left Navigation Menu */
/* End Search for jobs */

/* Working at Newell Rubbermaid */
#mainContainter #container .contentWrapper .colL .workNewllBg
{
	margin: 19px 0px;
	_margin: 9px 0 19px 0px;
	padding: 0px;
	width: 230px;
	background: #FFFFFF;
}
#mainContainter #container .contentWrapper .colL .workNewllBg .top
{
	height: 35px;
	_height: 0px;
	background: url(../../SiteCollectionImages/cornerRtBlue2.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/cornerRtBlue2.gif*/ right bottom no-repeat;
}
#mainContainter #container .contentWrapper .colL .workNewllBg .top span
{
	background: #ffffff url(../../SiteCollectionImages/cornerLtBlue2.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/cornerLtBlue2.gif*/ 0 bottom no-repeat;
	width: 8px;
	height: 35px;
	display: block;
}
#mainContainter #container .contentWrapper .colL .workNewllBg .bottom
{
	padding: 0;
	height: 8px;
	background: url(../../SiteCollectionImages/cornerBtmRtBlue.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/cornerBtmRtBlue.gif*/ right top no-repeat;
}
#mainContainter #container .contentWrapper .colL .workNewllBg .bottom span
{
	background: #ffffff url(../../SiteCollectionImages/cornerBtmLtBlue.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/cornerBtmLtBlue.gif*/ 0 top no-repeat;
	width: 8px;
	height: 8px;
	display: block;
}
#mainContainter #container .contentWrapper .colL .workNewllBg .main
{
	background: url(../../SiteCollectionImages/bg_bdrBlue.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/bg_bdrBlue.gif*/ left 0 repeat-y;
}
#mainContainter #container .contentWrapper .colL .workNewllBg .main .contentInner
{
	padding: 0;
	margin-left: 40px;
	padding-top: 18px;
	font: 12px Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #707070;
}
#mainContainter #container .contentWrapper .colL .workNewllBg .contentInner ul.list
{
	margin: 0;
	margin-top: -3px;
	padding: 0;
}
#mainContainter #container .contentWrapper .colL .workNewllBg .contentInner ul.list li
{
	list-style-type: none;
	line-height: 20px;
}
#mainContainter #container .contentWrapper .colL .workNewllBg .contentInner ul.list li a
{
	text-decoration: none;
	color: #707070;
}
#mainContainter #container .contentWrapper .colL .workNewllBg .contentInner ul.list li a:hover
{
	color: #006699;
}
#mainContainter #container .contentWrapper .colL .workNewllBg .contentInner ul.list li a:current
{
	color: #006699;
}
#mainContainter #container .contentWrapper .colL .workNewllBg .contentInner ul.list li a.active
{
	color: #006699;
}
/* End Working at Newell Rubbermaid */

/* Who We Are */
#mainContainter #container .contentWrapper .colL .whoWeBg
{
	margin: 10px 0px;
	_margin: -10px 0px;
	padding: 0px;
	width: 230px;
	background: #FFFFFF;
}
#mainContainter #container .contentWrapper .colL .whoWeBg .top
{
	height: 35px;
	_height: 0px;
	background: url(../../SiteCollectionImages/cornerRtBlue3.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/cornerRtBlue3.gif*/ right bottom no-repeat;
}
#mainContainter #container .contentWrapper .colL .whoWeBg .top span
{
	background: #ffffff url(../../SiteCollectionImages/cornerLtBlue3.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/cornerLtBlue3.gif*/ 0 bottom no-repeat;
	width: 8px;
	height: 35px;
	display: block;
}
#mainContainter #container .contentWrapper .colL .whoWeBg .bottom
{
	padding: 0;
	height: 8px;
	background: url(../../SiteCollectionImages/cornerBtmRtBlue.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/cornerBtmRtBlue.gif*/ right top no-repeat;
}
#mainContainter #container .contentWrapper .colL .whoWeBg .bottom span
{
	background: #ffffff url(../../SiteCollectionImages/cornerBtmLtBlue.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/cornerBtmLtBlue.gif*/ 0 top no-repeat;
	width: 8px;
	height: 8px;
	display: block;
}
#mainContainter #container .contentWrapper .colL .whoWeBg .main
{
	background: url(../../SiteCollectionImages/bg_bdrBlue.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/bg_bdrBlue.gif*/ left 0 repeat-y;
}
#mainContainter #container .contentWrapper .colL .whoWeBg .main .contentInner
{
	padding: 0;
	margin-left: 40px;
	padding-top: 18px;
	font: 12px Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #707070;
}
#mainContainter #container .contentWrapper .colL .whoWeBg .contentInner ul.list
{
	margin: 0;
	margin-top: -3px;
	padding: 0;
}
#mainContainter #container .contentWrapper .colL .whoWeBg .contentInner ul.list li
{
	list-style-type: none;
	line-height: 20px;
}
#mainContainter #container .contentWrapper .colL .whoWeBg .contentInner ul.list li a
{
	text-decoration: none;
	color: #707070;
}
#mainContainter #container .contentWrapper .colL .whoWeBg .contentInner ul.list li a:hover
{
	color: #006699;
}
#mainContainter #container .contentWrapper .colL .whoWeBg .contentInner ul.list li a:current
{
	color: #006699;
}
#mainContainter #container .contentWrapper .colL .whoWeBg .contentInner ul.list li a:active
{
	color: #006699;
}
/* End Who We Are */

/* Brand Logo */
#mainContainter #container .contentWrapper .brandLogo
{
	margin-top: 20px;
}
#mainContainter #container .contentWrapper .brandLogo .logo1
{
	margin: 30px 67px 0 0;
	float: left;
}
#mainContainter #container .contentWrapper .brandLogo .logo2
{
	float: left;
	margin: 30px 62px 0 0;
}
#mainContainter #container .contentWrapper .brandLogo .logo3
{
	float: left;
	margin: 30px 70px 0 0;
}
#mainContainter #container .contentWrapper .brandLogo .logo4
{
	float: left;
	margin: 30px 75px 0 0;
}
#mainContainter #container .contentWrapper .brandLogo .logo5
{
	float: left;
	margin: 30px 72px 0 0;
}
#mainContainter #container .contentWrapper .brandLogo .logo6
{
	float: left;
	margin: 30px 69px 0 0;
}
#mainContainter #container .contentWrapper .brandLogo .logo7
{
	float: left;
	margin: 30px 0px 0 0;
}
#mainContainter #container .contentWrapper .brandLogo .logo8
{
	float: left;
	margin: 30px 67px 0 0; |margin:1px67px00;}
#mainContainter #container .contentWrapper .brandLogo .logo9
{
	float: left;
	margin: 30px 62px 0 0; |margin:1px62px00;}
#mainContainter #container .contentWrapper .brandLogo .logo10
{
	float: left;
	margin: 30px 70px 0 0; |margin:1px70px00;}
#mainContainter #container .contentWrapper .brandLogo .logo11
{
	float: left;
	margin: 30px 75px 0 0; |margin:1px75px00;}
#mainContainter #container .contentWrapper .brandLogo .logo12
{
	float: left;
	margin: 30px 72px 0 0; |margin:1px72px00;}
#mainContainter #container .contentWrapper .brandLogo .logo13
{
	float: left;
	margin: 30px 69px 0 0; |margin:1px69px00;}
#mainContainter #container .contentWrapper .brandLogo .logo14
{
	float: left;
	margin: 30px 0px 0 0; |margin:1px0px00;}
/* End Brand Logo */



/* Start Students 14/03/09 */

#mainContainter #container .contentWrapper .colR .imgCol1
{
	width: 311px;
	float: left;
	text-align: left;
}
#mainContainter #container .contentWrapper .colR .imgCol1 img
{
	
	margin: 10px 0 10px 0;
}
#mainContainter #container .contentWrapper .colR .imgCol2
{
	width: 311px;
	float: right;
	text-align: left;
}
#mainContainter #container .contentWrapper .colR .imgCol2 img
{
	
	margin: 10px 0 10px 0;
}
#mainContainter #container .contentWrapper .colR .spacer1
{
	padding-top: 28px; |padding-top:13px;_padding-top:28px;}
#mainContainter #container .contentWrapper .colR .mainContent .clear
{
	clear: both;
	padding: 0;
}

/* End Students 14/03/09 */



#mainContainter #container .contentWrapper .colR .mainContent .imgCol1
{
	width: 325px;
	float: left;
	margin-top: 15px;
	padding: 0;
	text-align: left;
}
#mainContainter #container .contentWrapper .colR .mainContent .imgCol2
{
	width: 320px;
	float: right;
	margin: 15px 0px 0 5px;
	_margin: 15px 25px 0 5px;
	text-align: left;
	padding: 0;
}
#mainContainter #container .contentWrapper .colR .mainContent .clear
{
	clear: both;
	padding: 0;
}
/* End Students 05/03/09 */

/* Logo Hover */
.logoHover
{
	width: 212px;
	height: 135px;
	display: none;
	position: absolute;
	font: 12px Arial, Helvetica, sans-serif;
	padding: 0px;
	margin-left: -25px;
	margin-top: -145px;
}
.logoHover a
{
	color: #006699;
	text-decoration: underline;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.logoHover a:hover
{
	text-decoration: none;
}


/* -------------- Pankaj Bajaj ---- 31/03/2009 */

.logoHover1
{
	width: 212px;
	height: 135px;
	display: none;
	position: absolute;
	font: 12px Arial, Helvetica, sans-serif;
	padding: 0px;
	margin-left: -60px;
	margin-top: -220px;
}
.logoHover1 a
{
	color: #006699;
	text-decoration: underline;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.logoHover1 a:hover
{
	text-decoration: none;
}

/*---*/

/* Recommend A Solution */
.subcategory
{
	padding-left: 140px;
}
.textareabg
{
	margin: 0px 0px;
	_margin: -10px 0px;
	padding: 0px;
	width: 195px;
	background: #FFFFFF;
}
.textareabg .top
{
	height: 6px;
	_height: 0px;
	background: url(Unknown_83_filename)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/textCorner_topR.gif*/ left bottom no-repeat;
}
.textareabg .top span
{
	background: #ffffff url(Unknown_83_filename)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/textCorner_topL.gif*/ 0 bottom no-repeat;
	width: 8px;
	height: 6px;
	display: block;
}
.textareabg .bottom
{
	padding: 0;
	height: 8px;
	background: url(Unknown_83_filename)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/textCorner_btmR.gif*/ left top no-repeat;
}
.textareabg .bottom span
{
	background: #ffffff url(Unknown_83_filename)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/textCorner_btmL.gif*/ 0 top no-repeat;
	width: 8px;
	height: 8px;
	display: block;
}
.textareabg .main
{
	background: url(Unknown_83_filename)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/textCorner_bdr.gif*/ left 0 repeat-y;
}
.textareabg .main .contentInner
{
	padding: 0;
	padding-left: 12px;
}
.textareabg .main .contentInner input
{
	border: 0px solid #BDBDBD;
}
.textareabg .main .contentInner input.radioBtn
{
	border: none;
}
.textareabg .main .contentInner textarea
{
	border: 0px solid #BDBDBD;
	width: 175px;
	height: 80px;
	font: 12px Arial, Helvetica, sans-serif;
	text-align: left;
}
.btnSubmit
{
	position: relative;
	float: left;
	padding: 0;
	left: 170px;
}
/* End Recommend A Solution */

/* Technolody Innovation 05/03/09 */
#mainContainter #container .contentWrapper .colR .mainContent .formColL
{
	margin: 0;
	padding: 0;
	float: left;
}
#mainContainter #container .contentWrapper .colR .mainContent .formColL label
{
	font: 12px Arial, Helvetica, sans-serif;
	color: #000000;
}
/*
#mainContainter #container .contentWrapper .colR .mainContent .formColL input
{
	border: 1px solid #BDBDBD;
	width: 254px;
	height: 20px;
	margin-left: 5px;
}
*/
#mainContainter #container .contentWrapper .colR .mainContent .formColL .radioBtn
{
	border: none;
	margin: 0;
	padding: 0;
	width: 20px;
	height: 13px;
}
#mainContainter #container .contentWrapper .colR .mainContent .formColL select
{
	width: 140px;
	margin-left: 5px;
	border: 1px solid #BDBDBD;
}
#mainContainter #container .contentWrapper .colR .mainContent .formColL textarea
{
	border: 1px solid #BDBDBD;
	width: 175px;
	height: 80px;
	font: 12px Arial, Helvetica, sans-serif;
	margin-left: 5px;
}
#mainContainter #container .contentWrapper .colR .mainContent .formColL .clear
{
	padding: 0;
	padding-top: 4px; |padding-top:2px;}
#mainContainter #container .contentWrapper .colR .mainContent .formColL .validMess
{
	position: relative;
	left: 85px;
	top: 7px; |top:4px;}
#mainContainter #container .contentWrapper .colR .mainContent .formColR
{
	margin: 0;
	margin-right: 30px;
	_margin-right: 15px;
	padding: 0;
	float: right;
	width: 250px;
}
#mainContainter #container .contentWrapper .colR .mainContent .formColR p
{
	margin: 0;
	padding: 14px 0 0 0;
	text-align: justify;
	line-height: 17px;
}
#mainContainter #container .contentWrapper .colR .mainContent .btnNext
{
	margin: 0;
	padding: 0;
	float: right;
	padding-right: 30px;
}

#mainContainter #container .contentWrapper .colR .mainContent .btnFinal
{
	margin: 0;
	padding: 0;
	float: right;
	padding-right: 30px;
	padding-top: 30px;
}
#mainContainter #container .contentWrapper .colR .mainContent .btnPrevious
{
	margin: 0;
	padding: 0;
	float: left;
	padding-left: 10px;
	padding-top: 30px;
}




#mainContainter #container .contentWrapper .colR .mainContent .radioBtn
{
	border: none;
	margin: 0;
	padding: 0;
	width: 20px;
	height: 13px;
}
#mainContainter #container .contentWrapper .colR .pbar
{
	margin-top: 6px;
	margin-left: 2px;
}


/* Start Career 10/03/09 */
#mainContainter #container .contentWrapper .colR .mainContent .hr
{
	border-top: #CCCCCC 1px solid;
}
#mainContainter #container .contentWrapper .colR .mainContent .countryLink
{
	/*border-bottom: #CCCCCC 1px solid;*/
}
#mainContainter #container .contentWrapper .colR .mainContent .countryLink span
{
	margin-left: 80px;
}
#mainContainter #container .contentWrapper .colR .mainContent .careerMap
{
	position: relative;
	width: 581px;
	height: 271px;
	left: 40px; |margin-bottom:10px;_margin-bottom:-18px;}
#mainContainter #container .contentWrapper .colR .mainContent .careerCol1
{
	width: 309px;
	float: left;
	margin-top: 18px;
	padding: 0;
	text-align: left;
}
#mainContainter #container .contentWrapper .colR .mainContent .careerCol1 .imgLeft
{
	float: left;
}
#mainContainter #container .contentWrapper .colR .mainContent .careerCol1 .imgLeft img
{
	padding: 0;
	margin: 4px 0 0 0;
}
#mainContainter #container .contentWrapper .colR .mainContent .careerCol1 .txtRight
{
	float: right;
	width: 175px;
}
#mainContainter #container .contentWrapper .colR .mainContent .careerCol1 .txtRight p
{
	text-align: left;
	line-height: 16px;
}
#mainContainter #container .contentWrapper .colR .mainContent .careerCol2
{
	width: 265px;
	float: right;
	margin: 18px 45px 0 0px;
	_margin-right: 23px;
	padding: 0;
}
#mainContainter #container .contentWrapper .colR .mainContent .careerCol2 img
{
	padding: 0;
	margin: 4px 0 0 0;
}
/* End Career 10/03/09 */

/* Start 14/03/09 */

#mainContainter #container .contentWrapper .mainContent
{
	margin-top: 22px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
}

#mainContainter #container .contentWrapper .colR .mainContent ol
{
	margin: 0;
	padding: 0px 0 0px 38px;
	list-style-type: none;
}
#mainContainter #container .contentWrapper .colR .mainContent ol li
{
	background: none;
	padding-left: 0px;
	line-height: 17px;
	text-align: justify;
	list-style-type: decimal;
}
/* End 14/03/09 */



/* New 2 Column Grid Without Logo written by Pankaj */


#mainContainter #container .contentWrapper .colR .inclBlock_WtLogo
{
	border-top: #CCCCCC 1px solid; /*height:165px;*/
	font-size: 12px;
	clear: both;
}


#mainContainter #container .contentWrapper .colR .inclBlock_WtLogo .text_WtLogo
{
	float: left;
	margin: 13px 0 0 15px;
	line-height: 15px;
}

/* ENDS */

/* Start Site Map 016/03/09 */

#mainContainter #container .contentWrapper .title
{
	margin: 0;
	padding: 3px 0 5px 23px;
}
#mainContainter #container .contentWrapper .mainContent .sitemapCol
{
	float: left;
	width: 220px;
	margin: 0 60px 0 23px;
	_margin: 0 67px 0 12px;
	font: 12px Arial, Helvetica, sans-serif;
	font-weight: bold;
}
#mainContainter #container .contentWrapper .mainContent .sitemapCol a
{
	text-decoration: underline;
	color: #6699CC;
}
#mainContainter #container .contentWrapper .mainContent .sitemapCol a:hover
{
	text-decoration: none;
}
#mainContainter #container .contentWrapper .mainContent .sitemapCol .clear
{
	clear: both;
	height: 25px; |height:24px;}
#mainContainter #container .contentWrapper .mainContent .sitemapCol ul
{
	margin: 0;
	padding: 0;
	font-weight: normal;
}
#mainContainter #container .contentWrapper .mainContent .sitemapCol ul li
{
	margin: 0;
	padding: 4px 0 0 12px;
	list-style-type: none;
}

/* End Site Map 016/03/09 */



#boxMain .box
{
	margin: 10px 0px;
	_margin: -10px 0px;
	padding: 0px;
	width: 245px;
	background: #FFFFFF;
}
#boxMain .box .top
{
	height: 9px;
	_height: 0px;
	background: url(../../SiteCollectionImages/cornerRt.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/cornerRt.gif*/ right bottom no-repeat;
}
#boxMain .box .top span
{
	background: #ffffff url(../../SiteCollectionImages/cornerLt.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/cornerLt.gif*/ 0 bottom no-repeat;
	width: 9px;
	height: 9px;
	display: block;
}
#boxMain .box .bottom
{
	padding: 0;
	height: 9px;
	background: url(../../SiteCollectionImages/cornerBtmRt.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/cornerBtmRt.gif*/ right top no-repeat;
}
#boxMain .box .bottom span
{
	background: #ffffff url(../../SiteCollectionImages/cornerBtmLt.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/cornerBtmLt.gif*/ 0 top no-repeat;
	width: 9px;
	height: 9px;
	display: block;
}

/*#mainContainter #container .contentWrapper .colL .bg .contentContainer { background: url(/SiteCollectionImages/bg_bdrRt.gif) right 0 repeat-y;}*/
#boxMain .box .main
{
	background: url(../../SiteCollectionImages/bg_bdr.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/bg_bdr.gif*/ left 0 repeat-y;
}
#boxMain .box .contentInner
{
	padding: 0;
	padding-left: 12px;
	padding-right: 12px;
	font: 12px Arial, Helvetica, sans-serif;
	color: black;
}




/* start search page */
.searchResult
{
	padding-bottom: 30px;
	text-align: justify;
	font-size:14px;
	line-height:17px;
	font-family: Arial, Helvetica, sans-serif;
}
.searchResult a
{
	text-decoration: underline;
	color: #6699CC;
	font-weight: bold;
	line-height: 30px;
}

.searchMessage
{
	font-size:14px;
	font-family: Arial, Helvetica, sans-serif;
	color: black;
}
.searchNavigation
{
	font-family: Arial, Helvetica, sans-serif;
	float: right;
}
.searchNavigation a
{
	font-family: Arial, Helvetica, sans-serif;
	color: #6699CC;
	line-height: 30px;
	text-decoration: underline;
}
/* end search page */

/*start contact us popup*/
#modalMoreInfo
{
	display: none;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #ffffff;
	width: 400px;
}
#modalMoreInfo .maninContent 
{
	border: solid 2px #807e7f;
	padding: 0 10px;
}
#modalMoreInfo .maninContent P
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height:17px;
	text-align: justify;
}
#modalMoreInfo .maninContent .buttonCancel
{
	height: 25px;
	width: 63px;
	border: none;
	background: url(Unknown_83_filename)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/btn_close.gif*/ no-repeat;
	cursor: hand;
}

.buttonNRClose
{
	height: 25px;
	width: 63px;
	border: none;
	background: url(Unknown_83_filename)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/btn_close.gif*/ no-repeat;
	cursor: hand;
}

/*end contact us popup*/

/* Vijay : 30/03/2009 For Eligibility test */



.Qheading
{
	padding:0px 0px 0px 0px;
	font: 16px Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align:center ;
}

.Qtext
{
	padding:0px 0px 0px 0px;
	font: 12px Arial, Helvetica, sans-serif;
	font-weight:normal ;
	text-align:justify  ;
}
.Atext
{
	padding:0px 0px 0px 0px;
	font: 12px Arial, Helvetica, sans-serif;
	font-weight:bold ;
	text-align:justify  ;
}
.Ahyper
{
	padding:0px 0px 0px 0px;
	font: 12px Arial, Helvetica, sans-serif;
	font-weight:normal;
	text-align:justify;

	
}

.Ahyper a
{
	padding:0px 0px 0px 0px;
	font: 12px Arial, Helvetica, sans-serif;
	font-weight:normal;
	text-align:justify;
	color: #006699;
	cursor: pointer;
}

/* ModelMoreInformation Required in Recommand Solution Dont Delete it */

#modalMoreInformation
{
 display: none;
 font-family: Arial, Helvetica, sans-serif;
 background-color: #ffffff;
 width: 400px;
}
#modalMoreInformation .maninContent 
{
 border: solid 2px #807e7f;
 padding: 0 10px;
}
#modalMoreInformation .maninContent P
{
 font-family: Arial, Helvetica, sans-serif;
 font-size: 12px;
 line-height:17px;
 text-align: justify;
}
#modalMoreInformation .maninContent .buttonCancel
{
 height: 25px;
 width: 63px;
 border: none;
 background: url(Unknown_83_filename)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/btn_close.gif*/ no-repeat;
 cursor: pointer;
}


/*End :  Vijay : 30/03/2009 For Eligibility test */


.briefdetail 
{
	padding:0px 0px 10px 0px;
	text-align:justify;
	line-height:16px;
	
	}
.briefdetail div
{
	padding:0px 0px 0px 0px;
	text-align:justify;
	line-height:16px;
}

/* Override of default Sharepoint top nav - Begin */
/* item style */ 
.s4-tn 
{
	background: url(../../SiteCollectionImages/GGP-Color-Bar-970px.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/GGP-Color-Bar-970px.gif*/ left top repeat-x; 
	padding: 10px 10px 0px 10px; 
}

.s4-tn li.static > .menu-item
{
	 font: 16px Arial, Helvetica, sans-serif;
	 margin-top: 0px;
	 padding:5px 20px 12px 18px; 
	 white-space:nowrap;
	 background-image:url('../../SiteCollectionImages/navDivider.gif')/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/navDivider.gif*/;
	 background-repeat:no-repeat;
	 background-position:left; 	 
}	
/* this removes the separator from in front of the first top nav menu item */
.s4-tn li.static:first-child > .menu-item
{
	 font: 16px Arial, Helvetica, sans-serif;
	 margin-top: 0px;
	 padding:5px 18px 12px 18px; 
	 white-space:nowrap; 
	 background-image:url('');
}
/* item style selected */ 
.s4-tn li.static > .selected 
{
	color: #4b266c;
}

/* item style hover */ 
.s4-tn li.static > a:hover 
{
	color: #4b266c;
	text-decoration: none;
} 

/* flyout holder */
.s4-tn ul.dynamic 
{
	 padding: 10px 0px 15px 0px;
	 width: 196px;
}

/* flyout item */
.s4-tn li.dynamic > .menu-item 
{
	 padding-top:5px;
	 font-family: Arial, Helvetica, sans-serif;
	 font-size: 12px;
	 font-weight: normal;
	 color: #666666;
 	 word-wrap: break-word;

}
/*
.additional-background > .menu-item-text
{
	 font-size: 22px;
}
*/

/* flyout item hover */
.s4-tn li.dynamic > a:hover 
{
	color: #00aeef; 
	text-decoration: none;
	background: transparent;
}

/* hide arrows for top level items with flyouts */
.menu-horizontal a.dynamic-children span.additional-background,
.menu-horizontal span.dynamic-children span.additional-background
{
    padding-right:0px;
    background-image:none;
}
/* Override of default Sharepoint top nav - End */


/* Left nav - Begin */
.leftNavMenu {
	margin: 0;
	width: 100%;
}
/*
.leftNavMenuHeader {
	text-decoration:none;
	padding:5px 0px;
	font: 12px Arial, Helvetica, sans-serif;
	color: #707070;
}
*/
/* left nav - Level 1 */
/*
.leftNavMenuHeader a {
	text-decoration:none;
	padding:5px 0px;
	font: 12px Arial, Helvetica, sans-serif;
	color: #707070;
	font-weight:bold;		
}

.leftNavMenuHeader a:hover, a:active {
	color: #993333;
}
*/
table.leftNavMenuItem td, span.leftNavMenuItem {
	/*background-image:url(/SiteCollectionImages/icon_rightArrow2.gif);
	background-position:left top;
	background-repeat:no-repeat; */
	font: 12px Arial, Helvetica, sans-serif;
	padding:3px 0 5px 10px;
	font-weight: bold;	
}
.leftNavMenuItem a {
	font: 12px Arial, Helvetica, sans-serif;
	color: #707070;
	margin:0;
	padding:0;
	font-weight: bold;	
}
.leftNavMenuItem a:hover {
	color: #00AEEF;
	font-weight: bold;	
}
table.leftNavSubMenuItem td, span.leftNavSubMenuItem {
	/*background-image:url(/SiteCollectionImages/icon_rightArrow2.gif);
	background-position:left top;
	background-repeat:no-repeat; */
	font: 12px Arial, Helvetica, sans-serif;
	padding:3px 0 5px 10px;	
}
.leftNavSubMenuItem a {
	font: 12px Arial, Helvetica, sans-serif;
	color: #707070;
	margin:0;
	padding:0;
}
.leftNavSubMenuItem a:hover, a:active {
	color: #006699;
	font-weight: bold;	
}

.StaticMenuStyle { padding-left:10px; }
/* Left nav - End */
.StaticSelectedMenuStyle a {
	font: 12px Arial, Helvetica, sans-serif;
	color: #707070;
	margin:0;
	padding:0;
	/* color: #993333; */
	font-weight: bold;	
}


.nrPageTitle
{
/*	font: 24px Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #a03033;
changed 9/22/11 wwh 
*/	
	margin-top:10px;
	font-family: Arial, Helvetica;
	font-weight:100;
	font-size: 20px;
	color: #00AEEF;
	/* letter-spacing: -0.05em; */
}
.nrPageTitleIndent
{
	margin-top:10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #00AEEF;
	font-weight: 700;
	letter-spacing: -0.05em;
	margin-left: 24px;
/*
	font: 24px Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #a03033;
	margin-left: 22px;
changed 9/22/11 wwh 
*/	
}

.nrImg
{
	margin-left: 22px;
}
.pageImg
{
	display: block;
	border: none;
	outline: none;
	margin:8px 0px 4px 0px;
/*	margin:15px 0px 15px 0px;  changed 9/22/11 wwh */
	float:left;
}
.nrPageSubTitle
{
	font-size: 12px;
	font-weight: bold;
	font: Arial, Helvetica, sans-serif;
	color:#000000;
}

.NewsNav ul li a
{
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #707070;
	text-decoration: none;
	padding: 0px 0 0px 0px; *padding-top:0px;
	display:block;
}

/* from Our History page - Begin */
.clearBoth{
	clear:both;}
.borderBottom{
	border-bottom:1px solid #CCCCCC;
	margin:0px 0px 20px 0px;}
.floatLeft{
	float:left;
	padding:20px 15px 10px 0px;}
.floatRight{
	float:right;
	padding:20px 0px 10px 15px;
	border:1px solid white;}
/* from Our History page - End */
		
/* Override of default Sharepoint Web Part - Begin */
.ms-WPBody h4 {
	font-family: Arial, Helvetica, sans-serif ; 
	color: #000 ; 
	font-size: 14px ; 
	font-weight: bold ; 
	vertical-align: top ; 
	text-decoration: none ; 
	font-style: normal ; 
	padding: 0px 0px 10px 0px ;
	margin : 0px ;
}
.ms-WPBody h5 {
	font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: top; 
}
.ms-WPBody td {
	font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    font-size: 12px;
    font-style: normal;
    margin: 0;
    padding: 0;
    vertical-align: top; 
    line-height: 1.3em;
}
.ms-WPBody a:link {
    color: #707070;
    text-decoration: none;
}
body #s4-ribbonrow {
     background-color: black;
     overflow-y: hidden;
     min-height: 43px;
}
body s4-workspace {
   overflow-y: scroll;
   overflow-x: hidden;
}
body #s4-bodyContainer {
   width: 760px;
}
/* Override of default Sharepoint Web Part - End */

.brandBlock
{
	border-top: #CCCCCC 1px solid;
	height: 130px;
}
.tag
{
	margin-top: 7px;
	float: left;
	color:#000;
	font-weight:bold;
}
.brandLogo
{
	float: left;
	margin:28px 30px 0 75px; _margin:28px 48px 0 28px;
}
.nrTagTitle
{
	background: url(../../SiteCollectionImages/bg_leftNavHeading.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/bg_leftNavHeading.gif*/ 0 0 no-repeat;
	font: bold 16px Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #5f95b9;
	margin-left: 12px;
	margin-top: 32px;
}

.webPartTitle
{
	font: bold 14px Arial, Helvetica, sans-serif;
	color: #9b9b9b;
}

.webPartLink a a:hover a:active a:visited
{
	text-decoration: none; 
	color: #2270a0;
	font: 14px Arial, Helvetica, sans-serif;
}

.eligibilityTest
{
	background: url(../../SiteCollectionImages/bg.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/bg.gif*/ 0 0 repeat-x;
	height: 190px;
	color: #666666;	
}

.iconLinkPrint a a:hover a:active a:visited
{
	background: url(../../SiteCollectionImages/Icons/printThisIcon.jpg)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/Icons/printThisIcon.jpg*/ 0 0 repeat-x;
}
.iconLinkShare a a:hover a:active a:visited
{
	background: url(../../SiteCollectionImages/Icons/shareThisIcon.jpg)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/Icons/shareThisIcon.jpg*/ 0 0 repeat-x;
}
.radioButton
{
	border: none;
	margin: 0;
	padding: 0;
	width: 20px;
	height: 13px;
}
.radioButtons
{
	border: none;
	margin: 0;
	padding: 0;
	width: 20px;
	height: 13px;
}
.startNextButton
{
	visibility:hidden;	
}
.searchButton
{
	background: url(../../SiteCollectionImages/searchBg_right.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/searchBg_right.gif*/ 0 0 no-repeat;
	display: block;
	float: right;
	width: 32px;
	height: 29px;
}
.searchBox
{
	background: url(../../SiteCollectionImages/searchBg1.gif)/*tpa=http://www.newellrubbermaid.com/SiteCollectionImages/searchBg1.gif*/ 0 0 no-repeat;
	display: block;
	float: left;
	width: 267px;
	height: 29px;
}
/* Override of default Sharepoint - Begin */
.ms-rtestate-field
{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 16px	
}
.srch-results {
    max-width: 850px;
/*  padding-left: 24px; */
	padding-left: 0px;
}
.srch-Description2 {
    color: #000000;
    font-size: 1em;
/*  margin-left: 24px; */
    max-width: 850px;
    margin-left: 24px;
}
.srch-Icon img {
/*  float: left;
    vertical-align: bottom;
    width: 16px; */
	visibility:hidden;    
}
.srch-sort-right2 {
/*  color: #3B4F65;
    float: right;
    padding-right: 10px; */
	visibility:hidden;     
}
.srch-Metadata2{
    line-height: 0;
	visibility:hidden;     
}
.srch-maintop {
    margin-left: 18px;
    margin-bottom: 15px;  
    padding: 8px 0 20px;      
}
.ms-sblink a:link, .ms-sblink a:visited {
    margin-left: 10px;
}
.s4-wpcell-plain {
    padding: 0px 0px 0px 0px;	
    margin: 0px 0px 0px 0px;	
}
/*
.s4-tn li.static > .menu-item {
    background-image: url("");
}
*/
/* Override of default Sharepoint - End */
td.leftNavMenuHeader,  .leftNavMenuHeader a:link,  .leftNavMenuHeader a:visited {
	width: 228px;
	height: 24px;
    	font-family: Arial,Helvetica,sans-serif;
    	font-weight: bold;
    	color:black;   
	padding: 2px 0px 0px 7px;
}
.zz1_CurrentNav_5
{
	/* background: url(/SiteCollectionImages/bg_leftNavHeading.gif) 0 0 no-repeat; */
	width: 228px;
	height: 24px;

    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    color:black;
    font-size: 14px;      

	border-left-style: solid; 
	border-left-color: #BDD729; 
	border-left-width: 5px; 
}
.brandLogosLink a
{
	color: #006699;
	text-decoration: underline;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
}
.brandLogosLink a:hover
{
	color: #006699;
	text-decoration: none;
}
.brandLogosDescription
{
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 15px;
}
.careersHeading { 
 font: Arial, Helvetica, sans-serif ; 
 color: #000 ; 
 font-size: 12px ; 
 font-weight: bold ; 
 vertical-align: top ; 
 text-decoration: none ; 
 font-style: normal ; 
 padding:0px 0px 0px 0px ; 
 margin : 0px ;
 }
.mainContentText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
}
.mainContentText a {
    color: #006699;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 16px;
    text-decoration: underline;
}
.newsEventsLink a {
	color: #3576a0;
	font-size: 20px;
    text-decoration: none;	
}
 .sitemapHeading
{
	color: #6699cc;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
}

/* News Releases Pager */
#mainContainter #container .contentWrapper .colR  a{
color : #2270A0;
text-decoration : none;
}


#mainContainter #container .contentWrapper .colR div#pager a{
color : #2270A0;
text-decoration : none;
padding : 0.3em 0.25em;
}

div#pager a.previousNextLink:hover
{
text-decoration :underline;
}

/* If “previous” or “next” is disabled, hide it */
div#pager a[class="previousNextLink"][disabled]
{
display : none;
}

/* Page numbers (except active one) */
#mainContainter #container .contentWrapper .colR div#pager a.numericLink
{
color : #2270A0;
/*border : 1px solid #d4d4d4;*/
padding : 0.3em 0.25em;
text-align : center;
text-decoration : none;
}

/* Page numbers mouse over */
#mainContainter #container .contentWrapper .colR div#pager a:hover
{
/*color : #0d8cbd;
background-color : #d8eff8;*/
text-align : center;
text-decoration :underline;
}

div#pager span span
{
color : #ffffff;
background-color : #2270A0;
border : 1px solid #2270A0;
padding : 0.3em 0.7em;
text-align : center;
}

/* New Product Images */
div#imgcontainer{
	float: left; 
	width:190px; 
	margin:0px;

}

div#imgcontainer img
{
	width:190px !important;
	height:102px !important;
	margin:0px !important;
	padding:0px !important;
	border : 1px solid #999999 !important;

}
#mainContainter #container .contentWrapper .banner
{
	margin-top: 10px;	
}



.bg .socialIcons
{
	float: left;
	position: relative;
	padding-top:35px;
	padding-left:100px;
	left: 227px;
}

.socialIcons img
{
	float: left; margin: 3px 3px;
}

.homeGGP
{
	margin-top:10px;
}
.homeGGP p
{
	margin:0;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 10pt;
	line-height:130%;
	color:#4b266c;
	text-align:justify;
	width:265px;
}
.homeGGP a
{
	color:#218ECE;
	text-decoration:none;
}

.homeGGP a:link, .homeGGP a:visited
{
	color:#006699; 
	font-weight:bold;
	font-size:9pt;
}
.homeGGP a:hover 
{
	text-decoration:underline;
}

.ms-WPBody td img
{
	margin:0 auto;
}

td .logo7
{
	height: 40px !important; 
	padding-top: 5px !important;
}
.bg div
{
	padding-left:100px !important;
}

#zz1_CurrentNav {
	margin-top: 15px;
	margin-left:5px
}
.subTitles
{
	height: 24px;

	border-left-style: solid; 
	border-left-color: #4A246B; 
	border-left-width: 5px; 
}

.subTitles td
{
	width: inherit;
	height: inherit;

	font-family: Arial,Helvetica,sans-serif;
	font-weight: bold;
	color:black;
	font-size: 14px;      
	padding:0px 0px 0px 7px;
}

.ourBlogs span
{
	height: 24px;

	border-left-style: solid; 
	border-left-color: #4A246B; 
	border-left-width: 5px; 
	
	font-family: Arial,Helvetica,sans-serif;
	font-weight: bold;
	color:black;
	font-size: 14px;      
	padding:5px 0px 5px 10px;
}
