body {
    background: #363636;
    height: 100%;
    margin: 0;
    padding: 0;
}

#pageWrapper {
	background: #363636 !important;
    margin: 0 auto;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fff;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fff;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #fff;
}

.skype_pnh_logo_img 
{
    display:none !important ;
    
}

.skype_pnh_container img {

    display:none !important;

}

#searchbutton_globalNavigationSearchHalcom_SearchInput img {
    
    display:none;

}

.shareBox {

    background:#fff;
    display:none;
    margin-top:-3px;
    width:100px;
    position:fixed;
    z-index:1002;
    border:2px solid #cccccc;
    

}

.shareBox div {

   float:left;
   width:99%;
   height:16px;
   padding-left:3px;
   padding-top:5px;
   padding-bottom:5px;
   line-height:20px;
  

}

.shareBox div:hover {

   background:#f1f1f1;

}

#centerColumn, #rightColumn, #centerColumn-OneColumnLayout {

    color:#363636 !important;

}
#centerColumn * a, #rightColumn * a, #centerColumn-OneColumnLayout * a
{
    color:#363636;
    text-decoration:none;
}

#centerColumn * a:hover, #rightColumn * a:hover, #centerColumn-OneColumnLayout * a:hover
{
    text-decoration:underline !important;
}

#centerColumn > .ls-area-body > .ls-cmp-wrap .iw_component > .sidebarDocumentListingComponent a  {
    
    text-decoration:underline;
    
}

#centerColumn > .ls-area-body > .ls-cmp-wrap .iw_component > .sidebarDocumentListingComponent a:hover  {
    
    color:#CC0000;
    
}

#centerColumn .border-top-right, #centerColumn-OneColumnLayout .border-top-right
{
    background: none;
    position:absolute;
    top: -1px;
    right: -1px;
    width: 6px;
    height: 6px;
    display:block;
}

#centerColumn .border-top-left, #centerColumn-OneColumnLayout .border-top-left
{
    background: none;
    position:absolute;
    top: -1px;
    left: -1px;
    width: 6px;
    height: 6px;
    display: block;
}

#centerColumnWrapper {
    display: block;
	float: left;
	position: relative;
	margin-left:11px;
}

#halworldGlobalFooterComponent 
{
    display:none;
}
h1 {
    font-size: 20px;
    line-height: 18px;
    color: #cc0000;
    padding: 5px 0 10px 0px;
    font-weight: bold;
}

.documentListingComponent h4 {
    
    color:#CC0000 !important;
    padding:15px !important;
    font-size:14px !important;
    
}


/***** BEGIN halcom-global-navigation component *****/

#globalNavWrapper {
	background: url("../img/nav_off.gif")/*tpa=http://www.halliburton.com/web-resources/common/img/nav_off.gif*/ repeat-x scroll bottom left;
	background-position: 0px 78px;
}

#globalNavWrapper .globalNavUtility {
	height: 60px;
	background-color: #CC0000;
    position:relative;
}
#globalNavWrapper .globalNavUtility p
{
    display:none;
}
#globalNavWrapper .globalNavUtility > div
{
    position:absolute;
    top:0px;
    right:0px;
}
#globalNavWrapper .globalNavUtility > div:first-child 
{
    position:relative;
    top:0px;
    right:0px;
}

#globalNavWrapper .globalNavRegister {
	height: 20px;
	background:#363636;
	color: #ffffff;
	text-align: right;
	font-size: 90%;
	padding-top: 5px;
	display:block;
}

#globalNavWrapper .globalNavRegister table 
{
    float:right;
}

#globalNavWrapper .globalNavRegister a {
	color: #ffffff;
	text-decoration: none;
}

#globalNavWrapper .globalNavRegister a:hover {
	text-decoration: underline;
}

#globalNavWrapper .globalNavLogo {
	margin-top: 20px;
	margin-left: 20px;
	float: left;
	position:absolute !important;
	left:0px;
	right:auto !important;
}

#globalNavWrapper .globalNavSearch {
	margin-top: 20px;
	margin-left:250px;
	float: left;
}

#globalNavWrapper .globalNavSearch input {
	border: 1px solid #7F9DB9;
	text-indent: 2px;
	margin-right: 1px;
}

#searchbox_globalNavigationSearchHalcom_SearchInput {
    
    background:#990000;
    border:1px solid #000000 !important;
    color:#ffffff;

}
#globalNavWrapper .primaryNav 
{
    background: url("../img/nav_off.gif")/*tpa=http://www.halliburton.com/web-resources/common/img/nav_off.gif*/ repeat-x scroll 0 0;
	border-top: 3px solid #CC0000;	
	height:28px;
}

#globalNavWrapper li {
	list-style: none outside none;
	font-size: 11px;
}

#globalNavWrapper a {
	text-decoration: none;
}

#globalNavWrapper .primaryNav > ul > li {
	border-right: 2px solid #000000;
	float: left;
	display: inline; 
}

#globalNavWrapper .primaryNav > ul > li > a {
	background: #252525;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	display: block;
    padding: 6px 22px 6px 22px;
}

#globalNavWrapper .primaryNav > ul > li > a:hover, #globalNavWrapper .primaryNav > ul > li > a.active {
	background: #000000;
	color: #ffffff;
}

#globalNavWrapper .primaryNav > ul > li > .primaryNavCurrent {
	background: url("../img/nav_on.gif")/*tpa=http://www.halliburton.com/web-resources/common/img/nav_on.gif*/ repeat-x scroll 0 0;
	color: #ffffff;
}

#globalNavWrapper .primaryNav .primaryNavDropdown {
	position: absolute;
	z-index: 10;
}

#globalNavWrapper .primaryNav .primaryNavDropdown > ul {
	background-color: #3f3f3f;
	border: 1px solid #000000;
}

#globalNavWrapper .primaryNav .primaryNavDropdown > ul li ul li 
{
    overflow: hidden;
}

#globalNavWrapper .primaryNav .primaryNavDropdown li a {
	display: block;
	color: #ffffff;
	padding: 3px 10px 3px 10px;
}

#globalNavWrapper .primaryNav .primaryNavLast .primaryNavDropdown li a  {
	width:auto !important;
}

#globalNavWrapper .primaryNav .primaryNavDropdown li a:hover {
	background-color: #000000;
	color: #ffffff;
}

#globalNavWrapper .primaryNav .primaryNavDropdown > ul 
{
    overflow: hidden;
}
#globalNavWrapper .primaryNav .primaryNavDropdownProducts,
#globalNavWrapper .primaryNav .primaryNavDropdownProducts  > table
{
    background-color:#3f3f3f;
    width: 780px;
}

#globalNavWrapper .primaryNav div > table {
    border:1px solid #000000;
    background-color:#fff;
}
#globalNavWrapper .primaryNav .primaryNavDropdown > table > tbody > tr > td {
	padding: 0px;
}

#globalNavWrapper .primaryNav .primaryNavDropdown > table > tbody > tr > td a{
    font-size: 11px;
	color: #ffffff;
	padding: 0 9px 0 9px;
	display: block;
}
#globalNavWrapper .primaryNav div > table > tbody > tr > th {
	padding: 9px 0px 0px 9px;
	color: #ffffff;
	font-weight: bold;
	
	text-align:left;
	border-top:1px solid #000000;
}
#globalNavWrapper .primaryNav div > table > tbody > tr:first-child > th {
	padding: 9px 0px 0px 9px;
	color: #ffffff;
	font-weight: bold;
	
	text-align:left;
	border-top:0px solid #000000;
}

#globalNavWrapper .primaryNav div > table > tbody > tr > th a {
    color: #ffffff;
}
#globalNavWrapper .primaryNav div > table > tbody > tr > td a:hover
{
    color:#fff;
    background-color: #000000;
}
/***** END halcom-global-navigation component *****/

#globalNavWrapper .primaryNavLast > a 
{
    padding: 6px 10%!important;
    text-align: center!important;
    width:auto !important;
}

#globalNavWrapper .primaryNavLast 
{
    
    max-width: 108px;
    border-right:0px!important;
    /***** IE 9 and above last node falls changed max width from 112px******/
}

#globalNavWrapper .primaryNav 
{
    background:#252525;
	border-top: 3px solid #CC0000;	
	height:28px;
}

#globalNavWrapper .primaryNav > ul > li > .primaryNavCurrent {
	background: #000000;
	color: #ffffff;
}

/***** START SITEMAP COMPONENT *****/
.halcomSiteMapComponent {
    height:auto;
}

.halcomSiteMapComponent .sitemapHeadingTitle 
{
    margin-bottom:15px;
}

.halcomSiteMapComponent .sitemapMainSection 
{
    float: left;
    display: inline;
}

.halcomSiteMapComponent .sitemapColumnLeft 
{
    float:left;
    width: 170px;
    margin-right: 5px;
}
.halcomSiteMapComponent .sitemapColumnLeft:first-child .sitemapMainSectionTitle:first-cild 
{
    margin-top:0px;
}

.halcomSiteMapComponent .sitemapColumnLeft .sitemapMainSectionTitle 
{
    font-weight: bold;
    color: #30407B;
    border-bottom: 1px solid #ccc;
    margin-bottom:5px;
    margin-top:15px;
    width: 170px;
}

.halcomSiteMapComponent .sitemapColumnLeft .sitemapMainSectionTitle a 
{
    font-weight: bold;
    font-size: 13px;
    text-decoration: underline;
    color: #30407B;
}
.halcomSiteMapComponent .sitemapColumnLeft .sitemapMainSectionTitle a:hover 
{
    color: #333;
}
.halcomSiteMapComponent .sitemapColumnLeft .sitemapSubSection
{
    margin-top: 5px;
    text-decoration: none;
    background-color: #efefef;
    padding: 2px 3px;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #30407B;
}
.halcomSiteMapComponent .sitemapColumnLeft .sitemapSubSection .sitemapSubSectionLinks
{
    margin-top: 5px;
    text-decoration: none;
    background-color: #efefef;
    padding: 2px 3px;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #30407B;
}
.halcomSiteMapComponent .sitemapColumnLeft .sitemapSubSectionTitle 
{
    background-color: #efefef;
    padding: 2px 3px;
    margin-top: 5px;
}
.halcomSiteMapComponent .sitemapColumnLeft .sitemapSubSectionTitle a
{
    font-weight: bold;
    font-size: 12px;
    text-decoration: underline;
    color: #30407B;
}
/***** END SITEMAP COMPONENT *****/

/**** homepage *********/

#home_right_wrapper #solutions_content_wrapper .solutionhome {

    float:left;
    padding:9px 0px 9px 0px;
    background:#ffffff URL('../img/home_solution_bg.png')/*tpa=http://www.halliburton.com/web-resources/common/img/home_solution_bg.png*/ no-repeat 98% 50%;
    width:100%;
    border-bottom:1px solid #cccccc;
    cursor:pointer;
}

#home_right_wrapper #solutions_content_wrapper .solutionhome:hover {

    float:left;
    padding:9px 0px 9px 0px;
    background:#f1f1f1 URL('../img/home_solution_bg.png')/*tpa=http://www.halliburton.com/web-resources/common/img/home_solution_bg.png*/ no-repeat 98% 50%;
    width:100%;
    border-bottom:1px solid #cccccc;
    cursor:pointer;
}

#home_right_wrapper #solutions_content_wrapper .solutionhome .solutionImg {

    float:left;
    padding:0px 5px 0px 5px;
    width:71px;
    

}

#home_right_wrapper #solutions_content_wrapper .solutionhome .solutiondesc {

    float:left;
    padding:0px 0px 0px 0px;
    width:63%;

}

#home_right_wrapper #solutions_content_wrapper .solutionhome h4 {

    color:#363636;
    font-size:12px;
    margin-bottom:0px;
    padding-bottom:0px;

}

#home_right_wrapper #solutions_content_wrapper .solutionhome a {

    color:#363636;
    font-size:12px;
    margin-bottom:0px;
    padding-bottom:0px;
    font-weight:bold;
    display:block;
    text-decoration:none;

}

/*************** Downloads **************************/


#downloadsHome {

    margin-left:15px;
    overflow:hidden;
    

}

#downloadsHome .downloaditem {

    background:#ffffff url("../img/news_bullet.gif")/*tpa=http://www.halliburton.com/web-resources/common/img/news_bullet.gif*/ no-repeat;
    background-position: 97% center;
    padding-left: 0px;
    padding-right: 30px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
    border-top: 1px solid #cccccc;
    display:block;    

}

#downloadsHome .downloaditem:first-child {

    background:#ffffff url("../img/news_bullet.gif")/*tpa=http://www.halliburton.com/web-resources/common/img/news_bullet.gif*/ no-repeat;
    background-position: 97% center;
    padding-left: 0px;
    padding-right: 30px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
    border-top: 0px solid #cccccc !important;
    display:block;    

}

#downloadsHome .downloaditem:hover {

    background:#f1f1f1 url("../img/news_bullet.gif")/*tpa=http://www.halliburton.com/web-resources/common/img/news_bullet.gif*/ no-repeat;
    background-position: 97% center;
    padding-left: 0px;
    padding-right: 30px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
    border-top: 1px solid #cccccc;
    display:block;
    cursor:pointer;
    

}

#downloadsHome .downloaditem a {

    font-weight:bold;
    color:#363636;
    

}

#watch a img {

    display:none;
}

.halcomHomeComponents > #home_bottom_wrapper > #home_bottom_left a {
    
    text-decoration:none;    
    
}

.halcomHomeComponents > #home_bottom_wrapper > #home_bottom_left a:hover {
    
    text-decoration:underline;    
    
}

.halcomHomeComponents > #home_bottom_wrapper > #home_bottom_right a {
    
    text-decoration:none;    
    
}

.halcomHomeComponents > #home_bottom_wrapper > #home_bottom_right a:hover {
    
    text-decoration:underline;    
    
}

/***** start Document Listing Component ******/

#rightColumn > .ls-area-body > .ls-cmp-wrap:last-child {
width: 250px;
position: relative;
left: 0px;
}

#rightColumn > .ls-area-body > .ls-cmp-wrap .sidebarDocumentListingComponent 
{
	clear:both;
    padding:0px;
    
    
}

#rightColumn > .ls-area-body > .ls-cmp-wrap .sidebarDocumentListingComponent div {
	
	padding-left:10px;
    
}

#rightColumn > .ls-area-body > .ls-cmp-wrap .sidebarDocumentListingComponent a,
#rightColumn > .ls-area-body > .ls-cmp-wrap .sidebarDocumentListingComponent span
{
    margin-left:4px;
    display: block;
    width: auto;
	padding-bottom:2px;
	margin-top:3px;
	text-decoration:none;
	color:#363636;
}

#rightColumn > .ls-area-body > .ls-cmp-wrap .sidebarDocumentListingComponent a:hover {

    text-decoration:underline;

}
.rightNavWrapper > .sidebarStaticLinksComponent > h2 {
    border-bottom: 1px solid #cccccc;
    color: #363636;
    display: block;
    width: 220px;
    margin: 10px 0px 0px 10px;
    padding-top: 5px;
    float:right;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
}

.rightNavWrapper > .sidebarStaticLinksComponent > ul > li {
    padding: 5px 0px 0px 0px; 
    margin: 0px 10px;
}

#rightColumn > .ls-area-body > .ls-cmp-wrap .sidebarDocumentListingComponent h2 {

    border-bottom:1px solid #cccccc;
    color:#363636;
    
    
}

.halSidebarLineBreak {
    display:none;
    left: 0px;
    width: auto;
    height: 1px;
    margin: 0px auto;
    border-top: 1px solid #cccccc;
    position: relative;
}
.rightNavWrapper > .sidebarStaticLinksComponent, .rightNavWrapper > .sidebarDocumentListingComponent {
    padding: 5px 10px 5px 12px;
   
    clear: both;
}

.lockClass {
    
    display:none;   
    
}

.lockClassTop {
    
    display:none;   
    
}

#searchbutton_ErrorPageSearchHalcom_SearchInput img {

   display:none; 


}
.Halcom_Search_Button {

    display:none;
    float:left;
    
}

.Halcom_Reset_Button {

   display:none;
   float:right;
   
}

.Halcom_Search_Button2 {

    display:none;
    float:left;
    
}

.Halcom_Reset_Button2 {

   display:none;
   float:left;
   padding-left:10px;
   cursor:pointer;
   
}

.contactUsComponent > div #form_wrap > div.submit > input {
    display:none;
}

.contactUsComponent > div #form_wrap > div.submit > img {
    display:none;
}

.search-Buttons {

    padding:0px !important;
    margin:0px;
    float:right;
    height:60px;
    overflow:hidden;
    width:200px !important;

}

.topDivSearch {

    overflow:hidden;
    width:500px !important;
    height:60px !important;
    float:right;

}

.documentListingComponent div #form_wrap div {
    height: 30px;
    width: 477px;
    margin: 1px 0px;
}

.documentListingComponent div #form_wrap div div {
    width: 210px!important;
    margin: 0px;
}

/***** end Document Listing Component ******/

/***** Begin Breadcrumb ************/

#breadCrumbComponent {
width: 965px;
padding: 15px 20px 15px 5px;
display: inline;
float: left;
position: relative;
}

#breadCrumbComponent li > .breadCrumbComponentHome > a {
    color: #ffffff;
    font-weight: bold;
}

#breadCrumbComponent li {
    color: #ffffff;
    list-style: none outside none;
}

#breadCrumbComponent li a {
    color: #ffffff;
}

#breadCrumbComponent li a:hover {
    color: #CC0000 !important;
}

#breadCrumbComponentLast a {

    font-weight:bold !important;

}
#breadCrumbComponent div.addit {

    display:none;
}

/***** End Breadcrumb ************/

/***** START HOME CASESTUDY COMPONENT *****/
#home_right_wrapper_casestudy 
{
    overflow:hidden;
    height:auto !important;
    border-bottom:10px solid #363636;
}
#home_casestudy_header 
{
    font-weight:bold;
    font-size: 14px;
}
#home_casestudy_content_wrapper 
{
    margin-bottom:0px!important;
    padding-bottom:0px!important;
    height:172px !important;
    background:#ffffff URL('../img/spinner.gif')/*tpa=http://www.halliburton.com/web-resources/common/img/spinner.gif*/ no-repeat center center;
       
    
}
#home_casestudy_content_wrapper_ul 
{
    list-style:none;
    padding-left:5px;
    margin-bottom:0px!important;
    padding-bottom:0px!important;
    
}
#home_casestudy_content_wrapper_ul li 
{
    margin-top: 0px;
    margin-right: 0px !important;
    clear:both;
}
#home_casestudy_content_wrapper_ul li:nth-child(4) {
    border-bottom:0px !important;
}
#home_casestudy_content_wrapper_ul li div 
{
    display:block;
}
#home_casestudy_content_wrapper_ul li div.title 
{
    width: 285px!important;
    height: auto;
    max-height: 17px!important;
    position:relative;
}
#home_casestudy_content_wrapper_ul li div.title a.lock 
{
    background: url('../../uc/img/lock.png')/*tpa=http://www.halliburton.com/web-resources/uc/img/lock.png*/ no-repeat top right;
    padding-right:17px;
}
#home_casestudy_content_wrapper_ul li div.descr
{
    
    overflow:hidden;
    width: 285px;
    color:#666;
}
#home_casestudy_content_wrapper_ul li a 
{
    font-weight:bold;
    color:#30407B;
    overflow:hidden;
    position:relative;
    text-decoration:none;
}
#home_casestudy_content_wrapper_ul li a > span
{
    position: absolute;
    top:0px;
    left:0px;
    width:500px;
    text-decoration:underline;
}
#home_bottom_right 
{
    position: relative;
}
#home_bottom_right p.right
{
    padding: 0px!important;
    margin: 10px 3px 8px 0px!important;
    display: block;
    position:relative;
    overflow:hidden;
}
#home_bottom_right hr.light 
{
    margin:0px 0px 10px 0px!important;
    padding:0px!important;
    position:relative;
}
#home_bottom_right table tr td
{
    padding-left:5px;
    padding-bottom:8px;
    margin-bottom:0px;
}
#home_bottom_right_head 
{
    padding-left:3px;
    display:block;
    clear:both;
}
/***** END HOME CASESTUDY COMPONENT *****/


/***** START HALCOM TABLE STYLES *****/
.genericContentComponent table.alternate {
    width: 98%;
    margin: 6px auto 6px auto;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
}
.genericContentComponent table.alternate td.head {
    background-color: #ccc;
    font-weight: bold;
    padding-top: 10px;
}
.genericContentComponent table.alternate td.alt {
    background-color: #e0e0e0;
}
/***** END HALCOM TABLE STYLES *****/

/***** START CUSTOMER CENTER COMPONENT *****/

.customerApplicationHomeComponent table td {
	padding: 7px;
}

.customerApplicationHomeComponent table td a {
	font-weight:bold;
}

/***** START CUSTOMER CENTER COMPONENT *****/

/***** START HALCOM SEARCH COMPONENT *****/
#searchbutton_globalNavigationSearchHalcom_SearchInput 
{
    margin-left:3px;
}
.globalNavRegister table tbody tr td div a
{
    font-size:11px!important;
}
/***** END HALCOM SEARCH COMPONENT *****/

/***** START COLUMN COMPONENT *****/

#centerColumn, #centerColumn-OneColumnLayout {
   border: 0px solid #CCCCCC;
   
}

.tabbedNavComponent,.tabbedNavComponent > ul {
    position: relative;
    height: 50px;
    overflow: hidden;
    background: #f1f1f1 url('../img/tabnav_background.png')/*tpa=http://www.halliburton.com/web-resources/common/img/tabnav_background.png*/ 0px 0px repeat-x !important;
    
}

.tabbedNavComponent > ul > li {
	display: block;
	float: left;
	list-style: none outside none;
    border-left: 0px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
	margin-right: 0px;
	background: #f1f1f1;
	line-height:40px;
	height:49px;
	vertical-align:middle;
	border-bottom:1px solid #cccccc;
	
}

.tabbedNavComponent > ul > li:first-child {

    border-left: 0px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;

}

.tabbedNavComponent > ul > .tabbedNavActive {
	background: #ffffff;
	border-bottom:0px;
	height:50px;
}
#rightColumn {
    position:relative;
    left: 7px;
    background-image:none;
}

#rightColumn .ls-area-body {
    background:none;
	margin-bottom:-2px;
}

.rightNavWrapper > .sidebarTitleComponent > .rightNavHeader {
    background-image: none;
    background:#f1f1f1;
    padding-top:0px;
    padding-left:15px;
	padding-bottom:0px;
	width: 243px;
	margin-left:2px;
	min-height:50px;
	border-bottom: 1px solid #cccccc;
}

.rightNavWrapper > .sidebarTitleComponent > .rightNavHeader > div > h2 {
    font-size: 14px;
    font-weight: bold;
    vertical-align: middle;
    float: left;
    position: relative;
    top: -1px;
    line-height: 35px;
    color: #363636;
}

.rightNavWrapper > .sidebarTitleComponent > .rightNavHeader > img {

    display:none;

}

#leftColumn{
    padding: 0 0px 10px 0px;
    width: 230px;
    
    
}
.secondaryNav {
    margin-left:0px;
    width: 230px;
}
#centerColumnWrapper div #centerColumnRow 
{
    margin-right:0px!important;
}

#centerColumn-HomePageLayout {
    margin: 10px 0px 0px 0px;
    width:1006px;
    
    /* used to be 11px for margin-left */
}

#centerColumn, #centerColumn-OneColumnLayout {
   border: 0px solid #CCCCCC;
   position:relative;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   padding:7px;
   overflow: visible;
   padding-left: 13px;
   padding-right: 17px;
}
.secondaryNav .secondaryNavRight {
    display:none;
}
.secondaryNav {
    background: #ffffff;
}
.secondaryNav ul li {
    max-width: 230px !important;
    width:202px !important;
    margin-left: 0px;
    background:url(../img/secondary_nav_arrow.png)/*tpa=http://www.halliburton.com/web-resources/common/img/secondary_nav_arrow.png*/ no-repeat;
    background-position: 210px 5px;
    margin-bottom:-2px !important;
    margin-top: 0px !important;
}

.secondaryNav ul li:hover {
    
    background:#f1f1f1 url(../img/secondary_nav_arrow.png)/*tpa=http://www.halliburton.com/web-resources/common/img/secondary_nav_arrow.png*/ no-repeat;
    background-position: 210px 5px;
}

.secondaryNav > ul > li > a {
    color: #363636;
    font-weight:bold;
    padding-right:25px;
    display:block;
}

.secondaryNav > ul > li > ul li ul li {
    max-width:145px !important;
    width:160px !important;
    background:none;
}

.secondaryNav > ul > li > ul li ul li a {
    color: #363636;
    
}

.secondaryNav .secondaryNavTitle {
    background: #CC0000;
    height:50px;
    
}

.secondaryNav .secondaryNavTitle a {
    color: #ffffff;
    font-size: 15px;
    vertical-align:middle;
    line-height:40px;
    font-weight: bold;
    margin: 0;
    padding: 7px 0 5px 18px;
    text-decoration: none;
    display: block;
    min-height: 18px;
    width: 186px;
}
.secondaryNav .secondaryNavContactUs {
   
    padding:6px 0px 6px 21px;
    border-top: 0px solid #cccccc;
    border-bottom: 1px solid #cc0000;
    background:#cc0000 url(../img/contact_us_envelope.png)/*tpa=http://www.halliburton.com/web-resources/common/img/contact_us_envelope.png*/ no-repeat;
    background-position:186px -5px;
    
}

.secondaryNav .secondaryNavContactUs:hover {
   
    background:#990000 url(../img/contact_us_envelope.png)/*tpa=http://www.halliburton.com/web-resources/common/img/contact_us_envelope.png*/ no-repeat;
    background-position:186px -5px;
    
}

.secondaryNav .secondaryNavContactUs a {

    color:#ffffff;

}
.secondaryNav .secondaryNavContactUs img{
   display:none;
}
.secondaryNavBottom 
{
    background: none;
    width: 228px;
    height: 16px;
}
.secondaryNavBottom img 
{
    display:none;
}

.secondaryNav > ul > li > ul li {
    font-size: 12px;
    line-height: 16px;
    padding: 4px 5px 3px 12px;
    max-width: 160px !important;
    width:145px !important;
}

.contentWrapperBack {
    
    background:url(../img/contentwrapperbackground.png)/*tpa=http://www.halliburton.com/web-resources/common/img/contentwrapperbackground.png*/ repeat;
    
}

.contentWrapperBack-twocol {
    
    background:url(../img/contentwrapperbackground_twocol.png)/*tpa=http://www.halliburton.com/web-resources/common/img/contentwrapperbackground_twocol.png*/ repeat;
    
}

.contentWrapperBack-toolsresources {
    
    background:url(../img/contentwrapperbackground-tools.png)/*tpa=http://www.halliburton.com/web-resources/common/img/contentwrapperbackground-tools.png*/ repeat;
    
}

.contentWrapperBack-products {
    
    background:url(../img/contentwrapperbackground-products.png)/*tpa=http://www.halliburton.com/web-resources/common/img/contentwrapperbackground-products.png*/ repeat;
    
}

.secondaryNav .secondaryNavLeft 
{
   display:none;
}

.secondaryNav .secondaryNavCurrent {
color: #363636;
font-weight: bold;
}

/***** END COLUMN COMPONENT *****/

/***** Start showcase *****/
.sidebarShowcaseComponent {		
	padding:0px;
	padding-bottom:10px;/*vidula*/
	margin:0px;	
	margin-left:0px;
    padding-left: 0px;
}
.sidebarShowcaseComponent p {
	color:#666;
	font-weight:bold;
	padding:10px 15px 5px 10px;
}
.sidebarShowcaseComponent {
	clear:both;
	border-bottom:8px solid #363636;
}

.sidebarShowcaseComponent table {

    
    padding:0px !important;
    

}
.sidebarShowcaseComponent table tr td table {

    border-bottom:0px !important;
    border-right:0px !important;
    border-left:0px !important;
    border-top:0px !important;
    margin-top:0px;
   
    padding:0px !important;

}
.sidebarShowcaseComponent table tr td div:first-child table tbody tr td {
    line-height: 10px;
    
    
}

.showcaseHeader_3 {

    font-size:11px;
    text-align:center;

}

.sidebarShowcaseComponent table tr td div:first-child table tbody tr td:first-child {
   /* border-right:1px solid #cccccc;*/
    
    
}

.holdsShowcaseTitle a {

    font-weight:bold !important;

}

.showcaseHeader_1 {

    border-right:1px solid #cccccc;
    padding-left:5px;

}
.showcaseHeader_2 {

    border-right:1px solid #cccccc;
   padding-left:0px;
    width:24px;

}

.showcaseHeader_2 img {

   float:right !important;
   padding-right:5px;

}
.showcaseHeader_3 {

    border-right:1px solid #cccccc;
    width:40px;
}

.Showcase_Divider {
    
    border-bottom:1px solid #cccccc;

}
.showcaseHeader_4 {

    width:24px;
    padding-left:5px;

}
/*.showcaseHeader_4 img {

    display:none;

}*/
.mainShowcaseTable {
    
    margin-top:-3px !important;
    
}


.sidebarShowcaseComponent table tr td div:first-child table tbody tr td p {
    padding:0px;
    margin-left: 8px!important;
    
}

.sidebarShowcaseComponent  table  tbody  tr  td  table  tbody  tr  td  div img {

    float:left;  
  
}

.mainShowCaseImg {
    
    margin-left:10px;
    
}

.sidebarShowcaseComponent  table  tbody  tr  td  table  tbody  tr  td  div  {

  /* padding:5px 3px 5px 10px;*/
    
   
  
}

.Halworld_Showcase {
   
   display:none; 
    
}

.holdsShowcaseImage {

    margin-left:0px !important;
    width:100% !important;
   
    
}

.holdsShowcaseTitle {

    margin-left:10px !important;

}

.holdsShowcaseDescription {

    margin-left:10px !important;
    max-width:220px;
   
}
.sidebarShowcaseComponent > table
{
    margin-right: 5px!important;
}

.sidebarShowcaseComponent > table > tbody > tr > td > table 
{
    position:relative;
    left:0px;
}


/***** End showcase *****/

/****** start container component ********/

.containerComponent  > .containerComponentColumn {
	width:350px;
	float:left;
	overflow:visible;	
	background-color: #FDFDF9;
	margin-right: 10px;
	margin-top:10px !important;
}



.containerComponent > .containerComponentColumn > .containerComponentColumnInner {
    background-image:none;
    background-repeat: no-repeat;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    margin-bottom: 15px;
    min-height: 245px;
}

.containerComponentColumnInner #containerComponentMast {

    display:none;

}

.containerComponent > .containerComponentColumn > .containerComponentColumnInner h2#containerComponentHeader {

    border-bottom:1px solid #cccccc;
    padding-bottom:10px;
    color:#cc0000;
    font-weight:bold;

}
/****** end container component ********/

/******** start Product List Component *************/

#productsProductListComponent > .productList > table {

    width:100%;
    border:1px solid #cccccc;
    padding:5px;
    clear:both;

}

#productsProductListComponent > .productList > table tr {
    
    padding:0px 3px 0px 0px !important;

}

#productsProductListComponent > .productList > table td {

    padding:0px 5px 0px 5px !important;
    
}

#productsProductListComponent > .productList > table td a {

    color:#363636;
    font-weight:bold;
    text-decoration:none;

}

#productsProductListComponent > .productList > table td a:hover {

    color:#363636;
    
}
.productListDescr {

    border-bottom:1px solid #cccccc;
    padding:0px 0px 10px 0px;
    margin-bottom:5px;
    color:#363636;
}

#productsProductListComponent > .productList > table tr:last-child .productListDescr {

    border-bottom:0px solid #cccccc;

}


.productList > table > tbody > tr > td > input {

    padding-top:5px;
    border:0px !important;
    outline:0;

}
/******** end Product List Component *************/

/********** begin Product Landing Component ******/


#productLandingComponent > div {

    background-color: #ffffff;
    background-image: none;
    width:210px !important;
    margin-right:20px !important;

}

#productLandingComponent div img {

    display:none !important;

}

/********** end Product Landing Component ********/

/******** start document listing component *******/

.halcomDocListing {

   
   display:inline !important;
  
   
}
.halcomDocListing a {

   
    width:92px !important;
    height:26px !important;
    display:block !important;
    float:left;
    margin-left:5px;
    font-size:10px;
    text-decoration:none;
    vertical-align:middle;
    line-height:26px;
    padding-left:4px;
    font-weight:bold;
    position:relative;
}

.halMainDocTable a {
    
    font-weight:bold;
    font-size:12px !important;
    
}

.halMainDocTable span  {
    
    font-size:.9em;
    
}

.halMainDocTable tr td table tr:first-child {

    background-color:#f1f1f1 !important;

}
.halcomDocListing a.collapseLink {

    background:url(../img/collapse_back.png)/*tpa=http://www.halliburton.com/web-resources/common/img/collapse_back.png*/ no-repeat 0px 0px  !important;
    padding-bottom:5px !important;
}

.halcomDocListing a.expandLink {

    background:url(../img/expand-collapse_back.png)/*tpa=http://www.halliburton.com/web-resources/common/img/expand-collapse_back.png*/ no-repeat 0px 0px  !important;
    padding-bottom:5px !important;
}
.commonDocListing {
    
    display:none;
    
}

.CommonDataGridImage {
    
    display:none;
}

.HalcomDataGridImage {
    
    
    display:none;
    
}

/****** end document listing component ********/

/*********** start spotlight ***************/

.spotlightComponent	{
	background:none;
	border:0px solid #cccccc;
	overflow:hidden;
	margin:0px 0px 0px 0px;
	padding:0px;
	clear:both;
	
}

.spotlightComponent .spotlightBody	{
	
	border-left:1px solid #cccccc;
	border-top:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	float:left;
	position:relative;
	width:100%;
	text-align:left;
}


.spotlightComponent .spotlightBody .spotlightImage img {
	padding:5px 5px 5px 5px;
	width:85px;
	height:85px;
	margin:10px 10px 10px 5px;
	position:relative;
	border:1px solid #ccc !important;
	border-radius:5px;
	
}

.spotlightComponent .spotlightBody h2 {

    margin-top:6px !important;
    padding:0px 15px 0px 0px;

}
.spotlightComponent .spotlightBody h2 a 
{
    padding:10px 0px 0px 0px;
	font-size: 16px;
	line-height: 18px;
	text-align:left;
	text-decoration:none;
	color:#363636 !important;
}

#genericSpotlight {

    display:none;

}

#halcomSpotlight {

    display:inline !important;

}

#halcomSpotlight .spotlightBody {

   /*  background:#ffffff url(/web-resources/common/img/spotlightBackground.png) repeat-y 430px 0px; */
   background:#ffffff;
   cursor:pointer;

}

.spotlightComponent .spotlightBody td {
    width: 100%;
    text-align: left;
}

#halcomSpotlight .spotlightBody:hover {

  /*   background:#f1f1f1 url(/web-resources/common/img/spotlightBackground.png) repeat-y 430px 0px; */
  background:#f1f1f1;

}
#halcomSpotlight  .spotlightBody .view_details {
	width:27px;
	min-height:32px;
	background:url('../img/spotlightArrow.png')/*tpa=http://www.halliburton.com/web-resources/common/img/spotlightArrow.png*/ 0px 40px no-repeat !important;
	float:none;
	position:relative;
	right:auto;
	bottom:0px;
	border-left:1px solid #cccccc;
	
	
}

#halcomSpotlight .spotlightBody .spotlightPara {
	width: 85%;
	padding:0px 0px 0px 0px;
	text-align:left;
	margin-bottom:5px;
	padding-bottom: 0px;
	padding-left:0px;
}



/**************  end spotlight *****************

/************** start tools and resources ********/

#toolsAndResourcesComponent {
    display: inline;
    float: left;
    padding: 0px 0px 0px 0px;
    width: 100%;
    float: left;
    border: 0px solid #CCCCCC;
}

#toolsAndResourcesComponent > #content_twoCol {
    background: none;
    display: inline;
    float: left;
    padding-bottom: 20px;
    margin-left: 0px;
    width: 100% !important;
    border-right: 0px solid #D4D4D4;
}

#toolsAndResourcesComponent > #content_twoCol > .toolsAndResourcesHomeComponent > div div.two_col_top {
   display:none;
}

#toolsAndResourcesComponent > #content_twoCol > .toolsAndResourcesHomeComponent > .featured_twoCol {

    display:none;
}

#toolsAndResourcesComponent > #content_twoCol > .toolsAndResourcesHomeComponent > .content_twoCol_left {
    background-color: #ffffff;
    background-image: none;
    background-repeat: no-repeat;
    display: inline;
    margin-left: 0px;
    float: left;
}

#toolsAndResourcesComponent > #content_twoCol > .toolsAndResourcesHomeComponent > .content_twoCol_right {
    background-color: #ffffff;
    background-image: none;
    background-repeat: no-repeat;
    display: inline;
    float: left;
    margin-right: 0px;
    margin-left:8px;
}

#toolsAndResourcesComponent > #content_twoCol > .toolsAndResourcesHomeComponent > .content_twoCol_left>.icon {
    width: 372px;
    height: 20px;
    font-size: 18px;
    line-height: 20px;
    color: #cc0000;
    padding: 15px 0px 5px 0px;
    font-weight: bold;
    vertical-align: middle !important;
    border-bottom:1px solid #cccccc;
    border-top:8px solid #363636;
}

#toolsAndResourcesComponent > #content_twoCol > .toolsAndResourcesHomeComponent > .content_twoCol_left > .icon > .icon_Title {
    font-size: 18px;
    line-height: 18px;
    color: #cc0000;
    font-weight: normal;
    padding: 0px 0px 10px 20px;
    margin-bottom:10px;
}

#toolsAndResourcesComponent > #content_twoCol > .toolsAndResourcesHomeComponent > .content_twoCol_left > .h3Title {
    margin-left: 0px;
    width: 372px;
    margin-bottom:5px;
}

#toolsAndResourcesComponent > #content_twoCol > .toolsAndResourcesHomeComponent > .content_twoCol_right > .icon div.icon_Title {
    padding: 0px 0px 0px 20px;
}

#toolsAndResourcesComponent > #content_twoCol > .toolsAndResourcesHomeComponent > .content_twoCol_right > .h3Title {
    margin-left: 0px;
    width: 388px;
    margin-bottom:5px;
}

#toolsAndResourcesComponent > #content_twoCol > .toolsAndResourcesHomeComponent > .content_twoCol_right >.icon {
    width: 389px;
    height: 20px;
    font-size: 18px;
    line-height: 20px;
    color: #cc0000;
    padding: 15px 0px 5px 0px;
    font-weight: bold;
    vertical-align: middle !important;
    border-bottom:1px solid #cccccc;
    border-top:8px solid #363636;
}

#toolsAndResourcesComponent > #content_twoCol > .toolsAndResourcesHomeComponent > .content_twoCol_right > p.h3P, #toolsAndResourcesComponent > #content_twoCol > .toolsAndResourcesHomeComponent > .content_twoCol_left > p.h3P {
    text-align: right;
    margin-right: 0px;
    width:99%;
    height:35px;
    max-width:365px;
    
}

.toolsArrow {

    display:block !important;

}
#toolsAndResourcesComponent > #content_twoCol > .toolsAndResourcesHomeComponent > .content_twoCol_left > .h3Title > .toolsSection > .h3 {
    color: #363636;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    line-height:30px;
    padding-left:20px !important;
}

#toolsAndResourcesComponent > #content_twoCol > .toolsAndResourcesHomeComponent > .content_twoCol_right > .h3Title > .toolsSection > .h3 {
    color: #363636;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    line-height:30px;
    padding-left:20px !important;
}

.toolsSection {

    background:#ffffff;
    cursor:pointer;
}

.toolsSection:hover {

    background:#f1f1f1;

}

.content_twoCol_left .toolsSection {
    
    padding:0px 0px 0px 0px;
   
}

.content_twoCol_right .toolsSection {
    
    padding:0px 0px 0px 0px;
   
}

#toolsAndResourcesComponent > #content_twoCol > .toolsAndResourcesHomeComponent > .content_twoCol_right > .h3Title .toolsSection .h3 {
    color: #363636;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    
}

#toolsAndResourcesComponent > #content_twoCol > .toolsAndResourcesHomeComponent > .content_twoCol_left > .h3P > .h3, #toolsAndResourcesComponent > #content_twoCol > .toolsAndResourcesHomeComponent > .content_twoCol_right > .h3P > .h3 {
    border: 1px solid #ccc;
    width: 60px;
    height: 25px;
    padding: 5px;
    
    float: right;
    vertical-align: middle;
    line-height: 25px;
    background: url(../../../public/pubsdata/Home_Page/images/checkmark.png)/*tpa=http://www.halliburton.com/public/pubsdata/Home_Page/images/checkmark.png*/;
    background-repeat: no-repeat;
    background-position: 5px 9px;
    background-color:#ffffff;
    color: #363636 !important;
    text-decoration: none !important;
    
    display: block;
    text-align: right;
    opacity:1.0;
    filter:alpha(opacity=100); /* For IE8 and earlier */
}

#toolsAndResourcesComponent > #content_twoCol > .toolsAndResourcesHomeComponent > .content_twoCol_left > .h3P > .h3:hover, #toolsAndResourcesComponent > #content_twoCol > .toolsAndResourcesHomeComponent > .content_twoCol_right > .h3P > .h3:hover {
    
    opacity:0.4;
    filter:alpha(opacity=40); /* For IE8 and earlier */
}

#toolsAndResourcesComponent > #content_twoCol > .toolsAndResourcesHomeComponent > .content_twoCol_right > .h3P  {
    
    max-width:382px !important;
    
}

#toolsAndResourcesComponent > #content_twoCol > .toolsAndResourcesHomeComponent > .content_twoCol_right > .h3Title > p.h3P, #toolsAndResourcesComponent > #content_twoCol > .toolsAndResourcesHomeComponent > .content_twoCol_left > .h3Title .toolsSection {
    text-align: left;
    margin-right: 0px;
    margin-top: 0px;
    overflow:hidden;
}

.icon > div > img {

    display:none;

}

.tools_description_div {

    border-bottom:1px solid #cccccc;
    padding-left:20px;

}



/************** end tools and resources ********/

/************** Begin Contact Us ********************/

#the_map {
    z-index: 3; 
    position: relative;
    width: 100% !important;
    height: auto !important; 
    top: 0px !important;
    left: 0px !important;
}

#map_base {
   display:none;
}

#map_base img {
    
    display:none;
}

#location_table {
    display:none;
}

#location_table th {
    display:none;
}

#location_table td {
    background:none !important;
    border-bottom: 0px #989898 solid !important;
    border-right: 0px #989898 solid !important;
    padding: 15px 0 15px 15px;
}

#location_table h6 {
    color: #363636 !important;
    font-size: 18px;
    border-bottom:1px solid #cccccc;
    margin:0px 0px 3px 0px !important;
    padding-left:0px !important;
    height:20px;
    
}
.location_thumbnail {
    border: 1px #989898 solid;
    float: left;
    margin-right: 10px !important; 
    margin-bottom: 20px;
    white-space: nowrap;
    
}

.info_button2 {
    float: right;
    display: block;
    margin-top: 10px;
    margin-left:10px;
    margin-bottom: 25px;
    width: 29px;
    height: 33px;
}

#corp_table {
    display:none;
}

#mast_case {
    width: 100% !important;
    height: auto !important;
    position: relative;
    top: 0px !important;
    left: 0px !important;
    z-index: 0!important;
    margin-right: 0px !important;
    margin-bottom:10px;
}
#mast_case img {
    width: 100% !important;
    height: 148px !important;
    
}
#location_sub_table {
    background:none !important;
    margin: 0 0 0 0px !important;
    border-top: 0px #989898 solid !important;
    border-left: 1px #cccccc solid !important;
    width:100% !important;
    
}
#location_sub_table td {
    border-bottom: 1px #cccccc solid !important;
    border-right: 1px #cccccc solid !important;
    
}
.location_sub_table_h5-Sub {
    color: #363636 !important;
    font-size: 14px !important;
    font-weight: bold;
    padding-bottom: 2px;
    width:100%;
    
}
#location_sub_table th {
    background: #f1f1f1 !important;
    line-height: 36px !important;
    color: #363636 !important;
    font-size: 18px;
    padding-left: 15px;
    text-align: left;
    border-right:1px solid #cccccc;
    border-bottom:1px solid #cccccc;
    border-top:1px solid #cccccc;
    
}

#location_sub_table tr:nth-child(odd) {
   background:#f1f1f1;
    
}


#location_sub_table p {
    padding-left: 0px !important;
    padding-right:0px;
    padding-bottom:0px !important;
    padding-top:0px !important;
    margin-bottom:0px !important;
    margin-left:0px !important;
    position:relative;
    top:-15px;
}
#location_sub_table h6 {
    color: #363636 !important;
    font-weight:bold;
    font-size: 14px !important;
    padding-bottom: 0px !important;
    line-height:4px;
    white-space:nowrap;
}

p.body {
    
    margin-top:10px !important;
}
.mapit_button a {
    background: url(Unknown_83_filename)/*tpa=http://www.halliburton.com/public/locations/pubsdata/images/map_button.png*/ no-repeat !important;
    
}
.mapit_button a:hover {
	background-position: 0 -20px !important;
}

/************** End Contact Us ********************/

/******start mobile downloads homepage *******/

.halcomHomeComponents > #home_bottom_wrapper > #home_bottom_right a {

    color:#363636 !important;

}

.halcomHomeComponents > #home_bottom_wrapper > #home_bottom_right a {

    color:#363636 !important;

}

.downloads 
{
 
    padding:10px 0px 10px 3px;   
    
}
.downloads tr {
    
    background:#ffffff;
}

.downloads tr:hover {
    
    background:#f1f1f1;
}

.downloads tr:last-child {
    
    background-color:#ffffff;
}

.downloads tr:last-child:hover {
    
    background-color:#ffffff !important;
}

/******end mobile downloads homepage *******/

/***** START RECAPTCHA STYLE *****/
#recaptcha_area 
{
    margin-left: 60px;
    margin-bottom:20px;
}

/****** Begin footer *********/

#footerWrapper {
	background-color: #CC0000;
	border-top: 0px solid #CC0000;
	margin-top: 10px;
	text-decoration: none;
	color: #ffffff;
}

.socialFooterIcon img {
    
    opacity:1.0;
    filter:alpha(opacity=100);
    background:#C00;
    
}

.socialFooterIcon img:hover {
    
    opacity:0.7;
    filter:alpha(opacity=70);
    background:#C00;
    
}

/***** End Footer ***********/

/* PRINT VERSION */
@media print
{
	div, span
	{
		position: static!important;
		margin-left: 0!important;
		margin-right: 0!important;
		border-right: 0 none!important;
		border-left: 0 none!important;
		float: none!important;
	}
	
	#globalNavArea, #pageWrapper, #ls-gen41842108-ls-fxr, #ls-gen41842108-ls-fxr, #ls-gen41842112-ls-fxr, #footerArea
	{
		width: 100%!important;
		height: auto!important;
	}
	
	#pageWrapper
	{
		margin-top: 0px!important;
	}
	
	#centerColumn
	{
		width: 100%!important;
		margin: 0!important;
		border-top-right-radius: 0px!important;
	}
	
	#footerWrapper 
	{
	    background: #FFFFFF!important;
	    background-color:#FFFFFF!important;
	    color:#000!important;
	}
	
	#HalLegalFooter ul li,#HalLegalFooter ul li *
	{
	    color:#000!important;
	}
}