/* FONT Settings */
@font-face {
	font-family: 'open_sanslight';
	src: url('../fonts/OpenSans-Light-webfont.eot')/*tpa=http://www.newmont.com/files/fonts/OpenSans-Light-webfont.eot*/;
	src: url('../fonts/OpenSans-Light-webfont.eot-#iefix')/*tpa=http://www.newmont.com/files/fonts/OpenSans-Light-webfont.eot?#iefix*/ format('embedded-opentype'), url('../fonts/OpenSans-Light-webfont.woff')/*tpa=http://www.newmont.com/files/fonts/OpenSans-Light-webfont.woff*/ format('woff'), url('../fonts/OpenSans-Light-webfont.ttf')/*tpa=http://www.newmont.com/files/fonts/OpenSans-Light-webfont.ttf*/ format('truetype'), url('../fonts/OpenSans-Light-webfont.svg#open_sanslight')/*tpa=http://www.newmont.com/files/fonts/OpenSans-Light-webfont.svg#open_sanslight*/ format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sansregular';
	src: url('../fonts/OpenSans-Regular-webfont.eot')/*tpa=http://www.newmont.com/files/fonts/OpenSans-Regular-webfont.eot*/;
	src: url('../fonts/OpenSans-Regular-webfont.eot-#iefix')/*tpa=http://www.newmont.com/files/fonts/OpenSans-Regular-webfont.eot?#iefix*/ format('embedded-opentype'), url('../fonts/OpenSans-Regular-webfont.woff')/*tpa=http://www.newmont.com/files/fonts/OpenSans-Regular-webfont.woff*/ format('woff'), url('../fonts/OpenSans-Regular-webfont.ttf')/*tpa=http://www.newmont.com/files/fonts/OpenSans-Regular-webfont.ttf*/ format('truetype'), url('../fonts/OpenSans-Regular-webfont.svg#open_sanslight')/*tpa=http://www.newmont.com/files/fonts/OpenSans-Regular-webfont.svg#open_sanslight*/ format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sanssemibold';
	src: url('../fonts/OpenSans-Semibold-webfont.eot')/*tpa=http://www.newmont.com/files/fonts/OpenSans-Semibold-webfont.eot*/;
	src: url('../fonts/OpenSans-Semibold-webfont.eot-#iefix')/*tpa=http://www.newmont.com/files/fonts/OpenSans-Semibold-webfont.eot?#iefix*/ format('embedded-opentype'), url('../fonts/OpenSans-Semibold-webfont.woff')/*tpa=http://www.newmont.com/files/fonts/OpenSans-Semibold-webfont.woff*/ format('woff'), url('../fonts/OpenSans-Semibold-webfont.ttf')/*tpa=http://www.newmont.com/files/fonts/OpenSans-Semibold-webfont.ttf*/ format('truetype'), url('../fonts/OpenSans-Semibold-webfont.svg#open_sanslight')/*tpa=http://www.newmont.com/files/fonts/OpenSans-Semibold-webfont.svg#open_sanslight*/ format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sansbold';
	src: url('../fonts/OpenSans-Bold-webfont.eot')/*tpa=http://www.newmont.com/files/fonts/OpenSans-Bold-webfont.eot*/;
	src: url('../fonts/OpenSans-Bold-webfont.eot-#iefix')/*tpa=http://www.newmont.com/files/fonts/OpenSans-Bold-webfont.eot?#iefix*/ format('embedded-opentype'), url('../fonts/OpenSans-Bold-webfont.woff')/*tpa=http://www.newmont.com/files/fonts/OpenSans-Bold-webfont.woff*/ format('woff'), url('../fonts/OpenSans-Bold-webfont.ttf')/*tpa=http://www.newmont.com/files/fonts/OpenSans-Bold-webfont.ttf*/ format('truetype'), url('../fonts/OpenSans-Bold-webfont.svg#open_sanslight')/*tpa=http://www.newmont.com/files/fonts/OpenSans-Bold-webfont.svg#open_sanslight*/ format('svg');
	font-weight: normal;
	font-style: normal;
}
.blog-details-view .pagination {
	display: none;
}
.sbHolder .sbOptions {
    z-index: 99999;
}
.blog-post .social-icons {
	display:none;
	padding-top: 10px;
}
.blog-details-view .social-icons {
	display:block;
	font-size: 20px;
}
.blog-details-view .social-icons a {
	margin-left: 5px;
}


/* =========== CASE STUDY LIBRARY =========== */

.caseStudyGallery .caseTitle .img {
  display: block;
  position: relative;
  height: 165px;
  width: 165px;
  margin-bottom: 5px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.caseStudyGallery .caseTitle .img .thumbShade {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.caseStudyGallery .caseTitle:hover .img .thumbShade {
  background: rgb(0, 0, 0);
  background: transparent\9;
  background: rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#88000000, endColorstr=#88000000);
  zoom: 1;
}
.caseStudyGallery .caseTitle .img:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  font-family: 'open_sansbold', sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin-top: -10px;
  text-align: center;
  text-decoration: underline;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.caseStudyGallery .caseTitle.noFancybox .img:after { 
  display: none; 
 }
.caseStudyGallery .caseTitle:hover .img:after {
  content: "VIEW";
  top: 50%;
}

.caseStudyGallery .case-item {
  /* margin: 0 1%; */
  list-style: none;
}


.caseStudyGallery .caseTitle {
  display: block;
  text-decoration: none;
  border: 0 none;
  color: #666;
  text-align: left;
  font-size: 11px;
}

.caseStudyDetails .ModuleDate {
    display: none;
}

.caseStudyGallery .news-tags span {
    margin-right: 10px;
}

.caseStudies {
    display: block;
    width: 165px;
    margin-right: 2%;
    margin-bottom: 2%;
    float: left;
    min-height: 230px;
}

.caseStudies ul {
    padding: 0px;
    margin: 0px;
}

.caseStudyList {
    margin-top: 3%;
    margin-left: 2%;
}

.caseStudyDetails .social-icons {
    float: right;
}

.caseStudyDetails .social-icons a {
    border-bottom: 0px;
    font-size: 20px;
    margin-left: 5px;
}

.case-search {
  background-color: #43697d;
  border-radius: 2px;
  width: 40px;
  height: 22px;
  color: #43697d;
  display: inline-block;
  float: right;
  background: #43697d url(../../../newmont2014.q4web.com/files/design/search-icon-small.png)/*tpa=http://newmont2014.q4web.com/files/design/search-icon-small.png*/ center center no-repeat;
  cursor: pointer;
}