body {
	background: transparent;
	width: 1000px;
	margin: 0 auto;
}
* {
	font-family: Arial, sans-serif !important;
}
.HeaderInner {
	position: static;
}
.PaneHeader { padding-top: 0; }
.PaneHeader > span > span > *,
.PaneHeader2 > span > * { display: none !important; }
.PaneHeader2 > span > .HeadFacts,
.PaneHeader2 > span > .HeadFacts .HeadFactsInner,
.PaneHeader2 > span > .PageTitle  {
	display: block !important;
	position: static !important;
}
.PaneHeader > span > span > .Logo {
	display: block !important;
	margin: 0 auto;
	padding: 20px;
	float: none;
	text-align: center;
}
.LayoutHomePage .PaneContentInner,
.PaneContentInner {
	background: transparent;
	border: 0 none;
	-moz-box-shadow: 0 0 0 transparent;
	-webkit-box-shadow: 0 0 0 transparent;
	box-shadow: 0 0 0 transparent;
}

.wrapper {
	min-height: 0;
	margin-bottom: 0;
}
#footer, .wrapper:after {
	height: auto !important;
}
#footer {
	background: transparent;
}
.PaneFooter2 {
	padding: 0;
}
.PaneFooter2 .container {
	margin: 0;
	width: 100%;
	border-top: 1px solid #999;
}
.PaneFooter,
.Q4Footer {
	display: none;
}

/* content */
.accordionTrigger { display: none; }
.accordionContent,
.PersonDetailsContainer,
.FaqAnswer { display: block !important; }

.SecNav .level4,
.L3secNav .SecNav .level3,
.SectionL3secNav .SecNav .level3,
.tabsControls {
	background: transparent;
	-moz-box-shadow: 0 0 0 transparent;
	-webkit-box-shadow: 0 0 0 transparent;
	box-shadow: 0 0 0 transparent;
}
.SecNav .level4 a,
.L3secNav .SecNav .level3 a,
.SectionL3secNav .SecNav .level3 a,
.tabsControls li span,
.tabsControls li a {
	color: #ccc;
}
.SecNav .level4,
.SectionL3secNav .SecNav .level3,
.tabsControls {
	border-bottom: 1px solid rgba(0, 0, 0, .2)
}
.SecNav .level4 .selected a,
.L3secNav .SecNav .level3 .selected a,
.SectionL3secNav .SecNav .level3 .selected a,
.tabsControls li.active span,
.tabsControls li.active a {
	color: #666;
	background: #fff;
	position: relative;
	top: 1px;
}
.SectionNavInner .drop, .SectionNavInner .dropNoF, .SectionSelected .drop { display: none; }

.HeadFactsInner {
	background: transparent;
	padding: 10px 10px 20px;
	color: #666;
	font-size: 14px;
}
.HeadFactsInner h1 {
	color: #666;
	font-size: 16px;
}
.Breadcrumb.PageTitle {
	color: #666;
}
.contentSlider .description {
	background: #fff !important;
	background: rgba(255,255,255,1) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	color: #666;
}
.contentSlider .description:after { display: none; }
.contentSlider .description h1, .contentSlider .description p {
	color: #666;
}
.contentSlider .description .mapLink {
	background: #eee !important;
}
.contentSlider .description h1,
.contentSlider .description a { color: #666; } 
.contentSlider .cycle-pager { display: none; }


.highlights .description { display: none !important; }
.highlights .top {
	min-height: 0;
}
.highlights .top img { display: none; }
.highlights .links {
	position: static;
}
.SectionInvestorRelations .bgColor, .SectionInvestorRelations .highlights .bgColor {
	background: transparent !important;
}
.highlights .links a,
.highlights .links a:hover,
.highlights .links a.active { color: #333 !important; }
.highlights .links .desc { display: block !important; }