.number_slideshow{   
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    position: relative;
    display: block;
    border:0;
    bottom: 20px;
    right:18px;
}
.number_slideshow .number_slideshow_nav ul{
    filter: alpha(opacity=100);
    opacity: 1.0;
    padding: 0px;
    margin: 0px;
    position: relative;   
    right: 10px;   
    top:350px;
   
}
.number_slideshow .number_slideshow_nav li{    
   border-right: 2px solid white;
    float: left;
    font-size: 17px;
    height: 25px;
    //left: 790px;
    margin-left: 6px;
    position: relative;
    text-align: center;
    top: 330px;
	list-style: none;
    width: 35px;
}

.number_slideshow ul{
    margin: 0px;
    background-position:center center;
    background-repeat: repeat;
}
.number_slideshow ul li{
    padding: 0px;
    margin: 0px;
    list-style: none;
    position: absolute;
    font-size: 25px;
}
.number_slideshow ul li p{
    margin: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    padding-left: 5px;
    padding-right: 5px;
    filter: alpha(opacity=100);
    opacity: 1.0;
   
}
.number_slideshow ul li a img{
    border: none;
    
}