.simple-header-module{position:relative;color:#484848}
.simple-header-module .two-columns{overflow:hidden}
.simple-header-module .column{padding-top:10px}
.simple-header-module .content-inner{padding:0 0 10px 0;position:relative}
.simple-header-module .back-to a{color:#484848}
.simple-header-module .link-product-category{text-align:left;font:normal 11px/12px Arial,sans-serif;padding:25px 0 0 0}
.small-header.simple-header-module{height:auto;min-height:0;text-align:center}
.small-header.simple-header-module h1{padding-bottom:15px;background:url(../img/header-shadow.png) bottom center no-repeat}
.top-container .simple-header-module h1{font-size:35px;line-height:39px;margin:0 0 5px}
.top-container .simple-header-module h2{font-size:25px;line-height:29px;margin:5px 0}
.pca-container .simple-header-module{background:#fff}
@media only screen and (min-width:320px){.simple-header-container{padding:20px 10px 0}
.simple-header-module h1{margin-top:0;font:35px/40px "PNC Sans Bold",Arial,sans-serif}
.csp-container .simple-header-container,.pca-container .simple-header-container{text-align:center}
.csp-container .simple-header-module h1,.pca-container .simple-header-module h1{border:0;background:url(/etc/designs/pnc-com/img/hdr_shadow_sh.png) no-repeat bottom center;display:inline-block;font:2.0em/1em "PNC Sans Bold",Arial,sans-serif;margin-bottom:0;min-width:170px;padding-bottom:14px}
.no-borderimage .pca-container .simple-header-module h1{border:0 none transparent;background:url(/etc/designs/pnc-com/img/hdr_shadow_sh.png) no-repeat center bottom;padding-bottom:20px}
.csp-container .simple-header-module h2,.pca-container .simple-header-module h2{font:1.5em/1em "PNC Sans Medium",Arial,sans-serif}
.csp-container .simple-header-module h3,.pca-container .simple-header-module h3{font:1.2em/1em Arial,sans-serif}
.adp-container .simple-header-module h1,.thank-you-container .simple-header-module h1{margin:0}
.adp-container .simple-header-module h2,.thank-you-container .simple-header-module h2{font:25px/28px "PNC Sans Light",Arial,sans-serif;margin:0}
.adp-container .simple-header-module h3,.thank-you-container .simple-header-module h3{font:16px/18px "PNC Sans Medium",Arial,sans-serif;margin:10px 0}
.adp-container .simple-header-module h3 b,.thank-you-container .simple-header-module h3 b{font-family:"PNC Sans Bold",Arial,sans-serif}
.simple-header-module p{font:12px/14px Arial,sans-serif}
}
@media only screen and (min-width:600px){.simple-header-container{padding:20px 0 0}
.simple-header-module .back-to{padding-left:10px}
.simple-header-module .column{float:left;width:45%;padding-right:3%}
.simple-header-module .column:last-child{padding-right:0}
.simple-header-module .content-inner{width:620px;margin:0 auto;padding-top:20px;padding-bottom:40px}
.adp-container .simple-header-module .content-inner,.thank-you-container .simple-header-module .content-inner{padding-bottom:0}
.csp-container .simple-header-container,.pca-container .simple-header-container{text-align:center}
.csp-container .simple-header-module h1,.pca-container .simple-header-module h1{border:0;background:url(/etc/designs/pnc-com/img/hdr_shadow_sh.png) no-repeat bottom center;display:inline-block;font:2.0em/1em "PNC Sans Bold",Arial,sans-serif;margin-bottom:0;min-width:170px;padding-bottom:14px}
.no-borderimage .pca-container .simple-header-module h1{border:0 none transparent;background:url(/etc/designs/pnc-com/img/hdr_shadow_sh.png) no-repeat center bottom;padding-bottom:20px}
.csp-container .simple-header-module h2,.pca-container .simple-header-module h2{font:1.5em/1em "PNC Sans Medium",Arial,sans-serif}
.csp-container .simple-header-module h3,.pca-container .simple-header-module h3{font:1.2em/1em Arial,sans-serif}
}
@media screen and (min-width:980px){.simple-header-container{padding:20px 0 0}
.simple-header-module .content-inner{width:940px;margin:0 auto}
.csp-container .simple-header-module h1,.pca-container .simple-header-module h1{font:2.0em/1em "PNC Sans Bold",Arial,sans-serif}
.csp-container .simple-header-module h2,.pca-container .simple-header-module h2{font:1.5em/1em "PNC Sans Medium",Arial,sans-serif}
.csp-container .simple-header-module h3,.pca-container .simple-header-module h3{font:1.2em/1em Arial,sans-serif}
.simple-header-module .back-to{position:static}
}
.live-help{display:none}
.lpChatButtonSpSm a{font-size:1px;line-height:1px}
@media only screen and (min-width:600px){.live-help{display:block;position:fixed;right:0;top:260px;z-index:501}
.live-help a{color:#0e6aa8;text-decoration:none}
.live-help .btn-live-help{background:url(../img/sprite_btn_live_help_sm.png) no-repeat;display:block;font:12px/40px "PNC Sans Bold",Arial,sans-serif;height:40px;position:relative;text-shadow:1px 1px 1px #fff;text-transform:uppercase;width:51px;white-space:nowrap;text-indent:51px;overflow:hidden}
.live-help .btn-live-help:hover{background-position:0 -40px}
.live-help.open .btn-live-help{background:url(../img/btn_live_help_open.png) no-repeat;height:36px;text-indent:16px;width:231px}
.live-help.open .btn-live-help span{visibility:hidden}
.live-help .live-help-panel{background:url(../img/bg_live_help.png) no-repeat;background-size:auto 100%;display:none;min-height:129px;overflow:hidden;padding:0 18px;position:relative;top:0;width:195px}
.live-help .live-help-panel{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/etc/designs/pnc-com/img/bg_live_help.png',sizingMethod='scale');-ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader( src='/etc/designs/pnc-com/img/bg_live_help.png', sizingMethod='scale')"}
.live-help .live-help-panel.open{display:block}
.live-help .live-help-liveperson,.live-help .live-help-telephone{padding:12px 0}
.live-help .live-help-telephone{border-top:1px solid #dadada}
.live-help .live-help-panel h6{color:#484848;font:14px/16px "PNC Sans Bold",Arial,sans-serif;margin:4px 0}
.live-help .live-help-liveperson h6 a{background:url(../img/icon_liveperson.png) no-repeat left top;display:inline-block;line-height:24px;min-height:19px;padding-left:30px}
.live-help .live-help-liveperson h6 a:hover{text-decoration:underline}
.live-help .live-help-panel p{color:#484848;font:12px/14px "PNC Sans Regular",Arial,sans-serif;margin:8px 0}
.live-help .live-help-panel p b{font:12px/14px "PNC Sans Bold",Arial,sans-serif}
.live-help .live-help-sched-row{margin:4px 0}
#lpChatButton{min-height:60px}
#lpChatButton .loading{margin:0 auto;display:block;padding-top:20px}
}
@media screen and (min-width:980px){.live-help .btn-live-help{background-image:url(../img/sprite_btn_live_help.png);width:101px;text-indent:12px}
.pdp-container .live-help{top:370px;z-index:400}
}
.global-container .live-help{position:static}
.global-container .live-help .live-help-panel{display:block}
.global-container .social-links{position:static}
.global-container .social-links .share .flyout{display:block;position:static}
.cq-element-share,.cq-element-share>.share{position:relative;width:400px}
.social-links{display:none;position:absolute;list-style-type:none;padding:0;right:0;margin:0;top:12px}
.social-links li{display:block;float:left;padding:0}
.social-links a{display:block;background:url(../img/com_ico_share_hero.png) no-repeat;width:50px;height:50px;overflow:hidden;cursor:pointer}
.social-links li:first-child{margin-left:0}
.social-links .share{position:relative;padding:6px;background:rgba(255,255,255,.38);border:1px solid #ddd}
.social-links .share .flyout{position:absolute;display:none;background:url('../img/com_ico_share_hero.png') no-repeat scroll left top transparent;z-index:1;right:51px;top:49px;padding-top:17px}
.social-links .share>a{background-position:-200px -17px;padding-left:46px;height:39px;width:auto}
.social-links .share>a span{height:40px;line-height:40px;text-transform:uppercase;color:#484848;font-size:11px}
.social-links .email a{background-position:-98px -12px}
.social-links .share ul{overflow:hidden;margin:0;padding:0;display:block;width:200px}
.social-links .share ul span{visibility:hidden}
.social-links .facebook a{background-position:0 -17px}
.social-links .facebook a:hover{background-position:0 -67px}
.social-links .google a{background-position:-100px -17px}
.social-links .google a:hover{background-position:-100px -67px}
.social-links .twitter a{background-position:-50px -17px}
.social-links .twitter a:hover{background-position:-50px -67px}
.social-links .linkedin a{background-position:-150px -17px}
.social-links .linkedin a:hover{background-position:-150px -67px}
.social-links .share h6{font-size:14px;line-height:22px;margin:12px 0 0}
.social-links .share p{font-size:12px;line-height:20px;margin:0 0 3px}
.social-links .share input{font-size:12px;padding:5px 10px;width:245px}
@media only screen and (min-width:980px){.social-links{display:block}
}