.nav ul li a:hover,.nav ul li a.active,
.nav ul li.current-menu-item a,
.nav ul li.current-page-ancestor a {
  background: #214873; /* Old browsers */
  background: -moz-linear-gradient(top,  #214873 0%, #254c77 8%, #284d77 15%, #33567e 30%, #476b8f 73%, #537497 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#214873), color-stop(8%,#254c77), color-stop(15%,#284d77), color-stop(30%,#33567e), color-stop(73%,#476b8f), color-stop(100%,#537497)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #214873 0%,#254c77 8%,#284d77 15%,#33567e 30%,#476b8f 73%,#537497 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #214873 0%,#254c77 8%,#284d77 15%,#33567e 30%,#476b8f 73%,#537497 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #214873 0%,#254c77 8%,#284d77 15%,#33567e 30%,#476b8f 73%,#537497 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #214873 0%,#254c77 8%,#284d77 15%,#33567e 30%,#476b8f 73%,#537497 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#214873', endColorstr='#537497',GradientType=0 ); /* IE6-9 */
}
/*
.top-nav li .drop .drop-container {
  border-radius: 0 0 0px 10px;
  -webkit-border-radius: 0 0 0px 10px;
  -moz-border-radius: 0 0 0px 10px;
  behavior: url(/wp-content/themes/urs/include/css/PIE.htc);
  position: relative;
}
*/