.top-nav {
  /*margin-left: 100px;*/
  display: inline;
}
.nav ul li a {
  padding: 9px 22px 11px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
}
.nav ul li:hover a {
  font-size: 14px;
  font-weight: 600!important;
  letter-spacing: 1px;
}
.drop_down .sub-menu li a {
	font-size: 12px!important;
	line-height: .9em!important;
	padding: 7px 0px 7px 14px!important;
}
.logo{
  z-index:9999999;
  background: transparent url(../images/logo-bg.png)/*tpa=http://www.urs.com/wp-content/themes/urs/include/images/logo-bg.png*/ no-repeat;
}
.section-about .bottom-row,
.section-office .bottom-row {
  margin-top: 6px;
}
.section-market .mosaic article ul li {
  display: block;
  line-height: 14px;
  margin-top: 7px;
}
.bottom-row {
  margin-top: 7px;
}
.investor-tool p {
  float: left;
}
.spycard-shadow {
  display: block;
}
.share .media {
  border: 1px solid #ccc!important;
}
.search-container {
  z-index: -1;
}
.drop_down .sub-menu li a {
	font-size: 12px!important;
	line-height: 1em!important;
	padding: 7px 0px 7px 14px!important;
}
.section-market .mosaic article ul li {
  display: block;
  line-height: 14px!important;
  margin-top: 4px!important;
}
/*
.search-container .search-submit {
  right: 3px;
  top: -3px;
}
*/