.top-nav {
  /*margin-left: 119px;*/
  display:inline;
}
.nav ul.menu li a {
  padding: 9px 20px 11px 28px;
  letter-spacing: 0;
}
.drop_down .sub-menu li a {
	font-size: 10px;
}
.inner-footer .key-fact,
.coporation {
  width: 255px;
}
.market-left .darkblue p {
  padding: 18px 25px 21px 22px;
}
.bottom-row {
  margin-top: 0px!important;
}
.investors .wdth-two p {
  padding: 17px 0px 20px 15px;
}
.indivual-lft p {
  line-height: 18.5px;
}
.policy .banners .heading {
  padding: 5px 0 5px 12px;
}
.menus ul li a.why {
  padding-left:45px;
}
.drop_down .sub-menu li a {
	font-size: 12px!important;
	line-height: 1em!important;
	padding: 7px 0px 7px 14px!important;
}
.section-market .mosaic article ul li {
  display: block;
  line-height: 14px!important;
  margin-top: 4px!important;
}