/* ALLERGAN */

/* BASIC ELEMENTS
------------------------------------------------------------------------------------- */
* { margin: 0; padding: 0; }
html { min-height: 100%; margin-bottom: 1px; }

body { text-align: center; font-size: 12px; font-family: verdana, tahoma, sans-serif; color: #666; background: #060f1e; }
table, th, td, input, textarea, select { font-size: 12px; font-family: verdana, tahoma, sans-serif; color: #666; text-align: left; }

a img, :link img, :visited img { border: none; }

a:link { color: #0e4268; text-decoration: underline; }
a:visited { color: #0e4268; text-decoration: underline; }
a:hover, a:active { color: #0078cf; text-decoration: none; }

abbr { border-bottom:1px dotted #ccc; cursor:help; }
#skip { display: none; }

#container { margin: 0 auto; width: 990px; text-align: left; background: #fff; }
#header { position: relative; height: 110px; z-index: 50; background: #051e3d url(../../images/global/bg_header.jpg)/*tpa=http://www.allergan.com/assets/images/global/bg_header.jpg*/ no-repeat; }
#header.intl { height: 258px; background: url(../../images/global/bg_header_intl.jpg)/*tpa=http://www.allergan.com/assets/images/global/bg_header_intl.jpg*/ no-repeat; }
#popupheader { position: relative; z-index: 50; background: #051e3d url(../../images/global/bg_header.jpg)/*tpa=http://www.allergan.com/assets/images/global/bg_header.jpg*/ no-repeat; text-align:left;}

/* GLOBAL LOCATIONS
------------------------------------------------------------------------------------- */
#btn_locations 	{ position: absolute; top: 40px; left: 520px;}
#btn_locations li, #btn_locations li a { position: relative; float: left; }
#btn_locations li strong	{ position: absolute; top: 0px; left: 0px;  }
#btn_locations, #btn_locations li, #btn_locations li a, #btn_locations li a strong	{ display: block; list-style: none; width: 130px; height: 20px; background: url(../../images/global/btn_locations.gif)/*tpa=http://www.allergan.com/assets/images/global/btn_locations.gif*/ 0px 0px; color: #fff; text-decoration: none; cursor: pointer; }
#btn_locations li:hover a, #btn_locations li:hover a strong, #btn_locations li a:hover, #btn_locations li a:hover strong	{ background: url(../../images/global/btn_locations.gif)/*tpa=http://www.allergan.com/assets/images/global/btn_locations.gif*/ 0px -20px; }

/* Contact Us
------------------------------------------------------------------------------------- */
#btn_contact 	{ position: absolute; top: 40px; left: 690px; }
#btn_contact li, #btn_contact li a { position: relative; float: left; }
#btn_contact li strong	{ position: absolute; top: 0px; left: 0px; }
#btn_contact, #btn_contact li, #btn_contact li a, #btn_contact li a strong	{ display: block; list-style: none; width: 78px; height: 18px; background: url(../../images/global/btn_contact.gif)/*tpa=http://www.allergan.com/assets/images/global/btn_contact.gif*/ 0px 0px; color: #fff; text-decoration: none; cursor: pointer; }
#btn_contact li:hover a, #btn_contact li:hover a strong, #btn_contact li a:hover, #btn_contact li a:hover strong,
#btn_contact li.on a, #btn_contact li.on a strong, #btn_contact li.on a, #btn_contact li.on a strong,
#btn_contact li.on:hover a, #btn_contact li.on:hover a strong, #bth_contact li.on a:hover, #btn_contact li.on a:hover strong { background: url(../../images/global/btn_contact.gif)/*tpa=http://www.allergan.com/assets/images/global/btn_contact.gif*/ 0px -18px; }

.headsearch	{ position: absolute; top: 38px; left: 770px; }
	.headsearch .input	{ border: 3px double #000;  color: #fff; width: 130px;}

/* Search Button
------------------------------------------------------------------------------------- */
#btn_search li, #btn_search li a { position: relative; float: left; }
#btn_search li strong	{ position: absolute; top: 0px; left: 0px; }
#btn_search, #btn_search li, #btn_search li a, #btn_search li a strong	{ display: block; list-style: none; width: 78px; height: 18px; background: url(../../images/global/btn_search.gif)/*tpa=http://www.allergan.com/assets/images/global/btn_search.gif*/ 0px 0px; color: #fff; text-decoration: none; cursor: pointer; }
#btn_search li:hover a, #btn_search li:hover a strong, #btn_search li a:hover, #btn_search li a:hover strong	{ background: url(../../images/global/btn_search.gif)/*tpa=http://www.allergan.com/assets/images/global/btn_search.gif*/ 0px -18px; }

/* NAVIGATION
------------------------------------------------------------------------------------- */
#nav 	{ position: absolute; top: 77px; left: 77px; height: 33px; width: 913px; z-index: 101;}
#nav li { float: left; position: relative; height: 33px; width: 101px; list-style: none; z-index: 101;}
#nav li a { cursor: pointer; }
#nav li a, #nav li div { position: relative; display: block; height: 33px; width: 101px; text-decoration: none; color: #fff; font-size: 13px; }
#nav li strong { position: absolute; top: 0px; left: 0px; display: block; height: 33px; width: 101px; z-index: 101;}

/* IF NO DROP DOWNS ARE USED IN THE NAVIGATION YOU CAN REMOVE THE FOLLOWING STYLES DOWN TO THE LINE OF STARS */
/* DROP DOWNS */

#nav li table { margin: 0 -1px -1px; border-collapse: collapse; }
#nav li td { font-size: 10px; font-family: tahoma, verdana, sans-serif; }
#nav li:hover, * html #nav a:hover { position: relative; }
#nav li li a { font-size: 10px; text-align: left; }

/* FIRST LEVEL DROP DOWNS */
#nav li ul { display: none; }
#nav li:hover ul, #nav li a:hover ul { display: block; position: absolute; top: 33px; left: 0; width: 205px; background: #000 url(../../images/global/nav_bg.gif)/*tpa=http://www.allergan.com/assets/images/global/nav_bg.gif*/ repeat-y; }

#nav li:hover li, #nav li a:hover li { height: auto; width: 203px !important; border: 1px solid #333; margin: 4px 0 0; text-transform: uppercase;}
	#nav li:hover li a, #nav li a:hover li a { padding: 3px 10px 4px 11px; display: block; width: 182px !important; height: auto; color: #fff; background: #000 !important; }
	* html #nav li:hover li a, * html #nav li a:hover li a { width: 182px !important; w\idth: 182px; }
	#nav li:hover li a:hover, #nav li a:hover li a:hover { color: #c00; }

	#nav li.careerson li a, #nav li.careerson a:hover li a,
	#nav li.careers:hover li a, #nav li.careers a:hover li a { padding: 3px 20px 4px 11px; width: 168px !important; text-align: right !important; }
	* html #nav li.careers:hover li a, * html #nav li.careers a:hover li a { width: 168px !important; w\idth: 168px; }

/* SECOND LEVEL DROP DOWNS, FLYOUTS */
#nav li:hover li ul, #nav li a li a ul { position: relative !important; top: 0 !important; left: 0 !important; width: 176px;  }
	* html #nav li:hover li ul, * html #nav li a li a ul { margin-left: -10px; margin-right: -9px; }
	#nav li:hover li li, #nav li a:hover li li { margin: 0; border: 0; text-transform: none;  }
	/*   */
	#nav li:hover li li a, #nav li a:hover li li a { padding: 2px 0px 2px 27px; width: 176px !important; color: #A4C6DF; }
	* html #nav li:hover li li a, * html #nav li a:hover li li a { width: 203px !important; w\idth: 176px; }

/**************************************************************************************************************/


/* GLOBAL - NAVIGATION
------------------------------------------------------------------------------------- */

/* HOME PAGE
------------------------------------------------------------------------------------- */

/* Change the height of the homepage banner */
#h_flash	{ height: 262px; background: url(../../images/global/h_flash2.jpg)/*tpa=http://www.allergan.com/assets/images/global/h_flash2.jpg*/; }
/* #h_flash	{ height: 713px; background: url(/assets/images/global/h_flash2.jpg); } */

#h_main		{ padding: 0 0 5px; border-top: 4px solid #0e4268; border-bottom: 1px solid #e4e0db; height: 1%; background: url(../../images/global/bg_h_main.gif)/*tpa=http://www.allergan.com/assets/images/global/bg_h_main.gif*/ repeat-y; }

#h_promo	{ float: left; display: inline; width: 166px; padding: 30px 10px 0 15px; min-height: 334px; background:#2c4371 url(../../images/global/bg_h_promo.jpg)/*tpa=http://www.allergan.com/assets/images/global/bg_h_promo.jpg*/ no-repeat; color: #fff; font-size: 10px; height:100%; }
	* html #h_promo	{ height: 334px; width: 191px; w\idth: 151px; }
	#h_promo h4	{ color: #fff;}
	#h_promo p	{ padding: 0 0 20px;}
	#h_promo a	{ color: #fff; text-decoration: none; }

	#h_promo .learnmore	{ color: #fff; text-decoration: none; font-size: 12px; font-family: tahoma, arial, sans-serif; }	
	#h_promo a.learnmore:hover	{ }	
	#h_promo a.twit { color: #fff; text-decoration: none; font-size: 10px; font-weight: bold; }
	#h_promo p.twit { color: #fff; text-decoration: none; font-size: 10px; font-weight: bold; padding: 0px 0px 0px 0px; letter-spacing: -5; }

img.mid {vertical-align: middle; }

#h_content	{ float: left; display: inline; width: 426px; margin: 0 20px 0 10px; padding: 35px 0 0; line-height: 15px; }
	#h_content p	{ padding: 0 0 20px;}

#h_sidebar	{ float: left; width: 327px; padding: 20px 0 0;  }

#s_flash	{ height: 144px; background: #000; }

.box1	{ margin: 0 0 5px; background: #d8e1ec url(../../images/global/bg_rounded_bottomright.gif)/*tpa=http://www.allergan.com/assets/images/global/bg_rounded_bottomright.gif*/ no-repeat bottom right; font-size: 10px; }
	.box1a	{ padding: 20px 15px 25px; background: url(../../images/global/bg_rounded_topleft.gif)/*tpa=http://www.allergan.com/assets/images/global/bg_rounded_topleft.gif*/ no-repeat; line-height: 14px; }
	.box1a h4	{ padding: 0; margin: 0 0 5px 0;}
	.box1a p	{ padding: 0 0 10px;line-height: 14px; }
	.box1a h5, .box1a h3 { font-weight: bold; }
	.box1a table	{ margin-top: -4px; }
	.box1a a span { background: url(../../images/global/arrow_gray.gif)/*tpa=http://www.allergan.com/assets/images/global/arrow_gray.gif*/ no-repeat 100% 5px; padding:2px 5px; }
	.box1a a.arrow:link, .box1a a.arrow:visited, .box1a a.arrow:hover {color:#666666; font-weight:normal; }
	
	.box1b	{ padding: 15px 15px 15px; background: url(../../images/global/bg_rounded_topleft.gif)/*tpa=http://www.allergan.com/assets/images/global/bg_rounded_topleft.gif*/ no-repeat; }
	.box1b h4 { margin: 0px 0px 3px 0px; padding: 0px 0px 0px 0px; }
	.box1b p	{ padding: 0px 0px 3px 0px;line-height: 14px; }
	.box1b h5, .box1a h3 { font-weight: bold; }

	.box1c	{ padding: 15px 15px 15px; background: url(../../images/global/bg_rounded_topleft.gif)/*tpa=http://www.allergan.com/assets/images/global/bg_rounded_topleft.gif*/ no-repeat; height: 140px; }
	.box1c h4 { margin: 0px 0px 3px 0px; padding: 0px 0px 0px 0px; }
	.box1c .year { font-size: 14px; color: #0e4268; }
	.box1c p	{ padding: 0px 0px 3px 0px; line-height: 14px; }
	.box1c h5 a { position: relative; top: 87px; font-size: 11px; font-weight: normal; }
	.box1c h3   { font-weight: bold; }
	.box1c a span { background: url(../../images/global/arrow_gray.gif)/*tpa=http://www.allergan.com/assets/images/global/arrow_gray.gif*/ no-repeat 100% 5px; padding:2px 5px; }

	.box1d	{ padding: 20px 15px 20px; background: url(../../images/global/bg_rounded_topleft.gif)/*tpa=http://www.allergan.com/assets/images/global/bg_rounded_topleft.gif*/ no-repeat; height: 140px; }
	.box1d h4 { margin: 0px 0px 3px 0px; padding: 0px 0px 0px 0px; }
	.box1d p	{ padding: 0px 0px 3px 0px; line-height: 14px; }
	.box1d h5, .box1a h3 { font-weight: bold; }

.box2	{ margin: 0 0 5px; background: #d8e1ec url(../../images/global/bg_rounded_globe.gif)/*tpa=http://www.allergan.com/assets/images/global/bg_rounded_globe.gif*/ no-repeat bottom right;}
	.box2a	{ padding: 20px 15px 25px; background: url(../../images/global/bg_rounded_topleft.gif)/*tpa=http://www.allergan.com/assets/images/global/bg_rounded_topleft.gif*/ no-repeat;}
	.box2a h4	{ padding: 0; margin: 0 0 5px 0;}
	.box2a p	{ padding: 0 0 10px; line-height: 14px; }
	.box2a h5, .box1a h3 { font-weight: bold; }

.box3	{ margin: 0 0 5px; background: #d8e1ec url(../../images/global/bg_rounded_flower.jpg)/*tpa=http://www.allergan.com/assets/images/global/bg_rounded_flower.jpg*/ no-repeat 100% 100%;}
	.box3a	{ padding: 20px 15px 10px; background: url(../../images/global/bg_rounded_topleft.gif)/*tpa=http://www.allergan.com/assets/images/global/bg_rounded_topleft.gif*/ no-repeat; font-size: 10px; }
	.box3a h4	{ padding: 0; margin: 0 0 5px 0;}
	.box3a p	{ padding: 0 0 15px; line-height: 14px; }
	.box3a h5, .box1a h3 { font-weight: bold; }
	.box3a a span { background: url(../../images/global/arrow_gray.gif)/*tpa=http://www.allergan.com/assets/images/global/arrow_gray.gif*/ no-repeat 100% 5px; padding:2px 5px; }

.box4	{ margin: 0 0 5px; background: #d8e1ec url(../../images/global/bg_rounded_bottomright.gif)/*tpa=http://www.allergan.com/assets/images/global/bg_rounded_bottomright.gif*/ no-repeat bottom right;}
	.box4a	{ padding: 20px 15px 25px; background: url(../../images/global/bg_rounded_globe2.jpg)/*tpa=http://www.allergan.com/assets/images/global/bg_rounded_globe2.jpg*/ no-repeat;}
	.box4a p	{ padding: 0 0 10px; line-height: 14px; }
	.box4a h5, .box4a h3 { font-weight: normal; }
	.box4a h5 a { font-weight: normal !important; }
	.box4a a.arrow:link, .box4a a.arrow:visited, .box4a a.arrow:hover	{ background:none; font-weight: normal; }
	.box4a a span { background: url(../../images/global/arrow_gray.gif)/*tpa=http://www.allergan.com/assets/images/global/arrow_gray.gif*/ no-repeat 100% 5px; padding:2px 5px; }	
    	.box4a h4 { padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 5px; margin-left: 0px; }	
	

	.box4b	{ padding: 20px 15px 25px; background: url(../../images/global/bg_rounded_globe2.jpg)/*tpa=http://www.allergan.com/assets/images/global/bg_rounded_globe2.jpg*/ no-repeat;}
	.box4b h4 { margin: 0px 0px 0px 0px; padding: 0px 0px 1px 0px; }
	.box4b .tone { color: #555; }
	.box4b p	{ padding: 0px 0px 1px 0px; color: #0e4268; line-height: 14px; }
	.box4b h5, .box1a h3 { font-weight: bold; }

.box5	{ margin: 0 0 5px; background: #d8e1ec url(../../images/global/bg_rounded_bottomright.gif)/*tpa=http://www.allergan.com/assets/images/global/bg_rounded_bottomright.gif*/ no-repeat bottom right; font-size: 10px;}
	.box5a	{ padding: 20px 15px 25px; background: url(../../images/global/bg_rounded_topleft.gif)/*tpa=http://www.allergan.com/assets/images/global/bg_rounded_topleft.gif*/ no-repeat;}
	.box5a h4	{ margin: 3px 0px 0px 0px; padding: 0px; }
	.box5a p	{ padding: 0 0 11px; line-height: 14px; }
	.box5a div	{ margin-top: 19px; }
	.box5a h5, .box1a h3 { font-weight: bold; }
	.box1a h5 a { font-weight: normal; }

.box6	{ margin: 0 0 5px; background: #d8e1ec url(../../images/global/bg_rounded_bottomright.gif)/*tpa=http://www.allergan.com/assets/images/global/bg_rounded_bottomright.gif*/ no-repeat bottom right; font-size: 10px; font-weight: normal; }
	.box6a	{ padding: 20px 15px 15px; background: url(../../images/global/bg_rounded_globe3.gif)/*tpa=http://www.allergan.com/assets/images/global/bg_rounded_globe3.gif*/ no-repeat;}
	.box6a h4	  { padding: 0px; margin: 0px 0px 5px 0px; }
	.box6a p	  { padding: 0px; margin: 0px 0px 2px 0px; line-height: 14px; }
	.box6a p.line { margin: 0px 0px 20px 0px; }
	.box6a p.half { margin: 0px 0px 10px 0px; line-height: 14px;  }
	.box6a h5, .box1a h3 { font-weight: bold; }
	.box6a h5 a { font-weight: normal !important; }
	.box6a .text_below { padding-bottom: 20px; }
	
	.box6a a.arrow:link, .box6a h3 a.arrow:visited, .box6a h3 a.arrow:hover { background:none; }
	.box6a a span { background: url(../../images/global/arrow_gray.gif)/*tpa=http://www.allergan.com/assets/images/global/arrow_gray.gif*/ no-repeat 100% 5px; padding:2px 5px; }

	.box6b	{ padding: 20px 15px 5px; background: url(../../images/global/bg_rounded_globe3.gif)/*tpa=http://www.allergan.com/assets/images/global/bg_rounded_globe3.gif*/ no-repeat;}
	.box6b h4	  { padding: 0px; margin: 0px 0px 10px 0px; }
	.box6b p	  { padding: 0px; margin: 0px 0px 2px 0px; line-height: 14px; }
	.box6b p.line { margin: 0px 0px 20px 0px; line-height: 14px; }
	.box6b p.half { margin: 0px 0px 10px 0px; line-height: 14px; }
	.box6b h5, .box1a h3 { font-weight: bold; }

	.box6c	{ padding: 20px 15px 20px; background: url(../../images/global/bg_rounded_globe3.gif)/*tpa=http://www.allergan.com/assets/images/global/bg_rounded_globe3.gif*/ no-repeat;}
	.box6c h4	  { padding: 0px; margin: 0px 0px 5px 0px; }
	.box6c h3	  { font-size: 10px; padding: 8px 0px 0px 0px; font-weight: normal; }
	.box6c h5	  { padding: 1px 0px 0px 0px; font-weight: normal }
	.box6c p	  { padding: 0px; margin: 0px 0px 2px 0px; line-height: 14px; }
	.box6c p.line { margin: 0px 0px 20px 0px; line-height: 14px; }
	.box6c a.arrow:link, .box6c a.arrow:visited, .box6c a.arrow:hover	{ background:none; font-weight: normal; }
	.box6c a span { background: url(../../images/global/arrow_gray.gif)/*tpa=http://www.allergan.com/assets/images/global/arrow_gray.gif*/ no-repeat 100% 5px; padding:2px 5px; }

	.box6d	{ padding: 20px 15px 20px; background: url(../../images/global/bg_rounded_globe3.gif)/*tpa=http://www.allergan.com/assets/images/global/bg_rounded_globe3.gif*/ no-repeat;}
	.box6d h4	  { padding: 0px; margin: 0px 0px 5px 0px; }
	.box6d h3	  { font-size: 10px; padding: 8px 0px 0px 0px; font-weight: normal; }
	.box6d .text_below	  { padding-bottom: 20px; }
	.box6d h5	  { padding: 1px 0px 5px 0px; font-weight: normal; }
	.box6d h5 a   { font-weight: normal !important; }
	.box6d p	  { padding: 0px; margin: 0px 0px 2px 0px; line-height: 14px; }
	.box6d p.line { margin: 0px 0px 20px 0px; }
	.box6d a.arrow:link, .box6d a.arrow:visited, .box6d a.arrow:hover	{  background:none !important; font-weight:bold; }
	.box6d a.arrow:link, .box6d a.arrow:visited, .box6d a.arrow:hover	{ font-weight:bold; }
	.box6d a span { background: url(../../images/global/arrow_gray.gif)/*tpa=http://www.allergan.com/assets/images/global/arrow_gray.gif*/ no-repeat 100% 5px; padding:2px 5px; }
	
	.box6e	{ padding: 20px 15px 18px; background: url(../../images/global/bg_rounded_globe3.gif)/*tpa=http://www.allergan.com/assets/images/global/bg_rounded_globe3.gif*/ no-repeat;}
	.box6e h4	  { padding: 0px; margin: 0px 0px 10px 0px; }
	.box6e p	  { padding: 0px 0px 0px 0px; margin: 0px 0px 2px 0px; font-size: 11px; line-height: 14px; }
	.box6e p.line { margin: 0px 0px 20px 0px; }
	.box6e p.half { margin: 0px 0px 12px 0px; line-height: 14px; }
	.box6e h5, .box1a h3 { font-weight: bold; }
	.box6e a span { background: url(../../images/global/arrow_gray.gif)/*tpa=http://www.allergan.com/assets/images/global/arrow_gray.gif*/ no-repeat 100% 5px; padding:2px 5px; }

.box7	{ margin: 0 0 5px; background: #d8e1ec url(../../images/global/bg_rounded_coils.gif)/*tpa=http://www.allergan.com/assets/images/global/bg_rounded_coils.gif*/ no-repeat bottom right; font-size: 10px; font-weight: normal; }
	.box7a	{ padding: 20px 15px 25px; background: url(../../images/global/bg_rounded_topleft.gif)/*tpa=http://www.allergan.com/assets/images/global/bg_rounded_topleft.gif*/ no-repeat;}
	.box7a h4	{ padding: 0px; margin: 0px 0px 5px 0px; }
	.box7a p	{ padding: 0 0 10px; font-size: 11px; line-height: 14px; }
	.box7a h5, .box7a h3 { font-weight: normal; }
	.box7a a span { background: url(../../images/global/arrow_gray.gif)/*tpa=http://www.allergan.com/assets/images/global/arrow_gray.gif*/ no-repeat 100% 5px; padding:2px 5px; }


.box8	{ margin: 0 0 5px; background: #d8e1ec url(../../images/global/bg_rounded_bottomright.gif)/*tpa=http://www.allergan.com/assets/images/global/bg_rounded_bottomright.gif*/ no-repeat bottom right; font-size: 10px;}
	.box8a	{ padding: 20px 15px 15px; background: url(../../images/global/bg_rounded_topleft.gif)/*tpa=http://www.allergan.com/assets/images/global/bg_rounded_topleft.gif*/ no-repeat;}
	.box8a h4	{ margin: 0px; padding: 0px 0px 12px 0px; }
	.box8a p	{ padding: 0 0 10px; line-height: 14px; }
	.box8a h2	{ line-height: 24px; text-indent: -7px; padding: 0px 0px 8px 0px; }
	.box8a h3	{ color: #0e4268; font-weight: normal; font-size:11px;}
	.box8a h3 a	{ line-height: 24px; font-weight: normal; }
	.box8a h5   { font-weight: bold; }
	.box8a h3 span { color: #0e4268; font-weight: normal; font-size: 14px; }
	.box8a a span { background: url(../../images/global/arrow_gray.gif)/*tpa=http://www.allergan.com/assets/images/global/arrow_gray.gif*/ no-repeat 100% 5px; padding:2px 5px; }
	.box8a a.arrow:link, .box8a a.arrow:visited, .box8a a.arrow:hover	{  background:none !important; font-weight:bold; }
	.box8a a.arrow:link, .box8a a.arrow:visited, .box8a a.arrow:hover	{ font-weight:bold; }	
	


.box9	{ margin: 0 0 5px; background: #d8e1ec url(../../images/global/bg_rounded_bottom_pink.gif)/*tpa=http://www.allergan.com/assets/images/global/bg_rounded_bottom_pink.gif*/ no-repeat bottom right; font-size: 10px;}
	.box9a	{ padding: 20px 15px 5px; background: url(../../images/global/bg_rounded_topleft.gif)/*tpa=http://www.allergan.com/assets/images/global/bg_rounded_topleft.gif*/ no-repeat;}
	.box9a h4	{ margin: 0 0 5px 0; padding: 0 0 0 0; }
	.box9a h3	{ margin: 0; padding: 0 0 3px 0; font-size: 9px; font-weight: normal; }
	.box9a h5	{ font-weight: 500; font-size: 13px; margin: 0 0 16px 0; padding: 0 ; font-weight: normal; }
	.box9a p	{ padding: 0 0 10px; line-height: 14px; }
	.box9a .text_below  { padding-bottom: 20px; }
	.box9a a span { background: url(../../images/global/arrow_gray.gif)/*tpa=http://www.allergan.com/assets/images/global/arrow_gray.gif*/ no-repeat 100% 5px; padding:2px 5px; }
	
.sideimg	  { margin-right: -15px; }

#h_news td	{ vertical-align: top; padding: 8px 5px 8px 0; font-size: 10px;}
	#h_news .first td	{ padding: 10px 10px 10px 0; border-bottom: 1px solid #b8bdc2; border-width: 1px 0;}
	#h_news td a	{ text-decoration: none; }
	#h_news td a:hover	{ text-decoration: underline;}

#h_stock	{ font-size: 13px;}
	#h_stock .box1a	{ padding-bottom: 10px !important;}
	#h_stock h4	{ display: inline; }

#most_recent { display: block; height: 10px; width: 137px; margin-top: 8px; background: url(../../images/global/t_most_recent.gif)/*tpa=http://www.allergan.com/assets/images/global/t_most_recent.gif*/ no-repeat; text-indent: -9999px; }

/* original: #footer { padding-top: 60px; background: #fff; height: 50px; font-size: 9px; font-family: arial, verdana, sans-serif; color: #999; } */
/* new: #footer { padding-top: 10px; background: #fff; height: 50px; font-size: 9px; font-family: arial, verdana, sans-serif; color: #999; } */
#footer { padding-top: 10px; padding-bottom: 10px; background: #fff; height: 70px; font-size: 9px; font-family: arial, verdana, sans-serif; color: #999; }
	#footer p { padding: 14px 25px; }
	#footer a { color: #999; text-decoration: none; }
	#footer a:hover { color: #666; text-decoration: underline; }

/* ELEMENTS
------------------------------------------------------------------------------------- */
#subhead	{ position: relative; height: 144px;}
	#subhead img	{ position: absolute; }

.subhead	{ position: relative; height: 144px;}
	.subhead span#info { display: block; width: 220px; position: absolute; left: 745px; top: 60px; color: #fff;  }
	.subhead h4		{ margin: 0; padding: 3px 0px 1px 0px; font-size: 13px; text-transform: none; color: #fff;}
	.subhead p		{ margin: 0; padding: 1px 0px; color: #fff; }
	.subhead a		{ display: block; width: 117px; height: 12px; margin: 5px 0px; padding: 5px 0px; background: url(../../images/global/arrow_white_sm.gif)/*tpa=http://www.allergan.com/assets/images/global/arrow_white_sm.gif*/ no-repeat 57px 7px; border-top: 1px dotted #999191; font-size: 9px; text-decoration: none !important; color: #fff !important; }

.subhead#careers	{ background: url(../../images/global/sh_careers.jpg)/*tpa=http://www.allergan.com/assets/images/global/sh_careers.jpg*/ no-repeat 0 0; }
.subhead#careers_na	{ background: url(../../images/global/sh_careers_na.jpg)/*tpa=http://www.allergan.com/assets/images/global/sh_careers_na.jpg*/ no-repeat 0 0; }
.subhead#careers_salo{ background: url(../../images/global/sh_careers_salo.jpg)/*tpa=http://www.allergan.com/assets/images/global/sh_careers_salo.jpg*/ no-repeat 0 0; }
.subhead#careers_donello{ background: url(../../images/global/sh_careers_donello.jpg)/*tpa=http://www.allergan.com/assets/images/global/sh_careers_donello.jpg*/ no-repeat 0 0; }
.subhead#careers_agarwal{ background: url(../../images/global/sh_careers_agarwal.jpg)/*tpa=http://www.allergan.com/assets/images/global/sh_careers_agarwal.jpg*/ no-repeat 0 0; }
.subhead#careers_wiese{ background: url(../../images/global/sh_careers_wiese.jpg)/*tpa=http://www.allergan.com/assets/images/global/sh_careers_wiese.jpg*/ no-repeat 0 0; }
.subhead#careers_schreck{ background: url(../../images/global/sh_careers_schreck.jpg)/*tpa=http://www.allergan.com/assets/images/global/sh_careers_schreck.jpg*/ no-repeat 0 0; }
.subhead#careers_chea{ background: url(../../images/global/sh_careers_chea.jpg)/*tpa=http://www.allergan.com/assets/images/global/sh_careers_chea.jpg*/ no-repeat 0 0; }

.subhead#treat_martin	{ background: url(../../images/global/sh_treat_martin.jpg)/*tpa=http://www.allergan.com/assets/images/global/sh_treat_martin.jpg*/ no-repeat 0 0; }
.subhead#treat_stampe	{ background: url(../../images/global/sh_treat_stampe.jpg)/*tpa=http://www.allergan.com/assets/images/global/sh_treat_stampe.jpg*/ no-repeat 0 0; }
.subhead#treat_mcmahan	{ background: url(../../images/global/sh_treat_mcmahan.jpg)/*tpa=http://www.allergan.com/assets/images/global/sh_treat_mcmahan.jpg*/ no-repeat 0 0; }
.subhead#treat_costin	{ background: url(../../images/global/sh_treat_costin.jpg)/*tpa=http://www.allergan.com/assets/images/global/sh_treat_costin.jpg*/ no-repeat 0 0; }
.subhead#treat_oshaughnessy	{ background: url(../../images/global/sh_treat_oshaughnessy.jpg)/*tpa=http://www.allergan.com/assets/images/global/sh_treat_oshaughnessy.jpg*/ no-repeat 0 0; }
.subhead#treat_sears	{ background: url(../../images/global/sh_treat_sears.jpg)/*tpa=http://www.allergan.com/assets/images/global/sh_treat_sears.jpg*/ no-repeat 0 0; }
.subhead#treat_rector	{ background: url(../../images/global/sh_treat_rector.jpg)/*tpa=http://www.allergan.com/assets/images/global/sh_treat_rector.jpg*/ no-repeat 0 0; }

#main		{ padding: 0 0 5px; border-top: 4px solid #0e4268; border-bottom: 1px solid #e4e0db; height: 1%; background: url(../../images/global/bg_main.gif)/*tpa=http://www.allergan.com/assets/images/global/bg_main.gif*/ repeat-y; }
	#main.intl { background: none; }

#subnav		{ background: #cfd9e1; float: left; display: inline; width: 191px; padding: 40px 0 0; font-family: tahoma, arial, sans-serif; }
	#subnav h4	    { padding-left: 25px; text-transform: uppercase; }
	#subnav.intl    { min-height: 292px; background: url(../../images/global/bg_subnav_intl.jpg)/*tpa=http://www.allergan.com/assets/images/global/bg_subnav_intl.jpg*/ no-repeat 0 0; }
	#subnav.intl h4 { display: block; width: 150px; margin: 8px 0px 10px 25px; padding: 0px; color: #fff; }
	#subnav.intl p  { display: block; width: 150px; margin: 25px 0px 0px 25px; padding: 0px 0px 0px 0px; line-height: 15px; color: white; }

#subnavlist	{ font-size: 11px; border-bottom: 1px solid #e7ecf0; background: #cfd9e1;}
	#subnavlist li	{ position: relative; font-weight: bold; list-style: none; border-top: 1px solid #e7ecf0; }
	#subnavlist li a:link, #subnavlist li a:visited	{ font-size: 11px; display: block; height: 1%; padding: 5px 6px 5px 25px; text-decoration: none; color: #0e4268; }
	#subnavlist li a:hover	{ background: url(../../images/global/subnav_arrow_hover.gif)/*tpa=http://www.allergan.com/assets/images/global/subnav_arrow_hover.gif*/ no-repeat 10px 50%;}
	#subnavlist li p	{ padding: 5px 6px 5px 25px; color: #0e4268; background: #fff url(../../images/global/subnav_arrow_on.gif)/*tpa=http://www.allergan.com/assets/images/global/subnav_arrow_on.gif*/ no-repeat 10px 50%;}
	#subnavlist li.on	{ background: #fff; }
	#subnavlist li.on ul	{ margin-left: 25px;}
	#subnavlist li li 	{ margin-left: 13px; padding-left: 3px; font-weight: normal; border-top: 1px solid #cfd9e1;}
	#subnavlist li li a:link, #subnavlist li li a:visited	{ padding: 5px 6px 5px 13px; color: #666; margin-left: -15px;}
	#subnavlist li li a:hover	{ background: url(../../images/global/subnav_arrow_hover.gif)/*tpa=http://www.allergan.com/assets/images/global/subnav_arrow_hover.gif*/ no-repeat 1px 50%;}
	#subnavlist li li p	{ padding: 5px 6px 5px 13px; color: #000; background: #fff url(../../images/global/subnav_arrow_on.gif)/*tpa=http://www.allergan.com/assets/images/global/subnav_arrow_on.gif*/ no-repeat 1px 50%; margin-left: -15px;}
	#subnavlist li.subtitle, #subnavlist li.subtitle2, #subnavlist li.subtitle3	{ margin-left: -27px; font-size: 9px; text-transform: uppercase; color: #0e4268; font-weight: bold; margin-bottom: -1px;}
	#subnavlist li.subtitle p	{ padding: 0; border-bottom: 1px solid #cfd9e1; color: #0e4268; background: none; margin: 0 0 0 25px; padding: 5px 6px 5px 0;}
	#subnavlist li.subtitle2, #subnavlist li.subtitle3	{ margin-left: 10px; padding: 5px 6px 5px 0;}
	#subnavlist li.subtitle3 { padding: 0; margin: 0px 0px 0px 40px; border-bottom: 1px solid #e6ebef; }
	#subnavlist li li li 	{ margin-left: 0px; font-weight: normal;}

#subnavlist.intl li a:link, #subnavlist.intl li a:visited	{ display: block; height: 1%; padding: 5px 6px 5px 25px; text-decoration: none; color: #0e4268; background: url(../../images/global/bg_subnav_intl.jpg)/*tpa=http://www.allergan.com/assets/images/global/bg_subnav_intl.jpg*/ no-repeat 0 0; }	
#subnavlist.intl li a:hover	{ padding: 5px 6px 5px 25px; background: url(../../images/global/subnav_arrow_hover.gif)/*tpa=http://www.allergan.com/assets/images/global/subnav_arrow_hover.gif*/ no-repeat 10px 50%; }
#subnavlist.intl li.on      { background: #fff url(../../images/global/subnav_arrow_hover.gif)/*tpa=http://www.allergan.com/assets/images/global/subnav_arrow_hover.gif*/ no-repeat 10px 50%;}
#subnavlist.intl li.on p    { display: block; width: 150px; margin: 0 0 0 25px; padding:4px 0; line-height: 15px; color: #0E4268; background:none; }

.relatedlinks	{ padding: 16px 25px 11px; margin: 0 0 20px; border-bottom: 1px solid #e7ecf0; }
	.relatedlinks h4	{ color: #666 !important; font-size: 10px !important; padding: 0 0 5px !important; text-transform: uppercase; }
	.relatedlinks li	{ font-size: 11px; color: #555; list-style: none; padding: 0 0 5px;}
	.relatedlinks li a:link, .relatedlinks li a:visited	{ color: #555; text-decoration: none; }
	.relatedlinks li a:hover	{ color: #0e4268; }

#content	{ float: left; display: inline; width: 505px; margin: -1px 40px 5px 10px; padding: 34px 0 0; min-height: 350px;}
	#content p	{ padding: 0 0 15px; margin: 0px 20px 0px 0px; line-height: 16px;}
	#content ul, #content ol	{ padding: 0 25px 15px;}
#content h2 { font-size: 14px; font-weight: normal; font-family: verdana, tahoma,sans-serif; }

	#content h4	{ padding: 0 0 5px;}
	#content h5	{ font-weight: normal;}
	#content h5 a, #content h5 a:link, #content h5 a:visited { color: #446C8B !important; text-decoration: none !important; font-weight: normal !important; }
	#content h5 a:hover { color: #446C8B !important; text-decoration: none !important; font-weight: normal !important; }
	#content .regular-list li { padding-bottom: 10px; }
	
.product { text-indent: 25px; }

.thmbs	{ padding: 0 0 10px; height: 1%;}
	.thmbs img	{ float: left; display: inline; margin: 0px 2px 2px 0px;}

.column1	{ font-size: 11px; float: left; display: inline; margin-right: 2px; width: 166px; }
.column1 .arrow	{ font-size: 11px; }
.column1 h3.nolink	{ font-size: 11px; color: #0e4268; }
.column1 h3.nolink span	{ font-weight: normal; font-size: 9px; }

#sidebar	{ float: left; width: 228px; padding: 20px 0 0; }
	#sidebar h2	{ font-size: 16px !important; font-weight: normal; color: #777}
	#sidebar h3 { font-weight: normal;}
	#sidebar h3 a:link, #sidebar h5 a:link, #sidebar h3 a:visited, #sidebar h5 a:visited { color:#666666; font-size: 12px; } 
	#sidebar h3 a:hover, #sidebar h5 a:hover { color:#0E4268; text-decoration:none;  } /* #0E4268 */
	#sidebar h3 a:link, #sidebar h3 a:visited, #sidebar h3 a:hover { font-weight: normal; } /*  font-weight: normal !important; */
	#sidebar h4 { text-transform: uppercase; } 
	#sidebar sup { font-size: 9px; }
	#sidebar h3 sup { color:#0E4268; font-size: 9px; }
	#sidebar h3 a sup { color:#0E4268; font-size: 9px; }
	
.moreinfo	{ display: none; position: absolute; width: 425px; padding: 10px 10px 0; color: #fff; z-index: 99; } /* removed background: #3c557e; */
	* html .moreinfo	{ width: 425px; w\idth: 370px;}

.press_release { display: block; }  
	.date { display: block; float: left; width: 97px; color: #0e4268;}
	.press_release p { display: block; float: left; width: 380px; }
	* html .press_release { width: 496px; }

.image { display: block; width: 250px; float: left; overflow: auto; margin: 6px 0px 0px 0px; }
	.image img 		{ border: 1px solid #ccc; width: 90px; height: 90px; }
	.title 			{ display: block; float: left; width: 140px; padding: 0px 0px 2px 0px; font-weight: bold; }
	.subline 		{ display: block; float: left; width: 140px; padding: 0px 0px 1px 0px; }
	.filesize 		{ display: block; float: left; width: 140px; padding: 0px 0px 4px 0px; }
	.image .arrow2	{ display: block; float: left; width: 63px; height: 14px; font-weight: normal; }

/* ELEMENTS
------------------------------------------------------------------------------------- */
h1	{ color: #0e4268; font-size: 18px; font-family: verdana,tahoma,sans-serif; font-weight: normal; padding: 0 0 15px; }

h2	{ color: #0e4268; font-size: 14px; font-weight: normal; font-family: tahoma, arial, sans-serif; padding: 0 0 20px; line-height: 20px; }
h3	{ color: #0e4268; font-size: 12px; font-family: verdana, arial, sans-serif; padding: 0 0 4px; }
h4	{ font-family: verdana,tahoma,sans-serif; font-size: 11px; text-transform: none; color: #0e4268; padding-top: 0pt; padding-right: 0pt; padding-bottom: 15px; padding-left: 0pt;}
	h4 span	{ color: #666; }
h5	{ font-size: 14px; font-family: tahoma, arial, sans-serif; padding: 0 0 4px; }

sup	{ font-size: 70%; }

/* MISC. CLASSES & IDS 
------------------------------------------------------------------------------------- */

/* original
a.arrow, a.arrow:link, a.arrow:visited, a.arrow:hover	{ background: url(/assets/images/global/arrow_blue.gif) no-repeat 100% 3px; padding-right: 15px; text-decoration: none; font-weight: bold; }
	a.arrow:hover { text-decoration: underline; }

a.arrow2:link, a.arrow2:visited	{ background: url(/assets/images/global/arrow_blue.gif) no-repeat 100% 3px; padding-right: 15px; text-decoration: none; }
	a.arrow2:hover { text-decoration: underline; }
*/

a.arrow, a.arrow:link, a.arrow:visited, a.arrow:hover	{ background: none; padding-right: 10px; text-decoration: none; font-weight: bold; ; }

a span	{  background: url(../../images/global/arrow_blue.gif)/*tpa=http://www.allergan.com/assets/images/global/arrow_blue.gif*/ no-repeat 100% 5px; padding:0px 5px;  }

/* a.arrow:hover { text-decoration: underline; } */
	
a.external_site_link, a.external_site_link:link,
a.external_site_link:visited, a.external_site_link:hover { color: #446c8b !important; text-decoration:none !important; }

a.more_news_link, a.more_news_link:link,
a.more_news_link:visited, a.more_news_link:hover { color: #446c8b !important; text-decoration:none !important; font-weight: normal; background-image: url(../../images/global/arrow_blue.gif)/*tpa=http://www.allergan.com/assets/images/global/arrow_blue.gif*/; background-repeat: no-repeat; background-position: 70px 6px; padding-right: 20px; text-decoration: none;}

a.arrow2:link, a.arrow2:visited	{ background: url(../../images/global/arrow_blue.gif)/*tpa=http://www.allergan.com/assets/images/global/arrow_blue.gif*/ no-repeat 100% 3px; padding-right: 15px; text-decoration: none; }
	a.arrow2:hover { text-decoration: underline; }

a.solo:link, a.solo:visited, a.solo:hover	{ background: none; text-decoration: none; }

a span	{ background: url(../../images/global/arrow_blue.gif)/*tpa=http://www.allergan.com/assets/images/global/arrow_blue.gif*/ no-repeat 100% 3px; padding-right: 5px; text-decoration: none; }

#content h4.condition { padding: 0px 0px 4px 0px;  margin: 12px 0px 0px 0px; }
#content p.condition  { padding: 0px 20px 5px 0px; margin: 0px 0px 0px 0px; }
#content h4.release	  { padding: 0px 0px 19px 0px; margin: 0px 0px 0px 0px; }

hr.investor { float: left; margin: 5px 0px 20px 0px; border: none; border-top: 1px solid #999; width: 500px; }

#stock_activity { width: 515px; margin: 12px 0px 17px 0px; }
	#stock_activity tr.set td { height: 12px; padding: 12px 0px 0px 0px; }
	#stock_activity tr.value td { height: 12px; font-weight: bold; }
	#stock_activity th { font-weight: normal; }
	#stock_activity #market	{ font-weight: bold; color: #0e4268; }
	#stock_activity #price span { font-weight: bold; color: #0e4268; }

table.stock_widget { border-bottom: 1px solid #efefef; width: 195px; padding: 3px 0px;  }
	table.stock_widget tr { height: 12px; }
	table.stock_widget th { font-weight: normal; font-size: 10px; width: 95px; }
	table.stock_widget td { font-weight: bold;  font-size: 10px;  width: 95px;}

form.stock_widget { margin: 12px 0px 0px 0px; }
	input.stock_widget { margin: 8px 0px 0px 0px; }

body div#content .jobsearch {margin-bottom: 30px; }
body div#content .jobsearch td { display: block; width: 240px; float: left; margin: 2px; } 
body div#content .jobsearch td label { margin-left: 2px; } 
body div#content .jobsearch p { display: block; float: left; width: 480px; height: 12px; margin: 15px 0px; padding: 0px; } 

.jobsearch input {  outline: 1px solid #666; }

.keyword { display: block; float: left; width: 190px; height: 15px; clear: both; outline: 1px solid #666; }
	input.keyword:focus, .keyword:active { background: #fff; }
	input.submito { float: left; clear: left; margin: 15px 0px; border: 0px; }

div.search_results#content { width: 700px; }


.lineup	{ display: block; height: 12px; clear: both; position: relative; top: 6px;}
	.lineup h4	{ display: inline; }	
	.lineup .results {margin-right: 10px;}
	.lineup .relevance { position: absolute; left: 500px; font-size: 10px; }
	.lineup .ldate { position: absolute; left: 650px; font-size: 10px; }
	.lineup #back a {text-decoration:none;}
	.lineup #next a {text-decoration:none;}

ul.search 	{ margin: 0px; padding: 0px; color: #0e4268; font-weight: bold; position: relative; top: 18px; list-style:none; }
	ul.search li { margin: 2px 0px 0px 0px; clear: left; position: relative; }
	ul.search li a { position: relative; text-transform: none; height: 9px; font-size: 11px; width: 425px;  text-decoration:none; }
	ul.search li p { position: relative; width: 662px; font-weight: normal; color: #666; left:20px;}
	ul.search li img { position: absolute; top: 0px; left: 474px; }
	ul.search li span.relevance { position: absolute; top: 0px; left: 555px; font-weight: normal; color: #666; }
	ul.search li span.date { position: absolute; top: 0px; left: 624px; font-weight: normal; color: #666; }

.position_data { margin: 0px 0px 20px 0px; }
	.position_data h5 { margin: 0px; padding: 0px;}
	.position_data .attribute,
	.position_data .property { width: 190px; }
	.position_data a { text-decoration: none; }
	.position_data a:hover { text-decoration: underline; }

div#content ul.pages { display: inline; list-style-type: none; }
	div#content ul.pages li { display: inline; }
	div#content ul.pages li a,
	div#content ul.pages li p { margin: 0px; padding: 1px 5px; display: block; float: left; border-left: 1px solid #ccc;  }
	div#content ul.pages li p { margin-top: -1px; }
	div#content ul.pages li.first a,
	div#content ul.pages li.first p { border: 0px; }

div#content ul.criteria { list-style-type: none; line-height: 17px; margin: 0px 0px 14px 0px; padding: 0;}

/* OVERLAYS
------------------------------------------------------------------------------------- */


.tel { color: #0e4268; font-size: 14px; font-weight: normal; }
.input	{ padding: 1px; border: 3px double #d8e1ec; background: #999; color: #fff; font-size: 10px;}
.interactive_stocks select.input { width: 120px; margin: 0px 10px 0px 0px; }
.interactive_stocks #percent { margin: 0px 10px; }
.interactive_stocks input#redraw { position: relative; top: 3px; left: 15px; }
.hide { display: none; }
.clear { clear: both; }
br.clear { line-height: 0px; height: 0; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
/* PLEASE LEAVE BOTH THESE LINES, FIX FOR IE7 */
.clearfix { display: inline-block; }
.clearfix { /*\*/display: block;/**/ }

/* ADD THIS CLASS TO AN ELEMENT TO FIX THE IE ITALICS BUG,
MUST BE THE INNER-MOST BLOCK-LEVEL ELEMENT THAT CONTAINS THE TEXT LIKE p, blockquote OR li
MAY REQUIRE A MORE DIRECT PATH TO THE ELEMENT */
* html .italicsfix { /*\*/overflow: hidden; o\verflow: visible; width: 100%; w\idth: auto; he\ight: 1%;/**/ }

.floatleft { float: left; }
.floatright { float: right; }

img.floatleft { margin: 0 10px 5px 0; position: relative; }
img.floatright { margin: 0 0 5px 10px; position: relative; }

div.columnleft { float: left; margin-top: 4px; width: 227px; height: 100%; }
div.columnright { float: right; width: 270px; height: 100%; }
div.columnleft img { margin: 0px 0px 20px 0px; }
div.columnright img { margin: 0px 0px 20px 0px; }

.alignleft { text-align: left; }
.alignright { text-align: right; }
.aligncenter { text-align: center; }
.aligntop { vertical-align: top; }
.alignbottom { vertical-align: bottom; }

/* MISC STYLES */

#content h1 sup	{ font-size: 11px; } /*  vertical-align: text-top; */
#content sup	{ font-size: 8px; } /*  vertical-align: text-top; */
#content sup a	{ text-decoration: none; }

/* original: ol.footnote	{ font-size: 10px; margin-left: 5px; } */
/* new: ol.footnote	{ font-size: 10px; padding-top: 10px; padding-left:230px; padding-bottom:0 !important; margin-bottom:0px !important; } */ 
ol.footnote	{ font-size: 10px; padding-top: 10px; padding-left:230px; padding-bottom:0 !important; margin-bottom:0px !important; width: 700px; }
ol.footnote li	{ margin: 5px 0 2px;  }
ol.footnote a,ol.footnote a:visited { text-decoration:none; color: #446c8b;}
ol.footnote a:hover {text-decoration:underline; color: #446c8b;}

ul.footnote	{ font-size: 10px; padding-top: 10px; padding-left:230px; padding-bottom:0 !important; margin-bottom:0px !important; width: 700px; }
ul.footnote li	{ margin: 5px 0 2px;  }

p.footnote	{ font-size: 10px; padding-top: 10px; padding-left:210px !important; padding-bottom:0 !important; margin-bottom:0px !important; width: 700px; }

h3.footnote	{ font-size: 10px; padding-top: 10px; padding-left:210px !important; padding-bottom:0 !important; margin-bottom:0px !important; width: 700px; }

.testimony_footnote { margin-left: 25px; }

#content a, #content a:hover { color: #999; text-decoration: underline; }
#content a:visited { color: #999; text-decoration: none; }

#content ul li a, #content ul li a:hover, #content ul li a:visited { color: #446C8B; font-weight: normal; text-decoration: none; }

#content p a, #content p a:link, #content p a:hover, #content p a:visited { color: #446C8B; text-decoration: none; font-weight: normal !important; }
#content p a:visited { color: #446C8B; text-decoration: none; font-weight: normal !important; }

#content h3 a.arrow, #content h3 a.arrow:hover, #content h3 a.arrow:visited	{ color: #446C8B; text-decoration: none; font-weight: normal !important; }
#content h5 a.arrow, #content h5 a.arrow:hover, #content h5 a.arrow:visited	{ color: #446C8B; text-decoration: none; font-weight: normal !important; }

#content .listed_links a.arrow:link,
#content .listed_links a.arrow:visited,
#content .listed_links a.arrow:hover   { background:none; font-weight: normal; }

#content .listed_links a span { background: url(../../images/global/arrow_blue.gif)/*tpa=http://www.allergan.com/assets/images/global/arrow_blue.gif*/ no-repeat 100% 5px; padding:2px 5px; }

#content  .content_links a.arrow:link,
#content  .content_links a.arrow:visited,
#content  .content_links a.arrow:hover   { color: #446C8B !important;; text-decoration: none !important; background:none; font-weight: normal; }

#content .content_links a span { background: url(../../images/global/arrow_blue.gif)/*tpa=http://www.allergan.com/assets/images/global/arrow_blue.gif*/ no-repeat 100% 5px; padding:2px 5px; }


.emphasize { font-style: normal; font-size: 11px; } /* client requested removeal of italics */
.strong { font-weight: bold; }
.source { font-size: 9px !important; line-height: 10px; }
.product_type { margin-bottom: 0px !important; padding-bottom: 0px !important; }
.related_product_subhead { color: #666 !important; }

.sitemap { width: 700px !important; }
.sitemap ul { margin-left: -10px;}
.sitemap li { list-style: none; }
.sitemap .section { margin-top: -10px; }
.sitemap .section2 { margin-top: -20px; }
.sitemap .section3 { margin-top: -30px; }
.sitemap .subsection { margin-top: -5px; }
.sitemap .single { padding-bottom: 10px; }

.col_1 { width: 300px; padding-top:10px; float: left; }
.col_2 { width: 300px; padding-top:10px; float: left; }


a.informative	{ text-decoration: none !important; color: #4e555b !important }

.alertClass { background-color: #3c557e; color:#FFFFFF; width: 220px; padding:3px;}

.tickerexchange
{
	text-transform: uppercase;
	font-weight: bold;
}

.stock_Horizontal div
{
  display: inline;
  margin-right: 10px;
  font-size: 11px;
  font-family: verdana,tahoma,sans-serif;
}

#h_stock  .box1a 
{

padding-bottom: 10px !important;

}

.ticker
{
  color: #0e4268;  
  font-size: 11px;  
}

.exchange
{
  color: #666666;
}

.stock_Horizontal .volume
{
  font-size:12px;
}

.stock_Horizontal .price
{
  font-size:12px;
}

.stock_Horizontal .change
{
  font-size:12px;
}

.stock_Vertical .volume
{
   color: #0e4268;
}

.stock_Vertical .price
{
   color: #0e4268;
}

.stock_Vertical .change
{
   color: #0e4268;
}

#shim {background-color:#ffffff;
       -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
       filter: alpha(opacity=50);
       opacity:.5; }

#twitter {float: left; vertical-align: bottom; position: relative; }
    #twitter a	{ font-size: 11; color: #666; text-decoration: none; }
    #twitter p	{ padding: 25px 0px 0px 0px;}
	
/*Careers Global - Americas*/

#subnavlist li a.americas, #subnavlist li p.americas
{
	display:block;
	width:160px;
	height:44px;
	background-image:url(../../Images/global/nav_americas-img.png)/*tpa=http://www.allergan.com/Assets/Images/global/nav_americas-img.png*/;
	background-position:right;
	background-repeat:no-repeat;	
}

#subnavlist li a.americas:hover,#subnavlist li p.americas
{
	background-color:#fff;		
}

#subnavlist li .clicked {
    background-color:#FFF;	 !important;
}


/*Careers Global - Eame*/

#subnavlist li a.eame, #subnavlist li p.eame
{
	display:block;
	width:160px;
	height:44px;
	background-image:url(../../Images/global/nav_meast-img.png)/*tpa=http://www.allergan.com/Assets/Images/global/nav_meast-img.png*/;
	background-position:right;
	background-repeat:no-repeat;	
}

#subnavlist li a.eame:hover,#subnavlist li p.eame
{
	background-color:#fff;		
}


/*Careers Global - europe*/

#subnavlist li a.europe, #subnavlist li p.europe
{
	display:block;
	width:160px;
	height:44px;
	background-image:url(../../Images/global/nav_europe-img.png)/*tpa=http://www.allergan.com/Assets/Images/global/nav_europe-img.png*/;
	background-position:right;
	background-repeat:no-repeat;	
}

#subnavlist li a.europe:hover,#subnavlist li p.europe
{
	background-color:#fff;		
}

/*Careers Global - asiapac*/

#subnavlist li a.asiapac, #subnavlist li p.asiapac
{
	display:block;
	width:160px;
	height:44px;
	background-image:url(../../Images/global/nav_asiapcf-img.png)/*tpa=http://www.allergan.com/Assets/Images/global/nav_asiapcf-img.png*/;
	background-position:right;
	background-repeat:no-repeat;	
}

#subnavlist li a.asiapac:hover,#subnavlist li p.asiapac
{
	background-color:#fff;		
}

div.globe  {background-image:url(../../Images/global/globe.png)/*tpa=http://www.allergan.com/Assets/Images/global/globe.png*/;
            background-position:top;
	        background-repeat:no-repeat; }
	        
.customers  { color: #000000; text-decoration: none; }
.customertest   { color: #000000; font-weight: normal; }
.customertesttitle   { font-size: 14px; font-weight: normal; text-align:center; color: #0066CC !important; }
.customerimg    { margin-right: 15px; }
.customer_testimonial {width: 150px;border: 1px solid #818181 !important;}
.letter_header{margin-top: -15px !important;  margin-bottom: 15px !important; }

#letterofsupport_wrapper{ width: 490px; height: auto; background-color: #0A416A; padding: 5px; margin-bottom: 20px; margin-top: -15px; }
#letterofsupport_header{ width: 485px; height: 70px; border: 1px solid white; margin: 0 auto; text-align: center; }
#letterofsupport_header p{ color: white; font-family: helvetica; line-height: 65px;}
#letterofsupport_header a{text-decoration: none;}
#letterofsupport_header a:hover{text-decoration: none;}
#letterofsupport_header a span{background: none; padding: 0;}