/* CSS Document */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    line-height: 18px;
    background-position: center top;
    background-color: #FFFFFF;
}
h1 {
    color:#00544D;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height:30px;
    background-position: right top;
    display:block;
    clear:both;
    background-color: #ffffff;
    background-repeat: no-repeat;
    margin-top: 12px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 4px;
    padding-left: 0px;
}
h2 {
    color:#00544D;
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    font-size: 13px;
    font-family: Arial;
}
h3 {
    color:#00544D;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-weight: bold;
    font-size: 16px;
}
h4 {
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    font-weight:bold;
    color:#00544D;
    margin: 0px;
    padding: 0px;
}
a:link {
    color: #94420E;
    text-decoration: none;
}
a:visited {
    color: #94420E;
    text-decoration: none;
}
a:hover {
    color: #94420E;
    text-decoration: underline;
}
a:active {
    color: #94420E;
    text-decoration: none;
}
#container {
    width: 1004px;
    display:block;
    margin:auto;
}
div.header {
    width: 980px;
    float: left;
    padding-left: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #4d4f53;
    padding-right: 12px;
    background-color: #FFF;
    background-image: url(../images/header_bkg.gif)/*tpa=http://www.mosaicco.com/images/header_bkg.gif*/;
    background-repeat: no-repeat;
    background-position: 12px bottom;
    padding-bottom: 5px;
    margin: 0px;
    height: 127px;
}
div.header .logo{
    float:left;
    margin: 0px;
    padding: 0px;
}
div.header .right{
    float:right;
    clear: right;
    padding-right: 0px;
    margin-top: 15px;
}
div.header .right a{
    color: #4d4f53;
}
div.header .right img.globe{
    margin-right: 2px;
    float: left;
    padding: 0px;
}
input.field{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666666;
    margin-left: 10px;
    margin-right: 0px;
    width: 165px;
}
/*Dropdown Code*/
div#navigation{
    padding:0px;
    display:block;
    clear: right;
    float: right;
    margin-top: 11px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    width: 670px;
    height: 46px;
}
ul.dropdown,
ul.dropdown li,
ul.dropdown ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
ul.dropdown {
    position: relative;
    z-index: 1000;
    height: 46px;
    margin: 0px;
    padding: 0px;
}
ul.dropdown li {
    padding:0px;
    margin:0px;
    height:46px;
    float: left;
    zoom: 1;
}
ul.dropdown li a#about{
    display:block;
    height:46px;
    text-indent:-9999px;
    width:107px;
    background-image: url(../images/nav_about.gif)/*tpa=http://www.mosaicco.com/images/nav_about.gif*/;
    background-repeat: no-repeat;
    background-position: 0 -46px;
}
ul.dropdown li a#products{
    display:block;
    height:46px;
    text-indent:-9999px;
    width:154px;
    background-image: url(../images/nav_products.gif)/*tpa=http://www.mosaicco.com/images/nav_products.gif*/;
    background-repeat: no-repeat;
    background-position: 0px -46px;
    }
ul.dropdown li a#expertise{
    display:block;
    height:46px;
    text-indent:-9999px;
    width:113px;
    background-image: url(../images/nav_expertise.gif)/*tpa=http://www.mosaicco.com/images/nav_expertise.gif*/;
    background-repeat: no-repeat;
    background-position: 0 -46px;
    }    
ul.dropdown li a#responsibility{
    display:block;
    height:46px;
    text-indent:-9999px;
    width:144px;
    background-image: url(../images/nav_responsibility.gif)/*tpa=http://www.mosaicco.com/images/nav_responsibility.gif*/;
    background-repeat: no-repeat;
    background-position: 0 -46px;
    }
ul.dropdown li a#investor{
    display:block;
    height:46px;
    text-indent:-9999px;
    width:81px;
    background-image: url(../images/nav_investor.gif)/*tpa=http://www.mosaicco.com/images/nav_investor.gif*/;
    background-repeat: no-repeat;
    background-position: 0 -46px;
    }
ul.dropdown li a#careers{
    display:block;
    height:46px;
    text-indent:-9999px;
    width:71px;
    background-image: url(../images/nav_careers.gif)/*tpa=http://www.mosaicco.com/images/nav_careers.gif*/;
    background-repeat: no-repeat;
    background-position: 0 -46px;
    }
ul.dropdown li.hover,
ul.dropdown li:hover,
ul.dropdown li a#about:hover,
ul.dropdown li a#products:hover,
ul.dropdown li a#expertise:hover,
ul.dropdown li a#responsibility:hover,
ul.dropdown li a#investor:hover,
ul.dropdown li a#careers:hover{
    background-position:0px 0px !important;
    position: relative;
    z-index: 599;
    cursor: pointer;
}
ul.dropdown ul {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 1000;
    width: 100%;
    margin-left: 0px;
}
ul.dropdown ul li {
    padding:0px 0px 0px 0px;
    float: none;
}
ul.dropdown ul ul {
    top: 1px;
    left: 99%;
    position: absolute;
    z-index: 1000;
}
ul.dropdown li:hover > ul,
ul.dropdown li a#about:hover > ul,
ul.dropdown li a#products:hover > ul,
ul.dropdown li a#expertise:hover > ul,
ul.dropdown li a#responsibility:hover > ul,
ul.dropdown li a#investor:hover > ul,
ul.dropdown li a#careers:hover > ul
 {
    visibility: visible;
}

ul.dropdown a:hover {
    text-decoration: none;
    color:#fff;
    text-indent: 5px;
}
ul.dropdown ul {
    width:170px;
    text-transform: none;
    background-color: #FFF;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: #00544D;
    border-right-width: 1px;
    border-left-width: 1px;
    border-right-style: solid;
    border-left-style: solid;
    border-right-color: #b6b1a9;
    border-left-color: #b6b1a9;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #00544D;
}
ul.dropdown ul li {
    height:auto;
    padding:0px;
    margin:0px;
    filter: none;
    background-color: #FFF;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #b6b1a9;
}
ul.dropdown ul li.hover,
ul.dropdown ul li:hover {
    background-color: #94420e;
}
ul.dropdown li a:link,
ul.dropdown li a:visited {
    font-size:14px;
    line-height:14px;
    text-decoration: none;
    padding:0px;
    display:block;
    font-weight: bold;
    text-indent: 5px;
}
ul.dropdown ul a:hover { text-decoration: none; }
ul.dropdown li:hover, ul.dropdown li:hover a.selected, ul.dropdown li a.selected:hover,
ul.dropdown li:hover a#about,
ul.dropdown li:hover a#products,
ul.dropdown li:hover a#expertise,
ul.dropdown li:hover a#responsibility,
ul.dropdown li:hover a#investor,
ul.dropdown li:hover a#careers{
    background-position:0px 0px !important;
}
ul.dropdown li a.selected {
    background-position:0px 0px !important;
}
ul.dropdown ul a:link,
ul.dropdown ul a:visited {
    font-size:12px;
    line-height:12px;
    padding:9px 0px 9px 0px;
    margin:0px;
    width:200px; /* Especially for IE */
}
ul.dropdown ul li:hover > a.dir {
    background-color:#FFF;
}
    
/*End*/
div.content {
    background-image: url(../images/content_bkg.png)/*tpa=http://www.mosaicco.com/images/content_bkg.png*/;
    background-repeat: no-repeat;
    width: 980px;
    background-position: left top;
    float: left;
    margin: 0px;
    padding-top: 0px;
    padding-right: 12px;
    padding-bottom: 0px;
    padding-left: 12px;
}
div.column-left-home{
    width: 970px;
    float:left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666666;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    padding: 5px;
}
div.home-intro {
    background-color: #FFF;
    width: 260px;
    background-image: url(../images/home_left_bg.gif)/*tpa=http://www.mosaicco.com/images/home_left_bg.gif*/;
    background-repeat: no-repeat;
    background-position: 0px 250px;
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 0px;
    padding-left: 25px;
    float: left;
    margin: 0px;
    height: 359px;
}
div.callout {
    float: left;
    width: 305px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 12px;
}
div.calloutHeader{
    margin-top: 20px;
    margin-bottom: 6px;
    margin-right: 0px;
    margin-left: 0px;
}
div.calloutHeader img.rss{
    float: right;
    padding: 0px;
    margin: 3px 5px 0px 0px;
}
div.calloutHeader a:link, div.calloutHeader a:visited, div.calloutHeader a:hover, div.calloutHeader a:active{
    font-size: 12px;
    font-weight: normal;
}
div.callout img{
    float: left;
    margin-right: 10px;
    padding: 0px;
    margin-top: 0px;
}
div.callout p{
    padding-left: 0px;
    padding-top: 5px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
div.callout a:link, div.callout a:visited, div.callout a:hover, div.callout a:active{
    font-weight: normal;
}
div.callout ul{
    list-style-type: none;
    margin: 0px 0px 10px 5px;
    padding: 0px;
}
div.callout ul li{
    background-image: url(../images/bullet.gif)/*tpa=http://www.mosaicco.com/images/bullet.gif*/;
    background-repeat: no-repeat;
    background-position: 5px 10px;
    padding-left: 15px;
    padding-top: 3px;
}
div.callout ul li a:link, div.callout ul li a:visited, div.callout ul li a:hover, div.callout ul li a:active{
    font-weight: normal;
    color: #A33D05;
}
div.column-right-home{
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#666666;
    background-color: #FFFFFF;
    width: 236px;
    padding: 15px 0 20px 10px;
    float:left;
}
div.column-right-home img{
    margin-top: 8px;
    margin-bottom: 25px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #dad188;
    padding-bottom: 12px;
}
div.column-right-home-socialmedia{
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#666666;
    background-color: #FFFFFF;
    width: 236px;
    padding: 0px 0px 0px 0px;
    float:left;
}
div.column-right-home-socialmedia img{
    margin-top: 8px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #FFFFFF;
}
div.column-left-home p{
    margin: 0px;
    padding: 0px;
}
div.TabbedPanelsContent p{
    margin: 0px;
    padding: 0px;
}
div.TabbedPanelsContent img{
    margin: 0px;
    padding: 0px;
text-decoration:none;
border:none;
}
div.TabbedPanelsContent p.stock{
    font-size: 18px;
    font-weight: bold;
    color: #666666;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: #dad188;
    border-bottom-color: #dad188;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 8px 0px;
}
div.footer {
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#7a746a;
    display: block;
    width: 980px;
    float: left;
    margin: 0px;
    clear: left;
    height: 27px;
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 0px;
    padding-left: 12px;
    background-image: url(../images/footer_sub_bkg.png)/*tpa=http://www.mosaicco.com/images/footer_sub_bkg.png*/;
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
div.footer span {
    float: left;
    padding-top: 10px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0px;
}
div.footer a:link, div.footer a:visited, div.footer a:hover, div.footer a:active{
    color:#7a746a;
}
div.footer .right{
    float: right;
    padding-top: 10px;
}
div.sub-column-left{
    background-color: #FFFFFF;
    float:left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666666;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 0;
}
div.sub-nav{
    float: left;
    width: 167px;
    padding-top: 6px;
    padding-right: 7px;
    padding-left: 6px;
}
div.sub-nav h2{
    color: #FFF;
    background-color: #00544D;
    padding: 5px 7px 5px 7px;
    margin: 0px 0px 1px 0px;
    font-size: 15px;
}
div.sub-nav ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
div.sub-nav ul ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
div.sub-nav ul ul ul{
    margin: 0px;
    padding: 0px 0px 4px 0px;
    list-style-type: none;
}
div.sub-nav ul li{
    font-weight: bold;
    color: #bb650e;
    line-height: 14px;
    background-image: url(../images/bullet_subNav.gif)/*tpa=http://www.mosaicco.com/images/bullet_subNav.gif*/;
    background-repeat: no-repeat;
    background-position: 5px 14px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #b6b1a9;
}
div.sub-nav ul li.on{
    font-weight: bold;
    color: #4d4f53;
    background-image: url(../images/bullet_subNav_on.gif)/*tpa=http://www.mosaicco.com/images/bullet_subNav_on.gif*/;
    background-repeat: no-repeat;
    background-position: 0px 1px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #b6b1a9;
}
div.sub-nav ul li li{
    font-weight: normal;
    font-size: 11px;
    color: #00544D;
    background-image: url(../images/bullet_subNav2.gif)/*tpa=http://www.mosaicco.com/images/bullet_subNav2.gif*/;
    background-repeat: no-repeat;
    background-position: 0px 8px;
    padding: 3px 0px 0px 7px;
    border-bottom: none;
}
div.sub-nav ul li li li{
    font-weight: normal;
    font-size: 11px;
    color: #00544D;
    background-image: url(../images/bullet_subNav3.gif)/*tpa=http://www.mosaicco.com/images/bullet_subNav3.gif*/;
    background-repeat: no-repeat;
    background-position: 0px 8px;
    padding: 3px 0px 0px 7px;
    border-bottom: none;
}
div.sub-nav ul li li li li{
    font-weight: normal;
    font-size: 11px;
    color: #00544D;
    background-image: url();
    background-repeat: no-repeat;
    background-position: 0px 8px;
    padding: 3px 0px 0px 7px;
    border-bottom: none;
}
div.sub-nav ul li a:link, div.sub-nav ul li a:visited {
    color: #00544D;
    text-decoration: none;
}
div.sub-nav ul li a:hover, div.sub-nav ul li a:active {
    color: #00544D;
    text-decoration: underline;
}
div.sub-nav ul li li a:link, div.sub-nav ul li li a:visited {
    color: #00544D;
    text-decoration: none;
}
div.sub-nav ul li li a:hover, div.sub-nav ul li li a:active {
    color: #00544D;
    text-decoration: underline;
}
div.sub-nav ul li li li a:link, div.sub-nav ul li li li a:visited {
    color: 00544D;
    text-decoration: none;
}
div.sub-nav ul li li li a:hover, div.sub-nav ul li li li a:active {
    color: #00544D;
    text-decoration: underline;
}
div.sub-nav ul li li li li a:link, div.sub-nav ul li li li li a:visited{
    color: #00544D;
    text-decoration: none;
}
div.sub-nav ul li li li li a:hover, div.sub-nav ul li li li li a:active {
    color: #00544D;
    text-decoration: underline;
}
div.sub-content-search{
    float: left;
    margin: 6px 0px 0px;
    padding: 0px 18px 0px 18px;
    width: 752px;
}
div.sub-content-search p{
    margin-top: 12px;
}
div.sub-content-msdssearch{
    float: left;
    margin: 6px 0px 0px;
    padding: 0px 18px 0px 18px;
}
div.sub-content-msdssearch p{
    margin-top: 12px;
}

div.sub-content-full{
    float: left;
    margin: 6px 0px 0px;
    padding: 0px 18px 0px 18px;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #dedddd;
    width: 742px;
}
div.one-column{
    margin: 6px 0px 0px;
    padding: 0px 18px 0px 18px;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #dedddd;
    width: 922px;
}
div.sub-content{
    float: left;
    margin: 6px 0px 0px;
    padding: 0px 5px 0px 8px;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #dedddd;
    width: 592px;
}
div.sub-content a.videoLink:link, a.videoLink:visited, a.videoLink:hover, a.videoLink:active{
    text-decoration: none;
}
div.landing{
     padding: 0px;
     margin: 16px 10px 0px;
}
div.sub-content-general{
    float: left;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #bab6ae;
    width: 569px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #bab6ae;
    margin-top: 6px;
    margin-right: 0px;
    margin-bottom: 6px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 18px;
    padding-bottom: 0px;
    padding-left: 18px;
}
div.main-video{
    margin-top: 0px;
    margin-bottom: 20px;
    z-index: 1;
    position: relative;
}
div.main-image{
    background-repeat: no-repeat;
    margin-top: 5px;
    height: 330px;
    margin-bottom: 20px;
}
#media-center{
    background-image: url(../images/main_landingImage_placeh.jpg)/*tpa=http://www.mosaicco.com/images/main_landingImage_placeh.jpg*/;
    }
div.main-image div.details{
    background-image: url(../images/billboard_details_bkg.png)/*tpa=http://www.mosaicco.com/images/billboard_details_bkg.png*/;
    background-repeat: repeat;
    float: right;
    height: 164px;
    width: 244px;
    margin-top: 56px;
    padding: 18px;
    color: #4d4f53;
}
div.main-image div.details p{
    padding: 0px;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
div.main-image div.details p.small{
    font-size: 11px;
    padding: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
}
div.news-item{
    margin-bottom: 20px;
    color: #4d4f53;
}
div.news-item p{
    margin: 0px;
    padding: 0px;
}
div.news-item img{
    float: left;
    padding: 2px;
    border: 1px solid #a6a7a9;
    margin-right: 10px;
    margin-top: 4px;
}
div.news-item span.info{
    color: #818181;
    font-size: 11px;
}
div.view-all{
    padding-top: 15px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #7d99ba;
    font-weight: bold;
    margin-bottom: 15px;
}
div.gallery-row{
    margin-bottom: 20px;
    float: left;
    width: 569px;
    }
div.gallery-row-first{
    margin-bottom: 20px;
    float: left;
    width: 569px;
    margin-top: 20px;
    clear: left;
    }
div.gallery-item{
    float: left;
    width: 172px;
    padding: 0px;
    margin-top: 0px;
    margin-right: 17px;
    margin-bottom: 0px;
    margin-left: 0px;
}
div.gallery-item img{
    float: left;
    padding: 4px;
    border: 1px solid #a6a7a9;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
}
div.gallery-item .video-thumb{
    width: 172px;
    height: 100px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    position: relative;
    }
div.gallery-item .video-thumb a{
    text-decoration: none;
    display:block;
    margin: 0px;
    height: 100px;
    width: 172px;
    position: absolute;
    left: 0px;
    top: 0px;
    background-image: url(../images/video_play.png)/*tpa=http://www.mosaicco.com/images/video_play.png*/;
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -9999px;
    }
div.gallery-item .video-thumb a img {
    border: solid 1px #ccc;
    padding: 4px;
    }
div.gallery-item p{
    padding: 0px;
    margin: 0px;
    clear: left;
    float: left;
    width: 172px;
}
div.sub-callout {
    float: left;
    width: 276px;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 15px;
}
div.sub-callout-brand {
    float: left;
    width: 346px;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 15px;
}
div.sub-callout-general {
    float: left;
    width: 276px;
    padding-right: 10px;
}
div.sub-callout h4{
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    font-weight:bold;
    color:#00544D;
}
div.sub-calloutHeader h4 a:link, div.sub-calloutHeader h4 a:visited {
    color: #165788;
    text-decoration: underline;
}
div.sub-calloutHeader h4 a:hover, div.sub-calloutHeader h4 a:active {
    color: #165788;
    text-decoration: none;
}
div.sub-header{
    background-color: #E6E1B0;
    padding: 3px 3px 3px 6px;
    margin: 0;
    background-image: url(../images/calloutHeader_bkg.gif)/*tpa=http://www.mosaicco.com/images/calloutHeader_bkg.gif*/;
    background-repeat: no-repeat;
    background-position: right top;
}
div.sub-header img.rss{
    float: right;
    padding: 0px;
    margin: 3px 5px 0px 0px;
}
div.sub-header img.arrow{
    float: left;
    padding: 0px;
    margin: 3px 5px 0px 0px;
}
div.sub-header h4{
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    font-weight:bold;
    color:#00544D;
}
div.sub-header h4 a:link, div.sub-header h4 a:visited {
    color: #00544D;
    text-decoration: underline;
}
div.sub-header h4 a:hover, div.sub-header h4 a:active {
    color: #00544D;
    text-decoration: none;
}
h4 span.numbers {
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    font-weight: normal;
    color:#00544D;
    margin: 0px;
    padding: 0px;
}
h4 span.results, h4 span.results a:link, h4 span.results a:visited{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    font-weight: normal;
    color: #00544D;
    margin: 0px;
    padding: 0px;
}
div.search-header{
    color:#666;
    background-color: #e9e8e8;
    padding: 3px 6px 3px 6px;
    margin: 0;
    background-image: url(../images/search_bar.gif)/*tpa=http://www.mosaicco.com/images/search_bar.gif*/;
    background-repeat: repeat-x;
    background-position: right top;
}
div.search-header .left{
    width: 474px;
    float:left;
    padding:0;
    margin:0;
}
div.search-header .right{
    width: 150px;
    float:right;
    text-align:right;
    padding:0;
    margin:0;
}
td.search-item{
    margin: 0;
    padding: 10px 10px 10px 0;
    width:391px;
    border-bottom: solid 1px #dddddd;
    border-right: solid 1px #dddddd;
}
td.search-doc{
    margin: 0;
    padding: 10px;
    width:149px;
    border-bottom: solid 1px #dddddd;
    border-right: solid 1px #dddddd;
    text-align: center;
}
td.search-doc img{
    margin: 0 5px 0 0;
    border: none;
}
div.sub-calloutHeader{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #7d99ba;
    height:18px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
    padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 6px;
    padding-left: 0px;
    display:block;
}
div.sub-calloutHeader h4{
    width:500px;
    display: inline-block;
    float:left;
}
div.sub-calloutHeader img.rss{
    float: right;
    padding: 0px;
    margin: 3px 5px 0px 0px;
}
div.sub-calloutHeader img.arrow{
    float: left;
    padding: 0px;
    margin: 3px 5px 0px 0px;
}
div.sub-callout ul{
    list-style-type: none;
    margin: 10px 0px 10px 5px;
    padding: 0px;
}
div.sub-callout ul li{
    background-image: url(../images/bullet.gif)/*tpa=http://www.mosaicco.com/images/bullet.gif*/;
    background-repeat: no-repeat;
    background-position: 5px 10px;
    padding-left: 15px;
    padding-top: 3px;
}
div.sub-callout ul li a:link, div.sub-callout ul li a:visited, div.sub-callout ul li a:hover, div.sub-callout ul li a:active{
    font-weight: normal;
    color: #00544d;
}
div.news-callout {
    margin: 0px 0px 10px 0px;
    padding: 0px;
}
div.news-callout ul{
    list-style-type: none;
    margin: 10px 0px 10px 5px;
    padding: 0px;
}
div.news-callout ul li{
    background-image: url(../images/bullet.gif)/*tpa=http://www.mosaicco.com/images/bullet.gif*/;
    background-repeat: no-repeat;
    background-position: 5px 10px;
    padding-left: 15px;
    padding-top: 3px;
}
div.news-callout ul li a:link, div.news-callout ul li a:visited, div.news-callout ul li a:hover, div.news-callout ul li a:active{
    font-weight: normal;
    color: #00544d;
}
div.callout-item{
    margin: 0px 0px 15px 0px;
    padding: 0px;
}
div.callout-item img{
    float: left;
    padding: 0px;
    margin: 0px 10px 3px 0px;
}
div.callout-item p{
    float: left;
    width: 220px;
    margin: 0px 0px 15px 0px;
    padding: 0px;
}
span.bold{
    font-weight: bold;
    color: #000000;
}
span.bold a {
    font-weight: bold;
    color: #666666;
}
div.sub-column-right{
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#666666;
    background-color: #FFFFFF;
    width: 153px;
    padding: 15px 0px 0px 3px;
    float:left;
    margin: 0px;
}
div.sub-column-right img.solid{
    margin-top: 10px;
    margin-bottom: 20px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #dad188;
    padding-bottom: 15px;
}
div.productFinderContainer{
    margin-top: 0px;
    margin-bottom: 20px;
    float: left;
    width: 153px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 15px;
    padding-left: 0px;
}
div.productFinderContainer p{
    padding: 0px;
    font-size: 12px;
    line-height: 16px;
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    clear: left;
    float: left;
}
div.productFinderContainer-search{
    margin-top: 10px;
    padding: 0px 0px 15px;
    float: left;
}
div.productFinder{
    margin-top: 10px;
    margin-bottom: 0px;
    float: left;
    width: 143px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    background-color: #f2eeda;
    border: 1px solid #dfd8b5;
    padding-right: 4px;
}
div.calloutContainer{
    margin-top: 0px;
    margin-bottom: 15px;
    float: left;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 15px;
    padding-left: 0px;
}
div.calloutBox{
    margin-top: 10px;
    margin-bottom: 0px;
    float: left;
    width: 153px;
    padding-top: 0px;
    padding-bottom: 12px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 12px;
}
div.calloutBox p{
    font-size: 12px;
    line-height: 16px;
    padding: 0px;
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
div.calloutBox .social-media{
    float: left;
    }
div.calloutBox .social-media img {
    margin-right: 5px;
    float: left;
}
div.calloutBox .twitterBox{
    border: 1px solid #dfd8b5;
    padding: 10px;
    background-color: #f2eeda;
    color: #4d4f53;
    margin-bottom: 5px;
    float: left;
    line-height: 16px;
}
div.calloutBox .twitterBox span.time{
    color: #a4a5a7;
}
div.calloutBox p.link{
    clear: left;
    float: left;
    width: 153px;
}
div.rightnavBox{
    background-color: #ffffff;
    margin-top: 0px;
    margin-bottom: 0px;
    float: left;
    width: 143px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 0px;
}
div.productFinder img{
    float: right;
    margin: 0px;
    padding: 0px;
}
div.productFinder a:link, div.productFinder a:visited, div.productFinder a:hover, div.productFinder a:active{
    float: left;
    margin-top: 3px;
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 3px;
}
div.productFinder p{
    float: left;
    font-size: 10px;
    line-height: 12px;
    padding: 0px 0px 0px 10px;
    margin: 0px;
    width: 75px;
}
input.msdsProductField{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #666666;
    width: 114px;
    margin-top: 2px;
    float: left;
}
#videoButton{
    background-image: url(../images/callout_video.gif)/*tpa=http://www.mosaicco.com/images/callout_video.gif*/;
    background-repeat: no-repeat;
    float: right;
    height: 23px;
    width: 132px;
    cursor:pointer;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 10px;
    font-size: 11px;
    color: #666633;
    text-decoration: none;
    padding-left: 11px;
    padding-top: 38px;
}
.image-general {
    float: left;
    margin: 0px 10px 0px 0px;
}
.image-general-right {
    float: right;
    margin: 0px 0px 0px 10px;
}

.image-article {
    float: right;
    margin: 0px 0px 0px 10px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}
.columndiv-left {
    float: left;
    width: 271px;
    margin: 0px 25px 15px 0px;
    display: inline;
}
.columndiv-right {
    float: left;
    width: 271px;
    margin: 0px 0px 15px 0px;
    display: inline;
}
.listbox {
    background-image: url(../images/bg_fade.jpg)/*tpa=http://www.mosaicco.com/images/bg_fade.jpg*/;
    background-repeat: repeat-x;
    padding: 7px 7px 7px 7px;
    margin: 0px 0px 0px 0px;
    font-size: 11px;
}
div.listbox ul{
    list-style-type: none;
    margin: 0px 15px 0px 0px;
    padding: 0px;
    float: left;
}
div.listbox ul li{
    background-image: url(../images/bullet.gif)/*tpa=http://www.mosaicco.com/images/bullet.gif*/;
    background-repeat: no-repeat;
    background-position: 0px 10px;
    padding-left: 8px;
    padding-top: 3px;
}
a.listboxtitle:link, a.listboxtitle:visited {
    font-size: 12px;
    font-weight: bold;
    color: #00544D;
    text-decoration: none;
}
a.listboxtitle:hover, a.listboxtitle:active {
    font-size: 12px;
    font-weight: bold;
    color: #00544D;
    text-decoration: underline;
}
ul.checklist {
    list-style-type: none;
    margin: 0px 15px 0px 0px;
    padding: 0px;
    float: left;
}
ul.checklist  li{
    background-image: url(../images/check.gif)/*tpa=http://www.mosaicco.com/images/check.gif*/;
    background-repeat: no-repeat;
    background-position: 0px 7px;
    padding-left: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 12px;
    line-height: 15px;
}
ul.checklist a:link, ul.checklist a:visited {
    font-size: 12px;
    color: #00544D;
    text-decoration: none;
}
ul.checklist a:hover, ul.checklist a:active {
    color: #00544D;
    text-decoration: underline;
}
ul.general {
    list-style-type: none;
    margin: 0px 10px 0px 0px;
    padding: 0px;
    font-size: 12px;    
}
ul.general  li{
    background-image: url(../images/bullet.gif)/*tpa=http://www.mosaicco.com/images/bullet.gif*/;
    background-repeat: no-repeat;
    background-position: 0px 12px;
    padding-left: 8px;
    padding-top: 3px;
    font-size: 12px;
    line-height: 20px;
}
ul.rightnav {
    list-style-type: none;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    float: left;
    font-size: 11px;    
}
ul.rightnav  li{
    background-image: url(../images/bullet_gray.gif)/*tpa=http://www.mosaicco.com/images/bullet_gray.gif*/;
    background-repeat: no-repeat;
    background-position: 0px 10px;
    padding-left: 8px;
    padding-top: 3px;
    font-size: 11px;
    line-height: 18px;
}
ul.rightnav a:link, ul.rightnav a:visited {
    font-size: 11px;
    color: #00544D;
    text-decoration: none;
}
ul.rightnav a:hover, ul.rightnav a:active {
    font-size: 11px;
    color: #00544D;
    text-decoration: underline;
}
#breadcrumbs {
    font-size: 11px;
    color: #a4a5a7;
}
#breadcrumbs a, #breadcrumbs a:visited {
    color: #a4a5a7;
    text-decoration: none;
}
#breadcrumbs a:hover,#breadcrumbs a:active {
    color: #a4a5a7;    
    text-decoration: underline;
}
table.products {
    border-collapse:collapse;
    width: 100%;
}
table.products thead th {
    background-color: #00544D;
    color: #FFF;
    font-weight: bold;
    padding: 2px 7px 2px 7px;
    text-align: left;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #FFF;
}
table.products tbody tr {
    font-size: 11px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #FFF;
}
table.products tbody td,th {
    padding: 3px 7px 3px 7px;
    font-weight: normal;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #FFF;
    border-top-style: none;
    border-bottom-style: none;
}
table.products tbody td {
    text-align: center;    
}
table.products tbody th {
    text-align: left;
    color: #666666;
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: none;
    border-left-style: none;
    border-right-width: 1px;
    border-right-color: #FFF;
}
table.products tbody th a{
    color: #666666;
}
table.products tbody tr.odd {
    background-color: #e9e8e8;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #FFF;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #FFF;
}
table.directory {
    border-collapse:collapse;
    border:1px solid #FFF;
    width: 100%;
}
table.directory thead th {
    background-color: #00544D;
    color: #FFF;
    font-weight: bold;
    padding: 2px 7px 2px 7px;
    text-align: left;
    border-right: 1px solid #FFF;
}
table.directory tbody tr {
    font-size: 11px;
    border-right: 1px solid #FFF;
}
table.directory tbody td,th {
    border-right: 1px solid #FFF;
    border-top-style: none;
    border-bottom-style: none;
    padding: 3px 7px 3px 7px;
    font-weight: normal;
}
table.directory tbody td {
    text-align: left;
    vertical-align: text-top;
}
table.directory tbody th {
    text-align: left;
    color: #666666;
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: none;
    border-left-style: none;
    border-right-width: 1px;
    border-right-color: #FFF;
}
table.directory tbody th a{
    color: #666666;
}
table.directory thead th a{
    color: #666666;
}
table.directory tbody tr.odd {
    background-color: #e9e8e8;
    border-right: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
}
.detailspdf {
    float:left; 
    margin-right: 20px;
}
.detailsarrow {
    float:left; 
    margin-top: 2px;
}
.detailslink {
    float:left; 
    margin-top: 2px; 
    margin-right: 4px;
}
.keyword {
    font-weight: bold;
    font-style: italic;
    color: #165788;
}
/* minimum height hack */
  .prop {
    height:550px;
    float:right;
    width:1px;
  }
  .clear {
    clear:both;
    height:1px;
    overflow:hidden;
  }
/* end minimum height hack */
a.newslink:link, a.newslink:visited {
    color: #00544D;
    text-decoration: none;
}
a.newslink:hover, a.newslink:active {
    color: #00544D;
    text-decoration: underline;
}
a.joblink:link, a.joblink:visited {
    color: #00544D;
    text-decoration: none;
}
a.joblink:hover, a.joblink:active {
    color: #00544D;
    text-decoration: underline;
}
div.stockquote {
    width: 110px;
    margin-top: 10px;
    background-image: url(../images/sub_tabbox_bottom.gif)/*tpa=http://www.mosaicco.com/images/sub_tabbox_bottom.gif*/;
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 17px;
    padding-right: 20px;
    padding-bottom: 23px;
    padding-left: 20px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}
div.stockquote div.line {
    width: 110px;
    border-bottom: solid 1px #dad188;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 0px;
}
.small {
    font-size: 11px;
    line-height: 13px;
}
.big {
    font-size: 16px;
    font-weight: bold;
}
.regionbox {
    width: 260px;
    padding: 12px;
    margin-right: 20px;
    border: solid 1px #999;
    float: left;
    margin-bottom: 12px;
}
.regionbox img {
    float: left;
    margin-right: 12px;
}
input, textarea {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
color: #666666;
}
.highlight {
color: #00544D;
}
.brandfiles
{font-size:10px;}

.reddot {
    font: 11px Verdana, Arial, sans-serif;
    color: red;
}
.reddot a img{
    padding-bottom: 0px;
}
 .RedDotInfoBar
{
    width: 100%;
    border: thick #747474;
    border: 1pt solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    background-color: #BED8D6;
    z-index: 99;
}
.RedDotInfoBar tr td
{
    padding-left: 20px;
}
h5 {
        color:#a88f0a;
        font-weight: bold;
        font-size: 13px;
}


.FLPhosTVImageSpot {
   width: 153px;
   height: 199px;
   background-image: url(../images/fl_phos_tvspot.jpg)/*tpa=http://www.mosaicco.com/images/fl_phos_tvspot.jpg*/;
   background-position: 0 0;
}
 
.FLPhosTVImageSpot:hover {
background-position: 0 100%;
}
.FLPhosReclamation {
   width: 153px;
   height: 98px;
   background-image: url(../images/fl_phos_parks.jpg)/*tpa=http://www.mosaicco.com/images/fl_phos_parks.jpg*/;
   background-position: 0 0;
}
 
.FLPhosReclamation:hover {
background-position: 0 100%;
}
.FLPhosM2MRightCol{
 width: 153px;
   height: 200px;
   background-image: url(../images/MineToMarket_Button.jpg)/*tpa=http://www.mosaicco.com/images/MineToMarket_Button.jpg*/;
   background-position: 0 0;
}
.FLPhosM2MRightCol:hover{
background-position: 0 100%;
}
 
/******Start - CSS for Expand Sections******/
 #expand-content {
  padding-bottom:20px;
  overflow:hidden
}
.expand-container {
  position:relative;
  overflow:hidden
}
.collapse p {
padding:0 5px 1em;
font-size:13px;
}
.collapse ul {
font-size:13px;
}
.collapse  a:hover,.collapse a:link,.collapse a:active,.collapse a:visited{
font-size:13px;
color: #94420E;
}
.top{font-size:.9em; text-align:right}
#switch, .switch {margin-bottom:5px; text-align:right}
.expand{padding-bottom:.75em;
padding-top:0px;
margin:0px;
}
/* --- Links  --- */
.expand a {
  display:block;
  padding-top:8px;
  padding-bottom:0px;
  padding-left:0px;
  padding-right:0px;
  background:#FFF;
  color:#666;
  text-decoration:none;
  font-size: 13px;
  outline: 0;
  }
.expand a:link, .expand a:visited {
  background:#FFF url(../images/closed_expand_arrow.gif)/*tpa=http://www.mosaicco.com/images/closed_expand_arrow.gif*/ no-repeat 98% 80%;
  border-top:#666 solid 1px;
 }
.expand a:hover, .expand a:active, .expand a:focus {
   background:#FFF url(../images/closed_expand_arrow.gif)/*tpa=http://www.mosaicco.com/images/closed_expand_arrow.gif*/ no-repeat 98% 80%;
   border-top:#666 solid 1px;
}
.expand a.open:link, .expand a.open:visited {
 background:#FFF url(../images/open_expand_arrow.gif)/*tpa=http://www.mosaicco.com/images/open_expand_arrow.gif*/ no-repeat 98% 50%;
 border-top:#666 solid 1px;
 border-bottom:#666 solid 1px;
 padding-bottom:8px;
}
#lastexpander {
border-bottom:#666 solid 1px;
}
#lastexpander a.open:link, a.open:visited{
border-bottom:#666 solid 0px;
}
/******End - CSS for Expand Sections******/    
 .contractorsbody {
font-size:13px;
}
.contractorsbody  ul{
font-size:13px;
}
.contractorsbody a:link, .contractorsbody a:active,.contractorsbody a:hover,.contractorsbody a:visited{
color: #94420E;
}