@charset "utf-8";
/* CSS Document */
/* container for slides */
.images {
    height:384px;
    width:659px;
    float:left;
    margin:0px;
    cursor:pointer;
    position: absolute;
}
.images img{
border-style: none;
}
#slides .slidesjs-navigation {
      margin-top:3px;
    }
    #slides .slidesjs-previous {
      margin-right: 5px;
      float: left;
    }
    #slides .slidesjs-next {
      margin-right: 5px;
      float: left;
    }
#slides {
      display: none
    }
     
    .slidesjs-pagination {
      margin: 0px;
      padding-left:3px;
      float: right;
      list-style: none;
     position:relative;
     bottom:10px;
     z-index:1000;
     background-color:#FFF;
    }
    
    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
      
    }
    .slidesjs-pagination li a {
      display: block;
      width: 7px;
      height: 0;
      padding-top: 7px;
      background-image: url(../images/slideshow_navigator.gif)/*tpa=http://www.mosaicco.com/images/slideshow_navigator.gif*/;
      background-position: 0 0;
      float: left;
      overflow: hidden;
      margin:3px;
           
     }
    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -14px
    }
    .slidesjs-pagination li a:hover {
      background-position: 0 -7px
    }
    #slides a:link,
    #slides a:visited {
      color: #333
    }
    #slides a:hover,
    #slides a:active {
      color: #9e2020
    }
    .navbar {
      overflow: hidden
    }
 