#CoveoSearch{float:right; margin: 10px 0px; background: #fff;padding:3px;border: 1px solid #bbb; -webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}

#CoveoSearch .buttonSearch, #CoveoSearch .SearchSubmit{margin: 0px 0px 0px 0px; height: 17px !important; width: 20px !important; border-left: 1px dotted #999 !important;  background: url(Search_button.png)/*tpa=http://harris.com/wrapper/2012/css/search/Search_button.png*/ no-repeat 3px top;position: relative; top: 3px; right: 0px;}
#CoveoSearch input{border: 0px;outline: none; color: #999;}

#CoveoSearchNet{border: 0px solid #252324; border-right: 0px;background: #454545; position: absolute; right: 0%; top: 12px; margin-left: 0px; line-height: 25px; height: 25px; width: 300px; color: #8d8d8d; font-size: 10pt; padding: 0px 0px 0px 5px; border-top-left-radius:3px; border-bottom-left-radius:3px;}
#CoveoSearchNet input{border: 0px; background: #454545; outline: none; color: #999;}
#CoveoSearchNet .SearchSubmit{ border-left: 1px dotted #999 !important; width: 20px !important; height: 15px !important; margin: 0px 0px 0px 0px; background: url(search-icon.png)/*tpa=http://harris.com/wrapper/2012/css/search/search-icon.png*/ no-repeat 5px 0px; position: absolute; top: 5px; right: 5px; }

.CesSearch center:first-child {display: none;}