/*
 * This css will be load in all themes with same preferences of
 * responsive.tablet.landscape.css of current theme
 */
 
div.strategic-framework-navigation a.show-hide ,
div.strategic-framework-navigation a.open {
  background: url("../images/img-sprite.gif") no-repeat;
}

/* =============================================================================
 *   Sidebar
 * ========================================================================== */
 
body.page-strategic-framework div#columns{
  overflow:visible;
}

body.page-strategic-framework div.region-header div.views-field-field-logo{
  padding-left:6% !important;
}
 
div.view-strategic-framework .flex-viewport .views-field-body{
  width:90%;
  margin:50px auto 0;
}

body.page-strategic-framework #columns div.strategic-framework-navigation{
  position: absolute;
  top: 0;
  left: -230px;
  background: #fff;
  border-radius: 0 0 10px 0;
  border:1px solid #B41601;
  padding: 0;
  margin-left: 0;
  width: auto;
  margin-top: 118px;
  z-index: 2;
}
 
 body.page-strategic-framework #columns div.strategic-framework-navigation .view-content{
  width: 230px;
  padding: 10px 0;
  -moz-transition: margin 0.3s ease-out;  /* FF4+ */
  -o-transition: margin 0.3s ease-out;  /* Opera 10.5+ */
  -webkit-transition: margin 0.3s ease-out;  /* Saf3.2+, Chrome */
  -ms-transition: margin 0.3s ease-out;  /* IE10 */
  transition: margin 0.3s ease-out;
}

div.view-display-id-navigation div.view-content div.active{
  border:0 !important;
}

body.page-strategic-framework #block-views-strategic-framework-navigation ul.menu li {
  padding-left: 10px;
}

body.page-strategic-framework #block-views-strategic-framework-navigation ul.menu li a{
  color: #000 !important;
}

body.page-strategic-framework #block-views-strategic-framework-navigation ul.menu li a:hover{
  color:#000 !important;
}

body.page-strategic-framework #block-views-strategic-framework-navigation a.show-hide {
  background: url("../images/arrow-open-close.gif") 81% -17% no-repeat #fff;
  border:1px solid #B41601;
  border-left:0;
  border-radius: 0 10px 10px 0;
  height: 30px;
  position: absolute;
  right: -68px;
  color:#555;
  top: -1px;
  width: 33px;
  padding-right: 24px;
  padding-left: 10px;
  text-decoration: none;
  line-height: 30px;
  font-size: 12px;
  font-weight: bold;
  z-index: 9;
  outline: none;
}

body.page-strategic-framework #block-views-strategic-framework-navigation a.open {
  background-position: 81% 49%;
}

body.page-strategic-framework div.view-display-id-navigation div.view-content div.views-row{
  background:none !important;
  width: auto !important;
  height:auto !important;
  float:none !important;
}

/* Strategic Framework Content Introduction */
body.page-strategic-framework div.text-left,
body.page-strategic-framework div.image-right{
  float:none !important;
  width:100% !important;
}

/* Menu Footer */
body.page-strategic-framework #footer nav.footer-menu{
  width:100% !important;
}

div.view-display-id-navigation div.view-content div.active{
  border:0 !important;
}

div.view-display-id-navigation div.view-content div.views-row span a{
  color:#000 !important;
}

div.view-display-id-navigation div.view-content div.views-row span:hover a{
  color:#0a8caa !important;
}

div.view-display-id-navigation div.view-content div.active span:hover,
div.view-display-id-navigation div.view-content div.active span a{
  color:#0a8caa !important;
  padding-top:15px !important;
}

/* Business Review */
body.page-businessreview .content-column{
  padding-top:104px !important;
}

div.business-review-style ul li a div.business-review-wrapper{
  background:url(../images/arrow.gif) no-repeat 100% center;
  display:block;
  margin:1% auto;
  width:90% !important;
}

div.business-review-style ul li a div.views-field-title span a{
  width:77% !important;
}

body.page-businessreview footer#footer{
  padding:0 !important;
}
body.page-businessreview footer#footer .region-footer{
  margin:20px auto !important;
  background:#AC0000;
  width:90% !important;
}

/* Pharma Business Review */
div.view-display-id-pharmabusinessreview .elements {
  width: 100% !important;
}

div.view-display-id-pharmabusinessreview .views-row-even p.title,
div.view-display-id-pharmabusinessreview .views-row-odd p.title{
  width:55% !important;
}

/* Product by Country Page*/
div.products-country .accordion .accordion .accordion-body ul li {
    min-height: 25px;
}
/* END Product by Country Page*/