/*
 * This css will be load in all themes with same preferences of
 * responsive.smartphone.portrait.css of current theme
 */
form.search-google-appliance-search-form input.form-text {
  max-width: auto !important;
  width: 205px !important;
}
div#content div.custom_gsa-collection,
div#content ol.search-results {
  width: 88% !important;
}
div#content div.custom_gsa-collection{
	width: 97% !important;
	clear: both;
}
div.search-bar form.search-google-appliance-search-form div.container-inline {
	width: 100% !important;
}
div#block-jnj-custom-jnj-custom-gsa-search div.search-bar form.search-google-appliance-search-form input.form-text {
  max-width: 79% !important;
  width: 79% !important;
  margin:0 !important;
}