#print-modal-mask {
  width: 100% !important;
  height: 100% !important;
  position: fixed !important;
}

#print-modal {
  background: #FFF;
  position: fixed;
  left: 50%;
  margin: 0 0 0 -465px;
  padding: 0 68px;
  width: 794px;
  box-shadow: 0 0 20px #000;
      -moz-box-shadow: 0 0 20px #000;
  	-webkit-box-shadow: 0 0 10px #000;
  height: 3300px;
  overflow-x:hidden;
}

html.IE-7 #print-modal{
  top:0 !important;
}

/* Fix For Devices */
body.printer-friendly {
  height: auto !important;
  overflow: auto !important;
  width: 930px !important;
  margin: 0 auto;
}

body.printer-friendly #print-modal {
  position: relative;
}

#print-modal-content {
  margin: 68px 0;

  height: 100%;
  overflow: hidden;
  width: 100%;
}

#print-modal-controls {
  border: 1px solid #ccc;
  border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
  top: 15px;
  left: 50%;
  margin: 0 0 0 -81px;
  position: fixed;
  padding: 5px 0;
  background: rgba(250, 250, 250, 0.75);
}
html.IE-7 #print-modal-controls {
  background-color: #FFF;
}

#print-modal-controls a {
  color: #FFF;
  display: block;
  float: left;
  height: 32px;
  text-decoration: none;
  text-indent: -999em;
  width: 80px;
}

#print-modal-controls a:hover {
  opacity: 0.75;
}

#print-modal-controls a.print {
  background: url(../images/icon-print.png) no-repeat 50% 50%;
}
#print-modal-controls a.close {
  background: url(../images/icon-print-close.png) no-repeat 50% 50%;
}