div#language-select select{
	width:262px;
}

div#language-select input.button{
	display:none;
}

div#country-select select{
	width:175px;
}

html[xmlns*=""] body:last-child div#country-select select{
	width:177px;
}

*:first-child+html div#country-select select{
	width:177px;
}

div#country-select input.button{
	display:none;
}




/*CO_08 styles with JS only */


#brand-architecture li span {
	display:none;
}
			#brand-architecture li{
				clear:none;
				border-top:0px;
				width:auto;
				padding:0px 4px 0px 0px;
				margin-left:0px;
			}

			#brand-architecture li.last{
				clear:none;
				float:left; 
				border-top:0px;
				padding:0 0 0 0;
				margin-left:0px;
				width:auto;
			}
			#brand-architecture li a.active span{
				display:block;
				float:left;
			}
			
			#brand-architecture li a span,
			#brand-architecture li a.active span{
				color:#6d6f71;
				font-style:italic;
				font-weight:bold;
				padding:0 0 3px 0;
				position:absolute;
				top:-20px;
			}



			#brand-architecture li a:hover img.colour-image,
			#brand-architecture li a.active img.colour-image{
				display:block;
			}
			
			#brand-architecture li a:hover img.grey-image,
			#brand-architecture li a.active img.grey-image{
				display:none;
			}
		
			#brand-architecture li a:hover,
			#brand-architecture li a.active{
				background:url(../images/brand-architecture-hover.gif)/*tpa=http://www.pmi.com/_layouts/PMI/GCW/images/brand-architecture-hover.gif*/ no-repeat bottom center;
				padding:0 0 14px 0;
			}
			
			#brand-architecture li a:hover img,
			#brand-architecture li a.active img{
				border-left:2px solid #0067B1;
				border-right:2px solid #0067B1;
				border-top:2px solid #0067B1;
				border-bottom:2px solid #0067B1;
			}
			

			#brand-architecture li a img{
				border:2px solid #FFFFFF;
				display:block;
				padding:0;
			}
			
			#brand-architecture li a img.colour-image{
				display:none;
			}

			#brand-architecture li a:hover img.colour-image{
				display:block;
			}
						
			#brand-architecture-text{
				display:block;
			}
