@charset "UTF-8";
/* CSS Document */

ul li.doc{
	background:url(../images/icon-doc.gif)/*tpa=http://www.pmi.com/_layouts/PMI/GCW/images/icon-doc.gif*/ #FFFFFF no-repeat 0 0;
	display:block;
	padding:3px 0 0 22px;
}

ul li.aspx{
	background:url(Unknown_83_filename)/*tpa=http://www.pmi.com/_layouts/PMI/GCW/images/icon-aspx.gif*/ #FFFFFF no-repeat 0 0;
	display:block;
	padding:3px 0 0 22px;
}

 .ms-asset-icon {padding:0px !important;}

a img {padding:0px !important;}