
html[xmlns*=""] body:last-child #primary-navigation ul li.first a{
	padding:11px 25px 11px 24px !important;
}

html[xmlns*=""] body:last-child #main-content #middle-column table.event-calendar td.today a{
	padding:5px 10px 5px 10px;
	color:#FFFFFF;
	background:#009DDC;
	display:block;
}

html[xmlns*=""] body:last-child #main-content #middle-column table.event-calendar td.today a:hover{
	background:#ba131a;
}

html[xmlns*=""] body:last-child div.tout input {
	xwidth: 150px;
	margin:2px 0 0 0;
	padding-left: 4px;
	float: left;
	xcolor: #817e77;
}

html[xmlns*=""] body:last-child div.tout input.search-button{
	float:left;
	height: 21px;
	width: auto;
	margin:2px 0 5px 4px;
	border:0;
	background:#0074B6;
	color:#FFFFFF;
	padding:0 2px 0 2px;
	border-top:1px solid #EBEBEC;
	border-left:1px solid #EBEBEC;
	border-right:1px solid #969696;
	border-bottom:1px solid #969696;
	display:block;
}

html[xmlns*=""] body:last-child div.tout.wide input.submit-button {
	height: 21px;
	margin:2px 0 0 5px;
	background:#0074B6;
	color:#FFFFFF;
	width:auto;
	border-top:1px solid #EBEBEC;
	border-left:1px solid #EBEBEC;
	border-right:1px solid #969696;
	border-bottom:1px solid #969696;
}

html[xmlns*=""] body:last-child div.tout.wide input.submit-button-newline {
	height: 21px;
	margin:0;
	background:#0074B6;
	color:#FFFFFF;
	width:auto;
	border-top:1px solid #EBEBEC;
	border-left:1px solid #EBEBEC;
	border-right:1px solid #969696;
	border-bottom:1px solid #969696;
}

html[xmlns*=""] body:last-child #main-content #middle-column div.page-text table.events th{
	text-align:left;
}

html[xmlns*=""] body:last-child #main-content div.page-text #middle-column table.events td{
	text-align:left;
}


html[xmlns*=""] body:last-child #main-content #middle-column div.page-text table.dividends th{
	text-align:left;
}

html[xmlns*=""] body:last-child #main-content #middle-column div.page-text table.dividends td{
	text-align:left;
}

html[xmlns*=""] body:last-child div.tout input.go-button {
	margin:0px 0 0 10px;
	background:#0074B6;
	color:#FFFFFF;
	width:auto;
	padding:0 4px;
}

html[xmlns*=""] body:last-child div.tout input.go-button-inactive {
	margin:0px 0 0 10px;
	background:#817E78;
	color:#FFFFFF;
	width:auto;
	padding:0 4px;
}

html[xmlns*=""] body:last-child div.tout.wide input.go-button {
	margin:0px 0 0 10px;
	background:#0074B6;
	color:#FFFFFF;
	width:auto;
	padding:0 4px;
}

ul.article-select-links{
	list-style:none;
	width:100px;
	margin:0;
	padding:0;
	float:left;
	position:absolute;
	left:216px;
	height:100%;
}

div.tout ul.article-select-links li{
	float:left;
	padding:0;
	margin:0;
	background:none;
}

ul.article-select-links li a.article{
	float:left;
	clear:both;
	width:213px;
	min-height:30px;
	margin:0 0 0 0;
	padding:7px 35px 6px 9px;
	background:url(../images/article-select-line.gif) #ffffff no-repeat bottom left;
	display:block;
}

* html ul.article-select-links li a{
	height:30px;
}

ul.article-select-links li a.open{
	float:left;
	clear:both;
	min-height:30px;
	margin:0 0 0 0;
	padding:7px 35px 6px 9px;
	background:url(../images/article-select-hover.gif) #ffffff no-repeat bottom left;
	display:block;
}

ul.article-select-links li a:hover, ul.article-select-links li.active a{
	color:#FFFFFF;
	height:auto;
	/*background:url(../images/article-select-hover.gif) #3183bf no-repeat center left;*/
	background:url(../images/article-select-hover.gif) red no-repeat center left;
}

ul.article-select-links li a.bottom-article{
	float:left;
	width:213px;
	min-height:30px;
	padding:6px 35px 5px 9px;
	border-bottom:1px solid #D7D7D8;
	display:block;
	background:purple;
}

ul.article-select-links li a.bottom-article:hover{
	background:url(../images/article-select-hover.gif) green no-repeat bottom left;
	min-height:250px;
}
