/* Primary (Top) Navigation */

#primary-navigation{
	position:relative;
	width:940px;
	float:left;
	padding:0;
	margin:0 0 0 20px;
	display:inline;
	z-index:10;
	font-weight:normal;
	background:#0065B1 url(../images/bg-primary-nav.gif)/*tpa=http://www.pmi.com/_layouts/PMI/GCW/images/bg-primary-nav.gif*/ top left;	
}

#primary-navigation ul{
	padding:0 0 0 0;
	margin:0;	
	width:940px;	
}

#primary-navigation ul li{
	list-style:none;
	float:left;
}


#primary-navigation ul li a{
	color:#FFFFFF;
	text-decoration:none;
	text-align:center;
	display:block;
	font-size:12px;
	padding:11px 19px 11px 19px;
	background:url(../images/spacer-nav.png)/*tpa=http://www.pmi.com/_layouts/PMI/GCW/images/spacer-nav.png*/ no-repeat right center;
}

html[xmlns*=""] body:last-child #primary-navigation ul li a{
	padding-bottom:11px;
}

* html #primary-navigation ul li a,
* html #primary-navigation ul li.active a{
	background:url(../images/primary-nav-divider-light.gif)/*tpa=http://www.pmi.com/_layouts/PMI/GCW/images/primary-nav-divider-light.gif*/ no-repeat right center;
}


#primary-navigation ul li.first a{
	padding:11px 25px 11px 25px;
}
/* SAFARI hack */
html[xmlns*=""] body:last-child #primary-navigation ul li.first a{
	padding:11px 26px 11px 26px;
}

#primary-navigation ul li.last a{
	background:none;
}

#primary-nav-close-target{
	float:left;
	width:20px;
	height:36px;
}

/*active styles*/

#primary-navigation ul li.last.active a{
	background:url(../images/nav-hover.png)/*tpa=http://www.pmi.com/_layouts/PMI/GCW/images/nav-hover.png*/;
}

#primary-navigation ul li.active a{
	background:url(../images/nav-hover-line.png)/*tpa=http://www.pmi.com/_layouts/PMI/GCW/images/nav-hover-line.png*/ right center;
	text-decoration:none;
}

* html #primary-navigation ul li.last.active a{
	background:url(../images/nav-hover.gif)/*tpa=http://www.pmi.com/_layouts/PMI/GCW/images/nav-hover.gif*/;
}

* html #primary-navigation ul li.active a{
	background:url(../images/nav-hover-line.gif)/*tpa=http://www.pmi.com/_layouts/PMI/GCW/images/nav-hover-line.gif*/ right center;
}

/*topnav hovers*/

#primary-navigation ul li.first a:hover,
#primary-navigation ul li.sethover a
{
	background:url(../images/nav-hover-line.png)/*tpa=http://www.pmi.com/_layouts/PMI/GCW/images/nav-hover-line.png*/ right center;
	text-decoration:underline;
}

#primary-navigation ul li.lastsethover a
{
	background:url(../images/nav-hover.png)/*tpa=http://www.pmi.com/_layouts/PMI/GCW/images/nav-hover.png*/ right center;
	text-decoration:underline;
}

* html #primary-navigation ul li.first a:hover,
* html #primary-navigation ul li.sethover a
{
	background:url(../images/nav-hover-line.gif)/*tpa=http://www.pmi.com/_layouts/PMI/GCW/images/nav-hover-line.gif*/ right center;
}

* html #primary-navigation ul li.lastsethover a
{
	background:url(../images/nav-hover.gif)/*tpa=http://www.pmi.com/_layouts/PMI/GCW/images/nav-hover.gif*/ right center;
}

/* Drop downs*/
#primary-navigation ul li ul.sub-navigation li, 
#primary-navigation ul li ul.navigation-highlights li{
	float:none;
}

#primary-navigation ul li ul.sub-navigation li a, 
#primary-navigation ul li ul.navigation-highlights li a{
	background:none;
	text-decoration:none;
}

#primary-navigation ul li ul.sub-navigation li a:hover,
#primary-navigation ul li ul.navigation-highlights li a:hover{
	text-decoration:underline;
}


#primary-navigation ul li ul.sub-navigation li a{
	z-index:10;
	display:block;
	padding:0 0 6px 5px;
	font-size:13px;
	font-weight:normal;
	background:none;
	height:auto;
	width:140px;
	text-align:left;
}

#primary-navigation ul li ul.navigation-highlights li{	
	float:left;
	padding:0 18px 0 18px;
	margin:0 10px 0 0;
	background:url(../images/divider-highlights.gif)/*tpa=http://www.pmi.com/_layouts/PMI/GCW/images/divider-highlights.gif*/ no-repeat top left;
	min-height:172px;
}

* html #primary-navigation li ul.navigation-highlights li{
	padding:0 8px 0 18px;	
	height:172px;
}

#primary-navigation ul li ul.navigation-highlights img{
	margin:0 0 10px 0;
	border:1px solid #BFE1FA;
}

#primary-navigation ul li ul.navigation-highlights img.no-border{
	border:none;
}

#primary-navigation ul li ul.navigation-highlights p.title{
	color:#FFFFFF;
	margin:0;
	font-size:13px;
	font-weight:normal;
	text-align:left;
	padding:0 0 10px 0;
}


#primary-navigation ul li ul.navigation-highlights a{
	color:#FFFFFF;
	padding:0;
	font-size:12px;
	font-weight:normal;
	height:auto;
	width:205px;
	text-align:left;
	background:none;
}





/*hide it*/

#primary-navigation ul ul.sub-navigation,
#primary-navigation ul ul.navigation-highlights{
	display:none;
	padding:0;
	margin:0 0 0 0;
	position:absolute;
	left:-999em;
}



/*show it*/
#primary-navigation li.sethover ul.sub-navigation,
#primary-navigation li.lastsethover ul.sub-navigation{
	float:left;
	z-index:10;
	display:block;
	left:0;
	padding:15px 0 20px 10px;
	margin:0;
	background:#054175 url(../images/bg-subnav.gif)/*tpa=http://www.pmi.com/_layouts/PMI/GCW/images/bg-subnav.gif*/ repeat-y top left;
	min-height:265px;
	width:930px;
}


* html #primary-navigation li.sethover ul.sub-navigation,
* html #primary-navigation li.lastsethover ul.sub-navigation{
	height:265px;
}

#primary-navigation li.sethover ul.navigation-highlights,
#primary-navigation li.lastsethover ul.navigation-highlights{	
	float:left;
	z-index:10;
	display:block;
	left:175px;
	padding:15px 0 0 0;
	margin:0;
	background:none;
	width:760px;
}




/* Affiliate Navigation */

#primary-navigation.affiliate ul li a{
	color:#FFFFFF;
	text-decoration:none;	
	font-size:12px;
	padding:10px 34px 12px 34px;
	text-align:center;
	background:url(../images/spacer-nav.png)/*tpa=http://www.pmi.com/_layouts/PMI/GCW/images/spacer-nav.png*/ no-repeat right center;
}

* html #primary-navigation.affiliate ul li a{
	background:url(../images/primary-nav-divider-light.gif)/*tpa=http://www.pmi.com/_layouts/PMI/GCW/images/primary-nav-divider-light.gif*/ no-repeat right center;
}

#primary-navigation.affiliate ul li.first a{
	padding:10px 34px 12px 35px;
}


#primary-navigation.affiliate ul li.active a{
	background:url(../images/nav-hover-line.png)/*tpa=http://www.pmi.com/_layouts/PMI/GCW/images/nav-hover-line.png*/ right center;
	text-decoration:none;
}

#primary-navigation.affiliate ul li.sethover a{
	background:url(../images/nav-hover-line.png)/*tpa=http://www.pmi.com/_layouts/PMI/GCW/images/nav-hover-line.png*/ right center;
	text-decoration:underline;
}

#primary-navigation.affiliate ul li.lastsethover a{
	background:url(../images/nav-hover.png)/*tpa=http://www.pmi.com/_layouts/PMI/GCW/images/nav-hover.png*/ right center;
	text-decoration:underline;
}







#primary-navigation.affiliate ul li.sethover ul.sub-navigation, 
#primary-navigation.affiliate ul li.lastsethover ul.sub-navigation{
	float:left;
	z-index:10;
	display:block;
	left:auto;
	padding:0;
	margin:0;
	background:url(../images/bg-subnav.gif)/*tpa=http://www.pmi.com/_layouts/PMI/GCW/images/bg-subnav.gif*/ repeat-y top left;
	min-height:0;	
	height:auto;
	width:200px;
}

#primary-navigation.affiliate ul li.last ul.sub-navigation{
	right:0px;
}


#primary-navigation.affiliate ul li.sethover ul.sub-navigation a, 
#primary-navigation.affiliate ul li.lastsethover ul.sub-navigation a{
	text-decoration:none;	
	background:url(../images/divider-sub-nav.jpg)/*tpa=http://www.pmi.com/_layouts/PMI/GCW/images/divider-sub-nav.jpg*/ repeat-x bottom center;
	width:auto;
	padding:8px 15px 8px 15px;
	text-decoration:none;
}

#primary-navigation.affiliate ul li.sethover ul.sub-navigation li a:hover,
#primary-navigation.affiliate ul li.last ul.sub-navigation li a:hover {
	background:url(../images/divider-sub-nav.jpg)/*tpa=http://www.pmi.com/_layouts/PMI/GCW/images/divider-sub-nav.jpg*/ #0065B1 repeat-x bottom center;
	text-decoration:none;
}

/* Japan */
#primary-navigation ul li.ja_jp a{
	padding:11px 37px;
}
#primary-navigation ul li.first_ja_jp a{
	padding:11px 49px;
}
#primary-navigation ul li.first_ja_jp a:hover
{
	background:url(../images/nav-hover-line.png)/*tpa=http://www.pmi.com/_layouts/PMI/GCW/images/nav-hover-line.png*/ right center;
	text-decoration:underline;
}



/* Korea */
#primary-navigation ul li.ko_kr a{
	padding:12px 49px 12px 49px;
	min-height: 3em;
}
#primary-navigation ul li.first_ko_kr a
{
	padding:12px 43px 12px 45px;
	min-height: 3em;
}
#primary-navigation ul li.first_ko_kr a:hover
{
	background:url(../images/nav-hover-line.png)/*tpa=http://www.pmi.com/_layouts/PMI/GCW/images/nav-hover-line.png*/ right center;
	text-decoration:underline;
}

/* Dominican Republic */
#primary-navigation ul li.es_do a{
	padding:11px 25px;
}
#primary-navigation ul li.first_es_do a{
	padding:11px 24px;
}
#primary-navigation ul li.first_es_do a:hover
{
	background:url(../images/nav-hover-line.png)/*tpa=http://www.pmi.com/_layouts/PMI/GCW/images/nav-hover-line.png*/ right center;
	text-decoration:underline;
}

/* Polish local */
#primary-navigation ul li.pl_pl a{
	padding:11px 27px;
	min-height:2.5em;
}
#primary-navigation ul li.first_pl_pl a{
	padding:11px 36px;
	min-height:2.5em;
}
#primary-navigation ul li.first_pl_pl a:hover
{
	background:url(../images/nav-hover-line.png)/*tpa=http://www.pmi.com/_layouts/PMI/GCW/images/nav-hover-line.png*/ right center;
	text-decoration:underline;
}

/* Polish local (english version) */
#primary-navigation ul li.en_pl a{
	padding:11px 34px;
}
#primary-navigation ul li.first_en_pl a{
	padding:11px 35px;
}
#primary-navigation ul li.first_en_pl a:hover
{
	background:url(../images/nav-hover-line.png)/*tpa=http://www.pmi.com/_layouts/PMI/GCW/images/nav-hover-line.png*/ right center;
	text-decoration:underline;
}

/* Turkey */
#primary-navigation ul li.tr_tr a{
	padding:11px 29px;
	min-height:2.5em;
}
#primary-navigation ul li.first_tr_tr a{
	padding:11px 31px;
	min-height:2.5em;
}
#primary-navigation ul li.first_tr_tr a:hover
{
	background:url(../images/nav-hover-line.png)/*tpa=http://www.pmi.com/_layouts/PMI/GCW/images/nav-hover-line.png*/ right center;
	text-decoration:underline;
}

/* Portugal */
#primary-navigation ul li.pt_pt a{
	min-height: 1.5em;
	padding:11px 22px;
}
#primary-navigation ul li.first_pt_pt a
{
	min-height: 1.5em;
	padding:11px 27px;
}
#primary-navigation ul li.first_pt_pt a:hover
{
	background:url(../images/nav-hover-line.png)/*tpa=http://www.pmi.com/_layouts/PMI/GCW/images/nav-hover-line.png*/ right center;
	text-decoration:underline;
}

/* Czech Republic */
#primary-navigation ul li.cs_cz a{
	min-height: 1.5em;
	padding:11px 31px;
}
#primary-navigation ul li.first_cs_cz a
{
	min-height: 1.5em;
	padding:11px 35px;
}
#primary-navigation ul li.first_cs_cz a:hover
{
	background:url(../images/nav-hover-line.png)/*tpa=http://www.pmi.com/_layouts/PMI/GCW/images/nav-hover-line.png*/ right center;
	text-decoration:underline;
}

/* English Czech Republic */
#primary-navigation ul li.en_cz a{
	min-height: 1.5em;
	padding:11px 34px;
}
#primary-navigation ul li.first_en_cz a
{
	min-height: 1.5em;
	padding:11px 35px;
}
#primary-navigation ul li.first_en_cz a:hover
{
	background:url(../images/nav-hover-line.png)/*tpa=http://www.pmi.com/_layouts/PMI/GCW/images/nav-hover-line.png*/ right center;
	text-decoration:underline;
}

/* Russia */
#primary-navigation ul li.ru_ru a{
	padding:11px 28px;
	min-height:2.5em;
}
#primary-navigation ul li.first_ru_ru a{
	padding:11px 37px;
	min-height:2.5em;
}
#primary-navigation ul li.first_ru_ru a:hover
{
	background:url(../images/nav-hover-line.png)/*tpa=http://www.pmi.com/_layouts/PMI/GCW/images/nav-hover-line.png*/ right center;
	text-decoration:underline;
}

