@charset "UTF-8";
/* CSS Document */

body{
	font-size:10pt; /* Font size 12px*/
	font-family:Arial, Helvetica, sans-serif;
	background:#FFFFFF;
	width:100%;
}

img{ border:none; }

a{
	color:#000000;
	text-decoration:none;	
}

a:hover{
	color:#BA131A;
	text-decoration:none;	
}

/*
#main-content a:after {
   content: " (" attr(href) ") ";
   font-size: 90%;
   }
*/

h1, h2, h3, h4{
	margin:0;
	color:#000000;
	font-weight:bold;
}

h1.grey, h2.grey, h3.grey, h4.grey{ color:#000000; }

h1 {
	font-size:1.5em;
	font-weight:bold;
}

h2, h3 ,h4{ font-size:1em; }

p,
div.tout p{
	color:#000000;
	margin:0 0 12px 0;
}

#main-content #full-width-column div.country-information-left-column div.tout p{
	color:#000000;
}

ul, ol{
	margin:0 0 0 10px;
	padding:0;
}

ul li{
	list-style:none;
	background:none;
}

ul li, ol li{ color:#000000; }

#header{
	padding-bottom:20px;
	width:100%;
	float: none !important;
	height:70px;
}

#container{
	width:100%;
	background:#FFFFFF;
}

#header-right, #header-right-affiliate{
	display:none;
}

#primary-navigation, #primary-nav-close-target {
	display:none;
}

#breadcrumb{
	display:none;
}

#main-content #left-navigation{
	display:none;
}

#main-content #right-column{
	display:none;
}

#main-content #middle-column div{
float:none !important;

}


#main-content #middle-column #content-border div.image-list-item div.inline-list-image-box{

float:left !important;

}


#threequarter-width-column #search-filters,
#search-results div.result div.result-div,
#search-results div.result,
div.result-heading,
#search-filters,
#main-content #full-width-column,
div.management-member,
#main-content #middle-column, 
#main-content #middle-column div.page-text, 
div.content-highlight, 
div.content-banner,
div.management-team-member,
#main-content #middle-column #search-filters,
#main-content #middle-column #search-filters div.filter-row,
#main-content #middle-column #content-border div.image-list-item,
#main-content #middle-column #content-border div.image-list-group,
#main-content #middle-column #content-border div.image-list-group div.image-list-item,
#main-content #middle-column div.page-text div.content-image-holder,
#main-content #middle-column div.page-text div.page-text-column-container,
#main-content #middle-column div.page-text div.image-gallery,
#main-content #middle-column #content-border{
	width:100%;
}


#main-content #middle-column h1,
#main-content #threequarter-width h1,
#main-content #full-width-column h1{
	width:100%;
	border-bottom:1px solid #666666;
}

#main-content #middle-column #content-border div.image-list-item {
	float:left;
	width:95%;
	border-bottom:0px !important;
	border-top:1px solid #E1E1E1;
}

#main-content #middle-column #content-border div.image-list-item div.inline-list-image,
#main-content #middle-column #content-border div.image-list-group div.image-list-item,
div.brand-page-text
{
	clear:both;
	float:left;
	min-height:10px;
	margin-right:10px;
}

#main-content #threequarter-width-column{
	width:100%;
}
div.content-banner.inline-image-container div.content-banner-quote {
	width:60%;
}

#main-content #middle-column h1,
#main-content #threequarter-width-column h1,
#main-content #threequarter-width-column h1{
	border-bottom:1px solid #666666;
	width:100%;
}

#main-content #middle-column div.page-text ul li, 
#main-content #threequarter-width-column div.page-text ul li,
#main-content #threequarter-width-column div.page-text ul li,
.management-member ul li{
	list-style:disc;
	padding-left: 0;
	margin-left: 12px; background:none;
	color:#000000;
}


#main-content #threequarter-width-column div.page-text ul.downloads li.xls a, ul li.xls a ,
#main-content #threequarter-width-column div.page-text ul.downloads li.pdf a, ul li.pdf a,
#main-content #threequarter-width-column div.page-text ul.downloads li.doc a, ul li.doc a ,
#search-results div.result ul.downloads li.pdf, 
#search-results div.result ul.downloads li.xls, 
#search-results div.result ul.downloads li.xprl, 
#search-results div.result ul.downloads li.doc,
#search-results div.result ul li.pdf, 
#search-results div.result ul li.xls, 
#search-results div.result ul li.xprl, 
#search-results div.result ul li.doc,
div.tout ul li.pdf,
div.tout ul li.xls,
div.tout ul li.xprl,
div.tout ul li.doc,
#main-content #threequarter-width-column div.page-text ul.downloads li.doc, ul li.doc,
#main-content #threequarter-width-column div.page-text ul.downloads li.pdf, ul li.pdf,
#main-content #threequarter-width-column div.page-text ul.downloads li.xls, ul li.xls,
#main-content #threequarter-width-column div.page-text ul li.doc,
#main-content #threequarter-width-column div.page-text ul li.pdf,
#main-content #threequarter-width-column div.page-text ul li.xls{
	color:#000000;
	padding-left:0;
	background:none;
	margin-left:0;
}

#footer{
	clear:both;
}

#footer ul {
	display:none;
}

div.result-heading{
	border-top:1px solid #666666;
	border-bottom:1px solid #666666;
}

div.search-filters-press-releases-seperator,
#search-results div.result,
#main-content #threequarter-width-column div.page-text-pr-seperator,
div.management-team-member{
	border-bottom:1px solid #666666;
}

div.management-list{
	border-top:1px solid #666666;
}

#threequarter-width-column #search-results div.result-heading{
	width:100%;
}

#threequarter-width-column #search-results div.result-heading div.column-left,
#threequarter-width-column #search-results div.result div.column-left{
	width:65%;

}

#threequarter-width-column #search-results div.result div.column-left p {
	width:90%;
}

#threequarter-width-column #search-results div.result-heading div.column-right{
	width:30%;
	padding-left:20px;
}

#threequarter-width-column #search-results div.result div.column-right{
	width:30%;
}

#main-content #full-width-column h1.country-page-heading {
	padding:0;
}
div.management-team-member p.description{
	width:700px;
}

div#our-people-gallery{
	width:1000px;
}

#main-content #middle-column div.page-text div.image-gallery div.image-gallery-row{
	padding-right:10px;
}


#main-content #middle-column #page-text.investment-footer{
	width:100%;
}



#main-content #middle-column div.page-text div.page-text-column-container h2,
#main-content #middle-column div.page-text div.page-text-column-container div.page-text-column-left,
#main-content #middle-column div.page-text div.page-text-column-container p,
#main-content #middle-column div.page-text div.page-text-column-container div.page-text-column-right,
#main-content #middle-column #page-text.investment-footer p {
	width:100%;
}

#main-content #middle-column div.page-text div.page-text-column-container div.page-text-column-right,
#main-content #middle-column div.page-text div.page-text-column-container p.quote {
	width:100%;
}

#main-content #middle-column div.page-text div.page-text-column-container p.quote,
#main-content #middle-column div.content-description p,
#main-content #middle-column div.content-image-holder div.content-description h3{
	padding-left:0;
}

#main-content #middle-column div.page-text div.page-text-div{
	margin-bottom:20px;
}

#main-content #middle-column div.page-text div.content-image-holder div.content-description{
	position:relative;
	clear:both;
	background:none;
}

#main-content #middle-column div.page-text div.content-image-holder div.content-description ul li {
	display:none;
}

#main-content #middle-column div.page-text div.content-image-holder div.content-description ul li.arrow a {
	display:none;
}

#main-content #middle-column div.button,
#main-content #middle-column #search-filters div.filter-row div.filter div.input input.input_submit,
div.tout.wide input.submit-button,
div.tout.wide input.submit-button-newline,
div.table-form-container input.submit-button,
div.tout input.button{
	display:block;
}

#main-content #middle-column div.form-container div.form-container-div label,
#main-content #middle-column div.form-container div.form-container-div2 label,
#main-content #middle-column div.page-text-address ul.address-contact li,
#main-content #middle-column div.page-text-address ul.address li{
	color:#000000;
}

#banner-home,
#banner-home-affiliate,
div.pagination,
#main-content #right-column div.tout.careers-toolkit{
	display:none;
}

div.tout,
#left-column-home div.tout, 
#middle-column-home div.tout, 
#right-column-home div.tout {
	padding-right:0;
} 

#middle-column-home,
#right-column-home,
#right-column-home{
	padding-right:0;
}

div.tout.stock-watch h3, 
div.tout.stock-watch p, 
#right-column-home div.tout.stock-watch p,
div.tout.stock-watch p.thomson,
div.tout.stock-watch span, 
#right-column-home div.tout.tag-cloud h3,
div.tout h4, 
div.tout h4.header-date-italic,
div.tout.press-release h4,
div.tout select,
#search-filters label{
	color:#000000;
}

#main-content #threequarter-width-column div.page-text ul.downloads, 
#main-content #threequarter-width-column div.page-text ul.downloads li,
#main-content #middle-column div.page-text ul.analyst-address li {
	list-style:none;
}

div.analyst-address-container{
	width:500px;
}


div.job-search-heading{
	border-color:#000000;
}

div.image-gallery div.image-gallery-row,
div.image-gallery,
#main-content{
border:0px !important;
	float: none !important;
	clear:both !important;
	width:95% !important;
}


#main-content #threequarter-width-column{
	float: none !important;
	width:100%;
}


#main-content #threequarter-width-column #job-search-results div.job-vacancy p,
#job-search-results div.job-vacancy span,
#job-search-results,
div.job-search-heading,
#job-search-results div.job-vacancy,
#job-search-results div.job-vacancy span a {
	width:100%;
}

#main-content #threequarter-width-column #job-search-results div.job-vacancy p.pullout,
#job-search-results div.job-vacancy div.job-application-utility,
#middle-column div.page-text div.job-vacancy p.pullout,
#middle-column div.page-text div.job-vacancy div.job-application-utility {
	display:none;
}

#main-content #threequarter-width-column #job-search-results div.job-vacancy table tr td,
#job-search-results div.job-vacancy p.date em,
#main-content #middle-column table th,
#main-content #middle-column table td,
#main-content #threequarter-width-column table th,
#main-content #threequarter-width-column table td {
	color:#000000;
}

#main-content #middle-column table,
#main-content #threequarter-width-column table{
	clear:both;
	width:100%;
	margin:15px 0 20px 0;
}

#material-list {
	position: absolute;
	top: 15px;
	left: 315px;
	width: 160px;
}

#middle-column div.page-text p a{
	padding:0;
	margin:0;
}

div.brand-ingredients-heading{
	width:1000px;
	margin-bottom:20px;
}

div.ingredient-utilities{
	display:none;
}

#main-content #middle-column #search-filters.investment-bottom-border{
	display:block;
}

#main-content #middle-column div.page-text-disclaimer{
	margin-top:20px;
}


#threequarter-width-column #search-results,
#search-filters-press-releases,
div.search-filters-press-releases-seperator,
#main-content #threequarter-width-column div.page-text,
#threequarter-width-column #search-results div.result,
h2.email-alerts{
	width:100%;
	clear:both;
}

#footer p{
	margin-top:20px;
}

.management-member .management-member-image{
	display:none;
}

.management-member.image h2,
.management-member.image p,
.management-member ul li{
	width:95%;
	padding-right:10px;
}

.management-member .management-member-pagebreak{
	width:100%;
}

div.management-team-member p,
div.management-team-member p.description {
	width:100%;
}

div.management-member.image ul {
padding:8px 0 12px 15px;
width:100%;
}

div.management-list{

width:100%;
}

div.team-member-information {
float:left;
margin:0;
width:70%;
}



#logo-print{
	float:left;
	padding:0;
	display:block;
}

#header-country-page #logo,
#header-country-page #close-window ul li a,
div.utility-language-select{
	display:none;
}

div.right-content{
	float:left;
	width:200px;
}

#main-content #full-width-column h1.country-page-heading{
	border-bottom:1px solid #666666;
}

#header-country-page{
	height:60px;
}

#middle-column-home div.tout.pmi-world img.print-map{
	display:block;
}

#middle-column-home div.tout.pmi-world ul.links{
	padding:0;
}

div.section-highlights h2,
div.section-highlights div {
	width:1000px;
}


#main-content #middle-column table,
#main-content #middle-column table th,
#main-content #middle-column table th.amount-weight,
#main-content #middle-column table tr,
#main-content #middle-column table td,
#main-content #middle-column table td.amount-weight,
#main-content #middle-column table th.burnt-items,
#main-content #middle-column table th.unburnt-items{
border-color:#000000;

}

#main-content #middle-column,
#job-search-results,
#job-search-results div.job-vacancy,
#search-filters{
	float:none !important;
	clear:both;
}

#main-content #threequarter-width-column #job-search-results div.job-vacancy table {
	border:1px solid #333333;
}

div.product-information,
div.tout.wide {
	width:100%;

	float:none !important;
	clear:both;
}


#footer {
	margin-top:30px;
	width:100%;
	height:auto;
}

#search-results div.result div.result-div{
	width:90%;
}



/*CM PRINT STYLES*/
#main-content #full-width-column div.country-information-row{
	float:none;
}


#main-content #full-width-column div.country-information-right-column {
	float:none;
	width:60%;
	padding-left:10px;
}

#main-content #full-width-column div.country-information-right-column p,
#main-content #full-width-column div.country-information-right-column ul, 
#main-content #full-width-column div.country-information-right-column h2, 
#main-content #full-width-column div.country-information-right-column h3, 
#main-content #full-width-column div.country-information-right-column h4,
#main-content #full-width-column div.country-information-left-column p,
#main-content #full-width-column div.country-information-left-column ul, 
#main-content #full-width-column div.country-information-left-column h2, 
#main-content #full-width-column div.country-information-left-column h3, 
#main-content #full-width-column div.country-information-left-column h4{
	float:none;
	width:99% !important;
}

div.key-facts {
width:100%;	float:none;
}



.sIFR-flash{display:none;}

.sIFR-alternate{display:block;
height:auto !important;
width:auto !important;
left:auto !important;
overflow:hidden !important;
position:relative !important;

}



#main-content #middle-column div.page-text div.content-description {
bottom:0px;
left:0px;
margin:0;
}


#main-content #middle-column div.content-image-holder div.content-description h3,
#main-content #middle-column div.content-image-holder div.content-description p{
 color:#000000!important;
}

#threequarter-width-column div.filter{
	display:none;
}
div.video-group,
div.video-gallery div.video-heading,
div.video-gallery,
div.video-gallery div.video{
	float:none;
	clear:both;
}

/* Print Defect Amends 10/03/10 */

#main-content,
#left-column-home,
#middle-column-home,
#right-column-home,
#left-column-home tout,
#middle-column-home tout,
#right-column-home tout,
#main-content #full-width-column div.archive-reports-container,
#main-content #full-width-column div.archive-reports-container div.reports-box{
	float:none;
	clear:both;
}
