#swfbox{
	position: absolute;
	left: 0;
	width: 100%;
	text-align: left;
	z-index: 12;
}

#swfbox a img{ border: none; }

#outerSwfContainer{
	position: relative;
	width:auto;
	height:auto;
	margin: 0 auto;
	overflow:auto;
	overflow-x: hidden;
	z-index: 10;
	background-color: #fff;
}


#featureDataContainer{
	font-size: 1em;
	background-color: #fff;
	margin: 0 auto;
	line-height: 1.4em;
	overflow: hidden;
	width: 100%;
}

#featureData{	padding:0 10px; color: #666; }
#featureData #imageDetails{ width: 70%; float: left; text-align: left; }	
#featureData #caption{ font-weight: normal; display:block; float:left; width:68%; padding-right:2%; padding-bottom: 1.0em;  text-align: left;}
#featureData #numberDisplay{ display: block; float: left; width:30%; padding-bottom: 1.0em;  text-align: right; font-size:10px;}

#featureBottomNavContainer{
	position: absolute;
	left: 0;
	width: 100%;
	height:200px;
	text-align: left;
	float:left;
}

#featureBottomNav{ background:#FFFFFF; width:520px; height:40px; text-align:center; margin: 0 auto; position:relative;}
#featureBottomNavClose{ position:absolute; bottom:5px; right:15px;}	



#swfOverlay{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 500px;
	background-color: #000;
	}

#featureData #numberDisplay{
	display:none;
}

#printButton{
	position:relative;
	width: 100%;
	background:green;
}

#printLink{
	display:block;
	position:absolute;
	right:15px;
	top:25px;
}


* html #printLink{
	display:block;
	position:absolute;
	right:30px;
	top:35px;
}

*:first-child+html #printLink{
	right:30px;
}

#flashcontainer-CloseButton{
	position:absolute;
	top:20px;
	right:20px;
	z-index:99;
}

#flashcontainer-CloseButton ul li a{
	display:block;
	text-indent:-999em;
	background:url(../images/close-lightbox.gif)/*tpa=http://www.pmi.com/_layouts/PMI/GCW/images/close-lightbox.gif*/ no-repeat top left;
	width:20px;
	height:22px;
	cursor:pointer;
}

#swfbox #flash{
	width:100%;	
	padding:0;
}