body {
}

nav#contact {
	display:none;
}

#topnav 
{
    display:none;
}
#social
{
    display:none;
}
.menu-container
{
    display:none;
}
footer
{
    display:none;
}
.PBViewing
{
width:60%;
}
/*
#wrapper{width:500px;}
#main {width:480px;margin-right:15px;}
*/
aside {width:180px;
 float: left;border-top: 1px solid #005A8C;}
hr {
   display:none;}

section div.col2{width:30%;}

select
{
width: 170px;

}