/*//////////////////////////////////////////////////

* Main CSS file for McKesson
* Filename:  style.css
* Author:    Tyler King

Table of Contents
	1. Reset
	2. Global
	3. Columns
	4. Header
	5. MegaMenu
	6. MicroMenu
	7. MainContent
	8. Sidebar
	9. Footer
   10. Forms
   11. Photo Gallery
   12. Margins
   13. Color Themes
   14. Home
   15. Browser Specific
   16. Clearfix

//////////////////////////////////////////////////*/

/*//////////////////////////////////////////////////
	Reset
//////////////////////////////////////////////////*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section { display: block }
html,
button,
input,
select,
a:focus { outline: none}
hr {
    display: block;
    height: 1px;
    width: 100%;
    border: 0;
    border-top: 1px solid #005A8C;
    margin: 10px 0 20px 0;
    padding: 0;
    position: relative;
    z-index: 0; /*ms changed this from 1 - 10/2013*/
    clear: both;
}

hr.dot {
	height: 2px;
	background: transparent url('../uploadedimages/mckessoncom/content/images/horz-square-1.png')/*tpa=http://www.mckesson.com/uploadedimages/McKessoncom/Content/Images/horz-square.png*/ repeat-x left center;
	padding: 12px 0;
	border: none!important;
	margin: 0;
}
nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}
img {
    border: 0;
    vertical-align: middle;
}
.image1 {
    max-width:230px;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}
td { vertical-align: top }
.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: black;
    padding: 0.2em 0;
}

/*//////////////////////////////////////////////////
	Global
//////////////////////////////////////////////////*/
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #005A8C;
    font: normal normal normal 12px "Arial", Helvetica, sans-serif!important;
    line-height: 1.5em;
    margin: 0;
    min-width: 955px;
}
#container {
	background-color: #fff;
	overflow: hidden;
	min-height: 800px;
}
#container a:hover {
    text-decoration: underline;
}
.wrapper {
    width: 955px;
    margin: 0 auto;
    overflow: hidden;
}
a:link
{
    color: #005A8C;
    text-decoration: none;
}
a:visited {
    color: #005A8C;
    text-decoration: none;
}
a:active
{
    color: #669cba !important;
    text-decoration: underline;
}
a h4:active {
    color: #669cba !important;
    text-decoration: underline;
}
a:hover,
a h4:hover,
a img:hover h4 {
    text-decoration: underline;
}

a.arrow {
	margin: 0 0 10px 0;
	display: block;
} 
/*added & commented for UI styling - RG*/
/*a.arrow:hover{
	text-decoration: underline;
}*/
aside a:link, a:visited {
    color: #005A8C;
	text-decoration: none;
}

/*added for UI styling - RG*/
aside a.arrow:hover{
	text-decoration: underline;
}
aside a:active {
    color: #669cba !important;
    text-decoration: underline;
}
h1 { 
	font: normal normal bold 20px "Georgia", Times, serif;
	margin: 0 0 14px 0;
	color:#005A8C;
}

h2 { 
	font: normal normal bold 25px "Georgia", Times, serif;
	margin: 0 0 20px 0;
	color:#005A8C;
}
h3 { 
	font: normal normal bold 20px "Georgia", Times, serif;
	margin: 0 0 6px 0;
	color:#005A8C;
}
h4 { 
	font: normal normal bold 15px "Georgia", Times, serif; 
	margin: 0 0 6px 0;
	color:#005A8C;
}
h5 {font: normal normal bold 15px "Arial", Helvetica, sans-serif }
header h1 { 
	font: normal normal bold 23px "Georgia", Times, serif;
	margin: 0 0 14px 0;
	color:#005A8C!important;
}
hgroup h2 {margin: 0 0 6px 0;}
.profile h4 {margin: 0 0 20px 0;}
p {
	margin: 0 0 16px 0;
	line-height: 16px;
}

/*Change for UI styling -RG*/
p a:hover{
    color: #005A8C !important;  
    text-decoration: underline;
}
p a:active {
    color: #669cba !important;
    text-decoration: underline;
}
/*Added for UI styling -RG*/
h4 a:hover{
    color: #005A8C;  
    text-decoration: underline;
}
h3 a:link {
    margin: 0 0 6px 0 !important;
}
h4 a:active,
h3 a:active
 {
    color: #669cba !important;
    text-decoration: underline;
}
aside p,
aside time,
aside ul {color:black;}
img {margin-bottom: 10px;}
img.left {float: left;margin: 0 10px 10px 0;}
img.right {float: right;margin: 0 0 10px 10px;}
img.banner {margin: 0 0 20px 0;}
img.bannerMicro {margin: 0 0 30px 0;}
img.border {border: 1px solid #005A8C;}
.button {
	color: #fff!important;
	margin: 0 0 10px 0;
	padding: 5px;	
	border: none;
	background: #005A8C;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	-webkit-appearance: none;
	font: normal normal bold 13px “arial”, helvetica, sansserif;
}
.button
a.button:link,
a.button:visited,
a.button:hover {
	text-decoration: none !important;
}
/*a.button:hover, input.button:hover {
	text-decoration: underline;
	color: #fff!important;
}*/
.button:active,a.button:active, input.button:active {
    background-color: #669cba;
    text-decoration: none !important;
    color: #fff !important;
}
/*RM******************/
span.button a{
	color: #fff!important;
	text-decoration: none;
}

span.button a:hover{
	color: #005A8C!important;
}
span.button a:active{
	background-color: #669cba;
    text-decoration: none;
}
/*********************/

.clear {
	color: #005A8C;
	margin: 0 0 20px 0;
	padding: 4px 4px 3px 4px;
	font-size: 12px;	
	border: none;
	background: #fff;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	-webkit-appearance: none;
	outline: none;
}
.clear:hover {
	text-decoration: underline;
}
/* List Types &  Icons */

ul {
    list-style-type: none;
    margin: 0 0 10px 0;
    padding: 0;
}
ul li {
	margin: 0 0 1px 0;
	display: block;
}
ul.slats li {
	margin: 0 0 10px 0;
	padding: 0 0 10px 0;
	overflow: hidden;
}
ul.slats li:last-child {
	margin: 0;
}
ul.slats li a img {
	float: left;
	margin: 0 10px 0 0;
	padding: 4px;
}
ul.slats li a p {
	margin: 0 0 0 76px;
}
ul.slats li a p span.meta {
	display: block;
}
ul.slats ul.arrow,
ul.slats a.arrow,
ul.slats ul.contact {
	margin:10px 0 0 220px;
}
ul.slats ul.contact li {
	clear: none;
}

/*added for UI styling - RG*/
ul.arrow li a:hover{
    text-decoration: underline;
}

ul.slats p{
	/*margin: 0 0 0 220px;*/
    overflow: hidden; /*added 11/12/2013 to stop wrapping under img - ms*/
}
ul.slats summary {
	/*margin: 0 0 0 220px;*/
    overflow: hidden; /*added 11/12/2013 to stop wrapping under img - ms*/
}
ul.bulleted li {
	background: transparent url(../uploadedimages/mckessoncom/content/images/sprite-common-1.png)/*tpa=http://www.mckesson.com/uploadedimages/McKessoncom/Content/Images/sprite-common.png*/ no-repeat 0px -574px;
	padding: 0 0 0 8px;
}
ul.contact {
	list-style-type: none;
	padding: 0;
}
ul.contact li {
    color:black;
	padding: 0 0 0 26px;
	line-height: 20px;
	margin: 0 0 4px 0;
}

/*added for UI styling - RG*/
ul.slats li a:hover {
    text-decoration: underline;
}
ul.slats li a:active {
    color: #669cba !important;
    text-decoration: underline;
}
ul.contact li a:hover {
    color : #005A8C !important;
    text-decoration: underline;
}
ul.contact li a:active {
    color: #669cba !important;
    text-decoration: underline;
}
li.person {
    padding: 0 0 0 20px !important;
    margin: 0 0 4px 5px !important;
    background:url(../uploadedimages/mckessoncom/content/images/contact-person-icon-1.png)/*tpa=http://www.mckesson.com/uploadedimages/McKessoncom/Content/Images/contact-person-icon.png*/ no-repeat;
}
li.phone {
    margin: 0 0 4px 1px !important;
    padding: 0 0 0 25px !important;
    background: #005A8C url(../uploadedimages/mckessoncom/content/images/sprite-dynamic-1.png)/*tpa=http://www.mckesson.com/uploadedimages/McKessoncom/Content/Images/sprite-dynamic.png*/ no-repeat -34px -8px;
}
li.email {background: #005A8C url(../uploadedimages/mckessoncom/content/images/sprite-dynamic-1.png)/*tpa=http://www.mckesson.com/uploadedimages/McKessoncom/Content/Images/sprite-dynamic.png*/ no-repeat -34px -68px; color: #005A8C;}
li.mouse {
    margin: 0 0 4px -1px !important;    
    background: #005A8C url(../uploadedimages/mckessoncom/content/images/sprite-dynamic-1.png)/*tpa=http://www.mckesson.com/uploadedimages/McKessoncom/Content/Images/sprite-dynamic.png*/ no-repeat -34px -144px;
}
ul.news {
	margin: 0 0 10px 0;
}
ul.news li {
	margin: 0 0 10px 0;
}
ul.news time {
	clear: both;
	font-size: 10px;
	font-style: italic;
}
ul.arrow {
	padding: 0;
	list-style-type: none;
}
ul.arrow li {
	margin: 0 0 4px 0;
}
ul.arrow li,
a.arrow {
	padding: 0 0 0 12px;
	background: #005A8C url(../uploadedimages/mckessoncom/content/images/sprite-dynamic-1.png)/*tpa=http://www.mckesson.com/uploadedimages/McKessoncom/Content/Images/sprite-dynamic.png*/ no-repeat -8px -220px;
	display: block;
	overflow: hidden;
}
.arrow time {
	font-size: 10px;
	font-style: italic;
}
a.pdf {
	background: transparent url(../uploadedimages/mckessoncom/content/images/sprite-common-1.png)/*tpa=http://www.mckesson.com/uploadedimages/McKessoncom/Content/Images/sprite-common.png*/ no-repeat 108% -794px;
	padding: 0 20px 0 0;
}
a.ppt {
	background: transparent url(../uploadedimages/mckessoncom/content/images/sprite-common-1.png)/*tpa=http://www.mckesson.com/uploadedimages/McKessoncom/Content/Images/sprite-common.png*/ no-repeat 106% -868px;
	padding: 0 20px 0 0;
}
a.open {
	background: #005A8C url(../uploadedimages/mckessoncom/content/images/sprite-dynamic-1.png)/*tpa=http://www.mckesson.com/uploadedimages/McKessoncom/Content/Images/sprite-dynamic.png*/ no-repeat 100% -288px;
	padding: 0 20px 0 0;
}
nav.page ul {
	text-align: right;
	margin: 20px 0;
	/*cursor: pointer;*/
}
nav.page ul li {
	display: inline-block;
	zoom: 1;
	*display: inline;
	margin: 0 4px 0 0;
    font-size: 14px; /*added for UI styling - RG*/
}
nav.page ul li a {
	font-size: 14px;
}
nav.page ul li a:hover,
nav.page ul li a:focus {
	color: #005A8C; /*changed for UI styling - RG*/
}
/*added for UI styling - RG*/
nav.page ul li.active{
	color: #669cba;
    text-decoration: underline;
	font-weight: bold;
}
nav.page ul li.active a {
	color: #669cba; /*changed for UI styling - RG*/
	font-weight: bold;
}
nav.page ul li.prev {
	width: 20px;
	height: 16px;
	background: #005A8C url(../uploadedimages/mckessoncom/content/images/sprite-dynamic-1.png)/*tpa=http://www.mckesson.com/uploadedimages/McKessoncom/Content/Images/sprite-dynamic.png*/ no-repeat 100% 0px;
}
nav.page ul li.next {
	width: 20px;
	height: 16px;
	background: #005A8C url(../uploadedimages/mckessoncom/content/images/sprite-dynamic-1.png)/*tpa=http://www.mckesson.com/uploadedimages/McKessoncom/Content/Images/sprite-dynamic.png*/ no-repeat 100% -70px;
}
nav.page ul li.previnactive {
    width: 20px;
	height: 16px;
	background: #B2B2B2 url(../uploadedimages/mckessoncom/content/images/sprite-dynamic-1.png)/*tpa=http://www.mckesson.com/uploadedimages/McKessoncom/Content/Images/sprite-dynamic.png*/ no-repeat 100% 0px;
	cursor: default;
}
nav.page ul li.nextinactive {
    width: 20px;
	height: 16px;
	background: #B2B2B2 url(../uploadedimages/mckessoncom/content/images/sprite-dynamic-1.png)/*tpa=http://www.mckesson.com/uploadedimages/McKessoncom/Content/Images/sprite-dynamic.png*/ no-repeat 100% -70px;
	cursor: default;
}

/*////////////////////////////////////////////////// 
	Columns 
//////////////////////////////////////////////////*/
section {
    width: 100%;
    margin: 0;
    overflow: hidden;
}
.col1,
.col2,
.col3,
.col4,
.col5 {
    margin-right: 15px;
    float: left;
    min-height: 1px;
}
.col1 { width: 100% }
.col2 { width: 47.50% }
.col3 { width: 31.00% }
.col4 { width: 23.40% }
/*//////////////////////////////////////////////////
	Header
//////////////////////////////////////////////////*/
header {
    width: 955px;
    margin: 0 auto;
    padding: 20px 0 0 0;
}
#logo {
	margin: 0;
	display: inline;
}
#logo.small {
	width: 85px;
}

nav#contact {
	float: right;
}
nav#contact ul {
    font-size: 11px;
    position: relative;
    right: -10px;
    float: right;
}
nav#contact ul li {
    display: inline;
    margin: 0 0 0 12px;
}
nav#contact ul li a:link,
nav#contact ul li a:visited {
	color: #005A8C;
	text-decoration:none;
}
nav#contact ul li a:hover {
    color: #005A8C !important;
	text-decoration: underline;
}
nav#contact ul li a:active {
     color: #669cba !important;
	text-decoration: underline;
}
nav#contact ul li a.customer-login {
    color: #fff !important;
    margin-right:9px;
    padding: 5px;
    background-color: #ef8200;
    text-decoration: none;
    font: normal normal bold 11px “arial”, helvetica, sansserif;
    
}
nav#contact ul li a.customer-login:hover {
    color: #fff !important;
    padding: 5px;
    background-color: #ef8200;
    text-decoration: none !important;
    font: normal normal bold 11px “arial”, helvetica, sansserif;
}
nav#contact ul li a.customer-login:active {
    background-color: #f5ae5a;
    text-decoration: none !important;
}

#bar_lb {
    width: 100%;
    padding: 0px 0 0 0;
    margin: 0 0 13px 0;
    /*background: #005a8c url('../img/bar.gif') repeat-x center top;*/ /* since overflow had to be removed below I took out the overflow color - matt*/
    background: url('../uploadedimages/mckessoncom/content/images/bar-lb_131-1.png')/*tpa=http://www.mckesson.com/uploadedimages/McKessoncom/Content/Images/bar-lb_131.png*/ repeat-x center top;
    position: relative;
    z-index: 1;
    color: #E5EEF3;
    height: 131px;
}
#bar_lb h3{
	/*padding: 5px 0 0 0;*/ /* moving stuff around after making the title visible - matt*/
	padding: 16px 0 0 0;
	color:white;
	/*font: normal normal bold 22px/28px "Times New Roman", Times, serif;*/
	font: normal normal bold 20px/28px "Georgia", Times, serif;
	/*font-family: Georgia_Bold_emb;
	font-size: 20px;
	line-height:28px;*/
	height: 31px;
	/*overflow: hidden;*/ /*matt had to take this out for mega menu to appear*/
}
#bar_lb h1 {
    color: #fff;
    margin: 20px 0 10px 0;
    padding: 0px 0px 0px 0px !important;
}
#bar_lb a { 
}
#bar_lb #breadcrumb{
	padding-top: 6px; /*RG - to fix the Title height*/
    padding-bottom: 12px;

    /*padding-top: 12px;
    padding-bottom: 22px;*/
}

#bar {
    width: 100%;
    padding: 12px 0 0 0;
    margin: 0 0 10px 0;
    /*min-height:70px;*/
    background: url('../uploadedimages/mckessoncom/content/images/bar-1.gif')/*tpa=http://www.mckesson.com/uploadedimages/McKessoncom/Content/Images/bar.gif*/ repeat-x center top;
    position: relative;
    z-index: 1;
    color: #E5EEF3;
    height: 93px;
}
#bar_notab{
	width: 100%;
    padding: 12px 0 0 0;
    margin: 0 0 10px 0;
    /*background: #005a8c url('../img/bar.gif') repeat-x center top;*/ /* since overflow had to be removed below I took out the overflow color - ms*/
    background: url('../uploadedimages/mckessoncom/content/images/bar-1.gif')/*tpa=http://www.mckesson.com/uploadedimages/McKessoncom/Content/Images/bar.gif*/ repeat-x center top;
    position: relative;
    z-index: 1;
    color: #E5EEF3;
    height: 70px; /* ms tried adding this*/
}
#bar-container {
	width: 955px;
	margin: 0 auto;
    /*overflow: hidden;*/ /*matt had to take this out for mega menu to appear*/
}
#bar-container h1{
    font: normal normal bold 20px "Georgia", Times, serif;    
	padding: 17px 0 0 0 ;
    height: 26px;
	color:white;
}
#bar h3 {
    color: #fff;
    /*margin: 20px 0 10px 0;*/
}

#bar a { 
	/*color: #e5eef3!important;*/ /* matt had to remove this*/
}
#breadcrumb a:link, #breadcrumb a:visited{
    color: #fff !important; /* matt added this here instead of in #bar*/
    text-decoration:none;
}
#breadcrumb a:hover {
    color: #fff !important;
    text-decoration:underline;
}
#breadcrumb a:active {
color:#c0d6e3 !important;
text-decoration:underline;
}
#bar a:hover { 
     text-decoration:underline;
}

/*.lt-ie9 #bar_lb #bar-container h3{
	padding-top: 0px !important;
}
.lt-ie8 #bar_lb #bar-container h3{
	padding-top: 1px !important;
}*/

#breadcrumb ul li {
    display: inline-block;
    padding: 0 2px;
    font: normal normal normal 11px/14px "Arial", Helvetica, sans-serif;
}
#bar #tab  ul.tab-menu {
    font-size: 13px;
    position: absolute;
    top:81px; /* was 82 was -2 was 1 changed by ms*/
}

#bar_lb #tab ul.tab-menu {
    font-size: 13px;
    position: absolute;
    top:107px; /* was 108px  was -2 was 1 changed by ms*/ 
}

#tab ul li {
    display: inline-block;
    border-right: 1px solid #4d8bae;
    padding: 0;
    background: none;
}
#tab ul li:first-child {
	border-right: none;
}
#tab a {
    display: block;
    padding: 3px 20px;
}
#tab a.active {
    /* moved to tab_submenu_skin*/
}
.lt-ie8 #about ul li,
.lt-ie8 #breadcrumb ul li,
.lt-ie8 #tab ul li,
.lt-ie8 #social ul li {
	display: inline;
}
#social {
	width: 955px;
	margin: 0 auto;
	text-align: right;
	font-size: 11px;
}
#social ul {
	list-style-type: none;
	padding: 0;
}
#social ul li {
	display: inline-block;
	margin: 0 0 0 0;
	line-height: 1.6em;
}
#social a {
	padding: 0 0 0 10px;
	display: block;
	color: #005A8C;
}
#social .print {
	background: #fff url(../uploadedimages/mckessoncom/content/images/sprite-common-1.png)/*tpa=http://www.mckesson.com/uploadedimages/McKessoncom/Content/Images/sprite-common.png*/ no-repeat 0px -3px;
}
#social .send {
	background: #fff url(../uploadedimages/mckessoncom/content/images/sprite-common-1.png)/*tpa=http://www.mckesson.com/uploadedimages/McKessoncom/Content/Images/sprite-common.png*/ no-repeat 3px -73px;
}
#social .share {
	background: #fff url(../uploadedimages/mckessoncom/content/images/sprite-common-1.png)/*tpa=http://www.mckesson.com/uploadedimages/McKessoncom/Content/Images/sprite-common.png*/ no-repeat 3px -144px;
}
/*//////////////////////////////////////////////////
	MegaMenu
//////////////////////////////////////////////////*/
.menu-container {
    margin: 0 auto;
    position: relative;
    z-index: 10;
    padding: 0;
}
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 955px;
    margin: 0 auto;
    overflow: hidden;
}
.menu span {
	font: normal normal normal 15px "Georgia", Times, serif;
}
.menu > li {
    display: inline;
    margin: 0 28px 0 0;
    padding-bottom: 5px; /*fix up down movement - add padding was 3px*/
    zoom: 1;
    color: #005A8C; /*was #000 = changed as per 12/20 doc*/
    float: left;
    background: none;
    padding-left: 0;
}
.menu > li.main-right {
	float: right;
	margin: 0 0 0 28px;
}
.menu > li.main-right.search:hover {
	border-bottom: none;
}
.menu > li.main-right a {
	font: normal normal normal 12px "Arial", Helvetica, sans-serif!important;
	line-height: 1.5em;
}
.menu > li.main-right h5 a {
	font: normal normal bold 15px "Arial", Helvetica, sans-serif!important;
}
.menu > li a:link{
	color: #005A8C;
	text-decoration:none!important;
}
.menu > ul li a:visited {
	color: #005A8C;
	text-decoration:none!important;
}
.menu > li a:visited {
	color: #005A8C;
	text-decoration:none!important;
}

.menu > li.enabled:hover { 

    color: #005A8C; /*was #000 = changed as per 12/20 doc*/
	padding-bottom: 2px;
	border-bottom: 8px solid #fff;
	background: #fff url('../uploadedimages/mckessoncom/content/images/blue-line-1.jpg')/*tpa=http://www.mckesson.com/uploadedimages/McKessoncom/Content/Images/blue-line.jpg*/ repeat-x center 17px;
}
.menu > li.current,
.menu > li.current:hover { 
	padding-bottom: 2px;
	color: #005A8C; /*was #000 = changed as per 12/20 doc*/
	border-bottom: 8px solid #ef8200;
	background: none!important;
}
.menu > li.search:hover {
	padding-bottom: 5px;
}
/**RM**/
.menu > li.current.white,
.menu > li.current.white:hover { 
	border-bottom: 8px solid #fff;
}
.menu > li.current:hover span.drop { 
	border-bottom: none
}
.menu > li.current .nodrop, /*added as per 12/20 doc*/
.menu > li.current .drop {
	color: #005A8C; /*was #000 = changed as per 12/20 doc*/
}
.menu > li a:focus { outline: none }
.menu > li .drop,
.menu > li .nodrop {
    text-decoration: none;
    color: #005A8C;
}
.menu > li .drop:hover,
.menu > li .drop a:link,
.menu > li .drop a:visited,
.menu > li .nodrop:hover,
.menu > li .nodrop a:link,
.menu > li .nodrop a:visited {
    color: #005A8C;
    cursor: pointer;
    text-decoration: none;
}
.menu > li .drop:hover,
.menu > li .drop a:hover,
.menu > li .nodrop:hover,
.menu > li .nodrop a:hover {
    /*color: #000;*/
   color: #005A8C !important; /*as per 12/20 document*/
}

.menu > li .menu-fullwidth {
    position: absolute;
    top: 27px;
    left: -9999em;
    z-index: 9998;
    float: left;
    width: 100%;
    margin: 0 0 40px -1px;
    padding: 0 0 40px 0;
    background: #005a8c url('../uploadedimages/mckessoncom/content/images/bar-top-shadow-1.gif')/*tpa=http://www.mckesson.com/uploadedimages/McKessoncom/Content/Images/bar-top-shadow.gif*/ repeat-x center top;
    color: #fff;
}
.menu-push .menu > li .menu-fullwidth {
    position: relative;
    top: 5px;
}
.menu > li:hover .menu-fullwidth { left: 0 }
.menu h5 { margin: 0 15px 15px 0 }
.menu h5 a { color: #FFF!important } /* was #99bdd1 as per 9/4 change doc - ms */
.menu-panel a,
.menu-tabs-panels ul li a{ color: #FFF!important } 

.menu .menu-tabs-panels ul li a:active,
.menu .menu-tabs-panels h5 a.navlink:active,
.menu .menu-panel ul li a:active,
.menu .menu-panel h5 a.navlink:active{
	color: #C0D6E3!important;
} 
.menu h5 a:hover { /*override hover behavior as now only appearsw with class="navlink" */
	/*color: #99bdd1; taken out as per 9/4 change doc - ms */
	color: #FFF!important;
    text-decoration:underline !important;	
}  /*changed from fff as per 9/4 change doc  to blue and then back to white (removed color coming from above)- ms */

.menu h5 a:active {
    color: #c0d6e3 !important;
    text-decoration:underline !important;
}
.menu h5 a.navlink:hover{
	text-decoration:underline;	
} /*then changed to only hover underline when clickable determined by class="navlink" */ 

.menu hr {
    border-top: 1px solid #4d8caf!important;
    margin-right: 15px;
}
.menu .col4 {
	width: 21.80%;
	margin-right: 30px;
}
.menu-panel,
.menu-tabs-panels {
    width: 955px;
    margin: 20px auto 0 auto;
    overflow: hidden;
    background: transparent url('../uploadedimages/mckessoncom/content/images/vert-lines-1.png')/*tpa=http://www.mckesson.com/uploadedimages/McKessoncom/Content/Images/vert-lines.png*/ repeat-y 220px top;
}
.menu-tabs-hide {
    position: relative;
    left: 0;
    top: 0;
    display: none;
    width: 955px;
    margin: 0 auto;
}
.menu-tabs-container {
    width: 100%;
    border-bottom: 1px solid #4d8caf;
    margin: 0;
    background: #005A8C url('../uploadedimages/mckessoncom/content/images/bar-1.gif')/*tpa=http://www.mckesson.com/uploadedimages/McKessoncom/Content/Images/bar.gif*/ repeat-x center top;
    overflow: hidden;
}
ul.menu-tabs-nav {
    width: 955px;
    height: 30px;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    font: normal normal bold 16px "Arial", Helvetica, sans-serif
}
ul.menu-tabs-nav li {
    display: inline;
    float: left;
    width: auto;
    white-space: nowrap;
    margin-right: 10px;
}
ul.menu-tabs-nav li a {
    color: #fff!important;
    position: relative;
    float: left;
    padding: 6px 12px;
    margin: 0;
}
ul.menu-tabs-nav li a.current,
ul.menu-tabs-nav li a.current:hover,
ul.menu-tabs-nav li a:hover{ /*-ms removed focus*/
	background-color: #4d8caf;
	text-decoration: none!important;
}
ul.menu-tabs-nav li a.navlink:hover{ /*changed to underline when the link is a nav - added class to html - as per 9/4 changes doc after meeting - ms*/
	text-decoration: none; /* changed back to no underline in 12/20 doc    underline!important;  */  
}
ul.list {
	list-style-type: none;
	margin:0 15px 20px 0;
}
ul.list li {
	background: transparent url(../uploadedimages/mckessoncom/content/images/sprite-common-1.png)/*tpa=http://www.mckesson.com/uploadedimages/McKessoncom/Content/Images/sprite-common.png*/ no-repeat 1px -501px;
	padding:0 0 0 10px;
	margin: 0 0 5px 0;
}
ul.list li a:hover {
    text-decoration: underline !important;
}
li.sublist {
	background: none!important;
}
li.sublist ul li {
	background: transparent url(../uploadedimages/mckessoncom/content/images/sprite-common-1.png)/*tpa=http://www.mckesson.com/uploadedimages/McKessoncom/Content/Images/sprite-common.png*/ no-repeat 1px -501px;
	padding:0 0 0 10px;
	line-height: 1.1em;
}
li.sublist ul li a:hover {
    text-decoration: underline !important;
}
li.search:hover {
	background-image: none!important;
}
.close-menu {
	width: 955px;
	margin: 0 auto;
	text-align: right;
	position: relative;
	height: 0px;	
    top: 4px;
}
.close-menu a {	
	display:inline-block;
	height:18px;
	color: #99bdd1!important;
	padding: 5px 4px 1px 15px;
	background: transparent url('../uploadedimages/mckessoncom/content/images/close-1.png')/*tpa=http://www.mckesson.com/uploadedimages/McKessoncom/Content/Images/close.png*/ no-repeat left center;
	background-repeat: no-repeat;
	background-position: left center;
	zoom: 1;

}

/*//////////////////////////////////////////////////
	MicroMenu
//////////////////////////////////////////////////*/
.microMenuWrapper {
	width: 100%;
	height: 32px;
	clear: both;
}
hr.micro {
	border: none!important;
	height: 15px;
	background-color: #005A8C;
	margin: 0;
}
/* Level 1 */
 ul.dropdown {
 	width: 955px;
 	margin: 0 auto;
	position: relative;
	list-style: none;
	z-index: 9999;
	clear: both;
	font: normal normal normal 15px "Georgia", Times, serif;
}
ul.dropdown li {
	float: left;
	zoom: 1;
	margin: 0 20px 0 0;
}
ul.dropdown a {
	color: #005a8c!important;
}
ul.dropdown a:active {
	color: #000;
}
ul.dropdown li a {
	display: block;
	padding: 4px 0 3px 0;
	text-decoration: none;
}
ul.dropdown li:last-child a {
	border-right: none;
}
ul.dropdown li:hover {
	position: relative;
	border-bottom: 8px solid #97bdd3;
}
ul.dropdown li.current a {
	color: #000!important;
}
ul.dropdown li.current {
	position: relative;
	border-bottom: 8px solid #EF8200;
}
/* Level 2 */
 ul.dropdown ul {
	width: 220px;
	visibility: hidden;
	position: absolute;
	top: 100%;
	left: 0;
	margin: 8px 0 0 0;
	padding: 15px 10px;
	list-style-type: disc;
	color: #fff;
	background: #005A8C url('../uploadedimages/mckessoncom/content/images/bar-1.gif')/*tpa=http://www.mckesson.com/uploadedimages/McKessoncom/Content/Images/bar.gif*/ repeat-x center top;
	font: normal normal normal 12px "Arial", Helvetica, sans-serif;
}
ul.dropdown ul li {
	font-weight: normal;
	float: none;
}
ul.dropdown ul li:hover {
	border: none!important;
}
ul.dropdown ul li a {
 	color: #fff!important;
	display: inline-block;
	margin: 0 0 0 4px;
	background: transparent url(../uploadedimages/mckessoncom/content/images/sprite-common-1.png)/*tpa=http://www.mckesson.com/uploadedimages/McKessoncom/Content/Images/sprite-common.png*/ no-repeat 1px -497px;
	padding-left: 10px;
}
ul.dropdown ul li a:hover {
	text-decoration: underline;
}
/* Level 3 */
 ul.dropdown ul ul {
	left: 100%;
	top: 0;
}
ul.dropdown li:hover > ul {
	visibility: visible;
}
/* Right */
ul.dropdown li.main-right {
	float: right;
	margin: 0 0 0 28px;
}
ul.dropdown li.main-right:hover {
	border-bottom: 2px solid #97bdd3!important;
}
ul.dropdown li.main-right.search:hover {
	border-bottom: none!important
}
ul.dropdown li.main-right a {
	font: normal normal normal 12px "Arial", Helvetica, sans-serif!important;
	line-height: 1.5em;
}

/*//////////////////////////////////////////////////
	MainContent
//////////////////////////////////////////////////*/
#main {
    width: 643px;
    float: left;
    margin: 0 0 40px 0;
}
#fullwidth {
	width: 100%;
	margin: 0 0 40px 0;
	overflow: hidden;
}
.profile p {
	margin-left: 214px;
    text-justify:distribute;/*Changes for QC 122*/
    /*text-align:justify;  Changes for QC 122*/
}
.profile ul.arrow li {
	clear: both;
	display: block; /*RM inline-block;*/

}

#skip {display: none;}

.jcarousel-direction-rtl {direction: rtl;}
.jcarousel-container-horizontal {width: 643px;}
.jcarousel-clip {overflow: hidden;}
.jcarousel-clip-horizontal {
    width:  643px;
    height: auto;
}
.jcarousel-item {
    width: 199px;
    height: auto;
}
.jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 20px;
}
.jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}
.jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}
.jcarousel-next-horizontal {
    width: 20px;
    height: 16px;
    cursor: pointer;
    background: #005A8C url(../uploadedimages/mckessoncom/content/images/sprite-dynamic-1.png)/*tpa=http://www.mckesson.com/uploadedimages/McKessoncom/Content/Images/sprite-dynamic.png*/ no-repeat 100% -70px;
   	float: right;
}
.carousel_class .jcarousel-next-horizontal {
    width: 20px;
    height: 16px;
    cursor: default;
    background: url();
   	float: right;
}
.jcarousel-next-disabled {
    background: #b2b2b2 url(../uploadedimages/mckessoncom/content/images/sprite-dynamic-1.png)/*tpa=http://www.mckesson.com/uploadedimages/McKessoncom/Content/Images/sprite-dynamic.png*/ no-repeat 100% -70px!important;
    cursor: default;
}
.carousel_class .jcarousel-next-disabled {
    background: url();
    cursor: default;
}
.jcarousel-prev-horizontal {
    width: 20px;
    height: 16px;
    cursor: pointer;
    background: #005A8C url(../uploadedimages/mckessoncom/content/images/sprite-dynamic-1.png)/*tpa=http://www.mckesson.com/uploadedimages/McKessoncom/Content/Images/sprite-dynamic.png*/ no-repeat 100% 0px;
    float: left;
    margin: 0 0 0 87%;
}
.carousel_class .jcarousel-prev-horizontal {
    width: 20px;
    height: 16px;
    cursor: default;
    background: url();
    float: left;
    margin: 0 0 0 87%;
}
.jcarousel-prev-disabled {
    background: #b2b2b2 url(../uploadedimages/mckessoncom/content/images/sprite-dynamic-1.png)/*tpa=http://www.mckesson.com/uploadedimages/McKessoncom/Content/Images/sprite-dynamic.png*/ no-repeat 100% 0px!important;
    cursor: default;
}
.carousel_class .jcarousel-prev-disabled {
    background: url() !important;
    cursor: default;
}
.carousel-index {
	float: right;
	margin: 0 30px;
	position: relative;
	top: -15px;
	text-align: center;
}
/* 
	Required Styles
*/
#aToolTip {
	position: absolute;
	display: none;
	z-index: 50000;
	text-align:center;
}
#aToolTip .aToolTipContent {
	position:relative;
	margin:0;
	padding:10px 0px;
	margin-left: -50%;
	background:#005A8C;
	color:#fff;
}


/*//////////////////////////////////////////////////
	Sidebar
//////////////////////////////////////////////////*/
aside {
    width: 272px;
    float: right;
    border-top: 1px solid #005A8C;
    padding: 20px 0 0 0;
    margin: 0 0 40px 0;
}
aside img {
	margin: 0 0 10px 0;
}
aside p {
	margin: 0 0 10px 0;
}
aside a.more {
	display: block;
	margin: 6px 0 0 0;
}
.twtr-widget .twtr-tweet-wrap {
	padding: 0 0 20px 0!important;
}
.twtr-widget .twtr-tweet {
	border-bottom: none!important;
}
.twtr-hd, 
.twtr-ft,
.twtr-avatar {display: none!important;}

/*//////////////////////////////////////////////////
	Footer 
//////////////////////////////////////////////////*/
footer {
    width: 100%;
    height: auto;
    padding: 30px 0;
    position: relative;
    clear: both;
    background: #005a8c url('../uploadedimages/mckessoncom/content/images/footer-1.gif')/*tpa=http://www.mckesson.com/uploadedimages/McKessoncom/Content/Images/footer.gif*/ repeat-x center top;
}
footer .wrapper {
	background: #005a8c url('../uploadedimages/mckessoncom/content/images/vert-line-left-1.png')/*tpa=http://www.mckesson.com/uploadedimages/McKessoncom/Content/Images/vert-line-left.png*/ repeat-y 211px top;
}
footer.micro .wrapper {
	background-color: #005a8c;
	background-image: none;
}

footer ul {
    list-style-type: none;
    margin: 0 0 20px 0;
    clear: both;
}
footer img {
	margin: 0 0 20px 0;
}
footer ul li {
    margin: 0 0 2px 0;
    color: #fff;
    font: normal normal normal 11px "Arial", Helvetica, sans-serif;
}
footer ul li:first-child {
    margin: 0 0 10px 0;
    color: #fff;
    font: normal normal bold 14px "Arial", Helvetica, sans-serif;
}
footer ul.legal { padding: 0;}
.copyright {
	color: #e5e5e5;
	font-weight:normal!important;
	font-size: 12px!important;
	padding: 2px 0 0 0!important;
}
footer a:link, footer a:visited { color:  #fff; text-decoration:none; }
footer a:hover { color:  #fff !important; text-decoration:underline; }
footer a:active {
    color: #c0d6e3 !important;
    text-decoration: underline;
}
footer .bcc {
    height: 100%;
    width: 22%;
    margin-right: 26px; 
}
footer .bcc ul li:first-child {
    margin: 0 0 2px 0;
    font: normal normal normal 11px "Arial", Helvetica, sans-serif;
}
footer.micro {
	padding: 20px 0;
}
footer.micro ul {
	float: right;
	display: inline;
	margin: 0;
}
footer.micro ul li {
	display: inline;
	margin: 0 0 0 13px;
	vertical-align: top;
	position: relative;
	top: 2px;
}
footer.micro ul li a {
	vertical-align: top;
}
footer.micro ul li.copyright {
	border-left: 1px solid #bfd6e2;
	border-right: none;
	margin: 0 0 0 13px;
	padding: 0 0 0 13px!important;
	font-size: 11px!important;
}
footer.micro.social ul li.copyright {
	border-left: 1px solid #bfd6e2;
	border-right: 1px solid #bfd6e2;
	margin: 0 13px;
	padding: 0 13px!important;
}
footer.micro ul li.social {
	overflow: visible;
	margin: 0 0 0 5px;
	top: 0px;
}
footer.micro ul li:first-child {
	font-weight: normal;
	font-size: 11px;
}
footer.micro ul li:last-child {
	border-right: none;
}
footer.micro img {
	margin: 0;
}

/*//////////////////////////////////////////////////  
	Forms
//////////////////////////////////////////////////*/
fieldset {margin: 0 0 10px 0;}
fieldset.check {padding:0 0 0 120px;}
form#newsletter {margin-bottom: 10px;}

fieldset.check label {
	display: inline;
	float: none;
	width: auto;
}
fieldset.radio ul li label {
	display: inline;
	float: none;
	width: auto;
}
textarea {
	color:#669cba;
	display: block;
	width: 300px;
	height:100px;
	padding: 5px;
	border: 1px solid #005A8C;
	background: #fff;
	-webkit-appearance: none!important;
	border-radius:0!important;
	-moz-border-radius:0!important;
	outline:none!important;
	-moz-appearance: none!important;
	font-size: 10px;
}
input {vertical-align:top; }
input[type="text"],
input[type="password"],
input.required {
	width:190px;
	font-size: 10px; 
	padding:4px 3px;
	color:#669cba;  
	background:#fff; 
	border:1px solid #005A8C;
	outline: #fff;
	-webkit-appearance: none!important;
	border-radius:0!important;
	-moz-border-radius:0!important;
	outline:none!important;
	-moz-appearance: none!important;
}
/*input[type="submit"] {
	padding:2px 8px;
	font-size: 12px; 
	border:1px solid #005A8C; 
	color: #fff!important; 
	background: #005A8C; 
	cursor:pointer;
	font: normal normal normal 13px "Georgia", Times, serif;
	-webkit-appearance: none!important;
	border-radius:0!important;
	-moz-border-radius:0!important;
	outline:none!important;
	-moz-appearance: none!important;
}*/
/*input[type="submit"]:hover {text-decoration: underline;}
input[type="submit"]::-moz-focus-inner {border:0;}
input[type="submit"]:focus {background:#fff;}*/
::-webkit-input-placeholder  { color:#669cba; }
/*RM */
input[type="reset"] {
	padding:2px 8px;
	font-size: 12px; 
	border:1px solid #005A8C; 
	color: #fff!important; 
	background: #005A8C; 
	cursor:pointer;
	font: normal normal normal 13px "Georgia", Times, serif;
	-webkit-appearance: none!important;
	border-radius:0!important;
	-moz-border-radius:0!important;
	outline:none!important;
	-moz-appearance: none!important;
}
input[type="reset"]:hover {text-decoration: underline;}
input[type="reset"]::-moz-focus-inner {border:0;}
input[type="reset"]:focus {background:#fff;}
::-webkit-input-placeholder  { color:#669cba; }

/* RG - As per QC 48-2 */
input[type="submit"]{
    border:1px solid #005A8C;
    font: normal normal bold 13px “arial”, helvetica, sansserif !important;
    text-decoration: none !important;
    color: #fff !important;
    padding: 5px !important;
    background-color:#005a8c;
    cursor: pointer;
    -webkit-appearance: none!important;
	border-radius:0!important;
	-moz-border-radius:0!important;
	outline:none!important;
	-moz-appearance: none!important;
}
input[type="submit"]:active {
    
    border:1px solid #669cba;
    background-color: #669cba !important;
    text-decoration: none !important;
}

input[type="reset"]:link,
input[type="reset"]:visited
input[type="reset"]:hover{
font: normal normal bold 13px “arial”, helvetica, sansserif !important;
    text-decoration: none !important;
    color: #fff !important;
    padding: 5px !important;
    background-color:#005a8c;
    cursor: pointer;
}
input[type="reset"]:active {
    background-color: #669cba !important;
    text-decoration: none !important;
}

/**/
select {
	color:#669cba;
	width: 198px;
	height: 22px;
	padding:3px;
	font-size: 10px;
	background: #005A8C url(../uploadedimages/mckessoncom/content/images/sprite-dynamic-1.png)/*tpa=http://www.mckesson.com/uploadedimages/McKessoncom/Content/Images/sprite-dynamic.png*/ no-repeat 100% -211px;
	border: 1px solid #005A8C;
	border-radius:0!important;
	-moz-border-radius:0!important;
	outline:none!important;
	-moz-appearance: none!important;
	-webkit-appearance: none;
	vertical-align: top;
}
select option {
	background-color: #fff;
}
#eventFinder select {
	width: 272px;
}
fieldset.radio ul {
	margin:0;
	padding:5px 0 0 0;
}
fieldset.radio ul li {
	margin: 0 20px 0 0;
	display:inline;
}
fieldset.radio ul li:last-child {
	margin: 0;
}
fieldset p.form-help {
	margin: 5px 0 0 20%;
	color: #999;
}
span.error { 
	float: none; 
	color: #db0000; 
	font-weight: normal;
	font-size: 10px;
	padding: 4px 0 0 20px;
	margin:0 0 0 4px!important;
	background: #fff url(../uploadedimages/mckessoncom/content/images/sprite-common-1.png)/*tpa=http://www.mckesson.com/uploadedimages/McKessoncom/Content/Images/sprite-common.png*/ no-repeat 0 -358px;
	display: inline-block;
	width: auto;
	height: 18px;
	overflow: hidden;
}
input.error { border: 1px solid #db0000!important }
select.error {
	border:1px solid #db0000!important;
}
aside label.error {
	width: 100%;
	float: left;
}
.filterrss {
	display:block;
	background-color:#e5eef3;
	padding: 20px;
	margin: 0 0 20px 0;
}
.filterss h4 {margin: 0 0 15px 0;}
.filterrss select {margin: 0 20px 0 0;}
.filterrss .button {margin: 10px 0 0 0;}

/* Search */
.search_field {
	width: 122px;
	border: 1px solid #d1d1d1;
	display: inline-block;
}
.search_field input.search {
	width: 94px;
	border: none!important;
	display: inline;
	left: 20px;
	color: #005A8C!important;
}
.search_field button {
	width: 14px;
	height: 14px;
	border: none!important;
	background: none!important;
	cursor: pointer;
	margin: 2px 2px 0 0;
}
button img {
	margin-bottom: 4px;
}

/*////////////////////////////////////////////////// 
	Photo Gallery
//////////////////////////////////////////////////*/
.gallery-container {
	margin: 0 0 20px 0;
}
.photo-gallery{
	display:block;
	text-align:center;
	background-color:#e5eef3;
	padding: 20px;
}
.photo-gallery .main-screen {
	position:relative;
	clear:both;
	overflow:hidden;
	margin:0 auto;
	padding: 0 20px;
}
.photo-gallery .preloader {
	position:absolute;
	top:50%;
	left:50%;
	width:40px;
	height:40px;
	margin-top:-20px;
	margin-left:-20px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	background:#000 url(../uploadedimages/mckessoncom/content/images/loader-1.gif)/*tpa=http://www.mckesson.com/uploadedimages/McKessoncom/Content/Images/loader.gif*/ center no-repeat;
	display:none;
	z-index:3;
}
.photo-gallery .desc,
.photo-gallery .thumbnails li div p{
	text-align:left;
	position:absolute;
	left:0;
	z-index:4;
	width:100%;
}
.photo-gallery .info {
	text-align:left;
	position:absolute;
	left:0;
	z-index:4;
	width:100%;
	height:26px;
}
.photo-gallery .inner-text p {
	color: #fff;
	padding: 5px 8px;
	margin: 0 20px;
	position: relative;
	bottom: -341px;
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(0, 0, 0);
	/* RGBa with 0.6 opacity */
	background: rgba(0, 0, 0, 0.6);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}
/* Thumbnails */
.photo-gallery .thumbnails{
	position:relative;
	margin: 10px 0 0 20px;
	width:655px;
	height:auto;
	float:left;
	z-index:1;
	overflow: hidden;
}
.photo-gallery .thumbnails ul{
	list-style:none;
	position:relative;
	width:9999999px;
	height:auto;
	margin:0;
	padding:0;
	z-index:0;
}
.photo-gallery .thumbnails li{
	display:block;
	position:relative;
	float:left;	
}
.photo-gallery .thumbnails li div {
	position:relative;
	float:left;
	width:125px;
	height:70px;
	border:3px solid #e5eef3;
}
.photo-gallery .thumbnails li.active div,
.photo-gallery .thumbnails li div:hover {
	border:3px solid #005a8c;
}
.photo-gallery .thumbnails li div p {
	width:auto;
	height:auto;
	border:0;
	margin:0;
	padding:2px;
	text-align:center;
	z-index:1;
	visibility:visible;
	position: relative;
	top: 20px;
	
	color: #fff;
	background-color: #005a8c;
}
.photo-gallery .thumbnails li div img {
	position:absolute;
	top:0;
	left:0;
	border:0;
	z-index:0;
	width: 80px;
	height: 52px;
}
/* Pager */
.photo-gallery div.cpanel {
	margin: 0 auto;

}
.photo-gallery div.data{
	display:none;
}
.photo-gallery .cbar{
	position:relative;
	clear:both;
	height:20px;
}
.photo-gallery .index-panel{
	position:relative;
	display:inline;
	float:left;
	height:20px;
	overflow:hidden;
}
.photo-gallery .index,
.photo-gallery .index-hl{
	position:relative;
	display:inline;
	float:left;
	width: 6px;
	height: 6px;
	margin:6px;
}
.photo-gallery .index{
	cursor:pointer;
	background: #669cba;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.photo-gallery .index-hl{
	cursor:default;
	background: #005a8c;
}
.photo-gallery .index:hover{
	background: #005a8c;
}
/* Arrows */
.photo-gallery .s-panel{
	position:absolute;
	top: -170px;
	left:50%;
	display:block;
	width:100%;
	height:26px;
	z-index:3;
}
.photo-gallery .s-prev,
.photo-gallery .s-next {
	display:block;
	width:12px;
	height:26px;
	background-repeat:no-repeat;
	cursor:pointer;
	position: relative;
	width: 0;
	height: 0;
}
.photo-gallery .s-prev {
	float:left;
	border-top: 10px solid transparent;
	border-right: 10px solid #005a8c;
	border-bottom: 10px solid transparent;
}
.photo-gallery .s-next {
	float:right;
	border-top: 10px solid transparent;
	border-left: 10px solid #005a8c;
	border-bottom: 10px solid transparent;
}
/***************************************
   =cluetipClass: 'default'
-------------------------------------- */

.cluetip-default {
  background-color: #d9d9c2;
}
.cluetip-default .ui-cluetip-header {
  background-color: #87876a;
}


/*
.cluetip-default #cluetip-outer {
  position: relative;
  margin: 0;
  background-color: #d9d9c2;
}
.cluetip-default h3#cluetip-title {
  margin: 0 0 5px;
  padding: 8px 10px 4px;
  font-size: 1.1em;
  font-weight: normal;
  background-color: #87876a;
  color: #fff;
}
.cluetip-default #cluetip-title a {
  color: #d9d9c2;
  font-size: 0.95em;
}
.cluetip-default #cluetip-inner {
  padding: 10px;
}
.cluetip-default div#cluetip-close {
  text-align: right;
  margin: 0 5px 5px;
  color: #900;
}
*/
/* default arrows */
div.cluetip-default .cluetip-arrows {
  border-width: 0;
  background: transparent none;
}
div.clue-right-default .cluetip-arrows {
  background-image: url(Unknown_83_filename)/*tpa=http://www.mckesson.com/styles/images/darrowleft.gif*/;
}
div.clue-left-default .cluetip-arrows {
  background-image: url(Unknown_83_filename)/*tpa=http://www.mckesson.com/styles/images/darrowright.gif*/;
  left: 100%;
  margin-right: -11px;
}
div.clue-top-default .cluetip-arrows {
  background-image: url(Unknown_83_filename)/*tpa=http://www.mckesson.com/styles/images/darrowdown.gif*/;
  top: 100%;
  left: 50%;
  margin-left: -11px;
  width: 22px;
  height: 11px;
}
div.clue-bottom-default .cluetip-arrows {
  background-image: url(Unknown_83_filename)/*tpa=http://www.mckesson.com/styles/images/darrowup.gif*/;
  top: -11px;
  left: 50%;
  margin-left: -11px;
  width: 22px;
  height: 11px;
}

/*////////////////////////////////////////////////// 
	Margins
//////////////////////////////////////////////////*/
.mt10 {margin-top: 10px;}
.mt20 {margin-top: 20px;}
.mt30 {margin-top: 30px;}
.mt40 {margin-top: 40px;}
.mt50 {margin-top: 50px;}
.mt60 {margin-top: 60px;}
.mt70 {margin-top: 70px;}
.mb00 {margin-bottom: 0px;}

/*////////////////////////////////////////////////// 
	Color Themes
//////////////////////////////////////////////////*/
.altcolscheme1 h1,
.altcolscheme1 h2,
.altcolscheme1 h3,
.altcolscheme1 h4,
.altcolscheme1 a,
.altcolscheme1 aside p,
.altcolscheme1 aside time,
.altcolscheme1 aside ul,
.altcolscheme1 select,
.altcolscheme1 input,
.altcolscheme1 textarea,
.altcolscheme1 .clear {color: #51831f}
.altcolscheme1 #twtr-widget-1 .twtr-bd, 
.altcolscheme1 #twtr-widget-1 .twtr-timeline i a, 
.altcolscheme1 #twtr-widget-1 .twtr-bd p {color: #51831f!important}
.altcolscheme1 ::-webkit-input-placeholder {color: #51831f}
.altcolscheme1 hr,
.altcolscheme1 aside {border-top: 1px solid #51831f;}
.altcolscheme1 .photo-gallery .thumbnails li.active div, 
.altcolscheme1 .photo-gallery .thumbnails li div:hover,
.altcolscheme1 input,
.altcolscheme1 select,
.altcolscheme1 textarea,
.altcolscheme1 img.border {border-color: #51831f;}
.altcolscheme1 .photo-gallery,
.altcolscheme1 .filter {background-color: #ebf2e4;}
.altcolscheme1 .photo-gallery .s-prev {border-right-color: #51831f;}
.altcolscheme1 .photo-gallery .s-next {border-left-color: #51831f;}
.altcolscheme1 .photo-gallery .index {background-color: #90ba66;}
.altcolscheme1 a.arrow,
.altcolscheme1 ul.arrow li,
.altcolscheme1 .button,
.altcolscheme1 input[type="submit"],
.altcolscheme1 li.person,
.altcolscheme1 li.phone,
.altcolscheme1 li.email,
.altcolscheme1 li.mouse,
.altcolscheme1 a.open,
.altcolscheme1 select,
.altcolscheme1 .photo-gallery .index-hl,
.altcolscheme1 .photo-gallery .index:hover,
.altcolscheme1 .jcarousel-next-horizontal,
.altcolscheme1 .jcarousel-prev-horizontal,
.altcolscheme1 nav.page li.next {background-color: #51831f;}
.altcolscheme1 .jcarousel-prev-disabled {
    background: #b2b2b2 url(../uploadedimages/mckessoncom/content/images/sprite-dynamic-1.png)/*tpa=http://www.mckesson.com/uploadedimages/McKessoncom/Content/Images/sprite-dynamic.png*/ no-repeat 100% 0px!important;
}

.altcolscheme2 h1,
.altcolscheme2 h2,
.altcolscheme2 h3,
.altcolscheme2 h4,
.altcolscheme2 a,
.altcolscheme2 aside p,
.altcolscheme2 aside time,
.altcolscheme2 aside ul,
.altcolscheme2 select,
.altcolscheme2 input,
.altcolscheme2 textarea,
.altcolscheme2 .clear {color:#b95915}
.altcolscheme2 #twtr-widget-1 .twtr-bd, 
.altcolscheme2 #twtr-widget-1 .twtr-timeline i a, 
.altcolscheme2 #twtr-widget-1 .twtr-bd p {color: #b95915!important}
.altcolscheme2 ::-webkit-input-placeholder {color:#b95915}
.altcolscheme2 hr,
.altcolscheme2 aside {border-top: 1px solid #b95915;}
.altcolscheme2 .photo-gallery .thumbnails li.active div, 
.altcolscheme2 .photo-gallery .thumbnails li div:hover,
.altcolscheme2 input,
.altcolscheme2 select,
.altcolscheme2 textarea,
.altcolscheme2 img.border {border-color:#b95915;}
.altcolscheme2 .photo-gallery,
.altcolscheme2 .filter {background-color: #f2eae4;}
.altcolscheme2 .photo-gallery .s-prev {border-right-color: #b95915;}
.altcolscheme2 .photo-gallery .s-next {border-left-color: #b95915;}
.altcolscheme2 .photo-gallery .index {background-color: #ba8966;}
.altcolscheme2 a.arrow,
.altcolscheme2 ul.arrow li,
.altcolscheme2 .button,
.altcolscheme2 input[type="submit"],
.altcolscheme2 li.person,
.altcolscheme2 li.phone,
.altcolscheme2 li.email,
.altcolscheme2 li.mouse,
.altcolscheme2 a.open,
.altcolscheme2 select,
.altcolscheme2 .photo-gallery .index-hl,
.altcolscheme2 .photo-gallery .index:hover,
.altcolscheme2 .jcarousel-next-horizontal,
.altcolscheme2 .jcarousel-prev-horizontal,
.altcolscheme2 nav.page li.next {background-color: #b95915;}

.altcolscheme3 h1,
.altcolscheme3 h2,
.altcolscheme3 h3,
.altcolscheme3 h4,
.altcolscheme3 a,
.altcolscheme3 aside p,
.altcolscheme3 aside time,
.altcolscheme3 aside ul,
.altcolscheme3 select,
.altcolscheme3 input,
.altcolscheme3 textarea,
.altcolscheme3 .clear {color: #702c6a }
.altcolscheme3 #twtr-widget-1 .twtr-bd, 
.altcolscheme3 #twtr-widget-1 .twtr-timeline i a, 
.altcolscheme3 #twtr-widget-1 .twtr-bd p {color: #702c6a!important}
.altcolscheme3 ::-webkit-input-placeholder {color: #702c6a }
.altcolscheme3 hr,
.altcolscheme3 aside {border-top: 1px solid #702c6a;}
.altcolscheme3 .photo-gallery .thumbnails li.active div, 
.altcolscheme3 .photo-gallery .thumbnails li div:hover,
.altcolscheme3 input,
.altcolscheme3 select,
.altcolscheme3 textarea,
.altcolscheme3 img.border {border-color: #702c6a;}
.altcolscheme3 .photo-gallery,
.altcolscheme3 .filter {background-color: #f2e4f1;}
.altcolscheme3 .photo-gallery .s-prev {border-right-color: #702c6a;}
.altcolscheme3 .photo-gallery .s-next {border-left-color: #702c6a;}
.altcolscheme3 .photo-gallery .index {background-color: #ba66b3;}
.altcolscheme3 a.arrow,
.altcolscheme3 ul.arrow li,
.altcolscheme3 .button,
.altcolscheme3 input[type="submit"],
.altcolscheme2 li.person,
.altcolscheme3 li.phone,
.altcolscheme3 li.email,
.altcolscheme3 li.mouse,
.altcolscheme3 a.open,
.altcolscheme3 select,
.altcolscheme3 .photo-gallery .index-hl,
.altcolscheme3 .photo-gallery .index:hover,
.altcolscheme3 .jcarousel-next-horizontal,
.altcolscheme3 .jcarousel-prev-horizontal,
.altcolscheme3 nav.page li.next {background-color: #702c6a;}

/*//////////////////////////////////////////////////
	Home 
//////////////////////////////////////////////////*/
#carousel {
    width: 955px;
    height: 415px;
    position: relative;
    cursor:pointer;
}
/*changes for QC101*/
#carousel a { 
    position:relative;
    cursor:pointer;
    z-index:10; /* raises anchor tag above everything else in div */ 
}
#slides {
    position: absolute;
    top: 0;
    left: 0;
}
.slides_container {
    width: 955px;
    overflow: hidden;
    position: relative;
    display: block;
}
.slides_container div.slide {
    width: 955px;
    height: 415px;
	position:absolute; 
	top: 0px; 
	left: 555px; /*SS-changed*/
	z-index: 3;
	display: none;
}
.pagination {
    position: absolute;
    right: 30px; /*SS-changed*/
    top: 355px;
    z-index: 9;
    cursor:default;
}
.pagination li {
    display:inline-block;
    margin: 0 0 0 15px; /*SS-changed*/
    list-style: none;
	float:left;
	overflow: hidden;
	padding: 2px;
}
.pagination li.current, 
.pagination li:hover{
	border: 2px solid #ef8200;  /*SS-changed*/
	padding: 0px;
}
.pagination li a {
	width: 45px; /*SS-changed*/
	height: 45px; /*SS-changed*/
	display: block;
}
.pagination li img {
	height: 45px; /*SS-changed*/
}
.caption {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
	padding-right: 30px; /*SS-changed*/
    font-size: 1.3em;
    line-height: 1.33;
    text-shadow: none;
	max-width: 370px; /*SS-changed*/
    z-index: 150; /*DB-changed*/
}
.white h3,
.white h4, 
.white a {
	color:#fff!important;	
}
.caption h3 { 
	font: normal normal bold 33px/36px "Georgia", Helvetica, sans-serif!important;
	margin: 40px 0px 20px 0px;
	color:#005A8C;
    position:relative;/*changes for QC101*/
    z-index:99;
}
 .caption h3 a:hover {
     text-decoration:none !important; /* changes for QC 108*/
    }
.caption h4 { 
	margin: 20px 0px 20px 0px;
	font: normal normal normal 16px/20px "Arial", Helvetica, sans-serif;
	color:#005A8C;
}
.caption h5 { 
	font: normal normal normal 16px/20px "Arial", Helvetica, sans-serif;
}
.caption a.arrow {
	text-decoration:none; font-weight: bold;  /*SS-changed*/ 
	margin-left:0px;
	background: transparent url(../uploadedimages/mckessoncom/content/images/sprite-common-1.png)/*tpa=http://www.mckesson.com/uploadedimages/McKessoncom/Content/Images/sprite-common.png*/ no-repeat 0px -718px;
	color:#005A8C;
}
.caption a.arrow:hover {
	text-decoration: none !important; /* changes for QC 108*/
}
.caption a.arrow:active {
    color: #669cba !important;
	text-decoration: none !important;/*changes for QC 121*/
}
.caption.white a.arrow {
	background: transparent url(../uploadedimages/mckessoncom/content/images/sprite-common-1.png)/*tpa=http://www.mckesson.com/uploadedimages/McKessoncom/Content/Images/sprite-common.png*/ no-repeat 0px -644px;
}
.limits{
	float: left;
	position:relative;
	min-height:310px;
	max-height:350px;
}
.limits a.arrow {
	background: transparent url(../uploadedimages/mckessoncom/content/images/sprite-common-1.png)/*tpa=http://www.mckesson.com/uploadedimages/McKessoncom/Content/Images/sprite-common.png*/ no-repeat 0px -721px;
}
.limits.company {
    width: 33%;
	margin-top: -7px;
}
.limits.company p {
    padding-bottom: 5px;
    font: normal normal normal 15px/18px "Georgia", Helvetica, sans-serif;
    line-height: 22px;
	max-height: 220px;
	overflow: hidden;
	color:#005A8C;
}
.limits img { 
	position:absolute;
	bottom:0;
}
.limits h1,
.limits h2 {
	font: normal normal bold 20px "Georgia", Times, serif;
	margin-bottom: 10px;
	color:#005A8C;
}
.limits a:link {
	color:#005A8C;
	text-decoration:none
}

.limits a:active{
    color: #669cba !important;
	text-decoration: underline;
}
.limits a:hover {
	text-decoration: underline;
}
.limits hr{
	margin-bottom:10px;
	border-top: 1px solid #005A8C;
}
.latestNews {
    width: 955px;
    height: 45px;
    background-color: #005a8c;
    display: block;
    margin-bottom: 30px;
}
.latestNews h3 {
	padding: 10px 15px 0 15px;
	margin: 0 15px 0 0;
	color: #fff;
	font: normal normal normal 18px "Georgia", Times, serif!important;
	height:34px;
	border-right: 1px solid #4D8CAF;
	float: left;
}


#ticker {overflow: hidden;}
#ticker li {padding: 15px 0; list-style: none; background:none; display:none  !important;}
#ticker li:first-child{display:block !important;}
#ticker a {color: #fff!important;}
#ticker a:active {
    color: #669cba !important;
    text-decoration: underline;
}

/*//////////////////////////////////////////////////
	Browser Specific
//////////////////////////////////////////////////*/ 

/* IE9 */


/* IE8 */
.lt-ie9 .caption .link-list li{background:url(../uploadedimages/mckessoncom/content/images/sprite-dynamic-1.png)/*tpa=http://www.mckesson.com/uploadedimages/McKessoncom/Content/Images/sprite-dynamic.png*/ no-repeat -284px -148px;}
.lt-ie9 .caption.white .link-list li{background: url(../uploadedimages/mckessoncom/content/images/sprite-dynamic-1.png)/*tpa=http://www.mckesson.com/uploadedimages/McKessoncom/Content/Images/sprite-dynamic.png*/ no-repeat -284px -308px;}
.lt-ie9 ul.contact button img {position: relative; top: -2px;}

/*mega-menu*/
.lt-ie9 .menu > li.current,
.lt-ie9 .menu > li.current:hover {padding-bottom: 2px;}
.lt-ie9 .menu > li .menu-fullwidth {top: 28px;}

/* .lt-ie9 #bar h3 {margin-top: 20px;} */

/*.lt-ie9 #bar-container h3{margin-top: 16px; padding-top:0px; height: 27px;}
.lt-ie9 #bar_lb #bar-container h3{padding-top:3px; height: 27px;}*/

/* IE7 */
.lt-ie8 hr.dot {margin-top: 12px; display : list-item; list-style : url('../uploadedimages/mckessoncom/content/images/horz-square-1.png')/*tpa=http://www.mckesson.com/uploadedimages/McKessoncom/Content/Images/horz-square.png*/ inside;}
.lt-ie8 .limits{min-height:310px;}
.lt-ie8 .limits hr{margin-bottom:5px;}
.lt-ie8 .company.limits{margin-top:0px;}
.lt-ie8 .latestNews{margin-bottom:22px;}
.lt-ie8 fieldset.check input,
.lt-ie8 fieldset.radio ul li input {position: relative;top: -3px;}
.lt-ie8 input[type="submit"] {padding:0 2px;}
.lt-ie8 ul.dropdown li.hover, 
.lt-ie8 ul.dropdown li:hover {
	position: relative;
	border-bottom: 7px solid #97bdd3;
}
.lt-ie8 ul.dropdown li.current {border-bottom: 7px solid #EF8200;}
.lt-ie8 ul.dropdown ul {margin: 7px 0 0 0;}
.lt-ie8 ul.dropdown ul li a:hover {border: none;}
.lt-ie8 hr.micro {
	color: #005A8C;
	position: relative;
	margin-top: -7px;
	border: 0!important;
}
.lt-ie8 img.bannerMicro {
	position: relative;
	margin-top: -10px;
}

/*mega-menu*/
.lt-ie8 .menu > li.current,
.lt-ie8 .menu > li.current:hover {padding-bottom: 5px;}
.lt-ie8 .menu > li .menu-fullwidth {top: 30px;}

/*.lt-ie8 #bar-container h3{padding-top:1px; height: 27px;}
.lt-ie8 #bar_lb #bar-container h3{padding-top:4px; height: 27px;}*/

/* iPad */
.ipad #bar {position: relative; top:-1px;}
.ipad nav#contact {margin-bottom: 10px!important; float: right;}

/*////////////////////////////////////////////////// 
	Clearfix & Floats
//////////////////////////////////////////////////*/
.PBItem{ display:inline; }
.right {float: right;}
.left {float: left;}
.clearfix:after,
body:after,
header:after,
#main:after,
#fullwidth:after
footer:after,
.wrapper:after,
section:after,
hr:after { 
	content:" ";
    display:block;
    clear:both;
    height:0;
    width:0;
    line-height:0;
    visibility:hidden;
    overflow: hidden;
}

.clearfix,
body,
header,
footer,
#main,
#fullwidth,
.wrapper,
section { zoom: 1 }
/*////////////////////////////////////////////////// 
	DC-MEGA-MENU
//////////////////////////////////////////////////*/

/* Tab Menu Styles */
/* all Tab Menu Styles moved to tab_submenu_skin.css*/

.menuspace
{
   margin-left: 110px!important;
}

li input[type="text"]{
	width:140px;
}

.sitemaptitle
{
    background-color:#eee;
    padding:6px 6px 6px 6px;     
}

ul.sitemapul
{
    padding-left:15px;
    padding-top:5px;
    margin: 0;  
}
ul.sitemapul li.sitemapli
 {   
    margin: 0 10px 0 0;  
    display:list-item;    
    font-size:12px!important;
    list-style-type:circle;
}

.sitemapgroup
{
    font-size:12px!important;
    padding:2px;
}
.sitemapsublist 	
{    background: transparent url(../uploadedimages/mckessoncom/content/images/sprite-common-1.png)/*tpa=http://www.mckesson.com/uploadedimages/McKessoncom/Content/Images/sprite-common.png*/ no-repeat 1px -501px;
	padding:0 0 0 0;
	line-height: 1em;
	margin: 0 0 5px 0;
	font-size:12px!important;
}
h6 
{
    font-size: 12px;
    margin-top: 5px;
    margin-bottom:3px;
}
hr.greyLine {
            display: block;
            height: 1px;
            width: 100%;
            border: 0;
            border-top: 1px solid #e6e7e8;
            margin: 0 0 20px 0;
            padding: 0;
            position: relative;
            z-index: 1;
            clear: both;
}


.btnSubmit { 
        color: #fff!important; 
        margin: 5px 0 20px 0; /*comment*/
        padding: 4px 10px 3px 10px; 
        font-size: 12px;        
        border: none; 
        background: #005A8C; 
        text-decoration: none; 
        display: inline-block; 
        cursor: pointer; 
        -webkit-appearance: none; 
        font: normal normal normal 13px "Georgia", Times, serif; 
}
.blogComments {
        font : 12px arial; 
        display:block;
	    padding: 5px;
	    margin: 0 0 5px 0;
}
.commentsLable {
    font : 12px arial;
    margin-bottom:10px;
    margin:0 0 10px 0;
}
input.blogTextbox { 
    background-color: #e6e7e8; 
    font: 12px arial;
    color: black;
    border: none; 
    margin: 2px 0 6px 0;  
    width: 50%;  
}
.commentsTextbox { 
    background-color: #e6e7e8; 
    font: 12px arial;
    color: black;
    border: none; 
    margin: 2px 0 8px 0; 
    width: 100%; 
    height: 125px;  
}
hr.commentsgreyLine { 
            display: block;
            height: 1px;
            width: 100%;
            border: 0;
            border-top: 1px solid #c7c8ca;
            margin: -10px 0 6px 0;
            padding: 0;
            position: relative;
            z-index: 1;
            clear: both;
} 

.commentName { 
    font : bold 12px arial; 
   color : #005A8C; 
} 

.greyText { 
    font :  12px arial; 
    color : #808285;   
    margin : 6px 0 6px 0;  
} 
.blogIntroText {
        font : 18px arial;
	    margin: 0 0 20px 0;
}
.blogIntroText p {
        font : 18px arial;
	    margin: 0 0 20px 0;
}
.twitterDate { 
    font : 9px arial; 
    color :black;    
    text-decoration: none; 
}   

a.twitterLinks { 
    font : 9px arial; 
    color :black; 
    text-decoration: none; 
}

.authorimage
{
    float:left;
    padding-right:10px;
}

.mismatch { 
    font : bold 18px arial; 
   color : red; 
}
hr.blogLanding {
            display: block;
            height: 1px;
            width: 100%;
            border: 0;
            border-top: 1px solid #005A8C;
            margin: 20px 0 20px 0;
            padding: 0;
            position: relative;
            z-index: 1;
            clear: both;
}

/* Hero Carousel */
#heroCarousel {
    width: 643px;
    height: 371px;
    position: relative;
}
#heroSlides {
    position: absolute;
    top: 0;
    left: 0;
    background-color:#005a8c;
}
.heroSlides_container {
    width: 643px;
    overflow: hidden;
    position: relative;
    display: block;
}
.heroSlides_container div.slide {
    width: 643px;
    height: 371px;
	position:absolute; 
	top: 0px; 
	left: 555px; 
	z-index: 3;
	display: none;
}
.heroPagination {
    position: absolute;
    right: 15px; 
    top: 225px;
    z-index: 9;
}
.heroPagination li {
    display:inline-block;
    margin: 0 0 0 10px;
    list-style: none;
	float:left;
	overflow: hidden;
	padding: 2px;
}
.heroPagination li.heroCurrent, 
.heroPagination li:hover{
	border: 2px solid #ef8200;  
	padding: 0px;
}
.heroPagination li a {
	width: 45px; 
	height: 45px; 
	display: block;
}
.heroPagination li img {
	height: 45px; 
}
.heroCaption {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
	padding-right: 20px; 
    font-size: 1.3em;
    line-height: 1.33;
    text-shadow: none;
	max-width: 270px; 
}
.white h3,
.white h4, 
.white a {
	color:#fff!important;	
}
.heroCaption h3 { 
	font: normal normal bold 33px/36px "Georgia", Helvetica, sans-serif!important;
	margin: 30px 0px 20px 0px;
	color:#005A8C;
}
.heroCaption h4 { 
	margin: 20px 0px 20px 0px;
	font: normal normal normal 16px/20px "Arial", Helvetica, sans-serif;
	color:#005A8C;
}
.heroCaption h5 { 
	font: normal normal normal 16px/20px "Arial", Helvetica, sans-serif;
}
.heroCaption a.arrow {
	text-decoration:none; font-weight: bold; 
	margin-left:0px;
	background: transparent url(../uploadedimages/mckessoncom/content/images/sprite-common-1.png)/*tpa=http://www.mckesson.com/uploadedimages/McKessoncom/Content/Images/sprite-common.png*/ no-repeat 0px -718px;
	color:#005A8C;
}
.heroCaption a.arrow:hover {
	text-decoration: underline;
}
.heroCaption a.arrow:active {
    color: #669cba !important;
    text-decoration: underline;
}
.heroCaption.white a.heroArrow {
	background: transparent url(../uploadedimages/mckessoncom/content/images/sprite-common-1.png)/*tpa=http://www.mckesson.com/uploadedimages/McKessoncom/Content/Images/sprite-common.png*/ no-repeat 0px -644px;
}

.baGreyText { 
    font :  12px arial; 
    color : #808285;   
    margin : 0px 0px 0px 0px;  
    padding:0px 0 6px 0!important;
}

p.baParagraph  {
    margin : 0px 0px 6px 0px !important;
}

.filterDropDown {
    margin:5px 0px 5px 0px;
}

.filterButton {
	color: #fff!important;
	margin: 0 0 10px 0;	
	border: none;
	background: #005A8C;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	-webkit-appearance: none;
	font: normal normal bold 13px “arial”, helvetica, sansserif !important;
}

.filterTextRR {
    margin:3px 0px 3px 0px;
}

.ui-icon-triangle-1-e
{
    background-position: -16px -128px !important;
}

.ui-icon-triangle-1-s 
{
    background-position: -48px -128px !important;
}

.newsSubscribe
{
    float:right;
    color:#ffffff; 
    margin-top:15px;
    margin-right:15px;
    margin-left:15px;
}

.newsSubscribe a
{
    color:#ffffff!important; 
    text-decoration:none;
}

.newsSubscribe a:hover
{
    color:#ffffff!important; 
    text-decoration:underline;    
}
.newsSubscribe a:active {
    color: #669cba !important;
    text-decoration: underline;
}
.newsSubscribe img
{   
    margin-top:-3px; 
    margin-bottom:0px;
}

/*customer login overides*/
.ui-icon-triangle-1-e
{
    color: #005A8C !important;
    background-position: -16px -128px !important;
}

.ui-icon-triangle-1-s 
{
    color: #fa2525 !important;
    background-position: -48px -128px !important;
}
.ui-state-default {
    border: 1px solid black !important;
}
.ui-widget-content {
    border: 1px solid black !important;
}
.ui-state-active {
    border: 1px solid black !important;
}
.ui-accordion-content{
    border-top-color: #fff !important;
}

.ui-state-default {
    color: #005ABC !important;
}

.ui-accordion-content-active a{    
    text-decoration: underline;
}
.ui-accordion-content-active ul {    
    list-style-type: circle !important;
    padding: 0px;
    margin: 0 0 10px 0;
}
/*.ui-icon {
    background-image: none !important;
}*/

.ui-accordion-header a{
color: #005A8C !important;
font: normal normal bold 13px "Georgia", Times, serif !important;
}

*{
     _noFocusLine: expression(this.hideFocus=true); 
}

.ui-widget 
{
    font: normal normal normal 12px "Arial", Helvetica, sans-serif!important;
}

.ui-accordion-content-active
{
    font-size:12px !important;
    line-height: 1.5em!important;
}

.ui-widget-header
{
    border: 1px solid #ffffff!important;
    background: #005a8c !important;    
    color:#ffffff!important;
    font-family: Arial!important;
    font-size:15px!important;
    font-weight:bold!important;
}
.ui-widget-header .ui-icon
{
    margin-left:3.3px!important;
    background-image: url(../uploadedimages/mckessoncom/content/images/close-1.png)/*tpa=http://www.mckesson.com/uploadedimages/McKessoncom/Content/Images/close.png*/!important;
}
.ui-icon-closethick
{
    background-position:0 !important;
}

.ui-dialog-titlebar-close {background:#005a8c}
.ui-dialog-titlebar-close:hover {background: #005a8c}
.ui-dialog-titlebar-close:active {background: #005a8c}

.Footersocial
{
    display:table-row; 
    margin-bottom:0px;
}
.Footersocial li
{
    display: table-cell;    
    min-width:10px;
}

aside p.videoIntroText {
    color: black !important;
}
img.singleVideo {
   
    margin: 0 0 10px 0 !important;
    
}
img.featuredVideos {
    float: left;
    margin: 0 10px 10px 0;
}

.videop
{
    margin-bottom:0px;
    line-height:1.5em;
}
.VideograyText
{
    font:12px arial;
    color:#808285;
    margin:0 0 0 0;
}
.loginMessage {
    color: red;
    margin: 10px 5px 0 5px;
    font: normal normal bold 13px "Georgia", Times, serif;
}

input.loginTextBox { 
    background-color: #e6e7e8; 
    font: 50px arial !important;
    color: black;
    border: none; 
    margin: 2px 0 6px 0;  
    width: 50%;  
}

input[type="text"].loginTextBox {
    font:50px !important;
}

.socialToolbar
{
    float:right;
    display:table-row; 
    margin-bottom:10px;
}
.socialToolbar li
{
    display: table-cell; 
    min-width:10px;
}

.socialIcons {
   padding-left:15px;
}

.blogThumbnail
{
    width:212px; 
}

.socialIconsFooter {
   
   padding-right:10px;
}

.lt-ie8 .socialToolbar li,
.Footersocial li
 {
	display: inline;
}


ul.videoSlats li {
	margin: 0 0 10px 0;
	padding: 0 0 10px 0;
	/*overflow: hidden;*/
}
ul.videoSlats li:last-child {
	margin: 0;
}
ul.videoSlats li a img {
	float: left;
	margin: 0 10px 0 0;
	padding: 4px;
}
ul.videoSlats li a p {
	margin: 0 0 0 76px;
}
ul.videoSlats li a p span.meta {
	display: block;
}
ul.videoSlats ul.arrow,
ul.videoSlats a.arrow,
ul.videoSlats ul.contact {
	margin:10px 0 0 220px;
}
ul.videoSlats ul.contact li {
	clear: none;
}

/*added for UI styling - RG*/
ul.videoSlats li a:hover {
    text-decoration: underline;
}
ul.videoSlats li a:active {
    color: #669cba !important;
    text-decoration: underline;
}
.featuredContent {
overflow: hidden;
position: relative;
top: 0px;
margin: 0px;
padding: 0px;
left: 0px;
width: 757px;
}

.featuredContent li {
float: left;
list-style: none;
margin-left: 0px;
margin-right: 20px;
width: 199px;
height: auto;
display: block;
}
.carouselCaption {
    position: absolute;
    left: 15px;
    top: 295px;
    line-height: 1.33;
    background: none;
    text-shadow: none; 
    background-color: transparent;
}

.carouselCaption h3 { 
	font: normal normal bold 22px "Georgia", Times, serif;
	margin: 0px 15px 0px 0px;
	color:#fff;
}
.carouselCaption p { 
	margin: 5px 15px 15px 0px !important;
	font: normal normal normal 13px "Arial", Helvetica, sans-serif;
	color:#fff;
}

.carouselCaption a.title {
    text-decoration:none;
	color:#fff;
}
.carouselCaption a.title:hover {
	text-decoration: underline;
}
.carouselCaption a.title:active {
    color: #669cba !important;
    text-decoration: underline;
}
h2.blogTitle {
    color:#005A8C!important;
    margin:0 0 6px 0 !important;
    
}
h3.blogSubhead {
    color:#005A8C!important;
    margin:0 0 6px 0 !important;
    
}

.blogSubhead  {
   color:#005A8C!important;
   margin:0px 0 6px 0 !important;
}

.ui-accordion-icons .ui-accordion-header a {
    font: normal normal bold 13px "Georgia", Times, serif !important; 
	margin: 0 0 6px 0 !important;
}

.ui-accordion .ui-accordion-header a {
    padding: .5em .2em .1em 2.2em !important;
}

.heroCtaWhite:hover {
    color: #fff!important;
    text-decoration: none !important;
}
.heroCtaWhite:active {
    color: #c0d6e3 !important;
}
a.arrow.heroCtaWhite:active,
a.arrow.heroCtaBlue:active
 { 
    background: transparent url(../uploadedimages/mckesson/content/home/homepagebluearrow-1.png)/*tpa=http://www.mckesson.com/uploadedImages/McKesson/Content/Home/homepageBlueArrow.png*/ no-repeat 0px 3px !important;
}
a.arrow:active {
    background: transparent url(../uploadedimages/mckessoncom/content/images/bluearrow-1.png)/*tpa=http://www.mckesson.com/uploadedimages/McKessoncom/Content/Images/blueArrow.png*/ no-repeat 2px 2px !important;
}

ul.arrow li:hover, ul.arrow li:active{
    background: transparent url(../uploadedimages/mckessoncom/content/images/bluearrow-1.png)/*tpa=http://www.mckesson.com/uploadedimages/McKessoncom/Content/Images/blueArrow.png*/ no-repeat 2px 2px !important;
}
p a.button:link {
    color:#fff!important;
    text-decoration: none !important;
}

.timer {
    color: red;
	font-size: 20px;	
}
.countdownselection {
    font: normal normal bold 36px "Georgia", Times, serif !important;
    text-align:left;
    padding-right:20px;
    color:#005a8c;
}
.countdowntext {
    font: normal normal 14px "Arial";
    color:#000;
    text-align:left;
    font-weight:bold;
    padding-right:20px;
}

#cmtLabel {
    font-weight: bold;
    color: red;
}

.cssMandatory {
    color:red;
    font-weight:bold;
}
a.arrow.heroCtaWhite:hover,
a.arrow.heroCtaBlue:hover { text-decoration:none !important;
}
 .caption h3 a:active {
     text-decoration:none !important; /* changes for QC 108*/
}


 /*Changes for QC 121*/
.heroTitleWhite:active {
color: #669cba !important;
text-decoration: none !important;
}

.heroTitleBlue:active {
color: #669cba !important;
text-decoration: none !important;
}

strong:active {
    color: #669cba !important;
    text-decoration: none !important;
}

