.ipad.channel-guide .ctl-area-tup{overflow:hidden;}
/*.channel-guide .ctl-tup{background:url(/images/eportal/details/details_default_header.png) top repeat-x;}*/
.channel-guide .ctl-area-b{display:block; width:920px;}
.channel-guide .ctl-header{min-height:0;}
.channel-guide .custom-m-dtv .ctl-header-content{height:200px;}
.channel-guide .custom-m-dtv #ctl_area_b{margin-top:0;}


.hidden {display:none !important;}

#channel_guide_body{}
#channel_guide_body .ctl-area-tup{padding-top:0;}
#channel_guide_body .ctm-tup{overflow:visible;}

.cms2GridModule, .channel-guide .ctm-tup{overflow:visible; zoom:1;}
#ctl-tup a {color:#09c;}
.ctm-guide-tup{margin:8px 8px 40px;}
#guide_tup{position:relative; background:#fff; border:1px solid #999; height:501px; box-shadow:0 3px 3px #eee; -moz-box-shadow:0 3px 3px #e5e5e5; -webkit-box-shadow:0 3px 3px #e5e5e5; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; }
#guide_tup:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}

/*
#guide_tup .skin-border{display:block; position:absolute; top:-1px; bottom:-1px; left:-1px; right:-1px; border:1px solid #999; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;  z-index:-100;}
*/
.guide-date-time{position:absolute; left:161px; top:0; right:0; height:100%;}

.channel-guide .title h4{color:#333;}

#guide_settings_menu_trigger{position:absolute; left:13px; top:10px; display:block; background:url('/images/eportal/guide/guide_settings_btn.png') no-repeat; width:44px; height:24px; z-index:1002; zoom:1;}
	#guide_settings_menu_trigger:hover{background-position:left -24px;}
	#guide_settings_menu_trigger.active {background-position:left -48px;}
	
#guide_settings_highlight_info {position:absolute;left:70px;top:9px;z-index:10;}
	#guide_settings_highlight_info h3 {color:#9a9a9a; font-size:12px;margin-bottom:0;line-height:12px;font-weight:normal;}
	#guide_settings_highlight_info p {margin-top:0;font-size:11px;}
	
#guide_tz_info_labels {}
#guide_tz_info_labels .guide-zipcode-change-zip-label {font-weight:bold;position:absolute; left:62px; top:10px;z-index:3;width:92px;text-align:center;color:#888;font-size:11px;line-height:12px;}
#guide_tz_info_labels .guide-zipcode-change-zip-label span, #guide_tup .guide-zipcode-change-zip-label a {font-weight:normal;}

#guide_settings_timezone_info{position:absolute;left:0;top:17px;z-index:3;width:160px;text-align:center;color:#999;font-size:11px;line-height:12px;}
#guide_settings_timezone_info.no-settings-menu {left:4px;}
	.allaccess #guide_settings_timezone_info{display:none;}
	.ctm-tup.colspan-4 #guide_settings_timezone_info,
	.ctm-tup.colspan-3 #guide_settings_timezone_info,
	.ctm-tup.colspan-2 #guide_settings_timezone_info,
	.ctm-tup.colspan-1 #guide_settings_timezone_info{width:96px; top:8px}	
	
#guide_settings_bar {position:relative; background:url(/images/eportal/guide/guide_settings_bar_bg.png) 0 0 no-repeat; margin-bottom:10px; height:50px; border:1px solid #878787; z-index:100; box-shadow:0 2px 3px #eee; -moz-box-shadow:0 2px 3px rgba(0,0,0,0.1); -webkit-box-shadow:0 2px 3px rgba(0,0,0,0.1); border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; }
	#guide_settings_bar #guide_settings_menu{}
	#guide_settings_bar #guide_settings_menu .guide-zipcode-no-locals-label{position:absolute; top:3px; right:4px; font-weight:normal; color:#999;}
	#guide_settings_bar #guide_settings_menu h3{float:left; font-size:22px; line-height:38px; padding-left:11px;margin-top:6px;}
	#guide_settings_bar #guide_settings_menu h4, #guide_settings_bar #guide_settings_menu h5{display:block; margin:0; font-family:Arial,Helvetica,sans-serif;}
		.dark-theme #guide_settings_bar #guide_settings_menu h4{color:#00ace5;}
		.dark-theme #guide_settings_bar #guide_settings_menu h5{color:#00ace3;}
	#guide_settings_bar #guide_settings_menu h4{font-size:11px; line-height:11px; position:relative; top:-1px;}
	#guide_settings_bar #guide_settings_menu h5{font-size:11px; line-height:11px;}
	#guide_settings_bar #guide_settings_menu .guide-settings-channels.hover h4, #guide_settings_bar #guide_settings_menu .guide-settings-sort:hover h4, #guide_settings_bar #guide_settings_menu .guide-settings-highlight:hover h4, #guide_settings_bar #guide_settings_menu .guide-settings-hide-sd:hover h4{font-size:12px;}
	#guide_settings_bar #guide_settings_menu h4{background:url(/images/eportal/guide/guide_settings_bar_dropdown.png) right 2px no-repeat; text-transform:uppercase; color:#09c;}
	#guide_settings_bar #guide_settings_menu li.non-menu h4{background:none; color:#333;}
	#guide_settings_bar #guide_settings_menu li.non-menu:hover h4{font-size:11px;}
	#guide_settings_bar #guide_settings_menu h5, #guide_settings_bar #guide_settings_menu li.non-menu:hover h5{font-weight:normal; color:#333; padding-top:1px;}
		.dark-theme #guide_settings_bar #guide_settings_menu h5, #guide_settings_bar #guide_settings_menu li.non-menu:hover h5{color:#999;}
	#guide_settings_bar #guide_settings_menu h5 .no-locals{color:#999;}
	#guide_settings_bar #guide_settings_menu li.hover h4{position:relative; background-position:right -97px; color:#333; top:-2px;}
	#guide_settings_bar #guide_settings_menu li.non-menu:hover h4{top:-1px;}
	#guide_settings_bar #guide_settings_menu li.hover h5{display:none;}
	#guide_settings_bar #guide_settings_menu li.non-menu:hover h5{display:block;}
	#guide_settings_bar #guide_settings_menu ol{}
	#guide_settings_bar #guide_settings_menu ol li.guide-settings-channels, #guide_settings_bar #guide_settings_menu ol li.guide-settings-channels.non-menu:hover{background:none;}
	#guide_settings_bar #guide_settings_menu ol li, #guide_settings_bar #guide_settings_menu ol li.non-menu:hover{position:absolute; top:0; background:url(/images/listing/guide_icons.png) scroll -8px -151px no-repeat; width:138px; padding:9px 13px 7px 12px; border:none; height:auto; z-index:0; margin:0;}
	#guide_settings_bar #guide_settings_menu .guide-settings-hide-sd{position:absolute; top:0; background:transparent url(/images/eportal/guide/guide_settings_bar_bg.png) 0 0 no-repeat; width:145px; padding:9px 4px 7px 12px; border:none; height:auto; z-index:0; margin:0;}
	#guide_settings_bar #guide_settings_menu ol li:hover{background:#e0f3fa url(/images/eportal/guide/guide_settings_bar_dropdown.png) 0 -200px repeat-x; border:1px solid #878787; border-top:none; margin:0 -1px; z-index:1;}
	#guide_settings_bar #guide_settings_menu ol li ul{display:none; margin:0;}
	#guide_settings_bar #guide_settings_menu ol li:hover ul{display:block; margin:6px 0 0 0; padding-top:5px; border-top:1px dotted #ccc;}
	#guide_settings_bar #guide_settings_menu ol li ul li{position:relative; background:none; padding:5px 0; font-size:12px; line-height:12px;}
	#guide_settings_bar #guide_settings_menu ol li ul li a{font-weight:normal; display:block;}
	#guide_settings_bar #guide_settings_menu ol li ul li:hover{background:none; border:none; margin:0;}
	#guide_settings_bar .guide-settings-hide-sd{width:140px; font-size:11px; padding-top:8px; .padding-top:10px; padding-left:14px; color:#333;}
	#guide_settings_bar .guide-settings-hide-sd label{margin-left:3px; vertical-align:middle;}
	#guide_settings_bar .guide-settings-hide-sd label a{vertical-align:text-top;}
	#guide_settings_bar #guide_settings_menu .guide-settings-hide-sd .question-mark{display:inline;}
	#guide_settings_bar #guide_settings_menu .question-mark{display:none;}
	#guide_settings_bar #guide_settings_menu .guide-settings-channels{left:253px;}
	#guide_settings_bar #guide_settings_menu .guide-settings-sort{left:416px;}
	#guide_settings_bar #guide_settings_menu .guide-settings-highlight{left:578px;}
	#guide_settings_bar #guide_settings_menu .guide-settings-hide-sd{left:740px;}
	#guide_settings_bar #guide_settings_menu .live-streaming .guide-settings-channels{left:183px;}
	#guide_settings_bar #guide_settings_menu .live-streaming .guide-settings-sort{left:346px;}
	#guide_settings_bar #guide_settings_menu .live-streaming .guide-settings-highlight{left:508px;}
	
#guide_tup #guide_settings_menu{position:absolute; margin:0; *margin-left:1px; width:454px; padding:12px; z-index:1001; border:1px solid #ccc; background:#f7f7f7;}
	#guide_tup #guide_settings_menu h3{font-size:15px; color:#333;}
	#guide_tup #guide_settings_menu h3 small{font-size:13px; color:#797979;font-family:arial,helvetica,sans-serif;font-weight:normal;}
	#guide_tup #guide_settings_menu h4{font-size:14px; color:#666;}
	#guide_settings_menu h5{display:none;}
	#guide_settings_menu .guide-settings-hide-sd{}
	#guide_tup #guide_settings_menu ol{list-style:none; border:1px solid #e1e1e1; border-width:1px 0; margin:0 -12px; width:478px; .height:0.01%; }	
	#guide_tup #guide_settings_menu ol:after{content:"."; display:block; height:0; clear:both; visibility:hidden}
	#guide_tup #guide_settings_menu fieldset{padding-top:12px;}	
	
#guide_settings_menu ol li{float:left; width:114px; height:150px; padding:12px; border-left:1px solid #e1e1e1; list-style:none;}
	#guide_settings_menu ol li.first{border:none; width:174px;}
	#guide_settings_menu ol li ul li{float:none; width:auto; height:auto; border:none; padding:0 0 7px 18px;font-size:12px;}
	#guide_settings_menu ol li ul li a{}
	#guide_settings_menu ol li ul li small{display:block; font-size:11px; line-height:13px; padding-top:2px;color:#999999;}
	#guide_settings_menu ol li ul li.active{background:url('/images/eportal/guide/icon_check.png') no-repeat;}
	#guide_settings_menu ol li ul li.active a{color:#333; cursor:default;;}
	#guide_settings_menu ol li ul li.active a:hover{text-decoration:none;}
	#guide_settings_menu ol li ul li.active a.tooltip-link{color:#09c; cursor:pointer;}
	#guide_settings_menu ol li ul li.active a.tooltip-link:hover{text-decoration:underline;}
	#guide_settings_menu ol li ul li.active small a{color:#09c;}
	#guide_settings_menu fieldset{border:none; margin:0; padding:0;}
	
	

#guide_dates_bar{}
	#guide_dates_bar .timeline-tup{position:relative; overflow:hidden; width:110%; height:48px;}
	#guide_dates_bar li{position:relative; float:left; width:53px; height:48px; text-align:center; background:url('/images/eportal/guide/guide_dates_bg.png') no-repeat; overflow:hidden; cursor:pointer;}
	#guide_dates_bar li.active{background-position:-100px 0;}
	#guide_dates_bar li.day-0{border:none; margin-left:-1px;}
	#guide_dates_bar li span{display:block; line-height:12.5px; color:#666; margin-top:6px; text-transform:uppercase; font-size:11px;}
	#guide_dates_bar li span small{display:block; text-transform:none;font-size:10px; color:#666;}
	#guide_dates_bar li span small:hover{color:#333;}
	#guide_dates_bar li.active span{color:#333; font-weight:bold;}
	#guide_dates_bar li ul{position:absolute; top:25px; left:0; width:110%;}
	#guide_dates_bar li li{background:url('/images/eportal/guide/guide_dates_notch.png') right 0 no-repeat; width:6.5px; height:23px; cursor:pointer; border:none; overflow:visible; z-index:2;}
	#guide_dates_bar li li.block-8,#guide_dates_bar li li.block-7,#guide_dates_bar li li.block-6,#guide_dates_bar li li.block-5,#guide_dates_bar li li.block-4,#guide_dates_bar li li.block-3{width:7px;}
	#guide_dates_bar li li b{display:none;}
	#guide_dates_bar li li.active{background-position:right -46px; margin-left:-1px; padding-right:1px;}
	#guide_dates_bar li li.block-7.active{margin-left:-3px;}
	#guide_dates_bar li li.block-7.hover{margin-left:-2px;}
	#guide_dates_bar li li.hover{background-position:right -23px;}
	#guide_dates_bar li li.block-0{padding-right:1px; margin-left:0;}
	#guide_dates_bar li li span{display:none;}
	#block_label{position:absolute; top:12px; background:url('/images/eportal/guide/guide_dates_hover_v2.png') no-repeat; width:77px; height:22px; font-size:9px; line-height:22px; color:#fff; font-weight:normal; margin:0; text-align:center; z-index:5;}

.guide-dropdown-trigger{position:absolute; top:10px; left:12px; float:left; background:url(/images/eportal/guide/guide_dropdown.png) right top no-repeat; width:135px; height:20px; margin-right:12px; font-size:11px; cursor:pointer; z-index:3;}
	.guide-dropdown-trigger label{display:block; position:absolute; height:20px; line-height:19px; padding-left:8px;}
	.guide-dropdown-trigger.active{background-position:right -20px;}


.guide-dropdown-menu{position:absolute;z-index:10;margin:0;}
	.guide-dropdown-menu ul{border-bottom:1px solid #73a4b3; position:absolute; top:1px; left:1px;}
	.guide-dropdown-menu li{cursor:pointer; display:block; padding:0; background:#e6eef2; border:1px solid #73a4b3; width:133px; border-width:0 1px; height:26px; line-height:26px; text-align:center; font-size:13px;}
		.guide-dropdown-menu .jumplinks li{color:#09c;}
		.guide-dropdown-menu .jumplinks li.active{color:#333;}
	.guide-dropdown-menu li.head{cursor:default; height:auto; padding-bottom:4px;}
	.guide-dropdown-menu li.head h4{color:#999; font-size:11px; margin:0 12px; border-bottom:1px solid #ccc; font-weight:normal; line-height:28px; font-family:Arial,Helvetica,sans-serif;}
	.guide-dropdown-menu li.head span{display:none;}
	.guide-dropdown-menu li ul{display:none; background:#e6eef2; border:1px solid #73a4b3; border-left:0; padding-top:5px; overflow:hidden;}
	.guide-dropdown-menu li span{padding:0 15px;}
	.guide-dropdown-menu li:hover ul{display:block;}
	.guide-dropdown-menu li.active span {font-weight:bold;}
	.guide-dropdown-menu li.active li span {font-weight:normal;}
	.guide-dropdown-menu li.active li.active span {font-weight:bold; color:#333;}
	.guide-dropdown-menu li:hover span {color:#09c; text-decoration:underline;}
	.guide-dropdown-menu li:hover li span {color:#09c; text-decoration:none;}
	.guide-dropdown-menu li:hover li:hover span {color:#09c; text-decoration:underline;}
	.guide-dropdown-menu li.last{padding-bottom:4px;}
	#guide_dates_menu{}
	#guide_dates_menu li{border-bottom-width:1px; text-align:left; width:186px;}
	#guide_dates_menu li li{border:none;}
	#guide_dates_menu li ul{padding-top:6px; width:150px; position:absolute; top:94px; left:188px;}
	#guide_dates_menu li li{height:23px; width:auto; text-align:left; line-height:23px; border-bottom:none; font-size:12px;}
	/* #guide_dates_menu li.day-0 ul{padding-top:0; height:376px;}
	#guide_dates_menu li.day-1 ul{padding-top:27px; height:349px;}
	#guide_dates_menu li.day-2 ul{padding-top:54px; height:322px;} */
	#guide_dates_menu.has-sub-menu li:hover{border-right-color:#e6eef2; background:#e6eef2 url(/images/eportal/guide/guide_dropdown.png) 0 -100px no-repeat;}
	#guide_dates_menu.has-sub-menu li li:hover{background-position:-9999px;}
	#guide_dates_menu li li:hover{border:none;}	
	#guide_dates_menu li ul{left:188px;}
	#guide_dates_menu li.day-0 ul,
	#guide_dates_menu li.day-1 ul,
	#guide_dates_menu li.day-2 ul,
	#guide_dates_menu li.day-3 ul{position:relative; top:-27px; left:187px;}	

	.ctm-tup.colspan-1 #guide_dates_menu li{width:133px;}
	.ctm-tup.colspan-1 #guide_dates_menu li ul{left:135px;}
	.ctm-tup.colspan-1 #guide_dates_menu li.day-0 ul,
	.ctm-tup.colspan-1 #guide_dates_menu li.day-1 ul,
	.ctm-tup.colspan-1 #guide_dates_menu li.day-2 ul,
	.ctm-tup.colspan-1 #guide_dates_menu li.day-3 ul {left:134px;}	

.guide-nav-channels{left:0; right:0; top:0; bottom:0; height:100%; width:160px; background:url('/images/eportal/guide/guide_chan_scroll_shadow.png') repeat-y; border-right:1px solid #999;}
.guide-nav-channels .shadow-top{position:absolute; left:0; top:0; display:block; width:161px; height:48px; background:url('/images/eportal/guide/guide_chan_scroll_shadow_top.png') no-repeat;}
.guide-nav-channels .jumplinks{position:absolute; left:0; top:72px; z-index:1002;}
	.guide-nav-channels .jumplinks ul{}
	.guide-nav-channels .jumplinks ul li{position:relative; width:59px; font-size:14px; color:#09c; text-align:center; cursor:pointer; z-index:1001;}
	.guide-nav-channels .jumplinks ul li.active{background:url('/images/eportal/guide/guide_chan_scroll_active.png') right no-repeat; padding:3px 0; margin:-3px 0; color:#333; cursor:default; z-index:999;}
	.guide-nav-channels .jumplinks ul li span{display:block; height:22px; line-height:22px; .display:inline-block; .zoom:1;}
	.guide-nav-channels .jumplinks ul li .bubble{display:none; position:absolute; top:-10px; left:48px; width:103px; height:49px; padding:8px 8px 8px 16px; color:#ffeab3; font-size:11px; font-weight:bold; line-height:14px; text-align:left; letter-spacing:0.2px; z-index:1002;}
	.guide-nav-channels .jumplinks ul li .bubble small{display:block; color:#fff; font-size:14px; padding-top:3px; font-weight:bold;}
	.guide-nav-channels .jumplinks ul li:hover .bubble{display:block; background:url('/images/eportal/guide/guide_chan_info_bubble_v2.png') no-repeat; }
	.ipad .guide-nav-channels .jumplinks ul li:hover .bubble{display:none;}
	
	.guide-nav-channels .jumplinks.disabled ul li span{color:#ccc;}
	.guide-nav-channels .jumplinks.disabled ul li.active {background:none;}
	.guide-nav-channels .jumplinks.disabled ul li .bubble {display:none;}

.guide-nav-channels .channels{position:absolute; left:58px; top:69px; bottom:22px; width:101px; border-left:1px solid #999; overflow:hidden; z-index:1;}
	#guide_channel_list{position:absolute; top:0;}
	#guide_channel_list ol{list-style:none; position:absolute;}
	#guide_channel_list ol li{position:relative; display:block; width:101px; height:41px; background:#fff url('/images/eportal/guide/guide_chan_item_bg.png') right bottom no-repeat; font-size:0; line-height:0;}
	#guide_channel_list ol li span{position:absolute; line-height:12px; color:#000;}
	#guide_channel_list ol li .chNum{left:51px; top:8px; font-size:10px;}
	#guide_channel_list ol li .chCall{left:51px; top:20px; font-size:10px;}
	#guide_channel_list ol li .chLogo{left:7px; top:7px;}
	#guide_channel_list ol li .chLogo img{width:40px;}
	#guide_channel_list ol li .chFav{background:url('/images/eportal/guide/guide_fav_icon.v3.png') left -86px no-repeat; top:0; right:1px; width:18px; height:14px;}
	#guide_channel_list ol li .chFav b{position:absolute; top:5px; left:5px; background:url('/images/eportal/guide/guide_fav_icon.v3.png') 0 -43px no-repeat; display:block; width:10px; height:9px; cursor:pointer;}
		#guide_channel_list ol li .chFav b:hover{background-position:top;}
		.dark-theme #guide_channel_list ol li .chFav b{background-image:url('/images/eportal/guide/guide_fav_icon.v3.dark.png');}
	#guide_channel_list ol li .chFav b.active {background-position:top;}
	#guide_channel_list ol li .chFav b.disabled {background-position:left -150px;}
	#guide_channel_list ol li a{color:#000;}
	#guide_channel_list.hide-chFav ol li .chFav {display:none;}
	
	/*
	.ctm-tup.colspan-2 #guide_tup.cms .chCall, .ctm-tup.colspan-3 #guide_tup.cms .chCall{display:none; font-size:11px;}
	.ctm-tup.colspan-2 #guide_tup.cms .chNum,  .ctm-tup.colspan-3 #guide_tup.cms .chNum{top:14px; left:55px; font-size:11px;}
	.ctm-tup.colspan-2 #guide_tup.cms .chFav,  .ctm-tup.colspan-3 #guide_tup.cms .chFav{background:none; top:13px; left:79px;}
	*/
	
	.guide-chscroll-btn{position:absolute; left:58px; top:45px; background:url('/images/eportal/guide/guide_chan_scroll_btn.v2.png') 0 -24px no-repeat; display:block; width:103px; height:24px; cursor:pointer; z-index:1;}
	.guide-chscroll-btn:hover{background-position:-103px -24px;}
	.ipad .guide-chscroll-btn:hover{background-position:0 -24px;}
	.ipad .guide-chscroll-down:hover{background-position:left  -48px;}
	.guide-chscroll-btn:active{}
	.guide-chscroll-down{top:auto; bottom:-1px; background-position:left -48px;}
	.guide-chscroll-down:hover{background-position:-103px  -48px;}
	#guide_chscroll_up.disabled{background-position:-206px -24px; cursor:default;}
	#guide_chscroll_down.disabled{background-position:-206px  -48px; cursor:default;}
	.ctm-tup.colspan-4 #guide_tup #guide_chscroll_up,
	.ctm-tup.colspan-3 #guide_tup #guide_chscroll_up,
	.ctm-tup.colspan-2 #guide_tup #guide_chscroll_up{background-position: left 0;}
	.ctm-tup.colspan-4 #guide_tup #guide_chscroll_up:hover,
	.ctm-tup.colspan-3 #guide_tup #guide_chscroll_up:hover,
	.ctm-tup.colspan-2 #guide_tup #guide_chscroll_up:hover{background-position: -103px 0;}	
	.dark-theme .ctm-tup.colspan-3 #guide_tup #guide_chscroll_up:hover{background-position: -103px -24px;}
	.dark-theme .ctm-tup.colspan-3 #guide_tup #guide_chscroll_up.disabled{background-position: -206px 0;}
	.ctm-tup.colspan-4 #guide_tup #guide_chscroll_up.disabled,
	.ctm-tup.colspan-3 #guide_tup #guide_chscroll_up.disabled,
	.ctm-tup.colspan-2 #guide_tup #guide_chscroll_up.disabled{background-position: -206px 0;}		
	.ctm-tup.colspan-1 #guide_tup #guide_chscroll_up{background-position: -17px 0;}
	.ctm-tup.colspan-1 #guide_tup #guide_chscroll_up:hover{background-position: -120px 0;}
	.ctm-tup.colspan-1 #guide_tup #guide_chscroll_up.disabled{background-position: -223px 0;}
	.ctm-tup.colspan-1 #guide_tup #guide_chscroll_down{background-position: -17px -48px;}
	.ctm-tup.colspan-1 #guide_tup #guide_chscroll_down:hover{background-position: -120px -48px;}
	.ctm-tup.colspan-1 #guide_tup #guide_chscroll_down.disabled{background-position: -223px -48px;}	

	
.guide-hours-bar{position:absolute; top:45px; left:0; width:100%; background:url('/images/eportal/guide/guide_hours_bar_bg.v2.png') repeat-x; height:22px; border:1px solid #999; border-width:1px 0; overflow:hidden;}
	.guide-hours-bar .prev, .guide-hours-bar .next{position:absolute; left:0; top:0; display:block; width:21px; height:22px; background:url('/images/eportal/guide/guide_hours_btn.png') no-repeat; text-indent:-9999px; cursor:pointer; z-index:2;}
	.guide-hours-bar .next{left:auto; right:0; background-position:right top;}
	.guide-hours-bar .prev:hover{background-position:left -22px;}
	.guide-hours-bar .next:hover{background-position:right -22px;}
	.ipad .guide-hours-bar .prev:hover{background-position:left top;}
	.ipad .guide-hours-bar .next:hover{background-position:right top;}
	.guide-hours-list{position:absolute; left:0; right:0; z-index:1;}
	.guide-hours-list ol{position:absolute; width:2000px;}
	.guide-hours-list ol li{list-style:none; float:left; width:124px; height:14px; padding-bottom:7px; color:#fff; font-size:11px; line-height:16px; background:url('/images/eportal/guide/guide_timeline_notch.png') left bottom no-repeat;}
	
	.guide-hours-list li.history{height:15px; background:url('/images/eportal/guide/guide_hours_bar_bg_historical.png') repeat-x scroll 0 0;}
	.guide-hours-list li.history span{display:block; width:100%; height:21px; background:url('/images/eportal/guide/guide_timeline_historical_notch.png') right bottom no-repeat;}
	
		
	/*.guide-hours-list ol li span {margin-left:-18px;}
	.guide-hours-list ol li.first span {display:none;} */
/*	#guide_tup.allaccess .guide-hours-list ol li.first span, #guide_tup.adult .guide-hours-list ol li.first span{background:url(/images/eportal/guide/guide_hours_bar_bg.v2.png) 0 -1px repeat-x;}
	#guide_tup.allaccess #guide_btm_hours_bar ol li.first span, #guide_tup.adult #guide_btm_hours_bar ol li.first span{background-position:left bottom;} */
	
	#guide_btm_hours_bar{top:auto; bottom:-1px;}
	#guide_btm_hours_bar .guide-hours-list ol li {background-position:left top;}
	#guide_btm_hours_bar ol li span{display:block; padding-top:7px;}
	#guide_btm_hours_bar .guide-hours-list li.history span{background-position:right top;}
	#guide_top_hours_btn_prev.disabled, #guide_bottom_hours_btn_prev.disabled{background-position:left -44px; cursor:default;}
	#guide_top_hours_btn_next.disabled, #guide_bottom_hours_btn_next.disabled{background-position:right -44px; cursor:default;}
		
#guide_grid{position:absolute; width:741px; left:160px; top:69px;  border-left:1px solid #999; overflow:hidden;}	
	#guide_grid .loading{position:absolute; left:280px; top:110px; z-index:2;}
	#guide_grid .current-time{display:block; position:absolute; top:0; bottom:0 ; background:url("/images/eportal/guide/guide_historical_timemarker.png") no-repeat scroll -5px -6px transparent; width:1px; z-index:4;}
	#guide_grid .current-bkgrd{ top:0; bottom:0; z-index:2; border-right:1px solid #666; background:url("/images/eportal/guide/bg_historical_guide.png") repeat-y;}
	#guide_grid .guide-no-data {color:#a6a6a6; display:block; font-size:11px; height:14px; padding-top:7px; position:relative; line-height:14px;}
	#guide_grid ol{height:100%; overflow:hidden; margin-left:-1px;position:absolute; z-index:2;}
	#guide_grid ol li{display:block; border:1px solid #ccc; border-width:0 1px 1px 1px; width:100%; height:40px; overflow:hidden; margin:0; font-size:1px; line-height:0; color:#666;}
	#guide_grid ol li ul{width:9999px; height:40px; overflow:hidden; background:transparent;}
	#guide_grid ol li ul:after{content:"."; display:block; height:0; clear:both; visibility:hidden}
	#guide_grid ol li ul li{position:absolute; display:block; border-width:0 1px; height:40px; width:120px; font-size:11px; line-height:14px; cursor:pointer; background:transparent; color: #808080;}
	#guide_grid ol li ul li.history {color:#a6a6a6;}
	#guide_grid ol li ul li:hover{color:#333;background:#f2f2f2;}
	#guide_grid ol li ul li.first{border-width:0 1px 0 0;}
	#guide_grid ol li ul li.nodata, #guide_grid ol li ul li.nodata:hover{background:#eee; cursor:default;}
		#guide_grid .sched-item{position:relative; padding:4px 4px 4px 7px; height:32px;}
		#guide_grid .sched-item .prTitle{display:block; height:14px; overflow:hidden;}
		#guide_grid .sched-item .prTitle span{}
		#guide_grid .sched-item .prHd{display: inline-block; width:24px; height:17px; margin-right:5px; background:url('/images/listing/guide_icons.png') no-repeat scroll -8px -69px;}
		#guide_grid .sched-item .pr3d{display: inline-block;width:25px; height:17px; margin-right:5px; background:url('/images/listing/guide_icons.png') no-repeat scroll -8px -94px;}
		#guide_grid .sched-item .prLsAll{display: inline-block;width:20px; height:18px; background:url('/images/listing/guide_icons.png') no-repeat scroll -8px -5px;}
		#guide_grid .sched-item .prLsOOH{display: inline-block;width:27px; height:18px; background:url('/images/listing/guide_icons.png') no-repeat scroll -8px -29px;}
		#guide_grid .sched-item .prOrd{position:absolute; bottom:4px; right:4px; display:block; width:13px; height:13px; background:url('/images/eportal/guide/icon_orderable.png') no-repeat; }
		#guide_grid .sched-item .prRec{position:absolute; bottom:4px; right:6px; display:none; width:13px; height:13px; background:url('/images/eportal/guide/icon_record.png') no-repeat; }
		
		/* #guide_grid ol li ul li:hover .prOrd, #guide_grid ol li ul.recordable li:hover .prRec{display:block;} */
		#guide_grid .active{cursor:pointer; background:#e3e3e3;}
	
	#guide_grid .guide-block-caps{position:absolute; left:0; top:0; bottom:0; background:#fff; border-right:1px solid #999; width:20px; z-index:2; text-align:center;}
	#guide_grid .guide-block-caps span{display:block; height:21px; line-height:21px; .height:200px; .writing-mode:tb-rl; white-space:nowrap; margin-top:170px; .margin:110px 0; -moz-transform:rotate(270deg); -webkit-transform:rotate(270deg); -o-transform:rotate(270deg); font-size:11px;}
	#guide_grid .guide-block-caps-end{left:auto; right:0; border-right:none; border-left:1px solid #ccc; }
	
	#guide .current-time-icon{position:absolute; bottom:0; height:7px; z-index:5; width:11px;  background:url('/images/eportal/guide/guide_historical_timemarker.png') no-repeat ; }
	#guide #guide_btm_hours_bar .current-time-icon{top:0; background-position:0 -418px;}
	#guide_timeline .first span {text-indent:24px;display:block;}
			
	#guide_zip_warning{position:absolute; top:-6px; left:2%; width:90%; padding-top:18px; padding-left:30px; padding-right:8px; background-position:10px 16px; z-index:3;}
	#guide_zip_warning.hidden{display:none;}
	#guide_zip_warning.no-zip, #guide_zip_warning.no-locals{display:block;}
	#guide_zip_warning.no-zip .no-zip, #guide_zip_warning.no-locals .no-locals{display:block; margin-left:9px;}
	#guide_zip_warning span{float:left; display:none;}
	#guide_zip_warning .lb-close-sm{position:absolute; top:2px; right:-3px; left:auto;}
	
#guide_grid_vert_scroller{width:760px; position:absolute; z-index:1;}
#guide_grid_vert_scroller li{height:409px;overflow:hidden;position:relative;}
#guide_grid_hor_scroller{position:relative;width:2280px;}
#guide_grid_hor_scroller li{float:left;width:760px;}
#guide_day_select_popup {position:absolute; background:#fff; padding:6px 12px; z-index:20; border:1px solid #666; margin-top:-100px; }
#guide_day_select_popup li {padding-bottom:3px;}

.adult-date-select{line-height:20px; text-align:center; font-size:11px; color:#b9e2f6}
.adult-date-select span{color:#fff;}
.guide-adult-message{line-height:31px; font-size:12px; font-weight:bold; padding:0 12px;}

.guide-adult-message .btn-cta{margin:-2px 10px 0;}

#guide_favorites_message, #guide_ls_favorites_message {top:69px;left:60px;background-color:white;position:absolute; width:842px; height:409px; z-index:5;}
	.dark-theme #guide_favorites_message, .dark-theme #guide_ls_favorites_message{background-color:#000;}
#guide_favorites_message .message, #guide_ls_favorites_message .message {position:relative; border:1px solid #d3e1e8; background:#f0f7fa; width:480px; padding:18px 10px 20px 47px; margin:auto; -moz-border-radius:3px;
-webkit-border-radius:3px; -o-border-radius:3px; -ms-border-radius:3px; -khtml-border-radius:3px; border-radius:3px; }
	.dark-theme #guide_favorites_message .message, .dark-theme #guide_ls_favorites_message .message{background-color:#222;border-color:#666;}
#guide_favorites_message .message .big-icon, #guide_ls_favorites_message .message .big-icon{position:absolute; left:19px; top:18px; display:block; width:20px; height:24px; background:url("/images/eportal/utilitybar/utilitybar_sprites.png") no-repeat -81px -197px;}
#guide_favorites_message .message h4, #guide_ls_favorites_message .message h4{margin-bottom:13px;font-family:Arial,Helvetica,sans-serif;font-weight:bold;}
	.dark-theme #guide_favorites_message .message h4, .dark-theme #guide_ls_favorites_message .message h4{color:#999;}
#guide_favorites_message .message p, #guide_ls_favorites_message .message p{margin-bottom:23px;}
	.dark-theme #guide_favorites_message .message p, .dark-theme #guide_ls_favorites_message .message p{color:#999;}
#guide_favorites_message .message a, #guide_ls_favorites_message .message a{}
	.dark-theme #guide_favorites_message .message a, .dark-theme #guide_ls_favorites_message .message a{color:#09c;}
	.dark-theme #guide_favorites_message .message a:hover, .dark-theme #guide_ls_favorites_message .message a:hover{color:#fff;text-decoration:none;}

.colspan-4 #guide_favorites_message .message, .colspan-4 #guide_ls_favorites_message .message{width:480px; margin-top:60px;}
.colspan-3 #guide_favorites_message .message, .colspan-3 #guide_ls_favorites_message .message{width:480px; margin-top:50px;}
.colspan-2 #guide_favorites_message .message, .colspan-2 #guide_ls_favorites_message .message{width:355px; margin-top:30px;}
.colspan-1 #guide_favorites_message .message, .colspan-1 #guide_ls_favorites_message .message{width:145px; margin-top:20px;}

#guide_tup.cms{}
	#guide_tup.cms #guide_grid{left:101px; width:570px;}
	#guide_tup.cms .guide-nav-channels{width:101px; background:none;}
	#guide_tup.cms .guide-nav-channels .shadow-top{display:none;}
	#guide_tup.cms .guide-nav-channels .channels{left:-1px;}
	#guide_tup.cms .guide-chscroll-btn{left:-1px;}
	#guide_tup.cms #guide_chscroll_down{border-radius:0 0 0 4px; -moz-border-radius:0 0 0 4px; -webkit-border-radius:0 0 0 4px; }	
	.guide-date-time{border-radius:0 4px 0 0; -moz-border-radius:0 4px 0 0; -webkit-border-radius:0 4px 0 0; }
	#guide_tup.cms #guide_grid .current-bkgrd{ background:url("/images/eportal/guide/bg_historical_cms.png") repeat-y;background-color:#FFFFFF;}
	#guide_btm_hours_bar{border-radius:0 0 4px 0; -moz-border-radius:0 0 4px 0; -webkit-border-radius:0 0 4px 0;}
	
	.ctm-tup.colspan-4 #guide_tup #guide_grid{left:101px; width:800px; top:62px;}
	.ctm-tup.colspan-4 #guide_tup .guide-date-time{left:102px; background:#ececec;}
	
	.ctm-tup.colspan-3 #guide_tup #guide_grid{left:101px; width:570px; top:62px;}
	.ctm-tup.colspan-3 #guide_tup .guide-date-time{left:102px; background:#ececec;}
	
	.ctm-tup.colspan-2 #guide_tup.cms #guide_grid{left:101px; width:340px; top:62px;}
	.ctm-tup.colspan-2 #guide_tup.cms .guide-date-time{left:102px; background:#ececec;}

	.ctm-tup.colspan-1 #guide_tup.cms #guide_grid{left:70px; width:141px; top:62px;}
	.ctm-tup.colspan-1 #guide_tup.cms .guide-date-time{left:71px; background:#ececec;}
	.ctm-tup.colspan-1 #guide_tup.cms .guide-nav-channels {width:70px;}
	.ctm-tup.colspan-1 #guide_tup.cms .guide-chscroll-btn {width:70px;}
	.ctm-tup.colspan-1 #guide_tup.cms .guide-nav-channels .channels{width:70px;}
	.ctm-tup.colspan-1 #guide_tup.cms #guide_channel_list .chLogo {display:none;}
	.ctm-tup.colspan-1 #guide_tup.cms #guide_channel_list .chNum {left:8px;}
	.ctm-tup.colspan-1 #guide_tup.cms #guide_channel_list .chCall {left:8px;}
	.ctm-tup.colspan-1 #guide_tup.cms #guide_channel_list .chFav {left:51px;}
	.ctm-tup.colspan-1 #guide_tup.cms .guide-hours-list ol li{padding-top:4px;}
	.ctm-tup.colspan-1 #guide_tup.cms .guide-hours-list ol li.first{margin-right:0;padding-left:0;text-align:center;}
	.ctm-tup.colspan-1 #guide_tup.cms .guide-chscroll-btn{left:0;}
	/*.ctm-tup.colspan-1 #guide_tup.cms .guide-hours-list ol li.first span{display:block;} */
	
	.ctm-tup.colspan-4 #guide_tup #guide_chscroll_up,
	.ctm-tup.colspan-3 #guide_tup #guide_chscroll_up,
	.ctm-tup.colspan-2 #guide_tup #guide_chscroll_up,
	.ctm-tup.colspan-1 #guide_tup #guide_chscroll_up{top:38px;}
	
	.ctm-tup.colspan-4 #guide_tup #guide_top_hours_bar,
	.ctm-tup.colspan-3 #guide_tup #guide_top_hours_bar,
	.ctm-tup.colspan-2 #guide_tup #guide_top_hours_bar,
	.ctm-tup.colspan-1 #guide_tup #guide_top_hours_bar{top:38px;}
	
	.ctm-tup.colspan-4 .guide-nav-channels .channels,
	.ctm-tup.colspan-3 .guide-nav-channels .channels,
	.ctm-tup.colspan-2 .guide-nav-channels .channels,
	.ctm-tup.colspan-1 .guide-nav-channels .channels{top:62px;}
	
	.ctm-tup.colspan-4 #guide_settings_menu_trigger{top:7px; left:10px;}
	.ctm-tup.colspan-3 #guide_settings_menu_trigger{top:7px; left:10px;}
	.ctm-tup.colspan-2 #guide_settings_menu_trigger{top:7px; left:10px;}
	.ctm-tup.colspan-1 #guide_settings_menu_trigger{top:7px; left:13px;}
	
	.ctm-tup.colspan-4 #guide_tup .guide-dropdown-trigger{top:9px; left:115px;}
	.ctm-tup.colspan-3 #guide_tup .guide-dropdown-trigger{top:9px; left:115px;}
	.ctm-tup.colspan-2 #guide_tup .guide-dropdown-trigger{top:9px; left:103px;}
	.ctm-tup.colspan-1 #guide_tup .guide-dropdown-trigger{top:9px; left:74px;}
	
	.ctm-tup.colspan-4 #guide_tup #guide_dates_menu_trigger,
	.ctm-tup.colspan-3 #guide_tup #guide_dates_menu_trigger,
	.ctm-tup.colspan-2 #guide_tup #guide_dates_menu_trigger{background-position:right -40px; width:188px; left:115px;}
	
	.ctm-tup.colspan-4 #guide_tup #guide_dates_menu_trigger.active,
	.ctm-tup.colspan-3 #guide_tup #guide_dates_menu_trigger.active,
	.ctm-tup.colspan-2 #guide_tup #guide_dates_menu_trigger.active{background-position:right -60px;}
	
	.ctm-tup.colspan-2 #guide_tup #guide_dates_menu_trigger{left:107px;}
	.ctm-tup.colspan-1 #guide_tup #guide_dates_menu_trigger{left:74px;}


	/* favorite message - CMS */
	#guide_tup.cms #guide_favorites_message, #guide_tup.cms #guide_ls_favorites_message {left:0;width:672px;}
	.ctm-tup.colspan-2 #guide_tup.cms #guide_favorites_message, .ctm-tup.colspan-2 #guide_tup.cms #guide_ls_favorites_message {width:442px;}
	.ctm-tup.colspan-1 #guide_tup.cms #guide_favorites_message, .ctm-tup.colspan-1 #guide_tup.cms #guide_ls_favorites_message {width:212px;}

/*
#guide_tup.adult{height:324px;}
	.adult #guide_grid{left:101px; top:56px;}
	.adult #guide_dates_bar{display:none;}
	.adult #guide_timeline_tabs{display:none;}
	.adult .guide-hours-bar{top:32px;}
	.adult .guide-chscroll-btn{display:none;}
	.adult .guide-date-time{left:102px;}
	.adult .guide-date-time ul {}
	.adult .guide-nav-channels{width:101px; background:none;}
	.adult .guide-nav-channels .shadow-top{width:101px; height:56px; background:url(/images/eportal/guide/guide_chan_item_bg.png) right bottom no-repeat;}
	.adult .guide-nav-channels .channels{left:-1px; top:56px;}
	.adult .guide-chscroll-btn{left:-1px;}
*/
#guide_tup.test{height:324px;}


/* have to set multiple heights because NY changed heights of top bar */

#guide_tup.channels-1 {height:125px;}
#guide_tup.channels-2 {height:166px;}
#guide_tup.channels-3 {height:207px;}
#guide_tup.channels-4 {height:248px;}
#guide_tup.channels-5 {height:289px;}
#guide_tup.channels-6 {height:330px;}
#guide_tup.channels-7 {height:371px;}
#guide_tup.channels-8 {height:412px;}
#guide_tup.channels-9 {height:453px;}
#guide_tup.channels-10 {height:494px;}

#guide_tup.standard.channels-1 {height:132px;}
#guide_tup.standard.channels-2 {height:173px;}
#guide_tup.standard.channels-3 {height:214px;}
#guide_tup.standard.channels-4 {height:255px;}
#guide_tup.standard.channels-5 {height:296px;}
#guide_tup.standard.channels-6 {height:337px;}
#guide_tup.standard.channels-7 {height:378px;}
#guide_tup.standard.channels-8 {height:419px;}
#guide_tup.standard.channels-9 {height:460px;}
#guide_tup.standard.channels-10 {height:501px;}



#guide_tup.channels-1 #guide_favorites_message, #guide_tup.channels-1 #guide_ls_favorites_message{height:39px;}
#guide_tup.channels-2 #guide_favorites_message, #guide_tup.channels-2 #guide_ls_favorites_message{height:80px;}
#guide_tup.channels-3 #guide_favorites_message, #guide_tup.channels-3 #guide_ls_favorites_message{height:121px;}
#guide_tup.channels-4 #guide_favorites_message, #guide_tup.channels-4 #guide_ls_favorites_message{height:162px;}
#guide_tup.channels-5 #guide_favorites_message, #guide_tup.channels-5 #guide_ls_favorites_message{height:203px;}
#guide_tup.channels-6 #guide_favorites_message, #guide_tup.channels-6 #guide_ls_favorites_message{height:244px;}
#guide_tup.channels-7 #guide_favorites_message, #guide_tup.channels-7 #guide_ls_favorites_message{height:285px;}
#guide_tup.channels-8 #guide_favorites_message, #guide_tup.channels-8 #guide_ls_favorites_message{height:327px;}
#guide_tup.channels-9 #guide_favorites_message, #guide_tup.channels-9 #guide_ls_favorites_message{height:368px;}
#guide_tup.channels-10 #guide_favorites_message, #guide_tup.channels-10 #guide_ls_favorites_message{height:409px;position:absolute; z-index:10;}



#guide_tup.hl-tv li.hl-tv,
#guide_tup.hl-movies li.hl-movies,
#guide_tup.hl-adult li.hl-adult,
#guide_tup.hl-sports li.hl-sports {background-color:#DAF6FD;}
#guide_tup.hl-tv li.hl-tv:hover,
#guide_tup.hl-movies li.hl-movies:hover,
#guide_tup.hl-adult li.hl-adult:hover,
#guide_tup.hl-sports li.hl-sports:hover {background-color:#bfe8fb;}

#guide_error_message {position:absolute; top:50%; height:100%; width:100%; text-align:left; z-index:5;}
#guide_error_message p{font-weight:bold; margin:-1% auto;}
#guide_error_message p .ep-contingency-message{width:480px; margin:auto;}
.ctm-tup.colspan-3 #guide_error_message p{margin:-3% 5%;}
.ctm-tup.colspan-2 #guide_error_message p{margin:-10% 10%;}
.ctm-tup.colspan-1 #guide_error_message p{margin:-30% 5%;}
.ctm-tup.colspan-3 #guide_error_message p .ep-contingency-message, .ctm-tup.colspan-2 #guide_error_message p .ep-contingency-message, .ctm-tup.colspan-1 #guide_error_message p .ep-contingency-message{width:auto;}

.dark-theme #guide_settings_bar{background-image:url(/images/eportal/guide/guide_settings_bar_bg_ls.dark.png); border:1px solid #666; box-shadow:0 3px 3px #000; -moz-box-shadow:0 2px 3px rgba(0,0,0,0.1); -webkit-box-shadow:0 2px 3px rgba(0,0,0,0.1);  background-image:-o-linear-gradient(bottom, #16181e 5%, #22252b 50%, #2d3037 95%); background-image:-moz-linear-gradient(bottom, #16181e 5%, #22252b 50%, #2d3037 95%); background-image:-webkit-linear-gradient(bottom, #16181e 5%, #22252b 50%, #2d3037 95%); background-image:-ms-linear-gradient(bottom, #16181e 5%, #22252b 50%, #2d3037 95%); background-image:-webkit-gradient(linear, left bottom, left top, from(#16181e), to(#2d3037), color-stop(.5,#22252b)); background-image:linear-gradient(bottom, #16181e 5%, #22252b 50%, #2d3037 95%); background-image:-ms-linear-gradient(center top,#2d3037,#16181e); -pie-background:linear-gradient(#2d3037, #16181e); }
.dark-theme #guide_settings_bar #guide_settings_menu h4{background-image:url(/images/eportal/guide/guide_settings_bar_dropdown.dark.png);}
.dark-theme #guide_settings_bar #guide_settings_menu h4.hover{color:#fff;}
.dark-theme #guide_settings_bar #guide_settings_menu li.hover h4{color:#fff;}

.dark-theme #guide_settings_bar #guide_settings_menu li.non-menu h4{color:#00ace5;}

.dark-theme #guide_settings_bar #guide_settings_menu ol li.guide-settings-channels, .dark-theme #guide_settings_bar #guide_settings_menu ol li.guide-settings-channels.non-menu:hover{background:none;}
	.dark-theme #guide_settings_bar #guide_settings_menu ol li, .dark-theme #guide_settings_bar #guide_settings_menu ol li.non-menu:hover{position:absolute; top:0; background:transparent url(/images/listing/guide_icons.png) -59px -152px no-repeat; width:138px; padding:14px 13px 14px 12px; border:none; height:auto; z-index:0; margin:0;}
	.dark-theme #guide_settings_bar #guide_settings_menu .guide-settings-hide-sd{background:transparent url(/images/listing/guide_icons.png) -59px -152px no-repeat; width:145px; padding:14px 4px 14px 12px;}
	.dark-theme #guide_settings_bar #guide_settings_menu .out-of-home-streaming{background:transparent url(/images/listing/guide_icons.png) -59px -152px no-repeat; width:215px; padding:5px 12px;}
	.dark-theme #guide_settings_bar #guide_settings_menu ol li.hover{background:#16181d url(/images/eportal/guide/guide_settings_bar_dropdown.dark.png) 0 -200px repeat-x; border:1px solid #666;border-top:none; margin:0 -1px; z-index:1;padding-bottom:5px;}
	.dark-theme #guide_settings_bar #guide_settings_menu ol li ul{display:none; margin:0;}
	.dark-theme #guide_settings_bar #guide_settings_menu ol li.hover ul,.dark-theme #guide_settings_bar #guide_settings_menu ol li ul:active{display:block; margin:6px 0 0 0; padding-top:5px; border-top:1px dotted #fff;}
	.dark-theme #guide_settings_bar #guide_settings_menu ol li ul li{position:relative; background:none; padding:5px 0; font-size:12px; line-height:12px;}
	.dark-theme #guide_settings_bar #guide_settings_menu ol li ul li:hover{background:none; border:none; margin:0;}
	.dark-theme #guide_settings_bar #guide_settings_menu ol li.hover ul .hide-sd-channels{border-top:1px dotted #fff; font-size:11px;margin-top:5px; padding:8px 0 3px;}
	.dark-theme #guide_settings_bar #guide_settings_menu ol li.hover ul .hide-sd-channels label.disableCheckbox{color: #43454b;}
	.dark-theme.chrome #guide_settings_bar #guide_settings_menu ol li.hover ul .hide-sd-channels{padding:9px 0 2px;}
	.dark-theme.ie #guide_settings_bar #guide_settings_menu ol li.hover ul .hide-sd-channels{padding:8px 0 1px;}
	.dark-theme #guide_settings_bar #guide_settings_menu ol li ul .hide-sd-channels input {margin-left:0;}
	.dark-theme #guide_settings_bar .guide-settings-hide-sd{color:#999;}
	.dark-theme #guide_settings_bar #guide_settings_menu .question-mark{display:none;}
	.dark-theme #guide_settings_bar #guide_settings_menu .guide-settings-hide-sd .question-mark {display: inline;}
	.dark-theme #guide_settings_bar #guide_settings_menu .guide-settings-channels .hide-sd-channels .question-mark{display:inline;}
	.dark-theme #guide_settings_bar #guide_settings_menu .streaming {margin-bottom:5px; height:15px;}
	.dark-theme #guide_settings_bar #guide_settings_menu .streaming label{vertical-align:middle;}
	.dark-theme #guide_settings_bar #guide_settings_menu .streaming .prLsAll{background: url("/images/listing/guide_icons.png") no-repeat scroll -53px -119px transparent; display: inline-block;height: 13px;width: 22px;vertical-align:middle;}
	.dark-theme #guide_settings_bar #guide_settings_menu .streaming .prLsOOH{background: url("/images/listing/guide_icons.png") no-repeat scroll -4px -118px transparent;display: inline-block;height: 15px;width: 22px;vertical-align:middle;}
	.dark-theme #guide_settings_bar #guide_settings_menu .streaming .question-mark{display:inline;}
	.dark-theme #guide_settings_bar #guide_settings_menu .guide-settings-channels{left:253px;}
	.dark-theme #guide_settings_bar #guide_settings_menu .guide-settings-sort{left:416px;}
	.dark-theme #guide_settings_bar #guide_settings_menu .guide-settings-highlight{left:578px;}
	.dark-theme #guide_settings_bar #guide_settings_menu .guide-settings-hide-sd{left:740px;}
	.dark-theme #guide_settings_bar #guide_settings_menu .live-streaming .guide-settings-channels{left:183px;}
	.dark-theme #guide_settings_bar #guide_settings_menu .live-streaming .guide-settings-sort{left:346px;}
	.dark-theme #guide_settings_bar #guide_settings_menu .live-streaming .guide-settings-highlight{left:508px;}
.dark-theme #guide_settings_timezone_info{color:#fff;}

.dark-theme #guide_grid{border-color:#666;background:#000;}
.dark-theme #guide_grid .guide-no-data {color:#43454B;}
.dark-theme #guide_grid .sched-item .prHd{display:inline-block; width:24px; height:17px; margin-right:5px; background:url('/images/listing/guide_icons.png') no-repeat scroll -57px -66px;}
.dark-theme #guide_grid .sched-item .pr3d{display:inline-block; width:25px; height:17px; margin-right:5px; background:url('/images/listing/guide_icons.png') no-repeat scroll -57px -94px;}
.dark-theme #guide_grid .sched-item .prLsAll{display:inline-block; width:20px; height:18px; background:url('/images/listing/guide_icons.png') no-repeat scroll -56px -5px;}
.dark-theme #guide_grid .sched-item .prLsOOH{display:inline-block; width:27px; height:18px; background:url('/images/listing/guide_icons.png') no-repeat scroll -56px -29px;}
.dark-theme #guide_tup{background-color:#222; border-color:#666; -moz-box-shadow:0 3px 3px #000; -webkit-box-shadow:0 3px 3px #000; box-shadow:0 3px 3px #000;}
.dark-theme .ctm-tup.colspan-4 #guide_tup .guide-date-time, .dark-theme .ctm-tup.colspan-3 #guide_tup .guide-date-time, .dark-theme .ctm-tup.colspan-2 #guide_tup .guide-date-time, .dark-theme .ctm-tup.colspan-1 #guide_tup .guide-date-time{background:url(/images/eportal/guide/guide_top_bg.dark.png) repeat-x;}
.dark-theme #guide_grid ol li{border-color:#666;}
.dark-theme #guide_grid ol li ul{background-color:transparent;}
.dark-theme #guide_grid ol li ul li{background-color:transparent;}
.dark-theme #guide_grid ol li ul li.history{color:#43454b;}
.dark-theme #guide_grid ol li ul li:hover{background-color:#151820;color:#fff;}
.dark-theme #guide_grid .current-bkgrd{ background:url("/images/eportal/guide/bg_historical_guide.dark.png") repeat-y;}
.dark-theme #guide_tup.cms #guide_grid .current-bkgrd{ background:url("/images/eportal/guide/bg_historical_cms.dark.png") repeat-y scroll 0 0 transparent;}
.dark-theme #guide_grid .current-time {background:url('/images/eportal/guide/guide_historical_timemarker.dark.png') no-repeat scroll -5px -6px;}
.dark-theme #guide_tup.cms ul.chnum-591 li, .dark-theme #guide_tup.cms ul.chnum-592 li {background-color:#002534;}
.dark-theme #guide_tup.cms ul.chnum-591 li:hover, .dark-theme #guide_tup.cms ul.chnum-592 li:hover {background-color:#003a52;}

.dark-theme #guide_grid ol li ul li.nodata, .dark-theme #guide_grid ol li ul li.nodata:hover{background-color:#333;}
.dark-theme #guide_tup.hl-tv li.hl-tv,
.dark-theme #guide_tup.hl-movies li.hl-movies,
.dark-theme #guide_tup.hl-adult li.hl-adult,
.dark-theme #guide_tup.hl-sports li.hl-sports {background-color:#002534;}
.dark-theme #guide_tup.hl-tv li.hl-tv:hover,
.dark-theme #guide_tup.hl-movies li.hl-movies:hover,
.dark-theme #guide_tup.hl-adult li.hl-adult:hover,
.dark-theme #guide_tup.hl-sports li.hl-sports:hover {background-color:#003a52;}
.dark-theme #guide .current-time-icon{background:url('/images/eportal/guide/guide_historical_timemarker.dark.png') no-repeat; }
.dark-theme #guide #guide_btm_hours_bar .current-time-icon{background-position:0 -418px;}

.dark-theme #guide_dates_bar li{width:53px; height:48px; background-image:url('/images/eportal/guide/guide_dates_bg.dark.png');}
.dark-theme #guide_dates_bar li span{color:#999;}
.dark-theme #guide_dates_bar li span small{color:#999;}
.dark-theme #guide_dates_bar li span small:hover{color:#fff;}
.dark-theme #guide_dates_bar li.active span{color:#fff;}
.dark-theme #guide_dates_bar li li{background:url('/images/eportal/guide/guide_dates_notch.v2.dark.png') right 0 no-repeat; width:6.5px; height:23px; cursor:pointer; border:none; overflow:visible; z-index:2;}
.dark-theme #guide_dates_bar li li.history.active{background:url('/images/eportal/guide/blue-time-pointer-historical.png') right 9px no-repeat; cursor:pointer; border:none; z-index:2;}
.dark-theme #guide_dates_bar li li.block-8,.dark-theme #guide_dates_bar li li.block-7,.dark-theme #guide_dates_bar li li.block-6,.dark-theme #guide_dates_bar li li.block-5,.dark-theme #guide_dates_bar li li.block-4,.dark-theme #guide_dates_bar li li.block-3{width:7px;}
.dark-theme #guide_dates_bar li li b{display:none;}
.dark-theme #guide_dates_bar li li.active{background-position:right -46px; margin-left:-1px; padding-right:1px;}
.dark-theme #guide_dates_bar li li.block-7.active{margin-left:-3px;}
.dark-theme #guide_dates_bar li li.block-7.hover{margin-left:-2px;}
.dark-theme #guide_dates_bar li li.hover{background-position:right -23px;}
.dark-theme #guide_dates_bar li li.history.active.hover{background:url('/images/eportal/guide/guide_dates_notch.v2.dark.png');background-position:right -23px;}
.dark-theme #guide_dates_bar li li.block-0{padding-right:1px; margin-left:0;}
.dark-theme #guide_dates_bar li li span{display:none;}

.dark-theme .guide-hours-list li.history{background:url('/images/eportal/guide/guide_hours_bar_bg_v2.dark.png') repeat-x scroll 0 0;}

.dark-theme #guide_channel_list ol li{background-color:#000; background-image:url(/images/eportal/guide/guide_chan_item_bg.dark.png);}
.dark-theme .guide-dropdown-trigger{background-image:url(/images/eportal/guide/guide_dropdown.dark.png);}
.dark-theme #guide_settings_menu_trigger{background-image:url(/images/eportal/guide/guide_settings_btn.dark.png);}
.dark-theme .guide-chscroll-btn{background-image:url(/images/eportal/guide/guide_chan_scroll_btn.v3.dark.png);}
.dark-theme .guide-nav-channels{background-image:url('/images/eportal/guide/guide_chan_scroll_shadow.dark.png'); border-right:1px solid #010101; background-position:4px 0; border-color:transparent; -moz-border-right-colors:#17171b;}
.dark-theme .guide-nav-channels .shadow-top{background-image:url('/images/eportal/guide/guide_chan_scroll_shadow_top.v2.dark.png');}
.dark-theme .guide-nav-channels .channels{border-color:#5c5c5c;}
.dark-theme .guide-nav-channels .jumplinks ul li{color:#00ace5;}
.dark-theme .guide-nav-channels .jumplinks ul li.active{background-image:url('/images/eportal/guide/guide_chan_scroll_active.dark.png'); color:#fff;}
.dark-theme .guide-nav-channels .jumplinks.disabled ul li.active {background:none;}
.dark-theme .guide-nav-channels .jumplinks.disabled ul li .bubble {display:none;}
.dark-theme #guide_channel_list ol li a{color:#fff;}

.dark-theme .guide-dropdown-menu li.head h4{color:#bebebe; border-color:#c2c2c2;}
.dark-theme .guide-dropdown-menu ul{border-color:#416d79; background-color:#252a2d;}
.dark-theme .guide-dropdown-menu li{background-color:#252a2d; color:#bebebe; border-color:#416d79;}
.dark-theme .guide-dropdown-menu .jumplinks li{color:#00ace5;}
.dark-theme .guide-dropdown-menu .jumplinks li.active{color:#fff;}
.dark-theme .guide-dropdown-menu li ul{border-color:#416d79;}
.dark-theme .guide-dropdown-menu li:hover span {color:#00ace5;}
.dark-theme .guide-dropdown-menu li:hover li span {color:#00ace5;}
.dark-theme .guide-dropdown-menu li.active li.active span{color:#fff;}
.dark-theme #guide_dates_menu.has-sub-menu li:hover{border-right-color:#252a2d; background-color:#252a2d; background-image:url(/images/eportal/guide/guide_dropdown.dark.png);}

.dark-theme #guide_settings_menu{background-color:#222; border-color:#4d4d4d;}
.dark-theme #guide_settings_menu h3{color:#fff;}
.dark-theme #guide_settings_menu h3 small{color:#999;}
.dark-theme #guide_settings_menu h4{color:#999;}
.dark-theme #guide_settings_menu ol{border-color:#777;}	
.dark-theme #guide_settings_menu ol li{border-color:#444;}
.dark-theme #guide_settings_menu ol li ul li a{color:#00ace3;}
.dark-theme #guide_settings_menu ol li ul li a:hover{color:#fff;text-decoration:none;}
.dark-theme #guide_settings_menu ol li ul li.active a{color:#fff;}
.dark-theme #guide_settings_menu ol li ul li.active{background-image:url('/images/eportal/guide/icon_check.dark.png');}
.dark-theme #guide_settings_menu ol li ul li small{color:#999;}
.dark-theme #guide_settings_menu .out-of-home-streaming{border:0 none;color:#999999;font-size:11px;height:auto;left:666px;padding: 0 7px 4px 12px;position:absolute;top: 0;width: 215px;z-index: 0;}
 
 /* #flvvideo_player{height:0;width:0;overflow:hidden;} */
#div_prox_check{height:1px;width:1px;}
