/*body{
	background-image:url(/refresh/images/page_bg.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	background-color:#000;
}*/

.footer_spacer{
	clear:both;
	height:50px;
}

.refresh_body_copy{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:20px;
	color:#000;
	width:520px;
	margin:auto;
	margin-top:10px;
	padding-bottom:80px;
}

.refresh_body_copy a{
	color:#9c1b17;
	font-weight:bold;
	text-decoration:underline;
}

.h1_header{
	font-weight:bold;
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	text-transform:uppercase;
}

.side_panel_text_callout{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:14px;
	color:#000;
}

.side_panel_text_callout a{
	color:#9c1b17;
	text-decoration:underline;
	font-size:12px;
}

.refresh_body_copy ul li{
	list-style-image:url(../images/bullet_square.jpg)/*tpa=http://www.thepantry.com/refresh/images/bullet_square.jpg*/;
}

.contentPage
{
    width: 551px;
    margin: 10px auto;
}

.imageGroup img
{
    margin: 5px;
}

a img
{
    border: none;
}