@import url("global.css")/*tpa=http://www.thepantry.com/refresh/css/global.css*/;

.h1_header{
	text-align:center;
	margin-top:5px;
	margin-bottom:15px;
}

.tblfooternoalign {
	font-family: Verdana, Arial;
	font-size: 9px;
	font-style: normal;
	color: #666666;
	text-decoration: none;	
	border: 0px none;
	background-image: url(Unknown_83_filename)/*tpa=http://www.thepantry.com/refresh/css/images/footer.gif*/;
}