body {
	margin: 0;
	font: 11px/25px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	background: #fff;
	color: #555;
	min-width: 1000px;
}
.f-left {
	float: left;
}
.f-right {
	float: right;
}
.clear {
	clear: both;
}
img {
	border: none;
	display: block;
}
form, p, h1, h2, h3, h4, h5, h6, ul {
	padding: 0;
	margin: 0;
}
/*header*/
.header {
	width: 100%;
	position: relative;
	padding: 54px 0 0;
	z-index: 55;
}
.header:after {
	content: " ";
	display: block;
	width: 100%;
	overflow: hidden;
	height: 0;
	clear: both;
}
/*logo*/
h1 {
	position: absolute;
	top: 11px;
	left: 11px;
}
h1 strong {
	width: 218px;
	height: 83px;
	background: url(../images/logo.gif)/*tpa=http://www.libertyinteractive.com/images/logo.gif*/ no-repeat;
	display: block;
}
h1 strong.ventures {
	width: 217px;
	height: 61px;
	background: url(../images/logo-ventures.gif)/*tpa=http://www.libertyinteractive.com/images/logo-ventures.gif*/ no-repeat;
	display: block;
}
h1 strong.qvc {
	width: 76px;
	height: 100px;
	background: url(../images/logo-qvc.png)/*tpa=http://www.libertyinteractive.com/images/logo-qvc.png*/ no-repeat;
	display: block;
}
h1 a {
	display: block;
	overflow: hidden;
	text-indent: -9999px;
	width: 217px;
	height: 61px;
	position: relative;
}
ul.menu {
	margin: 50px 0 0 128px;
	list-style: none;
	border-left: 1px solid #ccc;
	width: 950px;
}
ul.menu:after {
	content: " ";
	display: block;
	width: 100%;
	overflow: hidden;
	height: 0;
	clear: both;
}
ul.menu li {
	float: left;
	font: 11px/28px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	border-right: 1px solid #ccc;
}
ul.menu li:hover, ul.menu li.hover {
	position: relative;
}
ul.menu a {
	color: #333;
	text-decoration: none;
	display: block;
	padding: 0 23px;
	background: url(../images/link-bg.gif)/*tpa=http://www.libertyinteractive.com/images/link-bg.gif*/ repeat-x;
}
ul.menu a:hover {
	text-decoration: underline;
}
ul.menu ul {
	width: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	top: 28px;
	border: solid #ccc;
	border-width: 1px 1px 0 1px;
	left: -1px;
	background: #fff;
	display: none;
	z-index: 10;
}
* html ul.menu ul {
	background: #fff url(../images/line.gif)/*tpa=http://www.libertyinteractive.com/images/line.gif*/ repeat-y 100% 0;
	border-right: 0;
}
ul.menu ul li {
	width: 100%;
	border: solid #ccc;
	border-width: 0 0 1px;
	overflow: hidden;
	line-height: 14px;
}
ul.menu ul a {
	background: none;
	padding: 5px 10px 5px 10px;
}
ul.menu li.hover ul, ul.menu li:hover ul {
	display: block;
}
.promo {
	width: 100%;
	overflow: hidden;
	border: solid #ccc;
	border-width: 1px 0;
	background: url(../images/promo-bg.jpg)/*tpa=http://www.libertyinteractive.com/images/promo-bg.jpg*/ repeat-y;
}
.promo-home {
	width: 100%;
	overflow: hidden;
	border: solid #ccc;
	border-width: 1px 0;
}
.flash {
	width: 1000px;
	overflow: hidden;
}
/*page*/
#page {
	width: 1000px;
	overflow: hidden;
}
/*primary content*/
.primary-content {
	height: 1%;
	padding: 0 0 0 128px;
	overflow: hidden;
}
ul.sub-menu {
	margin: 0 0 -9px 253px;
	overflow: hidden;
	list-style: none;
	width: 500px;
	border-left: 1px solid #ccc;
	position: relative;
}
ul.sub-menu li {
	float: left;
	border: solid #ccc;
	border-width: 0 1px 1px 0;
	line-height: 29px;
}
ul.sub-menu li a {
	color: #0A0606;
	text-decoration: none;
	display: block;
	padding: 0 15px;
	background: #fff url(../images/sub-link.gif)/*tpa=http://www.libertyinteractive.com/images/sub-link.gif*/ repeat-x 0 100%;
}
ul.sub-menu li a:hover, ul.sub-menu li.active a {
	color: #fff;
}
ul.sub-menu li a.ventures-s:hover, ul.sub-menu li.active a.ventures-s {
	background: #0066A5;
}
ul.sub-menu li a.entertainment-s:hover, ul.sub-menu li.active a.entertainment-s {
	background: #9CCC4E;
}
ul.sub-menu li a.interactive-s:hover, ul.sub-menu li.active a.interactive-s {
	background: #FBA923;
}
.content {
	height: 1%;
	padding: 0 82px 15px 0;
	border-left: 1px solid #ccc;
}
.content a {
	text-decoration: underline;
	color: #555;
}
.content a:hover {
	text-decoration: none;
}
.content:after {
	content: " ";
	display: block;
	width: 100%;
	overflow: hidden;
	height: 0;
	clear: both;
}
.content-inn {
	height: 1%;
	overflow: hidden;
	background: url(../images/content-inn.gif)/*tpa=http://www.libertyinteractive.com/images/content-inn.gif*/ repeat-y 100% 0;
	padding: 0 13px 0 11px;
}
.content-inn h2 {
	padding: 5px 0;
	font: bold 11px Tahoma, Arial, Helvetica, sans-serif;
	border-bottom: 1px solid #CCC;
	text-transform: uppercase;
	margin-bottom: 10px;
}
/*left column*/
.left-col {
	width: 430px;
	padding: 36px 0 0;
}
.left-col p {
	padding: 0 0 10px;
}
/*right column*/
.right-col {
	width: 230px;
	padding: 37px 0 0;
}
.right-col h2 {
	padding: 5px 0;
	font: bold 11px Tahoma, Arial, Helvetica, sans-serif;
	border-bottom: 1px solid #CCC;
	text-transform: uppercase;
	margin-bottom: 10px;
}
ul.pdf-list {
	height: 1%;
	overflow: hidden;
	list-style: none;
}
ul.pdf-list li {
	background: url(../images/pdf-ico.gif)/*tpa=http://www.libertyinteractive.com/images/pdf-ico.gif*/ no-repeat 0 2px;
	padding: 0 0 0 27px;
	list-style: none;
}
ul.pdf-list li.arrow {
	background: url(../images/arrow.gif)/*tpa=http://www.libertyinteractive.com/images/arrow.gif*/ no-repeat 0 2px;
	padding: 0 0 0 27px;
	list-style: none;
}
ul.pdf-list a {
	color: #555;
	text-decoration: none;
}
ul.pdf-list a:hover {
	text-decoration: underline;
}
ul.pdf-list-long {
	height: 1%;
	overflow: hidden;
	list-style: none;
}
ul.pdf-list-long li {
	background: url(../images/arrow.gif)/*tpa=http://www.libertyinteractive.com/images/arrow.gif*/ no-repeat 0 2px;
	padding: 0 0 0 27px;
	margin-top: 20px;
	line-height: 15px;
	list-style: none;
}
ul.pdf-list-long a {
	color: #555;
	text-decoration: underline;
}
ul.pdf-list-long a:hover {
	text-decoration: none;
}
/*footer*/
.footer {
	width: 100%;
	padding-bottom: 20px;
	overflow: hidden;
	background: url(../images/footer-line.gif)/*tpa=http://www.libertyinteractive.com/images/footer-line.gif*/ repeat-x;
}
.footer-inn {
	width: 870px;
	padding: 5px 0 0 130px;
	overflow: hidden;
	background: url(../images/footer-inn.gif)/*tpa=http://www.libertyinteractive.com/images/footer-inn.gif*/ repeat-y;
}
.footer ul {
	height: 1%;
	overflow: hidden;
	list-style: none;
}
.footer ul.copy {
	margin-top: 11px;
}
.footer ul li {
	float: left;
	background: url(../images/separator.gif)/*tpa=http://www.libertyinteractive.com/images/separator.gif*/ no-repeat 100% 6px;
	padding: 0 6px 0 5px;
	line-height: 21px;
}
.footer ul li.none {
	background: none;
}
.footer ul a {
	color: #000;
	text-decoration: none;
}
.footer ul a:hover {
	text-decoration: underline;
}
/* interactive page
-------------------*/
.qvc-page .promo {
	background: url(../images/qvc-bg.jpg)/*tpa=http://www.libertyinteractive.com/images/qvc-bg.jpg*/ repeat-y;
	min-height: 5px;
}
* html .qvc-page .promo {
	height: 58px;
}
.qvc-page #page {
	background: url() no-repeat 401px 100%;
}
.qvc-page ul.sidebar-list li a:hover, .qvc-page ul.sidebar-list li.active a {
	background: url(../images/sidebar-c.jpg)/*tpa=http://www.libertyinteractive.com/images/sidebar-c.jpg*/ repeat-y;
}
.qvc-page-hsn ul.sidebar-list li a:hover, .qvc-page-hsn ul.sidebar-list li.active a {
	background: url(../images/sidebar-c.jpg)/*tpa=http://www.libertyinteractive.com/images/sidebar-c.jpg*/ repeat-y;
}
.qvc-page-qvc ul.sidebar-list li a:hover, .qvc-page-qvc ul.sidebar-list li.active a {
	background: url(../images/sidebar-c.jpg)/*tpa=http://www.libertyinteractive.com/images/sidebar-c.jpg*/ repeat-y;
}
.ventures-page-backcountry .promo {
	background: url(../images/ventures-bg.jpg)/*tpa=http://www.libertyinteractive.com/images/ventures-bg.jpg*/ repeat-y;
	min-height: 5px;
}
* html .ventures-page-backcountry .promo {
	height: 58px;
}
.ventures-page-backcountry #page {
	background: url(../images/interactive-backcountry.jpg)/*tpa=http://www.libertyinteractive.com/images/interactive-backcountry.jpg*/ no-repeat 401px;
}
.ventures-page-backcountry ul.sidebar-list li a:hover, .ventures-page-backcountry ul.sidebar-list li.active a {
	background: url(../images/sidebar-b.jpg)/*tpa=http://www.libertyinteractive.com/images/sidebar-b.jpg*/ repeat-y;
}
.ventures-page-bodybuilding .promo {
	background: url(../images/ventures-bg.jpg)/*tpa=http://www.libertyinteractive.com/images/ventures-bg.jpg*/ repeat-y;
	min-height: 5px;
}
* html .ventures-page-bodybuilding .promo {
	height: 58px;
}
.ventures-page-bodybuilding #page {
	background: url(../images/interactive-bodybuilding.jpg)/*tpa=http://www.libertyinteractive.com/images/interactive-bodybuilding.jpg*/ no-repeat 401px;
}
.ventures-page-bodybuilding ul.sidebar-list li a:hover, .ventures-page-bodybuilding ul.sidebar-list li.active a {
	background: url(../images/sidebar-b.jpg)/*tpa=http://www.libertyinteractive.com/images/sidebar-b.jpg*/ repeat-y;
}



.ventures-page-quid .promo {
	background: url(../images/ventures-bg.jpg)/*tpa=http://www.libertyinteractive.com/images/ventures-bg.jpg*/ repeat-y;
	min-height: 5px;
}
* html .ventures-page-quid .promo {
	height: 58px;
}
.ventures-page-quid #page {
	background: url(../images/interactive-quid.jpg)/*tpa=http://www.libertyinteractive.com/images/interactive-quid.jpg*/ no-repeat 401px;
}
.ventures-page-quid ul.sidebar-list li a:hover, .ventures-page-quid ul.sidebar-list li.active a {
	background: url(../images/sidebar-b.jpg)/*tpa=http://www.libertyinteractive.com/images/sidebar-b.jpg*/ repeat-y;
}


.ventures-page-trip .promo {
	background: url(../images/ventures-bg.jpg)/*tpa=http://www.libertyinteractive.com/images/ventures-bg.jpg*/ repeat-y;
	min-height: 5px;
}
* html .ventures-page-trip .promo {
	height: 58px;
}
.ventures-page-trip #page {
	background: url(../images/interactive-trip.jpg)/*tpa=http://www.libertyinteractive.com/images/interactive-trip.jpg*/ no-repeat 401px;
}
.ventures-page-trip ul.sidebar-list li a:hover, .ventures-page-trip ul.sidebar-list li.active a {
	background: url(../images/sidebar-b.jpg)/*tpa=http://www.libertyinteractive.com/images/sidebar-b.jpg*/ repeat-y;
}
.ventures-page-buyseasons .promo {
	background: url(../images/ventures-bg.jpg)/*tpa=http://www.libertyinteractive.com/images/ventures-bg.jpg*/ repeat-y;
	min-height: 5px;
}
* html .ventures-page-buyseasons .promo {
	height: 58px;
}
.ventures-page-buyseasons #page {
	background: url(../images/interactive-buyseasons.jpg)/*tpa=http://www.libertyinteractive.com/images/interactive-buyseasons.jpg*/ no-repeat 401px;
}
.ventures-page-buyseasons ul.sidebar-list li a:hover, .ventures-page-buyseasons ul.sidebar-list li.active a {
	background: url(../images/sidebar-b.jpg)/*tpa=http://www.libertyinteractive.com/images/sidebar-b.jpg*/ repeat-y;
}
.interactive-page-gsi .promo {
	background: url(../images/interactive-bg.jpg)/*tpa=http://www.libertyinteractive.com/images/interactive-bg.jpg*/ repeat-y;
	min-height: 5px;
}
* html .interactive-page-gsi .promo {
	height: 58px;
}
.interactive-page-gsi #page {
	background: url(../images/interactive-gsi.jpg)/*tpa=http://www.libertyinteractive.com/images/interactive-gsi.jpg*/ no-repeat 401px;
}
.interactive-page-hsn .promo {
	background: url(../images/qvc-bg.jpg)/*tpa=http://www.libertyinteractive.com/images/qvc-bg.jpg*/ repeat-y;
	min-height: 5px;
}
* html .interactive-page-hsn .promo {
	height: 58px;
}
.ventures-page-ch #page {
	background: url(../images/interactive-hsn.jpg)/*tpa=http://www.libertyinteractive.com/images/interactive-hsn.jpg*/ no-repeat 401px;
}
.ventures-page-ch .promo {
	background: url(../images/ventures-bg.jpg)/*tpa=http://www.libertyinteractive.com/images/ventures-bg.jpg*/ repeat-y;
	min-height: 5px;
}
* html .ventures-page-ch .promo {
	height: 58px;
}
.ventures-page-ch ul.sidebar-list li a:hover, .ventures-page-ch ul.sidebar-list li.active a {
	background: url(../images/sidebar-b.jpg)/*tpa=http://www.libertyinteractive.com/images/sidebar-b.jpg*/ repeat-y;
}
.ventures-page-ch #page {
	background: url(../images/ch.jpg)/*tpa=http://www.libertyinteractive.com/images/ch.jpg*/ no-repeat 401px;
}
.ventures-page-evite .promo {
	background: url(../images/ventures-bg.jpg)/*tpa=http://www.libertyinteractive.com/images/ventures-bg.jpg*/ repeat-y;
	min-height: 5px;
}
* html .ventures-page-evite .promo {
	height: 58px;
}
.ventures-page-evite #page {
	background: url(../images/evite-background.jpg)/*tpa=http://www.libertyinteractive.com/images/evite-background.jpg*/ no-repeat 401px;
}
.ventures-page-evite ul.sidebar-list li a:hover, .ventures-page-evite ul.sidebar-list li.active a {
	background: url(../images/sidebar-b.jpg)/*tpa=http://www.libertyinteractive.com/images/sidebar-b.jpg*/ repeat-y;
}
.ventures-page-gifts .promo {
	background: url(../images/ventures-bg.jpg)/*tpa=http://www.libertyinteractive.com/images/ventures-bg.jpg*/ repeat-y;
	min-height: 5px;
}
* html .ventures-page-gifts .promo {
	height: 58px;
}
.ventures-page-gifts #page {
	background: url(../images/gifts-background.jpg)/*tpa=http://www.libertyinteractive.com/images/gifts-background.jpg*/ no-repeat 401px;
}
.ventures-page-ftd .promo {
	background: url(../images/ventures-bg.jpg)/*tpa=http://www.libertyinteractive.com/images/ventures-bg.jpg*/ repeat-y;
	min-height: 5px;
}
.ventures-page-ftd ul.sidebar-list li a:hover, .ventures-page-ftd ul.sidebar-list li.active a {
	background: url(../images/sidebar-b.jpg)/*tpa=http://www.libertyinteractive.com/images/sidebar-b.jpg*/ repeat-y;
}
* html .ventures-page-ftd .promo {
	height: 58px;
}
.ventures-page-ftd #page {
	background: url(../images/interactive-ftd.jpg)/*tpa=http://www.libertyinteractive.com/images/interactive-ftd.jpg*/ no-repeat 401px;
}
.qvc-page-qvc .promo {
	background: url(../images/qvc-bg.jpg)/*tpa=http://www.libertyinteractive.com/images/qvc-bg.jpg*/ repeat-y;
	min-height: 5px;
}
* html .qvc-page-qvc .promo {
	height: 58px;
}
.qvc-page-qvc #page {
	background: url(../images/interactive-qvc.jpg)/*tpa=http://www.libertyinteractive.com/images/interactive-qvc.jpg*/ no-repeat 401px;
}

.qvc-page-hsn .promo {
	background: url(../images/qvc-bg.jpg)/*tpa=http://www.libertyinteractive.com/images/qvc-bg.jpg*/ repeat-y;
	min-height: 5px;
}
* html .qvc-page-hns .promo {
	height: 58px;
}
.qvc-page-hsn #page {
	background: url(Unknown_83_filename)/*tpa=http://www.libertyinteractive.com/images/qvc-hsn.jpg*/ no-repeat 401px;
}

.ventures-page-tree .promo {
	background: url(../images/ventures-bg.jpg)/*tpa=http://www.libertyinteractive.com/images/ventures-bg.jpg*/ repeat-y;
	min-height: 5px;
}
* html .ventures-page-tree .promo {
	height: 58px;
}
.ventures-page-tree #page {
	background: url(../images/interactive-tree.jpg)/*tpa=http://www.libertyinteractive.com/images/interactive-tree.jpg*/ no-repeat 401px;
}
.ventures-page-tree ul.sidebar-list li a:hover, .ventures-page-tree ul.sidebar-list li.active a {
	background: url(../images/sidebar-b.jpg)/*tpa=http://www.libertyinteractive.com/images/sidebar-b.jpg*/ repeat-y;
}
.ventures-page-therightstart .promo {
	background: url(../images/ventures-bg.jpg)/*tpa=http://www.libertyinteractive.com/images/ventures-bg.jpg*/ repeat-y;
	min-height: 5px;
}
* html .ventures-page-therightstart .promo {
	height: 58px;
}
.ventures-page-therightstart #page {
	background: url(../images/bg-rightstart.jpg)/*tpa=http://www.libertyinteractive.com/images/bg-rightstart.jpg*/ no-repeat 401px;
}
.ventures-page-therightstart ul.sidebar-list li a:hover, .ventures-page-therightstart ul.sidebar-list li.active a {
	background: url(../images/sidebar-b.jpg)/*tpa=http://www.libertyinteractive.com/images/sidebar-b.jpg*/ repeat-y;
}
.interactive-page-timewarner-cable .promo {
	background: url(../images/interactive-bg.jpg)/*tpa=http://www.libertyinteractive.com/images/interactive-bg.jpg*/ repeat-y;
	min-height: 5px;
}
* html .interactive-page-timewarner-cable .promo {
	height: 58px;
}
.interactive-page-timewarner-cable #page {
	background: url(Unknown_83_filename)/*tpa=http://www.libertyinteractive.com/images/ventures-timewarner-cable.jpg*/ no-repeat 401px;
}
.interactive-page-timewarner .promo {
	background: url(../images/interactive-bg.jpg)/*tpa=http://www.libertyinteractive.com/images/interactive-bg.jpg*/ repeat-y;
	min-height: 5px;
}
* html .interactive-page-timewarner .promo {
	height: 58px;
}
.interactive-page-timewarner #page {
	background: url(Unknown_83_filename)/*tpa=http://www.libertyinteractive.com/images/ventures-timewarner.jpg*/ no-repeat 401px;
}
.inner-box {
	height: 1%;
	background: url(../images/line-v.gif)/*tpa=http://www.libertyinteractive.com/images/line-v.gif*/ repeat-y 252px 32px;
	padding: 0 69px 0 0;
	margin-bottom: 25px;
	margin-top: 20px;
}
.inner-box:after {
	content: " ";
	display: block;
	width: 100%;
	overflow: hidden;
	height: 0;
	clear: both;
}
.text-box {
	width: 440px;
	padding: 0px 0 0;
}
.text-box p {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	padding: 15px 0 10px;
}
.text-box h2 {
	padding: 5px 0;
	font: bold 11px Tahoma, Arial, Helvetica, sans-serif;
	border-bottom: 1px solid #CCC;
	text-transform: uppercase;
}
.text-box h2.basis {
	padding: 10px 0 5px;
	font: bold 14px Tahoma, Arial, Helvetica, sans-serif;
	border-bottom: 1px solid #CCC;
	text-transform: uppercase;
	border-top: 5px solid #CCC;
	margin-top: 20px;
}
.text-box h3 {
	padding: 20px 0 0;
	font: bold 11px Tahoma, Arial, Helvetica, sans-serif;
	margin: 0px;
	text-transform: uppercase;
}
.text-box ul {
	font: 11px Tahoma, Arial, Helvetica, sans-serif;
	padding: 5px 0 0px 10px;
	margin-left: 10px;
	line-height: 25px;
}
.text-box li {
	list-style: square outside;
}
.text-box p a {
	color: #333;
}
.text-box p a:hover {
	text-decoration: none;
}
.sidebar {
	width: 230px;
}
.sidebar p {
	padding: 20px 0 0 20px;
	line-height: 20px;
}
.liberty, .liberty2 {
	margin: -10px 0 0 17px;
	position: relative;
	z-index: 20;
}
.liberty2 {
	margin-left: 9px;
}
ul.sidebar-list {
	height: 1%;
	overflow: hidden;
	list-style: none;
	margin: 10px 0 0;
	border-top: 1px solid #ccc;
}
ul.sidebar-list li {
	border-bottom: 1px solid #ccc;
	height: 1%;
	overflow: hidden;
	line-height: 15px;
	float: left;
}
ul.sidebar-list li a, ul.sidebar-list li strong {
	display: block;
	padding: 6px 0 6px 19px;
	color: #333;
	text-decoration: none;
	float: left;
	width: 211px;
}
ul.sidebar-list li a:hover, ul.sidebar-list li.active a {
	background: url(../images/sidebar-o.jpg)/*tpa=http://www.libertyinteractive.com/images/sidebar-o.jpg*/ repeat-y;
}
.img-box {
	height: 1%;
	overflow: hidden;
	padding: 40px 0 0;
}
.img-box img {
	float: right;
}
/* entertainment page
--------------------- */

.entertainment-page #page {
	background: url() no-repeat 409px 100%;
}
.entertainment-page .promo {
	min-height: 5px;
}
* html .entertainment-page .promo {
	height: 58px;
}
.entertainment-page ul.sidebar-list li a:hover, .entertainment-page ul.sidebar-list li.active a {
	background: url(../images/sidebar-g.jpg)/*tpa=http://www.libertyinteractive.com/images/sidebar-g.jpg*/ repeat-y;
}
.entertainment-page-starz #page {
	background: url(../images/entertainment-starz.jpg)/*tpa=http://www.libertyinteractive.com/images/entertainment-starz.jpg*/ no-repeat 409px 100%;
}
.entertainment-page-starz .promo {
	min-height: 5px;
}
* html .entertainment-page-starz .promo {
	height: 58px;
}
.entertainment-page-starz ul.sidebar-list li a:hover, .entertainment-page-starz ul.sidebar-list li.active a {
	background: url(../images/sidebar-g.jpg)/*tpa=http://www.libertyinteractive.com/images/sidebar-g.jpg*/ repeat-y;
}
.entertainment-page-directv #page {
	background: url(../images/entertainment-directv.jpg)/*tpa=http://www.libertyinteractive.com/images/entertainment-directv.jpg*/ no-repeat 409px 100%;
}
.entertainment-page-directv .promo {
	min-height: 5px;
}
* html .entertainment-page-directv .promo {
	height: 58px;
}
.entertainment-page-directv ul.sidebar-list li a:hover, .entertainment-page-directv ul.sidebar-list li.active a {
	background: url(../images/sidebar-g.jpg)/*tpa=http://www.libertyinteractive.com/images/sidebar-g.jpg*/ repeat-y;
}
.entertainment-page-fun #page {
	background: url(../images/entertainment-fun.jpg)/*tpa=http://www.libertyinteractive.com/images/entertainment-fun.jpg*/ no-repeat 409px 100%;
}
.entertainment-page-fun .promo {
	min-height: 5px;
}
* html .entertainment-page-fun .promo {
	height: 58px;
}
.entertainment-page-fun ul.sidebar-list li a:hover, .entertainment-page-fun ul.sidebar-list li.active a {
	background: url(../images/sidebar-g.jpg)/*tpa=http://www.libertyinteractive.com/images/sidebar-g.jpg*/ repeat-y;
}
.entertainment-page-sports #page {
	background: url(../images/entertainment-sports.jpg)/*tpa=http://www.libertyinteractive.com/images/entertainment-sports.jpg*/ no-repeat 409px 100%;
}
.entertainment-page-sports .promo {
	min-height: 5px;
}
* html .entertainment-page-sports .promo {
	height: 58px;
}
.entertainment-page-sports ul.sidebar-list li a:hover, .entertainment-page-sports ul.sidebar-list li.active a {
	background: url(../images/sidebar-g.jpg)/*tpa=http://www.libertyinteractive.com/images/sidebar-g.jpg*/ repeat-y;
}
.entertainment-page-pickspal #page {
	background: url(../images/entertainment-pickpal.jpg)/*tpa=http://www.libertyinteractive.com/images/entertainment-pickpal.jpg*/ no-repeat 409px 100%;
}
.entertainment-page-pickspal .promo {
	min-height: 5px;
}
* html .entertainment-page-pickspal .promo {
	height: 58px;
}
.entertainment-page-pickspal ul.sidebar-list li a:hover, .entertainment-page-pickspal ul.sidebar-list li.active a {
	background: url(../images/sidebar-g.jpg)/*tpa=http://www.libertyinteractive.com/images/sidebar-g.jpg*/ repeat-y;
}
.entertainment-page-gsn #page {
	background: url(../images/entertainment-gsn.jpg)/*tpa=http://www.libertyinteractive.com/images/entertainment-gsn.jpg*/ no-repeat 409px 100%;
}
.entertainment-page-gsn .promo {
	min-height: 5px;
}
* html .entertainment-page-gsn .promo {
	height: 58px;
}
.entertainment-page-gsn ul.sidebar-list li a:hover, .entertainment-page-gsn ul.sidebar-list li.active a {
	background: url(../images/sidebar-g.jpg)/*tpa=http://www.libertyinteractive.com/images/sidebar-g.jpg*/ repeat-y;
}
.entertainment-page-vsat #page {
	background: url(Unknown_83_filename)/*tpa=http://www.libertyinteractive.com/images/ventures-vsat.jpg*/ no-repeat 409px 100%;
}
.entertainment-page-vsat .promo {
	min-height: 5px;
}
* html .entertainment-page-vsat .promo {
	height: 58px;
}
.entertainment-page-vsat ul.sidebar-list li a:hover, .entertainment-page-vsat ul.sidebar-list li.active a {
	background: url(../images/sidebar-g.jpg)/*tpa=http://www.libertyinteractive.com/images/sidebar-g.jpg*/ repeat-y;
}
/* ventures page
--------------------- */

.ventures-page #page {
	background: url(Unknown_83_filename)/*tpa=http://www.libertyinteractive.com/images/ventures-img.jpg*/ no-repeat 409px 100%;
}
.ventures-page .promo {
	min-height: 5px;
}
* html .ventures-page .promo {
	height: 58px;
}
.ventures-page ul.sidebar-list li a:hover, .ventures-page ul.sidebar-list li.active a {
	background: url(../images/sidebar-b.jpg)/*tpa=http://www.libertyinteractive.com/images/sidebar-b.jpg*/ repeat-y;
}
.ventures-page .promo {
	background: url(../images/ventures-bg.jpg)/*tpa=http://www.libertyinteractive.com/images/ventures-bg.jpg*/ repeat-y;
	min-height: 5px;
}
.ventures-page-interval #page {
	background: url(../images/interactive-interval.jpg)/*tpa=http://www.libertyinteractive.com/images/interactive-interval.jpg*/ no-repeat 409px 0px;
}
.ventures-page-interval .promo {
	min-height: 5px;
}
* html .ventures-page-interval .promo {
	height: 58px;
}
.ventures-page-interval ul.sidebar-list li a:hover, .ventures-page-interval ul.sidebar-list li.active a {
	background: url(../images/sidebar-b.jpg)/*tpa=http://www.libertyinteractive.com/images/sidebar-b.jpg*/ repeat-y;
}
.ventures-page-interval .promo {
	background: url(../images/ventures-bg.jpg)/*tpa=http://www.libertyinteractive.com/images/ventures-bg.jpg*/ repeat-y;
	min-height: 5px;
}
.ventures-page-current #page {
	background: url(Unknown_83_filename)/*tpa=http://www.libertyinteractive.com/images/ventures-current.jpg*/ no-repeat 409px 0px;
}
.ventures-page-current .promo {
	min-height: 5px;
}
* html .ventures-page-current .promo {
	height: 58px;
}
.ventures-page-expedia #page {
	background: url(../images/interactive-expedia.jpg)/*tpa=http://www.libertyinteractive.com/images/interactive-expedia.jpg*/ no-repeat 409px 0px;
}
.ventures-page-expedia .promo {
	min-height: 5px;
}
* html .ventures-page-expida .promo {
	height: 58px;
}
.ventures-page-expedia ul.sidebar-list li a:hover, .ventures-page-expedia ul.sidebar-list li.active a {
	background: url(../images/sidebar-b.jpg)/*tpa=http://www.libertyinteractive.com/images/sidebar-b.jpg*/ repeat-y;
}
.ventures-page-expedia .promo {
	background: url(../images/ventures-bg.jpg)/*tpa=http://www.libertyinteractive.com/images/ventures-bg.jpg*/ repeat-y;
	min-height: 5px;
}
.ventures-page-current ul.sidebar-list li a:hover, .ventures-page-current ul.sidebar-list li.active a {
	background: url(../images/sidebar-b.jpg)/*tpa=http://www.libertyinteractive.com/images/sidebar-b.jpg*/ repeat-y;
}
.ventures-page-current .promo {
	background: url(../images/ventures-bg.jpg)/*tpa=http://www.libertyinteractive.com/images/ventures-bg.jpg*/ repeat-y;
	min-height: 5px;
}
.ventures-page-embarq #page {
	background: url(Unknown_83_filename)/*tpa=http://www.libertyinteractive.com/images/ventures-embarq.jpg*/ no-repeat 409px 0px;
}
.ventures-page-embarq .promo {
	min-height: 5px;
}
* html .ventures-page-embarq .promo {
	height: 58px;
}
.ventures-page-embarq ul.sidebar-list li a:hover, .ventures-page-embarq ul.sidebar-list li.active a {
	background: url(../images/sidebar-b.jpg)/*tpa=http://www.libertyinteractive.com/images/sidebar-b.jpg*/ repeat-y;
}
.ventures-page-embarq .promo {
	background: url(../images/ventures-bg.jpg)/*tpa=http://www.libertyinteractive.com/images/ventures-bg.jpg*/ repeat-y;
	min-height: 5px;
}
.ventures-page-hallmark #page {
	background: url(Unknown_83_filename)/*tpa=http://www.libertyinteractive.com/images/ventures-hallmark.jpg*/ no-repeat 409px 0px;
}
.ventures-page-hallmark .promo {
	min-height: 5px;
}
* html .ventures-page-hallmark .promo {
	height: 58px;
}
.ventures-page-hallmark ul.sidebar-list li a:hover, .ventures-page-hallmark ul.sidebar-list li.active a {
	background: url(../images/sidebar-b.jpg)/*tpa=http://www.libertyinteractive.com/images/sidebar-b.jpg*/ repeat-y;
}
.ventures-page-hallmark .promo {
	background: url(../images/ventures-bg.jpg)/*tpa=http://www.libertyinteractive.com/images/ventures-bg.jpg*/ repeat-y;
	min-height: 5px;
}
.ventures-page-jingle #page {
	background: url(Unknown_83_filename)/*tpa=http://www.libertyinteractive.com/images/ventures-jingle.jpg*/ no-repeat 409px 0px;
}
.ventures-page-jingle .promo {
	min-height: 5px;
}
* html .ventures-page-jingle .promo {
	height: 58px;
}
.ventures-page-jingle ul.sidebar-list li a:hover, .ventures-page-jingle ul.sidebar-list li.active a {
	background: url(../images/sidebar-b.jpg)/*tpa=http://www.libertyinteractive.com/images/sidebar-b.jpg*/ repeat-y;
}
.ventures-page-jingle .promo {
	background: url(../images/ventures-bg.jpg)/*tpa=http://www.libertyinteractive.com/images/ventures-bg.jpg*/ repeat-y;
	min-height: 5px;
}
.ventures-page-kroenke #page {
	background: url(Unknown_83_filename)/*tpa=http://www.libertyinteractive.com/images/ventures-kroenke.jpg*/ no-repeat 409px 0px;
}
.ventures-page-kroenke .promo {
	min-height: 5px;
}
* html .ventures-page-kroenke .promo {
	height: 58px;
}
.ventures-page-kroenke ul.sidebar-list li a:hover, .ventures-page-kroenke ul.sidebar-list li.active a {
	background: url(../images/sidebar-b.jpg)/*tpa=http://www.libertyinteractive.com/images/sidebar-b.jpg*/ repeat-y;
}
.ventures-page-kroenke .promo {
	background: url(../images/ventures-bg.jpg)/*tpa=http://www.libertyinteractive.com/images/ventures-bg.jpg*/ repeat-y;
	min-height: 5px;
}
.ventures-page-leisure #page {
	background: url(Unknown_83_filename)/*tpa=http://www.libertyinteractive.com/images/ventures-leisure.jpg*/ no-repeat 409px 0px;
}
.ventures-page-leisure .promo {
	min-height: 5px;
}
* html .ventures-page-leisure .promo {
	height: 58px;
}
.ventures-page-leisure ul.sidebar-list li a:hover, .ventures-page-leisure ul.sidebar-list li.active a {
	background: url(../images/sidebar-b.jpg)/*tpa=http://www.libertyinteractive.com/images/sidebar-b.jpg*/ repeat-y;
}
.ventures-page-leisure .promo {
	background: url(../images/ventures-bg.jpg)/*tpa=http://www.libertyinteractive.com/images/ventures-bg.jpg*/ repeat-y;
	min-height: 5px;
}
.ventures-page-timewarner-cable #page {
	background: url(../images/capital-timewarner-cable.jpg)/*tpa=http://www.libertyinteractive.com/images/capital-timewarner-cable.jpg*/ no-repeat 409px 0px;
}
.ventures-page-timewarner-cable .promo {
	min-height: 5px;
}
.ventures-page-timewarner-cable ul.sidebar-list li a:hover, .ventures-page-timewarner-cable ul.sidebar-list li.active a {
	background: url(../images/sidebar-b.jpg)/*tpa=http://www.libertyinteractive.com/images/sidebar-b.jpg*/ repeat-y;
}
.ventures-page-timewarner-cable .promo {
	background: url(../images/ventures-bg.jpg)/*tpa=http://www.libertyinteractive.com/images/ventures-bg.jpg*/ repeat-y;
	min-height: 5px;
}
.ventures-page-macneil #page {
	background: url(Unknown_83_filename)/*tpa=http://www.libertyinteractive.com/images/ventures-macneil.jpg*/ no-repeat 409px 0px;
}
.ventures-page-macneil .promo {
	min-height: 5px;
}
* html .ventures-page-macneil .promo {
	height: 58px;
}
.ventures-page-macneil ul.sidebar-list li a:hover, .ventures-page-macneil ul.sidebar-list li.active a {
	background: url(../images/sidebar-b.jpg)/*tpa=http://www.libertyinteractive.com/images/sidebar-b.jpg*/ repeat-y;
}
.ventures-page-macneil .promo {
	background: url(../images/ventures-bg.jpg)/*tpa=http://www.libertyinteractive.com/images/ventures-bg.jpg*/ repeat-y;
	min-height: 5px;
}
.ventures-page-motorola #page {
	background: url(Unknown_83_filename)/*tpa=http://www.libertyinteractive.com/images/ventures-motorola.jpg*/ no-repeat 409px 0px;
}
.ventures-page-motorola .promo {
	min-height: 5px;
}
* html .ventures-page-motorola .promo {
	height: 58px;
}
.ventures-page-motorola ul.sidebar-list li a:hover, .ventures-page-motorola ul.sidebar-list li.active a {
	background: url(../images/sidebar-b.jpg)/*tpa=http://www.libertyinteractive.com/images/sidebar-b.jpg*/ repeat-y;
}
.ventures-page-motorola .promo {
	background: url(../images/ventures-bg.jpg)/*tpa=http://www.libertyinteractive.com/images/ventures-bg.jpg*/ repeat-y;
	min-height: 5px;
}
.ventures-page-overture #page {
	background: url(Unknown_83_filename)/*tpa=http://www.libertyinteractive.com/images/ventures-overture.jpg*/ no-repeat 409px 0px;
}
.ventures-page-overture .promo {
	min-height: 5px;
}
* html .ventures-page-overture .promo {
	height: 58px;
}
.ventures-page-overture ul.sidebar-list li a:hover, .ventures-page-overture ul.sidebar-list li.active a {
	background: url(../images/sidebar-b.jpg)/*tpa=http://www.libertyinteractive.com/images/sidebar-b.jpg*/ repeat-y;
}
.ventures-page-overture .promo {
	background: url(../images/ventures-bg.jpg)/*tpa=http://www.libertyinteractive.com/images/ventures-bg.jpg*/ repeat-y;
	min-height: 5px;
}
.ventures-page-priceline #page {
	background: url(Unknown_83_filename)/*tpa=http://www.libertyinteractive.com/images/ventures-priceline.jpg*/ no-repeat 409px 0px;
}
.ventures-page-priceline .promo {
	min-height: 5px;
}
* html .ventures-page-priceline .promo {
	height: 58px;
}
.ventures-page-priceline ul.sidebar-list li a:hover, .ventures-page-priceline ul.sidebar-list li.active a {
	background: url(../images/sidebar-b.jpg)/*tpa=http://www.libertyinteractive.com/images/sidebar-b.jpg*/ repeat-y;
}
.ventures-page-priceline .promo {
	background: url(../images/ventures-bg.jpg)/*tpa=http://www.libertyinteractive.com/images/ventures-bg.jpg*/ repeat-y;
	min-height: 5px;
}
.ventures-page-sprint #page {
	background: url(Unknown_83_filename)/*tpa=http://www.libertyinteractive.com/images/ventures-sprint.jpg*/ no-repeat 409px 0px;
}
.ventures-page-sprint .promo {
	min-height: 5px;
}
* html .ventures-page-sprint .promo {
	height: 58px;
}
.ventures-page-sprint ul.sidebar-list li a:hover, .ventures-page-sprint ul.sidebar-list li.active a {
	background: url(../images/sidebar-b.jpg)/*tpa=http://www.libertyinteractive.com/images/sidebar-b.jpg*/ repeat-y;
}
.ventures-page-sprint .promo {
	background: url(../images/ventures-bg.jpg)/*tpa=http://www.libertyinteractive.com/images/ventures-bg.jpg*/ repeat-y;
	min-height: 5px;
}
.ventures-page-starz #page {
	background: url(Unknown_83_filename)/*tpa=http://www.libertyinteractive.com/images/ventures-starz.jpg*/ no-repeat 409px 0px;
}
.ventures-page-starz .promo {
	min-height: 5px;
}
* html .ventures-page-starz .promo {
	height: 58px;
}
.ventures-page-starz ul.sidebar-list li a:hover, .ventures-page-starz ul.sidebar-list li.active a {
	background: url(../images/sidebar-b.jpg)/*tpa=http://www.libertyinteractive.com/images/sidebar-b.jpg*/ repeat-y;
}
.ventures-page-starz .promo {
	background: url(../images/ventures-bg.jpg)/*tpa=http://www.libertyinteractive.com/images/ventures-bg.jpg*/ repeat-y;
	min-height: 5px;
}
.ventures-page-timeinc #page {
	background: url(../images/asset-timeinc.jpg)/*tpa=http://www.libertyinteractive.com/images/asset-timeinc.jpg*/ no-repeat 409px 0px;
}
.ventures-page-timeinc .promo {
	min-height: 5px;
}
* html .ventures-page-timeinc .promo {
	height: 58px;
}
.ventures-page-timeinc ul.sidebar-list li a:hover, .ventures-page-timeinc ul.sidebar-list li.active a {
	background: url(../images/sidebar-b.jpg)/*tpa=http://www.libertyinteractive.com/images/sidebar-b.jpg*/ repeat-y;
}
.ventures-page-timeinc .promo {
	background: url(../images/ventures-bg.jpg)/*tpa=http://www.libertyinteractive.com/images/ventures-bg.jpg*/ repeat-y;
	min-height: 5px;
}
.ventures-page-timewarner #page {
	background: url(../images/capital-timewarner.jpg)/*tpa=http://www.libertyinteractive.com/images/capital-timewarner.jpg*/ no-repeat 409px 0px;
}
.ventures-page-timewarner .promo {
	min-height: 5px;
}
* html .ventures-page-timewarner .promo {
	height: 58px;
}
.ventures-page-timewarner ul.sidebar-list li a:hover, .ventures-page-timewarner ul.sidebar-list li.active a {
	background: url(../images/sidebar-b.jpg)/*tpa=http://www.libertyinteractive.com/images/sidebar-b.jpg*/ repeat-y;
}
.ventures-page-timewarner .promo {
	background: url(../images/ventures-bg.jpg)/*tpa=http://www.libertyinteractive.com/images/ventures-bg.jpg*/ repeat-y;
	min-height: 5px;
}
.ventures-page-trueposition #page {
	background: url(Unknown_83_filename)/*tpa=http://www.libertyinteractive.com/images/ventures-trueposition.jpg*/ no-repeat 409px 0px;
}
.ventures-page-trueposition .promo {
	min-height: 5px;
}
* html .ventures-page-trueposition .promo {
	height: 58px;
}
.ventures-page-trueposition ul.sidebar-list li a:hover, .ventures-page-trueposition ul.sidebar-list li.active a {
	background: url(../images/sidebar-b.jpg)/*tpa=http://www.libertyinteractive.com/images/sidebar-b.jpg*/ repeat-y;
}
.ventures-page-trueposition .promo {
	background: url(../images/ventures-bg.jpg)/*tpa=http://www.libertyinteractive.com/images/ventures-bg.jpg*/ repeat-y;
	min-height: 5px;
}
.ventures-page-viacom #page {
	background: url(Unknown_83_filename)/*tpa=http://www.libertyinteractive.com/images/ventures-viacom.jpg*/ no-repeat 409px 0px;
}
.ventures-page-viacom .promo {
	min-height: 5px;
}
* html .ventures-page-viacom .promo {
	height: 58px;
}
.ventures-page-viacom ul.sidebar-list li a:hover, .ventures-page-viacom ul.sidebar-list li.active a {
	background: url(../images/sidebar-b.jpg)/*tpa=http://www.libertyinteractive.com/images/sidebar-b.jpg*/ repeat-y;
}
.ventures-page-viacom .promo {
	background: url(../images/ventures-bg.jpg)/*tpa=http://www.libertyinteractive.com/images/ventures-bg.jpg*/ repeat-y;
	min-height: 5px;
}
.ventures-page-aol #page {
	background: url(../images/capital-aol.jpg)/*tpa=http://www.libertyinteractive.com/images/capital-aol.jpg*/ no-repeat 409px 0px;
}
.ventures-page-aol .promo {
	min-height: 5px;
}
* html .ventures-page-aol .promo {
	height: 58px;
}
.ventures-page-aol ul.sidebar-list li a:hover, .ventures-page-aol ul.sidebar-list li.active a {
	background: url(../images/sidebar-b.jpg)/*tpa=http://www.libertyinteractive.com/images/sidebar-b.jpg*/ repeat-y;
}
.ventures-page-aol .promo {
	background: url(../images/ventures-bg.jpg)/*tpa=http://www.libertyinteractive.com/images/ventures-bg.jpg*/ repeat-y;
	min-height: 5px;
}
.ventures-page-vsat #page {
	background: url(Unknown_83_filename)/*tpa=http://www.libertyinteractive.com/images/ventures-vsat.jpg*/ no-repeat 409px 0px;
}
.ventures-page-vsat .promo {
	min-height: 5px;
}
* html .ventures-page-vsat .promo {
	height: 58px;
}
.ventures-page-vsat ul.sidebar-list li a:hover, .ventures-page-vsat ul.sidebar-list li.active a {
	background: url(../images/sidebar-b.jpg)/*tpa=http://www.libertyinteractive.com/images/sidebar-b.jpg*/ repeat-y;
}
.ventures-page-vsat .promo {
	background: url(../images/ventures-bg.jpg)/*tpa=http://www.libertyinteractive.com/images/ventures-bg.jpg*/ repeat-y;
	min-height: 5px;
}
.ventures-page-WFRV #page {
	background: url(Unknown_83_filename)/*tpa=http://www.libertyinteractive.com/images/ventures-WFRV.jpg*/ no-repeat 409px 0px;
}
.ventures-page-WFRV .promo {
	min-height: 5px;
}
* html .ventures-page-WFRV .promo {
	height: 58px;
}
.ventures-page-WFRV ul.sidebar-list li a:hover, .ventures-page-WFRV ul.sidebar-list li.active a {
	background: url(../images/sidebar-b.jpg)/*tpa=http://www.libertyinteractive.com/images/sidebar-b.jpg*/ repeat-y;
}
.ventures-page-WFRV .promo {
	background: url(../images/ventures-bg.jpg)/*tpa=http://www.libertyinteractive.com/images/ventures-bg.jpg*/ repeat-y;
	min-height: 5px;
}
.ventures-page-zoombak #page {
	background: url(Unknown_83_filename)/*tpa=http://www.libertyinteractive.com/images/ventures-zoombak.jpg*/ no-repeat 409px 0px;
}
.ventures-page-zoombak .promo {
	min-height: 5px;
}
* html .ventures-page-zoombak .promo {
	height: 58px;
}
.ventures-page-zoombak ul.sidebar-list li a:hover, .ventures-page-zoombak ul.sidebar-list li.active a {
	background: url(../images/sidebar-b.jpg)/*tpa=http://www.libertyinteractive.com/images/sidebar-b.jpg*/ repeat-y;
}
.ventures-page-zoombak .promo {
	background: url(../images/ventures-bg.jpg)/*tpa=http://www.libertyinteractive.com/images/ventures-bg.jpg*/ repeat-y;
	min-height: 5px;
}
.ventures-page-mobile #page {
	background: url(Unknown_83_filename)/*tpa=http://www.libertyinteractive.com/images/ventures-mobile.jpg*/ no-repeat 409px 0px;
}
.ventures-page-mobile .promo {
	min-height: 5px;
}
* html .ventures-page-mobile .promo {
	height: 58px;
}
.ventures-page-mobile ul.sidebar-list li a:hover, .ventures-page-mobile ul.sidebar-list li.active a {
	background: url(../images/sidebar-b.jpg)/*tpa=http://www.libertyinteractive.com/images/sidebar-b.jpg*/ repeat-y;
}
.ventures-page-mobile .promo {
	background: url(../images/ventures-bg.jpg)/*tpa=http://www.libertyinteractive.com/images/ventures-bg.jpg*/ repeat-y;
	min-height: 5px;
}
.ventures-page-siriusxm #page {
	background: url(Unknown_83_filename)/*tpa=http://www.libertyinteractive.com/images/ventures-siriusxm.jpg*/ no-repeat 409px 0px;
}
.ventures-page-siriusxm .promo {
	min-height: 5px;
}
* html .ventures-page-siriusxm .promo {
	height: 58px;
}
.ventures-page-siriusxm ul.sidebar-list li a:hover, .ventures-page-siriusxm ul.sidebar-list li.active a {
	background: url(../images/sidebar-b.jpg)/*tpa=http://www.libertyinteractive.com/images/sidebar-b.jpg*/ repeat-y;
}
.ventures-page-siriusxm .promo {
	background: url(../images/ventures-bg.jpg)/*tpa=http://www.libertyinteractive.com/images/ventures-bg.jpg*/ repeat-y;
	min-height: 5px;
}
/* corporate page
--------------------- */

.corporate-page .promo {
	min-height: 14px;
	background: #007b42 url(../images/corporate-promo.jpg)/*tpa=http://www.libertyinteractive.com/images/corporate-promo.jpg*/ repeat-y;
	font-size: 0px;
}
* html .corporate-page .promo {
	height: 14px;
}
*+html .corporate-page .promo {
	height: 14px;
}
.corporate-page .content {
	padding-top: 10px;
}
.corporate-page ul.sidebar-list li a:hover, .corporate-page ul.sidebar-list li.active a {
	background: url(../images/sidebar-o.jpg)/*tpa=http://www.libertyinteractive.com/images/sidebar-o.jpg*/ repeat-y;
}
.corporate-page ul.sidebar-list {
	margin-top: 33px;
}
.corporate-page .text-box p {
	padding-top: 0;
}
/* analyst table
--------------------- */

.analysts {
	width: 100%;
	border-collapse: collapse;
}
.analysts td {
	border-bottom: 1px solid #CBC1A8;
	padding: 5px;
	vertical-align: top;
	white-space: nowrap;
}
.analysts td a {
	color: #000;
}
.analysts td.symbol, .analysts td.last {
	white-space: nowrap;
}
.analysts td.name {
	background: none;
	text-align: center;
}
.analysts td.last {
	background: none;
}
.analysts tr.color-line {
	background-color: #eeeeee;
}
/* stockbasis table
--------------------- */

.stockbasis {
	width: 430px;
	border-collapse: collapse;
}
.stockbasis td {
	border-bottom: 1px solid #CBC1A8;
	background: url(../images/dotted.gif)/*tpa=http://www.libertyinteractive.com/images/dotted.gif*/ repeat-y 100% 0;
	padding: 3px;
	vertical-align: top;
}
.stockbasis th {
	border-bottom: 1px solid #CBC1A8;
	background: url(../images/dotted.gif)/*tpa=http://www.libertyinteractive.com/images/dotted.gif*/ repeat-y 100% 0;
	padding: 3px;
	vertical-align: top;
	font-weight: bold;
	white-space: nowrap;
	text-align: left;
}
.stockbasis td.last {
	background: none;
}
.stockbasis tr.color-line {
	background-color: #eeeeee;
}
/* asset table
--------------------- */

.asset {
	width: 100%;
	border-collapse: collapse;
}
.asset td {
	border-bottom: 1px solid #CBC1A8;
	background: url(../images/dotted.gif)/*tpa=http://www.libertyinteractive.com/images/dotted.gif*/ repeat-y 100% 0;
	padding: 10px;
	vertical-align: top;
}
.asset th {
	border-bottom: 1px solid #CBC1A8;
	background: url(../images/dotted.gif)/*tpa=http://www.libertyinteractive.com/images/dotted.gif*/ repeat-y 100% 0;
	padding: 10px;
	vertical-align: top;
	font-weight: bold;
	text-align: left;
}
.asset td.last {
	background: none;
}
.asset tr.color-line {
	background-color: #eeeeee;
}
/* news table
--------------------- */

.news {
	width: 100%;
	border-collapse: collapse;
}
.news td {
	border-bottom: 1px solid #CBC1A8;
	background: url(../images/dotted.gif)/*tpa=http://www.libertyinteractive.com/images/dotted.gif*/ repeat-y 100% 0;
	padding: 5px;
	vertical-align: top;
	line-height: 15px;
}
.news th {
	border-bottom: 1px solid #CBC1A8;
	background: url(../images/dotted.gif)/*tpa=http://www.libertyinteractive.com/images/dotted.gif*/ repeat-y 100% 0;
	padding: 10px;
	vertical-align: top;
	font-weight: bold;
	text-align: left;
}
.news td.last {
	background: none;
}
.news tr.color-line {
	background-color: #eeeeee;
}
.news a {
	text-decoration: underline;
	color: #666;
}
.news a:hover {
	text-decoration: none;
	color: #666;
}
/* stock table
--------------------- */

.stock {
	width: 100%;
	border-collapse: collapse;
}
.stock td {
	border-bottom: 1px solid #CBC1A8;
	background: url(../images/dotted.gif)/*tpa=http://www.libertyinteractive.com/images/dotted.gif*/ repeat-y 100% 0;
	padding: 5px;
	vertical-align: top;
	line-height: 15px;
}
.stock th {
	border-bottom: 1px solid #CBC1A8;
	background: url(../images/dotted.gif)/*tpa=http://www.libertyinteractive.com/images/dotted.gif*/ repeat-y 100% 0;
	padding: 5px;
	vertical-align: top;
	font-weight: bold;
	text-align: left;
}
.stock td.last {
	background: none;
}
.stock tr.color-line {
	background-color: #eeeeee;
}
/* sec table
--------------------- */

.sec {
	width: 100%;
	border-collapse: collapse;
}
.sec td {
	border-bottom: 1px solid #CBC1A8;
	background: url(../images/dotted.gif)/*tpa=http://www.libertyinteractive.com/images/dotted.gif*/ repeat-y 100% 0;
	padding: 5px;
	vertical-align: top;
	line-height: 15px;
}
.sec th {
	border-bottom: 1px solid #CBC1A8;
	background: url(../images/dotted.gif)/*tpa=http://www.libertyinteractive.com/images/dotted.gif*/ repeat-y 100% 0;
	padding: 5px;
	vertical-align: top;
	font-weight: bold;
	text-align: left;
}
.sec td.last {
	background: none;
}
.sec tr.color-line {
	background-color: #eeeeee;
}
/* contact form
-----------------*/
.contact-type {
	background: #958351;
	color: #fff;
	padding: 0 18px 0 24px;
	width: 498px;
	overflow: hidden;
	margin: 16px 0 0;
}
.contact-type p {
	padding: 0;
	font: bold 11px/29px Arial, Helvetica, sans-serif;
}
.contact-form {
	width: 420px;
	padding: 18px 18px 10px 0;
	overflow: hidden;
	background: #f3f3f3;
	border-top: 1px solid #fff;
	margin-top: 10px;
}
.contact-form div {
	width: 100%;
	overflow: hidden;
	padding: 0 0 11px;
}
.contact-form label {
	float: left;
	width: 95px;
	text-align: right;
	padding: 0 9px 0 0;
	line-height: 19px;
}
.contact-form label.mi, .contact-form label.last, .contact-form label.code {
	width: auto;
	padding: 0 8px;
}
.contact-form label.code {
	padding-left: 11px;
}
.contact-form label.last {
	padding-left: 15px;
}
.contact-form label span {
	color: #B00027;
}
.contact-form input.text, .ranking-form input.text {
	float: left;
	width: 120px;
	padding: 0 2px;
	border: solid #C3C3C3;
	border-width: 0 1px 1px;
	border-top: 1px solid #7C7C7C;
}
.contact-form input.text.short {
	width: 18px;
}
.contact-form input.text.medium {
	width: 105px;
}
.contact-form input.text.long {
	width: 300px;
}
.contact-form input.text.comment {
	width: 300px;
	height: 75px
}
.contact-form select {
	width: 168px;
	float: left;
	font-size: 11px;
}
.contact-form p {
	padding: 0 0 0 104px;
}
.contact-form div.contact-info {
	padding: 0 0 11px 104px;
	width: 418px;
}
.contact-form input.check {
	float: left;
	padding: 0;
	margin: 3px 0 0;
}
.red-button {
	font: bold 11px/13px Arial, Helvetica, sans-serif;
	color: #000;
	text-decoration: none !important;
	border: 1px solid #666;
	padding: 0 5px;
	background: #eee url(Unknown_83_filename)/*tpa=http://www.libertyinteractive.com/images/go-btn.gif*/ no-repeat 98% 1px !important;
	text-transform: uppercase;
	margin: 10px;
}
.primary-content .print {
	text-align: right;
}
.primary-content .print a {
	color: #969696;
	background: url(../images/print.png)/*tpa=http://www.libertyinteractive.com/images/print.png*/ no-repeat;
	padding-left: 22px;
	font-size: 11px;
}
.primary-content .previous {
	display: none;
}
