v/* IE hacks ----------------------------------------------------------------------- */
#wrapPadding						{ padding-bottom: 14px; }
/*#progress                           { height: 30px; }*/
#support .crossSells p 				{ padding: 5px 0 0 0; }
#cart #main							{ width: 540px; }

#main								{ margin-bottom:5px; }
ul#payMethods li.cc					{ padding-bottom: 15px; }
ul#payMethods dd					{ width: 459px; margin: 0; padding-left: 30px; }
ul#payMethods dd p					{ width: 229px; }
ul#payMethods dd span.tooltip		{ display: none; }

.availShip label					{ padding: 0; }

#support .summary					{ background-color: #F8FAF5; }


/* IE6 specific hacks ------------------------------------------------------------- */

* html button.sendOrder				{ position: relative; }

/* IE7 specific hacks ------------------------------------------------------------- */

*:first-child+html #content			{ clear: none; }

.content .returns .main {text-align:left;}
.content .returns {text-align:center;}
span.fieldError {float:left; border:1px solid #F10000;}

.content .returns .main div.bottom-btns ul li.con-shop-right {float:right;margin-right:-30px;}
.ie15{margin-left:15px;}
.ieLeft15{margin-left:15px;}
.ieRight0{margin-right:0px !important;}
.ieMinustop10 {margin-top:-10px !important;}
.ieRight15{margin-right:15px;}

/* IE7 Checkout Review Page ------------------------------------------------------------- */
#review #proceed_top span.CCauthorizedTop {width: 375px}

#receipt #createUserButton {width: 154px; margin-right: 0}

.breadcrumb {margin-left:-5px !important;}

#Product-InnerContainer .productImages_container{margin-top:0px !important;}
.giftMessaging{	padding-left:20px;}
#AddagiftboxSpan{padding-left:25px;}

#grid-nav-top { height:23px; border: red 0px solid; }
.grid-nav-links .current-page { width: 18px; margin-top: 1px; }
.grid-nav-limit .cmfilter { float: none; }
#dlbox-cms{position:relative;}
#dlbox-cms img {
	margin: 0 auto;
	width: auto;
	left: 50%;
	margin-left: -700px;
	position: relative;
}

#JCwrapFTW {position:relative;}

input.search-field {
    height: 22px;
    padding: 7px 0 0 10px;
}

form#topnav_search #divSbox div#magSearch {position:absolute; display:block; margin-left:-6px; width:30px;height:30px;background: url("../images/search.gif")/*tpa=http://www.ralphlauren.com/images/search.gif*/ no-repeat scroll 7px 10px transparent; }

/* Pink Pony Online Donations */
/*div.donations {margin-top:10px !important;}*/
div.donations div.donationAddToBag {margin-right:-5px margin-top: -7px; !important;}
div.donations div.donationCart div.donationRadioOther input.donationSelection {vertical-align: middle; margin-top: -1px;}
div.donations div.donationCart div.donationRadioOther input.text {width:100px; margin-top: -1px; vertical-align: bottom;}
div.donationAddToBag {
    background: url("../images/mvc/rl_US_btn_Add2Bag.gif")/*tpa=http://www.ralphlauren.com/images/mvc/rl_US_btn_Add2Bag.gif*/ no-repeat scroll 0 0 transparent;
    height: 26px;
    width: 159px;
}
div.donationAddToBag:hover {
    background-position: 0 -29px;
}

div.share-icons-poloColors ul {padding-left:45px;}
div.share-icons-poloCustomFont ul {padding-left:50px;padding-bottom:12px;padding-top:1px;}
div.share-icons-poloOlympic ul {padding-left:41px;padding-bottom:15px;padding-top:2px;}
div.share-icons-poloCustomEmblem ul {padding-left:37px; margin-top:-2px;padding-bottom:25px;}
div.share-icons-poloBedCollection ul {padding-left:22px;padding-bottom:0px;padding-top:0px;}
div.share-icons-poloHomeCustom2 ul {padding-left:43px;padding-bottom:23px;padding-top:5px;}
div.share-icons-poloSolidHome ul {padding-left:42px;padding-bottom:23px;padding-top:0px;}
div.share-icons-poloGiftcard ul {padding-left:45px;padding-bottom:20px;padding-top:4px;}
div.share-icons-poloCustomColor2 ul {padding-left:48px;padding-bottom:22px;}

ul#tabs-need-help {top: 17px !important;}
div#hd_conOut .intro {width:90%;padding-top:15px;}
div#hd_contactUs .form {padding-top:10px;}



#SR_CartLine3 {
    width: 224px !important;
}


table tr td div#imageDiv img{position:absolute; top: 0px;}
table tr td div#imageDiv #altvideo {position:absolute; margin-top:0px;}
.BML_SOC_newImg_parents { float: left; overflow: hidden; height: 162px; }

#cart #proceed{height:auto;overflow:hidden;}
ol.products {
	padding: 4px 0 0 0;
}

#paymentMethodsToggle span a.tooltip { padding-left: 3px; /*width: 63px;*/ margin-bottom: 2px; }
form#paymentForm div#wallet a.delete.css-button { margin-top: 0px; }

/* Denim and Supply */
.dNsHeader .dNsSubHeadUl {top:56px;right: -30px;}
.dNsHeader ul.dNsSubHeadUl ul{top:32px; left:-34px;}
.dNsHeader ul.dNsSubHeadUl li a.dNsSubLink{line-height:30px;}
.ie8Version .dNsHeader .dNsSubHeadUl, .ie9Version .dNsHeader .dNsSubHeadUl {top:66px; right: -50px;}
#dark-side #JCwrapFTW #Product-HelpText span{width:190px;}
#dark-side #JCwrapFTW #Product-HelpText span span{display:inline-block;padding-bottom:0px;width:auto !important;}
#dark-side .dNsSubWomen li a.dNsSubLink{padding-left:21px; padding-right:21px;}
#dark-side .dNsHeader .dNsSubHeadUl li li a{padding-top:14px;}
.dNsHeader ul.dNsSubHeadUl li li{line-height:30px;}
#dark-side .dNsHome{	left:30px;top:30px;}
.dNsHeader ul.dNsSubHeadUl li.dNsSub{padding-bottom:2px;}
#dark-side .sizeChartContainer a#sizechart {height:10px;}
#dark-side #left-nav .nav ul.nav-items .leftnavlinkover a.leftnavselected:hover{color:#fff !important;background:none repeat scroll 0 0 rgba(250, 250, 250, 0.1) !important;font-family:verdana; font-weight:normal !important;font-size:10px;}

/* wishlist fix */
#header.wishlist #wrapper { position: static; }

/*sbarrett*/
 .goToBackground{z-index:-100;}
.dnsPDP .goToBackground.cmfilterexpanded{z-index:auto; }

#cart #itemSummary a#promoApply {float: right}
#cart .crossSells .css-button { width: 145px; padding: 10px 8px}

.checkout-process form#login button.submit.css-button { width: 70px}
.checkout-process form#addressForm #addressBook .AddressItem .addressControls a.css-button.secondary.edit,
.checkout-process form#addressForm #addressBook .AddressItem .addressControls a.css-button.secondary.editDisabled { margin-right: 8px}

body.siteOptimization a {
    border: 0;
}

a:hover,
a:active,
.css-button:hover,
.css-button:active {
    noFocusLine: expression(this.onFocus=this.blur());
}

/* RLIE-130 - MK - No longer needed for IE9+ */
body.siteOptimization.ie8Version .css-button{
    /* RL-220 - AM - letter-spacing: 0.07em;*/
    letter-spacing: 0.07em;
}

body#shipping form#shippingForm .availShip label {padding: 0;}

#cart div.donations .donationCart label {min-width: 40px}
#cart div.donations .donationCart .donationRadio input[type="radio"]{margin:-1px 0 0 0}
#cart div.donations .donationRadioOther {width: 180px}
#cart .promoError {padding-top: 13px;}

#receipt form#registerUser p.error {margin-top: 55px;}


.ieVersion #left-nav .nav h3{ margin-bottom:15px; margin-top:23px;}
.ieVersion #left-nav .nav h3:first-child{margin-top:20px;}
.facet-modal.brand .facet-filters ul { width: 32% !important; }
ul.nav-items, ul.mainNav {padding: 0px 2px 17px 2px;}
.ieVersion ul.nav-items, .ieVersion ul.mainNav{margin-top: 15px;}
.ie7Version #left-nav ul.nav-items,
.ie7Version #left-nav ul.mainNav,
.ie8Version #left-nav ul.nav-items,
.ie8Version #left-nav ul.mainNav{padding: 0px 2px 22px 2px;}
.ieVersion .sidenav { background: url("../images/bg-grad-2col-sep.jpg")/*tpa=http://www.ralphlauren.com/images/bg-grad-2col-sep.jpg*/ repeat-y scroll left top transparent; width: 10px; }
.ie8Version #left-nav{margin-top: -10px;}
.ieVersion #left-nav{overflow:hidden;}

/* From store_ie7.css */
.ie8Version #search-area{ border:1px solid #f3f3f3; }
.ie8Version #minicart-inner { border: 1px solid #c1c1c1 !important; }
.ie8Version #global-nav-container { border-top: 1px solid #002D4C; border-bottom: 1px solid #002D4C; }
.ie8Version #global-nav > li:hover > a > span,
.ie8Version #global-nav > li.active > a > span {
    border-bottom: 2px solid #002D4C;
}

.ie10Version #JCSuperWrap{
    margin-top: -17px;
}

.ie8Version .white #global-nav > li:hover > a > span, .ie8Version .white #global-nav > li.active > a > span { border-bottom: 2px solid #fff !important; }
.ie8Version .white #global-nav-container {border-top: 1px solid #8d8d8d !important; border-bottom: 1px solid #8d8d8d !important;}
.ie9Version #dark-side .dNsHeader ul li a{font-family: "Schmutz W01 Cleaned" !important; letter-spacing:2px;}
.ie8Version#dark-side #left-nav a.leftnavselected {background: #333;}

/* PDP Redesign */
.prod-top-content { background-color: #f5f5f5; }
.size-swatches li { background-color: #dfdfdf; }
#addToBag div.input { background-color: #fff; }
.custom-dropdown, .custom-dropdown .dropdown { background-color: #dadada; }
.ie7Version .add-to-bag label { width: 100%; }
.ie7Version div.prod-top-content { position: static !important; }
.ie7Version .prod-summary, .ie8Version .prod-summary { min-height: 579px !important; }
.ie7Version #color-swatches li.active, .ie7Version .size-swatches li.active { border-color: #000 !important; }
.ie7Version #color-swatches li.active { width: 35px; height: 35px; }
.ie7Version a#sizechart { float: left !important; }
.recentlyViewedProduct img { border: none; }

.ie8Version #prod-alt-2 { position: static !important; margin: 0 -100% !important; }
img#prod-img { position: static !important; margin: 0 !important;
    -webkit-transform: translate(0,0) !important; -ms-transform: translate(0,0) !important; transform: translate(0,0) !important;
}

/* Cross Sells */
.product-cross-sell.odd { padding-left: 0px !important;  }
.cross-sell-zoom { width: 440px; }
.cross-sell-zoom a { width: 400px !important; }
.cross-sell-colors .dropdown { padding-bottom: 10px !important; }

#utility-container{
    right: 15px;
    min-width: 375px;
}

.ie10Version #utility-container{
    right: 15px;
    min-width: 375px !important;
}

.ie8Version #utility-nav,
.ie9Version #utility-nav{
    padding-right: 0;
}

.ie8Version #logo{
    background-image: url(../images/ie8-logo-default.jpg)/*tpa=http://www.ralphlauren.com/images/ie8-logo-default.jpg*/;
}

.ie8Version .white #logo{
	background-image: url(../images/logo-white.png)/*tpa=http://www.ralphlauren.com/images/logo-white.png*/;
}

.ie8Version #global-nav .more-pop ul li a, #sub-nav li a {
	letter-spacing: 0.4999px
}

#global-nav .more-pop .col1 h3,
#global-nav .more-pop .col3 h3,
#global-nav .more-pop .col5 h3,
#global-nav .more-pop .col7 h3,
#receipt #global-nav .more-pop .col1 h3,
#review #global-nav .more-pop .col1 h3,
#payment #global-nav .more-pop .col1 h3,
#receipt #global-nav .more-pop .col3 h3,
#review #global-nav .more-pop .col3 h3,
#payment #global-nav .more-pop .col3 h3,
#receipt #global-nav .more-pop .col5 h3,
#review #global-nav .more-pop .col15 h3,
#payment #global-nav .more-pop .col5 h3,
#receipt #global-nav .more-pop .col7 h3,
#review #global-nav .more-pop .col7 h3,
#payment #global-nav .more-pop .col7 h3{
    margin-bottom: 16px;
}

.ie8Version #global-nav .more-pop .col1 h3,
.ie8Version #global-nav .more-pop .col3 h3,
.ie8Version #global-nav .more-pop .col5 h3,
.ie8Version #global-nav .more-pop .col7 h3,
.ie8Version #receipt #global-nav .more-pop .col1 h3,
.ie8Version #review #global-nav .more-pop .col1 h3,
.ie8Version #payment #global-nav .more-pop .col1 h3,
.ie8Version #receipt #global-nav .more-pop .col3 h3,
.ie8Version #review #global-nav .more-pop .col3 h3,
.ie8Version #payment #global-nav .more-pop .col3 h3,
.ie8Version #receipt #global-nav .more-pop .col5 h3,
.ie8Version #review #global-nav .more-pop .col15 h3,
.ie8Version #payment #global-nav .more-pop .col5 h3,
.ie8Version #receipt #global-nav .more-pop .col7 h3,
.ie8Version #review #global-nav .more-pop .col7 h3,
.ie8Version #payment #global-nav .more-pop .col7 h3{
    margin-bottom: 15px;
}


::-ms-clear{
display:none;
}