.video-js, #html5video
{
    width: 100%!important;
}

.sliderTheme, .ImgLarge, .ThumbnailTitle
{
    display: none!important;
}

.sliderArea
{
    margin-top: 10px;
    height: 479px;
    position: relative;
}

.IEsliderArea
{
    margin-top: 10px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.LearnMoreLink
{
    color: #fff!important;
    text-decoration: none!important;
}

.segment
{
    cursor: pointer;
}

.bottomBar
{
    background: url(../images/navbg.png)/*tpa=http://www.altria.com/_Layouts/ALCS.AltriaCom/images/navbg.png*/ top center no-repeat;
    height: 80px;
    padding-left: 30px;
    padding-right: 30px;
    position: absolute;
    text-align: center;
    top: 400px;
    z-index: 5;
    width: 620px;
}

    .bottomBar .slidesContainer
    {
        float: right;
        position: relative;
    }

        .bottomBar .slidesContainer div
        {
            display: block;
            width: 92px;
            height: 42px;
            border: 1px solid #ccc;
            margin-right: 3px;
            float: left;
            margin: 17px 3px 5px 3px;
            font-size: 9px;
        }

    .bottomBar div.active
    {
        border: 2px solid #06c;
        width: 90px;
        height: 42px;
    }

    .bottomBar img
    {
        max-width: 100%;
    }

.divLearnMoreArrow
{
    border-bottom: 5px solid transparent;
    border-left: 5px solid #fff;
    border-top: 5px solid transparent;
    height: 0;
    position: absolute;
    width: 0;
    top: 0;
    right: 0;
    *margin-top: 3px;
    margin-top: 3px\9;
    margin-top: 2px;
}

.thumbNailImg
{
    width: 100%;
    left: 0!important;
    right: 0!important;
    top: 0!important;
}

.headingText
{
    width: 80%;
    height: auto;
    color: #033788;
    font-size: 30px;
    font-family: 'Stag Med',Arial;
    letter-spacing: .5px;
    padding: 15px;
    position: absolute;
    bottom: 0;
}

    .headingText div
    {
        position: absolute;
        bottom: 20px;
    }

.headingTextDevice
{
    display: none;
}

.Description
{
    background-color: #033788;
    width: 170px;
    height: 170px;
    color: #fff;
    font-size: 13px;
    font-family: 'Stag Med',Arial;
    letter-spacing: .1em;
    font-style: normal;
    padding: 15px;
    position: relative;
}

    .Description p
    {
        line-height: 1.2em!important;
    }

.headingTextParent
{
    position: relative;
    height: 200px;
    background-color: #fff;
    width: 100%;
    word-wrap: normal;
}

.overLay
{
    width: 375px;
    height: 120px;
    background: url('../images/HPSlideThumbOverLay.png')/*tpa=http://www.altria.com/_Layouts/ALCS.AltriaCom/images/HPSlideThumbOverLay.png*/ top left no-repeat;
    position: absolute;
    top: 310px;
    z-index: 10;
    display: none;
}

    .overLay .overLayContent
    {
        position: relative;
        height: 86px;
        margin-top: 16px;
    }

.overLayImage
{
    float: left;
    height: 82px;
    width: 139px;
    margin-left: 12px;
}

    .overLayImage img
    {
        width: 139px;
        height: 82px;
        float: left;
        position: relative;
    }

.overLayTitle
{
    color: #666;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    float: left;
    margin-top: 7px;
    width: 185px;
    height: 15px;
    padding-left: 5px;
}

.overLayDescription
{
    color: #666;
    font-family: Arial;
    font-size: 11px;
    font-weight: normal;
    margin-top: 6px;
    padding-left: 5px;
    width: 185px;
    height: 45px;
    overflow: hidden;
    float: left;
    clear: both;
}

.overLayDescriptionArea
{
    float: left;
    margin-left: 10px;
}

.overLayDescription span, .overLayDescription span p
{
    margin: 0;
    line-height: 1.4;
}

.overLayDecriptionArea
{
    float: left;
    margin-left: 10px;
}

.overLay.IEoverlay
{
    background: 0;
    background-color: #fff;
    border: 1px solid #666;
    width: 375px;
    height: 86px;
    position: absolute;
    top: 322px;
    z-index: 10;
    display: none;
    left: 450px;
}

.overLay .IEoverlay-arrow
{
    border-color: #fff transparent transparent transparent;
    border-style: solid;
    border-width: 13px;
    height: 0;
    width: 0;
    position: absolute;
    bottom: -22px;
    bottom: -23px\9;
    left: 177px;
    z-index: 10;
}

.overLay .IEoverlay-arrow-border
{
    border-color: #666 transparent transparent transparent;
    border-style: solid;
    border-width: 13px;
    height: 0;
    width: 0;
    position: absolute;
    bottom: -23px;
    bottom: -24px\9;
    left: 177px;
    z-index: 9;
}

.IEoverlay .overLayContent
{
    position: relative;
    height: 86px;
    margin-top: 2px;
}

.IEoverlay .overLayImage
{
    float: left;
    height: 82px;
    width: 139px;
    margin-left: 2px;
}

.active .thumbNailImg
{
    width: 100%;
}

.readMoreText
{
    height: 20px;
    width: 80px;
    width: 85px\9;
    *width: 95px;
    position: absolute;
    margin-top: 20px;
}

    .readMoreText a:hover
    {
        text-decoration: underline!important;
    }

.bodyText
{
    max-height: 130px;
    overflow: hidden;
    word-break: normal;
}

.divCloseButton
{
    background: transparent url('../images/VideoCloseButton.png')/*tpa=http://www.altria.com/_Layouts/ALCS.AltriaCom/images/VideoCloseButton.png*/ no-repeat;
    z-index: 10;
    position: relative;
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: none;
    float: right;
}

.divPlayButton
{
    background: url("../../ALCS.Enterprise/images/hubPlay_buttons.png")/*tpa=http://www.altria.com/_LAYOUTS/ALCS.Enterprise/images/hubPlay_buttons.png*/ no-repeat scroll 0 0 transparent;
    top: 45%;
    left: 48%;
    z-index: 9;
    position: absolute;
    width: 55px;
    height: 62px;
    cursor: pointer;
    display: none;
}

.divVideoContent
{
    width: 63%;
    margin-left: auto;
    margin-right: auto;
    height: 426px;
    position: relative;
    top: 0;
    left: 0;
    background: #000;
    z-index: 10;
    display: none;
}

.divNotSupportedMessage
{
    display: none;
    position: absolute;
    left: 28%;
    top: 50%;
    font-size: 15px;
    font-family: Arial;
}

.opacityClass
{
    filter: alpha(opacity = 20)!important;
}

#homePageVideo
{
    margin-left: auto;
    margin-right: auto;
}

.youtubeVideoContent
{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    text-align: center;
}

.youtubeIFrame
{
    width: 100%;
    height: 100%;
    text-align: center;
    border: 0px;
}

.divYouTubeClosebtn
{
    background-color: black;
    display: inline-block;
    float: left;
    width: 100%;
}

    .divYouTubeClosebtn img
    {
        border: 0 none;
        display: block;
        float: right;
        height: 24px;
        width: 24px;
        cursor: pointer;
    }

#slideshow
{
    position: absolute;
    left: 0;
    width: 100%;
    height: 479px;
    overflow: hidden;
}

#slide_holder
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

#slide_holder_alt
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}

.slide
{
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    margin: 0 0 0 -50%;
}

.img1
{
    position: absolute;
    top: 0;
    left: 50%;
    left: 0\9;
    margin: 0 0 0 -51%;
    z-index: 1;
    height: auto;
    max-width: 100%;
}

.img2
{
    position: absolute;
    top: 280px;
    left: 0;
    z-index: 6;
}

.img3
{
    position: absolute;
    top: 80px;
    left: 0;
    width: 200px;
    height: 200px;
    z-index: 5;
}

    .img3 img
    {
        bottom: 20px;
        left: 20px;
        position: absolute;
    }

    .img3 .img3bg
    {
        width: 200px;
        height: 200px;
        position: absolute;
        background-color: #FFF;
    }

.box1
{
    position: relative;
    top: 80px;
    left: -200px;
    width: 200px;
    height: 200px;
    background-color: #033788;
    z-index: 2;
}

.box2
{
    position: relative;
    top: 80px;
    left: -200px;
    width: 200px;
    height: 200px;
    background-color: #FFF;
    z-index: 3;
}

.box3
{
    position: relative;
    top: -120px;
    left: 200px;
    width: 200px;
    height: 200px;
    background-color: #033788;
    z-index: 4;
}

.Blue .Description
{
    background-color: #033788;
}

.Blue .box3
{
    background-color: #033788;
}

.Blue .box1
{
    background-color: #033788;
}

.Blue .headingText
{
    color: #033788;
}

.slidesContainer .Blue
{
    background-color: #033788;
}

.Red .Description
{
    background-color: #840f08;
}

.Red .box3
{
    background-color: #840f08;
}

.Red .box1
{
    background-color: #840f08;
}

.Red .headingText
{
    color: #840f08;
}

.slidesContainer .Red
{
    background-color: #840f08;
}

.Green .Description
{
    background-color: #148d42;
}

.Green .box3
{
    background-color: #148d42;
}

.Green .box1
{
    background-color: #148d42;
}

.Green .headingText
{
    color: #148d42;
}

.slidesContainer .Green
{
    background-color: #148d42;
}

.Orange .Description
{
    background-color: #ff8300;
}

.Orange .box3
{
    background-color: #ff8300;
}

.Orange .box1
{
    background-color: #ff8300;
}

.Orange .headingText
{
    color: #ff8300;
}

.slidesContainer .Orange
{
    background-color: #ff8300;
}

.portraitMenu
{
    display: none;
}

.readMoreText
{
    width: 86px;
    font-size: 12px;
}

.divThomsonTwitter
{
    background: #eaeaea url('../images/newsBG.png')/*tpa=http://www.altria.com/_Layouts/ALCS.AltriaCom/images/newsBG.png*/ top left repeat-x;
    height: 50px;
    width: 100%;
}

.thomsonTwitterblock
{
    margin: 0 auto;
    padding-left: 0;
    max-width: 1200px;
    width: 100%;
    clear: both;
}

.thomsonTwitterChildBlock
{
    margin-left: 0 auto;
    margin-right: 0 auto;
    max-width: 1200px;
}

.thomsonDiv
{
    width: 47%;
    float: left;
    line-height: 1.2em;
    height: 50px;
}

    .thomsonDiv ul
    {
        padding-left: 0!important;
        list-style: none;
        margin-top: 0;
        margin-bottom: 0;
    }

#DvThomsonFeeds
{
    float: left;
    width: 70%;
    padding-right: 10px;
    height: 50px;
    margin-top: 5px;
}

.twitterDiv
{
    width: 48%;
    float: left;
    line-height: 1.3em;
    height: 50px;
}

#DvTweets
{
    width: 80%;
    float: left;
    padding-left: 10px;
    height: 50px;
    margin-top: 5px;
}

    #DvTweets ul
    {
        padding-left: 0!important;
        list-style: none;
        margin-top: 0;
        margin-bottom: 0;
    }

.EmptyTweets, .divTweets
{
    width: 100%;
    float: left;
}

.thomsonFeeds, .divTweets
{
    height: 40px!important;
    overflow: hidden;
    width: 100%;
    margin-left: 0!important;
    margin-top: 5px!important;
}

    .thomsonFeeds li
    {
        overflow: hidden!important;
        height: 40px!important;
        width: 100%;
        padding-bottom: 10px;
        font-family: Arial;
        font-size: 12px;
    }

    .divTweets li
    {
        overflow: hidden!important;
        height: 40px!important;
        width: 100%;
        padding-bottom: 10px;
        font-family: Arial;
        color: #666;
        font-size: 12px;
    }

.divFeedTweet li a, .divFeedTweet li a:link, .divFeedTweet li a:visited
{
    font-family: Arial;
    color: #666!important;
    font-size: 12px;
    text-decoration: none;
}

    .divFeedTweet li a:hover
    {
        font-family: Arial;
        color: #666!important;
        font-size: 12px;
        text-decoration: none;
        cursor: pointer!important;
    }

.divFeedTweetAnchors a[name=twitterurl]
{
    font-family: Arial;
    color: #666!important;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer!important;
}

    .divFeedTweetAnchors a[name=twitterurl]:hover
    {
        font-family: Arial;
        color: #666!important;
        font-size: 12px;
        text-decoration: none;
        cursor: pointer!important;
    }

.divFeedTweetAnchors a
{
    font-family: Arial;
    color: #046ec7!important;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer!important;
}

    .divFeedTweetAnchors a:hover
    {
        text-decoration: underline;
    }

.divThomsonFeeds
{
    min-height: 50px!important;
}

#divThomsonFeeds
{
    overflow: hidden;
    height: 50px!important;
}

    #divThomsonFeeds ul
    {
        list-style-type: none;
    }

#divTweets
{
    overflow: hidden;
    margin-top: 5px;
}

    #divTweets ul
    {
        list-style-type: none;
    }

.tickerCTA
{
    float: right;
    padding-right: 10px;
    width: 145px;
    display: block;
    color: #06c!important;
    font-family: Arial;
    font-style: normal;
    font-size: 11px;
    margin-top: 18px;
    margin-bottom: 15px;
}

.tickerCTA-link
{
    float: left;
    color: #06c!important;
    font-family: Arial;
    font-style: normal;
    font-size: 11px;
}

.tickerCTA div a
{
    float: left;
    color: #06c!important;
    font-family: Arial;
    font-style: normal;
    font-size: 11px;
}

    .tickerCTA div a:hover
    {
        text-decoration: underline;
    }

.EmptyTFeeds, .EmptyTweets
{
    margin-top: 5px;
    font-family: Arial;
    color: #666!important;
    font-size: 12px;
}

.FeedsTweetsSepeartor
{
    float: left;
    height: 100%;
    width: 1%;
}

#follow_twitter
{
    float: right;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: Arial;
    color: #666!important;
    font-size: 12px;
    text-decoration: none;
}

    #follow_twitter a
    {
        padding-left: 15px;
        width: 55px;
        font-family: Arial;
        font-weight: bold;
        color: #666!important;
        font-size: 11px;
        text-decoration: none;
        vertical-align: middle;
    }

.divPressReleaseArrow
{
    border-bottom: 5px solid transparent;
    border-left: 5px solid #046ec7;
    border-top: 5px solid transparent;
    height: 0;
    margin-top: 4px;
    margin-left: 8px;
    right: 0;
    top: 0;
    width: 0;
    position: relative;
    float: left;
}

/*Hiding the Twitter Div
.FeedsTweetsSepeartor, .twitterDiv  {
	 display: none
	}
.thomsonDiv {
    width: 100%;
}
.BindThomsonFeeds {
    width:80%;
}*/

/*Hiding the Twitter Div*/
@media (min-width: 760px) and (max-width:1024px)
{
    .headingText
    {
        font-size: 24px;
    }

    .Description
    {
        font-size: 11px;
        height: 140px !important;
        width: 140px !important;
        padding: 10px !important;
    }

        .Description p
        {
            margin: 5px 0 0 0;
        }

    .readMoreText
    {
        margin-top: 5px;
    }

    .ie8 .overLay.IEoverlay,
    .ie7 .overLay.IEoverlay
    {
        top: 202px;
    }
}
