﻿/*********Markup styles for formating in the Custom List-Richtext column*/
DIV.ms-rteElement-Richtext-Arrow
{
    -ms-name: "Altria Arrowlink";
}

DIV.ms-rteElement-Richtext-RemoveArrow
{
    -ms-name: "Altria Remove-Arrowlink";
}

DIV.ms-rteElement-Richtext-SubHeading
{
    -ms-name: "Altria SubHeading";
}

DIV.ms-rteElement-Richtext-WhiteTheme
{
    -ms-name: "WhiteTheme";
    color: #fff !important;
}
/* CR Arrow declaration Start*/
DIV.ms-rteElement-Richtext-CRArrow
{
    -ms-name: "Altria CRArrowlink";
}

DIV.ms-rteElement-Richtext-CRRemoveArrow
{
    -ms-name: "Altria Remove-CRArrowlink";
}
/* CR Arrow declaration END*/

/***/
.ms-rteElement-Richtext-BodyCopy a:visited
{
    color: #0072BC !important;
}

.ms-rteElement-Richtext-BodyCopy a:hover
{
    color: #0066cc !important;
}

DIV.ms-rteElement-Richtext-Arrow a:link, DIV.ms-rteElement-Richtext-Arrow a:visited
{
    font-family: Arial;
    font-style: normal;
    font-size: 11px !important;
    color: #0066cc !important;
    margin-right: 10px;
    background-image: url(/_Layouts/ALCS.AltriaCom/images/Arrow.png);
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 10px;
    text-decoration: none;
    -webkit-text-size-adjust: none;
}

DIV.ms-rteElement-Richtext-Arrow a:visited
{
    color: #0066cc !important;
}

DIV.ms-rteElement-Richtext-Arrow a:hover
{
    text-decoration: underline;
}

/*CR Arrow Styles Start*/
DIV.ms-rteElement-Richtext-CRArrow a:link, DIV.ms-rteElement-Richtext-CRArrow a:visited
{
    font-family: Arial;
    font-style: normal;
    font-size: 14px !important;
    color: #0066cc !important;
    margin-right: 10px;
    background-image: url(/_Layouts/ALCS.AltriaCom/images/CRarrow.png);
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 10px;
    text-decoration: none;
    -webkit-text-size-adjust: none;
}

DIV.ms-rteElement-Richtext-CRArrow a:visited
{
    color: #0066cc !important;
}

DIV.ms-rteElement-Richtext-CRArrow a:hover
{
    text-decoration: underline;
}

/*CR Arrow Styles Start*/

DIV.ms-rteElement-Richtext-BodyCopy
{
    -ms-name: "Altria Our Companies BodyCopy";
    font-family: Arial;
    font-size: 11px;
    color: #222222;
    padding-bottom: 10px;
    line-height: 14px;
    margin: 0;
    word-wrap: break-word;
}

DIV.ms-rteElement-Richtext-DividerLine
{
    -ms-name: "AltriaCom Divider Line";
    padding-bottom: 10px;
    height: 0px;
    border-top: 1px solid #E1E1E1;
    width: 100%;
  /* margin-top: -5px;*/
}

DIV.ms-rteElement-Richtext-OurCmpySubHead
{
    -ms-name: "Our Companies SubHeading";
    font-family: 'Stag Med',Arial;
    letter-spacing: 1px;
    font-size: 18px;
    color: #033788;
    line-height: 20px;
}

DIV.ms-rteElement-Richtext-Footer
{
    -ms-name: "Altria Our Companies Footer";
    font-family: Arial;
    font-size: 10px;
    color: #222222;
    line-height: 11px;
    margin: 0;
    word-wrap: break-word;
}

DIV.ms-rteElement-TeaserTitle-18
{
    -ms-name: "Altria TeaserTitle-18";
    font-size: 18px;
}

DIV.ms-rteElement-Richtext-Footer
{
    -ms-name: "AltriaCom Footer";
    font-family: Arial;
    font-size: 10px;
    color: #222222;
    line-height: 11px;
    margin: 0;
    word-wrap: break-word;
    -webkit-text-size-adjust: none;
}

DIV.ms-rteElement-Richtext-Arrow
{
    -ms-name: "AltriaCom Arrowlink";
}

    DIV.ms-rteElement-Richtext-Arrow a:link, DIV.ms-rteElement-Richtext-Arrow a:visited
    {
        font-family: Arial;
        font-style: normal;
        font-size: 11px !important;
        color: #0066cc !important;
        margin-right: 10px;
        background-image: url(/_Layouts/ALCS.AltriaCom/images/Arrow.png);
        background-position: right center;
        background-repeat: no-repeat;
        padding-right: 10px;
        text-decoration: none;
        -webkit-text-size-adjust: none;
    }


    DIV.ms-rteElement-Richtext-Arrow a:hover
    {
        text-decoration: underline;
    }

DIV.ms-rteElement-Richtext-BodyHeader
{
    -ms-name: "AltriaCom Content Header";
    font-family: 'Stag Med',Arial;
    letter-spacing: .1em;
    font-size: 40px;
    line-height: 42px;
    color: #033788;
    padding-bottom: 20px;
    margin: 0px;
}

DIV.ms-rteElement-Richtext-IntroStatement
{
    -ms-name: "AltriaCom IntroStatement";
    font-family: 'Stag Book',Arial;
    font-size: 22px;
    line-height: 26px;
    color: #666666;
    padding-bottom: 15px;
}

DIV.ms-rteElement-Richtext-IntroStatementLastParagraph
{
    -ms-name: "AltriaCom IntroStatement LastParagraph";
    font-family: 'Stag Book',Arial;
    font-size: 22px;
    line-height: 26px;
    color: #666666;
    padding-bottom: 0px !important;
}

DIV.ms-rteElement-Richtext-BodyCopy
{
    -ms-name: "AltriaCom BodyCopy";
    font-family: Arial;
    font-size: 13px;
    color: #222222;
    padding-bottom: 20px;
    line-height: 16px;
    margin: 0;
    word-wrap: break-word;
}

DIV.ms-rteElement-Richtext-BodyCopyLastParagh
{
    -ms-name: "AltriaCom BodyCopy LastParagh";
    font-family: Arial;
    font-size: 13px;
    color: #222222;
    margin-bottom: -10px;
    line-height: 15px;
}


DIV.ms-rteElement-Richtext-SubHead
{
    -ms-name: "AltriaCom SubHeading";
    font-family: 'Stag Med',Arial;
    letter-spacing: 1px;
    font-size: 18px;
    color: #033788;
    padding-bottom: 10px;
    line-height: 20px;
}

DIV.ms-rteElement-Richtext-SubHead28
{
    -ms-name: "AltriaCom SubHeading 28px";
    font-family: 'Stag Med',Arial;
    letter-spacing: 1px;
    font-size: 28px;
    color: #033788;
    padding-bottom: 20px;
    line-height: 20px;
}

/*Style For Sub Heading or Paragraph Heading As HyperLink*/
DIV.ms-rteElement-Richtext-ParaHeadA
{
    -ms-name: "AltriaCom ParaHead Anchor";
    padding-bottom: 15px;
}

.ms-rteElement-Richtext-ParaHeadA a
{
    text-decoration: underline !important;
    font-family: 'Stag Med',Arial;
    letter-spacing: .1em;
    font-size: 14px;
    color: #033788 !important;
    line-height: 14px;
}

.ms-rteElement-Richtext-BodyCopy a, .ms-rteElement-Richtext-BodyCopyLastParagh a, .ms-rteElement-Richtext-BodyCopy a:visited, .ms-rteElement-Richtext-BodyCopyLastParagh a:visited
{
    color: #046EC7 !important;
}


.ms-rteElement-Richtext-BodyCopy ul, .ms-rteElement-Richtext-BodyCopyLastParagh ul
{
    padding-left: 30px;
    margin: 0px;
}

    .ms-rteElement-Richtext-BodyCopy ul li, .ms-rteElement-Richtext-BodyCopyLastParagh ul li
    {
        padding-bottom: 5px;
    }

        .ms-rteElement-Richtext-BodyCopy ul li:last-child, .ms-rteElement-Richtext-BodyCopyLastParagh ul li:last-child
        {
            padding-bottom: 0px;
        }

.ms-rteElement-Richtext-BodyCopy, .ms-rteElement-RightParagraph ul li, .ms-rteElement-RightParagraph ol li
{
    padding-bottom: 6px;
}

    .ms-rteElement-Richtext-BodyCopy .arrow, .ms-rteElement-Richtext-BodyCopyLastParagh .arrow
    {
        padding-left: 20px;
    }

        .ms-rteElement-Richtext-BodyCopy .arrow li, .ms-rteElement-Richtext-BodyCopyLastParagh .arrow li
        {
            -ms-name: "List Style:Arrow";
            background: url("../images/LISTARROW.GIF") no-repeat scroll 0 10px transparent;
            padding-left: 0px;
            list-style: none;
        }

/*Image Styles*/
.ms-rteImage-ImageSpanFull
{
    -ms-name: "AltriaCom Image Span Full";
    width: 100%;
    height: auto;
    margin: 0px !important;
}

.ms-rteImage-SmallImage
{
    -ms-name: "AltriaCom Small Image";
    width: 100px;
    height: 100px;
}

.ms-rteImage-MediumImage
{
    -ms-name: "AltriaCom Medium Image";
    width: 150px;
    height: 150px;
}

.ms-rteImage-LargeImage
{
    -ms-name: "AltriaCom Large Image";
    width: 200px;
    height: 200px;
}

.ms-rtePosition-1
{
    -ms-name: "AltriaCom Left";
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
}

.ms-rtePosition-2
{
    -ms-name: "AltriaCom Right";
    float: Right;
    padding-left: 20px;
    padding-bottom: 20px;
}

.ms-rtePosition-3
{
    -ms-name: "AltriaCom Top";
    vertical-align: text-top;
    padding: 10px;
}

.ms-rtePosition-4
{
    -ms-name: "AltriaCom Middle";
    padding: 10px;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block;
}

.ms-rtePosition-5
{
    -ms-name: "AltriaCom Bottom";
    vertical-align: text-bottom;
    padding: 10px;
}
/*Image Styles*/

/*Table Styles*/
DIV.ms-rteElement-Richtext-AltriaTable
{
    -ms-name: "AltriaCom Table";
    position: relative;
}

.ms-rteElement-Richtext-AltriaTable .tableShadow
{
    /*position: absolute;
    background-color: gray;
    height: 15px;
    width: 100%;*/
}

.ms-rteElement-Richtext-AltriaTable table
{
    border: 0px;
    width: 100%;
}

    .ms-rteElement-Richtext-AltriaTable table tr
    {
        border: 0px;
    }

        .ms-rteElement-Richtext-AltriaTable table tr td.even
        {
            background-color: #eeeeee;
        }

        .ms-rteElement-Richtext-AltriaTable table tr td.odd
        {
            background-color: #dcdcdc;
        }

        .ms-rteElement-Richtext-AltriaTable table tr td.highLighted
        {
            background-color: #297ec1;
            color: #FFFFFF;
        }

        .ms-rteElement-Richtext-AltriaTable table tr td
        {
            padding: 5px 15px 5px 15px;
            height: 25px;
            word-wrap: break-word;
            border: 0px;
            font-family: Arial;
            font-size: 13px;
            border-top: 1px solid #bbbbbb;
            border-bottom: 2px solid #FFFFFF;
        }

    .ms-rteElement-Richtext-AltriaTable table th
    {
        /*background-color: #174894 !important;*/
        background: url('/Style Library/en-us/Thomson/images/table_Header_BG_1400.png') repeat-x scroll 0 0 #03398A !important;
        color: #FFFFFF;
        height: 45px;
        border-right: 1px solid #666666;
        text-align: left;
        padding-left: 15px;
        border-bottom: 2px solid #FFFFFF;
    }

DIV.ms-rteElement-LeftParagraph
{
    -ms-name: "AltriaCom Left Column";
    float: left;
    width: 29%;
    word-wrap: break-word;
}

.ms-rteElement-LeftParagraph IMG, .ms-rteElement-RightParagraph IMG
{
    max-width: 100%;
    height: auto;
}

.ms-rteElement-RightParagraph UL
{
    padding: 0px 10px 0px 30px;
    font-family: Arial;
    font-size: 13px;
    color: #222222;
    margin: 0;
}

.ms-rteElement-LeftParagraph UL
{
    padding: 0px 0px 0px 25px;
    margin: 0;
}

DIV.ms-rteElement-RightParagraph
{
    -ms-name: "AltriaCom Right Column";
    float: right;
    width: 68%;
    font-family: Arial;
    font-size: 13px;
    color: #222222;
    word-wrap: break-word;
}

.ms-rteElement-RightParagraph p
{
    margin-top: -5px;
}

.ms-rteElement-RightParagraph a:visited
{
    color: #0072BC !important;
}

DIV.ms-rteElement-ClearColumn
{
    -ms-name: "AltriaCom Column Clear";
    clear: both;
}
/*Table Styles*/

/*Div Table Style*/
DIV.ms-rteElement-Richtext-divTable
{
    -ms-name: "divTableCom";
    display: table;
}

.ms-rteElement-Richtext-divTable .row
{
    display: table-row;
}

.ms-rteElement-Richtext-divTable .cell
{
    display: table-cell;
}

/**/


/*********Markup styles for formating in the Custom List-Richtext column*/


/*CEWP*/

DIV.altriacustom-rteElement-Richtext-Footer
{
    -ms-name: "Altria Footer";
    font-family: Arial;
    font-size: 10px;
    color: #222222;
    line-height: 11px;
    margin: 0;
    word-wrap: break-word;
    -webkit-text-size-adjust: none;
}

DIV.altriacustom-rteElement-Richtext-Arrow
{
    -ms-name: "Altria Arrowlink";
}

    DIV.altriacustom-rteElement-Richtext-Arrow a:link, DIV.altriacustom-rteElement-Richtext-Arrow a:visited
    {
        font-family: Arial;
        font-style: normal;
        font-size: 11px !important;
        color: #0066cc !important;
        margin-right: 10px;
        background-image: url(/_Layouts/ALCS.AltriaCom/images/Arrow.png);
        background-position: right center;
        background-repeat: no-repeat;
        padding-right: 10px;
        text-decoration: none;
        -webkit-text-size-adjust: none;
    }


    DIV.altriacustom-rteElement-Richtext-Arrow a:hover
    {
        text-decoration: underline;
    }

DIV.altriacustom-rteElement-Richtext-BodyHeader
{
    -ms-name: "Altria Content Header";
    font-family: 'Stag Med',Arial;
    letter-spacing: .1em;
    font-size: 40px;
    line-height: 42px;
    color: #033788;
    padding-bottom: 20px;
    margin: 0px;
}

DIV.altriacustom-rteElement-Richtext-IntroStatement
{
    -ms-name: "Altria IntroStatement";
    font-family: 'Stag Book',Arial;
    font-size: 22px;
    line-height: 26px;
    color: #666666;
    padding-bottom: 15px;
}

DIV.altriacustom-rteElement-Richtext-IntroStatement a:visited{color:#046ec7 !important}


DIV.altriacustom-rteElement-Richtext-IntroStatementLastParagraph
{
    -ms-name: "Altria IntroStatement LastParagraph";
    font-family: 'Stag Book',Arial;
    font-size: 22px;
    line-height: 26px;
    color: #666666;
    padding-bottom: 0px !important;
}

DIV.altriacustom-rteElement-Richtext-BodyCopy
{
    -ms-name: "Altria BodyCopy";
    font-family: Arial;
    font-size: 13px;
    color: #222222;
    padding-bottom: 20px;
    line-height: 16px;
    margin: 0;
    word-wrap: break-word;
}

DIV.altriacustom-rteElement-Richtext-BodyCopyLastParagh
{
    -ms-name: "Altria BodyCopy LastParagh";
    font-family: Arial;
    font-size: 13px;
    color: #222222;
    margin-bottom: -10px;
    line-height: 15px;
}

DIV.altriacustom-rteElement-Richtext-DividerLine
{
    -ms-name: "Altria Divider Line";
    padding-bottom: 10px;
    height: 0px;
    border-top: 1px solid #E1E1E1;
    width: 100%;
    margin-top: -5px;
}

DIV.altriacustom-rteElement-Richtext-SubHead
{
    -ms-name: "Altria SubHeading";
    font-family: 'Stag Med',Arial;
    letter-spacing: 1px;
    font-size: 18px;
    color: #033788;
    padding-bottom: 10px;
    line-height: 20px;
}

DIV.altriacustom-rteElement-Richtext-SubHead28
{
    -ms-name: "Altria SubHeading 28px";
    font-family: 'Stag Med',Arial;
    letter-spacing: 1px;
    font-size: 28px;
    color: #033788;
    padding-bottom: 20px;
    line-height: 20px;
}

/*Style For Sub Heading or Paragraph Heading As HyperLink*/
DIV.altriacustom-rteElement-Richtext-ParaHeadA
{
    -ms-name: "Altria ParaHead Anchor";
    padding-bottom: 15px;
}

.altriacustom-rteElement-Richtext-ParaHeadA a
{
    text-decoration: underline !important;
    font-family: 'Stag Med',Arial;
    letter-spacing: .1em;
    font-size: 14px;
    color: #033788 !important;
    line-height: 14px;
}

.altriacustom-rteElement-Richtext-BodyCopy a, .altriacustom-rteElement-Richtext-BodyCopyLastParagh a, .altriacustom-rteElement-Richtext-BodyCopy a:visited, .altriacustom-rteElement-Richtext-BodyCopyLastParagh a:visited
{
    color: #046EC7 !important;
}


.altriacustom-rteElement-Richtext-BodyCopy ul, .altriacustom-rteElement-Richtext-BodyCopyLastParagh ul
{
    padding-left: 30px;
    margin: 0px;
}

    .altriacustom-rteElement-Richtext-BodyCopy ul li, .altriacustom-rteElement-Richtext-BodyCopyLastParagh ul li
    {
        padding-bottom: 5px;
    }

        .altriacustom-rteElement-Richtext-BodyCopy ul li:last-child, .altriacustom-rteElement-Richtext-BodyCopyLastParagh ul li:last-child
        {
            padding-bottom: 0px;
        }

.altriacustom-rteElement-Richtext-BodyCopy, .altriacustom-rteElement-RightParagraph ul li, .altriacustom-rteElement-RightParagraph ol li
{
    padding-bottom: 6px;
}

    .altriacustom-rteElement-Richtext-BodyCopy .arrow, .altriacustom-rteElement-Richtext-BodyCopyLastParagh .arrow
    {
        padding-left: 20px;
    }

        .altriacustom-rteElement-Richtext-BodyCopy .arrow li, .altriacustom-rteElement-Richtext-BodyCopyLastParagh .arrow li
        {
            -ms-name: "List Style:Arrow";
            background: url("../images/LISTARROW.GIF") no-repeat scroll 0 10px transparent;
            padding-left: 0px;
            list-style: none;
        }

/*Image Styles*/
.altriacustom-rteImage-ImageSpanFull
{
    -ms-name: "Altria Image Span Full";
    width: 100%;
    height: auto;
    margin: 0px !important;
}

.altriacustom-rteImage-SmallImage
{
    -ms-name: "Altria Small Image";
    width: 100px;
    height: 100px;
}

.altriacustom-rteImage-MediumImage
{
    -ms-name: "Altria Medium Image";
    width: 150px;
    height: 150px;
}

.altriacustom-rteImage-LargeImage
{
    -ms-name: "Altria Large Image";
    width: 200px;
    height: 200px;
}

.altriacustom-rtePosition-1
{
    -ms-name: "Altria Left";
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
}

.altriacustom-rtePosition-2
{
    -ms-name: "Altria Right";
    float: Right;
    padding-left: 20px;
    padding-bottom: 20px;
}

.altriacustom-rtePosition-3
{
    -ms-name: "Altria Top";
    vertical-align: text-top;
    padding: 10px;
}

.altriacustom-rtePosition-4
{
    -ms-name: "Altria Middle";
    padding: 10px;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block;
}

.altriacustom-rtePosition-5
{
    -ms-name: "Altria Bottom";
    vertical-align: text-bottom;
    padding: 10px;
}
/*Image Styles*/

/*Table Styles*/
DIV.altriacustom-rteElement-Richtext-AltriaTable
{
    -ms-name: "Altria Table";
    position: relative;
}

.altriacustom-rteElement-Richtext-AltriaTable .tableShadow
{
    /*position: absolute;
    background-color: gray;
    height: 15px;
    width: 100%;*/
}

.altriacustom-rteElement-Richtext-AltriaTable table
{
    border: 0px;
    width: 100%;
}

    .altriacustom-rteElement-Richtext-AltriaTable table tr
    {
        border: 0px;
    }

        .altriacustom-rteElement-Richtext-AltriaTable table tr td.even
        {
            background-color: #eeeeee;
        }

        .altriacustom-rteElement-Richtext-AltriaTable table tr td.odd
        {
            background-color: #dcdcdc;
        }

        .altriacustom-rteElement-Richtext-AltriaTable table tr td.highLighted
        {
            background-color: #297ec1;
            color: #FFFFFF;
        }

        .altriacustom-rteElement-Richtext-AltriaTable table tr td
        {
            padding: 5px 15px 5px 15px;
            height: 25px;
            word-wrap: break-word;
            border: 0px;
            font-family: Arial;
            font-size: 13px;
            border-top: 1px solid #bbbbbb;
            border-bottom: 2px solid #FFFFFF;
        }

    .altriacustom-rteElement-Richtext-AltriaTable table th
    {
        /*background-color: #174894 !important;*/
        background: url('/Style Library/en-us/Thomson/images/table_Header_BG_1400.png') repeat-x scroll 0 0 #03398A !important;
        color: #FFFFFF;
        height: 45px;
        border-right: 1px solid #666666;
        text-align: left;
        padding-left: 15px;
        border-bottom: 2px solid #FFFFFF;
    }

DIV.altriacustom-rteElement-LeftParagraph
{
    -ms-name: "Altria Left Column";
    float: left;
    width: 29%;
    word-wrap: break-word;
}

.altriacustom-rteElement-LeftParagraph IMG, .altriacustom-rteElement-RightParagraph IMG
{
    max-width: 100%;
    height: auto;
}

.altriacustom-rteElement-RightParagraph UL
{
    padding: 0px 10px 0px 30px;
    font-family: Arial;
    font-size: 13px;
    color: #222222;
    margin: 0;
}

.altriacustom-rteElement-LeftParagraph UL
{
    padding: 0px 0px 0px 25px;
    margin: 0;
}

DIV.altriacustom-rteElement-RightParagraph
{
    -ms-name: "Altria Right Column";
    float: right;
    width: 68%;
    font-family: Arial;
    font-size: 13px;
    color: #222222;
    word-wrap: break-word;
}

.altriacustom-rteElement-RightParagraph p
{
    margin-top: -5px;
}

.altriacustom-rteElement-RightParagraph a:visited
{
    color: #0072BC !important;
}

DIV.altriacustom-rteElement-ClearColumn
{
    -ms-name: "Altria Column Clear";
    clear: both;
}
/*Table Styles*/

/*Div Table Style*/
DIV.altriacustom-rteElement-Richtext-divTable
{
    -ms-name: "divTable";
    display: table;
}

.altriacustom-rteElement-Richtext-divTable .row
{
    display: table-row;
}

.altriacustom-rteElement-Richtext-divTable .cell
{
    display: table-cell;
}
/*Div Table Style*/

@media (min-width:641px) and (max-width: 780px)
{
    .altriacustom-rteImage-ImageSpanFull
    {
        width: 100%;
    }

    .altriacustom-rteElement-Richtext-IntroStatement
    {
        font-size: 14px !important;
        line-height: 16px !important;
        padding-bottom: 25px !important;
    }

    .altriacustom-rteElement-Richtext-IntroStatementLastParagraph
    {
        font-size: 14px !important;
        line-height: 16px !important;
        padding-bottom: 0px !important;
    }

    DIV.altriacustom-rteElement-Richtext-BodyCopy
    {
        font-size: 11px !important;
        padding-bottom: 20px !important;
    }

    .altriacustom-rteElement-LeftParagraph, .altriacustom-rteElement-RightParagraph
    {
        font-size: 11px !important;
        padding-bottom: 20px !important;
    }

    .altriacustom-rteElement-Richtext-BodyCopyLastParagh
    {
        font-size: 11px !important;
        -webkit-text-size-adjust: none;
    }

    DIV.ms-rteElement-Richtext-BodyText, DIV.altriacustom-rteElement-RightParagraph, .altriacustom-rteElement-RightParagraph UL LI
    {
        font-size: 11px !important;
        -webkit-text-size-adjust: none;
    }

    .ms-rteImage-ImageSpanFull
    {
        width: 100%;
    }

    .ms-rteElement-Richtext-IntroStatement
    {
        font-size: 14px !important;
        line-height: 16px !important;
        padding-bottom: 25px !important;
    }

    .ms-rteElement-Richtext-IntroStatementLastParagraph
    {
        font-size: 14px !important;
        line-height: 16px !important;
        padding-bottom: 0px !important;
    }

    DIV.ms-rteElement-Richtext-BodyCopy
    {
        font-size: 11px !important;
        padding-bottom: 20px !important;
    }

    .ms-rteElement-LeftParagraph, .ms-rteElement-RightParagraph
    {
        font-size: 11px !important;
        padding-bottom: 20px !important;
    }

    .ms-rteElement-Richtext-BodyCopyLastParagh
    {
        font-size: 11px !important;
        -webkit-text-size-adjust: none;
    }
}

@media (min-width: 321px) and (max-width: 640px)
{
    .altriacustom-rteElement-Richtext-IntroStatement
    {
        font-size: 14px !important;
        line-height: 16px !important;
        padding-bottom: 20px !important;
    }

    DIV.altriacustom-rteElement-Richtext-BodyCopy
    {
        font-size: 11px !important;
        padding-bottom: 20px !important;
        -webkit-text-size-adjust: none;
    }

    .altriacustom-rteElement-LeftParagraph, .altriacustom-rteElement-RightParagraph
    {
        font-size: 11px !important;
        padding-bottom: 20px !important;
    }

    .altriacustom-rteElement-Richtext-BodyCopyLastParagh
    {
        font-size: 11px !important;
        -webkit-text-size-adjust: none;
    }

    .altriacustom-rteImage-ImageSpanFull
    {
        width: 100%;
    }

    .ms-rteElement-Richtext-IntroStatement
    {
        font-size: 14px !important;
        line-height: 16px !important;
        padding-bottom: 20px !important;
    }

    DIV.ms-rteElement-Richtext-BodyCopy
    {
        font-size: 11px !important;
        padding-bottom: 20px !important;
        -webkit-text-size-adjust: none;
    }

    .ms-rteElement-LeftParagraph, .ms-rteElement-RightParagraph
    {
        font-size: 11px !important;
        padding-bottom: 20px !important;
    }

    .ms-rteElement-Richtext-BodyCopyLastParagh
    {
        font-size: 11px !important;
        -webkit-text-size-adjust: none;
    }

    .ms-rteImage-ImageSpanFull
    {
        width: 100%;
    }
}

@media (min-width: 320px) and (max-width:640px)
{
    .altriacustom-rteElement-Richtext-IntroStatement
    {
        font-size: 14px !important;
        padding-bottom: 25px !important;
        line-height: 16px !important;
        -webkit-text-size-adjust: none;
    }

    .altriacustom-rteElement-Richtext-IntroStatementLastParagraph
    {
        font-size: 14px !important;
        line-height: 16px !important;
        padding-bottom: 0px !important;
        -webkit-text-size-adjust: none;
    }

    DIV.altriacustom-rteElement-Richtext-BodyCopy
    {
        font-size: 11px !important;
        padding-bottom: 20px !important;
        -webkit-text-size-adjust: none;
    }

    .altriacustom-rteElement-Richtext-BodyCopyLastParagh
    {
        font-size: 11px !important;
        -webkit-text-size-adjust: none;
    }

    .altriacustom-rteImage-ImageSpanFull
    {
        width: 100%;
    }

    DIV.altriacustom-rteElement-LeftParagraph
    {
        float: none;
        width: 100%;
        /*margin-left: auto;
        margin-right: auto;*/
        padding-bottom: 0px;
    }

    .altriacustom-rteElement-LeftParagraph IMG
    {
        margin-left: auto;
        margin-right: auto;
        display: block;
        max-width: 100% !important;
    }

    DIV.altriacustom-rteElement-RightParagraph
    {
        float: none;
        width: 100%;
    }

    DIV.ms-rteElement-Richtext-BodyText, DIV.altriacustom-rteElement-RightParagraph, .altriacustom-rteElement-RightParagraph UL LI
    {
        font-size: 11px !important;
        -webkit-text-size-adjust: none;
    }

    .ms-rteElement-Richtext-IntroStatement
    {
        font-size: 14px !important;
        padding-bottom: 25px !important;
        line-height: 16px !important;
        -webkit-text-size-adjust: none;
    }

    .ms-rteElement-Richtext-IntroStatementLastParagraph
    {
        font-size: 14px !important;
        line-height: 16px !important;
        padding-bottom: 0px !important;
        -webkit-text-size-adjust: none;
    }

    DIV.ms-rteElement-Richtext-BodyCopy
    {
        font-size: 11px !important;
        padding-bottom: 20px !important;
        -webkit-text-size-adjust: none;
    }

    .ms-rteElement-Richtext-BodyCopyLastParagh
    {
        font-size: 11px !important;
        -webkit-text-size-adjust: none;
    }

    .ms-rteImage-ImageSpanFull
    {
        width: 100%;
    }

    DIV.ms-rteElement-LeftParagraph
    {
        float: none;
        width: 100%;
        /*margin-left: auto;
        margin-right: auto;*/
        padding-bottom: 0px;
    }

    .ms-rteElement-LeftParagraph IMG
    {
        margin-left: auto;
        margin-right: auto;
        display: block;
        max-width: 100% !important;
    }

    DIV.ms-rteElement-RightParagraph
    {
        float: none;
        width: 100%;
    }
}

@media (min-width: 320px) and (max-width:1024px)
{
    .altriacustom-rteElement-Richtext-AltriaTable .last
    {
        padding-left: 10px !important;
    }

    .ms-rteElement-Richtext-AltriaTable .last
    {
        padding-left: 10px !important;
    }
}
