.section {clear: both;padding: 0px;margin: 0px; }
.group:before,
.group:after {content:""; display:table;}
.group:after {clear:both;}
.group {zoom:1; /* For IE 6/7 (trigger hasLayout) */}
.column {display: block;float:left;margin-right:1%;margin-bottom:1%;margin-left: 10px; margin-top:10px;}

/*Teaser Width Settings*/
.span_1_of_4 {width: 24.1%;}
.span_3_of_3 {width: 100%; }
.span_2_of_3 {width: 32.2%; }
.span_1_of_3 {width: 31.2%; height: 150px; overflow:hidden; }
.span_2_of_2 {width: 48.2%;}
.span_1_of_2 {width: 48.2%;}
.span_2 {width: 100%;}
.span_1 {width: 100%;}

.marginleftzero {margin-left:0px }
.divTeaser {width: 100%;max-width: 1200px;overflow: hidden;}
.teasertitle {color: #033788;font-size: 16px ;font-family: Stag Book,Arial;letter-spacing:.5px;padding-bottom:10px;}
.divteaserdescriptionblock {font-size: 11px !important; font-family: 'Stag Med',Arial;letter-spacing:.1em;color: #666666;}
.divteaserdescriptionblock A:link{color: #033788;}
.divteaserdescriptionblock A:visited{color: #033788;}
.divteaserdescription {font-size: 11px !important;font-family: Arial;color: #666666;}
.divteaserdescription p {margin-top:0;margin-bottom:1em;}
.divteaserdescription a {color: #033788;}
.divteaserdescription A:link{color:#033788;}
.divteaserdescription A:visited{color:#033788;}
.teaserdescription {padding-top: 10px !important;padding-bottom:10px;}
.teaserimage img {width: 100%;z-index:10;position:relative;height:181px;}
.divteaserdescription .ms-rteElement-Richtext-Arrow {padding-top:5px;}
.TeaserWhiteBackground {background-color: white;} 
.TeaserGrayBackground {background-color: #eeeeee;}

#v5-sidebar-content .TeaserGrayBackground,
.responsiveTeaser .TeaserGrayBackground
 {
    padding: 15px !important;
}

#v5-sidebar-content .TeaserGrayBackground .divleftnavfulldescriptionblock,
.responsiveTeaser .TeaserGrayBackground .divleftnavfulldescriptionblock {
    width: 90%;
}

.teaservideo img {
    margin-left: 20px;
    margin-right: 20px;
    max-width:100%;
    height:auto;
}
.divteaserdescription .ms-rteElement-Richtext-Arrow a:link,.divteaserdescription .ms-rteElement-Richtext-RemoveArrow a:visited,.divteaserdescription .ms-rteElement-Richtext-Arrow a:visited
{
    font-family: Arial;
    font-style: normal;
    font-size: 11px !important;
    color: #0066cc !important;
    margin-right: 10px;
    background-image:url(../images/Arrow.png)/*tpa=http://www.altria.com/_Layouts/ALCS.AltriaCom/images/Arrow.png*/;
    background-position:right center;
    background-repeat:no-repeat;
    padding-right: 16px;
    text-decoration:none;
}
.divteaserdescription .ms-rteElement-Richtext-RemoveArrow a:link
{
    font-family: Arial;
    font-style: normal;
    font-size: 11px !important;
    color: #0066cc !important;
    font-weight:bolder;
}

.divteaserdescription .ms-rteElement-Richtext-RemoveArrow a:visited{color: #0066cc !important;}
.divteaserdescription .ms-rteElement-Richtext-Arrow a:hover{text-decoration:underline;}
.divteaserdescription .ms-rteElement-Richtext-Arrow a:visited{color: #0066cc !important;}
.divteaserdescription .ms-rteElement-Richtext-Arrow img{width:auto;height:auto;float:none !important;}
.divteaserdescription .ms-rteElement-Richtext-SubHeading {font-family: 'Stag Med',Arial;letter-spacing:.1em;font-size:14px;color:#666666;}

.divteaserdescriptionblock img {
    width: 116px;
    height: 116px;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
    float: left;
    margin-right: 24px;
}

  .TeaserGrayBackground .teaserimage {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    max-height: 156px;
    }

.divpagebodyteaserblock p {
    margin: 0;
}

.divTeaserPlayButton {
    background: transparent url('../images/Teasers_PlayButton.png')/*tpa=http://www.altria.com/_Layouts/ALCS.AltriaCom/images/Teasers_PlayButton.png*/ no-repeat;
    z-index: 11;
    cursor: pointer;
    width:51px;
    height:50px;
    position:relative;
    margin-top:-225px;
    left:43%;
    top:122px;
}

.divpagebodyteaserblock img{
    width:100%;
    height:auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
    float: left;
}

.teaserVideoTitle {
   font-family: 'Stag Med',Arial;
   padding-bottom:10px;
    font-size:18px;
    letter-spacing:.5px;
    color:#ffffff;
    z-index: 11;
    text-align:center;
    position:relative;
    top:20px;
}
.teaserImageTitle {
    font-family: 'Stag Med',Arial;
    padding-bottom:10px;
    letter-spacing:.5px;
    font-size:18px;
    color:#ffffff;
    z-index: 11;
    text-align:center;
    position:relative;
    bottom:100px;
}
.divvideoteaser {height: 181px;}
.divvideoteaser img {width:100% !important;height:181px;}
.divimageteaser {height: 181px;}
.divimageteaser img {width: 100% !important;height: 181px;}
.divpagebodyteaserblock {margin:15px 15px 15px 15px;overflow:hidden;}
.bodyPageTeaser {height:181px; overflow:hidden;/*margin-bottom:20px;*/}
.span_1 .bodyPageTeaser {height:auto;min-height:181px;}
.altriaThreeColumnRow .bodyPageTeaser {min-width:0;margin-bottom:10px;}


.pagebodyteasersmaindiv {width: 100%;float: left;padding-bottom:15px;}
.pagebodyteasertitle {color: #033788;font-size: 16px ;font-family: Stag Book,Arial;letter-spacing:.5px;line-height: 1.1em;padding-bottom:10px;}
.pageheaderteasertitle {color: #033788;font-size: 16px ;font-family: Stag Book,Arial;letter-spacing:.5px;line-height: 1.1em;padding-bottom:10px;}
.pagebodyteasertitle a:link, .pagebodyteasertitle a:visited {color: #0066cc !important;}
.teasertitlelink {color:#0066cc !important;}
.teasertitlelink a:link {color:#0066cc !important;}
.teasertitlelink a:visited {color:#0066cc !important;}
.teasertitlelink a:hover {text-decoration: underline;}
.teasertitle a {color:#0066cc !important;}
.teasertitle a:link {color:#0066cc !important;}
.teasertitle a:visited {color:#0066cc !important;}
.teasertitle a:hover {text-decoration: underline;}

.divteasersHeader {
    color: #033788;
    font-size: 22px;
    font-family: Stag Med,Arial;
    letter-spacing:.5px;
    line-height: 1.1em;
    margin-bottom:5px;
}
.keylines {
  background: transparent url('../images/border_landing_teaser.jpg')/*tpa=http://www.altria.com/_Layouts/ALCS.AltriaCom/images/border_landing_teaser.jpg*/ repeat-y;
  height:135px;
  width:10px;
  float:left;
  margin-right:10px;
}
.span_2_of_3 .divteaserimageblock {width: 42.5%; margin-right:10px;}
.divteaserimageblock img {width:100%;height:auto;/*max-height:150px;*/max-width:150px;vertical-align: middle;border: 0; -ms-interpolation-mode: bicubic;float: left;}
.bodyPageTeaser .divteaserimageblock img {max-width: 150px;max-height:150px !important;}
.span_2_of_3 .divpagebodyteaserdescriptionblock {width:53.2%;float:left;/*margin-left:4.3%;*/margin-bottom:15px;}
.span_1_of_2 .divteaserimageblock {/*width: 38%;*/}
.span_1_of_2 .divpagebodyteaserdescriptionblock {width:56.7%;float:left;margin-left:3%;margin-bottom:15px;}
.span_1_of_3 .divteaserimageblock {width: 32.5%;}
.span_1_of_3 .divpagebodyteaserdescriptionblock {width:60.5%;float:left;margin-left:7%}
.diverrormessage {color: red;}

.span_1 {margin-bottom:10px !important;}
.span_1 .divleftnavImageblock {width: 39%;float:left;margin-right:6%;}
.span_1 .divleftnavdescriptionblock {width: 55%;float:left}
.span_1 .divleftnavfulldescriptionblock {width: 100%;}

.span_1 .divteaserimageblock {width: 24%;}
.altriaLargeHorizontalRow .span_1 .divteaserimageblock {width: 20%;}
.span_1 .divteaserfullimageblock {width: 100%;}
.span_1 .divteaserfullimageblock img {width: 100%;}


.divleftnavImageblock img {width: 100%;}
.teaserleftnavigation {margin-top: 20px;border-bottom:1px solid #EEEEEE;padding-bottom:25px;margin-left:0px;}
/*.divTeaser .teaserleftnavigation:last-child {border-bottom: 0;padding-bottom: 0px;}*/
.divteaserimageblock {float: left;}
.divpagebodyteaserdescriptionblock{float: left;}
.span_1 .divpagebodyteaserdescriptionblock {width:70%;margin-left:10px;}
.altriaLargeHorizontalRow .span_1 .divpagebodyteaserdescriptionblock {width: 75%;margin-left:10px;}
.teaserleftnavigation:first-child {margin-top: 0px;}
.column.span_1.bodyPageTeaser.TeaserGrayBackground, .column.span_1.bodyPageTeaser.TeaserWhiteBackground {height: auto !important;}

.divpagebodyteaserdescription a:link {color:#0066cc !important;}
.divpagebodyteaserdescription a:visited {color:#0066cc !important;}
.divpagebodyteaserdescription a:hover {text-decoration: underline;}
.divpagebodyteaserdescription ul {margin-top: 0px;padding-left: 22px;}
.divpagebodyteaserdescription ul li {padding-bottom: 2px;}
.divpagebodyteaserdescription ul li:last-child {padding-bottom: 0px;}
.divteaserdescription ul {padding-left: 20px;}
.noborder {border: 0px !important; padding-bottom:0px !important; margin-bottom:0px !important;}
.ms-rteElement-Richtext-BodyText a:link, .ms-rteElement-Richtext-BodyText a:visited {color: #0066cc !important;}
.ms-rteElement-Richtext-BodyText a:hover {color: #0066cc !important;text-decoration: underline !important;}
/*********************Responsive Design (Media Queries)*************************************************/


@media (min-width: 741px) and (max-width:1180px) {
    .span_1_of_3 {width: 31.2%; height: 180px;}
    .divteaserdescriptionblock img {max-width: 76px;height: 76px;}

    .bodyPageTeaser {/*min-width:227px;*/min-height:179px;height:220px;}
    .span_1 .bodyPageTeaser {min-width: 0;}

    .teaserimage img {height:220px;}
    .divimageteaser img {height:220px;}
    .divvideoteaser img {height:220px;}


    .divpagebodyteaserblock {margin:10px 10px 10px 10px;}
    .span_2_of_3 .divteaserimageblock {width:32.5%;}
    .span_2_of_3 .divpagebodyteaserdescriptionblock {width:59.5%;float:left;/*margin-left:4%;*/margin-bottom:10px;}
    .span_1_of_2 .divteaserimageblock {width:33.5%;}
    .span_1_of_2 .divpagebodyteaserdescriptionblock {width:62.2%;float:left;/*margin-left:4.3%;*/margin-bottom:10px;}

    .TeaserGrayBackground .teaserimage {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
    }
    .column.span_1.bodyPageTeaser.TeaserGrayBackground, .column.span_1.bodyPageTeaser.TeaserWhiteBackground {height: auto !important;}
}


@media (min-width:700px) and (max-width:790px) {
  .span_2_of_2 {width: 47.9%;}
  .span_1_of_2 {width: 47.9%;}
}

@media only screen and (min-width:761px) and (max-width:890px) {
    .altriaLandingTeaser {
     width: 100%; float: left;
    }
}

@media (min-width: 0px) and (max-width:740px) {

    .column {margin: 1% 0 1% 1%;}
    
    /*Teaser Width Settings*/
    .span_3_of_3,
    .span_2_of_3,
    .span_1_of_2  {margin-bottom: 10px;margin-right: 10px;width: 46.5%;}

    .span_1_of_4 {width: 49.2%;}
	.span_1_of_3 {width: 90%; height:auto; margin-bottom:20px;}
    .span_2_of_2 {width: 100%;}

    .bodyPageTeaser {height:181px;}

    /*Teaser Body Block*/
    .span_3_of_3 .divpagebodyteaserblock,
    .span_2_of_3 .divpagebodyteaserblock,
    .span_1_of_2 .divpagebodyteaserblock {height:181px;}

    .TeaserGrayBackground .divpagebodyteaserblock {margin: 15px;}
    .divpagebodyteaserblock {margin: 0;}

    /*Teaser Image Block*/
    .divteaserdescriptionblock img {max-width: 76px;height: 76px;}
    .divpagebodyteaserblock img {display:block;width:100%;height:181px;max-width:100%;}
    #altiaHomepageTeasers .divpagebodyteaserblock img {height:auto;}

    .divteaserfullimageblock {display: none;}

    /*Teaser Full Image*/
    .divimageteaser {height: auto;}
    .divimageteaser img {max-height:181px;}
    
    /*Teaser Video Title*/
    .TeaserGrayBackground .teaserVideoTitle {margin: 15px;}
    .TeaserWhiteBackground .teaserVideoTitle {margin-left: 15px;}

  
    /*Teaser Video Block*/
    .divTeaserPlayButton {left: 35%;}
    .span_1 .divTeaserPlayButton {left: 45%;}
    
     /*Teaser Description Block*/
    .span_3_of_3 .divpagebodyteaserdescriptionblock, 
    .span_2_of_3 .divpagebodyteaserdescriptionblock,
    .span_1_of_2 .divpagebodyteaserdescriptionblock {width: 100%; margin-left:0%}

    .span_1_of_3 .divpagebodyteaserdescriptionblock {width:79%;float:left;margin-left:3.5%}

    /*Teaser Description with Image*/
    
    .span_1_of_3 .divpagebodyteaserblock img {display:block;}

    .span_1 .divleftnavImageblock img {display:none;}
    .span_1 .divteaserimageblock {display:none;}
    .span_1 .divleftnavdescriptionblock {width: 100%;float:left}

    
    /*Teaser Image BLock*/
    .span_1_of_3 .divteaserimageblock {width:17.5%;}
    
    .span_1_of_2 .divteaserimageblock,
    .span_2_of_3 .divteaserimageblock {display:none;}

    .altriaLargeHorizontalRow .span_1 .divteaserimageblock {width: 100%;}

    /*Landing Teaser Block*/
    .altriaLandingTeaser {width: 100%;}
    .altriaLandingTeaser .span_2_of_2 {clear: both;width:100%; }

    /*Teaser General*/
    .divTeaser .span_2_of_3:nth-child(odd) {margin-left: 0px;}
    .divTeaser .span_1_of_2:nth-child(odd) {margin-left: 0px;}
    .column.span_1.bodyPageTeaser.TeaserGrayBackground, .column.span_1.bodyPageTeaser.TeaserWhiteBackground {height: auto !important;}
    .altriaLargeHorizontalRow .span_1 .divpagebodyteaserdescriptionblock {width: 98%;}  

}

@media (min-width: 0px) and (max-width:400px) {
    .column {margin: 0% 0 0% 0%;}

    /*Teaser Width Settings*/
    .span_1_of_2,
    .span_2_of_3,
    .span_3_of_3,
    .span_1_of_4 {width: 100%;}

    .span_1_of_3 {width: 90%; margin-bottom:30px;height:auto;}

    .TeaserGrayBackground {background-color: #ffffff;}
    .divvideoteaser img {display: block;}
    .span_2_of_2 .divpagebodyteaserdescription{display:none;}
    .bodyPageTeaser {min-height: 0px;background-color: #fff !important;padding-bottom:22px;height:auto;}

    /*Teaser Body Block*/
    .divpagebodyteaserblock {margin: 0px;}
    .span_2_of_3 .divpagebodyteaserblock,
    .span_2_of_3 .divpagebodyteaserblock,
    .span_1_of_2 .divpagebodyteaserblock {height: auto;}
    

    /*Teaser Image Block */
    .span_1_of_2 .divteaserimageblock { display: none;}

    .divteaserfullimageblock {display: none;}

    /*Teaser Video Block*/
    .divvideoteaser {display: none;}
    .divTeaserPlayButton {background: url("../../ALCS.Enterprise/images/hubPlay_buttons.png")/*tpa=http://www.altria.com/_LAYOUTS/ALCS.Enterprise/images/hubPlay_buttons.png*/ no-repeat scroll 0 -176px transparent;cursor: pointer;float: right;height: 36px;left: auto;margin-top: auto;top: -2px;width: 55px;}

    /*Teaser Video Title*/
    .teaserVideoTitle,
    .span_2_of_3 .teaserVideoTitle { left: 0px;color: #033788; position:static; text-align:left;font-family: 'Stag Book',Arial;letter-spacing:.5px;}
    .TeaserGrayBackground .teaserVideoTitle {margin-top:15px;margin-bottom:15px;margin-left:0;}
    .TeaserWhiteBackground .teaserVideoTitle {margin: 0;}

    /*Teaser Description Block*/
    .span_2_of_3 .divpagebodyteaserdescriptionblock,
    .span_1_of_2 .divpagebodyteaserdescriptionblock,
    .span_1_of_3 .divpagebodyteaserdescriptionblock {width: 100%;margin-left:0%;margin-bottom:0px;}

    .altriaLargeHorizontalRow .span_1 .divpagebodyteaserdescriptionblock {width: 100%;margin-left: 0;}
    /*#altiaHomepageTeasers .span_1_of_3 .divpagebodyteaserdescriptionblock {float: left;margin-left: 3.5%;width: 79%;}*/

    /*Teaser Description with Image*/
    .divteaserdescriptionblock img {display: none;}
    .span_1_of_3 .divpagebodyteaserblock img {display:none;}
     /*#altiaHomepageTeasers .divpagebodyteaserblock img {display:block;height:auto;}*/
     

     /*Teaser General*/
    .pageheaderteasertitle { font-size: 14px;}
    .teaserImageTitle {left: 0px;color: #0066cc; position:static; text-align:left;font-family: 'Stag Book',Arial;letter-spacing:.5px;font-size:14px !important;}
    .divimageteaser {height: 20px;}
    .TeaserGrayBackground .divpagebodyteaserblock,
    .TeaserWhiteBackground .divpagebodyteaserblock {margin: 0px;}
    .TeaserGrayBackground .teaserVideoTitle{margin: 0px;}
    #v5-sidebar-content .TeaserGrayBackground, .responsiveTeaser .TeaserGrayBackground{padding: 0px !important;}
    .column.span_1.bodyPageTeaser.TeaserGrayBackground {
        background-color: #EEEEEE !important;padding:15px !important;
    }
    .span_1.bodyPageTeaser .divpagebodyteaserblock .divpagebodyteaserdescriptionblock {
        width:90% !important;
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    .divpageheaderdescription {display:none;}
    .teasertitle {padding-bottom:10px;font-size:14px;}
    .keylines {height:17px;width:10px;float:left;margin-right:10px;}
    .span_2_of_2 {width: 100%;}
    .pagebodyteasertitle {font-size: 14px; -webkit-text-size-adjust: none;}
    .teaserVideoTitle {font-size: 14px;  }
    .pageheaderteasertitle { font-size: 14px;}
    
}

@media only screen and (max-width: 480px) {
}
/*********************Responsive Design (Media Queries)*************************************************/