.facebook, .twitter, .youtube, .blog {
	float:left;
	margin-right:6px;
	width:30px;
	height:32px !important;
}

.facebook a, .twitter a, .youtube a, .blog a {
	display:block;
	width:100%;
	height:100%;
}

.facebook, .twitter, .youtube, .blog {
	background: transparent url(../../../SiteCollectionImages/social-icons.png)/*tpa=https://www.unfi.com/SiteCollectionImages/social-icons.png*/ no-repeat 0 0  !important;	
}

.facebook {
	background-position:0 0 !important;
}

.facebook:hover {
	background-position:0 -33px !important;
}

.twitter {
	background-position:-38px 0 !important;
}

.twitter:hover {
	background-position:-38px -33px !important;
}

.youtube {
	background-position:-77px 0 !important;
}

.youtube:hover {
	background-position:-77px -33px !important;
}

.blog {
	background-position:-115px 0 !important;
}

.blog:hover {
	background-position:-115px -33px !important;
}