/* 
================================================================================================================================ CREDITS
Copyright : Copyright 2012 The Hershey Company. All Rights Reserved.
Date : 02/13/2012
Notes : Global CSS for global header and footer.
================================================================================================================================ BEGIN CSS
*/

/* ============================================================================================================================= GLOBAL HEADER */
.gh { 
	font-family: Helvetica,Arial,sans-serif !important; 
	background: url('../images/global/gh_bg.gif')/*tpa=http://www.thehersheycompany.com/assets/images/global/gh_bg.gif*/ repeat-x scroll top left; 
	height: 23px;
	text-align: left; 
	position: relative; 
	z-index: 9999;
} 
.gh a, .gf a { color: white; font-size: 10px; text-decoration: none; } 
.gf a { font-size: 12px; }
.gh a.top_nav { 
	background: url("../images/global/gh_nav_off.gif")/*tpa=http://www.thehersheycompany.com/assets/images/global/gh_nav_off.gif*/ no-repeat scroll right 8px transparent; 
	font-weight: normal; 
	margin-right: 7px; 
	padding-right: 12px; 
	display: inline-block; /*height: 21px; */
	line-height: 23px;
} 
.gh a.top_nav:hover, .gh li.active a.top_nav 
{ background: url('../images/global/gh_nav_on.gif')/*tpa=http://www.thehersheycompany.com/assets/images/global/gh_nav_on.gif*/ no-repeat right 8px; color: white; } 

.gh a.no_children { background-image: none !important; } 
.gh p, .gh h1, .gh h2, .gh h3 { margin: 5px 0; } 
.gh li { float: left; display: block; margin: 0 4px; height: 23px; } 
.gh ul.r li.top_nav { float: right; } 
.gh ul { position: relative; z-index: 1; } 
.gh ul.l { margin-left: 10px; } 
.gh ul.l .gh_subnav { left: -10px; } 
.gh ul.r { margin-right: 10px; width: 430px; } 
.gh ul.r .gh_subnav { right: -10px; -moz-box-shadow: -2px 2px 16px black; -webkit-box-shadow: -2px 2px 16px black; } 
.gh ul.r .gh_subnav ul	 { width: 500px; } 
.gh ul.r .gh_subnav ul.last  { width: auto; } 
.gh li.strong, .gh li.strong a, a.strong { font-weight: bold; text-transform: none !important; } 

.gh a.ad_alert { height: 15px; width: 70px; }
.gh a.ad_alert:hover { color: #FFF200; }	

.gh .privacy_policy { margin-top: 5px; line-height: 23px; } 
.gh ul li { color: #250d0d; } 
.gh h4 { 
	margin: 0.25em 0; 
	font-family: Arial, Helvetica, sans-serif !important; 
	font-size: 13px !important; 
	font-weight: bold;
	color: #250d0d !important;
	text-transform: none !important;
}

.gh .gh_subnav { 
	overflow: hidden;
	display: none; 
	background: transparent url('../images/global/gh_bg_expanded.png')/*tpa=http://www.thehersheycompany.com/assets/images/global/gh_bg_expanded.png*/ repeat-x scroll bottom left; 
	width: 710px; 
	height: 195px; 
	position: absolute; 
	top: 20px; 
	z-index: 9999; 
	-moz-box-shadow: 2px 2px 16px black; 
	-webkit-box-shadow: 2px 2px 16px black;
}
.gh .active .gh_subnav { display:block; }
.gh .gh_subnav .inner { margin: 15px 0 15px 15px; } 
.gh .gh_subnav ul { border-right: 1px solid #A87863; height: 160px; margin: 0 5px 0 0; padding-right: 5px; top: 0px; width: 166px; } 
.gh .gh_subnav ul.last { margin-right: 0px; padding-right: 0px; border-right: 0px; } 
.gh .gh_subnav li { float: none; line-height: 13px; height: auto; } 
.gh .gh_subnav a { color: #250d0d; text-transform: uppercase; } 

.gh .gh_subnav a: hover { color: #ee7d21; } 
.gh .gh_subnav p { line-height: 17px; color: #250d0d; } 

#gh_find_hersheys_sites .slideMe { width: 2000px; position: relative; } 
#gh_find_hersheys_sites .slideMe .slide_panel { float: left; width: 700px; left: -7px; position: relative; } 
 
#gh_promotions p { width: 500px; } 
	
/* ============================================================================================================================= GLOBAL FOOTER */
.gf	{ font-family: Helvetica,Arial,sans-serif !important; padding-top: 15px; } 
.gf .bbb { 
	background: url("../images/global/bbb.png")/*tpa=http://www.thehersheycompany.com/assets/images/global/bbb.png*/ no-repeat scroll left top transparent;
	height: 50px;
	margin: 0 38px 0 0;
	position: relative;
	top: -10px;
	width: 152px;
}
.gf a, .gf p { margin: 6px 0 0 25px; padding: 0 2px; font-size: 12px; float: left; } 
.gf a strong { color: #240c0c; } 
.gf p { float: right; } 
.gf .ad_alert { 
	color: #FFF200;
	font-size: 12px;
	height: 20px;
	line-height: 12px;
	margin: 3px 0 0;
	width: 82px;
} 
.gf a.privacy_policy { color: #FFF200; font-weight: bold; } 
.gf * { border: 0px solid green; } 

/* ============================================================================================================================= AD ALERT */
a.ad_alert { 
	background: url('../images/global/ad-alert.gif')/*tpa=http://www.thehersheycompany.com/assets/images/global/ad-alert.gif*/ no-repeat scroll top left;
	color: #FFF200;	
	width: 99px; 
	position: relative; /*top: -5px; */ 
	display: block; 
	margin: 0 auto;
	padding: 6px 0 0 27px;
	line-height: 10px;
} 

div#ad_alert_text { width: 400px; color: #520300; line-height: 20px; height: 200px; padding: 10px; } 
div#ad_alert_text hr { color: #bfbfbf; border-width: 0px 0px 2px 0px; } 
		
a.privacy_policy { color: #FFF200; } 

div#ad_alert_text hr { color: #bfbfbf; border-width: 0px 0px 2px 0px; } 

/* ============================================================================================================================= Common Classes */
/*  Rounded corners - use rall / rolls for a fully rounded corners in either small (ralls) or normal (rall) */
.rtl{-moz-border-radius-topleft: 2px; -webkit-border-top-left-radius: 2px;}
.rtr{-moz-border-radius-topright: 2px; -webkit-border-top-right-radius: 2px;}
.rbl{-moz-border-radius-bottomleft: 2px; -webkit-border-bottom-left-radius: 2px;}
.rbr{-moz-border-radius-bottomright: 2px; -webkit-border-bottom-right-radius: 2px;}
.rall{-moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px;-moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px;}
.ralls{-moz-border-radius-topleft: 2px; -webkit-border-top-left-radius: 2px; -moz-border-radius-topright:2px; -webkit-border-top-right-radius: 2px; -moz-border-radius-bottomleft: 2px; -webkit-border-bottom-left-radius: 2px;-moz-border-radius-bottomright: 2px; -webkit-border-bottom-right-radius: 2px;}

/* Shadow Classes - available in a few colors, sizes etc. */
.shadow{-webkit-box-shadow:5px 5px 50px;-moz-box-shadow:5px 5px 50px;}
.shadowSmall {-webkit-box-shadow:2px 2px 10px gray;-moz-box-shadow:2px 2px 10px gray;}
.shadowTiny {-webkit-box-shadow:1px 1px 3px gray;-moz-box-shadow:1px 1px 3px gray;}

.textShadow{text-shadow: 1px 2px 10px #000;}

/* ==================================== Share This */
.share_wrap	{position:relative;display:inline;z-index:1000;}
.share_wrap a	{cursor:pointer;}
.share_wrap a.share_button {
	background: #750000 url('../images/global/plusminus-white.png')/*tpa=http://www.thehersheycompany.com/assets/images/global/plusminus-white.png*/ no-repeat 6px 6px; 
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #ffffff;
	display: block;
	font: 11px/20px Arial, Helvetica, sans-serif;
	height: 20px; 
	padding: 0 0 0 8px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 53px; 
}
.share_wrap .share_button.open { background-position: -86px 6px; }
.share_wrap .drop_down { 
	display: none; 
	width: 250px; /*height: 110px;*/
	position: absolute; 
	right:-150px; 
	background: #fff;
	border: 1px solid #dfdfdf; 
	-moz-box-shadow: 2px 2px 3px #888; 
	z-index: 1000; 
	padding: 15px 0 7px; 
	top:18px;
}
.share_wrap .drop_down ul { position:relative!important;left:auto!important;top:auto!important;margin:0!important;float:none!important;width: auto!important; height: auto!important;} /* set ul styles in site css */
.share_wrap .drop_down li { float: left; width: 90px; margin: 0 0 10px 20px; }
.share_wrap .drop_down li a { font-weight: bold; padding-left: 20px; display:inline-block;line-height:20px!important; color: #472b22; text-indent: 0; }
.share_wrap a#mixx-link { background: url(../images/global/sm-sprite.png)/*tpa=http://www.thehersheycompany.com/assets/images/global/sm-sprite.png*/ no-repeat left -3px; }
.share_wrap a#del-link { background: url(../images/global/sm-sprite.png)/*tpa=http://www.thehersheycompany.com/assets/images/global/sm-sprite.png*/ 0 -32px no-repeat; }
.share_wrap a#reddit-link { background: url(../images/global/sm-sprite.png)/*tpa=http://www.thehersheycompany.com/assets/images/global/sm-sprite.png*/ 0 -65px no-repeat; }
.share_wrap a#stumble-link { background: url(../images/global/sm-sprite.png)/*tpa=http://www.thehersheycompany.com/assets/images/global/sm-sprite.png*/ 0 -95px no-repeat; }
.share_wrap a#myspace-link { background: url(../images/global/sm-sprite.png)/*tpa=http://www.thehersheycompany.com/assets/images/global/sm-sprite.png*/ 0 -126px no-repeat; }
.share_wrap a#twitter-link { background: url(../images/global/sm-sprite.png)/*tpa=http://www.thehersheycompany.com/assets/images/global/sm-sprite.png*/ 0 -159px no-repeat; }
.share_wrap a#digg-link { background: url(../images/global/sm-sprite.png)/*tpa=http://www.thehersheycompany.com/assets/images/global/sm-sprite.png*/ 0 -192px no-repeat; }
.share_wrap a#facebook-link { background: url(../images/global/sm-sprite.png)/*tpa=http://www.thehersheycompany.com/assets/images/global/sm-sprite.png*/ 0 -223px no-repeat; }
.share_wrap a#blog-link { background: url(../images/global/sm-sprite.png)/*tpa=http://www.thehersheycompany.com/assets/images/global/sm-sprite.png*/ 0 -254px no-repeat; }

/* ==================================== Standard Video Player (remove once we implement the new video player) */
.video_holder { margin: auto; width: 604px; }
.video_holder_with_playlist { margin: auto; width: 722px; }
.video_holder h2, .video_holder_with_playlist h2 { margin: 0 0 10px; font-size: 30px; font-weight: bold; color: #60200c; }
.video_player { position: relative; float: left;z-index:10;position:relative;}
.video_playlist { position: relative; width: 118px; height: 280px; top: -23px; float: right; }
.video_playlist h2 { position: relative; font-size: 11px; font-weight: bold; height: 13px; color: #60200c; }
.video_playlist a { height: 70px; width: 118px; display: block; }
.video_playlist a img { height: 100%; width: 100%; }
.video_playlist .playlist_shadow { position: relative; z-index: 4; background: url(../images/global/video_player/playlist_shadow.png)/*tpa=http://www.thehersheycompany.com/assets/images/global/video_player/playlist_shadow.png*/ repeat-y; width: 26px; height: 340px; top: -280px; float: left; }
.video_playlist .simply-scroll-container { position: relative; background: #000; top: 30px; }
.video_playlist .simply-scroll-clip { position: relative; overflow: hidden; z-index: 2; }
.video_playlist .simply-scroll-list { position: absolute; top: 0; left: 0; z-index: 1; overflow: hidden; }
.video_playlist .simply-scroll-btn-up { position: absolute; top: -30px; background: url(../images/global/video_player/playlist_up_on.png)/*tpa=http://www.thehersheycompany.com/assets/images/global/video_player/playlist_up_on.png*/ no-repeat; width: 118px; height: 30px; z-index:3; cursor: pointer; }
.video_playlist .simply-scroll-btn-up.disabled { position: absolute; background: url(../images/global/video_player/playlist_up_off.png)/*tpa=http://www.thehersheycompany.com/assets/images/global/video_player/playlist_up_off.png*/ no-repeat; width: 118px; height: 30px; z-index:3; cursor: pointer; }
.video_playlist .simply-scroll-btn-down { position: absolute; bottom: -30px; background: url(../images/global/video_player/playlist_down_on.png)/*tpa=http://www.thehersheycompany.com/assets/images/global/video_player/playlist_down_on.png*/ no-repeat; width: 118px; height: 30px; z-index:3; cursor: pointer; }
.video_playlist .simply-scroll-btn-down.disabled { position: absolute; background: url(../images/global/video_player/playlist_down_off.png)/*tpa=http://www.thehersheycompany.com/assets/images/global/video_player/playlist_down_off.png*/ no-repeat; width: 118px; height: 30px; z-index:3; cursor: pointer; }
.video_playlist .vert { width: 118px; height: 280px; }
.video_playlist .vert .simply-scroll-clip { width: 118px; height: 280px; }
.projekktor { background-color:#000; position:relative; padding:0; margin:0; display:block; }
.ppcontrols { position: absolute; bottom: 0; right:0; display: block; overflow: hidden; width: 100%; height: 30px; background: url(../images/global/video_player/background.png)/*tpa=http://www.thehersheycompany.com/assets/images/global/video_player/background.png*/ repeat-x scroll 0 0; padding: 0; margin:0; }
.ppplay { display:block; position: absolute; top: 0; left: 0; background: url(../images/global/video_player/play.png)/*tpa=http://www.thehersheycompany.com/assets/images/global/video_player/play.png*/ no-repeat center center transparent; width: 48px; height: 30px; cursor: pointer; }
.pppause { display:none; position: absolute; top: 0; left: 0; width: 48px; height: 30px; cursor: pointer; background:url(../images/global/video_player/pause.png)/*tpa=http://www.thehersheycompany.com/assets/images/global/video_player/pause.png*/ no-repeat center center transparent; }
.ppfsenter { display:block; position: absolute; top: 0; right: 1px; width: 48px; height: 30px; background:url(../images/global/video_player/fullscreen_on.png)/*tpa=http://www.thehersheycompany.com/assets/images/global/video_player/fullscreen_on.png*/ no-repeat center center transparent; cursor: pointer; }
.ppfsexit { display:block; position: absolute; top: 0; right: 1px; width: 48px; height: 30px; background: url(../images/global/video_player/fullscreen_off.png)/*tpa=http://www.thehersheycompany.com/assets/images/global/video_player/fullscreen_off.png*/ no-repeat center center transparent; cursor: pointer; }
.ppscrubber { position: absolute; display: block; left: 48px; bottom: 0; height: 30px; width: 100%; background:url(../images/global/video_player/scrubberbg.png)/*tpa=http://www.thehersheycompany.com/assets/images/global/video_player/scrubberbg.png*/ repeat-x scroll 0 0; margin: auto; padding: 0; }
.ppplayhead, .pploaded { position: absolute; display: block; left: 0; bottom: 0; height: 30px; width: 1px; cursor: pointer; z-index: 301; }
.pploaded {	z-index: 10;	background: url(../images/global/video_player/scrubber_loaded.png)/*tpa=http://www.thehersheycompany.com/assets/images/global/video_player/scrubber_loaded.png*/ repeat-x scroll 0 0;}
.ppplayhead {	margin-top: -5px;	background: url(../images/global/video_player/scrubber_played.png)/*tpa=http://www.thehersheycompany.com/assets/images/global/video_player/scrubber_played.png*/ repeat-x scroll 0 0;}
.ppvmax { cursor: pointer; position: absolute; top: 0; right: 49px; width: 48px; height: 30px; background: url(../images/global/video_player/sound_on.png)/*tpa=http://www.thehersheycompany.com/assets/images/global/video_player/sound_on.png*/ no-repeat center center transparent; }
.ppmute { cursor: pointer; position: absolute; top: 0; right: 49px; width: 48px; height: 30px; background:url(../images/global/video_player/sound_off.png)/*tpa=http://www.thehersheycompany.com/assets/images/global/video_player/sound_off.png*/ no-repeat center center transparent; }
.pptestcard { background: url(../images/global/video_player/testcard.png)/*tpa=http://www.thehersheycompany.com/assets/images/global/video_player/testcard.png*/ center center repeat-y; width: 100%; height: 100%; color: red; font-size: 24px; overflow: hidden; }
.pptestcard p { background-color: #ccc; width: 50%; margin: auto; line-height: 25px; position: relative; top: 40%; padding: 10px; border:5px solid #000;text-align: center; }
.ppbuffering { position: absolute; left: 50%; bottom: 50%; margin-left:-30px; margin-bottom: -30px; display: block; z-index:8000; padding: 0px;background: url(../images/global/video_player/buffering.gif)/*tpa=http://www.thehersheycompany.com/assets/images/global/video_player/buffering.gif*/ no-repeat center center #fdfdfd; height: 60px; width: 60px; -moz-border-radius:15px; -webkit-border-radius: 15px; display: none; }
.ppstart { position: absolute; left: 50%; bottom: 50%; margin-left:-40px; margin-bottom: -35px; cursor: pointer; height: 75px; width: 80px; display:block; z-index:8000; padding: 0px; background: url(../images/global/video_player/start.png)/*tpa=http://www.thehersheycompany.com/assets/images/global/video_player/start.png*/ no-repeat center center transparent; }

/* ==================================== Nutritional Info Table defaults */
.nutrition tr.odd { background-color:#eee6e4; }

.single-col-tpl h1, .single-col-tpl h2, .single-col-tpl h3, .single-col-tpl h4, .single-col-tpl h5, .single-col-tpl h6 {margin:1em 0em;}
.single-col-tpl li p {margin-bottom:1em;}
.single-col-tpl .btn {text-decoration:none;}
#legal.single-col-tpl ol {margin: 1em 0 1.5em 1em;}
#legal.single-col-tpl table {left:0}
#legal.single-col-tpl td {vertical-align:top;padding:1em 0px;text-align:left;}

.pixel { display: inline; font-size: 0; line-height: 0; }

/* ==================================== social media share tool bar */
.social-media-buttons .fb-like, .pinterest-widget-wrapper { float: left; }
.social-media-buttons .twitt-widget-wrapper, .socialbadges .twitt-widget-wrapper { float: left; padding-left: 25px; }

@media print {
	.social-media-buttons { display: none !important; }
}

/* ==================================== Carousel */
.carousel	{ overflow:hidden;position:relative;}
.carousel ul	{left:0;margin:0 0 0 -48px;position:absolute;top:42px;width:4000px;}
.carousel li	{ float:left; margin:0; width:137px; text-align:center; }
.carousel li img	{ margin:0 auto;position: relative;}
.carousel_pager	{ position:absolute;top:110px; display:block; height:23px;}

/* ==================================== Contact Form */
.contact-form	{}
.contact-form p a	{font-weight:inherit;font-color:inherit;}
.contact-form fieldset	{padding:0;margin:0;border:none;}
.contact-form .first	{margin-left:0!important;}
.contact-form p	{width:440px;}
.contact-form p.curly	{float:left;width:260px;}
.contact-form p.curly strong	{background:url("../images/hersheycompany/curly.gif")/*tpa=http://www.thehersheycompany.com/assets//images/hersheycompany/curly.gif*/ no-repeat scroll 25px 0 transparent;display:block;float:left;padding:5px 30px 47px 0;}
.contact-form select, .contact-form option	{ font-size:11px;font-weight:bold;color:#561b04; padding:5px 4px 5px 5px;}
.contact-form option	{padding:0;}
.contact-form select, .contact-form input.input-text, .contact-form textarea	{-moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px;-moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px;}
.contact-form input.input-text	{border-top:1px solid #cabebe;border-top-style:inset;border-left:1px solid #e4dede;border-left-style:inset;}
.contact-form input.input-radio	{margin-bottom:0;}
.contact-form textarea	{margin:0;color:#561B04;font-size:12px;}
.contact-form label	{ font-size:12px; font-weight:bold; color:#240d0d;margin-right:5px; margin-left:10px;}
.contact-form label a	{ color:#7D7D7D;margin-left:10px;}
.contact-form label[for=optIn], .contact-form label[for=findInfo]	{margin-left:0;}
.contact-form input.submit	{font-weight:bold;margin-bottom:0;}
.contact-form .field	{float:left;margin-right:10px;margin-bottom:15px;}
.contact-form .field label	{display:block;margin-left:0;}
.contact-form .field input, .contact-form .field select	{margin:0;width:95%;}
.contact-form .field input	{width:93%;}
.contact-form .field textarea	{width:92%;}
.ar	{text-align:right;}
.contact-form .ar	{line-height:25px;}
.contact-form .width10	{width:10%;}
.contact-form .width17	{width:15%;}
.contact-form .width17 .input-text	{width:87%;}
.contact-form .width33	{width:30%;}
.contact-form .width50	{width:46%;}
.contact-form .width50 .input-text	{width:97%;}
.contact-form .width67	{width:67%;}
.contact-form .form-row	{margin-bottom:10px;}
.dob-error 	{margin:5px 0 0 5px;}
.dob-error span	{color:red;}
	
/* ==================================== Leaving Hersheys Modal Popup */

#leavingNotice{ background-color:#EEEEEE; border:1px solid black; display:block; height:396px;left:25%;opacity:0.95; overflow:auto;	position:fixed;	top:25%;width:712px;z-index:1110;}
#leavingNotice .inner{margin:10px auto; width:95%;}
#leavingNotice .inner hr {margin: 10px 0px;}
#leavingNotice .inner h2{font-size:2em;	margin-top:25px; text-align:center;}
#leavingNotice .inner p{color:black;font-size:16px;margin:20px auto; width:550px;}
#leavingNotice .modal_button{margin-left: 80px; display:block; float:left;margin-bottom:0px; margin-top: 15px; padding:12px 10px 0;text-align: center;text-decoration:none;}
#leavingNotice .modal_button span{position: relative; font-size: 15px; font-weight: normal; top: 6px; left: -16px; color: #620101;}
#leavingNotice .leaving_go{background: url('../images/global/button_bg_arrow_right.png')/*tpa=http://www.thehersheycompany.com/assets/images/global/button_bg_arrow_right.png*/ no-repeat scroll top left; width: 217px;height: 79px;}
#leavingNotice .leaving_stay{background: url('../images/global/button_bg_square.png')/*tpa=http://www.thehersheycompany.com/assets/images/global/button_bg_square.png*/ no-repeat scroll top left; width: 199px;	height: 81px;}

#leavingNotice .leaving_go span{top:17px;}
#leavingNotice .modal_button:hover{text-decoration: none;}
#leavingNotice .modal_wrapper{}

#kitchens_signup {width: 376px;}

/* ==================================== Autocomplete Defaults */
.ac_results { padding: 0px; border: 1px solid #A48875; background-color: white; overflow: hidden; z-index: 99999; }
.ac_results ul { width: 100%; list-style-position: outside; list-style: none; padding: 0; margin: 0; }
.ac_results li { text-align:left; margin: 0px; padding: 2px 5px; cursor: default; display: block; /* if width will be 100% horizontal scrollbar will apear when scroll mode will be used */ /*width: 100%;*/ font: menu; font-size: 12px; /* it is very important, if line-height not setted or setted in relative units scroll will be broken in firefox */ line-height: 16px; overflow: hidden; }
.ac_loading { background: white url('../images/global/indicator.gif')/*tpa=http://www.thehersheycompany.com/assets/images/global/indicator.gif*/ right center no-repeat; }
.ac_odd { background-color: #eee; }
.ac_over { background-color: #F78E1E; color: white; }

/* ==================================== Search Results */
.search_container li{margin: 20px 0px;}
.search_container li a{font-size: 15px; color:#240C0C;}
.search_container li li{margin: 5px 0px;}

/* ============================================================================================================================= FLOATS / BASICS */
.r { float: right; } 
.l { float: left; } 
.cl { clear: both; height: 0; overflow: hidden; } 
.cl_l { clear: left; } 
.cl_r { clear: right; } 
.clear { clear: both; }
.cf { *zoom:1; }
.cf:after {
    clear: both;
}
.cf:before, .cf:after {
    content: "";
    display: table;
} 
.main { width: 960px; margin: auto; } 
.hidden { display: none; } 
.rel { position: relative; } 

/* Image Replace */
.replace { display: block; background-repeat: no-repeat; text-indent: -999em; } 