/* START IMAGE SLIDER COMPONENT */
/* width and height are commented out as they're set by config - left here for reference */

div.image-slider {
    position: relative;
    z-index: 200 !important; /* width: 720px; height: 285px; */
}

div.image-slider a {
    z-index: 200 !important
}

div.image-slider a.nolink {
    cursor: default
}

div.image-slider div.content {
    position: absolute;
    z-index: 200 !important
    /*width: 720px; height: 285px*/
}

div.image-slider div.content div.slide {
    position: absolute;
    z-index: 200
}

div.image-slider div.content div.slide img,
div.image-slider div.bottom-overlay img {
    border-width: 0;
    border-style: none !important;
    margin: 0px;
    padding: 0px
}

div.image-slider div.bottom-overlay {
    position: absolute;
    /*width: 720px; height: 30px; */
    bottom: 3px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    z-index: 201 !important;
}

div.image-slider div.playback {
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}

div.image-slider div.playback a {
    background: url('../images/slideshow/playback.png')/*tpa=http://www.safeway.com/CMS/loyalty/images/slideshow/playback.png*/ 0px 0px no-repeat;
    width: 73px;
    height: 25px;
    display: block;
    text-decoration: none !important;
}

div.image-slider div.playback a.play {
    background-position: -146px 0px;
}

div.image-slider div.playback a.play:hover {
    background-position: -219px 0px;
}

div.image-slider div.playback a.pause {
    background-position: 0px 0px;
}

div.image-slider div.playback a.pause:hover {
    background-position: -73px 0px;
}

div.image-slider div.scroll {
    float: right;
    margin-right: 10px;
    margin-top: 7px;
}

div.image-slider div.scroll a {
    display: block;
    text-decoration: none
}

div.image-slider div.scroll ul {
    margin: 0;
    padding: 0;
    list-style: none
}

div.image-slider div.scroll ul li {
    margin: 0;
    padding: 0;
    float: left
}

div.image-slider div.scroll a.previousImage {
    background: url('../images/slideshow/arrow.png')/*tpa=http://www.safeway.com/CMS/loyalty/images/slideshow/arrow.png*/ 0 0 no-repeat;
    background-position: 0px 0px;
    width: 19px;
    height: 20px;
}

div.image-slider div.scroll a.previousImage:hover {
    background-position: -19px -0px;
}

div.image-slider div.scroll a.nextImage {
    background: url('../images/slideshow/arrow.png')/*tpa=http://www.safeway.com/CMS/loyalty/images/slideshow/arrow.png*/ 0 0 no-repeat;
    background-position: -38px -0px;
    width: 19px;
    height: 20px;
}

div.image-slider div.scroll a.nextImage:hover {
    background-position: -57px -0px;
}

div.image-slider div.scroll a.radio {
    background: url('../images/slideshow/radio.png')/*tpa=http://www.safeway.com/CMS/loyalty/images/slideshow/radio.png*/ 0 0 no-repeat;
    background-position: 0px 0px;
    width: 23px;
    height: 20px;
}

div.image-slider div.scroll a.radio:hover {
    background-position: -23px 0px;
}

div.image-slider div.scroll a.selected {
    background: url('../images/slideshow/radio.png')/*tpa=http://www.safeway.com/CMS/loyalty/images/slideshow/radio.png*/ 0 0 no-repeat;
    background-position: -46px 0px;
    width: 23px;
    height: 20px;
}

div.image-slider div.scroll a.selected:hover {
    background: url('../images/slideshow/radio.png')/*tpa=http://www.safeway.com/CMS/loyalty/images/slideshow/radio.png*/ 0 0 no-repeat;
    background-position: -46px 0px;
}

/* END IMAGE SLIDER COMPONENT */
