/* Omnicare Stylesheet  */

@font-face {
    font-family: "Font1";
     src: url("../images/font1edit.eot")/*tpa=http://www.omnicare.com/images/font1edit.eot*/;	
     src: local("Font1"), url("../images/font1edit.ttf")/*tpa=http://www.omnicare.com/images/font1edit.ttf*/ format("truetype"), url("../images/font1edit.svg")/*tpa=http://www.omnicare.com/images/font1edit.svg*/ format("svg");
     font-weight:normal;
     font-style:normal;
     font-variant:normal;
  }

@font-face {
    font-family: "Font1Bold";
     src: url("../images/font1bold.eot")/*tpa=http://www.omnicare.com/images/font1bold.eot*/;	
     src: local("Font1"), url("../images/font1bold.ttf")/*tpa=http://www.omnicare.com/images/font1bold.ttf*/ format("truetype"), url("../images/font1bold.svg")/*tpa=http://www.omnicare.com/images/font1bold.svg*/ format("svg");
     font-weight:normal;
     font-style:normal;
     font-variant:normal;
  }

body {
	background-color: #fff;
	margin: 0px;
	padding: 0px;
	text-align: center;	
	font-family: Verdana, Helvetica, sans-serif;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	margin-top: 8px;
	margin-bottom: 8px;
	font-weight: normal;
}
h2 a{
	text-decoration: none;
}
h2 a:hover{
	text-decoration: underline;
}
h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	margin-top: 8px;
	margin-bottom: 8px;
	font-weight: bold;
}
h3 a{
	text-decoration: none;
}
h3 a:hover{
	text-decoration: underline;
}
img {
	border: none;
}

.MainContainer {
	background-color: #FFF;
	width: 960px;
	text-align: left;
	margin-left:auto;
	margin-right:auto;
}
.TopNav {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	text-align: right;
	padding-top: 15px;
	padding-right: 15px;
	position: relative;
	top: 0px;
	height: 40px;
	width: 100%;
}
.TopNav a{
	text-decoration: none;
	color: #4d4d4f;
}
.TopNav a:hover {
	text-decoration: underline;
}
.MainNav {
	font-family: "Font1Bold", Helvetica Neue, sans-serif;
	font-size: 11pt;
	text-align: left;
	float: left;
	padding-left: 0px;
	position:relative;
	top:30px;
	padding-bottom: 10px;
	width: 100%;
	height: 73px;
}
.MainNav span{
	margin-left: 17px;
}
.MainNav a{
	color: #007DC2;
	text-decoration: none;
	padding-right: 5px;
	padding-left: 5px;
}
.MainNav a:hover{
	color: #0CF;
}
.MainNav img{
	position:relative;
	top:-30px;
}

.feature {
	background-image:url(../images/home_feat.jpg)/*tpa=http://www.omnicare.com/images/home_feat.jpg*/;
	height: 282px;
	width: 960px;
	background-repeat: no-repeat;
	clear: left;
	top: 10px;
	position: relative;
	text-align: left;
}
#featureText {
	color: #535353;
	font-family: "Font1", Helvetica Neue, sans-serif;
	clear: left;
	font-size: 13pt;
	margin: 40px;
	width: 280px;
	text-align: center;
	display: block;
	position: relative;
	line-height: 30px;
}
.LongTermCont {
	background-image: url(../images/gradient_blue.gif)/*tpa=http://www.omnicare.com/images/gradient_blue.gif*/;
	background-repeat: repeat-x;
	width: 654px;
	height: 400px;
	background-position: bottom;
	float: left;
	font-family: Arial, sans-serif;
	font-size: 9pt;
	border-bottom: 8px solid #007CC1;
}
.BluePillHeading {
	/*background-image:url(/images/pill_wheel_blue.gif);*/
	font-family: "Font1", Helvetica Neue, sans-serif;
	color: #535353;
	font-size: 20px;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-position: left;
	/*padding-left: 40px;*/
	padding-top: 5px;
	padding-bottom: 5px; 
	margin-top: 20px;
	margin-left: 30px;
	/*width: 584px;*/
	width: 900px;
}
.BluePillHeading a{
	color: #535353;
	text-decoration: none;
}
.BluePillHeading a:hover{
	text-decoration: underline;
}

.OrangePillHeading {
	background-image:url(../images/pill_wheel_orange.gif)/*tpa=http://www.omnicare.com/images/pill_wheel_orange.gif*/;
	font-family: "Font1", Helvetica Neue, sans-serif;
	color: #535353;
	font-size: 20px;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-position: left;
	padding-left: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 20px;
	margin-left: 12px;
}
.OrangePillHeading a{
	color: #535353;
	text-decoration: none;
}
.OrangePillHeading a:hover{
	text-decoration: underline;
}
.TechSolHeading {
	font-family: "Font1", Helvetica Neue, sans-serif;
	color: #535353;
	font-size: 20px;
	vertical-align: middle;
}
.TechSolHeading a{
	color: #535353;
	text-decoration: none;
}
.TechSolHeading a:hover{
	text-decoration: underline;
}

.LongTermColLeft {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4d4d4f;
         width: 271px;
         	height: 300px;
	padding-top: 10px;
	float: left;
	padding-bottom: 11px;
	position: relative;
	margin-left: 31px;
	margin-right:33px;
}

.LongTermColLeft h3{
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}
.MainContent .LongTermColLeft  {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 1em;
	width: 309px;
	height: 100%;
	padding-left: 0px;
	padding-right: 24px;
}
.MainContent .LongTermColLeft h5{
	font-size: 1.1em;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	padding-bottom: 5px;
}
.MainContent .LongTermColLeft h5 a{
	text-decoration: none;
}
.MainContent .LongTermColLeft h5 a:hover {
	text-decoration: underline;
}

.LongTermColMid {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #4d4d4f;
	width: 237px;
	height: 300px;
	padding-top: 10px;
	float: left;
	padding-bottom: 11px;
	margin-left:31px;
	
}

.LongTermColDivider {
	width: 1px;
	height: 330px;
	padding-top: 10px;
	float: left;
	border-right: 2px dashed silver;
}

.Spacer {
	width: 11px;
	height: 295px;
	padding-top: 10px;
	float: left;
}


.LongTermColMid h3{
	text-align: center;
}
.MainContent .LongTermColMid {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 1em;
	width: 309px;
	height: 100%;
	padding-left: 25px;
	padding-right: 0px;
}
.MainContent .LongTermColMid h5{
	font-size: 1.1em;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	padding-bottom: 5px;
}
.MainContent .LongTermColMid h5 a{
	text-decoration: none;
}
.MainContent .LongTermColMid h5 a:hover {
	text-decoration: underline;
}

.SpecCol {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #4d4d4f;
	width: 271px;
	height: 300px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left:12px;
	margin-right:12px;
	float: left;
}
.SpecCont {
	background-image: url(../images/gradient_pink.gif)/*tpa=http://www.omnicare.com/images/gradient_pink.gif*/;
	background-repeat: repeat-x;
	width: 295px;
	height: 400px;
	background-position: bottom;
	float: left;
	font-family: Arial, sans-serif;
	font-size: 9pt;
	border-bottom: 8px solid #F8A15E;
}
.SubHeader {
	clear: left;
	padding-top: 5px;
	padding-bottom: 10px;
	height:30px;
	width:100%;
}
.Crumbs {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	display: table-row;
	float: left;
	margin-left: 0px;
	width: 962px;
	height: 40px;
	background-image:url(../images/dottedBlue.gif)/*tpa=http://www.omnicare.com/images/dottedBlue.gif*/;
	background-repeat: repeat-x;
	background-position: 0px 30px;
}
.Crumbs ul {
	list-style-type:none;
	margin:0;
	padding:0;
}
.Crumbs li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	display: table-row;
	color: #333;
	float: left;
	padding: 3px;
}
.Crumbs a{
	color: #4d4d4f;
	text-decoration: none;
}
.Crumbs a:hover{
	text-decoration: underline;
}
.tools {
	position: relative;
	right: 10px;
	float: right;
	bottom: 35px;
}
.tools img {
	position: relative;
	z-index: 99;
}
#breadcrumb .level1.active.on a{
	color: #007dc2;
}
#breadcrumb .level2.active.on a{
	color: #007dc2;
}
#breadcrumb .level3.active.on a{
	color: #007dc2;
}
#breadcrumb .level4.active.on a{
	color: #007dc2;
}
#breadcrumb .level5.active.on a{
	color: #007dc2;
}
#breadcrumb .level6.active.on a{
	color: #007dc2;
}

.LeftNav {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #007dc2;
	float: left;
	padding-right: 28px;
	padding-top: 10px;
	width: 172px;
}
.LeftNav ul {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #007dc2;
	position:relative; z-index:500;
	margin-left:0px;
	list-style-type:none;
	margin:0;
	padding:0;
	display:block;
}
.lv1 li a{
	/*background-image:url(/images/dottedBlue.gif);*/
	background-repeat: repeat-x;
	background-position: top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	position:relative; z-index:500;
	margin-left:0px;
	list-style-type:none;
	display:block;
	padding-top: 8px;
	padding-bottom: 8px;
}
.LeftNav.lv1 li a:hover{
	color: #007dc2;
}

.LeftNav ul a{
	text-decoration:none;
}
.LeftNav ul ul{
	margin-left:10px;
}
.LeftNav.lv1 .selected{
	display:block;
	color: #007dc2;
	}
.LeftNav.lv1 .selected.hasChildren{
	display:none;
}
.LeftNav.lv1 .selected.branch.hasChildren{
	display:block;
}
.selected a{
	/*background: #e5e5e5;*/
}

.lv2 li a{
	/*background: #fff;*/
	padding-left: 2px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-decoration:none;
	font-size: 90%;
}

.lv3 li a{
	/*background: #fff;*/
	padding-left: 2px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-decoration:none;
	font-size: 85%;
}

.lv4 li a{
	/*background: #fff;*/
	padding-left: 2px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-decoration:none;
	font-size: 80%;
}

.lv5 li a{
	/*background: #fff;*/
	padding-left: 2px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-decoration:none;
	font-size: 75%;
}

.lv1 .lv2 li a:hover{
	/*background: #e5e5e5;*/
	color: #007dc2;
}

.lv2 .selected a {
	/*background: #e5e5e5;*/
}
.lv2 .lv3 a{
	/*background: #fff;*/
	padding-left: 2px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.lv2 .lv3 .selected a{
	/*background: #e5e5e5;*/
}


#nav .level5.active.on a{
	background-color: #e5e5e5;
}

#nav .level5.active.on .level5{
	background-color: #fff;
}

#oltcgNav a{
	display:block;
	padding-bottom: 8px;
	text-decoration: none;
}
#oltcgNav a:hover{
	color: #999;
}
#oltcgNav .header {
	color: #007dc2;
	clear: both;
	padding-top: 3px;
}
#oltcgNav .pharm {
	color: #007dc2;
	background-image: url(../images/bulletBlueCol.png)/*tpa=http://www.omnicare.com/images/bulletBlueCol.png*/;
	background-repeat: no-repeat;
	background-position: 0px 6px;
	padding-left: 13px;
	padding-top: 3px;
	font-weight: bold;	
	clear: both;
	float: left;
	width: 100px;

}
#oltcgNav .pharmOn {
	color: #007dc2;
	background-image: url(../images/bulletBlueExp.png)/*tpa=http://www.omnicare.com/images/bulletBlueExp.png*/;
	background-repeat: no-repeat;
	background-position: 0px 6px;
	padding-left: 13px;
	padding-top: 3px;
	font-weight: bold;
	clear: both;
	float: left;
}

#oltcgNav .pharmItem a {
	color: #007dc2;
}
#oltcgNav .pharmItem a:hover {
	background:#007dc2; 
	color:#fff;
}

#oltcgNav .pharmItem .level5.active.on a{
	color: #007dc2;
}
#oltcgNav .accu {
	color: #716fb3;
	background-image: url(../images/bulletPurpCol.png)/*tpa=http://www.omnicare.com/images/bulletPurpCol.png*/;
	background-repeat: no-repeat;
	background-position: 0px 6px;
	padding-left: 13px;
	padding-top: 3px;
	font-weight: bold;
	clear: both;
	float: left;
}
#oltcgNav .accuOn {
	color: #716fb3;
	background-image: url(../images/bulletPurpExp.png)/*tpa=http://www.omnicare.com/images/bulletPurpExp.png*/;
	background-repeat: no-repeat;
	background-position: 0px 6px;
	padding-left: 13px;
	padding-top: 3px;
	font-weight: bold;
	clear: both;

}
#oltcgNav .accuItem a {
	color: #716fb3;
}
#oltcgNav .accuItem a:hover {
	background:#716fb3; color:#fff;
}

#oltcgNav .accuItem .level5.active.on a{
	color: #716fb3;
}

#oltcgNav {position:relative; z-index:500; display:block; margin-left:0px;}
#oltcgNav ul {list-style:none; width:146px; padding:0px; background:#fff; margin-bottom:5px; margin-left:10px;}
#oltcgNav ul ul {position:absolute; left:-9999px;}
#oltcgNav ul ul ul {position:absolute; left:-9999px;}
#oltcgNav table {border-collapse:collapse; width:0; height:0; position:absolute; left:-1px; top:-1px;}
#oltcgNav ul li {width:146px; background:#fff; margin:0;}
#oltcgNav ul ul li {background:#fff;}
#oltcgNav ul ul ul li {background:#e5e5e5;}
#oltcgNav ul li a {display:block; width:146px; padding:5px 5px 5px 13px; font:normal 12px Arial, Helvetica, sans-serif; color:#007dc2; background:#fff; clear:left; text-decoration:none; }
#oltcgNav ul li a.fly {background:#abc url(../file-not-found.aspx)/*tpa=http://www.omnicare.com/css/multi-line/arrow.gif*/ no-repeat 100px center;}
#oltcgNav ul ul li a {display:block; padding:5px 5px 5px 13px; font:normal 12px Arial, Helvetica, sans-serif; color:#007dc2; text-decoration:none; background:#e5e5e5; clear:left; border-bottom: 1px solid white;}
#oltcgNav ul ul ul li a {display:block; padding:5px 5px 5px 13px; font:normal 12px Arial, Helvetica, sans-serif; color:#007dc2; text-decoration:none; background:#e5e5e5; clear:left; border-bottom: 1px solid white;}

#oltcgNav ul li:hover {position:relative;}
#oltcgNav ul li a:hover {direction:ltr; background:#e5e5e5; color:#333; position:relative;}
/* this makes the Pharmacy | Technology Solutions| Omniview for Facilities link disappear when it's sublinks are hovered over: #oltcgNav ul li:hover > a {background:#007dc3; color:#fff;}
*/
/*flyout
#oltcgNav ul :hover ul,
#oltcgNav ul :hover ul :hover ul,
#oltcgNav ul :hover ul :hover ul :hover ul,
#oltcgNav ul :hover ul :hover ul :hover ul :hover ul
#oltcgNav ul :hover ul :hover ul :hover ul :hover ul :hover ul {left:155px; top:0px;
	-moz-box-shadow: 5px 5px 5px #999;
	-webkit-box-shadow: 5px 5px 5px #999;
	box-shadow: 5px 5px 5px #999;

}
*/
#oltcgNav ul :hover ul ul,
#oltcgNav ul :hover ul :hover ul ul,
#oltcgNav ul :hover ul :hover ul :hover ul ul
#oltcgNav ul :hover ul :hover ul :hover ul :hover ul ul {left:-9999px;}

#oltcgNav ul li {float:left;}

#oltcgNav .level4.on,
#oltcgNav .level5.on{
	background-image: url(../images/bulletBlueExp.png)/*tpa=http://www.omnicare.com/images/bulletBlueExp.png*/;
	background-repeat: no-repeat;
	background-position: 0px 10px;
}
#oltcgNav .level4.on ul,
#oltcgNav .level5.on ul,
#oltcgNav .level6.on ul {
	left: 3px;
	position: relative;
}
#oltcgNav .level4.on li a,
#oltcgNav .level5.on li a,
#oltcgNav .level6.on li a {
	background: #fff;
	width: 132px;
	border-left: 1px solid #eeeede;
	border-bottom: 0px;
	font-size: 11px;
}
#oltcgNav .level4.on li a:hover,
#oltcgNav .level5.on li a:hover, 
#oltcgNav .level6.on li a:hover {
	background: #e5e5e5;
	color: #007dc2;
}

#oltcgNav .level5.active.on > a {
	background-image: url(../images/bulletBlueExp.png)/*tpa=http://www.omnicare.com/images/bulletBlueExp.png*/;
	background-repeat: no-repeat;
	background-position: 0px 10px;
	background: #fff;
	color: #007dc2;
}

#oltcgNav .level6.active.on a {
	background: #e5e5e5;
	color: #007dc2;
}

.SubContent{
	background-image: url(../images/subGradientBlue.gif)/*tpa=http://www.omnicare.com/images/subGradientBlue.gif*/;
	background-repeat: repeat-x;
	color: #4d4d4f;
	background-color: #d9ebf5;
	border-bottom: 8px solid #007dc2;
	position: relative;
	top: 0px;
	float: left;
	width: 760px;
	padding: 0px;
	text-align: left;
}
.SubContent a{
	color: #007DC2;
}
.SubContent.accu{
	background-image: url(../images/subGradientPurp.gif)/*tpa=http://www.omnicare.com/images/subGradientPurp.gif*/;
	background-repeat: repeat-x;
	background-color: #e8e8f2;
	border-bottom: 8px solid #716fb3;
}

.SubContent p{
	margin-top: 0px;
}
.SubContent ul{
	margin-top: -10px;
}
.SubContent h2{
	font-family: Verdana, Helvetica, sans-serif;
	color: #007DC2;
	font-weight: normal;
	font-size: 1.4em;
	margin-bottom: 0px;
}
.SubContent h3{
	font-family: Verdana, Helvetica, sans-serif;
	font-weight: bold;
	color: #007DC2;
	font-size: 1.2em;
	margin-bottom: 0px;
	margin-top: 0px;
}
.SubContent h4{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #007DC2;
	font-size: 1.2em;
	margin-bottom: 0px;
	margin-top: 0px;
}
.SubContent h5{
	font-weight: bold;
	color: #007DC2;
	font-size: 1.0em;
	margin-bottom: 0px;
}
.SubContent.accu h2{
	color: #716fb3;
}
.SubContent.accu h3{
	color: #716fb3;
}
.SubContent.accu h4{
	color: #716fb3;
}
.SubContent.accu h5{
	color: #716fb3;
}
.SubContent.tide h2{
	color: #65b460;
}
.SubContent.tide h3{
	color: #65b460;
}
.SubContent.tide h4{
	color: #65b460;
}
.SubContent.tide h5{
	color: #65b460;
}
.SubContent table {
	border-collapse:collapse;
	width: 100%;
}
.SubContent table th{
	border:1px solid white;
	background-color: #007dc2;
	padding: 5px;
	color: white;
	font-weight: bold;
	text-align: left;
}
.SubContent table td{
	border:1px solid white;
	padding: 2px;
	vertical-align: top;
}
.odd {
	background-color: white;
}
.even {
	background-color: #cce5f3;
}
#noStyle table {
	width: 100%;
	border-collapse:collapse;
	border: none;
}
#noStyle td {
	border: none;
	vertical-align: middle;
	text-align: left;
}
#noStyle .captionSmall {
	font-family: HelveticaNeueLT, sans-serif;
	font-size: 1.2em;
	text-align: center;
	color: #007DC2;
	padding-bottom: 8px;
}
.PageTitle{
	font-family: "Font1", Helvetica Neue, sans-serif;
	background-image:url(../images/pill_wheel_bluesub.gif)/*tpa=http://www.omnicare.com/images/pill_wheel_bluesub.gif*/;
	color: #007DC2;
	font-size: 32px;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-position: left;
	padding-left: 39px;
	padding-bottom: 5px;
	padding-top: 2px;
	margin-bottom: 20px;
	margin-left: 30px;
	margin-top: 10px;
}
.PageTitle.accu{
	font-family: "Font1", Helvetica Neue, sans-serif;
	background-image:url(../images/pill_wheel_purple.gif)/*tpa=http://www.omnicare.com/images/pill_wheel_purple.gif*/;
	color: #716fb3;
}
.PageTitle.tide{
	font-family: HelveticaNeueLT, Helvetica Neue, sans-serif;
	background-image:url(../images/pill_wheel_green.gif)/*tpa=http://www.omnicare.com/images/pill_wheel_green.gif*/;
	color: #65b460;
}
.MainContent{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: .7em;
	margin-left: 37px;
	margin-right: 37px;
	padding-bottom: 20px;
	position: relative;
	top: 0px;
}
.MainColumn{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: .7em;
	width: 423px;
	margin-left: 37px;
	margin-right: 30px;
	float: left;
	padding-bottom: 20px;
	position: relative;
	top: 0px;
}
.RightColumn{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: .7em;
	width: 240px;
	margin-left: 0px;
	margin-right: 30px;
	float: right;
	position: relative;
	top: 0px;
}
.caption {
	font-family: HelveticaNeueLT, sans-serif;
	font-size: 1.4em;
	text-align: center;
	color: #007DC2;
	line-height: 1.6em;
}
.captionSmall {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: .9 em;
	color: #007DC2;
}
.captionXSmall {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: .7 em;
	font-style: italic;
	color: #007DC2;
}
.SubContent.accu .caption {
	color: #716fb3;
}
.SubContent.tide .caption {
	color: #65b460;
}
#nav .level2 {
	{display:block; font:normal 12px Arial, Helvetica, sans-serif; padding:5px 5px 5px 0px; color:#007dc2; text-decoration:none; clear:left; }

}
#nav .level3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333;
}
#nav .level4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333;
}
#nav .level5 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333;
}

#nav .level6 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333;
}


#omniviewColumn {
	width: 270px;
	z-index: 100;
	position: relative;
	left: -10px;
	top: -56px;
	background-image:url('../images/omniview_colHeader.png')/*tpa=http://www.omnicare.com/images/omniview_colHeader.png*/;
	background-repeat:no-repeat;
	background-position:right top;
	padding-top: 96px;
}
#omniviewColumn dl {
	background-image:url('../images/curveBorderBlueBot.png')/*tpa=http://www.omnicare.com/images/curveBorderBlueBot.png*/;
	background-repeat:no-repeat;
	background-position:right bottom;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	padding-bottom: 16px;
	margin-bottom: 10px;
}
#omniviewColumn dd{
	background-color: white;
	border-left: 5px solid #80bee0;
	border-right: 5px solid #80bee0;
	list-style-type: none;
	padding: 10px;
	margin: 0px;
}

#omniviewColumn h3{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #007DC2;
	font-size: 1.3em;
	margin-bottom: 0px;
}
#omniviewColumn h4{
	font-weight: bold;
	color: #007DC2;
	font-size: 1.0em;
	margin-bottom: 0px;
}
#omniviewColumn ul{
	padding-left: 15px;
	margin: 0px;
}


#investToolkit {
	width: 188px;
	clear: both;
	position: relative;
	background-image:url('../images/investorToolkitTop.png')/*tpa=http://www.omnicare.com/images/investorToolkitTop.png*/;
	background-repeat:no-repeat;
	background-position: top;
	padding-top: 55px;
	margin-top: 20px;
}
#investToolkit ul{
	list-style-type: none;
	padding-left: 13px;
	padding-right: 10px;
	margin: 0px;
	padding-top: 10px;
	padding-bottom: 0px;
	border-left: 1px solid #007dc2;
	border-right: 1px solid #007dc2;
}
#investToolkit li {
	padding-left: 32px;
	padding-bottom: 5px;
	padding-top: 5px;
	font-family: verdana, arial, helvetica;
	font-size: 11px;
	color: #4c4d4f;
}
#investToolkit a{
	color: #4c4d4f;
}
#investToolkit .share{
	background-image:url('../images/iconBreifcase.png')/*tpa=http://www.omnicare.com/images/iconBreifcase.png*/;
	background-repeat:no-repeat;
	background-position:left;
}
#investToolkit .print{
	background-image:url('../images/iconFolder.png')/*tpa=http://www.omnicare.com/images/iconFolder.png*/;
	background-repeat:no-repeat;
	background-position:left;
}
#investToolkit .email{
	background-image:url('../images/iconEmail.png')/*tpa=http://www.omnicare.com/images/iconEmail.png*/;
	background-repeat:no-repeat;
	background-position:left;
}
#investToolkit .download{
	background-image:url('../images/iconDownload.png')/*tpa=http://www.omnicare.com/images/iconDownload.png*/;
	background-repeat:no-repeat;
	background-position:left;
}
#investToolkit .rss{
	background-image:url('../images/iconRSS.png')/*tpa=http://www.omnicare.com/images/iconRSS.png*/;
	background-repeat:no-repeat;
	background-position:left;
}
#investToolkit .financial{
	background-image:url('../images/iconDoc.png')/*tpa=http://www.omnicare.com/images/iconDoc.png*/;
	background-repeat:no-repeat;
	background-position:left;
}
.curved {background: url(../images/curveTop.gif)/*tpa=http://www.omnicare.com/images/curveTop.gif*/ top left no-repeat; padding-top:10px;}
.curved dl {background: url(../images/curveBot.gif)/*tpa=http://www.omnicare.com/images/curveBot.gif*/ bottom right no-repeat; margin-top:0px; margin-bottom:10px; padding-bottom:10px;}
.curved dl dt {padding:0px 10px 10px 10px; margin-top:0px; text-align:center; color:#fff; font-weight:bold; background: #479ee3;}
.curved dl dd {padding:0; margin:0; padding-bottom:10px; background: #f3f3f4;}
.curved dl dd p {margin:0; padding:10px;}
.curved th {font-size: .9em;}
.curved td {font-size: .9em;}

#ifrm {
	border:1px solid #007dc2;}
#footer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	text-align: center;
	padding-bottom: 50px;
	padding-left: 200px;
	width: 760px;
	margin-left: auto;
	margin-right: auto;
	line-height: 40px;
}
.footerHome{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	text-align: center;
	clear:both;
	padding-top: 20px;
	padding-bottom: 50px;
	padding-left: 0px;
}
#footer a, .footerHome a{
	text-decoration: none;
	color: #4d4d4f;
}
#footer a:hover, .footerHome a:hover {
	text-decoration: underline;
}
.siteMap {
	background:#fff;
	background-image: url('../images/footerGradient.gif')/*tpa=http://www.omnicare.com/images/footerGradient.gif*/;
	background-repeat: repeat-x;
	background-position: 0px 50px;
	height: 322px;
	clear: both;
	padding-top: 50px;
}
.siteMapContent{
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
	text-align: left;
}
.siteMapContent h4, .siteMapContent h4 a{
	font-family: Arial, Helevetic, Sans-serif;
	font-size: 11px;
	background-image: url('../images/bulletBlkExp.png')/*tpa=http://www.omnicare.com/images/bulletBlkExp.png*/;
	background-repeat: no-repeat;
	padding-top: 10px;
	position: relative;
	color: #535353;
	text-align: left;
	font-weight: bold;
	text-decoration: none;
}
.siteMapContent a:hover {
	text-decoration: underline;
}
.siteMapContent div {
	float: left;
	width: 160px;
}
.siteMapContent ul {
	margin-left: 0px;
	margin-top: -10px;
	padding-left: 0px;
	padding-right: 30px;
}
.siteMapContent li, .siteMapContent li a {
	list-style-type: none;
	font-family: Arial, Helevetic, Sans-serif;
	font-size: 11px;
	color: #535353;
	padding-bottom: 5px;
	text-decoration: none;
}
.siteMapContent li a:hover {
	text-decoration: underline;
}





























































































































































































































































































































































































/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
