#HomeLogo {
	margin-top: 10px;
    position: absolute;
    top: 0;
	z-index: 100;
	margin-left: 65px;
}
.left_separator, .right_separator
{
    height: 197px;
    margin: 0 !important;
    position: relative !important;
    top: 20px;
    width: 1px;
    z-index: 1000;
}
.left_separator
{
    background-image: url("../images/segmented_homepage/bottom_nav_dividers.png")/*tpa=http://www.aflac.com/images/segmented_homepage/bottom_nav_dividers.png*/;
    float: left;
    left:-1px
}
.right_separator
{
    background-image: url("../images/segmented_homepage/bottom_nav_dividers.png")/*tpa=http://www.aflac.com/images/segmented_homepage/bottom_nav_dividers.png*/;
    float: right;
}
.botNavText {
    color: #FFFFFF;
    position: relative;
    text-align: center;
    width: 210px;
    margin: 0 auto;
    top: 114px;
    font-weight: normal !important;
}
.fixedHeight_Splash #Wrapper
{
    width: 1120px;
}
#SplashHeader
{
    z-index: 10;  
}
/* Top Right Navigation */
#topNavWrapper {
    margin-top: 0px;
    position: absolute;
    top: -2px;
	left: 560px;
	z-index: 1000 !important;
}
ul#headerNav {
    list-style: none outside none;
    margin: 10px auto;
    width: 517px;
}
ul#headerNav li a {
    display: block;
    float: left;
    text-indent: -9999px;

}
ul#headerNav li a.aboutAflac 
{
    background-image: url("../images/segmented_homepage/global_nav_about.png")/*tpa=http://www.aflac.com/images/segmented_homepage/global_nav_about.png*/;
    background-position: 0 0;
    width: 81px;
        margin: 5px 0;
}
ul#headerNav li a.investors 
{
    background-image: url("../images/segmented_homepage/global_nav_investors.png")/*tpa=http://www.aflac.com/images/segmented_homepage/global_nav_investors.png*/;
    background-position: 0 0;
    width: 63px;
        margin: 5px 0;
}
ul#headerNav li a.espanol 
{
    background-image: url("../images/segmented_homepage/global_nav_espanol.png")/*tpa=http://www.aflac.com/images/segmented_homepage/global_nav_espanol.png*/;
    background-position: 0 0;
    width: 74px;
    margin: 5px 0;
}
ul#headerNav li a.aboutAflac:hover, ul#headerNav li a.aboutAflac:focus, ul#headerNav li a.investors:hover, ul#headerNav li a.investors:focus, ul#headerNav li a.espanol:hover, ul#headerNav li a.espanol:focus {
    background-position: 0 -9px;
}
/*.splash_bucket
{
    float: left;

    top: -5px;
}*/

#BottomNav_Splash
{
   width:990px;
   height:260px;
   position:absolute;
   left:0px;
   top:384px; 
   z-index:60;
   color:#FFFFFF;
   margin-left: 65px;
   _top:200px;
}

#BottomNav_Splash .splash_bucket
{
    float:left;
    width:246px;
    height: 261px !important;
    margin: 0 !important;
}

.SplashEnterButton {
    height: 21px;
    left: 100px;
    margin: 0 auto;
    position: absolute;
    top: 212px;
    width: 58px;
}
.fixedHeight_Splash #FooterWrapper
{
    top: 642px;
    _top: 657px;
}
*#FooterText
{
    Left: 60px !important;  
}
#SplashLogo
{
    padding-top: 10px;
}
#LoginButton
{
    height: 21px !important;
}
.aboutAflac, .investors, .espanol
{ 
    height: 9px;
}
#StockQuote
{
    left: 375px !important;
    position: absolute;
    top: -74px;
    width: 155px;

}
#login
{
    margin: 1px 5px 0 10px !important;
}
*.dvSearchButton
{
    top: 15px !important;
    right: 50px !important;
}
.stock-price-wrapper #stock-exchange, .stock-price-wrapper #stock-code, .stock-price-wrapper #stock-price
{ font-size: 10.3px; font-weight: normal;}