#HeaderBg, #LeftNavLong, #RightNavLong, #FooterWrapper, #shareThis3ColPage, #MainContent, #BottomNav, .addthis_toolbox, #globalNav, #StockQuote, #headerImage, #NavWrapper, #topNavWrapper
{
	display:none;
}

/*#MiddleMainContent
{
    width:530px;
    float:none;
    margin: 20px 40px;
}*/

#FlashSection object
{
    display:none;
}

#FlashSection div
{
    display:block !important;
    margin-top:40px;
}

.aflactsWrapper
{
    width:650px;
    margin:40px 20px 0 20px;
}

.aflacts
{
    font-size: 11px;
    color: #2da4cc;
    font-weight:bold;
    line-height:100%;
    margin:0;
}

.aflact
{
    width:285px;
    height:95px;
}

.aflact div
{
    margin-left:-5px;
}

.aflacts .title
{
   
}

.aflacts .body
{
    color:#888;
    font-weight:normal;
    margin: 10px 0; 
}

.floatLeft
{
    float:left;
}

.floatRight
{
    float:right;
}

#Logo a
{
    position: static;
	display: inline;
}
/*
#Logo
{
    width:137px;
}*/
.ternav
{
    display:none;
}
#headerSwf
{
margin-top:20px;
}