@font-face {
  font-family: 'Rokkitt';
  font-style: normal;
  font-weight: 700;
  src: local('Rokkitt Bold'), local('Rokkitt-Bold'), url(../fonts.gstatic.com/s/rokkitt/v8/Mef17w3J4CtS0lw4Wa_8r_k_vArhqVIZ0nv9q090hN8.woff2)/*tpa=http://fonts.gstatic.com/s/rokkitt/v8/Mef17w3J4CtS0lw4Wa_8r_k_vArhqVIZ0nv9q090hN8.woff2*/ format('woff2'), url(../fonts.gstatic.com/s/rokkitt/v8/Mef17w3J4CtS0lw4Wa_8rxsxEYwM7FgeyaSgU71cLG0.woff)/*tpa=http://fonts.gstatic.com/s/rokkitt/v8/Mef17w3J4CtS0lw4Wa_8rxsxEYwM7FgeyaSgU71cLG0.woff*/ format('woff');
}
