@font-face {
  font-family: 'Istok Web';
  font-style: normal;
  font-weight: 500;
  src: local('Istok Web Regular'), local('IstokWeb-Regular'), url(../fonts.gstatic.com/s/istokweb/v9/LLGlByAZO7elm_w5bNr6kugdm0LZdjqr5-oayXSOefg.woff2)/*tpa=http://fonts.gstatic.com/s/istokweb/v9/LLGlByAZO7elm_w5bNr6kugdm0LZdjqr5-oayXSOefg.woff2*/ format('woff2'), url(../fonts.gstatic.com/s/istokweb/v9/LLGlByAZO7elm_w5bNr6knhCUOGz7vYGh680lGh-uXM.woff)/*tpa=http://fonts.gstatic.com/s/istokweb/v9/LLGlByAZO7elm_w5bNr6knhCUOGz7vYGh680lGh-uXM.woff*/ format('woff');
}
@font-face {
  font-family: 'Istok Web';
  font-style: normal;
  font-weight: 700;
  src: local('Istok Web Bold'), local('IstokWeb-Bold'), url(../fonts.gstatic.com/s/istokweb/v9/2koEo4AKFSvK4B52O_Mwaugdm0LZdjqr5-oayXSOefg.woff2)/*tpa=http://fonts.gstatic.com/s/istokweb/v9/2koEo4AKFSvK4B52O_Mwaugdm0LZdjqr5-oayXSOefg.woff2*/ format('woff2'), url(../fonts.gstatic.com/s/istokweb/v9/2koEo4AKFSvK4B52O_MwanhCUOGz7vYGh680lGh-uXM.woff)/*tpa=http://fonts.gstatic.com/s/istokweb/v9/2koEo4AKFSvK4B52O_MwanhCUOGz7vYGh680lGh-uXM.woff*/ format('woff');
}
@font-face {
  font-family: 'Istok Web';
  font-style: italic;
  font-weight: 500;
  src: local('Istok Web Italic'), local('IstokWeb-Italic'), url(../fonts.gstatic.com/s/istokweb/v9/ycQ3g52ELrh3o_HYCNNUw7BojE9J5UnpMtv5N3zfxwk.woff2)/*tpa=http://fonts.gstatic.com/s/istokweb/v9/ycQ3g52ELrh3o_HYCNNUw7BojE9J5UnpMtv5N3zfxwk.woff2*/ format('woff2'), url(../fonts.gstatic.com/s/istokweb/v9/ycQ3g52ELrh3o_HYCNNUwyqHEX2q--o2so14pIEl08w.woff)/*tpa=http://fonts.gstatic.com/s/istokweb/v9/ycQ3g52ELrh3o_HYCNNUwyqHEX2q--o2so14pIEl08w.woff*/ format('woff');
}
