@font-face {
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  src: local('Abel'), local('Abel-Regular'), url(../fonts.gstatic.com/s/abel/v6/brdGGFwqYJxjg2CD1E9o7g.woff2)/*tpa=http://fonts.gstatic.com/s/abel/v6/brdGGFwqYJxjg2CD1E9o7g.woff2*/ format('woff2'), url(../fonts.gstatic.com/s/abel/v6/EAqh528fFdbUek8UOky4sA.woff)/*tpa=http://fonts.gstatic.com/s/abel/v6/EAqh528fFdbUek8UOky4sA.woff*/ format('woff');
}
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  src: local('Cabin Regular'), local('Cabin-Regular'), url(../fonts.gstatic.com/s/cabin/v7/yQOMOX5hR0-6LTD879t-PQ.woff2)/*tpa=http://fonts.gstatic.com/s/cabin/v7/yQOMOX5hR0-6LTD879t-PQ.woff2*/ format('woff2'), url(../fonts.gstatic.com/s/cabin/v7/JEgmtEDzc-IH8jBshQXrYA.woff)/*tpa=http://fonts.gstatic.com/s/cabin/v7/JEgmtEDzc-IH8jBshQXrYA.woff*/ format('woff');
}
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 700;
  src: local('Cabin Bold'), local('Cabin-Bold'), url(../fonts.gstatic.com/s/cabin/v7/82B-3YlzWJm8zbCrVEmc_vesZW2xOQ-xsNqO47m55DA.woff2)/*tpa=http://fonts.gstatic.com/s/cabin/v7/82B-3YlzWJm8zbCrVEmc_vesZW2xOQ-xsNqO47m55DA.woff2*/ format('woff2'), url(../fonts.gstatic.com/s/cabin/v7/haOjnueK8Or1ztuuRtr8dvesZW2xOQ-xsNqO47m55DA.woff)/*tpa=http://fonts.gstatic.com/s/cabin/v7/haOjnueK8Or1ztuuRtr8dvesZW2xOQ-xsNqO47m55DA.woff*/ format('woff');
}
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: local('Karla'), local('Karla-Regular'), url(../fonts.gstatic.com/s/karla/v5/Zi_e6rBgGqv33BWF8WTq8g.woff2)/*tpa=http://fonts.gstatic.com/s/karla/v5/Zi_e6rBgGqv33BWF8WTq8g.woff2*/ format('woff2'), url(../fonts.gstatic.com/s/karla/v5/azR40LUJrT4HaWK28zHmVA.woff)/*tpa=http://fonts.gstatic.com/s/karla/v5/azR40LUJrT4HaWK28zHmVA.woff*/ format('woff');
}
@font-face {
  font-family: 'Satisfy';
  font-style: normal;
  font-weight: 400;
  src: local('Satisfy'), url(../fonts.gstatic.com/s/satisfy/v6/2OzALGYfHwQjkPYWELy-cw.woff2)/*tpa=http://fonts.gstatic.com/s/satisfy/v6/2OzALGYfHwQjkPYWELy-cw.woff2*/ format('woff2'), url(../fonts.gstatic.com/s/satisfy/v6/ch7X2unYkww0EzsjlC3m8w.woff)/*tpa=http://fonts.gstatic.com/s/satisfy/v6/ch7X2unYkww0EzsjlC3m8w.woff*/ format('woff');
}
