@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(../fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA-1.woff2)/*tpa=https://fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2*/ format('woff2'), url(../fonts.gstatic.com/s/lato/v11/9k-RPmcnxYEPm8CNFsH2gg-1.woff)/*tpa=https://fonts.gstatic.com/s/lato/v11/9k-RPmcnxYEPm8CNFsH2gg.woff*/ format('woff');
}
