@font-face {
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  src: local('Abel'), local('Abel-Regular'), url(../fonts.gstatic.com/s/abel/v6/brdGGFwqYJxjg2CD1E9o7g.woff2)/*tpa=http://fonts.gstatic.com/s/abel/v6/brdGGFwqYJxjg2CD1E9o7g.woff2*/ format('woff2'), url(../fonts.gstatic.com/s/abel/v6/EAqh528fFdbUek8UOky4sA.woff)/*tpa=http://fonts.gstatic.com/s/abel/v6/EAqh528fFdbUek8UOky4sA.woff*/ format('woff');
}
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Serif'), local('DroidSerif'), url(../fonts.gstatic.com/s/droidserif/v6/0AKsP294HTD-nvJgucYTaI4P5ICox8Kq3LLUNMylGO4.woff2)/*tpa=http://fonts.gstatic.com/s/droidserif/v6/0AKsP294HTD-nvJgucYTaI4P5ICox8Kq3LLUNMylGO4.woff2*/ format('woff2'), url(../fonts.gstatic.com/s/droidserif/v6/0AKsP294HTD-nvJgucYTaIbN6UDyHWBl620a-IRfuBk.woff)/*tpa=http://fonts.gstatic.com/s/droidserif/v6/0AKsP294HTD-nvJgucYTaIbN6UDyHWBl620a-IRfuBk.woff*/ format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(../fonts.gstatic.com/s/lato/v11/EsvMC5un3kjyUhB9ZEPPwg.woff2)/*tpa=http://fonts.gstatic.com/s/lato/v11/EsvMC5un3kjyUhB9ZEPPwg.woff2*/ format('woff2'), url(../fonts.gstatic.com/s/lato/v11/KT3KS9Aol4WfR6Vas8kNcg.woff)/*tpa=http://fonts.gstatic.com/s/lato/v11/KT3KS9Aol4WfR6Vas8kNcg.woff*/ format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(../fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2)/*tpa=http://fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2*/ format('woff2'), url(../fonts.gstatic.com/s/lato/v11/9k-RPmcnxYEPm8CNFsH2gg.woff)/*tpa=http://fonts.gstatic.com/s/lato/v11/9k-RPmcnxYEPm8CNFsH2gg.woff*/ format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(../fonts.gstatic.com/s/lato/v11/H2DMvhDLycM56KNuAtbJYA.woff2)/*tpa=http://fonts.gstatic.com/s/lato/v11/H2DMvhDLycM56KNuAtbJYA.woff2*/ format('woff2'), url(../fonts.gstatic.com/s/lato/v11/wkfQbvfT_02e2IWO3yYueQ.woff)/*tpa=http://fonts.gstatic.com/s/lato/v11/wkfQbvfT_02e2IWO3yYueQ.woff*/ format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(../fonts.gstatic.com/s/lato/v11/PLygLKRVCQnA5fhu3qk5fQ.woff2)/*tpa=http://fonts.gstatic.com/s/lato/v11/PLygLKRVCQnA5fhu3qk5fQ.woff2*/ format('woff2'), url(../fonts.gstatic.com/s/lato/v11/oUan5VrEkpzIazlUe5ieaA.woff)/*tpa=http://fonts.gstatic.com/s/lato/v11/oUan5VrEkpzIazlUe5ieaA.woff*/ format('woff');
}
