#content h1.field-keyword-rich-mainheader,
#content h2.field-keyword-rich-mainheader {
  font-size: 1.2em;
  font-weight: bold;
}

#content h1.field-keyword-rich-subheader,
#content h2.field-keyword-rich-subheader {
  font-size: 1.1em;
  font-weight: bold;
}
