#home {font-size:14px;line-height:16px;font-weight:normal;color:#333333;font-family:Arial,sans-serif;}
#home h1, #home h2 {font-size:24px;line-height:24px;font-weight:bold;color:#3C3C3C;font-family:Arial,sans-serif;margin-bottom:8px;padding:0;}
#home p {margin:0;padding:0}
#home a, #home a:hover {font-size:14px;line-height:16px;font-weight:normal;color:#165788;font-family:Arial,sans-serif;text-decoration:none;}
#home a:hover {text-decoration:underline;}
    
#home .hbutton, #home .hbutton:hover {font-size:14px;line-height:22px;font-weight:bold;color:#FFFFFF;background:#333333;font-family:Arial,sans-serif;text-decoration:none;padding:0;margin:20px auto 12px;display:block;text-align:center;}
    
#home #hbanners {margin: 10px 0 20px;}
    
#home #news {margin:20px 0;}
#home #stories {margin-bottom:20px;}
#home #stories div {float:left;width:226px;margin-left:26px;}
#home #stories div:first-child {margin-left:0;}
#home #stories img {border:0;}
#home #stories p {margin:12px 0;}
#home #news a.hbutton {width:240px;}

#home #qbu {margin:0 0 20px;}
#home #qbu p {margin:0 0 12px;}
#home .qbu_row {margin-bottom:2px;}
#home .qbu_row .qbu_cell {float:left;margin-left:2px;display:block;width:363px;height:180px;}
#home .qbu_row .qbu_cell:first-child {margin-left:0;}

#home .qbu_row a.qbu_cell div {position:relative;text-align:left;margin-top:105px;padding:6px 15px;display:block;height:63px;background:transparent;background-color: rgba(0, 68, 135, 0.75);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#bf004487, endColorstr=#bf004487);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#bf004487, endColorstr=#bf004487)";}
#home .qbu_row a.qbu_cell div h3 {font-size:18px;line-height:20px;font-weight:bold;color:#FFFFFF;font-family:Arial,sans-serif;}
#home .qbu_row a.qbu_cell div hr {width:305px;height:1px;background:#FFFFFF;border:0;margin:3px 0;}
#home .qbu_row a.qbu_cell {text-decoration:none;color:#FFFFFF;font-size:16px;line-height:20px;}
#home #qbu a.hbutton {width:300px;}
    
#home .market_row, #home .market_row {margin-bottom:2px;}
#home .market_row .market {float:left;margin-left:2px;display:block;}
#home .market_row .market:first-child, #home .market_row .market .market {margin-left:0;}
#home .market_row .market .market {clear:left;margin-top:2px;}
#home .market_row .market .market:first-child {margin-top:0;}
#home .market_row .i2x1 {width:216px;height:89px;}
#home .market_row .i2x2 {width:216px;height:180px; }
#home .market_row .i3x2 {width:294px;height:180px; }
#home .market_row .i4x2 {width:364px;height:130px; }

#home .market_row a.market div {position:relative;display:none;text-align:center;height:100%;background:transparent;background-color: rgba(0, 0, 0, 0.65);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#a5000000, endColorstr=#a5000000);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#a5000000, endColorstr=#a5000000)";}
#home .market_row a.market div h3 {font-size:22px;line-height:24px;font-weight:bold;color:#FFFFFF;font-family:Arial,sans-serif;text-align:center;padding-top:60px;}
#home .market_row a.market div hr {width:170px;height:1px;background:#FFFFFF;border:0;}
#home .market_row a.market div span.hbutton {width:135px;margin:10px auto;clear:none;}
#home .market_row a.market {text-decoration:none}
#home .market_row a.market:hover div {display:block;}
#home .market_row a.market.i2x1 h3 {padding-top:12px;}
#home .market_row a.market.i4x2 h3 {padding-top:40px;}

#home #markets, #home #gpp {margin-bottom:60px;}
#home #markets h2, #home #gpp h2 {margin-bottom:15px;}

#home #careers {margin-bottom:30px;}
#home #careers img {float:left;}
#home #careers h2 {padding-top:55px;}
#home #careers a.hbutton {width:216px;margin:20px 0 12px;clear:none;float:left;}

#home #social #icons {float:right}
#home #social #icons a {margin-left:5px;}

.clearfix:after{content: " ";visibility:hidden;display:block;height:0;clear:both;}

/************ROTATING BANNER STYLES**************/
#rotating_banner {position:relative;height:260px;width:730px;overflow:hidden;margin:0;padding:0;}
#rotating_images, #rotating_nav {list-style:none;margin:0;padding:0;width:10000px;}
#rotating_images {position:absolute;top:0;left:0;}
#rotating_images li {position:relative;display:inline;float:left;}
#rotating_images p, #rotating_images h1 {font-family:Arial,Verdana,sans-serif;padding:0 10px;}
/*#rotating_images h1 {position:absolute;bottom:0px;font-weight:normal;font-size:32px;font-family:Arial, Verdana, Sans-Serif;line-height:32px;padding-bottom:20px;width: 100%;padding-top:10px;background-color:rgba(255, 255, 255, 0.5);background-color: rgb(255,255,255);background-color: rgba(255,255,255, 0.5) !important;-pie-background: rgba(255,255,255, 0.5); behavior:url('/common/css/PIE.htc'); }*/
#rotating_images a {display:block;height:260px;width:730px;padding-right:10px;padding-bottom:20px;text-decoration:none;color:#000000;font-size:12px;}
#rotating_images a:hover p {text-decoration:underline;}
#rotating_images img {border:0;margin-bottom:20px;width:100%;}
#rotating_nav {position:absolute;top:0;  left:615px;background-color:#004487;display:none;}
#rotating_nav li{display:block;background:#EAEBED;margin-bottom:1px;padding:20px 10px;height:49px;width:95px;font-size:12px;line-height:14px;font-family:Arial, Verdana, Sans-Serif;font-weight:bold;color:#004487;cursor:pointer;}
#rotating_nav li.active{margin-left:-40px;width:135px;background-color:#afafaf;}
#rotating_nav li:first-child{height:50px;}
#rotating_counter {position:relative;top:240px;display:block;max-width:730px;margin:0 auto;padding:0;text-align:center;background-color:transparent;z-index:20 !important;}
#rotating_counter li {display:inline;padding:0 3px;font-weight:bold;font-size:30px;margin:0;color:#cccccc;cursor:pointer;text-shadow: 0 0 3px #000000;filter: Shadow(Color=black, Strength=3, Direction=135);}
#rotating_counter li.active {color:#5b5b5b !important;}
#rotating_banner .leftArrow, #rotating_banner .rightArrow {position:absolute;width:28px;display:block;height:48px;z-index:20 !important;top:0;padding: 106px 10px;cursor:pointer;}
#rotating_banner .rightArrow {right:0;}