.fullbleed.loading {
	visibility: visible !important;
	left: -50000px;
}
.standalone, .container, #sidebar, .hasSidebar #main {
	behavior: url(PIE.htc)/*tpa=http://www.unitedrentals.com/static/css/PIE.htc*/; /* shadow */
}

.landing-page #main, 
.solution-landing-page #main, 
.customer-support #main,
.locations #main,
.events #main-wide.active
.catalog-category-view #main .col-main
{
	behavior: url(PIE.htc)/*tpa=http://www.unitedrentals.com/static/css/PIE.htc*/; /* shadow */		
}

.events #main-wide.active #main {
	behavior: none;
	background:none;
}

#footer-top {
	behavior: url(PIE.htc)/*tpa=http://www.unitedrentals.com/static/css/PIE.htc*/; /* gradient */
}
.can-we-help h3 {
	behavior: url(PIE.htc)/*tpa=http://www.unitedrentals.com/static/css/PIE.htc*/; /* gradient */
}
#footer #newsletter input[type="submit"], .customer-support #content input[type="submit"], .events #content input[type=submit] {
	behavior: url(PIE.htc)/*tpa=http://www.unitedrentals.com/static/css/PIE.htc*/; /* gradient, border radius */
}
.chat-button {
	behavior: url(PIE.htc)/*tpa=http://www.unitedrentals.com/static/css/PIE.htc*/; 
}
.overlay {
	behavior: url(PIE.htc)/*tpa=http://www.unitedrentals.com/static/css/PIE.htc*/;
	zoom: 1;
}

input.btn {
	behavior: url(PIE.htc)/*tpa=http://www.unitedrentals.com/static/css/PIE.htc*/;
}
input.btn:hover {
	behavior: url(PIE.htc)/*tpa=http://www.unitedrentals.com/static/css/PIE.htc*/;
}
.marquee-nav ul li a:link,
.marquee-nav ul li a:visited,
.marquee-nav ul li a:hover,
.marquee-nav ul li a:active,
.marquee-nav ul li a.active:link,
.marquee-nav ul li a.active:visited,
.marquee-nav ul li a.active:hover,
.marquee-nav ul li a.active:active { 
	behavior: url(PIE.htc)/*tpa=http://www.unitedrentals.com/static/css/PIE.htc*/; /* gradient, shadow */
}

.marquee-text h2, 
.marquee-text h2 a,
.marquee-text p a {
	zoom:1; background-color: none;  display:inline-block;
	-ms-filter: "progid:DXImageTransform.Microsoft.DropShadow(Color=#000000, OffX=1, OffY=1)";
	filter: progid:DXImageTransform.Microsoft.DropShadow(Color=#000000, OffX=1, OffY=1);

}
.fullbleed .marquee-wrapper .marquee .marquee-text h2, .fullbleed .marquee-wrapper .marquee .marquee-text h2 a {
	line-height:58px;

}
.solution-detail-page h2,
.detail-page h2 {
	line-height:22px;
}
#mainnav .navigation > li > a:hover,
#mainnav .navigation > li.active > a {
	behavior: url(PIE.htc)/*tpa=http://www.unitedrentals.com/static/css/PIE.htc*/;
}
.can-we-help-menu .can-we-help .open-arrow { behavior: url(PIE.htc)/*tpa=http://www.unitedrentals.com/static/css/PIE.htc*/; } /* gradient, border radius */

.ui-tabs .ui-state-hover {behavior: url(PIE.htc)/*tpa=http://www.unitedrentals.com/static/css/PIE.htc*/; }
.homepage .tab {behavior: url(PIE.htc)/*tpa=http://www.unitedrentals.com/static/css/PIE.htc*/;}
.mini-form input[type="submit"] {behavior: url(PIE.htc)/*tpa=http://www.unitedrentals.com/static/css/PIE.htc*/; text-transform: capitalize; }

.site-search input[type=submit], #branchLocator input[type=submit] {
	/*line-height: 800px;*/
	text-transform: capitalize;
	cursor: pointer;
	overflow: hidden;
}
#utilnav li a.ico-utils:before {
	font-size: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.locations .button,
.locations #branchLocator input[type="submit"] {
	behavior: url(PIE.htc)/*tpa=http://www.unitedrentals.com/static/css/PIE.htc*/;
}
.tooltip {
	behavior: url(PIE.htc)/*tpa=http://www.unitedrentals.com/static/css/PIE.htc*/;
}

#equipment-tools-meganav .meganav,
#solutions-meganav .meganav,
#services-meganav .meganav,
#safety-training-meganav .meganav,
#supplies-meganav .meganav,
#our-company-meganav .meganav {
	behavior: url(PIE.htc)/*tpa=http://www.unitedrentals.com/static/css/PIE.htc*/;
}

#equipment-tools-meganav .meganav .row .col.top-row,
#solutions-meganav .meganav .row .col.top-row,
#solutions-meganav .meganav .row.bottom-row,
#services-meganav .meganav .row .col.top-row,
#services-meganav .meganav .row.bottom-row,
#safety-training-meganav .meganav .row .col.top-row,
#safety-training-meganav .meganav .row.bottom-row,
#supplies-meganav .meganav .row .col.top-row,
#supplies-meganav .meganav .row.bottom-row,
#our-company-meganav .meganav .row .col.top-row {
	behavior: url(PIE.htc)/*tpa=http://www.unitedrentals.com/static/css/PIE.htc*/;
}
#equipment-tools-meganav .meganav .col,
#solutions-meganav .meganav .col,
#services-meganav .meganav .col,
#safety-training-meganav .meganav .col,
#supplies-meganav .meganav .col,
#our-company-meganav .meganav .col {
	margin-right: -1px;
}
#equipment-tools-meganav .meganav h2,
#equipment-tools-meganav .meganav h2 a,
#solutions-meganav .meganav h2,
#solutions-meganav .meganav h2 a,
#services-meganav .meganav h2,
#services-meganav .meganav h2 a,
#safety-training-meganav .meganav h2,
#safety-training-meganav .meganav h2 a,
#supplies-meganav .meganav h2,
#supplies-meganav .meganav h2 a,
#our-company-meganav .meganav h2,
#our-company-meganav .meganav h2 a {
	font-size: 15px !important;
}

#sidebar > div {
	behavior: url(PIE.htc)/*tpa=http://www.unitedrentals.com/static/css/PIE.htc*/;
}

.events.landing h2,
.events.all-events h2 {
	width: 270px !important;
}
.events p.to-top {
	padding-top : 5px;
}

.my-account .btn-print, 
.button.resend-request,
.button.btn-quickshop,
.access-urdata-overlay .button,
button.btn-cart,
a.btn-cart,
.acct-form-actions .button {
	behavior: url(PIE.htc)/*tpa=http://www.unitedrentals.com/static/css/PIE.htc*/;
}

/* body.customer-account-index .acct-form-actions .button,
body.sales-order-history .acct-form-actions .button,
body.sales-order-detail .acct-form-actions .button,
body.sales-order-print .acct-form-actions .button,
body.customer-address-index .acct-form-actions .button,
*/
/* body.customer-address-form .acct-form-actions .button, */
/* body.customer-account-edit .acct-form-actions .button, */
/*
body.customer-account-create .acct-form-actions .button,
body.customer-account-login .acct-form-actions .button,
body.customer-account-logoutsuccess .acct-form-actions .button,
body.customer-account-forgotpassword.acct-form-actions .button,
body.customer-account-resetpassword .acct-form-actions .button,
#checkout-step-login .acct-form-actions .button
*/

{	
	behavior: url(PIE.htc)/*tpa=http://www.unitedrentals.com/static/css/PIE.htc*/;
}

.products-grid li.item .btn-cart, 
#search_autocomplete .getQuote 
 {
	/* background:#DB1922; */
	behavior: url(PIE.htc)/*tpa=http://www.unitedrentals.com/static/css/PIE.htc*/;
	/* zoom:1; */
}
.red-button, .training-button, .special-content-text a.button {
	behavior: url(PIE.htc)/*tpa=http://www.unitedrentals.com/static/css/PIE.htc*/; 
}

