#primaryIndicator {margin-top:0px;}
li {background-position:0px 9px;}
.dropDownContainer h2 a {background-image:none; }
/*
body.p1907 #pageContainer table td {
	height: 182px !important;
	padding-top: 28px !important;
}
*/
.ddIMG + div > div hr { margin: 0px 0px 5px 0px; background-position: -60px;}

/*#leftNav > ul > li > ul { *zoom: 1;}*/
/*#leftNav > ul > li > ul > li { margin-left: -30px}*/
/*#leftNav > ul > li > ul > li.first > a { text-indent: -25px; }*/