/* CSS Document */

/* The PCC Corporate Website print style sheet */



html,body {
	background:#fff;	
	font-size:12pt;
}

div.contentWrap {
	width:auto;	
}

.home div.imgWrap {
	display:none;
}

.home #mainCol .statement, .home #mainCol .statement p {	
	float:none;
	display:block;
	position:static;
	padding:0;
	margin-left:0;
	margin-bottom:25px !important;
	background:#fff !important;
	color:#000 !important;
	width:auto !important;
}

div.subCol, div#column_1, div#column_2, div#col3 {
	display:block !important;
	float:none !important;
	width:auto !important;
	margin:10px 0 !important;	
}

div#mainCol, div.pageFrame, div#textCol, div#newsCol, div.imgWrap {
	width:auto;	
	margin:0 !important;
	background:#fff;
	color:#000;
}

#header, #rightCol, #footer, div#col1, ul#nav {
	display:none !important;
	width:1px;
	height:1px;	
}

body.home div#mainCol div#column_1, body.home div#mainCol div#column_1 div.wrap, body.home div#mainCol div#column_1 div.wrap p,
body.home div#mainCol div#column_2, body.home div#mainCol div#column_2 div.wrap, body.home div#mainCol div#column_2 div.wrap p,
body.home div#mainCol div#col3, body.home div#mainCol div#col3 div.wrap, body.home div#mainCol div#col3 div.wrap p, .home #mainCol .subCol {
	width:auto !important;
	float:none !important;	
	height:auto !important;
	min-height:10px !important;
}