/* 481 and above (960) style sheet */
html{visibility: visible;}
/*---- Bootstrap Overrides ------------------------------------------------------*/
/*-------------------------------------------------------------------------------
/******* Test Mode *******
		 Add class 'testmode' to html tag to enable testing helpers */ 
		   html.testmode [class*=span] {outline:1px dotted #09F;}
		   html.testmode body {background:#fff url("/images/gridGuide-testingOnly.png") top center repeat-y;}
/*
		   html.testmode body {background:#fff url() top center repeat-y;}
*/
/******* For Style *******/
	/*------- Special Icons ------ */
		.pdfIcon {float:right; height:30px; margin:0 5px 0 0; overflow:hidden; position:relative; width:28px;}
		.pdfIcon p {color:#fff; display:block; font-size:0.45em; position:absolute; right:1.7em; top:0.26em;}
		.pdfIcon .icon-certificate {color:#da0d0d; font-size:1.4em; position:absolute; right:0.4em; top:0;}
		.pdfIcon .icon-file-alt {color:#999; font-size:1.8em; position:absolute; right:0; top:0.1em;}
		
		.videoIcon {float:right; height:25px; margin:4px 5px 0 0; overflow:hidden; position:relative; width:30px;}
		.videoIcon .icon-youtube-play {top:-0.18em; color:#ff9e00; font-size:1.8em; left:0.03em; position:absolute;}
		.videoIcon .icon-desktop {color:#999; font-size:1.8em; left:0; position:absolute; top:0;}
	
	/*------- Buttons -------*/
		.btn {background-color:#e6e6e6; background-color:#f5f5f5; color:#333333; cursor:pointer; display:inline; display:inline-block; font-size:14px; 
			  line-height:20px; margin-bottom:0; margin-left:.3em; moz-border-radius:4px; 
			  moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); 
			  padding:4px 12px; text-align:center; vertical-align:middle; webkit-border-radius:4px; 
			  webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); zoom:1;}
		.btn:hover,.btn:focus,.btn:active,.btn.active,.btn.disabled,
		.btn[disabled] {background-color:#d9d9d9; background-color:#e6e6e6; color:#333333;}
		.btn:active,.btn.active {background-color:#cccccc \9;}
		.btn:first-child {margin-left:0;}
		.btn:hover,.btn:focus {background-position:0 -15px; color:#333333; moz-transition:background-position 0.1s linear; o-transition:background-position 0.1s linear; 
							   text-decoration:none; transition:background-position 0.1s linear; webkit-transition:background-position 0.1s linear;}
		.btn:focus {outline:5px auto -webkit-focus-ring-color; outline:thin dotted #333; outline-offset:-2px;}
		.btn.active,.btn:active {background-image:none; box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); 
								 moz-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); outline:0; 
								 webkit-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);}
		.btn.disabled,.btn[disabled] {background-image:none; box-shadow:none; cursor:default; filter:alpha(opacity=65); moz-box-shadow:none; opacity:0.65; webkit-box-shadow:none;}
		.btn-large {border-radius:6px; font-size:17.5px; moz-border-radius:6px; padding:11px 19px; webkit-border-radius:6px;}
		.btn-large [class^="icon-"],.btn-large [class*=" icon-"] {margin-top:4px;}
		.btn-small {border-radius:3px; font-size:11.9px; moz-border-radius:3px; padding:2px 10px; webkit-border-radius:3px;}
		.btn-small [class^="icon-"],.btn-small [class*=" icon-"] {margin-top:0;}
		.btn-mini [class^="icon-"],.btn-mini [class*=" icon-"] {margin-top:-1px;}
		.btn-mini {border-radius:3px; font-size:10.5px; moz-border-radius:3px; padding:0 6px; webkit-border-radius:3px;}
		.btn-block {box-sizing:border-box; display:block; moz-box-sizing:border-box; padding-left:0; padding-right:0; webkit-box-sizing:border-box; width:100%;}
		.btn-block + .btn-block {margin-top:5px;}
		input[type="submit"].btn-block,input[type="reset"].btn-block,
		input[type="button"].btn-block {width:100%;}
		
		.btn-primary.active,
		.btn-warning.active,
		.btn-danger.active,
		.btn-success.active,
		.btn-info.active,
		.btn-inverse.active {color: rgba(255, 255, 255, 0.75);}
			/* Button: Primary */
				.btn-primary {color:#fff; background-color:#ff9e00;}
				.btn-primary:hover,.btn-primary:focus,.btn-primary:active,
				.btn-primary.active,.btn-primary.disabled,.btn-primary[disabled] {color:#fff; background-color:#f37614; *background-color:#f37614;}
				.btn-primary:active,.btn-primary.active {background-color:#f37614 \9!;}
			/* Button: Warning */
				.btn-warning {color:; background-color:;}
				.btn-warning:hover,.btn-warning:focus,.btn-warning:active,
				.btn-warning.active,.btn-warning.disabled,.btn-warning[disabled] {color:; background-color:; *background-color:;}
				.btn-warning:active,.btn-warning.active {background-color: \9;}
			/* Button: Danger */
				.btn-danger {color:; background-color:;}
				.btn-danger:hover,.btn-danger:focus,.btn-danger:active,
				.btn-danger.active,.btn-danger.disabled,.btn-danger[disabled] {color:; background-color:; *background-color:;}
				.btn-danger:active,
				.btn-danger.active {background-color: \9;}
			/* Button: Success */
				.btn-success {color:; background-color:;}
				.btn-success:hover,.btn-success:focus,.btn-success:active,
				.btn-success.active,.btn-success.disabled,.btn-success[disabled] {color:; background-color:; *background-color:;}
				.btn-success:active,
				.btn-success.active {background-color:# \9;}
			/* Button: Info */
				.btn-info {color:#003c69; background-color:#6ec9eb;}
				.btn-info:hover,.btn-info:focus,.btn-info:active,
				.btn-info.active,.btn-info.disabled,.btn-info[disabled] {color:#003c69; background-color:#def4fb; *background-color:#def4fb;}
				.btn-info:active,.btn-info.active {background-color:#def4fb \9;}
			/* Button: Inverse */
				.btn-inverse {color:; background-color:;}
				.btn-inverse:hover,.btn-inverse:focus,.btn-inverse:active,
				.btn-inverse.active,.btn-inverse.disabled,.btn-inverse[disabled] {color:; background-color:; *background-color:;}
				.btn-inverse:active,.btn-inverse.active {background-color:# \9;}
				
	/*------- Forms -------*/
		.control-group.error .help-block {clear:both}
/*---- End Bootstrap Overrides ------------------------------------------------------*/
/*---- Global Styles ------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
	body {
		/* [disabled]font-family:"Helvetica Neue LT Std",Arial, Helvetica, sans-serif; */
		font-size: 14px;
	}
	body .container {position:relative;}
	header [class*="span"],
	footer [class*="span"] {margin-left:0;}
	/*--------- Header ---------*/
	header {position: relative; z-index: 100;}
	#headerUtility {clear:both;}
	#headerUtility .logo {display:block; float:left; margin-top:10px;}
		/* Social links */
			#headerSocialLinks {float:right;}
			#headerSocialLinks p {color:#4bacd8; font-size:1.2em;}
			#headerSocialLinks i {font-size:1.6em; margin-left:5px;}
			#headerSocialLinks a:hover {text-decoration:none;}
.headerConnectText {font-size:.8em; vertical-align: bottom; line-height: 1.2em;}
	
		/* Search */
			#headerFilterSection input[type=text] {-moz-box-shadow: none;-webkit-box-shadow: none;background:#f0f2f3; border:1px solid #d4d4d4; height:18px;border-radius:0; color:#a6a6a6; padding:0 0 0 5px;font-size:0.8em;  margin:1px 0 0 0;width: 220px;}
/*			button.searchButton {border:none; background:transparent url("/images/btn_search.gif") top left no-repeat; height:20px; text-indent:-500em; width:20px;}
*/
			button.searchButton {border:none; background:transparent url('/images/btn_search.gif') top left no-repeat; height:20px; text-indent:-500em; width:20px;}
			button.searchButton:hover {background-position:bottom;}
	        .tt-dropdown-menu {background-color:#ffffff; border:1px #D4D4D4 solid; display:block; font-size:0.85em; overflow:hidden; padding-top:4px; /*padding:4px 8px 8px;*/ width:225px;}
	        .tt-dropdown-menu .tt-suggestion {/*padding:4px 0;*/ line-height: normal;}
	        .tt-dropdown-menu .tt-cursor,
	        .tt-dropdown-menu .tt-suggestion:hover {background:#def4fb;}
	        .tt-suggestion p {margin:0; line-height:normal;}
	        .tt-dropdown-menu .header {padding:8px 0 0; font-weight:bold; color:#f77714;margin-left:10px;}
	        .tt-suggestion img {width:40px; height:40px; float:left; margin-right:10px;}
	        .tt-suggestion  {position:relative; clear:both; overflow:hidden; padding:8px; cursor:pointer;}
	
		/* Quick links */
			#headerQuickLinks {float:right;margin-right:15px;}
			#headerQuickLinks li {margin-left:15px;float:left;font-size:.9em}
		    #headerQuickLinks li.dropdown {margin: 0;padding-left: 5px;}
		    #headerQuickLinks .dropdown-menu {border-radius: 0;border-width: 1px;padding: 0;left:-150px;}
		    #headerQuickLinks .dropdown-menu > li {float: none;padding: 0;margin: 0;}
		    #headerQuickLinks .dropdown-menu > li > a {border-bottom: 1px solid #D9DBDB;color: #4B4B4B;font-size: 1em;padding: 5px 10px;display: block;}
		    #headerQuickLinks .dropdown-menu > li > a:hover {border-bottom-color: #F77A0D;background: #F77A0D;color: #FFF;}
			#headerQuickLinks.nav-pills .open .dropdown-toggle {background:#003C69;border-bottom-color: #fff;border-top-color: #fff;}
			#headerQuickLinks.nav .dropdown-toggle .caret{border-bottom-color: #4BACD8;border-top-color: #4BACD8;}
			#headerFilters {float:right;}
			#headerFilters .btn {margin-right:10px}
			#headerFilters a {font-size:1.3em; margin-left:5px; position:relative; top:2px;}
			#headerFilters a:hover {text-decoration:none;}
			#showMobileNav {display:none;}
	/*--------- Content ---------*/
        #mainContentSection {clear:both; min-height:200px; position:relative; padding-top:85px; top:-65px;}
		#mainContentSection.untuck  {padding-top:20px; top:0;}
	/*---------- Footer ---------*/
/*		footer {background:url("/images/footer_mapbg.png") top center no-repeat; clear:both; height:225px; padding-top:125px}
*/
footer {background:url('/images/footer_mapbg.png') top center no-repeat; clear:both; height:225px; padding-top:125px; margin-top:-50px;}
		footer .logo {float:left; margin:0 30px;}
		footer p {color:#103d69; float:left; font-size:0.75em;}
		#footerQuickLinks {float:right; margin-right:30px;}
		#footerQuickLinks li {float:right; font-size:0.85em; margin-right:10px;}
		.language {float: right;margin-right:40px;}
		.language select {font-size: .8em;}
/*---- Custom Widgets -----------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*------- Navigation -------*/
  .mobileAccess {display:none;}
  
	/* Global nav reset */
	/********************Added specificity to target only mainNav - DE 7/14/2013 */
	nav ul {list-style:none; margin:0;}
	#mainNav nav li {float:left;}
	#mainNav nav li a {display:block;}
	
		/* Main Navigation */
        #mainNav {clear:both; position:relative;min-height: 80px; max-height:none; width:100%;z-index: 49;}
/*		#mainNav .shadow {background:url("/images/sbushadow.png") top left no-repeat; display:block; height:77px; position:relative; top:80px; width:962px;}
		#mainNav a.pulltab {background:url("/images/nav_pulltab.png") top left no-repeat; cursor:pointer; display:block; height:29px; position:absolute; top:30px; width:15px;}
		#mainNav nav {background:url("/images/nav_fold.png") bottom right no-repeat; height:80px; position:absolute; width:100%;z-index: 51;top: 0;}
*/
		#mainNav .shadow {background:url('/images/sbushadow.png') top left no-repeat; display:block; height:77px; position:relative; top:80px; width:962px;}
		#mainNav a.pulltab {background:url('/images/nav_pulltab.png') top left no-repeat; cursor:pointer; display:block; height:29px; position:absolute; top:30px; width:15px;}
		#mainNav nav {background:url('/images/nav_fold.png') bottom right no-repeat; height:80px; position:absolute; width:100%;z-index: 51;top: 0;}
		#mainNav nav ul {background:#fff; height:80px; width:96.35%;} 
		#mainNav nav li a {color:#103d69; border-right:1px solid #1e8ab0; height:20px; margin:35px 0 20px 0; text-align:center; text-transform:uppercase;}
		#mainNav nav li a.selected {color:#ff9e01; text-decoration:none;}
		#mainNav nav li:last-child a {border-right:none;}
		
		/* Standard nav spec. */
		#mainNav nav.standardNav li a {font-size:1.3em;}
		#mainNav nav.standardNav a.pulltab {background-position:top right; left:0; display:none;}
		#mainNav nav.standardNav a.pulltab:hover {background-position:bottom right;}
		
		/* SBU specific */
		#mainNav nav.sbuNav {background-image:none;}
		#mainNav nav.sbuNav ul {margin-left:15px; width:94.5%;}
		#mainNav nav.sbuNav li {width:auto;}
		#mainNav nav.sbuNav li a {font-size:1em; text-align:center; padding:0 10px; text-transform: initial;}
		#mainNav nav.sbuNav a.pulltab {left:0;}
		#mainNav nav.sbuNav a.pulltab:hover {background-position:bottom left;}
/*		#mainNav .navShadow {background:url("/images/navshadow.png") -20px bottom no-repeat; display:block; height:75px; left:0; position:absolute; top:20px; z-index:50; width:940px;}
*/
		#mainNav .navShadow {background:url('/images/navshadow.png') -20px bottom no-repeat; display:block; height:75px; left:0; position:absolute; top:20px; z-index:50; width:940px;}
		/* Dropdown */
    	#mainNavDropdown {background:#ff9e01; /* Old browsers */
									 /* IE9 SVG, needs conditional override of 'filter' to 'none' */
						  background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9ImcyMzEiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNGRjlFMDAiIG9mZnNldD0iLjk2Ii8+PHN0b3Agc3RvcC1jb2xvcj0iI0RDODgwMCIgb2Zmc2V0PSIxIi8+CjwvbGluZWFyR3JhZGllbnQ+CjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZzIzMSkiIC8+Cjwvc3ZnPg==);
						  background: -webkit-gradient(linear, left top, left bottom, color-stop(96%,#ff9e00), color-stop(100%,#dc8800)); /* Chrome,Safari4+ */
						  background: -webkit-linear-gradient(top, #ff9e00 96%,#dc8800 100%); /* Chrome10+,Safari5.1+ */
						  background: -o-linear-gradient(top, #ff9e00 96%,#dc8800 100%); /* Opera 11.10+ */
						  background: -ms-linear-gradient(top,#ff9e00 96%,#dc8800 100%); /* IE10+ */
						  background: linear-gradient(to bottom, #ff9e00 96%,#dc8800 100%); /* W3C */
						  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc8800', endColorstr='#dc8800',GradientType=0 ); /* IE6-8 */
		                  top: 0; height:0; overflow:hidden; padding-top:20px; position:relative; visibility:hidden; width:100%; z-index: 49;}
		#mainNavDropdown section {color:#fff; display:none; height:200px; margin:0;padding: 78px 1.5% 0; overflow:hidden; position:relative; width:97%;}
		#mainNavDropdown section p {color:#fff;}
		#mainNavDropdown section .description {float:left; width:320px;}
		#mainNavDropdown section ul {float:right; margin-left:20px; width:60%;}
#mainNavDropdown section li {float:left; width:33%; border-bottom:1px solid #fff;overflow:hidden;}
		#mainNavDropdown section li a {color:#fff; display:block; height:25px; padding-top:5px; text-align:left; width:100%;}
		#mainNavDropdown section li:hover {background:#f47514;}
		#mainNavDropdown section li a:hover {text-decoration:none;}
		#mainNavDropdown .closeButton {color:#fff; font-size:1.4em; left:3px; position:absolute; top:85px;}
		#mainNavDropdown .closeButton:hover {color:#f47514;}
		#mainNavDropdown h3,
#mainNavDropdown h3 a {color:#fff;}
	
	/* Local Navigation (Typical Content Pages) */
		.localNav {width:180px;}
		.localNav li { text-align:right;border-bottom:1px solid #d9dbdb;}
		.localNav li a {color:#4b4b4b; font-size:0.9em; padding:5px 5px 5px 0; display:block;}
		.localNav li a:hover,
		.localNav li.selected > a {border-bottom-color:#f77a0d; background-color:#f77a0d; color:#fff; text-decoration:none;}
  /* Sub Navigation*/	
    .localNav .menuToggle {padding-right:10px;}
    .subnavmenu {/*display:none;*/}
    .subnavmenu li {border-bottom:0;}
    .subnavmenu li a {font-size:0.8em;}
    .subnavmenu li.selected a {border-bottom:0;color:#f77a0d;background-color:inherit;}
    .subnavmenu li.selected a:hover {background-color:#f77a0d; color:#fff;}
	/* Breadcrumbs */
		.breadcrumbs {color:#3db7e4; font-size:0.8em;margin-bottom:20px;}
		.breadcrumbs .current {color:#003c69;}
	
	/*------- Recent Tweet -------*/
		#tweetTweet {border-bottom:1px solid #e5e5e5; padding:15px 0 12px 0; margin-bottom:20px; height:40px;}
		#tweetTweet img {float:left; margin-right:0px;}
		#tweetTweet i {color:#d0cfcf; font-size:1.7em;}
#tweetTweet .content {float:left; overflow:hidden; width:890px; margin-left: 10px;}
		#tweetTweet .content .row1 {margin:0; overflow:hidden;}
		#tweetTweet .content .row2 {margin:0; overflow:hidden;}
		#tweetTweet .content .inner {color:#4c4c4c; float:left; font-size:0.89em; margin:0; overflow:hidden; padding:0;}
		#tweetTweet .content .row1 .inner {width:620px;}
		#tweetTweet .content .row2 .inner {height:20px; width:870px;}
		#tweetTweet .content .row1 p {font-weight:bold; margin:0;}
		#tweetTweet .content .row1 date {font-weight:normal;}
		#tweetTweet .buttonContainer {display:block; float:right; width:260px;}
		#tweetTweet .buttonContainer a[class*=tbtn] {display:block; float:right; height:20px; margin:0 0 5px 5px; min-width:50px;}
		#tweetTweet .buttonContainer .tbtn-retweet {width:62px;}
		#tweetTweet .buttonContainer .tbtn-favorite {width:58px;}
	/*----- Talk Link -----*/
/*		.talkLink {background:url("/images/talkbutton-wide.png") top center no-repeat; color:#fff; cursor:pointer; display:block; height:79px; margin:0 auto 10px auto; padding:12px 12px 0 12px; width:95px;text-align:center;}
*/
		.talkLink {background:url('/images/talkbutton-wide.png') top center no-repeat; color:#fff; cursor:pointer; display:block; height:79px; margin:18px auto 10px auto; padding:12px 12px 0 12px; width:95px;text-align:center;}
		.talkLink:hover {color:#fff;}
	/*------- Pull Quotes -------*/
		blockquote {background:#3db7e4; border:none; float:left; margin:0 20px 20px 0; padding:20px; width:220px;}
		blockquote p {color:#fff; font-size:1.4em; line-height:1.45em;}
		.tc-level-2 blockquote {float:right; margin:0 100px 20px 20px;}
	/*----- Search Widgets (used in Search, Product Search, SBU Products  -----*/
		.filterControls {margin-top:25px;}
		.filterControls select {margin-top:0; font-size:.8em; padding:0; border-radius:0; height:25px; color:#7d7e7e;}
		.filterControls input {padding:0 5px 0 5px;border-radius:0;height:23px}
		.filterControls input::-webkit-input-placeholder {color:#d0d1d1; font-size:1.1em; font-weight:bold;}
		.filterControls input:-ms-input-placeholder {color:#d0d1d1; font-size:1.2em; font-weight:bold;}
		.filterControls ul.tabs {list-style:none; margin:0;}
		.filterControls ul.tabs li a {border:1px solid #e1e1e1; float:left; margin-right:10px; padding:12px 15px;}
		
		.searchBox {position:relative;}
		.searchBox .searchIcon {cursor:pointer; display:inline-block; height:20px; padding:3px 0 0 10px; position:absolute; right:0; top:0; width:20px;}
		.searchBox .searchIcon:hover {text-decoration:none;}
		.searchBox .searchIcon span {position:absolute;text-indent:-200em;}
		
		.activeFilters {border-top:1px solid #e7e7e7;}
		
		.resultCount {margin-top:10px; overflow:hidden;}
		.resultCount p {float:left; font-size:0.8em;}
		
		.result { margin-bottom:15px;}
		.result .text {padding-bottom:20px; position:relative; min-height:110px;}
		.result .text .title {font-size:1.2em; font-weight:bold; display:block;}
		.result .text .title strong {color:#626363;}
		.result .text p {font-size:.9em;line-height:1.3em}
		.result .text .category,
		.result .text .reference {color:#7d7e7e; font-size:0.8em; font-weight:bold;}
		.result .text .reference {position:absolute; bottom:5px;}
		
		.loadMore a {display:inline-block;width:100%}
		
		/*.topInsights .insight .category {display:block; font-size:0.8em; font-weight:bold; position:absolute; bottom:5px;}*/
/*---- Individual Page Styles ---------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
.pageSubHeading {color:#3db7e4; font-size:3em; font-weight:bold; line-height:1em; margin-top:15px; margin-bottom:35px;}
	/* Homepage */
		body.homepage #mainNav nav.sbuNav {display:none;}
		body.homepage.with-sbuNav #mainNav nav.sbuNav {display:block;}
		body.homepage.with-sbuNav #SBUheadline {clear:both; color:#003c69; font-size:4em; font-weight:bold;padding:15px 0 0 0;line-height:normal}
		body.homepage.with-sbuNav #SBUheadline .btn {float:left; margin:15px 30px 0 0;}
		body.homepage.with-sbuNav header {left:0; padding-top:10px; position:relative; top:0; z-index:50;}
		body.homepage.with-sbuNav header #tweetTweet {padding-top:0;}
		body.homepage.with-sbuNav header #headerUtility {border-bottom:1px solid #e5e5e5; padding-bottom:10px;}
		body.homepage.with-sbuNav header #headerFilterSection {margin-top:5px}
body.homepage.with-sbuNav header #headerFilterSection #headerFilters #globalSearchButton {margin-left:-4px;}
        body.homepage #mainContentSection {padding-top:0;}
		body.homepage .homepageContent {clear:both; padding-top:20px;}
		body.homepage .box {cursor:pointer;  padding:9px;}
		body.homepage .box h3 {font-size:1.2em; line-height:1em; margin:0 0 3px 0; padding:0;}
		body.homepage .box1 h3,
		body.homepage .box2 h3 {color:#103d69;}
		body.homepage .box3 h3,
		body.homepage .box4 h3 {color:#4bacd8;}
		body.homepage .box p {color:#103d69; font-size:0.82em; line-height:1.4em;}
		body.homepage .box {background:#f3f1f1; border:1px solid #cfcfcf;}
		body.homepage .box1,
		body.homepage .box2 {height:172px;}
		body.homepage .box3,
		body.homepage .box4 {height:71px;}
		body.homepage .box3 {margin-bottom:10px;}
		body.homepage .box3 div {width:440px;}
		body.homepage .box4 div {width:440px;}
		body.homepage .box1 img,
		body.homepage .box2 img {margin-bottom:9px;}
		body.homepage .box3 img {float:left; margin-right:9px;}
		body.homepage .box4 img {float:right;}
		body.homepage .box3.noImage img,
		body.homepage .box4.noImage img {display:none;}
		body.homepage .box3 a,
		body.homepage .box4 a {color:#f38031; text-decoration:underline;}
		body.homepage .box3 a:hover,
		body.homepage .box4 a:hover {color:#e56107; text-decoration:none;}
		body.homepage .box1 a,
		body.homepage .box2 a {color:#55bced; text-decoration:underline;}
		body.homepage .box1 a:hover,
		body.homepage .box2 a:hover {color:#049fe9; text-decoration:none;}
		
		/*------- Homepage Marquee -------*/
			body.homepage  #marqueeHeadline h1 p {color:#103d69; font-size:1.01em;}
			body.homepage  #marqueeHeadline h1 strong {color:#3db7e4; font-style:normal;}
			body.homepage  #mainMarquee {height:400px; overflow:hidden; position:relative; text-align:bottom;}
			body.homepage  #mainMarquee img {bottom:0; position:absolute;}
/*			body.homepage  #marqueeHeadline {background:rgba(255,255,255,0.8) url("/images/marquee_shadow.png") bottom left repeat-x; height:320px; left:0; padding:75px 15px 10px 15px; position:absolute; bottom:0; width:350px;}
*/
			body.homepage  #marqueeHeadline {background:rgba(255,255,255,0.8) url('/images/marquee_shadow.png') bottom left repeat-x; height:320px; left:0; padding:75px 15px 10px 15px; position:absolute; bottom:0; width:350px;}
			body.homepage  #marqueeHeadline h1 {color:#103d69; font-size:2.7em;}
			body.homepage  #marqueeHeadline h1 em {color:#3db7e4; font-style:normal;}
			body.homepage  #marqueeHeadline p {color:#343434; font-size:0.9em;}
			body.homepage  #marqueeHeadline strong {color:#103d69;}
			body.homepage  #marqueeHeadline .btn {margin-top:10px;}
/*			body.homepage  #marqueeInsights {background:#3db7e4 url("/images/marquee_shadow.png") bottom left repeat-x; bottom:0; display:block; min-height:100px; padding:10px 10px; position:absolute; right:0; width:140px;}
*/
			body.homepage  #marqueeInsights {background:#3db7e4 url('/images/marquee_shadow.png') bottom left repeat-x; bottom:0; display:block; min-height:100px; padding:10px 10px; position:absolute; right:0; width:140px;}
			body.homepage  a#marqueeInsights:hover {text-decoration:none;}
			body.homepage  #marqueeInsights h2 {color:#fff; font-size:1.4em; line-height:1em;}
			body.homepage  #marqueeInsights p {color:#fff; font-size:0.8em; line-height:1.2em;}
			body.homepage  #marqueeInsights a {color:#fff;}
/*			.no-rgba body.homepage #marqueeHeadline {background:transparent url("/images/marquee_screen.png") top left repeat;}
*/
			.no-rgba body.homepage #marqueeHeadline {background:transparent url('/images/marquee_screen.png') top left repeat;}
		
	/* SBU Global */
		body.sbu header {left:0; padding-top:10px; position:relative; top:0; z-index:50;}
		body.sbu header #tweetTweet {padding-top:0; border-bottom: none;}
		body.sbu header #headerUtility {border-bottom:1px solid #e5e5e5; padding-bottom:7px;}
		body.sbu header #headerFilterSection {margin-top:0px}
		body.sbu header #headerQuickLinks {margin-bottom:0px}
		body.sbu #SBUheadline {clear:both; color:#003c69; font-size:4em; font-weight:bold;padding:0px 0 0 0;line-height:normal}
		body.sbu #SBUheadline .btn {float:left; margin:15px 30px 0 0;}
body.sbu #mainContentSection .leftColumn img {float:left;}
		body.sbu .standardNav li.first {padding-left:30px;}
    /* WCG SBU Styles - jmf */
    body.sbu header #headerFilterSection #headerFilters #globalSearchButton {margin-left:-4px;}
	/*------ SBU Landing -------*/
/*		body.sbuLanding #mainContentSection {background:url("/images/sidebar-span3.gif") 100% 0 no-repeat}
		body.sbuLanding .secondaryContent {background:url("/images/sidebar-gradient-span3.gif") 0 100% no-repeat #def4fb;padding-bottom:65px}
*/
		body.sbuLanding #mainContentSection {background:url('/images/sidebar-span3.gif') 100% 0 no-repeat}
		body.sbuLanding .secondaryContent {background:url('/images/sidebar-gradient-span3.gif') 0 100% no-repeat #def4fb;padding-bottom:65px}
body.sbuLanding .bottomRow {margin-top:10px; margin-right: 220px}
		body.sbuLanding .bottomRow a.box {cursor:pointer; display:block; height:105px; padding:15px 5px 0 15px;margin-bottom:20px;}
		body.sbuLanding .bottomRow a.box:hover {text-decoration:none;}
		body.sbuLanding .bottomRow a.box  h4,
		body.sbuLanding .bottomRow a.box  p {color:#003b67;font-size:1.1em;line-height:1.1em;margin:0}
			body.sbuLanding .bottomRow .lightBlue {background:#def4fb;border:1px solid #def4fb;}
			body.sbuLanding .bottomRow .lightBlue span {color:#3db7e4; text-decoration:underline;}
			body.sbuLanding .bottomRow .white {background:#fff; border:1px solid #def4fb;}
			body.sbuLanding .bottomRow .white span {color:#f37614; text-decoration:underline;}
			body.sbuLanding .bottomRow .white h4,
			body.sbuLanding .bottomRow .white p {font-size:1em;line-height:1.2em}
			body.sbuLanding .bottomRow .darkBlue {background:#3db7e4;border:1px solid #3db7e4;}
			body.sbuLanding .bottomRow .darkBlue span {color:#003b67; text-decoration:underline;}
		body.sbuLanding .viewMore {  color:#003b67; display:block; font-weight:bold; margin:0 10px}
		body.sbuLanding .vm-products {font-size:1.0em; margin-left:25px;padding-bottom:10px}
body.sbuLanding .vm-products i {font-size:0.8em;}
		body.sbuLanding .vm-insights {font-size:1.1em; border-top:1px solid #c3e7f3;text-align:right;padding-top:10px}
	/*----- Product Search Results ---*/
		body.products .filterControls {padding-top:2px;}
	/*----- Global Secondary Content Styles (pages using the sidebar) ------*/
		.secondaryContent img,
		.secondaryContent p,
		.secondaryContent h2,
		.secondaryContent h3 {margin-left:30px; margin-right:50px;}
		.secondaryContent h2 {font-size:1.2em;line-height:1.3em;}
		.secondaryContent h3 {font-size:.9em;line-height:1.3em;}
		.secondaryContent p {font-size:.9em;line-height:1.3em;}
		.secondaryContent .insight {background:#def4fb; border-left:none; border-right:none; border-bottom:none; margin-right:auto; margin-left:auto; width:220px;}
		.secondaryContent p img {margin:0;}
		.secondaryContent .content {margin:0 0px; border-top:1px solid #c3e7f3;}
		.secondaryContent .content img,
.secondaryContent .content h2,
		.secondaryContent .content h3,
		.secondaryContent .content p {margin-right:30px; margin-left: 25px;}
	/*----- SBU Solution ------*/
		body.solution .filterControls {margin-top:20px;}
/*		body.solution #mainContentSection {background:url("/images/sidebar-span4.gif") 100% 0 no-repeat;}
*/
		body.solution #mainContentSection {background:url('/images/sidebar-span4.gif') 100% 0 no-repeat;}
		body.solution .blurb .text {font-size:1.1em;}
/*		body.solution .secondaryContent {background:url("/images/sidebar-gradient-span4.gif") 0 100% no-repeat #def4fb;padding-bottom:85px;}
*/
		body.solution .secondaryContent {background:url('/images/sidebar-gradient-span4.gif') 0 100% no-repeat #def4fb;padding-bottom:85px;}
		body.solution .secondaryContent .talkLink {margin:0 0 10px 30px;}
		body.solution .secondaryContent .content {padding-bottom:10px;}
	/*----- SBU Products & Typical Content ---*/
		body.typicalContentPage .productHeading {margin-bottom:20px;}
		body.productDetail .productHeading {border-bottom:1px solid #e7e7e7;margin-bottom: 40px;}
		body.productDetail .productHeading .pageSubHeading {float:left; margin:5px 0 12px 0 ;font-size:2.3em;}
		body.typicalContentPage .productHeading h1,
		body.productDetail .productHeading h1 {float:left; margin:5px 0 5px 0; font-size:2.3em;}
		body.productDetail .productTab {float:right;margin-bottom:0}
		body.productDetail .productTab li {float:left;list-style-type:none;margin-right:1px}
		body.productDetail .productTab li a {display:block;font-weight:bold;color:#003c69;padding:10px 10px 20px 10px;}
		body.productDetail .productTab li a:hover,
		body.productDetail .productTab li.selected a {background:#e7e7e7;text-decoration:none;}
		body.typicalContentPage .additional,
		body.productDetail .additional {margin-top:20px;}
		body.typicalContentPage .additional img,
		body.productDetail .additional img {margin-bottom:20px;}
		body.productDetail .downloads {border:1px solid #dfdfdf; border-radius:15px; color:#555; display:block; margin-bottom:20px; padding:15px;}
		body.productDetail .downloads h2 {color:#bac405; font-size:1.6em;margin:0;}
		body.productDetail .downloads h2 i {color:#3db7e4;}
		body.productDetail .downloads p {display:block; font-size:1.2em; margin-bottom:5px; width:150px;}
		body.typicalContentPage .insight,
		body.productDetail .insight {margin-bottom:20px;}
	/*----- Insights ---*/
		body.insights h2 {color:#3db8e4; margin-bottom:20px;}
		body.insights .topInsights {margin-bottom:15px;}
		body.insights .filterControls {margin-bottom:15px;}
        body.insights .filterControls .searchBox input {height:auto; padding:13px 40px 12px 5px; width:175px;}
		body.insights .filterControls .searchBox a.searchIcon {font-size:2em; right:17px; top:4px;}
		body.insights .activeFilters {border:none; padding:0;}
		body.insights .lowerInsights .insight {margin-bottom:20px;}
		
		/* Insight Detail */
		body.insights .rightColumn .insight {margin-bottom:40px;}
		body.insights .filterControls .searchBox a.searchIcon {font-size:2em; right:17px; top:4px;}
		body.insights .filterControls .talkLink {margin-top:-40px;}
		body.insights .leftColumn img {float:left; margin:5px 15px 10px 0;}
		body.insights .leftColumn h4 {}
	/*----- Contact -----*/
		body.contactUs .location {position:relative}
		body.contactUs .location .map {position:absolute; top:-70px; right:0;z-index:0;}
		/*body.contactUs .location .details {background-color:#fff; border:2px solid #f37614; border-radius:125px; height:250px; left:20px; position:absolute; 
										   top:100px; width:250px; z-index:1000;}*/
/*		body.contactUs .location .details {background: url("/images/contactCircleBG.png") top center no-repeat; height:255px; left:20px; position:absolute; top:100px; width:255px; z-index:1000;}
*/
		body.contactUs .location .details {background: url('/images/contactcirclebg.png') top center no-repeat; height:255px; left:20px; position:absolute; top:100px; width:255px; z-index:1000;}
		body.contactUs .location .details span {position:absolute;top:70px;left:50px;}
		body.contactUs .location h2 {color:#003c69;font-size:1.3em;line-height:1em;margin:0 0 5px 0;}
		body.contactUs .location h2 i {color:#f37614;margin-left:-17px}
		body.contactUs .location p {line-height:1em;margin:0 0 5px 0}
		body.contactUs .location h2.name {}
		body.contactUs .location h2.phone {margin-top:20px}
	
	/*----- Forms -----*/
		body.contactUs .form h1,
		body.sbu .form h1,
		body.about .form h1,
		body.contactUs .form .success h2,
		body.sbu .form .success h2,
		body.about .form .success h2 {font-size:1.5em; color:#003c69}
		body.contactUs .form h1 i,
		body.sbu .form h1 i,
		body.about .form h1 i {color:#f37614}
		body.contactUs .form input,
		body.sbu .form input,
		body.about .form input,
		body.sbu .form textarea,
		body.contactUs .form textarea,
		body.about .form textarea,
		body.contactUs .form select,
		body.sbu .form select,
		body.about .form select {font-size:0.8em; color:#7d7e7e; border-radius:0; background-color:#f0f2f3;}
		body.contactUs .form textarea,
		body.sbu .form textarea,
		body.about .form textarea {height:200px}
		body.contactUs .form .submit .btn-large,
		body.sbu .form .submit .btn-large,
		body.about .form .submit .btn-large {border-radius:0;}
		body.contactUs .form .success,
		body.sbu .form .success,
		body.about .form .success {margin-top:20px;}
		body.contactUs .form .success h3,
		body.sbu .form .success h3,
		body.about .form .success h3 {color:#003c69;font-size:1.1em;}
		
		
	/*----- Typical Content -----*/
		body.typicalContentPage .mainContent h1 {font-size:1.3em;color:#003c69;line-height:1em}
								.mainContent h2 {color:#484848; font-size:1.1em; line-height:1em}
								.mainContent h3 {color:#484848; font-size:1.1em;line-height:1em}
		body.typicalContentPage .mainContent p {margin-bottom:25px}
		
		body.typicalContentPage .tc-level-1 .sectionNavigation {margin-top:50px}
		body.typicalContentPage .tc-level-1 .sectionNavigation .desintation {background-color:#def3fa;text-align: center;margin-bottom: 20px;}
		body.typicalContentPage .tc-level-1 .sectionNavigation .desintation a {display:block;border:1px solid #d9dbdb;}
		body.typicalContentPage .tc-level-1 .sectionNavigation .desintation span {display:block;padding:16px 0;font-size:1.2em;font-weight:bold;text-align:center;color:#4b4b4b}
/*		body.typicalContentPage.withSidebar #mainContentSection {background:url("/images/sidebar-span3.gif") 100% 0 no-repeat}
		body.typicalContentPage.withSidebar .secondaryContent {background:url("/images/sidebar-gradient-span3.gif") 0 100% no-repeat #def4fb;padding-bottom:85px}
*/
		body.typicalContentPage.withSidebar #mainContentSection {background:url('/images/sidebar-span3.gif') 100% 0 no-repeat}
		body.typicalContentPage.withSidebar .secondaryContent {background:url('/images/sidebar-gradient-span3.gif') 0 100% no-repeat #def4fb;padding-bottom:85px}
/* aboutBio Styles -jmf */
		body.typicalContentPage.withSidebar #mainContentSection.aboutBio {background:url('/images/sidebar-span4.gif') 100% 0 no-repeat}
    body.typicalContentPage.withSidebar .aboutBio .secondaryContent {background:url('/images/sidebar-gradient-span4.gif') 0 100% no-repeat #def4fb;padding-bottom:85px}
    body.typicalContentPage .aboutBio .mainContent h1 {font-size:2em;}
    body.typicalContentPage .aboutBio .mainContent p {line-height:18px;}
    body.typicalContentPage .aboutBio .secondaryContent p {line-height:1.2em;margin-left:20px;margin-right:20px;}
/* About Type 1 Styles -jmf */
    body.typicalContentPage .aboutContent h1 {font-size:3.3em;color:#4f4f4f;}
    body.typicalContentPage .aboutContent img {margin-bottom:45px;}
/*About Type 2 styles - jmf */
    body.typicalContentPage #mainContentSection.aboutType2 .fullPage img {margin-bottom:45px;}
    body.typicalContentPage #mainContentSection.aboutType2 .fullPage .addPadding {width:660px;}
    body.typicalContentPage.withSidebar #mainContentSection.aboutType2 .fullPage {position:relative;}
    body.typicalContentPage.withSidebar #mainContentSection.aboutType2 .fullPage .span6 {width:440px;}
    body.typicalContentPage.withSidebar #mainContentSection.aboutType2 .fullPage .mainContent {padding-top:20px;}
    body.typicalContentPage.withSidebar #mainContentSection.aboutType2 .fullPage .mainContent h1 {font-size:3em;margin-bottom:25px;}
    body.typicalContentPage.withSidebar #mainContentSection.aboutType2 .fullPage .mainContent p {line-height:18px;}
    body.typicalContentPage.withSidebar #mainContentSection.aboutType2 .fullPage .secondaryContent {background:none;background-image:url('/images/sidebar-gradient-span3.png');background-position:0 100%;background-repeat:no-repeat;padding-bottom:85px;position:absolute;top:0;right:0;}
    body.typicalContentPage.withSidebar #mainContentSection.aboutType2 .fullPage .secondaryContent .secondaryBody {background: rgb(222,244,251);background: rgba(222,244,251,0.84);}
    body.typicalContentPage.withSidebar #mainContentSection.aboutType2 .fullPage .secondaryContent .secondaryBody .navSection {min-height:300px;}
    body.typicalContentPage.withSidebar #mainContentSection.aboutType2 .fullPage .secondaryContent .secondaryBody h4 {color:#003c69;font-weight:bold;margin-left:20px;margin-right:20px;}
    body.typicalContentPage.withSidebar #mainContentSection.aboutType2 .fullPage .secondaryContent .secondaryBody p {line-height:18px;margin-left:20px;margin-right:20px;margin-bottom:0;}
    body.typicalContentPage.withSidebar #mainContentSection.aboutType2 .fullPage .secondaryContent .secondaryBody ul {margin-left:35px;margin-right:20px;margin-bottom:0px;font-size:.9em;}
    body.typicalContentPage.withSidebar #mainContentSection.aboutType2 .fullPage .secondaryContent .secondaryBody ul li{margin-bottom:0;padding-top:5px;}
    body.typicalContentPage.withSidebar #mainContentSection.aboutType2 .fullPage .secondaryContent .secondaryBody ul.rightNav {margin-left:0;margin-right:0;}
    body.typicalContentPage.withSidebar #mainContentSection.aboutType2 .fullPage .secondaryContent .secondaryBody ul.rightNav>li {border-bottom:1px solid #fff;background-color:#56bfe5;color:#fff;padding-left:20px;padding-right:20px;padding-top:0px;}
    body.typicalContentPage.withSidebar #mainContentSection.aboutType2 .fullPage .secondaryContent .secondaryBody ul.rightNav>li a {font-size:14px;color:#fff;display:block;padding-bottom:8px;padding-top:15px;}
    body.typicalContentPage.withSidebar #mainContentSection.aboutType2 .fullPage .secondaryContent .secondaryBody ul.rightNav>li:hover {background-color:#b7c321;}
    body.typicalContentPage.withSidebar #mainContentSection.aboutType2 .fullPage .secondaryContent .secondaryBody ul.rightNav>li a:hover {text-decoration:none;}
    body.typicalContentPage.withSidebar #mainContentSection.aboutType2 .fullPage .secondaryContent .secondaryBody ul.rightNav>li.selected {background-color:#b7c321;font-weight:bold;}
    body.typicalContentPage.withSidebar #mainContentSection.aboutType2 .fullPage .secondaryContent .secondaryBody ul.rightNav .rightnavmenu {margin-left:0;margin-right:0;margin-bottom:10px;}
    body.typicalContentPage.withSidebar #mainContentSection.aboutType2 .fullPage .secondaryContent .secondaryBody ul.rightNav .rightnavmenu>li {border-bottom:1px solid #c8d30a;padding:0px;}
    body.typicalContentPage.withSidebar #mainContentSection.aboutType2 .fullPage .secondaryContent .secondaryBody ul.rightNav .rightnavmenu>li a {padding:0;font-weight:normal;font-size:12px;}
    body.typicalContentPage.withSidebar #mainContentSection.aboutType2 .fullPage .secondaryContent .secondaryBody ul.rightNav .rightnavmenu>li a:hover, body.typicalContentPage.withSidebar #mainContentSection.aboutType2 .fullPage .secondaryContent .secondaryBody ul.rightNav .rightnavmenu>li.selected a {color:#387c2c;}
/* About Map Styles - jmf */
    body.aboutMap .mainContent h2 {color:#4f4f4f;font-size:26px;line-height:25px;font-weight:normal;margin-bottom:40px;text-align:center;}
    body.aboutMap .mainContent select {margin-top:0px;margin-bottom:25px;}
    body.aboutMap #searchDiv h2 {font-size:31.5px;line-height:40px;font-weight:bold;margin-bottom:10px;text-align:left;}
/*----- About Us - Landing -----*/
/*		body.aboutusLanding #mainContentSection {background:url("/images/sidebar-span5.gif") 100% 0 no-repeat}
		body.aboutusLanding .secondaryContent {background:url("/images/sidebar-gradient-span5.gif") 0 100% no-repeat #def4fb;padding-bottom:50px}
*/
		body.aboutusLanding #mainContentSection {background:url('/images/sidebar-span5.gif') 100% 0 no-repeat}
		body.aboutusLanding .secondaryContent {background:url('/images/sidebar-gradient-span5.gif') 0 100% no-repeat #def4fb;padding-bottom:50px}
		body.aboutusLanding .mainContent h1 {font-size:3em;color:#3db7e4}
		body.aboutusLanding .highlight {margin-top:22px}
		body.aboutusLanding .highlight .image img {border:1px solid #d9dbdb}
		body.aboutusLanding .highlight .text p {font-size:.9em; line-height:1.3em}
		body.aboutusLanding .highlight .text a {color:#4f4f4f}
		body.aboutusLanding .highlight .text a:hover {text-decoration:none;color:#4bacd8}
		body.aboutusLandingNoSidebar .mainContent h1 {font-size:3em;color:#3db7e4}
		body.aboutusLandingNoSidebar .highlight {margin-top:22px}
		body.aboutusLandingNoSidebar .highlight .image img {border:1px solid #d9dbdb}
		body.aboutusLandingNoSidebar .highlight .text p {font-size:.9em; line-height:1.3em}
		body.aboutusLandingNoSidebar .highlight .text a {color:#4f4f4f}
		body.aboutusLandingNoSidebar .highlight .text a:hover {text-decoration:none;color:#4bacd8}
		
	/*----- Careers -----*/
		body.careers .box.mainContent {height:324px;}
	/*----- Search -----*/
		body.search #mainContentSection {padding-top:0;}
		body.search .pageSubHeading {font-size:1.8em;}
		body.search .breadcrumbs {margin-top:10px;}
		
		body.search .productTile {background:#fff; border:1px solid #e1e1e1; height:140px; position:relative;color:#003c69}
		body.search .productTile:hover {text-decoration:none}
		body.search .productTile h4 {margin:10px;}
		body.search .productTile:hover  {color:#3db7e4}
		body.search .productTile .category {position:absolute; bottom:5px;left:5px;font-size:.8em}
		
		body.search .topResults {padding-top:90px;padding-bottom:50px;background: #f4fcfe; /* Old browsers */
					 /* IE9 SVG, needs conditional override of 'filter' to 'none' */
					 background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0ZmNmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk2JSIgc3RvcC1jb2xvcj0iI2Y0ZmNmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlM2U5ZWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
					 background: -moz-linear-gradient(top,  #f4fcfe 0%, #f4fcfe 96%, #e3e9eb 100%); /* FF3.6+ */
					 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4fcfe), color-stop(96%,#f4fcfe), color-stop(100%,#e3e9eb)); /* Chrome,Safari4+ */
					 background: -webkit-linear-gradient(top,  #f4fcfe 0%,#f4fcfe 96%,#e3e9eb 100%); /* Chrome10+,Safari5.1+ */
					 background: -o-linear-gradient(top,  #f4fcfe 0%,#f4fcfe 96%,#e3e9eb 100%); /* Opera 11.10+ */
					 background: -ms-linear-gradient(top,  #f4fcfe 0%,#f4fcfe 96%,#e3e9eb 100%); /* IE10+ */
					 background: linear-gradient(to bottom,  #f4fcfe 0%,#f4fcfe 96%,#e3e9eb 100%); /* W3C */
					 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4fcfe', endColorstr='#e3e9eb',GradientType=0 ); /* IE6-8 */}
		body.search .topResults .count {font-size:0.8em;}
		body.search .mainResults .count {font-size:0.8em;margin-top:10px;margin-bottom:20px}
/*		body.search .topResults a.pulltab {background:url("/images/search_pulltab.png") top left no-repeat; cursor:pointer; display:block; float:left; height:54px; width:29px;}
*/
		body.search .topResults a.pulltab {background:url('/images/search_pulltab.png') top left no-repeat; cursor:pointer; display:block; float:left; height:54px; width:29px;}
		body.search .topResults a.pulltab:hover {background-position:0 -54px}
		body.search .topResults .insight {height:145px;}
		body.search .topResults .insight a h4,
		body.search .topResults .insight a h4 strong {font-size:1.15em;}
		
		body.search .insightResults,
		body.search .productResults {position:relative;}
		body.search .insightResults a.pulltab {position:absolute; top:75px; right:41px;}
		body.search .productResults a.pulltab {position:absolute; top:75px; right:34px;}
		
		body.search .result .text {min-height:0;}
	/*----- Video pages ------*/
		body.video .videoDescription {padding-top:20px;}
		body.video .videoDescription h2 {color:#3db7e4; font-size:2.8em;}
		body.video .videoDescription p {font-size:1.1em;}
		body.video .videoPlayer {padding-top:40px;}
		
	/*----- Error pages ------*/
	
		body.error #mainContentSection {min-height:300px;}
		body.error .errorNumber {color:#efefef; font-size:18em; font-weight:bold; position:absolute; right:100px; top:240px;}
		body.error .errorDescription {left:150px; position:absolute; top:250px; width:285px;}
		body.error .errorDescription h1 {font-size:4em;}
		body.error .errorDescription h5 {font-size:1.3em; font-weight:normal;}
		body.error .errorDescription p {font-size:0.9em; line-height:1.4em;}
		body.error .errorDescription a {color:#f47612; text-decoration:underline;}
	/*----- Location Search page ------*/
	
		body.locationSearch {}
		body.locationSearch .resultCount  p { margin-left: 0px; float: none; height: 22px;} 
		body.locationSearch .resultCount .filterPills { margin-left: 0px; float: none;}
		body.locationSearch .resultCount .filterPills span { margin-top: 4px; margin-left: 0px; margin-right:4px;}
		body.locationSearch .activeilters { border-top: 0px; }
		body.locationSearch ul.search-result-list { list-style:none; margin: 30px 0 0 0; }
		body.locationSearch ul.search-result-list > li { padding-bottom: 20px; border-bottom: 1px solid #e7e7e7; overflow: hidden;}
		body.locationSearch ul.search-result-list .noResults { margin-left: 0px;}
		body.locationSearch .search-result-list span {display: inline-block;margin-right:10px;}
		body.locationSearch .result-purposes, 
	    body.locationSearch .result-industries {width:40%;float:left;margin-top:10px;}
		
/*		#scrollUp {bottom:20px;right:20px;height:38px;width:38px;background:url("/images/scrollUp.png") no-repeat;}
*/
		#scrollUp {bottom:20px;right:20px;height:38px;width:38px;background:url('/images/scrollup.png')no-repeat;}
@media print {
body.typicalContentPage.withSidebar #tweetTweet, 
body.typicalContentPage.withSidebar .mobileAccess, 
body.typicalContentPage.withSidebar #headerSocialLinks, 
body.typicalContentPage.withSidebar #headerFilterSection, 
body.typicalContentPage.withSidebar #mainNav,
body.typicalContentPage.withSidebar .pageSubHeading,
body.typicalContentPage.withSidebar .breadcrumbs, 
body.typicalContentPage.withSidebar .navigation,
body.typicalContentPage.withSidebar footer { display: none; }
body.typicalContentPage.withSidebar .row { margin: 0; }
body.typicalContentPage.withSidebar .span5 { width: 61.8%; margin: 0 8.2% 0 0; padding: 0; }
body.typicalContentPage.withSidebar .span4 { width: 30%; padding: 0; margin: 0; }
body.typicalContentPage.withSidebar .logo img { width: 140px; }
body.typicalContentPage.withSidebar .mainContent { margin-top: 20px;}
body.typicalContentPage.withSidebar .mainTitle { margin-bottom: 15px;}
body.typicalContentPage.withSidebar .secondaryContent { padding-top: 70px }
body.typicalContentPage.sbu.aboutusLanding #tweetTweet, 
body.typicalContentPage.sbu.aboutusLanding .mobileAccess, 
body.typicalContentPage.sbu.aboutusLanding #headerSocialLinks, 
body.typicalContentPage.sbu.aboutusLanding #headerFilterSection, 
body.typicalContentPage.sbu.aboutusLanding #mainNav,
body.typicalContentPage.sbu.aboutusLanding #SBUheadline,
body.typicalContentPage.sbu.aboutusLanding .productHeading,
body.typicalContentPage.sbu.aboutusLanding .breadcrumbs, 
body.typicalContentPage.sbu.aboutusLanding .navigation,
body.typicalContentPage.sbu.aboutusLanding footer { display: none; }
body.typicalContentPage.sbu.aboutusLanding .row { margin: 0; }
body.typicalContentPage.sbu.aboutusLanding .span7 { width: 61.8%; margin: 0 8.2% 0 0; padding: 0; }
body.typicalContentPage.sbu.aboutusLanding .span5 { width: 30%; padding: 0; margin: 0; }
body.typicalContentPage.sbu.aboutusLanding #headerUtility { border-bottom: none; }
body.typicalContentPage.sbu.aboutusLanding .logoS img { width: 140px; }
body.typicalContentPage.sbu.aboutusLanding .mainContent { margin-top: 10px;}
body.typicalContentPage.sbu.aboutusLanding .mainTitle { margin-bottom: 15px;}
body.typicalContentPage.sbu.aboutusLanding .secondaryContent { padding-top: 44px; margin-left: -10px;}
}
html[data-useragent*='MSIE 10.0'] #tweetTweet .content { width:880px; }