/*Left Navigation*/

#left_navigation {
	width:160px;
	margin-left:0px;
	margin-right:10px;
	padding:0px 00px 30px 0;
	float:left;
	visibility:visible;
	line-height:1.5;
	font-size:13px;
}
#left_navigation a{}
.left_nav_title_area {
	width: 170px;
	float: left;
}
.left_nav_title {
	width:170px;
	display: table-cell;
	padding:15px 10px 15px 5px;
}
.left_nav_title p {
	display: table-cell;
	text-align: left;
	font-size:13px;
	font-weight:bold;
	color:#000;
	line-height:1.3
}
.left_nav_title_none {
	width:170px;
	display: table-cell;
	padding:2px 10px 15px 5px;
}
.left_nav_cta {
	/*margin-top:10px;*/
}
.left_nav_cta_links {
	margin-left:10px;
}
.left_nav_cta a:link {
	color: #1a94e1;
	text-decoration: none;
	border-bottom: dotted #1a94e1 0px;
	outline: none;
}
.left_nav_cta a:hover, a:active {
	color: #609d0c;
	text-decoration: none;
	border-bottom: dotted #609d0c 0px;
	outline: none;
}
.left_nav_cta a:focus {
	text-decoration: none;
	border-bottom:1px dotted #145f8D;
	width:160px;
}
.left_nav_cta a:visited {
	color: #609d0c;
	text-decoration: none;
	border-bottom: dotted #609d0c 0px;
	outline: none;
}
.left_nav_cta_banner_ads a:link {
	text-decoration: none;
	outline: none;
	border-bottom: solid #fff 0px;
}
.left_nav_cta_banner_ads a:hover, a:active, a:focus {
	text-decoration: none;
	outline: none;
	border-bottom: solid #fff 0px;
}
.left_nav_cta_banner_ads a:visited {
	text-decoration: none;
	outline: none;
	border-bottom: solid #fff 0px;
}
.left_nav_cta_heading {
	font-weight:bold;
	margin-bottom:10px;
}
ul.level1 {
	list-style: none;
	margin:0;
	color:#000;
	font-size:18px;
	font-weight:500;
	text-transform:uppercase;
	line-height:normal;
}
ul.level1 li {
	margin-bottom:10px;
}
ul.level1 a, ul.level1 a:visited {
	padding: 0;
	display: block;
	text-decoration: none;
	color:#000;
	padding: 0px 0px 0px 18px;
	border:#fff solid 0px;
}
ul.level1 a:hover, ul.level1 a:active, ul.level1 a:focus {
	border:#fff solid 0px;
}
ul.level1 a.level1_on {
	border:#fff solid 0px;
}
/*Level 2*/

ul.level2 {
	list-style: none;
	margin:0;
	padding-top:0px;
	color:#145F8D;
	font-size:13px;
	font-family: arial, tahoma, sans-serif;
	text-transform:none;
	font-weight:600;
}
ul.level2 li {
	margin: 0;
	padding-bottom:3px;
}
ul.level2 a, ul.level2 a:visited {
	padding: 0;
	display: block;
	text-decoration: none;
	color:#145F8D;
	padding: 0px 0px 10px 0px;
}
ul.level2 a:hover, ul.level2 a:active, ul.level2 a:focus {
}
ul.level2 li.level2on a:hover, ul.level2 li.level2on a:active, ul.level2 li.level2on a:focus {
	color:#145F8D;
}
ul.level2 li.level2on {
	color:#609d0c;
	width:100%;
	padding-bottom:3px;
	margin-bottom:5px;
	border-bottom: 1px dotted #b0b0b0;
}
/*Level 3*/

ul.level3 {
	list-style: none;
	margin-left:0;
	list-style-position: inside;
	padding-left:7px;
	border-bottom: 0px dotted #b0b0b0;
	border:0px solid #cc0000;
		position:relative;
		margin-bottom:15px;
	
}
ul.level3 li {
	margin-left:0px;
	background-image:url(../_images/frameset/nav/left_nav_arrow_grn.png)/*tpa=http://www.rrdonnelley.com/_images/frameset/nav/left_nav_arrow_grn.png*/;
	background-repeat:no-repeat;
	background-position: -10px 1px;
	border:0px solid #000;
	line-height:normal;
}
ul.level3 a, ul.level3 a:visited, ul.level3 a:active {
	padding: 0;
	display: block;
	text-decoration: none;
	color:#145F8D;
	padding: 2px 2px 2px 10px;
}
ul.level3 li a:hover, ul.level3 li a:active, ul.level3 li a:focus {
	background-color:transparent;
	border:#fff solid 0px;
	background-image:url(../_images/frameset/nav/left_nav_arrow_grn.png)/*tpa=http://www.rrdonnelley.com/_images/frameset/nav/left_nav_arrow_grn.png*/;
	background-repeat:no-repeat;
	background-position: -10px 1px;
	text-decoration:underline;
	color:#666;
}
ul.level3 li.level3on {
	background-color:transparent;
}
ul.level3 li.level3on a {
	color:#609d0c;
	font-weight:normal;
	text-decoration:underline;
}
ul.level3 li.level3on a:hover, ul.level3 li.level3on a:active, ul.level3 li.level3on a:focus {
	background-color:transparent;
	color:#609d0c;
	font-weight:normal;
	text-decoration:underline;
}
/*Level 4*/

ul.level4 {
	list-style: none;
	margin-left:0;
	list-style-position: inside;
	padding-left:7px;
	font-size:13px;
	font-weight:normal;
	background-color:transparent;
	border-bottom: 0px dotted #b0b0b0;

}
ul.level4 li {
	margin-left:0px;
	background-image:url(../_images/frameset/nav/left_nav_bullet.png)/*tpa=http://www.rrdonnelley.com/_images/frameset/nav/left_nav_bullet.png*/;
	background-repeat:no-repeat;
	background-position: -8px 2px;
}
ul.level4 a, ul.level4 a:visited, ul.level4 a:active {
	padding: 0;
	display: block;
	text-decoration: none;
	color:#145F8D;
	padding: 2px 2px 2px 14px;
}
ul.level4 li a:hover, ul.level4 li a:active, ul.level4 li a:focus {
	background-color:transparent;
	border:#fff solid 0px;
	background-image:url(../_images/frameset/nav/left_nav_bullet.png)/*tpa=http://www.rrdonnelley.com/_images/frameset/nav/left_nav_bullet.png*/;
	background-repeat:no-repeat;
	background-position: -8px 2px;
	text-decoration:underline;
	color:#666;
}
ul.level4 li.level4on {
	background-color:transparent;
}
ul.level4 li.level4on a {
	color:#609d0c;
	font-weight:normal;
	text-decoration:underline;
}
ul.level4 li.level4on a:hover, ul.level4 li.level4on a:active, ul.level4 li.level4on a:focus {
	background-color:transparent;
	color:#609d0c;
	text-decoration:underline;
}
/*Level 5*/

ul.level5 {
	list-style: none;
	margin-left:0;
	list-style-position: inside;
	padding-left:12px;
	font-size:13px;
	font-weight:normal;
	background-color:transparent;
	border-bottom: 0px dotted #b0b0b0;

}
ul.level5 li {
	margin-left:0px;
	background-image:url(../_images/frameset/nav/left_nav_bullet.png)/*tpa=http://www.rrdonnelley.com/_images/frameset/nav/left_nav_bullet.png*/;
	background-repeat:no-repeat;
	background-position: -10px 2px;
}
ul.level5 a, ul.level5 a:visited, ul.level5 a:active {
	padding: 0;
	display: block;
	text-decoration: none;
	color:#145F8D;
	padding: 2px 2px 2px 12px;
}
ul.level5 li a:hover, ul.level5 li a:active, ul.level5 li a:focus {
	background-color:transparent;
	background-image:url(../_images/frameset/nav/left_nav_bullet.png)/*tpa=http://www.rrdonnelley.com/_images/frameset/nav/left_nav_bullet.png*/;
	background-repeat:no-repeat;
	background-position: -10px 2px;
	text-decoration:underline;
	color:#666;
	font-weight:normal;
}
ul.level5 li.level5on {
	background-color:transparent;
}
ul.level5 li.level5on a {
	color:#609d0c;
	font-weight:normal;
	text-decoration:underline;
}
ul.level5 li.level5on a:hover, ul.level5 li.level5on a:active, ul.level5 li.level5on a:focus {
	background-color:transparent;
	color:#609d0c;
	text-decoration:underline;
}
/*Level 6*/

ul.level6 {
	list-style: none;
	margin-left:0;
	list-style-position: inside;
	padding-left:10px;
	font-size:13px;
	font-weight:normal;
	background-color:transparent;
	border-bottom: 0px dotted #b0b0b0;
}
ul.level6 li {
	margin-left:0px;
	background-image:url(../_images/frameset/nav/left_nav_bullet.png)/*tpa=http://www.rrdonnelley.com/_images/frameset/nav/left_nav_bullet.png*/;
	background-repeat:no-repeat;
	background-position: -10px 2px;
}
ul.level6 a, ul.level6 a:visited, ul.level6 a:active {
	padding: 0;
	display: block;
	text-decoration: none;
	color:#145F8D;
	padding: 2px 2px 2px 12px;
}
ul.level6 li a:hover, ul.level6 li a:active, ul.level6 li a:focus {
	background-color:transparent;
	background-image:url(../_images/frameset/nav/left_nav_bullet.png)/*tpa=http://www.rrdonnelley.com/_images/frameset/nav/left_nav_bullet.png*/;
	background-repeat:no-repeat;
	background-position: -10px 2px;
	text-decoration:underline;
	color:#666;
}
ul.level6 li.level6on {
	background-color:transparent;
}
ul.level6 li.level6on a {
	color:#609d0c;
	font-weight:normal;
	text-decoration:underline;
}
ul.level6 li.level6on a:hover, ul.level6 li.level6on a:active, ul.level6 li.level6on a:focus {
	background-color:transparent;
	color:#609d0c;
	text-decoration:underline;
}
/*Level 7*/


ul.level7 {
	list-style: none;
	margin-left:0;
	list-style-position: inside;
	padding-left:10px;
	font-size:13px;
	font-weight:normal;
	background-color:transparent;
	border-bottom: 0px dotted #b0b0b0;
}
ul.level7 li {
	margin-left:0px;
	background-image:url(../_images/frameset/nav/left_nav_bullet.png)/*tpa=http://www.rrdonnelley.com/_images/frameset/nav/left_nav_bullet.png*/;
	background-repeat:no-repeat;
	background-position: -10px 2px;
}
ul.level7 a, ul.level7 a:visited, ul.level7 a:active {
	padding: 0;
	display: block;
	text-decoration: none;
	color:#145F8D;
	padding: 2px 2px 2px 12px;
}
ul.level7 li a:hover, ul.level7 li a:active, ul.level7 li a:focus {
	background-color:transparent;
	background-image:url(../_images/frameset/nav/left_nav_bullet.png)/*tpa=http://www.rrdonnelley.com/_images/frameset/nav/left_nav_bullet.png*/;
	background-repeat:no-repeat;
	background-position: -10px 2px;
	text-decoration:underline;
	color:#666;
	font-weight:normal;
}
ul.level7 li.level7on {
	background-color:transparent;
}
ul.level7 li.level7on a {
	color:#609d0c;
	font-weight:normal;
	text-decoration:underline;
	
}
ul.level7 li.level7on a:hover, ul.level7 li.level7on a:active, ul.level7 li.level7on a:focus {
	background-color:transparent;
	color:#609d0c;
	text-decoration:underline;
}
/*Level 8 */


ul.level8 {
	list-style: none;
	margin-left:0;
	list-style-position: inside;
	padding-left:18px;
	font-size:13px;
	font-weight:normal;
	background-color:transparent;
	border-bottom: 0px dotted #b0b0b0;
}
ul.level8 li {
	margin-left:0px;
	background-image:url();
	background-repeat:no-repeat;
	background-position: -10px 0;
}
ul.level8 a, ul.level8 a:visited, ul.level8 a:active {
	padding: 0;
	display: block;
	text-decoration: none;
	color:#145F8D;
	padding: 2px 2px 2px 18px;
}
ul.level8 li a:hover, ul.level8 li a:active, ul.level8 li a:focus {
	background-color:transparent;
	background-image:url();
	background-repeat:no-repeat;
	background-position: -10px 0;
	text-decoration:underline;
}
ul.level8 li.level8on {
	background-color:transparent;
}
ul.level8 li.level8on a {
	color:#609d0c;
	font-weight:normal;
	text-decoration:none;
}
ul.level8 li.level8on a:hover, ul.level8 li.level8on a:active, ul.level8 li.level8on a:focus {
	background-color:transparent;
	color:#609d0c;
	text-decoration:none;
}
/*BREADCRUMB ON*/

#breadcrumb li.level1on a {
	color:#609d0c;
	font-weight:bold;
	text-decoration:none;
}
#breadcrumb li.level2on a {
	color:#609d0c;
	font-weight:bold;
	text-decoration:none;
}
#breadcrumb li.level3on a {
	color:#609d0c;
	font-weight:bold;
	text-decoration:none;
}
#breadcrumb li.level4on a {
	color:#609d0c;
	font-weight:bold;
	text-decoration:none;
}
#breadcrumb li.level5on a {
	color:#609d0c;
	font-weight:bold;
	text-decoration:none;
}
#breadcrumb li.level6on a {
	color:#609d0c;
	font-weight:bold;
	text-decoration:none;
}
#breadcrumb li.level7on a {
	color:#609d0c;
	font-weight:bold;
	text-decoration:none;
}
#breadcrumb li.level8on a {
	color:#609d0c;
	font-weight:bold;
	text-decoration:none;
}
