body {
	font: 12px/1.25 Arial, Verdana, Helvetica, sans-serif;
	background: #ffffff;
	margin: 0;
	padding: 0;
	color: #000;

}
#main {
	/*overflow:auto;*/
	padding-bottom:150px;
} 
.print {visibility:visible;}
a:link, active, focus, visited {
	color: #187ab8;
	text-decoration: underline;
}
a img {
	border: none;
}
a img a:link {
	color: #fff;
}
a img a:hover, a:active, a:focus {
	color: #fff;
}
a img a:visited {
	color: #fff;
}
a.icon_go{color: #609D0C;padding-right: 15px;}
a.icon_go:link  { background: url(../_images/icons/green_arrow.png)/*tpa=http://www.rrdonnelley.com/_images/icons/green_arrow.png*/ right center no-repeat;}
a.icon_go:hover { background: url(../_images/icons/grey_arrow.png)/*tpa=http://www.rrdonnelley.com/_images/icons/grey_arrow.png*/ right center no-repeat; }
/* SEARCH */
#searchwrapper {
	display:none
}
/* COLUMNS */
#col2_content {
	margin:0;
	padding-top:10px;
	padding-left:20px;
	margin-right:20px;
	padding-bottom:50px;
	float:left;
	text-align:left;
	width:750px;
	border-left:0px solid #ccc;
}
#col_divide_bottom_2col {
	background-image:url(../_rrdglobal/_images/border_content_divide_bottom_col2.png)/*tpa=http://www.rrdonnelley.com/_rrdglobal/_images/border_content_divide_bottom_col2.png*/;
	background-repeat:no-repeat;
	height:40px;
}
#col3_content {
	margin:0;
	padding-top:10px;
	padding-left:15px;
	padding-right:25px;
	float:left;
	text-align:left;
	width:530px;
	border-right:1px solid #ccc;
	border-left:1px solid #ccc;
	padding-bottom:50px;
}
/* RIGHT COLUMN */
#right_col {
	float:right;
	width:180px;
	margin-right:20px;
	margin-left:10px;
	padding-top:19px;
}
.dottedline {
	border-bottom: 1px dotted #ccc;
	width:100%;
	height:1px;
	margin: 12px 0px;
	margin-top:-0.15em;
}
/* LISTS */
/* UL LEFT ALIGN */
ul.leftalign li {
	margin-left: 15px;
	list-style:url(../_images/frameset/list_bullet3.png)/*tpa=http://www.rrdonnelley.com/_images/frameset/list_bullet3.png*/;
	padding-top: 2px;
	padding-bottom: 0px;
}

ul.leftalign1 li {
	margin-left: 15px;
	list-style:url(../_images/frameset/list_bullet3.png)/*tpa=http://www.rrdonnelley.com/_images/frameset/list_bullet3.png*/;
	padding-top: 2px;
	padding-bottom: 0px;
}

ul.leftalign2 li {
	margin-left: 35px;
	list-style:url(../_images/frameset/list_bullet2.png)/*tpa=http://www.rrdonnelley.com/_images/frameset/list_bullet2.png*/;
}
ul.leftalign3 li {
	margin-left: 55px;
	list-style:url(../_images/frameset/list_bullet3.png)/*tpa=http://www.rrdonnelley.com/_images/frameset/list_bullet3.png*/;
	padding-top: 2px;
	padding-bottom: 3px;
}
ul.leftalignspacing li {
	margin-left: 15px;
	list-style:url(../_images/frameset/list_bullet3.png)/*tpa=http://www.rrdonnelley.com/_images/frameset/list_bullet3.png*/;
	padding-top: 2px;
	padding-bottom: 5px;
}
ul.leftalign2spacing li {
	margin-left: 15px;
	list-style:url(../_images/frameset/list_bullet3.png)/*tpa=http://www.rrdonnelley.com/_images/frameset/list_bullet3.png*/;
	padding-top: 2px;
	padding-bottom: 5px;
}
ul.leftalign3spacing li {
	margin-left: 55px;
	list-style:url(../_images/frameset/list_bullet2.png)/*tpa=http://www.rrdonnelley.com/_images/frameset/list_bullet2.png*/;
	padding-top: 2px;
	padding-bottom: 5px;
}
.checkboxlist ul {
	padding:5px 10px 10px 0;
	text-align: left;
	line-height:1.5em;
	margin:0;
	border:0px solid #000;
}
.checkboxlist li {
	margin-left:20px;
	font-size:12px;
	list-style: none;
	background: url(../_images/icons/checkbox.png)/*tpa=http://www.rrdonnelley.com/_images/icons/checkbox.png*/ no-repeat 3px -4px;
	padding: 0 10px 5px 25px;
	color:#333;
	text-align: left;
}
.checkbox {
	margin-left:20px;
	font-size:12px;
	list-style: none;
	background: url(../_images/icons/checkmark.png)/*tpa=http://www.rrdonnelley.com/_images/icons/checkmark.png*/ no-repeat 3px -4px;
	padding: 0 10px 5px 25px;
	color:#333;
	text-align: left;
}
.checkmark {
	margin-left:20px;
	font-size:12px;
	list-style: none;
	background: url(../_images/icons/checkmark.png)/*tpa=http://www.rrdonnelley.com/_images/icons/checkmark.png*/ no-repeat 6px 0px;
	padding: 0 10px 5px 25px;
	color:#333;
	text-align: left;
}
/* HEADERS */
h1 {
	color:#609d0c;
	font-weight:700;
	padding:0;
	margin-bottom:10px;
	margin-top:10px;
}
h2 {
	color:#333;
	font-weight:600;
	margin-top:20px;
	margin-bottom: 10px;
	padding-bottom: 2px;
}
h3 {
	color: #666;
	font-weight:600;
	margin-top:18px;
	margin-bottom: 10px;
}
h4 {
	font-weight:500;
	margin-top:18px;
	margin-bottom: 10px;
	color: #999;
}
h5 {
	margin-top:15px;
	margin-bottom: 10px;
	color: #999;
}
/* HOMEPAGE BANNER */

sub, sup {
	font-size: 7px;
	line-height: 0;
	position: relative;
}
.rrd-home-page {
	width:1024px;
}
.learn_more{display:none;}
/* SLIDERKIT PANEL - JQUERY HOMEPAGE BANNER */
.sliderkit {
	display:none;
	text-align:left;
}
.sliderkit a {
	text-decoration:none;
}
.sliderkit a:hover {
	text-decoration:none;
}
.sliderkit a:focus {
	outline:none;
}
.sliderkit img {
	margin-top:19px;
	border:0px solid #000;
}
.sliderkit .sliderkit-nav {
	z-index:10;
	position:absolute;
	text-align:left;
}
.sliderkit .sliderkit-nav-clip {
	position:relative;
	overflow:hidden;
	margin:0 auto;
}
.sliderkit .sliderkit-nav-clip ul {
	position:relative;
	list-style:none;
	margin:0;
	padding:0;
}
.sliderkit .sliderkit-nav-clip ul li {
	float:left;
}
.sliderkit .sliderkit-nav-clip ul li a {
	display:block;
}
.sliderkit .sliderkit-btn {
	z-index:10;
}
.sliderkit .sliderkit-panel {
	z-index:6;
	margin:0 auto;
	position:absolute;
	background:#fff;
}
.sliderkit .sliderkit-panel-active {
	z-index:5;
}
.sliderkit .sliderkit-panel-old {
	z-index:4;
}
.sliderkit .sliderkit-panel .sliderkit-panel-textbox {
	position:relative;
	z-index:1;
	top:0;
	left:0;
}
.sliderkit .sliderkit-panel .sliderkit-panel-text {
	position:relative;
	z-index:3;
	top:0;
	left:0;
}
.sliderkit .sliderkit-panel .sliderkit-panel-overlay {
	position:relative;
	z-index:2;
	top:0;
	left:0;
}
.sliderkit .sliderkit-panel h1 {
	margin-top:50px;
	position:relative;
	color:#609d0c;
	font-size:30px;
	font-weight:bold;
	text-transform:normal;
}
.photoslider-bullets {
	height:319px;
}
.sliderkit .sliderkit-panel h2 {
	left:10px;
	position:relative;
	color:#609d0c;
	font-size:20px;
	font-weight:normal;
	line-height:1.15em;
}
.sliderkit .sliderkit-panel a {
	text-decoration:none;
}
.sliderkit .sliderkit-panel a:hover {
	text-decoration:underline;
}
.sliderkit .sliderkit-panel a:active {
	text-decoration:underline;
}
.sliderkit .sliderkit-panel a:focus {
	text-decoration:underline;
}
/* NAVIGATION - thumbnails */
.photoslider-bullets .sliderkit-nav {
	width:960px;
	margin:0 auto;
	margin-top:319px;
	height:45px;
}
.photoslider-bullets .sliderkit-nav-clip {
	margin-left:-9px
}
.photoslider-bullets .sliderkit-nav-clip ul li {
	margin-top:1px;
}
.photoslider-bullets .sliderkit-nav-clip ul li img {
	margin:0;
	width:50px;
	height:42px;
	float:left;
}
.photoslider-bullets .sliderkit-nav-clip ul li object {
	margin:0;
	width:70px;
	float:left;
	padding:8px 0 0 8px;
	text-transform:normal;
}
.photoslider-bullets .sliderkit-nav-clip ul li a {
	padding-left:8px;
	padding-top:4px;
	width:150px;
	height:45px;
	background:url(../_images/home/homepg_thumb_grey.png)/*tpa=http://www.rrdonnelley.com/_images/home/homepg_thumb_grey.png*/ no-repeat 8px 4px;
	color:#666666;
	border-top:1px solid transparent !important;
	border-bottom:1px solid #dddddd;
	font-size:11px;
	text-transform:normal;
	line-height:1.15em;
	text-decoration:none;
}
.photoslider-bullets .sliderkit-nav-clip ul li.sliderkit-selected a {
	padding-left:8px;
	padding-top:4px;
	width:150px;
	height:45px;
	font-weight:600;
	background:url(../_images/home/homepg_thumb_blue.png)/*tpa=http://www.rrdonnelley.com/_images/home/homepg_thumb_blue.png*/ no-repeat 8px 4px;
	color:#1a94e1;
	font-size:11px;
	letter-spacing:-.1px;
	border-top:1px solid transparent !important;
	border-bottom:1px solid #dddddd;
	text-transform:normal;
}
.photosgallery-captions {
	width:auto;
	height:319px;
	margin-left: auto;
	margin-right: auto;
}
.frameset_banner {
	background-image:url(../_images/home/homepg_banner_nav_shadow.png)/*tpa=http://www.rrdonnelley.com/_images/home/homepg_banner_nav_shadow.png*/;
	height:370px;
	border-bottom:1px solid #ddd;
}
.banner_panel {
	height:319px;
	border-bottom:1px solid #ddd;
	z-index:4;
	overflow:hidden;
}
.banner_margin {
	margin-bottom:20px;
	margin-top:10px;
	z-index:3;
}

/* HOMEPAGE LAYOUT */
.frameset_homepg {
	padding-top:10px;
	z-index:20000;
}
/* LEFT SIDE */
#homepg_leftside {
	display: table-cell;
	margin:0;
	width:295px;
	float:left;
	/*margin-left:-25px;*/
}
#homepg_leftside_top_border {
	display:none;
}
/* RIGHT SIDE */
#homepg_right_frame {
	display: table-cell;
	margin:0;
	width:600px;
	float:right;
}
#homepg_rightside {
	display: table-cell;
	margin:0;
	width:600px;
	/*height:200px;*/
	border-left:1px solid #ccc;
	padding-right:20px;
	line-height:16px;
}
#homepg_rightside h1 {
	font-size:18px;
	margin:18px 0 10px 15px;
	color:#0272be;
}
#homepg_rightside p {
	margin:8px 0 10px 15px;
	line-height:16px;
}
.homepg_rightside_divide {
	display:none;
}
#homepg_rightside img {
	padding:5px 0px 5px 18px;
	float:right;
}
.contact_table {
	padding:0;
	margin:0;
}
/* BOTTOM SECTION */
.left {
	/*float:right;*/
}
.homepg_btm_section_divide {
	display:none;
}
.homepg_btm_section {
	/*float:right;*/
	display: table-cell;
	margin:0;
	width:500px;
	border-left:1px solid #ccc;
	padding:0px 8px 0 10px;
	float:left;
	margin-top:-50px;
	z-index:20000;
}
.homepg_btm_section h2 {
	font-weight:600;
	font-size:14px;
	padding:0;
	color:#5f9d0c;
	width:175px;
	line-height:1.15;
	padding:0 20px 10px 15px;
}
.homepg_btm_section p {
	width:350px;
	padding:0 10px 10px 5px;
	line-height:16px;
}
.demo1 {
	float:left;
	z-index:2999;
}

/* NEWS TABS */
/* JQUERY - NEWS TABS */
#scroller-body {
	width:277px;
	height:285px;
	padding:0 18px 10px 0;
}
#scroller-body h3 {
	color:#0272be;
	font-weight:600;
}
#scroller-header {
	width:260px;/*width:270px;*/
	height:30px;
	padding:20px 0 0 15px;
	font-weight:700;
	border-bottom:2px solid #999;
}
#scroller-header a {
	/*background-image: url(../_images/home/background_tab.png);*/
	position:relative;
	padding: 3px;
	-moz-border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px;
	border-top:1px solid #bbb!important;
	border-right:1px solid #bbb!important;
	border-left:1px solid #bbb!important;
	background:#bbb;
	border:1px solid #bbb;
	padding-left:17px;
	padding-right:17px;
	padding-top:5px;
	text-decoration:none;
	color:#ffffff;
	font-weight:700;
}
#panel ul {
	list-style:none;
	margin:0 5px;
	padding:0;
}
#panel ul li {
	list-style:url(../_images/frameset/footer/list_arrow_blue.png)/*tpa=http://www.rrdonnelley.com/_images/frameset/footer/list_arrow_blue.png*/;
	margin-left: 8px;
	padding:2px 0 5px 0;
	color:#557482;
	border-bottom:0px solid #ccc;
	line-height:17px;
}
#panel ul li.last {
	border-bottom:none!important;
	line-height:18px;
}
#panel ul li a {
	color:#666;
	text-decoration:none;
	line-height:16px;
}
#panel-1 {
	text-decoration:none;
	/*background-color:#145F8D;*/
	background-color:transparent;
	color:#145F8D;
}
#panel-2 {
	display:none;
}
#panel-3 {
	display:none;
}
#panel-1a {
	text-decoration:none;
	background-color:#fff;}
#panel-2a {padding-bottom:250px;color:#145F8D;}
#panel-3a {}
#panel-1b {
	text-decoration:none;
	background-color:#fff;}
#panel-2b {}
#panel-3b {}
.page-break  { display: block; page-break-before: always; padding-bottom:50px; }

/* SLIDE OUT AD */
.slide-out-div {
	display:none;
}
.slide-out-div p {
	display:none;
}

/* SEARCH BUTTON */
.searchbox_submit {
	display:none;
}
/* LOGO */
#logo {
	float:left;
	padding-top:20px;
	padding-left:9px;
	margin-left:-7px;
}
.button_a {
	display: none
}
.overlay {
	display: none
}
.plus_circle_white {
	display: none
}
.demo1 {
	width:200px;
}

/* IMAGES */
.img_right {
	float:right;
	padding-left:20px;
}

/* nav */
#container_menu {
	display: none
}
#top_nav {   /*IMPT NOTE for IE: use this for border radius... border-radius: 5px 10px 15px 20px; (top-left, top-right, bottom-right, bottom-left)*/
	float:right;
	padding-top: 10px;
  padding-bottom: 15px;
}
#leftcurve {
	display: none
}
#rightcurve {
	display: none
}
ul.top_area_bullets li {
	display: none
}
#top_nav_middle {
	font-size: 12px;
	margin-top:8px;
}
.top_nav_site_name {
	font-size:22px;
	font-weight:500;
	padding-left: 10px;
	color:#333333;
	white-space:nowrap;
}
#top_nav_site_icon {
	display: none
}
#language_container {
	display: none
}
#flag {
	display: none
}
#language {
	display: none
}
#language_dropdown_arrow {
	display: none
}
/* right side icons */
img.tabright {
	display: none
}
img.tabright2 {
	display: none
}
img.tabright3 {
	display: none
}
/* top middle nav */
#top_nav_middle {
	display: none
}
/* BREADCRUMBS */
.breadCrumbHolder {
	margin-left:-15px;
	border-bottom:1px solid #ccc;
	margin-bottom:-5px;
}
.breadCrumb ul li {
	margin-top:-15px;
	display: block;
	float: left;
	position: relative;
	height: 20px;
	overflow: hidden;
	line-height: 20px;
	margin:0;
	padding: 10px 10px 0px 0;
	font-size:10px;
	background: url(../_rrdglobal/_images/breadcrumb_chevron.png)/*tpa=http://www.rrdonnelley.com/_rrdglobal/_images/breadcrumb_chevron.png*/ no-repeat 100% 5px;
	border:0px solid #000;
}
.breadCrumb ul li a {
	display: block;
	position: relative;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	float: left;
	color: #666;
	text-decoration:none;
	margin-left: 5px;
}
.breadCrumb ul li.last {
	color: #8dc540;
	font-weight:bold;
	text-decoration:none;
	margin-top:-1px;
}
/* paragraph */
p {
	margin-top:5px;
	margin-bottom:15px;
	margin-right:10px;
}
.leadpar {
	font-size:16px;
	line-height: 22px;

}
/* banner */
#page_banner {
	padding-top:10px;
}
/*INTRO PARAGRAPH*/
.intropar {
	color:#00b4e9;
}
.quote {
	margin-top:-20px;
	float:right;
	color:#666
}
/*LISTS*/
ul.leftalign li {
	margin:0 10px 0 -15px;
	list-style:url(../_images/frameset/list_bullet1.png)/*tpa=http://www.rrdonnelley.com/_images/frameset/list_bullet1.png*/;
	padding-top: 2px;
	padding-bottom: 3px;
}
ul.indent li {
	list-style:url(../_images/frameset/list_bullet1.png)/*tpa=http://www.rrdonnelley.com/_images/frameset/list_bullet1.png*/;
	padding-top: 2px;
	padding-bottom: 3px;
}
ul.indent2 li {
	list-style:url(../_images/frameset/list_bullet2.png)/*tpa=http://www.rrdonnelley.com/_images/frameset/list_bullet2.png*/;
}
/* Tabs */
ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px; /*--Set height of tabs--*/
	border-left: 1px solid #666;
	border-top-left-radius: 10px;
	width:720px;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 31px; /*--Vertically aligns the text within the tab--*/
	border-top: 1px solid #666;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-right: 1px solid #666;
	border-bottom:  1px solid #666;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	background: url(../_images/frameset/tab_bg.jpg)/*tpa=http://www.rrdonnelley.com/_images/frameset/tab_bg.jpg*/;
}
ul.tabs li a {
	text-decoration: none;
	color: #145f8d;
	display: block;
	font-size: 14px;
	font-weight:600;
	padding: 0 20px;
	outline: none;
}
html ul.tabs li.active, html ul.tabs li.active a:hover { /*--Makes sure that the active tab does not listen to the hover properties--*/
	background: #fff;
	border-bottom: 1px solid #fff; /*--Makes the active tab look like it's connected with its content--*/
}
.tab_container {
	border-bottom: 1px solid #666;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-right:  1px solid #666; /* border-top-right-radius: 10px; THIS NEEDS TO BE WORKED ON - MAKE ROUND*/
	border-left: 1px solid #666;
	border-top: 1px solid #666;
	overflow: hidden;
	clear: both;
	float: left;
	width: 720px;
	background: #fff;
}
.tab_content {
	padding: 20px 0 20px 20px;
	font-size: 14px;
}
.tab_content .bullets {
	margin-left: 10px;
	list-style:url(../_images/frameset/list_bullet1.png)/*tpa=http://www.rrdonnelley.com/_images/frameset/list_bullet1.png*/;
	padding-top: 2px;
	padding-bottom: 3px;
}
/*End Tabs CSS*/

/* ~~ Table styles ~~ */
table {
	padding-top:15px;
	padding-bottom:25px;
}
.standardtable {
	font-family:  Arial, sans-serif;
	text-align:left;
	margin:-10px 0 -10px 0;

}
.standardtable th, tbody, tbody td {
	text-align: left;
	vertical-align:top;
}
.standardtable thead tr th {
	color: #FFF;
	height: 33px;
	background:#860037;
	font-size:18px;
	font-weight:400;
	padding-left: 10px;
	padding-top:4px;
	padding-right:8px;
	border-top: 1px #999 solid;
	border-left: 1px #999 solid;
	border-right: 1px #999 solid;
	border-bottom: 1px #999 solid;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
.standardtable th.left {
	color: #000;
	height: 33px;
	background:#860037;
	font-size:18px;
	font-weight:400;
	padding-left: 10px;
	padding-top:4px;
	padding-right:8px;
	border-top: 1px #999 solid;
	border-left: 1px #999 solid;
	border-right: 1px #999 solid;
	border-top-left-radius: 10px;
}
.standardtable th.middle {
	color: #000;
	height: 33px;
	background:#860037;
	font-size:18px;
	font-weight:400;
	padding-left: 10px;
	padding-top:4px;
	padding-right:8px;
	border-top: 1px #999 solid;
	border-left: 1px #999 solid;
	border-right: 1px #999 solid;
}
.standardtable th.right {
	color: #000;
	height: 33px;
	background:#860037;
	font-size:18px;
	font-weight:500;
	padding-left: 10px;
	padding-top:4px;
	padding-right:8px;
	border-top: 1px #999 solid;
	border-left: 1px #999 solid;
	border-right: 1px #999 solid;
	border-top-right-radius: 10px;
}
.standardtable td {
	background:#999;
	padding-top: 0;
	padding-right: 10px;
	padding-bottom: 0;
	padding-left: 10px;
	border-bottom: 1px #999 solid;
	border-left: 1px #999 solid;
	border-right: 1px #999 solid;
}
.standardtable td:first-child {
	border-left: 1px #999 solid;
}
.standardtable td.subcategory:first-child {
	border-right: 1px #999 solid;
}
.standardtable tr {
	background:#fff;
}
.standardtable tr:nth-child(even) {
	background:#fff;
}
.standardtable tr:nth-child(odd) {
	background:#fff;
}
.standardtable td.footer {
	height:10px;
	color: #ffffff;
	background: #6f6f6f; 
	font-family:  arial, tahoma, sans-serif;
	font-size: 12px;
	text-align: left;
	padding-top: 2px;
	padding-right: 10px;
	padding-bottom: 2px;
	padding-left: 5px;
	border-bottom: 1px #666 solid;
	border-left: 1px #666 solid;
	border-right: 1px #666 solid;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
.standardtable .subheader {
	font-family:  Helvetica, Arial, Sans-serif;
	font-size:13px;
	font-weight:bold;
	color:#003978;
	padding:0 0 0 10px;
	border-bottom: 1px solid #999;
}
.standardtable .subcategory {
	font-family:  Helvetica, Arial, sans-serif;
	font-size:14px;
	font-weight: 500;
	border-bottom: 1px solid #fff;
}
.standardtable tfoot td {
	color: #000;
}
.locations_table {
	display:none;
}
.imagemap {
	display:none;
}
.inner {
	padding:0;
	margin:0;
}
.backtotop {
	display:none;
}

.cta_color1 {
	background: #8fc23f;
	border: 1px solid #d2d2d2;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	margin-bottom:20px;
}
.cta_color1 .title {
	font-family:  Helvetica, Arial, sans-serif;
	font-size:12px;
	font-weight: bold;
	color:#455660;
	margin-bottom: 0px;
	padding: 10px 5px 0px 15px;
}
.cta_color1 .subtitle {
	font-family:  Helvetica, Arial, sans-serif;
	font-size:12px;
	color: #FFF;
	font-weight: bold;
	padding: 0px 5px 0px 15px;
	margin-bottom: 0px;
}
.cta_color1 p {
	font-family:  Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size:11px;
	color: #FFF;
	padding: 0px 0px 0px 15px;
}
.cta_color1 p a:link {
	color:#455660;
	text-decoration: none;
	background-image: url(../_images/cta/right_arrow1.png)/*tpa=http://www.rrdonnelley.com/_images/cta/right_arrow1.png*/;
	background-position: right;
	background-repeat:no-repeat;
}
hr {
	border:1px solid #666;
}
.cta_whitefillgraybdr {
	height:110px;
	border: 3px solid #ccc;
	background: #ffffff;
	padding: 0;
	margin:0 auto;
	border-radius:10px;
}
.cta_whitefillgraybdr a, .cta_whitefillgraybdr a:link {
	font-size:10px;
	text-decoration: none;
	border:none;
	font-weight:500;
	text-decoration: underline;
}
.cta_whitefillgraybdr .title {
	font-family: Arial;
	font-size: 18px;
	font-weight: bold;	
	margin-left:10px;
	color:#0272BE;
	line-height: 1.15;
}
.cta_whitefillgraybdr .title2 {
	font-family: Arial;
	font-size: 18px;
	letter-spacing:-1px;
	font-weight: bold;	
	margin-left:10px;
	color:#0272BE;
	line-height: 1.15;
}
.cta_whitefillgraybdr p {
	font-family: arial, tahoma, sans-serif;
	font-size: 13px;
	color: #455660;
	line-height: 1.15;
	color: #666;
	margin-left:10px;
}
.cta_whitefillgraybdr img {
	padding-right:5px;
	border:0;
	margin-top:-14px;
}
.cta_whitefillgraybdr p a:link {
	color:#666;
}
.cta_grayfillgraybdr {
	background: #efefef;
	border: 2px solid #d2d2d2;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	margin-bottom:20px;
}
.cta_grayfillgraybdr .title {
	font-family:  arial, tahoma, sans-serif;
	font-size:14px;
	font-weight: bold;
	color:#609D0C;
	margin-bottom: 0px;
	padding: 15px 15px 0px 15px;
}
.cta_grayfillgraybdr p {
	font-family:  arial, tahoma, sans-serif;
	font-size:12px;
	color: #000;
	padding: 0px 15px 0px 15px;
	line-height:1.15em;
}
.investors{
	border:1px dotted #666;
	background:transparent;
	margin-left:5px;
	margin-top:5px;
	margin-right:22px;
	padding:5px 10px 6px 10px; 
	border-radius:10px;
}
/* middle divs */
#col_divide_horz {
	display: none;
}
#content_container_col2 {
	margin-top:-10px;
}
#col3_content {
	margin:0;
	float:left;
	text-align:left;
	width:520px;
	margin-top:-10px;
}
/* contact page */
.contact_table {
	display:none;
	padding:5px;
	border:1px solid #000
}
/* page button banners */
.button_banners {
	margin-left:-10px;
}
#button_banner1 {
	float:left;
	padding:15px 25px 25px 10px;
}
#button_banner2 {
	float:left;
	padding:15px 25px 25px 25px;
}
/* FOOTER */
#footer_row_bg {
	border-top:1px solid #ccc;
	margin-top:65px;
}
.tabs {
	display: none
}
#footer {
	/*border-top:2px solid #ccc;*/
position:absolute;
bottom:70px;

}
#footer_row {
	display: none
}
#footer_row2 {
	display: none
}
.footer_column {
	display: none
}
.footer_column ul {
	display: none
}
.footer_column_title {
	display: none
}
#footer_address {
	margin:0 10px 0 10px;
	float:left;
	margin-left:-1px;
	line-height:18px;
}
.footer_image {
	display: none
}
#footer_address_name {
	font-size:18px;
	color:#333;
	font-weight:600;	
	padding-bottom:5px;
}
#footer_address {
	padding:0px 0 10px 0;
	float:left;
	font-size:13px;
}
#footer_logo {
	display: none
}
#footer_fsc_container {
	display: none
}
#footer_fsc_logo {
	display: none
}
#footer_fsc_copy {
	display: none
}
#footer_fsc_copy a:link {
	display: none
}
#footer_row_links {
}
/* FOOTER ROW LINKS */
#footer_row {
	background:#ccc;
	height:2px;
}
#footer_row_links {
	color:#fff;
	font-size:11px;
	text-transform:uppercase;
	/*margin-top:25px;*/
	padding:10px 15px 10px 0;
}
.footer_row_links_on {
	display:none;
}
#footer_row_links a:link {
	display:none;
}
#footer_row_links a:visited {
	display:none;
}
#footer_row_links a:active {
	display:none;
}
#footer_row_links a:hover {
	display:none;
}
.footer_row_divide {
	display:none;
}
/* copyright */
#copyright {
	font-size:11px;
	text-transform:none;
	text-align:center;
	color:#999;
	padding:5px;
	padding-top:15px;
	line-height:+1.25
}
.skip {
	display: none
}
.skip a:focus, .skip a:active {
	display: none
}
/* End-To-End Solutions Animation */
.circleBig{
    position:absolute;
    top:20px;
    left:20px;
    width:275px;
    height:275px;
}
.menu{
    position:absolute;
    width:275px;
    height:275px;
    top:20px;
    left:20px;
    z-index:-9999;
}
a.print, a.digital, a.supply{
    float:left;
    clear:both;
    height:275px;
    width:275px;
    text-indent:-2000000px;
    /*opacity:0.8;*/
    background:transparent url(../_images/home/menu_new.png)/*tpa=http://www.rrdonnelley.com/_images/home/menu_new.png*/ no-repeat top left;
	border:0px solid #336699;
}
a.print{
	display:none;
}
a.digital{
	display:none;
}
a.supply{
	display:none;
}
a.print:hover, a.digital:hover, a.supply:hover{
    opacity:1.0;
}
.circle{
    display:none;
}
.description{
	margin-left:5px;
	margin-top:5px;
    width:100px;
    height:100px;
	padding:6px ;
    text-align:center;
    font-weight:bold;
    color:#fff;
    text-decoration:none;
    font-size:13px;
}
.description ul{
	padding-top:15px;
    list-style:none;
    text-align:center;
}
.description ul a{
    line-height:1.15em;
    font-weight:bold;
    color:#fff;
    text-decoration:none;
    font-size:13px;
	cursor:pointer;
}
.description ul a:hover{
    color:#f0f0f0;
	text-decoration:underline;
}
.description li{
	text-decoration:none;
}
.clickable {
   cursor: pointer;
}
.clickable:hover {
	display:none;
}
/* BUTTONS */
/* HOMEPAGE BTM BUTTON */
a.button4 {
	background:none!important;
}
a.button4:hover {
	text-decoration: underline;
	cursor:pointer;
}
a.button4 span {
	color: #000;
	background:none!important;
	
}
a.button4:hover span {
	text-decoration:underline;
	cursor:pointer;
}
/*Right Column*/
.rightbox_header_top {
	padding:10px 10px 10px 10px;
}
.rightbox {
	line-height: 1.2em;
}
.rightbox_header1 {
	font-size:1.15em;
	font-weight:bold;
	line-height:1.2em;
	color:#609D0C;
	padding:0 5px 8px 0px;
	margin-bottom: 13px;
	border-bottom: 1px dotted #ccc;
}
.rightbox_header {
	font-size:1.07em;
	font-weight:bold;
	line-height:1.2em;
	color:#3f3f3f;
	padding:0 5px 3px 0px;
}
.rightbox_subheader {
	font-weight:bold;
	color:#000;
	padding:5px 10px 0 0px;
	font-size:12px;
}
.rightbox ul {
	padding:5px 10px 10px 0;
	text-align: left;
	line-height:1.4;
	margin:0;
	border:0px solid #000;
}
.rightbox li {
	margin-left: 15px;
	list-style:url(../_images/frameset/list_bullet3.png)/*tpa=http://www.rrdonnelley.com/_images/frameset/list_bullet3.png*/;
	padding-top: 2px;
	padding-bottom: 0px;
}
.rightbox li a:link {
	color:#145F8D;
	text-decoration: underline;
}
.rightbox li a:active, a:focus {
	color:#145F8D;
	text-decoration: underline;
}
.rightbox li a:visited {
	color:#145F8D;
	text-decoration: underline;
}
.rightbox li a:hover {
	color:#666;
	text-decoration: underline;
}
/*MISC*/
.highlight { 
	font-size:18px;
	color:#609d0c;
	line-height:18px;
}

.highlight a:link {	
	color:#609d0c;
	text-decoration:underline;
}

.highlight a:visited {	
	color:#609d0c;
	text-decoration:underline;
}

.icon_email {
padding-right:3px; padding-bottom: 11px; margin-left:-3px; margin-top: 5px;
}

.icon_subsite {
padding-right:3px; padding-bottom: 11px; margin-left:-3px; margin-top: 5px;
}

.icon_phone {padding-right:7px; padding-bottom: 10px}

.icon_fax {
	margin-left:-3px;margin-top:2px;padding-right:2px; padding-bottom: 10px}
	
.icon_corp_building {
padding-right:7px; padding-bottom:15px;margin-top:5px;
}


.highlight_login a {
	font-size:1.4em;
	color:#609d0c;
	text-decoration:underline;
}
#left_navigation {
	width:160px;
	margin-left:0px;
	margin-right:5px;
	padding:10px 0px 30px 0;
	float:left;
	visibility:visible;
	line-height:1.5;
	font-size:13px;
}
.cta_divide {
padding: 10px;
}
.left_nav_title_area {
	width: 170px;
	float: left;
}
.left_nav_title {
	width:170px;
	display: table-cell;
	padding:15px 10px 0px 5px;
}
.left_nav_title p {
	display: table-cell;
	text-align: left;
	font-size:13px;
	font-weight:bold;
	color:#000;
	line-height:1.3
}
.left_nav_title_none {
	width:170px;
	display: table-cell;
	padding:2px 10px 15px 5px;
}
.left_nav_cta {
	margin-top:10px;
}
.left_nav_cta_links {
	margin-left:10px;
}
.left_nav_cta a:link {
	color: #1a94e1;
	text-decoration: none;
	border-bottom: dotted #1a94e1 0px;
	outline: none;
}
.left_nav_cta a:hover, a:active, a:focus {
	color: #1a94e1;
	text-decoration: none;
	border-bottom: dotted #1a94e1 0px;
	outline: none;
}
.left_nav_cta a:visited {
	color: #609d0c;
	text-decoration: none;
	border-bottom: dotted #609d0c 0px;
	outline: none;
}
.left_nav_cta_banner_ads a:link {
	text-decoration: none;
	outline: none;
	border-bottom: solid #fff 0px;
}
.left_nav_cta_banner_ads a:hover, a:active, a:focus {
	text-decoration: none;
	outline: none;
	border-bottom: solid #fff 0px;
}
.left_nav_cta_banner_ads a:visited {
	text-decoration: none;
	outline: none;
	border-bottom: solid #fff 0px;
}
.left_nav_cta_heading {
	font-weight:bold;
	margin-bottom:10px;
}
ul.level1 {
	list-style: none;
	margin:0;
	color:#000;
	font-size:18px;
	font-weight:500;
	text-transform:uppercase;
	line-height:normal;
}
ul.level1 li {
	margin-bottom:10px;
}
ul.level1 a, ul.level1 a:visited {
	padding: 0;
	display: block;
	text-decoration: none;
	color:#000;
	padding: 0px 0px 0px 18px;
	border:#fff solid 0px;
}
ul.level1 a:hover, ul.level1 a:active, ul.level1 a:focus {
	border:#fff solid 0px;
}
ul.level1 a.level1_on {
	border:#fff solid 0px;
}
/*Level 2*/

ul.level2 {
	list-style: none;
	margin:0;
	padding-top:0px;
	color:#145F8D;
	font-size:13px;
	font-family: arial, tahoma, sans-serif;
	text-transform:none;
	font-weight:600;
}
ul.level2 li {
	margin: 0;
	padding-bottom:3px;
}
ul.level2 a, ul.level2 a:visited {
	padding: 0;
	display: block;
	text-decoration: none;
	color:#145F8D;
	padding: 0px 0px 10px 0px;
}
ul.level2 a:hover, ul.level2 a:active, ul.level2 a:focus {
}
ul.level2 li.level2on a:hover, ul.level2 li.level2on a:active, ul.level2 li.level2on a:focus {
	color:#145F8D;
}
ul.level2 li.level2on {
	color:#609d0c;
	width:100%;
	padding-bottom:3px;
	margin-bottom:5px;
	border-bottom: 1px dotted #b0b0b0;
	border:1px solid #000;
}
/*Level 3*/
ul.level3 {
	list-style: none;
	margin-left:0;
	list-style-position: inside;
	padding-left:7px;
	border-bottom: 0px dotted #b0b0b0;		
}
ul.level3 li {
	margin-left: 10px;
	list-style:url(../_images/frameset/list_bullet3.png)/*tpa=http://www.rrdonnelley.com/_images/frameset/list_bullet3.png*/;
	padding-top: 2px;
	padding-bottom: 0px;
}
ul.level3 a, ul.level3 a:visited, ul.level3 a:active {
	padding: 0;
	display: block;
	text-decoration: none;
	color:#145F8D;
}

/*Level 4*/
ul.level4 {
	list-style: none;
	margin-left:0;
	list-style-position: inside;
	padding-left:15px;
	line-height:16px;
}
ul.level4 li {
	list-style:url(../_images/frameset/nav/left_nav_bullet.png)/*tpa=http://www.rrdonnelley.com/_images/frameset/nav/left_nav_bullet.png*/;
	padding:0px;
}
ul.level4 a, ul.level4 a:visited, ul.level4 a:active {
	padding: 0;
	display: block;
	text-decoration: none;
	color:#145F8D;
}
/*Level 5*/
ul.level5 {
	line-height:16px;
	list-style: none;
	margin-left:0;
	list-style-position: inside;
	padding-left:15px;
}
ul.level5 li {
	list-style:url(../_images/frameset/nav/left_nav_bullet.png)/*tpa=http://www.rrdonnelley.com/_images/frameset/nav/left_nav_bullet.png*/;
	padding: -8px -2px;
}
ul.level5 a, ul.level5 a:visited, ul.level5 a:active {
	padding: 0;
	display: block;
	text-decoration: none;
	color:#145F8D;
}

/*BREADCRUMB ON*/

#breadcrumb li.level1on a {
	color:#609d0c;
	font-weight:bold;
	text-decoration:none;
}
#breadcrumb li.level2on a {
	color:#609d0c;
	font-weight:bold;
	text-decoration:none;
}
#breadcrumb li.level3on a {
	color:#609d0c;
	font-weight:bold;
	text-decoration:none;
}
#breadcrumb li.level4on a {
	color:#609d0c;
	font-weight:bold;
	text-decoration:none;
}
#breadcrumb li.level5on a {
	color:#609d0c;
	font-weight:bold;
	text-decoration:none;
}
#breadcrumb li.level6on a {
	color:#609d0c;
	font-weight:bold;
	text-decoration:none;
}
#breadcrumb li.level7on a {
	color:#609d0c;
	font-weight:bold;
	text-decoration:none;
}
#breadcrumb li.level8on a {
	color:#609d0c;
	font-weight:bold;
	text-decoration:none;
}
/*TOOLTIP for when wrapping around TEXT - CSS ONLY*/
a.tooltip{display:none;}
a.tooltip:hover{display:none;}
a.tooltip span{display:none;}
a.tooltip:hover span{display:none;}

/** PRINT STYLES FOR FIREFOX **/
@-moz-document url-prefix() {
div#footer_column_container{background:#ffff00; margin-top:100px!important;}
#copyright {
  font-size: 11px;
  text-transform: none;
  text-align: right;
  line-height: +1.25;
}
}
/** PRINT STYLES FOR IE **/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
#footer_address {
  padding: 0px 0 10px 0;
  float: left;
  font-size: 13px;
  border: 0px solid #000;
}
#copyright {
  font-size: 11px;
  text-transform: none;
  text-align: right;
  line-height: +1.25;
}
}

