#sb-title-inner,#sb-info-inner,#sb-loading-inner,div.sb-message{font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;}
#sb-container{position:fixed;margin:0;padding:0;top:0;left:0;z-index:999;text-align:left;visibility:hidden;display:none;}
#sb-overlay{position:relative;height:100%;width:100%;}
#sb-wrapper{position:absolute;visibility:hidden;width:100px;}
#sb-wrapper-inner{position:relative;/*border:1px solid #303030;*/overflow:hidden;height:100px;border:15px solid #fff;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);-moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);}
#sb-body{position:relative;height:100%;}
#sb-body-inner{position:absolute;height:100%;width:100%;}
#sb-player.html{height:100%;overflow:auto;}
#sb-body img{border:none;}
#sb-loading{position:relative;height:100%;}
#sb-loading-inner{position:absolute;font-size:14px;line-height:24px;height:24px;top:50%;margin-top:-12px;width:100%;text-align:center;}
#sb-loading-inner span{background:url(Unknown_83_filename)/*tpa=http://www.rrdonnelley.com/_images/frameset/loading.gif*/ no-repeat;padding-left:34px;display:inline-block;}
#sb-body,#sb-loading{background-color:#060606;}
#sb-title,#sb-info{/*position:relative;*/margin:0;padding:0;overflow:hidden;}
#sb-title,#sb-title-inner{height:26px;line-height:26px;}
#sb-title-inner{font-size:16px;}
#sb-info,#sb-info-inner{height:35px;line-height:20px;}
#sb-info-inner{font-size:12px;}
#sb-nav{float:right;/*height:16px;height:33px;padding:2px 0;width:45%;*/}
#sb-nav a{position: absolute;top:5px;right: -20px;width: 36px;height: 36px;cursor: pointer;
z-index: 8040;}
#sb-nav-close{background:url(../_images/frameset/close.png)/*tpa=http://www.rrdonnelley.com/_images/frameset/close.png*/ no-repeat;}
#sb-nav-next{background:url(../_images/frameset/next.png)/*tpa=http://www.rrdonnelley.com/_images/frameset/next.png*/;}
#sb-nav-previous{background:url(../_images/frameset/previous.png)/*tpa=http://www.rrdonnelley.com/_images/frameset/previous.png*/;}
#sb-nav-play{background:url(../_images/frameset/play.png)/*tpa=http://www.rrdonnelley.com/_images/frameset/play.png*/;}
#sb-nav-pause{background:url(../_images/frameset/pause.png)/*tpa=http://www.rrdonnelley.com/_images/frameset/pause.png*/;}
#sb-counter{float:left;width:45%;}
#sb-counter a{padding:0 4px 0 0;text-decoration:none;cursor:pointer;color:#fff;}
#sb-counter a.sb-counter-current{text-decoration:underline;}
div.sb-message{font-size:12px;padding:10px;text-align:center;}
div.sb-message a:link,div.sb-message a:visited{color:#fff;text-decoration:underline;}
