/* ~~ Element/tag selectors ~~ */
ul, ol, dl {
	margin:0;
	padding: 0;
	text-align:left;
}


li {
	list-style-position: outside;
	margin-left:0;
}

/*body content styles*/
.bold {font-weight:bold;}
strong, b {font-weight:60;}

p {
	margin-top:5px;
	margin-bottom:15px;
}
p a:link, active {
	color: #145F8D;
	text-decoration: underline;
}
p a:hover, p a:focus, p a:visited {
	color: #666;
	text-decoration: underline;
}
li a:link, active, focus {
	color: #145F8D;
	text-decoration: underline;
}
li a:hover, li a:hover {
	color: #666;
	text-decoration: underline;
}
li a:visited {
	color: #666;
	text-decoration: underline;
}
td a:link, active, focus {
	color: #145F8D;
	text-decoration: underline;
}
td a:hover {
	color: #666;
	text-decoration: underline;
}
td a:visited {
	color: #666;
	text-decoration: underline;
}

div a:link, active {
	color: #145F8D;	text-decoration: underline;
}
div a:focus {
	color: #666; text-decoration: underline;
}
div a:hover {
	color: #666; text-decoration: underline;
}
div a:visited {
	color: #666; text-decoration: underline;
}

.doctype {
	font-size:11px;
	color:#666;
}

sub, sup {
	font-size: 8px;	
	line-height: 0;
	position: relative;
	text-decoration:none;
	
}
sup {
	top:-1px;
	letter-spacing:.5px;
	text-decoration:none;
}

sup  a:link, active, focus {
	
	text-decoration:none;
}
sub {
	bottom: -0.25em;
	text-decoration:none;
}

img {
	border: none; 
}
a img {
	border: none; 
}
a img a:link {/*border-bottom: solid #fff 1px; outline: none;*/
}
a img a:hover, a:active, a:focus {/*border-bottom: solid #fff 1px; outline: none;*/
}
a img a:visited {/*border-bottom: solid #fff 1px; outline: none;*/
}

a.icon_doc{ padding-right:20px; color: #c00; }
a.icon_doc:link  { background: url(../_images/icons/doc_img.png)/*tpa=http://www.rrdonnelley.com/_images/icons/doc_img.png*/ right center no-repeat; }
a.icon_doc:hover { background: url(../_images/icons/doc_img_over.png)/*tpa=http://www.rrdonnelley.com/_images/icons/doc_img_over.png*/ right center no-repeat; }

a.icon_pdf{ padding-right:20px; color: #c00; }
a.icon_pdf:link  { background: url(../_images/icons/pdf_img.png)/*tpa=http://www.rrdonnelley.com/_images/icons/pdf_img.png*/ right center no-repeat; }
a.icon_pdf:hover { background: url(../_images/icons/pdf_img_over.png)/*tpa=http://www.rrdonnelley.com/_images/icons/pdf_img_over.png*/ right center no-repeat; }

a.icon_xls{ padding-right:20px; color: #c00; }
a.icon_xls:link  { background: url(../_images/icons/xls_img.png)/*tpa=http://www.rrdonnelley.com/_images/icons/xls_img.png*/ right center no-repeat; }
a.icon_xls:hover { background: url(../_images/icons/xls_img_over.png)/*tpa=http://www.rrdonnelley.com/_images/icons/xls_img_over.png*/ right center no-repeat; }

a.new_win{ padding-right:16px; color: #c00; }
a.new_win:link  { background: url(../_images/icons/new_window.png)/*tpa=http://www.rrdonnelley.com/_images/icons/new_window.png*/ right center no-repeat; }
a.new_win:hover { background: url(../_images/icons/new_window_grey.png)/*tpa=http://www.rrdonnelley.com/_images/icons/new_window_grey.png*/ right center no-repeat; }


.btn_green a {text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
	text-decoration: none !important;
	font-size: 0.875rem;
	display: inline-block;
	text-align:left;
	padding:.05em 1.85em 0.1em 0.5em;
	padding: 3px 23px 3px 8px;
	border:1px solid #769743;
	border-bottom: 1px solid #769743 !important;
	/*the above class is required because if the button sits within the left col nav area, the bottom border gets hidden*/
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	border-radius: 12px;
	color: #fff !important;
	background-color: #bbcf56;
	background-image: url(../_images/icons/white_arrow_right.png)/*tpa=http://www.rrdonnelley.com/_images/icons/white_arrow_right.png*/;
	background-repeat:no-repeat;
	background-position:right;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	/*width: 155px;*/
}
.btn_green a:active {
	position: relative;
	top: 2px;
}
.btn_green a:hover {
	background-color: #83a92a;
}

.btn_blue a {
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
	text-decoration: none !important;
	font-size: 0.875rem;
	display: inline-block;
	padding:.05em 1.85em 0.1em 0.5em;
	padding: 3px 23px 3px 8px;
	border:1px solid #1474b1;
	border-bottom: 1px solid #1474b1 !important;
	/*the above class is required because if the button sits within the left col nav area, the bottom border gets hidden*/
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	border-radius: 12px;
	color: #fff !important;
	background-color: #1a94e1;
	background-image: url(../_images/icons/white_arrow_right.png)/*tpa=http://www.rrdonnelley.com/_images/icons/white_arrow_right.png*/;
	background-repeat:no-repeat;
	background-position:right;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	/*width: 155px;*/
}
.btn_blue a:active {
	position: relative;
	top: 2px;
}
.btn_blue a:hover {
	background-color: #609d0c;
	border:1px solid #617e35;
	border-bottom: 1px solid #617e35 !important;
	/*the above class is required because if the button sits within the left col nav area, the bottom border gets hidden*/
}

/*a.subsite{ padding-right:22px; color: #c00; }
a.subsite:link  { background: url(../_images/icons/subsite.png) right center no-repeat; }
a.subsite:hover { background: url(../_images/icons/subsite_grey.png) right center no-repeat; }*/


a.email{ padding-right:20px; color: #c00; }
a.email:link  { background: url(../_images/icons/email_icon_blue.png)/*tpa=http://www.rrdonnelley.com/_images/icons/email_icon_blue.png*/ right center no-repeat; }
a.email:hover { background: url(../_images/icons/email_icon_grey.png)/*tpa=http://www.rrdonnelley.com/_images/icons/email_icon_grey.png*/ right center no-repeat; }

a.icon_go{ padding-right:15px; color: #c00; }
a.icon_go:link  { background: url(../_images/icons/green_arrow.png)/*tpa=http://www.rrdonnelley.com/_images/icons/green_arrow.png*/ right center no-repeat; }
a.icon_go:hover { background: url(../_images/icons/grey_arrow.png)/*tpa=http://www.rrdonnelley.com/_images/icons/grey_arrow.png*/ right center no-repeat; }


/*This button is for the Peel and Stick Holiday Banner*/
a.learnmore_holiday_go{ font-family: 'proxima-nova', sans-serif !important; font-size: 26px !important; color: #fff !important; text-decoration:none !important; background-color:#cd462d; display: block; width: 142px; height: 40px; padding-left:13px;padding-top:3px; border: 2px solid #cd462d; }

a.learnmore_holiday_go:link  { font-family: 'proxima-nova', sans-serif !important; color: #fff !important; }

a.learnmore_holiday_go:hover { font-family: 'proxima-nova', sans-serif !important; border: 2px solid #fff; background-color: #cc553f; text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6); } 

/*This button is for the Shopper MKTG Expo*/
a.shopperexpo{ font-size: 18px !important; color: #ffffff !important; text-decoration:none !important; background-color:#007dc3; display: block; width: 154px; height: 30px; padding:4px; border: 2px solid #000000; border-radius:14px; margin-right:126px; text-align:center }
a.shopperexpo:link  { color: #fff !important; }
a.shopperexpo:hover { border: 2px solid #6f000a; background-color: #e61739; text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6); }

/*This button is for the 150th rrd.com hp content link*/
a.icon150th_go{ font-weight:bold; padding-right:15px; color: #4b90e6 !important; text-decoration:none !important }
a.icon150th_go:link  { background: url(../_images/150th/150th_arrow.png)/*tpa=http://www.rrdonnelley.com/_images/150th/150th_arrow.png*/ right center no-repeat; color: #4b90e6 !important;}
a.icon150th_go:hover { background: url(../_images/150th/150th_arrow_over.png)/*tpa=http://www.rrdonnelley.com/_images/150th/150th_arrow_over.png*/ right center no-repeat; color: #ff9439 !important; }

/*This button is for the 150th 1st Banner - Integrity*/
a.learnmore150th_go{ font-family: 'proxima-nova', sans-serif !important; padding-right:15px;font-size: 26px !important; color: #fff !important; text-decoration:none !important }
a.learnmore150th_go:link  { font-family: 'proxima-nova', sans-serif !important;background: url(../_images/150th/150th_learnmore_arrow.png)/*tpa=http://www.rrdonnelley.com/_images/150th/150th_learnmore_arrow.png*/ right center no-repeat; color: #fff !important;}
a.learnmore150th_go:hover { font-family: 'proxima-nova', sans-serif !important;background: url(../_images/150th/150th_learnmore_arrow_over.png)/*tpa=http://www.rrdonnelley.com/_images/150th/150th_learnmore_arrow_over.png*/ right center no-repeat; color: #c6cc46 !important; }

/*This button is for the 150th 1st Banner - Dedication*/
a.learnmore150th_goDed{ font-family: 'proxima-nova', sans-serif !important; padding-right:15px;font-size: 26px !important; color: #fff !important; text-decoration:none !important }
a.learnmore150th_goDed:link  { font-family: 'proxima-nova', sans-serif !important;background: url(../_images/150th/150th_learnmore_arrow.png)/*tpa=http://www.rrdonnelley.com/_images/150th/150th_learnmore_arrow.png*/ right center no-repeat; color: #fff !important;}
a.learnmore150th_goDed:hover { font-family: 'proxima-nova', sans-serif !important;background: url(../_images/150th/150th_learnmore_arrow_overOra.png)/*tpa=http://www.rrdonnelley.com/_images/150th/150th_learnmore_arrow_overOra.png*/ right center no-repeat; color: #f8981d !important; }

/*This button is for the 150th 1st Banner - Integration*/
a.learnmore150th_goInt{ font-family: 'proxima-nova', sans-serif !important; padding-right:15px;font-size: 26px !important; color: #fff !important; text-decoration:none !important }
a.learnmore150th_goInt:link  { font-family: 'proxima-nova', sans-serif !important;background: url(../_images/150th/150th_learnmore_arrow.png)/*tpa=http://www.rrdonnelley.com/_images/150th/150th_learnmore_arrow.png*/ right center no-repeat; color: #fff !important;}
a.learnmore150th_goInt:hover { font-family: 'proxima-nova', sans-serif !important;background: url(../_images/150th/150th_learnmore_arrow_overLtGrn.png)/*tpa=http://www.rrdonnelley.com/_images/150th/150th_learnmore_arrow_overLtGrn.png*/ right center no-repeat; color: #e0e87d !important; }

/*This button is for the 150th 1st Banner - Sustainability*/
a.learnmore150th_goSus{ font-family: 'proxima-nova', sans-serif !important; padding-right:15px;font-size: 26px !important; color: #fff !important; text-decoration:none !important }
a.learnmore150th_goSus:link  { font-family: 'proxima-nova', sans-serif !important;background: url(../_images/150th/150th_learnmore_arrow.png)/*tpa=http://www.rrdonnelley.com/_images/150th/150th_learnmore_arrow.png*/ right center no-repeat; color: #fff !important;}
a.learnmore150th_goSus:hover { font-family: 'proxima-nova', sans-serif !important;background: url(../_images/150th/150th_learnmore_arrow_overDkBlu.png)/*tpa=http://www.rrdonnelley.com/_images/150th/150th_learnmore_arrow_overDkBlu.png*/ right center no-repeat; color: #1d3d78 !important; }

/*This button is for the 150th 1st Banner - Innovation*/
a.learnmore150th_goInn{ font-family: 'proxima-nova', sans-serif !important; padding-right:15px;font-size: 26px !important; color: #fff !important; text-decoration:none !important }
a.learnmore150th_goInn:link  { font-family: 'proxima-nova', sans-serif !important;background: url(../_images/150th/150th_learnmore_arrow.png)/*tpa=http://www.rrdonnelley.com/_images/150th/150th_learnmore_arrow.png*/ right center no-repeat; color: #fff !important;}
a.learnmore150th_goInn:hover { font-family: 'proxima-nova', sans-serif !important;background: url(../_images/150th/150th_learnmore_arrow_overDkBlu.png)/*tpa=http://www.rrdonnelley.com/_images/150th/150th_learnmore_arrow_overDkBlu.png*/ right center no-repeat; color: #1d3d78 !important; }


/*This button is for the 150th 2,3,4,5th Banners*/
a.learnmore150th{ font-family: 'proxima-nova', sans-serif !important; padding-right:15px;font-size: 26px !important; color: #fff !important; text-decoration:none !important }
a.learnmore150th:link  { font-family: 'proxima-nova', sans-serif !important;background: url(../_images/150th/150th_learnmore_arrow.png)/*tpa=http://www.rrdonnelley.com/_images/150th/150th_learnmore_arrow.png*/ right center no-repeat; color: #fff !important;}
a.learnmore150th:hover { font-family: 'proxima-nova', sans-serif !important;background: url(../_images/150th/150th_learnmore_arrow_over.png)/*tpa=http://www.rrdonnelley.com/_images/150th/150th_learnmore_arrow_over.png*/ right center no-repeat; color: #c6cc46 !important; }



a.icon_video{ padding-right:20px; color: #c00; }
a.icon_video:link  { background: url(../_images/icons/video_icon.png)/*tpa=http://www.rrdonnelley.com/_images/icons/video_icon.png*/ right center no-repeat; }
a.icon_video:hover { background: url(../_images/icons/video_icon_grey.png)/*tpa=http://www.rrdonnelley.com/_images/icons/video_icon_grey.png*/ right center no-repeat; }

a.learn_more_btn{ width:103px; height:29px; padding:50px 50px 70px 51px;border:0px solid #000;}
a.learn_more_btn:link  { background: url(../_images/icons/go_learn_more_btn.png)/*tpa=http://www.rrdonnelley.com/_images/icons/go_learn_more_btn.png*/ center no-repeat; width:104px; height:29px;}
a.learn_more_btn:hover { background: url(../_images/icons/go_learn_more_rol.png)/*tpa=http://www.rrdonnelley.com/_images/icons/go_learn_more_rol.png*/ center no-repeat; width:104px; height:29px;}

a.rollover {
	margin-left:20px;
	text-align:center;
	display: block;
	width: 103px;
	height: 29px;
	text-decoration: none;
	background: url(../_images/icons/go_learn_more.png)/*tpa=http://www.rrdonnelley.com/_images/icons/go_learn_more.png*/;
	}

a.rollover:hover {
	background-position: -103px 0;
	}

.displace {
	position: absolute;
	left: -5000px;
	}

#pagetitle {
	float:left;
}
#pagetitle_spacing {
}
/*Misc*/
.rightbox_header_top {
	padding:10px 10px 10px 10px;
}
.rightbox {
	line-height: 1.2em;
}
.rightbox_header1 {
	font-size:1.15em;
	font-weight:bold;
	line-height:1.2em;
	color:#609D0C;
	padding:0 5px 8px 0px;
	margin-bottom: 13px;
	border-bottom: 1px dotted #ccc;
}
.rightbox_header {
	font-size:1.07em;
	font-weight:bold;
	line-height:1.2em;
	color:#3f3f3f;
	padding:0 5px 3px 0px;
}
.rightbox_subheader {
	font-weight:bold;
	color:#000;
	padding:5px 10px 0 0px;
	font-size:12px;
}
.rightbox ul {
	padding:5px 10px 10px 0;
	text-align: left;
	line-height:1.4;
	margin:0;
	border:0px solid #000;
}
.rightbox li {
	font-size:12px;
	list-style: none;
	background: url(../_images/frameset/nav/list_arrow_blue.png)/*tpa=http://www.rrdonnelley.com/_images/frameset/nav/list_arrow_blue.png*/ no-repeat 2px 4px;
	padding: 0 10px 7px 10px;
	color:#333;
	text-align: left;
}
.rightbox li a:link {
	color:#145F8D;
	text-decoration: underline;
}
.rightbox li a:active {
	color:#145F8D;
	text-decoration: underline;
}
.rightbox li a:visited {
	color:#666;
	text-decoration: underline;
}
.rightbox li a:focus {
	color:#666;
	text-decoration: underline;
}
.rightbox li a:hover {
	color:#666;
	text-decoration: underline;
}
.leadpar {
	font-size:16px;
	line-height: 22px;
	font-weight:bold;

}



/* SHAREHOLDER */
.rightbox_shareholder ul {
	padding:5px 10px 10px 0;
	text-align: left;
	line-height:1.4;
	margin:0;
	border:0px solid #000;
}
.rightbox_shareholder li {
	padding:4px 0;
	font-size:12px;
	list-style: none;
	color:#333;
	text-align: left;
}
.rightbox_shareholder li a:link {
	color:#145F8D;
	text-decoration: underline;
}
.rightbox_shareholder li a:active, a:focus {
	color:#145F8D;
	text-decoration: underline;
}
.rightbox_shareholder li a:visited {
	color:#145F8D;
	text-decoration: underline;
}
.rightbox_shareholder li a:hover {
	color:#666;
	text-decoration: underline;
}
.dottedline {
	border-bottom: 1px dotted #ccc;
	width:100%;
	height:1px;
	margin: 12px 0px;
	margin-top:-0.15em;
}
.cta_divide {
	padding:10px;
}
.cta_color2 {
	background: #609d0c;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-radius: 10px 10px 0 0;
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	/*behavior: url(PIE.htc);*/
	margin:-1px;
}
.cta_color1 {
	background: #1a94e1;
	border: 1px solid #d2d2d2;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	/*behavior: url(PIE.htc);*/
	margin-bottom:20px;
}
.cta_color1 .title {
	font-family: arial, tahoma, sans-serif;
	font-size:12px;
	font-weight: bold;
	color:#455660;
	margin-bottom: 0px;
	padding: 10px 15px 0px 15px;
}
.cta_color1 .subtitle {
	font-family:  arial, tahoma, sans-serif;
	font-size:12px;
	color: #FFF;
	font-weight: bold;
	padding: 0px 15px 0px 15px;
	margin-bottom: 0px;
}
.cta_color1 p {
	font-family:  arial, tahoma, sans-serif;
	font-size:12px;
	color: #FFF;
	padding: 0px 15px 0px 15px;
	line-height:1.4;
}
.cta_color1 p a:link {
	color:#455660;
	text-decoration: none;
	background-image: url(../_images/cta/right_arrow1.png)/*tpa=http://www.rrdonnelley.com/_images/cta/right_arrow1.png*/;
	background-position: right;
	background-repeat:no-repeat;
	padding-right:25px;
}
.cta_color1 p a:hover {
	text-decoration: underline;
}

/********These are for the 150th launch*******/

.cta_150 {
	border:3px solid #cccccc;
	background-image:url(../_images/150th/cta-bg.jpg)/*tpa=http://www.rrdonnelley.com/_images/150th/cta-bg.jpg*/; 
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	padding-bottom:7px;
}
.cta_150 .title {
	font-family:Arial; 
	font-size:18px;
	font-weight: bold;
	color:#0272be;
	margin-bottom:0;
	margin-top:10px;
	line-height:1.15;
	padding-left:10px;
}
.cta_150 a, .cta_150 a:link {
	margin-left:10px;
	text-decoration: none;
	border:none;
	font-weight:700;
}
.cta_150 a:hover, .cta_150 a:active, .cta_150 a:focus {
	margin-left:10px;
	border:none;
	font-weight:700;
	text-decoration: underline;
}


/********These are for the 150th launch*******/


.cta_whitefillgraybdr {
	border:3px solid #cccccc;
	background: #ffffff; 
	background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #eeeeee)); 
 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0 ); 
	padding: 0;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px
}
.cta_whitefillgraybdr .title {
	font-family:Arial; 
	font-size:18px;
	font-weight: bold;
	color:#0272be;
	margin-bottom:0;
	margin-top:10px;
	line-height:1.15;
	padding-left:10px;
}
.cta_whitefillgraybdr p {
	font-family: arial, tahoma, sans-serif;
	font-size:13px;
	color: #455660;
	line-height:1.15;
	padding:0 10px 0 10px;
	font-weight:normal;
}
.cta_whitefillgraybdr img {
	padding:0;
	border:0;
	margin:0;
}
.cta_whitefillgraybdr a, .cta_whitefillgraybdr a:link {
	margin-left:10px;
	text-decoration: none;
	border:none;
	font-weight:700;
}
.cta_whitefillgraybdr a:hover, .cta_whitefillgraybdr a:active, .cta_whitefillgraybdr a:focus {
	margin-left:10px;
	border:none;
	font-weight:700;
	text-decoration: underline;
}
.cta_grayfillgraybdr {
	background: #efefef;
	border: 1px solid #d2d2d2;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	/*behavior: url(PIE.htc);*/
	margin-bottom:20px;
}
.cta_grayfillgraybdr .title {
	font-family:  arial, tahoma, sans-serif;
	font-size:14px;
	font-weight: bold;
	color:#609D0C;
	margin-bottom: 0px;
	padding: 15px 15px 0px 15px;
}
.cta_grayfillgraybdr p {
	font-family:  arial, tahoma, sans-serif;
	font-size:12px;
	color: #000;
	padding: 0px 15px 0px 15px;
	line-height:1.15em;
}

/*PAGE TITLES*/
#content_container_col1 h1 {
	font-family:Arial;
	font-size:20px;
	color:#609d0c;
	font-weight:bold;
	margin-bottom:20px;
	margin-top:15px;
	padding-bottom:0px;
	line-height:26px;
}
#col3_content h1 {
	font-family:Arial;
	font-size:20px;
	color:#609d0c;
	font-weight:bold;
	margin-bottom:20px;
	margin-top:5px;
	padding-bottom:0px;
	line-height:26px;
}

#col3_content h1 small sup {
top:-5px;
}

#col2_content h1 {
	font-family:Arial;
	font-size:20px;
	color:#609d0c;
	font-weight:bold;
	margin-bottom:20px;
	margin-top:15px;
	padding-bottom:0px;
	line-height:26px;
	
}
#col2_content_no_left_nav  h1 {
	font-family:Arial;
	font-size:20px;
	color:#609d0c;
	font-weight:bold;
	margin-bottom:20px;
	margin-top:15px;
	padding-bottom:0px;
	line-height:26px;
}
 h1 {
	font-family:Arial;
	font-size:20px;
	color:#609d0c;
	font-weight:bold;
	margin-bottom:20px;
	margin-top:15px;
	padding-bottom:0px;
	line-height:26px;
}

h2 {
	font-family:Arial;
	font-weight:bold;
	color:#333;
	font-size:16px;
	/*margin-bottom:10px;*/
	margin-top:5px;
	/*padding:10px 0 5px 0;*/
	line-height:22px;
}
h3 {
	font-family:Arial;
	color: #666;
	font-size:15px;
	font-weight:600;
	margin-top:15px;
	margin-bottom: 5px;
	line-height:22px;
}
h4 {
	font-family:Arial;
	color: #999;
	font-size:12px;
	font-weight:600;
	margin-top:10px;
	margin-bottom: 15px;
	line-height:22px;
}
h5 {
	font-family:Arial;
	font-size:13px;
	margin-top:15px;
	margin-bottom: 5px;
	color: #999;
	line-height:22px;
}
/*INTRO PARAGRAPH*/
.intropar {
	font-size: 15px;
	line-height: 22px;
	font-weight:600;
	color:#1a94e1;
}
/*LISTS*/
/* UL LEFT ALIGN */
ul.leftalign li {
	margin-left: 15px;
	list-style:url(../_images/frameset/list_bullet3.png)/*tpa=http://www.rrdonnelley.com/_images/frameset/list_bullet3.png*/;
	padding-top: 2px;
	padding-bottom: 0px;
}

ul.leftalign1 li {
	margin-left: 35px;
	list-style:url(../_images/frameset/list_bullet3.png)/*tpa=http://www.rrdonnelley.com/_images/frameset/list_bullet3.png*/;
	padding-top: 2px;
	padding-bottom: 0px;
}
ul.leftalign1 li a:focus{
	text-decoration:underline;
	color:#666;
}

ul.leftalign2 li {
	margin-left: 35px;
	list-style:url(../_images/frameset/list_bullet2.png)/*tpa=http://www.rrdonnelley.com/_images/frameset/list_bullet2.png*/;
}
ul.leftalign3 li {
	margin-left: 55px;
	list-style:url(../_images/frameset/list_bullet3.png)/*tpa=http://www.rrdonnelley.com/_images/frameset/list_bullet3.png*/;
	padding-top: 2px;
	padding-bottom: 3px;
}
ul.leftalignspacing li {
	margin-left: 15px;
	list-style:url(../_images/frameset/list_bullet3.png)/*tpa=http://www.rrdonnelley.com/_images/frameset/list_bullet3.png*/;
	padding-top: 2px;
	padding-bottom: 5px;
}
ul.leftalign2spacing li {
	margin-left: 35px;
	list-style:url(../_images/frameset/list_bullet3.png)/*tpa=http://www.rrdonnelley.com/_images/frameset/list_bullet3.png*/;
	padding-top: 2px;
	padding-bottom: 5px;
}
ul.leftalign3spacing li {
	margin-left: 55px;
	list-style:url(../_images/frameset/list_bullet2.png)/*tpa=http://www.rrdonnelley.com/_images/frameset/list_bullet2.png*/;
	padding-top: 2px;
	padding-bottom: 5px;
}
.checkboxlist ul {
	padding:5px 10px 10px 0;
	text-align: left;
	line-height:1.5em;
	margin:0;
	border:0px solid #000;
}
.checkboxlist li {
	margin-left:20px;
	font-size:12px;
	list-style: none;
	background: url(../_images/icons/checkbox.png)/*tpa=http://www.rrdonnelley.com/_images/icons/checkbox.png*/ no-repeat 3px -4px;
	padding: 0 10px 5px 25px;
	color:#333;
	text-align: left;
}
.checkbox {
	margin-left:20px;
	font-size:12px;
	list-style: none;
	background: url(../_images/icons/checkmark.png)/*tpa=http://www.rrdonnelley.com/_images/icons/checkmark.png*/ no-repeat 3px -4px;
	padding: 0 10px 5px 25px;
	color:#333;
	text-align: left;
}
.checkmark {
	margin-left:20px;
	font-size:12px;
	list-style: none;
	background: url(../_images/icons/checkmark.png)/*tpa=http://www.rrdonnelley.com/_images/icons/checkmark.png*/ no-repeat 6px 0px;
	padding: 0 10px 5px 25px;
	color:#333;
	text-align: left;
}
/* UL INDENT */
ul.indent {
	padding-bottom: 10px;
}
ul.indent li {
	margin-left: 40px;
	list-style:url(../_images/frameset/list_bullet2.png)/*tpa=http://www.rrdonnelley.com/_images/frameset/list_bullet2.png*/;
	padding-top: 2px;
	padding-bottom: 0px;
}
ul.indent2 li {
	/*margin-left: 60px;*/
	list-style:url(../_images/frameset/list_bullet4.png)/*tpa=http://www.rrdonnelley.com/_images/frameset/list_bullet4.png*/;
	/*list-style:none;*/
	padding-top: 2px;
	padding-bottom: 7px;
	border:0px solid #000;
	list-style-position:outside;
	color:#666;
	
	width:187px;
	float:left;
	line-height:18px;
	
}
ul.indent2 li a {
	font-weight:normal;
	text-decoration:none;
	color:#666;
}
ul.indent2 li a:hover, ul.indent2 li a:focus, ul.indent2 li a:visited {
	color:#145F8D;
	font-weight:normal;
	text-decoration:underline;
}
ul.indent3 li {
	margin-left: 15px;/*margin-left: 80px;*/
	list-style:url(../_images/frameset/list_bullet2.png)/*tpa=http://www.rrdonnelley.com/_images/frameset/list_bullet2.png*/;
	padding-top: 2px;
	padding-bottom: 3px;
	/*list-style-position:inside;*/
	width:157px;
}
/* ORDERED LISTS */
ol.number li {
	margin-left: 26px;
	padding-top: 2px;
	padding-bottom: 3px;
}
ol.number ul.number2 li {
	margin-left: 43px;
	padding-top: 2px;
	padding-bottom: 3px;
	list-style:url(../_images/frameset/list_bullet2.png)/*tpa=http://www.rrdonnelley.com/_images/frameset/list_bullet2.png*/;
}
ol.numberindent li {
	margin-left: 43px;
	padding-top: 2px;
	padding-bottom: 3px;
}
ol.numberindent ul.numberindent2 li {
	margin-left: 55px;
	padding-top: 2px;
	padding-bottom: 3px;
	list-style:url(../_images/frameset/list_bullet2.png)/*tpa=http://www.rrdonnelley.com/_images/frameset/list_bullet2.png*/;
}
/* ~~ Table styles ~~ */
table {
	padding-top:0px;
	padding-bottom:0px;
}
.standardtable {
	font-family:  arial, tahoma, sans-serif;
	text-align:left;
}
.standardtable a {
	text-decoration: none;
}
.standardtable a:hover {
	text-decoration: underline;
	color:#666;
}
.standardtable tbody, tbody td {
	text-align: left;
	vertical-align:top;
	font-weight:normal;
}
.standardtable thead tr th {
	text-align:left;
	color: #FFF;
	height: 26px;
	background: #3B80DE;
	font-size:15px;
	font-weight:600;
	padding-left: 10px;
	padding-top:3px;
	padding-right:8px;
	border: 1px #3B80DE solid;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
.standardtable .headright {
	text-align:left;
	color: #FFF;
	height: 26px;
	background: #3B80DE;
	font-size:15px;
	font-weight:600;
	padding-left: 10px;
	padding-top:3px;
	padding-right:8px;
	border: 1px #3B80DE solid;
	border-top-right-radius: 10px;
}
.standardtable .headleft {
	text-align:left;
	color: #FFF;
	height: 26px;
	background: #3B80DE;
	font-size:15px;
	font-weight:600;
	padding-left: 10px;
	padding-top:3px;
	padding-right:8px;
	border: 1px #3B80DE solid;
	border-top-left-radius: 10px;
}
.standardtable .left {
	color: #FFF;
	height: 26px;
	background:#3B80DE;
	font-size:15px;
	font-weight:600;
	padding-left: 10px;
	padding-top:5px;
	padding-right:8px;
	border-top: 1px #3B80DE solid;
	border-left: 1px #3B80DE solid;
	border-right: 1px #ccc solid;
	border-top-left-radius: 10px;
	border-top-right-radius: 0px;
}
.standardtable .middle {
	color: #FFF;
	height: 26px;
	background:#3B80DE;
	font-size:15px;
	font-weight:600;
	padding-left: 10px;
	padding-top:5px;
	padding-right:8px;
	border-top: 1px #3B80DE solid;
	border-right: 1px #ccc solid;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}
.standardtable .right {
	color: #FFF;
	height: 26px;
	background:#3B80DE;
	font-size:15px;
	font-weight:600;
	padding-left: 10px;
	padding-top:5px;
	padding-right:8px;
	border-top: 1px #3B80DE solid;
	border-right: 1px #3B80DE solid;
	border-top-right-radius: 10px;
	border-top-left-radius: 0px;
}
.standardtable td {
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	border-right: 1px #ccc solid;
	border-bottom: 1px #ccc solid;
}
.standardtable p {
	padding-top:5px;
	padding-bottom:5px;
	margin:0;
}
.standardtable td:first-child {
	border-left: 1px #ccc solid;
}
.standardtable td.subcategory:first-child {
	border-right: 1px #ccc solid;
}
.standardtable tr {
	background: #ffffff;
}
.standardtable tr:nth-child(even) {
	background: #eeeeee;
}
.standardtable tr:nth-child(odd) {
	background: #ffffff;
}
.standardtable td.footer {
	height:10px;
	color: #ffffff;
	background: #6f6f6f; 
	font-family:  arial, tahoma, sans-serif;
	font-size: 12px;
	text-align: left;
	padding-top: 2px;
	padding-right: 10px;
	padding-bottom: 2px;
	padding-left: 5px;
	border-bottom: 1px #666 solid;
	border-left: 1px #666 solid;
	border-right: 1px #666 solid;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
.standardtable .subheader {
	font-family:  arial, tahoma, sans-serif;
	font-size:12px;
	font-weight:600;
	color:#145F8D;
	background: #c2d6f7;
	padding-left: 10px;
	padding-right:10px;
	padding-top: 5px;
	/*height: 23px;*/
	border-bottom: 1px solid #fff;
}
.standardtable .subcategory {
	background: #cfcfcf;
	font-family: arial, tahoma, sans-serif;
	font-size:13px;
	font-weight: 600;
	border-bottom: 1px solid #666;
	padding-left:10px;
}
.standardtable tfoot td {
	background: #147ca7;
	color: #FFFFFF;
}
.standardtable img {
	padding-right:3px;
	background-repeat:no-repeat;
	top:0;
	left:0;
	margin:0;
}

/* Table for Admin - asp.net grid */

.standardtable-admin-td 
{
	font-size: 12px;
	text-align: left;
	vertical-align:top;
	font-weight:normal;
}
.standardtable-admin-header {
	/*text-align:center;*/
	color: #FFF;
	height: 26px;
	background: #3B80DE;
	font-size:14px;
	font-weight:bold;
	padding-left: 10px;
	padding-top:5px;
	padding-right:8px;
	padding-bottom:0px;
	/*border: 1px #3B80DE solid;*/
	/*border-top-right-radius: 10px;*/
	/*border-top-left-radius: 10px;*/
}

.standardtable-admin td {
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	border-right: 1px #ccc solid;
	border-bottom: 1px #ccc solid;
}
.standardtable-admin p {
	padding-top:5px;
	padding-bottom:5px;
	margin:0;
}
.standardtable-admin td:first-child {
	border-left: 1px #ccc solid;
}
.standardtable-admin td.subcategory:first-child {
	border-right: 1px #ccc solid;
}
.standardtable-admin tr {
	background: #ffffff;
}
.standardtable-admin tr:nth-child(even) {
	background: #eeeeee;
}
.standardtable-admin tr:nth-child(odd) {
	background: #ffffff;
}
.standardtable-admin-footer {
	/*height:10px;*/
	/*color: #cccccc;*/
	/*background: #6f6f6f; */
	font-family:  arial, verdana, sans-serif;
	font-size: 8px;
	text-align: left;
	padding-top: 2px;
	padding-right: 10px;
	padding-bottom: 2px;
	padding-left: 5px;
	/*border-bottom: 1px #666 solid;*/
	/*border-left: 1px #666 solid;*/
	/*border-right: 1px #666 solid;*/
	/*border-bottom-right-radius: 10px;*/
	/*border-bottom-left-radius: 10px;*/
}
.standardtable-admin .subheader {
	font-family:  arial, tahoma, sans-serif;
	font-size:12px;
	font-weight:600;
	color:#145F8D;
	background: #c2d6f7;
	padding-left: 10px;
	padding-right:10px;
	padding-top: 5px;
	/*height: 23px;*/
	border-bottom: 1px solid #fff;
}
.standardtable-admin .subcategory {
	background: #cfcfcf;
	font-family: arial, tahoma, sans-serif;
	font-size:13px;
	font-weight: 600;
	border-bottom: 1px solid #666;
	padding-left:10px;
}
.standardtable-admin tfoot td {
	background: #147ca7;
	color: #FFFFFF;
}
.standardtable-admin img {
	padding-right:3px;
	background-repeat:no-repeat;
	top:0;
	left:0;
	margin:0;
}

/* Tabs */
ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px; /*--Set height of tabs--*/
	border-left: 1px solid #aeaeae;
	border-top-left-radius: 10px;
	width: 100%;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 31px; /*--Vertically aligns the text within the tab--*/
	border-top: 1px solid #aeaeae;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-right: 1px solid #aeaeae;
	border-bottom:  1px solid #aeaeae;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	background: url(../_images/frameset/tab_bg.jpg)/*tpa=http://www.rrdonnelley.com/_images/frameset/tab_bg.jpg*/;
}
ul.tabs li a {
	text-decoration: none;
	color: #145f8d;
	display: block;
	font-size: 14px;
	font-weight:600;
	padding: 0 20px;
	border-top: 2px solid #fff;
	border-top-right-radius: 12px;
	border-top-left-radius: 12px; /*--Gives the bevel look with a 1px white border inside the list item--*//*outline: none;*/
}
ul.tabs li a:hover {
	background: #e4e4e4;
}
html ul.tabs li.active, html ul.tabs li.active a:hover { /*--Makes sure that the active tab does not listen to the hover properties--*/
	background: #fff;
	border-bottom: 2px solid #fff; /*--Makes the active tab look like it's connected with its content--*/
}
.tab_container {
	border-bottom: 1px solid #aeaeae;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-right:  1px solid #aeaeae; /* border-top-right-radius: 10px; THIS NEEDS TO BE WORKED ON - MAKE ROUND*/
	border-left: 1px solid #aeaeae;
	border-top: 1px solid #aeaeae;
	overflow: hidden;
	clear: both;
	float: left;
	width: 100%;
	background: #fff;
}
.tab_content {
	padding: 20px;
	font-size: 14px;
}
.tab_content .bullets {
	margin-left: 10px;
	list-style:url(../_images/frameset/list_bullet1.png)/*tpa=http://www.rrdonnelley.com/_images/frameset/list_bullet1.png*/;
	padding-top: 2px;
	padding-bottom: 3px;
}
/*End Tabs CSS*/


/* ~~ miscellaneous float/clear classes ~~ */
.fltrt {
	float: right;
	margin-left: 8px;
}
.fltlft {
	float: left;
	margin-right: 8px;
}
.clearfloat {
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}

/*FORM FIELDS*/
form {
	margin:0
}
input {/*outline: none;*/
	margin-right:2px;
}

/* ACCESSIBILITY */
.maincontent {
	padding: 0;
}
.skpnav {
}
.skiplist {
	margin: 0;
	padding: 0;
}
.skip {
	display: none;
	font-family: arial, tahoma, sans-serif;
	margin: 0;
	padding: 0;
	position: absolute;
	text-align: left;
	/*z-index: 29999;*/
}
.skip {
	display: block;
	/*z-index: 29999;*/
}
:root .skip {
	display: block;
}
.skip a {
	display: inline;
	left: -100em;
	padding: 0 0.5em;
	position: absolute;
	text-decoration: none;
	width: 14em;
	/*z-index: 29999;*/
}
.skip a:focus, .skip a:active {
	background: none repeat scroll 0 0 #555555;
	border: 2px solid #333333;
	color: #FFFFFF;
	left: 0.5em;
	position: absolute;
	z-index: 29999;
}
.skip a:hover {
	cursor: default;
}

.skip_nav {
	display: none;
	font-family: arial, tahoma, sans-serif;
	margin: 0;
	padding: 0;
	position: fixed;
	text-align: left;
	margin:-10px;
	/*z-index: 29999;*/
}
.skip_nav {
	display: block;
	/*z-index: 29999;*/
}
:root .skip_nav {
	display: block;
}
.skip_nav a {
	display: inline;
	left: -100em;
	text-decoration: none;
	/*padding: 0 0.5em;
	position: absolute;
	width: 14em;*/
	margin:-10px;
	z-index: 29999;
	position:fixed;
}
.skip_nav a:focus, .skip_nav a:active, .skip_nav a:hover {
	background: none repeat scroll 0 0 #999999;
	border: 1px solid #333333;
	color: #FFFFFF;
	left: 0.15em;
	bottom: -2.85em;
	position:fixed;
	/*position: absolute;
	z-index: 29999;*/
}

/* ACCOUNT LOGIN */
#account_login {
	margin-left:7px;
	background:#f0f0f0;
	margin-right:0px;
	margin-top:10px;
	width:203px;
	height:auto;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px 10px 10px 10px;
	/*behavior: url(../_stylesheet/PIE.htc);*/
	border:8px solid #ccc;
	text-decoration:none;
}
#account_login p {
	font-size:13;
	color:#333;
	padding-left:20px;
	font-weight:500;
	text-decoration:none;
}
#account_login a {
	color:#333;
	text-decoration:none;
}
#account_login a:hover {
	color:#333;
	text-decoration:underline;
}

/*MISC*/
.smallfont {
	margin-top:-25px;
	color:#666;
	font-size:11px;
}
.redfont {
	color:#cc0000;
	font-size:12px;
}
.greyfont {
	color:#aaa;
	font-size:12px;
}
.backtotop {
	text-align:right;
	width:100%;
	color:#666;
	font-size:11px;
}
.highlight { 
	font-size:1.4em;
	color:#609d0c;
}

.highlight a:link {	
	color:#609d0c;
	text-decoration:underline;
}
.highlight a:focus {	
	color:#666;
	text-decoration:underline;
}
.highlight a:visited {	
	color:#609d0c;
	text-decoration:underline;
}

.icon_email {
padding-right:3px; padding-bottom: 11px; margin-left:-3px; margin-top: 5px;
}

.icon_subsite {
padding-right:3px; padding-bottom: 11px; margin-left:-3px; margin-top: 5px;
}

.icon_phone {padding-right:7px; padding-bottom: 10px}

.icon_fax {
	margin-left:-3px;margin-top:2px;padding-right:2px; padding-bottom: 10px}
	
.icon_corp_building {
padding-right:7px; padding-bottom:15px;margin-top:5px;
}
.icon_brochure {
padding-right:7px; padding-bottom:15px;margin-top:3px;
}
.highlight_login a {
	font-size:1.4em;
	color:#609d0c;
	text-decoration:underline;
}



/*----SHARE THIS PAGE - POP UP----*/
.small-print {
	font-size:12px;
	color:#333;
	font-weight:normal;
}

/*VALIDATIONS*/
label.error {
	float: none;
	color: red;
	padding-left: .5em;
	vertical-align: top;
	font-style: italic;
}
DIV.error {
	display: none;
}
INPUT.error {
	border: red 1px dotted;
}

/*Important Box*/
.important_box {
	background-color:#e0f0b8;	
	width: 100%;
	margin-bottom: 20px;
	padding: 0px;
	color: #000;
	font-weight: normal;
	border: 1px solid #a1d534;
 	-moz-border-radius: 10px;
	-webkit-border-radius:10px;
	border-radius: 10px;
	
	float:left;
}

.important_box td {text-align:left;	}

.important_box p {margin:0; padding-top:8px;	}

.important_box table {
	width:100%;
	padding:0px;
	margin:0;
	}

.important_box h2 {
	text-align:left;
	padding-top:5px;
	padding-bottom:0px;
	margin:0;
	font-weight:bold;
	font-size:14px;
	}

.important_box .icon {padding-right:5px;}
.important_box .padding {margin:8px 10px 10px 10px;padding-right:10px;}

/*Urgent Box*/

.urgent_box {
	background-color:#ffd7b2;	
	width: 100%;
	margin-bottom: 20px;
	padding: 0px;
	color: #000;
	font-weight: normal;
	border: 1px solid #fbaa62;
 	-moz-border-radius: 10px;
	-webkit-border-radius:10px;
	border-radius: 10px;

	float:left;
	}

.urgent_box td {text-align:left;}

.urgent_box  p  {margin:0; padding-top:5px;	}

.urgent_box table {
	width:100%;
	padding:0px;
	margin:0;
	}

.urgent_box h2 {
	text-align:left;
	padding-top:5px;
	padding-bottom:0px;
	margin:0;
	font-weight:bold;
	font-size:14px;
	}

.urgent_box .icon {padding-right:8px;}
.urgent_box .padding {margin:8px 10px 10px 10px;padding-right:10px;}


/*Information Box*/
.information_box {
	background-color:#e5f1f7;	
	width: 100%;
	margin-bottom: 20px;
	padding: 0px;
	color: #000;
	font-weight: normal;
	border: 1px solid #6dbfe3;
 	-moz-border-radius: 10px;
	-webkit-border-radius:10px;
	border-radius: 10px;

	float:left;
	}

.information_box  p {margin:0; padding-top:5px;	}
	
.information_box td {text-align:left;}

.information_box table {
	width:100%;
	padding:0px;
	margin:0;
	}

.information_box h2 {
	text-align:left;
	padding-top:5px;
	padding-bottom:0px;
	margin:0;
	font-weight:bold;
	font-size:14px;
	}

.information_box .icon {padding-right:8px;}
.information_box .padding {margin:8px 10px 10px 10px;padding-right:10px;}

#box1 {
	background-color:#eee;
}

.box2 {
	background-color:#36648B;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	color:#FFF;
}
p.box3 {
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
}