
/* container for slides */
/*sub {font-size: 14px !important; font-weight: normal;}*/

.images {
	background:url(Unknown_83_filename)/*tpa=http://www.hdsupply.com/images/loading.gif*/ center center no-repeat #cacaca;
	position:relative;
	height:306px;
	width:972px;
	float:left;	
	margin:0px;
	cursor:pointer;
	z-index:0;
}
#buildyourcity { display:block; background:url(../images/splash_buildyourcity.jpg)/*tpa=http://www.hdsupply.com/images/splash_buildyourcity.jpg*/ no-repeat;	display:none;}
#waterworks { display:block; background:url(../images/splash_waterworks.jpg)/*tpa=http://www.hdsupply.com/images/splash_waterworks.jpg*/ no-repeat;	display:none;}
#utilities { display:block; background:url(../images/splash_powersolutions.jpg)/*tpa=http://www.hdsupply.com/images/splash_powersolutions.jpg*/ no-repeat;	display:none;}
#electrical { display:block; background:url(../images/splash_electrical.jpg)/*tpa=http://www.hdsupply.com/images/splash_electrical.jpg*/ no-repeat;	display:none;}
#facilities-maintenance { display:block; background:url(../images/splash_facilities-maintenance.jpg)/*tpa=http://www.hdsupply.com/images/splash_facilities-maintenance.jpg*/ no-repeat;	display:none;}
#repair-remodel { display:block; background:url(../images/splash_repair-remodel.jpg)/*tpa=http://www.hdsupply.com/images/splash_repair-remodel.jpg*/ no-repeat;	display:none;}
#crownbolt { display:block; background:url(../images/splash_crownbolt.jpg)/*tpa=http://www.hdsupply.com/images/splash_crownbolt.jpg*/ no-repeat;	display:none;}
#whitecap { display:block; background:url(../images/splash_whitecap.jpg)/*tpa=http://www.hdsupply.com/images/splash_whitecap.jpg*/ no-repeat;	display:none;}
#plumbing { display:block; background:url(../images/splash_plumbing.jpg)/*tpa=http://www.hdsupply.com/images/splash_plumbing.jpg*/ no-repeat;	display:none;}
#cti { display:block; background:url(../images/splash_cti.jpg)/*tpa=http://www.hdsupply.com/images/splash_cti.jpg*/ no-repeat;	display:none;}
#canada { display:block; background:url(../images/splash_canada.jpg)/*tpa=http://www.hdsupply.com/images/splash_canada.jpg*/ no-repeat;	display:none;}

/* single slide */
.images div {
	display:none;
	position:absolute;
	top:0;
	left:0;
	margin:0px;
	/*padding:15px 30px 15px 15px;*/
	height:306px;
	width:972px;
}

.images div .tagline {
	margin: 225px 53px 15px 50px;
	text-align:right;
	padding:5px;
	float:right;
	font-size:18px;
	font-weight:bold;
	color:#fff;
	background-color:#121212;
	background:rgba(0,0,0,.85);
	border: 1px solid #000;
}

.images div:hover .tagline { color:#ffcc00;}

/* header */
.images h3 {
	font-size:22px;
	font-weight:normal;
	margin:0 0 20px 0;
	color:#456;
}

/* tabs (those little circles below slides) */
.slidetabs {
	clear:both;
	/*margin-left:330px;*/
	position:relative;
	top:-26px;
	display:block;
	width:100%;
	height:26px;
	background:url(../images/bg-white-transparent.png)/*tpa=http://www.hdsupply.com/images/bg-white-transparent.png*/;
}

/* single tab */
.slidetabs a {
	/*width:8px;
	height:8px;*/
	float:left;
	/*margin:3px;*/
	padding:5px 25px;
	height:16px;
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:.8em;
	font-weight:bold;
	text-decoration:none;
	background:url(../images/bg-white-border.png)/*tpa=http://www.hdsupply.com/images/bg-white-border.png*/ top left no-repeat;
}

/* mouseover state */
.slidetabs a:hover {
	/*background-position:0 -8px;*/
	background:#ffcc00;
	color:#333;
	text-decoration:none; 
}

/* active state (current page state) */
.slidetabs a.current {
	/*background-position:0 -16px;*/   
	background: #ffcc00;  
} 	


/* prev and next buttons */
.forward, .backward {
	float:left;
	margin:0px;
	background:#fff;
	display:none;
	width: 35px;
	height:280px;
	cursor:pointer;
	/*font-size:1px;*/
	text-indent:-9999em;
	z-index:2;
	position:relative;
}
.forward { background:url(../images/slideshow-next.png)/*tpa=http://www.hdsupply.com/images/slideshow-next.png*/ 0 0 no-repeat;}
.backward {background:url(../images/slideshow-prev.png)/*tpa=http://www.hdsupply.com/images/slideshow-prev.png*/ 0 0 no-repeat;}
/*.images:hover .forward, .images:hover .backward { display:block;}*/

/* next */
/*.forward 				{ background-position: 0 -30px; clear:right; }*/
.forward:hover 		{ background-position:0 -280px; }
/*.forward:active 	{ background:url(../images/slideshow-next_down.png) no-repeat; } */


/* prev */
.backward:hover  		{ background-position:0 -280px; }
/*.backward:active  	{ background-position:-60px 0; }*/

/* disabled navigational button. is not needed when tabs are configured with rotate: true */
.disabled {
	visibility:hidden !important;		
}
