body.body {
	background:url("Images/body_bg.gif")/*tpa=http://www.owens-minor.com/Style%20Library/Images/body_bg.gif*/ !important;
	background-color:#910832 !important;
	font-family:"Trebuchet MS", arial, sans-serif !important;
}
table.master {
	border-collapse:collapse !important;
	height:auto !important;
}
table.masterContent {
	border-bottom:1px solid #fff !important;
	/*height:100% !important;*/
	height:auto !important;
	width:950px !important;
}
.mainContainer {
	border-bottom:1px solid #fff !important;
	border-top:1px solid #fff !important;
	*border:0 !important; /* IE fix */
	font-family:"Trebuchet MS", arial, sans-serif !important;
	font-size:11px !important;
	margin:0 !important;
}
.mainContainer a {
	color:#007698 !important;
	cursor:pointer !important;
	text-decoration:none !important;
}
.mainContainer a:hover {
	color:#007698 !important;
	text-decoration:underline !important;
}
.mainContainer p a {
	text-decoration:underline !important;
}
.mainContainer p a:hover {
	text-decoration:none !important;
}
.mainContainer input, .mainContainer select, .mainContainer textarea {
	color:#616161 !important;
	font:normal 11px "Trebuchet MS", arial, sans-serif !important;
}
.mainContent {
	padding:7px 30px 40px 30px !important;
}
.pageContent {
	color:#000 !important;
	font-family:"Trebuchet MS", arial, sans-serif !important;
	font-size:11px !important;
	/*line-height:1.1em !important;*/
	padding:30px !important;
}

/* --------------- GENERAL --------------- */
h1 {
	color:#000 !important;
	font-size:24px !important;
	margin:0 0 15px 0 !important;
	padding:0 !important;
	text-indent:-0.25em !important;
}
h2 {
	color:#797979 !important;
	font:normal 14px "Trebuchet MS", arial, sans-serif !important;
	margin:0 0 6px 0 !important;
}
.pageContent h2 {
	font-size:13px !important;
	font-weight:bold !important;
	letter-spacing:0.2em !important;
	margin-bottom:15px !important;
	text-transform:uppercase !important;
}
.ms-WPBody h2 {
	margin:0 !important;
}
h2.subHeading {
	color:#98002e !important;
	font-size:20px !important;
	margin:0 0 5px 0 !important;
}
.clear {
	clear:both !important;
	line-height:0 !important;
}
address {
	font-style:normal !important;
}
a img {
	border:0 !important;
}
img.framedImage, .framedImage img {
	border:1px solid #a7a9ac !important;
	padding:1px !important;
}
/* Columns */
#colWrapper {
	background:url("Images/divider_hor_dotted_black.gif")/*tpa=http://www.owens-minor.com/Style%20Library/Images/divider_hor_dotted_black.gif*/ top left repeat-x !important;
	padding:20px 0 0 0 !important;
}
#colContainer {
	margin:0 !important;
	padding:0 !important;
	width:100% !important;
}
#colContainer td.col {
	background:url("Images/divider_vert_dotted_black.gif")/*tpa=http://www.owens-minor.com/Style%20Library/Images/divider_vert_dotted_black.gif*/ top left repeat-y !important;
	padding:0 15px !important;
	width:auto !important;
}
#colContainer td.col.first {
	background:transparent !important;
	padding-left:0 !important;
}
#colContainer td.col.first .ms-WPTitle {
	color:#797979 !important;
	font:bold 13px "Trebuchet MS", arial, sans-serif !important;
	letter-spacing:0.2em !important;
	margin:0 0 16px 0 !important;
	text-transform:uppercase !important;
}
#colContainer td.col.middle {
    background:transparent !important;
	width:325px !important;
}

#colContainer td.col.last {
	padding-right:0 !important;
	width:215px !important;
}
#colContainer td.col .ms-WPBody {
	padding-bottom:20px !important;
}
#colContainer td.col.last .ms-WPBody p {
	margin:0 0 5px 0 !important;
}
/* end Columns */
/* Button */
a.button, a.button:hover, 
input.iw-SendButton, input.iw-SubmitButton {
	background:url("Images/button_blue_bg.gif")/*tpa=http://www.owens-minor.com/Style%20Library/Images/button_blue_bg.gif*/ top left repeat-x !important;
	background-color:#02627d !important;
	border:1px solid #3e6773 !important;
	color:#fff !important;
	cursor:pointer !important;
	font-size:10px !important;
	font-weight:bold !important;
	padding:0 10px !important;
	text-decoration:none !important;
	text-transform:uppercase !important;
}
a.button:hover {
	background-position:0 -5px !important;
}
/* end Button */
/* All/More Link */
a.allMoreLink {
	background:url("Images/pointer_right_blue_5x5.gif")/*tpa=http://www.owens-minor.com/Style%20Library/Images/pointer_right_blue_5x5.gif*/ right 6px no-repeat !important;
	font-size:11px !important;
	padding-right:10px !important;
	white-space:nowrap !important;
}
/* end All/More Link */
/* Required Fields */
.requiredField {
	background:url("Images/icon_requiredstar.gif")/*tpa=http://www.owens-minor.com/Style%20Library/Images/icon_requiredstar.gif*/ 0 5px no-repeat !important;
	padding:5px 0 5px 15px !important;
}
p.requiredField {
	background:url("Images/icon_requiredstar_large.gif")/*tpa=http://www.owens-minor.com/Style%20Library/Images/icon_requiredstar_large.gif*/ 0 8px no-repeat !important;
}
/* end Required Fields */
/* STANDARD ITEM LIST */
div.standardItemList {
	padding:0 !important;
}
.standardItemList ul {
	list-style:none !important;
	margin:0 0 8px 0 !important;
	padding:0 !important;
	width:100% !important;
}
.ms-reusableTextView .standardItemList ul {
	margin:0 !important;
}
.standardItemList ul li {
	background:url("Images/arrow_right_lightgrey.gif")/*tpa=http://www.owens-minor.com/Style%20Library/Images/arrow_right_lightgrey.gif*/ 10px 4px no-repeat !important;
	line-height:13px !important;
	margin-bottom:6px !important;
	padding:0 0 0 36px !important;
}
.standardItemList ul li h4 {
	margin:0 0 5px 0 !important;
}
.standardItemList ul li p {
	margin-top:0 !important;
}
.standardItemList ul li.highlight {
	background:transparent !important;
	background-color:#f6f6f6 !important;
	border:1px solid #d3d4d5 !important;
	color:#797979 !important;
	font-size:11px !important;
	margin:0 0 18px 0 !important;
	padding:14px !important;
}
.ms-reusableTextView .standardItemList ul li.highlight {
	margin:0 !important;
}
.standardItemList ul li.highlight img {
	float:left !important;
	margin:0 20px 0 0 !important;
}
.standardItemList ul li.highlight .itemCopy {
	margin-left:80px !important;
	margin-left:0 !important;
}
.standardItemList ul li.highlight h3 {
	color:#98002e !important;
	font-size:13px !important;
	font-weight:normal !important;
	margin:0 0 8px 0 !important;
	text-transform:uppercase !important;
}
.standardItemList ul li.highlight p {
	margin:0 !important;
	white-space:normal !important;
}
.standardItemList ul li.highlight p a {
	text-decoration:none !important;
}
.standardItemList ul li.highlight p a:hover {
	text-decoration:underline !important;
}
/* Standard Item List With Highlight Image On Left */
.standardItemList.imgLeft ul li.highlight {
	background:transparent !important;
	border:0 !important;
	color:#797979 !important;
	font-size:11px !important;
	margin:15px 0 15px 35px !important;
	padding:0 !important;
}
.ms-reusableTextView .standardItemList.imgLeft ul li.highlight {
	margin:15px 0 0 35px !important;
}
.standardItemList.imgLeft ul li.highlight img {
	float:left !important;
	margin:0 20px 0 0 !important;
}
.standardItemList.imgLeft ul li.highlight h3 {
	color:#303030 !important;
	font-size:13px !important;
	font-weight:normal !important;
	line-height:15px !important;
	margin:0 0 6px 0 !important;
	*margin-top:-10px !important; /* IE fix */
}
.standardItemList.imgLeft ul li.highlight p {
	line-height:14px !important;
	margin:0 !important;
}
.mainContainer .standardItemList.imgLeft ul li.highlight a {
	text-decoration:none !important;
}
.mainContainer .standardItemList.imgLeft ul li.highlight a:hover {
	text-decoration:underline !important;
}
/* end Standard Item List With Highlight Image On Left */
/* end STANDARD ITEM LIST */

/* LINK CONTAINER */
.linkContainer.standardItemList {
	padding-left:36px !important;
}
.linkContainer a.allMoreLink {
	background-position:right 4px !important;
	float:left !important;
	font-weight:bold !important;
	line-height:13px !important;
}
.linkContainer a.rss {
	background:url("Images/icon_rss.gif")/*tpa=http://www.owens-minor.com/Style%20Library/Images/icon_rss.gif*/ 0 1px no-repeat !important;
	float:right !important;
	line-height:13px !important;
	padding-left:17px !important;
}
.linkContainer a.rssLeft {
	background:url("Images/icon_rss.gif")/*tpa=http://www.owens-minor.com/Style%20Library/Images/icon_rss.gif*/ 0 1px no-repeat !important;
	float:left !important;
	line-height:13px !important;
	padding-left:17px !important;
}
.linkContainer .clear {
	height:0 !important;
}
/* end LINK CONTAINER */

/* HELP LINK */
a.helpLink {
	background:url("Images/icon_questionmark_blue.gif")/*tpa=http://www.owens-minor.com/Style%20Library/Images/icon_questionmark_blue.gif*/ 0 0 no-repeat !important;
	display:block !important;
	margin-top:8px !important;
	padding:0 0 3px 23px !important;
}
/* end HELP LINK */
/* --------------- end GENERAL --------------- */

/* --------------- MASTHEAD --------------- */
/* TOP AREA */
td.topArea {
	background:transparent !important;
	padding:23px 30px 0 15px !important;
}
td.topArea a#logo img {
	border:0 !important;
	float:left !important;
}
/* Search Navigation */
#utilitySearchContainer {
	float:right !important;
	padding:0 !important;
}
#utilitySearchContainer td {
	color:#9b9c9c !important;
	font-size:10px !important;
	letter-spacing:.1em !important;
	margin:0 !important;
	padding:0 !important;
	text-transform:uppercase !important;
}
#utilitySearchContainer td#utilityLinks a {
	background:url("Images/topSearchArrow.gif")/*tpa=http://www.owens-minor.com/Style%20Library/Images/topSearchArrow.gif*/ center left no-repeat !important;
	border-right:1px solid #cacbcd !important;
	color:#9b9c9c !important;
	padding:0 15px 0 20px !important;
	text-decoration:none !important;
}
#utilitySearchContainer #mastheadSearchLabel {
	padding:0 15px !important;
}
#utilitySearchContainer #mastheadSearch table {
	margin:0 !important;
}
#utilitySearchContainer #mastheadSearch td.ms-sblink {
	display:none !important;
}
#utilitySearchContainer #mastheadSearch td.ms-sbcell {
	border:0 !important;
}
#utilitySearchContainer #mastheadSearch select, #utilitySearchContainer #mastheadSearch input {
	border:1px solid #a7a9ac !important;
	color:#8b8b8b !important;
	font-size:11px !important;
}
#utilitySearchContainer #mastheadSearch select, #utilitySearchContainer #masthead select.ms-sbscopes {
	font:normal 11px "Trebuchet MS", arial, sans-serif !important;
	letter-spacing:0 !important;
	margin-right:9px !important;
	padding:2px 2px 2px 0 !important;
	position:relative !important;
	text-transform:none !important;
	width:120px !important; 
}
#utilitySearchContainer #mastheadSearch input {
	background:transparent url("Images/searchBox_bg.gif")/*tpa=http://www.owens-minor.com/Style%20Library/Images/searchBox_bg.gif*/  left repeat-x !important; 
	margin:0 2px 0 0 !important;
	padding:2px 3px !important;
	width:150px !important;
}
#utilitySearchContainer .ms-sbgo {
	padding:0 !important;
}
/* end Search Navigation */
/* end TOP AREA */
/* --------------- end MASTHEAD --------------- */

/* --------------- PRIMARY NAVIGATION --------------- */
tr.primaryNavContainer {
	background:transparent !important;
	margin:0!important;
	padding:0!important;
}
tr.primaryNavContainer td {
	margin:0!important;
	padding:0!important;
}
tr.primaryNavContainer td#primaryNavigationLeft {
	width:187px !important;
}
tr.primaryNavContainer td#primaryNavigationLeft div {
	border-bottom:1px solid #9d9d9d !important;
	font-size:10px !important;
	padding:6px 0 5px 0 !important;
}
tr.primaryNavContainer td div#primaryNavigation {
	background:#9d9d9d url('Images/topnav_curve.gif')/*tpa=http://www.owens-minor.com/Style%20Library/Images/topnav_curve.gif*/ no-repeat left top !important;
	font-size:11px !important;
	margin:0 !important;
	padding:0 20px 0 34px;
	text-align:right !important;
	width:auto !important;
}
table.primaryNav {
	border-collapse:collapse !important;
	padding:0 !important;
	text-align:left !important;
	top:0 !important;
}
table.primaryNav td {
	border:0 !important;
	padding:0 !important;
}
a.primaryNavItem {
	background:transparent !important;
	color:#fff !important;
	display:block !important;
	font:bold 10px "Trebuchet MS", arial, sans-serif !important;
	height:auto !important;
	padding:6px 13px 6px 13px !important;
	text-decoration:none !important;
	text-transform:uppercase !important;
}
a.primaryNavHover, a.primaryNavItem:hover, a.primaryNavSelected {
	background-color:#cecece !important;
	border-left:1px solid #fff !important;
	border-right:1px solid #fff !important;
	padding-left:12px !important;
	padding-right:12px !important;
}

/* FLY OUTS */
.primaryNavFlyOuts {
	background-color:#e5e5e5 !important;
	border:1px solid #9d9d9d !important;
	padding:12px 0 0 0 !important;
	text-align:left !important;
}
.primaryNavFlyOuts table.primaryNavFlyOutsItem {
	background:transparent !important;
}
.primaryNavFlyOuts table.primaryNavFlyOutsItem td img {
	/*display:none !important;*/
}
.primaryNavFlyOuts table.primaryNavFlyOutsItem td a {
	color:#007698 !important;
	display:block !important;
	padding:3px 10px !important;
}
.primaryNavFlyOuts table.primaryNavFlyOutsItem td a:hover {
	text-decoration:underline !important;
}
.primaryNavFlyOuts table.primaryNavFlyOutsItem td a.notLinked, 
.primaryNavFlyOuts table.primaryNavFlyOutsItem td a.notLinked:hover {
	color:#007698 !important;
	cursor:text !important;
	text-decoration:none !important;
}
/*.primaryNavFlyOuts div.primaryNavFlyOutsItem {
	background:url("/Style%20Library/Images/pointer_down_blue_5x5.gif") center 5px no-repeat !important;
	background-color:#e5e5e5 !important;
	padding:7px 0 !important;
}
.primaryNavFlyOuts div.primaryNavFlyOutsItem img {
	display:none !important;
}*/
/* end FLY OUTS */
/* --------------- end PRIMARY NAVIGATION --------------- */

/* --------------- SECONDARY NAVIGATION --------------- */
#secondaryNavContainer {
	background-color:#e5e5e5 !important;
	padding:0 0 20px 0 !important;
}
#secondaryNavContainer #btnContainerLeftNavTop {
	margin:16px 0 0 0 !important;
}
#secondaryNavContainer table.leftNav {
	margin:0 0 16px 0 !important;
}
#secondaryNavContainer table table {
	margin-bottom:0 !important;
}
#secondaryNavContainer table.leftNav {
	background:transparent !important;
	border:0 !important;
	border-collapse:collapse !important;
	width:185px !important;
}
#secondaryNavContainer table.leftNav td table {
	background:transparent !important;
	border:0 !important;
	border-collapse:collapse !important;
	width:100% !important;
}
#secondaryNavContainer table.leftNav td table.leftNav1 {
	margin:20px 0 0 0 !important;
}
#secondaryNavContainer table.leftNav td a, 
#secondaryNavContainer table.leftNav td a.leftNavSelected, 
#secondaryNavContainer table.leftNav td a.leftNavHover {
	background:transparent !important;
	color:#98002e !important;
	display:block !important;
	font:500 14px "Trebuchet MS", arial, sans-serif !important;
	font-size:14px !important;
	font-weight:500 !important;
	padding:0 15px 5px 15px !important;
	text-decoration:none !important;
}
#secondaryNavContainer table.leftNav td a:hover, 
#secondaryNavContainer table.leftNav td a.leftNavSelected, 
#secondaryNavContainer table.leftNav td a.leftNavHover {
	color:#000 !important;
	text-decoration:underline !important;
}
#secondaryNavContainer table.leftNav td table td {
	padding:0 !important;
}
#secondaryNavContainer table.leftNav td table td table {
	background:transparent !important;
	border:0 !important;
	margin:0 !important;
}
#secondaryNavContainer table.leftNav td table td table td {
	padding:0 !important;
}
#secondaryNavContainer table.leftNav td table td table td a, 
#secondaryNavContainer table.leftNav td table td table td a.leftNavSelected, 
#secondaryNavContainer table.leftNav td table td table td a.leftNavHover {
	color:#007698 !important;
	display:block !important;
	font-size:11px !important;
	line-height:1.4em !important;
	margin:0 !important;
	padding:3px 15px 3px 25px !important;
}
#secondaryNavContainer table.leftNav td table td table td a:hover, 
#secondaryNavContainer table.leftNav td table td table td a.leftNavHover, 
#secondaryNavContainer table.leftNav td table td table td a.leftNavSelected {
	border-bottom:1px solid #fff !important;
	border-top:1px solid #fff !important;
	color:#9d9d9d !important;
	padding-bottom:2px !important;
	padding-top:2px !important;
	text-decoration:none !important;
}
#secondaryNavContainer table.leftNav td table td table td a.leftNavSelected {
	background-color:#cecece !important;
	color:#fff !important;
}
#secondaryNavContainer table.leftNav td table td table td table td a, 
#secondaryNavContainer table.leftNav td table td table td table td a.leftNavSelected, 
#secondaryNavContainer table.leftNav td table td table td table td a.leftNavHover {
	padding-left:35px !important;
}
#secondaryNavContainer table.leftNav td table td table td table td table td a, 
#secondaryNavContainer table.leftNav td table td table td table td table td a.leftNavSelected, 
#secondaryNavContainer table.leftNav td table td table td table td table td a.leftNavHover {
	padding-left:45px !important;
}
#secondaryNavContainer h3 {
	color:#98002e !important;
}
#secondaryNavContainer h3 a, #secondaryNavContainer h3 a:hover {
	color:#007698 !important;
	text-decoration:none !important;
}
#secondaryNavContainer h3 a:hover {
	color:#000 !important;
	text-decoration:underline !important;
}
/* SIDE BAR */
#sideBar table {
	margin:0px auto !important;
	text-align:center !important;
}
#sideBar .ms-WPBody {
	padding-bottom:20px !important;
}
#sideBar img {
	border:1px solid #a7a9ac !important;
}
/* end SIDE BAR */
/* SECONDARY NAV CALLOUT */
.secondaryNavCallout {
	text-align:left !important;
}
.secondaryNavCallout h3 {
	color:#454545 !important;
	font-size:14px !important;
	margin:0 0 7px 5px !important;
	padding:0 !important;
}
.secondaryNavCallout ul {
	margin:0 !important;
	padding:0 !important;
}
.secondaryNavCallout ul, .secondaryNavCallout li {
	list-style:none !important;
}
.secondaryNavCallout li {
	margin:3px 0 3px 15px !important;
	padding:0 !important;	
}
.secondaryNavCallout li a {
	color:#007698 !important;
}
.secondaryNavCallout li a:hover {
	color:#000 !important;
	text-decoration:none !important;
}
/* end SECONDARY NAV CALLOUT */
/* --------------- end SECONDARY NAVIGATION --------------- */

/* --------------- TERTIARY NAVIGATION --------------- */
.tertiaryNav ul {
	list-style:none !important;
	margin:0 0 20px 0 !important;
	padding:0 !important;
}
.tertiaryNav ul li {
	padding:3px 0 !important;
}
.tertiaryNav ul li a {
	background:url("Images/pointer_right_blue_5x5.gif")/*tpa=http://www.owens-minor.com/Style%20Library/Images/pointer_right_blue_5x5.gif*/ 0 6px no-repeat !important;
	padding:0 0 0 10px !important;
}
/* --------------- end TERTIARY NAVIGATION --------------- */

/* --------------- BREADCRUMB CONTAINER --------------- */
.pageTitle {
	margin:0 !important;
	padding:0 !important;
}
.breadcrumbContainer {
	background-color:#fff !important;
	margin:0 0 0 -16px !important;
	padding:0 0 30px 0 !important;
}
.breadcrumbContainer .breadcrumb {
	border:0 !important;
	float:left !important;
	font:bold 11px "Trebuchet MS", arial, sans-serif !important;
	margin:0 !important;
	padding:0 !important;
	width:570px !important;
}
.breadcrumbContainer .breadcrumb a {
	color:#9d9d9d !important;
	font-weight:bold !important;
	font-size:11px !important;
	padding:0 !important;
	text-decoration:none !important;
}
.breadcrumbContainer .breadcrumb a:hover {
	color:#4f4f4f !important;
	text-decoration:underline !important;
}
.breadcrumbContainer div.breadcrumb span span a.ms-sitemapdirectional {
	background:url("Images/pointer_right_grey_5x5.gif")/*tpa=http://www.owens-minor.com/Style%20Library/Images/pointer_right_grey_5x5.gif*/ right 6px no-repeat !important;
	margin:0 5px 0 0 !important;
	padding:0 10px 0 0 !important;
}
.breadcrumbContainer span.breadcrumbCurrent {
	color:#4f4f4f !important;
	font:bold 11px "Trebuchet MS", arial, sans-serif !important;
	white-space:nowrap !important;
}
.breadcrumbContainer .shareThisPage {
	float:right !important;
	margin:2px 0 0 30px !important;
}
.breadcrumbContainer .shareThisPage #emailPageLinkShow {
	padding:0 !important;
}
.breadcrumbContainer .shareThisPage #emailPageLinkShow a {
	background:url("Images/button_lightgrey_bg.gif")/*tpa=http://www.owens-minor.com/Style%20Library/Images/button_lightgrey_bg.gif*/ 0 0 repeat-x !important;
	background-color:#c8c8c8 !important;
	border:1px solid #d3d4d5 !important;
	color:#333 !important;
	cursor:pointer !important;
	font-size:8px !important;
	*font-size:9px !important; /* IE fix */
	font-weight:normal !important;
	padding:0px 9px 0px 9px !important;
	text-decoration:none !important;
	text-transform:uppercase !important;
}
.breadcrumbContainer .shareThisPage #emailPageLinkShow a:hover {
	background-position:0 -3px !important;
}
/* --------------- end BREADCRUMB CONTAINER --------------- */

/* --------------- PAGE CONTAINER --------------- */
/* Drop Shadows */
td.shadowLeft {
	background:url("Images/shadow_left.jpg")/*tpa=http://www.owens-minor.com/Style%20Library/Images/shadow_left.jpg*/ top right repeat-y !important;
	border-right:1px solid #000 !important;
	height:auto !important;
	padding:0 7px !important;
}
td.shadowRight {
	background:url("Images/shadow_right.jpg")/*tpa=http://www.owens-minor.com/Style%20Library/Images/shadow_right.jpg*/ top left repeat-y !important;
	border-left:1px solid #000 !important;
	height:auto !important;
	padding:0 7px !important;
}
/* end Drop Shadows */
/* --------------- end PAGE CONTAINER --------------- */

/* --------------- FOOTER --------------- */
#pageFooterWrapper {
	background:url('Images/footer_corner_left.jpg')/*tpa=http://www.owens-minor.com/Style%20Library/Images/footer_corner_left.jpg*/ top left no-repeat !important;
	font-size:10px !important;
	font-weight:bold !important;
	margin:0 auto 50px auto !important;
	padding:0 0 0 22px !important;
	width:958px !important;
}
#pageFooterContainer {
	background:url('Images/footer_corner_right.jpg')/*tpa=http://www.owens-minor.com/Style%20Library/Images/footer_corner_right.jpg*/ top right no-repeat !important;
	color:#fff !important;
	padding:0 22px 0 0 !important;
}
#pageFooter {
	background:url("Images/shadow_bottom.jpg")/*tpa=http://www.owens-minor.com/Style%20Library/Images/shadow_bottom.jpg*/ top left repeat-x !important;
	padding:5px 23px 30px 23px !important;
}
#pageFooter ul {
	float:left !important;
	list-style:none !important;
	margin:0 !important;
	padding:0 !important;
	position:relative !important;
}
#pageFooter ul li {
	border-right:1px solid #8d8e8e !important;
	display:inline !important;
	margin-right:10px !important;
	padding-right:10px !important;
	position:relative !important;
}
#pageFooter ul li.last {
	border:0 !important;
}
#pageFooter ul li a {
	color:#fff !important;
	line-height:10px !important;
	text-decoration:none !important;
}
#pageFooter ul li a:hover {
	text-decoration:underline !important;
}
#pageFooter p {
	color:#fff !important;
	display:inline !important;
	float:right !important;
	font-size:10px !important;
	margin:0 !important;
	text-transform:uppercase !important;
}
#pageFooter span {
	border-right:1px solid #8d8e8e !important;
	margin-right:10px !important;
	padding-right:10px !important;
}
#pageFooter span.last {
	border:0 !important;
	margin:0 !important;
	padding:0 !important;
}
/* --------------- end FOOTER --------------- */

/* --------------- GENERAL WEB PART --------------- */
.ms-WPBody, .ms-WPBody td {
	font-family:"Trebuchet MS", arial, sans-serif !important;
}
.ms-WPHeader td {
	border:0 !important;
}
.ms-WPTitle, .ms-formlabel {
	border:0 !important;
	color:#98002e !important;
	font:normal 14px "Trebuchet MS", arial, sans-serif !important;
	padding:0 !important;
}
.ms-WPTitle span, .ms-formlabel {
	white-space:normal !important;
}
.ms-PartSpacingVertical {
	display:none !important;
}
/* --------------- end GENERAL WEB PART --------------- */

/* --------------- WEB PARTS --------------- */
/* Reusable Content Parts */
span.ms-reusableTextView {
	display:block !important;
}
/* end Reusable Content Parts */

/* News & Events */
table#newsEvents {
	margin:10px 0 14px 0 !important;
}
table#newsEvents td {
	border-collapse:collapse !important;
	font-size:11px !important;
	line-height:13px !important;
	margin:0 !important;
	padding:0 0 4px 0 !important;
	vertical-align:top !important;
}
table#newsEvents td.date {
	width:60px !important;
}
table#newsEvents a.allMoreLink {
	font-size:11px !important;
	font-weight:bold !important;
}
/* end News & Events */

/* Intern Blog */
table#internBlog {
	margin:0 0 0 12px !important;
}
table#internBlog td {
	border-collapse:collapse !important;
	font-size:11px !important;
	padding:0 0 12px 0 !important;
	vertical-align:top !important;
}
table#internBlog .comments {
	color:#333333 !important;
}
/* end Intern Blog */

/* Blog Posts */
.blogPosts {
	margin-bottom:30px !important;
}
.blogPosts .post {
	border-bottom:1px solid #eee !important;
	margin-bottom:13px !important;
	padding-bottom:13px !important;
}
.blogPosts .post .postDate {
	font-weight:bold !important;
	margin-right:10px !important;
}
.blogPosts .post .commentCount {
	display:block !important;
	margin-top:5px !important;
}
.blogPosts .allMoreLink a {
	background:url("Images/pointer_right_blue_5x5.gif")/*tpa=http://www.owens-minor.com/Style%20Library/Images/pointer_right_blue_5x5.gif*/ right 6px no-repeat !important;
	font-size:11px !important;
	font-weight:bold !important;
	padding-right:10px !important;
	white-space:nowrap !important;
}
/* end Blog Posts */

/* Teammate Profile */
.spacedImage {
	margin:0 5px 12px 0 !important;
}
#profileDetails .profile {
	margin-bottom:30px !important;
}
#profileDetails .profile .spacedImage {
	float:left !important;
	margin:0 25px 0 0 !important;
	width:131px !important;
}
#profileDetails .profile .copy {
	float:left !important;
	width:300px !important;
}
#profileDetails .profile .label {
	color:#303030 !important;
	float:left !important;
	font-size:12px !important;
	font-weight:bold !important;
	margin-bottom:-0.25em !important;
	position:relative !important;
}
#profileDetails .profile .property {
	margin:0 0 12px 0 !important;
	position:relative !important;
}
#profileDetails .profile .propertyTight {
	margin:0 0 5px 0 !important;
	position:relative !important;
}
#profileDetails .profile .btnContainer {
	margin-top:25px !important;
}
/* end Teammate Profile */


/* Knowledge Library Headline */
#knowledgeLibrary {
	font:normal 11px "Trebuchet MS", arial, sans-serif !important;
}
#knowledgeLibrary h3 {
	color:#303030 !important;
	font-size:13px !important;
	font-weight:bold !important;
	margin:0 0 10px 0 !important;
}
#knowledgeLibrary ul {
	list-style:none !important;
	margin:0 0 14px 10px !important;
	padding:0 !important;
}
#knowledgeLibrary ul li {
	background:url("Images/arrow_right_lightgrey.gif")/*tpa=http://www.owens-minor.com/Style%20Library/Images/arrow_right_lightgrey.gif*/ 0 3px no-repeat !important;
	line-height:13px !important;
	margin:0 0 8px 0 !important;
	padding:0 0 0 26px !important;
	position:relative !important;
}
#knowledgeLibrary a.allMoreLink {
	font-size:12px !important;
	font-weight:bold !important;
	padding:0 10px 0 36px !important;
}
/* end Knowledge Library Headline */

/* Customer Login */
#customerLogin {
	font-size:11px !important;
	padding-left:12px !important;
}
#customerLogin .clear {
	font-size:0 !important;
}
#customerLogin p {
	margin:0 0 8px 0 !important;
}
#customerLogin select {
	border:1px solid #a7a9ac !important;
	width:200px !important;
}
#customerLogin .customerLoginFields {
	margin-top:8px !important;
}
#customerLogin .customerLoginFields label {
	display:block !important;
	float:left !important;
	padding-top:3px !important;
	width:65px !important;
}
#customerLogin .customerLoginFields input {
	float:left !important;
	margin-bottom:5px !important;
	width:130px !important;
}
#customerLogin .customerLoginFields .btnContainer {
	margin-top:5px !important;
}
#customerLogin .customerLoginFields .btnContainer p {
	float:left !important;
	margin:0 !important;
	width:140px !important;
}
#customerLogin .customerLoginFields .btnContainer input {
	background:url("Images/button_grey_bg.gif.jpg")/*tpa=http://www.owens-minor.com/Style%20Library/Images/button_grey_bg.gif*/ top left repeat-x !important;
	background-color:#898a8e !important;
	border:0px solid #a7a9ac !important;
	color:#fff !important;
	cursor:pointer !important;
	float:right !important;
	margin-left:3px !important;
	padding:1px 2px !important;
	text-transform:uppercase !important;
	width:auto !important;
}
/* end Customer Login */

/* Contact Us */
#contactUs {
	margin-bottom:10px !important;
}
/* end Contact Us */

/* Ask a Question */
#askQuestion {
	font-size:11px !important;
	padding-left:12px !important;
}
#askQuestion table td {
	padding:0 !important;
}
#askQuestion p {
	margin:0 0 8px 0 !important;
}
#askQuestion select {
	width:178px !important;
	*width:179px !important; /* IE fix */
}
#askQuestion .btnContainer {
	padding:0 0 0 3px !important;
}
#askQuestion a.button {
	background:url("Images/button_grey_bg.gif.jpg")/*tpa=http://www.owens-minor.com/Style%20Library/Images/button_grey_bg.gif*/ top left repeat-x !important;
	background-color:#898a8e !important;
	border:0px solid #a7a9ac !important;
	color:#fff !important;
	cursor:pointer !important;
	font-size:11px !important;
	font-weight:normal !important;
	padding:3px 4px !important;
	*padding:3px 1px 3px 3px !important; /* IE fix */
	text-transform:uppercase !important;
	width:auto !important;
}
#askQuestion a.button canvas {
	display:none !important;
}
/* end Ask a Question */

/* Find a Distribution Center */
#findDistributionCenter {
	padding-left:12px !important;
}
#findDistributionCenter p#findDistributionCenterIntro {
	margin:0 0 8px 0 !important;
}
#findDistributionCenter input {
	width:172px !important;
}
#findDistributionCenter input.btnGo {
	background:url("Images/button_grey_bg.gif.jpg")/*tpa=http://www.owens-minor.com/Style%20Library/Images/button_grey_bg.gif*/ top left repeat-x !important;
	background-color:#898a8e !important;
	border:0px solid #a7a9ac !important;
	color:#fff !important;
	cursor:pointer !important;
	margin-left:3px !important;
	padding:1px 2px !important;
	text-transform:uppercase !important;
	width:auto !important;
}
#findDistributionCenter span.findDistributionCenterError {
	color:#f00 !important;
	margin-left:5px !important;
}
/* end Find a Distribution Center */

/* Survey */
table.ms-summarystandardbody {
	border-collapse:collapse !important;
}
table.ms-summarystandardbody td {
	height:auto !important;
}
table.ms-summarystandardbody td img {
	display:none !important;
}
table.ms-summarystandardbody td img.resultImage {
	display:inline !important;
}
table.ms-summarystandardbody td table {
	margin-left:12px !important;
}
table.ms-summarystandardbody td table td table {
	margin:0 !important;
}
table.ms-summarystandardbody td.ms-formline {
	background:url("Images/divider_hor_dotted_grey.gif")/*tpa=http://www.owens-minor.com/Style%20Library/Images/divider_hor_dotted_grey.gif*/ 0 5px repeat-x !important;
	border:0 !important;
	height:10px !important;
}
table.ms-summarystandardbody td a.ms-toolbar {
	background:url("Images/pointer_right_blue_5x5.gif")/*tpa=http://www.owens-minor.com/Style%20Library/Images/pointer_right_blue_5x5.gif*/ right 6px no-repeat !important;
	font:normal 11px "Trebuchet MS", arial, sans-serif !important;
	margin-right:10px !important;
	padding:0 10px 0 0 !important;
	white-space:nowrap !important;
}
/* end Survey */

/* Related List */
.relatedList h3 {
	color:#797979 !important;
	font:bold 13px "Trebuchet MS", arial, sans-serif !important;
	letter-spacing:0.2em !important;
	margin:0 0 14px 0 !important;
	text-transform:uppercase !important;
}
.relatedList ul {
	list-style:none !important;
	margin:0 !important;
	padding:0 !important;
}
.relatedList ul li {
	margin-bottom:15px !important;
}
.relatedList ul li a {
	display:block !important;
	font-size:14px !important;
	margin:0 0 5px 0 !important;
	padding:0 !important;
}
.relatedList ul li p {
	margin:0 !important;
	padding:0 0 0 10px !important;	
}
/* end Related Information */

/* Meet the Rest of the Team */
#meetRestOfTeam ul {
	list-style:none !important;
	margin:20px 0 0 0 !important;
	padding:0 !important;
}
#meetRestOfTeam ul li {
	margin:0 0 20px 0 !important;
}
#meetRestOfTeam ul li img.framedImage {
	float:left !important;
	margin:0 10px 0 0 !important;
}
#meetRestOfTeam ul li p {
	float:left !important;
	font-size:12px !important;
	padding-top:16px !important;
}
#meetRestOfTeam ul li a {
	text-decoration:none !important;
}
#meetRestOfTeam ul li a:hover {
	text-decoration:underline !important;
}
/* end Meet the Rest of the Team */

/* Careers at O&M */
#careersOM {
	font-size:11px !important;
	padding-left:12px !important;
}
#careersOM p {
	margin:0 0 8px 0 !important;
}
#careersOM input.ms-input {
	margin:0 5px 5px 0 !important;
	width:136px !important;
}
#careersOM input#btnSrch {
	background:url("Images/button_grey_bg.gif.jpg")/*tpa=http://www.owens-minor.com/Style%20Library/Images/button_grey_bg.gif*/ top left repeat-x !important;
	background-color:#898a8e !important;
	border:0px solid #a7a9ac !important;
	color:#fff !important;
	cursor:pointer !important;
	margin:0 0 5px 0 !important;
	padding:1px 2px !important;
	text-transform:uppercase !important;
	width:auto !important;
}
/* end Careers at O&M */

/* Search Dialog */
#searchDialogOM {
	font-size:11px !important;
}
#searchDialogOM p {
	margin:0 0 8px 0 !important;
}
#searchDialogOM input.ms-input {
	margin:0 5px 5px 0 !important;
	width:300px !important;
}
#searchDialogOM input#btnSrch {
	background:url("Images/button_grey_bg.gif.jpg")/*tpa=http://www.owens-minor.com/Style%20Library/Images/button_grey_bg.gif*/ top left repeat-x !important;
	background-color:#898a8e !important;
	border:0px solid #a7a9ac !important;
	color:#fff !important;
	cursor:pointer !important;
	margin:0 0 5px 0 !important;
	padding:3px 5px !important;
	*padding:1px 2px !important; /* IE<8 fix */
	text-transform:uppercase !important;
	width:auto !important;
}
/* end Search Dialog */


/* Home Office Info */
#homeOfficeInfo {
	padding-left:12px !important;
}
#homeOfficeInfo address {
	font-size:12px !important;
}
/* end Home Office Info */

/* Distribution Center Search Results */
.iw-DistributionCenterResults .iw-DCTitle {
	font-weight:bold !important;
}
.iw-DistributionCenterResults address {
	font-style:normal !important;
}
/* end Distribution Center Search Results */

/* Course Listing */
.courseListing {
	background:url("Images/divider_hor_dotted_grey.gif")/*tpa=http://www.owens-minor.com/Style%20Library/Images/divider_hor_dotted_grey.gif*/ bottom left repeat-x !important;
	margin-bottom:20px !important;
	padding:0 0 20px 0 !important;
	width:100% !important;
}
.searchResultList .courseListing {
	background:transparent !important;
	margin:0 !important;
	padding:0 !important;
}
.courseListing img {
	float:left !important;
	margin:0 10px 0 0 !important;
}
.courseListing .courseListingContent {
	/*margin-left:140px !important; */
}
.searchResultList .courseListing .courseListingContent {
	margin-left:0 !important;
}
.courseListing h4 {
	font-size:13px !important;
	font-weight:bold !important;
	margin:0 0 8px 0 !important;
}
.searchResultList .courseListing h4 {
	font-size:11px !important;
}
.courseListing .courseDescription {
	margin:5px 0 !important;
}
.courseListing .courseListingContent .courseListingDetail {
	padding:0 0 0 10px !important;
}
.courseListing ul {
	list-style:none !important;
	margin:0 0 8px 0 !important;
}
.courseListing ul li {
	background:url("Images/dash_lightgrey.gif")/*tpa=http://www.owens-minor.com/Style%20Library/Images/dash_lightgrey.gif*/ 0 6px no-repeat !important;
	margin:0 !important;
	padding:0 0 0 10px !important;
}
.searchResultList .courseListing ul li {
	margin-bottom:0px !important;
	padding:0 0 0 10px !important;
}
.courseListing .courseProperty {
	border-right:1px solid #cacbcd !important;
	margin-right:5px !important;
	padding-right:5px !important;
}
.courseListing .courseProperty.last {
	border:0 !important;
	margin:0 !important;
	padding:0 !important;
}
.courseListing .courseProperty label {
	font-weight:bold !important;
}
/* end Course Listing */

/* Content with Image and Title on Top */
.contentWithImageTitleTop img {
	float:left !important;
	margin-right:20px !important;
}
.contentWithImageTitleTop .contentCopy {
	margin-left:140px !important;
}
.contentWithImageTitleTop .contentCopy p {
	margin:0 0 5px 0 !important;
}
/* end Content with Image and Title on Top */

/* Fast Fact */
.fastFact {
	background-color:#f7f7f7 !important;
	border:1px solid #d3d4d5 !important;
	padding:10px !important;
}
.fastFact h4 {
	background:url("Images/icon_lightning_bolt.gif")/*tpa=http://www.owens-minor.com/Style%20Library/Images/icon_lightning_bolt.gif*/ 0 0 no-repeat !important;
	color:#98002e !important;
	font:normal 14px "Trebuchet MS", arial, sans-serif !important;
	height:19px !important;
	margin:0 0 10px 0 !important;
	padding:1px 0 0 27px !important;
	text-transform:uppercase !important;
}
.fastFact p {
	color:#797979 !important;
	margin:0 !important;
}
.fastFact p a {
	text-decoration:none !important;
}
.fastFact p a:hover {
	text-decoration:underline !important;
}

/* end Fast Fact */

/* Quote Callout */
.quoteCallout blockquote {
	color:#82b1b9 !important;
	font-size:13px !important;
	font-style:italic !important;
	margin:0 0 15px 0 !important;
	text-align:left !important;
}
.quoteCallout p.quoteCitation {
	color:#797979 !important;
	font-size:10px !important;
	line-height:12px !important;
	margin:0 !important;
}
/* end Quote Callout */

/* Wide Photo Callout */
.widePhotoCallout, .homeCol .widePhotoCallout, .homeCol .widePhotoCallout.callout {
	background-color:#f7f7f7 !important;
	border:1px solid #d3d4d5 !important;
	width:210px !important;
}
.widePhotoCallout img, .homeCol .widePhotoCallout img {
	border:1px solid #fff !important;
	margin:0 !important;
}
.widePhotoCallout .copy {
	padding:4px 9px 7px 9px !important;
	*padding-top:0 !important; /* IE fix */
}
.widePhotoCallout h4 {
	color:#98002e !important;
	font:normal 14px "Trebuchet MS", arial, sans-serif !important;
	margin:0 0 4px 0 !important;
}
.widePhotoCallout p {
	color:#616161 !important;
	font-size:11px !important;
	margin:0 !important;
}
.homeCol .widePhotoCallout.callout p {
	float:none !important;
}
.widePhotoCallout p a {
	text-decoration:none !important;
}
.widePhotoCallout p a:hover {
	text-decoration:underline !important;
}
/* end Wide Photo Callout */

/* Services & Solutions Grid */
table#servicesSolutionsGrid {
	border-collapse:collapse !important;
	margin:30px 0 !important;
	width:702px !important;
}
table#servicesSolutionsGrid th {
	background-color:#ddd !important;
	border-right:1px solid #ededed !important;
	color:#fff !important;
	font-size:12px !important;
	margin:0 !important;
	padding:2px 4px !important;
	width:130px !important;
}
table#servicesSolutionsGrid th.first {
	background:url("Images/servicessolutionsgrid_corner_left.gif")/*tpa=http://www.owens-minor.com/Style%20Library/Images/servicessolutionsgrid_corner_left.gif*/ top left no-repeat;
	padding-left:25px !important;
}
table#servicesSolutionsGrid th.last {
	background:url("Images/servicessolutionsgrid_corner_right.gif")/*tpa=http://www.owens-minor.com/Style%20Library/Images/servicessolutionsgrid_corner_right.gif*/ top right no-repeat;
	border:0 !important;
	padding-right:20px !important;
}
table#servicesSolutionsGrid th a {
	color:#fff !important;
	text-decoration:underline !important;
}
table#servicesSolutionsGrid th a:hover {
	text-decoration:none !important;
}
table#servicesSolutionsGrid td {
	background:url("Images/divider_vert_dotted_grey.gif")/*tpa=http://www.owens-minor.com/Style%20Library/Images/divider_vert_dotted_grey.gif*/ top right repeat-y !important;
	margin:0 !important;
	padding:20px 13px 0 13px !important;
	vertical-align:top !important;
	width:114px !important;
}
table#servicesSolutionsGrid td.last {
	background:transparent !important;
}
table#servicesSolutionsGrid td ul {
	list-style:none !important;
	margin:0 !important;
	padding:0 !important;
}
table#servicesSolutionsGrid td ul li {
	background:url("Images/arrow_right_lightgrey.gif")/*tpa=http://www.owens-minor.com/Style%20Library/Images/arrow_right_lightgrey.gif*/ 0 5px no-repeat !important;
	margin:0 0 5px 0 !important;
	padding-left:15px !important;
}
table#servicesSolutionsGrid td ul li ul {
	margin:0 0 5px 0 !important;
}
table#servicesSolutionsGrid td ul li ul li {
	background:url("Images/blt_disc_grey.gif")/*tpa=http://www.owens-minor.com/Style%20Library/Images/blt_disc_grey.gif*/ 0 5px no-repeat !important;
	color:#797979 !important;
	margin:0 0 2px 0 !important;
	padding-left:6px !important;
}
table#servicesSolutionsGrid td ul li.superscript {
	background-position:0 10px !important;
}
/* end Services & Solutions Grid */

/* Help Link Callout */
.calloutHelpLink {
	border-bottom:1px dotted #666 !important;
	margin:0 15px !important;
	padding:15px 0 !important;
}
/* end Help Link Callout */
/* --------------- end WEB PARTS --------------- */

/* --------------- CALLOUTS --------------- */
.calloutContainer h3.ms-WPTitle {
	margin:0 0 2px 0 !important;
}
.calloutContainer .callout {
	padding-left:12px !important;
}
.calloutContainer .callout p {
	margin:0 0 5px 0 !important;
}
/* --------------- end CALLOUTS --------------- */

/* --------------- ACCORDION MENU --------------- */
.accordionMenu {
	background:url("Images/divider_hor_dotted_grey.gif")/*tpa=http://www.owens-minor.com/Style%20Library/Images/divider_hor_dotted_grey.gif*/ bottom left repeat-x !important;
	margin:6px 0 0 0 !important;
	padding:0 0 2px 0 !important;
}
.accordionMenu h4.firstLevel, .accordionMenu h4.firstLevelNoChildren {
	background:url("Images/divider_hor_dotted_grey.gif")/*tpa=http://www.owens-minor.com/Style%20Library/Images/divider_hor_dotted_grey.gif*/ top left repeat-x !important;
	background-color:#f2f2f3 !important;
	border-top:1px solid #fff !important;
	color:#007698 !important;
	cursor:pointer !important;
	font-size:12px !important;
	margin:0px !important;
	padding:6px 10px !important;
}
.accordionMenu h4.firstLevelNoChildren {
	cursor:text !important;
}
.accordionMenu h4.firstLevel span {
	background:url("Images/pointer_right_blue_5x5.gif")/*tpa=http://www.owens-minor.com/Style%20Library/Images/pointer_right_blue_5x5.gif*/ 0 6px no-repeat !important;
	cursor:pointer !important;
	padding:0 10px !important;
}
.accordionMenu h4.firstLevel.selected span {
	background:url("Images/pointer_down_blue_5x5.gif")/*tpa=http://www.owens-minor.com/Style%20Library/Images/pointer_down_blue_5x5.gif*/ 0 6px no-repeat !important;
}
.accordionMenu ul.secondLevel {
	border:1px solid #f2f2f3 !important;
	list-style:none !important;
	margin:0 !important;
	padding:0 !important;
}
.accordionMenu ul.secondLevel li {
	margin:0 !important;
}
.accordionMenu ul.secondLevel li a {
	background:url("Images/arrow_right_lightgrey.gif")/*tpa=http://www.owens-minor.com/Style%20Library/Images/arrow_right_lightgrey.gif*/ 20px 10px no-repeat !important;
	background-color:#f2f2f3 !important;
	display:block !important;
	padding:5px 10px 5px 35px !important;
}
#secondaryNavContainer .accordionMenu ul.secondLevel li a {
	*color:#007698 !important;
	*padding-top:0 !important;
}
.accordionMenu ul.secondLevel li a:hover {
	background-color:#fff !important;
}
/* --------------- end ACCORDION MENU --------------- */

/* --------------- TAB STRIP --------------- */
.tabOuterHeadLeft, .tabOuterHeadRight, .tabOuterHeadTop, .tabOuterHeadTop table, .tabContentBottom {
	background:transparent !important;
	border:0 !important;
	padding:0 !important;
}
.tabContent {
	border:1px solid #007698 !important;
}
.tabStrip {
	border-bottom:3px solid #007698 !important;
}
.tabStrip ul {
	height:26px !important;
	padding:0 !important;
}
.tabStrip ul li {
	background:transparent !important;
	margin:0 !important;
	padding:0 3px 0 0 !important;
	position:relative !important;
	z-index:1 !important;
}
.tabStrip ul li a, .tabStrip ul li.navOn a {
	background:transparent !important;
	background-color:#e5e5e5 !important;
	border:1px solid #9d9d9d !important;
	border-bottom:0 !important;
	color:#9d9d9d !important;
	font:normal 12px "Trebuchet MS", arial, sans-serif !important;
	padding:4px 5px 3px 5px !important;
	text-decoration:none !important;
}
.tabStrip ul li a:hover {
	background-color:#d5d5d5 !important;
	color:#000 !important;
	text-decoration:none !important;
}
.tabStrip ul li.navOn a, .tabStrip ul li.navOn a:hover {
	background-color:#007698 !important;
	border:1px solid #007698 !important;
	border-bottom:0 !important;
	color:#fff !important;
}
/* --------------- end TAB STRIP --------------- */

/* --------------- SITE MAP --------------- */
td#column {
	color:#000 !important;
}
td#column a {
	font-family:"Trebuchet MS", arial, sans-serif !important;
}
td#column .headertitle {
	color:#000 !important;
}
td#column .level-bullet {
	background:url("Images/dash_lightgrey.gif")/*tpa=http://www.owens-minor.com/Style%20Library/Images/dash_lightgrey.gif*/ 0 6px no-repeat !important;
}
td#column .level-section div {
	margin:0 !important;
}
/* --------------- end SITE MAP --------------- */

/* --------------- BIO LIST --------------- */
.bioList ul {
	list-style:none !important;
	margin:0 !important;
	padding:0 !important;
}
.bioList ul li {
	background:url("Images/divider_hor_dotted_grey.gif")/*tpa=http://www.owens-minor.com/Style%20Library/Images/divider_hor_dotted_grey.gif*/ bottom left repeat-x !important;
	padding:20px 0 !important;
}
.bioList ul li img {
	float:left !important;
	margin-right:20px !important;
}
.bioList ul li .bioItemDetail {
	margin-left:100px !important;
}
.bioList ul li .bioItemDetail h3 {
	margin:0 0 4px 0 !important;
}
.bioList ul li .bioItemDetail h4 {
	margin:0 0 4px 0 !important;
}
.bioList ul li .bioItemDetail p {
	margin:0 !important;
}
/* --------------- end BIO LIST --------------- */

/* --------------- SUPPLIER PARTNERS LIST --------------- */
table.supplierPartnersList {
	border-collapse:collapse !important;
	margin:0 !important;
	padding:0 !important;
	width:100% !important;
}
table.supplierPartnersList th, table.supplierPartnersList td {
	border-bottom:1px solid #ddd !important;
	padding:3px 5px !important;
	text-align:left !important;
	width:33% !important;
}
table.supplierPartnersList th {
	border:0 !important;
	font-weight:bold !important;
}
table.supplierPartnersList td h3 {
	margin:20px 0 0 0 !important;
}
/* --------------- end SUPPLIER PARTNERS LIST --------------- */

/* --------------- DOWNLOAD LIST --------------- */
.downloadListItem {
	margin-bottom:15px !important;
}
.downloadListItem img.downloadImage {
	float:left !important;
	margin-right:30px !important;
}
.downloadListItem .downloadDetails {
	float:left !important;
}
.downloadListItem .downloadDetails h3 {
	margin:0 !important;
}
.downloadListItem .downloadDetails .downloadEdition {
	text-transform:uppercase !important;
}
.downloadListItem .downloadDetails p {
	font-size:12px !important;
	margin:7px 0 !important;
}
.downloadListItem .downloadDetails p.downloadDateSize {
	font-size:11px !important;
	margin-bottom:15px !important;
}
/* --------------- end DOWNLOAD LIST --------------- */

/* --------------- LIGHT BOXES --------------- */
#overlay {
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      z-index:5000;
      background-color:#910832;
      -moz-opacity: 1;
      opacity:1;
      filter: alpha(opacity=100);
}

/* Email This Page */
#emailPageLinkPanelWrapper {
	background-color:#eee !important;
}
#emailPageLinkPanelWrapper #emailPageLinkHide {
	font:bold 12px "Trebuchet MS", arial, sans-serif !important;
}
#emailPageLinkPanelWrapper #emailPageLinkPanel {
	font:normal 12px "Trebuchet MS", arial, sans-serif !important;
}
#emailPageLinkPanelWrapper #emailPageLinkPanel table td {
	font-weight:bold;
}
#emailPageLinkPanelWrapper #emailPageLinkPanel .iw-MessageFrom, 
#emailPageLinkPanelWrapper #emailPageLinkPanel input.iw-MessageTo, 
#emailPageLinkPanelWrapper #emailPageLinkPanel input.iw-MessageSubject {
	font:normal 12px "Trebuchet MS", arial, sans-serif !important;
	width:270px !important;
}
#emailPageLinkPanelWrapper #emailPageLinkError {
	font:normal 12px "Trebuchet MS", arial, sans-serif !important;
}
/* end Email This Page */

/* Library Card */
#libraryCardPanelWrapper {
	background-color:#eee !important;
	font:normal 12px "Trebuchet MS", arial, sans-serif !important;
	height:514px !important;
	margin-left:-325px !important;
	margin-top:-262px !important;
	padding:10px !important;
	width:650px !important;
}
#libraryCardPanelWrapper .synopsisContainer {
	float:left !important;
	width:250px !important;
}
#libraryCardPanelWrapper table {
	background:url("Images/divider_vert_dotted_blue.gif")/*tpa=http://www.owens-minor.com/Style%20Library/Images/divider_vert_dotted_blue.gif*/ top left repeat-y !important;
	float:left !important;
	margin-left:15px !important;
}
#libraryCardPanel table td span {
	font-weight:bold !important;
	padding-left:15px !important;
}
#libraryCardPanel table td span.error {
	display:block !important;
}
#libraryCardPanel .btnContainer {
	padding-left:15px !important;
}
input.iw-SubmitButton {
	height:50px !important;
	margin-top:20px !important;
}
/* end Library Card */

/* Library Card No Cookies */
#libraryCardNoCookiesWrapper {
	background-color:#eee !important;
	font:normal 12px "Trebuchet MS", arial, sans-serif !important;
	padding:10px !important;
}
/* end Library Card No Cookies */

/* Library Card Exists */
#libraryCardUserExistsWrapper {
	background-color:#eee !important;
	font:normal 12px "Trebuchet MS", arial, sans-serif !important;
	padding:10px !important;
}
/* end Library Card Exists */
/* --------------- end LIGHT BOXES --------------- */