.mainContent {
	padding:0 !important;
}
#centerRow td {
	border-top:1px solid #c1c3c5 !important;
}
#centerRow td table td {
	border:0 !important;
}

/* --------------- GENERAL --------------- */
/* Home Columns */
#homeColContainer {
	padding:30px 15px 30px 13px !important;
	*padding-left:16px !important;
}
#homeColContainer td.homeCol {
	background:url("Images/divider_vert_dotted_black.gif")/*tpa=http://www.owens-minor.com/Style%20Library/Images/divider_vert_dotted_black.gif*/ top right repeat-y !important;
	padding:0 15px !important;
	width:212px !important;
}
#homeColContainer td.homeCol.last {
	background:transparent !important;
}
#homeColContainer td.homeCol .ms-WPBody {
	padding-bottom:20px !important;
}
#homeColContainer td.homeCol h2 {
	color:#797979 !important;
	font:bold 13px "Trebuchet MS", arial, sans-serif !important;
	letter-spacing:0.2em !important;
	margin:0 0 16px 0 !important;
	text-transform:uppercase !important;
}
#homeColContainer td.homeCol a.allMoreLink {
	display:block !important;
	float:left !important;
	font-size:12px !important;
	font-weight:bold !important;
	font-style:normal !important;
}
td.homeCol #startCareer.callout h3 {
	color:#98002e !important;
	font-size:12px !important;
	font-weight:bold !important;
}
/* end Home Columns */
/* --------------- end GENERAL --------------- */

/* --------------- SECONDARY NAVIGATION --------------- */
#secondaryNavContainer {
	display:none !important;
}
/* --------------- end SECONDARY NAVIGATION --------------- */

/* --------------- SIDE BAR --------------- */
#sideBar {
	background-color:#e5e5e5 !important;
	padding:30px !important;
	/*width:125px !important;*/
	/**width:128px !important; /* IE fix */
	width:129px !important;
	*width:128px !important; /* IE fix */
}
/* --------------- end SIDE BAR --------------- */

/* --------------- BANNER --------------- */
tr#bannerContainer td {
	border-bottom:1px solid #fff !important;
}
tr#bannerContainer td td {
	border:0 !important;
}
/* --------------- end BANNER --------------- */

/* --------------- WEB PARTS --------------- */
/* Body Callout */
.homeCol .callout {
	border:1px solid #d3d4d5 !important;
	padding:1px !important;
	width:212px !important;
}
.homeCol .callout img {
	float:left !important;
	margin-right:12px !important;
}
.homeCol .callout h3 {
	float:left !important;
	margin:0 !important;
}
.homeCol .callout p {
	color:#616161 !important;
	float:left !important;
	font-size:11px !important;
	font-style:italic !important;
	margin:0 !important;
	width:152px !important;
}
/* end Body Callout */
/* --------------- end WEB PARTS --------------- */

/*tr#centerRow td {
	border-top:1px solid #c1c3c5 !important;
}
tr#centerRow td td {
	border:0 !important;
}*/