@import url("../../../cdn.ameriprisecontent.com/cdn/sites/global/styles/normalize/2.0.css")/*tpa=https://cdn.ameriprisecontent.com/cdn/sites/global/styles/normalize/2.0.css*/;

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
}  
.ie7 .clearfix {
    zoom: 1;
}
.clr,
.clear {
	clear: both;
}
.assistive-text {
    position:absolute;
	left:-9999px;
}

body {
    background: url(../images/body-bg-v2.jpg)/*tpa=https://www.ameriprise.com/global/images/body-bg-v2.jpg*/ repeat;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #333333;
    margin: 0;
    padding: 0;
    line-height: normal;
}
body.chromeless-page {
    background-image: none;
    padding-top: 20px;
}
a, a:visited {
	text-decoration: none;
	color: #0D5FA0;
	cursor: pointer;
}
a:hover {
	color: #00B2D0;
	text-decoration: none;
}
a, a img, a:focus {
	outline: none;
	border: 0;
}
img {
    margin: 0;
}
ul, ol {
    padding-left: 0;
}
ul li,
ul li li {
	margin: 0;
	padding: 0;
	list-style: none;
	background-image: none;
}
ol {
	margin-bottom:10px;
}
ol li {
	margin: 10px 10px 10px 35px;
}
dl dd {
	margin: 10px 0 0 10px;
}
p {
	margin: 10px 0;
}
acronym {
	border:none;
}
blockquote {
    margin: 0;
}
table, tr, td {
    border: 0;
}
input[type="button"] {
    overflow: hidden;
}

/* --- Headings --- */
h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; font-family: Georgia, "Times New Roman", Times, serif; font-weight:normal; }
h1 {
	font-size: 1.9em
}
h2 {
	font-size: 1.6em
}
h3 {
	font-size: 2.1em;
}
h4 {
	font-size: 1.5em;
}
h5 {
	font-size: 1.8em
}
h6 {
	font-size: 1.4em
}
.dotted {
	background: url(../images/horiz-dot.png)/*tpa=https://www.ameriprise.com/global/images/horiz-dot.png*/ repeat-x scroll 0 bottom transparent;
	margin-bottom: 10px;
	padding-bottom: 8px;
}
.dotted.no-margin {
    margin-bottom: 0;
    padding-bottom: 4px;
}
.border-dotted {
	padding-bottom: 4px;
	background: url(../images/horiz-dot.png)/*tpa=https://www.ameriprise.com/global/images/horiz-dot.png*/ repeat-x scroll 0 bottom transparent;
	margin-bottom: 5px;
	height: 1px;
}
p.dotted_paragraph {
    background: url(../images/horiz-dot.png)/*tpa=https://www.ameriprise.com/global/images/horiz-dot.png*/ repeat-x scroll 0 bottom transparent;
    color: #333333;
    margin: 0 0 10px !important;
    padding-bottom: 14px;
}
.article-title {
    font-size: 1.6em;
    margin-top: 10px;
}

/* --- Section Specific Styles --- */
/* Products */
body.topnav-products .three-column .main-column h4 {
    font-size: 1.3em;
}
body.topnav-products table.tbl th {
    font-weight: bold;
}

/* Retirement */
body.topnav-retirement #left-nav li.current ul li.tertiary-selected a {
	font-weight:bold;
	background: url(../images/leftnav-tertiary-bg-retirement.gif)/*tpa=https://www.ameriprise.com/global/images/leftnav-tertiary-bg-retirement.gif*/ no-repeat 15px 3px !important;
	color: #414141 !important;
}
body.topnav-retirement #left-nav li li.current a,
body.topnav-retirement #left-nav li.current ul li ul li.current a {
	background-image: url(../images/leftnav-current-arrow.gif)/*tpa=https://www.ameriprise.com/global/images/leftnav-current-arrow.gif*/ !important;
	font-weight: bold !important;
	color: #414141 !important
}
body.topnav-retirement #left-nav li.current ul li.tertiary-selected li a {
	background-image:none !important;
	margin-left:10px;
	color: #0D5FA0!important;
}

/* Calculators */
body.topnav-research.subnav-calculators .main-column h1 {
	background: url("../images/horiz-dot.png")/*tpa=https://www.ameriprise.com/global/images/horiz-dot.png*/ repeat-x scroll 0 bottom transparent;
	margin: 0 0 10px;
	padding: 0 0 3px;
}

/* --- Miscellaneous Reusable Styles --- */
.italic {
	font-style: italic;
}
sup {
	font-size: .7em;
	font-family: Verdana, Geneva, sans-serif;
}
h3 sup {
	font-size: .6em;
}
.ie7 h3 sup,
.ie8 h3 sup {
    top: -0.7em;
}
strong.headline {
	display: block;
	padding-top: 12px;
}
p.right {
    text-align: right;
}
p.padding-right {
	padding-right:30px;
}
p.black-text {
	color:#000
}
p.top-margin {
    margin-top: 20px !important;
}
.text p.top-margin {
    margin-top: 10px !important;
}
.indent {
    margin-left: 20px;
}
p.indent {
	margin-left: 1.5em !important;
}
p.align-center {
    text-align: center;
}
ul.bulleted {
	padding:0;
	margin: 0;
}
.content-page .main-column ul li,
ul.bulleted li {
	padding-left: 12px;
	margin: 10px 0;
	background: url(../images/bullet_gray.png)/*tpa=https://www.ameriprise.com/global/images/bullet_gray.png*/ no-repeat 0px 6px;
}
.content-page .main-column ul li li {
    margin-left: 15px;
}
ul.no-bullet li {
	background-image: none !important;
	padding-left: 0 !important;
	margin: 10px 0;
}
li.see-more {
	list-style-type:none;
	padding-top:7px;
	background-image:none !important;
	padding-left:0 !important;
}
ul.no-margin {
    margin: 0;
}
ul.less-margin li {
    margin:5px 0 !important;
}
ul.indent ul.indent {
    margin-top: 0;
    margin-bottom: 0;
}
ul.indent ul.indent li {
    margin: 5px 0;
}
.pointer {
	cursor: pointer;
}
.nowrap {
    white-space: nowrap;
}
.hide {
	left: -9999px;
	position: absolute;
}
.ui-tabs-hide,
.breadcrumb {
	display:none;
}
.pdf-icon {
	display:inline;
	margin-left:2px;
	margin-right:4px;
}
.or-line {
    background: url(../images/or-bg.gif-version=07282009.gif)/*tpa=https://www.ameriprise.com/global/images/or-bg.gif?version=07282009*/ no-repeat scroll 0 3px transparent;
    color: #000;
    padding: 0 0 0 20px;
    text-transform:uppercase;
}
a.view-larger {
	padding-left:20px;
	margin-top:5px;
	background: url(../images/buttons/view-larger-magnify-ico.jpg)/*tpa=https://www.ameriprise.com/global/images/buttons/view-larger-magnify-ico.jpg*/ no-repeat 0px 2px;
}
.accordian-header {
    cursor: pointer;
}

/* --- Blue buttons with rounded corners --- */
.button_blue { 
	-webkit-border-radius:5px; 
	-moz-border-radius:5px;
	border-radius: 5px;
	font-size:0.9em;
	font-family:Georgia,"Times New Roman",Times,serif; 
	padding: 3px 10px; 
	text-decoration:none;
    text-transform: capitalize;
	display:inline-block;
	font-weight:normal;
	color: #FFFFFF !important;
	background-color: #1A6FA9; 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3F94CE), to(#1A6FA9));
	background-image: -webkit-linear-gradient(top, #3F94CE, #1A6FA9);
	background-image: -moz-linear-gradient(top, #3F94CE, #1A6FA9);
	background-image: -ms-linear-gradient(top, #3F94CE, #1A6FA9);
	background-image: -o-linear-gradient(top, #3F94CE, #1A6FA9);
	background-image: linear-gradient(to bottom, #3F94CE, #1A6FA9);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3F94CE, endColorstr=#1A6FA9);
}
			
.button_blue:hover {
    color: #FFFFFF !important;
	cursor:pointer;
	background-color: #3F94CE; 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#1A6FA9), to(#3F94CE));
	background-image: -webkit-linear-gradient(top, #1A6FA9, #3F94CE);
	background-image: -moz-linear-gradient(top, #1A6FA9, #3F94CE);
	background-image: -ms-linear-gradient(top, #1A6FA9, #3F94CE);
	background-image: -o-linear-gradient(top, #1A6FA9, #3F94CE);
	background-image: linear-gradient(to bottom, #1A6FA9, #3F94CE);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#1A6FA9, endColorstr=#3F94CE);
}

/* --- Disclaimers / Disclosures --- */
#disclosure {
	clear: both;
	color: #666666;
	font: .7em Arial, Helvetica, sans-serif;
}
.disclaim {
	font-size:.7em;
	color:#666666;
	margin-top:20px;
	font-family:Arial, Helvetica, sans-serif;
}
.disclaim table.tbl {
	font-size:0.8em;
	color:#666666;
	font-family:Arial, Helvetica, sans-serif;
}

/* --- Columns --- */
#main {
	background: url(../images/main-bg-v2.png)/*tpa=https://www.ameriprise.com/global/images/main-bg-v2.png*/ repeat-y 0 10px;
	padding: 185px 22px 0;
	position: relative;
	width: 980px;
	margin: 0 auto;
	clear: both;
	font-size: 0.9em;
}
body.chromeless-page #main {
    background-image: none;
    padding: 0;
}

#main > .content {
    padding: 20px 18px;
}

.above-columns-content {
    width: 730px;
    float: right;
}

.one-column .above-columns-content {
    float: none;
    width: auto;
}

.below-columns-content {
    padding: 0 16px 20px 20px;
}

.main-column {
    float: right;
    width: 700px;
    margin: 0;
}

.main-column br {
    display: block;
    margin: 2px 0;
}

.no-nav .main-column {
    float: left;
    margin-right: 16px;
}

.three-column .main-column {
    width: 462px;
    margin: 0 0 0 30px;
    float: left;
}

.one-column .main-column,
body.chromeless-page .main-column {
    width: auto;
    float: none;
    padding: 0 25px;
}

.nav-column {
    width: 205px;
    min-height: 300px;
    float: left;
    padding-top: 4px;
}

.nav-column h2 {
    font-size:1.4em;
	font-family:Georgia, "Times New Roman", Times, serif;
}

.content-page .main-column h3,
.l-cont-holder h3 {
    background: url(../images/horiz-dot.png)/*tpa=https://www.ameriprise.com/global/images/horiz-dot.png*/ repeat-x 0 bottom;
    color: #333333;
    margin: 0 0 10px;
    padding: 0 0 8px;
}

/* css fix to not add dotted line on new video component titles */
.video-component h3, .content-page .main-column .video-component h3, .l-cont-holder .video-component h3 {
    background: none;
    margin: 0px 0 6px;
    padding: 0;
}

.video-component.inline .vc-player-container h3, .video-component.featured .vc-thumbnail-grid h3 {
    margin-top:6px;
}

.video-component.featured .vc-video-container h3 {
    margin-top:10px;
}



h3.divider 
{
    background: url(../images/horiz-dot.png)/*tpa=https://www.ameriprise.com/global/images/horiz-dot.png*/ repeat-x 0 center;
}

.content-page .main-column p {
    margin: 10px 15px 10px 0;
}

.content-page .main-column p.intro {
    margin: 10px 15px 15px 0;
}

.one-column.content-page .main-column p {
    margin: 10px 0;
}

.content-page .main-column h6,
.content-page .sidebar h6,
.l-cont-holder h6 {
    color: #666666;
    font-size: 1.3em;
    font-style: italic;
    margin: 22px 0 6px;
}

.narrow-container {
    width: 650px;
}

/* --- Sidebar --- */
.sidebar {
    width: 228px;
    float: right;
    min-height: 50px;
}
.sidebar-content h5 {
	line-height: 1.2em;
}
.sidebar p {
	margin: 4px 0;
}
.sidebar-content {
	background: url(../images/sidebar-mods/sidebar-bg-btm-grd.png)/*tpa=https://www.ameriprise.com/global/images/sidebar-mods/sidebar-bg-btm-grd.png*/ no-repeat 0 bottom;
	font-size: 0.9em;
	min-height: 70px;
	padding: 13px 20px 30px;
	width: 188px;
	float: left;
}
.sidebar-content a img {
	margin: 10px 0 5px 0;
}
.sidebar-content .left-content {
	float: left;
	width: 70px;
	margin-top: 10px;
}
.sidebar-content .right-content {
	float: left;
	width: 118px;
	margin-top: 10px;
	font-size: 1em;
}
.sidebar-content .refer {
	margin-top: 10px;
}
.sidebar-content .right-content h6 {
	font-size: 1.2em;
	margin-top: 0;
}
.sidebar-grd-container {
	background: url(../images/sidebar-mods/sidebar-bg-grd-full.png)/*tpa=https://www.ameriprise.com/global/images/sidebar-mods/sidebar-bg-grd-full.png*/ no-repeat scroll 0 top transparent;
	float: left;
	margin-bottom: 6px;
	min-height:130px;
}

/* --- Content Boxes --- */
.content-boxes {
	margin: 0 10px 15px;
}
.content-boxes ul.tri-col h4 {
	font-size: 1.3em;
	padding: 0;
}

/* --- Main Content Bottom --- */
#main .content-bottom {
	font:  0.7em Arial, Helvetica, sans-serif;
	float:left;
	color:#666666;
	width:674px;
	margin:10px 10px 15px;
}
#main .content-bottom h5 {
	font-size:1.2em;
	color:#666666;
	margin:5px 0 10px;
	font-family:Arial, Helvetica, sans-serif;
}

/* --- Three Column Content Blocks --- */
ul.tri-col {
	float: left;
	width: 668px;
	padding: 4px 0 0;
	margin: 0 0 15px;
}
ul.tri-col li {
	float: left;
	width: 208px;
	margin-right: 22px;
	margin-left: 0;
}
ul.tri-col li.last {
	margin-right:0 !important;
}
 ul.tri-col h4 {
	line-height: 1.1em;
}

/* right padding for tri col boxes on homepage */
ul.tri-col li p, .content-boxes ul.tri-col h4 {
	margin: 0 0 5px;
}
/* teaster text below images */
ul.tri-col li p.intro {
	margin-top: 10px
}

/* three col divs on interior pages */
.interior-boxes {
	width: 100%;
	padding-bottom: 5px;
	margin-bottom: 10px;
	float: left;
}
.interior-boxes div.tri-col {
	float:left;
	width:214px;
	margin-top:5px;
	list-style:none;
	margin-right: 14px;
}
.interior-boxes div.tri-col.last {
	margin-right: 0;
}

.interior-boxes.researchtools div.tri-col {
    margin-bottom: 10px;
    margin-top: 0;
}

.interior-boxes div.tri-col.divi {
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	padding: 0 8px;
	min-height: 100px;
}
.interior-boxes .tri-col h5 {
	font-size: 1.3em;
	padding: 2px 0;
}
.interior-boxes div.tri-col a img {
	padding-bottom:5px;
}
.row {
	width: 100%;
	padding-bottom: 5px;
	margin-bottom: 10px;
}
.row .last {
	padding-bottom:10px;
	margin-bottom:0;
}
.interior-boxes h6,
.row.last h6,
.row.dotted h6 {
	font-style:normal;
	font-size:1.4em;
	margin:0;
}

/* --- Tables --- */
table.tbl {
	border-collapse:collapse;
	border:1px solid #cccccc;
	margin:10px 0 10px 0;
	padding:0;
	width:100%;
	font-size:.8em;
}
table.tbl th,
table.tbl td,
table.tbl caption {
	border: 1px solid #cccccc;
	padding: 8px 3px;
	font-weight:normal;
	vertical-align: top;
}
table.tbl th {
	background:#999999;
	color:#FFF;
	text-align:left;
	font-size:1.2em;
}
table.tbl .subhead {
	background:#f8f8f8;
	font-size:.93em;
}
table.tbl caption {
	text-align:left;
	border:0;
	margin:3px 0;
	padding-left:0;
}

.error { color:Red;}
input.error { border-color:Red;}
textarea.error { border-color:Red;}

@media handheld {
    #skip {
	    list-style:none;
    }
    #skip img {
	    display:block;
    }
    .breadcrumb {
	    display:none;
    }
    #tools {
	    display:none;
    }
}