/* --- Site Header --- */
#header {
	background:  url("../images/header-bg-2.gif")/*tpa=https://www.ameriprise.com/global/images/header-bg-2.gif*/ repeat-x scroll 0 0;
	width: 980px;
	margin: 0 auto;
	height: auto;
	left:22px;
	top: 0;
	position: absolute;
}
#header form {
	font-size: 12px;
	margin: 0;
	padding: 0;
	text-align: right;
}
#header .text {
	height: 16px;
	padding: 0;
	width: 217px;
	float:none !important;
}

/* previous version of header */
#header h1 {
	text-indent:-9999px;
	background: url("../images/logo-header-v2.png")/*tpa=https://www.ameriprise.com/global/images/logo-header-v2.png*/ no-repeat scroll 0 0 transparent;
	margin: 15px 0 15px 20px;
	width: 193px;
	display: inline;
	float: left;
	height: 54px;
	margin-left: 24px;
	overflow: hidden;
	position: relative;
}
#header h1 a {
	cursor: pointer;
	display:block;
	height: 54px;
}
#header .slogan {
	top: 33px;
	color: #666666;
	font-size:0.8em;
	font-style: italic;
	float: left;
	padding: 36px 0 0 30px;
}

/* selected top nav tab */
.topnav-home #topnav-home > a, .topnav-working #topnav-working > a, .topnav-products #topnav-products > a, .topnav-retirement #topnav-retirement > a, .topnav-research #topnav-research > a, .topnav-find #topnav-find > a, #top-nav > li.active > a {
  color: #333;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
	/* Old browsers */
  background: -moz-linear-gradient(top, #e1e1e1 0%, white 100%);
	/* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e1e1e1), color-stop(100%, white));
	/* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e1e1e1 0%, white 100%);
	/* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e1e1e1 0%, white 100%);
	/* Opera11.10+ */
  background: -ms-linear-gradient(top, #e1e1e1 0%, white 100%);
	/* IE10+ */
  background: linear-gradient(top, #e1e1e1 0%, white 100%);
    /* W3C */
}
/* selected sub nav tab */
.subnav-why li#subnav-why a, .subnav-our li#subnav-our a, .subnav-fees li#subnav-fees a, .subnav-getting li#subnav-getting a, .subnav-client-stories li#subnav-client-stories a, .subnav-client li#subnav-client a, .subnav-financial li#subnav-financial a, .subnav-banking li#subnav-banking a, .subnav-lending li#subnav-lending a, .subnav-investments li#subnav-investments a, .subnav-insurance li#subnav-insurance a, .subnav-other li#subnav-other a, .subnav-retirement li#subnav-retirement a, .subnav-life li#subnav-life a, .subnav-market li#subnav-market a, .subnav-calculators li#subnav-calculators a, .subnav-taxcenter li#subnav-taxcenter a, .subnav-articles li#subnav-articles a, /*#top-nav > li:hover ul > li a:hover,*/ #top-nav > li.active ul > li a:hover {
	background: #808080;
	color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/* --- Page Tools (text size, print, share) --- */
#tools {
	border: 1px solid #D1D5D6;
	border-right: 0;
	width: 100%;
	padding: 0 0 7px !important;
	margin: 0 !important;
	height: 30px;
	color: #666;
}
ul#tools {
    border: 0;
    clear: both;
    text-align: right;
}
#tools li, #tools li dt, #tools li dd, #tools li dl {
	display: inline;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}
#tools dl {
	margin-top: -5px;
}
#tools li dd {
	padding: 0 2px;
}
#tools li {
	border-right: 1px solid #D1D5D6;
	height: 17px;
	padding: 0px 11px;
	font-size: 10px;
}
#tools li a img {
	display: inline;
	vertical-align: text-bottom;
}
#tools li#share {
	padding-right: 2px;
	border: none;
}
#print {
	padding-left: 0;
}
#tools .list-item-noborder {
	border-right: none !important;
	padding: 0 2px;
}
/* Text size tool */
#small, #medium, #large {
	color:#3E72AB !important;
	padding:0 2px;
	font-family:Georgia, "Times New Roman", Times, serif;
}
#small:hover, #medium:hover, #large:hover {
	text-decoration:underline;
}
#tools a.selected {
	color:#414141 !important;
	font-weight:bold;
	text-decoration:none;
	background:#ccc;
	cursor:text;
}
#small {
	font-size:1em;
}
#medium {
	font-size:1.2em;
}
#large {
	font-size:1.5em;
}

/* --- Qtips --- */
.qtip {
    font-size: 0.9em;
}

/* --- Left Navigation --- */
#left-nav {
	background: url("../images/horiz-dot.png")/*tpa=https://www.ameriprise.com/global/images/horiz-dot.png*/ repeat-x 0 top transparent;
	font-size: 0.9em;
	margin: 8px 0 30px;
	width:200px;
}
#video-nav 
{
    background: url("../images/horiz-dot.png")/*tpa=https://www.ameriprise.com/global/images/horiz-dot.png*/ repeat-x 0 top transparent;
	font-size: 0.9em;
	margin: 8px 0;
	width:200px;
	min-height:1px;
}
#left-nav li {
	background: url("../images/horiz-dot.png")/*tpa=https://www.ameriprise.com/global/images/horiz-dot.png*/ repeat-x 0 bottom transparent;
	margin: 0;
	padding:1px 0;
}
#left-nav li a {
	display: block;
	margin: 8px 0;
	padding-left: 8px;
	color: #0D5FA0!important;
}
#left-nav li a:hover {
	text-decoration:none !important;
	color:#00B2D0!important;
}
#left-nav li.active a, #left-nav li.current a, #left-nav li.active li.active a {
	background: url(../images/leftnav-current-arrow.gif)/*tpa=https://www.ameriprise.com/global/images/leftnav-current-arrow.gif*/ no-repeat scroll 5px 2px transparent;
	color: #414141 !important;
	padding-left: 16px;
	text-decoration: none;
}
#left-nav li ul, #left-nav li li ul, #left-nav li.current li ul {
	display:none;
	margin-bottom:0px;
	margin-top:4px;
	color: #414141;
}
#left-nav li.active ul, #left-nav li.current ul {
	display:block;
	padding-bottom:5px;
}
#left-nav li ul li {
	padding:3px 0;
	font-size:.9em;
	background-image:none;
}
#left-nav li li a, #left-nav li.active li a, #left-nav li.current li a {
	padding:0 0 0 25px;
	margin:-1px;
	font-weight:normal;
	color: #0D5FA0!important;
	background-image:none !important;
}
.ie7 ul#left-nav li ul {
    margin-left: 0px;   
}

#left-nav li li a:hover {
	text-decoration:none !important;
	color:#00B2D0!important;
}
#left-nav li li.current a {
	font-weight:bold;
	background:url(../images/leftnav-current-arrow.gif)/*tpa=https://www.ameriprise.com/global/images/leftnav-current-arrow.gif*/ no-repeat 15px 3px !important;
	color:#333333!important;
}
#left-nav li:last-child {
	background-image:none!important;
}
/* tertiary left nav */
#left-nav li.current ul li ul {
}
#left-nav li.current ul li.tertiary-selected a {
	font-weight:bold;
	background:url(../images/subnav-row.gif)/*tpa=https://www.ameriprise.com/global/images/subnav-row.gif*/ no-repeat 0 4px !important;
}
#left-nav li.current ul li.tertiary-selected li a {
	background-image:none !important;
	color: #0D5FA0;
}
#left-nav li.current ul li.tertiary-selected ul {
	display:block;
}
#left-nav li.current ul li ul li a {
	padding:0 24px !important;
	font-weight:normal !important;
	background:none !important;
	color:#414141 !important;
}
#left-nav li.current ul li ul li.current a {
	background:url(../images/subnav-row.gif-version=07282009.gif)/*tpa=https://www.ameriprise.com/global/images/subnav-row.gif?version=07282009*/ no-repeat 12px 2px !important;
}

/* --- Share This / Email This Popups --- */
#share-this-box.open, #email-this-box.open {
	display:inline;
	z-index:100;
	text-align:left;
}
/* email this */
#email-this-link {
	padding-left:0;
}
#email-this {
	padding-right:0;
}
#email-this-box {
	background: none repeat scroll 0 0 #E5E9EC;
	border: 1px solid #D1D5D6;
	display: none;
	font-size: 11px;
	font-weight: bold;
	margin: 25px 0 0 -265px;
	position: absolute;
	width: 25em;
}
.lte-ie7 #email-this-box {
    top: 180px;
    left: 660px;
    margin: 2px 0 0 -77px;
}
#email-this-box form {
	margin:5px 0 5px 0;
	padding:0 5px;
}
#email-this-box ul {
	margin:0;
	padding:0;
	height:1%;
	overflow:hidden;
}
#email-this-box li {
	margin:0 0 7px 0;
	padding:0;
	background:none;
	float:left;
	border:none!important;
	height:auto!important;
}
#email-this-box li.first-name input {
	width:11em;
}
#email-this-box li.last-name {
	float:right;
}
#email-this-box li.last-name input {
	width:11em;
}
#email-this-box li.message {
	clear:both;
}
#email-this-box label {
	display:block;
	white-space:nowrap;
}
#email-this-box label span {
	display:block;
	font-weight:normal;
}
#email-this-box li.first-name span, #email-this-box li.last-name span {
	display:inline;
}
#email-this-box input, #email-this-box textarea {
	margin:0;
	padding:0;
	width:23.7em;
	font:11px Arial, Helvetica, sans-serif;
}
#email-this-box li.to-yourself input {
	width:auto;
	vertical-align:middle;
}
#email-this-box li.to-yourself label {
	display:inline;
	vertical-align:middle;
}
#email-this-box li.send-or-cancel {
	clear:both;
	height:1%;
	overflow:hidden;
}
#email-this-box li.send-or-cancel input {
	width:auto;
	float:left;
}
#email-this-box li.send-or-cancel a {
	white-space:nowrap;
	float:left;
	margin:4px 0 0 4px;
	color:#088EBC;
	font-weight:normal;
}
#email-this-box .disclaim {
	clear:both;
	margin:5px 0;
	padding:0;
	font-size:10px;
}
.tool-head {
	margin:0 5px 5px 5px;
	padding:4px 0;
	height:1%;
	overflow:hidden;
}
.tool-head h6 {
	margin:0;
	padding:0;
	float:left;
	color:#003768;
	text-transform:uppercase;
}
.tool-head .tools-close {
	font-size:1em;
	float:right;
	background:url(../images/share-this-close-icon.gif-version=07282009.gif)/*tpa=https://www.ameriprise.com/global/images/share-this-close-icon.gif?version=07282009*/ no-repeat 100% 50%;
	padding-right:19px;
}

/* --- Rotating Banners --- */
#jbanners {
	text-indent: -9999px;
	background-repeat: no-repeat !important;
}
#jbanners li {
    text-indent: -9999px;
    width: 700px;
    height: 180px;
    background-repeat: no-repeat !important;
    position: relative;
}
#tax-banners, #hoa-banners {
	position: relative;
	overflow: hidden;
	float: right;
	width: 700px;
	height: 180px;
	margin-bottom: 10px;
}
#tax-banners h2 {
	text-indent: -9999px !important;
}

/* Navigation */
#jbanners-nav {
    position: absolute;
    right: 40px;
    top: 150px;
    z-index: 100;
    margin: 0;
}
#jbanners-nav li {
    float: left;
    margin-left: 5px;
}
#jbanners-nav li a {
    background: url("../images/jbanners-btn.png")/*tpa=https://www.ameriprise.com/global/images/jbanners-btn.png*/ no-repeat scroll -35px 0 transparent;
    display: block;
    height: 12px;
    width: 11px;
}
#jbanners-nav li a.active {
    background-position: -18px 0;
}
#jbanners-nav li a.jcarousel-next {
	background-position: -55px 0 !important;
}
#jbanners-nav li a.jcarousel-prev {
	background-position: 0 0 !important;
}
#jbanners-nav li a span {
	display:block;
	position:absolute;
	left:-9999px;
}
#jbanners-nav a.jcarousel-next-disabled, #jbanners-nav a.jcarousel-prev-disabled {
	cursor:default;
}
a.banner-link {
	display: block;
	width: 700px;
	height: 214px;
}

/* Overrides for Home Page Rotators */
.top-banner #tax-banners {
    height: 214px;
    margin-bottom: 0;
}
.top-banner #tax-banners #jbanners li {
    height: 214px;
}
.top-banner #jbanners-nav {
    background: url(../images/jbanner-v2-bg-4btns.png)/*tpa=https://www.ameriprise.com/global/images/jbanner-v2-bg-4btns.png*/ no-repeat right 0;
	height: 18px;
	right: 3px;
	top: 188px;
	width: 111px;
}
.top-banner #jbanners-nav li {
	margin-left: 0;
}
.top-banner #jbanners-nav li a {
	background:url(../images/jbanner-v2-carousel-ctrl.png)/*tpa=https://www.ameriprise.com/global/images/jbanner-v2-carousel-ctrl.png*/ no-repeat -19px 0;
	width: 19px;
	height: 22px;
}
.top-banner #jbanners-nav li a.active {
	background-position: -35px 0;
}

/* --- Static Banners --- */
.banner {
	border-right:0;
	border-top:0;
	height:1%;
	overflow:hidden;
	padding:0 0 0 18px;
	font-size:1.2em;
}
.banner h1 {
	font-family:Georgia, "Times New Roman", Times, serif;
}
.banner p {
	line-height:1.4em;
	margin-bottom:0;
}
.banner img {
	float:right;
	margin-left:5px;
}

/* Home-Page-Style Banners */
.two-column.no-nav .banner {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:1.1em;
	border-bottom: 0;
	border-left:0;
	margin-bottom:20px;
}
.two-column.no-nav .banner p {
	margin-top:90px;
}
.two-column.no-nav .banner a {
	text-decoration:none;
}
.two-column.no-nav .banner a:hover {
	text-decoration:underline;
}

/* --- Specific Banners --- */
/* Working With Ameriprise */
.banner.working {
	background:url(../images/banners/financial-planning-banner-v2.gif-version=07282009.gif)/*tpa=https://www.ameriprise.com/global/images/banners/financial-planning-banner-v2.gif?version=07282009*/ no-repeat right top;
	padding-left:25px;
	padding-right:270px;
	height:182px;
	position:relative;
	text-indent:-9999px;
}
.banner.working a {
	display: block;
	position:absolute;
	left: 47px;
	top: 41px;
	width: 100px;
	height: 56px;
}
.banner.working a.why_choose {
	height: 41px;
	width: 76px;
	left: 64px;
	top: 50px;
}
.banner.working a.open-account {
	height: 57px;
	width: 81px;
	left: 189px;
	top: 102px;
}
.banner.working a.expect {
	height: 57px;
	width: 97px;
	left: 333px;
	top: 24px;
}
.banner.working a.what-happens {
	height: 43px;
	width: 108px;
	left: 526px;
	top: 70px;
}

/* Products & Services */
.banner.products {
	background: url(../images/banners/banner-products-v2.jpg-version=07282009.jpg)/*tpa=https://www.ameriprise.com/global/images/banners/banner-products-v2.jpg?version=07282009*/ no-repeat 0 0;
	min-height:180px;
	text-indent:-9999px;
	position:relative;
}
.banner.products a.auto-home {
	position:absolute;
	display:block;
	width:150px;
	height:70px;
	left: 30px;
	top: 90px;
}
.banner.products a.mutual-funds {
	position:absolute;
	display:block;
	width:150px;
	height:70px;
	left: 251px;
	top: 90px;
}
.banner.products a.world-elite {
	position:absolute;
	display:block;
	width:200px;
	height:70px;
	left: 478px;
	top: 90px;
}

/* Research & Tools */
.banner.research {
	background:url(../images/banners/research-banner-v4.jpg-version=11202014.jpg)/*tpa=https://www.ameriprise.com/global/images/banners/research-banner-v4.jpg?version=11202014*/ no-repeat right top;
	height: 177px;
	padding-left: 265px;
	font-size:.9em;
	line-height:.9em;
}
.banner.research a.borrow-smart {
	float:left;
	width: 140px;
	height:100px;
	display:block;
	margin-top:10px;
}
.banner.research a.long-term {
	float:left;
	width: 140px;
	height:100px;
	display:block;
	margin-top:10px;
    margin-left:140px;
}
.banner.research a.six-key {
	float:left;
	width: 140px;
	height:100px;
	display:block;
	margin-top:10px;
}

/* Retirement */
.banner.retirement {
	background: url(../images/banners/retirement-banner-v2.gif)/*tpa=https://www.ameriprise.com/global/images/banners/retirement-banner-v2.gif*/ no-repeat;
	height:180px;
	width: 704px;
	position:relative;
	text-indent:-9999px;
	padding:0 !important;
}
.banner.retirement a {
	position:absolute;
	display:block;
}
.banner.retirement a.social-1 {
	height:41px;
	width:119px;
	left: 39px;
	top: 133px;
}
.banner.retirement a.medicare {
	height:25px;
	width:111px;
	left: 184px;
	top: 136px;
}
.banner.retirement a.social-2 {
	height:32px;
	width:175px;
	left: 333px;
	top: 132px;
}
.banner.retirement a.rmds {
	height:27px;
	width:161px;
	left: 524px;
	top: 138px;
}
.banner.joe-coughlin {

	background: url(../images/banners/joe-banner-landing-2.jpg)/*tpa=https://www.ameriprise.com/global/images/banners/joe-banner-landing-2.jpg*/ no-repeat;
	height:180px;
	width: 703px;
	position:relative;
	text-indent:-9999px;
	padding:0 !important;
	margin-bottom: 20px;
}

/* About Ameriprise */
.about-amp-banner {
	background: url(../images/banners/about-banner-global-leader.jpg)/*tpa=https://www.ameriprise.com/global/images/banners/about-banner-global-leader.jpg*/ no-repeat right top;
	text-indent:-99999px;
	width: 703px;
	height: 180px;
	margin-bottom:10px;
	margin-left: 25px;
}

/* Financial Education */
.banner.financialed {
    background-image: url("../images/banners/aac-generic-partner-bg.jpg")/*tpa=https://www.ameriprise.com/global/images/banners/aac-generic-partner-bg.jpg*/ !important;
    background-position: 0 center !important;
    text-indent: -9999px !important;
}

/* --- Flex Banners --- */
.flex-banner {
	height: 144px;
	margin: 0 10px 15px;
	padding-top: 1px;
}
.flex-banner.facebook {
	background: url(../images/banners/fb-hm-banner.jpg)/*tpa=https://www.ameriprise.com/global/images/banners/fb-hm-banner.jpg*/ no-repeat 0 3px;
	bottom: 10px;
	left: 30px;
}
.flex-banner.client-facebook {
    background-image: url(../images/banners/fb-hm-banner-client.jpg)/*tpa=https://www.ameriprise.com/global/images/banners/fb-hm-banner-client.jpg*/;
}
.flex-banner.facebook a.fb-link {
	margin: 16px 0 0 180px;
	text-indent: -9999px;
	display: block;
	width: 30px;
	height: 30px;
}
.flex-banner.facebook .fb-root {
	margin: 55px 0 0 19px;
}
.flex-banner.facebook .fb-root .connect_widget .connect_widget_text {
	font-family: Georgia, "Times New Roman", Times, serif !important;
	color: #666666 !important;
}

/* --- Sidebar Blocks --- */
/* --- added the right-block-no-gradient class for a white background versus the gradient background --- */
.right-block {
	background: url(../images/sidebar-mods/sidebar-bg-grd-full.png)/*tpa=https://www.ameriprise.com/global/images/sidebar-mods/sidebar-bg-grd-full.png*/ no-repeat scroll 0 top transparent;
}
.right-block-no-gradient {
    padding-top: 10px;
}
.right-block, .right-block-no-gradient {
	margin-bottom: 6px;
	float: left;
	font-size: 0.9em;
}
.right-block img, .right-block-no-gradient img {
	margin:0 0 0 4px;
}
.right-block .content {
	background: url(../images/sidebar-mods/sidebar-bg-btm-grd.png)/*tpa=https://www.ameriprise.com/global/images/sidebar-mods/sidebar-bg-btm-grd.png*/ no-repeat scroll 0 bottom transparent;
}
.right-block .content, .right-block-no-gradient .content {
	padding:0 20px 20px 20px;
	width: 188px;
	min-height:70px;
	margin: 0;
}
.right-block .content ul li, .right-block-no-gradient .content ul li {
	background: url("../images/bullet_gray.png")/*tpa=https://www.ameriprise.com/global/images/bullet_gray.png*/ no-repeat scroll 0 4px transparent;
	margin: 10px 0;
	padding-left: 12px;
}
.right-block .content br, .right-block-no-gradient .content br {
	display:block;
	margin:5px 0;
}
.right-block .content .dotted, .right-block-no-gradient .content .dotted {
	padding: 0 0 10px 0;
	margin: 0 0 10px 0;
}
.right-block .content p, .right-block-no-gradient .content p {
	margin: 10px 0;
}
.right-block .content img, .right-block-no-gradient .content img {
	margin:0;
}
.ie7 .right-block .content, .ie7 .right-block-no-gradient .content {
    padding-left: 0;
}
.ie7 .right-block .content ul, .ie7 .right-block-no-gradient .content ul {
    margin-left: 20px;
}
.right-block h5 , .right-block-no-gradient h5{
	margin: 0;
	padding: 13px 20px 0;
	width:188px;
	line-height:1.2em;
	font-size:1.8em;
	font-weight:normal;
}
.right-block h6, .right-block-no-gradient h6 {
	margin:10px 0 5px 0 !important;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:1.2em !important;
	font-style:italic;
	color:#666666;
}
.center {
    text-align: center;
}
/* Blue Promotion Box */
.blue-promo {
	background-image: url(../../../www.qa.ameriprise.com/global/images/sidebar-mods/blue-promo-bg.png)/*tpa=http://www.qa.ameriprise.com/global/images/sidebar-mods/blue-promo-bg.png*/;
	color:#FFF;
	padding: 10px 20px;
	width: 188px;
	height:100px;
	margin-bottom:10px;
}
.blue-promo h5 {
	color:#fff;
}

/* Login Container */
.home-page-login #ampf-login {
    margin-top: 0;
}

.login-with-promo #ampf-login {
    margin-top: 53px;
}

/* Login Message */

.login-message {
	position: relative;
    top: -10px;
    width: 185px; /* 225px */
    z-index: 10000;
	background-color: #ebebeb;
	padding: 10px 20px;
	border-radius: 0 0 6px 6px;
}

.ie7 .login-message {
	top: -20px;
}

.login-message h3 {
	font-size: 1.25em;
	margin-bottom: 10px;
	font-weight: bold;
}

.login-message p {
	font-family: arial, sans-serif;
	font-size: .9em;
}

/*Logout Cash Account Banner */
#logout_green_banner {
    width: 246px;
    margin-right: 10px;
    background: url(../images/sidebar-mods/green-center.jpg)/*tpa=https://www.ameriprise.com/global/images/sidebar-mods/green-center.jpg*/ no-repeat top;
}
.logout_green_banner_content {
    padding: 13px 20px 20px;
    background: url(../images/sidebar-mods/green-bottom.jpg)/*tpa=https://www.ameriprise.com/global/images/sidebar-mods/green-bottom.jpg*/ no-repeat bottom;
}
.logout_green_banner_content h4 {
    color: #fff;
	font-size: 1.8em;
}
.logout_green_banner_content h4 br {
    margin: 0;
}
.logout_green_banner_content a.button {
    width: 93px;
    height: 26px;
    display: block;
    background: url(../images/buttons/view-rates.gif)/*tpa=https://www.ameriprise.com/global/images/buttons/view-rates.gif*/ no-repeat;
    text-indent: -9999px;
}
.logout_green_banner_content p {
    font-size: 1.2em;
	color:#fff;
}
.logout_green_banner_content .dotted {
    background: url("../images/horiz-dot-white.png")/*tpa=https://www.ameriprise.com/global/images/horiz-dot-white.png*/ repeat-x scroll 0 bottom transparent;
}

/* Static Meet Advisor Module */
#meet-advisor-mod {
	/*background:url(/global/images/sidebar-mods/meet-advisor-btm-bg.png) no-repeat center bottom;
	padding-bottom:12px;*/
	float:left;
	width:228px;
	color:#FFF;
	font:.8em/1em Arial, Helvetica, sans-serif;
	margin-bottom:6px;
}
#meet-advisor-mod-content {
	float:left;
	width:188px;
	background:url(../images/sidebar-mods/meet-advisor-cont-bg.png)/*tpa=https://www.ameriprise.com/global/images/sidebar-mods/meet-advisor-cont-bg.png*/ repeat-y;
	padding:9px 20px 12px;
	height:110px;
}
.ui-round-bottom{
	background:url(../images/sidebar-mods/meet-advisor-btm-bg.png)/*tpa=https://www.ameriprise.com/global/images/sidebar-mods/meet-advisor-btm-bg.png*/ no-repeat center bottom;
	height: 12px;
float: left;
width: 228px;
}
#meet-advisor-mod-content p {
	margin: 4px 0;
}
#meet-advisor-mod a {
	color:#76bddb;
}
#meet-advisor-mod #tabs {
	overflow:hidden;
	padding-bottom:3px;
	width:228px;
	float:left;
	background:url(../images/sidebar-mods/meet-advisor-bg-top.png)/*tpa=https://www.ameriprise.com/global/images/sidebar-mods/meet-advisor-bg-top.png*/ no-repeat center bottom;
	margin:0;
}
#meet-advisor-mod #tabs ul {
	margin:0;
}
#meet-advisor-mod #tabs li {
	float:left;
	margin-right:5px;
}
#meet-advisor-mod #tabs li a.by-phone {
	background:transparent url("../images/sidebar-mods/adv-mod-phone-off.png")/*tpa=https://www.ameriprise.com/global/images/sidebar-mods/adv-mod-phone-off.png*/ no-repeat 0 0;
	height:32px;
	width:90px;
	display:block;
}
#meet-advisor-mod #tabs li.ui-tabs-selected a.by-phone,
#meet-advisor-mod #tabs li.ui-tabs-active a.by-phone {
	background:transparent url("../images/sidebar-mods/adv-mod-phone-on.png")/*tpa=https://www.ameriprise.com/global/images/sidebar-mods/adv-mod-phone-on.png*/ no-repeat 0 0;
}
#meet-advisor-mod #tabs li a.in-person {
	background:transparent url("../images/sidebar-mods/adv-mod-person-off.png")/*tpa=https://www.ameriprise.com/global/images/sidebar-mods/adv-mod-person-off.png*/ no-repeat 0 0;
	height:32px;
	width:95px;
	display:block;
}
#meet-advisor-mod #tabs li.ui-tabs-selected a.in-person,
#meet-advisor-mod #tabs li.ui-tabs-active a.in-person {
	background:transparent url("../images/sidebar-mods/adv-mod-person-on.png")/*tpa=https://www.ameriprise.com/global/images/sidebar-mods/adv-mod-person-on.png*/ no-repeat 0 0;
}
#meet-advisor-mod .form-container {
	float:left;
	width:100%;
	margin: 4px 0;
	padding:0;
}
#meet-advisor-mod .form-container a.more {
	float:left;
	width:40px;
	display:block;
	margin-top:2px;
}
#meet-advisor-mod .search-btn {
	float:left;
	margin:0 10px 0 6px;
}
#meet-advisor-mod input#zipcode {
	float:left;
	width:56px;
	height:25px;
	background: url("../images/zip.png")/*tpa=https://www.ameriprise.com/global/images/zip.png*/ no-repeat;
	margin-top:1px;
	padding: 0 0 0 7px;
	border:none;
	color:#666;
	font-size:13px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
#meet-advisor-mod .box {
	float:left;
	width:92px;
	margin-top:5px;
	font-size:.9em;
}
#meet-advisor-mod .dotted {
	background: url("../images/horiz-dot.png")/*tpa=https://www.ameriprise.com/global/images/horiz-dot.png*/ repeat-x scroll 0 bottom transparent;
	width:188px;
	float:left;
	margin:4px 0 3px;
	padding:0;
	height:2px;
}
#meet-advisor-mod .box ul.social {
	float:left;
	padding-left:10px;
	margin: 0;
}
#meet-advisor-mod .box ul li {
	float:left;
	margin:0 3px;
	padding:0;
}
#meet-advisor-mod .phone-number {
	font: 1.5em/1em Georgia, "Times New Roman", Times, serif;
}
#meet-advisor-mod h5 {
	color:#FFF;
	font:1.8em/1.2em Georgia, "Times New Roman", Times, serif;
}

/* Alternate Login Modules */
#sidebar-login {
	background:url("../images/sidebar-mods/sidebar-bg-top-blue.gif")/*tpa=https://www.ameriprise.com/global/images/sidebar-mods/sidebar-bg-top-blue.gif*/ no-repeat scroll 0 top;
	float:left;
}
#sidebar-login-container {
	background:url("../images/sidebar-mods/login-btm-bg.gif")/*tpa=https://www.ameriprise.com/global/images/sidebar-mods/login-btm-bg.gif*/ no-repeat center bottom;
	padding-bottom:12px;
	float:left;
	clear:both;
	margin-bottom: 6px;
}
#sidebar-login input, #sidebar-login select {
	display:block;
	color:#666;
	font:13px Georgia, "Times New Roman", Times, serif;
	line-height:1.2em;
	border:none;
	outline:none;
}
#sidebar-login input#rememberuid {
	float:left;
	margin:0 5px;
	height: 15px;
}
#sidebar-login #Userid, #sidebar-login .password, #sidebar-login #Pword-text {
	background-color:transparent;
	width:167px;
	padding:3px 10px;
	margin: 0px 0px 6px;
	background:url("../images/sidebar-mods/login-form-bg.gif")/*tpa=https://www.ameriprise.com/global/images/sidebar-mods/login-form-bg.gif*/ no-repeat 0 0;
}
#sidebar-login a#security {
	cursor: pointer;
	display: block;
	float: right;
	height: 14px;
	left: -3px;
	margin-top: -26px;
	overflow: hidden;
	position: relative;
	width: 11px; 
	font-size:0;}
#sidebar-login a#security span {
	background:url("../images/buttons/login-lock.gif-version=07282009.gif")/*tpa=https://www.ameriprise.com/global/images/buttons/login-lock.gif?version=07282009*/ no-repeat;
	position:absolute;
	left:0;
	top:0;
	height:100%;
	width:100%;
}
#sidebar-login select#sso-dropdown {
	background: url("../images/sidebar-mods/login-form-bg.gif")/*tpa=https://www.ameriprise.com/global/images/sidebar-mods/login-form-bg.gif*/ no-repeat scroll 0 0 transparent;
	border:  none;
	margin-bottom: 5px;
	padding: 2px 3px 5px 4px;
	width: 167px;
	float:left;
}
#sidebar-login label#rememberuid-field {
	float:left;
	font-size:11px;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	width: 95px;
}
#sidebar-login .sidebar-content {
	background: url("../images/sidebar-mods/sidebar-bg-blue.gif")/*tpa=https://www.ameriprise.com/global/images/sidebar-mods/sidebar-bg-blue.gif*/ repeat-y scroll 0 0 transparent;
	color: #FFFFFF;
	float: left;
	height: auto;
	margin-top: 5px;
	padding: 8px 20px 15px;
}
#sidebar-login .sidebar-content.main {
	height:180px;
	color:red; /*homepage and main login*/
}
#sidebar-login ul {
	margin-top:10px;
	padding:0;
	line-height:1em;
	float:left;
	color:#fff;
	clear:both;
	font-weight: bold;
	font-size:11px;
}
#sidebar-login ul li {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
}
#sidebar-login ul li.dotted {
		background: url("../images/horiz-dot.png")/*tpa=https://www.ameriprise.com/global/images/horiz-dot.png*/ repeat-x scroll 0 bottom transparent;
    margin-bottom:6px;
    padding-bottom: 8px;
    width: 188px;
}
#sidebar-login ul li a {
	color:#69c;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
}
#sidebar-login h5 {
	color:#FFF;
	font-size:23px;
}
#sidebar-login form {
}
#sidebar-login #login-btn {
	float:left;
}
#sidebar-login-lower {
	color:#666;
	float:left;
	clear:both;
}
#sidebar-login-lower h5 {
	color: #000000;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
	padding-bottom: 3px;
	white-space:nowrap;
}
#sidebar-login-lower .sidebar-content {
	background: url("../images/sidebar-mods/sidebar-bg-gray.gif")/*tpa=https://www.ameriprise.com/global/images/sidebar-mods/sidebar-bg-gray.gif*/ repeat-y scroll 0 0 transparent;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin: 0;
	padding: 10px 12px 0 20px;
	width: 196px;
}
.sidebar-grd-container {
	background: url(../images/sidebar-mods/sidebar-bg-grd-full.png)/*tpa=https://www.ameriprise.com/global/images/sidebar-mods/sidebar-bg-grd-full.png*/ no-repeat scroll 0 top transparent;
	float: left;
	margin-bottom: 6px;
	min-height:130px;
}
#rememberuid-field {
    margin-top: 2px;
    vertical-align: middle;
}

#sidebar-login-container-alt {
	background:url(../images/sidebar-mods/login-btm-blue.gif)/*tpa=https://www.ameriprise.com/global/images/sidebar-mods/login-btm-blue.gif*/ no-repeat center bottom;
	padding-bottom:5px;
	float:left;
	clear:both;
	margin-bottom: 6px;
	color:#FFF;
}
#sidebar-login-container-alt .sidebar-content {
	background: url("../images/sidebar-mods/sidebar-bg-blue.gif")/*tpa=https://www.ameriprise.com/global/images/sidebar-mods/sidebar-bg-blue.gif*/ repeat-y scroll 0 0 transparent;
	color: #FFFFFF;
	float: left;
	margin-top: 5px;
	padding: 8px 20px 15px;
}
#sidebar-login-container-alt .sidebar-content ul {
	font-weight:bold;
	font-size: 1.2em;
	width:200px;
	padding-bottom:20px;
	margin-bottom:0;
}
#sidebar-login-container-alt .sidebar-content a, #sidebar-login-container-alt .sidebar-content a:visited {
	color: #6699CC;
}
#sidebar-login-container-alt ul li a, #sidebar-login-container-alt ul li a:visited {
	color: #6699CC;
	font: bold 0.85em Arial, Helvetica, sans-serif;
}
#sidebar-login-container-alt #sidebar-login {
	margin-top:0;
}
#sidebar-login-container-alt ul li {
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.85em;
}
#sidebar-login-container-alt label.with-placeholder {
    display: block;
    margin-bottom: 6px;
    position: relative;
    font-size: 11px;
}
#sidebar-login-container-alt label.with-placeholder input {
    padding: 0 0 0 5px !important;
    height: 21px;
    margin-bottom: 3px;
    font: 14px/1.2em normal Georgia,"Times New Roman",Times,serif;
}

/* --- Content Containers --- */
.tn {
    padding:0 10px 10px 0;
    float: left;
}
.pod {
	height:1%;
	overflow:hidden;
	padding:10px;
	margin:5px 0;
}
.pod .tn {
	padding-bottom:  0;
}
.pod h6 {
	margin:5px 0 !important;
}

/* --- Market Data --- */
.market-data-mod iframe {
	width: 188px;
	height: 165px;
	margin: 0;
	padding: 0;
}

/* --- Quotes and Text in Left Nav Area --- */
.left-ads {
	margin:0 auto 20px;
	width:194px;
	padding-bottom: 20px;
}
.left-ads h6 {
	color:#55616f;
	font-size:1.4em;
	line-height:1em;
	padding-bottom: 5px;
}.left-ads h6 sup {
	  font-size: 0.5em;
}
.left-ads .content {
	padding-top: 5px;
	padding-left:12px;
}
.left-ads .content blockquote p {
	padding: 0px 5px 0px 0px;
	color:#55616f;
	font-size:1.4em;
	line-height:1em;
	padding:0;
	margin:0;
}
.left-ads .content p {
	padding: 0px 5px 0px 0px;
	color:#55616f;
	font-size:1.4em;
	line-height:1em;
	padding:0;
	margin:0;
}
.left-ads .content blockquote {
	padding-left: 10px;
	background: url(../images/quote-start.gif)/*tpa=https://www.ameriprise.com/global/images/quote-start.gif*/ no-repeat 0px 5px;
}
.left-ads .content blockquote img {
	margin: 0 3px 7px 0;
	display:inline;
}
.left-ads .content cite {
	font-size: 0.8em;
	line-height:1.2em;
	font-style:normal;
	padding: 20px 0 0 10px;
	display:block;
	color:#666;
	font-family:Arial, Helvetica, sans-serif;
}
.left-ads .content.why-amp ul {
	padding-left:10px;
}
.left-ads a.left-ads-link {
	font-size:13px;
	display:block;
	padding: 10px 0 0 10px;
}

/* --- Home Page Components --- */
.top-banner {
    margin-bottom: 10px;
}
.linkedin-banner {
    clear: both;
    margin-bottom: 15px;
}
.linkedin-banner a,
.linkedin-banner img {
    display: block;
}
.content-boxes.news-container .top-left {
	float: left;
	width: 500px;
}
.content-boxes.news-container .top-right {
	float: right;
	width: 90px;
	height: 20px;
	margin-top: 7px;
}
.content-boxes.news-container p.author {
	color:#666;
	margin:10px 0 0;
	font-size:.8em;
}

/* Numbered Tri Columns */
#one, #two, #three {
    float: left;
    height: 50px;
    left: 0;
    width: 40px;
}
#one {
    background: url("../images/123_sprite.png")/*tpa=https://www.ameriprise.com/global/images/123_sprite.png*/ no-repeat scroll -5px 4px transparent;
}
#two {
    background: url("../images/123_sprite.png")/*tpa=https://www.ameriprise.com/global/images/123_sprite.png*/ no-repeat scroll -45px 4px transparent;
}
#three {
    background: url("../images/123_sprite.png")/*tpa=https://www.ameriprise.com/global/images/123_sprite.png*/ no-repeat scroll -85px 4px transparent;
}
ul.numb-tri-col {
    float: left;
    padding-top: 4px;
    width: 710px;
}
.ie7 ul.numb-tri-col {
    margin-left: 0;   
}
ul.numb-tri-col li {
    float: left;
    margin-right: 12px;
    width: 218px;
}
ul.numb-tri-col li.last {
    margin-right: 0 !important;
}
ul.numb-tri-col h4 {
    float: left;
    width: 175px;
}
ul.numb-tri-col p {
    float: left;
    width: 195px !important;
}

/* search banner ad */
.search-banner-ad {
	margin: 0;
	padding: 15px 0;
	width: 674px;
}
.search-banner-ad .follow {
	float: left;
	font-size: 16px;
	font-style: italic;
	margin: 4px 0 0 !important;
}
.search-banner-ad .ask {
	color: #000;
	float: left;
	font-size: 24px;
	margin: -4px 0 0 5px;
}
.search-banner-ad .facebook, .search-banner-ad .linkedin, .search-banner-ad .twitter {
	float: left;
	margin: -10px 0 0 10px;
}

/* --- Research Tools --- */
.pg-researchtools {
    width: 940px;
    margin-left: -23px;
}
.pg-researchtools .content-tabs {
	margin-top: 20px;
}
.pg-researchtools .ui-tabs .ui-tabs-panel {
	padding: 20px 0;
}
.pg-researchtools .content-tabs ul.ui-tabs-nav {
	height: 37px;
	background: url('../images/bg-ctabs-researchtools.png')/*tpa=https://www.ameriprise.com/global/images/bg-ctabs-researchtools.png*/ no-repeat top left;
	font: 12px Georgia,"Times New Roman", Times,serif;
}
.pg-researchtools .content-tabs ul.ui-tabs-nav li {
	outline-style: none;
	margin: 0 0.2em 1px 0;
	padding-left: 0;
}
.pg-researchtools .content-tabs ul.ui-tabs-nav li a {
	width: 125px;
	text-align: center;
	padding: 7px 0;
	margin: 0 1px;
	color: #fff;
	outline-style: none;
}
.pg-researchtools .content-tabs ul.ui-tabs-nav li.tab1 a {
	width: 150px;
}
.pg-researchtools .content-tabs ul.ui-tabs-nav li.tab6 a {
	width: 130px;
	margin-left: 5px;
}
.ie8 .pg-researchtools .content-tabs ul.ui-tabs-nav li.tab6 a {
	margin-left: 4px;
}
.pg-researchtools .content-tabs ul.ui-tabs-nav li.ui-tabs-selected a,
.pg-researchtools .content-tabs ul.ui-tabs-nav li.ui-tabs-active a {
	color: #333;
}
.pg-researchtools iframe {
	height: 800px;
	width: 100%;
	margin: 0;
	overflow-x: hidden !important;
}
.pg-researchtools #extended-quotes iframe {
	height: 1100px;
}
.pg-researchtools #mutual-fund-finder iframe {
	height: 3325px;
}
.pg-researchtools #company-overview iframe {
	height: 1000px;
}
.pg-researchtools .content-bottom {
    width: auto !important;
}

/* --- Video / Photo Blocks --- */
.features-vid-disclaim {
	color:#000;
	font-size:11px;
	margin:0;
}
img.features-tn {
	float: left;
	margin: 22px 0 0 0;
}
.features-text {
	float:right;
	width:440px;
}
.features-text p {
	margin: 5px 15px 5px 0;
}
.features-text h6,
h6.features-header {
	font-size: 1.5em !important;
}
.photo-bucket {
	clear:both;
	margin:15px 0;
	overflow: hidden;
	height: 1%;
}
.photo-bucket .photo {
	float:left;
	margin:0 10px 0 0;
	width:100px;
}
.photo-bucket .photo img {
    display: block;
}

.photo-bucket strong {
    float:left; clear:both;   
}
.photo-bucket .text {
	float:left;
	width:235px;
	overflow:hidden;
	height:1%;
}
.photo-bucket .text.nofloat 
{
    float:none;
}

.photo-bucket .text p.top-margin {
    margin-top: 10px;
}
.photo-bucket .long-text {
    float: none;
    width: auto;
}
.photo-bucket .text .pdf-icon {/*overwrite pdf style to fit without wrapping */
	display: inline;
	margin: 0px;
}
.photo-bucket .text p {
	margin: 5px 0;
	overflow: hidden;
}
.photo-bucket .text h5 {
	margin:0;
	font-size:1.2em;
}
.photo-bucket .text h6 {
	margin-top:0;
	padding-top:0;
	font-style: normal;
}

.photo-bucket-pm {
	clear:both;
	height:1%;
	overflow:hidden;
	margin:15px 0 15px 0
}
.photo-pm {
	margin-top:10px;
	display: inline-block;
}
.photo-bucket-pm .text {
	float:right;
	display: inline-block;
	width:300px;
}
.photo-bucket-pm .text p {
	margin: 10px 0;
}

.video-title-below {
    font-size: 1.2em !important;
	font-style: normal !important;
	margin: 5px 0 !important;
}

/* Featured Sections */
.photo-bucket.featured {
	margin:20px 0 0;
}
.photo-bucket.featured h4{
	margin:20px 0;
}
.photo-bucket.featured .text {
	width:350px;
}

#featured-video {
    overflow: hidden;
    padding-top: 10px;
}
.interior-boxes h6.title,
#featured-video h6.title {
	background: url("../images/horiz-dot.png")/*tpa=https://www.ameriprise.com/global/images/horiz-dot.png*/ repeat-x scroll 0 bottom transparent;
	font-style:italic;
	display:block;
	padding-bottom:12px;
	margin-bottom:5px;
	font-size: 1.3em !important;
	color:#666;
}
#featured-video h6.title
{
    margin-bottom:10px;
}
#featured-video .right h6 {
	font-style:normal;
	margin:0 0 5px 0;
}
#featured-video h5.description {
	font-size:1.1em;
	font-style:italic;
	padding:0;
	margin:0;
	padding-top:2px;
	color:#666;
}
#featured-video .left {
	float:left;
	margin-top:10px;
	width: 215px;
}
#featured-video .right {
	float:left;
	text-align:left !important;
	margin: 10px 0 0 20px;
	width: 410px;
}
#featured-video .right.narrow {
	float:left;
	text-align:left !important;
	margin: 10px 0 0 15px;
	width: 230px;
}

/* --- Watch on YouTube --- */
.watch-on-youtube {
	background:url(../images/buttons/watch-on-youtube.gif)/*tpa=https://www.ameriprise.com/global/images/buttons/watch-on-youtube.gif*/ no-repeat;
	display:block;
	float:right;
	height:42px;
	margin:5px 10px 10px 0;
	text-indent:-999em;
	width:62px;
}
.watch-on-youtube:hover {
	background-position:0 -42px;
}

/* --- General Tabs --- */
ul#tabs > li,
#tabs-cards > ul > li,
ul#acct-tabs > li,
.ui-tabs-nav > li {
    background: none !important;
    margin: 0;
    padding-left: 0;
}

/* Retirement Tabs */
#retirement-tabs {
    padding: 0;
}
#tabs-ret {
	position:relative;
	z-index:11;
	padding:0;
	overflow:hidden;
	background:transparent url(../images/1px-beb7d0.gif-version=07282009.gif)/*tpa=https://www.ameriprise.com/global/images/1px-beb7d0.gif?version=07282009*/ repeat-x 0 100%;
	margin-bottom: 0;
}
#tabs-ret li {
	float:left;
	display:inline;
	margin:0;
	padding:0;
	background-image:none;
}
#tabs-ret li a {
	display:block;
	float:left;
	display:inline;
	height:30px;
	padding:6px 0 0 0;
	background:#999999;
	border:1px solid #beb7d0;
	border-bottom:0;
	color:#FFF;
	text-align:center;
	line-height:1;
}
#tabs-ret li a span {
	display:block;
	font-weight:normal;
	font-size:10px;
}
#tabs-ret li a:hover {
	text-decoration:none;
}
#tabs-ret .ui-tabs-selected a,
#tabs-ret .ui-tabs-active a {
	cursor:default;
	background:#fff url(../images/leftnav-tertiary-bg-retirement.gif-version=07282009.gif)/*tpa=https://www.ameriprise.com/global/images/leftnav-tertiary-bg-retirement.gif?version=07282009*/ no-repeat 25px 16px;
	color:#000;
}
#tabs-ret li#tabs-ret-near.ui-tabs-selected a,
#tabs-ret li#tabs-ret-near.ui-tabs-active a {
	background-position:15px 10px;
}
#tabs-ret li#tabs-ret-far.ui-tabs-selected a,
#tabs-ret li#tabs-ret-far.ui-tabs-active a {
	background-position:6px 10px;
}
#tabs-ret .ui-tabs-selected a:hover,
#tabs-ret .ui-tabs-active a:hover {
	color:#414141;
}
#tabs-ret #tabs-ret-in a {
	height:24px;
	width:146px;
	padding:12px 0 0 2px;
}
#tabs-ret #tabs-ret-near a {
	width:145px;
	margin:0 4px;
}
#tabs-ret #tabs-ret-far a {
	width:147px;
	padding-right:2px;
}

#ret-tabs-content {
	position:relative;
	z-index:10;
	border:1px solid #beb7d0;
	border-top:0;
	padding:10px;
	width:440px;
}
#ret-tabs-content .tbl, #ret-tabs-content .tbl th, #ret-tabs-content .tbl td {
	border:none;
}
#ret-tabs-content table {
	background:url(../images/1px-C2C2AF.gif-version=07282009.gif)/*tpa=https://www.ameriprise.com/global/images/1px-C2C2AF.gif?version=07282009*/ repeat-y 50% 0;
	border-bottom:1px solid #C2C2AF !important;
}
#ret-tabs-content .tbl th, #ret-tabs-content .tbl td {
	padding-left:20px;
}
#ret-tabs-content .tbl th:first-child, #ret-tabs-content .tbl td:first-child {
	padding-left:0;
}
#ret-tabs-content .tbl th {
	background:none !important;
	color:#4c565a;
	border-top:none;
	border-bottom:none;
}
#ret-tabs-content h6 {
    font-style: normal !important;
}

/* Other Tabs */
#tabs-generic #tabs {
	background: url(../images/1px-d1d5d6.gif)/*tpa=https://www.ameriprise.com/global/images/1px-d1d5d6.gif*/ repeat-x scroll 0 100% transparent;
	height: 1%;
	margin: 0;
	overflow: hidden;
	padding: 0;
}
#tabs-generic #tabs li {
	margin-right: 5px;
	padding:0;
}
#tabs-generic #tabs li.last {
    margin-right: 0;
}
#tabs-generic #tabs li a {
	background-color: #666666;
	border-color: #D1D5D6;
	border-style: solid solid none;
	border-width: 1px 1px 0;
	color: #FFFFFF;
	display: block;
	font-weight: bold;
	outline: none;
	padding: 8px 5px;
	text-align: center;
	min-width: 125px;
}
#tabs-generic #tabs li.ui-tabs-selected a,
#tabs-generic #tabs li.ui-tabs-active a {
	background-color: #FFFFFF;
	color: #414141;
}
#tabs-generic #tabs li.ui-tabs-selected a:hover,
#tabs-generic #tabs li.ui-tabs-active a:hover {
	text-decoration: none;
}
#tabs-generic-content {
	border-color: #D1D5D6;
	border-right: 1px solid #D1D5D6;
	border-style: none solid solid;
	border-width: 0 1px 1px;
	clear: both;
	padding: 10px;
}
#tabs-generic-content > div {
    padding: 0;
}
#tabs-generic-content h6 { /*Fix italic in h6 heading*/
	margin-top: 0;
	padding-top: 0;
	font-style:normal!important;
}

/* --- Key Points --- */
.key-points {
	height:1%;
	background: url(../images/horiz-dot.png)/*tpa=https://www.ameriprise.com/global/images/horiz-dot.png*/ repeat-x scroll 0 bottom transparent;
	margin-bottom:15px;
	width:100%;
}
.key-points h3 {
	margin:0 0 5px 0;
}
.key-points h4 {
	margin:0 0 15px 0;
	padding-bottom:10px;
}
.key-points .post-it {
	background: url("../images/key-points.gif")/*tpa=https://www.ameriprise.com/global/images/key-points.gif*/ no-repeat scroll 0 35% transparent;
	padding: 0 25px 25px 80px;
	color:#666;
}
.key-points .post-it h6 {
	margin:0;
	padding:10px 10px 10px 80px;
}
.key-points .post-it ul {
	list-style:none;
	margin:5px 0 0 15px;
}
.key-points .post-it ul li {
	padding-left:12px;
	margin: 8px 0;
	background: url(../images/bullet_gray.png)/*tpa=https://www.ameriprise.com/global/images/bullet_gray.png*/ no-repeat 0px 5px;
}
.key-points .post-it p {
	margin-left:15px;
}
.key-points .post-it ul li, .key-points .post-it p {
	margin-bottom:3px;
	color:#666666;
	font-size:1em;
	font-style:italic;
}

/* --- Biography Grid --- */
.bio-grid {
	margin-bottom:10px;
}
.bio-grid .left {
	float:left;
	width:215px;
}
.bio-grid .right {
	float:right;
	width:215px;
	text-align:left;
}
.bio-grid img {
	float:left;
}
.bio-grid p {
	margin:0 0 0 105px !important;
}
.bio-grid p a {
	font-weight:bold;
}
.bio-pic {
	float:right;
	margin:0 0 10px 10px;
	border:1px solid #ccc;
}

/* About Us Leadership */
#leadership .bio-grid  {
    width:462px;
}
#leadership .bio-grid .left,
#leadership .bio-grid .right {
	padding:10px 0;
}
/* About Us Commercials */
#commercials .bio-grid {
    padding:10px 0;
    width:442px;
}
#commercials .bio-grid p {
    margin:10px 0 !important;
}
#commercials  .watch-on-youtube {
    margin: 0 60px 0 0;
}

/* --- Ameriprise Dashboard (Meeting Management) Page Styles --- */
.dashboard h6 {
	color: #333333;
	font-style: normal;
	margin-top: 0px;
}
.dashboard div.dotted {
	margin: 20px 0px 25px;
}
.dashboard .dashpod img {
	float: left;
	margin-right: 15px;
	width: 50%;
}
.dashboard .dashpod .dashtext {
	float: left;
	width: 45%;
}
.dashboard .dashpod.dash-two-col {
	float: left;
	width: 330px;
	margin-right: 20px;
}
.dashboard .dashpod.dash-two-col p {
	font-size: .75em;
}

/* --- Ameriprise App Page Styles --- */
.app-left-side {
	float:left;
	width:345px;
	padding-top:5px;
}
.app-right-side {
	float:right;
	width:340px;
	padding:0;
}
.secure-left-side {
	float:left;
	width:450px;
}
.secure-right-side {
	float:right;
	width:228px;
}
.iphone-store {
	height: 40px;
	padding-top:13px;
	padding-bottom:11px;
}
.iphone-store .iphone-right {
	padding-top:10px;
}
.android-store {
	height: 45px;
	padding-top:11px;
	padding-bottom:11px;
}
.android-store .android-left {
	padding-left:10px;
}
.android-store .android-right {
	padding-top:10px;
}
/*.blackberry-store {
	height:30px;
	padding-top:13px;
	padding-bottom:13px;
}*/
.store-left {
	float:left;
	padding-left:10px;
}
.store-right {
	float:right;
	width:190px;
}
.secure-section {
	margin-top:0px;
}
.secure-block {
    font-family: Georgia, Times, Times New Roman, serif;
    background: url(../images/sidebar-mods/sidebar-bg-grd-full.png)/*tpa=https://www.ameriprise.com/global/images/sidebar-mods/sidebar-bg-grd-full.png*/ no-repeat 0 top;
}
.secure-block h6 {
    padding: 30px 15px 0;
}
.secure-block .content {
    background: url(../images/sidebar-mods/sidebar-bg-btm-grd.png)/*tpa=https://www.ameriprise.com/global/images/sidebar-mods/sidebar-bg-btm-grd.png*/ no-repeat 0 bottom;
	padding: 0 0 30px 15px;
}
#tabs-stores {
	margin-top:20px;
}

#tabs-stores #tabs {
	background:url("../images/mobile-sprite.gif")/*tpa=https://www.ameriprise.com/global/images/mobile-sprite.gif*/ no-repeat;
	height:39px;
}

#tabs-stores #tabs.android-tab {
	background-position:0 -39px;	
}
/*#tabs-stores #tabs.blackberry-tab {
	background-position:0 -78px;	
}*/
#tabs-stores #tabs li {
	float:left;
}
#tabs-stores #tabs li a {
	display:block;
	height:40px;
}
#tabs-stores #tabs li a {
	width:162px;
	margin-right:4px;
	text-indent:-9999px;
}
#tabs-stores-content {
	margin:0;
	padding: 10px 10px 0px;
	clear: left;
}
#iphone-tab-left {
	float:left;
	width:190px;
}
#iphone-tab-middle {
	float:left;
	width:330px;
	padding-right:10px;
}
#iphone-tab-right {
	float:left;
	width:145px;
}
#android-tab-left {
	float:left;
	width:190px;
	padding-left:0;
}
#android-tab-middle {
	float:left;
	width:320px;
	padding-right:20px;
}
#android-tab-right {
	float:left;
	width:130px;
}
/*#blackberry-tab-left {
	float:left;
	width:190px;
}
#blackberry-tab-middle {
	float:left;
	width:320px;
	padding-right:20px;
}
#blackberry-tab-right {
	float:left;
	width:130px;
}*/

/* --- Logout Grid --- */
.lo-grid .left {
	float:left;
}
.lo-grid .right {
	float:right;
}

/* Logout page - right small banner */
.logout-right-banner {
    background:url(../images/banners/auto-home-logout-banner.jpg)/*tpa=https://www.ameriprise.com/global/images/banners/auto-home-logout-banner.jpg*/ no-repeat !important;
}
.logout-banner-dynamic {
    min-height:214px;
    margin-left: 20px;
    width: 244px;
}
* html .logout-banner-dynamic { 
    height:214px;
    overflow:visible;
}
.logout-banner-dynamic .callout-left-align {
    width:210px;
    position:relative;
    top:15px;
    padding:26px 0 0 13px;
    color: #FFF;
}
* html .logout-banner-dynamic .callout-left-align {
    padding-top:25px;
}
*+html .logout-banner-dynamic .callout-left-align {
    padding-top:25px;
}
.logout-banner-dynamic .callout-left-align h1 {
    font-size:22px;
    margin:0 0 5px 0; padding:0;
}
.logout-banner-dynamic .callout-left-align p {
    font-size:13px;
    margin:12px 0 26px 0; padding:0;
    max-width:138px;
}

/* --- Timeline Modal --- */
.timeline-colorbox #cboxClose {
	background-image: url(../../about-ameriprise-financial/company-information/amp-timeline-v2/assets/img/btnClose.png)/*tpa=https://www.ameriprise.com/about-ameriprise-financial/company-information/amp-timeline-v2/assets/img/btnClose.png*/;
	width: 7px;
	height: 7px;
	right: 5px;
}

/* --- Social Media List --- */
ul.social {
	list-style:none;
}
ul.social li.twitter-social-li {
	background:url(../images/social-media/twitter-icon.gif)/*tpa=https://www.ameriprise.com/global/images/social-media/twitter-icon.gif*/ no-repeat 0 50%;
	padding:10px 1px 10px 40px;
}
ul.social li.twitter-social-li a {
	display:block;
}
ul.social li.youtube-social-li {
	background:url(../images/social-media/youtube-icon.gif)/*tpa=https://www.ameriprise.com/global/images/social-media/youtube-icon.gif*/ no-repeat 0 50%;
	padding:10px 1px 10px 40px;
}
ul.social li.youtube-social-li a {
	display:block;
}
ul.social li.linkedin-social-li {
	background:url(../images/social-media/linkedin-icon.gif)/*tpa=https://www.ameriprise.com/global/images/social-media/linkedin-icon.gif*/ no-repeat 0 50%;
	padding:10px 1px 10px 40px;
}
ul.social li.facebook-social-li {
	background:url(../images/social-media/facebook-icon.gif)/*tpa=https://www.ameriprise.com/global/images/social-media/facebook-icon.gif*/ no-repeat 0 50%;
	padding:10px 1px 10px 40px;
}

/* --- Q&A Styles --- */
ul.exp {
	margin:0; padding:0;
}
ul.exp > li {
	list-style-type:none;
	background-image: none !important;
	padding-left: 0 !important;
}
ul.exp > li > a {
	background:url(../images/plus.gif)/*tpa=https://www.ameriprise.com/global/images/plus.gif*/ no-repeat 0 3px;
	padding-left:15px;
}
ul.exp > li > a.open {
	background:url(../images/minus.gif)/*tpa=https://www.ameriprise.com/global/images/minus.gif*/ no-repeat 0 3px;
}
ul.exp a:link, ul.exp a:visited, ul.exp a:hover, ul.exp a:active {
	outline:none;
}
ul.exp .answer {
	padding-left:15px;
	margin-top:0;
	display:none;
}

#q-a dt {
    background:url(../images/question-icon-blue.jpg)/*tpa=https://www.ameriprise.com/global/images/question-icon-blue.jpg*/ no-repeat left top;
    padding-left:35px;
    font-weight:bold;
    min-height:25px;
}
#q-a dd {
    padding-left:35px;
    margin-bottom:5px;
}

/* --- Site Map --- */
#sitemap-grid {
	margin:10px 0 0 0;
	height:1%;
	overflow:hidden;
	padding-top:10px;
}
#sitemap-grid div {
	float:left;
	width:295px;
}
#sitemap-grid h3, #sitemap-grid h4, #sitemap-grid h5 {
	margin:0 0 5px 0;
	padding-left:0;
	font-size:1em;
	font-weight:bold;
	background-image:none !important;
}
#sitemap-grid h4 {
	margin-top:7px;
	margin-left:5px;
}
#sitemap-grid h5 {
	margin-left:10px;
}
#sitemap-grid ul {
	list-style:none;
	margin:5px 0 10px 15px;
}
#sitemap-grid ul li {
	margin:0 0 3px 0;
	background: url("../images/bullet_gray.png")/*tpa=https://www.ameriprise.com/global/images/bullet_gray.png*/ no-repeat scroll 0 4px transparent;
	padding-left:12px;
}
#sitemap-grid ul li ul {
	background: url("../images/bullet_gray.png")/*tpa=https://www.ameriprise.com/global/images/bullet_gray.png*/ no-repeat scroll 0 4px transparent;
	margin: 8px 0;
}
#sitemap-grid ul li ul {
	margin-top:7px;
}

/* --- Error Page --- */
#error-container .grid .row .left,
#error-container .grid .row .right {
    float: left;
	width: 45%;
	margin-right: 2%;
	background-color: #eeeeee;
	height: 140px;
	padding: 0 2%;
}
#error-container .grid .row .right {
    margin-right: 0;
}

#error_page .main-column {
	margin-left: 0;
	padding: 0;
}

#error_page .main-column h3 {
	width: 100%;
}

/* --- Fix for IE8/7 footer gap --- */
img.sso-img { 
    position: absolute; 
}

/* --- Infographic with Shadow --- */
.infographic-with-shadow {
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15); 
	-moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15); 
	-ms-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15); 
	-o-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15); 
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15); 
	-pie-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);
	behavior: url("PIE.htc")/*tpa=https://www.ameriprise.com/global/styles/PIE.htc*/;
	/* -- position:relative required for PIE to round corners in IE 8,7,6 see http://css-plus.com/2011/05/ie-and-rounded-corners/ -- */
	position: relative;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.profile {
	overflow: hidden;
	clear: both;
	margin-top: 20px;
}
.profile img {
	float: left;
	margin:0 10px 10px 0;
}
.content-page .main-column .profile h6 {
	margin-top: 0;
}
