/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
.close-btn {
    background: url("../images/colorbox/close-window.gif")/*tpa=https://www.ameriprise.com/global/images/colorbox/close-window.gif*/ no-repeat 0 0;
    height: 18px;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 20px;
	text-indent:-999px;
}

#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block;}
.cboxIframe{width:100%; height:100%; display:block; border:0; overflow-y: hidden !important; }

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#000;}
#colorbox{}
    #cboxTopLeft{width:25px; height:25px; background:url(../images/colorbox/border1.png)/*tpa=https://www.ameriprise.com/global/images/colorbox/border1.png*/ no-repeat 0 0;}
    #cboxTopCenter{height:25px; background:url(../images/colorbox/border1.png)/*tpa=https://www.ameriprise.com/global/images/colorbox/border1.png*/ repeat-x 0 -50px;}
    #cboxTopRight{width:25px; height:25px; background:url(../images/colorbox/border1.png)/*tpa=https://www.ameriprise.com/global/images/colorbox/border1.png*/ no-repeat -25px 0;}
    #cboxBottomLeft{width:25px; height:25px; background:url(../images/colorbox/border1.png)/*tpa=https://www.ameriprise.com/global/images/colorbox/border1.png*/ no-repeat 0 -25px;}
    #cboxBottomCenter{height:25px; background:url(../images/colorbox/border1.png)/*tpa=https://www.ameriprise.com/global/images/colorbox/border1.png*/ repeat-x 0 -75px;}
    #cboxBottomRight{width:25px; height:25px; background:url(../images/colorbox/border1.png)/*tpa=https://www.ameriprise.com/global/images/colorbox/border1.png*/ no-repeat -25px -25px;}
    #cboxMiddleLeft{width:25px; background:url(../images/colorbox/border2.png)/*tpa=https://www.ameriprise.com/global/images/colorbox/border2.png*/ repeat-y 0 0;}
    #cboxMiddleRight{width:25px; background:url(../images/colorbox/border2.png)/*tpa=https://www.ameriprise.com/global/images/colorbox/border2.png*/ repeat-y -25px 0;}
    #cboxContent{background:#fff; overflow:hidden;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-top:20px; margin-bottom:0px;}
        /* @lauramg - removing grey "View larger image" title
		#cboxTitle{position:absolute; bottom:0px; left:0; text-align:center; width:100%; color:#999;}*/
        #cboxCurrent{position:absolute; bottom:0px; left:100px; color:#999;}
        #cboxSlideshow{position:absolute; bottom:0px; right:42px; color:#444;}
        #cboxPrevious{position:absolute; bottom:0px; left:0; color:#444;}
        #cboxNext{position:absolute; bottom:0px; left:63px; color:#444;}
        #cboxLoadingOverlay{background:#fff url(../images/colorbox/loading.gif)/*tpa=https://www.ameriprise.com/global/images/colorbox/loading.gif*/ no-repeat 5px 5px;}
        #cboxClose{position:absolute; top:0; right:0; display:block; color:#fff; height:25px; width:25px; text-indent:-999px; background: url(../images/colorbox/close-window.gif)/*tpa=https://www.ameriprise.com/global/images/colorbox/close-window.gif*/ no-repeat 0 0;}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to IE9.
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}

/*
  The following provides PNG transparency support for IE6
*/
.cboxIE6 #cboxTopLeft{background:url(../images/colorbox/ie6/borderTopLeft.png)/*tpa=https://www.ameriprise.com/global/images/colorbox/ie6/borderTopLeft.png*/;}
.cboxIE6 #cboxTopCenter{background:url(../images/colorbox/ie6/borderTopCenter.png)/*tpa=https://www.ameriprise.com/global/images/colorbox/ie6/borderTopCenter.png*/;}
.cboxIE6 #cboxTopRight{background:url(../images/colorbox/ie6/borderTopRight.png)/*tpa=https://www.ameriprise.com/global/images/colorbox/ie6/borderTopRight.png*/;}
.cboxIE6 #cboxBottomLeft{background:url(../images/colorbox/ie6/borderBottomLeft.png)/*tpa=https://www.ameriprise.com/global/images/colorbox/ie6/borderBottomLeft.png*/;}
.cboxIE6 #cboxBottomCenter{background:url(../images/colorbox/ie6/borderBottomCenter.png)/*tpa=https://www.ameriprise.com/global/images/colorbox/ie6/borderBottomCenter.png*/;}
.cboxIE6 #cboxBottomRight{background:url(../images/colorbox/ie6/borderBottomRight.png)/*tpa=https://www.ameriprise.com/global/images/colorbox/ie6/borderBottomRight.png*/;}
.cboxIE6 #cboxMiddleLeft{background:url(../images/colorbox/ie6/borderMiddleLeft.png)/*tpa=https://www.ameriprise.com/global/images/colorbox/ie6/borderMiddleLeft.png*/;}
.cboxIE6 #cboxMiddleRight{background:url(../images/colorbox/ie6/borderMiddleRight.png)/*tpa=https://www.ameriprise.com/global/images/colorbox/ie6/borderMiddleRight.png*/;}

.cboxIE6 #cboxTopLeft,
.cboxIE6 #cboxTopCenter,
.cboxIE6 #cboxTopRight,
.cboxIE6 #cboxBottomLeft,
.cboxIE6 #cboxBottomCenter,
.cboxIE6 #cboxBottomRight,
.cboxIE6 #cboxMiddleLeft,
.cboxIE6 #cboxMiddleRight {
    _behavior: expression(this.src = this.src ? this.src : this.currentStyle.backgroundImage.split('"')[1], this.style.background = "none", this.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=" + this.src + ", sizingMethod='scale')");
}
