/* Hide stuff we don't want to print. */
.breadcrumb, 
.banner img, 
body#t3 #holder-l,
body#td #holder-r, 
#header, 
#footer,
.r-con {
	display:none;
}
/* Hide tools using another method, because CSS is already display:none, and JS changes it to display:block. */
ul#tools {
	position:absolute;
	top:-99999em;
}
/* Skip contains the logo with a white background and a link to the top nav (since it's source-ordered at the bottom of the page. */
#skip {
	list-style:none;
	margin:0; padding:0;
}
/* Hide the link to the top nav, this is unneccessary for print, leaving only the logo. */
#skip a {
	display:none;
}
/* Display URLs after links */
#content a:link:after, 
#content a:visited:after {
   content: " (" attr(href) ") ";
   font-size: 90%;
}
h3 {
	font-size:20px;
}
h6 {
	font-size:18px;
	margin-bottom:5px;
}

ul.exp li .answer {display:block}