/***************************************/
/***** GLOBAL HEADER STYLES ************/
/***************************************/
/* Persistent Bar */
.presistantBar{ 													height:30px; background-color:#595959; background: url(../../../../../img.cdw.com/assets/header/bar-background.gif)/*tpa=http://img.cdw.com/assets/header/bar-background.gif*/ top left repeat-x #595959; position:fixed; .position:absolute; left:0; right:0; top:0; font-size:11px; font-family:Verdana, Geneva, sans-serif; z-index:6000; margin:0 auto; width:100%;}
.presistantBarContent{ 												width:960px; margin:0 auto; height:30px; color:#fff; position:relative; z-index:6000; text-align:left;}
.presistantBar .phoneNumber{ 										padding:8px 12px; float:left; background:url(../../../../../img.cdw.com/assets/header/pipe.gif)/*tpa=http://img.cdw.com/assets/header/pipe.gif*/ top right no-repeat;}
.presistantBarContent a,.presistantBarContent a:hover, 
.presistantBarContent a:visited, .presistantBarContent a:active { 	color:#fff; }
div.environmentBanner {											position:fixed; .position:absolute; bottom:20px; left:20px; z-index: 2;color:red; left:10px; bottom:30px; font-size:14px; font-weight:bold;}
@media screen {
* html, * html body { 											overflow-y: hidden!important; height: 100%; margin: 0; padding: 0; }
* html .fullContainer {											height:100%; overflow-y:scroll; position:relative;}
* html div.environmentBanner {									position: absolute;}
}

/* Global Alert */
.globalAlert{ 																display:none;  margin:1px auto; padding:6px; text-align:center; background:#fff; border:1px solid #8c8d8e; font-weight:bold; color:#cc0000; font-family:Prelo-bold; font-size:20px;}
.globalAlert a, .globalAlert a:hover, .globalAlert a:visited{				color:#cc0000!important; text-decoration:none!important;}
.globalAlert .preloBlack{													font-family: 'Prelo-Black';}
.globalAlert .closeGlobalAlert{ 											float:right; curso.productsMenu .findersMenuWrapper .rightCol .columnTwo .finderHeaderImgr:pointer;}
		
/* Logon Popup */
.presistantBar .logOn { 													background:url(../../../../../img.cdw.com/assets/header/pipe.gif)/*tpa=http://img.cdw.com/assets/header/pipe.gif*/ top right no-repeat; padding:8px 10px 8px 0px; float:left; width: 195px;}
.presistantBar .logOn a,.presistantBar .logOn a:visited { 					text-decoration:none; color:#fff;}
.presistantBar .logOn a:hover{												text-decoration:underline; color:#fff;}
.presistantBar .logOn a:active {											text-decoration:none; color:#fff;}
.presistantBar .logonPopUpWrapper{											width:175px; border:2px solid #0165a3; background:#fff; position:absolute; top:31px; left:0; display:none; text-align:left;}
.presistantBar .logonPopUpWrapper h3{										background:#0165a3; color:#fff; padding:5px; font-size:11px; margin:0;}
.presistantBar .logonPopUpWrapper .closeLogOn{ 								float:right; font-size:10px; cursor:pointer; padding:5px;}
.presistantBar .logonPopUpWrapper label{									color:#4d4e53; display:block; padding:10px 5px 0px 5px;}
.presistantBar .logonPopUpWrapper label .txtbox-logon{ 						margin:5px 0 2px 0 ; width:155px; padding:3px; font-size:11px; display:block; border:1px solid #999; height:auto;}
.presistantBar .logonPopUpWrapper label a{									color:#0070BC; text-decoration:none;}
.presistantBar .logonPopUpWrapper label a:visited{							color:#0070BC; text-decoration:none;}
.presistantBar .logonPopUpWrapper label a:active{							color:#0070BC; text-decoration:none;}
.presistantBar .logonPopUpWrapper label a:hover{							color:#0070BC; text-decoration:underline;}
.presistantBar .logonPopUpWrapper .logincheckboxLbl{ 						font-size:9px;}
.presistantBar .logonPopUpWrapper .logonBtn{								margin:10px;}

/* Global Help Control */
.presistantBar .needHelp{ 													background:url(../../../../../img.cdw.com/assets/header/icon-help.png)/*tpa=http://img.cdw.com/assets/header/icon-help.png*/ top right no-repeat; padding:8px 12px 8px 10px; float:left; width:120px; .width:140px; position:relative; cursor:pointer;}
.presistantBar .needHelpUp{ 												background:url(../../../../../img.cdw.com/assets/header/icon-help-up.png)/*tpa=http://img.cdw.com/assets/header/icon-help-up.png*/ top right no-repeat;}
.presistantBar .needHelpSpacer{												padding:8px 12px 8px 10px; float:left; width:80px; .width:80px; position:relative;}
.presistantBar .needHelp a{ 												font-weight:bold; text-decoration:none; }
.presistantBar .needHelp a:visited,.presistantBar .needHelp a:active{		color:#FFF;}
.presistantBar .needHelp a:visited,.presistantBar .needHelp .needHelpLink{	color:#fff;}
.helpModulePresistatnBar{													width:200px; position:absolute; display:none; top:29px; left:-30px; font-family:Verdana, Geneva, sans-serif!important;}
.helpModulePresistatnBar .globalHelpModule h3{ 								display:none;}
.helpModulePresistatnBar .globalHelpModule{									left:-40px; width:200px;}
.helpModulePresistatnBar .globalhelpmodule .contentwrapper{ 				border:2px solid #595959!important; border-top:none!important; box-shadow: 0 5px 10px 0px #999; .zoom:1; FILTER: DropShadow(Color='#cccccc', OffX=5, OffY=3, Positive=1);}
.globalhelpmodule .contentWrapper{											font-family:Verdana, Geneva, sans-serif!important;}
.presistantBar .emailLink { 												background:url("../../../../../img.cdw.com/assets/icons/help-email.gif")/*tpa=http://img.cdw.com/assets/icons/help-email.gif*/ no-repeat scroll 5% 25% transparent; display:block; color:#076bb8!important; text-decoration:underline; padding:0px 10px 5px 40px; margin:8px 0 0 0; font-size:12px!important; font-weight:normal!important; }
.globalhelpmodule .websiteassistance .emaillink:hover{						color:#076bb8; text-decoration:underline!important;}
.globalhelpmodule .accountmanager a{										color:#076bb8!important; text-decoration:none!important; font-weight:normal;}
.globalhelpmodule .accountmanager a:hover{									color:#076bb8; text-decoration:underline!important;}
.globalhelpmodule .websiteassistance .reqcall{								color:#076bb8!important; text-decoration:none!important; font-weight:normal;}
.globalhelpmodule .websiteassistance .reqcall:hover{						color:#076bb8!important; text-decoration:underline!important; font-weight:normal;}
.globalhelpmodule .websiteassistance .chatlink{								color:#076bb8!important; text-decoration:none!important; font-weight:normal;}
.globalhelpmodule .websiteassistance .chatlink:hover{						color:#076bb8!important; text-decoration:underline!important; font-weight:normal;}
.globalhelpmodule h4{														font-size:12px!important; color:#595959!important; padding-bottom:5px!important;}
.globalhelpmodule .websiteassistance .phone{								}

/* Social Media Links */
.presistantBar .socialMedia { 												background:url(../../../../../img.cdw.com/assets/header/arrow-down-grey.gif)/*tpa=http://img.cdw.com/assets/header/arrow-down-grey.gif*/ 81px 13px no-repeat; padding:8px 8px 8px 10px; float:left; font-weight:bold; height:14px; width:103px; .width:120px; position:relative; cursor:pointer; display:none;}
.presistantBar .socialMediaUp { 												background:url(../../../../../img.cdw.com/assets/header/arrow-up-grey.gif)/*tpa=http://img.cdw.com/assets/header/arrow-up-grey.gif*/ 81px 13px no-repeat;}
.presistantBar .socialMediaCA{												background-image:none; width:100px; cursor: default; }
.presistantBar .socialMedia .socialMediaWrapper { 							width:100px; .width:120px; padding:5px 10px; border:2px solid #595959; position:absolute; top:30px; left:0; background:#fff; z-index:2000; color:#4d4e53; border-top:none; box-shadow: 0 5px 10px 0px #999; margin-left:-5px; display:none; }
.presistantBar .socialMedia .socialMediaWrapper ul { 						padding:0; margin:0; }
.presistantBar .socialMedia .socialMediaWrapper ul li { 					list-style:none; padding:0; .height:15px;}
.presistantBar .socialMedia .socialMediaWrapper ul li a { 					color:#4d4e53; text-decoration:none; line-height:18px; .line-height:15px; padding:4px 4px 4px 24px; font-size:11px; font-weight:normal; display:block; background: 0 5px no-repeat }
.presistantBar .socialMedia .socialMediaWrapper ul li a:hover {				text-decoration:underline!important;}
.presistantBar .socialMedia .socialMediaWrapper ul li .twitterLink { 		background-image:url(../../../../../img.cdw.com/assets/header/icon-sm-twitter.jpg)/*tpa=http://img.cdw.com/assets/header/icon-sm-twitter.jpg*/; }
.presistantBar .socialMedia .socialMediaWrapper ul li .facebookLink { 		background-image:url(../../../../../img.cdw.com/assets/header/icon-sm-facebook.jpg)/*tpa=http://img.cdw.com/assets/header/icon-sm-facebook.jpg*/; }
.presistantBar .socialMedia .socialMediaWrapper ul li .linkedInLink { 		background-image:url(../../../../../img.cdw.com/assets/header/icon-sm-linkedIn.jpg)/*tpa=http://img.cdw.com/assets/header/icon-sm-linkedIn.jpg*/; }
.presistantBar .socialMedia .socialMediaWrapper ul li .spiceworksLink { 	background-image:url(../../../../../img.cdw.com/assets/header/icon-sm-spiceworks.jpg)/*tpa=http://img.cdw.com/assets/header/icon-sm-spiceworks.jpg*/; }
.presistantBar .socialMedia .socialMediaWrapper ul li .youtubeLink {		background-image:url(../../../../../img.cdw.com/assets/header/icon-sm-youtube.jpg)/*tpa=http://img.cdw.com/assets/header/icon-sm-youtube.jpg*/; }
.presistantBar .socialMedia .socialMediaWrapper ul li .googlePlusLink { 	background-image:url(../../../../../img.cdw.com/assets/header/icon-googlePlus.jpg)/*tpa=http://img.cdw.com/assets/header/icon-googlePlus.jpg*/; }

/* Translation Link */
.presistantBar .translationLink { 												padding:8px 8px 8px 10px; float:left; font-weight:bold; height:14px; width:59px; .width:100px; position:relative;}
.presistantBar .translationLink a{												text-decoration:none; color:#fff!important;}
.presistantBar .translationLink a:visited, 
.presistantBar .translationLink a:active, {										color:#fff!important;}
.oneLinkShow{																	display:none;}

/* Closed Loop Spacer */
.closedLoopSpacer{															 float:left;padding: 8px 12px; width:175;}
.trueClosedLoopSpacer{														 float:left;padding: 8px 12px; width:300px;}

/* Quick Links */
.presistantBar .quickLInksWrapper{ 												width:160px; .width:125px; position:relative; float:left; background:url(../../../../../img.cdw.com/assets/header/pipe.gif)/*tpa=http://img.cdw.com/assets/header/pipe.gif*/ top right no-repeat; display:none;}
.presistantBar .quickLInksWrapper .quickLinks {  								padding:4px; margin:4px 20px 0 0; height:14px; border-radius:5px; width:142px; .width:131px; background:#fff;}
.presistantBar .quickLInksWrapper .quickLinks a { 								color:#4d4e53; text-decoration:none; padding:0 3px; display:block;outline: none;}
.presistantBar .quickLInksWrapper .quickLinks a:hover{ 							color:#0070BC;}
.presistantBar .quickLInksWrapper .quickLinks .quickLInksList { 				width:140px; .width:135px; padding:5px 5px; border:2px solid #595959; position:absolute; top:22px; left:-2px; background:#fff; z-index:2000; color:#4d4e53; border-top:none; display:none; box-shadow:0px 5px 7px 0px #999;}
.presistantBar .quickLInksWrapper .quickLinks .quickLInksList ul { 				padding:0; margin:0; }
.presistantBar .quickLInksWrapper .quickLinks .quickLInksList ul li { 			list-style:none; color:#999; line-height:18px; .height:15px; }
.presistantBar .quickLInksWrapper .quickLinks .quickLInksList ul li a { 		color:#0070BC; text-decoration:none; padding:0; font-size:11px; font-weight:normal; display:block; background: 0 5px no-repeat }
.presistantBar .quickLInksWrapper .quickLinks .quickLInksList ul li a:hover { 	text-decoration:underline; }

/* JS Disabled Spacer */
.jsDisabledSpacer{															 float:left;padding: 8px 12px; width:276px; .width:286px;}


/* Previous Searches */
.presistantBar .quickLinks .priorSearches{ 						background:#fff; border:2px solid #0063a6; width:250px; padding:0; position:absolute; color:#4d4e53;box-shadow: 0 5px 10px 0px #999; top:31px; margin-left:-5px;}
.presistantBar .quickLinks .priorSearches h3{					color:#fff; margin:0; padding:5px; background:#0063a6; font-size:11px;}
.presistantBar .quickLinks .priorSearches .close{ 				float:right;color:#fff; padding:5px; font-size:10px;}
.presistantBar .quickLinks .priorSearches ul{ 					margin:0; padding:5px 10px 10px 10px;}
.presistantBar .quickLinks .priorSearches li{ 					list-style:none; marign:0; padding:0;}
.presistantBar .quickLinks .priorSearches li a{					color:#0070BC; text-decoration:underline; line-height:15px; font-size:11px; padding-bottom:5px;}
.presistantBar .quickLinks .priorSearches .noPriorSearches{ 	padding:10px; color:#999;}

/* Order Status */
.presistantBar .quickLinks .orderStatus{ 							background:#fff; border:2px solid #0063a6; width:228px; padding:0; position:absolute; color:#4d4e53;box-shadow: 0 5px 10px 0px #999; top:31px; margin-left:-5px;}
.presistantBar .quickLinks .orderStatus h3{ 						color:#fff; margin:0; padding:5px; background:#0063a6; font-size:11px;}
.presistantBar .quickLinks .orderStatus .close{ 					float:right;color:#fff; padding:5px; font-size:10px;}
.presistantBar .quickLinks .orderStatus .orderStatusWrapper{ 		margin:0; padding:5px 10px 10px 10px;}
.presistantBar .quickLinks .orderStatus .orderStatusWrapper input{ 	display:block; margin:10px 0;}

/* Quick Order */
.presistantBar .quickLinks .quickOrder{ 							background:#fff; border:2px solid #0063a6; width:228px; padding:0; position:absolute; color:#4d4e53;box-shadow: 0 5px 10px 0px #999; top:31px; margin-left:-5px;}
.presistantBar .quickLinks .quickOrder h3{ 							color:#fff; margin:0; padding:5px; background:#0063a6; font-size:11px;}
.presistantBar .quickLinks .quickOrder .close{ 						float:right; color:#fff; padding:5px; font-size:10px;}
.presistantBar .quickLinks .quickOrder .orderStatusWrapper{ 		margin:0; padding:5px 10px 10px 10px;}
.presistantBar .quickLinks .quickOrder .orderStatusWrapper input{ 	display:block; margin:10px 0;}
.presistantBar .quickLinks .quickOrder .orderStatusWrapper img{ 	display:block; margin:10px 0;}

.orderStatus, .quickOrder, .priorSearches{							display:none;}

.close{	cursor:pointer;}

/* Cart popup */
.presistantBar .presistantBarContent .cartModule{ 																background:url(../../../../../img.cdw.com/assets/header/icon-cart.png)/*tpa=http://img.cdw.com/assets/header/icon-cart.png*/ 5px 0px no-repeat; padding:8px 0px 8px 0px; float:left; font-weight:bold; width:175px; .width:210px; position:relative;z-index:6000}
.presistantBar .presistantBarContent .cartModuleEmpty{ 															background:url(../../../../../img.cdw.com/assets/header/icon-cart.png)/*tpa=http://img.cdw.com/assets/header/icon-cart.png*/ 5px 0px no-repeat; padding:8px 0px 8px 0; float:left; width:175px; .width:190px; position:relative;z-index:6000}
.presistantBar .presistantBarContent .cartModuleEmpty a {														color:#fff; text-decoration:none; padding-left:40px;}
.presistantBar .presistantBarContent .cartModuleEmpty a:hover{													text-decoration:underline;}
.presistantBar .presistantBarContent .cartModuleEmpty a:visited {												color:#fff;}
.presistantBar .presistantBarContent .cartModuleEmpty a:active {												color:#fff;}
.presistantBar .presistantBarContent .cartModule a {															color:#fff; text-decoration:none; outline:none;}
.presistantBar .presistantBarContent .cartModule a:visited {													color:#fff;}
.presistantBar .presistantBarContent .cartModule a:active {														color:#fff;}
.presistantBar .presistantBarContent .cartModule a:hover{														text-decoration:underline;}
.presistantBar .presistantBarContent .cartModule .cartItems{ 													padding:0 12px 0 40px; font-weight:normal; width:150px; .width:195px; white-space: nowrap; overflow:hidden; text-overflow: ellipsis; display:block; cursor:pointer;}
.presistantBar .presistantBarContent .cartModule #cartContainer{												position:absolute; width:264px; top:29px; left:-40px; .left:-22px; display:none; z-index:5000;}
.presistantBar .presistantBarContent .cartModule #cartContainer .popup-header{ 									display:none;}
.presistantBar .presistantBarContent .cartModule #cartContainer .popup-body{									padding:0 10px; box-shadow: 0 5px 10px 0px #999; border:2px solid #595959!important; border-top:none!important;}
.presistantBar .presistantBarContent .cartModule #cartContainer .popup-body .popup-row{							display:block; background:#fff; border-bottom:1px solid #bdbdbd; padding:5px 0; .height:1px;}
.presistantBar .presistantBarContent .cartModule #cartContainer .popup-body .popup-row .scart-popup-prod-img{	float:left; }
.presistantBar .presistantBarContent .cartModule #cartContainer .popup-body .popup-row .scart-popup-amt{		float:left; color:#4d4e53; text-align:right; width:50px; padding:5px 3px 0 0; overflow:hidden; text-overflow: ellipsis;}
.presistantBar .presistantBarContent .cartModule #cartContainer .popup-body .popup-row .scart-popup-prod{		float:left; color:#4d4e53; font-weight:normal; width:130px; padding:5px;}
.presistantBar .presistantBarContent .cartModule #cartContainer .popup-body #scart-total{						background-color: #ededed!important; color: #cc0000!important; font-size:11px!important; height:auto!important;}
.presistantBar .presistantBarContent .cartModule #cartContainer .popup-body #scart-total .subtotal{				font-size:11px; font-weight:normal!important;}
.presistantBar .presistantBarContent .cartModule #cartContainer .popup-body #scart-total .subtotal-amt{			font-size:11px; padding:0; }

/* Header Logo */
.headerLogo{	padding:10px 10px 0px 10px; float:left; margin:0;}

/* Search Bar */
.searchBarWrapper { 													float:right; width:460px; margin-top:3px; z-index:5500; position:relative; font-family:Verdana, Geneva, sans-serif !important;}
.searchBarWrapper .searchBar { 											border:1px solid red; float:right; clear:right; width:454px; .width:460px; height:22px; border:2px solid #8e8e8e; margin:0; padding:0; z-index:1; position:relative; }
.searchBarWrapper .searchBarCA{											width:292px; .width:300px;}
.searchBarWrapper .searchBar .catalogWrapper { 							float:left; width:160px; overflow:visible; position:relative; z-index:1; }
.searchBarWrapper .searchBar .catalogWrapper .selectedCatalog { 		width:150px; .width:160px; display:block; overflow:hidden; padding:4px 5px 5px 5px; cursor:pointer; .height:20px;}
.searchBarWrapper .searchBar .catalogWrapper .selectedCatalogLabel { 	float:left; color:#4d4e53; font-size:11px; width:135px; white-space:nowrap; overflow:hidden; text-overflow: ellipsis;}
.searchBarWrapper .searchBar .catalogWrapper .selectedCatalog:hover { 	color:#0070BC; cursor:pointer; }
.searchBarWrapper .searchBar .catalogWrapper .catalogOptions { 			width:236px; .width:240px; position:absolute; top:23px; left:-2px; border:2px solid #8e8e8e; border-top:none; background:#fff; z-index:1001; padding:3px 10px 3px 5px; display:none;}
.searchBarWrapper .searchBar .catalogWrapper .catalogOptions a { 		display:block; color:#0070bc; text-decoration:none; line-height:12px; padding:3px 5px; font-size:11px;}
.searchBarWrapper .searchBar .catalogWrapper .catalogOptions a:hover { 	color:#fff; background:#999; }
.searchBarWrapper .searchBar .catalogWrapper .catalogOptions span { 	display:block; color:#4d4e53; text-decoration:none; line-height:18px; padding:0 5px; font-size:11px;}
.searchBarWrapper .searchBar .keywordInput { 							float:left; border:none; width:255px; border:1px solid #a8a8a8; border-top:none; border-bottom:none; height:14px;  font-size:12px; padding:3px 5px 5px 5px; margin:0;color: #666; font-family:Verdana, Geneva, sans-serif; }
.searchBarWrapper .searchBar .keywordInputCA{							border-left:none;}
.searchBarWrapper .searchBar .searchButton { 							float:left; padding:3px 3px 3px 5px; .padding:3px 3px 3px 5px; .margin:3px 3px 0 5px;}
.searchBarWrapper .advancedSearchLink { 								font-size:10px; color:#0070bc; float:right; text-decoration:none; padding:0 0 2px 0; display:block; }
.searchBarWrapper .advancedSearchLink:hover{							color:#0070bc; text-decoration:none;}
.searchBarWrapper .advancedSearchLink:visited{							color:#0070bc; text-decoration:none;}
.searchBarWrapper .advancedSearchLink:active{							color:#0070bc; text-decoration:none;}
.searchBarWrapper .advancedSearch { 									position:absolute; width:434px; .width:460px; top:39px; left:2px; .left:0px; border:2px solid #8e8e8e; border-top:none; background:#FFF; padding:10px; z-index:1; display:none; }
.searchBarWrapper .advancedSearchCA{									left:164px; .left:160px; width:286px; .width:300px; padding:10px 3px;}
.searchBarWrapper .advancedSearch .closeAdvancedSearch{					float:right; cursor:pointer; font-size:10px;}
.searchBarWrapper .advancedSearchCA .closeAdvancedSearch{				cursor:pointer; font-size:10px; text-align:right; display:block; margin:0 10px 10px 10px;}
.searchBarWrapper .advancedSearch label { 								display:block; padding:0 5PX; margin-bottom:10px; clear:both; height:24px; }
.searchBarWrapper .advancedSearch label .lableText { 					font-size:12px; width:118px; text-align:right; padding:3px 5px; color:#666; float:left; clear:left; }
.searchBarWrapper .advancedSearchCA label .lableText{					width:80px; .width:90px; padding:3px; }
.searchBarWrapper .advancedSearch select { 								float:left; width:180px; }
.searchBarWrapper .advancedSearchCA select { 							float:left; width:160px; }
.searchBarWrapper .advancedSearch .searchButton { 						display:block; margin:10px; margin-left:123px; }
.ui-autocomplete { 														top:39px!important;left:164px!important; .left:162px!important;}
.ui-slider-vertical .ui-slider-handle:hover{							text-decoration:none;}
.downIcon { 															font-weight:lighter; font-size:9px; float:right; padding:0 2px; color:#666; cursor:pointer;}

/* Header Tabs */
.headerTabs{						text-align:left; padding:0; height:28px; width:390px;}
.headerTabs a{ 						float:left; height:37px; list-style:none; font-size:13px; font-weight:bold; color:#4d4e53; background: url(../../../../../img.cdw.com/assets/header/tabs-bg.jpg)/*tpa=http://img.cdw.com/assets/header/tabs-bg.jpg*/ bottom left repeat-x; margin:0; border-top:1px solid #8d8d8d; border-right:1px solid #8d8d8d; padding-left:0; margin:0; margin-left:0; display:compact;color:#4d4d4d; text-decoration:none;}

.headerTabs .productsTab{			border:none;  width:92px;}
.headerTabs .productsTabActive{		border:none;  width:92px;}
.headerTabs .productsTab a{			color:#FFF; width:62px;}
.headerTabs .solutionsTab{			border:none;  width:164px;}
.headerTabs .solutionsTabActive{	border:none; width:164px;}
.headerTabs .solutionsTab a{		color:#FFF; width:62px;}
.headerTabs .accountTab{			border:none;  width:131px;}
.headerTabs .accountTabActive{		background: #EB8C18; border:none; width:131px;}
.headerTabs .accountTab a{			color:#FFF; width:62px;}
.headerTabsTd{						}

/*** Products Menu ***/
.headerDropMenu { 																			float:left; width:857px; .width:862px; z-index:5000; font-family:Verdana, Geneva, sans-serif!important;}

.productsMenu { 																			list-style:none;  float:left; width:100%; text-indent:0px!important; background:url(../../../../../img.cdw.com/assets/header/top-nav-bg.jpg)/*tpa=http://img.cdw.com/assets/header/top-nav-bg.jpg*/ 0 -1px repeat-x #ed751e; padding:3px 2px; margin:0; padding-bottom:11px; .padding-bottom:0px; font-family:Verdana, Geneva, sans-serif;z-index:5000;}
.productsMenu li { 																			float:left; position:relative; padding:0; margin:0; .height:25px; z-index:5000;}
.productsMenu li a{ 																		display:block; padding:5px 0; color:#fff; text-decoration:none; font-size:12px; font-weight:bold; text-align:center; margin-bottom:-9px; background:url(../../../../../img.cdw.com/assets/header/top-nav-seperator.jpg)/*tpa=http://img.cdw.com/assets/header/top-nav-seperator.jpg*/ right -2px no-repeat;}
.productsMenu li a:active{ 																	color:#595959;}
.productsMenu li a:visited{ 																color:#fff;}
.productsMenu a:hover { 																	color:#595959; background:#fff; text-decoration:none; margin-bottom:-11px; padding-bottom:7px;}
.productsMenu ul li { 																		padding-top:1px; float:none; position:relative;}
.productsMenu ul a { 																		white-space:nowrap; }
.productsMenu li:hover a { 																	background:#fff; text-decoration:none; color:#595959; padding-bottom:7px;margin-bottom:-11px;}
.productsMenu li:hover ul a { 																text-decoration:none; }
.productsMenu li:hover ul li a:hover {														background:#fff; color:#595959; }
.activeTopLink{																				background:#fff!important; color:#595959!important;}


.productsMenu .productsMenuWrapper{															height:456px;}
.productsMenu .productsMenuWrapper .columnOne { 											list-style:none; margin:0; padding:8px 0; text-indent:0px!important; background:#eaeaea; height:438px;}
.productsMenu .productsMenuWrapper .columnOne li { 											list-style:none; margin:0; padding:0; .margin-top:-2px;}
.productsMenu .productsMenuWrapper .columnOne li a { 										color:#595959!important; display:block; padding:7px 10px; margin:0; list-style:none; text-align:left; font-size:12px; font-weight:normal; background:url(../../../../../img.cdw.com/assets/header/mega-menu-level-1-bg.jpg)/*tpa=http://img.cdw.com/assets/header/mega-menu-level-1-bg.jpg*/ top right no-repeat #eaeaea; line-height:14px;}
.productsMenu .productsMenuWrapper .columnOne li a:hover {									background:url(../../../../../img.cdw.com/assets/header/mega-menu-level-1-hover.jpg)/*tpa=http://img.cdw.com/assets/header/mega-menu-level-1-hover.jpg*/ top right no-repeat #fff; font-weight:bold; }
.productsMenu .productsMenuWrapper .columnOne li .active {									background:url(../../../../../img.cdw.com/assets/header/mega-menu-level-1-hover.jpg)/*tpa=http://img.cdw.com/assets/header/mega-menu-level-1-hover.jpg*/ top right no-repeat #fff; font-weight:bold; }

.productsMenu .productsMenuWrapper .columnOne .viewAllCat a { 								font-weight:bold; background:#eaeaea; color:#red; text-transform:uppercase; font-size:11px;}
.productsMenu .productsMenuWrapper .columnOne .viewAllCat a:hover { 						color:red!importnat; background:#eaeaea;}

.productsMenu .productsMenuWrapper .rightCol { 												position:absolute; display:none; border:2px solid #eb8c18; border-top:none; border-left:none; padding:0; margin:0; list-style:none; background:#fff; width:468px; height:476px; padding-top:0px; top:0; left:270px;}
.productsMenu .productsMenuWrapper .rightCol a { 											display:block; background:#fff; padding:10px; margin:0; list-style:none; width:228px; text-align:left; font-size:12px; font-weight:normal; }
.productsMenu .productsMenuWrapper .rightCol .advisorImg { 									padding: 10px 1px; margin: 0 10px; border-top: 1px solid #d6d6d4; float:left;} 
.productsMenu .productsMenuWrapper .rightCol .columnTwo{									display:none;}
.productsMenu .productsMenuWrapper .rightCol .level2 { 										padding:10px; float:left; background:#fff; margin:0;}
.productsMenu .productsMenuWrapper .rightCol .level2 a { 									font-size: 11px; padding:5px; display:block; line-height:13px; color:#4d4e53;}
.productsMenu .productsMenuWrapper .rightCol .level2 a:visited {							font-size: 11px; padding:5px; display:block; line-height:13px; color:#4d4e53; background:#fff;}
.productsMenu .productsMenuWrapper .rightCol .level2 a:active { 							font-size: 11px; padding:5px; display:block; line-height:13px; color:#4d4e53; text-align:left; background:none; font-weight:normal;}
.productsMenu .productsMenuWrapper .rightCol .level2 a:hover { 								background:#999; color:#fff!important; }

.productsMenu .productsMenuWrapper .rightCol .guidedLinks { 								border-top:1px solid #D6D6D4; color:#616265; font-size:11px; padding:10px 10px 10px 10px; margin-left:6px; font-weight:bold; float:left; background:#fff; line-height:20px; .display:block;}
.productsMenu .productsMenuWrapper .rightCol .guidedLinks a { 								color:#0070BC; font-size:11px; text-decoration:none; font-weight:normal; display:block; font-size: 11px; display:block; padding:0;  outline: 0;}
.productsMenu .productsMenuWrapper .rightCol .guidedLinks a:active { 						text-align:left; background:none;  outline: 0;}
.productsMenu .productsMenuWrapper .rightCol .guidedLinks a:visited {						color:#0070BC; font-size:11px; text-decoration:none; font-weight:normal; display:block; font-size: 11px; display:block; padding:0; }
.productsMenu .productsMenuWrapper .rightCol .guidedLinks a:hover { 						color:#0070BC!important; font-size:11px; text-decoration:underline; }

.productsMenu .productsMenuWrapper .rightCol .promo { 										float:right; padding:0 10px; border-left:1px solid #D6D6D4; background:#fff; margin:20px 0; width:185px; height:377px; }
.productsMenu .productsMenuWrapper .rightCol .promo .promoWrapper a{						width:auto; color:#4b4b4d; padding:0; margin:0;}
.productsMenu .productsMenuWrapper .rightCol .promo .promoWrapper a:active{					text-align:left; border-right:none; background:none; font-weight:normal; outline:none;}
.productsMenu .productsMenuWrapper .rightCol .promo .promoWrapper a h3{						font-size:12px;}
.productsMenu .productsMenuWrapper .rightCol .promo .promoWrapper a p{						font-size:11px;}
.productsMenu .productsMenuWrapper .rightCol .promo .promoWrapper a .learnMore{				font-weight:bold; font-size:10px; text-transform:uppercase; display:block; margin-top:5px;}
.productsMenu .productsMenuWrapper .rightCol .promo .promoWrapper img{						padding:5px 0;}
.productsMenu .productsMenuWrapper .rightCol .promo .firstPromo {							border-bottom: 1px solid #d6d6d6; padding-bottom:10px; margin-bottom:15px; .margin-bottom:10px;}

.ViewAllMenuLink{																			background:#eaeaea!important; text-align:left!important; padding:7px 10px!important; font-weight:bold!important; display:block!important; text-transform:uppercase;}
.ViewAllMenuLink:hover{																		color:#C00!important;}

/* New Item */
.headerDropMenu li a { position: relative; }
.headerDropMenu .menu-new { width: 44px; height: 28px; background: url('../../../../../img.cdw.com/assets/header/navigation-new.png')/*tpa=http://img.cdw.com/assets/header/navigation-new.png*/ 0 0 no-repeat; position: absolute; top: -3px; left: -1px; } 

/* Cloud Menu */
.productsMenu .cloud-menu { width: 94px; }
.productsMenu .cloudMenuWrapper { background: #fff; list-style:none; position:absolute; border:2px solid #eb8c18; border-top:none; font-size: 14px; color: #fff; padding: 10px; margin-left:-2px; margin-top:11px; width:320px; z-index:2001; height:auto; }
.productsMenu .cloudMenuWrapper .cloud-flyout { padding:30px 0px 40px 155px; background:#73c6d3 url('../../../../../img.cdw.com/assets/header/navigation-cloud.jpg')/*tpa=http://img.cdw.com/assets/header/navigation-cloud.jpg*/ 0 bottom no-repeat; }
.productsMenu .cloudMenuWrapper h5 { margin-bottom: 10px; font-family: 'PreloSlab-Bold'; font-size: 20px; line-height: 22px; font-weight: bold; letter-spacing: 0.025em; }
.productsMenu .cloudMenuWrapper a { margin: 0 9px 0 0 !important; padding: 2px !important; text-align: left; font-family: 'Prelo-SemiBold'; font-size: 13px; letter-spacing: 0.02em; text-transform: uppercase; color: #fff !important; background: #fff !important; display: inline-block; float: left; }
.productsMenu .cloudMenuWrapper a:hover span { background-color: #ed3232; }
.productsMenu .cloudMenuWrapper a span { padding: 2px 14px; background: #cc0000; display: block; }
.productsMenu li:hover .cloudMenuWrapper a { margin: 0 9px 0 0 !important; padding: 2px !important; }

/** Hardware Menu **/
.productsMenu .hardware{																	width:138px;}
.productsMenu li .levelOne {																display: none;}
.productsMenu .hardwareMenuWrapper { 														background:#fff; list-style:none; position:absolute;  border:2px solid #eb8c18; border-top:none; padding:10px; margin-left:-2px; margin-top:10px; width:260px; .width:285px; z-index:2001;}
.productsmenu .hardwareMenuWrapper .rightCol{												margin-left:10px; width:467px; height:444px;}
.productsmenu .hardwareMenuWrapper .rightColCA{												width:265px;}

/** Software Menu **/
.productsMenu .software{																	width:121px;}
.productsMenu .softwareMenuWrapper { 														background:#fff; list-style:none; position:absolute; border:2px solid #eb8c18; border-top:none; padding:10px; margin-left:-2px; margin-top:10px; width:250px; .width:275px;  z-index:2001; height:387px; .height:387px;}
.productsMenu .softwareMenuWrapper .columnOne{												height:370px}
.productsmenu .softwareMenuWrapper .rightcol{												margin-left:0; width:459px!important; height:407px; left:260px;}
.productsmenu .softwareMenuWrapper .rightColCA{												width:255;}
.productsmenu .softwareMenuWrapper .rightcol a{												width:210px!important;}
.productsmenu .productsmenuwrapper .rightcol .listItem1 .level2
.productsmenu .productsmenuwrapper .rightcol .listItem1 .level2{							padding:10px 5px 10px 10px;}
.productsmenu .softwareMenuWrapper .rightcol .listItem1 .column3{							float: right;padding: 0 10px; background: #fff;margin: 10px 0;width:210px; height:387px; .height:370px;}
.softwareRightCol{																			width:449px!important; height:407px!important; left:260px!important; padding-right:10px!important;}
.softwareRightCol a{																		width:194px!important;}
.popularSoftwareTitles .column3{															float:right!important;}
/** Brands Menu **/
.productsMenu .brands{																		width:119px;}
.productsMenu .brandsMenuWrapper { 															background:#fff; list-style:none; position:absolute; border:2px solid #eb8c18; border-top:none; padding:10px; margin-left:-496px;   margin-top:11px;  width:837px;  z-index:2001;}
.productsMenu .brandsMenuWrapper .linkColumn { 												list-style:none; margin:10px 5px 10px 0; padding:10px 5px 10px 0; text-indent:0px!important; background:#fff; border-right:1px solid #D6D6D4; float:left; .width:120px}
.productsMenu .brandsMenuWrapper .extra {													padding-bottom: 32px; }
.productsMenu .brandsMenuWrapper .linkColumn li { 											list-style:none; margin:0; padding:0; }
.productsMenu .brandsMenuWrapper .linkColumn li a { 										padding: 3px 6px; background:#fff; margin:0; color:#4d4e53; font-size:11px; font-weight:normal; width:116px; .width:123px; text-align:left; overflow:hidden;}
.productsMenu .brandsMenuWrapper .linkColumn li a:hover {									background:#999; color:#fff!important; }
.productsMenu .brandsMenuWrapper h3{														font-size: 18px;font-weight: normal;margin: 0px 10px 2px 0px; color:#4D4E53;}
.productsMenu .brandsMenuWrapper p{															font-size:12px; font-weight:normal;}
.productsMenu .brandsMenuWrapper .viewAllBrands{											text-align:left; clear:both; padding:0; margin:0; color:#4d4e53; background:none; font-size:11px;}
.productsMenu .brandsMenuWrapper .viewAllBrands a { 										font-weight:bold; background:#eaeaea; display:block; text-align:left!important;}
.productsMenu .brandsMenuWrapper .viewAllBrands:hover { 									color:#C00!important; }
.productsMenu .brandsMenuWrapper .viewAllBrands:visited{									color:#4d4e53;}
.productsMenu li:hover .brandsMenuWrapper { 												display:block; }

#ca-container .productsMenu .brandsMenuWrapper { margin-left: -402px; }

/** Offers Menu **/
.productsMenu .offers{																		width:119px;}
.productsMenu .offersMenuWrapper { 															background:#fff; list-style:none; position:absolute; border:2px solid #eb8c18; border-top:none; padding:10px 0 10px 10px; margin-left:-362px; margin-top:11px; width:594px;  z-index:2001; height:300px;}
.productsMenu .offersMenuWrapper .columnLeft{												float:left; width:375px; .width:360px;}
.productsMenu .offersMenuWrapper .columnLeft h3{											font-size:24px; font-weight:bold; margin:0; padding:0 0 5px 0; color:#4D4E53;}
.productsMenu .offersMenuWrapper .columnLeft .heading{										font-size:18px; font-weight:regular; margin:0; padding:0 0 5px 0; color:#4D4E53; display:block;}
.productsMenu .offersMenuWrapper .columnLeft p{												margin:0; padding: 0 0 5px; 0; font-size:11px; color:#4d4e53;}	
.productsMenu .offersMenuWrapper .columnLeft .bestDealLinks{								text-indent:0!important; list-style:none; margin:0; padding:5px 0;}
.productsMenu .offersMenuWrapper .columnLeft .bestDealLinks li{								float:left; padding-left:0; width:120px; padding:0; margin:0; .height:10px;}
.productsMenu .offersMenuWrapper .columnLeft .bestDealLinks a{								color:#0070BC!important; line-height:18px!important; .line-height:16px!important; font-weight:normal!important; font-size:12px!important; text-align:left!important; padding:0!important; margin:0!important; background:none!important;}
.productsMenu .offersMenuWrapper .columnLeft .bestDealLinks a:hover{						color:#0070BC; text-decoration:underline; text-align:left;}
.productsMenu .offersMenuWrapper .columnLeft .viewAllBestDeals{								text-align:left; padding:10px 0;  .padding:5px 0;  .margin-bottom:0!important; display:block; clear:both; color:#4d4e53; background:none; font-size:11px;}
.productsMenu .offersMenuWrapper .columnLeft .viewAllBestDeals a { 							font-weight:bold; background:none!important; display:block; font-size:11px!important; margin-top:10px; }
.productsMenu .offersMenuWrapper .columnLeft .viewAllBestDeals a:visited { 					font-weight:bold; background:none!important; display:block;}
.productsMenu .offersMenuWrapper .columnLeft .viewAllBestDeals a:hover { 					font-weight:bold; background:#eaeaea; color:#C00; }
.productsMenu .offersMenuWrapper .columnLeft .bestDealOfTheWeek{							padding:10px 0 0 0 ; }
.productsMenu .offersMenuWrapper .columnLeft .bestDealOfTheWeek .rightColum{				margin-left:115px;}
.productsMenu .offersMenuWrapper .columnLeft .bestDealOfTheWeek .leftColum{					float:left;}
.productsMenu .offersMenuWrapper .columnLeft .bestDealOfTheWeek a{							font-weight:normal; text-align:left; padding:10px 0 0 0; margin:0; .background:#fff!important;}
.productsMenu .offersMenuWrapper .columnLeft .bestDealOfTheWeek img{						float:left; padding:0 10px;}
.productsMenu .offersMenuWrapper .columnLeft .bestDealOfTheWeek h3{							font-size:17px; padding:0 15px; margin:0 0 15px -10px; color:#fff; background:#C00; font-family: 'Prelo-Bold', verdana, sans-serif; display:inline; }
.productsMenu .offersMenuWrapper .columnLeft .bestDealOfTheWeek .priceCut{					float:left; clear:left; padding:1px 16px 1px 2px; margin:2px 0; font-weight:bold; font-size:14px; background:url("../../../../../img.cdw.com/assets/header/price-cut-bg.gif.png")/*tpa=http://img.cdw.com/assets/header/price-cut-bg.gif*/ top right no-repeat; color:#fff;}
.productsMenu .offersMenuWrapper .columnLeft .bestDealOfTheWeek .nowOnly{					padding:2px 0; margin:2px 0; font-weight:normal; font-size:12px; color:#C00; display:block;}
.productsMenu .offersMenuWrapper .columnLeft  .bestDealOfTheWeek .bestdealPrice{					font-weight:bold; font-size:16px;}
.productsMenu .offersMenuWrapper .columnRight{												float:right; width:216px; height:270px; border-left:1px solid #D6D6D4;}
.bestDealsCategoryLinks{																	background: url("../../../../../img.cdw.com/assets/header/best-deals-dividing-line.png")/*tpa=http://img.cdw.com/assets/header/best-deals-dividing-line.png*/ top center no-repeat; padding-top:20px; color:#4f4f51; font-size:14px;}
.offerDetailsLink{																			font-weight:bold!important; font-size:11px;}
.offerDetailsLink:hover{																	color:#C00;}
.was{																						color:#C00; font-size:11px; display:block; padding-top:5px;}
.was .price{																				font-size:12px!important; text-decoration:line-through!important; font-weight:normal!important;}
.offersDetails{																				font-weight:bold;}
.productsMenu .offersMenuWrapper .columnRight h2{											font-size:16px;color:#616265; padding:10px; margin:0;}
.productsMenu .offersMenuWrapper .columnRight h3{											font-size:18px; font-weight:normal; padding:10px; margin:0; color:#616265; }
.productsMenu .offersMenuWrapper .columnRight .heading{										font-size:18px; font-weight:normal; padding:10px; margin:0; color:#616265; display:block;}
.productsMenu .offersMenuWrapper .columnRight a{											font-weight:normal; text-align:left;}
.productsMenu .offersMenuWrapper .columnRight .linkWrapper{									#fff;}
.productsMenu .offersMenuWrapper .columnRight .linkWrapper .mwts-header{					font-size: 14px; font-weight: bold; color: #4d4e53; margin: 0; padding: 5px 10px 0px 10px; text-transform: uppercase; }.productsMenu .offersMenuWrapper .columnRight .linkWrapper h3{								font-size:14px; font-weight:bold; color:#4d4e53; margin:0; padding:0px 10px 5px 10px;}
.productsMenu .offersMenuWrapper .columnRight .linkWrapper p{								padding:0 10px 15px 10px; color:#4d4e53;}
.productsMenu .offersMenuWrapper .columnRight .linkWrapper a{								background:none!important;}
.productsMenu li:hover .offersMenuWrapper { 												display:block; }

#ca-container .productsMenu .offersMenuWrapper { margin-left: -268px; }
#g-container .productsMenu .offersMenuWrapper { margin-left: -149px; width: 381px; }

/** Finders Menu **/
.productsMenu .finders{																		width:141px;}
.productsMenu .findersMenuWrapper { 														background:#fff; list-style:none; position:absolute; border:2px solid #eb8c18; border-top:none; padding:10px; margin-left:-2px; /*.margin-left:-61px;*/ margin-top:11px; .margin-top:10px; width:200px;  z-index:2001; height:384px; .height:403px; }
.productsMenu .findersMenuWrapper .columnOne { 												list-style:none; margin:0; padding:8px 0; text-indent:0px!important; background:#eaeaea; height:368px;}
.productsMenu .findersMenuWrapper .columnOne li { 											list-style:none; margin:0; padding:0; }
.productsMenu .findersMenuWrapper .columnOne li a { 										color:#4d4e53!important; display:block; padding:7px 10px; margin:0; list-style:none; width:180px; text-align:left; font-size:12px; font-weight:normal; background:url(../../../../../img.cdw.com/assets/header/mega-menu-level-1-bg.jpg)/*tpa=http://img.cdw.com/assets/header/mega-menu-level-1-bg.jpg*/ top right no-repeat #eaeaea; }
.productsMenu .findersMenuWrapper .columnOne li a:hover {									background:url(../../../../../img.cdw.com/assets/header/mega-menu-level-1-hover.jpg)/*tpa=http://img.cdw.com/assets/header/mega-menu-level-1-hover.jpg*/ top right no-repeat #fff; font-weight:bold; }
.productsMenu .findersMenuWrapper .columnOne .viewAllCat a { 								font-weight:bold; background:#eaeaea; }
.productsMenu .findersMenuWrapper .columnOne .viewAllCat a:hover { 							font-weight:bold; background:#eaeaea; color:#C00; }
.productsMenu .findersMenuWrapper .rightCol{												margin-left:-50px; .margin-left:-70px; width:229px; .width:232px; height:404px;  }
.findersRightCol{																			margin-left:-50px!important; width:229px!important; height:404px!important; left:260px!important;  }
.productsMenu .findersMenuWrapper .rightCol .columnTwo { 									position:absolute; display:block; border-top:none; border-left:none; padding:0; margin:0; list-style:none; text-indent:0px!important; background:#fff; float:left; width:225px; .width:232px;.height:375px; .border:2px solid #eb8c18; border-left:none; border-top:none;}
.productsMenu .findersMenuWrapper .rightCol .columnTwo a { 									display:block; background:#fff; padding:10px; margin:0; list-style:none; width:142px; text-align:left; font-size:12px; font-weight:normal; }
.productsMenu .findersMenuWrapper .rightCol .columnTwo .advisorImg { 						padding: 0 0.9px; margin: 0 10px; border-top: 1px solid #d6d6d4; display: block; clear: both; width: 210px;} 
.productsMenu .findersMenuWrapper .rightCol .columnTwo .level2 { 							padding:10px; float:left; background:#fff; margin:0; }
.productsMenu .findersMenuWrapper .rightCol .columnTwo .level2 a { 							font-size: 11px; padding:6px; display:block; line-height:10px; width:195px; .width:210px;}
.productsMenu .findersMenuWrapper .rightCol .columnTwo .level2 a:hover { 					background:#999; color:#fff!important; }
.productsMenu .findersMenuWrapper .rightCol .columnTwo .level2 h3{							font-size:11px; font-weight:bold; color:#4d4e53; padding:10px 0 3px 5px;}
.productsMenu .findersMenuWrapper .rightCol .columnTwo .finderHeader{						margin:10px 10px 0px 10px; padding:0px 5px 15px 0; border-bottom:1px solid #d6d6d4;}
.productsMenu .findersMenuWrapper .rightCol .columnTwo .finderHeaderImg{					float:left;background: url(../../../../../img.cdw.com/assets/header/finders-sprite.png)/*tpa=http://img.cdw.com/assets/header/finders-sprite.png*/ no-repeat 0 -1019px transparent; margin:10px 10px 20px 10px;}
.productsMenu .findersMenuWrapper .rightCol .columnTwo .cable{								background-position: 0 0;}
.productsMenu .findersMenuWrapper .rightCol .columnTwo .computer{							background-position: 0 -87px;}
.productsMenu .findersMenuWrapper .rightCol .columnTwo .computerAccessorie{					background-position: 0 -173px;}
.productsMenu .findersMenuWrapper .rightCol .columnTwo .dataStorage{						background-position: 0 -261px;}
.productsMenu .findersMenuWrapper .rightCol .columnTwo .memory{								background-position: 0 -347px;}
.productsMenu .findersMenuWrapper .rightCol .columnTwo .networking{							background-position: 0 -435px;}
.productsMenu .findersMenuWrapper .rightCol .columnTwo .printSupply{						background-position: 0 -518px;}
.productsMenu .findersMenuWrapper .rightCol .columnTwo .serverManagement{					background-position: 0 -585px;}
.productsMenu .findersMenuWrapper .rightCol .columnTwo .surgeProtection{					background-position: 0 -688px;}
.productsMenu .findersMenuWrapper .rightCol .columnTwo .ups{								background-position: 0 -780px;}
.productsMenu .findersMenuWrapper .rightCol .columnTwo .videoMount{							background-position: 0 -867px;}

/** Favorites Menu **/
.productsMenu .favorites{																	width:116px;}
.productsMenu .favoritesMenuWrapper { 														background:#fff; list-style:none; position:absolute; border:2px solid #eb8c18; border-top:none; padding:10px; margin-left:-165px; .margin-left:-170px; margin-top:11px; .margin-top:10px; width:360px; .width:389px;  z-index:2001;}
.productsMenu .favoritesMenuWrapper a{														background:none;}
.productsMenu .favoritesMenuWrapperLogedIn { 												background:#fff; list-style:none; position:absolute; display:none; border:2px solid #eb8c18; border-top:none; padding:10px; margin-left:-2px; margin-top:10px; width:197px; .width:221px; height:99px; z-index:2001;}
.productsMenu .favoritesMenuWrapper h3{														color:#ea7125; font-szie12px; font-weight:bold; margin:0; padding:0 0 5px 0; }
.productsMenu .favoritesMenuWrapper a{														display:inline; color:#0070bc!important; font-weight:bold; padding:0; margin:0;}
.productsMenu .favoritesMenuWrapperLogedIn .columnOne{										height:auto;}
.productsMenu .favoritesMenuWrapperLogedIn .columnOne li a{									color:#4d4e53!important; text-decoration:none; background:none!important;}
.productsMenu .favoritesMenuWrapper a:hover{												text-decoration:underline;}
.productsMenu li:hover .favoritesMenuWrapper { 												display:block; }
.productsMenu li:hover .favoritesMenuWrapperLogedIn { 										display:block; }

.red-arrows { clear: none !important; color: #C00; float: none !important; font-family: Georgia, "Times New Roman", Times, serif !important; font-size: 18px !important; font-weight: bold; left: 5px; padding: 0 !important; position: relative; top: 1px; width: auto !important; }

/*** Solutions and Services Tab menu */
.solutionsServicesMenu { 																	list-style:none;  float:left; width:100%; text-indent:0px!important; background:url(../../../../../img.cdw.com/assets/header/solutions-menu-bg.jpg)/*tpa=http://img.cdw.com/assets/header/solutions-menu-bg.jpg*/ 0 -1px repeat-x #1b7ab4; padding:3px; margin:0; padding-bottom:11px; .padding-bottom:0px; font-family:Verdana, Geneva, sans-serif;}
.solutionsServicesMenu li { 																float:left; position:relative; padding:0; margin:0; .height:25px; z-index:5000;}
.solutionsServicesMenu li a,.solutionsServicesNav li a:visited { 							display:block; padding:5px 0; color:#fff; text-decoration:none; font-size:12px; font-weight:bold; text-align:center; margin-bottom:-9px; background:url(../../../../../img.cdw.com/assets/header/solutions-nav-seperator.jpg)/*tpa=http://img.cdw.com/assets/header/solutions-nav-seperator.jpg*/ right -2px no-repeat;}
.solutionsServicesMenu a:hover { 															color:#4d4e53; background:#fff; text-decoration:none; margin-bottom:-11px; .margin-bottom:-10px; padding-bottom:7px; .padding-bottom:6px;}
.solutionsServicesMenu ul li { 																padding-top:1px; float:none; }
.solutionsServicesMenu ul a { 																white-space:nowrap; }
.solutionsServicesMenu li:hover a { 														background:#fff; text-decoration:none; color:#4d4e53!important; padding-bottom:7px;margin-bottom:-11px;}
.solutionsServicesMenu li a:visited{														color:#fff;}
.solutionsServicesMenu li a:active{															color:#fff;}
.solutionsServicesMenu li a:hover{															color:#4d4e53;}
.solutionsServicesMenu li:hover ul a { 														text-decoration:none; }
.solutionsServicesMenu li:hover ul li a:hover {												background:#fff; color:#4d4e53; }

/** Solutions and Services Menu **/
.solutionsServicesMenu .solutionsMenuItem{													padding:5px 20px;}
.solutionsServicesMenu .solutionsMenuWrapper { 												background:#fff; list-style:none; position:absolute; display:none; border:2px solid #1b7ab4; border-top:none; padding:10px; margin-left:-2px; margin-top:10px; width:250px; height:375px;  z-index:2001;}
.solutionsServicesMenu .solutionsMenuWrapperCA{												height:268px;}
.solutionsServicesMenu .solutionsMenuWrapper .columnOne { 									list-style:none; margin:0; padding:8px 0; text-indent:0px!important; background:#eaeaea; height:360px;}
.solutionsServicesMenu .solutionsMenuWrapperCA .columnOne{									height:231px;}
.solutionsservicesmenu .solutionsMenuWrapperCA .rightcol{									height:267px!important; .height:272px!important;}
.solutionsServicesMenu .solutionsMenuWrapperCA .rightCol { 									position:absolute; display:none; border:2px solid #1b7ab4; border-top:none; border-left:none; padding:0; margin:0; list-style:none; background:#fff; width:260px; .width:250px; height:288px !important; pdding-top:10px; top:0; left:260px; .left:240px;}
.solutionsServicesMenu .solutionsMenuWrapper .columnOne li { 								list-style:none; margin:0; padding:0; }
.solutionsServicesMenu .solutionsMenuWrapper .columnOne li a { 								display:block; padding:6px 10px; margin:0; list-style:none; width:230px; text-align:left; font-size:12px; font-weight:normal; background:url(../../../../../img.cdw.com/assets/header/mega-menu-level-1-bg.jpg)/*tpa=http://img.cdw.com/assets/header/mega-menu-level-1-bg.jpg*/ top right no-repeat #eaeaea; color:#4d4e53; line-height:14px;}
.solutionsServicesMenu .solutionsMenuWrapper .columnOne li a:hover {						background:url(../../../../../img.cdw.com/assets/header/mega-menu-level-1-hover.jpg)/*tpa=http://img.cdw.com/assets/header/mega-menu-level-1-hover.jpg*/ top right no-repeat #fff; font-weight:bold; }
.solutionsServicesMenu .solutionsMenuWrapper .columnOne li .active {						background:url(../../../../../img.cdw.com/assets/header/mega-menu-level-1-hover.jpg)/*tpa=http://img.cdw.com/assets/header/mega-menu-level-1-hover.jpg*/ top right no-repeat #fff; font-weight:bold; }
.solutionsServicesMenu .solutionsMenuWrapper .columnOne .hideRightCol a { 					background-image:none;}
.solutionsServicesMenu .solutionsMenuWrapper .columnOne .hideRightCol a:hover { 			background-image:none;}
.solutionsServicesMenu .solutionsMenuWrapper .rightCol .finderHeader{						margin:15px 10px 0px 10px; padding:0px 5px 15px 0; border-bottom:1px solid #d6d6d4;}
.solutionsServicesMenu .solutionsMenuWrapper .rightCol .finderHeaderImg{					float:left; margin:5px 10px 30px 10px; .margin-top:15px;}
.solutionsServicesMenu .solutionsMenuWrapper .columnOne .viewAllCat a { 					font-weight:bold; background:#eaeaea; }
.solutionsServicesMenu .solutionsMenuWrapper .columnOne .viewAllCat a:hover { 				font-weight:bold; background:#eaeaea; color:#C00; }
.solutionsServicesMenu .solutionsMenuWrapper .columnOne li .columnTwo { 					list-style:none; position:absolute; left:-9999px; border:2px solid #eb8c18; border-top:none; border-left:none; padding:0; margin:0; margin-left:-405px; margin-top:-18px; top:0; list-style:none; text-indent:0px!important; background:#fff; float:left; width:467px; height:428px; }
.solutionsServicesMenu .solutionsMenuWrapper .columnOne li .columnTwo a { 					display:block; background:#fff; padding:10px; margin:0; list-style:none; width:210px; text-align:left; font-size:12px; font-weight:normal; }
.solutionsServicesMenu .solutionsMenuWrapper .rightCol { 									position:absolute; display:none; border:2px solid #1b7ab4; border-top:none; border-left:none; padding:0; margin:0; list-style:none; background:#fff; width:260px; .width:250px; height:316px; pdding-top:10px; top:0; left:260px; .left:240px;}
.solutionsServicesMenu .solutionsMenuWrapper .rightCol a { 									display:block; background:#fff; padding:10px; margin:0; list-style:none; width:228px; text-align:left; font-size:12px; font-weight:normal; }
.solutionsServicesMenu .solutionsMenuWrapper .rightCol .columnTwo{							display:none;}
.solutionsServicesMenu .solutionsMenuWrapper .rightCol .level2 { 							padding:10px 0px 10px 10px; float:left; background:#fff; margin:0;}
.solutionsServicesMenu .solutionsMenuWrapper .rightCol .level2 a { 							font-size: 11px; padding:6px; display:block; line-height:10px; color:#4d4e53;}
.solutionsServicesMenu .solutionsMenuWrapper .rightCol .level2 a:hover { 					background:#999; color:#fff!important; }
.solutionsServicesMenu .solutionsMenuWrapper .rightCol .quote{								padding:20px; font-size:11px; color:#4d4e53; font-style:italic; }
.solutionsServicesMenu .solutionsMenuWrapper .rightCol .quote blockquote{					font-size:15px; margin:0; padding:10px 0;}
.solutionsServicesMenu .solutionsMenuWrapper .rightCol .promo { 							float:right; padding:0 10px; border-left:1px solid #D6D6D4; background:#fff; margin:20px 0; width:185px; .width:195px; height:174px; .height:150px;}
.solutionsServicesMenu .solutionsMenuWrapper .rightCol .promo .promoWrapper a{				width:auto; color:#4b4b4d; padding:0; margin:0;}
.solutionsServicesMenu .solutionsMenuWrapper .rightCol .promo .promoWrapper a h3{			font-size:12px;}
.solutionsServicesMenu .solutionsMenuWrapper .rightCol .promo .promoWrapper a .learnMore{	font-weight:bold; font-size:12px; text-transform:uppercase; display:block; margin-top:5px;}

/* Services Menu*/
.solutionsServicesMenu .servicesMenuWrapper { 												height:273px;}
.solutionsServicesMenu .servicesMenuWrapperCA{												height:242px;}
.solutionsservicesmenu .servicesMenuWrapper .columnone{										height:231px!important;}
.servicesColumnOne{																			height:257px!important;}
.solutionsservicesmenu .servicesMenuWrapperCA .columnone{									height:180px;}
.solutionsservicesmenu .servicesMenuWrapper .columnone li a{								font-weight:normal; background:url(../../../../../img.cdw.com/assets/header/mega-menu-level-1-bg.jpg)/*tpa=http://img.cdw.com/assets/header/mega-menu-level-1-bg.jpg*/ top right no-repeat #eaeaea; color:#4d4e53; .width:245px;}
.solutionsservicesmenu .servicesMenuWrapper .columnone li a:hover{							background:url(../../../../../img.cdw.com/assets/header/mega-menu-level-1-hover.jpg)/*tpa=http://img.cdw.com/assets/header/mega-menu-level-1-hover.jpg*/ top right no-repeat #fff; font-weight:bold;}
.solutionsServicesMenu .servicesMenuWrapper .rightCol{										height:293px;  .left:260px;}

/* Industry Menu*/
.solutionsServicesMenu .industryMenuWrapper { 												height:200px!important;}
.solutionsServicesMenu .industryMenuWrapperCA { 											height:266px;}
.IndustrycolumnOne{																			height:180px!important;}
.solutionsservicesmenu .industryMenuWrapperCA .columnone{									height:130px!important;}
.solutionsservicesmenu .industryMenuWrapper .columnone li a{								background-image:none;}
.solutionsservicesmenu .industryMenuWrapper .columnone li a:hover{							background-image:none;}
.solutionsServicesMenu .industryMenuWrapper .rightCol{										height:220px!important;  .left:260px;}
/*.IndustrycolumnOne li a{																	background-image:none!important;}
.IndustrycolumnOne li a:hover{																	background-image:none!important;}*/

/* Regional Menu*/
.solutionsServicesMenu .regionalMenuWrapper { 												height:348px;}
.solutionsServicesMenu .regionalMenuWrapper .columnOne{										height:332px;}	
.solutionsServicesMenu .regionalMenuWrapper .columnOne li a {								background:url(../../../../../img.cdw.com/assets/header/mega-menu-level-1-bg.jpg)/*tpa=http://img.cdw.com/assets/header/mega-menu-level-1-bg.jpg*/ top right no-repeat #eaeaea;}
.solutionsServicesMenu .regionalMenuWrapper .columnOne li a:hover {							background:url(../../../../../img.cdw.com/assets/header/mega-menu-level-1-hover.jpg)/*tpa=http://img.cdw.com/assets/header/mega-menu-level-1-hover.jpg*/ top right no-repeat #fff;}
.solutionsservicesmenu .regionalMenuWrapper .rightcol .level2 a{							width:209px;}
.solutionsServicesMenu .regionalMenuWrapper .columnOne .hideRightCol a { 					background-image:none;}
.solutionsServicesMenu .regionalMenuWrapper .columnOne .hideRightCol a:hover { 				background-image:none;}
.solutionsServicesMenu .regionalMenuWrapper .rightCol .columnTwo .regionHeader{				margin:10px 10px 0px 10px; padding:0px 5px 20px 0; .padding-bottom:35px; border-bottom:1px solid #d6d6d4;}
.solutionsServicesMenu .regionalMenuWrapper .rightCol .columnTwo .regionHeaderImg{			float:left; margin:10px;}
.solutionsServicesMenu .regionalMenuWrapper .rightCol {																			width:255px!important; height:368px!important; }
.regionalRightCol a{																		width:223px!important;}

/* Media Libriary Menu*/
.solutionsServicesMenu .mediaLibriaryWrapper{												width:181px; height:69px;}
.solutionsservicesmenu .mediaLibriaryWrapper .columnone .hiderightcol a{					width:161px; .width:180px;}
.solutionsservicesmenu .mediaLibriaryWrapper .columnone{									height:54px;}
.regionalColumnOne{																			height:53px!important;}
.regionalColumnOne a{																		width:161px!important;}

/*** Account Center Menu ***/ 
/** Menu Structure **/
.accountCenterMenu { 																	list-style:none;  float:left; width:100%; text-indent:0px!important; background:url(../../../../../img.cdw.com/assets/header/account-center-menu-bg.jpg)/*tpa=http://img.cdw.com/assets/header/account-center-menu-bg.jpg*/ 0 -1px repeat-x #8c8f0e; padding:3px 2px; margin:0; padding-bottom:11px; font-family:Verdana, Geneva, sans-serif;}
.accountCenterMenu a:hover { 															color:#4d4e53!important; background:#fff; text-decoration:none; margin-bottom:-11px; padding-bottom:7px;}
.accountCenterMenu a:visited{															color:#fff;}
.accountCenterMenu li { 																float:left; position:relative; padding:0; margin:0; .height:25px; z-index:5000;}
.accountCenterMenu li a { 																display:block; padding:5px 0; color:#fff; text-decoration:none; font-size:12px; font-weight:bold; text-align:center; margin-bottom:-9px; background:url(../../../../../img.cdw.com/assets/header/top-nav-seperator-green.jpg)/*tpa=http://img.cdw.com/assets/header/top-nav-seperator-green.jpg*/ right -2px no-repeat;}
.accountCenterMenu ul li { 																padding-top:1px; float:none; }
.accountCenterMenu ul a { 																white-space:nowrap; }
.accountCenterMenu li:hover a { 														background:#fff; text-decoration:none; color:#4d4e53; padding-bottom:7px;margin-bottom:-11px;}
.accountCenterMenu li ul a { 															text-decoration:none; color:#4d4e53;	}
.accountCenterMenu li ul li a:hover {													background:#fff; color:#4d4e53; }

/** Shared Styles **/
.accountCenterMenu .accountCenterMenuWrapper .columnLeft{ 								list-style:none; margin:0; padding:8px 0; text-indent:0px!important; background:#eaeaea; width:200px; .width:201px;}
.accountCenterMenu .accountCenterMenuWrapper .columnLeft li{ 							list-style:none; margin:0; padding:0; z-index:200;}
.accountCenterMenu .accountCenterMenuWrapper .columnLeft .disabled{ 					display:block; padding:7px 10px; margin:0; list-style:none; width:180px; text-align:left; font-size:12px; font-weight:normal; background:#eaeaea; color:#999;}
.accountCenterMenu .accountCenterMenuWrapper .columnLeft li a{	 						display:block; padding:7px 10px; margin:0; list-style:none; width:180px; .width:201px;text-align:left; font-size:12px; font-weight:normal; background:#eaeaea; }
.accountCenterMenu .accountCenterMenuWrapper .columnLeft li a:visited{	 				color:#4d4e53!important;}

.accountCenterMenu .accountCenterMenuWrapper .columnLeft li a:hover{					background:#fff; font-weight:bold; }
.accountCenterMenu .accountCenterMenuWrapper .columnRight{	 							float:right; width:380px; margin-right:10px;}
.accountCenterMenu .accountCenterMenuWrapper .columnRight h3{ 							padding:10px 0; margin:0; color:#7e7a00;}
.accountCenterMenu .accountCenterMenuWrapper .columnRight a{							display:inline; padding:0; margin:0; color:#0070BC; text-decoration:none; background-image:none;}
.accountCenterMenu .accountCenterMenuWrapper .columnRight a:hover{						text-decoration:underline;}
.accountCenterMenu .accountCenterMenuWrapper .columnRight .seeAllTours{					font-size:11px; font-weight:normal;}
.accountCenterMenu .accountCenterMenuWrapper .columnRight .toursLinkWrapper{			padding:15px 0; font-size:10px; color:#666;}
.accountCenterMenu .accountCenterMenuWrapper .columnRight .toursLinkWrapper img{		padding-right:5px;}
.accountCenterMenu .accountCenterMenuWrapper .columnRight .toursLinkWrapper .toursLInk{	padding:5px 0; color:#0070BC; font-size:12px; font-weight:normal; display:block; text-align:left;}

/** Order and Quote Management Menu **/
.accountCenterMenu .orderAndQuote{														width:221px;}
.accountCenterMenu .orderAndQuoteMenuWrapper{ 											background:#fff; list-style:none; position:absolute; display:none; border:2px solid #8c8f0e; border-top:none; padding:10px; margin-left:-2px; margin-top:10px; width:201px; }
/*.accountCenterMenu .orderAndQuoteMenuWrapperLoggedIn{ 									background:#fff; list-style:none; position:absolute; display:none; border:2px solid #8c8f0e; border-top:none; padding:10px; margin-left:-2px; margin-top:10px; width:201px; .width:160px; }*/
.accountCenterMenu li:hover .orderAndQuoteMenuWrapper{	 								display:block; }
/*.accountCenterMenu li:hover .orderAndQuoteMenuWrapperLoggedIn{	 						display:block; }
.accountCenterMenu .orderAndQuoteMenuWrapperLoggedInC{									width:435px; .width:460px;}
.accountCenterMenu .orderAndQuoteMenuWrapperLoggedInC .rightPromoSpot{					float:right; margin-top:31px;}
.accountCenterMenu .orderAndQuoteMenuWrapperLoggedInC .rightPromoSpot a{				background-image:none;}*/

/** Cloud Management Menu **/
.accountCenterMenu .cloudManagement{														width:175px;}

/** Account Settings Menu **/
.accountCenterMenu .accountSettings{													width:141px;}
.accountCenterMenu .accountSettingsMenuWrapper{ 										background:#fff; list-style:none; position:absolute; display:none; border:2px solid #8c8f0e; border-top:none; padding:10px; margin-left:-2px; margin-top:10px; width:201px; }
/*.accountCenterMenu .accountSettingsMenuWrapperLogedIn{ 									background:#fff; list-style:none; position:absolute; display:none; border:2px solid #8c8f0e; border-top:none; padding:10px; margin-left:-2px; margin-top:10px; .width:201px; }*/
.accountCenterMenu li:hover .accountSettingsMenuWrapper{ 								display:block; }
/*.accountCenterMenu li:hover .accountSettingsMenuWrapperLogedIn{ 						display:block; }*/

/** Tools and Services Menu **/
.accountCenterMenu .toolsAndServices{													width:149px;}
.accountCenterMenu .toolsAndServicesMenuWrapper{ 										background:#fff; list-style:none; position:absolute; display:none; border:2px solid #8c8f0e; border-top:none; padding:10px; margin-left:-2px; margin-top:10px; width:201px; }
/*.accountCenterMenu .toolsAndServicesMenuWrapperLogedIn{ 								background:#fff; list-style:none; position:absolute; display:none; border:2px solid #8c8f0e; border-top:none; padding:10px; margin-left:-2px; margin-top:10px; width:201px; }*/
/*.accountCenterMenu .toolsAndServicesMenuWrapper .columnRight{							width:246px;}*/
.accountCenterMenu li:hover .toolsAndServicesMenuWrapper{ 								display:block; }
/*.accountCenterMenu li:hover .toolsAndServicesMenuWrapperLogedIn{ 						display:block; }*/

/** Account Team Menu **/
.accountCenterMenu .accountTeam{														width:119px;}
.accountCenterMenu .accountTeamMenuWrapper{ 											background:#fff; list-style:none; position:absolute; display:none; border:2px solid #8c8f0e; border-top:none; padding:10px 0 10px 10px; margin-left:-51px; margin-top:10px; width:210px; }
/*.accountCenterMenu .accountTeamMenuWrapperLogedIn{ 										background:#fff; list-style:none; position:absolute; display:none; border:2px solid #8c8f0e; border-top:none; padding:10px 0 10px 10px; margin-left:-51px; margin-top:10px; width:210px; .width:225px; }*/
/*.accountCenterMenu .accountTeamMenuWrapper .columnRight{								width:230px;}*/
.accountCenterMenu li:hover .accountTeamMenuWrapper{ 									display:block; }
/*.accountCenterMenu li:hover .accountTeamMenuWrapperLogedIn{ 							display:block; }*/
#ca-container .accountCenterMenu .accountTeamMenuWrapper  { margin-left: -2px; }

.red-arrows{ 																			clear: none !important; color: #C00; float: none !important; font-family: Georgia, "Times New Roman", Times, serif !important; font-size: 18px !important; font-weight: bold; left: 5px; padding: 0 !important; position: relative; top: 1px; width: auto !important; }

/** Print Friendly **/
.printFriendalyBtn{	text-align:right; padding:5px; float:right; margin-bottom:-20px; .margin-bottom:-15px;}
.printableContentWrapper{ width:960px; margin:0 auto;}

/** Share this **/
.sharethis_module { 					display:block; width:155px; position:absolute; }
.sharethis_module .stbutton { 			margin:0 !important; }
.sharethis_module .spiceworks { 		height:15px; width:15px; background:url("../../../../../img.cdw.com/assets/icons/spiceworks_icon_16x15.jpg")/*tpa=http://img.cdw.com/assets/icons/spiceworks_icon_16x15.jpg*/ no-repeat 0 0 transparent; text-indent:-99999px; display:inline-block; }
.sharethis_module .spiceworks:hover { 	background:url("../../../../../img.cdw.com/assets/icons/spiceworks_icon_hover_16x15.jpg")/*tpa=http://img.cdw.com/assets/icons/spiceworks_icon_hover_16x15.jpg*/ no-repeat 0 0 transparent; }

/** Global Modal **/
.overlayX {				position:fixed !important;	.position:absolute;	top:0 !important;	left:0 !important;	height:100% !important;	width:100% !important; z-index:8000; display:none;	background:#FFF;opacity: 0.5;	/* IE 8 */  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";  /* IE 5-7 */  filter: alpha(opacity=50);  /* Netscape */  -moz-opacity: 0.5;  /* Safari 1.x */  -khtml-opacity: 0.5;/*	*background:transparent url(https://img.cdw.com/content/solutions/images/barkley/black35pct.png) 0 0 repeat;*/	zoom:1;}
.lightbox { 			border:3px solid #666;text-align:left; display:none; position:fixed; .position: absolute; top: 50%; zoom:1; left: 50%; width: 530px; margin:-215px 0 0 -265px; background-color:white; z-index:9001; overflow: visible; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; padding:20px;}
.closeLightbox { 		position:absolute;	right:-19px; top:-18px;	width: 45px; height: 45px; background:url(../../../../../img.cdw.com/content/solutions/images/barkley/closebtn.png)/*tpa=https://img.cdw.com/content/solutions/images/barkley/closebtn.png*/;}
.lightBoxContent { 		display:none; }
.unhide {				display:block !important; }

/** Product page gallery popup bug fix **/
#popupInner{ height:550px;}

/* iPad only adjustment - product finders menu */
.ipad_only_menu, .ipad_only_menu .level2 {display:none;}
.ipad_only_menu .finderHeader { margin:10px 5px 5px !important; padding:0px 0px 15px 0;}

/** RR REVIEWS UPDATES **********************************************/
.productDetailWrapper .reviewRatingsContainer span{width:auto!important; margin-top:3px!important;}
.productDetailWrapper .reviewRatingsContainer .starImage{float:left; width:105px; }
.productDetailWrapper .reviewRatingsContainer {width:auto; height:40px;}
.productDetailWrapper .reviewRatingsContainer div{float:left; padding-bottom:0!important;}
.productDetailWrapper .reviewRatingsContainer a{float:left; margin:10px 0 0 0; border:solid 1px #fff; clear:both; font-weight:normal;}
.productDetailWrapper .reviewRatingsContainer a:hover{text-decoration:underline;}
.productDetailWrapper .reviewRatingsContainer a span{ float:left; font-weight:normal;}
.productDetailWrapper .productWrapper{padding-top:0!important;}

.cartWrapper .reviewRatingsContainer span{width:auto!important; margin-top:3px!important;}
.cartWrapper .reviewRatingsContainer .starImage{float:left; width:105px; }
.cartWrapper .reviewRatingsContainer {width:auto; height:40px;}
.cartWrapper .reviewRatingsContainer div{float:left; padding-bottom:0!important;}
.cartWrapper .reviewRatingsContainer a{float:left; margin:10px 0 0 0; border:solid 1px #fff; clear:both; font-weight:normal;}
.cartWrapper .reviewRatingsContainer a:hover{text-decoration:underline;}
.cartWrapper .reviewRatingsContainer a span{ float:left; font-weight:normal;}

/* Search Results reviewRatingContainer */
#vert .reviewRatingsContainer .starImage {
	width:105px !important;
}

#vert .reviewRatingsContainer span {
	float:left;
	padding-top:4px;
}

/* premium page banner */
.premiumPageCbBanner{ margin-top:15px;}