﻿#HoneywellEUCookie-Banner
{
    background-color: #CCCCCC;
    font-family: Arial;
    font-size: 11px;
    left: 0px;
    min-height: 60px;
    padding: 10px 10px 0px 10px;
    margin: 0px 0px 0px 0px;
    position: relative;
    top: 0;
    width: auto;
    border-bottom: #ee3124 solid 5px;
    text-align: left;
    text-decoration: none;
    display: none;
    color: #333333;
}

#HoneywellEUCookie-BannerText
{
    color: #333333;
    display: inline;
    font-family: Arial;
    font-size: 11px;
    height: auto;
    margin: 0px 0px 0px 0px;
    text-align: left;
    text-decoration: none;
    width: auto;
}

#HoneywellEUCookie-PrivacyLink
{
    background-color: rgba(0, 0, 0, 0);
    color: #ee3124;
    cursor: auto;
    display: inline;
    font-family: Arial;
    font-size: 8px;
    height: auto;
    margin: 0px 0px 0px 0px;
    text-align: left;
    text-decoration: none;
    width: auto;
}

#HoneywellEUCookie-PrivacyLink SPAN 
{
    color: #ee3124;
    cursor: auto;
    display: inline;
    font-family: Arial;
    font-size: 11px;
    height: auto;
    margin: 0px 0px 0px 0px;
    text-align: left;
    text-decoration: none;
    width: auto;
}

#HoneywellEUCookie-ConsentButtonDiv
{
    color: #333333;
    display: block;
    font-family: Arial;
    font-size: 11px;
    /*height: 24px;*/
    margin: 0px 0px 0px 0px;
    padding-bottom: 0px;
    text-align: right;
    text-decoration: none;
    width: auto;
}

#HoneywellEUCookie-CookieDismiss
{
    background-color: #222;
    border-color: rgb(212, 208, 200);
    border-style: outset outset outset outset;
    border-width: 2px 2px 2px 2px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    height: 20px;
    letter-spacing: normal;
    line-height: normal;
    margin: 2px 2px 2px 2px;
    padding: 2px 5px 0px 5px;
    text-align: center;
    text-indent: 0px;
    text-shadow: none;
    text-transform: none;
    /*width: 187px;*/
    word-spacing: 0px;
}

