.searchWrapper .form-input {
	border:none;
	background:url("../images/search_bg.png")/*tpa=http://www.celanese.com/Celanese/resources/images/search_bg.png*/ no-repeat scroll left top transparent;
	height:17px;
	box-shadow:none;
	padding-top:4px !important;
}
.searchWrapper .onFocus .form-input {
	background:url("../images/search_bg.png")/*tpa=http://www.celanese.com/Celanese/resources/images/search_bg.png*/ no-repeat scroll left bottom transparent;
	border:none;
}
.banner{
	*overflow:visible;
	*position: relative;
	}

.banner-mediaLeft .banner-img{
	*position: absolute;
	top: 50%;
}
.banner-mediaLeft .banner-img img{
	*position: relative;
	top: -50%;
	}
.flyoutTabs ul li a span{
	display:block;
	vertical-align:middle;
	text-align:center;
	max-width: 92px;
    min-width: 92px;
	max-height:90px;
}

:root .flyoutTabs ul li a span {
	max-width: 150px\9; 
	}
.BusinessUnitProducts .productsContent_thumb .product-rows .products, .BusinessUnitProducts .applicationDetail .product-rows .products{
	width: 195px;
	/*border:1px solid #9e9e9e;*/
	float:left;
	margin:8px 13px 15px 8px;
	/*box-shadow: 0 2px 4px 2px #9E9E9E;*/
	behavior: url(../../../PIE.htc)/*tpa=http://www.celanese.com/PIE.htc*/;
}
.filterComboBox ul li{

	}
.filterComboBox ul li.ComboBox-child:hover {
    margin-left: -3px;
    margin-top: 0;
    padding-left: 3px;
}
.signInForm .textPassword,.registerForm .textPassword, .personal-detailsWrapper .textPassword{
 font-family:Arial, Helvetica, sans-serif !important; 
}
.changePwd .textPassword{
	float:left;
}

.gradesTable thead th.rotatedContainter div {
	padding-bottom: 15px\0;
}
.gradesTable thead th.rotatedContainter div span {
	width: auto\0;
	display: inline\0;
}
.gradesTable thead th.rotatedContainter div span.lastHdColn {
	width: auto\0;
	height: 100px\0;
}
.subNavigation > ul > li > a{
 border-bottom:1px solid #ccc;
}
.dl-menu-ie8
{
    padding-top:0px !important;    
}