@import url(../../fonts.googleapis.com/css-family=Oswald-400,300,700.css)/*tpa=http://fonts.googleapis.com/css?family=Oswald:400,300,700*/;

#slider h1, #slider h2, #slider h3, #slider p, #slider li, #slider a { font-family: 'Oswald', sans-serif; }

#slider h1 {
	margin: 0;
	padding: 0;
	font-size: 25px;
	line-height: 30px;
	font-weight: 400;
	color: #006599;
	float: left;
	clear: both;
	text-decoration: none;
}

#slider h2 {
	margin: 0;
	padding: 0;
	width: 100%;
	font-size: 25px;
	font-weight: 400;
	color: #003764;
	text-transform: uppercase;
	float: left;
	clear: both;
	text-decoration: none;
}

#slider h1 a { color: inherit; }
#slider h1 a:hover { text-decoration: none; }
#slider h2 a { color: #003764; text-decoration: none; }

#slider p {
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	font-weight: 300;
	letterspacing: .5px;
	line-height: 18px;
	color: #003764;
}

#slider hgroup {
    clear: both;
    display: block;
    float: left;
    padding: 20px;
    width: 100%;
}

.panel-default > .panel-heading {
    background-color: #003764;
    border-color: #ddd;
    color: #ffffff;
}

.panel-group .panel { clear: both; }


@media (min-width: 768px) {
#slider h2 {
	margin-top: 8px;
	margin-left: 7px;
	width: auto;
}

#slider hgroup {
	padding-top: 30px;
	padding-bottom: 10px;
	margin-left: 50px;
	width: 500px;
}

.imgContainer { display: none; }

.textContainer { 
	padding: 0 100px;
	margin: 0;
	margin-top: 50px;
}

.moreOptions {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 500px;
	left: 100px;
}

.sliderPrev { position: absolute; left: 0; top: 275px; cursor: pointer; }
.sliderNxt { position: absolute; right: 0; top: 275px; cursor: pointer; }

ul#sliderContent { margin: 0; padding: 0; position: relative; }
#sliderContent li { margin: 0; padding: 0; list-style: none; }

.sliderContainer {
	margin: 0;
	padding: 0;
	/*width: 1024px;*/
	width: 100%;
	height: 500px;
	float: left;
	position: absolute;
}

#productIdeation, #productDesign, #supplyChain, #industrialization, #manufacturing, #sustainability { margin-left: 1140px; }
/*#productIdeationDot, #productDesignDot, #supplyChainDot, #industrializationDot, #manufacturingDot, #sustainabilityDot {float: left;}*/

#sliderContainer { position: relative; }
.subSlide { background: url(../../media.jabil.com/designimages/secondary-bg.png)/*tpa=http://media.jabil.com/designimages/secondary-bg.png*/ repeat-x center top; }
/*#design_engineering { left: 0; }
#supply_chain { left: 1024px; }*/

ul.sliderOps {
	/*margin: 10px 0 0 48px;*/
	/*margin: 10px 0 0 -99999px;*/
	margin: 0;
	padding: 0 0 0 11px;
	padding-bottom: 20px;
	width: 226px;
	height: 275px;
	background: url(../../media.jabil.com/designimages/nav-bg.png)/*tpa=http://media.jabil.com/designimages/nav-bg.png*/ no-repeat center bottom;
	position: absolute;
	float: left;
	clear: both;
	z-index: 200;
	top: 140px;
	left: -99999px;
}

.sliderOps li {
	margin: 7px 0;
	list-style: none;
	float: left;
	clear: both;
}

.sliderOps li a {
	padding: 3px;
	font-family: 'Oswald', sans-serif;
	font-size: 15px;
	font-weight: 300;
	letterspacing: .5px;
	line-height: 15px;
	color: #006599;
	text-decoration: none;
}

.sliderOps li a:hover {
	color: #ffffff;
	background: #006599;
}

#slider {
	margin: 0;
	padding: 0;
	/*width: 1024px;*/
	width: 100%;
	height: 550px;
	position: relative;
	background: url(../../media.jabil.com/designimages/background_long.jpg)/*tpa=http://media.jabil.com/designimages/background_long.jpg*/ no-repeat;
	overflow: hidden;
}

.maplines {
	position: absolute;
	pointer-events: none;
	left: 165px;
	top: 255px;
	z-index:10;
}

.infoContainerRow {
	clear: both;
}

.firstRow { float: left; margin-left: 25px; }
.secondRow { margin-left: 25px; margin-top: 20px; float: left; }

.infoContainer {
	margin: 0 10px;
	position: relative;
	float: left;
}


.imgWrapper { margin-bottom: -25px; position: relative; z-index: 10; }
.imgWrapper:hover { transform: scale(1.1); z-index: 100; }

.topTab {
    margin: 0 0 0 18px;
    padding: 15px 0 138px 0px;
    position: absolute;
	bottom: 150px;
}

#slider .textContainer h1 {
	margin: 0;
	padding: 5px 10px;
	font-size: 15px;
	line-height: 15px;
	font-weight: 300;
	color: #ffffff;
	background: #003764;
	clear: both;
}

#slider .textContainer h3 {
	margin: 0;
	padding: 0;
	margin-left: 15px;
	margin-right: 4px;
	padding: 3px 8px;
	font-size: 14px;
	font-weight: normal;
	color: #ffffff;
	background: #006599;
}

#slider .textContainer p { 
	margin: 5px 7px;
	padding: 0;
	font-size: 16px;
	line-height: 23px;
	clear: both;
}

.moreOptions ul {
	margin: 0;
	margin-left: 15px;
	padding: 0;
	width: 400px;
	display: block;
	float: left;
}

.moreOptions li {
	margin: 6px 5px !important;
	padding: 0 20px !important;
	list-style: none;
	border: 1px solid #FFF;
    border-radius: 15px;
	clear: none;
	float: left;
}

.moreOptions li a {
	font-size: 15px;
	line-height: 15px;
	font-weight: 300;
	color: #ffffff;
	text-decoration: none;
}

.moreOptionsHeader {
	margin: 0;
	margin-top: 7px;
	padding: 0;
	font-size: 15px;
	text-transform: uppercase;
	color: #ffffff;
	display: block;
	float: left;
}

#dotsContainer {
	position: absolute;
	right: 35px;
	bottom: -25px;
	z-index: 100;
}

#dotsContainer ul, #dotsContainer li, #dotsContainer a {
	margin: 0;
	padding: 0;
	clear: none;
	float: left;
}

#dotsContainer li { margin: 0 3px; list-style: none; }
#dotsContainer img { float: left; }

.dotsLine {
	margin-left: 5px;
    margin-top: 3px;
	width: 77px;
	height: 6px;
	/*background: #787878;*/
	float: left;
}

.closeBox {
	margin: 0;
	padding: 5px 7px;
	font-size: 15px;
	line-height: 11px;
	border: 1px solid #003764;
	float: left;
	position: absolute;
	top: 10px;
	right: 20px;
}

a.closeBox { text-decoration: none; color: #003764; }
a.closeBox:hover { text-decoration: none; color: #aaaaaa; }
.sliderBtnContainer { margin-left: 4px; }
.sliderBtnContainer, .sliderBtnContainer img { float: left; }

.sliderBtnContainer a {
	margin: 0 1px;
	padding: 0;
	float: left;
}
}

@media (min-width: 992px) {
	.imgContainer { position: absolute; top: 0; left: -435px; display: none; }
	.textContainer { margin: 0; padding: 0; width: 500px; right: -500px; position: absolute; bottom: 260px; }
	.moreOptions { width: 500px; position: absolute; left: auto; right: 40px; }
	.infoContainer { margin: 0 20px; }
	.firstRow { margin-left: 40px; }
	.secondRow { margin-left: 165px; margin-top: -20px; }
	#slider { height: 500px; background: url(../../media.jabil.com/designimages/background_med.jpg)/*tpa=http://media.jabil.com/designimages/background_med.jpg*/ no-repeat; }
}

@media (min-width: 1200px) {
	/*#slider, .sliderContainer, #productIdeation { width: 1140px; }*/
	#slider { width: 1140px; }
	#slider { background: url("../../media.jabil.com/designimages/background_lrg.jpg")/*tpa=http://media.jabil.com/designimages/background_lrg.jpg*/ no-repeat scroll 0 0 rgba(0, 0, 0, 0); }
	/*#productIdeation { margin-left: 1140px; }*/
	.firstRow { margin-left: 130px; }
	.secondRow { margin-left: 255px; }
}
