@charset "utf-8";    

/* 	Master Brand eWebeditPro Support Stylesheet
	This is for all non-template generated styles.
----------------------------------------------------*/
   
/* = Floater (eWebeditPro Support)	
----------------------------------------------------*/
p.leadingp{font-size:1.3em}
p.challengetitle{color:#0261A0;font-family:PrudentialModern;font-size:1.2em;font-weight:600;margin-bottom:0;text-transform:uppercase}

/* = Next Steps (eWebeditPro Support)
----------------------------------------------------*/
.getaquote{background:url(/media/system/cda/public/bg-btn-getaquote-1.png) no-repeat}
.findprofessioanl{background:url(/media/system/cda/public/bg-btn-findprofessional-1.png) no-repeat}
.btnlogin{background:url(/media/system/cda/public/bg-btn-login-1.png) no-repeat}
.contactus{clear:both;float:right;margin:0 10px 0px 0;position:relative;text-align:right}

/* = Footer: Disclaimer (eWebeditPro Support)
----------------------------------------------------*/
#legal-statements .disclaimer{margin: 0 20px;padding:0 0 15px 0;width:960px}

/* = Footer: Old Table (eWebeditPro Support)
----------------------------------------------------*/
table.legalShadedTable{background-color:#F2F2F2;border:1px solid #CCC;color:#949494}
td.legalCell{background-color:#F2F2F2;padding:0px;text-align:center}
td.legalMiddleCell{background-color:#F2F2F2;border-left:solid 1px #CCC;border-right:solid 1px #CCC;text-align:center}

/* = Master Brand Prototype Support   
----------------------------------------------------*/
a.btnlearmore{background:url(/media/system/cda/public/bg-btn-learnmore.png) no-repeat;display:block;font-size:0px;height:18px;text-decoration:none;width:85px}
.articlebodysection{clear:both;float:left;margin:10px 0;width:100%}
.articlebodysection p{margin:0.3em 0}
.articlesection ul{*padding-left:20px;color:#C3D8E6;list-style-type:square}
.articlesection ul li{margin-bottom:6px}
.articlesection ul.bulletpoints li{margin-bottom:14px}
.articlesection ul li span,.articlesection ul span{color:#000}
.articlesection ul.articlelinks{list-style-type:none}
#content-wide p.grouptitle{font-size:20px;margin-bottom:0}
.asectitle{font-size:1.2em;font-weight:600}
.morelinksarrow,.readmore{background:url("/media/system/cda/public/arrow.png") no-repeat scroll right 4px transparent;display:block;float:right;font-size:11px;margin:6px 27px 0 0px;padding-right:15px}
.readmore{background:url("/media/system/cda/public/arrow.png") no-repeat scroll right 5px transparent;clear:both;float:left;font-size:1em;margin-left:0}
p.learnmore{overflow:hidden}


/* = Insurance Overview (eWebeditPro Support)
   ----------------------------------------------------*/
.btnlink{clear:both;display:block;float:right;font-size:0px;height:32px;margin-bottom:5px;text-decoration:none;width:265px}
.rtcontentsecbody .morelink{margin-bottom:10px;overflow:hidden}
.rtcontentsecbody .morelink a.readmore{background:url("/media/system/cda/public/arrow.png") no-repeat scroll right 8px transparent;padding-right:15px;width:auto}

/* = Articles (eWebeditPro Support)
   ----------------------------------------------------*/
.articletitle{background-color:#F5F5F5;color:#002346;font-size:18px;margin-bottom:5px;padding:20px 22px 10px;text-transform:uppercase}
.pagetitle{display:block;margin-top:30px;width:695px}
.icondoc{margin-left:5px}
.asectitle{font-size:1.2em;font-weight:600}
.signature{margin-top:4em}
.signature strong{color:#595959}
.intro{margin-top:10px}
.intro p{font-size:15px;line-height:25px;margin-bottom:1.5em}
p.asectitle{margin-bottom:0.5em}
.firstabs{margin-top:50px}
ul.secondarylinks{color:#C3D8E6;list-style-type:square;margin:10px 0 0}
ul.secondarylinks span{color:#000}


/* = Old Content Support   
----------------------------------------------------*/

span.backToTopLink {
	font-size: 12px;
}

#content ul.quicklinks,#content-wide ul.quicklinks {
	margin-bottom: 20px;
}


/*  Tabbed Content
----------------------------------------------- */ 
#td1,#td2,#td3,#td4,#td5,#td6,#td7,#td8,#td9,#td10,#td11,#td12,#td13,#td14,#td15,#td15{cursor:pointer;height:26px}
.tab_off1,.tab_off2,.tab_off3,.tab_off4,.tab_off5,.tab_off6,.tab_off7,.tab_off8,.tab_off9,.tab_off10,.tab_off11,.tab_off12,.tab_off13,.tab_off14,.tab_off15{background-color:#FFF;border-bottom:1px solid #D1E1F3;padding:2px 8px;text-align:center}
.tab_off{background-color:#FFF;border:1px solid #D1E1F3;font:12px Verdana,Arial,Helvetica,sans-serif;font-weight:bold;height:25px;line-height:17px;padding:2px 8px;text-align:center}
.tab_hover{background-color:#AFCEF2;background-repeat:repeat-x;border:1px solid #D1E1F3;font:12px Verdana,Arial,Helvetica,sans-serif;font-weight:bold;height:25px;line-height:17px;padding:2px 8px;text-align:center}
.tab_on{background-color:#F9FBFD;background-image:url(/media/system/cda/public/bg_tab.gif);background-repeat:repeat-x;border-left:1px solid #D1E1F3;border-right:1px solid #D1E1F3;border-top:1px solid #D1E1F3;font:12px Verdana,Arial,Helvetica,sans-serif;font-weight:bold;height:30px;line-height:17px;padding:2px 8px;text-align:center}
.tab_spacer{background-color:#FFF;border-bottom:1px solid #D1E1F3;width:5px}
a.tab_off_link:visited,a.tab_off_link{color:#316DB8;font:12px Verdana,Arial,Helvetica,sans-serif;font-weight:bold;line-height:17px;text-decoration:none}
a.tab_off_link:hover{color:#FFF;font:12px Verdana,Arial,Helvetica,sans-serif;font-weight:bold;line-height:17px;text-decoration:none}
.tab_body{background-color:#F9FBFD;border-bottom:1px solid #D1E1F3;border-left:1px solid #D1E1F3;border-right:1px solid #D1E1F3}
.txtField2{font-size:11px}
.data{background-color:#EDF4FB;font-family:Arial,Helvetica,sans-serif;font-size:12px}
.data2{background-color:#FFF;font-family:Arial,Helvetica,sans-serif;font-size:12px}
.data4{background-color:#EEE;font-family:Arial,Helvetica,sans-serif;font-size:12px;font-weight:bold}
.toptitle2{color:#000;font-family:Arial,Helvetica,sans-serif;font-size:12px;font-weight:bold;letter-spacing:1px}
.tableborder{background-color:#999}
.style1{color:#000;font-size:14px;font-weight:bold}
.php-homepage{color:#000;font-family:Arial,Helvetica,sans-serif;font-size:12px;font-style:normal;font-variant:normal;font-weight:400;line-height:18px}
.xslRadio{margin-left:8px;margin-right:2px;padding-left:8px;padding-right:2px}

/*  Legacy: Tables
----------------------------------------------- */ 
.tbl_headlines{margin-bottom:6px}
.tbl_hdl{font-size:13px;font-weight:bold}
.tbl_subhdl{color:#666;font-weight:bold}
.tbl_border{background-color:#ECF4FB;border:1px solid #C8DEF3}
/*general table attributes */  
.tbl_hdr_title{color:#FFF;font-family:Arial,Verdana,Helvetica,sans-serif;font-size:12px;font-weight:bold;line-height:14px}
.tbl_hdr1{background-color:#77A8DA;border:1px solid #E1EDF9;padding-bottom:6px;padding-left:7px;padding-right:13px;padding-top:6px}
/*general table attributes */  
.tbl_cell_1A{background-color:#C8DEF3;border:1px solid #F6F9FC;font-size:11px;padding-bottom:4px;padding-left:7px;padding-right:5px;padding-top:5px}
/*light blue */  
.tbl_cell_1B{background-color:#E1EDF9;border:1px solid #F6F9FC;font-size:11px;padding-bottom:4px;padding-left:7px;padding-right:5px;padding-top:5px}
/*lighter blue */  
.tbl_cell_1C{background-color:#FFF;border:1px solid #F6F9FC;font-size:11px;padding-bottom:4px;padding-left:7px;padding-right:5px;padding-top:5px}
/*lightest blue */  
.tbl_cell_footer_1A{background-color:#ECF4FB;border:1px solid #F6F9FC;color:#77A8DA;font-size:10px;padding-bottom:6px;padding-left:7px;padding-right:7px;padding-top:6px}
.tbl_hdr_link{border-top:1px solid #F6F9FC;font-size:10px;font-weight:bold;margin-bottom:6px;text-align:right}
.tbl_ftr_link{border-top:1px solid #F6F9FC;font-size:10px;font-weight:bold;margin-top:6px;text-align:right}
.tbl_hdr_title2{color:#000;font-size:11px;font-weight:bold;line-height:14px}
.tbl_cell_subtotal{background-color:#4F8ECF;border:1px solid #F6F9FC;color:#FFF;font-size:11px;padding-bottom:4px;padding-left:7px;padding-right:5px;padding-top:5px}
.tbl_cell_subtotalAmount{background-color:#4F8ECF;border:1px solid #F6F9FC;color:#FFF;font-size:11px;font-weight:bold;padding-bottom:4px;padding-left:7px;padding-right:5px;padding-top:5px}
.tbl_cell_total{background-color:#FFFFE2;border:1px solid #E1EDF9;color:#000;font-size:11px;font-weight:bold}
.tbl_cell_total_txt{float:left}
.tbl_cell_total_amount{float:right}
.cmdButton{background-color:#FFF;border:2px solid #9DBFE3;color:#095FB8;cursor:pointer;font-size:10px;font-weight:bold;font-weight:bold;height:25px;margin-bottom:10px;text-align:center;text-transform:uppercase}
/*Inline call-to-actions*/  
.cta_txt1{margin-top:6px}


/*  Legacy: GI Search
----------------------------------------------- */ 
#GISearch{margin:0;padding:0 0 10px 0}
#GISearch H2{font:12px Verdana,Arial,Helvetica,sans-serif;font-weight:bold;margin:0;padding:0 0 5px 0}
#resultsBoxWrapper{background-color:#FFF;border:2px solid #C1D2E5;margin:0 0 5px 0;padding:2px;width:100%}
#resultsBox form,#resultsBox input,#resultsBox select{font:11px Verdana,Arial,Helvetica,sans-serif;margin:0;padding:0}
#resultsBox{background:#E1EDF9;border:10px solid #E1EDF9;font:11px Verdana,Arial,Helvetica,sans-serif}
#resultsBox h3{color:#095EB8;font:11px Verdana,Arial,Helvetica,sans-serif;font-weight:bold;margin:0;padding:5px 0;text-align:left}
#resultsBox input,#resultsBox select{border:1px solid #69C;height:16px;width:190px}
.mapHeader{background-color:#CCC;color:#006;padding:3px}
.mapData2{background-color:#FFF}
#mapLinkBar{background-color:#F7F7F7;border-bottom:1px solid #999;border-top:1px solid #999;padding:3px 3px 3px 55px}
#branchDetailsMap{padding:10px 0 0 0}
#branchDetailsSummary{padding:10px 0 0 0}
#branchDetailsDirections{padding:10px 0 0 0}
.sm{line-height:15px;margin:0;padding:4px 0;text-align:left}
tr.zebra_stripe{background-color:#EDF4FB}


