
	#logo img{
		background:url(../uploads/asset-upload-file246-88425.png)/*tpa=http://www.firstam.com/assets/faf/uploads/asset-upload-file246-88425.png*/ no-repeat;
		width: 276px;
		height: 55px;
	}

		#logo img{
			background:url(../images/logo.png)/*tpa=http://www.firstam.com/assets/faf/images/logo.png*/ no-repeat;
		}






		/***** Holiday BG -- comment this after the holidays ****
			html .faf #logo img{
				background:url(/assets/faf/images/logo-white.png) no-repeat;
			}
		***** End Holiday BG *****/

		/* Stock Ticker */
		.faf #sysNav {
			right:84px;
		}
		.faf #stockTicker {
			display:block;
			position:absolute;
			top:54px; right:18px;
			font-size:10px;
			font-weight:bold;
			padding-top:16px;
			padding-right:11px;
			width:62px;	height:23px;
			background-position: right 19px;
			background-origin: padding-box;
			text-align:right;
			cursor:pointer;
			z-index:50;
		}
		.faf .calendarSearch form{
			max-width:224px;
			width:224px;
			min-width:224px;
		}
		.faf #newsSubmit{
			margin-top:9px;
		}





