
	#logo img{
		background-image:none;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/faf/uploads/asset-upload-file246-88425.png');
		width: 276px;
	}

