
			/***** Holiday BG -- comment this after the holidays ****
			html #logo img{
				background-image:none;
				filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/faf/images/logo-white.png');
			}
			***** End Holiday BG *****/

	#logo img{
		background-image:none;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/faf/uploads/asset-upload-file246-62156.png');
	}
