
.stepcarousel .panel a, .stepcarousel .panel a:visited {
	background:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/btn-learn-more.png');
}
.stepcarousel .panel a:hover{
	background:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/btn-learn-more-over.png');
}
.spriteOFF {
	background:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/faf/images/header/sprite-nav.png');
}
.cropPromos .spriteOFF {
	background:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/faf/images/header/sprite-spin.png');
}
.cropPromos #promoInvestorCall .spriteOFF {
	background:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/faf/images/header/sprite-nav-clear.png');
}
.cropPromos #promoNewEra .spriteOFF {
	background:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/faf/images/header/sprite-spin.png');
}
.cropPromos #promoJoy .spriteOFF {
	background:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/faf/images/header/sprite-joy.png');
}
.cropPromos #promoHappy .spriteOFF {
	background:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/faf/images/header/sprite-happy.png');
}
.cropPromos {
	background:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/faf/images/header/sprite-bg-thumb.png');
}
.divider {
	background:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/faf/images/header/nav-divider.png');
}
