.SAMDropDown SELECT {height:auto !important;}
body {background-color:#ffffff;margin:0;font-family: verdana, arial, sans-serif;font-size:13px;color:#000000;  background-image:url(../images/bigBG.png)/*tpa=http://www.spectraenergy.com/images/bigBG.png*/; background-position:center top;background-repeat:no-repeat;}
p {line-height:18px;margin: 0 0 1.5em 0;}
img {border-style:none;}
h1 {font-family: arial, verdana, Sans-Serif;font-size:29px;color:#ffffff;margin:35px 0 0 10px;float:left;display:inline;font-style:italic;}
h2 {font-family: arial, verdana, Sans-Serif;font-size:18px;line-height:23px;color:#0071bc;margin-bottom:6px;} 
h3 {font-family: arial, verdana, Sans-Serif;color:#0071bc;font-size:14px;margin:0 0 .4em 0;}
h4 {font-family: arial, verdana, Sans-Serif;color:#0071bc;font-size:14px;margin:0 0 .4em 0;font-weight:normal;}
hr {background-color: #ffffff;height: 1px;border-style:solid;border-width: 0 0 1px 0;border-color:#0071bc; margin: 4px 8px 12px 8px;}
a {text-decoration:none;color:#0071bc;}
a:hover {text-decoration:underline;}

.prettyTable {border-collapse:collapse;}
.prettyTable td {border:1px solid #b4b5b6;padding:3px;}
.prettyTable th {border:1px solid #b4b5b6;background-color:#b2b4b5;color:#fff;text-transform:uppercase;padding:3px;text-align:left;}
.prettyTable p {margin:0;}
#inlineContent .prettyTable ul {margin: 0 0 0 24px;}
.callout,.footerChunk {margin-bottom:20px;padding:14px;background:url(../images/bgrd-callout.png)/*tpa=http://www.spectraenergy.com/images/bgrd-callout.png*/ no-repeat 0px 0px;border-bottom:1px solid #d1d1d1;border-top:1px solid #d1d1d1;-webkit-box-shadow:0 -25px 30px -30px #d1d1d1 inset;-moz-box-shadow:0 -25px 30px -30px #d1d1d1 inset;box-shadow:0 -25px 30px -30px #d1d1d1 inset;}
.small {font-size:85%;}
.footnote {font-size:10px;margin-top:5px;padding-bottom:5px;margin-bottom:20px;border-bottom:1px solid #b4b5b6;line-height:normal;}
caption {text-align:left;padding-bottom:5px;}

ul li {margin:6px;}
ol li {margin:6px;}
#inlineContent ul {margin:0 0 18px 24px;padding:0;}
#inlineContent ol {margin:0 0 18px 24px;padding:0;}
#rightSidebar ol,.rightSideChunk ol {margin-left:0;padding-left:30px;}
#rightSidebar ol li,.rightSideChunk ol li {margin-left:0;padding-left:0;}
#rightSidebar ul,.rightSideChunk ul {position:relative;left:16px;width:188px;list-style:none;margin-left:2px;padding-left:0; }
#rightSidebar ul ul, .rightSideChunk ul ul {left:0;}
#rightSidebar ul li,.rightSideChunk ul li {margin-left:0;padding-left:12px;background:url(../images/sidebarBullet.png)/*tpa=http://www.spectraenergy.com/images/sidebarBullet.png*/ no-repeat 0px 5px;}

.inlineClear {width:100%;}
.clear {clear:both;}
.clearleft {clear:left;}

#pagecontainer {width: 1003px;margin:0 auto;}
#liveArea {background-image:url(../images/liveBackground.jpg)/*tpa=http://www.spectraenergy.com/images/liveBackground.jpg*/;background-repeat:no-repeat;margin: 73px 0 0 15px;padding:12px 0 0 0;width:971px;}

#inlineContent {margin:7px 11px 0 179px;}
#inlineContent img {margin:0 0 4px 0;}

/* remove drop shadow treatment...
#inlineContent img {border-style:solid;border-width:1px;padding:2px;border-color:#999999;-moz-box-shadow: 5px 5px 8px #adafb2;-webkit-box-shadow: 5px 5px 8px #adafb2;box-shadow: 5px 5px 8px #adafb2;-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=125, Color='#adafb2')";filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=125, Color='#adafb2');background-color:white;}
.shadow {border-style:solid;border-width:1px;padding:2px;border-color:#999999;margin:0 0 4px 0;-moz-box-shadow: 5px 5px 8px #adafb2;-webkit-box-shadow: 5px 5px 8px #adafb2;box-shadow: 5px 5px 8px #adafb2;-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=125, Color='#adafb2')";filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=125, Color='#adafb2');background-color:white;}
#header img {border-style:solid;border-width:1px;padding:2px;border-color:#999999;-moz-box-shadow: 5px 5px 8px #adafb2;-webkit-box-shadow: 5px 5px 8px #adafb2;box-shadow: 5px 5px 8px #adafb2;-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=125, Color='#adafb2')";filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=125, Color='#adafb2');}
.homeFooterCol img {border-style:solid;border-color:#ffffff;border-width:4px;-moz-box-shadow: 5px 5px 8px #003370;-webkit-box-shadow: 5px 5px 8px #003370;box-shadow: 5px 5px 8px #003370;-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=125, Color='#003370')";filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=125, Color='#003370');}
.rawImage {border-style:none !important;-moz-box-shadow: none !important;-webkit-box-shadow: none !important;box-shadow: none !important;-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(enabled = false)" !important;filter: progid:DXImageTransform.Microsoft.Shadow(enabled = false) !important;margin:0 !important;padding:0 !important;background: none !important;}
*/

.leftImage,.cutlineLeft
{
    float:left;
    margin:0 12px 4px 0 !important;
    display:inline;
}
.rightImage,.cutlineRight
{
    float:right;
    margin:0 0 4px 12px !important;
    display:inline;
}

.twoCol
{
    width:360px;
    margin-right:24px;
    float:left;
    display:inline;
}

.abstract
{
    width:244px;
    display:inline;
    float:left;
    margin:0 0 20px 0;
}

.abstractGutter
{
    margin:0 0 0 19px;
}

.abstract h2
{
    background-image:url(../images/headerArrow.png)/*tpa=http://www.spectraenergy.com/images/headerArrow.png*/;
    background-repeat:no-repeat;
    background-position:bottom right;
    padding:0 0 11px 0;
    margin:0 0 0 0;
}

.sustainabilityVideo {position:relative;float:left;width:226px;height:420px;padding:0 9px;margin:0 19px 24px 0;background:url(../images/Sustainability/homeVideoBgrd.png)/*tpa=http://www.spectraenergy.com/images/Sustainability/homeVideoBgrd.png*/ no-repeat left bottom;}
.sustainabilityVideo a {display:block;color:#4e4f50;line-height:2em}
.sustainabilityVideo a:hover {text-decoration:none;}
.sustainabilitySlideshow {position:relative;float:left;width:507px;height:420px;margin:0 0 24px 0;}
#inlineContent .sustainabilityVideo img {position:absolute;bottom:0;left:0;margin:0;}
#Sustain2013 .abstract a:hover {text-decoration:none;}
#Sustain2013 .tabHead {display:block;width:216px;font-weight:bold;color:white;text-align:right;padding:6px 14px;}
#Sustain2013 .section1 .tabHead {background:url(../images/Sustainability/section1tab.png)/*tpa=http://www.spectraenergy.com/images/Sustainability/section1tab.png*/ no-repeat 0 0;}
#Sustain2013 .section2 .tabHead {background:url(../images/Sustainability/section2tab.png)/*tpa=http://www.spectraenergy.com/images/Sustainability/section2tab.png*/ no-repeat 0 0;}
#Sustain2013 .section3 .tabHead {background:url(../images/Sustainability/section3tab.png)/*tpa=http://www.spectraenergy.com/images/Sustainability/section3tab.png*/ no-repeat 0 0;}
#Sustain2013 .section1 h3 a {color:#df8c19;}
#Sustain2013 .section2 h3 a {color:#94a545;}
#Sustain2013 .section3 h3 a {color:#b50938;}
body.Economic .callout,body.Economic .footerChunk {background-image:url(../images/Sustainability/bgrd-callout-economic.png)/*tpa=http://www.spectraenergy.com/images/Sustainability/bgrd-callout-economic.png*/;border-top-color:#df8c19;border-bottom-color:#f2d1a3;-webkit-box-shadow:0 -25px 30px -30px #f2d1a3 inset;-moz-box-shadow:0 -25px 30px -30px #f2d1a3 inset;box-shadow:0 -25px 30px -30px #f2d1a3 inset;}
body.Environment .callout,body.Environment .footerChunk {background-image:url(../images/Sustainability/bgrd-callout-enviro.png)/*tpa=http://www.spectraenergy.com/images/Sustainability/bgrd-callout-enviro.png*/;border-top-color:#94a545;border-bottom-color:#d4dbb5;-webkit-box-shadow:0 -25px 30px -30px #d4dbb5 inset;-moz-box-shadow:0 -25px 30px -30px #d4dbb5 inset;box-shadow:0 -25px 30px -30px #d4dbb5 inset;}
body.Social .callout,body.Social .footerChunk {background-image:url(../images/Sustainability/bgrd-callout-social.png)/*tpa=http://www.spectraenergy.com/images/Sustainability/bgrd-callout-social.png*/;border-top-color:#b50938;border-bottom-color:#e19daf;-webkit-box-shadow:0 -25px 30px -30px #e1a09d inset;-moz-box-shadow:0 -25px 30px -30px #e1a09d inset;box-shadow:0 -25px 30px -30px #e1a09d inset;}
.responsibility .callout h3,.responsibility .footerChunk h3 {color:black;}
.responsibility #inlineContent ul.boxLinks {margin:0;padding:0;list-style:none;}
.responsibility #inlineContent ul.boxLinks li {
    width:244px;
    display:inline;
    float:left;
    margin:20px 0 20px 0;
	padding:0;
}
.responsibility #inlineContent ul.boxLinks li.abstractGutter {
	margin-left: 19px;
}
.responsibility #inlineContent ul.boxLinks li a {
	color: #FFFFFF;
}
.responsibility #inlineContent ul.boxLinks li a span {
    display: block;
	font-size: 11px;
    font-weight: bold;
    padding: 6px 14px;
    width: 216px;
	background: url("../images/Sustainability/section0tab.png")/*tpa=http://www.spectraenergy.com/images/Sustainability/section0tab.png*/ no-repeat top left;
}

/*(Case Studies) .footerChunk shares style with .callout above */
#footer .footerChunk {display:none;margin-left:179px;}
.footerChunk ul,#TB_window ul {margin:0 0 18px 24px;}
.footerChunk ol,#TB_window ol {margin:0 0 18px 24px;}
.responsibility h3.callout {margin-top:-35px;display:block;font-weight:bold;color:white;padding:6px 14px;margin-bottom:0;border:none;}
body.Economic h3.callout {background:url(../images/Sustainability/section1tab.png)/*tpa=http://www.spectraenergy.com/images/Sustainability/section1tab.png*/ no-repeat 0 0;}
body.Environment h3.callout {background:url(../images/Sustainability/section2tab.png)/*tpa=http://www.spectraenergy.com/images/Sustainability/section2tab.png*/ no-repeat 0 0;}
body.Social h3.callout {background:url(../images/Sustainability/section3tab.png)/*tpa=http://www.spectraenergy.com/images/Sustainability/section3tab.png*/ no-repeat 0 0;}
.caseStudyClose {position:absolute;right:0;color:white;padding:8px 14px;}

/*Sustainability Tables*/
table.Sustain2013 {background:url(../images/Sustainability/table-header.png)/*tpa=http://www.spectraenergy.com/images/Sustainability/table-header.png*/ no-repeat left -9px;}
table.doubleHeader {background-position: 0 0}
table.Sustain2013 th {color:white;font-size:80%;padding:0 12px;}
table.Sustain2013 th strong {font-size:110%;}
table.Sustain2013 th em {font-weight:normal;}
table.Sustain2013 td {padding:8px 12px;border-bottom:1px solid #e5e4e4;color: #4D4D4D;}
table.Sustain2013 sup, table.Sustain2013 sub {font-size:8px;}
#inlineContent table.Sustain2013 ul {margin:0;padding:0;list-style:none;}
table.Sustain2013 li {padding-left: 12px;background: url("../images/sustainability/bullet.png")/*tpa=http://www.spectraenergy.com/images/sustainability/bullet.png*/ no-repeat scroll 0 7px;}
table.Sustain2013 h3 {color:#0071BC;}
table.Sustain2013 h4 {color:#0071BC;font-style:italic;}
table.Sustain2013 td.oddCol {background:#dde0e1;border-color:#d0d3d4;}

/* specialty table - left to right arrow progression */
table.SustainApproach th {height:36px;color:white;font-size:110%;}
table.SustainApproach th.col1 {background:url(../images/Sustainability/SustainStrat-head1.jpg)/*tpa=http://www.spectraenergy.com/images/Sustainability/SustainStrat-head1.jpg*/ no-repeat;width:188px;}
table.SustainApproach th.col2 {background:url(../images/Sustainability/SustainStrat-head2.jpg)/*tpa=http://www.spectraenergy.com/images/Sustainability/SustainStrat-head2.jpg*/ no-repeat;width:187px;}
table.SustainApproach th.col3 {background:url(../images/Sustainability/SustainStrat-head3.jpg)/*tpa=http://www.spectraenergy.com/images/Sustainability/SustainStrat-head3.jpg*/ no-repeat;width:201px;}
table.SustainApproach th.col4 {background:url(../images/Sustainability/SustainStrat-head4.jpg)/*tpa=http://www.spectraenergy.com/images/Sustainability/SustainStrat-head4.jpg*/ no-repeat;width:188px;}
table.SustainApproach th.col5 {background:url(../images/Sustainability/SustainStrat-head5.png)/*tpa=http://www.spectraenergy.com/images/Sustainability/SustainStrat-head5.png*/ no-repeat;width:17px;}
table.SustainApproach td {padding:10px;background:#d8ecd4;border-left:2px solid white;color:#4D4D4D;}
table.SustainApproach td.col1 {width:166px;}
table.SustainApproach td.col2 {width:165px;}
table.SustainApproach td.col3 {width:179px;}
table.SustainApproach td.col4 {width:166px;}
table.SustainApproach td.col5 {width:5px;background:none;}
#inlineContent table.SustainApproach ul {margin:0;padding:0;list-style:none;}
table.SustainApproach li {padding-left: 12px;background: url("../images/sustainability/bullet.png")/*tpa=http://www.spectraenergy.com/images/sustainability/bullet.png*/ no-repeat scroll 0 7px;}
table.SustainApproach strong em {display:block;font-weight:normal;font-size:120%;color:#0071BC;margin-top:40px;}
table.SustainApproach img {margin-bottom:8px;}

/* specialty table - base col + 3 color buckets */
table.SustainBuckets {background:url(../images/Sustainability/SustainBuckets-head.png)/*tpa=http://www.spectraenergy.com/images/Sustainability/SustainBuckets-head.png*/ no-repeat;margin-bottom:20px;}
table.SustainBuckets th {height:35px;color:white;width:25%;}
table.SustainBuckets td {color:#4D4D4D;padding:10px 5px 10px 15px;}
table.SustainBuckets td.eco {background:#f5e8d4;padding-left:3px;border-right:3px solid white;}
table.SustainBuckets td.env {background:#dedfca;padding-left:3px;border-right:3px solid white;}
table.SustainBuckets td.soc {background:#ebd4cf;padding-left:3px;}
#inlineContent table.SustainBuckets ul {margin:0;padding:0;list-style:none;}
table.SustainBuckets li {padding-left: 12px;background: url("../images/sustainability/bullet.png")/*tpa=http://www.spectraenergy.com/images/sustainability/bullet.png*/ no-repeat scroll 0 7px;}
table.SustainBuckets td.eco li {background-image: url("../images/sustainability/bullet-eco.png")/*tpa=http://www.spectraenergy.com/images/sustainability/bullet-eco.png*/;}
table.SustainBuckets td.env li {background-image: url("../images/sustainability/bullet-env.png")/*tpa=http://www.spectraenergy.com/images/sustainability/bullet-env.png*/;}
table.SustainBuckets td.soc li {background-image: url("../images/sustainability/bullet-soc.png")/*tpa=http://www.spectraenergy.com/images/sustainability/bullet-soc.png*/;}

/* specialty tables - "data tables" */
table.GRIdata td, table.GRIdata th {border: 1px solid #ccc;}
table.sustainabilityData {font-size:10px;border-collapse:collapse;margin-bottom:10px;}
table.sustainabilityData caption {font-family:arial, verdana, Sans-Serif;font-size:14px;font-weight:bold;line-height:30px;color:#0071BC;}
table.sustainabilityData th {padding:3px;border-bottom:1px solid #3d89ac;}
table.sustainabilityData tr.topHead th {border:none;}
table.sustainabilityData tr.topHead th.currentYear {color:white;background:#bfc194;}
table.sustainabilityData tr.topHead th.bizUnit {color:white;background:#cacba6;font-weight:bold;font-style:normal;}
table.sustainabilityData th.currentYear {background:#edede2;}
table.sustainabilityData th.bizUnit {background:#f5f5ee;font-weight:normal;font-style:italic;}
table.sustainabilityData td {padding:3px;}
table.sustainabilityData td.currentYear {background:#edede2;}
table.sustainabilityData td.bizUnit {background:#f5f5ee;}
table.sustainabilityData tr.hr td {border-bottom:1px solid #3d89ac;}
table.sustainabilityData tr.gap td {padding-top:10px;}
table.sustainabilityData th.currentYear, table.sustainabilityData td.currentYear {color:#0071BC;}
table.sustainabilityData td.indent {padding-left:10px;}
table.sustainabilityData em {color:#0071BC;}
table.sustainabilityData strong.plain {color:black;}
table.sustainabilityData sup, table.sustainabilityData sub {font-size:8px;}
.sustFootnote {padding-left:10px;border-bottom:none;color: #4D4D4D;}
.sustFootnote sup {margin-left:-10px;font-size:8px;}


/* old sustainability stuff */
#Sustainability .abstract {background-color:white;}
#Sustainability .abstract img.rawImage {margin:0;padding:0;}
#Sustainability .abstract div {clear:both;padding:10px;color: white;height:160px;margin-top:3px;}
#Sustainability .abstractGutter {margin:0 0 0 12px;}
#Sustainability .abstract .section1 {background-color: #df8c19;}
#Sustainability .abstract .section2 {background-color: #94a545;}
#Sustainability .abstract .section3 {background-color: #b50938;}
#Sustainability .abstract a {color:white;}
#Sustainability .abstract h2 {font-size:29px;color:white;font-weight:normal;}
#inlineContent #Sustainability .abstract ul {margin-left: 12px;}
.EconomicHead,.EnvironmentHead,.SocialHead {padding:2px;border:1px solid #999;margin-bottom:20px;width:375px;}
.responsibility .EconomicHead h2 {background:#DF8C19 url('../images/Sustainability/EconomicHead.jpg')/*tpa=http://www.spectraenergy.com/images/Sustainability/EconomicHead.jpg*/ no-repeat right bottom;color:#fff;padding:5px;margin:0;font-weight:normal;}
.responsibility .EnvironmentHead h2 {background:#94A545 url('../images/Sustainability/EnvironmentHead.jpg')/*tpa=http://www.spectraenergy.com/images/Sustainability/EnvironmentHead.jpg*/ no-repeat right bottom;color:#fff;padding:5px;margin:0;font-weight:normal;}
.responsibility .SocialHead h2 {background:#B50938 url('../images/Sustainability/SocialHead.jpg')/*tpa=http://www.spectraenergy.com/images/Sustainability/SocialHead.jpg*/ no-repeat right bottom;color:#fff;padding:5px;margin:0;font-weight:normal;}

#header {margin: 12px 11px 0 179px;}

#header img {margin:0 8px 4px 8px;}
#header .videoPlayer img {margin:0 0 8px}

#rightSidebar
{
    float:right;
    width:243px;
    padding:12px 10px 0 0;
    display:inline;
}

/* repeat - around line 767
.rightSideChunk 
{
    background: #dadada url(http://www.spectraenergy.com/images/sidebarBackground.jpg) center bottom;
    padding:11px;
    margin:0 0 12px 0;
    -moz-box-shadow: inset 0 0 16px 8px #adafb2;
    -webkit-box-shadow: inset 0 0 16px 8px #adafb2;
    box-shadow: inset 0 0 16px 8 #adafb2;
}
.rightSideChunk h2
{
    margin:0 0 0 0;
    background-image: url(http://www.spectraenergy.com/images/sidebarArrow.png);
    background-repeat:no-repeat;
    background-position:right bottom;
    padding:0 0 11px 0;
    color:#767678;
    font-size:14px;
}
.rightSideChunk p:last-child {margin: 0;}
*/

#masthead
{
    background-image: url(../images/mastheadBgrd.png)/*tpa=http://www.spectraenergy.com/images/mastheadBgrd.png*/;
     background-repeat:repeat-x;
     height:109px;
}

#logo
{
    padding: 20px 0 0 18px;
    float:left;
    display:inline;
}

#tagLine 
{
	display: none; /* no tagline being used currently - width of tagline image conflicts with metaNav when Dark Site is active */
    padding:33px 0 0 17px;
}
.darkSiteHome {
	background:url("../images/DarkSiteHomeBgrd.jpg")/*tpa=http://www.spectraenergy.com/images/DarkSiteHomeBgrd.jpg*/ repeat-x scroll left bottom;
	padding:50px;
	margin:12px 0 20px 0;
	border-bottom: 2px solid #666666;
    border-top: 10px solid #E00034;
}
.darkSiteHome h2 {text-transform:uppercase;margin-top:0;color:#e00034;}
.darkSiteHome p {margin-bottom:0;}

#metaNav 
{
    float:right;
    margin:9px 43px 0 0;
    font-family:verdana, arial, sans-serif;
    font-size:9px;
    text-transform:uppercase;
    color:#5d5e60;
    font-weight:bold;
    display:inline;
}

#metaNav a
{
    color:#5d5e60;
}
#metaNav .darkSite a,.darkSiteHome a {
	color:#e00034;
}

#metaNav ul 
{
    margin:0;
    padding:0 6px;
    list-style-type:none;
    background-image:url(../images/metaTagBackground.png)/*tpa=http://www.spectraenergy.com/images/metaTagBackground.png*/;
    background-repeat:repeat-x;
    height:19px;
    float:left;
    display:inline;
}
    
#metaNav ul li 
{
    float:left;
    margin:0;
    padding:0 0 0 8px;
}

#leftNav 
{
    font-family:verdana, arial, sans-serif;
    font-size:14px;
    color:#000000;
    xposition:absolute;
    float:left;
    width:159px;
    margin:12px 10px 48px 10px;
    background-image:url(../images/headerArrow.png)/*tpa=http://www.spectraenergy.com/images/headerArrow.png*/;
    background-repeat: no-repeat;
    background-position:top right;
    display:inline;
}

#leftNav a
{
    color:#5d5e60;
}

#leftNav ul
{
    list-style-type:none;
    margin: 0;
    padding: 0;
}
#leftNav ul li
{
    background-image:url(../images/secondaryNavClosed.png)/*tpa=http://www.spectraenergy.com/images/secondaryNavClosed.png*/;
    background-repeat:no-repeat;
    margin:12px 0 0 0;
    padding:0 0 0 12px;
    background-position: 0 4px;
    
}

#leftNav ul li.active
{
    background-image:url(../images/secondaryNavOpen.png)/*tpa=http://www.spectraenergy.com/images/secondaryNavOpen.png*/;
}

#leftNav ul li.ancestor
{
    background-image:url(../images/secondaryNavOpen.png)/*tpa=http://www.spectraenergy.com/images/secondaryNavOpen.png*/;
}

#leftNav ul li.ancestor a
{
    color:#000;
}

#leftNav ul li ul li
{
    background-image:url(../images/bulletDash.gif)/*tpa=http://www.spectraenergy.com/images/bulletDash.gif*/;
    background-position: 0 8px;
}

#leftNav ul li ul li a
{
    color:#5d5e60 !important;
}

#leftNav ul li ul li.active
{
    background-image:url(../images/bulletDashBlack.gif)/*tpa=http://www.spectraenergy.com/images/bulletDashBlack.gif*/;
}

#primaryNav ul
{
    list-style-type:none;
    height:31px;
    font-family: arial, verdana, Sans-Serif;
    font-size:14px;
    color:#757678;
    font-weight:bold;
    padding-left:15px;
    margin:0;
}

#primaryNav ul li
{
    float:left;
    width:134px;
    height:31px;
    margin: 0 2px 0 0;
    padding: 0 0 0 3px;
    background-image: url(../images/menuArrowGrey.png)/*tpa=http://www.spectraenergy.com/images/menuArrowGrey.png*/;
    background-repeat: no-repeat;
    background-position: 0 16px;
    cursor:pointer;
    display:inline;
}

#primaryNav ul li a 
{
    color:#757678;
}
#primaryNav ul li a:hover
{
    text-decoration: none;
}

#search  
{
    float:right;
    clear:right;
    background-image:url(../images/searchBox.png)/*tpa=http://www.spectraenergy.com/images/searchBox.png*/;
    background-repeat:no-repeat;
    height:31px;
    width:324px;
    margin: 24px 39px 0 0;
    display:inline;
}

#search input#search2
{
    color:#747678;
    font-size:14px;
    border-style: none; 
    width:283px; 
    height:25px; 
    padding:3px 0 0 6px;
    background-color:transparent;
}

#searchGo
{
    float:right;
    cursor:pointer;
}

#titleBar 
{
    background-image: url(../images/titleBarBlue.png)/*tpa=http://www.spectraenergy.com/images/titleBarBlue.png*/;
    background-repeat: no-repeat;
    height:81px;
    width:971px;
    margin: 23px 0 0 15px;
    position:absolute;
    
}

#homeBreadcrumb 
{
    float:left;
    margin-left:4px;
    display:inline;
}

#breadcrumbs ul 
{
    list-style-type:none;
    margin: 4px 0 0 25px;
    padding:0;
}

#breadcrumbs ul li
{
    float:left;
    padding:1px 0 0 0;
	margin-right:0;
}

#footerNav 
{
    padding:11px;
    background-image: url(../images/footerBackground.jpg)/*tpa=http://www.spectraenergy.com/images/footerBackground.jpg*/;
}

#footerNav a
{
    color:#ffffff;
}

#footerNav ul
{
    list-style-type:none;
    margin:10px 0 0 0;
    padding:0;
}

#footerNav
{
    color:#fff;
}

.homeFooterCol 
{
    float:left;
    margin:15px 0 0 25px;
    width: 300px;
    color:#ffffff;
    display:inline;
}

.homeFooterCol strong
{
/*    color:#5fa4d1;*/
}

.homeFooterCol a 
{
    color:#5fa4d1;
}

.homeFooterCol h3 
{
    color:#ffffff;
    background-image:url(../images/footerArrow.png)/*tpa=http://www.spectraenergy.com/images/footerArrow.png*/;
    background-position:left bottom;
    background-repeat:no-repeat;
    padding-bottom: 14px;
}

.homeFooterCol h3 a
{
    color:#ffffff;
}
.homeFooterCol img 
{
    float:right;
    margin:0 0 5px 5px;
    display:inline;
}
    
.footerNavCol
{
    float:left;
    margin:0 11px 20px 0;
    font-size:11px;
    width:175px;
    display:inline;
}

.footerHead
{
    font-size:14px;
    font-family:verdana, arial, sans-serif;
    margin:0 0 10px 0;
    font-weight:bold;
}

#copyright 
{
    color:#ffffff;
    font-size:12px;
    margin-top:24px;
}

#copyright a
{
    text-decoration:underline;
}

#pageUtilities 
{
    float:right;
    display:inline;
    margin:39px 20px 0 0;
}

#pageUtilities img
{
    margin: 0 0 0 11px;
}

#dividerUtility
{
    padding: 3px 0 0 0 !important;
}
#homeNews
{
    background-image:url(../images/newsBG.jpg)/*tpa=http://www.spectraenergy.com/images/newsBG.jpg*/;
    background-repeat:no-repeat;
    height:39px;
    width:618px;
    padding:11px 11px 0 11px;
    font-size:12px;
	margin-bottom:10px;
}

#homePubs, #homeFAQ
{
    width:300px;
    float:left;
	display: inline;
	margin: 0 14px 0 11px;
}
#homeFAQ {margin-right:0;}
#homePubs h2, #homeFAQ h2
{
	color: #999;
    background:url(../images/headerArrow.png)/*tpa=http://www.spectraenergy.com/images/headerArrow.png*/ no-repeat bottom right;
	padding-bottom: 14px;
}
#homePubs h3, #homeFAQ h3
{
	color: #000;
}

#homeNumbers, #homeMLP 
{
    background-image:url(../images/eemergencyBG.jpg)/*tpa=http://www.spectraenergy.com/images/eemergencyBG.jpg*/;
    background-repeat:no-repeat;
    padding:10px;
}
#homeMLP {
	padding: 15px;
	margin-bottom: 10px;
}
#homeNumbers #number
{
    color:#e00034;
}

#homeNumbers h2
{
    font-size:16px;
    color:#e00034;
    padding:0;
    margin:0 0 8px 4px;
    position: relative;
}
#homeNumbers h2 a
{
    color:#e00034;
}
#homeFooter
{
    background-image:url(../images/homeFooterBG.jpg)/*tpa=http://www.spectraenergy.com/images/homeFooterBG.jpg*/;
    height:236px;
    width:1004px;
    clear:both;
}
.tabHeader
{
    background-image:url(../images/newsEventsTabBkgrnd.png)/*tpa=http://www.spectraenergy.com/images/newsEventsTabBkgrnd.png*/;
    background-repeat:repeat-x;
    background-position: 168px 0;
    width: 781px;
    height:28px;
}

.tabHeader img 
{
    float:left;
}

.tabContent
{
    background-image:url(../images/tabBkgrnd.jpg)/*tpa=http://www.spectraenergy.com/images/tabBkgrnd.jpg*/;
    background-repeat:no-repeat;
    padding:35px 27px;
}

.newsDate 
{
    font-family:verdana, arial, sans-serif;
    font-size:13px;
    line-height:22px;
}

.newsLink 
{
    margin-bottom:18px;
}
#yearSelect {float:right;margin-right:12px;}

/* Modifier styles. These are modifier classes applied at the 
body tag when certain conditions are met in the XSL */

.home #liveArea 
{
    background-image: none;
    margin-top:0;
    padding-top:0;
}
#dynamicContent {height:1%;}
#homeLeft {float:left;}
#homeRight {float:right;}

#emergencyNumbers
{
    background-image: url(../images/eemergencyBG.jpg)/*tpa=http://www.spectraenergy.com/images/eemergencyBG.jpg*/;
    background-repeat:no-repeat;
    margin-top:18px;
    height:100px;
}

/* new investors 53a8c8 */
/* new operations a2722c */

.operations hr {border-color:#a2722c;}
.investors hr {border-color:#53a8c8;}
.responsibility hr {border-color:#34b233;}
.news hr {border-color:#57068c;}
.careers hr {border-color:#e00034;}
.aboutUs hr {border-color:#512b16;}

.operations h2, .operations h3, .operations h4 {color:#a2722c;}
.investors h2, .investors h3, .investors h4 {color:#53a8c8;}
.responsibility h2, .responsibility h3, .responsibility h4 {color:#34b233;}
.news h2, .news h3, .news h4 {color:#57068c;}
.careers h2, .careers h3, .careers h4 {color:#e00034;}
.aboutUs h2, .aboutUs h3, .aboutUs h4 {color:#512b16;}

.operations h2 a, .operations h3 a, .operations h4 a {color:#a2722c;}
.investors h2 a, .investors h3 a, .investors h4 a {color:#53a8c8;}
.responsibility h2 a, .responsibility h3 a, .responsibility h4 a {color:#34b233;}
.news h2 a, .news h3 a, .news h4 a {color:#57068c;}
.careers h2 a, .careers h3 a, .careers h4 a {color:#e00034;}
.aboutUs h2 a, .aboutUs h3 a, .aboutUs h4 a {color:#512b16;}

.operations h2 a:hover, .operations h3 a:hover, .operations h4 a:hover {text-decoration:none;}
.investors h2 a:hover, .investors h3 a:hover, .investors h4 a:hover {text-decoration:none;}
.responsibility h2 a:hover, .responsibility h3 a:hover, .responsibility h4 a:hover {text-decoration:none;}
.news h2 a:hover, .news h3 a:hover, .news h4 a:hover {text-decoration:none;}
.careers h2 a:hover, .careers h3 a:hover, .careers h4 a:hover {text-decoration:none;}
.aboutUs h2 a:hover, .aboutUs h3 a:hover, .aboutUs h4 a:hover {text-decoration:none;}

.operations #titleBar {background-image: url(../images/titleBarYellow.png)/*tpa=http://www.spectraenergy.com/images/titleBarYellow.png*/;}
.investors #titleBar {background-image: url(../images/titleBarOrange.png)/*tpa=http://www.spectraenergy.com/images/titleBarOrange.png*/;}
.responsibility #titleBar {background-image: url(../images/titleBarGreen.png)/*tpa=http://www.spectraenergy.com/images/titleBarGreen.png*/;}
.news #titleBar {background-image: url(../images/titleBarPurple.png)/*tpa=http://www.spectraenergy.com/images/titleBarPurple.png*/;}
.careers #titleBar {background-image: url(../images/titleBarRed.png)/*tpa=http://www.spectraenergy.com/images/titleBarRed.png*/;}
.aboutUs #titleBar {background-image: url(../images/titleBarBrown.png)/*tpa=http://www.spectraenergy.com/images/titleBarBrown.png*/;}



.hasRightSidebar #inlineContent {margin:7px 275px 0 179px;}

.rightSideChunk 
{
    background: #dadada url(../images/sidebarBackground.jpg)/*tpa=http://www.spectraenergy.com/images/sidebarBackground.jpg*/ no-repeat center bottom;
    padding:11px;
    margin:0 0 12px 0;
    -moz-box-shadow: inset 0 0 16px 8px #adafb2;
    -webkit-box-shadow: inset 0 0 16px 8px #adafb2;
    box-shadow: inset 0 0 16px 8 #adafb2;
}
.rightSideChunk h2
{
    margin:0 0 0 0;
    background-image: url(../images/sidebarArrow.png)/*tpa=http://www.spectraenergy.com/images/sidebarArrow.png*/;
    background-repeat:no-repeat;
    background-position:right bottom;
    padding:0 0 11px 0;
    color:#767678;
    font-size:14px;
}
.rightSideChunk p:last-child {margin: 0;}

/* Accordion Styles */
/* root element for accordion. decorated with rounded borders and gradient background image */

#accordion {height:345px;width:975px;overflow:hidden; margin:0 0 24px 0;}

#accordion div.cpane {width:108px;min-width:108px;margin-top:29px;height:290px;float:left;background-position: -300px 0px;overflow:hidden;margin-right:2px;position:relative;display:inline;}

/* content inside a pane should have fixed width */

#accordion div h3 {color:#444;margin:0 0 -10px 0;
width:190px;font-size:15px;}

#accordion div p {font-size:11px;width:190px;}

.bpane {text-align:right;position:absolute; bottom:0px;
 width:640px;height:131px;background: url('../images/carousel/green.png')/*tpa=http://www.spectraenergy.com/images/carousel/green.png*/ bottom right no-repeat;cursor:hand;cursor:pointer;}

.bpane div {padding-top:8px;padding-right:15px;padding-left:58px;color:white;font-size:18px;}

.blue {background: url('../images/carousel/blue.png')/*tpa=http://www.spectraenergy.com/images/carousel/blue.png*/ bottom right no-repeat;}

.red {background: url('../images/carousel/red.png')/*tpa=http://www.spectraenergy.com/images/carousel/red.png*/ bottom right no-repeat;}

.orange {background: url('../images/carousel/orange.png')/*tpa=http://www.spectraenergy.com/images/carousel/orange.png*/ bottom right no-repeat;}

.yellow {background: url('../images/carousel/yellow.png')/*tpa=http://www.spectraenergy.com/images/carousel/yellow.png*/ bottom right no-repeat;}

.teal {background: url('../images/carousel/teal.png')/*tpa=http://www.spectraenergy.com/images/carousel/teal.png*/ bottom right no-repeat;}

.handle {position:absolute;height:291px;width:108px;top:0px;right:0px;cursor:hand;cursor:pointer;}

.acc-responsibility {background: url('../images/carousel/responsibility-bg.jpg')/*tpa=http://www.spectraenergy.com/images/carousel/responsibility-bg.jpg*/ no-repeat;}

.acc-natural-gas {background: url('../images/carousel/natural-gas-101-bg.jpg')/*tpa=http://www.spectraenergy.com/images/carousel/natural-gas-101-bg.jpg*/ no-repeat;}

.acc-careers {background: url('../images/carousel/careers-bg.jpg')/*tpa=http://www.spectraenergy.com/images/carousel/careers-bg.jpg*/ no-repeat;}

.acc-operations {background: url('../images/carousel/operations-bg.jpg')/*tpa=http://www.spectraenergy.com/images/carousel/operations-bg.jpg*/ no-repeat;}

.clickable
{
    cursor:pointer;
}

.dd
{
    background-image:url(../images/naturalGasDropdown.png)/*tpa=http://www.spectraenergy.com/images/naturalGasDropdown.png*/;
    background-repeat:none;
    width:501px;
    height:306px;
    position:absolute;
    z-index:10;
    display:none;
    margin:6px 0 0 -4px;
}

.operationsdd{background-image:url(../images/operationsDropdown.png)/*tpa=http://www.spectraenergy.com/images/operationsDropdown.png*/;}
.investorsdd{background-image:url(../images/investorsDropdown.png)/*tpa=http://www.spectraenergy.com/images/investorsDropdown.png*/;}
.responsibilitydd{background-image:url(../images/responsibilityDropdown.png)/*tpa=http://www.spectraenergy.com/images/responsibilityDropdown.png*/;}
.newsdd{background-image:url(../images/newsAndEventsDropdown.png)/*tpa=http://www.spectraenergy.com/images/newsAndEventsDropdown.png*/;margin-left:-368px;}
.careersdd{background-image:url(../images/careersDropdown.png)/*tpa=http://www.spectraenergy.com/images/careersDropdown.png*/;margin-left:-368px;}
.aboutUsdd{background-image:url(../images/aboutUsDropdown.png)/*tpa=http://www.spectraenergy.com/images/aboutUsDropdown.png*/;margin-left:-368px;}

.ddTitle 
{
    display:block;
    color:#fff;
    font-size:20px;
    font-family: Arial, helvetica, Sans-Serif;
    font-style:italic;
    padding:30px 0 0 15px;
    font-weight: normal;
}

.ddNav
{
    width:200px !important;
    padding:18px;
    float:left;
}

.ddNav ul
{
    margin:0;
    padding:0;
    width:200px !important;
}

.ddNav ul li 
{
    float:none !important;
    width:200px !important;
    background-image:url(../images/ddArrow.png)/*tpa=http://www.spectraenergy.com/images/ddArrow.png*/ !important;
    font-size:13px;
    height:auto !important;
    padding-left:10px !important;
    padding-bottom:10px !important;
    background-position: 0 4px !important;
}

.ddNav ul li a
{
    color:#fff !important;
}

.ddAbstract 
{
    padding:18px 8px 0 0;
    color:#fff;
    font-weight:normal;
}


#pageUtilities span img 
{
    padding-bottom:3px;
}

#connect {margin-left:8px;}
#connect img {
    margin: 2px 8px 0 0;
    cursor: pointer;
}

#contacts
{
    width:162px;
    margin-left:5px;
}

#number
{
    font-family: arial, verdana, Sans-Serif;
    font-size:22px;
    line-height:28px;
    color:#ffffff;
    margin:4px 0 0 5px;
    font-weight:bold;
}

#homeSocial {
	height: 32px;
	padding:20px 0 0 20px;
}

#homeSocial img {
	margin-right:20px;
	float: left;
}
#homeSocial .safety {
	float: right;
}
	
#homeCopyright {
	float:right;
	clear: right;
	padding:20px 20px 20px 0;
	color:#aaaaaa;
	display: none; /*not being used*/
}

#homeFooterLinks {
	padding:20px 0 20px 20px;
	color:#aaaaaa;
	float: left;
	clear: left;
}
    
.moreVideo 
{
    width:244px;
    float:left;
    margin-right:12px;
    display:inline;
}

/*#YTGrid hr, #YTGrid h2,  #YTGrid h3, #YTGrid p {margin-left:8px;margin-right:8px;}*/
.ytvid {clear:both;height:105px;}
.ytmb {position:relative;height:90px;width:120px;-moz-border-radius: 5px;border-radius: 5px;float:left;margin-right:8px;cursor:hand;cursor:pointer;display:inline;} 
.ytvid a {text-decoration:none;}
.ytmb span{position:absolute;bottom:2px;right:2px;padding:2px;background-color:black;color:white;-moz-border-radius: 3px;border-radius: 3px;font-size:12px;}
.darro {background: url('../images/headerArrow.png')/*tpa=http://www.spectraenergy.com/images/headerArrow.png*/ right bottom no-repeat;padding-bottom:10px;}
.twit {min-height:105px;}
.twit span {font-size:12px;color:#999;display:block;}
.twit span a {font-size:12px;color:#999;text-decoration:none;}
#facebookfeed {background: url('../images/sidebarBackground.jpg')/*tpa=http://www.spectraenergy.com/images/sidebarBackground.jpg*/ center bottom no-repeat;}
.stat {margin-bottom:12px;} 

img.cutline {}
.cutlineBox {display:inline;position:absolute;text-decoration:none !important;}
.cutlineBox p {margin:0;padding:0;font-size:10px;line-height:12px;color:#555555;}

#inlineAccordion {margin: 20px 0 48px 179px;position:absolute;width:765px;}
.inlineAccordionTab { color:#ffffff;text-transform:uppercase;font-weight:bold;font-size:11px;cursor:pointer;background-position:738px 14px;background-image:url(Unknown_83_filename)/*tpa=http://www.spectraenergy.com/images/downAccArrow.png*/;background-repeat:no-repeat;border-style:none; height:25px;padding:10px 0 0 8px;margin:0 0 4px 0;background-color:#0071bc; }
.inlineAccordionContent { display:none;padding:8px 10px 20px 10px;border-style:solid;border-width:0 0 4px 0;border-color:#0071bc;margin-bottom:4px; }
.accTwoCol { float:left;margin-right:44px;width:320px;display:inline; }
.inlineAccordionContent h3 {background-image:url(../images/blueHeaderArrow.png)/*tpa=http://www.spectraenergy.com/images/blueHeaderArrow.png*/;background-repeat:no-repeat;background-position:bottom right;padding:0 0 11px 0;margin:0 0 0 0;color:#0071bc;font-weight:bold;font-size:16px;}
a.maillink {padding-left:20px;background:url(../images/Mail.gif)/*tpa=http://www.spectraenergy.com/images/Mail.gif*/ no-repeat 0 1px;}

.hasRightSidebar #inlineAccordion {width:520px;}
.hasRightSidebar .inlineAccordionTab {background-position:494px;}
.hasRightSidebar .accTwoCol {width:200px;}

.operations .inlineAccordionTab {background-color:#a2722c;}
.investors .inlineAccordionTab {background-color:#53a8c8;}
.responsibility .inlineAccordionTab {background-color:#34b233;}
.news .inlineAccordionTab {background-color:#57068c;}
.careers .inlineAccordionTab {background-color:#e00034;}
.aboutUs .inlineAccordionTab {background-color:#512b16;}

.operations .inlineAccordionContent {border-color:#a2722c;}
.investors .inlineAccordionContent {border-color:#53a8c8;}
.responsibility .inlineAccordionContent {border-color:#34b233;}
.news .inlineAccordionContent {border-color:#57068c;}
.careers .inlineAccordionContent {border-color:#e00034;}
.aboutUs .inlineAccordionContent {border-color:#512b16;}


#quote {padding-bottom:8px;}
#BoD {padding-top:10px;}
#BoD p {height:130px;}
#BoD img.leftImage {margin-bottom:20px !important;}

.printOnly {display:none;}
#contact {float:right;text-align:right;}

/* Glossary of Terms */
div.float_links a {
  padding: 0 4px;
  margin: 0 3px;
  font-weight: bold;
  white-space: nowrap;
  line-height: 2em;
  }

/* Data Tables */
table.data {
  border-collapse: collapse;
  border-bottom: 1px solid #B4B5B6;
  }
table.leftHeaders {
  border-top: 1px solid #B4B5B6;
  }
table.data th {
  font-size: 85%;
  padding: 5px 3px;
  background-color: #ccc;
  border-bottom: 1px solid #B4B5B6;
  text-align: left;
  }
table.leftHeaders td {
  border-bottom: 1px solid #B4B5B6;
  }
table.data td {
  padding: 3px;
  }
table.data tr:hover td,table.leftHeaders tr:hover th {
  background-color: #ffc;
  }
table.data tr.school th {
  font-size: 100%;
  border-top: 20px solid white;
  }

/* Project Maps */
a.openMap {
  float: right;
  text-align: right;
  background-color: white;
  padding: 5px;
  font-size: 80%;
  text-transform: uppercase;
  margin-left: 10px;
}

/* News Releases */
body.news .contacts h4 {clear:left;float:left;width:11em;margin:0;padding:0;color:black;font-weight:bold;font-size:13px;font-family:verdana,arial,sans-serif}
body.news .contacts address {font-style:normal;margin:0;padding: 0 0 1em 11em;}

body.news div#inlineContent address {
  font-style: normal;
  margin-bottom: 20px;
  }
body.news div#inlineContent address label {
  display: block;
  float: left;
  clear: left;
  width: 10em;
  height: 1em;
  font-weight: bold;
  }

/* jQuery Tooltip */
.tooltip {
  display: none;
  font-size: 80%;
  line-height: 1.3em;
  width: 400px;
  background-color: #ffa;
  border: 1px solid #000;
  padding: 3px 5px;
  -moz-box-shadow: 3px 3px 5px #adafb2;-webkit-box-shadow: 3px 3px 5px #adafb2;box-shadow: 3px 3px 5px #adafb2;-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=125, Color='#adafb2')";filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=125, Color='#adafb2');
  }
.tooltip p {margin:0;padding:0;line-height: 1.3em;}
  

/* CSS Overrides for Authoria-hosted job listings pages */
td.pagesubheadingcolor {background-color:#c41227;}
.pageheading,.pagesubheadingblue {color:#e00034;}
input.submitbutton {background-color:#c41227;border-color:#c41227;}
div.remoteCareers img {
    border-style:none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=0, Color='#adafb2')" !important;
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=0, Color='#adafb2') !important;
    margin:0 !important;
    padding:0 !important;
	}
