.SAMHover, #SAMAdminTools, #SAMSpacer, #overlay, #lightbox {display:none;}
body {background:none;}
#metaNav {display:none;}
#search {display:none;}
#primaryNav {display:none;}
#pageUtilities {display:none;}
#leftNav {display:none;}
#footerNav {display:none;}
#inlineContent,.hasRightSidebar #inlineContent {margin-left:0;}
#inlineContent,.hasRightSidebar #inlineContent {margin-bottom:18px;}
#logo {padding:0;}
#contact,#contact h2,#contact p {margin:0;}
h1 {margin:0;color:#0071bc;} 
.operations h1 {color:#a2722c;}
.investors h1 {color:#53a8c8;}
.responsibility h1 {color:#34b233;}
.news h1 {color:#57068c;}
.careers h1 {color:#e00034;}
.aboutUs h1 {color:#512b16;}
#pagecontainer {width:100%;}
#header {margin-left:0;}
#masthead {height:auto;background:none !important;}
.printOnly {display:block;}
#titleBar {position:relative;clear:both;height:30px;margin:0;width:100%;background:none !important;}
#liveArea {margin:0;padding:0;width:100%;background:none;}
#liveArea ul {margin-left: 0;padding-left: 20px;}

.hasRightSidebar #inlineContent {margin-right: 200px;}
#rightSidebar {padding: 0;width: 190px; padding:0;}
.rightSideChunk img {max-width:190px;}
.rightSideChunk {background: none;padding: 0;box-shadow:none;}
.rightSideChunk h2 {background: none;padding: 0;}
#rightSidebar ul {left: 0;list-style: disc;margin-left: 0;padding-left: 20px;width: 100%;}
#rightSidebar ul li {background: none;margin-left: 0;padding-left: 0;}

.EconomicHead,.EnvironmentalHead,.SocialHead {display:none;}
.shadow {border-style:none;-moz-box-shadow: none;-webkit-box-shadow: none;box-shadow: none;-ms-filter:none;filter:none;margin:0;padding:0;}
.openMap {display:none;}
#footer .footerChunk {display: block; margin-bottom:20px;}
