#leftnav .main li > a{background:#fff;}
#leftnav .main li > a.active{background:#fff}
#leftnav .main li > a.open{background:#fff}
#leftnav #mega .topredborder{top:-21px}
.feature{background:url("../img/ie/feature-pod-bg.png")/*tpa=http://www.conocophillips.com/_layouts/COP/Resources/img/ie/feature-pod-bg.png*/ repeat;border-top:10px solid #fff;border-bottom:10px solid #fff;zoom:1}
.pod .banner{background:url("../img/ie/grid-grey-bg.png")/*tpa=http://www.conocophillips.com/_layouts/COP/Resources/img/ie/grid-grey-bg.png*/ repeat;zoom:1}
#megamask{background:url("../img/ie/modal-mask-bg.png")/*tpa=http://www.conocophillips.com/_layouts/COP/Resources/img/ie/modal-mask-bg.png*/ repeat;zoom:1}
#subnav .subwrap{background:#d7d7d7}
#investor-slider .mask{background:url("../img/ie/ninety-pct-opacity.png")/*tpa=http://www.conocophillips.com/_layouts/COP/Resources/img/ie/ninety-pct-opacity.png*/ repeat;zoom:1}
.investor-shareholdersvc .banner{background:#d7d7d7;zoom:1}
.content-right-column .side-menu li.active{background:url("../img/submenu-chevron.png")/*tpa=http://www.conocophillips.com/_layouts/COP/Resources/img/submenu-chevron.png*/ no-repeat 0 1px !important}
