html {
	overflow-y:scroll;
}
body {
	font-family:Arial, Helvetica, sans-serif;
	margin:0;
	padding:0;
}
.left {
	float:left;
}
.right {
	float:right;
}
.clear {
	clear:both;
}
.hidden {
	display:none;
}
.round {
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
}
a img {
	border:none;
}
a {
	color:#458db7;
	text-decoration:none;
	outline:none;
	cursor:pointer;
}
.inline {
	vertical-align:top;
	zoom:1;
	display:inline;
}
.linkArrow {
	font-size:11px;
	background:url(../img/blue_arr.png)/*tpa=http://www.nii.com/img/blue_arr.png*/ no-repeat right;
	padding-right:8px;
}
sup {
	font-size:6px;
}
.padv5 {
	padding:5px 0;
}
.upper {
	text-transform:uppercase;
}
#main_wrap {
	display:block;
	width:950px;
	margin:109px auto 0;
}
#header {
	display:block;
	height:81px;
	z-index:999;
	position:absolute;
	top:45px;
	width:950px;
}
#main_logo {
	display:block;
	margin-left:25px;
}
#top_menu {
	display:block;
	width:802px;
}
#footer {
	display:block;
	height:41px;
	background:#897e75;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:400;
	font-size:11px;
	position:absolute;
	width:100%;
}
#footer a.link {
	color:#fff;
	text-decoration:none;
	display:block;
	float:left;
	padding:16px 13px 12px;
}
#footer a.twitter {
	display:block;
	width:23px;
	height:24px;
	background:url(../img/ic_social.png)/*tpa=http://www.nii.com/img/ic_social.png*/ no-repeat right;
	float:left;
	margin:10px 3px;
}
#footer a.fb {
	display:block;
	width:23px;
	height:24px;
	background:url(../img/ic_social.png)/*tpa=http://www.nii.com/img/ic_social.png*/ no-repeat left;
	float:left;
	margin:10px 3px 10px 10px;
}
#footer a.logo {
	display:block;
	width:80px;
	height:51px;
	background:url(../img/foot_logo.png)/*tpa=http://www.nii.com/img/foot_logo.png*/ no-repeat left;
	float:right;
	margin-top:-10px;
}
.wrap {
	width:940px;
	margin:0 auto;
}
#homeBoxes {
	display:block;
	width:940px;
	height:206px;
	background:url(Unknown_83_filename)/*tpa=http://www.nii.com/img/bg_box_home.png*/ no-repeat top left;
	font-size:12px;
	margin:14px auto 70px;
}
#homeBoxes .left {
	width:527px;
}
#homeBoxes .right {
	width:390px;
}
#homeBoxes .left .titleWrap {
	width:310px;
}
#homeBoxes .right .titleWrap {
	width:340px;
}
.bottomBox .title {
	float:left;
	display:block;
	font-size:18px;
	color:#fff;
	font-family:'Helvetica Neue Light', Arial, Helvetica, sans-serif;
	padding-top:4px;
	padding-left:10px;
}
.moreLink {
	float:right;
	font-size:11px;
	font-weight:700;
	text-transform:uppercase;
}
.moreLink a {
	color:#fff;
	text-decoration:none;
	padding-top:8px;
	padding-right:15px;
	margin-right:15px;
	background:url(../img/linkArrow.png)/*tpa=http://www.nii.com/img/linkArrow.png*/ no-repeat top right;
	display:block;
}
.moreLink a:hover {
	background-position:bottom right;
	color:#fbb53b;
}
#footnote {
	font-size:10px;
	color:#000;
	position:absolute;
	margin-top:385px;
	margin-left:800px;
	z-index:999;
}
.bottomBox {
	margin-bottom:15px;
}
#boxTop {
	width:936px;
	height:49px;
	background:url(Unknown_83_filename)/*tpa=http://www.nii.com/img/box_top.png*/ no-repeat;
	display:block;
	margin-top:10px;
}
#nrLink {
	display:block;
	height:35px;
	width:310px;
	float:left;
}
#financialLink {
	display:block;
	height:35px;
	width:340px;
	float:left;
	margin-left:255px;
}
.boxBg {
	width:936px;
	min-height:10px;
	height:auto;
	background:url(../img/box_bg.png)/*tpa=http://www.nii.com/img/box_bg.png*/ repeat-y;
}
.leftBox {
	display:block;
	float:left;
	width:490px;
	margin-left:29px;
	padding:0 5px;
}
.rightBox {
	display:block;
	float:left;
	width:340px;
	margin-left:50px;
	padding:0 5px;
}
#boxBtm {
	width:936px;
	height:21px;
	background:url(../img/box_bot.png)/*tpa=http://www.nii.com/img/box_bot.png*/ no-repeat;
	display:block;
}
button::-moz-focus-inner {
border:0;
}
#main_menu {
	margin-top:12px;
}
#main_menu a {
	color:#897d75;
	font-weight:700;
	font-size:14px;
	text-decoration:none;
	background:url(../img/nav_arrow.png)/*tpa=http://www.nii.com/img/nav_arrow.png*/ no-repeat right top;
	padding-right:10px;
	margin:5px 15px;
}
#main_menu a.hover {
	background-position:right -20px;
	color:#e05206;
}
#dropdown {
	margin:0;
	padding:0;
}
#dropdown li {
	float:left;
	list-style:none;
}
#dropdown li a {
	display:block;
}
#dropdown li ul {
	position:absolute;
	visibility:hidden;
	margin:0 0 0 18px;
	padding:0;
}
.toprounded {
	border-radius:4px 4px 0 0;
	-webkit-border-radius:4px 4px 0 0;
	-moz-border-radius:4px 4px 0 0;
	padding-top:12px;
}
.bottomrounded {
	border-radius:0 0 4px 4px;
	-webkit-border-radius:0 0 4px 4px;
	-moz-border-radius:0 0 4px 4px;
	padding-bottom:12px;
}
#dropdown li ul li {
	float:none;
	display:inline;
}
#dropdown li ul li a {
	width:164px;
	height:auto;
	font-size:11px;
	font-weight:400;
	color:#FFF;
	text-decoration:none;
	background:url(../img/nav_sub.png)/*tpa=http://www.nii.com/img/nav_sub.png*/ repeat;
	margin:0;
	padding:5px 10px;
}
#dropdown li ul li a:hover {
	color:#df5306;
	text-decoration:underline;
}
#region_menu {
	display:block;
	background-color:#ebede7;
	position:absolute;
	top:0;
	height:25px;
	width:100%;
}
#region_menu #container {
	display:block;
	width:940px;
	font-size:11px;
	font-weight:700;
	text-align:right;
	color:#897d75;
	margin:0 auto;
	padding:6px 0;
}
#region_menu #container a {
	color:#df5106;
	text-decoration:none;
	margin:0 13px;
}
#region_menu #container .vline {
	color:#c4c1b9;
}
.wrapColumns {
	width:940px;
	margin:20px auto 55px;
}
.wrapColumns .equalize {
	min-height:130px;
	height:auto;
}
.homeLeft {
	float:left;
	width:540px;
}
.homeRight {
	float:right;
	width:380px;
}
.blackTitle {
	display:block;
	background-color:#000;
	color:#fff;
	font-family:'niisans-bold', Arial, Helvetica, sans-serif;
	font-size:13px;
	-moz-border-radius:4px;
	border-radius:4px;
	padding:10px;
	
}
.blackTitle a {
	color:#fff;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:400;
	font-size:11px;
	background:url(../img/linkArrSm.png)/*tpa=http://www.nii.com/img/linkArrSm.png*/ no-repeat right;
	padding-right:7px;
}
.boxH .date {
	font-size:12px;
	color:#a69e97;
	font-weight:700;
	font-family:Arial, Helvetica, sans-serif;
}
.boxH {
	color:#5b5751;
	font-size:15px;
	font-family:'niisans-bold', Arial, Helvetica, sans-serif;
	padding:2px 5px;
}
.homeBox .info, .homeBox .infoSide {
	float:right;
	clear:right;
	margin-top:10px;
	width:385px;
	height:135px;
}
.homeBox .infoSide {
	width:305px;
}
.homeBox img {
	float:left;
	clear:left;
	margin-top:15px;
}
.excerpt {
	color:#242424;
	font-weight:400;
	font-size:12px;
	padding:5px;
}
#pageContainer {
	display:block;
	width:950px;
	min-height:480px;
	height:auto;
	border-top:solid 1px #CCC;
}
#pageContainer .transpBar {
	display:block;
	width:950px;
	margin-top:1px;
	height:10px;
	background-color:#444;
}
#pageContainer .leftCol {
	float:left;
	width:190px;
}
#pageContainer .leftCol .content {
	width:auto;
	min-height:327px;
	height:auto;
	margin-top:19px;
	margin-bottom:10px;
}
#pageContainer .leftCol .content a {
	color:#000;
	display:block;
	font-weight:700;
	font-size:11px;
	border-bottom:solid 1px #d7d2cb;
	margin:1px 0;
	padding:7px 4px;
}
#pageContainer .leftCol .content a:hover {
	background:url(../img/bg_left_hr.png)/*tpa=http://www.nii.com/img/bg_left_hr.png*/ repeat-x bottom #e05206;
	color:#fff;
	text-decoration:none;
}
#pageContainer .leftCol .content .current {
	font-weight:700;
	font-size:11px;
	color:#df5106;
	border-bottom:solid 1px #d7d2cb;
	padding:7px 4px;
}
#pageContainer .leftCol .content .current a {
	border:none;
	color:#468db7;
	font-weight:400;
	margin-left:10px;
	padding:0;
}
#pageContainer .leftCol .content .current a:hover, #pageContainer .leftCol .content .current a.current {
	background:none;
	text-decoration:underline;
}
.centerCol, .centerCol2, .centerCol3 {
	float:left;
	width:548px;
	overflow:hidden;
}
.centerCol2 {
	width:738px;
}
.centerCol3 {
	width:940px;
}
.centerCol .content, .centerCol2 .content, .centerCol3 .content {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
	padding:15px 30px;
}
.centerCol .content a, .centerCol2 .content a, .centerCol3 .content a {
	text-decoration:none;
	color:#4468b2;
}
.centerCol .content .halfLeft, .centerCol2 .content .halfLeft, .centerCol3 .content .halfLeft {
	float:left;
	width:48%;
}
.centerCol .content .halfRight, .centerCol2 .content .halfRight, .centerCol3 .content .halfRight {
	float:right;
	width:48%;
}
.centerCol .content h2, .centerCol2 .content h2, .centerCol3 .content h2, .notFound h2 {
	color:#df5106;
	font-size:22px;
	font-family:'niisans-bold', Arial, Helvetica, sans-serif;
	line-height:16px;
	margin:0;
	padding:5px 0;
}
#pageContainer .wide {
	width:700px;
}
#pageContainer .rightCol {
	float:left;
	width:202px;
	border-top:solid 10px #fff;
	margin-top:10px;
}
#pageContainer .rightCol .content {
	margin-bottom:30px;
}
#pageContainer .rightCol .content h2 {
	color:#FFF;
	font-size:14px;
	font-family:'niisans-bold', Arial, Helvetica, sans-serif;
	background:#000;
	border-radius:4px;
	moz-border-radius:4px;
	behavior:url(Unknown_83_filename)/*tpa=http://www.nii.com/css/PIE.htc*/;
	margin:0;
	padding:10px 10px 14px;
}
#pageContainer .rightCol .content h3 {
	font-size:12px;
	font-weight:700;
	color:#696969;
	margin:0;
	padding:3px 0;
}
#pageContainer .rightCol .content p {
	font-size:12px;
	color:#333;
	margin:0;
	padding:1px 0;
}
#pageContainer .rightCol .content a {
	font-size:11px;
	margin:4px 0;
}
#pageContainer .rightCol .content a.mkt {
	text-decoration:none;
	text-transform:none;
	color:#458db7;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:700;
	font-size:11px;
	padding-right:10px;
	background:url(../img/blue_arr.png)/*tpa=http://www.nii.com/img/blue_arr.png*/ no-repeat right top;
	display:block;
	border-top:solid 1px #c7c7c7;
	margin:3px 0;
}
#pageContainer .rightCol .content a.mkt:hover {
	color:#df5106;
}
#pageContainer .rightCol .content .rightDiv {
	display:block;
	width:181px;
	height:5px;
	background:url(../img/rightDiv.png)/*tpa=http://www.nii.com/img/rightDiv.png*/ repeat-x;
	margin:10px auto;
}
.rBox, .rBoxRound {
	background:#dfdbd6;
	border-radius:4px;
	moz-border-radius:4px;
	border-top-left-radius:0;
	border-top-right-radius:0;
	margin-top:-4px;
	margin-bottom:20px;
	padding:10px;
}
.rBoxRound {
	border-top-left-radius:4px;
	border-top-right-radius:4px;
}
.rBoxRound div {
	border-top:solid 1px #c7c7c7;
	padding:8px 0;
}
#pageContainer .rightCol .content .rBoxRound h2 {
	background:none;
	font-size:16px;
	font-family:'niisans-bold', Arial, Helvetica, sans-serif;
	color:#776a64;
	margin:0 0 8px;
	padding:0;
}
#rotator {
	width:940px;
	height:421px;
	border-radius:4px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	overflow:hidden;
	margin-left:5px;
}
#rotator img {
	position:absolute;
	z-index:1;
	display:none;
	border-radius:6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
}
#rotator .slideDescription {
	position:absolute;
	z-index:5;
	color:#fff;
	width:535px;
	height:130px;
	top:290px;
	background:url(../img/bg_overlay.png)/*tpa=http://www.nii.com/img/bg_overlay.png*/ repeat;
	display:none;
	-moz-border-radius-bottomleft:4px;
	border-bottom-left-radius:4px;
	behavior:url(Unknown_83_filename)/*tpa=http://www.nii.com/css/PIE.htc*/;
	padding:0 5px 0 19px;
}
.msie6 .slideDescription * {
	filter:alpha(opacity=100);
	postion:relative;
}
#rotator .slideDescription h2 {
	position:relative;
	z-index:5;
	font-family:'niisans-regular', Arial, sans-serif;
	font-size:30px;
	line-height:30px;
	font-weight:400;
	margin:20px 0 0;
}
#rotator .slideDescription hr {
	opacity:.4;
	-ms-filter:alpha(opacity=40);
	filter:alpha(opacity=40);
	width:470px;
	text-align:left;
	border:none;
	border-bottom:1px solid #fff;
	margin:0 0 4px 10px;
	padding:0;
}
#rotator .slideDescription p {
	position:relative;
	z-index:5;
	width:360px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:15px;
	margin:0 0 0 10px;
	padding:0;
}
#rotatorControls {
	position:absolute;
	z-index:6;
	top:379px;
	left:25px;
	display:none;
}
.slideThumb {
	float:left;
	margin-right:10px;
	list-style:none;
	position:relative;
	z-index:6;
}
.slideThumb a {
	background:url(../img/bg_slider.png)/*tpa=http://www.nii.com/img/bg_slider.png*/ no-repeat;
	color:#df5106;
	font-family:'niisans-bold', Arial, Helvetica, sans-serif;
	font-size:13px;
	text-align:center;
	display:block;
	width:21px;
	padding:2px 0;
}
.slideThumb a.activeSlide, .slideThumb a.activeSlide:hover {
	background:url(../img/bg_slider_active.png)/*tpa=http://www.nii.com/img/bg_slider_active.png*/ no-repeat;
	color:#fff;
	cursor:pointer;
}
#mapHeader {
	display:block;
	margin-bottom:5px;
	font-family:'niisans-regular', Arial, Helvetica, sans-serif;
	font-size:25px;
	font-weight:700;
	color:#fff;
}
.slideThumb a:hover {
	background:url(../img/bg_slider_hover.png)/*tpa=http://www.nii.com/img/bg_slider_hover.png*/ no-repeat;
	color:#766a62;
	text-decoration:none;
}
#mapHeader span {
	font-weight:400;
}
.map {
	width:362px;
	height:382px;
	position:absolute;
	z-index:6;
	top:20px;
	left:565px;
	padding:0;
}
.mapInner {
	background:url(../img/mapBgFrost.png)/*tpa=http://www.nii.com/img/mapBgFrost.png*/ repeat-x;
	height:370px;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	behavior:url(Unknown_83_filename)/*tpa=http://www.nii.com/css/PIE.htc*/;
	padding:10px 10px 0;
}
.map h2 {
	color:#fff;
	font-family:'Helvetica Neue Bold', Arial, Helvetica, sans-serif;
	font-size:24px;
	margin:0;
}
.map hr {
	border:none;
	background:url(../img/mapBgHatch.png)/*tpa=http://www.nii.com/img/mapBgHatch.png*/ repeat-x;
	height:10px;
	margin:0;
}
.map p {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#5d5651;
	margin:3px 0 0;
}
.map ul.countries {
	position:absolute;
	top:150px;
	margin:20px 0 0;
	padding:0;
}
.map ul.countries li {
	list-style:none;
	font-family:'niisans-light', Arial, Helvetica, sans-serif;
	font-weight:700;
	font-size:42px;
	line-height:38px;
	margin:2px 0;
	padding:0;
}
.msie .map ul.countries li {
	font-family:'niisans-light', Arial, sans-serif;
	font-weight:400;
}
.map ul.countries li a {
	color:#5d5751;
	text-decoration:none;
	font-weight:400;
	background:url(../img/mapArr.png)/*tpa=http://www.nii.com/img/mapArr.png*/ no-repeat right;
	padding-right:10px;
}
.map ul.countries li a:hover {
	color:#000;
	background-position:right -80px;
}
.mapImage {
	background:url(../img/mapBgWorld.png)/*tpa=http://www.nii.com/img/mapBgWorld.png*/ no-repeat;
	width:216px;
	height:299px;
	float:right;
	margin-top:-10px;
}
.mapImage .toolTip .toolTipMarker {
	background:url(../img/tooltip.png)/*tpa=http://www.nii.com/img/tooltip.png*/ no-repeat;
	width:21px;
	height:19px;
	cursor:pointer;
}
.msie6 .mapImage .toolTip .toolTipMarker {
	background:url(../img/tooltip.gif)/*tpa=http://www.nii.com/img/tooltip.gif*/ no-repeat;
}
.mapImage .toolTipInfo {
	background:rgba(255, 255, 255, 0.85);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF, endColorstr=#99FFFFFF);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF, endColorstr=#99FFFFFF)";
	border:1px solid #d0d0d0;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	position:absolute;
	z-index:6;
	display:none;
	text-align:left;
	font-size:16px;
	width:150px;
	top:90px;
	left:250px;
	font-family:'Helvetica Neue Light', Arial, Helvetica, sans-serif;
	padding:10px;
}
.msie6 .mapImage .toolTipInfo {
	background:url(../img/tooltipInfo.gif)/*tpa=http://www.nii.com/img/tooltipInfo.gif*/ no-repeat;
}
.mapImage .toolTipInfo h2.title {
	color:#df5106;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}
.mapImage .toolTipInfo p {
	color:#6b6b6b;
	font-size:11px;
	line-height:11px;
	margin:6px 0;
}
.mapImage .toolTipInfo p a {
	color:#468db7;
	background:url(../img/blue_arr.png)/*tpa=http://www.nii.com/img/blue_arr.png*/ no-repeat right;
	padding-right:8px;
	font-size:11px;
	line-height:10px;
}
.mapImage .toolTipInfo .closeButton {
	background:url(../img/closeButton.png)/*tpa=http://www.nii.com/img/closeButton.png*/ no-repeat;
	float:right;
	position:absolute;
	right:10px;
	height:11px;
	width:11px;
	cursor:pointer;
}
.mapImage .toolTipReston .toolTipMarker {
	position:relative;
	z-index:5;
	top:-43px;
	left:95px;
	background-position:0 -19px;
}
.mapImage .toolTipReston .toolTipInfo {
	top:135px;
	left:140px;
	width:180px;
}
.mapImage .toolTipBrazil .toolTipMarker {
	position:relative;
	z-index:5;
	top:155px;
	left:170px;
}
.mapImage .toolTipBrazil .toolTipInfo {
	top:180px;
	left:185px;
}
.mapImage .toolTipChile .toolTipMarker {
	position:relative;
	top:175px;
	left:118px;
}
.mapImage .toolTipChile .toolTipInfo {
	top:220px;
	left:185px;
}
.mapImage .toolTipArgentina .toolTipMarker {
	position:relative;
	top:180px;
	left:130px;
}
.mapImage .toolTipArgentina .toolTipInfo {
	top:140px;
	left:185px;
}
.mapImage .toolTipMexico .toolTipMarker {
	position:relative;
	top:5px;
	left:40px;
}
.mapImage .toolTipMexico .toolTipInfo {
	top:250px;
	left:185px;
}
.mapImage .toolTipPeru .toolTipMarker {
	position:relative;
	top:82px;
	left:105px;
}
.mapImage .toolTipPeru .toolTipInfo {
	top:255px;
	left:185px;
}
.learnMore {
	width:118px;
	height:37px;
	overflow:hidden;
	background:url(../img/btnLearnMore.png)/*tpa=http://www.nii.com/img/btnLearnMore.png*/ no-repeat 0 6px;
	position:absolute;
	margin-top:80px;
	margin-left:410px;
}
a.learnMore:hover {
	background-position:0 -43px;
}
.rArrow {
	position:relative;
	top:-1px;
	left:2px;
}
hr {
	border:0;
	outline:none;
}
.gray_box {
	font-size:14px;
	width:480px;
	background-color:#e0dcd7;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	margin:30px auto;
	padding:10px 20px;
}
.marquee {
	background-color:#F5F5F5;
	border:1px solid #CCC;
	padding:3px;
}
.alignLeft {
	float:left;
	margin-right:10px;
}
.bioTitle {
	height:auto;
	min-height:100px;
}
.bioTitle .name {
	font-weight:700;
	text-transform:uppercase;
}
a:hover, #footer a.link:hover, #region_menu #container a:hover, .blackTitle a:hover, .centerCol .content a:hover, .centerCol2 .content a:hover, .centerCol3 .content a:hover {
	text-decoration:underline;
}
#rotatorContainer, #rotator .rotatorSlide {
	position:relative;
}
.ccbnDisclaimer {
	color: #999999;
	font-size: 10px;
	font-style: italic;
}
.ccbnToolkit {
	margin-top:-10px;
}
.ccbnToolkit a {
	border: medium none;
	color: #468DB7;
	display: inline;
	font-weight: normal;
	padding: 0;
	text-decoration: none;
	font-size:11px;
}
@font-face {
font-family:'IE Special Helvetica Neue Light';
src:url(Unknown_83_filename)/*tpa=http://www.nii.com/resources/helveticaneueltstd-th-webfont.eot*/;
}
.ccbnTblTtl {
	font-weight: bold;
	color: #FFFFFF;
}
.ccbnBgTblTtl {
	background-color: #DF5106;
}
.ccbnTblSubTtl {
	font-weight: bold;
}
.ccbnBgTblSubTtl {
	background-color: #DDDDDD;
}
.ccbnTblOdd {
}
.ccbnBgTblOdd {
	background-color: #EEEEEE;
}
.ccbnTblEven {
}
.ccbnBgTblEven {
	background-color: #FFFFFF;
}
.ccbnTblTxt {
}
.ccbnBgTblTxt {
	background-color: #FFFFFF;
}
.ccbnTblTxtBold {
	font-weight: bold;
}
.ccbnBgTblTxtBold {
	background-color: #FFFFFF;
}
.ccbnTblHighlight {
}
.ccbnBgTblHighlight {
	background-color: #FFFFFF;
}
.ccbnTblSubTxt {
	font-size: 0.9em;
}
.ccbnBgTblSubTxt {
	background-color: #FFFFFF;
}
.ccbnBgTblLnk {
	background-color: #FFFFFF;
}
.ccbnTblHighlightLnk {
	font-weight: bold;
}
.ccbnBgTblHighlightLnk {
	background-color: #FFFFFF;
}
.ccbnTblLabelLnk {
	font-weight: bold;
}
.ccbnBgTblLabelLnk {
	background-color: #FFFFFF;
}
.ccbnTtl {
	font-weight: bold;
}
.ccbnTxtBold {
	font-weight: bold;
}
.ccbnSubTxt {
	font-size: 0.9em;
}
.ccbnRequired {
	color: #FF0000;
}
.ccbnError {
	color: #FF0000;
}
.ccbnConfirmBold {
	font-weight: bold;
}
.ccbnNeg {
	color: #FF0000;
}
.ccbnBgNeg {
	background-color: #FF0000;
}
.ccbnPos {
	color: #00B000;
}
.ccbnBgPos {
	background-color: #00B000;
}
.ccbnPrice {
	font-weight: bold;
}
.ccbnBgPrice {
	background-color: #FFFFFF;
}
.modDisclaimer {
	color: #999999;
	font-style: italic;
	font-size: 10px;
}
.ccbnDisclaimer {
	color: #999999;
	font-style: italic;
	font-size: 10px;
}
.ccbnBgDisclaimer {
	background-color: #FFFFFF;
}
.ccbnLabel {
	font-weight: bold;
}
.ccbnBgLabel {
	background-color: #FFFFFF;
}
.ccbnTblLabelLeft {
	font-weight: bold;
}
.ccbnBgTblLabelLeft {
	background-color: #EEEEEE;
}
.ccbnTblLabelTop {
	font-weight: bold;
}
.ccbnBgTblLabelTop {
	background-color: #FFFFFF;
}
.ccbnOutline {
	background-color: #CCCCCC;
}
.ccbnOutlineChart {
	background-color: #FFFFFF;
}
.ccbnOutlineQuote {
	background-color: #FFFFFF;
}
.ccbnBgChart {
	background-color: #FFFFFF;
}
.ccbnBgLine {
	background-color: #000000;
}
.ccbnBgSpacer {
	background-color: #FFFFFF;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* x                   Mouse Over Styles                  x */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */


/*global class applied to all divs that peform hovering functions all global settings should be applied here*/

   .ccbnPopover {
	position:absolute;
	visibility:hidden;
	overflow:auto;
	width:200px;
	height:auto;
	background:#ffffff;
	text-align:left;
	border:1px solid #999;
	top:0px;
	left:0px;
	font-size: 0.9em;
	color: #666666;
}
/*all hovers will inherit styles from ccbnPopover but you can overwrite those styles by using the selectors below if you would like to customize a HOVER style or add new styles specific to a hover type, add them here*/

   .ccbnDefinitionHover {
	width: 300px;
}
.ccbnEventHeaderHover {
	width: 300px;
}
.ccbnBioHover {
	width: 400px;
}
.ccbnNewsHover {
	width: 300px;
}
/*table rows beneath a table that has a class of ccbnRowHoverTbl will change color when hovered over - set your own color or other styles for the row here*/

   .ccbnRowHoverTbl tr:hover td, .ccbnRowHoverTbl tr.ccbnIE6Over td {
}
/*we do not want the rows that are titles to change color, this is the fix the styles of this should be the same as the value of ccbnBgTblTtl*/

   .ccbnRowHoverTbl tr.ccbnBgTblTtl:hover td {
}
@font-face {
 font-family: 'niisans-bold';
 src: url('../resources/niisans-bold-webfont.eot')/*tpa=http://www.nii.com/resources/niisans-bold-webfont.eot*/;
 src: local('../resources/niisans-bold-webfont'), local('../resources/niisans-bold-webfont'), url('../resources/niisans-bold-webfont.ttf')/*tpa=http://www.nii.com/resources/niisans-bold-webfont.ttf*/ format('truetype'), url('../resources/niisans-bold-webfont.svg#font')/*tpa=http://www.nii.com/resources/niisans-bold-webfont.svg#font*/ format('svg');
}
@font-face {
 font-family: 'niisans-light';
 src: url('../resources/niisans-light-webfont.eot')/*tpa=http://www.nii.com/resources/niisans-light-webfont.eot*/;
 src: local('../resources/niisans-light-webfont'), local('../resources/niisans-light-webfont'), url('../resources/niisans-light-webfont.ttf')/*tpa=http://www.nii.com/resources/niisans-light-webfont.ttf*/ format('truetype'), url('../resources/niisans-light-webfont.svg#font')/*tpa=http://www.nii.com/resources/niisans-light-webfont.svg#font*/ format('svg');
}
@font-face {
 font-family: 'niisans-regular';
 src: url('../resources/niisans-regular-webfont.eot')/*tpa=http://www.nii.com/resources/niisans-regular-webfont.eot*/;
 src: local('../resources/niisans-regular-webfont'), local('../resources/niisans-regular-webfont'), url('../resources/niisans-regular-webfont.ttf')/*tpa=http://www.nii.com/resources/niisans-regular-webfont.ttf*/ format('truetype'), url('../resources/niisans-regular-webfont.svg#font')/*tpa=http://www.nii.com/resources/niisans-regular-webfont.svg#font*/ format('svg');
}
