@charset "UTF-8";
/* CSS Document */
/*  2015 REDESIGN STYLES */
		.hide {display:none;}		
		
		/* architecture */
		
		.genericwrapper {float:left; width:100%;}
		/* main row wrappers */
        #headwrapper, #midwrapper, #MyBuyswrapper, #bottomwrapper, #footerwrapper, #subfooterwrapper,
		#topBanner, #midPageBanner {
		/* headwrapper - row1 - Slider, Web Wow, Closeouts Wrapper */
		/* midwrapper - row2 - instoreIOTW, weeklyad, promobox Wrapper */
		/* MyBuyswrapper - row4 - MyBuys Wrapper */
		/* bottomwrapper - row4 - communityblock Wrapper */
		/* footerwrapper - row5 - footer wrapper */	
		/* subfooterwrapper - row6 - subfooter wrapper - Legal links & Payment Row */
		/* midPageBanner */	
			position:relative;
			float:left;
			width:958px;
			height:310px;
			margin:0;
			margin-bottom:20px !important;
			padding:0;
			border:0px solid #FF0000; /* testing only */
			clear:both !important;
        }
		/* height overwrites */
		#midwrapper {height:300px;}
		#MyBuyswrapper {height:270px; float:none; position:inherit; margin-bottom:30px !important;}
		#bottomwrapper {height:270px; margin-top:10px;}
		#footerwrapper {height:230px; background-color:#f1f0f0; padding:35px 0;}
		#subfooterwrapper {height:100px; float:none; margin:0 auto; text-align:center;}
		/* Banners */
		#topBanner {height:43px;}
		#midPageBanner {height:100px; margin:20px 0 0;}
		
		/* sliders & sliderwrappers - heroflash & instoreSpecials */
		#slider1_container, #slider2_container {
		 /* slider1 - heroflash */
		 /* slider2 - instoreSpecials */
			float:left;
			position:relative;
			top:0px; 
			left:0px; 
			margin:0;
			padding:0;
			width:636px; 
			height:310px;
		}
		#slider2_container { /* instoreSpecials Slider Wrapper */
			width:300px; 
			height:300px;
			padding-top:10px;
		}
		#slides {cursor: move; position: absolute; overflow: hidden; left: 0px; top: 0px; width: 636px; height: 310px;}
		#slides2 {cursor: move; position: absolute; overflow:auto; left: 0px; top: 0px; width: 305px; height: 300px;}
		/* begin slider arrows */
		/* jssor slider arrow navigator skin 03 css */
		/*
		.jssora03l                  (normal)
		.jssora03r                  (normal)
		.jssora03l:hover            (normal mouseover)
		.jssora03r:hover            (normal mouseover)
		.jssora03l.jssora03ldn      (mousedown)
		.jssora03r.jssora03rdn      (mousedown)
		*/
		#slider1_container .jssora03l, #slider1_container .jssora03r {
			display:block;
			position:absolute;
			/* size of arrow element */
			width:40px;
			height:53px;
			cursor:pointer;
			background:url(../img/a99.png)/*tpa=http://www.dollartree.com/assets/images/cms/home/2015/img/a99.png*/ no-repeat; /* declaring the arrow */
			overflow:hidden;
			border:0px solid #ff0;
		}
		#slider2_container .jssora66l, #slider2_container .jssora66r {
			display:block;
			position:absolute;
			/* size of arrow element */
			width:30px;
			height:40px;
			cursor:pointer;
			background:url(../img/a66.png)/*tpa=http://www.dollartree.com/assets/images/cms/home/2015/img/a66.png*/ no-repeat; /* declaring the arrow */
			overflow:hidden;
			border:0px solid #ff0;
		}
		/* Navigation Arrows BG placement */
		#slider1_container .jssora03l { background-position: 0px 0px !important; }
		#slider1_container .jssora03r { background-position: -50px 0px !important; }
		#slider1_container .jssora03l:hover { background-position: -100px 0px !important; }
		#slider1_container .jssora03r:hover { background-position: -150px 0px !important; }
		#slider1_container .jssora03l.jssora03ldn { background-position: -200px 0px !important; }
		#slider1_container .jssora03r.jssora03rdn { background-position: -250px 0px !important; }
		
		#slider2_container .jssora66l { background-position: 0px 0px !important; }
		#slider2_container .jssora66r { background-position: -50px 0px !important; }
		#slider2_container .jssora66l:hover { background-position: -100px 0px !important; }
		#slider2_container .jssora66r:hover { background-position: -150px 0px !important; }
		#slider2_container .jssora66l.jssora66ldn { background-position: -200px 0px !important; }
		#slider2_container .jssora66r.jssora66rdn { background-position: -250px 0px !important; }
	
		/* Navigation Arrows placement */
		#slider1_container .jssora03l {top: 120px !important; left: 2px !important;}
		#slider1_container .jssora03r {top: 120px !important; right: -5px !important;}
		#slider2_container .jssora66l {top:80px !important; left: 1px !important;}
		#slider2_container .jssora66r {top:80px !important; right: -9px !important;}
		
		/* slider2 - instoreSpecials */
		#slides2 .cargohold { /* slider content wrapper */
			position: absolute; overflow:hidden; left: 0px; top: 0px; width: 305px; height: 300px;}
		#slides2 .cargohold img {width: 305px !important; height: 195px !important;}
		#slides2 .cargohold .slides2Img {position: absolute; top: 0; left: 0; width: 305px !important; height: 195px !important;}	
		#slides2 .cargohold .productcopy {
			position: absolute; width: 290px; height: 60px; top: 200px; left: 0; text-align: left;}	
		#slides2 .cargohold .graylink {position: absolute; top: 250px; left: 0; width: 305px; height: 20px;}
	
	
	
		/* vertical stacks architecture - interior row vertical column wrappers */	
		#sidewrapper {/* SideContainer Web Wow & Closeouts Wrapper */
			float:left;
			display:inline;
			width:300px;
			height:310px;
			margin:0 0 0 20px;
			padding:0;	
			border:0px solid #00FF00; /* testing only */
		}
		#leftstack {/* SideContainer instoreIOTW & weeklyad Wrapper */
			float:left; 
			display:inline; 
			width:305px;
			height:300px;
			margin-left:0px;
			padding-right:10px;
			padding-left:2px;
			border:0px solid #00FF00; /* testing only */	
			border-right:1px solid #d7d7d7;
		}
		#footerstack { /* emailsignup & vsc  */
			float:left; 
			display:inline; 
			width:280px;
			height:230px;
			margin-left:20px;
			margin-right:30px;
			border:0px solid #00FF00; /* testing only */	
			border-right:0px solid #d7d7d7;
		}

		/* footer architexture */
		#footercol1, #footercol2, #footercol3 {
			position:relative;
			float:left; 
			width:150px; height:230px;
			margin-right:30px;
			border:0px solid #0099FF; /* testing only */				
		}
		#footercol2 {width:160px;}
		#footercol3 {width:130px;}
		#footercol1 ul, #footercol2 ul, #footercol3 ul {margin:0; padding:0;}
		#footercol1 ul li, #footercol2 ul li, #footercol3 ul li {
			list-style:none;
			list-style-position:outside;
	
		}		
		#footercol1 ul li a, #footercol2 ul li a, #footercol3 ul li a {
			color:#008743;
			font-size:12px;
			line-height:1.5em;
			text-decoration:none;
		}
		#footercol1 ul li a:hover, #footercol2 ul li a:hover, #footercol3 ul li a:hover {
			color:#777;
			text-decoration:underline;
		}
		#iconcol { /* social icons */
			position:relative;
			float:left; 
			width:80px; 
			height:270px; 
			margin:0 auto 5px; 
			text-align:center;
			border:0px solid #0099FF; /* testing only */		
		}


		
		/* individuals */	
		#WebWow, #Closeouts {float:left; width:300px; height:145px;}
		#WebWow {padding-bottom:13px; border-bottom:1px solid #d7d7d7;} /* divider area padding */
		#Closeouts {padding-top:7px;} /* divider area padding*/
		
		#instoreIOTW, #weeklyad {float:left; width:305px; height:175px;}
		#instoreIOTW {padding-bottom:0px; border-bottom:1px solid #d7d7d7;} /* divider area padding */
		#weeklyad {position:relative;height:115px;margin-top:10px;border:0px solid #0000FF;} /* divider area padding*/		
		
		#instoreSpecials {
			float:left; width:305px; height:300px;
			margin-left:10px;
			display:inline; 
			border:0px solid #0099FF; /* testing only */
		}
		#promobox {
			float:left; width:300px; height:300px;
			margin-left:20px;
			border:0px solid #0099FF; /* testing only */
		}
		
		#communityblock1, #communityblock2, #communityblock3 {
			position:relative;
			float:left; 
			width:300px; height:270px;
			margin-right:25px;
			border:0px solid #0099FF; /* testing only */		
		}
		#communityblock3 {margin-right:0;}
		#emailsignup, #VSC {
			float:left; width:280px; height:120px;
			display:inline;
			padding-right:5px;
			border:0px solid #0099FF; /* testing only */
		}
		#emailsignup {margin-bottom:25px;} 
		#VSC {height:100px;}
		
	
		
		/* common product box build */		
		.greentitle {font-size:20px; font-weight:bold; text-align:left; color:#008743; line-height:1.1em; margin-bottom:10px;}
		.foottitle {font-size:16px; font-weight:normal; text-align:left; color:#000; line-height:1.1em; margin-bottom:10px;}
		#iconcol .foottitle { text-align:center;}
        .productcopy {font-size:13px; line-height:1.2em;} /* all page copy */
        .graylink {font-size:14px; font-weight:bold; color:#008743; text-decoration:none;} /* all page links */
		.graylink:hover{color:#666;}
		.producthold { /* product copy wrapper */
			float:left;
			position:relative;
			width:120px;
			height:145px;
			padding:10px 15px 0 0 ;
			border:0px solid #0099FF; /* testing only */		
		}
		/*producthold height overwrites */
		#instoreIOTW .producthold {padding-top:0; height:140px;}
		#instoreSpecials .genericwrapper .greentitle {margin:0 0 10px 10px;}	
		#weeklyad .producthold {padding-top:0;height:110px;}
		
		
		/* gray link positioning */
		.producthold .linkhold a.graylink, .linkhold a.graylink  {position:absolute; bottom:10px;} /* forcing bottom alignment */
		#weeklyad .producthold .linkhold a.graylink {bottom:0px;} /* forcing bottom alignment */
		#instoreSpecials .productcopy, #instoreSpecials .graylink {margin-left:10px;}
		#instoreSpecials .productcopy {margin-top:10px;}
		
		
		/* product imgs */
		.productimg { 
			float:left;
			width:165px;
			height:145px;
		}
		/* product image writes & overwrites */
		#productimg a img {width:165px; height:145px;} /* individuals rewritten below */
		/*productimg height overwrites */
		#WebWow .productimg, #WebWow .productimg a img {height:145px;}
		#Closeouts .productimg, #Closeouts .productimg a img {height:145px;}
		#instoreIOTW .productimg, #instoreIOTW .productimg a img {height:130px;}
		#weeklyad .productimg, #weeklyad .productimg a img {height:105px;}
		#weeklyad .productimg a img {margin-top:5px;}	
		#communityblock1 .productimg, #communityblock1 .productimg a img ,
		#communityblock2 .productimg, #communityblock2 .productimg a img ,
		#communityblock3 .productimg, #communityblock3 .productimg a img {width:300px; height:160px;margin:0px 0 10px;}
	
		/* footer */
		#VSC img {width:280px; margin:0 0 10px;}
		.footericon {width:30px; height:30px;margin:2px auto;}
			

		/* subfooter */
		#legalrow {width:980px; height:20px; text-align:center; margin:20px auto 10px; color:#666;}
		#legalrow a.legalrowlink {color:#008743; text-decoration:none;}
		#legalrow a:hover.legalrowlink {color:#:#666; text-decoration:underline;}
		#subfooter {width:650px;height:50px; text-align:center; margin:0 auto;}
		.ccimg {float:left; display:inline; width:63px; height:44px; padding:5px 0 0 5px; }
		
	
		/* footer emailsignup button */
		#emailsignup a.orangebutton {
			background-color:#ff9933;
			color:#fff;
			display:block;
			width:80%;
			height:35px;
			margin:15px 0 0;
			padding:12px 5px 0;
			font-family:sans-serif;
			font-size:22px;
			font-weight:bold;
			text-decoration:none;
			text-align:center;
			text-transform:uppercase;
			border:1px solid #f59331;		
		}
		#emailsignup a.orangebutton:hover {background-color:#fc7e23;}
		
		
		/* MyBuysOverWrites */
		#mybuyspagezone1 .MB_H1 {background:none !important; border:0 !important;}
		#mybuyspagezone1 .MB_STY0 {text-align:left !important; font-size:20px !important;}

	