/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/
/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */
/* #Site Styles
================================================== */
/* General
---------------------------------------------- */
#page-title {
	text-transform: uppercase;
}
#block-system-main .node > .content ul {
  list-style-type: disc;
}
.breadcrumb {
	margin: 10px 0;
	padding: 0;
	font-size: .8em;
	color: #999;
}

.breadcrumb a, 
.breadcrumb a:link, 
.breadcrumb a:visited {
	padding: 0;
	color: #999;
	text-decoration: none;
	text-decoration: underline;
}

.breadcrumb a:hover {
	color: #000;
}

ul.pager {
	margin: .467em;
}

.item-list .pager li,.links.inline {
	margin: .467em;
	padding: 5px;
	background: #eee;
	border: 1px solid #999;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.item-list .pager li.pager-current {
	background: none;
	border: none;
}

ul.links.inline {
	margin: 0;
}

.fltrt {
	float: right;
	margin: 0 0 20px 20px;
}

.fltlft {
	float: left;
	margin: 0 20px 20px 0;
}

.blkborder {
	border: 1px solid #000;
}

/* Header
---------------------------------------------- */
#head {
	background: #fff url(../images/page-bg.png) repeat-x left bottom;
	width: 100%;
	z-index: 999;
}

header {
	height: 135px;
}

header #logo {
	padding: 30px 0 0 10px;
	width: 275px;
	float: left;
}

#header-region {
	padding: 15px 10px 0 0;
	width: 380px;
	float: right;
}

header #block-swk-quote-swk-quote {
	padding-bottom: 10px;
	text-align: right;
}

header #block-search-form {
	padding-top: 3px;
	height: 40px;
	float: right;
}

header #block-search-form .form-text {
	width: 0;
}

header #edit-search-block-form--2 {
	margin: 0;
	padding: 5px;
	line-height: 18px;
	width: 172px;
	border: 0;
	color: #999;
	font-size: .933em;
	background: transparent;
	float: right;
	border: 1px solid #eee;
	display: none;
}

header #block-search-form.open #edit-search-block-form--2 {
	display: block;
}

header #search-block-form .form-submit {
/* hide the search button and put in a fancy little image, instead */
	background-color: transparent;
/* hide standard button display stuff */
	border: none;
/* hide standard button display stuff */
	background-image: url(../images/transparent.gif);
/* put in fancy image */
	background-repeat: no-repeat;
	vertical-align: top;
	height: 34px;
/* fancy image height */
	width: 24px;
/* fancy image width */
	text-indent: 30px;
/* move the 'Search' text on the button to the right */
	word-spacing: 9.333em;
/* and space it out -- both of these shouldn't be necessary, but the combination makes all our browsers style this correctly */
	text-align: right;
/* see above */
	cursor: pointer;
/* make the mouse give the right feedback - IE stupidity, again */
	padding: 0;
	margin: 0;
	background: url(../images/search.png) no-repeat center center;
}
header .open #search-block-form .form-submit {
	margin-right: 10px;
}

.global-locations {
	padding-left: 10px;
	width: 85px;
	height: 40px;
	float: right;
}

.global-locations .content a {
	display: block;
	width: 75px;
	height: 40px;
	background: url(../images/global-grey.png) no-repeat center top;
	text-indent: 80px;
	overflow: hidden;
	margin-top: -1px;
}

header #navigation {
	position: absolute;
	right: 10px;
	bottom: 0;
}

.btn-mobile-menu {
	display: none;
}

/* Under Header Region
---------------------------------------------- */

/* Layout
---------------------------------------------- */
#page {
/* margin-top: -20px; */
}

#main {
	padding-bottom: 10px;
}

#sidebar-first .block,#sidebar-second .block {
	margin-bottom: 20px;
}

/* Front Page
---------------------------------------------- */
.front {
	color: #666;
}
.front h2 {
	color: #000;
}

/* Above Footer Region
---------------------------------------------- */
.footer-share {
	padding: 0;
	margin: 10px 0 0;
	clear: both;
}

.footer-share ul {
	margin: 0;
	padding: 0;
}

.footer-share li {
	float: left;
	padding-right: 10px;
	margin-bottom: 0;
}

.footer-share li.last,.footer-share li:last {
	padding-right: 0;
}
.footer-share.contextual-links-region {
	z-index: 1;
}

/* Footer
---------------------------------------------- */
#foot {
	background: #000;
	width: 100%;
	z-index: 2;
}

footer .region-footer {
	padding: 20px 0;
	font-size: .733em;
	color: #fff;
}
footer .region-footer a:hover {
	color: #ffd20d;
}

/* #Page Styles
================================================== */
/* Sidenav
---------------------------------------------- */
#block-menu-block-3 {
	margin: 0;
	padding: 0;
	font-weight: 700;
}

#block-menu-block-3 .content ul {
	margin: 0;
	padding: 0;
}

#block-menu-block-3 .content li {
	margin: 0;
	padding: 0;
	list-style: none;
	list-style-image: none;
	line-height: 32px;
	border-bottom: 1px solid #fff;
}

#block-menu-block-3 .content li ul {
	margin: 0;
	padding: 2px 0 0 10px;
}

#block-menu-block-3 .content li a,#block-menu-block-3 .content li a:link,#block-menu-block-3 .content li a:visited {
	padding: 0 5px;
	text-decoration: none;
	display: block;
}

#block-menu-block-3 .content li a:hover,#block-menu-block-3 .content li a:active,#block-menu-block-3 .content li a.active {
	color: #000;
}

/* Home
---------------------------------------------- */
.home-intro {
	padding-top: 20px;
	padding-bottom: 120px;
	background: url(../images/downarrow.png) no-repeat left bottom;
}

.home-services li {
	margin: 0;
	padding: 0;
	display: block;
}

.home-services li .desc > p {
	display: none;
}

.home-services li h3 {
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 50px;
	text-transform: uppercase;
	text-decoration: none;
}

#block-views-news-block {
	border-bottom: 1px solid gray;
}

#block-views-news-block h2 {
	text-transform: uppercase;
	background: url(../images/wifi.png) no-repeat top right;
	padding-right: 50px;
	line-height: 55px;
	width: 125px;
	font-weight: 400;
}

#block-views-news-block h2 a {
	text-decoration: none;
	color: #000;
}

#block-views-news-block .view-content span.date {
	margin-right: 5px;
	float: left;
	clear: right;
}

#block-views-news-block .view-content span.date:after {
	content: ' | ';
	color: gray;
}

#block-views-news-block .view-content a {
	float: left;
	width: auto;
	display: block;
	width: 675px;
}

#block-views-news-block .view-content span.date,#block-views-news-block .view-content a,#block-views-news-block .more-link a {
	color: gray;
}

.mobile-home-services {
	display: none;
}

.front #node-1 {
	display: none;
}

/* Slider
---------------------------------------------- */
#block-views-home-hero-slider-block .view-content {
	margin: 0;
	padding: 0;
  position: relative;
}

#block-views-home-hero-slider-block .view-content .slides > li {
	display: none;
	-webkit-backface-visibility: hidden;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
#block-views-home-hero-slider-block .view-content .slides img {
	width: 100%;
	display: block;
}

#block-views-home-hero-slider-block {
	border-bottom: 35px solid #000;
}

#block-views-home-hero-slider-block .view-content .flex-control-nav {
  bottom: 5px;
}
#block-views-home-hero-slider-block .view-content .flex-control-paging li a {
  background: url(../images/home-slider-bg.png) repeat 0 0;
}
#block-views-home-hero-slider-block .view-content .flex-control-paging li a.flex-active {
  background: #ffd400;
}

.flex-viewport {
	max-width: 1400px;
	margin: 0 auto;
}

.flex-viewport li {
	margin-bottom: 0;
}

.slider-desc {
	width: 940px;
	position: relative;
	margin: 0 auto;
	height: 100%;
  pointer-events: none;
  ms-pointer-events: none;
}

.slider-desc p {
	margin-bottom: 0;
	padding: 35px 35px 40px 25px;
	text-transform: uppercase;
	position: absolute;
	right: 0;
	bottom: 80px;
	width: 355px;
	background: url(../images/home-slider-bg.png) repeat 0 0;
	border-left: 8px solid #ffd20d;
	color: #000;
	font-size: 1.533em;
	line-height: 1.267em;
}
.slider-desc span {
  display: block;
  font-size: .70em;
  font-weight: 700;
}
.slider-desc a {
  color: inherit;
  text-decoration: none;
}

/* Mobile menu bar
---------------------------------------------- */
.btn-mobile-search {
	display: none;
}

.btn-mobile-menu li {
	margin-bottom: 0;
}

.slides {
	max-height: 590px;
}

/* Services Section
  ------------------------------------------ */
.home-services .content {
	position: relative;
}

.home-services ul {
	padding: 0;
	margin: 0;
	position: relative;
}

.home-services li {
	float: left;
	position: relative;
	line-height: 0;
/*width: 33.33333%;*/
	width: 213px;
	overflow: hidden;
	cursor: pointer;
}

.home-services li img {
	width: 100%;
	height: auto;
}

.desc {
	background: url(../images/home-services-gradient.png) repeat 0 0;
	background: rgba(0,0,0,0.65);
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 30px 20px;
}

.desc h3 {
	font-size: 21px;
	line-height: 130%;
	text-transform: uppercase;
	font-weight: 400;
}

.desc h3 a {
	text-decoration: none;
}

.desc p,.desc p a {
	font-size: 13px;
	line-height: 130%;
}

.desc h3,.desc a {
	color: #ffd20d;
}

.desc p {
	color: #fff;
}

.desc p a {
	text-align: right;
	float: right;
}

.overlay-services {
	width: 639px;
	height: 378px;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
}

.overlay-services img {
	position: absolute;
	width: 100%;
}

.overlay-services .desc {
	border-left: 6px solid #ffd20d;
	width: 55%;
}

.home-services li .desc {
	padding: 0 5px;
	width: 100%;
	height: 50px;
	font-size: 14px;
}

.overlay-services .close {
	color: #fff;
	position: absolute;
	right: 4px;
	top: 4px;
	font-size: 22px;
	cursor: pointer;
}

/* Product Spotlight
------------------------------ */
.home-spotlight {
	clear: both;
	margin-bottom: 50px;
}

.home-spotlight > h2 {
	font-size: 24px;
	line-height: 36px;
	font-weight: 400;
	margin-top: 20px;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.home-products ul {
	background: #fff;
}

.home-products li {
	position: relative;
}

.home-products li.views-row-first {
	margin-left: 0;
}

.home-products li h3 {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 5px 10px;
	background: #fff;
	margin-bottom: 0;
	border: 1px solid gray;
	border-top: 0;
}

.home-products li h3,.home-products li h3 a {
	color: gray;
	text-decoration: none;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
}

.home-products li h3 a:after {
	content: "\2192";
	margin-left: 5px;
	font-size: 18px;
	line-height: 18px;
}

/* Content Area
-------------------------------------------------- */
#block-system-main h1 a,
#block-system-main h2 a,
#block-system-main h3 a {
	color: inherit;
	font-size: inherit;
	line-height: inherit;
	text-decoration: inherit;
}

.mediapage {
	background: #ffd400;
	overflow: hidden;
	height: 371px;
	width: 100%;
	margin: 0 0 20px;
	padding: 0;
}
.node-type-image-page .mediapage {
  height: 321px;
}
.mediapage > .mediaobj,
.mediapage > .mediadesc {
	margin: 0;
	padding: 0;
	float: left;
}
.mediapage > .mediaobj {
	display: block;
	width: 659px;
}
.mediapage > .mediaobj img {
	display: block;
}
.mediapage > .mediadesc {
	color: #000;
	width: 281px;
}
.mediapage > .mediadesc > p {
	padding: 0 25px 10px;
	margin: 0;
}
.mediapage > .mediadesc > p:first-child {
	padding-top: 35px;
}
.mediapage > .mediadesc > p:last-child {
	padding-bottom: 35px;
}
.mediapage > .expand {
	display: none;
}
.mediaobj, .mediavideo {
	height: 100%;
}

/* Homepage News section
-------------------------------------------------- */

/* News Section
---------------------------------- */
.ie #block-views-news-block {
	margin-top: 15px;
	padding-bottom: 45px;
}

.ie #block-views-news-block .view-header {
	padding-right: 20px;
	height: 175px;
}

.ie #block-views-news-block .view-content {
	border-left: 1px solid gray;
	padding-left: 20px;
	padding-top: 70px;
	padding-bottom: 45px;
}

.ie #block-views-news-block .view-header,#block-views-news-block .view-content {
	float: left;
}

.ie #block-views-news-block > div.content > div > div.view-content > div.views-row {
	padding-bottom: 35px;
}

.ie #block-views-news-block > div.content > div > div.view-content > div.views-row.views-row-last {
	padding-bottom: 0;
}

.ie #block-views-news-block h2 {
	margin-top: 57px;
}

/* Contact Page
-------------------------------------------------- */
table.directory-table {
  margin: 0 0 20px 0;
  padding: 0;
  width: 100%;
}
.directory-table caption {
  margin: 0;
  padding: 3px 5px;
  font-weight: normal;
  text-align: left;
  text-transform: uppercase;
  background: #CCCCCC;
  color: #FFFFFF;
}
.directory-table tr {
  background-color: #FFFFFF;
  line-height: 25px;
  padding: 0;
}
.directory-table td {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  width: 100px;
}
.directory-table a {
  line-height: 30px;
}
.page-node-44 .directory-table td.company {
    width: 370px;
}

/* Social Media Page
---------------------------------------------------- */
.sociallinks {
    margin-bottom: 20px;
}
.sociallinks .caption {
    margin: 0;
    padding: 3px 5px;
    font-weight: normal;
    text-align: left;
    text-transform: uppercase;
    background: #CCCCCC;
    color: #FFFFFF;
}
.sociallinks .row {
    margin-bottom: 0;
    background-color: #FFFFFF;
    line-height: 30px;
    padding: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #CCCCCC;
}
.sociallinks a {
    line-height: 30px;
}


/* Leadership Page
-------------------------------------------------- */
.path-our-leadership .content img {
  height: auto !important;
}


/* Sidebar Careers
-------------------------------------------------- */
.block-careers,
.block-careers .content a { font-size: 14px; color: #000; }
.block-careers .content div { padding: 10px; }
.block-careers .content a { font-weight: 700; }
.block-careers .content img { display: block; }
.block-careers .content p + p { margin-bottom: 0; }

/* Sidebar Slider
-------------------------------------------------- */
.sideslide.everslider .es-slides > li {
	margin-right: 0;
}


/* Footer Nav
-------------------------------------------------- */
#footer-nav {
	padding-top: 25px;
	overflow: hidden;
}

#footer-nav .block-menu-block {
	padding: 0 10px;
	color: #a0a0a0;
	font-size: .8em;
	margin-bottom: 20px;
}

#footer-nav .block-menu-block .content ul {
	margin: 0;
	padding: 0 5px 0 0;
}

#footer-nav .block-menu-block .content li {
	margin: 0;
	padding: 3px 0;
	list-style: none;
	list-style-image: none;
}

#footer-nav .block-menu-block .content li,#footer-nav .block-menu-block .content li a {
	color: #a0a0a0;
	text-decoration: none;
}
#footer-nav .block-menu-block .content li a:hover {
	color: #ffd20d;
}

#footer-nav .block-menu-block h2 {
	margin: 3px 0;
	font-size: 1.1em;
	line-height: 18px;
}

#footer-nav .block-menu-block h2 span,
#footer-nav .block-menu-block h2 a {
	color: #fff;
	text-decoration: none;
}

/* Related Brands View */
.view-related-brands {
	margin-top: 20px;
	margin-bottom: 45px;
}
.view-related-brands .views-row {
        
        margin-bottom: 0;
}
.view-related-brands .views-column.one-fifth {
  width: 20%;
  display: block;
  float: left;
}
/*.view-related-brands .views-column {
        border-right: 1px solid #000;
        border-bottom: 1px solid #000;
}
.view-related-brands .views-column.views-column-first {
        border-left: 1px solid #000;
}
.view-related-brands .views-row-first .views-column {
        border-top: 1px solid #000;
}*/
.view-related-brands .views-column a,
.view-related-brands .views-column img {
        display: block;
}
.view-related-brands .views-column img {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
}

/* Blue Button */
.bluebutt {
  display: inline-block;
  width: auto;
  padding: 7px 15px;
  background: #0097c5;
  color: #fff !important;
  margin: 5px 0 15px;
  text-decoration: none;
}
.bluebutt a {
  text-decoration: none;
  color: #fff !important;
}

/* #Media Queries
================================================== */
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
	.slider-desc {
		width: 768px;
	}
	
	.slider-desc p {
		padding: 35px 35px 40px 25px;
		bottom: 50px;
		font-size: 1.4em;
		line-height: 1.2em;
	}
	
	.home-services li {
		width: 169px;
	}
}

@media only screen and (min-width: 960px) {
	.home-products li h3 {
		right: 13px;
	}
}

/* Any non-mobile size */
@media only screen and (min-width: 768px) {
	/* News Section 
	---------------------------------- */
	#block-views-news-block {
		margin-top: 15px;
		padding-bottom: 45px;
	}
	
	#block-views-news-block .view-header {
		padding-right: 20px;
		height: 175px;
	}
	
	#block-views-news-block .view-content {
		border-left: 1px solid gray;
		padding-left: 20px;
		padding-top: 70px;
		padding-bottom: 45px;
	}
	
	#block-views-news-block .view-header,#block-views-news-block .view-content {
		float: left;
	}
	
	#block-views-news-block > div.content > div > div.view-content > div.views-row {
		padding-bottom: 35px;
	}
	
	#block-views-news-block > div.content > div > div.view-content > div.views-row.views-row-last {
		padding-bottom: 0;
	}
	
	#block-views-news-block h2 {
		margin-top: 57px;
	}
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .home-services li .desc h3 {
        font-size: 13px;
    }

    .home-intro {
		padding-bottom: 0;
		background: none;
	}
	
	.overlay-services {
		width: 507px;
		height: 300px;
	}
	
	#block-views-news-block .view-content a {
		width: 500px;
	}
	
	/* Content Area
	-------------------------------------------------- */
	.mediapage {
		height: 295px;
	}
	.node-type-video-page .mediapage {
		height: 297px;
	}
	.mediapage > .mediaobj {
		width: 528px;
	}
	.mediapage > .mediadesc {
		width: 220px;
    font-size: 12px;
	}
	.mediapage > .mediadesc > p {
		padding-left: 15px;
		padding-right: 15px;
	}
	.mediapage > .mediadesc > p:first-child {
		padding-top: 15px;
	}
	.mediapage > .mediadesc > p:last-child {
		padding-bottom: 15px;
	}
	.node-type-image-page .mediapage {
		height: 268px;
	}
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	#head {
		background-image: url(../images/page-bg-mobile.png);
	}

	header {
		height: 155px;
	}
	
	#navigation {
		height: 60px;
	}
	
	.region.region-underhead {
		clear: both;
		background: none repeat scroll 0 0 #ffdb0a;
		display: inherit;
	}
	
	header #logo {
		padding-top: 25px;
		padding-left: 0;
	}
	
	#header-region {
		margin-top: 22px;
		clear: both;
		float: right;
		width: 120px;
		padding: inherit;
	}
	
	header #block-swk-quote-swk-quote {
		display: none;
	}
	
	.global-locations {
		height: auto;
	}
	
	.global-locations .content p {
		margin-bottom: 0;
	}
	
	.global-locations .content a {
		background: url(../images/global-white.png) no-repeat center center;
		height: 60px;
		width: 75px;
	}
	
	#block-views-home-hero-slider-block {
		border-bottom: none;
	}
	
	.home-intro {
		background: none;
		padding: 40px 0 20px;
	}
	
	.home-services .flex-viewport li .desc {
	}
	
	.home-services .flex-viewport li .desc h3,.home-services .flex-viewport li .desc h3 a {
		font-size: 12px;
	}
	
	/* Hide the default search form */
	#block-search-form,#search-block-form {
		display: none;
	}
	
	/* Hide the default (nice) menu */
	#block-nice-menus-1 {
		display: none;
	}
	
	header #navigation {
		right: auto;
		left: 0;
	}
	
	.btn-mobile-search {
		float: right;
		display: block;
		font-size: 0;
		text-indent: -9999px;
		height: auto;
	}
	
	.btn-mobile-search .content p {
		margin-bottom: 0;
	}
	
	.btn-mobile-search .content a {
		background: url(../images/search-white.png) no-repeat center center;
		height: 60px;
		width: 30px;
		display: block;
	}
	
	.btn-mobile-menu {
		margin: 0;
		display: block;
		float: left;
		height: 60px;
	}
	
	.btn-mobile-menu ul {
		margin: 0;
		padding: 0;
		text-indent: -60px;
		overflow: hidden;
	}
	
	.btn-mobile-menu .content a {
		display: block;
		line-height: 60px;
		background: url(../images/mobile-menu-button.png) no-repeat center center;
		width: 34px;
		height: 60px;
	}
	
	#block-views-news-block {
		margin-top: 40px;
	}
	
	#block-views-news-block .views-row {
		padding-bottom: 25px;
	}
	
	#block-views-news-block .more-link {
		text-align: left;
		display: inherit;
		padding-bottom: 40px;
	}
	
	/* Home Services Section */
	.home-services { display: none; }
	.mobile-home-services {
		display: inherit;
	}
	.mobile-home-services .desc {
		padding: 10px 5px;
	}
	.mobile-home-services h3 {
		margin-bottom: 0;
	}
	.mobile-home-services h3 a {
		font-size: 12px;
	}
	.mobile-home-services.everslider {
		background: none;
	}
	.mobile-home-services .content {
		width: 200px;
		height: 177px;
		overflow: hidden;
		margin: 0 auto;
	}
	
	/* Home Hero Slider */
	.slider-desc {
		display: none;
	}
	
	.home-products li h3 {
		padding-top: 0;
		padding-bottom: 0;
		font-size: 10px;
		height: 24px;
	}
	
	.home-products li h3 a:after {
		font-size: 13px;
		line-height: 13px;
	}

  /* Home Product Spotlight */
	.view-homepage-product-spotlight .view-content {
		width: 80%;
		margin: 0 auto;
	}
	.view-homepage-product-spotlight .fullwidth-slider .fullwidth-title {
		border: none;
		box-shadow: none;
		text-align: center;
	}
	.view-homepage-product-spotlight .fullwidth-slider .es-navigation {
		display: none;
	}
	
	/* Content Area
	-------------------------------------------------- */
	.mediapage {
		height: auto;
	}
	.mediapage > .mediaobj,
	.mediapage > .mediadesc{
		width: 100%;
	}
	.mediapage > .expand {
		display: inherit;
		font-size: 20px;
		font-weight: bold;
		color: #000;
		margin: 10px;
		cursor: pointer;
	}
	.mediapage > .mediadesc {
		display: none;
	}
	.mediapage > .mediadesc > p {
		padding-left: 15px;
		padding-right: 15px;
	}
	.mediapage > .mediadesc > p:first-child {
		padding-top: 15px;
	}
	.mediapage > .mediadesc > p:last-child {
		padding-bottom: 15px;
	}
	.node-type-image-page .mediapage,
        .node-type-video-page .mediapage {
		height: inherit;
	}
  .node-type-video-page .mediapage .mediaobj {
	  height: 236px;
  }

  /* Contact Us Page
  ------------------------------------------------- */
  table.directory-table {
    width: 100%;
    /* margin-bottom: 0; */
  }
  .directory-table caption {
    font-size:larger;
    margin-bottom: 10px;
  }
  .directory-table tbody {
    border: none;
  }
  .directory-table tr {
    display: block;
    margin-bottom: 10px;
  }
  .directory-table td {
    display:block;
    border: none;
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  .directory-table tr,
  .directory-table td {
    line-height: 100%;
  }
  .directory-table td a {
    line-height: 130%;
  }

  .directory-table td.company {
    font-size: larger;
  }
	
	/* Footer Area
	------------------------------------------------- */
	#footer-nav {
		display: none;
	}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	#block-views-news-block .view-content a {
		width: 340px;
	}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	#block-views-news-block .view-content a {
		width: 220px;
	}
	
	.home-products li h3 {
		font-size: 8px;
	}

	/* Homepage Product Spotlight */
	.view-homepage-product-spotlight .fullwidth-slider .fullwidth-title p {
		margin-bottom: 0;
	}
}

/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */
/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
