/*
 * jQuery FlexSlider v1.8
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

/* Browser Resets */
/*.flex-container a,
.flexslider a,*/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display:none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides > li:first-child{display:block;}/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {max-width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {background: #fff; position: relative; zoom: 1;}
.flexslider .slides {zoom: 1; }
.flexslider .slides > li {position: relative;}
/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
.flex-container {zoom: 1; position: relative;}

/* Caption style */
/* IE rgba() hack */
.flex-caption {background:none;}
/*.flex-caption {width: 96%; padding: 2%; margin: 0; position: absolute; left: 0; bottom: 0; background: rgba(0,0,0,.3); color: #fff; text-shadow: 0 -1px 0 rgba(0,0,0,.3); font-size: 14px; line-height: 18px;}*/

/* Direction Nav */
.flex-direction-nav { height: 0; }
.flex-direction-nav a {width: 52px; height: 52px; margin: -13px 0 0; display: block; background: url(Unknown_83_filename)/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/css/theme/bg_direction_nav.png*/ no-repeat; position: absolute; top: 50%; cursor: pointer; text-indent: -999em;}
.flex-direction-nav .flex-next {background-position: -52px 0; right: -21px;}
.flex-direction-nav .flex-prev {left: -20px;}
.flex-direction-nav .flex-disabled {opacity: .3; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */

.flex-control-nav {position: absolute; bottom: 0px; right:0px; text-align: center;}
.lt-ie8 .flex-control-nav {width: 100%; right:20px; text-align:right;}
.lt-ie8 .flex-control-nav li a{line-height:0; overflow:hidden;}
.flex-control-nav a {display: block;}
.flex-control-nav li {margin: 0 0 0 5px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-nav li:first-child {margin: 0;}
.flex-control-nav li {width: 10px; height: 10px; cursor: pointer; text-indent: -999em;}
.flex-control-nav{
    position:absolute;
    bottom:20px;
    right:20px;
    text-align: center;
    z-index:100;
}
.flex-control-nav li a,
.flex-control-nav li a:focus
.flex-control-nav li a:active {
    position:relative;
    float:left;
    font-size: 1px;
    text-indent:-9999px;
    margin: 0 5px 0 0;
    width:10px;
    height:10px;
    background: url(plugins/jcarousel/skins/kelloggshero/bg-pagination.png)/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/css/plugins/jcarousel/skins/kelloggshero/bg-pagination.png*/ no-repeat left top;
}
.flex-control-nav li a span{
    position:absolute;
    bottom:0;
    left:0;
    width:10px;
    height:10px;
    overflow:hidden;
}
.flex-control-nav li a.active span{
    background: transparent url(plugins/jcarousel/skins/kelloggshero/bg-pagination-selected.png)/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/css/plugins/jcarousel/skins/kelloggshero/bg-pagination-selected.png*/ no-repeat left bottom;
}



/* Override Styles*/
.flexslider{overflow:visible !important;}
.flex-control-nav {position: absolute; bottom: 20px; right: 20px;}
.flex-caption{height:305px; overflow:hidden; position:absolute; right:0; top:0; width:300px; padding-right:20px;}
.flex-caption h1{ font-size:3.5em; font-weight:bold; margin-bottom:0px;}
.lt-ie8 .flex-caption h1{margin-top:25px;}
.flex-caption h2{ font-size:2em; font-weight:bold; margin-top:-12px; margin-bottom:2px;  }
.flex-caption p{ font-size:1em; margin-top:0px;}
.flex-caption .learnmore{font-size:1.4em; margin:10px 5px 0px 0px; float:right; padding-right:10px; background: url(../img/global/arrow_white.png)/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/global/arrow_white.png*/ no-repeat right 9px;}
.flex-caption.item1 h1{color:#117361;}
.flex-caption.item2 h1{color:#eeaf30;}
.flex-caption.item3 h1{color:#033574    }
.flex-caption.item1 p,
.flex-caption.item1 .learnmore{color:#288054;}
.flex-caption.item2 p{color:#fff;}
.flex-caption.item3 p{color:#fff;}
.flex-caption.item2 h2,
.flex-caption.item2 .learnmore{color:#fcd900;}
.flex-caption.item3 h2,
.flex-caption.item3 .learnmore{color:#5f56ae;}
.flex-direction-nav li .prev{left:-29px; top:110px; background:url("../img/carousel/home_carousel_big_left.png")/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/carousel/home_carousel_big_left.png*/ no-repeat scroll left center transparent; height:118px; width:29px; position:absolute; }
.flex-direction-nav li .next{right:-29px; top:110px; background:url("../img/carousel/home_carousel_big_right.png")/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/carousel/home_carousel_big_right.png*/ no-repeat scroll right center transparent; height:118px; width:29px; position:absolute; }
.brand-main .flexslider {width:430px; margin:auto; overflow:hidden; background:transparent;}
.brand-main .flexslider .slides img{width:135px; display:inline-block;}
.brand-main .flex-control-nav{display:none;}
.brand-main .flexslider .slides li:first-child{margin-left:-38px;}
.brand-main .flex-direction-nav li .prev{left:-32px; top:20px; background:url("plugins/jcarousel/skins/kelloggshero/brand-prev-horizontal.png")/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/css/plugins/jcarousel/skins/kelloggshero/brand-prev-horizontal.png*/ no-repeat scroll left center transparent; height:160px; width:29px; position:absolute; }
.brand-main .flex-direction-nav li .next{right:-18px; top:20px; background:url("plugins/jcarousel/skins/kelloggshero/brand-next-horizontal.png")/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/css/plugins/jcarousel/skins/kelloggshero/brand-next-horizontal.png*/ no-repeat scroll right center transparent; height:160px; width:29px; position:absolute; }
.brand-main .slides{position:relative; top:15px; left:39px; height:125px;}
.brand-main .learnmore{border-top:medium double #DDDDDD; margin:7px; text-align:center; padding:5px; }
.brand-main .learnmore a{ background:url("../img/common_images/btn_arrow.gif")/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/common_images/btn_arrow.gif*/ no-repeat scroll right 5px transparent; padding-right:10px;}
.ie9 .brand-main .learnmore a{ background:url("../img/common_images/btn_arrow.gif")/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/common_images/btn_arrow.gif*/ no-repeat scroll right 3px transparent;}
.brand-main .flexslider .slides  a:hover{text-decoration:none;} 
.flex-caption .learnmore{font-family:"KSansMedium","Lucida Grande","Lucida","Trebuchet MS","Arial", sans-serif;}