#utility-links-list > li.has-dropdown:hover > a > span{
border-bottom:4px solid #FEFEFE;
}

#utility-links-list > li > a > span{
display:inline-block;
padding:8px 16px 3px 8px;
}

#utility-links-list > li.has-dropdown:hover > a{
background-color:#fefefe;
border-color:#cfcfcf;
border-radius:8px 8px 0 0;
-moz-border-radius:8px 8px 0 0;
-webkit-border-radius:8px 8px 0 0;
box-shadow:0 0 1px 1px rgba(209, 209, 209, 0.6);
-moz-box-shadow:0 0 1px 1px rgba(209, 209, 209, 0.6);
-webkit-box-shadow:0 0 1px 1px rgba(209, 209, 209, 0.6);
z-index:102;
}

#utility-links-list > li.has-dropdown:hover > .utility-links-dropdown{
display:block;
}


#account-access:hover #account-access-dropdown{
display:block;
}


#nav-primary-list > li:hover .nav-primary-dropdown{
display:block;
}

#nav-primary-list > li > a:hover{
padding-bottom:20px;
}


.dropdown-swapper-body, .dropdown-swapper-header{
display:block !important;
position:static;
}

.select-hig-style{
overflow:hidden;
padding-right:15px;
}

#nav-primary-list,
#utility-links-list,
.content-tab-title,
.hig-accordian .sliding,
.dropdown-list{
display:block !important;
}

#account-access-link, #account-access-button, .has-dropdown > a {
cursor:pointer !important;
}

#utility-links-list > li.has-dropdown:hover{
background-color:#fefefe;
border-color:#cfcfcf;

border-radius:8px 8px 0 0;
-moz-border-radius:8px 8px 0 0;
-webkit-border-radius:8px 8px 0 0;

box-shadow:0 0 1px 1px rgba(209, 209, 209, 0.6);
-moz-box-shadow:0 0 1px 1px rgba(209, 209, 209, 0.6);
-webkit-box-shadow:0 0 1px 1px rgba(209, 209, 209, 0.6);

z-index:102;
}