/*
This next style sheet and the JavaScript that follows it is temporary.  Once the links at the bottom of the 
top section of the home page flyouts have been built out, it won't be necessary (though it also won't be harmful
*/
/* for incomplete links at the bottom of the top section of the home page flyouts */
.feat-nav-on .top .links span {
	background: #FFF no-repeat right 3px;
	color: #939393;
	font-weight: bold;
	margin: 0 0 0 19px;
	padding: 0 8px 0 0;
	text-decoration: none;
}

/* remove bullets from list tout */
#content .side-tout .text ul, #btm_section .text ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
#content .side-tout .text ul a, #btm_section .text ul a {
	margin-top: 4px !important;
}

.fb-description {display: none;}

/* Custom */
#video-custom {
	font-family: Verdana, Tahoma, sans-serif;
	padding: 0;
	margin: -14px 0 0 0;
	position: relative;
}

#video-caption {
	background: #e31f35;
	color: #FFF;
	font-size: 11px;
	margin: 0 0 0 0;
	padding: 15px 14px;
	text-align: left;
}

.page-gallery-title #fancybox-right-ico, .page-gallery-title #next {
	position: static;
	float: right;
	margin: 0;
	display: block;
	cursor: pointer;
	font-size: 24px;
	font-weight: bold;
}

.page-gallery-title #fancybox-left-ico, .page-gallery-title #prev {
	position: static;
	float: left;
	margin: 0;
	display: block;
	cursor: pointer;
	font-size: 24px;
	font-weight: bold;
}

.page-gallery-title {
	min-height: 28px;
	background-color: #e31f35;
	color: white;
	padding: 10px;
}

#page-gallery-caption {
	font-size: 16px;
	padding-top: 5px;
}

/* to fix IE2 issues */
.home #content {z-index: 1;}
div.home#main #content h2 {color: white;}

/* home page top nav shadow fix */
#nav {font-size: 0;}
.feat-nav-on {font-size: 12px;}

/* 
 *	creative adjustments 
 */

#footer-legal .sizer A, #footer-legal .sizer A:visited {text-decoration: none;}

#footer-legal .sizer A.sm { font-weight: normal;}
#footer-legal .sizer A.md { font-weight: bold;}
#footer-legal .sizer A.lg { font-weight: normal;}

/* Site Map Styles */
	
#sitemap ul { float: left; list-style-type: none; padding: 0; margin: 0 0 0 40px; width: 200px;}
#sitemap ul:first-child {margin: 0;}
#sitemap ul .hide {display: none;}
#sitemap ul li.level2 {padding-left: 20px;}
#sitemap ul li a,
#sitemap ul li a:visited {font-weight: normal;}
#sitemap ul li a:hover {text-decoration: underline; color: #e41f35;}

#sitemap ul li.highlight,
#sitemap ul li.highlight a,
#sitemap ul li.highlight a:visited { font-weight: bold; }
#sitemap ul li.vertical-space {margin-top: 15px;}





/* Added the following for new expandable menu for speciality solution */

.expandable-group1{
    margin: 0 0 25px;
    width: 440px;
}
.expandable-group1 h2 {
    color: #2E2E2F !important;
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 4px;
    padding-bottom: 14px;
    width: 440px;
}
.expandable-group1 .expandable-intro1{
    margin: -11px 0 12px;
}
.expandable1 {
    margin: 0 0 2px;
}
.expandable1 .title1 {
	background: url("../../../themes/html/Cardinal/images/sidebar/nav/arrow_off.gif")/*tpa=http://www.cardinal.com/mps/themes/html/Cardinal/images/sidebar/nav/arrow_off.gif*/ no-repeat scroll 0 5px transparent;
    color: #907736;
    cursor: pointer;
    display: block;
    font-family: Verdana,Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: bold;
    /*height: 18px;*/
    margin: 2px 0;
    padding: 4px 12px 15px 0;
    width: 398px;
	border-bottom: 1px solid #c8c8d2;
}
.expandable1 .title1-seperator {
	
	/*padding: 0 0 5px;*/
}
.expandable1 div.text1 {
    /*height: 16px;*/
    /*overflow: hidden;*/
	padding: 0 12px;
}

.expandable1 .title1:hover {
    color: #2E2E2F;
}
.expandable1 .title1.open1 {
    background: url("../../../themes/html/Cardinal/images/sidebar/nav/arrow_open.gif")/*tpa=http://www.cardinal.com/mps/themes/html/Cardinal/images/sidebar/nav/arrow_open.gif*/ no-repeat scroll 0 3px transparent;
}
.expandable1 .copy1 {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #2E2E2F;
    display: none;
    font-size: 11px;
    line-height: 14px;
    padding: 12px;
}
.expandable1 .copy1.open1 {
    display: block;
}
.collapse1 {
    margin: 10px 0;
}

/* End of new expandable menu style */

/* New CSS required for -SpecialtySolutions */

.h2-border-bottom {
border-bottom: 1px solid #c8c8d2;
width: 440px;
} 

/* End of New CSS required for -SpecialtySolutions */

/* NAV-Overview -SpecialtySolutions styles */

.overview-navigation1 {
	overflow: auto;
	margin: 16px 0 0 0;
	padding-bottom: 16px;
}
.overview-navigation1 .hide {
	display: none;
}
#content .overview-entry1
{
	border-top: 1px solid #c8c8d2;
	margin: 16px 0 0 0;
	padding: 16px 0 0 0;
	width: 440px;
}
#content .overview-entry1 .left {
	float: left;
	position: relative;
	text-align: left;
	vertical-align: top;
	padding: 0 0 0 16px;
	/*width: 110px;*/
}
#content .overview-entry1 .right {
	color: #000;
	float: left;
	font-size: 11px;
	padding: 0 16px 0 20px;
	position: relative;
	text-align: left;
	vertical-align: top;
	width: 350px;
}
#content .overview-entry1 .right .title {
	
	font-weight: bold;
	padding-bottom: 8px;
}
/* End of NAV-Overview -SpecialtySolutions styles */



/*******************
	New sidebar1
*******************/
#sidebar1 {
	background: #FFF;
	float: left;
	margin: 25px 0 60px 3px;
	position: relative;
	width: 292px;
}

/* Nav */
#sidebar1 .nav1 {
	background: #FFF;
	font-size: 0;
	margin: 0 0 13px 34px;
	width: 221px;
}

#sidebar1 .nav1 img { 
	vertical-align: top;
	border-bottom: 1px #eeeeee solid;
}

#sidebar1 .nav1 .navBlock1 {
	background: #FFF;
	display: block;
	margin: 0;
	padding: 5px 0 7px 10px;
	position: relative;
}

#sidebar1 .nav1 .navBlock1.current1 { 
	background: #eeeeee !important;
}

#sidebar1 .nav1 .navBlock1 .navArrow1 {
	float: left;
	position: relative;
	width: 15px;
	height: 18px;
	margin-top: -4px;
}

#sidebar1 .nav1 .navBlock1.open1 {
	/*background: #FFF url(/mps/themes/html/Cardinal/images/common/line_dots_h.gif) no-repeat center bottom;*/
}


#sidebar1 .nav1 .navBlock1 .navArrow1.closed1 {
	background: transparent url(../../../themes/html/Cardinal/images/sidebar/nav/arrow_off.gif)/*tpa=http://www.cardinal.com/mps/themes/html/Cardinal/images/sidebar/nav/arrow_off.gif*/ no-repeat 0 4px;
	cursor: pointer;
}

#sidebar1 .nav1 .navBlock1 .navArrow1.open1 {
	background: transparent url(../../../themes/html/Cardinal/images/sidebar/nav/arrow_open.gif)/*tpa=http://www.cardinal.com/mps/themes/html/Cardinal/images/sidebar/nav/arrow_open.gif*/ no-repeat 0 4px;
}

#sidebar1 .nav1 ul.buttons1 {
	list-style: none;
	margin: 0 0 0 -50px;
}

#sidebar1 .nav1 ul.buttons1 li {
	/*background: #FFF url(/mps/themes/html/Cardinal/images/common/line_dots_h.gif) no-repeat center bottom;*/
	border-top: 1px solid #C8C8D2;
	padding: 0;
}

#sidebar1 .nav1 ul.buttons1 li.last1 {}


#sidebar1 .nav1 ul.buttons1 li.open1 .navBlock1 {
	/*background: #FFF url(/mps/themes/html/Cardinal/images/sidebar/nav/bg_nav_selected.gif) no-repeat;*/
}

#sidebar1 .nav1 a.link1, 
#sidebar1 .nav1 a.link1:visited {
	background: none;
	color: #346170;
	display: inline;
	float: left;
	font-size: 11px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	position: relative;
	text-decoration: none;
	width: 202px;
}

#sidebar1 .nav1 a.link1:hover {
	text-decoration: underline;
}

#sidebar1 .nav1 a.link1.open1,
#sidebar1 .nav1 a.link1.open1:visited {
	color: #e41f35;
	padding: 0;
}

#sidebar1 ul.subnav1 {
	background: transparent;
	display: none;
	list-style: none;
	margin: 0 0 0 -40px;
}

#sidebar1 .nav1 ul.subnav1.open1 {
	display: block;
}

#sidebar1 .nav1 ul.subnav1 li {
	/*background: transparent url(/mps/themes/html/Cardinal/images/common/line_dots_h_sub.gif) no-repeat center bottom;*/
	border: none;
	padding: 0;
}

#sidebar1 ul.subnav1 li.sub1.last1 {
	background: none;
	border: none;
}

#sidebar1 ul.subnav1 a,
#sidebar1 ul.subnav1 a:visited {
	background: none;
	color: #346170;
	display: block;
	font-size: 11px;
	font-weight: normal;
	margin: 0 0 0 11px;
	padding: 4px 0 4px 8px;
	text-decoration: none;
	width: 200px;
}

#sidebar1 ul.subnav1 a:hover {
	text-decoration: underline;
}

/* sub1 nav */
#sidebar1 .nav1 .subNavBlock1 {
	background: none;
	display: block;
	margin: 0;
	padding: 5px 0 7px 10px;
	position: relative;
}

#sidebar1 .nav1 .subNavBlock1.current1 {
	background: #eeeeee !important;
}

#sidebar1 .nav1 .subNavBlock1 .navArrow1 {
	float: left;
	position: relative;
	width: 15px;
	height: 18px;
	margin-top: -4px;
}

#sidebar1 .nav1 .subNavBlock1.open1 {
	/*background: transparent url(/mps/themes/html/Cardinal/images/common/line_dots_h.gif) no-repeat center bottom;*/
}

#sidebar1 .nav1 .subNavBlock1 .navArrow1.closed1 {
	background: transparent url(../../../themes/html/Cardinal/images/sidebar/nav/sub_arrow_off.gif)/*tpa=http://www.cardinal.com/mps/themes/html/Cardinal/images/sidebar/nav/sub_arrow_off.gif*/ no-repeat 0 4px;
	cursor: pointer;
}

#sidebar1 .nav1 .subNavBlock1 .navArrow1.open1 {
	background: transparent url(../../../themes/html/Cardinal/images/sidebar/nav/sub_arrow_open.gif)/*tpa=http://www.cardinal.com/mps/themes/html/Cardinal/images/sidebar/nav/sub_arrow_open.gif*/ no-repeat 0 4px;
}

#sidebar1 .nav1 a.sub-link1, 
#sidebar1 .nav1 a.sub-link1:visited {
	background: transparent;
	color: #346170;
	display: inline;
	float: left;
	font-size: 11px;
	font-weight: normal;
	padding: 0;
	margin: 0;
	position: relative;
	text-decoration: none;
	width: 202px;
}

#sidebar1 .nav1 a.sub-link1:hover {
	text-decoration: underline;
}

#sidebar1 .nav1 a.sub-link1.open1,
#sidebar1 .nav1 a.sub-link1.open1:visited {
	color: #e41f35;
	padding: 0;
}
/* Section Nav */
#sidebar1 .sectionNav1 {
	margin: 0 0 22px 20px;
	width: 256px;
}
#sidebar1 .sectionNav1 ul.buttons1 {
	font-size: 1px;
	line-height: 0;
	list-style: none;
	margin: 0 0 0 -20px;
}
/*******************
End of New sidebar1
*******************/

/* top banner */

#topbanner {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    margin: 45px 0 0 26px;
    position: relative;
    width: 971px;
}

/* for top banner images */

#topbannerImages {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    margin: 45px 0 0 26px;
    position: relative;
    width: 971px;
}






