 

[id*=EarningsContainer] .ir-event-newsrelease,
[id*=EarningsContainer] .ir-event-webcast,
[id*=EarningsContainer] .ir-event-slides, 
[id*=EarningsContainer] .ir-event-transcript, 
[id*=EarningsContainer] .ir-event-supplemental, 
[id*=EarningsContainer] .ir-event-transcript { border: solid 1px #c4c4c4; }

[id*=EarningsContainer] .ir-event-header { background: #2E2E2E; border-top: 1px solid #c4c4c4;}
[id*=EarningsContainer] .ir-event-item { padding: 10px;  padding-top: 12px; padding-bottom: 12px; }
[id*=EarningsContainer] .ir-event-header .ir-event-item { padding-top: 3px; padding-bottom: 3px; }
[id*=EarningsContainer] .quarter-container{ padding-bottom: 2px;}

[id*=EarningsContainer] .buttons-section{ padding-top: 15px; }

@-moz-document url-prefix() {
	[id*=InvRevEPPanel]  .past-events-title-container{ width: 100% !important}
}

.ir-event-item{  padding: 1px;}
div.ir-event-item-inline{ display: inline-block; width: auto;}