/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {padding: 0; list-style: none;}
.flex-control-nav {margin-top:10px; margin-bottom:0;}

/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
	font-family: 'flexslider-icon';
	src:url('../fonts/flexslider-icon.eot')/*tpa=http://www.paccar.com/fonts/flexslider-icon.eot*/;
	src:url('../fonts/flexslider-icon.eot-#iefix')/*tpa=http://www.paccar.com/fonts/flexslider-icon.eot?#iefix*/ format('embedded-opentype'),
		url('../fonts/flexslider-icon.woff')/*tpa=http://www.paccar.com/fonts/flexslider-icon.woff*/ format('woff'),
		local('â˜º'), url('../fonts/flexslider-icon.ttf')/*tpa=http://www.paccar.com/fonts/flexslider-icon.ttf*/ format('truetype'),
		url('../fonts/flexslider-icon.svg#flexslider-icon')/*tpa=http://www.paccar.com/fonts/flexslider-icon.svg#flexslider-icon*/ format('svg');
	font-weight: normal;
	font-style: normal;
}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider ul.slides {margin-left:0; margin-bottom: 0; } 
.flexslider ul li {list-style-type:none !important;}
.flexslider .slides > li {display: none; padding-left: 0; } /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider { margin: 0 0 0px; position: relative;  zoom: 1;padding-left: 0;  }
.flex-viewport { -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
@media screen and (max-width: 20em){.flexslider {width:290px;text-align:center;}.flex-viewport {max-height:500px;}}
.loading .flex-viewport { max-height: 500px; }
.flexslider .slides {  }
.carousel li { margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {*height: 0;font-weight:bold;zoom:1;}
.flex-direction-nav a  { 
	text-decoration:none; display: block; width: 30px; height:50px; margin: -40px; position: absolute; top: 40%; z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; color: #999; text-shadow: 1px 1px 0 rgba(255,255,255,0.3); -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease;text-align: center; }
.flex-direction-nav .flex-prev { left: 10px; }
.flex-direction-nav .flex-next { right: 10px;}
.flexslider:hover .flex-prev { opacity: 0.7;left: 10px;}			
.flexslider:hover .flex-next { opacity: 0.7; right: 10px; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }
.flex-direction-nav a:before  { font-family: "flexslider-icon"; font-size: 30px; display: inline-block; content: '\f001';}
.flex-direction-nav a.flex-next:before  { content: '\f002'; }


/* Pause/Play */
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
.flex-pauseplay a:before  { font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004';background: url(../img/arrow-right.png)/*tpa=http://www.paccar.com/img/arrow-right.png*/ 0 0; }
.flex-pauseplay a:hover  { opacity: 1; }
.flex-pauseplay a.flex-play:before { content: '\f003';background: url(../img/arrow-left.png)/*tpa=http://www.paccar.com/img/arrow-left.png*/ 0 0;  }

/* Control Nav */
.flex-control-nav {width: 100%; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background-color: #666; background-color: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); box-shadow: inset 0 0 3px rgba(0,0,0,0.3); }
.flex-control-paging li a:hover { background-color: #333; background-color: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background-color: #000; background-color: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
  .flex-direction-nav .flex-next { opacity: 1; right: 10px;}
}
@media screen and (min-width: 59em) {
	.flexslider .flex-viewport {
		max-width: 725px;
	}
}
@media screen and (max-width: 32em){
.flex-direction-nav a  { 
	text-decoration:none; display: block; width: 20px; height: 40px; margin: -20px 0 0; position: absolute; top: 25%; z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; color: #999; text-shadow: 1px 1px 0 rgba(255,255,255,0.3); -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; }
/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
