/* To hide elements in page for print */

/* Top Nav */
	.feed, .form-search, .top-bar, .top-bar-section, .toggle-topbar, .menu-icon   {display:none !important;}
    .breadcrumbs {display:block !important;}

/* Left Sub Nav */
	.iefix {display:none !important;}	

/* Images and typeface */
	html, body {font-size:12px; line-height:15px;}
	img {align:left; float: left; width:30%; height:auto; padding:20px;}

/* Footer and Logos */
	#footer, .title, .headline, .logo-pad, .tech {display:none !important;}
	.footer-tag {font-size:9px; margin-right:20px;}

/* Careers */
#world-map {display:block !important;}

/* About */
.slide-name1 {font-size:18px;float:left;margin:0;}
.slide-text2 {font-size:12px;line-height:15px;}
/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
