/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
h1 {
color:#0053bf; font-size: 44px;  font-size: 2.75rem; line-height: 1.4;
}

h2 {
color:#0053bf;  font-size: 37px; font-size: 2.3125rem; line-height: 1.4;
}

h3 {
line-height: 1.4; color:#0053bf; font-size: 27px; font-size: 1.6875rem;
}

h4 {
color:#0053bf; line-height: 1.4; font-size: 23px;
}

.quote {
font: italic 300 12px/19px "Roboto", Helvetica, Arial, sans-serif;   font: italic 300 .75rem/1.2rem "Roboto", Helvetica, Arial, sans-serif;   margin: 19px 0 19px 0 ;   margin: 1.2rem 0 1.2rem 0 ; 
}

.small-text {
font-size:12px; font-size:0.75rem; line-height:1.4; margin: 6px 0 14px 0;
}

.date {
font:normal 500 10px/12px "Roboto", Helvetica, Arial, sans-serif; font:normal 500 .625rem/.75rem "Roboto", Helvetica, Arial, sans-serif;
}

