/*
  PIE.htc: is a behavior file for IE, the path to this file is relative to the
  HTML file being viewed, not the CSS file it is called from.
*/

@charset "UTF-8";
/* CSS Document */
/* reset css v1.0 | 20080212 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
/* remember to define focus styles! */
:focus {outline: 0;}
/* remember to highlight inserts somehow! */
ins {text-decoration: none;}
del {text-decoration: line-through;}
/* tables still need 'cellspacing="0"' in the markup */
table {border-collapse: collapse; border-spacing: 0;}
table td {color: #555555;}
*html {margin:0; padding:0; }
body {margin: 0; padding: 0; font: normal 12px Verdana, Arial, Helvetica, sans-serif; background:#fff; line-height:1.5; letter-spacing:normal; vertical-align:baseline;}
/* *:first-child + html body {font-weight:bold;}*/
* {outline: none;}
img {border: 0;}
/*--[if IE]*/
.clearfix:after{content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clearfix {zoom: 1;}/* triggers hasLayout */
/* Only IE can see inside the conditional comment
    and read this CSS rule. Don't ever use a normal HTML
    comment inside the CC or it will close prematurely. */
.clear-both {
  clear:both;
}
/*----------- main wrappers ---------------*/
.container {
  position:relative;
  width: 1000px;
  min-height:768px;
  padding: 5px;
  margin: 0 auto;
  clear:both;
  overflow: hidden;
}
#sub #tabWrapper {
  z-index:998;
  height:80px;
  width:1000px;
  float:left;
  clear:both;
  margin:0;
  padding: 0;
  top: 32px;
}
#content {
  width:1000px;
  height:auto;
  margin:0 auto;
  padding:0;
  position:relative;
  float:left;
  clear:both;
}
.contentWrapper {
  position:relative;
  float:left;
  width:100%;
  height:auto;
  margin:15px 0;
}

#block-container{
  display: table-row;
  margin: 0 0 50px;
  table-layout: fixed;
  width: 100%;
}
.content-block {
  border-collapse: separate;
  display: table-cell;
  vertical-align: top;
  position: relative;
}
/*----------- text formatting ---------------*/
h1 {
  font-family:Arial, Helvetica, sans-serif;
  font-size:2.2em;
  font-weight:normal;
  color:#000;
  margin:10px 0 10px 0;
  clear:both;
}
h2 {
  font-family:Arial, Helvetica, sans-serif;
  font-size:1.6em;
  font-weight:normal;
  color:#333333;
  margin:0 0 10px 0;
  line-height:1.25;
  clear:both;
}
h3 {
  font-family:Arial, Helvetica, sans-serif;
  font-size:1.3em;
  font-weight:normal;
  color:#000;
  margin:0 0 5px 0;
  line-height:1.25;
  display:block;
  clear:both;
  vertical-align:middle;
}
h4 {
  font-family:Arial, Helvetica, sans-serif;
  font-size:1.1em;
  font-weight:normal;
  color:#333;
  margin:0 0 5px 0;
  line-height:1.25;
  display:block;
  clear:both;
}
h5 {
  font-family:Arial, Helvetica, sans-serif;
  font-size:1.3em;
  font-weight:normal;
  color:#fff;
  background:#2d2d2d;
  margin:0 0 5px 0;
  line-height:1.25;
  display:block;
  clear:both;
  vertical-align:middle;
  padding:5px;
}
p {
  font-size:1em;
  color:#555555;
  /*  text-shadow:1px 1px #ffffff;*/
  margin:0 0 10px 0;
  clear:both;
  *clear:both;
}
hr {
  border:0;
  border-top:1px solid #999999;
  width: 99%;
  margin:10px 0 10px 0;
}
a {
   color: #005BD8;
   text-decoration: none;
}
a:active, a:visited {
   color: #1B4384;
   text-decoration: none;
}
a:hover {
  color:#0072C6;
  text-decoration:none;
}
/*----------- Header ---------------*/
#logo {
  border: medium none;
  clear: none;
  display: block;
  float: left;
  height: 70px;
  margin: 0;
  padding: 0;
  position: relative;
  text-decoration: none;
  width: 155px;
  z-index: 500;
}
#logo img {
  padding:0;
  margin:0;
}
#admin-menu {
  filter: none;
}
#menu{
  margin: 0;
  padding: 10px 0 0;
  clear: both;
  float:left;
}
#login {
  float:right;
  min-width: 250px;
}
#login li {
  float:left;
  margin: 0 5px;
  list-style: none outside none;
}
#menu li {
  padding: 0;
  margin: 0;
  float: left;
  /*position: relative;*/
  background: none;
  width:auto;
}
#menu a, #menu a span {
  /*position: absolute;*/
  top: 0;
  left: 0;
  overflow: hidden;
  /*z-index: 10; */
  cursor: pointer; /* fixes IE6 bug */
  font-size: 1.2em;
  color:#0054A4;
  font-family:Arial, Helvetica, sans-serif;
}
#menu a {
  /*line-height: 69px;*/
  text-align: center;
  margin-right: 30px;
  padding: 0 20px 0 0;
  background: url("../images/asc.gif") no-repeat right 10px;
  /*text-indent: -9999px;*/
}
#menu li, #menu a, #menu a span {
  display: block;
  height: 40px;
}
#menu a span {
  /* POINT TO LOCALIZED IMAGE */
  /*background: url("../images/nav.png") no-repeat 0 -5px;*/
}
#menu ul ul {
  margin: 0;
  padding: 1.2em 0;
  position: absolute;
  display: none;
  width: auto;
  min-width: 188px;
  z-index: 200;
  background-color: #333;
  background-color: rgba(45, 45, 45, 0.97);
  border: 0 solid #000;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-top-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  -ms-box-shadow: rgba(0, 0, 0, 0.8) 0 8px 40px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 4px 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 8px 40px;
}
#search {
  background-image: url("../images/searchbox.png");
  width: 240px;
  height: 25px;
  background-repeat: no-repeat;
  padding: 0;
  margin: 25px 0 0 0;
  position: relative;
  float: right;
}
#search form {
  width: 240px;
  display: inline;
}
form {
  float: left;
  margin: 30px 0;
  width: 760px;
}
div#search form input[type='text'] {
  background-color: #FFFFFF;
  border: 0px;
  font-size: 10px;
  height: 15px;
  position: absolute;
  top: 4px;
  left: 10px;
  width: 140px;
}
div#search form input[type='submit'] {
  cursor: pointer;
}
div#search form input[type='submit'] {
  background: url("../images/searchbox_submit.png") no-repeat scroll left top transparent;
  border: 0px;
  height: 25px;
  width: 90px;
  position: absolute;
  top: 0;
  left: 150px;
}
form input {
  font-size: 12px;
}
#banner {
  background: url("../images/loading.gif") no-repeat scroll 50% 50% transparent;
  float: left;
  margin: 0 0 20px;
  width: 1000px;
  clear: both;
}
.views-slideshow-cycle-main-frame {
  display: block;
}
.region-banner div .content {
  display: block;
}
#banner img {
  top:0px;
  left:0px;
  clear: both;
}
#banner a {
  z-index:60;
  border:0;
}
.nivoSlider {
  position:relative;
}
.nivoSlider img {
  top:0px;
  left:0px;
}
.nivoSlider a.nivo-imageLink {
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  border:0;
  padding:0;
  margin:0;
  z-index:60;
  /*display:none;*/
}
.nivo-slice {
  display:block;
  position:absolute;
  z-index:50;
  height:100%;
}
.banner-controlNav {
  bottom: 5px;
  position: absolute;
  right: 5px;
  z-index: 65;
}
.banner-controlNav a {
  background: url("../images/bullets.png") no-repeat scroll 0 0 transparent;
  border: 0 none;
  display: block;
  float: left;
  height: 24px;
  margin-right: 5px;
  text-indent: -9999px;
  width: 23px;
}
.banner-controlNav a.active {
  background-position: -24px 0;
}
/*----------- breadcrumb/print page/email page ---------------*/
#bread-crumb {
  position: relative;
  margin: 15px 10px 30px 10px;
  height: 24px;
  clear:both;
}
#bread-crumb ul,
#bread-crumb ol {
  margin: 0;
  padding: 0;
}
#bread-crumb ol {
  width: 830px;
}
#bread-crumb li {
  padding: 0;
  margin-right: 4px;
  display: inline;
  color: #565656;
  background: none;
}
#bread-crumb li * {
  vertical-align: bottom;
  color: #00BFBF;
}
#bread-crumb li a {
  margin-right: 6px;
  color: #00BFBF;
}
#bread-crumb li.category span {
  margin-right: 6px;
  color: #555555;
}
#bread-crumb li span {
  color: #000;
}
#bread-crumb .userOptions {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -5px;
}
#bread-crumb .userOptions li {
  margin-right: 0;
  margin-left: 14px;
  float: left;
}
#bread-crumb .userOptions li a {
  display: block;
  width: 22px;
  height: 24px;
  background: url(../images/icon-email.png) no-repeat left center;
}
#bread-crumb .userOptions li.print a {
  background: url(../images/icon-print.png) no-repeat left center;
}
#bread-crumb .userOptions li.share {
  margin-left: 7px;
}
#bread-crumb .userOptions li.share a {
  margin-right: 0;
  background-position: -44px 0;
}
#bread-crumb .userOptions li span {
  display: block;
  text-indent: -9999px;
}
.breadcrumb {
  max-width: 900px;
}
/*----------- left block container ---------------*/
#sidebar-first{
  width: 200px;
  float: left;
  margin: 0px 30px 10px 0px;
  display: table-cell;
  vertical-align: top;
  position: relative;
}
#sidebar-first .background_Yes {
  font-size: 0.9em;
}
#sidebar-first #block-views-left-block-list-block div.field-content div.title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  font-weight: normal;
  letter-spacing: normal;
  vertical-align: middle;
}
#left-menu-block{
  margin: 15px 30px 0 0;
  min-height: 10em;
  width: 200px;
}
/*Added #left-menu-block #block-system-navigation*/
#left-menu-block .block-menu,
#left-menu-block .block-menu  ul.menu,
#left-menu-block .block-domain-menu-block,
#left-menu-block .block-domain-menu-block  ul.menu {
  /*background: url("../images/highlight-dark-bkgd.png") repeat-x scroll left top #1E1E1E;*/
  background: #2f2f2f;
  /*clear: left;
  float: left;*/
  padding: 5px 0px;
  border-radius: 10px 10px 10px 10px;
  border-top-left-radius: 10px;
}
#block-domain-menu-block-main-links ul.menu li ul.menu {
  border-radius: 0;
  background: transparent;
  padding: 3px 0px;
}
ul#left-menu, ul#left-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
}
#left-menu-block .content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#left-menu-block .content ul li{
  list-style: none outside none
}
ul#left-menu li a {
  font-size: 1.1em;
}
#left-menu-block .content .menu li a {
  font-size: 0.9em;
}
ul.menu li {
   margin: 0;
}
ul#left-menu li a, #left-menu-block .content .menu li a {
  background: none repeat scroll 0 0 transparent;
  color: #FFFFFF;
  font-size: 1.1em;
  padding: 2px 5px;
  display: inline-block;
  padding: 5px 10px 5px 20px;
}
ul#left-menu a {
  display: inline-block;
  text-decoration: none;
}
ul#left-menu li a:hover {
  background: none;
  color:#fff;
}
ul#left-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  /*display:none;*/
}
ul#left-menu li ul li a {
  background: none repeat scroll 0 0 transparent;
  color: #FFFFFF;
  font-size: 0.9em;
  padding: 0 5px 5px 20px;
}
ul#left-menu li ul li a:hover {
  background:none;
  color:#3381ff;
  /*  border-left: 5px #000 solid;*/
  padding:0 5px 5px 20px;
}
ul#left-menu li:hover ul, ul#left-menu li.over ul { display: block; }
.selected { /*display: block;*/ }
.hide {display: none;}
/*---------- Left menu ----------*/
.block-domain-menu-block ul.menu {
  overflow: hidden;
}
.block-domain-menu-block ul.menu li {
  background: none repeat scroll 0 0 transparent;
  list-style: none outside none;
}
.block-domain-menu-block ul.menu li.expandable {
  background: url("../images/more-icon.png") no-repeat scroll 0px 10px transparent;
}
.block-domain-menu-block ul.menu li.collapsable {
  background: url("../images/less-icon.png") no-repeat scroll 0px 10px transparent;
}
.block-domain-menu-block ul.menu li div.hitarea {
  background: none;
  position: absolute;
  left: 0px;
  z-index: 1000;
  margin-left: 0px;
  width: 20px;
  height: 20px;
}
/*----------- central block container ---------------*/
#central-content-block{
  overflow: hidden;
  font-size: 1em;
  padding: 0;
  margin: 0 0 15px;
  *float:left;
  *display:inline-block;
  min-height: 10em;
  position: relative;
}
#central-content-block ul, .body ul, .boby ol {
  margin:0px 0px 10px 0px;
  text-indent:none;
  clear:both;
}
#central-content-block ul li {
  margin: 0px 0px 0px 20px;
  list-style-type: square !important;
  padding: 5px 0;
  color: #555555;
}
.body ul li {
  list-style-type: square !important;
  padding: 5px 0;
  margin: 0px 0px 0px 20px;
  color: #555555;
}
.body ol li {
  list-style-type: decimal !important;
  padding: 5px 0;
  margin: 0px 0px 0px 20px;
  color: #555555;
}
#sidebar-first img, #sidebar-second img {
  max-width: 170px !important;
}
/*----------- right block container ---------------*/
#sidebar-second {
  width: 230px !important;
  float: right;
  display: table-cell;
  vertical-align: top;
  position: relative;
}
#sidebar-second .background_Yes {
  font-size: 0.9em;
}
#sidebar-second #block-views-box-content-block-list-block div.field-content div.title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  font-weight: normal;
  letter-spacing: normal;
  vertical-align: middle;
}
#right-boxes-block {
  /*float: right;
  position: relative;*/
  /*width: 230px;*/
  vertical-align: top;
  margin: 0 0 0 20px;
  padding: 0;
  *float:right;
  *display:inline-block;
  min-height: 10em;
  position: relative;
}
.item-grey {
  width:100%;
  clear:both;
  margin: 15px 0 30px;
  /*background:url(/images/highlight-bkgd.png) top left repeat-x #f5f5f5;*/
  background: -moz-linear-gradient(center top, #e2e2e2 0pt, #f8f8f8 100%);
  background-color:#f5f5f5;
  background: -webkit-gradient(linear, center top, center bottom, from(#e2e2e2), to(#f8f8f8));
  border:1px #ccc solid;
  float:left;
}
#right-boxes-block .itemContent {
  position:relative;
  width:200px;
  margin:0;
  padding:15px;
  font-size:.9em;
}
#right-boxes-block img {
  padding: 5px;
  max-width: 170px !important;
}
#right-boxes-block p{
	margin-bottom: 0px;
}
/*----------- bottom container ---------------*/
#bottom-content-block{
  background:url("../images/footer-bkgd.png") top center no-repeat;
  overflow: hidden;
  padding: 15px 0;
  display: table;
  width: 100%;
}
#bottom-content-block .Row{
  width:auto;
  float:left;
  clear:none;
}
#bottom-content-block .Row.right{
  width:auto;
  float:right;
  clear:none;
}
#bottom-content-block .Row.right .rowCol{
  margin:0;
  clear: both;
}
#bottom-content-block .rowCol{
  clear: none;
  margin: 10px 5px 20px 0;
  position: relative;
  width: auto;
  overflow: hidden;
  float: left;
}
#bottom-content-block .Col{
  clear: none;
  float: left;
  margin: 0 20px 10px 0;
  min-width: 100px;
  position: relative;
}
#bottom-content-block .rowCol ul li{
  color: #555555;
  font-size: 0.9em;
  list-style-type: square;
  margin: 0 0 0 15px;
}
#bottom-content-block .right .Col{
  margin: 0;
  float: none;
}
#bottom-content-block .right  ul li{
  float: left;
  list-style-type: none;
  margin:0;
}
#bottom-content-block .right img{
  margin:0;
}
#bottom-content-block .Row.right ul.v-logos{
  clear: both;
}
#bottom-content-block .Row.right ul.social{
  margin-left: 315px;
  clear: both;
}
#bottom-content-block .Row.right ul.social li{
  margin-left: 5px;
}
/*----------- footer ---------------*/
#footer {
  background:url("../images/footer-bkgd.png") top center no-repeat;
  /*border-top:1px solid #999999;*/
  width:100%;
  position:relative;
  float:left;
  margin-bottom: 50px;
}
#footer .footL {
  width: 100%;
}
#footer .footL #footer-menu {
  float: left;
}
#footer .region-footer-navigations {
  float: right;
}
#footer li {
  list-style:none;
  list-style-type:none;
  list-style-image:none;
  margin:0 20px 0 0;
}
#footer .footL li {
  float:left;
  padding: 0px;
}
#footer .footR li {
  float:right;
}
#footer li a, #footer li a:visited, #footer li a:selected {
  color:#1b4384;
  font-size:1em;
}
#footer li a:hover {
  color:#3381ff;
  text-decoration:none;
}
#footer .footL p, #footer .footC p, #footer .footR p {
  font-size:1em;
  margin:0 0 5px 0;
  color:#555555;
  float: right;
}
#footer .footL {
  float:left;
}
#footer .footR {
  float:right;
}
#footer .footL {
  text-align:left;
  padding:10px 0 0 10px;
  font-size:1em;
}
#footer .footR {
  float:right;
  text-align:right;
  padding:10px 10px 0 0;
  font-size:1em;
  
}
.background_Yes{
  background: url("../images/highlight-bkgd.png") repeat-x scroll left top #F5F5F5;
}
.border_Yes{
  border: 1px solid #CCCCCC;
}
.background_Yes, .border_Yes, .border_No, .background_No {
  border-top-left-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  clear: both;
  min-width: 170px;
  max-width: 180px !important;
  padding: 15px;
  word-wrap: break-word;
}
.background_Yes, .border_Yes {
  margin: 15px 0px 30px 0px;
}
#bottom-content-block .body {
  *float: left; /*fix IE7*/
  *width: 500px;
  width: 100%;
  display: table-cell;
  vertical-align: top;
  position: relative;
  word-wrap: break-word;
}
#bottom-content-block .item-list {
  /* clear: none;*/
  float: right;
  display: table;
  /*width: auto;*/
}
#bottom-content-block .item-list ul,
#bottom-content-block .item-list ul li {
  margin: 0px;
  padding: 0px;
}
#bottom-content-block .item-list ul li.first,
#bottom-content-block .item-list ul li.last {
  max-width: 200px;
}
#bottom-content-block .item-list ul {
  /*display: -moz-inline-stack;*/
  display: -moz-box;
  width: auto;
}
#bottom-content-block .item-list ul li {
  *float: left; /*fix IE7*/
  list-style-type: none;
  display: table-cell;
}
#bottom-content-block .item-list ul li img {
  max-width: 200px;
}
#bottom-content-block .images {
  float: right;
  vertical-align: top;
}
.clear:after{content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clear {zoom: 1;}/* triggers hasLayout */
.views-row{
  display: table-row-group;
  display: inline-table;
  width: 100%;
}
#header{
  display: table;
  width: 1000px;
}
/*----------- Homepage Promo ---------------*/
.homepage-promo {
  clear: both;
  height: auto;
  margin: 0 0 10px;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.boxgrid {
  background: none repeat scroll 0 0 #FFFFFF;
  cursor: pointer;
  float: left;
  height: 200px;
  margin: 10px 10px 10px 0;
  overflow: hidden;
  position: relative;
  width: 200px;
}
.boxgrid img {
  border: 0 none;
  left: 0;
  position: absolute;
}
/*----------- Iframe ---------------*/
iframe.wfs-iframe{
  overflow: hidden;
  border: none;
}
.wfs-iframe-description{
  word-wrap: break-word;
  max-width: 900px;
}

/* NAVIGATION ELEMENTS
------------------------------------------------ */

/*Main Menu*/
#main-menu {
  margin: 0;
  padding: 10px 0 0;
  clear: both;
  float:left;
  position: relative;
  z-index: 500;
}
#main-menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#main-menu li {
  padding: 0;
  margin: 0;
  float: left;
  position: relative;
  background: none;
  width:auto;
  height: auto;
  list-style-type: none;
}
#main-menu a {
  top: 0;
  left: 0;
  overflow: hidden;
  cursor: pointer; /* fixes IE6 bug */
  /*font-size: 1.2em;*/
  color:#0054A4;
  font-family:Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-align: center;
  margin-right: 15px;
  padding: 10px 20px 0;
  background: url("../images/asc-b.png") no-repeat right 16px;
  height: 30px;
}
#main-menu li, #main-menu a {
  display: block;
}
#main-menu li:hover , #main-menu li.hover {
  background-color: #333333;
  border-radius: 3px 3px 0 0;
}
#main-menu li:hover a, #main-menu a:hover {
  background: url("../images/asc-w.png") no-repeat right 16px;
  color: #ffffff;
}
#main-menu a:hover, #main-menu li.hover li.active a, #main-menu li.hover li.active a:hover {
  color: #3381ff;
}
#main-menu a:hover {
  border: none;
} /* For unexplained reasons IE6 requires "(background || border): none;" */
#main-menu li.leaf, #main-menu li.active, #main-menu li.expanded {
  list-style-type: none;
  list-style-image: none;
}
/*Secondary Menu*/
#main-menu > ul ul {
  background-color: #333333;
  z-index: 1000;
  -ms-background-size: 100%;
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
}
#main-menu ul ul {
  margin: 0;
  padding: 1.2em 0;
  position: absolute;
  display: none;
  width: auto;
  min-width: 188px;
  background-color: #333333;
  z-index: 1000;
  border: 0 solid #000;
  border-radius: 3px;
  border-top-left-radius: 0px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-top-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  -ms-box-shadow: rgba(0, 0, 0, 0.8) 4px 3px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 4px 3px 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 4px 3px 10px;
}
#main-menu li.hover ul, #main-menu li:hover ul {
  display: block;
  top: 40px;
  left: 0;
}
#main-menu li li a {
  padding: 0.225em 18px;
  font-size: 1.1em;
  line-height: 1.47;
  text-align: left;
  text-decoration: none;
  display: block;
  color: #fff;
  font-family: verdana;
}
#main-menu li:hover li > a, #main-menu li li:hover > a {
  background:transparent;
}
#main-menu li li:hover > a {
  color: #3381ff;
}
#main-menu li.hover li.active li a {
  color: #3381ff;
  background:transparent;
}
#main-menu li.hover ul ul, #main-menu li:hover ul ul {
  top: 0;
  margin-left: 0;
}
#main-menu li.hover, #main-menu li.hover > a, #main-menu li.hover > a span {
  height: 69px;
}
#main-menu li li, #main-menu li li a {
  position: static;
  height: auto;
  left: auto;
  top: auto;
  overflow: visible;
  text-indent: 0;
  background:transparent;
}
#main-menu li li {
  margin: 0;
  position: relative;
  float: none;
  width: 188px;
}
#main-menu li li li a {
  padding: 0.3em 1.2em;
  font-size: 1.2em;
}
#main-menu li.hover li ul, #main-menu li:hover li ul {
  margin-top: -1.2em;
  top: 0;
  left: 100%;
}
#main-menu li.expanded ul li, #main-menu li:hover ul li {
  background:transparent;
}
#header #main-menu li.hover li.active ul, #header #main-menu li li:hover ul {
  display: block;
}

/*----------- Webkit ---------------*/
/** hide the spin for numeric fields in chrome. **/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* NAVIGATION ELEMENTS <IE FIXES>
------------------------------------------------ */
/* IE 6 & 7 */
#main-menu a, #main-menu a:hover {
  zoom: 1;
}
/*-------- SLIDE SHOW -----------*/
.slideshow {
  width: 1000px;
  position: relative;
  *margin-top: 0px;
}
.slideshow a {
  border: 0 none;
}
.views-slideshow-controls-bottom{
  position: absolute;
  bottom: 10px;
  right: 5px;
}
.widget_pager .views_slideshow_pager_field_item,
.slideshow_pager a {
  background: url("../images/bullets.png") no-repeat scroll 0 0 transparent;
  border: 0 none;
  display: block;
  float: left;
  height: 24px;
  margin-right: 5px;
  text-indent: -9999px;
  width: 23px;
  z-index: 500;
  position: relative;
}
.widget_pager .active, .slideshow_pager a.activeSlide {
  background-position: -24px 0px;
}

/*----------- Error Pages ---------------*/

.page-access-denied #central-content-block,
.page-not-found #central-content-block {
  background: -moz-linear-gradient(center top, #e2e2e2 0pt, #f8f8f8 100%);
  background-color:#E2E2E2;
  background: -webkit-gradient(linear, center top, center bottom, from(#e2e2e2), to(#f8f8f8));
  border:1px #ccc solid;
  border-radius: 10px;
  padding: 15px 40px;
  text-align: center;
  width: 917px !important;
}
.page-access-denied #central-content-block img,
.page-not-found #central-content-block img {
  margin: -5px 6px;
}
.page-access-denied #central-content-block span,
.page-not-found #central-content-block span {
  font-weight: bold;
}
.page-access-denied #page-title,
.page-not-found #page-title {
  color: #005BD8;
  background-color:#F3F3F3;
  border:1px #ccc solid;
  border-radius: 5px;
  display: block;
  margin: 0 auto 10px;
}
/*----------- Fixes on IMCE ---------------*/
#op-contents {
  position: relative;
}
/*----------- Table Diffs ---------------*/
td.diff-deletedline {
  background-color: #FFF9F9 !important;
}
td.diff-addedline {
  background-color: #F5FFF4 !important;
}
span.diffchange {
  color: #000000;
  font-weight: bold;
}
td.diff-section-title, div.diff-section-title {
  font-size: 1.1em !important;
}
table.diff td {
  padding: 20px 0.4em 0px;
  background: #FFF;
}
/*----------- Template Leadership ---------------*/
#cboxContent {
    font: 12px/1.5  Verdana,Arial,Helvetica,sans-serif;
}
.node-type-leadership #page-title,
.node-leadership h2.node-title {
  display: none;
}
#colorbox .node-leadership .field-name-field-photo,
.node-type-leadership .field-name-field-photo {
  float:left;
  width: 20%;
  text-align: center;
  padding-right: 30px;
  height: 120px;
}
#colorbox .node-leadership .field-name-field-leader-name,
.node-type-leadership .field-name-field-leader-name {
  float: left;
  width: 74%;
  margin-bottom: 10px;
  font-size: 2.2em;
}
#colorbox .node-leadership .field-name-field-leader-title,
.node-type-leadership .field-name-field-leader-title {
  color: #333333;
  float: left;
  width: 74%;
  margin-bottom: 10px;
  font-size: 19.2px; /*1.4em*/
  font-weight: 400;
  line-height: 24px;
}
#colorbox .node-leadership {
  margin: 20px;
}
#colorbox .node-leadership .field-name-body,
.node-type-leadership .field-name-body {
  float: left;
  width: 74%;
}
#cboxClose {
  background: url("../images/colorbox-close.png") 0 0 no-repeat;
  width: 80px;
}
/*--- Accordion in Standard Content Pages --*/
.page-node .field-name-field-accordion-items .imageextra-accordion legend {
  color: #005BD8;
  font-size: 1.3em;
  vertical-align: middle;
  padding-top: 10px;
  display: inline-block;
}
.page-node .field-name-field-accordion-items fieldset.collapsible .fieldset-legend {
  background: none;
  padding: 0px;
  display: inline-block;
}
.page-node .field-name-field-accordion-items fieldset.collapsible .fieldset-wrapper {
  padding: 10px;
  margin: 0px;
}
.page-node .field-name-field-accordion-items div.clear-both {
  height: 0px;
}
.page-node .field-name-field-accordion-items fieldset.collapsible .fieldset-legend span.summary {
  display:none;
  visibility: hidden;
}
.page-node .field-name-field-accordion-items fieldset legend div {
  float: left;
}
.page-node .field-name-field-accordion-items fieldset legend img {
  margin-right: 5px;
  float: left;
}
html.js .field-name-field-accordion-items fieldset.collapsed {
  height: auto !important;
}
html.js .field-name-field-accordion-items fieldset a.fieldset-title {
  display: block;
  font-size: 12px;
  outline: 0;
}
.imageextra-accordion .fieldset-wrapper {
  margin-left: 15px;
}

/*----------- Googel Search ---------------*/
.gsc-search-box {
  clear: both;
  width: 500px !important;
  background: url('../images/search.jpg') no-repeat;
  margin-bottom: 10px !important;
}
.gsc-branding-text {display:none;}
.gsc-branding-img {display:none;}
.gsc-clear-button { display:none;}
.gsc-input {background:none !important;}
/*wfs overwrite */
#cse-Text { float:left; color: #325f9a; }
#cse-search-form { float:left; }
#wfsSearchBox { min-height:500px; }
#wfsSSCorrection { float:left;  }
input.gsc-input {width: 400px; float: right}
.gsc-above-wrapper-area {border: 0px !important;}
.gsc-result-info-container {width: 100%; border-top: 1px solid #E9E9E9; border-bottom: 1px solid #E9E9E9;}
td.gsc-input {width: 400px; padding: 10px 0px 0px 120px !important;}
.gsc-search-box tr {float: left;}
input.gsc-search-button {margin-top: 5px;}
/*----------------- Image hover -------------*/
.image_hover {
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: relative;
}
.boxcaption h3 {
  color: #FFFFFF;
  font-size: 1.6em;
  font-weight: normal;
  margin: 0 0 5px;
}
.boxcaption p {
  color: #FFFFFF;
  font-size: 1em;
}
.button_link, .button_link:link, .button_link:visited {
  color: #FFFFFF;
}
.boxcaption {
  float: left;
  position: absolute;
  background: url(../images/reverse-image.png) 0 0 white no-repeat;
  height: 200px;
  width: 180px;
  top: 280px;
  padding: 20px 10px 0 10px;
}
.boxcaption h3 {
  font-size: 1.6em;
  font-weight: normal;
  color: white;
  margin: 0 0 5px 0;
}
.boxcaption .button_link a {
  background: #000 url(../images/btn-hover.jpg) repeat-x -10px -5px;
  width: 80px;
  height: 15px;
  text-align: center;
  color: #FFF;
  display: block;
  font-size: 1em;
  line-height: 11px;
  margin-right: 11px;
  padding: 2px 8px 4px 8px;
  white-space: nowrap;
  -moz-border-radius-bottomright: 5px;
  -khtml-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -khtml-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -khtml-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -khtml-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
}

/*----------- Site Map ---------------*/
#site-map h2.title {
  display: none;
  visibility: hidden;
}
.site-map-front-page{
	margin-bottom: 10px;
}
.site-map-front-page a{
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px;
  font-size: 13px;
}
#site-map .description {
  margin-bottom: 0.5em;
}

#site-map .site-map-box {
  float: left;
  margin: 0 20px 0 0;
  overflow: hidden;
}

#site-map .site-map-box ul {
  padding: 0.5em 1.5em;
}

#site-map .site-map-box ul ul {
  margin: 0;
}

#site-map .site-map-box li {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
}
#central-content-block #site-map .site-map-box li.main a {
  text-decoration: underline;
}
#central-content-block #site-map .site-map-box li.main ul li a {
  text-decoration: none;
}
#central-content-block #site-map .site-map-box li.leaf.main {
  list-style: none outside none !important;
}
#site-map .site-map-box ul li ul li {
  text-transform: none;
  font-weight: normal;
  border-bottom:none;
  font-size: 12px;
}
#site-map .site-map-box ul li.first.expanded,
#site-map .site-map-box ul li.expanded {
  font-weight: bold !important;
  background: url("../../../../../misc/menu-expanded.png") no-repeat scroll 0 12px transparent !important;
  padding-left: 10px;
  list-style-image: none;
  list-style-type: none !important;
}
#site-map .site-map-box ul li ul {
	padding:0;
}
#site-map .site-map-menu.leftCol,
#site-map .site-map-menu.rightCol {
  clear: none;
  float: left;
  padding: 0.5em 2em;
  width: 260px;
}

/* Styles when RSS icons are displayed on the left. */
#site-map .site-map-rss-left ul {
  padding-left: 0;
}
#site-map .site-map-rss-left li {
  list-style-type: none;
  list-style-image: none;
  background-image: none;
  margin: 0;
  padding: 0;
}
#site-map .site-map-rss-left ul li li {
  padding-left: 1.5em;
}
#site-map a {
  color: #1B4384;
}
#site-map a:hover {
  color: #0072C6;
}
#site-map div.content ul.site-map-menu li {
  width: 250px !important;
  display: inline-block;
  vertical-align: top;
  background: url("../../../../../misc/menu-leaf.png") no-repeat scroll 0 12px transparent;
  padding-left: 10px;
  list-style-image: none;
  list-style-type: none !important;
}
#site-map,
#site-map .site-map-menus,
#site-map div.content {
  width: 100%;
}
#site-map .site-map-menus div {
  display: block;
}
/*----------- Press Releases ---------------*/
.view-press-releases .views-table {
  float: left;
  width: 100%;
}
.view-press-releases form {
  margin: 0px;
}

.view-press-releases #edit-submit-press-releases{
	margin: 20px 0px 10px 0px;
  border: 1px solid;
}
.view-press-releases label{
	display: block;
	font-weight: bold;
  margin-bottom: 5px;
}
.view-press-releases th{
	background:#ccc;
  color:#005BD8;
  padding-left: 2px;
}
.view-press-releases td {
  padding-left: 2px;
}
.view-press-releases .even {
    background-color: transparent;
}
.view-press-releases .odd {
    background-color: #f9f9f9;
}
.view-press-releases tr {
  border: 0px;
}
.link-back {
  float: right;
}
.ccbnTtl {
  font-weight: bold;
  margin-top: 15px;
  display: block;
}

.node-press-releases .field-items,
.node-press-releases .field-label {
  display: inline;
  width: auto;
  float: left;
}
.node-press-releases .field-name-field-date,
.node-press-releases .field-name-body {
  display: block;
  margin-top: 15px;
}
.node-press-releases .field-name-body .field-items {
  display: block;
  width: 100%;
  margin-top: 15px;
}
/*----------- Timelines  ---------------*/
#slider-container {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 6px solid #005BD8;
    height: 264px;
    margin-bottom: 10px;
    overflow: hidden;
    width: 100%;
}
span#prevBtn, span#nextBtn {
    color: #003399;
    cursor: pointer;
    display: block;
    height: 20px;
    overflow: visible;
    padding: 2px;
    position: relative;
    width: 10px;
}
span#prevBtn {
    background: url("../images/arrow-prev.png") no-repeat scroll 0 0 transparent;
    float: left;
    margin: 0 8px 2px;
}
span#nextBtn {
    background: url("../images/arrow-next.png") no-repeat scroll 0 0 transparent;
    float: right;
    margin: 0 0 2px 10px;
}
.timeline-filter-container {
    float: left;
    height: 262px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 89%;
}
.timeline-filter-container .buttons {
    display: inline-block;
    float: left;
    height: 262px;
    overflow: hidden;
    position: absolute;
}
.timeline-filter-container .buttons .buttons-bg {
    border-left: 1px solid #005BD8;
    display: block;
    float: left;
    font-size: 0.9em;
    height: 261px;
    padding: 0;
    width: 140px;
}
.button-years {
    background: none repeat scroll 0 0 #EBEFF9;
    color: #000000;
    cursor: pointer;
    display: block;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding-left: 10px;
}
.timeline-filter-container .buttons .buttons-bg img{
    padding: 8px;
}
.timeline-filter-container .buttons .buttons-bg p {
    padding: 5px 10px;
}
/*----------- Maps ---------------*/
#map {
  height: 500px;
  width: 520px;
}
.point-description,
.point-description-view {
  margin-top: 15px;
  padding: 5px;
  width: 95%;
  border: 1px solid #CCCCCC;
}
.point-description,
.point-description-view .field-label {
  display: none;
}

/*----------- Side Banner ---------------*/
div.side-banner-preview .skin-default {
  max-width: 180px;
  min-width: 180px;
  position: relative;
}
/*----------- Page tabs  ---------------*/
#central-content-block ul.horizontal-tabs-list {
  background-color: transparent;
  margin: 0px;
  border-bottom: 2px solid #1B4384;
  margin: 20px 0 0;
  overflow: hidden;
  position: relative;
  top: 1px;
}
#central-content-block .horizontal-tabs-panes {
  margin-top: -4px;
}
#central-content-block div.horizontal-tabs {
  border: 0px;
}
#central-content-block ul.horizontal-tabs-list li.selected {
  background: #1B4384;
  border: 1px solid #1B4384;
  color: #FFF;
}
#central-content-block ul.horizontal-tabs-list li {
  display: inline-block;
  height:30px;
  float: left;
  text-align: center;
  width: 120px;
  background: #f4f4f4;
  border-radius:4px 4px 0 0;
  border: 1px solid #ccc;
  border-bottom:none;
  position:relative;
  margin: 0 5px 0 0;
  padding: 5px 5px 7px;
  list-style-type: none;
}
#central-content-block ul.horizontal-tabs-list li a {
  cursor: pointer;
  display: block;
  font-weight: bold;
  color: #1B4384;
  margin: 0px;
  padding: 0px;
  height: 32px;
  font-weight: bold;
}
.horizontal-tabs-panes {
  padding-top: 10px;
  border: 1px #CCC solid;
}
#central-content-block  ul.horizontal-tabs-list li:hover,
#central-content-block  ul.horizontal-tabs-list li a:hover {
  background: #1B4384;
}
#central-content-block  ul.horizontal-tabs-list li:hover a strong,
#central-content-block  ul.horizontal-tabs-list li:hover,
#central-content-block  ul.horizontal-tabs-list li.selected a strong{
  color: #FFF !important;
  border: 1px solid #1B4384;
}
/*----------- Events ---------------*/
body.node-type-events h1.title,
.page-events-view h1.title {
	border-bottom: 2px solid #666666;
}
#views-exposed-form-events-page,
#views-exposed-form-events-default {
  margin: 0px;
}
.ajax-progress, .ajax-progress-throbber,
.ajax-progress, .message {
  float: right !important;
}
form#views-exposed-form-press-releases-default .ajax-progress {
  margin-top: -30px;
  padding-left: 80px !important;
}
.view-id-events .ajax-progress {
  margin-top: 10px;
}
#edit-submit-events {
  margin-top: 13px;
}
.view-events .views-exposed-form .form-submit:hover {
  border: 1px solid #000000;
  margin-bottom: 2px !important;
}
.EventBlockSubtitle {
	border-bottom: 2px solid #666666;
	padding-bottom: 5px;
}

#EventBlockDetails {
	margin: 10px 0;
}
.EventBlockDetailsTitle {
	background-color: #1B4384;
	color:#ffffff;
	padding: 2px;
	font-weight: bold;
}
#EventBlockDetails td[nowrap="nowrap"] span,
.ContactBlockDetails span {
	display: block;
  float: left;
  width: 150px;
	color: #005BD8;
}
#upcoming-events2 .upcoming-events-block {
	background: none repeat scroll 0 0 #F4F4F4;
  border-top: 1px solid #CCCCCC;
  clear: both;
  margin: 3px 0;
  overflow: hidden;
  padding:5px;
}
.ccbnBgTblGray td {
  background-color: #f9f9f9;
}
.view-events .views-field-title {
  background-color: #1B4384;
  color: #FFFFFF;
  padding-left: 5px;
}
.view-events .views-field {
  padding-left: 5px;
}
.view-events .views-field-title a,
.view-events .views-field-title a:hover {
  color: #FFFFFF;
  font-weight: bold;
}
.no-link a {
  cursor: default;
}
.view-id-events ul li {
  border-bottom: 1px solid #CCCCCC;
  margin-left: 0px !important;
}
.events-list .field-name-body {
  margin-top: -10px;
  padding-top: 5px;
  border-top: 2px solid #666666;
}
.view-more {
  float: right;
  background: url('../images/arrow-right.png') no-repeat;
  padding-left: 15px;
  font-weight: bold;
}
div.no-link {
  display: none;
  visibility: hidden;
}
/*---Directory---*/
form#views-exposed-form-directory-default {
  float: none;
}

form#views-exposed-form-directory-default .views-exposed-form .views-exposed-widget {
  margin: 0 10px 0 0;
  border: 1px solid #CCCCCC;
  border-radius: 5px 5px 5px 5px;
  padding: 10px;
}

form#views-exposed-form-directory-default .views-exposed-form .views-exposed-widget label {
  float: left;
}

form#views-exposed-form-directory-default .views-exposed-form .views-exposed-widget .views-widget {
  float: right;
}

form#views-exposed-form-directory-default .views-exposed-form .views-submit-button {
  border: none;
}

.view-directory .view-content table {
  border: 1px solid #CCCCCC;
  border-collapse: separate;
  border-spacing: 1px;
  width: 100%;/*width: 770px;*/
}
.view-directory .view-content table thead tr th.views-field-field-contact-telephone-revision-id{
  padding: 0px 30px;
}

.view-directory .view-content table thead tr th {
  background: none repeat scroll 0 0 #CCCCCC;

  text-decoration: none;
  padding: 0.3em;
  font-weight: normal;
}

.view-directory .view-content table thead tr th a {
  text-decoration: none;
  color: #005BD8;
}

.view-directory .view-content table td {
  color: #666666;
  font-size: 10px;
  margin: 0;
  padding: 0.3em;
  text-decoration: none;
}

.view-directory .view-content table td.views-field-field-contact-business-areas-revision-id {
  width: 10%;
}
.view-directory .view-content table tr.odd td {
  background-color: #F9F9F9;
}

.view-directory .view-content table tr.even td {
  background-color: #fff;
}

.contact-data .contact-name {
  width: 150px;
}

#sales-results {
  display: inline-block;
}
/*----------- Print page ---------------*/
.print-page #login,
.print-page #menu,
.print-page #search,
.print-page #banner,
.print-page #bread-crumb,
.print-page #sidebar-first,
.print-page #sidebar-second,
.print-page #bottom-content-block,
.print-page #footer,
.print-page .link-back,
.print-page .print-link,
.print-options {
  display: none;
  visibility: hidden;
}
.print-options {
  float: right;
}
.print-page .print-options {
  display: block;
  visibility: visible;
}
.print-link {
  margin: 10px 0px 10px 0px;
}
.print-options .print {
  margin-right: 20px;
}
/*----------- Sign In Page ---------------*/

form#user-login,
form#user-pass{
	color: #005BD8;
	background-color:#F3F3F3;
	border:1px #ccc solid;
	border-radius: 5px;
	display: block;
	padding: 15px 40px;
	text-align: center;
	margin-top: 15px;
	overflow: hidden;
	width: 520px;
	position:relative;
}
form#user-login label,
form#user-login input,
form#user-pass label,
form#user-pass input{
	float:left;
	margin: 0 10px;
}

form#user-pass input#edit-name{
	margin: 10px;
}
form#user-login .description{
	clear: both;
    font-size: 0.8em;
    margin-left: 100px;
    padding: 5px;
    text-align: left;
}
form#user-login .form-actions input{
    margin-left: 105px;
}
form#user-login .form-submit:hover {
  border: 1px solid #000000;
  margin-bottom: 2px !important;
}

/*------ Distribution Lists table -----------*/
.field-name-field-emails table {
  width: 100%;
}

/* Menu */
#block-domain-menu-block-footer-links,
#block-domain-menu-block-main-links {
  visibility: hidden;
}
#block-domain-menu-block-footer-links ul.menu,
#block-domain-menu-block-main-links ul.menu {
  background: url("../images/highlight-dark-bkgd.png") repeat-x scroll left top #464646;
  border-radius: 10px 10px 10px 10px;
  padding: 10px 0;
  width: 200px;
}
#block-domain-menu-block-footer-links li,
#block-domain-menu-block-main-links ul.menu li {
  background: none repeat scroll 0 0 transparent;
  list-style: none outside none;
  padding: 3px 0;
}
#block-domain-menu-block-footer-links ul.menu li a,
#block-domain-menu-block-main-links ul.menu li a {
  background: none repeat scroll 0 0 transparent;
  color: #FFFFFF;
  font-size: 1.1em;
  padding: 5px 10px 5px 20px;
  display: block;
  text-decoration: none;
}
#block-domain-menu-block-footer-links ul.menu li.expandable div.expanded-hitarea,
#block-domain-menu-block-main-links ul.menu li.expandable div.expanded-hitarea {
  background: url("../images/more_less_icons.png") no-repeat scroll center -50px transparent;
  left: 0;
}
#block-domain-menu-block-footer-links ul.menu li.expandable div.expanded-hitarea:hover,
#block-domain-menu-block-main-links ul.menu li.expandable div.expanded-hitarea:hover,
#block-domain-menu-block-footer-links ul.menu li.expandable div.expanded-hitarea.hover,
#block-domain-menu-block-main-links ul.menu li.expandable div.expanded-hitarea.hover {
  /*+ blue*/
  background: url("../images/more_less_icons.png") no-repeat scroll center 10px transparent;
  left: 0px;
}
#block-domain-menu-block-footer-links ul.menu li.leaf a,
#block-domain-menu-block-main-links ul.menu li.leaf a {
  background: url("../images/asc-right.png") no-repeat scroll 5px -79px transparent;
  display: block;
}
#block-domain-menu-block-footer-links ul.menu li.expandable a:hover,
#block-domain-menu-block-main-links ul.menu li.expandable a:hover {
/*  background: url("../images/more_less_icons.png") no-repeat scroll 7px 10px transparent;*/
}

/* Submenu*/
#block-domain-menu-block-footer-links ul.menu ul.submenu,
#block-domain-menu-block-main-links ul.menu ul.submenu {
  border-radius: 0;
  margin:0;
  padding: 0;
}
#block-domain-menu-block-footer-links ul.menu li ul li.first,
#block-domain-menu-block-footer-links ul.menu li ul li.leaf,
#block-domain-menu-block-footer-links ul.menu li ul li.expanded,
#block-domain-menu-block-footer-links ul.menu li ul li a,
#block-domain-menu-block-main-links ul.menu li ul li.first,
#block-domain-menu-block-main-links ul.menu li ul li.leaf,
#block-domain-menu-block-main-links ul.menu li ul li.expanded,
#block-domain-menu-block-main-links ul.menu li ul li a {
  background: none repeat scroll 0 0 transparent;
  color: #FFFFFF;
  font-size: 0.95em;
  padding: 0;
  display: block;
  text-decoration: none;
}
#block-domain-menu-block-footer-links ul.menu li ul li.first a,
#block-domain-menu-block-footer-links ul.menu li ul li.leaf a,
#block-domain-menu-block-footer-links ul.menu li ul li.expanded a,
#block-domain-menu-block-main-links ul.menu li ul li.first a,
#block-domain-menu-block-main-links ul.menu li ul li.leaf a,
#block-domain-menu-block-main-links ul.menu li ul li.expanded a {
  margin: 0 0 0 0;
  padding: 3px 15px 2px 30px;
  font-size: 0.95em;
}
#block-domain-menu-block-footer-links ul.menu li ul li.leaf a:hover,
#block-domain-menu-block-footer-links ul.menu li ul li.leaf:hover,
#block-domain-menu-block-footer-links ul.menu li ul li.leaf a.active.selected,
#block-domain-menu-block-main-links ul.menu li ul li.leaf a:hover,
#block-domain-menu-block-main-links ul.menu li ul li.leaf:hover,
#block-domain-menu-block-main-links ul.menu li ul li.leaf a.active.selected {
  background:url("../images/asc-right.png") no-repeat scroll 15px -53px #3381FF;
  color:#ffffff;
  display:block;
}
#block-domain-menu-block-footer-links ul.menu ul li.leaf a,
#block-domain-menu-block-main-links ul.menu ul li.leaf a {
  background: url("../images/asc-right.png") no-repeat scroll 15px -83px transparent;
}
#block-domain-menu-block-footer-links ul.menu li.leaf a:hover,
#block-domain-menu-block-footer-links ul.menu li.leaf a.active,
#block-domain-menu-block-main-links ul.menu li.leaf a:hover,
#block-domain-menu-block-main-links ul.menu li.leaf a.active {
  background:url("../images/asc-right.png") no-repeat scroll 5px -49px #3381FF;
  color: #FFFFFF;
  display: block;
}
#block-domain-menu-block-footer-links  ul.menu li ul li.expanded.active-trail div.collapsable-hitarea,
#block-domain-menu-block-main-links  ul.menu li ul li.expanded.active-trail div.collapsable-hitarea {
  background: url("../images/more_less_icons.png") no-repeat scroll center -112px transparent;
  left: 10px;
}
#block-domain-menu-block-footer-links  ul.menu li ul li.expanded.active-trail div.collapsable-hitarea:hover,
#block-domain-menu-block-main-links  ul.menu li ul li.expanded.active-trail div.collapsable-hitarea:hover,
#block-domain-menu-block-footer-links  ul.menu li ul li.expanded.active-trail div.collapsable-hitarea.hover,
#block-domain-menu-block-main-links  ul.menu li ul li.expanded.active-trail div.collapsable-hitarea.hover {
  background: url("../images/more_less_icons.png") no-repeat scroll center -82px transparent;
  left: 10px;
}
#block-domain-menu-block-footer-links  ul.menu li ul li.expanded .expanded-hitarea,
#block-domain-menu-block-main-links  ul.menu li ul li.expanded .expanded-hitarea {
  /*+*/
  background: url("../images/more_less_icons.png") no-repeat scroll center -53px transparent;
  left: 10px;
}
#block-domain-menu-block-footer-links ul.menu ul li.expandable .expanded-hitarea:hover,
#block-domain-menu-block-main-links ul.menu ul li.expandable .expanded-hitarea:hover,
#block-domain-menu-block-footer-links ul.menu ul li.expandable .expanded-hitarea.hover,
#block-domain-menu-block-main-links ul.menu ul li.expandable .expanded-hitarea.hover {
  /*+ blue*/
  background: url("../images/more_less_icons.png") no-repeat scroll center 7px transparent;
  left: 10px;
}
#block-domain-menu-block-footer-links ul.menu li.collapsable .collapsable-hitarea,
#block-domain-menu-block-main-links ul.menu li.collapsable .collapsable-hitarea {
  /*-*/
  background: url("../images/more_less_icons.png") no-repeat scroll center -107px transparent;
  left: 0px;
}
#block-domain-menu-block-footer-links ul.menu li.collapsable .collapsable-hitarea:hover,
#block-domain-menu-block-main-links ul.menu li.collapsable .collapsable-hitarea:hover,
#block-domain-menu-block-footer-links ul.menu li.collapsable .collapsable-hitarea.hover,
#block-domain-menu-block-main-links ul.menu li.collapsable .collapsable-hitarea.hover {
  background: url("../images/more_less_icons.png") no-repeat scroll center -77px transparent;
  left: 0px;
}
#block-domain-menu-block-footer-links ul.menu li.expandable a.active,
#block-domain-menu-block-main-links ul.menu li.expandable a.active,
#block-domain-menu-block-footer-links ul.menu li.expandable a.active:hover,
#block-domain-menu-block-main-links ul.menu li.expandable a.active:hover,
#block-domain-menu-block-footer-links ul.menu li.collapsable a.active,
#block-domain-menu-block-main-links ul.menu li.collapsable a.active,
#block-domain-menu-block-footer-links ul.menu li.collapsable a.active:hover,
#block-domain-menu-block-main-links ul.menu li.collapsable a.active:hover {
  background: #3381FF;
  display: block;
}

#block-domain-menu-block-footer-links ul.menu li ul li.expanded a.active.selected,
#block-domain-menu-block-main-links ul.menu li ul li.expanded a.active.selected,
#block-domain-menu-block-footer-links ul.menu li ul li.expanded a.active.selected:hover,
#block-domain-menu-block-main-links ul.menu li ul li.expanded a.active.selected:hover {
  background: #3381FF;
}
#block-domain-menu-block-footer-links ul.menu li ul li.collapsable .collapsable-hitarea,
#block-domain-menu-block-main-links ul.menu li ul li.collapsable .collapsable-hitarea,
#block-domain-menu-block-footer-links ul.menu li ul li.expanded .active-hitarea.collapsable-hitarea,
#block-domain-menu-block-main-links ul.menu li ul li.expanded .active-hitarea.collapsable-hitarea {
  background: url("../images/more_less_icons.png") no-repeat scroll center -112px;
  left: 10px;
}

#block-domain-menu-block-footer-links ul.menu li ul li.collapsable .collapsable-hitarea:hover,
#block-domain-menu-block-main-links ul.menu li ul li.collapsable .collapsable-hitarea:hover,
#block-domain-menu-block-footer-links ul.menu li ul li.expanded .active-hitarea.collapsable-hitarea:hover,
#block-domain-menu-block-main-links ul.menu li ul li.expanded .active-hitarea.collapsable-hitarea:hover,
#block-domain-menu-block-footer-links ul.menu li ul li.collapsable .collapsable-hitarea.hover,
#block-domain-menu-block-main-links ul.menu li ul li.collapsable .collapsable-hitarea.hover,
#block-domain-menu-block-footer-links ul.menu li ul li.expanded .active-hitarea.collapsable-hitarea.hover,
#block-domain-menu-block-main-links ul.menu li ul li.expanded .active-hitarea.collapsable-hitarea.hover {
  background: url("../images/more_less_icons.png") no-repeat scroll center -82px transparent;
  left: 10px;
}
/* Last */
#block-domain-menu-block-footer-links ul.menu li ul li ul li a,
#block-domain-menu-block-main-links ul.menu li ul li ul li a {
  margin: 0 0 0 0;
  padding: 3px 3px 3px 40px;
}
#block-domain-menu-block-footer-links ul.menu li ul li.first ul li a,
#block-domain-menu-block-footer-links ul.menu li ul li.leaf ul li a,
#block-domain-menu-block-footer-links ul.menu li ul li.expanded ul li a,
#block-domain-menu-block-main-links ul.menu li ul li.first ul li a,
#block-domain-menu-block-main-links ul.menu li ul li.leaf ul li a,
#block-domain-menu-block-main-links ul.menu li ul li.expanded ul li a {
  margin: 0 0 0 0;
  padding: 3px 15px 2px 40px;
}
#block-domain-menu-block-footer-links  ul.menu li ul li ul li.leaf a,
#block-domain-menu-block-main-links  ul.menu li ul li ul li.leaf a {
  background: url("../images/asc-right.png") no-repeat scroll 28px -83px transparent;
}
#block-domain-menu-block-footer-links ul.menu li ul li ul li.leaf a:hover,
#block-domain-menu-block-footer-links ul.menu li ul li ul li.leaf a.active-trail.active.selected,
#block-domain-menu-block-main-links ul.menu li ul li ul li.leaf a:hover,
#block-domain-menu-block-main-links ul.menu li ul li ul li.leaf a.active-trail.active.selected {
  background:url("../images/asc-right.png") no-repeat scroll 28px -53px #3381FF;
  color: #FFFFFF;
  display: block;
}

#block-domain-menu-block-footer-links ul.menu li.leaf a:hover,
#block-domain-menu-block-footer-links ul.menu li.leaf a:active,
#block-domain-menu-block-main-links ul.menu li.leaf a:hover,
#block-domain-menu-block-main-links ul.menu li.leaf a:active {
  background: url("../images/asc-right.png") no-repeat scroll 5px -49px #3381FF;
  color:#ffffff;
  display:block;
}

/*----------- Carousel  ---------------*/
div.carousel {
  position: relative;
}
body.node-type-box-content-block #central-content-block .carousel {
  width: 180px !important;
}
div.carousel div.scrollableArea img {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  /* If you don't want the images in the scroller to be selectable, try the following
      block of code. It's just a nice feature that prevent the images from
      accidentally becoming selected/inverted when the user interacts with the scroller. */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* Invisible left hotspot */
div.scrollingHotSpotLeft {
	/* The hotspots have a minimum width of 100 pixels and if there is room the will grow
    and occupy 15% of the scrollable area (30% combined). Adjust it to your own taste. */
	min-width: 20px;
	height: 100%;
	/* There is a big background image and it's used to solve some problems I experienced
    in Internet Explorer 6. */
	background: url(../images/arrow-left.png) no-repeat #FFFFFF;
	background-position: center center;
	position: absolute;
	z-index: 200;
	left: 0;
	/* The first url is for Firefox and other browsers, the second is for Internet Explorer */
}

/* Visible left hotspot */
div.scrollingHotSpotLeftVisible {
	background-image: url(../images/arrows.png);
	background-color: #fff;
	background-repeat: no-repeat;
	opacity: 0.35; /* Standard CSS3 opacity setting */
	-moz-opacity: 0.35; /* Opacity for really old versions of Mozilla Firefox (0.9 or older) */
	filter: alpha(opacity = 35); /* Opacity for Internet Explorer. */
	zoom: 1; /* Trigger "hasLayout" in Internet Explorer 6 or older versions */
}

/* Invisible right hotspot */
div.scrollingHotSpotRight {
	min-width: 20px;
	height: 100%;
	background: url(../images/arrow-right.png) no-repeat #FFFFFF;
	background-position: center center;
	position: absolute;
	z-index: 200;
	right: 0;
}

/* Visible right hotspot */
div.scrollingHotSpotRightVisible {
	background-image: url(../images/arrows.png);
	background-color: #fff;
	background-repeat: no-repeat;
	opacity: 0.35;
	filter: alpha(opacity = 35);
	-moz-opacity: 0.35;
	zoom: 1;
}

/* The scroll wrapper is always the same width and height as the containing element (div).
   Overflow is hidden because you don't want to show all of the scrollable area.
*/
div.scrollWrapper {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
div.carousel img:hover {
  opacity: 0.6;
}
#bottom-content-block div.carousel {
  width: 1000px;
}

#right-boxes-block .carousel img {
  padding: 0px;
}
/* In the News block */
div.news {
  width: 290px;
  text-align: left;
  min-height: 200px;
}
.news h3 {
  color: #000000;
  font-size: 1.6em;
  font-weight: normal;
  margin: 0;
  padding: 10px 10px 5px;
}
.news ul {
  list-style-image: none;
  list-style-type: none;
  margin: 0;
  padding: 0 10px;
  line-height: 1.5;
}
#central-content-block .news li {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 5px 0;
}
.news a {
  display: block;
  float: left;
  width: 244px;
}
.news a, .news a:link, .news a:visited {
  color: #1B4384;
  text-decoration: none;
}
.news a:hover {
  color: #3381FF;
  text-decoration: none;
}
.news img {
  float: left;
  padding-right: 5px;
}
