@charset "UTF-8";
/* CSS Document */
iframe.wfs-iframe, input, textarea, .webform-client-form {
  max-width: 1000px !important;
}

#central-content-block {
  width: 1000px !important;
}
#central-content-block div.carousel {
  width: 980px !important;
}
/* Timeline */
.timeline-filter-container,
.timeline-filter-container .bx-wrapper,
.timeline-filter-container .bx-window {
  width: 940px !important;
}