#lbOverlay { position: fixed; top: 0; left: 0; z-index: 99998; width: 100%; height: 300px; }
	#lbOverlay.grey { background-color: #000000; }
	#lbOverlay.red { background-color: #330000; }
	#lbOverlay.green { background-color: #003300; }
	#lbOverlay.blue { background-color: #011D50; }
	#lbOverlay.gold { background-color: #666600; }

#lbMain { position: absolute; left: 0; width: 100%; z-index: 99999; text-align: center; line-height: 0; border:none; }
#lbMain a img { border: none; }

#lbIframe {border:none;}

#lbOuterContainer {  position: fixed; top: 30%; left: 30%; background-color: #fff; width: 520px; height: 220px; margin:0; border:none; }
	#lbOuterContainer.grey { border: none; }
	#lbOuterContainer.red { border: 3px solid #DD0000; }
	#lbOuterContainer.green { border: 3px solid #00B000; }
	#lbOuterContainer.blue { border: 3px solid #5F89D8; }
	#lbOuterContainer.gold { border: 3px solid #B0B000; }

#lbDetailsContainer { position: fixed; top: 30%; left: 30%; font: 10px Verdana, Helvetica, sans-serif; background-color: #fff; width: 100%; line-height: 1.4em;	overflow: auto; margin: 0 auto; border:none; padding-right:0; margin-right:0;}
	/*#lbDetailsContainer.grey { border: 3px solid #FFFFFF; border-top: none; }
	#lbDetailsContainer.red { border: 3px solid #DD0000; border-top: none; }
	#lbDetailsContainer.green { border: 3px solid #00B000; border-top: none; }
	#lbDetailsContainer.blue { border: 3px solid #5F89D8; border-top: none; }
	#lbDetailsContainer.gold { border: 3px solid #B0B000; border-top: none; }*/

#lbImageContainer, #lbIframeContainer { padding: 10px; }

#lbIframe { border: 1px solid #999999; overflow-x: hidden; overflow-y: hidden; }
#lbLoading {
	position: absolute; top: 45%; left: 0%; height: 32px; width: 100%; text-align: center; line-height: 0; background: url(images/loading.gif)/*tpa=http://www.bd.com/_scripts/lytebox/images/loading.gif*/ center no-repeat;
}

#lbHoverNav { position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 10; }
#lbImageContainer>#lbHoverNav { left: 0; }
#lbHoverNav a { outline: none; }

#lbPrev { width: 49%; height: 100%; background: transparent url(images/blank.gif)/*tpa=http://www.bd.com/_scripts/lytebox/images/blank.gif*/ no-repeat; display: block; left: 0; float: left; }
	#lbPrev.grey:hover, #lbPrev.grey:visited:hover { background: url(images/prev_grey.gif)/*tpa=http://www.bd.com/_scripts/lytebox/images/prev_grey.gif*/ left 15% no-repeat; }
	#lbPrev.red:hover, #lbPrev.red:visited:hover { background: url(Unknown_83_filename)/*tpa=http://www.bd.com/_scripts/lytebox/images/prev_red.gif*/ left 15% no-repeat; }
	#lbPrev.green:hover, #lbPrev.green:visited:hover { background: url(Unknown_83_filename)/*tpa=http://www.bd.com/_scripts/lytebox/images/prev_green.gif*/ left 15% no-repeat; }
	#lbPrev.blue:hover, #lbPrev.blue:visited:hover { background: url(Unknown_83_filename)/*tpa=http://www.bd.com/_scripts/lytebox/images/prev_blue.gif*/ left 15% no-repeat; }
	#lbPrev.gold:hover, #lbPrev.gold:visited:hover { background: url(Unknown_83_filename)/*tpa=http://www.bd.com/_scripts/lytebox/images/prev_gold.gif*/ left 15% no-repeat; }
	
#lbNext { width: 49%; height: 100%; background: transparent url(images/blank.gif)/*tpa=http://www.bd.com/_scripts/lytebox/images/blank.gif*/ no-repeat; display: block; right: 0; float: right; }
	#lbNext.grey:hover, #lbNext.grey:visited:hover { background: url(images/next_grey.gif)/*tpa=http://www.bd.com/_scripts/lytebox/images/next_grey.gif*/ right 15% no-repeat; }
	#lbNext.red:hover, #lbNext.red:visited:hover { background: url(Unknown_83_filename)/*tpa=http://www.bd.com/_scripts/lytebox/images/next_red.gif*/ right 15% no-repeat; }
	#lbNext.green:hover, #lbNext.green:visited:hover { background: url(Unknown_83_filename)/*tpa=http://www.bd.com/_scripts/lytebox/images/next_green.gif*/ right 15% no-repeat; }
	#lbNext.blue:hover, #lbNext.blue:visited:hover { background: url(Unknown_83_filename)/*tpa=http://www.bd.com/_scripts/lytebox/images/next_blue.gif*/ right 15% no-repeat; }
	#lbNext.gold:hover, #lbNext.gold:visited:hover { background: url(Unknown_83_filename)/*tpa=http://www.bd.com/_scripts/lytebox/images/next_gold.gif*/ right 15% no-repeat; }

#lbPrev2, #lbNext2 { text-decoration: none; font-weight: bold; }
	#lbPrev2.grey, #lbNext2.grey, #lbSpacer.grey { color: #333333; }
	#lbPrev2.red, #lbNext2.red, #lbSpacer.red { color: #620000; }
	#lbPrev2.green, #lbNext2.green, #lbSpacer.green { color: #003300; }
	#lbPrev2.blue, #lbNext2.blue, #lbSpacer.blue { color: #01379E; }
	#lbPrev2.gold, #lbNext2.gold, #lbSpacer.gold { color: #666600; }
	
#lbPrev2_Off, #lbNext2_Off { font-weight: bold; }
	#lbPrev2_Off.grey, #lbNext2_Off.grey { color: #CCCCCC; }
	#lbPrev2_Off.red, #lbNext2_Off.red { color: #FFCCCC; }
	#lbPrev2_Off.green, #lbNext2_Off.green { color: #82FF82; }
	#lbPrev2_Off.blue, #lbNext2_Off.blue { color: #B7CAEE; }
	#lbPrev2_Off.gold, #lbNext2_Off.gold { color: #E1E100; }
	
#lbDetailsData { padding: 0 10px; }
	#lbDetailsData.grey { color: #333333; }
	#lbDetailsData.red { color: #620000; }
	#lbDetailsData.green { color: #003300; }
	#lbDetailsData.blue { color: #01379E; }
	#lbDetailsData.gold { color: #666600; }

#lbDetails { width: 60%; float: left; text-align: left; }
#lbCaption { display: block; font-weight: bold; font-size: 13px; color: #666666; }
#lbNumberDisplay { float: left; display: block; padding-bottom: 1.0em; }
#lbNavDisplay { float: left; display: block; padding-bottom: 1.0em; }

#lbClose { width: 17px; height: 28px; float: right; margin-bottom: 1px; margin-right:0; padding-right:0; }
	#lbClose.grey { background: url(images/close_grey.jpg)/*tpa=http://www.bd.com/_scripts/lytebox/images/close_grey.jpg*/ right no-repeat; }
	#lbClose.red { background: url(images/close_red.png)/*tpa=http://www.bd.com/_scripts/lytebox/images/close_red.png*/ no-repeat; }
	#lbClose.green { background: url(images/close_green.png)/*tpa=http://www.bd.com/_scripts/lytebox/images/close_green.png*/ no-repeat; }
	#lbClose.blue { background: url(images/close_blue.png)/*tpa=http://www.bd.com/_scripts/lytebox/images/close_blue.png*/ no-repeat; }
	#lbClose.gold { background: url(images/close_gold.png)/*tpa=http://www.bd.com/_scripts/lytebox/images/close_gold.png*/ no-repeat; }

#lbPlay { width: 64px; height: 28px; float: right; margin-bottom: 1px; }
	#lbPlay.grey { background: url(images/play_grey.png)/*tpa=http://www.bd.com/_scripts/lytebox/images/play_grey.png*/ no-repeat; }
	#lbPlay.red { background: url(images/play_red.png)/*tpa=http://www.bd.com/_scripts/lytebox/images/play_red.png*/ no-repeat; }
	#lbPlay.green { background: url(images/play_green.png)/*tpa=http://www.bd.com/_scripts/lytebox/images/play_green.png*/ no-repeat; }
	#lbPlay.blue { background: url(images/play_blue.png)/*tpa=http://www.bd.com/_scripts/lytebox/images/play_blue.png*/ no-repeat; }
	#lbPlay.gold { background: url(images/play_gold.png)/*tpa=http://www.bd.com/_scripts/lytebox/images/play_gold.png*/ no-repeat; }
	
#lbPause { width: 64px; height: 28px; float: right; margin-bottom: 1px; }
	#lbPause.grey { background: url(images/pause_grey.png)/*tpa=http://www.bd.com/_scripts/lytebox/images/pause_grey.png*/ no-repeat; }
	#lbPause.red { background: url(images/pause_red.png)/*tpa=http://www.bd.com/_scripts/lytebox/images/pause_red.png*/ no-repeat; }
	#lbPause.green { background: url(images/pause_green.png)/*tpa=http://www.bd.com/_scripts/lytebox/images/pause_green.png*/ no-repeat; }
	#lbPause.blue { background: url(images/pause_blue.png)/*tpa=http://www.bd.com/_scripts/lytebox/images/pause_blue.png*/ no-repeat; }
	#lbPause.gold { background: url(images/pause_gold.png)/*tpa=http://www.bd.com/_scripts/lytebox/images/pause_gold.png*/ no-repeat; }