/* Stylesheet for IE8 only */
#grid .col-12 {
float: left;
width: 100%;
padding-left: 10px;
padding-right: 10px;
}
#grid .col-11 {
float: left;
width: 91.66666666666666%;
padding-left: 10px;
padding-right: 10px;
}
#grid .col-10 {
float: left;
width: 83.33333333333334%;
padding-left: 10px;
padding-right: 10px;
}
#grid .col-9 {
float: left;
width: 75%;
padding-left: 10px;
padding-right: 10px;
}
#grid .col-8 {
float: left;
width: 66.66666666666666%;
padding-left: 10px;
padding-right: 10px;
}
#grid .col-7 {
float: left;
width: 58.333333333333336%;
padding-left: 10px;
padding-right: 10px;
}
#grid .col-6 {
float: left;
width: 50%;
padding-left: 10px;
padding-right: 10px;
}
#grid .col-5 {
float: left;
width: 41.66666666666667%;
padding-left: 10px;
padding-right: 10px;
}
#grid .col-4 {
float: left;
width: 33.33333333333333%;
padding-left: 10px;
padding-right: 10px;
}
#grid .col-3 {
float: left;
width: 25%;
padding-left: 10px;
padding-right: 10px;
}
#grid .col-2 {
float: left;
width: 16.666666666666664%;
padding-left: 10px;
padding-right: 10px;
}
#grid .col-1 {
float: left;
width: 8.333333333333332%;
padding-left: 10px;
padding-right: 10px;
}
.col-m-1 {
float: left;
width: 8.333333333333332%;
padding-left: 10px;
padding-right: 10px;
}
.col-m-2 {
float: left;
width: 16.666666666666664%;
padding-left: 10px;
padding-right: 10px;
}
.col-m-3 {
float: left;
width: 25%;
padding-left: 10px;
padding-right: 10px;
}
.col-m-4 {
float: left;
width: 33.33333333333333%;
padding-left: 10px;
padding-right: 10px;
}
.col-m-5 {
float: left;
width: 41.66666666666667%;
padding-left: 10px;
padding-right: 10px;
}
.col-m-6 {
float: left;
width: 50%;
padding-left: 10px;
padding-right: 10px;
}
.col-m-7 {
float: left;
width: 58.333333333333336%;
padding-left: 10px;
padding-right: 10px;
}
.col-m-8 {
float: left;
width: 66.66666666666666%;
padding-left: 10px;
padding-right: 10px;
}
.col-m-9 {
float: left;
width: 75%;
padding-left: 10px;
padding-right: 10px;
}
.col-m-10 {
float: left;
width: 83.33333333333334%;
padding-left: 10px;
padding-right: 10px;
}
.col-m-11 {
float: left;
width: 91.66666666666666%;
padding-left: 10px;
padding-right: 10px;
}
.col-m-12 {
float: left;
width: 100%;
padding-left: 10px;
padding-right: 10px;
}
.label-feature .image:hover a {
	border: 10px solid #A29060;
}
body {
	filter: alpha(opacity=100);
}
/* frog additions */
.text-logo {
  background-image: url('../img/text-logo.png')/*tpa=https://www.bnymellon.com/_global-assets/img/text-logo.png*/;
}
footer {
  position: relative;
}
footer.main-footer ul.social-links .facebook {
  background-image: url('../img/facebook.png')/*tpa=https://www.bnymellon.com/_global-assets/img/facebook.png*/;
}
footer.main-footer ul.social-links .facebook:hover {
  background-image: url('../img/facebook-roll.png')/*tpa=https://www.bnymellon.com/_global-assets/img/facebook-roll.png*/;
}
footer.main-footer ul.social-links .twitter {
  background-image: url('../img/twitter.png')/*tpa=https://www.bnymellon.com/_global-assets/img/twitter.png*/;
}
footer.main-footer ul.social-links .twitter:hover {
  background-image: url('../img/twitter-roll.png')/*tpa=https://www.bnymellon.com/_global-assets/img/twitter-roll.png*/;
}
footer.main-footer ul.social-links .youtube {
  background-image: url('../img/youtube.png')/*tpa=https://www.bnymellon.com/_global-assets/img/youtube.png*/;
}
footer.main-footer ul.social-links .youtube:hover {
  background-image: url('../img/youtube-roll.png')/*tpa=https://www.bnymellon.com/_global-assets/img/youtube-roll.png*/;
}
footer.main-footer ul.social-links .linkedin {
  background-image: url('../img/linkedin.png')/*tpa=https://www.bnymellon.com/_global-assets/img/linkedin.png*/;
}
footer.main-footer ul.social-links .linkedin:hover {
  background-image: url('../img/linkedin-roll.png')/*tpa=https://www.bnymellon.com/_global-assets/img/linkedin-roll.png*/;
}
/* frog additions */