@media print{
	#fwNoPrint{display:none}
}

FORM{
	margin:0px;
}

/* Image Gallery */

#imgLibTitle{
	margin-bottom:10px;
}

#imgAlbumNavMain{
	margin:0;
	padding:0;
}

#imgAlbumNavMain LI{
	padding:0;
	list-style: none !important;
}

#imgAlbumNavMain LI UL LI{
	padding:0;
	list-style: disc !important;
	margin-left:20px;
}

#imgAlbumNavMain LI UL{
	margin:0;
	padding:0;
}

#imgGalleryMain UL{
	margin:0;
	padding:0;
}

#imgGalleryMain .slides{
	text-align:center;
}

.imgPicture {
    display: block !important;
}

.imgMain{	
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
 	position:relative;
	text-align:center;
	margin:0px 10px 10px 0px;
	padding:0px !important;
	background-image: none !important;
	list-style: none !important;
}

.imgMain A,.imgMain A:HOVER{
	text-decoration:none;
}

.imgTitle{
	width:100%;
	position:absolute;
	bottom:0px;
	left:0px;
	padding:5px 0px;
	text-align:center;
	font-family:Arial;
	font-size:10px;
	color:#ffffff;
	font-weight:bold;
	background:#000000;
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}

.imgPicture{
	cursor:pointer
}


.imgAlbumNavMain{
	margin:0px 10px;
}

.imgAlbumNavItem A,.imgAlbumNavItemActive A{
	display:block;
	text-decoration:none;
	padding:5px;
}

.imgAlbumNavItemActive A{
	background-color:#ccc;
}


/* Rating Response */
#ctRatingResponse{
	font-size:10px;
	margin:3px 10px;
	padding:4px;
	border:1px solid #cccccc;
}