


html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle} 



h1 {font-size:200%;font-family: 'Rokkitt', serif;}
h2 {font-size:150%;}
h3 {font-size:120%;}
h4 {font-size:100%;}
select,input,button,textarea,button {font:99% arial,helvetica,clean,sans-serif;}

a {outline:none;}
a:link img,a:visited img {border:none;}
a:link,a:visited {}a:hover{}

html,body
{
  height:100%;
}
#feature-backgrounds
{
  width:100%;
  height:100%;
}
.feature-background
{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
.anystretch
{
}

.anystretch img
{
//  margin-top: 120px !important;
}


#features
{
  //position:absolute;
  //top:42.5%;
  //top:-109%;
  //left:0;
  position: relative;
  width:562px;
  background:transparent;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000,endColorstr=#CC000000); 
  zoom: 1;
  background:rgba(0,0,0,.8);
  color:#FFF;
}
#feature-titles-descriptions
{
  min-height:130px;
  width: 562px;
  overflow:hidden;
}
#feature-container {}
.feature
{
float:left;
width:450px;
padding-left:62px;
padding-right: 50px;
}
.feature h1
{
  font-size:26px;
  margin-top: 20px;
  margin-bottom:10px;
}
.feature p
{
  font-size:13px;
  line-height:17px;
}
.feature p a
{
background:#FFFFFF url('../images/redarrow.gif')/*tpa=http://www.sanmina.com/images/redarrow.gif*/ 96% center no-repeat;
display:inline-block;
font-size:11px;
font-weight:bold;
margin-top:15px;
padding:1px 25px 0px 10px;
border-radius:5px;

}
#feature-captions-and-navigation
{
background:transparent;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#90000000,endColorstr=#90000000); 
zoom: 1;
  background:rgba(0,0,0,.5);
  color:#FFF;
  overflow:hidden;
  position:relative;
  padding:10px;
  padding-left:66px;
}
#feature-captions
{
  float:left;
  padding-top:3px;
  position:relative;
}
#feature-captions strong
{
  font-size:11px;
  font-style:italic;
}
#feature-captions em
{
  display:none;
  font-size:11px;
  color:#EEE;
  position:absolute;
  top:8px;
  left:40px;
  width:360px;
}

#feature-navigation-buttons
{
  float:right;
  width:95px;
}

#feature-navigation-buttons a
{
  background: #E62628 url('../images/button_arrows_pause.png')/*tpa=http://www.sanmina.com/images/button_arrows_pause.png*/;
  background-repeat:no-repeat;
  height:0;
  padding-top:25px;
  width:25px;
  border-radius:5px;
  color:#FFF;
  display:inline-block;
  text-decoration:none;
  overflow:hidden;
}

#feature-navigation-buttons a:hover
{
  background-color: #8b0f22;
}

#feature-navigation-buttons a.inactive
{
  background-color:#777;
  opacity:.5;
}
a#feature-navigation-previous
{
background-position:5px 5px;
}
a#feature-navigation-pause
{
background-position:-15px 5px;
}
a#feature-navigation-next
{
background-position:-37px 5px;
}

//#wells {position:absolute;left:0;bottom:0;height:155px;margin-bottom:50px;}
#wells {
  position:relative;
  height:155px !important;
}
  
//body #well1,
//body #well2,
//body #well3 {
  //top:0;
//  position: fixed;
//  bottom: 12%;  
//}

#mothertwo,
#body-container {position:absolute;top:0;left:0;width:100%;height:100%;position:relative;}

#footer-container {
  position:relative;
  bottom:30px;
  left:0;
  width:100%;
  height:30px;
  margin-top: -280px;
}

#footer-container #bottombar_home {position:absolute;left:0;top:0;height:0;}

#social {
  float: right;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
  padding-right: 2px !important;
  padding-top: 0 !important;
  margin-top: -10px !important;
}

#social a {display:inline-block;width:19px;height:0;padding-top:19px;background:url('../images/social.png')/*tpa=http://www.sanmina.com/images/social.png*/ 0 0 no-repeat;overflow:hidden;}
#social a#facebook {}
#social a#twitter {background-position:-25px;}
#social a#you-tube {background-position:-49px;}
#social a#linked-in {background-position:-73px;}

#footer-container #social {padding:0 0 5px 5px;float:left;}
#footer-container #social a {display:inline-block;width:19px;height:0;padding-top:19px;background:url('../images/social.png')/*tpa=http://www.sanmina.com/images/social.png*/ 0 0 no-repeat;overflow:hidden;}
#footer-container #social a#facebook {}
#footer-container #social a#twitter {background-position:-25px;}
#footer-container #social a#you-tube {background-position:-49px;}
#footer-container #social a#linked-in {background-position:-73px;}
#footer a,#footer span.footer-text,#footer *,#footer {color:#000;}
#footer a:hover {background-color:#000;color:#FFF;}