html,body {margin:0px; padding:0px;}
body {height:100%; text-align:center; padding:0px; margin:0px;}
br {
padding: 0px;
margin: 0px;
}
{
padding: 0px;
margin: 0px;
-moz-box-sizing: border-box; 
}

/*background-image:url(http://www.kiewit.com/themes/kiewit/images/header_bg.png); background-repeat:no-repeat;*/
div#maxcontainerbin {position:relative; padding:0px; margin:0px; width:100%;}
div#headerbin{
	position:relative; 
	width:100%; 
	height:72px; 
	padding:0px; 
	margin:0px; 
	background-image:url(../../../../themes/kiewit/images/black_bkgd.png)/*tpa=http://www.kiewit.com/themes/kiewit/images/black_bkgd.png*/;
	background-repeat:repeat !important;
	
	}
div#logobin {position:relative; margin:0px; padding:0px; text-align:left; float:left;}
div#searchbin {position:relative; margin:0px; padding:0px; float:right;}
.searchbutton:hover {background-image:url(../../../../themes/kiewit/images/search_icon_hover.png)/*tpa=http://www.kiewit.com/themes/kiewit/images/search_icon_hover.png*/; background-repeat:no-repeat; width:21px; height:17px;}


/* ///// CONCRETE5 TOP NAV STYLING ///// */
div#navbarbin {position:relative; margin:0px; padding:0px; float:left;}

div#navbarbin ul {position:relative; list-style:none; margin:0px !important; height:72px; padding:0px !important; display:block;}
div#navbarbin ul li {position:relative; margin:0px; padding:0px; height:72px; float:left; text-align:center; }
div#navbarbin ul li a {position:relative; color:#ffffff; text-decoration:none; display:block; font-size:85%; height:72px; line-height:77px !important; padding:0px 16px; margin:0px; text-transform:uppercase; font-weight:bold;}
div#navbarbin ul li a:hover {color:#ffce00 !important;}
div#navbarbin ul li a.nav-selected {position:relative; color:#ffce00 !important; text-decoration:none; display:block; font-size:85%; height:72px; padding:0px 16px; margin:0px; }
div#navbarbin ul li.nav-path-selected a {position:relative; color:#ffce00 !important; text-decoration:none; display:block; font-size:85%; height:72px; padding:0px 16px; margin:0px; }

/* ///// FLYOUT MENU STYLING ///// */
#navbarbin ul li ul { position:absolute; top:72px !important; left:0px; display:none; z-index:100; width:178px;}
#navbarbin li ul li { position:relative; padding:0px; margin:0px; list-style:none; float:none; font-family:Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; height:28px !important; line-height:28px !important;
	background-image:url(../../../../themes/kiewit/images/black_bkgd.png)/*tpa=http://www.kiewit.com/themes/kiewit/images/black_bkgd.png*/; background-repeat:repeat !important;
	}
#navbarbin ul li ul li a { color:#ffd500 !important; text-decoration:none; text-align:left !important; height:28px !important; line-height:28px !important; display:block;}
#navbarbin ul li ul li a:hover { color:#3e3e3e !important; background-color:#ffd500 !important; height:28px !important; line-height:28px !important; }
#navbarbin ul li ul li a.nav-selected {color:#3e3e3e; height:28px !important; line-height:28px !important;}
#navbarbin ul li ul li.nav-path-selected a {color:#3e3e3e; height:28px !important; line-height:28px !important;}

#navbarbin li ul li ul {display:none !important;}

#header-image {position:absolute; top:0px; left:0px; background-size:cover; width:100%; clear:both; height:100%; background-repeat:no-repeat; background-color: #333333;}

#billboardoverlay {position:absolute; top:0px; left:0px; width:100%; clear:both; height:100%; margin-bottom:0px;}


#igc_billboard {margin:0px; padding:0px;}
.homeslidepieces {position:fixed; top:41%; left:0px; width:100%; background-image:url(../../../../themes/kiewit/images/black_bkgd_billboard.png)/*tpa=http://www.kiewit.com/themes/kiewit/images/black_bkgd_billboard.png*/; background-repeat:repeat !important;}
.slidedetail {position:relative; margin:0px; padding:0px; 
	font-size:80%;
	height:115px;
	
	}
.slidedetail h2, .slidedetail h3 {color:#fff !important; text-align:left; font-weight:bold;}
.slidedetail h3 {line-height:1.3 !important;}
.slidedetail h3 a {text-decoration:none; color:#fff !important;}
.slidedetail h3 a:hover {text-decoration:underline !important;}

.slidedetail-inner {position:absolute; top:15px; left:25px; width:500px; margin:0px;}

#homemarketslinkbin {position:absolute; top:0px; left:550px; margin:0px; padding:0px; height:115px; width:100%; background-color:#fed501;}
.homemarketslink {position:relative; margin:0px; padding:0px; }

#homemarketsbuilding {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/homemarket_building2.jpg', sizingMethod='scale');
	-ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader( src='images/homemarket_building2.jpg', sizingMethod='scale')";}

#homemarketsbuilding {position:relative; margin:0px; padding:0px; background-image:url(../../../../themes/kiewit/images/homemarket_building2.jpg)/*tpa=http://www.kiewit.com/themes/kiewit/images/homemarket_building2.jpg*/; background-size:114px 115px; background-position:center center; width:114px !important; height:115px !important; float:left; 
	-webkit-transition: background-image 0.5s ease-in-out;
	-moz-transition: background-image 0.5s ease-in-out;
	-o-transition: background-image 0.5s ease-in-out;
	-ms-transition: background-image 0.5s ease-in-out; 
	transition: background-image 0.5s ease-in-out;}
#homemarketsmining {position:relative; margin:0px; padding:0px; background-image:url(../../../../themes/kiewit/images/homemarket_mining2.jpg)/*tpa=http://www.kiewit.com/themes/kiewit/images/homemarket_mining2.jpg*/; background-size:114px 115px; background-position:center center; width:114px !important; height:115px !important; float:left; 
	-webkit-transition: background-image 0.5s ease-in-out;
	-moz-transition: background-image 0.5s ease-in-out;
	-o-transition: background-image 0.5s ease-in-out;
	-ms-transition: background-image 0.5s ease-in-out; 
	transition: background-image 0.5s ease-in-out;}
#homemarketsoil {position:relative; margin:0px; padding:0px; background-image:url(../../../../themes/kiewit/images/homemarket_oil2.jpg)/*tpa=http://www.kiewit.com/themes/kiewit/images/homemarket_oil2.jpg*/; background-size:114px 115px; background-position:center center; width:114px !important; height:115px !important; float:left; 
	-webkit-transition: background-image 0.5s ease-in-out;
	-moz-transition: background-image 0.5s ease-in-out;
	-o-transition: background-image 0.5s ease-in-out;
	-ms-transition: background-image 0.5s ease-in-out; 
	transition: background-image 0.5s ease-in-out;}
#homemarketspower {position:relative; margin:0px; padding:0px; background-image:url(../../../../themes/kiewit/images/homemarket_power2.jpg)/*tpa=http://www.kiewit.com/themes/kiewit/images/homemarket_power2.jpg*/; background-size:114px 115px; background-position:center center; width:114px !important; height:115px !important; float:left; 
	-webkit-transition: background-image 0.5s ease-in-out;
	-moz-transition: background-image 0.5s ease-in-out;
	-o-transition: background-image 0.5s ease-in-out;
	-ms-transition: background-image 0.5s ease-in-out; 
	transition: background-image 0.5s ease-in-out;}
#homemarketstransportation {position:relative; margin:0px; padding:0px; background-image:url(../../../../themes/kiewit/images/homemarket_transportation2.jpg)/*tpa=http://www.kiewit.com/themes/kiewit/images/homemarket_transportation2.jpg*/; background-size:114px 115px; background-position:center center; width:114px !important; height:115px !important; float:left; 
	-webkit-transition: background-image 0.5s ease-in-out;
	-moz-transition: background-image 0.5s ease-in-out;
	-o-transition: background-image 0.5s ease-in-out;
	-ms-transition: background-image 0.5s ease-in-out; 
	transition: background-image 0.5s ease-in-out;}
#homemarketswater {position:relative; margin:0px; padding:0px; background-image:url(../../../../themes/kiewit/images/homemarket_water2.jpg)/*tpa=http://www.kiewit.com/themes/kiewit/images/homemarket_water2.jpg*/; background-size:114px 115px; background-position:center center; width:114px !important; height:115px !important; float:left; 
	-webkit-transition: background-image 0.5s ease-in-out;
	-moz-transition: background-image 0.5s ease-in-out;
	-o-transition: background-image 0.5s ease-in-out;
	-ms-transition: background-image 0.5s ease-in-out; 
	transition: background-image 0.5s ease-in-out;}

#homemarketsbuildingpu {position:relative; margin:0px; padding:0px; background-image:url(../../../../themes/kiewit/images/homemarket_building_pu.png)/*tpa=http://www.kiewit.com/themes/kiewit/images/homemarket_building_pu.png*/; width:54px !important; height:55px !important; float:left;}
#homemarketsminingpu {position:relative; margin:0px; padding:0px; background-image:url(../../../../themes/kiewit/images/homemarket_mining_pu.png)/*tpa=http://www.kiewit.com/themes/kiewit/images/homemarket_mining_pu.png*/; width:54px !important; height:55px !important; float:left;}
#homemarketsoilpu {position:relative; margin:0px; padding:0px; background-image:url(../../../../themes/kiewit/images/homemarket_oil_pu.png)/*tpa=http://www.kiewit.com/themes/kiewit/images/homemarket_oil_pu.png*/; width:54px !important; height:55px !important; float:left;}
#homemarketspowerpu {position:relative; margin:0px; padding:0px; background-image:url(../../../../themes/kiewit/images/homemarket_power_pu.png)/*tpa=http://www.kiewit.com/themes/kiewit/images/homemarket_power_pu.png*/; width:54px !important; height:55px !important; float:left;}
#homemarketstransportationpu {position:relative; margin:0px; padding:0px; background-image:url(../../../../themes/kiewit/images/homemarket_transportation_pu.png)/*tpa=http://www.kiewit.com/themes/kiewit/images/homemarket_transportation_pu.png*/; width:54px !important; height:55px !important; float:left;}
#homemarketswaterpu {position:relative; margin:0px; padding:0px; background-image:url(../../../../themes/kiewit/images/homemarket_water_pu.png)/*tpa=http://www.kiewit.com/themes/kiewit/images/homemarket_water_pu.png*/; width:54px !important; height:55px !important; float:left; -moz-box-shadow:
}

#homemarketsbuildingpu:hover {position:absolute; top:0px; left:0px; margin:0px; padding:0px; background-image:url(../../../../themes/kiewit/images/homemarket_building_pu_at.png)/*tpa=http://www.kiewit.com/themes/kiewit/images/homemarket_building_pu_at.png*/; width:54px !important; height:55px !important; float:left;}
#homemarketsminingpu:hover {position:relative; margin:0px; padding:0px; background-image:url(../../../../themes/kiewit/images/homemarket_mining_pu_at.png)/*tpa=http://www.kiewit.com/themes/kiewit/images/homemarket_mining_pu_at.png*/; width:54px !important; height:55px !important; float:left;}
#homemarketsoilpu:hover {position:relative; margin:0px; padding:0px; background-image:url(../../../../themes/kiewit/images/homemarket_oil_pu_at.png)/*tpa=http://www.kiewit.com/themes/kiewit/images/homemarket_oil_pu_at.png*/; width:54px !important; height:55px !important; float:left;}
#homemarketspowerpu:hover {position:relative; margin:0px; padding:0px; background-image:url(../../../../themes/kiewit/images/homemarket_power_pu_at.png)/*tpa=http://www.kiewit.com/themes/kiewit/images/homemarket_power_pu_at.png*/; width:54px !important; height:55px !important; float:left;}
#homemarketstransportationpu:hover {position:relative; margin:0px; padding:0px; background-image:url(../../../../themes/kiewit/images/homemarket_transportation_pu_at.png)/*tpa=http://www.kiewit.com/themes/kiewit/images/homemarket_transportation_pu_at.png*/; width:54px !important; height:55px !important; float:left;}
#homemarketswaterpu:hover {position:relative; margin:0px; padding:0px; background-image:url(../../../../themes/kiewit/images/homemarket_water_pu_at.png)/*tpa=http://www.kiewit.com/themes/kiewit/images/homemarket_water_pu_at.png*/; width:54px !important; height:55px !important; float:left;}

#homemarketsbuildingpu.active {position:relative; margin:0px; padding:0px; background-image:url(../../../../themes/kiewit/images/homemarket_building_pu_at.png)/*tpa=http://www.kiewit.com/themes/kiewit/images/homemarket_building_pu_at.png*/; width:54px !important; height:55px !important; float:left;}
#homemarketsminingpu.active {position:relative; margin:0px; padding:0px; background-image:url(../../../../themes/kiewit/images/homemarket_mining_pu_at.png)/*tpa=http://www.kiewit.com/themes/kiewit/images/homemarket_mining_pu_at.png*/; width:54px !important; height:55px !important; float:left;}
#homemarketsoilpu.active {position:relative; margin:0px; padding:0px; background-image:url(../../../../themes/kiewit/images/homemarket_oil_pu_at.png)/*tpa=http://www.kiewit.com/themes/kiewit/images/homemarket_oil_pu_at.png*/; width:54px !important; height:55px !important; float:left;}
#homemarketspowerpu.active {position:relative; margin:0px; padding:0px; background-image:url(../../../../themes/kiewit/images/homemarket_power_pu_at.png)/*tpa=http://www.kiewit.com/themes/kiewit/images/homemarket_power_pu_at.png*/; width:54px !important; height:55px !important; float:left;}
#homemarketstransportationpu.active {position:relative; margin:0px; padding:0px; background-image:url(../../../../themes/kiewit/images/homemarket_transportation_pu_at.png)/*tpa=http://www.kiewit.com/themes/kiewit/images/homemarket_transportation_pu_at.png*/; width:54px !important; height:55px !important; float:left;}
#homemarketswaterpu.active {position:relative; margin:0px; padding:0px; background-image:url(../../../../themes/kiewit/images/homemarket_water_pu_at.png)/*tpa=http://www.kiewit.com/themes/kiewit/images/homemarket_water_pu_at.png*/; width:54px !important; height:55px !important; float:left;}



#homemarketsbuilding:hover {background-image:url(../../../../themes/kiewit/images/homemarket_building_hover.jpg)/*tpa=http://www.kiewit.com/themes/kiewit/images/homemarket_building_hover.jpg*/; }
#homemarketsmining:hover {background-image:url(../../../../themes/kiewit/images/homemarket_mining_hover.jpg)/*tpa=http://www.kiewit.com/themes/kiewit/images/homemarket_mining_hover.jpg*/; }
#homemarketsoil:hover {background-image:url(../../../../themes/kiewit/images/homemarket_oil_hover.jpg)/*tpa=http://www.kiewit.com/themes/kiewit/images/homemarket_oil_hover.jpg*/; }
#homemarketspower:hover {background-image:url(../../../../themes/kiewit/images/homemarket_power_hover.jpg)/*tpa=http://www.kiewit.com/themes/kiewit/images/homemarket_power_hover.jpg*/; }
#homemarketstransportation:hover {background-image:url(../../../../themes/kiewit/images/homemarket_transportation_hover.jpg)/*tpa=http://www.kiewit.com/themes/kiewit/images/homemarket_transportation_hover.jpg*/; }
#homemarketswater:hover {background-image:url(../../../../themes/kiewit/images/homemarket_water_hover.jpg)/*tpa=http://www.kiewit.com/themes/kiewit/images/homemarket_water_hover.jpg*/; }

#homepagearrows {position:relative; margin-top:1px; cursor:pointer; width:101px;}
#homepagearrowsleft {position:relative; margin:0px 1px 0px 0px; padding:0px; background-image:url(../../../../themes/kiewit/images/arrow_left.png)/*tpa=http://www.kiewit.com/themes/kiewit/images/arrow_left.png*/; width:50px !important; height:49px !important; float:left;}
#homepagearrowsright {position:relative; margin:0px; padding:0px; background-image:url(../../../../themes/kiewit/images/arrow_right.png)/*tpa=http://www.kiewit.com/themes/kiewit/images/arrow_right.png*/; width:50px !important; height:49px !important; float:left;}
#homepagearrowsleft:hover {background-image:url(../../../../themes/kiewit/images/arrow_left_hover.png)/*tpa=http://www.kiewit.com/themes/kiewit/images/arrow_left_hover.png*/;}
#homepagearrowsright:hover {background-image:url(../../../../themes/kiewit/images/arrow_right_hover.png)/*tpa=http://www.kiewit.com/themes/kiewit/images/arrow_right_hover.png*/;}
 

div#searchbin {position:relative; width:50px; height:72px; margin:8px 0px 0px 0px; padding:0px;}
div#searchbin .searchbutton {position:absolute; top:11px; left:11px; margin:0px; padding:0px;}
div#searchfieldbin {position:absolute; top:-5px; right:8px; width:246px; height:43px; margin:0px; padding:0px; display:none;}
div#searchfieldbin .searchfield {position:absolute; top:9px; left:30px; width:170px; height:25px; margin:0px; padding:0px; 
	font-family: Arial, Helvetica, sans-serif;
	font-style:italic;
	font-size:85%;
	color:#fff; background-color:transparent !important; border:0px; border-bottom:1px solid #ffce00;}
div#searchfieldbin .closesearchbtn {position:absolute; top:17px; left:7px; width:12px; height:12px; margin:0px; padding:0px; cursor:pointer;}
.opensearchbtn {position:absolute; top:-3px; right:11px; width:50px; height:50px; margin:0px; padding:0px; cursor:pointer;}
.searchfield_searchpage {position:relative; width:350px; height:25px; margin:0px; padding:0px; 
	font-family: Arial, Helvetica, sans-serif;
	font-style:italic;
	font-size:85%;
	color:#fff; background-color:transparent !important; border:0px; border-bottom:1px solid #ffce00;}
.formfieldstyle {position:relative; height:25px; margin:0px; padding:0px 0px 0px 8px; 
	font-family: Arial, Helvetica, sans-serif !important;
	font-style:italic !important;
	font-size:85% !important;
	color:#fff !important;}
.interiormainbin .searchfield_searchpage {color:#3e3e3e !important;}
#searchResults a {color:#d7ac19;}
#searchResults a:hover {text-decoration:none !important;}
.searchpage_color h4 {color:#3e3e3e !important;}

#header-image-interior {position:absolute; top:0px; left:0px; width:100%; clear:both; height:225px; background-repeat:no-repeat; background-size:cover;}
.ccm-random-image img {display:none;}

#billboardoverlayinterior {position:absolute; top:0px; left:0px; width:100%; clear:both; height:100%; margin-bottom:0px; height:225px; 
-moz-box-shadow: inset 0px -3px 7px #3e3e3e;
-webkit-box-shadow: inset 0px -3px 7px #3e3e3e;
box-shadow: inset 0px -3px 7px #;
/*Inner elements should not cover inner shadows*/
/*IE 7 AND 8 DO NOT SUPPORT INSET SHADOWS*/}

.interiorpageheaderbin {position:relative; width:980px; margin:0 auto; text-align:center; padding:0px; height:113px;}
.interiorpageheadline {position:relative; text-align:left; padding:0px;}
.interiorpageheadline h1 {color:#fff !important;}

.interiorpageheaderinner {position:relative; float:left; color:#fff;}
.interiorpagequote {position:relative; width:338px; float:right; color:#fff; text-align:left; font-weight:bold; font-size:80%; font-family:Arial, Helvetica, sans-serif; line-height:1.8;}

div#containerbin {position:relative; width:980px; margin:0 auto; text-align:center; padding:0px;}


/* ///// MOBILE NAV TOGGLE BUTTON ///// */
#menu-icon {display:none;}

/* ///// CONCRETE5 TOP NAV STYLING ///// */

/* ///// CONCRETE5 SIDEBAR NAV STYLING ///// */
div#snavbin {position:relative; margin:0px; padding:0px;}
div#snavbin ul {position:relative; list-style: none !important; margin:0px 0px 12px 0px; padding:0px;}
div#snavbin ul li {position:relative; margin:0px 0px 2px 0px; padding:0px; width:238px; }
div#snavbin ul li a {position:relative; color:#fff; text-decoration:none; margin:0px; padding:8px 15px 7px 27px; font-size:80%; line-height:1.3; font-weight:bold; display:block;}
div#snavbin ul li a:hover {color:#3e3e3e !important; background-color:#ffcd21; line-height:1.3; font-weight:bold;}
div#snavbin ul li a.nav-selected {color:#3e3e3e !important; background-color:#ffcd21; line-height:1.3; font-weight:bold; }
div#snavbin ul li a.nav-path-selected {color:#3e3e3e !important; background-color:#ffcd21; line-height:1.3; font-weight:bold;}
div#snavbin ul li.nav-path-selected {color:#fff;}
div#snavbin ul li ul {margin:5px 0px 7px 0px;}
div#snavbin ul li ul li {margin:0px;}
div#snavbin ul li ul li a {padding-left:47px !important;}
div#snavbin ul li ul li a.nav-path-selected, div#snavbin ul li ul li a.nav-selected {color:#ffcd21 !important; background-color:transparent !important; line-height:1.2; } 
div#snavbin ul li ul li ul li a {padding-left:60px !important;}
/* ///// CONCRETE5 SIDEBAR NAV STYLING ///// */

.padbtm15 {padding-bottom:15px !important;}
.quicklinksnav {background-image: url(../../../../themes/kiewit/images/sitemap_button.png)/*tpa=http://www.kiewit.com/themes/kiewit//images/sitemap_button.png*/; background-repeat: no-repeat; background-position: 10px 10px;}
.quicklinksnav a {color:#000; text-decoration:none; margin:0px; font-size:80%; display:block; line-height:1.3 !important; padding:7px 20px 7px 27px !important; height:auto !important; font-weight:bold;}
.quicklinksnav a:hover {color:#3e3e3e !important; background-color:#ffcd21;}


.projectdetailpage .snavbinheader p {color:#ffcd21 !important; font-size:100% !important; line-height:1.0 !important; padding:3px 56px 4px 0px;}
.snavbinoutter {position:relative; margin:0px; padding:0px 0px 3px 0px; background-image:url(../../../../themes/kiewit/images/snavbin_bkgdimg.jpg)/*tpa=http://www.kiewit.com/themes/kiewit/images/snavbin_bkgdimg.jpg*/; background-repeat:repeat; font-family:Arial, Helvetica, sans-serif;}
.snavbinheader {position:relative; margin:0px 0px 13px 0px; padding:18px 26px 1px 26px; color:#ffcd21; text-transform:uppercase; font-weight:bold; font-size:105%;
	background-image:url(../../../../themes/kiewit/images/black_bkgd.png)/*tpa=http://www.kiewit.com/themes/kiewit/images/black_bkgd.png*/; background-repeat:repeat !important;
	}

.interiormainbin h3 {text-transform:uppercase; color:#3e3e3e !important; margin-bottom:10px !important;}
.interiormainbin p {color:#3e3e3e; font-size:85%; line-height:1.9; }

.miniSurveyView .required {color:#3e3e3e;}



.yellowsidebarbin {position:relative; margin:0px; padding:0px 0px 3px 0px; background-image:url(../../../../themes/kiewit/images/yellowsidebar_bkgdimg.jpg)/*tpa=http://www.kiewit.com/themes/kiewit/images/yellowsidebar_bkgdimg.jpg*/; background-repeat:repeat !important; font-family:Arial, Helvetica, sans-serif;}
.yellowsidebarheadline {position:relative; margin:0px 0px 13px 0px !important; padding:18px 26px 15px 26px !important; color:#3e3e3e; text-transform:uppercase; font-weight:bold; font-size:105%;
	background-image:url(../../../../themes/kiewit/images/yellow_bkgd.png)/*tpa=http://www.kiewit.com/themes/kiewit/images/yellow_bkgd.png*/; background-repeat:repeat !important;
	}
.yellowsidebarcontent {position:relative; margin:0px; padding:0px 22px 15px 26px; font-size:85%;}


/* ///// FEATURED PROJECTS DESIGNER CONTENT BLOCK CODE ///// */
.featuredprojecthomepagepopupmain {position:relative; margin:0px; padding:0px; background-color:#1e1e1e; width:464px !important;}
.featuredprojecthomepagepopupmain .featuredprojectnamelocation {position:relative; margin:0px; padding:0px; color:#fff; text-transform:uppercase; font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:85%; float:left;}
.featuredprojecthomepagepopupmain .featuredprojectlink a {position:relative; margin:0px; margin-right:50px; padding:0px; float:right; text-decoration:none; color:#ffd500; text-transform:uppercase; font-family:Arial, Helvetica, sans-serif; font-weight:bold;}
.featuredprojecthomepagepopupmain .featuredprojectlink a:hover {color:#fff !important;}
.featuredprojecthomepagepopupmain .featuredprojectimg {width:431px !important; overflow:hidden; }

.featuredprojecthomepagepopupother {position:relative; margin:0px; padding:0px; background-color:#1e1e1e; width:386px !important;}
.featuredprojecthomepagepopupother .featuredprojectimg {position:relative; margin:0px; padding:0px; float:left; width:112px !important; height:86px !important; overflow:hidden; display:block;}
.featuredprojecthomepagepopupother .featuredprojecthomepagepopupotherleftbin {position:relative; margin:-1px 0px 0px 0px; padding:0px; width:264px; float:left;}
.featuredprojecthomepagepopupother .featuredprojectnamelocation {position:relative; margin:0px; padding:0px; color:#fff; text-transform:uppercase; font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:75%; }
.featuredprojecthomepagepopupother .featuredprojectdescriptionhomeother {color:#fff; font-family:Arial, Helvetica, sans-serif; font-size:75%;}
.featuredprojecthomepagepopupother .featuredprojectlink a {position:relative; margin:0px; padding:0px; color:#ffd500; text-decoration:underline; font-family:Arial, Helvetica, sans-serif; font-size:85%; text-align:left !important; font-weight:normal !important; float:none !important;}
.featuredprojecthomepagepopupother .featuredprojectlink a:hover {text-decoration:none !important;}

.featuredprojectinteriorfooter {position:relative; margin:0px; padding:0px; }
.featuredprojectinteriorfooter .featuredprojectimg {position:relative; margin:0px; padding:0px; float:left; width:82px !important; height:47px !important; overflow:hidden;}
.featuredprojectinteriorfooter .featuredprojectinteriorfooterleftbin {position:relative; margin:-4px 0px 0px 0px; padding:0px; float:left;}
.featuredprojectinteriorfooter .featuredprojectname {position:relative; margin:0px; padding:0px; color:#fff; font-weight:bold; font-family:Arial, Helvetica, sans-serif; font-size:85%;}
.featuredprojectinteriorfooter .featuredprojectlocation {position:relative; margin:0px; padding:0px; color:#fff; font-family:Arial, Helvetica, sans-serif; font-size:85%;}
.featuredprojectinteriorfooter .featuredprojectlink a {position:relative; margin:0px; padding:0px; color:#ffd500; text-decoration:underline; font-family:Arial, Helvetica, sans-serif; font-size:85%;}
.featuredprojectinteriorfooter .featuredprojectlink a:hover {text-decoration:none !important;}
/* ///// FEATURED PROJECTS DESIGNER CONTENT BLOCK CODE ///// */

.homepagepopupbin { height:100%; width:925px; background-size:cover; padding:0px;}
.homepagepopupbin .homepagepopuptop p {font-size:85%; color:#fff; line-height:1.7; width:845px;}
.homepagepopupbin h2 {font-weight:normal !important; font-size:150% !important; margin-bottom:20px !important;}
div#hppbcontentbin {position:relative; width:845px; margin:0 auto; text-align:left; padding:0px;}


div#contentbin {position:relative; width:980px; margin:0 auto; text-align:left; padding:0px;}
div#spacerbin {position:relative; width:2px; margin:0 auto; padding:0px;}

div#breadcrumbbin {position:relative; margin:0px; padding:0px; text-align:left; font-family: Arial, Helvetica, sans-serif; color:#fff; text-transform:uppercase; font-weight:bold; font-size:75%;}
div#breadcrumbbin a{position:relative; padding:0px; margin:0px; color:#ffcd21; text-decoration:none; text-transform:uppercase;}
div#breadcrumbbin a:hover{text-decoration:underline;}
.ccm-autonav-breadcrumb-sep{color:#fff;}


.projectlanding_infobin .ccm-page-list-title {; 
	background-image:url(../../../../themes/kiewit/images/black_bkgd.png)/*tpa=http://www.kiewit.com/themes/kiewit/images/black_bkgd.png*/; background-repeat:repeat !important;
padding:20px 18px 20px 18px !important;}
#searchFiltersouterbin {position:relative; margin:0px; padding:0px; background-image:url(../../../../themes/kiewit/images/projectfilter_bkgdimg.jpg)/*tpa=http://www.kiewit.com/themes/kiewit/images/projectfilter_bkgdimg.jpg*/; background-repeat:repeat; height:60px;}
.sbs_plp_searchFilters {position:relative; margin:0px; padding:18px 0px 0px 18px; width:100%;
	float:none !important;}
.sbs_plp_searchFilter label {color:#ffcd21; font-weight:bold; font-size:105%; text-transform:uppercase;}
.sbs_plp_searchFilter select.plp_select {padding:0px 0px 0px 10px; height:25px !important; width:120px; border-left:0px !important; border-right:0px !important; border-top:0px !important; border-bottom:1px solid #ffcd21 !important; background-color:transparent; color:#fff !important; -webkit-appearance: none !important; -moz-appearance: none !important; -moz-border-radius: 0px;
-webkit-border-radius: 0px;
border-radius: 0px;
/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/ background-image:url(../../../../themes/kiewit/images/selectbox_arrow.png)/*tpa=http://www.kiewit.com/themes/kiewit/images/selectbox_arrow.png*/; background-repeat:no-repeat; background-position: right 0px top 50%;
}
.sbs_plp_searchFilter select.plp_select option {color:#3e3e3e !important;}


.projectlanding_infobin {position:relative; margin:0px 5px 20px 5px; padding:15px 0px 25px 0px; width:315px; background-image:url(../../../../themes/kiewit/images/snavbin_bkgdimg.jpg)/*tpa=http://www.kiewit.com/themes/kiewit/images/snavbin_bkgdimg.jpg*/; background-repeat:repeat; text-align:center; float:left;}
.projectlanding_infobin .project-description img {width:90%; height:auto; opacity:1.0;}
.projectlanding_infobin .project-description img:hover {opacity:0.8 !important;}
#project-description-img {position:relative; margin:0 auto; padding:30px 0px 0px 0px; overflow: hidden; text-align:center;}
.projectlanding_infobin h3 {margin-bottom:10px;}

.project-description {position:relative; margin:0 auto; padding:0px; }
.project-description p {color:#fff !important;}
.project-desc-scroll {}

.projectlanding_infobin .ccm-page-list-title a {color:#ffcd21 !important; text-decoration:none;}
.projectlanding_infobin .ccm-page-list-title a:hover {text-decoration:underline !important;}


/*/// PROJECTS PAGE LIST PLUS STYLES - FULL WIDTH ///*/
.plp_fullwidth {position:relative; padding:0px; margin:0px; }
.plp_fullwidth .projectlanding_infobin {position:relative; padding:0px 0px 18px 0px !important; margin:0px 0px 20px 0px; width:980px;}
.plp_fullwidth .projectlanding_infobin .ccm-page-list-title {text-align:left !important; }
.plp_fullwidth .project-description img {width:200px !important; float:left; margin-left:18px; }
.plp_fullwidth #project-description-img {max-height:150px; width:200px !important; float:left; overflow:hidden; padding-top:18px !important;}
.plp_fullwidth .project-desc-scroll {float:left; text-align:left; width:725px; margin:20px 0px 0px 20px;}
.plp_fullwidth .project-desc-scroll p {font-size:85%;}
.plp_fullwidth .projectlanding_infobin .ccm-page-list-title {background-color: transparent !important; padding:0px 18px 10px 0px !important;}


/*/// PROJECTS PAGE LIST PLUS STYLES - LEFT SIDEBAR ///*/
.plp_leftsidebar {position:relative; padding:0px; margin:0px; }
.plp_leftsidebar .projectlanding_infobin {position:relative; padding:0px 0px 18px 0px !important; margin:0px 0px 20px 0px; width:700px;}
.plp_leftsidebar .projectlanding_infobin .ccm-page-list-title {text-align:left !important; }
.plp_leftsidebar .project-description img {width:200px !important; float:left; margin-left:18px; border:0px !important; }
.plp_leftsidebar #project-description-img {max-height:200px; width:200px !important; float:left; overflow:hidden; padding-top:18px !important;}
.plp_leftsidebar .project-desc-scroll {float:left; text-align:left; width:460px; margin:20px 0px 0px 20px;}
.plp_leftsidebar .project-desc-scroll p {font-size:85%;}
.plp_leftsidebar .projectlanding_infobin h3 {margin:0px !important;}
.plp_leftsidebar .projectlanding_infobin .ccm-page-list-title {background-color: transparent !important; padding:0px 18px 0px 0px !important;}

div#columnbin{position:relative; padding:0px; margin:0px; float:left;}
.binw0 {width:980px;} /*USED full width column*/
.binw0a {width:845px;} /*USED full width column*/
.binw1a {width:416px;} /*USED homepage popup pages*/
.binw1b {width:483px;} /*USED homepage popup pages*/
.binw1c {width:373px;} /*USED homepage popup pages*/
.binw2 {width:315px;} /*USED footer*/
.binw3 {width:384px;} /*USED footer*/
.binw4 {width:241px;} /*USED footer*/
.binw5 {width:238px;} /*USED interior Sidebar*/
.binw6 {width:642px;} /*USED interior Header*/
.binw7 {width:698px;} /*USED interior Main*/
.binw8 {width:340px;} /*USED interior Main 2 columns*/
div#columndivider { padding:0px; margin:0px; float:left;} /*half width column*/

div#footerbin {position:relative; width:100%; margin:0px; text-align:left; padding:0px; background-image:url(../../../../themes/kiewit/images/snavbin_bkgdimg.jpg)/*tpa=http://www.kiewit.com/themes/kiewit/images/snavbin_bkgdimg.jpg*/; background-repeat:repeat; 
-moz-box-shadow: inset 0px 3px 5px #262626;
-webkit-box-shadow: inset 0px 3px 5px #262626;
box-shadow: inset 0px 3px 5px #262626;
/*Inner elements should not cover inner shadows*/
/*IE 7 AND 8 DO NOT SUPPORT INSET SHADOWS*/}
div#footerbin ul {position:relative; list-style:none !important; margin:0px !important; padding:0px !important;}
div#footerbin ul li {position:relative; margin:0px 0px 0px 0px; padding:0px; float:left; line-height:42px;}
div#footerbin ul li a {position:relative; color:#fff !important; font-size:85%; text-decoration:none; display:block; padding:0px 0px 0px 24px; margin:0px; font-weight:bold;}
div#footerbin ul li a:hover {color:#ffce00 !important;}

div#footerbinhome {position:fixed; bottom:0px; width:100%; margin:0px; text-align:left; padding:0px; height:42px; 
	background-image:url(../../../../themes/kiewit/images/black_bkgd.png)/*tpa=http://www.kiewit.com/themes/kiewit/images/black_bkgd.png*/; background-repeat:repeat !important;}
div#footerbinhome ul {position:relative; list-style:none !important; margin:0px !important; padding:0px !important;}
div#footerbinhome ul li {position:relative; margin:0px 0px 5px 0px; padding:0px; float:left; line-height:42px;}
div#footerbinhome ul li a {position:relative; color:#fff !important; font-size:85%; text-decoration:none; display:block; padding:0px 0px 0px 24px; margin:0px; font-weight:bold;}
div#footerbinhome ul li a:hover {color:#ffce00 !important;}

div#footerbin p {color:#fff; font-size:85%;}

div#footerhomecopyrightbin {position:relative; float:left; padding:0px; margin:0px; color:#fff; font-weight:bold; font-size:85%; line-height:42px;}
div#footerhomelinksbin {position:relative; float:left; padding:0px; margin:0px;}
div#footerhomesocialmediabin {position:relative; float:right; padding:0px; margin:-10px 20px 0px 0px;}
.homepagesocial {position:relative; float:left; padding:0px; margin:0px;}
#footerbinhome #footerhomesocialmediabin {margin-top:0px !important;}

#socialmail a {position:relative; float:left; padding:0px; margin:0px; background-image:url(../../../../themes/kiewit/images/social_mail.png)/*tpa=http://www.kiewit.com/themes/kiewit/images/social_mail.png*/; width:31px; height:31px;}
#socialfacebook a {position:relative; float:left; padding:0px; margin:0px; background-image:url(../../../../themes/kiewit/images/social_facebook.png)/*tpa=http://www.kiewit.com/themes/kiewit/images/social_facebook.png*/; width:31px; height:31px;}
#socialtwitter a {position:relative; float:left; padding:0px; margin:0px; background-image:url(../../../../themes/kiewit/images/social_twitter.png)/*tpa=http://www.kiewit.com/themes/kiewit/images/social_twitter.png*/; width:31px; height:31px;}
#sociallinkedin a {position:relative; float:left; padding:0px; margin:0px; background-image:url(../../../../themes/kiewit/images/social_linkedin.png)/*tpa=http://www.kiewit.com/themes/kiewit/images/social_linkedin.png*/; width:31px; height:31px;}
#socialyoutube a {position:relative; float:left; padding:0px; margin:0px; background-image:url(../../../../themes/kiewit/images/social_youtube.png)/*tpa=http://www.kiewit.com/themes/kiewit/images/social_youtube.png*/; width:30px; height:30px;}

#socialmail a:hover {background-image:url(../../../../themes/kiewit/images/social_mail_hover.png)/*tpa=http://www.kiewit.com/themes/kiewit/images/social_mail_hover.png*/; width:31px; height:31px;}
#socialfacebook a:hover {background-image:url(../../../../themes/kiewit/images/social_facebook_hover.png)/*tpa=http://www.kiewit.com/themes/kiewit/images/social_facebook_hover.png*/; width:31px; height:31px;}
#socialtwitter a:hover {background-image:url(../../../../themes/kiewit/images/social_twitter_hover.png)/*tpa=http://www.kiewit.com/themes/kiewit/images/social_twitter_hover.png*/; width:31px; height:31px;}
#sociallinkedin a:hover {background-image:url(../../../../themes/kiewit/images/social_linkedin_hover.png)/*tpa=http://www.kiewit.com/themes/kiewit/images/social_linkedin_hover.png*/; width:31px; height:31px;}
#socialyoutube a:hover {background-image:url(../../../../themes/kiewit/images/social_youtube_hover.png)/*tpa=http://www.kiewit.com/themes/kiewit/images/social_youtube_hover.png*/; width:30px; height:30px;}


div#footerinteriorlinksbin {position:relative; width:100%; margin:0px; text-align:left; padding:0px; height:42px;
	background-image:url(../../../../themes/kiewit/images/black_bkgd.png)/*tpa=http://www.kiewit.com/themes/kiewit/images/black_bkgd.png*/; background-repeat:repeat !important;
}
div#footerinteriorlinksinner {position:relative; margin:0 auto; padding:0px; width:980px;}
#tothetoplink {position:relative; margin:0px; padding:0px; float:right;}
#footerbin h3 {text-transform:uppercase; color:#ffce00 !important;}

.footerquicklinksone {width:122px; float:left;}
.footerquicklinkstwo {width:193px; float:left;}
.footerquicklinksone ul li, .footerquicklinkstwo ul li {float:none !important; line-height:22px !important;}
.footerquicklinksone ul li a, .footerquicklinkstwo ul li a { padding-left:0px !important;}

.top-link {position:absolute; bottom:-27px; right:0px; width:35px; height:12px; background-image:url(../../../../themes/kiewit/images/toplink.png)/*tpa=http://www.kiewit.com/themes/kiewit/images/toplink.png*/; background-repeat:no-repeat;}
.top-link:hover {background-image:url(../../../../themes/kiewit/images/toplink_hover.png)/*tpa=http://www.kiewit.com/themes/kiewit/images/toplink_hover.png*/; background-repeat:no-repeat; }

.clear {clear:both;}
.floatelement_left{float:left; padding:0px; margin:0px;}
.floatelement_right{float:right; padding:0px; margin:0px;}
.imagepad_left {margin-left:10px;}
.imagepad_right {margin-right:10px;}

/* LIST ELEMENTS 

div#columnbin ul {
	list-style-image: url(http://www.kiewit.com/themes/kiewit/images/bullet_arrow.gif);
	list-style-type: square;
	margin:0px 0px 12px 18px;
	padding:0px;
}
div#columnbin ul li {
	margin:3px 0px 0px 0px;
	padding:0px;
}
div#columnbin ul li a { 
	color: #0061CE; 
	
}
div#columnbin ul li a:hover {
	color: #ffffff; 
	background: #84BD11;
}*/
.sitemapbin ul, .interiormainbin ul {
	list-style-image: url(../../../../themes/kiewit/images/sitemap_button-1.png)/*tpa=http://www.kiewit.com/themes/kiewit/images/sitemap_button.png*/;
	list-style-type: square;
	margin:0px 0px 12px 25px;
	padding:0px;
}
.sitemapbin ul li, .interiormainbin ul li {
	margin:6px 0px 0px 0px;
	padding:0px;
}
.sitemapbin ul li {font-size:100% !important;}
.interiormainbin ul li {color:#3e3e3e; font-size:85%;}
.sitemapbin ul li a { 
	color: #d7ac19 !important; 
	text-decoration:none; font-weight:bold; 
	
}
.sitemapbin ul li a:hover, .interiormainbin ul li a:hover {
	text-decoration:underline;
}

/* ///// TYPOGRAPHY ///// */
P {margin:0px 0px 15px 0px; padding:0px;}

body
{
	font-size: 90%;
	line-height: 1.5;
	font-family: Arial, sans-serif;
	font-weight:normal;
	color:#222222;
}

#maxcontainerbin h1, #maxcontainerbin h2, #maxcontainerbin h3, #maxcontainerbin h4, #maxcontainerbin h5, #maxcontainerbin h6
{
	line-height: 1.5;
	margin:0px; padding:0px;
	font-weight:normal;
	color:#333333;
}

#maxcontainerbin h1 { font-family: Arial, Helvetica, sans-serif; font-size: 235%; line-height: 1.0; margin-bottom:10px; text-transform:uppercase; font-weight:bold;}
#maxcontainerbin h2 { font-size:180%; line-height: 1.0; margin-bottom:10px; text-transform:uppercase; font-weight:bold;}
#maxcontainerbin h3 { font-size: 100%; font-weight:bold;}
#maxcontainerbin h4 { font-size: 85%; font-weight:bold; color:#fff; font-family:Arial, Helvetica, sans-serif;  }
#maxcontainerbin h5 { font-size: 100%; }
#maxcontainerbin h6 { font-size: 70%; }

/* ///// OVERRIDE FOR CONCRETE5 ADMIN FLYOUT WHEN IN EDIT MODE ///// */
#ccm-page-controls-wrapper h1 {font-family:Arial, Helvetica, sans-serif; font-weight:bold !important; font-size: 100%; color:#333; line-height: 1.2; margin:0px 0px 0px -5px; padding:5px;}

.clr_white {color:#ffffff !important;}
.clr_ltgray {color:#aaa !important;}
.clr_yellow {color:#ffcd21 !important;}
.clr_drkyellow {color:#d7ac19 !important;}
.clr_black {color:#3e3e3e !important;}

.boldfont {font-weight:bold !important;}
.uppercasefont {text-transform:uppercase;}
.smallerfont {font-size:80% !important;}

a.navbullet {margin:0px; padding:0px 0px 0px 20px; background-image:url(Unknown_83_filename)/*tpa=http://www.kiewit.com/themes/kiewit/images/nav_arrow.png*/; background-repeat:no-repeat; color:#3e3e3e; text-decoration:none;}
a.navbullet:hover {color:#676767; text-decoration:underline;}

.textlinkwhite {color:#fff !important; text-decoration:underline; }
.textlinkwhite:hover { text-decoration:none !important;}

.textlinksmyellow {color:#d7ac19 !important; text-decoration:underline; }
.textlinksmyellow:hover { text-decoration:none !important;}

.textlinkyellow {color:#d7ac19 !important; text-decoration:none; font-weight:bold; font-size:110%; background-image:url(../../../../themes/kiewit/images/textlinkyellow.png)/*tpa=http://www.kiewit.com/themes/kiewit/images/textlinkyellow.png*/; background-repeat:no-repeat; background-position:right; padding-right:15px;}
.textlinkyellow:hover { text-decoration:underline !important;}


.featuredprojectlink {position:relative; margin:0px; padding:0px;  text-decoration:none; color:#ffd500; text-transform:uppercase; font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:85%;}
.featuredprojectlink:hover {color:#fff !important;}

.sscript {position:relative; font-size:50%; top : -.6em;}

.padleft {padding-left:10px !important;}
.padright {padding-right:10px !important;}



.graphicmo {padding:0px; margin:0 0 0 5px;}
.graphicmo:hover {/* IE 8 */-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  /* IE 5-7 */filter: alpha(opacity=80);
  /* Netscape */-moz-opacity: 0.8;
  /* Safari 1.x */-khtml-opacity: 0.8;
  /* Good browsers */opacity: 0.8;}
.graphicmo2 {padding:0px; margin:0px;}
.graphicmo2:hover {/* IE 8 */-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  /* IE 5-7 */filter: alpha(opacity=80);
  /* Netscape */-moz-opacity: 0.8;
  /* Safari 1.x */-khtml-opacity: 0.8;
  /* Good browsers */opacity: 0.8;}
  
  
  
 .yellowbutton {color:#3e3e3e; font-weight:bold; font-family:Arial, Helvetica, sans-serif; padding:9px 20px 9px 20px; text-decoration:none;
 	background-image:url(../../../../themes/kiewit/images/yellow_bkgd.png)/*tpa=http://www.kiewit.com/themes/kiewit/images/yellow_bkgd.png*/; background-repeat:repeat !important;
 }
 .yellowbutton:hover {
 	background-color:rgb(239,185,1);
	background-color:rgba(239,185,1,1.0) !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important;
	/* IE 5-7 */
	filter: alpha(opacity=100) !important;
 }
  
 .blackbutton {color:#ffcd21; font-weight:bold; font-family:Arial, Helvetica, sans-serif; padding:9px 20px 9px 20px; text-decoration:none;
 	background-image:url(../../../../themes/kiewit/images/black_bkgd.png)/*tpa=http://www.kiewit.com/themes/kiewit/images/black_bkgd.png*/; background-repeat:repeat !important;
 	}
 .blackbutton:hover {background-color:rgb(40,40,40);
	background-color:rgba(40,40,40,1.0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	/* IE 5-7 */
	filter: alpha(opacity=100);} 
  
.yellowbutton_new {position:relative; color:#3e3e3e; font-weight:bold; font-family:Arial, Helvetica, sans-serif; padding:9px 20px 9px 20px; text-decoration:none; line-height:30px;
	background-color:rgb(239,185,1);
	background-color:rgba(239,185,1,1.0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	/* IE 5-7 */
	filter: alpha(opacity=100);}
.yellowbutton_new:hover {background-color:rgb(239,185,1);
	background-color:rgba(239,185,1,0.6) !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)" !important ;
	/* IE 5-7 */
	filter: alpha(opacity=60) !important; color:#fff !important;} 
  
.yellowsidebarbutton {color:#3e3e3e; font-weight:bold; text-transform:uppercase; font-family:Arial, Helvetica, sans-serif; padding:18px 26px 16px 26px; background-image:url(../../../../themes/kiewit/images/yellowsidebarbtn.jpg)/*tpa=http://www.kiewit.com/themes/kiewit/images/yellowsidebarbtn.jpg*/; background-repeat:repeat; display:block; text-decoration:none !important; text-align:center !important;}
.yellowsidebarbutton:hover {background-image:url(../../../../themes/kiewit/images/yellowsidebarbtn_over.jpg)/*tpa=http://www.kiewit.com/themes/kiewit/images/yellowsidebarbtn_over.jpg*/;}
  
  
/*Buttons*/
.button {
	position: relative;
	color:#ffffff;
	text-shadow:0 1px 1px rgba(0, 0, 0, 0.25);
	border-top: rgba(255, 255, 255, .2) 1px solid;
	padding:0.6em 1.4em 0.4em 1.4em;
	font-weight:bold;
	font-size:70%;
	text-decoration:none !important;
	text-transform:uppercase;
	text-align:center;
	white-space: nowrap;
	outline: none;
	overflow: visible; /* removes extra side padding in IE */
	cursor: pointer;
	border: 1px solid #999;/* IE */
	border: rgba(0, 0, 0, .2) 1px solid;/* Saf4+, Chrome, FF3.6 */
	border-bottom:rgba(0, 0, 0, .4) 1px solid;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	background: -moz-linear-gradient(
		center top,
		rgba(255, 255, 255, .1) 0%,
		rgba(0, 0, 0, .1) 100%
	);/* FF3.6 */
	background: -webkit-gradient(
		linear,
		center bottom,
		center top,
		from(rgba(0, 0, 0, .1)),
		to(rgba(255, 255, 255, .1))
	);/* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000')"; /* IE8 */
	-moz-user-select: none;
	-webkit-user-select:none;
	-khtml-user-select: none;
	user-select: none;
	margin:0px;
}

.button:hover {
	color:#ffffff;
	text-decoration:none !important;
	text-shadow:0 1px 1px rgba(0, 0, 0, 0.25);
	background: -moz-linear-gradient(
		center top,
		rgba(255, 255, 255, .2) 0%,
		rgba(255, 255, 255, .1) 100% 
	);/* FF3.6 */
	background: -webkit-gradient(
		linear,
		center bottom,
		center top,
		from(rgba(255, 255, 255, .1)),
		to(rgba(255, 255, 255, .2))
	);/* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF')"; /* IE8 */
}
.button:active {
	color:#ffffff;
	text-decoration:none;
	text-shadow:0 1px 1px rgba(0, 0, 0, 0.25);
}
	
/*Button Colors*/
.button.black {background-color: #333333;}
.button.gray {background-color: #999999;}
.button.white {background-color: #ffffff; color:#000000;}
.button.white span{color: #800080;}
.button.red {background-color: #e62727;}
.button.orange {background-color: #f87d34;}
.button.magenta {background-color: #A9014B;}
.button.yellow {background-color: #ffb515;}
.button.blue {background-color: #0175be;}
.button.pink {background-color: #e22092;}
.button.green {background-color: #6b9702;}
.button.rosy {background-color: #F16C7C;}
.button.brown {background-color: #804000;}
.button.purple {background-color: #7981be;}
.button.cyan {background-color: #46C7C7;}
.button.gold {background-color: #D4A017;}


.formBlockSubmitButton {font-size:100% !important;}
/* concrete5 submit button styling */
.buttonstyle, .formBlockSubmitButton {
	position: relative;
	color:#3e3e3e; font-weight:bold; font-family:Arial, Helvetica, sans-serif;  
	background-image:url(../../../../themes/kiewit/images/yellow_bkgd.png)/*tpa=http://www.kiewit.com/themes/kiewit/images/yellow_bkgd.png*/; background-repeat:repeat !important;
	padding:9px 20px 9px 20px; text-decoration:none;
	line-height:1em;
	font-size:80%;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration:none;
	text-align:center;
	white-space: nowrap;
	outline: none;
	overflow: visible; /* removes extra side padding in IE */
	cursor: pointer;
	-moz-user-select: none;
	-webkit-user-select:none;
	-khtml-user-select: none;
	user-select: none;
	margin:0px;
	border:0px !important;
}
.buttonstyle:hover, .buttonstyle.hover, .formBlockSubmitButton:hover {
	background-color:rgb(239,185,1);
	background-color:rgba(239,185,1,1.0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	/* IE 5-7 */
	filter: alpha(opacity=100);
	color:#3e3e3e;
}
.buttonstyle:active, .buttonstyle.active {
	background-color:rgb(239,185,1);
	background-color:rgba(239,185,1,1.0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	/* IE 5-7 */
	filter: alpha(opacity=100); color:#3e3e3e;
}
.buttonstyle:visited, .buttonstyle.visited {
	background-color:rgb(239,185,1);
	background-color:rgba(239,185,1,1.0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	/* IE 5-7 */
	filter: alpha(opacity=100); color:#3e3e3e;
}

/* format tableless form layout */
.miniSurveyView label {display: block;
    float: left;
   	width:175px;
	margin:0px 10px 10px 0px;}
.miniSurveyView input {display: block;
    float: left;
	margin-bottom:20px !important;}
.miniSurveyView [type="text"]{width:352px; height:30px; border:2px solid #efb901;}
.miniSurveyView [type="tel"]{width:352px; height:30px; border:2px solid #efb901;}
.miniSurveyView [type="email"]{width:352px; height:30px; border:2px solid #efb901;}
.miniSurveyView select {width:352px !important; height:30px !important; background-color:#fff !important; background:#fff !important; border:2px solid #efb901 !important; margin-bottom:20px !important;}
.miniSurveyView textarea {width:342px; height:120px; margin-bottom:20px !important; padding:6px; border:2px solid #efb901;}
label[for="captcha"] {margin-left:202px !important; width:350px;}

.captcha {position:relative; padding-top:25px !important; border-top:2px dotted #ccc;}
.radioPair label {display: block;
    float: left;
   	width:auto;
	margin:0px 15px 0px 0px;}
	
.errors {position:relative; width:100%; color:#ffc; background-color:#990000; padding:0px; margin-bottom:25px; text-align:center;}
.errorinner {position:relative; width:90%; color:#ffc; background-color:#990000; padding:15px 0px 15px 0px !important; margin:0 auto; text-align:left;}
.error {color:#fff; font-weight:bold;}

/* pagination styling */
.ccm-pagination {color:#999 !important; }
.ccm-pagination a {background-color:#333333 !important; color:#fff !important; text-decoration:none !important; padding:1px 5px 1px 5px; margin:0px 1px 0px 1px; font-weight:bold !important; }
.ccm-pagination a:hover {background-color:#666666 !important; color:#fff !important; text-decoration:none !important; padding:1px 5px 1px 5px; margin:0px 1px 0px 1px; font-weight:bold !important;}
.currentPage {background-color:#ffcd21 !important; color:#fff !important; padding:1px 5px 1px 5px; margin:0px 5px 0px 0px;  }
.ccm-page-left a, .ccm-page-right a{color:#333 !important; background-color:transparent !important; text-decoration:underline !important;}
.ccm-page-left a:hover, .ccm-page-right a:hover { background-color:transparent !important; color:#666666 !important;}

.modal {
  display: none;
  height: 700px;
  width: 980px;
  background: #ffd300;
  padding:0px;
  -webkit-box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  -o-box-shadow: 0 0 10px #000;
  -ms-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
}


/* 
.modal-spinner {
  display: none;
  width: 64px;
  height: 64px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -32px;
  margin-top: -32px;
  background: url(http://www.kiewit.com/themes/kiewit/spinner.gif) #111 no-repeat center center;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
}
 */


.content-wrapper {
	float: right;
}

#modal-content{
	border: 0;
	width: 925px;
	z-index: 100;
	overflow-x:hidden;
	overflow-y:auto;
	clear:both;
	background-color: #1e1e1e;
}

#modal-nav {
	float: left;
	width:54px;
	background:#ffd300;
}

/* active / inactive stuff */
#modal-nav div {
}

#modal-nav div.active {
}


::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-button {
	width: 8px;
	height:5px;
}
::-webkit-scrollbar-track {
	background:#eee;
	border: thin solid lightgray;
	box-shadow: 0px 0px 3px #dfdfdf inset;
	border-radius:10px;
}
::-webkit-scrollbar-thumb {
	background:#ffd300;
	border: thin solid gray;
	border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
	background:#7d7d7d;
}			

/*///// LOGIN PAGE STYLES /////*/
#loginbin {position:relative; margin:0px 0px 0px 0px; width:438px !important; text-align:left; background-image:url(../../../../themes/kiewit/images/snavbin_bkgdimg.jpg)/*tpa=http://www.kiewit.com/themes/kiewit/images/snavbin_bkgdimg.jpg*/ !important; background-repeat:repeat; }
#loginbin fieldset {border:0px !important; padding:0px 0px 0px 25px;}
#loginbin .page-header {padding:0px 0px 20px 0px !important; margin:0 auto !important; }
#loginbin .page-header h1 {color:#ffcd21;}
#loginbin .page-header .snavbinheader {color:#ffcd21 !important;}
#loginbin .ccm-input-text {width:361px; height:34px; padding-left:11px; margin-top:3px; background-color:#fff !important; border:0px !important;}
#loginbin .ccm-input-submit {margin-left:25px;}
#loginbin .control-group label {color:#fff;}

#loginbin .yellowbutton {border:0px !important; font-size:100% !important; cursor:pointer; color:#fff !important;}

#loginbin .control-group {margin:20px 0px 0px 0px !important;}
#footerinfo {text-align:center;}
#loginbin .lostpassword { width:331px; }
#loginbin .lostpasswordbtn {margin-left:-15px !important;}
#loginbin .lostpasswordbtn .ccm-input-submit {margin:26px 0px 0px 15px !important;}

#logobinlogin {margin:0 auto; text-align:center; margin:25px 0px 12px 0px;}
#loginfooter {height:40px;}
#footerinfo {margin-top:35px;}
.ccm-error {color:#fff !important; background-color:#bf2e1a; text-align:center; width:348px !important; margin:0px 0px 30px 40px !important; list-style:none !important; font-weight:400 !important; padding:0px 0px 0px 0px !important; line-height:34px;}
.ccm-ui .actions {border:0px !important; background-color:#fff !important;}


::selection {
	background:#ffcd21 !important; /* Safari */ color:#fff;
	}
::-moz-selection {
	background:#ffcd21 !important; /* Firefox */ color:#fff;
}


.igc_locationsbin {position:relative; margin:0px 6px 13px 6px; padding:0px; width:314px; height:250px; background-image:url(../../../../themes/kiewit/images/snavbin_bkgdimg.jpg)/*tpa=http://www.kiewit.com/themes/kiewit/images/snavbin_bkgdimg.jpg*/; background-repeat:repeat;  float:left;}
.igc_locations_company { padding:18px 26px 15px 26px; color:#ffcd21; font-size:105%; margin:0px 0px 13px 0px; position:relative; font-weight:bold; text-transform:uppercase; line-height:1.2;
	background-image:url(../../../../themes/kiewit/images/black_bkgd.png)/*tpa=http://www.kiewit.com/themes/kiewit/images/black_bkgd.png*/; background-repeat:repeat !important;

}
.igc_locationsbin_inner {position:relative; margin:0px; padding:0px 18px 25px 26px; color:#fff; font-size:85%;}
.igc_locationsbin a {text-decoration:none; color:#ffcd21;}
.igc_locationsbin a:hover {text-decoration:underline;}
.igc_locations_category {display:none;}
.igc_locations_link a {font-size:105%; font-weight:bold;}

.mobileonly {display:none;}
.tabletonly {display:none;}
.nomobile {display:block;}
.notablet {display:block;}
.homepagephoneonly {display:none;}
.homepagetabletonly {display:none;}

.accordioncontentbin {position:relative; margin:0px; padding:0px; }
.accordionheading {position:relative; margin:0px; padding:0px; text-align:center; width:auto; height:56px; line-height:56px; cursor:pointer; color:#ffce00 !important; font-weight:bold; text-transform:uppercase; }
.accordioninfo {background-color:rgba(0,0,0,0.05); width:auto; padding:20px 0px 20px 0px; height:auto !important; display:none; text-align:center;}

/*///// BUSINESS WITH US DBE PROJECT STYLES /////*/
#dbe-items h3 {background-image:url(../../../../themes/kiewit/images/yellowsidebar_bkgdimg.jpg)/*tpa=http://www.kiewit.com/themes/kiewit/images/yellowsidebar_bkgdimg.jpg*/; background-repeat:repeat !important; display: block; margin: 0 !important; padding: 0 !important;}

#dbe-items h3 a {position:relative; padding:18px 26px 15px 26px !important; color:#3e3e3e; text-transform:uppercase; font-weight:bold; font-size:105%;background-image:url(../../../../themes/kiewit/images/yellow_bkgd.png)/*tpa=http://www.kiewit.com/themes/kiewit/images/yellow_bkgd.png*/; background-repeat:repeat !important;display: block;} 

#dbe-items .ccm-page-list-description {position:relative; margin:0px 0px 22px 0; padding:15px 22px 15px 26px; font-size:85%;background-image:url(../../../../themes/kiewit/images/yellowsidebar_bkgdimg.jpg)/*tpa=http://www.kiewit.com/themes/kiewit/images/yellowsidebar_bkgdimg.jpg*/;background-repeat:repeat !important;}


.buildingserviceslinks a img:hover, .buildingserviceslinks a:hover {opacity: 0.8;
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 80);
/*-ms-filter must come before filter*/
filter: alpha(opacity = 80);
/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
/*All filters must be placed together*/
}


#homepageawards {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#homepageawards ul {
	display: block;
	position: absolute;
	bottom: 100px;
	right: 60px;
	z-index:1;
	list-style-type:none;
	margin: 0;
	padding: 0;
}
#homepageawards li {
	margin: 0 20px 0 0;
	background: #fff;
	width: 150px;
	height: 150px;
	line-height: 150px;
	float: left;
}
#homepageawards img {
	margin: 0 auto;
	vertical-align: middle;
}

#alert {
	clear: both;
	float: left;
	border: 1px #ff0000 solid;
	background-color: #ffcccc;
	padding: 10px 10px 0px 10px;
	margin-bottom: 1em;
	width: 100%;
}
#alert h3 {
	text-transform: uppercase;
	margin: 0 0 20px 0;
}
#alert p {
	margin: 0 0 20px 0;
}
#alert a{
	color:#000;
	text-decoration:underline;
	font-weight: bold;
}

#projecttext {
	position: absolute;
	bottom: 100px;
	right: 60px;
	z-index: 1001;
	font-size: 32px;
	color: #fff;
	text-shadow: 2px 2px 1px #000;
}

#projecttext h3 {
	color: #fff;
}