            .lcplaylist {
                float:left;
                height:320px;
                left:0px;
                overflow-x:hidden;
                overflow-y:auto;
                position:relative;
                top:40px;
                width:460px;
            }

            .widgetblock {
                cursor:pointer;
                padding:8px;
                width:430px;
                height:90px;
                margin-bottom:0px;
            }



            .thumbnail {
                float:left;
                height:90px;
                position:relative;
                width:120px;
                left:0px !important;
                left:-2px;
            }

            img.thumbnailimg {
                width:60px;
                height:45px;
            }



            .videoinformation {
                float:left;
                position:relative;
                text-align:left;
                top:0;
                left:10px;
                width:310px;
            }

            .videometa {
                float: left;
                left: 0px;
                font-family: Arial,Helvetica,sans-serif;
                font-size: 12px;
                color:#666666;
                position: relative;
                text-align: justify;
                top: 8px;
                width: 300px;
            }


            a.widgetlink {
                text-decoration:none;
                color:#5460A0;
                font-family: Arial,Helvetica,sans-serif;
                font-size: 12px;
                font-weight:bold;
                position: relative;
                top: 10%;
                text-align: left;
            }


            .lcplaybtn {
                -moz-background-clip:border;
                -moz-background-inline-policy:continuous;
                -moz-background-origin:padding;
                background:transparent url(../../../../liveclicker.net/vms/images/PlayButton.png)/*tpa=http://liveclicker.net/vms/images/PlayButton.png*/ no-repeat scroll 0 0;
                height:38px;
                left:42px;
                position:absolute;
                top:29px;
                width:37px;
                z-index:100;
            }



            .thumbnailcontainer {
                float:left;
                height:95px;
                position:relative;
                width:120px;
            }
