#modal-wrap {
  	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1001;
	background-color: #000;
	border: 6px solid #242424;
	display: block;
}

#modal-wrap header {
	cursor: move;
}

#modal-wrap h1 {
	font: normal 25px/30px 'TradeGothic-CnBold', 'Arial Narrow', sans-serif;
	margin: 9px 0px 5px 13px;
	text-transform: uppercase;
	color: #F60;
}
#modal-wrap h2 {
	font: normal 18px/24px 'TradeGothic-CnBold', 'Arial Narrow', sans-serif;
	margin: 5px 200px 12px 13px;
	text-transform: uppercase;
	color: #FFF;
}
#modal-wrap .close {
	right: 8px;
	background: url(/etc/designs/h-d/clientlibs.common/images/common/close.jpg) -34px 0px no-repeat;
	width: 32px;
	height: 19px;
	display: block;
	text-indent: -13px;
	overflow: hidden;
	padding: 0px;
	position: absolute;
	top: 11px;
}
#modal-wrap .close:hover {
	background: url(/etc/designs/h-d/clientlibs.common/images/common/close.jpg) -34px 0px no-repeat;
}

.close-wrapper {
	position: absolute !important;
	top: 0 !important;
	display: block !important;
	height: 33px !important;
	width: auto !important;
	line-height: 40px !important;
	text-transform: uppercase !important;
	right: 5px !important;
	font-size: 11px !important;
	color: #BBB !important;
	font-family: TradeGothic-CnBold, 'Arial Narrow', sans-serif !important;
	background: none !important;
	text-indent: 2px !important;
	padding-right: 48px !important;
}

#modal-wrap .window {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	border: 6px solid #141414;
	background-color: #000;
}
.overlay {
	background-color: #000;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: 0.01;
	/* filter: alpha(opacity=1); */
	z-index: 1000;
}
.stage-items {
	overflow: hidden;
}