/* <RadMenu / Default> */

.RadMenu_CMS2 .rmRootGroup,
.RadMenu_CMS2 a.rmLink,
.RadMenu_CMS2 .rmGroup .rmText,
.RadMenu_CMS2 .rmLeftArrow,
.RadMenu_CMS2 .rmRightArrow,
.RadMenu_CMS2 .rmTopArrow,
.RadMenu_CMS2 .rmBottomArrow
{
	background-image: url('Menu/rmSprite.png')/*tpa=http://www.peabodyenergy.com/radcontrols/menu/cms2/Menu/rmSprite.png*/;
	background-color: transparent;
}

.RadMenu_CMS2 .rmRootGroup
{
	border: 0;
	background: none;	
	min-width: 100px !important;
}

.RadMenu_CMS2 .rmGroup .rmText
{
	padding: 4px 15px 4px 11px !important;
}

/* <Root items> */

/* Note, postion relative is huge to get the border to work right */
.RadMenu_CMS2 .rmExpanded
{
	position: relative !important;
	z-index: 15000 !important;
}

.RadMenu_CMS2,
.RadMenu_CMS2 a.rmLink
{
	/*font: normal 12px/23px;*/
	color: #5d5d5d;
	text-decoration: none;
}

.RadMenu_CMS2 a.rmLink,
.RadMenu_CMS2 a.rmDisabled,
.RadMenu_CMS2 a.rmDisabled:hover
{
	background-position: 0 -68px;
}

.RadMenu_CMS2 .rmFirst a.rmLink,
.RadMenu_CMS2 .rmFirst a.rmLink:hover,
.RadMenu_CMS2 .rmLast .rmText,
.RadMenu_CMS2 .rmLast a.rmLink:hover .rmText,
.RadMenu_CMS2 .rmVertical a.rmLink,
.RadMenu_CMS2 .rmVertical .rmText
{
	background-repeat: no-repeat;
	background-position: 0 500px;	
}

.RadMenu_CMS2 .rmVertical .rmFirst,
.RadMenu_CMS2 .rmVertical .rmLast
{
	background: none;
}

.RadMenu_CMS2 a.rmLink:hover,
.RadMenu_CMS2 a.rmFocused,
.RadMenu_CMS2 a.rmSelected
{
	text-decoration: underline;
}

.RadMenu_CMS2 .rmHorizontal .rmRootLink span.rmText
{
	display: inline;
	padding: 5px 15px 5px 15px;
}

.RadMenu_CMS2 .rmHorizontal a.rmRootLink
{
	/*padding-left: 1px;*/
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	border-top: 1px solid #fff;
}

.RadMenu_CMS2 .rmHorizontal .rmItem > a.rmRootLink /* IE6 doesn't like width: 100% on its items. */
{
	width: 100%;
}

.RadMenu_CMS2 .rmHorizontal img.rmLeftImage
{
	margin: 0 -1px -1px 0;
	cursor: pointer;		
}

.RadMenu_CMS2_rtl .rmHorizontal img.rmLeftImage
{
	margin: 0 0 -1px -1px;
	cursor: pointer;		
}

.RadMenu_CMS2 .rmVertical a.rmLink
{
	padding-top: 1px;
	padding-bottom: 1px;
}

.RadMenu_CMS2 .rmVertical a.rmLink:hover,
.RadMenu_CMS2 .rmVertical a.rmFocused,
.RadMenu_CMS2 .rmVertical a.rmSelected,
.RadMenu_CMS2 .rmVertical a.rmExpanded,
.RadMenu_CMS2 .rmVertical a.rmExpanded:hover
{
	padding-top: 0;
	padding-bottom: 0;
	border-style: solid;
	border-color: #828282;
	border-width: 1px 0;
}

.RadMenu_CMS2 .rmVertical .rmFirst a.rmLink:hover,
.RadMenu_CMS2 .rmVertical .rmFirst a.rmFocused,
.RadMenu_CMS2 .rmVertical .rmFirst a.rmSelected,
.RadMenu_CMS2 .rmVertical .rmFirst a.rmExpanded,
.RadMenu_CMS2 .rmVertical .rmFirst a.rmExpanded:hover
{
	padding-top: 1px;
	padding-bottom: 0;
	border-top-width: 0;
}

.RadMenu_CMS2 .rmVertical .rmLast a.rmLink:hover,
.RadMenu_CMS2 .rmVertical .rmLast a.rmFocused,
.RadMenu_CMS2 .rmVertical .rmLast a.rmSelected,
.RadMenu_CMS2 .rmVertical .rmLast a.rmExpanded,
.RadMenu_CMS2 .rmVertical .rmLast a.rmExpanded:hover
{
	padding-bottom: 1px;
	padding-top: 0;
	border-bottom-width: 0;
}

.RadMenu_CMS2 .rmVertical .rmItem a.rmDisabled:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	border-width: 0;
}

.RadMenu_CMS2 a.rmExpanded,
.RadMenu_CMS2 a.rmExpanded:hover
{
	background: #fff;
	z-index: 15000 !important;
	border-left: 1px solid #BFBEBE  !important;
	border-right: 1px solid #BFBEBE  !important;
	border-top: 1px solid #BFBEBE  !important;
}

.RadMenu_CMS2 a.rmDisabled,
.RadMenu_CMS2 a.rmDisabled:hover
{
	color: #7d7d7d;
	background-color: transparent;
}

/* </Root items> */


/* <Submenu items> */

.RadMenu_CMS2 .rmGroup,
.RadMenu_CMS2 .rmMultiColumn,
.RadMenu_CMS2 .rmGroup .rmVertical
{
	/*background: transparent url('Menu/rmVSprite.png') repeat-y 0 0;*/
	background: none;
	/*border: 1px solid #BFBEBE;*/
    color: #5d5d5d;
    cursor: pointer;    
    z-index: 1;    
}

.RadMenu_CMS2 .rmTopFix,
.RadMenu_CMS2 .rmBottomFix,
.RadMenu_CMS2 .rmRoundedCorners .rmGroup .rmItem,
.RadMenu_CMS2 .rmRoundedCorners li.rmFirstGroupColumn .rmItem,
.RadMenu_CMS2 .rmRoundedCorners ul.rmHorizontal .rmFirst,
.RadMenu_CMS2_Context.rmRoundedCorners .rmGroup .rmItem,
.RadMenu_CMS2_Context.rmRoundedCorners ul.rmHorizontal .rmFirst
{
	background-image: url('menu/rmvsprite-1.png')/*tpa=http://www.peabodyenergy.com/radcontrols/menu/cms2/Menu/rmVSprite.png*/;
	background-color: #fff; 
	background-repeat: repeat-y;
}

* html .rmRoundedCorners_CMS2 .rmGroup .rmItem,
* html .rmRoundedCorners_CMS2 ul.rmHorizontal .rmFirst
{
	background-image: url('menu/rmvsprite-1.png')/*tpa=http://www.peabodyenergy.com/radcontrols/menu/cms2/Menu/rmVSprite.png*/;
	background-color: #fff; 
	background-repeat: repeat-y;
}

.RadMenu_CMS2 .rmRoundedCorners .rmScrollWrapContainer .rmGroup,
.RadMenu_CMS2 .rmRoundedCorners .rmScrollWrap .rmItem,
.RadMenu_CMS2 .rmRoundedCorners .rmGroupColumn .rmItem,
.RadMenu_CMS2 .rmRoundedCorners .rmHorizontal .rmItem,
.RadMenu_CMS2 .rmRoundedCorners .rmScrollWrap .rmVertical,
.RadMenu_CMS2_Context.rmRoundedCorners .rmScrollWrapContainer .rmGroup,
.RadMenu_CMS2_Context.rmRoundedCorners .rmScrollWrap .rmItem,
.RadMenu_CMS2_Context.rmRoundedCorners .rmHorizontal .rmItem,
.RadMenu_CMS2_Context.rmRoundedCorners .rmScrollWrap .rmVertical
{
	background-image: none;
}

* html .rmRoundedCorners_CMS2 .rmScrollWrapContainer .rmGroup,
* html .rmRoundedCorners_CMS2 .rmScrollWrap .rmItem,
* html .rmRoundedCorners_CMS2 .rmHorizontal .rmItem,
* html .rmRoundedCorners_CMS2 .rmScrollWrap .rmVertical
{
	background-image: none;
}

.RadMenu_CMS2 .rmRoundedCorners .rmGroupColumn
{
	background-color: #fff;
}

.RadMenu_CMS2 .rmBottomLeft,
.RadMenu_CMS2 .rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_CMS2_Context.rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_CMS2_Context.rmRoundedCorners ul.rmGroup,
.RadMenu_CMS2 .rmRoundedCorners ul.rmGroup,
.RadMenu_CMS2 .rmRoundedCorners .rmMultiColumn
{
	background-image:  url('menu/rmroundedleft-1.png')/*tpa=http://www.peabodyenergy.com/radcontrols/menu/cms2/Menu/rmRoundedLeft.png*/;
	background-color: transparent; 
	background-repeat: no-repeat;
}

* html .rmRoundedCorners_CMS2 .rmScrollWrapContainer,
* html .rmRoundedCorners_CMS2 .rmGroup ul.rmGroup,
* html .rmRoundedCorners_CMS2 ul.rmGroup
{
	background-image:  url('menu/rmroundedleft-1.png')/*tpa=http://www.peabodyenergy.com/radcontrols/menu/cms2/Menu/rmRoundedLeft.png*/;
	background-color: transparent; 
	background-repeat: no-repeat;
}

.RadMenu_CMS2 .rmTopRight,
.RadMenu_CMS2 .rmBottomRight
{
	background-image:  url('menu/rmroundedright-1.png')/*tpa=http://www.peabodyenergy.com/radcontrols/menu/cms2/Menu/rmRoundedRight.png*/;
	background-color: transparent; 
	background-repeat: no-repeat;
}

.RadMenu_CMS2 .rmTopFix,
.RadMenu_CMS2 .rmBottomFix,
.RadMenu_CMS2 .rmRoundedCorners .rmGroup .rmFirst,
.RadMenu_CMS2_Context.rmRoundedCorners .rmGroup .rmFirst,
.rmRoundedCorners_CMS2 .rmGroup .rmFirst
{
	border-color: #979797;
}

.RadMenu_CMS2 .rmRoundedCorners .rmScrollWrapContainer .rmTopFix,
.RadMenu_CMS2 .rmRoundedCorners .rmScrollWrapContainer .rmBottomFix,
.RadMenu_CMS2_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopFix,
.RadMenu_CMS2_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomFix
{
	background: #FFF;
}

* html .rmRoundedCorners_CMS2 .rmScrollWrapContainer .rmTopFix,
* html .rmRoundedCorners_CMS2 .rmScrollWrapContainer .rmBottomFix
{
	background: #FFF;
}

.RadMenu_CMS2 .rmRoundedCorners .rmScrollWrapContainer .rmTopArrow,
.RadMenu_CMS2 .rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow,
.RadMenu_CMS2 .rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow,
.RadMenu_CMS2 .rmRoundedCorners .rmScrollWrapContainer .rmRightArrow,
.RadMenu_CMS2_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopArrow,
.RadMenu_CMS2_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow,
.RadMenu_CMS2_Context.rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow,
.RadMenu_CMS2_Context.rmRoundedCorners .rmScrollWrapContainer .rmRightArrow
{
	background-color: #FFF;
	border: 0;
}

* html .rmRoundedCorners_CMS2 .rmScrollWrapContainer .rmTopArrow,
* html .rmRoundedCorners_CMS2 .rmScrollWrapContainer .rmBottomArrow,
* html .rmRoundedCorners_CMS2 .rmScrollWrapContainer .rmLeftArrow,
* html .rmRoundedCorners_CMS2 .rmScrollWrapContainer .rmRightArrow
{
	background-color: #FFF;
	border: 0;
}

.RadMenu_CMS2_rtl .rmBottomLeft,
.RadMenu_CMS2_rtl .rmRoundedCorners ul.rmGroup,
.RadMenu_CMS2_rtl .rmRoundedCorners .rmMultiColumn,
.RadMenu_CMS2 .rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_CMS2 .rmScrollWrapContainer .rmBottomLeft,
.rmRoundedCorners.RadMenu_CMS2_Context_rtl ul.rmGroup,
.RadMenu_CMS2_Context.rmRoundedCorners .rmScrollWrapContainer
{
	background-image: url('menu/rmroundedleft_rtl-1.png')/*tpa=http://www.peabodyenergy.com/radcontrols/menu/cms2/Menu/rmRoundedLeft_rtl.png*/;
}

.RadMenu_CMS2_rtl .rmTopRight,
.RadMenu_CMS2_rtl .rmBottomRight
{
	background-image: url('menu/rmroundedright_rtl-1.png')/*tpa=http://www.peabodyenergy.com/radcontrols/menu/cms2/Menu/rmRoundedRight_rtl.png*/;
}

.RadMenu_CMS2_rtl li.rmTopFix,
.RadMenu_CMS2_rtl li.rmBottomFix,
.RadMenu_CMS2_rtl .rmRoundedCorners .rmGroup .rmItem,
.rmRoundedCorners.RadMenu_CMS2_Context_rtl .rmGroup .rmItem
{
	background-position: 101% 0;
}

.RadMenu_CMS2 .rmSlide .rmScrollWrap
{
	background-image: none;
}

.RadMenu_CMS2_rtl .rmGroup,
.RadMenu_CMS2_rtl .rmMultiColumn,
.RadMenu_CMS2_rtl .rmGroup .rmVertical
{
	background-position: 100% 0;
}

.RadMenu_CMS2 .rmRootGroup li.rmItem .rmGroup
{
	padding: 18px 0;
}

.RadMenu_CMS2 .rmRootGroup .rmHorizontal
{
	background-image: none;
}

.RadMenu_CMS2 .rmScrollWrap .rmVertical
{
	border: 0;
}

.RadMenu_CMS2 .rmRoundedCorners .rmScrollWrapContainer li.rmItem,
.RadMenu_CMS2_Context.rmRoundedCorners .rmScrollWrapContainer li.rmItem,
.rmRoundedCorners_CMS2 .rmScrollWrapContainer li.rmItem
{
	background: none;
}

.RadMenu_CMS2 .rmGroup .rmItem a.rmLink,
.RadMenu_CMS2 .rmGroup .rmItem a.rmLink:hover,
.RadMenu_CMS2 .rmGroup .rmItem a.rmFocused,
.RadMenu_CMS2 .rmGroup .rmItem a.rmSelected,
.RadMenu_CMS2 .rmGroup .rmItem a.rmExpanded
{
	padding-top: 0;
	padding-bottom: 0;
	border: 0;
	cursor: pointer;
}

.RadMenu_CMS2 .rmGroup .rmLast a.rmLink,
.RadMenu_CMS2 .rmGroup .rmLast a.rmLink:hover,
.RadMenu_CMS2 .rmGroup .rmLast a.rmFocused,
.RadMenu_CMS2 .rmGroup .rmLast a.rmSelected,
.RadMenu_CMS2 .rmGroup .rmLast a.rmExpanded
{
	padding-bottom: 1px;
}

.RadMenu_CMS2 .rmGroup a.rmLink,
.RadMenu_CMS2 .rmGroup .rmText,
.RadMenu_CMS2 .rmGroup .rmItem a.rmDisabled,
.RadMenu_CMS2 .rmGroup .rmItem a.rmDisabled:hover,
.RadMenu_CMS2 .rmGroup .rmItem a.rmDisabled .rmText,
.RadMenu_CMS2 .rmGroup .rmItem a.rmDisabled:hover .rmText
{
	background-position: 0 500px;
	background-repeat: no-repeat;
	background-color: transparent;
}

.RadMenu_CMS2 .rmGroup a.rmLink:hover,
.RadMenu_CMS2 .rmGroup a.rmFocused,
.RadMenu_CMS2 .rmGroup a.rmSelected,
.RadMenu_CMS2 .rmGroup a.rmExpanded
{
	background-position: 0;
	/*
	background-position: 0 -168px;
*/
}

.RadMenu_CMS2 .rmGroup a.rmLink:hover .rmText,
.RadMenu_CMS2 .rmGroup a.rmFocused .rmText,
.RadMenu_CMS2 .rmGroup a.rmSelected .rmText,
.RadMenu_CMS2 .rmGroup a.rmExpanded .rmText
{
	background-position: 0;
	/*background-position: 100% -192px;*/
}

/* <expand arrows> */

.RadMenu_CMS2 .rmGroup .rmExpandRight,
.RadMenu_CMS2 .rmGroup .rmExpandDown,
.RadMenu_CMS2 .rmGroup .rmItem a.rmDisabled .rmExpandRight,
.RadMenu_CMS2 .rmGroup .rmItem a.rmDisabled .rmExpandDown,
.RadMenu_CMS2 .rmGroup .rmItem a.rmDisabled:hover .rmExpandRight,
.RadMenu_CMS2 .rmGroup .rmItem a.rmDisabled:hover .rmExpandDown
{
	background-position: 100% -216px;
}

.RadMenu_CMS2 .rmGroup a.rmLink:hover .rmExpandRight,
.RadMenu_CMS2 .rmGroup a.rmFocused .rmExpandRight,
.RadMenu_CMS2 .rmGroup a.rmSelected .rmExpandRight,
.RadMenu_CMS2 .rmGroup a.rmExpanded .rmExpandRight,
.RadMenu_CMS2 .rmGroup a.rmLink:hover .rmExpandDown,
.RadMenu_CMS2 .rmGroup a.rmFocused .rmExpandDown,
.RadMenu_CMS2 .rmGroup a.rmSelected .rmExpandDown,
.RadMenu_CMS2 .rmGroup a.rmExpanded .rmExpandDown
{
	background-position: 100% -240px;
}

.RadMenu_CMS2 .rmGroup a.rmDisabled:hover .rmExpandRight,
.RadMenu_CMS2 .rmGroup a.rmDisabled:hover .rmExpandDown
{
	background-image: url('Menu/rmSprite.png')/*tpa=http://www.peabodyenergy.com/radcontrols/menu/cms2/Menu/rmSprite.png*/;
	background-position: 100% -216px;
}

/* </expand arrows> */

/* <rtl> */

.RadMenu_CMS2_rtl a.rmLink,
.RadMenu_CMS2_rtl .rmRootGroup a.rmDisabled
{
	background-position: 100% -96px;
}

.RadMenu_CMS2_rtl .rmGroup a.rmDisabled
{
	background: none;
}

.RadMenu_CMS2_rtl .rmText
{
	background-position: 0 -96px;
}

.RadMenu_CMS2_rtl .rmVertical a.rmExpanded .rmText,
.RadMenu_CMS2_rtl .rmVertical a.rmExpanded:hover .rmText
{
	background-position: 0 500px;
	background-repeat: no-repeat;
}

.RadMenu_CMS2_rtl .rmGroup a.rmLink:hover,
.RadMenu_CMS2_rtl .rmGroup a.rmFocused,
.RadMenu_CMS2_rtl .rmGroup a.rmSelected,
.RadMenu_CMS2_rtl .rmGroup a.rmExpanded
{
	background-position: 100% -264px;
}

.RadMenu_CMS2_rtl .rmGroup a.rmLink:hover .rmText,
.RadMenu_CMS2_rtl .rmGroup a.rmFocused .rmText,
.RadMenu_CMS2_rtl .rmGroup a.rmSelected .rmText,
.RadMenu_CMS2_rtl .rmGroup a.rmExpanded .rmText
{
	background-position: 0 -288px;
}

.RadMenu_CMS2_rtl .rmGroup .rmExpandLeft
{
	background-position: 0 -312px;
}

.RadMenu_CMS2_rtl .rmGroup a.rmLink:hover .rmExpandLeft,
.RadMenu_CMS2_rtl .rmGroup a.rmFocused .rmExpandLeft,
.RadMenu_CMS2_rtl .rmGroup a.rmSelected .rmExpandLeft,
.RadMenu_CMS2_rtl .rmGroup a.rmExpanded .rmExpandLeft
{
	background-position: 0 -336px;
}

/* </rtl> */

/* </Submenu items> */

/* <Submenu offsets (Default - specific, overlapping submenus)> */

.RadMenu_CMS2 .rmSlide
{
	background: #fff;
	border: 1px solid #BFBEBE;
    margin: -1px 0 0 0;
}

.RadMenu_CMS2 .rmVertical .rmSlide,
.RadMenu_CMS2 .rmSlide .rmSlide,
.RadMenu_CMS2_Context .rmGroup .rmSlide
{
	margin: 0 0 0 -5px;
}

.RadMenu_CMS2_rtl .rmSlide
{
	margin: 0 0 0 0;
}

.RadMenu_CMS2_rtl .rmFirst .rmSlide
{
	margin-left: 1px;
}

.RadMenu_CMS2_rtl .rmVertical .rmSlide,
.RadMenu_CMS2_rtl .rmSlide .rmSlide,
.RadMenu_CMS2_Context_rtl .rmGroup .rmSlide
{
	margin: 0 0 0 5px;
}

/* </Submenu offsets> */

/* <Scrolling arrows> */

.RadMenu_CMS2 .rmLeftArrow,
.RadMenu_CMS2 .rmRightArrow
{
	background-color: #E6E6E6;
}

.RadMenu_CMS2 .rmLeftArrow { background-position: -8px -312px; border-right: 1px solid #828282; }
.RadMenu_CMS2 .rmRightArrow { background-position: -482px -216px; border-left: 1px solid #828282; }

.RadMenu_CMS2 .rmTopArrow,
.RadMenu_CMS2 .rmBottomArrow,
.RadMenu_CMS2 .rmGroup .rmLeftArrow,
.RadMenu_CMS2 .rmGroup .rmRightArrow
{
	background-color: #E6E6E6;
}

.RadMenu_CMS2 .rmTopArrow { background-position: 50% -367px; border-bottom: 1px solid #828282; }
.RadMenu_CMS2 .rmBottomArrow { background-position: 50% -391px; border-top: 1px solid #828282; }

/* </Scrolling arrows> */

/* <Separators> */

.RadMenu_CMS2 .rmHorizontal .rmSeparator .rmText,
.RadMenu_CMS2 .rmVertical .rmHorizontal .rmSeparator .rmText
{
	height: 22px;
	margin: 1px 0 0;
	width: 1px;
	background-color: #A8A8A8;
}

.RadMenu_CMS2_Context .rmSeparator .rmText,
.RadMenu_CMS2 .rmHorizontal .rmGroup .rmSeparator .rmText,
.RadMenu_CMS2 .rmVertical .rmHorizontal .rmGroup .rmSeparator .rmText
{
	background-color: transparent;
	background-position: 0 -406px;
}

/* </Separators> */

/* </RadMenu / Default> */