/******************************************************************
Theme Name: PPL Web
Description: Default template to use with PPL Web
Author: Brian Clovis, Allison Martin
Version: 0.6
Tags: fluid-layout, responsive-layout, accessibility-ready, translation-ready, microformats, rtl-language-support,HTML5, Canvas,Sass,Grunt

License: WTFPL
License URI: http://sam.zoy.org/wtfpl/
Are You Serious? Yes.


MAKE SURE TO READ BELOW BEFORE GETTING STARTED FOR THE FIRST TIME!
------------------------------------------------------------------

You may be thinking…

WHOA, WHOA, WHOA…WHAT HAPPENED HERE?

But before you freak out, let me take a few minutes to explain.

Bones now uses Sass by default. If you prefer using regular CSS,
then feel free to modify this theme how you like and keep a copy
as your own personal starting point.

DON'T DISMISS IT JUST YET THOUGH, USING Sass ISN'T AS COMPLICATED AS YOU THINK.

It does take a few minutes to wrap your head around, but it will all
be worth it. Need a quick intro? Here are a few quick reads:

http://simplebits.com/notebook/2013/11/13/sass-book/ (BUY THIS)
http://cognition.happycog.com/article/preprocess-this
http://viget.com/inspire/sass-a-designers-perspective
http://ianstormtaylor.com/oocss-plus-sass-is-the-best-way-to-css/
http://css-tricks.com/sass-style-guide/
http://net.tutsplus.com/tutorials/html-css-techniques/developing-with-sass-and-chrome-devtools/

I would HIGHLY RECOMMEND, if you are going to be working with Sass, that you work locally.
The browsers don't understand Sass and compiling it on the server takes a bit
of a setup.

That being said, here are a few MUST HAVE TOOLS for working with a
pre-processor: (You really only need one of them)

CodeKit: (Highly Recommended)
http://incident57.com/codekit/

Compass App: (Windows / Mac Users)
http://compass.handlino.com/

These applications compile Sass into valid CSS. This
way you can keep your production files easy to read and your
CSS minified and speedy. Simply set the output to the
library/css folder and you are all set. It's a thing of beauty.

You can also setup auto compiling with Grunt or using Terminal on
OSX. It's a bit complicated to setup so if you aren't familiar
with it, just get one of the automated applications.

---------------------------------------------------------------

Remember, once you download Bones it's up to you how to use it,
so go nuts. Set things up and develop in a way that's easiest for
you. If using Sass is still a bit confusing for you, then remove it
and customize this template as you see fit.

If you're a bit uneasy about using Sass or just want a familiar setup,
take a few minutes and think about how much better a developer you
can become by just TRYING out new technologies. It may be tough at
first but it WILL make you a better developer. TRUST ME ON THIS. Give
it a week, maybe two, and you will never go back.

If you STILL can't get on board and want to jump ship, that's cool.
Bones is not for everyone and that's ok, I mean I'm not hurt by it,
whatever, I never liked you anyway. Here are some other alternatives
if you're looking for a blank starter theme. I'll just be here waiting
by the window, in case you ever decide to come back.

http://roots.io/starter-theme (way more complex but has a ton of cool features)
http://html5reset.org (super clean and great markup)
https://github.com/viewportindustries/starkers (not sure if it's still active, but still good)

That's it. It's time to jump in and get your hands dirty.
Seriously, why are you still reading this? Get to work!
If you have any issues or problems, you can create an issue on github
or find me on Twitter: @eddiemachado (SHAMELESS PLUG!).

Happy Developing!

(When you're done, you may want to remove all this nonsense before
passing it along to your client.)

******************************************************************/

/*
WordPress Probz
So Theme Check (http://wordpress.org/plugins/theme-check/)
is constantly telling me that it needs these classes in the CSS even
though they are in the REAL stylesheet in library/css/style.css.
So we're gonna drop these here to keep it happy.
Great work, Theme Check (eye roll)
*/

.sticky {}          /* DO NOT EDIT THIS */
.gallery-caption {} /* THESE ARE USELESS */
.bypostauthor {}    /* THEY ARE ONLY TO KEEP THEME CHECK HAPPY */


#corp-gov div{background:rgb(0,51,135);}
#corp-gov-two div{background:rgb(0,153,204);}
#corp-gov-two div:after{content:'\f0c0 ';}
#corp-gov div:first-child:after,
#corp-gov div:nth-child(2):after,
#corp-gov div:nth-child(4):after,
#corp-gov div:last-child:after,
.lt-ie9 #corp-gov div.first:after,
.lt-ie9 #corp-gov div.two:after,
.lt-ie9 #corp-gov div.four:after,
.lt-ie9 #corp-gov div.six:after{content: '\f0c5';}

#corp-gov div:nth-child(3):after,
.lt-ie9 #corp-gov div.three:after{content:'\f132';}

#corp-gov div:nth-child(5):after,
.lt-ie9 #corp-gov div.five:after{content:'\f19c';}

#committees div{background: transparent}
#parent-1613 div{background: transparent !important; }

.two-col div h2{bottom:0;}

section > section{margin-bottom: 30px;}



a.h3{color:rgb(0,153,204); font-size:1.3em;font-family:'Alegreya Sans';cursor:pointer;}
a.h3:before{font-size:1em;}

#operate div:first-child:after,
.lt-ie9 #operate div.first:after{content: '\f021';}
#operate div:nth-child(2):after,
.lt-ie9 #operate div.two:after{content: '\f0fa';}
#operate div:nth-child(3){background: transparent !important; }
#operate div:nth-child(4):after,
.lt-ie9 #operate div.four:after{content: '\f0c5';}
#operate div:nth-child(5):after,
.lt-ie9 #operate div.five:after{content: '\f05e';}
#operate div:last-child:after,
.lt-ie9 #operate div.last:after{content: '\f0c1';}


#booklet div:after,
.lt-ie9 #booklet div:after{content: '\f02d ';}

#shareowner span:first-child{background: rgb(51,63,72);}
#shareowner span:first-child:after,
.lt-ie9 #shareowner section.first:after{content: '\f02d';}


#shareowner span:last-child{background: rgb(113,197,232);}
#shareowner span:last-child:after,
.lt-ie9 #shareowner div.last:after{content: '\f0e0';}


#military-jobs div:first-child{background: rgb(0,158,73);}
#military-jobs div:first-child:after,
.lt-ie9 #military-jobs div.first:after{content: '\f0c0';}
#military-jobs div:last-child{background: transparent;}
.lt-ie9 #tech-jobs div.first:after{content: '\f0c0';}
#tech-jobs div:last-child{background: transparent;}


#booklet div{width:100%; height:90px;}
#booklet div:after{left: 15px; right:0px !important;}

#report div{width:100%; height:90px;}
#report div:after{left: 15px; right:0px !important;}
#report div:after{content: '\f02d';}

#shareowner section{height:90px !important;}
#shareowner section:after{left: 15px; right:0px !important;}

.gform_title{color:rgb(0,51,135); font-size:1.688em !important;}
.expect img{
width:50%;
margin: 0 auto;
display: block;
height: auto;
}

#parent-1589 div:first-child{background: rgb(0,158,73)!important;}
#parent-1589 div:first-child:after,
.lt-ie9 #parent-1589 div.first:after{content: '\f012';}
#parent-1589 div:nth-child(2){background: rgb(51,63,72)!important;}
#parent-1589 div:nth-child(2):after,
.lt-ie9 #parent-1589 div.two:after{content: url('../../../../pplcorp.wpengine.com/wp-content/uploads/2014/09/News_icon_sized.png')/*tpa=http://pplcorp.wpengine.com/wp-content/uploads/2014/09/News_icon_sized.png*/;}
#parent-1589 div:nth-child(3){background: rgb(37,55,70)!important;}
#parent-1589 div:nth-child(3):after,
.lt-ie9 #parent-1589 div.three:after{content: '\f073';}
#parent-1589 div:nth-child(4){background: rgb(206,17,38)!important;}
#parent-1589 div:nth-child(4):after,
.lt-ie9 #parent-1589 div.four:after{content: '\f085';}
#parent-1589 div:nth-child(5){background: rgb(0,51,135)!important;}
#parent-1589 div:nth-child(5):after,
.lt-ie9 #parent-1589 div.five:after{content: '\f0f4';}
#parent-1589 div:last-child{background: rgb(113,197,232)!important;}
#parent-1589 div:last-child:after,
.lt-ie9 #parent-1589 div.last:after{content: '\f19c';}

div.bottom-text{float: left;padding-bottom:40px;}
div.bottom-text h2 { margin-right:20px; display: inline-block;vertical-align:30%;}
div.bottom-text a{margin-right: 20px;}
section.leadership h4{text-transform:none !important;}

//@media only screen and (max-width : 800px) { .page-id-2273 aside{display:none !important;}}
ul#menu-main li.menu-item-has-children:hover >ul{
	min-height: 205px;
}
table.left{margin-bottom:20px;}

.job-holder~div{top:590px;}
#mobile-menu li:nth-child(6){display: block !important; border: none !important;padding-top:0 !important;}
#maximage{z-index:10;}