/******************************************************** 
**
**		Home Page Styles 
**
**		- This is for Home Page CSS Styles only
**		- NO Global Styles should be included here
**		- Styles are tab arranged to show inheritance 
**		  and layout structure 
**
********************************************************/

/** Homepage Marketing Spot Layout Styles **/
#home {position:relative;}
  #home-middle {float:left;}
#home-spot-1,#home-spot-2,#home-spot-3,#home-left,#home-right {}
  #home-spot-1,#home-spot-2,#home-spot-3 {margin:0 0 16px; width:592px;}
    #home-spot-2 {}
    #home-spot-3 {}
  #home-left,#home-right {float:left; margin:0 20px 0 0; width:176px;}
    #home-right {float:left; margin:0 0 0 20px;}
		
		