form {padding:0; margin:0;}

#header-right{margin-top:-30px;}
		  #secondary-nav {padding:5px 0;}


#search-box {margin:0 5px;}
#locator-box {margin:0;}
#content-area {clear:both; margin:10px 0 10px 10px;}
#product-area {margin-left:5px;}

#cart-crumb li span {padding:14px 62px 13px 30px;}
.logon-block {width:390px;}

#cat-nav li:hover ul,#cat-nav li.sfhover ul {top:30px;}
 #secondary-nav {padding:5px 10px 0px 10px;}
 
#hero-spot {padding-right:7px;}

.checkout-content .shipping-method-radio label {line-height:24px;}

#sidebar h3, #suggest-box h3,  #prod-related h3 {width:197px;}
#home-area {padding-top:5px;}

div.tabs div.inner {clear:both; border:1px solid #d6d4d5; border-top:none; padding:12px 8px;}

#login-form {right:300px;}
#mini-bag-popUp {right:300px;}

#cat-nav li:hover ul,#cat-nav li.sfHover ul {top:35px;}

/*** Clearfix Solution ***/
#attribute-section,
#add-area,
#title,
#prod-related,
#right-spot,
#recent-box,
#prod-promo p,
#prod-sale,
#buy-buy,
#view-buy,
#massocs,
#recent-box ul,
#page-view,
#attribute-section .attribute {min-height:1px;}