/******************************************************** 
**
**		Master Global Styles 
**
**		- This is for Global CSS Styles only
**		- NO Page specific Styles should be included here 
**		- Styles are tab arranged to show inheritance 
**		  and layout structure
**
********************************************************/

/** Reset Styles **/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,textarea,select,
table, caption,tbody,tfoot,thead,tr,th,td,button {margin: 0; padding: 0; border: 0; outline: 0; font-size: 12px; font-family:Arial, sans-serif; color:#000; vertical-align:baseline; background:transparent;}
body {line-height: 1;}
ol, ul {list-style: none;}
table {border-collapse: collapse; border-spacing:0;}
p {line-height: 16px; margin:5px 0;}
dt {line-height:16px;}
dl {padding:5px 0;}

/** Heading Styles **/
h1 {clear:both; font-size:24px; padding: 0 0 20px 0;}
h2, h3, h4, h5, h6 {padding: 0 0 12px 0;}
  h2 {font-size:20px;}
  h3 {font-size: 100%; font-weight: bold;}


/** Link & Button Styles **/
a,button {font:12px Arial,sans-serif; text-decoration:none; color:#000; cursor:pointer; outline:0;}
  a:hover {text-decoration:underline; color:#000;}
.b-red {height:30px; text-align:center; padding:0 15px; background: url(../images/button/b-red.png)/*tpa=http://www.tractorsupply.com/wcsstore/CVB2BDirectStorefrontAssetStore/en_US/images/button/b-red.png*/ repeat-x; font-size:15px; font-weight:bold; color:#fff;}
  .b-red:hover {text-decoration:none; background-position:0 -32px; -moz-text-shadow:1px 1px 4px #7e1010; -webkit-text-shadow:1px 1px 4px #7e1010; text-shadow:1px 1px 4px #7e1010;color:#fff;}
  a.b-red {display:block; height:30px; line-height:30px;}
.b-green {height:30px; text-align:center; padding:0 15px; background: url(../images/button/b-green.png)/*tpa=http://www.tractorsupply.com/wcsstore/CVB2BDirectStorefrontAssetStore/en_US/images/button/b-green.png*/ repeat-x; font-size:15px; font-weight:bold; color:#fff;}
  .b-green:hover {color:#ff0; text-decoration:none; -moz-text-shadow:1px 1px 4px #8bc147; -webkit-text-shadow:1px 1px 4px #8bc147; text-shadow:1px 1px 4px #8bc147;}
  a.b-green {display:block; height:30px; line-height:30px;}
.b-alt {display:inline-block; border:1px solid #dbc8ab; padding:4px 5px; background:#d7d7d7 url(../images/common/section_backgrounds.png)/*tpa=http://www.tractorsupply.com/wcsstore/CVB2BDirectStorefrontAssetStore/en_US/images/common/section_backgrounds.png*/ 0 -1px repeat-x; color:#d20000;}
  .b-alt:hover {background-position:0 -8px; text-decoration:none;}
.b-text {display:block; padding-left:10px; background:url(../images/common/icons.png)/*tpa=http://www.tractorsupply.com/wcsstore/CVB2BDirectStorefrontAssetStore/en_US/images/common/icons.png*/ 0px -57px no-repeat;}
.simplemodal-close:hover {-moz-box-shadow:0px 1px 5px #e0d0c0; -webkit-box-shadow:0px 1px 5px #e0d0c0; box-shadow:0px 1px 5px #e0d0c0;}
.disabled {background:#d0d0d0 !important; cursor:default; color:#fff !important;}
  .disabled:hover {-moz-text-shadow:none; -webkit-text-shadow:none; text-shadow:none;}

.b-secondary { display:inline-block; border:1px solid #dbc8ab; padding: 7px 15px; background: url(../images/common/section_backgrounds.png)/*tpa=http://www.tractorsupply.com/wcsstore/CVB2BDirectStorefrontAssetStore/en_US/images/common/section_backgrounds.png*/ 0 -1px repeat-x; color:#000;  }
  .b-secondary:hover {background-position:0 -7px; text-decoration:none;}
.b-action { display:inline-block; border:1px solid #dbc8ab; padding:7px 15px; background: url(../images/common/section_backgrounds.png)/*tpa=http://www.tractorsupply.com/wcsstore/CVB2BDirectStorefrontAssetStore/en_US/images/common/section_backgrounds.png*/ 0 -1px repeat-x; color:#d20000; font-weight: bold; }
  .b-action:hover {background-position:0 -7px; text-decoration:none;}
.b-checkout { display:inline-block; padding: 8px 15px 8px 30px; background: url(../images/common/icons-checkout.png)/*tpa=http://www.tractorsupply.com/wcsstore/CVB2BDirectStorefrontAssetStore/en_US/images/common/icons-checkout.png*/ 0 0px no-repeat; color:#fff; font-weight: bold; }
  .b-checkout:hover { background-position:0 -41px; text-decoration: none; color:#ff0;}
.b-continue { display:inline-block; padding: 4px 80px 12px 15px; background: url(../images/common/icons-checkout.png)/*tpa=http://www.tractorsupply.com/wcsstore/CVB2BDirectStorefrontAssetStore/en_US/images/common/icons-checkout.png*/ right -135px no-repeat; color:#fff; font-size: 16px; }
  .b-continue:hover { background-position: right -175px; text-decoration: none;  color:#ff0;}

.link-q { position: relative; display: inline-block; width: 15px; height: 16px; background: url(../images/common/icons-checkout.png)/*tpa=http://www.tractorsupply.com/wcsstore/CVB2BDirectStorefrontAssetStore/en_US/images/common/icons-checkout.png*/ 0px -356px no-repeat; }
  .link-q:hover { background-position: 0px -382px; }
  .link-q i { display: none; }

/** Label, Input & Form Styles **/
label {clear:left; float:left; margin:0 0 7px 0; color:#000;}
input,textarea {border:1px solid #d8cfc6; padding:7px 0 7px 5px; font:12px Arial; color:#666; background:#fff;}
  input:focus, textarea:focus {color:#000; border-color:#333; -moz-box-shadow: 1px 1px 3px #333; -webkit-box-shadow: 1px 1px 3px #333; box-shadow: 1px 1px 3px #333;}
  input[type="checkbox"],input[type="radio"] {padding-top:0;border:0;}
  input.placeholder, textarea.placeholder{color: #aaa !important;}
 ::-webkit-input-placeholder, :-moz-placeholder{color: #aaa !important;}
select {border:1px solid #b4aaa0; padding:7px 7px 7px 5px; font-size:12px; background:#fff; }
dl.form {padding:0; margin:0;}
  dl.form dt {padding:3px 0 0 0;margin:0;}
  dl.form dd {padding:5px 0;margin:0;}
  
  .form .form-inline { display: inline; }
  .form .form-inline input, .form .form-inline select { margin-right: 3px; }
  .form .form-selects { }


/** Breadcrumb Styles **/
#breadcrumb {width:100%;}
  #breadcrumb a {color:#7d766f; text-decoration:none; padding:0 3px 0 3px; font-size:12px;}
  #breadcrumb span {color:#bfb7b0;}
    #breadcrumb a:hover {text-decoration:underline;}
  #breadcrumb a.last {font-weight:bold;}
  #breadcrumb a.first {padding-left:0;}


/** General Styles **/
.check {display:block; padding-left:14px; background:url(../images/common/icons.png)/*tpa=http://www.tractorsupply.com/wcsstore/CVB2BDirectStorefrontAssetStore/en_US/images/common/icons.png*/ 0px -119px no-repeat;}


/** Error Styles **/
.error {margin:2px 0; padding:10px 30px; text-align:center; background:#ffd4d4; color:#900; }
.errorMessage{color:#f00}
.error-msg {margin:2px 0; padding:10px 30px; text-align:center; background:#ffd4d4; color:#900; }
.inline-error {margin-left:15px; color:#900; font-size:12px; font-weight:bold;}
.check-error {display:none; margin:2px 0; padding:10px;}
.success-msg {margin:0 0 12px; padding:10px 30px; text-align:center; background:#4e810f; color:#Fff; }



/** Site Layout **/
html {padding:0; margin:0; color:#000; font-family:arial, sans-serif; font-size:12px;}
  body {margin:0; padding:0; background:#fff;}
    

/** Top Navigation Bar Styles **/
#top-nav {width:100%; height:36px; background: url(../images/common/section_backgrounds.png)/*tpa=http://www.tractorsupply.com/wcsstore/CVB2BDirectStorefrontAssetStore/en_US/images/common/section_backgrounds.png*/ 0 0 repeat-x;}
  .top-nav-wrap {width:1024px; height:36px; margin:0 auto; text-align:right;}
  .tn-item,#mini-cart {display:inline-block; margin:0 0 0 10px; padding:10px 0 0; width:auto; height:26px;}
    .tn-w {font-weight:bold;}
    .tn-item a:hover,#mini-cart:hover {text-decoration:underline;}
	#mini-cart {padding-right:30px; background: url(../images/common/cart_icon.png)/*tpa=http://www.tractorsupply.com/wcsstore/CVB2BDirectStorefrontAssetStore/en_US/images/common/cart_icon.png*/ no-repeat 100% 44%; font-weight:bold;}

#truck-delivery, .truck-delivery-tag {margin-top:12px; padding-left:25px; line-height:1.5em; vertical-align:middle; font-size:12px; background:url(../images/common/icons.png)/*tpa=http://www.tractorsupply.com/wcsstore/CVB2BDirectStorefrontAssetStore/en_US/images/common/icons.png*/ 0px -179px no-repeat;}
   
   input[type="checkbox"], input[type="radio"]{
    background: transparent;
    border: 0;
   }
.checkout-review-header .truck-delivery-tag{margin-left: 20px; position: relative; top: -3px;}

/** Header Styles **/
header {margin:0 auto; padding:0; width:1024px;}
  img#logo {margin:16px 0 0 16px; float:left;}
  
  #search-box {float:left; margin:17px 0 0 24px;}
    #search-box input {float:left; border:1px solid #d20000; padding:6px 0 5px 6px; width:291px; height:17px; font-size:15px; }
	
	#search-btn {display:inline-block; float:left; padding:0; margin:0; width:64px; }
  
  .header-right-spot {float:right; margin:24px 8px 0 0; width:360px; height:25px; text-align:right;}
  
  .header-lower {clear:both; float:left; position:relative; margin:18px 0 0 0; width:1024px;}
  	#shop-nav {display:block; float:left; padding:6px 15px 8px; width:auto; height:21px; font-size:18px; font-weight:bold; color:#fff; background:#d20000;}
  	#local-store {float:right; border:1px solid #bea589; padding:7px 0 8px; width:397px; height:15px; text-align:center; background:#f5f3f1;}
  	  #local-store a {display:block; font-size:15px; font-weight:bold; background:url(../images/common/icons.png)/*tpa=http://www.tractorsupply.com/wcsstore/CVB2BDirectStorefrontAssetStore/en_US/images/common/icons.png*/ 56px 4px no-repeat;}
  	  #local-selected {margin:1px 0 0 0; padding-left:10px; text-align:left;}
  	    #local-selected strong,#local-selected span {padding-right:6px; font-size:15px;}
  	      #local-selected a {display:inline-block; float:right; padding:0 6px 0 8px; font-size:12px; font-weight:normal; background:url(../images/common/icons.png)/*tpa=http://www.tractorsupply.com/wcsstore/CVB2BDirectStorefrontAssetStore/en_US/images/common/icons.png*/ 0 -56px no-repeat; }
  	  #shop-nav:hover,#local-not-selected a:hover {text-decoration:none;}
  	
  	
  	#main-nav {clear:both; margin:0; padding:0; width:1024px; height:35px; z-index:101; background:#d20000;}
	  li.tc {display:block; position:relative; float:left;}
  	    li.tc a.top-link {display:block; float:left; padding:9px 7px 10px; width:auto; font-size:13px; color:#fff; font-weight:bold;}
  	      li.tc:hover a.top-link,li.on a.top-link {border-left:1px solid #d20000; padding-right:6px; background:#fff; color:#d20000; text-decoration:none;}
  	      li.tc-first a.top-link {padding-left:13px;}
  	    .sub-wrap {display:none; float:left; position:absolute; top:35px; left:0; border:solid #d20000; border-width:0 1px 1px 1px; background:#fff; z-index:200; -moz-box-shadow:1px 3px 5px #555; -webkit-box-shadow:1px 3px 5px #555; box-shadow:1px 3px 5px #555;}
  	      .tc-first .sub-wrap {padding-left:6px;}
  	      .two-column {width:458px;}
  	      .three-column {width:690px;}
  	      .col1,.col2,.col3 {float:left; padding:0 14px; margin:13px 0; width:200px; border-right:1px dashed #bdb4ab;}
  	        .col3 {border:none;}
  	        .sub-wrap ul,.sub-wrap h3 {display:block; padding-bottom:7px; margin-top:14px; width:230px;}
  	        .sub-wrap ul li.view-all { font-weight:bold; padding-bottom:7px; margin-top:14px; width:230px;}
  	        .sub-wrap ul li.view-all a.view-all-cat { font-weight:bold; padding-bottom:7px; margin-top:14px; width:230px;}
  	          .sub-wrap h3.first-head {margin-top:0;}
  	          .sub-wrap ul {margin-top:0; padding-bottom:0;}
  	        .sub-wrap li {padding:0 0 3px 10px;}
  	        .forgot {}
  
    .bottom-spot-wrapper {clear:both; border:solid #fff; border-width:0 1px; margin:0px auto; padding:16px 16px 0; width:990px; background:#f7f5f4;}
	  .bottom-spot {width:992px;}

/** Main Content Styles **/
#container {clear:both; border:solid #fff; border-width:0 1px; margin:0px auto; padding:12px 16px 12px; width:990px; background:#f7f5f4;}



/** Footer Styles **/
footer {clear:both;}
  footer .top-marketing,footer .main {border:solid #fff; border-width:0 1px; margin:0px auto; padding:0 16px 16px; width:990px; background:#f7f5f4;}
      footer .top-spot-2 {margin-left:15px;}
  footer .main-wrap {padding:16px 0; margin:0 auto; width:1022px; background:#d8cfc6;}
    footer .main {border:0; padding:0 0; width:1022px; background:transparent;}
      footer section {float:left; border:1px solid #cfb595; margin:0 0 0 17px; padding:0; width:233px; background:#fff;}

  footer .last-wrap {border-top:8px solid #d20000; width:100%; background:#fff;}
      footer .logo-copy {float: left; margin-left: 350px; width: 26%; margin-top: 15px;}
      footer .scanalert {float: left; margin-top: 15px;}
        .logo-copy div {margin:8px 0 0 32px; font-size:10px;}
          .logo-copy a {font-size:10px; text-decoration:underline;}
      footer .verisign {float: left; margin-top: 5px; width: 395px;}


/** Espot-Specific Styles **/

	/** ES_Header2 (Customer Service # spot)**/
	span.label {display:inline-block; padding:3px 3px 0 0; vertical-align:top; font-size:15px;}
	a:hover .label {text-decoration:underline;}
	span.phoneNum {font-size:20px; font-weight:bold;}
  
	/** ES_Header3 (Links for On Sale, Know-how Central, etc) **/
	#alt-nav {float:left; padding:0 0 1px 0; width:auto; height:34px; font-size:18px; font-weight:bold; background:#d9d0c7;}
	  #alt-nav li {float:left; border:solid #9e9790; border-width:1px 0; width:auto; height:32px;  background:#d8cfc6;}
	    #alt-nav li a {display:inline-block; border-right:1px solid #af9c8e; padding:6px 13px 7px; width:auto; height:19px; font-size:18px; font-weight:bold;}
	      #alt-nav li a:hover {text-decoration:none;}
	      #alt-nav li.last a {border-right:1px solid #9e9790;}



/** Modal Styles **/
#simplemodal-overlay,#modalOverlay {background-color:#000; }
  .simplemodal-wrap {overflow:visible !important;}
    .simplemodal-container,.modalContainer {/*top:22% !important;*/ -moz-box-shadow:0 20px 62px rgba(0, 0, 0, .45); -webkit-box-shadow:0 20px 62px rgba(0, 0, 0, .45); box-shadow:0 20px 62px rgba(0, 0, 0, .45);}
	  .simplemodal-close {display:block; width:63px; height:22px; z-index:3200; position:absolute; top:17px; right:19px; cursor:pointer; background: url(../images/common/modal-close.png)/*tpa=http://www.tractorsupply.com/wcsstore/CVB2BDirectStorefrontAssetStore/en_US/images/common/modal-close.png*/ repeat-x;}
	.modal-window {display:none; width:592px; padding:10px; background:#fff;}
	  .modal-content {border:1px solid #d8cfc6; color: #63747d; background:#ebe5e0 url(../images/common/modal-bg.png)/*tpa=http://www.tractorsupply.com/wcsstore/CVB2BDirectStorefrontAssetStore/en_US/images/common/modal-bg.png*/ 0 100% repeat-x; padding:15px;}
	  .modal-content h2 {padding:0 0 12px 0; font-size:20px;}
	  .modal-content dd {clear:left;}
	  .modal-content .desc {margin-bottom:28px;}
	  .modal-window .modal-content .actions {clear: both; padding-top: 5px;}
	  .modal-window .modal-content .errors {color: red; margin: 5px 0;}

	/** Login & Signup Modal **/
	.local-form {}
	  .local-form label {display:block;}
	  .local-form dd {margin-bottom:8px;}
	  
	/** Sign in Modal **/
	#guest-modal {width:650px;}
	#guest-modal .sign-in-form,.sign-in-register {position:relative; float:left; width:270px;}
	  .sign-in-register {margin-left:40px;}
	  .sign-in-form h3,.sign-in-register h3 {padding-bottom:10px; border-bottom:1px dashed #BDB4AB; margin-bottom:16px; font-size:15px;}
	    .sign-in-form input {width:205px;}
	    .sign-in-action {top:172px; padding:5px 0 15px;}
	      .sign-in-form .sign-in-action {width:210px;}
	    .sign-in-form .returningUser { margin-bottom:5px; }
	    .sign-in-form dd {margin-bottom:12px;}
	    .sign-in-form .forgot {display:block; float:right; margin-top:8px; padding-left:10px; background:url(../images/common/icons.png)/*tpa=http://www.tractorsupply.com/wcsstore/CVB2BDirectStorefrontAssetStore/en_US/images/common/icons.png*/ 0px 3px no-repeat;}
  		.sign-in-register ul {margin:14px 0 0 17px; list-style-type:disc;}
  		  .sign-in-register li {margin-bottom:4px;}
  		.sign-in-register div.sign-in-action a#register-link.b-red { position:absolute; }
  		
	/** Select a Store Modal **/
	#local-modal {width:440px;}
	#header-loc { float: right; width: 620px; padding-top: 40px; }
	  #header-loc  .customer-service { float: left; color: #acacac; font-weight: bold; margin-top: 15px; }
	  #header-loc  #locator-box { float: right; padding-left: 4px; background: url(../images/common/store_locator_bg.png)/*tpa=http://www.tractorsupply.com/wcsstore/CVB2BDirectStorefrontAssetStore/en_US/images/common/store_locator_bg.png*/ top left no-repeat; }
	    #header-loc  form	{ width: 400px; height: 36px; text-align: center; padding: 8px 4px 0 0; background: url(../images/common/store_locator_bg.png)/*tpa=http://www.tractorsupply.com/wcsstore/CVB2BDirectStorefrontAssetStore/en_US/images/common/store_locator_bg.png*/ top right no-repeat; }						
	    #header-loc  form label { color: #8ea34d; font-weight: bold; display: inline;  }
	    #header-loc  form input { font-size: 12px; height: 15px; margin: 0 5px; color: #aaaaaa; padding: 3px 5px; }
	    #header-loc  form button { text-indent: -5000px; width: 54px; height: 26px; border: none; cursor: pointer; background:url(../images/common/button-go.png)/*tpa=http://www.tractorsupply.com/wcsstore/CVB2BDirectStorefrontAssetStore/en_US/images/common/button-go.png*/ no-repeat; }



    /* add to cart model */
    
    #mdl-cart-oitem { overflow: hidden; }
      #mdl-cart-oitem .item { overflow: hidden; padding: 10px; background-color: #fff; border: 1px solid #d8cabb; }
      #mdl-cart-oitem #alt-image-area { float: left; width: 100px; }
      #mdl-cart-oitem .item-info { float: left; width: 340px; }
      #mdl-cart-oitem h2 {}
      #mdl-cart-oitem .item-pn {}
      #mdl-cart-oitem .item-attributes { clear: both; margin: 10px 0; }
      #mdl-cart-oitem .item-attributes p { overflow: hidden; padding-top: 4px; }
      #mdl-cart-oitem .item-attributes b { display: block; float: left; width: 110px; font-weight: bold; }
      #mdl-cart-oitem .item-attributes span { display: block; float: left; width: 220px; }
 
      #mdl-cart-oitem .actions { margin-top: 10px; overflow: auto;  }
        #mdl-cart-oitem .actions .b-red span { color: #fff; }
        #mdl-cart-oitem .actions button { float: left; line-height:16px;} 
        #mdl-cart-oitem .actions button span {font-size:15px;}
        #mdl-cart-oitem .actions #mdl-cart-checkout { float: right; }

      #mdl-error-message { overflow: hidden; padding: 10px; background-color: #fff; border: 1px solid #d8cabb; }
      #mdl-error-content .actions { margin-top: 10px; overflow: auto;  }
        #mdl-error-content .actions .b-red span { color: #fff; }
        #mdl-error-content .actions button { float: left; line-height:16px;} 
        #mdl-error-content .actions button span {font-size:15px;}
        #mdl-error-content .actions #mdl-error-checkout { float: right; }
        
	/* LTL Scheduling modal */
	#mdl-ltl-terms-msg { overflow: hidden; padding: 10px; background-color: #FFFFFF; border: 1px solid #d8cabb; }

/** HTML5 Fix for IE7-IE9, Safari, & FF3 **/
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display: block;}

/** Clearfix **/
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }


/** These styles are set aside for cleanup **/

			  
		dl.display {padding:0; margin:0;}
			dl.display dt {padding:2px 0 0 0;margin:0;}
			dl.display dd {padding:5px 0;margin:0;}
	    .clean {border:0;}
	      .clean th {padding:3px; background:#6da7f6; color:#fff; font-size:10px;}
	      .clean td {padding:7px ; background:#eee; color:#666; font-size:11px;}
	        .clean td.right {text-align:right;}
	        .clean td.center {text-align:center;}

/** GLOBAL STYLING FOR BUY-BUY, VIEW-BUY, and MASSOCS **/
#view-buy, #buy-buy, #massocs, #recent-box {}
  #view-buy li, #buy-buy li, #massocs li, #recent-box li {border-top:1px dashed #dacfc6; padding:10px 0 12px;}
    #view-buy li.first, #buy-buy li.first, #massocs li.first, #recent-box li.first {border-top:0;}
      #recent-box li {float:left; clear:left;}
  #view-buy a img, #buy-buy a img, #massocs a img, #recent-box a img {width:50px; height:50px; display:block; float:left; text-indent:-5000px;}
  #view-buy div, #buy-buy div, #massocs div, #recent-box div {padding-bottom:3px; padding-left:55px;}
  #view-buy .percent, #buy-buy .percent, #massocs .percent, #recent-box .percent {font-size:12px;}
    #view-buy .percent span, #buy-buy .percent span, #massocs .percent span, #recent-box .percent span {color:#d20000;}
  #view-buy .name a, #buy-buy .name a, #massocs .name a, #recent-box .name a {display:inline-block; padding-bottom:4px; line-height:1em;}
  #view-buy .price *, #buy-buy .price *, #massocs .price *, #recent-box .price * {font-weight:bold; font-size:12px;}
  #view-buy div div, #buy-buy div div, #massocs div div, #recent-box div div {padding:0px;}
	
	.ship-method-display {width:300px;}
	.ship-method-display .item-name{text-decoration: underline;}
      #ship-logo {float:right;}
      
      .spaced-address {line-height:17px;}
      .two-hun-address {width:210px; padding-right:10px;}
      .truck-address {width:400px;padding-right:10px;}
      
/** Current Ad */
.divider {
	background-color: #cccccc;
	background-repeat: repeat-y;
	float: left;
	height: 150px;
	margin-right: 20px;
	width: 1px;
}
.circ-thumb {
	float:left;
	margin-right:20px;
	margin-bottom:20px;
}
#circular-container {
	text-align:center;
	background-color: #FFFFFF;
	padding-top: 16px;
}
#s7-viewer {
	clear:both;
}
#current-ads-heading {
	color: #695D55;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	margin-bottom: 10px;
}
.circular-thumb-description {
	margin-bottom:5px;
}
.circ-thumbs-size-1 {
	margin-left: 410px;
	margin-right: 410px;
}
.circ-thumbs-size-2 {
	margin-left: 314px;
	margin-right: 314px;
}
.circ-thumbs-size-3 {
	margin-left: 219px;
	margin-right: 219px;
}
.circ-thumbs-size-4 {
	margin-left: 123px;
	margin-right: 123px;
}
.circ-thumbs-size-5 {
	margin-left: 25px;
	margin-right: 25px;
}

/* Dialog Style */
.dialog {display:none; position: absolute;}
	.dialog .close {float: right;position: absolute; bottom: 15px; right: 15px;}
		.dialog .close span {color: red;}
		.dialog .anchor {color: red;}
	.local-dialog {top: 30px; right: 0; width: 377px; padding: 5px 10px 10px; z-index: 1000; background: #f5f3f1; border-bottom: 1px solid #bea589; border-left: 1px solid #bea589; border-right: 1px solid #bea589; border-top: none;}

/* Style used in auto-suggest grouping */ 
.ui-autocomplete-category {
    padding: .2em .2em;
    font-size: 1em;
    line-height: 1.5;
    color: #FFFFFF;
    background-color: #666666;
    overflow: hidden;
}

.autosuggest-highlight {
   font-weight: bold;
}

/* LTL scheduling */
.ltl-scheduled-delivery { font-weight: bold; }
.ltl-scheduled-delivery .ltl-notify-msg { margin-top: 10px; width: 250px; }
.ltl-modify-delivery-descr, .ltl-modify-delivery { margin-top: 10px; }
.ltl-modify-delivery div { position:relative; float:left; margin-right:10px; margin-top:2px; }
.ltl-modify-delivery button { background:url(../images/button/modify_delivery.png)/*tpa=http://www.tractorsupply.com/wcsstore/CVB2BDirectStorefrontAssetStore/en_US/images/button/modify_delivery.png*/; height:16px; width:16px; }
#mdl-ltl-scheduler-content, #mdl-ltl-past-remorse-content { background:#ffffff; border:none; } /* use border:none? */
#mdl-ltl-scheduler-msg, #mdl-ltl-past-remorse-msg { margin-top:20px; }
.ltl-link { text-decoration: underline; }
#mdl-ltl-scheduler-content { background:#ffffff; }
.ltl-scheduler {position: fixed; z-index: 1002; height: 515px; width: 612px; left: 526px; top: 3.5px;}
.ltl-modal-content {background:none; border:none; float:left;}
.ltl-modal-window {display:none; width:592px; padding:10px;}
.ltl-scheduler .date {border-right:1px solid #f2f1f0; clear:left; margin:30px 0 0 0; padding:5px; width:51%;}
.ltl-scheduler .time {float:left; margin:30px 0 0 7px; padding:5px; width:41%;}
.ltl-scheduler .comment {clear:both; margin:5px 0 0 0; padding:5px; width:100%;}
.ltl-scheduler .b-red {bottom:17px; right:17px; color:#ffffff; clear:right; position:absolute; }
.ltl-day-units {}
.ltl-day-units .unit {background:#7d766f; color:#FFFFFF; float:left; font-size:14px; height:30px; margin:5px 5px 0 0; padding:5px; text-align:center; width:45px;}
.ltl-day-units .unit:hover {background:url(../../../../../media.tractorsupply.com/is/image/TractorSupplyCompany/cornerCheck-$12PNG$.png)/*tpa=http://media.tractorsupply.com/is/image/TractorSupplyCompany/cornerCheck?$12PNG$*/ bottom right no-repeat #689A28;}
.ltl-day-units .select {background:#689a28;}
.ltl-day-units .null {background:#f2f1f0;}
.ltl-day-units .null:hover {background:#f2f1f0;}
.ltl-time-units {}
.ltl-time-units .unit {background:#7d766f; color:#FFFFFF; display:block; font-size:14px; height:50px; margin:5px 0 0 0; padding:20px 0 0 0; text-align:center; width:100%;}
.ltl-time-units .unit:hover{background:url(../../../../../media.tractorsupply.com/is/image/TractorSupplyCompany/cornerCheck-$12PNG$.png)/*tpa=http://media.tractorsupply.com/is/image/TractorSupplyCompany/cornerCheck?$12PNG$*/ bottom right no-repeat #689A28;}
.ltl-time-units .select {background:#689a28;}
.ltl-time-units .ltlDescription {color:#FFFFFF;}
.ltl-time-units .timeslotDescr {color:#FFFFFF;}
#mdl-continue-cart .comments {width:94%; height:30px; margin:7px 0 7px 0;}
#mdl-continue-cart input.tel-1 {margin:0 3px 0 3px; width:30px}
#mdl-continue-cart input.tel-2 {margin:0 3px 0 3px; width:60px}


.notSupportedMessage {
    background: linear-gradient(#fff7cb, #fff3b7) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px solid rgba(0, 0, 0, 0.22);
    border-radius: 0 0 6px 6px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    color: #717171;
    font-size: 15px;
    margin: 0 7px;
    padding: 1em;
    position: relative;
    z-index: 104;
    width: auto;
    text-align:center;
}