/******************************************************** 
**
**		Path to Purchase Styles 
**
**		- This is for Path to Purchase CSS Styles only
**		- NO Global Styles should be included here 
**		- Styles are tab arranged to show inheritance 
**		  and layout structure
**
********************************************************/

	#display-area {width:100%;}
	  .boxed {float:left; margin:0; padding:10px; width:153px; height:140px; color:#444; text-align: left; }
	  	.boxed a {color:#000; text-decoration:none;}
	  	.boxed a:hover { text-decoration: underline; }
	  	.boxed a.qsb-txt {color:#FFFFFF; text-decoration:none; }
  		.boxed .qsb-txt:hover{text-decoration:none; }
	  	.boxed { line-height: 110%; }
	  	.boxed .box-data { text-align: left; }
	    .boxed .box-name { padding-bottom: 5px; }
	    .boxed .box-sku { padding-bottom: 5px; }
	    .boxed .rating-stars { padding: 5px 0; }
	    .boxed p { padding: 3px 0; }
	    .boxed .box-prices { clear: both; padding: 5px 0; font-size: 11px; }
		 
		  .boxed .box-prices .offer-price, .boxed .box-prices .list-price, .boxed .box-prices .save-price { margin: 0; padding-bottom:3px;}
		  .boxed .box-prices .offer-price, .boxed .box-prices .range-price { font-size:14px; font-weight:bold;}
		  .boxed .box-prices .sale-or-promo, .boxed .box-prices .sale-or-promo { color: #d20000; }
	    .boxed .link-action { padding-left:9px; background:url(../images/common/icons2.png)/*tpa=http://www.tractorsupply.com/wcsstore/CVB2BDirectStorefrontAssetStore/en_US/images/common/icons2.png*/ 0 -56px no-repeat; }
.online-only-tag {
    background: url("../images/common/checkmark.png")/*tpa=http://www.tractorsupply.com/wcsstore/CVB2BDirectStorefrontAssetStore/en_US/images/common/checkmark.png*/ no-repeat scroll 0 30% transparent;
    margin: 3px 0;
    padding-left: 12px;
    color: #5C872B;
    display: block;
    font-size: 12px;
}	    
	.content-spot {margin:10px 0; padding:30px; color:#fff; background:#FF4A11;}
    
    .IntelligentOffer_Header {text-align: center; background-color:#FFF;padding-top:10px; border-bottom: 1px solid #D8CFC6}
    
    #HomePageIntelligentOffer_container {border: 1px solid #D8CFC6}
    
    #HomePageIntelligentOffer_content .item {height:400px;}
    
	#category-area {width:759px; clear:none; float:left; }
    
    .category-container { overflow: visible; padding-top:10px; }
        
    #CategoryPageIntelligentOffer_content .item {height: 400px;}
    
    #category-IO-spot { overflow: hidden; background-color: #fff; border: 1px solid #d8cfc6; padding: 0px; width:100%; margin-top:10px}
    
    #ProductPageIntelligentOffer_container {background-color: #FFFFFF;border: 1px solid #D8CFC6;margin-bottom: 20px;padding: 0 5px;}
    
    #InStoreProductPageIntelligentOffer_container {background-color: #FFFFFF;border: 1px solid #D8CFC6;margin-bottom: 20px;padding: 0 5px;}
    
    #ProductPageIntelligentOffer_content {padding-top: 10px;}
    
    #InStoreProductPageIntelligentOffer_content {padding-top: 10px;}
    
    #product-IO-spot #io-spot-container {margin-bottom:5px; border-bottom: 1px dashed #D8CFC6;}
    
	#cart-IO-spot .IntelligentOffer_Header {text-align: center; background-color:#FFF;padding-top:10px; border-bottom: 0px solid #D8CFC6; border-top: 1px dashed #D8CFC6}
	
    #cart-IO-spot #HomePageIntelligentOffer_container {border: 0px solid #D8CFC6}
    
    #ShoppingCartPageIntelligentOffer_content .item {height: 400px;}
    #quickshopmodal-IO-spot {clear:both; padding-top: 10px; height: 300px;}
    #QuickShopIntelligentOffer_container {border:0px; background-color: #FFF}
    #QuickShopIntelligentOffer_container .IntelligentOffer_Header {text-align: center; background-color:#FFF;padding-top:10px; border-top: 1px dashed #D8CFC6; border-bottom: 0px; }
    #QuickShopIntelligentOffer_content .slide {float: left; width: 160px; border-right: 1px dashed #D8CFC6; padding-top:10px; overflow: hidden;}
    #quickshopmodal-IO-spot #io-spot-container #buy-buy div.name {height:90px;} 
    #quickshopmodal-IO-spot #io-spot-container #buy-buy div.price {clear: both;}
    
    #HomePageIntelligentOffer_content p.list-price {display:none;}
    #CategoryPageIntelligentOffer_content p.list-price {display:none;}
    #QuickShopIntelligentOffer_content p.list-price {display:none;}
    #ProductPageIntelligentOffer_content p.list-price {display:none;}
    #InStoreProductPageIntelligentOffer_content  p.list-price  {display:none;}
    #ShoppingCartPageIntelligentOffer_content p.list-price {display:none;}
    
    #HomePageIntelligentOffer_content  p.save-price {display:none;}
    #CategoryPageIntelligentOffer_content  p.save-price {display:none;}
    #QuickShopIntelligentOffer_content  p.save-price {display:none;}
    #ProductPageIntelligentOffer_content  p.save-price {display:none;}
    #InStoreProductPageIntelligentOffer_content  p.save-price  {display:none;}
    #ShoppingCartPageIntelligentOffer_content  p.save-price {display:none;}
    
    #HomePageIntelligentOffer_content  div.save-price {display:none;}
    #CategoryPageIntelligentOffer_content  div.save-price {display:none;}
    #QuickShopIntelligentOffer_content  div.save-price {display:none;}
    #ProductPageIntelligentOffer_content  div.save-price {display:none;}
    #InStoreProductPageIntelligentOffer_content  div.save-price  {display:none;}
    #ShoppingCartPageIntelligentOffer_content  div.save-price {display:none;}

	#HomePageIntelligentOffer_content div.list-price {display:none;}
    #CategoryPageIntelligentOffer_content div.list-price {display:none;}
    #QuickShopIntelligentOffer_content div.list-price {display:none;}
    #ProductPageIntelligentOffer_content div.list-price {display:none;}
    #InStoreProductPageIntelligentOffer_content  div.list-price  {display:none;}
    #ShoppingCartPageIntelligentOffer_content div.list-price {display:none;}

     
    #HomePageIntelligentOffer_content  div.spaceDiv {display:none;}
    #CategoryPageIntelligentOffer_content  div.spaceDiv {display:none;}
    #QuickShopIntelligentOffer_content  div.spaceDiv {display:none;}
    #ProductPageIntelligentOffer_content  div.spaceDiv {display:none;}
    #InStoreProductPageIntelligentOffer_content  div.spaceDiv {display:none;}
    #ShoppingCartPageIntelligentOffer_content  div.spaceDiv {display:none;}
    
    #QuickShopIntelligentOffer_content  .maPProduct{display:none;}
    #QuickShopIntelligentOffer_content  .maPProductOnQS{display:none;}
        
    #HomePageIntelligentOffer_content  div.offer-price {height: 25px;}
    #CategoryPageIntelligentOffer_content  div.offer-price {height: 25px;}
    #QuickShopIntelligentOffer_content  div.offer-price {height: 50px;}
    #ProductPageIntelligentOffer_content  div.offer-price {height: 50px; clear: both;}
    #InStoreProductPageIntelligentOffer_content  div.offer-price {height: 50px; clear: both;}
    #ShoppingCartPageIntelligentOffer_content  div.offer-price {height: 25px;}