@charset "UTF-8";

/* SpryTooltip.css - version 0.2 - Spry Pre-Release 1.6.1 */

/* Copyright (c) 2006. Adobe Systems Incorporated. All rights reserved. */

/* HACK FOR IE: to make sure the tooltips show above form controls, we underlay each tooltip with an iframe */
.iframeTooltip
{
	position: absolute;
	z-index: 1010;
	filter: alpha(opacity:0.1); /* do not replace : with =, will cause tooltip to disappear after mouseover in IE8 */
}

.tooltipContent
{
	background-color: #cc0000;
	width: 200px;
	height: 25px;
	text-align: center;
	font-weight: bold;
	font: Verdana, Geneva, sans-serif;
	font-size: 11px;
	line-height: 14px;
	color: #ffffff;
	opacity: 0.9; /* CSS3 property for Firefox */
	filter: alpha(opacity=90); /* CSS3 property for IE */
	padding: 5px 3px 10px 3px;
}