/* Typography */
a,a:focus {color: #000;}
a:hover{color:#999;}
.btn {
  background: none repeat scroll 0 0 #000000;
  color: #FFFFFF;
}
.btn:hover, .btn:focus{
  color:#fff;
  text-decoration:none;
  background: none repeat scroll 0 0 #000000;
}
/* Header */
.navbar,.navbar a{color: #fff;}
Ul.list-inline a {color: #000000;	}

Ul.list-inline li a:hover { color: #808080; background:none;}
ul.dropdown-menu li.divider{
	background-color:#000;
}
/* Footer */

.footer_top {
	border-bottom: 1px solid #EFEFEF;
	border-top: 3px solid #000000;
} 
.footer h4 {
	color: #000000;
}

.footer_menu a:link,.footer_menu a:visited { 
	color:#000000;
}
.footer_menu a:hover {color: #999999;}

.footer_signup .form-inline input {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #999999;
    color: #000000;
}

.footer .footer_signup .footer-form-disclaimer {
    color: #999999;
}
.footer .spanheading {
	color: #000000;
}
/*-------------carousel----------------------- */
.carousel-indicators li {
  background-color: #CCCCCC;
  border: 1px solid #FFFFFF; 
}
.carousel-indicators .active {
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC; 
}

.carousel-control.left {
  
background-image:none;
 
}
.carousel-control.right {
  
background-image:none;
 
}


/*------------------------------------ */

@media (max-width:767px) {
	.footer_top{
		border-top:none;
	}

}