ul.vertical{ 
    width:200px;/*160px;*/ 
    margin-bottom:20px;
    overflow:hidden; 
    height: auto;
    float: left;
    list-style-type: none;
}
/*.vertical li{  
    line-height:12.5em;
}*/
.prod_content {
    width: auto;   
    float: left;
    min-width: 100px; 
} 

ul.horizontal2, ul.horizontal3, ul.horizontal4{ 
    width:auto; 
    margin-bottom:20px;
    overflow:hidden; 
}
.horizontal2 li, .horizontal3 li, .horizontal4 li{ 
    line-height:1.5em; 
    float:left;
    display:inline;
}

.horizontal2 li  { width:50%; }
.horizontal3 li  { width:33.3%; }
.horizontal4 li  { width:25%; }   

 /*shop brand css*/
 
 
 .sbbIndex_wrapper {
    padding:0px;
    padding-top:10px;
    }

a.pg-normal{
    text-decoration: none;
    border: 0px;
    font-weight: bold;
    font-size: 10px;
    color: #FFFFFF;
    padding-right:0px !important;
}

.sbbIndex_brandLogosIndex { margin:10px; }


.alphabetHeading {
   width:940px;
   display:block;
   clear:both;
   margin-top:10px;
   padding:40px 5px 5px 5px;
   
   /* margin-top: 120px;
    margin-bottom: 10px;
    margin-left: 5px;
    background-color: #Cc0000;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    height: 15px;
    width: 30px;
    float: none;
    padding-top: 3px;
    padding-bottom: 3px;
    clear:both;
    text-align:center;
    display:block; */
}

.alphabetHeading span {
    background-color: #cc0000;
    border:1px solid #ddd;
    color:#fff;
    font-weight: bold;
    text-transform: uppercase;
    height: 15px;
    padding:5px;
    width: 30px;
    text-align:center;
    display:block; 
}

.alphabetHeading span a { color: #fff;}

a.specialBrandLinks{
    color: #CC0000;
    text-decoration:none;
    margin-left: 5px;
}

a.normalBrandLinks{
    text-decoration: none;
    margin-left: 5px;
    color: #666666;
}
div.clear{
    clear:both;
}

div.colOne, div.colTwo, div.colThree, div.colFour{
    padding-right: 10px;
    width:940px; 
    display:block; 
}

.brandLogoDIV{
    float: left;
    width: 125px;
    height: 55px;
    margin-left: .52em;
    margin-top: 5px;
    margin-bottom: 5px; 
    border: 1px solid #DDDDDD;
}

.indexAlphabet a{
    margin-top: 6px;
    margin-bottom: 10px;
    margin-left: 6px;
    background-color: #999;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    float: left;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 10px;
}

/*.indexAlphabet a:hover{
    background-color: #CC0000;
    color: #FFFFFF;
    text-decoration: none;
}*/

.brandLogoDIV img {
  border: 0;
}

.brandLink
{ float:left; width:178px; margin:5px 4px 0 4px; display:block; }

.normalBrandLinks
{ width:166px; height:55px; border:1px solid #ddd; padding:5px; display:block; }

.specialBrandLinks
{ width:166px; height:55px; border:1px solid #ddd; padding:5px; display:block; }

.introText { margin:0 20px; }

.sbbIndex_allBrands_Detail { margin:10px; }

.sbbIndex_allBrands_Detail .footerComponent { margin-left:-10px; }

.sbbIndex_allBrands_Detail #footerContent {width:940px; }


/*
.colOne { width:940px; display:block; }

.colTwo { width:940px; display:block; }

.colThree { width:940px; display:block; }
*/

.brandListItems{
color:#0073b0;
text-align: left;
padding-left: 5px;
font-size: 11px;
text-decoration: none;
display:inline-block;
}
