
/*accordian need to keep DO NOT DELETE*/

.otcaccordion-content {height:500px\9; margin:45px 0\9;}

    .accordion {
        margin: 0\9;
        padding:10px\9;
        height:20px\9;
        border-top:#f0f0f0 1px solid\9;
        background: #cccccc\9;
        text-decoration:none\9;
        text-transform:uppercase\9;
        color: #000\9;
        font-size:1em\9;
    }
    .accordion-open {
        background:#000\9;
        color: #fff\9;
    }
    .accordion-open span {
        display:block\9;
        float:right\9;
        padding:10px\9;
    }
    .accordion-open span {
        background:url(../../../../DefaultError.aspx-aspxerrorpath=-widgets-bannerupdate-custom-images-minus.png)/*tpa=http://www.nov.com/widgets/bannerupdate/custom/images/minus.png*/ center center no-repeat\9;
    }
    .accordion-close span {
        display:block\9;
        float:right\9;
        background:url(../../../../DefaultError.aspx-aspxerrorpath=-widgets-bannerupdate-custom-images-plus.png)/*tpa=http://www.nov.com/widgets/bannerupdate/custom/images/plus.png*/ center center no-repeat\9;
        padding:20px 0\9;
    }
    div.container {
        padding:0\9;
        margin:0\9;
    }
    div.content {
        margin: 0\9;
        padding:10px 10px 10px 0\9;
        font-size:.9em\9;
        line-height:1.5em\9;
    }
    div.content ul, div.content p {
        padding:0\9;
        margin:0\9;
        padding:3px\9;
    }
    div.content ul li {
        list-style-position:inside\9;
        line-height:25px\9;
    }
    div.content ul li a {
        color:#555555\9;
    }

/*end*/




#otc-stage {
    display:none\9;
}

#otc-stage-ie8 {
    display:block\0;
    margin-bottom:50%;
  	left: -50%; 
  	width: 120%; 
}

#otc-interface-main {
  margin:80px 0 0 0;
}

#otciewrap {
    width:100%;
    padding:20px 0;
    margin:0 auto;
    font-weight:300;
}

.otcrightside {
width:75%;
margin:0 auto;
position:relative;
text-align:center;
}

.otctopic {
	position:relative;
	margin:5% 0 20% 0;
	border-top:2px solid #DA291C;

}

.otctopic h1 {
	text-align:center;
	padding:40px 0;
}

.otctopic p {
	font-size:1.5em !important;
	text-align:left;
	margin-bottom:20px;
	line-height:1.5em;
}

.otcielinks {
	margin:50px 0 0 5%;
	width:95%;

}

.olinks {
	float:left;
	width:25%;
}

.olinks p {
	float:left;
  color:#DA291C;
}


.otcplay, .otcdyn, .otclm, .otccontact {
  background-image: url('../../../../otc/home/img/ie8-icons.png')/*tpa=http://www.nov.com/otc/home/img/ie8-icons.png*/;
  background-repeat: no-repeat;
  background-size: 147px 38px;
  width:36px;
  height:38px;
  margin:0 5px;
  float:left;

}

.otcplay {
  background-position: 0px 0px;
}

.otcdyn {
  background-position: -37px 0px;
}

.otclm {
  background-position: -74px 0px;
}

.otccontact {
  background-position: -111px 0px;
}

.otcp1,.otcp2, .otcp3, .otcp4, .otcp5 {
  background-image: url('../../../../otc/home/img/numbers-ie8.png')/*tpa=http://www.nov.com/otc/home/img/numbers-ie8.png*/;
  background-repeat: no-repeat;
  background-size: 184px 36px;
  width:36px;
  height:38px;
    position:absolute;
    margin-top:-1.8%;
    margin-left:48%;
    z-index:10;
}

.otcp1 {
	background-position: 0px 0px;
}
.otcp2 {
  background-position: -37px 0px;
}
.otcp3 {
  background-position: -74px 0px;
}
.otcp4 {
  background-position: -111px 0px;
}
.otcp5 {
  background-position: -148px 0px;
}

.otc-return-home {
	position:absolute;
	top:22%;
	left:10%;
	z-index:50;
	margin:0;
	padding:0;
  cursor:pointer;

}

.otc-return-home a {
	text-decoration:none;
}

.otc-return-home h1 {
		color:#fff;
}
.otc-return-home img {
	float:left;
}

.bb {
  border-bottom:2px solid #DA291C;
  height:350px;
  margin-bottom:0;

}


   /*flowplayer css*/

a:active { outline:none; }
 :focus { -moz-outline-style:none; }
.palert { padding: 12px; color: black; background-color: #fff; box-shadow: none; }
 button { border:none; margin:0 0 0 -5px; background-color:#fff; cursor:pointer; font-size:.9em; color:#DA291C;}
.overlay {/*padding:67px 90px 100px 90px;*/ width:854px; margin: 0 auto; display:none; /*background-image:url(images/overlay/white2.png);*/
            background-color: #fff; padding: 35px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -moz-box-shadow:0px 0px 5px 0px #000;
            -webkit-box-shadow: 0px 0px 5px 0px #000; box-shadow: 0px 0px 5px 0px #000;}
.overlay2 {/*padding:67px 90px 100px 90px;*/ width:854px; display:none; /*background-image:url(images/overlay/white2.png);*/
            background-color: #fff; padding: 35px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -moz-box-shadow:0px 0px 5px 0px #000;
            -webkit-box-shadow: 0px 0px 5px 0px #000; box-shadow: 0px 0px 5px 0px #000;margin:0 0 0 -220px;}

.close { background:url(../../../../DefaultError.aspx-aspxerrorpath=-widgets-images-overlay-close.png)/*tpa=http://www.nov.com/widgets/images/overlay/close.png*/ no-repeat; position:absolute; top:0; right:3px; display:block; width:35px; height:35px; cursor:pointer; z-index:2; }
#player { height:450px; display:block; z-index:1; }



