


@media only screen and (max-width:1024px) {
 #otc-stage {
        background-size: contain;
        height: 59vh;
        position: relative;
        /*background-color: #2c2f34;*/
    }

      #first-cont-rig {
        top: -5% !important;
        position: absolute !important;
        width: 100% !important;
        margin-left: 0 !important;
        left: 0 !important;
    }

    .otc-content-link {
        width:100%;
        margin:0 5px;
   

    }

    .otc-content-button-link {
        vertical-align:top;
    }

     #rig-cont-first-left {
        width: 100%;
    }

    #rig-cont-first-right {
        width: 100%;
    }

    #otc-blimp {
    margin-top:14.7%;
    
}

 #rig-cont-first-left {
        width: 100% !important;
    }

    #rig-cont-first-right {
        width: 100% !important;
    }

}


@media only screen and (max-width:768px) {

    #otc-main-cont {
        z-index: 1;
    }

   
    .otcbgmain-mobile {
    display:block;
    }

    .otcbgmain-desk {
    display:none;
    }


    #otc-stage {
        background-size: contain;
        margin-bottom:20%;
        position: relative;
        /*background-color: #2c2f34;*/
        margin:0;
    }


    .otc-button-mob h1 {
        color: #fff;
        padding: 0 0 0 24px;
    }

    .otc-button-mob img {
        width: 22px !important;
        height: 22px;
        margin:0 0 0 15px;
    }

    .otcnumbers {
        float: left;
        padding: 0 10px;
        margin:-3px 0 0 0;
        width:35px;
    }

    .otcnumbers img {
        width:30px;
        height:30px;
    }

    #otc-interface-buttons-mob {
        display: block;
        margin: 420px 0 0 0;
        padding: 1px 0;
        cursor: pointer;
        background-color:#fff;
    }

    #otc-interface-buttons-mob2 {
        display: block;
        margin: 360px 0 0 0;
        cursor: pointer;
        position:relative;
        z-index:5;
        background-color:#fff;
    }


    #otc-interface-buttons-mob .otc-button-mob {
        padding: 10px 0;
        margin: 1px 0;
        background-color: #DA291C;
    }

    #otc-interface-buttons-mob2 .otc-button-mob {
        padding: 10px 0;
        margin: 1px 0;
        background-color: #DA291C;
    }

    #otc-main-headline {
        position:absolute;
        margin:40px 0;
        width:100%;

    }
    #otc-main-headline h1 {
        font-size: 3em;
        cursor: pointer;
        text-align:center;
        margin:0 auto;
    }

    #otc-main-headline img {
        float: left;
        width: 2em;
        margin-left: 2%;
        margin-top: -3%;
    }

    .headlinecenter h1 {
        float: left;
        padding: 0 10px;
        font-size: 2em !important;
    }

    .otc-button-mob h1 {
        font-size: 1.5em;
    }

    #otc-interface-buttons {
        display: none;
    }

    #otc-button-img-rig {
        width: 20%;
    }

    #otc-button-img-well {
        width: 25%;
    }

    #otc-button-img-caps {
        width: 30%;
    }

    #otc-button-img-rig {
        margin: 0 0 0 30px;
    }

    #otc-button-img-rig, #otc-button-img-well, #otc-button-img-caps {
        margin: 0 0 0 20px;
    }

    .otc-button-mob .mobile-arrow {
        font-size: 3em;
        color: #fff;
        position: relative;
        float: right;
        top: -38px;
        right: 20px;
    }

    #rig-cont-first-left {
        width: 100% !important;
    }

    #rig-cont-first-right {
        width: 100% !important;
    }

    #first-cont-rig {
        top: -5% !important;
        position: absolute !important;
        width: 100% !important;
        margin-left: 0 !important;
        left: 0 !important;
    }

    #otc-hey-did-you-know img {
        width: 30%;
    }

    .otc-content-link {
    width: 100%;
    float: none;
    margin: 0 0 0 -5px;
}

    #otc-main-bg {
        top:15px;

    }
}



@media only screen and (max-width:736px) {

    #otc-stage {
        height: 140vh;
    }

    .otcbgmain-mobile {
    display:block;
    }

    .otcbgmain-desk {
    display:none;
    }

    #otc-main-headline h1 {
        font-size: 2.5em;
    }

    #first-cont-rig {
        top: -10% !important;
        position: relative;
        margin-left: 0 !important;
        left: 0 !important;
    }

    #rig-cont-first-right {
        width: 100%;
    }

    #otc-interface-buttons-mob {
        display: block;
        margin: 400px 0 0 0;
        padding: 1px 0;
        cursor: pointer;
        background-color:#fff;
    }

    #otc-interface-buttons-mob2 {
        display: block;
        margin: 360px 0 0 0;
        cursor: pointer;
        position:relative;
        z-index:5;
        background-color:#fff;
    }


    #otc-interface-buttons-mob .otc-button-mob {
        padding: 10px 0;
        margin: 1px 0;
        background-color: #DA291C;
    }

    #otc-interface-buttons-mob2 .otc-button-mob {
        padding: 10px 0;
        margin: 1px 0;
        background-color: #DA291C;
    }

    .otc-content-link {
    width: 100%;
    float: none;
    margin: 0 0 0 -5px;
}
}

@media only screen and (max-width:667px) {

    #otc-stage {
        height: 157vh;
    }

    .otcbgmain-mobile {
    display:block;
    }

    .otcbgmain-desk {
    display:none;
    }

    #otc-interface-buttons-mob {
        display: block;
        margin: 378px 0 0 0;
        padding: 1px 0;
        cursor: pointer;
        background-color:#fff;
    }

    #otc-interface-buttons-mob2 {
        display: block;
        margin: 310px 0 0 0;
        cursor: pointer;
        position:relative;
        z-index:5;
        background-color:#fff;
    }


    #otc-interface-buttons-mob .otc-button-mob {
        padding: 10px 0;
        margin: 1px 0;
        background-color: #DA291C;
    }

    #otc-interface-buttons-mob2 .otc-button-mob {
        padding: 10px 0;
        margin: 1px 0;
        background-color: #DA291C;
    }

    

    #first-cont-rig {
        top: -10% !important;
        margin-left: 0 !important;
        left: 0 !important;
    }

    

    .otc-content-link {
        width: 98%;
        float: none;
        margin: 0 0 0 -5px;
    }
}

@media only screen and (max-width:640px) {
    #otc-stage {
        height: 148vh;
    }

    #otc-interface-buttons-mob {
        display: block;
        margin: 358px 0 0 0;
        padding: 1px 0;
        cursor: pointer;
        background-color:#fff;
    }

    #otc-interface-buttons-mob2 {
        display: block;
        margin: 310px 0 0 0;
        cursor: pointer;
        position:relative;
        z-index:5;
        background-color:#fff;
    }


    #otc-interface-buttons-mob .otc-button-mob {
        padding: 10px 0;
        margin: 1px 0;
        background-color: #DA291C;
    }

    #otc-interface-buttons-mob2 .otc-button-mob {
        padding: 10px 0;
        margin: 1px 0;
        background-color: #DA291C;
    }
}


@media only screen and (max-width:600px) {
      #otc-stage {
        height: 58vh;
    }

}



@media only screen and (max-width:568px) {

    #otc-stage {
        height: 167vh;
    }

    .otcbgmain-mobile {
    display:block;
    }

    .otcbgmain-desk {
    display:none;
    }

    #rig-cont-first-right {
        width: 100%;
    }

    #first-cont-rig {
        top: -10% !important;
        position: absolute !important;
        margin-left: 0 !important;
        left: 0 !important;
    }

    .sublimevideo-View {
        margin: 0;
    }

    #otc-hey-did-you-know img {
        width: 30%;
    }

    #otc-interface-buttons-mob {
        display: block;
        margin: 325px 0 0 0;
        padding: 1px 0;
        cursor: pointer;
        background-color:#fff;
    }

    #otc-interface-buttons-mob2 {
        display: block;
        margin: 286px 0 0 0;
        cursor: pointer;
        position:relative;
        z-index:5;
        background-color:#fff;
    }


    #otc-interface-buttons-mob .otc-button-mob {
        padding: 10px 0;
        margin: 1px 0;
        background-color: #DA291C;
    }

    #otc-interface-buttons-mob2 .otc-button-mob {
        padding: 10px 0;
        margin: 1px 0;
        background-color: #DA291C;
    }

    .otc-content-link {
    width: 98%;
    float: left;
    margin: 0 0 0 -5px;
}

#otc-main-headline img {
    float: left;
    width: 2em;
    margin-left: 3.5%;
    margin-top: -3%;
}

}


@media only screen and (max-width:480px) {

    #otc-stage {
        height: 168vh;
    }

    .otcbgmain-mobile {
    display:block;
    }

    .otcbgmain-desk {
    display:none;
    }

    #otc-interface-buttons-mob {
        display: block;
        margin: 290px 0 0 0;
        padding: 1px 0;
        cursor: pointer;
        background-color:#fff;
    }

    #otc-interface-buttons-mob2 {
        display: block;
        margin: 256px 0 0 0;
        cursor: pointer;
        position:relative;
        z-index:5;
        background-color:#fff;
    }


    #otc-interface-buttons-mob .otc-button-mob {
        padding: 10px 0;
        margin: 1px 0;
        background-color: #DA291C;
    }

    #otc-interface-buttons-mob2 .otc-button-mob {
        padding: 10px 0;
        margin: 1px 0;
        background-color: #DA291C;
    }

    #otc-main-headline h1 {
        font-size: 2.2em;
    }

    .otc-button-mob h1 {
        font-size: 1.2em;
    }

    #first-cont-rig {
        top: -5% !important;
        position: absolute !important;
        margin-left: 0 !important;
        left: 0 !important;
    }
}


@media only screen and (max-width:414px) {
    #otc-stage {
        height: 62vh;
    }

    .otcbgmain-mobile {
    display:block;
    }

    .otcbgmain-desk {
    display:none;
    }

    .sublimevideo-View {
        margin: 0;
    }

    #rig-cont-first-right {
        width: 100%;
    }

    #first-cont-rig {
        top: -10% !important;
        margin-left: 0 !important;
        left: 0 !important;
    }

     #otc-interface-buttons-mob {
        display: block;
        margin: 242px 0 0 0;
        padding: 1px 0;
        cursor: pointer;
        background-color:#fff;
    }

    #otc-interface-buttons-mob2 {
        display: block;
        margin: 214px 0 0 0;
        cursor: pointer;
        position:relative;
        z-index:5;
        background-color:#fff;
    }


    #otc-interface-buttons-mob .otc-button-mob {
        padding: 12px 0;
        margin: 1px 0;
        background-color: #DA291C;
    }

    #otc-interface-buttons-mob2 .otc-button-mob {
        padding: 12px 0;
        margin: 1px 0;
        background-color: #DA291C;
    }

    .otcnumbers {
        float: left;
        padding: 0 10px;
        margin: -4px 0 0 0;
    }
}

@media only screen and (max-width:375px) {

    #otc-stage {
        height: 66vh;
    }

    .otcbgmain-mobile {
    display:block;
    }

    .otcbgmain-desk {
    display:none;
    }

   #otc-interface-buttons-mob {
        display: block;
        margin: 220px 0 0 0;
        padding: 1px 0;
        cursor: pointer;
        background-color:#fff;
    }

    #otc-interface-buttons-mob2 {
        display: block;
        margin: 183px 0 0 0;
        cursor: pointer;
        position:relative;
        z-index:5;
        background-color:#fff;
    }


    #otc-interface-buttons-mob .otc-button-mob {
        padding: 12px 0;
        margin: 1px 0;
        
    }

    #otc-interface-buttons-mob2 .otc-button-mob {
        padding: 12px 0;
        margin: 1px 0;
       
    }


    .otc-button-mob h1 {
    font-size: 1.2em;
    color: #FFF;
    padding: -2px 0px -2px 24px;
    margin-top: 2px;
    height: 15px;
}
    

   

    #first-cont-rig {
        top: -5% !important;
        margin-left: 0 !important;
        left: 0 !important;
    }

    #otc-main-headline {
    position: absolute;
    margin: 30px 0px;
    width: 100%;
}

    #otc-main-headline h1 {
        font-size: 2em;
        cursor: pointer;
        text-align:center;
        margin:0 auto;
    }


    #otc-main-headline img {
    float: left;
    width: 2em;
    margin-left: 3.5%;
    margin-top: -3%;
}

    #otc-blimp {
    margin-top:16.2%;

}



@media only screen and (max-width:360px) {

    #otc-stage {
        height: 65vh;
    }

    .otcbgmain-mobile {
    display:block;
    }

    .otcbgmain-desk {
    display:none;
    }

    .otc-button-mob h1 {
        font-size: 1em;
    }

   #otc-interface-buttons-mob {
        display: block;
        margin: 200px 0 0 0;
        padding: 1px 0;
        cursor: pointer;
        background-color:#fff;
    }

    #otc-interface-buttons-mob2 {
        display: block;
        margin: 183px 0 0 0;
        cursor: pointer;
        position:relative;
        z-index:5;
        background-color:#fff;
    }


    #otc-interface-buttons-mob .otc-button-mob {
        padding: 12px 0;
        margin: 1px 0;
        
    }

    #otc-interface-buttons-mob2 .otc-button-mob {
        padding: 12px 0;
        margin: 1px 0;
       
    }

    #first-cont-rig {
        top: -5% !important;
        margin-left: 0 !important;
        left: 0 !important;
    }
}


@media only screen and (max-width:320px) {
    #otc-stage {
        height: 75vh;
    }

    .otc-button-mob h1 {
        font-size: .9em;
    }

    #otc-main-headline h1 {
        font-size: 2em;
    }

    #otc-hey-did-you-know img {
        width: 50%;
    }

    #otc-interface-buttons-mob {
        display: block;
        margin: 187px 0 0 0;
        padding: 1px 0;
        cursor: pointer;
        background-color:#fff;
    }

    #otc-interface-buttons-mob2 {
        display: block;
        margin: 170px 0 0 0;
        cursor: pointer;
        position:relative;
        z-index:5;
        background-color:#fff;
    }


    #otc-interface-buttons-mob .otc-button-mob {
        padding: 12px 0;
        margin: 1px 0;
        
    }

    #otc-interface-buttons-mob2 .otc-button-mob {
        padding: 12px 0;
        margin: 1px 0;
       
    }

    #first-cont-rig {
        top: -5% !important;
        margin-left: 0 !important;
        left: 0 !important;
    }

    .otc-button-mob img {
        width: 18px;
        height: 18px;
    }

    .otcnumbers {
        float: left;
        padding: 0 10px;
        margin: -2px 0 0 0;
    }

    .otcnumbers img {
        width:20px;
        height:20px;

    }

     .otcbgmain-mobile {
    display:block;
    }

    .otcbgmain-desk {
    display:none;
    }
    .otc-content-link {
        width:100%;
        float:none;
        margin:0;
    }

    .otc-content-button-link {
        padding:3px 5px 0 5px;
        vertical-align:top;
    }


}