/*Main Content*/

body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

#otc-stage {
	width: 100%;
	height: 92vh;
	position: relative;
	background: url('../../../../DefaultError.aspx-aspxerrorpath=-widgets-bannerupdate-custom-img-novbg-red.png')/*tpa=http://www.nov.com/widgets/bannerupdate/custom/img/novbg-red.png*/ 0 0 no-repeat;
	background-size: contain;
	margin-top: 30px;
	margin-bottom: 50px;
	display:block;
}


#otc-stage-ie8 {
	display:none;
}

.otcbgmain-desk {
	display:block;
}
.otcbgmain-mobile {
	display:none;
}


#otc-main-cont, 
#otc-rig-cont, 
#otc-wt-cont, 
#otc-caps-cont, 
#otc-rig-cont-mob, 
#otc-wt-cont-mob, 
#otc-caps-cont-mob {
	width: 100%;
	/*border: 1px solid red;*/
	position: absolute;
}

#otc-rig-cont, #otc-rig-cont img, 
#otc-wt-cont, #otc-wt-cont img,
#otc-caps-cont, #otc-caps-cont img,
#otc-rig-cont-mob, #otc-rig-cont-mob img,
#otc-wt-cont-mob, #otc-wt-cont-mob img,
#otc-caps-cont-mob, #otc-caps-cont-mob img {
	z-index:6;
	width: 100%;
	top: 0;
	left: 0;
}

#otc-wt-cont, #otc-wt-cont img {
	z-index: 7;
}

#otc-caps-cont, #otc-caps-cont img {
	z-index: 8;
}

#otc-rig-cont-mob, #otc-rig-cont-mob img {
	z-index: 23;
}

#otc-wt-cont-mob, #otc-wt-cont-mob img {
	z-index: 24;
}

#otc-caps-cont-mob, #otc-caps-cont-mob img {
	z-index: 25;
}



#otc-main-bg, #otc-main-bg img, 
#otc-main-l2, #otc-main-l2 img, 
#otc-main-l3, #otc-main-l3 img,
#otc-main-l4, #otc-main-l4 img,
#otc-main-l5, #otc-main-l5 img {
	width: 100%;
}

#otc-blimp {
	width: 5%;
}

#otc-blimp img {
	width: 100%;
}

#otc-main-bg, #otc-main-l2, #otc-main-l3, #otc-main-l4, #otc-main-l4, #otc-main-l5, #otc-blimp, #otc-interface-main {
	/*border: 1px solid blue;*/
	position: absolute;
	top: 0;
	left: 0;
}

#otc-main-bg {
	z-index: 5;
}

#otc-main-l2 {
	z-index: 60;
}

#otc-main-l3 {
	z-index: 70;
}

#otc-main-l4 {
	z-index: 80;
}

#otc-main-l5 {
	z-index: 90;
}

#otc-blimp {
	margin-top:11.75%;
	left: 101%;
	z-index:5;
}

/* interface styles */

#otc-interface-main {
	width: 100%;
	margin: 2.5% auto;
	z-index: 5;
}

#otc-main-headline h1 {
	margin: 0 auto;
	text-align: center;
	color: #fff;
	font-size: 3.5em;
}

#otc-interface-buttons {
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
	margin-top: 1.25%;
	/*border: 1px solid red;*/
}

.otc-button {
	width: 30%;
	/*background-color: #da241c;*/
	border-radius: 5px; 
	border: 1px solid white;
	text-align: center;
	padding-top: 1.1em;
	padding-bottom: 0.7em;
	box-sizing: border-box;
	width: 285px;
	display: inline-block;
}

.otc-button:hover {
	/*background-color:#fff;*/
	border: 1px solid #009CDE;
	background-color: #009CDE;
}

.otc-button a {
	cursor: pointer;
}

.otc-button:nth-child(2) {
	margin: 0 2%;
}

.otc-button:nth-child(3){
	margin: 0 0 0 0;
}

#otc-button-img-rig {
	width: 45%;
}

#otc-button-img-well {
	width: 56%;
}

#otc-button-img-caps {
	width: 69%;
}

.otc-center-helper {
	margin: 0px auto;
	/*border: 1px solid #008000;*/
	/*width: 60%;*/
	overflow: hidden;
	padding: 1px;
	text-align: center;
}

/*     Rig Content     */

#otc-rig-interface {
	z-index: 21;
	position: absolute;
	top: 0;
	left: 0;
	margin: 2.5% 0 0 5%;
	/*border: 1px solid red;*/
}

#otc-rig-interface img{
	display: block;
	width: 45%;
	height: 45%;
}

#otc-rig-interface h1 {
	font-size: 2em;
	color: #fff;
	font-weight: 700;
}

.otc-return-home {
	position: relative;
	margin-left: 50%;
	width: 100px;
}

#otc-rig-interface .otc-return-home a {
	cursor: pointer;
	text-decoration: none;
}

#otc-rig-interface .otc-return-home img {
	float: left;
	width: 2em;
	margin-right: .5em;
	margin-top: .35em;
}

.otc-hotspot {
	background-color: #da241c;
	height: 32px;
	width: 32px;
	border-radius: 50%;
	border: 1px solid white;
}

#otc-rig-hotspot1,
#otc-rig-hotspot2,
#otc-rig-hotspot3,
#otc-rig-hotspot4,
#otc-rig-hotspot5,
#otc-wt-hotspot1,
#otc-wt-hotspot2,
#otc-wt-hotspot3,
#otc-wt-hotspot4,
#otc-wt-hotspot5,
#otc-caps-hotspot1,
#otc-caps-hotspot2,
#otc-caps-hotspot3,
#otc-caps-hotspot4,
#otc-caps-hotspot5  {
	position: absolute;
}

#otc-rig-hotspot1 {
	top: 35%;
	left: 4.2%;
}

#otc-rig-hotspot2 {
	top: 30%;
	left: 38%;
}

#otc-rig-hotspot3 {
	top: 28%;
	left: 58%;
}

#otc-rig-hotspot4 {
	top: 46%;
	left: 66%;
}

#otc-rig-hotspot5 {
	top: 31%;
	left: 80%;
}

#otc-wt-hotspot1 {
	top: 34.5%;
	left: 16%;
}

#otc-wt-hotspot2 {
	top: 75%;
	left: 58%;
}

#otc-wt-hotspot3 {
	top: 33%;
	left: 32%;
}

#otc-wt-hotspot4 {
	top: 50%;
	left: 28.6%;
}

#otc-wt-hotspot5 {
	top: 80%;
	left: 82.35%;
}

#otc-caps-hotspot1 {
	top: 33%;
	left: 18%;
}

#otc-caps-hotspot2 {
	top: 33%;
	left: 31%;
}

#otc-caps-hotspot3 {
	top: 33%;
	left: 70%;
}

#otc-caps-hotspot4 {
	top: 50%;
	left: 79.5%;
}

#otc-caps-hotspot5 {
	top: 65%;
	left: 80.8%;
}

#rig-cont-first-left {
	width: 25%;
	line-height: 1.45em;
	padding: 2em;
	float: left;
	box-sizing: border-box;
}

#rig-cont-first-right {
	width: 75%;
	float: right;
}

#rig-cont-first-right-cont img {
	width: 100%;
}

/**MOBILE **/

#otc-interface-buttons-mob {
	display: none;
}

#otc-email-form::before {
	
}

#otc-hey-did-you-know img {
	cursor: pointer;
	width:50% ;
}

#otc-return-main {
	cursor: pointer;
}

/* NEW PULSATING BUTTON */

.otc-button-container {
	position: absolute;
  width: 50px;
  height: 50px;
  margin: 0 auto 0;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  background: none;
}

.otc-pulse-button {
 /*position: absolute;
  top: 30%;
  left: 10%;
  margin-left: -50px;
  margin-top: -50px;*/
  display: block;
  width: 18px;
  height: 18px;
  font-size: 1.3em;
  font-weight: light;
  font-family: 'Trebuchet MS', sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 100px;
  letter-spacing: -1px;
  color: white;
  border: 5px solid #fff;
  border-radius: 50%;
  background: #009cde;
  cursor: pointer;
  -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, .75);
  box-shadow: 0 0 0 0 rgba(255, 255, 255, .75);
  -webkit-animation: pulse 1.5s infinite;
  animation: pulse 1.5s infinite;
  
}
.otc-pulse-button:hover {
	-webkit-animation: none;
  animation: none;
  
}

@keyframes pulse {
  0% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  70% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
  }
  100% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
@-webkit-keyframes pulse {
  0% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  70% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
  }
  100% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

#first-cont-rig {
	position:absolute !important;
}
#first-cont-rig p {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.45em;
}

#first-cont-rig h2 {
	font-weight: 700;
}

.otc-logo-right {
	position: absolute;
	top: 86% !important;
	left: 72% !important;
	width: 250px !important;
}

.otc-logo-right-rig {
	width: 160px !important;
	left: 76% !important;
}

.otc-logo-right-wt {
	width: 200px !important;
	left: 72% !important;
}

#otc-dyn-icon {
  width: 200px;
  height: 50px;
  background-size: cover;
  background: url('../../../../otc/home/img/elements/buttons-sprite.svg')/*tpa=http://www.nov.com/otc/home/img/elements/buttons-sprite.svg*/ no-repeat 0 0;
  background-size: 803px 101px;
}

#otc-dyn-icon:hover {
  background: url('../../../../otc/home/img/elements/buttons-sprite.svg')/*tpa=http://www.nov.com/otc/home/img/elements/buttons-sprite.svg*/ no-repeat 0 -51px;
  background-size: 803px 101px;
}


#otc-info-icon {
  width: 200px;
  height: 50px;
  background: url('../../../../otc/home/img/elements/buttons-sprite.svg')/*tpa=http://www.nov.com/otc/home/img/elements/buttons-sprite.svg*/ no-repeat -201px 0;
  background-size: 803px 101px;
}

#otc-info-icon:hover {
  background: url('../../../../otc/home/img/elements/buttons-sprite.svg')/*tpa=http://www.nov.com/otc/home/img/elements/buttons-sprite.svg*/ no-repeat -201px -51px;
  background-size: 803px 101px;
}

#otc-back-icon {
 width: 200px;
 height: 50px;
 background: url('../../../../otc/home/img/elements/buttons-sprite.svg')/*tpa=http://www.nov.com/otc/home/img/elements/buttons-sprite.svg*/ no-repeat -603px 0;
 background-size: 803px 101px;
}

#otc-back-icon:hover{
 background: url('../../../../otc/home/img/elements/buttons-sprite.svg')/*tpa=http://www.nov.com/otc/home/img/elements/buttons-sprite.svg*/ no-repeat -603px -51px;
 background-size: 803px 101px;
}

.single {
	margin-bottom: -15px !important;
}



#otc-contact-icon {
  width: 200px;
  height: 50px;
  background: url('../../../../otc/home/img/elements/buttons-sprite.svg')/*tpa=http://www.nov.com/otc/home/img/elements/buttons-sprite.svg*/ no-repeat -402px 0;
  background-size: 803px 101px;
}

#otc-contact-icon:hover {
  background: url('../../../../otc/home/img/elements/buttons-sprite.svg')/*tpa=http://www.nov.com/otc/home/img/elements/buttons-sprite.svg*/ no-repeat -402px -51px;
  background-size: 803px 101px;
}


.otc-content-button-link {margin-left: 10px; font-weight:400; font-size: 14px}

.otc-content-link {display: block;} /*
.otc-content-link:hover {background-color: #da291c; color: #fff; text-decoration: none;}*/

.main-button-margin {
	margin-right: 25px;
}


/* Animations */

/*#wave1 {
				position: absolute;
				left: 0%;
				top: 45.65%;
				transform: rotate(45deg) translateX(2px) rotate(-45deg);
				animation: orbit2 10s linear infinite;
				-webkit-animation: orbit2 7s linear infinite;
				-moz-animation: orbit2 7s linear infinite;
				-o-animation: orbit2 7s linear infinite;
				-ms-animation: orbit2 7s linear infinite;
			}

@keyframes orbit2 {
				from { 	transform: rotate(0deg) translateX(2px) rotate(0deg); }
				to   {  transform: rotate(360deg) translateX(2px) rotate(-360deg); }
			}

@-webkit-keyframes orbit2 {
				from { 	-webkit-transform: rotate(0deg) translateX(2px) rotate(0deg); }
				to   {  -webkit-transform: rotate(360deg) translateX(2px) rotate(-360deg); }
			}
@-moz-keyframes orbit2 {
				from { 	-moz-transform: rotate(0deg) translateX(2px) rotate(0deg); }
				to   {  -moz-transform: rotate(360deg) translateX(2px) rotate(-360deg); }
			}

@-o-keyframes orbit2 {
				from { 	-o-transform: rotate(0deg) translateX(2px) rotate(0deg); }
				to   {  -o-transform: rotate(360deg) translateX(2px) rotate(-360deg); }
			}

@-ms-keyframes orbit2 {
				from { 	-ms-transform: rotate(0deg) translateX(2px) rotate(0deg); }
				to   {  -ms-transform: rotate(360deg) translateX(2px) rotate(-360deg); }
			}

#wave2 {
				position: absolute;
				left: -5.5%;
				top: 44.65%;
				transform: rotate(45deg) translateX(2px) rotate(-45deg);
				animation: orbit3 7s linear infinite;
				-webkit-animation: orbit3 10s linear infinite;
				-moz-animation: orbit3 10s linear infinite;
				-o-animation: orbit3 10s linear infinite;
				-ms-animation: orbit3 10s linear infinite;
			}

@keyframes orbit3 {
				from { 	transform: rotate(0deg) translateX(2px) rotate(0deg); }
				to   {  transform: rotate(360deg) translateX(2px) rotate(-360deg); }
			}

@-webkit-keyframes orbit3 {
				from { 	-webkit-transform: rotate(0deg) translateX(2px) rotate(0deg); }
				to   {  -webkit-transform: rotate(360deg) translateX(2px) rotate(-360deg); }
			}
@-moz-keyframes orbit3 {
				from { 	-moz-transform: rotate(0deg) translateX(2px) rotate(0deg); }
				to   {  -moz-transform: rotate(360deg) translateX(2px) rotate(-360deg); }
			}

@-o-keyframes orbit3 {
				from { 	-o-transform: rotate(0deg) translateX(2px) rotate(0deg); }
				to   {  -o-transform: rotate(360deg) translateX(2px) rotate(-360deg); }
			}

@-ms-keyframes orbit3 {
				from { 	-ms-transform: rotate(0deg) translateX(2px) rotate(0deg); }
				to   {  -ms-transform: rotate(360deg) translateX(2px) rotate(-360deg); }
			}*/




@media screen and (max-width: 1816px){
	#rig-cont-first-left{width: 35%;}
	#rig-cont-first-right{width: 65%;}

}

@media screen and (max-width: 1770px){
	#rig-cont-first-left{width: 100%;}
	#rig-cont-first-right{width: 100%;}
	.otc-content-link{display:inline-block; width: 30%;}
}

@media screen and (max-width: 1366px){
	#rig-cont-first-left{width: 30%;}
	#rig-cont-first-right{width: 70%;}
	#otc-stage{height: 95vh; height:75vh\9};
	#otc-blimp{top:12.25%;};
	}
	#first-cont-rig p {font-weight: 400; font-size: 12px; line-height: 1.55em;}
	.otc-content-link{display: block;}



}