@charset "utf-8";
/* CSS Document for AIG USA only*/

#segmentBanner {
	*float:none !important;
	}

#segmentBanner .bnrDesc a{
	font-family: 'aig_futurabold',Arial, Helvetica, sans-serif;
	background: #ffffff;
	color: #00A5DB;
	overflow: hidden;
	padding: 5px 15px;
	font-size:15px;
	line-height: 22px;
	margin-right: 6px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing:0.01em;
	/*position: absolute; added to position links 30px above banner bottom
	bottom: 0;  added to position links 30px above banner bottom
	left: 0;   added to position links 30px above banner bottom*/
	}

#segmentBanner .bnrDesc a:hover {
    background: none repeat scroll 0 0 #6FC6EE;
    color: #fff;
}

#segmentBanner .bnrSectionDesc ul li a {
	padding: 10px 15px;
	position: relative;
	top: 10px;
	left: 3px;
}
	
#logobanner2{
	float: right;
	position: relative;
	top: 130px;
	*top: 116px;
	margin-left: 4px;
	*margin-left: 1px;
	}	

#logobanner3, #logobanner4, #logobanner5, #logobanner6, #logobanner7, #logobanner8, #logobanner9 {
	float: right;
	position: relative;
	top: 130px;
	margin-left: 4px;
	*margin-left: 1px;
	}	
	
#li6 #subNav3 {
	display: none !important;
	}

h1.pageTitle a {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #00A5DB;
    font-family: 'aig_futurabold',Arial,Helvetica,sans-serif;
    font-size: 13px;
    letter-spacing: 0.01em;
    line-height: 18px;
    margin-right: 6px;
    padding: 5px 15px;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    overflow: hidden;
    margin-top: 15px;
}
*:first-child+html #languageSelectNew{
margin-bottom:50px;
}

#topLinks {
    left: 470px;
    float: left;
}

/*Module Carousel Styles*/
#gridCenter .moduleCarSection, #gridCenter .moduleCarSection .moduleCarDtls { width: 640px; }
.moduleCarDtls a.btnlft { left: 0; margin-left: 5px; top: 105px; }
.moduleCarDtls a.btnrgt { left: auto !important; top: 105px; }

/*Styles for Recognition in Careers page*/
.rightModule .AIGBlack { border: solid 6px #00A4E4; min-height: 200px; position: relative; padding-top: 3px; }
.rightModule .AIGBlack div { background-color: #fff; display: none; position: absolute; text-align: center; width: 100%; }
.rightModule .AIGBlack div.recog0 { padding-top: 40px; }