/* Header styles */
header{ height: 114px; *height: 129px;}
header #logobanner2, header #logobanner3, header #logobanner4, header #logobanner5, header #logobanner6, header #logobanner7{ display: none;}

/* Home Banner styles */
#segmentBanner{ visibility: hidden; background: none; height: auto; float: none; }
#segmentBanner #thumbnail, #segmentBanner .bnrTitle{ display: none;}
#segmentBanner .bnrImg{ position: static; width: 490px; height: 342px; z-index: 1;}
#segmentBanner .bannerSection1{ float: left; width: 490px; overflow: hidden; position: relative;}
#segmentBanner .bnrDesc{ background: url("aig_banner_desc_bg_tcm3171-654507.png")/*tpa=http://www.aig.com/Chartis/internet/US/en/aig_banner_desc_bg_tcm3171-654507.png*/; top: 40px; right: 25px; left: auto; width: 245px; -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.6); box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);padding:0}
#segmentBanner .bImg2 .bnrDesc{ left: 25px; right: auto;}
#segmentBanner .bnrDesc *{ text-align: center;}
#segmentBanner .bnrDesc a{ background: none !important; background-color: none !important; color: #fff; display: block; font: 22px/1.2 "aig_futura_medregular",Arial,Helvetica,sans-serif; min-height: 90px; padding: 15px 10px; text-align: center;margin-right:0;}
#segmentBanner .bnrDesc a:hover{background: none !important; background-color: none !important;}

/* Center Module styles */
.hasBanner #gridCenter, .centerModule{ padding-bottom: 0;}
#gridCenter .centerModule .dotedList > ul{ padding: 0; list-style: none; margin: 0;}
#gridCenter .centerModule .dotedList > ul > li{ padding: 0 0 2px 184px; list-style: none; margin: 0; position: relative; min-height: 125px; overflow: hidden;}
#gridCenter .centerModule .dotedList > ul .AIGGreen{ display: block; margin-bottom: 5px;}
#gridCenter .centerModule .dotedList > ul a{ color: #0073ae; font-size: 13px;}
#gridCenter .centerModule .dotedList > ul a span{display:block;font-size: 15px;font-weight:600;	}
#gridCenter .centerModule .dotedList > ul img{ width: 154px; height: 112px; position: absolute; left: 0; top: 0;}
.AIGGreen{ color: #78a22f !important;}
#pageTitle .pageName, #pageTitle h2, .centerModule h3{ font-size: 22px;}
#pageTitle{ padding-bottom: 20px;}

/* Right Module styles */
#gridRight{ width: 255px; padding-left: 45px;}
.rightModule .moduleTitle{ border: 0; font-size: 22px; line-height: 1.2; padding-bottom: 0;}
.rightModule{ width: auto; font-size: 13px;}
.rightModule h3{ color: #645c5c; margin: 18px 0 6px; padding: 0; font: normal 12px/1.1 "aig_futurabold",Arial,Helvetica,sans-serif;}
.rightModule a{ color: #0073ae;}
.rightBulleted{ margin-top: 32px;}
.rightBulleted ul.bulleted{ list-style: disc; margin-top: 10px;}
.rightBulleted ul.bulleted > li{ margin-left: 16px; color: #0073ae; line-height: 1.2; margin-bottom: 5px;}
