body{
	font-family: 'aig_futura_medregular',Arial, Helvetica, sans-serif !important;
	font-size:14px;
	color:#6d6e71;
}
#topLinks, #siteSearch,#logobanner2,#navContainer,#footerSection,#printTop,#printBot,#siteFooter, #mastHead ul,#LabelId, #gridTop{
	display:none !important;
}
#mastHead{
	height: 80px !important;
}
#logo{
	top: 10px !important;
}
.Custom_Bold{
	font-weight: bold !important;
}
#internalDetail ul{
	list-style:none !important;
	padding:0px !important;
	margin:0px !important;
}
#internalDetail ul li{
	padding:0px !important;
	margin:0px !important;
}