@charset "utf-8";
/* CSS Document */

html.ie6, 
html.ie7,
html.ie8,
html { font-size: 62.5%; } 

.ie6 body,
.ie7 body, 
.ie8 body,
body { font-size: 12px; font-size: 1.2rem; } /* =12px */

.ie6 body,
.ie7 body, 
.ie8 body,
body {
    line-height: 1;
}