@charset "utf-8";
/* CSS Document */

/* CSS Document */

/***********************/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* Begin reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, 
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; 
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}


html { font-size: 62.5%; } 
body { font-size: 12px; font-size: 1.2rem; } /* =12px */

body {
    line-height: 1;
}

blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

b {
    font-weight: bold;
}

i, em {
	font-style: italic;
}

ol, ul, li {
    font: inherit;
    vertical-align: baseline;
}
/* End reset */
/***********************/
body {
  background-image:url(../images/templates/bg_body.gif)/*tpa=http://www.pacificlife.com/corp/images/templates/bg_body.gif*/;
  background-repeat:repeat-x;
  background-position:top;
  color:#555;
  font-family: Arial, Helvetica, 'Helvetica Neue', sans-serif;
  line-height: 1.5em;
  text-align:center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ul,
ol,
table {
  margin-top:0;
}

h2 {
    color:#01527C;
    font-size:2em;
    font-weight:500;
}

h3 {
    color:#01527C;
    font-size:1.8em;
    font-weight:500;
}

h4 {
	color: #ffffff;
    font-size: 1.3em;
    font-weight: 500;
    margin: 0 0 10px;
}

sup {
	vertical-align: super;
	line-height: normal;
	font-size: .8em;
}

sub {
	vertical-align: sub;
	line-height: normal;
	font-size: .8em;
}

dd, dt, li {
    color:#555;
    line-height:1.3em;
}

li {
	margin-bottom: .2em;
}

dt {
    font-weight:bold;
}

p {
	margin:0;
	margin-bottom: 1.5em;
	display: block;
    line-height: 1.5em;
	letter-spacing: 
}

hr {
    border:0px solid #D2D3B1;
    border-top-width:1px;
    clear:both;
    margin:0 0 30px;
}

img {
  border:0px none;
}

img.float_left {
    float:left;
    margin:0 10px 5px;
}

img.float_right {
    float:right;
    margin:0 0 5px 10px;
}

input.text,
textarea {
  background-color:#FFF;
  border:1px solid #CCC;
}

a:link,
a:visited {
  color:#01527C;
}

a:hover {
	text-decoration: none;
}

/* Global template regions */

#wrapper {
    margin:24px auto 0;
    position:relative;
    text-align:left;
    width:985px;
    z-index:0;
}

#header {
    height:58px;
  	margin-bottom:15px;
    position:relative;
    z-index:10;
}

#header p {
  font-family: Helvetica, Arial;
  font-color:#555;
  margin-bottom:0;
  white-space:nowrap;
}

#header>div {
    padding:0;
}
#header #logo {
    float:left;
    height:54px;
    margin:12px 0 0 14px;
    padding:0;
    width:150px;
}
#header div.nav {
    float:left;
    margin-left:25px;
    padding:0;
    width:775px;
	/*font-size: 10px;*/
}

#header div.nav ul, #header div.nav ul li {
	list-style-type: none;
}

.nav .topNavItem ul.subNav {
	margin: 0;
	margin-top: 10px;
	padding: 0;
}


.ie8 .nav .topNavItem ul.subNav {
	margin-top: 10px;
}



#crp .nav .topNavItem ul.subNav {
	margin: 0;
	margin-top: -5px;
	padding: 0;
}


/* IE hack */
/* IE7, IE8 */

.nav .topNavItem ul.subNav {
	margin-top

	: 0\9;
}


.subNavCol1, .subNavCol2 {
	margin-left: 0;
	padding-left: 0;
}

#sol_wrap {
	margin-top: 0;
	padding-top: 0;
}

#sol_wrap, #sol_wrap li {
	list-style-type: none;
}

#nav_ut {
text-align: right;
}


/* Top block */
#top {
  background-image:url(../../pga/images/templates/bg_top_gradient.jpg)/*tpa=http://www.pacificlife.com/pga/images/templates/bg_top_gradient.jpg*/;
  background-repeat:no-repeat;
  background-position:top center;
  height:62px;
  margin-bottom:20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow:hidden;
}


#top h1 {
  color:#01527C;
  font-size:2.4em;
  line-height:64px;
  padding-left:20px;
  vertical-align:middle;
  font-weight: bold;
}

#top a:link, #top a:visited {
	text-decoration: none;
	display: inline;
}
#top a:hover {
	text-decoration: underline;
}

/* subnav  */
#subnavigationdiv {
    width: 985px;
	margin: 0;
	padding: 0;
}

#nav_top {
	padding-left: 2px;
	margin: 0;
	padding: 0;
}

#nav_top li {
  background-image:url(../images/templates/bg_nav_top.gif)/*tpa=http://www.pacificlife.com/corp/images/templates/bg_nav_top.gif*/;
  background-repeat:repeat-x;
  background-position:top;
  background-color:#01527C;
  border:1px solid #338ab6;
  border-right:0px none;
  display:inline;
  float:left;
  height:30px;
  line-height:27px;
  position:relative;
  vertical-align:middle;
}

#nav_top li:hover {
  background:#07334c;
}

#nav_top li.first-child {
}

#nav_top li.last-child {
    border-right: 1px solid #338ab6;
}


#nav_top li#last-child {
    border-right: 1px solid #338ab6;
}

#nav_top li a:link,
#nav_top li a:visited {
  color:#FFF;
  display:block;
  font-size:1.1em;
  font-weight:bold;
  height:100%;
  padding:0 36.5px;
  text-decoration:none;
}

#nav_top li a:hover {
  text-decoration:none;
}
#nav_top li.first-child a:link {
}

#nav_top li.first-child.current {
}

#nav_top li.last-child.current {
}

#nav_top li.hide {
	display: none;
}

#nav_top li.current {
  color: #01527C;
  background-color:#FFF;
  background-image:none;
  border-bottom:0px none;
}

#nav_top li.current a:link,
#nav_top li.current a:visited {
  color:#03547e;
}

/* wider li */
#nav_top.wide li a { 
	padding:0 5px;
}

div#timeout {
    color: #444444;
    text-align:left;
}

/**/


#contentwrapper, .contentwrapper  {
  margin-top:15px;
}

.column {
  overflow-y:hidden !important;
}

.one_column { 
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border:1px solid #c6dae7;
}

.col_main {
  display:inline;
  float:left;
  width:77%;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-bottomleft: 15px;
  -webkit-border-top-left-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;
  border:1px solid #c6dae7;
  border-right:0px none;
  margin-right:-1px;
  z-index: -1;
}

.col_main .content {
  margin:20px;
  padding-bottom: 20px;
}

.col_main p {
    line-height: 1.5em;
    margin-bottom: 0.7em;
}


.col_main.one_column { 
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  border:1px solid #c6dae7;
  display:block;
  float:none;
  margin:0;
  width: 99.5%;
}

.col_right {
  display:inline;
  float:left;
  width:22.5%;
  background-color:#f5f3e7;
  border:1px solid #ecdda7;
  margin:0 -1px;
  -moz-border-radius-topright: 15px;
  -moz-border-radius-bottomright: 15px;
  -webkit-border-top-right-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  border-top-right-radius:15px;
  border-bottom-right-radius:15px;
  z-index: -1;
}

.col_right .content {
  margin:10px;
  background-color:#FFF;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  padding:0 0 40px;
}

.col_right .copy .section {
    margin:10px;
}


.column .content_header {
    margin:0 0 20px;
}
.content_header {
    margin:20px;
}
.content_header h2 {
    color:#01527C;
    font-size:2.4em;
    font-weight:500;
    margin:0 0 3px;
}

/* Sitetitle */

.sitetitle {
	width: 983px;
	height: 62px;
	background: url(../../crp/images/sitetitle_bg_top.jpg)/*tpa=http://www.pacificlife.com/crp/images/sitetitle_bg_top.jpg*/ left top no-repeat;
	font-weight: bold;
	font-size: 28px;
	margin: 10px 0 20px;
	color: #01527c;	
}

.sitetitle div {
	margin: 0;
	margin-left: 20px;
	padding-top: 20px;
}


/* Body list style */
.col_main ul {
    margin: 0 0 1em;
    padding: 0;
	overflow: hidden;
}

.col_main ul li {
    line-height: 1.7em;
    /*list-style-image: url("/corp/images/bullet_20x20.png");
	list-style-position: inside;*/
	list-style-type: none;
	background: url("../images/bullet_7x7.png")/*tpa=http://www.pacificlife.com/corp/images/bullet_7x7.png*/ 0 5px no-repeat;
    margin-left: .5em;
    padding-left: 1em;
}

.col_main ol li { margin-bottom: 1em; }

.list_corp .ttl {
	color: #01527c;
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 5px;

}

/* Side nav */
.col_right .sidenaviparsys .sidenaviparsys {
	padding: 15px 0 50px;
}

/* Sidenav Text Component */
.col_right .sidenaviparsys .text {
	margin-left: 20px;
}

/* Sidenav Damlist */
.col_right .sidenaviparsys .damlist p {
    background-color: #FFFFFF;
	padding: 10px 5px;
}

.col_right .sidenaviparsys .damlist ul {
	list-style:none;
	margin: 0;
	padding: 0;
	margin-left: 18px;
}

.col_right .sidenaviparsys .damlist ul li {
	list-style:none;
}

.col_right .sidenaviparsys .damlist ul li div a{
	padding-left:45px;
}

/* Sidenav List Children */
.col_right .sidenaviparsys .listchildren div,
.col_right .sidenaviparsys .list_corp div  {
	margin-bottom: 10px;
}

.col_right .sidenaviparsys .listchildren div ul,
.col_right .sidenaviparsys .list_corp div ul {
    list-style:none;
    padding:0;
	padding-top: 10px;
}

.col_right .sidenaviparsys .listchildren div li,
.col_right .sidenaviparsys .list_corp div li  {
    line-height:1.4em;
    padding:9px;
}

.col_right .sidenaviparsys .list_corp div li p {
	margin: 0;
}

.col_right .sidenaviparsys .listchildren div li a:link,
.col_right .sidenaviparsys .listchildren div li a:visited,
.col_right .sidenaviparsys .list_corp div li a:link,
.col_right .sidenaviparsys .list_corp div li a:visited {
    color:#01527C;
}

.col_right .sidenaviparsys .listchildren div li a:hover,
.col_right .sidenaviparsys .list_corp div li a:hover {
	text-decoration: none;
}

.col_right .sidenaviparsys .listchildren div li.current,
.col_right .sidenaviparsys .list_corp div li.current {
    background-color:#f5f3e7;
    border-bottom:1px solid #ecdda7;
    border-top:1px solid #ecdda7;
}

.col_right .sidenaviparsys .listchildren div li.current a,
.col_right .sidenaviparsys .listchildren div li.current a:hover,
.col_right .sidenaviparsys .list_corp div li.current a,
.col_right .sidenaviparsys .list_corp div li.current a:hover {
    color:#898989;
    font-weight:bold;
    text-decoration:none;
}

.col_right .sidenaviparsys .listchildren div li.first,
.col_right .sidenaviparsys .list_corp div li.first {
    padding-top:18px;
}

.col_right .sidenaviparsys .listchildren div li.current ul,
.col_right .sidenaviparsys .list_corp div li.current ul {
	margin: 0;
	padding: 0;
	background-color: #ffffff;
}

.col_right .sidenaviparsys .listchildren div li.current ul li,
.col_right .sidenaviparsys .listchildren div li ul li,
.col_right .sidenaviparsys .list_corp div li.current ul li,
.col_right .sidenaviparsys .list_corp div li ul li {
	font-weight: normal;
	margin-left: 5px;
	margin-bottom: 5px;
	line-height: normal;
	height: auto;
	padding: 6px 3px 3px 6px;
	background-color: #ffffff;
}

.col_right .sidenaviparsys .listchildren div li.current ul li a,
.col_right .sidenaviparsys .list_corp div li.current ul li a {
	font-weight: normal;
	color: #01527C;
	text-decoration: underline;
}

.col_right .sidenaviparsys .listchildren div li.current ul li a:hover,
.col_right .sidenaviparsys .list_corp div li.current ul li a:hover {
	font-weight: normal;
	color: #01527C;
	text-decoration: none;
}


.col_right .sidenaviparsys .listchildren div li.current ul li.current_child,
.col_right .sidenaviparsys .list_corp div li.current ul li.current_child {

}

.col_right .sidenaviparsys .listchildren div li.current ul li.current_child a,
.col_right .sidenaviparsys .list_corp div li.current ul li.current_child a {
	color:#666;
	font-weight: bold;
	text-decoration: none;
}

.col_right .sidenaviparsys #listchildren span.ttl,
.col_right .sidenaviparsys .list_corp div.ttl {
	display: block;
	font-weight: bold;
	background: #f5f3e7;
	padding: 10px 0 10px 10px;
	border-bottom:1px solid #ecdda7;
	color:#666;
}



/********************/
/* Footer */
#footer {
    clear: both;
    margin: 10px 0;
    padding:0;
	font-size: 1em;
}

ul#nav_footer {
  float:right;
  margin-right: 20px;
  padding-top: 0; /* fix position */
}

ul#nav_footer li {
  display:inline;
  float:left;
  margin-left:5px;
  border-left: 1px solid #003366;
  padding-left: 5px;

}
ul#nav_footer li#first {
	border-left: none;
    /*border-right: 1px solid #003366;
    padding-right: 5px;*/
}

ul#nav_footer li a:link,
ul#nav_footer li a:visited {}
ul#nav_footer li a:hover {}

#footer p.legal {
  color:#707070;
}

/* Clearfix */
#contentwrapper div:after, 
#contentwrapper ul:after, 
#nav_top:after,
.clearfix:after {
    content: " "; 
    display: table; 
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
 
.clearfix {
    *zoom: 1;
}

/*****************/


html[xmlns] #contentwrapper div {
    display: block;
    z-index: -1;
}

.hide {
    display: none;
}

/* breadcrumbs */

#stitle {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: #01527C;
    border-bottom: 1px solid #C3e0F2;
    padding-bottom: 3px;
    margin-bottom: 5px;
}

#print_email {
	display: inline;
	text-align: right;
	float: right;
}

#print_email form {
	display: inline;
}

#breadcrumbs {
	font-size: 0.9em;
}

#breadcrumbs a {
    margin: 0 6px 0 1px;
}

.breadcrumbs {}
 
.breadcrumbs_on { color: #898989; }

/* Login Dropdown */
#static_selector {
width: 200px;
position: relative;
float: right;
}


#btn {
color: white;
height: 30px;

}

#btn a {
text-decoration: none;
color: white;
display: block;
padding: 10px;
background: url(../../crp/images/bg_select_acct_type.png)/*tpa=http://www.pacificlife.com/crp/images/bg_select_acct_type.png*/ top left no-repeat;
}


#links {
position: absolute;
left: -1px;
top:  30px;
border: 1px solid #C9C9BD;
background: #EDEDE6;
margin: 0;
padding: 0;
list-style-type: none;
width: 200px;
display: none;
}

#links ul {
margin: 0;
padding: 0;
list-style-type: none;
}

#links li {
margin: 0;
padding: 0;
list-style-type: none;
border-bottom: 1px solid #C9C9BD;
}


#links a:link, #links a:visited {
	text-decoration: none;
	padding: 5px 5px;
	display: block;
	color: #666666;
	font-weight: bold;
	background: url(../../crp/images/arrow_tan.png)/*tpa=http://www.pacificlife.com/crp/images/arrow_tan.png*/ no-repeat 95% 50% #f6f5e9;
}

#links a:hover {
	background: url(../../crp/images/arrow_tan_dark.png)/*tpa=http://www.pacificlife.com/crp/images/arrow_tan_dark.png*/ no-repeat 95% 50% #e6dfca;	
}

 
/* Impersonation message */
#impMessage {     
    margin: 10px auto;    
    background-color: red; 
    border: 1px solid darkred; 
    color: white; 
    font-weight: bold; 
    letter-spacing: 8px; 
    padding: 2px;
    display: none;   
    font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	display: none;
}

#IFRM_EXTERNAPP {
 	width: 100%;
}


/* AddThis */
.addthis_custom_sharing,
.addthis_sharing_toolbox, 
#atstbx {
display: inline;
float: left;
}


/** AddThis Follow Us **/

#atfollow { 
	border-top: 1px solid #c1dbff;
	padding-top: 20px;
	margin: 0 20px 40px;
	height: 240px;
}



.at-svc-email, .at-svc-print { display: none; }
#print, #email { float: right; }



