@charset "utf-8";
/* CSS Document */
html.ie6, 
html.ie7,
html.ie8,
html { font-size: 62.5%; } 

.ie6 body,
.ie7 body, 
.ie8 body,
body { font-size: 12px; font-size: 1.2rem; } /* =12px */

.ie6 body,
.ie7 body, 
.ie8 body,
body {
    line-height: 1;
}

/* Top nav */
#header li.utility {
    float: right;
    padding-left: 0;
    width: auto;
}

#header div.nav {
    margin-left: 15px;
	margin-top: -15px;
    width: 800px;
}

#sol_wrap {
    margin: 0;
    padding: 0;
    padding-left: 30px;
}

#header li.utility {
    float: right;
    padding-left: 0;
    width: auto;
}

/* Login Dropdown */
#static_selector {
width: 200px;
position: relative;
float: right;
}


#btn {
color: white;
height: 30px;

}

#btn a {
text-decoration: none;
color: white;
display: block;
padding: 10px;
background: url(../../crp/images/bg_select_acct_type.png)/*tpa=http://www.pacificlife.com/crp/images/bg_select_acct_type.png*/ top left no-repeat;
}


#links {
position: absolute;
left: -1px;
top:  30px;
border: 1px solid #C9C9BD;
background: #EDEDE6;
margin: 0;
padding: 0;
list-style-type: none;
width: 200px;
display: none;
}

#links ul {
margin: 0;
padding: 0;
list-style-type: none;
}

#links li {
margin: 0;
padding: 0;
list-style-type: none;
border-bottom: 1px solid #C9C9BD;
}


#links a:link, #links a:visited {
	text-decoration: none;
	padding: 5px 5px;
	display: block;
	color: #666666;
	font-weight: bold;
	background: url(../../crp/images/arrow_tan.png)/*tpa=http://www.pacificlife.com/crp/images/arrow_tan.png*/ no-repeat 95% 50% #f6f5e9;
}

#links a:hover {
	background: url(../../crp/images/arrow_tan_dark.png)/*tpa=http://www.pacificlife.com/crp/images/arrow_tan_dark.png*/ no-repeat 95% 50% #e6dfca;	
}

/* Side nav */
.col_right .sidenaviparsys .sidenaviparsys {
	padding: 0;
	padding-bottom: 50px;
}

/* Sidenav List Children */
.col_right .sidenaviparsys .listchildren div ul,
.col_right .sidenaviparsys .list_corp div ul {
    list-style:none;
    padding:0;
}

.col_right .sidenaviparsys .listchildren div li.current,
.col_right .sidenaviparsys .listchildren div li.current a,
.col_right .sidenaviparsys .listchildren div li.current a:hover,
.col_right .sidenaviparsys .list_corp div li.current,
.col_right .sidenaviparsys .list_corp div li.current a,
.col_right .sidenaviparsys .list_corp div li.current a:hover  {
	text-decoration: none;
	cursor: default;
	color: #555;
	background: none;
	border: none;
	font-weight: normal;
}

.col_right .sidenaviparsys .text {
	margin-top: 15px;
	padding-right: 10px;
}


.col_right .sidenaviparsys ul.teaser {
	list-style-type: none;
	padding: 0;
	margin: 15px;
}

.col_right .sidenaviparsys ul.teaser li {
	list-style-type: none;
	padding: 0;
	margin: 0 0 1em 0;
}

.current .teaser-title {
	font-weight: bold;
}


/* Content Body */
.col_main .text, 
.col_main .textimage {

}

/* Horizontal Nav */
#nav_top li a:link,
#nav_top li a:visited {
    color: #FFFFFF;
    display: block;
    font-size: 1.1em;
    font-weight: normal;
    height: 100%;
    padding: 0 15px;
    text-decoration: none;
}

/* Banner */


.banner_corp{
	height: 156px;
	width: 983px;
	overflow: hidden;
	border-radius: 10px;
	/*background: url(/paclife_corp/crp/images/bg_banner.png) left top no-repeat;*/
	background-color: #336699;
}

.banner_image{ 
	height: 156px;
	widows: 983px;
	background-repeat: no-repeat;
	background-position: right top;
}


.banner_text {
	color: #fff;
	margin: 0 0 0 30px;
	padding-top: 25px;
	width: 550px;
	font-size: 14px;
}

.banner_text h1,
.banner_text h2,
.banner_text h3,
.banner_text h4,
.banner_text h5,
.banner_text h6 {
	color: #fff;
	font-size: 24px;
}

.banner_text a {
	color: #ecdda7;
}

/* HR */
hr {
    background-color: #C3E0F2;
    border: 0 none;
    clear: both;
    color: #C3E0F2;
    height: 1px;
    margin: 0 0 10px;
}


/* Footer */
ul#nav_footer {
    
}