@charset "utf-8";
/* CSS Document *

/*(/)================(/)*/
/*   Navigation Styles  */
/*     ------------     */
/*   Last Modified On   */
/*     OCT 27, 2010     */
/*(/)================(/)*/

/*** from corpbase.css to fix chrome css load issue ***/

html { font-size: 62.5%; } 
body { font-size: 12px; } /* =12px */

body {
    line-height: 1;
}


/******************/

#header .nav > ul {
	position:relative;
}
#header .nav li {
	float:left;
}
#header .nav li li {
	float:none;
}
#header .nav .topNavItem {
	height:48px;
}

/*** Search (top nav) error message ***/

#toperr {
    font-size: 10px;
    text-align: left;
    float: left;
    padding: 0;
    margin: 0 0 0 10px;
    line-height: 12px;
}


/* === Dropdown navigation in header === */
	#header .nav .topNavItem div {
		height:41px;
		margin:0;
		padding:13px 15px 0;
		position:relative;
	}
	.nav .topNavItem div a {
		color:#01527C;
		display:block;
		float:left;
		font-family: 'HelveticaNeueLTStd77BoldConde', "Arial Narrow", Helvetica, Impact;
		/*font-size:1.5em;*/
		font-size: 1.25em;
		margin:3px 0 4px;
		text-decoration:none;
		white-space:nowrap;
		/*font-weight: bold;*/
	}
	
	.nav .topNavItem div span {
		background:url(../images/templates/subnav_btn.png)/*tpa=http://www.pacificlife.com/corp/images/templates/subnav_btn.png*/ 0 0 no-repeat;
		float:right;
		height:19px;
		margin-left:7px;
		width:19px;
	}
	.nav .topNavItem div p {
		font-size: .9em;
		margin:0 8px 0 0;
		clear:left;
	}
	.nav .topNavItem ul.subNav {
		position:absolute;
		top:-9999px;
		/*width:auto;*/
		/*width: 450px;*/
		width: 380px;
		z-index:5;
	}
	
	/* from Life */
	/*
	.subHeader {
	    font-size: medium;
	    font-weight: bold;
	    text-decoration: none;
	}
	*/
	
	#header .nav .topNavItem:hover div,
	#header .nav li.jqHover div {
		background-color:#fff;
	  -moz-border-radius-topleft:10px;
	  -moz-border-radius-topright:10px;
	  -webkit-border-top-left-radius:10px;
	  -webkit-border-top-right-radius:10px;
		border-top-left-radius:10px;
		border-top-right-radius:10px;
		border:1px solid #198CBF;
		border-bottom:0;
		margin:0;
		/*padding:12px 14px 0;*/
		padding:10px 14px 0;
		z-index:10;
	}
	.nav li.topNavItem:hover div span,
	.nav li.jqHover div span {
		background-image:url(../images/templates/subNav_btn_hover.png)/*tpa=http://www.pacificlife.com/corp/images/templates/subNav_btn_hover.png*/;
	}
	.nav li.topNavItem:hover ul.subNav,
	.nav li.jqHover ul.subNav {
		background:#fff url(../images/templates/subNav_bg.gif)/*tpa=http://www.pacificlife.com/corp/images/templates/subNav_bg.gif*/ repeat-x bottom;
	  -moz-border-radius:10px;
	  -moz-border-radius-topleft:0;
	  -webkit-border-radius:10px;
	  -webkit-border-top-left-radius:0;
		border-radius:10px;
		border-top-left-radius:0;                                                                                                                                                                                                                                                                                                                                       
		-moz-box-shadow:3px 3px 5px #333;
		-webkit-box-shadow:3px 3px 4px #555;
		box-shadow:3px 3px 2px #555;
		left:auto;
		top:53px;
	}
	
	/*
	.nav li#about_nav {
	  position:relative;
	}
	*/
	.nav li#about_nav:hover ul.subNav,
	.nav li#about_nav.jqHover ul.subNav {
	  -moz-border-radius:10px;
	  -webkit-border-radius:10px;
		border-radius:10px;
		-moz-border-radius-topright:0;
		-webkit-border-top-right-radius:0;
		-moz-box-shadow:-3px 3px 5px #333;
		-webkit-box-shadow:-3px 3px 4px #555;
		box-shadow:-3px 3px 4px #555;
		left:auto;
		right:0;
		/*width:440px;*/
	}
	.topNavItem ul.subNav {		
		border:1px solid #198CBF;
	}
	.topNavItem ul.subNav li ul {
		display:block;
		float:left;
		padding:14px 0 18px;
	}
	.topNavItem ul.subNav li ul li {
		/*font-size:1.2em;*/
		font-weight:bold;
		/*line-height:1.5em;*/
		line-height:1.8em;
		clear:left;
		/*margin-bottom: 8px;*/
	}
	.topNavItem ul.subNav li ul li a {
	  text-decoration:none;
	  /*clear: left;*/
	}
	.topNavItem ul.subNav li ul li a:hover {
		color:#000;
		text-decoration:underline;
	}
		
	.topNavItem ul.subNav li ul.subNavCol1,
	.topNavItem ul.subNav li ul.subNavCol2 {
		padding-left:15px;
		width:165px;
		/*padding-left:19px;
		width:200px;*/
	}
	
	.topNavItem ul.subNav li ul.subNavCol1 li,
	.topNavItem ul.subNav li ul.subNavCol2 li {
		display: block;
	}
	
	.topNavItem ul.subNav li ul.subNavCol1 li a,
	.topNavItem ul.subNav li ul.subNavCol2 li a {
		display: block;
		/*color: #333;*/
		color:#01527C;
	}
	
	.topNavItem ul.subNav li ul.subNavCol1 li ul,
	.topNavItem ul.subNav li ul.subNavCol2 li ul{
		margin: 0;
		padding: 0;
		font-weight: normal;
		margin-left: 10px;
		margin-bottom: 20px;
		width: 100%;
	}

	.topNavItem ul.subNav li ul.subNavCol1 li ul li,
	.topNavItem ul.subNav li ul.subNavCol2 li ul li{
		margin: 0;
		padding: 0;
		font-weight: normal;
		/*font-size: 12px;*/
		line-height: 20px;
	}
	
	.topNavItem ul.subNav li ul.subNavCol1 li ul li a,
	.topNavItem ul.subNav li ul.subNavCol2 li ul li a{
	 	color:#01527C;
		font-weight: bold;
	}
	

/* ========= IE6 Compensation ========= */
* html #header {
}
* html #header #logo {
	display:inline;
}
* html #header div.nav {
	display:inline;
}

	* html .nav .topNavItem {
		display:inline;
	}
	* html .nav .topNavItem div {
		display:inline;
		position:relative;
		zoom:1;
	}
	* html .nav .topNavItem div a {
		float:none;
		padding-right:27px;
		position:relative;
	}
	* html .nav .topNavItem div span {
		display:block;
		float:none;
		position:absolute;
		right:15px;
		top:11px;
	}
	* html .nav .topNavItem div p {
		position:relative;
	}

	* html .nav li.jqHover {
		position:relative;
	}
	* html .nav li.jqHover div span {
		right:14px;
		top:10px;
	}
	* html .nav li.jqHover ul.subNav {
		left:0;
	}	
	* html #header .nav li#about_nav.jqHover {
		position:static;
	}	
	* html #header .nav li#about_nav.jqHover ul.subNav {
		left:auto;
		width:440px;
	}
	* html .nav li.jqHover ul.subNav ul li {
		list-style:none;
		float:none;
	}
	
	* html #header .nav li.utility {
		width:195px;
	}
	
	
/* ========= /End IE6 Comp. =========== */


/* ========= IE7 Compensation ========= */

	* + html .nav .topNavItem div {
		display:block;
		margin:1px 1px 0;
		padding:12px 14px 0;
		position:relative;
	}
	* + html .nav .topNavItem div a {
		float:none;
		padding-right:27px;
		position:relative;
		font-family: 'HelveticaNeueLTStd77BoldConde', "Arial Narrow", Helvetica, Impact;
		font-size:1.5em;
	}
	* + html .nav .topNavItem div span {
		display:block;
		float:none;
		position:absolute;
		right:15px;
		top:11px;
	}
	* + html .nav .topNavItem div p {
		position:relative;
		top: -50px;
	}
	* + html .nav .topNavItem:hover ul.subNav ul li {
		list-style:none;
		float:none !important;

		
	}
		/*height:15px;*/
	}
	
/* ========= /End IE7 Comp. =========== */


/* =========== Utility Nav ============ */	
#header li.utility {
	padding-left:12px;
	width:auto;
	float: right;
}

/* crop adjustment */
#crp #header li.utility {
    float: right;
    padding-left: 0;
	text-align: right;
    width: 190px;
}

#header li.utility form#form_search {
  line-height:30px;
}

#header li.utility form#form_search div.required {
	display: inline;
}

#header li.utility form#form_search input {
  vertical-align:middle;
}

#header li.utility input.text {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  color:#999;
  font-size:1em;
  margin-right:7px;
  padding:4px 5px;
	width:94px;
}

#corp #header li.utility form#form_search {
	text-align: right;
}

ul#nav_ut {
  clear:none;
  margin-bottom:5px;
}

#crp ul#nav_ut {
	padding: 0;
	margin: 0;
}

ul#nav_ut li {
  display:inline;
  float:left;
  margin-left: 5px;
  border-left:1px solid #b9d4e6;
 
}

ul#nav_ut li.first {
  margin-left:0px;
  border:0px none;
}

ul#nav_ut li a:link {
	display: inline;
	text-decoration: underline;
}

ul#nav_ut li.first a:link,
ul#nav_ut li.first a:visited {
  margin-left:0px;
  text-decoration: none;
  display: inline;
  text-decoration: underline;
}

ul#nav_ut li a:link,
ul#nav_ut li a:visited {
  white-space:nowrap;
  font-size:1em;
  color:#01527C;
  margin-left:5px;
  text-decoration: none;
  text-decoration: underline;
}

ul#nav_ut li.first a:hover, ul#nav_ut li a:hover {
	text-decoration: none;
}

