@charset "utf-8";
/* CSS Document */

/* Headers & Titles */
h2 {
    color: #01527C;
    font-size: 1.6em;
    font-weight: 500;
    margin: 0 0 10px;
}
h3 {
    color: #01527C;
    font-size: 1.4em;
    font-weight: 500;
    margin: 0 0 10px;
}
h4 {
    color: #01527C;
    font-size: 1.3em;
    font-weight: 500;
    margin: 0 0 10px;
}
h5 {
    color: #01527C;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 0 10px;
}

.H2_Header {
    color:#01527C;
	font-size:1.6em;
	font-weight:500;
    margin:0 0 10px 0;
}

.H3_Header {
    color:#01527C;
	font-size:1.4em;
	font-weight:500;
	margin: 0 0 10px 0;
}

.H4_Header {
    color:#01527C;
	font-size:1.3em;
	font-weight:500;
	margin: 0 0 10px 0;
}

.H5_Header {
    color:#01527C;
	font-size:1.2em;
	font-weight:bold;
	margin: 0 0 10px 0;
}

/* Font size */

.smallText { font-size:small; }
.smallerText { font-size:smaller; }
.largeText { font-size:large; }
.largerText { font-size:larger; }
.boldText { font-weight: bold; }
.italicText { font-style: italic; }

/* Font style */


/* Font Color */

.grayText { color:#555; }
.blueText { color:#01527C; }
.redText { color:Red; }

/* Font Color & Size */

.grayLargeText { color:#555; font-size:1.1em; }
.grayLargerText { color:#555; font-size:1.3em; }
.graySmallerText { color:#555; font-size:smaller; }
.graySmallerTextFooter { color:#555; font-size:1em; }
.blueLargeText { color:#01527C; font-size:1.1em; }
.blueLargerText { color:#01527C; font-size:1.3em; }
.blueSmallerText { color:#01527C; font-size:smaller; }
.redSmallerText { color:Red; font-size:smaller; }


/* moved to corpbase.css */
/*
.text ul {
    margin: 0 0 1em;
    padding: 0;
}

.text ul li {
    line-height: 1.7em;
    list-style-image: url("/corp/images/bullet_20x20.png");
    margin-left: 1.5em;
    padding-left: 0;
}

.text ol li { margin-bottom: 1em; }
*/

.noBulletList ul li {
    line-height: 1.7em;
    list-style-image: none;
	list-style-type: none;
    margin-left: 1.5em;
    padding-left: 0;
}


.bulletList ul li {
    line-height: 1.7em;
    list-style-image: none;
	list-style-type: disc;
    margin-left: 1.5em;
    padding-left: 0;
} 

.imageLeft {
	float: left;
	margin-right: 10px;
}

.imageRight {
	float: right;
	margin-left: 10px;
}

.imageLeft p, .imageRight p {
	display: inline;
}






