/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../../../Style Library/fonts/glyphiconshalflings-regular.eot')/*tpa=http://www.viacom.com/Style Library/fonts/glyphiconshalflings-regular.eot*/;
  src: url('../../../Style Library/fonts/glyphiconshalflings-regular.eot-#iefix')/*tpa=http://www.viacom.com/Style Library/fonts/glyphiconshalflings-regular.eot?#iefix*/ format('embedded-opentype'), 
  		url('../../../Style Library/fonts/glyphiconshalflings-regular.woff')/*tpa=http://www.viacom.com/Style Library/fonts/glyphiconshalflings-regular.woff*/ format('woff'), 
  		url('../../../Style Library/fonts/glyphiconshalflings-regular.ttf')/*tpa=http://www.viacom.com/Style Library/fonts/glyphiconshalflings-regular.ttf*/ format('truetype'), 
  		url('../../../Style Library/fonts/glyphiconshalflings-regular.svg#glyphicons_halflingsregular')/*tpa=http://www.viacom.com/Style Library/fonts/glyphiconshalflings-regular.svg#glyphicons_halflingsregular*/ format('svg');
  font-weight: normal;
  font-style: normal;
}

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {margin: 0 0 60px; background: #fff; border: 4px solid #fff; position: relative; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; box-shadow: 0 1px 4px rgba(0,0,0,.2); -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2); -o-box-shadow: 0 1px 4px rgba(0,0,0,.2); zoom: 1;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}


/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a {width: 30px; height: 30px; margin: -20px 0 0; display: block; /*background: url("../../../flexslider/css/images/bg_direction_nav.png") no-repeat 0 0; */position: absolute; top: 50%; z-index: 10; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}
.flex-direction-nav .flex-next {background-position: 100% 0; right: -36px; }
.flex-direction-nav .flex-prev {left: -36px;}
.flexslider:hover .flex-next {opacity: 0.8; right: 5px;}
.flexslider:hover .flex-prev {opacity: 0.8; left: 5px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {width: 50%; position: absolute; bottom: -40px; text-align: right; right:20%; }

.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: 9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

/* FlexSlider Modifications */
.easyBox {
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 0 rgba(0,0,0,0.03);
  -moz-box-shadow: 0 2px 0 rgba(0,0,0,0.03);
  box-shadow: 0 2px 0 rgba(0,0,0,0.03);
  padding: 0px;
  margin: 5px 0 -100px 0;
  display: inline-block;
  *zoom: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
.easyBox:before,
.easyBox:after {
  display: table;
  content: "";
  line-height: 0;
}
.easyBox:after {
  clear: both;
}
.easyBox:before,
.easyBox:after {
  display: table;
  content: "";
  line-height: 0;
}
.easyBox:after {
  clear: both;
}
.easyBox.narrow {
  padding: 20px 40px 10px 40px;
}
.easyBox.narrow * {
  margin-bottom: 5px;
}
.easyBox.usual {
  padding: 20px 20px 10px 20px;
}
.easyBox.flat {
  padding: 0;
  margin: 5px 0 20px 0;
  display: block;
}
.easyBox.flat img {
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
}
.easyBox.flat .btn-link {
  border-bottom: 1px solid #e6e6e6;
  padding: 14px 9px;
  font-size: 14px;
}
.easyBox.flat .halflings {
  margin: 11px 9px;
}
.easyBox.flat .halflings.half {
  width: 50%;
  margin: 0;
  padding: 13px 5px;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-left: 1px solid transparent;
  border-right: 1px solid #e6e6e6;
}
.easyBox.flat .halflings.half + .halflings {
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid transparent;
  margin-left: -1px;
}
.easyBox ul.socialIcons {
  margin: 15px 5px 5px -5px;
}
.easyBox ul.socialIcons li {
  margin: 0 0 10px 12px;
}
.easyBox ul.socialIcons .glyphicons i:before {
  color: #cccccc;
  font-size: 20px;
}
.easyBox ul.socialIcons .glyphicons:hover i:before {
  color: #737373;
}


/* reset flexslider styles */
.flexslider {
  margin: 0 0 20px 0;
  background: transparent;
  border: 0;
  position: relative;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  zoom: 1;
}
.flexslider .slides img {
  width: auto;
}
/* Direction Nav */
.flex-direction-nav {
  *height: 0;
}
.flex-direction-nav a {
  width: 21px;
  height: 21px;
  margin-top: -10px;
  display: block;
  background: transparent;
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  text-indent: 0;
  font-size: 0;
  color: transparent;
  opacity: 1;
  -webkit-transition: all .3s ease;
}
.flex-direction-nav .flex-next {
  background: transparent;
  right: 0;
}
.flex-direction-nav .flex-prev {
  background: transparent;
  left: 0;
}
.flexslider:hover .flex-next {
  opacity: 1;
  right: 0;
}
.flexslider:hover .flex-prev {
  opacity: 1;
  left: 0;
}
.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover {
  opacity: 1;
}
.flex-direction-nav .flex-disabled {
  opacity: 1 !important;
  filter: alpha(opacity=100);
  cursor: default;
}
.flexslider.flexCarousel img {
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 0 rgba(0,0,0,0.03);
  -moz-box-shadow: 0 2px 0 rgba(0,0,0,0.03);
  box-shadow: 0 2px 0 rgba(0,0,0,0.03);
  padding: 0;
  margin: 0;
}
.flexslider.flexCarousel .flex-direction-nav a,
.flexslider.flexLinear .flex-direction-nav a,
.flexslider.fadeFlex .flex-direction-nav a {
  background: #ebebeb;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15), 0 2px 0 rgba(0,0,0,.03);
  -moz-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15), 0 2px 0 rgba(0,0,0,.03);
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.15), 0 2px 0 rgba(0,0,0,.03);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.flexslider.flexCarousel .flex-direction-nav .flex-next,
.flexslider.flexLinear .flex-direction-nav .flex-next,
.flexslider.fadeFlex .flex-direction-nav .flex-next {
  right: 0;
  top: -43px;
}
.flexslider.flexCarousel .flex-direction-nav .flex-next.flex-disabled,
.flexslider.flexLinear .flex-direction-nav .flex-next.flex-disabled,
.flexslider.fadeFlex .flex-direction-nav .flex-next.flex-disabled {
  background-color: #f6f6f6;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.05), 0 2px 0 rgba(0,0,0,.03);
  -moz-box-shadow: inset 0 -1px 0 rgba(0,0,0,.05), 0 2px 0 rgba(0,0,0,.03);
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.05), 0 2px 0 rgba(0,0,0,.03);
}
.flexslider.flexCarousel .flex-direction-nav .flex-next.flex-disabled:after,
.flexslider.flexLinear .flex-direction-nav .flex-next.flex-disabled:after,
.flexslider.fadeFlex .flex-direction-nav .flex-next.flex-disabled:after {
  color: #c7c7c7;
}
.flexslider.flexCarousel .flex-direction-nav .flex-next:after,
.flexslider.flexLinear .flex-direction-nav .flex-next:after,
.flexslider.fadeFlex .flex-direction-nav .flex-next:after {
  color: #737373;
  font: 10px/1em 'Glyphicons Halflings';
  content: "\e080";
  position: absolute;
  left: 5px;
  top: 5px;
}
.flexslider.flexCarousel .flex-direction-nav .flex-prev,
.flexslider.flexLinear .flex-direction-nav .flex-prev,
.flexslider.fadeFlex .flex-direction-nav .flex-prev {
  left: auto;
  right: 26px;
  top: -43px;
}
.flexslider.flexCarousel .flex-direction-nav .flex-prev.flex-disabled,
.flexslider.flexLinear .flex-direction-nav .flex-prev.flex-disabled,
.flexslider.fadeFlex .flex-direction-nav .flex-prev.flex-disabled {
  background-color: #f6f6f6;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.05), 0 2px 0 rgba(0,0,0,.03);
  -moz-box-shadow: inset 0 -1px 0 rgba(0,0,0,.05), 0 2px 0 rgba(0,0,0,.03);
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.05), 0 2px 0 rgba(0,0,0,.03);
}
.flexslider.flexCarousel .flex-direction-nav .flex-prev.flex-disabled:after,
.flexslider.flexLinear .flex-direction-nav .flex-prev.flex-disabled:after,
.flexslider.fadeFlex .flex-direction-nav .flex-prev.flex-disabled:after {
  color: #c7c7c7;
}
.flexslider.flexCarousel .flex-direction-nav .flex-prev:after,
.flexslider.flexLinear .flex-direction-nav .flex-prev:after,
.flexslider.fadeFlex .flex-direction-nav .flex-prev:after {
  color: #737373;
  font: 10px/1em 'Glyphicons Halflings';
  content: "\e079";
  position: absolute;
  left: 6px;
  top: 5px;
}
.flexslider.flexFull .flex-direction-nav a,
.flexslider.flexContent .flex-direction-nav a {
  display: block;
  width: 45px;
  height: 45px;
  margin: -22px 0 0 0;
/*  background: #333333;*/
  background: rgb(51, 51, 51) transparent;
  background: rgba(51, 51, 51, 0.5);
  filter:alpha(opacity=50);
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-indent: 0;
  font-size: 0;
  color: transparent;
  opacity: 1;
  -webkit-transition: all .3s ease;
}
.flexslider.flexFull .flex-direction-nav a.flex-prev:hover,
.flexslider.flexFull .flex-direction-nav a.flex-next:hover,
.flexslider.flexContent .flex-direction-nav a.flex-prev:hover,
.flexslider.flexContent .flex-direction-nav a.flex-next:hover {
  background: #29bbf2;
}
.flexslider.flexFull .flex-direction-nav a.flex-prev:after,
.flexslider.flexFull .flex-direction-nav a.flex-next:after,
.flexslider.flexContent .flex-direction-nav a.flex-prev:after,
.flexslider.flexContent .flex-direction-nav a.flex-next:after {
  font: 12px/1em 'Glyphicons Halflings';
  left: 16px;
  top: 16px;
  font-style: normal;
  position: absolute;
  display: inline-block;
  color: #fff;
}
.flexslider.flexFull .flex-direction-nav a.flex-prev:after,
.flexslider.flexContent .flex-direction-nav a.flex-prev:after {
  content: "\e079";
}
.flexslider.flexFull .flex-direction-nav a.flex-next:after,
.flexslider.flexContent .flex-direction-nav a.flex-next:after {
  content: "\e080";
}
.flexslider.flexFull {
  margin-top: 0px;/*previously 70px*/
}
.flexslider.flexFull .flex-control-nav {
  bottom: 50px; /*previously 70px*/

}
.flexslider.flexFull .flex-control-paging li a {
  background: #737373;
}
.flexslider.flexFull .flex-control-paging li a.flex-active,

/*hover color button*/
.flexslider.flexFull .flex-control-paging li a:hover {
  background: #2bacd8;
}
.flexslider.flexFull .pagination ul > li.prev > a {
  position: relative;
}
.flexslider.flexFull .pagination ul > li.prev > a:after {
  font: 12px/1em 'Glyphicons Halflings';
  font-size: 10px;
  left: 12px;
  top: 12px;
  content: "\e079";
  font-style: normal;
  position: absolute;
  display: inline-block;
  color: #737373;
}
.flexslider.flexFull .container {
  position: relative;
}
.flexslider.flexFull .flowContent {
  position: absolute;
  bottom: 60px;
  left: 0;
}
.flexslider.flexFull .easyBox {
  max-width: 450px; /* modified from 300px*/
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.flexslider.flexFull .easyBox * {
  color: #fff;
}
.flexslider.flexFull .container.leftUp .flowContent {
  top: 20px;
  left: 0;
  bottom: auto;
  right: auto;
}
.flexslider.flexFull .container.leftDown .flowContent {
  top: auto;
  left: 0;
  bottom: 100px;/*previously 60px*/
  right: auto;
  margin-left:10px!important;/*previously 65px*/
}

.flexslider.flexFull .container.rightDown .flowContent {
  top: auto;
  left: auto;
  bottom: 100px;/*previously 60px*/
  right: 0;
  margin-left:10px!important;/*previously 65px*/
}

.flexslider.flexFull .container {
  height: 660px;
}
.flexslider.flexFull .cont1 {
  background: transparent url("") no-repeat top center;
  background-color:#000000;
  width:100%!important;
  height: 775px;
}
/* video in slider, remove border */
iframe {
  border: 0;
}


.rightDown ol{
	text-align:left!important;
}
 