@font-face {
    font-family: 'gotham-bold';
    src: url('../../../Style Library/fonts/gothmbol-webfont.eot')/*tpa=http://www.viacom.com/Style Library/fonts/gothmbol-webfont.eot*/;
    src: url('../../../Style Library/fonts/gothmbol-webfont.eot-#iefix')/*tpa=http://www.viacom.com/Style Library/fonts/gothmbol-webfont.eot?#iefix*/ format('embedded-opentype'),
         url('../../../Style Library/fonts/gothmbol-webfont.woff')/*tpa=http://www.viacom.com/Style Library/fonts/gothmbol-webfont.woff*/ format('woff'),
         url('../../../Style Library/fonts/gothmbol-webfont.ttf')/*tpa=http://www.viacom.com/Style Library/fonts/gothmbol-webfont.ttf*/ format('truetype'),
         url('../../../Style Library/fonts/gothmbol-webfont.svg#gotham-boldgotham-bold')/*tpa=http://www.viacom.com/Style Library/fonts/gothmbol-webfont.svg#gotham-boldgotham-bold*/ format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'interstateregular';
    src: url('../../../Style Library/fonts/interreg-webfont.eot')/*tpa=http://www.viacom.com/Style Library/fonts/interreg-webfont.eot*/;
    src: url('../../../Style Library/fonts/interreg-webfont.eot-#iefix')/*tpa=http://www.viacom.com/Style Library/fonts/interreg-webfont.eot?#iefix*/ format('embedded-opentype'),
         url('../../../Style Library/fonts/interreg-webfont.woff')/*tpa=http://www.viacom.com/Style Library/fonts/interreg-webfont.woff*/ format('woff'),
         url('../../../Style Library/fonts/interreg-webfont.ttf')/*tpa=http://www.viacom.com/Style Library/fonts/interreg-webfont.ttf*/ format('truetype'),
         url('../../../Style Library/fonts/interreg-webfont.svg#interstateregular')/*tpa=http://www.viacom.com/Style Library/fonts/interreg-webfont.svg#interstateregular*/ format('svg');
    font-weight: normal;
    font-style: normal;

}

#s4-bodyContainer{height:100%;}

a#TopNavAdmin.TopNavAdmin{color:#FFF;}
#contingency_warn{position:relative;width:100%;font-size:12px;color:#333;background-color:#F5F5F5;padding:10px 0px; text-align:center; border:1px solid #F5F5F5;margin:0 auto 0px; color:#000;}
#browser_warn{position:relative;width:100%;font-size:12px;color:#333;background-color:#F5F5F5;padding:10px 0px; text-align:center; border:1px solid #F5F5F5;margin:0 auto 0px; color:#000;}
/*#zz1_TopNavigationMenu{margin-left:120px!important;}*/

#searchInputBox{margin-top: -57px;}
.ms-srch-sb > input{width:97px; margin:0px; padding:0px; height:16px;}
.DefaultContentBlock{background:rgb(0, 114, 198); color:white; width:100%; padding:8px; height:64px; overflow:hidden;}
.ms-core-listMenu-horizontalBox .ms-core-listMenu-selected:link, .ms-core-listMenu-horizontalBox .ms-core-listMenu-selected:visited, .ms-core-listMenu-horizontalBox .ms-core-listMenu-selected, .ms-tv-selected:link{
	color:#2CACD9;
}

.ms-srch-sb-borderFocused, .ms-srch-sb-border,.ms-srch-sb-border:hover, textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus{border-color:#1B1B1B;}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{margin-bottom:0px;}

.featuredShow:hover{
	font-weight:bold;
	opacity: .9; /* standard: ff gt 1.5, opera, safari */
	-ms-filter: "alpha(opacity=90)"; /* ie 8 */
	filter: alpha(opacity=90); /* ie lt 7 */
	-khtml-opacity: .90; /* safari 1.x */
	-moz-opacity: .90; /* ff lt 1.5, netscape */	
}

.logo{
	margin-left:60px;
}

#ContentPlaceHolderMain{ /*targets IE 7, 8 browsers*/
	margin-top : 70px;
}
/*#ContentPlaceHolderMain:not(#via){  for all other browsers 
	margin-top:70px;
}
*/
#ms-help{
	display:none;
}
.ms-siteactions-root > span > a.ms-core-menu-root{
	width:40px;
}
.page-header {
  background-color: #2cacd9;
  color: white;
  margin: 0px 0 auto auto;/*previously 70px 0 auto auto*/
height: 110px;
  padding-top:30px;
}
.page-header .container {
  padding-top: 80px;
}

.page-header2 {
  background-color: #2cacd9;
  color: white;
  margin: 0 0 auto auto;
  padding-bottom: 40px;
}


.page-header2 .container2 {
  padding-top: 10px;
  min-height: 350px;
  margin-left:auto;
  margin-right:auto;
  
}
.navbar-fixed-top{
	width:100% !important;
	/*left:-15px;*/
}
.navbar-inner{
  background-color: #1a1a1a;
  border: none;
  background-image: none;
  min-height:70px;
  height:70px;
}
#WebPartWPQ2{overflow:hidden!important;}
.navbar-inner .container {/*width:975px;*/ position: relative; /*top:25px; */}
.navbar .nav ul li { list-style-type: none; display: inline; padding:0px 24px 0px 0px;}
#DeltaTopNavigation li:last-child{padding-right:0px;}
.ms-core-listMenu-item:visited, .ms-core-listMenu-item:link {
  font: 14px 'interstateregular', Helvetica, sans-serif;
  color: #FFF;
  float: none;
  text-decoration: none;
}
/*#DeltaTopNavigation ul.static{vertical-align:-5px;}*/
a.ms-core-listMenu-item:hover,a .ms-core-listMenu-item:focus {color: #7e7e7e !important;text-decoration: none;}

.ms-core-listMenu-horizontalBox li.static > .ms-core-listMenu-item{margin-right:0px;}
/*.navbar .nav ul li:nth-child(6) a, .navbar .nav ul li:nth-child(7) a, */
li a.external{color:#7e7e7e !important;}  
li a.external:focus, li a.external:hover{color:#FFF !important;}

.ViacomLogo{padding-right:50px; margin-left:-10px;}
.ViacomLogo img{margin-top: 25px; margin-left: 20px;}

.hideText {
  text-indent: -999em;
  letter-spacing: -999em;
  overflow: hidden;
}

.hide {
  display: none;
}
#allrights{
	float:right;
	text-align:right;
}
.sharing li {
  line-height: 50px;
  vertical-align: middle;
}
.sharing .facebook a {
  background: url('../img/social-sprite.jpg')/*tpa=http://www.viacom.com/_catalogs/masterpage/img/social-sprite.jpg*/ no-repeat;
  background-position: -184px 0px;
  text-indent: -999em;
  letter-spacing: -999em;
  overflow: hidden;
  width: 36px;
  height: 36px;
  display: block;
}
.sharing .twitter a {
  background: url('../img/social-sprite.jpg')/*tpa=http://www.viacom.com/_catalogs/masterpage/img/social-sprite.jpg*/ no-repeat;
  background-position: -184px -36px;
  text-indent: -999em;
  letter-spacing: -999em;
  overflow: hidden;
  width: 36px;
  height: 36px;
  display: block;
}
#FooterPublishingControls{background-color:#F5F5F5;}
#FooterPublishingControls .ms-signInLink{color:#F5F5F5;}
#FooterPublishingControls .ms-signInLink:hover {color:#7E7E7E;}
.footerseparator {
  line-height: 5px;
  min-height: 5px;
  background-color: #1a1a1a;
}
#footer, #footer .row, #footer .container{
	height:85px;
}

#footer .container{margin-top:15px;}

#footer small, #footer a, #footer a.active, #footer a.visited {
font: 12px 'interstateregular', Helvetica, sans-serif;
}

#footer a, #footer a.active, #footer a.visited {
color: #7e7e7e; text-decoration:none;
}

#footer small {
color: #8c8c8c;
}

#footer li{color:#bababa; vertical-align:20px;}
.arrow_box {
	position: relative;
	background: #2babd8;
	border: 4px solid #2babd8;
	/*margin-top:-20px;*/
	margin-top:0px;

}
.arrow_box:after, .arrow_box:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;

}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #2babd8;
	border-width: 30px;
	left: 50%;
	margin-left: -30px;

}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: #2babd8;
	border-width: 36px;
	left: 50%;
	margin-left: -36px;

}

/* contact us start */ 
.column-130{ width:130px; float:left; }
.column-265{ width:265px; float:left; }
.column-300{ width:300px; float:left; }
.column-500{ width:500px; float:left; }
input{width:235px;}
#ctl00_ctl34_g_98acc735_ff53_40b2_85b0_9836cfbaa446_ff3_1_ctl00_Lookup, #ctl00_ctl34_g_98acc735_ff53_40b2_85b0_9836cfbaa446_ff4_1_ctl00_Lookup{
width:250px;
}
#ctl00_ctl34_g_98acc735_ff53_40b2_85b0_9836cfbaa446_ff5_1_ctl00_ctl00_TextField, textarea{width:500px;}
/* contact us end */ 

/* brand start */
span.BrandTitle{display: inline-block; margin: 25% 0px; font: 13px 'interstateregular', Helvetica, sans-serif; font-weight:bold; color:#2badd8;}
#hrBrandGallery hr{width:100%; background-color:#bababa;height:1px;border:0px;text-align:center; margin-left:0px;}/*previously 140px;*/
/* brand end */

/*inspiration start*/
.arrow_e {
	position: relative;
	background: #5cffa8;
}
.arrow_e:after {
	left: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #5cffa8;
	border-width: 20px;
	top: 50%;
	margin-top: -20px;
}

/*inspiration end*/

/*brands start*/
.ms-rteStyle-BrandGroupHeading{font: 13px 'gotham-bold', Helvetica Bold, sans-serif; text-transform:uppercase; color:#292929; font-weight:bold;}
.ms-rteStyle-BrandGroupSummary{font: 13px 'interstateregular', Helvetica, sans-serif;}
a.ms-rteStyle-BrandGroupSummary:link, a.ms-rteStyle-BrandGroupSummary:visited, a.ms-rteStyle-BrandGroupSummary:active{color:#2badd8; text-decoration:underline; font-weight:bold;}
/*brands end*/

/*about*/
.ms-rteStyle-15InterstateRegular{font: 15px 'interstateregular', Helvetica, sans-serif; color:#666666; font-weight:normal;}
.ms-rteStyle-TopRightBold{font: 14px 'interstateregular-bold', Helvetica Bold, sans-serif; color:#0d4f65; font-weight:bold;}
.ms-rteStyle-TopRightRegular{font: 14px 'interstateregular', Helvetica, sans-serif; color:#0d4f65; font-weight:normal;}
.ms-rteStyle-TopLeft{font: 16px 'interstateregular', Helvetica, sans-serif;}
.ms-rtestate-field-AboutMiddle,.ms-rtestate-field-AboutLeftTitle,.ms-rtestate-field-AboutRollupTitle,.ms-rtestate-field-AboutGlobal{font: 15px 'gotham-bold', Helvetica Bold, sans-serif; color:#333333; font-weight:bold;}
/*.ms-rtestate-field-AboutRollupTitle{margin-left:10px;}*/
.description{font: 13px 'interstateregular-bold', Helvetica Bold, sans-serif; color:#666666; font-weight:bold;}
 .item, .link-item,.ms-rtestate-field-globallink{font: 13px 'interstateregular-bold', Helvetica Bold, sans-serif; color:#2badd8!important; font-weight:bold;}
.ms-rtestate-field-ViacomHistory, .ms-rtestate-field-AboutGDescription{font: 15px 'interstateregular', Helvetica, sans-serif;color:#666666;font-weight:normal!important;}
strong{font: 15px 'interstateregular-bold', Helvetica Bold, sans-serif; color:#666666; font-weight:bold;}


/*career*/
.column-340{ width:200px; float:left; margin-right:20px; /*margin-left:80px;padding-right: 10px;*/padding-right:90px; }
/*.column-220{ width:250px; float:left; margin-right:20px; margin-left:80px;padding-right: 60px; }*/
/*.columns-container {width:940px;float:left;}*/
.columns-containerCareer {width:940px;float:left;/*margin-left: 120px;*/}


/*news*/

.rightnewstitle{font: 15px 'gotham-bold', Helvetica Bold, sans-serif; text-transform:uppercase; color:#292929; font-weight:bold;}
.newstext{font: 15px 'interstateregular', Helvetica, sans-serif; color:#666666; font-weight:normal;}
.aboutbody{
	width:500px;
	margin-left:0px; /*previously 110px*/
	margin-top:0px;
}



div.imagefield{
	width:288px!important;
	height:154px!important;
}
.column-460{
margin-right:20px;
float:left;
margin-left: 10px;

}

.column-global{
width:60%;
margin-left:120px;
float:left;
margin-top: -25px;
}
/*.column-document{

width:20%;

float:left;
margin-left: 120px;

}*/
.column-220{

width:250px;
margin-right:20px;
float:left;
/*margin-left:30px!important;*/
/*margin-left:-2px!important;*/
margin-top:30px!important;
}

a.fontsenior,.fontsenior{
color:#2babd8!important;
font-weight:bold!important;
font: 13px 'interstateregular-bold', Helvetica Bold, sans-serif;
text-decoration: none
}
.biojobdescriptionregular{
color:#666666!important;
font-weight:normal!important;
font: 13px 'interstateregular', Helvetica, sans-serif;
line-height:18px;
width:280px;
/*height:130px;*/
}

.biofontsenior{
color:#2babd8!important;
font-weight:bold!important;
font: 19px 'interstateregular-bold', Helvetica Bold, sans-serif;
margin-top:10px!important
}

.biojobtitle{
color:#666666!important;
font-weight:bold!important;
font: 13px 'interstateregular-bold', Helvetica Bold, sans-serif; 


}

.biojobdescription{
color:#666666!important;
font-weight:normal!important;
font: 13px 'interstateregular-bold', Helvetica Bold, sans-serif; 


}

.careerdescription{
color:#666666!important;
font-weight:normal!important;
font: 15px 'interstateregular', Helvetica, sans-serif;
line-height:18px;

}



.aboutleft{width:500px;	margin-left:-30px; 	margin-top:0px;}

a.fontexplore{margin-left: -1px;text-decoration: none;}
a.fontviewall,.shortstyle{margin-left:10px;text-decoration: none}
.explorershort{margin-left:1px;}
a.viewall{margin-left: -32px;}
a.explore{margin-left:-62px;}
hr.style {height: 12px; border: 0;box-shadow: inset 0 12px 12px -12px rgba(0,0,0,0.5);width:85%!important;}
hr.shortstyle {height: 12px;border: 0;width:15%!important;float:left!important;}
.column-global{width:50%;/*margin-left: -4px;*/margin-left:15px;float:left;margin-top: -25px;}
.column-document{width:40%;margin-top: -30px;float:left;margin-left: 50px;}
.columns-container{width:100%!important;text-align:left;margin-top:50px;margin-left:170px;}
h5.about{margin-bottom: 10px;}
.columns-c{width:1200px;float:left;margin-left: 200px;}
.column-900{ width:900px; margin-right:20px;/*margin-left: 150px;*/margin-top: -10px; }
.column-520{ width:520px; float:left; margin-right:20px; }
.column-460{ width:360px; float:left; margin-right:20px;margin-top: 40px; }
.column-240{ width:270px;  margin-right:20px; }
.column-160{ width:160px; float:left; margin-right:20px; }	
.column-125{width:125px;}
.column-150{width:150px;}
.acimage{width:288px!important;height:154px!important;}
.columns-containerSenior {width:1200px;margin-left: 200px;}
.columns-containerHistory {width:1000px;float:left;margin-left: 65px;}
#leftContent, #rightContent{width:420px;}
#rightContent{margin-left: 545px; margin-top: -200px!important; margin-bottom: 0px;}
/*h1.headertitle{	margin-left:150px!important;font-size:38.5px;font-weight:bold;line-height:40px;margin-top:-20px!important;}/*margin-left:145px*/

h1.headertitle{	/*margin-left:150px!important;*/margin-left:0px;/*previously 150px*/font: 48px 'gotham-bold', Helvetica Bold, sans-serif;font-weight:bold;line-height:40px;/*margin-top:-20px!important;*/}

.brandfooter{color:#bababa;}
.pagecontent{
	width:100%;margin-left:10px;margin-top:10px!important;
}
.productBox1,.highlighted{
	background-color:#d7d7d7;
}


/*history timeline*/

h1.year {
	text-align: left;
	color: #000000;
	margin-bottom: 5px;
	font:30px 'gotham-bold', Helvetica Bold, sans-serif; text-transform:uppercase; color:#333333; font-weight:bold;}
		}
	
	
	a.history {
	color: #bababa;
	text-decoration: none;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}
	a.history:hover{

	color: #bababa;
	text-decoration: none
	}
	a.selected {
		color: #2badd8;
		text-decoration: none
	}
	
	.sociales {
	text-align: center;
	margin-bottom: 20px;
}

#timeline {
		width: 1000px;
		/*height: 600px;
		overflow: hidden;*/
		margin: 0px auto;
		position: relative;
		background: url('Unknown_83_filename')/*tpa=http://www.viacom.com/_catalogs/masterpage/images/dot.gif*/ 3px top repeat-y;
	}
		#dates {
            width: 400px;
            float: right;
            background: #e4e4e4;
            border-left: 20px solid #000000;
            
            /*height: 600px;
			overflow: hidden;*/
		}
		
		#dates ul{
	
	margin-left:0px!important;
	margin-bottom:0px!important;
}

			#dates li {
				list-style: none;
				width: 100px;
				height: 0px;
				line-height: 0px;
				font-size: 19px;
				padding-left: 10px;
				/*margin-top:50px;*/
				margin-top:30px;

			
			}
				#dates a {
					line-height: 0px;
					padding-bottom: 10px;
				}
				#dates .selected {
			        font-size: 19px;
				}

                .arrow_history {
                    position: relative;
                    background: #ffffff;
                    /*new*/
                    margin-left: -23px; 
                    
                }
                .arrow_history:after {
                    left: -30%;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                }

.arrow_history:after {border-color: rgba(213, 166, 205, 0);border-left-color: #ffffff; border-width: 20px;top: 50%; margin-top: -20px;}
#issues li {width: 800px;height: 25px;list-style: none;}
#issues li.selected img {-webkit-transform: scale(1.1,1.1);-moz-transform: scale(1.1,1.1);-o-transform: scale(1.1,1.1); -ms-transform: scale(1.1,1.1);  transform: scale(1.1,1.1);}
#issues li img {float: left;margin: 10px 30px 10px 50px;-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE 8 */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);zoom: 1;}
#issues li h1 {color: #000000;font-size: 30px;text-align: left;margin-left: -40px;}
#issues li p {font-size: 14px;margin: 10px 20px;font-weight: normal;line-height: 22px;}
#grad_top,#grad_bottom {width: 500px;height: 80px;position: absolute;}
#grad_top {top: 0;}
#grad_bottom {bottom: 0;}
#next,
#prev {position: absolute;left: 55%;font-size: 70px;width: 38px;height: 22px;background-position: 0 -44px;background-repeat: no-repeat;text-indent: -9999px;overflow: hidden;}
#next:hover,
#prev:hover {background-position:  0 0;}
#next{	bottom: 0;background-image: url('Unknown_83_filename')/*tpa=http://www.viacom.com/_catalogs/masterpage/images/next_v.png*/;}
#prev {top: 0;background-image: url('Unknown_83_filename')/*tpa=http://www.viacom.com/_catalogs/masterpage/images/prev_v.png*/;}		
.historytext{font: 14px 'interstateregular', Helvetica, sans-serif!important;width:740px!important;color:#666666!important;/*	margin-top: 370px;margin-left: 20px;*/}
.linehistory{width:700px;}			
.block{display:block;}
td.changecolor {color: #bababa;}
td.changecolor :active {color: #2badd8!important;}
.selected {color: #2badd8;text-decoration: none	}


/*history timeline ends*/
/**intranet history timeline*/
.greenroom-year{color:#2cacd9;width:120px;float:left;padding-right:20px;float:left}
.greenroom-historycont{
	height:100%;display:block;float:right
}
.greenroom-col1 {float: left;width: 100px;height: 56px;}
.greenroom-col3 {float: none;width:300px;height: 65px;overflow: hidden;display: table-cell;}
.greenroom-container{
	display:block;padding-bottom:10px;
}
@media only screen and (max-width: 959px) and (min-width: 768px){
.container{width:1200px;}
.offset1{margin-left:0!important;}
h1.AC{margin-left:50px;}
.aboutbody{width:500px;margin-left:22px;margin-top:0px;}
.span4{margin-left:45%;}
/*.column-document{float:right;margin-top:-235px;}*/

}

@media only screen and (max-width: 767px) and (min-width: 480px){
.container{width:auto!important;}}

@media (max-width: 767px){
.container{width:auto!important;margin-bottom: 0px!important;}
body{padding-left:0px!important;}

.ms-rteStyle-TopRightRegular, #rightContent{margin-top:0px!important;}

}
@media (max-width: 979px){
.navbar-fixed-top {margin-bottom: 0px!important;}
body{padding-left:0px!important;}	
}

.blogstyles{font:16px 'interstateregular', Helvetica, sans-serif;margin-left:135px;margin-top:-90px;padding-bottom:70px;height:79px}