/*
Theme Name: Western Refining Theme
Theme URI: http://wnr.alexparker.co
Description: Custom theme built from a design provided by Western Refining.
Version: 1.0
Author: Alex Parker
Author URI: http://alexparker.co
*/

/* Resets */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: top; /*Modified was baseline*/
}
:focus
{
	outline: 0;
}
body
{
    font: 14px/1.5 Helvetica, Arial, sans-serif;
}

/*************************************************************************************************************************
	VARAY CREATED - Start
**************************************************************************************************************************/

/***********************************
	Modified defaults layout
************************************/
table { vertical-align: top; margin: 0px; border: 0px; width: 100%; padding: 0px; border-spacing: 0px; border-collapse: collapse; }
table tr td { padding: 2px 3px 2px 3px; vertical-align: top; border-collapse: collapse; border-spacing: 0px; border: none; }
table tr th, table tr.header td { color: #333; font-weight: bold; background-color: #E7E8EA; text-align: left; padding: 2px 3px 2px 3px; vertical-align: top; border-collapse: collapse; border-spacing: 0px; border: solid 1px #000; border-width: 1px 0px 1px 0px; }

input, select, textarea { background-color: #FBFBFB; border: solid 1px #AFAFAF; color: #000000; }
input.textbox, select.textbox { width: 300px; }
input.spacing, select.spacing { margin: 0px 0px 10px 0px; }

/***********************************
	General modified layout
************************************/
table.vertical tr th, table.vertical tr.header td { color: #000; font-weight: normal; background-color: #fff; text-align: right; width: 150px; padding: 2px 3px 2px 3px; vertical-align: top; border-collapse: collapse; border-spacing: 0px; border: solid 0px #000; }

textarea.textbox { width: 300px; height: 200px; }

div.paragraph { margin: 0px 0px 15px 0px; }

/***********************************
	Message Layout
************************************/
div.message
{
	text-indent: 5px;
}
div.message div
{
	padding: 6px 0px 10px 0px;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-position: 10px 1px;
}
div.message div.failure
{
	font-weight: bold;
	text-indent: 40px;
	background-image: url("Unknown_83_filename")/*tpa=http://www.wnr.com/Images/failure.gif*/;
}
div.message div.success
{
	font-weight: normal;
	text-indent: 40px;
	background-image: url("Unknown_83_filename")/*tpa=http://www.wnr.com/Images/success.gif*/;
}
div.message div.invalid
{
	color: red;
}
div.eventMessage
{
	font-size: 10pt;
	font-weight: normal;
}
div.eventMessage span
{
	padding: 2px;
	border: solid 1px black;
	border-bottom-width: 0px;
	color: #ffffff;
	background-color: #df0000;
}
div.eventMessage div
{
	margin: 2px 0px 0px 0px;
	padding: 2px;
	border: solid 1px black;
	color: #000000;
	background-color: #edf5f8;
}
div.eventMessage div div
{
	margin: 0px 0px 0px 15px;
	padding: 0px;
	border: solid 0px black;
}
div.eventMessage div ul
{
	list-style-type: square;
	margin: 0px 0px 0px 20px;
	padding: 0px;
}
div.eventMessage div li
{
	list-style-type: square;
	line-height: 20px;
	margin: 0px 0px 0px 10px;
	padding: 0px;
}

/*************************************************************************************************************************
	VARAY CREATED - END
**************************************************************************************************************************/

#indev
{
    position: absolute; 
    z-index:100; top: 0; left: 0;  
    white-space: nowrap;
    padding:10px 10px 0;
    color:#000; 
    text-align:center; 
    background: #fff;
    border: 1px solid #000;
    opacity: 0.25;
}
#indev:hover
{
    opacity: 1;
}
ol, ul
{
    /*list-style: square outside none;*/
    padding-left: 30px;
}
table
{
	border-collapse: separate;
	border-spacing: 0;
}
th, td
{
    padding: 4px;
}
caption, th, td
{
	/*text-align: left;*/
	font-weight: normal;
}
blockquote:before, blockquote:after, q:before, q:after
{
	content: "";
}
blockquote, q
{
	quotes: "" "";
}
acronym
{
	cursor: help;
	border-bottom: 1px dashed #333;
}
strong
{
	font-weight: bold;
}
em
{
	font-style: italic;
}
hr
{
	/*display: none;*/
}
.right
{
	float: right;
}
.left
{
	float: left;
}
.hide, .alt
{
	display: none;
}
.clear
{
	clear: both;
}
.clearfix:after
{
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix
{
	display: block;
}
html[xmlns] .clearfix
{
	display: block;
}
* html .clearfix
{
	height: 1%;
}
/* Link Styles */
a:link, a:visited
{
	color: #000;
	text-decoration: none;
}
a:hover
{
	color: #000;
	text-decoration: none;
}
a:active
{
	color: #000;
	text-decoration: none;
}
/* Headings */
h1, h2, h3, h4, h5, h6
{
    margin: 0 0 10px;
}
h1
{
}
h2
{
    font-size: 16px;    
}
h3
{
}
h4
{
}
h5
{
}
h6
{
}
p
{
    margin: 10px 0;
}
#head_bar 
{
	background: #717275;
	height: 60px;
/*width: 100%;*/
}

ul#crest_links
{
/* width: 1030px; */
}
ul#crest_links li
{
    float: right;
    margin: 0 8px;
    line-height: 25px;
    list-style: none;
    font-weight: bold;
    font-style: italic;
    font-size: 90%;
}
ul#crest_links li a 
{
	color:#e8e8e9;
}
ul#crest_links li a:hover 
{
	color:#fefefe;
}
#head_links ul
{
/* border:1px solid red; */
	position: relative; 
/* margin: auto; */ 
	margin: auto;
	bottom:10px;
	list-style: none;
	padding-left: 0;
}
#head_links ul li
{
	position: relative; 
	float:left;
	margin: 5px 10px;
}
#head_links a
{
	color: #e8e8e9;
}
#head_links a:hover
{
	color: #e8e8e9;
	text-decoration: underline;
}
#content_wrap
{
   	padding: 10px 0px 30px 0px;
}
#sub_page_links
{
	position: relative;
	padding: 0px 0px 30px 10px;
	font-style: italic;
}
#sub_page_links ul
{
	position: relative;
	list-style: none;
	padding-left: 0;
}
    #sub_page_links ul li
{
	position: relative;
	float: left;
	margin: 0 10px;
}
/* Sidebars =================================================================*/
    #sidebar_1
{
	float:left;
	width: 350px;
	margin: 0 12px 0;
	/*font-size: 90%;*/
}
.sb1_box
{
	    margin-bottom: 20px;
}
.sb1_box h2, h2.widgettitle
{
	    font-size: 20px;
	    color: #fefefe;
	    padding-left: 30px;/*added*/
	    font-weight:normal; /*added*/
}
.sb1_box h2 span, h2.widgettitle span
{
	    display: block;
	    height: 37px;
	    line-height: 37px;
}
	 #sidebar_2 h2
{
	    font-size: 20px;
	    margin-bottom: 10px;
}
    #sidebar_2
{
	/*float: right; */
	width: 250px; /*Modified was 236*/
	margin: 0 0 0;
	font-size: 90%;
}
.widget
{
	margin-bottom: 20px;
}
.sb_video
{
	background: url(Unknown_83_filename)/*tpa=http://www.wnr.com/%22Images/wnr_video_bg.jpg%22*/ no-repeat scroll center center transparent;
	height: 236px;
	margin: 0 auto 20px;
	width: 315px;
}
.custom_list > *
{
	display:block;
	padding-left: 40px;
	background: transparent url(../Images/custom_list_black.png)/*tpa=http://www.wnr.com/Images/custom_list_black.png*/ no-repeat left top scroll;
	line-height: 21px;
	margin: 8px 0 8px 20px;
	font-size: 14px;
}
.custom_list > *:hover
{
	background: transparent url(../Images/custom_list_yellow.png)/*tpa=http://www.wnr.com/Images/custom_list_yellow.png*/ no-repeat left top scroll;
}
.cstmlist
{
	padding-left:30px; /*was 30*/
	margin-bottom:6px;
	/*font-size: 10pt; added*/
	
}
.cstmlist > *
{
	display: list-item;
	clear: both;
	list-style: square outside;
} 
.cstmlist a
{
	text-decoration: underline;
}
.cstmlist.small{padding-left:20px;}
.cstmlist.small > *
{
	list-style-type: circle;
	font-size: 12px;
} 
.cstmlist.small a
{
	text-decoration: underline;
}
.cstmlist.plain
{
	background: none;
	font-size: 14px;
}
.cstmlist.plain > *
{
	display: list-item;
	float:left;
	clear: both;
	list-style: square outside;
} 
.cstmlist.yellow
{
	background: none;
	font-size: 14px;
	padding-left: 0;
}
.cstmlist.yellow > *
{
	display: list-item;
	float:left;
	clear: both;
	list-style: none;
}
.cstmlist.yellow a
{
	padding-left:15px;
	display: block;
	line-height: 30px;
}
.cstmlist.yellow a span
{
	display: block;
	padding-right:15px;
	line-height: 30px;
}
.cstmlist.yellow a:hover
{
	 background: transparent url(Unknown_83_filename)/*tpa=http://www.wnr.com/Images/yellow_btn_gray.png*/ no-repeat left top scroll;
} 
.cstmlist.yellow a:hover span
{
	background: transparent url(Unknown_83_filename)/*tpa=http://www.wnr.com/Images/yellow_btn_gray.png*/ no-repeat right top scroll;
} 
.expandable
{
}
.expandable > .title
{
	cursor: pointer;
	padding-left: 25px;
	padding-bottom: 5px;
	background: transparent url(../Images/custom_list_black.png)/*tpa=http://www.wnr.com/Images/custom_list_black.png*/ no-repeat left top;
}
.expandable > .content
{
	display: none;
	opacity: 0;
	margin-bottom: 10px;
}
.expandable > .content.list
{
	padding-left: 40px;
}
.expandable > .content.list > *
{
	display: list-item;
	margin: 4px 0;
	list-style: square outside;
}
.expandable > .title:hover
{
	background: transparent url(../Images/custom_list_yellow.png)/*tpa=http://www.wnr.com/Images/custom_list_yellow.png*/ no-repeat left top scroll;
}
/* END Sidebars ============================================================*/	
/* Page/Post Stuff ================================================================*/
.breadcrumbs
{
    font-size: 11px;
}	
#page
{
	float: left;
	width: 350px;
	margin: 0 10px;
}
h2.entry_title
{
	font-size: 20px;
	margin: 0 0 20px;
	padding-left: 60px;
	background: transparent url(Unknown_83_filename)/*tpa=http://www.wnr.com/%22Images/WholesaleMainBullet.png%22*/ no-repeat 0 center scroll;
}
.entry_content_noline
{
	padding: 0px 10px;
	overflow: visible;
}
.entry_content
{
	padding: 0px 10px;
	border-right: 1px solid #8a8c8e;
    /* height: 400px; */
	overflow: visible;
}
.entry_content > p:first-child
{
	margin: 0 0 10px 0;
}
.children_list
{
	padding-left: 20px;
}
.children_list > *
{
	display: block;
	float:left;
	clear:both;
	overflow: visible;
	line-height: 16px;
	margin: 3px 0 3px 0;
	padding:0px 0px 0px 15px;
}
.children_list > * > span
{
	display: block;
	line-height: 30px;
	padding: 0px 15px 0px 0px;
}
.children_list > *:hover
{
	background: transparent url(Unknown_83_filename)/*tpa=http://www.wnr.com/Images/yellow_btn_wht.png*/ no-repeat left top scroll;
}
.children_list > *:hover > span
{
	background: transparent url(Unknown_83_filename)/*tpa=http://www.wnr.com/Images/yellow_btn_wht.png*/ no-repeat right top scroll;
}
/* END Page/Post Stuff ============================================================*/	
div.btn_yellow
{
    display: block;
    padding-left: 20px;
    background: transparent url(Unknown_83_filename)/*tpa=http://www.wnr.com/Images/yellow_btn_wht.png*/ no-repeat left center;
    line-height: 30px;    
}
div.btn_yellow span
{
    display: block;
    padding-right:20px;
    background: transparent url(Unknown_83_filename)/*tpa=http://www.wnr.com/Images/yellow_btn_wht.png*/ no-repeat right center;
}
.sb1_content > ul, .sb2_content > ul
{
    padding-left: 60px;
    margin-bottom: 6px;
}
.sb1_content > ul > li, .sb2_content > ul > li
{
	display: list-item;
	clear: both;
	list-style: square outside;
}
.sb1_content a, .sb2_content a
{
	text-decoration: underline;
}


.head_menu{
	background:#000;
	width:100%;
	border:none;
	border:0px;
	margin:0px;
	padding:0px;
	font: 14px/1.5 Helvetica, Arial, sans-serif;
	font-weight:bold;
	font-style: italic;
	height: 70px;
}
.head_menu ul{
	background:#000;
	height:35px;
	list-style:none;
	margin:0;
	padding:0;
}
.head_menu li
{
	float:left;
	padding:0px;
}
.head_menu li a
{
	background:#000; 
	color:#FFFFFF;
	display:block;
	font-weight:normal;
	line-height:35px;
	margin:0px;
	padding:0px 20px;
	text-align:center;
	text-decoration:none;
}
.head_menu li a:hover, .head_menu ul li:hover a
{
	background: #FFFFFF;
	color:#000000;
	text-decoration:none;
}
.head_menu li ul
{
	/* background:#333333; */
	display:none;
	height:auto;
	padding:0px;
	margin:0px;
	border:0px;
	position:absolute;
	/* width:225px; */ 
	z-index:200;    
	/*top:1em;
	/*left:0;*/
}
.head_menu li:hover ul
{
	display:inline;
	
}
.head_menu li li 
{
	/* background:url(../Images/dropdown_bg.jpg) bottom left; */
	background-color: #E0E3EF;
	display:inline;
	float:left; 
	margin:0px;
	padding:0px;
	/* width:325px; */
}
.head_menu li:hover li a
{
	background:none;
	
}
.head_menu li ul a
{
	float: left;
	display:inline;
	line-height:25px;
	height:25px;
	font-size:14px;
	font-style:italic;
	margin:0px;
	padding:0px 10px 0px 10px;
	text-align:left;
}
.head_menu li ul a:hover, .head_menu li ul li:hover a
{
	float: left;
	display: inline;
	border:0px;
	color:#FFFFFF;
	background-color: #AFAFAF;
}
.head_menu p
{
	clear:left;
}
.head_menu_grey
{
	/* width:100%; */
	background:#000000;
	border:none;
	border:0px;
	margin:0px;
	padding:0px;
	font: 14px/1.5 Helvetica, Arial, sans-serif;
	font-weight:bold;
	font-style: italic;
	height: 70px;
}
.head_menu_grey ul
{
	background:#000000;
	height:35px;
	list-style:none;
	margin:0;
	padding:0;
}
.head_menu_grey li
{
	float:left;
	padding:0px;
}
.head_menu_grey li a
{
	background:#000000; 
	color:#FFFFFF;
	display:block;
	font-weight:normal;
	line-height:35px;
	margin:0px;
	padding:0px 25px;
	text-align:center;
	text-decoration:none;
}
.head_menu_grey li a:hover, .head_menu_grey ul li:hover a
{
	background: #FFFFFF;
	color:#000000;
	text-decoration:none;
}
.head_menu_grey li ul
{
	background:#333333;
	display:none;
	height:auto;
	padding:0px;
	margin:0px;
	border:0px;
	position:absolute;
	/* width:225px; */
	z-index:200;    
	/* top:1em; */
	/* left:0; */
}
.head_menu_grey li:hover ul
{
	display:inline;
	
}
.head_menu_grey li li 
{
	background:url(../Images/dropdown_bg.jpg)/*tpa=http://www.wnr.com/Images/dropdown_bg.jpg*/ bottom left;
	display:inline;
	float:left; 
	margin:0px;
	padding:0px;
	/* width:325px; */
}
.head_menu_grey li:hover li a
{
	background:none;
}
.head_menu_grey li ul a
{
	float: left;
	display:inline;
	line-height:25px;
	height:25px;
	font-size:14px;
	font-style:italic;
	margin:0px;
	padding:0px 10px 0px 10px;
	text-align:left;
}
.head_menu_grey li ul a:hover, .head_menu_grey li ul li:hover a
{
	float: left;
	display: inline;
	border:0px;
	color:#FFFFFF;
	text-decoration:italic;
}
.head_menu_grey p
{
	clear:left;
}
