/* ================================
    CSS STYLES FOR Module DNN.UserDefinedTable
   ================================
*/
.DNN_UDT_URLContainer
{
	border: solid 1px #888888;
	padding: 0px 10px 0px 10px;
}
body.UDT_Help
{
	background-color: #ffffea;
}
td.UDT_Help_ColHead, col.UDT_Help_RowHead, col.UDT_Help_Row, div.UDT_Help_Text
{
	font-family: Verdana;
	font-size: smaller;
}

col.UDT_Help_RowHead, td.UDT_Help_ColHead
{
	background-color: #dddddd;
}
td.UDT_Help_ColHead
{
	font-weight: bold;
}

.Separator
{
	margin-top: 14px;
}

.BelowUrlControl
{
	margin-top:-22px;
}

.tablestyle 
{
    border: solid 1px #7f7f7f;
}

.altrowstyle 
{
    background-color: #edf5ff;
}

.headerstyle th 
{
    background: url(img/sprite.png)/*tpa=http://www.buckeye.com/DesktopModules/UserDefinedTable/img/sprite.png*/ repeat-x 0px 0px;
    border-color: #989898 #cbcbcb #989898 #989898;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px medium;
    color: #000;
    padding: 4px 5px 4px 10px;
    text-align: center;
    vertical-align: bottom;
}  

.headerstyle th a
{
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    color: #000;
    display: block;
    padding-right: 10px;
}    

.rowstyle .sortaltrow, .altrowstyle .sortaltrow 
{
    background-color: #edf5ff;
}

.rowstyle .sortrow, .altrowstyle .sortrow 
{
    background-color: #dbeaff;
}

.rowstyle td, .altrowstyle td 
{
    padding: 4px 10px 4px 10px;
    border-right: solid 1px #cbcbcb;
}

.headerstyle .sortascheader 
{
    background: url(img/sprite.png)/*tpa=http://www.buckeye.com/DesktopModules/UserDefinedTable/img/sprite.png*/ repeat-x 0px -100px;
}

.headerstyle .sortascheader a 
{
    background: url(img/dt-arrow-up.png)/*tpa=http://www.buckeye.com/DesktopModules/UserDefinedTable/img/dt-arrow-up.png*/ no-repeat right 50%;
} 

.headerstyle .sortdescheader 
{
    background: url(img/sprite.png)/*tpa=http://www.buckeye.com/DesktopModules/UserDefinedTable/img/sprite.png*/ repeat-x 0px -100px;
}   

.headerstyle .sortdescheader a 
{
    background: url(img/dt-arrow-dn.png)/*tpa=http://www.buckeye.com/DesktopModules/UserDefinedTable/img/dt-arrow-dn.png*/ no-repeat right 50%;
} 

.UDT_UponSubmit
{
	margin-top :1em;
}
.UDT_Caption
{
	display:block;
}