* {
	margin: 0;
	padding: 0;
}
#multi_site {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #004b8d;
	width: 225px;
	height:30px;
	float:right;
}
#multi_site a {
	text-decoration: none;
	color: #004b8d;
}


#multi_site ul {
	list-style:none;
}
ul#top {
	width:225px;
	position:relative;
	list-style:none;
}
#top .HII {
	padding: 0 12px;
	padding-top:6px;
	padding-bottom:5px;
	background: url('../images/multi_site_bg.png')/*tpa=http://www.huntingtoningalls.com/images/multi_site_bg.png*/ no-repeat;
	height:30px;
	width:225px;
	position:relative;
	z-index:102;
}

#top .HII a:hover {text-decoration:none;}

#drop_down {
	width:210px;
	background: #f2f4f6 url(../images/drop_down_top.jpg)/*tpa=http://www.huntingtoningalls.com/images/drop_down_top.jpg*/ no-repeat center top;
	margin-top:2px;
	padding-bottom:20px;
	padding-left:15px;
	z-index:101;
	position:absolute;
	left:-9999px;
	top:25px;
}
#drop_down li{position:relative; z-index:101; }

#drop_down a:hover {text-decoration:underline !important;}

#top .HII:hover ul{
	position:absolute;
	left:0px;
}
#drop_down #viewing{
	padding-top:10px;
	padding-bottom:0;
	font-weight:bold;
}
#drop_down #viewing span{
	color:#FF0000;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
}
#drop_down .heading{
	padding-top:15px;
	padding-bottom:3px;
	color:#000000;
	font-weight:bold;
	letter-spacing:.5px;
}
#drop_down ul{
	list-style-type:none;
}
#drop_down li{
	padding:3px 0;
}
