.plan-doc ul li.viewStateDisclosures {
	padding:13px 10px 14px 5px;
	background: url("../../images/ifp-redesign/plans-checkmark.png")/*tpa=http://www.cigna.com/iwov-resources/images/ifp-redesign/plans-checkmark.png*/ no-repeat scroll 4px center #ededed;
}

.learn-cap {
	background-image: url("../../images/ifp-redesign/learn-cap.png")/*tpa=http://www.cigna.com/iwov-resources/images/ifp-redesign/learn-cap.png*/;
    display: block;
    left: -4px;
    position: relative;
}

.heart {
	background-image: url("../../images/ifp-redesign/heart.png")/*tpa=http://www.cigna.com/iwov-resources/images/ifp-redesign/heart.png*/;
    display: block;
    left: -4px;
    position: relative;
}

.dental-icon {
	background-image: url("../../images/ifp-redesign/toothbrush.png")/*tpa=http://www.cigna.com/iwov-resources/images/ifp-redesign/toothbrush.png*/;
    display: block;
    left: -4px;
    position: relative;
}

.find-rx-new {
	background-image: url("../../images/ifp-redesign/rx-new.png")/*tpa=http://www.cigna.com/iwov-resources/images/ifp-redesign/rx-new.png*/;
    display: block;
    left: -4px;
    position: relative;
}

.dropNavTitle {
	color:#fff;
	font-size:16px;
	font-family:Arial, sans-serif;
	font-weight:bold;	
}

.header nav ul li .drop-down .icon-box li {
	margin:0 7px 0 0 !important;
	min-width:140px!important;
}

.header nav ul li a {
	xpadding-top: 10px !important;
}

.header nav ul li a:hover {
	border-bottom: 0px !important;
}

.ifpIconList {
	padding-left:23px;
	text-align:left;
}

.header nav ul li .drop-down .icon-box li a {
	padding: 0 11px 0 0 !important;
}

.header nav ul li .drop-down .icon-box li {
	text-transform: uppercase;
}

.details-outer-wrapper .pricing-info li span.call-text {
	color:#004986 !important;
	font:2.3em proximaNovaBlack !important;
}

#no-results {
	display:none;
}

#ifp-supplemental-text .ifp-info {	
	min-height: 40px;
	padding-top: 0px; 
}

#ifp-supplemental-text .ifp-info h2 {	
	padding-top: 0px; 
}

#ifp-supplemental-text .ifp-info h3 {
	color: #555;
}	

@media (min-width: 320px) {
.ifpHeaderNew {
    margin: 0 auto;
    padding: 1.5%;
    width: 98%;
}

.live-chat {
	display: none;
}

.need-help-tab {
	display: none;
}
}

@media (min-width: 768px) {
.ifpHeaderNew {
    margin: 0 auto;
    padding: 1.5%;
    width: 98%;
}

.need-help-tab {
	display: block;
}

.live-chat {
	display: block;
}
}

@media screen and (min-width: 960px) {
.ifpHeaderNew {
    margin: 0 auto;
    padding: 1.5%;
    width: 97%;
}

.need-help-tab {
	display: block;
}

.live-chat {
	display: block;
}
}

@media screen and (min-width: 1120px) {
.ifpHeaderNew {
    margin: 0 auto;
    padding: 1.5%;
    width: 81%;
}

@media screen and (min-width: 1260px) {
.ifpHeaderNew {
    margin: 0 auto;
    padding: 1.5%;
    width: 80%;
}


@media screen and (min-width: 1280px) {
.ifpHeaderNew {
    margin: 0 auto;
    padding: 1.5%;
    width: 77%;
}

.need-help-tab {
	display: block;
}

.live-chat {
	display: block;
}
}
