/* Contact Main */

#contactFormWrapper{float:left;width:700px;height:auto;}
#contactFormWrapper  ul.horiList{display:block;padding:10px 0 0 8px;}
#contactFormWrapper table{font-size:13px;}
#contactFormWrapper  ul.horiList li{display:inline;list-style:none;margin:0 10px 0 0;font-size:13px;}
#contactBlock{background:#fff;float:left;width:500px;height:auto;margin:0 0 10px 0;overflow:hidden;border:none;}
#contactFormWrapper .heading{background:#ccc;clear:both;color:#333;display:block;font-weight:bold;font-size:13px;padding:2px 8px;height:20px;}
#contactFormWrapper .frmEntryTitle{margin:15px;border-bottom:1px solid #CCC;}
#contactBlock .contentBlock{background:#fff;float:left;width:465px;margin:4px 10px 6px 10px;padding:5px;border:none;overflow:hidden;}
* html #contactBlock .contentBlock{width:468px;margin:4px 12px 6px 8px;padding:5px}
#contactBlock .subcontentBlock{float:left;width:210px;margin:4px;border:none;overflow:hidden;}
* html #contactBlock .subcontentBlock{width:210px;margin:4px;}
.leftBlock{float:left;width:230px;margin-bottom:10px;}
.rightBlock{float:right;width:230px;margin-bottom:10px;}
.leftBlockShaded{float:left;background:#eee;width:235px;height:120px;border:1px solid #ccc;}
.rightBlockShaded{float:right;background:#eee;width:235px;height:120px;border:1px solid #ccc;}

#contactBlockShaded{background:#eee;float:left;width:500px;height:auto;margin:0 0 14px 0;padding:0 0 10px 0;overflow:hidden;border:1px solid #ccc;}
#contactBlockShaded .heading{background:#515151;clear:both;color:#333;display:block;font-weight:bold;font-size:13px;padding:2px 8px;height:20px;}
#contactBlockShaded .contentBlockShaded{float:left;width:475px;height:auto;margin:12px 10px 14px 10px;padding:5px 0 5px 0;border:none;overflow:hidden;}

#contactEmailBock{background:#fff;float:left;width:700px;height:auto;margin:0 0 10px 0;border:1px solid #ccc;}
.emailSectionClear{float:left;width:700px;background:#fff;margin:4px 0 6px 0;}
.emailSectionClear .emailContentClear{background:#fff;float:left;margin:4px 5px 6px 5px;padding:5px;}
* html .emailSectionClear .emailContentClear{float:left;width:475px;margin:4px 5px 6px 5px;padding:5px}


.emailSectionShaded {float:left;background:#edeced;width:700px;border-top:1px solid #ccc;border-bottom:1px solid #ccc;margin:4px 0 6px 0;}
.emailSectionShaded .emailContentShaded{float:left;margin:4px 5px 6px 5px;padding:5px;}
* html .emailSectionShaded .emailContentShaded{float:left;margin:4px 5px 6px 5px;padding:5px}
.emailContentClear label {background:none;display:block;text-align:right;width:78px;}/* ext updated */
.emailContentClear .padded-table label {padding:0px;}/* ext updated */
.emailContentClear table.padded-table td{padding:2px;}/* ext updated */

#contactEmailBock .heading{background:#ccc;clear:both;color:#333;display:block;font-weight:bold;font-size:13px;padding:2px 8px;height:20px;}

.selectionBlocks{background:none;color:#666666;display:block;width:110px;min-height:120px;height:150px;border:none;margin-top:5px;margin-left:5px;overflow:hidden; }
html > body .selectionBlocks{margin-top:5px}
.selectionBlocks .selectionBlocksHeading{background:none;color:#333;font-size:12px;font-weight:bold;text-align:left; padding:1px 0 1px 4px;border:none;overflow:hidden;}
.selectionBlocks ul{font-size:12px;padding:0px;margin:5px 0 0 0;list-style:none;}
.selectionBlocks ul li{padding:0 0 5px 0px;}
html > body .selectionBlocks ul li{padding:0 0 5px 2px;}

.contact_chatWindowWrapper{float:right;background:#fff;width:318px;height:135px;border:1px solid #ccc;}
* html .contact_chatWindowWrapper{height:140px;}
.contact_chatWindowInfo{float:left;width:100px;height:100px;margin:5px 0 4px 7px;padding:0;background:#fff url("/static/images/layout/live_chat.jpg") no-repeat;}
* html .contact_chatWindowInfo{float:left;width:100px;height:100px;margin:5px 0 4px 4px;padding:0;background:#fff url("/static/images/layout/live_chat.jpg") no-repeat;}
.contact_chatWindowContent{float:right;width:195px;height:auto;margin:4px 4px 4px 0;border:none}
.chatWindow{background:#fff;float:left;width:185px;padding:2px;margin-top:10px;border:1px solid #ccc;overflow:hidden;}
* html .chatWindow{float:left;width:180px;margin-top:10px;padding:1px}

.contact_phoneWrapper{float:left;background:#fff;width:170px;height:135px;border:1px solid #ccc;}
* html .contact_phoneWrapper{height:140px;}
.contact_phoneContent{float:left;width:150px;height:auto;margin:4px;border:none;overflow:hidden;}

.sectionLabel{display:inline;font-size:13px;font-weight:bold;}
.sectionLabel span{color:#F08020;font-size:12px;}
.sectionLabel i{font-weight:normal;font-size:12px}

.contact-field{width:120px;background:#edeced;border:1px solid #999;font-size:12px;margin:0px 0 3px 0;}/*ext update*/
td.contactInfo {width:80px;padding-left:10px;margin:6px 0 3px 0; font-weight:600;}
.contactInfo span{color:#F08020;}
.contact-field-phone{display:inline;width:25px;background:#EDECED;border:1px solid #999999;}
.contact-phone-field1{display:inline;width:25px;background:#EDECED;border:1px solid #999999;}
.contact-phone-field2{display:inline;width:25px;background:#EDECED;border:1px solid #999999;}
.contact-phone-field3{display:inline;width:30px;background:#EDECED;border:1px solid #999999;}

.userMessageField1{display:block;font-weight:500;margin:8px 0 0 10px;float:left; width:700px;}
* html .userMessageField1{margin:8px 3px 0 0;float:right; }
.userMessageField1 textarea{border:1px solid #999;}
form#frmEntry.form-grid-24-2col .control-group{width:352px;}
form#frmEntry.form-grid-24-2col .topic {margin-left:0}
#orderNoBlock-order{display:none;}
#orderNoBlock-products{display:none;}

.contact_submit{float:right;background:#fff url("/static/images/layout/button_cfSubmit.gif") no-repeat;width:78px;height:23px;margin:8px 2px 2px 0;border:none;}

.contact_chatWindowContent input[type="text"] {width:auto}

td.required{vertical-align: top}