/* custom */
.error-box-ad { background: #f8f9f9; border: 3px solid #E31837; color: #E31837; display: none; margin: 0 0 15px; padding: 15px; }
.success-box-ad { background: #f8f9f9; border: 3px solid #4d4d4d; color: #333333; display: none; margin: 0 0 15px; padding: 15px; }
.indicator { width: 100px; text-align: right; }
.rightsidebar-title {
        color: #e51d38;
        font-weight: bold;
        margin-top: 15px;      
}
.embed-responsive.embed-responsive-16by9{ margin: 0 0 16px 0; }
/* Allow for a 5 column layout */

.col-xs-5th, .col-sm-5th, .col-md-5th, .col-lg-5th {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-5th {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
    .col-sm-5th {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-5th {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-5th {
        width: 20%;
        float: left;
    }
}
/* for the stock ticker */
.red{
    color:#cc0000;
}
.green{
    color:#417f0b;
}
