.gutter-sizer {
  width: 4.5%;
}

.social-media-pull-posts {
  clear: both;
}
.social-media-pull-posts .item {
  background-color: #ffffff;
  margin-bottom: 20px;
  width: 30.333%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 0;
  font-size: 100%;
  float: left;

  -webkit-box-shadow: 0px 2px 5px 0px rgba(210, 210, 210, 1);
  -moz-box-shadow:    0px 2px 5px 0px rgba(210, 210, 210, 1);
  box-shadow:         0px 2px 5px 0px rgba(210, 210, 210, 1);

  display: inline-block;
}
.social-media-pull-posts .item .text {
  color: #222;
  font-size: 1em;
  padding: 0 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.social-media-pull-posts .item .text a {
  color: #12c2e9;
}
.social-media-pull-posts .item .external-link {
  width: 100%;
  text-align: center;
  display: inline-block;
  margin-bottom: 10px;
  padding: 0 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.social-media-pull-posts .item .external-link:hover {
  color: #12C2E9;
}
.social-media-pull-posts .item .external-link img {
  width: 100%;
}
.social-media-pull-posts .item .social-media {
  padding: 0 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.social-media-pull-posts .item .social-media .image {
  max-width: 25px !important;
  float: left;
  margin: 7px 10px 0 0;
  display: inline-block;
  background: url('../images/social-medias.png');
}
.social-media-pull-posts .item .social-media .twitter {
  width: 22px;
  height: 18px;
  background-position: 0 0;
}
.social-media-pull-posts .item .social-media .gplus {
  width: 22px;
  height: 23px;
  background-position: 0 -19px;
}
.social-media-pull-posts .item .social-media .youtube {
  width: 21px;
  height: 25px;
  background-position: 0 -43px;
}
.social-media-pull-posts .item .social-media .blog {
  width: 24px;
  height: 24px;
  background-position: 0 -69px;
}
.social-media-pull-posts .item .social-media-text {
  float: left;
}
.social-media-pull-posts .item .social-media-text .time {
  color: #828282;
  font-style: italic;
  font-family: Georgia;
  font-size: 0.875em;
  margin-bottom: 0;
}
.social-media-pull-posts .item .social-media-text a {
  color: #12c2e9;
  font-size: 0.875em;
}

.social-media-pull-posts .item .social-media-url {
  display: block;
  margin: 0 20px 10px 20px;
  font-size: 0.875em;
  color: #12c2e9;
}

/* Header Content */
.social-media-pull-header-content {
  margin: 0 0 20px 0;
  float: left;
  width: 100%;
}

/* Header Content: Filter */
.social-media-pull-filter {
  list-style: none;
  margin: 0 !important;
  padding: 0;
  float: left;
}
.social-media-pull-filter li {
  float: left;
}
.social-media-pull-filter a {
  background: url('../images/social-medias.png');
  display: inline-block;
  text-indent: -5000em;
  margin-right: 20px;
}
.social-media-pull-filter .twitter {
  width: 22px;
  height: 18px;
  background-position: -22px 0;
}
.social-media-pull-filter .gplus {
  width: 22px;
  height: 23px;
  background-position: -22px -19px;
}
.social-media-pull-filter .youtube {
  width: 21px;
  height: 25px;
  background-position: -22px -43px;
}
.social-media-pull-filter .blog {
  width: 24px;
  height: 24px;
  background-position: -25px -69px;
}
.social-media-pull-filter .twitter.active {
  background-position: 0 0;
}
.social-media-pull-filter .gplus.active {
  background-position: 0 -19px;
}
.social-media-pull-filter .youtube.active {
  background-position: 0 -43px;
}
.social-media-pull-filter .blog.active {
  background-position: 0 -69px;
}

/* Header Content: Header Link */
.social-media-header-link {
  background-color: #0a8caa;
  color: #fff !important;
  font-weight: bold;
  padding: 6px 33px;
  font-size: 0.875em;
  float: right;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.social-media-header-link:hover {
  background-color: #12c2e9;
}

.social-media-pull-title {
  color: #222222;
  font-weight: normal;
  padding-top: 15px;
}

/* Footer Content */
.social-media-pull-footer-content {
  width: 100%;
  text-align: right;
  margin-top: 30px;
}

/* Footer Content: Footer Link */
.social-media-pull-footer-content .social-media-footer-link {
  color: #828282;
  font-size: 1em;
  font-style: italic;
  font-family: Georgia;
}
.social-media-pull-footer-content .social-media-footer-link:after {
  content: '';
  display: inline-block;
  width: 5px;
  height: 10px;
  background: url('../images/arrows.png') 6px 0;
  margin-left: 4px;
}

/* Footer Content: Load More */
.social-media-pull-footer-content .social-posts-loader {
  width: 48px;
  height: 48px;
  background: url('../images/preloader.gif');
  display: inline-block;
}

/* Mobile */
@media only screen and (max-width:667px) {
  .social-media-pull-filter {
    display: none;
  }

  .social-media-pull-posts .item {
    width: 100%;
  }
  .gutter-sizer {
    width: 0;
  }

  .view-id-media_resources_tab .images-list .views-field-field-teaser {
    display: block !important;
  }

  .social-media-pull-posts .item .text {
    font-size: 1em !important;
  }

  .social-media-pull-footer-content {
    text-align: center;
    margin-top: 10px;
  }
}

/* Tablet */
@media only screen and (min-width:668px) and (max-width:860px) {
  .social-media-pull-posts .item {
    width: 48%;
  }
  .gutter-sizer {
    width: 4%;
  }

  .social-media-pull-footer-content {
    text-align: center;
  }
}

/* IE-8 */
.IE-8 .social-media-pull-posts .item {
  border: solid 1px #d2d2d2;
}

/* Administrative Page */
.page-admin-config-social-media-pull #sidebar-first {
  display: none;
}
.page-admin-config-social-media-pull #content {
  width: 100% !important;
}
.page-admin-config-social-media-pull #social-media-pull-list-form .select-all:before {
  content: "Active";
  display: block;
}
.page-admin-config-social-media-pull .social-media-pull-active-posts-button {
  text-align: center;
}