/* -------------------------------------------------------------------------
 General Site Settings
---------------------------------------------------------------------------- */
body {
	font-family: Arial, Sans-Serif;
	font-size: 11px;
	color: #000000;
	margin: 0px;
	padding: 0px;
	background-color: #FFFFFF;
	text-align: center;
}

div, td, ul, ul a, li, a, p, select, textarea {
	font-family: Arial, Sans-Serif;
	font-size: 11px;
	text-align: left;
}

input {
	font-family: Arial, Sans-Serif;
	font-size: 11px;
}

a:link,
a:visited,
a:active {
	color: #0293C0;
	text-decoration: none;
}

a:hover {
	color: #0269C0;
	text-decoration: underline;
}

/* -------------------------------------------------------------------------
 Page Container 
 (Contains the physical set of all page components)
---------------------------------------------------------------------------- */
#page-container {
	text-align: left;
	margin-top: 7px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	width: 780px;
}

/* -------------------------------------------------------------------------
 Content Containers
 (The core content placements throughout the site; which house all content
  and navigation components) 
---------------------------------------------------------------------------- */
#header {
	width: 780px;
	margin: 0px 0px 7px 0px;
}

#branding-strip {
	width: 780px;
	margin: 0px 0px 7px 0px;
}

#branding-strip .content-block {
	margin: 0px 7px 0px 0px;
}

#branding-strip .content-block-last  {
	width: 151px;
	margin: 0px;
}

#left-rail {
	width: 197px;	
	padding: 0px; /* Must use padding instead of margin, to prevent auto table cell stretching */
	background-color: #F2F2F2;
}

#left-rail .content-block {
	display: block;
	margin: 0px 0px 7px 0px;
	text-align: center;
}

#left-rail-home {
	/*width: 222px;*/
	width: 253px;
	padding: 0px 7px;
	background-color: #FFFFFF;
	background-image: url("../img/homepage-gradient-blue-vertical.jpg")/*tpa=http://www.centerpointenergy.com/staticfiles/CNP/Common/SiteAssets/img/homepage-gradient-blue-vertical.jpg*/;
	background-repeat: repeat-x;
	background-attachment: scroll;
	background-position: left bottom;	
}

#left-rail-home .content-block {
	display: block;
	margin: 7px 0px 0px 0px;
}

/* Main Content on 1 column landing pages (Full width) */
#main-content-1 {
	width: 780px;
	padding: 7px 0px;
}

/* Main Content on 2 column landing pages (Rightmost container) */
#main-content-2 {
	padding: 7px 0px 0px 7px;
	/* No width setting since Home page requires different size */
}

/* Main Content on 2 column landing pages (Leftmost container) - currently used by the 'Search Results' page */
#main-content-2b {
	padding: 7px 7px 7px 0px;
	/* No width setting since Home page requires different size */
}

/* Main Content on 3 column landing pages (Middle container) */
#main-content-3 {
	width: 418px;
	padding: 7px;
}

#right-rail {
	width: 151px;
	margin: 0px 0px 7px 0px;
	background-color: #F2F2F2;
}

#right-rail .content-block {
	display: block;
	margin: 0px 0px 7px 0px;
	text-align: center;
}

#bottom-promo {
	width: 780px;
	margin: 7px 0px 0px 0px;
}

#bottom-promo .content-block {}

#bottom-promo .content-block-last  {}

#bottom-promo .content-block .body { 
	min-height: 430px;
	max-height: 430px;
}

#footer {
	width: 780px;
	padding: 7px;
	margin: 7px 0px 15px 0px;
	border-top: 7px solid #000000;
}

/* Special style for footer on the Home page */
#footer-home {
	width: 780px;	
	padding: 7px;
	margin-bottom: 15px;
}

/* Special style for footer on the Dynamo Promo page */
#footer-dynamo {
	width: 780px;	
	padding: 7px;
	margin-bottom: 15px;
}



/* -------------------------------------------------------------------------
 Forms
---------------------------------------------------------------------------- */
div.logo-wrapper {
	border: 0px;
	text-align: right;
	padding-right: 10px;
}

div.form-wrapper {
	font-size: 11px;
}

fieldset {
	padding: 6px;
}

fieldset > legend {
	font-size: 18px;
	font-weight: bold;
}

/* -------------------------------------------------------------------------
 Buttons
---------------------------------------------------------------------------- */
#button {
	height: 25px;
	width: auto;
	margin: 0 0 10px 0;
	clear: left;
	overflow: hidden;
}

#button a,
#button a:link,
#button a:visited,
#button a:active,
#button a:hover{
	height: 25px;
	padding: 5px 0 0 0;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	color: #FFFFFF;
	display: block;
	text-decoration: none;
}

#button.small a,
#button.small a:link,
#button.small a:visited,
#button.small a:active,
#button.small a:hover{
	height: 25px;
	padding: 6px 0 0 0;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	color: #FFFFFF;
	display: block;
	text-decoration: none;
}

#button.large {
	width: 164px;
}
#button.large a {
	width: 164px;
	background: transparent url('../img/cnp-bg-button-large.gif')/*tpa=http://www.centerpointenergy.com/staticfiles/CNP/Common/SiteAssets/img/cnp-bg-button-large.gif*/ no-repeat 0 0;
}
#button.large a:hover {
	width: 164px;
	background: transparent url('../img/cnp-bg-button-large.gif')/*tpa=http://www.centerpointenergy.com/staticfiles/CNP/Common/SiteAssets/img/cnp-bg-button-large.gif*/ no-repeat 0 -25px;
}

#button.large-wide {
	width: 164px;
	height: 37px;
	clear: left;
	margin: 0px 0px 10px;
	overflow: hidden;
	width: auto;
	line-height: 1.1;
}

#button.large-wide a {
	width: 164px;
	height: 37px;
	background: transparent url('../img/cnp-bg-button-large-wide.gif')/*tpa=http://www.centerpointenergy.com/staticfiles/CNP/Common/SiteAssets/img/cnp-bg-button-large-wide.gif*/ no-repeat 0 0;
}

#button.large-wide a:hover {
	width: 164px;
	height: 74px;
	background: transparent url('../img/cnp-bg-button-large-wide.gif')/*tpa=http://www.centerpointenergy.com/staticfiles/CNP/Common/SiteAssets/img/cnp-bg-button-large-wide.gif*/ no-repeat 0 -37px;
}

#button.medium {
	width:114px;
}
#button.medium a {
	width:114px;
	background:transparent url('../img/cnp-bg-button-medium.gif')/*tpa=http://www.centerpointenergy.com/staticfiles/CNP/Common/SiteAssets/img/cnp-bg-button-medium.gif*/ no-repeat scroll 0 0;
}
#button.medium a:hover {
	width:114px;
	background: transparent url('../img/cnp-bg-button-medium.gif')/*tpa=http://www.centerpointenergy.com/staticfiles/CNP/Common/SiteAssets/img/cnp-bg-button-medium.gif*/ no-repeat scroll 0 -25px;
}

#button.small {
	width:45px;
}
#button.small a {
	width:45px;
	background:transparent url('../img/cnp-bg-button-small.gif')/*tpa=http://www.centerpointenergy.com/staticfiles/CNP/Common/SiteAssets/img/cnp-bg-button-small.gif*/ no-repeat 0 0;
}
#button.small a:hover {
	width:45px;
	background: transparent url('../img/cnp-bg-button-small.gif')/*tpa=http://www.centerpointenergy.com/staticfiles/CNP/Common/SiteAssets/img/cnp-bg-button-small.gif*/ no-repeat 0 -25px;
}

#button a img { /* to position the white arrow icon */
	padding:0 0 0 5px;
	display:-moz-inline-block;
	display:inline-block;
}

#button .arrow {
	padding:0px 0px 2px 0px;
	margin:0px 0px 0px 5px;
	background-attachment:fixed;
	background:url('../img/cnp-icon-arrow-white.gif')/*tpa=http://www.centerpointenergy.com/staticfiles/CNP/Common/SiteAssets/img/cnp-icon-arrow-white.gif*/ no-repeat center;
}

/* -------------------------------------------------------------------------
 Content List Items 
 (General settings inherited by all content lists)
---------------------------------------------------------------------------- */
.list-item {
	padding: 0px 0px 10px 0px;
}

.list-item .title {
	font-family: Arial, Sans-Serif;
	font-size: 11px;
	/*font-weight: bold;*/
	font-weight: normal;
	color: #000000;
	padding-left: 2px;	/* Added to prevent cut-off letters (e.g. 'W') */
}

.list-item .title a,
.list-item .title a:link,
.list-item .title a:visited,
.list-item .title a:active {
	font-family: Arial, Sans-Serif;
	font-size: 11px;
	text-decoration: none;
}

.list-item .title a:hover {
	text-decoration: underline;
}

.list-item .description {
	font-family: Arial, Sans-Serif;
	font-size: 11px;
	color: #000000;
}

/* -------------------------------------------------------------------------
 News List
 (Specific styles for content lists of News found in the 'Newsroom' pages) 
---------------------------------------------------------------------------- */
.news-list {}

.news-list .header {
	margin: 0px 0px 7px 0px;
	padding: 0px 0px 7px 0px;
	border-bottom: solid 1px #cccccc;
}

.news-list .header .separator {
	padding: 0px 5px 0px 5px;
}

.news-list .active-group {
	font-family: Arial, Sans-Serif;
	font-size: 11px;
	color: #000000;
	font-weight: bold;
}

.news-list .group a,
.news-list .group a:link,
.news-list .group a:visited, 
.news-list .group a:active {
	font-family: Arial, Sans-Serif;
	font-size: 11px;
	color: #0293C0;
	text-decoration: none;
}

.news-list .group a:hover {
	color: #0269C0;
	text-decoration: underline;
}

.news-list .body {
	width: 100%;
}

.news-list .list-item .date {
	font-family: Arial, Sans-Serif;
	font-size: 11px;
	color: #333333;
}

.news-list .page-controls {
	width: 100%;
}

.news-list .page-controls .previous {
	text-align: left;
}

.news-list .page-controls .next {
	text-align: right;
}

.news-list .page-controls a,
.news-list .page-controls a:link,
.news-list .page-controls a:visited, 
.news-list .page-controls a:active {
	font-family: Arial, Sans-Serif;
	font-size: 11px;
	color: #0293C0;
	text-decoration: none;
}

.news-list .page-controls a:hover {
	color: #0269C0;
	text-decoration: underline;
}

/* -------------------------------------------------------------------------
 Search Results 
---------------------------------------------------------------------------- */
#search-results {}

#query-form-header {
	font-family: Verdana;
	font-size: 20px;
	font-weight: normal;
	color: #01A89E;
	text-transform: uppercase;
	padding: 6px 6px 0px 2px;
}

#query-form {
	margin: 0px 0px 12px 0px;
	padding: 6px 6px 6px 2px;
	height: 40px;
}

#query-form input#input-keyword {
	position: relative;
	top: -3px;
	left: 0;
	width: 460px;
	margin: 0 5px 0 0;
	padding: 2px 3px;
	border-top: 1px solid #aaadb2;
	border-left: 1px solid #dadfe5;
	border-bottom: 1px solid #e2e9ef;
	border-right: 1px solid #dadfe5;
	font-size: 1.3em;
	color: #9a9ca1;
	display: inline
}
#query-form input#button-go {
	position: relative;
	top: 4px;
	left: 0;
	height: 24px;
	width: 48px;
	padding: 0;
	border: none;
	display: inline;
}

#query-form-lz {
	display: none;
}

#query-details {
	padding: 0px 0px 0px 2px;
	margin-bottom: 2px;
}

#more-query-details {
	padding: 4px 4px 4px 10px;
	border-top: 1px solid #00AA9F;
	border-bottom: 1px solid #00AA9F;
	background-color: #E8FCFB;
	margin-bottom: 6px;
}
#search-results .pagination-controls {
	margin-top: 6px;
	height: 22px;
	padding: 4px;
	border: 1px solid #CCCCCC;
	background-color: #EEEEEE;
}
#search-results .pagination-controls .controls-paging {
	float: right;
	padding: 3px 0 0 0;
}
#search-results .pagination-controls .prev-next-link {
	width: 44px;
	float: left;
}
#search-results .prev-next-link a, 
#search-results .prev-next-link a:link, 
#search-results .prev-next-link a:visited, 
#search-results .prev-next-link a:active {
	font-size: 12px;
	color: #0293C0;
	font-weight: normal;
	text-decoration: none;
}
#search-results .prev-next-link a:hover {
	color: #0269C0;
	font-weight: normal;
	text-decoration: underline;
}
#search-results .pagination-controls .enumerated-pages {
	float: left;
}
#search-results .pagination-controls .e-page-link {
	margin: 0 7px 0 0;
	float: left;
	display: inline;
	border-bottom: 2px solid #EEEEEE;
}
#search-results .e-page-link a, 
#search-results .e-page-link a:link, 
#search-results .e-page-link a:visited, 
#search-results .e-page-link a:active {
	font-size: 12px;
	color: #0293C0;
	font-weight: normal;
	text-decoration: none;
}
#search-results .e-page-link a:hover {
	color: #0269C0;
	font-weight: normal;
	text-decoration: underline;
}
#search-results .e-page-link-selected {
	margin: 0 7px 0 0;
	float: left;
	display: inline;
	border-bottom: 2px solid #0269C0;
}

#search-results .e-page-link-selected a, 
#search-results .e-page-link-selected a:link, 
#search-results .e-page-link-selected a:visited, 
#search-results .e-page-link-selected a:active,
#search-results .e-page-link-selected a:hover {
	font-size: 12px;
	color: #0269C0;
	font-weight: bold;
	text-decoration: none;
}
#search-results .pagination-controls .controls-rpp {
	float: left;
}
#search-results .pagination-controls label {
	font-size: 12px;
}
#search-results	.result-list {
	margin-top: 10px;
	width: 575px;
}

#search-results	.result-item {
	margin-bottom: 15px;
}
	
#search-results	.result-item .title {
	font-family: Arial, Sans-Serif;
	font-size: 11px;
	font-weight: normal;
}

#search-results	.result-item .title a,
#search-results	.result-item .title a:link,
#search-results	.result-item .title a:visited,
#search-results	.result-item .title a:active {
	font-family: Arial, Sans-Serif;
	font-size: 12px;
	text-decoration: none;
}

#search-results	.result-item .title a:hover {
	color: #0269C0;
	text-decoration: underline;
}

#search-results .result-item .summary {
	font-family: Arial, Sans-Serif;
	font-size: 11px;
	color: #000000;
}
	
#search-results .result-item .summary .highlight {
	color: #000000;
	font-weight: bold;
}	

#search-results .result-item .breadcrumb {
	font-family: Arial, Sans-Serif;
	font-size: 11px;
	color: #DF8F08;
}

/* -------------------------------------------------------------------------
 Content Blocks 
 (General settings inherited by all blocks, regardless of content container)
---------------------------------------------------------------------------- */
.content-block {
	vertical-align: top;
	padding: 0px;
}

.content-block p {
	margin: 0px;
	padding: 0px;
}

.content-block ul {
	padding: 0px;
	margin-top: 5px;
	margin-left: 18px;
	list-style-type: disc;
	list-style-position: oustide;
}

.content-block .header {
	font-family: Arial, Sans-Serif;
	font-size: 11px;
	text-transform: uppercase;
	text-align: left;
	color: #FFFFFF;
	background-color: #073976;
	padding: 2px 7px;
}

/* Header icon is disabled by default - enable per specific instances */
.content-block .header .icon {
	display: none;
}

.content-block .header a,
.content-block .header a:link,
.content-block .header a:visited, 
.content-block .header a:active {
	color: #FFFFFF;
}

.content-block .body {
	font-family: Arial, Sans-Serif;
	font-size: 11px;
	text-align: left;
	color: #000000;
	padding: 3px 7px 3px 7px;
}

.content-block .body td {
	font-family: Arial, Sans-Serif;
	font-size: 11px;
}

.content-block .body a,
.content-block .body a:link,
.content-block .body a:visited, 
.content-block .body a:active {
	font-family: Arial, Sans-Serif;
	font-size: 11px;
	color: #083976;
	text-decoration: none;
}

.content-block .body a:hover {
	text-decoration: underline;
}

.content-block .list-item {
	padding: 0px 0px 5px 0px;
}

/* -------------------------------------------------------------------------
 Search Promotions
---------------------------------------------------------------------------- */
#right-rail .search-promo {
	margin: 5px 5px 10px 5px; 
	background-color: #f4f7fc;
	border: solid 1px #8ea0be;
	width: 141px;
	padding: 5px 5px;
}

#right-rail .search-promo .header {
	font-family: Arial, Sans-Serif;
	font-size: 11px;
	font-weight: bold;
	text-transform: capitalize;
	text-decoration: underline;
	text-align: left;
	color: #256589;
	background-color: #f4f7fc;
	padding: 0px;

}

#right-rail .search-promo .header a,
#right-rail .search-promo .header a:link,
#right-rail .search-promo .header a:visited, 
#right-rail .search-promo .header a:active,
#right-rail .search-promo .header a:hover {
	font-size: 11px;
	text-decoration: underline;
	color: #256589;
}

#right-rail .search-promo .body {
	font-family: Arial, Sans-Serif;
	font-size: 11px;
	text-align: left;
	color: #3c3f43;
	padding: 0;
}

#right-rail .search-promo .body a,
#right-rail .search-promo .body a:link,
#right-rail .search-promo .body a:visited, 
#right-rail .search-promo .body a:active {
	text-decoration: none;
	color: #3c3f43;
}

#right-rail .search-promo .body a:hover {
	color: #37789d;
	text-decoration: none;
}

/* -------------------------------------------------------------------------
 Site Header 
 (Includes 'Main Navigation' and 'Search Box')
---------------------------------------------------------------------------- */
#main-navigation {
	color: #898E8C;
	vertical-align: middle;
	width: 100%;
  	height: 17px;
	background-color: #000000;
}

#main-navigation .left-padding {
	width: 16px;
}

#main-navigation .nav-item {
	vertical-align: middle;
	text-align: center;
	padding: 2px 4px 0px 4px;
}

#main-navigation .nav-item a,
#main-navigation .nav-item a:link,
#main-navigation .nav-item a:visited,
#main-navigation .nav-item a:active {
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-transform: uppercase;
	text-decoration: none;
}

#main-navigation .nav-item a:hover {
	color: #63AECF;
}

#main-navigation .nav-item-active a,
#main-navigation .nav-item-active a:link,
#main-navigation .nav-item-active a:visited,
#main-navigation .nav-item-active a:hover {
	color: #0099DC;	
}

#main-navigation .sub-item a,
#main-navigation .sub-item a:link,
#main-navigation .sub-item a:visited,
#main-navigation .sub-item a:active {
	color: #FFC820;
}

#main-navigation .sub-item a:hover {
	color: #F88D0B;
}

#main-navigation .simple-search {
	width: 190px;
	vertical-align: middle;
	text-align: right;
}

#main-navigation .simple-search form {
	display: inline;
}

#main-navigation .simple-search .label {
	font-size: 9px;
	color: #898E8C;	
	text-transform: uppercase;
	margin: 0px 7px 0px 0px;
}

#main-navigation .simple-search .run-link {
	margin: 0px 14px 0px 3px;
	vertical-align: middle;	
}

#main-navigation .simple-search .form-input {
	font-size: 9px;
	color: #202020;
	border: solid 1px #505050;
	background-color: #FFFFFF;
	width: 80px;
}

#main-navigation .floating-link {
	margin: 0px 7px 0px 0px;
}

#main-navigation .floating-link a,
#main-navigation .floating-link a:link,
#main-navigation .floating-link a:visited,
#main-navigation .floating-link a:active {
	font-size: 9px;
	color: #898E8C;
	text-transform: uppercase;
	text-decoration: none;
}

#main-navigation .floating-link a:hover {
	color: #FFFFFF;
	text-decoration: underline;	
}

#main-navigation-extend {
	width: 100%;
	height: 21px;
	background-color: #000000;
}

/* -------------------------------------------------------------------------
 Sub Navigation
 (Currently only utilized by 'Services' channel to display its top-level pages)
---------------------------------------------------------------------------- */
#sub-navigation {
	width: 100%;
	height: 20px; /* NOTE: actual height is 21px due to added border top */
	border-top: 1px solid #FFFFFF;
	background-color: #073976;
	padding: 0px 0px 0px 32px;
}

#sub-navigation .nav-item {
	vertical-align: middle;
	height: 20px;
	padding: 0px 10px 0px 10px;
}

#sub-navigation .nav-item-active {
	background-color: #0099DC;
}

#sub-navigation .nav-item a,
#sub-navigation .nav-item a:link,
#sub-navigation .nav-item a:visited,
#sub-navigation .nav-item a:active {
	font-size: 10px;
	color: #FFFFFF;
	text-transform: uppercase;
	text-decoration: none;
}

#sub-navigation .nav-item a:hover {
	color: #0099CC;
}

#sub-navigation .nav-item-active a,
#sub-navigation .nav-item-active a:link,
#sub-navigation .nav-item-active a:visited {
	color: #FFFFFF;	
}

#sub-navigation .nav-item-active a:hover {
	color: #000000;
}

/* -------------------------------------------------------------------------
 Service Area Controls
 (Includes the area above the Left Navigation Menu, all instances of the 
  Service Area Menu, and all instances of the Service Area Selector)
---------------------------------------------------------------------------- */
#service-area-controls {
	padding: 0px;
}

#service-area-controls .active-area {
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	vertical-align: middle;
	color: #FFFFFF;
	height: 29px;
	padding: 7px 7px 7px 21px;
	background-color: #007AB0;
	border-bottom: 1px solid #FFFFFF;
}

#service-area-controls .selector-area {
	font-size: 11px;
	font-weight: bold;
	vertical-align: middle;
	text-align: right;
	color: #FFFFFF;
	height: 22px;
	background-color: #63AECF;
	padding: 0px 7px 0px 0px;
}

/* Controls the 'menu' - there can be multiple instances per page */
.service-area-menu {
	text-align: left;
	position: absolute;
	top: 10px;
	left: 10px;
	width: 95px;
	background-color: #FFFFFF;
	border: 1px solid #898E8C;	
}

.service-area-menu .list-item {
	padding: 0px 3px;
	margin: 0px;
	border-bottom: 1px solid #EFEFEF;	
}

/* Controls the 'selector' element that invokes the 'menu' - there can be multiple instances per page */
.service-area-selector {
	font-size: 11px;
	color: #042448;
	padding: 0px;
	margin: 0px;
}

.service-area-selector a,
.service-area-selector a:link,
.service-area-selector a:visited,
.service-area-selector a:active,
.service-area-selector a:hover, {
	font-size: 11px;
	color: #042448;
	text-decoration: none;
}

.service-area-selector .icon {
	background-image: url('../img/icon-pull-down-arrow.gif')/*tpa=http://www.centerpointenergy.com/staticfiles/CNP/Common/SiteAssets/img/icon-pull-down-arrow.gif*/;
	background-repeat: no-repeat;
	width: 13px;
}

/* -------------------------------------------------------------------------
 Left Navigation Top
 (Displayed above the Left Navigation Menu when Service Area Controls are
  not available or enabled for the active page)
---------------------------------------------------------------------------- */
#left-navigation-top {
	height: 40px;
	padding: 0px;
	background-color: #E5F3F9;
	border-bottom: 1px solid #FFFFFF;
}



/* -------------------------------------------------------------------------
 Left Navigation
 (Styled for three levels of navigation)
---------------------------------------------------------------------------- */
#left-navigation {
	width: 197px;
	padding: 0px;
	margin: 0px;
}

#left-navigation .expanded-group {
	border-bottom: 1px solid #FFFFFF;
	background-color: #E5E5E5;
}

/* Level 1 Navigation Items ---------------------- */
#left-navigation .nav-item-1 {
	padding: 5px 5px 5px 21px;
	margin: 0px;
	border-bottom: 1px solid #FFFFFF;
	background-color: #F2F2F2;
}

#left-navigation .nav-item-1 .bullet {
	display: none;
}

#left-navigation .nav-item-1 a,
#left-navigation .nav-item-1 a:link,
#left-navigation .nav-item-1 a:visited,
#left-navigation .nav-item-1 a:active {
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-transform: uppercase;
	text-decoration: none;
}

#left-navigation .nav-item-1 a:hover {
	text-decoration: underline;
}

#left-navigation .nav-item-1-active a,
#left-navigation .nav-item-1-active a:link,
#left-navigation .nav-item-1-active a:visited {
	color: #0293C0;
}

#left-navigation .nav-item-1-active a:hover {
	color: #083976;
	text-decoration: underline;
}

/* Level 2 Navigation Items ---------------------- */
#left-navigation .nav-item-2 {
	padding: 5px 5px 5px 31px;
	margin: 0px;
	border-bottom: 1px solid #FFFFFF;
	background-color: #E5E5E5;
}

#left-navigation .nav-item-2 .bullet {
	background-image: url('../img/bullet-leftnav-arrow-blue.gif')/*tpa=http://www.centerpointenergy.com/staticfiles/CNP/Common/SiteAssets/img/bullet-leftnav-arrow-blue.gif*/;
	background-repeat: no-repeat;
	width: 9px;
}

#left-navigation .nav-item-2-active {
	padding: 5px 5px 3px 31px;
	border-bottom: none;
}

#left-navigation .nav-item-2 a,
#left-navigation .nav-item-2 a:link,
#left-navigation .nav-item-2 a:visited,
#left-navigation .nav-item-2 a:active {
	font-size: 10px;
	color: #000000;
	text-transform: uppercase;
	text-decoration: none;
}

#left-navigation .nav-item-2 a:hover {
	text-decoration: underline;
}

#left-navigation .nav-item-2-active a,
#left-navigation .nav-item-2-active a:link,
#left-navigation .nav-item-2-active a:visited {
	color: #0293C0;
}

#left-navigation .nav-item-2-active a:hover {
	text-decoration: underline;
}

/* Level 3 Navigation Items ---------------------- */
#left-navigation .nav-item-3 {
	padding: 0px 3px 3px 41px;
	margin: 0px;
	background-color: #E5E5E5;
}

#left-navigation .nav-item-3 .bullet {
	background-image: url('../img/bullet-leftnav-dot-blue.gif')/*tpa=http://www.centerpointenergy.com/staticfiles/CNP/Common/SiteAssets/img/bullet-leftnav-dot-blue.gif*/;
	background-repeat: no-repeat;
	width: 9px;
}

#left-navigation .nav-item-3 a,
#left-navigation .nav-item-3 a:link,
#left-navigation .nav-item-3 a:visited,
#left-navigation .nav-item-3 a:active {
	font-size: 10px;
	color: #3F3F3F;
	text-decoration: none;
}

#left-navigation .nav-item-3 a:hover {
	text-decoration: underline;
}

#left-navigation .nav-item-3-active a,
#left-navigation .nav-item-3-active a:link,
#left-navigation .nav-item-3-active a:visited {
	color: #0293C0;
}

#left-navigation .nav-item-3-active a:hover {
	text-decoration: underline;
}

/* -------------------------------------------------------------------------
 Page Overview
---------------------------------------------------------------------------- */
#page-overview {
	width: 100%;
	margin: 0px 0px 7px 0px;
}

#page-overview .title {
	font-family: Arial, Sans-Serif;
	color: #00AA9E;
	font-size: 18px;
	text-transform: uppercase;
	width: 100%;
	border-bottom: solid 1px #7FD4CE;
}

#page-overview .subtitle {
	font-family: Arial, Sans-Serif;
	color: #668187;
	font-size: 14px;
	text-transform: uppercase;	
}

#page-overview .body {
	margin: 14px 10px 0px 0px;
	padding-left: 2px;	/* Added to prevent cut-off letters (e.g. 'W') */
}

#page-overview .body .image {
	margin: 0px 10px 10px 0px;
	float: left;
}

#page-overview .body .text {
	font-family: Arial, Sans-Serif;
	vertical-align: top;
}

/*=================================   Begin inline styles   ================================*/
/*  NOTE: Prefix all EWEP styles with "#page-overview .body .text"  						*/

/* ---------------------------------------------------
Image Settings
------------------------------------------------------ */
#page-overview .body .text img,
#page-overview .body .text img.image-left {
	/* (EWEP) caption: Image (Right);*/
	margin: 0px 10px 5px 0px;
	float: left;
}

#page-overview .body .text img.image-right {
	/* (EWEP) caption: Image (Right);*/
	margin: 0px 0px 5px 10px;
	float: right;
}

#page-overview .body .text img.image-center {
	/* (EWEP) caption: Image (Center);*/
	display: block;
	margin: 0px 10px 5px 10px;
	float: none;
	text-align: center;
}

/* ---------------------------------------------------
Paragraph Settings
------------------------------------------------------ */
#page-overview .body .text p {
margin: 4px 0px 11px 0px;
}

#page-overview .body .text p.heading {
/* (EWEP) caption: Heading;*/
font-size: 11px;
color: #000000;
font-weight: bold;
border-bottom: solid 1px #A0D7E7;
margin: 4px 0px 0px 0px;
}

#page-overview .body .text p.footnote {
/* (EWEP) caption: Footnote;*/
font-size: 9px;
color: #666666;
}

#page-overview .body .text p.callout-blue {
/* (EWEP) caption: Callout Box (Blue);*/
background-color: #E4F0F8;
padding: 3px;
}

#page-overview .body .text p.callout-orange {
/* (EWEP) caption: Callout Box (Orange);*/
background-color: #FEF2E0;
padding: 10px;
}

/* ---------------------------------------------------
List Settings
------------------------------------------------------ */
#page-overview .body .text ul {
margin: 8px 0px 8px 18px;
list-style-position: outside;
}

#page-overview .body .text ul.bullet-blue {
/* (EWEP) caption: List (Blue);*/
list-style-image: url('Unknown_83_filename')/*tpa=http://www.centerpointenergy.com/staticfiles/CNP/Common/SiteAssets/img/bullet-blue.gif*/;
}

#page-overview .body .text ul.bullet-orange {
/* (EWEP) caption: List (Orange);*/
list-style-image: url('Unknown_83_filename')/*tpa=http://www.centerpointenergy.com/staticfiles/CNP/Common/SiteAssets/img/bullet-orange.gif*/;
}

#page-overview .body .text ul.bullet-checkmark {
/* (EWEP) caption: List (Checkmark);*/
list-style-image: url('../img/bullet-checkmark.gif')/*tpa=http://www.centerpointenergy.com/staticfiles/CNP/Common/SiteAssets/img/bullet-checkmark.gif*/;
}

/* ---------------------------------------------------
Table Settings
------------------------------------------------------ */
#page-overview .body .text table {
width: 100%;
}

#page-overview .body .text table.chart {
/* (EWEP) caption: Chart;*/
margin: 8px 0px 11px 0px;
width: 100%;
padding: 5px 5px 5px 5px;
text-align: center;
vertical-align: middle;
border-collapse: collapse;
border: solid 1px #888888;
}

#page-overview .body .text table.chart td {
/* (EWEP) caption: Chart (Cell);*/
padding: 5px 5px 5px 5px;
text-align: center;
vertical-align: middle;
border: solid 1px #888888;
}

#page-overview .body .text table td.chart-heading {
/* (EWEP) caption: Chart (Heading);*/
text-transform: uppercase;
font-weight: bold;
background-color: #E6F6F9;
text-transform: uppercase;
}
/*=================================   End inline styles   ================================*/

/* -------------------------------------------------------------------------
 Branding Strip Content Blocks
 (Specialized settings and themes for Branding Strip)
---------------------------------------------------------------------------- */
/* My Account Login Theme ---------------------- */
#branding-strip .myaccount-login .header {
	color: #63AECF;
	vertical-align: middle;
	background-color: #000000;
	padding: 3px 7px 2px 7px;
}

#branding-strip .myaccount-login .body {
	background-color: #042448;
	height: 77px;
	padding: 3px 7px 2px 7px;
}

#branding-strip .myaccount-login .body table {
	width: 100%;
	border: 0px;
}

#branding-strip .myaccount-login .body td {
	vertical-align: middle;
	color: #cccccc;
	padding: 1px 0px 2px 0px;
}

#branding-strip .myaccount-login form {
	padding: 0px;
	margin: 0px;
}

#branding-strip .myaccount-login input {
	font-size: 9px;
	border: solid 1px #898E8C;
	width: 80px;
	height: 14px;
}

#branding-strip .myaccount-login td.login-link {
	color: #FFFFFF;
	vertical-align: bottom;
	padding: 0px;
}

#branding-strip .myaccount-login .login-link a {
	font-size: 10px;
	color: #FFFFFF;
}

/* 'Alert Gray' Theme ---------------------- */
#branding-strip .alert-gray {
	border: 1px solid #6699CC;
	background-image: url("Unknown_83_filename")/*tpa=http://www.centerpointenergy.com/staticfiles/CNP/Common/SiteAssets/img/message-gradient.gif*/;
	background-repeat: repeat-x;
	background-attachment: scroll;
	background-position: left bottom;
	width: 765px;
	padding: 7px;
	margin: 5px 0px;
}

#branding-strip .alert-gray .header {
	background-color: transparent;
	color: #4D4D4D;
	font-size: 12px;
	font-weight: bold;
}

#branding-strip .alert-gray .header a,
#branding-strip .alert-gray .header a:link,
#branding-strip .alert-gray .header a:visited, 
#branding-strip .alert-gray .header a:active {
	color: #4D4D4D;
}

#branding-strip .alert-gray .body {
	background-color: transparent;
	color: #4D4D4D;
	font-size: 11px;
}

/* 'Alert Orange' Theme ---------------------- */
#branding-strip .alert-orange {
	border: 1px solid #EB4912;
	background-image: url("../img/alert-gradient.gif")/*tpa=http://www.centerpointenergy.com/staticfiles/CNP/Common/SiteAssets/img/alert-gradient.gif*/;
	background-repeat: repeat-x;
	background-attachment: scroll;
	background-position: left bottom;
	width: 765px;
	padding: 7px;
	margin: 5px 0px;
}

#branding-strip .alert-orange .header {
	background-color: transparent;
	color: #EB4912;
	font-size: 12px;
	font-weight: bold;
}

#branding-strip .alert-orange .header a,
#branding-strip .alert-orange .header a:link,
#branding-strip .alert-orange .header a:visited, 
#branding-strip .alert-orange .header a:active {
	color: #EB4912;
}

#branding-strip .alert-orange .body {
	background-color: transparent;
	color: #EB4912;
	font-size: 11px;
}

/* -------------------------------------------------------------------------
 Left Rail Content Blocks
 (Specialized settings and themes for Left Rail)
---------------------------------------------------------------------------- */
/* Home Left Rail Flash Promo ---------------------- */
#left-rail-home .flash-promo-home {
	text-align: left;
	height: 223px;
	background-color: #FFFFFF;
}

#left-rail-home .flash-promo-home .body {
	width: 222px;
	padding: 0px;
	margin: 0px;
}

/* Home Left Rail - Option 1 (Tan) ---------------------- */
#left-rail-home .promo-option-1 .header {
	color: #ffffff;
	background-color: #161A0C;	
}

#left-rail-home .promo-option-1 .body {
	color: #231606;
	background-color: #FBF4EB;
	height: 136px;
}

#left-rail-home .promo-option-1 .body a,
#left-rail-home .promo-option-1 .body a:link,
#left-rail-home .promo-option-1 .body a:visited, 
#left-rail-home .promo-option-1 .body a:active {
	color: #cc7100;
}

/* Home Left Rail - Option 2 (Red) ---------------------- */
#left-rail-home .promo-option-2 .header {
	color: #ffffff;
	background-color: #be0e12;	
}

#left-rail-home .promo-option-2 .body {
	color: #5d3f3f;
	background-color: #f8f3f3;
	height: 136px;
}

#left-rail-home .promo-option-2 .body a,
#left-rail-home .promo-option-2 .body a:link,
#left-rail-home .promo-option-2 .body a:visited, 
#left-rail-home .promo-option-2 .body a:active {
	color: #be0e12;
}

/* -------------------------------------------------------------------------
 Right Rail Content Blocks
 (Specialized settings and themes for Right Rail)
---------------------------------------------------------------------------- */
/* Account Services Theme ---------------------- */
#right-rail .account-services .header {
	color: #63AECF;
	background-color: #000000;	
}

#right-rail .account-services .body {
	color: #FFFFFF;
	background-color: #3F3F3F;
}

#right-rail .account-services .list-item a,
#right-rail .account-services .list-item a:link,
#right-rail .account-services .list-item a:visited, 
#right-rail .account-services .list-item a:active {
	font-weight: normal;
	color: #FFFFFF;
}

/* -------------------------------------------------------------------------
 Bottom Promo Content Blocks
 (Specialized settings and themes for Bottom Promo)
---------------------------------------------------------------------------- */
#bottom-promo .content-block {
	height: 100%; /* force height to match tallest block in region */
}

#bottom-promo .content-block .header,
#bottom-promo .content-block .header a,
#bottom-promo .content-block .header a:link,
#bottom-promo .content-block .header a:visited, 
#bottom-promo .content-block .header a:active,
#bottom-promo .content-block .header a:hover {
	font-size: 12px;
	font-weight: bold;
	margin: 0px 0px 7px 0px;
	background-color: #404040;
}

#bottom-promo .content-block .body {
	background-color: #FFFFFF;
	padding: 7px;
	height: 100%;
}

/* 'Promo Blue' Theme ---------------------- */
#bottom-promo .promo-blue .header,
#bottom-promo .promo-blue .header a,
#bottom-promo .promo-blue .header a:link,
#bottom-promo .promo-blue .header a:visited, 
#bottom-promo .promo-blue .header a:active,
#bottom-promo .promo-blue .header a:hover {
	text-decoration: none;
	color: #67C6DD;	
}

#bottom-promo .promo-blue .body {
	background-color: #E6F6F9;
}

#bottom-promo .promo-blue .body a,
#bottom-promo .promo-blue .body a:link,
#bottom-promo .promo-blue .body a:visited, 
#bottom-promo .promo-blue .body a:active {
	color: #0293C0;
}

/* 'Promo Blue Geo' Theme ---------------------- */
#bottom-promo .promo-blue-geo .header,
#bottom-promo .promo-blue-geo .header a,
#bottom-promo .promo-blue-geo .header a:link,
#bottom-promo .promo-blue-geo .header a:visited, 
#bottom-promo .promo-blue-geo .header a:active,
#bottom-promo .promo-blue-geo .header a:hover {
	text-decoration: none;
	color: #67C6DD;	
}

#bottom-promo .promo-blue-geo .body {
	background-color: #E6F6F9;
	background-image: url(../img/promo-background.jpg)/*tpa=http://www.centerpointenergy.com/staticfiles/CNP/Common/SiteAssets/img/promo-background.jpg*/;
	background-repeat: no-repeat;
	background-position: top;
}

#bottom-promo .promo-blue-geo .body a,
#bottom-promo .promo-blue-geo .body a:link,
#bottom-promo .promo-blue-geo .body a:visited, 
#bottom-promo .promo-blue-geo .body a:active {
	color: #0293C0;
}

/* 'Promo Orange' Theme ---------------------- */
#bottom-promo .promo-orange .header,
#bottom-promo .promo-orange .header a,
#bottom-promo .promo-orange .header a:link,
#bottom-promo .promo-orange .header a:visited, 
#bottom-promo .promo-orange .header a:active,
#bottom-promo .promo-orange .header a:hover {
	text-decoration: none;
	color: #FF7F00;
}

#bottom-promo .promo-orange .body {
	background-color: #FEF2E0;
}

#bottom-promo .promo-orange .body a,
#bottom-promo .promo-orange .body a:link,
#bottom-promo .promo-orange .body a:visited, 
#bottom-promo .promo-orange .body a:active {
	color: #FF7F00;
}

/* 'Promo Orange Padded' Theme ---------------------- */
#bottom-promo .promo-orange-padded .header {
	margin-top: 22px;
}

#bottom-promo .promo-orange-padded .header,
#bottom-promo .promo-orange-padded .header a,
#bottom-promo .promo-orange-padded .header a:link,
#bottom-promo .promo-orange-padded .header a:visited, 
#bottom-promo .promo-orange-padded .header a:active,
#bottom-promo .promo-orange-padded .header a:hover {
	text-decoration: none;
	color: #FF7F00;
}

#bottom-promo .promo-orange-padded .body {
	background-color: #FEF2E0;
}

#bottom-promo .promo-orange-padded .body a,
#bottom-promo .promo-orange-padded .body a:link,
#bottom-promo .promo-orange-padded .body a:visited, 
#bottom-promo .promo-orange-padded .body a:active {
	color: #FF7F00;
}

/* 'Promo Gray' Theme ---------------------- */
#bottom-promo .promo-gray .header,
#bottom-promo .promo-gray .header a,
#bottom-promo .promo-gray .header a:link,
#bottom-promo .promo-gray .header a:visited, 
#bottom-promo .promo-gray .header a:active,
#bottom-promo .promo-gray .header a:hover {
	text-decoration: none;
	color: #A6A6A6;
}

#bottom-promo .promo-gray .body {
	background-color: #EDEDED;
}

#bottom-promo .promo-gray .body a,
#bottom-promo .promo-gray .body a:link,
#bottom-promo .promo-gray .body a:visited, 
#bottom-promo .promo-gray .body a:active {
	color: #0293C0;
}

/* 'Promo Green' Theme ---------------------- */
#bottom-promo .promo-green .header,
#bottom-promo .promo-green .header a,
#bottom-promo .promo-green .header a:link,
#bottom-promo .promo-green .header a:visited, 
#bottom-promo .promo-green .header a:active,
#bottom-promo .promo-green .header a:hover {
	text-decoration: none;
	color: #03AFB6;
}

#bottom-promo .promo-green .body {
	background-color: #E6F2F3;
}

#bottom-promo .promo-green .body a,
#bottom-promo .promo-green .body a:link,
#bottom-promo .promo-green .body a:visited, 
#bottom-promo .promo-green .body a:active {
	color: #088489;
}

/* 'Promo Green Padded' Theme ---------------------- */
#bottom-promo .promo-green-padded .header {
	margin-top: 22px;
}

#bottom-promo .promo-green-padded .header,
#bottom-promo .promo-green-padded .header a,
#bottom-promo .promo-green-padded .header a:link,
#bottom-promo .promo-green-padded .header a:visited, 
#bottom-promo .promo-green-padded .header a:active,
#bottom-promo .promo-green-padded .header a:hover {
	text-decoration: none;
	color: #03AFB6;
}

#bottom-promo .promo-green-padded .body {
	background-color: #E6F2F3;
}

#bottom-promo .promo-green-padded .body a,
#bottom-promo .promo-green-padded .body a:link,
#bottom-promo .promo-green-padded .body a:visited, 
#bottom-promo .promo-green-padded .body a:active {
	color: #088489;
}

/* 'Promo Lawn' Theme ---------------------- */
#bottom-promo .promo-lawn .header,
#bottom-promo .promo-lawn .header a,
#bottom-promo .promo-lawn .header a:link,
#bottom-promo .promo-lawn .header a:visited, 
#bottom-promo .promo-lawn .header a:active,
#bottom-promo .promo-lawn .header a:hover {
	text-decoration: none;
	color: #BCE6BE;
}

#bottom-promo .promo-lawn .body {
	background-color: #EDFBEE;
}

#bottom-promo .promo-lawn .body a,
#bottom-promo .promo-lawn .body a:link,
#bottom-promo .promo-lawn .body a:visited, 
#bottom-promo .promo-lawn .body a:active {
	color: #225E26;
}

/* 'Promo Sand' Theme ---------------------- */
#bottom-promo .promo-sand .header,
#bottom-promo .promo-sand .header a,
#bottom-promo .promo-sand .header a:link,
#bottom-promo .promo-sand .header a:visited, 
#bottom-promo .promo-sand .header a:active,
#bottom-promo .promo-sand .header a:hover {
	text-decoration: none;
	color: #DFD6AC;
}

#bottom-promo .promo-sand .body {
	background-color: #F1EBCF;
}

#bottom-promo .promo-sand .body a,
#bottom-promo .promo-sand .body a:link,
#bottom-promo .promo-sand .body a:visited, 
#bottom-promo .promo-sand .body a:active {
	color: #5D5634;
}

/* 'Promo HSP' Theme ---------------------- */
#bottom-promo .promo-hsp .header {
	display: none;
}
	
#bottom-promo .promo-hsp .header a,
#bottom-promo .promo-hsp .header a:link,
#bottom-promo .promo-hsp .header a:visited, 
#bottom-promo .promo-hsp .header a:active,
#bottom-promo .promo-hsp .header a:hover {}

#bottom-promo .promo-hsp .body {
	padding: 0px;
	margin: 0px;
	background-color: #E6F6F9;
}

#bottom-promo .promo-hsp .body a img {
	border: 0px;	
}

#bottom-promo .promo-hsp .body .logo {
	height: 39px;
	background-image: url(Unknown_83_filename)/*tpa=http://www.centerpointenergy.com/staticfiles/CNP/Common/SiteAssets/img/shim-hsp-logo.gif*/;
	background-repeat: repeat-x;
	padding: 0px;
}

#bottom-promo .promo-hsp .body .content {
	margin: 7px;
}

[if IE] #bottom-promo .promo-hsp .body .content {   
	margin-top: 3px;   
} 

#bottom-promo .promo-hsp .body .content p {
	margin-bottom: 3px;
}

#bottom-promo .promo-hsp .body .content img {
	margin: 5px 0px;
}

#bottom-promo .promo-hsp .body .content ul {
	margin: 0px;
	padding: 0px;
}

#bottom-promo .promo-hsp .body .content li {
	margin-left: 22px;
	margin-bottom: 6px;
	list-style-image: url(Unknown_83_filename)/*tpa=http://www.centerpointenergy.com/staticfiles/CNP/Common/SiteAssets/img/bullet-hsp-plus.gif*/;
}

#bottom-promo .promo-hsp .body .content a,
#bottom-promo .promo-hsp .body .content a:link,
#bottom-promo .promo-hsp .body .content a:visited, 
#bottom-promo .promo-hsp .body .content a:active {
	color: #0293C0;
}

/* -------------------------------------------------------------------------
 CNP Homepage Redesign CSS for Bottom Promo
---------------------------------------------------------------------------- */

/* Home Page Promo Theme ---------------------- */
#bottom-promo .promo-home-box-1 .body,
#bottom-promo .promo-home-box-2 .body,
#bottom-promo .promo-home-box-3 .body { 
	min-height: 73px;
	max-height: 73px;
}

#bottom-promo .promo-home-box-1 .header,
#bottom-promo .promo-home-box-1 .header a,
#bottom-promo .promo-home-box-1 .header a:link,
#bottom-promo .promo-home-box-1 .header a:visited, 
#bottom-promo .promo-home-box-1 .header a:active,
#bottom-promo .promo-home-box-2 .header,
#bottom-promo .promo-home-box-2 .header a,
#bottom-promo .promo-home-box-2 .header a:link,
#bottom-promo .promo-home-box-2 .header a:visited, 
#bottom-promo .promo-home-box-2 .header a:active,
#bottom-promo .promo-home-box-3 .header,
#bottom-promo .promo-home-box-3 .header a,
#bottom-promo .promo-home-box-3 .header a:link,
#bottom-promo .promo-home-box-3 .header a:visited, 
#bottom-promo .promo-home-box-3 .header a:active {
	font-size: 14px;
	color: #FFFFFF;
	background-image: url("../img/bottom-promo-homebox-header.jpg")/*tpa=http://www.centerpointenergy.com/staticfiles/CNP/Common/SiteAssets/img/bottom-promo-homebox-header.jpg*/;
	background-color: #FFFFFF;
	background-position: left center;
	background-repeat: no-repeat;
	height: 34px;
	line-height: 34px;
	margin: 0px;
	text-decoration: none;
}

#bottom-promo .promo-home-box-1 .header a:hover,
#bottom-promo .promo-home-box-2 .header a:hover,
#bottom-promo .promo-home-box-3 .header a:hover {
	text-decoration: underline;
	margin: 0px;
}

#bottom-promo .promo-home-box-1 .header .heading-text,
#bottom-promo .promo-home-box-1 .header .heading-text a,
#bottom-promo .promo-home-box-1 .header .heading-text a:link,
#bottom-promo .promo-home-box-1 .header .heading-text a:visited, 
#bottom-promo .promo-home-box-1 .header .heading-text a:active,
#bottom-promo .promo-home-box-1 .header .heading-text a:hover,
#bottom-promo .promo-home-box-2 .header .heading-text,
#bottom-promo .promo-home-box-2 .header .heading-text a,
#bottom-promo .promo-home-box-2 .header .heading-text a:link,
#bottom-promo .promo-home-box-2 .header .heading-text a:visited, 
#bottom-promo .promo-home-box-2 .header .heading-text a:active,
#bottom-promo .promo-home-box-2 .header .heading-text a:hover,
#bottom-promo .promo-home-box-3 .header .heading-text,
#bottom-promo .promo-home-box-3 .header .heading-text a,
#bottom-promo .promo-home-box-3 .header .heading-text a:link,
#bottom-promo .promo-home-box-3 .header .heading-text a:visited, 
#bottom-promo .promo-home-box-3 .header .heading-text a:active,
#bottom-promo .promo-home-box-3 .header .heading-text a:hover {
	background-color: transparent;
	background-image: none;
	font-size: 14px;
	padding: 0px 0px 0px 3px;
}

#bottom-promo .promo-home-box-1 .body,
#bottom-promo .promo-home-box-2 .body,
#bottom-promo .promo-home-box-3 .body {
	font-size: 10px;
  	color: #4D4D4D;
	/*background-image: url("/staticfiles/CNP/Common/SiteAssets/img/bottom-promo-homebox-body.jpg");
	background-repeat: no-repeat;
	background-position: bottom right;*/
	border-bottom: 1px solid #D7D7D7;
	border-left: 1px solid #D7D7D7;
	background-color: #FFFFFF;
	background-image: url("../img/homepage-gradient-blue-vertical.jpg")/*tpa=http://www.centerpointenergy.com/staticfiles/CNP/Common/SiteAssets/img/homepage-gradient-blue-vertical.jpg*/;
	background-repeat: repeat-x;
	background-attachment: scroll;
	background-position: left bottom;
	height: 73px;
	padding: 15px;
}

#bottom-promo .promo-home-box-1 .body p,
#bottom-promo .promo-home-box-2 .body p,
#bottom-promo .promo-home-box-3 .body p{
	background-image: none;
}

#bottom-promo .promo-home-box-1 .body td,
#bottom-promo .promo-home-box-2 .body td,
#bottom-promo .promo-home-box-3 .body td {
  	color: #4D4D4D;
	font-size: 10px;
}

#bottom-promo .promo-home-box-1 .body a,
#bottom-promo .promo-home-box-1 .body a:link,
#bottom-promo .promo-home-box-1 .body a:visited,
#bottom-promo .promo-home-box-1 .body a:hover,
#bottom-promo .promo-home-box-1 .body a:active,
#bottom-promo .promo-home-box-2 .body a,
#bottom-promo .promo-home-box-2 .body a:link,
#bottom-promo .promo-home-box-2 .body a:visited,
#bottom-promo .promo-home-box-2 .body a:hover,
#bottom-promo .promo-home-box-2 .body a:active,
#bottom-promo .promo-home-box-3 .body a,
#bottom-promo .promo-home-box-3 .body a:link,
#bottom-promo .promo-home-box-3 .body a:visited,
#bottom-promo .promo-home-box-3 .body a:hover,
#bottom-promo .promo-home-box-3 .body a:active {
	color: #0293C0;
}



/* -------------------------------------------------------------------------
 List Services Menu
---------------------------------------------------------------------------- */
#list-services-menu {
	margin: 0px 0px 0px 10px;
	display: none;
	border: 1px solid blue;
}

#list-services-menu .group {
	vertical-align: top;
	padding: 0px 21px 10px 0px;
}

#list-services-menu .nav-item-main a {
	font-weight: bold;
}

#list-services-menu .nav-item a,
#list-services-menu .nav-item a:link,
#list-services-menu .nav-item a:visited,
#list-services-menu .nav-item a:active {
	font-size: 11px;
	color: #083976;
	text-decoration: none;
}

#list-services-menu .nav-item a:hover {
	text-decoration: underline;
}



/* -------------------------------------------------------------------------
 Site Map
---------------------------------------------------------------------------- */
#site-map {
	padding: 0px;
	width: 100%;
	border: 0px;
}

#site-map td.column-1,
#site-map td.column-2 {
	padding: 0px 10px 10px 0px;
	vertical-align: top;
	width: 33%;
}

#site-map td.column-3 {
	padding: 0px 0px 10px 0px;
	vertical-align: top;
	width: 34%;
}

#site-map .sub-column-1,
#site-map .sub-column-2,
#site-map .sub-column-3 {
	float: left;
	border: 0px;
}


#site-map .services .nav-item-1 {
	font-weight: bold
	font-size: 11px;
	color: #3f3f3f;
	text-decoration: none;
	text-transform: uppercase;
	background-color: #eeeeee;
	padding: 4px;
	border: 0px;
}

#site-map .services .nav-item-1 a,
#site-map .services .nav-item-1 a:link,
#site-map .services .nav-item-1 a:visited,
#site-map .services .nav-item-1 a:active {
	font-weight: bold;
	font-size: 11px;
	color: #3f3f3f;
	text-decoration: none;
	text-transform: uppercase;
	background-color: #eeeeee;
}

#site-map .services .nav-item-1 a:hover  {
	color: #141414;
	text-decoration: underline;
}

#site-map .nav-item-1 {
	padding: 0px;
	border-bottom: #00aa9e 1px solid;
}
#site-map .nav-item-1 a,
#site-map .nav-item-1 a:link,
#site-map .nav-item-1 a:visited,
#site-map .nav-item-1 a:active {
	font-weight: bold;
	font-size: 18px;
	color: #00aa9e;
	text-decoration: none;
}
#site-map .nav-item-1 a:hover {
	color: #019086;
	text-decoration: none;
}

#site-map .nav-item-2 {
	padding: 6px 0px 0px 4px;
}

#site-map .nav-item-2 .bullet {
	display: none;
}

#site-map .nav-item-2 a,
#site-map .nav-item-2 a:link,
#site-map .nav-item-2 a:visited,
#site-map .nav-item-2 a:active {
	font-weight: bold;
	font-size: 11px;
	color: #3f3f3f;
	text-decoration: none;
}

#site-map .nav-item-2 a:hover {
	color: #141414;
	text-decoration: underline;
}

#site-map .nav-item-3 {
	padding: 2px 5px 2px 18px;
}

#site-map .nav-item-3 .bullet {
	background-image: url(../img/bullet-sitemap-arrow-blue.gif)/*tpa=http://www.centerpointenergy.com/staticfiles/CNP/Common/SiteAssets/img/bullet-sitemap-arrow-blue.gif*/;
	width: 9px;
	background-repeat: no-repeat;
	vertical-align: text-bottom;
}

#site-map .nav-item-3 a,
#site-map .nav-item-3 a:link,
#site-map .nav-item-3 a:visited,
#site-map .nav-item-3 a:active {
	font-size: 10px;
	color: #3f3f3f;
	text-decoration: none;
}

#site-map .nav-item-3 a:hover {
	color: #141414;
	text-decoration: underline;
}

#site-map .nav-item-4 {
	padding: 2px 5px 2px 30px;
}

#site-map .nav-item-4 .bullet {
	background-image: url(../img/bullet-sitemap-dot-blue.gif)/*tpa=http://www.centerpointenergy.com/staticfiles/CNP/Common/SiteAssets/img/bullet-sitemap-dot-blue.gif*/;
	width: 9px;
	background-repeat: no-repeat;
}

#site-map .nav-item-4 A,
#site-map .nav-item-4 A:link,
#site-map .nav-item-4 A:visited,
#site-map .nav-item-4 A:active {
	font-size: 10px;
	color: #3f3f3f;
	text-decoration: none;
}

#site-map .nav-item-4 A:hover {
	color: #141414;
	text-decoration: underline;
}

#site-map .nav-item-5 {
	display: none;
}

/*
==========
OLD STYLES
==========
#site-map {
	padding: 0px 14px 0px 14px;
	width: 100%;
}

#site-map .group-1 {
	vertical-align: top;
	width: 100%;
	margin: 0px 0px 14px 0px;
}

#site-map .nav-item-1 {
	padding: 0px;
	border-bottom: 1px solid #00AA9E;
}

#site-map .nav-item-1 a,
#site-map .nav-item-1 a:link,
#site-map .nav-item-1 a:visited,
#site-map .nav-item-1 a:active {
	font-size: 18px;
	font-weight: bold;
	color: #00AA9E;
	text-decoration: none;
}


#site-map .group-2 {
	vertical-align: top;
	width: 100%;
}

#site-map .nav-item-2 {
	padding: 7px 0px 0px 0px;
}

#site-map .nav-item-2 a,
#site-map .nav-item-2 a:link,
#site-map .nav-item-2 a:visited,
#site-map .nav-item-2 a:active {
	font-size: 14px;
	font-weight: bold;
	color: #083976;
	text-decoration: none;
}

#site-map .group-3 {
	vertical-align: top;
	display: block;
	width: 100%;
}

#site-map .nav-item-3 {
	padding: 0px;
}

#site-map .nav-item-3 a,
#site-map .nav-item-3 a:link,
#site-map .nav-item-3 a:visited,
#site-map .nav-item-3 a:active {
	font-size: 12px;
	font-weight: bold;
	color: #083976;
	text-decoration: none;
}


#site-map .group-4 {
	float: left;
	width: 250px;
	display: block;
	vertical-align: top;
	margin: 0px 0px 7px 0px;
}

#site-map .nav-item-4 {
	padding: 0px;
}

#site-map .nav-item-4 a,
#site-map .nav-item-4 a:link,
#site-map .nav-item-4 a:visited,
#site-map .nav-item-4 a:active {
	font-size: 11px;
	color: #083976;
	text-decoration: none;
}

#site-map .nav-item-5 {
	padding: 0px 0px 0px 14px;
}

#site-map .nav-item-5 a,
#site-map .nav-item-5 a:link,
#site-map .nav-item-5 a:visited,
#site-map .nav-item-5 a:active {
	font-size: 11px;
	color: #083976;
	text-decoration: none;
}

#site-map .nav-item-1 a:hover,
#site-map .nav-item-2 a:hover,
#site-map .nav-item-3 a:hover,
#site-map .nav-item-4 a:hover,
#site-map .nav-item-5 a:hover {
	text-decoration: underline;
}

#site-map .nav-item-1 .bullet,
#site-map .nav-item-2 .bullet,
#site-map .nav-item-3 .bullet,
#site-map .nav-item-4 .bullet,
#site-map .nav-item-5 .bullet {
	display: none;
}
*/



/* -------------------------------------------------------------------------
 Footer Content
 (For standard footer and Home page footer)
---------------------------------------------------------------------------- */
#footer .copyright,
#footer-home .copyright {
	font-size: 9px;
	color: #999999;
}

#footer .navigation,
#footer-home .navigation {
	text-align: right;
}

#footer .navigation .nav-item,
#footer-home .navigation .nav-item {
	padding-right: 10px;
}

#footer .navigation .nav-item a,
#footer .navigation .nav-item a:link,
#footer .navigation .nav-item a:visited,
#footer .navigation .nav-item a:active,
#footer-home .navigation .nav-item a,
#footer-home .navigation .nav-item a:link,
#footer-home .navigation .nav-item a:visited,
#footer-home .navigation .nav-item a:active {
	font-size: 9px;
	color: #999999;
	text-transform: uppercase;
}



/* -------------------------------------------------------------------------
 Base Content List
 (Main list of content on standard landing pages, rendering just below
  the Page Overview)
---------------------------------------------------------------------------- */
#base-content-list {
	padding: 0px;
	margin: 0px 7px 0px 10px;
}



/* -------------------------------------------------------------------------
 Home News List
 (Latest news items displayed on the Home page NewsRoom portlet) 
---------------------------------------------------------------------------- */
#home-news {
	height: 122px;
	width: 520px;
	border-bottom: 1px solid #D7D7D7;
	border-left: 1px solid #D7D7D7;
	background-color: #FFFFFF;
	background-image: url("../img/homepage-gradient-blue-vertical.jpg")/*tpa=http://www.centerpointenergy.com/staticfiles/CNP/Common/SiteAssets/img/homepage-gradient-blue-vertical.jpg*/;
	background-repeat: repeat-x;
	background-attachment: scroll;
	background-position: left bottom;
	/*padding: 10px;*/
}

#home-news .header {
	font-family: Arial, Sans-Serif;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	color: #ff6600;
	background-color: #FFFFFF;
	width: auto;
	/*padding: 10px 10px 5px 10px;*/
	padding: 2px 10px 4px 10px;
}

#home-news .header .icon  {}

#home-news .header a,
#home-news .header a:link,
#home-news .header a:visited, 
#home-news .header a:active {
	font-family: Arial, Sans-Serif;
	font-size: 12px;
	font-weight: bold;
	color: #ff6600;
	text-decoration: none;
}

#home-news .header a:hover {
	text-decoration: underline;
}

#home-news .body {
	/*padding: 7px 0px 3px 0px;*/
	padding: 4px 10px 10px 10px;
}

#home-news .body .homepage-news-list {
	margin: 0px;
	padding: 0px 20px;
	/*color: #3FB2E3;*/
	color: #4d4d4d;
	list-style-type: disc;
}

#home-news .body .list-item {
	padding: 0px 0px 4px 0px;
}

#home-news .body .list-item a,
#home-news .body .list-item a:link,
#home-news .body .list-item a:visited, 
#home-news .body .list-item a:active {
	font-family: Arial, Sans-Serif;
	font-size: 11px;
	color: #3FB2E3;
	text-decoration: none;
}

#home-news .body .list-item a:hover {
	text-decoration: underline;
}

#home-news .body .list-item .title .date {
	font-family: Arial, Sans-Serif;
	font-size: 10px;
	color: #4D4D4D;
	display: none; /* Disabling the date display */
}

#home-news .body .list-item .description {
	display: none; /* Disabling the description display */
}

#home-news .more-link {
	padding-right: 3px;
	text-align: right;
}

#home-news .more-link a,
#home-news .more-link a:link,
#home-news .more-link a:visited, 
#home-news .more-link a:active {
	font-family: Arial, Sans-Serif;
	font-size: 11px;
	color: #0293C0;
	text-decoration: none;
}

#home-news .more-link a:hover {
	color: #0269C0;
	text-decoration: underline;
}



/* -------------------------------------------------------------------------
 Promotion Detail
---------------------------------------------------------------------------- */
#promotion {
	width: 100%;
	margin: 0px 0px 14px 0px;
}

#promotion .title {
	font-family: Arial, Sans-Serif;
	color: #00AA9E;
	font-size: 18px;
	text-transform: uppercase;
	width: 100%;
	b/order-bottom: solid 1px #7FD4CE;
}

#promotion .subtitle {
	font-family: Arial, Sans-Serif;
	color: #668187;
	font-size: 14px;
	text-transform: uppercase;	
}

#promotion .body {
	margin: 14px 10px 0px 0px;
	padding-left: 2px;	/* Added to prevent cut-off letters (e.g. 'W') */
}

#promotion .body .image {
	margin: 0px 10px 10px 0px;
	float: left;
}

#promotion .body .text {
	font-family: Arial, Sans-Serif;
	vertical-align: top;
}

#promotion #bottom-promo {
	width: 100%;
	margin: 7px 0px 0px 0px;
}

#promotion .content-block {
	width: 280px;
	float: left;
	display: table-cell;
	margin: 0px 7px 0px 0px;
}

#promotion .content-block-last  {
	width: 279px;
	margin: 0px;
}

#promotion .content-block .body {
	margin: 0px;
}

	/*=================================   Begin inline styles   ================================*/
	/*  NOTE: Prefix all EWEP styles with ".article-detail .body .text"  						*/
	  /* ---------------------------------------------------
	   Paragraph Settings
	  ------------------------------------------------------ */
	  #promotion .body .text p {
		margin: 4px 0px 11px 0px;
	  }

	  #promotion .body .text p.heading {
		/* (EWEP) caption: Heading;*/
		font-size: 11px;
		color: #000000;
		font-weight: bold;
		border-bottom: solid 1px #A0D7E7;
		margin: 4px 0px 0px 0px;
	  }

	/*=================================   End inline styles   ================================*/ 



/* -------------------------------------------------------------------------
 Article/Form Detail
 (The detail views for both Articles and Forms are currently identical)
---------------------------------------------------------------------------- */
.article-detail {
	width: 100%;
	margin: 0px 0px 14px 0px;
}

.article-detail .form-title {
	font-family: Arial, Sans-Serif;
	color: #00AA9E;
	font-size: 18px;
	text-transform: uppercase;
	width: 100%;
}

.article-detail .title {
	font-family: Arial, Sans-Serif;
	color: #00AA9E;
	font-size: 18px;
	text-transform: uppercase;
	width: 100%;
	border-bottom: solid 1px #7FD4CE;
}

.article-detail .subtitle {
	font-family: Arial, Sans-Serif;
	color: #668187;
	font-size: 14px;
	text-transform: uppercase;	
}

.article-detail .body {
	margin: 14px 10px 0px 0px;
	padding-left: 2px;	/* Added to prevent cut-off letters (e.g. 'W') */
}

.article-detail .body .image {
	margin: 0px 10px 10px 0px;
	float: left;
}

.article-detail .body .text {
	font-family: Arial, Sans-Serif;
	vertical-align: top;
}

/*=================================   Begin inline styles   ================================*/
/*  NOTE: Prefix all EWEP styles with ".article-detail .body .text"  						*/

  /* ---------------------------------------------------
  Image Settings
  ------------------------------------------------------ */
  .article-detail .body .text img,
  .article-detail .body .text .text img.image-left {
	  /* (EWEP) caption: Image (Left);*/
	  margin: 0px 10px 5px 0px;
	  float: left;
  }

  .article-detail .body .text img.image-right {
	  /* (EWEP) caption: Image (Right);*/
	  margin: 0px 0px 5px 10px;
	  float: right;
  }

  .article-detail .body .text img.image-center {
	  /* (EWEP) caption: Image (Center);*/
	  display: block;
	  margin: 0px 10px 5px 10px;
	  float: none;
	  text-align: center;
	}

  /* ---------------------------------------------------
   Paragraph Settings
  ------------------------------------------------------ */
  .article-detail .body .text p {
	margin: 4px 0px 11px 0px;
  }

  .article-detail .body .text p.heading {
	/* (EWEP) caption: Heading;*/
	font-size: 11px;
	color: #000000;
	font-weight: bold;
	border-bottom: solid 1px #A0D7E7;
	margin: 4px 0px 0px 0px;
  }

  .article-detail .body .text p.footnote {
/* (EWEP) caption: Footnote;*/
font-size: 9px;
color: #666666;
}

.article-detail .body .text p.callout-blue {
/* (EWEP) caption: Callout Box (Blue);*/
background-color: #E4F0F8;
padding: 3px;
}

.article-detail .body .text p.callout-orange {
/* (EWEP) caption: Callout Box (Orange);*/
background-color: #FEF2E0;
padding: 10px;
}

/* ---------------------------------------------------
List Settings
------------------------------------------------------ */
.article-detail .body .text ul {
m/argin: 8px 0px 8px 18px;
list-style-position: outside;
}

.article-detail .body .text ul.bullet-blue {
/* (EWEP) caption: List (Blue);*/
list-style-image: url('Unknown_83_filename')/*tpa=http://www.centerpointenergy.com/staticfiles/CNP/Common/SiteAssets/img/bullet-blue.gif*/;
}

.article-detail .body .text ul.bullet-orange {
/* (EWEP) caption: List (Orange);*/
list-style-image: url('Unknown_83_filename')/*tpa=http://www.centerpointenergy.com/staticfiles/CNP/Common/SiteAssets/img/bullet-orange.gif*/;
}

.article-detail .body .text ul.bullet-checkmark {
/* (EWEP) caption: List (Checkmark);*/
list-style-image: url('../img/bullet-checkmark.gif')/*tpa=http://www.centerpointenergy.com/staticfiles/CNP/Common/SiteAssets/img/bullet-checkmark.gif*/;
}

/* ---------------------------------------------------
Table Settings
------------------------------------------------------ */
.article-detail .body .text table {
width: 100%;
}

.article-detail .body .text table.chart {
/* (EWEP) caption: Chart;*/
margin: 8px 0px 11px 0px;
width: 100%;
padding: 5px 5px 5px 5px;
text-align: center;
vertical-align: middle;
border-collapse: collapse;
border: solid 1px #888888;
}

.article-detail .body .text table.chart td {
/* (EWEP) caption: Chart (Cell);*/
padding: 5px 5px 5px 5px;
text-align: center;
vertical-align: middle;
border: solid 1px #888888;
}

.article-detail .body .text table td.chart-heading {
/* (EWEP) caption: Chart (Heading);*/
text-transform: uppercase;
font-weight: bold;
background-color: #E6F6F9;
text-transform: uppercase;
}

.article-detail .body .text table.form {
/* (EWEP) caption: Form;*/
margin: 8px 0px 11px 0px;
border: solid 1px #E6F6F9;
width: 100%;
padding: 5px 5px 5px 5px;
border-collapse: separate;
}

.article-detail .body .text table.form td {
/* (EWEP) caption: Form (Cell);*/
background-color: #FFFFFF;
text-align: left;
padding-left: 10px;
vertical-align: top;
border: none;
}

.article-detail .body .text table td.form-field-name {
/* (EWEP) caption: Form (Field Name);*/
background-color: #E6F6F9;
text-align: right;
vertical-align: top;
padding: 9px 10px 9px 10px;
width: 188px;
border: none;
}

/*table td.form-field-input {
* (EWEP) caption: Form (Field Input);*
background-color: #FFFFFF;
text-align: left;
padding-left: 10px;
vertical-align: top;
border: none;
}*/
/*=================================   End inline styles   ================================*/ 

/*=================================   Begin popup format styles   ========================*/
.article-detail-popup,
.article-detail-popup table.body {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

/* Turn off title/subtitle in 'popup' format */
.article-detail-popup .title,
.article-detail-popup .subtitle {
	display:none;
}

.article-detail-popup table {
	width: 1%;
	border: solid 1px black;
	position: absolute;
	top: 0px;
	left: 0px;
}

.article-detail-popup .lead {
	vertical-align: top;
	text-align: right;
	padding: 0px;	
}

.article-detail-popup .close-link {
	vertical-align: top;
	text-align: right;
	padding: 2px 5px 0px 0px;
	background-color: #000000;
	height: 30px;
}

.article-detail-popup .close-link a,
.article-detail-popup .close-link a:link,
.article-detail-popup .close-link a:visited, 
.article-detail-popup .close-link a:active {
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: none;
	text-transform: uppercase;
}

.article-detail-popup .close-link a:hover {
	text-decoration: underline;
}

.article-detail-popup .lead-text {
	text-align: right;
	font-size: 28px;
	font-family: "Times New Roman", Times, Helvetica;
	color: #FFFFFF;
	padding: 0px 15px 15px 0px;
	background-color: #000000;
	height: 130px;
}

.article-detail-popup .heading {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	font-family: "Times New Roman", Times, Helvetica;
	color: #000000;
	border-top: 1px solid #000000;
	border-right: 0px solid #000000;
	border-left: 1px solid #000000;
	background-color: #FFFFFF;
	padding: 5px;
	height: 40px;
}

.article-detail-popup .heading .reg {
	font-family: Arial, Sans-Serif;
	font-size: 11px;
	padding-left: 3px;
}

.article-detail-popup .sub-heading {
	text-align: right;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	padding: 3px 5px 0px 0px;
	background-color: #0181AB;
	height: 26px;
	padding: 5px;
}

.article-detail-popup .body {
	padding: 10px 140px 10px 15px;
}

.article-detail-popup .footer {
	padding: 0px 5px 5px 15px;
}

.another{}
/*=================================   End popup format styles   ================================*/ 



/* -------------------------------------------------------------------------
 News Detail 
---------------------------------------------------------------------------- */
.news-detail {
	width: 100%;
	margin: 0px 0px 14px 0px;
}

.news-detail .title {
	font-family: Arial, Sans-Serif;
	color: #00AA9E;
	font-size: 13px;
	text-transform: uppercase;
	width: 100%;
	border-bottom: solid 1px #7FD4CE;
}

.news-detail .subtitle {
	font-family: Arial, Sans-Serif;
	color: #668187;
	font-size: 11px;
	text-transform: uppercase;
	margin: 0px 0px 5px 0px;	
}

.news-detail .source {}

.news-detail .byline {}

.news-detail .body {
	margin: 14px 10px 0px 0px;
	padding-left: 2px;	/* Added to prevent cut-off letters (e.g. 'W') */
}

.news-detail .body .image {
	margin: 0px 10px 10px 0px;
	float: left;
}

.news-detail .body .text {
	font-family: Arial, Sans-Serif;
	vertical-align: top;
}

/*=================================   Begin inline styles   ================================*/
/*  NOTE: Prefix all EWEP styles with ".news-detail .body .text"				*/

/* ---------------------------------------------------
Paragraph Settings
------------------------------------------------------ */
.news-detail .body .text p {
margin: 4px 0px 11px 0px;
}

.news-detail .body .text p.heading {
/* (EWEP) caption: Heading;*/
font-size: 11px;
color: #000000;
font-weight: bold;
border-bottom: solid 1px #A0D7E7;
margin: 4px 0px 0px 0px;
}

.news-detail .body .text p.footnote {
/* (EWEP) caption: Footnote;*/
font-size: 9px;
color: #666666;
}
/*=================================   End inline styles   ================================*/



/* -------------------------------------------------------------------------
 Contact Us Custom Styles
---------------------------------------------------------------------------- */
/* OLD 
	#contact table {
		width: 100%;
		margin: 10px 15px 25px 15px;
		padding: 0px;
		border: 0px;
		border-bottom: solid 1px #c6e1e6; 
	}
	
	#contact table tr td {
		vertical-align: top;
		line-height: 16px;
		padding: 4px 8px;
		border-top: solid 1px #c6e1e6;
	}
	
	#contact td.details {
		padding-top: 0px;
		border-top: 0px;
	}
	
	#contact td.head {
		background-color: #257eaa;
		color: #ffffff;
		font-size: 11px;
		font-weight: bold;
		border: 0px;	
	}
	
	#contact tr.hlite {
		background-color:#f6fcfd;
	}
	
	#contact td table {
		width: 527px;
		margin: 0px;
		padding: 0px;
		border-top: solid 1px #c6e1e6; 
	}
	
	#contact td table td {
		line-height: 14px;
		padding: 3px 8px 1px 8px;
		border: 0px; 
	}
*/

#contact table {
	/*border: 1px solid green;
	border-collapse: collapse;*/
	padding: 0px;
	margin: 10px 15px 25px;
	width: 530px;
	border-bottom: #c6e1e6 1px solid;
}

#contact td {
	/*border: 1px solid green;*/
	padding: 4px 8px; 
	border-top: #c6e1e6 1px solid; 
	vertical-align: top; 
	line-height: 18px;
}

#contact .hlite {
	background-color: #f6fcfd
}

#contact .head {
	border: 0px; 
	font-weight: bold; 
	font-size: 11px; 
	color: #ffffff;
	background-color: #257eaa
}

#contact .details {
	border-bottom: #c6e1e6 1px solid;
	padding-top: 0px;
	text-align: left;
}

#contact .details table {
	width: 490px;
	margin: 0px 0px 0px 15px;
	padding: 0px;
	border: 0px;
	/*border: 1px solid orange;
	background: yellow;
	border-collapse: collapse;*/
}

#contact .details table td {
	padding: 4px; 
	margin: 0px;
	border: 0px;
	line-height: 16px;
}
		
/* -------------------------------------------------------------------------
 Hidden/Visible Controls
 (For hiding and revealing HTML elements)
---------------------------------------------------------------------------- */
.hidden {
	visibility: hidden;
	display: none;
}

.visible {
	visibility: visible;	
	display: inherit;
}

.show-or-hide-content {
	display: none;
}

/* -------------------------------------------------------------------------
 In-Context Editing Links
 (For preview stage only)
---------------------------------------------------------------------------- */
.ice-link,
.ice-link:link,
.ice-link:visited,
.ice-link:active { 
	color: #57687A; 
	text-decoration: none;
}

.ice-link:hover {
	color: #FF0000;
	text-decoration: none;
}

/* -------------------------------------------------------------------------
 Cache Control Links
 (For preview & delivery stages)
---------------------------------------------------------------------------- */
.cache-link,
.cache-link:link,
.cache-link:visited,
.cache-link:active { 
	color: #57687A; 
	text-decoration: none;
}

.cache-link:hover {
	color: #0000FF;
	text-decoration: none;
}

/* -------------------------------------------------------------------------
 Hovering Footnotes
---------------------------------------------------------------------------- */
a.footnote {
	font-size: .86em;
	vertical-align: super;
}

.footnotepopup-popup {
	position: absolute;
	width: 400px;
	opacity: 0.95;
	overflow: visible;
	background-color: white;
	padding: 3px;
	padding-left: 12px;
	padding-right: 12px;
	border: 1px solid #CDBBB5;
	box-shadow: #555 0 0 10px;
	-webkit-box-shadow: #555 0 0 10px;
	-moz-box-shadow: 0 0 10px #555;
}

/* -------------------------------------------------------------------------
 Select Region JSP Page
---------------------------------------------------------------------------- */
.select-region-header-image {
	width: 630px;
	height: 85px;
}

.select-region-page-image {
	margin: 40px 20px 0px 50px;
	width: 152px;
	float: left;
}

.select-region-content-subheader {
	font-size: 11px;
}

.select-region-content-body-emphasis {
	font-weight: bold;
	color: #fe7e00;
}

/* -------------------------------------------------------------------------
 Promos - Multiple Toggle Effects (Earthday, Natural Gas Generator, MAO FAQ)
---------------------------------------------------------------------------- */
.promo-earthday-toggle-container, .promo-natgasgenerator-toggle-container {
	font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
	margin: 0px;
}

.promo-earthday-toggle-container a, .promo-natgasgenerator-toggle-container a {
	text-decoration: none;
	outline: none;
	color: #0293C0;
	font-weight: bold;
}
	
.promo-earthday-question {
	color: #000000;
	font-size: 0.9em;
	width: 235px;
	margin-bottom: 2px;
	margin-top: 2px;
	padding-left: 2px;
	h/eight: 20px;
}

.promo-earthday-answer, .promo-natgasgenerator-answer {
	border: 1px solid #ededed;
	background-color: #ededed;
	width: 235px;
}

.promo-earthday-answer > p, .promo-natgasgenerator-answer > p {
	padding: 0px 5px 10px 5px;
}

.promo-earthday-answer > p > span, .promo-natgasgenerator-answer > p > span, {
	font-weight: bold;
}

.promo-earthday-state-selector, .promo-earthday-faq-selector  {
	margin-top: 0px;
	padding: 10px 5px;
	background: #ededed;
	overflow: hidden;
}

.promo-earthday-state-selector > a, .promo-earthday-faq-selector > a {
	display: block;
	padding: 0px 0px 10px 0px;
}

.promo-earthday-state-selector > div, .promo-earthday-faq-selector > div
}

.mao-faq-toggle-container {}

.mao-faq-toggle-container > a {
	display: block;
	font-weight: bold;
	text-decoration: none;
	padding: 5px 0px;
}

.mao-faq-category {
	border: 1px solid #ededed;
	background-color: #ededed;
	width: 576px;
}

.mao-faq-category > a {
	display: block;
	font-weight: bold;
	padding: 5px 10px;
}

.mao-faq-category > div {
	padding: 5px 10px;
}



/* -------------------------------------------------------------------------
 Promo - Natural Gas Generator Styling Effects
---------------------------------------------------------------------------- */
div.natgas-generator-wrapper {
	width: 450px;
	height: 288px;
	overflow: hidden;
	position: relative;
}

div.natgas-generator-caption {
	background: url("../img/hovering-effect-natgas-generator-gradient-blue.png")/*tpa=http://www.centerpointenergy.com/staticfiles/CNP/Common/SiteAssets/img/hovering-effect-natgas-generator-gradient-blue.png*/ repeat-x scroll 0 0 transparent;
	color: #000000;
	display: inline-block;
	font-family: 'Lobster',arial;
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	m/in-height: 125px;
	padding: 28px;
	position: relative;
	text-align: left;
	t/ext-shadow: 1px 2px 1px #ff9900;
	t/ext-transform: capitalize;
}

div.natgas-generator-caption p.from-image-title-attr {
	color: #ff9900;
	font-size: 16px;
	font-weight: bold;
}

div.natgas-generator-slideshow-nav {
	overflow: hidden;
	width: 100%;
	padding: 10px 0px 30px 0px;
}

div.natgas-generator-slideshow-nav-left {
	width: 45%;
	float: left;
	text-align: left;
}

div.natgas-generator-slideshow-nav-right {
	width: 45%;
	float: right;
	text-align: right;
}

div.natgas-generator-slideshow-nav-left a, div.natgas-generator-slideshow-nav-right a {
	padding: 10px;
}

ul.natgas-generator-slideshow {
	list-style-type: none;
	p/adding: 0px;
	m/argin: 0px;
	float: left;
	width: 450px;
	height: 288px;
	display: inline;
	clear: both;
}

/* -------------------------------------------------------------------------
 CNP General HTML Forms Formatting
---------------------------------------------------------------------------- */
td.form-field-label {
	background-color: #E6F6F9;
	padding: 4px 8px;
	line-height: 12px;
	text-align: right;
	vertical-align: top;
}

td.form-field-widget {
	background-color: #FFFFF;
	padding: 0px 0px 4px 8px;
	width: 333px;
	text-align: left;
	vertical-align: top;
}



/* -------------------------------------------------------------------------
 CNP Claims Form
 http://www.centerpointenergy.com/about/claimpolicy/
---------------------------------------------------------------------------- */
#ClaimsFormContainer {
	width: 587px;
	h/eight: 1087px;
}
		
#ClaimsForm .form-field-label {
	width: 222px;
	background-color: #E6F6F9;
	padding: 4px 8px;
	line-height: 12px;
	text-align: right;
	vertical-align: top;
}

#ClaimsForm .form-field-widget {
	background-color: #FFFFF;
	padding: 0px 0px 4px 8px;
	width: 333px;
	text-align: left;
	vertical-align: top;
}

#ClaimsForm .form-field-widget > span {
	vertical-align: bottom;
	line-height: 11px;
}

#ClaimsForm .form-field-status {
	padding-top: 2px;
	padding-left: 8px;
	vertical-align: top;
	width: 246px;
	white-space: nowrap;
}

#ClaimsForm label {
	d/isplay block;
}

#ClaimsForm label.error {
	background: url("../img/jquery-ui-ext/unchecked.gif")/*tpa=http://www.centerpointenergy.com/staticfiles/CNP/Common/SiteAssets/img/jquery-ui-ext/unchecked.gif*/ no-repeat 0px 0px;
	padding-left: 16px;
	p/adding-bottom: 2px;
	display: block;
	font-weight: bold;
	margin: 4px;
	c/olor: #EA5200;
	color: #FF6600;
}

#ClaimsForm label.checked {
	background: url("../img/jquery-ui-ext/checked.gif")/*tpa=http://www.centerpointenergy.com/staticfiles/CNP/Common/SiteAssets/img/jquery-ui-ext/checked.gif*/ no-repeat 0px 0px;
}

#ClaimsForm p.heading {
	font-weight: bold;
	font-size: 14px;
	border-bottom: 1px solid #A0D7E7;
}



/* -------------------------------------------------------------------------
 CNP Claims Form (Pre-Existing Claims)
 http://www.centerpointenergy.com/about/claimpolicy/
---------------------------------------------------------------------------- */
#PreExistingClaimsFormContainer {
	width: 587px;
	h/eight: 1087px;
}

#PreExistingClaimsForm {
	padding: 12px;
}

#PreExistingClaimsForm .form-field-label {
	width: 222px;
	background-color: #E6F6F9;
	padding: 4px 8px;
	line-height: 12px;
	text-align: right;
	vertical-align: top;
}

#PreExistingClaimsForm .form-field-widget {
	background-color: #FFFFF;
	padding: 0px 0px 4px 8px;
	width: 333px;
	text-align: left;
	vertical-align: top;
}

#PreExistingClaimsForm .form-field-widget > span {
	vertical-align: bottom;
	line-height: 11px;
}

#PreExistingClaimsForm .form-field-status {
	padding-top: 2px;
	padding-left: 8px;
	vertical-align: top;
	width: 246px;
	white-space: nowrap;
}

#PreExistingClaimsForm label {
	d/isplay block;
}

#PreExistingClaimsForm label.error {
	background: url("../img/jquery-ui-ext/unchecked.gif")/*tpa=http://www.centerpointenergy.com/staticfiles/CNP/Common/SiteAssets/img/jquery-ui-ext/unchecked.gif*/ no-repeat 0px 0px;
	padding-left: 16px;
	p/adding-bottom: 2px;
	display: block;
	font-weight: bold;
	margin: 4px;
	c/olor: #EA5200;
	color: #FF6600;
}

#PreExistingClaimsForm label.checked {
	background: url("../img/jquery-ui-ext/checked.gif")/*tpa=http://www.centerpointenergy.com/staticfiles/CNP/Common/SiteAssets/img/jquery-ui-ext/checked.gif*/ no-repeat 0px 0px;
}

#PreExistingClaimsForm input > fieldset > legend {
	font-size: 18px;
	font-weight: bold;
}

.e/rror {
	display: block;
	clear: both;
}	
			
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-timepicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl { direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }



/* -------------------------------------------------------------------------
 National Accounts
---------------------------------------------------------------------------- */
#ListOfRebatesForMN > span, #CalculateRebateSavings > span {
	display: inline-block;
}

#ListOfRebatesForMN .ui-icon,  #CalculateRebateSavings .ui-icon {
	background-image: url("../img/jquery-ui/lightness/ui-icons_228ef1_256x240.png")/*tpa=http://www.centerpointenergy.com/staticfiles/CNP/Common/SiteAssets/img/jquery-ui/lightness/ui-icons_228ef1_256x240.png*/;
}



/* -------------------------------------------------------------------------
 Construction Zone (MN)
 http://www.centerpointenergy.com/community/inthecommunity/constructionzone/MN/
---------------------------------------------------------------------------- */
#ConstructionZoneDirectory {}

#ConstructionZoneDirectory > div {
	padding: 0.6em;
}

#ConstructionZoneDirectory ul {
	margin: 0px;
	padding: 0px;
    list-style-type: none;
}

#ConstructionZoneFAQ {}

.construction-zone-faq-container {}
.construction-zone-faq-container > a {
	display: block;
	font-weight: bold;
	text-decoration: underline;
	font-size: 14px;
	padding: 5px 0px;
}

.construction-zone-faq-set {}

.construction-zone-faq-set > a {
	display: block;
	font-weight: bold;
	padding: 5px 10px;
}

.construction-zone-faq-set > div {
	padding: 5px 10px;
}

/* ------------------------------------------------------------------------------------------------
    CNP Educator Resources Request Form
    http://www.centerpointenergy.com/community/safetyandeducation/educatorresources/requestform/HO/
------------------------------------------------------------------------------------------------ */
#EducatorResourcesRequestForm label {
	d/isplay block;
}

#EducatorResourcesRequestForm label.error {
	background: url("../img/jquery-ui-ext/unchecked.gif")/*tpa=http://www.centerpointenergy.com/staticfiles/CNP/Common/SiteAssets/img/jquery-ui-ext/unchecked.gif*/ no-repeat 0px 0px;
	padding-left: 16px;
	p/adding-bottom: 2px;
	display: block;
	font-weight: bold;
	margin: 4px;
	color: #FF6600;
}

#EducatorResourcesRequestForm label.checked {
	background: url("../img/jquery-ui-ext/checked.gif")/*tpa=http://www.centerpointenergy.com/staticfiles/CNP/Common/SiteAssets/img/jquery-ui-ext/checked.gif*/ no-repeat 0px 0px;
}

a.infoA {
	position: relative; z-index:24; 
	color: #18478; 
	text-decoration: none;
}

a.infoA:hover {
	z-index: 25;
	background-color: #ffffff;
	
}

a.infoA span { display: none; }

a.infoA:hover span {
	display: block;
	position: absolute; 
	padding: 15px; 
	top: 2em;
	left: 2em;
	width: 30em;
	border: 1px solid #cccccc;
	background-color: #ffffff;
	color: #666666;
}


#toggleViewStudentsTeacherGuideBlock {
	color: #0293c0;
}

/* ------------------------------------------------------------------------------------------------
    Speakers' Bureau Request Form...
    http://www.centerpointenergy.com/community/safetyandeducation/requestspeakerform/HO/
------------------------------------------------------------------------------------------------ */
#SpeakersBureauForm label {
	d/isplay block;
}

#SpeakersBureauForm label.error {
	background: url("../img/jquery-ui-ext/unchecked.gif")/*tpa=http://www.centerpointenergy.com/staticfiles/CNP/Common/SiteAssets/img/jquery-ui-ext/unchecked.gif*/ no-repeat 0px 0px;
	padding-left: 16px;
	p/adding-bottom: 2px;
	display: block;
	font-weight: bold;
	margin: 4px;
	color: #FF6600;
}

#SpeakersBureauForm label.checked {
	background: url("../img/jquery-ui-ext/checked.gif")/*tpa=http://www.centerpointenergy.com/staticfiles/CNP/Common/SiteAssets/img/jquery-ui-ext/checked.gif*/ no-repeat 0px 0px;
}
