/* -------------------------------------------------------------------------
 Home Page Tabs
---------------------------------------------------------------------------- */
/*
.button-small {
      background: white url('/staticfiles/CNP/Common/SiteAssets/img/button_image_small.gif') no-repeat top;
      width: 45px;
      height: 25px;
      color: white;
}

.button {
      background: white url('/staticfiles/CNP/Common/SiteAssets/img/button_image.gif') no-repeat top;
      width: 150px;
      height: 30px;
      color:white;
}*/

/* -------------------------------------------------------------------------
 Default home page tab values
---------------------------------------------------------------------------- */
div.content-block .body {
 	color: #4D4D4D;
	margin: 10px 10px 20px 2px;
	padding: 0px;
}

div.content-block .body table,
div.content-block .body table td {
 	color: #4D4D4D;
}

#home-tabs-body .content-block .header {
	margin: 12px 10px 5px 2px;
	padding: 0px;
}

#home-tabs-body .content-block .header,
#home-tabs-body .content-block .header a,
#home-tabs-body .content-block .header a:link,
#home-tabs-body .content-block .header a:visited,
#home-tabs-body .content-block .header a:active {
	background: none;
	font-family: Arial, Sans-Serif;
	font-size: 12px;
	font-weight: bold;
	color: #FF6600;
	text-decoration: none;
}

#home-tabs-body .content-block .header a:hover {
	color: #FF6600;
	text-decoration: underline;
}

#home-tabs-body a,
#home-tabs-body a:link,
#home-tabs-body a:visited,
#home-tabs-body a:active {
	color: #3FB2E3;
	text-decoration: none;
}

#home-tabs-body a:hover {
	color: #3FB2E3;
	text-decoration: underline;
}


/* -------------------------------------------------------------------------
 Custom tab values
---------------------------------------------------------------------------- */
#home-tabs-menu {
	margin:0px;
	padding:0px;
}

#home-tabs-nav {
	margin:0px;
	padding:0px;
	height:33px;
}

#home-tabs-nav .tab {
	font-size: 1px;
	height: 33px;
	float: left;
	padding: 0px;
	margin: 0px;
}

#home-tabs-nav .tab a:link,
#home-tabs-nav .tab a:visited,
#home-tabs-nav .tab a:hover,
#home-tabs-nav .tab a:active {
	outline: 0px none;
}

#home-tabs-body {
	height: 364px;
	width: 778px;
	background-image: url("../img/tab-bg-shim.gif")/*tpa=http://www.centerpointenergy.com/staticfiles/CNP/Common/SiteAssets/img/tab-bg-shim.gif*/;
	border-bottom: 1px solid #D7D7D7;
	border-left: 1px solid #D7D7D7;
	border-right: 1px solid #D7D7D7;
	clear: both;
	padding: 5px 0px 0px 0px;
	margin: 0px;
}
	/* Begin hack for alt sizing in IE \*/
	* html #home-tabs-body {
		width: 780px;
		height: 370px;
	}
	/* End the hack */

.home-tabs-panel-top {
	background-color: #FFFFFF;
}
	
.home-tabs-panel-body {
	clear: both;	
	margin: 0px 5px 5px 5px;
	height: 357px;
	width: 766px;
	border-top: 1px solid #D7D7D7;
	border-right: 1px solid #D7D7D7;
	border-bottom: 1px solid #D7D7D7;
	border-left: 1px solid #D7D7D7;
	background-color: #FFFFFF;
	background-image: url("../img/homepage-gradient-blue-vertical.jpg")/*tpa=http://www.centerpointenergy.com/staticfiles/CNP/Common/SiteAssets/img/homepage-gradient-blue-vertical.jpg*/;
	background-repeat: repeat-x;
	background-attachment: scroll;
	background-position: left bottom;
}

	/* Begin hack for alt sizing in IE \*/
	* html .home-tabs-panel-body {
		width: 768px;
		height: 359px;
	}
	/* End the hack */

/* -------------------------------------------------------------------------
 Natural Gas Panel Values
---------------------------------------------------------------------------- */
#panel-naturalgas .home-tabs-panel-body {
	clear: both;	
	margin: 0px 5px 5px 5px;
	height: 359px;
	width: 768px;
	border: 0px;
	background-image: url("../img/tab-bg-shim.gif")/*tpa=http://www.centerpointenergy.com/staticfiles/CNP/Common/SiteAssets/img/tab-bg-shim.gif*/;
}

#panel-naturalgas {
	/*margin: 5px;
	min-height: 200px;
	height: 200px;*/	
}

#home-tabs-naturalgas-pos1 {
	/*background-color: #FFFFFF;*/
	background-image: url("../img/homepage-gradient-blue-vertical.jpg")/*tpa=http://www.centerpointenergy.com/staticfiles/CNP/Common/SiteAssets/img/homepage-gradient-blue-vertical.jpg*/;
	background-repeat: repeat-x;
	background-attachment: scroll;
	background-position: left bottom;
	float: left;
	width: 246px;
	height: 357px;
	border-top: 1px solid #D7D7D7;
	border-left: 1px solid #D7D7D7;
	border-bottom: 1px solid #D7D7D7;
}

	/* Begin hack for alt sizing in IE \*/
	* html #home-tabs-naturalgas-pos1 {
		width: 247px;
		height: 359px;
	}
	/* End the hack */

#home-tabs-naturalgas-pos2 {
	/*background-color: #FFFFFF;*/
	background-image: url("../img/homepage-gradient-blue-vertical.jpg")/*tpa=http://www.centerpointenergy.com/staticfiles/CNP/Common/SiteAssets/img/homepage-gradient-blue-vertical.jpg*/;
	background-repeat: repeat-x;
	background-attachment: scroll;
	background-position: left bottom;
	/*padding-left: 19px;*/
	float: left;
	/*width: 246px;*/
	width: 265px;
	height: 357px;
	border-top: 1px solid #D7D7D7;
	border-right: 1px solid #D7D7D7;
	border-bottom: 1px solid #D7D7D7;
}

	/* Begin hack for alt sizing in IE \*/
	* html #home-tabs-naturalgas-pos2 {
		width: 266px;
		height: 359px;
	}
	/* End the hack */

#home-tabs-naturalgas-pos2 .content-block {
	/*background-color: #FFFFFF;
	height: 119px;*/
	border-bottom: 1px dotted #D7D7D7;
	margin-left: 19px;
	margin-bottom: 15px;
}

#home-tabs-naturalgas-pos2 .content-block-last {
	/*background-color: #FFFFFF;
	background-image: url("/staticfiles/CNP/Common/SiteAssets/img/homepage-gradient-blue-vertical.jpg");
	background-repeat: repeat-x;
	background-attachment: scroll;
	background-position: left bottom;
	height: 119px;*/
	border: 0px;
	/*border-bottom: 1px solid #D7D7D7;*/
}

#home-tabs-naturalgas-pos3 {
	float: left;
	width: 255px;
	/*width: 248px;*/
	height: 359px;
	/*padding-left: 7px;*/
	background-image: url("../img/tab-bg-shim.gif")/*tpa=http://www.centerpointenergy.com/staticfiles/CNP/Common/SiteAssets/img/tab-bg-shim.gif*/;
	background-color: none;
}

	/* Begin hack for alt sizing in IE \*/
	* html #home-tabs-naturalgas-pos3 {
		width: 255px;
	}
	/* End the hack */
		
#home-tabs-naturalgas-pos3 .content-block {
	background-color: #FFFFFF;	
	/*background-image: url("/staticfiles/CNP/Common/SiteAssets/img/tab-bg-shim.gif");*/
	background-image: url("../img/homepage-gradient-blue-vertical.jpg")/*tpa=http://www.centerpointenergy.com/staticfiles/CNP/Common/SiteAssets/img/homepage-gradient-blue-vertical.jpg*/;
	background-repeat: repeat-x;
	background-attachment: scroll;
	background-position: left bottom;
	/*border-bottom: 1px solid #D7D7D7;
	border-left: 1px solid #D7D7D7;
	border-top: 1px solid #2C3135;*/
	width: 246px;
	border: 1px solid #D7D7D7;
	margin-bottom: 7px;
	margin-left: 7px;
	min-height: 70px;
}

	/* Begin hack for alt sizing in IE \*/
	* html #home-tabs-naturalgas-pos3 .content-block {
		width: 248px;
	}
	/* End the hack */

#home-tabs-naturalgas-pos3 .content-block .header {
	background: none;
	color: #4D4D4D;
	border-bottom: 1px dotted #D7D7D7;
	font-size: 11px;
	font-weight: bold;	
	text-transform: none;
	padding: 0px 1px 3px 1px;
	margin: 5px 5px 3px 5px;
}

#home-tabs-naturalgas-pos3 .content-block .body {
	margin: 1px 0px 3px 5px;
	padding: 0px 0px 0px 1px;
}

#home-tabs-naturalgas-pos3 .content-block .body td.bullet-arrow {
	padding: 4px 4px 0px 0px;
}

#home-tabs-naturalgas-pos3 .content-block .body ul {
	margin: 0px;
	padding: 0px;
	margin-left: 30px;
}

#home-tabs-naturalgas-pos3 .content-block .body .login {
	background-image: url("../img/tab-bg-shim.gif")/*tpa=http://www.centerpointenergy.com/staticfiles/CNP/Common/SiteAssets/img/tab-bg-shim.gif*/;
	background-color: none;	
	padding: 0px;
	width: 132px;
}

	/* Begin hack for alt sizing in IE \*/
	* html #home-tabs-naturalgas-pos3 .content-block .body .login {
		width: 122px;
	}
	/* End the hack */

#home-tabs-naturalgas-pos3 .content-block .body .login input {
	color: #4D4D4D;
	width: 122px;
}

#home-tabs-naturalgas-pos3 .content-block-last {
	background-color: #FFFFFF;	
	/*background-image: url("/staticfiles/CNP/Common/SiteAssets/img/tab-bg-shim.gif");*/
	background-image: url("../img/homepage-gradient-blue-vertical.jpg")/*tpa=http://www.centerpointenergy.com/staticfiles/CNP/Common/SiteAssets/img/homepage-gradient-blue-vertical.jpg*/;
	background-repeat: repeat-x;
	background-attachment: scroll;
	background-position: left bottom;
	/*border-bottom: 1px solid #D7D7D7;
	border-left: 1px solid #D7D7D7;
	border-top: 1px solid #2C3135;*/
	width: 246px;
	border: 1px solid #D7D7D7;
	margin-bottom: 0px;
	min-height: 70px;
}

	/* Begin hack for alt sizing in IE \*/
	* html #home-tabs-naturalgas-pos3 .content-block-last {
		width: 248px;
	}
	/* End the hack */

#home-tabs-naturalgas-pos3 .content-block-last .body {
	margin: 0px;
	padding: 0px;
}

#home-tabs-naturalgas-pos3 .content-block .body .login a,
#home-tabs-naturalgas-pos3 .content-block .body .login a:link,
#home-tabs-naturalgas-pos3 .content-block .body .login a:visited, 
#home-tabs-naturalgas-pos3 .content-block .body .login a:active, {
	font-size: 9px;
}

#home-tabs-naturalgas-pos3 .content-block .body .login a:hover {
	text-decoration: underline;
}

.naturalgas-service-area-controls {
	width: auto;
	margin: 6px 0px;
}

.naturalgas-selector-area {
	background-attachment: scroll;
	background-color: #FFFFFF;
	background-image: url("../img/sa-gradient.gif")/*tpa=http://www.centerpointenergy.com/staticfiles/CNP/Common/SiteAssets/img/sa-gradient.gif*/;
	background-position: top left;
	background-repeat: no-repeat;
	font-size: 11px;
	font-weight: bold;
	vertical-align: middle;
	text-align: left;
	color: #000000;
	height: 24px;
	width: 249px;
	/*padding: 6px;*/
}

.naturalgas-selector-area .icon {
	background-image: url("../img/sa-arrow.gif")/*tpa=http://www.centerpointenergy.com/staticfiles/CNP/Common/SiteAssets/img/sa-arrow.gif*/;
	background-repeat: no-repeat;
}

.naturalgas-leading-sa-text-active {
	color: #666666;
	font-size: 11px;
	font-weight: normal;
	padding: 0px 3px;
}

.naturalgas-leading-sa-text-inactive {
	color: #0099CC;
	font-size: 12px;
	font-weight: normal;
	padding: 0px 3px;
}

#panel-naturalgas .gas-choice-empty {
	display: none;	
}
#panel-naturalgas .gas-choice-col-1 {
	padding: 0;
	margin: 0;
}
#panel-naturalgas .gas-choice-col-2 {
	width: 265px;
	padding: 0;
	border-bottom: 0;	
	margin: 0;
}
#panel-naturalgas .gas-choice-col-3 {
	width: 255px;
	border: 1px solid #d7d7d7;
	margin: 0;
	/*padding: 30px 10px 0;*/
	border-left: 0;
	height: 357px;
}

#panel-naturalgas .gas-choice-col-1 .body,
#panel-naturalgas .gas-choice-col-2 .body {
	/*border-top: 1px solid black;
	background-color: yellow;	*/
	margin: 0;
}

#panel-naturalgas .gas-choice-col-3 .body {
	margin: 5px 20px;
}

#panel-naturalgas .gas-choice-col-3 .body p,
#panel-naturalgas .gas-choice-col-3 .body ul {
	margin-bottom: 10px;
	font-size: 12px;
	line-height: 15px;
}

#panel-naturalgas .gas-choice-col-3 .body li {
	font-size: 12px;
}

#panel-naturalgas .gas-choice-col-3 .header {
	margin: 35px 20px 5px;
	background: none;
	font-family: Arial, Sans-Serif;
	font-size: 14px;
	font-weight: bold;
	color: #FF6600;
	text-decoration: none;
	border: 0px;
}
#panel-naturalgas .gas-choice-col-3 .header a,
#panel-naturalgas .gas-choice-col-3 .header a:link,
#panel-naturalgas .gas-choice-col-3 .header a:visited,
#panel-naturalgas .gas-choice-col-3 .header a:active {
	background: none;
	font-family: Arial, Sans-Serif;
	font-size: 14px;
	font-weight: bold;
	color: #FF6600;
	text-decoration: none;
}

#panel-naturalgas .gas-choice-col-3 .header a:hover {
	color: #FF6600;
	text-decoration: underline;
}

#panel-naturalgas .gas-choice-col-3 #button a, 
#panel-naturalgas .gas-choice-col-3 #button a:link, 
#panel-naturalgas .gas-choice-col-3 #button a:visited, 
#panel-naturalgas .gas-choice-col-3 #button a:active, 
#panel-naturalgas .gas-choice-col-3 #button a:hover {
    color: #FFFFFF;
    display: block;
    font-weight: normal;
	font-size: 12px;
    height: 25px;
    padding: 5px 0 0;
    text-align: center;
    text-decoration: none;
}
	


/* -------------------------------------------------------------------------
 Electricity Panel Values
---------------------------------------------------------------------------- */
#panel-electric {
	height: 357px;	
}
#panel-electric .home-tabs-panel-body {
	background: none;
	border: none;
}

#panel-electric #button a, #panel-electric #button a:link, #panel-electric #button a:visited, #panel-electric #button a:active, #panel-electric #button a:hover {
    color: #FFFFFF;
    display: block;
    font-weight: normal;
    height: 25px;
    padding: 6px 0 0;
    text-align: center;
    text-decoration: none;
}

#home-tabs-electric-pos1 {
	padding: 0 15px;
	/*float: left;
	width: 246px;
	width: 364px;*/
	/*border-right: 1px dotted #D7D7D7;*/
	margin-bottom: 5px;	
	border: 1px solid #D7D7D7;
	background-color: #fff;
}

#home-tabs-electric-pos2 {
	padding: 0 10px 0 15px;
	float: left;
	/*width: 246px;*/
	width: 364px;
	height: 290px;
	background: #fff url("../img/homepage-gradient-blue-vertical.jpg")/*tpa=http://www.centerpointenergy.com/staticfiles/CNP/Common/SiteAssets/img/homepage-gradient-blue-vertical.jpg*/ repeat-x left bottom scroll;
    border: 1px solid #D7D7D7;
    border-right: 1px dotted #D7D7D7;	
	/*padding-left: 19px;
    width: 246px;*/
}
	/* Begin hack for alt sizing in IE \*/
	* html #home-tabs-electric-pos2 {
		width: 380px;
	}
	/* End the hack */

#home-tabs-electric-pos3 {
	padding: 0 10px 0 15px;
	/*float: right;*/
	/*width: 246px;*/
	/*width: 365px;*/
	overflow: auto;
	height: 290px;
	background: #fff url("../img/homepage-gradient-blue-vertical.jpg")/*tpa=http://www.centerpointenergy.com/staticfiles/CNP/Common/SiteAssets/img/homepage-gradient-blue-vertical.jpg*/ repeat-x left bottom scroll;
    border: 1px solid #D7D7D7;
    border-left: 0
    /*border-right: 1px dotted #D7D7D7;*/
}
	/* Begin hack for alt sizing in IE \*/
	* html #home-tabs-electric-pos3 {
		/*width: 266px;
		width: 380px;*/
	}
	/* End the hack */

#home-tabs-electric-pos2 .content-block {
	/*background-color: #FFFFFF;*/
	/*border: 1px transparent solid;*/
	/*border-bottom: 1px dotted #D7D7D7;*/
	/*height: 177px;*/
}
	
#home-tabs-electric-pos2 .content-block-last {
	/*background-color: #FFFFFF;
	background-image: url("/staticfiles/CNP/Common/SiteAssets/img/homepage-gradient-blue-vertical.jpg");
	background-repeat: repeat-x;
	background-attachment: scroll;
	background-position: left bottom;
	height: 180px;*/
	border-bottom: 0px
}

#home-tabs-electric-pos3 {
	/*display: none;
	float: left;
	width: 248px;*/
}
	/* Begin hack for alt sizing in IE \*/
	/*
	* html #home-tabs-electric-pos3 {
		width: 254px;
	}
	*/
	/* End the hack */

#home-tabs-electric-pos3 .content-block {
	/*background-color: #FFFFFF;
	padding-left: 12px;
	border: 1px transparent solid;
	border-bottom: 1px dotted #D7D7D7;
	height: 177px;*/	
}
	
#home-tabs-electric-pos3 .content-block-last {
	/*background-color: #FFFFFF;
	background-image: url("/staticfiles/CNP/Common/SiteAssets/img/homepage-gradient-blue-vertical.jpg");
	background-repeat: repeat-x;
	background-attachment: scroll;
	background-position: left bottom;
	height: 180px;*/
	border-bottom: 0px;
}


/* -------------------------------------------------------------------------
 CES Energy Sales Panel Values
---------------------------------------------------------------------------- */
#panel-energysales {
	height: 357px;
}

#home-tabs-energysales-pos1 {
	float: left;
	width: 246px;
}

#home-tabs-energysales-pos2 {
	padding-left: 19px;
	float: left;
	width: 247px;
}
	/* Begin hack for alt sizing in IE \*/
	* html #home-tabs-energysales-pos2 {
		width: 266px;
	}
	/* End the hack */

#home-tabs-energysales-pos2 .content-block {
	margin-bottom: 4px;
	/*background-color: #FFFFFF;
	height: 119px;
	border-bottom: 1px dotted #D7D7D7;*/
}

#home-tabs-energysales-pos2 .content-block-last {
	/*background-color: #FFFFFF;
	background-image: url("/staticfiles/CNP/Common/SiteAssets/img/homepage-gradient-blue-vertical.jpg");
	background-repeat: repeat-x;
	background-attachment: scroll;
	background-position: left bottom;
	height: 119px;
	border-bottom: 1px solid #D7D7D7;*/
}

#home-tabs-energysales-pos2 .body {
 	margin-bottom: 0px;
}

#home-tabs-energysales-pos2 .body #section {
 	border-top: 1px dotted #D7D7D7;
	padding: 7px 0px 0px 0px;
	margin: 0px 0px 7px 0px;
	clear: both;
}

#home-tabs-energysales-pos2 .body #section ul {
 	padding: 0px;
	margin: 3px 0px 0px 30px;
}

#home-tabs-energysales-pos2 .body #section .heading,
#home-tabs-energysales-pos2 .body #section .heading a,
#home-tabs-energysales-pos2 .body #section .heading a:link,
#home-tabs-energysales-pos2 .body #section .heading a:visited,
#home-tabs-energysales-pos2 .body #section .heading a:active {
	font-weight: bold;
	color: #FF6600;
	text-decoration: none;
	text-transform: uppercase;
}

#home-tabs-energysales-pos2 .body #section .heading a:hover {
	color: #FF6600;
	text-decoration: underline;
}

#home-tabs-energysales-pos3 {
	float: left;
	width: 0px;
	width: 247px;
	padding-left: 7px;
	background-color: none;
}
	/* Begin hack for alt sizing in IE \*/
	* html #home-tabs-energysales-pos3 {
		width: 254px;
	}
	/* End the hack */
		
#home-tabs-energysales-pos3 .content-block,
#home-tabs-energysales-pos3 .content-block-last {
	background-color: #f8f8f8;	
	width: 239px;
	border: 1px solid #d7d7d7;
	margin: 7px 6px 3px 0px;
	min-height: 70px;
}


#home-tabs-energysales-pos3 .content-block .header {
	background: none;
	color: #4D4D4D;
	/*border-bottom: 1px dotted #D7D7D7;*/
	font-size: 11px;
	font-weight: bold;	
	text-transform: none;
	padding: 0px 1px 3px 1px;
	margin: 5px 5px 2px 5px;
}

#home-tabs-energysales-pos3 .content-block .body {
	margin: 2px 2px 3px 2px;
	padding: 0px 0px 0px 0px;	
}

#home-tabs-energysales-pos3 .content-block-last .body {
	margin: 0px;
	padding: 0px;	
}

/* -------------------------------------------------------------------------
 Pipelines Panel Values
---------------------------------------------------------------------------- */
#panel-pipelines {
	height: 357px;
}

#home-tabs-pipelines-pos1 {
	float: left;
	width: 246px;
}

#home-tabs-pipelines-pos2 {
	padding-left: 19px;
	border-right: 1px dotted #D7D7D7;
	float: left;
	width: 246px;
}
	/* Begin hack for alt sizing in IE \*/
	* html #home-tabs-pipelines-pos2 {
		width: 266px;
	}
	/* End the hack */

#home-tabs-pipelines-pos2 .content-block {
	border: 1px transparent solid;
	border-bottom: 1px dotted #D7D7D7;
	height: 177px;
}

#home-tabs-pipelines-pos2 .content-block-last {
	border-bottom: 0px
}

#home-tabs-pipelines-pos3 {
	float: left;
	width: 248px;
}
	/* Begin hack for alt sizing in IE \*/
	* html #home-tabs-pipelines-pos3 {
		width: 254px;
	}
	/* End the hack */

#home-tabs-pipelines-pos3 .content-block {
	padding-left: 12px;
	border: 1px transparent solid;
	border-bottom: 1px dotted #D7D7D7;
	height: 177px;
}

#home-tabs-pipelines-pos3 .content-block-last {
	border-bottom: 0px;
}

/* -------------------------------------------------------------------------
 Field Services Panel Values - 2 Column
---------------------------------------------------------------------------- */
/*#panel-fieldservices {
	height: 357px;
}

#home-tabs-fieldservices-pos1 {
	float: left;
	width: 246px;
}

#home-tabs-fieldservices-pos2 {
	padding-left: 19px;
	float: left;
	width: 501px;
}
	/ Begin hack for alt sizing in IE \/
	* html #home-tabs-fieldservices-pos2 {
		width: 520px;
	}
	/ End the hack /
	
#home-tabs-fieldservices-pos2 .content-block {
	border: 1px transparent solid;
	border-bottom: 1px dotted #D7D7D7;
	height: 119px;
}

#home-tabs-fieldservices-pos2 .content-block-last {
	border-bottom: 0px;
}

#home-tabs-fieldservices-pos3 {
	float: left;
	width: 0px;
}*/

/* -------------------------------------------------------------------------
 Field Services Panel Values - 3 Column
---------------------------------------------------------------------------- */
#panel-fieldservices {
	height: 357px;
}

#home-tabs-fieldservices-pos1 {
	float: left;
	width: 246px;
}

#home-tabs-fieldservices-pos2 {
	padding-left: 19px;
	border-right: 1px dotted #D7D7D7;
	float: left;
	width: 246px;
}
	/* Begin hack for alt sizing in IE \*/
	* html #home-tabs-fieldservices-pos2 {
		width: 266px;
	}
	/* End the hack */

#home-tabs-fieldservices-pos2 .content-block {
	border: 1px transparent solid;
	border-bottom: 1px dotted #D7D7D7;
	height: 177px;
}

#home-tabs-fieldservices-pos2 .content-block-last {
	border-bottom: 0px
}

#home-tabs-fieldservices-pos3 {
	float: left;
	width: 248px;
}
	/* Begin hack for alt sizing in IE \*/
	* html #home-tabs-fieldservices-pos3 {
		width: 254px;
	}
	/* End the hack */

#home-tabs-fieldservices-pos3 .content-block {
	padding-left: 12px;
	border: 1px transparent solid;
	border-bottom: 1px dotted #D7D7D7;
	height: 177px;
}

#home-tabs-fieldservices-pos3 .content-block-last {
	border-bottom: 0px;
}

/* -------------------------------------------------------------------------
 And More Panel Values - 2 COLUMN
---------------------------------------------------------------------------- /
#panel-andmore {
	height: 357px;
}

#home-tabs-andmore-pos1 {
	float: left;
	width: 246px;
}

#home-tabs-andmore-pos2 {
	padding-left: 19px;
	float: left;
	width: 501px;
}
	/ Begin hack for alt sizing in IE \/
	* html #home-tabs-andmore-pos2 {
		width: 520px;
	}
	/ End the hack /
	
#home-tabs-andmore-pos2 .content-block {
	border: 1px transparent solid;
	border-bottom: 1px dotted #D7D7D7;
	height: 119px;
}

#home-tabs-andmore-pos2 .content-block-last {
	border-bottom: 0px;
}

#home-tabs-andmore-pos3 {
	float: left;
	width: 0px;
}
*/


/* -------------------------------------------------------------------------
 And More Panel Values - 3 COLUMN
---------------------------------------------------------------------------- */
#panel-andmore {
	height: 357px;
}

#home-tabs-andmore-pos1 {
	float: left;
	width: 246px;
}

#home-tabs-andmore-pos2 {
	padding-left: 19px;
	border-right: 1px dotted #D7D7D7;
	float: left;
	width: 246px;
}
	/* Begin hack for alt sizing in IE \*/
	* html #home-tabs-andmore-pos2 {
		width: 266px;
	}
	/* End the hack */
	
#home-tabs-andmore-pos2 .content-block {
	border: 1px transparent solid;
	border-bottom: 1px dotted #D7D7D7;
	height: 177px;
}

#home-tabs-andmore-pos2 .content-block-last {
	border-bottom: 0px
}

#home-tabs-andmore-pos3 {
	float: left;
	width: 248px;
}
	/* Begin hack for alt sizing in IE \*/
	* html #home-tabs-andmore-pos3 {
		width: 254px;
	}
	/* End the hack */

#home-tabs-andmore-pos3 .content-block {
	padding-left: 12px;
	border: 1px transparent solid;
	border-bottom: 1px dotted #D7D7D7;
	height: 177px;
}

#home-tabs-andmore-pos3 .content-block-last {
	border-bottom: 0px;
}














/*
.tab-content {
	padding: 12px;
	border-bottom: 1px dotted #D7D7D7;
}

.tab-content-right {
	border-left: 1px dotted #D7D7D7;
}

.tab-content-gradient {
	background-color: #FFFFFF;
	background-image: url("../img/homepage-gradient-blue-vertical.jpg")/*tpa=http://www.centerpointenergy.com/staticfiles/CNP/Common/SiteAssets/img/homepage-gradient-blue-vertical.jpg*/;
	background-repeat: repeat-x;
	background-attachment: scroll;
}

.tab-content-floating {
	background-color: #FFFFFF;
	background-image: url("../img/homepage-gradient-blue-vertical.jpg")/*tpa=http://www.centerpointenergy.com/staticfiles/CNP/Common/SiteAssets/img/homepage-gradient-blue-vertical.jpg*/;
	background-repeat: repeat-x;
	background-attachment: scroll;
	margin-left: 7px;
	padding: 7px;
	border: 1px solid #D8D8D8;
	border-bottom: 1px solid #BBBBBB;
}