
iframe { background-color:#fff; }

/* overlay popups */
html.overlay-active {}
#js-overlay {
	position:fixed;
	width:100%;
	height:100%;
	background-image:url(../../images/SJMSites/bg-trans.png)/*tpa=http://www.sjm.com/images/SJMSites/bg-trans.png*/;
	top:0;
	left:0;
	display:none;
	z-index:500;
}
#js-content {
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	display:none;
	z-index:1000;
}
table.overlay-wrapper-close {
		width:100%;
		height:100%;
		border-spacing:0;
		border-collapse:collapse;
        background-image:url(../../images/SJMSites/closewindow.gif)/*tpa=http://www.sjm.com/images/SJMSites/closewindow.gif*/;
		background-repeat:no-repeat;
		background-position: 100% 0%;
	}
	
	table.overlay-wrapper {
		width:100%;
		height:100%;
		border-spacing:0;
		border-collapse:collapse;
	}
		table.overlay-wrapper tr td {
			background-color:transparent !important;
			vertical-align:middle;
			border:none !important;
			color:#444;
		}
	table.overlay-content {
		border:20px solid #000;
		width:1%;
		margin:0 auto;
		border-spacing:0;
		border-collapse:collapse;
	}
		table.overlay-content tr td {
			background-color:#fff !important;
			padding:0;
			min-height:20px;
			min-width:20px;
			background-image:url(../../images/SJMSites/ajax-loader.gif)/*tpa=http://www.sjm.com/images/SJMSites/ajax-loader.gif*/;
			background-repeat:no-repeat;
			background-position:50% 50%;
			border:none !important;
		}
.popup-image { padding:20px 20px 10px; }
	.popup-image .closer {
		float:right;
		width:19px;
		padding-top:4px;
		margin-left:10px;
		cursor:pointer;
	}
	.popup-image .title {
		font-size:16px;
		margin-bottom:10px;
	}
	.popup-image .image { margin-bottom:10px; }
	.popup-image .text {}
.popup-video {
	display:block;
	/* dimensions should be overridden
	 * by the flowplayer javascript to 
	 * adjust to proper movie size.
	 */
	width:320px;
	height:240px;
}
img.pop-video,
img.pop-image,
img.pop-iframe {
	float:left;
	border:1px solid #ccc;
	margin:0 10px 5px 0;
}
/* Closer for Modal Popup */
.f-right { float:right; margin-left:10px; }
.closer {
		float:right;
		/*width:19px;*/
		padding-top:4px;
		margin-left:10px;
		cursor:pointer;
	}
	
	
/* Modal Popup and Form css */
.ModalPopup
{
    margin: 5px 20px 20px 20px;
    /*font-family: Arial, sans-serif;*/
}

/* Form */
.ModalPopup .scfForm
{
	height: 100%;
	width: 100%;
	text-align: left;	
	font-family: Arial, sans-serif;
	font-size:12px;
}

/* Form Title*/
.ModalPopup .scfTitleBorder
{
	margin-top: 0px;
	margin-bottom: 0px;
	color: #000000;
	font-family: Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	margin: 5px 0pt;
	text-decoration: none;
	font-weight: bold;
}

/* Form Introduction*/
.ModalPopup .scfIntroBorder
{
}

/* Form Footer*/
.ModalPopup .scfFooterBorder
{
}

/* Submit Button*/
.ModalPopup .scfSubmitButtonBorder
{
    padding-bottom:30px;
}

.ModalPopup .scfSubmitButton
{
}

/* Validation */
.ModalPopup .scfValidationSummary
{
}

.ModalPopup .scfValidator
{
	margin: 0px;
	display:block;
}

.ModalPopup .scfValidatorRequired,
.ModalPopup .scfRequired
{
	margin: 5px;
	margin-left:10px;
	float : left;
	color:#9F001C;
	display:none;
}

.ModalPopup .scfValidatorOrig,
.ModalPopup .scfRequiredOrig
{
	margin: 5px;
	margin-left:10px;
	float : left;
	color:#9F001C;
}

/* Forms section*/
.ModalPopup .scfSectionBorderAsFieldSet
{
	padding: 0 px 15px 15px 15px;
	border: 0px;
	/*border-top: solid 2px;*/
	/*margin:0px 30px;*/
}

.ModalPopup .scfSectionLegend
{
	padding: 7px 13px 8px 13px;
	font-weight: bold;
	text-decoration: none;
}

.ModalPopup .scfSectionBorder
{
	margin:0px;
	padding: 0px;
	width: 100%;
}

.ModalPopup .scfSectionContent
{
	width: 100%;
	float: left;
}

.ModalPopup .scfSubSectionContent
{
	width: 100%;
	float: left;
    margin: -10px 0px 0px 20px;
}

.ModalPopup .scfSectionUsefulInfo
{
	width: 100%;
	margin-left:6px;
	vertical-align:top;
	display:inline;
}

/* Form fields */
/* Checkbox */

.ModalPopup .scfCheckboxBorder
{
	clear:left;
	text-align: left;
	display: block;
	margin: 5px 0px;
	width: 100%;
}

.ModalPopup .scfCheckbox
{
	width: 90%;
	display: block;
	padding:0px 3px;	
}

.ModalPopup .scfCheckboxUsefulInfo
{
	font-size:10px;
	display: block;
	width:90%;	
	padding:0px 6px;
}

/* Label */
.ModalPopup .scfLabel
{
	width: 100%;
	display: block;
}

.ModalPopup .scfListBoxGeneralPanel,
.ModalPopup .scfDropListGeneralPanel
{
	margin: 0px 3px;
	width: 61%;
	display: block;
	float:left;
}

.ModalPopup .scfListBox,
.ModalPopup .scfDropList
{
	width:100%;
	margin:0px;
	margin-left:3px;
}

.ModalPopup .scfMultipleLineTextBox
{
	width:100%;
	margin:0px;
}


.ModalPopup .scfDropListBorder,
.ModalPopup .scfEmailBorder,
.ModalPopup .scfMultipleLineTextBorder,
.ModalPopup .scfSingleLineTextBorder,
.ModalPopup .scfPasswordBorder,
.ModalPopup .scfNumberBorder,
.ModalPopup .scfDateBorder,
.ModalPopup .scfRadioButtonListBorder,
.ModalPopup .scfListBoxBorder,
.ModalPopup .scfCheckBoxListBorder,
.ModalPopup .scfFileUploadBorder
{
	text-align: left;
	display: block;
	margin: 5px 0px;
	width: 100%;
	vertical-align: top;
}

.ModalPopup .scfEmailTextBox,
.ModalPopup .scfMultipleLineTextBox,
.ModalPopup .scfSingleLineTextBox,
.ModalPopup .scfPasswordTextBox,
.ModalPopup .scfNumberTextBox,
.ModalPopup .scfDateTextBox,
.ModalPopup .scfRadioButtonList,
.ModalPopup .scfCheckBoxList,
.ModalPopup .scfFileUpload
{
	width: 100%;
}

.ModalPopup .scfDropListLabel,
.ModalPopup .scfEmailLabel,
.ModalPopup .scfMultipleLineTextLabel,
.ModalPopup .scfSingleLineTextLabel,
.ModalPopup .scfPasswordLabel,
.ModalPopup .scfNumberLabel,
.ModalPopup .scfDateLabel,
.ModalPopup .scfRadioButtonListLabel,
.ModalPopup .scfCheckBoxListLabel,
.ModalPopup .scfListBoxLabel,
.ModalPopup .scfFileUploadLabel,
.ModalPopup .scfDateSelectorLabel
{
	padding: 3px 0px;
	width: 100%;
	display: block;
	float: right;
	margin-left:6px;
	font-weight:bold;
}

.ModalPopup .scfEmailGeneralPanel,
.ModalPopup .scfMultipleLineGeneralPanel,
.ModalPopup .scfSingleLineGeneralPanel,
.ModalPopup .scfPasswordGeneralPanel,
.ModalPopup .scfNumberGeneralPanel,
.ModalPopup .scfDateGeneralPanel,
.ModalPopup .scfRadioButtonListGeneralPanel,
.ModalPopup .scfCheckBoxListGeneralPanel,
.ModalPopup .scfFileUploadGeneralPanel,
.ModalPopup .scfDateSelectorGeneralPanel
{
	margin: 0px 3px;
	width: 60%;
	display: block;
	float:left;
}

.ModalPopup .scfDropListUsefulInfo,
.ModalPopup .scfEmailUsefulInfo,
.ModalPopup .scfMultipleLineTextUsefulInfo,
.ModalPopup .scfSingleLineTextUsefulInfo,
.ModalPopup .scfPasswordUsefulInfo,
.ModalPopup .scfNumberUsefulInfo,
.ModalPopup .scfDateUsefulInfo,
.ModalPopup .scfRadioButtonListUsefulInfo,
.ModalPopup .scfListBoxUsefulInfo,
.ModalPopup .scfCheckBoxListUsefulInfo,
.ModalPopup .scfFileUploadUsefulInfo,
.ModalPopup .scfDateSelectorUsefulInfo
{
	font-size:10px;
	padding: 2px 0px 0px 2px;
	display: block;
	width:100%;	
}

.ModalPopup .scfDateSelectorDay,
.ModalPopup .scfDateSelectorMonth,
.ModalPopup .scfDateSelectorYear
{
	width:33%;
	margin:0px;
}
