/* Fixed IE */
#__overlaybg {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)" !important;
}
#__moverlaybg {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)" !important;
}
.__pm_modal .close {
  filter: alpha(opacity=100) !important;
}
#__portfolioContainer {
  width: 101% !important;
}



.menu-nav .dropdown { left:-550px !important; }
body .menu-nav .dropdown:after { left:auto !important; right:50px !important; margin-left: 15px; }
.nav-justified{ padding-top:0 !important; }
.nav-justified li{ float:left !important; display:block !important; width:auto !important; }
.lst-invt{ padding-top:4px !important; }

#invt-menu:hover > .dropdown.home-sub-dropdown{ 
		margin-top:15px; }