/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face {
	font-family: "akzidenz-grotesk-std-dish";
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	color: #454545;
	font-size: 14px;
}
/* Clear your floats via http://css-tricks.com/snippets/css/clear-fix/ */

.group:before, .group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
	zoom:1; /* For IE 6/7 (trigger hasLayout) */
}
h1, h2, h3, h4, h6 {
	font-family: "akzidenz-grotesk-std-dish";
}
h1, h3 {
	text-transform: uppercase;
}
sup {
	font-size: 50%;
}
p {
	font-size: 14px;
	line-height: 24px;
}
a {
	color: #ed1420;
	text-decoration: none;
	outline: none;
}
a.alt {
	color: #333;
}
a:hover {
	text-decoration: underline;
}
.container {
	width: 960px;
	margin: 0 auto;
	position: relative;
}
strong {
	font-weight: bold;
}
/*intended to be global text and button styling and all sub navs should have it removed unless necessary*/
.size-smart {
	display: block;
	visibility: hidden;
}
.light-txt {
	color: #ebebeb;
}
.light-txt .disclaimer {
	color: #fff;
}
.dark-txt {
	color: #2d2d2e;
}
.button a {
	width: 160px;
	height: 29px;
	display: block;
	background: url(../images/buttons/buttons.png)/*tpa=http://www.dish.com/images/buttons/buttons.png*/ 0 -82px no-repeat;
	color: white;
	text-align: center;
	padding-top: 12px;
	font-weight: bold;
}
.narrow .button a {
	width: 120px;
	background: url(../images/buttons/buttons-120.png)/*tpa=http://www.dish.com/images/buttons/buttons-120.png*/ 0 -82px no-repeat;
}
.wide .button a {
	width: 200px;
	background: url(../images/buttons/buttons-200.png)/*tpa=http://www.dish.com/images/buttons/buttons-200.png*/ 0 -82px no-repeat;
}
.button a:hover {
	background-position: 0 -123px;
	text-decoration: none;
}
.light-txt .button a {
	color: #454545;
	background-position: 0 0;
}
.dark-txt .button a {
	color: #fff;
	background-position: 0 -82px;
}
.light-txt .button a:hover {
	text-decoration: none;
	background-position: 0 -41px;
}
.dark-txt .button a:hover {
	background-position: 0 -123px;
}
.red-button a {
	background-position: 0 -164px!important;
	color: #fff!important;
}
.red-button a:hover {
	background-position: 0 -205px!important;
}
.yellow-button a {
	background-position: 0 -245px!important;
	color: #2b2928!important;
}
.yellow-button a:hover {
	background-position: 0 -286px!important;
}
.section .lastSection {
	border: none;
}
/************* TOP NAV *****************/

#top-nav {
	width: 100%;
	color: #fff;
	font-size: 11px;
	background: #161616;
}
#top-nav #top-left-hat {
	width: 420px;
	float: left;
}
#top-nav #top-right-hat {
	padding-right: 0;
	float: right;
}
#top-nav li {
	float: left;
	padding: 12px 13px 6px;
}
#top-nav li a {
	color: #ffd200;
}
#top-nav li.active a, #top-nav li#order-dish a, #top-nav li#order-phone a {
	color: #fff;
}
#top-nav li#order-dish {
	padding-right: 5px;
}
#top-nav li#order-phone {
	padding-left: 20px;
}
#top-nav #account {
	background: #f8ce08;
	padding: 10px;
}
#top-nav #search {
	padding-right: 8px;
	width: 170px;
}
ul #account a {
	color: #454545;
}
#top-nav input {
	background: url("../images/search.jpg")/*tpa=http://www.dish.com/images/search.jpg*/ no-repeat scroll top right #EDEDED;
	border: none;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	height: 20px;
	margin: -7px 0 0 0;
	padding: 0 0 0 10px;
	width: 162px;
	float: right;
}
#top-nav #search #siteSearch ul{padding:0 0 0 0; margin: 0 0 0 0;}
#top-nav #search #siteSearch .as-list{position:absolute;z-index: 999999999999999999999999999!important;top:26px;width:162px;}
#top-nav #search #siteSearch ul#as-list li{padding:0 0 0 0; margin: 0 0 0 0; display:block; width:inherit; float:none;}
#top-nav #search #siteSearch ul#as-list li a{background-color:#eee; padding:4px 0 2px 4px;}
#top-nav #search #siteSearch ul#as-list li a{color:#000; display:block;}
#top-nav #search #siteSearch ul#as-list li a:hover{background-color:#ddd; text-decoration:none;}
#header-affil {
	color:#000;
	text-decoration:none;
}
#header-affil:hover {
	color:#000;
	text-decoration:none;
}

/******************** MAIN NAV ********************/
#main-nav-wrap {
	background: #f3f3f3 url(../images/top-nav-bg.gif)/*tpa=http://www.dish.com/images/top-nav-bg.gif*/ repeat-x;
	width: 100%;
	position: relative;
}
#main-nav {
	height: 70px;
	position: relative;
}
#main-nav a:hover {
	text-decoration: none;
}
#main-nav li {
	display: block;
	float: left;
	border-left: none;
	border-right: 1px solid #dcdcdc;
	cursor:	pointer;
	position: relative;
	width: 16.5%;
	height: 70px;
	font: bold 12px Arial, Helvetica, sans-serif;
}
#main-nav li span {
	display: block;
}

#main-nav #home {
	border-left: 1px solid #dcdcdc;
}
#home:hover, #why-dish:hover, #entertainment:hover, #technology:hover, #special:hover, #support:hover, #my-account:hover, #perks:hover, #upgrades:hover, #ppv:hover {
	background: #da121d;
}
#home a {
	width: 104px;
	height: 43px;
	display: block;
	text-indent: -9999px;
	background: url(../images/logo.png)/*tpa=http://www.dish.com/images/logo.png*/ no-repeat 0 0;
	margin: 13px 21px 21px 28px;
}
#home:hover a {
	background: url(../images/logo.png)/*tpa=http://www.dish.com/images/logo.png*/ 0 -43px no-repeat;
}
#why-dish span {
	width: 24px;
	height: 21px;
	background: url(../images/icons.png)/*tpa=http://www.dish.com/images/icons.png*/ 0 -144px no-repeat;
	margin: 13px 0 10px 19px;
}
#why-dish a {
	margin: 11px 0 0 51px;
	display: block;
}
#why-dish:hover span {
	background-position: -24px -144px;
}
#why-dish:hover a {
	color: #fff;
}
#entertainment span {
	width: 30px;
	height: 19px;
	background: url(../images/icons.png)/*tpa=http://www.dish.com/images/icons.png*/ 0 -165px no-repeat;
	margin: 15px 0 10px 34px;
}
#entertainment:hover span {
	background-position: -30px -165px;
}
#entertainment a {
	margin: 11px 0 0 31px;
	display: block;
}
#entertainment:hover a {
	color: #fff;
}
#technology span {
	width: 28px;
	height: 13px;
	background: url(../images/icons.png)/*tpa=http://www.dish.com/images/icons.png*/ 0 -184px no-repeat;
	margin: 18px 0 13px 26px;
}
#technology:hover span {
	background-position: -28px -184px;
}
#technology a {
	margin: 15px 0 0 37px;
	display: block;
}
#technology:hover a {
	color: #fff;
}
#special span {
	width: 28px;
	height: 28px;
	background: url(../images/icons.png)/*tpa=http://www.dish.com/images/icons.png*/ -88px -268px no-repeat;
	margin: 0 0 3px 36px;
}
#special:hover span {
	background-position: -116px -268px;
}
#special a {
	margin: 13px 0 0 33px;
	display: block;
}
#special:hover a {
	color: #fff;
}
#support span {
	width: 22px;
	height: 23px;
	background: url(../images/icons.png)/*tpa=http://www.dish.com/images/icons.png*/ 0 -197px no-repeat;
	margin: 14px 0 7px 16px;
}
#support:hover span {
	background-position: -22px -197px;
}
#support a {
	margin: 11px 0 0 51px;
	display: block;
}
#support:hover a {
	color: #fff;
}
#search span {
	width: 19px;
	height: 17px;
	background: url(../images/icons.png)/*tpa=http://www.dish.com/images/icons.png*/ 0 -220px no-repeat;
	margin: 20px 0 7px 14px;
}
/****** MAIN SUBNAV ******/

#main-subnav {
	width: 100%;
	background: url(../images/main-subnav-bg.gif)/*tpa=http://www.dish.com/images/main-subnav-bg.gif*/ repeat;
	font-size: 12px;
}
#main-subnav h2 {
	font: bold 12px Arial, Helvetica, sans-serif;
}
#main-subnav a {
	color: #454545;
}
#main-subnav a:hover {
	color: #ed1420;
	text-decoration: none;
}
#why-dish-subnav, #entertainment-subnav, #technology-subnav, #support-subnav, #search-subnav, #my-account-subnav, #perks-subnav, #upgrades-subnav, #ppv-subnav {
	display: none;
	padding: 20px 0 ;
}
#why-dish-subnav .grid_3, #support-subnav .grid_2 {
	min-height: 65px;
}
#why-dish-subnav h2, #entertainment-subnav h2, #technology-subnav h2, #support-subnav h2, #search-subnav h2 {
	padding-bottom: 10px;
}
#main-subnav .container_12 .grid_12, #main-subnav .container_12 .grid_3, #main-subnav .container_12 .grid_2 {
	border-left: 1px solid #cfcfcf;
}
#main-subnav .container_12 .grid_12 {
	border-right: 1px solid #cfcfcf;
}

#main-subnav .container_12 ul {
	margin: 0;
	padding: 0 9px;
	width: 100%;
}
#main-subnav .container_12 ul li {
	padding-bottom: 10px;
}
#main-subnav .container_12 .border-right-no {
	border-right: none;
}
#main-subnav .container_12 .border-left-no {
	border-left: none;
}
#entertainment-subnav li.subnav-icon, #technology-subnav li.subnav-icon, #support-subnav li.subnav-icon {
	padding-top: 10px;
	padding-bottom: 0;
	text-align: center;
	border-right: 1px solid #cfcfcf;
	margin: 0;
	width: 24.5%;
	float: left;
}
#entertainment-subnav .subnav-icon span, #technology-subnav .subnav-icon span, #support-subnav .subnav-icon span {
	background: url(../images/main-subnav-sprite.png)/*tpa=http://www.dish.com/images/main-subnav-sprite.png*/ 0 0 no-repeat;
	display: block;
	width: 68px;
	height: 72px;
	margin: 5px auto 10px;
}
#entertainment-subnav #subnav-channels span {
	background-position: 0 -75px;
	width: 118px;
	height: 59px;
	margin-top: 19px;
}
#entertainment-subnav #subnav-blockbuster span {
	background-position: 0 -133px;
	width: 89px;
	height: 82px;
	margin-top: -2px;
}
#entertainment-subnav #subnav-international span {
	background-position: 0 -215px;
	width: 54px;
	height: 75px;
}
#entertainment-subnav .grid_8 li {
	min-height: 111px;
}

#entertainment-subnav .grid_2  {
	min-height: 137px;
}
#technology-subnav li.subnav-icon {
	width: 19.7%;
}
#technology-subnav .subnav-icon span {
	background: url(../images/main-subnav-sprite.png)/*tpa=http://www.dish.com/images/main-subnav-sprite.png*/ no-repeat 0 -1102px;
	width: 122px;
	height: 90px;
}
#technology-subnav #subnav-tv-everywhere span {
	background-position: 0 -353px;
	width: 87px;
	height: 68px;
	margin-top: 27px;
}
#technology-subnav #subnav-dvrs-receivers span {
	background-position: 0 -421px;
	width: 122px;
	height: 41px;
	margin: 40px auto 22px;
}
#technology-subnav #subnav-tv-outdoors span {
	background-position: 0 -462px;
	width: 79px;
	height: 78px;
	margin-top: 17px;
}
#technology-subnav #subnav-installation-services span {
	background-position: 0 -540px;
	width: 119px;
	height: 90px;
}
#technology-subnav .grid_2 {
	min-height: 136px;
}
#support-subnav li.subnav-icon {
	width: 19.7%;
}
#support-subnav .red a {
	color: #ed1420;
}
#support-subnav .subnav-icon span {
	background: url(../images/main-subnav-sprite.png)/*tpa=http://www.dish.com/images/main-subnav-sprite.png*/ 0 -630px no-repeat;
	width: 117px;
	height: 77px;
}
#support-subnav #subnav-installation-services span {
	background: url(../images/main-subnav-sprite.png)/*tpa=http://www.dish.com/images/main-subnav-sprite.png*/ no-repeat;
	background-position: 0 -1018px;
	display: block;
	width: 117px;
	height: 77px;
}
#support-subnav #subnav-product-support span {
	background-position: 0 -792px;
	width: 119px;
	height: 72px;
}
#support-subnav #subnav-tech-support span {
	background-position: 0 -864px;
	width: 50px;
	height: 77px;
}
#support-subnav #subnav-get-connected span {
	background-position: 0 -941px;
	width: 122px;
	height: 77px;
}
#support-subnav h2 {
	margin: 24px 0 0 15px;
}
#main-subnav #support-subnav .grid_2 ul {
	margin-left: 5px;
}



/************ STICKY NAV ****************/
#sticky {
	background: url(../images/sticky-bg.gif)/*tpa=http://www.dish.com/images/sticky-bg.gif*/ repeat-x;
	height: 60px;
	z-index: 999999;
	position: relative;
}
#sticky.fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
#sticky a {
	color: #454545;
}
#sticky li {
	float: left;
	font-size: 11px;
	font-weight: bold;
	position: relative;
	padding: 24px 14px;
}
#sticky li span {
	background: url(../images/icons.png)/*tpa=http://www.dish.com/images/icons.png*/ no-repeat;
	background-position: -27px -299px;
	display: inline-block;
	position: absolute;
	width: 8px;
	height: 8px;
	top: 27px;
	left: 136px;
}
#sticky .selector.inverted span {
	background-position: -19px -299px;
}
#sticky .selector {
	background: url(../images/selector-bg.gif)/*tpa=http://www.dish.com/images/selector-bg.gif*/ repeat-x;
	padding: 25px 0 0 0;
	width: 160px;
	height: 35px;
	position: relative;
}
#sticky .selector a {
	color: #f0f0f0;
}
#sticky span.selector {
	width: 50%;
	height: 60px;
	display: inline-block;
	position: absolute;
	left: -480px;
	top: 0px;
}
#sticky .selector ul {
	position: absolute;
	top: 60px;
	left: -10px;
	display: none;
}
#sticky .selector ul li {
	padding: 0;
}
#sticky .selector ul li.active a {
	color: #999999;
}
#sticky .selector ul li.selector-title a {
	padding: 12.5px 58px 12.5px 12px;
}
#sticky .selector ul li a {
	padding: 12.5px 40px 12.5px 30px;
	width: 100px;
	background: #242424;
	cursor: pointer;
	display: block;
}
#sticky .selector ul li.active span {
	width: 10px;
	height: 9px;
	display: block;
	background: url(../images/icons.png)/*tpa=http://www.dish.com/images/icons.png*/ no-repeat -24px -381px;
	top: 14px;
	left: 12px;
}
#sticky .selector ul li a:hover {
	text-decoration: none;
	background: #454545;
}
#sticky .selector ul li a span {
	top: 14px;
	left: 12px;
}
#sticky span.fixed {
	position: fixed;
	top: 0;
}
#sticky .last {
	padding-right: 0;
}
#sticky .link-active {
	color: #ed1420;
}
/****** DROPDOWN SELECTION BOXES ******/
.dropdown-box {
	position: relative;
	z-index:100;
	font-size:12px;
	font-weight:600;
}
.dropdown-box .triangle {
	background: url(../images/icons.png)/*tpa=http://www.dish.com/images/icons.png*/ no-repeat;
	background-position: -19px -299px;
	display: inline-block;
	position:absolute;
	width: 8px;
	height: 8px;
	top: 17px;
	left: 150px;
}
.dropdown-box .button {
	width: 170px;
	height: 40px;
	padding-right: 8px;
	background: url(../images/buttons/buttons-170.png)/*tpa=http://www.dish.com/images/buttons/buttons-170.png*/ 0 -82px no-repeat;
}
.dropdown-box .black-button {
	background-position:0 -82px;
}
.dropdown-box .red-button {
	background-position:0 -164px;
}
.dropdown-box .navy-button {
	background-position:0 -492px;
}
.dropdown-box .teal-button {
	background-position:0 -410px;
}
.dropdown-box .gold-button {
	background-position:0 -328px;
}
.dropdown-box .green-button {
	background-position:0 -574px;
}
.dropdown-box .button .selection {
	color: #fff;
	margin-left: 15px;
	display: block;
	padding: 14px 18px 0 3px;
}
.dropdown-box ul {
	height: 40px;
	position: relative;
	margin-top: -40px;
	display: none;
}
.dropdown-box ul li {
	float: none;
	width:170px;
}
#international-languages.dropdown-box ul li, #email-category-dropdown.dropdown-box ul li {
	float:left;
}
.dropdown-box .selection {
	height: 28px;
	cursor: pointer;
	display: block;
	padding: 14px 0 0 18px;
}
.dropdown-box .select-box ul {
	margin-bottom:-1px;
}
.dropdown-box ul li .selection:hover {
	background: url(../images/buttons/select-box-hover-170.png)/*tpa=http://www.dish.com/images/buttons/select-box-hover-170.png*/ no-repeat 0 -40px;
}
.dropdown-box ul li .selection {
	color: #fff;
	background: url(../images/buttons/select-box-bg-170.png)/*tpa=http://www.dish.com/images/buttons/select-box-bg-170.png*/ no-repeat 0 -40px;
}
.dropdown-box ul li .top {
	background-position:0 0;
}
.dropdown-box ul li .bottom {
	background-position:0 -80px;
}
.dropdown-box ul li .top:hover {
	background-position:0 0;
}
.dropdown-box ul li .bottom:hover {
	background-position:0 -80px;
}
/*********** SUBPAGE STYLES - <body class="sub"> **********************/
.sub {
	background: #f0f0f0;
}
.sub .section h1 {
	font-size: 64px;
	padding: 60px 0 30px 0;
	line-height: 50px;
}
.sub .section h2 {
	font-size: 40px;
	padding-bottom: 10px;
}
.sub .section h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 20px;
	text-transform: none;
}
.sub .section h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
}
.sub p {
	line-height: 24px;
	padding: 10px 0;
}
/****** Content Area *****/


/****** FAQ Accordians *****/
.faq-section h4 {
	font-size: 18px;
	color: #ed1420;
}
.faq-section hr {
	width:950px;
}
.faq-name {
	margin-top:6px;
	margin-left:10px;
}
.faq-name .faq-accordian {
	width:28px;
	height:26px;
	padding:0;
	background-repeat:no-repeat;
	background-image:url(../technology/images/moreless-sprite-1.png)/*tpa=http://www.dish.com/technology/images/moreLess-sprite.png*/;
	background-position:0 -26px;
	margin-top:-20px;
	margin-right:15px;
	margin-bottom:5px;
	float:right;
}
.faq-name.open .faq-accordian {
	background-position:0 0;
}
.faq-name .faq-content {
	display:none;
}
.faq-name.open .faq-content {
	display:block;
}
.faq-content ul {
	width:800px;
	margin-top:10px;
}
.faq-content ul li, .drop-down ul li {
	background-image: url(../technology/images/qa.png)/*tpa=http://www.dish.com/technology/images/qa.png*/;
	background-repeat:no-repeat;
	background-position:0 7px;
	padding-left: 60px;
}
/****** FOOTER ******/
#footer h6, #footer a {
	color: #f0f0f0;
	font-size: 16px;/*font-size: 13px; 12-1 meeting change to 16px*/
}
#footer a {
	font-size: 13px;/*font-size: 13px; 12-1 meeting change*/
}
#footer {
	width: 100%;
	border-top: 1px solid #393939;
	color: #f0f0f0;
	padding-top: 20px;
	background: #161616;
}
#footer-wrap {
	padding-bottom: 20px;
}
#footer h6 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 13px;
	margin-bottom:5px;
}
#footer li {
	font-weight: lighter;
	padding: 5px 0;
}
#social .email-form {
	margin: 10px 0;
}
.email-form input, .email-form p {
	float: left;
}
#social .email-form input {
	height: 17px;
	width: 205px;
	border: none;
	margin-right: 0;
	padding: 5px 0 5px 5px;
	font: italic 11px Arial, Helvetica, sans-serif;
	color: #999;
}
#social .email-form p {
	background: url(../images/btn-sign-up.png)/*tpa=http://www.dish.com/images/btn-sign-up.png*/ no-repeat;
	width: 74px;
	height: 27px;
	display: block;
	padding: 5px 0 0 10px;
	font: 12px Arial, Helvetica, sans-serif;
	cursor: pointer;
}
#social .social-icons h6 {
	padding: 40px 0 10px;
}
#social .social-icons li {
	float: left;
	margin-right: 15px;
}
#social .social-icons li a {
	background: url(../images/social.png)/*tpa=http://www.dish.com/images/social.png*/ -2px 0 no-repeat;
	width: 35px;
	height: 35px;
	display: block;
}
#social .social-icons li a:hover {
	background-position: -2px -36px; 
}

#social .social-icons li.twitter a {
	background-position: -47px 0; 
}
#social .social-icons li.twitter a:hover {
	background-position: -47px -36px; 
}
#social .social-icons li.youtube a {
	background-position: -93px 0; 
}
#social .social-icons li.youtube a:hover {
	background-position: -93px -36px; 
}
#copyright {
	background: #242424;
	padding: 20px 0;
}
#copyright p {
	color: #f0f0f0;
}
.disclaimer {
	font-size: 11px;
	font-style: italic;
	color: #7e7e7e;
	line-height:14px;
}
.disclaimer-drk {
	font-size: 11px;
	font-style: italic;
	color: #000;
	line-height:14px;
}
.disclaimer-light {
	font-size: 11px;
	font-style: italic;
	color: #fff;
	line-height:14px;
}
.sub .disclaimer {
	font-size: 11px;
	font-style: italic;
	color: #7e7e7e;
	line-height:14px;
}
.sub .disclaimer-drk {
	font-size: 11px;
	font-style: italic;
	color: #000;
	line-height:14px;
}
.sub .disclaimer-light {
	font-size: 11px;
	font-style: italic;
	color: #fff;
	line-height:14px;
}
.email-wrapper {
	width: 600px;
	padding:20px;
	background-color:#f0f0f0;
}
.email-wrapper h1 {
	font-size: 64px;
}
.email-wrapper #contact-info input {
	width:250px;
	height:40px;
	margin-right:10px;
}
.email-wrapper #topic-info textarea {
	width:520px;
	height:120px;
	margin-right:10px;
}
.email-wrapper .button a {
	margin: 10px 0;
}
/*
	Variable Grid System.
	Learn more ~ http://www.spry-soft.com/grids/
	Based on 960 Grid System - http://960.gs/
	http://grids.heroku.com/

	Licensed under GPL and MIT.
*/

body {
	min-width: 960px;
}
/* Containers
----------------------------------------------------------------------------------------------------*/
.container_12 {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}
/* Grid >> Global
----------------------------------------------------------------------------------------------------*/


.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
}
.push_1, .pull_1, .push_2, .pull_2, .push_3, .pull_3, .push_4, .pull_4, .push_5, .pull_5, .push_6, .pull_6, .push_7, .pull_7, .push_8, .pull_8, .push_9, .pull_9, .push_10, .pull_10, .push_11, .pull_11, .push_12, .pull_12 {
	position:relative;
}
/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
	margin-left: 0!important;
}
.omega {
	margin-right: 0!important;
}
/* Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/


.container_12 .grid_1 {
	width:60px;
}
.container_12 .grid_2 {
	width:140px;
}
.container_12 .grid_3 {
	width:220px;
}
.container_12 .grid_4 {
	width:300px;
}
.container_12 .grid_5 {
	width:380px;
}
.container_12 .grid_6 {
	width:460px;
}
.container_12 .grid_7 {
	width:540px;
}
.container_12 .grid_8 {
	width:620px;
}
.container_12 .grid_9 {
	width:700px;
}
.container_12 .grid_10 {
	width:780px;
}
.container_12 .grid_11 {
	width:860px;
}
.container_12 .grid_12 {
	width:940px;
}
/* Prefix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/


.container_12 .prefix_1 {
	padding-left:80px;
}
.container_12 .prefix_2 {
	padding-left:160px;
}
.container_12 .prefix_3 {
	padding-left:240px;
}
.container_12 .prefix_4 {
	padding-left:320px;
}
.container_12 .prefix_5 {
	padding-left:400px;
}
.container_12 .prefix_6 {
	padding-left:480px;
}
.container_12 .prefix_7 {
	padding-left:560px;
}
.container_12 .prefix_8 {
	padding-left:640px;
}
.container_12 .prefix_9 {
	padding-left:720px;
}
.container_12 .prefix_10 {
	padding-left:800px;
}
.container_12 .prefix_11 {
	padding-left:880px;
}
/* Suffix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/


.container_12 .suffix_1 {
	padding-right:80px;
}
.container_12 .suffix_2 {
	padding-right:160px;
}
.container_12 .suffix_3 {
	padding-right:240px;
}
.container_12 .suffix_4 {
	padding-right:320px;
}
.container_12 .suffix_5 {
	padding-right:400px;
}
.container_12 .suffix_6 {
	padding-right:480px;
}
.container_12 .suffix_7 {
	padding-right:560px;
}
.container_12 .suffix_8 {
	padding-right:640px;
}
.container_12 .suffix_9 {
	padding-right:720px;
}
.container_12 .suffix_10 {
	padding-right:800px;
}
.container_12 .suffix_11 {
	padding-right:880px;
}
/* Push Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/


.container_12 .push_1 {
	left:80px;
}
.container_12 .push_2 {
	left:160px;
}
.container_12 .push_3 {
	left:240px;
}
.container_12 .push_4 {
	left:320px;
}
.container_12 .push_5 {
	left:400px;
}
.container_12 .push_6 {
	left:480px;
}
.container_12 .push_7 {
	left:560px;
}
.container_12 .push_8 {
	left:640px;
}
.container_12 .push_9 {
	left:720px;
}
.container_12 .push_10 {
	left:800px;
}
.container_12 .push_11 {
	left:880px;
}
/* Pull Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/


.container_12 .pull_1 {
	left:-80px;
}
.container_12 .pull_2 {
	left:-160px;
}
.container_12 .pull_3 {
	left:-240px;
}
.container_12 .pull_4 {
	left:-320px;
}
.container_12 .pull_5 {
	left:-400px;
}
.container_12 .pull_6 {
	left:-480px;
}
.container_12 .pull_7 {
	left:-560px;
}
.container_12 .pull_8 {
	left:-640px;
}
.container_12 .pull_9 {
	left:-720px;
}
.container_12 .pull_10 {
	left:-800px;
}
.container_12 .pull_11 {
	left:-880px;
}
/* TipTip CSS - Version 1.2 */

#tiptip_holder {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
}
#tiptip_holder.tip_top {
	padding-bottom: 5px;
}
#tiptip_holder.tip_bottom {
	padding-top: 5px;
}
#tiptip_holder.tip_right {
	padding-left: 5px;
}
#tiptip_holder.tip_left {
	padding-right: 5px;
}
#tiptip_content {
	font-size: 12px;
	color: #454545;
	padding: 4px 8px;
	border: 1px solid #dadada;
	background-color: #e5e5e5;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 0 3px #555;
	-webkit-box-shadow: 0 0 3px #555;
	-moz-box-shadow: 0 0 3px #555;
}
#tiptip_arrow, #tiptip_arrow_inner {
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 6px;
	height: 0;
	width: 0;
}
#tiptip_holder.tip_top #tiptip_arrow {
	border-top-color: #fff;
	border-top-color: #333;
}
#tiptip_holder.tip_bottom #tiptip_arrow {
	border-bottom-color: #fff;
	border-bottom-color: #333;
}
#tiptip_holder.tip_right #tiptip_arrow {
	border-right-color: #fff;
	border-right-color: #333;
}
#tiptip_holder.tip_left #tiptip_arrow {
	border-left-color: #fff;
	border-left-color: #333;
}
#tiptip_holder.tip_top #tiptip_arrow_inner {
	margin-top: -7px;
	margin-left: -6px;
	border-top-color: #e5e5e5;
}
#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	margin-top: -5px;
	margin-left: -6px;
	border-top-color: #e5e5e5;
}
#tiptip_holder.tip_right #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -5px;
	border-right-color: #e5e5e5;
	border-right-color: #e5e5e5;
}
#tiptip_holder.tip_left #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -7px;
	border-left-color: #e5e5e5;
	border-left-color: #e5e5e5;
}
/* END TIP TIP */

/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper {
	position:absolute;
	top:0;
	left:0;
	z-index:999999;
	overflow:visible;
}
#cboxOverlay {
	position:fixed;
	width:100%;
	height:100%;
}
#cboxMiddleLeft, #cboxBottomLeft {
	clear:left;
}
#cboxContent {
	position:relative;
}
#cboxLoadedContent {
	overflow:visible;
}
#cboxTitle {
	margin:0;
}
#cboxLoadingOverlay, #cboxLoadingGraphic {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
	cursor:pointer;
}
.cboxPhoto {
	float:left;
	margin:auto;
	border:0;
	display:block;
}
.cboxIframe {
	width:100%;
	height:100%;
	display:block;
	border:0;
}
/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay {
	background:url(../images/overlay/overlay.png)/*tpa=http://www.dish.com/images/overlay/overlay.png*/ repeat 0 0;
}
#colorbox {
	overflow:visible;
}
#cboxTopLeft {
}
#cboxTopRight {
}
#cboxBottomLeft {
}
#cboxBottomRight {
}
#cboxMiddleLeft {
}
#cboxMiddleRight {
}
#cboxTopCenter {
}
#cboxBottomCenter {
}
#cboxContent {
	background:#fff;
}
.cboxIframe {
	background:#fff;
}
#cboxError {
	padding:50px;
	border:1px solid #ccc;
}
#cboxLoadedContent {
	overflow: visible;
}
#cboxTitle {
	position:absolute;
	bottom:4px;
	left:0;
	text-align:center;
	width:100%;
	color:#949494;
}
#cboxCurrent {
	position:absolute;
	bottom:4px;
	left:58px;
	color:#949494;
}
#cboxSlideshow {
	position:absolute;
	bottom:4px;
	right:30px;
	color:#0092ef;
}
#cboxPrevious {
}
#cboxPrevious:hover {
	background-position:-75px -25px;
}
#cboxNext {
}
#cboxNext:hover {
	background-position:-50px -25px;
}
#cboxLoadingOverlay {
	background:url(../images/overlay/loading_background.png)/*tpa=http://www.dish.com/images/overlay/loading_background.png*/ no-repeat center center;
}
#cboxLoadingGraphic {
	background:url(../images/overlay/loading.gif)/*tpa=http://www.dish.com/images/overlay/loading.gif*/ no-repeat center center;
}
#cboxClose {
	position:absolute;
	top:-18px;
	right:-18px;
	background: url(../images/icons.png)/*tpa=http://www.dish.com/images/icons.png*/ no-repeat 0 -309px;
	width:36px;
	height:36px;
	text-indent:-9999px;
	display:none;
}
#cboxClose:hover {
	background-position:-36px -309px;
}
/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft, .cboxIE #cboxTopCenter, .cboxIE #cboxTopRight, .cboxIE #cboxBottomLeft, .cboxIE #cboxBottomCenter, .cboxIE #cboxBottomRight, .cboxIE #cboxMiddleLeft, .cboxIE #cboxMiddleRight {
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF);
}
/*
  The following provides PNG transparency support for IE6
  Feel free to remove this and the /ie6/ directory if you have dropped IE6 support.
*/
.cboxIE6 #cboxTopLeft {
	background:url(Unknown_83_filename)/*tpa=http://www.dish.com/css/images/ie6/borderTopLeft.png*/;
}
.cboxIE6 #cboxTopCenter {
	background:url(Unknown_83_filename)/*tpa=http://www.dish.com/css/images/ie6/borderTopCenter.png*/;
}
.cboxIE6 #cboxTopRight {
	background:url(Unknown_83_filename)/*tpa=http://www.dish.com/css/images/ie6/borderTopRight.png*/;
}
.cboxIE6 #cboxBottomLeft {
	background:url(Unknown_83_filename)/*tpa=http://www.dish.com/css/images/ie6/borderBottomLeft.png*/;
}
.cboxIE6 #cboxBottomCenter {
	background:url(Unknown_83_filename)/*tpa=http://www.dish.com/css/images/ie6/borderBottomCenter.png*/;
}
.cboxIE6 #cboxBottomRight {
	background:url(Unknown_83_filename)/*tpa=http://www.dish.com/css/images/ie6/borderBottomRight.png*/;
}
.cboxIE6 #cboxMiddleLeft {
	background:url(Unknown_83_filename)/*tpa=http://www.dish.com/css/images/ie6/borderMiddleLeft.png*/;
}
.cboxIE6 #cboxMiddleRight {
	background:url(Unknown_83_filename)/*tpa=http://www.dish.com/css/images/ie6/borderMiddleRight.png*/;
}
.cboxIE6 #cboxTopLeft, .cboxIE6 #cboxTopCenter, .cboxIE6 #cboxTopRight, .cboxIE6 #cboxBottomLeft, .cboxIE6 #cboxBottomCenter, .cboxIE6 #cboxBottomRight, .cboxIE6 #cboxMiddleLeft, .cboxIE6 #cboxMiddleRight {
 _behavior: expression(this.src = this.src ? this.src : this.currentStyle.backgroundImage.split('"')[1], this.style.background = "none", this.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=" + this.src + ", sizingMethod='scale')");
}
/* 

/****************** Package-Cards Include Layout *******************/

#package-cards .pack-head h3 {
	text-align: center;
	color: #ed1420;
	font-family: Arial;
	font-size: 14px;
	margin-top: -100px;
	padding-left: 60px;
}
#aep .pack-head h3 {
	font-size: 12px;
	padding-left: 80px;
}
#package-cards .packagesbox {
	border: solid 1px #cacaca;
	background: #f3f2f2;
	width: 310px;
	height: 390px;
}
#package-cards .packages-price {
	margin: 30px 85px 85px 85px;
}
#package-cards .small p.month {
	font: bold 12px/12px Arial, Helvetica, sans-serif;
	color: #ed1420;
	float: right;
	border: none;
	margin-top: -30px;
	clear: both;
}
#package-cards .small p {
	font: bold 40px/33px 'akzidenz-grotesk-std-dish';
	float: right;
	text-align: left;
	margin-right: -15px;
	margin-top: -70px;
	border-bottom: 1px solid #454545;
	padding-bottom: 2px;
}
#package-cards .big p {
	font-family: 'akzidenz-grotesk-std-dish';
	font-size: 100px;
}
#package-cards .big p span {
	font-size: 35px;
	line-height: 40px;
	position: absolute;
	margin: -35px 0 0 -20px;
}
#package-cards .desc, #package-cards .desc p {
	text-align: center;
	margin-top: -30px;
}
#package-cards .desc h3 {
	text-align: center;
	font: bold 14px Arial, Helvetica, sans-serif;
}
#package-cards .free p {
	text-align: left;
	font-weight: bold;
	line-height: 14px;
	padding: 37px 0 0 0;
	margin-left: -40px;
}
#package-cards .free2 p {
	text-align: left;
	font-weight: bold;
	line-height: 14px;
	padding: 37px 0 25px 0;
	margin: -25px 0 -27px -85px;
}
#package-cards .free span, .free2 span {
	color: #ed1420;
	font-weight: bold;
}
.bottom-sticky{
	position: fixed;
	bottom: -3px;
	left: 850px;
	cursor: pointer;
	z-index: 999999;
}
.sticker, .sticker2 {
	margin: -4px 0 0 -3px;
}
.roo {
	margin: -2px 0 0 10px;
}
.roo2 {
	margin: 2px 0 0 -75px;
}
.fall {
	margin: -40px 0 0 55px;
}
#smartpack h3 {
	margin-left: -45px;
}

.hidden {
	display: none;
}
/********** Mobile Layout ***********/

@media only screen and (max-width: 1024px) {
#top-nav input {
	width: 190px;
	border: red thin solid;
}
}
