h2, h3, h4, h5, h6 {
	font-family: Arial, Helvetica, sans-serif !important;
}
h3 {
	font-weight: bold;
	font-size: 18px;
}
body {
	background: #242424;
}
/************ Start Animated Banner2 Styles ************/
#overview-c .wordwrap {
	display: block;
}
#overview-c {
	background: url(../images/overview-c.jpg)/*tpa=http://www.dish.com/images/overview-c.jpg*/ no-repeat center #fff;
	overflow: hidden;
	margin: 0;
	padding: 0;
    height: 503px;
	position: relative;
}
#overview-c .overview-container, #overview-c .container_12 {
    position: relative;
}
#overview-c .narrow-button {
    width: 10.1875rem!important;
	margin-top: -63px;
	float: right;
	z-index: 99999;
}
#overview-c .button-red-2 a {
    display: block;
    border: 1px solid #f01446;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    background: #f01446;
	color: #fff;
	padding: 1.25rem .5rem; 
    font-size: 1rem;
	font-family: "museo-sans-rounded", "Museo Sans 100", sans-serif;	
	font-weight: 100;
	z-index: 99999;
}
#overview-c .button-red-2 a:hover {
    background: #fff;
    border: 1px solid #f01446;
    border-radius: 4px;
	color: #f01446;
	padding: 1.25rem;
	z-index: 99999;
}
#overview-c .dotted:after {
	content:" \2022 \2022 \2022 \2022 \2022 \2022 \2022 \2022 \2022 \2022 \2022 \2022 \2022 \2022 \2022 \2022 \2022 \2022 \2022 \2022 \2022 \2022 \2022 \2022 \2022 \2022 \2022 \2022 \2022 \2022 \2022 ";
	font-size: 1rem;
	letter-spacing: 0.2rem;
}
#overview-c #percent-off {    
	background: url(../images/percent-off.png)/*tpa=http://www.dish.com/images/percent-off.png*/ no-repeat;
    background-position: center bottom;
    background-size: contain;
    display: block;
    width: 468px;
    height: 294px;
    left: 0;
	right: 0;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}
#overview-c #lockup {
	width: 457px;
	right: 0;
	left: 0;
	margin: 0 auto;
}
.red-txt {
	color: #f01446 !important;
}
#banner-text {
	margin-left: 0px;
	padding: 5px 0;
}
#overview-c .font2 {
	font-family: "museo-sans-rounded", "Museo Sans 100", sans-serif;	
	font-weight: 100;
	font-size: 1.875rem;
	color: #000;
	text-transform: none;
	display: block;
	text-align: left;
}
#overview-c .font3 {
	font-family: "museo-sans-rounded", "Museo Sans 100", sans-serif;	
	font-weight: 100;
	font-size: 1.375rem;
	color: #000;
	text-transform: none;
	display: block;
	text-align: left;
}
#overview-c .font4 {	
	font-family: "museo-sans-rounded", "Museo Sans 100", sans-serif;	
	font-weight: 100;
	font-size: 1.125rem;
	color: #000;
	text-transform: none;
	display: block;
	text-align: left;
}
#overview-c .small-disc {
	font-family: "museo-sans-rounded", "Museo Sans 100", sans-serif;	
	font-weight: 100;
	font-size: 10px;
	text-align: left;
}
#overview-c .giftcard-50 {
	float: left;
	width: 143px;
	padding: 0 10px 0 10px;
}
#overview-c  a.cuetip {
	position: absolute;
	right: 15px; 
	bottom: -32px;
	margin: auto; 
	color: #000;
	font-size: 14px;
	font-family: "museo-sans-rounded", "Museo Sans 100", sans-serif;	
	font-weight: 100;
	z-index: 99999999999;
}
#overview-c a.cuetip:hover span {
	bottom: 32px;
}
.colors img, .colors3 img { 
	display: block;
	position: absolute;
	width: 20px;
	height: auto;
	-webkit-animation-name: fall, sway;
	-webkit-animation-duration: 15s, 5s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-name: fall, sway;
	-moz-animation-duration: 15s, 5s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
	-moz-animation-fill-mode: forwards;
	animation-name: fall, sway;
	animation-duration: 15s, 5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-fill-mode: forwards;
}
.colors2 img, .colors4 img { 
	display: block;
	position: absolute;
	width: 20px;
	-webkit-animation-name: fall, sway;
	-webkit-animation-duration: 15s, 5s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 7s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-name: fall, sway;
	-moz-animation-duration: 15s, 5s;
	-moz-animation-timing-function: linear;
	-moz-animation-delay: 7s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-fill-mode: forwards;
	animation-name: fall, sway;
	animation-duration: 15s, 5s;
	animation-timing-function: linear;
	animation-delay: 7s;
	animation-iteration-count: infinite;
	animation-fill-mode: forwards;
}

@-webkit-keyframes sway { 
0% { -webkit-transform: rotateZ(-15deg) rotateX(55deg);  }
30% { -webkit-transform: rotateZ(20deg) rotateX(60deg) ; -webkit-animation-timing-function: ease-in-out; }
60% { -webkit-transform: rotateZ(-20deg) rotateX(55deg); -webkit-animation-timing-function: ease-in-out;  }
100% { -webkit-transform: rotateZ(0deg) rotateX(58deg) ; -webkit-animation-timing-function: cubic-bezier(0.990, 0.000, 0.890, 0.435);  }
}
@keyframes sway { 
0% { -webkit-transform: rotateZ(-15deg) rotateX(55deg); transform: rotateZ(-15deg) rotateX(55deg);  }
30% { -webkit-transform: rotateZ(20deg) rotateX(60deg); transform: rotateZ(20deg) rotateX(60deg); -webkit-animation-timing-function: ease-in-out; animation-timing-function: ease-in-out; }
60% { -webkit-transform: rotateZ(-20deg) rotateX(55deg); transform: rotateZ(-20deg) rotateX(55deg); -webkit-animation-timing-function: ease-in-out; animation-timing-function: ease-in-out;  }
100% { -webkit-transform: rotateZ(0deg) rotateX(58deg); transform: rotateZ(0deg) rotateX(58deg); -webkit-animation-timing-function: cubic-bezier(0.990, 0.000, 0.890, 0.435); animation-timing-function: cubic-bezier(0.990, 0.000, 0.890, 0.435);  }
}
@-webkit-keyframes fall { 
0% {margin-top: 0px;  }
60% { }
100% { margin-top: 1550px; }
}
@-moz-keyframes fall { 
0% {margin-top: 0px; }
60% { }
100% { margin-top: 1550px; }
}
@keyframes fall { 
0% {margin-top: 0px; }
60% { }
100% { margin-top: 1550px; }
}
div#confetti {
	height: 503px;
	overflow: hidden;
	position: relative;
}
#yellow1 { top: -50px; left: 1.5%; }
#yellow2 { top: -300px; left: 3%; }
#yellow3 { top: -500px; left: 4.5%; }
#yellow4 { top: -700px; left: 6%; }
#yellow5 { top: -150px; left: 7.5%; }
#yellow6 { top: -250px; left: 9%; }
#yellow7 { top: -350px; left: 10.5%; }
#yellow8 { top: -450px; left: 12%; }
#yellow9 { top: -100px; left: 13.5%; }
#yellow10 { top: -325px; left: 14%; }
#yellow11 { top: -528px; left: 16.5%; }
#yellow12 { top: -700px; left: 18%; }
#yellow13 { top: -105px; left: 19.5%; }
#yellow14 { top: -250px; left: 21%; }
#yellow15 { top: -350px; left: 22.5%; }
#yellow16 { top: -450px; left: 25%; }
#yellow17 { top: -620px; left: 14%; }
#yellow18 { top: -581px; left: 7%; }
#yellow19 { top: -384px; left: 4.5%; }
#yellow20 { top: -604px; left: 2%; }

#red1 { top: -250px; left: 1.5%; }
#red2 { top: -450px; left: 3%; }
#red3 { top: -650px; left: 4.5%; }
#red4 { top: 45px; left: 8%; }
#red5 { top: -200px; left: 24%; }
#red6 { top: -400px; left: 9%; }
#red7 { top: -500px; left: 10.5%; }
#red8 { top: -700px; left: 12%; }
#red9 { top: -219px; left: 15%; }
#red10 { top: -450px; left: 15%; }
#red11 { top: -574px; left: 18.5%; }
#red12 { top: -570px; left: 14%; }
#red13 { top: -663px; left: 20.5%; }
#red14 { top: -400px; left: 21%; }
#red15 { top: -300px; left: 22.5%; }
#red16 { top: -500px; left: 25%; }
#red17 { top: -509px; left: 1%; }
#red18 { top: -367px; left: 16%; }
#red19 { top: -343px; left: 7%; }
#red20 { top: -146px; left: 20%; }

#blue1 { top: 45px; left: 1.5%; }
#blue2 { top: -149px; left: 1%; }
#blue3 { top: -200px; left: 4.5%; }
#blue4 { top: -75px; left: 6%; }
#blue5 { top: -525px; left: 7.5%; }
#blue6 { top: -200px; left: 9%; }
#blue7 { top: -600px; left: 10.5%; }
#blue8 { top: -369px; left: 12%; }
#blue9 { top: 0px; left: 13.5%; }
#blue10 { top: -135px; left: 16%; }
#blue11 { top: -300px; left: 16.5%; }
#blue12 { top: -8px; left: 21%; }
#blue13 { top: -470px; left: 21%; }
#blue14 { top: -200px; left: 21%; }
#blue15 { top: -600px; left: 22.5%; }
#blue16 { top: -369px; left: 25%; }
#blue17 { top: -361px; left: 1%; }
#blue18 { top: -667px; left: 16%; }
#blue19 { top: -550px; left: 3%; }
#blue20 { top: -685px; left: 2%; }

#yellow1-2 { top: -50px; left: 1.5%; }
#yellow2-2 { top: -300px; left: 3%; }
#yellow3-2 { top: -500px; left: 4.5%; }
#yellow4-2 { top: -700px; left: 6%; }
#yellow5-2 { top: -150px; left: 7.5%; }
#yellow6-2 { top: -250px; left: 9%; }
#yellow7-2 { top: -350px; left: 10.5%; }
#yellow8-2 { top: -450px; left: 12%; }
#yellow9-2 { top: -100px; left: 13.5%; }
#yellow10-2 { top: -325px; left: 14%; }
#yellow11-2 { top: -528px; left: 16.5%; }
#yellow12-2 { top: -700px; left: 18%; }
#yellow13-2 { top: -105px; left: 19.5%; }
#yellow14-2 { top: -250px; left: 21%; }
#yellow15-2 { top: -350px; left: 22.5%; }
#yellow16-2 { top: -450px; left: 25%; }
#yellow17-2 { top: -620px; left: 14%; }
#yellow18-2 { top: -581px; left: 7%; }
#yellow19-2 { top: -384px; left: 4.5%; }
#yellow20-2 { top: -604px; left: 2%; }

#red1-2 { top: -250px; left: 1.5%; }
#red2-2 { top: -450px; left: 3%; }
#red3-2 { top: -650px; left: 4.5%; }
#red4-2 { top: -50px; left: 8%; }
#red5-2 { top: -200px; left: 24%; }
#red6-2 { top: -400px; left: 9%; }
#red7-2 { top: -500px; left: 10.5%; }
#red8-2 { top: -756px; left: 12%; }
#red9-2 { top: -219px; left: 15%; }
#red10-2 { top: -450px; left: 15%; }
#red11-2 { top: -574px; left: 18.5%; }
#red12-2 { top: -570px; left: 14%; }
#red13-2 { top: -663px; left: 20.5%; }
#red14-2 { top: -400px; left: 21%; }
#red15-2 { top: -300px; left: 22.5%; }
#red16-2 { top: -500px; left: 25%; }
#red17-2 { top: -509px; left: 1%; }
#red18-2 { top: -367px; left: 16%; }
#red19-2 { top: -343px; left: 7%; }
#red20-2 { top: -146px; left: 20%; }

#blue1-2 { top: -25px; left: 1.5%; }
#blue2-2 { top: -149px; left: 1%; }
#blue3-2 { top: -200px; left: 4.5%; }
#blue4-2 { top: -75px; left: 6%; }
#blue5-2 { top: -525px; left: 7.5%; }
#blue6-2 { top: -200px; left: 9%; }
#blue7-2 { top: -600px; left: 10.5%; }
#blue8-2 { top: -369px; left: 12%; }
#blue9-2 { top: -25px; left: 13.5%; }
#blue10-2 { top: -135px; left: 16%; }
#blue11-2 { top: -300px; left: 16.5%; }
#blue12-2 { top: -75px; left: 18%; }
#blue13-2 { top: -470px; left: 21%; }
#blue14-2 { top: -200px; left: 21%; }
#blue15-2 { top: -600px; left: 22.5%; }
#blue16-2 { top: -369px; left: 25%; }
#blue17-2 { top: -361px; left: 1%; }
#blue18-2 { top: -667px; left: 16%; }
#blue19-2 { top: -550px; left: 3%; }
#blue20-2 { top: -685px; left: 2%; }

#yellow1-3 { top: -100px; left: 75%; }
#yellow2-3 { top: -300px; left: 76.5%; }
#yellow3-3 { top: -500px; left: 78%; }
#yellow4-3 { top: -700px; left: 79.5%; }
#yellow5-3 { top: -150px; left: 81%; }
#yellow6-3 { top: -250px; left: 82.5%; }
#yellow7-3 { top: -350px; left: 84%; }
#yellow8-3 { top: -450px; left: 85.5%; }
#yellow9-3 { top: -100px; left: 87%; }
#yellow10-3 { top: -300px; left: 88.5%; }
#yellow11-3 { top: -500px; left: 90%; }
#yellow12-3 { top: -800px; left: 91.5%; }
#yellow13-3 { top: -150px; left: 93%; }
#yellow14-3 { top: -250px; left: 94.5%; }
#yellow15-3 { top: -350px; left: 96%; }
#yellow16-3 { top: -450px; left: 97.5%; }
#red1-3 { top: -250px; left: 75%; }
#red2-3 { top: -450px; left: 76.5%; }
#red3-3 { top: -650px; left: 78%;  }
#red4-3 { top: 50px; left: 79.5%; }
#red5-3 { top: -37px; left: 81%; }
#red6-3 { top: -400px; left: 82.5%; }
#red7-3 { top: -500px; left: 84%; }
#red8-3 { top: -800px; left: 85.5%; }
#red9-3 { top: -250px; left: 87%; }
#red10-3 { top: -450px; left: 88.5%; }
#red11-3 { top: -650px; left: 90%;  }
#red12-3 { top: -25px; left: 97.5%; }
#red13-3 { top: -200px; left: 93%; }
#red14-3 { top: -400px; left: 94.5%; }
#red15-3 { top: -300px; left: 96%; }
#red16-3 { top: -500px; left: 97.5%; }
#blue1-3 { top: -25px; left: 75%; }
#blue2-3 { top: -170px; left: 76.5%; }
#blue3-3 { top: -200px; left: 78%; }
#blue4-3 { top: -75px; left: 79.5%; }
#blue5-3 { top: -525px; left: 81%; }
#blue6-3 { top: -200px; left: 82.5%; }
#blue7-3 { top: -600px; left: 84%; }
#blue8-3 { top: -369px; left: 85.5%; }
#blue9-3 { top: -18px; left: 85%; }
#blue10-3 { top: -170px; left: 88.5%; }
#blue11-3 { top: -300px; left: 90%; }
#blue12-3 { top: -75px; left: 91.5%; }
#blue13-3 { top: -525px; left: 93%; }
#blue14-3 { top: -200px; left: 98%; }
#blue15-3 { top: -600px; left: 96%; }
#blue16-3 { top: -369px; left: 97.5%; }

#yellow1-4 { top: -100px; left: 75%; }
#yellow2-4 { top: -300px; left: 76.5%; }
#yellow3-4 { top: -500px; left: 78%; }
#yellow4-4 { top: -700px; left: 79.5%; }
#yellow5-4 { top: -150px; left: 81%; }
#yellow6-4 { top: -250px; left: 82.5%; }
#yellow7-4 { top: -350px; left: 84%; }
#yellow8-4 { top: -450px; left: 85.5%; }
#yellow9-4 { top: -14px; left: 95%; }
#yellow10-4 { top: -300px; left: 88.5%; }
#yellow11-4 { top: -582px; left: 90%; }
#yellow12-4 { top: -700px; left: 91.5%; }
#yellow13-4 { top: -150px; left: 93%; }
#yellow14-4 { top: -250px; left: 94.5%; }
#yellow15-4 { top: -350px; left: 96%; }
#yellow16-4 { top: -450px; left: 97.5%; }
#red1-4 { top: -250px; left: 75%; }
#red2-4 { top: -450px; left: 76.5%; }
#red3-4 { top: -650px; left: 78%;  }
#red4-4 { top: -21px; left: 85.5%; }
#red5-4 { top: -200px; left: 81%; }
#red6-4 { top: -400px; left: 82.5%; }
#red7-4 { top: -500px; left: 84%; }
#red8-4 { top: -800px; left: 90.5%; }
#red9-4 { top: -250px; left: 87%; }
#red10-4 { top: -450px; left: 88.5%; }
#red11-4 { top: -650px; left: 95%;  }
#red12-4 { top: -29px; left: 97.5%; }
#red13-4 { top: -200px; left: 93%; }
#red14-4 { top: -400px; left: 94.5%; }
#red15-4 { top: -300px; left: 96%; }
#red16-4 { top: -500px; left: 97.5%; }
#blue1-4 { top: -25px; left: 75%; }
#blue2-4 { top: -170px; left: 76.5%; }
#blue3-4 { top: -200px; left: 78%; }
#blue4-4 { top: -75px; left: 79.5%; }
#blue5-4 { top: -716px; left: 87%; }
#blue6-4 { top: -200px; left: 82.5%; }
#blue7-4 { top: -600px; left: 84%; }
#blue8-4 { top: -369px; left: 85.5%; }
#blue9-4 { top: -25px; left: 90%; }
#blue10-4 { top: -170px; left: 88.5%; }
#blue11-4 { top: -300px; left: 90%; }
#blue12-4 { top: -75px; left: 95.5%; }
#blue13-4 { top: -525px; left: 93%; }
#blue14-4 { top: -200px; left: 98.5%; }
#blue15-4 { top: -600px; left: 96%; }
#blue16-4 { top: -369px; left: 97.5%; }
@media all and (max-height: 800px) {

}
@media all and (max-height: 950px) {
#leftFade {
	background: url(Unknown_83_filename)/*tpa=http://www.dish.com/images/left-side.png*/ no-repeat;
    background-position: center bottom;
    background-size: contain;
    display: block;
    width: 500px;
    height: 300px;
	left: -164px;
	top: 203px;
	position: absolute;
	z-index: 99;
}
#rightFade {
	background: url(Unknown_83_filename)/*tpa=http://www.dish.com/images/right-side.png*/ no-repeat;
    background-position: center bottom;
    background-size: contain;
    display: block;
    width: 500px;
    height: 300px;
	right: -154px;
	top: 203px;
	position: absolute;
	z-index: 99;
}
}
/************ End Animated Banner2 Styles ************/

/************ Challenge Banner Styles ************/
#overview-b {
	background: url(../images/overview-bg-challenge.jpg)/*tpa=http://www.dish.com/images/overview-bg-challenge.jpg*/ no-repeat center #f20b43;
	padding: 0;
    height: 503px;
}
#overview-b .overview-container, #overview-b .container_12 {
    position: relative;
}
#overview-b #banner {
	height: 440px;
	postion: relative;
}
#overview-b a.cuetip {
	position: absolute;
	right: 315px; 
	bottom: 130px;
	margin: auto; 
	color: #f01446;
	font-size: 12px;
}
#overview-b a.cuetip.top:hover span  {
   margin-top: -280px;		
}
#overview-b #ribbon {
	top: 440px;
}
/************ END Challenge Banner Styles ************/
/************ RIBBON ************/
#ribbon {
	height: 60px;
	width: 950px;
	position: absolute;
	top:423px;
	margin: auto;
	z-index: 9999;
}
#ribbon ul {
	margin: 0 0 0 44px;
}
#ribbon li {
	color: #ed1420;
	font-weight: bold;
	float: left;
	margin-top: 24px;
}
#ribbon #find {
	margin-left: 5px;
}
#ribbon #ipad {
	margin: 16px 5px 0 84px;
}
#ribbon #live-tv {
	margin-left: 100px;
}
#ribbon #email-form {
	width: 270px;
	margin: 0 0 0 45px;
		margin: 0 0 0 60px \9;
}
#ribbon #email-form p.tagline {
	color: #ed1420;
	font: bold 12px/12px arial;
	margin: 7px 0 5px;
	width: 270px;
}
#ribbon #email-form input, #ribbon #email-form #form-area p {
	float: left;
}
#ribbon #email-form #form-area input {
	height: 17px;
	width: 180px;
	border: none;
	margin-right: 0;
	padding: 5px 0 5px 5px;
	font: italic 11px Arial, Helvetica, sans-serif;
	color: #999;
}
#ribbon #email-form #form-area p {
	background: url(../images/btn-sign-up.png)/*tpa=http://www.dish.com/images/btn-sign-up.png*/ no-repeat;
	width: 74px;
	height: 27px;
	display: block;
	padding: 5px 0 0 10px;
	font: 12px Arial, Helvetica, sans-serif;
	cursor: pointer;
	color: #fff;
	margin: 0;
}
/*********** PROMOS **************/
#home-carousel-1 .grid_5 p {
	padding-top: 25px;
}
#promos {
	background: #242424;
	margin-top: 50px;
	padding-bottom: 10px;
}
#promos h3 {
	padding: 10px 0;
	text-transform: none;
	width: 310px;
}
#promos .disclaimer {
	font-style: normal;
	color: #fff;
	clear: both;
	margin: 15px 0;
}
#promos .grid_4 p {
	width: 307px;
}
#promos .order {
	padding: 20px 0
}
#overlay {
	opacity: 30;
}
#amctile {
	margin-top: -13px;
}
#translate .english {
	display: block;
}
#translate .spanish{
	display: none;
}
#translate:hover .english{
	display: none;
}
#translate:hover .spanish {
	display: block;
}
