/***********************************************/
/* SYTLE CSS STYLES START */
/***********************************************/
body 		{background:#88898b url("../../img/sabo/steel_bg.jpg") center top repeat-y;}
#wrap			{padding-top:30px;}
#disclaimer div	{background:url("../../img/sabo/bg_wrap.gif") repeat-y scroll 0 0 #FFF;}
a, .MOD_GC_3 a.more	{color:#333333; }
a.more, a.seeall, a.external, .MOD_FO_33 a.view_more{color:#e2001a !important; background:url('../../img/sabo/arrow.gif') no-repeat 0 4px !important}
a.more:hover, a.seeall:hover, a.external:hover, .MOD_GC_3 a.more:hover { color:#e2001a;}
.collapsable_panel a.more:hover, .collapsable_panel a.seeall:hover, .collapsable_panel a.external:hover{background:url('../../img/sabo/arrow.gif') no-repeat 0 4px !important;}
.MOD_NO_2_S.WCAG_MOD_NO_2_S .tabContent a.more, .MOD_NO_2_S.WCAG_MOD_NO_2_S .tabContent a.seeall, .MOD_NO_2_S.WCAG_MOD_NO_2_S .tabContent a.external,
.MOD_GC_25.WCAG_MOD_GC_25 .tab_module .tab_module_content a.more, .MOD_GC_25.WCAG_MOD_GC_25 .tab_module .tab_module_content a.seeall, .MOD_GC_25.WCAG_MOD_GC_25 .tab_module .tab_module_content a.external{ background:url('../../img/sabo/arrow.gif') no-repeat 0 4px !important; }/*RS WCAG3*/
.MOD_NO_2_S.WCAG_MOD_NO_2_S .tabContent  a.more_pdf{ background:url('../../img/ico_pdf.gif') no-repeat 0 0!important; }/*RS WCAG3*/
.arrow_g {color:#e2001a;background:url('../../img/sabo/arrow.gif') no-repeat 0 3px;}
.arrow_g:hover {color:#e2001a !important; }
#utilityNav a:hover 	{ color:#333;}
#mainNav li .sub div a:hover { color:#333;background-color:#e2001a }
#mainNav .task p span 	{color:#333;}
.homepage-slide-op-text a {color:#e2001a}/*DD artf1301277*/

.module07.promo li 	{background:url('../../img/sabo/arrow.gif') no-repeat 12px 16px #f8f8f8;}
.module07.more a 	{color:#333;background:url('../../img/sabo/arrow.gif') no-repeat 0 5px;}
.heroNav .catDefault div 		{border:solid 1px #333; }
.heroNav .catDefault div span 	{background:#333;}
.heroNav .catDefault div a 		{color:#e2001a;background:url('../../img/sabo/arrow.gif') no-repeat 0 4px;}
.heroNav .catContent div 		{background:#333 }
.heroNav .catContent .txt a 		{background:url("../../img/sabo/arrow.gif") no-repeat 0 4px;}
.heroNav .catContent .txt a:hover 	{ background:url("../../img/sabo/arrow.gif") no-repeat 0 4px transparent;}
.category .videos li p strong {color:#e2001a }
.relatedIndustries li a {color:#333;background:url("../../img/sabo/arrow_black.gif") no-repeat 0 4px;}

/* Begin Hero with Learn More */
.heroLM .catContent div 		{border:solid 1px #333;}
.heroLM .catContent div span 	{background:#333;}
.heroLM .catContent div a 		{color:#e2001a !important;background:url('../../img/sabo/arrow.gif') no-repeat 0 4px;}
/* End Hero with Learn More */

.product .module01 .icons li a				{background-image:url('../../img/sabo/icons_views.gif'); background-position:0 0; background-repeat:no-repeat;}
.product .module01 .featSpecs h5			{ background-color:#e2001a;}
/*
.product .module01 .featSpecs ul li			{ background:url("../../img/sabo/bullet_square.gif") no-repeat scroll 0 4px transparent;;}
DD commented to keep the bullets consistent.
*/
.product .module01 .featSpecs .bt a 		{color:#666;background:url('../../img/sabo/arrow.gif') no-repeat 0 5px;}
.product .module01 .buying_options h5 	{background-color:#e2001a;}

/* Begin Module08 without Tabs */
.module08.simple .side h5 		{color:#333 }
.module08.simple .side .more 	{ color:#333 }
/* End Module08 without Tabs */


/* Begin autocomplete */
form.search .yui-ac-bd li .viv-ac-result 	{color:#000000; }
form.search .yui-ac-content ul 	{border:1px solid #dadada; background-color:#ffffff;}
/* End autocomplete */
/***********************************************/
/* SYTLE CSS STYLES END */
/***********************************************/


/***********************************************/
/* TEMPLATE CSS STYLES START */
/***********************************************/
.pdf 			{color:#e2001a;}
.xls 			{color:#e2001a;}
.xls:hover, .pdf:hover {color:#e2001a !important; }
.o-frame .pdf 	{ color:#e2001a;}
.more a 	{color:#333;background:url('../../img/sabo/arrow.gif') no-repeat 0 5px;}
.side h5 			{color:#333 }
.side .more 		{ color:#333 }

.listName .title	{color:#333;background:#d9dadb;}
.listName li a 		{background:url('../../img/sabo/arrow.gif') no-repeat 0 -100px;}
.listName .on 		{border:solid 1px #e2001a;background:#f7f7f7;}
.productByTask .title 			{color:#333;background:#e2001a}
.productByTask .on 				{border:solid 1px #e2001a;background:#f7f7f7;}

#bkgPop {background:#333;}
.modal .prev, .modal .next 	{background:url('../../img/sabo/pop_arrow.gif') no-repeat }
.modal .next 				{background-position:-42px 0;}
.modal .close 				{background:url('../../img/sabo/close_layer.gif') no-repeat }
.modal .paginator a 			{background:url(../../img/sabo/gallery_paginator.gif) no-repeat;}


	
/* homepage */


/*Changes to Regional Homepage Hero Component */
.homepage-slide-thumblist li a 	{ color:#333; }
.homepage-slide-thumblist li:hover img { border:2px solid #e2001a; }
#homepage-slide-op-prev a:hover span { background:url('../../img/sabo/homepage_slide_left.png') no-repeat left 0px; } 
#homepage-slide-op-next a:hover span, #homepage-slide-op-next.ahover a span { background:url('../../img/sabo/homepage_slide_right.png') no-repeat right 0px;;}
#homepage-slide-op-prev a span.hover { background-position:left -31px; }
#homepage-slide-op-next a span.hover { background-position:right -31px; }
#homepage-slide-op-prev a span.active { background-position:left -62px;}
#homepage-slide-op-next a span.active { background-position:right -62px;}

.banner-op-text .more 		{ background:url('../../img/sabo/arrow.gif') no-repeat 0 7px; color:#e2001a;}
.homepage-slide-thumblist li.curr img,.homepage-slide-thumblist li:hover img,.homepage-slide-thumblist li a:focus img,.ie7 .homepage-slide-thumblist li a:active img { border:2px solid #e2001a; }

/*RS WCAG II*/
.homepage-slide-op-prev a:hover span, .homepage-slide-op-prev div a:focus span, .ie7 .homepage-slide-op-prev div a:active span { background:url('../../img/sabo/homepage_slide_left.png') no-repeat left 0; } 
.homepage-slide-op-next a:hover span, .homepage-slide-op-next.ahover a span, .homepage-slide-op-next div a:focus span, .ie7 .homepage-slide-op-next div a:active span  { background:url('../../img/sabo/homepage_slide_right.png') no-repeat right 0; }
.homepage-slide-op-next div a:active span, .ie .homepage-slide-op-next div a span:active{background-position:right -62px;}
.homepage-slide-op-prev div a:active span,  .ie .homepage-slide-op-prev div a span:active {background-position:left -62px;}
/*RS WCAG II*/
/***********************************************/
/* TEMPLATE CSS STYLES END */
/***********************************************/


/***********************************************/
/* NYROMODAL CSS STYLES START */
/***********************************************/
a#closeBut 					{background: url(../../img/sabo/close_layer.gif) no-repeat;}

/* CSS for nyroModal2 */
a#closeBut2 				{background: url(../../img/sabo/close_layer.gif) no-repeat;}
/***********************************************/
/* NYROMODAL CSS STYLES END */
/***********************************************/



/***********************************************/
/* MODULES CSS STYLES STARTS */
/***********************************************/

/****MOD_GC_3 Starts****/
/*
.MOD_GC_3 ul li, .MOD_GC_3 ol ul ul li, .MOD_GC_3 ul ol ul li { background:url('../../img/sabo/bullet_square_black.gif') no-repeat 5px 6px;}
DD commented to keep the bullets consistent.
*/
.MOD_GC_3 ul li, .MOD_GC_3 ol ul ul li, .MOD_GC_3 ul ol ul li, 
.MOD_GC_7 ul li, .MOD_GC_7 ol ul ul li, .MOD_GC_7 ul ol ul li, 
.MOD_GC_21 ul li, .MOD_GC_21 ol ul ul li, .MOD_GC_21 ul ol ul li, 
.MOD_GC_14_1 ul li, .MOD_GC_14_1 ol ul ul li, .MOD_GC_14_1 ul ol ul li, 
.MOD_GC_22a ul li, .MOD_GC_22a ol ul ul li, .MOD_GC_22a ul ol ul li,
.MOD_GC_22b ul li, .MOD_GC_22b ol ul ul li, .MOD_GC_22b ul ol ul li,
.MOD_GC_22afc ul li, .MOD_GC_22afc ol ul ul li, .MOD_GC_22afc ul ol ul li,
.MOD_FO_8 .contentLightbox li, 
ul.square_list li, .MOD_NO_5_1 li ul li, .MOD_GC_21 .content_area ul li, .MOD_GC_11_Horizontal ul li, .MOD_GC_11_2 .content_pan ul li, 
.MOD_FO_15 .li_list li, .MOD_FO_1 .feature ul li, .product .module01 .featSpecs ul li, 
.MOD_FO_63 ul li, .MOD_FO_63 ol ul ul li, .MOD_FO_63 ul ol ul li {background:url('../../img/sabo/bullet_square.gif') no-repeat 5px 6px !important;}

.MOD_GC_3 ul li span { color:#e2001a;}
.MOD_GC_3 ul.nav li.next, .MOD_NO_26 ul.nav li.next {margin:0; background:url("../../img/sabo/arrow.gif") no-repeat right 5px; }

/****MOD_GC_3 Ends****/

.MOD_GC_22a ul li, .MOD_GC_22a ol ul ul li, .MOD_GC_22a ul ol ul li,
.MOD_GC_22b ul li, .MOD_GC_22b ol ul ul li, .MOD_GC_22b ul ol ul li,
.MOD_GC_22afc ul li, .MOD_GC_22afc ol ul ul li, .MOD_GC_22afc ul ol ul li,
.MOD_FO_8 .contentLightbox li, .MOD_FO_15 .li_list li, .MOD_FO_1 .feature ul li{background-position: 0px 6px !important;}


/****MOD_NO_25 Starts****/
.MOD_NO_25 ul li span { color:#e2001a;}
.MOD_NO_25 ul.nav li.next {background:url("../../img/sabo/arrow.gif") no-repeat right 4px; }
.MOD_NO_25 ul.nav li a { color:#e2001a;}
/****MOD_NO_25 Ends****/

/****MOD_GC_6 Starts****/
.MOD_GC_6 .list .on img { border-color:#e2001a;}
.MOD_GC_6 .list a.prevFrame, .MOD_GC_6 .list a.nextFrame { background:transparent url(../../img/sabo/gallery_paginator.gif) no-repeat;}
.MOD_GC_6 .list a.nextFrame:hover, .MOD_GC_6 .list a.nextHover { background:url(../../img/sabo/gallery_paginator.gif) no-repeat -16px -116px; }
.MOD_GC_6 .list a.prevFrame:hover, .MOD_GC_6 .list a.prevHover { background:url(../../img/sabo/gallery_paginator.gif) no-repeat 0 -116px; }

.MOD_GC_6 .carousel-pagination li a { background:transparent url(../../img/sabo/gallery_paginator.gif) no-repeat;}
.MOD_GC_6 .carousel-pagination li span, .MOD_GC_6 .carousel-pagination li a { background:transparent url(../../img/sabo/gallery_paginator.gif) no-repeat 0px 0px;}
/****MOD_GC_6 Ends****/

/****MOD_GC_12_2a & MOD_GC_12_5 Starts****/
.MOD_GC_12_2a_green .copy-block { background:transparent url(../../img/sabo/heroSpace_grey_bg.png) no-repeat right; }
.MOD_GC_12_2a .pag_seperator .copy-block { background:transparent url(../../img/sabo/hero_space_grey_bg_pagination.png) no-repeat right; }
.MOD_GC_12_2a_green .pag_seperator .copy-block { background:transparent url(../../img/sabo/hero_space_grey_bg_pagination.png) no-repeat right; }
.MOD_GC_12_5 #slideShowOverlay { background-color:#333; }
.MOD_GC_12_5 #product-navigation-trigger a {color:#333;}
.MOD_GC_12_5 #product-navigation-trigger a.open { background:transparent url(../../img/sabo/banner_sprites.png) no-repeat 0 -46px;}
.MOD_GC_12_5 #product-navigation-trigger a.close { background:transparent url(../../img/sabo/banner_sprites.png) no-repeat 0 -14px;}
.MOD_GC_12_5 #product-navigation-trigger a.close span { background:transparent url(../../img/sabo/banner_sprites.png) no-repeat right -336px;color:#333333; }
.MOD_GC_12_5 #product-navigation-trigger a.open span { background:transparent url(../../img/sabo/banner_sprites.png) no-repeat right -369px;color:#333333; }
.MOD_GC_12_5 #product-navigation ul li { background:#d9dadb; border-bottom:1px dotted #e5e6e6;}
.MOD_GC_12_5 #product-navigation ul li a { background:#d9dadb; color:#333; }
.MOD_GC_12_5 #product-navigation ul li .flyout {border:3px solid #dadada;}
.MOD_GC_12_5 #product-navigation ul li .flyout .text-block {color:#333333; background:#d9dadb;}
.MOD_GC_12_5 #product-navigation ul li a:hover { background:url(../../img/sabo/arrow.gif) 10px 9px no-repeat;color:#e2001a;}

ul#banner-small{background-color:#333;}
.MOD_GC_12_2a .copy-block h3, .MOD_GC_12_2a_green .copy-block h3 { color:#333333;}
.MOD_GC_12_2a .copy-block h3 { color:#333 !important; }
.MOD_GC_12_2a .copy-block h6 { color:#333 !important; }
.MOD_GC_12_2a .copy-block h6, .MOD_GC_12_2a_green .copy-block h6 {color:#333;}
.MOD_GC_12_2a a.yellow:hover, .MOD_GC_12_2a .yellow, .MOD_GC_12_2a_green a.yellow:hover, .MOD_GC_12_2a_green .yellow {color:#e2001a;}
.MOD_GC_12_2a #pager a, .MOD_GC_12_2a_green #pager a {color:#333333; background:#e4e4e4;}
.MOD_GC_12_2a #pager a:hover, .MOD_GC_12_2a_green #pager a:hover, .MOD_GC_12_2a #pager a:focus, .MOD_GC_12_2a_green #pager a:focus, .ie7 .MOD_GC_12_2a #pager a:active, .ie7 .MOD_GC_12_2a_green #pager a:active {background:#ffffff;}/*RS WCAG II*/
.MOD_GC_12_2a #pager-numbers a.activeSlide, .MOD_GC_12_2a_green #pager-numbers a.activeSlide, .MOD_GC_12_5a #pager-numbers a.activeSlide, .MOD_GC_12_5 #pager-numbers a.activeSlide { background-color:#e2001a;}
.MOD_GC_12_2a #pager-numbers a.activeSlide:hover, .MOD_GC_12_2a_green #pager-numbers a.activeSlide:hover, .MOD_GC_12_5a #pager-numbers a.activeSlide:hover, .MOD_GC_12_5 #pager-numbers a.activeSlide:hover,
.MOD_GC_12_2a #pager-numbers a.activeSlide:focus, .MOD_GC_12_2a_green #pager-numbers a.activeSlide:focus, .MOD_GC_12_5a #pager-numbers a.activeSlide:focus, .MOD_GC_12_5 #pager-numbers a.activeSlide:focus,
.ie7 .MOD_GC_12_2a #pager-numbers a.activeSlide:active, .ie7 .MOD_GC_12_2a_green #pager-numbers a.activeSlide:active, .ie7 .MOD_GC_12_5a #pager-numbers a.activeSlide:active, .ie7 .MOD_GC_12_5 #pager-numbers a.activeSlide:active  { background-color:#e2001a;}/*RS WCAG II*/

.MOD_GC_12_2a .pause:hover, .MOD_GC_12_2a_green .pause:hover, .MOD_GC_12_5a .pause:hover, .MOD_GC_12_5 .pause:hover { background-position:0 -14px !important; }
.MOD_GC_12_2a .resume:hover, .MOD_GC_12_2a_green .resume:hover, .MOD_GC_12_5a .resume:hover, .MOD_GC_12_5 .resume:hover { background-position:-14px -14px !important; }
.MOD_GC_12_2a .copy-block .copy-block-inner a, .MOD_GC_12_2a_green .copy-block .copy-block-inner a { background:url('../../img/sabo/arrow.gif') no-repeat 0 5px;}
.MOD_GC_12_5 .banner-text-block_new a, .MOD_GC_12_5a .banner-text-block_new a { background: url("../../img/sabo/arrow.gif") no-repeat scroll left 50% transparent; color: #e2001a;}
.MOD_GC_12_5 .banner-text-block_new a:hover, .MOD_GC_12_5a .banner-text-block_new a:hover {color:#e2001a; }

.MOD_GC_12_5 #product-navigation ul li .flyout span.arrow_left { background:url(../../img/sabo/arrows_l.png) no-repeat left top; }
.MOD_GC_12_5 #product-navigation ul li .flyout span.arrow_right { background:url(../../img/sabo/arrows_r.png) no-repeat left top; }
.homepage-slide-op-text td h3, .homepage-slide-op-text td p  { color:#333333; }
.MOD_GC_12_5 .trans20 .banner-text-block_new, .MOD_GC_12_5a .trans20 .banner-text-block_new { background: transparent url(../../img/sabo/trans20.png) repeat 0 0; }
.MOD_GC_12_5 .trans30 .banner-text-block_new, .MOD_GC_12_5a .trans30 .banner-text-block_new { background: transparent url(../../img/sabo/trans30.png) repeat 0 0; }
.MOD_GC_12_5 .trans40 .banner-text-block_new, .MOD_GC_12_5a .trans40 .banner-text-block_new { background: transparent url(../../img/sabo/trans40.png) repeat 0 0; }
.MOD_GC_12_5 .trans50 .banner-text-block_new, .MOD_GC_12_5a .trans50 .banner-text-block_new { background: transparent url(../../img/sabo/trans50.png) repeat 0 0; }
.MOD_GC_12_5 .trans60 .banner-text-block_new, .MOD_GC_12_5a .trans60 .banner-text-block_new { background: transparent url(../../img/sabo/trans60.png) repeat 0 0; }
.MOD_GC_12_5 .trans70 .banner-text-block_new, .MOD_GC_12_5a .trans70 .banner-text-block_new { background: transparent url(../../img/sabo/trans70.png) repeat 0 0; }
.MOD_GC_12_5 .trans80 .banner-text-block_new, .MOD_GC_12_5a .trans80 .banner-text-block_new { background: transparent url(../../img/sabo/trans80.png) repeat 0 0; }
.MOD_GC_12_5 .trans90 .banner-text-block_new, .MOD_GC_12_5a .trans90 .banner-text-block_new { background: transparent url(../../img/sabo/trans90.png) repeat 0 0; }
.MOD_GC_12_5 .trans100 .banner-text-block_new, .MOD_GC_12_5a .trans100 .banner-text-block_new { background: transparent url(../../img/sabo/trans100.png) repeat 0 0; }
.MOD_GC_12_5 .banner-text-block_new h2, .MOD_GC_12_5a .banner-text-block_new h2 {color: #333333;}
.MOD_GC_12_5 .banner-text-block_new p, .MOD_GC_12_5a .banner-text-block_new p {color: #333333;}
/****MOD_GC_12_2a & MOD_GC_12_5 Ends****/


/****MOD_GC_9 Starts****/
.MOD_GC_9 .arrow { background-image:url('../../img/sabo/quote_arrow.gif'); background-position:0 bottom; background-repeat:no-repeat;}
.MOD_GC_9 .arrow { background-image:url('../../img/sabo/quote_arrow.gif'); background-position:0 bottom; background-repeat:no-repeat;}
.MOD_GC_9 blockquote { border-left:1px solid #dadada; border-right:1px solid #dadada; border-top:1px solid #dadada;}

/****MOD_GC_9 Ends****/

/****MOD_NO_5_1 Starts****/
.MOD_NO_5_1 { margin:0 0 9px 0; padding-bottom:9px; }
/****MOD_NO_5_1 Ends****/

/****MOD_GC_12 Starts****/
.MOD_NO_12 a, .MOD_NO_22 a, .MOD_NO_24 a, .MOD_NO_20 a {color:#333; background:url('../../img/sabo/arrow_black.gif') no-repeat 12px 16px #dadada;}
.MOD_GC_12_1 .vidbox h4 { color:#333333;}
.MOD_GC_12_5a .banner-text-block a {background:url('../../img/sabo/arrow.gif') no-repeat left 40%; }
.MOD_GC_12_2 #pager-numbers a.activeSlide { background-color: #e2001a;}
.MOD_GC_12_2 .pause-resume { background: transparent url(../../img/sabo/banner_sprites.png) no-repeat;}
/* Navigation*/
.MOD_GC_12_2 #product-navigation-trigger a.open { background: transparent url(../../img/sabo/banner_sprites.png) no-repeat 0 -44px; }
.MOD_GC_12_2 #product-navigation-trigger a.close { background: transparent url(../../img/sabo/banner_sprites.png) no-repeat 0 -14px; }
.MOD_GC_12_2 #product-navigation ul li .flyout {border: 3px solid #e2001a;}
.MOD_GC_12_2 #product-navigation ul li a { background: #e2001a;color: #333333;}
/****MOD_GC_12 Ends****/

/****MOD_GC_13 Starts****/
.MOD_GC_13 div {border:solid 1px #333; }
.MOD_GC_13 div span {background:#333;}
.MOD_GC_13 div a {color:#e2001a !important;background:url('../../img/sabo/arrow.gif') no-repeat 0 4px !important }
.MOD_GC_13_2 div {background:#333 }
.MOD_GC_13_2 .txt a {color:#edc207; background:url('../../img/sabo/arrow.gif') no-repeat 0 4px }
.MOD_GC_13_2 .txt a:hover, .MOD_GC_13_2 .txt a:focus { background:url('../../img/sabo/arrow.gif') no-repeat 0 4px transparent;}
/****MOD_GC_13 Ends****/

/****MOD_GC_17 Starts****/
.MOD_GC_17 .resultsContent h4 {color: #e2001a; background:url('../../img/sabo/arrow.gif') no-repeat 0 4px;}
.MOD_GC_17 .resultsList li { background:url('../../img/sabo/arrow.gif') no-repeat 0 4px; }
/****MOD_GC_17 Ends****/

/****MOD_GC_18 Starts****/
.MOD_GC_18 .resultsContent h4 {color: #e2001a; background:url('../../img/sabo/arrow.gif') no-repeat 0 4px;}
.MOD_GC_18 .resultsList li { background:url('../../img/sabo/arrow.gif') no-repeat 0 4px;}
/****MOD_GC_18 Ends****/

/****MOD_NO_1T_S Starts****/
.MOD_NO_1T_S a {color:#333; background:url('../../img/sabo/arrow_black.gif') no-repeat 12px 20px #dadada;}
.MOD_NO_1T_S a:hover, .MOD_NO_1T_S a:focus {background-color:#f1f1f1; }
/****MOD_NO_1T_S Ends****/

/****MOD_NO_3b Starts****/
.MOD_NO_3b {color:#e2001a !important;background:url('../../img/sabo/arrow.gif') no-repeat 0 3px;}
/****MOD_NO_3b Ends****/

/****MOD_NO_6 Starts****/
.MOD_NO_6 {height:119px;border-top: 1px solid #CCCCCC; background:#fff url('../../img/sabo/bg_header.gif') repeat-x 0 bottom;}
.MOD_NO_6 .logo {top:14px; left:24px; background:url('../../img/sabo/logo_sabo.gif') no-repeat;height:80px; width:150px;}
.MOD_NO_6 #utilityNav a:hover, .MOD_NO_6 #utilityNav a:focus { color:#333;}
/* DD Changes for localisation and product by name CR*/
.MOD_NO_6 #mainNav_byName li a:hover, .MOD_NO_6 #mainNav_byName li a.hover, .MOD_NO_6 #mainNav_m li a:hover, .MOD_NO_6 #mainNav_m li a.hover {border-bottom:4px solid #d7d7d7; color:#000000;}
.MOD_NO_6 #mainNav .submenu, .MOD_NO_6 #utilityNav .submenu {border:1px solid #d7d7d7;}
.MOD_NO_6 #mainNav .submenu li a, .MOD_NO_6 #utilityNav .submenu li a {color:#000000;}
.MOD_NO_6 #mainNav .submenu li a:hover, .MOD_NO_6 #utilityNav .submenu li a:hover, .MOD_NO_6 #mainNav .submenu li a:focus, .MOD_NO_6 #utilityNav .submenu li a:focus { color:#e2001a;background:url('../../img/sabo/arrow.gif') no-repeat 0 4px }
/****MOD_NO_6 Ends****/

/****MOD_NO_8 Starts****/
.MOD_NO_8 span { color:#e2001a }
.MOD_NO_8 a:hover {color:#666666; }
/****MOD_NO_8 Ends****/

/****MOD_NO_11 Starts****/
.MOD_NO_11 li a {color:#333;background:url('../../img/sabo/arrow.gif') no-repeat 0 4px }
/****MOD_NO_11 Ends****/

/****MOD_NO_7 Starts****/
.MOD_NO_7 .links a {color:#e2001a }
.MOD_NO_7 .copy {color:#333333;}
.MOD_NO_7 .links a { color:#e2001a!important; }
.MOD_NO_7 .links span {color:#666666; }
.MOD_NO_7 div {border-top:1px solid #dfdfdf; background:url("../../img/sabo/bg_wrap.gif") repeat-y scroll 0 0 #fff }
.MOD_NO_7 div { background:url("../../img/sabo/bg_wrap.gif") repeat-y scroll 0 0 #FFFFFF; border-bottom:1px solid #CCCCCC;}
.MOD_NO_7 p.copy a{color:#e2001a; text-decoration:underline; }
.MOD_NO_7 p.copy a:hover {color:#990000; }
/****MOD_NO_7 Ends****/

/****MOD_NO_7_1 Starts****/
.MOD_NO_7_1 .footer_links a { color:#e2001a!important; }
.MOD_NO_7_1 .footer_links span { color:#666666; }
/****MOD_NO_7_1 Ends****/

/****MOD_GC_7 Starts****/
.MOD_GC_7 .txt {color:#666666; }
.MOD_GC_7 div { background:url("../../img/sabo/bg_wrap.gif") repeat-y scroll 0 0 #FFFFFF; border-top:1px solid #dfdfdf; border-bottom:0px solid #CCCCCC;}
.MOD_GC_7 {background:url('../../img/sabo/bg_footer.png') no-repeat scroll left bottom;}
/****MOD_GC_7 Ends****/

/****MOD_FO_1 Starts****/
.MOD_FO_1 .feature .bt a.buyingOption {color:#666666; background:url('../../img/sabo/arrow.gif') no-repeat 0 3px;}
.MOD_FO_1 .feature h5, .MOD_FO_1 .feature h3 , .MOD_FO_1 .buying_options h3, .MOD_FO_1 .feature .primary_subhead, .MOD_FO_1 .buying_options .primary_subhead{background-color:#999999; }
/*
.MOD_FO_1 .feature ul li { background:url("../../img/sabo/bullet_square_black.gif") no-repeat scroll 0 6px transparent; }
DD commented to keep the bullets consistent.
*/
.MOD_FO_1 .buying_options h5 {background-color:#999999;}
.MOD_FO_1 .buying_options .close {background:url('../../img/sabo/close_grey.gif') no-repeat;}
.MOD_FO_1 .buying_options .close:hover { background:url('../../img/sabo/close_grey.gif') no-repeat;}
.bg_btn:hover { background: url('../../img/sabo/btn_bg_hover.gif') no-repeat 0 0; border:none; width:140px; margin-bottom:5px; height:21px; font-size:0.8em; font-family:'Calibri', sans-serif; color:#444; text-transform:uppercase; }
.MOD_FO_1 .feature .inner a.seeall {background:url("../../img/sabo/arrow.gif") no-repeat 0 3px;}
.MOD_FO_1 .rating_reviews a.writeReviews {background:url("../../img/sabo/arrow.gif") no-repeat 0 4px;color: #e2001a !important;}
/****MOD_FO_1 Ends****/

/****MOD_FO_4 Starts****/
.listName li.MOD_FO_4 a {color:#333333;}
.listName li.MOD_FO_4.oon {border:solid 1px #d9dadb;}
.listName li.MOD_FO_4.oon a {color:#e2001a;background:url('../../img/sabo/arrow.gif') no-repeat 0 5px;}
/****MOD_FO_4 Ends****/

/****MOD_FO_6a Starts****/
.MOD_FO_6a h3 a, .MOD_FO_6a .secondary_subhead a {color:#333333; background:url('../../img/sabo/spec_arrow.gif') no-repeat 8px 9px;}

/*for collapsable_panel*/
.MOD_FO_6a span.collapsable_panel h3 a:hover { background:url('../../img/sabo/spec_arrow.gif') no-repeat 8px 9px #bcbcbc !important; }
.MOD_FO_6a span.collapsable_panel h3.open a, .MOD_FO_6a span.collapsable_panel h3.open a:hover { background:url('../../img/sabo/spec_arrow.gif') no-repeat 8px -285px #333333 !important; color:#ffffff; }

/*for collapsable_panel*/
.MOD_FO_6a h3.open a, .MOD_FO_6a h3.open a:hover { background-color:#333333!important; color:#ffffff !important; }
.MOD_FO_6a h3.open, .MOD_FO_6a h3.open a:hover, .MOD_FO_6a .secondary_subhead.open, .MOD_FO_6a .secondary_subhead.open a:hover{background-color:#333333!important; color:#ffffff !important;}
.MOD_FO_6a.wcag div.collapsable_panel h3 a:hover, .MOD_FO_6a.wcag div.collapsable_panel .secondary_subhead a:hover { background:url('../../img/sabo/spec_arrow.gif') no-repeat 8px 9px #bcbcbc !important;}
.MOD_FO_6a.wcag div.collapsable_panel h3.open a, .MOD_FO_6a.wcag div.collapsable_panel h3.open a:hover , .MOD_FO_6a.wcag div.collapsable_panel .secondary_subhead.open a, .MOD_FO_6a div.collapsable_panel .secondary_subhead.open a:hover  {  background:url('../../img/sabo/spec_arrow.gif') no-repeat 8px -285px #333333 !important; color:#ffffff;}

.MOD_FO_6panel div.ptag,.MOD_FO_6panel div.ptag p{ border:none;font-size:13px !important;}
.MOD_FO_6a h3.open, .MOD_FO_6a .secondary_subhead.open a{color:#fff;}
.MOD_FO_6a h3.open, .WCAG_MOD_NO_2_S .tabContent  .MOD_FO_6a h3.open, .WCAG_MOD_NO_2_S .tabContent .MOD_FO_6a h3.open a:hover, .WCAG_MOD_NO_2_S .tabContent .MOD_FO_6a .secondary_subhead.open, .WCAG_MOD_NO_2_S .tabContent .MOD_FO_6a .secondary_subhead.open a:hover, .WCAG_MOD_NO_2_S .tabContent .MOD_FO_6a h3.open a:focus, .ie7 .WCAG_MOD_NO_2_S .tabContent .MOD_FO_6a h3.open a:active, .WCAG_MOD_NO_2_S .tabContent .MOD_FO_6a .secondary_subhead.open a:focus, .ie7 .WCAG_MOD_NO_2_S .tabContent .MOD_FO_6a .secondary_subhead.open a:active{background-color:#333333;}
/****MOD_FO_6a Ends****/

/****MOD_FO_7a Starts****/
.MOD_FO_7a h3 a {color:#333; background:url('../../img/sabo/spec_arrow.gif') no-repeat 8px 4px;}
.MOD_FO_7a h3.open { background:#e2001a;}
.MOD_FO_7a h3.open a { background-position:8px -285px; color:#333; }
.MOD_FO_7a .model .expand_all, .MOD_FO_7a .model .collapse_all {color:#333; }
/****MOD_FO_7a Ends****/

/****MOD_FO_6d Starts****/
.MOD_FO_6d h3 a {color:#333; background:url('../../img/sabo/spec_arrow.gif') no-repeat 7px 4px }
.MOD_FO_6d h3.open {background:#333333;}
.MOD_FO_6d h3.open a {color:#ffffff;}
.WCAG_MOD_NO_2_S .tabContent  .MOD_FO_6d h3.open a:hover, .WCAG_MOD_NO_2_S .tabContent  .MOD_FO_6d h3.open a:focus, .ie7 .WCAG_MOD_NO_2_S .tabContent  .MOD_FO_6d h3.open a:active  {color:#ffffff; background-color:#333333;}
/****MOD_FO_6d Ends****/

/****MOD_GC_23a Starts****/
.MOD_GC_23a h3 a {color:#333; background:url('../../img/sabo/spec_arrow.gif') no-repeat 8px 4px }
.MOD_GC_23a h3.open {background:#e2001a; }
.MOD_GC_23a h3.open a {background-position:8px -285px; color:#333; }
.MOD_GC_23a .model .expand_all, .MOD_GC_23a .model .collapse_all {color:#333; }
/****MOD_GC_23a Ends****/

/****MOD_FO_3 Starts****/
.MOD_FO_3 span a {background:url(../../img/sabo/gallery_paginator.gif) no-repeat;}
.MOD_FO_3 .prev_column, .MOD_FO_3 .next_column {background:url('../../img/sabo/tab_arrow.gif') no-repeat #ccc }
.tablepag .next_column { right:0; background-position:-19px 0 !important }
.tablepag .next_column:hover, .tablepag .next_column:focus, .ie7 .tablepag .next_column:active { background-position:-19px -38px !important}/*RS 14919252 */
/****MOD_FO_3 Ends****/

/****tablepag Starts****/
.tablepag span a {color:#e2001a; background:url(../../img/sabo/gallery_paginator.gif) no-repeat;}
.tablepag .prev_column, .tablepag .next_column {background:url('../../img/sabo/tab_arrow.gif') no-repeat #ccc;}
/****tablepag Ends****/

/****addRemoveModel Starts****/
.addRemoveModel {border:solid 1px #e2001a;}
.addRemoveModel a {background:url('../../img/sabo/close_layer.gif') no-repeat}
/****addRemoveModel Ends****/

/****MOD_FO_9 Starts****/
.MOD_FO_9 .inner .alphabet li a:hover, .MOD_FO_9 .inner .alphabet li a:focus {background:#e2001a }
.MOD_FO_9 .inner .alphabet li a:active {background:#e2001a }
.MOD_FO_9 .inner .digits li a:hover, .MOD_FO_9 .inner .alphabet li a:focus {background:#e2001a }
.MOD_FO_9 .inner .digits li a:active {background:#e2001a;}
.MOD_FO_9 .inner .prodType a {color:#333;background:url('../../img/sabo/arrow_black.gif') no-repeat 0 6px }
.MOD_FO_9 .inner .prodType a:hover, .MOD_FO_9 .inner .prodType a:focus { color:#e2001a;background:url('../../img/sabo/arrow.gif') no-repeat;background-position:0 6px }
.MOD_FO_9 .inner .prodType a:active { color:#e2001a;background-position:0 6px }
/****MOD_FO_9 Ends****/

/****MOD_FO_10 Starts****/

.MOD_FO_10 .compareModels { background:url(../../img/sabo/btn_secondary.gif) left top no-repeat;}
.MOD_FO_10 .compareModels span { background:url(../../img/sabo/btn_secondary.gif) right -22px no-repeat;color:#ffffff; }
.MOD_FO_10 .compareModels:hover { background:url(../../img/sabo/btn_secondary.gif) left -44px no-repeat; }
.MOD_FO_10 .compareModels:hover span { background:url(../../img/sabo/btn_secondary.gif) right -66px no-repeat; }
.MOD_FO_10 .compareModels:active { background:url(../../img/sabo/btn_secondary.gif) left -88px no-repeat; }
.MOD_FO_10 .compareModels:active span { background:url(../../img/sabo/btn_secondary.gif) right -110px no-repeat; }
/****MOD_FO_10 Ends****/

/****MOD_FO_11 Starts****/
.MOD_FO_11 .title {color:#333; background:#e2001a }
.MOD_FO_11 .on {border:solid 1px #e2001a;}
/****MOD_FO_11 Ends****/


/****MOD_GC_14 & MOD_GC_14_1 Starts****/
.MOD_GC_14_1, .MOD_GC_14_2 p a{color:#e2001a; }
.MOD_GC_14_1:hover, .MOD_GC_14_2 p a:hover {color:#990000; }
/****MOD_GC_14 & MOD_GC_14_1 Ends****/

/****MOD_GC_22a & MOD_GC_22b Starts****/
/*.MOD_GC_22afc ul li, .MOD_GC_22afc ol ul ul li, .MOD_GC_22afc ul ol ul li { background:url('../../img/sabo/bullet_square_black.gif') no-repeat 5px 6px;} DD commented to keep the bullets consistent.*/
.MOD_GC_22a h3 a { padding:0 20px; color:#333; color:#333; background:url('../../img/sabo/spec_arrow.gif') no-repeat 8px 4px }
.MOD_GC_22a h3.open { background:#e2001a; }
.MOD_GC_22a h3.open a { background-position:8px -285px; color:#333; }
.MOD_GC_22b {color:#333;}
.MOD_GC_22b p a {color:#e2001a; text-decoration:underline;}
.MOD_GC_22b p a:hover {color:#990000;}
/*
.MOD_GC_22a ul li, .MOD_GC_22a ol ul ul li, .MOD_GC_22a ul ol ul li,
.MOD_GC_22b ul li, .MOD_GC_22b ol ul ul li, .MOD_GC_22b ul ol ul li,
.MOD_GC_22afc ul li, .MOD_GC_22afc ol ul ul li, .MOD_GC_22afc ul ol ul li { background:url('../../img/sabo/bullet_square_black.gif') no-repeat 0px 6px;}
 DD commented to keep the bullets consistent.*/
/****MOD_GC_22a & MOD_GC_22b Ends****/

/****MOD_FO_6b Starts****/
.MOD_FO_6b h3:hover {color:#e2001a; }
.MOD_FO_6b h3 a {color:#333; background:url('../../img/sabo/spec_arrow.gif') no-repeat 10px 4px;}
.MOD_FO_6b h3.open {color:#ffffff; background:#333333;}
.MOD_FO_6b h3.open a { background-position:8px -290px; color:#ffffff; }
.WCAG_MOD_NO_2_S .tabContent .MOD_FO_6b h3.open a { background-position:8px -285px; color:#ffffff; }
.WCAG_MOD_NO_2_S .tabContent  .MOD_FO_6b h3.open a:hover,.WCAG_MOD_NO_2_S .tabContent  .MOD_FO_6b h3.open a:focus, .ie7 .WCAG_MOD_NO_2_S .tabContent  .MOD_FO_6b h3.open a:active { background-color:#333333;}
.MOD_FO_6b .itemModel a {color:#e2001a }
.MOD_FO_6b table th .close:hover, .MOD_FO_6b table th .close:focus { color:#333; }
.MOD_FO_6b_new table td {color:#333;}
.WCAG_MOD_NO_2_S .tabContent  .MOD_FO_6b h3.open a:hover, .WCAG_MOD_NO_2_S .tabContent  .MOD_FO_6b h3.open a:focus, .ie7 .WCAG_MOD_NO_2_S .tabContent  .MOD_FO_6b h3.open a:active  {color:#ffffff; background-color:#333333;}

/****MOD_FO_6b Ends****/

/****MOD_NO_9a_c Starts****/
.MOD_NO_9a_c li .next {background:url('../../img/sabo/arrow.gif') no-repeat right center }
/****MOD_NO_9a_c Ends****/

/****MOD_GC_22afc Starts****/
.MOD_GC_22afc h3 a {color:#333; background:url('../../img/sabo/spec_arrow.gif') no-repeat 8px 8px; }
.MOD_GC_22afc h3.open { background:#e2001a;}
.MOD_GC_22afc h3.open a { background-position:8px -285px; color:#fff; }
/****MOD_GC_22afc Ends****/



/****MOD_GC_17 Starts****/
.MOD_GC_17 .listType a { color:#333333; }
/****MOD_GC_17 Ends****/

/****MOD_GC_18 Starts****/
.MOD_GC_18 .listType .on { color:#333333; text-decoration:none; }
/****MOD_GC_18 Ends****/

/****MOD_GC_10a & MOD_GC_10b Starts****/
.MOD_GC_10b h2, .MOD_GC_10a h2 { background-color:#d9dadc;}
/****MOD_GC_10a & MOD_GC_10b Ends****/

/****MOD_GC_21 Starts****/
.MOD_GC_21 p a{color:#e2001a; }
.MOD_GC_21 p a:hover {color:#990000; }
.MOD_GC_21 a:hover {color:#e2001a; }
.sabo/btn_search_jobs { background:url(../../img/btn-search-jobs.gif) left top no-repeat;color:#595959;}
.sabo/btn_search_jobs span { background:url(../../img/btn-search-jobs.gif) right -23px no-repeat;}
.sabo/btn_search_jobs:hover { background:url(../../img/btn-search-jobs.gif) left -46px no-repeat; }
.sabo/btn_search_jobs:hover span { background:url(../../img/btn-search-jobs.gif) right -69px no-repeat; }
.sabo/btn_search_jobs:active { background:url(../../img/btn-search-jobs.gif) left -92px no-repeat; }
.sabo/btn_search_jobs:active span { background:url(../../img/btn-search-jobs.gif) right -115px no-repeat; }


/****buying_options Starts****/
/*view option options pop up css starts*/
.itemContent .buying_options h5 {background-color:#e2001a }
/****buying_options Ends****/


/****mod_semnome_1 Starts****/
.mod_semnome_4 a {color:#333; background:url('../../img/sabo/arrow.gif') no-repeat 10px 14px #f1f1f1 }
/****mod_semnome_1 Ends****/

/****MOD_NO_18 Starts****/
.MOD_NO_18 p {color:#333; }
.MOD_NO_18 li {background:url('../../img/sabo/arrow_black.gif') no-repeat left 4px;}
.MOD_NO_18 li a { color:#333333;}
/****MOD_NO_18 Ends****/

/****MOD_NO_19 Starts****/
.MOD_NO_19 .title {color:#333; background:#d9dadc }
.MOD_NO_19 .listName .title {color:#e2001a !important; }
.MOD_NO_19 .listName .title a, .MOD_NO_19 .listName p.title {color:#333333 !important; }
.MOD_NO_19 .listName li a {color:#333333; }
.MOD_NO_19 .listName li a:hover {color:#e2001a; }
/****MOD_NO_19 Ends****/

/****MOD_NO_21 Starts****/
.MOD_NO_21 .header {color:#333; background:#e2001a }
.MOD_NO_21 ul li a {color:#333;background:url("../../img/sabo/arrow_black.gif") no-repeat scroll 0 3px transparent; }
.MOD_NO_21 ul.clrfix li a {color:#e2001a;background:url("../../img/sabo/arrow.gif") no-repeat scroll 0 3px transparent; }
/****MOD_NO_21 Ends****/

/****MOD_GC_26 Starts****/
* html .MOD_GC_26 a.more { background:url(../../img/sabo/arrow.gif) no-repeat scroll 0 1px transparent }
.MOD_GC_26 .MOD_GC_26_Position a.more { background:url(../../img/sabo/arrow.gif) no-repeat left 3px;}
/****MOD_GC_26 Ends****/

/****MOD_GC_14_2 Starts****/
.MOD_GC_14_2 a:hover {color:#e2001a; }
/****MOD_GC_14_2 Ends****/

/****Button CSS Starts****/
.btn_register {background:url('../../img/sabo/arrow.gif') no-repeat left center;color:#333;}
/****Button CSS Ends****/

/****MOD_NO_16 Starts****/
.MOD_NO_16 li {background:url('../../img/sabo/arrow_black.gif') no-repeat left 4px;}
/****MOD_NO_16 Ends****/

/****MOD_GC_19 Starts****/
.MOD_GC_19 a {color:#e2001a; text-decoration:underline;}
.MOD_GC_19 a:hover { color:#990000;text-decoration:underline;}
/****MOD_GC_19 Ends****/

/****MOD_GC_24 Starts****/
.MOD_GC_24 h5 {color:#333333;border-bottom:1px solid #ebebeb; }
.MOD_GC_24 li a { color:#333333;}
.MOD_GC_24 li a:hover, .MOD_GC_24 li a:focus, .ie7 .MOD_GC_24 li a:active {color:#e2001a;}
.MOD_GC_24 li span {color:#333333;}
.MOD_GC_24.twitter_widget-sidebar {background:#fff;}
/****MOD_GC_24 Ends****/

/****MOD_FO_13 Starts****/
.MOD_FO_13 h3 {background:#dadada url('../../img/sabo/spec_arrow.gif') no-repeat 8px 8px;}
.MOD_FO_13 h3 a {color:#333; }
.MOD_FO_13 h3.open a, .MOD_FO_13 .open a:hover { background:#bcbcbc url('../../img/sabo/spec_arrow.gif') no-repeat 8px -285px;}
.MOD_FO_13 h3.open a, .MOD_FO_13 h3.open a:hover { background-color:#e2001a !important; }
/****MOD_FO_13 Ends****/

/****MOD_NO_10b Starts****/
.MOD_NO_10b li.nvl_1 h3 {color:#333;}
.MOD_NO_10b.green li.nvl_1 h3, .MOD_NO_10b.green li.nvl_1_on a, .MOD_NO_10b.green li.nvl_1_on, .MOD_NO_10b.black li.nvl_1 h3, .MOD_NO_10b.black li.nvl_1_on a, .MOD_NO_10b.black li.nvl_1_on { background: url("../../img/sabo/arrow.gif") no-repeat left center; }
.MOD_NO_10b.green li.nvl_1_on a { border-left:4px solid #e2001a;}
.MOD_NO_10b.black li.nvl_1_on a { color:#333;}
.MOD_NO_10b.green li.nvl_1_on a { color:#e2001a;}
.MOD_NO_10b.black li.nvl_1 h3, .MOD_NO_10b.black li.nvl_1 h3 a { color:#333; }
.MOD_NO_10b.green li.nvl_1 h3, .MOD_NO_10b.green li.nvl_1 h3 a { color:#e2001a; }
/*MOD_NO_10a*/
.MOD_NO_10a li.nvl_4 ul h3 {border-left:4px solid #8e8e8e; }
.MOD_NO_10a.black li.nvl_3 ul h3 a, .MOD_NO_10a.black li.nvl_4 ul li.nvl_4_on a {color:#333; }
.MOD_NO_10a.green li.nvl_3 ul h3 a, .MOD_NO_10a.green li.nvl_4 ul li.nvl_4_on a {color:#e2001a; }
.MOD_NO_10a.green li.nvl_3 ul li.nvl_4_on a {color:#e2001a; }
.MOD_NO_10a.green li.nvl_2 ul, .MOD_NO_10a.green li.nvl_2 h3, .MOD_NO_10a.green li.nvl_3 ul li, .MOD_NO_10a.green li.nvl_2_1 ul, .MOD_NO_10a.green li.nvl_2_1 h3, .MOD_NO_10a.green li.nvl_3_1 ul li, .MOD_NO_10a.green li.nvl_4 ul li, .MOD_NO_10a.green li.nvl_3 ul h3, .MOD_NO_10a.green li.nvl_3_1 ul h3 { border-color:#e2001a; }
.MOD_NO_10a.green li.nvl_3 ul h3, .MOD_NO_10a.green li.nvl_3_1 ul h3, .MOD_NO_10a.green li.nvl_4 ul li.nvl_4_on { background-image:url('../../img/sabo/arrow.gif'); }
.MOD_NO_10a.green li.nvl_3 ul li.nvl_4_on, .MOD_NO_10a.green li.nvl_3_1 ul li.nvl_4_on { background:url('../../img/sabo/arrow.gif') no-repeat left center; }
.MOD_NO_10a li.nvl_3 ul h3, .MOD_NO_10a li.nvl_3_1 ul h3 {border-left:4px solid #e2001a; }
.MOD_NO_10a li.nvl_3 ul h3 a, .MOD_NO_10a li.nvl_3_1 ul h3 a {color:#333;}
.MOD_NO_10b.green li.nvl_1 h3, .MOD_NO_10b.green li.nvl_1 h3 {border-color:#e2001a }


/****MOD_NO_4 Starts****/
.MOD_NO_4 li {border-bottom:1px dotted #cdcdcd;}
.MOD_NO_4 li a {color:#666666;}
.MOD_NO_4 li h3 {color:#333333;}
.MOD_NO_4 li h3 a {color:#666666;}
.MOD_NO_4 li.nvl_1 h3 {color:#333;}
.MOD_NO_4 li.nvl_2 h3 a {color:#333;}
.MOD_NO_4 li.nvl_3 ul li {border-left:4px solid #e2001a;}
.MOD_NO_4 li.nvl_3 ul h3 a {color:#333;}
.MOD_NO_4 li.nvl_2_1 h3 a {color:#333;}
.MOD_NO_4 li.nvl_3_1 h3 { border-left:4px solid #e2001a;}
.MOD_NO_4 li.nvl_3_1 h3 a {color:#333;}
.MOD_NO_4 li.nvl_3_1 ul li { border-left:4px solid #e2001a;}
.MOD_NO_4 li.nvl_3_1 ul li a {border-bottom:1px dotted #cdcdcd; }
.MOD_NO_4 li.nvl_3_1 ul h3 a {border-bottom:1px dotted #cdcdcd; color:#333;}
.MOD_NO_4 li.nvl_3 ul h3 span.leftspan { border-bottom:1px dotted #cdcdcd;}
.MOD_NO_4 li.nvl_4 h3 a {color:#666666;}
.MOD_NO_4 li.nvl_4 ul {border-top:1px dotted #cdcdcd;}
.MOD_NO_4 li.nvl_4 ul li a {border-bottom:1px dotted #cdcdcd; }
.MOD_NO_4 li.nvl_4 ul li.nvl_4_on a {color:#333; }
.MOD_NO_4 li.nvl_4 ul h3 a {border-bottom:1px dotted #cdcdcd; color:#666666;}
.MOD_NO_4.black li.nvl_1 h3, .MOD_NO_4.black li.nvl_1 h3 a, .MOD_NO_4.black li.nvl_2 h3 a, .MOD_NO_4.black li.nvl_3 ul h3 a, .MOD_NO_4.black li.nvl_4 ul li.nvl_4_on a { color:#333;}
.MOD_NO_4.green li.nvl_1 h3, .MOD_NO_4.green li.nvl_1 h3 a, .MOD_NO_4.green li.nvl_2 h3 a, .MOD_NO_4.green li.nvl_2_1 h3 a, .MOD_NO_4.green li.nvl_3 ul h3 a, .MOD_NO_4.green li.nvl_3_1 ul h3 a, .MOD_NO_4.green li.nvl_4 ul li.nvl_4_on a {color:#e2001a;}
.MOD_NO_4.green li.nvl_1 h3, .MOD_NO_4.green li.nvl_2 ul, .MOD_NO_4.green li.nvl_2 h3, .MOD_NO_4.green li.nvl_2_1 ul, .MOD_NO_4.green li.nvl_2_1 h3, .MOD_NO_4.green li.nvl_3 ul li, .MOD_NO_4.green li.nvl_3_1 ul li, .MOD_NO_4.green li.nvl_4 ul li, .MOD_NO_4.green li.nvl_3 ul h3, .MOD_NO_4.green li.nvl_3_1 ul h3 { border-color:#e2001a}
.MOD_NO_4.green li.nvl_1 h3, .MOD_NO_4.green li.nvl_2 h3, .MOD_NO_4.green li.nvl_2_1 h3, .MOD_NO_4.green li.nvl_3 ul h3, .MOD_NO_4.green li.nvl_3_1 ul h3, .MOD_NO_4.green li.nvl_4 ul li.nvl_4_on { background-image:url('../../img/sabo/arrow.gif'); }
/****MOD_NO_4 Ends****/

/****MOD_FO_8 Starts****/
.MOD_FO_8 .modal .close { background:url("../../img/sabo/close_layer.gif") no-repeat scroll 0 0 transparent;}
.MOD_FO_8 .other-more { background:url('../../img/sabo/arrow.gif') no-repeat 0 4px; color: #333333; }
.MOD_FO_8 .other-more:hover { text-decoration:underline; }
.MOD_FO_8 .viewOtherOptions h5 {background-color:#e2001a;}
/*
.MOD_FO_8 .contentLightbox li { background: url(../../img/sabo/bullet_square_black.gif) no-repeat 0 5px;}
DD commented to keep the bullets consistent.
*/
/****MOD_FO_8 Ends****/


/****MOD_FO_15 Starts***
.MOD_FO_15 .li_list li { background:url('../../img/sabo/bullet_square_black.gif') no-repeat left 6px;}
DD commented to keep the bullets consistent.
*/
/****MOD_FO_15 Ends****/

/****Flexi Button Starts****/
.btn_primary { background:url(../../img/sabo/btn_primary.gif) left top no-repeat;}
.btn_primary span { background:url(../../img/sabo/btn_primary.gif) right -29px no-repeat;color:#fff; }
.btn_primary:hover, .btn_primary:focus { background:url(../../img/sabo/btn_primary.gif) no-repeat left -58px;}
.btn_primary:hover span, .btn_primary:focus span { background:url(../../img/sabo/btn_primary.gif) right -87px no-repeat; }
.btn_primary:active { background:url(../../img/sabo/btn_primary.gif) left -116px no-repeat; }
.btn_primary:active span { background:url(../../img/sabo/btn_primary.gif) right -145px no-repeat; }

/*Secondary Button*/
.btn_secondary, .btn_secondary_green { background:url(../../img/sabo/btn_secondary.gif) left top no-repeat;}
.btn_secondary span, .btn_secondary_green span { background:url(../../img/sabo/btn_secondary.gif) right -22px no-repeat;color:#ffffff; }
.btn_secondary:hover, .btn_secondary:focus, .btn_secondary_green:hover, .btn_secondary_green:focus { background:url(../../img/sabo/btn_secondary.gif) left -44px no-repeat; }
.btn_secondary:hover span, .btn_secondary:focus span, .btn_secondary_green:hover span, .btn_secondary_green:focus span { background:url(../../img/sabo/btn_secondary.gif) right -66px no-repeat; }
.btn_secondary:active, .btn_secondary_green:active { background:url(../../img/sabo/btn_secondary.gif) left -88px no-repeat; }
.btn_secondary:active span, .btn_secondary_green:active span { background:url(../../img/sabo/btn_secondary.gif) right -110px no-repeat; }

/****MOD GC 28 Content Starts****/
.MOD_GC_28_content a.seeall { background:url("../../img/sabo/arrow.gif") no-repeat 0 3px; }
/****MOD GC 28 Content Starts****/

/****Miscellaneous CSS Starts****/
.mail-link {color:#e2001a; }
a.more_pdf, a.more_xls, a.more_doc {color:#e2001a;}
a.more_pdf:hover, a.more_xls:hover, a.more_doc:hover {color:#e2001a; }
.pages a, .page_navigation a { color:#e2001a;}
.flash_banner { background-color:#333; }
.flash_banner_small { background-color:#333; }
.listItems h3 {color:#333;background:url('../../img/sabo/spec_arrow.gif') no-repeat 7px 8px #dadada; }
.listItems h3.on { background-position:6px -16px; background-color:#e2001a }
.active_page { color:#333 !important;}
.back-to-top {background:url('../../img/sabo/arrow_top.gif') no-repeat 0 5px; }

.separator { border-bottom:1px dotted #e5e6e6;}
.separatorSolid { border-bottom:1px solid #e5e6e6;}

.separatorMarginTop { border-bottom:1px dotted #e5e6e6;}
.separatorSolidMarginTop { border-bottom:1px solid #e5e6e6;}

.separator1pxBoth { border-bottom:1px dotted #e5e6e6;}
.separatorSolid1pxBoth { border-bottom:1px solid #e5e6e6;}

/****Miscellaneous CSS Ends****/

/***********************************************/
/* MODULES CSS STYLES ENDS */
/***********************************************/

/***********************************************/
/* Terms and C0nditions */
/***********************************************/
.termsAccept li a {color:#e2001a !important; }
.termsAccept li a:hover{color:#e2001a !important; }
/***********************************************/
/* Terms and C0nditions */
/***********************************************/
.tableWithHeading caption {background-color:#333333;color:#ffffff;}

.tableWithoutCaption tr th {background-color: #cccccc; }

.tableWithCaption caption {background-color:#333333;color:#ffffff; }
.rss_icon:hover {color:#e2001a !important; }

.tableWithoutHeading tr th { background-color:#cccccc;}
.MOD_FO_6a .MOD_FO_6panel ul li, .MOD_FO_6a .MOD_FO_6panel ol ul li, .MOD_FO_6a .MOD_FO_6panel ol ul ul li, .MOD_FO_6a .MOD_FO_6panel ul ol ul li { background:url('../../img/sabo/bullet_square_black_big.gif') no-repeat 7px 7px; color:#333333; }


/*Inline Link Style*/
.MOD_GC_7 a, .MOD_GC_3 a, .MOD_FO_6panel a, .MOD_NO_18 a  {color:#e2001a;}
.MOD_GC_7 a:hover, .MOD_GC_3 a:hover, .MOD_FO_6panel a:hover, .MOD_NO_18 a:hover, .MOD_FO_6b .itemModel a:hover, .MOD_FO_6b .itemModel a:focus{color:#990000;}
/*Inline Link Style*/


/*Gallery Style*/
span.category_heading {color: #333333;}
div.content_container div.center_column div span a {color:#333333;}

/* left column styles */
ul.category_left_nav li a {color: #333333;}
ul.category_left_nav li a:hover, ul.category_left_nav li a.selected {color: #333333;}
ul.category_left_nav li a:visited { color:#333;}

/* right column styles */
div.right_column li a { color:#333333;}
div.right_column li a:visited { color:#333333; }

/* twitter feed styles */


/*lightBox change image on hover state styling*/

#sb-nav-next span.next { background:url(../../img/sabo/lightbox_arrows_next_pop.gif) 0px no-repeat; display: block; right: 0;overflow:hidden;}
#sb-nav-next:hover span.next, #sb-nav-next:focus span.next, .ie7 #sb-nav-next:active span.next{background:url("../../img/sabo/arrows_next.png") left 0 no-repeat;}
#sb-nav-previous span.prev { display:block; background: url(../../img/sabo/lightbox_arrows_prev_pop.gif) left 0px no-repeat;overflow:hidden;  }
#sb-nav-previous:hover span.prev, #sb-nav-previous:focus span.prev, .ie7 #sb-nav-previous:active span.prev{background:url("../../img/sabo/arrows_prev.png") left 0 no-repeat;}

/*Two Column for Archive*/
.two_column_archive .group li, .three_column_archive .group li {color:#e2001a !important;}

/*
 *  Sliderkit Image Gallery Plugin
 *  ------------------------------------------------
 */
.sliderkit a:focus{outline:1px dotted #333;}

/* Navbar */
.photosgallery-large .sliderkit-nav .sliderkit-btn a{background:url("../../img/sabo/arrow_prev_next.png") no-repeat;}
.photosgallery-large .sliderkit-nav .sliderkit-go-prev a, .photosgallery-large .sliderkit-nav .sliderkit-nav-prev a{background-position:0px -8px;  }
.photosgallery-large .sliderkit-nav .sliderkit-go-next a, .photosgallery-large .sliderkit-nav .sliderkit-nav-next a{background-position:-20px -8px; }
.photosgallery-large .sliderkit-nav .sliderkit-go-prev a:hover, .photosgallery-large .sliderkit-nav .sliderkit-nav-prev a:focus{background-position:0px -145px; opacity:0.8; filter:alpha(opacity=80);}
.photosgallery-large .sliderkit-nav .sliderkit-go-next a:hover, .photosgallery-large .sliderkit-nav .sliderkit-nav-next a:focus{background-position:-20px -145px; opacity:0.8; filter:alpha(opacity=80);}
.photosgallery-large .sliderkit-nav-clip ul li a:hover{border:2px solid #e2001a;}
.MOD_NO_2_S.WCAG_MOD_NO_2_S .photosgallery-large .sliderkit-nav-clip ul li a:hover, .MOD_NO_2_S.WCAG_MOD_NO_2_S .photosgallery-large .sliderkit-nav-clip ul li a:focus, .ie7 .MOD_NO_2_S.WCAG_MOD_NO_2_S .photosgallery-large .sliderkit-nav-clip ul li a:focus{border:2px solid #e2001a;}/*RS 14919212 */

/* Panels buttons */
.photosgallery-large .sliderkit-panels .sliderkit-go-prev a{background-image:url("../../img/sabo/lightbox_arrows_prev_pop.gif");background-position:-1px -1px;}
.photosgallery-large .sliderkit-panels .sliderkit-go-next a{background-image:url("../../img/sabo/lightbox_arrows_next_pop.gif"); background-position:-1px -1px;}
.photosgallery-large .sliderkit-panels .sliderkit-go-prev a:hover, .photosgallery-large .sliderkit-panels .sliderkit-go-prev a:focus{background-image:url("../../img/sabo/arrows_prev.png");background-position:-1px -1px;}
.photosgallery-large .sliderkit-panels .sliderkit-go-next a:hover, .photosgallery-large .sliderkit-panels .sliderkit-go-next a:focus{background-image:url("../../img/sabo/arrows_next.png"); background-position:-1px -1px;}


/* Panel > Textbox */
.photosgallery-large .sliderkit-panel .sliderkit-panel-text{background: transparent url(../../img/sabo/banner_overlay_MOD_GC_12_5.png) repeat 0 0; }
.photosgallery-large .sliderkit-panel .sliderkit-panel-text p {color:#333;}


.photosgallery-large .sliderkit-panel a {background-color:#ccc; border:1px solid #ccc;}


/*---------------------------------
 *  Photos gallery > Medium
 *---------------------------------*/

/* Navbar */
.photosgallery-medium .sliderkit-nav{background:#333;}
 
/* Panels buttons */
.photosgallery-medium .sliderkit-go-btn a{background-repeat:no-repeat;background-position:left top;}
.photosgallery-medium .sliderkit-go-prev a{background-image:url("../../img/sabo/lightbox_arrows_prev.gif") !important;}
.photosgallery-medium .sliderkit-go-next a{background-image:url("../../img/sabo/lightbox_arrows_next.gif") !important;}
.photosgallery-medium .sliderkit-go-prev a:hover, .photosgallery-medium .sliderkit-go-prev a:focus, .ie7 .photosgallery-medium .sliderkit-go-prev a:active{background-position:left bottom !important;}
.photosgallery-medium .sliderkit-go-next a:hover, .photosgallery-medium .sliderkit-go-next a:focus, .ie7 .photosgallery-medium .sliderkit-go-next a:active{background-position:right bottom !important;}

/* Panel */
.photosgallery-medium .sliderkit-panel a {background-color:#333;}

/* Panel > Textbox */
.photosgallery-medium .sliderkit-panel .sliderkit-panel-text{color:#333;}

/*---------------------------------
 *  Photos gallery > Small
 *---------------------------------*/

/* Navbar */
.photosgallery-small .sliderkit-nav{background:#333;}


 
/* Panels buttons */
.photosgallery-small .sliderkit-go-btn a{background-repeat:no-repeat;background-position:-2px -1px;}
.photosgallery-small .sliderkit-go-prev a{background-image:url("../../img/sabo/lightbox_arrows_prev.gif");}
.photosgallery-small .sliderkit-go-next a{background-image:url("../../img/sabo/lightbox_arrows_next.gif");}
.photosgallery-small .sliderkit-go-prev a:hover, .photosgallery-small .sliderkit-go-prev a:focus, .ie7 .photosgallery-small .sliderkit-go-prev a:active{background-position:-2px -41px;background-image:url("../../img/sabo/lightbox_arrows_prev.gif");}
.photosgallery-small .sliderkit-go-next a:hover, .photosgallery-small .sliderkit-go-next a:focus, .ie7 .photosgallery-small .sliderkit-go-next a:active{background-position:-2px -41px;background-image:url("../../img/sabo/lightbox_arrows_next.gif");}

/* Panel */
.photosgallery-small .sliderkit-panel a {background-color:#333;}

/* Panel > Textbox */
.photosgallery-small .sliderkit-panel .sliderkit-panel-text{color:#333;}

.MOD_GC_29_head .MOD_GC_29_head_label {color:#fff; background-color:#333333;}

/*Matrix View*/
.compatibility_content h2 {color:#333333; background-color:#cccccc;}

/*Pagination*/
.MOD_GC_29_pagination a.next { background:url(../../img/sabo/arrow.gif) no-repeat right center; }

/****MOD_FO_21 Starts****/
.MOD_FO_21 h3 a { color:#333333; background:url('../../img/sabo/spec_arrow_black.gif') no-repeat 8px 9px;}
.MOD_FO_21 h3.open a, .MOD_FO_21 h3.open a:hover, .MOD_FO_21 h3.open a:focus, .ie7 .MOD_FO_21 h3.open a:active{background:url('../../img/sabo/spec_arrow_black.gif') no-repeat 8px -285px #333333 !important; color:#ffffff; }
.image_slider h2 {color:#ffffff; background-color:#333333;}
.sliding_image .prevbutton, .MatrixTable .tablepag a.prev_column, .MatrixTable .tablepag a.prev_column:hover{ background:url(../../img/sabo/arrow_prev_next.png) left top !important;}
.sliding_image .nextbutton, .MatrixTable .tablepag a.next_column, .MatrixTable .tablepag a.next_column:hover{ background:url(../../img/sabo/arrow_prev_next.png) right top !important;}

/*Error Message*/

.export-xls input {background:url('../../img/ico_xls.gif') no-repeat;color: #e2001a;}
.export-xls input.buttonhover { color:#e2001a;}

/*Compatibility.css Ends*/


/*Created new style for Calendar of Events Table*/
.events_calendar .calendar_head th {background-color:#cccccc;}

/*DD Automated News Component*/
.MOD_GC_27 li {color:#e2001a; }
.MOD_GC_27 li a:hover, .MOD_GC_27 .see_all {color:#e2001a; }/*DD artf1256559*/
.tinymce ul li { background:url('../../img/sabo/bullet_square_black_big.gif') no-repeat 5px 6px;}

/****MOD_NO_17 Starts****/
.MOD_NO_17 li span a { color:#e2001a;}
/****MOD_NO_17 Ends****/


/*Common layout css overwrite*/
#jdheader-row-1, #jdcomp-en-us-main-row-1	{background:url('../../img/sabo/bg_wrap.gif') repeat-y #ffffff !important; }
#jdfhfl-en-us-main-row-1,
#jdcf-en-us-row-1, 
#jd404l-en-us-main-row-1,
#jdofl-en-us-row-1,
#jdhpfl-en-us-main-row-1,
#jdnpwlfhfl-en-us-main-row-1,
#jdnpfhfl-en-us-main-row-1,
#jdofwfcl-en-us-row-1,
#jdocnhl-en-us-row-1,
#jdtcfl-en-us-main-row-1,
#jdparts-en-us-row-1,
#jdtcsbl-en-us-row-1,
#jdtcw23-en-us-row-2,
#jd23Hero-en-us-row-1,#jdcomp-en-us-main-row-2, #jdtcwl-en-us-main-row-1, #jdtcwol-en-us-main-row-1 {background:url('../../img/sabo/bg_wrap.gif') repeat-y #ffffff !important;}

/*Footer Additional Link*/
.MOD_NO_7 { position:relative; }
*+html .MOD_NO_7 { overflow:visible; padding-bottom:30px; }
.MOD_NO_7 .copy { margin-bottom:30px; }
.copyright_sabo { position:absolute; width:100%; font-family:Calibri, Helvetica, Arial, sans-serif; left:0; text-align:center; display:block; margin-top:10px; color:#e2001a; }
*+html .copyright_sabo { margin-top:20px; }

body#tinymce	{background:#EFEFEF;}

.compatibleEquipment div .pages img {display:none !important;}
.compatibleEquipment div a.next_link {background:url('../../img/sabo/arrow.gif') no-repeat 30px 4px;padding-right:9px;}
.compatibleEquipment div a.previous_link {background:url('../../img/sabo/arrow_prev.gif') no-repeat 0px 4px;padding-left:8px;}


/* twitter feed styles */
#sb-nav-close { background-image:url(../../img/sabo/close_layer.gif); width:14px; height:14px; display:block; float:right; cursor:pointer; }
#sb-title { bottom:0;background:transparent url(../../img/sabo/bkg_alpha1.png);}
#sb-title-inner {color:#333333;}

.MOD_GC_22afc .keyFeatureTabContent h4 {font-size:1.2em;}
.compatibility_content .compatibility_detail_content p a {margin-left:5px;}

/*DD artf1256364 */
.MOD_GC_12_5a #pager a, .MOD_GC_12_5 #pager a { background:#e4e4e4; }
.MOD_GC_12_5 #pager-numbers a:hover, .MOD_GC_12_5a #pager-numbers a:hover { background-color:#fff; }

.HomeLinkBlack { background: url("../../img/sabo/arrow_black.gif") no-repeat 0 4px; color:#333; } /*DD artf1263199*/
.html{color:#e2001a;}/*artf1187120*/
.html:hover{color:#e2001a !important; text-decoration:underline !important;}/*artf1187120*/

/*MOD_FO_33 Blog Comoponent Styling*/
.MOD_FO_33 .news, .MOD_FO_33 .news a { color:#333; }
.MOD_FO_33 .news a:hover, .MOD_FO_33 .news a:focus, .ie7 .MOD_FO_33 .news a:active { color:#e2001a; }
.MOD_FO_33 a.view_more { background:url("../../img/sabo/arrow.gif") no-repeat scroll 0 4px transparent; color:#e2001a; }

/* MG - Submit Button Global - Sabo Specific */
.submit_btn {background-image: url("../../img/sabo/btn_primary.gif");}
.submit_btn.grey_btn {background-image: url("../../img/grey_btn.gif");}
.submit_btn .submit_btnInput {background: url("../../img/sabo/btn_primary.gif") no-repeat scroll right -29px transparent;color:#fff;}
.submit_btn:hover { background:url(../../img/sabo/btn_primary.gif) no-repeat left -58px; text-decoration:none; }
.submit_btn:hover .submit_btnInput { background:url(../../img/sabo/btn_primary.gif) right -87px no-repeat ; }
.submit_btn:active { background:url(../../img/sabo/btn_primary.gif) left -116px no-repeat; }
.submit_btn:active .submit_btnInput { background:url(../../img/sabo/btn_primary.gif) right -145px no-repeat; }
.submit_btn .submit_btnInput:hover,.submit_btn .submit_btnInput:focus { background:url(../../img/sabo/btn_primary.gif) right -87px no-repeat ; }
.submit_btn .submit_btnInput:active { background:url(../../img/sabo/btn_primary.gif) right -145px no-repeat; }

/* MG - updated sprite */
.MOD_GC_12_2a .pause, .MOD_GC_12_2a_green .pause, .MOD_GC_12_5a .pause, .MOD_GC_12_5 .pause ,
.MOD_GC_12_2a .pause-resume, .MOD_GC_12_2a_green .pause-resume, .MOD_GC_12_5a .pause-resume, .MOD_GC_12_5 .pause-resume { background-position:0 -48px !important; }
.MOD_GC_12_2a .resume, .MOD_GC_12_2a_green .resume {  background-position: -13px -48px  !important;}
.MOD_GC_12_5a .resume, .MOD_GC_12_5 .resume { background-position: -13px -48px  !important; }
.MOD_GC_12_2a .pause:hover, .MOD_GC_12_2a_green .pause:hover, .MOD_GC_12_5a .pause:hover, .MOD_GC_12_5 .pause:hover,
.MOD_GC_12_2a .pause:focus, .MOD_GC_12_2a_green .pause:focus, .MOD_GC_12_5a .pause:focus, .MOD_GC_12_5 .pause:focus,
.ie7 .MOD_GC_12_2a .pause:active, .ie7 .MOD_GC_12_2a_green .pause:active, .ie7 .MOD_GC_12_5a .pause:active, .ie7 .MOD_GC_12_5 .pause:active { background-position:-372px -48px !important; }/*RS WCAG II*/
.MOD_GC_12_2a .resume:hover, .MOD_GC_12_2a_green .resume:hover, .MOD_GC_12_5a .resume:hover, .MOD_GC_12_5 .resume:hover,
.MOD_GC_12_2a .resume:focus, .MOD_GC_12_2a_green .resume:focus, .MOD_GC_12_5a .resume:focus, .MOD_GC_12_5 .resume:focus,
.ie7 .MOD_GC_12_2a .resume:active, .ie7 .MOD_GC_12_2a_green .resume:active, .ie7 .MOD_GC_12_5a .resume:active, .ie7 .MOD_GC_12_5 .resume:active  { background-position:right -48px  !important;}/*RS WCAG II*/
/* MOD_FO_44 */
.MOD_FO_44 .contract_list li a {color:#E2001A;}
.MOD_FO_44 a:hover {text-decoration:underline; color:#E2001A;}
.MOD_FO_44  .page_navigation a.next_link {background-image: url("../../img/sabo/arrow.gif");}
.MOD_FO_44  .page_navigation  a.previous_link {background-image: url("../../img/sabo/arrow_prev.gif");}
/*ul.square_list li, .MOD_NO_5_1 li ul li, .MOD_GC_21 .content_area ul li, .MOD_GC_11_Horizontal ul li, .MOD_GC_11_2 .content_pan ul li {background-image: url(../../img/sabo/bullet_square.gif) !important;}*/

/* Left Nav | MG */
#leftColumnSidebar ul.MOD_NO_10a li .flyout_dropdown .flyout_desc_box .flyout_right_desc ul li {
    background: url("../../img/sabo/arrow.gif") no-repeat scroll left 4px transparent !important;
}
#leftColumnSidebar ul.MOD_NO_10a li .flyout_dropdown .flyout_title {
    background: url("../../img/sabo/arrow.gif") no-repeat scroll left 5px transparent !important;
}
#leftColumnSidebar ul.MOD_NO_10a li.nvl_2 h3, #leftColumnSidebar ul.MOD_NO_10a li.nvl_3 ul h3, #leftColumnSidebar ul.MOD_NO_10a li.nvl_4 ul li.nvl_4_on, #leftColumnSidebar ul.MOD_NO_10a li.nvl_4_on, #leftColumnSidebar ul.MOD_NO_10a li.nvl_1_on, #leftColumnSidebar ul.MOD_NO_10b li.nvl_1_on,
#leftColumnSidebar ul.MOD_NO_10a li.nvl_2 .primary_subhead, #leftColumnSidebar ul.MOD_NO_10a li.nvl_3 ul .primary_subhead {
   background-image: url("../../img/sabo/left_nav_ribbon.png") !important; color:#fff !important;
}
#leftColumnSidebar ul.MOD_NO_10a li.nvl_2 h3 a, #leftColumnSidebar ul.MOD_NO_10a li.nvl_3 ul h3 a, #leftColumnSidebar ul.MOD_NO_10a li.nvl_4 ul li.nvl_4_on a, #leftColumnSidebar ul.MOD_NO_10a li.nvl_4_on a, #leftColumnSidebar ul.MOD_NO_10a li.nvl_1_on a, #leftColumnSidebar ul.MOD_NO_10b li.nvl_1_on a,
#leftColumnSidebar ul.MOD_NO_10a li.nvl_2 .primary_subhead a, #leftColumnSidebar ul.MOD_NO_10a li.nvl_3 ul .primary_subhead a {
  color:#fff !important;
}
#leftColumnSidebar .MOD_NO_4 li.nvl_2 h3, #leftColumnSidebar  .MOD_NO_4 li.nvl_3 ul h3, #leftColumnSidebar  .MOD_NO_4 li.nvl_4 ul li.nvl_4_on, #leftColumnSidebar  .MOD_NO_4 li.nvl_4_on, #leftColumnSidebar  .MOD_NO_4 li.nvl_1_on, #leftColumnSidebar  .MOD_NO_4 li.nvl_2_1 ul h3, #leftColumnSidebar  .MOD_NO_4 li.nvl_3_1 ul h3,
#leftColumnSidebar .MOD_NO_4 li.nvl_2 .primary_subhead, #leftColumnSidebar  .MOD_NO_4 li.nvl_3 ul .primary_subhead, #leftColumnSidebar  .MOD_NO_4 li.nvl_2_1 ul .primary_subhead, #leftColumnSidebar  .MOD_NO_4 li.nvl_3_1 ul .primary_subhead {
	 background-image: url("../../img/sabo/left_nav_ribbon.png") !important; color:#fff !important;
}
#leftColumnSidebar  .MOD_NO_4 li.nvl_2 h3 a, .MOD_NO_4 li.nvl_3 ul h3 a, #leftColumnSidebar  .MOD_NO_4 li.nvl_4 ul li.nvl_4_on a, #leftColumnSidebar  .MOD_NO_4 li.nvl_4_on a, #leftColumnSidebar  .MOD_NO_4 li.nvl_1_on a, #leftColumnSidebar  .MOD_NO_4 li.nvl_2_1 ul h3 a, #leftColumnSidebar  .MOD_NO_4 li.nvl_3_1 ul h3 a,
#leftColumnSidebar  .MOD_NO_4 li.nvl_2 .primary_subhead a, .MOD_NO_4 li.nvl_3 ul .primary_subhead a, #leftColumnSidebar  .MOD_NO_4 li.nvl_2_1 ul .primary_subhead a, #leftColumnSidebar  .MOD_NO_4 li.nvl_3_1 ul .primary_subhead a  {
	color:#fff !important;
}

#ls-canvas ul.MOD_NO_10a li .flyout_dropdown .flyout_desc_box .flyout_right_desc ul li {
    background: url("../../img/sabo/arrow.gif") no-repeat scroll left 4px transparent;
}
#ls-canvas ul.MOD_NO_10a li .flyout_dropdown .flyout_title {
    background: url("../../img/sabo/arrow.gif") no-repeat scroll left 5px transparent;
}
#ls-canvas ul.MOD_NO_10a li.nvl_2 h3, #ls-canvas ul.MOD_NO_10a li.nvl_3 ul h3, #ls-canvas ul.MOD_NO_10a li.nvl_4 ul li.nvl_4_on, #ls-canvas ul.MOD_NO_10a li.nvl_4_on, #ls-canvas ul.MOD_NO_10a li.nvl_1_on, #ls-canvas ul.MOD_NO_10b li.nvl_1_on,
#ls-canvas ul.MOD_NO_10a li.nvl_2 .primary_subhead, #ls-canvas ul.MOD_NO_10a li.nvl_3 ul .primary_subhead{
   background-image: url("../../img/sabo/left_nav_ribbon.png") !important; color:#fff !important;
}
#ls-canvas ul.MOD_NO_10a li.nvl_2 h3 a, #ls-canvas ul.MOD_NO_10a li.nvl_3 ul h3 a, #ls-canvas ul.MOD_NO_10a li.nvl_4 ul li.nvl_4_on a, #ls-canvas ul.MOD_NO_10a li.nvl_4_on a, #ls-canvas ul.MOD_NO_10a li.nvl_1_on a, #ls-canvas ul.MOD_NO_10b li.nvl_1_on a,
#ls-canvas ul.MOD_NO_10a li.nvl_2 .primary_subhead a, #ls-canvas ul.MOD_NO_10a li.nvl_3 ul .primary_subhead a {
  color:#fff !important;
}
#ls-canvas .MOD_NO_4 li.nvl_2 h3, #ls-canvas  .MOD_NO_4 li.nvl_3 ul h3, #ls-canvas  .MOD_NO_4 li.nvl_4 ul li.nvl_4_on, #ls-canvas  .MOD_NO_4 li.nvl_4_on, #ls-canvas  .MOD_NO_4 li.nvl_1_on, #ls-canvas  .MOD_NO_4 li.nvl_2_1 ul h3, #ls-canvas  .MOD_NO_4 li.nvl_3_1 ul h3,
#ls-canvas .MOD_NO_4 li.nvl_2 .primary_subhead, #ls-canvas  .MOD_NO_4 li.nvl_3 ul .primary_subhead, #ls-canvas  .MOD_NO_4 li.nvl_2_1 ul .primary_subhead, #ls-canvas  .MOD_NO_4 li.nvl_3_1 ul .primary_subhead {
	 background-image: url("../../img/sabo/left_nav_ribbon.png") !important; color:#fff !important;
}
#ls-canvas  .MOD_NO_4 li.nvl_2 h3 a, .MOD_NO_4 li.nvl_3 ul h3 a, #ls-canvas  .MOD_NO_4 li.nvl_4 ul li.nvl_4_on a, #ls-canvas  .MOD_NO_4 li.nvl_4_on a, #ls-canvas  .MOD_NO_4 li.nvl_1_on a, #ls-canvas  .MOD_NO_4 li.nvl_2_1 ul h3 a, #ls-canvas  .MOD_NO_4 li.nvl_3_1 ul h3 a,
#ls-canvas  .MOD_NO_4 li.nvl_2 .primary_subhead a, .MOD_NO_4 li.nvl_3 ul .primary_subhead a, #ls-canvas  .MOD_NO_4 li.nvl_2_1 ul .primary_subhead a, #ls-canvas  .MOD_NO_4 li.nvl_3_1 ul .primary_subhead a  {
	color:#fff !important;
}


.page_navigation a.next_link {
    background: url("../../img/sabo/arrow.gif") no-repeat scroll right 4px transparent !important;
}
.page_navigation a.previous_link {
    background: url("../../img/sabo/arrow_prev.gif") no-repeat scroll left 4px transparent !important;
}
#ls-canvas .MOD_FO_33 .page_navigation a.previous_link {
    background: url("../../img/blog-pagination-icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}
#ls-canvas .MOD_FO_33 .page_navigation a.next_link {
    background: url("../../img/blog-pagination-icon.png") no-repeat scroll -15px 0 rgba(0, 0, 0, 0) !important;
}


.two_column_archive .group li, .three_column_archive .group li { background:url("../../img/sabo/arrow.gif") no-repeat 6px 4px transparent !important; }/*DD Image path is temprary fix as per localization*/
.two_column_archive .group li a, .three_column_archive .group li a {text-decoration:none;}
.two_column_archive .group li a:hover, .three_column_archive .group li a:hover {text-decoration:underline;}
.print_preview .MOD_FO_1 .feature h5{color: #999 !important; }
.print_preview .MOD_FO_1 .feature h3{color: #999 !important; }

.print_preview .MOD_GC_3_4Blocks .infoGraphic .seeall {color: #E2001A !important;background: url('../../img/sabo/arrow.gif') no-repeat 0 4px !important;}
.print_preview .MOD_FO_6a span.collapsable_panel h3 a {background: url('../../img/sabo/spec_arrow.gif') no-repeat 8px -285px #333 !important; color:white;}
.print_preview .copyright_sabo { position: relative;}
.print_preview .MOD_FO_6b_new .bg td{background-color: #F1F1F1;}
.print_preview .MOD_GC_3_4Blocks .infoGraphic .seeall {float: left;}
.print_preview .select_icon .selection_icon li a{color: #E2001A !important}
.print_preview .print_footer p a:hover{color: #E2001A !important;}
.print_preview .get-adobe-reader-wrapper a {color: #E2001A !important;}

/**video gallery*/
/*.MOD_FO_32 div.video_list_container div.playing, .MOD_FO_28 div.video_list div.playing, .MOD_FO_27 div.video_list div.video.playing, .MOD_FO_34 div.video_list div.video.playing {background-color:#003580 !important;color:#fff;}
.MOD_FO_32 div.video_list_container div.playing:hover, .MOD_FO_28 div.video_list div.playing:hover, .MOD_FO_27 div.video_list div.video.playing:hover, .MOD_FO_34 div.video_list div.video.playing:hover {background-color:#003580 !important;color:#fff;}
.MOD_FO_32 div.video_list_container div.playing .video_description_title, .MOD_FO_28 div.video_list div.playing .video_description_title, .MOD_FO_27 div.video_list div.video.playing .video_description_title, .MOD_FO_34 div.video_list div.video.playing .video_description_title {color:#fff;}*/
.MOD_FO_32 div.video_list_container div.video_list .playing strong, .MOD_FO_32 div.video_list_container div.video_list .playing span, .MOD_FO_28 div.video_list_container div.video_list .playing strong, .MOD_FO_28 div.video_list_container div.video_list .playing span, .MOD_FO_34 div.video_list_container div.video_list .playing strong, .MOD_FO_34 div.video_list_container div.video_list .playing span {color:#fff;}
.video_content a.video_player_placement:hover span.icon_play, .video_content a.video_player_placement:focus span.icon_play, .ie7 .video_content a.video_player_placement:active span.icon_play {background-image:url('../../img/sabo/icon_play_hover.png') !important;}
.MOD_FO_32 div.video_list_container div.video span.play_icon, .MOD_FO_28 div.video_list div.video span.play_icon, .MOD_FO_27 div.video_list_container div.video span.play_icon, .MOD_FO_34 div.video_list div.video span.play_icon {background: url(../../img/sabo/play_icon_16.png) 0 0  no-repeat  !important;}
/*.video_gallery div.video_list_container div.video.playing  span.play_icon {right:0 !important;} */
.print_preview .MOD_FO_6d h3 {background: #333 !important; cursor: default;}
.print_preview .MOD_FO_6d h3 a {background: url('../../img/sabo/spec_arrow.gif') no-repeat 7px 4px !important; background-position: 8px -289px !important; color :#fff; }
/*RS WCAG3*/

.MOD_NO_2_S.WCAG_MOD_NO_2_S .tabContent li a, .MOD_GC_25.WCAG_MOD_GC_25 .tab_module .tab_module_content li a{color:#e2001a}
.MOD_FO_6a h3.open a, .MOD_FO_6a .secondary_subhead.open{color:#fff;}

.xls:hover, .pdf:hover, .html:hover, .xls:focus, .pdf:focus, .html:focus, .ie7 .xls:active, .ie7 .pdf:active, .ie7 .html:active{color:#E2001A !important}
.MOD_NO_2_S.WCAG_MOD_NO_2_S .tabContent  a.more_doc, .MOD_NO_2_S.WCAG_MOD_NO_2_S .tabContent  a.more_docx{background:url("../../img/ico_word.gif") no-repeat scroll 0 2px transparent !important}
.MOD_NO_2_S.WCAG_MOD_NO_2_S .tabContent  a.more_xls, .MOD_NO_2_S.WCAG_MOD_NO_2_S .tabContent  a.more_xlsx{background:url("../../img/ico_xls.gif") no-repeat scroll 0 0 transparent !important}


/*For Cookie Curtain */
.ui-switchbutton.ui-switchbutton-default, 
#cc-notification #cc-notification-permissions li .cc-notification-permissions-inactive label {background-image:url(../../img/sabo/btn-on-off.png) !important;}
#cc-notification #cc-notification-permissions li .cc-notification-permissions-inactive label span.off { color:#fff; }
.cc-link.btn_secondary, .cc-link.btn_secondary span{ background-image:url(../../img/sabo/btn_secondary_dark.png) !important; color:#fff;}
.ui-switchbutton.ui-switchbutton-default.ui-state-active span.on{ color:#fff; }

/* Media Gallery */
.MOD_FO_60 ul.MOD_FO_60_media_gallery li a {color:#e2001a;}
/* Model page icons */
.MOD_GC_12_1 #MOD_GC_12_1_nav li a, #shareThis li.mail-share .mail-share-content a, .MOD_GC_12_1 .vidbox span {color:#e2001a;}
.MOD_GC_12_1 #MOD_GC_12_1_nav li.gallery a {background-image:url('../../img/sabo/icon-image-gallery.png');}
.MOD_GC_12_1 #MOD_GC_12_1_nav li.degrees a {background-image:url('../../img/sabo/icon-360-view.png');}
.MOD_GC_12_1 #MOD_GC_12_1_nav li.videos a {background-image:url('../../img/sabo/icon-video-gallery.png');}

/*Advance Flyout*/
#ls-canvas ul.MOD_NO_10a li .flyout_dropdown .flyout_desc_box .flyout_right_desc ul li a{color:#e2001a;}
#ls-canvas ul.MOD_NO_10a li .flyout_dropdown .flyout_title a {color:#333 !important;}
#ls-canvas ul.MOD_NO_10a li .flyout_dropdown .flyout-model-listing span.flyout_title {background: none !important;}

.MOD_NO_6 #utilityNav li:first-child span, .MOD_NO_6 #utilityNav li:first-child a{color:#e2001a;}
/*QC 658*/
.btn_primary_large.icon span.btn-icon{display:none;}
.btn_primary_large { background-image:url(../../img/sabo/btn_primary_large.gif);}
.btn_primary_large span { background-image:url(../../img/sabo/btn_primary_large.gif);color:#fff;}
.btn_primary_large.icon span:first-child{background-position:right -51px;}
.btn_primary_large:hover, .btn_primary_large:focus{ background-image:url(../../img/sabo/btn_primary_large.gif);}
.btn_primary_large:hover span, .btn_primary_large:focus span{ background-image:url(../../img/sabo/btn_primary_large.gif);}
.btn_primary_large.icon:hover span:first-child, .btn_primary_large.icon:focus span:first-child { background-position:right -153px;}


.model-special-offer .primary_subhead a{color: #333;}
.model-special-offer .MOD_FO_6a h3.open a, .model-special-offer .MOD_FO_6a h3.open a:hover,.model-special-offer .MOD_FO_6a h3.open{background-color: #f1f1f1 !important; color: #333 !important;}
.model-special-offer .primary_subhead.open a, .model-special-offer .primary_subhead.open a:hover{background: url("../../img/sabo/arrow_top.gif") no-repeat;background-position: 0 7px;}
.model-special-offer .primary_subhead a,.model-special-offer .primary_subhead a:hover{background: url("../../img/sabo/arrow.gif") no-repeat;background-position: 0 4px;}
.model-special-offer .more{background: none !important}
