section#homeCarousel{
	overflow:hidden;
	display:none;
}
section#homeCarousel-m{
		display:block;
	}

@media (min-width:1024px){
	section#homeCarousel{
		display:block;
	}	
	section#homeCarousel-m{
		display:none;
	}	
}

.home-rg-image-wrapper{
	position:relative;
	background:transparent url(../images/black.png)/*tpa=http://www.pepsico.com/images/black.png*/ repeat top left;
	min-height:20px;
}
.home-rg-image{
	position:relative;
	text-align:center;
	line-height:0px;
}
.home-rg-image img{
	max-height:100%;
	max-width:100%;
	width:100%; /* ADDED BY US */
}
.home-rg-image-nav{
}
@media(min-width:1024px){
	.home-rg-image-nav{
		display:none;
	}
}

.home-rg-image-nav a{
	position:absolute;
	top:0px;
	left:0px;
	background: url('../image/scrollleft.png')/*tpa=http://www.pepsico.com/image/scrollleft.png*/ center no-repeat;
	width:28px;
	height:100%;
	text-indent:-9000px;
	cursor:pointer;
	opacity:0.6;
	outline:none;
	z-index:999;
}
.home-rg-image-nav a.home-rg-image-nav-next{
	right:0px;
	left:auto;
	background: url('../image/scrollRight.png')/*tpa=http://www.pepsico.com/image/scrollRight.png*/ center no-repeat;
}
.home-rg-image-nav a:hover{
	opacity:0.8;
}

.home-rg-caption-wrapper{
    padding: 60px 10px;
	background-color:#383838;
	color:#fff;
	overflow:hidden;
}

@media(min-width:1024px){
	.home-rg-caption-wrapper{
		padding:20px;
	}
}

@media(min-width:1024px){
	.home-rg-caption-wrapper{
		position:absolute;
		top:0px;
		/*left:0px;
		right:0px;
		*/
		left: 135px;
		right: auto;
		bottom:0px;
		padding-top:4%;
		background:url(../image/home/transparentBlack2.png)/*tpa=http://www.pepsico.com/image/home/transparentBlack2.png*/ repeat;
		color:#fff;
		width:40%;
	}
}


.home-rg-caption {
	text-align:left;
	position:relative;
}
@media (min-width: 1500px) {
    .home-rg-caption {
	text-align:left;
	position:relative;
    padding:40px;
}
}
.home-rg-caption h4{
	font-family:'sentinelBold';
	font-size:36px;
	width:80%;
}

@media (min-width:375px){
	.home-rg-caption h4{
		font-size:54px;
	}
}


@media (min-width:1024px){
	.home-rg-caption h4{
		width:auto;
	}
}

@media (min-width:1500px){
	.home-rg-caption h4{
		font-size:72px;
	}
}




.home-rg-caption p{
	margin:10px 0px 25px 0px;
	font-family:'proxima_nova_rgregular';
	font-size:18px;
}
@media (min-width:375px){
	.home-rg-caption p{
		font-size:20px;
	}
}
@media(min-width:1024px){
	.home-rg-caption p{
		font-size:20px;
	}
}

.home-rg-caption-wrapper ul{
	padding:0px;
}

.home-rg-caption-wrapper ul li{
	float:left;
	list-style: none;
}

.home-rg-caption-wrapper ul li a{
	display:block;
	width:70px;
	margin-right:30px;
}

@media(min-width:1024px){
	.home-rg-caption-wrapper ul li a{
		width:70px;
	}
}

.home-rg-caption-wrapper ul li a img{
	width:100%;

}

.home-rg-view{
	height:30px;
	display: none
}
.home-rg-view a{
	display:block;
	float:right;
	width:16px;
	height:16px;
	margin-right:3px;
	background:#464646 url(../images/views.png)/*tpa=http://www.pepsico.com/images/views.png*/ no-repeat top left;
	border:3px solid #464646;
	opacity:0.8;
}
.home-rg-view a:hover{
	opacity:1.0;
}
.home-rg-view a.home-rg-view-full{
	background-position:0px 0px;
}
.home-rg-view a.home-rg-view-selected{
	background-color:#6f6f6f;
	border-color:#6f6f6f;
}
.home-rg-view a.home-rg-view-thumbs{
	background-position:0px -16px;
}
.home-rg-loading{
	width:46px;
	height:46px;
	position:absolute;
	top:50%;
	left:50%;
	background:#000 url(../image/home/ajax-loader.gif)/*tpa=http://www.pepsico.com/image/home/ajax-loader.gif*/ no-repeat center center;
	margin:-23px 0px 0px -23px;
	z-index:100;
	opacity:0.7;
}

.home-rg-thumbs{
	display:none;
}

@media(min-width:1024px){
	.home-rg-thumbs{
		display:block;
	}
}


/* STYLES FOR NEW HOMEPAGE - START */
section#homeCarousel{
	background-color:#fff;
	/*margin-bottom:20px;*/
}

section.homeSection{
	margin:0px 15px 0px 15px;
}

@media (max-width:400px) {
    section.homeSection{
		margin:10px;
	}
}
@media(min-width:1024px){
	section.homeSection{
		margin:0px 0px 0px 0px;
	}	
}


section.homeSection > .container{
	/*background-color:#fff;*/
}


section.homeSection .head{
	display:block;
	padding:20px 20px;
	color:#fff;
	overflow:hidden;
	background:url('../image/home/showAll_v1.png')/*tpa=http://www.pepsico.com/image/home/showAll_v1.png*/ right no-repeat #007fbb;
    height:80px;
}

section.homeSection .head:active{
	background-color:#008bcc;
}


@media(min-width:1024px){
	section.homeSection .head{
		background:none;
		background-color:#007fbb;
	}
}

@media(min-width:1024px){
	section.homeSection .head{
		padding:20px 20px;
        height:80px;
	}
}

section.homeSection .head h1{
	margin:0px;
	float:left;
	font-family:'Sentinel 6r','Sentinel A','Sentinel B',serif;
	font-size:34px;
	font-weight:600;
}

@media(min-width:1024px){
	section.homeSection .head h1{
		font-size:34px;
	}
}

@media(min-width:1500px){
	section.homeSection .head h1{
		font-size:34px;
	}
}
@media (max-width:420px){
	section.homeSection .head h1{
		font-size:20px;
	}
    section.homeSection .head {
        padding:28px 15px;
    }
}

section.homeSection .head h1 span{
	font-weight:400;
}

section.homeSection .head span.more{
	float:right;
	color:#fff;
	line-height:40px;
    padding-right:20px;
}
@media(min-width:1024px){
	section.homeSection .head span.more{
		display:block;
	}
}

@media (min-width:1024px){
	section.homeSection .head span.more{
		padding-right:20px;
        line-height:40px;
		background: url('../image/home/showAll.png')/*tpa=http://www.pepsico.com/image/home/showAll.png*/ no-repeat right;
        text-align:right;
	}
}
@media only screen and (max-device-width: 767px), only screen and (max-width: 480px) {
    section.homeSection .head span.more{
        line-height:200px;
	}
}
.bottomfleed {
    background: none repeat scroll 0 0 #fff;
    margin:0px;
}


section.homeSection .tImg{
	position:relative;
}

section.homeSection .tImg img{
	width:100%;
}

section.homeSection a.videoLink{
	background:url(../image/home/homeVideo.png)/*tpa=http://www.pepsico.com/image/home/homeVideo.png*/ center no-repeat;
	position:absolute;
	top:78px;
	left:0px;
	bottom:50%;
	right:0px;
	background-size: 75px 75px;
}

@media (max-width:375px){
	section.homeSection a.videoLink{
		background-size:60px 60px;
	}
}
@media (max-width:767px){
	section.homeSection a.videoLink{
		background-size:60px 60px;
	}
}
@media(min-width:1024px){
	section.homeSection a.videoLink{
		background-size:75px 75px;
        bottom:60%
	}
}

    section.homeSection a.subvideoLink{
	background:url(../image/home/homeVideo.png)/*tpa=http://www.pepsico.com/image/home/homeVideo.png*/ center no-repeat;
	position:absolute;
	top:0px;
	left:0px;
	/*bottom:45%;*/ bottom:162px;
	right:0px;
	background-size: 60px 60px;
}

@media (min-width:1024px){
	section.homeSection a.subvideoLink{
		background-size:50px 50px;
        /*bottom:60%;*/bottom:182px;
	}
}
@media (min-width:1500px){
	section.homeSection a.subvideoLink{
		background-size:50px 50px;
        /*bottom:55%;*/bottom:182px;
	}
}
@media (max-width:400px) {
    section.homeSection a.subvideoLink {
        /*bottom:55%;*/bottom:162px;
    }
}
@media (min-width:768px) and (max-width:1023px) {
    section.homeSection a.subvideoLink {
        /*bottom:50%;*/bottom:182px;
    }
}
.videoLinkmobile {
}

@media only screen and (max-device-width: 767px), only screen and (max-width: 480px) {
    .videoLinkmobile {
        bottom:81% !important;
    }
    /*section.homeSection a.subvideoLink {
        background-size: 70px 70px;
        bottom:40%;
    }*/
}
section.homeSection .tInfo{
	padding:5px 0px;
	position: relative;
	color:#383838;
	background-color: #fff;
    height:180px;
}

    section.homeSection .latestVideosSet .tInfo  {
        height:185px;
    }
section.homeSection .homeTile.hero .tInfo{
	padding:10px 20px;
}

section.homeSection .tInfo span.date{
	font-family:'proxima_novasemibold_italic';
	color:#8d8d8d;
}


section.homeSection .tInfo h2{
	margin:0px;
	margin-bottom:20px;
	font-family:'sentinelSemibold';
	font-size:28px;
}
@media(min-width:1024px){
	section.homeSection .tInfo h2{

	}
}
	

section.homeSection .tInfo p{
	font-family:'proxima_nova_rgregular';
}

section.homeSection .tInfo h5{
	font-family:'proxima_novasemibold';
}

section.homeSection .socialCol{
	/*padding:20px;
	background-color:#fff;*/
	padding:10px;
	background-color: #fff;
}


section.homeSection .socialCol h1{
	color:#007fbb;
	font-family:"proxima_nova_rgbold";
	font-weight:bold;
	font-size:16px;
	margin:0px 0px 10px 0px;
	min-height: 28px;
}

section.homeSection .socialCol.facebook h1{
	background:url(../images/album/PepsicoHome/fb.png-sfvrsn=1.png)/*tpa=http://www.pepsico.com/images/album/PepsicoHome/fb.png?sfvrsn=1*/ no-repeat;
	padding-left:30px;
    padding-top:5px;
}

section.homeSection .socialCol.twitter h1{
	background:url(../images/album/PepsicoHome/twitter.png-sfvrsn=1.png)/*tpa=http://www.pepsico.com/images/album/PepsicoHome/twitter.png?sfvrsn=1*/ no-repeat 0px 7px;
	padding-left:32px;
}

    section.homeSection .socialCol a {
        font-family:'Sentinel 6r','Sentinel A','Sentinel B',serif;
        font-size:20px;
        font-weight:600;
    }
section.homeSection .socialCol p{
    font-family:'Sentinel 3r', 'Sentinel A', 'Sentinel B',serif;
	font-size:20px;
	color:#007fbb;
}
@media (min-width:375px) {
    section.homeSection .socialCol p,
    section.homeSection .socialCol a {
        font-size: 26px;
    }
}

@media (min-width:1024px) and (max-width:1145px) {
    section.homeSection .socialCol p,
    section.homeSection .socialCol a {
        font-size: 22px;
    }
}

section.homeSection .socialCol p span{
	font-family:'proxima_nova_rgbold';
	font-size:26px;
}

/* REMOVE PADDING FOR COL WITHIN ROW */
.no-gutter{
	margin-left:0px;
	margin-right:0px;
}

.no-gutter [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

/* columns of same height styles */
.row-same-height {
    display: table;
    width: 100%;
}
.col-xs-height {
    display: table-cell;
    float: none !important;
}

@media (min-width: 768px) {
    .col-sm-height {
        display: table-cell;
        float: none !important;
    }
}
@media (min-width: 1024px) {
    .col-md-height {
        display: table-cell;
        float: none !important;
    }
}
@media (min-width: 1500px) {
    .col-lg-height {
        display: table-cell;
        float: none !important;
    }
}


/*New styles*/

.feed-adjust {
	margin-top: 25px;
	margin-bottom: 25px;
}
@media (max-width: 767px) {
    .feed-adjust {
        margin-top: 60px;
    }
    .spotlightContentSet {
        margin-bottom:60px;
    }
}
.feed-adjust:first-child {
	margin-top: 0px;
}
.feed-adjust:last-child {
	margin-bottom: 0px; 
}
.spotlightContentSet{
	padding: 3%; background-color: #fff;
}
.spotlightContentSet hr {
	border-color: #eaeaea;
	margin-top:20px;
}
.breakStatement{text-align: center;width: 40%;margin-left: auto;margin-right: auto;}
.statementHeading{text-align: center;color: #383838;}
.subStatement{text-align: center;color: #383838;}
.dummy-text h3, .image-description h3, .statementHeading {
	font-family: 'sentinelSemibold';
	color: #383838;
	margin-top: 10px;
	position: relative;
	font-size: 20px;
	line-height: 30px;
	overflow: hidden;
	max-height: 56px;
}

@media (min-width:375px) {
    .dummy-text h3, .image-description h3, .statementHeading{
        font-size: 20px;
    }
}
@media (min-width:375px) and (max-width:767px) {
    .dummy-text h3, .image-description h3, .statementHeading{
        font-size: 28px;
        line-height:38px;
        max-height:72px;
    }
}

/*@media only screen and (max-device-width: 767px), only screen and (max-width: 480px) {
    .dummy-text h3, .image-description h3, .statementHeading{
        font-size: 28px;
    }
}*/
.dummy-text h3{
	font-size:20px;
	line-height:30px;
	max-height: 60px;
}
@media (min-width:375px) {
    .dummy-text h3 {
        font-size: 28px;
        line-height:38px;
        max-height: 72px;
    }
}
@media (min-width:1024px) {
    .dummy-text h3 {
        font-size: 28px;
        line-height:38px;
        max-height: 72px;
    }
}
.dummy-text hr {
	width: 50px;
	border-color: #383838;
}
.date{font-style: italic;}
.socialCol p {
	display: block;
	height: 235px;
    line-height:38px;
}
@media (max-width:1023px) {
    .socialCol p {
        height: auto;
    }
}
.sectionMarginSet{
	margin-top:60px;
}
.latestVideosSet{
	padding: 3%;
}
.latestVideosSet hr{
	border-color: #eaeaea;
	margin-top:20px;
}
.latestStoriesSet{
	padding: 3%;
}
.latestStoriesSet hr{
	border-color: #eaeaea;
	margin-top:0px;
}
.hrDivider {
    display:block;
}
.mainDivider {
    display:none;
}
@media (min-width:768px) {
.hrDivider {
    display:none;
}
.mainDivider {
    display:block;
}
}
.image-description hr{
	width: 50px;
	border-color: #383838;
}
.careerSustainabilityInvestors {
	font-family: 'sentinelSemibold';
}
.careerSustainabilityInvestors h3{
	text-align: center;color: #383838; font-size:20px;
}
.careerSustainabilityInvestors hr{
	text-align: center;width: 50px;margin-left: auto;margin-right: auto;
}
.careerSustainabilityInvestors h5{
	text-align: center;color: #383838;font-size: 16px;font-family:'Sentinel 4r','Sentinel A','Sentinel B',serif;
}
.careerSustainabilityInvestors .finalStatement{
	color: #007fbb;text-align: center;font-family: "proxima_novasemibold",arial,sans-serif;
    font-size: 1.078em;
}
.carreerSustainabilityInvestorsTextSet{
	background-color: #fff; padding-bottom: 3%;
}

.colorAdjust{
	background-color: #fff;
}

@media (min-width:1024px) {
    .bottomWidgetContainer{
        height:420px;
    }
}
.bottomWidgetContainer{}
.Promo {}
.latestStories {}
@media (min-width:375px) and (max-width:1023px){
	.bottomWidgetContainer{
		padding:0px 25%;
	}
.Promo {
    padding-bottom:30px;
}
    .latestStories {
        margin-top:60px;
    }
}


@media only screen and (max-device-width: 767px), only screen and (max-width: 480px) {
    /*.bottomWidgetContainer{
		padding:0px 25%;
	}*/
    .Promo {
    padding-bottom:30px;
}
    .latestStories {
        margin-top:60px;
    }
}

.topBuffer{
	margin-top: 20px;
}

.spotlighttImgHead {
	/*height: 430px;
	background-size: cover;
    position: relative;*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 0;
    overflow: hidden;
    padding-bottom: 55.25%
}
.spotlighttImgLeft {
 	height: 190px;
 	background-size: cover;
    position: relative;
}
.spotlighttImgRight {
	height: 190px;
 	background-size: cover;
    position: relative;
}
.latestVideotImgLeftHead {
	height: 312px;
	background-size: cover;
	position: relative;
}
.latestVideotImgLeft {
	/*height: 138px;
	background-size: cover;
	position: relative;*/	
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 0;
    overflow: hidden;
    padding-bottom: 55.25%
}
.latestVideotImgRight {
	height: 138px;
	background-size: cover;
	position: relative;
}
.latestStoriestImgHead {
	height: 312px;
	background-size: cover;
	position: relative;
}
.latestStoriestImgLeft {
	height: 138px;
	background-size: cover;
	position: relative;	
}
.latestStoriestImgRight {
	height: 138px;
	background-size: cover;	
	position: relative;
}
.careertImg {
	height: 226px;
    background-repeat: no-repeat;
	background-size: cover;	
	display: block;
}
.sustaintImg {
	height: 226px;
	background-size: cover;
	display: block;	
}
.investImg {
	height: 226px;
	background-size: cover;	
	display: block;
}

@media (max-width: 1023px) {
	.feed-heightAdjust{
		margin-top: 30px;
	}
}
/*@media (min-width: 1020px) {
	.socialCol p {
		display: block;
		height: 100px;
	}
}*/

/* STYLES FOR NEW HOMEPAGE - END */