/* FIXES FOR IE8 */
/* Commented on 22Jul14 */
/*
.ie8 ul.category li.perfwpurpose{	
	width:24.6%; 
}
*/

.ie8 section#explorer .searchBox input[type=text]{
 line-height:40px !important;
}

.ie8 section#featuredTopic{
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/image/featured-topic_BG_wp.png',sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/image/featured-topic_BG_wp.png',sizingMethod='scale')";
}
.ie8 section#stories{      
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/image/stories_BG_wp.png',sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/image/stories_BG_wp.png',sizingMethod='scale')";
}
.ie8 section#pressRelease{
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/image/press_BG_wp.png',sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/image/press_BG_wp.png',sizingMethod='scale')";
}
.ie8 section#video{
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/image/video_BG_wp.png',sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/image/video_BG_wp.png',sizingMethod='scale')";
}
.ie8 section#news{
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/image/news_BG_wp.png',sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/image/news_BG_wp.png',sizingMethod='scale')";
}





/* PHASE 2 STYLES */

section#article .articleContainer .grayWrap hr{
    /* border-top-width:0px; */
    margin-top:10px;
}

section#article .articleContainer ul.textList li{
    list-style-type: initial;
    list-style-image: url('../image/icons/list-square.png')/*tpa=http://www.pepsico.com/image/icons/list-square.png*/;
}

