.col-ss-1,.col-ss-2,.col-ss-3,.col-ss-4,.col-ss-5,.col-ss-6,.col-ss-7,.col-ss-8,.col-ss-9,.col-ss-10,.col-ss-11,.col-ss-12,{
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}


@media (min-width: 480px) and (max-width:767px) {
	  .col-ss-1, .col-ss-2, .col-ss-3, .col-ss-4, .col-ss-5, .col-ss-6, .col-ss-7, .col-ss-8, .col-ss-9, .col-ss-10, .col-ss-11, .col-ss-12 {
	    float: left;
	  }
	  .col-ss-12 {
	    width: 100%;
	  }
	  .col-ss-11 {
	    width: 91.66666667%;
	  }
	  .col-ss-10 {
	    width: 83.33333333%;
	  }
	  .col-ss-9 {
	    width: 75%;
	  }
	  .col-ss-8 {
	    width: 66.66666667%;
	  }
	  .col-ss-7 {
	    width: 58.33333333%;
	  }
	  .col-ss-6 {
	    width: 50%;
	  }
	  .col-ss-5 {
	    width: 41.66666667%;
	  }
	  .col-ss-4 {
	    width: 33.33333333%;
	  }
	  .col-ss-3 {
	    width: 25%;
	  }
	  .col-ss-2 {
	    width: 16.66666667%;
	  }
	  .col-ss-1 {
	    width: 8.33333333%;
	  }
 }