/* 
This style sheet is to hold any generic styles that can be applied to any website
Any classes in this style sheet should be named with the prefix PRFTSC.
NO classes in this style sheet should be used in any content within SiteCore!
*/

.PRFTSCFloatLeft
{
    float:left;
}

.PRFTSCFloatRight
{
    float:right;
}

.PRFTSCClearBoth
{
    clear:both;
}

.PRFTSCClearLeft
{
    clear:left;
}

.PRFTSCClearRight
{
    clear:right;
}
    
.PRFTSCIndent
{
    margin-left:10px;
}
    
.PRFTSCEmphasis
{
    font-weight:bold;
}
    
.PRFTSCAccent
{
    font-style:italic;
}
    
.PRFTSCError
{
    font-weight:bold;
    color:#990000;
}
    
.PRFTSCConfirmation
{
    font-weight:bold;
    color:#006600;
}
    
.PRFTSCRegularText
{
    font-size:12px;
}
    
.PRFTSCSmallText
{
    font-size:9px;
}

.PRFTSCCenter
{
    text-align:center;
}  

.PRFTSCWhiteBackground
{
    background-color:#FFFFFF;
}

.PRFTSCNoTextDecoration 
{
    text-decoration:none;
}

.PRFTSCNoDisplay 
{
    display:none;
}