@charset "utf-8";
body {
	font: 100.1% Arial, Helvetica, sans-serif; /* add 100% for ie fix, and .1 for opera fix */
	background: #000000;
	background-image:url(../images/bkgGradient.gif)/*tpa=http://www.eogresources.com/images/bkgGradient.gif*/;
	/* background-position: left top;*/
	background-repeat: repeat-x;
	margin: 0 0 14px 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults, but I added bottom margin to give black bottom space in ie */
	padding: 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color: #000000;
}
#mainContainer {
	width: 984px;
	background: #FFFFFF;
	margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
	border: 0;
	text-align: left; /* this overrides the text-align: center on the body element. */
}
#mainContainer #header {
	background: #000000;
	width: 984px;
	height: 59px;
}
#mainContainer #header #eoglogo {
	height: 53px;
	width: 198px;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
}
#mainContainer #header #topright {
	width: 786px;
	margin: 0;
	padding: 0;
	float: right;
	height: 21px;
	background-image: url(../images/topmenu_bkgnd.gif)/*tpa=http://www.eogresources.com/images/topmenu_bkgnd.gif*/;
	background-repeat:repeat-x;
}
#mainContainer #header #topright li a:link, #mainContainer #header #topright li a:visited { color: #ffffff; text-decoration: none; }
#mainContainer #header #topright li a:hover, #mainContainer #header #topright li a:active { color: #bcbc71; text-decoration: none; }
#mainContainer #header #topright ul {
	display: inline;
	margin: 0;
	padding: 0;
	list-style: none;
	float: right;
}
#mainContainer #header #topright li {
	float:left;
	height: 21px;
	line-height: 17px;
	margin: 0;
	padding: 0 3px 0 0;
	font-weight: bold;
	font-size: 10px;
	letter-spacing: 1px;
}
#mainContainer #header #topright li.topmenuicon {
	padding: 2px 2px 0 10px;
}
#mainContainer #header #topright li.topmenuright {
	padding: 0 0 0 3px;
}
#mainContainer #header #searchContainer {
	margin: 6px 0 0 0;
	padding: 0;
	clear: right;
	float: right;
	background-image: url(../images/searchBkgnd.gif)/*tpa=http://www.eogresources.com/images/searchBkgnd.gif*/;
	background-repeat: no-repeat;
	width: 171px;
	height: 26px;
}
#mainContainer #header #searchContainer #search {
	margin: 0;
	padding: 0 0 0 7px;
	height: 26px;
	width: 138px;
	line-height: 26px;
	background-color: #e2f1f1;
	border: 0;
	background: none;
	font-weight: bold;
	font-size: 10px;
	color: #107878;
	float: left;
}
#mainContainer #header #searchContainer #searchbutton {
	margin: 3px 0 0 4px;
	padding: 0 0 0 0px;
	border: 0;
	background: none;
}
#mainContainer #mainContentContainer {
	border: 2px solid #663300;
	background-color: #990000;
	padding: 4px 3px 4px 3px;
}
#mainContainer #mainContentContainer #mainMenuContainer {
	height: 45px;
	padding: 0;
	margin: 0;
}
#mainContainer #mainContentContainer #mainMenuContainer #mainMenuBarLeft {
	background-image: url(../images/mainMenuBarLeft.gif)/*tpa=http://www.eogresources.com/images/mainMenuBarLeft.gif*/;
	background-repeat: no-repeat;
	width: 4px;
	height: 45px;
	padding: 0;
	margin: 0;
	float: left;
}
#mainContainer #mainContentContainer #mainMenuContainer #mainMenu {
	background-image: url(../images/mainMenuBkgnd.gif)/*tpa=http://www.eogresources.com/images/mainMenuBkgnd.gif*/;
	background-repeat: repeat-x;
	width: 966px;
	height: 45px;
	padding: 0;
	margin: 0;
	float: left;
}
#mainContainer #mainContentContainer #mainMenuContainer #mainMenuBarRight {
	background-image: url(../images/mainMenuBarRight.gif)/*tpa=http://www.eogresources.com/images/mainMenuBarRight.gif*/;
	background-repeat: no-repeat;
	width: 4px;
	height: 45px;
	padding: 0;
	margin: 0;
	float: right;
}
#mainContainer #mainContentContainer #mainContent {
	width: 974px;
	background-image: url(../images/mainContentBkgnd.gif)/*tpa=http://www.eogresources.com/images/mainContentBkgnd.gif*/;
	background-repeat: repeat-y;
	padding: 0;
	margin: 0;
	clear: both;
}
#mainContainer #mainContentContainer #mainContent #mainContentTop {
	background-image: url(../images/mainContentTop.gif)/*tpa=http://www.eogresources.com/images/mainContentTop.gif*/;
	background-position: top;
	width: 974px;
	height: 13px;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
	display: block;
}
#mainContainer #mainContentContainer #mainContent #mainContentBottom {
	clear: both;
}
#mainContainer #mainContentContainer #mainContent #contentLeft  {
	width: 746px;
	padding: 0 30px 0 33px;
	margin: 22px 0 0 0;
	float: left;
}
#mainContainer #mainContentContainer #mainContent #contentLeft #annualReport  {
	width: 144px;
	height: 229px;
	background-image:url(../images/annualReport.jpg)/*tpa=http://www.eogresources.com/images/annualReport.jpg*/;
	background-repeat:no-repeat;
	padding: 0;
	margin: 40px 0 0 0;
	float: left;
}
/* begin buttons for Annual Report */
#mainContainer #mainContentContainer #mainContent #contentLeft #annualReport ul{
	list-style: none;
	padding: 182px 13px 0 0;
	margin: 0;
	float: right;
}
#mainContainer #mainContentContainer #mainContent #contentLeft #annualReport ul li {
	padding: 0;
	margin: 0;
}
#mainContainer #mainContentContainer #mainContent #contentLeft #annualReport ul a.ar_online:link, #mainContainer #mainContentContainer #mainContent #contentLeft #annualReport ul a.ar_online:visited { 
	width: 83px;
	height: 9px;
	display: block;
	background-image: url(../images/homeViewOnline.gif)/*tpa=http://www.eogresources.com/images/homeViewOnline.gif*/; 
	background-repeat: no-repeat; 
	text-decoration: none;
	background-position: right center;
}
#mainContainer #mainContentContainer #mainContent #contentLeft #annualReport ul a.ar_online:hover, #mainContainer #mainContentContainer #mainContent #contentLeft #annualReport ul a.ar_online:active { 
	background-position: left center;
}
#mainContainer #mainContentContainer #mainContent #contentLeft #annualReport ul a.ar_pdf:link, #mainContainer #mainContentContainer #mainContent #contentLeft #annualReport ul a.ar_pdf:visited { 
	width: 83px;
	height: 9px;
	display: block;
	background-image: url(../images/homeDownloadPdf.gif)/*tpa=http://www.eogresources.com/images/homeDownloadPdf.gif*/; 
	background-repeat: no-repeat; 
	text-decoration: none;
	/* margin-top: 8px; took this out to move up since no online annual in 2012*/
	background-position: right center;
}
#mainContainer #mainContentContainer #mainContent #contentLeft #annualReport ul a.ar_pdf:hover, #mainContainer #mainContentContainer #mainContent #contentLeft #annualReport ul a.ar_pdf:active { 
	background-position: left center; 
}
/* end buttons for Annual Report */
/* begin What's New section styles */
#mainContainer #mainContentContainer #mainContent #contentLeft #whatsNew  {
	width: 576px;
	padding: 0 0 0 26px;
	margin: 40px 0 0 0;
	float: right;
}
#mainContainer #mainContentContainer #mainContent #contentLeft #whatsNew img.header {
	padding: 0;
	margin: 0;
}
#mainContainer #mainContentContainer #mainContent #contentLeft #whatsNew #hr {
	width: 100%;
	background-color: #81a2a2;
	padding: 0;
	margin: 1px 0 0 0; 
	height: 1px;
}
#mainContainer #mainContentContainer #mainContent #contentLeft #whatsNew #notifyme {
	float: right;
	padding: 0 0 5px 0;
	margin: 5px 0 0 0;
} 
#mainContainer #mainContentContainer #mainContent #contentLeft #whatsNew #headlines {
	margin: 22px 0 0 0;
	padding: 0;
} 
#mainContainer #mainContentContainer #mainContent #contentLeft #whatsNew h1 {
	font-weight: bold;
	font-size: 11px;
	letter-spacing: 0;
	text-transform: uppercase;
	color: #cc0000;
	padding: 15px 0 0 0;
	margin: 0;
}
#mainContainer #mainContentContainer #mainContent #contentLeft #whatsNew p {
	font-size: 95%;
	line-height: 140%;
	padding: 0 0 15px 0;
	margin: 0;
}
#mainContainer #mainContentContainer #mainContent #contentLeft #whatsNew p img.headlinearrow {
	vertical-align: middle;
	padding-left: 4px;
	padding-bottom: 2px;
	border: none;
}
#mainContainer #mainContentContainer #mainContent #contentLeft #whatsNew p a:link, #mainContainer #mainContentContainer #mainContent #contentLeft #whatsNew p a:visited { color: #000000; text-decoration: none; }
#mainContainer #mainContentContainer #mainContent #contentLeft #whatsNew p a:hover, #mainContainer #mainContentContainer #mainContent #contentLeft #whatsNew p a:active { color: #426161; text-decoration: none; }
/* end What's New section styles */
/* begin contentRight section styles */
#mainContainer #mainContentContainer #mainContent #contentRight  {
	width: 165px;
	padding: 0;
	margin: 0;
	float: right;
}
/* -----begin Quick Links navigation styles----- */
#mainContainer #mainContentContainer #mainContent #contentRight #quickLinksTop {
	margin: 0px 0 0 7px;
	padding: 0;
	background-image:url(../images/quickLinksTop.gif)/*tpa=http://www.eogresources.com/images/quickLinksTop.gif*/;
	background-repeat: no-repeat;
	width: 148px;
	height: 39px;
}
#mainContainer #mainContentContainer #mainContent #contentRight #quickLinks {
	margin: 0 0 0 7px;
	padding: 0;
	background-image:url(../images/quickLinksBkgnd.gif)/*tpa=http://www.eogresources.com/images/quickLinksBkgnd.gif*/;
	background-repeat: repeat-y;
	width: 148px;
}
#mainContainer #mainContentContainer #mainContent #contentRight #quickLinks img#quickLinksBottom {
	vertical-align: bottom;
}
#mainContainer #mainContentContainer #mainContent #contentRight #quickLinks ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#mainContainer #mainContentContainer #mainContent #contentRight #quickLinks ul li {
	margin: 0 0 0 4px;
	padding: 1px 0px 2px 0px;
}
#mainContainer #mainContentContainer #mainContent #contentRight #quickLinks ul a, #mainContainer #mainContentContainer #mainContent #contentRight #quickLinks ul a:visited {
	margin: 0;
	text-decoration: none;
	line-height: 23px;
	width: 140px;
	display: block;
	background-image: url(../images/quickLinksButton.gif)/*tpa=http://www.eogresources.com/images/quickLinksButton.gif*/;
	background-repeat: no-repeat;
	background-position: right center;
}
#mainContainer #mainContentContainer #mainContent #contentRight #quickLinks ul a:hover, #mainContainer #mainContentContainer #mainContent #contentRight #quickLinks ul a:active {
	background-position: left center;
}
/* -----end Quick Links navigation styles----- */
#mainContainer #mainContentContainer #mainContent #contentRight #fortune100 {
	margin-top: 16px;
	margin-left: 13px;
}
#mainContainer #mainContentContainer #mainContent #contentRight #fortune500 {
	margin-top: 16px;
	margin-left: 13px;
}
#mainContainer #mainContentContainer #mainContent #contentRight #topWorkplaces {
	margin-top: 16px;
	margin-left: 11px;
}
/* end contentRight section styles */
#mainContainer #footer li a:link, #mainContainer #footer li a:visited { color: #ffffff; text-decoration: none; }
#mainContainer #footer li a:hover, #mainContainer #footer li a:active { color: #bcbc71; text-decoration: none; }
#mainContainer #footer {
	margin: 0;
	padding: 0;
	background:#000000;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
}
#mainContainer #footer ul {
	width: 260px; /* this width is needed for centering along with the auto left and right margin */
	margin: 0 auto 0 auto;
	padding: 0;
	list-style: none;
}
#mainContainer #footer li {
	background-image: url(../images/footermenu_bkgnd.gif)/*tpa=http://www.eogresources.com/images/footermenu_bkgnd.gif*/;
	background-repeat:repeat-x;
	height: 22px;
	line-height: 20px;
	float: left;
	margin: 10px 0 0 0;
	padding: 0;
	font-size: 10px;
	letter-spacing: 1px;
	font-weight: bold;
}
#mainContainer #footer li.footend {
	background-image: none;
}
#mainContainer #footer p {
	clear:left;
	margin: 0;
	padding: 9px 0 0 0;
	font-size: 10px;
	line-height: 10px;
	color: #384d4d;
	text-align: justify;
}
