/*
Theme Name: DiviChild
Theme URI: http://example.com/twenty-fourteen-child/
Description: A Child of Divi Themes
Author: Elegant Themes/US Pro Domains
Author URI: http://www.elegantthemes.com/gallery/divi/
Template: Divi
Tags: light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
Text Domain: twenty-fourteen-child
 
*/ @import url("../Divi/style.css")/*tpa=http://www.whirlpoolcorp.com/wp-content/themes/Divi/style.css*/;

/* =Theme customization starts here
------------------------------------------------------- */

.et_pb_section {
padding: 5px 0;
}

.et-waypoint {
  opacity: 1.0;
}

h1 {
font-size: 40px;
}

h4 {
font-size: 19px;
}

.et_nav_text_color_light, .et_nav_text_color_light #et-secondary-nav a, .et_nav_text_color_light .et-social-icon a {
    color:#F7f2EB;
}

.et_nav_text_color_light .et-social-icon a:hover, .et_nav_text_color_light #et-secondary-nav a:hover, .et_nav_text_color_light .et-cart-info:hover {
    color:#51483D !important;
}

.et_pb_row {
    padding: 10 0 0 0;
}

.et_pb_text{
    margin-bottom: 0;
}

.whrsidebar {
    background-color: #e7583b;
    padding: 10px;
    vertical-align:text-top;
}

a.whrsidebar {
    color: #F7F2EB;
    text-decoration: none;
}

a.whrsidebar:link {
    color: #F7F2EB;
    text-decoration: none;
}

a.whrsidebar:visited {
    color: #F7F2EB;
    text-decoration: none;
}

a.whrsidebar:hover {
    color: #51483D;
    text-decoration: none;
}

a.whrsidebar:active {
    color: #F7F2EB;
}

.et_pb_post .entry-content, .project .entry-content {
    padding-top: 0px;
}

.bottom-nav li {
    font-size: 12px;
}

.bottom-nav {
    padding: 7px 0;
}

#top-menu a:hover {
    color: #E0942F;
}

#whrsociallinks {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#top-menu li li a {
    padding: 10px 15px;
    width: 180px;
}

#biggerpfont {
    font-size: 16px;
}

ol, ul {
    list-style: disc;
    padding-left: 30px; 
}

.et_pb_bg_layout_light .et-pb-arrow-prev, .et_pb_bg_layout_light .et-pb-arrow-next {
    color: #333;
    background-color: #cccccc;
    border-radius: 50%/50%;
}

#socialrespheader {
    height: 350px;
}

#ourpurposeimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#footer-info {
    font-size: 10px;
    color: #fff;
}

a.lighterlink {
    color: #61AAA5;
    text-decoration: none;
}

a.lighterlink:link {
    color: #61AAA5;
    text-decoration: none;
}

a.lighterlink:visited {
    color: #61AAA5;
    text-decoration: none;
}

a.lighterlink:hover {
    color: #FFF;
    text-decoration: underline;
}

a.lighterlink:active {
    color: #61AAA5;
}

a:hover {
    text-decoration: underline;
}

.et_pb_bg_layout_dark .et_pb_slide_description {
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.6);
}

/*.whrimghover a:hover {
    background: #rgba(255, 255, 255, 0.9) url("http://becbbf6ed66b5ea3547b-943ad49fa0bf56534d6539e94192646e.r26.cf5.rackcdn.com/wp-content/uploads/icon_plus.png") no-repeat top center;
}*/

/* CONTACT FORM 7 STYLES */
.wpcf7 input[type="text"], .wpcf7 input[type="email"], .wpcf7 textarea {
    background-color: #EEE; border: none!important; padding:10px; width:85%; font-size:14px;
}
.wpcf7-submit { 
	font-size: 20px; font-weight: 500; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; padding: 6px 20px; line-height: 1.7em; background: transparent; border: 2px solid; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -moz-transition: all 0.2s; -webkit-transition: all 0.2s; transition: all 0.2s; position: relative; color:#E0942F; 
}
.wpcf7-submit:hover { 
	background: rgba( 0, 0, 0, 0.05 ); border: 2px solid transparent; padding: 6px 20px !important; cursor: pointer; 
}
/* END --- CONTACT FORM 7 STYLES */


/* FOR WHEN NUMBER COUNTERS ARE NOT WORKING */
.whrNumbersNotDynamic {
	font-size: 50px;
	color: #e7583b;
	line-height:10px;
	padding: 0 0 25px 0;
}
.whrNumbersNotDynamicText {
	font-size: 16px;
	font-family: 'Yanone Kaffeesatz', Helvetica, Arial, Lucida, sans-serif;
	color: #333;
	font-weight: 500;
	line-height:18px;
	margin:0 0 20px 0;
}