/* GENERAL STYLES */
#ulMainNav {
	margin-top: 0;
}
#ulCorpNav {
	top: -218px;
}
#fsSearch {
	top: -215px;
	width: 295px;
}
#content {
	top: -100px;
}
#ulExplore {
	margin-top: 10px;
}
#diet div.tabarea {
	position:relative;
	top:-6px;
}
#diet div.tabcontainer img.tabBottom {
	position:relative;
	top:-12px;
}
#diet div.tabcontainer{
	position:relative;
	top:-12px;
}
.ulLatestFinancials li {
	width: 150px;
}
#content #HistLookUp td, #content #HistLookUp th{
	padding-top:0px;
}




/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
