/* GENERAL STYLES */
.ui-tabs-hide { display: none; }
#ulCorpTabs {
	float: left;
	list-style: none;
	margin: 0 -2px 0px;
	padding: 0;
	width: 801px;
}
#ulCorpTabs li {
	float: left;
	margin-right: 20px;
}
#ulCorpTabs a {
	background: url(../media/12782/button_tab2.gif)/*tpa=http://www.deanfoods.com/media/12782/button_tab2.gif*/ 0 0 no-repeat;
	border: none;
	color: #606060;
	display: block;
	font-size: 12px;
	height: 28px;
	padding-top: 5px;
	text-align: center;
	text-decoration: none;
	width: 160px;
}
#ulCorpTabs li.ui-tabs-selected a:hover,
#ulCorpTabs li.ui-tabs-selected a{
	background-position: 0 -65px;
}
#ulCorpTabs li a:hover{
background-position: 0 -32px
}












/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
