/* Home Page */
#pri .content{background:none repeat scroll 0 0 padding-box transparent;border:0 solid rgba(255, 255, 255, 0.5);border-bottom-right-radius:0;box-shadow:0 0 0 rgba(0, 0, 0, 0.25);margin-bottom:0;}
.ie #pri{margin-bottom:0;}
.ie #pri .content{background-color:transparent;border:0 solid #f8f5f1;border-bottom:0 solid #f8f5f1;margin-bottom:0;}
#onecol.pad0 #pri .content{width:960px;padding-bottom:40px;}
.ie #onecol #pri .content{padding-bottom:40px;}
.ie #onecol #pri .btm{background-image:none;padding-bottom:0;height:0;}
/* Promos */
.top-right{border-top-right-radius:50px;}
.top-left{border-top-left-radius:50px;}
.bottom-right{border-bottom-right-radius:50px;}
.bottom-left{border-bottom-left-radius:50px;}
#pri .content .promo{background-color:#fff;background-clip:padding-box;border:3px solid rgba(255, 255, 255, 0.5);box-shadow:8px 7px 13px -10px rgba(0, 0, 0, 0.4);margin-bottom:25px;padding:15px 17px 4px 15px;}
#pri .content #primary-promo{margin-top:90px;margin-bottom:40px;}
#pri .content #primary-promo .promo{padding:11px 17px 4px 15px;margin-bottom:0;}
#primary-promo .promo h1,
#primary-promo .promo h2{font-size:260%;padding-bottom:0; border:0;}
#primary-promo .promo p.copy{font-size:140%;}
.sub-home #primary-promo .promo p.copy{font-size:100%;}
#pri .content .promo.top-right img.right{margin-right:14px;}
#twitter-promo{background-color:#fff;box-shadow:3px 0 2px rgba(187, 187, 187, 0.6);margin:0 auto;padding:20px;width:186px;}
.footertt{background:url(../img/branding/twitter-cloud-bottom.png)/*tpa=http://www.nrg.com/assets/img/branding/twitter-cloud-bottom.png*/ no-repeat 4px 0 scroll;height:129px;margin-top:-3px;}
.ie .footertt{display:none;}
/* Home Page Boxes default:#00aeef; --> black:#231f20;green:#439539;magenta:#ec00b2;orange:#ff4800;red:#ef3e42;violet:#333082;yellow:#ffd200;*/
.boxes{background-color:#fff;border-top:5px solid #fff;border-bottom:5px solid #fff;margin-bottom:20px;}
.boxes .margin-left{background-position:0 0;}
.boxes .float32{width:32.5%}
.boxes .box{position:relative;}
.boxes .box .pad{min-height:170px;padding-bottom:0;}
.boxes .float1{width:6px;background-color:transparent;}
.boxes p{margin-left:94px;}
.margin-left h2, .margin-left p{margin-left:116px}
.float70 .float48 .promo{min-height:210px;}
.boxes img{ position:absolute;top:76px;left:14px;}
.boxes .margin-left img{top:0;left:0;}
/* END Home Page Boxes */
/*---!!!! TURN OFF RESPONSIVE BY DELETING THE CSS BELOW !!!!---*/
@media screen and (max-width:959px){
#onecol.pad0 #pri .content{width:auto;padding:20px 20px 30px 20px;}
#pri .content .promo{background-color:transparent;background-clip:padding-box;border:0 solid rgba(255, 255, 255, 0.5);box-shadow:none;padding:0;border-radius:0;}
#pri .content #primary-promo{margin-top:0;margin-bottom:0;position:relative;border-bottom:5px solid #fff;}
#pri .content #primary-promo .promo{float:none;padding:4px 15px;position:absolute;top:10%;left:0;width:400px;border-bottom-right-radius:50px;}
.sub-home #pri .content #primary-promo .promo{float:none;padding:4px 0;position:relative;top:auto;left:auto;width:auto;}
#pri .content #primary-promo .bg-white {background-color: rgba(255, 255, 255, 0.9); }
.boxes  .margin-left{background-size:70px auto; background-position:20px 66px}
.margin-left h2{margin-left:0}
.margin-left p{margin-left:94px}
.boxes .box{border-bottom:20px solid #00aeef;display:table-cell;float:none;}
.boxes .box.black{border-bottom:20px solid #231f20;}
.boxes .box.green{border-bottom:20px solid #439539;}
.boxes .box.magenta{border-bottom:20px solid #ec00b2;}
.boxes .box.orange{border-bottom:20px solid #ff4800;}
.boxes .box.red{border-bottom:20px solid #ef3e42;}
.boxes .box.violet{border-bottom:20px solid #333082;}
.boxes .box.yellow{border-bottom:20px solid #ffd200;}
.boxes .float32{width:32%}
.boxes .float1{width:1%;border-bottom:0 solid #fff;}
.boxes .box .pad{padding-bottom:0;}
.boxes .margin-left img{top:66px;left:20px;width:70px;height:auto}
.float72{float:none;width:100%;}
}
@media (max-width:850px){}
@media (max-width:800px){
.boxes{display:block;border:0;}
.boxes .box{display:block;overflow:hidden;width:auto;}
.boxes .float1{border-bottom:5px solid #fff;}
.boxes .box .pad{min-height:115px;}
}
@media screen and (max-width:780px){
#pri .content #primary-promo .promo{width:300px;}
.sub-home #pri .content #primary-promo .promo{width:auto;}
.float72 .float48 .promo{min-height:10px;}
}
@media (max-width:767px){#onecol.pad0 #pri .content{padding:10px 10px 20px 10px;}}
@media screen and (max-width:700px){
#pri .content .promo{border-bottom:1px solid #ccc;padding-bottom:10px;margin-bottom:1.7em;}
#pri .content #primary-promo .promo{border-bottom:0 solid #ccc;border-bottom-right-radius:20px;}
.boxes .float1{width:100%;}
}
@media (max-width:599px){
#pri .content #primary-promo .promo{width:50%;}
.sub-home #pri .content #primary-promo .promo{width:auto;}
#primary-promo .promo h1,
#primary-promo .promo h2{font-size:260%;margin-bottom:4px;}
#primary-promo .promo p{margin-bottom:4px;}
.sub-home #primary-promo .promo p{margin-bottom:16px;}
#primary-promo .promo p.copy{font-size:96%;}
}
@media (max-width:540px){
#primary-promo .promo h1,
#primary-promo .promo h2{font-size:230%;}}
@media (max-width:499px){
#primary-promo .promo h1,
#primary-promo .promo h2{font-size:200%;}}
@media (max-width:440px){
#pri .content #primary-promo .promo{top:14px;min-width:160px;padding-right:8px;}
#primary-promo .promo h1,
#primary-promo .promo h2{font-size:190%;}
#primary-promo .promo p.copy{font-size:86%;}
}
@media (max-width:399px){
#primary-promo .promo h1,
#primary-promo .promo h2{font-size:140%;}}
@media (max-width:359px){	
#pri .content #primary-promo .promo{min-width:150px;}
#primary-promo .promo h1,
#primary-promo .promo h2{font-size:100%;margin-bottom:0;max-width:135px;}
#primary-promo .promo p.copy{font-size:76%;max-width:135px;}
.sub-home #primary-promo .promo h1,
.sub-home #primary-promo .promo h2{font-size:140%;;margin-bottom:0;max-width:none;}
.sub-home #primary-promo .promo p.copy{font-size:76%;max-width:none;}
}