/* If your browser made it this far, it's a winner! */
@import "theme.css"/*tpa=http://www.nrg.com/assets/css/theme.css*/;
	/* These are optional, and should be imported on a project-by-project basis. (Un)comment as necessary */
/* END import */
/* NON-Changeable */ 
html, body {height:100%;}
#pagewrap {min-height:100%;}
#wrap {position:relative;min-height:100%;}
#innerpagewrap {width:100%;z-index:1;}
#sec, #pri, #ter {overflow:visible;position:relative;}
#inner {float:left;margin:0 -1px 0 0;width:100%;z-index:3;}
#pri {float:right;margin:0 0 0 -1px;width:100%;z-index:5;}
#sec {float:left;margin-right:1px;z-index:4;}
#ter {float:right;margin-left:1px;z-index:2;}
#ftwrap {clear:both;position:relative;}
#ft, .ft {position:relative;}
/* Col variants */
body#onecol #sec, body#onecol #ter, body#twocol-left #ter, body#twocol-right #sec {display:none;}
body#onecol #inner, body#onecol #pri body#twocol-left #inner, body#twocol-right #pri {margin:0;}
body#onecol #innerwrap, body#onecol #outer, body#twocol-left #innerpagewrap, body#twocol-left #outer {padding-right:0;}
body#onecol #innerwrap, body#onecol #outer, body#twocol-right #innerpagewrap, body#twocol-right #outer {padding-left:0;}
/* IE6 and below */
html.ie6  #pagewrap {word-wrap:break-word;height:100%;}
html.ie6  #wrap {height:100%;}
html.ie6 #inner {overflow:visible;position:relative;}
/* Clearfix */
#innerpagewrap:after, #outer:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
/* Clearfix for IEs */
#innerpagewrap, #outer{zoom:1;}
/* END NON-Changeable */ 
/* Widths/Heights */
#pagewrap #wrap{margin:0 auto;width:960px;}/* overall page width */
#ftwrap #ft{margin:0 auto;max-width:1200px;}/* overall page width */
#outer{
padding-left:252px;/* width of left column */
padding-right:182px;/* width of right column */
}
	.lander #outer{padding-left:0;}
	.lander #innerpagewrap{background:none repeat scroll 0 0 padding-box #fff;border:4px solid rgba(255, 255, 255, 0.5);border-bottom-right-radius:45px;box-shadow:5px 5px 5px rgba(0, 0, 0, 0.25);margin-bottom:40px;padding:20px 0 0 309px;width:643px;}
	.ie .lander #innerpagewrap{background-color:#fff;border:4px solid #f8f5f1;}
#sec{
margin-left:-252px;/* same as #outer padding-left */
width:252px;/* same as #outer padding-left */
}
	.lander #sec{margin-left:-309px;padding:10px 0 10px 24px;width:285px;}
#ter{
margin-right:-182px;/* same as #outer padding-right */
width:182px;/* same as #outer padding-right */
}
	/* 100% page height */
	#ftwrap{margin-top:-254px;}/* Negative of total height of all fts */
	#outer{padding-bottom:254px;}
	.ie #outer{padding-bottom:254px;}
	/* END 100% page height */
article,
#sec nav,
aside{padding:0;}/* column padding */
/* END Widths/Heights */
/* Theme */
html, body{background-color:#fff;color:#231F20;}
#pagewrap{background-color:#e8e8e8;max-width:1200px;margin-left:auto;margin-right:auto;}
td, th{vertical-align:top;}
/* Global Nav */
#globalnav{background:#f2f1ed;border-bottom:2px solid #e6e5e3;height:22px;position:absolute;top:0;left:0;width:100%;z-index:11;}
#globalnav .pad{margin:0 auto;padding:0;width:960px;}
#custType{padding:0;margin:0;list-style:none;}
#custType li{background:url(../img/branding/bg-pipe.gif)/*tpa=http://www.nrg.com/assets/img/branding/bg-pipe.gif*/ no-repeat 0 7px scroll;float:left;margin-left:10px;padding-left:10px;}
#custType li:first-child{background-image:none;padding-left:0;margin-left:4px;}
#custType a{color:#231f20;font-size:11px;text-decoration:none;}
#custType a.selected{color:#009DDB;}
#custType a:hover{text-decoration:underline;}
.drop-nav{border-right:1px solid #ccc;float:left;height:50px;list-style:none;margin:0;padding:0;position:relative;z-index:100;}
#connectnav.drop-nav{float:right;}
.drop-nav li{float:left;position:relative;}
.drop-nav .liTop li{float:none;}
.drop-nav li a.top-a{background:url(../img/branding/bg-globalnav.png)/*tpa=http://www.nrg.com/assets/img/branding/bg-globalnav.png*/ no-repeat scroll 14px 5px #F2F1ED;border-left:1px solid #ccc;cursor:pointer;color:#00ADEF;display:block;float:left;font-family:'Effra W01 Regular',Arial,Helvetica,sans-serif;font-size:9px;height:12px;padding-top:38px;overflow:hidden;text-align:center;text-decoration:none;text-transform:uppercase;width:60px;white-space:nowrap;}
.drop-nav li#navcontact a.top-a{background-position:14px -44px;}
.drop-nav li#login a.top-a{background-position:14px -93px;}
.drop-nav li a.top-a:hover{background:url(../img/branding/bg-globalnav.png)/*tpa=http://www.nrg.com/assets/img/branding/bg-globalnav.png*/ no-repeat scroll 14px 5px #fff;}
.drop-nav li#navcontact a.top-a:hover{background-position:14px -44px;}
.drop-nav li#login a.top-a:hover{background-position:14px -93px;}
.drop-nav .liTop{cursor:pointer;height:50px;float:left;font-weight:normal;}
.drop-nav div.inner{background-color:#fff;border:0 solid #ddd;height:0;position:absolute;left:-144px;top:50px;overflow:hidden;width:210px;
-moz-transition:0.4s ease-in-out;
-o-transition:0.4s ease-in-out;
-webkit-transition:0.4s ease-in-out;
transition:0.4s ease-in-out;}
.drop-nav #navcontact div.inner{left:-170px;width:236px;}
.drop-nav div.inner div.pad,
#connectnav.drop-nav div.inner .pad{margin:0;padding:18px 13px;width:auto;}
.drop-nav .liTop:hover div.inner,
.drop-nav .liTop.focus div.inner{box-shadow:2px 2px 3px rgba(0, 0, 0, 0.1);border:1px solid #ddd;}
.drop-nav li#navsocial:hover .inner,
.drop-nav li#navsocial.focus .inner{height:220px;}
.drop-nav li#navcontact:hover .inner,
.drop-nav li#navcontact.focus .inner{height:170px;}
.es .drop-nav li#navcontact:hover .inner,
.es .drop-nav li#navcontact.focus .inner{height:190px;}
.drop-nav .liTop:hover div ul,
.drop-nav .liTop.focus div ul{top:0;}
.drop-nav li ul{margin:0;list-style:none;padding:0;}
#connectnav h3{margin-bottom:10px;line-height:13px;}
#connectnav ul li{display:block;font-size:15px;margin:0 0 9px;padding:2px 0 3px 0;}
#navsocial ul li{background:url(../img/branding/socialSprite.gif)/*tpa=http://www.nrg.com/assets/img/branding/socialSprite.gif*/ no-repeat scroll left top;padding:2px 0 3px 22px;}
#navsocial li.social-hub{background-position:0 1px;}
#navsocial li.our-blog{background-position:0 -29px;}
#navsocial li.ico-facebook{background-position:0 -59px;}
#navsocial li.ico-twitter{background-position:0 -89px;}
#navsocial li.ico-flickr{background-position:0 -119px;}
#navsocial li.ico-linkedin{background-position:0 -149px;}
#navsocial li.ico-youtube{background-position:0 -179px;}
#navsocial li.ico-googleplus{background-position:0 -209px;}
#navsocial li.ico-instagram{background-position:0 -239px;}
#connectnav .inner a{display:block;line-height:1em;text-decoration:none;}
#connectnav .inner a:hover{text-decoration:underline;}
/* End Global Nav */
/* Masthead */
#wrap{padding-top:22px;}
#masthead{color:#fff;min-height:28px;position:relative}
/* Top Logo */
#logo{background:none repeat scroll 0 0 padding-box #fff;border-bottom-right-radius:15px;border:3px solid rgba(255, 255, 255, 0.5);box-shadow:8px 7px 13px -10px rgba(0, 0, 0, 0.4);height:136px;position:absolute;top:0;left:0;width:235px;z-index:10;}
.ie #logo{background:url(../img/branding/bg-logo.png)/*tpa=http://www.nrg.com/assets/img/branding/bg-logo.png*/ no-repeat left bottom scroll;height:156px;width:260px;}
.header-light{background:none repeat scroll 0 0 padding-box #fff;border:3px solid rgba(255, 255, 255, 0.5);box-shadow:8px 7px 13px -10px rgba(0, 0, 0, 0.4);margin-bottom:30px;position:relative;width:954px;}
.header-light #logo{background:none;border:0;border-bottom-right-radius:0;box-shadow:none;position:static;top:auto;left:auto;}
.ie .header-light{background-image:none;background-color:#fff;}
#logo ul{padding:17px 0 0 25px;}
.ie #logo ul{padding:20px 0 0 28px;}
#logo ul li{background:url(../img/branding/bg-mobile-sprite.png)/*tpa=http://www.nrg.com/assets/img/branding/bg-mobile-sprite.png*/ no-repeat 0 -700px scroll;float:left;height:104px;width:181px;}
#logo a{display:block;height:104px;text-indent:-9999em;width:181px;}
.callus-light{color:#231f20;position:absolute;right:35px;top:0;z-index:11;}
.callus-light p{display:table-cell;height:100px;vertical-align:bottom;}
.callus-light p span{font-size:130%;}
.callus-light a{color:#00aaef;font-size:20px;text-decoration:none;}
.callus-light a:hover{text-decoration:underline;}
/* END Top Logo */
/* END Masthead */
/* Navigation */
#nav{color:#fff;height:144px;padding-left:230px;}
.nav-menu{background:#fff;box-shadow:9px 9px 13px -10px rgba(0, 0, 0, 0.4);height:72px;max-width:732px;position:relative;}
.nav-menu ul{background-color:#c7c7c7;font-size:13px;height:36px;list-style:none;margin:0;padding:0 0 0 22px;width:708px;}
.nav-menu > ul{float:left;}
.nav-menu > ul > li{background:url(../img/branding/bg-pipe-nav.gif)/*tpa=http://www.nrg.com/assets/img/branding/bg-pipe-nav.gif*/ no-repeat 0 center scroll;float:left;}
#nav .nav-menu > ul li:first-child{background-image:none;margin-left:0;padding-left:0;}
.nav-menu > ul > li > a{display:block;color:#231F20;font-family:'Effra W01 Regular', Arial, Helvetica, sans-serif;font-size:14px;line-height:36px;padding:0 20px 0 20px;text-decoration:none;}
.nav-menu > ul > li.current > a{background:url(../img/branding/bg-mobile-sprite.png)/*tpa=http://www.nrg.com/assets/img/branding/bg-mobile-sprite.png*/ no-repeat center -324px scroll;font-family:'Effra W01 Medium', Arial, Helvetica, sans-serif;}
.ie .nav-menu > ul > li.current > a{font-weight:bold;}
.nav-menu > ul > li > ul{background:#fff;height:auto;padding:0 0 0 13px;position:absolute;top:36px;left:-9999px;min-height:36px;opacity:0;width:705px;-moz-transition:opacity 0.5s;
-ms-transition:opacity 0.5s;
-o-transition:opacity 0.5s;
-webkit-transition:opacity 0.5s;
transition:opacity 0.5s;}
.nav-menu > ul > li > ul > li{float:left;position:relative;}
.ie .nav-menu > ul > li > ul > li{font-size:100%;}
.nav-menu > ul > li > ul > li > a{color:#231F20;display:block;font-family:'Effra W01 Regular', Arial, Helvetica, sans-serif;padding:10px;text-decoration:none;}
.nav-menu > ul > li > ul > li.on > a{font-family:'Effra W01 Medium',Verdana,sans-serif;}
.nav-menu > ul > li > ul > li.on > a,
.nav-menu > ul > li > ul > li > a:hover{color:#009DDB;text-decoration:underline;}
.nav-menu ul li:hover{direction:ltr;}
.nav-menu > ul > li.current > ul{left:12px;opacity:1;}
.nav-menu > ul > li:hover > ul,
.nav-menu > ul > li.focus > ul{left:12px;opacity:1; z-index:10;}
.nav-menu > ul:hover > li.current:hover > ul{left:12px;opacity:1;}
.nav-menu > ul:hover > li.current > a{background-image:none;}
.nav-menu > ul:hover > li:hover.current > a,
.nav-menu > ul > li:hover > a,
.nav-menu > ul > li.focus > a{background:url(../img/branding/bg-mobile-sprite.png)/*tpa=http://www.nrg.com/assets/img/branding/bg-mobile-sprite.png*/ no-repeat center -324px scroll;}
/* END Navigation */
/* Artical */
/*#pri article{overflow:hidden;}*/
#pri .content{background:none repeat scroll 0 0 padding-box #fff;border:4px solid rgba(255, 255, 255, 0.5);border-bottom-right-radius:45px;box-shadow:5px 5px 5px rgba(0, 0, 0, 0.25);margin-bottom:40px;padding:20px 35px 20px 28px;}
.ie #pri {margin-bottom:30px;}
.ie #pri .content{background-color:#fff;border:4px solid #f8f5f1;border-bottom:0 solid #f8f5f1;margin-bottom:30px;padding:14px 35px 0 22px}
.ie #pri .btm{background:url(../img/branding/bg_pri-twocol-btm.png)/*tpa=http://www.nrg.com/assets/img/branding/bg_pri-twocol-btm.png*/ no-repeat right top scroll;height:50px;margin-top:-30px;}
	.lander #pri .content{background-color:transparent;border:0;border-bottom-right-radius:0;box-shadow:none;margin-bottom:0;padding-left:19px;}
	.ie .lander #pri .content{background-color:transparent;border:0;border-bottom:0;margin-bottom:0;padding-left:22px}
	.ie .lander #pri .btm{display:none}
#onecol #pri .content{padding:30px 31px 40px 24px;width:897px;}
.ie #onecol #pri .content{padding-bottom:0;}
#onecol.pad #pri .content{padding:30px 76px 40px 76px;width:800px;}
.ie #onecol.pad #pri .content{padding-bottom:0;}
#onecol.pad0 #pri .content{padding-right:0;padding-left:0;width:952px;}
.ie #onecol #pri .btm{background:url(../img/branding/bg_pri-onecol-btm.png)/*tpa=http://www.nrg.com/assets/img/branding/bg_pri-onecol-btm.png*/ no-repeat right top scroll;}
#shareThis{margin:10px 0;}
#shareThis span{float:right;margin:0 6px 0 0;padding:0;*float:left;}
#shareThis span span{margin:0;}
#shareThis .chicklets{background:url(../img/branding/bg-mobile-sprite.png)/*tpa=http://www.nrg.com/assets/img/branding/bg-mobile-sprite.png*/ no-repeat -162px 0 scroll;height:20px;overflow:hidden;text-indent:-9999px;width:20px;}
#shareThis .st_twitter .chicklets{background-position:-162px -20px;}
#shareThis .st_linkedin .chicklets{background-position:-162px -40px;}
#shareThis .st_googleplus .chicklets{background-position:-162px -60px;}
#shareThis .st_email .chicklets{background-position:-162px -80px;}
#shareThis .text{font-size:90%;text-indent:0;}
/* Secondary Navigation */
#sec{padding-bottom:40px;}
#sec nav{-moz-box-sizing:border-box;background:none repeat scroll 0 0 padding-box #fff;border:4px solid rgba(255, 255, 255, 0.5);box-shadow:5px 5px 5px rgba(0, 0, 0, 0.25);margin-bottom:40px;padding:13px 17px 0 17px;width:193px;}
#sec nav,  x:-moz-any-link, x:default {width:236px;}
.ie #sec nav{background:url(../img/branding/bg_sec-nav-top.png)/*tpa=http://www.nrg.com/assets/img/branding/bg_sec-nav-top.png*/ no-repeat 0 0 scroll;padding:17px 0 0 0;margin-bottom:0;max-width:300px;width:242px;}
.ie #sec nav.toolkit{padding:7px 0 0 0;}
.ie #sec nav .content{background:url(../img/branding/bg_sec-nav.png)/*tpa=http://www.nrg.com/assets/img/branding/bg_sec-nav.png*/ repeat-y 0 0 scroll;margin-bottom:12px;padding:0 17px 0 14px;}
.ie #sec nav .btm{background:url(../img/branding/bg_sec-nav-btm.png)/*tpa=http://www.nrg.com/assets/img/branding/bg_sec-nav-btm.png*/ no-repeat 0 0 scroll;height:50px;margin-top:-12px;}
#sec .aside-wrap {padding:0 0 15px 0;}
#sec aside{border-top:1px solid #C7C7C7;padding:7px  0 0 0;margin-top:7px;}
#sec .aside-wrap aside:first-child{border-top:0 solid #C7C7C7;padding:0;margin-top:0;}
#sec h2{border-bottom:2px solid #00aeef;font-family:'Effra W01 Medium',Verdana,sans-serif;font-size:107%;font-weight:normal;margin-bottom:12px;padding-bottom:3px;}		
.black #sec h2{border-bottom:1px solid #231f20;}		
.green #sec h2{border-bottom:1px solid #439539;}		
.magenta #sec h2{border-bottom:1px solid #ec00b2;}		
.orange #sec h2{border-bottom:1px solid #ff4800;}		
.red #sec h2{border-bottom:1px solid #ef3e42;}
.violet #sec h2{border-bottom:1px solid #333082;}		
.yellow #sec h2{border-bottom:1px solid #ffd200;}		
.ie #sec h2{font-weight:bold;}
#sec h2 a{display:block;text-decoration:none}
#sec h2 a:hover{text-decoration:underline;}
#sec nav h3{background-image:url(../img/branding/bg-cyan-horizontal.png)/*tpa=http://www.nrg.com/assets/img/branding/bg-cyan-horizontal.png*/;background-repeat:no-repeat;background-position:-813px 5px;background-attachment:scroll;cursor:pointer;font-family:'Effra W01 Regular',Verdana,sans-serif;margin:0;padding:0 8px 0 0;}
.black #sec nav h3{background-image:url(../img/branding/bg-black-horizontal.png)/*tpa=http://www.nrg.com/assets/img/branding/bg-black-horizontal.png*/;}
.green #sec nav h3{background-image:url(../img/branding/bg-green-horizontal.png)/*tpa=http://www.nrg.com/assets/img/branding/bg-green-horizontal.png*/;}
.magenta #sec nav h3{background-image:url(../img/branding/bg-magenta-horizontal.png)/*tpa=http://www.nrg.com/assets/img/branding/bg-magenta-horizontal.png*/;}
.orange #sec nav h3{background-image:url(../img/branding/bg-orange-horizontal.png)/*tpa=http://www.nrg.com/assets/img/branding/bg-orange-horizontal.png*/;}
.red #sec nav h3{background-image:url(../img/branding/bg-red-horizontal.png)/*tpa=http://www.nrg.com/assets/img/branding/bg-red-horizontal.png*/;}
.violet #sec nav h3{background-image:url(../img/branding/bg-violet-horizontal.png)/*tpa=http://www.nrg.com/assets/img/branding/bg-violet-horizontal.png*/;}
.yellow #sec nav h3{background-image:url(../img/branding/bg-yellow-horizontal.png)/*tpa=http://www.nrg.com/assets/img/branding/bg-yellow-horizontal.png*/;}
#sec h3.closeOpen{background-position:-1815px 5px;}
.ie #sec nav h3{background-position:-808px 4px;font-weight:normal;}
.ie #sec h3.closeOpen{background-position:-1808px 4px;}
#sec nav h3.link{background-image:none;padding:0;}
#sec h3 {font-size:100%;}
#sec h3 a{color:#000;display:block;text-decoration:none;padding:0 0 1px 0;}
#sec h3.link a{color:#009ddb;}
#sec h3.link a:hover,
#sec h3.link a.on{color:#fff;background-color:#00aeef;padding: 0 0 1px 4px;}
#sec nav ul{display:block;float:left;height:1px;position:absolute;left:-99999px;width:1px;overflow:hidden;margin:0;padding:0;}
#sec nav ul.expand,
#sec nav ul ul{float:none;height:auto;position:static;left:auto;width:auto;overflow:auto;}
#sec nav li{background-image:none;font-size:90%;padding:0;margin-bottom:0;}
#sec nav li a{display:block;margin:0 0 6px 0;padding:0 0 0 4px;text-decoration:none;}
#sec nav li a:hover,#sec nav li a.on{background-color:#00aeef;color:#fff;}
.black #sec nav li a:hover,.black #sec nav li a.on{background-color:#231f20;}		
.green #sec nav li a:hover,.green #sec nav li a.on{background-color:#439539;}		
.magenta #sec nav li a:hover,.magenta #sec nav li a.on{background-color:#ec00b2}		
.orange #sec nav li a:hover,.orange #sec nav li a.on{background-color:#ff4800;}	
.red #sec nav li a:hover,.red #sec nav li a.on{background-color:#ef3e42;}			
.violet #sec nav li a:hover,.violet #sec nav li a.on{background-color:#333082;}		
.yellow #sec nav li a:hover,.yellow #sec nav li a.on{background-color:#ffd200;}
#sec nav li li a{padding-left:18px;}
#sec .promo{background:none repeat scroll 0 0 padding-box #fff;border:3px solid rgba(255, 255, 255, 0.5);box-shadow:8px 7px 13px -10px rgba(0, 0, 0, 0.4);border-top-left-radius:50px;border-bottom-right-radius:50px;margin:0 0 40px 0;padding:15px 17px;width:196px;}
.ie #sec .promo{background-color:#fff;border:3px solid #f8f5f1;width:192px;}
	.lander #sec .promo{border: 1px solid #ccc;box-shadow:none;border-radius:0;border-bottom-right-radius: 25px;margin:0 0 24px 0;padding: 15px 17px 4px 15px;width:auto;}
#sec .promo h1,#sec .promo h2{font-family:'Effra W01 Regular', Arial, Helvetica,sans-serif;font-size:122%;margin:3px 2px 8px;padding-bottom:7px;}
#sec .black h2{border-bottom:2px solid #231f20;}
#sec .green h2{border-bottom:2px solid #439539;}		
#sec .magenta h2{border-bottom:2px solid #ec00b2;}
#sec .orange h2{border-bottom:2px solid #ff4800;}
#sec .red h2{border-bottom:2px solid #ef3e42;}
#sec .violet h2{border-bottom:2px solid #333082;}
#sec .yellow h2{border-bottom:2px solid #ffd200;}
#sec .promo p{font-size:15px;margin:0 0 20px 0;}
#sec .promo a{font-size:14px;text-decoration:none;}
#sec .promo a.more{color:#231F20;}
#sec .promo a:hover{text-decoration:underline;}
	.lander #sec .promo a.more{margin-bottom:20px}
	.lander #sec .promo h2{border:0;padding:0;}
	.lander #sec .promo h2{margin-left:0;}
	.lander #sec .promo p{font-size:100%;}
/* END Secondary Navigation */
iframe{border:none;display:block;margin:0 0 0 0;padding:0px;}
.ie #onecol.pad0 #pri .content article iframe{max-width:955px;}
.back-to-top{position:fixed;bottom:74px;right:2px;background:url(../img/branding/bg-mobile-sprite.png)/*tpa=http://www.nrg.com/assets/img/branding/bg-mobile-sprite.png*/ no-repeat 0 -86px scroll;display:none;height:40px;padding:0;text-indent:-9999px;width:40px;z-index:100}
/* Footer */
#ft{background-color:#e8e8e8;color:#666666;height:30px;padding-top:4px;}
#ft p, #ft ul li{font-size:11px;margin-bottom:0;}
#ft ul{margin:0 auto;width:700px;}
.es #ft ul{width:736px;}
#ft li{background:url(../img/branding/bg-pipe.gif)/*tpa=http://www.nrg.com/assets/img/branding/bg-pipe.gif*/ no-repeat 0 2px scroll;/*float:left;*/margin-left:12px;padding-left:12px; text-align:center;}
#ft li:first-child{background-image:none;margin-left:0;padding-left:0;}
#footerLinks{border-top:1px solid #fff;background-color:#fff;height:219px;overflow:hidden;min-width:960px;}
#appendixWrap{margin:0 auto;width:800px;}
.appendix{background:#fff;height:180px;padding:27px 0 0 20px;width:140px;}
.appendix h3{color:#666666;font-family:'Effra W01 Regular', Arial, Helvetica,sans-serif;font-size:14px;margin-bottom:0;text-shadow:0 0 1px rgba(0, 0, 0, 0.2);}
.appendix h3 a{text-decoration:none;}
.appendix h3 a:hover{text-decoration:underline;}
.appendix ul{list-style:none outside none;margin-left:0;margin-top:10px;padding-left:0;}
.appendix ul li{line-height:1.1em;margin:0;	}
.appendix ul li{font-size:11px;padding:2px 0;}
.appendix ul li a{color:#333092;text-decoration:none;}
.appendix ul li a:hover{text-decoration:underline;}
/* END Footer */
/* Hide Mobile */
input.hidden,
#navmobile,
.mobile,.phone,.phablet{display:none;}
h1.mobile,h2.mobile,p.mobile,
h1.phablet,h2.phablet,p.phablet,
h1.phone,h2.phone,p.phone{display:block;float:left;height:1px;position:absolute;left:-99999px;width:1px;overflow:hidden;}
/* END Hide Mobile */
/* END Theme */
/* Clearfix */
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
/* Clearfix for IEs */
.clearfix{zoom:1;}
/* END Clearfix */
/*---!!!! TURN OFF RESPONSIVE BY DELETING THE CSS BELOW !!!!---*/
@media screen and (max-width:959px){
.desktop{display:none!important;}
.tablet{display:block!important;}
.mobile{display:block;}
h1.mobile,h2.mobile,p.mobile{float:none;height:auto;position:relative;left:auto;width:auto;overflow:visible;}
html, body{background-image:none;background-color:#333333;/*height:auto;*/}
#pagewrap{background:#fff url(../img/branding/bg-mobile-pagewrap.png)/*tpa=http://www.nrg.com/assets/img/branding/bg-mobile-pagewrap.png*/ no-repeat -240px 0 scroll!important;width:auto;}
#pagewrap #wrap{width:auto;}
#wrap{float:none;margin:0;width:auto;padding:0;/*min-height:1px;*/}
#outer{float:none;margin:0;width:auto;padding:0;padding-bottom:122px;}
.lander #innerpagewrap{border:0;box-shadow:none;border-radius:0;margin:0;padding:0;width:auto;}
#inner{float:none;margin:0;width:auto;padding:0;}
#pri{float:none;margin:0;width:auto;padding:0;}
#sec{float:none;margin:0;width:auto;padding:0;}
.lander #sec{float:none;margin:0;width:auto;padding:0;}
#ter{float:none;margin:0;width:auto;padding:0;}
#ftwrap{margin:0;width:auto;margin-top:-122px;}
#globalnav,#nav{display:none;}
/* Masthead */
#masthead{background-color:#001603;background:linear-gradient(to bottom, #666666 0%, #000000 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);min-height:1px;height:52px;}
#navmobile{background:url(../img/branding/bg-mobile-sprite.png)/*tpa=http://www.nrg.com/assets/img/branding/bg-mobile-sprite.png*/ no-repeat 0 -136px scroll;display:block;float:left;height:52px;margin:0 0 0 20px;position:relative;width:30px;}
#navmobile label{cursor:pointer;display:block;height:52px;left:0;position:absolute;top:0;width:30px;z-index:100;text-indent:-9999px;}
.topclose{display:none;}
body.menumobile #pagewrap, 
#menuopen:checked ~ #pagewrap{background:#fff url(../img/branding/bg-mobile-pagewrap.png)/*tpa=http://www.nrg.com/assets/img/branding/bg-mobile-pagewrap.png*/ repeat-y 0 0 scroll!important;overflow-x:hidden;overflow-y:visible;}
body.menumobile #pagewrap #wrap #masthead, 
#menuopen:checked ~ #pagewrap #wrap #masthead{padding-left:240px;width:100%;overflow:hidden;}
body.menumobile #ftwrap, 
#menuopen:checked ~ #ftwrap{margin-left:240px;padding-left:20px;width:auto;overflow:hidden;}
body.menumobile #pagewrap #wrap #masthead #navmobile .topopen, 
#menuopen:checked ~ #pagewrap #wrap #masthead #navmobile .topopen{display:none;}
body.menumobile #pagewrap #wrap #masthead #navmobile .topclose, 
#menuopen:checked ~ #pagewrap #wrap #masthead #navmobile .topclose{display:block;}
body.menumobile #pagewrap #wrap #outer #innerpagewrap, 
#menuopen:checked ~ #pagewrap #wrap #outer #innerpagewrap{margin-left:240px;width:auto;overflow:hidden;}
body.menumobile #pagewrap #wrap #outer #innerpagewrap #inner, 
#menuopen:checked ~ #pagewrap #wrap #outer #innerpagewrap #inner,
body.menumobile #ftwrap #ft, 
#menuopen:checked ~ #ftwrap #ft,
body.menumobile #ftwrap #footerLinks,
#menuopen:checked ~ #ftwrap #footerLinks{width:800px;}
body.menumobile #pagewrap #wrap #nav , 
#menuopen:checked ~ #pagewrap #wrap #nav{display:block;}
#menuopen:checked ~ #pagewrap #wrap #outer #innerpagewrap #inner #pri .content article .clearfix .float40 img{ width:90%; height:auto; max-width:220px;}
#sec-navmobile{background:url(../img/branding/bg-mobile-sprite.png)/*tpa=http://www.nrg.com/assets/img/branding/bg-mobile-sprite.png*/ no-repeat -151px -140px scroll;display:block;float:right;height:50px;margin:0 20px 0 0;position:relative;width:30px;}
#sec-navmobile a{display:block;height:50px;width:30px;text-indent:-9999px;}
/* Top Logo */
#logo{background-image:none;background-color:transparent;border-bottom-right-radius:0;border:0 solid rgba(255, 255, 255, 0.5);box-shadow:none;height:auto;margin-left:64px;position:static;top:auto;left:auto;width:auto;z-index:1;}
.header-light{background-color:transparent;border:0;box-shadow:none;margin-bottom:0;width:auto;}
.header-light #logo{margin-left:26px; width:auto;}
#logo ul{padding:0;}
#logo ul li{background:url(../img/branding/bg-mobile-sprite.png)/*tpa=http://www.nrg.com/assets/img/branding/bg-mobile-sprite.png*/ no-repeat 0 -425px scroll;background-size:120%;float:none;height:50px;width:76px;}
#logo a{height:50px;width:76px;}
/* END Top Logo */
/* END Masthead */
/* Navigation */
#nav{position:absolute;top:52px;left:0;padding:0;height:auto;width:240px;}
#nav .nav-menu{background-image:none;background-color:transparent;box-shadow:0 0 0 0;border:0 solid #00abef;border-bottom-width:1px;height:auto;max-width:240px;}
.nav-menu ul{background-image:none;background-color:transparent;width:auto;height:auto;padding:0;}
.nav-menu > ul{float:none;}
.nav-menu > ul > li{float:none;background-image:none;background-color:transparent;}
#nav .nav-menu > ul li:first-child{}
.nav-menu > ul > li > a{color:#333333;line-height:normal;text-decoration:none;padding:9px 10px 10px 34px;font-size:14px;}
.nav-menu > ul > li > ul{display:none;padding:0;width:auto;position:static;top:auto;left:auto;height:auto;background-image:none;background-color:transparent;opacity:1;}
.nav-menu > ul > li > ul > li{float:none;}
.nav-menu > ul > li > ul > li > a{color:#fff;padding:10px 10px 10px 34px;}
.nav-menu > ul > li > ul > li.on > a,
.nav-menu > ul > li > ul > li > a:hover{background-color:#009DDB;color:#fff;font-family:'Effra W01 Regular', Arial, Helvetica, sans-serif;text-decoration:none;}
.nav-menu ul li:hover{direction:ltr;}
.nav-menu > ul > li:hover > ul{left:auto;}
.nav-menu > ul > li.current > ul{left:auto;}
.nav-menu > ul:hover > li.current:hover > ul{left:auto;}
.nav-menu > ul > li.current > a,
.nav-menu > ul:hover > li:hover.current > a,
.nav-menu > ul > li:hover > a{background-image:none;background-color:#666666;}
.nav-menu h3{background-color:#001603;background:linear-gradient(#333333, #141414) repeat scroll 0 0 #001603;margin:0;padding:0;}
.nav-menu h3 span{background:url(../img/branding/bg-mobile-sprite.png)/*tpa=http://www.nrg.com/assets/img/branding/bg-mobile-sprite.png*/ no-repeat 12px -200px scroll;border-top:1px solid #00abef;color:#fff;cursor:pointer;display:block;font-family:'Effra W01 Regular',Arial,Helvetica,sans-serif;line-height:40px;padding:0 10px 0 34px;font-size:14px;}
.nav-menu ul li a{border:0 solid #00abef;border-top-width:1px;}
/*.nav-menu > ul > li.closeOpen > a.active{background-color:#666666;}*/
.nav-menu li.closeOpen h3 span{background:url(../img/branding/bg-mobile-sprite.png)/*tpa=http://www.nrg.com/assets/img/branding/bg-mobile-sprite.png*/ no-repeat 12px -240px scroll;}
.nav-menu > ul > li > a{color:#fff;display:none;}
.nav-menu > ul > li.mobile a.mobile,
.nav-menu > ul > li.block > a{display:block;background:#333333!important;}
.nav-menu > ul > li.block > a{padding:12px 10px 11px 34px;}
.nav-menu > ul > li > a:after{content:"";}
.nav-menu > ul > li.mobile > a.mobile:after,
.nav-menu > ul > li.block > a:after{content:"";}
.nav-menu > ul > li.closeOpen a,
.nav-menu ul li.closeOpen ul{display:block;}
.nav-menu ul li.closeOpen a{background-color:#666666;font-family:'Effra W01 Regular',Arial,Helvetica,sans-serif;}
.nav-menu ul li.closeOpen a.on:hover,
.nav-menu ul li.closeOpen a.on,
.nav-menu > ul:hover > li:hover.current > a:hover,
.nav-menu > ul:hover > li:hover > a:hover{background-color:#009DDB;}
.nav-menu ul li.block.current a{background-color:#009DDB!important;}
.nav-menu ul li.closeOpen li a{border:0 solid #4a4a4a;border-top-width:1px;}
/* END Navigation */
/* Artical */
#pri .content,
.lander #pri .content{border:0;border-bottom-right-radius:0;margin-bottom:0;max-width:959px;padding: 30px 31px 40px 24px}
#onecol #pri .content,
#onecol.pad #pri .content,
#onecol.pad0 #pri .content{box-shadow:0 0 0 rgba(0, 0, 0, 0.25);width:auto;}
#pri article{overflow:hidden;}
#shareThis .chicklets{background-position:0 -590px;height:32px;width:32px;}
#shareThis .st_twitter .chicklets{background-position:-32px -590px;}
#shareThis .st_linkedin .chicklets{background-position:-64px -590px;}
#shareThis .st_googleplus .chicklets{background-position:-96px -590px;}
#shareThis .st_email .chicklets{background-position:-128px -590px;}
#shareThis .text{padding-top:8px;}
/* Secondary Navigation */
#sec nav{padding:13px 17px 0 17px;width:auto;}
#sec nav,  x:-moz-any-link, x:default {width:auto;}
#sec .aside-wrap {padding:0 0 20px 0;}
#sec aside{border-top:1px solid #fff;padding:0;margin-top:0;}
#sec .aside-wrap aside:first-child{border-top:0 solid #C7C7C7;padding:0;margin-top:0;}
#sec h2{border-bottom:0 solid #00aeef!important;font-size:107%;margin-bottom:12px;padding-bottom:0;display:inline-block}
#sec nav h3,
.black #sec nav h3,
.green #sec nav h3,
.magenta #sec nav h3,
.orange #sec nav h3,
.red #sec nav h3,
.violet #sec nav h3,
.yellow #sec nav h3{background:#009ddb url(../img/branding/bg-mobile-sprite.png)/*tpa=http://www.nrg.com/assets/img/branding/bg-mobile-sprite.png*/ no-repeat right -486px scroll;color:#fff;padding:10px 20px;}
#sec h3.closeOpen{background:#009ddb;}
#sec h3.collapsed{}
#sec h3 a{color:#fff;text-decoration:none;}
#sec h3.link a{background:#009ddb url(../img/branding/bg-mobile-sprite.png)/*tpa=http://www.nrg.com/assets/img/branding/bg-mobile-sprite.png*/ no-repeat right -1172px scroll;color:#fff;padding:10px 20px;}
#sec h3.link a:hover,
#sec h3.link a.on{background-color:#ec00b2;background-image:none;padding:10px 20px;}
#sec nav ul {}
#sec nav li{font-size:90%;padding:0;}
#sec nav li li{padding:0;}
#sec nav li a{background-color:#999;border-top:1px solid #fff;display:block;color:#fff;margin:0;padding:10px 0 10px 20px;text-decoration:none;}
#sec nav li a.on{background-color:#ec00b2;}
#sec nav li a:hover,
.black #sec nav li a:hover,		
.green #sec nav li a:hover,		
.magenta #sec nav li a:hover,
.orange #sec nav li a:hover,
.red #sec nav li a:hover,	
.violet #sec nav li a:hover,		
.yellow #sec nav li a:hover{background-color:#c7c7c7;color:#000;}
#sec nav li li a{padding:10px 0 10px 50px;}
#sec .promo{display:none;}
#sec img{display:none;}
/* END Secondary Navigation */
/* Footer */
#ftwrap{background-color:#001603;background:linear-gradient(to bottom, #666666 0%, #000000 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);border-top:2px solid #999;height:110px;padding:10px 20px 0 20px;position:relative;}
#ftwrap #ft, #footerLinks{background-image:none;font-size:10px;padding:0;width:auto;}
#ftwrap #ft{background-color:transparent;color:#fff;height:auto;position:absolute;bottom:4px;}
#ft ul,
.es #ft ul{margin:0 auto;border-top:0 solid #666666;width:auto;}
#ft ul li{background-image:none;border:0 solid #fff;font-size:9px;margin:0 0 2px 0;padding:0;text-align:left;width:auto;word-spacing:-1px;}
#ft li:first-child{padding-right:2px;width:300px;}
/*#ft ul li:nth-child(odd) a{border-right:1px solid #666666;}*/
#footerLinks{border-top:0 solid #e0dfdf;background-color:transparent;height:auto;overflow:visible;margin:0 auto;min-width:1px;}
#appendixWrap{width:100%;margin:0;}
.appendix{background-color:transparent;height:auto;margin:0 0 0 0;padding:0 0 0 0;width:20%;text-align:center;}
#appendixWrap .appendix:first-child{border-left-width:0;padding:0;text-align:left;}
.appendix.right{padding:0;margin:0;text-align:right;}
.appendix h3,
.appendix h3 a{color:#fff;font-family:Arial, Helvetica, sans-serif;font-size:11px;line-height:1.1em;}
.appendix ul{border-right:1px solid #cfcfcf;list-style:none outside none;margin-left:0;margin-top:0;padding-left:0;}
.appendix.right ul{border-right-width:0;}
.appendix ul li{margin:0;}
.appendix ul li a{color:#fff;text-decoration:none;/*font-size:13px;*/margin:0;}
#appendixWrap .appendix:first-child li a{margin:0}
.appendix ul li a:hover{text-decoration:underline;}
.call-us {visibility:hidden;display:block;background:#00aaf2;border:1px solid #00aaf2;border-radius:8px;color:#fff;display:block;font-weight:bold;font-size:13px;line-height:31px;padding:0;text-decoration:none;margin:0 auto 10px auto;text-align:center;text-decoration:none;width:220px;}
.call-us strong{display:inline-block;background:url(../img/branding/bg-mobile-sprite.png)/*tpa=http://www.nrg.com/assets/img/branding/bg-mobile-sprite.png*/ no-repeat 0 -286px scroll;line-height:31px;padding-left:24px;}

#ftwrap hr{color:#5b5b5b;height:1px;border:0;background-color:#5b5b5b;margin:0 auto 18px auto;min-width:290px;}
.appendix.right .mobile{display:inline;}
/* END Footer */
}
@media (max-width:850px){
#onecol.pad #pri .content{padding:20px 40px 30px 40px;}
}
@media (max-width:800px){
#pri .content,
.lander #pri .content,
#onecol #pri .content,
#onecol.pad #pri .content,
#onecol.pad0 #pri .content{padding:20px 20px 30px 20px;}
}
@media (max-width:767px){
#navmobile{margin:0 0 0 14px;}
#logo{margin-left:58px;}
.header-light #logo{margin-left:14px;}
#pri .content,
.lander #pri .content,
#onecol #pri .content,
#onecol.pad #pri .content,
#onecol.pad0 #pri .content{padding:10px 10px 20px 10px;}
#ftwrap{padding:10px 10px 0 10px;}
#sec nav{padding:13px 10px 0 10px;width:auto;}
body.menumobile #pagewrap #wrap #outer #innerpagewrap #inner, 
#menuopen:checked ~ #pagewrap #wrap #outer #innerpagewrap #inner,
body.menumobile #ftwrap #ft, 
#menuopen:checked ~ #ftwrap #ft,
body.menumobile #ftwrap #footerLinks,
#menuopen:checked ~ #ftwrap #footerLinks{width:527px;}
}
@media screen and (max-width:699px){
.tablet{display:none!important;}
}
@media (max-width:699px){
.phablet{display:block!important;}
h1.phablet,h2.phablet,p.phablet{float:none;height:auto;position:relative;left:auto;width:auto;overflow:visible;}
}
@media (max-width:599px){
.call-us{visibility:hidden;}
}
@media (max-width:480px){
.phone{display:block!important;}
h1.phone,h2.phone,p.phone{float:none;height:auto;position:relative;left:auto;width:auto;overflow:visible;}
.appendix.alignCenter{text-align:left;}	
}
@media (max-width:400px){
body.menumobile #pagewrap #wrap #outer #innerpagewrap #inner, 
#menuopen:checked ~ #pagewrap #wrap #outer #innerpagewrap #inner,
body.menumobile #ftwrap #ft, 
#menuopen:checked ~ #ftwrap #ft,
body.menumobile #ftwrap #footerLinks,
#menuopen:checked ~ #ftwrap #footerLinks{width:320px;}
}
/* Smaller than Galaxy S4 portrait */
@media (max-width:359px){
}
@media (max-width:320px){
#ft ul li{float:none;}
}