/* Publishing Content Editing Styles */
.editor-controls-mn {
	width: 700px;
	float: right;
}

/* Site actions styles */
table.ms-siteaction {
	float: right;
	clear: both;
}
.ms-siteaction {
	FONT: bold 8pt tahoma; COLOR: #666666; TEXT-DECORATION: none
}
.ms-siteaction A {
	FONT: bold 8pt tahoma; COLOR: #666666; TEXT-DECORATION: none
}
TABLE.ms-siteaction TD.ms-siteaction {
	BORDER-RIGHT: #bfbfbf 1px solid
}
TABLE.ms-siteaction TD.ms-siteaction DIV {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; BORDER-RIGHT: #ffffff 1px solid; PADDING-TOP: 3px
}
.ms-siteactionsmenu {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; BORDER-RIGHT-STYLE: none; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT: 8pt tahoma; WHITE-SPACE: nowrap; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; CURSOR: pointer; PADDING-TOP: 0px
}
.ms-siteactionsmenu DIV DIV DIV {
	BACKGROUND-IMAGE: url(../../_layouts/images/siteactionsmenugrad.gif)/*tpa=http://www.monsanto.com/_layouts/images/siteactionsmenugrad.gif*/; BORDER-LEFT: #6593cf 1px solid; PADDING-BOTTOM: 3px; BACKGROUND-COLOR: #6593cf; PADDING-LEFT: 10px; PADDING-RIGHT: 4px; BACKGROUND-REPEAT: repeat-x; BORDER-TOP: #6593cf 1px solid; BORDER-RIGHT: #6593cf 1px solid; PADDING-TOP: 1px
}
.ms-siteactionsmenu DIV DIV DIV A {
	COLOR: #ffffff; FONT-WEIGHT: bold
}
.ms-siteactionsmenu DIV DIV DIV.ms-siteactionsmenuhover {
	BACKGROUND-IMAGE: url(../../_layouts/images/siteactionsmenuhovergrad.gif)/*tpa=http://www.monsanto.com/_layouts/images/siteactionsmenuhovergrad.gif*/; BORDER-LEFT: #89724f 1px solid; BACKGROUND-COLOR: #ffa521; BORDER-TOP: #89724f 1px solid; BORDER-RIGHT: #89724f 1px solid
}

@media Print    
{
	.ms-leftareacell {
		DISPLAY: none
	}
	.ms-globallinks {
		DISPLAY: none
	}
	.ms-siteaction {
		DISPLAY: none
	}
}



/* Console title area */
.ms-consoletitleareaframe {
	BACKGROUND-IMAGE: url(../../_layouts/images/pageTitleBKGD.gif)/*tpa=http://www.monsanto.com/_layouts/images/pageTitleBKGD.gif*/; TEXT-ALIGN: center; BACKGROUND-COLOR: #d6e8ff; BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: left top
}
.ms-consoletitleareaframe {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 7px
}
.ms-consoletitleareaframe {
	WIDTH: 8px
}
.ms-consoletitleareaframebottom {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #d6e8ff; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}




/* Console */
.ms-consolemptablerow {
	BACKGROUND-COLOR: #79a7e3
}
.ms-consolestatus {
	FONT-FAMILY: Tahoma,verdana; FONT-SIZE: 8pt
}
.ms-consoleerror {
	FONT-FAMILY: Tahoma,verdana; FONT-SIZE: 8pt
}
.ms-consolemessage {
	FONT-FAMILY: Tahoma,verdana; FONT-SIZE: 8pt
}
.ms-consoletoolbar {
	FONT-FAMILY: Tahoma,verdana; FONT-SIZE: 8pt
}
.ms-consoleframe {
	BORDER-BOTTOM: 1px solid; BORDER-LEFT: 0px solid; BORDER-TOP-STYLE: solid; BORDER-RIGHT: 0px solid
}
.ms-consolestatusframe {
	BORDER-BOTTOM: 1px solid; BORDER-LEFT: 0px solid; BORDER-TOP-STYLE: solid; BORDER-RIGHT: 0px solid
}
.ms-consolestatuscell {
	BACKGROUND-IMAGE: url(../../_layouts/images/pageTitleBKGD.gif)/*tpa=http://www.monsanto.com/_layouts/images/pageTitleBKGD.gif*/; TEXT-ALIGN: center; BACKGROUND-COLOR: #d5dced; BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: left top
}
.ms-consoleframe {
	BORDER-BOTTOM-COLOR: #83b0ec; BORDER-TOP-COLOR: #83b0ec; BORDER-TOP-WIDTH: 1px; BORDER-RIGHT-COLOR: #83b0ec; BORDER-LEFT-COLOR: #83b0ec
}
.ms-consolestatusframe {
	BORDER-BOTTOM-COLOR: #ffffff; BACKGROUND-COLOR: #f6fdfd; BORDER-TOP-COLOR: #ffffff; BACKGROUND-REPEAT: repeat-x; BORDER-TOP-WIDTH: 0px; BORDER-RIGHT-COLOR: #ffffff; BORDER-LEFT-COLOR: #ffffff
}
TD.ms-consolestatusmajorframe {
	BACKGROUND-REPEAT: repeat-x
}
TD.ms-consolestatusminorframe {
	BACKGROUND-REPEAT: repeat-x
}
TD.ms-consolestatuscheckoutframe {
	BACKGROUND-REPEAT: repeat-x
}
.ms-consolestatusmajorframe {
	BACKGROUND: url(../../_layouts/images/cnspgrdn.gif)/*tpa=http://www.monsanto.com/_layouts/images/cnspgrdn.gif*/
}
.ms-consolestatusminorframe {
	BACKGROUND: url(../../_layouts/images/cnsugrdn.gif)/*tpa=http://www.monsanto.com/_layouts/images/cnsugrdn.gif*/
}
.ms-consolestatuscheckoutframe {
	BACKGROUND: url(../../_layouts/images/cnsugrdn.gif)/*tpa=http://www.monsanto.com/_layouts/images/cnsugrdn.gif*/
}
.ms-consoleminiframe {
	BACKGROUND: url(../../_layouts/images/cnsugrdn.gif)/*tpa=http://www.monsanto.com/_layouts/images/cnsugrdn.gif*/
}
.ms-consoleminiframe {
	BACKGROUND-REPEAT: repeat-x; HEIGHT: 24px
}
.ms-consolestatusshadowframe {
	BACKGROUND: url(../../_layouts/images/cnsshdo.gif)/*tpa=http://www.monsanto.com/_layouts/images/cnsshdo.gif*/; HEIGHT: 4px
}
.ms-consolestatusshadowframeleft {
	WIDTH: 3px; BACKGROUND: url(../../_layouts/images/cnsshdol.gif)/*tpa=http://www.monsanto.com/_layouts/images/cnsshdol.gif*/; HEIGHT: 4px
}
.ms-consolestatusshadowframeright {
	WIDTH: 3px; BACKGROUND: url(../../_layouts/images/cnsshdor.gif)/*tpa=http://www.monsanto.com/_layouts/images/cnsshdor.gif*/; HEIGHT: 4px
}
.ms-consolemode {
	BACKGROUND-COLOR: #fff699; FONT-FAMILY: verdana; COLOR: #000000; FONT-SIZE: 8pt
}
.ms-consolestatus {
	PADDING-BOTTOM: 3px; FONT-FAMILY: verdana; COLOR: #666666; FONT-SIZE: 8pt; TEXT-DECORATION: none; PADDING-TOP: 3px
}
.ms-consolestatus A {
	FONT-FAMILY: Verdana,serif; COLOR: #3966bf; FONT-SIZE: 8pt; TEXT-DECORATION: none
}
.ms-consolestatus A:hover {
	FONT-FAMILY: Verdana,serif; COLOR: #3966bf; FONT-SIZE: 8pt; TEXT-DECORATION: underline
}
.ms-consolehr {
	BACKGROUND-COLOR: #cdcdcd; HEIGHT: 1px
}
.ms-consoleerror {
	COLOR: #ff0000; TEXT-DECORATION: none
}
.ms-consoleerror A {
	COLOR: #3966bf; TEXT-DECORATION: none
}
.ms-consoleerror A:hover {
	COLOR: #3966bf; TEXT-DECORATION: underline
}
.ms-consolemessage {
	COLOR: #204d89; TEXT-DECORATION: none
}
.ms-consolemessage A {
	TEXT-DECORATION: none
}
.ms-consolemessage A:hover {
	TEXT-DECORATION: underline
}
.ms-consoletoolbar {
	COLOR: #003399; TEXT-DECORATION: none
}
.ms-consoletoolbar A {
	TEXT-DECORATION: none
}
.ms-consoleqaback TD {
	BACKGROUND-IMAGE: url(../../_layouts/images/qarsgrd.gif)/*tpa=http://www.monsanto.com/_layouts/images/qarsgrd.gif*/; PADDING-LEFT: 3px; PADDING-RIGHT: 6px
}
.ms-consoleqabackhover TD {
	BACKGROUND-IMAGE: url(../../_layouts/images/qahvgrd.gif)/*tpa=http://www.monsanto.com/_layouts/images/qahvgrd.gif*/; PADDING-LEFT: 3px; PADDING-RIGHT: 6px
}
.ms-consoleqaemptyborderh {
	HEIGHT: 1px
}
.ms-consoleqaemptyborderv {
	WIDTH: 1px
}
.ms-consoleqaemptycorner {
	WIDTH: 1px; HEIGHT: 1px
}
.ms-consoleqaborderh {
	BACKGROUND-COLOR: #cad7e7
}
.ms-consoleqaborderv {
	BACKGROUND-COLOR: #cad7e7
}
.ms-consoleqacorner {
	BACKGROUND-COLOR: #cad7e7
}
.ms-consoleqaborderhhover {
	BACKGROUND-COLOR: #d2b47a
}
.ms-consoleqabordervhover {
	BACKGROUND-COLOR: #d2b47a
}
.ms-consoleqacornerhover {
	BACKGROUND-COLOR: #d2b47a
}
.ms-consoleqaborderh {
	HEIGHT: 1px
}
.ms-consoleqaborderv {
	WIDTH: 1px
}
.ms-consoleqacorner {
	WIDTH: 1px; HEIGHT: 1px
}
.ms-consoleqaborderhhover {
	HEIGHT: 1px
}
.ms-consoleqabordervhover {
	WIDTH: 1px
}
.ms-consoleqacornerhover {
	WIDTH: 1px; HEIGHT: 1px
}

.ms-separator {
	COLOR: #83b0ec; FONT-SIZE: 10pt
}
.ms-separator IMG {
	BORDER-BOTTOM: #f2f8ff 1px solid; MARGIN: 0px 1px; WIDTH: 1px; BACKGROUND: #9ac6ff; HEIGHT: 16px; BORDER-RIGHT: #f2f8ff 1px solid
}
.ms-authoringcontrols {
	BACKGROUND-COLOR: #ebf3ff; FONT-FAMILY: tahoma; COLOR: #525252; FONT-SIZE: 8pt
}
.ms-propertysheet TH.ms-authoringcontrols {
	TEXT-ALIGN: left; BACKGROUND-COLOR: #ebf3ff; FONT-FAMILY: tahoma; COLOR: #083772; FONT-SIZE: 8pt
}
.ms-SPLink {
	FONT-FAMILY: verdana; COLOR: #003399; FONT-SIZE: 8pt
}
.ms-SPLink A:link {
	COLOR: #2a4666; TEXT-DECORATION: none
}
.ms-SPLink A:visited {
	COLOR: #2a4666; TEXT-DECORATION: none
}
.ms-HoverCellInActive {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BACKGROUND-COLOR: transparent; MARGIN: 1px; BORDER-TOP-STYLE: none; COLOR: #4c4c4c; VERTICAL-ALIGN: top; BORDER-LEFT-STYLE: none
}


/* Pop up menu */
.ms-MenuUIPopupBody {
	BORDER-BOTTOM: #868686 1px solid; BORDER-LEFT: #868686 1px solid; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: #868686 1px solid; BORDER-RIGHT: #868686 1px solid; PADDING-TOP: 0px
}
.ms-MenuUIPopupBody TABLE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #003399; FONT-SIZE: 100%; PADDING-TOP: 0px
}
.ms-MenuUIPopupBody DIV {
	CURSOR: pointer
}
.ms-MenuUI {
	BACKGROUND-COLOR: #fafafa; BACKGROUND-REPEAT: repeat-y; CURSOR: pointer
}
.ms-MenuUILarge {
	BACKGROUND-COLOR: #fafafa; BACKGROUND-REPEAT: repeat-y; CURSOR: pointer
}
.ms-MenuUIRtL {
	BACKGROUND-COLOR: #fafafa; BACKGROUND-REPEAT: repeat-y; CURSOR: pointer
}
.ms-MenuUILargeRtL {
	BACKGROUND-COLOR: #fafafa; BACKGROUND-REPEAT: repeat-y; CURSOR: pointer
}
.ms-MenuUI {
	BACKGROUND-POSITION: left 50%
}
.ms-MenuUILarge {
	BACKGROUND-POSITION: left 50%
}
.ms-MenuUIRtL {
	BACKGROUND-POSITION: right 50%
}
.ms-MenuUILargeRtL {
	BACKGROUND-POSITION: right 50%
}
.ms-MenuUI {
	BACKGROUND-IMAGE: url(../../_layouts/images/MGrad.gif)/*tpa=http://www.monsanto.com/_layouts/images/MGrad.gif*/
}
.ms-MenuUILarge {
	BACKGROUND-IMAGE: url(../../_layouts/images/MGradLarge.gif)/*tpa=http://www.monsanto.com/_layouts/images/MGradLarge.gif*/; WIDTH: 250px
}
.ms-MenuUIRtL {
	BACKGROUND-IMAGE: url(../../_layouts/images/MGradRtl.gif)/*tpa=http://www.monsanto.com/_layouts/images/MGradRtl.gif*/
}
.ms-MenuUILargeRtL {
	BACKGROUND-IMAGE: url(../../_layouts/images/MGradLargeRtl.gif)/*tpa=http://www.monsanto.com/_layouts/images/MGradLargeRtl.gif*/; WIDTH: 250px
}
.ms-MenuUIDisabled SPAN {
	COLOR: #888888
}
.ms-MenuUIItemTableCell {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; FONT-FAMILY: tahoma; COLOR: #003399; FONT-SIZE: 8pt; TEXT-DECORATION: none; PADDING-TOP: 2px
}
.ms-MenuUIItemTableCellCompact {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; FONT-FAMILY: tahoma; COLOR: #003399; FONT-SIZE: 8pt; TEXT-DECORATION: none; PADDING-TOP: 2px
}
.ms-MenuUIItemTableCellCompact {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 1px
}
.ms-MenuUIItemTableCell A {
	COLOR: #003399; TEXT-DECORATION: none
}
.ms-MenuUIItemTableCellHover A {
	COLOR: #003399; TEXT-DECORATION: none
}
.ms-MenuUIItemTableCellCompact A {
	COLOR: #003399; TEXT-DECORATION: none
}
.ms-MenuUIItemTableCellCompactHover A {
	COLOR: #003399; TEXT-DECORATION: none
}
.ms-menuitemdescription {
	COLOR: #666666
}
.ms-MenuUIItemTableCellHover {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; FONT-FAMILY: tahoma; COLOR: #003399; FONT-SIZE: 8pt; TEXT-DECORATION: none; PADDING-TOP: 1px
}
.ms-MenuUIItemTableCellCompactHover {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; FONT-FAMILY: tahoma; COLOR: #003399; FONT-SIZE: 8pt; TEXT-DECORATION: none; PADDING-TOP: 1px
}
.ms-MenuUIItemTableCellCompactHover {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; PADDING-TOP: 0px
}
.ms-MenuUIItemTableHover {
	BORDER-BOTTOM: #d2b47a 1px solid; BORDER-LEFT: #d2b47a 1px solid; BACKGROUND-COLOR: #ffe6a0; BORDER-TOP: #d2b47a 1px solid; BORDER-RIGHT: #d2b47a 1px solid
}
.ms-MenuUIItemTableHover .ms-menuitemdescription {
	COLOR: #333333
}
.ms-MenuUIIcon {
	WIDTH: 24px; HEIGHT: 16px
}
.ms-MenuUIIconRtL {
	WIDTH: 24px; HEIGHT: 16px
}
.ms-MenuUIIconLarge {
	WIDTH: 40px; HEIGHT: 16px
}
.ms-MenuUIIconLargeRtl {
	WIDTH: 40px; HEIGHT: 16px
}
.ms-MenuUIIcon {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 2px; PADDING-RIGHT: 6px; PADDING-TOP: 0px
}
.ms-MenuUIIconLarge {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 2px; PADDING-RIGHT: 6px; PADDING-TOP: 0px
}
.ms-MenuUIIconRtL {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 6px; PADDING-RIGHT: 2px; PADDING-TOP: 0px
}
.ms-MenuUIIconLargeRtl {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 6px; PADDING-RIGHT: 2px; PADDING-TOP: 0px
}
.ms-MenuUILabel {
	WIDTH: 100%
}
.ms-MenuUILabelRtL {
	WIDTH: 100%
}
.ms-menuuilabelcompact {
	WIDTH: 100%
}
.ms-menuuilabelcompactRtl {
	WIDTH: 100%
}
.ms-MenuUILabel {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 6px; PADDING-RIGHT: 0px; PADDING-TOP: 2px
}
.ms-MenuUILabelRtL {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 0px; PADDING-RIGHT: 6px; PADDING-TOP: 2px
}
.ms-menuuilabelcompact {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 7px; PADDING-RIGHT: 0px; PADDING-TOP: 1px
}
.ms-menuuilabelcompactRtl {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 0px; PADDING-RIGHT: 7px; PADDING-TOP: 1px
}
.ms-MenuUISubmenuArrow {
	WIDTH: 16px; HEIGHT: 16px
}
.ms-MenuUISeparator {
	LINE-HEIGHT: 1px; BACKGROUND-COLOR: #c5c5c5; HEIGHT: 1px; FONT-SIZE: 1px
}
.ms-MenuUISeparatorRtL {
	LINE-HEIGHT: 1px; BACKGROUND-COLOR: #c5c5c5; HEIGHT: 1px; FONT-SIZE: 1px
}
.ms-MenuUISeparatorLarge {
	LINE-HEIGHT: 1px; BACKGROUND-COLOR: #c5c5c5; HEIGHT: 1px; FONT-SIZE: 1px
}
.ms-MenuUISeparatorLargeRtl {
	LINE-HEIGHT: 1px; BACKGROUND-COLOR: #c5c5c5; HEIGHT: 1px; FONT-SIZE: 1px
}
.ms-MenuUISeparator {
	MARGIN: 0px 0px 0px 32px
}
.ms-MenuUISeparatorRtL {
	MARGIN: 0px 32px 0px 0px
}
.ms-MenuUISeparatorLarge {
	MARGIN: 0px 0px 0px 48px
}
.ms-MenuUISeparatorLargeRtl {
	MARGIN: 0px 48px 0px 0px
}
.ms-MenuUICheckMark {
	BACKGROUND-IMAGE: url(../../_layouts/images/ChkMrk.gif)/*tpa=http://www.monsanto.com/_layouts/images/ChkMrk.gif*/
}
.ms-MenuUIItemTableCellDisabled {
	COLOR: #999999
}