/* ------------------------------------------------------------
    Title:     Monsanto.com CSS
    Author:    Greg Maloney | greg.maloney@monsanto.com
			   Hilarie Jezik | hejezi@monsanto.com
    Section:   Core (all pages)
	Updated:   April 21, 2011
--------------------------------------------------------------- */


/* PAGE STRUCTURE
--------------------------------------------------------------- */

body {
	margin: 3px 0 0 0;
	padding: 0;
	font-family: Arial, Helvetica, Tahoma, Geneva, sans-serif;
	font-size: 1em;
	background-color: #f0eddf;
	background-image: url(../images/bg1.jpg)/*tpa=http://www.monsanto.com/style library/images/bg1.jpg*/;
	background-repeat: repeat-x;
}
.wrapper1-mn {
	width: 960px;
	margin: 0 auto;
	padding: 0 15px;
}
.content-bottom-mn {
	height: 7px;
	width: 960px;
	float: left;
	margin: 0 0 18px 0;
	background-image: url(../images/content-bottom.png)/*tpa=http://www.monsanto.com/style library/images/content-bottom.png*/;
	background-repeat: no-repeat;
	background-position: bottom;
}
.content-wrapper-mn {
	float: left;
	width: 950px;
	padding: 0 5px;
	margin: 0;
	background-image: url(../images/content-bg.png)/*tpa=http://www.monsanto.com/style library/images/content-bg.png*/;
	background-repeat: repeat-y;
}
.content-frame-mn {
	float: left;
	padding: 10px;
	margin: 0;
	width: 930px;
}


/* HEADER
--------------------------------------------------------------- */

.header-mn {
	float: left;
	background-image: url(../images/nav-shadow.png)/*tpa=http://www.monsanto.com/style library/images/nav-shadow.png*/;
	background-repeat: no-repeat;
	background-position: center bottom;
	width: 960px;
	}
.logo-mn {
	width: 200px;
	height: 67px;
	margin: 10px 0 8px 30px;
	float: left;
}


/* TOP/UTILITY NAV
--------------------------------------------------------------- */

.utility-bar-mn {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	color: #968974;
	margin: 0 6px 3px 0;
	padding: 0;
	float: right;
}
#top-nav-mn li {
	margin: 0 13px 0 0;
	padding: 4px 13px 0 0;
	float: left;
	position: relative;
	list-style-type: none;
	background-image: url(../images/pipe1.png)/*tpa=http://www.monsanto.com/style library/images/pipe1.png*/;
	background-repeat: no-repeat;
	background-position: right 6px;
}
#top-nav-mn li a {
	text-decoration: none;
	font-family: Tahoma, Geneva, sans-serif;
	color: #1b1208;
	font-size: 1.2em;
}
#top-nav-mn a:link, #top-nav-mn a:visited, #top-nav-mn a:active {
	color: #716958;
	text-decoration: none;
}
#top-nav-mn a:hover {
	color: #1b1208;
	text-decoration: underline;
}
#top-nav-mn li.select-country-mn {
	background-image: none;
	padding-right: 0;
}
#top-nav-mn li.search-box-mn {
	margin: 0;
	padding: 0;
}
.search-box-mn input.search-text {
	border: 0;
	background-image: url(../images/search-box2.png)/*tpa=http://www.monsanto.com/style library/images/search-box2.png*/;
	background-repeat: no-repeat;
	padding: 5px 5px 0 23px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	color: #A09D8B;
	background-position: 0 0;
	height: 19px;
	float: left;
}
.search-box-mn input.search-btn {
	border: 0;
	background-image: url(../images/go-btn2.png)/*tpa=http://www.monsanto.com/style library/images/go-btn2.png*/;
	background-repeat: no-repeat;
	height: 24px;
	width: 29px;
	background-position: 0 0;
	float: left;
}



/* BREADCRUMBS
--------------------------------------------------------------- */

#breadcrumbs-mn {
	width: 100%;
	height: 24px;
	padding: 0;
	margin: 3px 0 10px 0;
	border-bottom: 1px solid #f0ede6;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 0.7em;
	color: #BBBBBB;
	text-indent: 5px;
	list-style-type: none;
}
#breadcrumbs-mn span {
	padding: 0;
	margin: 0 1px;
}
#breadcrumbs-mn a {
	color: #8d8a72;
	text-decoration: underline;
}
#breadcrumbs-mn a:hover {
	color: #c55205;
	text-decoration: underline;
}



/* COLUMNS
--------------------------------------------------------------- */

.column1-mn {
	float: left;
	width: 775px;
	margin: 0 0 50px 0;
}
.column2-mn {
	float: left;
	width: 585px;
	margin: 0 10px 50px 0;
}
.column3-mn {
	width: 180px;
	margin: 0;
	float: right;
}
.column4-mn {
	float: left;
	width: 775px;
	margin: 0 0 10px 0;
}
.column5-mn {
	float: left;
	width: 270px;
	margin: 15px 20px 30px 0;
}
.column6-mn {
	float: left;
	width: 270px;
	margin: 15px 0 30px;
}
.column7-mn {
	float: left;
	width: 238px;
	margin: 15px 20px 30px 0;
}
.column8-mn {
	float: left;
	width: 238px;
	margin: 15px 0 30px 0;
}
.column9-mn {
	float: left;
	width: 930px;
	margin: 0;
}
.column10-mn {
	float: left;
	width: 740px;
	margin: 0 10px 50px 0;
}


/* VIEWPOINTS
--------------------------------------------------------------- */

#viewpoints-1 {
	width: 775px;
	float: left;
	margin: 0;
	padding: 0;
	background-image: url(../../sitecollectionimages/issuesandanswerthumbnails/vp-landing-banner-1-1.jpg)/*tpa=http://www.monsanto.com/SiteCollectionImages/IssuesandAnswerThumbnails/vp-landing-banner-1.jpg*/;
	background-repeat: no-repeat;
}
#viewpoints-2 {
	width: 775px;
	float: left;
	margin: 0;
	padding: 0;
	background-image: url(../../sitecollectionimages/issuesandanswerthumbnails/monsanto-company-viewpoints-landing-1.jpg)/*tpa=http://www.monsanto.com/SiteCollectionImages/IssuesandAnswerThumbnails/monsanto-company-viewpoints-landing.jpg*/;
	background-repeat: no-repeat;
}
#viewpoints-3 {
	width: 775px;
	float: left;
	margin: 0;
	padding: 0;
	background-image: url(../../sitecollectionimages/issuesandanswerthumbnails/science-and-innovation-in-agriculture-landing-1.jpg)/*tpa=http://www.monsanto.com/SiteCollectionImages/IssuesandAnswerThumbnails/science-and-innovation-in-agriculture-landing.jpg*/;
	background-repeat: no-repeat;
}
#viewpoints-4 {
	width: 775px;
	float: left;
	margin: 0;
	padding: 0;
	background-image: url(../../sitecollectionimages/issuesandanswerthumbnails/sustainability-and-environment-landing-1.jpg)/*tpa=http://www.monsanto.com/SiteCollectionImages/IssuesandAnswerThumbnails/sustainability-and-environment-landing.jpg*/;
	background-repeat: no-repeat;
}
#viewpoints-5 {
	width: 775px;
	float: left;
	margin: 0;
	padding: 0;
	background-image: url(../../sitecollectionimages/issuesandanswerthumbnails/product-and-food-safety-landing-1.jpg)/*tpa=http://www.monsanto.com/SiteCollectionImages/IssuesandAnswerThumbnails/product-and-food-safety-landing.jpg*/;
	background-repeat: no-repeat;
}
#viewpoints-6 {
	width: 775px;
	float: left;
	margin: 0;
	padding: 0;
	background-image: url(../../sitecollectionimages/issuesandanswerthumbnails/shared-interests-in-agriculture-landing-1.jpg)/*tpa=http://www.monsanto.com/SiteCollectionImages/IssuesandAnswerThumbnails/shared-interests-in-agriculture-landing.jpg*/;
	background-repeat: no-repeat;
}
#viewpoints-7 {
	width: 775px;
	float: left;
	margin: 0;
	padding: 0;
	background-image: url(../../sitecollectionimages/issuesandanswerthumbnails/myths-landing-1.jpg)/*tpa=http://www.monsanto.com/SiteCollectionImages/IssuesandAnswerThumbnails/myths-landing.jpg*/;
	background-repeat: no-repeat;
}
.vp-banner-1 {
	padding: 35px 80px 20px 27px;
	float: left;
}

.vp-banner-1 p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #666666;
	line-height: 19px;
	padding: 15px 0;
	margin: 0;
}
.vp-col-1 {
	width: 500px;
	padding: 10px;
	float: left;
}
.vp-col-2 {
	width: 245px;
	padding: 330px 10px 10px 0;
	float: left;
}
.vp-col-3 {
	width: 245px;
	padding: 285px 10px 10px 0;
	float: left;
}
.vp-banner-1 h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #333333;
	line-height: 18px;
	padding: 0;
	margin: 0;
}
.vp-category, .vp-callout, .vp-feature {
	padding: 15px;
	margin-bottom: 10px;
	background-color: #eeebe4;
	background-color:rgba(238, 235, 228, 0.8);
	border-top: 2px solid #e1ded2;
	float: left;
}
.vp-feature {
	width: 470px;
}
.vp-category {
	width: 470px;
}
.vp-callout {
	width: 215px;
}
.vp-category img {
	float: left;
	margin-right: 15px;
}
.vp-category h3, .vp-callout h3, .vp-feature h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #333333;
	line-height: 20px;
	padding: 0;
	margin: 0;
}
.vp-feature h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #c45c09;
	padding: 0;
	margin: 0 0 4px 0;
}
.vp-category p, .vp-callout p, .vp-callout li, .vp-callout ol {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #555555;
	line-height: 14px;
	padding: 8px 0 0 0;
	margin: 0;
}
.vp-feature p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #555555;
	line-height: 17px;
	padding: 8px 0 0 0;
	margin: 0;
}
.vp-feature .img-left {
	float: left;
	margin-right: 15px;
	margin-bottom: 10px;
}
.vp-feature .img-right {
	float: right;
	margin-left: 15px;
	margin-bottom: 10px;
}
p.vp-links {
	font-size: 12px;
	margin-bottom: 5px;
}
.vp-btn {
	font-size: 11px;
	padding: 6px 15px;
	margin: 12px 0 5px 0;
	text-transform: uppercase;
	background-color: #6c695d;
	text-decoration: none;
	color: #FFF;
	font-weight: bold;
	float: left;
}
.vp-callout ul {
	margin: 0 0 0 13px;
	padding: 0;
	list-style-type: square;
}
.vp-callout ol {
	margin: 0 0 0 16px;
	padding: 0;
}



/* IMPROVE AG
--------------------------------------------------------------- */


#ia-1 {
	width: 775px;
	float: left;
	margin: 0;
	padding: 0;
	background-image: url(../../sitecollectionimages/improve-ag-sustainable-logo-background-1.jpg)/*tpa=http://www.monsanto.com/SiteCollectionImages/improve-ag-sustainable-logo-background.jpg*/;
	background-repeat: no-repeat;
}

#ia-1 .banner-1 {
	padding: 50px 360px 50px 40px;
	float: left;
	position: relative;
}

#ia-1 .banner-1 p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #666666;
	line-height: 19px;
	padding: 10px 0 25px 0;
	margin: 0;
}
#ia-1 .banner-btn1 a, #ia-1 .banner-btn2 a, #ia-1 .banner-btn3 a {
	padding: 8px 10px;
	margin: 0 15px 0 0;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	float: left;
	text-decoration: none;
	display: block;
}
#ia-1 .banner-btn1 a {
	color: #FFF;
	background-color: #cf602d;
}
#ia-1 .banner-btn1 a:hover {
	background-color: #b75527;
}
#ia-1 .banner-btn2 a {
	color: #FFF;
	background-color: #b1a990;
}
#ia-1 .banner-btn2 a:hover {
	background-color: #9c957f;
}
#ia-1 .banner-btn3 a {
	color: #FFF;
	background-color: #617057;
}
#ia-1 .banner-btn3 a:hover {
	background-color: #4c5b43;
}
#ia-1 .ia-video {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 66px;
    right: 11px;
    border: 6px solid #e9e6df;
}
.callouts-x3 {
	background-color: #f8f7f3;
	background-image: url(../images/ia-callout-bg1.jpg)/*tpa=http://www.monsanto.com/style library/images/ia-callout-bg1.jpg*/;
	background-repeat: repeat-x;
	width: 735px;
	padding: 9px 9px;
	margin: 0 10px 20px;
	float: left;
	list-style-type: none;
}
.callouts-x3 li {
	width: 225px;
	padding: 10px;
	margin: 0;
	float: left;
}
.callouts-x3 li h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #292929;
	line-height: 17px;
	padding: 8px 0 6px 0;
	margin: 0;
	text-transform: uppercase;
}
.callouts-x3 li p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #555555;
	line-height: 14px;
	padding: 0 0 8px 0;
	margin: 0;
}
.callouts-x3 li p a {
	font-size: 12px;
}
.s-callout-1, .s-callout-2 {
	background-color: #F3F1EB;
	width: 343px;
	padding: 12px 12px;
	margin: 0 10px 15px;
	float: left;
}
#ia-1 .s-callout-1 p, #ia-1 .s-callout-2 p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #777777;
	line-height: 13px;
	padding: 0 0 5px 0;
	margin: 0;
}
#ia-1 .s-callout-1 img, #ia-1 .s-callout-2 img {
	float: left;
	margin: 0 12px 0 0;
}
#ia-1 .s-callout-1 h3, #ia-1 .s-callout-2 h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #292929;
	line-height: 15px;
	padding: 0;
	margin: 1px 0 3px;
	text-transform: uppercase;
}

.content1-mn p.ia-section-summary {
	font-size: 16px;
	line-height: 22px;
	margin-top: 0;
}
hr {
	color: #CCC;
	background-color: #CCC;
	height: 1px;
	border: 0;
	margin: 20px 0 30px 0;
}
.content1-mn .ia-section h3 {
	font-size: 18px;
	color: #406618;
	margin: 0;
	padding: 0 0 2px 0;
	font-weight: bold;
	line-height: 23px;
}
.ia-in-this-section {
	border-top: 1px solid #da9b6b;
	border-bottom: 1px solid #da9b6b;
	padding: 20px 0 0;
	margin: 50px 0 30px;
}
.ia-in-this-section h5 {
	padding: 0 0 4px 0;
	margin: 0;
	color: #c15809;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
}
.content1-mn .ia-in-this-section p {
	font-size: 12px;
	line-height: 18px;
	margin-top: 0;
}
.ia-btn-1 a:link, .ia-btn-1 a:active, .ia-btn-1 a:visited {
	text-transform: uppercase;
	font-size: 12px;
	line-height: 18px;
	color: #787670;
	border: 1px solid #d1cbbe;
	background-color: #f0ece0;
	padding: 5px 11px 7px;
	margin: 15px 15px 20px 0;
	float: left;
	font-weight: bold;
	display: block;
	text-decoration: none;
}
.ia-btn-1 em {
	font-style: normal;
	vertical-align: text-bottom;
}
.ia-btn-1 a:hover {
	color: #514f48;
	border: 1px solid #aea799;
	background-color: #d5d0c2;
}

/*IA Landing Page Grid
 --------------------------------------------------------------*/

ul.ia-landing-grid {
	width: 755px;
	float: left;
	list-style-type: none;
	margin: 20px 0 40px 15px;
	padding: 0;
	bottom: 0px;
}
ul.ia-landing-grid li {
	width: 216px;
	height: 173px;
	float: left;
	margin: 0 25px 25px 0;
	padding: 0;
	background-color: #e6e7e8;
	position: relative;
	border-style: solid;
	border-width:4px;
	border-color:#EEE6D4;
}
ul.ia-landing-grid h3 {
	color: #617057;
	margin: 0;
	padding: 0;
	font-family: 'Oswald', Geneva, sans-serif;
	font-size: 20px;
	line-height: 23px;
	font-weight: normal;
	letter-spacing: -0.4px;
}
ul.ia-landing-grid li img {
	width: 216px;
	height: 173px;
	border: 0;
}

ul.ia-landing-grid li span {
	width: 186px;
	padding: 12px 15px 15px 15px;
	position: absolute;
	bottom: 0;
	left: 0;
	background-repeat: repeat;
}

span.pci{
	background-image: url(../../sitecollectionimages/improve-ag-grid/grid-bg2-1.png)/*tpa=http://www.monsanto.com/SiteCollectionImages/improve-ag-grid/grid-bg2.png*/;
}

span.features
{
	background-image: url(../../sitecollectionimages/improve-ag-grid/grid-bg3-1.png)/*tpa=http://www.monsanto.com/SiteCollectionImages/improve-ag-grid/grid-bg3.png*/;
}

span.partnerships
{
	background-image: url(../../sitecollectionimages/improve-ag-grid/grid-bg1-1.png)/*tpa=http://www.monsanto.com/SiteCollectionImages/improve-ag-grid/grid-bg1.png*/;
}

	
ul.ia-landing-grid li a span, ul.ia-landing-grid li a span p {
	color: #EEE6D4;
	font-size: 12px;
}
ul.ia-landing-grid li a span p  {
	margin: 0px;
	padding: 0px;
}
ul.ia-landing-grid li a {
	text-decoration: none;
}

ul.ia-landing-grid li span h4 {
	color: #FFF;
	margin: 0;
	padding: 0;
	font-family: 'Oswald', Geneva, sans-serif;
	font-size: 20px;
	line-height: 23px;
	font-weight: normal;
	letter-spacing: -0.4px;
}

span.subhead {
	color: #FFF;
	margin: 0;
	padding: 0;
	font-family: 'Oswald', Geneva, sans-serif;
	font-size: 14px;
	line-height: 0px;
	font-weight: normal;
	letter-spacing: -0.4px;
}



/* PIPELINE
--------------------------------------------------------------- */

.column11-mn {
	float: left;
	width: 495px;
	margin: 0 0 50px 0;
	padding: 18px;
}
.column11-mn p {
	margin: 10px 0 18px 0;
	color: #444444;
	font-size: 14px;
	line-height: 21px;
}
.column11-mn h1 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 21px;
	color: #898331;
	margin: 0;
	padding: 0 0 8px 0;
	font-weight: normal;
	line-height: 24px;
	text-transform: uppercase;
}
.column12-mn {
	width: 205px;
	padding: 15px;
	margin: 0;
	float: right;
	background-color: #F3F7E8;
	font-size: 11px;
	line-height: 13px;
	color: #25241e;
}
.column12-mn strong {
	padding: 0;
	margin: 0;
	font-size: 12px;
}
.column12-mn ul {
	padding: 0;
	margin: 10px 0 25px 0;
	list-style-type: none;
}
.column12-mn ul li {
	padding: 0;
	margin: 0 0 12px 0;
	list-style-type: none;
}
.image-frame {
	padding: 7px;
	margin: 10px 0 25px 0;
	width: 480px;
	background-color: #F3F7E8;
}





/* BRANDS
--------------------------------------------------------------- */

#our-brands {
	float: left;
	width: 565px;
}
#our-brands h3 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1em;
	color: #2b1f12;
	padding: 0;
	font-weight: bold;
	line-height: 1em;
	margin: 3px 3px 11px;
}
#our-brands p {
	margin: 0 3px 15px;
	color: #666;
}
#our-brands ul.our-brands-section {
	width: 538px;
	list-style-type: none;
	padding: 13px 13px 20px 13px;
	margin: 15px 0;
	float: left;
	clear: both;
	border: 1px solid #e4ead7;
	background-color: #F4F8E9;
	/*background-color: #f9fbf5;*/
}
#our-brands ul.our-brands-section li {
	list-style-type: none;
	background: none;
	padding: 3px;
	margin: 3px;
	float: left;
	border: 1px solid #f3f8e7;
	line-height: 0.6em;
	background-color: #FFF;
}
#our-brands ul.our-brands-section li img {
	width: 120px;
	height: 78px;
}



/* MEDIA KIT
--------------------------------------------------------------- */

.media-kit-1 {
	float: left;
	width: 525px;
	border: 1px solid #e4ead7;
	background-color: #F4F8E9;
	padding: 20px 20px 20px 20px;
	margin: 10px 0 10px 0;
}
.content1-mn .media-kit-1 p {
	margin: 8px 0 15px 0;
	color: #444444;
	font-size: 0.75em;
	line-height: 1.4em;
}
.media-kit-1 img {
	float: left;
	border: 1px solid #dbe0d1;
	background-color: #FFF;
	padding: 0;
	margin: 0 20px 10px 0;
}
.media-kit-1 ul.media-kit-logos {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.media-kit-1 ul.media-kit-logos li {
	border: 1px solid #dbe0d1;
	list-style-type: none;
	background-image: none;
	padding: 3px 0 0 0;
	margin: 0 10px 10px 0;
	float: left;
	background-color: #FFF;
}





/* SEARCH
--------------------------------------------------------------- */

.search-content-mn {
	float: left;
	margin: 15px 0 0 0;
	padding: 0 20px 50px;
	font-size: 1em;
}

.search-content-mn h1 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1.8em;
	color: #2b1f12;
	margin: 0;
	padding: 0 0 15px 0;
	font-weight: normal;
	line-height: 1.1em;
}
.search-content-mn h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #ada98f;
	font-weight: normal;
	font-style: normal;
	margin: 0;
	padding: 0 0 3px 1px;
}
.search-content-mn h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.85em;
	color: #2b1f12;
	margin: 0;
	padding: 3px 0 4px 0;
	font-weight: normal;
	line-height: 1em;
}
.search-content-mn p {
	margin: 0;
	padding: 0;
	color: #444444;
	font-size: 0.75em;
	line-height: 1.3em;
}
.search-content-mn p strong {
	color: #2b1f12;
}
.search-content-mn ul {
	padding: 0;
	margin: 25px 0;
	float: left;
	border-bottom: 1px dotted #dcdacd;
}
.search-content-mn ul li {
	padding: 9px 3px;
	margin: 0 0 6px 0;
	list-style-type: none;
	border-top: 1px dotted #dcdacd;
	width: 700px;
}
.search-tools {
	margin: 0;
	float: left;
	width: 700px;
	clear: both;
}
.query-text {
	margin: 0;
	padding: 0;
	color: #444444;
	font-size: 0.75em;
	line-height: 1.3em;
	float: left;
}
.query-text strong {
	color: #2b1f12;
}
.search-pagination {
	float: right;
	color: #444444;
	font-size: 0.75em;
	line-height: 1.3em;
}




/* SITEMAP
--------------------------------------------------------------- */

#sitemap-mn {
	float: left;
	margin: 0;
	padding: 0 0 50px;
	font-size: 1em;
	border: 1px solid #f0ede6;
}
#sitemap-mn h1 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1.8em;
	color: #2b1f12;
	margin: 20px 20px 15px 20px;
	padding: 0 0 10px 0;
	border-bottom: 1px dotted #f0ede6;
	font-weight: normal;
	line-height: 1.1em;
}
#sitemap-mn table td {
	width: 192px;
	vertical-align: top;
	padding: 0 20px;
}
#sitemap-mn ul {
	padding: 5px 0;
	margin: 0 0 15px 0;
}
#sitemap-mn ul li {
	list-style-type: none;
	padding: 0 0 6px 0;
	margin: 0;
	line-height: 1em;
}
#sitemap-mn ul li strong {
	font-size: 1em;
	color: #2b1f12;
}
#sitemap-mn ul li a {
	list-style-type: none;
	text-decoration: none;
	color: #444444;
	font-size: 0.8em;
}
#sitemap-mn ul li a:hover {
	color: #c55205;
	text-decoration: underline;
}



/* CONTENT
--------------------------------------------------------------- */

.content1-mn {
	float: left;
	margin: 15px 0 0 0;
	padding: 0 10px;
}
.content1-mn h1 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1.8em;
	color: #2b1f12;
	margin: 0;
	padding: 0 0 4px 0;
	font-weight: normal;
	line-height: 1.1em;
}
.content1-mn h2 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1em;
	color: #ada98f;
	font-weight: normal;
	font-style: normal;
	margin: 0;
	padding: 0 0 5px 1px;
}
.content1-mn h3 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1.1em;
	color: #2b1f12;
	margin: 0;
	padding: 0 0 5px 0;
	font-weight: normal;
	line-height: 1.2em;
}
.content1-mn h3 em {
	font-size: 0.8em;
	color: #ada98f;
	font-weight: normal;
	font-style: normal;
	line-height: 1.5em;
}
.content1-mn h4 {
	font-size: 0.8em;
	line-height: 1.3em;
	color: #2b1f12;
	font-weight: bold;
	padding: 0;
	margin: 0 0 7px 0;
	font-family: Tahoma, Geneva, sans-serif;
	text-transform: uppercase;
}
.content1-mn h6 {
	font-size: 0.8em;
	line-height: 1.3em;
	color: #675E52;
	font-weight: bold;
	padding: 0;
	margin: 0 0 7px 0;
	font-family: Tahoma, Geneva, sans-serif;
	text-transform: uppercase;
}
.content1-mn .rule1 {
	border-top: 2px solid #eae8de;
	border-bottom: 1px solid #eae8de;
	margin: 50px 0 10px 0;
	padding: 0;
	height: 2px;
	width: 565px;
}
.content1-mn p, .product-info p {
	margin: 10px 0 18px 0;
	color: #444444;
	font-size: 0.8em;
	line-height: 1.4em;
}
.content1-mn strong {
	color: #2b1f12;
}
.content1-mn ul {
	padding: 0;
	margin: 20px 10px 20px 20px;
}
.content1-mn ul li {
	padding: 2px 2px 3px 15px;
	margin: 0 0 6px 0;
	list-style-type: none;
	background-image: url(../images/bullet2.gif)/*tpa=http://www.monsanto.com/style library/images/bullet2.gif*/;
	background-repeat: no-repeat;
	background-position: 0 10px;
	color: #555555;
	font-size: 0.8em;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.6em;
}
.list-rtl ul li {
	padding: 2px 2px 3px 15px;
	margin: 0 0 6px 0;
	list-style-type: none;
	background-image: url(../images/bullet2.gif)/*tpa=http://www.monsanto.com/style library/images/bullet2.gif*/;
	background-repeat: no-repeat;
	background-position: 0 10px;
	color: #555555;
	font-size: 0.8em;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.6em;
	direction:rtl;
}

.content1-mn ol {
	padding: 0;
	margin: 20px 10px 20px 20px;
}
.content1-mn ol li {
	padding: 2px 2px 3px 4px;
	margin: 0 0 5px 10px;
	color: #555555;
	font-size: 0.8em;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.6em;
	list-style-position: inherit;
}
.content1-mn ol ul {
	padding: 0;
	margin: 10px 10px 0 15px;
}
.content1-mn ol ul li {
	padding: 2px 2px 3px 0;
	margin: 0 0 6px 12px;
	list-style-type: circle;
	background-image: none;
	color: #555555;
	font-size: 13px;
}
p.disclaimer {
	color: #999;
	font-size: 0.7em;
}
span.superscript {
	font-size: 80%;
	vertical-align: text-top;
}


/* LIVING PROOF
--------------------------------------------------------------- */

ul.living-proof-events {
	border-top: 1px dotted #c6c3b2;
	margin: 10px 0 30px 0;
	padding: 0;
}
ul.living-proof-events li {
	height: 70px;
	width: 450px;
	border-bottom: 1px dotted #c6c3b2;
	margin: 0;
	padding: 25px 3px 0 110px;
	list-style-type: none;
	color: #2B1F12;
	line-height: 1.2em;
	background-image: none;
	font-size: 1em;
}
ul.living-proof-events li img {
	margin: -25px 0 0 -110px;
	float: left;
}
ul.living-proof-events li em {
	color: #675E52;
	font-style: normal;
	font-size: 0.8em;
}
ul.living-proof-events li a {
	font-size: 0.8em;
}


/* HARVEST UPDATES
--------------------------------------------------------------- */

ul.harvest-headlines {
	border-top: 1px dotted #c6c3b2;
	margin: 0;
	padding: 0;
}
ul.harvest-headlines li {
	border-bottom: 1px dotted #c6c3b2;
	margin: 0;
	padding: 6px 3px 6px 0;
	list-style-type: none;
	color: #646257;
	line-height: 1.3em;
	background-image: none;
}
ul.harvest-headlines li em {
	color: #9b998e;
	font-style: normal;
	font-size: 85%;
}
ul.harvest-headlines li.more-news {
	list-style-type: none;
	margin: 0;
	padding: 10px 3px 5px 0;
	border-bottom: none;
}
ul.harvest-headlines li.more-news a:link, ul.harvest-headlines li.more-news a:visited, ul.harvest-headlines li.more-news a:active {
	color: #675e52;
	line-height: 1em;
	font-size: 0.9em;
}
ul.harvest-headlines li.more-news a:hover {
	color: #c55205;
}


/* INLINE DIVS & VIDEO
--------------------------------------------------------------- */

.inline-resource-column {
	width: 180px;
	margin: 0 0 10px 20px;
	float: right;
}
.inline-resource-column .inline-resource-box1 {
	background-color: #f3f8e7;
	padding: 12px 15px 15px;
	margin: 0 0 10px 0;
	font-family: Tahoma, Geneva, sans-serif;
	color: #2b1f12;
	font-size: 0.7em;
	line-height: 1.2em;
}
.inline-resource-column .inline-resource-box1 img {
	background-color: #e2e6d5;
	border: 1px solid #e2e6d5;
}
.inline-resource-column .inline-resource-box1 p {
	margin: 5px 0;
	padding: 0;
	color: #333333;
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.3em;
}
.inline-resource-column .inline-resource-box1 ul {
	margin: 0;
	padding: 0;
}
.inline-resource-column .inline-resource-box1 ul li {
	display: block;
	padding: 0 0 0 8px;
	margin: 5px 0;
	background-image: url(../images/bullet1.gif)/*tpa=http://www.monsanto.com/style library/images/bullet1.gif*/;
	background-repeat: no-repeat;
	background-position: 0 6px;
	list-style-type: none;
	font-size: 1em;
	line-height: 1.2em;
	color: #333333;
}

.inline-img-1 img {
	margin: 0 0 15px 0;
}
.inline-img-right {
	float: right;
}
.inline-img-right img {
	border: 5px solid #f0ede6;
	margin: 10px 0 20px 20px;
	-moz-border-top-colors: #f0ede6;
	-moz-border-right-colors: #f0ede6;
	-moz-border-bottom-colors: #f0ede6;
	-moz-border-left-colors: #f0ede6;
}
.inline-img-left {
	float: left;
}
.inline-img-left img {
	border: 5px solid #f0ede6;
	margin: 15px 20px 20px 0;
	-moz-border-top-colors: #f0ede6;
	-moz-border-right-colors: #f0ede6;
	-moz-border-bottom-colors: #f0ede6;
	-moz-border-left-colors: #f0ede6;
}
.inline-video-1 {
	margin: 0 0 15px 0;
}


.float-right img {
	float: right;
	margin: 10px 0 20px 20px;
	border: 5px solid #f0ede6;
	-moz-border-top-colors: #f0ede6;
	-moz-border-right-colors: #f0ede6;
	-moz-border-bottom-colors: #f0ede6;
	-moz-border-left-colors: #f0ede6;
}
.float-left img{
	float: left;
	margin: 10px 20px 20px 0;
	border: 5px solid #f0ede6;
	-moz-border-top-colors: #f0ede6;
	-moz-border-right-colors: #f0ede6;
	-moz-border-bottom-colors: #f0ede6;
	-moz-border-left-colors: #f0ede6;
}



/* SIDE BOXES
--------------------------------------------------------------- */

.side-box-1 {
	float: left;
	width: 148px;
	padding: 12px 15px 15px 15px;
	margin: 0 0 10px 0;
	border: 1px solid #f0ede6;
}
.side-box-2 {
	float: left;
	width: 140px;
	padding: 15px;
	margin: 0 0 10px 0;
	border: 5px solid #e9ece3;
}
.side-box-3 {
	float: left;
	width: 150px;
	padding: 15px;
	margin: 0 0 10px 0;
	background-color: #f4f8e7;
}
.side-box-1 h1, .side-box-2 h1, .side-box-3 h1  {
	color: #2b1f12;
	font-size: 0.8em;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	text-decoration: none;
	margin: 0 0 9px 0;
	padding: 0;
	line-height: 1.2em;
}
.side-box-1 h2, .side-box-2 h2, .side-box-3 h2 {
	color: #969c87;
	font-size: 0.7em;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	text-decoration: none;
	margin: 0 0 7px 0;
	padding: 0;
	text-transform: uppercase;
}
.side-box-1 h3, .side-box-2 h3, .side-box-3 h3 {
	font-size: 0.7em;
	color: #2b1f12;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	text-decoration: none;
	margin: 0;
	padding: 0;
}
.side-box-1 p, .side-box-2 p, .side-box-3 p {
	margin: 5px 0 0 0;
	padding: 0 0 6px 0;
	color: #444444;
	font-size: 0.7em;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.3em;
}
.side-box-1 img, .side-box-2 img, .side-box-3 img {
	margin: 0 0 5px 0;
}
.side-box-1 strong, .side-box-2 strong, .side-box-3 strong {
}
.side-box-1 ul, .side-box-2 ul, .side-box-3 ul {
	padding: 0;
	margin: 0 0 3px 0;
}
.side-box-1 ul li, .side-box-2 ul li, .side-box-3 ul li {
	padding: 2px 2px 2px 8px;
	margin: 0 0 3px 0;
	list-style-type: none;
	background-image: url(../images/bullet1.gif)/*tpa=http://www.monsanto.com/style library/images/bullet1.gif*/;
	background-repeat: no-repeat;
	font-size: 0.7em;
	font-family: Arial, Helvetica, sans-serif;
	background-position: 0px 7px;
	color: #444444;
	line-height: 1.2em;
}
.side-box-1 hr, .side-box-2 hr, .side-box-3 hr {
	height: 1px;
	border-bottom: 1px solid #e9ece3;
	border-top: none; border-left: none; border-right: none;
	margin: 6px 0 10px 0;
}


/* AD BOXES
--------------------------------------------------------------- */

.ad-box-1 {
	float: left;
	width: 180px;
	margin: 0 0 10px 0;
	padding: 0;
}




/* LOCATIONS / FLAGS
--------------------------------------------------------------- */

.locations-mn {
	margin: 0 0 50px;
	float: left;
}
.locations-mn h3 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 0.8em;
	color: #999999;
	text-transform: uppercase;
	margin: 15px 0 5px;
	padding: 10px 0;
	font-weight: bold;
	line-height: 0.9em;
	border-bottom: 1px solid #e4e0d6;
	clear: both;
}
.locations-mn ul {
	float: left;
	padding: 0;
	margin: 5px 0 40px;
}
.locations-mn ul li {
	float: left;
	width: 184px;
	padding: 8px 2px;
	margin: 0 0 12px 0;
	list-style-type: none;
	color: #2b1f12;
	font-size: 0.8em;
	line-height: 1.2em;
	font-family: Tahoma, Geneva, sans-serif;
	background: none;
}
.locations-mn ul li span {
	color: #D3CEBE;
	margin: 0 5px;
	font-size: 0.8em;
}
.locations-mn ul li a {
	color: #aeaaa0;
	font-size: 0.85em;
}
.locations-mn ul li a:hover {
	color: #c55205;
}
.locations-mn ul li img {
	float: left;
	margin: -3px 8px 0 0;
}



/* IMAGE ROTATORS
--------------------------------------------------------------- */

#rotator-1 {
	border: 10px solid #f4f8e7;
	margin: 0 0 10px 0;
	background-color: #f4f8e7;
}




/* TABLES
--------------------------------------------------------------- */

.photo-gallery {
	margin: 5px 0 60px 0;
	padding: 2px 0 0 0;
	border-top: 2px solid #f0ede6;
}
.photo-gallery td {
	padding: 10px 12px 10px 0;
	vertical-align: top;
	width: 110px;
	border-top: 1px solid #f0ede6;
}
.photo-gallery td img {
	border: 1px solid #CCC;
}
.table-1-mn {
	margin: 10px 0;
	padding: 0;
	clear: both;
	border: 1px solid #e9ece3;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1em;
}
.table-1-mn th {
	font-size: 0.7em;
	line-height: 1.2em;
	padding: 6px;
	color: #333;
	background-image: url(../images/table-ht-bg2.gif)/*tpa=http://www.monsanto.com/style library/images/table-ht-bg2.gif*/;
	background-repeat: repeat-x;
	border-bottom: 1px solid #e9ece3;
	vertical-align: bottom;
}
.table-1-mn td {
	font-size: 0.7em;
	line-height: 1.2em;
	padding: 6px;
	color: #444444;
}
.table-1-mn tbody tr.odd td {
	background-color:#F0F2EC;
}
.table-2-mn {
	font-family: Tahoma, Geneva, sans-serif;
	background-color: none;
	margin: 10px 0;
	padding: 5px 10px 10px 10px;
	font-size: 1em;
	width: 100%;
	text-align: left;
	color: #444444;
	border: 5px solid #f3f8e7;
	clear: both;
}
.table-2-mn thead tr th {
	background-color: #FFF;
	border-bottom: 1px solid #FFF;
	font-size: 0.8em;
	padding: 6px 4px;
	color: #A69D8C;
	border-bottom: 1px solid #f3f8e7;
	font-weight: normal;
	text-align: left;
}
.table-2-mn thead tr .header {
	background-image: none;
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
.table-2-mn tbody td {
	color: #444444;
	font-size: 0.7em;
	line-height: 1.2em;
	font-family: Tahoma, Geneva, sans-serif;
	border-top: 1px solid #f3f8e7;
	padding: 6px 10px 6px 4px;
	vertical-align: top;
}
.table-2-mn thead tr .headerSortUp {
	background-image: url(../images/asc.gif)/*tpa=http://www.monsanto.com/style library/images/asc.gif*/;
}
.table-2-mn thead tr .headerSortDown {
	background-image: url(../images/desc.gif)/*tpa=http://www.monsanto.com/style library/images/desc.gif*/;
}
.table-3-mn {
	margin: 10px 0;
	padding: 0;
	clear: both;
	font-size: 1em;
}
.table-3-mn td {
	border-top: 1px solid #DBE0D1;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	font-size: 0.8em;
	line-height: 1.3em;
	padding: 20px 20px 20px 10px;
	color: #444444;
	vertical-align: top;
}
.table-4-mn {
	margin: 5px 0 10px 0;
	padding: 0;
	clear: both;
	border-top: 1px solid #dadada;
	border-left: 1px solid #dadada;
	border-right: 1px solid #dadada;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1em;
}
.table-4-mn th {
	font-size: 0.7em;
	line-height: 1.2em;
	padding: 5px 7px;
	color: #888888;
	border-bottom: 1px solid #dadada;
	vertical-align: bottom;
	font-weight: normal;
	background-color: #f4f4f4;
}
.table-4-mn td {
	font-size: 0.7em;
	line-height: 1.1em;
	padding: 7px;
	color: #444444;
	border-bottom: 1px solid #dadada;
	
}
.table-4-mn tbody tr.odd td {
	background-color:#F0F2EC;
}
.table-4-mn span.up {
	color: #060;
}
.table-4-mn span.down {
	color: #900;
}



/* EXECUTIVES
--------------------------------------------------------------- */

ul.executives {
	float: left;
	padding: 0;
	margin: 10px 0 40px;
	list-style-type: none;
}
ul.executives h3 {
	color: #2b1f12;
	font-size: 1.1em;
	line-height: 1.3em;
	font-family: Tahoma, Geneva, sans-serif;
	text-decoration: none;
	margin: 0;
	padding: 3px 0 3px 0;
	font-weight: bold;
}
ul.executives li {
	float: left;
	width: 255px;
	padding: 12px 12px 12px 2px;
	margin: 0 10px 8px 0;
	list-style-type: none;
	color: #ADA98F;
	font-size: 0.8em;
	font-family: Tahoma, Geneva, sans-serif;
	line-height: 1.2em;
	background: none;
}
ul.executives li a {
	color: #2b1f12;
	text-decoration: none;
}
ul.executives li a:hover {
	color: #c55205;
}
ul.executives li img {
	float: left;
	border: 5px solid #f0ede6;
	margin: 0 15px 0 0;
	-moz-border-top-colors: #f0ede6;
	-moz-border-right-colors: #f0ede6;
	-moz-border-bottom-colors: #f0ede6;
	-moz-border-left-colors: #f0ede6;
}




/* TAB BOX
--------------------------------------------------------------- */

.tab-box-container-1 {
	width: 565px;
	margin: 0 0 10px 0;
	padding: 10px;
	background-color: #f3f8e7;
	float: left;
}
.tab-box-container-2 {
	width: 720px;
	margin: 10px 0;
	padding: 10px;
	background-color: #f3f8e7;
	float: left;
}
.tab-box-container-3 {
	width: 755px;
	margin: 10px 0;
	padding: 10px;
	background-color: #f3f8e7;
	float: left;
}
ul.box-tabs-mn {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 29px;
	width: 100%;
}
ul.box-tabs-mn li {
	float: left;
	margin: 0;
	padding: 0;
	height: 29px;
	line-height: 29px;
	background-color: #d4dac4;
	overflow: hidden;
	position: relative;
}
ul.box-tabs-mn li a {
	text-decoration: none;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 0.7em;
	display: block;
	padding: 0 13px;
	color: #262c17;
	background-image: url(../images/tab-off-bg.png)/*tpa=http://www.monsanto.com/style library/images/tab-off-bg.png*/;
	border-left: 1px solid #E2E6D5;
	border-top: 1px solid #E2E6D5;
}
ul.box-tabs-mn li.last-tab a {
	border-right: 1px solid #E2E6D5;
}
ul.box-tabs-mn li a:hover {
	color: #000;
	background-image: url(../images/tab-hover-bg.png)/*tpa=http://www.monsanto.com/style library/images/tab-hover-bg.png*/;
	background-repeat: no-repeat;
}	
html ul.box-tabs-mn li.active a, html ul.box-tabs-mn li.active a:hover  {
	background: #fff;
	color: #ce4d00;
	font-weight: bold;
	background-image: url(../images/tab-on-bg.png)/*tpa=http://www.monsanto.com/style library/images/tab-on-bg.png*/;
	background-repeat: repeat-x;
	border-left: 1px solid #E2E6D5;
	border-top: 1px solid #E2E6D5;
	border-bottom: 1px solid #FFF;
}
.tab-container-mn {
	clear: both;
	float: left;
	width: 100%;
	margin: -1px 0 0 0;
	background: #fff;
	border: 1px solid #E2E6D5;
	color: #E2E6D5;
}
.tab-content-mn {
	padding: 20px 15px 15px;
	font-size: 0.8em;
}
.tab-content-mn p {
	margin: 0 0 15px 0;
	color: #555555;
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.4em;
}
.tab-content-mn p strong {
	color: #2b1f12;
}
.tab-content-mn ul {
	padding: 0;
	margin: 20px 10px 20px 20px;
}
.tab-content-mn ul li {
	padding: 2px 2px 3px 28px;
	margin: 0 0 6px 0;
	list-style-type: none;
	background-image: url(../images/bullet2.gif)/*tpa=http://www.monsanto.com/style library/images/bullet2.gif*/;
	background-repeat: no-repeat;
	background-position: 10px 10px;
	color: #555555;
}



/* PRODUCTS
--------------------------------------------------------------- */

.product-info {
	float: left;
	margin: 12px 0 0 0;
	padding: 0 10px;
}
.product-info p {
	padding: 0;
}
.product-info strong {
	color: #2b1f12;
}
.product-info img {
	border: 10px solid;
	border-color: #f4f8e7 !important;
	margin: 15px 0 10px 0;
	-moz-border-top-colors: #f4f8e7;
	-moz-border-right-colors: #f4f8e7;
	-moz-border-bottom-colors: #f4f8e7;
	-moz-border-left-colors: #f4f8e7;
}
.product-info ul {
	padding: 0;
	margin: 20px 10px 20px 20px;
}
.product-info ul li {
	padding: 2px 2px 3px 18px;
	margin: 0 0 6px 0;
	list-style-type: none;
	background-image: url(../images/bullet2.gif)/*tpa=http://www.monsanto.com/style library/images/bullet2.gif*/;
	background-repeat: no-repeat;
	background-position: 0 10px;
	color: #555555;
	font-size: 0.8em;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.6em;
}
.product-info h1 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 2em;
	color: #2b1f12;
	text-transform: none;
	margin: 0;
	padding: 0;
	font-weight: normal;
	line-height: 1.1em;
}
.product-info h2 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1.3em;
	color: #ada98f;
	font-weight: normal;
	font-style: normal;
	margin: 0;
	padding: 5px 0 0 1px;
}
.product-info h3 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 0.9em;
	color: #2b1f12;
	text-transform: none;
	margin: 25px 0 0 0;
	padding: 0;
	font-weight: bold;
	line-height: 1.2em;
}



/* PR NEWSWIRE
--------------------------------------------------------------- */
.wd_news_releases-detail ul {
	padding: 0;
	margin: 20px 10px 20px 20px;
}
.wd_news_releases-detail ul li {
	padding: 2px 2px 3px 15px;
	margin: 0 0 6px 0;
	list-style-type: none;
	background-image: url(../images/bullet2.gif)/*tpa=http://www.monsanto.com/style library/images/bullet2.gif*/;
	background-repeat: no-repeat;
	background-position: 0 10px;
	color: #444444;
	font-size: 0.8em;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.6em;
}


/* FAT FOOTER
--------------------------------------------------------------- */

#fat-footer-mn {
	width: 923px;
	border: 1px solid #bfb8aa;
	margin: 10px 5px 30px;
	padding: 15px 5px 25px 20px;
	float: left;
	clear: both;
}
#fat-footer-mn .fat-footer-tbl td {
	vertical-align: top;
}
#fat-footer-mn ul {
	width: 169px;
	margin: 0 15px 10px 0;
	padding: 0;
	float: left;
	list-style-type: none;
}
#fat-footer-mn ul li { /* had to move styles from "li a" to "li" so non-linked text would get styled */
	margin: 0;
	padding: 3px 0;
	color: #675e52;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 0.7em;
	line-height: 1.2em;
	list-style-type: none;
}
#fat-footer-mn ul li a {
	color: #675e52;
	text-decoration: none;
}
#fat-footer-mn ul li a:hover {
	color: #c55205;
	text-decoration: underline;
}
ul.quick-links {
	margin: 0 0 10px 0;
	padding: 0;
	float: right;
	list-style-type: none;
}
ul.quick-links em {
	font-size: 110%;
	line-height: 1.5em;
	color: #675e52;
	font-weight: normal;
	margin: 3px 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
}
ul.quick-links li {
	width: 210px;
}
ul.quick-links li p {
	font-size: 0.7em;
	color: #675e52;
	text-decoration: none;
	font-family: Tahoma, Geneva, sans-serif;
	line-height: 1.4em;
	margin: 3px 0 20px 0;
	padding: 0;
}
ul.quick-links li {
	margin: 0 0 10px 0;
	padding: 0;
}
ul.quick-links li strong {
	font-size: 0.7em;
	line-height: 1.5em;
	color: #675e52;
	font-weight: bold;
	font-family: Tahoma, Geneva, sans-serif;
}



/* FOOTER
--------------------------------------------------------------- */

#footer-mn {
	width: 950px;
	margin: 0 5px 30px;
	padding: 0;
	clear: both;
}
#footer-mn p {
	margin: 8px 0;
	font-family: Tahoma, Geneva, sans-serif;
	line-height: 1.7em;
	font-size: 0.6em;
	color: #675e52;
	width: 950px;
}
#footer-mn a:link, #footer-mn a:visited, #footer-mn a:active {
	color: #675e52;
	text-decoration: underline;
}
#footer-mn a:hover {
	color: #c55205;
	text-decoration: underline;
}
#footer-mn span.follow-links {
	float: right;
}
#footer-mn hr {
	height: 1px;
	border: none;
	background-color: #bfb8aa;
}



/* LINKS
--------------------------------------------------------------- */

a:link, a:visited, a:active {
	color: #0a5884;
	text-decoration: underline;
}
a:hover {
	color: #c55205;
	text-decoration: underline;
}



/* FORMS
--------------------------------------------------------------- */

.checkbox, .radio {
	width: 19px;
	height: 25px;
	padding: 0 5px 0 0;
	background: url(Unknown_83_filename)/*tpa=http://www.monsanto.com/style library/default/checkbox.gif*/ no-repeat;
	display: block;
	clear: left;
	float: left;
}
.radio {
	background: url(Unknown_83_filename)/*tpa=http://www.monsanto.com/style library/default/radio.gif*/ no-repeat;
}
.select-site-box {
	width: 210px; /* With the padding included, the width is 190 pixels: the actual width of the image. */
	height: 29px;
	padding: 5px 6px 7px 6px;
	margin: 0 0 0 -2px;
	color: #675e52;
	background: url(../images/select-dropdown.png)/*tpa=http://www.monsanto.com/style library/images/select-dropdown.png*/ no-repeat;
	overflow: hidden;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 0.8em;
	border: none;
	background-color: #FFF;
}
.contact-form, .signup-form {
	padding: 25px 25px;
	margin: 30px 0;
	width: 515px;
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid #f0ede6;
}
.contact-form ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.contact-form ul li {
	padding: 0;
	margin: 0 0 6px 0;
	list-style-type: none;
	font-size: 1em;
}
.contact-form ul li span.consent {
	padding: 20px 0 0;
}
.contact-form ul li span {
	padding: 0;
	margin: 9px 0 0 0;
	list-style-type: none;
	font-size: 0.7em;
	float: left;
	width: 420px;
}
.contact-form input, .contact-form textarea, .contact-form select,
.signup-form input, .signup-form textarea, .signup-form select {
	padding: 7px;
	margin: 0;
	border: solid 1px #E5E5E5;
	outline: 0;
	width: 250px;
	background: #FFFFFF url('Unknown_83_filename')/*tpa=http://www.monsanto.com/style library/default/bg_form.png*/ left top repeat-x;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	font-size: 0.8em;
	}

.contact-form textarea, .signup-form textarea { 
	width: 400px;
	max-width: 400px;
	height: 150px;
	line-height: 150%;
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
	}

.contact-form input:hover, .contact-form textarea:hover,
.contact-form input:focus, .contact-form textarea:focus,
.contact-form select:focus, .contact-form select:focus,
.signup-form input:hover, .signup-form textarea:hover,
.signup-form input:focus, .signup-form textarea:focus,
.signup-form select:focus, .signup-form select:focus { 
	border-color: #C9C9C9; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
	}

.contact-form label {
	margin: 9px 10px 0 0;
	color: #444444;
	width: 80px;
	float: left;
	font-size: 0.8em;
	font-weight: bold;
	}

.contact-form input.submit, .signup-form #signup, .signup-form input.submit {
	width: auto;
	margin: 25px 0;
	padding: 6px 15px;
	background: #90957e;
	border: 0;
	font-size: 14px;
	color: #FFFFFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	cursor: pointer;
	}
.contact-form input.checkbox {
	width: auto;
	color: #FFFFFF;
	border: 0;
	margin: -4px 9px 0 0;
	padding: 0;
	}
.signup-form td label {
	color: #444;
	font-size: 12px;
}



/* -----[ Easy Float Clearing (apply class to float *container*) ]----- */ 
/* -----[   http://positioniseverything.net/easyclearing.html ]----- */ 
.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
.clearfix {display:inline-block;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
/* End hide from IE-mac */


#fat-footer-mn table td {
	vertical-align: top;
}

.product-info div.product img {
	border: 10px solid #f4f8e7;
	margin: 15px 0 10px 0;
	-moz-border-top-colors: #f4f8e7;
	-moz-border-right-colors: #f4f8e7;
	-moz-border-bottom-colors: #f4f8e7;
	-moz-border-left-colors: #f4f8e7;
}


/* Email forms Styles - added 8-25-2010 */

.validation_summary {	
	border-right: #cc3333 1px solid;	
	padding-right: 10px;	
	border-top: #cc3333 1px solid;		
	padding-left: 15px;	
	background: #fff6f6;
	padding-bottom: 6px;	
	margin: 4px 0px 16px;	
	border-left: #cc3333 1px solid;	
	width: 425px;	
	color: #000;	
	padding-top: 4px;	
	border-bottom: #cc3333 1px solid;
	line-height: 1.75em;	
	list-style-type: square;
}
.validation_summary  p strong{
	color: #cc3333;
}
.validation_summary  ul {
	font-size: 0.8em;
	color: #000;
	line-height: 1.75em;	
	list-style-type: square;
	margin-left: 20px;
}
.validation_summary ul li {
	background-image: none;
	list-style-type: square;
	padding: 0;
	margin: 0 0 6px 0;
	font-size: 1em;
}
.contact-form input, .contact-form .state {
	font-size: 0.9em;
}	
.contact-form TEXTAREA {
	width: 370px;
}
.contact-form .category input, .contact-form .consent input {
	width: auto;
	border: 0;
	margin: 0 9px 0 0;
	padding: 0;
	display: block;
	float: left;
}
.contact-form .category label, .contact-form .consent label {
	font-size: 0.9em;
	font-weight: normal;
	width: 345px;
	margin: 0 auto;
}
.form_label {
  float: left;
  padding: 0;
  width: 120px;
  text-align: right;
  line-height: 1.75em;
}
.form_element {
  display: block;
  margin-left: 125px;
  text-align: left;
  line-height: 1.75em;
  font-weight: normal;
}

/* SIGN-UP FORM - Mods to existing contact-form styles using a new class
   name (so existig forms using contact-form class don't get messed-up).
   signup-form class added to contact-form rules above, where needed.
--------------------------------------------------------------------- */
.signup-form {
	margin-top: 15px;
}
.signup-form input, .signup-form select {
	width: auto;
	font-size: .9em;
}
.signup-form label {
  padding: 0;
  margin: 2px 5px 0 0;
  float: left;
  width: 120px;
  text-align: right;
  line-height: 1.75em;
}
.signup-form label.twolines {
  margin-bottom: 25px
}
.signup-form .lists {
	margin: 0;
	padding: 0;
	border: none;
}
.signup-form fieldset legend {
	padding: 10px 0;
	color: #444;
	font-size: 0.8em;
	line-height: 1.4em;
}
.signup-form .lists label {
	float: none;
	width: auto;
	font-size: 0.9em;
	line-height: normal;
}
.signup-form .lists input {
	margin: 0 5px 0 125px;
	padding-top: 0;
	padding-bottom: 0;
	border: none;
	background: none;
}
.signup-form .lists label, .signup-form .consent label {
	float: none;
	width: auto;
}
.signup-form .consent input {
	margin: 10px 5px 0 125px;
	border: none;
	background: none;
}
.signup-form #signup {
	margin: 10px 0 0 125px;
	cursor: pointer;
}

.tiny_textbox, .signup-form .tiny_textbox { width: 50px;}
.small_textbox, .signup-form .small_textbox { width: 90px; }
.medium_textbox, .signup-form  .medium_textbox { width: 160px; }
.large_textbox, .signup-form .large_textbox { width: 290px; }

/* -- BASIC JS WORD/CHAR COUNTER STYLES -- */
.counter{
	margin: 0 5px 0 0;
	padding: 0;
	display: block;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 10px;
	text-align: right;
	color: #666;
	font-weight: normal;
}	
.exceeded{color: #900;}

/* -- Tech Partnering Form -- */
.signup-form #idea-title textarea, .signup-form #idea-description textarea {
	max-width: none;
	width: 525px;
}
.signup-form .tech-consent input {
	margin-left: 55px;	
}
.signup-form #tech-owner .disclaimer {
	margin-top: 2px;
	margin-left: 125px;
	font-size: 11px;
	color: #666 !important;
}
/* In-Page Twitter Feed Widget Sytles  - overriding Twitter's built-in widget styles
----------------------------------------------------------------------------------------- */
#twtr-widget-1 {
	border: 1px dotted #ccc;
	border-width: 1px 0;
}
#twtr-widget-1 .twtr-hd {
	display: none;
}
#twtr-widget-1 .twtr-bd, #twtr-widget-1 .twtr-timeline i a, #twtr-widget-1 .twtr-bd p {
	font-family: Arial, Helvetica, Tahoma, Geneva, sans-serif;
	font-size: 1em;
	line-height: 17px !important;
}
#twtr-widget-1 .twtr-bd p a.twtr-timestamp, #twtr-widget-1 .twtr-bd p a.twtr-reply {
	color: #9b998e !important;
	font-size: 11px;
}
#twtr-widget-1 .twtr-popular {
	line-height: normal;
	padding: 0;
}
#twtr-widget-1 .twtr-avatar .twtr-img {
	margin-top: 5px;
}
#twtr-widget-1 .twtr-ft a { /* replace their white footer logo with a blue one since it's on our white bkgd */
	background-image: url(../images/logo_twitter_withbird_1000_allblue.png)/*tpa=http://www.monsanto.com/style library/images/logo_twitter_withbird_1000_allblue.png*/;
	background-repeat: no-repeat;
	background-position: left top;
	width: 80px;
	height: 15px;
}
#twtr-widget-1 .twtr-ft a img {
	display: none; /* hide white their logo */	
}
#twtr-widget-1 a.twtr-join-conv {
	font-size: 11px;
	color: #444 !important;
	background: none; /* next three undo rules set for logo issue above (for other a's in footer) */
	width: auto;
	height: auto;
}
/* Sidebox Twitter Feed Widget Sytles - overriding Twitter's built-in widget styles 
----------------------------------------------------------------------------------------- */
#newsroom-twitter-feed h1 { 
	margin-bottom: 4px; 
}
#newsroom-twitter-feed #twtr-widget-1, #newsroom-twitter-feed #twtr-widget-1 .twtr-bd {
	border: none;
	margin: 0;
	padding: 0;	
}
#newsroom-twitter-feed #twtr-widget-1 .twtr-tweet-wrap {
	border: none;
	padding-left: 0;
	padding-right: 0;
}
#newsroom-twitter-feed #twtr-widget-1 .twtr-ft, #newsroom-twitter-feed #twtr-widget-1 .twtr-fav {
	display: none;	
}
#newsroom-twitter-feed #twtr-widget-1 .twtr-tweet {
	padding-bottom: 3px;
	border-color: #b7b7a9;
}
#newsroom-twitter-feed #twtr-widget-1 .twtr-tweet-text p {
	color: #444;
	font-family: Tahoma,Geneva,sans-serif;
	font-size: 11px;
	line-height: 1.3em !important;
}
#newsroom-twitter-feed #twtr-widget-1 .twtr-tweet-text a {
	color: #0a5884 !important;
	text-decoration: underline !important;
}
#newsroom-twitter-feed #twtr-widget-1 .twtr-tweet-text a:hover {
	color: #c55205 !important;
}
#newsroom-twitter-feed #twtr-widget-1 .twtr-timestamp, #newsroom-twitter-feed #twtr-widget-1 .twtr-reply, #newsroom-twitter-feed #twtr-widget-1 .twtr-rt {
	font-size: 9px;
}