/* EDITOR STYLES
--------------------------------------------------------------- */

.mn-publishingCustom-Bold {
	font-weight: bold;
}

.mn-publishingCustom-Emphasis {
	font-style: italic;
}

.mn-publishingCustom-Underline {
	text-decoration: underline;
}

.mn-publishingCustom-Strikethrough {
	text-decoration: line-through
}
.mn-publishingCustom-inline-img-right {
	border: 5px solid #f0ede6;
    float: right;
	margin: 10px 0 20px 20px;
}
.mn-publishingCustom-inline-img-left {
	border: 5px solid #f0ede6;
    float: left;
    margin: 15px 20px 20px 0;
}

.ms-rteCustom-Bold {
	font-weight: bold;
}

.ms-rteCustom-Emphasis {
	font-style: italic;
}

.ms-rteCustom-Underline {
	text-decoration: underline;
}

.ms-rteCustom-Subscript {
	font-size: 80%;
	vertical-align: text-bottom;
}

.ms-rteCustom-Superscript {
	font-size: 80%;
	vertical-align: text-top;
}

.ms-rteCustom-inline-img-right {
	border: 5px solid #f0ede6;
    float: right;
	margin: 10px 0 20px 20px;
}
.ms-rteCustom-inline-img-left {
	border: 5px solid #f0ede6;
    float: left;
    margin: 15px 20px 20px 0;
}

/* TABLES
--------------------------------------------------------------- */

.ms-rteTable-table-1-mn {
	margin: 10px 0;
	padding: 0;
	clear: both;
	border: 1px solid #e9ece3;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1em;
}
.ms-rteTable-table-1-mn th {
	font-size: 0.7em;
	line-height: 1.2em;
	padding: 6px;
	color: #333;
	background-image: url(../images/table-ht-bg2.gif)/*tpa=http://www.monsanto.com/style library/images/table-ht-bg2.gif*/;
	background-repeat: repeat-x;
	border-bottom: 1px solid #e9ece3;
	vertical-align: bottom;
}
.ms-rteTable-table-1-mn td {
	font-size: 0.7em;
	line-height: 1.2em;
	padding: 6px;
	color: #444444;
}
.ms-rteTable-table-1-mn tbody tr.odd td {
	background-color:#F0F2EC;
}
.ms-rteTable-table-2-mn {
	font-family: Tahoma, Geneva, sans-serif;
	background-color: none;
	margin: 10px 0;
	padding: 5px 10px 10px 10px;
	font-size: 1em;
	width: 100%;
	text-align: left;
	color: #444444;
	border: 5px solid #f3f8e7;
	clear: both;
}
.ms-rteTable-table-2-mn thead tr th {
	background-color: #FFF;
	border-bottom: 1px solid #FFF;
	font-size: 0.8em;
	padding: 6px 4px;
	color: #A69D8C;
	border-bottom: 1px solid #f3f8e7;
	font-weight: normal;
	text-align: left;
}
.ms-rteTable-table-2-mn thead tr .header {
	background-image: none;
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
.ms-rteTable-table-2-mn tbody td {
	color: #444444;
	font-size: 0.7em;
	line-height: 1.2em;
	font-family: Tahoma, Geneva, sans-serif;
	border-top: 1px solid #f3f8e7;
	padding: 6px 10px 6px 4px;
	vertical-align: top;
}
.ms-rteTable-table-2-mn thead tr .headerSortUp {
	background-image: url(../images/asc.gif)/*tpa=http://www.monsanto.com/style library/images/asc.gif*/;
}
.ms-rteTable-table-2-mn thead tr .headerSortDown {
	background-image: url(../images/desc.gif)/*tpa=http://www.monsanto.com/style library/images/desc.gif*/;
}
.ms-rteTable-table-3-mn {
	margin: 10px 0;
	padding: 0;
	clear: both;
	font-size: 1em;
}
.ms-rteTable-table-3-mn td {
	border-top: 1px solid #e4e0d6;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	font-size: 0.8em;
	line-height: 1.3em;
	padding: 20px 20px 20px 10px;
	color: #444444;
	vertical-align: top;
}
