/* ------------------------------------------------------------
    Title:     Monsanto.com CSS
    Author:    Greg Maloney | greg.maloney@monsanto.com
			   Hilarie Jezik | hejezi@monsanto.com
    Section:   Home (all pages)
--------------------------------------------------------------- */


@font-face {
    font-family: 'oswaldlight';
    src: url('../fonts/oswald-light-webfont.eot')/*tpa=http://www.monsanto.com/style library/fonts/oswald-light-webfont.eot*/;
    src: url('../fonts/oswald-light-webfont.eot-#iefix')/*tpa=http://www.monsanto.com/style library/fonts/oswald-light-webfont.eot?#iefix*/ format('embedded-opentype'),
         url('../fonts/oswald-light-webfont.woff2')/*tpa=http://www.monsanto.com/style library/fonts/oswald-light-webfont.woff2*/ format('woff2'),
         url('../fonts/oswald-light-webfont.woff')/*tpa=http://www.monsanto.com/style library/fonts/oswald-light-webfont.woff*/ format('woff'),
         url('../fonts/oswald-light-webfont.ttf')/*tpa=http://www.monsanto.com/style library/fonts/oswald-light-webfont.ttf*/ format('truetype'),
         url('../fonts/oswald-light-webfont.svg#oswaldlight')/*tpa=http://www.monsanto.com/style library/fonts/oswald-light-webfont.svg#oswaldlight*/ format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'oswaldbook';
    src: url('../fonts/oswald-regular-webfont.eot')/*tpa=http://www.monsanto.com/style library/fonts/oswald-regular-webfont.eot*/;
    src: url('../fonts/oswald-regular-webfont.eot-#iefix')/*tpa=http://www.monsanto.com/style library/fonts/oswald-regular-webfont.eot?#iefix*/ format('embedded-opentype'),
         url('../fonts/oswald-regular-webfont.woff2')/*tpa=http://www.monsanto.com/style library/fonts/oswald-regular-webfont.woff2*/ format('woff2'),
         url('../fonts/oswald-regular-webfont.woff')/*tpa=http://www.monsanto.com/style library/fonts/oswald-regular-webfont.woff*/ format('woff'),
         url('../fonts/oswald-regular-webfont.ttf')/*tpa=http://www.monsanto.com/style library/fonts/oswald-regular-webfont.ttf*/ format('truetype'),
         url('../fonts/oswald-regular-webfont.svg#oswaldbook')/*tpa=http://www.monsanto.com/style library/fonts/oswald-regular-webfont.svg#oswaldbook*/ format('svg');
    font-weight: normal;
    font-style: normal;

}



/* SKIN 1
--------------------------------------------------------------- */

#home-skin1 {
	width: 960px;
	float: left;
	padding: 0 0 40px 0;
}
#home-skin1 .home-column1, #home-skin1 .home-column2, #home-skin1 .home-column3 {
	width: 288px;
	float: left;
}
#home-skin1 .home-column1 {
	margin: 0 28px 0 20px;
	min-height: 200px;
}
#home-skin1 .home-column2 {
	margin: 0 28px 0 0;
}
#home-skin1 .home-column3 {
	margin: 0;
}
#home-skin1 .home-row1 {
	width: 604px;
	float: left;
	margin: 0 0 20px 0;
}



/* SKIN 2
--------------------------------------------------------------- */

#home-skin2 {
	width: 960px;
	float: left;
	padding: 0 0 40px 0;
}
#home-skin2 .home-column1, #home-skin2 .home-column2, #home-skin2 .home-column3 {
	width: 288px;
	float: right;
}
#home-skin2 .home-column1 {
	margin: 0 20px 0 28px;
}
#home-skin2 .home-column2 {
	margin: 0 0 0 28px;
}
#home-skin2 .home-column3 {
	margin: 0;
}
#home-skin2 .home-row1 {
	width: 604px;
	float: right;
	margin: 0 0 20px 0;
}



/* LATEST HEADLINES
--------------------------------------------------------------- */

.latest-headlines {
	margin: 0;
	padding: 0;
	width: 100%;
	float: left;
	font-size: 17px;
	color: #494949;
	font-family: "oswaldbook";
	font-weight: normal;
}
ul.headlines {
	border-top: 1px solid #c6c3b2;
	margin: 0;
	padding: 0;
}
ul.headlines li {
	border-bottom: 1px dotted #c6c3b2;
	margin: 0;
	padding: 6px 3px 6px 0;
	list-style-type: none;
	color: #646257;
	line-height: 1.3em;
	font-size: 13px;
}
ul.headlines li em {
	color: #9b998e;
	font-style: normal;
	font-size: 85%;
}
ul.headlines li.more-news {
	list-style-type: none;
	margin: 0;
	padding: 10px 3px 5px 0;
	border-bottom: none;
}
ul.headlines li.more-news a:link, ul.headlines li.more-news a:visited, ul.headlines li.more-news a:active {
	color: #675e52;
	line-height: 1em;
	font-size: 0.9em;
}
ul.headlines li.more-news a:hover {
	color: #c55205;
}



/* STORY TEASERS
--------------------------------------------------------------- */

.home-teaser {
	margin: 0;
	width: 100%;
	float: left;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1em;
}
.home-teaser p {
	margin: 0 0 10px 0;
	color: #646257;
	line-height: 1.3em;
	font-size: 85%;
}
.home-teaser img {
	padding: 5px;
	background-color: #c6c3b2;
	margin: 5px 15px 12px 0;
	float: left;
}



/* STOCK INFO
--------------------------------------------------------------- */

.stock-price {
	width: 288px;
	float: left;
	padding: 0 0 4px 0;
	background-repeat: no-repeat;
	background-position: bottom;
	font-size: 17px;
	color: #494949;
	font-family: "oswaldbook";
	font-weight: normal;
}
.stock-price p {
	margin: 0 0 10px 0;
	color: #646257;
	line-height: 1.3em;
	font-size: 85%;
}
.stock-links {
	margin: 8px 0 0 0;
	font-size: 0.8em;
	color: #817C61;
	font-weight: normal;
	font-family: "Oswald", Tahoma, Geneva, sans-serif;
}
.stock-links a:link, .stock-links a:visited, .stock-links a:active {
	color: #64614b;
	text-decoration: underline;
	font-size:14px;
}
.stock-links a:hover {
	color: #c55205;
	text-decoration: underline;
}


.stock-label {
	font-size: 13px;
}



.stock-change {
	font-size: 13px;
	padding-left: 20px;
	font-family: "oswaldlight";
}

.stock-value {
	font-size: 13px;
	padding-left: 20px;
	font-family: "oswaldlight";
}



/* BOXES

.home-box1 {
	width: 258px;
	float: left;
	margin: 0;
	padding: 12px 15px;
	background-image: url(../images/home-box1-bg.png);
	background-repeat: no-repeat;
	background-position: top;
}
.home-box1 img {
	margin: 0 1px 0 0;
}

*/

/* SOCIAL MEDIA
--------------------------------------------------------------- */

#home-social-media {
	width: 288px;
	float: left;
	padding: 0 0 4px 0;
	background-image: url(../images/home-box1-bottom.png)/*tpa=http://www.monsanto.com/style library/images/home-box1-bottom.png*/;
	background-repeat: no-repeat;
	background-position: bottom;
}
#home-social-media ul {
	padding: 2px 0 0 0;
	margin: 0;
	float: left;
	width: 100%;
	list-style: none;
	font-size: 1.1em;
}
#home-social-media ul li{
	padding: 0; margin: 0;
	float: left;
	position: relative;
}
#home-social-media ul li a{
	padding: 0;
	margin: 0 5px 0 0;
	float: left;
	text-indent: -9999px; /*--For text replacement - Shove text off of the page--*/
	height: 38px; width: 38px;
	text-decoration: none;
	color: #333;
	position: relative;
}
html #home-social-media ul li a.active { /*--Active state when sub-panel is open--*/
	background-color: #fff;
	height: 38px;
	margin-top: -2px; /*--Push it up 2px to attach the active button to sub-panel--*/
	border: 1px solid #555;
	border-top: none;
	z-index: 200; /*--Keeps the active link on top of the sub-panel--*/
	position: relative;
}

a.facebook{ background: url(../images/facebook.png)/*tpa=http://www.monsanto.com/style library/images/facebook.png*/ no-repeat center center;  }
a.twitter{ background: url(../images/twitter.png)/*tpa=http://www.monsanto.com/style library/images/twitter.png*/ no-repeat center center;  }
a.youtube{ background: url(../images/youtube.png)/*tpa=http://www.monsanto.com/style library/images/youtube.png*/ no-repeat center center; }
a.instagram{ background: url(../images/instagram.png)/*tpa=http://www.monsanto.com/style library/images/instagram.png*/ no-repeat center center; }
a.rss{ background: url(../images/rss.png)/*tpa=http://www.monsanto.com/style library/images/rss.png*/ no-repeat center center; }
a.blog{ background: url(../images/blog-icon.png)/*tpa=http://www.monsanto.com/style library/images/blog-icon.png*/ no-repeat center center; }



/* SOCIAL MEDIA TOOLTIPS
--------------------------------------------------------------- */

#home-social-media a small {
	text-align: center;
	width: 60px;
	background: url(../images/pop_arrow.gif)/*tpa=http://www.monsanto.com/style library/images/pop_arrow.gif*/ no-repeat center bottom;
	padding: 8px 5px 9px;
	display: none; /*--Hide by default--*/
	color: #fff;
	font-size: 0.8em;
	text-indent: 0;
	font-family: Tahoma, Geneva, sans-serif;
}
#home-social-media a:hover small{
	display: block; /*--Show on hover--*/
	position: absolute;
	top: -32px; /*--Position tooltip 35px above the list item--*/
	left: 50%;
	margin-left: -35px; /*--Center the tooltip--*/
	z-index: 9999;
}



/* RANDOM STUFF
--------------------------------------------------------------- */

.hero {
	margin: 0;
	padding: 8px;
	float: left;
}
h1 {
	font-size: 1em;
	line-height: 1.5em;
	color: #2b1f12;
	font-weight: bold;
	padding: 0;
	margin: 0 0 7px 0;
	font-size: 17px;
	color: #494949;
	font-family: "oswaldbook", Tahoma, Geneva, sans-serif;
	font-weight: normal;
}
h2 {
	font-size: 1em;
	line-height: 1.2em;
	color: #2b1f12;
	font-weight: bold;
	margin: 4px 0 5px 0;
}
h2 a:link, h2 a:active, h2 a:visited {
	color: #2b1f12;
	text-decoration: none;
}
h2 a:hover {
	color: #c55205;
	text-decoration: none;
}
h3 {
	font-size: 0.9em;
	color: #2b1f12;
	font-weight: bold;
	margin: 0 0 8px 0;
	font-family: Tahoma, Geneva, sans-serif;
}
h3 em {
	float: right;
	margin: 2px 0 0 0;
	font-size: 0.8em;
	color: #494949;
	font-weight: normal;
	font-family: "oswaldbook", Tahoma, Geneva, sans-serif;
	text-transform: none;
	font-style: normal;
}


/*..........Box Header...............*/

h3.box {
	font-size: 17px;
	color: #494949;
	font-family: "oswaldbook", Tahoma, Geneva, sans-serif;
	font-weight: normal;
	padding-left:3px;
}

hr.box {
	width: 270px;
	color: #c1beac;
	background-color: #c1beac;
	float:left;
	margin-top:0;
	height:1px;
	border:none;
}



/*.............Our Brands...........*/
td.allbrands {
	background-color:#9dbb67;
	color:#FFFFFF;
	font-family: "oswaldbook", Tahoma, Geneva, sans-serif;
	font-weight: normal;
	font-size:12px;
	padding-left: 13px;
}

td.allbrands a {
	display:inline-block;
    
	text-decoration:none;
	color:#FFFFFF;
}

td.allbrands a:hover {
	color:#494949;
}





/*.......... Callout Boxes ..........*/

#home-callout {
	width:305px;
	height: 190px;
	position:relative;
	overflow: hidden;
}



.text-bar {
	background-color: #9dbb67;
	width:305px;
	Height:70px;
	position: absolute;
	bottom: 0;
	opacity: .97;
	
}

.text-bar h4 {
	color:#FFFFFF;
	line-height: 0px;
	font-weight:normal;
	font-size:18px;
	margin-top: 13px;
	margin-bottom:0;
	margin-left: 3px;
	font-family: "oswaldbook", Tahoma, Geneva, sans-serif;
	margin-right: 3px;
	letter-spacing: -0.4px;
	
}

.text-bar p {
	color: #FFFFFF;
	line-height:20px;
	font-family: "oswaldlight", Tahoma, Geneva, sans-serif;
	font-size:15px;
	margin-top:1;
	margin-left: 3px;
	margin-right: 3px;
}







/*..........Discover Box..........*/


#discover-bg {
	width:314px;
	height: 288px;
	position:relative;
	background-color:#FFFFFF;
}

#discover-bg ul {
	list-style-type:none;
	padding:7px;
	list-style-position:inside;
	
}

#discover-bg ul a {
	text-decoration: none;
}

.discover-row1 li {
	background-image: url('../../sitecollectionimages/row-green-1.jpg')/*tpa=http://www.monsanto.com/SiteCollectionImages/row-green.jpg*/;
	height: 61px;
	width:300px;
	text-align:center;
	margin-bottom:10px;
	color: #FFFFFF;
	font-family: "oswaldbook", Tahoma, Geneva, sans-serif;
	font-weight:normal;
	font-size:22px;
	line-height:60px;
	
	
}

.discover-row2 {
	background-image: url('../../sitecollectionimages/row-yellow-1.jpg')/*tpa=http://www.monsanto.com/SiteCollectionImages/row-yellow.jpg*/;
	height: 61px;
	width:300px;
	text-align:center;
	margin-bottom:10px;
	color: #FFFFFF;
	font-family: "oswaldbook", Tahoma, Geneva, sans-serif;
	font-weight:normal;
	font-size:22px;
	line-height:60px;
}

.discover-row3 {
	background-image: url('../../sitecollectionimages/row-blue-1.jpg')/*tpa=http://www.monsanto.com/SiteCollectionImages/row-blue.jpg*/;
	height: 61px;
	width:300px;
	text-align:center;
	margin-bottom:10px;
	color: #FFFFFF;
	font-family: "oswaldbook", Tahoma, Geneva, sans-serif;
	font-weight:normal;
	font-size:22px;
	line-height:60px;
}

.discover-row4 {
	background-image: url('../../sitecollectionimages/row-orange-1.jpg')/*tpa=http://www.monsanto.com/SiteCollectionImages/row-orange.jpg*/;
	height: 61px;
	width:300px;
	text-align:center;
	margin-bottom:10px;
	color: #FFFFFF;
	font-family: "oswaldbook", Tahoma, Geneva, sans-serif;
	font-weight:normal;
	font-size:22px;
	line-height:60px;
}
