/* ------------------------------------------------------------
    Title:     Monsanto.com CSS
    Author:    Greg Maloney | greg.maloney@monsanto.com
			   Hilarie Jezik | hejezi@monsanto.com
    Section:   All Pages (IE7)
	Updated:   February 15, 2011
--------------------------------------------------------------- */


/* IE7 HACKS
--------------------------------------------------------------- */

#footer-mn p.master-copyright {
	float: left;
	width: 700px;
}
.monsanto-sites-btn {
	width: 150px;
}
form .nomination-form input.fm-submit-btn {
	padding: 10px 0px;
	width: 185px;
}
.column1-mn {
	padding: 0 0 50px 0;
}
.follow-links {
	float: right;
	clear: left;
	margin: 0;
	padding: 0;
}
#footer-mn hr {
	border-top: none; border-left: none; border-right: none;
	border-bottom: 1px solid #bfb8aa;
	background-color: none;
	clear: both;
}
#footer-mn p {
	margin: 0;
	padding: 0;
}
.contact-form select {
	margin: 5px 0;
	}
.ad-box-1 {
	float: left;
	width: 180px;
	margin: 0;
	padding: 0 0 7px 0;
}
.side-box-1, .side-box-2, .side-box-3 {
	float: none;
}
.side-box-2 {
	width: 130px;
}
.news-box1 {
	float: none;
}
.news-box1 ul.list {
	padding: 0;
	margin: 0 0 5px 0;
}
.news-box1 ul.list li {
	padding: 0 2px 6px 13px;
	line-height: 1.2em;
	font-size: 0.7em;
	font-family: Tahoma, Geneva, sans-serif;
	background-position: 3px 6px;
}
.content1-mn ol ul li {
	padding: 2px 2px 3px 0;
	margin: 0 0 6px 0;
	list-style-type: circle;
	background-image: none;
	color: #555555;
	font-size: 13px;
}


/* NAVIGATION
--------------------------------------------------------------- */

.utility-bar-mn {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	color: #968974;
	margin: 10px 6px 3px 0;
	padding: 0;
	float: right;
}
#nav-mn {
	margin: 0 -1px 0 0;
	padding: 0;
	float: right;
	list-style: none;
	font-size: .8em;
	width: 710px;
	/* next two fix other relative content from overlapping dropdowns in ie7 (e.g. Improving Ag banner w/video) */
	position: relative; 
	z-index: 100;
}
/* #subnav-mn ul li.expanded a {
	padding: 0 5px 2px 2px;
	line-height: 1em;
}*/
#subnav-stlg {
	padding-top: 165px;
}


/* CAREERS
--------------------------------------------------------------- */

#careers-box3 p {
	color: #c8c2bc;
	font-size: 0.7em;
	font-family: Tahoma, Geneva, sans-serif;
	padding: 27px 3px 0;
	margin: 6px 0;
	line-height: 1.2em;
}
#careers-box3 select {
	padding: 3px;
	margin: 0 0 8px 2px;
	font-size: 0.8em;
	width: 195px;
}



/* TABS
--------------------------------------------------------------- */

ul.box-tabs-mn li a, ul.box-tabs-mn li a:hover, html ul.box-tabs-mn li.active a, html ul.box-tabs-mn li.active a:hover  {
	background-position: 1px 1px;
}


/* TABLES
--------------------------------------------------------------- */

table.tablesorter-2 thead tr th, table.tablesorter-2 tfoot tr th {
	padding: 6px 8px;
}
table.tablesorter-2 tbody td {
	padding: 6px 10px 6px 8px;
}


/* CLIPOUT (used to clip image small so we don't have to manually create a new image)
--------------------------------------------------------------- */

.clipout {
	z-index: 0;
}
.clipin {
	z-index: 0;
}