/* ------------------------------------------------------------
    Title:     Monsanto.com CSS
    Author:    Greg Maloney | greg.maloney@monsanto.com
    Section:   Main Navigation (all pages)
	Updated:   November 12, 2013
--------------------------------------------------------------- */

@font-face {
    font-family: 'franklin_gothiccondensed';
    src: url('Unknown_83_filename')/*tpa=http://www.monsanto.com/style library/fonts/frankgo-webfont.eot*/;
    src: url('Unknown_83_filename#iefix')/*tpa=http://www.monsanto.com/style library/fonts/frankgo-webfont.eot?#iefix*/ format('embedded-opentype'),
         url('Unknown_83_filename')/*tpa=http://www.monsanto.com/style library/fonts/frankgo-webfont.woff*/ format('woff'),
         url('Unknown_83_filename')/*tpa=http://www.monsanto.com/style library/fonts/frankgo-webfont.ttf*/ format('truetype'),
         url('Unknown_83_filename#franklin_gothiccondensed')/*tpa=http://www.monsanto.com/style library/fonts/frankgo-webfont.svg#franklin_gothiccondensed*/ format('svg');
    font-weight: normal;
    font-style: normal;
}

/* TABS
--------------------------------------------------------------- */
#nav-mn {
	margin: 0 5px 0 0;
	padding: 0px;
	float: right;
	list-style: none;
	font-size: .8em;
	height: 50px;
	-moz-border-radius: 6px;  
	-webkit-border-radius: 6px;  
	border-radius: 6px;
}
#nav-mn li {
	float: right;
	position: relative;
	display: block;
    padding: 0;  
    margin: 3px 0 0 3px; 
    border:none;
	font-family: 'Oswald', Arial, Helvetica, sans-serif;
	font-size: 19px;
	font-weight: 400;
	-moz-border-radius: 5px 5px 0px 0px;  
	-webkit-border-radius: 5px 5px 0px 0px;  
	border-radius: 5px 5px 0px 0px;
}
#nav-mn li a {
	display: block;
	outline: 0;
	text-decoration: none;
	margin: 0;
	padding: 10px 15px 10px 15px;
	float: left;
	color: #4c443c;
}
#nav-mn li .dropdown h4 a {
	float: none;
}
#nav-mn li:hover {  
    padding: 0;
	background: #fff;
	-moz-border-radius: 5px 5px 0px 0px;  
    -webkit-border-radius: 5px 5px 0px 0px;  
    border-radius: 5px 5px 0px 0px;
	-moz-box-shadow: 0 -1px 2px 0px rgba(0, 0, 0, 0.10);
	-webkit-box-shadow:  0 -1px 2px 0px rgba(0, 0, 0, 0.10);
	-o-box-shadow:  0 -1px 2px 0px rgba(0, 0, 0, 0.10);
	box-shadow:  0 -1px 2px 0px rgba(0, 0, 0, 0.10);
}
#nav-mn li.current {  
    padding: 0;
	background: #fff;
	-moz-border-radius: 5px 5px 0px 0px;  
    -webkit-border-radius: 5px 5px 0px 0px;  
    border-radius: 5px 5px 0px 0px;
	-moz-box-shadow: 0 -1px 2px 0px rgba(0, 0, 0, 0.10);
	-webkit-box-shadow:  0 -1px 2px 0px rgba(0, 0, 0, 0.10);
	-o-box-shadow:  0 -1px 2px 0px rgba(0, 0, 0, 0.10);
	box-shadow:  0 -1px 2px 0px rgba(0, 0, 0, 0.10);
	height: 47px;
}
#nav-mn .dropdown li.current {  
    padding: 0;
	background: auto;
	-moz-border-radius: 0;  
    -webkit-border-radius: 0;
    border-radius: 0;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	height: auto;
}

#nav-mn li ul li {
	float: none;
	margin-left: 0;
	margin-left: -5px\9;
	padding-right: 10px\9;
}
#nav-mn li ul li:hover {  
    padding: 0;
	background: none;
	-moz-border-radius: 0px 0px 0px 0px;  
    -webkit-border-radius: 0px 0px 0px 0px;  
    border-radius: 0px 0px 0px 0px;
	-moz-box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0);
	-webkit-box-shadow:  0 0 0px 0px rgba(0, 0, 0, 0);
	-o-box-shadow:  0 0 0px 0px rgba(0, 0, 0, 0);
	box-shadow:  0 0 0px 0px rgba(0, 0, 0, 0);
	/* Adding border for IE */
	border-left: #e5e5e5 1px solid\9;
	border-bottom: #e5e5e5 1px solid\9;
	border-right: #e5e5e5 1px solid\9;
	border-top: none;
}
#nav-mn li ul li:hover {  
	/* Border for IE */
	border: none\9;
}
#nav-mn li a:hover {  
	color: #4c443c;
}
.dropdown {  
    margin: 12px auto;  
    position: absolute;  
    left: -999em;
    text-align: left;  
    padding: 0 5px 10px 5px;    
    border-top: none;
	background: #FFF;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	line-height: 17px;
	color: #4c443c;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #FAF9F3));
	background: -webkit-linear-gradient(#ffffff, #FAF9F3);
	background: -moz-linear-gradient(#ffffff, #FAF9F3);
	background: -o-linear-gradient(#ffffff, #FAF9F3);
	background: -ms-linear-gradient(#ffffff, #FAF9F3);
	background: linear-gradient(#ffffff, #FAF9F3);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	-moz-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
	/* Adding border for IE */
	border-left: #e5e5e5 1px solid\9;
	border-bottom: #e5e5e5 1px solid\9;
	border-right: #e5e5e5 1px solid\9;
	z-index: 100;
}
.super-tab1 {
	width: 200px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
.super-tab2 {
	width: 940px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
.super-tab3 {
	width: 940px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
	padding-bottom: 20px \9;
}
.super-tab4 {
	width: 200px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
#nav-mn li:hover .dropdown.super-tab1, #nav-mn li:hover .dropdown.super-tab2, #nav-mn li:hover .dropdown.super-tab3 {
	top: 35px;
}

.clearfix {
  overflow: auto;
}

/* First Tab
--------------------------------------------------------------- */
#nav-mn li:hover #tab0.dropdown.super-tab1 {  
    left: 0px;
}
@media screen and (-moz-images-in-menus:0) {
#nav-mn li:hover #tab0.dropdown.super-tab2, #nav-mn li:hover #tab0.dropdown.super-tab3 {  
    left: -404px;
}
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    #nav-mn li:hover #tab0.dropdown.super-tab2, #nav-mn li:hover #tab0.dropdown.super-tab3 {  
    left: -400px;
}
}
#nav-mn li:hover #tab0.dropdown.super-tab2, #nav-mn li:hover #tab0.dropdown.super-tab3 {  
	left: -401px \9;
}

/* Second Tab
--------------------------------------------------------------- */
#nav-mn li:hover #tab1.dropdown.super-tab1 {  
    left: 0px;
}
@media screen and (-moz-images-in-menus:0) {
#nav-mn li:hover #tab1.dropdown.super-tab2, #nav-mn li:hover #tab1.dropdown.super-tab3 {  
    left: -524px;
}
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    #nav-mn li:hover #tab1.dropdown.super-tab2, #nav-mn li:hover #tab1.dropdown.super-tab3 {  
    left: -521px;
}
}
#nav-mn li:hover #tab1.dropdown.super-tab2, #nav-mn li:hover #tab1.dropdown.super-tab3 {  
	left: -522px \9;
}

/* Third Tab
--------------------------------------------------------------- */
#nav-mn li:hover #tab2.dropdown.super-tab1 {  
    left: 0px;
}
@media screen and (-moz-images-in-menus:0) {
#nav-mn li:hover #tab2.dropdown.super-tab2, #nav-mn li:hover #tab2.dropdown.super-tab3 {  
    left: -624px;
}
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    #nav-mn li:hover #tab2.dropdown.super-tab2, #nav-mn li:hover #tab2.dropdown.super-tab3 {  
    left: -621px;
}
}
#nav-mn li:hover #tab2.dropdown.super-tab2, #nav-mn li:hover #tab2.dropdown.super-tab3 {  
	left: -622px \9;
}

/* Fourth Tab
--------------------------------------------------------------- */
#nav-mn li:hover #tab3.dropdown.super-tab1 {  
    left: -19px;
}
@media screen and (-moz-images-in-menus:0) {
#nav-mn li:hover #tab3.dropdown.super-tab2, #nav-mn li:hover #tab3.dropdown.super-tab3 {  
    left: -759px;
}
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    #nav-mn li:hover #tab3.dropdown.super-tab2, #nav-mn li:hover #tab3.dropdown.super-tab3 {  
    left: -758px;
}
}
#nav-mn li:hover #tab3.dropdown.super-tab2, #nav-mn li:hover #tab3.dropdown.super-tab3 {  
	left: -759px \9;
}



#nav-mn li:hover div a {  
    font-size:12px;  
    color:#0a5884;  
}
#nav-mn li:hover div a:hover {
	color: #c55205;
}
.dropdown ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#nav-mn .section-0 ul li a {
	padding: 6px 15px;
	min-width: 140px;
}
#nav-mn .section-1 ul li a, #nav-mn .section-6 ul li a {
	padding: 6px 0;
	clear: both \9;
	padding-left: 5px \9;
}
#nav-mn .section-2 ul li a {
	padding: 6px 0 10px 0;
	clear: both \9;
	padding-left: 5px \9;
}
.super-tab1 a,
.super-tab2 a,
.super-tab3 a,
.super-tab4 a {
	text-decoration: none;
	font-weight: bold;
	display: block;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	line-height: 17px;
	/*color: #4c443c;*/
	background-color: transparent;
}

/* Nav Brands */
#nav-mn ul.nav-brands {
	clear: both \9;
	padding-bottom: 10px;
	float: left;
}
#nav-mn ul.nav-brands li {
	float: left;
	width: auto;
}
#nav-mn ul.nav-brands li:hover {
	padding-right: 10px \9;
}

/* Sections */
.section-0 {
	padding: 0px;
	width: 180px;
}
.section-1 {
	padding: 23px;
	width: 145px;
}
.section-1 ul li{
    clear: both;
}
.section-2 {
	margin: 23px 0;
	padding: 0 20px;
	width: 410px;
	border-left: 1px solid #e8e6df;
	border-right: 1px solid #e8e6df;
}
.section-3 {
	padding: 20px;
	width: 245px;
}
.section-4 {
	padding: 20px;
	width: 490px;
}
.sec-4-content{
	width: 230px;
}
.sec-4-content p {
	clear: both \9;
}
#nav-mn .sec-4-content h4 a {
	margin: 0;
	padding-top: 0;
	padding-left: 0 \9;
}
.section-5 {
	margin: 23px 0;
	padding: 0 20px;
	width: 160px;
	border-left: 1px solid #e8e6df;
	border-right: 1px solid #e8e6df;
}
.section-6 {
	margin: 23px 20px;
	width: 160px;
}
.section-6 ul li{
    clear: both;
}
.pull-left{float: left;}
.pull-right{float: left;}

.section-1 img, .section-2 img, .section-3 img, .section-4 img, .section-5 img, .section-6 img {
	margin: 0 20px 0 0;
}
.section-1 h3, .section-2 h3, .section-3 h3, .section-4 h3, .section-5 h3, .section-6 h3,
.section-1 h4, .section-2 h4, .section-3 h4, .section-4 h4, .section-5 h4, .section-6 h4, 
.section-1 h5, .section-2 h5, .section-3 h5, .section-4 h5, .section-5 h5, .section-6 h5 {
	clear: both;
}
.section-1 h4, .section-2 h4, .section-3 h4, .section-4 h4, .section-5 h4, .section-6 h4 {
	font-size: 15px;
	margin: 0px 0 5px -15px;
	padding: 0;
	line-height: 20px;
}
.section-1 h5, .section-2 h5, .section-3 h5, .section-4 h5, .section-5 h5, .section-6 h5 {
	color: #b5b2aa;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0 0 10px 0;
	padding: 0;
}
.section-1 em, .section-2 em, .section-3 em, .section-4 em, .section-5 em, .section-6 em {
	color: #82776c;
	text-decoration: none;
	font-weight: normal;
	font-size: 12px;
}
.section-1 p, .section-2 p, .section-3 p, .section-4 p, .section-5 p, .section-6 p{
	font-size: 13px;
	margin: 0 0 12px 0;
	padding: 0;
}

/* SUB NAV
--------------------------------------------------------------- */

#subnav-mn h1 {
	color: #54761e;
	margin: 0;
	padding: 1px 0px 8px 2px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1.1em;
	font-weight: normal;
	}
#subnav-mn {
	width: 121px;
	margin: 0 10px 0 0;
	padding: 12px;
	background-color: #f3f8e7;
	float: left;
}

#subnav-mn ul {
	list-style-type: none;
	margin: 0 0 20px 0;
	padding: 0;
}

#subnav-mn ul li {
	display: block;
	font-family: Arial, Helvetica, sans-serif;
}

#subnav-mn ul li a:link, #subnav-mn ul li a:visited {
	color: #555555;
	display: block;
	padding: 8px 2px;
	text-decoration: none;
	font-size: 0.7em;
	line-height: 1.3em;
	font-weight: bold;
	border-top: 1px solid #dbe0d1;
}

#subnav-mn ul li.expanded a {
	color: #555555;
	font-weight: bold;
	border-top: 1px solid #dbe0d1;
	padding: 8px 5px 2px 2px;
}

#subnav-mn ul li ul {
	margin: 0 0 8px 0;
}
#subnav-mn ul li ul li {
	display: block;
}
#subnav-mn ul li ul li ul {
	margin: 2px 0;
	padding: 0;
}
#subnav-mn ul li ul li ul li {
	display: block;
	padding: 0 0 0 9px;
	background-image: url(../images/bullet1.gif)/*tpa=http://www.monsanto.com/style library/images/bullet1.gif*/;
	background-repeat: no-repeat;
	background-position: 3px 9px;
}
#subnav-mn ul li ul li a:link, #subnav-mn ul li ul li a:active, #subnav-mn ul li ul li a:visited {
	color: #555555;
	display: block;
	padding: 3px 2px 2px;
	text-decoration: none;
	font-size: 0.7em;
	font-weight: normal;
	border: none;
}

#subnav-mn ul li a:hover, #subnav-mn ul li ul li a:hover, #subnav-mn ul li ul li a.on:hover, #subnav-mn ul li.expanded a.on:hover { /*hover state CSS*/
	color: #c55205;
}

#subnav-mn ul li a.on:link, #subnav-mn ul li a.on:active, #subnav-mn ul li a.on:visited,
#subnav-mn ul li ul li a.on:link, #subnav-mn ul li ul li a.on:active, #subnav-mn ul li ul li a.on:visited,
#subnav-mn li.expanded a.on:link, #subnav-mn li.expanded a.on:active, #subnav-mn li.expanded a.on:visited {
	color: #c55205;
	font-weight: bold;
}