/* jQuery Nivo Slider v3.1 | http://nivo.dev7studios.com | Copyright 2012, Dev7studios | http://www.opensource.org/licenses/mit-license.php  */

/* CUSTOM NIVO SLIDER STYLES FOR MONSANTO.COM 
------------------------------------------------*/
.nivoSlider {
	position:relative;
	/* base width/height uses sub page rotator size (564 x 300) */
	width: 565px;
	height: 300px;
	overflow: hidden;
	/* loading... */
	background: url(../images/rotator-loading.gif)/*tpa=http://www.monsanto.com/style library/images/rotator-loading.gif*/ no-repeat 50% 50%;
}
div.showcase menu.ms-SrvMenuUI, div.hero menu.ms-SrvMenuUI {
	display: none;
}
/* home page rotator size (914 x 350) */
.hero .nivoSlider {
	width: 914px;
	height: 350px;
}
/* careers rotator size (755 x 360), "#rotator1" was pre-existing */
#rotator-1 .nivoSlider {
	width: 755px;
	height: 360px;
}
/* careers rotator size (565 x 300), "#rotator1" was pre-existing */
.showcase .nivoSlider {
	width: 565px !important;
	height: 300px !important;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
	display: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}
/* if only one img exists in #img-rotator, this class is added by JS */
.nivoSlider img.static { 
	display: block;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	/* next few fix link issue in v.3 */
	/*ie*/
	filter: alpha(opacity=0);
	background: #fff;
	/*non ie*/
	opacity: 0;
	-webkit-opacity:0;
	-moz-opacity:0;
	-khtml-opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Control nav styles */
.hero, #rotator-1 {
	/* controls positioned relative to this */
	position: relative;
}
.nivo-controlNav {
	padding: 0;
	margin: 0;
	left: 45%; /* this will be auto adjusted with JS, based on num of bullets */
	bottom: 0;
	position: absolute;
	z-index: 6;
}
.hero .nivo-controlNav {
	bottom: 8px; /* allow for pre-existing home hero rotator styles */	
}
.nivo-controlNav span {
	margin: 0;
	padding: 0;
	height: 30px;
	display: block;
	float: left;
	background-image: url(../images/rotator-nav-bg-mid.png)/*tpa=http://www.monsanto.com/style library/images/rotator-nav-bg-mid.png*/;
	background-repeat: repeat-x;
	background-position: bottom;
}
.nivo-controlNav a {
	cursor:pointer;
	display: block;
	text-indent:-9999px;
}
.nivo-controlNav a.nivo-prevNav, .nivo-controlNav a.nivo-nextNav {
	margin: 5px 8px 0 18px;
	padding: 0; 
	width: 20px;
	height: 20px;
	background-image: url(../images/rotator-nav-prev.png)/*tpa=http://www.monsanto.com/style library/images/rotator-nav-prev.png*/;
	background-repeat: no-repeat;
	background-position: left top;
}
.nivo-controlNav a.nivo-nextNav {
	margin: 5px 18px 0 8px;
	background-image: url(../images/rotator-nav-next.png)/*tpa=http://www.monsanto.com/style library/images/rotator-nav-next.png*/;
}
.nivo-controlNav .nivo-control {
	margin: 7px 7px 0;
	padding: 0;
	width: 16px;
	height: 16px;
	background-image: url(../images/rotator-nav-dot.png)/*tpa=http://www.monsanto.com/style library/images/rotator-nav-dot.png*/;
	background-repeat: no-repeat;
	background-position: left center;
}
.nivo-controlNav a.active {
	background-image: url(../images/rotator-nav-dot-on.png)/*tpa=http://www.monsanto.com/style library/images/rotator-nav-dot-on.png*/;
}
.nivo-controlNav .left-corner, .nivo-controlNav .right-corner {
	margin: 0;
	padding: 0;
	background-image: url(../images/rotator-nav-bg-left.png)/*tpa=http://www.monsanto.com/style library/images/rotator-nav-bg-left.png*/;
	background-repeat: repeat-x;
	background-position: 0 bottom;	
}
.nivo-controlNav .right-corner {
	padding: 0;
	background-image: url(../images/rotator-nav-bg-right.png)/*tpa=http://www.monsanto.com/style library/images/rotator-nav-bg-right.png*/;
	background-position: right bottom;
}
/* prevent rotator from overlapping dropdowns in ie7 */
#nav-mn {
	*position: relative; /* target IE7 and below */
	*z-index: 100; /* target IE7 and below */
}