/* ------------------------------------------------------------
    Title:     Monsanto.com CSS
    Author:    Greg Maloney | greg.maloney@monsanto.com
    Section:   Print (all pages)
	Updated:   September 8, 2010
--------------------------------------------------------------- */


/* PAGE STRUCTURE
--------------------------------------------------------------- */

body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, Tahoma, Geneva, sans-serif;
	font-size: 1em;
}
.wrapper1-mn {
	margin: 0;
	padding: 0;
}
.content-bottom-mn {
	float: left;
	margin: 0;
}
.content-wrapper-mn {
	float: left;
	padding: 0;
	margin: 0 10px;
}
.content-frame-mn {
	float: left;
	padding: 0;
	margin: 0;
}


/* HEADER
--------------------------------------------------------------- */

.header-mn {
	}
.logo-mn {
	width: 195px;
	height: 67px;
	margin: 0 0 0 13px;
	float: left;
	display: none;
}


/* TABS
--------------------------------------------------------------- */
#nav-mn { display: none; }
#subnav-mn { display: none; }



/* TOP/UTILITY NAV
--------------------------------------------------------------- */
.utility-bar-mn { display: none; }



/* BREADCRUMBS
--------------------------------------------------------------- */
#breadcrumbs-mn { display: none; }



/* COLUMNS
--------------------------------------------------------------- */

.column1-mn {
	float: left;
	width: 100%;
	margin: 0;
}
.column2-mn {
	float: left;
	width: 100%;
	margin: 0 10px 0 0;
}
.column3-mn {
	width: 180px;
	margin: 0;
	float: right;
}
.column4-mn {
	float: left;
	width: 775px;
	margin: 0;
}
.column5-mn {
	float: left;
	width: 33%;
	margin: 15px 20px 0 0;
}
.column6-mn {
	float: left;
	width: 33%;
	margin: 15px 0 30px;
}
.column7-mn {
	float: left;
	width: 33%;
	margin: 15px 20px 30px 0;
}
.column8-mn {
	float: left;
	width: 238px;
	margin: 15px 0 30px 0;
}
.column9-mn {
	float: left;
	width: 930px;
	margin: 0;
}
.column10-mn {
	float: left;
	width: 740px;
	margin: 0 10px 50px 0;
}



/* NEWS ARTICLE
--------------------------------------------------------------- */
.story {
	margin: 0;
	padding: 0;
}
.story h1 {
	font-size: 1.8em;
	padding: 0;
	margin: 20px 0 5px 0;
	color: #2b1f12;
	font-weight: normal;
}
.credit {
	margin: 2px 0 12px;
	padding: 0;
	font-size: 0.8em;
	font-family: Tahoma, Geneva, sans-serif;
	color: #979797;
}
.story-pic1 img {
	border: 5px solid #f0ede6;
	margin: 0 0 10px 0;
	padding: 0;
}



/* STORY HIGHLIGHTS
--------------------------------------------------------------- */
#highlight-box { display: none; }
.article-btns { display: none; }
.story-resource-column { display: none; }


/* CONTENT
--------------------------------------------------------------- */

.content1-mn {
	float: left;
	margin: 15px 0 0 0;
	padding: 0;
}

.content1-mn h1 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1.8em;
	color: #2b1f12;
	margin: 0;
	padding: 0 0 4px 0;
	font-weight: normal;
	line-height: 1.1em;
}
.content1-mn h2 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1em;
	color: #ada98f;
	font-weight: normal;
	font-style: normal;
	margin: 0;
	padding: 0 0 3px 1px;
}
.content1-mn h3 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1.1em;
	color: #2b1f12;
	margin: 0;
	padding: 0 0 5px 0;
	font-weight: normal;
	line-height: 1.2em;
}
.content1-mn p, .product-info p {
	margin: 10px 0 18px 0;
	color: #444444;
	font-size: 0.8em;
	line-height: 1.4em;
}
.content1-mn strong {
	color: #2b1f12;
}
.content1-mn ul {
	padding: 0;
	margin: 20px 10px 20px 20px;
}
.content1-mn ul li {
	padding: 2px 2px 3px 15px;
	margin: 0 0 6px 0;
	list-style-type: disc;
	color: #555555;
	font-size: 0.8em;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.6em;
}
.content1-mn ol {
	padding: 0;
	margin: 20px 10px 20px 20px;
}
.content1-mn ol li {
	padding: 2px 2px 3px 4px;
	margin: 0 0 5px 10px;
	color: #555555;
	font-size: 0.8em;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.6em;
	list-style-position: inherit;
}
.content1-mn ol ul {
	padding: 0;
	margin: 10px 10px 0 15px;
}
.content1-mn ol ul li {
	padding: 2px 2px 3px 0;
	margin: 0 0 6px 12px;
	list-style-type: circle;
	background-image: none;
	color: #555555;
	font-size: 13px;
}
p.disclaimer {
	color: #999;
	font-size: 0.7em;
}



/* INLINE DIVS & VIDEO
--------------------------------------------------------------- */

.inline-resource-column {
	width: 180px;
	margin: 0 0 10px 20px;
	float: right;
}
.inline-resource-column .inline-resource-box1 {
	background-color: #f3f8e7;
	padding: 12px 15px 15px;
	margin: 0 0 10px 0;
	font-family: Tahoma, Geneva, sans-serif;
	color: #2b1f12;
	font-size: 0.7em;
	line-height: 1.2em;
}
.inline-resource-column .inline-resource-box1 img {
	background-color: #e2e6d5;
	border: 1px solid #e2e6d5;
}
.inline-resource-column .inline-resource-box1 p {
	margin: 5px 0;
	padding: 0;
	color: #333333;
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.3em;
}
.inline-resource-column .inline-resource-box1 ul {
	margin: 0;
	padding: 0;
}
.inline-resource-column .inline-resource-box1 ul li {
	display: block;
	padding: 0 0 0 8px;
	margin: 5px 0;
	background-image: url(../images/bullet1.gif)/*tpa=http://www.monsanto.com/style library/images/bullet1.gif*/;
	background-repeat: no-repeat;
	background-position: 0 6px;
	list-style-type: none;
	font-size: 1em;
	line-height: 1.2em;
	color: #333333;
}

.inline-img-1 img {
	margin: 0 0 15px 0;
}
.inline-img-right {
	float: right;
}
.inline-img-right img {
	border: 5px solid #f0ede6;
	margin: 10px 0 20px 20px;
}
.inline-img-left {
	float: left;
}
.inline-img-left img {
	border: 5px solid #f0ede6;
	margin: 15px 20px 20px 0;
}
.inline-video-1 {
	margin: 0 0 15px 0;
}

.float-right img {
	float: right;
	margin: 10px 0 20px 20px;
	border: 5px solid #f0ede6;
}
.float-left img{
	float: left;
	margin: 10px 20px 20px 0;
	border: 5px solid #f0ede6;
}



/* SIDE BOXES
--------------------------------------------------------------- */

.side-box-1 {
	float: left;
	width: 148px;
	padding: 15px;
	margin: 0 0 10px 0;
	border: 1px solid #f0ede6;
}
.side-box-2 {
	float: left;
	width: 140px;
	padding: 15px;
	margin: 0 0 10px 0;
	border: 5px solid #e9ece3;
}
.side-box-3 {
	float: left;
	width: 150px;
	padding: 15px;
	margin: 0 0 10px 0;
	background-color: #f4f8e7;
}
.side-box-1 h1, .side-box-2 h1, .side-box-3 h1  {
	color: #2b1f12;
	font-size: 0.8em;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	text-decoration: none;
	margin: 0 0 9px 0;
	padding: 0;
	line-height: 1em;
}
.side-box-1 h2, .side-box-2 h2, .side-box-3 h2 {
	color: #969c87;
	font-size: 0.7em;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	text-decoration: none;
	margin: 0 0 7px 0;
	padding: 0;
	text-transform: uppercase;
}
.side-box-1 h3, .side-box-2 h3, .side-box-3 h3 {
	font-size: 0.7em;
	color: #2b1f12;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	text-decoration: none;
	margin: 0;
	padding: 0;
}
.side-box-1 p, .side-box-2 p, .side-box-3 p {
	margin: 5px 0 0 0;
	padding: 0 0 6px 0;
	color: #444444;
	font-size: 0.7em;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.3em;
}
.side-box-1 img, .side-box-2 img, .side-box-3 img {
	margin: 0 0 10px 0;
}
.side-box-1 strong, .side-box-2 strong, .side-box-3 strong {
}
.side-box-1 ul, .side-box-2 ul, .side-box-3 ul {
	padding: 0;
	margin: 0 0 3px 0;
}
.side-box-1 ul li, .side-box-2 ul li, .side-box-3 ul li {
	padding: 2px 2px 2px 8px;
	margin: 0 0 3px 0;
	list-style-type: none;
	background-image: url(../images/bullet1.gif)/*tpa=http://www.monsanto.com/style library/images/bullet1.gif*/;
	background-repeat: no-repeat;
	font-size: 0.7em;
	font-family: Arial, Helvetica, sans-serif;
	background-position: 0px 7px;
	color: #444444;
	line-height: 1.2em;
}
.side-box-1 hr, .side-box-2 hr, .side-box-3 hr {
	height: 1px;
	border-bottom: 1px solid #e9ece3;
	border-top: none; border-left: none; border-right: none;
	margin: 6px 0 10px 0;
}


/* AD BOXES
--------------------------------------------------------------- */

.ad-box-1 {
	float: left;
	width: 180px;
	margin: 0 0 10px 0;
	padding: 0;
}




/* PRODUCTS
--------------------------------------------------------------- */

.product-info {
	float: left;
	margin: 12px 0 0 0;
	padding: 0;
}
.product-info p {
	padding: 0;
}
.product-info strong {
	color: #2b1f12;
}
.product-info img {
	border: 10px solid #f4f8e7;
	margin: 15px 0 10px 0;
	-moz-border-top-colors: #f4f8e7;
	-moz-border-right-colors: #f4f8e7;
	-moz-border-bottom-colors: #f4f8e7;
	-moz-border-left-colors: #f4f8e7;
}
.product-info ul {
	padding: 0;
	margin: 20px 10px 20px 20px;
}
.product-info ul li {
	padding: 2px 2px 3px 18px;
	margin: 0 0 6px 0;
	list-style-type: none;
	background-image: url(../images/bullet2.gif)/*tpa=http://www.monsanto.com/style library/images/bullet2.gif*/;
	background-repeat: no-repeat;
	background-position: 0 10px;
	color: #555555;
	font-size: 0.8em;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.6em;
}
.product-info h1 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 2em;
	color: #2b1f12;
	text-transform: none;
	margin: 0;
	padding: 0;
	font-weight: normal;
	line-height: 1.1em;
}
.product-info h2 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1.3em;
	color: #ada98f;
	font-weight: normal;
	font-style: normal;
	margin: 0;
	padding: 5px 0 0 1px;
}
.product-info h3 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 0.9em;
	color: #2b1f12;
	text-transform: none;
	margin: 25px 0 0 0;
	padding: 0;
	font-weight: bold;
	line-height: 1.2em;
}



/* TABLES
--------------------------------------------------------------- */

.table-1-mn {
	margin: 10px 0;
	padding: 0;
	clear: both;
	border: 1px solid #e9ece3;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1em;
}
.table-1-mn th {
	font-size: 0.7em;
	line-height: 1.2em;
	padding: 6px;
	color: #333;
	background-image: url(../images/table-ht-bg2.gif)/*tpa=http://www.monsanto.com/style library/images/table-ht-bg2.gif*/;
	background-repeat: repeat-x;
	border-bottom: 1px solid #e9ece3;
	vertical-align: bottom;
}
.table-1-mn td {
	font-size: 0.7em;
	line-height: 1.2em;
	padding: 6px;
	color: #444444;
}
.table-1-mn tbody tr.odd td {
	background-color:#F0F2EC;
}
.table-2-mn {
	font-family: Tahoma, Geneva, sans-serif;
	background-color: none;
	margin: 10px 0;
	padding: 5px 10px 10px 10px;
	font-size: 1em;
	width: 100%;
	text-align: left;
	color: #444444;
	border: 5px solid #f3f8e7;
	clear: both;
}
.table-2-mn thead tr th {
	background-color: #FFF;
	border-bottom: 1px solid #FFF;
	font-size: 0.8em;
	padding: 6px 4px;
	color: #A69D8C;
	border-bottom: 1px solid #f3f8e7;
	font-weight: normal;
	text-align: left;
}
.table-2-mn thead tr .header {
	background-image: none;
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
.table-2-mn tbody td {
	color: #444444;
	font-size: 0.7em;
	line-height: 1.2em;
	font-family: Tahoma, Geneva, sans-serif;
	border-top: 1px solid #f3f8e7;
	padding: 6px 10px 6px 4px;
	vertical-align: top;
}
.table-3-mn {
	margin: 10px 0;
	padding: 0;
	clear: both;
	font-size: 1em;
}
.table-3-mn td {
	border-top: 1px solid #DBE0D1;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	font-size: 0.8em;
	line-height: 1.3em;
	padding: 20px 20px 20px 10px;
	color: #444444;
	vertical-align: top;
}




/* FOOTER
--------------------------------------------------------------- */
#fat-footer-mn { display: none; }
#footer-mn { display: none; }



/* LINKS
--------------------------------------------------------------- */

a:link, a:visited, a:active {
	color: #0a5884;
	text-decoration: underline;
}
a:hover {
	color: #c55205;
	text-decoration: underline;
}




/* -----[ Easy Float Clearing (apply class to float *container*) ]----- */ 
/* -----[   http://positioniseverything.net/easyclearing.html ]----- */ 
.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
.clearfix {display:inline-block;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
/* End hide from IE-mac */


#fat-footer-mn table td {
	vertical-align: top;
}

.product-info div.product img {
	border: 10px solid #f4f8e7;
	margin: 15px 0 10px 0;
	-moz-border-top-colors: #f4f8e7;
	-moz-border-right-colors: #f4f8e7;
	-moz-border-bottom-colors: #f4f8e7;
	-moz-border-left-colors: #f4f8e7;
}
