body, p, tr, td, p, ul, li, ol  { 
	font-family: Arial, Verdana; 
	font-size: 12px; color: #000000; }
	
form { 
margin-bottom:0; } 

a {
	color:#0090dd }
a:hover {
	color:#66676a;
	text-decoration:none }
.text { 
	font-family: Arial, Verdana; 
	font-size: 12px; 
	color: #000000; }
.header { 	
	font-family: Arial, Verdana; 
	font-size: 14px; 
	color: #009DC3; 
	font-weight: bold; }
.link { 
	font-family: Arial, Verdana; 
	font-size: 12px; 
	color: #006B9D; 
	font-weight: normal; 
	text-decoration: underline; }
.link2 { 
	font-family: Arial, Verdana; 
	font-size: 12px; 
	color: #0090DD; 
	font-weight: normal }
.search { 
	font-family: Arial, Verdana; 
	font-size: 11px; 
	color: #666668;  
	font-weight: bold;  
	text-decoration: none; }
.footer { 
	font-family: Arial, Verdana; 
	font-size: 11px; 
	color: #666668;  
	font-weight: normal; 
	text-decoration: none; }
.searchbox { 
	BORDER-TOP: #404040 2px solid; 
	FONT-SIZE: 10px; 
	BORDER-LEFT: #404040 2px solid; 
	COLOR: #808080; 
	BORDER-BOTTOM: #81807C 2px solid; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	BORDER-RIGHT: #81807C 2px solid; }
.secnav, .secsubnav, .leftnav { 
	font-family: Verdana; 
	font-size: 10px; 
	color: Black;  
	font-weight: bold; 
	text-decoration: none; 
	line-height:18px }
.whsecnav {
	padding-left:10px; 
	font-family: Verdana; 
	font-size: 10px; 
	color: #ffffff;  
	font-weight: bold; 
	text-decoration: none; 
	line-height:18px }
.secnavHighlight
{
    COLOR: #0090dd
}
.secnav:hover
{
    COLOR: #0090dd
}
.secsubnav:hover
{
    COLOR: #0090dd
}
.leftnav:hover
{
    COLOR: #0090dd
}
.secnavHighlight
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #0090dd;
    LINE-HEIGHT: 18px;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
.headerwhite { 
	font-family: Arial, Verdana; 
	font-size: 12px; 
	color: #ffffff;  
	font-weight: bold; }
.headrev, .subtitle2rev{ 
	font-family:arial;
	color:#ffffff;
	font-size:14px;
	font-weight:bold;
	background-color:#0090dd }

#NSsecondarynav{ 
	position:absolute;
	top:0px;
	left:0px;
	z-index:921;
	visibility:hidden }
#secondarynav {
	position:absolute;
	top:0px;
	left:0px;
	z-index:920;
	visibility:hidden }
#secondarysubnav{
	position:absolute;
	top:0px;
	left:100px;
	z-index:980;
	visibility:hidden }
#main{
	position:absolute;
	left:0px;top:0px;
	margin-left:15px;
	margin-right:5px;
	z-index:10}
#subnav{
	position:absolute;
	top:107px;
	left:198px; 
	z-index:997;}
#subnavigation{
	position:absolute; 
	top:127px; 
	left:400; 
	z-index:998; 
	visibility:hidden}
#newshighlights {
	/***********************************************
original height was 198px
***********************************************/
	height:182px;
	width:330px;
	overflow:auto;
	padding:2px;
	scrollbar-base-color: RGB(205,227,242);
	scrollbar-face-color: #B8D2EB;
	scrollbar-track-color: RGB(205,227,242);
	scrollbar-arrow-color: #66676a;
	scrollbar-highlight-color:RGB(205,227,242);
	scrollbar-3dlight-color: RGB(205,227,242);
	scrollbar-shadow-color: RGB(205,227,242);
	scrollbar-darkshadow-color: #B8D2EB
}
.caption,.smtext{
	font-family:arial;
	color:#003399;
	font-size:10px;
	font-weight:bold}
.title1{
	font-family:arial;
	color:#000000;
	font-size:17px;
	font-weight:bold;}
.subtitle1{
	font-family:arial;
	color:#0090dd;
	font-size:18px;
	font-weight:bold;}
.subtitle2{
	font-family:arial;
	color:#0090dd;
	font-size:14px;
	font-weight:bold}
.subtitle2w{
	font-family:arial;
	color:#ffffff;
	font-size:14px;
	font-weight:bold}
.subtitle2rev{
	font-family:arial;
	color:#ffffff;
	font-size:14px;
	font-weight:bold;
	background-color:#0090dd}
.subtitle3{
	font-family:arial;
	color:#0090dd;
	font-size:12px;
	font-weight:bold}
.subtitle3red{
	font-family:arial;
	color: red;
	font-size:12px;
	font-weight:bold}
.subtitle3red:hover {
	font-family:arial;
	color: darkred;
	font-size:12px;
	font-weight:bold;
	text-decoration:underline}
.subtitle3green{
	font-family:arial;
	color: #5FA841;
	font-size:12px;
	font-weight:bold}
.tertiary, .tertiary a{
	font-family:arial; 
	font-size:11px; 
	color:#66676a;
	text-decoration:none}
.tertiary a:hover{
	color:#0090dd;
	text-decoration:underline}
/***********************************************
* HOME LOGIN BOX
***********************************************/	
.login
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #003399;
    FONT-FAMILY: arial }
.login:hover
{
    COLOR: #0090dd;
    TEXT-DECORATION: none }

.loginblk
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-FAMILY: arial }
.loginblk:hover
{
    COLOR: black;
    TEXT-DECORATION: none }
	

.loginred
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: red;
    FONT-FAMILY: sans-serif;
	text-decoration:none;
	 	}

.loginred:hover
{
    COLOR: red;
    text-decoration:underline }

.loginbox { 
			margin-top:5px; 
			margin-bottom:5px;}
			
.loginbutton { 
	 FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #003399;
    FONT-FAMILY: arial;
	 cursor: pointer }
	 
.loginLRG
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #003399;
    FONT-FAMILY: arial }
.loginLRG:hover
{
    COLOR: #0090dd;
    TEXT-DECORATION: none } 
	 

/***********************************************
* HP VARS BOXES
***********************************************/

.hpvars { 
			font-family: Arial, Verdana; 
			font-size: 12px; 
			color: Black;  
			font-weight: normal; 
			margin-top:0px; 
			margin-bottom:10px;
			text-decoration:none; }
a.hpvars:hover {
			font-family: Arial, Verdana; 
			font-size: 12px; 
			color: Black;  
			font-weight: normal; 
			margin-top:0px; 
			margin-bottom:10px;
			text-decoration:underline; }
.hpvars_title {
			font-weight: bold; }
			

/***********************************************


/***********************************************
* NEWS & HIGHLIGHTS ORIGINAL
***********************************************/

.news_highlights { 
			font-family: Arial, Verdana; 
			font-size: 11px; 
			color: Black;  
			font-weight: normal; 
			line-height:110%; 
			margin-top:0px; 
			margin-bottom:10px;
			text-decoration:none; }
a.news_highlights:hover {
			color:Black;
			text-decoration:underline; }
.news_highlights_title {
			font-weight: bold; }
			

/***********************************************
* NEWS & HIGHLIGHTS BOX
original height was 198px
original width was 231px
***********************************************/
#newshighlights2 {
	height:192px;
	width:273px;
	overflow:auto;
	padding:2px;
	scrollbar-base-color: #f4c301;
	scrollbar-face-color: #f4c301;
	scrollbar-track-color: #f4c301;
	scrollbar-arrow-color: #66676a;
	scrollbar-highlight-color:#f4c301;
	scrollbar-3dlight-color: #f4c301;
	scrollbar-shadow-color: #f4c301;
	scrollbar-darkshadow-color: #e4b602 }
	
#newshighlights3 {
	height:195px;
	width:270px;
	overflow:auto;
	padding:2px;
	scrollbar-base-color: #b6dab1;
	scrollbar-face-color: #b6dab1;
	scrollbar-track-color: #b6dab1;
	scrollbar-arrow-color: #66676a;
	scrollbar-highlight-color:#b6dab1;
	scrollbar-3dlight-color: #b6dab1;
	scrollbar-shadow-color: #b6dab1;
	scrollbar-darkshadow-color: #CCCCCC }
	

/***********************************************
* NEWS & HIGHLIGHTS RED
***********************************************/

.news_highlights_red { 
			font-family: Arial, Verdana; 
			font-size: 11px; 
			color: Red;  
			font-weight: normal; 
			line-height:110%; 
			margin-top:0px; 
			margin-bottom:10px;
			font-weight: bold; 	
			text-decoration:none; }
a.news_highlights_red:hover {
			color: Red;
			font-weight: bold; 	
			text-decoration:underline; }
			
.news_highlights_darkred { 
			font-family: Arial, Verdana; 
			font-size: 11px; 
			color: #C60000;  
			font-weight: normal; 
			line-height:110%; 
			margin-top:0px; 
			margin-bottom:10px;
			font-weight: bold; 	
			text-decoration:none; }
a.news_highlights_darkred:hover {
			color: #C60000;
			font-weight: bold; 	
			text-decoration:underline; }
			
news_highlights_title_red {
			color: Red;
			font-weight: bold; 	}		
		
news_highlights_title_darkred {
			color: #C60000;
			font-weight: bold; 	}	

/***********************************************
* NEWS & HIGHLIGHTS WHITE
***********************************************/

.news_highlights_white { 
			font-family: Arial, Verdana; 
			font-size: 11px; 
			color: White;  
			font-weight: normal; 
			line-height:110%; 
			margin-top:0px; 
			margin-bottom:10px;
			font-weight: bold; 	
			text-decoration:none; }
a.news_highlights_white:hover {
			color: White;
			font-weight: bold; 	
			text-decoration:underline; }

news_highlights_title_white {
			color: White;
			font-weight: bold; 	}		
			
			
/***********************************************
* NEWS & HIGHLIGHTS BOTTOM LINK TO STORM CENTRAL
***********************************************/

.news_highlights_sm { 
	padding-left:5px; 
	font-family: Verdana; 
	font-size: 10px; 
	color: White;  
	font-weight: bold; 
	text-decoration: none; 
	line-height:20px }
	
a.news_highlights_sm:hover {
	color: White;
	text-decoration:underline; }

news_highlights_sm_title {
	color: White;
	font-weight: bold; 	}		

/***********************************************
* OUTAGE LINKS ON TOP RIGHT
***********************************************/
			
.outage_highlights_red { 
	font-family:arial;
	color: red;
	font-size:12px;
	text-decoration:none;
	font-weight:bold }
a.outage_highlights_red:hover {
	font-family:arial;
	color: red;
	font-size:12px;
	font-weight:bold;	
	text-decoration:underline; }	
	
	
/***********************************************
* SEARCH BOX
***********************************************/			
