td.lastrw { vertical-align:top !important;}


@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px){
.mainbody .full-copyarea.story .storyWrap.corporate-challenge td:nth-of-type(1):before{content:"City";font-weight:bold}
.mainbody .full-copyarea.story .storyWrap.corporate-challenge td:nth-of-type(2):before{content:"Race Date";font-weight:bold}
.mainbody .full-copyarea.story .storyWrap.corporate-challenge td:nth-of-type(3):before{content:"Entry Fee";font-weight:bold}
}
.mainbody .main-content.blog .full-copyarea .authorInfo .authorText .author-date .published {
  display: none;
}
.mainbody .main-content.blog .full-copyarea .authorInfo .authorText .desktop-job-title {
  display: none;
}
.mainbody .main-content.blog .full-copyarea .authorInfo .authorText .mobile-job-title {
  display: inline-block;
}

@media (min-width: 42em) {
                .mainbody .main-content.blog .full-copyarea .authorInfo .authorText .desktop-job-title {
                display: inline-block;
                }
                .mainbody .main-content.blog .full-copyarea .authorInfo .authorText .mobile-job-title {
                display: none;
                }
                .mainbody .main-content.blog .full-copyarea .authorInfo .authorText .author-date .published {
                display: inline-block;
                }
}


div.helium-slider.billboard div.slide-window ul.slide-holder li .slide img.center-img {
  margin: 0px -17.5%;
}
@media (min-width: 42em) {
  div.helium-slider.billboard div.slide-window ul.slide-holder li .slide img.center-img {
    margin: 0;
  }
}

