/*	jQuery NailThumb Plugin - any image to any thumbnail
 *  Examples and documentation at: http://www.garralab.com/nailthumb.php
 *  Copyright (C) 2012  garralab@gmail.com
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
*
*  You should have received a copy of the GNU General Public License
*  along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

.th-160x160 {
width: 160px;
height: 160px;
}
.th-100x100 {
width: 100px;
height: 100px;
}
.th-232x93 {
width: 232px;
height: 93px;
}
.th-320x220 {
width: 320px;
height: 220px;
}
.th-150x200 {
width: 150px;
height: 200px;
} /*  modalPop.html  */

.th-100x60 {
	width:100px;
	height:60px;} /* category template 2   */
	
.th-772x300 {
	width:772px;
	height:300px;
}  /* cornerstone image  */

.nailthumb-container {
padding: 0px;
overflow: hidden;
position: relative;
text-align: left;
float: left;
margin: 0 14px 6px 0;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
border-radius: 2px;
border: 1px solid #CCC;

}
.nailthumb-container img.nailthumb-image {
  margin: 0px;
  padding: 0px;
  max-width: 100px;
  text-align: left;
  float: left;
}
.nailthumb-container span.nailthumb-title {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
  bottom: 0;
  color: White;
  display: block;
  font-size: 9px;
  height: 20px;
  left: 0;
  margin-top: 2px;
  line-height: 20px;
  position: relative;
  text-align: center;
  width: 100%;
  overflow: hidden;
  float: left;
}
.nailthumb-container span.nailthumb-title .nailthumb-title-scroller {
  padding-left: 2px;
}
.nailthumb-container img {
  max-width: none;
  text-align: left;
}