* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing:border-box; padding:0; margin:0; font-family: 'helvetica neue', Helvetica, Arial, sans-serif; }
/* mini reset   */
html, body, div, form, fieldset, legend, label {margin:0;padding:0;-webkit-font-smoothing: antialiased; font-family: helveticaneue, 'helvetica neue', Helvetica, Arial, sans-serif; font-weight: 400;}
fieldset {border:none;}
html {overflow-y: scroll; /* min-width:1140px; */}
html, body {min-height:100%;/* margin: 0 0 1px; */}
table {border-collapse: collapse;border-spacing:0;}
th, td {text-align: left;vertical-align: top;}
h1, h2, h3, h4, h5, h6, th, td, caption {font-weight:normal;}
img {border:0; height:auto; max-width:100%;}
img {-ms-interpolation-mode: bicubic!important;}
@media \0screen {img { width: auto; /* for ie 8 */ }}
iframe {border:0;}
strong {font-weight:600;}
em {font-style:italic; font-weight:inherit;}

/* quik customs   */
.roundedFour {border-radius:4px 4px 4px 4px;}
.roundedSix {border-radius:6px 6px 6px 6px;}
.fr {float:right;}
.frPad {float:right; margin:0 0 12px 12px;}
.fl {float:left;}
.flPad {float:left; margin:0 12px 12px 0;}
.padRight {padding-right:20px!important;}
.padLeft {padding-left:20px!important;}
img.fl {float:left; margin:0 20px 20px 0;}
img.fr {float:right; margin:0 0 20px 20px;}
hr.justaSpace10, .justaSpace10 {visibility:hidden;margin:0;padding:0;display:block;border:none;height:10px;}
hr.justaSpace, .justaSpace {visibility:hidden;margin:0;padding:0;display:block;border:none;height:20px;}
.arrow {font-weight:300;color:inherit;}
.hidden {border: 0; clip: rect(0 0 0 0); height:1px; margin:-1px; overflow:hidden; padding: 0; position:absolute; width:1px;}
nav.navSecondary.hidden + div.searchLeft {margin-top:-28px!important;}
.overflowV {overflow:visible;}
.margin-after-20 {display:block;margin-bottom:20px;}
.noMargin {margin:0!important;}
.noBorder {border:none!important;}
.noFloat {float:none!important;}
.makeFullWidth {max-width:100%!important; width:100%!important;}
.goToTheCenter {display:block; margin:0 auto;}
.alignCenter {text-align:center!important;}
.inline-it {display:inline!important;}
.text10 {font-size:10px!important; line-height:12px!important;}
.text11, .text11 a {font-size:11px!important; line-height:14px!important;}
.text12, p.text12 a {font-size:12px!important; line-height:15px!important;}
.text13, p.text13 a {font-size:13px!important; line-height:17px!important;}
.text15, p.text15 a {font-size:15px!important; line-height:19px!important;}
.text16, p.text16 a {font-size:16px!important; line-height:22px!important;}
.text18, p.text18 a {font-size:18px!important; line-height:24px!important;}
.text20, p.text20 a {font-size:20px!important; line-height:26px!important;}
.text22, p.text22 a {font-size:22px!important; line-height:28px!important;}
.text37 {font-size:37px; line-height:37px; letter-spacing:-2px;}
.textRed {color:red!important;}
.textBold {font-weight:600!important;}
.textItalic {font-style:italic!important;}

.containerLeft {margin-right:0!important;}
.container {min-width:1140px; background:transparent url(../../1cd57543-7788-46d3-a443-83a9866b6835/noize-3.png-MOD=AJPERES&CACHEID=1cd57543-7788-46d3-a443-83a9866b6835.png)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/1cd57543-7788-46d3-a443-83a9866b6835/noize-3.png?MOD=AJPERES&CACHEID=1cd57543-7788-46d3-a443-83a9866b6835*/ repeat 0 0;}

/* clearing   */
.container:before, .container:after {content:""; display: table;}
.container:after { clear: both; }
.clearfix:before, .clearfix:after {content:""; display: table;}
.clearfix:after {clear: both;}
.clearfix { *zoom: 1;}

/* shadows  */
.boxShadow {box-shadow:0px 1px 6px rgba(0,0,0,0.2);}
.boxShadowLight {box-shadow:0 0px 12px 0 rgba(0, 0, 0, 0.06);}
.boxShadowLighter {box-shadow:0 8px 6px -6px rgba(0,0,0,0.5);}
.boxGlow {box-shadow:0px -2px 2px 0px rgba(255,255,255,1);}
.textGlow {text-shadow: 0px 0px 8px #ffffff;}
img.imageShadow, img.imageShadow.fr, img.imageShadow.fl {max-width:320px; -webkit-box-shadow:0px 1px 5px rgba(0,0,0,0.3); box-shadow:0px 1px 5px rgba(0,0,0,0.3); margin:0 0 20px 0; border-radius:4px 4px 4px 4px;}

/*   grid    */
.block10,.block20,.block25, .block30, .block33, .block48, .block50,.block75{float:left;margin-right:1%;}
.block10, .block10r {width:9.1%;}
.block20, .block20r {width:19.18%;}
.block25, .block25r {width:24.25%;}
.block30, .block30r {width:28.25%;}
.block33, .block33r {width:32.6%; position:relative;}
.block48, .block48r {width:46.22%;}
.block50, .block50r {width:49.5%;}
.block75{width:74.75%;}
.block10r,.block20r,.block25r,.block33r,.block48r,.block50r,.block75r {float:right;margin-left:1%;}
.lastBlock {margin-right:0!important;}
.lastBlockR {margin-left:0!important;}

body {height:100%; /* min-width:1160px; */ background-color: #eff0f3;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1ZTVlNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkMmQzZDUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #eff0f3 0%, #eae8e4 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eff0f3), color-stop(100%,#eae8e4));
background: -webkit-linear-gradient(top,  #eff0f3 0%,#eae8e4 100%);
background: -o-linear-gradient(top,  #eff0f3 0%,#eae8e4 100%);
background: -ms-linear-gradient(top,  #eff0f3 0%,#eae8e4 100%);
background: linear-gradient(to bottom,  #eff0f3 0%,#eae8e4 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff0f3', endColorstr='#eae8e4',GradientType=0 );}

.header {background-color:#fff; width:100%;}
.container.header {}
.content, footer {width:100%; max-width:1140px; /* min-width:1140px;*/ margin:0 auto;}
.contentTop {position:relative; top:-26px;}

/* text */
p,li p,td,th {font-size:14px; line-height:1.3;color:#444; margin-bottom:1em;}
ul+p, ul+h3 {margin-top:12px;}
p + h2, p + h3 {margin-top:22px!important;}

h1,h2,h3,h4,h5{line-height:1.1em; color:#6390c6;}
h1{font-size:30px; margin:2px 0 26px 0; letter-spacing:-1px;}
h2{font-size:18px; margin-bottom:12px;}
h3{font-size:16px; margin-bottom:6px;}
h4{font-size:14px; margin-bottom:8px; font-weight:600; color:#466ea5;}
h5{font-size:16px; margin-bottom:6px;font-weight:600;}

h1.logo {margin:30px 0 0 0; width:230px; height:41px;}
h1.logo a img {border:0; width:230px; height:41px;}
h1.logo a+span {visibility:hidden; text-transform:uppercase; text-indent:-999em;}

/* image control */
div.callOutInner img {box-shadow:none; padding:0; margin:0;}
.img80, .img100, .img120, .img140, .img160, .img180, .img200, .img220, .img250 {width:100%; float:none;}
.img80 {width:80px!important;}
.img100 {width:100px!important;}
.img120 {width:120px!important;}
.img140 {width:140px!important;}
.img160 {width:160px!important;}
.img180 {width:180px!important;}
.img200 {width:200px!important;}
.img220 {width:220px!important;}
.img250 {width:250px!important;}
.img300 {width:300px!important;}
img.logoSmall {float:left; width:60px; background-color:#ffffff; padding:4px; border-radius:4px 4px 4px 4px; margin:2px 12px 4px 0px;}
span.imgCaptionL {
/* usage
<img src="image.jpg" class="fl"> [fl or fr = float left or float right]
<span class="imgCaptionL">Caption here</span>
<div class="clearfix"></div>
*/
font-size: 11px; color: #A3A5AA; line-height:12px; margin:0; padding: 0; float:left; clear:left; max-width: 300px; position:relative; bottom:10px;}
span.imgCaptionR {font-size: 11px; color: #A3A5AA; line-height: 12px; margin: 0; padding: 0; float: right; clear: right; max-width:300px; position: relative; bottom: 10px;}
img.img100percent {width:100%; max-width:100%;}

.articleIntro {background:#fff url(../../c3825c3c-3c45-43a1-af94-061c4bfecd6a/bg-h3-articleIntro.jpg-MOD=AJPERES&CACHEID=c3825c3c-3c45-43a1-af94-061c4bfecd6a.jpg)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/c3825c3c-3c45-43a1-af94-061c4bfecd6a/bg-h3-articleIntro.jpg?MOD=AJPERES&CACHEID=c3825c3c-3c45-43a1-af94-061c4bfecd6a*/; padding: 20px 40px; color: #E77C22!important;border-top: 5px solid #f9dec8; border-bottom: 1px solid #CCD8EB; margin: 1px 0 32px 0!important; line-height:1.2!important;font-size:22px!important;font-weight:300!important;}

hr {display:block; border:none; color:#eee; background-color:#eee; height:1px; margin:12px 0 14px 0;}

/*  PULLQUOTES  */
div.pullQuoteR, div.pullQuoteL {width:260px; background:#fff url(../../c3825c3c-3c45-43a1-af94-061c4bfecd6a/bg-h3-articleIntro.jpg-MOD=AJPERES&CACHEID=c3825c3c-3c45-43a1-af94-061c4bfecd6a.jpg)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/c3825c3c-3c45-43a1-af94-061c4bfecd6a/bg-h3-articleIntro.jpg?MOD=AJPERES&CACHEID=c3825c3c-3c45-43a1-af94-061c4bfecd6a*/ repeat left center; font-size:22px; line-height:24px; letter-spacing:-1px; color:#666; margin:0;}
div.pullQuoteR {float:right; padding:14px 14px 10px 14px; border-left:5px solid #eee; border-radius:0 12px 0 0; 
margin:0 0 12px 22px;}
div.pullQuoteL {float:left; padding:14px 16px 14px 14px; border-right:5px solid #eee; border-radius:0 0 0 0; margin:0 22px 12px 0;}

/* MODAL STYLES   */
label {font-size:11px; color:#444; line-height:13px; display:block;}
div.modal {width:100%; background-color:#fff; padding:26px 20px 10px 20px;}
div.modal .fr {margin-left:14px;}
div.innerModal {padding:0 10px;}
div.innerModal label, div.innerModal .checkboxLabel {font-size:11px; color:#444; line-height:13px; display:block; margin:4px 0 2px 0;}
div.innerModal p.checkboxLabel {margin-top:30px;}
div.modal .selectWidth {width:202px;}
.checkboxLabel {display:block; clear:both; margin:14px 0;}
label span {font-size:13px; font-weight:600; color:red;}
div.modal .textEleven {font-size:11px; line-height:12px; margin-top:10px;}
span.textRed {color:red!important;}

.reveal-modal-bg {position: fixed; height: 100%;width: 100%;background: #111;background: rgba(0,0,0,.7);z-index: 1;display: none;top: 0;left: 0; cursor:default!important;}
.reveal-modal {position: absolute;visibility: hidden;top: 100px; left: 50%;margin-left: -300px;width: 520px;background: #fff;z-index: 2;padding: 30px;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);-box-shadow: 0 0 10px rgba(0,0,0,.4);}
.reveal-modal.small          { width: 200px; margin-left: -140px;}
.reveal-modal.medium     { width: 400px; margin-left: -240px;}
.reveal-modal.large 		    { width: 600px; margin-left: -340px;}
.reveal-modal.xlarge 		{ width: 800px; margin-left: -440px;}
.reveal-modal.xxlarge 		{ width: 1190px; margin-left: -738px;}
.reveal-modal .close-reveal-modal {font-size: 22px;line-height: .5;position: absolute;top: 8px;right: 11px;color: #aaa;text-shadow: 0 -1px 1px rbga(0,0,0,.6);font-weight: bold;cursor: pointer;} 

/* DOWNLOAD MODAL */
.dl-modal a{color:#e77c22;}
.dl-modal ::-webkit-input-placeholder {color: #aaa;}
.dl-modal :-moz-placeholder {color: #aaa;}
.dl-modal ::-moz-placeholder {color: #aaa;}
.dl-modal :-ms-input-placeholder {color: #aaa;}
.dl-modal input,
.dl-modal select,
.dl-modal textarea {width:100%!important;max-width:100%!important;}
.dl-modal label{padding:12px 0 3px 0;font-weight:bold;}
.dl-modal .error{color:red;}
.dl-modal label:first-child{padding-top:0;}
.dl-modal #communications_checkbox {display: block;background: #f2f2f2;margin:12px 0;padding: 1em .5em; overflow:hidden;border-radius:6px;}
.dl-modal #communications_checkbox input {width:20px!important;padding:0;margin-right:10px;margin-bottom:6px;float:left;height:auto;border:none;box-shadow:none;}
.dl-modal #communications_checkbox label {font-size:11px;font-weight:normal;padding:0;margin:0 0 0 30px;line-height:1;float:none;}
.dl-modal .modal-left-col {float:left;width:269px;}
.dl-modal .modal-right-col {float:right;padding:20px;width:170px;border-radius:6px;background:#f2f2f2;margin-left:20px;}
.modal-right-col p {color:#666;}
.modal-right-col > hr {color:#bbb;background-color:#bbb;}
.modal-right-col > p, .dl-modal #communications_checkbox label {text-shadow:0px 1px 0px #fff;}


/* UTILITY NAV    */
#utilityNav {height:41px; position:relative; padding:1% 0;}
#utilityNav #jumpMenuLangCont {float:left; width:48%; padding:1% 0;}
#utilityNav p {text-align:right; font-size:10px; text-transform:uppercase; line-height:20px; color:#ccc;}
#utilityNav a {font-size:10px; color:#777; text-decoration:none; display:inline-block; padding:0 6px; font-weight:600;}
#utilityNav a:hover, #toolsNav a:hover {color:#222; text-decoration:underline;}

/* INPUTS    */
.searchInput, .leftSearchInput, .modalInput, .contactInput, .contactInputWide {-webkit-box-shadow: inset 1px 1px 4px 0px rgba(0, 0, 0, 0.1); box-shadow: inset 1px 1px 4px 0px rgba(0, 0, 0, 0.1); font-size:11px; border: 1px solid #cdced1; color: #777; text-decoration: none; width:100%; max-width: 88%; margin-right:0.9%; border-radius:6px 6px 6px 6px; height:28px; line-height:1; padding:0 0 0 8px; padding-top:7px\0; vertical-align:top;}
input.contactInput:focus {background-color:#fffff4;}
.searchInput:hover, .searchInput:active, .leftSearchInput:active {border: 1px solid #a0a1a3;}
.searchInput {margin-right:0; max-width: 80%\9; /* IE8 and below */  }
.leftSearchInput {border-color:#ddd; width:100%; max-width:202px; max-width:190px\9; background:transparent; height:26px; line-height:26px; margin-right:2%;}
.leftSearchInput:hover {background: #eee; border-color:#ccc;}
.leftSearchInput:active {border: 1px solid #ccc;}
.leftSearchInput:focus {background: #fff;}
.modalInput {width:202px; width:190px\9;}
.errorInput {background-color:#FFFEBC!important;}
.errorText {font-weight:600; color:red;}
.requiredText {font-size:11px!important; color:red; display:inline; line-height:24px; padding-left:10px;}
::-webkit-input-placeholder {color: #777;}  :-moz-placeholder {color: #777;} :-ms-input-placeholder {color: #777;}


/* Form Validation Styles */
#contact-us-form input.error,
#contact-us-form select.error,
#contact-us-form textarea.error {
  background-color:#FFFEBC!important;}
#contact-us-form p.error {display: block;margin-left: 0;width: auto;color: red;font-size: 11px;font-weight: bold;}
.industry-select-wrapper p.error {  margin: 0 0 3px 2px !important; padding-left: 109px;}
.wide p.error {margin: 0 0 0 2px!important; padding-left: 278px;}
#contact label {margin:16px 0 3px 2px; font-size:12px;}
#contact label:first-child {margin-top:12px;}
.contactTextarea {width:400px; height:80px; padding:10px;}
.contactInputWide {width:400px;}

.globalOperations {background:#fff url(../../bfff15ec-baa9-42f5-94be-1a34bf65ded8/bg-worldwid-operations.jpg-MOD=AJPERES&CACHEID=bfff15ec-baa9-42f5-94be-1a34bf65ded8.jpg)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/bfff15ec-baa9-42f5-94be-1a34bf65ded8/bg-worldwid-operations.jpg?MOD=AJPERES&CACHEID=bfff15ec-baa9-42f5-94be-1a34bf65ded8*/ no-repeat center 190px; padding-bottom:36px;}
.globalOperations p {margin:0!important; font-size:13px!important; line-height:20px!important;}
.globalOperations p:before {content: "»\a0"; color:#aaa; font-weight:600;}
.globalOperations h3 {margin-bottom:8px!important;}
.globalOperations a {font-size:inherit!important;line-height:20px!important;}

/* ad hoc nav */
div.solutionsNav ul, div.solutionsNav ul li {margin:0; padding:0; list-style-type:none;}
div.solutionsNav ul li {width:218px; height:71px; background:#fff url(../../1c6ae52f-9cb9-46bd-87ba-3207f64c910f/sprite-solutions-nav.png-MOD=AJPERES&CACHEID=1c6ae52f-9cb9-46bd-87ba-3207f64c910f.png)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/1c6ae52f-9cb9-46bd-87ba-3207f64c910f/sprite-solutions-nav.png?MOD=AJPERES&CACHEID=1c6ae52f-9cb9-46bd-87ba-3207f64c910f*/ 0 0 no-repeat;}
div.solutionsNav ul li a {display:block; height:100%; padding:0; margin:0; text-indent:-9999em;}
div.solutionsNav ul li.ms {background-position:0 0;}
div.solutionsNav ul li.ms:hover, div.solutionsNav ul li.ms.here {background-position:-218px 0;}
div.solutionsNav ul li.ex {background-position:0 -71px;}
div.solutionsNav ul li.ex:hover, div.solutionsNav ul li.ex.here {background-position:-218px -71px;}
div.solutionsNav ul li.mp {background-position:0 -142px;}
div.solutionsNav ul li.mp:hover, div.solutionsNav ul li.mp.here {background-position:-218px -142px;}
div.solutionsNav ul li.rm {height:82px;background-position:0 -213px;}
div.solutionsNav ul li.rm:hover, div.solutionsNav ul li.rm.here {background-position:-218px -213px;}
a.clientSuccesses {display:block; margin-top:30px!important; width:218px; height:122px; background:#fff url(../../a1df7160-a3ae-408b-86d7-f21056a3afff/sprite-client-success.jpg-MOD=AJPERES&CACHEID=a1df7160-a3ae-408b-86d7-f21056a3afff.jpg)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/a1df7160-a3ae-408b-86d7-f21056a3afff/sprite-client-success.jpg?MOD=AJPERES&CACHEID=a1df7160-a3ae-408b-86d7-f21056a3afff*/ 0 0 no-repeat;}
a.clientSuccesses:hover {background-position:-218px 0;}

/* secondary nav    */
nav.navSecondary {width:100%; max-width:242px; background:url(../../fd6bc683-03dd-4bb3-8fe2-bccce93871cc/bg-secondaryNav.png-MOD=AJPERES&CACHEID=fd6bc683-03dd-4bb3-8fe2-bccce93871cc.png)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/fd6bc683-03dd-4bb3-8fe2-bccce93871cc/bg-secondaryNav.png?MOD=AJPERES&CACHEID=fd6bc683-03dd-4bb3-8fe2-bccce93871cc*/ 0 0 no-repeat; border-bottom:2px solid #dadada;}
nav.navSecondary ul li:first-child {border-top:1px solid #dedede;}
nav.navSecondary ul li a {font-size:12px; line-height:14px; color:#666; text-decoration:none; display:block; padding:14px 10px 14px 25px; font-weight:normal; background:url(../../50e4566e-07d0-4dad-8890-e5bb973e93e1/icon-secondary-nav-arrow.png-MOD=AJPERES&CACHEID=50e4566e-07d0-4dad-8890-e5bb973e93e1.png)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/50e4566e-07d0-4dad-8890-e5bb973e93e1/icon-secondary-nav-arrow.png?MOD=AJPERES&CACHEID=50e4566e-07d0-4dad-8890-e5bb973e93e1*/ no-repeat 12px 18px;}
nav.navSecondary ul li a:hover {color:#444;}
nav.navSecondary ul li:hover {background:transparent url(../../889bc9ba-97d1-4233-8e47-2b47f34138c1/bg-secondaryNav-fff.png-MOD=AJPERES&CACHEID=889bc9ba-97d1-4233-8e47-2b47f34138c1.png)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/889bc9ba-97d1-4233-8e47-2b47f34138c1/bg-secondaryNav-fff.png?MOD=AJPERES&CACHEID=889bc9ba-97d1-4233-8e47-2b47f34138c1*/ no-repeat left bottom; }
nav.navSecondary li.active a {text-decoration:none; background:transparent url(../../115065c6-664f-4360-85d6-e81fe6f1c8f5/arrow-down-fff.png-MOD=AJPERES&CACHEID=115065c6-664f-4360-85d6-e81fe6f1c8f5.png)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/115065c6-664f-4360-85d6-e81fe6f1c8f5/arrow-down-fff.png?MOD=AJPERES&CACHEID=115065c6-664f-4360-85d6-e81fe6f1c8f5*/ no-repeat 95% 50%; color:#fff; font-weight:600; font-size:13px; border-radius:0 6px 0 0; padding:12px 20px 12px 10px;}
nav.navSecondary ul li.navSecondary-container ul {border-bottom:2px solid #dadada;}
nav.navSecondary ul li.navSecondary-container ul li a {background-image:none; color:#999; font-size:11px; padding:8px 10px;} 
nav.navSecondary ul li.navSecondary-container ul li a:hover {color:#444; text-decoration:none;} 
nav.navSecondary ul li.navSecondary-container ul li a:hover:before, nav.navSecondary ul li.navSecondary-container ul li a.navSecondaryActive:before {color:#466ea5;}
nav.navSecondary ul li.navSecondary-container ul li a.navSecondaryActive {color:#111; font-weight:600!important;} 
nav.navSecondary ul li, nav.navSecondary ul li.navSecondary-container ul li {overflow:hidden;}
nav.navSecondary ul li.active a:hover {color:#fff;}
/* hide all sub navs at first */
nav.navSecondary ul li.navSecondary-container {display:none;}
/* show the subnav underneath the active nav item  */
nav.navSecondary ul li.active +li.navSecondary-container {display:block;}
/* add a little shadow to make the subnav look depressed or whatever  */
nav.navSecondary ul li.navSecondary-container {background-color:#fafafa; -webkit-box-shadow: inset 1px 2px 3px rgba(50, 50, 50, 0.2); -moz-box-shadow:inset 1px 2px 3px rgba(50, 50, 50, 0.1); box-shadow:inset 1px 2px 3px rgba(50, 50, 50, 0.1);}
nav.navSecondary ul {list-style-type:none; padding:0; margin:0;}
nav.navSecondary li {margin:0; float:left; clear:left;  border-left:1px solid #dadada; width:100%;}
nav.navSecondary ul li.active {border-top:none!important; border-left-color:#999; color:#fff; background:transparent url(../../06a188bd-6409-4719-b531-bdb032fc37b4/bg-h1.jpg-MOD=AJPERES&CACHEID=06a188bd-6409-4719-b531-bdb032fc37b4.jpg)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/06a188bd-6409-4719-b531-bdb032fc37b4/bg-h1.jpg?MOD=AJPERES&CACHEID=06a188bd-6409-4719-b531-bdb032fc37b4*/;}
nav.navSecondary ul li.active + li {border-top:none;}
nav.navSecondary ul li.navSecondary-container ul li {float:left; clear:left; border:none;}
/* and if there are no subcategories under the active li a, apply .noSubItems to the  a tag  */
nav.navSecondary ul li.active a.noSubItems {text-shadow: 0px -1px 0px #222;
/*
filter: dropshadow(color=#222222, offx=0, offy=-1);
*/
text-decoration:none; background-image:none; color:#fff; font-weight:600; border-radius:0 0 0 0; padding:14px 10px 14px 25px; background:url(../../50e4566e-07d0-4dad-8890-e5bb973e93e1/icon-secondary-nav-arrow.png-MOD=AJPERES&CACHEID=50e4566e-07d0-4dad-8890-e5bb973e93e1.png)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/50e4566e-07d0-4dad-8890-e5bb973e93e1/icon-secondary-nav-arrow.png?MOD=AJPERES&CACHEID=50e4566e-07d0-4dad-8890-e5bb973e93e1*/ no-repeat 14px 18px;}
nav.navSecondary ul li, nav.navSecondary ul li.navSecondary-container ul li {overflow:hidden;}

/* breadcrumbs   */
.breadcrumbContainer {}
.breadcrumb {position:relative; top:-10px; left:-10px; margin:0; padding-bottom:10px;}
.breadcrumb ul {list-style-type:none; margin:0; padding:0;}
.breadcrumb ul li {display:block; margin:0; float:left; font-weight:normal;}
.breadcrumb ul li+li:before {content: "\a0\a0»\a0\a0"; color:#a4bcdd; font-weight:600;}
.breadcrumb ul li a:after:hover {text-decoration:none;}
.breadcrumb ul li, .breadcrumb ul li a, .breadcrumb ul li a:hover, .breadcrumb ul li a:visited {font-size:11px; line-height:1.4; color:#aaa; text-decoration:none;}
.breadcrumb ul li.breadcrumbLast:after {content:"";}
.breadcrumb ul li:last-child, .breadcrumb ul li:last-child a {font-weight:600; color:#777;}
.breadcrumb ul li:last-child:before {font-weight:normal;}
.breadcrumb ul li a:hover {color:#555;}

.mainContentWell, .contentWell {width:74.8%; max-width:852px; margin-right:0; margin-bottom:30px; -webkit-box-shadow:0px 1px 6px rgba(0,0,0,0.2); box-shadow:0px 1px 6px rgba(0,0,0,0.2); border-radius:12px 12px 12px 12px; background-color:#fff; padding:25px 39px 30px 39px; position:relative;}
div.block75r.mainContentWell {margin-left:0;}
.contentWell {margin:0; width:100%; background-color:transparent; padding:6px 20px; background: rgb(255, 255, 255); background: rgba(255, 255, 255, 0.5); }
.mainContentWell p {font-size:14px; line-height:22px; margin:0 0 22px 0;}
.mainContentWell p+ul {margin-top:-7px; margin-bottom:22px;}
.mainContentWell a {color:#466ea5; text-decoration:none; margin:0; font-size: inherit;}
.mainContentWell a:hover {text-decoration:underline;}
.mainContentWell p.authorName, .mainContentWell p.articleDate {margin:6px 0 0 0; line-height:12px; font-weight:normal; font-size:11px; color:#666; float:left;}
.mainContentWell p.articleDate {float:right;}
.mainContentWell h3 {font-size:16px;}
.mainContentWellfullWide {width:100%; max-width:1140px;}
.fullWide {width:100%; max-width:1140px;}
.featureBlock h1 {font-size:26px; line-height:27px; margin:0 0 12px 0;}
.featureBlock h2 {font-size:17px; line-height:17px; margin:0 0 8px 0; font-weight: 600; color:#6390c6;}
.featureBlock h3 {font-size:15px; line-height:16px; margin:0 0 10px 0; font-weight: 600; color:#333333;}

div.capabilitiesBlock {border:1px solid #a4bcdd; padding:12px; border-radius:6px; width:233px; min-height:230px; float:left; margin:0 20px 20px 0; background:#fff url(../../b854ddfc-7910-40da-9f4b-9d6cf4fee13d/bg-capabilities.jpg-MOD=AJPERES&CACHEID=b854ddfc-7910-40da-9f4b-9d6cf4fee13d.jpg)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/b854ddfc-7910-40da-9f4b-9d6cf4fee13d/bg-capabilities.jpg?MOD=AJPERES&CACHEID=b854ddfc-7910-40da-9f4b-9d6cf4fee13d*/ 0 0;}
div.capabilitiesBlock.goWide {width:360px; min-height:200px; margin:0 20px 20px 0;}
div.capabilitiesBlock h1 {margin:0; padding:0; text-transform:uppercase; font-size:15px;line-height:15px;font-weight:100; color:#fff; letter-spacing:0;}
div.capabilitiesBlock h2, div.capabilitiesBlock h2.tweak {margin:0 0 12px 0; padding:0; font-size:18px;line-height:18px;font-weight:600; color:#466ea5;  text-shadow: 0px 1px 0px #ffffff;}
div.capabilitiesBlock h2.tweak {font-size:15px;}
div.capabilitiesBlock p {margin:0; padding:0; font-size:14px;line-height:18px;}
div.capabilitiesAlt h2 {font-size: 15px; font-weight: 600; margin: 0 0 6px 0!important; padding-top: 4px; border-top: 2px solid #EEE; display: block; float: left; width: 230px;}
div.capabilitiesAlt div.block48 h2, div.capabilitiesAlt div.block48r h2 {width:100%!important;}
div.capabilitiesAlt p {clear:left; font-size:13px; line-height:19px;}
div.bgMap {background:none; min-height:175px!important;margin:0!important;width:100%;background:url(../../587b63d1-80f6-42b4-87fc-4b5c5e8a73e6/placeholder-bg-case-study-map-banner.png-MOD=AJPERES&CACHEID=587b63d1-80f6-42b4-87fc-4b5c5e8a73e6.png)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/587b63d1-80f6-42b4-87fc-4b5c5e8a73e6/placeholder-bg-case-study-map-banner.png?MOD=AJPERES&CACHEID=587b63d1-80f6-42b4-87fc-4b5c5e8a73e6*/;}

.imageCapContainer {display:inline;} /* this div doesn't serve a purpose other than to set dynamically to display:none if necessary   */
.imageCap {width:852px; height:150px; position:absolute; z-index:200; top:-1px; left:0; border-radius:12px 12px 0 0;}
.imageCapContent {position:absolute; top:0px; padding-top:53px;  z-index:201; width:540px; padding-left:20%;}
.imageCapContent h1, .imageCapContent p {margin:0 0 10px 0; color:#ffffff;}
.imageCapContent h1 {text-transform:uppercase; font-size:30px; line-height:31px;}
.imageCapContent h1.imageCapHeadline {font-size:27px; line-height:27px;text-shadow: 0px -1px 0px rgba(0,0,0,0.4); 
/*
filter: dropshadow(color=#333333, offx=0, offy=-1);
*/
}
.imageCap+span {display:block; height:158px; margin-bottom:1px; background:url(../../6d093f45-1675-457f-b291-073eb04398c2/bg-shadow-772.jpg-MOD=AJPERES&CACHEID=6d093f45-1675-457f-b291-073eb04398c2.jpg)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/6d093f45-1675-457f-b291-073eb04398c2/bg-shadow-772.jpg?MOD=AJPERES&CACHEID=6d093f45-1675-457f-b291-073eb04398c2*/ no-repeat center bottom;}

/* huge page banners and the text upon them  */
.fullWidthImage, .fullWidthImageShort {width:100%; max-width:1140px; height:200px; margin:0 0 20px 0; position:relative; box-shadow:0px 1px 6px rgba(0,0,0,0.2); border-radius:12px 12px 12px 12px; background-position:center top!important;}
.fullWidthImageShort {height:180px!important;}
.fullWidthImageCopy {display:block; position:absolute; padding:15px; padding-right:18px; max-width:600px;bottom:0; left:0;  border-radius:0 12px 0 12px; padding-right:20px;background: transparent url(../../c3333914-bc9a-4c1b-a419-01ef7017c59d/csr-bg-small-ribbon.png-MOD=AJPERES&CACHEID=c3333914-bc9a-4c1b-a419-01ef7017c59d.png)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/c3333914-bc9a-4c1b-a419-01ef7017c59d/csr-bg-small-ribbon.png?MOD=AJPERES&CACHEID=c3333914-bc9a-4c1b-a419-01ef7017c59d*/;}
.fullWidthImageCopy h1 {font-size:35px; line-height:34px; margin:0 0 1px 0;}
.fullWidthImageCopy p {margin:8px 0 0 0;}
.bottomLeft {bottom:0; left:0;  border-radius:0 12px 0 12px; padding-right:20px;}
.bottomRight {bottom:0; right:0; border-radius: 12px 0 12px 0;}
.topLeft {top:0; left:0; border-radius: 12px 0 12px 0; padding-right:20px;}
.topRight {top:0; right:0; border-radius: 0 12px 0 12px;}
.centerCenter {top:80px; left:370px; width:400px; border-radius: 8px 8px 8px 8px;}
.centerCenter h1 {font-size:30px; line-height:30px;} /* let's lock in a smaller h1 size for this fixed-width box  */
.textDark h1, .textDark p {color:#333333; text-shadow: 0px -1px 0px #eeeeee; 
/*
filter: dropshadow(color=#eeeeee, offx=0, offy=-1);
*/}
.textLight h1, .textLight p {color:#ffffff; text-shadow: 0px 1px 0px #333333; 
/*
filter: dropshadow(color=#333333, offx=0, offy=1);
*/
}
.bgLight {background-color: rgba(255, 255, 255, 0.8);}
.bgDark {background: transparent url(Unknown_83_filename)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/manpowergroup-common/include/<img src=%22/wps/wcm/connect/c3333914-bc9a-4c1b-a419-01ef7017c59d/csr-bg-small-ribbon.png?MOD=AJPERES&CACHEID=c3333914-bc9a-4c1b-a419-01ef7017c59d%22 border=%220%22 alt=%22ribbon%22 width=%22321%22 height=%22146%22  />*/;}
.textDark.bgDark {background:none;} 
.textLight.bgLight {background:none;}
.genericInnerBanner {background:#555 url(../../3dab6585-3ffa-4081-a2ec-eb6d1b97da2e/banner-innerpage-generic.jpg-MOD=AJPERES&CACHEID=3dab6585-3ffa-4081-a2ec-eb6d1b97da2e.jpg)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/3dab6585-3ffa-4081-a2ec-eb6d1b97da2e/banner-innerpage-generic.jpg?MOD=AJPERES&CACHEID=3dab6585-3ffa-4081-a2ec-eb6d1b97da2e*/;}
.fullWidthImageCopy h1, .fullWidthImageCopy p  {
color:#ffffff; text-shadow: 0px 1px 0px #333333; 
/*
filter: dropshadow(color=#333333, offx=0, offy=1);
*/
}
div.fullWidthImage.noImage {position:relative;  height:auto; background:none;}

/* h1 heading on top of large banner image  */
h1.h1 {max-width:55%; position:absolute; bottom:0; margin:0; background: url(../../eb2e0ef6-5b5a-407e-ac5a-a1a43cf5fc6d/banner-innerpage-generic-70.png-MOD=AJPERES&CACHEID=eb2e0ef6-5b5a-407e-ac5a-a1a43cf5fc6d.png)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/eb2e0ef6-5b5a-407e-ac5a-a1a43cf5fc6d/banner-innerpage-generic-70.png?MOD=AJPERES&CACHEID=eb2e0ef6-5b5a-407e-ac5a-a1a43cf5fc6d*/ no-repeat 80% 100%;font-size:38px; line-height:1; color:#fff; border-radius:0 12px 0 12px; padding:14px 24px 14px 16px; text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.7);font-weight:300;letter-spacing:-0.03em;font-family:'HelveticaNeueW01-Thin',sans-serif;}
h1.h1 + p {color: white; letter-spacing: 0; margin: 8px 0 0 0;}
h1.h1 span {display: block; font-size: 13px; letter-spacing: 0; padding: 5px 0 0 0; line-height: 16px; text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3); font-weight:600;}
h1.h1 span a {font-weight:bold; text-decoration:underline;}

/* h1 heading when or if no image banner is present  */
div.fullWidthImage.noImage h1.h1 {background:transparent url(../../06a188bd-6409-4719-b531-bdb032fc37b4/bg-h1.jpg-MOD=AJPERES&CACHEID=06a188bd-6409-4719-b531-bdb032fc37b4.jpg)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/06a188bd-6409-4719-b531-bdb032fc37b4/bg-h1.jpg?MOD=AJPERES&CACHEID=06a188bd-6409-4719-b531-bdb032fc37b4*/ no-repeat; position:static; bottom:0; margin:0; font-size:25px; line-height:1; max-width:100%; border-radius:12px 12px 0 0;}
div.fullWidthImage h1.h1 a, div.fullWidthImage.noImage h1.h1 a {color:#fff;text-decoration:none; cursor:pointer; font-family:'HelveticaNeueW01-Thin',sans-serif;
}

div.searchLeft {margin-top:28px; width:240px;}
div.searchLeft h2 {font-size:12px; margin:32px 0 6px 0; letter-spacing:normal; font-weight:600; color:#999999;}
div.searchLeft h5 {color:#444; font-size:11px; margin:6px 0; letter-spacing:normal; font-weight:600;}
.searchFacets h4 {background:url(../../95012caa-c680-4cdc-852a-4f4c7237b188/icon-collapse-10h.png-MOD=AJPERES&CACHEID=95012caa-c680-4cdc-852a-4f4c7237b188.png)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/95012caa-c680-4cdc-852a-4f4c7237b188/icon-collapse-10h.png?MOD=AJPERES&CACHEID=95012caa-c680-4cdc-852a-4f4c7237b188*/ no-repeat 0 2px; margin: 12px 0 2px 6px; padding-left: 15px; cursor: pointer; font-size: 13px; font-weight: 600; color: #666;}
.facetCheckboxes, facetCheckboxes p {font-size:11px; line-height:20px; padding-left:24px; color:#777;}
.searchFacets h4.iconExpand {background:url(../../444eb7f5-d28c-42fc-917f-d253b1abb7d5/icon-expand-10h.png-MOD=AJPERES&CACHEID=444eb7f5-d28c-42fc-917f-d253b1abb7d5.png)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/444eb7f5-d28c-42fc-917f-d253b1abb7d5/icon-expand-10h.png?MOD=AJPERES&CACHEID=444eb7f5-d28c-42fc-917f-d253b1abb7d5*/ no-repeat 0 2px; }

div.expander {position:relative;}
span.read-less {display:block; margin-bottom:6px; position:relative; top:-12px;}
div.summary {margin-bottom:2px;}

div.facts {width:218px; 
box-shadow:0 9px 16px -8px rgba(0, 0, 0, 0.15);
border:0px solid #dfdfdf;
margin:20px 0; padding:14px;}
div.facts h3, div.facts h3 a, div.facts li, div.facts li p {font-weight:400; font-size:12px; line-height:16px;}
div.facts li {color:#6390c6;}
div.facts p {margin:0;color:#444;}
div.facts h3, div.facts h3 a {color:#466ea5;font-size:17px; line-height:22px; padding-bottom:8px;}
div.facts ul {padding-left:24px; padding-bottom:12px;}

/*  div flexi and board of directors (bd)  */
div.flexi {position:relative;}
div.flexi td h4, div.flexi h4 {margin: 0; padding: 10px 10px 10px 26px; background:transparent url(../../444eb7f5-d28c-42fc-917f-d253b1abb7d5/icon-expand-10h.png-MOD=AJPERES&CACHEID=444eb7f5-d28c-42fc-917f-d253b1abb7d5.png)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/444eb7f5-d28c-42fc-917f-d253b1abb7d5/icon-expand-10h.png?MOD=AJPERES&CACHEID=444eb7f5-d28c-42fc-917f-d253b1abb7d5*/ no-repeat 10px 12px; cursor: pointer; display:block;float:left;}
div.flexi h4 {float:none;}
div.flexi table, div.flexiChart table {border:none!important;}
div.flexi table tr, div.flexiChart table tr {border:none!important;}
div.flexi table {border:1px solid #ddd!important; margin: 0 0 12px 0; background-color:#fafafa; box-shadow:0px 1px 3px rgba(0, 0, 0, 0.1);}
div.flexi table:hover {border:1px solid #ccc!important;background-color:#f7f7f7; box-shadow:0px 1px 6px rgba(0, 0, 0, 0.2);}
div.flexi table td {vertical-align:middle; position:relative; line-height: 1; display: table-cell; padding: 0px; background-color:transparent;color: #444; cursor:pointer;}
div.flexi p, div.flexi table td p {font-size:11px; margin:0; padding:0; line-height:12px; font-weight:bold; color:#777; border:none;}

div.flexi table td span {display:none; height:16px; width:16px; margin:0 auto; background: url(../../8a743adb-6599-469d-84ed-17f8f1dccfd8/sprite-icons-board-directors.png-MOD=AJPERES&CACHEID=8a743adb-6599-469d-84ed-17f8f1dccfd8.png)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/8a743adb-6599-469d-84ed-17f8f1dccfd8/sprite-icons-board-directors.png?MOD=AJPERES&CACHEID=8a743adb-6599-469d-84ed-17f8f1dccfd8*/ no-repeat 0px 100%;}
div.flexi table, div.flexiChart table {width:100%;}
div.flexi table td, div.flexiChart table td {width:33%;}
div.flexi table td+td, div.flexiChart table td+td {width:10%;}
div.flexi table td+td+td, div.flexiChart table td+td+td {width:33%;}
div.flexi table td+td+td+td, div.flexiChart table td+td+td+td {width:25%;}
div.flexi table.iconExpand {border:1px solid #333!important; box-shadow:0px 3px 10px rgba(0, 0, 0, 0.3);}
div.flexi table.iconExpand {background: #252c3f;  background: -moz-linear-gradient(left,  #252c3f 0%, #34527a 100%);  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#252c3f), color-stop(100%,#34527a));  background: -webkit-linear-gradient(left,  #252c3f 0%,#34527a 100%);  background: -o-linear-gradient(left,  #252c3f 0%,#34527a 100%);
 background: -ms-linear-gradient(left,  #252c3f 0%,#34527a 100%);  background: linear-gradient(to right,  #252c3f 0%,#34527a 100%);  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#252c3f', endColorstr='#34527a',GradientType=1 );}
div.flexi table.iconExpand:hover {border:1px solid #000!important; }
div.flexi table.iconExpand td {background-color:transparent;}
.flexi table.iconExpand td h4 {color:#fff; background: url(../../95012caa-c680-4cdc-852a-4f4c7237b188/icon-collapse-10h.png-MOD=AJPERES&CACHEID=95012caa-c680-4cdc-852a-4f4c7237b188.png)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/95012caa-c680-4cdc-852a-4f4c7237b188/icon-collapse-10h.png?MOD=AJPERES&CACHEID=95012caa-c680-4cdc-852a-4f4c7237b188*/ no-repeat 10px 12px;}
div.flexi table td span.iconBdEye {display:block;float:left;position:relative; top:8px; }
div.flexi table td span.iconBdStar {display:block;float:left;position:relative; top:8px; background-position: -20px 100%;}
div.flexi table td span.iconBdChair {display:block; background-position:-40px 100%; }
div.flexi table td span.iconBdMember {display:block; background-position:-60px 100%;}

table.bdJoerres td:first-child span {display:block;float:left;position:relative; top:8px;}
table.bdJoerres td+td span {}
table.bdJoerres td+td+td span {}
table.bdJoerres td+td+td+td span {}

table.bdPrising td:first-child span {display:block;float:left;position:relative; top:8px;}
table.bdPrising td+td span {display:none;}
table.bdPrising td+td+td span {display:none;}
table.bdPrising td+td+td+td span {display:none;}

table.bdBolland td:first-child span {display:block;float:left;position:relative; top:8px;}
table.bdBolland td+td span {display:none;}
table.bdBolland td+td+td span {display:block; background-position:-60px 100%;}
table.bdBolland td+td+td+td span{display:none;}

table.bdBoswell td:first-child span {display:block;float:left;position:relative; top:8px;}
table.bdBoswell td+td span {display:block; background-position:-40px 100%;}
table.bdBoswell td+td+td span {display:none;}
table.bdBoswell td+td+td+td span {display:block; background-position:-60px 100%;}

table.bdDominguez td:first-child span {display:block;float:left;position:relative; top:8px;}
table.bdDominguez td+td span {display:none;}
table.bdDominguez td+td+td span {display:block; background-position:-60px 100%;}
table.bdDominguez td+td+td+td span {display:none;}

table.bdZore td:first-child span {display:block;float:left;position:relative; top:8px;width:35px!important;background:url(../../fd6b5a66-77a0-4cc0-b726-9e529e83afd1/icon-indep-lead-director-6390c6.png-MOD=AJPERES&CACHEID=fd6b5a66-77a0-4cc0-b726-9e529e83afd1.png)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/fd6b5a66-77a0-4cc0-b726-9e529e83afd1/icon-indep-lead-director-6390c6.png?MOD=AJPERES&CACHEID=fd6b5a66-77a0-4cc0-b726-9e529e83afd1*/ no-repeat 0 100%;}
table.bdZore td+td span {}
table.bdZore td+td+td span {display:block; background-position:-40px 100%;}
table.bdZore td+td+td+td span {display:block; background-position:-60px 100%;}

table.bdGreenberg td:first-child span {display:block;float:left;position:relative; top:8px;}
table.bdGreenberg td+td span {display:none;}
table.bdGreenberg td+td+td span {display:block; background-position:-60px 100%;}
table.bdGreenberg td+td+td+td span {display:block; background-position:-60px 100%;}

table.bdWalter td:first-child span {display:block;float:left;position:relative; top:8px;}
table.bdWalter td+td span {display:none;}
table.bdWalter td+td+td span {display:block; background-position:-60px 100%;}
table.bdWalter td+td+td+td span {display:block; background-position:-60px 100%;}

table.bdSartain td:first-child span {display:block;float:left;position:relative; top:8px;}
table.bdSartain td+td span {display:none;}
table.bdSartain td+td+td span {display:block; background-position:-60px 100%;}
table.bdSartain td+td+td+td span {display:none;}

table.bdHall td:first-child span {display:block;float:left;position:relative; top:8px;}
table.bdHall td+td span {display:block; background-position:-60px 100%;}
table.bdHall td+td+td span {display:none;}
table.bdHall td+td+td+td span {display:none;}

table.bdMendoza td:first-child span {display:block;float:left;position:relative; top:8px;}
table.bdMendoza td+td span {display:block; background-position:-60px 100%;}
table.bdMendoza td+td+td span {display:none;}
table.bdMendoza td+td+td+td span {display:none;}

table.bdHueneke td:first-child span {display:block;float:left;position:relative; top:8px;}
table.bdHueneke td+td span {display:block; background-position:-60px 100%;}
table.bdHueneke td+td+td span {display:none;}
table.bdHueneke td+td+td+td span {display:none;}

table.bdPayne td:first-child span {display:block;float:left;position:relative; top:8px;}
table.bdPayne td+td span {display:block; background-position:-60px 100%;}
table.bdPayne td+td+td span {display:none;}
table.bdPayne td+td+td+td span {display:block; background-position:-40px 100%;}

/* table.bdRead td+td span {display:block; background-position:-60px 100%;} */

table.bdDowne td:first-child span {display:block;float:left;position:relative; top:8px;}
table.bdDowne td+td span {display:none;}
table.bdDowne td+td+td span {display:block; background-position:-60px 100%;}
table.bdDowne td+td+td+td span {display:none;}

/* bd legend */
div.bdLegend table {width:542px!important; border:none; display:block; float:right; margin-bottom:16px; padding-bottom:2px; border-bottom:1px solid #eee;}
div.bdLegend table td {font-size:10px; color:#c9c9c9; padding:4px; line-height:1; vertical-align:middle; white-space:nowrap;}
div.bdLegend table tr {border:none!important;}
div.bdLegend img {max-width:initial!important;}
/* the table-like grid above the flexi bars  */
div.flexiChart p, div.flexiChart table td p {font-size:11px; margin:0; padding:0; line-height:12px; font-weight:bold; color:#777; border:none;}
div.flexiChart table td {position:relative; text-align:center; vertical-align:bottom;}
div.flexiInner p {font-weight:400; font-size: 14px; line-height: 20px;margin: 0 0 16px 0; }
.flexiInner {padding:1px 10px 1px 10px; padding-bottom:2px; border-bottom:1px solid #eee; margin-bottom:10px;}

div.flexi table td span.bdMember {display:block; background-position:-60px 100%;}
div.flexi table td span.bdChair {display:block; background-position:-40px 100%;}
div.flexi table td span.bdIndependent {display:block; float:left; position:relative; top:8px;}



/* faq flexi  */
div.flexi h5 {font-size:15px; padding:9px 10px 4px 26px; font-weight:400; color:#444; margin-bottom:3px;background:transparent url(../../444eb7f5-d28c-42fc-917f-d253b1abb7d5/icon-expand-10h.png-MOD=AJPERES&CACHEID=444eb7f5-d28c-42fc-917f-d253b1abb7d5.png)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/444eb7f5-d28c-42fc-917f-d253b1abb7d5/icon-expand-10h.png?MOD=AJPERES&CACHEID=444eb7f5-d28c-42fc-917f-d253b1abb7d5*/ no-repeat 10px 12px; cursor: pointer; }
div.flexi h5.iconExpand {background: url(../../95012caa-c680-4cdc-852a-4f4c7237b188/icon-collapse-10h.png-MOD=AJPERES&CACHEID=95012caa-c680-4cdc-852a-4f4c7237b188.png)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/95012caa-c680-4cdc-852a-4f4c7237b188/icon-collapse-10h.png?MOD=AJPERES&CACHEID=95012caa-c680-4cdc-852a-4f4c7237b188*/ no-repeat 10px 12px;}

/* homepage featured content  */
#featuredContainer {margin-top:-26px; width:1140px; }
#featured{width:1140px; position:relative; height:310px; }
#featured ul.ui-tabs-nav {margin:0; padding:0; position:absolute; z-index:1; right:-10px; top:-14px; list-style:none; width:286px; height:340px; background:transparent url(../../eeb33cbc-bdf2-4596-9160-3eea03bf09d4/slider-sidebar.png-MOD=AJPERES&CACHEID=eeb33cbc-bdf2-4596-9160-3eea03bf09d4.png)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/eeb33cbc-bdf2-4596-9160-3eea03bf09d4/slider-sidebar.png?MOD=AJPERES&CACHEID=eeb33cbc-bdf2-4596-9160-3eea03bf09d4*/ no-repeat left top;}
#featured li.ui-tabs-nav-item a {display:block; height:88px; width:100%; opacity:1; position:absolute; z-index:2; right:0;}
#featured li.ui-tabs-nav-item a:hover {background: transparent url(../../e53c4800-992a-48b4-9dd4-080fdb357238/slider-highlight-only.png-MOD=AJPERES&CACHEID=e53c4800-992a-48b4-9dd4-080fdb357238.png)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/e53c4800-992a-48b4-9dd4-080fdb357238/slider-highlight-only.png?MOD=AJPERES&CACHEID=e53c4800-992a-48b4-9dd4-080fdb357238*/ no-repeat 50% 50px;}
#featured li.ui-tabs-nav-item a.slideOne {top:6px;}
#featured li.ui-tabs-nav-item a.slideTwo {top:86px;}
#featured li.ui-tabs-nav-item a.slideThree {top:167px;}
#featured li.ui-tabs-nav-item a.slideFour {top:247px;}
#featured ul.ui-tabs-nav li.ui-tabs-selected a {background:transparent url(../../3684f986-eb7f-4130-927d-a24f7835e9f0/slider-active-tab.png-MOD=AJPERES&CACHEID=3684f986-eb7f-4130-927d-a24f7835e9f0.png)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/3684f986-eb7f-4130-927d-a24f7835e9f0/slider-active-tab.png?MOD=AJPERES&CACHEID=3684f986-eb7f-4130-927d-a24f7835e9f0*/ no-repeat 0 0;}
#featured .ui-tabs-panel, #featured .ui-tabs-panel img {width:1120px; height:310px; position:relative;overflow:hidden; border-radius:12px 12px 12px 12px;}
#featured .ui-tabs-panel .info {max-width:660px; position:absolute; bottom:0; left:0; padding:13px 19px 13px 15px; background: transparent url(../../b09a7395-4cc9-4416-acd6-1fbce360ee6a/bg-black50p.png-MOD=AJPERES&CACHEID=b09a7395-4cc9-4416-acd6-1fbce360ee6a.png)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/b09a7395-4cc9-4416-acd6-1fbce360ee6a/bg-black50p.png?MOD=AJPERES&CACHEID=b09a7395-4cc9-4416-acd6-1fbce360ee6a*/ repeat top left; border-radius:0 6px 0 12px;}
#featured .info h2 {font-size:28px; letter-spacing:-1px; line-height:33px; font-weight:normal; color:#fff; margin:0 0 6px 0; overflow:hidden; text-shadow: 0px 1px 0px #333333; text-shadow: 0px 1px 1px rgba(0,0,0,0.4);}
#featured .info h2 a, #featured .info h2 a:hover  {color:#fff; text-decoration:none;}
#featured .info p {margin:0; font-size:15px; line-height:16px; color:#fff; text-shadow: 0px 1px 0px #333333; text-shadow: 0px 1px 0px rgba(0,0,0,0.3);}
#featured .info p a {font-weight:600; color:#fff; text-decoration:none; font-weight:600; font-size:11px;  padding:2px 8px; margin:3px 0 0 12px; border:1px solid #111; background:#111; background: rgba(0,0,0,0.5); border-radius:3px; opacity:0.9;}
#featured .info p a:hover {opacity:1; background:#111; box-shadow:0px 0px 3px 0px rgba(255,255,255,0.3);}
#featured .info p a:active {position:relative; top:1px;}
#featured .ui-tabs-hide {display:none; }
#featuredContainer #fragmentBg {background-color:#fff; position:absolute; z-index:0; width:1120px; height:310px; border-radius:12px 12px 12px 12px;-webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2); box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);}

.subBlockContainer {background-color:#fff;box-shadow:1px 2px 6px rgba(0,0,0,0.2); padding:10px; height:250px; margin-top:30px; margin-bottom:40px; -webkit-border-radius: 6px;-moz-border-radius:6px;border-radius: 6px;behavior: url(PIE.htc)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/manpowergroup-common/include/PIE.htc*/;}

.subBlockOne img, .subBlockTwo img {border-radius:6px 6px 6px 6px;}
.featureBlock {margin-bottom:20px;}

/* styles specific to content inside sliding feature  */
div.sliderFeature {padding-right:40px;}
div.sliderFeature img.fl {margin:0 25px 10px 25px; max-width:160px;}
div.sliderFeature img.thumbnail {display:block; float:left; width:120px; margin:0 15px 10px 35px;box-shadow:0px 1px 6px rgba(0,0,0,0.2);}
div.sliderFeature img.fullWidth {margin:0; width:712px;}
div.sliderFeature ul {list-style-type:disc; margin-left:0!important; position:relative; left:20px;}
div.sliderFeature ul li {margin-left:.2em!important; padding-left:.2em!important;}
div.sliderFeature h2 {font-size:20px; line-height:22px; margin:0 0 10px 0; padding-top:4px; letter-spacing:-1px;}
div.sliderFeature p, div.sliderFeature a {line-height:17px; font-size:13px!important;}
div.sliderFeature p:last-child {margin-bottom:0;}
div.sliderFeature a {display:block!important; margin:10px 0 12px 0;}
div.sliderTextInner {float:left; width:460px!important;padding:2px 0 12px 20px!important;}

div.additionalInner {float:left; width: 240px; margin-left: 6px;} 
div.additionalInner h2, div.additionalInner h2 a {font-size: 13px; line-height: 15px;margin: 0 0 8px 0;font-weight: 600;}

/* featured banner-type content blocks  */
.featureBanner {position:relative; width:555px; height:230px; border-radius:6px 6px 6px 6px;}
.featureBanner h2 {position:absolute; left:0; margin:0; min-width:100px; height:45px; padding:10px 20px 16px; text-transform:uppercase; font-size:15px; line-height:15px;border-radius:5px 0 0 0;background:url(../../5a6cd81c-d890-4d3f-9ede-6519d97fd8fc/bg-fbLight-h2.png-MOD=AJPERES&CACHEID=5a6cd81c-d890-4d3f-9ede-6519d97fd8fc.png)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/5a6cd81c-d890-4d3f-9ede-6519d97fd8fc/bg-fbLight-h2.png?MOD=AJPERES&CACHEID=5a6cd81c-d890-4d3f-9ede-6519d97fd8fc*/ no-repeat right bottom; color:#6390c6;}
.featureBanner h3 {width:310px; padding:60px 0 12px 0; color:#e77c22; text-transform:uppercase; margin:0; clear:both; display:block; float:left; }
.featureBanner p {width:302px; padding:2px 0 6px 0; clear:both; display:block; float:left;font-size:12px; line-height:14px;}
/* is the feature banner left or right on the screen?  */
.fbLeft {float:left;}                .fbLeft h3 {color:#393939;font-size:19px;letter-spacing:-1px;}
.fbRight {float:right;}              .fbRight h3 {padding-top:56px;font-size:19px;letter-spacing:-0.04em;}

/* is the text INSIDE the banner to the left or to the right?  */
.fbTextLeft {padding-left:20px; background-position:bottom right!important;}
.fbTextRight {padding-left:232px; background-position:bottom left!important;}

/* is the feature banner background dark or light colored?  */
.fbDark {background-color:#252525;border: 1px solid #efefef;}
/*
.fbDark h2 {background:url(/wps/wcm/connect/abf80ca0-08f8-4d94-b14f-2e213d0cd4df/bg-fbDark-h2.png?MOD=AJPERES&amp;CACHEID=abf80ca0-08f8-4d94-b14f-2e213d0cd4df) no-repeat right bottom; color:#fff;}
*/
.fbDark p, .fbDark h3 {color:#fff;}
.fbLight {background-color:#fff; border:1px solid #efefef;}
.fbLight p {color:#333;}
.featureBanner.fbLight h2 {color:#e77c22;}

.subItem {padding:10px 10px 0 0;}
.subItem p, .subItem a, .subItem p a, .subItem li, .subItem li a {font-size:11px; line-height:13px; margin:10px 0 0 0;}
.subItem p {color:#999;}
.subItem p + p {margin-top:8px;}
.subItem.noShow p {display:none;}
.subItem ul {margin-left:12px; padding-left:12px; margin-top:10px!important;}
.subItem li {font-size:11px; line-height:14px; color:#666; margin:0; padding:0;}
.subItem li:first-child {margin-top:8px;}
.subItem li a {font-size:11px;font-weight:normal!important;}
.subItem a {font-size:11px; color:#466ea5; text-decoration:none;}
.subItem a:hover, .subItem li a:hover {color:#1a5bb4;}
.subItem a:visited {color:#466ea5;} 
.subItem h2 {width:232px; height:44px; display:table-cell; vertical-align:bottom;padding-bottom:6px;}
.subItem h2 a {font-size:18px;}
/*
.subItem h2:after { content: ""; display: block;  clear: both; margin-bottom:6px;}
*/
div.subItem img {max-width:240px; border-radius:4px 4px 4px 4px; -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2); box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);}
div.subItem.lastBlock + div.subItem {clear:both;}

.pageNav {padding:6px 0px 3px 0;}
.pageNav p {float:left;font-size:11px!important; color:#888; margin:0;}
.pageNav p a:first-child {padding-left:6px;}
.pageNav a {font-size:11px!important; padding:0 3px; }
.pageNav p.showAll {float:right;}
.topPageNav {margin-top:12px; /* border-bottom:1px solid #eee; */ }

.featureCopyBlock h1, .sectionIntro h1 {font-size:32px; line-height:32px; margin:0 0 32px 0; letter-spacing:-1px; padding-top: 2px;}
h4.in-this-section {margin:0;color:#ccd8eb;letter-spacing:2px;font-size:12px;font-weight:bold;padding-top:6px;margin-top:24px;}
.featureCopyBlock h2, .sectionIntro h2 {color: #466ea5; font-size: 18px; letter-spacing:-0.055em; margin: 9px 0 4px 0; font-weight: 600;}
.featureCopyBlock h3 {color:#333; font-weight: 600; font-size:16px; line-height:18px; margin:0 0 8px 0;}
.sectionIntro h3, h3.h3 {color: #333; font-size: 15px; letter-spacing:0; margin: 0 0 4px 0; font-weight: 600;}
h2 + h3.h3 {margin-top:12px;} 
.featureCopyBlock h1 + h2 {margin-top:18px;}
h4.pageTitle {font-size: 26px;margin-bottom: 16px;font-weight: 400;color: #6390c6;
letter-spacing: -0.039em;}
h1.pageTitle {font-size: 32px;line-height:34px; letter-spacing: -0.039em;}

img.imageShadow, img.imageShadow.fr, img.imageShadow.fl {max-width:320px; -webkit-box-shadow:0px 1px 5px rgba(0,0,0,0.3); box-shadow:0px 1px 5px rgba(0,0,0,0.3); margin:0 0 20px 0; border-radius:4px 4px 4px 4px;}

.featureCopyBlock img+img {margin-top:0;}
.featureCopyBlock img.fl {float:left; margin:0 20px 20px 0;}
.featureCopyBlock img.fr {float:right; margin:0 0 20px 20px;}
.featureCopyBlockNarrow {float:left; width:500px; padding-right:0px;}
.featureCopyBlockPromo {float:left; width:680px; padding-right:0px;}
.featureCopyBlock780 {float:left; width:780px; padding-right:0px;}

.sectionIntro img.fl {float:left; margin:0 20px 20px 0;}
.sectionIntro img.fr, .featureCopyBlock img.fr {float:right; margin:0 0 20px 20px;}
.sectionIntro p:last-child {margin:0;}
.sectionIntro {margin-bottom:10px;}

.innerCopy {width:75%; float:left; padding-left:30px; margin-left:0px; border-left:1px solid #eee;}
.innerCopy p {padding-left:0px;}
.innerCopy p.noIndent {padding-left:0px!important;}
.innerCopy ul li p, .innerCopy p.noIndent {padding-left:0px!important;}
.innerCopy.mpgsBg {min-height:900px; background:url(../../d766cbae-6b47-4c5b-8b30-09ff96f0a045/bg-mpgs-city.jpg-MOD=AJPERES&CACHEID=d766cbae-6b47-4c5b-8b30-09ff96f0a045.jpg)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/d766cbae-6b47-4c5b-8b30-09ff96f0a045/bg-mpgs-city.jpg?MOD=AJPERES&CACHEID=d766cbae-6b47-4c5b-8b30-09ff96f0a045*/ no-repeat 0 100%;}

div.contentListing {padding:1em 2em; border-bottom:1px solid #eff9ff; min-height:90px; background:#ffffff; -webkit-transition: all .5s;-moz-transition: all .5s;-o-transition: all .5s;-ms-transition: all .5s;transition: all .5s;}
div.contentListing:hover {background:#fcfcfc;}
.contentListing h2, .contentListing h2 a {font-size:16px; line-height:1.1; margin:0 0 8px 115px;}
.contentListing h3, .contentListing h3 a {font-size:17px; line-height:1.1; margin:0 0 8px 0; font-weight: 400;padding-top:.2em;color:#494b54;max-width:38em;}
.contentListing h4, .contentListing h4 a {font-size:12px; line-height:1.1; margin:0 0 6px 0; font-weight: 600; color:#444;}
h4.publishDate {font-size:10px; color:#999; text-transform:uppercase;}
.contentListing h5, .contentListing h5 a {font-weight: 400; font-size: 10px;color: #999; margin-bottom:12px; letter-spacing:1px;}
.contentListing p, .contentListing a {font-size:11px; line-height:15px;color:#999;}
.contentListing p {margin:0;}
.contentListing p + p {margin-top:14px;}
.contentListing img {float:left; margin:0 14px 10px 0;}
.exec-list,
.paper-list,
.site-area-list {float:left; max-width:550px;}
a#buttonlink {position:absolute;}


/* section nav */
div.sectionNav {padding:6px 0 20px 0;}
p.snIntroText {font-size: 11px;line-height: 12px;text-transform: uppercase;margin: 0 0 6px 0;padding: 6px 0 0 0;color: #888888;letter-spacing: 1px;}

div.sectionNav ul {padding-left:0;}
div.sectionNav ul li {width:100%; max-width:31%; display:block; float:left; margin:0 2% 0 0;}
div.sectionNav h2 {color:#444!important;}
div.sectionNav h2 a {display:block; padding:10px 5px 10px 9px; border:1px solid #f3bd90; border-radius:4px; font-size:14px; font-weight:600; color:#444!important; line-height:14px; margin:0; -webkit-box-shadow:  2px 2px 0px 0px rgba(0, 0, 0, .3); box-shadow:  2px 2px 0px 0px rgba(0, 0, 0, .3); background-color:#faede2; min-height:50px;}
div.sectionNav h2 a:hover, div.sectionNav h2 a.snActive {border:1px solid #e77c22; background-color:#e77c22; color:#fff!important;}
div.sectionNav h2 a.snActive {cursor:default; position:relative; top:2px; box-shadow:none;}
div.sectionNav h2 a:active {border:1px solid #d1701e; position:relative; top:1px; box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, 0.1);}
div.sectionNav h2 span {display:block; padding:4px 0 0 0!important; font-size:11px; line-height:1; font-weight:300; color:#bbb;}
div.sectionNav h2 :hover span,  div.sectionNav ul li h2 a.snActive span {color:#fff; opacity:0.8;}

/* section nav alt */
div.sectionNavAlt {float: right;width:54%;padding:12px;border-bottom: 2px solid #f5f5f5;border-left: 2px solid #f5f5f5;border-radius: 0 12px 0 12px;margin: 0 0 20px 20px; background:none;}
div.sectionNavAlt h2 a {font-size:13px;}

/* section nav alt 2 */
.bulletNav {width:31%; float:left; margin:0 3% 0 0; padding:14px; border-radius:6px; background:#faede2; border:1px solid #f3bd90;-webkit-box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, .3);box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, .3);}
.bulletNav h2, .bulletNav h2 a {text-decoration:none; font-size:15px; color:#222; line-height:1.1; margin:0 0 10px 0; font-weight:bold;text-shadow: 0px 1px 0px #ffffff;
/*
filter: dropshadow(color=#ffffff, offx=0, offy=1);
*/
}
.bnExp {min-height:108px;}
.bnMp {min-height:78px;}
.bulletNav h2 a:hover {text-decoration:underline;}
.bulletNav li {margin-top:4px; color:#e77c22;}
.bulletNav li:last-child {margin-bottom:1px;}
.bulletNav p {font-size:13px;color:#222; line-height:1.2;}
.bulletNav p.bnLearnMore {margin: 14px 0 0 0;}
.bulletNav p.bnLearnMore a {color:#222; font-weight:bold;}
.bulletNav:hover, .bulletNav:hover * {background:#e77c22; color:#fff; text-shadow:none;}
.bulletNav:hover p.bnLearnMore a {color:#fff; text-shadow:none;}
.bulletNav:hover p.bnLearnMore a:hover {text-decoration:underline;}

/* addl resources */
.additionalResources {margin-top:26px;}
.additionalResources h1 {font-size: 20px;line-height: 25px;margin: 0 0 20px 0;letter-spacing: normal;border-bottom: 1px solid #eee;}
.additionalResources h2, .additionalResources h2 a {font-size:14px; line-height:15px; margin:0 0 8px 0;}
.additionalResources p, .additionalResources a {font-size:12px; line-height:15px; margin:0 0 12px 0; padding-right:22px;}
.additionalResources img.fl {margin:0 12px 20px 10px; box-shadow:0px 1px 6px rgba(0, 0, 0, 0.2);}
.additionalResources img.frl {margin:0 10px 20px 12px; box-shadow:0px 1px 6px rgba(0, 0, 0, 0.2);}

div.addlResourcesVert, .promoRight, .rightCol {float:right; width:36%; max-width:260px; min-height:100px; padding:2px 0 12px 14px; margin:0 0 12px 0px; border-left:1px solid #eee;}
.addlResourcesVert h1, .promoRight h1, .promoLeft h1 {color:#e77c22; font-size:18px; line-height:20px; margin:0 0 12px 0; letter-spacing:normal;}
.addlResourcesVert h2, .addlResourcesVert h2 a, .promoRight h2, .promoRight h2 a, .rightCol h2, .rightCol h2 a, .promoLeft h2, .promoLeft h2 a {font-size:14px; line-height:15px; margin:0 0 8px 0; color:#555; font-weight:bold;}
.addlResourcesVert p, .addlResourcesVert a, .promoRight p, .promoRight a, .rightCol p, .rightCol a, .promoLeft p, .promoLeft a {font-size:12px; line-height:15px; margin:0 0 12px 0;}
.addlResourcesVert img, .promoRight img, .rightCol img, .promoLeft img {margin-bottom:6px;}
div.promoLeft {width:24.25%; max-width:250px; float:left;}
.promoRight300 {width:300px;}

div.leftCol {width:25%; max-width:250px; float: left; margin: 0; padding: 0 20px 0 0;}
div.rightCol {max-width:262px; margin-left:30px;}
div.rightCol h1, div.leftCol h1, div.rightCol h2, div.leftCol h2, div.rightCol h3, div.leftCol h3, div.rightCol h4, div.leftCol h4 {color:#e77c22; font-size:17px; line-height:18px; font-weight: 600; margin:0 0 9px 0; letter-spacing:normal!important;}
div.rightCol h4, div.leftCol h4, div.rightCol h4 a, div.leftCol h4 a  {color:#e77c22; font-size:16px; line-height:18px; font-weight: 600; margin:0 0 6px 0;}
div.rightCol h5, div.leftCol h5, div.rightCol h5 a, div.leftCol h5 a {color:#6390c6; font-size:15px; line-height:17px; font-weight: 600; margin:0 0 6px 0;}
div.rightCol h6, div.leftCol h6, div.rightCol h6 a, div.leftCol h6 a {color:#444; font-size:12px; line-height:17px; font-weight: 600; margin:0 0 6px 0;}
div.rightCol h6.expActive, div.leftCol h6.expActive {color:#333; background-color:none; background:transparent; display:inline-block; text-decoration:none; border:none;font-size:14px; padding:7px 18px;border:1px solid #dddddd;-moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px;float: left;margin-right: 0.6em;}
div.expColumnNarrow {max-width:450px;}
div.expColumnNarrow > div.quadrantExperis {max-width:450px!important; padding:16px!important;}
div.rightCol p, div.leftCol p, div.rightCol a, div.leftCol a {font-size:13px; line-height:17px; margin:0 0 8px 0;}

.articleTools, .featureCopyBlock .articleTools {margin:8px 0 20px 0; padding:8px 0px; }
.articleTools {margin:8px 0 0 0; clear:both;}
.articleTools a {margin:0; padding:0; height:16px; float:left;}
.articleTools span {display:block; float:left;}
.articleTools span a {font-size:11px; line-height:16px; color:#666; padding-left:20px; background:url(../../bda0f54b-0214-4180-ae46-c15c25c18a66/icon-download-16h.png-MOD=AJPERES&CACHEID=bda0f54b-0214-4180-ae46-c15c25c18a66.png)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/bda0f54b-0214-4180-ae46-c15c25c18a66/icon-download-16h.png?MOD=AJPERES&CACHEID=bda0f54b-0214-4180-ae46-c15c25c18a66*/ no-repeat 0 0;}
.articleTools span a:hover {color:#666; text-decoration:underline;}

.reportCallout {float:right; padding:40px; margin:40px 40px 40px 80px; background:#fcfcfc url(../../c3825c3c-3c45-43a1-af94-061c4bfecd6a/bg-h3-articleIntro.jpg-MOD=AJPERES&CACHEID=c3825c3c-3c45-43a1-af94-061c4bfecd6a.jpg)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/c3825c3c-3c45-43a1-af94-061c4bfecd6a/bg-h3-articleIntro.jpg?MOD=AJPERES&CACHEID=c3825c3c-3c45-43a1-af94-061c4bfecd6a*/ no-repeat left top; border:1px solid #eaeaea;  border-radius:6px 6px 6px 6px; box-shadow:0px 1px 6px rgba(0,0,0,0.1);}
.reportCallout h2 {color:#333; text-align:center; font-size:26px; letter-spacing:-1px; margin:0 0 11px 0;}
div.reportCallout + p.textBold {font-size:16px; color:#444;}

.justaBlock {display:block; float:left; width:24px;height:24px;margin:0 10px 10px 0; border-radius:4px 4px 4px 4px; position:relative; top:2px;}
.mpBlue {color:#466ea5!important;border-color:#466ea5!important;}
.mpLightBlue {color:#6390c6!important; border-color:#6390c6!important;}
.mpVeryLightBlue {color:#a4bcdd!important; border-color:#a4bcdd!important;}
.mpGreen {color:#8aa49a!important;border-color:#8aa49a!important;}
.mpOrange{color:#e77c22!important;border-color:#e77c22!important;}
.mpRed {color:#b96767!important;border-color:#b96767!important;}
.mpGray {color:#a3a5aa!important;border-color:#eee!important;}
.mpWhite {color:#ffffff!important;border-color:#fafafa!important;}
.bgMpBlue {background-color:#466ea5!important;}
.bgMpLightBlue {background-color:#6390c6!important;}
.bgMpGreen {background-color:#8aa49a!important;}
.bgMpOrange{background-color:#e77c22!important;}
.bgMpRed {background-color:#b96767!important;}
.bgMpGray {background-color:#cacbce!important;}
.bgMpWhite {background-color:#ffffff!important;}

img.bookletCallout {position:absolute; right:28px; bottom: 12px; width:170px;}

div.learnMore ul {padding-left: 1.3em!important;}
div.learnMore ul li 	{font-weight:400; margin-top:0.3em;}

div.callOutGray {position:relative!important; margin:20px 0; padding:17px 20px 20px 20px!important; min-height:50px; border-radius:12px 12px 12px 12px; box-shadow:0 8px 6px -6px rgba(0, 0, 0, 0.5); background:transparent url(../../06a188bd-6409-4719-b531-bdb032fc37b4/bg-h1.jpg-MOD=AJPERES&CACHEID=06a188bd-6409-4719-b531-bdb032fc37b4.jpg)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/06a188bd-6409-4719-b531-bdb032fc37b4/bg-h1.jpg?MOD=AJPERES&CACHEID=06a188bd-6409-4719-b531-bdb032fc37b4*/ repeat 100% 0%;}

div.callOutGray * {color:#ffffff;}
div.callOutGray h1, div.callOutGray h2, div.callOutGray h3, div.callOutGray h4  {font-size:22px; line-height:22px; padding:0 0 12px 0!important; margin:0 0 12px 0!important; border-bottom:1px solid #333;}
div.callOutGray h2 {padding:0 0 4px 0!important; text-shadow: 0px 1px 0px #555555; text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5); 
/*
filter:dropshadow(color=#111111, offx=0, offy=1); 
*/
border-bottom:1px solid #A3A5AA!important;}
div.callOutGray h3 {font-weight: 600; padding:0!important; margin:0!important; border-bottom:none; font-size:11px; line-height:13px; text-transform:uppercase; color:#C6D9FF!important;}
div.callOutGray div.callOutInner33 h4  {border:none; font-size:16px; line-height:16px; font-weight: 600; margin:0 0 5px 0;}
div.callOutGray p {margin:0 0 16px 0; color:#fff;}
div.callOutGray p.here {font-weight:bold;}
div.callOutGray a {color:#fff;}
div.callOutGray a:hover {text-shadow: 0px 1px 0px #555555; text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5); 
/*
filter:dropshadow(color=#111111, offx=0, offy=1);
*/
text-decoration:underline;}
div.callOutGray hr {color:#aaaaaa; background-color:#aaaaaa; margin:0 0 12px 0;}
div.callOutGray.learnMore p {margin:0 0 4px 0;font-size:13px;}

p.learnMoreArrow {padding-left:10px; background:url(../../50e4566e-07d0-4dad-8890-e5bb973e93e1/icon-secondary-nav-arrow.png-MOD=AJPERES&CACHEID=50e4566e-07d0-4dad-8890-e5bb973e93e1.png)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/50e4566e-07d0-4dad-8890-e5bb973e93e1/icon-secondary-nav-arrow.png?MOD=AJPERES&CACHEID=50e4566e-07d0-4dad-8890-e5bb973e93e1*/ no-repeat 0 6px; }

.learnMoreBlock {float:left; padding-right:30px;}
.learnMoreBlock.lastBlock {padding-right:0!important;}

div.callOut {margin:28px 0 20px 0; padding:20px; min-height:50px; border-radius:12px 12px 12px 12px; border:2px solid #dedede; box-shadow:0px 1px 4px rgba(0,0,0,0.1); background: #fdfdfd;}
div.callOut h1, div.callOut h2, div.callOut h3, div.callOut h4 {font-size:22px; line-height:22px; font-weight:normal; padding:0 0 8px 0; margin:0 0 10px 0; border-bottom:1px solid #eeeeee;}
div.callOut h2 {color:#333;}
div.callOut h3 {font-weight: 600; padding:0; margin:0 0 1px 0; border-bottom:none; font-size:11px; line-height:13px; text-transform:uppercase; color:#67696f;}
div.callOut h4 {letter-spacing:-1px; font-weight: 600; padding:0; margin:0 0 8px 0; border-bottom:none; font-size:18px; line-height:20px;}
div.callOutInner33 h4, div.callOutInner33 h4 a  {border:none; font-size:14px; line-height:14px; font-weight: 600; margin:0 0 0 0;}
div.callOutInner33 h5, div.callOutInner33 h5 a {color:#e77c22; font-size:15px; line-height:17px; font-weight: 600; margin:0 0 6px 0;}
div.callOutInner33 p, div.callOutInner33 a  {font-size:13px!important; line-height:17px!important; margin:0 0 8px 0!important; padding:0!important;}
div.callOut hr {color:#dddddd; background-color:#dddddd; margin:0 0 12px 0;}
div.callOutInner {float:left;}
div.callOutInner33 {float:left; width:30%; margin-right:3%;}
div.callOutBrand {float:right; width:50%; margin-left:3%; padding-left:50px; background:transparent url(../../56602beb-d154-40b6-9808-668ce42b0eae/arrow-right-thin-30.png-MOD=AJPERES&CACHEID=56602beb-d154-40b6-9808-668ce42b0eae.png)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/56602beb-d154-40b6-9808-668ce42b0eae/arrow-right-thin-30.png?MOD=AJPERES&CACHEID=56602beb-d154-40b6-9808-668ce42b0eae*/ no-repeat left center;}
div.callOutBrand p {font-size:11px; line-height:13px; margin:8px 0; color:#666666;}
div.callOutInner img.logoSmall, div.callOutInner33 img.logoSmall {float:left; width:60px; background-color:#ffffff; padding:4px; border-radius:4px 4px 4px 4px; margin:2px 12px 4px 0px;}

div.jobCallout {width:44%; margin:2% 3%; float:left;}

div.bgExpTree {background:url(../../12e101ad-a6ec-4a0f-9813-ec0c531d9728/bg-experis-page.jpg-MOD=AJPERES&CACHEID=12e101ad-a6ec-4a0f-9813-ec0c531d9728.jpg)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/12e101ad-a6ec-4a0f-9813-ec0c531d9728/bg-experis-page.jpg?MOD=AJPERES&CACHEID=12e101ad-a6ec-4a0f-9813-ec0c531d9728*/ no-repeat 100% 0%; width:1100px; position:relative; border-radius:13px; bottom:-30px; margin-top:-30px; padding-bottom:30px; padding-right:30px;}

div.bgMpgPage {background:url(../../4f9d92ea-44bd-4875-ac82-5fb2926202b7/bg-mpg-page.jpg-MOD=AJPERES&CACHEID=4f9d92ea-44bd-4875-ac82-5fb2926202b7.jpg)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/4f9d92ea-44bd-4875-ac82-5fb2926202b7/bg-mpg-page.jpg?MOD=AJPERES&CACHEID=4f9d92ea-44bd-4875-ac82-5fb2926202b7*/ no-repeat 100% 100%; width:1100px; position:relative; border-radius:13px; bottom:-30px; margin-top:-30px; padding-bottom:30px; padding-right:30px;}



div.bgRmPage {background:url(../../b7bc36fa-a57d-4fd0-97ea-a3414bfe22a4/bg-rm-page-03.jpg-MOD=AJPERES&CACHEID=b7bc36fa-a57d-4fd0-97ea-a3414bfe22a4.jpg)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/b7bc36fa-a57d-4fd0-97ea-a3414bfe22a4/bg-rm-page-03.jpg?MOD=AJPERES&CACHEID=b7bc36fa-a57d-4fd0-97ea-a3414bfe22a4*/ no-repeat 100% 83%; border-radius:13px; position:relative; bottom:-30px; right:0px; margin-right:-40px; margin-top:-30px; padding-bottom:30px;}


div.bgMpgsPage {background:url(../../d766cbae-6b47-4c5b-8b30-09ff96f0a045/bg-mpgs-city.jpg-MOD=AJPERES&CACHEID=d766cbae-6b47-4c5b-8b30-09ff96f0a045.jpg)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/d766cbae-6b47-4c5b-8b30-09ff96f0a045/bg-mpgs-city.jpg?MOD=AJPERES&CACHEID=d766cbae-6b47-4c5b-8b30-09ff96f0a045*/ no-repeat 100% 100%; border-radius:13px; position:relative; width:1100px; bottom:-30px; margin-top:-30px; padding-bottom:150px;}
div.manpowerBgContainer {background:url(../../c2e8f806-4898-4039-93ac-b59f2e393cf5/bg-manpower-lila.jpg-MOD=AJPERES&CACHEID=c2e8f806-4898-4039-93ac-b59f2e393cf5.jpg)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/c2e8f806-4898-4039-93ac-b59f2e393cf5/bg-manpower-lila.jpg?MOD=AJPERES&CACHEID=c2e8f806-4898-4039-93ac-b59f2e393cf5*/ no-repeat 50% 0; height:365px; position:relative;}
div.manpowerBgContainer div.manpowerBgInnerLeft {width:230px; position:absolute; top:40px;}
div.manpowerBgContainer h2 {margin:0 0 10px 0; font-size:17px;}
div.manpowerBgContainer p {padding:0; line-height:18px;}
div.manpowerBgContainer ul li p {padding:0; margin:0;}
div.manpowerBgContainer p + ul {margin:-6px 0 0 0!important;}
div.manpowerBgContainer ul {padding-left:24px!important;}
div.manpowerBgContainer div.manpowerBgInnerRight {width:290px; position:absolute; right:0; top:40px;}

.searchResultsLeft p {margin-bottom:8px; line-height:20px;}
.searchResultsLeft p span {font-weight: 600; font-size:16px; color:#222;}
.searchResultsLeft a.keywordClose {display:block; max-width:180px; font-size:12px; line-height:14px; color:#444; margin-bottom:7px; padding-left:20px; background:url(../../6d905af8-7a72-47e9-a784-0a21485b86c4/sprite-close-button.png-MOD=AJPERES&CACHEID=6d905af8-7a72-47e9-a784-0a21485b86c4.png)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/6d905af8-7a72-47e9-a784-0a21485b86c4/sprite-close-button.png?MOD=AJPERES&CACHEID=6d905af8-7a72-47e9-a784-0a21485b86c4*/ no-repeat left top; text-decoration:none;}
.searchResultsLeft a.keywordClose:hover {background:url(../../6d905af8-7a72-47e9-a784-0a21485b86c4/sprite-close-button.png-MOD=AJPERES&CACHEID=6d905af8-7a72-47e9-a784-0a21485b86c4.png)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/6d905af8-7a72-47e9-a784-0a21485b86c4/sprite-close-button.png?MOD=AJPERES&CACHEID=6d905af8-7a72-47e9-a784-0a21485b86c4*/ no-repeat bottom left;}
.searchResultsMain h1 {float:left; margin-right:20px;}
.searchResultsMain a.keywordClose {display:block; float:left; margin-top:6px; width:100px; font-size:12px; line-height:14px; color:#444; margin-bottom:0px; padding-left:20px; background:url(../../6d905af8-7a72-47e9-a784-0a21485b86c4/sprite-close-button.png-MOD=AJPERES&CACHEID=6d905af8-7a72-47e9-a784-0a21485b86c4.png)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/6d905af8-7a72-47e9-a784-0a21485b86c4/sprite-close-button.png?MOD=AJPERES&CACHEID=6d905af8-7a72-47e9-a784-0a21485b86c4*/ no-repeat top left; text-decoration:none;}
.searchResultsMain a.keywordClose:hover {background:url(../../6d905af8-7a72-47e9-a784-0a21485b86c4/sprite-close-button.png-MOD=AJPERES&CACHEID=6d905af8-7a72-47e9-a784-0a21485b86c4.png)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/6d905af8-7a72-47e9-a784-0a21485b86c4/sprite-close-button.png?MOD=AJPERES&CACHEID=6d905af8-7a72-47e9-a784-0a21485b86c4*/ no-repeat bottom left;}
.searchResult {padding:14px 0; border-bottom:1px solid #eee;}
.searchResult h2, .searchResult h2 a {font-weight: 600; font-size:14px; line-height:1.1; margin:0 0 6px 0;}
.searchResult p, .searchResult a {margin:0; font-size:12px; line-height:15px;}

.searchNoResult h2, .searchNoResult h3 {margin:24px 0 12px 0; font-size:16px; font-weight: 600; color:#222;}
.searchNoResult h3 {color:#466EA5; font-size:14px; margin:40px 0 4px 0;}

div.whyMp, div.whyMpL, div.whyMpR {margin-bottom:1px;}
div.whyMp p, div.whyMpL p, div.whyMpR p {margin-bottom:1px;}

/* large box on why manpowergroup page  */
div.quadrant {width:700px; height:540px; background:url(../../cca9791e-26fa-4fd8-ad9a-a8d18a798f85/whyMp-quadrant-bg.jpg-MOD=AJPERES&CACHEID=cca9791e-26fa-4fd8-ad9a-a8d18a798f85.jpg)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/cca9791e-26fa-4fd8-ad9a-a8d18a798f85/whyMp-quadrant-bg.jpg?MOD=AJPERES&CACHEID=cca9791e-26fa-4fd8-ad9a-a8d18a798f85*/ no-repeat 50% -130px; position:relative; border-radius:8px 8px 8px 8px; border:3px solid #ddd; box-shadow:0px 1px 4px rgba(0,0,0,0.1);}
div.quadrantExperis {width:700px; background: url(../../b3d85a61-67a8-4a00-b0f6-41af36e6efec/whyMp-quadrant-bg-exp.jpg-MOD=AJPERES&CACHEID=b3d85a61-67a8-4a00-b0f6-41af36e6efec.jpg)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/b3d85a61-67a8-4a00-b0f6-41af36e6efec/whyMp-quadrant-bg-exp.jpg?MOD=AJPERES&CACHEID=b3d85a61-67a8-4a00-b0f6-41af36e6efec*/ no-repeat 50% -140px!important; border:none; position:relative; border-radius:8px 8px 8px 8px; padding:20px; margin:0 0 20px 0; }
div.quadrant p {padding-left:0!important;}
div.quadrant div.quadTopRow {width:700px; height:210px; position:absolute; top:25px; left:0;}
div.quadrant div.quadTopRow div.quadTopLeft {width:300px; position:absolute; top:0px; left:30px;}
div.quadrant div.quadTopRow div.quadTopRight {width:300px; position:absolute; top:0px; right:20px;}
div.quadrant div.quadBottomRow {width:700px; height:300px; position:absolute; top:270px; left:0;}
div.quadrant div.quadBottomRow div.quadBottomLeft {width:300px; position:absolute; top:0px; left:30px;}
div.quadrant div.quadBottomRow div.quadBottomRight {width:290px; position:absolute; top:0px; right:30px;}

.gradientLightBlue {background: #f9fcff;
background: -moz-linear-gradient(-45deg,  #f9fcff 0%, #f4faff 99%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f9fcff), color-stop(99%,#f4faff));
background: -webkit-linear-gradient(-45deg,  #f9fcff 0%,#f4faff 99%);
background: -o-linear-gradient(-45deg,  #f9fcff 0%,#f4faff 99%);
background: -ms-linear-gradient(-45deg,  #f9fcff 0%,#f4faff 99%);
background: linear-gradient(135deg,  #f9fcff 0%,#f4faff 99%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fcff', endColorstr='#f4faff',GradientType=1 );
border:2px solid #6390c6;

}

.gradientLightGreen {background: #f7fcf9;
background: -moz-linear-gradient(-45deg,  #f7fcf9 0%, #ecf4eb 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f7fcf9), color-stop(100%,#ecf4eb));
background: -webkit-linear-gradient(-45deg,  #f7fcf9 0%,#ecf4eb 100%);
background: -o-linear-gradient(-45deg,  #f7fcf9 0%,#ecf4eb 100%);
background: -ms-linear-gradient(-45deg,  #f7fcf9 0%,#ecf4eb 100%);
background: linear-gradient(135deg,  #f7fcf9 0%,#ecf4eb 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7fcf9', endColorstr='#ecf4eb',GradientType=1 );
border:2px solid #8aa49a;
}

.gradientLightOrange {background: #fffaf7;
background: -moz-linear-gradient(-45deg,  #fffaf7 0%, #f9f1e5 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#fffaf7), color-stop(100%,#f9f1e5));
background: -webkit-linear-gradient(-45deg,  #fffaf7 0%,#f9f1e5 100%);
background: -o-linear-gradient(-45deg,  #fffaf7 0%,#f9f1e5 100%);
background: -ms-linear-gradient(-45deg,  #fffaf7 0%,#f9f1e5 100%);
background: linear-gradient(135deg,  #fffaf7 0%,#f9f1e5 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffaf7', endColorstr='#f9f1e5',GradientType=1 );
border:2px solid #ed9d59;
}

.gradientLightRed {background: #f9f4f4;
background: -moz-linear-gradient(-45deg,  #f9f4f4 0%, #f7f2f2 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f9f4f4), color-stop(100%,#f7f2f2));
background: -webkit-linear-gradient(-45deg,  #f9f4f4 0%,#f7f2f2 100%);
background: -o-linear-gradient(-45deg,  #f9f4f4 0%,#f7f2f2 100%);
background: -ms-linear-gradient(-45deg,  #f9f4f4 0%,#f7f2f2 100%);
background: linear-gradient(135deg,  #f9f4f4 0%,#f7f2f2 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f4f4', endColorstr='#f7f2f2',GradientType=1 );
border:2px solid #ab404b;
}


div.whyMp h2, div.whyExp h2 {font-size:25px; line-height:25px; font-weight:normal; letter-spacing:-1px; margin:0 0 12px 0;}
div.whyMp h2 {font-size:24px; line-height:24px;}
div.whyMp p, div.whyMpL p, div.whyMpR p {font-size:14px; line-height:18px; padding:0;}
div.whyExp p {font-size:15px; padding:0;}
div.whyExp {padding:20px;}
div.whyExp h2 {color:#000000;}
div.whyExp p {color:#ffffff; margin-bottom:2px;}

div.whyExpTight {padding:10px;}
div.whyExpTight h2 {font-weight:300; margin:0; padding:0; font-size:24px; line-height:24px; color:#111; letter-spacing:-1px!important; padding-left:24px; background:none; background:url(../../0929bc45-89da-437f-bc88-dea3948ea438/arrow-right-fff.png-MOD=AJPERES&CACHEID=0929bc45-89da-437f-bc88-dea3948ea438.png)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/0929bc45-89da-437f-bc88-dea3948ea438/arrow-right-fff.png?MOD=AJPERES&CACHEID=0929bc45-89da-437f-bc88-dea3948ea438*/ no-repeat center left;}

div.whyMpR {width:600px; margin-left:30px;}
div.whyMpLogos {margin:20px 0;}
div.whyMpLogos img {box-shadow:none; border-radius:0; display:block;float:left;}
h2.wmpBlue,h2.wmpLightBlue,h2.wmpGreen,h2.wmpOrange,h2.wmpRed {font-size:22px; line-height:21px; margin:0 0 12px 0; padding:0 0 0 0; letter-spacing:-1px;font-weight:normal; border-top:0px solid #f2f2f2;text-shadow: 0px 1px 0px #ffffff; 
/*
filter: dropshadow(color=#ffffff, offx=0, offy=1);
*/
 }

div.whyMpLogosGray a {background:url(../../b78fc0d1-caca-49c2-8c47-4433152023c0/sprite-stacked-logos.png-MOD=AJPERES&CACHEID=b78fc0d1-caca-49c2-8c47-4433152023c0.png)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/b78fc0d1-caca-49c2-8c47-4433152023c0/sprite-stacked-logos.png?MOD=AJPERES&CACHEID=b78fc0d1-caca-49c2-8c47-4433152023c0*/; display:block; float:left; margin:0 60px 0 0;}
div.whyMpLogosGray a.mpgs {background-position:-135px 100%; width:133px; height:85px;}
div.whyMpLogosGray a.mpgs:hover {background-position:-135px 0;}
div.whyMpLogosGray a.exp {width:63px; height:80px; background-position:-273px 100%; }
div.whyMpLogosGray a.exp:hover {background-position:-273px 0; }
div.whyMpLogosGray a.mp {width:85px; height:70px; background-position:-341px 100%;}
div.whyMpLogosGray a.mp:hover {background-position:-341px 0;}
div.whyMpLogosGray a.rm {width:108px; height:98px; background-position:100% 100%;}
div.whyMpLogosGray a.rm:hover {background-position:100% 0%;}

/* list styles   */
ul, ol {padding-left:30px;}
ul li, ol li {line-height:1.1;margin:8px 0 0 0; list-style-position:outside;font-size:14px; color:#6390c6;}
ul ul li, ul ul ul ul li, ol ol li, ol ol ol ol li  {color:#466ea5;}
ul ul ul li, ol ol ol li {color:#6390c6;}
ul li p, ol li p {margin-bottom:0!important; font-weight:normal; color:#444; line-height:1;}
ol li:last-child {margin-bottom:16px;}
li+li, li>ul, li>ol {margin-top:.6em;}
ul li p {line-height:inherit;font-weight:normal;}
ul li p+p {margin-top:12px!important;}
ol li p {line-height:inherit;font-weight:normal;}
ol li p+p {margin-top:2px!important;}
li h3 {margin:15px 0 4px 0!important; font-size:16px!important; font-weight: 600; color:#444;}
/*
ol ol li {list-style:lower-alpha;}
ol ol ol li {list-style:upper-roman;}
ol ol ol ol li {list-style:lower-roman;}
*/
ol ol {list-style:lower-alpha;}
ol ol ol {list-style:upper-roman;}
ol ol ol ol {list-style:lower-roman;}

li:last-child {margin-bottom:6px;}

.bigList li {list-style:upper-alpha; color:#6390c6;}
.bigList li > ol li {list-style:decimal; margin-bottom:.4em;}
.bigList li ol ol li {list-style:lower-roman; margin-bottom:.4em;}
.bigList li > ol li:last-child {margin-bottom:12px;}

div.rss_box li.rss_item {margin-bottom:0.4em;}
div.rss_box li.rss_item a {font-weight:normal;}
span.rss_date {display:block; font-size:11px; font-weight:normal; color:#aaa; margin-top:3px; margin-bottom:4px;}


/* TABLE STYLES  */

table {line-height:14px; color:#444; border-bottom:3px solid #eee; border-top:1px solid #eee; width:98%;}
table caption {text-align:left; background-color:#6390c6;  color:#fff; font-size:11px; text-transform:uppercase; padding:10px 8px; border-radius:0 12px 0 0; letter-spacing:1px;}
table tr {border-bottom:1px solid #eee; }
table th {display: table-cell; padding:8px; font-weight:bold; line-height:16px; background-color:#466ea5; color:#fff; width:150px;}	
table td {font-size:13px; line-height:14px; display: table-cell; padding:8px; background-color:#fff; color:#555;}
table thead tr td {padding:8px; font-weight:bold; font-size:13px; background-color:#fafafa; color:#333;}

table.tableMeos {font-size:12px; line-height:13px; color:#444; border-left:2px solid #6390c6; border-bottom:8px solid #6390c6; border-top: 1px solid #6390C6;}
table.tableMeos caption {color: #ffffff;font-size: 26px;line-height: 1;margin: 0px;padding: 18px 0 10px 8px;text-align:center;}
table.tableMeos {width:98%;}
table.tableMeos th {display: table-cell; padding:8px; font-weight:bold; line-height:16px; background-color:#fafafa; color:#666; width:150px;}			
table.tableMeos tr {border-bottom:0;}
table.tableMeos tr.meosCountry {border-bottom:1px solid #EEEEEE;}
table.tableMeos tr td:first-child {}
table.tableMeos td {font-size:13px; line-height:13px; color:#444; display:table-cell; padding:8px; background-color:#fefefe;}
table.tableMeos td a {font-size:13px; line-height:13px; font-weight:400;}
table td.tableHead, 
.tableMeos td.tableHead {padding: 12px 0 10px 8px; font-weight:bold; font-size:18px; background-color:#81a4d2; color:#fff; text-shadow: 0px -1px 0px #466ea5;}

.tableMeos td.tableBold {font-size:15px; background-color:#f1f1f1; border-top:2px solid #6390c6;}
.tableMeos td.tableBold:hover {background-color:#f0f0f0;}
div.tableContainer {max-width:772px;}

div.indent {margin-left:16px!important;}
div.indent ul li h3 {color: #333;font-weight: 600;font-size: 15px;line-height: 16px;margin: 0 0 6px 0;}
div.indent ul li p {font-size:14px; line-height:19px!important;}

/* sitemap  */
.sitemap {padding-bottom:20px;}
.sitemap a {font-size:13px; font-weight:normal; line-height:1.2; display:block; padding:4px 10px;}
.sitemap h3, .sitemap h3 a {margin:0; font-size:14px; font-weight:bold; line-height:1.5; background-color:#fafafa; color:#444; }
.sitemap h3 {border-top:1px solid #ddd; padding:4px 10px; }
.sitemap h3 a {padding:0;}
.sitemap h3 + h3 {margin-top:8px;}
.sitemap h3 a:first-child {margin:0;}
.sitemap h3 a:hover, .sitemap h3 a:visited {color:#222;}
.sitemap ul {list-style-type:none; margin-left:0; padding-left:.4em;}
.sitemap ul li {margin:0; padding:0;}
.sitemap ul ul {padding-left:1em;}
.sitemap ul ul li a {font-size:12px; color:#999; padding:2px 0;}
.sitemap ul ul li a:hover, .sitemap ul ul li a:visited {color:#555;}
.sitemap ul ul li a:before {content:"»\a0";}
.sitemap ul ul + li {margin-top:8px;}
.sitemap .block33 {margin-left:20px; border-left:1px solid #ccc; width:30%;}
.sitemap .block33:first-child {margin-left:0;}
.sitemap ul + h3 {margin-top:12px!important;}
.sitemapOutlineOne {border:1px solid #eee; margin:0; padding:20px; border-radius:0 12px 12px 0;}
.sitemapOutline {border:1px solid #eee; margin:10px 0 14px 0;  padding:0 0 12px 0; border-radius:0 12px 12px 0;}

/* FOOTER and UTILITY FOOTER   */
.footer {width:100%; background:#d2d3d5 url(../../f0e99471-3da6-4bac-af72-45b3b39a2c95/bg-footer.jpg-MOD=AJPERES&CACHEID=f0e99471-3da6-4bac-af72-45b3b39a2c95.jpg)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/f0e99471-3da6-4bac-af72-45b3b39a2c95/bg-footer.jpg?MOD=AJPERES&CACHEID=f0e99471-3da6-4bac-af72-45b3b39a2c95*/ no-repeat top center; padding:30px 0;}
footer p {font-size:11px; line-height:14px; margin:12px 20px 0 0;}
footer h3 {font-size:15px; font-weight:normal; letter-spacing:0; color:#494b54; margin:0 20px 0 0; padding:0 0 6px 0; line-height:1em; border-bottom:5px solid #bdbdc0; }
footer ul {list-style-type:none; margin:10px 0 0 0; padding:0;}
ul.footerLinks li, ul.footerLinks li a {color:#494b54; padding-left:1px; margin:0; font-size:12px; line-height:21px; text-decoration:none;font-weight:normal; }
ul.footerLinks li a:hover {color:#515258; text-decoration:underline;}
footer h3 {opacity:.8;}

.utilityFooter {clear:both; margin-top:60px; padding-top:6px; border-top:1px solid #bdbdc0;}
.utilityFooter p {padding:0 0 0 3px; margin:0; float:left; width:40%; color:#74757e; font-size:11px; line-height:16px;}
.utilityFooter ul {margin:0; padding:0; float:right;}
.utilityFooter ul li {margin:0; float:left; font-size:8px; line-height:16px;}
.utilityFooter ul li+li:before {content: "\a0\a0•\a0\a0";}
.utilityFooter ul li.lastInList:after {content: "";}
.utilityFooter ul li a {padding:0; color:#74757e; margin:0; font-size:11px; line-height:16px; text-decoration:none; font-weight:normal;}
.utilityFooter ul li {color:#999;}
.utilityFooter ul li a:hover {color:#515258; text-decoration:underline; }

/* social icons in footer  */
ul.socialicons {margin-top:14px;}
ul.socialicons li {margin-left:3px; margin-bottom:4px;}
ul.socialicons li a {padding-left:30px; margin:4px 0; line-height:24px;}
.social-in,.social-tw, .social-fb,.social-yt,.social-rs {display:block;width:24px;height:24px; background:url(../../cbe1b3bb-6527-4ab0-81d0-6f3526de5fe1/tools-social-sprite.png-MOD=AJPERES&CACHEID=cbe1b3bb-6527-4ab0-81d0-6f3526de5fe1.png)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/cbe1b3bb-6527-4ab0-81d0-6f3526de5fe1/tools-social-sprite.png?MOD=AJPERES&CACHEID=cbe1b3bb-6527-4ab0-81d0-6f3526de5fe1*/ no-repeat 0 0; width:70%;}
.social-tw {background-position:0 -48px;}
.social-fb {background-position:0 -96px;}
.social-yt {background-position:0 -144px;}
.social-rs {background-position:0 -192px;}

a.addthis_button_compact.at300m {position: absolute!important;
    right:0; top: 8px!important; width:16px!important; padding:0!important;}
#utilityNav p:first-child {padding-right:22px;}

div#rep-contact-form {margin:20px 0 40px 0;}
div#rep-contact-form span {display:block; float:left; width:28%; margin-right:6%;}
div#rep-contact-form label {margin:12px 0 3px 0; font-size:12px; color:#999; line-height:14px; display:block; font-weight:600;}
div#rep-contact-form label:first-child {margin-top:0px;}
div#rep-contact-form input, div#rep-contact-form textarea {-webkit-box-shadow: inset 1px 1px 4px 0px rgba(0, 0, 0, 0.1);box-shadow: inset 1px 1px 4px 0px rgba(0, 0, 0, 0.1); font-size: 12px;border: 1px solid #CDCED1;color: #444;text-decoration: none; width: 100%; border-radius: 3px 3px 3px 3px; height: 28px;line-height: 28px;padding: 0 0 0 8px;}

div#rep-contact-form textarea {
width:100%; min-height:70px;}
input#submit, div#rep-contact-form input#submit {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing:border-box; color:#fff!important; font-weight:bold!important;-moz-box-shadow: 0px 3px 0px 0px #c4691c;-webkit-box-shadow: 0px 3px 0px 0px #c4691c;box-shadow: 0px 3px 0px 0px #c4691c;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e77c22), color-stop(1, #df7013));background:-moz-linear-gradient(top, #e77c22 5%, #df7013 100%);
background:-webkit-linear-gradient(top, #e77c22 5%, #df7013 100%);
background:-o-linear-gradient(top, #e77c22 5%, #df7013 100%);
background:-ms-linear-gradient(top, #e77c22 5%, #df7013 100%);
background:linear-gradient(to bottom, #e77c22 5%, #df7013 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e77c22', endColorstr='#df7013',GradientType=0);background-color:#e77c22;-moz-border-radius:6px;
-webkit-border-radius:6px;border-radius:6px;text-decoration:none;border:none;
text-shadow:0px -1px 0px #c4691c;cursor:pointer;font-size:12px; padding:0; height:34px!important;}

input#submit:hover, div#rep-contact-form input#submit:hover {background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #df7013), color-stop(1, #e77c22));background:-moz-linear-gradient(top, #df7013 5%, #e77c22 100%);
background:-webkit-linear-gradient(top, #df7013 5%, #e77c22 100%);
background:-o-linear-gradient(top, #df7013 5%, #e77c22 100%);
background:-ms-linear-gradient(top, #df7013 5%, #e77c22 100%);
background:linear-gradient(to bottom, #df7013 5%, #e77c22 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#df7013', endColorstr='#e77c22',GradientType=0);background-color:#e77c22;}

input#submit:active, div#rep-contact-form input#submit:active {
position:relative;top:1px;-moz-box-shadow: 0px 2px 0px 0px #c4691c;-webkit-box-shadow: 0px 2px 0px 0px #c4691c;}

div#rep-contact-form hr {clear:both; margin:8px 0!important; visibility:hidden;}
div#rep-contact-form select.sparkbox-custom {width:100%!important;}

div.tl-partners-container {max-width:380px;}
div.tl-partners-container h2 {padding:0;margin:4px 0 3px 0;}
div.tl-partners-container h3 {font-size:11px; font-weight:300; line-height:14px; color:#aaa; margin:0 0 16px 0;}
div.tl-partners-container p {font-size:12px; line-height:16px; color:#555;}
div.tl-partners-container img {float:left; border-radius:3px; box-shadow:0px 1px 6px rgba(0,0,0,0.2); margin:0 12px 4px 0;}
div.tl-partners-bio {margin:0!important; float:left;}
div.tl-partners-bio div.expander div.summary p span.read-more a,
div.tl-partners-bio div.expander div.details span.read-less a {font-size:12px!important; font-weight:bold!important;}

iframe.historyTimeline {width:1130px; height:690px; border:0; border-radius:4px;}
iframe.csrModal {width:100%; height:100%; border:0; border-radius:4px;}
div.timeliner h2 {padding-bottom:4px; border-bottom:1px solid #eee; margin-bottom:12px; margin-top:6px; font-size:33px; font-weight:300;letter-spacing:-1px; color:#cacbce;}

.iconArrow {width:8px; height:13px; position:relative; top:1px; display:inline-block; margin-right:5px; background:url(../../c50b7354-fda2-47ef-9fc8-78004a3e0186/sprite-arrows-8w.png-MOD=AJPERES&CACHEID=c50b7354-fda2-47ef-9fc8-78004a3e0186.png)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/c50b7354-fda2-47ef-9fc8-78004a3e0186/sprite-arrows-8w.png?MOD=AJPERES&CACHEID=c50b7354-fda2-47ef-9fc8-78004a3e0186*/ no-repeat 0 0;}
.orangeArrow {background-position:0 0;}
.redArrow {background-position:-8px 0!important;}
.greenArrow {background-position:-16px 0!important;}
.lightBlueArrow {background-position:-24px 0!important;}
.blueArrow {background-position:-32px 0!important;}
.grayArrow {background-position:-40px 0!important;}
.blackArrow {background-position:-48px 0!important;}

/* large titles at bottom of solutions pages */
div.boxWhite {background:#ffffff url(../../295c06f3-dbe8-430d-a98b-e6b499ba2f84/bg-ribbon-titleBottom.jpg-MOD=AJPERES&CACHEID=295c06f3-dbe8-430d-a98b-e6b499ba2f84.jpg)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/295c06f3-dbe8-430d-a98b-e6b499ba2f84/bg-ribbon-titleBottom.jpg?MOD=AJPERES&CACHEID=295c06f3-dbe8-430d-a98b-e6b499ba2f84*/ no-repeat 50% 50%; padding:20px 0; border-radius:6px;}
div.boxMedBlack {background:#111111 url(../../62a13068-4511-425a-a161-7eea5c772f65/bg-ribbon-titleBottom-med.jpg-MOD=AJPERES&CACHEID=62a13068-4511-425a-a161-7eea5c772f65.jpg)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/62a13068-4511-425a-a161-7eea5c772f65/bg-ribbon-titleBottom-med.jpg?MOD=AJPERES&CACHEID=62a13068-4511-425a-a161-7eea5c772f65*/ no-repeat 50% 50%; padding:20px 0; border-radius:6px;}
div.boxBlack {background:#111111 url(../../1f9faa59-b45b-4108-9920-d49423726389/bg-ribbon-titleBottom-dark.jpg-MOD=AJPERES&CACHEID=1f9faa59-b45b-4108-9920-d49423726389.jpg)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/1f9faa59-b45b-4108-9920-d49423726389/bg-ribbon-titleBottom-dark.jpg?MOD=AJPERES&CACHEID=1f9faa59-b45b-4108-9920-d49423726389*/ no-repeat 50% 50%; padding:20px 0; border-radius:6px;}

h1.titleBottom {text-align:center; margin:0; padding:0; font-size:26px; font-weight:200; text-transform:uppercase;}

span.iconPdf {text-shadow: 0px 1px 0px #555555; text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5); 
/*
filter:dropshadow(color=#111111, offx=0, offy=1);
*/
 display:inline-block;background:#c40000;color:white;padding:3px 5px 3px 4px;font-size:9px;line-height:9px;text-align:center;font-weight:bold;border-radius:3px;position:relative;bottom:2px; left:6px; margin-right:6px;}
span.iconPdf:hover {text-decoration:none!important; background:#b80505; box-shadow: 0px 1px 3px rgba(0,0,0,0.5);}

/* STICKY NAV  */
.block25.containerLeft.stick {position: fixed;  top: 0;  z-index: 1000000;  }
div.block25.containerLeft.stick nav.navSecondary ul li a {font-size: 12px;line-height: 15px;color: #666;text-decoration: none;display: block;padding: 5px 8px;font-weight: normal;background: none;border-top: 1px solid #dedede;}
div.block25.containerLeft.stick div.searchLeft, div.block25.containerLeft.stick div.searchLeft h2 {margin-top:5px; padding-top:3px;}
div.block25.containerLeft.stick nav.navSecondary li.active a{font-weight:600;border-radius:0;color:#fff!important;background:transparent url(../../115065c6-664f-4360-85d6-e81fe6f1c8f5/arrow-down-fff.png-MOD=AJPERES&CACHEID=115065c6-664f-4360-85d6-e81fe6f1c8f5.png)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/115065c6-664f-4360-85d6-e81fe6f1c8f5/arrow-down-fff.png?MOD=AJPERES&CACHEID=115065c6-664f-4360-85d6-e81fe6f1c8f5*/ no-repeat 95% 50%;}
div.block25.containerLeft.stick nav.navSecondary ul li.navSecondary-container ul li a {background-image: none; color: #999;font-size: 10px;padding: 3px 6px;border:none;border-top:1px solid #eee;}
div.block25.containerLeft.stick nav.navSecondary ul li.navSecondary-container ul li a:hover {color:#444; text-decoration:none;} 
div.block25.containerLeft.stick nav.navSecondary ul li.navSecondary-container ul li a:hover:before, nav.navSecondary ul li.navSecondary-container ul li a.navSecondaryActive:before {color:#466ea5;}
div.block25.containerLeft.stick nav.navSecondary ul li.navSecondary-container ul li a.navSecondaryActive {color:#111; font-weight:600!important;} 
div.block25.containerLeft.stick nav.navSecondary ul li.active a.noSubItems {background-image:none;}

/*  WEF   */
div.wef-schedule p {font-size:13px; line-height:16px; width:80%;}
div.wef-schedule p + ul {margin-bottom:12px; margin-top:-12px;}
div.wef-schedule li {margin-top:0.2em;}
div.wef-schedule h4 {margin-bottom:4px;}
div.wef-schedule h5 {color: #999;font-weight: 600;font-size: 11px;line-height: 18px;margin:26px 0 6px 0;padding: 0 0 1px 0;border-bottom: 1px solid #eee;overflow: hidden;text-transform: uppercase;letter-spacing: 2px;}
div.wef-schedule h6 {font-weight: 400;margin: 6px 0 3px 0;font-size:10px;line-height: 12px;color: #444;}
div.wef-press h3 {font-size:16px; margin:12px 0 8px 0;}
#childframe {min-height:100%;height:100%;}