body div.footerContainer #footer {background: url(''); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
body div.footerContainer #footer .primary {height:335px; background: url('../../../img.cdw.com/content/footer/images/bg_footer_grayGradient.png')/*tpa=http://img.cdw.com/content/footer/images/bg_footer_grayGradient.png*/; position: relative;}
body div.footerContainer #footer a:hover{	text-decoration: underline!important;}
#footer .primary .featured_image img {position: absolute; bottom: 0px; left: -15px;}
#footer .primary .main {overflow: hidden; color: #fff; padding-top: 10px; position: relative; min-height: 273px;}
#footer .primary .main div {float:left; margin: 10px 0 0 10px; width: 24%;}
#footer .primary .main div.how_we_do_it {position: absolute; top: 150px; left: 176px;}
#footer .primary .main div.shop, #footer .primary .main div.mobile {width: 22%;}
#footer .primary .main div.mobile {position: absolute; top: 170px; right: 2px;}
#footer .primary .main div h2 {text-transform: uppercase; font-family: 'prelo-black'; font-weight: normal; font-size: 18px!important; color:#fff; background:none!important; padding:0!important;}
#footer .primary .main div ul {list-style: none; padding-left: 0px; font-family: 'prelo-medium'; font-size: 13px; line-height: 1.5; margin-top: 5px;}
#footer .primary .main div ul li {padding-left: 0px; margin-left: 0px; list-style-type: none; list-style-image: none;}
#footer .primary .main div a:active, #footer .primary .main div a:link, #footer .primary .main div a:visited {color:#fff; text-decoration: none;}
#footer .primary .main, #sites_and_social {margin-left: 266px;}

#sites_and_social {overflow: hidden;}
#sites_and_social .sites {float: left;}
#sites_and_social .social {float: right; margin-right: 20px;}
#sites_and_social ul {list-style: none; padding-left: 10px; margin-top: 5px;}
#sites_and_social ul li {float: left; margin-left: 0px; margin-right: 10px; position: relative; width: 26px; height: 26px;}
#sites_and_social ul.social li {margin-right: 14px;}
#sites_and_social ul li.cdw_ca {height: 36px;}
#sites_and_social ul li a {text-indent: -99999px; overflow:hidden; display: block; position: absolute; height: 26px;}
#sites_and_social ul.social li a {height: 29px;}
#sites_and_social ul li.cdw_ca a {height: 36px;}
#sites_and_social ul li a:before {color: #fff; font-size: 26px; font-family: 'cdw-icons-global'; display: block; text-indent: 0;}
#sites_and_social ul li.cdw a:before {content:"a";}
#sites_and_social ul li.cdw_g a:before {content:"h";}
#sites_and_social ul li.cdw_ca a:before {content:"c"; font-size: 32px; line-height: 32px; }
#sites_and_social ul li.facebook a:before {content:"g";}
#sites_and_social ul li.twitter a:before {content:"d";}
#sites_and_social ul li.linkedin a:before {content:"f";}
#sites_and_social ul li.spiceworks a:before {content:"e";}
#sites_and_social ul li.youtube a:before {content:"b"; font-size: 46px; margin-top: -10px}

#footer .secondary {font-family: Verdana,Geneva,sans-serif;}
#footer .secondary a {text-decoration: none;}

#footer .PGA { 					margin:20px 0 10px 10px; display:block;  width:140px; float:left; height:94px;}
#footer .g_logo {				margin:0px 0 10px 10px; float:left;}
#footer .ca_logo {				margin:20px 0 10px 10px; float:left;}
#footer .bbb_vs { 				float:right; width:300px; }
#footer .bbb { 					float:right;  width:120px; height:50px; margin:20px 10px 0 0; }
#footer .verisign { 			float:right;  width:99px; height:57px; margin:12px 20px 0 0; }

#footer .mobile {				margin-top:10px !important;}
body #footer .verisign {margin-top: 0px;}
body #footer .bbb {margin-top: 8px;}
body #footer .PGA {margin-top: 0px;}
body #footer .copyright {width:300px; margin: 30px auto 0px; padding-top: 15px;}

