html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    font-family: helvetica, sans-serif;
    color: #333;
    margin: 0 auto;
    padding: 0;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: subpixel-antialiased;
}
.BodyBackground {
    background: #ADADAD;
}
*, *:before, *:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-text-size-adjust: none;
}
a {
    color: #0075B0;
    text-decoration: none;
}
a:hover {
    color: #009fe7;
}
pre {
    font: 100 14px/18px "Trebuchet MS", helvetica;
}
strong, b {
    font-weight: bold;
}

input[type="text"], input[type=email], textarea, select {
    margin: 0;
    padding: 0;
    outline: none;
    font: 600 12px/23px helvetica;
    padding: 0px 5px;
    border: 1px solid #CCC;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0px 1px 4px #CCC;
    -moz-box-shadow: inset 0px 1px 4px #CCC;
    box-shadow: inset 0px 1px 4px #CCC;
    behavior: url(../js/PIE.htc)/*tpa=http://www.aes.com/files/js/PIE.htc*/;
}

input[type="submit"],
a.view-archive,
.ModuleViewAllLink {
    color: #fff !important;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    background: #0075B0;
    padding: 10px 15px;
    margin: 0;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    display: inline-block;
    behavior: url(../js/PIE.htc)/*tpa=http://www.aes.com/files/js/PIE.htc*/;
position: relative;
z-index: 9999;
}
input[type="submit"]:hover,
a.view-archive:hover,
.ModuleViewAllLink:hover {
    color: #000 !important;
    background: #c6c5c5;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
position: relative;
z-index: 9999;
}


input[type="text"], input[type=email], select {
    height: 25px;
}

input[type="text"], input[type=email] {
    width: 200px;
}
select {
    cursor: pointer;
    min-width: 150px !important;
}
textarea {
    resize: vertical;
    width: 100%;
}
input[type="checkbox"], input[type="checkbox"] + label {
    margin: 0 5px 0 0;
    line-height: 12px;
}
iframe {
    margin-bottom: 20px;
}
small {
    font-size: 12px;
    line-height: 1.25;
    padding-bottom: 10px;
}
p {
    margin: 0 0 15px 0;
}
p.left, p.right {
    float: left;
    width: 50%;
}
.PaneContentInner img {
    border: 0 none;
    height: auto;
}
.PaneContentInner img {
    max-width: 100%;
}
nav {
    display: block;
}
hr {
    background: #D0D3D5;
    height: 1px;
    border: 0 none;
    margin: 0 0 15px 0;
}
hr.green {
    background: #8cc63f;
    height: 4px;
}
ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.PaneContent .ModulePressReleaseDetails ol, 
.PaneContent .FaqAnswer ul, 
.PaneContent .HtmlTextContainer ul {
    margin: 0 0 0 10px;
    padding: 0 0 10px 0;
}
.PaneContent .ModulePressReleaseDetails ul li, 
.PaneContent .FaqAnswer ul li, 
.PaneContent .HtmlTextContainer ul li {
    background: url("../design/list-arrow.png")/*tpa=http://www.aes.com/files/design/list-arrow.png*/ no-repeat left 7px transparent;
    padding: 5px 0 5px 17px;
}
.PaneContent .ModulePressReleaseDetails ul, 
.PaneContent .HtmlTextContainer ol {
    margin: 0;
    padding: 5px 0 15px 0;
}
.PaneContent .ModulePressReleaseDetails ol li, 
.PaneContent .HtmlTextContainer ol li {
    padding: 5px 0 5px 0;
    margin: 0 0 0 25px;
    list-style-type: decimal;
}
.PaneContent > span > span:first-child h1:first-child, 
.PaneContent > span > span:first-child .RssLinkTopContainer + h1, 
.PaneBreadcrumb span + span + span > .HtmlTextContainer > h1 {
    border-bottom: 1px solid #d7d8dc;
    padding: 0 0 12px 0;
}
.grey-Module h1 {
    background: #838f94;
    font: 700 17px/1 Trebuchet MS, helvetica !important;
    color: #fff;
    padding: 12px 16px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin: 0;
}
h1 {
    font: 800 21px/18px "Trebuchet MS", helvetica;
    margin: 0 0 10px 0;
}
h2, h1.ModuleDetailHeadline, .h2ModuleTitle h1 {
    margin: 0 0 10px 0;
    font: 700 16px/1 "Trebuchet MS", helvetica;
}
h3 {
    margin: 0;
    font: 400 16px/1 "Trebuchet MS", helvetica;
}
h4 {
    margin: 0;
    margin: 0 0 5px 0;
    font: 700 14px/1 "Trebuchet MS", helvetica;
}
.PaneContentInner:after, .PaneContentInner:before,
.PaneFooter2:after, .PaneFooter2:before {
    content: " ";
    display: block;
    clear: both;
    overflow: hidden;
    height: 0;
}
.LayoutDefaultInner {
    max-width: 1219px;
    width: 100%;
    margin: 0 auto 25px auto;
    border-right: 1px solid #ADADAD;
    border-left: 1px solid #ADADAD;
    border-bottom: 1px solid #ADADAD;
}
.RedStar, .ErrorMessage, .RequiredField {
    color: #ff0000;
}
.ErrorMessage {
    font-size: 12px;
}
.MessageSent, .EditSubscriberConfirmation {
    font-weight: bold;
}
.CustomTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.CustomTable th {
    background: url("../design/ModuleTitle-bg2.png")/*tpa=http://www.aes.com/files/design/ModuleTitle-bg2.png*/ no-repeat 0 0 transparent;
    padding: 10px;
    text-align: left;
    color: #fff;
}
.CustomTable td {
    padding: 10px;
}
.CustomTable .odd td {
    background: #f7f7f7;
}
.CustomTable .even td {
    background: #ffffff;
}

/* ------------------------------ HEADER */
.HeaderContainer {
    position: relative;
}
.PaneHeader {
    position: absolute;
    top: 0;
    width: 100%;
}
.ClientLogo {
    float: left;
    position: relative;
    z-index: 101;
    top: 6px;
    left: 193px;
}

/* top links */
div.HeaderLinks {
    float: right;
    position: relative;
    z-index: 101;
    top: 31px;
    right: 140px;
}
.HeaderLinks li {
    margin-right: 5px;
    display: inline-block;
    line-height: 25px;
}
.HeaderLinks li:first-child {
    /*margin-right: 10px;*/
}
.HeaderLinks li:nth-child(2) {
    min-width:80px;
}
.HeaderLinks a {
    color: #0075B0;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    padding: 0 6px;
}
.HeaderLinks a:hover {
    text-decoration: underline;
}
.HeaderLinks .QuickLinkSeparator {
    display: inline-block !important;
    color: #dadada;
    margin-left: 6px;
}

/* search */
.ModuleSearch {
    float: right;
    position: relative;
    z-index: 101;
    top: 31px;
    right: 135px;
}
.ModuleSearch .SearchInput {
    width: 242px;
    height: 28px;
    padding: 2px 10px 2px 30px;
    margin: 0 0 0 10px;
    border: 1px solid #CCC;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: inset 0px 1px 4px #CCC;
    -moz-box-shadow: inset 0px 1px 4px #CCC;
    -webkit-box-shadow: inset 0px 1px 4px #CCC;
    outline: none;
    color: #c3c3c3;
    font: 600 12px/20px helvetica;
    text-transform: capitalize;
    behavior: url(../js/PIE.htc)/*tpa=http://www.aes.com/files/js/PIE.htc*/;
}
.ModuleSearch .SearchButton {
    margin: 0;
    padding: 0;
    text-indent: -9999px;
    background: url("../design/search-btn.gif")/*tpa=http://www.aes.com/files/design/search-btn.gif*/ no-repeat 0 0 transparent;
    width: 17px;
    height: 17px;
    border: 0 none;
    cursor: pointer;
    position: absolute;
    left: 19px;
    top: 6px;
    outline: none;
}
.ModuleSearch .SearchButton:hover {
    background: url("../design/search-btn.gif")/*tpa=http://www.aes.com/files/design/search-btn.gif*/ no-repeat 0 0 transparent;
}

/* top navigation */
.PaneNavigation {
    position: absolute;
    z-index: 102;
    top: 101px;
    background: url("../design/MainNav-bg.jpg")/*tpa=http://www.aes.com/files/design/MainNav-bg.jpg*/ repeat-x 0 0 transparent;
    width: 100%;
    max-width: 1220px;
}
.MainNav {
    text-align: center;
}
.MainNav li:hover > a {
    color: #fff;
}
.MainNav .level1 > li {
    display: inline-block;
    position: relative;
    margin-left: 40px;
}
.MainNav .level1 > li > a {
    padding: 0 11px 0 10px;
    font: 700 17px/44px "Trebuchet Ms", helvetica;
    color: #fff;
    display: inline-block;
    position: relative;
    z-index: 3;
}
.MainNav .level1 > li > a:hover {
    color: #00486a;
}
.MainNav .level1 > li:hover {
    background: #fff;
}
.MainNav .level1 > li:hover > a {
    color: #00486a;
    background: #fff;
}
.MainNav .level1 > li:hover .level2 {
    display: block;
}
.MainNav .level2 {
    text-align: left;
    position: absolute;
    z-index: 2;
    top: 44px;
    left: 0;
    min-width: 203px;
    background: #fff;
    padding-bottom: 4px;
    display: none;
    -webkit-box-shadow: 0 4px 6px 4px rgba(0,0,0,.2);
       -moz-box-shadow: 0 4px 6px 4px rgba(0,0,0,.2);
            box-shadow: 0 4px 6px 4px rgba(0,0,0,.2);
}
.MainNav .level2 li {
    position: relative;
    padding: 0 15px;
}
.MainNav .level2 > li:first-child {
    margin-top: 4px;
}
.MainNav .level2 > li:hover {
    background: #0078ae;
}
.MainNav .level2 a {
    font: 500 12px/28px helvetica;
    color: #333333;
    display: block;
    white-space: nowrap;
}
.MainNav li.has-children > a.last-item + ul.level2 {
    right: 0;
    left: auto;
}
.MainNav .level2 > li:hover .level3 {
    display: block;
}
.MainNav .level3 {
    display: none;
    position: absolute;
    right: 240px;
    width: 240px;
    background: #7AB800;
    top: 0px;
}
.MainNav li.has-children > a.last-item + ul.level2 .level3 {
    right: auto;
    left: -240px;
}
.MainNav li.has-children:first-child {
    margin-left: -18px;
}

/* responsive top nav */
.ResponsiveNavTrigger {
    position: absolute;
    cursor: pointer;
    display: none;
    right: 20px;
    top: 20px;
    width: 50px;
    height: 50px;
}

.ResponsiveNavTrigger .btn {
    background: url("../design/MenuTrigger.png")/*tpa=http://www.aes.com/files/design/MenuTrigger.png*/ no-repeat center center;
    width: 50px;
    height: 50px;
}

.ResponsiveNavTrigger.active .btn {
    background: url("../design/MenuTrigger-expanded.png")/*tpa=http://www.aes.com/files/design/MenuTrigger-expanded.png*/ no-repeat center center;
}
.MainNav.active {
    text-align: left;
    background: #fff;
    -webkit-box-shadow: 0 4px 6px 4px rgba(0,0,0,.2);
       -moz-box-shadow: 0 4px 6px 4px rgba(0,0,0,.2);
            box-shadow: 0 4px 6px 4px rgba(0,0,0,.2);
}
.MainNav.active .level1 > li {
    margin: 0;
}
.MainNav.active li:hover > a {
    color: inherit;
}
.MainNav.active .level1 > li:hover > a {
    background: transparent;
}
.MainNav.active a:hover {
    color: #fff !important;
}
.MainNav.active .level1 > li {
    padding-right: 0 !important;
    display: block !important;
}
.MainNav.active .level1 > li:hover {
    background: #0078ae;
}
.MainNav.active .level1 > li:hover > a,
.MainNav.active .level2 > li:hover > a {
    color: #fff;
}
.MainNav.active .level1 > li:first-child {
    border: none;
}
.MainNav.active .level1 > li > a {
    color: #333;
}
.MainNav.active .level1 > li:hover .level2, 
.MainNav.active .level2 > li:hover .level3 {
    display: none;
}
.MainNav.active .level2 {
    box-shadow: none;
    position: static !important;
    border-top: 4px solid #fff;
    padding-bottom: 10px;
    width: 100% !important;
}
.MainNav.active .level2 li {
    border-bottom: 0 none !important;
}
.MainNav.active .level2 a {
    display: inline-block;
}
.MainNav.active .level2 > li a {
    padding: 0px 20px !important;
}
.MainNav.active .level3 > li a {
    padding: 5px 20px !important;
}
.MainNav.active .level3 {
    position: static !important;
    width: 100% !important;
    left: 0 !important;
}
.MainNav.active li.has-children span.drop-icon {
    position: absolute;
    top: 16px;
    right: 10px;
    background: url("../design/expand-arrow.png")/*tpa=http://www.aes.com/files/design/expand-arrow.png*/ no-repeat 0 0 transparent;
    width: 20px;
    height: 14px;
    cursor: pointer;
}
.MainNav.active .level1 > li.has-children.active > a span.drop-icon, 
.MainNav.active .level2 > li.has-children.active > a span.drop-icon {
    background: url("../design/collapse-arrow.png")/*tpa=http://www.aes.com/files/design/collapse-arrow.png*/ no-repeat 0 0 transparent;
    top: 13px;
}
.MainNav.active .level1 > li.expanded > ul.level2 {
    display: block;
}
.MainNav.active .level1 > li.expanded,
.MainNav.active .level2 li.selected,
.MainNav.active .level1 > li.expanded.active:hover,
.MainNav.active .level2 li.selected.active:hover {
    background: #0078ae;
}
.MainNav.active .level1 > li.expanded > a,
.MainNav.active .level2 li.selected a,
.MainNav.active .level1 > li.expanded.active:hover a,
.MainNav.active .level2 li.selected.active:hover a {
    color: #fff;
}
.MainNav.active .level1 > li.expanded.active,
.MainNav.active .level2 li.selected.active {
    background: transparent;
}
.MainNav.active .level1 > li.expanded.active > a,
.MainNav.active .level2 li.selected.active a {
    color: #333;
}
.MainNav.active .level1 > li.expanded > a span.drop-icon {
    background: url("../design/collapse-arrow.png")/*tpa=http://www.aes.com/files/design/collapse-arrow.png*/ no-repeat 0 0 transparent;
}
.MainNav.active .level1 > li.expanded.active > a {
    color: #333;
}
.MainNav.active .level1 > li.expanded.active > a span.drop-icon {
    background: url("../design/expand-arrow.png")/*tpa=http://www.aes.com/files/design/expand-arrow.png*/ no-repeat 0 0 transparent;
}
.MainNav.active .level1 > li > a {
    position: static;
}

/* top slider, banners */
.PaneHeader2 {
    position: relative;
    background: #ffffff;
    top: 0;
}
.HeaderImageContainer img {
    width: 100%;
    border-bottom: 2px solid #aeafb1;
    display: block;
}

/* ------------------------------ FOOTER */
.FooterContainer {
    background-color: #E2E3E6;
    padding: 0 20px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -ms-border-radius: 0 0 4px 4px;
    -o-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    behavior: url(../js/PIE.htc)/*tpa=http://www.aes.com/files/js/PIE.htc*/;
}
.PaneQ4Footer {
    padding-bottom: 20px;
}
.Copyright {
    line-height: 13px;
    font-size: 10px;
    color: #2e525c;
    margin: 0 auto;
    text-align: center;
    clear: both;
}
.Q4FooterContainer a {
    line-height: 13px;
    color: #2e525c !important;
    text-decoration: none !important;
}

/* ----------------------------- Home */
/* slider */
.Slider {
    width: 100%;
    height: 100%;
    margin-top: -1px;
}
.Slider .slide-item {
  width: 100%;
}
.Slider .caption {
    background: url("../design/blue_bk.png")/*tpa=http://www.aes.com/files/design/blue_bk.png*/ repeat 0 0 transparent;
    color: white;
    text-align: left;
    width: 100%;
    height: 170px;
    padding: 10px 0 0 195px;
    position: absolute;
    z-index: 999;
    bottom: 76px;
}
.Slider .caption .title {
    font: 36px/1 helvetica;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, .4);
    padding: 0 0 15px 0;
}
.Slider .caption .content {
    width: 660px;
    font: 700 15px/16px helvetica;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
}
.Slider .caption .more {
    position: absolute;
    bottom: 10px;
    color: #fff;
    font: 700 15px "Trebuchet MS";
    text-transform: uppercase;
    background: url("../design/more.png")/*tpa=http://www.aes.com/files/design/more.png*/ no-repeat right center;
    padding-right: 20px;
    white-space: nowrap;
}
.Slider .prev, 
.Slider .next {
    position: absolute;
    bottom: 132px;
    z-index: 99999;
    cursor: pointer;
}
.Slider .prev {
    left: 0;
}
.Slider .next {
    right: 0;
}
.Slider .cycle-pager {
    position: absolute;
    z-index: 101;
    bottom: 45px;
    left: 195px;
}
.Slider .cycle-pager span {
    height: 12px;
    width: 12px;
    overflow: hidden;
    text-indent: -9999px;
    background: #abacac;
    background: rgba(0, 0, 0, .4);
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
}
.Slider .cycle-pager span.cycle-pager-active {
    background: #fff;
}
.Slider .slide-item img {
    border-bottom: 1px solid #aeafb1;
    display: block;
}

.spareHome .Slider .slide-item img {
    border-bottom: 1px solid #aeafb1;
    display: block;
    height:100%;
    width:100%;
}

/* ----- */
.LayoutHomePage .PaneBreadcrumb {
    width: 100%;
    max-width: 960px;
    margin: 0px auto;
}
.col {
    width: 33.3333%;
    float: left;
    margin-bottom: 0;
    padding: 0 10px;
}
.LayoutHomePage .PaneContentInner {
    padding: 28px 0 20px 0;
}
.LayoutHomePage .PaneBreadcrumb h1 {
    margin: 0;
    padding-bottom: 18px;
    color: #fff;
    font: 700 17px Trebuchet MS, helvetica;
    line-height: 40px;
    border: none !important;
}
.LayoutHomePage .PaneBreadcrumb h1 span {
    background: url("../design/ModuleTitle-bg.png")/*tpa=http://www.aes.com/files/design/ModuleTitle-bg.png*/ no-repeat 0 0 transparent;
    padding-left: 20px;
    display: block;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.LayoutHomePage .PaneBreadcrumb h1 a {
    font: 700 17px Trebuchet MS, helvetica;
    color: #fff;
    background: url("../design/ModuleTitle-arrow.png")/*tpa=http://www.aes.com/files/design/ModuleTitle-arrow.png*/ no-repeat right 0 transparent;
    line-height: 40px;
    display: block;
}
.Home-AboutUs {
    background: #E2E3E6;
}
.Home-AboutUs .ContentContainer {
    background: url("../design/ModuleTitle-shadow.png")/*tpa=http://www.aes.com/files/design/ModuleTitle-shadow.png*/ no-repeat center top #fff;
    font: italic 300 13px/1 "Trebuchet Ms", helvetica;
    color: #069;
    line-height: 1.4;
    box-shadow: inset 0px 0px 22px #D1D1D1;
    border-right: 1px solid #D8D8D8;
    border-left: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 20px;
    margin-top: -20px;
}
.Home-OurCommunities h1 {
    padding-bottom: 0 !important;
}
.Home-OurCommunities .ContentContainer {
    background: url("../design/Home-OurCommunities.jpg")/*tpa=http://www.aes.com/files/design/Home-OurCommunities.jpg*/ no-repeat 0 0 transparent;
    margin: 0;
    min-height: 140px;
    background-size: 100%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-size: cover;
    -ms-behavior: url("../js/backgroundsize-min.htc")/*tpa=http://www.aes.com/files/js/backgroundsize-min.htc*/;
    behavior: url("../js/backgroundsize-min.htc")/*tpa=http://www.aes.com/files/js/backgroundsize-min.htc*/;
}
.Home-OurCommunities .ContentContainer div {
    color: #fff;
    font: italic 600 14px/1.15 "Trebuchet Ms", helvetica;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
    padding: 0 20px;
    position: absolute;
    bottom: 15px;
}
.Home-OurCommunities a {
    color: #fff;
    margin-top: 5px;
    font-style: normal;
    display: block;
}
.LayoutHomePage .ModulePressReleaseLatest .ModuleContainerInner {
    background: url("../design/ModuleTitle-shadow.png")/*tpa=http://www.aes.com/files/design/ModuleTitle-shadow.png*/ no-repeat center top #fff;
    padding: 20px;
    margin-top: -18px;
    box-shadow: inset 0px 0px 22px #D1D1D1;
    border-right: 1px solid #D8D8D8;
    border-left: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.ModulePressReleaseLatest .ModuleItemRow {
    border-top: 1px solid #D0D3D5;
    padding: 12px 0;
}
.ModulePressReleaseLatest .ModuleContainerInner .ModuleItemRow:first-child {
    border-top: 0 none;
    padding-top: 0;
}
.LayoutHomePage .ModulePressReleaseLatest .ModuleHeadlineLink {
    font: 12px "Trebuchet Ms", helvetica;
}

/* stock */
.Home-StockQuote {
    position: relative;
}
.Home-StockQuote .stock {
    box-shadow: inset 0px 0px 22px #D1D1D1;
    border-right: 1px solid #D8D8D8;
    border-left: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    background: url("../design/ModuleTitle-shadow.png")/*tpa=http://www.aes.com/files/design/ModuleTitle-shadow.png*/ no-repeat center top #fff;
    padding: 20px;
    margin-top: -20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.Home-StockQuote .wrapper {
    padding-bottom: 7px;
    overflow: hidden;
}
.Home-StockQuote .StockPChange > .StockIndicator {
    display: none !important;
}
.Home-StockQuote .wrapper > div span:first-child {
    font: 800 11px "Trebuchet Ms", helvetica;
    display: block;
    border-bottom: 1px solid;
}
.Home-StockQuote .wrapper > div span + span {
    font: 17px "Trebuchet Ms", helvetica;
}
.Home-StockQuote div.AES {
    width: 37% !important;
    float: left !important;
    font: 25px "Trebuchet Ms", helvetica;
    margin: 0 !important;
}
.Home-StockQuote div.AES span {
    border: 0 none !important;
}
.Home-StockQuote .wrapper > div {
    width: 30%;
    float: right;
    margin-bottom: 5px;
}
.Home-StockQuote .wrapper > div.description2,
.Home-StockQuote .wrapper > div.description3 {
    margin-left: 5px;
}
.Home-StockQuote .StockPrice {
    color: #333;
    cursor: text;
    font: 17px "Trebuchet Ms", helvetica;
}
.Home-StockQuote .StockPrice:before {
    content: '$';
}
.Home-StockQuote .StockDate {
    color: #6D6D6D;
}
.Home-StockQuote .StockDate, 
.Home-StockQuote .StockRefresh {
    float: left;
    width: 50%;
    font: 12px "Trebuchet Ms", helvetica;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 5px 0 4px 0;
}
.Home-StockQuote .StockRefresh {
    text-align: right;
}
.Home-StockQuote .StockRefresh a {
    background: url("../design/refresh.gif")/*tpa=http://www.aes.com/files/design/refresh.gif*/ no-repeat right -1px transparent;
    padding-right: 20px;
}
.Home-StockChart {
    margin-bottom: 0 !important;
    padding-bottom: 3px;
}
.Home-StockChart h1 {
    background: 0 none !important;
    font: 14px "Trebuchet Ms", helvetica !important;
    color: #000 !important;
}
.Home-StockChart h1 span {
    background: 0 none !important;
    border-bottom: 1px solid #000;
    padding: 0 !important;
}
.Home-StockChart .StockChartImageContainer {
    text-align: center;
}
.LayoutHomePage .ModuleDate {
    font: 700 10px/14px helvetica;
}

/* ------------------------------ CONTENT - globals */
.PaneContentInner {
    width: 100%;
    max-width: 960px;
    margin: 0 auto 0 auto;
    padding: 23px 0;
}
.ContentWrapper {
    background-color: #E2E3E6;
   
}
.PaneContent {
    float: left;
    max-width: 534px;
    max-width: 500px\9;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 17px 10px 17px;
    font: 100 14px/18px "Trebuchet MS", helvetica;
    position: relative;
}

.spareHome .PaneContent, .spareMicro .PaneContent {
    float: left;
    max-width: 100% !important;
   
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 17px 10px 17px;
    font: 100 14px/18px "Trebuchet MS", helvetica;
    position: relative;
}

.LayoutTwoColumn .PaneContent {
    max-width: 759px;
    max-width: 725px\9;
}
.PaneBreadcrumb, .PaneFooter {
    width: 77%;
    float: right;
}
.PaneBreadcrumb {
    font: 100 14px/18px "Trebuchet MS", helvetica;
    position: relative;
}
.PaneContentInner .ModuleContainer, 
.PaneContentInner .HtmlTextContainer, 
.PaneContentInner .BlankModuleContainer, 
.PaneContentInner .ModuleListContainer, 
.FaqContainer, 
.FinancialReportLatestContainer {
    margin-bottom: 25px;
    position: relative;
}
.ModuleDateContainer {
    overflow: hidden;
    padding: 2px 0;
    color: #999999;
}
.ModuleDate {
    color: #999999;
    display: block;
}
.ModuleDownloadListWithTags .ModuleHeader, 
.ModuleDownloadListWithTags .ModuleFileSizeText {
    display: none;
}
.ModuleDownloadListWithTags .ModuleItemRow {
    padding: 5px 0;
}
.ModuleDownloadListWithTags .ModuleIcon {
    display: none;
}
.ModuleDownloadListWithTags a[href*=".pdf"], 
.ModuleDownloadListWithTags a[href*=".PDF"] {
    background: url("../icons/aes_pdficon.gif")/*tpa=http://www.aes.com/files/icons/aes_pdficon.gif*/ no-repeat 0 3px transparent;
    padding-left: 20px;
    display: inline-block;
}
.StockPriceUp {
    color: #00B000;
}
.StockPriceDown {
    color: #ff0000;
}
.ShareThis {
    margin-top: 5px;
    text-align: right;
}
.share .stButton .chicklets {
    padding: 0 0 0 16px;
}
.RssLinkTopContainer {
    float: left;
    margin: 3px 10px 0 2px;
}
.RssIcon {
    padding: 0;
}
.RssLinkTop img {
    padding: 0;
    display: none;
}
.RssLinkTop {
    background: url("../icons/rss-icon.png")/*tpa=http://www.aes.com/files/icons/rss-icon.png*/ no-repeat center center transparent;
    display: block;
    width: 13px;
    height: 13px;
}
.RssLinkTop:hover, .rssLinkSEC:hover {
    opacity: .75;
    filter: alpha(opacity=75);
    _filter: alpha(opacity=100);
}
.ModuleNotFound {
    font-size: 12px;
    padding: 5px 16px;
}

/* stock header */
.StockQuoteHeaderContainer {
    position: absolute;
    bottom: 60px;
    right: 150px;
    background: url("../design/stockheader-bg.png")/*tpa=http://www.aes.com/files/design/stockheader-bg.png*/ repeat 0 0 transparent;
    display: none;
    width: 225px;
    height: 36px;
    color: #fff !important;
    font: 15px/36px "Trebuchet Ms", helvetica;
}
.StockQuoteHeaderContainer .StockDescription1 {
    margin-right: 10px;
}
.StockQuoteHeaderContainer .StockPrice {
    color: #fff !important;
}
.StockQuoteHeaderContainer .StockPrice:before {
    content: '$';
    font-size: 10px;
    position: absolute;
    top: -4px;
    margin-left: -6px;
    font-weight: normal;
}
.StockQuoteHeaderContainer .StockChange, 
.StockQuoteHeaderContainer .StockPChange, 
.StockQuoteHeaderContainer .StockPChange:before, 
.StockQuoteHeaderContainer .StockPChange:after, 
.StockQuoteHeaderContainer .StockDescription3 a {
    color: #fff;
}
.StockQuoteHeaderContainer .StockPChange:before {
    content: '(';
}
.StockQuoteHeaderContainer .StockPChange:after {
    content: ')';
}
.StockQuoteHeaderContainer .StockDescription3 {
    position: absolute;
    right: -25px;
}
.StockQuoteHeaderContainer .StockDescription3 a {
    background: url("../design/white-right-arrow.png")/*tpa=http://www.aes.com/files/design/white-right-arrow.png*/ no-repeat center center transparent;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 11px;
    right: 0;
}
.StockQuoteHeaderContainer .StockDescription3 a:hover {
    padding-left: 3px;
}
.StockQuoteHeaderContainer .AES, 
.StockQuoteHeaderContainer .StockVolumeText, 
.StockQuoteHeaderContainer .StockVolume, 
.StockQuoteHeaderContainer .StockDate, 
.StockQuoteHeaderContainer .StockRefresh, 
.StockQuoteHeaderContainer .StockPChange .StockIndicator {
    display: none;
}
.Home-StockQuote .StockChange > .StockIndicator {
    margin-right: 5px;
    border-bottom: none !important;
    float: left;
    height: 100%;
    font-size: 15px !important;
}
.StockQuoteHeaderContainer .description1 {
    position: absolute;
    left: 10px;
}
.StockQuoteHeaderContainer .description2 {
    position: absolute;
    left: 90px;
    margin: 0 10px;
}
.StockQuoteHeaderContainer .description3 {
    position: absolute;
    right: 30px;
}
.Sectioninvestors .StockQuoteHeaderContainer, 
.Sectionpresentations-and-webcasts-archived .StockQuoteHeaderContainer, 
.Sectionsec-documents .StockQuoteHeaderContainer,
.Sectionfinancial-reports-summary .StockQuoteHeaderContainer,
.Sectiondividend-history .StockQuoteHeaderContainer,
.Sectioninvestor-resources .StockQuoteHeaderContainer,
.Sectionpress-releases .StockQuoteHeaderContainer {
    display: block;  
}

/* contact investor relations */
.Contact-LeftSide h1 {
    background: url("../design/SecNav-bg-v2.png")/*tpa=http://www.aes.com/files/design/SecNav-bg-v2.png*/ no-repeat 0 0 transparent !important;
    font: 700 16px/1 Trebuchet MS, helvetica !important;
    color: #fff !important;
}
.Contact-LeftSide .content {
    font: 200 14px "Trebuchet Ms", helvetica;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 25px 0 15px 0;
    background: url("../design/ModuleTitle-right-shadow.png")/*tpa=http://www.aes.com/files/design/ModuleTitle-right-shadow.png*/ no-repeat right 0px #fff;
}
.Contact-LeftSide .item {
    border-top: 1px solid #D6D6D6;
    padding: 10px 17px;
}
.Contact-LeftSide .item > div {
    display: none;
}
.Contact-LeftSide .item span {
    display: block;
    cursor: pointer;
    background: url("../design/blue-arrow-down.png")/*tpa=http://www.aes.com/files/design/blue-arrow-down.png*/ no-repeat center right transparent;
}
.Contact-LeftSide .item span.open {
    background: url("../design/green-arrow-up.png")/*tpa=http://www.aes.com/files/design/green-arrow-up.png*/ no-repeat center right transparent;
}

/* print, share */
.InvestorToolkit {
    /*display: none;*/
    position: absolute !important;
    z-index: 10;
    top: 0;
    right: 0;
    margin-bottom: 0 !important;
    background: #fff;
    border-radius: 5px;
    padding: 5px 7px 3px 10px;
    behavior: url(../js/PIE.htc)/*tpa=http://www.aes.com/files/js/PIE.htc*/;
}
.LayoutTwoColumn .InvestorToolkit {
    right: 20px;
}
.InvestorToolkit .share {
    float: left;
}
.InvestorToolkit span.chicklets.email {
    background: url("../design/mail-icon.png")/*tpa=http://www.aes.com/files/design/mail-icon.png*/ no-repeat 0 0 transparent;
    width: 16px;
    height: 12px;
    padding: 0;
}
.stButton {
    margin: 0 !important;
}
.PrintPage, .RSS {
    margin-right: 8px;
    padding-right: 10px;
    border-right: 1px solid #ededed;
    float: left;
    height: 15px;
    /*display: none;*/
}
.PrintPageLink img {
    display: none;
}
.PrintPageLink {
    background: url("../design/print-icon.png")/*tpa=http://www.aes.com/files/design/print-icon.png*/ no-repeat;
    cursor: pointer;
    width: 16px;
    height: 15px;
    display: inline-block;
}
.PrintPageLink:hover, .RSS:hover {
    opacity: .75;
    filter: alpha(opacity=75);
    _filter: alpha(opacity=100);
}

/* global accordions */
.accordionmodule {
    margin-bottom: 5px !important;
}
.accordionmodule .ContentContainer {
    display: none;
    padding: 10px;
    border: 1px solid #8cc63f;
    border-top: none;
}
.accordionmodule h1 {
    margin: 0;
    font: 400 16px/1 "Trebuchet MS", helvetica;
    background: url("../design/AccordionTitle-bg.png")/*tpa=http://www.aes.com/files/design/AccordionTitle-bg.png*/ repeat-x 0 0 transparent;
    cursor: pointer;
    color: #fff;
    position: relative;
}
.accordionmodule h1 span {
    background: url("../design/green-accordion-btn.png")/*tpa=http://www.aes.com/files/design/green-accordion-btn.png*/ no-repeat right 0 transparent;
    display: block;
    padding: 12px 60px 12px 10px;
}
.accordionmodule h1 .after {
    background: url("../design/green-plus.png")/*tpa=http://www.aes.com/files/design/green-plus.png*/ no-repeat right 0 transparent;
    content: "";
    position: absolute;
    z-index: 99;
    right: 11px;
    top: 50%;
    margin-top: -14px;
    width: 28px;
    height: 28px;
}
.accordionmodule h1.active .after {
    background: url("../design/green-minus.png")/*tpa=http://www.aes.com/files/design/green-minus.png*/ no-repeat right 0 transparent;
}

/* ------------------------------ LEFT */
.PaneLeft {
    width: 100%;
    max-width: 220px;
    float: left;
    margin: 0 0 0 -19px;
    position: relative;
    z-index: 2;
    font: 100 14px/18px "Trebuchet MS", helvetica;
}

/* secondary navigation */
.SecNav {
    margin: -126px 0 30px 0;
    overflow: hidden;
}
.SecNav .level1 > li {
    background: url("../design/SecNav-bg.png")/*tpa=http://www.aes.com/files/design/SecNav-bg.png*/ no-repeat 0 0 transparent;
    position: relative;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    display: none;
}
.SecNav .level1 > li.has-children.expanded {
    display: block;
}
.SecNav .level1 > li.has-children > a {
    color: #fff;
    font: 700 16px/42px Trebuchet MS, helvetica;
    padding: 0 18px;
    display: block;
    background: url("../design/ModuleTitle-right-shadow.png")/*tpa=http://www.aes.com/files/design/ModuleTitle-right-shadow.png*/ no-repeat right 40px transparent;
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
    padding-bottom: 40px;
}
.SecNav .level2 {
    box-shadow: inset 0px 0px 22px #D1D1D1;
    border-right: 1px solid #D8D8D8;
    border-left: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 16px 10px 13px 10px;
    background: #fff;
    font: 700 13px "Trebuchet MS";
    position: relative;
    top: 40px;
    margin-bottom: 40px;
}
.SecNav .level2 > li > a {
    border-top: 1px solid #D6D6D6;
    display: block;
    padding: 8px 0;
    color: #000;
}
.SecNav .level2 li:first-child a {
    border-top: 0 none;
    padding-top: 0;
}
.SecNav .level2 li.selected > a {
    color: #8dc540;
}
.SecNav .level3 {
    margin-bottom: 5px;
}
.SecNav .level3 a {
    color: #000;
    padding: 3px 13px;
    display: block;
}

/* ------------------------------ RIGHT */
.PaneRight {
    width: 100%;
    max-width: 220px;
    float: right;
    font: 100 14px/18px "Trebuchet MS", helvetica;
    margin: 30px 0 0 5px;
}
.LayoutTwoColumn .PaneRight {
    display: none;
}
.PaneRight h1, .PaneLeft h1, .slideshare h1, .EventCalendar h1 {
    margin: 0 !important;
    color: #fff;
    font: 400 16px/17px "Trebuchet MS", helvetica;
    background: url("../design/ModuleTitle-bg2.png")/*tpa=http://www.aes.com/files/design/ModuleTitle-bg2.png*/ no-repeat 0 0 transparent;
    padding: 12px 18px !important;
    display: block;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border: none;
}
.PaneRight .HtmlTextContainer .ContentContainer, 
.PaneRight .QuickLinks ul {
    background: url("../design/ModuleTitle-right-shadow.png")/*tpa=http://www.aes.com/files/design/ModuleTitle-right-shadow.png*/ no-repeat right top #ffffff;
    box-shadow: inset 0px 0px 22px #D1D1D1;
    border-right: 1px solid #D8D8D8;
    border-left: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px 15px 20px 15px;
}
.PaneRight .HtmlTextContainer .ContentContainer {
    font: 200 12px "Trebuchet Ms", helvetica;
    padding: 25px 15px 20px 15px;
}
.PaneRight .QuickLinks ul {
    font: 800 13px "Trebuchet Ms", helvetica;
}
.PaneRight ul li {
    background: url("../design/list-arrow-v2.png")/*tpa=http://www.aes.com/files/design/list-arrow-v2.png*/ no-repeat left 9px transparent;
    padding: 5px 0 5px 17px;
    border-top: 1px solid #D6D6D6;
}
.PaneRight ul li:first-child {
    border-top: 0 none;
}

/* ------------------------------ About Us -> Overview */
.enlarge-btn {
    background: url("../design/enlarge-btn.png")/*tpa=http://www.aes.com/files/design/enlarge-btn.png*/ no-repeat right 0 transparent;
}
.enlarge-btn:hover {
    background-position: right -20px;
}

/* ------------------------------ About Us -> Our Leadership */
.PersonContainer {
    margin-bottom: 5px;
}
.PersonContainer h3, 
.FaqContainer h3 {
    margin: 0;
    font: 400 16px/1 "Trebuchet MS", helvetica;
    background: url("../design/financial-header.png")/*tpa=http://www.aes.com/files/design/financial-header.png*/ repeat-x 0 0 transparent;
    cursor: pointer;
    color: #fff;
    padding: 12px 60px 12px 10px;
    position: relative;
    z-index: 1;
}
.PersonContainer h3.active .after, 
.FaqContainer h3.active .after {
    background: url("../design/green-minus.png")/*tpa=http://www.aes.com/files/design/green-minus.png*/ no-repeat right 0 transparent;
}
.PersonContainer h3 .before, 
.FaqContainer h3 .before {
    background: url("../design/green-accordion-btn.png")/*tpa=http://www.aes.com/files/design/green-accordion-btn.png*/ no-repeat right 0 transparent;
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
}
.PersonContainer h3 .after, 
.FaqContainer h3 .after {
    background: url("../design/green-plus.png")/*tpa=http://www.aes.com/files/design/green-plus.png*/ no-repeat right 0 transparent;
    content: "";
    position: absolute;
    z-index: 3;
    right: 11px;
    top: 50%;
    margin-top: -14px;
    width: 28px;
    height: 28px;
}
.commaName, .commaSuffix, .PersonComma {
    display: none;
}
.PersonGenericContainer .PersonSuffixText:before {
    content: ' - ';
}
.PersonGenericContainer .PersonDetailsContainer, .FaqAnswer {
    border: 1px solid #8cc63f;
    border-top: none;
    padding: 25px 10px 10px 10px;
    margin-top: -2px;
    display: none;
}
.PersonGenericContainer .PersonPhoto {
    float: left;
    margin: 0 15px 10px 0;
}
.PersonGenericContainer .PersonTitle {
    font: 700 16px/1 "Trebuchet MS", helvetica;
}
.PersonGenericContainer .PersonDescription {
    margin-top: 20px;
}

/* ------------------------------ About Us -> Board of Directors */
.BOD .PersonContainer h3 {
    background: url("../design/AccordionTitle-bg2.png")/*tpa=http://www.aes.com/files/design/AccordionTitle-bg2.png*/ repeat-x 0 0 transparent;
}
.BOD .PersonContainer h3.active .after {
    background: url("../design/blue-minus.png")/*tpa=http://www.aes.com/files/design/blue-minus.png*/ no-repeat right 0 transparent;
}
.BOD .PersonContainer h3 .after {
    background: url("../design/blue-plus.png")/*tpa=http://www.aes.com/files/design/blue-plus.png*/ no-repeat right 0 transparent;
}
.BOD .PersonContainer h3 .before {
    background: url("../design/blue-accordion-btn.png")/*tpa=http://www.aes.com/files/design/blue-accordion-btn.png*/ no-repeat right 0 transparent;
}
.BOD .PersonDetailsContainer {
    border: 1px solid #006695;
}
.IncorporationBylaws {
    margin-bottom: 0px !important;
}
.IncorporationBylaws p {
    margin: 0 0 5px 0;
}

/* ------------------------------ Sustainability -> Delivering Sustainable Results */
.SustainableAdvantage img {
    float: left;
    padding-top: 5px;
}
.SustainableAdvantage span {
    padding-left: 65px;
    display: block;
}
.SustainableAdvantage p {
    overflow: hidden;
}

/* ------------------------------ Sustainability -> Message from CEO */
.PageSustainabilityMessagefromCEO .ShareThis {
    display: none;
}
.CEO-Message small {
    display: block;
    margin-top: 5px;
    padding: 0;
}

/* ------------------------------ Press Releases */
.ModulePressRelease .ModuleYearNavContainer {
    display: none;
}
.selYear,
#FinancialWidget .row {
    background: url("../design/ModuleTitle-bg2.png")/*tpa=http://www.aes.com/files/design/ModuleTitle-bg2.png*/ no-repeat 0 0 transparent;
    padding: 12px 15px;
    display: block;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    overflow: hidden;
}
.ModulePressRelease .ModuleContainerInnerTop, 
.grey-Module .ModuleContainerInner,
.PastEventWidget .ModuleContainerInnerTop {
    background: #fff;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0 15px;
}
.ModulePressRelease .ModuleItemRow, .grey-Module .ModuleItemRow {
    border-top: 1px solid #D0D3D5;
    padding: 10px 0;
}
.ModulePressRelease .ModuleContainerInner .ModuleItemRow:first-child, 
.grey-Module .ModuleContainerInner .ModuleHeader + .ModuleItemRow {
    border-top: 0 none;
}
.ModulePressRelease.CustomNewsRss .RssLinkTopContainer {
    position: absolute;
    right: 15px;
    top: 19px;
    margin: 0;
}
.ModulePressRelease.CustomNewsRss .RssLinkTop {
    background: url("../icons/rss-icon-v2.png")/*tpa=http://www.aes.com/files/icons/rss-icon-v2.png*/ no-repeat center center transparent;
}

/* ------------------------------ Order Publications */
.FormBuilderContainer .ItemClassRequestType .Label {
    display: none !important;
}
.FormBuilterContainer .ItemRequestType {
    margin-bottom: 30px !important;
}
.FormBuilterContainer h2 + span {
    margin-bottom: 20px;
    display: block;
}
.FormBuilderContainer .FormDropdown {
    width: 200px;
}
.FormBuilderContainer .ItemClass .Label {
    width: 39%;
    display: inline-block;
}
.FormBuilderContainer input[type="text"], 
.FormBuilderContainer input[type=email] {
    width: 200px;
}
.FormBuilterContainer .Item .RedStar {
    margin-left: -5px;
}
.FormBuilterContainer .ItemClass .Label {
    margin-bottom: 5px;
    vertical-align: top;
}
.FormBuilterContainer .Item {
    margin-bottom: 10px;
}
.FormBuilterContainer .FormTextArea {
    width: 67%;
    min-height: 120px;
}

/* ------------------------------ Investors -> Overview */
.LatestNewsIRLanding .ModuleItemRow {
    border: none;
}
.LatestNewsIRLanding .ModuleContainerInnerTop, 
.ModuleEventLatest .ModuleContainerInner {
    padding: 10px 20px;
    box-shadow: inset 0px 0px 22px #D1D1D1;
    border-right: 1px solid #D8D8D8;
    border-left: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    background: url("../design/ModuleTitle-right-shadow.png")/*tpa=http://www.aes.com/files/design/ModuleTitle-right-shadow.png*/ no-repeat right 0px #fff;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.ModuleEventLatest .ModuleYearNavContainer, 
.ModuleEvent .ModuleYearNavContainer {
    display: none;
}
.ModuleEventLatest .hrefWebcast, 
.ModuleEvent .WebcastLink,
.eventContentInner .webcast {
    float: left;
    line-height: 1;
    border-right: 1px solid #999999;
    padding-right: 5px;
    margin-right: 5px;
}
.ModuleEvent .RelatedDocuments,
.hrefPresentation,
.eventContentInner .presentation {
    float: left;
    line-height: 1;
}
.PaneRight .ModuleEventLatest .ModuleNotFound {
    margin: -45px 0 0 16px;
    padding: 0;
}
.PaneRight .ModuleEventLatest .ModuleContainerInner {
    min-height: 55px;
}
.ModuleEventLatest .ModuleItemRow {
    padding: 10px 0;
    overflow: hidden;
}
.ModuleDownloadListWithTags.InvestorOverview {
    clear: both;
}
.ModuleDownloadListWithTags.InvestorOverview a[href*=".pdf"] {
    background: url("../icons/dl-icon.png")/*tpa=http://www.aes.com/files/icons/dl-icon.png*/ no-repeat 0 0 transparent;
    padding-left: 30px;
    display: inline-block;
}
.ModuleDownloadListWithTags.InvestorOverview a[href*=".aspx"] {
    background: url("../icons/online-icon.png")/*tpa=http://www.aes.com/files/icons/online-icon.png*/ no-repeat 0 0 transparent;
    padding-left: 30px;
}
.ModuleEventLatest .ModuleFileText {
    display: none;
}

/* ------------------------------ Investors -> Stock Information */
.tabs, .StockQuoteContainer .StockQuoteLookup {
    display: none;
}
.StockQuoteContainer.tabs {
    display: block;
}
.StockTabs {
    margin-bottom: 0 !important;
}
.StockTabs ul {
    background: url("../design/ModuleTitle-bg2.png")/*tpa=http://www.aes.com/files/design/ModuleTitle-bg2.png*/ no-repeat 0 0 transparent;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 15px 15px 0 15px;
    overflow: hidden;
}
.StockTabs li {
    float: left;
    width: 21.8%;
    text-align: center;
    margin: 0 10px;
}
.StockTabs li.selected {
    background: #fff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.StockTabs li.selected a {
    color: #000;
}
.StockTabs li a {
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 0;
    display: inline-block;
    cursor: pointer;
}
.StockTabs .separator {
    width: 1px;
    height: 30px;
    background: #7db03a;
    float: left;
    margin-top: 15px;
}
.tabs {
    background: #fff;
    padding: 20px;
}
.StockTableItem {
    width: 25%;
    float: left;
    margin-left: 12%;
}
.StockQuoteContainer .StockTableFeed .GreyBox + .StockTableItem, 
.StockHistorical .StockTable .StockTableItem:first-child {
    margin-left: 0;
}
.StockQuoteContainer .StockTableFeed {
    border-bottom: 1px solid #D6D6D6;
    margin-bottom: 10px;
    padding-bottom: 15px;
}
.StockTableItem p {
    margin: 0;
}
.StockTableItem p span + span {
    float: right;
}
.StockHistorical .StockTable {
    overflow: hidden;
    margin-top: 15px;
}
.StockQuoteContainer .StockTableText {
    display: none;
}
.StockQuoteContainer .Price {
    float: left;
    width: 36%;
}
.StockQuoteContainer .Price span:first-child {
    display: block;
}
.StockQuoteContainer .Price span + span {
    display: block;
    font-size: 54px;
    font-weight: bold;
    line-height: 1;
}
.StockQuoteContainer .Price span + span:before {
    content: '$';
    font-size: 25px;
    vertical-align: super;
}
.StockQuoteContainer .StockLabel {
    color: #000;
}
.PChangeLabel .StockIndicator {
    display: none;
}
.StockQuoteContainer .ChangeVol .hide {
    display: none;
}
.StockQuoteContainer .GreyBox {
    background: #e2e3e6;
    padding: 20px;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 15px;
    behavior: url(../js/PIE.htc)/*tpa=http://www.aes.com/files/js/PIE.htc*/;
}
.StockQuoteContainer .StockTableFeed {
    overflow: hidden;
}
.StockQuoteContainer .ChangeVol {
    float: left;
    width: 27%;
    margin-top: 30px;
}
.StockQuoteContainer .ChangeVol p {
    margin: 0;
}
.StockQuoteContainer .ChangeVol > p:first-child > span + span, 
.StockQuoteContainer .ChangeVol > p + p span + span {
    float: right;
}
.StockQuoteContainer .bottom span {
    margin-right: 30px;
    display: inline-block;
}
.StockQuoteContainer .disclaimer {
    background: #E2E3E6;
    margin: 20px -20px -20px;
    padding-top: 15px;
    font-size: 12px;
}
.highcharts-container {
    margin: 0 auto;
    max-width: 100% !important;
}
#chart input[type="text"]{

    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}
input.highcharts-range-selector {
    background: #fff;
}

/* ------------------------------ Investors -> Presentations and Webcasts */
.ModuleEvent .ModuleItemRow {
    border-top: 1px solid #D0D3D5;
    padding: 10px 0;
    overflow: hidden;
}
.ModuleEvent .ModuleContainerInner .ModuleItemRow:first-child,
.PastEventWidget .ModuleContainerInnerTop .ModuleItemRow:first-child {
    border-top: 0 none;
}
.ModuleEvent .ModuleDate {
    float: left;
    margin-right: 5px;
}
.ModuleEvent .ModuleDate:before, 
.ModuleEventDetails .ModuleDate:before {
    content: 'Date: ';
}
.ModuleEvent .ModuleTime:before {
    content: ' at ';
}
.ModuleEvent .RelatedDocuments h3, 
.ModuleEventDetails .RelatedDocuments h3 {
    display: none;
}
.ModuleEvent .Presentation .ModuleFile {
    overflow: hidden;
    white-space: nowrap;
    width: 100px;
}
.ModuleLocation {
    color: #999999;
    display: block;
}
.ModuleEvent.grey-Module .ModuleLocation.loc:before {
    content: 'Location: ';
}
.UpEvents {
    clear: both;
}
.UpEvents .ModuleNotFound {
    background: #fff;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.ModuleEventDetails .ModuleLocation {
    margin: 3px 0 5px 0;
}
.ModuleEvent.grey-Module .RssLinkTopContainer {
    position: absolute;
    right: 15px;
    top: 15px;
    margin: 0;
}
.ModuleEvent.grey-Module .RssLinkTopContainer .RssLinkTop {
    background: url("../icons/rss-icon-v2.png")/*tpa=http://www.aes.com/files/icons/rss-icon-v2.png*/ no-repeat center center transparent;
}
.ModuleEvent .iCalDownloadLink {
    border-right: 1px solid #848484;
    line-height: 1;
    float: left;
    margin-right: 5px;
    padding-right: 5px;
}
.ModuleEventDetails .ModuleReminderContainer {
    margin-top: 10px;
}
.PastEventWidget select.tagList {
    position: absolute;
    right: 8px;
    top: 8px;
}
.PastEventWidget .ModuleDate {
    width: 100%;
}

/* events calendar */
.EventCalendar {
    width: 44%;
    float: left;
    margin-left: 20px;
}
#clndr, #clndr * {
    -webkit-tap-highlight-color: transparent;
}
#clndr {
    background: #fff;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.eventCalWrapper {
    position: relative;
    padding: 0;
}
.eventCalWrapper .clndr-previous-button, 
.eventCalWrapper .clndr-next-button {
    position: absolute;
    top: 15px;
    left: 15px;
    height: 20px;
    width: 20px;
    background: url("../icons/prev-eventsCalendar.png")/*tpa=http://www.aes.com/files/icons/prev-eventsCalendar.png*/ center center no-repeat;
    cursor: pointer;
    text-indent: -999px;
    overflow: hidden;
    font-size: 0;
}
.eventCalWrapper .clndr-previous-button:hover, 
.eventCalWrapper .clndr-next-button:hover {
    opacity: .75;
    filter: alpha(opacity=75);
    _filter: alpha(opacity=100);
}
.eventCalWrapper .clndr-next-button {
    left: auto;
    right: 15px;
    background: url("../icons/next-eventsCalendar.png")/*tpa=http://www.aes.com/files/icons/next-eventsCalendar.png*/ center center no-repeat;
}
.eventCalWrapper .clndr-next-button:hover {
    background-position: 60% center;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.EventCalendar .controls {
    text-align: center;
    line-height: 20px;
    font-size: 15px;
    font-weight: bold;
    color: #0075B0;
    text-transform: uppercase;
    padding-top: 15px;
}
.EventCalendar .headers {
    border-bottom: 1px solid #D6D6D6;
    overflow: hidden;
    padding: 0px 5px 5px 5px;
    margin-bottom: 5px;
}
.eventCalWrapper .days {
    padding: 10px 0;
    overflow: hidden;
}
.eventCalWrapper .day-header, .eventCalWrapper .day {
    width: 14.2%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    float: left;
    color: #999999;
    text-transform: lowercase;
    font-weight: normal;
}
.eventCalWrapper .day:hover {
    text-decoration: none;
    color: #0075B0;
    cursor: pointer;
}
.eventCalWrapper .day.today {
    background: #7AB800;
    color: #ffffff;
}
.eventCalWrapper .day.today:hover {
    color: #ffffff;
    cursor: text;
}
.day.adjacent-month, .day.adjacent-month:hover {
    color: #e0e0e0;
}
.eventCalWrapper .day.event, .eventCalWrapper .day.event:hover {
    color: #0075B0;
}
.eventCalWrapper .selectedEvent {
    clear: both;
    display: none;
}
.eventCalWrapper .selectedEvent .close {
    float: right;
    margin: -10px 5px 0 0;
    text-decoration: none;
    cursor: pointer;
    display: none;
    font-size: 16px;
    font-weight: bold;
    width: 30px;
    height: 20px;
    text-align: center;
}
.eventCalWrapper #latestEvents .select {
    margin-bottom: 10px;
}
.eventCalWrapper .EventItem {
    margin-bottom: 10px;
    padding: 0 15px;
}
.eventCalWrapper .EventItem .date {
    color: #999999;
}
.eventCalWrapper #latestEvents {
    position: absolute;
    top: 15px;
    background: #fff;
    height: 90%;
}
.eventCalWrapper #latestEvents.open {
    width: 100%;
}
.eventCalWrapper .EventItem .EventTitle a {
    font-weight: bold;
}

/* slideshare */
.slideshare.FeaturePresentation {
    float: left;
    width: 53%;
}
.slideshare iframe {
    margin: 0 !important;
}

/* ------------------------------ Request Materials */
.MailingListSignupContainer {
    margin-bottom: 20px;
}
.MailingListTable {
    width: 100%;
}
.MailingListCol1 {
    width: 39%;
}
.MailingListCol1 span {
    margin-bottom: 10px;
    display: inline-block;
}
.MailingListCol2 {
    width: 61%;
}
.SendMessage .MailingListCol2 input[type="text"], 
.SendMessage .MailingListCol2 select {
    margin-bottom: 10px;
}
.SendMessage br {
    display: none;
}
.SendMessage .MailingListLabel span {
    display: block;
    margin-bottom: 5px;
}
.SendMessage textarea {
    width: 66.6% !important;
    min-height: 120px;
}
.MailingListSignupContainer .GridActions input {
    margin-top: 10px;
}
.MailingListListTable {
    margin-top: 10px;
}
.MailingListSignupContainer .ErrorContainer {
    margin-bottom: 10px;
    font-size: 12px;
    color: #ff0000;
}

/* ------------------------------ Contact Us */
.ContactUs .map, .ContactUs .info {
    float: left;
}
.ContactUs .map {
    margin-right: 15px;
}
.PageContactUs .SecNav {
    margin: 0;
}

/* ----------------------------- Investor Kit 
.InvestorKitDl .ModuleContainerInner .ModuleHeader + .ModuleItemRow {
    float: right;
}
.InvestorKitDl .ModuleContainerInner .ModuleHeader + .ModuleItemRow a {
    background: none;
}
.InvestorKitDl .ModuleContainerInner .ModuleHeader + .ModuleItemRow .ModuleHeadlineLink {
    display: none;
}*/

/* ----------------------------- SEC Documents */
.FormGroupsContainer, .FormYear {
    float: left;
    width: 50%;
}
.RegulatoryFilingContainer .FormGroupsContainer:before {
    content: 'View';
}
.RegulatoryFilingContainer .FormGroupsContainer:before, 
.yearLabel,
.selYear strong {
    font-weight: bold;
    line-height: 24px;
    color: #fff;
}
.RegulatoryFilingContainer .ModuleHeader {
    font-weight: bold;
    padding: 10px 0;
}
.RegulatoryFilingContainer .ModuleContainerInnerTop {
    clear: both;
    background: #fff;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0 15px;
}
.RegulatoryFilingContainer .ItemDate, .RegulatoryFilingContainer .Date {
    float: left;
    width: 15%;
    padding-right: 1%;
}
.RegulatoryFilingContainer .ItemDate {
    color: #999999;
}
.RegulatoryFilingContainer .Filing, .RegulatoryFilingContainer .ItemHref {
    float: left;
    width: 15%;
    padding-right: 1%;
}
.RegulatoryFilingContainer .Description, .RegulatoryFilingContainer .ItemDescription {
    padding-right: 1%;
    width: 55%;
    float: left;
}
.RegulatoryFilingContainer .Icons {
    width: 15%;
    float: left;
    margin: 0;
    padding: 0;
}
.RegulatoryFilingContainer .Icons li, .ModuleSECFilingDetails .Icons li {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: top;
}
.ModuleSECFilingDetails .ModuleDate {
    width: 100%;
}
.ModuleSECFilingDetails .ModuleLinks {
    margin-top: 10px;
}
.RegulatoryFilingContainer .Icons li a, .ModuleSECFilingDetails .Icons li a {
    display: block;
    width: 16px;
    height: 16px;
}
.Icons .CONVPDF,
.RegulatoryFilingContainer .PdfIcon a[href*=".pdf"], 
.ModuleSECFilingDetails .PdfIcon a[href*=".pdf"] {
    background: url("../icons/aes_pdficon.gif")/*tpa=http://www.aes.com/files/icons/aes_pdficon.gif*/ no-repeat 0 0 transparent;
}
.Icons .RTF,
.RegulatoryFilingContainer .WordIcon a[href*=".rtf"], 
.ModuleSECFilingDetails .WordIcon a[href*=".rtf"] {
    background: url("../icons/aes_wordicon.gif")/*tpa=http://www.aes.com/files/icons/aes_wordicon.gif*/ no-repeat 0 0 transparent;
}
.Icons .XLS,
.RegulatoryFilingContainer .ExcelIcon a[href*=".xls"], 
.ModuleSECFilingDetails .ExcelIcon a[href*=".xls"] {
    background: url("../icons/aes_excelicon.gif")/*tpa=http://www.aes.com/files/icons/aes_excelicon.gif*/ no-repeat 0 0 transparent;
}
.Icons .XBRL,
.RegulatoryFilingContainer .ZipIcon a[href*=".zip"], 
.ModuleSECFilingDetails .XBRLIcon a[href*=".zip"] {
    background: url("../icons/zip.png")/*tpa=http://www.aes.com/files/icons/zip.png*/ no-repeat 0 0 transparent;
}

.Icons .XBRL_HTML,
.RegulatoryFilingContainer .HtmlIcon a[href*=".html"], 
.ModuleSECFilingDetails .XBRL_HTMLIcon a[href*=".html"] {
    background: url("../icons/aes_xbrlicon.gif")/*tpa=http://www.aes.com/files/icons/aes_xbrlicon.gif*/ no-repeat 0 0 transparent;
}
.RegulatoryFilingContainer .Icons img, 
.ModuleSECFilingDetails .Icons img {
    display: none;
}
.RegulatoryFilingContainer .ModuleItemRow {
    overflow: hidden;
    border-top: 1px solid #D0D3D5;
    padding: 10px 0;
}
.RegulatoryFilingContainer .YearNavContainer {
    display: none;
}
.SECContainer .Reported, .SECContainer .ItemReported {
    display: none;
}
.rssLinkSEC {
    float: right;
}

/* ----------------------------- Email Alerts */
.SignUp .NoBr {
    display: none;
}
.MailingListUnsubscribeContainer table {
    width: 100%;
}
.MailingListUnsubscribeContainer .ButtonCell .SubmitButton {
    margin-top: 10px;
}

/* ----------------------------- Newsroom */
.ModulePressReleaseLatest.Newsroom .ModuleItemRow {
    border: none;
    padding: 5px 0;
}
.ModulePressReleaseLatest.Newsroom .RssLinkTopContainer {
    margin: 1px 10px 0 2px;
}
.ModuleDownloadListWithTags.CompanyInformation .ModuleItemRow {
    display: inline-block;
    border-left: 1px solid #999;
    padding: 0 0 0 5px;
    margin-left: 5px;
}
.ModuleDownloadListWithTags.CompanyInformation .ModuleHeader + .ModuleItemRow {
    border: none;
    padding: 0;
    margin: 0;
}
.ModulePressRelease.Newsroom .RssLinkTopContainer {
    position: absolute;
    right: 15px;
    top: 45px;
    margin: 0;
}
.ModulePressRelease.Newsroom .RssLinkTop {
    background: url("../icons/rss-icon-v2.png")/*tpa=http://www.aes.com/files/icons/rss-icon-v2.png*/ no-repeat center center transparent;
}

/* ----------------------------- Investor Resources */
.PageInvestorsOverview .PaneRight {
    margin: 0 0 0 5px;
}
.ModuleDownloadListWithTags .ModuleYearNavContainerInner a {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid #999;
    line-height: 1;
    display: inline-block;
}
.ModuleDownloadListWithTags .ModuleYearNavContainerInner a:first-child {
    border: none;
    padding-left: 11px;
}
.ModuleDownloadListWithTags .ModuleYearNavContainerInner a.selected {
    color: #333;
    cursor: text;
}
.ModuleDownloadListWithTags.InvestorResources .ModuleContainerInnerTop {
    padding: 0 15px;
    background: #fff;
    border-radius: 5px;
    behavior: url(../js/PIE.htc)/*tpa=http://www.aes.com/files/js/PIE.htc*/;
}
.ModuleDownloadListWithTags.InvestorResources .ModuleItemRow,
.quarters li {
    padding: 10px 0;
    border-top: 1px solid #D0D3D5;
}
.ModuleDownloadListWithTags.InvestorResources .ModuleHeader + .ModuleItemRow,
.quarters li:first-child {
    border: none;
}
.quarters li a {
    background: url("../icons/aes_xbrlicon.gif")/*tpa=http://www.aes.com/files/icons/aes_xbrlicon.gif*/ no-repeat 0 3px transparent;
}
.quarters li a {
    padding-left: 20px;
}
.quarters li a[href*=".xls"],
.quarters li a[href*=".xlsx"] {
    background: url("../icons/aes_excelicon.gif")/*tpa=http://www.aes.com/files/icons/aes_excelicon.gif*/ no-repeat 0 3px transparent;
}
.quarters li a[href*=".doc"],
.quarters li a[href*=".docx"],
.quarters li a[href*=".rtf"] {
    background: url("../icons/aes_wordicon.gif")/*tpa=http://www.aes.com/files/icons/aes_wordicon.gif*/ no-repeat 0 3px transparent;
}

/* ----------------------------- Annual Reports Archive */
.FinancialReportContainer table {
    clear: both;
    width: 100%;
}
.FinancialReportContainer h2.Year {
    font-size: 22px;
    color: #fff;
    background: #0075B0;
    padding: 15px 20px;
    margin: 0;
}
.FinancialReportContainer .CoverImagePane {
    padding: 20px;
    background: #fff;
    width: 30%;
    border-bottom-left-radius: 5px;
}
.FinancialReportContainer .LeftPad20 {
    background: #fff;
    border-bottom-right-radius: 5px;
}
.FinancialReportContainer .AnnualReportPanel {
    padding: 20px 20px 20px 0;
}
.FinancialReportContainer .AnnualReportPanel h3 {
    display: none;
}
.FinancialReportContainer .AnnualReportPanel ul {
    border-top: 1px solid #D6D6D6;
}
.FinancialReportContainer .AnnualReportPanel li {
    border-bottom: 1px solid #D6D6D6;
    padding: 10px 0;
}
.FinancialReportContainer .AnnualReportPanel li h4 {
    font-weight: normal;
    margin: 0;
}
.FinancialReportContainer .AnnualReportPanel li h4 a[href*=".pdf"],
.FinancialReportContainer .AnnualReportPanel li h4 a[href*=".PDF"] {
    background: url("../icons/dl-icon-v3.png")/*tpa=http://www.aes.com/files/icons/dl-icon-v3.png*/ no-repeat right center transparent;
    display: block;
    padding: 10px 50px 10px 0;
}
.FinancialReportContainer .AnnualReportPanel .FileType {
    display: none;
}
.goBack {
    border-radius: 5px;
    width: 80px;
    padding: 10px 15px 10px 30px;
    font: 700 14px/18px "Trebuchet MS", helvetica;
    text-transform: uppercase;
    background: url("../design/goBack-arrow.png")/*tpa=http://www.aes.com/files/design/goBack-arrow.png*/ no-repeat 15px 14px #c6c5c5;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    color: #000;
    behavior: url(../js/PIE.htc)/*tpa=http://www.aes.com/files/js/PIE.htc*/;
}
.goBack:hover {
    background: url("../design/goBack-arrow-hover.png")/*tpa=http://www.aes.com/files/design/goBack-arrow-hover.png*/ no-repeat 15px 14px #0075B0;
    color: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.PaneFooter .goBack {
    margin: 0 0 0 14px;
}
.FinContent ~ * {
    display: none;
}

/* ----------------------------- Financial Reports Summary */
.FinancialTableWidget .QuarterlyTable table+table {
    display: none;
}
.QuarterlyTable .Header {
    background: url("../design/financial-header.png")/*tpa=http://www.aes.com/files/design/financial-header.png*/ repeat-x 0 0 transparent;
    font-size: 15px;
}
.QuarterlyTable .Header th {
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.QuarterlyTable td {
    padding: 10px;
    background: #fff;
    border-left: 1px solid #D0D3D5;
    font-weight: bold;
    width: 25%;
}
.QuarterlyTable .last {
    width: 35px;
}
.QuarterlyTable .ten-q td, 
.QuarterlyTable .annual td, 
.QuarterlyTable .press td, 
.QuarterlyTable .presentation td, 
.QuarterlyTable .confcall td {
    background: #f7f7f7;
}
.QuarterlyTable .Header th:first-child {
    border-top-left-radius: 5px;
    border-right: 1px solid #6c9732;
    text-align: left;
    color: #fff;
    background: url("../design/financial-shadow.png")/*tpa=http://www.aes.com/files/design/financial-shadow.png*/;
    position: relative;
}
.QuarterlyTable td:first-child {
    border-left: none;
    width: 20%;
}
.QuarterlyTable td div .finLink {
    display: inline-block;
    background: url("../design/Q.png")/*tpa=http://www.aes.com/files/design/Q.png*/ no-repeat center center transparent;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    margin: 0 3px;
}
.QuarterlyTable td div .finLink.inactive, 
.QuarterlyTable td div .finLink.inactive:hover {
    opacity: .3;
    filter: alpha(opacity=30);
    _filter: alpha(opacity=100);
    cursor: pointer;
    cursor: text;
}
.QuarterlyTable td div .finLink:hover {
    opacity: .75;
    filter: alpha(opacity=75);
    _filter: alpha(opacity=100);
    cursor: pointer;
}
.QuarterlyTable td div .finLink a {
    color: #000;
    width: 32px;
    height: 32px;
    display: block;
}
.QuarterlyTable .annual td div, 
.QuarterlyTable .proxy td div,
.QuarterlyTable .ten-k div {
    text-align: center;
}
.QuarterlyTable .annual td .OnlineAnnual {
    display:inline-block;
    margin:0 10px;
}
.ModuleViewAllLink {
    margin-bottom: 15px;
}
.FinancialTableContainer {
    position: relative;
}
.FinancialTableContainer .prev {
    right: 10px;
    position: absolute;
    top: 16px;
    cursor: pointer;
}
.FinancialTableContainer .next {
    cursor: pointer;
}
.FinancialTableNav .disabled {
    opacity: .6;
    filter: alpha(opacity=60);
    _filter: alpha(opacity=100);
    cursor: text;
}
.QuarterlyTable .Header th.last {
    background: url("../design/financial-shadow.png")/*tpa=http://www.aes.com/files/design/financial-shadow.png*/;
    border-top-right-radius: 5px;
}
.QuarterlyTable .confcall td.last {
    border-bottom-right-radius: 5px;
}
.QuarterlyTable .confcall td:first-child {
    border-bottom-left-radius: 5px;
}

/* ----------------------------- Quarterly Reports Archive */
#FinancialWidget .row .label {
    font-weight: bold;
    line-height: 24px;
    color: #fff;
}
#FinancialWidget .YearContianer {
    margin-bottom: 5px;
}
#FinancialWidget .YearContianer h3 {
    font-size: 22px;
    color: #fff;
    background: #0075B0;
    padding: 15px 20px;
    margin: 0;
}
#FinancialWidget .FinancialItem {
    border-top: 1px solid #e8f3f8;
}
#FinancialWidget .FinancialItem > p {
    font-size: 16px;
    background: url("../design/blue-arrow-down-v2.png")/*tpa=http://www.aes.com/files/design/blue-arrow-down-v2.png*/ no-repeat 96% #d9ebf3;
    padding: 15px 20px;
    margin: 0;
    cursor: pointer;
}
#FinancialWidget .FinancialItem.active > p {
    background: url("../design/blue-arrow-up.png")/*tpa=http://www.aes.com/files/design/blue-arrow-up.png*/ no-repeat 96% #d9ebf3;
}
#FinancialWidget .DocumentInfo {
    display: none;
}
#FinancialWidget .DocumentInfo li {
    padding: 15px 20px;
}
#FinancialWidget .DocumentInfo ul li a[href*='.pdf'] {
    background: url("../icons/dl-icon-v3.png")/*tpa=http://www.aes.com/files/icons/dl-icon-v3.png*/ no-repeat right center transparent;
    display: block;
    padding: 7px 50px 7px 0;
}
#FinancialWidget .DocumentInfo ul li:first-child,
#FinancialWidget .DocumentInfo ul li + li + li,
#FinancialWidget .DocumentInfo ul li + li + li + li + li {
    background: #f7f7f7;
}
#FinancialWidget .DocumentInfo ul li:first-child + li,
#FinancialWidget .DocumentInfo ul li + li + li + li {
    background: #ffffff;
}
#FinancialWidget .type {
    position: absolute;
    z-index: 99;
    right: 15px;
    margin-top: 14px;
}
#FinancialWidget select.slectCategory {
    background: #006c9d;
    border: none;
    text-transform: uppercase;
    color: #fff;
    box-shadow: none;
}
#FinancialWidget .type .label {
    display: none;
}
#FinancialWidget p.NotFound {
    font-size: 13px;
    padding: 17px 16px;
    background: #0075B0;
    color: #fff;
}

/* ----------------------------- AES in the News */
.InNews .RssLinkTopContainer {
    float: none;
}
.InNews .ModuleContainerInnerTop {
    background: transparent;
    padding: 0;
}
.InNews .ModuleItemRow {
    border: none;
}

/* ----------------------------- FAQ's */
.FaqQuestionList, .FaqContainer .BackToTopLink {
    display: none;
}
.FaqContainer h3 {
    margin-bottom: 5px;
}
.FaqContainer h3.active {
    margin: 0;
}
.FaqAnswer {
    display: none;
    margin-bottom: 5px;
}

/* ----------------------------- PageNotFound, SearchResults */
.PageSearchResults .PaneContent, .PagePageNotFound .PaneContent {
    max-width: 960px;
}
.SearchResultsContainer, .SiteMapContainer {
    margin-bottom: 50px;
}
.SiteMap-Level1, .SiteMap-Level2 {
    font-weight: bold;
}
.SiteMap-Level2 {
    margin-top: 10px;
}
.SiteMap-Level3 {
    margin-left: 20px;
}
.SiteMap-Level4 {
    margin-left: 40px;
}
.SiteMap-Level5 {
    margin-left: 60px;
}
.TabTableItemAlt, .TabTableItem {
    margin-bottom: 20px;
}

/* map */
#map-canvas img {
    max-width: inherit;
}
.PageAESLocations .HeaderContainer,
.PageAESLocations .PaneBreadcrumb,
.PageAESLocations .FooterContainer {
    display: none;
}
.PageAESLocations .LayoutDefaultInner {
    max-width: 960px;
    border: none;
    margin: 0;
}
.PageAESLocations .ContentWrapper {
    background: transparent;
}
.PageAESLocations .PaneContentInner {
    padding: 0 !important;
}
.PageAESLocations .PaneContent {
    max-width: 960px !important;
    padding: 0;
}
.PageAESLocations .PaneContent .BlankModuleContainer {
    margin: 0;
}

/* fancybox */
.fancybox-opened .fancybox-skin {
    box-shadow: none !important;
}
.fancybox-skin {
    background: transparent !important;
}
.fancybox-close {
    background: url("../design/overlay-close.png")/*tpa=http://www.aes.com/files/design/overlay-close.png*/ no-repeat center center;
}
.fancybox-wrap .fancybox-close {
    top: -22px !important;
    right: -25px !important;
    width: 78px !important;
    height: 78px !important;
}

/* to top */
.BackToTop {
    float: right;
    margin-bottom: 20px;
}
.BackToTop .top {
    cursor: pointer;
}

table#t6025032_11 {
    font-size: 12px;
}

/* ----------------------------- Media Queries */
@media screen and (max-width:1200px) {
    .BodyBackground {
        background-color: #E2E3E6;
    }
    .LayoutDefaultInner {
        border: none;
    }
}
@media screen and (min-width:1025px) {
    .HeaderImageContainer img {
        height: 280px;
    }
    .PaneFooter {
        margin-right: 236px;
    }
    .LayoutTwoColumn .PaneFooter {
        margin-right: 16px;
    }
    .VideoGallery {
        width: 69%;
    }
}
@media screen and (max-width:1024px) {
    .ClientLogo {
        left: 20px !important;
    }

.spareMicro .FormBuilterContainer .FormTextArea {
    width: 40%;
    min-height: 120px;
    position:relative;
    z-index: 999;
}

    .spareLogo {
     left: 20px !important;
    }

    div.HeaderLinks, .ModuleSearch {
        right: 20px !important;
    }

 .spareSocial { right:271px !important;  }

    .Slider .slide-item img, .HeaderImageContainer img {
        padding-top: 40px;
        background: transparent;
    }

.spareHome .Slider .slide-item img, .HeaderImageContainer img {
        padding-top: 0px !important;
        background: transparent;
    }
    .Slider .caption {
        padding: 10px 20px !important;
        bottom: 8px;
        height: 150px !important;
    }
    .Slider .caption .title {
        font: 30px/1 helvetica !important;
        padding: 0 !important;
    }
    .Slider .caption .content {
        width: 100% !important;
    }
    .Slider .cycle-pager, .Slider .prev, .Slider .next {
        display: none;
    }
    .col {
        width: 50%;
    }
    .PaneLeft {
        display: none;
    }
    .PaneContentInner {
        padding: 15px 10px 50px 10px;
    }
    .PaneContent, .PaneRight {
        max-width: 49.6%;
        padding: 0 10px;
        margin: 0 !important;
    }
    .PaneBreadcrumb, .PaneFooter {
        width: 100%;
        padding: 0 10px;
    }
    .LayoutTwoColumn .PaneFooter {
        margin: 0;
    }
    .InvestorToolkit, .LayoutTwoColumn .InvestorToolkit {
        right: 10px;
    }
    .LayoutTwoColumn .PaneContent {
        max-width: 100%;
    }
    .StockQuoteHeaderContainer {
        bottom: 25px;
        right: 20px;
    }
}
@media screen and (max-width:767px) {
    .ModuleSearch, div.HeaderLinks, .Slider, .MainNav, .HeaderImageContainer, .headerBanner h2  {
        display: none;
    }

.spareMicro .FormBuilterContainer .FormTextArea {
    width: 60%;
    min-height: 120px;
    position:relative;
    z-index: 999;
}

.spareLogo img {
width: 135px;
}

    
.spareLogo{
    top:20px !important;}

    .headerBanner img{ display:none;}

    .spareSocial { display:none; }
     
    .PaneHeader {
        height: 100px;
        background: #fff;
    }
    .Sectioninvestors .PaneHeader, 
    .Sectionpresentations-and-webcasts-archived .PaneHeader, 
    .Sectionsec-documents .PaneHeader,
    .Sectionpress-releases .PaneHeader {
        height: 140px;
    }
    .ClientLogo {
        top: 20px !important;
    }
    .ClientLogo img {
        width: 135px;
    }
    .PaneNavigation {
        background: none !important;
    }
    .MainNav.active, .ResponsiveNavTrigger {
        display: block !important;
    }
    .PaneContentInner {
        padding-top: 120px !important;
    }
    .Sectioninvestors .PaneContentInner, 
    .Sectionpresentations-and-webcasts-archived .PaneContentInner,
    .Sectionsec-documents .PaneContentInner,
    .Sectionfinancial-reports-summary .PaneContentInner,
    .Sectiondividend-history .PaneContentInner,
    .Sectioninvestor-resources .PaneContentInner,
    .Sectionpress-releases .PaneContentInner {
        padding-top: 160px !important;
    }
    .StockQuoteHeaderContainer {
        left: 0;
        top: 100px;
        width: 100%;
        background: url("../design/MainNav-bg.jpg")/*tpa=http://www.aes.com/files/design/MainNav-bg.jpg*/ repeat-x 0 0 transparent;
    }
    .StockQuoteHeaderContainer .description1 {
        left: 20px;
    }
    .StockQuoteHeaderContainer .description2 {
        left: 100px;
    }
    .StockQuoteHeaderContainer .description3 {
        left: 170px;
    }
    .StockQuoteHeaderContainer .StockDescription3 {
        right: -20px;
    }
    .StockQuoteHeaderContainer .StockDescription3 a {
        right: 5px;
    }
}
@media screen and (max-width:768px) {
    .PaneContent, .PaneRight {
        max-width: 100%;
        float: none;
        clear: both;
    }

.spareMicro .FormBuilterContainer .FormTextArea {
    width: 60%;
    min-height: 120px;
    position:relative;
    z-index: 999;
}
    .ShareThis {
        right: 0;
    }
    .StockTabs .separator {
        display: none;
    }
    .StockTabs li {
        width: 46% !important;
        border-bottom: 1px solid #7db03a;
    }
    .StockTabs li br {
        display: none;
    }
    .StockTableItem, .StockQuoteContainer .Price, .StockQuoteContainer .ChangeVol {
        width: 100% !important;
        margin: 0 !important;
    }
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        overflow-x: scroll;
    }
    .table-responsive .CustomTable {
        min-width: 480px;
        max-width: 100%;
    }
    .LayoutTwoColumn .table-responsive .CustomTable, .QuarterlyTable table {
        min-width: 700px;
    }
    .slideshare {
        width: 100% !important;
    }
    .EventCalendar {
        width: 100% !important;
        margin-left: 0 !important;
    }
    .RegulatoryFilingContainer .ModuleHeader + .ModuleItemRow {
        border-top: none;
    }
    .FormBuilterContainer .FormTextArea,
    .SendMessage textarea {
        width: 100% !important;
    }
    .ContactUs .map {
        margin: 0 15px 15px 0;
    }
}
@media (min-width:640px) and (max-width:1024px) {
    .VideoGallery .video {
        width: 46%;
        float: left;
        margin: 0 10px;
        height: 365px;
    }
    .VideoGallery .video iframe {
        height: 270px;
    }
    .VideoGallery .video h2 {
        height: 50px;
    }
    .LayoutHomePage .col {
	width: 100%;
	padding: 0;
    }
    .Home-AboutUs, 
    .Home-OurCommunities {
	width: 46.6%;
	float: left;
	margin: 0 10px;
    }
    .Home-OurCommunities {
	margin-top: -5px;
    }
    .ModulePressReleaseLatest.col, 
    .col.Home-StockQuote {
	width: 46.6%;
	margin: 0 10px;
	float: left;
    }
    .Home-AboutUs .ContentContainer,  
    .Home-OurCommunities .ContentContainer {
	min-height: 145px;
    }
    .aesSTFC {
    width: 33% !important;
    padding: 10px !important;
    }
}
@media screen and (max-width:640px) {
    .PaneContent {
        padding-top: 25px;
    }
    .col, p.left, p.right {
        width: 100%;
    }
.aesSTFC {
    text-align:center;
    margin:0 auto;
    width:100%;
}

.aesSTFC img {
    height: 260px;
}

.aesSTFC p{
    margin:0 auto;
    padding-bottom:25px;
}

.spareMicro .FormBuilterContainer .FormTextArea {
    width: 100%;
    min-height: 120px;
    position:relative;
    z-index: 999;
}
    .StockTabs li {
        width: 100% !important;
        margin: 0 !important;
    }
    .StockTabs li a {
        padding: 5px 0 !important;
    }
    #chart .highcharts-input-group {
        display: none;
    }
    .MailingListCol1, .MailingListCol2 {
        display: block;
        width: initial !important;
    }
    .MailingListForm input[type="text"], 
    .MailingListUnsubscribeTable input[type="text"], 
    .SendMessage .MailingListCol2 select {
        width: 95% !important;
    }

.MailingListForm input[type=email] {
width: 288px !important;
}
    .MailingListCol1 span {
        margin-bottom: 2px !important;
    }
    .PersonContainer h3 {
        padding: 6px 60px 6px 10px;
    }
    .PersonContainer .SufixName {
        display: block;
        font-size: 14px;
        margin-top: 2px;
    }
    .PersonGenericContainer .PersonSuffixText:before {
        content: '';
    }
    .RegulatoryFilingContainer .FormGroupsContainer:before, 
    .yearLabel,
    #FinancialWidget .row .label {
        width: 105px;
    }
    .RegulatoryFilingContainer select,
    #FinancialWidget .row select,
    .ResourceYears select#changeYears {
        width: 200px !important;
    }
    .RegulatoryFilingContainer .FormGroupsContainer, 
    .RegulatoryFilingContainer .FormYear {
        width: 100%;
    }
    .RegulatoryFilingContainer .FormGroupsContainer,
    #FinancialWidget select {
        margin-bottom: 10px;
    }
    .RegulatoryFilingContainer .ModuleHeader {
        display: none;
    }
    .RegulatoryFilingContainer .ModuleItemRow > * {
        display: block;
        width: auto !important;
        float: none !important;
        border: none !important;
    }
    .RegulatoryFilingContainer .Icons {
        margin-top: 5px;
    }
    .PageNewsViewsVideoGallery .LayoutTwoColumn .PaneContent {
        margin-top: 0px;
    }
    a.view-archive {
        display: block;
        margin-top: 10px;
        width: 180px;
    }
    #fancybox-loading, 
    .fancybox-close, 
    .fancybox-prev span, 
    .fancybox-next span {
        background-size: 40px 40px !important;
    }
    .StockHistorical .StockHistoricalSelection select, 
    .StockHistorical .InputButton {
        display: block;
        width: 100%;
        margin-bottom: 5px;
    }
}
@media screen and (min-width:480px) {
    .RegulatoryFilingContainer .FormGroupsContainer:before,
    .yearLabel,
    #FinancialWidget .row .label,
    .selYear strong {
        float: left;
        border-right: 1px solid #7db03a;
        padding-right: 17px;
        margin-right: 20px;
    }

.spareMicro .FormBuilterContainer .FormTextArea {
    min-height: 120px;
    position:relative;
    z-index: 999;
}
}
@media screen and (max-width:480px) {
    .Home-StockQuote div.AES {
        margin: 0px 0px 10px 0px !important;
        width: 100% !important;
    }

.spareMicro .FormBuilterContainer .FormTextArea {
    width: 100%;
    min-height: 120px;
    position:relative;
    z-index: 999;
}
    .Home-StockQuote .wrapper > div {
        width: 49%;
        margin: 0;
    }
    .Home-StockQuote .StockDate, 
    .Home-StockQuote .StockRefresh {
        width: 100%;
        border-bottom: none;
    }
    .Home-StockQuote .StockRefresh {
        text-align: left;
    }
    .FormBuilterContainer {
        width: 100% !important;
    }
    .FormBuilterContainer .ItemClass .Label, 
    .FormBuilterContainer .ItemClass input[type="text"],   .FormBuilderContainer .FormDropdown {
        display: block;
        width: 93% !important;
    }

.FormBuilterContainer .ItemClass input[type=email] { width:93% !important; }
    .FormBuilterContainer .Item .RedStar {
        margin: 3px 12px 0 0 !important;
        float: right;
    }
    .ReminderTitle {
        width: 30%;
        display: inline-block;
    }
    .ReminderPeriod {
        width: 68%;
    }
    .ReminderEmailText {
        float: left;
        width: 30%;
        margin: 7px 4px 0 0;
    }
    .ReminderEmailTextbox {
        width: 68% !important;
        margin: 5px 0 !important;
    }
    .ReminderButton {
        display: block;
        width: 99%;
    }
    .InvestorKitDl .ModuleContainerInner .ModuleHeader + .ModuleItemRow {
        float: none;
    }
    .RegulatoryFilingContainer select,
    .ResourceYears select#changeYears {
        width: 100% !important;
    }
    .PersonGenericContainer .PersonDescription {
        clear: both;
    }
    .PersonGenericContainer .PersonPhoto {
        width: 100%;
        text-align: center;
        margin: 0;
    }
    .FinancialReportContainer .CoverImagePane {
        display: block;
        border-radius: 0 !important;
        width: 100% !important;
        text-align: center;
    }
    .FinancialReportContainer .LeftPad20 {
        display: block;
        padding: 0 20px;
        border-bottom-left-radius: 5px;
    }
}
@media screen and (max-width:320px) {
    .slideshare iframe {
        height: 240px; 
    }
.spareMicro .FormBuilterContainer .FormTextArea {
    width: 100%;
    min-height: 120px;
    position:relative;
    z-index: 999;
}
}


/* MICRO WEBSITE CSS */


.spareLogo {float: left;
position: relative;
z-index: 101;
top: 6px;
left: 193px;}

.PreviewBody { margin-top: 0px !important;}

.PreviewToolBar { display: none; }

.spareNav .QuickLinkText { display: none; }

.spareNav { 

position: absolute;
z-index: 102;
top: 101px;
background: url("../design/MainNav-bg.jpg")/*tpa=http://www.aes.com/files/design/MainNav-bg.jpg*/ repeat-x 0 0 transparent;
width: 100%;
max-width: 1220px; 

}

.spareSocial {z-index: 250;
position: absolute;
float: right;
right: 390px;
top: 33px;  }

.spareSocial .socialTwitter { font-size: 0px;
background-image: url(../design/twitter.png)/*tpa=http://www.aes.com/files/design/twitter.png*/;
background-repeat: no-repeat;
background-position: 0 0;
padding: 15px; }

.spareSocial .socialLinkedIn { font-size: 0px;
background-image: url(../design/linkedin.png)/*tpa=http://www.aes.com/files/design/linkedin.png*/;
background-repeat: no-repeat;
background-position: 0 0;
padding: 15px; }



.headerBanner img
{
 height: 449px;
 width:100%;
 z-index: -1;
}

.headerBanner h2 {
    background: url("../design/blue_bk.png")/*tpa=http://www.aes.com/files/design/blue_bk.png*/ repeat 0 0 transparent;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;  
    text-align: center;  width: 100%;  
    height: 170px;    position: absolute;  z-index: 999;  bottom: 76px;
    font: 36px/1 helvetica;  text-shadow: 1px 2px 1px rgba(0, 0, 0, .4);  
}

.spareHome .transImage{
background-image:url(../images/spare_trsnsformer_fleet/Banner_TransformerFailure.jpg)/*tpa=http://www.aes.com/files/images/spare_trsnsformer_fleet/Banner_TransformerFailure.jpg*/;
background-repeat: no-repeat;
background-position: 0 0;
float: left;
width: 100%;
bottom: 0;
position: relative;
height: 131px;
background-size: cover;
behavior: url(../js/PIE.htc)/*tpa=http://www.aes.com/files/js/PIE.htc*/;
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/files/design/cont-img.png', sizingMethod='scale')";
}

.spareHome .recoverImage{
background-image: url(../images/spare_trsnsformer_fleet/BANNER_RecoverwithUs.JPG)/*tpa=http://www.aes.com/files/images/spare_trsnsformer_fleet/BANNER_RecoverwithUs.JPG*/;
background-repeat: no-repeat;
background-position: 0 0;
float: left;
width: 100%;
bottom: 0;
position: relative;
height: 131px;
background-size: cover;
behavior: url(../js/PIE.htc)/*tpa=http://www.aes.com/files/js/PIE.htc*/;
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/files/design/cont-img.png', sizingMethod='scale')"; 
}


.spareHome .contactImage{
background-image: url(../images/spare_trsnsformer_fleet/BANNER_ContactUs.JPG)/*tpa=http://www.aes.com/files/images/spare_trsnsformer_fleet/BANNER_ContactUs.JPG*/;
background-repeat: no-repeat;
background-position: 0 0;
float: left;
width: 100%;
bottom: 0;
position: relative;
height: 131px;
background-size: cover;
behavior: url(../js/PIE.htc)/*tpa=http://www.aes.com/files/js/PIE.htc*/;
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/files/design/cont-img.png', sizingMethod='scale')";
 }

.spareHome .imgTitle { width: 100%;
background-image: url(../design/head-bg.png)/*tpa=http://www.aes.com/files/design/head-bg.png*/;
background-repeat: repeat-x;
background-position: 0 0;
position: relative;
clear: both;
height: 40px;
font-size: 16px;
padding-left: 20px;
line-height: 40px;
color: #FFF;
font-weight: bold;
border-radius: 3px 3px 0 0;

}

.spareHome .imgFooter {width: 100%;
background-color: #000;
height: 59px;
border-radius: 0 0 3px 3px;
position: relative;
top: -58px;
opacity: 0.6;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
clear: both;
}

.spareHome .imgfootertxt {font-size: 16px;
color: #FFF;
font-weight: bold;
padding-left: 20px;
position: relative;
top: -103px;}

.spareHome .Slider .slide-item {
  width: 100%; 
  height:450px !important;
}

.spareHome .panDiv { height:185px !important;}


.spareHome .Copyright {
font-size:11px !important;
color: #1d1d1d !important;
}

.spareHome .PaneRight {
margin:0px !important;
}


.backToHome a { color: #0075B0 !important;
font-size: 13px;
font-weight: bold; }

.backToHome a:hover { color: #0075B0 !important;
font-size: 13px;
font-weight: bold; text-decoration:underline;  }

.spareMicro .PaneHeader2 { background: #e2e3e6 !important; }

.spareMicro .headerBanner h2 { min-height:100px !important; height:auto !important; }

.spareMicro .FormBuilderContainer .ItemClass .Label {
    width: 15%;
    display: none;
}

.spareMicro .FormBuilterContainer .FormTextArea {
    width: 40%;
    min-height: 120px;
    position:relative;
    z-index: 999;
}

.spareMicro .input[type="submit"] { position:relative;
    z-index: 999; }

.spareMicro .FormBuilderContainer input[type="text"], 
.spareMicro .FormBuilderContainer input[type=email] {

    width: 300px;
    height: 40px;
    line-height: 40px;
    position:relative;
    z-index: 999;
}


.spareMicro .FormBuilterContainer .Item .RedStar {
display:none;
}

.spareHome .MainNav.active,
.spareMicro .MainNav.active {
    text-align: left;
    background: #fff;
    -webkit-box-shadow: 0 4px 6px 4px rgba(0,0,0,.2);
       -moz-box-shadow: 0 4px 6px 4px rgba(0,0,0,.2);
            box-shadow: 0 4px 6px 4px rgba(0,0,0,.2);
        z-index: 99999;
}

.spareHome .caption h1 {
    font-size: 36px;
}

.spareHome .caption p {
    font-size:20px;
}

.spareHome .Slider .caption {
background: url("../design/blue_bk.png")/*tpa=http://www.aes.com/files/design/blue_bk.png*/ repeat 0 0 transparent;
color: white;
text-align: left;
width: 100%;
height: 170px;
position: absolute;
z-index: 999;
bottom: 76px;
padding-top: 55px;
padding-left: 195px;
text-shadow: 1px 2px 1px rgba(0, 0, 0, .4);
}



@media screen and (max-width:863px) {
    .MainNav .level1 > li > a{ font-size:13px !important;}
}


/*Start Spare Transformer Fleet Contact Form*/

.contactUsForm input[type="text"], input[type=email], textarea, select {
    margin: 5px;
    padding: 0;
    outline: none;
    font-family:helvetica;
    font-size:12px ;
     border: 1px solid #CCC;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0px 1px 4px #CCC;
    -moz-box-shadow: inset 0px 1px 4px #CCC;
    box-shadow: inset 0px 1px 4px #CCC;
    background-color:#fff;
    behavior: url(../js/PIE.htc)/*tpa=http://www.aes.com/files/js/PIE.htc*/;
}

.contactUsForm input[type="submit"],
a.view-archive,
.ModuleViewAllLink {
    color: #fff !important;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    background: #0075B0;
    padding: 10px 15px;
    margin: 8px;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    display: inline-block;
    behavior: url(../js/PIE.htc)/*tpa=http://www.aes.com/files/js/PIE.htc*/;
position: relative;
z-index: 9999;
}
.contactUsForm input[type="submit"]:hover,
a.view-archive:hover,
.ModuleViewAllLink:hover {
    color: #000 !important;
    background: #c6c5c5;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: relative;
    z-index: 9999;

}


.contactUsForm input[type="text"], input[type=email], select {
    height: 40px;
    padding-left:10px;
    line-height:45px;
}

.contactUsForm input[type="text"], input[type=email] {
    width: 260px;
}
.contactUsForm textarea {
    resize: vertical;
    width: 60%;
    min-width: 260px;
    padding-top:5px;
    padding-left:10px;
    line-height:40px;
}
.errorMsg
{
 display:none;
}
a.timesNew {
    font-family: TimesNewRoman;
    font-size: 14px;
}
.contactUsForm {
    z-index: 9999;
}

.spareMicro .LayoutDefaultInner {

    max-width: 1219px;
    width: 100%;
    margin:0 auto !important;
    border:none !important;
}

/*End Spare Transformer Fleet Contact Form*/