@media print {
	.BodyBackground,
	.ContentWrapper,
	.FooterContainer {
		background: #fff !important;
	}
	.LayoutDefault {
		width: 670px;
		margin: 0 auto;
	}
	.PreviewToolBar {
		display: none !important;
	}
	.PaneNavigation, .SecNav, .ModuleSearch, div.HeaderLinks, .PaneHeader2, .BackToTop, .goBack, .InvestorToolkit {
		display: none;
	}
	.LayoutDefaultInner {
		border: 1px solid #fff !important;
	}
	.ClientLogo {
		left: 20px;
	}
	.ContentWrapper {
		padding-top: 120px;
	}
	.PaneContent {
		width: 100% !important;
		float: none !important;
		max-width: 670px !important;
		clear: both;
		padding: 0 0 10px 0;
	}
	.PaneLeft, .PaneRight {
		max-width: 100%;
		margin: 0;
		padding: 0 20px;
	}
	.PaneLeft > span > span > .HtmlTextContainer:first-child {
		display: none;
	}
	.PaneRight .HtmlTextContainer .ContentContainer img {
		margin: 0 auto;
	}
	.PaneBreadcrumb {
		width: 100%;
	}
	.StockTabs li {
		width: 21.5%;
	}
	.EventCalendar {
		width: 43.5%;
	}
	.ShareThis {
		margin-right: 20px;
	}
	.Contact-LeftSide {
		display: none;
	}
}