.ms-rteStyle-BrandGroupHeading
{
-ms-name:"Brand Group Heading";
}
.ms-rteStyle-BrandGroupSummary
{
-ms-name:"Brand Group Summary";
}

.ms-rteStyle-BrandInternalLeftChannelLink
{
-ms-name:"Brand Left Channel Link";
}
.ms-rteStyle-BrandInternalLeftLarge
{
-ms-name:"Brand Left Large";
}
.ms-rteStyle-BrandInternalLeftSmall
{
-ms-name:"Brand Left Small";
}
.ms-rteStyle-BrandInternalRightHeadline
{
-ms-name:"Brand Right Headline";
}
.ms-rteStyle-BrandInternalRightContent
{
-ms-name:"Brand Right Content";
}
.ms-rteStyle-TopLeft{
-ms-name:"Left Content Regular";
}
.ms-rteStyle-TopRightRegular{
-ms-name:"Top Right Regular";
}
.ms-rteStyle-TopRightBold{
-ms-name:"Top Right Bold";
}
.ms-rteStyle-RightRegular{
-ms-name:"Right Content Regular";
}
.ms-rteStyle-RightBold{
	-ms-name:"Right Content Bold";
}
.ms-rtestate-field-ViacomHistory{
	-ms-name:"About Viacom History Description";	

}
.ms-rtestate-field-AboutGlobal{
	-ms-name:"About Global";
}
.ms-rtestate-field-AboutGDescription{
	-ms-name:"Global Description";
}
.ms-rtestate-field-globallink{
	-ms-name:"Global link";
}

.ms-rtestate-field-careerdescription{
	-ms-name:"Career Description";
}
.ms-rtestate-field-CareerRight{
	-ms-name:"Career Right Content";
}