@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

.animated,
.customDL .ModuleHeadlineLink,
.customDL .ModuleFileDescriptionText {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeInRightBig{
  0% {
    opacity: 0;
    transform: translateX(2000px);
    -webkit-transform: translateX(2000px);
}
100% {
    opacity: 1;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
}
}

@keyframes fadeInRightBig {
0% {
    opacity: 0;
    transform: translateX(2000px);
    -webkit-transform: translateX(2000px);
}
100% {
    opacity: 1;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
}
}

.fadeInRightBig {
    -webkit-animation-name: fadeInRightBig;
    animation-name: fadeInRightBig;
}

@-webkit-keyframes fadeInLeftBig {
0% {
    opacity: 0;
    transform: translateX(-2000px);
    -webkit-transform: translateX(-2000px);
}
100% {
    opacity: 1;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
}
} 

@keyframes fadeInLeftBig {
0% {
    opacity: 0;
    transform: translateX(-2000px);
    -webkit-transform: translateX(-2000px);
}
100% {
    opacity: 1;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
}
}
.fadeInLeftBig {
    -webkit-animation-name: fadeInLeftBig;
    animation-name: fadeInLeftBig;
}
.MobileNav{
	z-index:125;
	top:0;
}
.MobileNav .level2 > li.has-children::after, 
.MobileNav .level3 > li.has-children::after{
	font-size:20px;
}


.lightProducts .column {
    display: inline-block;
    margin-right: 20px;
}