/* Globals */

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot-v=4.3.0')/*tpa=http://www.hollyfrontier.com/files/fonts/fontawesome-webfont.eot?v=4.3.0*/;
    src: url('../fonts/fontawesome-webfont.eot-#iefix&v=4.3.0')/*tpa=http://www.hollyfrontier.com/files/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0*/ format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2-v=4.3.0')/*tpa=http://www.hollyfrontier.com/files/fonts/fontawesome-webfont.woff2?v=4.3.0*/ format('woff2'), url('../fonts/fontawesome-webfont.woff-v=4.3.0')/*tpa=http://www.hollyfrontier.com/files/fonts/fontawesome-webfont.woff?v=4.3.0*/ format('woff'), url('../fonts/fontawesome-webfont.ttf-v=4.3.0')/*tpa=http://www.hollyfrontier.com/files/fonts/fontawesome-webfont.ttf?v=4.3.0*/ format('truetype'), url('../fonts/fontawesome-webfont.svg-v=4.3.0#fontawesomeregular')/*tpa=http://www.hollyfrontier.com/files/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular*/ format('svg');
    font-weight: normal;
    font-style: normal;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}
.fa-angle-double-left:before {
  content: "\f100";
}
.fa-angle-double-right:before {
  content: "\f101";
}
body{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #2b3743;
    margin: 0;
    padding: 0;
}
.PreviewToolBar{
  z-index: 1001 !important;
}
*, *:before, *:after{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
a{
    color: #0081cb;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
h1{
    font-size: 42px;
    line-height: 50px;
    margin: 0;
    color: #0081cb;
    font-weight: 300;
}
h2{
    font-size: 15px;
    line-height: 24px;
    font-weight: 900;
    margin: 0;
    color: #2b3743;
    text-transform: uppercase;
}
h3{
    font-size: 15px;
    line-height: 24px;
    font-weight: 700;
    margin: 0;
    color: #2b3743;
}
h4{
    font-size: 15px;
    line-height: 24px;
    font-weight: 700;
    margin: 0;
    color: #2b3743;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
img{
    max-width: 100%;
    border: 0;
}
nav{
    display: block;
}
.container{
    width: 1200px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.PaneContentInner{
    padding-bottom: 60px;
}
.NoPaddingBottom .PaneContentInner{
    padding-bottom: 0;
}

@media screen and (max-width: 1200px){
    .container{
        width: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 320px){
    body{
        line-height: 20px;
    }
    h2{
        font-size: 13px;
    }
    .PaneContentInner{
        padding-bottom: 15px;
    }
}

/* Header Pane */

.HeaderContainer{
    margin-top: 60px;
}
.ClientLogo{
    position: absolute;
    top: 0;
    width: 171px;
    margin-top: 15px;
    display: none;
}
.HeadIcons{
    float: right;
    width: 59px;
    margin-top: 23px;
}
.HeadIcons a{
    vertical-align: top;
}
.HeadIcons img{
    vertical-align: top;
}
.ToggleMenu{
    display: none;
}
.navbar-collapse{
    margin: 0 auto;
    width: 940px;
    text-align: center;
    display: block;
}
.PaneHeader{
    background: #425363;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
}

@media screen and (max-width: 1200px){
    .navbar-collapse{
        width: auto;
    }
}

@media screen and (max-width: 768px){
    .HeaderContainer{
        margin-top: 52px;
    }
    .PaneHeader{
        background: #425363;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 1000;
        height: 52px;
    }
    .navbar-collapse{
        display: none;
    }
    .PaneHeader .container{
        text-align: center;
    }
    .ClientLogo{
        width: auto;
        float: none;
        margin-bottom: 15px;
        position: static;
        display: block !important;
    }
    .ToggleMenu{
        display: block;
        background: url('../images/mobile/menu_mobile.png')/*tpa=http://www.hollyfrontier.com/files/images/mobile/menu_mobile.png*/;
        width: 33px;
        height: 22px;
        float: left;
        margin-top: 15px;
    }
    .HeadIcons{
        margin-top: 15px;
    }
}

/* Primary Nav */

.MobileNav{
    display: none;
}
.navbar-collapse ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline;
}
.navbar-collapse ul.level2 li{
    position:relative;
}
.navbar-collapse ul.level2 li:hover ul.level3{
    display:block;
    text-align:left;
}
.navbar-collapse li{
    margin-left: 20px;
    display: inline-block;
    vertical-align: top;
}
.navbar-collapse a{
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 40px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
}
.navbar-collapse .level1 > li:first-child{
    margin-left: 0;
}
.navbar-collapse .level3{
    display: none;
    position:absolute;
    top:60px;
    left:-20px;
    background-color:#425363;
}
.navbar-collapse .level4{
    background-color: #000;
    display: none;
    left: 100%;
    position: absolute;
    top: 0;
}
.navbar-collapse ul.level3 li a{
    white-space:nowrap;
    display:block;
    text-align:left;
    padding:0;
}
.navbar-collapse .level3 li a:hover,
.navbar-collapse .level4 li a:hover{
    color: #0081cb;
}
.navbar-collapse ul.level3 li.has-children{
    position:relative;
}
.navbar-collapse ul.level3 li:hover  ul.level4{
    display:block;
}
.navbar-collapse ul.level3 li{
    margin: 0;
    padding: 0 40px 0 20px;
    display:block;
}
.navbar-collapse ul.level3 li.has-children:after{
    position:absolute;
    content:"\f105";
    right:20px;
    top:50%;
    margin-top:-12px;
    color:#fff;
    font-family: 'FontAwesome';
    font-size:20px;
}
.navbar-collapse ul.level3 li:hover{
    background-color:#000;
}
.navbar-collapse .level1 > li.selected > a:after{
    position: absolute;
    content: "";
    bottom: -8px;
    left: 50%;
    margin-left: -8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #425363;
    z-index: 111;
}
.navbar-collapse .level2 > li.selected > a:after,
.navbar-collapse .level2 > li.expanded > a:after{
    position: absolute;
    content: "";
    bottom: -8px;
    left: 50%;
    margin-left: -8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #425363;
    z-index: 111;
}
.navbar-collapse  ul.level4{
    background-color:#425363;
}
.navbar-collapse  ul.level4 li:hover{
    background-color:#000;
}

@media screen and (min-width: 769px){
    .MobileNav{
        display: none !important;
    }
}

@media screen and (max-width: 768px){
    .LayoutHomePage .PaneContentInner .container{
        padding: 0;
    }
    .PaneLeft .container{
        padding: 0;
    }
	.openNav .PaneHeader {
		position: absolute;
	}
    .MobileNav{
        display: none;
        list-style: none;
        background: #395775;
        position: absolute;
        left: 0;
        right: 0;
        top: 52px;
    }
    .MobileNav:before,
    .MobileNav:after {
        content: " "; 
        display: table; 
    }
    .MobileNav:after {
        clear: both;
    }
    .MobileNav ul {
        list-style: none;
        display: block;
        margin: 0;
        padding: 0;
    }
    .MobileNav a {
        color: #fff;
        text-decoration: none;
        font-size: 13px;
        line-height: 40px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        display: block;
        border-top: 1px solid #fff;
        position: relative;
    }
    .MobileNav li {
        float: none;
    }
    .MobileNav a:hover{
        background: #282c2f;
        display: block;
    }
    .MobileNav > li > a {
        display: block;
    }
    .MobileNav .level3{
        display: none;
    }
    .MobileNav .level1 > li.selected > a{
        background: #282c2f;
    }
    .MobileNav .level2 > li.selected > a, .MobileNav .level2 > li.expanded > a{
        background: #282c2f;
        display: block;
        padding: 0 40px;
    }
    .MobileNav .level2 li.selected > .level3 > li > a, .MobileNav .level2 li.expanded > .level3 > li > a{
        display: block;
    }
    .MobileNav .level4{
        display: none ;
    }
    .MobileNav .level2 > li.has-children > a,
    .MobileNav .level3 > li.has-children > a{
        position: relative;
    }
    .MobileNav .level2 > li.has-children > a:after,
    .MobileNav .level3 > li.has-children > a:after{
        position: absolute;
        right: 15px;
        top: 50%;
        margin-top: -10px;
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 20px;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        transform: translate(0, 0);
        content: "\f107";
        color: #fff;
    }
    .MobileNav .level2 > li.has-children.open > a:after,
    .MobileNav .level3 > li.has-children.open > a:after{
        content: "\f106";
    }
    .MobileNav .level3{
        background-color:#425363;
    }
    .MobileNav .level4{
        background-color:#C3C5C8;
    }
    .MobileNav .level2 > li.expanded{
        position: relative;
    }
    .MobileNav .level2 .drop-icon{
        position: absolute;
        right: 0;
        top: 0;
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        transform: translate(0, 0);
        content: "\f077";
        color: #fff;
        width: 40px;
        height: 100%;
        z-index: 10;
    }
}

/* Pane Header 2 */

.PaneHeader2{
    position: relative;
}
.PaneHeader2 .ModuleSearch{
    display: none;
    background: #dadfe1;
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    z-index: 105;
    padding-top: 40px;
    padding-bottom: 40px;
}
.PaneHeader2 .ModuleSearch .ModuleContainerInner{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: auto;
    max-width: 40%;
    margin-right: 0;
}
.PaneHeader2 .ModuleSearch input[type="text"]{
    width: 320px;
    height: 40px;
    background: #fff;
    color: #536067;
    font-size: 15px;
    line-height: 36px;
    border: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
}
.PaneHeader2 .ModuleSearch input[type="submit"]{
    width: 140px;
    height: 40px;
    background: #7bc6ac;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 35px;
    font-weight: 900;
    border: 0;
}
.PaneHeader2 .MailingListSignupContainer{
    display: none;
    background: #dadfe1;
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    z-index: 105;
    padding-top: 40px;
    padding-bottom: 40px;
}
.PaneHeader2 .SignUp{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: auto;
    border-left: 1px solid #cdd2d5;
    max-width: 40%;
    margin-right: 0;
    position: relative
}
.PaneHeader2 .SignUp input[type="text"]{
    width: 320px !important;
    height: 40px;
    background: #fff;
    color: #536067;
    font-size: 15px;
    line-height: 36px;
    border: 0;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.PaneHeader2 .SignUp input[type="submit"]{
    width: 140px;
    height: 50px;
    background: #7bc6ac;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 35px;
    font-weight: 900;
    border: 0;
}
.EditSubscriberConfirmation{
    text-align: center;
}
.icheckbox,
.iradio_flat-grey {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 19px;
    height: 21px;
    background: url("../design/white.png")/*tpa=http://www.hollyfrontier.com/files/design/white.png*/ no-repeat;
    border: none;
    cursor: pointer;
    margin-right:10px;
}
.icheckbox {
    background-position: 0;
}
.icheckbox.checked {    
    background-position: -40px 0;
}
.MailingListForm input[type="checkbox"], 
.MailingListUnsubscribeContainer input[type="checkbox"] {
    -webkit-appearance: checkbox;
}
.LandingEmailAlerts .Button.ActionButton{
    position:absolute;
    top:75%;
    left: -590px;
    margin-left: 50%;
    background-color: #ccc;
    border: medium none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    color: #5f6861;
    cursor: pointer;
    font-size: 25px;
    height: 75px;
    line-height: 75px;
    padding: 0;
    text-align: center;
    width: 280px;
}
.LandingEmailAlerts .ErrorContainer,
.LandingEmailAlerts .EditSubscriberConfirmation{
    color: #fff;
    font-size: 25px;
    left: -590px;
    margin-left: 50%;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 1170px;
}
.PaneHeader2 .SignUp .MailingListsHeading,
.PaneHeader2 .SignUp .RequiredField,
.PaneHeader2 .SignUp .MailingListCol1{
    display: none;
}
.PaneHeader2 .SignUp .MailingListTable,
.PaneHeader2 .SignUp .MailingListListTable,
.PaneHeader2 .SignUp .GridActions{
    width: 460px;
    padding-left: 50px;
}
.PaneHeader2 .SignUp .MailingListListTable table{
    width: 410px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.PaneHeader2 .SignUp .MailingListListTable table tr{
    float: left;
    width: 50%
}
.PaneHeader2 .SignUp .NoBr{
    display: none;
}
.PaneHeader2 .SignUp h1{
    font-weight: 900;
    font-size: 15px;
    line-height: 28px;
    color: #2b3743;
    text-transform: uppercase;
    position: absolute;
    left: -155px;
    top: 120px;
}
.PaneHeader2 .SignUp h1:before{
    width: 100px;
    height: 100px;
    display: block;
    content: "";
    background: url('../design/email_alert.png')/*tpa=http://www.hollyfrontier.com/files/design/email_alert.png*/;
    position: absolute;
    bottom: 48px;
}
.homeslider{
    background: #dadfe1;
}
.cycle-slideshow{
    height: 480px;
}
.SlickCarousel .cycle-slideshow {
    height:auto;
}
.cycle-slideshow .slide{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position:relative;
    background-position:center center;
}
.cycle-pager,
.slick-dots {
    z-index: 120;
    padding:0;
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    max-width: 10em;
    text-align:center;
    text-align:center;
}
.cycle-pager span,
.slick-dots li {
    background: #dadfe1;
    width: 7px;
    height: 7px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
    display: inline-block;
}
.cycle-pager span.cycle-pager-active,
.slick-dots li.slick-active {
    width: 7px;
    height: 7px;
    background: #7bc6ac;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-indent:-999px;
}
.cycle-pager > * {
    cursor: pointer;
}
.cycle-bg{
    background: url('../design/sqh.png')/*tpa=http://www.hollyfrontier.com/files/design/sqh.png*/;
    padding:10px;
}
.SlickCarousel .cycle-bg {
/*    display: inline-block;
    vertical-align: middle;
    max-width: 99%;*/
    left:0;
    bottom:0;
    right:0;
    position: absolute;
}
.cycle-detail{
    padding-top: 175px;
    padding-bottom: 75px;
    width: 850px;
    margin: auto;
}
.SlickCarousel .cycle-detail {
    padding-top:0;
    padding-bottom:0;
    width:auto;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    text-align: center;
}
/*.SlickCarousel .cycle-detail:before {
    content: "";
    display: inline-block;
    height: 100%;
    margin-right: -1px;
    vertical-align: middle;
    width: 1px;
}*/
.cycle-detail h1{
    font-size: 31px;
    font-weight: 300;
    line-height: 42px;
    color: #fff;
    text-align: center;
}
.SlickCarousel .cycle-detail h1 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}
.cycle-detail p {
    margin-top: 30px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    line-height: 30px;
}
.SlickCarousel .slick-prev {
    font-size:30px;
    position: absolute;
    top:50%;
    margin-top: -25px;
    color:#fff;
    position: absolute;
    left:10px;
    height: 49px;
    line-height: 49px;
    z-index: 110;
    cursor: pointer;
}
.SlickCarousel .slick-next {
    font-size:30px;
    position: absolute;
    right:10px;
    top:50%;
    margin-top: -25px;
    color:#fff;
    position: absolute;
    height: 49px;
    line-height: 49px;
    z-index: 110;
    cursor: pointer;
}
.HeaderImageContainer img{
    display: block;
    width: 100%
}
.StockQuoteHeaderContainer{
    position: absolute;
    bottom:0;
    left: 0;
    height: 49px;
    width: 100%;
    z-index: 101;
    background: url('../design/sqh.png')/*tpa=http://www.hollyfrontier.com/files/design/sqh.png*/;
}
.StockContainer{
    max-width: 1170px;
    color: #fff;
    font-size: 18px;
    line-height: 35px;
    text-align: right;
    padding-top: 7px;
    padding-right: 70px;
    margin: auto;
}
.LogoSlider{
    position: absolute;
    top: 60px;
    left: 50%;
    margin-left: -134px;
    z-index: 101;
}
.StockQuoteHeaderContainer .StockVolumeText,
.StockQuoteHeaderContainer .StockVolume,
.StockQuoteHeaderContainer .StockVolumeText,
.StockQuoteHeaderContainer .StockChange{
    display: none;
}
.StockQuoteHeaderContainer .StockDate{
    color: #dadfe1;
    font-size: 10px;
}
.StockQuoteHeaderContainer .StockDescription1{
    color: #c3c5c8;
    font-size: 17px;
    line-height: 35px;
}
.StockQuoteHeaderContainer a.StockPrice{
    color: #fff;
    text-decoration: none;
    line-height: 1;
    position: relative;
}
.StockQuoteHeaderContainer a.StockPrice:hover{
    text-decoration: none;
}
.StockQuoteHeaderContainer .StockPrice:before{
    content: "$";
    font-size: 11px;
    vertical-align: top;
    line-height: 2;
}
.StockQuoteHeaderContainer a.StockPrice:after{
    content: "";
    background: url('../images/stock_price.png')/*tpa=http://www.hollyfrontier.com/files/images/stock_price.png*/;
    width: 18px;
    height: 18px;
    position: absolute;
    right: -177px;
    top: 2px;
}

/* Pane Header 2 Mobile */

@media screen and (max-width: 1200px){
    .PaneHeader2 .ModuleSearch{
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
        margin-top: -8px;
    }
    .PaneHeader2 .ModuleSearch .ModuleContainerInner{
        margin: auto;
        max-width: 100%;
    }
    .PaneHeader2 .ModuleSearch input[type="text"]{
        width: 40%;
    }
    .PaneHeader2 .MailingListSignupContainer{
        padding-top: 15px;
        padding-bottom: 15px;
        margin-top: -8px;
    }
    .PaneHeader2 .SignUp{
        margin: auto;
        max-width: 100%;
    }
    .PaneHeader2 .SignUp h1{
        display: none;
    }
    .PaneHeader2 .SignUp .MailingListTable,
    .PaneHeader2 .SignUp .MailingListListTable,
    .PaneHeader2 .SignUp .GridActions{
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
  .PaneHeader2 .SignUp .MailingListListTable table tr{
    width: 100%;
  }
    .PaneHeader2 .SignUp input[type="text"]{
        width: 50% !important;
    }
    .LogoSlider{
        display: none;
    }
}

@media screen and (max-width: 768px){
    .PaneHeader2 .SignUp input[type="text"]{
        width: 100% !important;
    }
    .PaneHeader2 .SignUp .MailingListListTable tr{
        width: 100%
    }
    .cycle-slideshow{
        height: 300px;
    }
    .cycle-detail{
        width: 85%;
        padding-top: 30px;
        padding-bottom: 60px;
    }
    .cycle-detail h1{
        line-height: 1;
        margin: 0;
        padding: 0;
    }
    .cycle-detail p{
        line-height: 1;
        margin: 0;
        padding: 0;
        font-size: 16px;
    }
    .cycle-pager {
        text-align: center;
    }
    .StockQuoteHeaderContainer{
        position: static;
        padding: 0;
    }
    .LayoutHomePage .StockQuoteHeaderContainer{
        position: absolute;
        bottom: -50px;
    }
    .StockContainer {
        text-align: center;
        padding-right: 0;
    }
}

@media screen and (max-width: 320px){
    .PaneHeader2 .ModuleSearch input[type="text"]{
        width: 50%;
    }
    .PaneHeader2 .ModuleSearch input[type="submit"]{
        width: 40%;
    }
    .StockContainer{
        font-size: 15px;
    }
    .StockQuoteHeaderContainer .StockDescription1{
        font-size: 15px;
    }
    .StockQuoteHeaderContainer .StockDescription2{
        font-size: 15px;
    }
    .StockQuoteHeaderContainer a.StockPrice:after{
        right: -155px;
    }
}

/* Footer */

.PaneFooter .container{
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
}
.LogoFooter{
    position: absolute;
    top: 40px;
    right: 50px;
}
.FooterContainer{
    background: #425363;
    text-align: center;
}
.FooterLinks ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.FooterLinks li{
    list-style-type: none;
    display: inline;
}
.FooterLinks li + li{
    padding-left: 25px;
}
.FooterLinks a{
    font-size: 14px;
    line-height: 35px;
    color: #fff;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}
.FooterLinks a:hover{
    text-decoration: underline;
}
.Copyright{
    font-size: 12px;
    color: #c3c5c8;
    font-family: 'Open Sans', sans-serif;
    text-align: right;
    margin-right: 10px;
    display: inline;
    line-height: 18px;
}
.Copyright .ContentContainer{
    display: inline;
}
.Q4FooterContainer{
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    margin-left: 10px;
    color: #c1c8cb;
    font-size: 12px;
    display: inline;
    line-height: 18px;
}
.Q4FooterContainer a{
    color: #c1c8cb;
    font-size: 12px;
    display: inline;
    line-height: 18px;
}

/* Footer Mobile */

@media screen and (max-width: 1200px){
    .LogoFooter{
        position: static;
        width: auto;
        text-align: center;
    }
}

@media screen and (max-width: 768px){
    .PaneFooter .container{
        position: static;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .FooterContainer{
        text-align: left;
    }
    .FooterLinks{
        float: left;
        margin: 0;
        text-align: center;
    }
    .Q4FooterContainer{
        float: left;
        margin-left: 0;
    }
    .Copyright{
        float: left;
        text-align: left;
        margin: 0;
    }
    .FooterLinks li{
        padding: 0;
        display: block;
    }
    .FooterLinks li + li{
        padding-left: 0;
    }
    .FooterLinks a{
        line-height: 16px;
    }
    .FooterLinks,
    .Copyright,
    .Copyright .ContentContainer,
    .Q4FooterContainer{
        display: block;
        float: left;
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 320px){
    .FooterLinks a{
        font-size: 13px;
    }
}

/* Secundary Nav */

.bs-sidenav{
    margin: 0 auto;
    text-align: center;
    background: #425363;
}
.bs-sidenav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline;
}
.bs-sidenav li{
    margin: 0;
    padding: 0;
}
.bs-sidenav .level3 li:first-child{
    padding-left: 0;
}
.bs-sidenav a{
    display: inline;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 35px;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: top;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
}
.bs-sidenav a:hover{
    color: #0081cb;
}
.bs-sidenav .level1 > li:first-child{
    margin-left: 0;
}
.bs-sidenav .level1 > li > a{
    display: none;
}
.bs-sidenav .level2 > li > a{
    display: none;
}
.bs-sidenav .level3 > li > a{
    display: none;
}
.bs-sidenav .level2 li.selected > .level3 > li,
.bs-sidenav .level2 li.expanded > .level3 > li{
    display: inline-block;
    padding-left: 20px;
}
.bs-sidenav .level2 li.selected > .level3 > li > a,
.bs-sidenav .level2 li.expanded > .level3 > li > a{
    display: inline;
    float: left;
}
.bs-sidenav .level4{
    display: none;
}
.bs-sidenav li.selected > a,
.bs-sidenav li.expanded > a{
    color: #0081cb;
}

/* Secundary Nav Mobile */

@media screen and (max-width: 1200px){
    .bs-sidenav{
        display: none;
    }
}

/* 3rd Navigation */

.third-sidenav{
    margin: 0 auto;
    text-align: center;
    background: #c3c5c8;
}
.third-sidenav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline;
}
.third-sidenav li{
    margin: 0;
    padding: 0;
}
.third-sidenav .level4 li:first-child{
    padding-left: 0;
}
.third-sidenav a{
    display: inline;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 35px;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: top;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
}
.third-sidenav a:hover{
    color: #0081cb;
}
.third-sidenav .level1 > li > a{
    display: none;
}
.third-sidenav .level2 > li > a{
    display: none;
}
.third-sidenav .level3 > li > a{
    display: none;
}
.third-sidenav .level4 > li > a{
    display: none;
}
.third-sidenav .level3 li.selected > .level4 > li,
.third-sidenav .level3 li.expanded > .level4 > li{
    display: inline-block;
    padding-left: 20px;
}
.third-sidenav .level3 li.selected > .level4 > li > a,
.third-sidenav .level3 li.expanded > .level4 > li > a{
    display: inline;
    float: left;
}
.third-sidenav .level5{
    display: none;
}
.third-sidenav li.selected > a{
    color: #0081cb;
}

/* 3rd Navigation Mobile */

@media screen and (max-width: 768px){
    .third-sidenav ul{
        display: inline;
    }
    .third-sidenav .level3 li.selected > .level4 > li,
    .third-sidenav .level3 li.expanded > .level4 > li {
        padding: 0;
        float: none;
        display: block;
        border-top: 1px solid #fff;
    }
    .third-sidenav .level3 li.selected > .level4 > li > a,
    .third-sidenav .level3 li.expanded > .level4 > li > a{
        float: none;
    }
}

/* Home */

.LayoutHomePage .PaneBreadcrumb{
    display: none;
}
.LayoutHomePage .PaneContent{
    width: 70%;
    float: left;
}
.LayoutHomePage .PaneRight{
    width: 30%;
    float: left;
}
.HomeContent{
    padding-top: 100px;
    padding-bottom: 100px;
}
.portfolio{
    width: 50%;
    float: left;
    padding-right: 30px;
    padding-bottom: 75px;
}
.portfolio:nth-child(odd) {
    clear: both;
}
.portfolio img{
    padding-right: 30px;
    display: inline-block;
    vertical-align: middle;
}
.portfolio_content{
    vertical-align: middle;
    display: inline-block;
}
.portfolio p{
    margin: 0;
    padding-right: 30px;
}
.Subpages{
    padding-top: 60px;
}
.Subpages .portfolio img{
    float: left;
}
.Subpages .portfolio .portfolio_content{
    width: 82%;
    float: left;
}
.Description .portfolio p{
    padding-bottom: 0;
}
.ModulePressRelease{
    padding-top: 100px;
    padding-bottom: 30px;
}
.ModulePressRelease h1{
    color: #2b3743;
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: 28px;
    line-height: 28px;
}
.ModulePressRelease a{
    font-family: 'Open Sans', sans-serif;
    display: block;
    padding-top: 15px;
}
.ModulePressRelease a:first-child{
    padding-top: 0;
}
.ModulePressRelease .ModuleDate{
    display: block;
    text-transform: uppercase;
}
.PartnersSidebar{
    text-align: center;
  margin-top: 22px;
}
.PaneLeft{
  clear: both;
}

/* Home Mobile */

@media screen and (max-width: 1200px){
    .LayoutHomePage .PaneContent{
        width: 100%;
        margin-top: 50px;
    }
    .LayoutHomePage .PaneRight{
        width: 100%;
    }
}

@media screen and (max-width: 768px){
    .HomeContent{
        padding: 30px 15px 15px;
    }
    .portfolio{
        padding-bottom: 30px;
    }
    .portfolio p{
        padding: 0;
    }
    .ModulePressRelease{
        padding: 0 0 0 15px;
    }
    .PartnersSidebar{
        margin-top: 0;
    }
    .Subpages .portfolio .portfolio_content{
        width: 70%;
    }
    .Subpages{
        padding-top: 30px;
    }
}

@media screen and (max-width: 320px){
    .portfolio{
        width: 100%;
        margin-bottom: 15px;
        padding: 0;
    }
    .Subpages .portfolio .portfolio_content{
        width: 65%;
    }
}

/* Other Pages */

.NoTitle{
  margin-top: 40px;
}
.NoBreadcrumb .Breadcrumb{
  display: none;
}
.Breadcrumb{
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 42px;
    font-weight: 300;
    color: #0081cb;
}
.Breadcrumb a, .Breadcrumb span{
    display: none;
}
.RefineryBreadcrumb{
    padding: 0;
    text-align: left;
    font-size: 15px;
    font-weight: 400;
    color: #2b3743;
    margin: 15px 0;
}
.RefineryBreadcrumb a, .RefineryBreadcrumb span{
    display: inline;
}
.Description{
    text-align: center;
    width: 770px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.Description p{
    padding-bottom: 60px;
}
.NoPaddingBottom .Description p{
    padding-bottom: 0;
}
.table_block{
    margin-top: 40px;
}

.half_block{
    color: #77705d;
    border: solid 2px #8a9dab;
    display: table-cell;
    width: 50%;
}
.values{
    border-left: none;
}
.half_block .group{
  margin: 20px 0;
}
.half_block .content{
  padding: 0 25px;
}
.half_block h1{
  text-transform: uppercase;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: solid 2px #8a9dab;
}
.half_block h1 span{
  color: #4f3922;
}
.half_block h2{
  color: #b39e67;
}
.half_block h2 span{
  color: #0081cb;
  text-transform: lowercase;
  font-style: italic;
}
.half_block h3{
  color: #0081cb;
  text-transform: uppercase;
}
.half_block p{
  margin: 0;
  padding: 0;
  font-size: 13px;
}
.half_block ul{
  color: #b39e67;
  list-style-type: square;
}
.MenuTabs{
    margin: auto;
    width: 460px;
    display: table;
    margin-top:30px;
}
.MenuTabs a{
    width: 230px;
    text-align: center;
    display: block;
    display: table-cell;
    padding: 25px 30px;
    background: #f9f9f9;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
    text-transform: uppercase;
    font-weight: 700;
    color: #2b3743;
  vertical-align: middle;
  cursor: pointer;
}
.MenuTabs a:hover{
    text-decoration: none;
    color: #0081cb;
}
.MenuTabs a:first-child{
    width: 230px;
    text-align: center;
    padding: 25px 30px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    border-top-right-radius: 0;
}
.MenuTabs a.active{
    background: #efefef;
    color: #0081cb;
}
.PersonGenericContainer{
    background: #efefef;
    display: none;
    clear: both;
    padding-top: 65px;
    padding-bottom: 65px;
}
.PersonGenericContainer .ModuleContainerInnerTop{
    max-width: 1200px;
    background: #fff;
    margin: auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding:30px 15px;
}
.PersonDetailsContainer{
    display: none;
}
.PersonContainer h3{
    position: relative;
    margin: 0;
    padding: 30px 80px 30px 30px;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    color: #646469;
    border-top: 1px solid #efefef;
    cursor: pointer;
    background: url('../design/down.png')/*tpa=http://www.hollyfrontier.com/files/design/down.png*/ no-repeat 97% center transparent;
}
.PersonContainer h3.active{
    color: #0081cb;
    /*background: url('/files/design/up.png') no-repeat 97% 18px transparent;*/
    background: url('../design/up.png')/*tpa=http://www.hollyfrontier.com/files/design/up.png*/ no-repeat 97% 3px transparent;
}
.ModuleContainerInner > div:first-of-type > h3{
    border: none;
}
.PersonContainer span{
    display: block;
}
.PersonContainer .commaName,
.PersonContainer .PersonTitleComma,
.PersonContainer .commaSuffix,
.PersonContainer .PersonTitle{
    display: none;
}
.PersonContainer .active .PersonTitle{
    display: block;
    font-size: 15px;
    line-height: 24px;
    color: #2b3743;
}
.PersonDetailsContainer{
    padding-left: 30px;
    padding-right: 20px;
    border-top: 1px solid #efefef;
}
.ContactContent h1{
    text-align: center;
    font-size: 42px;
    font-weight: 300;
    color: #646469;
    margin-top: 60px;
    margin-bottom: 60px;
    position: relative;
    background: url('../design/down.png')/*tpa=http://www.hollyfrontier.com/files/design/down.png*/ no-repeat 97% center transparent;
  cursor: pointer;
}
.ContactContent h1.active{
    color: #0081cb;
    background: url('../design/up.png')/*tpa=http://www.hollyfrontier.com/files/design/up.png*/ no-repeat 97% transparent;
}
.ContactContent .ContentContainer{
    display: none;
}
.EnvironmentalStewardship .images{
    text-align: center;
}
.EnvironmentalStewardship .images .img_environment{
    display: inline-block;
    margin-right: 50px;
}
.CompanyHistory{
    margin-bottom: 60px;
}
.CompanyHistory .images{
    text-align: center;
}
.CompanyHistory .images .img_history{
    display: inline-block;
    margin-right: 50px;
}
.ModuleDownloadListWithTags .ModuleHeadlineLink[href*=".pdf"]{
  background: url('../icons/pdf-icon.png')/*tpa=http://www.hollyfrontier.com/files/icons/pdf-icon.png*/ no-repeat;
  padding-left: 25px;
  padding-bottom: 8px;
  display: inline-block;
}
.ModuleDownloadListWithTags .ModuleHeadlineLink[href*=".aspx"]{
    background: url('../icons/html-text-icon.png')/*tpa=http://www.hollyfrontier.com/files/icons/html-text-icon.png*/ no-repeat;
    padding-left: 25px;
    padding-bottom: 8px;
    display: inline-block;
}
.NoSubtitle .ModuleHeaderText{
    display: none;
}
.ModuleDownloadListWithTags .ModuleIcon{
  display: none;
}
.customDL {
    max-width: 940px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.customDL .ModuleHeaderText2,
.customDL .ModuleHeaderDescription{
    display: none;
}
.customDL .ModuleHeadlineLink {
  background: none;
    font-size: 24px;
    width: 6%;
    text-align: left;
    position: relative;
    z-index: 10;
    display: table-cell;
}
.customDL .flowCircle {
    position: absolute;
    left: 8%;
    top: 0;
    height: 100%;
    width: 36px;    
}
.customDL .circle {
    display: block;
    width: 35px;
    height: 34px;
    position: absolute;
    top: 10px;
    left: 0;
    z-index: -1
}
.customDL .line {
    height: 100%;
    width: 34px;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -2;
}
.customDL .mask {
    display: block;
    width: 34;
    height: 100%;
    background: url('../design/maskTcircle.png')/*tpa=http://www.hollyfrontier.com/files/design/maskTcircle.png*/ repeat-y right 427px;  
}
.customDL .ModuleItemRow .circle,
.customDL .line {
    background-color: #425363;  
}
.customDL .ModuleItemAlt .circle{
    background-color: #425363;  
}
.customDL .redColor{
    background-color: #0081cb;
    left: 8%;
    position: absolute;
    top: 0;
    margin: 0;
    width: 35px;
}
.customDL .fakeElement{
    position: fixed;
    top: 50%;
    left: 0;
}
.customDL .ModuleFileDescriptionText{
    display: table-cell;
    width: 85%;
    padding-left: 36px;
    position: relative;
    z-index: 1;
    opacity:0;
}
.customDL p{
    margin: 0;
    padding: 10px 0 40px 0;
}
.customDL a{
    text-decoration: none;
}
.customDL .ModuleItemRow{
    overflow: hidden;
    position: relative;
    display: table;
    width: 100%;
}
.customDL .ModuleItem .ModuleHeadlineLink{
    color: #0081cb;
    opacity:0;
}
.customDL .ModuleItemAlt .ModuleHeadlineLink{
    color: #646469;
    opacity:0;
}
.SiteMapContainer ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.SiteMapContainer li:before{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    content: "\f054";
    color: #0081cb;
    padding-right: 5px;
}
li.SiteMap-Level1:before{
    display: none;
}
.SiteMap-Level2{
    margin-left: 20px;
}
.SiteMap-Level3{
    margin-left: 40px;
}
.SiteMap-Level4{
    margin-left: 60px;
}
.ContactUs .column{
    display: inline-block;
    width: 20%;
    vertical-align: top;
	margin-right: -3px;
}
.ContactUs .Centred{
    text-align: center;
}
.ContactUs .person{
  min-height: 230px;
  font-size: 14px;
  box-shadow: 10px 10px 5px #888888;
  -moz-box-shadow: 10px 10px 5px #888888;
  -webkit-box-shadow: 10px 10px 5px #888888;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 10px;
}
.ContactUs .first-person{
  width: 386px;
  min-height: 210px;
  box-shadow: 10px 10px 5px #888888;
  -moz-box-shadow: 10px 10px 5px #888888;
  -webkit-box-shadow: 10px 10px 5px #888888;
  padding-top: 30px;
  padding-left: 30px;
  margin: 10px;
}
.StockTableFeed{
    margin-top: 30px;
}
.StockQuoteLookup h1 {
    padding-top: 30px;
    font-size: 42px;
    font-weight: 300;
    color: #0081cb;
}
#chart{
    margin-top: 30px;
}
.highcharts-range-selector, .highcharts-range-selector{
    box-sizing: content-box;
}
.SearchSummary{
    margin-bottom: -20px;
}
.SearchResultsUrl{
    display: none;
}
.TabTableItem,
.TabTableItemAlt{
    border-bottom: 1px solid #cdd2d5;
    padding-top: 30px;
}
.TabTableItem a,
.TabTableItemAlt a{
    font-size: 15px;
    line-height: 24px;
    font-weight: 900;
    margin: 0;
}
.ModulePressReleaseDetails h1{
    display: none;
}
h1.ModuleDetailHeadline{
    display: block;
}
.ModuleDownloadListWithTags .ModuleHeader{
    font-size: 15px;
    line-height: 24px;
    font-weight: 900;
    color: #2b3743;
    text-transform: uppercase;
    margin-top: 20px;
}
.NoModuleTitle .ModuleHeader{
    display: none;
}
.ModuleDownloadListWithTags h1 {
  font-size: 15px;
  line-height: 24px;
  font-weight: 900;
  color: #2b3743;
  text-transform: uppercase;
  margin-top: 20px;
}
.tab1 .ContentContainer,
.tab2 .ContentContainer{
    background: #efefef;
    clear: both;
    padding-top: 65px;
    padding-bottom: 65px;
}
.tab1 .TabContainer,
.tab2 .TabContainer{
    max-width: 1200px;
    background: #fff;
    margin: auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding:30px 15px;
}
.accordion{
  clear: both;
  margin: 0;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  color: #2b3743;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
}
.accordion_head h3{
  color: #646469;
  padding-right: 50px;
  padding-top: 13px;
  padding-bottom: 13px;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
  background: url('../design/down.png')/*tpa=http://www.hollyfrontier.com/files/design/down.png*/ no-repeat 100% center transparent;
}
.accordion_images{
  text-align: center;
}
.accordion_images img{
  width: 220px;
  height: 146px;
}
.accordion_images a{
  margin-left: 25px;
  display: block;
  width: 220px;
  height: 146px;
  float: left;
}
.accordion_images a:first-child{
  margin: 0;
}
.tab1 .accordion h3{
  padding-bottom: 33px;
}
.accordion:first-child{
  border: none;
  padding-top: 0;
}
.accordion .active h3{
    color: #0081cb;
  background: url('../design/up.png')/*tpa=http://www.hollyfrontier.com/files/design/up.png*/ no-repeat 100% center transparent;
}
.accordion span{
    color: #0081cb;
}
.accordion .active span{
    display: none;
}
.expand{
    display: none;
  padding-top: 15px;
}
.expand img{
  float: left;
  padding-right: 15px;
  padding-bottom: 15px;
}
.expand ul{
  margin-left: 85px;
}
.Community .Description{
  font-size: 17px;
}
.Community .Description h2,
.Community .Description h3{
  font-size: 17px;
}
.Description span{
  cursor: pointer;
}
.Description .active span{
  display: none;
}
.Description p.active{
  cursor: pointer;
}
.Description .expand p{
  padding: 0;
}
.Description span.active{
  display: none;
}
.Description .portfolio{
  text-align: left;
}
.logos{
  vertical-align: middle;
  text-align: center;
}
.logos a{
  display: inline-block;
  margin-left: 50px;
}
.logos a:first-child{
  margin-left: 0;
}
.RefineryCarousel .cycle-detail{
    width: 100%;
    padding: 0;
}
.Carousel{
    width: 600px;
    margin: auto;
    position: relative;
    margin-top: 40px;
}
.Carousel .cycle-slideshow{
    height: 400px;
    float: none;
    width: 600px;
    padding: 0;
}
.Carousel .cycle-slideshow .slide{
    width: 600px;
    height: 400px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.Carousel .cycle-pager{
    max-width: 300px;
    left: 42%;
}
.pager_bg {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 49px;
  width: 100%;
  z-index: 101;
  background: url('../design/sqh.png')/*tpa=http://www.hollyfrontier.com/files/design/sqh.png*/;
}
.slick-list:after {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 49px;
    width: 100%;
    z-index: 101;
    background: url('../design/sqh.png')/*tpa=http://www.hollyfrontier.com/files/design/sqh.png*/;
    /*content:'';*/
}
.Carousel .cycle-detail{
  width: 600px;
}
.head2Image{
    width: 50%;
    float: left;
}
.head2Image img{
    max-height: 254px;
    display: block;
    margin: auto;
}
.head2Image p{
    width: 90%;
    margin: auto;
    text-align: center;
    font-size: 12px;
    font-style: italic;
}
.head3Image{
    width: 33%;
    float: left;
    padding-bottom: 15px;
}
.head3Image .chart{
    height: 170px;
    display: block;
    margin: auto;
}
.head3Image .chart_content{
    box-shadow: 10px 10px 5px #888888;
    -moz-box-shadow: 10px 10px 5px #888888;
  -webkit-box-shadow: 10px 10px 5px #888888;
    height: 133px;
    width: 90%;
    margin: auto;
    text-align: center;
}
.head3Image .chart_content p{
    font-style: normal;
    color: #0081cb;
    padding-top: 60px;
    font-size: 15px;
}
.head3Image .chart h4{
    font-size: 13px;
    line-height: 15px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 7px;
}
.head3Image p{
    width: 90%;
    margin: auto;
    text-align: center;
    font-size: 12px;
    font-style: italic;
}
.expand ul{
    margin: 0;
    padding-bottom: 15px;
}
h1.ImportantText{
    padding: 30px 0;
    color: #2b3743;
    font-weight: 700;
    font-size: 26px;
    line-height: 36px;
}

/* Other Pages Mobile */

@media screen and (max-width: 768px){
    .Breadcrumb{
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
        font-size: 24px;
    }
  .RefineryBreadcrumb{
      margin-bottom: 10px;
  }
    .Description{
        text-align: center;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 0 15px 0;
        margin: auto;
    }
    .Description p{
        padding: 0;
    }
    .MenuTabs{
        max-width: 50%;
    }
    .MenuTabs a{
        width: 50%;
        font-size: 13px;
        padding: 10px;
    }
    .MenuTabs a:first-child{
        width: 50%;
        padding: 10px;
    }
    .PersonGenericContainer{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .PersonGenericContainer .ModuleContainerInnerTop{
        width: 90%;
        background: #fff;
        margin: auto;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .ContactContent h1{
        font-size: 20px;
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: left;
    }
    .EnvironmentalStewardship .images .img_environment{
        margin-right: 0;
    }
    .CompanyHistory .images .img_history{
        margin-right: 0;
    }
    .EnvironmentalStewardship .images .img_environment img,
    .CompanyHistory .images .img_history img{
        width: 100%;
        height: auto;
    }
    .ContactUs .column{
        width: 50%;
    }
    #chart{
        margin-top: 15px;
    }
    .CompanyHistory{
        margin-bottom: 15px;
    }
  .customDL .flowCircle{
    left: 9%;
  }
  .customDL .redColor{
    left: 9%;
  }
    .tab1, .tab2{
        /*padding-top: 0;*/
    }
  .tab1 .ContentContainer,
  .tab2 .ContentContainer{
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .tab1 .TabContainer,
  .tab2 .TabContainer{
    width: 90%;
    background: #fff;
    margin: auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .accordion {
    padding-left: 15px;
    padding-right: 15px;
  }
  .half_block{
    width: 100%;
    display: block;
  }
  .values{
    border-left: 2px solid #8A9DAB;
  }
  .half_block .group{
    margin: 15px 0;
  }
  .half_block .content{
    padding: 0 20px;
  }
  .half_block h1{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  .half_block h1 span{
    color: #4f3922;
  }
  .accordion_images a{
    margin: 0;
  }
  .RefineryBreadcrumb{
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    color: #2b3743;
  }
    h1.ImportantText{
        padding: 15px 0;
        font-size: 22px;
    }
    .Carousel .cycle-pager{
        max-width: 100%;
        left: 0;
    }
}

@media screen and (max-width: 640px) {
    .customDL .ModuleHeadlineLink {
        font-size: 16px;
    }
    .customDL .ModuleFileDescriptionText {
        font-size: 12px;
    }
  .customDL .flowCircle{
    left: 12%;
  }
  .customDL .redColor{
    left: 12%;
  }
  .logos a{
    margin: 0;
  }
    .Carousel{
        width: 100%;
    }
    .Carousel .cycle-slideshow{
        width: 100%;
    }
    .Carousel .cycle-slideshow .slide{
        width: 100%;
    }
    .Carousel .cycle-detail{
        width: 100%;
        padding-top: 260px;
        padding-bottom: 125px;
    }
    .Carousel .cycle-detail h1{
        height: 28px;
    }
    .Carousel .cycle-pager {
        width: 100%;
        left: 0px;
        right: 0;
        max-width: 100%;
        margin: 0;
    }
    .head3Image{
        width: 100%;
    }
    .head2Image{
        width: 100%;
    }
}

@media screen and (max-width: 480px){
    .ContactUs .column{
        width: 100%;
    }
}

@media screen and (max-width: 320px){
  .RefineryBreadcrumb{
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 13px;
    font-weight: 400;
    color: #2b3743;
  }
  .RefineryBreadcrumb a, .RefineryBreadcrumb span{
    display: inline;
  }
    .MenuTabs a{
        padding: 5px;
    }
    .MenuTabs a:first-child{
        padding: 5px;
    }
    .PersonContainer h3{
        font-size: 15px;
        padding: 15px 0px 15px 30px;
    }
    .PersonContainer .active .PersonTitle {
        display: block;
        font-size: 13px;
        line-height: 20px;
        margin-top: 20px;
    }
    .SiteMapContainer li:before{
        font: normal normal normal 12px/1 FontAwesome;
    }
    .ContactContent h1:after,
    .ContactContent h1.active:after{
        display: none;
    }
  .customDL .ModuleHeadlineLink {
    width: 13%;
  }
  .customDL .flowCircle{
    left: 15%;
  }
  .customDL .redColor{
    left: 15%;
  }
  .customDL p {
    margin: 0px;
    padding: 10px 0px 20px;
  }
  .customDL .ModuleFileDescriptionText {
    width: 78%;
  }
  .expand{
    text-align: center;
  }
  .expand img{
    float: none;
    margin: auto;
    padding-right: 0;
  }
  .expand ul{
    margin: 0;
    padding-left: 15px;
    text-align: left;
  }

.accordion{
    padding-top: 0;
}
.accordion h3{
    font-size: 15px;
}
.tab1 .accordion h3{
    padding-bottom: 15px;
}
  .accordion_images a{
    float: none;
    margin: auto;
  }
  .accordion_images a:first-child{
    margin: auto;
  }
    h1.ImportantText{
        font-size: 17px;
        line-height: 26px;
    }
}

/* Operations */

.RefineryOperations .PaneContentInner,
.LeadershipPage .PaneContentInner{
    padding-bottom: 0;
}
.RefineryLocations{
    background: #425363;
    padding-top: 85px;
    padding-bottom: 85px;
    text-align: center;
    position: relative;
}
.RefineryLocations p{
    color: #fff;
}
.RefineryLocations h1{
    color: #fff;
    font-size: 42px;
    font-weight: 300;
    line-height: 28px;
}
.heromap{
    margin: auto;
    width: 1170px;
    height: 600px;
}
.heromap .jvectormap-zoomin,
.heromap .jvectormap-zoomout{
    display: none;
}
.jvectormap-tip{
    z-index: 1000;
}
.RefineryLocations .map{
    color: #fff;
}
.RefineryLocations .RefineryDetail{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 1170px;
    margin: auto;
    background: #fff;
    text-align: left;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    border-top-right-radius: 20px;
}
.RefineryLocations .RefineryDetail .herodetails {
    padding: 70px 40px 80px;
    overflow: auto;
}
.RefineryLocations .RefineryDetail .RefineryDetailText {
    float: left;
    margin-top: 75px;
    margin-left: 60px;
    width: 540px;
    position: relative;
}
.RefineryLocations .RefineryDetail .more {
    float: right;
    margin-top: 40px;
    margin-left: 60px;
    width: 540px;
}
span.closeDetail{
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    background: url('../design/location_down.png')/*tpa=http://www.hollyfrontier.com/files/design/location_down.png*/;
    width: 49px;
    height: 49px;
    cursor: pointer;
}
.RefineryLocations .RefineryDetail .RefineryDetailText h3{
    color: #2b3743;
    font-weight: 300;
    font-size: 28px;
    margin: 0;
    padding: 0;
}
.RefineryLocations .RefineryDetail .RefineryDetailText p{
    padding: 40px 0;
    margin: 0;
    color: #2b3743;
    line-height: 24px;
    font-size: 15px;
}
.RefineryLocations .RefineryDetail .RefineryDetailText .name,
.RefineryLocations .RefineryDetail .RefineryDetailText .location{
    float: left;
    width: 50%;
}
.RefineryLocations .RefineryDetail .RefineryDetailText .name p,
.RefineryLocations .RefineryDetail .RefineryDetailText .location p{
    padding: 0;
}
.RefineryLocations .RefineryDetail .RefineryDetailText .name{
    background: url('../design/location_person.png')/*tpa=http://www.hollyfrontier.com/files/design/location_person.png*/ no-repeat;
    padding-left: 35px;
}
.RefineryLocations .RefineryDetail .RefineryDetailText .location{
    background: url('../design/location_checkin.png')/*tpa=http://www.hollyfrontier.com/files/design/location_checkin.png*/ no-repeat;
    padding-left: 35px;
}
.Products{
    padding-top: 50px;
    padding-bottom: 85px;
    text-align: center;
    background: #eceff0;
}

/* .Products .container{
    padding-left: 60px;
    padding-right: 60px;
} */

.Products h1{
    font-size: 42px;
    font-weight: 300;
    color: #0081cb;
}
.Products p{
    padding: 0;
    margin-top: 35px;
    margin-bottom: 50px;
}
.product{
    width: 270px;
    float: left;
}
.Products .product{
    float: none;
    display: inline-block;
    vertical-align: top;
    width: 270px !important;
}
.refinery{
    width: 20%;
    float: left;
    padding-left: 18px;
    padding-right: 18px;
}
.last_refinery{
    padding-right: 0;
}
.Subheading{
    background: url('../images/subheading.jpg')/*tpa=http://www.hollyfrontier.com/files/images/subheading.jpg*/;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.Subheading h1{
    font-size: 28px;
    font-weight: 300;
    line-height: 24px;
    color: #fff;
    padding: 0;
    margin-top: 40px;
}
.Subheading p{
    padding: 0;
    margin: 40px 0;
    color: #fff;
    float: left;
    clear: right;
}
.Subheading img{
    float: left;
    margin-top: 180px;
    margin-left: 110px;
    padding-right: 75px;
}
/* Operations Mobile */

@media screen and (max-width: 1200px){
    .heromap{
        width: 100%;
        height: auto;
    }
    .RefineryLocations .RefineryDetail{
        width: 90%;
    }
    .RefineryLocations .RefineryDetail .RefineryDetailText{
        margin-top: 15px;
        margin-left: 0;
        width: 100%;
    }
  .RefineryLocations .RefineryDetail .more{
    margin-top: 15px;
    margin-left: 0;
    width: 100%;
  }
    .RefineryLocations .RefineryDetail .RefineryDetailText p{
        padding: 10px 0;
    }
    .refinery{
        width: 50%;
        padding: 0 0 15px 0;
    }
    .Subheading{
        text-align: center;
    }
    .Subheading h1{
        float: none;
        margin-top: 35px;
    }
    .Subheading p{
        width: auto;
        margin: 15px 0;
        text-align: left;
    }
    .Subheading img{
        float: none;
        padding: 0;
        margin-top: 15px;
        margin-left: 0;
    }
}

@media screen and (max-width: 768px){
    .RefineryLocations{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .RefineryLocations h1{
        color: #fff;
        font-size: 24px;
        line-height: 24px;
    }
    .heromap svg {
        height: 390px !important;
    }
    .RefineryLocations .RefineryDetail img{
        display: none;
    }
    .RefineryLocations .RefineryDetail{
        padding: 15px;
    }
    .Products{
        /*padding-top: 15px;*/
        padding-bottom: 15px;
        text-align: center;
    }
    .Products .container{
        padding-left: 15px;
        padding-right: 15px;
    }
    .Products h1{
        font-size: 24px;
    }
    .Products p{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .product{
        width: 50%;
        padding: 0 0 15px 0;
    }
    .Subheading h1{
        font-size: 24px;
        margin-top: 15px;
    }
}

@media screen and (max-width: 320px){
    .heromap svg {
        height: 160px !important;
    }
    .RefineryLocations .RefineryDetail .RefineryDetailText .name,
    .RefineryLocations .RefineryDetail .RefineryDetailText .location{
        width: 100%;
    }
    .RefineryLocations .RefineryDetail .RefineryDetailText p{
        padding: 5px 0;
        font-size: 13px;
    }
    .RefineryLocations .RefineryDetail .herodetails{
    	padding: 10px 0 10px;
    }
    .refinery{
        width: 100%;
        padding: 0 0 15px 0;
    }
    .product{
        width: 100%;
        padding: 0 0 15px 0;
    }
}

/* Corporate Profile */

.CorporateProfile{
    text-align: center;
    margin-top: 40px;
}
.CPRow{
    display: table-row;
}
.CP1{
    width: 770px;
    display: table;
    margin: auto;
}
.CP1 p{
    padding-left: 15px;
    padding-right: 15px;
}
.corporate{
    margin: auto;
    padding: 30px 0;
}
.profile1img{
    width: 250px;
    display: table-cell;
    vertical-align: middle;
}
.profile2img{
    display: table-cell;
    vertical-align: middle;
}
.profile3img{
    width: 250px;
    display: table-cell;
    vertical-align: middle;
}
.profile1img p,
.profile2img p,
.profile3img p{
    display: none;
}
.profile3img p.days{
    display: block;
    padding: 25px 0 0 0;
    margin: 0;
    color: #2390d2;
    font-size: 41px;
    line-height: 28px;
}
.profile3img span{
    color: #646469;
    font-size: 23px;
    line-height: 28px;
}
.profile1{
    width: 250px;
    display: table-cell;
    vertical-align: top;
}
.profile2{
    display: table-cell;
    vertical-align: top;
}
.profile3{
    width: 250px;
    display: table-cell;
    vertical-align: top;
}
.CP2{
    /*width: 770px;*/
    margin: 30px auto 0;
}
.CP2 p{
    margin: 0;
    padding: 0 85px 30px 85px;
}
.CP2 span{
    color: #2390d2;
}
.CorporateProfile .readmore{
    margin: 0;
    padding: 0;
}

/* Corporate Profile Mobile */

@media screen and (max-width: 1200px){
    .CP1{
        width: 100%;
        display: block;
    }
    .corporate{
        width: 100%;
        padding-bottom: 15px;
    }
    .CPRow{
        display: block;
    }
    .profile1img,
    .profile2img,
    .profile3img,
    .profile1,
    .profile2,
    .profile3{
        width: 100%;
        display: block;
        float: left;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .profile1img p,
    .profile2img p,
    .profile3img p{
        display: inline-block;
        margin: 0;
        padding: 0;
    }
    .profile1img img,
    .profile2img img,
    .profile3img img{
        display: block;
        margin: auto;
    }
    .profile1,
    .profile2,
    .profile3{
        display: none;
    }
    .CP2{
        clear: both;
        width: 100%;
        margin: 30px 0;
    }
    .CP2 p{
        padding: 15px 15px;
    }
}

@media screen and (max-width: 320px){
    .CorporateProfile{
        margin-top: 15px;
    }
    .CP2{
        margin: 15px 0;
    }
    .CP2 p{
        padding: 0;
    }
}

/* Exception */

@media screen and (min-width: 769px) and (max-width: 1200px){
    .ClientLogo{
        display: none !important;
    }
    .navbar-collapse{
        float: left;
    }
  .ModulePressRelease{
    padding-top: 0;
  }
    .LogoSlider{
    display: block;
    top: 15%;
    text-align: center;
    }
    .LogoSlider img{
        max-width: 50%;
        height: auto;
    }
    .RefineryLocations .RefineryDetail img{
        width: 35%;
        margin-right: 30px;
        padding-top: 15px;
    }
    .RefineryLocations .RefineryDetail .RefineryDetailText{
        width: 60%;
    }
  .ContactUs .column{
    width: 33%;
  }
}
@media screen and (min-width: 769px) and (max-width: 980px){
  .customDL .flowCircle{
    left: 9%;
  }
  .customDL .redColor{
    left: 9%;
  }
}