/* Global */




#container {
	margin: 0 auto;
    position: relative;
    width: 1025px;}

.active {display: block !important;}	
.clear {clear: both;}	

.last {border-right: medium none !important;}		
	
/* Header 
************************/
header {
	bottom: 9px;
	height: 120px;
	margin: 0 auto;
	position: relative;
	width: 962px;
	z-index: 100;}	

/* Navigation */	
header nav {
    bottom: 9px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 500;}
	
/* Slider 
************************/
section {
    text-decoration: none;
    transition: all 0.3s ease-in-out 0s;}	

section#slider {
    height: 386px;
    margin: -31px 0;
    position: relative;
    width: 1025px;}	

/*
#switchNav {
    bottom: 40px;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 10;}	
*/
	
/* #switchNav li {display: inline;}	*/

.switch {
    background: url("../images/switch.png")/*tpa=http://www.sands.com/images/switch.png*/ no-repeat scroll 0 -16px transparent;
    display: inline-block;
    height: 16px;
    margin-right: 10px;
    text-indent: -9999px;
    width: 16px;}
	
/*	
section#slider {z-index: 5}

section#slider div {
    left: 0;
   position: absolute; 
    top: 0;} */
	
#tabs {z-index: 6;}	
#tabs div {z-index: 7;}
	
#slider ul#switchNav {position: absolute; z-index: 8; bottom: 40px; left: 0; text-align: center; width: 100%;}
#slider ul#switchNav li {z-index: 9; display: inline;}


#slider div img {border-radius: 5px 5px 5px 5px;}
#slider img {border-radius: 5px 5px 5px 5px;}

/* Content
************************/
section#info {
    height: 196px;
    margin: 0 auto;
    padding: 14px 0 0 20px;
    position: relative;
    width: 942px;
    z-index: 10;}
	
section#info > div {
    float: left;
    height: 100%;
    margin-right: 30px;
    position: relative;
    text-align: center;
    width: 160px;}	
	
/* Innerpage: 1 Column */
section#tabContainer {
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 -4px 18px rgba(50, 50, 50, 0.5);
    margin: 0 auto;
    position: relative;
    width: 950px;
    z-index: 20;}

section #content {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;		
    margin: 0 auto;
    padding: 40px 80px;
    position: relative;
    width: 788px;}	
	

	
/* Footer
************************/
footer {
    color: #862433;
    font-size: 10px;
    margin: 0 auto;
    padding-top: 20px;
    position: relative;
    width: 960px;}	
	
.nosocial.right.destination {margin-top: 20px;}
	
/* 13082013 */
.language-wrapper .language ul li a {margin-left: 4px 0 4px 10px !important;}  
.language-wrapper .language ul li a.en {background: url(../images/flag-us.gif)/*tpa=http://www.sands.com/images/flag-us.gif*/ left no-repeat !important;}

.language-wrapper .language ul li a:hover {color: #794400 !important; text-decoration: none !important;}
.language-wrapper .language ul li:hover {background: #d0c5ae !important; }

.language-wrapper .language  ul li a span {
	background: none;
}

.language-wrapper .language-box a.en {
    padding: 0 0 0 20px;
}
.language-wrapper .language-box a.hk {
    padding: 0 0 0 20px;
}
.language-wrapper .language-box a.cn {
    padding: 0 0 0 20px;
}
.language-wrapper .language-box a.jp {
    padding: 0 0 0 20px;
}
.language-wrapper .language-box a.ko {
    padding: 0 0 0 20px;
}
.language-wrapper .language-box a.id {
    padding: 0 0 0 20px;
}