/* */
html, body {
padding: 0;
margin: 0;
/* height: 100%; */}

body {
	background: #F8F8E6;
	font-size: 14px;
	padding-bottom: 20px;}

/* Header 
************************/	
header {background: url("../images/header.png")/*tpa=http://www.sands.com/images/header.png*/ no-repeat scroll left top transparent;}	

img#logo {margin: 12px 0 0 35px;}

/* News Ticker */
#newsTicker {
    background: url("../images/ticker.png")/*tpa=http://www.sands.com/images/ticker.png*/ no-repeat scroll left top transparent;
    height: 32px;
    line-height: 32px;
    position: absolute;
    right: 25px;
    text-align: center;
    top: 30px;
    width: 665px;}
	
.newsTitle {
	border-right: 1px solid #CEB378;
	display: inline-block;
	float: left;
	height: 10px;
	margin: 10px 10px 10px 0;
	padding: 0 10px 1px;}	

.newsTitle h2 {
	color: #CEB378;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: normal;
	line-height: 12px;
	margin: 0;
	padding: 0;
	text-transform: uppercase;}

/*	
#newsTicker h2 {
    border-right: 1px solid #CEB378;
    color: #CEB378;
    display: inline-block;
    float: left;
    font-family: Palatino,serif;
    font-size: 15px;
    font-weight: normal;
    height: 9px;
	/* height: 9px; 
    line-height: 0px;
	/* line-height: 0; 
    margin-right: 10px;
    padding: 0 10px 1px;
    text-transform: uppercase;}	
*/	
	
#newsTicker ul {display: none;}

#newsTicker ul li, 
#newsTicker ul li span {
	color: #FFF; 
	font-size: 10px; 
	background: transparent !important;}
	
#newsTicker ul li span a {
	display: inline; 
	color: #FFF; 
	font-size: 10px; 
	font-family: Arial, Helvetica, sans-serif; 
	text-decoration: none;}
	
#newsTicker ul li span a:hover {text-decoration: underline;}	
	
/* Navigation */
header nav {
	position: absolute; 
	width: 100%; 
	bottom: 9px; 
	left: 0; 
	z-index: 500;}
	
header nav > ul {text-align: center;}
header nav > ul > li { 
	display: inline; 
	margin-right: 17px; 
	position: relative; 
	height: 24px; 
	padding-bottom: 10px}
	
header nav > ul > li:last-child {margin-right: 0;}

header nav > ul > li > a {
	font-family: Arial, Helvetica, sans-serif; 
	text-decoration: none; 
	text-transform: uppercase; 
	color: #ceb378; 
	font-size: 0.85em; 
	font-weight: normal;}
	
header nav > ul > li > a:hover, 
header nav ul li.current-page-ancestor > a, 
header nav ul li.current-menu-item > a, 
header nav ul li.current_page_parent > a {color: #FFF;}

header nav > ul > li > ul {display: none;}

header nav > ul > li:hover > ul {display:block;}

header nav > ul > li > ul > li> ul {
	padding-left: 15px; 
	margin-top: 10px;}

header nav > ul > li > ul {
    width: 150px;
    background: url(../images/transparent.png)/*tpa=http://www.sands.com/images/transparent.png*/;
    padding: 20px 20px 20px 20px;
    position: absolute;
    top: 20px;
    left: 0;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: -1;
    display: none;}

header nav > ul > li > ul li {
	margin-bottom: 10px; 
	text-align: left;}
	
header nav > ul > li > ul li a {
	text-decoration: none; 
	color: #CEB378; 
	text-transform: uppercase; 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px;}
	
header nav > ul > li > ul li a:hover {color: #FFF;}	
	
/* Slider
************************/
.list_carousel {
	/* background-color: #ccc; */
	/* margin: 0 0 30px 60px; */
	width: 360px;
}
.list_carousel ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}
.list_carousel li {
	font-size: 40px;
	color: #999;
	text-align: center;
	/* background-color: #eee; */
	/* border: 5px solid #999;  */
	width: 1025px; /*50px*/
	height: 386px; /*50px;*/
	padding: 0;
	margin: 0;
	display: block;
	float: left;
}
.list_carousel.responsive {
	width: auto;
	margin-left: 0;}
	
/* .clearfix {
	float: none;
	clear: both;} */
	
.prev {
	float: left;
	margin-left: 10px;
}
.next {
	float: right;
	margin-right: 10px;
}
.paging {
	float: left;
	width: 1025px; /*300px;*/
	text-align: center;
	
	position: absolute;
	bottom: 40px;
	z-index: 9;
}
.paging a {
	margin: 0 5px;
	text-decoration: none;
	background: url(../images/switch.png)/*tpa=http://www.sands.com/images/switch.png*/ 0 -16px no-repeat;
	display: inline-block;
	height: 16px;
	width: 16px;}
	
.paging a span {display: none !important;}		

.paging a:hover,
.paging a.selected {background-position: 0 0;}

.switch:hover, #switchNav li.activeSlide .switch {
	background-position: 0 0;
}

	
/* Content 
************************/
section #content {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 10px solid #842332;
    border-left: 1px solid #842332;
    border-right: 1px solid #842332;}

/* Homepage */
section#info {
    background: url("../images/infobg.png")/*tpa=http://www.sands.com/images/infobg.png*/ no-repeat scroll left top transparent;
    //background: none repeat scroll 0 0 #7E202F;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

section#info h3, 
section#info p, 
section#info img, 
section#info a {
    margin: 0;
    padding: 0;}
	
section#info h3 {
    color: #CEB378;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 8px;
    text-transform: uppercase;}	
	
section#info p {
    color: #FFFFFF;
    font-size: 11px;
    line-height: 1.2em;
    text-align: center;}	
	
section#info img {margin-bottom: 8px;}	
	
section#info ul li {
    color: #FFFFFF;
    font-size: 11px;
    line-height: 1.3em;}	
	
section#info a {
    background: none repeat scroll 0 0 #3D0A11;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    bottom: 4px;
    color: #CEB378;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 24px;
    left: 0;
    line-height: 25px;
    position: absolute;
    text-decoration: none;
    text-transform: uppercase;
    width: 160px;}	
	
/* Inner Content */
section #content article h1 {
    color: #56101B;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: normal;
    margin: 0 0 20px;
    text-transform: uppercase;}	
	
section #content article p {
    color: #000000;
    font-size: 14px;
    line-height: 1.6em;}	
	
section #content article a {
    color: #56101B;
    font-style: italic;
    text-decoration: none;}	
	
section #content article a:hover {text-decoration: underline}	
	
#content strong {color: #56101B;}	
	
/* Sub Navigation: Corporate Overview */
#tabContainer {background: url(../images/bg-nav2-active.png)/*tpa=http://www.sands.com/images/bg-nav2-active.png*/ left top repeat-x;}

#corpNav{
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	display: block;
	height: 36px;
	width: 950px;}
	
#corpNav li{
	background: url(../images/bg-nav2-border.png)/*tpa=http://www.sands.com/images/bg-nav2-border.png*/ right top no-repeat; 	
	display: block;
	float: left;
	text-align: center;}

.noborder {background: none !important;}
	
#corpNav li a{
	color: #ceb378;
	display: block;
	height: 24px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 0 0 0;
	text-decoration: none;
	text-transform: uppercase;}	
	
#corpNav li a:hover,
#corpNav li.current-menu-item a,
#corpNav li.leadership.current-page-ancestor a,
#corpNav li.our-values.current-page-ancestor a,
#corpNav li.procurement-and-supply.current-page-ancestor a {background: #842332 url(../images/bg-nav2-border.png)/*tpa=http://www.sands.com/images/bg-nav2-border.png*/ right top no-repeat;}	

#corpNav li.overview a {width: 131px;}
#corpNav li.overview a:hover {border-top-left-radius: 8px;}

#corpNav li.leadership a {width: 150px;}
#corpNav li.history a {width: 119px;}
#corpNav li.our-values a {width: 148px;}
#corpNav li.careers a {width: 118px;}

#corpNav li.procurement-and-supply a {width: 284px;}
#corpNav li.procurement-and-supply a:hover {background: #842332; border-top-right-radius: 8px;}

/* Added by Johnny for subNavigation */
.topBorder {display: block; height: 38px; background: #842332; -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px; -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; border-top-left-radius: 5px; border-top-right-radius: 5px;}

#subNavigation{
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	display: block;
	height: 36px;
	width: 950px;}
	
#subNavigation li{
	background: url(../images/bg-nav2-border.png)/*tpa=http://www.sands.com/images/bg-nav2-border.png*/ right top no-repeat; 	
	display: block;
	float: left;
	text-align: center;}

.noborder {background: none !important;}
	
#subNavigation li a{
	color: #ceb378;
	display: block;
	height: 24px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 0 0 0;
	text-decoration: none;
	text-transform: uppercase;}	
	
#subNavigation li a:hover,
#subNavigation li.current-menu-item a{background: #842332 url(../images/bg-nav2-border.png)/*tpa=http://www.sands.com/images/bg-nav2-border.png*/ right top no-repeat;}	

#subNavigation li.last a:hover,
#subNavigation li.current-menu-item.last a{background: #842332 right top no-repeat;}	

#subNavigation li.first a,
#subNavigation li.first a:hover {
	border-top-left-radius: 8px;
}

#subNavigation li.last a,
#subNavigation li.last a:hover {
	border-top-right-radius: 8px;
}
/* End Added by Johnny for subNavigation */

	
/* Innerpage: Leadership */	
.leaders {
  
    width: 558px;}
	
.leaders li {
    float: left;
    margin: 0 10px 10px 0;
    width: 176px;}	
	
.leaders li a {transition: opacity 0.1s ease-in-out 0s;}	

section #content article h2 {
    color: #56101B;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
    margin: 0 0 16px;
    text-transform: uppercase;}
	
section #content article h3 {
    color: #56101B;
    font-size: 14px; /* 18px */
    font-weight: bold;
    margin: 0 0 16px;}

section #content article .leaders figcaption h3 {
    font-size: 15px;
    font-style: italic;
    margin: 8px 0;
    text-transform: uppercase;}
	
.alignright {
    float: right;
    margin: 5px 0 20px 20px;}	
	
.leadimg {
    float: right;
    height: 196px;
    margin: 0 0 10px 10px;
    width: 150px;}	

/* Innerpage: With Page Navigation */
.pager {}		
.pager li {display: inline;}
.pager li a {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #56101B;
    border-radius: 25% 25% 25% 25%;
    color: #56101B !important;
    margin-right: 5px;
    padding: 5px;}
	
.pager li a.on {
    background: none repeat scroll 0 0 #56101B;
    color: #FFFFFF !important;}	
	
.pager-item {margin-top: 25px;}

.viewBox {
    background: #862334; /* Old browsers */
    background: -moz-linear-gradient(top,  #862334 0%, #59121d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#862334), color-stop(100%,#59121d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #862334 0%,#59121d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #862334 0%,#59121d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #862334 0%,#59121d 100%); /* IE10+ */
    background: linear-gradient(top,  #862334 0%,#59121d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#862334', endColorstr='#59121d',GradientType=0 ); /* IE6-9 */
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    border-radius: 8px 8px 8px 8px;
    display: inline-block;
    float: right;
    margin: 20px 0 20px 20px;
    padding: 3px 20px 0;
    text-align: center;
    width: 152px;}	
	
section #content article .viewBox h3 {
    color: #CEB378;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 10px 0;
    text-transform: uppercase;}	
	

section #content article .viewBox p {
    color: #FFFFFF;
    font-size: 12px;
    line-height: 1.2;}	
	
section #content article .viewBox a {
    background: none repeat scroll 0 0 #3C0911;
    border-radius: 3px 3px 3px 3px;
    color: #CEB378 !important;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal !important;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;}	
	
/* Innerpage: 2-column with left sidebar */
#content.interior {
    padding: 0;
    width: 948px;}

#content.interior article {
    float: right;
    width: 76%;}	

#content.interior article > div {padding: 40px;}	
	
#content.with-sidebar {background: url("../images/sidebar-bg.png")/*tpa=http://www.sands.com/images/sidebar-bg.png*/ repeat-y scroll left top #FFFFFF;}

.interiorSidebar {
	width: 200px; 
	float: left; 
	height: 100%; 
	border-top: 1px solid #812231;}

#content .interiorSidebar > ul {
	position: relative; 
	padding: 80px 0;}
	
#content .interiorSidebar ul li {margin-bottom: 1px;}

#content .interiorSidebar ul li a {
	text-decoration: none; 
	display: block; 
	color: #ceb378; 
	font-weight: bold; 
	padding: 5px 30px 5px 10px; 
	font-style: normal; 
	text-transform: uppercase; 
	width: 170px; 
	-webkit-transition: none; 
	-moz-transition: none; 
	transition: none; 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 0.9em;}
	
#content .interiorSidebar ul li a:hover, .interiorSidebar ul li.current-menu-item a {
	background: #842332; 
	text-decoration: none;}
	
.interiorSidebar ul li p {
	padding: 25px; 
	color: #ceb378; 
	font-weight: normal; 
	padding: 5px 10px 5px 30px; 
	font-style: normal; 
	text-transform: uppercase;}
	
.interiorSidebar ul li p em {
	display: block; 
	font-weight: bold; 
	font-style: normal;}

.listDetails {padding: 0; margin-bottom: 20px;}
.listDetails li {font-size: 14px; margin-bottom: 10px; list-style: disc; color: #000; list-style-position: inside;}

	
/* Innerpage: 2-column with left sidebar & accordion */
#content .faqInfo {padding-left: 0;}

#content .faqInfo li {
    color: #000000;
    font-size: 14px;
    list-style: none outside none;
    margin-bottom: 15px;
    padding-left: 10px;}	
	
span.plus {
    display: inline-block;
    font-size: 20px;
    height: 20px;
    margin-right: 20px;
    width: 20px;}	
	
.details {
    margin: 0;
    padding: 0 0 20px 40px !important;}	
	
#content .faqInfo li > a:hover {
	text-decoration: none; 
	font-weight: bold;}	
	
/* Innerpage: 1-column with See Details */
#careerList li {
    border-bottom: 2px solid #996E72;
    display: table;
    margin-bottom: 10px;
    overflow: hidden;
    padding-bottom: 10px;}	

	
/* #careerList li div {
    display: table-cell;
    vertical-align: middle;} */

.careerBox {
	height: auto;
	margin: 0;
	padding: 15px 0;
	width: 788px;}

/* .careerBox div {
	display: table-cell;
	vertical-align: middle;}	 */
	
.careerImage {
	float: left;
	margin: 4px 15px 0 0;
    width: 172px;}	
	
.careerContent {
	float: left;
	margin: 0 15px 0 0;
    width: 447px;}
	
.careerContent p {margin: 0; padding: 0;}	
	
.careerLink {
	float: right;
	margin: 4px 15px 0 0;
	width: auto;}	

#careerList .button {}
	
.careerLink {position: relative;}

.careerLink .button {	
	background: #5d131e url(../images/bg-button.jpg)/*tpa=http://www.sands.com/images/bg-button.jpg*/ top center repeat-x;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
  behavior: url(Unknown_83_filename)/*tpa=http://192.168.1.9/Sands/js/pie.htc*/;
	padding: 6px 10px;
	text-align: center;	
	color: #fff !important;
	font-size: 13px;
	font-style: normal !important;
	font-weight: bold;
	line-height: 13px;
  position: relative;
	text-decoration: none !important;}
	
.careerLink .button:hover {background: #5d131e url(../images/bg-button-hover.jpg)/*tpa=http://www.sands.com/images/bg-button-hover.jpg*/ top center repeat-x;}	
	
/* Sub Navigation: Properties */
#propNav{
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	display: block;
	height: 36px;
	width: 950px;}
	
#propNav li{
	background: url(../images/bg-nav2-border.png)/*tpa=http://www.sands.com/images/bg-nav2-border.png*/ right top no-repeat; 	
	display: block;
	float: left;
	text-align: center;}

#propNav li a{
	color: #ceb378;
	display: block;
	height: 24px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 0 0 0;
	text-decoration: none;
	text-transform: uppercase;}	
	
#propNav li a:hover,
#propNav li.current-menu-item a,
#propNav li.all-properties.current-page-ancestor a,
#propNav li.usa.current-page-ancestor a,
#propNav li.china.current-page-ancestor a {background: #842332 url(../images/bg-nav2-border.png)/*tpa=http://www.sands.com/images/bg-nav2-border.png*/ right top no-repeat;}	

#propNav li.all-properties a {width: 236px;}
#propNav li.all-properties a:hover {border-top-left-radius: 8px;}

#propNav li.usa a {width: 240px;}
#propNav li.china a {width: 239px;}

#propNav li.singapore a {width: 235px;}
#propNav li.singapore a:hover {
	background: #842332; 
	border-top-right-radius: 8px;}


.destination {clear: right; margin-top: 10px;}
p.investor {font-size: 17px !important;}
.arrow {margin: 0 5px 0 5px !important;}

.propThumbs {
    float: left;
    margin-right: 20px;
    width: 45%;}
	
.propThumbs figure {margin-bottom: 20px;}	

.propThumbs img {
    display: block;
    float: left;
    height: 69px;
    margin-right: 20px;
    transition: opacity 0.2s ease-in-out 0s;
    width: 154px;}

.propThumbs figcaption {
    float: left;
    padding-top: 10px;
    width: 160px;}
	
#content .propThumbs figcaption h4 {margin-bottom: 10px;}	

.propThumbs figure h4 {
    color: #56101B;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin: 0;}
	
a img.alignnone {margin: 5px 20px 20px 0;}


/* Sub Navigation: Media */
#galleryNav{
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	display: block;
	height: 36px;
	width: 950px;}
	
#galleryNav li{
	background: url(../images/bg-nav2-border.png)/*tpa=http://www.sands.com/images/bg-nav2-border.png*/ right top no-repeat; 	
	display: block;
	float: left;
	text-align: center;}

#galleryNav li a{
	color: #ceb378;
	display: block;
	height: 24px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 0 0 0;
	text-decoration: none;
	text-transform: uppercase;}	
	
#galleryNav li a:hover,
#galleryNav li.current-menu-item a,
#galleryNav li.photo-gallery.current-page-ancestor a,
#galleryNav li.video-gallery.current-page-ancestor a,
#galleryNav li.press-releases.current-page-ancestor a,
#galleryNav li.lvs-in-the-news.current-page-ancestor a {background: #842332 url(../images/bg-nav2-border.png)/*tpa=http://www.sands.com/images/bg-nav2-border.png*/ right top no-repeat;}	

#galleryNav li.photo-gallery a {width: 183px;}
#galleryNav li.photo-gallery a:hover {border-top-left-radius: 8px;}

#galleryNav li.video-gallery a {width: 178px;}
#galleryNav li.press-releases a {width: 178px;}
#galleryNav li.lvs-in-the-news a {width: 187px;}

#galleryNav li.sands-confidential a {width: 224px;}
#galleryNav li.sands-confidential a:hover {background: #842332; border-top-right-radius: 8px;}


	
.mediaGrid {margin-bottom: 20px;}	

.mediaGrid li {
    float: left;
    margin: 0 10px 10px 0;
    max-width: 280px;}
	
.mediaGrid li a {transition: all 0.1s ease 0s;}	
	
.property360 li {
	float: left; 
	width: 307px; 
	margin-right: 174px; 
	margin-bottom: 20px;}
	
.property360 li a:hover {opacity: .8;}
.no-margin {margin-right: 0 !important;}
.property360 h3 {
	color: #56101B; 
	font-weight: bold; 
	font-size: 16px;}
	
.page-photo-gallery #content strong {
    display: block;
    margin-bottom: 10px;}
	
.propertyMedia img {
    height: 140px;
    width: 307px;}
	
/* News */
.lvs-in-the-news  {margin-bottom: 20px;}	
.lvs-in-the-news  li {
    margin-bottom: 10px;
    overflow: hidden;}
	
/* Sub Navigation: Investor */	
#invNav{
	display: block;
	width: 950px;
	height: 36px;
}

#invNav li{
	display: block;
	float: left;}

#invNav li a{
	display: block;
	height:36px;
	text-indent:-9999px;}

#invNav li a:hover,
#invNav li.current-menu-item a,
#invNav li.corp-governance.current-page-ancestor a,
#invNav li.events-and-presentation.current-page-ancestor a,
#invNav li.financial-info.current-page-ancestor a,
#invNav li.financial-info.current-page-ancestor a, 
#invNav li.shareholder-tools.current-page-ancestor a {}

#invNav li.press-releases a{
	width:159px;
	background-position:-0px -36px;}
	
#invNav li.corp-governance a{
	width:189px;
	background-position:-159px -36px;}
	
#invNav li.events-and-presentations a{
	width:229px;
	background-position:-348px -36px;}
	
#invNav li.financial-info a{
	width:171px;
	background-position:-577px -36px;}
	
#invNav li.shareholder-tools a{
	width:202px;
	background-position:-748px -36px;}

/* Forms */
.formContainer {width: 420px;}
.formDetails {
    margin: 0 0 20px !important;
    padding: 0 !important;}
	
.formInput.small, .wpcf7-captchar {width: 180px !important; /*color: #888888;*/}	
.formInput.large {width: 386px !important; /* color: #888888; */}

.formInput, .wpcf7-captchar {
    border: 1px solid #AAAAAA;
    border-radius: 3px 3px 3px 3px;
    display: inline-block;
    margin: 0 10px 10px 0;
    padding: 5px;}
	
.supplierForm label {
    display: block;
    margin-bottom: 5px;
    padding-left: 40px;}	
	
.supplierForm input[type="checkbox"] {margin-right: 10px;}	

textarea.formInput {
    height: 100px;
    resize: none;
    width: 386px;}
	
.sendButton {
    background: url("../images/send.png")/*tpa=http://www.sands.com/images/send.png*/ repeat scroll 0 0 transparent;
    border: medium none;
    display: block;
    height: 29px;
    text-indent: -9999px;
    transition: opacity 0.2s ease-in-out 0s;
    width: 62px;}	
	
div.design_checklist {
	padding: 0px !important;
}

div.design_checklist p {
	margin: 0px;
}

.watermark {color: #888;}

/* Contact Form 7 */
div.wpcf7 {
	margin: 0;
	padding: 0;}

div.wpcf7-response-output {
	margin: 2em 0.5em 1em;
	padding: 0.2em 1em;}

div.wpcf7-mail-sent-ok {border: 2px solid #398f14;}

div.wpcf7-mail-sent-ng {border: 2px solid #ff0000;}

div.wpcf7-spam-blocked {border: 2px solid #ffa500;}

div.wpcf7-validation-errors {border: 2px solid #f7e700;}

span.wpcf7-form-control-wrap {	position: relative;}

span.wpcf7-not-valid-tip {
	position: absolute;
	top: 20%;
	left: 20%;
	z-index: 100;
	background: #fff;
	border: 1px solid #ff0000;
	font-size: 10pt;
	width: 280px;
	padding: 2px;}

span.wpcf7-not-valid-tip-no-ajax {
	color: #f00;
	font-size: 10pt;
	display: block;}

span.wpcf7-list-item {	margin: 0}

.wpcf7-display-none {display: none;}

div.wpcf7 img.ajax-loader {
	border: none;
	vertical-align: middle;
	margin-left: 4px;}


	
/* Foundation */
#foundationNav{
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	display: block;
	height: 36px;
	width: 950px;}
	
#foundationNav li{
	background: url(../images/bg-nav2-border.png)/*tpa=http://www.sands.com/images/bg-nav2-border.png*/ right top no-repeat; 	
	display: block;
	float: left;
	text-align: center;}

#foundationNav li a{
	color: #ceb378;
	display: block;
	height: 24px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 0 0 0;
	text-decoration: none;
	text-transform: uppercase;}	
	
#foundationNav li a:hover,
#foundationNav li.current-menu-item a,
#foundationNav li.sponsorship-activities.current-page-ancestor a,
#foundationNav li.donation-request.current-page-ancestor a,
#foundationNav li.awards.current-page-ancestor a {background: #842332 url(../images/bg-nav2-border.png)/*tpa=http://www.sands.com/images/bg-nav2-border.png*/ right top no-repeat;}	

#foundationNav li.sands-foundation a {width: 210px;}
#foundationNav li.sands-foundation a:hover {border-top-left-radius: 8px;}

#foundationNav li.sponsorship-activities a {width: 247px;}
#foundationNav li.donation-request a {width: 215px;}
#foundationNav li.awards a {width: 137px;}

#foundationNav li.partners a {width: 141px;}
#foundationNav li.partners a:hover {background: #842332; border-top-right-radius: 8px;}


	
/* Footer
************************/
footer {
    color: #862433;
    font-size: 10px;}
	
footer h4 {
    bottom: 0;
    display: block;
    float: left;
    font-size: 10px;
    font-weight: normal;
    left: 0;
    margin: 0;
    position: absolute;}	

/* Footer Links */	
#siteMap {margin-top: 22px;}	
#siteMap ul {}
#siteMap ul li {display: inline;}
#siteMap ul li a {
    border-right: 1px solid #862433;
    color: #862433;
    margin-right: 5px;
    padding-right: 5px;
    text-decoration: none;}

#siteMap1 {-webkit-margin-before: 1em;  -webkit-margin-after: 1em;  -webkit-margin-start: 0px;  -webkit-margin-end: 0px;}	
#siteMap1 ul {}
#siteMap1 ul li {display: inline;}
#siteMap1 ul li a {
    border-right: 1px solid #862433;
    color: #862433;
    margin-right: 5px;
    padding-right: 5px;
    text-decoration: none;}
/* Social Media */	
.socialBox {
    position: relative;
    width: 210px;}	
	
#socialNav {
    display: block;
    float: right;
    height: 33px;
    width: 118px;}
	
#socialNav li {
    display: block;
    float: left;}	
	
#socialNav li a {
    display: block;
    height: 33px;
    text-indent: -9999px;}	
	
#socialNav li a {width: 36px;}	


/* YouTube Videos */
.youtubeVideo {
    float: left;
    margin: 0 20px 50px 0;
    width: 280px;}
	
.youtubeVideo {border: 0 none !important;}
ul.children {
padding-left: 40px;
}
	
/* Global Destinations */	
.destination {
  clear:right;
  margin-top:10px;}	
	
/*Timeline*/

#timelineWrap {display: none;}

#timeline a {
    color: #ffffcc;
    text-decoration: none;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
}
#timeline a:hover,
#timeline a.selected {
	color: #b19156;
}
#timeline h1 {
	font-size: 18px;
}
#timeline h2 {
	font-size: 14px;
}
.sociales {
    text-align: center;
    margin-bottom: 20px;
}

#timeline {
	width: 790px;
	height: 500px;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	font-size: 14px;
	border-radius: 10px;
}
.dots {width: 673px; overflow: hidden; left: 60px; height:90px; position:relative;}
#dateBg {
	position: relative;
	top: 297px;
	left: 0;
	z-index: 1;
}
#dates {
	width: 750px;
	height: 90px;
	overflow: hidden;
	position: relative;
	z-index: 1;
	margin: 0 auto;
}
#dates li {
	list-style: none;
	float: left;
	width: 97px;
	height: 50px;
	font-size: 18px;
	text-align: center;
	padding-bottom: 8px;
	margin-top: 10px;
}
	#dates a {
		line-height: 38px;
		padding-bottom: 10px;
		color: #b19156;
		opacity: .7;
	}
	#dates .selected {
		font-size: 38px;
		opacity: 1;
		color: #b19156;
	}

#issues {
	width: 790px;
	height: 500px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}   
#issues li {
	width: 790px;
	height: 500px;
	list-style: none;
	float: left;
	background: #f8f8e6;
	-moz-background-clip: padding; 
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background: transparent;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
#issues li.selected img {
}
#issues li img {
	float: left;
	height: 297px;
	width: 790px;
	display: block;
	position: relative;
	top: 0;
	left: 0;
	background: transparent;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE 8 */   
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);/* IE 6 & 7 */      
	zoom: 1;
}
#issues li h1 {
	color: #56101B;
	font-size: 60px;
	font-weight: normal;
	margin: 0;
	float: left;
	margin: 27px;
}
#issues li p {
	font-size: 13px;
	margin: 0 0 20px 0;
	font-weight: normal;
	line-height: 1.6;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	float: right;
	width: 540px;
	margin: 0 0 20px 0;
}
#issues li span {
	font-size: 9px;
	font-style: italic;
}
#issues li p a {color:  #000;}
#issues li p a:hover {text-decoration: underline; color: #000;}

#grad_left,
#grad_right {
width: 100px;
height: 350px;
position: absolute;
top: 0;
}        
#next,
#prev {
position: absolute;
top: 0;
top:  323px;
width: 20px;
height: 40px;
z-index: 2;
background-position: 0 0;
background-repeat: no-repeat;
text-indent: -9999px;
overflow: hidden;
}
#next {
	right: 20px;
}
#prev {
	left: 20px;
}
#next.disabled,
#prev.disabled {
	opacity: 0.2;
}
.timelineContent {
    background: #f8f8e6;
    padding: 10px;
    float: left;
    width: 770px;
    margin-top: 90px;
    height: 90px;
}
.timelineContent h1 {margin: 0 35px !important;}
.home .fancybox-skin {
    -moz-background-clip: padding; 
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: transparent;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.home .fancybox-wrap {
    -moz-background-clip: padding; 
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: transparent;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;}
    
/* Buttons */    
.loginButton {border: none; display: block; width: 62px; height: 29px; background: url(../images/login.png)/*tpa=http://www.sands.com/images/login.png*/; -webkit-transition: opacity .2s ease-in-out; -moz-transition: opacity .2s ease-in-out; transition: opacity .2s ease-in-out; text-indent: -9999px; }
.sendButton {border: none; display: block; width: 62px; height: 29px; background: url(../images/send.png)/*tpa=http://www.sands.com/images/send.png*/; -webkit-transition: opacity .2s ease-in-out; -moz-transition: opacity .2s ease-in-out; transition: opacity .2s ease-in-out; text-indent: -9999px; }    
.sendButton:hover, .loginButton:hover {opacity: .8;}


/* 19 July 2013 */
#content article ul.leaders.new {width: 660px;}
#content article ul.leaders.new li {float: none; margin: 0 40px 20px 0; width: 100% !important;}
section #content article .leaders.new figcaption h3 {display:inline-block; margin: 0; width: 280px; vertical-align: top;}
section #content article .leaders.new figcaption p {display:inline-block; line-height: 18px; margin: 0 0; width: 370px;}

/*
section#info > div {
    margin-left:200px;
    margin-right:0px;
}
*/
