/*----------------------------------+
 | Site: Kindred Healthcare         |
 | Part: Internet Explorer 6 styles |
 +----------------------------------+


/* Core layout
======================================================================*/
body { behavior: url("csshover3.htc")/*tpa=http://www.kindredhealthcare.com/global/styles/csshover3.htc*/; }
html #page { width: 950px; }  /* min-/max-width not supported */
#page { position: relative; z-index: 1; }
#page-container { width: 964px; }
div.clear { display: none; }
#content { zoom: 1; z-index: 2000; }
#content-secondary { z-index: 2000; }

/*--- Admin ---*/
.cms-login { text-align: center; }
.cms-login #page { padding-top: 63px; }

/*--- Forms ---*/
	/* Text Boxes */
	textarea { overflow: auto; }

/*--- Columns ---*/
.c2r li { display: inline; }

/* Footer */
#footer { position: relative; }
#footer .col { height: 160px; }

/* Header */
#header { position: relative; z-index: 5000; }
#header-shadow { z-index: -1; }

    /* Font Selector */
    #font-selector { width: 50px }
    
	/* Overlay */
	#overlay { z-index: -1; }
	
	/* Top Bar */
	#top-bar { overflow: hidden; } /*height must be explicit and ie6 is expanding*/

/* Footer */
#footer .col { height: 160px; }

/* Navigation */
#nav { display: inline; z-index: 3000; }
#nav li { padding-top: 26px; padding-bottom: 26px; position: relative; z-index: 3000; }
#nav li span { background: none; border-right: dotted 1px #FFF; }
#nav li.last span { border: none; }
#nav li li { padding-top: 0; padding-bottom: 0; position: relative; z-index: 3000; border: none; }
#nav li li a { height: 1%; width: 100%; background: none; border-bottom: dotted 1px #FFF; }
#nav li li.last a { border: none; }
#nav ul { width: 1%; top: 70px; z-index: 3000; }

    /* Secondary nav */
    ul#nav-secondary { height: 353px; z-index: 1999; }
    ul#nav-secondary .tab { height: 24px; z-index: 2000; }
    
/* POPs */
.pop-body { height: 74px; }

/*--- Video Library ---*/
	/*-- Horizontal Slider --*/
	#video-library .horizontal-slider .slide-wrapper { position: relative; height: 200px; padding-bottom: 10px;}
	#video-library .horizontal-slider .slide-container { position: absolute; height:200px; }
	#video-library .horizontal-slider .slide { height: 175px; }
	#video-library .horizontal-slider .video { display: inline; }
	#video-library .horizontal-slider .video .thumb { width: 1%; }
	#video-library .horizontal-slider .video-top { height: 35px; }
	
	/*-- Vertical Slider --*/
	
	/*-- Video Player --*/
	#video-library .video-player-wrapper { display: inherit; }

	/*-- Mini Video Library --*/
	#mini-video-library { height: 288px; }
	#mini-video-library .middle ignore { top: auto !important; }
	#mini-video-library .slider { height: 70px; }
	#mini-video-library .slider .thumb img { width: 96px; height: 52px; }
	#mini-video-library .slider .thumbs-wrapper { width: 234px; left: 25px; }
	
/*--- Home page ---*/
.home #content { padding: 20px 53px; }

	/* POPs */
	.tab-md-content { height: 388px }

/*--- Photo Gallery ---*/
#photo-gallery .slide-wrapper { position: relative; }
#photo-gallery .slide-container { position: absolute; }
#photo-gallery .slide {  }

#photo-gallery .photo { display: inline; }
#photo-gallery .photo .thumb { width: 1%; }

/*--- Facility Locator ---*/
#map-legend { display: inline-block; }

	/* Autocomplete */
	.autocomplete { height: auto; top: 5px; }
	.autocomplete div.facility-icon { left: -20px; }

	/* Map */
	#googlemap { margin: 0; width: 500px; }
	.map-area { width: 500px; }
	#map { height: 625px !important; }
	#gmap { height: 623px !important; }
	
	/* Overlay Styles (Map Popups) */
	#gmap #mapoverlay #overlay-content { height: 92px; }
	#gmap #mapoverlay #overlay-content div.facility-image { top: 10px; }
	
	/* Results */
	#results-list { position: relative; }
	#results-list li .dir-input-area .txt-rounded-container { float: left; }