/*--------------------------+
 | Site: Kindred Healthcare |
 | Part: Master styles      |
 +--------------------------*/

/* Imports
=====================================================================*/
@import "reset.css"/*tpa=http://www.kindredhealthcare.com/global/styles/reset.css*/; /* Reset styles */


/* Fonts
======================================================================*/
body, input, select, textarea { font-family: Arial, Verdana, sans-serif; }

/* Fix Ektron Styles */
li.PBItem { padding: 0; margin: 0; background: none; }
div.ektronModalStandard, div.ektronWindow { z-index: 9000 !important; }  /*this fixes a problem with the zindex layering of the menus appearing on top of ektron popup windows*/
.ektronModalOverlay { z-index: 8900 !important; }  /*this fixes a problem with the zindex layering of the menus appearing on top of ektron popup windows*/
.EktronPersonalizationWrapper .topmenu ul li { background: none; padding: 0; } /* remove our list styles from the ektron editor bar menus */
.EktronEditorsMenu li { background: none; } /* remove our list styles from the ektron widget popup menus */

/* Basics
======================================================================*/
a, h1, h4, caption { color: #474747; text-decoration: none; }
a:active { color: #5e88be; }
a abbr, a acronym { border: 0; }
abbr, acronym { border-bottom: 1px dotted #999; cursor: help; }
hr, .hr, p { margin-bottom: 1.75em; }

body {
	font-size: 76%;
	line-height: 1.4em;
	padding: 0;
	text-align: left;
	background: #f4f4f4 url('../images/page-background.gif')/*tpa=http://www.kindredhealthcare.com/global/images/page-background.gif*/ repeat-x;
}

caption, dt, h2, h3, h4, h5, h6, strong, thead td, thead th { font-weight: bold; }
caption, h4 { text-transform: uppercase; }
fieldset { border: 1px solid #ddd; margin-bottom: 2em; padding: 1em 1.5em; }
fieldset p { margin: 0; }
dl dt:first-child { margin: 0; }
dt { margin-top: 1.75em; }
dt img { float: left; margin: 0.3em 0.7em 0 0; }
em { font-style: italic; }
h1 { font-size: 1.5em; font-weight: normal; text-transform: uppercase; line-height: 1.5; margin-bottom: 1em; }
h2, legend { font-size: 1.25em; line-height: 1.4; }
.hr { background: url('../images/dots-horizontal-gray.png')/*tpa=http://www.kindredhealthcare.com/global/images/dots-horizontal-gray.png*/ repeat-x 50% 0; border: 0; clear: both; height: 1px; margin: 20px 15px 15px 15px; }
.hr hr { display: none; }
legend { background: #6b91c3; border: 1px solid #ddd; color: #fff; margin: 0 0 0 -0.75em; padding: 0 0.75em 0.1em; }
legend em { color: #fff; font-size: 0.9em; font-style: normal; font-weight: normal; margin-left: 0.3em; }
li { margin-bottom: 0.25em; }
table { border-collapse: collapse; line-height: 1.3; margin-top: 1.5em; width: 100%; }
tfoot td { border: 0; }
td, th { border-width: 1px 0; padding: 0.3em 0.7em 0.3em 0.7em; }
thead th, thead td { vertical-align: bottom; }
tr.alt { background: #eceeed; }
th { border-top: 0; }
sub { vertical-align: sub; }
sub, sup { font-size: 0.75em; }
sup { vertical-align: super; }
ol { list-style: decimal outside; margin-left: 2em; }
ul { margin-bottom: 1.25em; }
ul li { background: url('../images/bulletBlue.gif')/*tpa=http://www.kindredhealthcare.com/global/images/bulletBlue.gif*/ no-repeat 0 0.5em; padding-left: 1.15em; }
ol li { background: none; padding-left: 0; }
blockquote, q { margin-left: 2em; }


/* Core layout
======================================================================*/
.clear { clear: both; }
#page-container { margin: 0 auto; max-width: 964px; min-width: 964px; width: 964px; padding: 0; background: transparent url('../images/page-shadow.png')/*tpa=http://www.kindredhealthcare.com/global/images/page-shadow.png*/ repeat-y; }
#page { margin: 0 auto; max-width: 950px; min-width: 950px; width: 950px; padding: 0; text-align: left; background-color: #fff; }
.info,
.sort,
table {
	font-size: 0.8em;
	line-height: 1.568;
}

/*--- Admin ---*/
.cms-login { background: url('../images/admin/bgLogin.gif')/*tpa=http://www.kindredhealthcare.com/global/images/admin/bgLogin.gif*/ repeat-x; }
.cms-login #page { position: relative; padding-top: 30px; height: 500px; background-color: transparent; }
.cms-login .logo { position: absolute; top: 0; left: 0; height: 63px; width: 300px; }
.cms-login .login { position: absolute; top: 100px; left: 40px; }
.cms-login #content { width: 100%; background-color: #fff; min-height: 500px; height: 500px; margin-top: 33px; }
.cms-login ul li a { color: #6394c4; text-decoration: underline; }
.cms-login ul li a:hover { color: #000; text-decoration: none; }

/*--- Breadcrumbs ---*/
#breadcrumbs { background: url('../images/dots-horizontal-black.gif')/*tpa=http://www.kindredhealthcare.com/global/images/dots-horizontal-black.gif*/ repeat-x 0 100%; color: #6d6e70; font-size: 0.9em; margin-bottom: 2em; padding: 0 0 1.25em 0; }

/*--- Columns ---*/
.c2l, .c2r { width: 48%; }
.c2l, .c3l, .c3m { float: left; }
.c2r, .c3r { float: right; }
.c3l { margin-right: 3%; }
.c3l, .c3m, .c3r { width: 31%; }

/*--- Content ---*/
#content { padding-bottom: 1.5em; min-height: 300px; z-index: 1000; position: relative; }
#content > #pad-content { padding: 30px 12px; }
#content-primary { float: left; padding: 1em 0 2em 0; width: 372px; color: #474747; }
#content-secondary { float: left; width: 198px; padding: 0 35px; position: relative; }
#content-tertiary { float: right; padding: 40px 35px 0 0; }

	/*- Links -*/
	.interior #content-primary .content a, .full #content-primary .content a, .partial #content-primary .content a { font-weight: bold; }
	.interior #content-primary .content a:hover, .full #content-primary .content a:hover, .partial #content-primary .content a:hover { color: #474747; text-decoration: underline; }

/*--- Facility Locator ---*/
#facility-locator { }
#facility-locator .btn { float: left; position: relative; top: -3px; padding: 0; margin: 0 0 0 10px; cursor: pointer; }
#facility-locator .txt-rounded-container input.txt { font-size: 11px; width: 240px; }
#facility-locator .txt-rounded-container .middle.txt { width: 240px; }
#map-legend .c2l { width: 33%; font-size: 11px; }
#map-legend .c2r { width: 64%; font-size: 11px; }
#map-legend .options-v li { display: block; }
#map-legend {display: none; margin: 10px 0 0; }
#facility-services { margin: 10px 0 0; }
#facility-services .c2l { width: 54%; font-size: 11px; margin-bottom: 0.7em; }
#facility-services .c2r { width: 46%; font-size: 11px; margin-bottom: 0.7em; }
#facility-services .c2l li:first-child label { font-weight: bold; text-transform: uppercase; }

    /* Map */
    .template { display:none; }
    #facility-locator .map-area { padding: 0; margin: 0; float: right; }
    #googlemap { float: right; clear: right; margin: 0 0 0 8px; position: relative; width: 521px; }
    #googlemap .topcap { background:transparent url('../../widgets/locator/images/map-top.gif')/*tpa=http://www.kindredhealthcare.com/widgets/locator/images/map-top.gif*/ no-repeat scroll 0 0; height:15px; left:0; position:absolute; top:0; width:511px; z-index:2; }
    #googlemap .bottomcap { background:transparent url('../../widgets/locator/images/map-bottom.gif')/*tpa=http://www.kindredhealthcare.com/widgets/locator/images/map-bottom.gif*/ no-repeat scroll 0 0; bottom:0; height:15px; left:0; position:absolute; width:511px; z-index:2; }
    #googlemap #gmap { background:transparent url('../../widgets/locator/images/map-center.gif')/*tpa=http://www.kindredhealthcare.com/widgets/locator/images/map-center.gif*/ repeat-y scroll 0 0; border:0 none; height:616px; margin:0 0 4px; padding: 0 2px; width:511px; }
    #gmap #map { padding:0; width:507px !important; background-color:#E5E3DF; height:620px; position:relative; }
    
    /* Search Area */
    #facility-locator .search-title { float: left; display: inline-block; padding: 2px 5px 0 0; }
    #facility-locator .search-area { width: 350px; padding: 0; margin: 0; float: left; }
    #facility-locator .search-area p { margin: 0; }   
    
    /* Autocomplete */
    .autocomplete-w1 { position:absolute; top:0; left:-8px; margin:8px 0 0 6px; /* IE6 fix: */ _background:none; _margin:0; }
    .autocomplete { border:1px solid #999; padding: 10px 0; background: #fff url('../../widgets/locator/images/bg-auto-complete.gif')/*tpa=http://www.kindredhealthcare.com/widgets/locator/images/bg-auto-complete.gif*/ repeat-x bottom left; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; }
    .autocomplete div.selected { background: url('../../widgets/locator/images/bg-auto-complete-item-selected.gif')/*tpa=http://www.kindredhealthcare.com/widgets/locator/images/bg-auto-complete-item-selected.gif*/ repeat-x; color: #fff; }
    .autocomplete div { padding:2px 25px; white-space:nowrap; font-size: 11px; position: relative; }
    .autocomplete div.facility-icon { padding: 0; position: absolute; top: 3px; left: 5px; height: 16px; width: 13px; }
    .autocomplete div.selected.facilityType1 div.facility-icon, .autocomplete div.selected.facilityType2 div.facility-icon, .autocomplete div.selected.facilityType3 div.facility-icon { background: url('../../widgets/locator/images/legend-icon-white.png')/*tpa=http://www.kindredhealthcare.com/widgets/locator/images/legend-icon-white.png*/ no-repeat; }
    .autocomplete div.facilityType1 div.facility-icon { background: url('../../widgets/locator/images/legend-icon-blue.gif')/*tpa=http://www.kindredhealthcare.com/widgets/locator/images/legend-icon-blue.gif*/ no-repeat; }
    .autocomplete div.facilityType2 div.facility-icon { background: url('../../widgets/locator/images/legend-icon-blue.gif')/*tpa=http://www.kindredhealthcare.com/widgets/locator/images/legend-icon-blue.gif*/ no-repeat; }
    .autocomplete div.facilityType3 div.facility-icon { background: url('../../widgets/locator/images/legend-icon-blue.gif')/*tpa=http://www.kindredhealthcare.com/widgets/locator/images/legend-icon-blue.gif*/ no-repeat; }
    .autocomplete div.facilityType4 div.facility-icon { background: url('../../widgets/locator/images/legend-icon-blue.gif')/*tpa=http://www.kindredhealthcare.com/widgets/locator/images/legend-icon-blue.gif*/ no-repeat; }
    
    /* Results Area */
    #facility-results { position:relative; }
    #result-template, #no-result-template { display: none; visibility: hidden; }
    #facility-results .scroll-container { width: 375px; height: 31px; padding: 0; margin: 0; }
    #facility-results .scroll-up { width: 375px; height: 31px; cursor: pointer; background: url('../../widgets/locator/images/bt-slide-up.gif')/*tpa=http://www.kindredhealthcare.com/widgets/locator/images/bt-slide-up.gif*/ no-repeat; }
    #facility-results .scroll-down { width: 375px; height: 31px; cursor: pointer; background: url('../../widgets/locator/images/bt-slide-down.gif')/*tpa=http://www.kindredhealthcare.com/widgets/locator/images/bt-slide-down.gif*/ no-repeat; }
    #results-list { height: 432px; overflow: hidden; margin: 0; }
    #results-list li { list-style-type: none; background: url('../../widgets/locator/images/bg-result.gif')/*tpa=http://www.kindredhealthcare.com/widgets/locator/images/bg-result.gif*/ repeat-x left bottom; border: solid 1px #e5e5e5; padding: 10px 18px 7px 18px; margin: 0 0 15px 0; cursor: pointer; }
    #results-list li .icon-area { float: left; width: 35px; }
    #results-list li .text-area { float: left; width: 266px; position: relative; padding-left: 10px; background: url('../images/dots-vertical-gray.gif')/*tpa=http://www.kindredhealthcare.com/global/images/dots-vertical-gray.gif*/ repeat-y left top; } 
    #results-list li .text-area h2 { color: #000; font-family: Arial; font-weight: bold; font-size: 14px; margin: 0; } 
    #results-list li .text-area div.dir { margin: 15px 0 0; }
    #results-list li .dir-input-area { margin: 0; padding: 0; }
    #results-list li a.btn-get-directions { float: left; margin: 0 0 0 5px; padding: 0; }
    #results-list li .text-area .site { display: block; margin: 0; }
    #results-list li.no-result .text-area { float: none; width: auto; }
    
    /* Overlay Styles (Map Popups) */
    #overlay-template { position: absolute; left: -9999em; }
    #gmap #mapoverlay {background: transparent url(../../widgets/locator/images/overlay-top.gif)/*tpa=http://www.kindredhealthcare.com/widgets/locator/images/overlay-top.gif*/ no-repeat scroll left top; padding:9px 0 0; position:relative; width: 298px; }
    #gmap #mapoverlay #overlay-content { min-height: 122px; background: #fff url(../../widgets/locator/images/overlay-bg.gif)/*tpa=http://www.kindredhealthcare.com/widgets/locator/images/overlay-bg.gif*/ repeat-x left bottom; border-left: solid 1px #b8b8b8; border-right: solid 1px #b8b8b8; clear:left; font-size:10.5px; margin:0; padding:0em 17px; width: 262px; }
    #gmap #mapoverlay #overlay-content div.facility-image { width: 75px; height: 75px; float: left; position: absolute; top: 18px; border: solid 1px #b8b8b8; }
    #gmap #mapoverlay #overlay-content div.info-container { line-height:14px !important; margin-left:97px; color: #6c6c6c; font-family: Verdana, Arial, Sans-Serif; }
    #gmap #mapoverlay #overlay-content h3 { color:#6c6c6c; display:block !important; font-size:11px; font-family: Verdana, Arial, Sans-Serif; font-weight: bold; margin: 0 !important; }
    #gmap #mapoverlay #overlay-content .facility-type { display: block; margin-bottom: 10px; }
    #overlay-content .adr, #overlay-content .website { font-size: 0.9em; }
    #gmap #mapoverlay a { cursor:pointer; }
    #gmap #mapoverlay #overlay-content ul { margin:4px 0 0; }
    #gmap #mapoverlay #overlay-content .informationlink { color:#fc8526; padding-right:10px; }
    #gmap #mapoverlay .bottom { background: transparent url(../../widgets/locator/images/overlay-bottom.gif)/*tpa=http://www.kindredhealthcare.com/widgets/locator/images/overlay-bottom.gif*/ no-repeat scroll left bottom; height:24px; margin:0 0 -24px; position:absolute !important; width:298px; }
    #gmap #mapoverlay a.close-infobox-button { background: transparent url(../../widgets/locator/images/map-close.gif)/*tpa=http://www.kindredhealthcare.com/widgets/locator/images/map-close.gif*/ no-repeat scroll left top; color:#FFFFFF; display:block; height:13px; outline-color:-moz-use-text-color; outline-style:none; outline-width:medium; overflow:hidden; position:absolute !important; right:9px; text-decoration:none; text-indent:-9999px; top:9px; width:9px; }
    #mapoverlay .adr, #mapoverlay .street-address, #mapoverlay .tel, #mapoverlay .phone { display: block; }


/*--- Font size selector ---*/
#font-selector { height: 20px; margin-right: 1.5em; }
#font-selector a { height: 20px; padding: 0 2px; }
.font-selector-sm { font-size: 12px; }
.font-selector-md { font-size: 15px; }
.font-selector-lg { font-size: 18px; }

/*--- Footer ---*/
#footer { color: #818181; background-color: #f0eee6; padding: 2em 0; position: relative; border-top: solid 1px #e4e2d9; }
#footer-content {  margin: 0 auto; width: 842px; padding-bottom: 2em; }
#footer .col { float: left; background: url('../images/dots-vertical-gray.png')/*tpa=http://www.kindredhealthcare.com/global/images/dots-vertical-gray.png*/ repeat-y; width: 189px; padding: 0 10px; min-height: 160px; }
#footer p { text-align: left; }
#footer .copyright { text-align: center; }
#footer .footer-logo { display: none; margin: -35px 0 0; padding: 0; float: right; position: relative; z-index: 1000; }

/*--- Full layout (no sidebar, no POPs) ---*/
.full #content {  }
.full #content-primary { float: none; margin: 0 auto; width: 95%; }
.full #content-secondary, .full #content-tertiary { display: none; }

    /* Partial layout (no POPs) */
    .partial #content-primary { float: right; width: 596px; padding-right: 35px; }
    .partial #content-tertiary { display: none; }
    
    /* Partial layout (no side nav) */
    .partial-pop #content-primary { float: left; width: 660px; padding: 35px; }
    .partial-pop #content-secondary { display: none; }

/*--- Header ---*/
#header { z-index: 5000; position: relative; }
#header-shadow { height: 12px; background: url('../images/header-shadow-bottom.png')/*tpa=http://www.kindredhealthcare.com/global/images/header-shadow-bottom.png*/ repeat-x; }
.no-header-image #header-shadow { display: none; }

	/* Header Image */
	#header-image { width: 950px; position: absolute; top: 51px; background: transparent none no-repeat scroll 0 0; }
	.no-header-image #header-image { display: none; }

    /* Top bar */
    #top-bar { background-color: #fff; padding: 15px 35px; height: 21px; }
    #top-bar .c2l { float: left; text-align: left; width: auto; }
    #top-bar .c2r { float: right; text-align: right; width: auto; }
    #top-bar .c2r ul { float: right; }
    #top-bar .c2r ul li { float: left; margin-right: 1.5em; padding-left: 0; background: none; }
    #top-bar .c2r ul li a { text-transform: uppercase; }
    
    /* Search */
	#search { color: #fff; float: right; font-size: 12px; padding-right: 35px; white-space: nowrap; position: relative; }
	#search .btn { position: absolute; top: -4px; right: -15px; }
	#search .middle input { font-size: 1em; padding: 4px 0 0 0; color: #b7b7b7; }
	#search .txt-rounded-container { float: left; }
    
    /* Menu */
    #menu {  }


/*--- Sub Header ---*/
#sub-header { }
#sub-header p { margin: 0; }


/*--- Home ---*/
.home #content { padding: 20px 55px; color: #474747; }
.home #content-primary { float: left; width: 309px; margin-left: 19px; padding: 0; }
.home #content-secondary { width: 245px; float: left; padding: 0; }
.home #content-tertiary { float: left; width: 245px; margin-left: 19px; padding: 0; }
.home #content-quaternary { clear: both; }
.home #content-quinary { clear: both; }
.home #breadcrumbs { display: none; }
.home #nav-secondary { display: none; }

/*--- Navigation ---*/
#nav { color: #fff; margin: 0; padding: 0.75em 0 0.85em; }

/*--- POPs ---*/
.pop-header { width: 190px; border: solid 1px #dedfe0; border-bottom: none; padding: 5px 18px 0 14px; height: 21px; }
.pop-header img { margin: 0; padding: 0; }
.pop-body { background: url('../images/pop-background.gif')/*tpa=http://www.kindredhealthcare.com/global/images/pop-background.gif*/ repeat-x; width: 114px; color: #474747; font-size:0.9em; line-height: 1.2; margin-bottom: 2em; border: solid 1px #dedfe0; min-height: 74px; border-top: none; box-shadow: -5px 5px 5px #000; padding: 12px 90px 8px 18px; position: relative;  }
.pop-body .EktronEditorsMenuMarker { display: none !important; }
.pop-image { position: absolute; bottom: 0; right: 0; padding: 0; margin: 0; vertical-align: baseline; z-index: 1; }
.pop-copy { position: relative; z-index: 10; }
.pop-btn { position: absolute; left: 15px; bottom: 8px; z-index: 10; }

/*--- POP Widget ---*/
.facility-pop .pop-header { border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; -webkit-border-top-left-radius: 5px 5px; -webkit-border-top-right-radius: 5px 5px; }
	/*-- Home --*/
	.home .facility-pop .pop-header { height: 24px; width: auto; padding: 10px 18px 5px; border-radius: 10px 10px 0 0; -moz-border-radius: 10px 10px 0 0; -webkit-border-top-left-radius: 10px 10px; -webkit-border-top-right-radius: 10px 10px; }
	.home .facility-pop .pop-body { padding: 20px; width: auto; font-size: inherit; line-height: inherit; border-radius: 0 0 10px 10px; -moz-border-radius: 0 0 10px 10px; -webkit-border-bottom-left-radius: 10px 10px; -webkit-border-bottom-right-radius: 10px 10px; }
	.home .facility-pop .pop-body h2 { margin: 10px 0 5px; text-transform: uppercase; }
	.home .facility-pop .pop-btn { position: static; text-transform: uppercase; }
    .home .facility-pop .hr { margin-left: 0; margin-right: 0; }

/*--- Rounded corners ---*/
.rounded-top { border-radius: 10px 10px 0 0; -moz-border-radius: 10px 10px 0 0; -webkit-border-top-left-radius: 10px 10px; -webkit-border-top-right-radius: 10px 10px; }
.rounded-top-sm { border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; -webkit-border-top-left-radius: 5px 5px; -webkit-border-top-right-radius: 5px 5px; }
.rounded-bottom { border-radius: 0 0 10px 10px; -moz-border-radius: 0 0 10px 10px; -webkit-border-bottom-left-radius: 10px 10px; -webkit-border-bottom-right-radius: 10px 10px; }
.rounded { border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; }
.rounded-sm { border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }

/*--- Drop Shadows ---*/
.dropshadow { -moz-box-shadow: 0 0 20px #bbb; -webkit-box-shadow: 0 0 20px #bbb; box-shadow: 0 0 20px #bbb; }

/*--- Tab background colors ---*/
.blue { background-color: #4b83b3; }
.light-blue { background-color: #84a8c8; }
.dark-blue { background-color: #056574; }
.orange { background-color: #d17522; }
.green { background-color: #90ae5d; }
.teal { background-color: #056f80; }
.yellow { background-color: #e2af27; }

/* Content
======================================================================*/
.icon { margin: 0 0.4em -1px 0; }

/*--- Footer ---*/
#footer { font-size: 0.9em; }
#footer-content h3 { text-transform: uppercase; font-size: 1.2em; font-weight: normal; margin-bottom: 1.5em; }
#footer-content .social-links { font-size: 10px; }
#footer, #footer a { color: #818181; }
#footer img { float: left; margin: 0.4em 0.05em 0 0; padding: 0.8em 0.6em 0.8em 0; }
#footer li { background: none; list-style-type: none; display: inline; }
#footer p, #footer ul { margin: 0; }

/*--- Forms ---*/
.check { display: none; }
.form { border: 0; font-size: 1em; line-height: 1.4; margin: 0; width: 100%; }
.form .c2l, .form .c2r { margin-bottom: 0; }
.form .mute { font-size: 0.8em; }
.form p { margin-bottom: 0.5em; }
.form table td, .form table th { font-size: 1em; }
.form td, .form th { background: none; border: 0; padding: 0.5em 0; }
.form th { font-weight: normal; padding-right: 2%; text-align: right; vertical-align: top; width: 14%; }

	/* Buttons */
	.btn { overflow: visible; margin-right: 0.5em; padding: 0.1em 0.6em 0.2em; }
	.btns { margin: 1.5em 0 1.5em 16%; }
	.content-secondary .btn { font-size: 1em; }
	
	/* Checklists */
	.checklist {
		border: 1px solid #ccc;
		max-height: 20em;
		line-height: 1.4;
		margin-bottom: 1em;
		overflow: auto;
	}
	
	.checklist input { margin-bottom: 1px; }
	.checklist label { display: block; padding: 0.1em 0 0.1em 25px; height: 1%; text-indent: -25px; }
	.checklist li { background: none; display: block; float: none; margin: 0; padding: 0; white-space: normal; width: 100%; }
	.checklist li p { margin: 0; padding: 1em 0 0; }
	.checklist li ul { margin: 0 0 0 2em; }
	.checklist .mute { font-size: 1em; white-space: nowrap; }
	.checklist p { font-weight: bold; margin-bottom: 0.25em; }
	.checklist .selected { background: #ffa; }
	.checklist ul { margin-bottom: 1em; }
	.form .checklist { margin-top: 0.5em; position: relative; width: 97%; }
	
	/* Date/time selector */
	table.dateTime { font-size: 1em; margin: 0; width: auto; }
	table.dateTime .info { font-size: 0.8em; }
	table.dateTime td, table.dateTime th { padding-top: 0; vertical-align: top; }
	table.dateTime td { padding-right: 0.5em; }
	table.dateTime th { font-size: 0.85em; padding: 0; text-align: left; width: 4em; }
	
	/* Full mode */
	.full .btns { margin-left: 16%; }
	.full .form th { width: 14%; }
	
	/* Name fields */
	.c-name-first, .c-name-last { width: 42%; }
	.c-name-middle { width: 3%; }
	
	/* Notifications */
	div.alert, div.confirm, div.notice { color: #000; margin-bottom: 1em; padding: 0.5em 1em 0 43px; }
	div.alert h6, div.alert p, div.confirm h6, div.confirm p, div.notice h6, div.notice p { font-weight: normal; margin-bottom: 0.5em; }
	div.alert li, div.confirm li, div.notice li { background: none; padding: 0; }
	div.alert .txt, div.confirm .txt, div.notice .txt { font-size: 1em; height: 7em; width: 98%; }
	div.alert ul, div.confirm ul, div.notice ul { list-style: disc outside; margin-left: 2em; }
	
		/* Alerts */
		.alert { color: #e30013; }
		div.alert { background: #ffd4d4 url(../images/admin/notify-alert.gif)/*tpa=http://www.kindredhealthcare.com/global/images/admin/notify-alert.gif*/ no-repeat 10px 0.5em; border: 3px solid #dd9898; }
		
		/* Confirmations */
		div.confirm { background: #d8ffd4 url(../images/admin/notify-confirm.gif)/*tpa=http://www.kindredhealthcare.com/global/images/admin/notify-confirm.gif*/ no-repeat 10px 0.6em; border: 3px solid #9edd98; }
		
		/* Notices */
		div.notice { background: #fff6d3 url(../images/admin/notify-notice.gif)/*tpa=http://www.kindredhealthcare.com/global/images/admin/notify-notice.gif*/ no-repeat 10px 0.6em; border: 3px solid #ffe27e; }
	
	/* Options */
	.options-h, .options-v { list-style: none; }
	.options-h input, .options-v input { margin-bottom: -0.05em; }
	.options-h img { border-bottom: 3px solid #fff; padding: 5px; vertical-align: middle; }
	.options-h li, .options-v li { background: none; clear: both; margin-bottom: 0.3em; padding: 0; }
	.options-h li { display: inline; margin-right: 0.7em; white-space: nowrap; }
	.options-v li { padding-left: 25px; text-indent: -25px; }
	.options-v li p { margin: 0; text-indent: 0; }
	
	/* Text boxes */
	input, textarea, select { color: #000; }
	.c2l input.txt, .c2r input.txt, .c3l input.txt, .c3m input.txt, .c3r input.txt { position: relative; width: 95%; }
	textarea.txt { font-size: 1em; padding: 0; width: 75%; }
	input.txt { width: 75%; }
	input.txt, input.txt-sm, input.txt-med, input.txt-tiny { padding: 0.2em; font-size: 12px; }
	input.txt-med { margin-right: 1em; width: 47%; }
	input.txt-sm { width: 7em; }
	input.txt-tiny { width: 3em; }
	
	    /* Rounded text boxes */
	    .txt-rounded-container { position: relative; display: inline; height: 23px; }
	    .txt-rounded-container .middle.txt { width: 22em; margin: 0; }
	    .txt-rounded-container input.txt { width: 22em; float: left; padding: 4px 0 0 0; }
	    .txt-rounded-container .middle.txt-med { width: 12em; margin: 0; }
	    .txt-rounded-container input.txt-med { width: 12em; float: left; padding: 4px 0 0 0; }
	    .txt-rounded-container .middle.txt-sm { width: 8em; margin: 0; }
	    .txt-rounded-container input.txt-sm { width: 7em; padding: 4px 0 0 0; }
	    .txt-rounded-container .middle.txt-tiny { width: 4em; margin: 0; }
	    .txt-rounded-container input.txt-tiny { width: 3em; padding: 4px 0 0 0; }
	    .txt-rounded-container .txt-rounded { width: 100%; padding: 0; margin: 0; }
	    .txt-rounded-container input { border: none; background: transparent; }
	    .txt-rounded-container .left { float: left; width: 9px; height: 23px; background: transparent url('../images/ui/textbox-left.png')/*tpa=http://www.kindredhealthcare.com/global/images/ui/textbox-left.png*/ no-repeat; }
	    .txt-rounded-container .middle { float: left; height: 23px; background: transparent url('../images/ui/textbox-middle.png')/*tpa=http://www.kindredhealthcare.com/global/images/ui/textbox-middle.png*/ repeat-x; }
	    .txt-rounded-container .right { float: left; width: 9px; height: 23px; background: transparent url('../images/ui/textbox-right.png')/*tpa=http://www.kindredhealthcare.com/global/images/ui/textbox-right.png*/ no-repeat; }
	    

/*--- Full layout ---*/
.full h1, .full h2 { margin-bottom: 1em; }
.full table { border: 0; }
.full thead th { background: none; }

/*--- Header ---*/
#header p { margin: 0; }
#logo { float: left; margin: 5px 0 0 30px; display: inline; }
#logo-print { display: none; }

/*--- Home page ---*/
.home table { border: 0; margin-top: 0; }
.home table p { margin: 0; }
.home tfoot { font-size: 0.8em; }

    /* POPs */
    .tab-md { width: 209px; border: solid 1px #dedfe0; border-bottom: none; padding: 10px 18px 5px 18px; height: 24px; }
    .tab-md img { margin: 0; padding: 0; }
    .tab-md-content { background: transparent url('../images/homepage-pop-background.gif')/*tpa=http://www.kindredhealthcare.com/global/images/homepage-pop-background.gif*/ repeat-x; padding: 20px 0; width: 245px; border: solid 1px #dedfe0; border-top: none; min-height: 388px;}
    .tab-lg { width: 273px; border: solid 1px #dedfe0; border-bottom: none; padding: 10px 18px 5px 18px; height: 24px;  }
    .tab-lg img { margin: 0; padding: 0; }
    .tab-lg-content { background: transparent url('../images/homepage-pop-background.gif')/*tpa=http://www.kindredhealthcare.com/global/images/homepage-pop-background.gif*/ repeat-x; padding: 20px 0 10px 0; width: 309px; border: solid 1px #dedfe0; border-top: none; }
    .tab-lg-content .view-all { margin: 0 0 0 20px; }
    .tab-md-content .view-all { margin-left: 20px; }

    /* News feed */
    #news-feed { padding: 0 20px; }
    #news-feed li { background: url('../images/dots-horizontal-gray.png')/*tpa=http://www.kindredhealthcare.com/global/images/dots-horizontal-gray.png*/ repeat-x 0 100%; padding: 0 0 0.5em 0; margin: 0 0 15px 0; }
    #news-feed li a { display: block; font-size: 1.1em; line-height: 1.2em; color: #474747; }
    #news-feed li a:hover { color: #6e94c4; }
    #news-feed .date { font-size: 0.8em; text-transform: uppercase; }

    /* Article feed */
    .home-article-widget .article-top { background-color: #4B83B3; width: 209px; border: solid 1px #dedfe0; border-bottom: none; padding: 10px 18px 5px 18px; height: 24px; border-radius: 10px 10px 0 0; -moz-border-radius: 10px 10px 0 0; -webkit-border-top-left-radius: 10px 10px; -webkit-border-top-right-radius: 10px 10px; }
    .home-article-widget .article-top .article-title-dark { display: none; }
    .home-article-widget .article-bottom { background: transparent url('../images/homepage-pop-background.gif')/*tpa=http://www.kindredhealthcare.com/global/images/homepage-pop-background.gif*/ repeat-x; padding: 20px 0; width: 245px; border: solid 1px #dedfe0; border-top: none; min-height: 388px; border-radius: 0 0 10px 10px; -moz-border-radius: 0 0 10px 10px; -webkit-border-bottom-left-radius: 10px 10px; -webkit-border-bottom-right-radius: 10px 10px; }
    .home-article-widget ul { padding: 0 20px; }
    .home-article-widget ul li { background: url('../images/dots-horizontal-gray.png')/*tpa=http://www.kindredhealthcare.com/global/images/dots-horizontal-gray.png*/ repeat-x 0 100%; padding: 0 0 0.5em 0; margin: 0 0 15px 0; }
    .home-article-widget ul li a { display: block; font-size: 1.1em; line-height: 1.2em; color: #474747; }
    .home-article-widget ul li a:hover { color: #6e94c4; }
    .home-article-widget ul li a .text-arrow { }
    .home-article-widget ul li a .image-arrow { display: none; background: transparent url('../images/bullets/blue-arrow.gif')/*tpa=http://www.kindredhealthcare.com/global/images/bullets/blue-arrow.gif*/ scroll no-repeat 0 0; height: 8px; width: 4px; }

    /* Family education */
    #family-education .image { width: 226px; margin: 0 auto; }
    #family-education .image .top { width: 226px; height: 12px; background: url('../images/image-shadow-top.png')/*tpa=http://www.kindredhealthcare.com/global/images/image-shadow-top.png*/ no-repeat; }
    #family-education .image .middle { width: 226px; padding: 5px 0; background: url('../images/image-shadow-middle.png')/*tpa=http://www.kindredhealthcare.com/global/images/image-shadow-middle.png*/ repeat-y; }
    #family-education .image .bottom { width: 226px; height: 12px; background: url('../images/image-shadow-bottom.png')/*tpa=http://www.kindredhealthcare.com/global/images/image-shadow-bottom.png*/ no-repeat; }
    #family-education .image img { display: block; margin: 0 auto; }
    #family-education h2 { text-transform: uppercase; margin: 10px 0 5px 20px; }
    #family-education p { padding: 0px 20px; }

	/*--- Virtual Tour Homepage POP ---*/
	#virtual-tour-home-pop { position: relative; width:285px; min-height: 288px; margin: 0 auto; padding: 0 11px 0 0; }
    #virtual-tour-home-pop .image { width: 285px; margin: 0 auto; }
    #virtual-tour-home-pop .image .top { width: 296px; height: 21px; background: url('../images/virtual-tour-pop-image-top.png')/*tpa=http://www.kindredhealthcare.com/global/images/virtual-tour-pop-image-top.png*/ no-repeat; }
    #virtual-tour-home-pop .image .middle { width: 296px; padding: 5px 0; background: url('../images/virtual-tour-pop-image-middle.png')/*tpa=http://www.kindredhealthcare.com/global/images/virtual-tour-pop-image-middle.png*/ repeat-y; }
    #virtual-tour-home-pop .image .bottom { width: 296px; height: 21px; background: url('../images/virtual-tour-pop-image-bottom.png')/*tpa=http://www.kindredhealthcare.com/global/images/virtual-tour-pop-image-bottom.png*/ no-repeat; }
    #virtual-tour-home-pop .image img { display: block; margin: 0 auto; }
    #virtual-tour-home-pop p { padding: 0px 20px; }



/*--- Icons ---*/
.file-icon { margin-right: 0.5em; }
.mini-add { background: url(../images/admin/icon-mini-add.gif)/*tpa=http://www.kindredhealthcare.com/global/images/admin/icon-mini-add.gif*/ no-repeat 0 50%; line-height: 1; margin-right: 0.5em; padding: 3px 0 3px 18px; white-space: nowrap; }
.mini-edit { background: url(../images/admin/icon-mini-edit.gif)/*tpa=http://www.kindredhealthcare.com/global/images/admin/icon-mini-edit.gif*/ no-repeat 0 50%; line-height: 1; margin-right: 0.5em; padding: 3px 0 3px 18px; white-space: nowrap; }
.mini-delete { background: url(../images/admin/icon-mini-delete.gif)/*tpa=http://www.kindredhealthcare.com/global/images/admin/icon-mini-delete.gif*/ no-repeat 0 50%; line-height: 1; margin-right: 0.5em; padding: 3px 0 3px 18px; white-space: nowrap; }

/*--- Links ---*/
.view-all { text-transform: uppercase; }

/*--- Muted text ---*/
.disclaimer { font-style: italic; }
.disclaimer, .mute, .form .mute { font-size: 0.9em; }
.disclaimer, .mute, .mute a { color: #7f8183; } 
#content-secondary .mute, #content-tertiary .mute, .mute .mute { font-size: 1em; }
h3 .mute { margin-left: 0.5em; }
.info, .mute, .info a, .mute a { color: #7f8183; }
h2 .info, h2 .mute { font-size: 0.55em; }
p.info, p.mute { margin-bottom: 0.5em; }
table .info, table .mute { font-size: 1em; }

/*--- Navigation ---*/
#nav { overflow: visible; margin: 0; padding: 0; float: right; width: 675px; }
#nav a { display: block; font-size: 18px; color: #FFF; cursor: pointer; }
#nav a span { line-height: normal; padding: 10px 20px; background: transparent url(../images/dots-vertical-white.png)/*tpa=http://www.kindredhealthcare.com/global/images/dots-vertical-white.png*/ repeat-y scroll right top; }
#nav li { cursor: pointer; padding: 0; margin: 0; position: relative; float: left; font-size: 0.9em; text-transform: uppercase; background: none; }
#nav li:hover { background: transparent url(../images/nav-highlight.gif)/*tpa=http://www.kindredhealthcare.com/global/images/nav-highlight.gif*/ repeat-x scroll left top; }
#nav li.last a span { background: none; }

	/*-- Dropdowns --*/
	#nav ul { display: none; position: absolute; left: 0; z-index: 3000; min-width: 100%; }
	#nav li:hover ul { display: block; }
	#nav li li { display: block; float: none; padding: 0; text-transform: none; line-height: normal; }
	#nav li li.first { padding-top: 10px; }
	#nav li li.last { padding-bottom: 10px; }
	#nav li:hover li { background: none; }
	#nav li li a { font-size: 1.2em; line-height: 2.4em; padding: 0 20px; white-space: nowrap; border: none; background: transparent url(../images/dots-horizontal-white.png)/*tpa=http://www.kindredhealthcare.com/global/images/dots-horizontal-white.png*/ repeat-x scroll left bottom; }
	#nav li li.last a { background-image: none; }
	
	/* Secondary navigation */
	ul#nav-secondary { background: url('../images/nav/bg-secondary-nav-full.gif')/*tpa=http://www.kindredhealthcare.com/global/images/nav/bg-secondary-nav-full.gif*/ repeat-x 0 40px; z-index: 2500; min-height: 353px; font-size: 1em; margin: 0; position: relative; top: -54px; width: 197px; }
	ul#nav-secondary a, ul#nav-secondary .selected { text-decoration: none; display: block; padding: 0.4em 0em; }
	ul#nav-secondary .selected { font-style: italic; }
	ul#nav-secondary li { background-image: url('../images/dots-horizontal-gray.png')/*tpa=http://www.kindredhealthcare.com/global/images/dots-horizontal-gray.png*/; background-repeat: repeat-x; background-position: 0 100%; width: 148px; margin: 0 8px; padding: 0 15px; }
	ul#nav-secondary li li { margin: 0; padding: 0 10px; width: 125px; background: transparent url('../images/bullets/blue-arrow.gif')/*tpa=http://www.kindredhealthcare.com/global/images/bullets/blue-arrow.gif*/ no-repeat scroll 0 0.5em; }
	ul#nav-secondary li li a, ul#nav-secondary li li .selected { font-size: 0.9em; padding: 0; }
	ul#nav-secondary li li a { color: #6d6e70; }
	ul#nav-secondary li li li { background: none; width: 100px; }
	ul#nav-secondary li li li a { color: #bbbbbb; }
	ul#nav-secondary ul { padding: 0 0 0.7em 0; margin: 0 0 0 3px; }
	ul#nav-secondary ul ul {  }
	ul#nav-secondary li.tab { width: 160px; border: solid 1px #dedfe0; z-index: 2500; margin: 0 0 20px; background-image: none; border-bottom: none; padding: 10px 18px 5px 18px; min-height: 26px; color: #fff; font-size: 17px; }

/*--- Pages ---*/
.pages { text-align: center; }
.pages li { background: none; display: inline; margin: 0 0 0 0.7em; padding: 0; }

/*--- Secondary/tertiary content ---*/
#content-secondary h3 { background: #214497; font-weight: normal; margin-bottom: 2em; }
#content-secondary h3 em {
	color: #3d5ca5;
	display: block;
	font-size: 4em;
	font-style: normal;
	font-variant: small-caps;
	letter-spacing: -0.05em;
	line-height: 0.75em;
	padding: 0.4em 0.5em 0;
}

/*--- Search Page ---*/
.search-panel .btn { margin-top: -5px; }

    /*--- Search results ---*/
    .docType { color: #000; font-size: 0.7em; font-weight: bold; margin-left: 0.3em; text-transform: uppercase; white-space: nowrap; }
    #search-results { margin-bottom: 1em; }
    #search-results h2 { font-size: 1.3em; margin: 1.75em 100px 0 100px; }
    #search-results p, #searchSort, #info { margin: 0 100px; }
    #search-results p br { display: none; }
    #searchPages { margin-top: 2em; text-align: center; }
    #searchPages a { padding: 0.5em; }
    #searchPages li { background: none; display: inline; margin: 0 0.2em; padding: 0; }
    
/*--- Sorting options ---*/
.sort li, .sort p, .sort select, .sort strong, .sort ul {
	background: none;
	border: 0;
	display: inline;
	font-size: 1em;
	margin: 0 2em 0 0;
	padding: 0;
	text-align: left;
}

/*--- Suggestions ---*/
.suggestions { position:relative; }
.suggestions div { position:absolute; background-color:#fff; border:1px solid #000; }
.suggestions div p { margin:0.3em 0 0.3em 0.5em; font-size: 0.8em; color:#666; }
.suggestions div ul { width:200px;  }
.suggestions div ul li { padding-left: 0; background-image:none; }
.suggestions div ul a { padding-left: 0.5em; display:block; }
.suggestions .highlighted, .suggestions a:hover { color:#fff; background-color:#1f5271; }


/*--- Tables ---*/
.col-opts { width: 10em; }

/*--- Video Library ---*/
#video-library {  }

	/*-- Horizontal Slider --*/
	#video-library .horizontal-slider { margin-bottom: 20px; }
	#video-library .horizontal-slider .video-wrapper { overflow: hidden; clear: both; padding: 20px 0 0 0; background: url('../images/gallery-background.png')/*tpa=http://www.kindredhealthcare.com/global/images/gallery-background.png*/ no-repeat; }
	#video-library .horizontal-slider .video-top { overflow: hidden; font-size:0.9em; margin: 0 20px; padding: 0 0 5px 0; background: url('../images/dots-horizontal-black.gif')/*tpa=http://www.kindredhealthcare.com/global/images/dots-horizontal-black.gif*/ repeat-x scroll 0 100%; }
	#video-library .horizontal-slider .video-nav { float: right; }
	#video-library .horizontal-slider .category-list { margin: 0 0 0 10px; }
	#video-library .horizontal-slider .category-list li { float: left; background: none; }
	#video-library .horizontal-slider .current-category { font-size: 1.55em; margin: 10px 0 0; }

	#video-library .horizontal-slider .slide-wrapper { clear: both; min-height: 175px; padding: 0 20px; overflow: hidden; background: url('../images/dots-horizontal-black.gif')/*tpa=http://www.kindredhealthcare.com/global/images/dots-horizontal-black.gif*/ repeat-x scroll 0 100%; }
	#video-library .horizontal-slider .slide-container { width: 999999px; min-height: 175px; }
	#video-library .horizontal-slider .slide { float: left; width: 900px; min-height: 175px; overflow: hidden; }

	#video-library .horizontal-slider .video { float: left; width: 138px; margin: 20px; cursor: pointer; }
	#video-library .horizontal-slider .video img { display: block; margin: 0 auto; }
	#video-library .horizontal-slider .video a.title { display: block; padding: 14px 5px 0; }
	#video-library .horizontal-slider .video .thumb { padding: 5px; height: 83px; display: inline-block; bordeR: 1px solid #ccc;}
	#video-library .horizontal-slider .video .description { display: none; }
	#video-library .horizontal-slider .video .mobile-link { display: none; }
	
	/*-- Vertical Slider --*/
	#video-library .vertical-slider { float: right; font-size: 0.9em; }
	#video-library .vertical-slider .recent-heading { font-size: 1.55em; }
	#video-library .vertical-slider .video-wrapper { overflow: hidden; height: 430px; width: 335px; }
	#video-library .vertical-slider .slide-up-button { position: relative; top: 14px; left: -20px; }
	#video-library .vertical-slider .slide-down-button { position: relative; top: -9px; left: -20px; }
	
	#video-library .vertical-slider .video { border: solid 1px #e5e5e5; padding: 10px; margin: 15px auto; overflow: hidden; background: #fff url('../images/video-info-background.png')/*tpa=http://www.kindredhealthcare.com/global/images/video-info-background.png*/ repeat-x scroll 0 100%; width:85%;}
	#video-library .vertical-slider .thumb { float: left; }
	#video-library .vertical-slider .details { float: right; width: 185px; padding-left: 10px; background: url('../images/dots-vertical-gray.png')/*tpa=http://www.kindredhealthcare.com/global/images/dots-vertical-gray.png*/ repeat-y; }
	#video-library .vertical-slider .details p { margin: 0.2em 0; }
	#video-library .vertical-slider .details a { font-weight: bold; color: #6E94C4; }
	#video-library .vertical-slider .details .title { color: #000; font-size: 1.25em; font-weight: bold; }
	#video-library .vertical-slider .details .description { display: none; }
	#video-library .vertical-slider .details .mobile-link { display: none; }
	
	/*-- Video Player --*/
	#video-library .video-player-wrapper { width: 450px; float: left; margin: 0 0 0 30px; }
	#video-library .video-player-wrapper .title { font-size: 1.5em; margin: 1em 0 0.8em; }
	#video-library .video-player-wrapper p { font-size: 1em; }
	#video-library .video-player-wrapper #video-player { width: 450px; height: 340px; }
	#video-library .video-player-wrapper #youtube-player { width: 450px; height: 340px; }
	
	/*-- Mini Video Library --*/
	#mini-video-library { position: relative; width:285px; min-height: 288px; margin: 0 auto; padding: 0 0 11px 0; background: transparent url(../images/video-player-top.png)/*tpa=http://www.kindredhealthcare.com/global/images/video-player-top.png*/ no-repeat; }
	#mini-video-library #video-player { position: absolute; width: 253px; height: 171px; left: 15px; top: 15px; }
	#mini-video-library #youtube-player { position: absolute; width: 253px; height: 171px; left: 15px; top: 15px; }
	
	#mini-video-library .top { position: relative; width: 285px; height: 215px; }
	#mini-video-library .middle { position: relative; width: 285px; background: url('../images/video-player-middle.png')/*tpa=http://www.kindredhealthcare.com/global/images/video-player-middle.png*/ repeat-y; }
	#mini-video-library .bottom { position: absolute; left: 0; bottom: -11px; width: 285px; height: 11px; background: url('../images/video-player-bottom.png')/*tpa=http://www.kindredhealthcare.com/global/images/video-player-bottom.png*/ no-repeat; }
	
	#mini-video-library .left-button { left: 14px; }
	#mini-video-library .right-button { right: 14px; }
	#mini-video-library .left-button, #mini-video-library .right-button { position: absolute; top: 22px; cursor: pointer; }
	
	#mini-video-library .slider { width: 255px; min-height: 70px; }
	#mini-video-library .slider .thumbs-wrapper { position: relative; left: 27px; overflow: hidden; width: 228px; }
	#mini-video-library .slider .thumbs-container { width: 99999px; overflow: hidden; }
	#mini-video-library .slider .thumb { float: left; width: 96px; font-size: 0.8em; cursor: pointer; line-height: 1.2em; }
	#mini-video-library .slider .thumb.even { margin: 0 34px 0 2px; }
	#mini-video-library .slider .thumb img { display: block; width: 94px; height: 50px; border: solid 1px #898989; }
	
	/*-- Modal Video Player --*/
	#video-modal { display: none; width: 450px; height: 375px; padding: 10px 10px 20px; background-color: #fff; }
	#modal-wrapper .close { float: right; font-size: 18px; padding: 18px 0 0; cursor: pointer; }
	#modal-player { width: 450px; height: 340px; }

/*--- Photo Gallery ---*/
#photo-gallery { }
#photo-gallery .current-category { float: left; font-size: 1.55em; margin-left: 20px; }
#photo-gallery .category-list { float: right; font-size: 0.9em; }
#photo-gallery .category-list li { background: none; float: left; }
#photo-gallery .photo-nav { float: right; margin: 0 20px 0 50px; font-size: 0.9em; }

#photo-gallery .slide-wrapper { clear: both; height: 280px; width: 860px; overflow: hidden; padding: 50px 20px 0; background: url('../images/gallery-background.png')/*tpa=http://www.kindredhealthcare.com/global/images/gallery-background.png*/ no-repeat scroll 0 15px; }
#photo-gallery .slide-container { width: 999999px; height: 280px; }
#photo-gallery .slide { float: left; width: 900px; height: 280px; overflow: hidden; }

#photo-gallery .photo { float: left; width: 138px; margin: 0 20px 15px; cursor: pointer; text-align: center; }
#photo-gallery .photo img { display: block; margin: 0 auto; }
#photo-gallery .photo a.title { display: none; padding: 0 5px; }
#photo-gallery .photo .thumb { padding: 5px; height: 83px; display: inline-block; }
#photo-gallery .photo:hover {  }


/*--- Event Calendar ---*/
#event-calendar-widget table { margin: 0; line-height: normal; }
#event-calendar-widget td, #event-calendar-widget th { padding: 0; text-align: center; }

	/*-- Ektron Overides --*/
	#event-calendar-widget .mv_eventContainer table { width: auto; }
	#event-calendar-widget .mv_eventContainer table td { background-color: #C5DAEF; padding: 10px; text-align: left; }
	#event-calendar-widget .mv_eventContainer table table td { padding: 0; line-height: 1.5em; }
	
		/* Month View */
		#event-calendar-widget .mv_weekdayDOWHeader, #event-calendar-widget .mv_TodayCell, #event-calendar-widget .mv_eventContainer table td { background-color: #c5daef; }
		#event-calendar-widget .mv_DateCellEmpty, #event-calendar-widget .mv_DateCell, #event-calendar-widget .mv_dayBorder { background-color: #F7F7F7; }
		#event-calendar-widget .mv_DateCellEmpty, #event-calendar-widget .mv_DateCell { vertical-align: middle; }
		#event-calendar-widget .mv_DateCellEmpty, #event-calendar-widget .mv_DateCellEmptyToday { text-align: left; }
		#event-calendar-widget .mv_DateCellEmpty a img { margin: 2px 0; }
		#event-calendar-widget .mv_MonthHeaderBkg { background-color: #4B83B3; color: #ffffff; }
		#event-calendar-widget .mv_MonthHeaderBkg a { color: #ffffff; }
		#event-calendar-widget .mv_MonthHeaderBkg br { display: none; }
		#event-calendar-widget .mv_MonthHeaderBkg img { visibility: hidden; }
	
		/* Day View */
		#event-calendar-widget .dv_DayHeaderBkg { background-color: #4B83B3; color: #ffffff; }
		#event-calendar-widget .dv_DayHeaderBkg a { color: #ffffff; }
		#event-calendar-widget .dv_DayHeaderBkg img { visibility: hidden; }
		#event-calendar-widget .dv_DayHeader br { display: none; }
		#event-calendar-widget .dv_DayHeaderPrev, #event-calendar-widget .dv_DayHeader, #event-calendar-widget .dv_DayHeaderNext { padding: 10px 0; background-color: transparent; }
		#event-calendar-widget .dv_BorderCell { background-color: #aaaaaa; height: 1px; }
		#event-calendar-widget .dv_BorderCell br { display: block; width: 1px; height: 1px; }
		#event-calendar-widget .dv_BorderCell img { visibility: hidden; }
		#event-calendar-widget .dv_HourCell { background-color: #F7F7F7; font-size: 12px; }
		#event-calendar-widget .dv_HourCell img { visibility: hidden; }
		#event-calendar-widget .dv_HourCellEve { background-color: #E0E0E0; font-size: 12px; }
		#event-calendar-widget .dv_HourCellEve img { visibility: hidden; }
		#event-calendar-widget .dv_EventLayer { left: 0; top: 0; visibility: hidden; }
		#event-calendar-widget .dv_EventLayer table { width: auto; }
		#event-calendar-widget #Div_HiddenEventLayer { display: none; }
		#event-calendar-widget .dv_EventTitle { background-color: #c5daef; }
		
		/* Event View */
		#event-calendar-widget .evt_TitleCell { background-color: #4B83B3; color: #ffffff; padding: 10px 0; }
		#event-calendar-widget .evt_TitleCell br { display: none; }
		#event-calendar-widget .evt_ViewDayCell, #event-calendar-widget .evt_ViewEvent { background-color: #ffffff; }
		#event-calendar-widget .evt_ViewDayCell br { display: none; }
		#event-calendar-widget .evt_DateCell { background-color: #c5daef; padding: 5px; }
		#event-calendar-widget .evt_DateCell img, #event-calendar-widget .evt_DateCell br { display: none; }


/*--- Contact Form ---*/
#contact-widget { margin-left: 20px; }
#contact-widget table { font-size: 1em; }
#contact-widget .txt { border: solid 1px #bbb; width: 90%; margin-bottom: 15px; font-size: 1em; }
#contact-widget textarea.txt { height: 115px; font-size: 1em; }
#contact-widget select { margin-bottom: 15px; padding: 0.2em; font-size: 1em; }
ul.error-messages { color: #FF0000; margin: 20px 10px; }
#contact-us-edit { padding: 10px; }
#contact-us-edit table { margin: 0; }
#contact-us-edit .chkFacility { margin-bottom: 15px; }
#contact-us-edit #gvInquiries input { width: 100%; }
#contact-us-edit .edit-inquiry-button { text-align: right; margin-top: 10px; }
#contact-us-edit-inquiries .new-inquiry .new-inquiry-name { width: 265px; }

/*--- Schedule Tour Widget ---*/
#schedule-tour-widget { margin-left: 20px; }
#schedule-tour-widget table { font-size: 1em; }
#schedule-tour-widget .txt { border: solid 1px #bbb; width: 90%; margin-bottom: 15px; font-size: 1em; }
#schedule-tour-widget textarea.txt { height: 115px; font-size: 1em; }
#schedule-tour-widget select { margin-bottom: 15px; padding: 0.2em; font-size: 1em; }
#schedule-tour-us-edit { padding: 10px; }
#schedule-tour-us-edit table { margin: 0; }
#schedule-tour-us-edit .chkFacility { margin-bottom: 15px; }
#schedule-tour-us-edit #gvInquiries input { width: 100%; }
#schedule-tour-us-edit .edit-inquiry-button { text-align: right; margin-top: 10px; }

/*--- Marketo Schedule Tour Widget ---*/
#marketo-schedule-tour-widget { margin-left: 20px; }
#marketo-schedule-tour-widget iframe { width: 100%;height: 650px; }
#marketo-schedule-tour-us-edit { padding: 10px; }
#marketo-schedule-tour-us-edit table { margin: 0; }
#marketo-schedule-tour-us-edit .chkFacility { margin-bottom: 15px; }
#marketo-schedule-tour-us-edit #gvInquiries input { width: 100%; }
#marketo-schedule-tour-us-edit .edit-inquiry-button { text-align: right; margin-top: 10px; }

/*--- Sitemap ---*/
#sitemap {  }
#sitemap ul { margin: 0.5em 0 0.75em; }
#sitemap li { background: none; margin: 0.5em 0; }
#sitemap li li { padding-left: 1.75em; margin: 0.25em 0; }
#sitemap li li li { padding-left: 1.0em; }
#sitemap li a { margin: 0.25em 0; }
#sitemap li a.section { color: #474747 !important; font-size: 1.15em; }
#sitemap li li a { color: #a2a2a2 !important; }
#sitemap li li li a { color: #bbb !important; }

	/*-- Expander --*/
	#sitemap .expander { display: inline-block; height: 11px; width: 11px; cursor: pointer; margin: 0 0.8em 0 0; }
	#sitemap .expander.open { background: url('../images/buttons/expander-open.gif')/*tpa=http://www.kindredhealthcare.com/global/images/buttons/expander-open.gif*/ no-repeat scroll 0 0; }
	#sitemap .expander.close { background: url('../images/buttons/expander-close.gif')/*tpa=http://www.kindredhealthcare.com/global/images/buttons/expander-close.gif*/ no-repeat scroll 0 0; }
	#sitemap .expander.no-expand { cursor: default; }

.sitemap-edit .checkbox-list { height: 300px; overflow: auto; margin: 0 0 20px 0; border: solid 1px #bebebe; }


/*--- News Page Listing Widget ---*/
#news-page-listing { padding: 0; }
#news-page-listing li { background: url('../images/dots-horizontal-gray.png')/*tpa=http://www.kindredhealthcare.com/global/images/dots-horizontal-gray.png*/ repeat-x 0 100%; padding: 0 0 25px 0; margin: 25px 0 0; }
#news-page-listing li .title { font-size: 1.3em; line-height: 1.4em; }
#news-page-listing li a.title { display: block;  color: #474747; }
#news-page-listing li a.title:hover { color: #6e94c4; }
#news-page-listing .date { font-size: 0.9em; line-height: 3.5em; text-transform: uppercase; }
#news-page-listing .blurb { font-size: 1em; line-height: 1.7em;}
#news-page-listing .blurb li { background: url("../images/bulletBlue.gif")/*tpa=http://www.kindredhealthcare.com/global/images/bulletBlue.gif*/ no-repeat scroll 0 0.5em transparent; padding: 0 0 0 1.15em; margin: 0; }

/*--- Article Page Listing Widget ---*/
#article-page-listing { padding: 0; }
#article-page-listing li { background: url('../images/dots-horizontal-gray.png')/*tpa=http://www.kindredhealthcare.com/global/images/dots-horizontal-gray.png*/ repeat-x 0 100%; padding: 0 0 25px 0; margin: 25px 0 0; }
#article-page-listing li .title { font-size: 1.3em; line-height: 1.4em; }
#article-page-listing li a.title { display: block;  color: #474747; }
#article-page-listing li a.title:hover { color: #6e94c4; }
#article-page-listing .date { font-size: 0.9em; line-height: 3.5em; text-transform: uppercase; }
#article-page-listing .summary { font-size: 1em; line-height: 1.7em;}
#article-page-listing .summary li { background: url("../images/bulletBlue.gif")/*tpa=http://www.kindredhealthcare.com/global/images/bulletBlue.gif*/ no-repeat scroll 0 0.5em transparent; padding: 0 0 0 1.15em; margin: 0; }

/*--- Success Story Page Listing Widget ---*/
#success-story-listing { padding: 0; }
#success-story-listing li.png { background: url('../images/dots-horizontal-gray.png')/*tpa=http://www.kindredhealthcare.com/global/images/dots-horizontal-gray.png*/ repeat-x 0 100%; padding: 0 0 25px 0; margin: 25px 0 0; }
#success-story-listing li .title { font-size: 1.3em; line-height: 1.4em; }
#success-story-listing li a.title { display: block; color: #474747; }
#success-story-listing li a.title:hover { color: #6e94c4; }
#success-story-listing .date { font-size: 0.9em; line-height: 3.5em; text-transform: uppercase; }
#success-story-listing .success-story { font-size: 1em; line-height: 1.7em;}

/*--- Virtual Tour ---*/
#virtual-tour-frame { width: 100%; height: 400px; overflow: hidden; border: none; }

/*--- Inquiry History ---*/
#inquiry-history-data { background-color:#fff;width:926px;position:relative;left:-12px;padding:12px; }
#inquiry-history-data .simple_overlay {/* must be initially hidden */display:none;/* place overlay on top of other elements */z-index:10000;/* styling */background-color:#dedede;width:880px;border:1px solid #666;/* CSS3 styling for latest browsers */-moz-box-shadow:0 0 90px 5px #000;-webkit-box-shadow: 0 0 90px #000;padding:35px;top:0 !important;left:0 !important;}
#inquiry-history-data .simple_overlay .close {background-image:url('../images/icon-close-x.png')/*tpa=http://www.kindredhealthcare.com/global/images/icon-close-x.png*/;position:absolute;right:-15px;top:-15px;cursor:pointer;height:35px;width:35px;}
#inquiry-history-data .simple_overlay label { width:150px;float:left;clear:left; }
#inquiry-history-data .simple_overlay span { width:650px;float:left;margin-left:20px; }
#inquiry-history-data .filter-control { margin-bottom:20px; }
#inquiry-history-data .filter-control label { float:left;width:100px;clear:left; }
#inquiry-history-data .filter-control input[type='text'] { float:left;margin-left:10px; }
#inquiry-history-data .filter-control input[type='submit'] { float:left;clear:left;}
#inquiry-history-data input[type='submit'] {background-color: #efefef;border: solid 1px #bebebe;color: #5e5e5e;cursor:pointer;}
#inquiry-history-data table#AllInquiryHistory input[type='submit'] {background-color: #efefef;border: solid 1px #bebebe;color: #5e5e5e;cursor:pointer;} 
#inquiry-history-data table#AllInquiryHistory {font-size:1em;} 
#inquiry-history-data table#AllInquiryHistory a {color:#6394C4;} 
#inquiry-history-data ul.simple-nav { height:30px; }
#inquiry-history-data ul.simple-nav { margin-left:0; }
#inquiry-history-data ul.simple-nav li { background:none;float:left;padding-left:0;margin-right:10px; }
#inquiry-history-data ul.simple-nav li a,#inquiry-history-data ul.simple-nav li span { margin-left:10px;padding:0;text-decoration:none; }

/*--- Locator Sync ---*/
#locator-sync { }
#locator-sync table { margin-bottom: 1.75em; }
#locator-sync table td, #locator-sync table th { border-bottom: 1px solid #000000; }
#locator-sync .button {background-color: #efefef;border: solid 1px #bebebe;color: #5e5e5e;cursor:pointer;}
#locator-sync .success { color: #008000; }
#locator-sync .error { color: #D00000; }

/*--- Blog Widgets ---*/  /*-- OLDER WIDGET --*/
.blog-post-listing { border-right: 1px dotted #708090; margin: 0 10px 0 0; padding: 0 10px 0 0; list-style: none; }
.blog-post-listing > li { background: transparent url("../images/dots-horizontal-gray.png")/*tpa=http://www.kindredhealthcare.com/global/images/dots-horizontal-gray.png*/ repeat-x scroll 0 100%; margin: 0 0 20px; padding: 0 0 20px; }
.blog-post { }
.blog-post .post-title { font-size: 22px; line-height: 30px; padding: 0 0 5px; margin: 0; }
.blog-post .post-creator { float: left; font-style: italic; color: #F4A460; font-size: 14px; }
.blog-post .post-date { float: right; font-style: italic; color: #F4A460; font-size: 14px; }
.blog-post .post-content { clear: both; padding: 15px 0 0; overflow: hidden; }
.blog-post .post-content ul { list-style-position: inside; list-style-type: square; }
.blog-post .post-content ul li { background-image: none; padding-left: 0; }
.blog-post .read-more { display: block; margin-top: 20px; }
.blog-post .read-more img { vertical-align: middle; }

/*General Remote Blog Styles*/
.full.blog-page .content .EktronEditorsMenuMarker {display:none !important; }  
.blog-img-header {/*margin: -24px 0px 0px -23px;*/ padding-bottom:10px; }
.blog-img-header img {max-width:100%; }
.blog-page #breadcrumbs { display: none; }

/*Remote Blog Pager*/
.blog-pager {text-align:center; }
.blog-pager li { background: none; display: inline-block; margin: 0 0.2em; padding: 0; }   
.bloger-page li a {padding: 0.5em;}  
.full #content-primary .content .blog-pager li.active a {cursor: default; color:#000;}         
.full #content-primary .content .blog-pager li.active a:hover {text-decoration:none; }

/*Remote Blog List and Post Widgets*/
.blog-page .blog-post .post-heading h2, .blog .blog-post .post-heading a h2, .blog .blog-post .post-heading h1 {  text-transform:none; font-weight:bold; font-size: 2em; color: #006f80; margin-bottom:0; line-height:1.4;}  
.blog-page .blog-post .post-heading {border-bottom: 4px double #eee;padding-bottom: 7px;}
.blog-page #content-primary .blog-post h2 a, .blog-page #content-primary .blog-post h1 { color: #006f80; margin-bottom: 0; text-transform: none; }
.blog-page #content-primary .blog-post h1 { font-size: 2em; font-weight: bold; line-height: 1.4em; }
.blog-page .blog-post .date {padding-top: 10px;color: #757575;font-size: 1.2em;font-weight: normal;text-transform: uppercase;  }
.blog-page .blog-post .post-poll { margin: 2em 0; }
.blog-page .blog-post .post-poll .title {border-bottom: 1px solid #EEEEEE; font-size: 1.5em;margin-bottom: .5em; }
.blog-page .blog-post .pollframe { width: 100%; }    
.blog-page .blog-post img { max-width:100%;}       
.blog-page .blog-post .readmore {display:block; margin:0.8em 0;clear: both;}
.blog-page #content-primary .blog-post .readmore a { color: #006f80; }
.blog-page .blog-post blockquote {color: #141310; background: #E7E6E2 url("../images/blockquote.gif")/*tpa=http://www.kindredhealthcare.com/global/images/blockquote.gif*/ no-repeat scroll 0 0; font-style: italic; font-size: 14px; line-height: 22px; margin: 20px 0; padding: 20px 20px 20px 45px; }
.blog-page .blog-post blockquote p { padding: 0;margin: 0;}
.blog-page .blog-post h2 { margin-bottom: 0; }
.blog-page .blog-image { }
.blog-page .blog-image.aligncenter { margin-left: auto; margin-right: auto; }
.blog-page .blog-image.alignleft { float: left; margin-right: 1em; }
.blog-page .blog-image.alignright { float: right; margin-left: 1em; }
.blog-page .blog-image span { color: #888888; font-style: italic; }
.blog-page .blog-image img { width: 100%; }
.blog-page .meta {color:#666; margin:10px 0 20px 0; overflow: hidden;}
.blog-page .tags {float:right; text-align: right; max-width: 425px;}   
.blog-page #content-primary .tags a { color: #474747; }
.blog-page .post-footer {margin: 10px 0 30px 0; border-bottom: 1px solid #eee; }
.blog-page .social-share { border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; padding: 8px 0; margin: 0; }
.blog-page .social-share .share-label { font-size: 1.25em; }       
.blog-page .comments {margin-top:10px; padding-bottom:8px; float:left;}            
.blog-page .categories {float:right;margin: 10px 0; max-width:450px; text-align:right;}   
.blog-page .share-label {font-weight:bold; }
             
/* Remote Blog Post Comments */
.remote-blog-post-widget .comments-title { font-size: 1.5em; }
.remote-blog-post-widget .post-comments .post-comment { margin: 0 0 1em; }
.remote-blog-post-widget .post-comments .post-comment .post-comment-image { float: left; }
.remote-blog-post-widget .post-comments .post-comment .post-comment-inner { background-color: #F3F3F3; padding: 1.75em; margin-left: 100px; }
.remote-blog-post-widget .post-comments .post-comment .post-comment-author { font-weight: bold; }
.remote-blog-post-widget .post-comments .post-comment .post-comment-permalink { font-size: 0.75em; }
.remote-blog-post-widget .post-comments .post-comment .post-comment-date { color: #777777; font-size: 0.9em; }
.remote-blog-post-widget .post-comments .post-comment .post-comment-message { margin: 0.5em 0 1em; }
.remote-blog-post-widget .post-comments .post-comment .post-comment-reply { text-align: right; }
.remote-blog-post-widget .post-comments .post-child-comment { margin-left: 100px; }
.remote-blog-post-widget .post-comments .post-child-comment .post-comment-image { width: 50px; }
.remote-blog-post-widget .post-comments .post-child-comment .post-comment-inner { border-left: 5px solid #6e94c4; margin-left: 60px; margin-right: 10px; }
.remote-blog-post-widget .post-comments .post-reply.inline-reply { background-color: #e9f1fb; display: none; margin: 10px 10px 1em 100px; padding: 1em; }
.remote-blog-post-widget .post-comments .post-reply { margin-top: 20px; }
.remote-blog-post-widget .post-comments .post-reply .title { border-bottom: 1px solid #EEEEEE; font-size: 1.5em; margin-bottom: 1em; }
.remote-blog-post-widget .post-comments .post-reply .post-comment-field { padding: 5px 0; }
.remote-blog-post-widget .post-comments .post-reply .post-comment-field label { display: inline-block; width: 65px; }
.remote-blog-post-widget .post-comments .post-reply .post-comment-field input { width: 250px; }
.remote-blog-post-widget .post-comments .post-reply .post-comment-field textarea { resize: vertical; width: 98%; }
.remote-blog-post-widget .post-protected .error { color: #ff0000; }

/*Remote Blog Sidebar Widgets*/
.blog-sidebar-widget {padding-left: 45px; margin-top:12px;}   
.blog-sidebar-widget h2 {text-transform:uppercase; color: #333;border-bottom: 1px solid #eee;margin-bottom:6px;}    
#content-primary .blog-sidebar-widget h2 a { color: #006f80; }
.blog-sidebar-widget ul li {padding: 0px 0 6px 10px; margin-bottom:6px; border-bottom: 1px solid #eee; }     
.blog-sidebar-widget.subscribe-widget { padding-left: 33px; }
.blog-sidebar-widget.twitter-widget { padding-left: 33px; }
.blog-sidebar-widget.archive-widget { margin-bottom: 20px; }
.blog-sidebar-widget.categories-widget { margin-bottom: 20px; }

/*Remote Blog Recent Post Widget*/
#content-primary .remote-blog-recent-posts-widget a { color: #f58220; }

/*Remote Blog Filters Widget*/
.remote-blog-filters-widget .filters h1 { margin-bottom: 0; }
.remote-blog-filters-widget .filters .archive-comment { float:right;margin-bottom: 8px;  }
.remote-blog-filters-widget .filters ul {clear:both; border-top:1px dotted #333; margin-top:5px;}  
.remote-blog-filters-widget .filters li {background:none; border-bottom:1px dotted #333; margin-bottom:0;}
.remote-blog-filters-widget .filters li a {display: block; margin: 0;  }       
.remote-blog-filters-widget .filters li:hover {background-color: #F8F8F7;}    
.remote-blog-filters-widget .filters li a span {float: left; margin-right: 3em; padding: .5em 0 .5em .5em; width: 130px; color: #666;text-align: left; }
.remote-blog-filters-widget .filters li a span.title { width: 365px; margin-right: 0; }
.remote-blog-filters-widget .filters li a span.comments {margin-right: 5px; padding-left: 0; width: 35px;color: #666; float:right;text-align:right;}

.subscribe-widget .subscribe-results p {margin-bottom:0; }
.subscribe-widget .subscribe-results.error { color: #ff0000; }
.subscribe-widget .subscribe-results.success { color: green; }

/*Move Site Search down into right side bar*/
.blog-page #search { position: absolute; right: 42px; top: 354px; }
.blog-page #search .middle input { width: 187px; }
.blog-page .subscribe-widget { margin-top: 42px; }

/*Mobile Menu*/
.mobile-menu-trigger { display: none; }