/*--------------------------+
 | Site: Kindred Healthcare |
 | Part: Print styles       |
 +--------------------------*/


/* Hide unnecessary elements
=====================================================================*/
#credit, 
#content-secondary,
#content-tertiary,
#footer-content,
#top-bar,
#header-image,
#overlay,
#header-shadow,
.DD_roundies_sizeFinder {
	display: none !important;
}

#nav { visibility: hidden !important; }

.home #header-image { display: block !important; }
.home #top-bar { display: block !important; visibility: hidden !important; }

.ignore { display: none !important; }
/*#logo .ignore { display: block !important; }*/
.png { display: block !important; visibility: visible !important; }


/* Basics
======================================================================*/
body { background: none; padding: 0; border: 0; font-size: 12pt; color: #000 !important; }
h1, h2, h3, h4, h5, div, p, ul, li { color: #000 !important; }
.content ul { list-style: square; margin-left: 2em; }
.content ul li { background: none; padding: 0; }


/* Core layout
======================================================================*/
#content, 
#content-primary, 
#header, 
#header-content, 
#page, 
* html #page {
	background: none;
	border: 0;
	float: none;
	max-width: 100%;
	min-width: 0;
	padding: 0;
	width: 100%;
}
#page { width: 100% !important; }

#footer { background: none; border-top: 1px solid #ddd; }
#header { margin: 0; width: 950px !important; }

#page-container { background: none; width: 100% !important; }
#breadcrumbs { background: none !important; border-bottom: dotted 1px #000 !important; padding-top: 1em !important; }

.home #content-primary, .home #content-secondary, .home #content-tertiary { display: block !important; }
.home #news-feed li a { font-size: 0.9em !important; }

.interior #menu-container,
.partial #menu-container,
.full #menu-container {
	height: auto !important;
}


/* Content
======================================================================*/
/*--- Footer ---*/
#footer li { border: 0; }
#footer .footer-logo { display: block; }