/* THIS STYLESHEET IS UNDER CORPORATE-WIDE GOVERNANCE.  STYLES MAY NOT BE ADDED, DELETED OR CHANGED WITHOUT PROPER APPROVAL AND CHANGE CONTROL. */
/* Contact: Corporate Systems Support-Corporate Marketing team*/
/* Setting base font size to 12px and then defining it so that relative sizes are based on that*/
body, td, th, p, input, textarea, select, button {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
body,
body td,
body th,
body p, input, textarea, select, button {
	font-size: small;
}

html>body,
html>body td,
html>body th
html>body p
html>body input
html>body textarea
html>body select
html>body button {
	font-size: small;
}


/* TAG LEVEL RULES */
body {
	margin: 0;
	background-color: #ffffff;
	color: #000000;
	background-image: url("../../data/Watermark/watermark.gif")/*tpa=http://www.principal.com/allweb/data/Watermark/watermark.gif*/;
   background-repeat: repeat;
   background-position: center;
	}
a:link {
	color: #003366;
	}
a:visited {
	color: #663366;
	}
a:active {
	color: #6699cc;
	}
a:hover {
	color: #6699cc;
	}
h1 {
	font-size: 120%;
	}
h2 {
	font-size: 115%;
	margin-bottom: 5px;
	}
h3 {
	font-size: 105%;
	margin-bottom: 5px;
	}
h4 {
	font-size: 100%;
	margin-bottom: 5px;
	}
th {								/*to follow standards the default th is bottom, left aligned*/
	text-align: left;
	vertical-align: bottom;
}
th.center {						/*to be used for th cells that span multiple columns*/
	text-align: center;
	vertical-align: bottom;			
}
form {
      margin:0;
  }
fieldset {
	border: 1px solid #003366;
	padding: 10px;
	}
fieldset fieldset { /*nested fieldsets*/
  border:1px solid #999999;
  }
legend {
	color: #003366;
	font-weight: bold;
	}
table {
 	border: none;
	}
thead {
	display: table-header-group;
	}
caption {
	text-align: left;
	font-weight: bold;
	padding-bottom: 5px;
	}	
sup {
	text-transform: uppercase;
  	vertical-align: super;
	font-size: 80%;
	}
sup.mixedcase {
	text-transform:none;
  	vertical-align: super;
	font-size: 80%;
}
hr {
	background-color: #003366;
	color: #003366;
}	
hr.thin {
	color: #003366;
	height: 1px;
	width: 95%;
	margin-right: auto;
	margin-left: auto;
	}
img {
    border:none;
}
/* Hide the link for non-screen reader user agents*/
.skipnav a{
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}
/*.skipnav a:focus{
	position:static;
	width: auto;
	height: auto;
}*/
/*LIST STYLES*/
ul {
	list-style-type: disc;
}
ul ul {
	list-style-type: circle;
}
ul ul ul {
	list-style-type: square;
}
ol.upperalpha {
	list-style-type: upper-alpha;
}
ol.loweralpha {
	list-style-type: lower-alpha;
}
ol.upperroman {
	list-style-type: upper-roman;
}
ol.lowerroman {
	list-style-type: lower-roman;
}
li.double {             /*allows for extra spacing between list items*/
	margin-top: 10px;
	}
li.bullets
{             /*allows for extra spacing between list items*/
	margin-top: 10px;	
    list-style-position: inside;
list-style-type: disc;
 text-indent: -1.5em;
  
	}

li.corpone {
margin-top: 10px;
text-align: left;
}
li.corbullets {
margin: 10px 2px 1px 415px;	
}


ul.prelist{                 /*allows for some space above a list*/
	margin-top: -12px;
	}
ul.nobullets {				   /*allows for a list without any bullets*/
	list-style-type: none;
	}
/*styles for definition lists or glossaries*/
dt { 
	font-size: 105%;
	font-weight: bold;
	margin: 2px 0 10px 0;
	padding: 0;
}
dd {
	margin: 10px 0 10px 25px;
	padding: 0;
}
/*styles for definition lists used as footnotes*/
.footnotelist dt{ 
  font-weight: bold;
  margin: 2px 0 0 0;
  padding: 0;
}
.footnotelist dd {
	margin: 0 0 5px 15px;
   padding: 0;
}
/* GENERAL TEXT RULES */
.textbold, strong {
	font-weight: bold;
	}
.textnormal {
	font-weight: normal;
	}
.italics, em {	
	font-style: italic;
	}
.textsmall {
	font-size: 75%;
}
.textmedium {
	font-size: 80%
}
.textlarge {
	font-size: 110%;
}
.negativenumber {
 color: #cc0000;
}
.positivenumber {
 color: #006600;
}
.codetext {
	font-family:"Courier New", Courier, monospace;
}
/* WRAPPING */
.nowrap {
	white-space: nowrap;
	}
.wrap {
	white-space: normal;
	}
.prewrap {
	white-space: pre;
	}

/* ALIGNMENT RELATED */
.aligntop {
	vertical-align: top;
	}
.alignmiddle {
	vertical-align: middle;
	}
.alignbottom {
	vertical-align: bottom;
	}
.alignleft {
	text-align: left;
	}
.aligncenter {
	text-align: center;
	}
.alignright {
	text-align: right;
	}
.alignjustify {
	text-align: justify;
	}

/* ELEMENT VISIBILITY/DISPLAY */
.displaynone {
	display: none;
	}
.displayinline {
	display: inline;
	}
.displayblock {
	display: block;
	}
.visibilityhidden {
	visibility: hidden;
	}
.visibilityvisible {
	visibility: visible;
	}
	
/* CSS POSITIONING (TABLELESS LAYOUT) */
.clearleft {
	clear: left;
	}
.clearright {
	clear: right;
	}
.clearboth {
	clear: both;
	}
.floatleft {
	float: left;
	}
.floatright {
	float: right;
	}
.spacebefore {          /*Allows for space above an element*/
	margin-top: 15px;
}
/* CSS IMAGE PLACEMENT */

.imageleft {
	float: left;
	margin: 10px;
	}
.imageright {
	float: right;
	margin: 10px;
	}
.imagecenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}
.calendaricon {
	border: none;
	margin :0 0 3px 2px;
	vertical-align:text-bottom;
	}	
/* BUTTONS */
.keyactionbutton{
 border:1px outset #ccc;
 background: #cf7011 url(../../images/common/styles/keyaction-btn.png)/*tpa=http://www.principal.com/allweb/images/common/styles/keyaction-btn.png*/ repeat-x;
 font-weight: bold;
 font-size: 86%;
 color: #ffffff;
 cursor: pointer;
 margin:0 2px 0 0;
 padding:2px 5px 2px 5px;
 -webkit-border-radius: 6px;
 -moz-border-radius: 6px;
  border-radius: 6px;
 /*-webkit-background-clip: content;
 -moz-background-clip: content;
 background-clip: content;	*/
}

.submitbutton, .defaultbutton {
 border:1px inset #999;
 background: #003366 url(../../images/common/styles/submit-btn.png)/*tpa=http://www.principal.com/allweb/images/common/styles/submit-btn.png*/ repeat-x;
 font-weight: bold;
 font-size: 86%;
 color: #ffffff;
 cursor: pointer;
 margin:0 2px 0 0;
 padding:2px 5px 2px 5px;
 -webkit-border-radius: 6px;
 -moz-border-radius: 6px;
 border-radius: 6px;
	}
.continuebutton {
 border:1px outset #999;
 background:#999966 url(../../images/common/styles/continue-btn.png)/*tpa=http://www.principal.com/allweb/images/common/styles/continue-btn.png*/ repeat-x;
 font-weight: bold;
 font-size: 86%;
 color: #ffffff;
 cursor: pointer;
 margin:0 2px 0 0;
 padding:2px 5px 2px 5px;
 -webkit-border-radius: 6px;
 -moz-border-radius: 6px;
  border-radius: 6px;
	}
.cancelbutton {
 border:1px outset #999;
 background: #990033 url(../../images/common/styles/cancel-btn.png)/*tpa=http://www.principal.com/allweb/images/common/styles/cancel-btn.png*/ repeat-x;
 font-weight: bold;
 font-size: 85%;
 color: #ffffff;
 cursor: pointer;
 margin:0 2px 0 0;
 padding:2px 5px 2px 5px;
 -webkit-border-radius: 6px;
 -moz-border-radius: 6px;
   border-radius: 6px;
-webkit-background-clip: padding-box;
-moz-background-clip: padding-box;
background-clip: padding-box;
}
/*disabled button style for all buttons*/
input[type="button"][disabled], input[type="submit"][disabled], input[type="reset"][disabled] {	
border:2px outset #C3C3C3;
 background: #d2d2d2 url(../../images/common/styles/disabled-btn.png)/*tpa=http://www.principal.com/allweb/images/common/styles/disabled-btn.png*/ repeat-x;
 font-weight: bold;
 color: GrayText;
 cursor: default;
 margin:0 2px 0 0;
 padding:2px 5px 2px 5px;
 -webkit-border-radius: 6px;
 -moz-border-radius: 6px;
 border-radius: 6px;
}

/* FORM FIELD RULES */
.fieldhintright {
	font-size: 80%;
	}
.fieldhintbelow {
	font-size: 80%;
	display: block;
	}
.fieldlabel {
	font-weight: bold;
	text-align: right;
	vertical-align: top;
	padding-top: 5px;
	padding-right: 5px;
	}
.fieldlabeldisabled {
	font-weight: bold;
	text-align: right;
	vertical-align: top;
	padding-top: 5px;
	padding-right: 5px;
	color: #999999;
	}
.fielddisabled {
	background-color: #cccccc;
	color: #999999;
	}
.readonly { 
	border:1px solid #999999;
	color:#666666;
	}
/* TABLE RULES */
.datatable {                   /*adds a line at the bottom row of the table*/
	border-bottom: 1px solid #003366;
}
.datatable td, .datatable th {
	padding: 2px;
 	border: none;
	}
.formtable td, .formtable th {
	vertical-align: top;
	padding-top: 5px;
	}
.rowtotal td, .rowtotal th {			/*Style for totaling a row */
	border-top: 1px solid black;
	padding: 4px 0 4px 0;
	font-weight: bold;
}
td.columnborderright, th.columnborderright{ /*style for adding right border column on complex tables*/
	border-right:1px solid #b0b084;
}
/*Table option 2 - smaller font size*/
.datatableopt2 {
	border-bottom: 1px solid #003366;
	}
.datatableopt2 td{
	font-size: 85%;
	}
.datatableopt2 th {
	font-size: 85%;
	}
.datatableopt2 ul {
	margin-left: 15px;
	padding: 0 0 0 5px;
	}
/*Styles for links in dark table headers or subheaders*/
a.whitelink:link {
	color:#ffffff;
	}
a.whitelink:visited {
	color:#ffffff;
	}
a.whitelink:hover {
	color:#ffffff;
	}
a.whitelink:active {
	color:#ffffff;
	} 
.tableheadopt1  a:link, 
.tableheadopt2  a:link, 
.tableheadopt3  a:link, 
.tableheadopt4  a:link, 
.tableheadopt5  a:link, 
.tableheadopt6  a:link,
.tableheadopt7  a:link {
	color:#FFFFFF;
	}
.tableheadopt1  a:visited, 
.tableheadopt2  a:visited, 
.tableheadopt3  a:visited, 
.tableheadopt4  a:visited, 
.tableheadopt5  a:visited, 
.tableheadopt6  a:visited,
.tableheadopt7  a:visited {
	color:#FFFFFF;
	}
.tableheadopt1  a:active, 
.tableheadopt2  a:active,
.tableheadopt3  a:active, 
.tableheadopt4  a:active, 
.tableheadopt5  a:active, 
.tableheadopt6  a:active,
.tableheadopt7  a:active {
	color:#FFFFFF;
	}
.tableheadopt1  a:hover, 
.tableheadopt2  a:hover,
.tableheadopt3  a:hover, 
.tableheadopt4  a:hover, 
.tableheadopt5  a:hover, 
.tableheadopt6  a:hover,
.tableheadopt7  a:hover  {
	color:#FFFFFF;
	}
.tablesubheadopt4  a:link,
.tablesubheadopt5  a:link,  
.tablesubheadopt6  a:link,
.tablesubheadopt7  a:link {
 color:#003366;
 }
.tablesubheadopt4  a:visited,
.tablesubheadopt5  a:visited,  
.tablesubheadopt6  a:visited,
.tablesubheadopt7  a:visited {
 color:#003366;
 }
.tablesubheadopt4  a:active,
.tablesubheadopt5  a:active,  
.tablesubheadopt6  a:active,
.tablesubheadopt7  a:active {
 color:#003366;
}
.tablesubheadopt4  a:hover,
.tablesubheadopt5  a:hover,  
.tablesubheadopt6  a:hover,
.tablesubheadopt7  a:hover {
 color:#003366;
}
/* Dark blue headers - top row */
.tableheadopt1, .tableheadopt3, .tableheadopt4, .tableheadopt5, .tableheadopt7  {
 background: #003366 url(../../images/common/tableheader-blue-gradient.gif)/*tpa=http://www.principal.com/allweb/images/common/tableheader-blue-gradient.gif*/ repeat-x; 
 color: #ffffff;
 font-weight: bold;
 }  
 	
/* Terra cotta headers - top row */
.tableheadopt2, .tableheadopt6 {
	background: #cc6600 url(../../images/common/tableheader-orange-gradient.gif)/*tpa=http://www.principal.com/allweb/images/common/tableheader-orange-gradient.gif*/ repeat-x;
	color: #ffffff;
	font-weight: bold;
	}

/* Sub-header - second row light moss */
.tablesubheadopt4, .tablesubheadopt7 {
	background-color: #cccc99;
	color: #000000;
	font-weight: bold;
	}

/* Sub-header - second/third row light blue */
.tablesubheadopt5, .altsub2headopt7 {
	background-color: #A0C0DF;
	color: #000000;
	font-weight: bold;
	}
/* Sub-header light tan/orange */
.tablesubheadopt6 {
	background-color: #F1D4B8;
	color: #000000;
	font-weight: bold;
	}
	
/* alternating row color - khaki */
.altrowcoloropt1, .altrowcoloropt4, .altrowcoloropt7 {
	background-color: #e4e4cf;
	}
	
.altrowcoloropt2 {
	background-color: #F1D4B8
	}

/* alternating row color - light blue */
.altrowcoloropt3, .altrowcoloropt5, .altrowcoloropt6 {
	background-color: #ccddee;
	}

/*GLOBAL NAV RULES*/
#globalnav {
	font-size: 85%;
	text-align: right;
	margin: 10px 10px 10px 0;
	}
#globalnav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: right;
	}
#globalnavcenter {
	font-size: 85%;
	text-align: center;
	margin: 10px 0 10px 0;
	}
#globalnavcenter ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	}
/* ERROR RULES */
.alert {
	color: #990033;	
	}
.fielderrorcolor {
	background-color: #ff9999;	
	}
/*OLD STYLE  -  Doesn't work in prod if error text wraps*/
p.iconleft img, p.iconleft span, p.iconleft ul {float: left;}
p.iconleft img {margin-right:3px;}

/*New style for positioning icon to the left of the error text*/
.icon-left {float: left;margin-right: 5px; }
.icon-text {overflow: hidden;}

/*CALLOUT BOX LAYOUT STYLES*/
/*Three column*/
.threecoloptionleft {
	float: left;
	width: 32%;
	margin: 5px 5px 5px 0;
	padding: 0;
}
.threecoloptioncenter {
	float: left;
	width: 32%;
	margin: 5px 5px 5px 0;
	padding: 0;
}
.threecoloptionright {
	float: left;
	width: 32%;
	margin: 5px 0 5px 0;
	padding: 0;
}
/*Two column - equal sizes*/
.twocoloption1left {
	float: left;
	width: 49%;
	margin: 5px 10px 5px 0;
	padding: 0;
}
.twocoloption1right {
	float: left;
	width: 49%;
	margin: 5px 0 5px 0;
	padding: 0;
}
/*Two column - left side 2/3*/
.twocoloption2left {
	float: left;
	width: 65%;
	margin: 5px 10px 5px 0;
	padding: 0;
}
.twocoloption2right {
	float: left;
	width: 33%;
	margin: 5px 0 5px 0;
	padding: 0;
}
/*Two column - right side 2/3*/
.twocoloption3left {
	float: left;
	width: 33%;
	margin: 5px 10px 5px 0;
	padding: 0;
}
.twocoloption3right {
	float: left;
	width: 60%;
	margin: 5px 0 5px 0;
	padding: 0;
}
/*One column - 2/3 width*/
.onecoloption{
	float: left;
	width: 65%;
	margin: 5px 10px 5px 0;
	padding: 0;
}
/*TOOL TIP RULES*/
a.info span{display: none}
a.info:link{
	position: relative;
	color: #000000;
	border-bottom: 1px dashed #6699CC;
	text-decoration: none;
}
a.info:visited{
	position: relative;
	color: #000000;
	border-bottom: 1px dashed #6699CC;
	text-decoration: none;
}
a.info:hover span, a.info:focus span{ 
    display:block;
    position:absolute;
    top:2em; left:2em; width:15em;
	opacity: 1.0;
    border:1px solid #6699cc;
    background-color:#ccddee; 
	color:#000;
    text-align: left;
	font-size: 80%;
	cursor:help;
	z-index: 1;
	}
 
a.info:active{
	position: relative;
	color: #000000;
	border-bottom: 1px dashed #6699CC;
	text-decoration: none;
}
/*a:focus { 	outline: none; }*/


/* MISC RULES */
.returntotop {
	font-size: 75%;
	}
.returntotop a:visited {
	color: #003366;  
	}
.footer, .copyright, .footnotes {
	font-size: 85%;
}
.disclosure, .disclaimer {
	font-size: 100%;
}	
.imgcaption {
	font-size: 80%;
	display: block;
}
.indent {
	margin-left: 25px;	
	}
.indentdouble {
	margin-left: 50px;	
	}
.indenttriple {
	margin-left: 75px;	
	}
.closewindow, .printpage {
	text-align: right;
	font-size: 80%;
	margin: 5px 5px 0 0;
	}
.breadcrumbs {
	margin-left: 10px;
	font-size:  85%;
	}
.counterfield {
	font-size: 80%;
	border-style: none;
	}
.counterlabel {
	font-size: 90%;
	font-weight: bold;
	}

/*secondary text color*/
.secondarytext {  
	color: #999999;
} 

/* Show/hide jQuery plugin styles*/	
a.expander:link,a.expander:active,a.expander:visited{
	/*color: #000000;
	border-bottom:1px dashed #6699CC;*/
	text-decoration: none;
}
a.expander:hover,a.expander.content-expanded:hover{
	color:#003366;
	border-bottom:1px dashed #6699CC;
}
/*plus/minus style icon*/
.close-content-left{
	background: url(../../images/common/minus.gif)/*tpa=http://www.principal.com/allweb/images/common/minus.gif*/;
	background-repeat: no-repeat;
	background-position: 0 50%;
	padding-left: 15px;	
}
.open-content-left{
	background: url(../../images/common/plus.gif)/*tpa=http://www.principal.com/allweb/images/common/plus.gif*/;
	background-repeat: no-repeat;
	background-position:0 50%;
	padding-left: 15px;
}	
.close-content-right{
	background: url(../../images/common/minus.gif)/*tpa=http://www.principal.com/allweb/images/common/minus.gif*/;
	background-repeat: no-repeat;
	background-position: 100% 50%;
	padding-right: 15px;	
}
.open-content-right{
	background: url(../../images/common/plus.gif)/*tpa=http://www.principal.com/allweb/images/common/plus.gif*/;
	background-repeat: no-repeat;
	background-position: 100% 50%;
	padding-right: 15px;
}
/*arrow style icon*/
.close-content-left-arrow {
	background: url(../../images/common/styles/close-content.png)/*tpa=http://www.principal.com/allweb/images/common/styles/close-content.png*/;	
	background-repeat: no-repeat;
	background-position: 0 50%;
	padding-left: 15px;	
}
.open-content-left-arrow {
	background: url(../../images/common/styles/open-content.png)/*tpa=http://www.principal.com/allweb/images/common/styles/open-content.png*/;	
	background-repeat: no-repeat;
	background-position: 0 50%;
	padding-left: 15px;	
}
.close-content-right-arrow {
	background: url(../../images/common/styles/close-content.png)/*tpa=http://www.principal.com/allweb/images/common/styles/close-content.png*/;	
	background-repeat: no-repeat;
	background-position: 100% 50%;
	padding-right: 15px;	
}
.open-content-right-arrow {
	background: url(../../images/common/styles/open-content.png)/*tpa=http://www.principal.com/allweb/images/common/styles/open-content.png*/;	
	background-repeat: no-repeat;
	background-position: 100% 50%;
	padding-right: 15px;	
}	
/* Style sheet for Timeout Dialog box 
/* jQuery UI CSS Framework
* Copyright (c) 2009 AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses.
*/

/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix {
	height: 1%;
}
.ui-helper-clearfix {
	display: block;
}
/*end clearfix*/

.ui-dialog {
	padding: 5px;
	position: relative;
	width: 425px;
}
.ui-dialog .ui-dialog-buttonpane {
	background-image: none;
	border-width: 0 0 0 0;
	margin: 2px 0 0 0;
	padding: .3em 1em .5em .4em;
	text-align: left;
	float: right;
}
.ui-dialog .ui-dialog-buttonpane button {
	cursor: pointer;
	font-weight: bold; 
	margin-right: 2px;
}
.ui-dialog .ui-dialog-content {
	background: none;
	border: 0;
	padding: 5px;
	zoom: 1;
}
.ui-dialog .ui-dialog-title {
	float: left;
	margin: 0 0 0 25px;
}
.ui-dialog .ui-dialog-titlebar {
	padding: 2px 2px 5px 2px;
	position: relative;
}
.ui-dialog .ui-dialog-titlebar-close{
	display: none;
}
.ui-helper-clearfix {
	display: inline-block;
}
.ui-helper-clearfix {
	display: block;
}
.ui-helper-clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
.ui-helper-hidden {
	display: none;
}
.ui-helper-hidden-accessible {
	left: -99999999px;
	position: absolute;
}
.ui-state-active, .ui-widget-content .ui-state-active {
	background-color: #FFFFFF;
	border: 1px solid #003366;
	color: #000000;
	font-weight: normal; /*{fwDefault}*/
	outline: none;
}
.ui-state-default, .ui-widget-content .ui-state-default {
	background-color:#336699;
	border-right: 1px solid #3f3f3f;
	border-left: 1px solid #bebebe;
	border-top: 1px solid #bebebe;
	border-bottom: 1px solid #7f7f7f;
	color: #ffffff;;
	font-weight: bold; /*{fwDefault}*/
}
.ui-widget button {
	font-family: Verdana,Arial,sans-serif; 
	font-size: 90%;
	font-weight: bold;
	float:right;
}
.ui-widget-content {
	font-family: Verdana,Arial,sans-serif; 
	background-color: #FFFFFF;
	border: 2px solid #003366;
	color: #000000;
	font-size: 85%;
}
/*.ui-widget-content p{
	font-size: 100%;
}*/
.ui-widget-header {
	background-image: url(../../images/common/warning.gif)/*tpa=http://www.principal.com/allweb/images/common/warning.gif*/;
	background-position: left;
	background-repeat: no-repeat;
	color: #222222;
	font-size: 115%;
	font-weight: bold;
}
.ui-widget-overlay {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
/* Overlays */
.ui-widget-overlay {
	background: #AAAAAA none 0 0 repeat-x;
	filter: Alpha(Opacity=30); /*{opacityOverlay}*/
	opacity: .3;
}
.ui-widget-shadow {
	background: #AAAAAA none 0 0 repeat-x;
	filter: Alpha(Opacity=35); /*{opacityShadow}*/
	margin: -4px 0 0 -4px; /*{offsetLeftShadow}*/
	-moz-border-radius: 4px; /*{cornerRadiusShadow}*/
	opacity: .35;
	padding: 4px; /*{thicknessShadow}*/
	-webkit-border-radius: 4px; /*{cornerRadiusShadow}*/
}


/* PRINTING CONTROLS */
@media print {
		.noprint { /* CONTENT WILL NOT PRINT */
			display: none;
		}
	}