/* THIS STYLESHEET IS UNDER CORPORATE-WIDE GOVERNANCE.  STYLES MAY NOT BE ADDED, DELETED OR CHANGED. */
/* Styles are for www.principal.com non-secure home page*/
/* Contact:  Melody Brownell, Corporate Systems Support-Corporate Marketing*/

#container {		
	margin: 10px 0 0 5px;
	padding: 0;
	width: 810px;
}
#topleftbanner{
	position: relative;
	float:left;	
	margin:0 0 0 1px;
	padding: 0;
}
#toprightbanner{
	position: relative;
	float: left;
	padding: 0;
	margin: 0 0 0 10px;
}
/*Style for middle marketing space*/
.middlemarketing{clear:both; padding: 10px 0 0 0; margin: 0 20px 0 1px;}
/*Market watch styles*/
#marketwatch{
	padding: 0;
	margin: 10px 10px 0 0;
}
.marketwatchimage {
	margin: 0;
	padding: 5px 0 3px 0;
}
#marketwatchtext {
	font-size: 80%;
}
.textheaders {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #003366;
	background-color: #fff;
	margin-bottom: 0px;
}
#headlinenews{
	background:#fff;
	margin-top: 25px;
	margin-left: 10px;
	padding-bottom:10px;
}	
#headlinenews ul{
	padding: 0px;
	margin-top: 5px;
	margin-left: 20px;
}
#headlinenews li {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 85%; 
	color: #000;
	background-color: #fff;
	list-style: disc;
}

/*Styles for two column layouts used*/
.twocoloption1left { /*modification of style from common.css*/
	float: left;
	margin: 0 0 0 5px;
	width: 350px;
	padding: 0;
}
.twocoloption1right {  /*modification of style from common.css*/
	position: relative;
	float: left;
	width: 430px;
	margin: 0 0 0 10px;
	padding: 0;
}
.twocolleft {
	float: left;
	width: 39%;
	margin: 0;
	padding: 5px 10px 5px 10px;
}
.twocolright {
	float: left;
	width: 54%;
	margin: 0;
	padding: 5px 0 5px 0;
}
/*Components - modified from basic contextual tools to accomodate width of home page content*/
.contextualtoolscontainer {
	margin: 10px 0 0 0;
	padding: 0;
}
.contextualtoolsbox {
	margin: 0 0 10px 0; 
	padding: 0; 
	background: url(../../images/corporate/pcom/box_body_right.gif)/*tpa=http://www.principal.com/allweb/images/corporate/pcom/box_body_right.gif*/ no-repeat bottom right;
	width: 100%; 
}
.contextualtoolsheader {
	background: url(../../images/corporate/pcom/box_head_right.gif)/*tpa=http://www.principal.com/allweb/images/corporate/pcom/box_head_right.gif*/ no-repeat top right;
	margin: 0;
	padding: 0;
}
.contextualtoolsheader h2 {
	background: url(../../images/corporate/pcom/box_head_left.gif)/*tpa=http://www.principal.com/allweb/images/corporate/pcom/box_head_left.gif*/ no-repeat top left;
	margin: 0;
	padding: 5px 5px 5px 15px;
	color: #003366; 
	font-weight: bold; 
	font-size: 100%; 
	text-align: left;
}
.contextualtoolscontent {
	background: url(../../images/corporate/pcom/box_body_left.gif)/*tpa=http://www.principal.com/allweb/images/corporate/pcom/box_body_left.gif*/ no-repeat bottom left;
	margin: 0;
	padding: 5px 5px 0px 5px;
}
.contextualtoolscontent p{
	font-size: 85%;
	margin: 5px;
}
.contextualtoolscontent ul{
	margin: 0 0 0 25px;
}
.contextualtoolscontent li{
	font-size: 85%;
}