/* THIS STYLESHEET IS UNDER CORPORATE-WIDE GOVERNANCE.  STYLES MAY NOT BE ADDED, DELETED OR CHANGED. */
/* Styles are for www.principal.com non-secure content */
/* Contacts: Corporate Systems Support - Corporate Marketing Team*/

body {					/*Override body style in common.css*/
	margin: 10px;
}
h1{
	color: #003366;  /*Override style in common.css*/
	margin-top: 15px;
}
h2 {
	margin-bottom: -10px;  /*Override style in common.css*/
}
h3, h4 {
	margin-bottom: -15px; /*Override style in common.css*/
}
a:hover {				/*Override hover color in common.css*/
	color: #003366;
}
a:active {
	color: #003366;
}
/*TOP NAV STYLES*/
#headertable, #content{
	width:100%;
	border:none;
}
#headertable, #content{
	min-width:760px;
}
/*Styles to override td/th tables within the content overall table for rowtotal styles*/
#headertable td, #content td{
	padding:0;
	border:none;
}
#content td .datatable td, #content td .datatable th {
	padding: 2px;
 	border: none;
	}
#content td .datatableopt2 td, #content td .datatableopt2 th {
	padding: 2px;
 	border: none;
	}
#content td .formtable td, #content td .formtable th {
	vertical-align: top;
	padding-top: 5px;
	}
#content td .rowtotal td, #content td .rowtotal th {			/*Style for totaling a row */
	border-top: 1px solid black;
	padding: 4px 0 4px 0;
	font-weight: bold;
}
/*end of table override styles*/

#globalnav{	/*Override #globalnav in common.css*/
	margin-right: 0;
}
#logocell {/*cell that holds PFG logo*/
	width: 150px;
}
#login { /*can remove once all domains have been updated with new login button*/
	float: left; 
	margin-top: 5px;
}
.search{
	float: right;
	margin:0;
}
#topheader {
	color: #003366;
	font-size: 120%;
	font-weight: bold;
	float: left;
	margin: 10px 0 5px 0;
}
/* Login code*/
.logintop {
	float: left;
	width: 135px;
	margin: 0;
	padding: 3px 0px 3px 5px;
	color: #FFFFFF;
	background: #cc6600 url(../../images/corporate/pcom/lefttab_terracotta.gif)/*tpa=http://www.principal.com/allweb/images/corporate/pcom/lefttab_terracotta.gif*/ top left no-repeat;
}
.logintoptext{
	font-weight: bold;
	margin-bottom: 1px;
}
.loginbottom{
	width: 138px;
	margin: 0;
	padding: 1px 0 5px 0;
	background-color: #eeeedd;
	border-left: 1px solid #666666;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
}
.logintext{
	font-size: 80%;
	margin: 3px 0 5px 5px;
	padding: 0;
}
.loginselect{
	font-size: 80%;
	margin: 0 0 7px 2px;
	padding: 0;
}
.loginbutton{
	float:right;
	margin: 3px 2px 0 0;
}

/*Tier 1/2 navigation styles*/
#tier1nav{	
	background: #003366 url(../../images/corporate/pcom/bar_blue.gif)/*tpa=http://www.principal.com/allweb/images/corporate/pcom/bar_blue.gif*/ repeat;
}
#tier1nav, #tier2nav {
	margin: 0;
	padding: 0;
	width: 100%;
	float:right;
}
#tier1 {
	margin-left: 150px;
	height: 23px;
	background-color: #003366;
}
#tier2 {
	margin-left: 165px;
	height: 23px;
   background:#a0c0df url(../../images/corporate/pcom/leftend_lightblue.gif)/*tpa=http://www.principal.com/allweb/images/corporate/pcom/leftend_lightblue.gif*/ left bottom no-repeat;
	padding: 0 0 0 5px;
}
#tier1nav li, #tier2nav li{
	margin: 0;
	list-style: none;
	float: left;
	font-size:11px;
	border-right: 1px solid #fff;	
	line-height: 23px;	
	font-weight: bold;
	white-space: nowrap;
}
#tier1nav a {
	text-decoration: none;
	display: block;
	float: left;
	padding: 0px 5px 0px 5px;
	color: #ffffff;
}
#tier1nav li.selected, #tier1nav li.lefttabselected {	/*Used to show selected Tier 1 tab*/
	padding: 0px 5px 0px 5px;
	background: #a0c0df url(../../images/common/tier1-gradient.gif)/*tpa=http://www.principal.com/allweb/images/common/tier1-gradient.gif*/ repeat-x;
	color: #003366;
	font-weight:bold;
}
#tier1nav li.lefttabselected { /*Used to show selected Tier 1 Home Page tab*/
	background: #a0c0df url(../../images/common/tier1-lefttabselected-gradient.gif)/*tpa=http://www.principal.com/allweb/images/common/tier1-lefttabselected-gradient.gif*/ left top no-repeat;
}
#tier1nav li.lefttab a{ /*Used to show unselected Tier 1 Home Page tab...applied on Tier 2 pages*/
	background: #003366 url(../../images/corporate/pcom/lefttab_blue.gif)/*tpa=http://www.principal.com/allweb/images/corporate/pcom/lefttab_blue.gif*/ top left no-repeat;
	color: #ffffff;
}
#tier1nav li.lefttabselected:hover a:hover, #tier1nav li.selected:hover a:hover {
	background-color: transparent;
	text-decoration: underline;
}
#tier1nav li.lefttabselected a:link,#tier1nav li.lefttabselected a:visited,#tier1nav li.lefttabselected a:active,#tier1nav li.selected a:link,#tier1nav li.selected a:visited,#tier1nav li.selected a:active{
	color: #003366;
	font-weight: bold;
}
/*Tier 2 specific styles*/
#tier2nav{
	width: 100%;	
	padding-top: 3px;
	background:#a0c0df url(../../images/corporate/pcom/bar_lightblue.gif)/*tpa=http://www.principal.com/allweb/images/corporate/pcom/bar_lightblue.gif*/ repeat;
}
#tier2nav li{
	line-height: 20px;
	border-right: none;
}
#tier2nav a {
	text-decoration:underline;	
	background-color: #a0c0df;
	padding: 0 4px 0 4px;
	color:#003366;
}
.leftend{	/*applies rounded corner to tier2 left end*/
	background:url(../../images/corporate/pcom/leftend_lightblue.gif)/*tpa=http://www.principal.com/allweb/images/corporate/pcom/leftend_lightblue.gif*/ left bottom no-repeat;
	padding-left: 5px;
}
#tier2nav li.selected {	/*Used to show selected Tier 2 tab*/
	padding: 0 0 0 5px;
	background: #ffffff url(../../images/corporate/pcom/lefttab_white.gif)/*tpa=http://www.principal.com/allweb/images/corporate/pcom/lefttab_white.gif*/ left top no-repeat;
	color: #003366;
	text-decoration: none;
}
#tier2nav li.selected a {	/*Used to show selected Tier 2 tab link */
	background-color: #ffffff;
	color: #003366;
	text-decoration: none;
}
#tier2nav li.selected a:hover { /*Used to show selected Tier 2 tab link hover color*/
	color: #a0c0df;
}
#tier2nav li.selected div {	/*Used to show selected Tier 2 tab*/
	background: #ffffff url(../../images/corporate/pcom/righttab_white.gif)/*tpa=http://www.principal.com/allweb/images/corporate/pcom/righttab_white.gif*/ right top no-repeat;
	padding-right: 3px;
}

#tier1nav a:hover {
	background: #a0c0df url(../../images/common/tier1-gradient.gif)/*tpa=http://www.principal.com/allweb/images/common/tier1-gradient.gif*/ repeat-x;
}
#tier2nav a:hover {
	color: #ffffff;
}
#tier1nav li.lefttab a:hover{
	background: #a0c0df url(../../images/common/tier1-lefttabselected-gradient.gif)/*tpa=http://www.principal.com/allweb/images/common/tier1-lefttabselected-gradient.gif*/ left top no-repeat;
	color: #ffffff;
}
/*Generic template - top blue bar*/
#topbar{
	background: #003366 url(../../images/corporate/pcom/lefttab_blue.gif)/*tpa=http://www.principal.com/allweb/images/corporate/pcom/lefttab_blue.gif*/ left top no-repeat;
	padding: 0;
	margin: 5px 0 10px 165px;
	line-height: 23px;
}
#topbarnotab {
	background-color: #003366;
	padding: 0;
	margin: 0;
	line-height: 23px;
}
#topbar_100{
	background: #003366 url(../../images/corporate/pcom/lefttab_blue.gif)/*tpa=http://www.principal.com/allweb/images/corporate/pcom/lefttab_blue.gif*/ left top no-repeat;
	padding: 0;
	margin: 5px 0 10px 0;
	line-height: 23px;
}
/*Layout positioning styles*/
.leftcolumn{
	width: 150px;
	vertical-align: top;
}
.centercolumn{
	vertical-align: top;
}
.rightcolumn{ 
	width: 185px;
	vertical-align: top;
}
#maincontainer {		/*container for all content on secondary pages*/
	margin: 7px 5px 10px 15px;
}
#rightcontent{
	float: right;
	width: 185px;
}
/*Original style for printable page, email page, share*/
#optionalitems {
	text-align: right;
	font-size: 85%;
}
/*New styles for printable page, email page and share features*/
#optitems-container { /*container for holding optional items*/
	float: right;
	position: relative;
	font-size: 85%;
	margin: 0 0 0 0;
}
#optitems-container.share-all{ /*if share icons/printable/email - set width of container*/
	width: 37em;	
}
#optitems-container.share-one{ /*if only one opt item and share icons - set width of container*/
	width: 26em;	
}
#optitems-container.share-only{ /*if only share icons - set width of container*/
	width: 16em;	
}
#optitems-share { /*float share items to left in container*/
	float:left;
	position: relative;
}
/*end new styles*/
#printpagelinks {
	display: none;
}
/*Left navigation styles*/
.leftnavheader {
	font-weight: bold;
	color: #ffffff;
	background: #003366 url(../../images/corporate/pcom/lefttab_blue.gif)/*tpa=http://www.principal.com/allweb/images/corporate/pcom/lefttab_blue.gif*/ top left no-repeat;
	font-size: 11px;
	padding: 4px 0 3px 10px;
	margin: 10px 4px 0 0;
}
.leftnavcontent {
	background-color: #c3d7ea;
	margin: 0 4px 0 0;
	padding: 0;
	font-size: 85%;
	overflow:hidden;
}
/*Old left navigation style for apps not using pfg themes*/
.leftnavcontent ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.leftnavcontent a {
	display: block;
	text-decoration: none;
}
.leftnavcontent li {
	border-bottom:1px solid white;
}

.leftnavcontent li a {
	color: #003366;
	padding: 0.5em;
}
.leftnavcontent a:hover{
	color: #003366;
	text-decoration: underline;
}
.leftnavcontent li ul li a {
	background: #e7eff7;
	color:#003366;
	padding-left: 20px;
}
.leftnavcontent li ul li a:hover {
	text-decoration: underline;
}
.leftnavcontent ul li.activenav  {
	font-weight: bold;
	color: #003366;
	padding: 0.5em;
}
div.leftnavcontent#leftnavtools {
	background-color: #e7eff7;
	margin: 0 4px 0 0;
 	padding: 0 0 0 3px;
	font-size: 85%;
}
/*Begin of fix for nested lists that do not use the expandable menu*/
div.leftnavcontent ul li.activenav ul {
	font-weight: normal;
	margin-left: -0.5em;
	margin-bottom: -0.5em;
	margin-right: -0.5em;
}
div.leftnavcontent ul li.activenav ul li a{
	padding: 0.5em 0 0.5em 20px;
}
div.leftnavcontent ul li.activenav ul {
	margin-top: 0.5em;
}
div.leftnavcontent ul li.activenav a{
	padding: 0;
}
div.leftnavcontent ul li ul li.activenav {
	background: #e7eff7;
	color: #003366;
	padding-left: 20px;	
}

/*End of fixes for nested lists not using expandable menu*/

/* New left navigation styles for expandable menu - implemented for themes*/
ul.menu, ul.menu ul {
	list-style-type:none;
	margin: 0;
	padding: 0;
}
ul.menu a {
	display: block;
	text-decoration: none;
}
ul.menu li {
	border-bottom: 1px solid white;
}
ul.menu a.expandable {
	background:url(../../images/common/styles/open.png)/*tpa=http://www.principal.com/allweb/images/common/styles/open.png*/;
	background-repeat:no-repeat;
	background-position: 95% 50%;
}
ul.menu a.expanded {
	background:url(../../images/common/styles/close.png)/*tpa=http://www.principal.com/allweb/images/common/styles/close.png*/;
	background-repeat:no-repeat;
	background-position: 95% 50%;
}
ul.menu li a {
	background: #c3d7ea;
	color: #003366;
	padding: 0.5em;
}
ul.menu li a:hover {
	text-decoration: underline;
}
ul.menu li ul li a {
	background: #e7eff7;
	color: #003366;
	padding-left: 20px;
}
ul.menu li ul li a:hover {
	text-decoration: underline;
}
ul.menu li ul li.activenav{
	background: #e7eff7;
	color: #003366;
	padding-left: 20px;
}
#leftnavtools ul.menu li a {
	background: #e7eff7;
}

/*Market watch styles*/
#marketwatch{
	color: #003366;
	font-weight: bold;
}
#marketwatch  p{
	margin: 0px 0 2px 0;
}
.marketwatchtext {
	font-size: 75%;
	font-weight: normal;
}
/*PrincipalFunds specific styles*/
#toprightcontent.pf {
	width: 195px;
	float: right;
	padding: 0;
	margin:0 0 10px 10px;

}
#toprightcontent.pf img {
	margin-bottom: 10px;
}
#toprightcontent.contextualtoolsbox {
	margin-top:0;
}
.pf .rightboxheader {			/*header style*/
	font-weight: bold;
	color: #FFFFFF;
	background: #CC6600 url(../../images/corporate/principalfunds/lefttab_terracotta.gif)/*tpa=http://www.principal.com/allweb/images/corporate/principalfunds/lefttab_terracotta.gif*/ no-repeat left top;
	line-height: 23px;
	padding-left: 10px;
	margin: 5px 0 0 5px;
	font-size: 11px;
	border-bottom: 1px solid #666666;
	width: 165px;
}
.pf .rightboxcontent {				/*box style for arrow bottom corner */
	background-color: #F1D4B8;
	margin: 2px 0 0 5px;
	padding: 5px;
	border-left: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #F1D4B8;
	width: 163px;
}
.pf .rightboxcontent p {			/*text style */
	margin: 5px 0 0 0;
	font-size: 85%;	
}
.pf .orangearrow {
	margin: 0 0 0 5px;
	padding: 0px;
}
/*Upper right image style*/
.pf .rightimage {
	margin: 0px;
	padding: 5px 0 0 5px;
}
/* End of Pfunds specific styles*/

/*Right content box styles*/
.rightboxheader {			/*header style*/
	font-weight: bold;
	color: #FFFFFF;
	background: #CC6600 url(../../images/corporate/pcom/lefttab_terracotta.gif)/*tpa=http://www.principal.com/allweb/images/corporate/pcom/lefttab_terracotta.gif*/ no-repeat left top;
	line-height: 23px;
	padding-left: 10px;
	margin: 5px 0 0 10px;
	font-size: 11px;
	border-bottom: 1px solid #666666;
}
.rightboxcontent {				/*box style for arrow bottom corner */
	background-color: #F1D4B8;
	margin: 2px 0 0 10px;
	padding: 5px;
	border-left: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #F1D4B8;
}
.rightboxcontent p {			/*text style */
	margin: 5px 0 0 0;
	font-size: 85%;	
}
.orangearrow {
}
/*Upper right image style*/
.rightimage {
	margin: 0px;
	padding: 5px 0 0 10px;
}
/*COMPONENTS*/

/*Site index callout box*/
.siteindexcalloutheader {
	background: #003366 url(../../images/corporate/pcom/lefttab_blue.gif)/*tpa=http://www.principal.com/allweb/images/corporate/pcom/lefttab_blue.gif*/ top left no-repeat;	
	color: #FFFFFF;	
	font-weight: bold;
	margin: 10px 0 0 0;
	padding: 3px 0 2px 10px;
	font-size: 85%;
}
.siteindexcalloutcontent {
	margin: 0px;
	padding: 5px 5px 5px 10px;
	background-color: #e4e4cf;
	border: 1px solid #cccccc;
}
.siteindexcalloutcontent p {
	font-size:85%;
	margin: 1px 0 3px 0;
	padding: 0;
}
.siteindexcalloutcontent ul {
	font-size: 85%;
 	margin: 0 0 5px 20px;
	padding: 0;
}
/*Contextual tools callout box*/
.contextualtoolcontainer {
	float:right;
}
.contextualtoolsbox {
	margin: 10px 0 10px 0; 
	padding: 0; 
	background: url(../../images/corporate/pcom/box_body_right.gif)/*tpa=http://www.principal.com/allweb/images/corporate/pcom/box_body_right.gif*/ no-repeat bottom right;
	width: 175px;
}
.contextualtoolsheader {
	background: url(../../images/corporate/pcom/box_head_right.gif)/*tpa=http://www.principal.com/allweb/images/corporate/pcom/box_head_right.gif*/ no-repeat top right;
	margin: 0;
	padding: 0;
	text-align: center;

}
.contextualtoolsheader p {
	background: url(../../images/corporate/pcom/box_head_left.gif)/*tpa=http://www.principal.com/allweb/images/corporate/pcom/box_head_left.gif*/ no-repeat top left;
	margin: 0;
	padding: 10px 5px 5px 2px;
	color: #003366; 
	font-weight: bold; 
	font-size: 85%; 

}
.contextualtoolscontent {
	background: url(../../images/corporate/pcom/box_body_left.gif)/*tpa=http://www.principal.com/allweb/images/corporate/pcom/box_body_left.gif*/ no-repeat bottom left;
	margin: 0;
	padding: 5px 10px 10px 10px;
	border-top: 1px solid #cccccc;
}
.contextualtoolscontent p{
	font-size: 85%;
	margin: 2px 0 0 2px;
}
.contextualtoolscontent ul{
	font-size: 85%;
	margin: 0 0 0 10px;
	padding-left: 10px;
}
.contextualtoolscontent ul ul {
	font-size: 100%;
	list-style-type: disc;
	list-style-image: none;
	font-weight: normal;
	padding: 1px 5px 1px 20px;
}
.contextualtoolscontent img{
	float:left; 
	margin-right: 5px; 
	margin-left: 0;	
}
/*Multimedia callout box*/
.multimediacalloutheader{
	background: #a0c0df url(../../images/corporate/pcom/lefttab_lightblue.gif)/*tpa=http://www.principal.com/allweb/images/corporate/pcom/lefttab_lightblue.gif*/ top left no-repeat;	
	color: #003366;	
	font-weight: bold;
	margin: 10px 0 0 10px;
	padding: 3px 0 2px 10px;
	font-size: 85%;
}
.multimediacalloutcontent {
	margin: 0 0 0 10px;
	padding: 5px 5px 5px 10px;
	background-color: #ffffff;
	border: 1px solid #a0c0df;
}
.multimediacalloutcontent p {
	font-size:85%;
	margin: 1px 0 3px 0;
	padding: 0;
}
.multimediacalloutcontent ul {
	font-size: 85%;
 	margin: 0 0 5px 20px;
	padding: 0;
}
.multimediaimage{
	float:right; 
	margin-left: 2px;
}
/*Key Points call-out box*/
.keypoints { 
	background: url(../../images/corporate/pcom/khakint.gif)/*tpa=http://www.principal.com/allweb/images/corporate/pcom/khakint.gif*/ repeat; 
}
.keypointstop div { 
	background: url(../../images/corporate/pcom/khakitl.gif)/*tpa=http://www.principal.com/allweb/images/corporate/pcom/khakitl.gif*/ no-repeat top left; 
}
.keypointstop { 
	background: url(../../images/corporate/pcom/khakitr.gif)/*tpa=http://www.principal.com/allweb/images/corporate/pcom/khakitr.gif*/ no-repeat top right; 
}
.keypointsbot div { 
	background: url(../../images/corporate/pcom/khakibl.gif)/*tpa=http://www.principal.com/allweb/images/corporate/pcom/khakibl.gif*/ no-repeat bottom left; 
}
.keypointsbot { 
	background: url(../../images/corporate/pcom/khakibr.gif)/*tpa=http://www.principal.com/allweb/images/corporate/pcom/khakibr.gif*/ no-repeat bottom right; 
}
.keypointstop div, .keypointstop, .keypointsbot div, .keypointsbot {
	width: 100%; 
	height: 7px; 
	font-size: 1px;
}
.keypointscontent { 
	margin: -5px 10px 0 10px; 
}
.keypoints { 
	font-size: 105%;
	font-weight: bold;
	color: #003366;
	width: 225px;
	margin: 0 10px 0 10px;
}
/*Style to handle a list that is placed next to a setwidth left-floated div
on the retirement employer pages - set width is 235px */
.listbysetfloat{
	margin-left: 235px; 
	padding: 0;
}

/*Bank page specific styles*/
.homecontent {
	width: 600px;
}
#topheader {
	margin: 5px 0 0 10px;
	font-size: 120%;
	float: left;
	font-weight: bold;
	color: #003366;
}
.bottomcontent{
	float: left;
	width:245px;;
	background:#fff;
	margin-top: 15px;
	margin-left: 10px;
	padding-bottom:10px;
}	
.bottomcontent ul{
	padding: 0px;
	margin-top: 5px;
	margin-left: 20px;
}
.bottomcontent li {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 85%; 
	color: #000;
	background-color: #fff;
	list-style: disc;
}
#topbanner{
	margin:5px 0 0 1px;
	padding: 0;
}
/*header for marketing banner area*/
.adheader {
	font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	background: #cc6600 URL(../../images/corporate/pcom/lefttab_terracotta.gif)/*tpa=http://www.principal.com/allweb/images/corporate/pcom/lefttab_terracotta.gif*/ left top no-repeat;
	color: #fff;
	padding: 0px 0px 0px 10px;
	margin: 10px 0 0 1px;
	line-height: 21px;
	border-bottom: solid thin #663300;
}
.bannerleft {
	margin:0;
	padding: 0;
}
.bannercenter {
	margin: 0 ;
	padding: 0 2px 0 2px;
}
.bannerright {
	margin: 0;
	padding: 0;
}
.banners{
	text-align: center;
	margin: 0;
	padding: 0;
}

/*Fund performance tables*/
.fundtable td {
	font-size: 85%;
}
.fundtable th {
	font-size: 90%;
}
.fundtable sup {
	font-size: 100%;
}

/*Footer and copyright styles */
#footercontent {
	margin-top: 30px;
}
.asscgraphic{
	position: absolute;
	margin-top: 50px;
}
.footertext {  
	color: #999999;
	font-size: 85%;
}
.footerlinks {  /*global nav links at bottom*/
	color: #999999;
	font-size: 85%;
}

