/* Style sheet for UI components.  Style sheet is under corporate governance and shouldn't be changed or altered with
permission from the Corporate Systems Support - Corp Marketing Team
Creation Date: 04/05/2010
Contacts: Melody Brownell-Corporate Systems Support*/

/* BASIC TAB STYLE RULES */
#tabopt1, #tabopt2 {
	float: left;
	width: 100%;
	line-height: normal;
	}
#tabopt1 {/* DIV BORDER */
	border-bottom:2px solid #003366;
	}	
#tabopt2 {/* DIV BORDER */
	border-bottom:2px solid #cc6600;
	}
#tabopt1 ul, #tabopt2 ul {
	padding: 10px 10px 0 10px;
	margin: 0px;
	list-style-type: none;
	}
#tabopt1 li, #tabopt2 li {
	padding: 0 0 0 9px;
	float: left;
	margin-right: 2px;
	}
#tabopt1 li {
	background: url(../../images/corporate/tabs/tabopt1_leftoff.gif)/*tpa=http://www.principal.com/allweb/images/corporate/tabs/tabopt1_leftoff.gif*/ no-repeat left top;
	background-color:#ccddee;
	}
#tabopt2 li {
	background: url(../../images/corporate/tabs/tabopt2_leftoff.gif)/*tpa=http://www.principal.com/allweb/images/corporate/tabs/tabopt2_leftoff.gif*/ no-repeat left top;
	background-color:#F1D4B8;
	}
	
#tabopt1 a, #tabopt2 a {
	padding: 5px 15px 4px 5px;
	display: block;
	float: left;
	color: #000000;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:80%;
	}
#tabopt1 div {
	background: url(../../images/corporate/tabs/tabopt1_rightoff.gif)/*tpa=http://www.principal.com/allweb/images/corporate/tabs/tabopt1_rightoff.gif*/ no-repeat right top;
	}
#tabopt2 div {
	background: url(../../images/corporate/tabs/tabopt2_rightoff.gif)/*tpa=http://www.principal.com/allweb/images/corporate/tabs/tabopt2_rightoff.gif*/ no-repeat right top;
	}

/* Commented Backslash Hack  hides rule from IE5-Mac \*/
#tabopt1 a, #tabopt2 a {float:none;}
/* End IE5-Mac hack */
#tabopt1 a:hover, #tabopt2 a:hover{
	color: #003366;
	}
#tabopt1 #current A:hover, #tabopt2 #current a:hover{
	color: #ccddee;
	}
#tabopt1 li#current{
	background: url(../../images/corporate/tabs/tabopt1_left.gif)/*tpa=http://www.principal.com/allweb/images/corporate/tabs/tabopt1_left.gif*/ no-repeat left top;
	background-color:#003366;
	}
#tabopt2 li#current{
	background: url(../../images/corporate/tabs/tabopt2_left.gif)/*tpa=http://www.principal.com/allweb/images/corporate/tabs/tabopt2_left.gif*/ no-repeat left top;
	background-color:#cc6600;
	}
#tabopt1 #current a, #tabopt2 #current a{
	padding: 5px 15px 4px 5px;
	display: block;
	font-weight: bold;
	float: left;
	color: #ffffff;
	text-decoration: none;
	}
#tabopt1 li#current a{
	background: url(../../images/corporate/tabs/tabopt1_right.gif)/*tpa=http://www.principal.com/allweb/images/corporate/tabs/tabopt1_right.gif*/ no-repeat right top;
	}
#tabopt2 li#current a{
	background: url(../../images/corporate/tabs/tabopt2_right.gif)/*tpa=http://www.principal.com/allweb/images/corporate/tabs/tabopt2_right.gif*/ no-repeat right top;
	}

/*SUB-TAB STYLE - LINKS BELOW THE TAB STRUCTURE*/
#subtabcontainer{
	font-size: 85%;
	margin: 5px 0 5px 10px;
	padding: 0 0 5px 0;
	overflow: hidden;
	width: 100%;
}
#subtablist{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#subtablist a{
	text-decoration: underline;
}
#subtablist li{
	border-left: 1px solid #000;
	float: left;
	line-height: 100%;
	margin: 10px 5px 0 -5px;
	padding: 0 7px 0 7px
}
#subtabcurrent{
	font-weight: bold;
}

/*CONSOLIDATED VIEW & MINI VIEW ONLY COMPONENTS*/
/*Account summary table box styles*/
.acctsummaryheader {			/*curved header style*/
	font-weight: bold;
	color: #FFFFFF;
	background: #CC6600 url(../../images/corporate/pcom/lefttab_terracotta.gif)/*tpa=http://www.principal.com/allweb/images/corporate/pcom/lefttab_terracotta.gif*/ no-repeat left top;
	padding: 3px 0 2px 5px;
	margin: 5px 0 0 0;
	font-size: 95%;
	border-bottom: 1px solid #003366;
}
.acctsummarytableheader {  /*table header style*/
	background: #F1D4B8;
	}
.acctsummarytablesubheader {
	background: #ccddee;
}
.acctsummarytablealtrowcolor {
	background-color: #fcf1e9;
}
.acctsummarytable  {
	width:100%;
	border-bottom: 1px solid #cc6600;
	border-right: 1px solid #f1d4b8;
	border-left: 1px solid #f1d4b8;
	border-top: 1px solid #f1d4b8;
	padding: 2px;
}
.acctsummarytable th {
	font-size: 85%;
	font-weight: bold;
}
.acctsummarytable td  {
	font-size: 80%;
}
/*This container for top left content for non-intranet sites*/
#topleftcontent {
	width:auto;
	float: left;
	margin: 0 10px 0 0;
	padding: 0;	
}
/*This container for right content*/
#toprightcontent {
	width: 175px;
	float: right;
	padding: 0;
	margin: 0 0 10px 10px;
}
#toprightcontent img {
	margin-bottom: 10px;
}
#toprightcontent.contextualtoolsbox {
	margin-top:0;
}
/*Application callout box*/
.appcalloutheader{
	background: #003366 url(../../images/corporate/pcom/lefttab_blue.gif)/*tpa=http://www.principal.com/allweb/images/corporate/pcom/lefttab_blue.gif*/ top left no-repeat;	
	color: #FFFFFF;	
	font-weight: bold;
	margin: 10px 0 0 0;
	padding: 3px 0 2px 10px;
	font-size: 85%;
}
.appcalloutcontent {
	margin: 0px;
	padding: 5px 5px 5px 10px;
	background-color: #FFFFFF;
	border: 1px solid #cccccc;
}
.appcalloutcontent p {
	font-size:85%;
	margin: 1px 0 3px 0;
	padding: 0;
}
.appcalloutcontent ul {
	font-size: 85%;
 	margin: 0 0 5px 20px;
	padding: 0;
}
/*Time sensitive call-out box*/
.timesensitivecalloutheader {
	background: #cc6600 url(../../images/corporate/pcom/lefttab_terracotta.gif)/*tpa=http://www.principal.com/allweb/images/corporate/pcom/lefttab_terracotta.gif*/ top left no-repeat;
	color: #FFFFFF;
	font-weight: bold;
	margin: 10px 0 0 0;
	padding: 3px 0 2px 10px;
	font-size: 85%;
}
.timesensitivecalloutcontent {
	background-color: #ffffff;
	margin: 0;
	padding: 5px 5px 5px 10px;
	border: 1px solid #f1d4b8;
}
.timesensitivecalloutcontent p {
	font-size:85%;
	margin: 1px 0 3px 0;
	padding: 0;
}
 .timesensitivecalloutcontent ul {
	font-size: 85%;
 	margin: 0 0 5px 20px;
	padding: 0;
}
/*Marketing callout box*/
.marketingcalloutheader{
	background: #cc6600 url(../../images/corporate/pcom/lefttab_terracotta.gif)/*tpa=http://www.principal.com/allweb/images/corporate/pcom/lefttab_terracotta.gif*/ top left no-repeat;
	color: #FFFFFF;
	font-weight: bold;
	margin: 10px 0 0 0;
	padding: 3px 0 2px 10px;
	font-size: 85%;
}
.marketingcalloutcontent {
	background-color: #F1D4B8;
	margin: 0px;
	padding: 5px 5px 5px 10px;
	border: 1px solid #CCCCCC;
}
.marketingcalloutcontent p {
	font-size:85%;
	margin: 1px 0 3px 0;
	padding: 0;
}
.marketingcalloutcontent ul {
	font-size: 85%;
 	margin: 0 0 5px 20px;
	padding: 0;
}
/*Site index callout box*/
.siteindexcalloutheader {
	background: #003366 url(../../images/corporate/pcom/lefttab_blue.gif)/*tpa=http://www.principal.com/allweb/images/corporate/pcom/lefttab_blue.gif*/ top left no-repeat;	
	color: #FFFFFF;	
	font-weight: bold;
	margin: 10px 0 0 0;
	padding: 3px 0 2px 10px;
	font-size: 85%;
}
.siteindexcalloutcontent {
	margin: 0px;
	padding: 5px 5px 5px 10px;
	background-color: #eeeedd;
	border: 1px solid #cccccc;
}
.siteindexcalloutcontent p {
	font-size:85%;
	margin: 1px 0 3px 0;
	padding: 0;
}
.siteindexcalloutcontent ul {
	font-size: 85%;
 	margin: 0 0 5px 20px;
	padding: 0;
}
/*Contextual tools callout box*/
.contextualtoolcontainer {
	float:right;
}
.contextualtoolsbox {
	margin: 10px 0 10px 0; 
	padding: 0; 
	background: url(../../images/corporate/pcom/box_body_right.gif)/*tpa=http://www.principal.com/allweb/images/corporate/pcom/box_body_right.gif*/ no-repeat bottom right;
	width: 175px;
}
.contextualtoolsheader {
	background: url(../../images/corporate/pcom/box_head_right.gif)/*tpa=http://www.principal.com/allweb/images/corporate/pcom/box_head_right.gif*/ no-repeat top right;
	margin: 0;
	padding: 0;
	text-align: center;
}
.contextualtoolsheader p {
	background: url(../../images/corporate/pcom/box_head_left.gif)/*tpa=http://www.principal.com/allweb/images/corporate/pcom/box_head_left.gif*/ no-repeat top left;
	margin: 0;
	padding: 10px 5px 5px 2px;
	color: #003366; 
	font-weight: bold; 
	font-size: 85%; 
}
.contextualtoolscontent {
	background: url(../../images/corporate/pcom/box_body_left.gif)/*tpa=http://www.principal.com/allweb/images/corporate/pcom/box_body_left.gif*/ no-repeat bottom left;
	margin: 0;
	padding: 5px 20px 20px 20px;
	border-top: 1px solid #cccccc;
}
.contextualtoolscontent p{
	font-size: 85%;
}
.contextualtoolscontent ul{
	font-size: 85%;
	margin: 0px;
	padding-left: 10px;
}
.contextualtoolscontent ul ul {
	font-size: 100%;
	list-style-type: disc;
	list-style-image: none;
	font-weight: normal;
	padding: 1px 5px 1px 20px;
}
/*.contextualtoolscontent img{
	float:left; 
	margin-right: 5px; 
	margin-left: 0;	
}*/
/*Multimedia callout box*/
.multimediacalloutheader{
	background: #a0c0df url(../../images/corporate/pcom/lefttab_lightblue.gif)/*tpa=http://www.principal.com/allweb/images/corporate/pcom/lefttab_lightblue.gif*/ top left no-repeat;	
	color: #003366;	
	font-weight: bold;
	margin: 10px 0 0 10px;
	padding: 3px 0 2px 10px;
	font-size: 85%;
}
.multimediacalloutcontent {
	margin: 0 0 0 10px;
	padding: 5px 5px 5px 10px;
	background-color: #ffffff;
	border: 1px solid #a0c0df;
}
.multimediacalloutcontent p {
	font-size:85%;
	margin: 1px 0 3px 0;
	padding: 0;
}
.multimediacalloutcontent ul {
	font-size: 85%;
 	margin: 0 0 5px 20px;
	padding: 0;
}
.multimediaimage{
	float:right; 
	margin-left: 2px;
}
/*Key Points call-out box*/
.keypoints { 
	background: url(../../images/corporate/pcom/khakint.gif)/*tpa=http://www.principal.com/allweb/images/corporate/pcom/khakint.gif*/ repeat; 
}
.keypointstop div { 
	background: url(../../images/corporate/pcom/khakitl.gif)/*tpa=http://www.principal.com/allweb/images/corporate/pcom/khakitl.gif*/ no-repeat top left; 
}
.keypointstop { 
	background: url(../../images/corporate/pcom/khakitr.gif)/*tpa=http://www.principal.com/allweb/images/corporate/pcom/khakitr.gif*/ no-repeat top right; 
}
.keypointsbot div { 
	background: url(../../images/corporate/pcom/khakibl.gif)/*tpa=http://www.principal.com/allweb/images/corporate/pcom/khakibl.gif*/ no-repeat bottom left; 
}
.keypointsbot { 
	background: url(../../images/corporate/pcom/khakibr.gif)/*tpa=http://www.principal.com/allweb/images/corporate/pcom/khakibr.gif*/ no-repeat bottom right; 
}
.keypointstop div, .keypointstop, .keypointsbot div, .keypointsbot {
	width: 100%; 
	height: 7px; 
	font-size: 1px;
}
.keypointscontent { 
	margin: -5px 10px 0 10px; 
}
.keypoints { 
	font-size: 105%;
	font-weight: bold;
	color: #003366;
	width: 225px;
	margin: 0 10px 0 10px;
}

/*STEP INDICATOR STYLE 1*/
.indicator {					/*container for step indicator*/
	margin-left: 15px;
	margin-top: 30px;
	font-size: 90%;
	font-weight: normal;
	border-top: 1px solid #003366;
	padding: 15px 0 0 10px;
	width: auto;
}
.stepbegin {				/*use this to span the beginning step*/
	background-image: url(../../images/corporate/stepindicator/stepbegin.gif)/*tpa=http://www.principal.com/allweb/images/corporate/stepindicator/stepbegin.gif*/;
	background-repeat: no-repeat;
	background-position: left top;
	padding: 21px 0 0 0 ;
}
.stepfinal {				/*use this to span the last step*/
	background-image: url(../../images/corporate/stepindicator/stepfinal.gif)/*tpa=http://www.principal.com/allweb/images/corporate/stepindicator/stepfinal.gif*/;
	background-repeat: no-repeat;
	background-position: right top;
	padding: 23px 10px 0 0;
}
.steparrows {			/*use this to span the ">>" between the steps*/
	font-size: 75%;
}
.stepcurrent {			/*use this to span the current step*/
	background-image: url(../../images/corporate/stepindicator/stepcurrent.gif)/*tpa=http://www.principal.com/allweb/images/corporate/stepindicator/stepcurrent.gif*/;
	background-repeat: no-repeat;
	background-position: center top;
	font-weight: bold;
	padding: 20px 0 0 0 ;
}

/*STEP INDICATOR STYLE 2*/
#indicator2opt1 ,#indicator2opt2{
/*	clear: both;*/
	margin:0;
	padding-top: 10px;
}
#indicator2opt1 ul,#indicator2opt2 ul {
	margin:0 0 17px 10px;
	padding:0;
}
#indicator2opt1 li {
	display:inline;
	font-size:85%;
	background-color:#e4e4cf;
	margin:0 0 0 -5px;
	padding:5px 5px 7px 10px;
}
#indicator2opt1 #current {
	font-weight:700;
	color:#036;
	background-color:#a0c0df;
	background-image:url(../../images/corporate/stepindicator/stepcurrent2opt1.gif)/*tpa=http://www.principal.com/allweb/images/corporate/stepindicator/stepcurrent2opt1.gif*/;
	background-position:center bottom;
	background-repeat:no-repeat;
	padding:5px 10px 17px;
}
#indicator2opt2 li {
	display:inline;
	font-size:85%;
	background-color:#f1d4b8;
	margin:0 0 0 -5px;
	padding:5px 5px 7px 10px;
}
#indicator2opt2 #current {
	font-weight:700;
	color:#fff;
	background-color:#c60;
	background-image:url(../../images/corporate/stepindicator/stepcurrent2opt2.gif)/*tpa=http://www.principal.com/allweb/images/corporate/stepindicator/stepcurrent2opt2.gif*/;
	background-position:center bottom;
	background-repeat:no-repeat;
	padding:5px 10px 17px;
}
#indicator2opt1 .steparrows,#indicator2opt2 .steparrows {
	font-weight:400;
	margin:0 5px 0 0;
	padding:0;
}
#subindicator2 li{
	display:inline;
	font-size:85%;
	margin:0 0 0 -5px;
	padding:5px 5px 7px 10px;
}
#subindicator2 #current{
	font-weight: 700;
}
/*MULTIPLE PAGES OF RESULTS STYLES*/
.resultnav {				/* container for the multi-page results indicator */
	text-align: center;
	font-weight: bold;
	margin-top: 5px;
}
.resultnav p {
	margin: 2px 0;
	color: #cc6600;
}
.resultnav p span {
	color: #000000;
	margin-left: 8px;
}
.resultnav p a, .resultnav p strong {
	margin-left: 8px;
}
.resultnav p a:link, .resultnav p a:visited, .resultnav p a:active, .resultnav p a:hover {
	color: #336699;
}

/*CALENDAR STYLES - http://inside.principal.com/webstyleguide/layout/calendars.shtm*/
.clmonth { 
	border-collapse: collapse; 
	width: 100%; 
} 
.clmonth th { 
	border: 1px solid #AAAAAA; 
   border-bottom: none; 
   padding: 2px 8px 2px 8px; 
   font: bold 80% Verdana, Geneva, Arial, Helvetica, sans-serif; 
   width: 14%; 
} 
.clmonth td { 
	border: 1px solid #EAEAEA; 
	font: 80% Verdana, Geneva, Arial, Helvetica, sans-serif; 
	padding: 1px 4px 2px 4px; 
	vertical-align: top; 
	height: 150px;
} 
.date{
	font-size: 85%;
	font-weight: bold;
}
.nonmonthdate {
	font-size: 85%;
	font-weight: bold;
   color: #999999;
}
.clmonth ul { 
   margin-top: 0px;
	margin-left: 17px;
	font-size: 85%;
} 

/*Key Actions Box*/
#keyactions h2 {
	position:relative;
	color:#fff;
	background:#cc6600;
	font-size:120%;
	font-weight: bold;
	float:left;
	clear:both;
	padding:5px 10px 5px 20px;
	margin: 10px 20px 20px -10px;
	-moz-box-shadow:0 2px 0 rgba(0,0,0,0.4);
	-webkit-box-shadow:0 2px 0 rgba(0,0,0,0.4);
	-o-box-shadow:0 2px 0 rgba(0,0,0,0.4);
	box-shadow:0 2px 0 rgba(0,0,0,0.4);
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#333333')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#333333');
}
.triangle-l {
	border-color: transparent #994D00 transparent transparent;
	border-style:solid;
	border-width:15px;
	height:0px;
	width:0px;
	position: relative;
	left: -25px;
	top: 22px;
	z-index: -1; 
}
.triangle-r{
	border-color: transparent transparent transparent #994D00;
	border-style:solid;
	border-width:15px;
	height:0px;
	width:0px;
	position: relative;
	left: 350px;
	top: 10px;
	z-index: -1; 
}
#keyactions {
	margin: 10px;
	padding-bottom: 15px;
	background:#FCFCF9;
	border: 1px solid #E1E1E1;
	-moz-box-shadow:0 2px 4px 0 rgba(0,0,0,0.2);
	-webkit-box-shadow:0 2px 4px 0 rgba(0,0,0,0.2);
	-o-box-shadow:0 2px 4px 0 rgba(0,0,0,0.2);
	box-shadow:0 2px 4px 0 rgba(0,0,0,0.2);
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#cccccc')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#cccccc');
	clear: both;
}
#keyactions h3{
	color: #003366;	
}
#keyactions .threecoloptionleft {padding:0 0 0 10px; margin: -15px 0 0 0; border-right:1px dotted #cccccc; width: 30%; }
#keyactions .threecoloptioncenter {padding:0 0 0 10px; margin: -15px 0 0 0; border-right:1px dotted #cccccc; width: 30%}
#keyactions .threecoloptionright {padding: 0 0 0 5px; margin: -15px 0 0 0; width:30%;}
#keyactions .twocoloption1left {padding:0 0 0 10px; margin: -15px 0 0 0; border-right:1px dotted #cccccc; width: 45%;}
#keyactions .twocoloption1right {padding:0 0 0 10px; margin: -15px 0 0 0; width: 45%;}
#keyactions .onecoloption{padding:0 0 0 10px; margin: -15px 0 0 0; width: 60%;}

#keyactions.notab .threecoloptionleft {padding:0 0 0 10px; margin: 0; border-right:1px dotted #cccccc; width: 30%; }
#keyactions.notab .threecoloptioncenter {padding:0 0 0 10px; margin: 0; border-right:1px dotted #cccccc; width: 30%}
#keyactions.notab .threecoloptionright {padding: 0 0 0 5px; margin: 0; width:30%;}
#keyactions.notab .twocoloption1left {padding:0 0 0 10px; margin: 0; border-right:1px dotted #cccccc; width: 45%;}
#keyactions.notab .twocoloption1right {padding:0 0 0 10px; margin:  0; width: 45%;}
#keyactions.notab .onecoloption{padding:0 0 0 10px; margin: 0; width: 60%;}