#Branding img { border: none; text-decoration: none; }

/* Search */
#Search { display: none; }

/* Navigation-Header Skip */

#Header p.skip { display: none; }

ul#Navigation-Header { display: none; }

/*.Billboard { background: none; }*/

#Breadcrumb { display: none; }

.Column#Secondary { display: none; }

#Navigation-Footer { display: none; }