/**
 * @version		$Id: jcemediabox.css 909 2010-12-03 15:59:40Z happynoodleboy $
 * @package		JCE MediaBox
 * @copyright	Copyright (C) 2009 - 2010 Ryan Demmer. All rights reserved.
 * @license		GNU/GPL
 * This version may have been modified pursuant
 * to the GNU General Public License, and as distributed it includes or
 * is derivative of works licensed under the GNU General Public License or
 * other free or open source software licenses.
 */

#jcemediabox-popup-page, #jcemediabox-popup-overlay, #jcemediabox-popup-body, #jcemediabox-popup-loader, #jcemediabox-popup-container, 
#jcemediabox-popup-content, #jcemediabox-popup-content, #jcemediabox-popup-object, #jcemediabox-popup-iframe, #jcemediabox-popup-img {
	left: 0;
	top: 0;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	height: 100%;
	width: 100%;
}
#jcemediabox-popup-page {
	position: fixed;
	z-index: 10000;
}
#jcemediabox-popup-overlay {
	position: absolute;
	cursor: pointer;
}
#jcemediabox-popup-frame {
	position: relative;
	overflow: visible;
	height: 100%;
	z-index: 10001;
	cursor: pointer;
}
#jcemediabox-popup-body {
	position: relative;
	overflow: visible;
	margin: 0 auto;
	width: 300px;
	height: 300px;
	z-index: 10002;
	cursor: default;
}
#jcemediabox-popup-loader {
	text-align: center;
	line-height: 0;
}
#jcemediabox-popup-info-bottom, #jcemediabox-popup-info-top {
	overflow: hidden;
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
}
#jcemediabox-popup-container {
	overflow: hidden;
}
#jcemediabox-popup-content {}
#jcemediabox-popup-img, #jcemediabox-popup-object, #jcemediabox-popup-iframe {
	text-align: center;
}
#jcemediabox-popup-ajax {
	overflow: auto;
	border: 0;
	padding: 0;
	margin: 0;
	width: auto;
	height: 100%;
	background-color: #ffffff;
}
a.jcepopup span.jcemediabox-zoom-span {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
	position: relative;
}
a.jcepopup span.jcemediabox-zoom-image {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	display: block;
	background: transparent url(../img/zoom-img.png)/*tpa=http://www.l-3com.com/plugins/system/jcemediabox/img/zoom-img.png*/ no-repeat bottom right;
	width : 100%;
	height : 100%;
	position: absolute;
	z-index: 1;
	bottom:0;
	left:0;
}
a.jcepopup.icon-left span.jcemediabox-zoom-image, a.jcepopup.icon-bottom-left span.jcemediabox-zoom-image {
	background-position: bottom left;
}
a.jcepopup.icon-top-left span.jcemediabox-zoom-image {
	background-position: top left;
}
a.jcepopup.icon-top span.jcemediabox-zoom-image, a.jcepopup.icon-top-right span.jcemediabox-zoom-image {
	background-position: top right;
}
a.jcepopup.icon-center span.jcemediabox-zoom-image {
	background-position: center center;
}
a.jcepopup.icon-center-left span.jcemediabox-zoom-image {
	background-position: center left;
}
a.jcepopup.icon-center-right span.jcemediabox-zoom-image {
	background-position: center right;
}
a.jcepopup.icon-center-top span.jcemediabox-zoom-image {
	background-position: center top;
}
a.jcepopup.icon-center-bottom span.jcemediabox-zoom-image {
	background-position: center top;
}
a.jcepopup span.jcemediabox-zoom-link,
a.jcepopup span.jcemediabox-zoom-link.icon-right {
	padding-right: 16px;
	background: transparent url(../img/zoom-link.gif)/*tpa=http://www.l-3com.com/plugins/system/jcemediabox/img/zoom-link.gif*/ no-repeat center right;
	display: inherit;
}
a.jcepopup span.jcemediabox-zoom-link.icon-left {
	padding-left: 18px;
	background: transparent url(../img/zoom-link.gif)/*tpa=http://www.l-3com.com/plugins/system/jcemediabox/img/zoom-link.gif*/ no-repeat center left;
}
#jcemediabox-popup-caption, #jcemediabox-popup-caption h4, #jcemediabox-popup-caption p {
	margin: 0;
	padding: 0;
	border: 0;
}
/* Tooltips */
div.jcemediabox-tooltip, div.jcemediabox-tooltip-simple {
	z-index: 10010;
	width: 180px;
	text-align:left;
	color: #000000;
	background-color:#ffffff;
	border:1px solid black;
	padding: 4px;
	float: none;	
	max-width: 100%;
	position: absolute;
	top : 0;
	left : 0;
	visibility: hidden;
}
div.jcemediabox-tooltip h4, div.jcemediabox-tooltip-simple h4 {
	font-weight: bold;
	font-size: 11px;
	margin: 0;
	background: none;
	padding:0;
}
div.jcemediabox-tooltip p, div.jcemediabox-tooltip-simple p {
	font-size: 11px;
	background: none;
	margin: 0;
	padding:0;
}