.printimage { display: none; }
.leftnavbg { display: none; }
/*** the above two items are used to override print style classes ***/
/*****************************************************************************
******************************************************************************
GENERAL */
body { height: 1000px; background-color: white; margin: 0 auto; font: 12px Arial, Helvetica, Sans-serif; line-height: 16px; color: #000000; }
img { border: none; padding: 0; margin: 0 auto; }
p { margin-top: 0px; margin-bottom: 7px; }
ul { margin-left: 17px; margin-right: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px; margin-top: 0px; padding-bottom: 10px; margin-bottom: 0px; }
li { margin-left: 0px; padding-left: 0px; padding-bottom: 0px; margin-bottom: 0px; list-style-image: url(../images/bullet.png)/*tpa=http://www.oaktreecapital.com/images/bullet.png*/; }
/*****************************************************************************
******************************************************************************
SITE STRUCTURE */
.container1home { background-image: url(../images/BG-bancolor1x216.gif)/*tpa=http://www.oaktreecapital.com/images/BG-bancolor1x216.gif*/; background-repeat: repeat-x; }
.container1 { background-image: url(../images/BG-bancolor1x173.gif)/*tpa=http://www.oaktreecapital.com/images/BG-bancolor1x173.gif*/; background-repeat: repeat-x; }
.container2 { width: 780px; text-align: center; margin: 0 auto; position: relative; }
.topsection { width: 740px; height: 77px; padding-top: 11px; padding-bottom: 0px; padding-left: 40px; }
.toplogonav { height: 55px; }
.toplogo { padding-top: 7px; }
/* Global navigation */
.globalnavsection { font-size: 11px; padding-right: 17px; }
.globalnavlogin { vertical-align: middle; padding-left: 9px; }
/* TOP main site navigation */
.sitenav { width: 513px; height: 22px; text-align: left; margin-left: 227px; }
.sitenavimg { width: 128px; text-align: right; }
.sitenavimglast { width: 1px; text-align: left; }
/* tree banner style images */
.mastheadhome { width: 780px; height: 128px; }
/* middle section */
.lcrw { width: 780px; text-align: left; margin-top: 18px; }
.leftw { width: 175px; height: 400px; z-index: 2; position: absolute; top: 106px; left: 0px;  }
.leftcontent { width: 151px; background-color: white; padding-left: 12px; padding-right: 12px; padding-top: 4px; padding-bottom: 10px; }
.contenthome { width: 754px; padding-left: 26px; }
.centerright { width: 587px; padding-left: 193px; margin-top: 0px; }
.centerright_ { width: 887px; padding-left: 0px; margin-top: 0px; }
.centercontent { width: 394px; padding-right: 18px;}
.centercontentCenter { width: 780px; padding-right: 18px;}
.rightcontent { width: 175px; }
.centercontent_ { width: 540px; padding-right: 18px;}
.rightcontent_ { width: 220px; }
.bottomcontent { line-height: 13px; font-size: 10px; font-family: Verdana, Arial, Helvetica, Sans-serif; color: #877c79; text-align: center; padding-top: 50px; padding-bottom: 20px; }
/* nav vertical divider used for global nav and bottom footer nav */
.navdivider { color: #867b78; padding-left: 4px; padding-right: 4px; }
/*breadcrumb links top of interior pages, on: black, off: slate, rollover: slate with underline*/
.breadcrumbs { padding-top: 7px; height: 43px; font-size: 11px; color: black; }
/* go back links a bottom of some content pages */
.goback { padding-top: 24px; }
/*****************************************************************************
******************************************************************************
Links/navigation on/off/rollover states  */
/* General text links - slate */
a { text-decoration: none; color: #567283; }
a:hover { text-decoration: underline; color: #567283; /*#617B8B*/ }
/* home page navigation links*/
a.homelinks { font-size: 12px; display: block; color: #000000; text-decoration: none; border-bottom: solid 1px #dfdcd2; line-height: 13px; padding-top: 4px; padding-bottom: 4px; padding-right: 15px; background-image: url(../images/arrow6x7.gif)/*tpa=http://www.oaktreecapital.com/images/arrow6x7.gif*/; background-repeat: no-repeat; background-position: 208px 8px; }
a.homelinks:hover { color: #617B8B; text-decoration: none; }
/* tier 2 links - off state */
a.leftlinks { font-size: 13px; display: block; text-decoration: none; border-bottom: solid 1px #a1a2a3; line-height: 14px; padding-top: 5px; padding-bottom: 5px; padding-right: 10px; }
a.leftlinks:hover { color: #000000; text-decoration: none; }
/* tier 2 links - on state - turn text black and show caret */
.leftlinksel { font-size: 13px; color: #000000; border-bottom: solid 1px #a1a2a3; line-height: 14px; padding-top: 5px; padding-bottom: 5px; padding-right: 10px; background-image: url(../images/arrow5x8.gif)/*tpa=http://www.oaktreecapital.com/images/arrow5x8.gif*/; background-repeat: no-repeat; background-position: 146px 8px; }
.leftlinkselx { font-size: 13px; line-height: 14px; padding-top: 5px; padding-bottom: 5px; padding-right: 10px; background-image: url(../images/arrow5x8.gif)/*tpa=http://www.oaktreecapital.com/images/arrow5x8.gif*/; background-repeat: no-repeat; background-position: 146px 8px; }
/* tier 3 sub links - off state */
a.leftlinkssubfirst { font-size: 12px; display: block; text-decoration: none; border-bottom: solid 1px #ffffff; line-height: 14px; padding-top: 7px; padding-left: 15px; padding-right: 10px; padding-bottom: 4px; }
a.leftlinkssubfirst:hover { color: #000000; text-decoration: none; }
a.leftlinkssubmid { font-size: 12px; display: block; text-decoration: none; border-bottom: solid 1px #ffffff; border-top: solid 1px #ffffff; line-height: 14px; padding-top: 5px; padding-left: 15px; padding-right: 10px; padding-bottom: 4px; }
a.leftlinkssubmid:hover { color: #000000; text-decoration: none; }
a.leftlinkssublast { font-size: 12px; display: block; text-decoration: none; border-top: solid 1px #ffffff; line-height: 14px; padding-top: 5px; padding-left: 15px; padding-right: 10px; padding-bottom: 6px; }
a.leftlinkssublast:hover { color: #000000; text-decoration: none; }
/* tier 4 and 5 sub links - on state - leave text slate and show caret */
a.leftlinkssubselfirst { font-size: 12px; color: #567283; display: block; text-decoration: none; border-bottom: solid 1px #dfdcd2; line-height: 14px; padding-top: 7px; padding-left: 15px; padding-right: 10px; padding-bottom: 4px; }
a.leftlinkssubselfirst:hover { color: #000000; text-decoration: none; }
a.leftlinkssubselmid { font-size: 12px; color: #567283; display: block; text-decoration: none; border-bottom: solid 1px #dfdcd2; border-top: solid 1px #dfdcd2; line-height: 14px; padding-top: 5px; padding-left: 15px; padding-right: 10px; padding-bottom: 4px; }
a.leftlinkssubselmid:hover { color: #000000; text-decoration: none; }
a.leftlinkssubsellast { font-size: 12px; color: #567283; display: block; text-decoration: none; border-top: solid 1px #dfdcd2; line-height: 14px; padding-top: 5px; padding-left: 15px; padding-right: 10px; padding-bottom: 6px; }
a.leftlinkssubsellast:hover { color: #000000; text-decoration: none; }
/* tier 3 sub links - on state if on 3rd tier page */
.leftlinkssubselfirst { font-size: 12px; display: block; color: #000000; text-decoration: none; border-bottom: solid 1px #dfdcd2; line-height: 14px; padding-top: 7px; padding-left: 15px; padding-right: 10px; padding-bottom: 4px; background-image: url(../images/arrow5x8.gif)/*tpa=http://www.oaktreecapital.com/images/arrow5x8.gif*/; background-repeat: no-repeat; background-position: 146px 10px; }
.leftlinkssubselmid { font-size: 12px; display: block; color: #000000; text-decoration: none; border-bottom: solid 1px #dfdcd2; border-top: solid 1px #dfdcd2; line-height: 14px; padding-top: 5px; padding-left: 15px; padding-right: 10px; padding-bottom: 4px; background-image: url(../images/arrow5x8.gif)/*tpa=http://www.oaktreecapital.com/images/arrow5x8.gif*/; background-repeat: no-repeat; background-position: 146px 8px; }
.leftlinkssubsellast { font-size: 12px; display: block; color: #000000; text-decoration: none; border-top: solid 1px #dfdcd2; line-height: 14px; padding-top: 5px; padding-left: 15px; padding-right: 10px; padding-bottom: 6px; background-image: url(../images/arrow5x8.gif)/*tpa=http://www.oaktreecapital.com/images/arrow5x8.gif*/; background-repeat: no-repeat; background-position: 146px 8px; }
.leftnavsublast { font-size: 12px; border-bottom: solid 1px #a1a2a3; }
/***********************************************************************************************************************************
home page properties, content and navigation
************************************************************************************************************************************/
.homeheader { border-bottom: solid 1px #DFDDDC; }
.homenavsections { line-height: 18px; width: 226px; padding-right: 25px; padding-top: 0px; margin-top: 0px; }
.homecontent { padding-top: 10px; padding-bottom: 8px; }
.homeextralinks { padding-top: 13px; }
/***********************************************************************************************************************************
Content boxes
************************************************************************************************************************************/
/* basic boxes */
/* light beige background */
.cbox { width: 370px; padding: 2px 12px 0px 12px; background-color: #F6F2E7; }
/* dark beige #EDE8D1 */
.cbox2 { width: 370px; padding: 2px 12px 0px 12px; background-color: #F6F2E7; }
.cbox3 { width: 433px; padding: 2px 12px 0px 12px; background-color: #F6F2E7; white-space:nowrap;}
.cbox4 { width: 755px; padding: 2px 12px 0px 12px; background-color: #F6F2E7; }
/* basic box content */
.cboxheader { font-size: 11px; font-weight: bold; text-transform:uppercase; line-height: 18px; }
.cboxheader10 { font-size: 10pt; font-weight: bold; line-height: 18px; }
.cboxheader12 { font-size: 12pt; font-weight: normal; text-transform:uppercase; line-height: 18px; }
.cboxheaderNUC { font-size: 11px; font-weight: bold; line-height: 18px; }

.cboxlistitem { font-weight: bold; }
.cboxcontent { padding-top: 4px; border-bottom: solid 1px #d3d3d3; padding-bottom: 4px; }
.cboxcontentlast { padding-top: 4px; padding-bottom: 5px; }
.cboxcontent2 { padding-top: 4px; padding-bottom: 5px; }
/* contact us page */
.cboxcontact { width: 385px; padding: 1px 0px 1px 9px; background-color: #f6f2e7; }
.cboxcontactleft { width: 198px; padding-top:10px; padding-bottom: 10px; }
.cboxcontactright { width: 187px; padding-top:10px; padding-bottom: 10px; }
.cboxcontactoffices { font-size: 11px; width: 394px; padding: 0px 0px 0px 0px; }
.cboxcontactofficesright { width: 186px; padding-left: 9px; padding-top:10px; }
.officeheader { font-weight: bold; }
.officegroup { padding-bottom: 10px; }
/*assets by client type chart on the about oaktree page */
.cboxassetsclient { font-size: 11px; }
.cboxtype { padding-top: 1px; padding-bottom: 2px; } 
.cboxtypeheader { padding-top: 5px; padding-bottom: 4px;}
.cboxtypefooter { padding-top: 10px; padding-bottom: 10px;}
.cboxfooterinside { padding-left: 10px; padding-top: 10px; padding-bottom: 10px;}
.cboxcoltype { width: 240px; }
.cboxcolpercsign { width: 40px; text-align: right; }
.cboxcolperc { width: 30px; text-align: right; padding-right:10px;}
.cboxcolmil {  width: 90px; text-align: right; }
/*global offices box on the global presence page */
.cboxgp { width: 394px; background-color: #f6f2e7; font-size: 11px; }
.cboxgpcol1 { width: 95px; background-color: #f6f2e7; padding: 6px 0px 10px 1px; line-height: 15px; }
.cboxgpcol2 { width: 95px; background-color: #f6f2e7; padding: 6px 0px 10px 1px; line-height: 15px; }
.cboxgpcol3 { width: 95px; background-color: #f6f2e7; padding: 6px 0px 10px 1px; line-height: 15px; }
.cboxgpcol4 { width: 80px; background-color: #f6f2e7; padding: 6px 0px 10px 1px; line-height: 15px; }
/*oaktree story page */
.cboxdate { width: 60px; font-weight: bold; padding-top:1px;}
.cboxhistory { width: 310px; line-height: 16px; padding-bottom: 2px; padding-top: 1px; }
.cboxhistory2 { width: 515px; line-height: 16px; padding-bottom: 2px; padding-top: 1px; }
/* people alphabetical list page */
.cboxalphaheaders { width: 394px; height: 22px; text-align: center; }
.cboxalphaline { width: 1px; border-right: solid 1px #d3d3d3; margin-top: 3px; margin-bottom: 3px; height: 15px; }
.cboxalphacol { width: 97px; padding-top: 4px; height: 18px; }
.cboxalphacolsel { width: 96px; padding-top: 4px; height: 18px; background-color: #f6f2e7; }
.cboxalphacontent { width: 362px; padding: 22px 12px 10px 20px; background-color: #f6f2e7; }
/* investment teams page */
.cboxinvsteam { width: 394px; background-color: #EDE8D1; border-bottom: solid 1px #ffffff; margin-bottom: 10px; }
.cboxleft { font-size: 11px; font-weight: bold; width: 146px; padding: 7px 8px 8px 10px; background-color: #EDE8D1; }
.cboxleft_normal { font-size: 11px; font-weight: normal; width: 146px; padding: 7px 8px 8px 10px; background-color: #EDE8D1; }
.cboxright { width: 212px; background-color: #f6f2e7; padding: 7px 8px 8px 10px; }
/*strategies page headers */
.cboxstratheaders { width: 587px; background-color: #ffffff; font-size: 9px; font-weight: bold; line-height: 12px; margin-top: 20px; padding-bottom: 10px; }
.cboxstratcolhead1 { width: 112px; background-color: #ffffff; padding: 0px 9px 0px 9px; height: 24px; }
.cboxstratcolhead { width: 142px; background-color: #ffffff; border-left: solid 1px #cad4d4; padding-left: 9px; height: 24px; }
.cboxstratcolheadlast { width: 142px; background-color: #ffffff; font-size: 9px; font-weight: bold; border-left: solid 1px #cad4d4; padding-left: 9px; height: 24px; }
/*strategies page content */
.cboxstrat { width: 587px; background-color: #EDE8D1; border-bottom: solid 1px #ffffff; margin-bottom: 10px; height:auto; }
.cboxstratcols { width: 456px; background-color: #f6f2e7; }
.cboxstratcol1 { width: 112px; background-color: #EDE8D1; font-size: 11px; font-weight: bold; margin: 10px 0px 10px 0px; padding: 0px 9px 0px 9px; }
.cboxstratcol2 { width: 134px; background-color: #f6f2e7; border-right: solid 1px #cad4d4; line-height: 14px; margin: 10px 0px 10px 0px; padding: 0px 9px 0px 9px; }
.cboxstratcol3 { width: 134px; background-color: #f6f2e7; border-right: solid 1px #cad4d4; line-height: 14px; margin: 10px 0px 10px 0px; padding: 0px 9px 0px 9px; }
.cboxstratcol4 { width: 132px; background-color: #f6f2e7; line-height: 14px; margin: 10px 0px 0px 0px; padding: 0px 9px 10px 9px; }
/* right side content box */
.rboxcontent { font-size: 11px; padding-top: 8px; padding-left: 10px; padding-right: 10px; padding-bottom: 9px; line-height: 14px; }
.rboxcontentNoPadding { font-size: 11px; line-height: 14px; }
.rboxbgyel { border: solid 1px #DFDDD8; background-color: #F6F2E7; margin-bottom: 6px; }
.rboxbgwhi { border: solid 1px #DFDDD8; background-color: #FFFFFF; margin-bottom: 6px; }
.rboxheader { font-size: 11px; font-weight: bold; padding-bottom: 7px; }
.rboxgroup { padding-bottom: 7px; }
.rboxgroupheader { font-weight: bold; }
.rboxlinks { font-weight: bold; }
/***********************************************************************************************************************************
horizontal lines
************************************************************************************************************************************/
.linegrey { border-top: solid 1px #DFDDDC; padding-top: 0px; }
.thicklinered { border-bottom: solid 4px #A8472C; }
.thicklineochre { border-bottom: solid 4px #C2A204; }
.thicklineorange { border-bottom: solid 4px #C46326; }
.thicklinegreen { border-bottom: solid 4px #76842E; }
.thicklinegray { border-bottom: solid 4px #79655F; }
.thicklineblue { border-bottom: solid 4px #57939b; }
/***********************************************************************************************************************************
Text properties
************************************************************************************************************************************/
/* interior page headers */
.pheader { font-size: 20px; line-height: 23px; letter-spacing: 2px; padding-bottom: 14px; padding-left: 0px; }
.pbioheader { font-size: 20px; line-height: 23px; letter-spacing: 2px; padding-bottom: 14px; padding-left: 0px; }
.pbiotitle { font-size: 14px; line-height: 15px; letter-spacing: 0px; padding-top: 4px; }
.plistname { padding-bottom: 4px; }
.plisttitle { padding-left: 6px; }
.biopic { text-align: right; } /*right side bio picture */
.psubheader { font-size: 13px; font-weight: bold; padding-bottom: 7px; }
.psubheaderterms { font-weight: bold; }
.pdisclosure { padding-top: 35px; }
.fineprint { color: #626466; font-size: 11px; line-height: 12px; }
.nobiotext { font-weight: bold; color: Gray;}
.nolinktext { color: Gray;}
.paragroup { padding-bottom: 9px; }
.resumemailto { padding-top: 15px; padding-bottom: 20px;}
/* general structure properties */
.floatl { float: left; }
.floatr { float: right; }
/* bottom div spacers */
.biospacer { padding-bottom: 7px; }
.spacerbot10 { padding-bottom: 10px; }
.spacerbot15 { padding-bottom: 15px; }
.textCenter{text-align:center;font-size:12pt;}
.textLeftMT20{text-align:left;margin-top:20px;margin-bottom:10px;}
.center3Span{width:100%;}
.f15{ font-size: 15px; font-weight: bold;}
.clsTextBox{BORDER:1px solid #EDE8D1;FONT-SIZE:10pt;COLOR: black;font:10pt Century Gothic, Verdana, Helvetica, Arial;background-color:#FFFFFF;}
.nowrap1{white-space:nowrap;padding-top: 5px;}