body {font:400 13px/1.4 arial;background:url('../img/common/bg-header.jpg')/*tpa=http://www.franklinresources.com/corp/img/common/bg-header.jpg*/ 0 0 repeat-x;text-align:center;color:#000;}
#printMasthead {display:none;}
sup, sub {line-height:0;}
a{text-decoration:none;color:#369;cursor:pointer}
a:hover {text-decoration:underline !important;}
.tabList a {text-decoration:none !important;}

h1 {margin-bottom:15px;margin-top:12px;}
ul,ol,p {margin:0 0 10px;}
ul {margin-left:15px;}
ol {margin-left:27px;}
form {display:block;margin:0 0 10px;}
form p {margin:0 0 10px;}

b {vertical-align:baseline;}

ol li {margin-bottom:10px;}

sup,sub {font:10px arial !important;_font:11px arial !important;line-height:1px;color:#666;}

h1 sup {font:13px arial !important;}


input, label {vertical-align:middle;}
input.defval {color:#666;}
p a {text-decoration:underline;}
p a:hover {text-decoration:underline !important;}

a.extLink {display:inline-block;padding-right:18px;background:url('../img/common/icon-newWin.gif')/*tpa=http://www.franklinresources.com/corp/img/common/icon-newWin.gif*/ right 5px no-repeat;}
a.nu {text-decoration:none !important;}
a.u {text-decoration:underline;}

#siteWrapper {width:980px;margin:0 auto 20px;text-align:left;}

#masthead {height:93px;position:relative;z-index:100;}
#masthead h1 {position:relative;left:-4px;margin:0;padding:0;}
#masthead h1 a {width:258px;height:93px;background:url('../img/common/bg-hm-array.png')/*tpa=http://www.franklinresources.com/corp/img/common/bg-hm-array.png*/ -400px -127px no-repeat;display:block;text-indent:-9999em;}

#masthead #logo {margin-left:-4px;position:relative;}
#tagline {position:relative;height:30px;background:url('../img/common/bg-tagline.png')/*tpa=http://www.franklinresources.com/corp/img/common/bg-tagline.png*/ 0 0 no-repeat;}
#tagline .tagline {display:inline-block;float:left;font:700 12px arial;margin:8px 0 0;font:700 12px arial;color:#bde;text-align:center;width:245px;}
#tagline .tagline b {display:inline-block;margin:0 1px;}

#ggateway{position:absolute;top:20px;left:270px;font:700 16px arial;color:#A9AA98;}

#navigation {position:absolute;z-index:30;right:0;bottom:0;_bottom:-1px;width:726px;}

/*global navigation*/
/*#glbNavBlock{position:relative;margin-bottom:14px;display:block;margin-left:5px;}*/
#glbNavBlock{position:absolute;left:500px;top:-45px;margin-bottom:8px;_margin-bottom:13px;}
#glbNavBlock li{display:inline;float:left;}
#globalNav {height:auto;margin:0;list-style:none;}
#globalNav li a {display:inline-block;padding:0 10px;border-right:1px solid #ccc;font:12px/1em arial;}
#globalNav li.lc a{border:0;}


#siteSearch{position:absolute;z-index:50;top:15px;right:0;width:185px;text-align:right;}
#siteSearch input.txt{width:125px;_right:-7px;position:relative;}

/*Primary navigation*/
#priNavBlock {position:relative;top:0;z-index:30;background:url('../img/common/bg-hm-array.png')/*tpa=http://www.franklinresources.com/corp/img/common/bg-hm-array.png*/ right -376px no-repeat;padding-left:16px;}

/*pri nav links*/
#priNavBlock ul,
#secNavBlock ul {list-style:none;font:12px arial;}
#priNavBlock ul.priNav {font-weight:700;margin:0;margin-left:-10px;}
#priNavBlock ul.priNav li{float:left;text-align:center;margin:0;border:0;}


/*pri Level*/
#priNavBlock ul.priNav li a {position:relative;color:#000;display:block;padding:11px 10px 14px;}




#priNavBlock ul.priNav li a b {position:absolute;background:#999;right:0;_right:-1px;height:10px;width:1px;top:14px;font-size:1px;}
#priNavBlock ul.priNav li.last a b {display:none;}


#priNavBlock ul.priNav li#currentPriNav {background:#29b;padding:0;}/*color changed for portal page*/
#priNavBlock ul.priNav li#currentPriNav a{color:#fff;display:block;}
#priNavBlock ul.priNav li#currentPriNav ul.secNavDropDwn li a{font-weight:400;background:#F5F5EF;border:0;color:#666;width:180px;display:block;text-decoration: none;padding:7px 10px;vertical-align:middle;}
#priNavBlock ul.priNav li#currentPriNav ul.secNavDropDwn li a:hover{background:#dee;text-decoration:none;color:#666;border:0 !important;padding:7px 10px !important;vertical-align:middle;}/*color changed for portal page*/

#priNavBlock ul.priNav ul.secNavDropDwn {z-index:9999;position:absolute;margin:0;padding:0;font-weight:400;left:-1px;top:-999em;border:1px solid #B6A68F;border-top:0;text-align:left;}
#priNavBlock ul.priNav li.dropTrigger ul.secNavDropDwn a {font-weight:400;background:#F5F5EF;border:0;color:#666;width:180px;display:block;text-decoration: none;padding:7px 10px;vertical-align:middle;z-index:999;}
#priNavBlock ul.priNav li.dropTrigger ul.secNavDropDwn li a:hover {background:#dee;text-decoration:none;color:#666;border:0 !important;padding:7px 10px !important;vertical-align:middle;}/*color change for portal*/
#priNavBlock ul.priNav ul.secNavDropDwn li{text-align:left;margin:0;border-top:2px solid #fff;}
#priNavBlock ul.priNav ul.secNavDropDwn li.fc {border:0;}

#priNavBlock ul.priNav ul.secNavDropDwn a b {padding:0;border:0;display:none;}

/*dropTrigger to show sec nav*/

#priNavBlock ul.priNav li.last ul.secNavDropDwn {}
#priNavBlock ul.priNav li.dropTrigger ul.secNavDropDwn {top:40px;}
#priNavBlock ul.priNav li.dropTrigger {position:relative;background:#29b;}/*color change for portal*/
#priNavBlock ul.priNav li.dropTrigger a {color:#fff;}
#priNavBlock ul.priNav li.dropTrigger a b,
#priNavBlock ul.priNav li a b.border {top:0;height:51px;background:#ccb;}

/* Core Content Structures */
#contentWrapper{margin:0;border-top:6px solid #ddc;padding-bottom:30px;background-color:#fff;}/*galileo bgcolor modified for portal pages*/

 

/* 2ndary Nav - side */
#sideNav {position:relative;float:left;width:244px;margin:56px 24px 0 0;padding-bottom:30px;font:12px arial;border-top:6px solid #29b;padding-top:15px;z-index:50;font:12px arial;}/*color change for portal*/
#sideNav .con {border-bottom:1px solid #ddd;}

b.sn-shad {position:absolute;display:inline-block;z-index:40;width:12px;height:240px;background:url('../img/common/shadow-snav.png')/*tpa=http://www.franklinresources.com/corp/img/common/shadow-snav.png*/ 0 0 no-repeat;left:245px;top:-6px;}
b#cover {position:absolute;display:block;top:-62px;left:0;z-index:20;width:245px;height:56px;background:#fff;}


/** mainContent **/
#mainContent {float:left;width:466px;
min-height:300px;height:auto !important;height:300px;padding-top:0px;} /* min-height of 300px*/

div.contentOneCol {background:#fff;}

div.contentTwoCol,
div.contentThreeCol {background:url('../img/common/sn-line.gif')/*tpa=http://www.franklinresources.com/corp/img/common/sn-line.gif*/ 244px 52px repeat-y #fff;}


div.contentOneCol #mainContent {width:980px;z-index:50;}
div.contentTwoCol #mainContent {width:711px;z-index:45;}

div.contentOneCol #mainContent h1 {padding-left:10px;}
div.contentOneCol #mainContent h1.offset {padding-left:268px !important;}

div.contentTwoCol #mainContent h1,
div.contentTwoCol #mainContent p {padding-right:10px;}


/**rightContent**/
#sideBar {position:relative;float:left;width:221px;margin:56px 0 0 24px;background:#F2F2EB;padding:0;}

/**global footer**/
#footer {clear:both;color:#666;background:url('../img/common/bg-hm-array.png')/*tpa=http://www.franklinresources.com/corp/img/common/bg-hm-array.png*/ 0 -420px no-repeat;zoom:1;}
/**Commented for bug FTRD-1876,1912**/
/**#footer .con {line-height:1em;top:7px;height:43px;padding:19px 10px 0;border-top:7px solid #ddc;}**/
#footer .con {border-top:7px solid #DDDDCC;height:38px;z-index:0;line-height:1em;padding:17px 10px 0;margin-top:7px;}




#footer p {padding-bottom:1px;z-index:1;}
#footer p a {text-decoration:none;}
#footer p a:hover {text-decoration:underline;}
/** Added for Footer Navigation **/
#footer ul li{display:inline;padding-top:45px;}
#footer ul li a {float:right;padding:0 5px;border-right:1px solid #ccc;font:12px arial;}
#footer ul li a:hover {text-decoration:underline;}
#footer ul li.fc a{border:0;}

/* some PFM to get the sideNav working */

#sideNav ul{list-style:none;padding:0;margin:0;width:224px;}
#sideNav ul.secLevel {margin:10px 0 20px;} /*matching sideNav width */
#sideNav ul li.focused a {font-weight:700;}

#sideNav ul.secLevel li {position:relative;font-weight:700;margin:0;padding:1px 0;border-top:1px solid #ddd;}
#sideNav ul.secLevel li a {position:relative;display:block;cursor:pointer;padding:9px 15px 8px 24px;
/*for ie hasLayout */ zoom:1;background:url('../img/common/sn-bullet-gp.gif')/*tpa=http://www.franklinresources.com/corp/img/common/sn-bullet-gp.gif*/ 10px 14px no-repeat;margin-right:-10px;}


#sideNav ul.terLevel li.focused a.fc,
#sideNav ul.terLevel li.focused a:first-child {margin-bottom:1px;}
#sideNav ul.secLevel li.focused a.path b {display:block;position:absolute;width:6px;height:6px;left:10px;top:14px;background:url('../img/common/sn-bullet-gp.gif')/*tpa=http://www.franklinresources.com/corp/img/common/sn-bullet-gp.gif*/ 0 -97px no-repeat;}
#sideNav ul.terLevel li.focused a.path b {display:none;margin-bottom:1px;}
#sideNav ul.terLevel li.focused a.path {margin-right:-7px;}

#sideNav ul.secLevel li#currentLink span a{font-weight:700 !important;}
#sideNav ul.secLevel li#currentLink span b {display:block;position:absolute;width:6px;height:6px;left:10px;top:13px;background:url('../img/common/sn-bullet-gp.gif')/*tpa=http://www.franklinresources.com/corp/img/common/sn-bullet-gp.gif*/ 0 -194px no-repeat;}
#sideNav ul.terLevel li#currentLink span b {display:none;}
#sideNav ul.quatLevel li#currentLink span b {display:block;position:absolute;width:6px;height:6px;left:7px;top:11px;background:url('../img/common/sn-bullet-gp.gif')/*tpa=http://www.franklinresources.com/corp/img/common/sn-bullet-gp.gif*/ -244px -194px no-repeat;}


#sideNav ul.secLevel li.focused .path,
#sideNav ul.secLevel li#currentLink .path {background:url('../img/common/snArrow-2ndpath.gif.png')/*tpa=http://www.franklinresources.com/corp/img/common/snArrow-2ndpath.gif*/ right center no-repeat #eee;}
#sideNav ul.secLevel li#currentLink .path {}

#sideNav ul.terLevel li.focused .path,
#sideNav ul.terLevel li#currentLink .path {background:url('../img/common/snArrow-3rdpath.gif.png')/*tpa=http://www.franklinresources.com/corp/img/common/snArrow-3rdpath.gif*/ right center no-repeat #eee;}
#sideNav ul.terLevel li#currentLink .path {}
#sideNav ul.secLevel li#currentLink span {font-weight:700;position:relative;display:block;margin:0;}

#sideNav ul.terLevel {margin-top:1px;border-top:1px solid #ddd;width:224px;margin-bottom:15px;}
#sideNav ul.terLevel li {position:relative;font-weight:400;border:0;padding:1px 0;border-bottom:1px solid #ddd;margin-left:24px;}
#sideNav ul.terLevel li a {font-weight:400;padding:5px 15px 4px 4px;margin:0;margin-right:-8px;background:transparent;}

#sideNav ul.quatLevel{border-top:1px solid #ddd;width:auto;margin:0;padding:0;}
#sideNav ul.quatLevel li {padding:1px 0;margin-left:10px;border:0;}
#sideNav ul.quatLevel li.fc,
#sideNav ul.quatLevel li:first-child{padding-bottom:0;}
#sideNav ul.quatLevel li a {font-weight:400;padding:3px 0;padding-left:15px;padding-right:10px;background:url('../img/common/sn-bullet-gp.gif')/*tpa=http://www.franklinresources.com/corp/img/common/sn-bullet-gp.gif*/ -238px -90px no-repeat;}

#sideNav ul.secLevel li#currentLink span a{padding:9px 20px 8px 24px;color:#fff;zoom:1;margin:0;background:url('../img/common/snArrow-2ndon.gif')/*tpa=http://www.franklinresources.com/corp/img/common/snArrow-2ndon.gif*/ right center no-repeat #29b;margin-right:-10px;}
#sideNav ul.terLevel li#currentLink span a{margin-right:-8px;padding:5px 15px 4px 4px;background:url('../img/common/snArrow-3rdon.gif')/*tpa=http://www.franklinresources.com/corp/img/common/snArrow-3rdon.gif*/ right center no-repeat #29b;}
#sideNav ul.quatLevel li#currentLink span a{margin-right:-8px;padding:5px 15px 4px;padding-left:15px;background:url('../img/common/snArrow-3rdon.gif')/*tpa=http://www.franklinresources.com/corp/img/common/snArrow-3rdon.gif*/ right center no-repeat #29b;}
#sideNav ul.terLevel li#currentLink .path {padding-right:8px;}

#sideNav ul.terLevel {position:absolute;top:-999em;margin-top:1px;border-top:1px solid #ddd;width:224px;margin-bottom:15px;}
#sideNav ul.quatLevel{position:absolute;top:-999em;border-top:1px solid #ddd;width:auto;margin:0;padding:0;}

/** Added for the bug FTRD-1983 - Start **/
#sideNav ul.secLevel li.focused ul.terLevel{position:relative;top:0px;display:block;}
#sideNav ul.secLevel li#currentLink ul.terLevel{position:relative;top:0px;display:block;}
#sideNav ul.secLevel li.focused ul.terLevel li#currentLink ul.quatLevel{position:relative;top:0px;display:block;}
#sideNav ul.secLevel li.focused ul.terLevel li.focused ul.quatLevel{position:relative;top:0px;display:block;}
/** Added for the bug FTRD-1983 - End **/



#sideNav h2 {font:700 12px arial;color:#333;margin-left:25px;}

#sideNav form select,
#userSideNav form select {width:190px;}

#sideNav .con {margin:0 25px;color:#333;padding-bottom:20px;}
#sideNav .con h2 {margin-left:0;}
#sideNav .con h3 {font:700 12px arial;margin-bottom:5px;}
#sideNav .con div.hr {background:transparent;border-bottom:1px solid #ddd;height:1px;}

/******
 * User Specific SideNav
******/
#userSideNav {position:relative;float:left;width:244px;margin:0 24px 0 0;padding-bottom:30px;font:12px arial;z-index:50;font:12px arial;margin-top:-6px;}
#quickLink {background:#dee;padding:10px 15px;}
#quickLink h2 {font:700 12px arial;text-transform:uppercase;margin-top:4px;margin-bottom:15px;}
#quickLink ul {margin:0 0 5px;width:auto;color:#369;list-style:none;}
#quickLink ul li {margin:0;padding:0;}
#quickLink ul a {display:block;padding:8px 10px;width:196px;background:#fff;font:12px arial;color;#666;margin:1px 0 0

!important;text-decoration:none;color:#666;}
#quickLink ul a:hover {background:#fce09f;color:#b50;}

#userNav {padding:0 25px;width:194px;}

#userNav h2 {margin-left:0;margin-bottom:10px;}
#userNav .promo {padding-bottom:15px;border-bottom:1px solid #ddd;width:194px;}
#userNav ul {list-style:disc;border-bottom:1px solid #ddd;padding-bottom:15px;color:#369;margin:0;margin-bottom:15px;width:auto;}
#userNav ul li {padding-right:10px;margin-left:15px;}
#userSideNav #sideNav {margin:0;margin-top:2px;float:none;}




#fundsearch {padding:10px 25px;margin-left:-2px;}
#fundsearch h2 {font:700 12px arial;color:#333;margin-left:0;margin-bottom:10px;}
#fundsearch form {border:0;padding:0;margin:0;margin-bottom:10px;}
#fundsearch form input.txt {width:158px;}
#fundsearch p a {text-decoration:none;}
#fundsearch p a:hover {text-decoration:underline;}

/* clearing floated elements */
.clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clearfix {display: inline-block; min-height:1%;}
/* IE 7 standards mode */
*:first-child+html .clearfix{display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}

/* generic float class, typically images */
.float-left {float:left;display:inline-block;}
.float-right {float:right;display:inline-block;}
.hidden {visibility:hidden;}
.lalign {text-align:left !important;}
.ralign {text-align:right !important;}
.calign {text-align:center !important;}
.clear {clear:both;}


/* jira # FTSEO-254 fix code */
#addLogo a {background: url("../img/common/bg-hm-array.png")/*tpa=http://www.franklinresources.com/corp/img/common/bg-hm-array.png*/ no-repeat scroll -400px 0 transparent;display: block;height: 126px;text-indent: -9999em; width: 257px;z-index:100}
