body {background:url('../img/common/globaPortal_homepage_bg_4.jpg')/*tpa=http://www.franklinresources.com/corp/img/common/globaPortal_homepage_bg_4.jpg*/ 0 0 repeat-x;}

#siteWrapper {width:980px;margin:0 auto;text-align:left;}

#masthead {height:126px;z-index:10;}
#masthead h1 {font:20px arial;color:#fff;}
#masthead h1 a {width:258px;height:126px;background:url('../img/common/bg-hm-array.png')/*tpa=http://www.franklinresources.com/corp/img/common/bg-hm-array.png*/ -400px 0 no-repeat;display:block;text-indent:-9999em;}
 
#ggateway{position:absolute;top:35px;left:267px;font:700 16px arial;color:#A9AA98;}

#navigation {bottom:0;}

#glbNavBlock{position:absolute;left:500px;top:-65px;margin-bottom:8px;_margin-bottom:13px;}

#priNavBlock {height:51px;background-position:right -365px;}
#priNavBlock ul.priNav li a {color:#000;font-weight:700;display:block;padding:18px 7px 18px;} 
#priNavBlock ul.priNav li a span {margin:0;padding:0;display:block;}
#priNavBlock ul.priNav li a b {top:21px;}
#priNavBlock ul.priNav li.dropTrigger ul.secNavDropDwn {top:51px;_top:50px;margin-bottom:0;}
b#cover {display:none;}


#contentWrapper{background:transparent;border:0;padding:0 0 7px;}
#gp-wrapper{background:#F4F5EF; top:35px;_top:34px;position:relative;margin: 0 0 30px 5px;line-height:1.4;}
/*country flash files*/
#gp-side{position:relative;float:left;width:255px;z-index:50;background:transparent; margin: -39px 0 0 -6px;_margin:0 0 0 -6px;padding:0;}/*ie*/
#gp-side #countries{min-height:300px;height:auto !important;height:300px;padding:0px 5px;background:url("../img/common/home/pipes.png")/*tpa=http://www.franklinresources.com/corp/img/common/home/pipes.png*/ repeat-y scroll 0 0 transparent;width:245px;}
#gp-side #countries .nav-item{background:#fff;border:1px solid #F4D39E;width:232px;}

#gp-side .other{margin:0 10px;_margin:0 0 0 7px;padding:0;font:12px arial;}
#gp-side .other .con{background:url('../img/common/bg_other_panel.gif')/*tpa=http://www.franklinresources.com/corp/img/common/bg_other_panel.gif*/ 0 0 repeat-y;width:235px;_width:215px;padding:0 10px;}
#gp-side .other .h{background:url('../img/common/bg_other_t.gif')/*tpa=http://www.franklinresources.com/corp/img/common/bg_other_t.gif*/ 0 top no-repeat;display:block;height:10px;margin:0 0 0 -10px;width:235px;}
#gp-side .other .f{display:block;background:url('../img/common/bg_other_b.gif')/*tpa=http://www.franklinresources.com/corp/img/common/bg_other_b.gif*/ 0 bottom no-repeat;height:5px; clear:both;
padding-top:10px;border:0;margin:0 0 0 -10px; width:235px;}


#gp-side h2{padding:5px 5px 0;width:233px;}
#gp-side .other ul{margin:10px 10px 10px 20px;}
#gp-side .other li{padding-bottom:5px;}
#gp-side .other .newWin{background:url('../img/common/icon-newWin.gif')/*tpa=http://www.franklinresources.com/corp/img/common/icon-newWin.gif*/ no-repeat;margin-left:2px;
padding:0 7px 0 6px;}


/** mainContent **/
#gp_content {position:relative;float:left;min-height:300px;height:auto !important;height:300px;background:transparent;margin:0;padding:0;width:726px;_width:auto;} 
#gp-billboard {width:auto;height:251px;border-bottom:5px solid #DEDDCF;background:#fff;margin-left:-3px;} 

#gp-main{width:auto;padding:0;border-top:1px solid #fff;}
#gp-main h2{font:18px georgia;}
#gp-main ul{width:auto;}
#gp-main li {margin:0 0 5px;}
#gp-main li p{margin:0;}
 
#w-new{width:auto;font:13px arial;margin:0;background:url('../img/common/shadow-snav.png')/*tpa=http://www.franklinresources.com/corp/img/common/shadow-snav.png*/ #F4F5EF 362px -60px no-repeat;_background-image:none;line-height:1.4em;} /*ie*/
#w-new .item{float:left;width:325px;margin-bottom:15px;padding:0 10px 0 20px;_padding-right:20px;}/*ie*/
#w-new .item-a{float:left;width:325px;margin-bottom:15px;padding:0 10px 0 30px;_border-left:1px solid #ccc;_padding-left:20px;}/*ie*/
#w-new h2{margin:10px 0;}
#w-new div.hr {margin:17px 20px 14px;}
#w-new .item-b{clear:both;width:auto;margin-bottom:25px;padding:0 10px 0 20px;}
#w-new ul{margin-left:3px;}
#w-new .item li, 
#w-new .item-a li,
#w-new .item-b li {list-style-type:none;background: url(../img/common/bullet.gif)/*tpa=http://www.franklinresources.com/corp/img/common/bullet.gif*/ left 7px no-repeat;padding-left: 15px;}
#w-new p a{text-decoration:none;}


.feature{font:13px arial;line-height:1.4em;}
.feature div.hr {margin:17px 20px 14px;}
.feature .f-item,
.feature .f-item-a{width:342px;float:left;margin-bottom:25px;padding:0 10px;_padding:0 7px;}/*ie*/
.feature .f-item {border-right:1px solid #dedede;}
/*.feature .f-item-a{float:left;width:342px;margin-bottom:25px;padding:0 10px;}*/
.feature .f-item-b{width:auto;margin-bottom:25px;padding:0 20px 0 10px;}
.feature .f-item-b img{float:left;margin-right:20px;margin-bottom:25px;}
.feature h2{margin:0 0 10px 10px;}
.feature p{padding-left:10px;padding-right:10px;}
.feature p p{padding-left:0;padding-right:0;} 
.feature p a{text-decoration:none;}

/*ie*/ 
.feature .f-item,
.feature .f-item-a p{_width:330px;}
 
.feature .f-item li,
.feature .f-item-a li,
.feature .f-item-b li{list-style-image:none;background: url(../img/common/bullet.gif)/*tpa=http://www.franklinresources.com/corp/img/common/bullet.gif*/ left 7px no-repeat;padding-left: 15px;list-style-type:none;}  

 
div.legalinfo {position:relative;clear:both;margin-top:0;margin-right:24px;padding-top:25px;margin-left:20px;line-height:1.4;}

/* IE6, IE7, IE8 */
.feature p a {margin-left:0px\9; }

/*countries list*/
#gp-side #countries h3.expand.cHover{background-image:url("../img/common/home/rolloverActive_FTSites.png")/*tpa=http://www.franklinresources.com/corp/img/common/home/rolloverActive_FTSites.png*/;color:#fff;text-shadow:0px -1px #666;}
#gp-side #countries h3.otherSite.cHover{background-image:url("../img/common/home/rollover_OtherSites.png")/*tpa=http://www.franklinresources.com/corp/img/common/home/rollover_OtherSites.png*/;color:#fff;text-shadow:-1px -1px #666;}
#gp-side #countries .flag{margin:8px 8px 0 18px;float:left;display:block;width:16px;height:11px;line-height:11px;background:url(../img/common/home/flags-sprite.png)/*tpa=http://www.franklinresources.com/corp/img/common/home/flags-sprite.png*/ no-repeat}
#gp-side #countries .greek-flag{margin:8px 8px 0 18px;float:left;display:block;width:18px;height:12px;line-height:11px;background:url(../img/common/home/greek_flag.png)/*tpa=http://www.franklinresources.com/corp/img/common/home/greek_flag.png*/ no-repeat}
#gp-side #countries .flag.ad{background-position:0 0}
#gp-side #countries .flag.at{background-position:-16px 0px}
#gp-side #countries .flag.au{background-position:0px 0px}
#gp-side #countries .flag.be{background-position:-32px 0px}
#gp-side #countries .flag.br{background-position:-48px 0px}
#gp-side #countries .flag.ca{background-position:-64px 0px}
#gp-side #countries .flag.ch{background-position:-464px 0px}
#gp-side #countries .flag.cn{background-position:-560px 0px}
#gp-side #countries .flag.cy{background-position:-80px 0px}
#gp-side #countries .flag.cz{background-position:-96px 0px}
#gp-side #countries .flag.de{background-position:-160px 0px}
#gp-side #countries .flag.dk{background-position:-112px 0px}
#gp-side #countries .flag.es{background-position:-432px 0px}
#gp-side #countries .flag.fi{background-position:-128px 0px}
#gp-side #countries .flag.fr{background-position:-144px 0px}
#gp-side #countries .flag.gb{background-position:-496px 0px}
#gp-side #countries .greek-flag.gr{background-position:-18px 0px}
#gp-side #countries .flag.hu{background-position:-192px 0px}
#gp-side #countries .flag.hk{background-position:-176px 0px}
#gp-side #countries .flag.it{background-position:-224px 0px}
#gp-side #countries .flag.in{background-position:-208px 0px}
#gp-side #countries .flag.jp{background-position:-240px 0px}
#gp-side #countries .flag.kr{background-position:-256px 0px}
#gp-side #countries .flag.lu{background-position:-272px 0px}
#gp-side #countries .flag.mx{background-position:-304px 0px}
#gp-side #countries .flag.my{background-position:-288px 0px}
#gp-side #countries .flag.nl{background-position:-320px 0px}
#gp-side #countries .flag.no{background-position:-336px 0px}
#gp-side #countries .flag.pl{background-position:-352px 0px}
#gp-side #countries .flag.pt{background-position:-368px 0px}
#gp-side #countries .flag.ro{background-position:-528px 0px}
#gp-side #countries .flag.se{background-position:-448px 0px}
#gp-side #countries .flag.sg{background-position:-384px 0px}
#gp-side #countries .flag.sk{background-position:-400px 0px}
#gp-side #countries .flag.tw{background-position:-480px 0px}
#gp-side #countries .flag.us{background-position:-512px 0px}
#gp-side #countries .flag.za{background-position:-416px 0px}
#gp-side #countries .flag.noflag{background-image:none;}
#gp-side  h3.otherSite{background:url("../img/common/home/inactive_OtherSites.png")/*tpa=http://www.franklinresources.com/corp/img/common/home/inactive_OtherSites.png*/ repeat scroll 0 0 transparent;color:#3C5270;cursor:pointer;font-family:arial;font-size:14px;height:35px;letter-spacing:-0.5px;line-height:35px;margin:0;text-indent:6px;text-shadow:0 1px #ECECEC;width:auto;}
#gp-side  h3.expand{background:url("../img/common/home/inactive_FTSites.png")/*tpa=http://www.franklinresources.com/corp/img/common/home/inactive_FTSites.png*/ repeat scroll 0 0 transparent;cursor:pointer;letter-spacing:-0.5px;font-family:arial;font-size:14px;height:35px;line-height:35px;margin:0;text-indent:6px;text-shadow:-1px -1px #CCC;width:auto;color:#424242;}
#gp-side  h3.selected{background:url("../img/common/home/rolloverActive_FTSites.png")/*tpa=http://www.franklinresources.com/corp/img/common/home/rolloverActive_FTSites.png*/ repeat scroll 0 0 transparent;text-shadow:0px -1px #666;color:#fff;border-bottom:1px solid #BABABA;}
#gp-side h3.expand span{background:url("../img/common/home/caratClosed.png")/*tpa=http://www.franklinresources.com/corp/img/common/home/caratClosed.png*/ no-repeat scroll 0 2px transparent;height:11px;padding:0 0 0 16px;width:6px;}
#gp-side  h3.selected span{background:url("../img/common/home/caratOpen.png")/*tpa=http://www.franklinresources.com/corp/img/common/home/caratOpen.png*/ no-repeat scroll 0 4px transparent;height:10px;width:7px;}
#gp-side  ul{margin:0;padding:0;width:auto;border-bottom:1px solid #BABABA;}
#gp-side  li{height:27px;background:#EEEFE9;margin:0;padding:0;width:auto;list-style:none;}
#gp-side  li a{color:#424242;font-family:arial;font-size:13px;text-decoration:none;display:block;height:25px;line-height:25px;border-bottom:1px solid #EEEFE9;border-top:1px solid #EEEFE9;}
#gp-side  li a:hover{background-color:#FFF;border-bottom:1px solid #DCDCDC;border-top:1px solid #DCDCDC;line-height:25px;}
#countries{width:255px;padding:0px 5px;background:url("../img/common/home/pipes.png")/*tpa=http://www.franklinresources.com/corp/img/common/home/pipes.png*/ repeat-y scroll 0 0 transparent;}
#countries #oos{border-top:1px solid #DCDCDC;color:#BB5500;font-family:Georgia;font-size:14px;height:54px;line-height:54px;text-align:center;width:auto;background:#fff;}
#gp-side #lastSite{height:6px;width:auto;display:block;background:url("../img/common/home/bottomShadow.png")/*tpa=http://www.franklinresources.com/corp/img/common/home/bottomShadow.png*/ no-repeat scroll 0 0 transparent;}

#gp-side #selectTitle{height:51px;width:auot;background:url("../img/common/home/topShadowVert.png")/*tpa=http://www.franklinresources.com/corp/img/common/home/topShadowVert.png*/ no-repeat scroll 0 0 #EEEFE9;color:#BB5500;font-family:Georgia;font-size:14px;line-height:51px;text-align:center;}
#gp-side #countries h3.cHover a{color:#fff;text-decoration:none !important;}
#gp-side #countries .otherSite a{color:#3C5270;}
