@import url(reset_portal.css)/*tpa=http://www.franklinresources.com/corp/css/reset_portal.css*/;

body {background:#fff;margin:0;padding:0;line-height:1.4em;font:10pt arial;}

#siteWrapper, #tagline, #contentWrapper {width:100%;border:0;line-height:1.4em;}

#contentWrapper {background:transparent;}

.prominent {font:700 10pt arial;color:#000;}
.asof,.instruction,.subdesc {font:8pt arial;line-height:1em;vertical-align:baseline;}

a {color:#666;}
ul,ol {margin-left:.2in;}
h1 {font:700 14pt 'Times NR';margin:0 0 1em;}
h2 {font:700 12pt arial;}
h3 {font:700 10pt arial;}

p+h2,
ul+h2,
ol+h2 {margin-top:2em;}

p+h3,
ul+h3,
ol+h3 {margin-top:1em;}

td {vertical-align:top !important;text-align:left;}

p{padding:0;margin:0 0 1em;}

li {margin-bottom:.5em;}

#printMasthead{display:block; padding-bottom:.5em;margin-bottom:.5em;border-bottom:1px solid #000;}
#printMasthead img {margin-right:10px;}
#printMasthead h1{font:700 18px Arial; display:inline-block;margin:0;}

#mainContent {border:0;}

#printHead {border-bottom:1px solid #000;margin-bottom:.125in;padding-bottom:5px;}
#printHead h1 {font:700 14pt 'Times NR';margin:0;}
#printHead img {margin-right:20px;}

#masthead,
#siteSearch,
#navigation,
#sideNav,
#tagline,
#sideBar,
#ltBox-leavingSite {display:none;}

div.anchor,
#nav,
p.top {display:none;}

#mainContent {width:100%;}

/*
#mainContent a:link:after,
#mainContent a:visited:after,
#sideBar a:link:after,
#sideBar a:visited:after  {
   content: " (" attr(href) ") ";
   font-size: 90%;
   }*/



#sideBar img {width:100%;}
#sideBar .content {padding:1em;}
#sideBar ul {margin-left:.25in;padding:0;}

#footer {clear:both;margin-top:.125in;padding-top:.125in;border-top:1px solid #000;}
#footer p,
#footer ul {display:none;float:none !important;}
#footer p:first-child {display:block;}

#sideNav, #advisorbar, b.sn-shad{display:none !important;}

span.btn,
span.btn input {background:#555 !important;}

button.btn,
button.btn span {background:#555 !important;}

span.btn, button.btn {border:1px solid #000 !important;}

div.legalinfo,
div.footnote {margin-top:3em;}

div.footnote h2 {font:700 10pt arial;}
div.legalinfo ol,
div.footnote ol {margin-left:.2in;}

input.txt, select, option {border:0 !important;}

.chartTable {margin:1em 0;}
.chartTable table {border-top:1px solid #555;border-bottom:1px solid #555;width:100%;}
.chartTable table caption {text-align:left;padding-bottom:5px;}
.chartTable tfoot td {padding-top:25px;text-align:left;color:#666;}

.chartTable table th,
.chartTable table td {padding:5px 10px;}

.chartTable table thead th {background:#eee;border-left:1px solid #555;border-bottom:2px solid #555;text-align:center;vertical-align:bottom;padding-top:20px;text-align:left;}
.chartTable table tbody td {border-left:1px solid #555;border-top:1px solid #555;vertical-align:top !important;text-align:left;}

.chartTable table thead th.fc,
.chartTable table tbody td.fc,
.chartTable table td:first-child,
.chartTable table th:first-child {border-left:0;text-align:left;}


.expContainer .expItem {background:#eee;border-top:5px solid #ccc;font:700 10pt arial;padding:10px;}
.expContainer .expControl {display:none;}


.tabList {display:block;margin-left:0;margin-top:10px;}
.tabList li {color:#000;}
.tabList li a {font:700 13pt arial;text-decoration:none;color:#000;display:none;}
.tabList li a:after  {
   content: "" !important;
   }
.tabList li.ui-tabs-selected a {display:block;font:700 13pt georgia;}

.ui-tabs-hide {display:none;}