body.page-strategic-framework section.footer-logo{text-align:left !important;width:100% !important;}div#block-jnj-custom-jnj-custom-gs-desktop-top input.form-text{max-width:72% !important;}html.touch div#block-jnj-custom-jnj-custom-gs-desktop-top{max-width:342px !important;width:93% !important;}html.touch div#block-jnj-custom-jnj-custom-gs-desktop-top input.form-text{max-width:77% !important;}
