/*-----------------------------------------+
 | Site: Kindred Healthcare                |
 | Part: Kindredhealthcare.com styles      |
 +-----------------------------------------*/



/* Core layout
======================================================================*/
a:hover { color: #6e94c4; }

/*--- Header ---*/
#header {  }

	/* Header Image */
	#header-image { height: 277px; }
	.home #header-image { height: 327px; }
	
    /* Menu container */
    #menu-container { height: 277px; }
    .home #menu-container { height: 327px; }
    .full.no-header-image #menu-container { height: 75px !important; }
    
    /* Menu */
    #menu { background: url('../images/nav-blue.png')/*tpa=http://www.kindredhealthcare.com/global/images/nav-blue.png*/ repeat; }

	/* Header Shadow*/
	#header-shadow { visibility: hidden; }


/* Content
======================================================================*/

/*--- Header ---*/
#logo { float: left; margin: 5px 0 0 56px; }
#overlay { display: none; }

/*--- Navigation ---*/
#nav { min-height: 75px; height: 75px; }
#nav a { line-height: 81px; font-size: 18px; }

	/*-- Dropdowns --*/
	#nav ul {top: 60px; }
	#nav li:hover ul { background: transparent url(../images/nav-blue.png)/*tpa=http://www.kindredhealthcare.com/global/images/nav-blue.png*/ repeat; }
	#nav li:hover li:hover { background: transparent url(../images/nav-blue-active.png)/*tpa=http://www.kindredhealthcare.com/global/images/nav-blue-active.png*/ repeat; }
	
	/* Secondary navigation */
	ul#nav-secondary li.tab { background-color: #4b83b3; }
	ul#nav-secondary .selected { color: #6E94C4; }
	
/*--- POPs ---*/
.pop-header.video-library { background-color: #d17522; }
.pop-header.in-the-news { background-color: #90ae5d; }
.pop-header.family-education { background-color: #056574; }

/*--- POP Widget ---*/
.pop1 .facility-pop .pop-header { background-color: #d17522; }
.pop2 .facility-pop .pop-header { background-color: #90ae5d; }
.pop3 .facility-pop .pop-header { background-color: #056574; }
.facility-pop .pop-body { -moz-box-shadow: 0 0 20px #BBBBBB; -webkit-box-shadow: 0 0 20px #BBBBBB; box-shadow: 0 0 20px #BBBBBB; }

/*--- Homepage ---*/
	/*-- POPs --*/
	.tab-md { background-color: #4d83b2; }
	.tab-lg { background-color: #84a8c8; }
	
	/*-- POP Widget --*/
	.home #content-primary .facility-pop .pop-header { background-color: #4d83b2; }	
	.home #content-secondary .facility-pop .pop-header { background-color: #84a8c8; }	
	.home #content-tertiary .facility-pop .pop-header { background-color: #4d83b2; }
	.home .facility-pop .pop-body { -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

/*--- Content ---*/
#content-primary a { color: #6e94c4; }
#content-primary a.view-all { color: #6d6e70; }
#content-primary a:hover.view-all { color: #6e94c4; }

	/* Partial layout (no POPs) */
	.partial #content-primary { width: 647px; }

/*--- Photo Gallery ---*/
#photo-gallery a { color: #666666; }
#photo-gallery a:hover { color: #6e94c4; }
#photo-gallery .photo:hover .thumb { background-color: #6e94c4; }

/*--- Video Library ---*/
#video-library a { color: #666666; }
#video-library a:hover { color: #6e94c4; }
#video-library .video:hover .thumb { background-color: #6e94c4; }

