@font-face {
    font-family: 'newMarker';
    src: url('fonts/ncrnewmarkermaster-regular-webfont.eot')/*tpa=http://www.ncr.com/wp-content/themes/ncr-dotcom-wp-theme_STRIPPED/_assets/styles/fonts/ncrnewmarkermaster-regular-webfont.eot*/;
    src: url('fonts/ncrnewmarkermaster-regular-webfont.eot-#iefix')/*tpa=http://www.ncr.com/wp-content/themes/ncr-dotcom-wp-theme_STRIPPED/_assets/styles/fonts/ncrnewmarkermaster-regular-webfont.eot?#iefix*/ format('embedded-opentype'),
         url('fonts/ncrnewmarkermaster-regular-webfont.woff2')/*tpa=http://www.ncr.com/wp-content/themes/ncr-dotcom-wp-theme_STRIPPED/_assets/styles/fonts/ncrnewmarkermaster-regular-webfont.woff2*/ format('woff2'),
         url('fonts/ncrnewmarkermaster-regular-webfont.woff')/*tpa=http://www.ncr.com/wp-content/themes/ncr-dotcom-wp-theme_STRIPPED/_assets/styles/fonts/ncrnewmarkermaster-regular-webfont.woff*/ format('woff'),
         url('fonts/ncrnewmarkermaster-regular-webfont.ttf')/*tpa=http://www.ncr.com/wp-content/themes/ncr-dotcom-wp-theme_STRIPPED/_assets/styles/fonts/ncrnewmarkermaster-regular-webfont.ttf*/ format('truetype'),
         url('fonts/ncrnewmarkermaster-regular-webfont.svg#ncr_new_marker_masterregular')/*tpa=http://www.ncr.com/wp-content/themes/ncr-dotcom-wp-theme_STRIPPED/_assets/styles/fonts/ncrnewmarkermaster-regular-webfont.svg#ncr_new_marker_masterregular*/ format('svg');
    font-weight: normal;
    font-style: normal;
}