/* 
////////////////////////
Font declarations 
////////////////////////
*/
@font-face {
font-family: 'FuturaBold';
src: url('../../../fonts/futurb01-webfont.eot')/*tpa=http://www.cbre.com/Style%20Library/fonts/futurb01-webfont.eot*/;
src: local('?'), url('../../../fonts/futurb01-webfont.woff')/*tpa=http://www.cbre.com/Style%20Library/fonts/futurb01-webfont.woff*/ format('woff'), url('../../../fonts/futurb01-webfont.ttf')/*tpa=http://www.cbre.com/Style%20Library/fonts/futurb01-webfont.ttf*/ format('truetype'), url('../../../fonts/futurb01-webfont.svg#webfontd3NYLHzI')/*tpa=http://www.cbre.com/Style%20Library/fonts/futurb01-webfont.svg#webfontd3NYLHzI*/ format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'FuturaMedium';
src: url('../../../fonts/futurbtm-webfont.eot')/*tpa=http://www.cbre.com/Style%20Library/fonts/futurbtm-webfont.eot*/;
src: local('?'), url('../../../fonts/futurbtm-webfont.woff')/*tpa=http://www.cbre.com/Style%20Library/fonts/futurbtm-webfont.woff*/ format('woff'), url('../../../fonts/futurbtm-webfont.ttf')/*tpa=http://www.cbre.com/Style%20Library/fonts/futurbtm-webfont.ttf*/ format('truetype'), url('../../../fonts/futurbtm-webfont.svg#webfont0LpaDWjZ')/*tpa=http://www.cbre.com/Style%20Library/fonts/futurbtm-webfont.svg#webfont0LpaDWjZ*/ format('svg');
font-weight: normal;
font-style: normal;
}

body, .slider-accolades h4, .finder-home h4, .ms-WPBody, .ms-WPBody td { font-family:Arial, Helvetica, sans-serif; }
h1, .nav-toplevel >ul > li > a { font-family: 'FuturaMedium', Arial, Helvetica, sans-serif;  font-weight: normal !important; }
.sidebar h3.ms-WPTitle, .sidebar h4.ms-WPTitle, .ms-WPTitle { font-family: 'FuturaBold', Arial, sans-serif; font-weight: normal !important;} 
.ms-selectorlink, .ms-toolbar { font-family:Arial, Helvetica, sans-serif !important; }

/* 
////////////////////////
Colors:
lime green: #69be28
dark green: #006a4d
light green: #ecf7e3
dark grey: #333
light grey: #dadada
medium grey: #666
////////////////////////
*/

/* 
////////////////////////
Relative font sizes:
body resets base font-size to ~ 12px  NOTE: Font-sizes are relative to an objects parent

24px = font-size: 2em; line-height:1.25em;
14px = font-size: 1.17em; line-height:1.29em;
13px = font-size: 1.08em; line-height:1.23em;
12px = font-size: 1em; line-height:1.33em;
11px = font-size: .92em; line-height:1.27em;
10px = font-size: .83em; line-height:1.4em;

////////////////////////
*/


/* 
////////////////////////
Standard HTML tag definitions
////////////////////////
body { color: #333; font-size:75%; line-height:150%; }
*/
body { color: #333; font-size:75%; }

h1,h2,h3,h4,h5,h6 { font-size: 1em; line-height: 1em;  margin: 0; padding: 0; }
/* 
////////////////////////
SharePoint Editor Styles
////////////////////////
*/

/* Sharepoint style declarations */
H1.ms-rteElement-H1 { -ms-name:"Heading 1"; }
H2.ms-rteElement-H2 { -ms-name:"Heading 2"; }
H3.ms-rteElement-H3 { -ms-name:"Heading 3"; }
H4.ms-rteElement-H4 { -ms-name:"Heading 4"; }
H5.ms-rteElement-H5 { -ms-name:"Heading 5"; }
H6.ms-rteElement-H6 { -ms-name:"Heading 6"; }
P.ms-rteElement-notes { -ms-name:"Notes"; }
A.ms-rteStyle-more-link { -ms-name:"More link"; }
A.ms-rteStyle-video-link { -ms-name:"Video lightbox"; }
A.ms-rteStyle-iframe-link { -ms-name:"Iframe lightbox"; }

h1, .ms-WPBody h1, .ms-rteElement-H1 { color: #000; font-size: 2em; margin: 0 0 .5em 0; line-height:1.25em; }
h2, .ms-WPBody h2, .ms-rteElement-H2 { color: #69be28; font-size: 1.17em; margin: 0 0 .75em 0; line-height:1.23em; }
h3, h3.ms-WPTitle, .ms-WPBody h3, .ms-rteElement-H3 { color: #000; line-height:1.27em; font-size: 1em; margin: .5em 0; text-align: left !important; text-transform: uppercase; }
h4, h4.ms-WPTitle, .ms-WPBody h4, .ms-rteElement-H4 { color: #000; font-size: 1em; font-style: normal; line-height:1.33em; margin: 1em 0 .5em; }
h5, .ms-WPBody h5, .ms-rteElement-H5 { color: #000; font-size: .92em; line-height:1.27em; margin: .5em 0 0;  }
h6, .ms-WPBody h6, .ms-rteElement-H6 { color: #666; font-size: .83em; font-weight: normal; line-height:1.4em; text-transform: uppercase; }

a, a:link, a:visited { color:#006a4d; }
.ms-selectorlink a, .ms-selectorlink a:visited { color:#006a4d !important; }
a:visited, .ms-WPBody a:visited { color:#666; }
a:active, a:hover { text-decoration: underline; }
.ms-selectorlink a:hover, .ms-selectorlink a:active { color:#006a4d !important; }
a:focus { color: #69be28; outline: none; }

.ms-rteElement-P { color: #333; }

input, textarea { color:#000; font: inherit; font-size: .92em; line-height:1.29em; }
.button { color: #fff; cursor: pointer; font: inherit; font-size: 1em; font-weight: inherit; } 

nobr { white-space: normal; }
/*
    line height
*/

.slider-home, .news-home, .text-content, .text-content-tab, .teaserBlocks { line-height: 150% }

/* 
////////////////////////
Header styles
////////////////////////
*/

/* Main Navigation */
.nav-toplevel > ul > li > a { font-size: .92em; letter-spacing:.03em; line-height:1.27em; text-transform: uppercase;}
.nav-toplevel a:active, .nav-toplevel a:hover { color: #69be28; text-decoration:none; }
.nav-toplevel a, .nav-toplevel a:link, .nav-toplevel a:visited { color:#006a4d; }
.nav-toplevel a:active, .nav-toplevel a:hover, .nav-toplevel li.selected > a, .nav-toplevel li.selected > a:link, .nav-toplevel li.selected > a:visited { color: #69be28; }

/* Country name */
.country { color:#006a4d; font-size: 1.25em; font-weight: bold; line-height: 47px; }
.country a:visited { color: #006a4d; }
.country a:active, .country a:hover { color: #69be28; text-decoration:none; }

/* Office menu */
.nav-offices h5 { color:#333; }
.nav-offices li { color:#69be28; cursor: pointer; font-size: .92em; line-height:1.27em; }

/* Login Navigation */
.nav-login h5 { color:#333; }
.nav-login li { font-size: .92em; line-height:1.27em; }
.nav-login li a, .nav-login li a:link, .nav-login li a:visited { color:#69be28; }

/* Search bar */
.search a,.search a:link,.search a:visited { color:#69be28; font-size: .92em; line-height:1.27em; }

/* 
////////////////////////
General page styles
////////////////////////
*/

/* Breadcrumb navigation */
#breadcrumb { color: #666; font-size: .83em; font-weight: normal; line-height:1.4em; }
#breadcrumb a, #breadcrumb a:link, #breadcrumb a:visited { color: #666; }

/* Section navigation */
#page-navigation h3, #page-navigation h3 a, #page-navigation h3 a:link, #page-navigation h3 a:visited { color:#69be28; }
.nav-section { font-size: .92em; line-height:1.27em; }
.nav-section .selected > a, .nav-section .selected > a:link, .nav-section .selected > a:visited { color:#69be28; font-weight: bold; }
.nav-section h5, .nav-section h5 a, .nav-section h5 a:link, .nav-section h5 a:visited { color: #000; font-size: 1em; line-height:1em; }

/* Article styles */
.article p { margin: .5em 0 1em; }

/* More link style */
.article .more-link, .article .ms-WPBody .more-link, .ms-rteStyle-more-link { color:#69be28; font-weight: bold; font-size: .92em; line-height:1.27em; }

/*Bulleted lists*/
.article ul li ul li ul li { color: #666; }  /* Third level bullets */

/* Specialized list styles */
.article ul.news-list li h6 { line-height:1.8em; } 
.article ul.news-list li span { font-style: italic; } 

.article ul.services-list > li > a, .article ul.services-list .column > li > a { font-weight: bold; }
.article ul.sitemap-list > li > a { font-weight: bold; }

/* Article footer styles */
.article-copyright { color:#999; font-size: .83em; line-height:1.4em; }

/* Teaser block styles*/ 
.teaser-block h2 { color:#000; }
.teaser-block .more-link, .teaser-block .ms-WPBody .more-link { color:#69be28; font-weight: bold; }

/* Licensing Info */
.licensing-info { font-size: 0.92em; line-height: 1.27em; }

/* People form */
.peopleFinder-form label { font-size: .92em; line-height:1.27em; }

/* Form buttons */
#mainarea .button, .article input[type=submit] { font-family: 'FuturaMedium', Arial, Helvetica, sans-serif; font-size: .92em; line-height:1.29em; text-transform: uppercase;  }
#mainarea .button:hover { text-decoration: none; }

/* Sidebar */
.sidebar p
{
    font-size: .92em;
    line-height: 1.27em;
    margin: 0 0 1em;
    font-family: Arial, Helvetica, sans-serif;
}
/* Employee listings block */
.employee-list li { font-size: .92em; line-height:1.27em; }

/* Footer */
#footer { font-size: .92em; line-height:1em; }
#footer, #footer a, #footer a:link, #footer a:visited { color:#999;}
#footer .footer-links a, #footer .footer-links a:link, #footer .footer-links a:visited { color:#666;}
#footer .social-links { font-size: .91em;}
#footer .social-links a, #footer .social-links a:link, #footer .social-links a:visited { color:#000; text-transform: uppercase; }
#footer .page-information { font-size: .91em; }

/* 
////////////////////////
Custom page styles
////////////////////////
*/
/* Homepage layout */
.news-home a { font-weight: bold; }
.news-home li p { font-size: .92em; }
.news-home li p a { font-size: 1.09em; }
.slider-accolades h4 { font-weight: bold !important; }
.slider-accolades p { font-size: .92em; line-height: 150%;}
.slider-accolades a, .slider-accolades a:link, .slider-accolades a:visited { color: #69be28; font-weight: bold; }

/* Find what you're looking for */
.finder-home .tabpanel p { font-size: .92em; }
.finder-home h4 { font-weight: bold !important; }
.selector-panel h2 { font-size: 1em; line-height:1.33em; margin: 0;}
.selector-panel .panel li, .selector-panel .panel label { font-size: .92em; line-height:1.27em; }
.selector-panel .panel label span { color: #999; }

/* Services layouts */
.selector-bar h2 { font-size: 1em; line-height:1.33em; margin: 0;}
.selector-bar li { color:#006a4d; font-size: .92em; line-height:1.27em; }
.selector-bar li a, .selector-bar li a:link { color:#006a4d; }
.selector-bar li.selected { color:#69be28; font-weight: bold; }
.selector-bar li:hover { text-decoration: underline; }

.all-services { font-size: .92em; line-height:1.27em; }
/*.all-services .selected > a, .all-services .selected > a:link, .all-services .selected > a:visited { color:#69be28; font-weight: bold; }*/
.testimonial p, .ms-rteTable-12 p { font-size: 1.17em; line-height:1.29em; }
.testimonial h6, .ms-rteTable-12 h6 { text-transform: none; }

/* Downloads table styles */
.downloads h4, .ms-rteTable-8 h4 { margin-top:0; }

/* Loopnet properties */
.loopnet thead, .ms-rteTable-15 thead { color: #666; font-size: .83em; font-weight: normal; line-height:1.4em; text-transform: uppercase; }
.loopnet tbody, .ms-rteTable-15 tbody { font-size: .92em; line-height:1.27em; }

/* People layouts */
.featuredProperties h6, .ms-rteTable-14 h6 { line-height: 1.8em;}
/* People finder notes */
.notes, .ms-rteStyle-notes { color: #999; font-style: italic; }
/* People results table */
.professionals-results thead, .ms-rteTable-7 thead { color: #666; font-size: .83em; font-weight: normal; line-height:1.4em; text-transform: uppercase; }
.professionals-results tbody, .ms-rteTable-7 thead { font-size: .92em; line-height:1.27em; }
.search-records { font-size: .92em; line-height:1.27em; }
.article ul.pagingLinks li { font-size: .92em; line-height:1.27em; }
.article ul.pagingLinks li a.selected { color: #000; font-weight: bold; }
/* People results virtual biz card */
.businesscard-info { line-height:1.5em; }
.businesscard-info .employee-name, 
.businesscard-info .company-name { font-weight: bold; }

/* Office toggle menu */
.article .locations_offices h5 { font-size: 1em; font-weight: normal; line-height:1.33em; }
.article .locations_offices h5:hover { text-decoration: underline; }
.article .locations_offices h5.active { font-weight: bold; }

/* Team layouts: Tombstone table */
.tombstone th a:hover, .ms-rteTable-11 th a:hover { border-bottom: #006a4d 1px solid; text-decoration: none; }
.tombstone th a:visited:hover, .ms-rteTable-11 th a:visited:hover { border-bottom: #666 1px solid; }

/* Sidebar styles */
.sidebar-primary .sidebar-block p, .sidebar-primary .sidebar-block span, .sidebar .adr { font-size: .92em; line-height:1.27em; }
.sidebar-primary .employee-contactlinks a, .sidebar-primary .employee-contactlinks a:link, 
.employee-email a, .employee-email a:link, 
.ms-WPBody .employee-email a, .ms-WPBody .employee-email a:link, 
.sidebar-primary .employee-print a, .sidebar-primary .employee-print a:link { color:#69be28; }
.sidebar-primary .more-link, .sidebar-primary .ms-WPBody .more-link { color:#69be28; font-weight: bold; }
.sidebar-primary .sidebar-block p, .sidebar-primary .sidebar-block span, .sidebar .office, .sidebar .adr { font-size: .92em; line-height:1.27em; }
.sidebar .adr { margin: 0 0 1em; }
 
/* Office layouts */
.news-teaser p a { font-weight: bold; }
.news-teaser .more-link { color:#69be28; font-weight: bold; }

.sidebar-primary .office-twitter a { color:#888888; font-weight: bold;  } 
.sidebar-secondary .sidebar-block h4 { font-size: .92em; line-height:1.27em; }
.sidebar-secondary .sidebar-block p { font-size: .92em; line-height:1.27em; margin-top: 0; }
.sidebar-secondary .more-link { color:#69be28; font-weight: bold; }

/* 
////////////////////////
Custom page styles
////////////////////////
*/


/* 
////////////////////////
Sharepoint fixes
//////////////////////// 
*/
.ms-WPBody td { font-size: 1em; }

/* 
////////////////////////
Share menu styles
//////////////////////// 
*/
.share-menu a,.share-menu a:link,.share-menu a:visited { color:#000; font-size: .92em; line-height:1.27em; text-transform: uppercase; }

/* 
////////////////////////
Tab Control styles
//////////////////////// 
*/

/* CBRE custom theme */
.ajax__tab_cbre .ajax__tab_tab { color:#006a4d; font-size: .92em; font-weight: bold; line-height:1.27em; }
.ajax__tab_cbre .ajax__tab_hover .ajax__tab_tab { text-decoration: underline; }
.ajax__tab_cbre .ajax__tab_active .ajax__tab_tab { color:#69be28;  }
