
/* --------------------------------------------------------------------------
    Weekly Homepage Refresh Styles for June Week 2, 2015
   -------------------------------------------------------------------------- */

 /**
  * Store Preview URL
  * https://cmc-wcsauth.target.com/webapp/wcs/tools/servlet/CMWSPreviewSetup?redirecturl=https://cmc-wcsauth.target.com:8006/webapp/wcs/preview/servlet/PreviewStore&redirectstoreurl=http://cmc-wcsauth.target.com/webapp/wcs/stores/servlet/StoreView?storeId=10151&newPreviewSession=true&previewRestURI=/wcs/previewresources&previewPath=/webapp/wcs/preview/servlet&start=2015/03/08%2012:00:00&status=true&invstatus=0&timeZoneId=America/New_York&dateFormat=yyyy/MM/dd&timeFormat=12HR&locale=en_US
  */


/* Manual Espot Adjustments
   -------------------------------------------------------------------------- */

/**
 * 1. Sets the height of the Flexible Grid Container.
 * 2. Sets the top positioning of the spotlight.  This can change weekly, hence
 *    why it lives in the weekly CSS file.
 * 3. Sets the top positioning of the Social/Connect box.  This # depends on #2 above.
 */

#Main.flexible_grid_layout { height:2140px!important; } /*[1]*/
#e15 { top: 1550px !important; } /*[2]*/
#e17 { top: 2010px !important; } /*[3]*/



/* Hero Component
   -------------------------------------------------------------------------- */
.hp-Hero-header{
  text-align: center!important;
  position: absolute;
  left: 450px;
  top: 190px;
}

.hp-Hero-headline{
font-size: 60px !important;
padding-bottom:35px;
}

.hp-Hero-subHeadline{
font-size: 23px !important;
font-weight:bold;
}

#hp-Hero * {
-moz-box-sizing: border-box;
     box-sizing: border-box;
}

#hp-Hero {
  width: 815px;
  height: 455px;
  position: relative;
  float: right;
  overflow: hidden;
  border-radius: 4px;
}
  #hp-Hero:after {
    content:"";
    display:table;
    clear:both;
  }

.hp-Hero-links {
  position: absolute;
  top: 275px;
  z-index: 10;
  width: 810px;
  height: 160px;
  padding-top:20px;
}
  .hp-Hero-links > li {
  display: inline-block;
  z-index: 10;
  float: left;
  }

  .hp-Hero-links > li > p {
  font-size: 14px;
  text-align: left;
  float: right;
  padding-bottom:12px;
  }


.Hero-HDR-1{
  padding-right:40px;
}

.Hero-HDR-1 > span > span{
font-weight:normal;
}


.Hero-HDR-2{
  padding-right:25px;
}

.Hero-HDR-3{
  padding-right:0px;
   color: #454545!important;
}

.Hero-HDR-3 > span > span{
font-weight:normal;

}

.hp-Hero-L1{
  width: 268px;
  height: 65px;
}

.hp-Hero-L2{
  width: 228px;
  height: 65px;
}

.hp-Hero-L3{
  width: 314px;
  height: 160px;
}

.hp-Hero-L1 > ul > li{
padding-right:75px;

}

.hp-Hero-L2 > ul > li{
padding-right:65px;

}

.hp-Hero-L3 > ul > li{
padding-right:110px;

}

.Hero-HDR-1 > span {
 color: #cc0000; 
}

.Hero-HDR-2 > span {
 color: #cc0000; 
}

.Hero-HDR-3 > span {
color:#333333;  
}

  .hp-Hero-links > li > p >span {

  font-weight: bold;
  height: 100%;
  font-size: 25px;
  margin-bottom: 15px;
  display: inline-block;
  }

.hp-HeroSub-linkGroup { 
  float: right;
  clear: both;
}

.hp-HeroSub-linkGroup li {
  text-align: left;
  }

.hp-HeroSub-linkGroup a {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  color: #454545;
  padding: 10px 20px;
  background: url("../../../../../2012/ol/global/images/trans.gif")/*tpa=http://static.targetimg1.com/2012/ol/global/images/trans.gif*/;  /*[3]*/
}

.hp-HeroSub-linkGroup a:after { /*[4]*/
  content:'\203A';
  display: inline-block; /*[5]*/
  padding-left: 3px;
  line-height: 1;
}

.hp-Hero-image {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  border-radius: 4px;
}

#hp-Hero a.hp-Button {
 /* position: relative;
  top: 160px;
  left: 185px;*/
  display: inline-block;
  vertical-align: middle;
  height: 35px;
  line-height: 35px;
  border-radius: 4px;
  text-align: center;
  background-color: #ffffff;
  color: #454545 !important;
  border: 1px solid #c3c2c2;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  width: 155px;
  font-weight: bold;
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
  transition: background-color .05s;
  -webkit-appearance: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#hp-Hero a.hp-Button:hover,
#hp-Hero a.hp-Button:focus {
  background-color: #454545;
  color: #ffffff !important;
  text-decoration: none;
}


/* Hotspot Modifiers
   -------------------------------------------------------------------------- */

/**
 * --[date]-[name]
 */

.u-linkHotspot--060715-allHome1 {
  top: -200px;
  right: -210px;
  width: 810px;
  height: 285px;
  z-index: 10;
  background: url("../../../../../2012/ol/global/images/trans.gif")/*tpa=http://static.targetimg1.com/2012/ol/global/images/trans.gif*/;
  /*background-color: rgba(0,0,0,.5);*/
}

.u-linkHotspot--060715-allHome2 {
  top: 5px;
  left: 30px;
  width: 210px;
  height: 124px;
  z-index: 10;
  background: url("../../../../../2012/ol/global/images/trans.gif")/*tpa=http://static.targetimg1.com/2012/ol/global/images/trans.gif*/;
  /* background-color: rgba(0,0,0,.5); */
  /* border: 1px solid #0f0; */
}

.u-linkHotspot--060715-allHome3 {
  top: 5px;
  right: 335px;
  width: 200px;
  height: 124px;
  z-index: 10;
  background: url("../../../../../2012/ol/global/images/trans.gif")/*tpa=http://static.targetimg1.com/2012/ol/global/images/trans.gif*/;
  /* background-color: rgba(0,0,0,.5); */
  /* border: 1px solid #00f; */
}


.u-linkHotspot--060715-allHome4 {
  top: 5px;
  right: 0px;
  width: 325px;
  height: 124px;
  z-index: 10;
  background: url("../../../../../2012/ol/global/images/trans.gif")/*tpa=http://static.targetimg1.com/2012/ol/global/images/trans.gif*/;
  /* background-color: rgba(0,0,0,.5); */
  /* border: 1px solid #f0f; */
}


.u-linkHotspot--060715-components {
  bottom: 0;
  right: 0;
  width: 150px;
  height: 170px;
  background: url("../../../../../2012/ol/global/images/trans.gif")/*tpa=http://static.targetimg1.com/2012/ol/global/images/trans.gif*/;
}

/**
 * Added by Josh.Leibold 03/24
 */

.u-linkHotspot--060715-rugs {
  bottom: 0;
  right: 0;
  width: 220px;
  height: 180px;
  background: url("../../../../../2012/ol/global/images/trans.gif")/*tpa=http://static.targetimg1.com/2012/ol/global/images/trans.gif*/;
}

.u-linkHotspot--060715-clothing {
  bottom: 0;
  right: 0;
  width: 250px;
  height: 170px;
  background: url("../../../../../2012/ol/global/images/trans.gif")/*tpa=http://static.targetimg1.com/2012/ol/global/images/trans.gif*/;
}

.u-linkHotspot--060715-accessories {
  bottom: 0;
  right: 0;
  width: 170px;
  height: 170px;
  background: url("../../../../../2012/ol/global/images/trans.gif")/*tpa=http://static.targetimg1.com/2012/ol/global/images/trans.gif*/;
}


.hp-Hero-linkGroup {
  position: absolute;
  top: 100px;
  left: 2px;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: bold;
  color: #454545;
  background: url("../../../../../2012/ol/global/images/trans.gif")/*tpa=http://static.targetimg1.com/2012/ol/global/images/trans.gif*/;
}

/* --------------------------------------------------------------------------
    Comment
   -------------------------------------------------------------------------- */

/*  Comment
   -------------------------------------------------------------------------- */

/**
 * Comment
 */

 /* Comment */


/*

.declaration-order {
  - Positioning
  - Box-model
  - Typography
  - Visual
  - Misc
}

*/