.scrollHolder{
	padding-left:23px;
	padding-bottom:20px;
/*	display: block;
	height: 220px;
	overflow:hidden; */
}
.scrollHeader{
	
}
.jcarousel-skin-tango .jcarousel-container {
	/*
    -moz-border-radius: 10px;
    background: #fff;
    border: 1px solid #346F97;*/
	/*background-image: url(/assets/images/hp_scroll/hp_scroll_background.png);
	background-image: url(http://dev2-textron.exnihilo.com/sara/homepage_scroll_bg.jpg);*/
	background-repeat: no-repeat;

}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 852px;
    padding-bottom:0px;    
}

.jcarousel-skin-tango .wrapperpaddingShow{
	padding: 14px 13px 15px;
	visibility: visible;
}
.jcarousel-skin-tango .wrapperpaddingHide{
	padding: 14px 40px;
	visibility: hidden;
}
.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  835px;
    height: 118px;
	overflow:hidden	;
}
.jcarousel-skin-tango .jcarousel-item {
    width: 423px;
    height: 125px;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
}
#jqueryScroller {
	background:#f9f9f9;
}
.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}
.scrollHeader h2 {
    color: #323232 !important;
    font-family: 'Verdana';
    font-size: 18px !important;
    margin-top: 24px;
    padding: 7px 0 7px 0px !important;
    font-weight: normal !important;
    background:#e1e6e6;
    text-indent:26px;
    width:850px;
}


.prevArrow,
.nextArrow {
    /*background: none repeat scroll 0 0 #727F81;*/
    background: url("../images/hp_scroll/bu-arrows.png")/*tpa=http://www.textron.com/assets/images/hp_scroll/bu-arrows.png*/ no-repeat scroll 9px center #727F81;
    border: 0 none;
    display: block;
    float: left;
    height: 33px;
    position: relative;
    text-align: center;
    width: 34px;
}
.nextArrow {
	background-position:-24px center;
}
.prevArrow #mycarousel-prev,
.nextArrow #mycarousel-nextone{
    /*background: url("/assets/images/hp_scroll/bu-arrows.png") no-repeat scroll 0 0 transparent;*/
    height: 30px;
    position: absolute;
    width: 40px;
    margin:5px 0 0 -10px;
    z-index:100;
}

.nextArrow #mycarousel-nextone{
	background-position:-20px 0;
}
.jcarousel-control {
    text-align: center;
	float:left;
	width:783px;
	height: 28px;
	margin:0px;
	padding-top:3px;
	padding-bottom:3px;	
	/*padding-top:1px;*/
	/*padding-bottom:1px;*/
	background: none repeat scroll 0 0 #929D9E;
}
.jcarousel-control a {
    background: none repeat scroll 0 0 #929D9E;
    color: #FFFFFF;
    display: block;
    float: left;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: normal;
    margin-top: -1px;
    padding:6px 5px;
	/* padding:8px 8px;*/
    text-decoration: none;
}

.jcarousel-control a:hover, 
.jcarousel-control a.selected {
	background:#163c76;
}
.jcarousel-control a:focus,
.jcarousel-control a:active {
    outline: none;
}

.jcarousel-scroll {
    margin-top: 10px;
    text-align: center;
}

.jcarousel-scroll form {
    margin: 0;
    padding: 0;
}

.jcarousel-scroll select {
    font-size: 75%;
}

/*
#mycarousel-next,
#mycarousel-prev {
    cursor: pointer;
    margin-bottom: -10px;
    border:0 none;
}

#mycarousel-next img,
#mycarousel-prev img
{
	border:0 none;
}
#mycarousel-next:focus,
#mycarousel-prev:focus {
    outline:none;
    -moz-outline-style: none;
}
*/
.prevarrow img:focus, .nextarrow img:focus{
	outline:none;
	-moz-outline-style: none;
}

.scrollTextImage{
	float:left;
	width:187px;
	
}
.scrollTextHolder{
    color: #002C5F;
    float: left;
    font: 11px Verdana,Arial,Helvetica,sans-serif;
    height: 119px;
    margin-top: -1px;
    padding: 0 9px;
    width: 206px;
}
.scrollTextDescr{
	height:80px;
	padding-bottom:3px;
	display:block;
	color:#454545;
}
.scrollTextHolder a:link, .scrollTextHolder a:visited, .scrollTextHolder a:hover .scrollTextHolder a:active{
	color:#323232;
	text-decoration:none;
	font-weight:bold;
}
.scrollTextVisit{
	text-align:right;
	padding-right:15px;
	padding-top:4px;
	font-size:11px;
	font-weight:bold;
}
.scrollTextVisit a:link, .scrollTextVisit a:visited, .scrollTextVisit a:hover .scrollTextVisit a:active{
	font-size:10px;
	color:#323232;
	padding-left:5px;
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-decoration:underline;
}
#body #controlPanel {
	margin-top:9px;
}


