@charset "utf-8";
/* CSS Document */

body {background-color:#313335;font-family:Helvetica, sans-serif;font-size:12px}
#main {margin:10px auto; width:935px;margin-top:1px}	
#logosection {width:935px;height:85px}
#grouplinkssection {margin-top:17px;width:935px;height:38px;color:#00a0df;}
a.grouplink {color: #00a0df;font-size:19px;padding-right:32px;text-decoration:none}	
a.grouplink:hover {color: #5eb0e5; text-decoration:none}
a.grouplinkon {color: #ffffff;font-size:19px;padding-right:32px;text-decoration:none}			
#photosection {width:935px;height:305px;background-color:#000}
#newssection {font-size:13px;width:935px;height:95px;background-color:#000}
#picpagessection {width:935px;height:400px;background-color:#000}
#picpagesleftsection {width:623px;height:400px;float:left;}	
#picpagesrightsection {margin-top:15px;width:295px;height:360px;float:right;color:#FFF;font-size:14px;}	
a.picpagesrightlink {color: #00a0df;text-decoration:none}	
a.picpagesrightlink:hover {color: #5eb0e5; text-decoration:none}
#leftnavul {width:150px; padding:5px;margin: 0px; list-style-type: none}
#leftnavli {padding:0px;margin-bottom: 10px; list-style-type: none}
a.leftnav {color: #ffffff; text-decoration: none; font-size:12px; font-weight:normal}
a.leftnav:hover {color:#cbcbcb;text-decoration: none; font-size:12px; font-weight:normal}	
ul {list-style:none;padding:0px;margin:0px;padding-top:8px}
li {padding-bottom:3px}
a.newslink {color: #ffffff;text-decoration:none}	
a.newslink:hover {color: #cbcbcb; text-decoration:none}	
.newsdate {margin:0px;color:#666666;font-size:12px;padding-top:5px}
#footersection {font-size:12px;color:#666666;width:935px;}
a.footerlink {font-size:12px;color: #666666;padding:0 14px;text-decoration:none}	
a.footerlink:hover {color: #cbcbcb; text-decoration:none}
.partinputbox {height:15px; position:relative; right:-3px; font-size:12px;padding:3px 0 4px 5px;}
.hinted{color:#aaa;}

#myarrowdropdown {margin:0px;font-family:Helvetica,sans-serif;font-size:12px;float:right;padding:0;text-align: right;}
.myarrow_headlink {width:149px;padding:0 18px 0 0;height:24px; font-size:16px; line-height:22px;color:#ffffff;text-decoration:none;outline:none;background-image:url(../images/mainsection/downarrow.gif)/*tpa=http://www.arrow.com/images/mainsection/downarrow.gif*/;background-position: 154px 50%;background-repeat: no-repeat;display:block;}
.myarrow_headlink :hover{background-image:url(../images/mainsection/myarrow_dropdown_button.gif)/*tpa=http://www.arrow.com/images/mainsection/myarrow_dropdown_button.gif*/;background-repeat:no-repeat;color:#ffffff}
.myarrow_headlink span {padding:4px 0 4px 10px;display:block;}
.myarrow_dd_hover{background-image:url(../images/mainsection/myarrow_dropdown_button.gif)/*tpa=http://www.arrow.com/images/mainsection/myarrow_dropdown_button.gif*/;background-repeat:repeat-x;}
.myarrowdropdown_head ul {background-image:url(../images/mainsection/myarrow_dropdown.gif)/*tpa=http://www.arrow.com/images/mainsection/myarrow_dropdown.gif*/; background-repeat:repeat-x; display:none;padding:7px 0;width:167px; min-width:167px;list-style:none; border-top: 1px solid #aeaeae; border-bottom: 1px solid #3f3f3f;}
.myarrowdropdown_head ul a  {color:#2fbaf1;padding:0px 10px;text-decoration:none;}
.myarrowdropdown_head ul a:hover {color:#93d9f5;text-decoration:none;}
	
#regiondropdown {margin:0px; padding:0px;font-family:Helvetica, sans-serif;width:165px;font-size:12px;}
.region_headlink {background-image:url(../images/mainsection/region_button.gif)/*tpa=http://www.arrow.com/images/mainsection/region_button.gif*/; background-repeat:no-repeat; display:block;width:165px; height:22px;color:#ffffff;text-decoration:none; outline:none;}
.region_headlink :hover{ background-image:url(../images/mainsection/region_dropdown_button.gif)/*tpa=http://www.arrow.com/images/mainsection/region_dropdown_button.gif*/; background-repeat:no-repeat;color:#ffffff}
.region_headlink span {padding:4px 0 4px 10px;display:block;}
.region_dd_hover{background-image:url(../images/mainsection/region_dropdown_button.gif)/*tpa=http://www.arrow.com/images/mainsection/region_dropdown_button.gif*/;background-repeat:repeat-x;}
.regiondropdown_head ul {background-image:url(../images/mainsection/region_dropdown.gif)/*tpa=http://www.arrow.com/images/mainsection/region_dropdown.gif*/; background-repeat:repeat-x; display:none;padding:7px 0;width:auto; min-width:165px;list-style:none; border-top: 1px solid #aeaeae; border-bottom: 1px solid #3f3f3f;}
.regiondropdown_head ul li{padding:0;}
.regiondropdown_head ul a  {color:#2fbaf1;display:block;padding:1px 10px;text-decoration:none;}
.regiondropdown_head ul a:hover {color:#93d9f5;text-decoration:none;}

/*CONTENT SLIDER STYLES*/	
.sliderwrapper{position: relative; overflow: hidden; width: 623px; height: 400px;z-index: 0;}
.sliderwrapper .contentsection{visibility: hidden;position: absolute;left: 0;top: 0;width: 623px;height: 100%;opacity: 1;}
.contentsection p {background-color: #000000;color: #000000;font-family:Verdana, Arial, sans-serif;font-size: 11px;font-weight: bold;text-align: right;}
.pagination{width: 618px;text-align: right;padding: 5px;font-family: Helvetica;font-size: 12px;position:relative;top:-20px}
.pagination a{padding: 0 5px;text-decoration: none; color: #ffffff;}
.pagination a:hover, .pagination a.selected{background-color:#CCC;color: #000000;}

/*CONTENT SLIDER STYLES FOR HOMEPAGE*/	
#picpagessectionhome {width:935px;height:305px;background-color:#000}
#picpagesleftsectionhome {width:935px;height:305px;float:left;}	
.sliderwrapperhome{position: relative; overflow: hidden; width: 935px; height: 305px;z-index: 0;}
.sliderwrapperhome .contentsectionhome{visibility: hidden;position: absolute;left: 0;top: 0;width: 935px;height: 100%;opacity: 1;}
.paginationhome{width: 935px;  text-align: right; padding: 5px; font-family: Helvetica;font-size: 12px; position:relative; top:-20px}
.paginationhome a{padding: 0 5px;text-decoration: none; color: #ffffff;}
.paginationhome a:hover, .paginationhome a.selected{background-color:#CCC;color: #000000;}

#seolinks {margin: auto; padding:15px; width:550px; color:#666}
#seolinks a {margin: 0 5px; color:#666; text-decoration:none}
.partinputbox {
		height:24px; 
		right:-3px; 
		font-size:12px;
		padding:3px 0 4px 5px;
		color: #686868;
		font-size: 18px;
		width:782px;
		margin-top:-8px;
		margin-bottom:4px;
		border: 1px solid #FFFFFF;
		vertical-align:top;
		display: inline-block;
		}
		
 

    /* Submit button */

input[type="submit"] {
  border: 1px solid #316ab5;
  color: #fff;
  background: #316ab5;
  font-size: 1.2em;
  font-weight: bold;
  width:140px;
  height:33px;
  margin-top:-8px;
  margin-bottom:3px;
  margin-left:0px;
  vertical-align: top;
  	}

input[type="submit"]:hover, input[type="submit"]:active {
  cursor: pointer;
  background: #172d78;
    border: 1px solid #172d78;
  color: #fff;
}

input[type="submit"]:active {
  background: #172d78;
 }

#newssection {
  height:245px;
}

#newssection .news-items {
  float:right;
  width:45%;
  height:245px;
  overflow: auto;
  background-color: #000000;

}

#newssection .news-items .item {
  border-bottom:1px solid #656565;
  padding:10px 0;
  margin:0 15px;
}

#newssection .news-items .item:last-of-type {
  border-bottom: none;
}

#newssection .news-items .item span {
  display: block;
}

#newssection .ads {
  background-color: #ffffff;
  width:55%;
  height:245px;
  float: left;
}