body.museum #hdwcOverlay {
    background-color: #141414;
    border: 0 none;
    margin: 10px;
    overflow: visible !important;
    padding: 0;
}

body.museum #hdwcOverlay_h {
    position: absolute;
}

/*/en_US/Media/css/satisfaction-survey.css*/
#hdwcOverlay.satisfactionSurveyDialog {
  background-color: #393939;
    left: 0;
    top: 0;
}
#hd_satisfaction_survey,#hd_satisfaction_survey table td {
	background-color: #393939;
	color: #ccc;
	font: 12px/16px Verdana, Arial, Helvetica, sans-serif
}
#hdwcOverlay_c {    
    left: 50% !important;
    margin: -120px 10px 10px -360px !important;   
    top: 50% !important;
}
#hd_satisfaction_survey  p{
	font: 12px/16px Verdana, Arial, Helvetica, sans-serif
}
.hd_satisfaction_survey_footnote, .hd_satisfaction_survey_footnote p {
	font: 11px/13px Verdana, Arial, Helvetica, sans-serif
}
#hd_satisfaction_survey_content .take-the-survey a {
   background: url("/etc/designs/h-d/clientlibs.hdbase/en_US/Media/css/images/sprite-take-the-survey.png") repeat scroll 0 0 hsla(0, 0%, 0%, 0);
    box-shadow: 1px 1px 3px hsla(0, 0%, 0%, 0.25);
    color: hsl(0, 0%, 100%);
    display: block;
    font-family: TradeGothic-CnBold;
    font-size: 14px;
    height: 22px;
    margin: 0 6px 0 0;
    padding-top: 3px;
    text-align: left;
    text-indent: 10px;
    width: 156px;
}
#hd_satisfaction_survey_content .take-the-survey a:hover {
	background-position: 0 -34px
}
#hd_satisfaction_survey_content .take-the-survey a:focus {
	outline: 0
}
#hd_satisfaction_survey_content {
	padding: 17px
}
#hd_satisfaction_survey_content table td {
	vertical-align: middle
}
#satisfactionSurveyNoLink a
{
	color:#999966;
	font-weight:normal;
}
#satisfactionSurveyNoLink strong
{
	color:#999966;
	font-weight:normal !important;
    font-size: 12px;
}
div.hd_satisfaction_survey_footnote  a
{
	color:#999966;
	font-weight:normal;
}

div.hd_satisfaction_survey_footnote  a > span
{
    font-size: 12px;
}
#hd_satisfaction_survey { margin-top: -50px; }