@font-face {
    font-family: 'bebasneueregular';
    src: url("bebasneue-webfont-woff.woff")/*tpa=http://www.raytheon.com/rtnwcm/groups/secure/documents/site/bebasneue-webfont-woff.woff*/ format('woff'), url("bebasneue-webfont-ttf.ttf")/*tpa=http://www.raytheon.com/rtnwcm/groups/secure/documents/site/bebasneue-webfont-ttf.ttf*/ format('truetype'), url("bebasneue-webfont-svg.svg")/*tpa=http://www.raytheon.com/rtnwcm/groups/secure/documents/site/bebasneue-webfont-svg.svg*/ format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanscondensed_light';
    src: url("opensans-condlight-webfont-wof.woff")/*tpa=http://www.raytheon.com/rtnwcm/groups/secure/documents/site/opensans-condlight-webfont-wof.woff*/ format('woff'), url("opensans-condlight-webfont-ttf.ttf")/*tpa=http://www.raytheon.com/rtnwcm/groups/secure/documents/site/opensans-condlight-webfont-ttf.ttf*/ format('truetype'), url("opensans-condlight-webfont-svg.svg")/*tpa=http://www.raytheon.com/rtnwcm/groups/secure/documents/site/opensans-condlight-webfont-svg.svg*/ format('svg');
    font-weight: normal;
    font-style: normal;
}
