/* Internet Explorer 8
 * Stylesheet for IE8 styling bug fixes
 */

#rssFeeds li {
	margin-top: 20px;
	border-bottom: 1px dotted #D5D5D5;
	list-style-image: url('../img/theme/icons/icon_rssFeed28x28.png')/*tpa=http://masco.com/img/theme/icons/icon_rssFeed28x28.png*/;
	list-style-position: inside;
	padding: 20px 0 10px 0;
}
#rssFeeds li a {
	position: relative;
	top: -32px;
	left: 40px;
}

#career-development #contentMain h1 {
	font-size: 1.5em;
}