@charset "utf-8";
/* CSS Document *//*
 * $History: default.css $
 * 
 */
/*main elements*/
body {font-family:Arial, Helvetica, sans-serif;font-size:11px;}
strong {font-weight:700;}
p {margin:0 0 7px 0;}
/*link styles*/
a img {border:none;}
a:link {color:#777;text-decoration:none}
a:visited {color:#777;text-decoration:underline;}
a:hover {color:#777;text-decoration:underline;}
a:active {color:#777;text-decoration:underline;font-weight:bold;}

sub, sup {line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em;  font-size: 75%;}

/*edit_button*/

#editcbutton{height:64px;}

/*stylesheets in fck editor*/

.intro {font-size:10px;line-height:14px;font-style:italic; color:#666;}
.intro a:link, .intro a:visited, .intro a:hover, .intro a:active {font-size:10px;line-height:14px;font-style:italic;color:#666;text-decoration:underline;}
.intro1 {font-size:10px;}
.intro1 a:link, .intro1 a:visited, .intro1 a:hover, .intro1 a:active {text-decoration:underline;}

.introglobal {font-size:11px;line-height:14px;font-style:italic;color:#6699ff;}
.introglobal a:link, .introglobal a:visited, .introglobal a:hover, .introglobal a:active {font-size:11px;line-height:14px;font-style:italic;color:#6699ff;text-decoration:underline;}

.subtitle {font-size:13px;line-height:16px;font-weight:bold;}
.subtitle a:link, .subtitle a:visited, .subtitle a:hover, .subtitle a:active {font-size:13px;line-height:16px;font-weight:bold;text-decoration:underline;}

.subtitleglobal {font-size:13px;line-height:16px;font-weight:bold;color:#0082c7;}
.subtitleglobal  a:link, .subtitleglobal  a:visited, .subtitleglobal  a:hover, .subtitleglobal  a:active {font-size:13px;line-height:16px;font-weight:bold;color:#0082c7;text-decoration:underline;}

.subtitle1{display:block;padding:0 0 3px 0;color:#000;font-size:12px;line-height:15px;font-weight:bold;}
.subtitle1  a:link, .subtitle1  a:visited, .subtitle1  a:hover, .subtitle1  a:active {text-decoration:underline;}


.subtitle2 {display:block;padding:0 0 3px 0;color:#000;font-size:12px;line-height:15px;font-weight:bold;}
.subtitle2  a:link, .subtitle2  a:visited, .subtitle2  a:hover, .subtitle2  a:active {text-decoration:underline;}

.subtitle2global {font-size:12px;line-height:15px;font-weight:bold;color:#900028;}
.subtitle2global  a:link, .subtitle2global  a:visited, .subtitle2global  a:hover, .subtitle2global  a:active {color:#900028;text-decoration:underline;}

.subtitle3 {font-size:11px;line-height:13px;font-weight:bold;}
.subtitle3  a:link, .subtitle3  a:visited, .subtitle3  a:hover, .subtitle3  a:active {text-decoration:underline;}

.subtitle3global {font-size:12px;font-family:Arial; font-weight:300;line-height:13px;color:#24557c;}
.subtitle3global  a:link, .subtitle3global  a:visited, .subtitle3global  a:hover, .subtitle3global  a:active {text-decoration:none;color:#24557c;}
.subtitle3global  a:hover {text-decoration:underline;color:#24557c;}

.pagetitle {display:block;margin:0;padding-bottom:10px;line-height:21px;font-weight:bold;font-size:13px;color:#900028;clear:both;}
.pagetitle  a:link, .pagetitle a:visited, .pagetitle  a:hover, .pagetitle a:active {text-decoration:none;}

.redtxt {display:block;margin:10px 0 4px 0;padding-top:5px;padding-bottom:5px;line-height:21px;font-weight:300;clear:both;font-size:13px;color:#900028;clear:both;}

.pageTitle1 {font-size:11px;line-height:15px!important;font-weight:700;color:#0482C6;}
.pageTitle1  a:link, .pageTitle1 a:visited, .pageTitle1  a:hover, .pageTitle1 a:active {text-decoration:none;}

.pageTitle2 {margin:0 0 4px 0;color:#67A8D4;clear:both;}
.pageTitle2  a:link, .pageTitle2 a:visited, .pageTitle2  a:hover, .pageTitle2 a:active {text-decoration:none;}

.pageTitle3 {line-height:21px;font-weight:300;font-size:13px;color:#900028;}
.pageTitle3  a:link, .pageTitle3 a:visited, .pageTitle3  a:hover, .pageTitle3 a:active {text-decoration:none;}

.pageTitle4 {font-weight:300;color:#900028;font-size:11px;line-height:normal;}
.pageTitle4  a:link, .pageTitle4 a:visited, .pageTitle4  a:hover, .pageTitle4 a:active {text-decoration:none;}

.pageTitle5{padding:5px;color:#7d7d7d;font-size:13px;font-weight:bold;line-height:normal;}
.pageTitle5  a:link, .pageTitle5 a:visited, .pageTitle5  a:hover, .pageTitle5 a:active {text-decoration:none;}

.pageTitle6{font-size:11px;font-weight:700;line-height:normal;color:#6C6C71;}
.pageTitle6 a:link, .pageTitle6 a:visited {color:#6C6C71;text-decoration:none;}
.pageTitle6 a:hover, .pageTitle6 a:active  {color:#6C6C71;text-decoration:underline;}

.pageTitle7{margin-top:7px!important;padding-bottom:0!important;color:#7091CB;font-size:12px!important;}
.pageTitle7 a:link, .pageTitle7 a:visited {color:#7091CB;text-decoration:none;}
.pageTitle7 a:hover, .pageTitle7 a:active  {color:#7091CB;text-decoration:underline;}


.pageTitle8{margin:0 0 1px 0!important;padding:0!important;font-weight:700;font-size:12px;color:#7191CA;}
.pageTitle8 a:link, .pageTitle8 a:visited {color:#7191CA;text-decoration:none;}
.pageTitle8 a:hover, .pageTitle8 a:active  {color:#7191CA;text-decoration:underline;}


.pageTitle9{display:block;margin:0!important;padding:0!important;font-size:12px!important;line-height:normal!important;color:#6E6E70;}
.pageTitle9 a:link, .pageTitle9 a:visited {color:#6E6E70;text-decoration:none;}
.pageTitle9 a:hover, .pageTitle9 a:active  {color:#6E6E70;text-decoration:underline;}

.pageTitle10{color:#111111;font-size:12px!important;}
.pageTitle10 a:link, .pageTitle10 a:visited {color:#111111;text-decoration:none;}
.pageTitle10 a:hover, .pageTitle10 a:active  {color:#111111;text-decoration:underline;}

.pageTitle11{color:#AABBE0;font-size:14px;line-height:normal;font-weight:300;}
.pageTitle11 a:link, .pageTitle11 a:visited {color:#AABBE0;text-decoration:none;}
.pageTitle11 a:hover, .pageTitle11 a:active  {color:#AABBE0;text-decoration:underline;}

.pageTitle12{color:#777;}
.pageTitle12 a:link, .pageTitle12 a:visited {color:#777;text-decoration:none;}
.pageTitle12 a:hover, .pageTitle12 a:active  {color:#777;text-decoration:underline;}

.pageTitle13{font-size:13px;font-weight:300;color:#797777;line-height:normal;}
.pageTitle13 a:link, .pageTitle13 a:visited {color:#797777;text-decoration:none;}
.pageTitle13 a:hover, .pageTitle13 a:active  {color:#797777;text-decoration:underline;}

.pageTitle14{padding:0;margin:0 0 5px 0;font-size:16px;font-weight:400;line-height:16px;color:#6D6E71;}
.pageTitle14 a:link, .pageTitle14 a:visited {color:#6D6E71;text-decoration:none;}
.pageTitle14 a:hover, .pageTitle14 a:active  {color:#6D6E71;text-decoration:underline;}

.pageTitle15{font-weight:bold;color:#60BB46;}
.pageTitle15 a:link, .pageTitle15 a:visited {color:#60BB46;text-decoration:none;}
.pageTitle15 a:hover, .pageTitle15 a:active  {color:#60BB46;text-decoration:underline;}

.pageTitle16{color:#656D92;font-size:14px;font-weight:300;line-height:normal;text-shadow:1px 1px 1px #fff;}
.pageTitle16 a:link, .pageTitle16 a:visited {color:#656D92;text-decoration:none;}
.pageTitle16 a:hover, .pageTitle16 a:active  {color:#656D92;text-decoration:underline;}


.pageTitle17{color:#0d7216;font-weight:bold;font-size:14px;line-height:normal;text-shadow:1px 1px 1px #fff;}
.pageTitle17 a:link, .pageTitle17 a:visited {color:#0d7216;text-decoration:none;}
.pageTitle17 a:hover, .pageTitle17 a:active  {color:#0d7216;text-decoration:underline;}


.pageTitle18{color:#0d7216;font-weight:bold;font-size:12px;line-height:normal;text-shadow:1px 1px 1px #fff;}
.pageTitle18 a:link, .pageTitle18 a:visited {color:#0d7216;text-decoration:none;}
.pageTitle18 a:hover, .pageTitle18 a:active  {color:#0d7216;text-decoration:underline;}

.pageTitle19{color:#49acd8;font-weight:bold;font-size:11px;line-height:normal;text-shadow:1px 1px 1px #fff;}
.pageTitle19 a:link, .pageTitle19 a:visited {color:#49acd8;text-decoration:none;}
.pageTitle19 a:hover, .pageTitle19 a:active  {color:#49acd8;text-decoration:underline;}

.pageTitle20{color:#6C6C71;font-weight:bold;font-size:11px;text-transform:uppercase;line-height:normal;}
.pageTitle20 a:link, .pageTitle20 a:visited {color:#6C6C71;text-decoration:none;}
.pageTitle20 a:hover, .pageTitle20 a:active  {color:#6C6C71;text-decoration:underline;}

.pageTitle21{color:#fff;background-color:#bcbdc0;font-weight:bold;font-size:11px;}
.pageTitle21 a:link, .pageTitle21 a:visited {color:#fff;text-decoration:none;}
.pageTitle21 a:hover, .pageTitle21 a:active  {color:#fff;text-decoration:none;}

.pageTitle22{color:#fff;background-color:#939598;font-weight:bold;font-size:11px;}
.pageTitle22 a:link, .pageTitle22 a:visited {color:#fff;text-decoration:none;}
.pageTitle22 a:hover, .pageTitle22 a:active  {color:#fff;text-decoration:none;}

.pageTitle23{color:#900028;display:block;font-weight:normal;font-size:20px;margin:1px 1px 1px 1px;padding:10px;}
.pageTitle23 a:link, .pageTitle23 a:visited {color:#fff;text-decoration:none;}
.pageTitle23 a:hover, .pageTitle23 a:active  {color:#fff;text-decoration:none;}

.pageTitle24{color:#4985a8;font-weight:bold;font-size:16px;padding:10px 10px 10px 0;}
.pageTitle24 a:link, .pageTitle24 a:visited {color:#4985a8;text-decoration:none;}
.pageTitle24 a:hover, .pageTitle24 a:active  {color:#4985a8;text-decoration:underline;}

.pageTitle25{color:#49acd8;font-weight:bold;font-size:13px;line-height:normal;text-shadow:1px 1px 1px #fff;}
.pageTitle25 a:link, .pageTitle25 a:visited {color:#49acd8;text-decoration:none;}
.pageTitle25 a:hover, .pageTitle25 a:active  {color:#49acd8;text-decoration:underline;}

.pageTitle26{color:#000;font-weight:normal;font-size:13px;line-height:normal;}
.pageTitle26 a:link, .pageTitle26 a:visited {color:#000;text-decoration:none;}
.pageTitle26 a:hover, .pageTitle26 a:active  {color:#000;text-decoration:underline;}

.pageTitle27{color:#ee2d24;font-weight:normal;font-size:16px;line-height:normal;}
.pageTitle27 a:link, .pageTitle27 a:visited {color:#ee2d24;text-decoration:none;}
.pageTitle27 a:hover, .pageTitle27 a:active  {color:#ee2d24;text-decoration:underline;}

.pageTitle28{color:#ee2d24;font-weight:italic;font-size:16px;line-height:normal;}
.pageTitle28 a:link, .pageTitle28 a:visited {color:#ee2d24;text-decoration:none;}
.pageTitle28 a:hover, .pageTitle28 a:active  {color:#ee2d24;text-decoration:underline;}

.pageTitle29{color:#ee2d24;font-weight:normal;font-size:13px;line-height:normal;}
.pageTitle29 a:link, .pageTitle29 a:visited {color:#ee2d24;text-decoration:none;}
.pageTitle29 a:hover, .pageTitle29 a:active  {color:#ee2d24;text-decoration:underline;}

.pageTitle30{color:#ee2d24;font-weight:normal;font-size:13px;line-height:normal;}
.pageTitle30 a:link, .pageTitle30 a:visited {color:#ee2d24;text-decoration:none;}
.pageTitle30 a:hover, .pageTitle30 a:active  {color:#ee2d24;text-decoration:underline;}

.pageTitle31{font-size:11px;padding:5px 0 0 5px;margin:0}
.pageTitle31 a:link, .pageTitle31 a:visited {text-decoration:none;}
.pageTitle31 a:hover, .pageTitle31 a:active {text-decoration:underline;}

.pageTitle32{font-size:11px;padding:0 0 0 140px;margin:0}
.pageTitle32 a:link, .pageTitle32 a:visited {text-decoration:none;}
.pageTitle32 a:hover, .pageTitle32 a:active {text-decoration:underline;}

.pageTitle33{display:block;margin:5px 0 0 10px;padding:0;font-size:12px;line-height:normal;color:#6E6E70;}
.pageTitle33 a:link, .pageTitle33 a:visited {color:#6E6E70;text-decoration:none;}
.pageTitle33 a:hover, .pageTitle33 a:active  {color:#6E6E70;text-decoration:none;}

.pageTitle34{display:block;margin:5px 0 0 10px;padding:0;font-size:18px;line-height:normal;color:#6D6E71;}
.pageTitle34 a:link, .pageTitle34 a:visited {color:#6E6E70;text-decoration:none;}
.pageTitle34 a:hover, .pageTitle34 a:active  {color:#6E6E70;text-decoration:none;}

.pageTitle35{display:block;margin:0 0 10px 0;font-size:13px;font-weight:700;color:#900028;clear:both;}
.pageTitle35 a:link, .pageTitle35 a:visited {color:#900028;text-decoration:none;}
.pageTitle35 a:hover, .pageTitle35 a:active  {color:#900028;text-decoration:none;}

.pageTitle36{padding:0;margin:0 0 5px 0;font-size:16px;font-weight:400;line-height:16px;color:#fff;}
.pageTitle36 a:link, .pageTitle36 a:visited {color:#fff;text-decoration:none;}
.pageTitle36 a:hover, .pageTitle36 a:active  {color:#fff;text-decoration:underline;}

/* Styles request by Cris Rene Denopol */

.Info_ {color: #6d6e71; font-size:11px;}
.InfoL_main{color:#6d6e71;font-size:12px;}
.InfoL_page{font-size:11px;color:#3d5b87;!important;}
.InfoL_page a:link {color:#3d5b87;text-decoration:none;}
.InfoL_page a:hover,.InfoL_page a:active,.InfoL_page a:visited {color:#3d5b87;text-decoration:underline;}
.Info_page{display:block;color:#82898f;font-size:12px;line-height:20px;margin:20px 0;!important;}
.se_info {display:inline-block;margin:0;padding:10px 10px 10px 0;width:100%;background:url(../Site_Images/other_media/hte/Line_seperate.jpg)/*tpa=http://www.huntsman.com/Internet/Site_Images/other_media/hte/Line_seperate.jpg*/ no-repeat center right;}

.H1_title {color:#a75054;font-size:16px;margin:10px 0;}
.H2_title {color:#365a88;font-size:11pt;}
.H2L_title {color:#365a88;font-size:14px;display:block;padding:10px 5px 10px 9px;}
.H2L_title a:link, .H2L_title a:visited, .H2L_title a:hover,.H2L_title a:active{color:#365a88;}
.H3_title {color: #365A88;font-size:11px;font-weight:bold;margin:10px 0;} 

.Findoutmore_page {color:#6d6e71;font-size:8pt;font-weight:bold;}
.se_line {display:inline-block;margin:0 0 0 5px;padding:0;width:7px;height:7px;vertical-align:middle;background:url(../Site_Images/other_media/hte/Line_seperate_v_1.jpg)/*tpa=http://www.huntsman.com/Internet/Site_Images/other_media/hte/Line_seperate_v_1.jpg*/ no-repeat center right;}

.da_title {color:#ae5053;font-size:18px;}
.Sub_ {color:#365a88; font-size:14px;}
.importantList{list-style-type:none;padding:0;margin:0;}
.importantList li{background-image: url(../Site_Images/other_media/hte/Blue_dot.jpg)/*tpa=http://www.huntsman.com/Internet/Site_Images/other_media/hte/Blue_dot.jpg*/;background-repeat: no-repeat;background-position: 0px top;padding-left:25px;margin: 20px 0 20px 20px;}

.contentImageTE {margin:0 0 10px 20px;padding:0;border-right:1px solid #CCC;}
.contentImageTENews {margin:10px 0 0 22px;padding:10px;}
.contentImageTEInfo{margin:10px 10px 10px 0px;float:left;}


/* End of styles for TE */


/*COMATO TABLE STYLES*/


.TableA {font-family:Arial, Helvetica, sans-serif;margin:0;padding:0;font-size:11px;line-height:13px;clear:both;border-top:1px solid #A8A4A2;border-left:1px solid #A8A4A2;border-bottom:0;border-right:0;}
.TableA tr td {padding:7px 0 7px 7px;border-top:0;border-right:1px solid #A8A4A2;border-bottom:1px solid #A8A4A2;border-left:0;text-align:left;}
.TableA tr.TableTitleA {font-family:Arial, Helvetica, sans-serif;font-size:11px;font-weight:bold;line-height:13px;color:#036;text-align:left;text-transform:uppercase;}
.TableA tr.TableHeaderA {font-family:Arial, Helvetica, sans-serif;color:#000;font-size:11px;line-height:13px;}
.TableA tr.TableHeaderA td.TableDataA {font-family:Arial, Helvetica, sans-serif;margin:0;padding:7px;font-weight:bold;}
.TableA tr.TableDataA {font-family:Arial, Helvetica, sans-serif;color:#000;font-size:11px;line-height:13px;background-color:transparent;}
.TableA tr.TableDataA td.TableDataA {font-family:Verdana, Arial, Helvetica, sans-serif;margin:0;padding:7px;background-color:transparent;font-size:10px;line-height:12px;}
.TableCaptionA {display:block;font-family:Arial, Helvetica, sans-serif;margin:0;padding:7px 0 0 0;font-size:10px;line-height:12px;color:#000;clear:both;}

/*style2*/

.TableB {font-family:Arial, Helvetica, sans-serif;margin:0;padding:0;font-size:11px;line-height:13px;clear:both;border-top:1px solid #A8A4A2;border-left:1px solid #A8A4A2;border-bottom:0;border-right:0;}
.TableB tr td {padding:7px 0 7px 7px;border-top:0;border-right:1px solid #A8A4A2;border-bottom:1px solid #A8A4A2;border-left:0;text-align:left;}
.TableB tr.TableTitleB {font-family:Arial, Helvetica, sans-serif;font-size:11px;font-weight:bold;line-height:13px;color:#900028;text-align:left;text-transform:uppercase;}
.TableB tr.TableHeaderB {font-family:Arial, Helvetica, sans-serif;color:#000;font-size:11px;line-height:13px;}
.TableB tr.TableHeaderB td.TableDataB {font-family:Arial, Helvetica, sans-serif;margin:0;padding:7px;font-weight:bold;}
.TableB tr.TableDataB {font-family:Arial, Helvetica, sans-serif;color:#000;font-size:11px;line-height:13px;background-color:transparent;}
.TableB tr.TableDataB td.TableDataB {font-family:Verdana, Arial, Helvetica, sans-serif;margin:0;padding:7px;background-color:transparent;font-size:10px;line-height:12px;}
.TableCaptionB {display:block;font-family:Arial, Helvetica, sans-serif;margin:0;padding:7px 0 0 0;font-size:10px;line-height:12px;color:#000;clear:both;}

/*style3*/

.TableC {font-family:Arial, Helvetica, sans-serif;margin:0;padding:0;font-size:11px;line-height:13px;clear:both;border-top:1px solid #A8A4A2;border-left:1px solid #A8A4A2;border-bottom:0;border-right:0;}
.TableC tr td {padding:7px 0 7px 7px;border-top:0;border-right:1px solid #A8A4A2;border-bottom:1px solid #A8A4A2;border-left:0;text-align:left;}
.TableC tr.TableTitleC {font-family:Arial, Helvetica, sans-serif;font-size:11px;font-weight:bold;line-height:13px;color:#827E7C;text-align:left;text-transform:uppercase;}
.TableC tr.TableHeaderC {font-family:Arial, Helvetica, sans-serif;color:#000;font-size:11px;line-height:13px;}
.TableC tr.TableHeaderC td.TableDataC {font-family:Arial, Helvetica, sans-serif;margin:0;padding:7px;font-weight:bold;}
.TableC tr.TableDataC {font-family:Arial, Helvetica, sans-serif;color:#000;font-size:11px;line-height:13px;background-color:transparent;}
.TableC tr.TableDataC td.TableDataC {font-family:Verdana, Arial, Helvetica, sans-serif;margin:0;padding:7px;background-color:transparent;font-size:10px;line-height:12px;}
.TableCaptionC {display:block;font-family:Arial, Helvetica, sans-serif;margin:0;padding:7px 0 0 0;font-size:10px;line-height:12px;color:#000;clear:both;}

/*style4*/

.TableD {font-family:Arial, Helvetica, sans-serif;margin:0;padding:0;font-size:11px;line-height:13px;clear:both;border-top:1px solid #900028;border-left:1px solid #900028;border-bottom:0;border-right:0;}
.TableD tr td {padding:7px 0 7px 7px;border-top:0;border-right:1px solid #900028;border-bottom:1px solid #900028;border-left:0;text-align:left;}
.TableD tr.TableTitleD {font-family:Arial, Helvetica, sans-serif;font-size:11px;font-weight:bold;line-height:13px;color:#fff;background:#900028;text-align:left;text-transform:uppercase;}
.TableD tr.TableHeaderD, .TableD td.TableHeaderD  {font-family:Arial, Helvetica, sans-serif;color:#000;font-size:11px;line-height:13px;background:#F1F1F1;}
.TableD tr.TableHeaderD td.TableDataD {font-family:Arial, Helvetica, sans-serif;margin:0;padding:7px;}
.TableD tr.TableDataD {font-family:Arial, Helvetica, sans-serif;color:#000;font-size:11px;line-height:13px;background-color:transparent;}
.TableD tr.TableDataD td.TableDataD {font-family:Verdana, Arial, Helvetica, sans-serif;margin:0;padding:7px;background-color:transparent;font-size:10px;line-height:12px;}
.TableCaptionD {display:block;font-family:Arial, Helvetica, sans-serif;margin:0;padding:7px 0 0 0;font-size:10px;line-height:12px;color:#000;clear:both;}

/*style5*/

.TableE {font-family:Arial, Helvetica, sans-serif;margin:0;padding:0;font-size:11px;line-height:13px;clear:both;border-top:1px solid #021D52;border-left:1px solid #021D52;border-bottom:0;border-right:0;}
.TableE tr td {padding:7px 0 7px 7px;border-top:0;border-right:1px solid #021D52;border-bottom:1px solid #021D52;border-left:0;text-align:left;}
.TableE tr.TableTitleE {font-family:Arial, Helvetica, sans-serif;font-size:11px;font-weight:bold;line-height:13px;color:#fff;background:#021D52;text-align:left;text-transform:uppercase;}
.TableE tr.TableHeaderE, .TableE td.TableHeaderE {font-family:Arial, Helvetica, sans-serif;color:#000;font-size:11px;line-height:13px;background:#F1F1F1;}
.TableE tr.TableHeaderE td.TableDataE {font-family:Arial, Helvetica, sans-serif;margin:0;padding:7px;}
.TableE tr.TableDataE {font-family:Arial, Helvetica, sans-serif;color:#000;font-size:11px;line-height:13px;background-color:transparent;}
.TableE tr.TableDataE td.TableDataE {font-family:Verdana, Arial, Helvetica, sans-serif;margin:0;padding:7px;background-color:transparent;font-size:10px;line-height:12px;}
.TableCaptionE {display:block;font-family:Arial, Helvetica, sans-serif;margin:0;padding:7px 0 0 0;font-size:10px;line-height:12px;color:#000;clear:both;}

/*style6*/

.TableF {font-family:Arial, Helvetica, sans-serif;margin:0;padding:0;font-size:11px;line-height:13px;clear:both;border-top:1px solid #A8A4A2;border-left:1px solid #A8A4A2;border-bottom:0;border-right:0;}
.TableF tr td {padding:7px 0 7px 7px;border-top:0;border-right:1px solid #A8A4A2;border-bottom:1px solid #A8A4A2;border-left:0;text-align:left;}
.TableF tr.TableTitleF {font-family:Arial, Helvetica, sans-serif;font-size:11px;font-weight:bold;line-height:13px;color:#fff;background:#A8A4A2;text-align:left;text-transform:uppercase;}
.TableF tr.TableHeaderF, .TableF td.TableHeaderF {font-family:Arial, Helvetica, sans-serif;color:#000;font-size:11px;line-height:13px;background:#F1F1F1;}
.TableF tr.TableHeaderF td.TableDataF {font-family:Arial, Helvetica, sans-serif;margin:0;padding:7px;}
.TableF tr.TableDataF {font-family:Arial, Helvetica, sans-serif;color:#000;font-size:11px;line-height:13px;background-color:transparent;}
.TableF tr.TableDataF td.TableDataF {font-family:Verdana, Arial, Helvetica, sans-serif;margin:0;padding:7px;background-color:transparent;font-size:10px;line-height:12px;}
.TableCaptionF {display:block;font-family:Arial, Helvetica, sans-serif;margin:0;padding:7px 0 0 0;font-size:10px;line-height:12px;color:#000;clear:both;}

/*style7*/

.TableG {font-family:Arial, Helvetica, sans-serif;margin:0;padding:0;font-size:11px;line-height:13px;clear:both;border-top:1px solid #A8A4A2;border-left:1px solid #A8A4A2;border-bottom:0;border-right:0;}
.TableG tr td {padding:7px 0 7px 7px;border-top:0;border-right:1px solid #A8A4A2;border-bottom:1px solid #A8A4A2;border-left:0;text-align:left;}
.TableG tr.TableTitleG {font-family:Arial, Helvetica, sans-serif;font-size:11px;font-weight:bold;line-height:13px;color:#000;text-align:left;text-transform:uppercase;}
.TableG tr.TableHeaderG, .TableG td.TableHeaderG {font-family:Arial, Helvetica, sans-serif;color:#000;font-size:11px;line-height:13px;}
.TableG tr.TableHeaderG td.TableDataG {font-family:Arial, Helvetica, sans-serif;margin:0;padding:7px;}
.TableG tr.TableDataG {font-family:Arial, Helvetica, sans-serif;color:#000;font-size:11px;line-height:13px;background-color:transparent;}
.TableG tr.TableDataG td.TableDataG {font-family:Verdana, Arial, Helvetica, sans-serif;margin:0;padding:7px;background-color:transparent;font-size:10px;line-height:12px;}
.TableCaptionG {display:block;font-family:Arial, Helvetica, sans-serif;margin:0;padding:7px 0 0 0;font-size:10px;line-height:12px;color:#000;clear:both;}

/*NEW TABLE STYLES*/

/*style1*/

.Tablea {font-family:Arial, Helvetica, sans-serif;margin:0;padding:0;font-size:11px;line-height:13px;clear:both;border-top:1px solid #A8A4A2;border-left:1px solid #A8A4A2;border-bottom:0;border-right:0;}
.Tablea tr td {padding:7px 0 7px 7px;border-top:0;border-right:1px solid #A8A4A2;border-bottom:1px solid #A8A4A2;border-left:0;text-align:left;}
.Tablea tr.TableTitlea {font-family:Arial, Helvetica, sans-serif;font-size:11px;font-weight:bold;line-height:13px;color:#036;text-align:left;text-transform:uppercase;}
.Tablea tr.TableHeadera {font-family:Arial, Helvetica, sans-serif;color:#000;font-size:11px;line-height:13px;}
.Tablea tr.TableHeadera td.TableDataa {font-family:Arial, Helvetica, sans-serif;margin:0;padding:7px;font-weight:bold;}
.Tablea tr.TableDataa {font-family:Arial, Helvetica, sans-serif;color:#000;font-size:11px;line-height:13px;background-color:transparent;}
.Tablea tr.TableDataa td.TableDataa {font-family:Verdana, Arial, Helvetica, sans-serif;margin:0;padding:7px;background-color:transparent;font-size:10px;line-height:12px;}
.TableCaptiona {display:block;font-family:Arial, Helvetica, sans-serif;margin:0;padding:7px 0 0 0;font-size:10px;line-height:12px;color:#000;clear:both;}

/*style2*/

.Tableb {font-family:Arial, Helvetica, sans-serif;margin:0;padding:0;font-size:11px;line-height:13px;clear:both;border-top:1px solid #A8A4A2;border-left:1px solid #A8A4A2;border-bottom:0;border-right:0;}
.Tableb tr td {padding:7px 0 7px 7px;border-top:0;border-right:1px solid #A8A4A2;border-bottom:1px solid #A8A4A2;border-left:0;text-align:left;}
.Tableb tr.TableTitleb {font-family:Arial, Helvetica, sans-serif;font-size:11px;font-weight:bold;line-height:13px;color:#900028;text-align:left;text-transform:uppercase;}
.Tableb tr.TableHeaderb {font-family:Arial, Helvetica, sans-serif;color:#000;font-size:11px;line-height:13px;}
.Tableb tr.TableHeaderb td.TableDatab {font-family:Arial, Helvetica, sans-serif;margin:0;padding:7px;font-weight:bold;}
.Tableb tr.TableDatab {font-family:Arial, Helvetica, sans-serif;color:#000;font-size:11px;line-height:13px;background-color:transparent;}
.Tableb tr.TableDatab td.TableDatab {font-family:Verdana, Arial, Helvetica, sans-serif;margin:0;padding:7px;background-color:transparent;font-size:10px;line-height:12px;}
.TableCaptionb {display:block;font-family:Arial, Helvetica, sans-serif;margin:0;padding:7px 0 0 0;font-size:10px;line-height:12px;color:#000;clear:both;}

/*style3*/

.Tablec {font-family:Arial, Helvetica, sans-serif;margin:0;padding:0;font-size:11px;line-height:13px;clear:both;border-top:1px solid #A8A4A2;border-left:1px solid #A8A4A2;border-bottom:0;border-right:0;}
.Tablec tr td {padding:7px 0 7px 7px;border-top:0;border-right:1px solid #A8A4A2;border-bottom:1px solid #A8A4A2;border-left:0;text-align:left;}
.Tablec tr.TableTitlec {font-family:Arial, Helvetica, sans-serif;font-size:11px;font-weight:bold;line-height:13px;color:#827E7C;text-align:left;text-transform:uppercase;}
.Tablec tr.TableHeaderc {font-family:Arial, Helvetica, sans-serif;color:#000;font-size:11px;line-height:13px;}
.Tablec tr.TableHeaderc td.TableDatac {font-family:Arial, Helvetica, sans-serif;margin:0;padding:7px;font-weight:bold;}
.Tablec tr.TableDatac {font-family:Arial, Helvetica, sans-serif;color:#000;font-size:11px;line-height:13px;background-color:transparent;}
.Tablec tr.TableDatac td.TableDatac {font-family:Verdana, Arial, Helvetica, sans-serif;margin:0;padding:7px;background-color:transparent;font-size:10px;line-height:12px;}
.TableCaptionc {display:block;font-family:Arial, Helvetica, sans-serif;margin:0;padding:7px 0 0 0;font-size:10px;line-height:12px;color:#000;clear:both;}

/*TABLE STYLES USED IN DROPDOWN OF FCKEDITOR*/

/*SubTemplate - Style 1*/

.TableFixA {background-color:#E8E8E8;border:1px #cccccc solid;}
.TableFixA tr td {margin:0;padding:5px;font-family :Arial, Helvetica,  Verdana, sans-serif;color:#4CB8FF;}
.TableFixA tr td a:link,.TableFixA tr td a:visited,.TableFixA tr td a:active{color:#4CB8FF;}
.TableFixA tr td ul li {color:#4CB8FF;margin:-2px;}


/*SubTemplate - Style 2*/

.TableFixB {background-color:#ffffff;border: 1px #000000 solid;}
.TableFixB tr td {margin:0;padding:5px;font-family :Arial, Helvetica,  Verdana, sans-serif;color:#000000;}
.TableFixB tr td a:link,.TableFixB tr td a:visited,.TableFixB tr td a:active{color:#000000;}
.TableFixB tr td ul li {color:#000000;margin:-2px;}


/*SubTemplate - Style 3*/

.TableFixC {background-color:#cccccc;border: 1px #000000 solid;}
.TableFixC tr td {margin:0;vertical-align:top;text-align:center; padding:5px;font-family :Arial, Helvetica,  Verdana, sans-serif;color:#000000;}
.TableFixC tr td a:link,.TableFixC tr td a:visited,.TableFixC tr td a:active{color:#999999;}
.TableFixC tr td ul li {color:#999999;margin:-2px;}

/*SubTemplate - Style 4*/

.TableFixD { background-color:#ffffff;border:1px #ff6600 solid;}
.TableFixD tr td {margin:0;vertical-align:top;text-align:center; padding:5px;font-family :Arial, Helvetica,  Verdana, sans-serif;color:#000000;}
.TableFixD tr td a:link,.TableFixD tr td a:visited,.TableFixD tr td a:active{color:#999999;}
.TableFixD tr td ul li {color:#999999; margin:-2px;}


/*SubTemplate - Style 5*/

.TableFixE {background-color:#E8E8E8;border: 1px #990000 solid;}
.TableFixE tr td {margin:0;vertical-align:top;text-align:center;padding:5px;font-family :Arial, Helvetica,  Verdana, sans-serif;color:#000000;}
.TableFixE tr td a:link,.TableFixE tr td a:visited,.TableFixE tr td a:active{color:#990000;}
.TableFixE tr td ul li { color:#990000; margin:-2px;}


/*SubTemplate - Style 6*/

.TableFixF {width:100%;margin-bottom:0;margin-top:0;}
.TableFixF tr td {border:1px solid #fff;font-family: Arial, sans-serif;font-size:11px;color:#000000;background-color: #E6C2BD;}	
.TableFixF tr td a:link,.TableFixF tr td a:visited,.TableFixF tr td a:active{color:#000000;}
.TableFixF tr td ul li { color:#000000; margin:-2px;}
.TableFixF p{font-size:9px;padding-left: 5px;padding-right: 5px;margin-right: 3px;padding-top: 1px;}
.TableFixF .darkBgPP{background-color: #DAA8A3;}
.TableFixF .lightBgPP{background-color: #E6C2BD;}


/*SubTemplate - Style 7*/

.TableFixG {width:96%;margin:10px;padding:0;}
.TableFixG tr td {font-family: Arial, sans-serif;font-size:11px;color:#000000;background-color:#fff;}	
.TableFixG tr td a:link,.TableFixG tr td a:visited,.TableFixG tr td a:active{color:#000000;}
.TableFixG tr td ul li { color:#000000; margin:-2px;}
.TableFixG .header{font-family:Arial, sans-serif;font-size:11px;color:#fff; font-weight:bold;background-image: url(../Site_Images/bg/TableFixG_header.gif)/*tpa=http://www.huntsman.com/Internet/Site_Images/bg/TableFixG_header.gif*/;background-repeat:no-repeat;background-position:0px 0px;padding:5px 10px 10px 10px;}
.TableFixG .title{background-image: url(../Site_Images/bg/TableFixG_title.gif)/*tpa=http://www.huntsman.com/Internet/Site_Images/bg/TableFixG_title.gif*/;background-repeat:no-repeat;background-position:0px 0px;padding:5px 10px 10px 10px;}
.TableFixG .title1{background-image: url(../Site_Images/bg/TableFixG_title1.gif)/*tpa=http://www.huntsman.com/Internet/Site_Images/bg/TableFixG_title1.gif*/;background-repeat:no-repeat;background-position:0px 0px;padding:5px 10px 10px 10px;}

/*SubTemplate - Style 8*/ 

.TableFixH {width:96%;margin:0;padding:0;}
.TableFixH tr td {font-family: Arial, sans-serif;font-size:11px;color:#000000;background-color:#fff;}	
.TableFixH tr td a:link,.TableFixH tr td a:visited,.TableFixH tr td a:active{color:#000000;}
.TableFixH tr td ul li { color:#000000; margin:-2px;}
.TableFixH .header{font-family:Arial,sans-serif;font-size:11px;color:#fff; font-weight:bold;background-image: url(../Site_Images/bg/TableFixG_header.gif)/*tpa=http://www.huntsman.com/Internet/Site_Images/bg/TableFixG_header.gif*/;background-repeat:no-repeat;background-position:0px 0px;padding:5px 10px 7px 10px;}
.TableFixH .header1{font-family:Arial,sans-serif;font-size:11px;color:#fff; font-weight:bold;background-image: url(../Site_Images/bg/TableFixG_header1.gif)/*tpa=http://www.huntsman.com/Internet/Site_Images/bg/TableFixG_header1.gif*/;background-repeat:no-repeat;background-position:0px 0px;padding:5px 10px 7px 10px;}
.TableFixH .title{background-image: url(../Site_Images/bg/TableFixG_title.gif)/*tpa=http://www.huntsman.com/Internet/Site_Images/bg/TableFixG_title.gif*/;background-repeat:no-repeat;background-position:0px 0px;padding:5px 10px 10px 10px;}
.TableFixH .title1{background-image: url(../Site_Images/bg/TableFixG_title1.gif)/*tpa=http://www.huntsman.com/Internet/Site_Images/bg/TableFixG_title1.gif*/;background-repeat:no-repeat;background-position:0px 0px;padding:5px 10px 10px 10px;}
.TableFixH .data{padding:5px 10px 10px 10px;}
.TableFixH tr td.coloredt{background-color:#e7e7e8;width:150px;font-family:Arial,sans-serif;font-size:11px;color:#000;font-weight:bold;text-align:left;}
.TableFixH tr td.coloredh{background-color:#bec0c2;width:150px;font-family:Arial,sans-serif;font-size:11px;color:#000;font-weight:bold;text-align:left;}
.TableFixH tr td.lined{border-bottom:1px dashed;border-color:#333;width:150px;text-align:left;}

/*SubTemplate - Style 9* about us events*/

.TableFixI {float:left;display:block;position:relative;margin:0 0 18px 0;width:650px;text-align:left;/**/clear:both;}
.TableFixI a {color:#000;}
.TableFixI td {vertical-align:top;}
.TableFixI td.row-001 {padding:7px;width:732px;font-weight:700;color:#fff;background:#A45256;border-bottom:1px solid #fff;}
.TableFixI td.row-uneven {padding:7px;width:732px;color:#000;background:#DAB4B0;border-bottom:1px solid #fff;}
.TableFixI td.row-even {padding:7px;width:732px;color:#000;background:#F0DEDD;border-bottom:1px solid #fff;}
.TableFixI table {text-align:left;width:650px;}
.TableFixI .tpe-date {width:15%;font-weight:700;}
.TableFixI .tpe-event {width:85%;}

/*SubTemplate - Style 10 - Used for homepage TE*/

.TableFixJ {width:100%;margin-bottom:0;margin-top:0;}
.TableFixJ tr td {font-family: Helvetica, Arial, sans-serif;font-size: 10pt;color: #909090}	
.TableFixJ tr td a:link,.TableFixJ tr td a:visited,.TableFixJ tr td a:active{color: #365a88;}
.TableFixJ .Container{margin:0px;padding:10px;background-image: url(../Site_Images/bg/home_blurbBG_body.jpg)/*tpa=http://www.huntsman.com/Internet/Site_Images/bg/home_blurbBG_body.jpg*/; background-repeat:repeat-y;height:160px;}
.TableFixJ .Container .Head{color: #365a88; font-size: 10pt; font-weight: bold;}
.TableFixJ .Container .body{color: #909090; font-size: 10pt; font-weight: normal;}

/*SubTemplate - Style 11 - Used for homepage TE*/

.TableFixK {width:100%;margin-bottom:0;margin-top:0;}
.TableFixK tr td {font-family: Helvetica, Arial, sans-serif;font-size: 10pt;color: #909090;}
.TableFixK tr td.middle {font-family: Helvetica, Arial, sans-serif;font-size: 10pt;color: #909090;background-image: url(../Site_Images/bg/home_sicBG_middle.gif)/*tpa=http://www.huntsman.com/Internet/Site_Images/bg/home_sicBG_middle.gif*/; background-repeat:repeat-y; background-position:top;}	
.TableFixK tr td.top {font-family: Helvetica, Arial, sans-serif;font-size: 10pt;color: #909090;background-image: url(../Site_Images/bg/home_sicBG_top.jpg)/*tpa=http://www.huntsman.com/Internet/Site_Images/bg/home_sicBG_top.jpg*/; background-repeat:no-repeat; background-position:top;}	
.TableFixK tr td.bottom {font-family: Helvetica, Arial, sans-serif;font-size: 10pt;color: #909090;background-image: url(../Site_Images/bg/home_sicBG_bottom.jpg)/*tpa=http://www.huntsman.com/Internet/Site_Images/bg/home_sicBG_bottom.jpg*/; background-repeat:no-repeat; background-position:top;}
.TableFixK tr td a:link,.TableFixK tr td a:visited,.TableFixK tr td a:active{color:#365a88;}


/*SubTemplate - Style 12 - Used for homepage TE*/

.TableFixL {width:100%;margin-bottom:0;margin-top:0;}
.TableFixL tr td {font-family: Helvetica, Arial, sans-serif;font-size: 10pt;color: #909090; text-align:center;}	
.TableFixL tr td a:link,.TableFixL tr td a:visited,.TableFixL tr td a:active{color:#365a88;}
.TableFixL td.Holder{margin:0;padding:0;background-image: url(../Site_Images/bg/home_sicBlurbBG_body_img.jpg)/*tpa=http://www.huntsman.com/Internet/Site_Images/bg/home_sicBlurbBG_body_img.jpg*/; background-repeat:repeat-y; background-position:top;}
.TableFixL td.Holder .Container{margin:0;padding:10px;width:inherit;}
.TableFixL td.Holder .Head{color: #365a88; font-size: 10pt; font-weight: bold;}
.TableFixL td.Holder .body{margin:0;padding:0;height:85px;overflow:hidden;color: #909090; font-size: 10pt; font-weight: normal;}


/*SubTemplate - Style 13* ham benzoxazine*/

.TableFixM {float:left;display:block;position:relative;margin:0 0 18px 0;text-align:left;/**/clear:both;}
.TableFixM a {color:#000;}
.TableFixM td {vertical-align:top;}
.TableFixM td.row-001 {padding:3px;font-weight:700;color:#fff;background:#2a4d7a;border-bottom:1px solid #fff;border-right: 1px solid #fff;}
.TableFixM td.row-uneven {padding:3px;color:#000;background:#DAB4B0;border-bottom:1px solid #fff;border-right: 1px solid #fff;}
.TableFixM td.row-uneven a:link,.TableFixM td.row-uneven a:visited,.TableFixM td.row-uneven a:hover,.TableFixM td.row-uneven a:active{text-decoration:underline;}
.TableFixM td.row-even {padding:3px;color:#000;background:#F0DEDD;border-bottom:1px solid #fff;border-right: 1px solid #fff;}
.TableFixM td.row-even a:link,.TableFixM td.row-even a:visited,.TableFixM td.row-even a:hover,.TableFixM td.row-even a:active{text-decoration:underline;}
.TableFixM td.row-uneven1 {padding:3px;color:#000;background:#dad8d7;border-bottom:1px solid #fff;border-right: 1px solid #fff;}
.TableFixM td.row-even1 {padding:3px;color:#000;background:#e8e8e8;border-bottom:1px solid #fff;border-right: 1px solid #fff;}
.TableFixM table {text-align:left;width:650px;}
.TableFixM .tpe-date {width:15%;font-weight:700;}
.TableFixM .tpe-event {width:85%;}

/*SubTemplate - Style 14 used in TE*/

.TableFixN {width:178px;margin:0;padding:0;background-color:#fff;overflow:hidden;}
.TableFixN tr td {text-align:left;vertical-align:top;}	
.TableFixN tr td.style00 {text-align:left;vertical-align:top;background-color:#f2f2f2;margin:0;padding:0;}
.TableFixN tr td.style01 {text-align:left;vertical-align:top;background-color:#f2f2f2;height:60px;margin:0;padding:0;}	/*in use*/
.TableFixN tr td.style02 {text-align:left;vertical-align:top;background-color:#f2f2f2;height:100px;margin:0;padding:0;}	/*in use*/
.TableFixN tr td.style03 {text-align:left;vertical-align:top;background-color:#f2f2f2;height:200px;margin:0;padding:0;}	/*in use*/
.TableFixN tr td.style04 {text-align:left;vertical-align:top;background-color:#f2f2f2;height:30px;margin:0;padding:0;}	/*in use*/
.TableFixN tr td.style05 {text-align:left;vertical-align:top;background-color:#f2f2f2;height:100px;margin:0;padding:10px;}
.TableFixN tr td.style06 {text-align:left;vertical-align:top;margin:0;padding:0;}	/*in use*/
.TableFixN tr td.style07 {text-align:left;vertical-align:top;background-color:#f2f2f2;height:160px;margin:0;padding:0;}	/*in use*/
.TableFixN tr td.padding10{margin:0;padding:10px;background-color:#f2f2f2;}
.TableFixN tr td.padding10H1{margin:0;padding:10px;height:100px;background-color:#f2f2f2;}
.TableFixN tr td.padding10H2{margin:0;padding:10px;height:160px;background-color:#f2f2f2;}
.TableFixN tr td ul.unorderdList_Style-001{padding:0;margin:0 35px;}
.TableFixN tr td ul.unorderdList_Style-001 li{list-style-type:square;}


/*SubTemplate - Style 15 used in TE*/

.TableFixO {width:750px;margin:0;padding:5;overflow:hidden;}
.TableFixO tr td {text-align:center;vertical-align:top;background-color:#d6e1eb;font-size:12px;color:#303030;margin:0;padding:5px 0 0 0;}	
.TableFixO tr td.style01 {text-align:left;vertical-align:top;margin:0;padding:5px 0 0 15px;height:30px;font-size:16px;color:#fff;background-color:#82898f;}
.TableFixO tr td.style02 {text-align:left;vertical-align:top;margin:0;padding:5px 0 0 15px;height:30px;font-size:15px;color:#fff;background-color:#385b86;}		
.TableFixO tr td.style03 {text-align:center;vertical-align:top;margin:0;padding:5px 0 0 0;font-size:15px;color:#fff;background-color:#385b86;}	
.TableFixO tr td.style04{margin:0;padding:5px 0 0 15px;height:30px;vertical-align:top;text-align:left;}


/*STYLES USED BUT NOT IN DROPDOWN OF FCKEDITOR*/

.glossTitle {color:#515151;font-weight:bold;padding: 0 5px 0 0;}
.underline_aa {padding:10px 0 5px 0;font-family: Helvetica, Arial, sans-serif;font-size: 9pt;font-weight:bold;} 
.contentImagepu {margin:0;padding:2px 2px 2px 0;filter:progid:DXImageTransform.Microsoft.Shadow(direction=135,color=#C3C3C3,strength=4);}

td.colored{background-color:#e7e7e8;width:150px;}

img.imagewb{border:1px solid #666;}
a img.imagewb{border:1px solid #666;}


