@charset "utf-8";
/* CSS Document */

/*SKIN CSS BODY DECLARATION*/

/*elements*/

html{color:#000;background:#fff;}
body {margin:10px;font-family:Arial, Helvetica, sans-serif;font-size:11px;}
table{font-family:Arial, Helvetica, sans-serif;font-size:11px;float:left;}

/*link styles*/
a img {border:none;}
a:link {color:#777;text-decoration:underline;}
a:visited {color:#777;text-decoration:underline;}
a:hover {color:#777;text-decoration:none;},
a:active {color:#777;text-decoration:underline;}

/*NEWS IMAGE ON HOME TEMPLATE*/
.keynote {margin:0;padding:0;width:114px;height:179px;color:#fff;background:#BCBDC0;}
tr td.keynote a:link,tr td.keynote a:visited {color:#fff;text-decoration:none;}
tr td.keynote a:active, tr td.keynote a:hover {color:#fff;text-decoration:underline;}


/* TABLE CLASS QUARTERLY REPORTS USED IN HOMEPAGE CORPORATE */

tr td.QR_top {padding:0; width:180px;background-image: url(/Internet/Site_Images/corners/T_r10px_trans.gif);background-repeat:repeat-x;background-position:middle;}
tr td.QR_bottom {padding:0;width:180px;background-image: url(/Internet/Site_Images/corners/B_r10px_trans.gif);background-repeat:repeat-x;background-position:top;}
tr td.QR_left{padding:0;background-image: url(/Internet/Site_Images/corners/L_r10px_trans.gif);background-repeat:repeat-y;background-position:left;}
tr td.QR_right{padding:0;background-image: url(/Internet/Site_Images/corners/R_r10px_trans.gif);background-repeat:repeat-y;background-position:right;}

/*BREADCRUMBS*/
.breadcrumbs {background:#D4D8E4;padding:0; margin:0;}

/*PAGETITLE*/

.PageTitleHU {display:block;margin:0 0 10px 0;font-size:13px;font-weight:700;color:#900028;clear:both;}

/* NEWS ITEMS */

.newsoveralTitle{font-size:17px;line-height:19px;font-weight:bold;color:#900028;}
.contentwrapper{margin:0;padding:0;}
.contentwrapper .content{margin:0;}
.contentwrapper .toplink{margin:5px;padding:5px;}
.contentwrapper .morelink{margin:0;}
.activedate{margin:5px 0 0 0;padding:0;font-weight:bold;color:#000;}
.contentwrapper .title{margin:0;padding:0 font-size:11px;line-height:20px;font-weight:bold;color:#333;}
.contentwrapper .title a:link, .contentwrapper .title a:visited {font-weight:normal;color:#333;font-size:11px;text-decoration:underline;}
.contentwrapper .title a:hover {font-weight:normal;color:#333;font-size:11px;text-decoration:none;}
.contentwrapper .title a:active {font-weight:normal;color:#333;font-size:11px;text-decoration:underline;}



/*FORM STYLES*/

/*FEEDBACK FORM GENERAL*/

.feedbackform {margin:0;padding:0;width:97%;font-family:Arial, Helvetica, sans-serif;font-size:11px;height:100%}
.feedbackform tr td {margin:0;padding:0 0 3px 0;font-family:Arial, Helvetica, sans-serif;font-size:11px;}
.feedbackform tr td h5 {margin:0;padding:20px 0 15px 0;line-height:13px;font-family:Arial, Helvetica, sans-serif;font-size:11px;}
.feedbackform tr td.italics {font-style:italic;color: #024283;font-family:Arial, Helvetica, sans-serif;font-size:11px;}
.feedbackform tr td.bolds {font-weight:bold;font-family:Arial, Helvetica, sans-serif;font-size:11px;}
.feedbackform tr td.tabs {margin:0;padding:25px 5px 5px 5px;font-weight:bold;color:#032961;text-align:left;text-transform:uppercase;font-family:Arial, Helvetica, sans-serif;
font-size:11px;}
.feedbackform tr td p.tabs {margin:0;padding:2px 2px 11px 2px;font-weight:bold;color:#032961;text-align:left;text-transform:uppercase;font-family:Arial, Helvetica, sans-serif;font-size:11px;}



/*LABELS MOSTLY USED FOR POSITIONING*/


.feedbackform tr td.label {margin:0;padding:0;width:38%;vertical-align:top;}
.feedbackform tr td.label10 {margin:0;padding:0 0 0 12px;vertical-align:top;}
.feedbackform tr td.label20 {margin:0;padding:0 0 0 12px;width:150px;vertical-align:top;}
.feedbackform tr td.label30 {margin:0;padding:0 0 0 305px;vertical-align:top;}
.feedbackform tr td.label40 {margin:0;padding:0;width:150px;vertical-align:top;}
.feedbackform tr td.label60 {margin:0;padding: 0 0 0 30px;width:60%;vertical-align:top;}
.feedbackform tr td.label80 {margin:0;padding: 0 0 0 12px;width:100%;vertical-align:top;text-align:left;}

/*FEEDBACK FORM INPUT FIELDS*/

.feedbackform tr td.formelements {margin:0;padding:0 0 5px 0;font-family:Arial, Helvetica, sans-serif;font-size:11px;}
.feedbackform input.feedback {border:1px solid #666666;background-color:#FFF;width:258px;font-family:Arial, Helvetica, sans-serif;font-size:11px;}
.feedbackform input.feedback178 {border:1px solid #666666;background-color:#FFF;width:178px;font-family:Arial, Helvetica, sans-serif;font-size:11px;}
.feedbackform input.feedback550 {border:1px solid #666666;background-color:#FFF;width:550px;font-family:Arial, Helvetica, sans-serif;font-size:11px;}


/*FEEDBACK FORM STANDARD BUTTONS*/

.feedbackform input.submit {margin:14px 0 0 0;padding:0;font-size:11px;font-weight:bold;color:#666666;border:1px solid #666666;background-color:#fff;width:80px;height:20px;font-family:Arial, Helvetica, sans-serif;font-size:11px;}
.feedbackform input.reset {margin:14px 0 0 0;padding:0;font-weight:bold;color:#666666;border:1px solid #666666;background-color:#fff;width:80px;height:20px;font-family:Arial, Helvetica, sans-serif;font-size:11px;}
.feedbackform input.other {margin:25px 0 0 0;padding:0;font-weight:bold;color:#666666;border:1px solid #666666;background-color:#fff;width:80px;height:20px;font-family:Arial, Helvetica, sans-serif;font-size:11px;}
.feedbackform input.search {margin:14px 0 0 0;padding:1px;color:#666666;border:1px solid #666666;background-color:#fff;width:80px;height:20px;font-family:Arial, Helvetica, sans-serif;font-size:11px;}
.feedbackform select {border:1px solid #666666;background-color:#fff;width:262px;font-family:Arial, Helvetica, sans-serif;font-size:11px;}
.feedbackform select.medium {border:1px solid #666666;background-color:#fff;width:200px;font-family:Arial, Helvetica, sans-serif;font-size:11px;}
.feedbackform textarea {width:258px;border:1px solid #666666;background-color:#fff;font-family:Arial, Helvetica, sans-serif;font-size:11px;}
.feedbackform span.required {color:red;}
.feedbackform .title{display:block;margin:0 0 10px 0;font-size:13px;font-weight:700;color:#900028;clear:both;}

/*FEEDBACK FORM NON STANDARD BUTTONS  - USED IN THE FCK EDITOR*/

.feedbackform .box {border:1px solid #666666;background-color:#fff;overflow:auto;width:100%;height:280px;font-family:Arial, Helvetica, sans-serif;font-size:11px;}

/* IFRAMES */

.frame700{width:700px;height:500px;overflow:hidden;}
.frame750{width:750px;height:500px;}


/*
 * $History: default.css $
 * 
 * 
 */
 
.intro {
	font-size:11px;
	line-height:14px;	
	font-style:italic;	
}

.introglobal {
	font-size:11px;
	line-height:14px;
	font-style:italic;
	color:#000;
}

.subtitle {
	font-size:13px;
	line-height:16px;
	font-weight:bold;
}

.subtitleglobal {
	font-size:13px;
	line-height:16px;
	font-weight:bold;
	color:#000;
}

.subtitle1 {
	font-size:12px;
	line-height:15px;
	font-weight:bold;
}

.subtitle2 {
	font-size:12px;
	line-height:15px;
	font-weight:bold;
}

.subtitle2global {
	font-size:12px;
	line-height:15px;
	font-weight:bold;
	color:#900028;
}

.subtitle3 {
	font-size:11px;
	line-height:13px;
	font-weight:bold;
}

.subtitle3global {
	font-size:11px;
	line-height:13px;
	font-weight:bold;
	color:#000;
}

.subtitle4 {
	font-size:11px;
	line-height:13px;
	font-weight:bold;
}

.pagetitle {
	display:block;
	margin:10px 0 4px 0;
	padding-top:5px;
	padding-bottom:5px;
	line-height:21px;
	font-weight:300;
	clear:both;
	font-size:13px;
	color:#900028;
	clear:both;
}

.pageTitle1 {
	font-size:17px;line-height:19px;font-weight:bold;color:#900028;
}

.pagetitle2 {
	display:block;
	margin:10px 0 4px 0;
	padding-top:5px;
	padding-bottom:5px;
	line-height:21px;
	font-weight:300;
	clear:both;
	font-size:13px;
	color:#900028;
	clear:both;
}
.pagetitle3 {
	font-weight:300;
	font-size:14px;
	color:#AABBE0;
	font-size:14px;
	line-height:normal;
		
}

.pagetitle4 {
	display:block;
	margin:10px 0 4px 0;
	padding-top:5px;
	padding-bottom:5px;
	line-height:21px;
	font-weight:300;
	clear:both;
	font-size:13px;
	color:#900028;
	clear:both;
}

.pagetitle5 {
	display:block;
	margin:10px 0 4px 0;
	padding-top:5px;
	padding-bottom:5px;
	line-height:21px;
	font-weight:300;
	clear:both;
	font-size:13px;
	color:#900028;
	clear:both;
}

.redtxt {
	display:block;
	margin:10px 0 4px 0;
	padding-top:5px;
	padding-bottom:5px;
	line-height:21px;
	font-weight:300;
	clear:both;
	font-size:13px;
	color:#900028;
	clear:both;
}

strong {
	font-weight:700;
}



/*TABLES*/

.TableFixA {background-color:#E8E8E8;border:1px #cccccc solid;}
.TableFixA tr td {margin:0;padding:5px;font-family :Arial, Helvetica,  Verdana, sans-serif;color:#4CB8FF;}
.TableFixA tr td a:link,.TableFixA tr td a:visited,.TableFixA tr td a:active{color:#4CB8FF;}
.TableFixA tr td ul li {color:#4CB8FF;margin:-2px;}



.TableFixB {background-color:#ffffff;border: 1px #000000 solid;}
.TableFixB tr td {margin:0;padding:5px;font-family :Arial, Helvetica,  Verdana, sans-serif;color:#000000;}
.TableFixB tr td a:link,.TableFixB tr td a:visited,.TableFixB tr td a:active{color:#000000;}
.TableFixB tr td ul li {color:#000000;margin:-2px;}



.TableFixC {background-color:#cccccc;border: 1px #000000 solid;}
.TableFixC tr td {margin:0;vertical-align:top;text-align:center; padding:5px;font-family :Arial, Helvetica,  Verdana, sans-serif;color:#000000;}
.TableFixC tr td a:link,.TableFixC tr td a:visited,.TableFixC tr td a:active{color:#999999;}
.TableFixC tr td ul li {color:#999999;margin:-2px;}


.TableFixD { background-color:#ffffff;border:1px #ff6600 solid;}
.TableFixD tr td {margin:0;vertical-align:top;text-align:center; padding:5px;font-family :Arial, Helvetica,  Verdana, sans-serif;color:#000000;}
.TableFixD tr td a:link,.TableFixD tr td a:visited,.TableFixD tr td a:active{color:#999999;}
.TableFixD tr td ul li {color:#999999; margin:-2px;}



.TableFixE {background-color:#E8E8E8;border: 1px #990000 solid;}
.TableFixE tr td {margin:0;vertical-align:top;text-align:center;padding:5px;font-family :Arial, Helvetica,  Verdana, sans-serif;color:#000000;}
.TableFixE tr td a:link,.TableFixE tr td a:visited,.TableFixE tr td a:active{color:#990000;}
.TableFixE tr td ul li { color:#990000; margin:-2px;}


.TableFixF {background-color:#E8E8E8;border: 1px #990000 solid;}
.TableFixF tr td {margin:0;vertical-align:top;text-align:left;padding:5px;font-family :Arial, Helvetica,  Verdana, sans-serif;color:#000000;}
.TableFixF tr td a:link,.TableFixF tr td a:visited,.TableFixF tr td a:active{color:#990000;}
.TableFixF tr td ul li { color:#990000; margin:-2px;}



.TableFixG {background-color:#E8E8E8;border: 1px #990000 solid;}
.TableFixG tr td {margin:0;vertical-align:top;text-align:center;padding:5px;font-family :Arial, Helvetica,  Verdana, sans-serif;color:#000000;}
.TableFixG tr td a:link,.TableFixG tr td a:visited,.TableFixG tr td a:active{color:#990000;}
.TableFixG tr td ul li { color:#990000; margin:-2px;}


.TableFixH {background-color:#E8E8E8;border: 1px #990000 solid;}
.TableFixH tr td {margin:0;vertical-align:top;text-align:center;padding:5px;font-family :Arial, Helvetica,  Verdana, sans-serif;color:#000000;}
.TableFixH tr td a:link,.TableFixH tr td a:visited,.TableFixH tr td a:active{color:#990000;}
.TableFixH tr td ul li { color:#990000; margin:-2px;}



.TableFixI {background-color:#E8E8E8;border: 1px #990000 solid;}
.TableFixI tr td {margin:0;vertical-align:top;text-align:center;padding:5px;font-family :Arial, Helvetica,  Verdana, sans-serif;color:#000000;}
.TableFixI tr td a:link,.TableFixI tr td a:visited,.TableFixI tr td a:active{color:#990000;}
.TableFixI tr td ul li { color:#990000; margin:-2px;}


