/*****************************/
/* Web Channel Services: Base
/*****************************/
.foo{}

/*****************************/
/* HTML General
/*****************************/
body, h1, h2, h3, h4, h5, h6, address, blockquote, dd, dl, hr, form, input {margin: 0; padding: 0;}
body {font-family: arial; font-size: .75em; text-align: center; background: url(img/staticBackgrounds.gif)/*tpa=https://www.regions.com/App_Themes/2010/img/staticBackgrounds.gif*/ repeat-x; background-position:0px -389px; color: #666;}
a {color: #558800; text-decoration:none; }
a:link, a:visited {color: #558800;}
a:hover, a:active {color: #558800; text-decoration: underline;}
a img {border: 0;}
img {border: none;}
h1, h2, h3, h4, h5, h6 {font-family: arial;}
h2, h3 {font-size: 16px;}
table {font-size: 100%;}
sup {vertical-align:text-top; font-size:70%;}

/*****************************/
/* HTML Overview
/*****************************/
.emsPage {width:960px; margin:0 auto; text-align:left;}

.emsInfo {height:5px; cursor:default; font-size:5%; margin-bottom:10px;}
.emsInfonobackground {height:5px; cursor:default; font-size:5%; margin-bottom:10px;}
.emsInfo .Token {height:5px; width:5px; float:right; color:#fff;}
.emsInfonobackground .Token {height:5px; width:5px; float:right; color:#fff;}

.emsHeaderTop {height:25px; clear:right;}
.Locations {float:right; padding-top:0px; height:14px; font-size:11px; padding-right: 50px;}
.Locations div {height:14px;  float:left;}
.Locations a {color:#558800; font-weight:normal;}
.Locations a:hover, a:active {text-decoration:underline;}
.Locations .Img  {padding-top:1px; padding-right:4px;}
.Locations .Itm {margin-right:7px;}
.Locations .Txt {color:#949494; padding-top:10px;}
.Locations .Button { float:right; margin-top:11px; margin-left:3px; margin-right:5px; width:60px; height:20px; background:url(img/staticImages.gif)/*tpa=https://www.regions.com/App_Themes/2010/img/staticImages.gif*/; background-position: -60px -50px;}

/** Locations Fly Out **/
#lfo {font-size:11px;text-align:left;float:left;}
#lfo a.locations_fo {text-decoration:none;font-weight:normal;z-index: 1000002;}
a.locations_fo, a.savedlocations_fo {position:relative;margin-left:0px;}
/*a.locations_fo span{background-image:url("img/open.gif");background-repeat:no-repeat;background-position:17px 11px;padding-top:10px;padding-left:32px;height:23px;width:69px; display:block; cursor:pointer;}*/
a.locations_fo span, a.savedlocations_fo span{background-image:url("img/staticImages.gif")/*tpa=https://www.regions.com/App_Themes/2010/img/staticImages.gif*/;background-repeat:no-repeat;background-position:0px -188px;padding-top:10px;padding-left:32px;height:23px;width:69px; display:block; cursor:pointer;}
#lfo a.menu-open {background:#fff!important;color:#580!important;outline:none;}
a.locations_fo.menu-open span, a.savedlocations_fo.menu-open span{background-image:url("img/locations_fo_top.png")/*tpa=https://www.regions.com/App_Themes/2010/img/locations_fo_top.png*/;background-repeat:no-repeat;background-position:1px 1px;color:#580;height:23px;width:69px;display:block;}
/*#location_menu {display:none;background-image:url("img/locations_fo_main.png");background-repeat:no-repeat;background-position:0 0;position:absolute;width:190px;height:85px;text-align:left;padding:12px;top: 34px; margin-top: 5px;margin-right: 0px;*margin-right: -1px;color:#444;font-size:11px;z-index: 1000002;}*/
#location_menu {display:none;background:url("img/staticFlyouts.png")/*tpa=https://www.regions.com/App_Themes/2010/img/staticFlyouts.png*/ no-repeat;background-position:0px -255px;position:absolute;width:190px;height:75px;text-align:left;padding:12px;top: 34px; margin-top: 5px;margin-right: 0px;margin-right: -1px;color:#444;font-size:11px;z-index: 1000002;}
#savedlocation_menu {display:none;background:url("img/staticFlyouts.png")/*tpa=https://www.regions.com/App_Themes/2010/img/staticFlyouts.png*/ no-repeat;background-position:0px -355px;position:absolute;width:210px;height:120px;text-align:left;padding:20px;top: 34px; margin-top: 5px;margin-right: 0px;margin-right: -1px;color:#444;font-size:11px;z-index: 1000002; line-height: 14px;}
#savedlocation_highlight {display: block; font-weight: bold; background-color: #c2eda2; width: 200px; padding: 5px; min-height: 25px; margin-bottom: 10px; }
#locationFind {margin-right:8px; margin-top:5px;margin-top:4px;float: right;}
.locationFieldDefault{color: #ccc;}
#locationZipCode {width: 70px;margin-bottom: 5px;}
#locationCity {width: 125px;}
#locationState {width: 40px;}
/** END Locations Fly Out **/


.Services {float:right;padding-right:5px; width:400px; font-size:11px; height:14px;}
.Services div {float:left;}
.Services a {color:#558800; font-weight:normal;}
.Services a:hover, a:active {text-decoration:underline;}
.Services .Img  {padding-top:1px; padding-right:4px;}
.Services .Itm {margin-right:16px;padding-top:10px;}
.Services .Last {padding-top:10px;}


/** Services Fly Out **/
#sfo {font-size:11px;text-align:left;float:left;}
#sfo a.services_fo {text-decoration:none;font-weight:normal;z-index: 1000003;}
a.services_fo {position:relative;margin-left:0px;}
/*a.services_fo span{background-image:url("img/open.gif");background-repeat:no-repeat;background-position:16px 11px;padding-top:10px;padding-left:32px;height:23px;width:60px;display:block; cursor:pointer;}*/
a.services_fo span{background-image:url("img/staticImages.gif")/*tpa=https://www.regions.com/App_Themes/2010/img/staticImages.gif*/;background-repeat:no-repeat;background-position:0px -211px;padding-top:10px;padding-left:32px;height:23px;width:60px;display:block; cursor:pointer;}
#sfo a.menu-open {background:#fff!important;color:#580!important;outline:none;}
a.services_fo.menu-open span{background-image:url("img/services_fo_top.png")/*tpa=https://www.regions.com/App_Themes/2010/img/services_fo_top.png*/;background-repeat:no-repeat;background-position:1px 1px;color:#580;height:23px;width:60px;display:block;}
/*#services_menu {display:none;background-image:url("img/services_fo_main.png");background-repeat:no-repeat;background-position:0 0;position:absolute;width:365px;height:195px;z-index:100;text-align:left;padding:12px;top: 34px; margin-top: 5px;margin-right: 0px;*margin-right: -1px;color:#444;font-size:11px;z-index: 1000003;}*/
/*#services_menu {display:none;background:url("img/staticFlyouts.png") no-repeat; background-position:0px -23px;position:absolute;width:365px;height:185px;z-index:100;text-align:left;padding:12px;top: 34px; margin-top: 5px;margin-right: 0px;margin-right: -1px;color:#444;font-size:11px;z-index: 1000003;}*/
#services_menu {display:none;position:absolute;width:365px;height:185px;z-index:100;text-align:left;top: 39px; margin-right: 0px;margin-right: -1px;color:#444;font-size:11px;z-index: 1000003;}
#services_menuTop {background:url("img/staticFlyouts.png")/*tpa=https://www.regions.com/App_Themes/2010/img/staticFlyouts.png*/ no-repeat; background-position:0px -23px;width:382px;height:8px;}
#services_menuMid {background:url("img/staticFlyouts.png")/*tpa=https://www.regions.com/App_Themes/2010/img/staticFlyouts.png*/ repeat-x; background-position:0px -620px;width:382px;}
#services_menuBot {background:url("img/staticFlyouts.png")/*tpa=https://www.regions.com/App_Themes/2010/img/staticFlyouts.png*/ no-repeat; background-position:0px -220px;width:382px;height:12px;}

#sfo_personal{width:175px; float:left; margin-left:12px;}
#sfo_personal h2 {margin:0 0 0 5px;font-size:12px;}
#sfo_personal ul {list-style:none; margin:0; padding:0;}
#sfo_personal ul li {padding:0 0 0 5px; line-height:14px;}
#sfo_personal ul li a {color:#580; text-decoration:none;}
#sfo_personal ul li a:hover {color:#580; text-decoration:underline;}
#sfo_business{width:175px; float:left; padding-left:10px;}
#sfo_business h2 {margin:0 0 0 5px;font-size:12px;}
#sfo_business ul {list-style:none; margin:0; padding:0;}
#sfo_business ul li {padding:0 0 0 5px;line-height:14px;}
#sfo_business ul li a {color:#580; text-decoration:none;}
#sfo_business ul li a:hover {color:#580; text-decoration:underline;}
/** END Services Fly Out **/

/** Privacy Fly Out **/
#pfo {font-size:11px;text-align:left;float:left;background-image:url("img/staticImages.gif")/*tpa=https://www.regions.com/App_Themes/2010/img/staticImages.gif*/;background-repeat:no-repeat;background-position:0px -264px;height:32px;width:221px;}
#pfo a.privacy_fo {text-decoration:none;font-weight:normal;z-index: 1000001; color:#444;}
a.privacy_fo {position:relative;margin-left:0px;}
a.privacy_fo span{padding-top:10px;padding-left:32px;height:32px;width:200px; font-size:14px;display:block; cursor:pointer;}
#pfo a.menu-open {color:#444!important;outline:none;}
a.privacy_fo.menu-open span{background-image:url("img/privacy_fo_top.png")/*tpa=https://www.regions.com/App_Themes/2010/img/privacy_fo_top.png*/;background-repeat:no-repeat;background-position:1px 1px;color:#444;height:30px;width:210px; padding-top:10px; padding-left:41px;display:block; z-index:1000004;margin-left:-9px; }
/* #privacy_menu {display:none;position:absolute;background-image:url("img/privacy_fo_main.png");background-repeat:no-repeat;background-position:0 0;width:244px;height:100px;z-index:1000005;text-align:left;padding-left:21px;padding-top:5px;margin-top:-7px;margin-left:-8px;color:#444;font-size:11px;} */
#privacy_menu {display:none;position:absolute;background:url("img/staticFlyouts.png")/*tpa=https://www.regions.com/App_Themes/2010/img/staticFlyouts.png*/ no-repeat;background-position:1px -520px;width:220px;height:80px;z-index:1000005;text-align:left;padding-left:21px;padding-top:5px;margin-top:-7px;margin-left:-8px;color:#444;font-size:11px;}
#privacy_menu ul {list-style:none; margin:0; padding:0;}
#privacy_menu ul li {padding:0 0 0 20px; line-height:16px;}
#privacy_menu ul li a {color:#580; text-decoration:none;}
#privacy_menu ul li a:hover {color:#580; text-decoration:underline;}
/** END Privacy Fly Out **/

.emsHeaderMain {height:40px; clear:both; padding-top:10px; background:url(img/staticImages.gif)/*tpa=https://www.regions.com/App_Themes/2010/img/staticImages.gif*/ no-repeat;background-position:0px 0px; }
.Logo {float:left; width:217px; height:40px; cursor:pointer;}
.Menu {float:left; width:513px; height:40px; font-size:13px;}
.Menu div {height:40px;  float:left;}
.Menu a { color:#666; font-weight:bold;}
.Menu a:hover, a:active {text-decoration:underline;}
.Menu a.Selected {color:#548800;}
.Menu .Itm {height:28px; padding-left:8px; padding-right:10px; padding-top:12px;}
.Menu .Sel {height:28px; padding-left:8px; padding-right:10px; padding-top:12px; background:url(img/staticBackgrounds.gif)/*tpa=https://www.regions.com/App_Themes/2010/img/staticBackgrounds.gif*/ repeat-x; background-position:0px -138px;}
.Menu .Sep {width:1px; height:40px; background:url(img/staticBackgrounds.gif)/*tpa=https://www.regions.com/App_Themes/2010/img/staticBackgrounds.gif*/ repeat-x; background-position:0px -336px;}

.Search {float:left; width:225px; height:40px;}
.Search div {float:right;}
.Search .Itm {padding-top:11px; padding-left:3px;}
.Search .Google {padding:0px 0px 1px 2px; color:#444; width:140px; font-size:11px;}
.Search .Button {margin-top:11px; margin-left:3px; width:60px; height:20px; background:url(img/staticImages.gif)/*tpa=https://www.regions.com/App_Themes/2010/img/staticImages.gif*/; background-position: 0px -50px;}

.emsLoginBranding {height:269px; clear:both; padding:10px 0px 0px 5px;}
/*.Login {float:left; width:221px; height:255px; border:1px solid #ccc; padding:1px; background:url(img/hdrGreen.png) no-repeat top #fff; margin-left:10px;}*/
.Login {float:left; width:221px; height:255px; border:1px solid #ccc; padding:1px; margin-left:10px; background-color:#fff;}
.LoginHdr {width:221px; height:32px; padding-top:8px; color:#fff; background:url(img/staticImages.gif)/*tpa=https://www.regions.com/App_Themes/2010/img/staticImages.gif*/; background-position: -1px -71px;}
.LoginHdr .hdrL { float:left; width:170px; padding-left:9px; font-size:13px; font-weight:bold;}
.LoginHdr .hdrR { float:right; width:30px; padding-right:9px; text-align:right;}
.LoginContent { height:180px; width:207px; padding:3px 7px 0 7px;}
.inLoginData {padding: 0px 0px 1px 2px; margin: 0 0 0 0; color: #fe5500; width: 79px; font-size: 10px;}
.LoginButton {width:70px; height:28px; background:url(img/staticImages.gif)/*tpa=https://www.regions.com/App_Themes/2010/img/staticImages.gif*/; background-position: -1px -297px;}


.LBranding {float:left; width:691px; height:255px; border:1px solid #ccc; background-color:#fff; padding:1px; margin-left:10px;}
.LBranding img {width:691px; height:255px;}

.emsCaseBranding {height:134px; clear:both; padding-left:5px;}
.emsCaseBrandingVert { float:left; width:225px; margin:0 10px 0 10px;}
.CBranding {float:left; width:221px; height:120px; border:1px solid #ccc; padding:1px; margin-left:10px;}
.CBrandingVert {float:left; width:221px; height:120px; border:1px solid #ccc; padding:1px; margin-top:10px;}
.CBrandingVert .Itm {margin:0px 0px 4px 8px;}
.CBrandingHdr {width:221px; height:32px; padding-top:8px; color:#fff; background:url(img/staticImages.gif)/*tpa=https://www.regions.com/App_Themes/2010/img/staticImages.gif*/; background-position: -1px -71px; margin-bottom:3px;}
.CBrandingHdr a { color:#fff;}
.CBrandingHdr a:hover, a:active {text-decoration:underline;}

.CBrandingHdr .hdrL { float:left; width:130px; padding-left:9px; font-size:13px; font-weight:bold;}
.CBrandingHdr .hdrR { float:right; width:70px; padding-right:9px; text-align:right;}
.CBranding .Itm {margin:0px 0px 4px 8px;}
.CImage {float:left; width:221px; height:120px; border:1px solid #ccc; padding:1px; margin-left:10px;}
.CImageVert {float:left; width:221px; height:120px; border:1px solid #ccc; padding:1px; margin-top:10px;}
.CAdVert {float:left; width:221px; height:46px; border:1px solid #fff; padding:1px;}
.CAdVert img {width:221px; height:46px;}

.emsMainBranding {background: url(img/staticBackgrounds.gif)/*tpa=https://www.regions.com/App_Themes/2010/img/staticBackgrounds.gif*/ repeat-x; height:148px; width:930px; background-position: 0px -178px; margin-bottom:10px; margin-left:15px; padding-top:10px;}
.MBranding {float:left; width:223px; height:128px; padding:1px;}
/*.MBranding .Hdr {clear:both; background:url(img/arrowOrange.gif) no-repeat left; text-indent:10px; color:#558800; font-weight:bold; margin-left:10px; margin-bottom:4px;}*/
.MBranding .Hdr {float:left; color:#558800; font-weight:bold; margin-bottom:4px;}
.MBranding .Arrow {float:left; width:7px; height:9px; background:url(img/staticImages.gif)/*tpa=https://www.regions.com/App_Themes/2010/img/staticImages.gif*/; background-position: 0px -133px; margin:3px 3px 0px 10px;}
.MBranding .Itm {clear:both; margin:0px 0px 4px 20px;}
.MBrandingSep {float:left; width:10px; height:128px;}

.emsHeadlines {height:38px; border:1px solid #d6d6d6; background:url(img/staticBackgrounds.gif)/*tpa=https://www.regions.com/App_Themes/2010/img/staticBackgrounds.gif*/ repeat-x; background-position: 0px -100px; margin-left:15px; margin-right:15px;}
.Headline {float:left; width:900px;}
.Headline div {float:left; margin-top:11px; margin-left:10px;}
.Headline a {color:#666; text-decoration:none;}
.Headline .Hdr {color:#666; width:100px; border-right:#808080 1px solid; font-weight:bold;}

/* #983  2/15/2013 added styles for Static Footer  */
.emsStaticFooter {border-style: none;	margin-left: 15px;	margin-right: 15px;	color: #999999;}
.StaticFooter {	float: left; width: 900px; font-size: 11px; }
.StaticFooter div {float:left; margin-top:11px; margin-left:10px; margin-bottom: 10px;}

.emsFooter {clear:both; height:80px; margin:10px 15px 0 15px; padding:0 5px 0 5px; background:url(img/staticBackgrounds.gif)/*tpa=https://www.regions.com/App_Themes/2010/img/staticBackgrounds.gif*/ repeat-x; background-position: 0px 0px;}
.Footer {float:left; height:22px; padding:5px 5px 0 0; width:480px; font-size:11px;}
.Footer div {height:22px; float:left;}
.Footer a {color:#666; font-weight:normal;}
.Footer a:hover, a:active {text-decoration:underline;}
.Footer .Itm {margin-right:7px; margin-top:4px;}

.FollowUs {float:right; padding-top:5px; font-size:11px;}
.FollowUs .Itm {float:left; margin-left:15px; margin-top:4px;}
.FollowUs .Img  {float:left; margin-left:3px; width:22px;}
.FollowUs .Facebook {width:22px; height:22px; background:url(img/staticImages.gif)/*tpa=https://www.regions.com/App_Themes/2010/img/staticImages.gif*/; background-position: -22px -111px;}
.FollowUs .Twitter {width:22px; height:22px; background:url(img/staticImages.gif)/*tpa=https://www.regions.com/App_Themes/2010/img/staticImages.gif*/; background-position: 0px -111px;}
.FollowUs .Feedback {}

.SiteInfo {width:470px; float:left; padding-top:24px; font-size:11px;}

.Copyright {float:right; padding-top:10px; width:380px; font-size:11px;}
.Copyright div {width:300px; height:14px;  float:right;}
.Copyright .EHL {width:56px; height:35px; background:url(img/staticImages.gif)/*tpa=https://www.regions.com/App_Themes/2010/img/staticImages.gif*/; background-position: 0px -142px;}
.Copyright .Itm {margin-right:7px; text-align:right;}
.Copyright .FDIC {margin-right:7px; text-align:right; font-size:13px; font-weight:bold;}

/* Detail */
.emsHeaderFull {height:28px; clear:both; padding-left:150px; margin:10px 15px 0 15px; background:url(img/headerfullBG.gif)/*tpa=https://www.regions.com/App_Themes/2010/img/headerfullBG.gif*/ repeat-x; }
.emsContent {float:left; width:470px;background:#ffffff;}
.MenuFull {float:left; height:28px; font-size:13px;}
.MenuFull div {height:28px;  float:left;}
.MenuFull a { font-weight:bold;}
.MenuFull a:hover, a:active {text-decoration:underline;}
.MenuFull a.Selected {color:#fe5500;}
.MenuFull .Itm {height:28px; padding-left:20px; padding-right:20px; padding-top:5px;}
.MenuFull .Sel {height:26px; padding-left:15px; padding-right:15px; padding-top:5px;border-top:1px solid #ccc; background-color:#fff;}
.MenuFull .SepLeft {width:11px; height:28px; background:url(img/hdrItemSep.gif)/*tpa=https://www.regions.com/App_Themes/2010/img/hdrItemSep.gif*/; background-position: 0px 0px;}
.MenuFull .SepRight {width:11px; height:28px; background:url(img/hdrItemSep.gif)/*tpa=https://www.regions.com/App_Themes/2010/img/hdrItemSep.gif*/; background-position: 12px 0px; }

.emsDetail {float:left; margin:0px 15px 10px 15px; background:#fff;}
.emsLeftMenu {float:left; margin:0 10px 0 10px; width:195px; padding-top:30px;}
.emsLeftMenu .Hdr {color:#558800; font-weight:bold; margin-bottom:4px;}
.emsLeftMenu .Itm {margin:0px 0px 4px 15px;}
.emsLeftMenu .Separator {height:7px; border-top:1px solid #ccc; margin-top:7px;}
.emsLeftMenu .Selected {color:#fe5500;}

.emsContentHeader_715 {float:left; width:715px;background:#ffffff; padding-top:24px;}
.emsContentHeader_715 h1 {font-weight:normal; font-size:200%;}
.emsContentHeader_715 .print {width:90px; height:20px; background:url(img/staticImages.gif)/*tpa=https://www.regions.com/App_Themes/2010/img/staticImages.gif*/; background-position: 0px -245px; padding-right:9px;}
.emsContentHeader_920 {float:left; width:920px;background:#ffffff; padding-top:24px; margin-left:10px;}
.emsContentHeader_920 h1 {font-weight:normal; font-size:200%;}
.emsContentHeader_920 .print {width:90px; height:20px; background:url(img/staticImages.gif)/*tpa=https://www.regions.com/App_Themes/2010/img/staticImages.gif*/; background-position: 0px -245px; padding-right:9px;}
.emsContent_470 {float:left; width:470px;background:#ffffff; margin-top:10px;}
.emsContent_675 {float:left; width:675px;background:#ffffff; margin-top:10px; margin-left:10px;}
.emsContent_705 {float:left; width:705px;background:#ffffff; margin-top:10px; margin-right:10px;}
.emsContent_910 {float:left; width:910px;background:#ffffff; margin:10px 10px 0px 10px;}

.disclosure {font-size: 90%;}
.arrow {}
.arrow ul{margin-left: 5px; list-style: none;}
.arrow ul li{padding-left: 8px; padding-bottom: 4px; background-image: url(img/arrowGray_Small.gif)/*tpa=https://www.regions.com/App_Themes/2010/img/arrowGray_Small.gif*/; background-repeat: no-repeat; background-position: 0 .5em;}
.arrow ul ul{list-style:disc;margin-left: 15px;}
.arrow ul ul li {background-image:none;padding-left: 0px;}

/* JQuery.AutoComplete */
.ac_results {padding: 0px; border: 1px solid #ccc; background-color: white; overflow: hidden; z-index: 1000003;}
.ac_results ul {width: 100%; list-style-position: outside; list-style: none; padding: 0; margin: 0;}
.ac_results li {margin: 0px; padding: 2px 5px; cursor: default; display: block;
	/* if width will be 100% horizontal scrollbar will apear when scroll mode will be used */
	/*width: 100%;*/
	font: menu;
	font-size: 10px;
	/* it is very important, if line-height not setted or setted in relative units scroll will be broken in firefox	*/
	line-height: 12px;
	overflow: hidden;
}
.ac_loading {background: white url('Unknown_83_filename')/*tpa=https://www.regions.com/App_Themes/images/ajax-loader-sm.gif*/ right center no-repeat;}
.ac_odd {background-color: #f2f2f2; color:#444;}
.ac_over {background-color: #ccc; color: #444;}
.ac_associate {float:left;}
.ac_associate_id {text-align:right;}
/* used to style the return dropdown list text positions */
.ac_returnLeft {width:60%; float:left;}
.ac_returnRight {width:15%; text-align:left; padding-left:10px; float:left;}

/* Image rotator */
#slide-holder{z-index:40;width:993px;height:299px;position:absolute;}
#slide-runner{top: 0px;left: 0px;width:691px;height:255px;overflow:hidden;position:absolute;}
div#slide-holder img{margin:0;display:none;position:absolute;}
img#slide-img-1{display:block;}
#slide-controls{left:540px;top:220px;width:140px;height:30px;display:none;position:absolute;background:url(img/nav-bg.png)/*tpa=https://www.regions.com/App_Themes/2010/img/nav-bg.png*/ 0 0;}
#slide-controls p.text{float:left;color:#fff;display:inline;font-size:10px;line-height:16px;margin:15px 0 0 20px;text-transform:uppercase;}
#slide-nav{float:right;height:20px;display:inline;margin:5px 0px 0px 0px;}
#slide-nav a{float:left;width:20px;height:20px;display:inline;font-size:11px;margin:0 5px 0 0;padding:0;line-height:20px;font-weight:bold;text-align:center;text-decoration:none;background-position:0 0;background-repeat:no-repeat;}
#slide-nav a.on{color:#5d9731;background-position:0 -20px;}
#slide-nav a{background-image:url(img/slide-nav.png)/*tpa=https://www.regions.com/App_Themes/2010/img/slide-nav.png*/; color:#fff;}
div#nav ul li a{background:url(Unknown_83_filename)/*tpa=https://www.regions.com/App_Themes/2010/img/nav.png*/ no-repeat;} 
a#slide-pause{margin-left: 5px;margin-right: 5px;width:20px;height:20px;background:url(img/pause.png)/*tpa=https://www.regions.com/App_Themes/2010/img/pause.png*/ 0 0;}
a.paused#slide-pause{background-position: 0 -20px;}



#regionsMap{width: 100%;}
hr.friendlyBreak{height: 7px;border: 0px;background: url(img/bgDot.gif)/*tpa=https://www.regions.com/App_Themes/2010/img/bgDot.gif*/ repeat-x;margin: 0px 10px 0px 10px;}
table.mapInformation{text-align: left;width: 100%;font: 11px Verdana;}
.grayArea{background-color: #eaeaea;border: 1px solid #ccc;}
table.locatorResults{padding: 10px;width:100%;}
table.locatorResults td{padding: 2px 5px 2px 5px;margin-left: 5px;}
tr.alternateRow0{background-color: #eceaeb;}
tr.alternateRow1{background-color: #fff;}
tr.alternateRowBordered1 td{background-color: #fff;border-top: 1px solid #000;border-bottom: 1px solid #000;}
table#directionsToFrom td{padding: 15px;}
.tdRight{text-align: right;}


/* Customer Service Center */
.emsCSC {width:700px; margin-bottom:10px; margin-left:15px; padding-top:10px; text-align:left;}
.cscHeader {}
.cscContent { margin-bottom: 15px;}
.cscMenus {float:left; width:325px; /*background-color:#ffffcc;*/}
.cscMenu {}
.cscMenu .Hdr {float:left; color:#666; font-weight:bold; margin-bottom:4px; font-size:12px;}
.cscMenu .Hdr a { color:#666; font-weight:bold;}
.cscMenu .Hdr a:hover, a:active {text-decoration:underline;}

.cscMenu .Arrow {float:left; width:7px; height:9px; background:url(img/arrowOrange.gif)/*tpa=https://www.regions.com/App_Themes/2010/img/arrowOrange.gif*/; margin:3px 3px 0px 10px;}
.cscMenu .Itm {clear:both; margin:0px 0px 3px 20px;}

.cscMenu ul {list-style:none; margin:0; padding:0; clear: both;}
.cscMenu ul li {padding:0 0 0 20px; line-height:16px;}
.cscMenu ul li a {color:#580; text-decoration:none;}
.cscMenu ul li a:hover {color:#580; text-decoration:underline;}
.cscMenuSep {height:10px;}

/* Tooltip on ATM/Branch results page */
p#vtip { display: none; position: absolute; text-align: left; padding: 10px; left: 5px; font-size: 1em; background-color: white; width: 450px; border: 1px solid #558800; -moz-border-radius: 5px; -webkit-border-radius: 5px; z-index: 9999 }
