body { font-size: 0.75em; width: 100% !important;}
#altriaHeaderContainer{display:none !important;}
#v5-header,#primaryNavContainer,.v5-wrapper-section,.headerFloatRight{display:none !important;}
#v5-wrapper { width: 1000px; }
#primaryNavWrapper{background:none !important;}
.sideContent { display: block !important; float: left; width: 100%; height: 100%; min-height: 100px; }

h1 { font-size: 30px; }

nav.altriaMenu { padding-top: 14px; }

.altriaMenuButton > li > a { background: url("../images/arrow-down.gif")/*tpa=http://www.altria.com/Style Library/en-us/Altria/images/arrow-down.gif*/ no-repeat scroll right center transparent; color: #FFFFFF; display: block; font-size: 11px; height: 20px; line-height: 2em; margin-right: 20px; padding: 0 20px; }

#altriaSocial .altriaMenuButton > li > a { margin-right: 10px; margin-top: 4px; }

#altriaCompanySubMenu li { background: none; margin-right: 0; padding-left: 2px; float: none; }

#altriaSocialSubMenu li { background: none; margin-right: 0; padding-left: 2px; float: none; }

    #altriaSocialSubMenu li span { display: inline; padding-left: 5px; color: #2f7799; }

nav.altriaMenu { margin-left: 0; }

#altriaSocial span { display: none; color: #ffffff; }

.altriaHideMenu { display: none; }

.altriaShowMenu { display: block; }

#altriaCompanySubMenu li a { color: #2f7799; }

#altriaSocialSubMenu li a { color: #2f7799; }

ul.altriaSubmenu { background-color: #FFFFFF; border: 1px solid #666666; margin-top: 5px !important; padding: 2px; position: absolute; width: 180px; z-index: 100; }

    ul.altriaSubmenu li { clear: both; }

        ul.altriaSubmenu li a { display: block; padding-left: 5px; padding-right: 0px; padding-top: 1px; padding-bottom: 2px; color: #2f7799; }
/*
		ul.altriaSubmenu li a:hover {
			color:#fff;
			background-color:#666;
		}
	    */

/* MegaMenu Overrides*/

.megamenu-container { /*max-width: 710px;*/ min-width: 0; float: left; margin-left: 20px; }

.spotlight-column { padding-right: 10px; }

.megamenu .megamenu-column { width: 220px; }

.megamenu-spotlights { padding-left: 5px; }
/*.spotlight-number3, .spotlight-number4 {
	display: none
}*/
#v5-page-column-main { /* width: 66.7%;*/ width: 100%; float: left; }
/*#v5-search {
	        display:none;
	    }*/

.divMobileSearch { float: right; width: 40px; height: 40px; background: url("../images/nav-bar-bg.gif")/*tpa=http://www.altria.com/Style Library/en-us/Altria/images/nav-bar-bg.gif*/ repeat-x scroll 0 0 transparent; border-right: 1px solid #CCCCCC !important; border-left: 1px solid #CCCCCC !important; cursor: pointer; display: block !important; position: relative; }

.btnMobileSearch { width: 100%; height: 100%; background: transparent url(../images/search_icon.png)/*tpa=http://www.altria.com/Style Library/en-us/Altria/images/search_icon.png*/ no-repeat center center; }

.divMobileSearch:hover, .divMobileSearch.searchActive { background: url("../images/megamenu-state.gif")/*tpa=http://www.altria.com/Style Library/en-us/Altria/images/megamenu-state.gif*/ repeat-x scroll 0 0 transparent; border-right: 1px solid #154b8f !important; border-left: 1px solid #154b8f !important; }

    .divMobileSearch:hover .btnMobileSearch, .divMobileSearch.searchActive .btnMobileSearch { background: transparent url(../images/search_white.png)/*tpa=http://www.altria.com/Style Library/en-us/Altria/images/search_white.png*/ no-repeat center center; }

#v5-search { width: 100%; float: left; margin: 10px 0 20px 0; background: none; padding: 0 !important; border: 0 !important; display: none; /*display: block !important; */ }

    #v5-search table, #v5-search table.s4-wpTopTable { width: 100% !important; }

    #v5-search input[type=text] { width: 99% !important; padding: 5px 10px 5px 1% !important; border: 1px solid #CCCCCC !important; border-right: 0 !important; background: none; height: 21px; margin-top: 1px; }

    #v5-search .ms-sbgo { width: 30px; }

    #v5-search .ms-sbcell { padding-left: 0; }

    #v5-search .ms-sbgo a { background: transparent url(../images/btn_search.png)/*tpa=http://www.altria.com/Style Library/en-us/Altria/images/btn_search.png*/ no-repeat center center; border-left: 0 !important; border: 1px solid #CCCCCC; padding: 5px 15px 5px 0; margin-top: 1px; height: 21px; width: 57px; margin-right: 0; }

.divMobileSearchArrow { position: absolute; bottom: -12px; right: 11px; width: 22px; height: 11px; display: none; background: url("../images/mega_menu_arrow-1.png")/*tpa=http://www.altria.com/Style Library/en-us/Altria/images/mega_menu_arrow.png*/ no-repeat scroll center bottom transparent; }
/*#searchSmall{
	        background: url("../images/search_icon.png") no-repeat scroll 0 0 transparent;
	        float: right;
	        height: 20px;
	        width:20px;
	        margin-right:10px;
	        margin-top:5px;
	        display:block;
	    }*/

.s4-tn li.static > .menu-item { padding: 12px 10px; }

#v5-site-logo img { margin-right: 40px; }
/*Board of Directors*/

/*.altriaQuickLaunch .menu-item-header {
	        height: 33px;
	        line-height: 1.3;
	        padding-top: 5px;
	    }*/


#v5-page-column-sidebar { /* width: 25%;*/ display: none; }

.altriaBodyWithRail { float: left; width: 100%; }

.altriaRightRail { display: none; }
/*Homepage Slideshow*/

.divVideoContent { width: 83%; }
/*Social Sharing Icons*/
.addthis_button_print { display: none; }

.addthis_default_style .at300b, .addthis_default_style .at300bo, .addthis_default_style .at300m { padding: 0 20px 0 0; }

#Addthis { margin-right: 20px; }

* { -webkit-print-color-adjust: exact; print-color-adjust: exact; }

.span_1_of_3 { width: 31.2%; height: 180px; }

.divTeaser {overflow: visible;}

.divteaserdescriptionblock img { max-width: 76px; height: 76px; }

.bodyPageTeaser { /*min-width:227px;*/ min-height: 179px; height: 220px; }

.span_1 .bodyPageTeaser { min-width: 0; }

.teaserimage img { height: 220px; }

.divimageteaser img { height: 220px; }

.divvideoteaser img { height: 220px; }


.divpagebodyteaserblock { margin: 10px 10px 10px 10px; }

.span_2_of_3 .divteaserimageblock { width: 32.5%; }

.span_2_of_3 .divpagebodyteaserdescriptionblock { width: 59.5%; float: left; /*margin-left:4%;*/ margin-bottom: 10px; }

.span_1_of_2 .divteaserimageblock { width: 33.5%; }

.span_1_of_2 .divpagebodyteaserdescriptionblock { width: 62.2%; float: left; /*margin-left:4.3%;*/ margin-bottom: 10px; }

.TeaserGrayBackground .teaserimage { margin-left: 10px; margin-right: 10px; margin-top: 10px; }

.column.span_1.bodyPageTeaser.TeaserGrayBackground, .column.span_1.bodyPageTeaser.TeaserWhiteBackground { height: auto !important; }

.description { width: 90%; }

.sliderTitle { font-size: 18px; }

.missionvaluesbackgroundImage img { width: 100%; }

.missiondetailsColumns_col1 { width: 100%; }

.missiondetailsColumns_col2 { width: 100%; margin-left: 0% !important; }

.SliderOverlayArea .descBody ul li { margin-top: 12px; }

.SliderOverlayArea .closeBtn { position: absolute; z-index: 22; right: 20px; top: 20px; margin: 0; padding: 0; height: 30px; }

.sliderOurCmpyContainer { width: 92%; }

    .sliderOurCmpyContainer.threeColumn .column { width: 100%; margin-left: 0; }

.row2LogoConnector .logoConnector_Ver:last-child { float: right; }

.row2LogoConnector .logoConnector_Ver, .row3LogoConnector { height: 20px; }

.cmpySliderLogo { text-align: left; }

.row2 { margin-bottom: 0; }

    .row2 .cmpyLogos { margin-top: 5px; }

.row2LogoConnector { margin-left: 10px; }

.row3 .cmpyLogos { margin-top: 15px; }

.row3 .row3LogoConnector { margin-top: 0px; margin-left: 10px; height: 20px; }

.row2LogoConnector .logoConnector_Ver, .row3 .row3LogoConnector, .row3LogoConnector .logoConnector_Ver { height: 20px; }

.divIntroStatement { font-size: 13px; }

.ColumnDesc { padding-bottom: 25px; }

.sliderOurCmpyContainer .cmpySliderTopArea { width: 100%; height: 43px; }

    .sliderOurCmpyContainer .cmpySliderTopArea .cmpyCloseBtn { background: url('../../../../_Layouts/ALCS.AltriaCom/images/closeBtn.png')/*tpa=http://www.altria.com/_Layouts/ALCS.AltriaCom/images/closeBtn.png*/ no-repeat; height: 42px; width: 42px; cursor: pointer; float: right; }

.divItemSub { width: 60%; }

.CQDescriptionJobTitle { padding-bottom: 0px; }

.CQMain { width: 47.6%; height: 150px; float: left; background-color: #eeeeee; margin-bottom: 20px; margin-left: 20px; }

.CQImage { display: none; }

    .CQImage img { width: 100%; }

.CQContent { float: left; width: 84.5%; height: 120px; padding: 15px 15px 15px 20px; }

.CQTitle { color: #033788; padding-bottom: 10px; padding-top: 0px; font-size: 15px; font-family: 'Stag Med', Arial; letter-spacing: 1px; }

.CQDescription { color: #666666; font-size: 11px; font-family: Arial; }

.CQLink { padding-bottom: 20px; color: #046ec7; font-size: 11px; font-family: 'Stag Med', Arial; letter-spacing: 1px; position: absolute; bottom: 0; }

.CQHeader { color: #033788; font-size: 18px; font-family: 'Stag Med', Arial; letter-spacing: 1px; }

.item { margin-bottom: 5px; }

.divCQDescrptionMain { width: 100%; float: left; padding-right: 0px; padding-top: 25px; }

.divMemberTitle { display: block; }

.divTitlewithHyperlink { display: none; }

.ManagementMembers { width: 100%; float: left; padding-bottom: 40px; border: 0px; background-color: white; }

.viewOthersInfo { font-family: 'Stag Med', Arial; letter-spacing: 1px; font-size: 18px; margin: 0; border-top: 1px solid #cdcdcd; border-bottom: none; padding: 25px 0 0px 0; }

.divCQDescrptionMainMembers { width: 47.8%; height: 150px; float: left; background-color: #EEEEEE; padding-bottom: 0px; margin-top: 20px; position: relative; }

    .divCQDescrptionMainMembers:nth-child(2n+2) { margin-left: 20px; }
    /*IE*/
    .divCQDescrptionMainMembers:first-child + div, .divCQDescrptionMainMembers:first-child + div + div + div, .divCQDescrptionMainMembers:first-child + div + div + div + div + div, .divCQDescrptionMainMembers:first-child + div + div + div + div + div + div + div, .divCQDescrptionMainMembers:first-child + div + div + div + div + div + div + div + div + div, .divCQDescrptionMainMembers:first-child + div + div + div + div + div + div + div + div + div + div + div, .divCQDescrptionMainMembers:first-child + div + div + div + div + div + div + div + div + div + div + div + div + div, .divCQDescrptionMainMembers:first-child + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div, .divCQDescrptionMainMembers:first-child + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div, .divCQDescrptionMainMembers:first-child + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div, .divCQDescrptionMainMembers:first-child + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div .headingText { font-size: 24px; }

.Description { font-size: 11px; height: 140px !important; width: 140px !important; padding: 10px !important; }

    .Description p { margin: 5px 0 0 0; }

.readMoreText { margin-top: 5px; }

.ie8 .overLay.IEoverlay, .ie7 .overLay.IEoverlay { top: 202px; }

.StateOrFederal input { background-size: 100% auto; font-size: 14px; }

.ChoiceActiveStatus { background-size: 100% auto !important; background-position: left center, right center !important; }

.divSwitchView { background-size: 100% 25px; font-size: 14px; }

.divMapYearsDropdownContainer { width: 33%; }

.divMapYearsDropdown { width: 60px; }

.MapYearsDropdown { width: 60px; }

.backtomap { background-size: 100% 25px !important; font-size: 14px; }

.divStateFederalDropdownContainer { width: 16%; }

.divResults { width: 11%; }

.tableItem { width: 24.65%; }

.divSubHeading { display: none; }

.TextStyles { font-size: 13px; }

.LabelStyles { width: 35px; height: 21px; }

.bottomShadow { height: 18px; }

.StatesDropdown, .StateFederalDropdown, .YearsDropdown { margin-top: 2px; }

.divTabularFilters { *height: auto; }

.navNext, .navPrevious, .paginationCounter { padding: 10px 0 10px 0; }

#divSearchKeyWord { width: 40%; height: 100px; }

#divOr { font-size: 12px; padding: 47px 0; }

#divViewPressReleases { width: 51.6%; height: 100px; }

.headerText { font-size: 12px; }

.subHeaderText { font-size: 9px; }

.navPrevious { margin-left: 0; }

#divViewYear { width: 100%; }

#divViewCompany { width: 100%; margin-top: 10px; }

.divYearHeader { margin-right: 5%; font-size: 9px; }

.drpYear, .drpCompany { width: 70%; float: right; }

    .drpYear select, .drpCompany select { font-size: 9px; }

.divCompanyHeader { margin-right: 5%; font-size: 9px; }

.divAnnoncementStory a:link { font-size: 11px; }

.divAnnoncementDate { font-size: 9px; }

.navPrevious { margin-left: 0%; width: 65px; }

.divInputPRSearchBox { margin-left: 0px; }

.drpCompany select, .drpYear select { width: 90%; }

#divViewPressReleases .headerText { padding-left: 13px; }

.bottomnavigation { margin-right: 2px; padding: 0; }

.TextStyles { font-size: 12px; }

.LabelStyles { width: 35px; height: 20px; }

.headerText { font-size: 12px; }

.divYearsDropdownContainer { /*margin-right: 40px;*/ }

.divYearsDropdown { width: 58%; }

.divLabel { font-size: 12px; }

.YeasDropdown { font-size: 10px; float: left; }

.mobilePopupStateName { font-size: 9px; }

.mobilePopupData { font-size: 9px; }

.divIndicator { color: #385878; float: right; font-family: Arial; font-size: 11px; margin-bottom: 1em; margin-top: -1.2em; width: 24%; }

.divTabularFilters .headerText { width: 74%; }

.YearsDropdown { width: 60px; }

.MapViewHolder { margin-top: 15px; }

.MapHolder { min-height: 330px; }

.Container { width: 100%; }

.rightArrow { margin: 95px 0 0 93.9%; background-size: 12px; }

.leftArrow { margin-top: 95px; margin-left: 4%; background-size: 12px; }

.hubSlideShow { height: 218px; }

.slideCounter { font-size: 13px; margin-right: 7px; }

.navNext, .navPrevious { margin-top: 2px; }

.imgTitle { width: 68%; font-size: 15px; }

.largeImgSize { font-size: 11px; font-weight: bold; }

.largeImageResolution { font-size: 11px; }

.imgDescription { font-size: 12px; width: 70%; }

.galleryTitle { font-size: 18px; margin-top: 25px; }

.downloadBtnLarge { display: block; width: 110px; height: 14px; float: right; padding: 7px 01px 12px 20px; background-position: 0 -81px; }

.navPrevious { margin-left: 30%; }

.resultCount { font-size: 11px; padding: 5px; margin-top: 28px; }

.opCoGroups { display: none; }

.opCoDropDownMenu { display: block; position: relative; height: 20px; margin-top: 20px; width: 235px; }

    .opCoDropDownMenu select { opacity: 0; z-index: 10; height: 20px!important; line-height: 20px; position: relative; width: 235px; }

span.selectedCat { background: url("../../../../_Layouts/ALCS.Enterprise/images/hubDropDown.png")/*tpa=http://www.altria.com/_Layouts/ALCS.Enterprise/images/hubDropDown.png*/ no-repeat scroll 0 0 transparent; bottom: 0; cursor: default; float: left; height: 20px; left: 0; line-height: 18px; position: absolute; text-indent: 10px; width: 235px; z-index: 1; font-size: 12px; font-weight: bold; }

.pagination { width: 100%; padding-right: 0px; }

.imgResolution { text-indent: 0; }

.Videos .galleryThumbNail .divPlayButtonSmall { left: 35%; }

.imgSize { padding-right: 15px; }

.gallery { width: 100%; }

.Images .galleryThumbNail, .Videos .galleryThumbNail { width: 44.8%; margin-left: 22px; }

    .Images .galleryThumbNail:nth-child(2n), .Videos .galleryThumbNail:nth-child(2n) { margin-left: 13px; }

.Images .downloadBtnSmall { display: block; margin-left: 10px; }

.thumbNailTitle { font-size: 14px; width: 93%; }

.hubSlideShow .divPlayButton { height: 95px; left: 45%; top: 30%; }

.playBtnText { left: 30%; top: 30%; width: 210px; font-size: 18pt; }

.downloadText { display: none; }

#altriaFooterWrapper { display: none; }

.divpagebodyteaserblock {
display: block;
vertical-align: top;
}

.span_3 .column, .span_3Homepage.True .column, .span_3Homepage.False .column {
    width: 33.33% !important;
}

.imgSlider{
	width: 100% !important;
}

/* .bottomThumbNailBar{
	display: none !important;
} */

.interiorDescription {
    background-color: #ffffff !important;
     left: auto !important;
    position: absolute !important;
    top: 35px !important;
}
.interiorDescriptionRight { 
    right: 25px !important; 
    margin-right:0px; 
  } 

   .interiorDescriptionLeft{ 
      left:25px !important; 
  }

.UTPChart_slide_holder, .UTPChart_slide_holder_alt{
	position: relative !important;
	} 
img
{
	page-break-before: auto;
    page-break-after: auto; 
    page-break-inside: avoid; 
}
.divUTPChartSlideShow #UTPChart_slide_holder_alt{
	display:none !important;
}
.divTeaser.span_1 .column, .divTeaser.span_2 .column,.divTeaser.span_3 .column,.divTeaser.span_4 .column{
    height:auto;
}

.teaserleftnavigation:last-child {
  page-break-after: auto; 
  page-break-inside: avoid;
}

.altriaFactsAndQuotesContainer{
       margin: 0 auto !important;
       padding-bottom: 0.5% !important;
}

.divleftnavdescription {
    page-break-before: auto;
    page-break-after: auto; 
    page-break-inside: avoid
}

.bodyPageTeaser .divteaserimageblock img, .divteaserdescription{
	padding-bottom:10px
}
.divteaserdescription.teaserLinkButton{
	padding-bottom:37px;
}
.altriaSearchLeftColumn{
    display:none;
}
.altriaSearchRightColumn{
    width:100%;
}
.JMC-RedBorderTheme .FactsAndQuotesContent{
    margin:0px 10px;
}