.megamenu-dynamic-nav-section {
	margin-top: -8px;
	background: url("../images/bkg_mega_menu_border.jpg")/*tpa=http://www.altria.com/Style%20Library/en-us/Altria/images/bkg_mega_menu_border.jpg*/ repeat-x scroll 0 0 #efefef;
	width: 100%;
    margin-bottom:15px;
    overflow:hidden;
    clear:both;
}
/*.megamenu-border {
	border-top: 1px #b7b7b7 solid;
	border-bottom: 1px #b7b7b7 solid;
}*/
.megamenu-container {
	margin: 0 auto;
	max-width: 1200px;
	min-width: 800px;
	width: 100%;
	overflow: hidden;
	position: relative;
	height:0px;
}
.megamenu-container-visible {
	height:316px;
}

.megamenu-wrapper {
	position:relative;
}
.megamenu-footer {
	text-align: center;
	height: 40px;
}
.megamenu {
    min-height: 182px;
    height: 254px;
    padding: 23px 0 18px;
    z-index: 1000;
    width: 1200px;
    float: left;
}
.megamenu-arrow {
	background: url("../images/mega_menu_arrow_border.png")/*tpa=http://www.altria.com/Style%20Library/en-us/Altria/images/mega_menu_arrow_border.png*/ no-repeat center bottom;
	height: 22px;
	width: 20px;
	position:relative;
	display:none;
	clear:both;
}

.megamenu-arrow-blue {
    background: url("../images/mega_menu_arrow_blue2-1.png")/*tpa=http://www.altria.com/Style%20Library/en-us/Altria/images/mega_menu_arrow_blue2.png*/ no-repeat scroll center bottom transparent;
    clear: both;
    display: none;
    height: 20px;
    left: auto !important;
    position: absolute;
    right: 99px !important;
    top: 97px;
    width: 26px;
    z-index: 100;
}

.megamenu .megamenu-column {
	float: left;
	width: 250px; /*width of each menu column*/
	margin-top:0;
    margin-right: 5px;

}
.megamenu .megamenu-column ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.megamenu .megamenu-column ul li {
	padding-bottom: 5px;
}
.megamenu .megamenu-column h3 {
	margin: 0 0 5px 0;
}
.megamenu .megamenu-column ul li a {
	color: #046ec7;
	font-family: 'Stag Med', Arial;
	font-size: 12px;
    letter-spacing:.1em;
}

.megamenu .megamenu-column ul li a:hover {
	text-decoration:underline;
}


#btn-close-megamenu {
	cursor:pointer;
}

.megamenu-spotlights {
    float:left;
    min-width:250px;
    min-height:255px;
    padding-left:20px;
}

.spotlight-column {
    float: left;
    padding-right:40px;
}

.spotlight-image, .spotlight-link, .spotlight-description {
    width:250px;
}

.spotlight-link {
    padding-top: 10px;
    padding-bottom: 5px;
}

.spotlight-link a {
    font-family: 'Stag Med', Arial;
    font-size:12px;
    color:#046ec7  !important;
    letter-spacing:.1em;
}

.spotlight-link a:hover {
    text-decoration:underline;
}


.spotlight-description {
    color: #666666;
    font-family: Arial;
    font-size: 12px;
    height: 60px;
    overflow: hidden;
}

#megaMenuAccordion {
    display:none;
}

#megaMenuAccordion ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#megaMenuAccordion ul li.selected {
    /*background-color: fuchsia;*/
}

#v5-global-nav ul {
    display:none;
}

.menu-button {
	    display: none;
	    color: #666666;
        font-family: 'Stag Med', Arial;
        font-size:15px;
        letter-spacing:.1em;
        padding: 12px 10px;
	    cursor: pointer;
        width:100%;
        text-align:center;
        border-right: 1px solid #E1E1E1;
 }


.menu-button-on {
    background: url("../images/megamenu-state-1.gif")/*tpa=http://www.altria.com/Style%20Library/en-us/Altria/images/megamenu-state.gif*/ repeat-x scroll 0 0 #0066CC;
    color: #FFFFFF;
}

.s4-tn li.static >.menu-button-on {
    color: #FFFFFF;
}

@media (min-width: 0px) and (max-width:740px) {

    #primaryNavWrapper {
        margin-left:0;
        background:none;
    }
.megamenu-border {
	border-top: 1px #b7b7b7 solid;
	border-bottom: 1px #b7b7b7 solid;
}

    .s4-tn li.static > .menu-item {
        padding: 12px 20px;
    }

    .headerFloatRight {
        float: right;
    }

    .divMobileSearch {
        border-left: none;
    }

    .megamenu-dynamic-nav-section {
        margin-top: -2px;
        background: none;
        background-color: #f0f0f0;
        width: 100%;
        margin-bottom: 15px;
        overflow: hidden;
        clear: both;
    }

    #megaMenuAccordion div {
        border-right:0;
    }

    .ui-accordion .ui-accordion-header {
        cursor: pointer;
        display: block;
        margin-top: 2px;
        padding: 20px 0 20px 20px;
        position: relative;
    }

    .ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
        border-bottom-right-radius: 0;
    }

    .ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
        border-bottom-left-radius: 0;
    }

    .ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
        border-top-right-radius: 0;
    }

    .ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
        border-top-left-radius: 0;
    }

    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
        background: none;
        background-color: #f0f0f0;
        /*border-top: 1px solid #b9b9b9;*/
        border-top:0;
        border-left:0;
        border-right:0;
        border-bottom: 1px solid #b9b9b9;
        color: #046ec7;
        font-family: 'Stag Med', Arial;
        font-size: 13px;
        letter-spacing: .1em;
        /*font-weight:700;*/
    }

    .ui-accordion .ui-accordion-header {
        margin-top: 0;
    }

    .ui-helper-reset {
        line-height: 1;
    }

    /*.megamenu-dynamic-nav-section {
        margin-bottom: 0;
    }*/

    #megaMenuAccordion .ui-widget-content {
        background: none;
        background-color: #f0f0f0;
    }

    #megaMenuAccordion  .ui-widget-content a {
        color: #666666;
        display: block;
        font-family: 'Stag Med',Arial;
        font-size: 13px;
        /*font-weight: 700;*/
        height: auto;
        letter-spacing: 0.1em;
        padding: 20px 0;
        width: 100%;
    }

    #megaMenuAccordion li {
        padding: 0;
    }

    #megaMenuAccordion .ui-state-active {
        color: #FFFFFF;
        background: #046ec7 url(../images/quicklaunch-bg.gif)/*tpa=http://www.altria.com/Style%20Library/en-us/Altria/images/quicklaunch-bg.gif*/ repeat-x scroll left -10px;
    }

    #megaMenuAccordion ul li.selected a {
        color:#046ec7;
    }

    #megaMenuAccordion H3 span.title {
        float: left;
        display: block;
        margin-right: 10px;
        margin-top: 5px;
    }

    #megaMenuAccordion H3 span.ui-icon {
        float: right;
        height: 15px;
        margin-right: 20px;
        margin-top: 0;
        position: static;
        width: 15px;
    }

    #megaMenuAccordion .ui-icon-minus {
        background:url("../images/accordion_open.png")/*tpa=http://www.altria.com/Style%20Library/en-us/Altria/images/accordion_open.png*/ no-repeat 0 0;
    }

    #megaMenuAccordion .ui-icon-plus {
        background:url("../images/accordion_closed.png")/*tpa=http://www.altria.com/Style%20Library/en-us/Altria/images/accordion_closed.png*/ no-repeat 0 0;
    }
}

@media (min-width: 320px) and (max-width: 640px)
{
    .megamenu-arrow {
	background: url("../images/mega_menu_arrow-2.png")/*tpa=http://www.altria.com/Style%20Library/en-us/Altria/images/mega_menu_arrow.png*/ no-repeat center bottom;
	height: 20px;
	width: 20px;
	position:relative;
	display:none;
	clear:both;
    }
}
        
        