h1, h2, h3, h4, h5, h6 {
line-height: 1em;
}

fieldset div table tr td {
    white-space:normal !important;
}

div#content div#home-content-container {
    overflow: auto;
}

    div#content div#home-content-container div#home-primary-content-container {
        width: 820px;
        margin: 20px 40px 10px 40px;
    }

    div#content div#home-content-container div#home-secondary-content-container {
        width: 820px;
        margin: 20px 40px 10px 40px;
    }

        div#content div#home-content-container div#home-secondary-content-container .secondary-content-container {
            float: left;
        }

div.promo {
    padding-bottom: 80px;
    padding-left: 111px;
}

div.jobcategory {
    float: left;
    width: 125px;
    margin-right: 13px;
}

    div.jobcategory img.photo {
        display: block;
        border-color: #abc6e4;
        border-style: solid;
        border-top-width: 0;
        border-right-width: 1px;
        border-bottom-width: 0;
        border-left-width: 1px;
    }

div#content div#main-content-container {
    overflow: auto;
}

    div#content div#main-content-container div#navigation-content-container {
        float: left;
        width: 199px;
        border-right: 1px solid #fff;
        height: auto;
        min-height: 500px;
        background-color: rgb(102, 102, 102);
    }

    div#content div#main-content-container div#content-container {
        float: left;
        width: 700px;
        padding: 0px 0px 0px 0px;
        height: auto;
    }

        div#content div#main-content-container div#content-container div#inner-content-container {
            float: left;
            width: 700px;
            padding: 0px 0px 0px 0px;
            height: auto;
        }

            div#content div#main-content-container div#content-container div#inner-content-container div#innercontent {
                width: 622px;
                margin: 22px 39px 15px 39px;
            }

                div#content div#main-content-container div#content-container div#inner-content-container div#innercontent div#aside-container {
                    float: right;
                    width: 235px;
                    margin: 0px 0px 0px 0px;
                    position: relative;
                    z-index: 3;
                    top: -50px;
                    right: -39px;
                    padding: 0px 0px 0px 0px;
                    height: auto;
                }

                    div#content div#main-content-container div#content-container div#inner-content-container div#innercontent div#aside-container div#content-related-links {
                        min-height: 40px;
                        margin: 0px 0px 15px 0px;
                    }

                        div#content div#main-content-container div#content-container div#inner-content-container div#innercontent div#aside-container div#content-related-links div ul, div#content div#main-content-container div#content-container div#inner-content-container div#innercontent div#aside-container div#content-related-links div p {
                            margin: 0px;
                            list-style-type: none;
                            background: #3ab3ea url(../images/backgrounds/gradient-blue-w-rounded-corner-235.png)/*tpa=https://www.nisource.com/Sitefinity/WebsiteTemplates/NiSource/App_Themes/NISOURCE/images/backgrounds/gradient-blue-w-rounded-corner-235.png*/ bottom no-repeat;
                            border-top: 1px solid #fff;
                            padding: 6px;
                        }

                    div#content div#main-content-container div#content-container div#inner-content-container div#innercontent div#aside-container div#content-related-links div ul li {
                                margin: 0 !important;
                                padding: 3px 9px;
                            }

                    div#content div#main-content-container div#content-container div#inner-content-container div#innercontent div#aside-container div#content-related-links div li {
                        0 !important;
                    }

                    div#content div#main-content-container div#content-container div#inner-content-container div#innercontent div#aside-container div#content-related-links div a {
                        color: #fff;
                        text-decoration: underline;
                    }

                        div#content div#main-content-container div#content-container div#inner-content-container div#innercontent div#aside-container div#content-related-links div a:hover {
                            text-decoration: none;
                        }


                div#content div#main-content-container div#content-container div#inner-content-container div#innercontent div#primary {
                    display: inline;
                }

                div#content div#main-content-container div#content-container div#inner-content-container div#innercontent div#left-content-container {
                    float: left;
                    width: 197px;
                    padding-right:15px;
                }

                div#content div#main-content-container div#content-container div#inner-content-container div#innercontent div#middle-content-container {
                    float: left;
                    width: 197px;
                    padding-right:15px;
                }

                div#content div#main-content-container div#content-container div#inner-content-container div#innercontent div#right-content-container {
                    float: left;
                    width: 197px;
                }


div#content div#leftColumn {
    float: left;
    width: 199px;
    height: auto;
    min-height: 500px;
}

div#content div#middleColumn {
    float: left;
    width: 690px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    height: auto;
}

div#content div#middlecontent {
    height: auto;
}

    div#content div#middlecontent .rightalign {
        text-align: right !important;
    }

    div#content div#middlecontent table thead th {
        font-weight: bold;
        padding: 3px 20px 3px 3px !important;
    }

div#content div#middleinnercontent {
    float: left;
    width: 400px;
}

div#content div#rightcolumn {
    float: left;
    width: 225px;
    height: auto;
    min-height: 500px;
    margin: 0px 0px 0px 10px;
}

div#primaryMessaging {
    width: 820px;
    display: block;
    border: 1px solid gray;
    margin: 20px 40px 10px 40px;
}

div#secondaryMessaging {
    width: 822px;
    display: block;
    clear: both;
    vertical-align: bottom;
    margin: 0px 40px 10px 40px;
}

div#leftSecondaryMessaging {
    width: 261px;
    display: inline;
    float: left;
    border: 1px solid gray;
}

div#centerSecondaryMessaging {
    width: 261px;
    display: inline;
    float: left;
    margin: 0px 16px 0px 17px;
    border: 1px solid gray;
}

div#rightSecondaryMessaging {
    width: 261px;
    display: inline;
    float: left;
    border: 1px solid gray;
}

.leftcontentinnercomplete {
    float: left;
    width: 387px;
}

.rightcontentinnercomplete {
    z-index: 3;
    position: relative;
    float: left;
    width: 235px;
    right: -39px;
    top: -50px;
}



/* Callout Styles */
.callout {
    margin: 0px 15px 40px 0px;
    height: auto;
}

    .callout p {
        margin-bottom: 5px;
        height: auto;
    }

.calloutheader {
    font-size: 1.4em;
    background-color: #2168B7;
    color: #FFF;
    padding: 5px 5px 5px 5px;
    width: 210px;
    font-weight: bold;
    margin-bottom: 5px;
}

.callout hr {
    float: left;
    width: 220px;
    color: #aaa;
    margin: 0px !important;
}

.callout img {
    padding: 0px 0px 5px 0px;
}

.callout > img {
    width: 220px;
}

.calloutbody img {
    float: left;
    display: block;
    position: relative;
    top: 4px;
    cursor: pointer;
}

.calloutbodytextright {
    float: right;
    width: 175px;
    font-size: .90em;
    padding: 0px 0px 5px 0px;
}

.calloutbodytextleft {
    float: left;
    width: 220px;
    font-size: .90em;
    padding: 0px 0px 5px 0px;
}

.imageOverlay {
    position: fixed;
    display: none;
    z-index: 900;
    background-color: #2168B7;
    min-width: 220px;
    max-width: 900px;
    min-height: 200px;
    max-height: 800px;
    padding: 10px;
    left:492px;
}

    .imageOverlay a {
        color: #FFF;
    }

    .imageOverlay .close {
        background-image: url(../images/buttons/overlay-close.png)/*tpa=https://www.nisource.com/Sitefinity/WebsiteTemplates/NiSource/App_Themes/NISOURCE/images/buttons/overlay-close.png*/;
        position: absolute;
        right: -15px;
        top: -15px;
        cursor: pointer;
        height: 35px;
        width: 35px;
        z-index: 99p;
    }

.overlaybodytext {
    position: absolute;
    font-size: 11px;
    color: #FFF;
    background-color: #2168B7;
    min-width: 230px;
    padding: 5px 10px 5px 10px;
    left: 0px;
    width: 97%;
}

.jshowoff div {
    height: inherit;
}

.sfWrapper h1, .sfDialog h1 {
    color: #F1F1F1;
    display: inline !important;
    font-size: 28px;
    font-weight: normal;
    line-height: 1.1;
}

div.message-rotator-item-home {
    width: 820px;
    height: 250px;
}

div.message-rotator-item-contentheader {
    width: 700px;
    height: 190px;
}

.message-rotator-item-home h1, .message-rotator-item-contentheader h1 {
    display: inline;
    line-height: 35px;
    margin: 0px;
}

.template-message-item {
    float: left;
    margin: 0 9px 0 0;
}

.template-message-item-text a, .template-message-item-text p, .template-message-item-text span, {
    margin: 0 5px 0 5px;
}

.RadDock .rdTable {
    table-layout:auto !important;
    width:auto !important;
}

/* Start header Override for Nisource.com */
div#logo
{
    height: 99px;
}

body
{
    color: #000;
    background: #e9e9e9 url(../../Default/Images/Backgrounds/stripes-faded-62.png)/*tpa=https://www.nisource.com/Sitefinity/WebsiteTemplates/NiSource/App_Themes/Default/Images/Backgrounds/stripes-faded-62.png*/ 0px 99px repeat-x;
}

div#segmentation
{
    padding-top: 0em;
}

a#cphHeader_dlLogo_lnkHome img {
	margin-top:9px;
	padding-left:4px;
}
/* End header Override for Nisource.com */


/* Start search box Override for Nisource.com */
		div#search { float: right; width: 200px; /* NOTE: This is min-width, dynamically adjusted via JavaScript */	height: 27px; overflow: hidden; padding-top: 3px; padding-left: 10px; background: #377db1 url(../../Default/images/backgrounds/gradient-dark-blue-30h.png)/*tpa=https://www.nisource.com/Sitefinity/WebsiteTemplates/NiSource/App_Themes/Default/images/backgrounds/gradient-dark-blue-30h.png*/ repeat-x; }  /* If search override is ever moved to Default.css, it will need to read: url(../images/backgrounds/gradient-dark-blue-30h.png) */
			div#search input { width: 200px; /* NOTE: This is min-width, dynamically adjusted via JavaScript */ }
			div#search .submit { position: relative; top: 5px; width: 70px !important; height: 18px !important; margin-left: 10px; }	
            
            /* The following 4 rules were added to fix the search box for sites that have been upgraded to 3.7 SP4 */
            div#search fieldset { margin: 0; padding: 0; border: 0; /* NOTE: clears styles for fieldsets in the search area */ }
            div#search label { display: none; /* NOTE: kind of hacky, removing the label that was added by sitefinity sp4 */ }
            div#search .searchTextBox { width: 200px; /* NOTE: This is min-width, dynamically adjusted via JavaScript */ }
			div#search .sfsearchSubmit { position: relative; top: 5px; width: 70px !important; height: 18px !important; margin-left: 10px; }
/* End search box Override for Nisource.com */
