#main-nav ul li.divider
{
  margin-top:-9px;
  margin-bottom:-9px;
}

#main-nav.home .sub-menu #home-menu-top{
    height:10px;
    background:url(../img/menu_top_ie.png)/*tpa=http://smithfieldfoods.com/img/menu_top_ie.png*/ no-repeat;
}


#main-nav.home .sub-menu #home-menu-bottom{
     height:10px;
    background:url(../img/menu_bottom_ie.png)/*tpa=http://smithfieldfoods.com/img/menu_bottom_ie.png*/ no-repeat;
}


#main-nav.home .sub-menu  ul li {
  float:left;
}
 
#main-nav.home .sub-menu ul li
{
  margin:0;
  padding:0;
  background: url(../img/ie7_bg.png)/*tpa=http://smithfieldfoods.com/img/ie7_bg.png*/ top left;
}

#main-nav.home ul {
  margin:40px 0 0;
}

#utility #search-bar
{  
  background:url(../img/search_bg.jpg)/*tpa=http://smithfieldfoods.com/img/search_bg.jpg*/ no-repeat left top;
  padding:0px 0 2px 5px;
}

#utility {
  background: url(../img/ie7_divider.png)/*tpa=http://smithfieldfoods.com/img/ie7_divider.png*/ bottom left repeat-x;
}

#home-content{ 

    background:url(../img/ie7_bg.png)/*tpa=http://smithfieldfoods.com/img/ie7_bg.png*/ top left;
   
}


.page-accordion h3{
    padding:0px;
    background:url(../img/clear_directory_plus.gif.png)/*tpa=http://smithfieldfoods.com/img/clear_directory_plus.gif*/ 0 center no-repeat;   
}

.page-accordion  h3.ui-state-active
{
  padding:0px;
  background:url(../img/clear_directory_minus.gif.png)/*tpa=http://smithfieldfoods.com/img/clear_directory_minus.gif*/ 0 center no-repeat;    
}


.stat-bar
{
    padding:2px 10px 25px 20px;
     background: url(../img/stat-bg.png)/*tpa=http://smithfieldfoods.com/img/stat-bg.png*/ no-repeat;
}
/*
a.org-btn {
background: url(../img/orgChart_nav_bg.png) no-repeat;
}

a.org-btn:hover {
  background-position:0 -23px;
}
*/
#company-info #banner .item:first-child
{
    overflow:hidden;
    background: url(../img/banner-left.png)/*tpa=http://smithfieldfoods.com/img/banner-left.png*/ top left;
}


#countries {
  border-bottom: solid 1px rgb(204, 204, 204);
  border-top: solid 1px rgb(204, 204, 204);
}
#company-info #banner .item:last-child
{
    overflow:hidden;
    background: url(../img/banner-right.png)/*tpa=http://smithfieldfoods.com/img/banner-right.png*/ top right;
}

#company-info #banner .item:first-child:hover,
#company-info #banner .item:last-child:hover
 {
    background-position:0 -35px;
}

.tray{  background: url(../img/rpt-70.png)/*tpa=http://smithfieldfoods.com/img/rpt-70.png*/ top left;}


#topic-feed.small .item {
    cursor:default;
}
   
#topic-feed.small .item span
{
 
    cursor:pointer;
  /*line-height:73px;*/
}










/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
