/**

"Clean Red" skin for jQuery newsticker
 
Design & code by Studio 164a

**/ 
 
 
.newsticker_wrapper {
    /*background: #fff url('clean_red/wrapper_bg.png') no-repeat bottom center;
    font: 12px Arial, Helvetica, sans-serif;
    color: #6d6e70;
    border-top: 2px solid #e4e5e5;
    border-bottom: 2px solid #e4e5e5;
    padding: 9px 0 !important;
    line-height: 23px;
    height: 23px;
    -webkit-text-size-adjust: none;*/
	color: #fff;
	line-height: 23px;
    height: 30px;
} 

.newsticker_wrapper h4 {
    color: #fff;
    text-transform: uppercase;
    border-right: 2px solid #e4e5e5;
    padding: 0 8px 0 0;
    margin: 0 15px 0 0;
    overflow: hidden;
    font-weight: bold;
}
	.newsticker_wrapper h4 a {
		text-decoration: none;	
	}
.newsticker_wrapper a {
    color: #fff !important;
	font-family: "UniversLTW01-47LightCn",Arial,Helvetica,serif;
	text-decoration: underline;
}

.newsticker {
    margin: 0;
    padding: 0;
}

.newsticker li {
    padding: 0 15px;
	line-height: 15px;
}

.newsticker_controls {
    position: absolute;
    right: 9px;
    top: 9px;
    list-style-type: none;
    list-style-image: none; 
    margin: 0;    
}

.newsticker_style_reveal .newsticker_controls {
    right: 9px;
    top: 10px;
}

.newsticker_controls li {
    float: left;    
    height: 23px;
    width: 34px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;
}

.newsticker_controls .pause {
    background-image: url('Unknown_83_filename')/*tpa=http://www.merck.com/css/clean_red/pause.png*/;       
}

.newsticker_controls .resume {
    background-image: url('Unknown_83_filename')/*tpa=http://www.merck.com/css/clean_red/resume.png*/;       
}

.newsticker_controls .previous {
    background-image: url('Unknown_83_filename')/*tpa=http://www.merck.com/css/clean_red/previous.png*/;   
    border-right: 1px solid #c9cacc;
}

.newsticker_controls .next {
    background-image: url('Unknown_83_filename')/*tpa=http://www.merck.com/css/clean_red/next.png*/;   
    border-left: 1px solid #c9cacc;
}


/* Reveal */
.newsticker_style_reveal .newsticker li {
    left: 15px !important;
}

/* Scroll */
.newsticker_style_scroll .newsticker li {
    margin-right: 80px;
    padding: 0;
}

/*
THE MARKUP:

<div class="newsticker_wrapper">
	<h4>The Latest</h4>
	<ul class="newsticker">
		<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</li>
		<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</li>
		<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</li>
		<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</li>
		<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</li>
	</ul>
</div>
*/