
@import url("Pending_relink")/*tpa=http://fast.fonts.net/t/1.css?apiType=css&projectid=35024326-4878-4b91-bc05-90e61b3baf52*/;
@font-face{
font-family:"UniversLTW01-47LightCn";
src:url("../uniFonts/296c59c2-74b0-41c1-bcfd-23d22a713f86.eot-#iefix")/*tpa=http://www.merck.com/uniFonts/296c59c2-74b0-41c1-bcfd-23d22a713f86.eot?#iefix*/;
src:url("../uniFonts/296c59c2-74b0-41c1-bcfd-23d22a713f86.eot-#iefix")/*tpa=http://www.merck.com/uniFonts/296c59c2-74b0-41c1-bcfd-23d22a713f86.eot?#iefix*/ format("eot"),url("../uniFonts/d4a01ff3-d1c6-49c0-a4e8-350a6eef9880.woff2")/*tpa=http://www.merck.com/uniFonts/d4a01ff3-d1c6-49c0-a4e8-350a6eef9880.woff2*/ format("woff2"),url("../uniFonts/609beecf-8d23-4a8c-bbf5-d22ee8db2fc9.woff")/*tpa=http://www.merck.com/uniFonts/609beecf-8d23-4a8c-bbf5-d22ee8db2fc9.woff*/ format("woff"),url("../uniFonts/a6595b8d-d4a3-4f01-bf21-0b53617d4b1c.ttf")/*tpa=http://www.merck.com/uniFonts/a6595b8d-d4a3-4f01-bf21-0b53617d4b1c.ttf*/ format("truetype"),url("../uniFonts/1cd9ef2f-b358-4d39-8628-6481d9e1c8ce.svg#1cd9ef2f-b358-4d39-8628-6481d9e1c8ce")/*tpa=http://www.merck.com/uniFonts/1cd9ef2f-b358-4d39-8628-6481d9e1c8ce.svg#1cd9ef2f-b358-4d39-8628-6481d9e1c8ce*/ format("svg");
}
@font-face{
font-family:"UniversLTW01-57Condense 723821";
src:url("../uniFonts/aefefc4e-9cb8-4e8e-8599-dda705456734.eot-#iefix")/*tpa=http://www.merck.com/uniFonts/aefefc4e-9cb8-4e8e-8599-dda705456734.eot?#iefix*/;
src:url("../uniFonts/aefefc4e-9cb8-4e8e-8599-dda705456734.eot-#iefix")/*tpa=http://www.merck.com/uniFonts/aefefc4e-9cb8-4e8e-8599-dda705456734.eot?#iefix*/ format("eot"),url("../uniFonts/87512e82-56b3-4356-97ab-9cd7b2957e37.woff2")/*tpa=http://www.merck.com/uniFonts/87512e82-56b3-4356-97ab-9cd7b2957e37.woff2*/ format("woff2"),url("../uniFonts/1eaf27c0-f4de-4273-9f4c-1b3236ad2f3c.woff")/*tpa=http://www.merck.com/uniFonts/1eaf27c0-f4de-4273-9f4c-1b3236ad2f3c.woff*/ format("woff"),url("../uniFonts/9b913baf-b1f0-47d2-8c76-42f59650058f.ttf")/*tpa=http://www.merck.com/uniFonts/9b913baf-b1f0-47d2-8c76-42f59650058f.ttf*/ format("truetype"),url("../uniFonts/0abcce12-2274-4ee7-b6d5-0066b5f5f670.svg#0abcce12-2274-4ee7-b6d5-0066b5f5f670")/*tpa=http://www.merck.com/uniFonts/0abcce12-2274-4ee7-b6d5-0066b5f5f670.svg#0abcce12-2274-4ee7-b6d5-0066b5f5f670*/ format("svg");
}
@font-face{
font-family:"UniversLTW01-57Condense 723818";
src:url("../uniFonts/6fc47523-fa84-47de-b974-533db32eacd8.eot-#iefix")/*tpa=http://www.merck.com/uniFonts/6fc47523-fa84-47de-b974-533db32eacd8.eot?#iefix*/;
src:url("../uniFonts/6fc47523-fa84-47de-b974-533db32eacd8.eot-#iefix")/*tpa=http://www.merck.com/uniFonts/6fc47523-fa84-47de-b974-533db32eacd8.eot?#iefix*/ format("eot"),url("../uniFonts/142786d1-4a72-4273-9130-a80a339bd4e0.woff2")/*tpa=http://www.merck.com/uniFonts/142786d1-4a72-4273-9130-a80a339bd4e0.woff2*/ format("woff2"),url("../uniFonts/34e6ea2e-62b2-49c9-b5e6-128fddfd9f6c.woff")/*tpa=http://www.merck.com/uniFonts/34e6ea2e-62b2-49c9-b5e6-128fddfd9f6c.woff*/ format("woff"),url("../uniFonts/01a871ba-586f-4d5e-8924-d4ec3b44f723.ttf")/*tpa=http://www.merck.com/uniFonts/01a871ba-586f-4d5e-8924-d4ec3b44f723.ttf*/ format("truetype"),url("../uniFonts/5ebb44ef-5450-4b20-9612-66b2a127178b.svg#5ebb44ef-5450-4b20-9612-66b2a127178b")/*tpa=http://www.merck.com/uniFonts/5ebb44ef-5450-4b20-9612-66b2a127178b.svg#5ebb44ef-5450-4b20-9612-66b2a127178b*/ format("svg");
}
@font-face{
font-family:"UniversLTW01-67BoldCn";
src:url("../uniFonts/076b8d7a-91b5-4c89-86a1-546b980072c7.eot-#iefix")/*tpa=http://www.merck.com/uniFonts/076b8d7a-91b5-4c89-86a1-546b980072c7.eot?#iefix*/;
src:url("../uniFonts/076b8d7a-91b5-4c89-86a1-546b980072c7.eot-#iefix")/*tpa=http://www.merck.com/uniFonts/076b8d7a-91b5-4c89-86a1-546b980072c7.eot?#iefix*/ format("eot"),url("../uniFonts/6fac29ee-4085-4f88-bea6-47a93dd7d682.woff2")/*tpa=http://www.merck.com/uniFonts/6fac29ee-4085-4f88-bea6-47a93dd7d682.woff2*/ format("woff2"),url("../uniFonts/21decb60-b395-4de2-bd04-e38eb2a56d2f.woff")/*tpa=http://www.merck.com/uniFonts/21decb60-b395-4de2-bd04-e38eb2a56d2f.woff*/ format("woff"),url("../uniFonts/091058d4-36b2-43f6-80d3-16c88e098061.ttf")/*tpa=http://www.merck.com/uniFonts/091058d4-36b2-43f6-80d3-16c88e098061.ttf*/ format("truetype"),url("../uniFonts/827d22bc-e38b-4ccf-8a21-1f9aaa76e402.svg#827d22bc-e38b-4ccf-8a21-1f9aaa76e402")/*tpa=http://www.merck.com/uniFonts/827d22bc-e38b-4ccf-8a21-1f9aaa76e402.svg#827d22bc-e38b-4ccf-8a21-1f9aaa76e402*/ format("svg");
}
@font-face{
font-family:"UniversLTW01-67BoldCnOb";
src:url("../uniFonts/6881ee98-4e9b-4409-9695-e5b0118c7c84.eot-#iefix")/*tpa=http://www.merck.com/uniFonts/6881ee98-4e9b-4409-9695-e5b0118c7c84.eot?#iefix*/;
src:url("../uniFonts/6881ee98-4e9b-4409-9695-e5b0118c7c84.eot-#iefix")/*tpa=http://www.merck.com/uniFonts/6881ee98-4e9b-4409-9695-e5b0118c7c84.eot?#iefix*/ format("eot"),url("../uniFonts/840cfc23-f993-41c8-a18e-f8ce37d4ec61.woff2")/*tpa=http://www.merck.com/uniFonts/840cfc23-f993-41c8-a18e-f8ce37d4ec61.woff2*/ format("woff2"),url("../uniFonts/53f66cd7-168f-4c66-9514-9dd103c763a0.woff")/*tpa=http://www.merck.com/uniFonts/53f66cd7-168f-4c66-9514-9dd103c763a0.woff*/ format("woff"),url("../uniFonts/774a1d99-085d-4249-8c2c-0ce23fa975a6.ttf")/*tpa=http://www.merck.com/uniFonts/774a1d99-085d-4249-8c2c-0ce23fa975a6.ttf*/ format("truetype"),url("../uniFonts/056a520c-7f4a-4b3a-8465-a841cfe0b6b3.svg#056a520c-7f4a-4b3a-8465-a841cfe0b6b3")/*tpa=http://www.merck.com/uniFonts/056a520c-7f4a-4b3a-8465-a841cfe0b6b3.svg#056a520c-7f4a-4b3a-8465-a841cfe0b6b3*/ format("svg");
}



body {
	font-family: "UniversLTW01-47LightCn","Arial Narrow",Arial,sans-serif;	
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	color: #768dc1;
	font-weight: bold;	
    margin-bottom: 20px;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, .h1 a, .h2 a, .h3 a, .h4 a, .h5 a, .h6 a {
	color: #289392;
}
p {
	line-height: 1.2em;	
}
a, 
a:visited, 
a:active,
a:hover,
a:focus {
    color: #13a29c;
    text-decoration: none;
	outline: 0;
}
a:hover {
    text-decoration: underline;
	cursor: pointer;
}
/* =========================
   Browse Happy prompt
   ========================= */
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
.lavender {
    color: #768dc1 !important;
}
.gray-text-color {
	color: #676767 !important;	
}
.teal {
    color: #00958f !important;
}
.bg-color-teal {
	background: #00958f !important;	
}
.image-align-right {
    float: right;
    margin: 0 0 10px 10px;
}
.image-align-left {
    float: left;
    margin: 0 10px 10px 0;
}
.image-spacing-right {
	margin: 0 24px 10px 0;
}
.image-spacing-left {
	margin: 0 0 10px 24px;
}
.lower-alpha {
	list-style-type: lower-alpha;
}
.hide {
    display: none;
}
.text { font-style: italic; }
.uppercase-text { text-transform: uppercase; }
.white_color_text {
    color: #fff !important;
}
.margin-bottom-0px {
	margin-bottom: 0 !important;	
}
.margin-bottom-25px {
	margin-bottom: 25px;	
}
.padding-bottom-25px {
	padding-bottom: 25px;	
}
.muted {
    color: #676767 !important;
}
blockquote { font-size: inherit; }
.header-container {
	margin-top: 0px;	
}
.media-body {
	display: inline;
}
.center-block { text-align: center; }
table .dashedRule {
	margin: 3px 0;
}
.hero-container {
	background: #00958f;
}
.header_section {
    background: none repeat scroll 0 0 #fff;
}
#worldwide_content table td a {
    background: url("../images/global/icon_link-bg-arrow.gif")/*tpa=http://www.merck.com/images/global/icon_link-bg-arrow.gif*/ no-repeat scroll 0 2px transparent;
    padding: 1px 0 1px 10px;
}
#worldwide_content table td a.bottom_space {
    margin-bottom: 10px;
}
.modal-header {
    padding: 4px 15px;
}
.modal-header h3 {
    font-size: 30px;
    font-weight: normal;
    line-height: 1.4em;
}
.modal-backdrop
{
 z-index: 1100;
}
.modal
{
 z-index: 1200;
}
.main_nav {
    z-index: 9;
	padding-left: 0;
	padding-right: 0;
}

.megamenu > li { margin: 0; }
.searchBox {
    left: 385px;
    top: 0;
}
.megamenu > li .searchBox { position: absolute; z-index: 500; }
.searchBox form {
    margin-bottom: 0;
    margin-top: 9px;
}

.searchBox table {
    background: none repeat scroll 0 0 #fff;
}
.searchBox input.text {
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    color: #999;
    height: 20px;
    margin-bottom: 0;
    padding: 1px 6px;
    width: 130px;
}
.searchBox input.butn {
    height: 10px;
    padding: 0 5px;
    width: 20px;
}
#resultCountID {
    font-size: 1.25em;
}
.searchResults {
    font-size: 1.25em;
}
.megamenu .menu_sub ul { display: none; }
#secondary_navigation_container {
}
#secondary_navigation_container .megamenu_dark_bar .megamenu > li > a {
    color: #000;
}
#secondary_navigation_container .megamenu_dark_bar .megamenu > li .megamenu_drop {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#secondary_navigation_container .megamenu_dark_bar {
    background: none repeat scroll 0 0 #fff;
}
#secondary_navigation_container .megamenu > li > a.quick_links {
    color: #00958f;
    font-weight: bold;
}
#secondary_navigation_container .megamenu > li > a.social_media {
    padding: 6px 15px;
}
.secondary_navigation {
    background: none repeat scroll 0 0 #fff;
    display: block;
    float: right;
    font-size: 12px;
    line-height: 1;
    margin: 5px 0 10px;
    padding: 0;
}
.secondary_navigation h1, .secondary_navigation ul, .secondary_navigation p, .secondary_navigation img {
    border: 0 none;
    margin: 0;
    padding: 0;
}
.secondary_navigation h1 {
    font-weight: normal;
}
.secondary_navigation ul {
    list-style: none outside none;
}
.secondary_navigation a {
    color: #fff;
    text-decoration: none;
}
.secondary_navigation .menu-label {
    font-weight: bold;
}
.secondary_navigation .menu-label.quicklinks {
    font-weight: bold;
    text-transform: uppercase;
}
.secondary_navigation .menu-top li.search_box {
}
.secondary_navigation .menu-top > li {
    float: left;
    position: relative;
    text-align: center;
}
.secondary_navigation .menu-top > li:hover {
}
.secondary_navigation .menu-top .menu-right {
    float: left;
}
.secondary_navigation .menu-button {
    background: url("../images/dot_separator.png")/*tpa=http://www.merck.com/images/dot_separator.png*/ no-repeat scroll 0 1.5em transparent;
    color: #455660;
    display: block;
    font-size: 0.9em;
    line-height: 37px;
    padding: 0 14px;
}
.secondary_navigation .menu-button.first {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.secondary_navigation .menu-button.social {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding-left: 5px;
}
.secondary_navigation li:hover .menu-button {
    background: none repeat scroll 0 0 #dcdcdc;
    color: #455660;
}
.secondary_navigation .menu-drop {
}
.secondary_navigation .menu-drop .menu-label {
}
.secondary_navigation .menu-drop .menu-label.quicklinks, .secondary_navigation .menu-drop .menu-label.social_media {
    background: url("../images/arrow_menu_down_dark.png")/*tpa=http://www.merck.com/images/arrow_menu_down_dark.png*/ no-repeat scroll right center rgba(0, 0, 0, 0);
    padding-right: 20px;
}
.secondary_navigation li:hover .menu-drop .menu-label {
}
.secondary_navigation li:hover .menu-drop .menu-label.quicklinks, .secondary_navigation li:hover .menu-drop .menu-label.social_media {
    background: url("../images/arrow_menu_down_dark.png")/*tpa=http://www.merck.com/images/arrow_menu_down_dark.png*/ no-repeat scroll right center rgba(0, 0, 0, 0);
}
.secondary_navigation .menu-dropdown {
    background-color: #fff;
    left: -5000px;
    opacity: 0;
    position: absolute;
    text-align: left;
    z-index: 999;
}
/*.secondary_navigation li:hover .menu-dropdown {
    left: 0;
    opacity: 1;
}*/
.secondary_navigation li:hover .menu-dropdown2 {
    left: -99px;
    opacity: 1;
}
.secondary_navigation li:hover .menu-dropdown3 {
    left: -201px;
    opacity: 1;
}
.secondary_navigation li:hover .menu-dropdown4 {
    left: -305px;
    opacity: 1;
}


/*.secondary_navigation .menu-right:hover .menu-dropdown {
    left: auto;
    right: 0;
}

ON HOVER SHOW THE QUICK LINKS
.secondary_navigation .menu-right:hover .menu-dropdown {
    left:auto;
    right:0;
}*/

.secondary_navigation .menu-sub {
    margin: 5px 0;
}
.secondary_navigation .menu-sub li {
}
.secondary_navigation .menu-sub li:hover {
}
.secondary_navigation .menu-subbutton {
    color: #666;
    display: block;
    font-size: 0.9em;
    font-weight: normal;
    line-height: 1.3;
}
.secondary_navigation .menu-subbutton:hover {
    text-decoration: underline;
}
.secondary_navigation .menu-sub li:hover .menu-subbutton {
    color: #2a2a2a;
}
.secondary_navigation .menu-sub .menu-subbutton .menu-label {
    font-weight: normal;
}
.secondary_navigation .menu-desc {
    color: #a0a0a0;
    font-style: italic;
}
.secondary_navigation .menu-sub li:hover .menu-desc {
    color: #d0d0d0;
}
.secondary_navigation .menu-row {
    display: inline-block;
    vertical-align: text-top;
    width: 146px;
}
.secondary_navigation .menu-row .menu-sub {
    margin: 0;
}
.secondary_navigation h1 {
    color: #a0a0a0;
    font-size: 2em;
}
.secondary_navigation p {
    color: #455660;
    font-size: 1.2em;
    line-height: 1.5em;
}
.secondary_navigation .emp {
    font-weight: bold;
}
.secondary_navigation .quote {
    font-style: italic;
}
.secondary_navigation .menu-dropdown1 {
    padding-top: 20px;
    width: 593px;
}
.secondary_navigation .menu-dropdown1 h1 {
    margin: 0 0 5px;
}
.secondary_navigation .menu-dropdown1 .menu-row {
    margin: 5px 0;
    padding: 0 15px;
    width: 200px;
}
.secondary_navigation .menu-dropdown1 .menu-row.border-right {
    border-right: 1px dotted #707070;
}
.secondary_navigation .menu-dropdown1 .menu-row.about {
    width: 326px;
}
.secondary_navigation .menu-dropdown1 .menu-row:last-child {
    border-right: 0 none;
}
.secondary_navigation .menu-dropdown2 {
    padding-top: 20px;
    width: 593px;
}
.secondary_navigation .menu-dropdown2 h1 {
    margin: 0 0 5px;
}
.secondary_navigation .menu-dropdown2 .menu-row {
    margin: 5px 0;
    padding: 0 15px;
    width: 200px;
}
.secondary_navigation .menu-dropdown2 .menu-row.border-right {
    border-right: 1px dotted #707070;
}
.secondary_navigation .menu-dropdown2 .menu-row.research {
    width: 326px;
}
.secondary_navigation .menu-dropdown2 .menu-row:last-child {
    border-right: 0 none;
}
.secondary_navigation .menu-dropdown3 {
    padding-top: 20px;
    width: 593px;
}
.secondary_navigation .menu-dropdown3 h1 {
    margin: 0 0 5px;
}
.secondary_navigation .menu-dropdown3 .menu-row {
    margin: 5px 0;
    padding: 0 15px;
    width: 200px;
}
.secondary_navigation .menu-dropdown3 .menu-row.border-right {
    border-right: 1px dotted #707070;
}
.secondary_navigation .menu-dropdown3 .menu-row.products {
    width: 326px;
}
.secondary_navigation .menu-dropdown3 .menu-row:last-child {
    border-right: 0 none;
}
.secondary_navigation .menu-dropdown4 {
    padding-top: 20px;
    width: 593px;
}
.secondary_navigation .menu-dropdown4 h1 {
    margin: 0 0 5px;
}
.secondary_navigation .menu-dropdown4 .menu-row {
    margin: 5px 0;
    padding: 0 15px;
    width: 200px;
}
.secondary_navigation .menu-dropdown4 .menu-row.border-right {
    border-right: 1px dotted #707070;
}
.secondary_navigation .menu-dropdown4 .menu-row.careers {
    width: 326px;
}
.secondary_navigation .menu-dropdown4 .menu-row:last-child {
    border-right: 0 none;
}
.secondary_navigation .menu-dropdown6 {
    border: 1px solid #ccc;
    width: 360px;
}
.secondary_navigation .menu-dropdown6 img {
    margin-right: 5px;
    vertical-align: middle;
}
.secondary_navigation .menu-dropdown6 .menu-label {
    vertical-align: middle;
}
.secondary_navigation .menu-dropdown6 .menu-subbutton {
    padding: 5px 20px;
}
.secondary_navigation .menu-dropdown7 {
    border: 1px solid #ccc;
    padding: 0 20px 10px;
    width: 795px;
}
.secondary_navigation .menu-dropdown7 p {
    margin-top: 7px;
}
.secondary_navigation .menu-dropdown7 h1 {
    border-bottom: 1px solid #858585;
    color: #455660;
    padding-bottom: 3px;
}
.secondary_navigation .menu-dropdown7 h3 {
    border-bottom: 1px solid #858585;
    color: #455660;
    padding-bottom: 3px;
}
.secondary_navigation .menu-dropdown7 h5 {
    border-bottom: 1px solid #858585;
    color: #455660;
    margin-bottom: 0;
    padding-bottom: 3px;
}
.secondary_navigation .menu-dropdown7 h6 {
    color: #455660;
    margin-bottom: 0;
}
.secondary_navigation .menu-row.one_third {
    display: inline-block;
    vertical-align: text-top;
    width: 248px;
}
.secondary_navigation .menu.one_third.last {
}
.secondary_navigation .menu-row.one_third .image {
    float: left;
    margin-right: 10px;
    width: 88px;
}
.secondary_navigation .menu-row.one_third .desc {
    float: left;
    width: 150px;
}
.secondary_navigation .menu-row.one_third .desc p {
    font-size: 1.25em;
}
.secondary_navigation .menu-row.one_third .desc a {
    color: #00958f;
}
.secondary_navigation .menu-row.one_third .desc a:hover {
    text-decoration: underline;
}
.secondary_navigation table {
    margin-top: 15px;
}
.secondary_navigation table th {
    color: #455660;
}
.secondary_navigation table td {
    color: #455660;
    padding: 3px 12px;
}

.stories_img {
	width: 100%;	
}
.mosaic-backdrop img { width: 100%; }
.panel-heading {
	padding: 0;	
}
.accordion-toggle {
	margin: 0;
	padding: 10px 15px;		
}
.featured-stories .media {
	padding: 10px;	
}
	.featured-stories .media:hover {
		background: #f3f3f3;	
	}
@media (min-width: 1200px) {
	.megamenu > li {
		margin: 0;
		line-height: 20px;
	}
	.hero_container_inside {
		margin-left: auto;
		margin-right: auto;
		width: 1330px;
	}
	.jnewsbar {
		right: auto;
		width: 1170px;
	}
	
	.stories_section1 .stories_section_panel, .stories_section2 .stories_section_panel, .stories_section3 .stories_section_panel, .stories_section4 .stories_section_panel {
		left: 234px;
	}
	.be_well_container .span3.bewelltip img {
		width: 93px;
	}
}

.search_jobs {
	/*white-space: nowrap;*/
}
#searchform {
	white-space: nowrap;
}