#callout
{
	width: 280px !important;
}

#title
{
	color: blue !important;
	font-size: 15px !important;
}

@media (max-width: 767px){
.descriptionArea {
left: 5px;
right: 5px;
bottom: 5px;
top: 205px;
background-image: url('../img/white_transparent.png')/*tpa=http://www.merck.com/img/white_transparent.png*/;
padding: 6px 0 6px 12px;
width: 97% !important;
/*height: 100px !important;*/
}
.descriptionArea .title {
font-size: 23px !important;
}
.descriptionArea .description {
font-size: 18px;
}
#rightScrollNavArea, #leftScrollNavArea {
	display: none;
}

.mosaic-block {
	width:49%;
}

}


