body
{
	
}

#circles
{
	display: none;
}

#rightImageBumper
{
	display: none;
}

#leftScrollNavArea
{
	display: none;
}

#rightScrollNavArea
{
	display: none;
}

#theSlider
{
	width: auto;
}

#rightScrollArrow
{
	top:180px;
	width: 10px;
}

#rightScrollArrow img
{
	width: 10px;
}

#leftScrollArrow
{
	top:180px;
	width: 10px;
}


#leftScrollArrow img
{
	width: 10px;
}

.descriptionArea
{
	left: 5px;
	right: 5px;
	bottom: 5px;
	top: 228px;
	background-image: url('../img/white_transparent.png')/*tpa=http://www.merck.com/img/white_transparent.png*/;
	padding: 10px 0;
	width: 375px;
}

.descriptionArea .title
{
	font-size: 25px;
	top: 0px;
	left: 5px;
	width: 345px;
}

.descriptionArea .description
{
	font-size: 17px;
	top: 0px;
	margin: 0;
	left: 5px;
	width: 345px;
}

#imageArea
{
	width:100%;
}