#stage 
{
	width: 100%;
	height: 347px;
	/*background-color: yellow;
	position: absolute;
	overflow: hidden;*/
	z-index: -2;
}

#theSlider
{
	margin-left: auto;
	margin-right: auto;
	/*width: 84%;*/
	width: 100%;
	height: 347px;
}

#leftScrollNavArea
{
	width: 0%;
	height: 100%;
	background-color: #00958f;
	float:left;
	z-index: 2;
}

#leftScrollArrow
{
	position: relative;
	
	top:143px;
	left: -40px;
	text-align: right;
	cursor: pointer;
	z-index: 2;

	margin-left: auto;
	margin-right: auto;
	width:34px;
}

.descriptionArea
{

	position: absolute; 
	right: 165px;
	top: 50px;
	z-index: 1;
	display: none;
	width: 350px;
}
.descriptionArea.melanoma {
	width: 325px;
	right: 270px;
}
	.descriptionArea.melanoma .title {
		color: #fff;
		font-weight: bold;
		line-height: 40px;
		margin-bottom: 10px;
	}
		.descriptionArea.melanoma .description {
			width: 100%;
		}
.descriptionArea .title
{

	position: relative;
	/*top: 40px;
	left: 55px;*/
	color: #5f5f5f;
	/*font-family: Tahoma, Geneva, sans-serif;*/
	font-size: 40px;
	line-height: 1.2em;
	font-weight: bold;
}

.descriptionArea .description
{
	position: relative;
	/*top: 60px;
	left: 36px;*/
	color: #415560;
	/*font-family: Tahoma, Geneva, sans-serif;*/
	font-size: 20px;
	line-height: 1.2em;
	margin: 0;
	/*width: 100%;*/
}

.descriptionLink
{
	color: #00877c !important;
	text-decoration: none;
	cursor: pointer;
	font-weight: bold;
}


#imageArea
{
	/*background-color: #ccaaee;*/
	float: left;
	position: relative;
	width: 100%;
	height: 347px;
	overflow: hidden;
}


#circles
{
	position: absolute;
	right: 784px; /* was 160px */
	top: 0;
	z-index: 1;
}

.circleOpacity
{
	display: none;
}

.circleAnimation
{
	display: none;
}

.circleAnimationSpeed
{
	display: none;
}

#rightImageBumper
{
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
	height: 347px;
}

#rightImageBumper img
{
	height: 347px;
}


#rightScrollNavArea
{
	width: 0%;
	height: 347px;
	background-color: #00958f;
	float:right; 
	z-index: 2;
}

#rightScrollArrow
{
	position: relative;
	
	top:143px;
	right: -5px;
	text-align: left;
	cursor: pointer;
	z-index: 2;	

	margin-left: auto;
	margin-right: auto;
	width:34px;
}


.shadow {
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

/*=======================*/
/* Slider plumbing below */
/*=======================*/
.slider 
{
	
  width: 1336px; 
  height: 396px;
  overflow: hidden;

}

.slider > ul 
{
    /* styled by JS to match the added width and height of all <li>’s */
    position: relative;
    -webkit-transition: 0.5s left;
    -moz-transition: 0.5s left;
    -ms-transition: 0.5s left;
    -o-transition: 0.5s left;
 
    list-style: none;
    margin: 0; 
    padding: 0;
}

.slider > ul > li 
{
    float: left;
    width: 1336px; 
	height: 396px;
}

#footer_block
{
	z-index: 200;
}

#main_information_area
{
	display: none; /*inline-block*/
	position: relative;
	top: -100px;
	z-index: 100;
	background-color: red;
	width: 100%;
}