/* GENERIC */
h1, h2{}
h3, h4{}
h5, h6, dt{}

tfoot, thead{}
th{}
img{}
a:link{}
a:visited{}
a:hover{}
a:active{}
small{}
big{}
blockquote, pre{}
ul li{ }
ul li li{ }
ul li li li{ }
ol li{ }
ol ol li{ }
ol ol ol li{ }
ol ul li{ }
hr{}


/*-- XHTML Reset --*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption{ margin:0; padding:0; border:0; outline:0; font-size:100%; background:transparent; }
body { line-height:1; }
ol, ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
:focus { outline:0; }
ins { text-decoration:none; }
del { text-decoration:line-through; }
table { /*Reset removed per request 1/31/2011*/ border-collapse:collapse; }
td, th{ padding:0 5px; }
.aoi_form td, .aoi_form th{ padding:0; }
img{ border:0; }

/*-- General --*/
body{ font:normal 12px Tahoma; }
body.bg{ background:#fff/*url(images/frame_bg.png) left bottom repeat-x*/; }
#frame{ width:942px; margin:auto; }
body.bg ul{ margin-left:25px; list-style-type:disc; }
ol{}
p{ padding-bottom:16px; }
h4 {
display: block;
-webkit-margin-before: 1.33em;
-webkit-margin-after: 1.33em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-weight: bold;
}

/*-- Navigation --*/
#utility_nav{ width:224px; margin:0; position:absolute; right:0; top:19px; list-style-type:none; }
#utility_nav li{ float:left; font-size:11px; color:#000; list-style:none; }
#utility_nav li a{ color:#000; }
/*--- Please note that the sprite image may by different between dev pro and qas. ---*/
#header_nav{ width:427px; height:48px; padding:1px 0 6px 1px; margin:0; background:url(images/sprite_png8.png) 0 -75px; position:absolute; bottom:0; right:214px; list-style-type:none; }
#header_nav li{ float:left; list-style:none; }
#header_nav li a{ height:30px; padding-top:18px; display:block; background:url(images/sprite_png8.png) 0 -76px; color:#fff; text-transform:uppercase; text-align:center; font:normal 12px Tahoma !important; }
#header_nav li a#OurProducts{ width:120px; background-position:-1px -76px; }
#header_nav li a#OurProducts:hover{ background-position:-1px -373px; }
#header_nav li a#CorporateInformation{ width:170px; background-position:-120px -76px; }
#header_nav li a#CorporateInformation:hover{ background-position:-120px -373px; }
#header_nav li a#CustomerClaims{ width:137px; background-position:-290px -76px; }
#header_nav li a#CustomerClaims:hover{ background-position:-290px -373px; }
#header_nav li a:hover{ color:#93bdda; text-decoration:none; }

#side_nav,
#side_nav li{ margin:0; list-style-type:none; }
#side_nav li a{ height:48px; padding-left:22px; background:url(images/left_nav.png); display:block; font:normal 20px/48px Tahoma; color:#fff; }
#side_nav li a.active,
#side_nav li a:hover{ background-position:0 -48px; color:#93bdda; text-decoration:none; }
#side_nav li ul{ margin:0; }
#side_nav li ul li a{ height:auto; padding:7px 0 5px 35px; background:url(images/left_nav_2.png) repeat-y; font:normal 14px/normal Tahoma; }
#side_nav li ul li a.active,
#side_nav li ul li a:hover{ background:url(images/left_nav_2_active.png) repeat-y; }

#bottom_nav{  }

#footer_nav{ margin:auto; list-style-type:none; text-align:center; }
#footer_nav li{ display:inline; }
#footer_nav li a{ color:#343028 }

/*-- Header --*/
#header{ height:96px; margin-bottom:10px; position:relative; }
#header #header_logo{ width:292px; height:75px; position:absolute; left:0; bottom:0; background:url(images/sprite_png8.png); }
#header #header_search{ width:200px; height:42px; padding:13px 0 0 14px; background:url(images/sprite_png8.png) 0 -130px; position:absolute; right:0; bottom:0; }
#header #header_search #dnn_dnnsearch_ClassicSearch{ width:195px; height:22px; margin-top:1px; float:left; display:block;  }
#header #header_search #dnn_dnnsearch_txtSearch{ width: 118px; float:left; background:url(images/sprite_png24.png); }
#header #header_search #dnn_dnnsearch_cmdSearch{ float:left;}
#header #header_search input[type*="text"]{ width:110px; height:22px; padding:0 5px; border:none; font-size:12px; background:none; }
#header #header_search a,
#header #header_search input[type*="submit"]{ text-indent:-9999px; width:51px; height:24px; padding:0; margin-left:4px; float:left; display:block; border:none; background:url(images/sprite_png24.png) 0 -22px; font-size:0.1px; text-align:left; color:#1b6b9f; }
#header #header_search a:hover,
#header #header_search input[type*="submit"]:hover{ cursor:pointer; }
/*-- Keep this for the header in the locator and apply online --*/
#header #header_search .text_wrap{ width:118px; height:22px; margin-top:1px; float:left; display:block; background:url(images/sprite_png24.png); }

/*-- Promo --*/
#promo{ margin-bottom:10px; }

/*-- Main --*/
#main{  }

/*-- Footer --*/
#footer{ padding-top:20px; font-size:9px; color:#343028; }
#footer #copyright{ padding:7px 0 15px; text-align:center; }
#footer #footer_logo{ margin:0 auto 25px; width:159px; height:54px; background:url(images/sprite_png8.png) 0 -185px; }

/*-- Index --*/
#promo.index #agency_finder { width:292px; border-bottom: solid 1px #000; min-height:1px; float:left; margin-right:8px; }
#promo.index #agency_finder h2{ height:33px; padding:0 0 0 31px; margin:0; background:url(images/index_sprite_png8.png); font-size:18px; color:#fff; line-height:33px; }
#promo.index #agency_finder h2:hover{ cursor:pointer; }
#promo.index #agency_finder .module{ padding: 0; }
#promo.index #agency_finder img{ padding-top: 9px; }
#promo.index #agency_finder .ui-accordion-content { height: 172px; padding: 7px 18px 8px 18px; text-align:center; background:#fff url(images/agency_finder.png) repeat-x center bottom; border:0px solid #000; border-width:0 1px; }
#promo.index #agency_finder .ui-accordion-content-active { height: 172px; }
/*#promo.index #agency_finder .ui-accordion  > div  + div  .ui-accordion-content { height: 143px !important; }
#promo.index #agency_finder .ui-accordion  > div  + div + div  .ui-accordion-content { height: 143px !important; }*/
#promo.index #agency_finder .open{ width:15px; height:15px; margin:13px 8px 0 0; background:url(images/arrows.png) no-repeat; display:block; float:left; }
#promo.index #agency_finder .closed{ width:15px; height:15px; margin:13px 8px 0 0; background:url(images/arrows.png) no-repeat 0 -15px; display:block; float:left; }
#promo.index #image_rotator{ width:642px; height:287px; float:left; }
#promo.index #image_rotator ul{ margin:0; list-style-type:none; }
#promo.index #image_rotator ul li{ list-style-type:none; }

#main.index{ padding-top:10px; }
#main.index #content_col1{ width:230px; min-height:1px; margin-right:7px; float:left; }
#main.index #content_col2{ width:230px; min-height:1px; margin-right:7px; float:left; }
#main.index #content_col3{ width:230px; min-height:1px; margin-right:8px; float:left; }
#main.index #content_col4{ width:230px; min-height:1px; float:left; }
#main.index #content{ }
#main_bottom{ height:61px; }
#main_bottom #bottom_nav{ margin:0; font-size:14px; }
#main_bottom #bottom_nav li{ float:left; list-style-type:none; }
#main_bottom #bottom_nav li a{ color:#fff; text-align:center; display:block; }
#main_bottom #bottom_nav li a{ padding:26px 0 18px; }
@media screen and (-webkit-min-device-pixel-ratio:0) {#main_bottom #bottom_nav li a{ padding:28px 0 16px; }}
#main_bottom #bottom_nav li a, x:-moz-any-link { padding:26px 0 17px; }
#main_bottom #bottom_nav li.media a{ width:235px; background:url(images/index_bottom.png) no-repeat; }
#main_bottom #bottom_nav li.media a:hover{ background-position:0 -61px; color:#93bdda; text-decoration:none; }
#main_bottom #bottom_nav li.claim a{ width:233px; background:url(images/index_bottom.png) -235px 0 no-repeat; }
#main_bottom #bottom_nav li.claim a:hover{ background-position:-235px -61px; color:#93bdda; text-decoration:none; }
#main_bottom_social{ width:344px; height:32px; padding:14px 0 15px 130px; background:url(images/index_bottom_social.png) no-repeat; float:left; }
#main_bottom_social a{ height:24px; width:24px; display:block; float:left; }
#main_bottom_social .linkedin{ margin-right:8px; }
#main_bottom_social .youtube{ margin-right:8px; }
#main_bottom_social .facebook{ margin-right:8px; }
#main_bottom_social .like_button{ width:225px; padding-left:5px; float:left; }
#main_bottom_social .like_button iframe{ width:225px !important; }

/*-- Sub --*/
#promo.sub #agency_finder{ width:252px; height:107px; padding:10px 20px; margin-right:8px; float:left; background:url(images/sprite_png8.png) 0 -239px; }
#promo.sub #header_image{ width:640px; height:125px; padding:1px; float:left; background:url(images/header_image.png); }

#main.sub #main_left{ width:292px; min-height:1px; padding-right:8px; float:left; }
#main.sub #main_left #side_nav_top{ height:1px; background:url(images/sprite_png8.png) 0 -365px; }
#main.sub #main_left #side_nav_bottom{ height:6px; margin-bottom:10px; background:url(images/sprite_png8.png) 0 -366px; }
#main.sub #main_right{ width:642px; float:left; }
#main.sub #main_right_top{ height:55px; background:url(images/main_right_top.png); }
#main.sub #main_right_top .custom_header{ float:left; width:450px; }
#main.sub #page_tools{ width:183px; padding:23px 0 0 4px; float:left; }
#main.sub #page_tools #text_resize{ width:43px; padding-left:10px; float:left; font:bold 10px Arial; }
#main.sub #page_tools #text_resize .text_10{ font-size:10px; }
#main.sub #page_tools #text_resize .text_13{ font-size:13px; }
#main.sub #page_tools #text_resize .text_16{ font-size:16px; }
#main.sub #page_tools #text_resize .text_here{ text-decoration:underline; }
#main.sub #page_tools #print{ width:23px; height:18px; float:left; background:url(images/sprite_png24.png) -128px 0; }
#main.sub #page_tools #share{ width:90px; padding:3px 0 0 10px; float:left; }
#main.sub #main_right_middle{ background:url(images/main_right_middle.png) repeat-y; }
#main.sub #main_right_middle_inner{ min-height:1px; margin:0 3px 0 2px; background:url(images/main_right_middle_inner.png) center bottom repeat-x; }
#main.sub #breadcrumbs{ padding:8px 19px; text-align:right; font-size:9px; }
#main.sub #cart{ display:none; }
#main.sub #cart.Television{ display:block; }
#main.sub #content{ padding:0 18px 10px 17px; line-height:20px; }
#main.sub #content ul { margin-left: 20px; }
#main.sub #content ul li { list-style: disc; }
#main.sub #content_left_col{ width:279px; float:left; }
#main.sub #content_right_col{ width:279px; padding-left:44px; float:left; }
#main.sub #main_right_bottom{ height:3px; background:url(images/main_right_bottom.png); }

#main.full #main_right{ width:942px; float:left; }
#main.full #main_right_top{ height:55px; background:url(images/main_right_top.png) right 0; }
#main.full #main_right_top.locator{ background:url(images/main_right_top2.png) right 0; }
#main.full #page_tools{ width:183px; padding:23px 0 0 306px; float:left; }
#main.full #page_tools #text_resize{ width:43px; padding-left:10px; float:left; font:bold 10px Arial; }
#main.full #page_tools #text_resize .text_10{ font-size:10px; }
#main.full #page_tools #text_resize .text_13{ font-size:13px; }
#main.full #page_tools #text_resize .text_16{ font-size:16px; }
#main.full #page_tools #print{ width:23px; height:18px; float:left; background:url(images/sprite_png24.png) -128px 0; }
#main.full #page_tools #share{ width:90px; padding:3px 0 0 10px; float:left; }
#main.full #main_right_top.locator #page_tools #share{ padding-left:85px; }
#main.full #main_right_middle{ background:url(images/main_right_middle_full.png) repeat-y; }
#main.full #main_right_middle_inner{ min-height:1px; margin:0 3px 0 2px; background:url(images/main_right_middle_inner.png) center bottom repeat-x; }
#main.full #breadcrumbs{ padding:8px 19px; text-align:right; font-size:9px; }
#main.full #content{ padding:0 18px 0 17px; line-height:20px; }
#main.full #content_left_col{ width:279px; float:left; }
#main.full #content_right_col{ width:279px; padding-left:44px; float:left; }
#main.full #main_right_bottom{ height:3px; background:url(images/main_right_bottom.png); }

/*-- Headers --*/
h2{ padding-bottom:17px; font:normal 20px Tahoma; color:#000; }
h2 a{ /*color:#005da0;*/ color: #000; }
h2 a:hover { /*color: #000 !important;*/ }
h3{ font:bold 14px Tahoma; padding-bottom:6px; }

#main.sub h1{ width:437px; height:55px; padding-left:18px; float:left; font:normal 22px/55px Tahoma; color:#fff; /*text-transform:uppercase; removed per cx request*/ }
#main.full h1{ width:434px; height:55px; padding-left:18px; float:left; font:normal 22px/55px Tahoma; color:#fff; /*text-transform:uppercase; removed per cx request*/ background:url(images/main_right_top.png) left 0; }

/*-- Links --*/
a:link,
a:visited,
a:active{ color:#005da0; text-decoration:none; }
a:hover{ color:#0082e0; text-decoration:underline; }

#header #header_logo a{ width:292px; height:75px; }
#promo.sub #agency_finder a{ color:#343028; }
#main.sub #page_tools #text_resize a,
#main.full #page_tools #text_resize a{ color:#fcfcfc; }
#main.sub #breadcrumbs a,
#main.full #breadcrumbs a{ color:#6c6f70; }

/*-- FormMaster CSS (module.css) --*/
.aoi_form{ width:100%; }
.aoi_form .form_label{ font-size:14px; }
.aoi_form .form_tb{ margin-bottom:10px; height:20px; width:400px; }
.aoi_form .form_multiline{ margin-bottom:10px; width:400px; }
.aoi_form .form_tb_small{ margin-bottom:10px; height:20px; width:125px; margin-right:10px; }
.aoi_form .form_tb_agency{ width:165px; height:28px; padding:0 5px; margin:0 6px 0 0; background:url(images/sprite_png24.png) 0 -53px no-repeat; border:none; }
.aoi_form .form_submit_find{ width:70px; height:30px; display:block; background:url(images/sprite_png24.png) -53px -23px; text-indent:-9000px; }
.aoi_form .form_submit_quote{ width:70px; height:30px; display:block; background:url(images/ButtonQuote.png); text-indent:-9000px; }

/*-- User Classes (user.css) --*/
.padding_5{ padding:5px; }
.padding{ padding:10px; }
.padding_right{ padding-right:14px; }
.padding_left{ padding-left:14px; }
.padding_top{ padding-top:14px; }
.padding_bottom{ padding-bottom:14px; }
.learn_more{ padding-right:14px; display:block; background:url(images/learn_more.png) right 2px no-repeat; text-align:right; font:bold 11px Tahoma; }
.learn_more:hover{ background:url(images/learn_more_hover.png) right 2px no-repeat; text-decoration:none; }
.learn_more_index{ width:99px; height:30px; margin-left:110px; display:block; background:url(images/learn_more_index.png) no-repeat; text-indent:-90000px; }
.learn_more_index:hover{ background-position:0 -30px; }
.shadow_border{ height:82px; width:74px; padding:4px 6px 20px; background:url(images/shadow_border.png) no-repeat; }

/*-- Global Classes --*/
.clear{ clear:both; }
.hide{ outline:0; text-indent:-9999px; display:block; }
.False{ display:none; }
#flash-video{ display:none; }
@media aural { .addr{ speak-numeral:continuous; } .tel, .zip{ speak-numeral:digits; } }

/*-- Rotator --*/
#img_panels { border:1px solid #413d35; position:relative; z-index:0; }
#img_panels > div { display:none; width:640px; height:285px; overflow:hidden; position:relative; }
#img_panels > .module span { background:url('images/transparent.gif'); position:absolute; width:366px; height:223px; top:43px; left:135px; cursor:pointer; }
#img_panels > div:first-child { display: block; }
#img_panels .moudle a { text-decoration:none; display:block; width:640px; height:285px; }
#img_nav li, #img_nav li.activeSlide, #img_nav li:hover, #img_nav li.activeSlide:hover, .pager_left, .pager_right { background:url(images/slider_sprite.png) no-repeat; }
#img_nav { background:url('images/slider_bg.png'); display:none; border:1px solid #413d35; width:auto; overflow:hidden; position:absolute; right:10px; bottom:10px; z-index:2; -moz-border-radius:5px; -webkit-border-radius:5px; }
#img_nav li { background-position:0 -88px ; width:20px; height:15px; border-left:1px solid #413d35; cursor:pointer; float:left; }
#img_nav >li:first-child { border-left:none; }
#img_nav li.activeSlide{ background-position:-20px -88px ; width:20px; height:15px; }
#img_nav li:hover, #img_nav li.activeSlide:hover{ background-position:-40px -88px ; width:20px; height:15px; }
.pager_btn { position:absolute; width:34px; height:44px; z-index:2; top:125px; display:none; cursor:pointer; }
.pager_left{ left:0; background-position:0 0; width:34px; height:44px; }
.pager_right{ right:0; background-position:0 -44px ; width:34px; height:44px; }
#img_nav li{  }

/*-- More Button --*/
a.toggleMore { font-size: 13px !important; font-weight: normal !important; color: #1F81A8 !important; background: none !important; box-shadow: none !important; text-shadow: none !important; display: block; text-align: center; border-top: 2px gray solid; border-bottom: 1px black solid;}
div.Normal a.toggleMore { display: none; }
/* Fixing issue with disappearing in IE7 */
.DnnModule .summary { zoom:1; }
.DnnModule .Normal { zoom:1; }

/*-- Television Order Form --*/
.CommercialErrorBox{color:#CC3333; font-family: arial; font-weight: bold; font-size: 12px;}
.CommErrLeftDiv {float:left; padding-left:5px;}
.CommErrRightDiv {padding-left:30px; padding-top:px;}
form[action$="order-form-for-commercials"] .CommandButton{overflow: hidden; display: inline;}
form[action$="order-form-for-commercials"] a.CommandButton {display: block; width: 98px; height: 32px; background-position: 0px 0px; text-indent: -9999px;background:url(/Portals/_default/skins/AutoOwners_New/images/ButtonSubmitSprite.png);}
form[action$="order-form-for-commercials"] a.CommandButton:hover {background-position: 0px -32px;}
form[action$="order-form-for-commercials"] .form_checkbox td {padding-right:15px;}
form[action$="order-form-for-commercials"] #header_image #dnn_ImagePane {background: url("/Portals/0/images/top_banner/mediaBanner.png"); width:640px; height:125px;}

/*--Video player--*/
.rotator_video_player{width:483px; height:285px;background:black;}

/*quote.ascx AddThis page*/
.addThisHeader{width:100%;padding-top:15px;}
.addThisFooter{width:100%;}
.getAQuoteText{font-size:14pt;font-family:sans-serif;color:#204071;font-weight:bold; text-align:center; padding-top:5px; padding-bottom:11%;}
.zipCodeText{font-size:10pt; font-weight:bold; padding-left:46px; float:left; margin-top:1.3%;}
.txtZipCodeSearch{margin-left:3%;margin-right:3%;height:25px;width:118px; float:left;}
.jdPowerText{text-align:center; font-size:9px;font-family:Tahoma;color:#343028;}
.quoteImage{margin-left:1.4%;}
.searchFindImage{height: 23px;width: 50px;padding-top:1px;padding-left:14px;}
.quoteImageAnchor{ cursor:pointer;}
.quoteBoxWrapper{border:solid;width:39%;height:150px;border-color:#d3d3d3;border-width:3px; margin-left:auto;margin-right:auto;margin-top:8%;margin-bottom:8%;/* IE10 Consumer Preview */ background-image: -ms-linear-gradient(top, #FFFFFF 0%, #EBEBEB 100%);/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #FFFFFF 0%, #EBEBEB 100%);/* Opera */ background-image: -o-linear-gradient(top, #FFFFFF 0%, #EBEBEB 100%);/* Webkit (Safari/Chrome 10) */ background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #EBEBEB));/* Webkit (Chrome 11+) */ background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #EBEBEB 100%);/* W3C Markup, IE10 Release Preview */ background-image: linear-gradient(to bottom, #FFFFFF 0%, #EBEBEB 100%);/* for IE */filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#EBEBEB'); }

/*-- Line Promos --*/
.ProtectingYourFamily, .PropertyAndLiability, .SecurityOnTheRoad, .GuardingYourInvestment{ background:url(images/line_promo_sprite.png) no-repeat; }
.ProtectingYourFamily{ background-position:0 0; width:152px; height:18px; }
.PropertyAndLiability{ background-position:0 -18px ; width:139px; height:18px; }
.SecurityOnTheRoad{ background-position:0 -36px ; width:180px; height:18px; }
.GuardingYourInvestment{ background-position:0 -54px ; width:169px; height:18px; }

/*-- Social Media --*/
.linkedin, .youtube, .facebook{	background:url(images/social_media_sprite.png) no-repeat; }
.linkedin{ background-position:0 0; width:24px; height:24px; }
.youtube{ background-position:-24px 0; width:24px; height:24px; }
.facebook{ background-position:-48px 0; width:24px; height:24px; }
.addthis_button img { width:74px; height:14px; border:0; }