body {margin: 0pt; padding: 0pt; font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: #000000;  margin-left:20px; width:900px;}

.editdiv { display:none; }
img {border:0;}
p {margin-bottom:20px;}

a { color:#000000; text-decoration:underline;}
a:visited { color:#000000; text-decoration:underline; }
a:active { color:#000000; text-decoration:underline; }
a:hover { color:#2075A7; text-decoration:underline; }

.filler {clear:both; height:200px;}

/* Print friendly header - appears only on the "print friendly" CSS, not on the screen or print CSS */
div#printfriendly {display:none;}


/* Page header and it's nested content divs */
.bodyTop {display:none;}
#header {display:none;}
#header .container {display:none;}
#header .logo {display:none;}
div.searchArea .searchForm {display:none;}  
#header .switchSites h1 {display:none;}
#header .switchSites h2 {display:none;}
#KraftLoginLogout, #ctl00_siteAction {display:none;}

#prinav { display:none; }
#leftNav { display:none; }
#quickLinks { display:none; }
#corpNews { display:none; }
#stockInfo { display:none; }
#signUp { display:none; }
#responsibility { display:none; }
#history { display:none; }
#factSheet { display:none; }
#brandsAds { display:none; }
#featuredBrandMod	 { display:none; }
#flashBrandSelector { display:none; }
#jobOpportunities { display:none; }
#generalModRt { display:none; }
#contentRight {display:none;}

#header .searchArea {float:left; margin-top:15px; margin-left:85px; margin-top:37px;}

#header .switchSites {float:left; width:159px; height:47px; margin-left:80px; margin-top:29px;}
 
.content2col {float:left; margin: 0px; padding:0 0 20px 0; width:870px;}

.content3Col {float:left; margin: 0px; padding:0 0 20px 0; width:870px;}

.contentFull {float:left; width:870px; margin:0px; padding:0 0 20px 0;}



/* ****************************************************************

GENERAL FOCUS ITEMS & CONTENT ITEMS

**************************************************************** */

div.content table { width:100% ; border-collapse:collapse ; }

th { text-align:left ; }

td { vertical-align:top ; }

div.content { font-size:12px ; line-height:16px ; }

	div.content p { margin:0 0 20px 0 ; padding:0 ; }	
	div.content ul { padding:0px 0px 0px 0px;  margin:0px 0px 0px 0px; text-align: left;}	
	div.content ul li {padding: 0px 0px 0px 0px; }	
	div.content ul a {  text-decoration:underline ; }	
	div.content ul a:hover { color:#2075A7; text-decoration:underline ; }	
	div.content a {  text-decoration:underline ; }
	div.content a:hover {  color:#2075A7; text-decoration:underline ; }	
	div.content h1 { color:#003399; font-size:16px; margin-bottom:0px; font-weight: bold; margin-top:0px; padding-top:0px;}
	div.content h2 { font-size:12px; font-weight:bold; margin-top:0px; padding-top:0px; margin-bottom:0px; padding-bottom:0px; }		
	div.content h3 { font-weight:bold ;font-size:11px ; margin-top:0px; padding-top:0px;}	
	div.content a img { border:none;}
	
div.contentFull div.TitleAndDescription { width:100% ; margin-bottom:10px;}

        div.contentFull div.TitleAndDescription h1{ color:#003399; font-size:16px; margin-bottom:15px; font-weight: bold; margin-top:0px; padding-top:0px;}
	   div.contentFull div.TitleAndDescription h2  { font-size:12px; font-weight:bold; margin-top:0px; padding-top:0px; margin-bottom:0px; padding-bottom:0px; }	
        div.contentFull div.TitleAndDescription div.textArea { margin:0px 0px 5px 0px ;}

div.content2col div.TitleAndDescription { width:100% ; margin-bottom:10px;}

        div.content2col div.TitleAndDescription h1 { color:#003399; font-size:16px; margin-bottom:15px; font-weight: bold; margin-top:0px; padding-top:0px;}
	   div.content2col div.TitleAndDescription h2  { font-size:12px; font-weight:bold; margin-top:0px; padding-top:0px; margin-bottom:10px; padding-bottom:0px; }	
        div.content2col div.TitleAndDescription div.textArea { margin:0px 0px 5px 0px ; }

div.content3Col div.TitleAndDescription { width:100% ; margin-bottom:10px;}

        div.content3Col div.TitleAndDescription h1{ color:#003399; font-size:16px; margin-bottom:15px; font-weight: bold; margin-top:0px; padding-top:0px;}
	   div.content3Col div.TitleAndDescription h2  { font-size:12px; font-weight:bold; margin-top:0px; padding-top:0px; margin-bottom:10px; padding-bottom:0px; }	
        div.content3Col div.TitleAndDescription div.textArea { margin:0px 0px 5px 0px ; }

div.TitleOnly { width:100% ; margin-bottom:10px;}
        div.contentFull div.TitleOnly h1 { color:#003399; font-size:16px; margin-bottom:15px; font-weight: bold; margin-top:0px; padding-top:0px;}
        div.contentFull div.TitleOnly h2  { font-size:12px; font-weight:bold; margin-top:0px; padding-top:0px; margin-bottom:0px; padding-bottom:0px; }	   
        div.contentFull div.TitleOnly div.textArea { margin:0px 0px 5px 0px ;}
        div.contentCentre div.TitleOnly h1{ color:#003399; font-size:16px; margin-bottom:0px; font-weight: bold; margin-top:0px; padding-top:0px;}
        div.contentCentre div.TitleOnly h2 { font-size:12px; font-weight:bold; margin-top:0px; padding-top:0px; margin-bottom:0px; padding-bottom:0px; }	
        div.content2col div.TitleOnly h1{ color:#003399; font-size:16px; margin-bottom:15px; font-weight: bold; margin-top:0px; padding-top:0px;}
        div.content2col div.TitleOnly h2 { font-size:12px; font-weight:bold; margin-top:0px; padding-top:0px; margin-bottom:10px; padding-bottom:0px; }	
        div.content3Col div.TitleOnly h1{ color:#003399; font-size:16px; margin-bottom:15px; font-weight: bold; margin-top:0px; padding-top:0px;}
        div.content3Col div.TitleOnly h2 { font-size:12px; font-weight:bold; margin-top:0px; padding-top:0px; margin-bottom:10px; padding-bottom:0px; }	
	   
div.DescriptionOnly { width:100% ; margin-bottom:10px;}
        div.contentFull div.DescriptionOnly h1 { color:#003399; font-size:16px; margin-bottom:15px; font-weight: bold; margin-top:0px; padding-top:0px;}
	    div.contentFull div.DescriptionOnly h2  { font-size:12px; font-weight:bold; margin-top:0px; padding-top:0px; margin-bottom:0px; padding-bottom:0px; }	
        div.contentFull div.DescriptionOnly div.textArea { margin:0px 0px 0px 0px ;}
        div.contentCentre div.DescriptionOnly h1{ color:#003399; font-size:16px; margin-bottom:0px; font-weight: bold; margin-top:0px; padding-top:0px;}
	   div.contentCentre div.DescriptionOnly h2 { font-size:12px; font-weight:bold; margin-top:0px; padding-top:0px; margin-bottom:10px; padding-bottom:0px; }	


div.PressReleaseTitleOnly { width:100% ; margin-bottom:10px;}
        div.contentFull div.PressReleaseTitleOnly h1 { color:#000000; font-size:12px; margin-bottom:0px; font-weight: bold; margin-top:0px; padding-top:0px;}
        div.contentFull div.PressReleaseTitleOnly h2  { font-size:12px; font-weight:bold; margin-top:0px; padding-top:0px; margin-bottom:0px; padding-bottom:0px; font-style:italic;}	   
        div.contentFull div.PressReleaseTitleOnly div.textArea { margin:0px 0px 5px 0px ;}
        div.contentCentre div.PressReleaseTitleOnly h1{ color:#000000; font-size:12px; margin-bottom:0px; font-weight: bold; margin-top:0px; padding-top:0px;}
        div.contentCentre div.PressReleaseTitleOnly h2 { font-size:12px; font-weight:bold; margin-top:0px; padding-top:0px; margin-bottom:0px; padding-bottom:0px; font-style:italic;}	
        div.content2col div.PressReleaseTitleOnly h1{ color:#000000; font-size:12px; margin-bottom:0px; font-weight: bold; margin-top:0px; padding-top:0px;}
        div.content2col div.PressReleaseTitleOnly h2 { font-size:12px; font-weight:bold; margin-top:0px; padding-top:0px; margin-bottom:10px; padding-bottom:0px; font-style:italic;}	
        div.content3Col div.PressReleaseTitleOnly h1{ color:#000000; font-size:12px; margin-bottom:0px; font-weight: bold; margin-top:0px; padding-top:0px;}
        div.content3Col div.PressReleaseTitleOnly h2 { font-size:12px; font-weight:bold; margin-top:0px; padding-top:0px; margin-bottom:10px; padding-bottom:0px; font-style:italic;}	

	   
div#contentCentre div.ProductTitle{ color:#003399; font-size:16px; margin-bottom:15px; font-weight: bold; margin-top:0px; padding-top:0px;}
div#contentCentre div.TitleOnly { width:100% ; margin-bottom:0px;}
div#contentCentre div.TitleOnly h1{ color:#003399; font-size:16px; margin-bottom:15px; font-weight: bold; margin-top:0px; padding-top:0px;}
div#contentCentre div.TitleOnly h2   { font-size:12px; font-weight:bold; margin-top:0px; padding-top:0px; margin-bottom:10px; padding-bottom:0px; }	
  

div.stdContBlock {float:left ; margin: 0 ; padding:0 ;  width:100%; }

div.stdContBlock h1{ color:#003399; font-size:16px; margin-bottom:15px; font-weight: bold; margin-top:0px; padding-top:0px;}
div.stdContBlock h2   { font-size:12px; font-weight:bold; margin-top:0px; padding-top:0px; margin-bottom:0px; padding-bottom:0px; }	
div.stdContBlock h3   { font-size:10px;  font-style:italic; font-weight:bold; margin-top:0px; padding-top:0px; margin-bottom:0px; padding-bottom:0px; }	

	div.stdContBlock div.stdContHeadImg { padding-bottom:5px ; }
	div.stdContBlock div.textArea { width:100% ; padding-bottom:0px ; }
	div.stdContBlock div.textArea h1 {margin:0 0 3px 0 ; padding:0 ; font-weight:normal ; font-size:14px ; }
	div.stdContBlock div.textArea h2 {margin:0 0 3px 0 ; padding:0 ; font-weight:bold ; font-size:12px ; }
	div.stdContBlock div.textArea h3   { font-size:10px;  font-style:italic; font-weight:bold; margin-top:0px; padding-top:0px; margin-bottom:0px; padding-bottom:0px; }	
	div.stdContBlock div.textArea ul { padding:0px; text-align: left; margin-bottom: 20px; margin-left:1em; }
	div.stdContBlock div.textArea ul li { margin-left:5px; }	
	div.stdContBlock div.textArea ol { padding:0px; text-align: left; margin-bottom: 20px; margin-left:2.3em; }
	div.stdContBlock div.textArea ol li { margin: 0px 0px 2px 0px; }	
	div.stdContBlock div.textArea dl { padding:0px; text-align: left; margin-bottom: 20px; margin-left:1.3em; }
	div.stdContBlock div.textArea dl li { margin:0px; }	
	
	div.stdContBlock .readMoreLink
	{
	float:right; width:100%; padding:0px; margin:0px; text-align:right; 
	}
		div.stdContBlock .readMoreLink a {text-align:right; font-family:HelveticaNeue 45 Light, Arial, sans-serif; font-size:10px; text-decoration:none; color: #2075a7;}
		div.stdContBlock .readMoreLink a:hover {text-align:right; font-family:HelveticaNeue 45 Light, Arial, sans-serif; font-size:10px; text-decoration:none; color: #666666;}

div.stdContBlock div.imageBoxLeft { float: left; margin-right:25px ; padding:8px 0 12px 0 ; }

	div.stdContBlock div.imageBoxLeft img { display:block ; margin-bottom:9px ; }
	div.stdContBlock div.imageBoxLeft h1 { margin:2px 7px 0 7px ; }
	
div.stdContBlock div.imageBoxRight { float: right; margin-left:15px ; padding:8px 0 12px 0 ; }

	div.stdContBlock div.imageBoxRight img { display:block ; margin-bottom:9px ; }
	div.stdContBlock div.imageBoxRight h1 { margin:2px 7px 0 7px ; line-height:15px ; }

div.largeFocusItem { clear:left ; margin:0 ; padding: 0 ; width: 100%; }

	div.largeFocusItem div.imageBoxLeft { float:left; margin:0 ; padding:0 15px 0 0 ; }
	div.largeFocusItem div.imageBoxRight { float:right; margin:0 ; padding:0 0 0 15px; }
	div.largeFocusItem h1 { margin:15px 0 5px 0 ; padding:0 ; font-size:16px ; line-height:21px ; font-weight:bold;}
	div.largeFocusItem div.textArea { margin:0 ; padding:0px 0px 5px 0px ;  } 
	div.largeFocusItem h2 { font-size:12px; font-weight:bold; margin-top:0px; padding-top:0px; margin-bottom:10px; padding-bottom:0px; }	
	div.largeFocusItem h2 a { display:block ; text-decoration:underline ; font-weight:normal ; }
	div.largeFocusItem h2 a:hover {  color:#2075A7; text-decoration:underline ;  }

div#smallFocusItem1 { clear: both; }

div.smallFocusItem { float:left ; margin:10px 11px 0 0 ;
 /* all browsers including Mac IE */
*margin:10px 11px 0 0 ; /* IE 7 and below */
_margin:10px 0px 0 0 ; /* IE 6 and below */
padding:0 ; width:236px ; }

	div.smallFocusItem img, div.smallFocusItem a img { display:block ; padding: 0 0 5px 0;}
	div.smallFocusItem div.imageBoxLeft { float:left; margin:0 ; padding:0 5px 0 0 ; }
	div.smallFocusItem div.imageBoxRight { float:right; margin:0 ; padding:0 0 0 5px; }	
	div.smallFocusItem h1 {font-size:14px ; margin:0 ; padding:0px 0px 0 5px ;  line-height:16px ; font-weight:normal; }
	div.smallFocusItem div { margin:0 ; padding:0px 5px 5px 5px ; }
	div.smallFocusItem div.textArea { margin:0 ; padding:0px 0px 5px 5px ; width:236px ; } 
	div.smallFocusItem h2 { font-size:12px; font-weight:bold; margin-top:0px; padding-top:0px; margin-bottom:10px; padding-bottom:0px; }	
	div.smallFocusItem h2 a { font-weight:normal ; text-decoration:underline ; }
	div.smallFocusItem h2 a:hover { color:#2075A7; text-decoration:underline ;  }
	div.smallFocusItem div.textArea { font-size: 11px; }

	
	
	
div#contHeader { width:100% ; }

div#contHeader h1 { color:#003399; font-size:16px; margin-bottom:0px; font-weight: bold; margin-top:0px; padding-top:0px;}
div#contHeader img { padding-bottom:5px ; }
div#contHeader div.imageBoxRight { float: right; margin-left:15px ; padding:8px 0 12px 0 ; }

div.TitleAndDescription { margin-bottom:0px;}
div#contentFull div.TitleAndDescription h1 { color:#003399; font-size:16px; margin-bottom:15px; font-weight: bold; margin-top:0px; padding-top:0px;}
div#contentFull div.TitleAndDescription div.textArea { margin:0px ; }
div.TitleOnly {width:100%;margin-bottom:0;}
div#contentFull div.TitleOnly h1 { color:#003399; font-size:16px; margin-bottom:15px; font-weight: bold; margin-top:0px; padding-top:0px;}
div#contentFull div.TitleOnly div.textArea { margin:0px ;}
div#contentCentre div.TitleOnly h1 { color:#003399; font-size:16px; margin-bottom:15px; font-weight: bold; margin-top:0px; padding-top:0px;}

.readMoreLink
{
float:right; width:100%; padding:0px; margin:0px; text-align:right; 
}
	.readMoreLink a {text-align:right; font-family:HelveticaNeue 45 Light, Arial, sans-serif; font-size:10px; text-decoration:none; color: #2075a7;}
	.readMoreLink a:hover {text-align:right; font-family:HelveticaNeue 45 Light, Arial, sans-serif; font-size:10px; text-decoration:none; color: #666666;}
	
.divider 
{
float:left; clear:both; width:100%; border-bottom:1px dotted #000000; padding-top:12px; margin-bottom:12px;
}	



/* content sections */

#breadcrumbs {float:left; width:100%; font-size:10px; font-family: Arial, Helvetica, sans-serif; color:#999999; padding:0px; margin-bottom:15px;}
#breadcrumbs a {color:#666666; font-weight:bold; text-decoration:underline; font-size:10px; }
#breadcrumbs a:hover {color:#2075A7; font-weight:bold; text-decoration:underline; font-size:10px; }
div#home div#breadcrumbs { display:none ; }	

#investingInKraft {float:left; clear:both; width:400px; }
#investingInKraft .focus1 {float:left; width:100%; height: 112px; margin-right:15px;}
#investingInKraft .focus1 .title { color:#FF0000; font-size:12px; text-decoration:none; font-weight:bold; padding: 6px 0px 8px 9px;}
#investingInKraft .focus1 .photo { float:left; clear:both; text-align:center; padding: 0px 0px 0px 5px;}

#investingInKraft .focus2 {float:left; width:100%; height: 112px; margin-right:15px;}
#investingInKraft .focus2 .title { color:#FF0000; font-size:12px; text-decoration:none; font-weight:bold; padding: 6px 0px 8px 9px;}
#investingInKraft .focus2 .photo { float:left; clear:both; text-align:center; padding: 0px 0px 0px 5px;}

#investingInKraft .focus3 {float:left; width:100%; height: 112px;}
#investingInKraft .focus3 .title { color:#FF0000; font-size:12px; text-decoration:none; font-weight:bold; padding: 6px 0px 8px 9px;}
#investingInKraft .focus3 .photo { float:left; clear:both; text-align:center; padding: 0px 0px 0px 5px;}

#imageGalleryMedia {float:left; clear:right; width:400px;}
#imageGalleryMedia .focus1 {float:left; width:100%; padding-bottom:20px;}
#imageGalleryMedia .focus1 .title { color:#FF0000; font-size:12px; text-decoration:none; font-weight:bold; padding: 6px 0px 6px 9px;}
#imageGalleryMedia .focus1 .photo { float:left; clear:both; width:122px; height:82px; text-align:center; padding: 0px 0px 0px 0px; }	

#imageGalleryMedia .focus2 {float:left; width:100%; background: url('../assets/images/global/smallFocus_bg.gif')/*tpa=http://www.kraftfoodsgroup.com/assets/images/global/smallFocus_bg.gif*/; background-repeat: no-repeat; margin-right:15px;}
#imageGalleryMedia .focus2 .title { color:#FF0000; font-size:12px; text-decoration:none; font-weight:bold; padding: 6px 0px 6px 9px; }
#imageGalleryMedia .focus2 .photo { float:left; clear:both; width:122px; height:82px; text-align:center; padding: 0px 0px 0px 0px;  }	

#imageGalleryMedia .focus3 {float:left; width:100%; background: url('../assets/images/global/smallFocus_bg.gif')/*tpa=http://www.kraftfoodsgroup.com/assets/images/global/smallFocus_bg.gif*/; background-repeat: no-repeat; margin:0px;}
#imageGalleryMedia .focus3 .title { color:#FF0000; font-size:12px; text-decoration:none; font-weight:bold; padding: 6px 0px 6px 9px; }
#imageGalleryMedia .focus3 .photo { float:left; clear:both; width:122px; height:82px; text-align:center; padding: 0px 0px 0px 0px;  }		

#brandFocus {float:left; width:565px;}
#brandFocus .focus1{float:left; width:137px; margin-right:3px;}
#brandFocus .focus2{float:left; width:137px; margin-right:3px;}

#careerFocus {float:left; clear:both; width:397px;}
#careerFocus .focus1 {float:left; width:100%; margin:0px 15px 15px 0px;}
#careerFocus .focus1 .title {float:left; color:#000000; font-size:12px; text-decoration:none; font-weight:bold; padding: 0px 0px 3px 0px; height:30px;}
#careerFocus .focus1 .copy {float:left; width: 175px; height: 85px;  padding: 8px; font-size:11px;}

#careerFocus .focus2 {float:left; width:100%;  margin:0px 0px 15px 0px;}
#careerFocus .focus2 .title {float:left; color:#000000; font-size:12px; text-decoration:none; font-weight:bold; padding: 0px 0px 3px 0px; height:30px;}
#careerFocus .focus2 .copy {float:left; width: 175px; height: 85px; padding: 8px; font-size:11px;}		

#heroJoin {float:left;width:462px;} 
.stdContBlock_join {float:left;width:100%;}
.stdContBlock_join .textArea { font-size:19px;}

#respHero {float:left;width:386px;}
#respHeroRg {float:left;width:184px; margin-left:13px;}
#respHeroLf {clear: left;float:left;margin: 0 13px 15px 0;width: 168px;}
#respGoals {float:left;width: 597px;}
.stdContBlock_resp { float:left; width:100%;}
.stdContBlock_resp .textArea { font-size:19px;}

.stdContBlock_invest { float:left; width:100%;}
.stdContBlock_invest .textArea { font-size:19px;}
.largeFocusItem_lp {width: 100%;}
.largeFocusItem_lp .imageBoxRight {float: right;}

#businessUpdates {display:none;}
#businessLinks {display:none;}
#marketMap {display:none;}
#corpNewsMarket .market {float:left;width:55px;}
#corpNewsMarket .points {float:left;clear:right;width:115px;}
.stdContBlock_corpNews {float: left;width:100%;}
#corpNewsFeed {float: left;width:100%;}
#corpNewsEvents {float: left;width:100%;}
#corpNewsMarket {float: left;width:100%;}

#newsTitle {float: left;margin: 0 10px 15px 0;width: 250px;}
#corpNewsRelease {float:left;width:251px;margin-right:10px;}
#newsCol {float:left;clear:right;width: 251px;margin-right:10px;}
#newsCol .infoBox .title {margin-bottom:-20px;}
#newsCol .infoBox .textArea {margin-top: -90px;position: relative;width: 95%;}

#newsColRt {float:left;clear:right;width:251px;margin-right:10px;}
#newsColRt .infoBox .title {margin-bottom:-20px;}
#newsColRt .infoBox .textArea {display:none;}
.news_jumplist {display:none;}
.stdContBlock_news { float:left; width:100%;}
.stdContBlock_news .textArea { font-size:19px;}

#brandsLetters span.off {visibility:hidden;}

.countryList {float:left;margin-bottom:15px;width:100%;}
.countryList .col1, .countryList .col2, .countryList .col3 {float:left;width:245px;}

#investorLogos { display:none; }
	
/* Homepage */
#whatsNew_hp{float:left; width:360px; padding-right:10px;}
#whatsNew_hp .infoBox .infoBoxHdr h1{font-size:13px;}
#whatsNew_hp .infoBox .infoBoxBody ul {float:left; list-style-type:none; width:100%;font-size:13px; margin:0; padding:0;}
#whatsNew_hp .infoBox .infoBoxBody ul li {margin-bottom:10px;height:60px;}
#whatsNew_hp .infoBox .infoBoxBody ul li img {margin-right:10px;}

#corpNews{float:left; width:360px;}
#corpNews .infoBox .infoBoxHdr h1{font-size:13px;}
#corpNews .infoBox .infoBoxBody ul {margin:0; padding:0;}
#corpNews .infoBox .infoBoxBody ul li {list-style-type:none;padding-bottom:5px;}

#facebook {float:right; text-align:right;width:140px;font-size:13px; font-weight:bold;}
#facebook .infoBox{float:left; clear:both; padding:0px; margin:0px; }
#facebook .infoBox .infoBoxHdr h1{font-size:13px;}
#facebook .infoBox .infoBoxBody ul li {list-style-type:none;}

/* footer */
#footer{display:none;}
ul.ffm_drop { 	display:none; }