/**************************************************************************
* Begin Main Landing Page Styles
*/

@font-face {
	font-family: Interstate_exLight;
	src: url('fonts/Interstate_exLight.eot')/*tpa=http://www.citigroup.com/citi/css/fonts/Interstate_exLight.eot*/;
	src: url('fonts/Interstate_exLight.eot-#iefix')/*tpa=http://www.citigroup.com/citi/css/fonts/Interstate_exLight.eot?#iefix*/ format('embedded-opentype'),
	     url('fonts/Interstate_exLight.ttf')/*tpa=http://www.citigroup.com/citi/css/fonts/Interstate_exLight.ttf*/ format('truetype'),
	     url('fonts/Interstate_exLight.svg#InterstateLight')/*tpa=http://www.citigroup.com/citi/css/fonts/Interstate_exLight.svg#InterstateLight*/ format('svg');
}

@font-face {
	font-family: Interstate_Light;
	src: url('fonts/InterstateLight.eot')/*tpa=http://www.citigroup.com/citi/css/fonts/InterstateLight.eot*/;
	src: url('fonts/InterstateLight.eot-#iefix')/*tpa=http://www.citigroup.com/citi/css/fonts/InterstateLight.eot?#iefix*/ format('embedded-opentype'),
	     url('fonts/InterstateLight.ttf')/*tpa=http://www.citigroup.com/citi/css/fonts/InterstateLight.ttf*/ format('truetype'),
	     url('fonts/InterstateLight.svg#InterstateLight')/*tpa=http://www.citigroup.com/citi/css/fonts/InterstateLight.svg#InterstateLight*/ format('svg');
}

#landing-page-wrapper {
	margin:0;
	width:984px;
	height:502px;
	position:relative;
	overflow:hidden;
}
#landing-page-wrapper div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
i {
	font-style:italic;
}
sup {
	vertical-align:top !important;
	font-size:8px;
}
#landing-page-wrapper li {
	list-style:none;
}
#landing-page-wrapper #landing-page-image {
	width:984px;
	height:503px;
	position:relative;
	left:0px;
	background: url('../images/landingPage/rio.jpg')/*tpa=http://www.citigroup.com/citi/images/landingPage/rio.jpg*/;
}
/*
#landing-page-wrapper #progress-informed {
	width:453px;
	height:113px;
	background: url('http://www.citigroup.com/citi/images/landingPage/progress_informed.png');
	position:absolute;
	top:14px;
	left:25px;
}
#landing-page-wrapper #progress-informed h1 {
	display:inline;
}
#landing-page-wrapper #progress-informed h1 span {
	display:none;
}
*/
#landing-page-wrapper #progress-informed {
    height: 118px;
    left: 52px;
    position: absolute;
    top: 20px;
    width: 500px;
    z-index: 0;
}
#landing-page-wrapper #progress-informed h1 {
	display:inline;
	color: #FFFFFF;
	font-family: Interstate_exLight;
	font-size: 36px;
    	line-height: 40px;
    	font-weight: normal;
    	text-shadow: 2px 1px 2px #000000;
}

img.celebrating {
	margin-bottom:6px;
}

/**************************************************************************
* VIDEO EMBED HOLDER
*/

#landing-page-wrapper div.small-vid-wrapper {
	width:243px;
	height:150px;
	margin-bottom:15px;
}
div.video-embed-holder {
	position:relative;
	left:0px;
}
/**************************************************************************
* Begin Main Slider Control - style for the thumbnail slider both expanded
and contracted
*/

#landing-page-wrapper #slider-control-wrapper {
	width:880px;
	height:503px;
	position:absolute;
	top:0px;
	left:50px;
}
#landing-page-wrapper #slider-control-wrapper #relative {
	width:880px;
	height:503px;
	position:relative;
}
#landing-page-wrapper #slider-control-wrapper #relative a.arrow-right {
	position:absolute;
	height:49px;
	width:30px;
	bottom:78px;
	right:-32px;
	background: url('../images/landingPage/slider_control_right.png')/*tpa=http://www.citigroup.com/citi/images/landingPage/slider_control_right.png*/ top left no-repeat;/*display:block;*/
}
#landing-page-wrapper #slider-control-wrapper #relative a.arrow-left {
	position:absolute;
	height:49px;
	width:30px;
	bottom:78px;
	left:-40px;
	background: url('../images/landingPage/slider_control_left.png')/*tpa=http://www.citigroup.com/citi/images/landingPage/slider_control_left.png*/ top left no-repeat;
	display:none;/*display:block;*/
}
#landing-page-wrapper #slider-control-wrapper #relative #overflow {
	width:880px;
	height:503px;
	position:relative;
	overflow:hidden;
}
#landing-page-wrapper #slider-control-wrapper #relative #overflow ul.slide-control {
	height:503px;
	width:8000px;
	position:relative;
	left:0px;
}
#landing-page-wrapper #slider-control-wrapper #relative #overflow ul.slide-control li.panel {
	float:left;
	height:503px;
	width:216px;
	position:relative;
	margin-right:5px;
	display:none;
}
#landing-page-wrapper #slider-control-wrapper #relative #overflow ul.slide-control li.panel #news-short-descrip {
	width:198px;
	height:75px;
	padding-top:22px;
	padding-left:22px;
	padding-right:10px;
	background: url('../images/landingPage/landing_slider_chips.png')/*tpa=http://www.citigroup.com/citi/images/landingPage/landing_slider_chips.png*/;
	position:absolute;
	bottom:55px;
	left:-9px;
	cursor: pointer;
}
#landing-page-wrapper #slider-control-wrapper #relative #overflow ul.slide-control li.panel #news-short-descrip h3 {
	font-family:arial, helvetica, san-serif;
	color:#014168;
	font-weight:bold;
	font-size:12px;
	margin-bottom:6px;
}
#landing-page-wrapper #slider-control-wrapper #relative #overflow ul.slide-control li.panel #news-short-descrip p {
	font-family:arial, helvetica, san-serif;
	font-size:12px;
	color:#595959;
	line-height:15px;
}
#landing-page-wrapper #slider-control-wrapper #relative #overflow ul.slide-control li.panel #news-slide-out {
	height:472px;
	width:186px;
	background:url('../images/landingPage/landing_slider_tile.png')/*tpa=http://www.citigroup.com/citi/images/landingPage/landing_slider_tile.png*/;
	display:none;
	padding-top:31px;
	padding-left:15px;
	padding-right:15px;
}
#landing-page-wrapper #slider-control-wrapper #relative #overflow ul.slide-control li.panel #news-slide-out img.thumb {
	margin-bottom:15px;
}
a.short-descrip:link, a.short-descrip:active, a.short-descrip:visited {
	font-family:arial, helvetica, san-serif;
	font-size:12px;
	color:#595959;
	line-height:15px;
	padding-left:12px;
	background: url('../images/landingPage/arrow-news_link.png')/*tpa=http://www.citigroup.com/citi/images/landingPage/arrow-news_link.png*/ no-repeat;
	background-position: 0px 1px;
	text-decoration:none;
	margin-bottom:13px;
	display:block;
}
a.short-descrip:hover {
	color:#3399cc;
}
a.short-descrip sup {
	vertical-align:text-top;
	font-size:70%;
}
a.short-descrip span {
	color: #037fcd;
}
a.short-descrip:hover span {
	color:#3399cc;
}
#landing-page-wrapper #slider-control-wrapper #relative #overflow ul.slide-control li.panel #news-slide-out h4 {
	font-family: Helvetica, Arial, sans-serif;
	color:#014168;
	font-size:24px;
	line-height:24px;
	font-weight:regular;
	margin-bottom:10px;
}
#landing-page-wrapper #slider-control-wrapper #relative #overflow ul.slide-control li.panel #news-slide-out p {
	font-family:arial, helvetica, san-serif;
	color:#333333;
	font-size:12px;
	line-height:16px;
	margin-bottom:13px;
}
#landing-page-wrapper #slider-control-wrapper #relative #overflow ul.slide-control li.panel #news-slide-out ul.news-items {
	width:100%;
}
#landing-page-wrapper #slider-control-wrapper #relative #overflow ul.slide-control li.panel #news-slide-out ul.news-items li {
	width:100%;
	border-bottom:1px dotted #616161;
	margin-bottom:15px;
}
#landing-page-wrapper #slider-control-wrapper #relative #overflow ul.slide-control li.panel #news-slide-out ul.news-items li img.thumb {
	padding-left:12px;
}
#landing-page-wrapper #slider-control-wrapper #relative #overflow ul.slide-control li.panel #news-slide-out ul.news-items li.last {
	border-bottom:none;
	margin-bottom:none;
}
/**************************************************************************
* Begin Main Slider Control - style for the thumbnail slider both expanded
and contracted
*/

#landing-page-wrapper #slider-expanded-wrapper {
	width:984px;
	height:418px;
	position:absolute;
	top:42px;
	/*left:0px;*/
    /*left:1200px;*/
    background: url('../images/landingPage/landing_slider_tile.png')/*tpa=http://www.citigroup.com/citi/images/landingPage/landing_slider_tile.png*/ top left;
	overflow:hidden;
	display:none;
}
#landing-page-wrapper #slider-expanded-wrapper a.back-link:link, a.back-link:active, a.back-link:visited, a.back-link:hover {
	font-family:arial, helvetica, san-serif;
	font-size:11px;
	color:#616161;
	display:block;
	text-decoration:none;
	background: url(../images/landingPage/arrow-back.png)/*tpa=http://www.citigroup.com/citi/images/landingPage/arrow-back.png*/ no-repeat;
	padding-left:10px;
	background-position: 0 3px;
	display:none;
}
#landing-page-wrapper #slider-expanded-wrapper a.learn-more:link, a.learn-more:active, a.learn-more:visited {
	font-family:arial, helvetica, san-serif;
	font-size:12px;
	color:#616161;
	text-decoration:none;
	background: url(../images/landingPage/arrow-back.png)/*tpa=http://www.citigroup.com/citi/images/landingPage/arrow-back.png*/ no-repeat;
	padding-left:10px;
	background-position: 0 3px;
	display:block;
	margin-top:10px;
}
#landing-page-wrapper #slider-expanded-wrapper a.learn-more:hover {
	color:#39C;
}
#landing-page-wrapper #slider-expanded-wrapper a.sub-one:link, a.sub-one:active, a.sub-one:visited, a.sub-one:hover {
	font-family:arial, helvetica, san-serif;
	font-size:11px;
	color:#616161;
	text-decoration:none;
	background: url(../images/landingPage/arrow-back.png)/*tpa=http://www.citigroup.com/citi/images/landingPage/arrow-back.png*/ no-repeat;
	padding-left:10px;
	background-position: 0 3px;
	display:block;
	margin-top:4px;
	line-height:13px;
	font-weight:bold;
	position:absolute;
	bottom:15px;
	left:14px;
}
#landing-page-wrapper #slider-expanded-wrapper a.sub-two:link, a.sub-two:active, a.sub-two:visited, a.sub-two:hover {
	font-family:arial, helvetica, san-serif;
	font-size:11px;
	color:#616161;
	text-decoration:none;
	background: url(../images/landingPage/arrow-back.png)/*tpa=http://www.citigroup.com/citi/images/landingPage/arrow-back.png*/ no-repeat;
	padding-left:10px;
	background-position: 0 3px;
	display:block;
	margin-top:4px;
	line-height:auto;
	font-weight:bold;
	position:absolute;
	bottom:28px;
	left:8px;
}
#landing-page-wrapper #slider-expanded-wrapper a.sub-video:link, a.sub-video:active, a.sub-video:visited, a.sub-video:hover {
	font-family:arial, helvetica, san-serif;
	font-size:11px;
	color:#616161;
	text-decoration:none;
	background: url(../images/landingPage/arrow-back.png)/*tpa=http://www.citigroup.com/citi/images/landingPage/arrow-back.png*/ no-repeat;
	padding-left:10px;
	background-position: 0 3px;
	display:block;
	margin-top:4px;
	line-height:auto;
	height:13px;
	font-weight:bold;
	position:absolute;
	bottom:28px;
	left:13px;
}
#landing-page-wrapper #slider-expanded-wrapper a.sub-one:hover {
	color:#39C;
}
#landing-page-wrapper #slider-expanded-wrapper a.sub-two:hover {
	color:#39C;
}
#landing-page-wrapper #slider-expanded-wrapper a.sub-video:hover {
	color:#39C;
}
#landing-page-wrapper #slider-expanded-wrapper a.read-more:link, a.read-more:active, a.read-more:visited, a.read-more:hover {
	font-family:arial, helvetica, san-serif;
	font-size:12px;
	color:#333333;
	text-decoration:none;
	background: url(../images/landingPage/arrow-back.png)/*tpa=http://www.citigroup.com/citi/images/landingPage/arrow-back.png*/ no-repeat;
	padding-left:10px;
	background-position: 0 3px;
	display:block;
	margin-top:10px;
	font-weight:bold;
}
#landing-page-wrapper #slider-expanded-wrapper #relative {
	width:984px;
	height:418px;
	position:relative;
}
#landing-page-wrapper #slider-expanded-wrapper #relative a.close-expanded-carousel {
	width:14px;
	height:15px;
	background: url('../images/landingPage/button-close_expanded_carousel.jpg')/*tpa=http://www.citigroup.com/citi/images/landingPage/button-close_expanded_carousel.jpg*/ top left no-repeat;
	position:absolute;
	right:12px;
	top:15px;
}
#landing-page-wrapper #slider-expanded-wrapper #relative a.expand-arrow-rt {
	width:32px;
	height:60px;
	background: url('../images/landingPage/arrow_rt-states.png')/*tpa=http://www.citigroup.com/citi/images/landingPage/arrow_rt-states.png*/ no-repeat;
	background-position:0 0;
	position:absolute;
	right:0px;
	top:177px;
}
#landing-page-wrapper #slider-expanded-wrapper #relative a.expand-arrow-rt:hover {
	background-position:0 -60px;
}
#landing-page-wrapper #slider-expanded-wrapper #relative a.expand-arrow-lt {
	width:32px;
	height:60px;
	background: url('../images/landingPage/arrow_lt-states.png')/*tpa=http://www.citigroup.com/citi/images/landingPage/arrow_lt-states.png*/ no-repeat;
	background-position: 0 0;
	position:absolute;
	left:0px;
	top:177px;
}
#landing-page-wrapper #slider-expanded-wrapper #relative a.expand-arrow-lt:hover {
	background-position: 0 -60px;
}
#landing-page-wrapper #slider-expanded-wrapper #relative a.deact {
	background-position:0 -120px;
}
#landing-page-wrapper #slider-expanded-wrapper #relative a.deact:hover {
	background-position:0 -120px;
}
#landing-page-wrapper #slider-expanded-wrapper #relative #overflow {
	width:984px;
	height:418px;
	overflow:hidden;
	position:relative;
	margin: 0 auto;
}
#landing-page-wrapper #slider-expanded-wrapper #relative #overflow ul.expanded-slides {
	width:8000px;
	height:418px;
	position:relative;
	left:0px;
}
#landing-page-wrapper #slider-expanded-wrapper #relative #overflow ul.expanded-slides li.expanded-slide {
	width:936px;
	padding-left:48px;
	height:418px;
	float:left;
}
#landing-page-wrapper #slider-expanded-wrapper #relative #overflow ul.expanded-slides li.expanded-slide ul.section-holder {
	width:904px;
	height:418px;
}
#landing-page-wrapper #slider-expanded-wrapper #relative #overflow ul.expanded-slides li.expanded-slide ul.section-holder li {
	float:left;
	height:385px;
	padding-top:33px;
	position:relative;
}
#landing-page-wrapper #slider-expanded-wrapper #relative #overflow ul.expanded-slides li.expanded-slide ul.section-holder li p {
	font-family:arial, helvetica, san-serif;
	font-size:11px;
	color:#333333;
	line-height:14px;
}
#landing-page-wrapper #slider-expanded-wrapper #relative #overflow ul.expanded-slides li.expanded-slide ul.section-holder li #lock-text {
/*width:250px;*/
    /*bottom:25px;
    position:absolute;*/
    /*margin-top:10px;*/
}
#landing-page-wrapper #slider-expanded-wrapper #relative #overflow ul.expanded-slides li.expanded-slide ul.section-holder li h2 {
	font-family:arial, helvetica, san-serif;
	font-size:13px;
	font-weight:bold;
	margin-bottom:6px;
	line-height:15px;
}
#landing-page-wrapper #slider-expanded-wrapper #relative #overflow ul.expanded-slides li.expanded-slide ul.section-holder li.first {
	width:150px;
	background: url('../images/landingPage/divider-expanded_slides.jpg')/*tpa=http://www.citigroup.com/citi/images/landingPage/divider-expanded_slides.jpg*/ no-repeat;
	background-position: 148px 22px;/*padding-right:25px;*/
}
#landing-page-wrapper #slider-expanded-wrapper #relative #overflow ul.expanded-slides li.expanded-slide ul.section-holder li.first p {
	font-family:arial, helvetica, san-serif;
	font-size:12px;
	color:#616161;
	line-height:auto;
	font-weight:bold;
	margin-bottom:16px;
}
#landing-page-wrapper #slider-expanded-wrapper #relative #overflow ul.expanded-slides li.expanded-slide ul.section-holder li.second {
	width:270px;
	background: url('../images/landingPage/divider-expanded_slides.jpg')/*tpa=http://www.citigroup.com/citi/images/landingPage/divider-expanded_slides.jpg*/ no-repeat;
	background-position: 290px 22px;
	padding-right:15px;
	padding-left:10px;
}
#landing-page-wrapper #slider-expanded-wrapper #relative #overflow ul.expanded-slides li.expanded-slide ul.section-holder li.second img {
	margin-bottom:10px;
}
#landing-page-wrapper #slider-expanded-wrapper #relative #overflow ul.expanded-slides li.expanded-slide ul.section-holder li.video-extend {
	width:520px;
	background: url('../images/landingPage/divider-expanded_slides.jpg')/*tpa=http://www.citigroup.com/citi/images/landingPage/divider-expanded_slides.jpg*/ no-repeat;
	background-position: 547px 22px;
	padding-right:15px;
	padding-left:15px;
}
#landing-page-wrapper #slider-expanded-wrapper #relative #overflow ul.expanded-slides li.expanded-slide ul.section-holder li.large-center {
	width:545px;
	background: url('../images/landingPage/divider-expanded_slides.jpg')/*tpa=http://www.citigroup.com/citi/images/landingPage/divider-expanded_slides.jpg*/ no-repeat;
	background-position: 572px 22px;
	padding-right:15px;
	padding-left:13px;
}
/*#landing-page-wrapper #slider-expanded-wrapper #relative #overflow ul.expanded-slides li.expanded-slide ul.section-holder li.second #lock-text {
    left:15px;
}*/

#landing-page-wrapper #slider-expanded-wrapper #relative #overflow ul.expanded-slides li.expanded-slide ul.section-holder li.second h2 {
	color:#014168;
}
#landing-page-wrapper #slider-expanded-wrapper #relative #overflow ul.expanded-slides li.expanded-slide ul.section-holder li.third {
	width:250px;
	background: url('../images/landingPage/divider-expanded_slides.jpg')/*tpa=http://www.citigroup.com/citi/images/landingPage/divider-expanded_slides.jpg*/ no-repeat;
	background-position: 271px 22px;
	padding-right:15px;
	padding-left:7px;
}
#landing-page-wrapper #slider-expanded-wrapper #relative #overflow ul.expanded-slides li.expanded-slide ul.section-holder li.third img {
	margin-bottom:10px;
}
/*#landing-page-wrapper #slider-expanded-wrapper #relative #overflow ul.expanded-slides li.expanded-slide ul.section-holder li.third #lock-text {
    left:7px;
}*/

#landing-page-wrapper #slider-expanded-wrapper #relative #overflow ul.expanded-slides li.expanded-slide ul.section-holder li.third h2 {
	color:#037fcd;
	line-height:auto;
}
#landing-page-wrapper #slider-expanded-wrapper #relative #overflow ul.expanded-slides li.expanded-slide ul.section-holder li.fourth {
	width:166px;
	padding-left:16px;
	height:380px;
	padding-top:22px;
}
/*#landing-page-wrapper #slider-expanded-wrapper #relative #overflow ul.expanded-slides li.expanded-slide ul.section-holder li.fourth h3 {
    font-family: Helvetica, Arial, sans-serif;
    font-size:18px;
    line-height:24px;
    color:#616161;
}*/

/*#landing-page-wrapper #slider-expanded-wrapper #relative #overflow ul.expanded-slides li.expanded-slide ul.section-holder li.fourth h3 span {
    font-family: Helvetica, Arial, sans-serif;
    font-size:62px;
	line-height:64px;
    color:#037fcd;*/
    /*display:block;*/
    /*margin-bottom:18px;*/
/*}*/

#landing-page-wrapper #slider-expanded-wrapper #relative #overflow ul.expanded-slides li.expanded-slide ul.section-holder li.fourth-small {
	width:156px;
	padding-left:16px;
	height:380px;
	padding-top:38px;
}
#landing-page-wrapper #slider-expanded-wrapper #relative #overflow ul.expanded-slides li.expanded-slide ul.section-holder li.fourth-small h3 {
	font-family: Helvetica, Arial, sans-serif;
	font-size:12px;
	line-height:15px;
	color:#014168;
	margin-bottom:5px;
	font-weight: bold;
}
#landing-page-wrapper #slider-expanded-wrapper #relative #overflow ul.expanded-slides li.expanded-slide ul.section-holder li.fourth-small p {
	color:#333333;
	font-size:12px;
	line-height:15px;
}
/**************************************************************************
* Begin Custom Slide Section for Expanded Slider
*/

/* begin two hundred years slide */

#custom-slide.two-hundred {
	width:904px;
	height:355px;
	margin: 0 auto;
	margin-top:30px;
}
#custom-slide.two-hundred #left {
	float:left;
	width:322px;
	padding-left:25px;
}
#custom-slide.two-hundred #left h1 {
	padding: 0;
	margin: 0;
	margin-bottom:10px;
	margin-top:15px;
	background: url(../images/landingPage/timeline/copy-1.png)/*tpa=http://www.citigroup.com/citi/images/landingPage/timeline/copy-1.png*/ top left no-repeat;
	width:268px;
	height:112px;
}
#custom-slide.two-hundred #left h1 span {
	display:none;
}
#custom-slide.two-hundred #left p {
	width:285px;
	height:52px;
	background:url(../images/landingPage/timeline/copy-2.png)/*tpa=http://www.citigroup.com/citi/images/landingPage/timeline/copy-2.png*/ top left no-repeat;
}
#custom-slide.two-hundred #left p span {
	display:none;
}
#custom-slide.two-hundred #left ul.cta {
	height:auto;
	width:180px;
	margin-top:3px;
	margin-left:2px;
}
#custom-slide.two-hundred #left ul.cta li {
	height:38px;
	width:180px;
	float:left;
	padding:0;
	margin:0;
}
#custom-slide.two-hundred #left ul.cta li img {
	float:left;
}





#left ul.ctaright {
	height:auto;
	width:180px;
	margin-top:-1103px;
	margin-left:155px;
}
#left ul.ctaright li {
	height:38px;
	width:180px;
	float:right;
	padding:0;
	margin:0;
}
#left ul.ctaright li img {
	float:left;
}



a.comm-link:link, a.comm-link:active, a.comm-link:visited {
	font-family: arial, helvetica, san-serif;
	color:#616161;
	font-size:14px;
	line-height:auto;
	text-decoration:none;
	font-weight:bold;
	margin-left:5px;
	float:left;
}
a.comm-link:hover {
	color:#39c;
}
#custom-slide.two-hundred #right {
	width:557px;
	float:right;
}
#custom-slide.two-hundred #right ul.chip-holder {
	width:557px;
}
#custom-slide.two-hundred #right ul.chip-holder li {
	width:148px;
	height:82px;
	float:left;
	background:#000;
	margin-right:9px;
	margin-bottom:8px;
	position:relative;
	display:none;
}
#custom-slide.two-hundred #right ul.chip-holder li.last {
	margin-right:0;
}
#custom-slide.two-hundred #right ul.chip-holder li #state-one {
	width:170px;
	height:111px;
	position:relative;
}
a.link-state-one:link, a.link-state-one:active, a.link-state-one:hover, a.link-state-one:visited {
	position:absolute;
	left:8px;
	bottom:33px;
	font-family:arial, helvetica, san-serif;
	font-size:11px;
	line-height:12px;
	color:#FFF;
	text-decoration:none;
	font-weight:bold;
}
#custom-slide.two-hundred #right ul.chip-holder li #state-two {
	position:absolute;
	top:0px;
	left:0px;
	/*width:170px;*/
    /*height:111px;*/
    height:0px;
	width:0x;
	background: url('../images/landingPage/tile-timeline_thumb.png')/*tpa=http://www.citigroup.com/citi/images/landingPage/tile-timeline_thumb.png*/ top left;
	display:none;
	overflow:hidden;
}
#custom-slide.two-hundred #right ul.chip-holder li #state-two img.arrow {
	position:absolute;
	bottom:10px;
	right:10px;
}
a.link-state-two:link, a.link-state-two:active, a.link-state-two:visited, a.link-state-two:hover {
	font-family:arial, helvetica, san-serif;
	color:#FFF;
	font-size:10px;
	line-height:13px;
	position:absolute;
	top:0px;
	left:0px;
	width:136px;
	height:72px;
	padding-top:10px;
	padding-left:8px;
	text-decoration:none;
}
/**************************************************************************
* Begin 200 years timeline code
*/
#custom-two-hundred {
	background:url(../images/landingPage/timeline/bg-mainshapes.png)/*tpa=http://www.citigroup.com/citi/images/landingPage/timeline/bg-mainshapes.png*/ top left no-repeat;
}
#tc-slide-video {
	background:url(../images/landingPage/timeline/bg-shapes-8.png)/*tpa=http://www.citigroup.com/citi/images/landingPage/timeline/bg-shapes-8.png*/ top left no-repeat;
}
/* ========= Slide 2  ========= */
#tc-slide-2 {
	background: url(../images/landingPage/timeline/bg-shapes-2_shorter.png)/*tpa=http://www.citigroup.com/citi/images/landingPage/timeline/bg-shapes-2_shorter.png*/ no-repeat;
}
#tc-slide-2-cut {
	background: url(../images/landingPage/timeline/bg-shapes-2.png)/*tpa=http://www.citigroup.com/citi/images/landingPage/timeline/bg-shapes-2.png*/ no-repeat;
}
/* ========= Slide 3  ========= */
#tc-slide-3 {
	background: url(../images/landingPage/timeline/bg-shapes-9.png)/*tpa=http://www.citigroup.com/citi/images/landingPage/timeline/bg-shapes-9.png*/ no-repeat;
}
/* ========= Slide 4  ========= */
#tc-slide-4 {
	background: url(../images/landingPage/timeline/bg-shapes-10.png)/*tpa=http://www.citigroup.com/citi/images/landingPage/timeline/bg-shapes-10.png*/ no-repeat;
}
/* ========= Slide 5  ========= */
#tc-slide-5 {
	background: url(../images/landingPage/timeline/bg-shapes-2_revised.png)/*tpa=http://www.citigroup.com/citi/images/landingPage/timeline/bg-shapes-2_revised.png*/ no-repeat;
}
/* ========= Slide 6  ========= */
#tc-slide-6 {
	background: url(../images/landingPage/timeline/bg-shapes-10.png)/*tpa=http://www.citigroup.com/citi/images/landingPage/timeline/bg-shapes-10.png*/ no-repeat;
}
/* ========= Slide 7  ========= */
#tc-slide-7 {
	background: url(../images/landingPage/timeline/bg-shapes-11.png)/*tpa=http://www.citigroup.com/citi/images/landingPage/timeline/bg-shapes-11.png*/ no-repeat;
}
/* ========= Slide 8  ========= */
#tc-slide-8 {
	background: url(../images/landingPage/timeline/bg-shapes-10.png)/*tpa=http://www.citigroup.com/citi/images/landingPage/timeline/bg-shapes-10.png*/ no-repeat;
}
/* ========= Slide 9  ========= */
#tc-slide-9 {
	background: url(../images/landingPage/timeline/bg-shapes-7.png)/*tpa=http://www.citigroup.com/citi/images/landingPage/timeline/bg-shapes-7.png*/ no-repeat;
}
/* ========= Slide 10  ========= */
#tc-slide-10 {
	background:  url(../images/landingPage/timeline/bg-shapes-2.png)/*tpa=http://www.citigroup.com/citi/images/landingPage/timeline/bg-shapes-2.png*/ no-repeat;
}
/* ========= Slide 11  ========= */
#tc-slide-11 {
	background:  url(../images/landingPage/timeline/bg-shapes-12.png)/*tpa=http://www.citigroup.com/citi/images/landingPage/timeline/bg-shapes-12.png*/ no-repeat;
}
/* ========= Slide 12  ========= */
#tc-slide-12 {
	background:  url(../images/landingPage/timeline/bg-shapes-4.png)/*tpa=http://www.citigroup.com/citi/images/landingPage/timeline/bg-shapes-4.png*/ no-repeat;
}
/* ========= Slide 13  ========= */
#tc-slide-13 {
	background:  url(../images/landingPage/timeline/bg-shapes-10.png)/*tpa=http://www.citigroup.com/citi/images/landingPage/timeline/bg-shapes-10.png*/ no-repeat;
}
/*begin column adjustmented classes*/

#landing-page-wrapper #slider-expanded-wrapper #relative #overflow ul.expanded-slides li.expanded-slide ul.section-holder li.financial-times {
	padding-top:24px;
}
#landing-page-wrapper #slider-expanded-wrapper #relative #overflow ul.expanded-slides li.expanded-slide ul.section-holder li.fueling-economy {
	padding-top:22px;
}
#landing-page-wrapper #slider-expanded-wrapper #relative #overflow ul.expanded-slides li.expanded-slide ul.section-holder li.economic-value {
	padding-top:21px;
}
#landing-page-wrapper #slider-expanded-wrapper a.learn-more:link, a.learn-more:active, a.learn-more:visited, a.learn-more:hover .margin-adjust {
	margin-top:0px;
}
#landing-page-wrapper #slider-expanded-wrapper #relative #overflow ul.expanded-slides li.expanded-slide ul.section-holder li.pioneers {
	padding-top:32px;
}
/*Portuguese*/
#custom-slide.two-hundred #left h1.port-01 {
	background: url(../images/landingPage/portuguese/copy-1.png)/*tpa=http://www.citigroup.com/citi/images/landingPage/portuguese/copy-1.png*/ no-repeat;
	width:240px;
	height:117px;
	margin-bottom:5px !important;
}
#custom-slide.two-hundred #left p.port-01 {
	width:291px;
	height:52px;
	background:url(../images/landingPage/portuguese/copy-2.png)/*tpa=http://www.citigroup.com/citi/images/landingPage/portuguese/copy-2.png*/ top left no-repeat;
}
#tc-slide-2.port-02 {
	background: url(../images/landingPage/timeline/bg-shapes-13.png)/*tpa=http://www.citigroup.com/citi/images/landingPage/timeline/bg-shapes-13.png*/ no-repeat;
}
#tc-slide-5.port-02 {
	background: url(../images/landingPage/timeline/bg-shapes-15.png)/*tpa=http://www.citigroup.com/citi/images/landingPage/timeline/bg-shapes-15.png*/ no-repeat;
}
#tc-slide-8.port-02 {
	background: url(../images/landingPage/timeline/bg-shapes-14.png)/*tpa=http://www.citigroup.com/citi/images/landingPage/timeline/bg-shapes-14.png*/ no-repeat;
}
#tc-slide-9.port-02 {
	background: url(../images/landingPage/timeline/bg-shapes-16.png)/*tpa=http://www.citigroup.com/citi/images/landingPage/timeline/bg-shapes-16.png*/ no-repeat;
}
#tc-slide-7.port-02 {
	background: url(../images/landingPage/timeline/bg-shapes-10.png)/*tpa=http://www.citigroup.com/citi/images/landingPage/timeline/bg-shapes-10.png*/ no-repeat;
}


/*  ============================= ARABIC  ============================= */


#slider-expanded-wrapper.arabic li.first {
	background: none !important;
	text-align:right !important;
}
#slider-expanded-wrapper.arabic li.large-center {
	padding-left: 12px !important;
	padding-right: 10px !important;
	background: url("../images/landingPage/divider-expanded_slides.jpg")/*tpa=http://www.citigroup.com/citi/images/landingPage/divider-expanded_slides.jpg*/ no-repeat right transparent !important;
}
#slider-expanded-wrapper.arabic li.fourth-small {
	background: url("../images/landingPage/divider-expanded_slides.jpg")/*tpa=http://www.citigroup.com/citi/images/landingPage/divider-expanded_slides.jpg*/ no-repeat right transparent !important;
	padding-left: 0 !important;
	height: 384px !important;
	padding-top: 34px !important;
}
#slider-expanded-wrapper.arabic li.fourth-small img {
	display:inline;
	text-align:right;
	margin-right:17px !important;
}
#slider-expanded-wrapper.arabic #tc-slide-video {
	background:url(../images/landingPage/arabic/bg-shapes-8.png)/*tpa=http://www.citigroup.com/citi/images/landingPage/arabic/bg-shapes-8.png*/ top left no-repeat;
}
#slider-expanded-wrapper.arabic #tc-slide-video a.sub-video {
	text-align:right;
	right:15px !important;
	background: url("../images/landingPage/arabic/arrow-back.png")/*tpa=http://www.citigroup.com/citi/images/landingPage/arabic/arrow-back.png*/ no-repeat right 3px transparent !important;
	padding-left: 0 !important;
	padding-right: 10px !important;
}
#slider-expanded-wrapper.arabic #custom-two-hundred {
	background:url(../images/landingPage/arabic/bg-mainshapes.png)/*tpa=http://www.citigroup.com/citi/images/landingPage/arabic/bg-mainshapes.png*/ top left no-repeat !important;
}
#slider-expanded-wrapper.arabic #custom-two-hundred #custom-slide.two-hundred #right {
	float:left !important;
}
#slider-expanded-wrapper.arabic #custom-two-hundred #custom-slide.two-hundred #left {
	float:right !important;
	width:267px !important;
	padding-left:0 !important;
	margin-right:75px;
}
#slider-expanded-wrapper.arabic #custom-two-hundred #custom-slide.two-hundred #left h1 {
	background: url("../images/landingPage/arabic/copy-1.png")/*tpa=http://www.citigroup.com/citi/images/landingPage/arabic/copy-1.png*/ no-repeat right transparent !important;
	height: 120px !important;
	margin: 15px 0 10px;
	padding: 0;
	width: 267px !important;
}
#slider-expanded-wrapper.arabic #custom-two-hundred #custom-slide.two-hundred #left p {
	background: url("../images/landingPage/arabic/copy-2.png")/*tpa=http://www.citigroup.com/citi/images/landingPage/arabic/copy-2.png*/ no-repeat scroll left top transparent;
	height: 47px;
	width: 267px;
}
#slider-expanded-wrapper.arabic #custom-two-hundred #custom-slide.two-hundred #left ul.cta li img {
	float:right !important;
}
#slider-expanded-wrapper.arabic #custom-two-hundred #custom-slide.two-hundred #left ul.cta li {
	text-align:right !important;
}
#slider-expanded-wrapper.arabic #custom-two-hundred #custom-slide.two-hundred #left ul.cta li a.comm-link {
	text-align:right !important;
	float:right;
	margin-right:15px;
}
#slider-expanded-wrapper.arabic #custom-two-hundred #custom-slide.two-hundred #left ul.cta {
	float:right !important;
	margin-top:12px !important;
}
#slider-expanded-wrapper.arabic #custom-two-hundred #custom-slide.two-hundred .link-state-one {
	text-align:right;
	right:30px !important;
	left:0 !important;
}
#slider-expanded-wrapper.arabic #custom-two-hundred #custom-slide.two-hundred .link-state-two {
	text-align:right;
	padding-right:5px !important;
	padding-left:0 !important;
	font-size:12px !important;
	width: 141px !important;
}

#slider-expanded-wrapper.arabic em {
	font-style:italic;
}
#landing-page-wrapper #slider-expanded-wrapper.arabic #relative #overflow ul.expanded-slides li.expanded-slide ul.section-holder li.fourth {
	padding-left:0;
	padding-right:6px;
	background: url("../images/landingPage/divider-expanded_slides.jpg")/*tpa=http://www.citigroup.com/citi/images/landingPage/divider-expanded_slides.jpg*/ no-repeat scroll right transparent;
}
#landing-page-wrapper #slider-expanded-wrapper.arabic #relative #overflow ul.expanded-slides li.expanded-slide ul.section-holder li.first {
	background:none;
}
#slider-expanded-wrapper.arabic #tc-slide-2 {
	background: url("../images/landingPage/arabic/bg-shapes-2_shorter.png")/*tpa=http://www.citigroup.com/citi/images/landingPage/arabic/bg-shapes-2_shorter.png*/ no-repeat scroll 0 0 transparent;
}
#slider-expanded-wrapper.arabic #tc-slide-6 {
	background: url("../images/landingPage/arabic/bg-shapes-10.png")/*tpa=http://www.citigroup.com/citi/images/landingPage/arabic/bg-shapes-10.png*/ no-repeat scroll 0 0 transparent;
}
#slider-expanded-wrapper.arabic #tc-slide-10 {
	background: url("../images/landingPage/arabic/bg-shapes-2_revised_2.png")/*tpa=http://www.citigroup.com/citi/images/landingPage/arabic/bg-shapes-2_revised_2.png*/ no-repeat scroll 0 0 transparent;
}
#slider-expanded-wrapper.arabic #tc-slide-8 {
	background: url("../images/landingPage/arabic/bg-shapes-2lines.png")/*tpa=http://www.citigroup.com/citi/images/landingPage/arabic/bg-shapes-2lines.png*/ no-repeat scroll 0 0 transparent;
}
#slider-expanded-wrapper.arabic #tc-slide-5 {
	background: url("../images/landingPage/arabic/bg-shapes-2_revised_2.png")/*tpa=http://www.citigroup.com/citi/images/landingPage/arabic/bg-shapes-2_revised_2.png*/ no-repeat scroll 0 0 transparent;
}
#slider-expanded-wrapper.arabic #tc-slide-4 {
	background: url("../images/landingPage/arabic/bg-shapes-12.png")/*tpa=http://www.citigroup.com/citi/images/landingPage/arabic/bg-shapes-12.png*/ no-repeat scroll 0 0 transparent;
}
#slider-expanded-wrapper.arabic #tc-slide-9 {
	background: url("../images/landingPage/arabic/bg-shapes-7.png")/*tpa=http://www.citigroup.com/citi/images/landingPage/arabic/bg-shapes-7.png*/ no-repeat scroll 0 0 transparent;
}
#slider-expanded-wrapper.arabic #tc-slide-7 {
	background: url("../images/landingPage/arabic/bg-shapes-2lines.png")/*tpa=http://www.citigroup.com/citi/images/landingPage/arabic/bg-shapes-2lines.png*/ no-repeat scroll 0 0 transparent;
}
#slider-expanded-wrapper.arabic #tc-slide-2-cut {
	background: url("../images/landingPage/arabic/bg-shapes-2.png")/*tpa=http://www.citigroup.com/citi/images/landingPage/arabic/bg-shapes-2.png*/ no-repeat scroll 0 0 transparent;
}
#slider-expanded-wrapper.arabic #tc-slide-11 {
	background: url("../images/landingPage/arabic/bg-shapes-2lines.png")/*tpa=http://www.citigroup.com/citi/images/landingPage/arabic/bg-shapes-2lines.png*/ no-repeat scroll 0 0 transparent;
}
#slider-expanded-wrapper.arabic #tc-slide-12 {
	background: url("../images/landingPage/arabic/bg-shapes-4.png")/*tpa=http://www.citigroup.com/citi/images/landingPage/arabic/bg-shapes-4.png*/ no-repeat scroll 0 0 transparent;
}
#slider-expanded-wrapper.arabic #tc-slide-13 {
	background: url("../images/landingPage/arabic/bg-shapes-2lines.png")/*tpa=http://www.citigroup.com/citi/images/landingPage/arabic/bg-shapes-2lines.png*/ no-repeat scroll 0 0 transparent;
}
#landing-page-wrapper #slider-expanded-wrapper.arabic #relative #overflow ul.expanded-slides li.expanded-slide ul.section-holder li.first p {
	font-size:14px;
}
#landing-page-wrapper #slider-expanded-wrapper.arabic #relative #overflow ul.expanded-slides li.expanded-slide ul.section-holder li.fourth img {
	float:right;
	margin-right:9px;
}
#landing-page-wrapper #slider-expanded-wrapper.arabic #relative #overflow ul.expanded-slides li.expanded-slide ul.section-holder li h2 {
	text-align:right;
	font-size:15px;
}
#landing-page-wrapper #slider-expanded-wrapper.arabic #relative #overflow ul.expanded-slides li.expanded-slide ul.section-holder li p {
	text-align:right;
	font-size:14px;
}
#landing-page-wrapper #slider-expanded-wrapper.arabic .section-holder a.sub-two, #landing-page-wrapper #slider-expanded-wrapper.arabic .section-holder a.sub-one {
	font-size:14px;
	text-align:right;
	right:14px !important;
	background: url("../images/landingPage/arabic/arrow-back.png")/*tpa=http://www.citigroup.com/citi/images/landingPage/arabic/arrow-back.png*/ no-repeat right 4px transparent;
	padding-right: 10px;
	padding-left: 0 !important;
}
#landing-page-wrapper #slider-expanded-wrapper #relative #overflow ul.expanded-slides li.expanded-slide ul.section-holder li #lock-text {
	clear:both;
}
#landing-page-wrapper #slider-expanded-wrapper.arabic #relative #overflow ul.expanded-slides li.expanded-slide .back-link {
	background: url("../images/landingPage/arabic/arrow-back.png")/*tpa=http://www.citigroup.com/citi/images/landingPage/arabic/arrow-back.png*/ no-repeat scroll right 4px transparent;
	padding-left: 0;
	padding-right: 10px;
	text-align:right;
	font-size:13px;
}
#landing-page-wrapper #slider-expanded-wrapper.arabic li.expanded-slide ul.section-holder li.third img, #landing-page-wrapper #slider-expanded-wrapper.arabic li.expanded-slide ul.section-holder li.second img {
	float:right !important;
}
#landing-page-wrapper #slider-expanded-wrapper.arabic li.expanded-slide .learn-more {
	clear:both;
	text-align:right;
	background: url("../images/landingPage/arabic/arrow-back.png")/*tpa=http://www.citigroup.com/citi/images/landingPage/arabic/arrow-back.png*/ no-repeat right 3px;
	margin-right:10px;
	padding-right:10px;
	font-size:14px;
}
#landing-page-wrapper #slider-expanded-wrapper.arabic #custom-slide.two-hundred #right ul.chip-holder li #state-two img.arrow {
    bottom: 5px;
    
}

/*  ============================= MANDARIN  ============================= */
#landing-page-wrapper #slider-expanded-wrapper.mandarin #relative #overflow ul.expanded-slides li.expanded-slide ul.section-holder li.first p{
 	font-family: Adobe Heiti Std, STHeitiSC-Medium  !important;
	font-weight: normal !important;
	font-size:12px;
	letter-spacing:-1px;
	
}
#slider-expanded-wrapper.mandarin #tc-slide-video {
	background: url("../images/landingPage/mandarin/bg-shapes-8.png")/*tpa=http://www.citigroup.com/citi/images/landingPage/mandarin/bg-shapes-8.png*/ no-repeat scroll 0 0 transparent;
}
#slider-expanded-wrapper.mandarin #tc-slide-2 {
	background: url("../images/landingPage/timeline/bg-shapes-2_revised_2.png")/*tpa=http://www.citigroup.com/citi/images/landingPage/timeline/bg-shapes-2_revised_2.png*/ no-repeat scroll 0 0 transparent;
}
#slider-expanded-wrapper.mandarin #tc-slide-10 {
	background: url("../images/landingPage/timeline/bg-shapes-17.png")/*tpa=http://www.citigroup.com/citi/images/landingPage/timeline/bg-shapes-17.png*/ no-repeat scroll 0 0 transparent;
}
#slider-expanded-wrapper.mandarin #tc-slide-11 {
	background: url("../images/landingPage/mandarin/bg-shapes-1lines.png")/*tpa=http://www.citigroup.com/citi/images/landingPage/mandarin/bg-shapes-1lines.png*/ no-repeat scroll 0 0 transparent;
}
#slider-expanded-wrapper.mandarin #tc-slide-9 {
	background: url("../images/landingPage/mandarin/bg-shapes-3lines_right_link.png")/*tpa=http://www.citigroup.com/citi/images/landingPage/mandarin/bg-shapes-3lines_right_link.png*/ no-repeat scroll 0 0 transparent;
}
#slider-expanded-wrapper.mandarin #tc-slide-12 {
	background: url("../images/landingPage/mandarin/bg-shapes-3lines_right.png")/*tpa=http://www.citigroup.com/citi/images/landingPage/mandarin/bg-shapes-3lines_right.png*/ no-repeat scroll 0 0 transparent;
}
#slider-expanded-wrapper.mandarin #tc-slide-5 {
	background: url("../images/landingPage/mandarin/bg-shapes-3lines_right.png")/*tpa=http://www.citigroup.com/citi/images/landingPage/mandarin/bg-shapes-3lines_right.png*/ no-repeat scroll 0 0 transparent;
}
#slider-expanded-wrapper.mandarin #tc-slide-13 {
	background: url("../images/landingPage/mandarin/bg-shapes-2lines.png")/*tpa=http://www.citigroup.com/citi/images/landingPage/mandarin/bg-shapes-2lines.png*/ no-repeat scroll 0 0 transparent;
}
#slider-expanded-wrapper.mandarin #tc-slide-7 {
	background: url("../images/landingPage/mandarin/bg-shapes-2lines.png")/*tpa=http://www.citigroup.com/citi/images/landingPage/mandarin/bg-shapes-2lines.png*/ no-repeat scroll 0 0 transparent;
}
#slider-expanded-wrapper.mandarin #tc-slide-6 {
	background: url("../images/landingPage/mandarin/bg-shapes-2lines.png")/*tpa=http://www.citigroup.com/citi/images/landingPage/mandarin/bg-shapes-2lines.png*/ no-repeat scroll 0 0 transparent;
}
#slider-expanded-wrapper.mandarin #tc-slide-8 {
	background: url("../images/landingPage/mandarin/bg-shapes-2lines.png")/*tpa=http://www.citigroup.com/citi/images/landingPage/mandarin/bg-shapes-2lines.png*/ no-repeat scroll 0 0 transparent;
}
#slider-expanded-wrapper.mandarin #tc-slide-4 {
	background: url("../images/landingPage/mandarin/bg-shapes-2lines.png")/*tpa=http://www.citigroup.com/citi/images/landingPage/mandarin/bg-shapes-2lines.png*/ no-repeat scroll 0 0 transparent;
}
#slider-expanded-wrapper.mandarin #tc-slide-2-cut {
	background: url("../images/landingPage/timeline/bg-shapes-17.png")/*tpa=http://www.citigroup.com/citi/images/landingPage/timeline/bg-shapes-17.png*/ no-repeat scroll 0 0 transparent;
}
#slider-expanded-wrapper.mandarin #custom-two-hundred {
	background: url("../images/landingPage/mandarin/bg-mainshapes.png")/*tpa=http://www.citigroup.com/citi/images/landingPage/mandarin/bg-mainshapes.png*/ no-repeat scroll 0 0 transparent;
}
#landing-page-wrapper #slider-expanded-wrapper.mandarin #relative #overflow ul.expanded-slides li#tc-slide-video ul.section-holder li.fourth-small{
	padding-top:21px;
}
#landing-page-wrapper #slider-expanded-wrapper.mandarin #custom-slide.two-hundred #left h1{
	background: url("../images/landingPage/mandarin/copy-1.png")/*tpa=http://www.citigroup.com/citi/images/landingPage/mandarin/copy-1.png*/ no-repeat scroll left top transparent;
    height: 106px;
    margin: 15px 0 10px;
    padding: 0;
    width: 228px;
}
#landing-page-wrapper #slider-expanded-wrapper.mandarin #custom-slide.two-hundred #left p{
	 background: url("../images/landingPage/mandarin/copy-2.png")/*tpa=http://www.citigroup.com/citi/images/landingPage/mandarin/copy-2.png*/ no-repeat scroll left top transparent;
    height: 33px;
    width: 279px;
}
#landing-page-wrapper #slider-expanded-wrapper.mandarin #custom-slide.two-hundred #left .cta a.comm-link{
	font-family: STHeitiSC-Medium, Adobe Heiti Std !important;
	font-size:13px !important;
}

#landing-page-wrapper #slider-expanded-wrapper.mandarin #custom-slide.two-hundred #right .chip-holder .link-state-one{
	font-size:9px !important;
	font-family: STHeitiSC-Medium, Adobe Heiti Std  !important;
	font-weight: normal !important;
}
#landing-page-wrapper #slider-expanded-wrapper.mandarin #custom-slide.two-hundred #right .chip-holder .link-state-two{
	font-size:9px !important;
	font-family: STHeitiSC-Medium, Adobe Heiti Std !important;
	font-weight: normal !important;
}
#landing-page-wrapper #slider-expanded-wrapper.mandarin .back-link{
	
	font-family: STHeitiSC-Medium, Adobe Heiti Std !important;
	
}
#landing-page-wrapper #slider-expanded-wrapper.mandarin a.sub-two, #landing-page-wrapper #slider-expanded-wrapper.mandarin a.sub-video{
	font-family: Adobe Heiti Std, STHeitiSC-Medium;
	font-weight:normal;
	
	
	
	
}

body #landing-page-wrapper #slider-expanded-wrapper.mandarin a#videoLink:hover{
	color:#39C;
}

#landing-page-wrapper #slider-expanded-wrapper.mandarin a.sub-two{
	font-family: STHeitiSC-Medium, Adobe Heiti Std;
	
	
}
#landing-page-wrapper #slider-expanded-wrapper.mandarin #relative #overflow ul.expanded-slides li.expanded-slide ul.section-holder li p{
	font-family: STHeitiSC-Medium, Adobe Heiti Std;
	font-size:11px;
}
#landing-page-wrapper #slider-expanded-wrapper.mandarin #relative #overflow ul.expanded-slides li.expanded-slide ul.section-holder li.second h2,
#landing-page-wrapper #slider-expanded-wrapper.mandarin #relative #overflow ul.expanded-slides li.expanded-slide ul.section-holder li.third h2{
	font-family: STHeitiSC-Medium, Adobe Heiti Std;
	font-weight:normal;
}

#landing-page-wrapper #slider-expanded-wrapper.mandarin #relative #overflow ul.expanded-slides li.expanded-slide ul.section-holder li.first p.olimp
 {
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 12px !important;
    font-weight: bold !important;
	letter-spacing: 0px !important;
}
#landing-page-wrapper #slider-expanded-wrapper.mandarin #relative #overflow ul.expanded-slides li.expanded-slide ul.section-holder li.fourth-small p.olimp{
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 12px !important;}
#landing-page-wrapper #slider-expanded-wrapper.mandarin #relative #overflow ul.expanded-slides li.expanded-slide ul.section-holder li.first a.olimp{
	
}
	
#landing-page-wrapper #slider-expanded-wrapper.mandarin #custom-slide.two-hundred #left ul.cta{margin-top:6px;}
#landing-page-wrapper #slider-expanded-wrapper.mandarin #relative #overflow ul.expanded-slides li.expanded-slide ul.section-holder li.pioneers {padding-top:26px !important;}
#landing-page-wrapper #slider-expanded-wrapper.mandarin #relative #overflow ul.expanded-slides li.expanded-slide ul.section-holder li.first{padding-right:2px;background: url("../images/landingPage/divider-expanded_slides.jpg")/*tpa=http://www.citigroup.com/citi/images/landingPage/divider-expanded_slides.jpg*/ no-repeat right transparent;}
.em-ita{ font-style:italic;}


/* ================= SPANISH ====================*/
#slider-expanded-wrapper.spanish #tc-slide-10 {
	background: url("../images/landingPage/spanish/bg-shapes-01.png")/*tpa=http://www.citigroup.com/citi/images/landingPage/spanish/bg-shapes-01.png*/ no-repeat scroll 0 0 transparent;
}
#slider-expanded-wrapper.spanish #tc-slide-8 {
	background: url("../images/landingPage/spanish/bg-shapes-02.png")/*tpa=http://www.citigroup.com/citi/images/landingPage/spanish/bg-shapes-02.png*/ no-repeat scroll 0 0 transparent;
}
#slider-expanded-wrapper.spanish #tc-slide-5 {
	background: url("../images/landingPage/timeline/bg-shapes-5.png")/*tpa=http://www.citigroup.com/citi/images/landingPage/timeline/bg-shapes-5.png*/ no-repeat scroll 0 0 transparent;
}
#slider-expanded-wrapper.spanish #tc-slide-7 {
	background: url("../images/landingPage/timeline/bg-shapes-12.png")/*tpa=http://www.citigroup.com/citi/images/landingPage/timeline/bg-shapes-12.png*/ no-repeat scroll 0 0 transparent;
}
#slider-expanded-wrapper.spanish #tc-slide-2-cut {
	background: url("../images/landingPage/timeline/bg-shapes-2_revised_2.png")/*tpa=http://www.citigroup.com/citi/images/landingPage/timeline/bg-shapes-2_revised_2.png*/ no-repeat scroll 0 0 transparent;
}
#slider-expanded-wrapper.spanish #tc-slide-12 {
	background: url("../images/landingPage/timeline/bg-shapes-18.png")/*tpa=http://www.citigroup.com/citi/images/landingPage/timeline/bg-shapes-18.png*/ no-repeat scroll 0 0 transparent;
}
#landing-page-wrapper #slider-expanded-wrapper.spanish #custom-slide.two-hundred #left h1{
	background: url("../images/landingPage/spanish/copy-1.png")/*tpa=http://www.citigroup.com/citi/images/landingPage/spanish/copy-1.png*/ no-repeat scroll left top transparent;
    height: 118px;
    width: 286px;
	margin: 0 0 5px;
}
#landing-page-wrapper #slider-expanded-wrapper.spanish #custom-slide.two-hundred #left p {
    background: url("../images/landingPage/spanish/copy-2.png")/*tpa=http://www.citigroup.com/citi/images/landingPage/spanish/copy-2.png*/ no-repeat scroll left top transparent;
    height: 68px;
    width: 272px;
	margin-bottom:-7px;
}
#landing-page-wrapper #slider-expanded-wrapper.spanish #custom-slide.two-hundred #left ul.cta li{
	width: 222px;
}
#landing-page-wrapper #slider-expanded-wrapper.spanish a.link-state-two.copy-7{
	line-height: 10.5px;
    padding-top: 4px;
}
#landing-page-wrapper #slider-expanded-wrapper.spanish #relative #overflow ul.expanded-slides li.expanded-slide ul.section-holder li.fourth-small{
	padding-left: 8px;
}
#landing-page-wrapper #slider-expanded-wrapper.spanish a.sub-one{left: 10px;}
#landing-page-wrapper #slider-expanded-wrapper.spanish #relative #overflow ul.expanded-slides li#tc-slide-4 ul.section-holder li.third{
	width:260px;
}
#landing-page-wrapper #slider-expanded-wrapper.spanish #relative #overflow ul.expanded-slides li#tc-slide-4 ul.section-holder li.fourth{
	width:160px;
}

/* ====  Russian  ==== */
#landing-page-wrapper #slider-expanded-wrapper.russian #relative #overflow ul.expanded-slides li.expanded-slide ul.section-holder li.fourth-small {
   
    padding-left: 10px;
   
}
#landing-page-wrapper #slider-expanded-wrapper.russian #tc-slide-video {
    background: url("../images/landingPage/timeline/bg-shapes-8_b.png")/*tpa=http://www.citigroup.com/citi/images/landingPage/timeline/bg-shapes-8_b.png*/ no-repeat scroll left top transparent;
}
#landing-page-wrapper #slider-expanded-wrapper.russian #tc-slide-6 {
    background: url("../images/landingPage/timeline/bg-shapes-19.png")/*tpa=http://www.citigroup.com/citi/images/landingPage/timeline/bg-shapes-19.png*/ no-repeat scroll left top transparent;
}
#landing-page-wrapper #slider-expanded-wrapper.russian #tc-slide-4 {
    background: url("../images/landingPage/timeline/bg-shapes-12.png")/*tpa=http://www.citigroup.com/citi/images/landingPage/timeline/bg-shapes-12.png*/ no-repeat scroll left top transparent;
}
#landing-page-wrapper #slider-expanded-wrapper.russian #tc-slide-7 {
    background: url("../images/landingPage/timeline/bg-shapes-12.png")/*tpa=http://www.citigroup.com/citi/images/landingPage/timeline/bg-shapes-12.png*/ no-repeat scroll left top transparent;
}
#landing-page-wrapper #slider-expanded-wrapper.russian #tc-slide-2-cut {
    background: url("../images/landingPage/timeline/bg-shapes-2_revised.png")/*tpa=http://www.citigroup.com/citi/images/landingPage/timeline/bg-shapes-2_revised.png*/ no-repeat scroll left top transparent;
}
#landing-page-wrapper #slider-expanded-wrapper.russian #tc-slide-13 {
    background: url("../images/landingPage/timeline/bg-shapes-12.png")/*tpa=http://www.citigroup.com/citi/images/landingPage/timeline/bg-shapes-12.png*/ no-repeat scroll left top transparent;
}
#landing-page-wrapper #slider-expanded-wrapper.russian #custom-slide.two-hundred #left h1 {
    background: url("../images/landingPage/russian/copy-1.png")/*tpa=http://www.citigroup.com/citi/images/landingPage/russian/copy-1.png*/ no-repeat scroll left top transparent;
    height: 98px;
    width: 246px;
}
#landing-page-wrapper #slider-expanded-wrapper.russian #custom-slide.two-hundred #left p {
    background: url("../images/landingPage/russian/copy-2.png")/*tpa=http://www.citigroup.com/citi/images/landingPage/russian/copy-2.png*/ no-repeat scroll left top transparent;
    height: 57px;
    width: 285px;
}
#landing-page-wrapper #slider-expanded-wrapper.russian #custom-slide.two-hundred #left ul.cta {
   margin-top: 8px;
   
}
#landing-page-wrapper #slider-expanded-wrapper.russian a.link-state-one{
	font-size:10px;
	line-height:12px;
}

#landing-page-wrapper #slider-expanded-wrapper.russian a.link-state-two{
	padding-top:5px;
	height:77px;
	line-height:11px;
}
#landing-page-wrapper #slider-expanded-wrapper.russian span.copy-08{
	letter-spacing:-0.5px;
}
#landing-page-wrapper #slider-expanded-wrapper.russian span.copy-09{
	line-height:12px;
	letter-spacing:-0.5px;
}
#landing-page-wrapper #slider-expanded-wrapper.russian span.copy-10{
	line-height:12px;
	letter-spacing:-1px;
}
#landing-page-wrapper #slider-expanded-wrapper.russian a.sub-one{left:10px;}
#landing-page-wrapper #slider-expanded-wrapper.russian #relative #overflow ul.expanded-slides li#tc-slide-2 ul.section-holder li.third{width:255px;}

#landing-page-wrapper #slider-expanded-wrapper.russian div.small-vid-wrapper {
    height: 135px;
    margin-bottom: 15px;
    width: 213px;
}