#custom-slide.two-hundred #left #language-selector{
	width:120px;
	margin: 0px 0px 5px 60px;
	font-family: arial, helvetica;
	font-size: 11px;
}
#language-selector select {
	width:120px;
}
#language-selector .custom-dropdown-head{
	position:relative;
	width:100%;
	height:16px;
	padding-left:12px;
	padding-top:3px;
	background-color:#fff;
	cursor:pointer;
	border:solid 1px #b8bfc1;
	background-image:url('../images/global/custom_dropdown_head_bullet.png')/*tpa=http://www.citigroup.com/citi/images/global/custom_dropdown_head_bullet.png*/;
	background-repeat:no-repeat;
	background-position:100%;
	font-size:11px;
	line-height: 1.25em;
}
#language-selector .custom-dropdown-animationWrapper{
	position:absolute;
	overflow:hidden;
	margin-left:-12px;
	padding-left:12px;
	padding-right:24px;
	padding-bottom:12px;
	z-index:1000;
}
#language-selector .custom-dropdown-dropdown{
	position:relative;
	padding-left:12px;
	padding-top:4px;
	padding-bottom:0;
	padding-right:0;
	width:100%;
	background-color:#fff;
	-moz-box-shadow:    0px 3px 8px 0px rgba(0,0,0,.5);
	-webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,.5);
	box-shadow:         0px 3px 8px 0px rgba(0,0,0,.5);
	border-bottom-left-radius:12px;
	-webkit-border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	-webkit-border-bottom-right-radius:12px;
	overflow:hidden;
}
#language-selector .custom-dropdown-dropdown-item-wrapper{
	max-height:140px;
	overflow-y:auto;
	padding-right:0px;
	outline: none;
}
#language-selector .custom-dropdown-item{
	color:#333;
	padding-top:4px;
	padding-bottom:4px;
	margin-right:42px;
	cursor:pointer;
	background-image:url('../images/global/custom_dropdown_item_hor.png')/*tpa=http://www.citigroup.com/citi/images/global/custom_dropdown_item_hor.png*/;
	background-repeat:repeat-x;
	background-position:0 100%;
}
#language-selector .custom-dropdown .jspVerticalBar{
	width:7px;
	right:10px;
	background-color:#fff;
}