@charset utf-8;

body,form {
height:100%;
margin:0;
padding:0;
}

body {
font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size:12px;
color:#444;
}

#mid-wrap {
width:948px;
height:200px;
z-index:-9999;
padding-top:10px;
margin:0 auto;
}

.consumers {
width: 800px;
margin: auto;
}

.bot-wrap-home {
position:relative;
top:630px; /*745px original*/
right:0;
left:0;
padding-top:20px; /*Padding added since I took gray background off*/
/*height:200px;*/
clear:both;
width:100%;
/*background-image:url(http://www.phillips66.com/Documents/botmenu-bgrnd.jpg);
background-color:#e6e6e6;
background-repeat:repeat-x;*/
z-index:-999;
}

.bot-wrap {
position:relative;
/*height:200px;*/
clear:both;
width:100%;
padding-top:20px; /*Padding added since I took gray background off*/
/*background-image:url(http://www.phillips66.com/Documents/botmenu-bgrnd.jpg);
background-color:#e6e6e6;
background-repeat:repeat-x;*/

margin:-50px auto auto;
}

.bot-nav {
width:948px;
border-top: #CCC 2px solid; /*Line added since I took the gray background off*/
/*padding-top:20px;*/
padding-top:5px; /*Padding changed since I took gray background off*/

padding-left:20px;
text-align:left;
margin:auto;
}

.botnavtitle {
font-family:"Helvetica Lt Std", "Arial Narrow", sans-serif;
color:#C00;
font-size:13px;
font-weight:700;
margin-bottom:2px;
}

.bot-wrap ul {
font-family:Arial, Helvetica, sans-serif;
color:#555;
font-size:11px;
list-style-image:url(../../www.phillips66.com/Documents/bttmnav-arrow.png)/*tpa=http://www.phillips66.com/Documents/bttmnav-arrow.png*/;
}

.bot-wrap td {
width:20%;
}

.footer {
font-family:Arial, Helvetica, sans-serif;
color:#555;
font-size:10px;
}

.bot-wrap a,.footer a {
color:#555!important;
text-decoration:none;
}

.bot-wrap a:hover,.footer a:hover {
color:#333!important;
text-decoration:none;
}