@charset utf-8;
/********************************* CSS FOR STOCK WEP PART ********************************/
.p66stock {
font-size:18px;
font-weight:700;
float:left;
padding-right:50px;
}

.p66stockprice {
font-size:14px;
float:left;
padding-right:50px;
padding-top:4px;
}

.h3 {
font-family:"Helvetica Lt Std", "Arial Narrow", sans-serif;
color:#C00;
font-size:18px;
margin-bottom:2px;
margin-top:5px;
}

.h6 {
font-family:"Helvetica Lt Std", "Arial Narrow", sans-serif;
color:#555;
font-size:12px;
text-transform:uppercase;
margin-bottom:2px;
margin-top:5px;
}

.investor-home {
float:right;
width:275px;
}

.ms-standardheader.ms-WPTitle {
text-transform:none;
font-family:Arial, Helvetica, sans-serif;
font-style:normal;
font-size:11px;
font-weight:700;
text-decoration:none!important;
overflow:visible;
color:#505d64;
}

.ms-WPBorder {
border-top-width:0;
}

.ms-WPBody {
font-size:11pt;
font-family:Arial, Helvetica, sans-serif!important;
}

.ms-WPBody p {
margin-top:5px;
}

.ms-WPBody a:hover {
color:#076593;
text-decoration:underline;
}

.ms-WPBody a {
color:#067AB4!important;
text-decoration:none;
}

.ms-WPBody a:visited {
color:#1c63ab!important;
text-decoration:none;
}


.ms-WPBody ul {
list-style:disc outside !important;
margin:0 0 12px 10px;
padding:0;
}

.ms-WPBody li {
margin:0 0 4px 5px;
padding:0;
}

.ms-WPBody ol {
list-style:decimal outside !important;
margin:0 0 12px 30px;
padding:0;
}

.ms-WPBody li ul {
margin-top:5px;
margin-left:15px;
list-style:disc !important;
}

span.headertitle.headermarker {
	margin-left:9px;
}  

.toc-layout-main ul {
	list-style:none !important;
}

.toc-layout-main li ul {
	list-style:none !important;
}

.ms-core-webpartadder {
	z-index:1;
}

.ms-formlabel h3.ms-standardheader {
font-weight: bold !important;
}

.ms-formlabel h3.ms-standardheader{
width: 190px;
}

.ms-accentText{
color: #ff0000;
font-family:Verdana;
}

.ms-formbody {
background: #ebf3ff !important;
}

.ms-webpart-titleText {
text-transform: none;
font-family: Arial, Helvetica, sans-serif !important;
font-style: normal;
font-size: 11px !important;
font-weight: 700;
text-decoration: none!important;
overflow: visible !important;
color: #505d64 !important;
border-bottom-color: rgb(212, 212, 212);
border-bottom-style: solid;
border-bottom-width: 1px;
}

/*
a:-webkit-any-link {
text-decoration: underline;
cursor: auto;
}
*/

.bodyhome {
position: relative;
z-index: 0;
}

.ms-ToolPaneOuter {
	position:relative;
}

select.ms-sbscopes {display:none!important;}

.ms-sbplain{border:none!important;}

.additemtable tr td span label {
float:none!important;
vertical-align:top!important;
margin-left:5px;
}

.additemtable tr td span select {
border:solid 1px;
}

.additemtable tr td h3 nobr {
white-space:normal!important;
border-bottom:none;
}

.additemsubmit {
text-align:right;
}

.ms-ToolPaneBorder,.ms-ToolPaneBody
{
background-color: rgba(148, 147, 147, 0.09);
}

.ms-long {
width: 386px;
}

.ms-cui-menu {
	position:fixed !important;
}
.nav-standard {
position:absolute;
top:71px;
width:875px;
height:26px;
z-index:100;
float:right;
background-image:url(../../www.phillips66.com/documents/nav-bgrnd-grey.jpg)/*tpa=http://www.phillips66.com/documents/nav-bgrnd-grey.jpg*/;
background-repeat:no-repeat;
margin:0 0 0 73px;
padding:0;
}

.nav .nav-standard li {
list-style:none;
top:0;
z-index:10000;
display:inline;
margin:0;
}

.nav .nav-standard a {
height:26px;
display:inline;
z-index:10000;
color:#FFF;
font-family:Calibri, "Lucida Grande", sans-serif;
font-size:13px;
line-height:26px;
font-weight:700;
text-decoration:none;
}

td.ms-sbcell {
white-space:nowrap;
border:none;
padding:0 0 0 2px;
}

.ms-sbplain {
font-family:Tahoma;
font-size:8pt;
border:1px #000 solid;
color:#555;
}

select.ms-sbscopes {
display:none;
}

.authoringRegion {
width:100%;
background-color:#DDD;
color:#333;
text-align:left;
}

.sharepointLogin {
float:right;
display:inline;
}

body {
background:url(../../www.phillips66.com/Documents/background-white-gray.jpg)/*tpa=http://www.phillips66.com/Documents/background-white-gray.jpg*/ repeat-x #fff !important;
top:0;
color:#666;
font:11px Arial, Helvetica, sans-serif;
text-align:center;
height:100%;
margin:0;
padding:0;
background-size: initial;
}

div {
scrollbar-arrow-color:#686262;
scrollbar-face-color:#eeedf3;
scrollbar-darkshadow-color:#d7d6dc;
scrollbar-highlight-color:#FFF;
scrollbar-shadow-color:#d7d6dc;
scrollbar-track-color:#f6f6f8;
scrollbar-3dlight-color:#d5d6da;
margin:0;
}

p {
font-family:Verdana;
font-weight:400;
color:#000;
margin:-5px 0 12px;
}

hr {
background:#cdcfd0;
border:0;
color:#cdcfd0;
height:1px;
margin:0 0 10px;
}

ul {
list-style:disc outside;
margin:0 0 12px 10px;
padding:0;
}

li {
margin:0 0 4px 5px;
padding:0;
}

ol {
list-style:decimal outside;
margin:0 0 12px 30px;
padding:0;
}

li ul {
margin-top:5px;
margin-left:15px;
list-style:disc;
}

form {
margin:0;
padding:0;
}

fieldset {
border:none;
margin:0;
padding:0;
}

input {
vertical-align:middle;
margin:0 0 5px;
padding:0;
}

input.button {
font-weight:700;
color:#666;
vertical-align:top;
padding:1px 3px;
}

input.input-box {
vertical-align:middle;
padding:1px;
}

.radio-button {
margin-right:3px;
vertical-align:middle;
}

select {
font-size:10px;
vertical-align:middle;
border:1px;
margin:2px;
}

table {
border-collapse:collapse;
clear:both;
}

h1,h2,h3,h4,h5,h6 {
font-weight:700;
margin:0 0 5px;
padding:0;
}

h1 {
margin-left:2px;
font-size:22px;
font-weight:400;
color:#E00;
}

h2 {
font-size:18px;
font-weight:700;
padding-bottom:8px;
color:#E00;
}

h2.subhead {
font-size:18px!important;
margin-top:5px;
}

h3 {
font-size:12px;
border-bottom:#d4d4d4 solid 1px;
}

h3 a:visited {
font-weight:700;
color:#666;
text-transform:uppercase;
text-decoration:none;
}

h3 a:hover {
font-weight:700;
color:#666;
text-transform:uppercase;
text-decoration:underline;
}

h3 em {
font-weight:400;
font-style:normal;
}

h3.stock {
font-size:12px;
color:#444;
text-transform:none;
}

h3.stock2 {
font-size:12px;
color:#444;
background:url(Unknown_83_filename)/*tpa=http://www.phillips66.com/Documents/rightside-header-bgrnd.jpg*/ repeat-x #cbcbcb;
text-transform:none;
}

h4 {
font-size:10px;
}

h6 {
font-size:9px;
color:#666;
font-weight:700;
}

small {
font-size:8px;
color:#666;
}

a:link {
color:#067ab4;
font-weight:400;
}

a:visited {
color:#84479d;
/*text-decoration:underline;*/
font-weight:400;
}

a:hover {
color:#076593;
text-decoration:underline;
font-weight:400;
}

#ms-designer-ribbon{
	position:fixed !important;
	z-index:999 !important;
	width:952px !important;
}

#background-iframe {
position:absolute;
top:0;
right:0;
left:0;
z-index:-1;
overflow:hidden;
}

#page-wrapper {
text-align:left;
width:949px;
margin: auto;
padding-bottom:200px;
min-height:100%;

}

#page-wrapper-home {
text-align:left;
width:949px;
min-height:100%;
margin: auto;
position:relative;
}

#pagecolor {
background-image:url(../../www.phillips66.com/Documents/background-shaded.jpg)/*tpa=http://www.phillips66.com/Documents/background-shaded.jpg*/;
background-repeat:no-repeat;
background-position:center top;
width:995px;
margin:0 auto;
min-height:100%;

}

#header {
clear:both;
position:relative;
height:100px;
background-color:#fff;
margin:0;
padding:0;
z-index:2;
}

.level-header #header  {
z-index:1 !important;
}

.level-band #header {
z-index:1 !important;
}

#header #search-box {
position:absolute;
left:658px;
top:35px;
font-weight:700;
color:#fff;
margin:0;
padding:0;
}

#headerhome {
clear:both;
position:relative;
height:100px;
margin:0;
padding:0;
}

#headerhome #search-box {
position:absolute;
left:658px;
top:41px;
font-weight:700;
color:#fff;
margin:0;
padding:0;
}

.ms-srch-hover-outerContainer{
display:none !important;
}

.nav {
position:absolute;
top:71px;
width:875px;
height:26px;
z-index:100;
float:right;
background-image:url(../../www.phillips66.com/Documents/nav-bgrnd.jpg)/*tpa=http://www.phillips66.com/Documents/nav-bgrnd.jpg*/;
background-repeat:no-repeat;
margin:0 0 0 73px;
padding:0;
}

.nav li {
list-style:none;
top:0;
z-index:10000;
display:inline;
margin:0;
padding:5px;
}

.nav a {
height:26px;
display:inline;
z-index:10000;
color:#FFF;
font-family:Calibri, "Lucida Grande", sans-serif;
font-size:14px;
line-height:26px;
font-weight:700;
text-decoration:none;
}


#navspace {
padding:0 15px;
}

.homenav {
position:absolute;
top:71px;
z-index:100;
float:right;
background-image:url(../../www.phillips66.com/Documents/nav-bgrnd-home.png)/*tpa=http://www.phillips66.com/Documents/nav-bgrnd-home.png*/;
background-repat:no-repeat;
width:875px;
height:26px;
margin:0 0 0 73px;
}

.newsArticle {
width:500px;
position:relative;
/*float:left;*/
font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size:12px;
padding: 5px 0;
}

.newsArticleTitle {
width:90px;
float:left;
}

.newArticleDescription {
width:400px;
margin-left:90px;
}

.p66HomeLowerZone {
position:absolute;
top:560px;
}

.p66HomeLowerZoneCenter {
	padding-left:20px;
}

.p66HomeLowerZoneRight {
	padding-left:20px;
}


.subtitle {
text-transform:uppercase;
margin-top:5px;
font-family:"Helvetica Lt Std", "Arial Narrow", sans-serif;
margin-bottom:2px;
color:#555;
font-size:14px;
font-weight:700;
}

.investorHeader {
font-family:Arial Narrow, sans-serif;
margin-top:5px;
margin-bottom:2px;
color:#C00;
font-size:18px!important;
font-weight:700;
text-transform:uppercase;
}

#nav {
list-style:none;
line-height:1;
float:right;
height:26px;
font-size:10px;
text-align:right;
z-index:10;
margin:0;
padding:0 11px 0 10px;
}

#nav ul {
background:url(Unknown_83_filename)/*tpa=http://www.phillips66.com/Documents/dropnav-bgrnd.jpg*/ #fff no-repeat left bottom;
z-index:10;
}

#nav a {
display:block;
color:#fff;
text-decoration:none;
font-family:Calibri, "Lucida Grande", Helvetica, sans-serif;
font-size:14px;
font-weight:700;
z-index:10;
padding:7px 12px 5px;
}

#nav a:hover {
color:#7f7f7f;
background-color:#FFF;
top:0;
}

#nav #submenu {
display:block;
width:18em;
color:#fff;
text-decoration:none;
font-family:Calibri, "Lucida Grande", Helvetica, sans-serif;
font-weight:700;
z-index:10;
padding:0 4px 4px 0;
}

#nav #submenu li {
width:18em;
height:25px;
display:inline;
color:#fff;
vertical-align:middle;
z-index:10;
margin:0;
padding:0;
}

#nav #submenu li a {
color:#000;
text-decoration:none;
margin-top:6px;
padding-left:10px;
font-family:Tahoma,Arial, Helvetica, sans-serif;
font-size:10px;
z-index:9;
}

#nav #submenu li a:hover {
background-color:#7f7f7f;
color:#FFF;
}

#nav #submenu * {
font-weight:400;
text-transform:capitalize;
text-align:left;
z-index:10;
}

#nav li {
float:left;
width:auto;
height:26px;
display:inline;
color:#fff;
vertical-align:middle;
z-index:10;
margin:0;
padding:0;
}

#nav li ul {
position:absolute;
width:18em;
margin-top:-.1em;
margin-left:1em;
left:-999em;
z-index:10;
padding:0;
}

#nav li ul ul {
z-index:10;
margin:-1.75em 0 0 9.7em;
padding:0;
}

#nav li:hover ul ul,#nav li:hover ul ul ul,#nav li.sfhover ul ul,#nav li.sfhover ul ul ul {
left:-999em;
z-index:10;
}

#nav li:hover ul,#nav li li:hover ul,#nav li li li:hover ul,#nav li.sfhover ul,#nav li li.sfhover ul,#nav li li li.sfhover ul {
left:auto;
z-index:10;
}

#clearnav {
clear:left;
}

#utility-nav {
background:#e6e6e6;
float:right;
position:relative;
font-size:12px;
height:19px;
padding:0 5px 8px 4px;
}

#utility-nav .nav-bar {
list-style:none;
text-align:center;
padding:0;
padding-right: 13px;
}

#utility-nav .nav-bar li {
display:inline;
color:#666;
font-family:Calibri, "Lucida Grande", Helvetica, sans-serif;
font-weight:700;
float:left;
margin:0;
padding:0;
}

#utility-nav .nav-bar li a {
color:gray;
text-decoration:none;
float:left;
display:block;
padding:6px 8px;
}

#utility-nav .nav-bar li a img {
margin:-1px;
}

#utility-nav .nav-bar li.current a:hover {
color:#333!important;
}

#utility-nav .nav-bar li.last-nav {
background:none;
}

#utility-nav .nav-bar li.select {
background:url(Unknown_83_filename)/*tpa=http://cpdocctr.phillips66.com/styles/gcommon/internet/images/coprewrite/bkg-top-links-2ndlast.gif*/ no-repeat left center;
display:none;
}

#utility-nav .nav-bar li.select a {
background:url(Unknown_83_filename)/*tpa=http://cpdocctr.phillips66.com/styles/gcommon/internet/images/coprewrite/icn-go-arrow-red.gif*/ no-repeat right center;
color:red!important;
padding-right:15px;
}

#section-header {
clear:both;
height:123px;
background:#636363 url(../../www.phillips66.com/EN/tech/Documents/bannerimage.jpg)/*tpa=http://www.phillips66.com/EN/tech/Documents/bannerimage.jpg*/ no-repeat right bottom;
border:solid #fff;
overflow:hidden;
border-width:0 1px 0 2px;
margin:0;
padding:0;
}

#section-header h2 {
font-size:17px;
color:#fff;
display:block;
width:201px;
text-align:center;
letter-spacing:1px;
font-family:Tahoma,Arial, Helvetica, sans-serif;
font-weight:400;
margin:0 0 0 3px;
padding:70px 0 0;
}

#section-headerNonMM {
clear:both;
height:123px;
background:#636363 url(../../www.phillips66.com/EN/tech/Documents/bannerimage.jpg)/*tpa=http://www.phillips66.com/EN/tech/Documents/bannerimage.jpg*/ no-repeat right;
border:solid #fff;
overflow:hidden;
border-width:0 1px 0 2px;
margin:0;
padding:0;
}

#pagecolor h1,#pagecolor h2 {
color:#E00;
font-family:"Helvetica Lt Std", "Arial Narrow", sans-serif;
font-size:18px;
margin-bottom:2px;
margin-top:5px;
}

#breadcrumb {
clear:both;
font-size:10px;
position:relative;
z-index:0;
margin:0;
padding:5px 20px 20px 22px;
}

#breadcrumb a {
text-decoration:none;
color:#5c676d;
padding-left:10px;
margin-right:10px;
}

#breadcrumb em,#breadcrumb em a {
font-weight:700;
font-style:normal;
background:url(images/coprewrite/icn-breadcrumb-current.gif)/*tpa=http://cpdocctr.phillips66.com/styles/images/coprewrite/icn-breadcrumb-current.gif*/ no-repeat left center;
}

#breadcrumb em a {
padding-left:0;
background:none;
}

#banner {
text-align:left;
clear:both;
height:183px;
width:100%;
margin:0 0 25px;
padding:0;
}

#banner h1 {
margin-right:40px;
}

#banner p {
margin-right:240px;
font-size:15px;
color:#666;
line-height:1.2em;
}

#banner a.look {
background:url(images/coprewrite/icn-go-arrow-red.gif)/*tpa=http://cpdocctr.phillips66.com/styles/images/coprewrite/icn-go-arrow-red.gif*/ no-repeat right center;
text-transform:uppercase;
text-decoration:none;
color:red;
font-weight:700;
padding-right:15px;
}

#column-wrapper {
clear:both;
margin:0;
padding:0;
}

#content-col {
display:inline;
font-family:Arial, Helvetica, sans-serif!important;
float:left;
}

#legacy-content-col {
float:left;
display:inline;
width:723px;
}

.inner {
font-family:Arial, Helvetica, sans-serif!important;
margin:10px 15px 15px;
}


#footer-wrapper {
clear:both;
/*background:#e6e6e6 url(http://www.phillips66.com/Documents/footer-bgrnd.jpg) repeat-x top;*/
width:100%;
margin:0;
padding:0;
}

#footer {
width:949px;
/*color:#505c63;*/
border-top: #CCC 2px solid; /*Line added since I took the gray background off*/
padding-top:10px;
text-align:left;
font-size:10px;
background-color:#e6e6e6;
}

#footer p {
margin:0 0 0 45px;
}

#footer img {
display:block;
margin:10px 0 0 10px;
}

#sitemap {
text-align:left;
width:820px;
list-style:none;
font-size:11px;
margin:13px 13px 0;
}

#sitemap #toplevel {
text-align:left;
width:240px;
height:200px;
float:right;
padding:10px;
}

#sitemap li {
background:url(images/coprewrite/icn-left-nav.gif)/*tpa=http://cpdocctr.phillips66.com/styles/images/coprewrite/icn-left-nav.gif*/ no-repeat 7px 8px;
line-height:19px;
color:#838383;
text-align:left;
border-bottom:1px solid #d8d9db;
list-style:none;
margin:0;
padding:0 12px 0 16px;
}

.table-style {
background-color:#FFF;
border-collapse:collapse;
width:100%;
clear:both;
}

.table-style th,.table-style td {
background-color:#FFF;
color:#666;
font-family:Arial, Helvetica, sans-serif!important;
vertical-align:top;
margin:0;
}

.table-style th h5 {
margin-bottom:0;
}

.table-style th {
font-weight:700;
text-align:left;
background:#eee;
}

.table-style ul {
display:block;
}

.two-columns {
width:506px;
margin:0;
padding:0;
}

.two-columns p {
margin:0 0 6px;
}

.two-columns .spacer {
display:block;
clear:both;
height:25px;
}

.two-columns img {
float:left;
padding:3px 10px 6px 0;
}

.two-columns img.wide-image {
float:none;
padding-right:0;
}

.two-columns ul.image-float {
margin-left:80px;
}

.two-columns ul {
margin:0 0 0 10px;
}

div.two-columns {
padding-bottom:25px;
}

div.two-columns hr,hr.two-columns {
margin-bottom:25px;
}

.col-left,.col-right {
float:left;
border:none;
vertical-align:top;
width:226px;
margin:0;
padding:0;
}

.col-left {
margin-right:54px;
}

.two-columns form select,.two-columns form input {
font-size:10px;
margin:0 5px 5px 0;
}

.inner .nav-list {
list-style:none;
margin:2px 0 13px;
padding:0;
}

.inner .nav-list li {
font-size:11px;
line-height:1.2em;
color:#838383;
text-align:left;
border-bottom:1px solid #d8d9db;
font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
list-style:none;
margin:0;
padding:0 12px 0 16px;
}


.inner .nav-list li a {
display:block;
color:#838383;
margin:0;
padding:5px 0;
}

.inner .nav-list li a:hover {
color:#505c63;
font-weight:400;
text-decoration:underline;
}

.inner .nav-list li a:active {
color:#505c63;
font-weight:700;
text-decoration:none;
}

.inner .nav-list li.current {
background:url("Unknown_83_filename")/*tpa=http://cpdocctr.phillips66.com/Documents/icn_select-nav.jpg*/ no-repeat right top;
}

.inner .nav-list li ul {
list-style:none;
margin:0 0 5px;
}

.inner .nav-list li.current ul li,.inner .nav-list li ul li {
background:none;
color:#606060;
list-style:none;
border-bottom:none;
font-size:1em!important;
font-weight:700;
display:inline;
margin:0;
padding:0;
}

.inner .nav-list li.current ul li a,.inner .nav-list li.current ul li a {
color:red;
font-weight:400!important;
margin:0;
padding:5px 0;
}

.inner .nav-list li ul li ul {
list-style:none;
margin:0 0 5px 10px;
}

.inner .nav-list li li ul li a,.inner .nav-list li.current ul li.current li a {
font-weight:400;
text-decoration:none;
margin:0;
padding:5px 0;
}

.inner .nav-list li li ul li.current a {
color:#606060;
text-decoration:underline;
font-weight:700;
background:none;
}

em.date,#home-news p em.date {
font-weight:700;
font-style:normal;
color:red;
margin:0;
padding:0;
}

#home-rss {
border-top:1px dashed #ccc;
clear:both;
margin-top:25px;
padding:15px 0 0;
}

#home-rss img {
padding:0;
}

a.rss {
padding-left:15px;
margin-left:15px;
border-left:1px solid #ccc;
}

img.left {
margin:0 10px 10px 0;
}

.right {
float:right;
}

img.right {
margin:0 0 10px 10px;
}

.center {
text-align:center;
}

.centered {
display:block;
margin:0 auto 10px;
}

.indent {
display:block;
margin-left:20px!important;
}

.hidden {
display:none!important;
}

.no-border {
border:none!important;
}

.no-float {
float:none;
}

.clear {
clear:both;
height:1px;
width:1px;
}

.feature {
margin-top:20px;
margin-bottom:25px;
}

.nobackground {
background:none!important;
height:auto;
}

a.red-link,.red-link a,.red-link {
color:red;
padding-left:8px;
background:url(images/coprewrite/icn-red-link.gif)/*tpa=http://cpdocctr.phillips66.com/styles/images/coprewrite/icn-red-link.gif*/ no-repeat left top;
}

h3.stock-table,table.stock-table caption {
color:#505c63;
background:#cedff3;
text-transform:none;
font-weight:400;
}

table.stock-table {
background:#f3f6fb;
width:156px;
margin:0 0 0 15px;
padding:0;
}

.stock-table * {
font-family:Verdana, Arial, Helvetica, sans-serif!important;
font-size:11px!important;
}

table.stock-table tr.stock-header {
font-size:12px;
color:#505c63;
background:#CEDFF2;
text-transform:none;
padding-bottom:3px;
}

table.stock-table tr.odd td,table.stock-table tr.odd th {
background:#e7effa;
}

table.stock-table th,table.stock-table td {
text-align:left;
border-top:1px solid #fff;
}

table.stock-table th {
font-weight:400;
}

table.stock-table td.bold {
font-weight:700;
white-space:nowrap;
}

table.stock-table span {
font-weight:400;
font-size:10px!important;
}

#page-wrapper #header-nav #nav #submenu li a:hover {
background:#E00 url(images/coprewrite/icn-dropdown-arrow-white.gif)/*tpa=http://cpdocctr.phillips66.com/styles/images/coprewrite/icn-dropdown-arrow-white.gif*/ no-repeat left;
}

#blue-147490 h1,#blue-147490 h2 {
color:#147490;
}

#blue-147490 #section-header,#blue-147490 #page-wrapper #header-nav #nav #submenu li a:hover {
background-color:#147490;
}

#blue-5b8794 h1,#blue-5b8794 h2 {
color:#5b8794;
}

#blue-5b8794 #section-header,#blue-5b8794 #page-wrapper #header-nav #nav #submenu li a:hover {
background-color:#5b8794;
}

#blue-71a3af h1,#blue-71a3af h2 {
color:#71a3af;
}

#blue-71a3af #section-header,#blue-71a3af #page-wrapper #header-nav #nav #submenu li a:hover {
background-color:#71a3af;
}

#blue-72a0af h1,#blue-72a0af h2 {
color:#72a0af;
}

#blue-72a0af #section-header,#blue-72a0af #page-wrapper #header-nav #nav #submenu li a:hover {
background-color:#72a0af;
}

#brown-bc7a1c h1,#brown-bc7a1c h2 {
color:#bc7a1c;
}

#brown-bc7a1c #section-header,#brown-bc7a1c #page-wrapper #header-nav #nav #submenu li a:hover {
background-color:#bc7a1c;
}

#brown-bc7b2b h1,#brown-bc7b2b h2 {
color:#bc7b2b;
}

#brown-bc7b2b #section-header,#brown-bc7b2b #page-wrapper #header-nav #nav #submenu li a:hover {
background-color:#bc7b2b;
}

#green-669866 h1,#green-669866 h2 {
color:#669866;
}

#green-669866 #section-header,#green-669866 #page-wrapper #header-nav #nav #submenu li a:hover {
background-color:#669866;
}

#green-86bc88 h1,#green-86bc88 h2 {
color:#86bc88;
}

#green-86bc88 #section-header,#green-86bc88 #page-wrapper #header-nav #nav #submenu li a:hover {
background-color:#86bc88;
}

#orange-f7971e h1,#orange-f7971e h2 {
color:#f7971e;
}

#orange-f7971e #section-header,#orange-f7971e #page-wrapper #header-nav #nav #submenu li a:hover {
background-color:#f7971e;
}

#orange-f7981d h1,#orange-f7981d h2 {
color:#f7981d;
}

#orange-f7981d #section-header,#orange-f7981d #page-wrapper #header-nav #nav #submenu li a:hover {
background-color:#f7981d;
}

.not-visible {
visibility:hidden;
}

#left-col {
float:left;
font-size:11px;
background-color:#FFF;
margin:0;
padding:0;
}

#left-col .spacer {
height:10px;
}

#left-col .inner {
width:230px;
margin:10px 11px 15px 5px;
}

#content-col * {
font-size:12px;
}

#content-col #header {
background:none!important;
}

#content-col h1 {
font-size:22px;
font-weight:700;
}

#content-col p img {
margin:8px 8px 0 10px;
}

#content-col .inner {
width:670px;
margin:10px 0 15px 14px;
}

#content-col .inner p {
padding-top:10px!important;
}

#content-col .inner b {
font-family:Arial, Helvetica, sans-serif!important;
font-weight:700!important;
}

#content-col.wide-content .inner {
width:670px;
}

#right-col * {
font-size:11px;
font-family:arial, verdana, sans-serif;
}


#right-col {
background-color:#FFF;
margin-left:15px;
width:175px;
overflow:hidden;
}

#right-col ul {
font-size:11px;
}

#right-col ul li {
list-style:none;
font-size:11px;
background:url(images/coprewrite/icn-right-nav.gif)/*tpa=http://cpdocctr.phillips66.com/styles/images/coprewrite/icn-right-nav.gif*/ no-repeat left top;
margin:0;
padding:0 0 2px 15px;
}

#right-col ul li ul li {
list-style:disc!important;
background:none;
font-size:11px;
margin:0;
padding:0 15px 0 3px;
}

#right-col ul.spaced li {
margin-top:5px;
margin-bottom:13px;
font-size:11px;
}

#right-col .spacer {
height:10px;
font-size:11px;
}

#right-col h3,h3.stock-table {
color:#505c63;
display:block;
background:#cedff3;
font-size:11px;
border-bottom:none;
text-transform:none;
}

#right-col p {
font-size:11px;
margin:4px 0 4px 10px;
}

#right-col form {
margin:4px 0 4px 10px;
padding:0;
}

#right-col h3.stock-table {
margin-bottom:0;
font-size:11px;
font-weight:400;
}

#right-col table.stock-table {
width:177px;
font-size:11px;
}

#content-col label,#content-col .label {
float:left;
text-align:right;
width:120px;
vertical-align:middle;
margin-right:5px;
}

div.button {
clear:both;
margin-top:10px;
text-align:right;
border-top:1px dashed #d9d9db;
padding-top:10px;
}

.button input {
background:#EA2027;
color:#fff;
font-weight:700;
letter-spacing:.1em;
margin-left:10px;
border:1px solid #000;
float:right;
padding:2px 4px;
}

.button input.back {
float:left;
margin-left:0;
margin-right:10px;
}

#printfriendly {
position:absolute;
top:0;
right:0;
text-decoration:none;
text-align:right;
vertical-align:top;
margin:0;
}

#printfriendly a,#printfriendly img {
text-decoration:none;
color:#5c676d;
background:none;
padding-left:3px;
margin-left:3px;
margin-top:3px;
}

#printfriendly a:visited {
color:#84479d;
text-decoration:none;
}

#printfriendly em,#breadcrumb em a {
font-weight:700;
font-style:normal;
}

#printfriendly em a {
padding-left:0;
}

#news-outer {
width:540px;
font-family:arial, helvetica, sans-serif;
}

#news-title {
font-size:18px;
font-weight:700;
font-color:gray;
}

#news-image-outer {
float:left;
padding:5px 10px 5px 0;
}

#news-ingress {
padding-bottom:.5em;
padding-top:5px;
font-weight:700;
font-color:gray;
}

#news-date {
font-color:#666;
font-weight:400;
}

.news-rollup-title {
font-size:22px;
}

.ms-rteTable-RightSide {
border-collapse:collapse;
font-size:11px;
font-family:arial, verdana, sans-serif;
width:170px;
border-style:none;
border-width:0;
}

.ms-rteTable-RightSide tr.ms-rteTableHeaderRow-RightSide {
color:#505d64;
background:url(Unknown_83_filename)/*tpa=http://www.phillips66.com/Documents/rightside-header-bgrnd.jpg*/ repeat-x #cbcbcb;
text-align:left;
font-size:11px;
font-style:normal;
font-family:Arial;
text-transform:capitalize;
font-weight:700;
border-spacing:10px;
line-height:12pt;
margin:10px;
padding:10px;
}

.ms-rteTable-RightSide tr.ms-rteTableFooterRow-RightSide {
background-color:#FFF;
color:#666;
font-weight:500;
font-family:Arial;
font-size:11px;
}

.ms-rteTable-RightSide ul li {
list-style:none;
font-size:11px;
background:url(../../cpdocctr.conocophillips.com/styles/Images/coprewrite/icn-right-nav.gif)/*tpa=http://cpdocctr.conocophillips.com/styles/Images/coprewrite/icn-right-nav.gif*/ no-repeat left top;
margin:0;
padding:0 15px 2px;
}

.ms-rteTable-ContentTable {
border-collapse:collapse;
font-family:Arial;
width:100%;
border-style:none;
border-width:0;
padding:0;
}

.ms-rteTable-ContentTable tr.ms-rteTableHeaderRow-ContentTable {
color:#fffff;
background:#636363;
text-align:left;
font-size:14pt!important;
font-style:normal;
font-family:Arial;
text-transform:capitalize;
font-weight:700;
border-spacing:10px;
line-height:14pt;
vertical-align:top;
margin:10px;
padding:10px;
}

.ms-rteTable-ContentTable td.ms-rteTableHeaderEvenCol-ContentTable {
color:#FFF;
font-size:12pt!important;
line-height:15pt;
padding:0 5.4pt;
}

.ms-rteTable-ContentTable tr.ms-rteTableOddRow-ContentTable {
color:#666;
background-color:#FFF;
font-size:10pt;
vertical-align:top;
}

.ms-rteTable-ContentTable tr.ms-rteTableEvenRow-ContentTable {
color:#666;
background-color:#e0e0e0;
font-size:10pt;
vertical-align:top;
}

.ms-rteTable-ContentTable tr.ms-rteTableFooterRow-ContentTable {
background-color:#ccc;
color:#666;
font-weight:500;
font-size:10pt;
font-family:Arial;
line-height:11pt;
}

body {
font-family:Verdana;
font-weight:400;
font-size:.7em;
color:#000;
}

b {
font-family:"Arial, Helvetica, sans-serif";
font-weight:700;
margin-top:-5px;
}

H1 {
font-family:Verdana;
font-weight:400;
font-size:18pt;
color:red;
}

H2 {
font-family:Verdana;
font-weight:400;
font-size:14pt;
color:maroon;
}

pre {
font-family:"Lucida Console";
font-size:.9em;
}

.marker {
font-weight:700;
color:#000;
text-decoration:none;
}

.version {
color:gray;
}

.error {
margin-bottom:10px;
}

.expandable {
text-decoration:underline;
font-weight:700;
color:navy;
cursor:hand;
}

.ms-formlabel H3,.ms-gb H3,.ms-sectionheader H3 {
border-bottom:none!important;
}

.ms-WPHeader TD,a img {
border:0;
}

.ms-WPBody td p,.ms-WPBody td ul,.ms-WPBody h3,.ms-WPBody td table tbody tr td,.ms-WPBody table tbody tr td h3,.inner td,.inner p {
font-family:Arial, Helvetica, sans-serif!important;
}

.nav .nav-standard ul,.nav ul {
display:inline;
float:right;
z-index:10000;
margin:0;
padding:0 5px;
}

.nav .nav-standard span,.nav span {
z-index:10000;
padding:5px;
}

.siteActionMenu,.left {
float:left;
}

*,html,.col-right {
margin:0;
}

label,.two-columns form,#left-col form {
margin:0;
padding:0;
}

h3,h3 a:link,h3 a:active,h3 a:focus {
color:#444;
font-weight:700;
text-decoration:none;
text-transform:uppercase;
}

h5,#content-col h5 {
font-size:15px;
font-weight:700;
}

a:active,a:focus {
color:#067ab4;
font-weight:400;
text-decoration:underline;
}

#header #logo,#headerhome #logo {
left:20px;
position:absolute;
top:10px;
z-index:101;
margin:0;
padding:0;
}

#header #search-box input,#headerhome #search-box input {
background:url(../../www.phillips66.com/Documents/search-bgrnd.jpg)/*tpa=http://www.phillips66.com/Documents/search-bgrnd.jpg*/ no-repeat;
border:none;
color:#333;
height:20px;
width:225px;
margin:0 2px 0 0;
padding:4px;
}

#header #search-box span,#headerhome #search-box span {
color:#FFF;
}

#header #search-box td.ms-sbgo,#headerhome #search-box td.ms-sbgo {
background-color:Transparent;
}

#header #search-box img,#headerhome #search-box img {
display:none;
}
#search-box .ms-sbgo a {
	background: url(../../www.phillips66.com/Documents/bttn-search.jpg)/*tpa=http://www.phillips66.com/Documents/bttn-search.jpg*/ no-repeat;
	height: 22px; 
	width: 47px;
	margin-top:-5px;
	margin-left: 0px;
	display:block;
}




#utility-nav .nav-bar li a:link,#utility-nav .nav-bar li a:visited {
color:#555;
text-decoration:none;
}

#utility-nav .nav-bar li a:hover,#footer a:hover {
color:#333;
text-decoration:underline;
}

#utility-nav .nav-bar li.current a:link,#utility-nav .nav-bar li.current a:visited {
color:#000!important;
}

#breadcrumb a:link,#breadcrumb a:visited,#breadcrumb a:active,#breadcrumb a:focus,#printfriendly a:link,#printfriendly a:active,#printfriendly a:focus {
color:#5c676d;
text-decoration:none;
}

#breadcrumb a:hover,#printfriendly a:hover {
color:#505c63;
text-decoration:underline;
}

#breadcrumb em,#printfriendly em {
padding-left:10px;
}

#footer a:link,#footer a:visited,#footer a:active,#footer a:focus {
color:#555;
text-decoration:underline;
}

.two-columns form select,#left-col form select,#right-col form select {
width:129px;
}

.two-columns form input,#left-col form input,#right-col form input {
width:125px;
}

.two-columns form img,#left-col form img {
float:none;
padding:0;
}

.inner .nav-list li a:link,.inner .nav-list li a:visited,.inner .nav-list li a:focus {
color:#505c63;
font-weight:400;
text-decoration:none;
}

.inner .nav-list li.current a:link,.inner .nav-list li.current a:visited,.inner .nav-list li.current a:hover,.inner .nav-list li.current a:active,.inner .nav-list li.current a:focus {
color:#606060!important;
font-weight:700!important;
}

.inner .nav-list li.current ul li a,.inner .nav-list li.current ul li a:link,.inner .nav-list li.current ul li a:visited,.inner .nav-list li.current ul li a:active,.inner .nav-list li.current ul li a:focus {
color:red!important;
font-weight:400!important;
text-decoration:none;
}

.inner .nav-list li.current ul li a:hover,.inner .nav-list li.current ul li.current a,.inner .nav-list li.current ul li.current a:link,.inner .nav-list li.current ul li.current a:visited,.inner .nav-list li.current ul li.current a:hover,.inner .nav-list li.current ul li.current a:active,.inner .nav-list li.current ul li.current a:focus {
color:red!important;
font-weight:400!important;
text-decoration:underline;
}

.inner .nav-list li.current ul li.current li a:link,.inner .nav-list li.current ul li.current li a:visited,.inner .nav-list li.current ul li.current li a:active,.inner .nav-list li.current ul li.current li a:focus {
color:#505c63!important;
font-weight:400;
text-decoration:none;
}

.inner .nav-list li.current ul li.current li a:hover,.inner .nav-list li.current ul li.current li.current a:link,.inner .nav-list li.current ul li.current li.current a:visited,.inner .nav-list li.current ul li.current li.current a:hover,.inner .nav-list li.current ul li.current li.current a:active,.inner .nav-list li.current ul li.current li.current a:focus {
color:#505c63!important;
font-weight:400;
text-decoration:underline!important;
}

#left-col form select,#left-col form input,#right-col form select,#right-col form input {
margin:0 5px 5px 0;
}

.ms-rteTable-RightSide td.ms-rteTableHeaderFirstCol-RightSide,.ms-rteTable-RightSide td.ms-rteTableHeaderLastCol-RightSide,.ms-rteTable-RightSide td.ms-rteTableHeaderOddCol-RightSide,.ms-rteTable-RightSide td.ms-rteTableHeaderEvenCol-RightSide {
color:#666;
font-size:11px;
line-height:14pt;
padding:0 5.4pt;
}

.ms-rteTable-RightSide tr.ms-rteTableOddRow-RightSide,.ms-rteTable-RightSide tr.ms-rteTableEvenRow-RightSide {
background-color:#FFF;
color:#666;
font-size:11px;
vertical-align:top;
}

.ms-rteTable-RightSide td.ms-rteTableFirstCol-RightSide,.ms-rteTable-RightSide td.ms-rteTableOddCol-RightSide,.ms-rteTable-RightSide td.ms-rteTableEvenCol-RightSide {
font-size:11px;
padding:0 5.4pt;
}

.ms-rteTable-RightSide td.ms-rteTableLastCol-RightSide,.ms-rteTable-ContentTable td.ms-rteTableFirstCol-ContentTable,.ms-rteTable-ContentTable td.ms-rteTableLastCol-ContentTable,.ms-rteTable-ContentTable td.ms-rteTableOddCol-ContentTable,.ms-rteTable-ContentTable td.ms-rteTableEvenCol-ContentTable {
padding:0 5.4pt;
}

.ms-rteTable-ContentTable td.ms-rteTableHeaderFirstCol-ContentTable,.ms-rteTable-ContentTable td.ms-rteTableHeaderLastCol-ContentTable,.ms-rteTable-ContentTable td.ms-rteTableHeaderOddCol-ContentTable {
color:#FFF;
font-size:12pt!important;
line-height:15pt;
padding:0 5.4pt;
}

.ms-rteTable-RightSide td.ms-rteTableFooterFirstCol-RightSide,.ms-rteTable-RightSide td.ms-rteTableFooterLastCol-RightSide,.ms-rteTable-RightSide td.ms-rteTableFooterOddCol-RightSide,.ms-rteTable-RightSide td.ms-rteTableFooterEvenCol-RightSide {
font-size:11px;
text-align:left;
border-style:none;
padding:0 5.4pt;
}

.ms-rteTable-ContentTable td.ms-rteTableFooterFirstCol-ContentTable,.ms-rteTable-ContentTable td.ms-rteTableFooterLastCol-ContentTable,.ms-rteTable-ContentTable td.ms-rteTableFooterOddCol-ContentTable,.ms-rteTable-ContentTable td.ms-rteTableFooterEvenCol-ContentTable {
text-align:left;
border-style:none;
padding:0 5.4pt;
}
