.oe_overlay {
top:0;
}

#oe_menu {
height:26px;
position:relative;
list-style:none;
float:right;
z-index:3000;
padding:0;

}

#oe_menu li {
vertical-align:middle;
margin:0;
}

#oe_menu .oe_menu_item {
display:inline;
float:left;
}

#oe_menu .oe_menu_tab {
text-align:center;
color:#FFF;
text-decoration:none;
font-size:14px;
font-family:Calibri, "Lucida Grande", sans-serif;
font-weight:bold;
float:left;
padding:4px 10px 6px;
}

#oe_menu .oe_menu_tab:hover {
background-color:#FFF;
color:#666;
}

#oe_menu .oe_menu_tab_lastchild {
margin-right:16px!important;
text-align:center;
color:#FFF;
text-decoration:none;
font-size:14px;
font-family:Calibri, "Lucida Grande", sans-serif;
font-weight:bold;
float:left;
padding:4px 5px 6px;
}

#oe_menu .oe_menu_dd {
display:none;
position:absolute;
top:32px;
left:-50px;
background-color:#FFF;
width:679px;
background:url(../../www.phillips66.com/documents/mm-background.png)/*tpa=http://www.phillips66.com/documents/mm-background.png*/ no-repeat;
z-index:1000;
margin:0;
padding:0;
height:250px;
}

#oe_menu .oe_menu_dd_column ul li {
width:600px;
padding-top:0px;
}

#oe_menu .oe_menu_arrow {
background:url(../../www.phillips66.com/documents/spacer-1.png)/*tpa=http://www.phillips66.com/documents/spacer.png*/ repeat;
position:absolute;
clear:left;
display:none;
top:27px;
width:150px;
margin:0;
padding:0;
}

#oe_menu .oe_menu_dd_column {
width:220px;
padding-left:5px;
padding-top:10px;
white-space:nowrap;
float:left;
border-left:0;
}

#oe_menu .oe_menu_dd_column:first-child {
white-space:normal;
}

#oe_menu .oe_menu_item_active .oe_menu_tab {
background-color:#FFF;
color:#333;
}

#oe_menu .oe_menu_item_active .oe_menu_tab_lastchild {
background-color:#FFF;
margin-right:16px!important;
color:#333;
padding:4px 5px 6px;
}

#oe_menu .oe_heading a {
color:#666;
font-size:13px;
padding-top:10px!important;
font-weight:700;
}

#oe_menu .oe_heading a :hover {
color:#888;
}

#oe_menu .oe_menu_dd li {
margin:0;
list-style-type:none;
}

#oe_menu .oe_menu_dd a {
text-decoration:none;
}

#oe_menu .oe_heading li {
padding-top:10px;
}

#oe_menu .oe_item a {
margin-left:10px;
font-size:11px;
}

#oe_menu .navspace {
display:inline;
float:left;
padding:0 15px;
}

#oe_menu .oe_menu_dd_column .oe_heading {
list-style-image:url(../../www.phillips66.com/documents/mm-sectionarrows.png)/*tpa=http://www.phillips66.com/documents/mm-sectionarrows.png*/!important;
}

#oe_menu .oe_menu_item_active .oe_menu_dd,#oe_menu .oe_menu_item_active .oe_menu_arrow {
display:block;
}