 body
{
	text-align: left;
	padding: 0 0 0px 0;
	margin: 0;
	color:#000000;
	background: #FFFFFF;
	font: 12px Arial, Helvetica, sans-serif; 
}
#page-wrapper
{
background: none;
margin-left: 0px;
}
#nav, #footer, #header, #header-nav, #section-header, #footer-wrapper, #left-col, #preview-message, #breadcrumb, #utility-nav {
	display:none;
}

#content-col {
	margin-left:0px;
}