/* CSS Document */


#wrapper{
	width:960px;
	margin:0 auto;
}
a:hover{
	text-decoration:underline;
}

.hidden{
	display:none;
}
* + html .nav-local ul li h3 a{
	zoom:1;
}
div#header{
	position:relative;
	float:left;
	width:960px;
}
div#content{
	background:transparent url("../images/bg_left_nav.gif")/*tpa=http://www.internationalpaper.com/common/images/bg_left_nav.gif*/ repeat-y scroll 187px top;
	float:left;
	padding-bottom:33px;
	margin-top:-11px;
}

div.title-main{
	width:732px;
	float:left;
	margin:30px 18px 20px 18px;
	border-bottom:1px solid #d1d1d1;
}
div.title-main h2{
	font-size:19pt;
	font-weight:bold;
}

div.copy-container{
	float:left;
	width:479px;
	margin:0 10px 0 18px;
}


div.product-image{
	float:left;
	margin:0 26px 25px;
}
div.copy{
	float:left;
	width:303px;
}
div.copy-tabs{
	float:left;
	width:479px;
	margin-top:50px;
}

ul.ui-tabs-nav li span{
	float:left;
	width:5px;
	height:23px;
}

div.copy-detailed{
	float:left;
	width:479px;
}
div.copy-detailed img{
	margin-right:7px;
}

ul.ui-tabs-nav li.ui-tabs-unselect .left, 
ul.ui-tabs-nav li.ui-tabs-unselect .right, 
ul.ui-tabs-nav li.ui-tabs-unselect
{
	background:url("../images/copy-tabs-li-normal.gif")/*tpa=http://www.internationalpaper.com/common/images/copy-tabs-li-normal.gif*/ no-repeat;
}

ul.ui-tabs-nav li.ui-tabs-unselect .left, 
ul.ui-tabs-nav li.ui-tabs-unselect .right
{
	position:absolute;
}

ul.ui-tabs-nav li.ui-tabs-unselect .left{
	background-position:0 -25px;
	left:0;
}

ul.ui-tabs-nav li.ui-tabs-unselect .right{
	background-position:-6px -24px;
	right:0;
}

ul.ui-tabs-nav li.ui-tabs-selected,
ul.ui-tabs-nav li.ui-tabs-unselect
{
	background-repeat:repeat-x;
}

/*
ul.ui-tabs-nav li.ui-tabs-selected .left, 
ul.ui-tabs-nav li.ui-tabs-selected .right, 
ul.ui-tabs-nav li.ui-tabs-selected
{
	background:url("../images/copy-tabs-li-selected.gif");
}
*/
ul.ui-tabs-nav li.ui-tabs-selected .left{
	background-position:0 -24px;
}
ul.ui-tabs-nav li.ui-tabs-selected .right{
	background-position:-5px -24px;
	position:absolute;
	right:0;
}

ul.ui-tabs-nav li{
	float:left;
	height:23px;
	position:relative;
}
ul.ui-tabs-nav li a{
	line-height:21px;
	float:left;
	color:#ffffff;
	font-size:8pt;
	font-weight:bold;
	margin:0 8px 0 7px;
}

div.ui-tabs-hide { display: none; }

div.copy-tabs-copy{

	background-color:#F4F2F1;
	padding:10px;
	font-size:8pt;
	color:#66605c;
	margin-top:23px;
	overflow:hidden;
}

div.copy-tabs-copy p{
	font-size:9pt;
}

div.copy-tabs-copy ul{
	padding:0 0 14px 0;
}

div.callout ul li div{
	padding-top:5px;
	padding-left:5px;
}

div.copy-tabs-copy h4{
	font-size:8pt;
	color:#035790;
	font-weight:bold;
}
div.copy-tabs-copy ul li,div.copy-detailed ul li,div#general-content div.copy-container ul li{
	background:none;
	display:block;
	background:url("../images/copy-tabs-li-list-style.gif")/*tpa=http://www.internationalpaper.com/common/images/copy-tabs-li-list-style.gif*/ no-repeat 0 7px;
	line-height:16px;
	padding:0 8px;
	float:none;
	height:auto;
}
div.callout{
	float:left;
	width:244px;
	background-color:#f4f2f1;
	margin-top:-20px;
	margin-bottom:40px;
}
div.callout h3{
	margin:10px;
	font-size:11pt;
	color:#01578f;
}
div.callout ul{
	margin:0 14px;
	padding:0 0 20px 0;
}
div.callout ul li ul{
	margin:0;
	padding:0;
}

div.callout ul li ul li{
	color:#66605c;
}

div.callout ul li{
	border-bottom:1px solid #bbbbbb;
	padding:5px 0 5px 8px;
	font-weight:bold;
	color:#99908a;
	font-size:8pt;
}
div.callout ul li.expanded{
	padding-bottom: 10px;
}

.nav-local ul li.bg-collapsed h3 a {
	background-position:152px 2px;
}

div.callout ul li.expanded a.expandable{
	color:#01578F;
}

div.callout ul li a.expandable{
	text-decoration:none;
}


div.callout ul li span a:hover{
	color:#01578F;
}

div.callout ul li a.expandable{
	color:#99908a;
	text-decoration:none;
	display:block;
	width:196px;
}

div.callout ul li a:hover{
	text-decoration:underline;
}

div.callout ul li img{
	position:absolute;
	right:12px;
	top:10px;
}
div.callout ul li div ul li{
	border:none;
	font-weight:normal;
	font-size:8pt;
	padding:0;
	color:#66605c;
	background:none;
}

div.callout ul li div ul li input{
	vertical-align:text-bottom;
}


div.callout ul li.expanded div ul li a, body#countrylanding_abbreviated div.callout ul li.expanded div ul li a, body#segmentpage div.callout ul li.expanded div ul li a{
	color:#66605C;
	text-decoration:underline;
	display:inline;
	font-size:8pt;
	background: none;
}
div.callout ul li form{
	margin-top:16px;
}
div.callout ul li p, div.callout ul li div{
	color:#66605c;
	margin-top:6px;
	font-size:8pt;
	font-weight:normal;
}
div.callout ul li p a, div.callout ul li div a{
	text-decoration:underline;
}

div.callout-small{
	float:right;
	width:244px;
	background-color:#f4f2f1;
	padding:0 0 15px 0;
	margin:-30px 16px 40px 0;
}

div.callout-small h3{
	margin:10px;
	font-size:11pt;
	color:#01578F;
}

div.callout-small form ul{
	margin:0 14px 4px 14px;
}

div.callout-small ul{
	margin:0 14px 0 14px;
}

div.callout-small ul li{
	/*padding:5px 0 5px 8px;*/
	font-size:10pt;
	color:#66605c;
	font-size:8pt;
}

div.callout-small ul li label, body#countrylanding div.copy-container ul li label{
	color:#66605c;
	font-size:8pt;
	float:left;
    width: 180px;
	font-weight:bold;
	padding-bottom:2px;
}
div.callout-small ul li select, body#countrylanding div.copy-container ul li select{
	border:1px solid #7d7d7d;
	background:#efedec;
	color:#838281;
	font-size:8pt;
	width:160px;
	margin:0 6px 5px 0;	
	vertical-align:text-top;
}
div.callout-small ul li select, body#countrylanding div.copy-container ul li input{
	vertical-align:middle;
}

div.callout-small ul li label, body#productslanding div.copy-container ul li label{
	color:#66605c;
	font-size:8pt;
	float:left;
    width: 180px;
	font-weight:bold;
	padding-bottom:2px;
}
div.callout-small ul li select, body#productslanding div.copy-container ul li select{
	border:1px solid #7d7d7d;
	background:#efedec;
	color:#838281;
	font-size:8pt;
	width:160px;
	margin:0 6px 5px 0;	
	vertical-align:text-top;
}
div.callout-small ul li select, body#productslanding div.copy-container ul li input{
	vertical-align:middle;
}


div.callout ul li div.address{
	color:#66605c;
	font-size:8pt;
	font-weight:normal;
	display:block;
}

div.callout ul li .address p{
	margin:0;
	color:#66605c;
}
div.callout ul li.no-border{
	border:none;
	padding-bottom: 0;
}
div.print-page{
	float:left;
	left:220px;
	position:absolute;
	top:-38px;
}

div.print-page img{
	margin:5px 8px 0 0;
}

div.print-page a{
	vertical-align:middle;
	font-size:8pt;
}



#footer{
	width:950px;
	float:left;
	border-top:1px solid #d1d1d1;
	padding:13px 0 30px 0px;
	position:relative;
	font-size:7pt;
}

#footer div.copyright{
	width:280px;
	float:left;
}

#footer div.copyright p{
	font-size:7pt;
	color:#99908a;
}

#footer div.nav-footer{
	width:500px;
	float:right;
	padding:0 20px 0 0;
}

#footer div.nav-footer ul {
	overflow:hidden;
	float:right;
}

#footer div.nav-footer ul li{
	float:left;
	padding:0 6px 0 5px;
	border-left: 1px solid #99908a;
	color:#99908a;
	margin-left:-1px;
}

#footer div.nav-footer ul li a{
	color:#99908a;
}

#footer div.nav-footer ul li a:hover{
	color:#99908a;
}

#footer div.nav-footer ul li.firstElement{
	border:none;
}


div.related-links{
	padding:30px 0 36px 15px;
	float:left;
	width:176px;
}

div.related-links ul{
	margin-top:7px;
}
div.related-links ul li, div.related-links ul li p, div.related-links ul li p a {
	line-height:11pt;
	font-size:8pt;
}
/*********** globalhome ***********/



body#globalhome .nav-global{
	background:url("../images/globalhome-nav-global-bg.gif")/*tpa=http://www.internationalpaper.com/common/images/globalhome-nav-global-bg.gif*/ repeat-x;
	height:31px;
	width:768px;
}

body#globalhome div#content{
	margin-top:0;
}




body#globalhome .nav-global h2{
	font-size:11pt;
	color:#ffffff;
	text-transform:uppercase;
	padding:10px 18px;
}


body#globalhome .language-selection{
	background:url("../images/globalhome-language-selection-bg.gif")/*tpa=http://www.internationalpaper.com/common/images/globalhome-language-selection-bg.gif*/ repeat-x;
}

.language-selection{
	float:left;
	width:728px;
	height:170px;
	padding:0 20px;
}

.language-selection div{
	width:242px;
	float:left;
	line-height:16px;
}


.language-selection ul{
	margin:0;
	overflow:hidden;
}

.language-selection ul li{
	font-size:8pt;
	color:#66605c;
	display:inline;
	border-left:1px solid #66605c;
	padding:0 2px 0 3px;
	margin-left:-1px;
}

.language-selection ul li span{
	font-weight:bold;
}


.language-selection h2{
	font-size:8pt;
	color:#66605C;
	text-transform:uppercase;
	font-weight:bold;
	padding:8px 0 4px 0;
}


.language-selection h3{
	font-size:8pt;
	color:#66605C;
	float:left;
	padding:0 3px 0 0;
}
.topMargin{
	margin-top:15px;
}


body#globalhome #footer {
	border:none;
}
/*********** globalhome ***********/



/****** styles for shorewoodpackaging *****/
body#segmentpage .left-navigation{
	min-height:912px;
}

body#segmentpage div.callout-small ul li input{
	vertical-align:text-bottom;
}

body#segmentpage div.callout-small ul li input.btn_go{
	margin-left:7px;
}


body#segmentpage .address{
	margin-top:0;
	display:block;
}


body#segmentpage div.copy-container{
	margin-bottom:0;
}
/*
body#segmentpage div.title-main h2, body#segmentpage div.callout h3, body#segmentpage div.related-links h4, body#segmentpage .nav-local ul li .active {
	color:#e54c00;
}
*/ 
body#segmentpage .title-category h2{
	color:#65605c;
}
body#segmentpage div.copy{
	float:left;
	width:468px;
	margin:0 0 25px 0;
}

body#segmentpage div.copy-container ul{
	float:left;
	margin:10px 0 35px 0;
}

body#segmentpage div.copy-container ul li{
	float:left;
	width:234px;
}

body#segmentpage div.copy-container ul li h2{
	color:#999089;
	font-size:10pt;
}

body#segmentpage div.copy-container ul li p{
	padding:16px 0;
}

body#segmentpage div.copy-container ul li div{
	padding:15px 20px 0 10px;
}

body#segmentpage div.copy-container ul li img:first-child{
  margin-bottom:-9px;
}

/*
body#segmentpage div.callout-small h3{
	color:#E54C00;
}

body#segmentpage div.callout ul li.expanded a{
	color:#E54C00;
}

*/

body#segmentpage div.callout {
	margin-top:-20px;
	margin-bottom:30px;
}

body#segmentpage div.callout-small {
	margin-top:-20px;
}

/****** styles for shorewoodpackaging *****/
/****** countrylanding *****/
body#countrylanding div.copy-container ul li img:first-child {
	margin-bottom:-6px;
}


body#countrylanding .left-navigation{
	min-height:576px;
}
body#countrylanding .copy-text{
	float:right;
	font-size:19pt;
	width:604px;
	margin:52px 134px 0 0;
	line-height:37px;
	color:#807873;
}
/*
body#countrylanding div.title-main h2{
	color:#275020;
}
*/
body#countrylanding div.copy-container {
	margin-bottom:0;
	margin-right:0;
	width:734px;
}
body#countrylanding div.copy-container ul li{
	float:left;
	width:235px;
}
body#countrylanding div.copy-container ul li h3{
	color:#807873;
	margin:0 0 10px 10px;
	font-size:14pt;
}
body#countrylanding a:hover{
	text-decoration:underline;
}
body#countrylanding div.copy-container ul li label{
	width:235px;
}
body#countrylanding div.copy-container ul li input{
	vertical-align:middle;
}
body#countrylanding div.copy-container ul li p{
	width:218px;
	margin:13px 0 0 10px;
}
/****** countrylanding *****/


/****** productslanding *****/
body#productslanding .left-navigation{
	min-height:575px;
}
body#productslanding .copy-text{
	float:right;
	font-size:2.5em;
	width:614px;
	margin:52px 134px 0 0;
	line-height:37px;
	color:#807873;
}
/*
body#productslanding div.title-main h2{
	color:#27547d;
}
*/
body#productslanding div.copy-container {
	margin-bottom:0;
	width:734px;
}
body#productslanding div.copy-container ul li{
	float:left;
	width:183px;
}

body#productslanding div.copy-container ul li ul{
	margin:11px 0 0 10px;
}

body#productslanding div.copy-container ul li ul li{
	color:#66605c;
	font-size:8pt;
	background:url("../images/prodlanding_bullet.gif")/*tpa=http://www.internationalpaper.com/common/images/prodlanding_bullet.gif*/ no-repeat 0 6px;
	padding:0 0 0 12px;
}

body#productslanding div.copy-container ul li ul li a{
	color:#66605c;
	text-decoration:none;
}

body#productslanding div.copy-container ul li ul li a:hover{
	color:#66605c;
	text-decoration:underline;
}


body#productslanding div.copy-container ul#quickLinks li{
	float:left;
	width:235px;
}



body#productslanding div.copy-container ul li h3{
	/*font-size:1.9em;*/
	color:#807873;
	margin:0 0 10px 10px;
}
body#productslanding div.copy-container ul li label{
	width:235px;
}
body#productslanding div.copy-container ul li input{
	vertical-align:middle;
}
body#productslanding div.copy-container ul li p{
	width:160px;
	margin:6px 0 0 10px;
}

body#productslanding div#content{
	margin-bottom:100px;
}


/****** productslanding *****/


/****** productsbrandlanding *****/
body#productsbrandlanding .left-navigation{
	min-height:987px;
}

body#productsbrandlanding div.copy{
	float:left;
	width:468px;
	margin:0 0 25px 0;
}

body#productsbrandlanding div.copy-container ul{
	float:left;
	margin:10px 0 35px 0;
}

body#productsbrandlanding div.copy-container ul li{
	float:left;
	width:234px;
}

body#productsbrandlanding div.copy-container ul li h2{
	color:#01578f;
	font-size:10pt;
}

body#productsbrandlanding div.copy-container ul li p{
	padding:16px 0;
}

body#productsbrandlanding div.copy-container ul li div{
	padding:15px 20px 0 10px;
}

/****** productsbrandlanding *****/


/****** company *****/
body#company .left-navigation{
	min-height:576px;
}
body#company .copy-text{
	float:right;
	font-size:19pt;
	width:614px;
	margin:52px 134px 0 0;
	line-height:37px;
	color:#807873;
}
/*
body#company div.title-main h2{
	color:#27547d;
}
*/
body#company div.copy-container {
	margin-bottom:0;
	width:734px;
}
body#company div.copy-container ul li{
	float:left;
	width:183px;
	min-height:207px;
	/*position:relative;*/
}

body#company div.copy-container ul li h3{
	font-size:11pt;
	color:#807873;
	margin:0 0 10px 0;
	padding: 0 0 10px 10px;
	border-bottom: 5px solid #B3A8A1;
}

body#company div.copy-container ul li p{
	padding: 10px 0 0 10px;
	height:100px;
	overflow:hidden;
}
body#company div.copy-container ul li a{
	/*bottom:50px;*/
	margin-left:5px;
	/*position:absolute;*/
}
/****** company *****/
/****** countrylanding_abbreviated *****/
body#countrylanding_abbreviated #content, body#company #content, body#productslanding div#content{
	background:none;
}
body#countrylanding_abbreviated .left-navigation, body#company .left-navigation{
	min-height:727px;
}
body#countrylanding_abbreviated div.copy {
	margin:0;
}
body#countrylanding_abbreviated div.copy p{
	font-size:15pt;
	width:450px;
	margin:0;
}

body#countrylanding_abbreviated div.callout ul li ul{
	margin-top:10px;
}

div.title-sub{
	width:478px;
	float:left;
	margin:30px 18px;
	border-bottom:1px solid #d1d1d1;
}
body#countrylanding_abbreviated div.copy-container ul li{
	float:left;
	width:234px;
}
body#countrylanding_abbreviated div.copy-container ul li h3{
	font-size:14pt;
	color:#807873;
	margin:0 0 10px 10px;
}

body#countrylanding_abbreviated div.copy-container ul li a img {
	position:relative;
}
body#countrylanding_abbreviated div.copy-container ul li p{
	width:218px;
	margin:13px 0 0 10px;
}
/*
body#countrylanding_abbreviated div.callout {
	margin-top:-193px;
	*margin-top:-189px;
}
*/

body#countrylanding_abbreviated div.callout ul li p {
	margin:0;
}

body#countrylanding_abbreviated div.callout ul li.expanded a{
	color:#FF0000;
}

body#countrylanding_abbreviated div.title-main h2, body#countrylanding_abbreviated div.title-sub h2, body#countrylanding_abbreviated div.callout h3{
	color:#ff0000;
}

body#hammermill div.callout ul li div.address{
	margin-top:15px;
}
/****** begin general content *******/


body#general-content div.copy-container img{
	padding-right:10px;
	padding-left:10px;
}

body#general-content div.copy-container{
	font-size:10pt;
	overflow:hidden;
}

body#general-content div.copy-container a{
	text-decoration:underline;
}

body#general-content p{
	text-size:10pt;
}
/*
div.copy-container a{
	text-decoration:underline;
}
*/
body#general-content div.copy-container ul{
	margin:11px 0 0 10px;
}
body#general-content div.copy-container ul li{
	background:url("../images/prodlanding_bullet.gif")/*tpa=http://www.internationalpaper.com/common/images/prodlanding_bullet.gif*/ no-repeat 0 6px;
	padding:0 0 5px 12px;
	font-size:10pt;
}

/****** end general content *******/

/****** begin facility content *******/
div.facilitylist p,div.facilitylist ul li {
	font-size: 11px
}
div.facilitylist p a,div.facilitylist ul li a{
	text-decoration:underline;
}
/****** end facility content *******/


div.copy-container a.anchorGlyph, a.anchorGlyph, body#general-content div.copy-container a.anchorGlyph{
	text-decoration:none;
}



/****** printer friendly *******/

div.printerFriendly{
	position:relative;
	float:right;
	width:800px;
	padding-bottom:3px;
	text-align:right;
	padding-right:11px;
	height:100%;
}

/** LM BUTTONS **/
a.lm-button {
display: block;
float: left;
height: 18px;
margin-right: 6px;
padding-right: 10px;
text-decoration: none;
color: #FFFFFF;
font-family: Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:bold;
}
a.lm-button span {
display:block;
line-height:16px;
padding:0 0 0 10px;
} 

/**end LM BUTTONS **/

div.brand-overlay{
	bottom:4px;
	right:0;
	font-size:21pt;
	font-weight:bolder;
	letter-spacing:-1px;
	line-height:22px;
	padding-bottom:1px;
	padding-left:6px;
	padding-right:10px;
	position:absolute;
	text-align:right;
	color:#FFFFFF;
}



