.utility-bar {
	background: #9a9490 url("../images/bg-top-bar.gif")/*tpa=http://www.internationalpaper.com/common/images/bg-top-bar.gif*/ repeat-x left top;
	float:left;
	width:960px;
	height:35px;
	position:relative;
	z-index:200;
}
ul.nav-utility {
	width:335px;
	float:left;
	margin:0 0 0 18px;
	overflow:hidden;
}
.nav-utility li {
	background:url("../images/bgseparator-nav-utility.gif")/*tpa=http://www.internationalpaper.com/common/images/bgseparator-nav-utility.gif*/ no-repeat left 11px;
	color:#ffffff;
	float:left;
	font-size:8pt;
	padding:9px 10px 0 7px;
	margin:0 0 0 -5px;
}
.nav-utility li a {
	text-decoration:none;
	color:#ffffff;
	font-size:8pt;
}
.nav-utility li a:hover{
	text-decoration:underline;

}
.nav-selector {
	float:left;
	margin-left:0px;
	width:415px;
}
.nav-selector p{
	float:left;
	color:#ffffff;
	padding:9px 0 0 0;
	margin:0;
}
.nav-selector ul {
	margin:0;
	padding:0;
	float:left;
	list-style:none;
	overflow:hidden;
}
.nav-selector li {
	background:url("../images/bgseparator-nav-utility.gif")/*tpa=http://www.internationalpaper.com/common/images/bgseparator-nav-utility.gif*/ no-repeat left 11px;
	color:#ffffff;
	float:left;
	font-size:8pt;
	padding:9px 10px 0 7px;
	margin:0 0 0 -5px;
}
.nav-selector li#countrySelector{
	padding:0;
}
.nav-selector li.selectd {
	color:#464646;
}
.nav-selector li a {
	text-decoration:none;
	color:#ffffff;
}
.nav-selector li a:hover{
	text-decoration:underline;
}
.world-img {
	float:left;
	margin:0 2px 0 9px;
}
.site-search {
	float:left;
	position:relative;
	margin-left:9px;
}
.search-icon-img {
	float:left;
	margin:0 5px 0 0;
}
/*for form tags*/
fieldset {
	border:none;
}
.fieldset-top-header {
	padding:7px 0 0 0;
}
.fieldset-top-header label{
	display:none;
}

#search-input {
	background:#e7e7e7;
	color:#4c4845;
	float: left;
	width: 140px;
	vertical-align:middle;
	border:1px solid #e7e7e7;
	margin:2px 0 0 4px;
}
.top-search-btn {
	margin:2px 0 0 6px;
	float:left;
}
.search-box {
	background:#ffffff url("../images/bg-searchbox-bottom.gif")/*tpa=http://www.internationalpaper.com/common/images/bg-searchbox-bottom.gif*/ repeat-x scroll left bottom;
	position:absolute;
	right:189px;
	top:3.5em;
	width:225px;
	padding:0 0 18px 0;
	font-size:8pt;
}
.search-box input{
	margin:2px 0 -4px 0;
}
.search-dropdown1 {
	background:#efedec;
	width:140px;
	margin:15px 9px 0 12px;
	border:1px solid #7D7D7D;
	color:#838281;
	font-size:8pt;	
}

.search-dropdown2 {
	background:#efedec;
	width:160px;
	margin:9px 9px 0 12px;
	border:1px solid #7D7D7D;
	color:#838281;
	font-size:8pt;
}
/*forms ends here*/
.stock-quotebanner {
	float:left;
	height:130px;
	padding:0 0 0 19px;
	width:940px;
	background:transparent none repeat scroll 0;
}


.stock-quotetext{
	position:absolute;
	top:46px;
	left:20px;
	z-index:800;
}

.stock-quoteimages{
	position:absolute;
	/*top:25;*/
	left:0;
	width: 959px;
	height: 130px; 
}
.stock-quotebanner-background{
	background:url("../../images/banners/Main/abanner-paper-fan.jpg")/*tpa=http://www.internationalpaper.com/images/banners/Main/abanner-paper-fan.jpg*/ no-repeat left top;
}

/* IE 6 png fix. Note the path needs to be relative from the HTML that references the image */
.map-overlay, .map-overlay-global-home {
	behavior: url("../scripts/pngbehavior.htc")/*tpa=http://www.internationalpaper.com/common/scripts/pngbehavior.htc*/;
	position:absolute;
	top:50px;
	right:20px;
	width: 184px;
	height: 97px;
	z-index:100;
}
.map-overlay-global-home {
	top: 15px;
	width: 665px;
	height: 350px;
}
.dynamic-img {
	margin:0 3px;
}

/*********** globalhome ***********/
/*body#globalhome .utility-bar {
	padding-bottom: 12px;
}
*/

/* 

** GLOBAL HOME FADING IMAGE UPDATE **

the following were edited or added to allow for fading banners on the global home 

*/

body#globalhome .stock-quotebanner {
	height:378px;
	height: 385px;
	padding:7px 0 0 22px;
	padding:0;
	width:938px;
	width: 960px;
	position: relative;
}
body#globalhome .stock-quotetext {
	position:absolute;
	top:7px;
	left:22px;
	z-index:800;	
}
body#globalhome .stock-quoteimages{
	position:absolute;
	top:0;
	left:0;
	width: 960px;
	height: 385px;
}
body#globalhome .intro {
	position:absolute;
	top:221px;
	left:22px;
	z-index:810;	
}
body#globalhome .stock-quotebanner p.welcome-text{
	font-size:30pt;
	/*margin:221px 0 0 -9px;*/
}
body#globalhome .stock-quotebanner p.company-name{
	font-size:42pt;
	font-weight:bold;
	/*margin:-9px 0 0 -9px;*/
	margin-top: -9px;
}

/* 

** GLOBAL HOME FADING IMAGE UPDATE **

end global home fading banner changes 

*/
/*
body#countrylanding .stock-quotebanner{
	background:url("/WebSite/images//countrylanding-banner-paper-fan.jpg") no-repeat left top;
}
body#countrylanding_abbreviated .stock-quotebanner {
	background:url("../images/countrylandingabbr-banner-paper-fan.jpg") no-repeat left top;
}
*/
/*********** globalhome ***********/

.primaryNav{
	text-transform: uppercase;
}

.IPstockstyle{
	font-size:8pt;
}
