ul.nav-utility {
	margin:0 0 0 8px;
}
.stock-quotebanner {
	width:959px;
}

div#content{
	margin-top:-10px;
}


div.title-main {
	margin:15px 15px;
}
div.callout {
	margin-top:-15px;
	margin-bottom:28px;
}

.title-category h2 {
	padding-bottom:8px;
}
.left-navigation{
	height:756px;
}
body#shorewoodpackaging .left-navigation{
	height:912px;
}

body#shorewoodpackaging div.callout-small {
	margin-top:-15px;
}
body#shorewoodpackaging div.callout {
	margin-top:-18px;
	margin-bottom:30px;
}
body#countrylanding .left-navigation{
	height:576px;
}
body#productslanding .left-navigation{
	height:575px;
}
body#productsbrandlanding .left-navigation{
	height:987px;
}
body#company .left-navigation{
	height:576px;
}
body#countrylanding_abbreviated .left-navigation{
	height:727px;
}
div.copy-container {
	margin-bottom:92px;
}

.breadcrumbs ul, body#globalhome .language-selection ul {
	zoom:1;
}

.nav-global ul{
	zoom:1;
}

div.product-image {
	margin:0 15px 38px;
}

.nav-selector {
	margin-left:205px;
}
#logo-sub{
	margin-top:-1px;
	position:relative;
	z-index:10;
}

.nav-local {
	margin-left:1px;
}

.nav-local ul li h3{
	margin-left:-13px;
}
.nav-local ul li a.expanded{
	background-position:167px 11px;
}
.nav-local ul li a.collapsed{
	background-position:167px 10px;
}
.nav-local ul li ul li ul li{
	border:1px solid #ffffff;
}
div.callout {
	width:242px;
}

#footer {
	width:960px;
}

#footer div.nav-footer {
	padding:0;
}
/*********** globalhome ***********/


body#globalhome .stock-quotebanner{
	width:979px;
}
body#globalhome #logo-sub{
	margin-top:0;
}

body#globalhome .left-navigation{
	height:170px;
}

body#globalhome .language-selection {
	padding:0 20px;
	width:768px;
}

body#globalhome .nav-global h2{
	padding-top:9px;
	padding-bottom:0px;
}

/*********** globalhome ***********/


div.callout-small {
	margin-top:-15px;
	width:240px;
	margin-bottom:28px;
}
body#shorewoodpackaging div.callout-small ul li ul {
	float:none;
	padding:0;
}
/*********** globalhome ***********/

/****** countrylanding *****/
body#countrylanding .left-navigation{
	height:500px;
	margin-bottom:-4px;
}
body#countrylanding .copy-text{
	margin-right:65px;
}
/****** countrylanding *****/

/****** productlanding *****/
body#productslanding .left-navigation{
	height:500px;
	margin-bottom:-4px;
}
body#productslanding .copy-text{
	margin-right:65px;
}
body#productslanding div.copy-container ul li{
	width:173px;
}
/****** countrylanding *****/


/*********** shorewoodpackaging ***********/
body#shorewoodpackaging div.related-links {
	height:269px;
}
/*********** shorewoodpackaging ***********/
/****** countrylanding_abbreviated *****/
body#countrylanding_abbreviated div.copy{
	width:481px;
}

body#countrylanding_abbreviated div.callout{
	margin-top:-276px;
}

/****** countrylanding_abbreviated *****/
body#company div.copy-container ul li{
	height:207px;
}
body#company .copy-text{
	margin-right:68px;
}
body#productslanding .copy-text{
	margin-right:68px;
}