/*

 PATCH CSS FOR IE 6

*/

.search-input {
	width:140px;
}
.dot-container {
	margin:0 4px 0 0;
}
.nav-local {
	margin-left:3px;
	width:185px;
}


div.title-category {
	margin:-2px 0 0 0;
}


/* LEFT NAV */
.left-navigation{
	height:756px;
}
body#shorewoodpackaging .left-navigation{
	height:912px;
}
body#countrylanding .left-navigation{
	height:576px;
}
body#productslanding .left-navigation{
	height:575px;
}
body#productsbrandlanding .left-navigation{
	height:987px;
}
body#company .left-navigation{
	height:576px;
}
body#countrylanding_abbreviated .left-navigation{
	height:727px;
}
.nav-local ul li h3 a{
	zoom:1;
}



.nav-local ul li ul li ul li{
	border:1px solid #ffffff;
}

div.product-image {
	margin:0 15px 38px;
}
.language-selection ul {
	zoom:1;
	margin-top:0;
}
.breadcrumbs ul{
	zoom:1;
	margin-top:4px;
}
.nav-selector ul{
	zoom:1;
	overflow:hidden;
}
.nav-selector {
	margin-left:0px;
	zoom:1;
	margin-top:0;
}
div#logo-sub{
	margin-top:-16px;
	position:relative;
	z-index:10;
}
ul.nav-utility {
	margin:0 0 0 8px;
}

div.callout-small{
	margin-right: 8px;
}
div.quickLinks ul {
	overflow:hidden;
	display:block;
}
div.quickLinks ul li {
	float:left;
	clear:left;
	position:relative;
}
div.quickLinks ul li input{
	position:absolute;
	top:15px;
	right:-20px;
	padding-bottom:5px;
}

div.quickLinks ul li label{
	margin-bottom:2px;
	margin-top:2px;
}

div.quickLinks ul li input{
	position:absolute;
	top:15px;
	right:-20px;
	padding-bottom:5px;
}

/*********** globalhome ***********/

body#globalhome .left-navigation{
	height:170px;
}

body#globalhome .nav-global h2{
	padding-top:9px;
	padding-bottom:0px;
}


body#globalhome div#logo-master{ 
	margin-top:0;
}


body#globalhome div#content {
	margin-top:-11px;
}
div#content {
	margin-top:5px;
}

body#globalhome .language-selection {
	padding:0 15px;
	width:738px;
}

.language-selection h2{
	padding:15px 0 4px 0;
}

/*********** globalhome ***********/

/****** countrylanding *****/

body#countrylanding .copy-text{
	margin-top:35px;
}
body#countrylanding .left-navigation{
	height:500px;
	margin-bottom:-4px;
}
body#countrylanding .copy-text{
	margin-right:65px;
}
body#countrylanding .copy-container ul{
	margin-left:-3px;
}
body#productslanding div.copy-container ul li{
	width:160px;
}
/****** countrylanding *****/

/****** productslanding *****/

body#productslanding .left-navigation{
	height:500px;
	margin-bottom:-4px;
}
body#productslanding .copy-text{
	margin-right:65px;
}
body#productslanding .copy-container ul{
	margin-left:-3px;
}
/****** prodcutslanding *****/


/*********** shorewoodpackaging ***********/
body#shorewoodpackaging div.related-links {
	height:269px;
}


/*********** shorewoodpackaging ***********/
/****** countrylanding_abbreviated *****/
body#countrylanding_abbreviated div.copy{
	width:481px;
}


/****** countrylanding_abbreviated *****/


/*
body#countrylanding_abbreviated div.callout{
	margin-top:-189px;
}*/
body#company div.copy-container ul li{
	height:207px;
}
body#company .copy-text{
	margin-right:68px;
}
body#productslanding .copy-text{
	margin-right:68px;
}

div#nav-wrapper{
	clear:both;
	width:100%;
}
div#world, div#business, div#company, div#careers, div#investors, div#sustainability, div#products{
	background-image:none;
	background-color:#ffffff;
	border-bottom:10px solid #b3a8a1;
	border-right:1px solid #b3a8a1;
	padding-bottom:10px;
}
div#business div ul, div#company div ul, div#careers div ul, div#investors div ul, div#sustainability div ul{
	padding-left:12px;
}
div#products div ul{
	padding-left:3px;
}
