div#logo-master {
	float:left;
}
/* 	GLOBAL NAVIGATION */
.nav-global {
	float:left;
	padding-bottom:3px;
	background:url("../images/nav-bar-separator.gif")/*tpa=http://www.internationalpaper.com/common/images/nav-bar-separator.gif*/ bottom left no-repeat;
	margin-bottom:-2px;
}

.nav-global ul{
	background:transparent url("../images/bg-global-nav-right.gif")/*tpa=http://www.internationalpaper.com/common/images/bg-global-nav-right.gif*/ repeat-x scroll 0 0;
}
.nav-global ul li {
	float:left;
	font-size:8pt;
	font-weight:bold;
	background:url("../images/bg-global-nav-right.gif")/*tpa=http://www.internationalpaper.com/common/images/bg-global-nav-right.gif*/ no-repeat right top;
	width:128px;
	text-align:center;
}

.nav-global ul li a {
	color:#FFFFFF;
	text-decoration:none;
	float:left;
	cursor:pointer;
	width:100%;
	height:44px;
}/*
.nav-global ul:first-child li a {
	cursor:default;
}*/
.nav-global ul li a span{
	background:url("../images/bg-global-nav-left.gif")/*tpa=http://www.internationalpaper.com/common/images/bg-global-nav-left.gif*/ no-repeat left top;
	float:left;
	padding:12px 0 9px 0;
	cursor:default;
	width:100%;
	text-decoration:none;
	

}
.nav-global ul li a:hover, .nav-global ul li:hover a{
	background:url(../images/bg-global-nav-right-on.gif)/*tpa=http://www.internationalpaper.com/common/images/bg-global-nav-right-on.gif*/ no-repeat right top;
}
.nav-global ul li a:hover span, .nav-global ul li:hover a span{
	background:url(../images/bg-global-nav-left-on.gif)/*tpa=http://www.internationalpaper.com/common/images/bg-global-nav-left-on.gif*/ no-repeat left top;
}
/*.nav-global ul li a:hover span {
	background:url(../images/bg-global-nav-left-on.gif) no-repeat left top;
}*/
.nav-global ul li.active a{
	background:url("../images/bg-global-nav-right-on.gif")/*tpa=http://www.internationalpaper.com/common/images/bg-global-nav-right-on.gif*/ no-repeat right top;
}
.nav-global ul li.active a span{
	background:url("../images/bg-global-nav-left-on.gif")/*tpa=http://www.internationalpaper.com/common/images/bg-global-nav-left-on.gif*/ no-repeat left top;
}
/****** countrylanding *****/
div#world {
	width:620px;
	float:left;
	position:absolute;
	top:35px;
	right:110px;
	background:url("../images/bg_navworldbot.png")/*tpa=http://www.internationalpaper.com/common/images/bg_navworldbot.png*/ right bottom no-repeat;
	z-index:200;
	padding:0 13px 40px 13px;
}


div#world div{
	width:230px;
	float:left;
	line-height:13px;
	padding:0;
}

div#world ul{
	margin:0;
	overflow:hidden;
	float:none;
}

div#world ul li{
	font-size:1em;
	color:#66605c;
	display:inline;
	border-left:1px solid #66605c;
	padding:0 4px;
	margin-left:-1px;
	background:none;
}
div#world ul li:first-child{
	border-left:0px;
}

div#world ul li a{
	color:#66605c;
}

div#world ul li span{
	font-weight:bold;
}


div#world h2{
	font-size:1.1em;
	color:#66605C;
	font-weight:bold;
	padding:13px 0 0 0;
	clear:both;
}

div#world h3{
	font-size:1em;
	color:#66605C;
	float:left;
	padding:0 3px 0 0;
	font-weight:normal;
	clear:both;
}
div#world .topMargin{
    width:160px;
	margin-top:15px;
}

div#products, div#business, div#company, div#careers, div#investors, div#sustainability {
	width:425px;
	position:absolute;
	top:200px;
	right:188px;
	background:url("../images/bg_navworldbot.png")/*tpa=http://www.internationalpaper.com/common/images/bg_navworldbot.png*/ right bottom no-repeat;
	z-index:300;
	float:left;
	padding:0 13px 40px 13px;
}

div#business, div#company, div#careers, div#investors, div#sustainability{
	width:141px;
	right:344px;
}

div#company {
	right:601px;
}

div#careers {
	right:216px;
}

div#investors {
	right:87px;
}

div#sustainability {
	right:-10px;
}
div#products{
	padding:0 13px 34px;
}


div#business, 
div#company, 
div#careers, 
div#investors, 
div#sustainability{
    background:url("../images/bg_navworldbot.png")/*tpa=http://www.internationalpaper.com/common/images/bg_navworldbot.png*/ no-repeat right bottom;
	/*width:107;*/
	padding:10px 13px 34px 13px;
	float:left;

}
div#products div, 
div#business div, 
div#company div, 
div#careers div, 
div#investors div, 
div#sustainability div{
	width:133px;
	float:left;
	line-height:13px;
}
div#products div,
div#business div, 
div#company div, 
div#careers div, 
div#investors div, 
div#sustainability div{
	width:140px;
}
div#products div ul,
div#business div ul,
div#company div ul, 
div#careers div ul, 
div#investors div ul, 
div#sustainability div ul{
	background:none;
	margin:0;
}
.nav-global ul li.active div#products div ul li ,
.nav-global ul li.active div#business div ul li ,
.nav-global ul li.active div#company div ul li , 
.nav-global ul li.active div#careers div ul li , 
.nav-global ul li.active div#investors div ul li , 
.nav-global ul li.active div#sustainability div ul li ,
div#products div ul li,
div#business div ul li,
div#company div ul li, 
div#careers div ul li, 
div#investors div ul li, 
div#sustainability div ul li{
	font-size:1em;
	color:#66605c;
	padding:0;
	display:block;
	clear:both;
	background:none;
	padding:0 2px 0 1px;
	margin-left:-1px;
	width:100%;	
	text-align:left;
}
div#products div ul li a,
div#business div ul li a,
div#company div ul li a, 
div#careers div ul li a, 
div#investors div ul li a, 
div#sustainability div ul li a{
	color:#66605c;
	font-weight:normal;
	width:auto;
	background:none;
	height:auto;
}
div#products div ul li a:hover,
div#business div ul li a:hover,
div#company div ul li a:hover, 
div#careers div ul li a:hover, 
div#investors div ul li a:hover, 
div#sustainability div ul li a:hover{
	color:#66605c;
	font-weight:normal;
	background:none;
	text-decoration: underline;
}
div#products div ul li span,
div#business div ul li span,
div#company div ul li span, 
div#careers div ul li span, 
div#investors div ul li span, 
div#sustainability div ul li span{
	font-weight:bold;
}
div#products div h2,
div#business div h2,
div#company div h2, 
div#careers div h2, 
div#investors div h2, 
div#sustainability div h2{
	font-size:1em;
	color:#66605C;
	font-weight:bold;
	padding:13px 0 0 0;
	clear:both;
	text-align:left;
}
div#products div h3,
div#business div h3,
div#company div h3, 
div#careers div h3, 
div#investors div h3, 
div#sustainability div h3{
	font-size:1em;
	color:#66605C;
	float:left;
	padding:0 3px 0 0;
	font-weight:normal;
	clear:both;
	text-align:left;
}
div#products div .topMargin,
div#business div .topMargin,
div#company div .topMargin, 
div#careers div .topMargin, 
div#investors div .topMargin, 
div#sustainability div .topMargin{
    width:112px;
	margin:0;
}

/****** countrylanding *****/
/* BREADCRUMBS*/
.breadcrumbs {
	float:right;
	margin-top:-3px;
	width:768px;
}
.breadcrumbs ul {
	font-size:8pt;
	margin:17px 0pt 15px 10px;
	color:#99908a;
	overflow:hidden;
}
.breadcrumbs ul li {
	display:inline;
	list-style:none;
	list-style-type:none;
	background:url("../images/bg-breadcrum-arrow.gif")/*tpa=http://www.internationalpaper.com/common/images/bg-breadcrum-arrow.gif*/ left 4px no-repeat;
	margin-left:-4px;
}
.breadcrumbs ul li a {
	margin:0 8px 0 10px;
	color:#99908a;
}
.breadcrumbs ul li span {
	margin:0 8px 0 10px;
}
/* LCOAL NAVIGATION */	

.left-navigation {
	width:192px;
	float:left;
	min-height:756px;
}
.nav-local {
	margin-left:7px;
	width:180px;
	float:left;
}
div.callout ul li div
{
	display: none;
}

div.callout ul li a.expandable
{
	background:url("../images/accodion-open.gif")/*tpa=http://www.internationalpaper.com/common/images/accodion-open.gif*/ 197px no-repeat;
}
div.callout ul li.expanded a.expandable
{
	background:url("../images/accodion-close.gif")/*tpa=http://www.internationalpaper.com/common/images/accodion-close.gif*/ no-repeat 186px 4px;
}

div.callout ul li a.expandable
{
	background-position:186px 4px;
}
/*
.nav-local ul li a.active, .nav-local ul li ul li a.active, .nav-local ul li ul li ul li a.active{
	color:#01578f;
}
*/

ul.list-expander {
	width:170px;
}
ul.list-expander li {
	display:block;
}
ul.sub-nav-local {
	margin-left:-5px;
	display: none;
}
ul.sub-sub-nav-local {
	margin:5px 0 15px -5px;
	display: none;
}
.nav-local ul li{
	background:url("../images/bg-active-collapse01.gif")/*tpa=http://www.internationalpaper.com/common/images/bg-active-collapse01.gif*/ no-repeat;
}
.nav-local ul li a{
	margin:0 10px;
	color:#66605c;
	line-height:27px;
	/*padding-right:30px;*/
	display:block;
	width:135px;
}

.nav-local ul li img{
	float:right;
	margin:-25px 4px 0 0;
	padding:7px;
	cursor:pointer;	
}

ul.sub-nav-local li img{
	margin:-21px 4px 0 0;
}
.nav-local ul li ul li{
	background:none;
	margin-left:7px;
	border-bottom:1px solid #ebebeb;
	padding:3px 0px;
}

.nav-local ul li ul li a{
	padding:2px 10px;
	margin:0;
	font-size:8pt;
	line-height:15px;
	font-weight:bold;
}
.nav-local ul li ul li ul li{
	border-bottom:none;
	padding:0;
}
.nav-local ul li ul li ul li a{
	padding:0 10px;
	font-size:8pt;
	font-weight:normal;
	line-height:normal;
}
.title-category {
	margin-top:-3px;
}
.title-category h2 {
	font-size:15pt;
	font-weight:normal;
	color:#66605c;
	padding:20px 0 20px 18px;
}


/*********** globalhome ***********/ 
 
body#globalhome .left-navigation {
	min-height:170px;
	background:url("../images/globalhome-leftimage.gif")/*tpa=http://www.internationalpaper.com/common/images/globalhome-leftimage.gif*/ repeat-x;
}

/*********** globalhome ***********/
/*********** shorewoodpackaging ***********/
body#shorewoodpackaging .nav-local ul li ul li a{
	padding:5px;
}
body#shorewoodpackaging div.related-links {
	min-height:269px;
	padding-top:15px;
}
/*********** shorewoodpackaging ***********/


html.msie6 .left-navigation h3, html.msie7 .left-navigation h3{
	padding-left:10px;
	text-indent:-10px;
	*padding-left:0px;
	*text-indent:0px;
}
.wrapped-nav{
	padding:4px 0 4px 0;
}


.webkit .nav-local ul li img{
	position:absolute;
	right:0;
	top:0;
}
.webkit .nav-local li{
	position:relative;
	overflow:hidden;
}


/*--*/

.webkit #logo-sub{
	margin-top:-2px;
}
.webkit .nav-local ul li img{
	margin-top: 0px;
}
.webkit body#countrylanding div.copy-container ul li input{
	vertical-align:middle;
	margin-top:-7px;
}
.webkit body#countrylanding_abbreviated div.callout {
	margin-top:-192px;
}
.webkit div.callout-small ul li input{
	vertical-align:middle;
}
html.webkit body#countrylanding div.copy-container ul li select, div.callout-small ul li select{
	vertical-align:middle;
	margin-top:-4px;
}
.webkit div.callout ul li ul li input{
	vertical-align:middle;
}
.webkit div.callout ul li ul li select.product{
	margin:0 6px 14px 0;
}