@charset "utf-8";
/* CSS Document */
@import "reset.css"/*tpa=http://www.internationalpaper.com/common/styles/reset.css*/;
@import "global.css"/*tpa=http://www.internationalpaper.com/common/styles/global.css*/;
@import "header.css"/*tpa=http://www.internationalpaper.com/common/styles/header.css*/;
@import "navigation.css"/*tpa=http://www.internationalpaper.com/common/styles/navigation.css*/;
