body {
	background-color:#000;
}
.tf_bg{
	width:100%;
	height:550px;
	position:fixed;
	top:0px;
	left:0px;
}
.tf_bg img{
	position:absolute;
	top:0px; /*-482px;	 -(imgh/2 - wh/2) */
	left:0px;	/* calculate a negative value to center horizontally */
	width:100%;	/* windowwidth plus negative value of left */
	/*height:1650px; /* windowheight plus negative value of top */
	z-index: -1;
	display:none;
}
.tf_pattern{
	position:absolute;
	width:100%;
	z-index:2;
}
.tf_content{
	position:absolute;
	/*float:right;*/
	bottom:20px;
	/*right:220px;*/
	left: 150px;
	z-index:10;
	display:none;
	background:transparent url(../bg_content.png)/*tpa=http://www.phillips66.com/EN/homefeatures/bg_content.png*/ repeat top left;
	padding:20px;
	width:50%;
	-moz-box-shadow:1px 1px 5px #202020;
	-webkit-box-shadow:1px 1px 5px #202020;
	box-shadow:1px 1px 5px #202020;
}
.tf_content h2{
	color:#fff;
	font-size:26px;
	padding:0;
	margin:0;
	font-family: "Helvetica Lt Std", "Helvetica", sans-serif;
	text-shadow:1px 1px 2px #000;
}
.tf_content p{
	color:#fff;
	padding:0;
	margin:0;
	font-family: 'Helvetica Neue', Helvetica, serif;
	font-size:16px;
	line-height:25px;
	text-shadow:2px 2px 1px #000;	
}

.tf_content .more{
	border: none;
}

.tf_content a{
	/*color:#7ccef7;*/
	font-size:15px;
}

.tf_content a:hover{
	/*color:#5ab5e2;*/
	font-size:15px;
	
}
.tf_content a:visited{
	/*color:#7ccef7;*/
	font-size:15px;
}

.tf_thumbs{
	position:absolute;	
	z-index:12;
	right:50px;
	top:50%;
	margin-top:-79px;
	border:4px solid #fff;
	-moz-box-shadow:1px 1px 5px #202020;
	-webkit-box-shadow:1px 1px 5px #202020;
	box-shadow:1px 1px 5px #202020;	
	-webkit-box-reflect:
		below 5px
		-webkit-gradient(
			linear,
			left top,
			left bottom,
			from(transparent),
			color-stop(0.6, transparent),
			to(rgb(18, 18, 18))
		);
}
.tf_thumbs img{
	display:block;
}
.tf_loading{
	position:fixed;
	top:50%;
	left:50%;
	margin:-30px 0px 0px -30px;
	width:60px;
	height:60px;
	background:#000 url(../loader.gif)/*tpa=http://www.phillips66.com/EN/homefeatures/loader.gif*/ no-repeat center center;
	z-index:50;
	opacity:0.7;
}
.tf_next,
.tf_prev{
	width:35px;
	height:14px;
	position:absolute;
	top:255px;
	right:220px;
	z-index:999999;
	cursor:pointer;
	background:transparent url(../nav.png)/*tpa=http://www.phillips66.com/EN/homefeatures/nav.png*/ no-repeat top left;
	opacity:0.5;
	text-indent: -999em;
	display:none;
}
.tf_next{
	background-position:0px -14px;
	margin-top:40px;
}
.tf_prev{
	background-position:0px 0px;
	margin-top:-55px;
}
.tf_next:hover,
.tf_prev:hover{
	opacity:0.9;
}
.tf_zoom,
.tf_fullscreen{
	width:20px;
	height:20px;
	position:absolute;
	top:6px;
	right:6px;
	cursor:pointer;
	z-index:100;
	opacity:0.6;
	background:transparent url(../icons.png)/*tpa=http://www.phillips66.com/EN/homefeatures/icons.png*/ no-repeat top left;
}
.tf_zoom{
	background-position:0px -20px;
}
.tf_fullscreen{
	background-position:0px 0px;
}
.tf_zoom:hover,
.tf_fullscreen:hover{
	opacity:0.9;
}

.static_text {
	position:absolute;
	left: 150px;
	top: 350px;
}

#home-more a img {
	position: relative;
	left:5px;
	border: none;
}