html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,/*ol,*/ ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,button{border:0;outline:0;font-size:12px;font-family:"Century Gothic", Arial, sans-serif;color:#000;vertical-align:bottom;background:transparent;margin:0;padding:0}
body{line-height:1;background:#dedddd}
ol,ul{list-style:none}
blockquote,q{quotes:none}
del{text-decoration:line-through}
table{border-collapse:collapse;border-spacing:0}
p{font-family:Tahoma, Arial;line-height:16px;margin:0 0 .83em}
p a{font-family:Tahoma,Arial}
h1{clear:both;font-size:200%;font-weight:400;padding:20px 0}
h2,h3,h4,h5,h6{padding:0 0 12px}
h2{font-size:150%;font-weight:400}
h3{font-size:100%;font-weight:700}
a,button{font:100% "Century Gothic", Arial;text-decoration:none;color:#003e93;cursor:pointer}
a:hover{text-decoration:none;color:#003e93}
.action-button{font:14px "Century Gothic", Arial;text-decoration:none;color:#fff;text-transform:uppercase}
.b-85,.b-105,.b-115,.b-125,.b-135,.b-145,.b-155,.b-165,.b-175,.b-185,.b-195,.b-200,.b-g-155{height:26px;line-height:25px;font-size:14px;font-weight:400;text-align:center;background:url(../../images/buttons/btns.gif)/*tpa=http://www.dillards.com/images/buttons/btns.gif*/ no-repeat scroll 0 0;color:#fff;text-transform:uppercase;padding:0!important}
.b-85{width:85px}
.b-105{width:105px;background-position:0 -26px}
.b-115{width:115px;background-position:0 -52px}
.b-125{width:125px;background-position:0 -78px}
.b-135{width:135px;background-position:0 -104px}
.b-145{width:145px;background-position:0 -130px}
.b-155{width:155px;background-position:0 -156px}
.b-165{width:165px;background-position:0 -182px}
.b-175{width:175px;background-position:0 -208px}
.b-185{width:185px;background-position:0 -234px}
.b-195{width:195px;background-position:0 -260px}
.b-200{width:200px;background-position:0 -286px}
.b-g-155{width:155px;background:url(../../images/buttons/btns-g.gif)/*tpa=http://www.dillards.com/images/buttons/btns-g.gif*/ no-repeat scroll 0 0}
label{clear:left;float:left;color:#000}
input{border:1px solid #bdbeb8;height:17px;font:11px Arial;color:#777;padding:3px 0 0 5px}
input[type=checkbox],input[type=radio]{background:transparent;border:0}
textarea{border:1px solid #bdbeb8;font:11px Arial;color:#777;padding:3px 0 0 5px}
input:focus,textarea:focus{color:#000;-moz-box-shadow:1px 1px 3px #333;-webkit-box-shadow:1px 1px 3px #333;box-shadow:1px 1px 3px #333;border-color:#333}
form dt{line-height:1.5em;margin:.83em 0 0}
.error,.wcError,.error-msg{text-align:center;color:#c00;border:1px solid #c00;background:#fff;font-family:Tahoma, Arial, sans-serif;line-height:1.5em;margin:2px 0 20px;padding:10px 30px}
.errorMessage,.red{color:#c00;font-family:Tahoma, Arial, sans-serif}
.errorMessage ul,.error ul,.wcError ul,.error-msg ul{list-style:disc;text-align:left}
.errorMessage ul li,.error ul li,.wcError ul li,.error-msg ul li{color:#c00;font-family:Tahoma, Arial, sans-serif;text-align:left;margin:0 0 .5em}
.success-msg{text-align:center;color:#090;background:#fff;border:1px solid #090;font-family:Tahoma, Arial, sans-serif;margin:2px 0 20px;padding:10px 30px}
.clear{clear:both}
.required-text{font-size:9px;color:#000;text-transform:uppercase;padding:1em 0 0}
.required{color:#000}
.textonly{margin:0;padding:1.66em 1.66em 3.32em}
.textonly li{line-height:2em}
.textonly a{color:#003E93;vertical-align:text-top}
#top-nav,#header,#main-nav,#bottom-nav{font:11px "Century Gothic", Arial;color:#505050}
#top-nav{padding-right:20px;width:960px;margin:0 auto}
#top-nav h3{font-size:12px}
#top-nav ul li{float:right;position:relative;z-index:7000}
#top-nav ul li a{display:block;text-transform:uppercase;color:#505050;padding:5px 7px 6px}
#top-nav ul li a:hover{text-decoration:underline}
#top-nav ul li a.on{color:#000;background:#fff;border:solid #bdbeb8;border-width:0 1px;padding:5px 6px 6px}
#top-nav ul li a.name{color:#000;cursor:default}
#top-nav ul li .sub{display:none;position:absolute;border:solid #bdbeb8;background:#fff url(../../images/common/head-dd-back.jpg)/*tpa=http://www.dillards.com/images/common/head-dd-back.jpg*/ repeat-x bottom;z-index:6800;-moz-box-shadow:1px 3px 4px #555;-webkit-box-shadow:1px 3px 4px #555;box-shadow:1px 3px 1px #555;border-width:0 1px 1px}
li#account{width:auto}
#account .sub a{padding:8px 20px}
#account-guest .sub{width:470px}
#account-guest #acc-login,#account-guest #acc-register{float:left;padding:14px}
#acc-login{width:210px}
#acc-login h2,#acc-register h2{padding-bottom:5px;font-size:12px;font-weight:700;text-transform:uppercase}
#account-guest #acc-login h4,#account-guest #acc-register h4{font-size:12px;color:#000}
#account-guest label,#order-status label{clear:left;float:left;width:170px;margin:9px 0 2px}
#order-status label{margin-top:0;font-size:10px;padding:0 1em 1em 0}
#account-guest input,#order-status input{clear:left;float:left;width:172px}
#account-guest button,#acc-register a,#find-store button,#top-nav ul #connect button,#order-status button{clear:left;float:left;color:#003e93;font-size:12px;text-transform:uppercase;border:none;background:none;font-weight:700;margin:7px 0 0}
#find-store button{width:133px;text-align:left}
#account-guest #acc-login a{display:block;float:left;text-transform:none;color:#003e93;margin:4px 6px 0}
#top-nav #acc-register{width:200px}
#acc-register ul{list-style-type:disc;margin:10px 0 0}
#acc-register ul li{float:none;margin:0 0 4px 25px}
#account-guest .sub #acc-register a{padding-left:0;color:#003e93}
#find-store .sub,#connect .sub,#order-status .sub{padding:20px}
#connect .sub{width:250px}
#connect label{display:block;float:left;clear:left;width:100%;color:#777;font-size:11px;border-top:1px dotted #ccc;margin:0 0 7px;padding:7px 0 0}
#top-nav ul li #fb-share,#top-nav ul li #tw-share,#top-nav ul li #yt-share{float:left;display:block;margin-bottom:5px;background:url(../../images/common/social_icons.png)/*tpa=http://www.dillards.com/images/common/social_icons.png*/ no-repeat;font-size:11px;text-transform:uppercase;padding:2px 16px 5px 20px}
#top-nav ul li #yt-share{background-position:0 -94px}
#top-nav ul #connect .mail-icon{float:left;width:27px;height:21px;background:url(../../images/common/social_icons.png)/*tpa=http://www.dillards.com/images/common/social_icons.png*/ no-repeat 0 -43px}
#top-nav ul #connect #recipient{width:171px}
#top-nav ul #connect #emailSignUpError{width:240px;height:auto}
#top-nav ul #connect form button{clear:none;margin:3px 0 0 5px}
#mini-cart a{padding-right:0!important}
#mini-cart a.on{margin-right:-6px;padding-right:5px!important}
#mini-cart .sub{left:-180px;width:330px;padding:15px}
#cart-wrapper.f{background:url(../../images/common/loading.gif)/*tpa=http://www.dillards.com/images/common/loading.gif*/ no-repeat 50% 50%}
#mini-bag-popUp h3{font-size:12px;text-transform:uppercase;margin:0;padding:0}
#mini-bag-popUp .item{clear:left;float:left;width:328px;border-bottom:1px solid #dfdfdf;padding:7px 0}
#mini-bag-popUp .item a{display:block;float:left;width:80%;padding:0}
#mini-bag-popUp .item img{display:block;float:left;width:33px;height:40px;overflow:hidden;padding:0 10px 0 0}
#mini-bag-popUp .item .name{float:left;width:200px;padding-top:13px;font-size:12px;color:#000;text-transform:none}
#mini-bag-popUp .item .pricing{float:left;width:20%;padding-top:12px;font-size:12px;color:#000;font-weight:700;text-align:right}
#mini-cart #mini-bag-popUp #more-items{float:left;display:block;color:#000;font-size:12px;padding:11px 0 0}
#more-items:hover{color:#003e93!important}
#mini-bag-total{float:right;font-size:14px;color:#000;font-weight:700;padding:11px 0 0}
#mini-bag-popUp .cart-actions a{display:block;clear:both;float:right;margin-top:10px}
#header-wrapper{width:100%;background:#fff}
#header{width:980px;margin:0 auto}
#logo-spot{float:left;width:140px;height:54px;text-indent:-5000px;margin:18px 0 15px 20px}
#header-spot{float:left;width:273px;margin:14px 0 0 32px}
#header-spot a{display:block;margin-top:2px;font-size:14px;color:#003e93;padding:0 10px 0 0}
#search{float:right;width:412px;color:#777;margin:10px .75em 0 0;padding:0 0 0 91px}
#search input{display:block;float:left;width:225px}
#search-filter{float:left;border:1px solid #bdbeb8;border-left:0;width:110px;height:17px;background:url(../../images/common/filter-arrow.png)/*tpa=http://www.dillards.com/images/common/filter-arrow.png*/ no-repeat 94% 55%;cursor:pointer;padding:3px 0 0 7px}
#filter-value,#search-filter ul li a{font:11px Tahoma;color:#777}
#search-filter ul{display:none;position:relative;width:117px;top:2px;left:-8px;border:solid #BDBEB8;background:#fff;z-index:6700;border-width:0 1px 1px;padding:2px 0 5px}
#search-filter ul li{padding:3px 0 3px 6px}
#search button,#footer-offer button{display:block;float:left;border:0;font-size:11px;text-transform:uppercase;font-weight:700;color:#003e93;background:none;padding:4px 0 0 5px}
#utility-nav{float:right;margin:20px 20px 0 0}
#utility-nav li{float:right;text-transform:uppercase;cursor:pointer;margin:0 0 0 16px;padding:4px 0 0}
#utility-nav li a{color:#777}
#utility-nav li a.important{color:#9c0011}
#main-nav-wrapper{float:left;width:100%;background:#fff}
#main-nav-container{clear:both;padding-left:3px;width:980px;cursor:pointer;margin:0 auto}
#main-nav{float:left;position:relative;background:url(../../images/common/nav-divider.png)/*tpa=http://www.dillards.com/images/common/nav-divider.png*/ no-repeat 50% 0;z-index:5000;margin:0 0 0 2px}
#main-nav li.on{background:#222;color:#222}
#main-nav li a{display:block;font-size:128%;text-transform:uppercase;color:#000;padding:.83em .95em}
#main-nav li .sub{display:none;left:0;float:left;min-width:494px;border:1px solid #222;position:absolute;background:#fff;cursor:default;z-index:5000}
#main-nav .sub .top{width:100%;height:27px;background:#222;margin:0;padding:28px 0 0}
#main-nav .sub .top p{float:left;padding-left:16px;width:145px;font-size:13px;text-transform:uppercase;color:#fff}
#main-nav .sub .bottom{float:left;width:494px;overflow:hidden;margin:0;padding:0 0 0 16px}
#main-nav .sub .bottom ul{float:left;width:146px;padding:16px 16px 0 0}
#main-nav .sub .bottom ul li{display:block;float:none;width:146px}
#main-nav .sub .bottom ul li a{display:block;font-size:11px;width:146px;color:#636363;background:#fff;text-transform:none;padding:3px 0}
#main-nav .sub .bottom ul li.all{margin-top:16px}
#main-nav .sub .bottom ul li.all,#main-nav .sub .bottom ul li.all a{font-size:11px;color:#636363;padding:3px 0}
#main-nav .sub .bottom .promo{clear:left;width:474px;margin:0;padding:13px 0}
#main-nav .sub .bottom .promo a{color:#b5955a;padding:0}
#main-nav .sub .bottom-marketing a,#main-nav .sub .bottom-marketing img{overflow:hidden;margin:0;padding:0}
#wrapper{clear:both;border-top:1px solid #7f7f7f;width:100%;background:#ebebea url(../../images/common/main-bg.png)/*tpa=http://www.dillards.com/images/common/main-bg.png*/ repeat-x}
#container{width:980px;background:transparent;min-height:380px;margin:0 auto;padding:0 0 35px}
#bottom-nav-container{width:100%;height:30px;background:#505050}
#bottom-nav{width:940px;margin:0 auto;padding:0 20px}
#bottom-nav ul li{float:left;width:20%;text-transform:uppercase;cursor:pointer;padding:4px 0 0}
#bottom-nav ul li a,#bottom-nav li.connect span{display:block;text-transform:uppercase;color:#fff;font-size:11px;padding:4px 1px 7px}
#bottom-nav ul li a:hover{color:#ccc}
#bottom-nav ul li .fb,#bottom-nav ul li .t{width:16px;height:5px;background:url(../../images/common/social_icons.png)/*tpa=http://www.dillards.com/images/common/social_icons.png*/ no-repeat;text-indent:-5000px;margin:3px 0 0 12px}
#footer{clear:both;width:940px;margin:0 auto;padding:12px 20px 0}
#footer-links{float:left;width:67%}
#footer-links ul{float:left;width:265px;padding:0 25px 0 0}
#footer-links ul li{margin:0 0 6px}
#footer-links ul li a{color:#505050}
#footer-offer{float:left;width:33%}
#footer-offer input{float:left;width:245px;height:19px;border:0;margin:0 0 0 .83em}
#copyright{float:left;width:30%;text-align:left;color:#777;font:11px arial;line-height:1.3em;padding:23px 0 0}
#copyright div{padding-top:5px}
#copyright p{padding-top:9px}
#breadcrumb{float:left;margin:0;padding:7px 0 0}
#breadcrumb li{float:left;font:11px tahoma;padding:0 5px 0 0}
#breadcrumb li a{display:block;color:#505050;font:11px tahoma}
#breadcrumb li a.back{padding-left:10px;background:transparent url(../../images/common/arrows.gif)/*tpa=http://www.dillards.com/images/common/arrows.gif*/ no-repeat 0 -39px}
#breadcrumb a.back:hover{background-position:-105px -39px}
#simplemodal-overlay{background-color:#000;z-index:10001!important}
#simplemodal-container,#simplemodal-container-long{height:auto!important;top:16%!important;border:5px solid #003e93;background:#fff;z-index:10002!important;padding:18px}
#simplemodal-container-long{position:absolute!important;top:55px!important}
.simplemodal-wrap{position:relative;overflow:visible!important}
.simplemodal-close{z-index:3200;position:absolute;top:3px;right:5px;font-size:11px;color:#777}
.simplemodal-wrap h1{padding:5px 0 18px}
.modal-window{display:none;background:url(../../images/common/modal-close.png)/*tpa=http://www.dillards.com/images/common/modal-close.png*/ no-repeat;padding-top:35px;width:458px}
.modal-window .modal-content{color:#63747d;background:url(../../images/common/modal-bg.png)/*tpa=http://www.dillards.com/images/common/modal-bg.png*/ bottom left no-repeat;padding:0 15px 15px}
.modal-window .modal-content h2{font-size:20px;font-weight:400;margin:0;padding:0 0 3px}
.modal-window .modal-content dl{margin:10px 0;padding:0}
.modal-window .modal-content dt{clear:both;float:left;width:100px;padding-right:10px;text-align:right}
.modal-window .modal-content dd{float:left;width:auto;margin-top:-2px}
.modal-window .modal-content .actions{clear:both;padding-top:5px}
.modal-window .modal-content .errors{color:red;margin:5px 0}
.modal-window .modal-content .addrsuggestions address{font-style:normal;margin:10px 0}
.modal-window .modal-content .addrsuggestions a{font-weight:700;margin-right:10px}
.modal-window .modal-content form{max-height:370px}
#container:after,#wrapper:after,#top-nav:after,#header:after{content:".";display:block;height:0;clear:both;visibility:hidden}
#user-login .actions{float:left;clear:both}
.login-text{text-transform:uppercase}
a.forgot-link{display:block;text-transform:uppercase;width:35em;float:left;color:#003E93;margin:10px 0}
#side-rr{float:right;width:120px;margin:25px 0 0}
#side-rr table{border:solid #ccc;width:120px;background:#fff;border-width:0 1px 1px}
.rr_stratmsg_vertical{background:#ccc;font-size:11px;color:#222;text-transform:uppercase;padding:7px 10px}
.rr_item_vertical{text-align:center;padding:1em .25em}
.rr_item_vertical img{width:100px;border:0}
.rr_itemPrice_vertical{text-align:left;padding-left:6px;margin-top:5px;color:#000}
.rr_itemPrice_vertical a,.rr_itemPrice_vertical b{font-size:10px}
.rr_itemPrice_vertical b{font-weight:700;padding-left:0}
#rr-wrapper{background:#222;width:100%;clear:both}
#rr-container{width:960px;padding-left:20px;margin:0 auto}
#rr-container .rr_h{background:transparent;width:100%;margin:0 0 15px}
#rr-container .rr_stratmsg_h{position:absolute;font:13px "Century Gothic",Arial;font-weight:700;color:#777;background:transparent;text-transform:uppercase;padding:1em 0}
#rr-container .rr_itemLoop_h{width:100%;padding:42px 0 0}
#rr-container .rr_item_h{margin-right:20px}
#rr-container .rr_item_h img,#rr-container .rr_item_h{width:140px;border:0;text-align:left}
#rr-container .rr_itemPrice_h a{font-weight:400;font:10px "Century Gothic",Arial;color:#ccc}
#rr-container .rr_itemPrice_h b{font-weight:700;font-size:10px;color:#fff}
#rr-container .rr_itemPrice_h a:hover,#rr-container .rr_item_h:hover a{color:#fff;text-decoration:none}
.dillards-modal{display:none;width:400px}
.dillards-modal-loader{display:none;width:200px}
.dillards-modal h1{padding:5px 0 10px}
.dillards-modal .item{float:left;clear:left;border-top:1px solid #ccc;margin:0 0 9px}
.dillards-modal .item img{float:left;display:block;width:90px;border:solid #ccc;border-width:0 1px 1px}
.dillards-modal .info{float:left;width:400px;padding:16px 10px 0 17px}
.dillards-modal .actions{clear:left;float:left;width:80%;height:39px}
.dillards-modal h2{line-height:1.1em;margin-bottom:10px}
.dillards-modal h3{line-height:1.1em;padding:10px 0 0}
.dillards-modal li{margin-bottom:3px;font-size:11px}
.dillards-modal .passwordTipList li{list-style:disc;margin-bottom:3px;margin-left:15px;font-size:11px}
.dillards-modal li span{text-transform:uppercase;font-size:11px}
.dillards-modal .actions a{float:left;display:block;margin:10px 15px 0 0}
.dillards-modal .actions .continue-checkout{background:url(../../images/buttons/blue-btn-84.gif)/*tpa=http://www.dillards.com/images/buttons/blue-btn-84.gif*/ no-repeat scroll 0 0;width:85px;float:left;clear:none;color:#fff}
.dillards-modal .actions .checkout-action-item{background:url(../../images/buttons/grey-btn-80.gif)/*tpa=http://www.dillards.com/images/buttons/grey-btn-80.gif*/ no-repeat scroll 0 0;width:85px;float:left;clear:none;color:#fff}
.freegift-dm .actions{float:none;clear:none;display:block}
ins,#account-guest .sub #acc-register a:hover,#main-nav li a:hover{text-decoration:none}
.b-85:hover,.b-105:hover,.b-115:hover,.b-125:hover,.b-135:hover,.b-145:hover,.b-155:hover,.b-165:hover,.b-175:hover,.b-185:hover,.b-195:hover,.b-200:hover,.b-g-155:hover,#top-nav ul li div.cart-actions a,#main-nav li.on a{color:#fff}
#top-nav-container,#footer-container{width:100%;background:#dedddd}
#top-nav ul li #tw-share,#bottom-nav ul li .t{background-position:0 -24px}
#top-nav ul #connect input,#mini-bag-popUp,#main-nav li,#main-nav .sub .bottom-marketing{float:left}
#mini-bag-popUp .item .name:hover,#search-filter ul li a:hover,#utility-nav li a:hover,#main-nav .sub .bottom ul li a:hover,#main-nav .sub .bottom .promo a:hover,#breadcrumb li a:hover{color:#003e93}
#logo-spot img,#search-filter ul li a{display:block}
#utility-nav li.last,#bottom-nav ul li.first,#side-rr.cat{margin:0}
#bottom-nav li.connect a,#footer-offer button{float:right}
#user-login,#view-order{width:35em;float:left;margin:0;padding:0}
.login-button,#addrViewOrder{background-image:url(../../images/checkout-button.png)/*tpa=http://www.dillards.com/images/checkout-button.png*/;width:11.15em;height:1.6em;font:14px "Century Gothic", Verdana;font-weight:700;text-decoration:none;color:#fff;float:left;border:none;text-align:center;text-transform:uppercase}