/* Reset 
*********/
html { 
    -webkit-font-smoothing:antialiased;
    text-rendering:optimizeLegibility;
    -webkit-text-size-adjust:none;
    -ms-text-size-adjust:none;
}

body {
	margin:0;
	background-color:#f4f4f4;
	font-family:arial;
}

#owrap div,
#owrap span,
#owrap h1,
#owrap h2,
#owrap h3,
#owrap h4,
#owrap h5,
#owrap h6,
#owrap p,
#owrap a,
#owrap img,
#owrap ul,
#owrap li { 
    margin:0;
    padding:0;
    border:0;
    font-weight:inherit;
    font-style:inherit;
    font-size:100%;
    font-family:inherit;
    vertical-align:baseline;
    background:transparent;
}

#owrap ul {  list-style:none; }

#owrap img { display:block; }

#owrap a {
    background:transparent;
    border:0;
    font-size:100%;
    margin:0;
    padding:0;
	text-decoration:none;
    vertical-align:baseline;
}

#owrap h1, #owrap h2, #owrap h3, #owrap h4, #owrap h5, #owrap h6 { font-weight: normal; }


/* @font-face
*************/

@font-face {
    font-family: 'PrudentialModernBdSCn';
    src: url('prudentialmodern-boldsemcon-webfont.eot-#iefix')/*tpa=http://www.prudential.com/media/managed/homepage/prudentialmodern-boldsemcon-webfont.eot?#iefix*/ format('embedded-opentype'), 
         url('prudentialmodern-boldsemcon-webfont.woff')/*tpa=http://www.prudential.com/media/managed/homepage/prudentialmodern-boldsemcon-webfont.woff*/ format('woff'),
         url('prudentialmodern-boldsemcon-webfont.ttf')/*tpa=http://www.prudential.com/media/managed/homepage/prudentialmodern-boldsemcon-webfont.ttf*/ format('truetype'),
         url('prudentialmodern-boldsemcon-webfont.svg#PrudentialModernBdSCn')/*tpa=http://www.prudential.com/media/managed/homepage/prudentialmodern-boldsemcon-webfont.svg#PrudentialModernBdSCn*/ format('svg');
    font-weight: normal;
    font-style: normal;
}


#owrap {
	background:#f6f6f6;
	color: #595959;
	font-family:Arial,Verdana,Geneva,sans-serif;
	font-size:13px;
	height:525px;
	width:100%;
	min-width:1000px;
	position:relative;
}

#owrap a {
	color:#1199CB;
}

#owrap a:hover {
	color:#0a6080;
}

#owrap #overlaybackground {
	position:absolute;
	width:100%;
	height:420px;
/*	background:url(mainbackground.jpg) no-repeat;*/
	background-position:center;
}

/* Large Overlay Background Images 
************************************/
#owrap #insurance 		{ background-image:url(bg_insurance.jpg)/*tpa=http://www.prudential.com/media/managed/homepage/bg_insurance.jpg*/; }
#owrap #investments 	{ background-image:url(bg_investments.jpg)/*tpa=http://www.prudential.com/media/managed/homepage/bg_investments.jpg*/; }
/*#owrap #realestate 		{ background-image:url(bg_realestate.jpg); }
#owrap #comproperty 	{ background-image:url(bg_comprop.jpg); } */
#owrap #retirement 		{ background-image:url(bg_retirement.jpg)/*tpa=http://www.prudential.com/media/managed/homepage/bg_retirement.jpg*/; }
#owrap #benefits 		{ background-image:url(bg_benefits.jpg)/*tpa=http://www.prudential.com/media/managed/homepage/bg_benefits.jpg*/; }
#owrap #instinvestments { background-image:url(bg_instinvest.jpg)/*tpa=http://www.prudential.com/media/managed/homepage/bg_instinvest.jpg*/; }


/* Overlay Contents 
****************/
#owrap .overlay {
	background-position:center;	
	background-repeat:no-repeat;
	width:100%;
	height:420px;
	display:none;
}
#owrap .overlay .overlaycontainer {
	width:1000px;
	margin:20px auto 0;
	position:relative;
}

#owrap .overlay h2 {
	font-size:230%;
	float:left;
	overflow:hidden;
	margin-bottom:20px;
	line-height:100%;
}

#owrap .overlay h3 {
	margin-bottom:0;
	font-size:19px;
	line-height:22px;
}

#owrap .overlay h4 {
	font-weight:normal;
	font-size:14px;
	line-height: 18px;
}

#owrap .overlay h5 {
	margin-bottom:10px;
	font-size:14px;
}

/* Overlay Close Button
***********************/
#owrap .overlay .close {
	cursor:pointer;
	display:block;
	position:absolute;
	/*background:url(closebtn.png) no-repeat;*/
	/*text-indent:-99999px;*/
	width:25px;
	height:25px;
	left:966px;
	top:-3px;
}

/* Overlay Buttons
******************/
#owrap .overlay .buttons {
	float:right;
	margin-right:50px;
	overflow:hidden;
	position:relative;
}

.mainbutton {
	margin-right:10px;
	display:block;
	float:left;
	text-transform:uppercase;
	font-family:'PrudentialModernBdSCn';
	font-size:12px;
	font-weight:normal;
	padding: 4px 15px 3px;
	border: 1px solid #FFD200;
	/* standard pru button style */
	color: #002246;
	background-color: #FFD200;
	border-radius: 1.5em;
	-webkit-border-radius: 1.5em;
	-moz-border-radius: 1.5em;
	behavior:url(PIE.htc)/*tpa=http://www.prudential.com/media/managed/homepage/PIE.htc*/;
	cursor:pointer;
	/* end standard pru button style */
}


#owrap .overlay .buttons .button {
	margin-right:10px;
	display:block;
	float:left;
	/*text-indent:-9999px;*/
}

/* Overlay Main Menu
******************/
#owrap .overlay ul.menu {
	clear:both;
	float:left;
	width:165px;
	margin:4px 0 0 2px;
	position: relative;
	height:280px;
}

#owrap .overlay ul.menu li {
	font-size:14px;
	margin:0 0 10px;
}
#owrap .overlay ul.menu li.listheader {
	margin-top:20px;
}

/* Related Sidebar Menu
***************/
#owrap .overlay .related  {
	background:url(rule.png)/*tpa=http://www.prudential.com/media/managed/homepage/rule.png*/ no-repeat scroll 0 0 transparent;
	float: right;
	margin-top: -22px;
	min-height: 270px;
	padding-left: 30px;
	padding-top: 25px;
	width: 155px;
}
#owrap .overlay .related ul li {
	margin-top:10px;
	font-size:12px;
}
#owrap .overlay .related ul a {
	color:#0271A8;
}
#owrap .overlay .related ul a:hover {
	color:#0a6080;
}

/* Main Content
***************/
#owrap .overlay .main {
	margin:0 0 0 40px;
	float:left;
	width:540px;
}
#owrap .overlay .main span.copy {
	float:left;
}
#owrap .overlay .main span.copy h3 {
	font-weight:normal;
}
#owrap .overlay .main span.copy p {
	line-height:18px;
	font-size:14px;
}
#owrap .overlay .main span.copysymbol {
	font-size:80%;
	vertical-align:super;
	line-height:0;
}
#owrap .overlay .main span.image {
	float:left;
}
#owrap .overlay .main span.image img {
	margin:0 0 20px 20px;
	overflow:hidden;
}
#owrap .overlay .main .blockcontainer {
	clear:both;
	line-height:130%;
}
#owrap .overlay .main .blockcontainer .newwindowheader {
	float:left;
}
#owrap .overlay .main .blockcontainer .newwindowimg {
	float:left;
	margin-top:3px;
}
#owrap .overlay .main .left_block {
	width:45%;
	float:left;
	margin-right:10px;
	margin-top:20px;
	font-size: 13px;
	line-height: 16px;
}
#owrap .overlay .main .right_block {
	width:45%;
	float:right;
	margin-top:20px;
	font-size: 13px;
	line-height: 16px;
}

#owrap .overlay .main a {
	display:block;
	margin-bottom:5px;
}

/* Buttons
****************************/

#owrap .overlay #btnFindAFinPro.button {
	/*background:url(btnFindAFinProOff.gif);*/
	width:187px;
	height:19px;
}
#owrap .overlay #btnFindAFinPro.button:hover {
	background:url(btnFindAFinProOn.gif)/*tpa=http://www.prudential.com/media/managed/homepage/btnFindAFinProOn.gif*/;
}

#owrap .overlay #btnFindAPruAgent.button {
	/*background:url(btnFindAPruAgentOff.gif);*/
	width:157px;
	height:19px;
}
#owrap .overlay #btnFindAPruAgent.button:hover {
	background:url(btnFindAPruAgentOn.gif)/*tpa=http://www.prudential.com/media/managed/homepage/btnFindAPruAgentOn.gif*/;
}

#owrap .overlay #btnGetALifeInsuranceQuote.button {
	/*background:url(btnGetALifeInsuranceQuoteOff.gif);*/
	width:172px;
	height:19px;
}
#owrap .overlay #btnGetALifeInsuranceQuote.button:hover {
	background:url(btnGetALifeInsuranceQuoteOn.gif)/*tpa=http://www.prudential.com/media/managed/homepage/btnGetALifeInsuranceQuoteOn.gif*/;
}

#owrap .overlay #btnLogIntoAccount.button {
	/*background:url(btnLogIntoAccountOff.gif);*/
	width:148px;
	height:19px;
}
#owrap .overlay #btnLogIntoAccount.button:hover {
	background:url(btnLogIntoAccountOn.gif)/*tpa=http://www.prudential.com/media/managed/homepage/btnLogIntoAccountOn.gif*/;
}

#owrap .overlay #btnSolutionsForInst.button {
	/*background:url(btnSolutionsForInstOff.gif);*/
	width:175px;
	height:19px;
}
#owrap .overlay #btnSolutionsForInst.button:hover {
	background:url(btnSolutionsForInstOn.gif)/*tpa=http://www.prudential.com/media/managed/homepage/btnSolutionsForInstOn.gif*/;
}

#owrap .overlay #btnProdsForIndiv.button{
	/*background:url(btnProdsForIndivOff.gif);*/
	width:163px;
	height:19px;
}
#owrap .overlay #btnProdsForIndiv.button:hover {
	background:url(btnProdsForIndivOn.gif)/*tpa=http://www.prudential.com/media/managed/homepage/btnProdsForIndivOn.gif*/;
}

/* Control Number
***************/
#owrap .overlay .menu .controlnumber {
	bottom: 20px;
    color: #444;
    font-size: 11px;
    left: 0;
    position: absolute;
}


/* Specific Overlay Details
****************************/

/* Insurance */
#owrap #insurance.overlay .main span.copy {
	width:390px;
}
#owrap #insurance.overlay .main .blockcontainer .newwindowheader {
	width:195px;
}
#owrap #insurance.overlay .menu .controlnumber {
	color:#ccc;
}

/* Investments */
#owrap #investments.overlay .main span.copy {
	width:390px;
}

/* Real Estate */
#owrap #realestate.overlay .main span.copy {
	width:390px;
}
#owrap #realestate.overlay .main .right_block {
	width:51%;
}

/* Retirement */
#owrap #retirement.overlay .main span.copy {
	width:390px;
}

/* Benefits */
#owrap #benefits.overlay .main span.copy {
	width:390px;
}

/* Institutional Investments */
#owrap #instinvestments.overlay .main span.copy {
	width:390px;
}

/* Commercial Property */
#owrap #comproperty.overlay .main span.copy{
	width:390px;
}


/* Thumbs Area
***************/
#owrap #thumbswrap {
	display:none;
}
#owrap #thumbsrule {
	width:100%;
	height:1px;
	font-size:1%;
	line-height:1%;
	position:relative;
	top:289px;
	background:#fff;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	-moz-opacity:0.3;
	-khtml-opacity: 0.3;
	opacity: 0.3;
}
#owrap #thumbsarea {
	top:354px;
	height:65px;
	width:100%;
	position:relative;

/*
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.7)),to(rgba(0,0,0,0.2)), color-stop(1,#000000));
	background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.2) 100%);	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#95000000, endColorstr=#40000000);
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#95000000, endColorstr=#40000000);
*/	
}
#owrap #thumbs {
	top:296px;
	position:relative;
	display:block;
	height:115px;
	margin:0 auto;
	width:1000px;
	padding-left:0;
}
#owrap #thumbs li {
	color:#fff;
	position:relative;
	width:140px;
	height:87px;
	float:left;
	text-align:center;
	cursor:pointer;
	font-size:90%;
}
#owrap #thumbs li .smallclose{
	position:absolute;
	top:-24px;
	right:1px;
}
#owrap #thumbs li span.thumbimg,
#owrap #thumbs li span.thumbimg-on {
	display:block;
	position:absolute;
	top:25px;
	left:29px;
}
#owrap #thumbs li span.thumbimg-reflect,
#owrap #thumbs li span.thumbimg-reflect-on {
    position: absolute;
    top: 91px;
	left: 29px;
}

/* Categories 
****************/
#owrap #categories {
	position:relative;
	top:292px;
	width:1000px;
	margin:0 auto;
	font-weight:bold;
}
#owrap #categories li {
	text-align:center;
	display:block;
	float:left;
	background:url(bg_category.gif)/*tpa=http://www.prudential.com/media/managed/homepage/bg_category.gif*/ no-repeat;
	width:470px;
	height:35px;
	padding-top:5px;
	overflow:hidden;
}
#owrap #categories #individuals {
	margin:0 7px 0 20px;
}

