/* RadWindow for ASP.NET AJAX Default Skin */

/* Window Background */

/* Horiznotal */
.RadWindow_Default .rwTopLeft,
.RadWindow_Default .rwTopRight,
.RadWindow_Default .rwTitlebar,
.RadWindow_Default .rwFooterLeft,
.RadWindow_Default .rwFooterRight,
.RadWindow_Default .rwFooterCenter,
.RadWindow_Default .rwTopResize,
.RadWindow_Default .rwStatusbar div,
.RadWindow_Default .rwStatusbar,
.RadWindow_Default .rwPopupButton,
.RadWindow_Default .rwPopupButton span,
.RadWindow_Default.rwMinimizedWindow .rwCorner
{
    background-image: url('fi170179.axd-d=gqapnqp64ohvsjhc-8inndmdaaa78icbgmz2akwc8ecotscqbvtaowzehcqoorc_ny4a8y0zdy78oopx72h4oglihveuuerb-dbz2ty9ho9iput4hqbm67k1v3bnvqdyfuriue8zrhwjmwd2nuaqgy-l7ml5lx3idbg7zcarqqbka5s30&t=634793677393301640.gif')/*tpa=http://www.oneok.com/WebResource.axd?d=GQaPNqP64oHVsJhC-8INNdmdaAA78iCbgmZ2AkWc8EcOtSCQBvTAowZEHcQoOrC_NY4a8Y0zDy78OoPX72h4OglIHveUuERb-Dbz2Ty9hO9IPut4hqbM67k1V3BnvQdyFURIue8zRHWJMwD2nUAQgY-L7ml5LX3iDbG7ZcarqqBKa5S30&t=634793677393301640*/;
}


/* Vertical */
.RadWindow_Default .rwBodyLeft,
.RadWindow_Default .rwBodyRight,
.RadWindow_Default .rwStatusbarRow .rwCorner
{
	background-image: url('fi170180.axd-d=0jdulyo36s-dqwihklsh1zsachxqpbmqq94yxrggwe2akwtvysq3ji7qi1xd1hzmja9hocdmgmfzzl7mydhnvlr-51toycuuxegoxd-xgtwsgiawbvtex809dhz0eo1oudvg2jcl22gedfweb2bfeevay75hahrn-kbkhaju5l2xqv_w0&t=634793677393301640.gif')/*tpa=http://www.oneok.com/WebResource.axd?d=0jDULYO36s-DqwihklSH1zsachxQPBMQq94YxrGgWe2aKwtVYSQ3ji7QI1xd1hzmjA9hocdMGMFZZl7mYdHnvLr-51tOYCuuxeGoXD-xgtWSgiaWbvTEx809dHz0eo1OudVG2jCL22GEDFweb2BfeeVaY75HAHrn-KBKHAJU5l2Xqv_W0&t=634793677393301640*/;
}

/* Window Shadows */

/* Horiznotal */
.RadWindow_Default .rwShadow .rwTopLeft,
.RadWindow_Default .rwShadow .rwTopRight,
.RadWindow_Default .rwShadow .rwTitlebar,
.RadWindow_Default .rwShadow .rwFooterLeft,
.RadWindow_Default .rwShadow .rwFooterRight,
.RadWindow_Default .rwShadow .rwFooterCenter,
.RadWindow_Default .rwShadow .rwTopResize,
.RadWindow_Default .rwShadow .rwStatusbar div,
.RadWindow_Default .rwShadow .rwStatusbar,
.RadWindow_Default .rwShadow .rwPopupButton,
.RadWindow_Default .rwShadow .rwPopupButton span,
.RadWindow_Default .rwShadow .rwBodyLeft,
.RadWindow_Default .rwShadow .rwBodyRight,
.RadWindow_Default .rwShadow .rwStatusbarRow .rwBodyLeft,
.RadWindow_Default .rwShadow .rwStatusbarRow .rwBodyRight
{
	background-image: url('fi170181.axd-d=ysvxe2nj_oay8lnbrzptkfseee2lny9hhwnfrkn8qc-heggqdedhc3rb-pi9iwgzgiu0vyijeyrjz4ny4nsqullc1nptq47v_nykm0jm9115wn5b1baxgopzohcvuqgdl5imhtuinafppc-v6swm5isfhjsqedxhx5u62bh31ydxzyou0&t=634793677393301640.png')/*tpa=http://www.oneok.com/WebResource.axd?d=ySVxE2nj_OaY8LnBRzPTKfsEeE2lNY9HhwnfRKN8qC-HEGgqdedhc3RB-pI9IWGzgiu0vyiJEYrjz4ny4NsQUllc1Nptq47V_nyKm0Jm9115wN5B1BAXGOpzohcVuQgDL5IMHtuInAFPpC-v6SWm5iSfhjsqEDxhX5U62BH31YDXzyOu0&t=634793677393301640*/;
}

/* Vertical */
.RadWindow_Default .rwShadow .rwBodyLeft,
.RadWindow_Default .rwShadow .rwBodyRight,
.RadWindow_Default .rwShadow .rwStatusbarRow .rwBodyLeft,
.RadWindow_Default .rwShadow .rwStatusbarRow .rwBodyRight
{
	background-image: url('fi170182.axd-d=tredsw50fewgdy1r896csel_s__ldfyqlnoktlqw5xt7s7cohp9njhtxzduxezeneh7og6tbyxf7c7ycs_vpwiyyfeblaumzoopfnc4n1iuveqac14gd3pk9komctkjqo-2uqgjilnmwp34e1uliufjeabzo2xkmohzlb71irc3nz7qi0&t=634793677393301640.png')/*tpa=http://www.oneok.com/WebResource.axd?d=trEDsW50FeWgDY1R896CSEl_s__LDFyQLnOKTlqw5XT7s7cohP9nJHtxZdUxeZEnEH7oG6tbYXF7c7yCs_VpWIYYFeblAumzOOPFnC4n1iUVEQAC14gD3pk9KomctKJqO-2uQgjilnMWP34e1UlIuFjEABzO2XkmoHzLB71irc3Nz7qi0&t=634793677393301640*/;
}

/* Shadows End */

.RadWindow_Default .rwStatusbar input
{
    background-color: #f7f3e9;
}

.RadWindow_Default .rwControlButtons a
{
    background-image: url('fi170183.axd-d=bhdnfdljh29q1k7b99wgzifqj0rwqqnlnlyqwwrwcfhaznssdgel6jwhiwphqf8arxk5f1aqwffy8kikay6t7qsqaypxjwvzivbgdfzw3o0qggopis6confmkdqsfsucrdjna907lnfaaeu7s9u4n_bwxqcdtwuquht8kolyqripmlok0&t=634793677393301640.gif')/*tpa=http://www.oneok.com/WebResource.axd?d=bhdNFDljh29Q1K7B99WgzIFQj0rwQqNLNlyqWWRwCFHaZNssDgel6JWhiWPhqf8aRXk5F1aqWFfY8KIkAy6t7QsQAypxjWvZivbgDFzW3o0qGgoPis6cOnfMkdQSFSUcrdjnA907LnFAAEu7S9U4n_BWXqCDTwuquHt8KOlyqrIpmlok0&t=634793677393301640*/;
}

.RadWindow_Default a.rwIcon
{
	background-image: url('fi170179.axd-d=gqapnqp64ohvsjhc-8inndmdaaa78icbgmz2akwc8ecotscqbvtaowzehcqoorc_ny4a8y0zdy78oopx72h4oglihveuuerb-dbz2ty9ho9iput4hqbm67k1v3bnvqdyfuriue8zrhwjmwd2nuaqgy-l7ml5lx3idbg7zcarqqbka5s30&t=634793677393301640.gif')/*tpa=http://www.oneok.com/WebResource.axd?d=GQaPNqP64oHVsJhC-8INNdmdaAA78iCbgmZ2AkWc8EcOtSCQBvTAowZEHcQoOrC_NY4a8Y0zDy78OoPX72h4OglIHveUuERb-Dbz2Ty9hO9IPut4hqbM67k1V3BnvQdyFURIue8zRHWJMwD2nUAQgY-L7ml5LX3iDbG7ZcarqqBKa5S30&t=634793677393301640*/;
}

div.RadWindow_Default .rwTitlebarControls em
{
	color: black;
}

div.RadWindow_Default .rwDialogInput
{
	border-top: solid 1px #abadb3;
	border-right: solid 1px #dbdfe6;
	border-bottom: solid 1px #e3e9ef;
	border-left: solid 1px #e2e3ea;
}

div.RadWindow_Default .rwDialogInput:hover
{
	border-top: solid 1px #5794bf;
	border-right: solid 1px #b7d5ea;
	border-bottom: solid 1px #c7e2f1;
	border-left: solid 1px #c5daed;
	color: #565656;
}

.RadWindow_Default td.rwWindowContent
{
    background-color: #fff;
}

/* Loading Indicators */
div.RadWindow_Default tr td.rwLoading
{
	background-color: #fff;
}

/* When ShowContentDuringLoad="true" */
.RadWindow_Default td.rwWindowContent.rwLoading
{
    background-image: url('WebResource.axd-d=bMKDYqYmqP5s_lZSwYfMZwS_u6aRcqBPaldJ0gsez4-rqhahvVQD7VCfEXtYt5YR6Ad1eiH0xltkirPOfeeNW4sxGDSj4vIW2PryO8fBed4JURYNGzI_SdoCEZYXZbzrnsG9hFFcWk8slvLshKZ1lJBbd841&t=634793677393301640.gif')/*tpa=http://www.oneok.com/WebResource.axd?d=bMKDYqYmqP5s_lZSwYfMZwS_u6aRcqBPaldJ0gsez4-rqhahvVQD7VCfEXtYt5YR6Ad1eiH0xltkirPOfeeNW4sxGDSj4vIW2PryO8fBed4JURYNGzI_SdoCEZYXZbzrnsG9hFFcWk8slvLshKZ1lJBbd841&t=634793677393301640*/;
}

/* When ShowContentDuringLoad="false" */
.RadWindow_Default input.rwLoading
{
    background-image: url('fi170184.axd-d=ernlmsglsurp1nnx-d--x0ibq7n2up6f0qeixxjlxnsbsiinwuk-ykjnkgxtob9lys2li_aq6llfhdimq1wfpecktb-yybdiiovcyr0i3zgmqmbjaotqkwd9bazn8s4nelq9genp2degrcmue6h-1pshfxk1piuddwwzd7266zhjyaeh0&t=634793677393301640.gif')/*tpa=http://www.oneok.com/WebResource.axd?d=eRNLMSGLSurP1nNx-d--X0IbQ7n2Up6f0QeixXjLXNSbsIiNwuk-YKJnkGxToB9LYs2li_Aq6llFhdiMQ1wfPECktb-yybDiIoVcyr0i3ZgMqMBJAOTQKwd9baZn8S4NElQ9gEnP2DegrcMue6h-1psHFXk1piUdDwwZD7266ZhjYAeH0&t=634793677393301640*/;
}

div.RadWindow_Default a.rwCancel,
div.RadWindow_Default a.rwCancel span
{
    background: none;
    cursor: pointer;
}

div.RadWindow_Default a.rwCancel span span
{
    color: #000000;
    text-decoration: underline;
}

/* Shadow Control Buttons */

.RadWindow_Default .rwShadow .rwControlButtons 
{
	margin: 5px -2px 0 0;
}

.RadWindow_Default .rwShadow .rwControlButtons 
{
	margin: 5px -1px 0 0\9;
}

/* ctrl buttons when winodw is minimized */
.RadWindow_Default.rwMinimizedWindowShadow .rwShadow .rwControlButtons 
{
	margin: 7px -8px 0 0;
}

/* Icon when winodw is minimized */
.RadWindow_Default.rwMinimizedWindowShadow .rwShadow .rwIcon 
{
	margin: 9px 6px 0 0;
}

/*title buttons when winodw is minimized */
.RadWindow_Default.rwMinimizedWindowShadow .rwShadow em 
{
	margin: 4px 0 0 -1px;
}

.RadWindow_Default .rwShadow .rwControlButtons li
{
	float: left;
	padding: 0;
}

.RadWindow_Default .rwShadow .rwControlButtons a
{
	width: 26px; 
}

.rwInactiveWindow .rwShadow .rwTopLeft,
.rwInactiveWindow .rwShadow .rwTopRight,
.rwInactiveWindow .rwShadow .rwTitlebar,
.rwInactiveWindow .rwShadow .rwFooterLeft,
.rwInactiveWindow .rwShadow .rwFooterRight,
.rwInactiveWindow .rwShadow .rwFooterCenter,
.rwInactiveWindow .rwShadow .rwTopResize,
.rwInactiveWindow .rwShadow .rwStatusbar div,
.rwInactiveWindow .rwShadow .rwStatusbar,
.rwInactiveWindow .rwShadow .rwPopupButton,
.rwInactiveWindow .rwShadow .rwPopupButton span,
.rwInactiveWindow .rwShadow.rwMinimizedWindow .rwCorner,
.RadWindow_Default.rwNoTitleBar.rwInactiveWindow .rwShadow .rwTopLeft,
.RadWindow_Default.rwNoTitleBar.rwInactiveWindow .rwShadow .rwTitlebar,
.RadWindow_Default.rwNoTitleBar.rwInactiveWindow .rwShadow .rwTopRight,
.RadWindow_Default.rwNoTitleBar.rwInactiveWindow .rwShadow .rwFooterLeft,
.RadWindow_Default.rwNoTitleBar.rwInactiveWindow .rwShadow .rwFooterCenter,
.RadWindow_Default.rwNoTitleBar.rwInactiveWindow .rwShadow .rwFooterRight
{
    background-image: url('fi170179.axd-d=gqapnqp64ohvsjhc-8inndmdaaa78icbgmz2akwc8ecotscqbvtaowzehcqoorc_ny4a8y0zdy78oopx72h4oglihveuuerb-dbz2ty9ho9iput4hqbm67k1v3bnvqdyfuriue8zrhwjmwd2nuaqgy-l7ml5lx3idbg7zcarqqbka5s30&t=634793677393301640.gif')/*tpa=http://www.oneok.com/WebResource.axd?d=GQaPNqP64oHVsJhC-8INNdmdaAA78iCbgmZ2AkWc8EcOtSCQBvTAowZEHcQoOrC_NY4a8Y0zDy78OoPX72h4OglIHveUuERb-Dbz2Ty9hO9IPut4hqbM67k1V3BnvQdyFURIue8zRHWJMwD2nUAQgY-L7ml5LX3iDbG7ZcarqqBKa5S30&t=634793677393301640*/ !important;
}

.rwInactiveWindow .rwShadow .rwBodyLeft,
.rwInactiveWindow .rwShadow .rwBodyRight,
.rwInactiveWindow .rwShadow .rwStatusbarRow .rwCorner,
.RadWindow_Default.rwNoTitleBar.rwInactiveWindow .rwShadow .rwBodyLeft,
.RadWindow_Default.rwNoTitleBar.rwInactiveWindow .rwShadow .rwBodyRight
{
	background-image: url('fi170180.axd-d=0jdulyo36s-dqwihklsh1zsachxqpbmqq94yxrggwe2akwtvysq3ji7qi1xd1hzmja9hocdmgmfzzl7mydhnvlr-51toycuuxegoxd-xgtwsgiawbvtex809dhz0eo1oudvg2jcl22gedfweb2bfeevay75hahrn-kbkhaju5l2xqv_w0&t=634793677393301640.gif')/*tpa=http://www.oneok.com/WebResource.axd?d=0jDULYO36s-DqwihklSH1zsachxQPBMQq94YxrGgWe2aKwtVYSQ3ji7QI1xd1hzmjA9hocdMGMFZZl7mYdHnvLr-51tOYCuuxeGoXD-xgtWSgiaWbvTEx809dHz0eo1OudVG2jCL22GEDFweb2BfeeVaY75HAHrn-KBKHAJU5l2Xqv_W0&t=634793677393301640*/ !important;
}


