.roller.single .roller-item { visibility: hidden; }
.roller.single .roller-item.active { visibility: visible; }

.hero-module.nc,
.hero-module.nc .carousel-viewport,
.hero-module.nc .carousel-viewport .carousel-item,
.hero-module.nc .carousel-viewport .carousel-item .sizer-size { height:auto !important; height: 700px; }
.hero-module.nc .hero_text { padding: 0 53px; }

.single .controls { visibility: hidden !important; }

.industry-selector-module .content .content-item figure img { max-width: none !important; }