.whats_on_search_federated .ctl-header-collapse{min-height:20px}
#consolidated_search_results_container{margin-bottom:0}
.infocard-content{padding:0 6px 6px 6px}
.infocard-content ul.details li{margin-bottom:8px}
.infocard-content h3{float:none;font-size:18px;color:#333;margin:0;padding:0;width:500px;line-height:20px}
.infocard-content h3.payselect{margin:0 0 7px 0}
.infocard-content .title-left{float:left;width:75%}
.infocard-content .title-left h3{width:auto}
.infocard-content .details-corner{position:relative;top:-5px;right:0;text-align:right;white-space:nowrap}
.infocard-content .ratings,.infocard-content .ratings-left{position:relative;font-size:12px;line-height:14px;padding-bottom:10px;margin-top:5px}
.infocard-content .ratings-left{clear:left;float:left;width:auto}
.infocard-content .ratings-left-meta{display:block;float:left;min-width:245px;margin-left:10px}
.infocard-content .ratings-left-info{display:block;float:left;padding:2px 0 0 0}
.infocard-content .ratings-left-meta li.tomato-rating,.infocard-content .ratings-left-meta li.audience-rating{color:#333}
.dark-theme .infocard-content .ratings-left-meta li.tomato-rating,.dark-theme .infocard-content .ratings-left-meta li.audience-rating{color:#333}
.infocard-content .ratings-left .favorites{position:relative;display:inline-block;margin-left:16px}
.infocard-content .ratings-left .star-rating-bg{top:1px}
.infocard-content .ratings-left .favorites{top:-1px}
.infocard-content .ratings-left .details-trailer-link{top:-1px}
.infocard-content .genre{float:left;font-size:11px}
.infocard-content .pricing{display:block;height:40px;width:200px;float:right;background:#fff;padding:8px;font-size:16px;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;white-space:nowrap;overflow:hidden}
.infocard-content .pricing small{font-size:12px;font-weight:normal}
.details-trailer-link a{display:inline-block;background:url(../../../../images/eportal/details/details_share_icons.v4.png)/*tpa=http://cdn.directv.com/images/eportal/details/details_share_icons.v4.png*/ left -299px no-repeat;padding-left:18px;font-weight:bold;color:#333}
.dark-theme .details-trailer-link a{color:#fff}
.ep-metadata li.view-all-episodes{margin-bottom:8px}
.view-all-episodes a{display:inline-block;background:url(../../../../images/eportal/global/eportal_share_icons.v3.png)/*tpa=http://cdn.directv.com/images/eportal/global/eportal_share_icons.v3.png*/ left -99px no-repeat;padding-left:21px;font-weight:bold;color:#333}
.dark-theme .view-all-episodes a{color:#fff}
.details-body .view-all-episodes a:hover{color:#09c}
.dark-theme .details-body .view-all-episodes a:hover{color:#00ace3}
.lightbox-tup .infocard-content{position:relative;zoom:1}
.lightbox-tup .infocard-content .details{min-height:210px;border-bottom:1px solid #ccc;margin-bottom:15px}
.lightbox-tup .infocard-content .details-notavailable{border-bottom:0}
.infocard-content ul.detailscontainer li,.infocard-content ul.detailscontainer-wide{margin-bottom:5px}
.lightbox-tup .infocard-content .detailscontainer-left img{border:1px solid #ccc}
.lightbox-tup .infocard-content .detailscontainer-left{position:relative;width:95px}
.lightbox-tup .infocard-content .detailscontainer{position:relative;width:625px}
.lightbox-tup .infocard-content .detailscontainer-wide{position:relative;width:720px}
.lightbox-tup .infocard-content .details-shared{display:block;height:139px;float:left;border-top:1px solid #ccc;border-bottom:1px solid #ccc;margin:0 0 16px 0;padding:15px 0 0 0}
.lightbox-tup .infocard-content .detailsbordertop{border-top:1px solid #ccc}
.lightbox-tup .infocard-content .detailsborderboth{border-top:1px solid #ccc;border-bottom:1px solid #ccc}
.lightbox-tup .infocard-content .detailsbox{display:block;width:auto;background-color:#f2f2f2;border:1px solid #e5e5e5;padding:11px;margin:0;clear:both;overflow:hidden;zoom:1}
.lightbox-tup .infocard-content .detailsbox p{padding:0;margin:0 0 13px 0;font-size:13px;line-height:15px}
.lightbox-tup .infocard-content .detailsbox p.playlist-text{padding:0;margin:5px 0 13px 0;font-size:13px;line-height:15px}
.lightbox-tup .infocard-content .detailsbox p.lastdetail{padding:0;margin:0 0 2px 0}
.lightbox-tup .infocard-content .detailsbox p span.detailtitle{font-weight:bold}
.lightbox-tup .infocard-content .details-shared-order{position:relative;display:block;border-top:1px solid #ccc;border-bottom:1px solid #ccc;margin:0 0 16px 0;padding:15px 0 15px 0;overflow:hidden;zoom:1}
.lightbox-tup .infocard-content .option-spacing{margin-bottom:15px}
.lightbox-tup .infocard-content .no-bottom-border{border-bottom:0}
.lightbox-tup .infocard-content .details-shared-order .detailscontainer-order-left img{height:120px;width:80px}
.lightbox-tup .infocard-content .detailscontainer-order-left{float:left;position:relative;width:95px}
.lightbox-tup .infocard-content .detailscontainer-order{float:left;position:relative;width:614px}
.lightbox-tup .infocard-content .detailscontainer-noimage{float:left;position:relative;width:100%}
.lightbox-tup .infocard-content .detailscontainer-order-left img{border:1px solid #ccc}
.lightbox-tup .infocard-content .synopsis{padding:1px}
.lightbox-tup .infocard-content .synopsis .poster{float:left;width:95px;min-height:150px}
.lightbox-tup .infocard-content .synopsis .poster img{width:80px;height:120px}
.lightbox-tup .infocard-content .synopsis .details{float:left}
.lightbox-tup .infocard-content .synopsis .content{clear:right}
.lightbox-tup .infocard-content .synopsis .content a{font-size:11px}
.lightbox-tup .infocard-content .synopsis .content p{margin:0;padding:0;margin-bottom:3px}
.lightbox-tup .infocard-content .synopsis .content p.description{margin-bottom:7px}
.lightbox-tup .infocard-content .more-info{font-weight:bold;padding-left:2px}
#ppv_section_cc .cc-logo{display:inline-block;width:auto;height:22px;vertical-align:middle;background:url(../../../../cms2/global/icons/creditcards/logo-sprite_credit-cards.png)/*tpa=http://cdn.directv.com/cms2/global/icons/creditcards/logo-sprite_credit-cards.png*/ no-repeat -37px 0;margin-right:11px;padding:0 0 0 37px;line-height:20px;font-size:12px}
.ppv-section-card{font-family:Arial,Helvetica,san-serif;font-weight:bold}
#ppv_section_cc .ppv_section_text,#ppv_section_eft .ppv_section_text{display:inline;margin:0}
#ppv_section_cc .VI{background-position:0 0}
#ppv_section_cc .MC{background-position:0 -22px}
#ppv_section_cc .AX,.saved-credit-card-summary .OP{background-position:0 -44px}
#ppv_section_cc .DI{background-position:0 -66px}
#ppv_section_cc .cc-add-card,#ppv_section_eft .cc-add-card{display:block;margin:7px 0 0 0;font-size:12px;font-weight:bold}
#ppv_section_cc .cc-exp-ppv-valid{margin:0 0 0 15px}
#ppv_section_cc .cc-exp-ppv{margin:0 0 0 15px;color:#c00}
#ppv_section_cc .cc-abp-note,#ppv_section_eft .cc-abp-note{margin:0 0 0 10px;color:green;display:inline}
#ppv_section_newcc .close,#ppv_section_neweft .close{float:right;width:13px;height:13px;background:url(../../../../images/global/lightbox/lb_btn_close.png)/*tpa=http://cdn.directv.com/images/global/lightbox/lb_btn_close.png*/ no-repeat;padding:0;position:relative;left:-6px;top:5px}
#ppv_section_cc .close:hover{background-position:0 -13px}
#ppv-order-new-cc-securityCode{width:64px}
#ppv_section_eft .eft-bname{display:inline-block;margin-right:2px;padding:0;line-height:14px;font-size:12px}
.section-pay{display:block;padding:5px 10px 0 10px;border:1px solid #ccc}
.section-pay-full{display:block;float:left;width:auto;margin:0 20px 14px 0}
.section-pay-left{float:left;position:relative;top:14px;left:16px;width:200px}
.section-pay-right{float:left;position:relative;top:14px;left:18px;width:288px}
.section-pay-row{margin:10px 0 0 0}
.section-pay .section-pay-left span.paytitle,.section-pay .section-pay-right span.paytitle,.section-pay .section-pay-full span.paytitle{display:block;white-space:nowrap;font-weight:bold;font-size:12px;line-height;22px;margin-bottom:7px;font-family:"Trebuchet MS",arial,verdana,sans-serif}
.section-pay-full select{margin-left:0}
input.section-pay-input{padding:0;margin:0;height:20px;width:150px}
select.pay-select{margin:0 8px 0 0}
.section-pay-right .pay-check,.section-pay-full .pay-check{margin:0 2px 0 12px}
.section-pay-right .pay-check-text,.section-pay-full .pay-check-text{font-size:11px}
.section-verisign{height:120px;width:26%;border:1px solid #ccc;border-left:none;float:left}
.section-verisign-loc{display:block;margin:20px 0 0 35px}
.section-routing{display:block;padding:5px 0 0 10px;border:1px solid #ccc}
.section-routing-left{display:block;float:left;width:208px}
.section-routing-right{display:block;float:left;width:208px}
.section-routing .section-routing-left span,.section-routing .section-routing-right span{font-weight:bold;font-size:12px;font-family:"Trebuchet MS",arial,verdana,sans-serif}
input.section-routing-input{padding:4px;margin:0;height:15px;width:180px}
#ppv-order-new-cc-creditCardNumber{width:246px}
#ppv-order-new-cc-creditCardNumber-paynow{width:207px}
.section-billto{width:auto;border:1px solid #ccc;padding:12px 12px 12px 14px;margin:0 0 15px 0}
.section-routing-acct{position:relative;min-height:100px;background:transparent url('../../../../images/epod/personal-check-diagram.png')/*tpa=http://cdn.directv.com/images/epod/personal-check-diagram.png*/ 540px 3px no-repeat}
.section-bezel{border:1px solid #999;padding-top:0;background-position:540px 0}
.section-bezel .requiredField,.section-routing .requiredField,.section-pay-full .requiredField{color:#666}
.section-pay-full-paynow.requiredField{color:#f60}
.section-routing-save{display:block;position:absolute;bottom:30px;left:7px}
.section-routing-save a{font-size:12px}
#orderPpvForm .bezel-bottom{display:none}
#orderPpvForm .section-pay{padding-top:5px}
.lightbox-tup .infocard-content .detailsbox p span.detailtitle-order,.lightbox-tup .infocard-content .detailsbox p span.lastdetail-order{display:block;font-weight:bold;width:85px;float:left;height:25px}
.lightbox-tup .infocard-content .detailsbox p span.detailtitle-order-multi{display:block;clear:right;margin:5px 0 0 0}
.lightbox-tup .infocard-content .detailsbox ul{margin:0;padding:0}
.lightbox-tup .infocard-content .detailsbox ul li{margin:0;padding:0}
.lightbox-tup .infocard-content .detailsbox ul li.detailsbox-inner-title{clear:left;float:left;font-weight:bold}
.lightbox-tup .infocard-content .detailsbox ul li.detailsbox-inner-value{min-height:24px;width:500px;float:left}
.lightbox-tup .infocard-content .detailsbox ul li.detailsbox-inner-value p.detailtitle-order-sub{font-size:11px;color:#666}
.popover-content div.program-details-availability{width:430px;padding:10px 0}
.popover-content div.program-details-availability div.ch-info{float:left;width:84px}
.popover-content div.program-details-availability ul{padding:0;.zoom:1}
.popover-content div.program-details-availability ul:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.popover-content div.program-details-availability ul ul{display:block;float:left;width:310px;padding-left:35px;margin-bottom:5px}
.popover-content div.program-details-availability ul ul.ch-info-matrix{margin-left:84px;margin-bottom:5px}
.popover-content div.program-details-availability ul ul li{float:left;display:block;height:11px;width:50px;white-space:nowrap;overflow:hidden;padding:0 3px 5px;text-align:left}
.popover-content div.program-details-availability ul ul li.ch-info-day{clear:both;float:left;width:31px;margin-left:-35px;text-align:left;padding:0 0 5px}
.popover-content div.program-details-availability span.ch-num,.detailsbox ul li.detailsbox-inner-value span.ch-num{clear:left;display:block;float:left;margin:1px 3px 0 0;height:16px;width:36px;text-align:center;color:#fff;background:transparent url(../../../../images/eportal/lightboxes/icon-channel.png)/*tpa=http://cdn.directv.com/images/eportal/lightboxes/icon-channel.png*/ no-repeat scroll left 1px;font-size:11px}
#details-left-full span.ch-num{display:inline-block;position:relative;top:-2px;margin:1px 3px 0 4px;height:18px;width:38px;text-align:center;color:#fff;background:transparent url(../../../../images/eportal/details/icon-channel-lg.png)/*tpa=http://cdn.directv.com/images/eportal/details/icon-channel-lg.png*/ no-repeat scroll left 1px;font-family:arial,verdana,sans-serif;font-size:14px;font-weight:bold}
ul.genre li span.ch-num,p.lastdetail span.ch-num,ul li.detailsbox span.ch-num,.ep-search-item span.ch-num{display:inline-block;margin:1px 2px 0 3px;height:15px;width:35px;text-align:center;color:#333;background:transparent url(../../../../images/eportal/lightboxes/icon-channel-lt.png)/*tpa=http://cdn.directv.com/images/eportal/lightboxes/icon-channel-lt.png*/ no-repeat scroll left top;font-size:12px;line-height:15px;font-family:arial,verdana,sans-serif}
.ep-search-item h3 a+span{font-size:14px}
.ep-search-item .ep-metadata li.pipe{line-height:17px}
ul.detailsbox-inner{display:block;position:relative;width:100%;padding:0;margin:0}
.lightbox-tup .infocard-content .section-left label,.lightbox-tup .infocard-content .section-left-wide label{font-weight:bold}
.lightbox-tup .infocard-content .section-left-wide label{display:block;padding-bottom:5px}
.lightbox-tup .infocard-content .section-left-wide{display:block;padding:15px 0 0 0;margin:15px 0 10px 0;width:100%;border-top:1px solid #ccc}
.lightbox-tup .infocard-content .section-left{display:block;float:left;width:65px;height:32px;text-align:left;clear:left}
.lightbox-tup .infocard-content .section-right{display:block;width:auto;height:32px}
.lightbox-tup .infocard-content .section-right p.lastdetail{padding:0;margin:0 0 2px 0}
.lightbox-tup .infocard-content .section-right input{margin-left:0}
.lightbox-tup .infocard-content .section-radio{padding:0;margin:0}
.lightbox-tup .infocard-content .section-radio-text{padding:0 15px 0 5px;position:relative;vertical-align:middle}
.lightbox-tup .infocard-content .section-radio-text-last{padding:0 0 0 5px}
.lightbox-tup .infocard-content .section-left-wide input.section-radio{margin:0 5px 0 0}
.details-corner-free-sub{background:transparent url('../../../../images/eportal/lightboxes/free_sub.gif')/*tpa=http://cdn.directv.com/images/eportal/lightboxes/free_sub.gif*/ top right no-repeat}
.details-corner-day-rental{background:transparent url('../../../../images/eportal/lightboxes/free_rental.gif')/*tpa=http://cdn.directv.com/images/eportal/lightboxes/free_rental.gif*/ top right no-repeat}
.details-corner a{position:relative;z-index:5;padding-right:5px}
.details-corner a.how-charged{float:right;width:200px;overflow:hidden;padding:3px 5px 0 0}
.details-corner span.free-red{font-weight:bold;font-size:16px;color:#900;float:right;padding:0 70px 0 0}
.details-corner span.lb-price{font-weight:bold;font-size:20px;font-family:"Trebuchet MS",arial,verdana,sans-serif;padding:0 4px 0 0}
.pricing span.lb-price{font-weight:bold;font-size:20px;font-family:"Trebuchet MS",arial,verdana,sans-serif;float:right;padding:0 5px 0 0}
.pricing a.tooltip-link{clear:right;float:right;padding-top:3px}
.details-corner span.lb-unavail{display:block;font-weight:bold;font-size:14px;color:#666;float:right;padding:0 5px 0 0}
.details-corner span.lb-unavail a{position:relative;display:inline;z-index:1002}
.lb-btn-wrap-social-face:hover,.lb-btn-wrap-social-twit:hover{display:block;text-decoration:none}
.lb-btn-bar-social{background:transparent url('../../../../images/eportal/lightboxes/facetwit.png')/*tpa=http://cdn.directv.com/images/eportal/lightboxes/facetwit.png*/ top left no-repeat;height:20px;margin:0;padding:0;width:140px;position:absolute}
.lb-btn-wrap-social-face,.lb-btn-wrap-social-twit{display:inline;float:left;height:19px;width:63px;padding:0;margin:0;margin-right:4px}
.lb-fullwidth{width:100%}
.lb-btn-bar-left{height:20px;margin:0;padding:0;width:100px;position:absolute}
.lb-btn-bar-heightspacer{height:19px}
.record-order-message{display:block;position:relative;padding:0 0 0 22px;height:20px;background:transparent url('../../../../images/global/icons/icon_info.png')/*tpa=http://cdn.directv.com/images/global/icons/icon_info.png*/ top left no-repeat}
.details-before-order{display:block;float:left}
.details-before-order-text{margin:0 25px 0 0;width:235px;height:300px}
.details-before-order-image{width:450px;height:300px;background:transparent url('../../../../images/eportal/lightboxes/lb-rightcontent-verification.jpg')/*tpa=http://cdn.directv.com/images/eportal/lightboxes/lb-rightcontent-verification.jpg*/ top right no-repeat}
.lightbox-tup .infocard-content .profilebox{display:block;width:auto;background-color:#fff;border:1px solid #e5e5e5;padding:11px;margin:0}
.video-info-expand{display:inline-block;position:absolute;bottom:16px;right:19px;float:left}
.js-tooltip-container.lb-adv-on .video-info-expand{bottom:6px}
.video-info-expand a{height:12px;width:18px;background:url(../../../../images/global/lightbox/expand_video.png)/*tpa=http://cdn.directv.com/images/global/lightbox/expand_video.png*/ no-repeat 0 0;text-decoration:none}
.video-info-expand a:hover{background-position:0 -16px}
.video-info-expand a span{padding-left:28px;font-size:16px;font-family:arial;font-weight:bold;color:#999}
.video-info-expand a span:hover{color:#fff}
.video-info-expand a.inactive{display:none}
.share-links{height:20px;.height:21px}
.ctl-area-a .share-links{margin-top:10px}
.share-links li{float:left;background:url('../../../../images/eportal/details/details_share_icons.v4.png')/*tpa=http://cdn.directv.com/images/eportal/details/details_share_icons.v4.png*/ left -200px no-repeat;padding-left:6px;margin-left:5px}
.dark-theme .share-links li{background-position:left -250px}
.share-links a{cursor:pointer;background:url('../../../../images/eportal/details/details_share_icons.v4.png')/*tpa=http://cdn.directv.com/images/eportal/details/details_share_icons.v4.png*/ no-repeat;float:left;height:20px;padding:0;margin:0;text-indent:-9999px}
.share-links li.email{background:0;padding-left:0;margin-left:0}
.share-links li.email a{width:18px;background-position:0 -100px}
.share-links li.email a:hover{background-position:0 -150px}
.share-links li.twitter a{width:55px}
.share-links li.twitter a:hover{width:55px;background-position:0 -50px}
.share-links li.facebook{position:absolute;left:84px}
.lb-tup .share-links{position:absolute;margin-top:9px;height:20px;.height:21px;padding:0;width:222px}
.lb-tup .video-content .share-links{top:124px;margin-top:0}
.global-dropdown-trigger{background:url("../../../../images/eportal/guide/guide_dropdown.png")/*tpa=http://cdn.directv.com/images/eportal/guide/guide_dropdown.png*/ no-repeat scroll 0 0 transparent;cursor:pointer;float:left;font-size:11px;height:20px;margin-right:12px;position:relative;width:135px;z-index:3}
.global-dropdown-trigger label{display:block;position:height:20px;line-height:19px;padding-left:8px}
.global-dropdown-trigger.active{background-position:left -20px}
.details-tab-content{background-color:#fff;padding:10px 12px 47px;border:0}
.details-contentarea{padding-top:23px;margin-top:0;margin-left:0}
#star_rating{margin:0;padding:0;position:relative;top:1px}
#details-left #star_rating{display:block;margin:7px 0 6px 0;padding:0;position:relative;top:0;left:0}
.star-rating-bg{display:none;background:url('../../../../images/eportal/star-rating-sprite_v4.png')/*tpa=http://cdn.directv.com/images/eportal/star-rating-sprite_v4.png*/ top right no-repeat;width:80px;height:14px}
a.star-rating-leftnav{display:inline-block;width:80px;height:14px;background:transparent url('../../../../images/eportal/star-rating-sprite_v4.png')/*tpa=http://cdn.directv.com/images/eportal/star-rating-sprite_v4.png*/ top right no-repeat;border-width:0;padding:0;margin:0}
a.star-rating-bg-5b{background-position:0 right}
a.star-rating-bg-4b{background-position:-96px 0}
a.star-rating-bg-3b{background-position:-112px 0}
a.star-rating-bg-2b{background-position:-128px 0}
a.star-rating-bg-1b{background-position:-144px 0}
a.star-rating-bg-5b:hover{background-position:0 0;width:80px}
a.star-rating-bg-4b:hover{background-position:0 0;width:63px}
a.star-rating-bg-3b:hover{background-position:0 0;width:46px}
a.star-rating-bg-2b:hover{background-position:0 0;width:30px}
a.star-rating-bg-1b:hover{background-position:0 0;width:14px}
.star-rating-bg-5{display:inline-block;background-position:0 0}
.star-rating-bg-4{display:inline-block;background-position:-16px 0}
.star-rating-bg-3{display:inline-block;background-position:-32px 0}
.star-rating-bg-2{display:inline-block;background-position:-48px 0}
.star-rating-bg-1{display:inline-block;background-position:-64px 0}
.star-rating-bg-4-x{display:inline-block;background-position:0 -20px}
.star-rating-bg-3-x{display:inline-block;background-position:-16px -20px}
.star-rating-bg-2-x{display:inline-block;background-position:-32px -20px}
.star-rating-bg-1-x{display:inline-block;background-position:-48px -20px}
.star-rating-bg-0-x{display:inline-block;background-position:-64px -20px}
.ep-flag-pill{display:inline-block;padding:1px 4px 0;background-color:#d6d6d6;text-transform:uppercase;font-size:10px;line-height:15px;color:#333;-moz-border-radius:3px;-webkit-border-radius:3px;-o-border-radius:3px;-ms-border-radius:3px;-khtml-border-radius:3px;border-radius:3px}
.infocard-content ul.details li .ep-flag-pill{position:relative;top:3px;margin-top:1px;margin-bottom:10px}
.infobox-content .ep-flag-pill{margin-bottom:11px}
.infocard-content ul.detailscontainer-order li .ep-flag-pill{margin-bottom:6px}
.details-body .ep-flag-pill{margin-bottom:10px}
#details-left .ep-flag-pill{margin-top:3px}
.listings-data .ep-flag-pill{margin-left:7px;.margin-top:1px}
.ep-search-item .ep-flag-pill{margin-bottom:10px}
#lb_cinema_media_player .lightbox-tup .lightbox-bg,#lb_media_player .lightbox-tup .lightbox-bg{background:#555 url(../../../../images/content/themes/dark/lightbox_bg.png)/*tpa=http://cdn.directv.com/images/content/themes/dark/lightbox_bg.png*/ repeat-x;.background:#555;border:1px solid #a1a1a1;box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none}
#lb_cinema_media_player h4.lb-header,#lb_media_player h4.lb-header{color:#fff}
#lb_cinema_media_player .lb-sbcontent,#lb_media_player .lb-sbcontent{border-color:#a1a1a1}
#lb_cinema_media_player a.btn-spinner,#lb_media_player .lightbox-tup a.btn-spinner,#lb_media_player .lightbox-tup a.btn-spinner.disabled,.#lb_media_player lightbox-tup a.btn-spinner.disabled:hover,#lb_cinema_media_player .lightbox-tup a.btn-spinner.disabled,.#lb_cinema_media_player lightbox-tup a.btn-spinner.disabled:hover{background-image:url(../../../../images/global/ajax/loading_16px.dark.gif)/*tpa=http://cdn.directv.com/images/global/ajax/loading_16px.dark.gif*/}
.isError .dtv-message-tup{position:relative;margin:15px 30px;zoom:1}
.intro-link-lb{font-size:12px}
div.option-spacing-lb{padding-top:4px}
.favorites{display:block}
.favorites a{display:inline-block;background:url(../../../../images/eportal/global/eportal_share_icons.v3.png)/*tpa=http://cdn.directv.com/images/eportal/global/eportal_share_icons.v3.png*/ left -19px no-repeat;padding-left:18px;font-size:11px;font-weight:bold}
.favorites .unfavorite{display:none}
.favorites a.active{background-position:0 1px}
.favorites a:hover{background-position:0 1px}
.favorites a.disabled{background-position:left -79px}
.favorites a.disabled:hover{text-decoration:none;background-position:left -79px}
.favorites a.active .unfavorite{display:inline}
.favorites a.active .favorite{display:none}
.dark-theme .favorites a{background-image:url(../../../../images/eportal/global/eportal_share_icons.v3.dark.png)/*tpa=http://cdn.directv.com/images/eportal/global/eportal_share_icons.v3.dark.png*/}
.dark-theme .lightbox-tup .favorites a{background-image:url(../../../../images/eportal/global/eportal_share_icons.v3.png)/*tpa=http://cdn.directv.com/images/eportal/global/eportal_share_icons.v3.png*/}
.ep-metadata ul.playlistlink-wrapper{margin:0 0 5px 0}
.infobox-content .ep-metadata ul.playlistlink-wrapper{margin:10px 0 5px 0}
.playlistlink-wrapper .playlist{display:block}
.playlistlink-wrapper .playlist a{display:inline-block}
.playlistlink-wrapper .playlist .unplaylist{display:none}
.playlistlink-wrapper .playlist a:hover{text-decoration:none}
.playlistlink-wrapper .playlist a:hover .playlist-label{color:#00aec3}
.playlistlink-wrapper .playlist a.active .unplaylist{display:inline-block}
.playlistlink-wrapper .playlist a.active .playlist{display:none}
.playlistlink-wrapper .playlist .playlist-label{margin-left:28px;color:#333;font-size:14px;font-weight:bold;white-space:nowrap;padding-top:2px}
.dark-theme .playlistlink-wrapper .playlist .playlist-label{color:#fff}
.dark-theme .playlistlink-wrapper .playlist a{background:url('../../../../images/eportal/global/Add_Remove_Icon_dark.png')/*tpa=http://cdn.directv.com/images/eportal/global/Add_Remove_Icon_dark.png*/ no-repeat scroll -30px 0}
.dark-theme .playlistlink-wrapper .playlist a.active{background-position:0 0}
.playlistlink-wrapper .playlist a{background:url(../../../../images/eportal/global/Add_Remove_Icon.png)/*tpa=http://cdn.directv.com/images/eportal/global/Add_Remove_Icon.png*/ no-repeat scroll 0 0;display:block;height:21px;width:20px;float:left;margin-bottom:6px}
.playlistlink-wrapper .playlist a.active{background-position:-30px 0}
.rec-carousel-hide{margin-top:-48px}
.ep-metadata{.zoom:1;font-size:12px}
div.ep-metadata{margin-bottom:12px}
.infobox-content .ep-date{margin-bottom:9px}
.infobox-content li.ep-metadata{margin-bottom:18px}
.infobox-content .proximity-spinner-load{display:none;font-family:arial,verdana,sans-serif;color:#999;font-size:12px;margin-top:13px;margin-bottom:3px}
.infobox-content .proximity-spinner-load.active{display:block;background:url(../../../../images/global/ajax/loading_16px.dark.gif)/*tpa=http://cdn.directv.com/images/global/ajax/loading_16px.dark.gif*/ 0 0 no-repeat;height:16px;margin-bottom:6px}
.infobox-content .proximity-spinner-load.active span{padding-left:21px}
.infobox-content .proximity-learn-more{font-family:arial,verdana,sans-serif;color:#999;font-size:12px;margin-top:13px;margin-bottom:3px}
.infobox-content .proximity-learn-more a{color:#0098ca}
.infobox-content .proximity-learn-more.inactive{display:none}
.ep-metadata.top-line .ep-flag-pill{margin-bottom:0}
.infobox-content .ep-chan-pipe{line-height:17px}
.infobox-content .synopsis .no-poster{margin-top:-3px;margin-bottom:-3px}
.infobox-content .divider{margin-bottom:18px}
.infobox-content .ep-cta-sign-in{margin-left:-1px}
.infobox-content .ep-cta-tup{margin-top:9px}
.infobox-content h3{margin-bottom:5px}
.infobox-content .ep-metadata li.ep-chan-logo-nospace{margin-bottom:3px}
.infobox-content .ep-lock-desc{margin-top:8px}
.infobox-content .ep-lock-desc a{font-size:12px}
.infobox-content .ep-cta-ppv-label{color:#868686;font-family:Arial;font-weight:bold;font-size:12px}
.ep-lock-desc a.ep-cta-sign-in{color:#09c;font-family:Arial;font-weight:bold}
.ep-metadata ul{display:block;margin-bottom:3px;.zoom:1}
.ep-metadata li{display:inline-block;.display:inline;font-weight:bold;color:#999;line-height:16px;height:16px}
.ep-metadata li.category{margin-right:9px;text-transform:uppercase}
.ep-metadata li.star-rating{margin:0 13px 4px 0}
.infobox-content .ep-metadata li.star-rating{margin-top:-1px}
.ep-metadata li.tomato-rating,.ep-metadata li.audience-rating{background:url('../../../../images/eportal/star-rating-sprite_v4.png')/*tpa=http://cdn.directv.com/images/eportal/star-rating-sprite_v4.png*/ 0 -100px no-repeat;padding-left:22px;font-size:13px;font-family:Trebuchet MS,Arial,Helvetica;margin-right:13px;color:#333}
.dark-theme .ep-metadata li.tomato-rating,.dark-theme .ep-metadata li.audience-rating{color:#fff}
.ep-metadata li.audience-rating{background-position:0 -201px;margin-right:16px}
.ep-metadata li.tomato-rating.rotten{background-position:-100px -100px}
.ep-metadata li.audience-rating.popKnockedOver{background-position:-100px -201px;padding-left:24px}
.ep-metadata li.pipe{display:inline-block;.display:inline;font-size:10px;padding:0 6px;color:#c5c5c5;vertical-align:top;margin-top:-2px;font-weight:normal}
.dark-theme .ep-metadata li.pipe{color:#303030}
.dark-theme .infobox-content .ep-metadata li.pipe{color:#aaa}
body.program-details .ratings-bar li.pipe{display:none}
body.program-details.tv .ratings-bar li.pipe{display:inline-block;.display:inline}
.ep-metadata li.ep-chan-number{border-left:1px solid #c5c5c5;margin-left:10px;padding-left:10px}
.ep-metadata li.next-on{margin-right:10px}
.ep-metadata li span{font-weight:normal}
.ep-metadata li label{font-weight:bold}
.ep-metadata:after,.ep-metadata ul:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.ep-cta-tup .medium-button{margin-right:14px}
.cta-additional-links{display:block;color:#999;padding-top:10px;font-size:12px}
.cta-additional-link-title{padding-right:6px}
.cta-additional-links a{color:#333}
.cta-additional-links a:hover{color:#09c;text-decoration:none}
.cta-additional-links .seperator{padding:0 6px}
.ep-metadata .ep-chan-logo-sm{margin-left:10px}
.ep-metadata .ep-chan-logo-nospace{margin-left:0}
.ep-chan-logo-sm img{height:22px;margin:-1px 0 -2px;vertical-align:middle}
.ep-chan-pipe{display:inline-block;text-indent:-9999px;border-left:1px solid #ddd;margin-left:7px;padding-left:2px;padding-right:3px;.position:relative}
.ep-chan-pill{display:inline-block;.display:inline;.margin:0;line-height:15px;padding:1px 4px 0;margin:0 2px;font-size:10px;background-color:#ccc;font-weight:normal;color:#333;-moz-border-radius:3px;-webkit-border-radius:3px;-o-border-radius:3px;-ms-border-radius:3px;-khtml-border-radius:3px;border-radius:3px;.position:relative}
.ep-progress-bar{padding:12px 0 0;.display:inline-block}
.ep-progress-bar .progress,#utility_content_list .ep-progress-bar .progress{float:left;position:relative;display:block;background:#efefef;width:80px;height:10px;border:1px solid #adadad;border-radius:5px;box-shadow:inset 2px 2px 4px 1px rgba(0,0,0,0.1);margin-right:9px}
.ep-progress-bar .progress i,#utility_content_list .ep-progress-bar .progress i{position:absolute;display:block;top:0;left:0;height:10px;border-radius:4px 0 0 4px;background:#a3a3a3;background:-moz-linear-gradient(top,#b5b5b5 0,#a3a3a3 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#b5b5b5),color-stop(100%,#a3a3a3));background:-webkit-linear-gradient(top,#b5b5b5 0,#a3a3a3 100%);background:-o-linear-gradient(top,#b5b5b5 0,#a3a3a3 100%);background:-ms-linear-gradient(top,#b5b5b5 0,#a3a3a3 100%);background:linear-gradient(top,#b5b5b5 0,#a3a3a3 100%)}
.ep-progress-bar .progress i.pos-100{border-radius:4px}
.ep-progress-bar span.playback,#utility_content_list .ep-progress-bar span.playback{float:left;font-size:10px!important;line-height:12px!important;font-family:Arial,Helvetica,sans-serif;color:#333}
.ep-progress-bar:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.dark-theme .ep-progress-bar .progress{border-color:#333;background:#5d5d5e}
.dark-theme .ep-progress-bar .progress i{background:#929292;background:-moz-linear-gradient(top,#929292 0,#767676 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#929292),color-stop(100%,#767676));background:-webkit-linear-gradient(top,#929292 0,#767676 100%);background:-o-linear-gradient(top,#929292 0,#767676 100%);background:-ms-linear-gradient(top,#929292 0,#767676 100%);background:linear-gradient(top,#929292 0,#767676 100%)}
.dark-theme .ep-progress-bar span.playback{color:#ccc}
#utility_content_list .ep-progress-bar{padding-top:2px}
.details-order-price .ep-progress-bar{clear:right;padding-top:3px}
.details-order-price .ep-progress-bar .progress{width:134px}
.infobox-content .ep-progress-bar .progress,.ep-search-item .ep-progress-bar .progress{width:104px}
.playback-expires{margin-bottom:8px;font-size:10px}
#utility_content_list .ep-cta-tup .playback-expires{display:none}
.infobox-content .playback-expires,.ep-search-results .playback-expires{width:192px}
.infobox-content .content-unavailable{margin-bottom:10px;font-size:11px;line-height:12px;color:#999;margin-top:-2px}
.details-order-price .playback-expires{text-align:right}
.playback-expires span{color:#999}
.card-type-number{width:207px}
.expiration-month{width:91px}
.expiration-year{width:104px}
.cvv-code{width:64px}
.hrtop,.hrbottom{border-width:1px 0 0 0;width:426px;color:#e3e1e1;text-align:left}
.hrtop{margin-bottom:17px;margin-left:0}
.hrbottom{margin:20px 0 23px 0}
.cvvcode{margin-left:0;margin-bottom:27px}
.addition{font-size:10px;margin-bottom:17px}
.section-pay .section-pay-full .paytitle-type{display:block;white-space:nowrap;font-weight:normal;font-size:11px;line-height;22px;margin-bottom:7px;font-family:Arial;color:#333}
.section-pay-full-paynow select{color:#666}
.section-bezel-paynow{border:1px solid #999;border-top:0;border-bottom:0;padding-left:0;padding-top:0;background-position:540px 0}
.section-pay-full-down{clear:both}
.ep-radio-toggle{color:#787878;font-size:15px;line-height:24px;margin-left:30px;margin-bottom:10px;zoom:1}
.ep-radio-toggle:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.ep-radio-toggle label{float:left}
.ep-radio-toggle a{float:left;color:#787878;border-left:1px solid #232323;text-decoration:none;margin-left:10px;padding-left:10px}
html.no-touch .ep-radio-toggle a:hover{color:#fff}
html.no-touch .ep-radio-toggle a:hover .faux-radio{border-color:#333}
.ep-radio-toggle a.first{border-left:none;margin-left:0}
.ep-radio-toggle a.active,html.no-touch .ep-radio-toggle a.active:hover{color:#fff}
.ep-radio-toggle .faux-radio{float:left;display:block;position:relative;width:22px;height:22px;margin-right:6px;border:1px solid #232323;border-radius:5px;box-shadow:inset 2px 2px 5px #000;background:#2f2f2f;background:-webkit-linear-gradient(bottom,#181818,#303030);background:-moz-linear-gradient(bottom,#181818,#303030);background:-o-linear-gradient(bottom,#181818,#303030);background:-ms-linear-gradient(bottom,#181818,#303030);background:linear-gradient(to top,#181818,#303030)}
.ep-radio-toggle a.active .faux-radio b{display:block;position:absolute;top:3px;left:3px;width:16px;height:16px;border-radius:4px;box-shadow:1px 1px 3px rgba(0,0,0,0.75),inset 0 0 3px rgba(255,255,255,0.2);background:#0b7bca;background:-webkit-linear-gradient(bottom,#062e67,#0b7bca);background:-moz-linear-gradient(bottom,#062e67,#0b7bca);background:-o-linear-gradient(bottom,#062e67,#0b7bca);background:-ms-linear-gradient(bottom,#062e67,#0b7bca);background:linear-gradient(to top,#062e67,#0b7bca)}
.ep-device-icons-label{font-size:10px;font-family:arial;font-weight:bold;color:#868686}
.ep-device-icons ul li{height:26px;margin:5px 0 0}
.ep-device-icons ul li.ep-device-icon{background-image:url('../../../../images/eportal/global/thirdPartyStreamingIcons.png')/*tpa=http://cdn.directv.com/images/eportal/global/thirdPartyStreamingIcons.png*/;background-repeat:no-repeat}
.ep-device-icons ul li.ep-device-icon.tv{background-position:-73px -1px;width:41px;margin-right:7px}
.ep-device-icons ul li.ep-device-icon.tv.active{background-position:-1px -1px}
.ep-device-icons ul li.ep-device-icon.laptop{background-position:-72px -36px;width:48px;margin-right:9px}
.ep-device-icons ul li.ep-device-icon.laptop.active{background-position:0 -36px}
.ep-device-icons ul li.ep-device-icon.tab{background-position:-72px -73px;width:20px;margin-right:12px}
.ep-device-icons ul li.ep-device-icon.tab.active{background-position:0 -73px}
.ep-device-icons ul li.ep-device-icon.mob{background-position:-73px -109px;width:15px}
.ep-device-icons ul li.ep-device-icon.mob.active{background-position:-1px -109px}
.dark-theme .ep-device-icons ul li.ep-device-icon{background-image:url('../../../../images/eportal/global/thirdPartyStreamingIcons_dark.png')/*tpa=http://cdn.directv.com/images/eportal/global/thirdPartyStreamingIcons_dark.png*/}
.ep-cta-lock-icon{display:inline-block;width:12px;height:12px;background:url('../../../../images/eportal/global/thirdPartyStreamingIcons_dark.png')/*tpa=http://cdn.directv.com/images/eportal/global/thirdPartyStreamingIcons_dark.png*/ no-repeat scroll -72px -144px}
.dtv-body-tup .details-container .ep-cta-lock-icon{display:inline-block;width:14px;height:18px;background:url('../../../../images/eportal/global/thirdPartyStreamingIcons_dark.png')/*tpa=http://cdn.directv.com/images/eportal/global/thirdPartyStreamingIcons_dark.png*/ no-repeat scroll 0 -144px}