.bannerImageRotator
{
	position: static;
	max-height: 230px;
	z-index: auto;
	overflow: hidden;
}

.bannerImageRotatorControl
{
	width: 84px;
	height: 18px;
	position: absolute;
	/*top: 195px;
	right: 10px;*/
	background: url("../../-/media/Common-Assets/Images/Banner-Rotator-Structural-Images/imageRotatorControlBG.png")/*tpa=https://q9u5x5a2.ssl.hwcdn.net/-/media/Common-Assets/Images/Banner-Rotator-Structural-Images/imageRotatorControlBG.png*/ top left no-repeat;
}

.rfloat
{
	float: right;
}

.banerImageRotatorControlText
{
	width: 90px;
	height: 23px;
	color: #FFF;
	font-size: 9px;
	font-weight: bold;
	position: relative;
	top: 6px;
}

.bannerImageRotatorControlBtn
{
	height: 18px;
	width: 84px;
}

.bannerImageRotatorPrevBtn
{
	width: 12px;
	height: 18px;
	background: url("../../-/media/Common-Assets/Images/Banner-Rotator-Structural-Images/prevBtn.png")/*tpa=https://q9u5x5a2.ssl.hwcdn.net/-/media/Common-Assets/Images/Banner-Rotator-Structural-Images/prevBtn.png*/ top left no-repeat;
	position: relative;
	float: left;
	display: inline-block;
	cursor: pointer;
}

.bannerImageRotatorNextBtn
{
	width: 12px;
	height: 18px;
	background: url("../../-/media/Common-Assets/Images/Banner-Rotator-Structural-Images/nextBtn.png")/*tpa=https://q9u5x5a2.ssl.hwcdn.net/-/media/Common-Assets/Images/Banner-Rotator-Structural-Images/nextBtn.png*/ top left no-repeat;
	position: relative;
	float: left;
	display: inline-block;
	cursor: pointer;
}


.bannerImageRotatorInactiveBtn
{
	width: 12px;
	height: 18px;
	font-family: Arial, sans-serif;
    font-size: 10px; color: #666666;
    padding-top:2px;
	background: url("../../-/media/Common-Assets/Images/Banner-Rotator-Structural-Images/inactiveBtn.png")/*tpa=https://q9u5x5a2.ssl.hwcdn.net/-/media/Common-Assets/Images/Banner-Rotator-Structural-Images/inactiveBtn.png*/ top left no-repeat;
	position: relative;
	float: left;
	display: inline-block;
	text-align: center;
	cursor: pointer;
}

.bannerImageRotatorActiveBtn
{
	width: 12px;
	height: 18px;
    font-family: Arial, sans-serif;
    font-size: 10px; color: #666666;
    padding-top:2px;
	background: url("../../-/media/Common-Assets/Images/Banner-Rotator-Structural-Images/activeBtn.png")/*tpa=https://q9u5x5a2.ssl.hwcdn.net/-/media/Common-Assets/Images/Banner-Rotator-Structural-Images/activeBtn.png*/ top left no-repeat;
	position: relative;
	float: left;
	display: inline-block;
	text-align: center;
	vertical-align:middle;
	cursor: pointer;
}

.bannerImageWrapper
{
	/*position: relative;*/
}

.bannerImageWrapper img
{
	z-index: auto;
}