/********** 
**modal - this contains general modal styles and specfic browser dependency styles (blue and white versions)**
***********/
.az-modal .modal {
  padding: 20px;
  top: 50px; }

.az-browserAlert {
  display: block; }
