/********** 
**masonry**
***********/
.az-masonry > .columns > .wrapper .card .face.back {
  display: none; }

.az-masonry > .columns > .wrapper .card .flip .face.back {
  display: block; }

.az-masonry > .columns > .wrapper .card .flip-container {
  cursor: auto; }

/********** 
**modal - this contains general modal styles and specfic browser dependency styles (blue and white versions)**
***********/
.az-modal .overlay {
  width: 3000px;
  height: 1000000px;
  margin-left: -1000px;
  background: url("../images/bg-transparent-black.png")/*tpa=http://www.mmc.com/etc/clientlibs/mmc-web/public/images/bg-transparent-black.png*/ repeat 0 0; }

/********** 
**banner - contains video bg as well as image bg**
***********/
.mmc-az-banner > .columns > .wrapper #canvasContainter, .mmc-az-banner > .columns > .wrapper video {
  display: none; }

/********** 
**timeline**
***********/
.az-timeline .columns .timeline .event {
  margin: 0 auto 7rem auto;
  float: none; }

.az-timeline .columns .timeline .event:after {
  width: 0;
  height: 0;
  display: none; }

/********** 
**accordion**
***********/
.az-accordion .columns > ul > li > a {
  background-image: url("../images/btn-plus-small.png")/*tpa=http://www.mmc.com/etc/clientlibs/mmc-web/public/images/btn-plus-small.png*/; }

.az-accordion .columns > ul > li.active > a {
  background-image: url("../images/btn-minus-small.png")/*tpa=http://www.mmc.com/etc/clientlibs/mmc-web/public/images/btn-minus-small.png*/; }

.az-accordion.v2 .columns > ul > li:nth-child(odd) > a, .az-accordion.v3 .columns > ul > li:nth-child(odd) > a {
  background-image: url("../images/btn-plus-white-small.png")/*tpa=http://www.mmc.com/etc/clientlibs/mmc-web/public/images/btn-plus-white-small.png*/; }

.az-accordion.v2 .columns > ul > li.active:nth-child(odd) > a, .az-accordion.v3 .columns > ul > li.active:nth-child(odd) > a {
  background-image: url("../images/btn-minus-white-small.png")/*tpa=http://www.mmc.com/etc/clientlibs/mmc-web/public/images/btn-minus-white-small.png*/; }

/********** 
**sidebar dropdown collection**
***********/
.mmc-az-sbDropdown .wrapper > ul > li > a {
  background-image: url("../images/btn-plus-small.png")/*tpa=http://www.mmc.com/etc/clientlibs/mmc-web/public/images/btn-plus-small.png*/; }

.mmc-az-sbDropdown .wrapper > ul > li.active > a {
  background-image: url("../images/btn-minus-small.png")/*tpa=http://www.mmc.com/etc/clientlibs/mmc-web/public/images/btn-minus-small.png*/; }
