/********** 
**banner - contains video bg as well as image bg**
***********/
@media only screen and (max-width: 1024px) {
  .mmc-az-banner > .columns > .wrapper video {
    display: block; } }
/********** 
**masonry**
***********/
.az-masonry > .columns > .wrapper .card .face.back {
  display: none; }

.az-masonry > .columns > .wrapper .card .flip .face.back {
  display: block; }
