@media screen {
/* 
////////////////////////
Standard HTML tags
////////////////////////
*/
.article table { border-collapse: collapse; border-spacing: 0; margin: 0 0 1em; }
caption, th, td { text-align: left; font-weight: normal; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
/*ol, ul, dl, li { position:relative; }*/

img { border: 0; }

/* 
////////////////////////
Basic structures
////////////////////////
*/
body { background: url(../../images/background.jpg)/*tpa=http://www.cbre.com/Style%20Library/images/background.jpg*/ center top repeat-x; }
#s4-bodyContainer { min-width: 970px; position: relative; width: 100%; } 
#s4-workspace { position: relative; }
.body-wrapper { position: relative; }
.main-container { position: relative; z-index: 0;}
.content-container { position: relative; }
.footer-container { position: relative; }
.tools-container {  }

#s4-bodyContainer #titlerow { margin: 15px auto 0px auto; padding:0 5px; position: relative; width: 970px; z-index: 1;}
#s4-bodyContainer .content-container { margin: 0px auto; padding:0 5px; position: relative; width: 970px; }
#s4-bodyContainer .footer-container { margin: 0px auto; padding:0 5px; position: relative; width: 970px; }
#s4-bodyContainer .tools-container { margin: 0px auto; padding:0 5px; width: 970px; }


#breadcrumb { float:left; width:570px; margin: 15px 0 10px 0; }
#page-navigation { float: left; margin:35px 20px 0 0; width: 155px; }
#mainarea {  float: left; width: 570px;  }
.sidebar  { float: right;  width: 200px; }
#footer { border-top:#69be28 1px solid; clear: both; margin: 17px 0; padding: 20px 0;  } 
.content-form {
    border: medium none;
    clear: both;
    padding: 0;
}

/* Sharepoint style declarations */
.ms-rteStyle-columnList { -ms-name:"Column List"; }
.ms-rteStyle-recognitionList { -ms-name:"Recognition List"; }
.ms-rteStyle-newsList { -ms-name:"News List"; }

/* 
////////////////////////
Header styles
//////////////////////// 
*/
/* Main Navigation */
.nav-toplevel
{
    margin: 0px;
    border-bottom: #69be28 1px solid;
    clear: both;
    width: 100%;
    padding-top: 15px;
}
.nav-toplevel ul { margin: 0 0 0 -12px; padding: 0; }
.nav-toplevel li { float:left; list-style: none; margin: 0 12px; }
.nav-toplevel li > a { display: block; padding: 9px 0; position: relative; z-index: 2; }
.nav-toplevel li:hover { position: relative; z-index: 2; }
.nav-toplevel li.selected {}
 
/* Logo */
.logo { background:url(../../images/cbre-sprite.png)/*tpa=http://www.cbre.com/Style%20Library/images/cbre-sprite.png*/ 0 0 no-repeat; float:left; height: 33px; margin: 2px 35px 0 0; width: 125px; }
.logo a { display: block; height: 33px; text-indent: -999em; width: 125px; }

/* Language Menu */
.nav-language { float: left; position: relative; }
.nav-language ul { margin: 0; padding:0; }
.nav-language li { float:left; list-style: none; margin: 0; padding:0 10px 0 0; }
 
/* Login Navigation */
.nav-login { float: right;  }
.nav-login ul { margin: 0; padding:0; }
.nav-login li { float:left; list-style: none; margin: 0; padding:0; position: static; }
.nav-login li.login-client { border-right:#f2f2f2 1px solid; margin-right: 8px; padding-right: 8px; }
#login-employee_menu { background: #fff; border: #ccc 1px solid; cursor: default; display: none; left: auto; padding: 7px; position: absolute; right: 0; top: -10px; width: auto; }
#login-employee_menu li, #login-employee_menu h5 { float: none; white-space: nowrap; }
#login-employee_menu li .icon { background:url(../../images/cbre-sprite.png)/*tpa=http://www.cbre.com/Style%20Library/images/cbre-sprite.png*/ -91px -71px no-repeat; display: block; float: left; height:10px; margin: 1px 3px 0 0; width: 6px;}

/* Search bar */
.search { clear: right; float: right; padding: 15px 0 0; }
.search a {  display: block; float: right; padding:4px 0;}
.search a .icon { background:url(../../images/cbre-sprite.png)/*tpa=http://www.cbre.com/Style%20Library/images/cbre-sprite.png*/ -88px -71px no-repeat; display: block; float: left; height:10px; margin: 1px 0 0 0; width: 10px; }
.search a:focus .icon,.search a:hover .icon { background-position: -102px -71px; }
.search-box { float:left; margin-right: 10px;  width: 12em; }
.search-box input { background: #ecf7e3; border: #69be28 1px solid; float:left;padding:4px;width: 12em; }
#search-submit { background:url(../../images/cbre-sprite.png)/*tpa=http://www.cbre.com/Style%20Library/images/cbre-sprite.png*/ -50px -50px  no-repeat; cursor: pointer; float:left; height: 13px; width: 13px; }

/* 
////////////////////////
General page styles
////////////////////////
*/
/* Floats */
.floatRight { float:right; margin: 0 0 20px 20px; }
.floatLeft { float:right; margin: 0 20px 20px 0; }

/* Breadcrumb navigation */
#mainarea #breadcrumb ul { display:inline; margin: 0; padding:0; }
#mainarea #breadcrumb ul li { background: none; display:inline; list-style: none; margin: 0; padding:0; }
#mainarea #breadcrumb ul li ul { margin: 0; }

/* Specialized list styles */
.article ul.peopleFinder-form li { background: none; padding: 0 0 10px; }

.article ul.sitemap-list, .article ul.sitemap-list ul { margin: 0 0 1em; padding: 0; line-height: 150%}
.article ul.sitemap-list ul li { background:url(../../images/cbre-sprite.png)/*tpa=http://www.cbre.com/Style%20Library/images/cbre-sprite.png*/ -220px 7px no-repeat; list-style: none; margin: 0; padding: 0 0 3px 10px; }
.article ul.sitemap-list ul li ul { margin: 3px 0 0 18px; }
.article ul.sitemap-list ul li ul li { background-position:-220px -128px; }
.article ul.sitemap-list > li, .article.services-home ul.sitemap-list .column > li  { background: none; padding: 0 0 10px; list-style:none outside none; margin:0}
.article ul.sitemap-list > li > ul { margin: 3px 0 0 0; }
.article ul.sitemap-list > li > ul > li { background-position:-220px 6px; }  /* Second level bullets */
.article ul.sitemap-list > li > ul > li > ul > li { background:url(../../images/cbre-sprite.png)/*tpa=http://www.cbre.com/Style%20Library/images/cbre-sprite.png*/ -220px -194px no-repeat; list-style: none;  margin: 0;   padding: 0 0 3px 10px;  }  /* Third level bullets */
.article ul.sitemap-list > li > ul > li > ul > li ul li { background:none; list-style: square; }  /* Fourth level bullets */

.article.services-home ul.sitemap-list ul li { background: none;}
.article.services-home ul.sitemap-list > li, .article.services-home ul.sitemap-list .column > li { background: none; border-top:#dfdfdf 1px solid; padding: 5px 0; }
.article.services-home ul.sitemap-list > li > ul, .article.services-home ul.sitemap-list .column > li > ul { margin: 3px 0 0 0; }
.article.services-home ul.sitemap-list li ul li, .article.services-home ul.sitemap-list .column li ul li {  background:none; } 


.article ul.recognition { padding: 0px }
.article ul.recognition li .content {  box-flex: 1;  -moz-box-flex: 1;  -webkit-box-flex: 1; }
.article ul.recognition li { background: none;  border-top:#dfdfdf 1px solid;  box-align: center;  -moz-box-align: center;  -webkit-box-align: center;  display: box; display: -moz-box; display: -webkit-box; padding: 10px 0;  width: 100%}
.article ul.recognition li .image {  width: 160px; }
.article ul.recognition li .content {  box-flex: 1;  -moz-box-flex: 1;  -webkit-box-flex: 1;  }
.no-flexbox .article ul.recognition li  { display: block;  width: 100% }
.no-flexbox .article ul.recognition li .image { display: inline-block; vertical-align: middle; }
.no-flexbox .article ul.recognition li .content {  display: inline-block; vertical-align: middle; width: 390px; }

.article ul.ms-rteStyle-recognitionList { padding: 0px }
.article ul.ms-rteStyle-recognitionList li { background: none;  border-top:#dfdfdf 1px solid; padding: 10px 0;  width: 100%; }
.article ul.ms-rteStyle-recognitionList li .image { display: inline-block; vertical-align: middle; width: 160px;}
.article ul.ms-rteStyle-recognitionList li .content { display: inline-block; vertical-align: middle; width: 390px;}

/* Specialized list styles */
.article ul.news-list, .article ul.ms-rteStyle-newsList { margin: 0 0 1em; padding: 0; }
.article ul.news-list li, .article ul.ms-rteStyle-newsList li { background: none; list-style: none outside none; margin: 0 0 0 80px; padding: 0 0 10px; }
.article ul.news-list li h6, .article ul.ms-rteStyle-newsList li h6 { float: left; margin: 0 0 0 -80px; width: 60px; } 
.article ul.news-list li p, .article ul.ms-rteStyle-newsList li p { margin: 0; } 
.article ul.news-list li a, .article ul.news-list li span,
.article ul.ms-rteStyle-newsList li a, .article ul.ms-rteStyle-newsList li span { }

/* Bulleted lists */
.text-content ul, .sidebar ul, .text-content-tab .tabcontent ul, .sidebar .ms-WPBody ul { margin: 0 0 1em; padding: 0; }
.text-content ul li, .text-content-tab .tabcontent ul li, .sidebar .ms-WPBody ul li { background:url(../../images/cbre-sprite.png)/*tpa=http://www.cbre.com/Style%20Library/images/cbre-sprite.png*/ -220px 7px no-repeat; list-style: none; margin: 0; padding: 0 0 3px 10px; }
.text-content ul li ul, .text-content-tab .tabcontent ul li ul, .sidebar .ms-WPBody ul li ul { margin: 3px 0 0 18px; }
.text-content ul li ul li, .text-content-tab .tabcontent ul li ul li, .sidebar .ms-WPBody ul li ul li { background-position:-220px -128px; }

/* Definition list*/
.text-content dt, .text-content-tab dt { clear: both; float: left; font-weight: bold; margin: 0 0 5px; width: 25%; }
.text-content dd, .text-content-tab dd { float: left; margin: 0 0 5px; width: 75%; }

/*
#mainarea ul { margin: 0 0 1em; padding: 0; }
#mainarea ul li { background:url(../../images/cbre-sprite.png) -220px 7px no-repeat; list-style: none; margin: 0; padding: 0 0 3px 10px; }
#mainarea ul li ul { margin: 3px 0 0 18px; }
#mainarea ul li ul li { background-position:-220px -128px; }
*/

/* Columnize margin */
.article .column { margin: 0 4% 0 0; }
.article .findPropertyList .column, .article .ms-rteStyle-columnList .column { margin: 0 2% 0 0; }
.article .column.last { margin: 0; }

/* Section navigation */
.nav-section {  position: relative;}
.nav-section ul { margin:0;padding:0;  position: relative;}
.nav-section li { list-style: none; position: relative; }
.nav-section li { margin: 9px 0 0; }
.nav-section li a { display: inline-block; }
/* Section nav level 2 */
.nav-section li ul { display:none; padding-left: 14px;}
.nav-section li ul .icon { background:url(../../images/cbre-sprite.png)/*tpa=http://www.cbre.com/Style%20Library/images/cbre-sprite.png*/ -105px -71px no-repeat; display: block; float: left; height:10px; margin: 1px 3px 0 0; width: 6px;}
.nav-section li ul .selected .icon { background-position: -91px -71px;}
.nav-section li ul li { margin: 4px 0 0; }
.nav-section li.selected > ul { display: block; }
/* Section nav level 3 */
.nav-section li ul ul { padding-left: 14px;}

/*Alternate page widths */
#mainarea.fullpage {  width: 795px;  }

/* mainarea webpart styles */
.ms-WPHeader td { border-top: #69be28 3px solid;}
h3.ms-WPTitle {  margin-top:0; padding: 10px 0 0; }


/* Footer */
#footer ul { margin: 0; padding:0; }
#footer li { float:left; list-style: none; margin: 0 0 .75em; padding:0 6px; }
#footer .footer-legal { clear: left; }
#footer .footer-legal li { }
#footer li:first-child, #footer .footer-legal li:first-child { padding:0 6px 0 0; }
#footer .social-links { float:right; }
#footer .social-links li { margin: 0 0 0 18px; padding: 0 0 0 18px; position: relative; }
#footer .social-links a { display: block; white-space: nowrap; }
/*#footer .social-links li .icon { background:url(../../images/cbre-sprite.png) 0 -70px no-repeat; display: block; height:13px; left: 0; position: absolute; top: 0; width: 13px; }
#footer .social-links li.facebook .icon { background-position: -40px -70px;  margin-top: 2px;}
#footer .social-links li.twitter .icon { background-position: -56px -70px;  margin-top: 2px; }
*/
#footer .social-links li .icon { background:url(../../images/sharing-sprite.png)/*tpa=http://www.cbre.com/Style%20Library/images/sharing-sprite.png*/ 0 -70px no-repeat; display: block; float: left; padding:0 0 0 18px; height: 32px; width: 32px;}
#footer .social-links li.facebook .icon { background:url(../../../AssetLibrary/ICN-Facebook.png)/*tpa=http://www.cbre.com/AssetLibrary/ICN-Facebook.png*/ no-repeat; margin-top: 2px;}
#footer .social-links li.twitter .icon { background:url(../../../AssetLibrary/ICN-Twitter.png)/*tpa=http://www.cbre.com/AssetLibrary/ICN-Twitter.png*/ no-repeat; margin-top: 2px; }
#footer .social-links li.linkedin .icon { background-position: 0px -400px; margin-top: 2px;}
#footer .social-links li.googleplus .icon { background:url(../../../AssetLibrary/ICN-google-plus.png)/*tpa=http://www.cbre.com/AssetLibrary/ICN-google-plus.png*/ no-repeat; margin-top: 2px; }
#footer .social-links li.backflip .icon { background-position: 0px -64px; margin-top: 2px;}
#footer .social-links li.blinklist .icon { background-position: 0px -112px; margin-top: 2px;}
#footer .social-links li.blogmarks .icon { background-position: 0px -128px; margin-top: 2px;}
#footer .social-links li.delicious .icon { background-position: 0px -176px; margin-top: 2px;}
#footer .social-links li.digg .icon { background-position: 0px -192px; margin-top: 2px;}
#footer .social-links li.fark .icon { background-position: 0px -256px; margin-top: 2px;}
#footer .social-links li.faves.icon { background-position: 0px -144px; margin-top: 2px;}
#footer .social-links li.friendfeed .icon { background-position: 0px -304px; margin-top: 2px;}
#footer .social-links li.furl .icon { background-position: 0px -320px; margin-top: 2px;}
#footer .social-links li.linkagogo .icon { background-position: 0px -384px; margin-top: 2px;}
#footer .social-links li.magnolia.icon { background-position: 0px -432px; margin-top: 2px;}
#footer .social-links li.mixx .icon { background-position: 0px -464px; margin-top: 2px;}
#footer .social-links li.myspace .icon { background-position: 0px -496px; margin-top: 2px;}
#footer .social-links li.netvouz .icon { background-position: 0px -528px; margin-top: 2px;}
#footer .social-links li.newsvine .icon { background-position: 0px -544px; margin-top: 2px;}
#footer .social-links li.pownce .icon { background-position: 0px -560px; margin-top: 2px;}
#footer .social-links li.propeller .icon { background-position: 0px -576px; margin-top: 2px;}
#footer .social-links li.reddit .icon { background-position: 0px -592px; margin-top: 2px;}
#footer .social-links li.slashdot .icon { background-position: 0px -672px; margin-top: 2px;}
#footer .social-links li.stumbleupon .icon { background-position: 0px -704px; margin-top: 2px;}
#footer .social-links li.technorati .icon { background-position: 0px -752px; margin-top: 2px;}
#footer .social-links li.yahoo .icon { background-position: 0px -512px; margin-top: 2px;}


#footer .page-information { clear: both; padding: 1em 0 0;}


/* JavaScript icons */
.iconTriangle + a { margin-left: 8px; }
.iconSquare + a { margin-left: 8px; }

/* 
////////////////////////
Custom page styles
////////////////////////
*/
.content-area { padding: 0px 0 20px 0; position: relative; }

/* Homepage */
#mainarea.homepage {  width: 755px;  }
.homepage-column { float: left; width: 320px; } 
.homepage-column .s4-wpcell { margin: 20px 0; } 
.homepage-column .ms-WPHeader td { border-top: #69be28 3px solid; border-bottom: 0;}
.homepage-column.research-blocks { margin-right: 20px; width: 415px; }

/* Form buttons */
.article .button {  border: #69be28 1px solid; background: none repeat scroll 0 0 transparent; color: #69be28; cursor: pointer; margin: -5px 0 0 20px; padding: 3px 5px; position: relative; float: right;}
.article .button:hover {  border: #006a4d 1px solid; color: #006a4d; }

/* Teaser block styles*/ 
.teaser-block { border-top:#dfdfdf 1px solid;  display: box; display: -moz-box; display: -webkit-box;  padding: 15px 0; }
.teaser-blockImg { padding: 0 20px 0 0; width: 140px; }
.teaser-blockTxt {  box-flex: 1;  -moz-box-flex: 1;  -webkit-box-flex: 1; }
.no-flexbox .teaser-blockImg { float: left; }
.no-flexbox .teaser-blockTxt { float: left; width: 410px;}

.ms-rteTable-16 td { border-top:#dfdfdf 1px solid; padding: 15px 0; vertical-align: top; }
.ms-rteTable-16 td img { padding: 0 20px 0 0; width: 140px; }


/* People form */
.article .peopleFinder-form { margin: 20px 0; padding: 0;}
.peopleFinder-form li { display: block;}
.peopleFinder-form label { display: inline-block; margin: 4px 0; width: 110px; }
.peopleFinder-form input[type=text], .peopleFinder-form select { background:transparent; border: 1px solid #e5e5e5; display:inline-block; padding:4px; width: 300px}
.peopleFinder-form input[type=text]:focus, .peopleFinder-form select:focus { border: 1px #333 solid;  outline:none; }
.article .peopleFinder-form input.button { margin: 10px 20px 0 0; float: none;}

/* People results table */
.professionals-results, .ms-rteTable-7 {  width: 100%; }
.professionals-results td, .professionals-results th, .ms-rteTable-7 td, .ms-rteTable-7 th { border-bottom: #f2f2f2 1px solid; padding: 6px 0; }
.article ul.pagingLinks { display: block; margin: 1em 0; padding: 0; }
.article ul.pagingLinks li { display: inline-block; background: none; padding: 0 10px 0 0; }

/* People results virtual biz cards */
.professionals-results td .businesscard-info, .ms-rteTable-7 td .businesscard-info { display: none; }
.businesscard-info .column { float: left; padding: 20px 0; width: 200px; }
.businesscard-info .column:first-child { padding-right: 20px; }
.businesscard-info .cbre-logo { background:url(../../images/cbre-sprite.png)/*tpa=http://www.cbre.com/Style%20Library/images/cbre-sprite.png*/ 0 0 no-repeat; height: 47px; margin: 1.5em 0 0; width: 125px; }
.businesscard-info span { display: block;  margin-bottom: 0.5em;  }
.businesscard-info .office-city, 
.businesscard-info .office-province,
.businesscard-info .office-zip { display: inline;  margin-bottom: 0; }
.businesscard-info .office-address-1,
.businesscard-info .office-address-2,
.businesscard-info .employee-phone,
.businesscard-info .employee-fax,
.businesscard-info .employee-mobile { margin-bottom: 0; }
.businesscard-info .employee-email { margin-top: 0.5em; }

.employee-list ul { list-style: none; margin:0; padding: 0; }
.employee-list li { padding: 0 0 10px;}
.employee-list li span {display: block; }

/* 
////////////////////////
Share menu styles
//////////////////////// 
*/
#share { left: auto; position: fixed; right:-185px; top: 137px; z-index: 10; }
.share-tab { background:url(../../images/cbre-sprite.png)/*tpa=http://www.cbre.com/Style%20Library/images/cbre-sprite.png*/ -150px 0  no-repeat; cursor: pointer; float:left; height: 75px; margin: 10px 0 0 -50px; text-indent: -999em; width: 50px; }
.share-menu { background: #f2f2f2 url(../../images/cbre-gradients.png)/*tpa=http://www.cbre.com/Style%20Library/images/cbre-gradients.png*/ -215px -311px no-repeat; border-bottom: #d9d9d9 1px solid; border-top: #d9d9d9 1px solid; width: 185px; } 
.share-menu ul { margin: 10px 15px; padding: 0; }
.share-menu ul.social { border-top: #a9a9a9 1px dotted; padding:10px 0 0;}
.share-menu li {list-style: none; padding: 0 0 5px; }
.share-menu li a { display: inline-block; }
.share-menu li .icon { background:url(../../images/cbre-sprite.png)/*tpa=http://www.cbre.com/Style%20Library/images/cbre-sprite.png*/ 0 -70px no-repeat; display: block; float: left; height:13px; margin-right: 5px; width: 13px; }
.share-menu li.favorites .icon { background-position: -27px -70px; margin-top: 4px; }
.share-menu li.print .icon { background-position: 0 -70px; margin-top: 2px; }
.share-menu li.email .icon { background-position: -14px -70px; margin-top: 5px; }
.share-menu li.facebook .icon { background-position: -40px -70px;  margin-top: 2px;}
.share-menu li.twitter .icon { background-position: -56px -70px;  margin-top: 2px; }
.share-menu li.linkedin .icon { background-position: -72px -70px;  margin-top: 2px; }
/* AddThis Vertical Layout Menu */
.addthis_toolbox .vertical {background: #fff;width: 136px;padding: 1px;border: 3px solid #eee;-moz-border-radius: 5px;-webkit-border-radius: 5px;}
.addthis_toolbox .vertical a {position: relative;display: block;background: #fff;width: 185px;padding: 4px 0 4px 34px;text-decoration: none;color: #006a4d;}
 .addthis_toolbox .vertical a:hover {	background: #f5f5f5;color: #006a4d;text-decoration: none;-moz-border-radius: 4px;-webkit-border-radius: 4px;}
 .addthis_toolbox .vertical span {position: absolute;left: 14px;top: 4px;}
 .addthis_toolbox .vertical .more {border-top: solid 1px #eee;padding: 10px 0 0 0;margin: 10px 10px 0 10px;text-align: center;}
.addthis_toolbox .vertical .more a {padding: 4px 0;margin: 0;}
.addthis_toolbox .vertical .more a:hover {background: none;}
 .addthis_toolbox .vertical .more span {display: none;}

/* Testimonials table */ 
.ms-rteTable-12 td { padding: 0 0 1.5em; }
.ms-rteTable-12 p { padding: 0 0 0 20px; position: relative; }

/* Case Studies table styles */
.ms-rteTable-13 { margin:0 0 20px 0;  }
.ms-rteTable-13 td { }
.ms-rteTable-13 td img { padding: 0 20px 0 0; }

/* Downloads table styles */
.ms-rteTable-8 { margin:0 0 20px 0;  }
.ms-rteTable-8 td { }
.ms-rteTable-8 td img { padding: 0 20px 0 0; }

/* Lightbox table styles */
.ms-rteTable-9 { margin:0 0 20px 0;  }
.ms-rteTable-9 td { padding: 0 20px 10px 0; }

.ms-rteTable-14 { margin: 0 0 1.5em; width: 100%; }
.ms-rteTable-14 td { padding:0 5px 5px 0; vertical-align:top;}
.ms-rteTable-14 h4  { margin-top: 0; }

.ms-rteTable-15 th { border-bottom: #ccc 1px solid; vertical-align: bottom; padding:0 10px 10px 10px; } 
.ms-rteTable-15 td { border-bottom: #e5e5e5 1px solid; padding: 10px; } 
.ms-rteTable-15 tr:nth-child(even) td, .ms-rteTable-15 tr.even td { background: #f2f2f2; } 

.ms-rteTable-10  {  }
.ms-rteTable-10 td { padding: 6px 20px 6px 0; vertical-align: top; }

.ms-rteTable-11 { border: #f2f2f2 1px solid; display: inline-block; margin:0 4% 20px 0; width: 45%; vertical-align: top; }
.ms-rteTable-11 td, .ms-rteTable-11 th {  padding: 0 10px 4px; vertical-align: top; }
.ms-rteTable-11 th:first-child {  padding: 10px 10px 0; }
.ms-rteTable-11 td:first-child { width: 110px; }

/* 
////////////////////////
Tab Control styles
//////////////////////// 
*/

/* default layout */
.ajax__tab_default .ajax__tab_tab {margin:0;text-align:left;}

/* publishing layout */
.ajax__tab_publishing { border:#f2f2f2 1px solid; padding: 20px;  }
.ajax__tab_publishing .ajax__tab_header { float: left; width: 20%; margin-right: -1px; }
.ajax__tab_publishing .ajax__tab_outer {display:block;}
.ajax__tab_publishing .ajax__tab_inner {display:-moz-inline-box;display:inline-block}
.ajax__tab_publishing .ajax__tab_tab {text-align:left;cursor:pointer;display:block;}
.ajax__tab_publishing .ajax__tab_body { float: left; padding-left: 10px; position: relative; width: 75%; }

/* CBRE custom theme */
.ajax__tab_cbre.ajax__tab_default .ajax__tab_header { border-bottom:1px #69be28 solid; margin: 0 0 5px;}
.ajax__tab_cbre.ajax__tab_default .ajax__tab_outer { border-left:1px #69be28 solid; margin-left:12px; padding-left:12px; }
.ajax__tab_cbre.ajax__tab_default .ajax__tab_header span:first-child .ajax__tab_outer { border:none; margin:0; padding: 0; }
.ajax__tab_cbre.ajax__tab_publishing .ajax__tab_header { border-right:1px #69be28 solid; }
.ajax__tab_cbre.ajax__tab_publishing .ajax__tab_body { border-left:1px #69be28 solid; }
.ajax__tab_cbre.ajax__tab_publishing .ajax__tab_outer { border-top:1px #69be28 solid; margin-top:4px;padding-top:6px; }
.ajax__tab_cbre.ajax__tab_publishing .ajax__tab_header span:first-child .ajax__tab_outer { border:none; margin:0; padding: 0; }
.ajax__tab_cbre.ajax__tab_publishing .ajax__tab_inner {margin-bottom:6px;}

/* 
////////////////////////
Clears
//////////////////////// 
*/

#s4-bodyContainer:after,
.nav-toplevel ul:after,
.nav-language ul:after,
#titlerow:after,
.main-container:after,
.content-container:after,
.footer-container:after,
.tools-container:after,
.main-content:after,
.main-area:after,
.search:after,
.no-flexbox .article ul.pagingLinks li:after,
.no-flexbox .peopleFinder-form li:after,
.no-flexbox .article ul.recognition li:after,
.no-flexbox .teaser-block:after,
#breadcrumb:after,
.ajax__tab_publishing:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; width: 100%; }

#s4-bodyContainer,
.nav-toplevel ul,
.nav-language ul,
#titlerow,
.main-container:after,
.content-container:after,
.footer-container:after,
.tools-container:after,
.main-content:after,
.main-area:after,
.search,
.no-flexbox .article ul.pagingLinks li,
.no-flexbox .peopleFinder-form li,
.no-flexbox .article ul.recognition li,
.no-flexbox .teaser-block,
#breadcrumb,
.ajax__tab_publishing { zoom: 1; }

}

@media only screen and (max-device-width:480px) {
 
}

/* jReject (jQuery Browser Rejection Plugin) */

#jr_overlay {
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
	z-index: 200;
	position: absolute;
}

#jr_wrap {
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 300;
	padding: 0;
	margin: 0;
}

#jr_inner {
	font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
	font-size: 12px;
	background: #FFF;
	border: 1px solid #CCC;
	color: #4F4F4F;
	margin: 0 auto;
	height: auto;
	padding: 20px;
	position: relative;
}

#jr_header {
	display: block;
	color: #333;
	padding: 5px;
	padding-bottom: 0;
	margin: 0;
	font-family: Helvetica,Arial,sans-serif;
	font-weight: bold;
	text-align: left;
	font-size: 1.3em;
	margin-bottom: 0.5em;
}

#jr_inner p {
	text-align: left;
	padding: 5px;
	margin: 0;
}

#jr_inner ul {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#jr_inner ul li {
	cursor: pointer;
	float: left;
	width: 120px;
	height: 122px;
	margin: 0 10px 10px 10px;
	padding: 0;
	text-align: center;
}

#jr_inner li a {
	color: #333;
	font-size: 0.8em;
	text-decoration: none;
	padding: 0;
	margin: 0;
}

#jr_inner li a:hover {
	text-decoration: underline;
}

#jr_inner .jr_icon {
	width: 100px;
	height: 100px;
	margin: 1px auto;
	padding: 0;
	background: transparent no-repeat scroll left top;
	cursor: pointer;
}

#jr_close {
	margin: 0 0 0 50px;
	clear: both;
	text-align: left;
	padding: 0;
	margin: 0;
}

#jr_close a {
	color: #000;
	display: block;
	width: auto;
	margin: 0;
	padding: 0;
	text-decoration: underline;
}

#jr_close p {
	padding: 10px 0 0 0;
	margin: 0;
}
 