.custom-rp {
    float: right;
    padding: 2px 10px 2px 5px;
}

.s4-trc-container-menu
{
    float: left;
    margin: 0px 0px 0px 2px;
}

.s4-help
{
    display: inline-block;
    margin: 0px 0px 0px 2px;
}

.s4-ca
{
    background-color : transparent;
}

.ms-WPTitle
{
    border: 0px;
    margin: 0;
    padding: 0;
    font-size: 1em;
    line-height: 1em;
}

.ms-WPHeader { background: none; }

.ms-WPHeader td, .ms-fakewptitle
{
    border-bottom-color: transparent;
    border-bottom-style: none;
    border-bottom-width: 1px;
    border-collapse: collapse;
}

.ms-WPTitle, .ms-WPTitle a {
    color: #000000;
}

.ms-WPBody
{
    font-size: 1em;
}

.ms-WPBody a:link, .ms-WPBody a:visited {
    text-decoration: none;
}

.ms-WPBody a:active, .ms-WPBody a:hover {
    text-decoration: underline;
}

.s4-wpcell:hover .ms-WPHeader td, .s4-wpActive .ms-WPHeader td, .s4-wpcell .ms-WPSelected .ms-WPHeader td
{
    border-bottom-color: transparent;
    border-bottom-style: none;
    border-bottom-width: 0px;
}

.ms-WPHeader td
{  

}

.ms-WPHeaderTdMenu
{
    border-right-style: none;
    border-left-style: none;
    border-right-width: 0px;
    border-left-width: 0px;
}

.s4-breadcrumb-menu
{
    background-color: #FFFFFF;
}

div.article
{
    padding: 0px;
}

.s4-ca 
{
    margin-left: 0px;
}


.main-content
{
    float: left;
    width: 755px;
}

.ms-wpContentDivSpace {
    margin-left: 0px;
    margin-right: 0px;
}

.ms-wpTdSpace
{
    display:none;
}

.dfwp-list { margin: 0 0 1em; padding: 0; }
.dfwp-list li { background:url(../../images/cbre-sprite.png)/*tpa=http://www.cbre.com/Style%20Library/images/cbre-sprite.png*/ -220px 5px no-repeat; list-style: none; margin: 0; padding: 0 0 3px 10px; }
.dfwp-list li ul { margin: 3px 0 0 18px; }
.dfwp-list li ul li { background-position:-220px -194px; }

body.v4master {
    height: 100%;
    overflow:hidden;
    width: 100%;
}

.ms-formfieldvaluecontainer textarea, .ms-formfieldvaluecontainer input[type="text"] { width: 100% }

.ms-selectorlink a:hover, .ms-selectorlink a:active {
    color: #006a4d;
    font-weight: inherit;
    text-decoration: underline;
}

.ms-selectorlink a, .ms-selectorlink a:visited {
    color: #006a4d;
}