.not-front #bw-content .content {
     background-image: url("client_files/images/gradient_front.png")/*tpa=http://news.gamestop.com/sites/gamestopcorp.newshq.businesswire.com/themes/gamestopcorp_newshq_businesswire_com_theme/client_files/images/gradient_front.png*/;

}

.not-front #bw-content {
     background-image: url("client_files/images/gradient.png")/*tpa=http://news.gamestop.com/sites/gamestopcorp.newshq.businesswire.com/themes/gamestopcorp_newshq_businesswire_com_theme/client_files/images/gradient.png*/;
}
.front #bw-content {
background: url(client_files/images/gradient_front.png)/*tpa=http://news.gamestop.com/sites/gamestopcorp.newshq.businesswire.com/themes/gamestopcorp_newshq_businesswire_com_theme/client_files/images/gradient_front.png*/ no-repeat top left;
}


.front #bw-content h1 span:first-child, 
#bw-content-header h1 span:first-child {
    color: #000;
}

.front #bw-content h1 span:first-child + span, 
#bw-content-header h1 span:first-child + span {
    color: #EE3026;
}

#bw-content #bw-sidebar-right h2,
.not-front #bw-content-content,
.not-front #bw-content {
    font-size: 12px;
    line-height: 24px;
}

#edit-delete, #edit-submit, #edit-submit-1, .hdr .search input[type="submit"] {
    background: url("client_files/images/button_gradient1.png")/*tpa=http://news.gamestop.com/sites/gamestopcorp.newshq.businesswire.com/themes/gamestopcorp_newshq_businesswire_com_theme/client_files/images/button_gradient1.png*/;
}