.not-front #bw-content .content {
     background-image: url("client_files/images/gradient_front.png")/*tpa=http://news.gamestop.com/sites/gamestopcorp.newshq.businesswire.com/themes/gamestopcorp_newshq_businesswire_com_theme/client_files/images/gradient_front.png*/;

}

.not-front #bw-content {
     background-image: url("client_files/images/gradient.png")/*tpa=http://news.gamestop.com/sites/gamestopcorp.newshq.businesswire.com/themes/gamestopcorp_newshq_businesswire_com_theme/client_files/images/gradient.png*/;
}
.front #bw-content {
background: url(client_files/images/gradient_front.png)/*tpa=http://news.gamestop.com/sites/gamestopcorp.newshq.businesswire.com/themes/gamestopcorp_newshq_businesswire_com_theme/client_files/images/gradient_front.png*/ no-repeat top left;
}

#edit-delete, #edit-submit, #edit-submit-1, .hdr .search input[type="submit"] {
    background: url("client_files/images/button_gradient1.png")/*tpa=http://news.gamestop.com/sites/gamestopcorp.newshq.businesswire.com/themes/gamestopcorp_newshq_businesswire_com_theme/client_files/images/button_gradient1.png*/;
}