@media screen 
{
    
.slider-globalhome { position: relative; width: 755px; }
.slider-globalhome .slider p {
    font-size: 0.92em;
    line-height: 1.27em;
}
.slider-home { float:left; padding-right:20px; vertical-align: top; width: 600px; }
.slider-globalaccolades { position: relative; width: 200px; }
.slider-accolades { position: relative; width: 380px; }
.slider-accolades a { display: block; }
/*
/////////////////////
Country Sliders
/////////////////////
*/

/*Default slider*/
.slider-banner { margin: 0 0 1em; }
.slider { background: #006a4d; clear: both; height: 240px; margin: 0 0 6px; overflow: hidden;  position: relative;}
.slider .slider-container { height: 240px; position: absolute; width: 2000em; }
.slider .slider-panel { height: 240px; float:left; position: relative; width: 620px; }
.slider .slider-img { position: relative; }
.slider .slider-content { background: #006a4d; height: 200px; left: auto; padding: 20px; position: absolute; right: 0; top: 0; width:280px; }

/*Large slider (default for #mainarea.fullpage) */
.fullpage .slider, .fullpage .slider-container { height: 300px; }
.fullpage .slider .slider-panel { height: 300px; width: 780px; }
.fullpage .slider .slider-content { height: 260px; }

/*Thin slider*/
.fullpage .slider.slider-thin, .fullpage .slider.slider-thin .slider-container {height: 240px; }
.fullpage .slider.slider-thin .slider-panel { height: 240px; width: 780px; }
.fullpage .slider.slider-thin .slider-content { height: 200px; }

/*Homepage slider (country homepages)*/
.slider-home .slider { background: none; height: auto; }
.slider-home .slider-container { height: auto; position: relative; }
.slider-home .slider .slider-panel { height: auto; width: 600px; }
.slider-home .slider .slider-content { background: none; height: auto; padding: 0; position: relative;  width:auto; }
.slider-home .slider .playButton { background:url(../images/cbre-sprite.png)/*tpa=http://www.cbre.com/Style%20Library/images/cbre-sprite.png*/ 0 -142px no-repeat; height:108px; width: 108px; left: 246px; position: absolute; top:70px;}
.slider-home .slider .slider-video { display: none; }

/*Accolades & Leadership slider (country homepages) */
.slider-accolades .slider  { background: none; height: auto; }
.slider-accolades .slider-container { height: auto; position: relative; }
.slider-accolades .slider .slider-panel { height: auto; width: 380px; padding: 1em 0 0;}
.slider-accolades .slider .slider-img { float: right; margin: 0 25px 15px 0; position: relative; width: 140px; }
.slider-accolades .slider .slider-content { background: none; height: auto; width:auto; padding: 0; position: relative; }
.slider-accolades .slider .slider-content a:last-child { display: block; margin: .5em 0;}
.slider-accolades .slider .slider-content h4 { margin-top: 0;}

/*Fade effects*/ 
.slider.fade .slider-panel { display: none; float:none; left: 0; position: absolute; top:0; z-index:0;}
.slider-home .fade .slider-container { min-height: 32em; }
.slider-accolades .fade .slider-container { min-height: 14em; }

/* navigation dots */
.navi { position: relative; }
.navi a { background:url(../images/cbre-sprite.png)/*tpa=http://www.cbre.com/Style%20Library/images/cbre-sprite.png*/ 0 -90px no-repeat; display: block; float: left; height: 7px; margin: 0 3px 0 0; width: 8px; }
.navi a:hover { background-position: 0 -97px; }
.navi a:focus, .navi a:active { outline: none; }
.navi a.active, .navi a.current { background-position: 0 -104px;  }

/* Clears */
.slider-banner:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; width: 100%; }
.slider-banner { zoom:1 }

/* Typograpy adjustments */
.slider-banner .slider h1, .slider-banner .slider h2, .slider-banner .slider h3, .slider-banner .slider h4, .slider-banner .slider h5, .slider-banner .slider h6, .slider-banner .slider li, .slider-banner .slider p { color: #fff; }
.slider-banner .slider a, .slider-banner .slider a:link, .slider-banner .slider a:visited { color: #69be28; }
#mainarea .slider .slider-content li { background: none; padding-left: 0; position: relative; }
.slider-banner .slider-content a { font-weight: bold; }
.slider-home .slider-container a { color: #69be28; font-size: .92em; font-weight: bold; line-height:1.27em; white-space: nowrap; }

/* Shadowbox video */
#sb-player .slider-img { display: none; }

/*
/////////////////////
Global Sliders
/////////////////////
*/

/*Homepage slider (global homepage)*/
.slider-globalhome .slider  { background: none; height: 270px; }
.slider-globalhome .slider .slider-panel { height: 270px; width: 755px; }
.slider-globalhome .slider .slider-content { background: none; height: auto; right:30px; width:380px; }
.slider-globalhome .slider .left .slider-content { left:30px; right:auto; }
.slider-globalhome .slider .slider-video { display: none; }

.slider-globalhome .slider .slider-gradient { height: 270px; left: 0; position: absolute; top:0; width: 755px; }
.slider-globalhome .slider .darkFade .slider-gradient { background: -webkit-gradient( linear, right top, left top, color-stop(0.9, rgba(0,0,0,0.0)),  color-stop(0.4, rgba(0,0,0,0.85)) ); background: -moz-linear-gradient( center right, rgba(0,0,0,0.85) 40%, rgba(0,0,0,0.0) 90% ); }
.slider-globalhome .slider .darkFade.left .slider-gradient { background: -webkit-gradient( linear, left top, right top, color-stop(0.9, rgba(0,0,0,0.0)),  color-stop(0.4, rgba(0,0,0,0.85)) ); background: -moz-linear-gradient( center left, rgba(0,0,0,0.85) 40%, rgba(0,0,0,0.0) 90% ); }
.slider-globalhome .slider .lightFade .slider-gradient { background: -webkit-gradient( linear, right top, left top, color-stop(0.9, rgba(255,255,255,0.0)),  color-stop(0.4, rgba(255,255,255,0.9)) ); background: -moz-linear-gradient( center right, rgba(255,255,255,0.9) 40%, rgba(255,255,255,0.0) 90% ); }
.slider-globalhome .slider .lightFade.left .slider-gradient { background: -webkit-gradient( linear, left top, right top, color-stop(0.8, rgba(255,255,255,0.0)),  color-stop(0.25, rgba(255,255,255,0.85)) ); background: -moz-linear-gradient( center left, rgba(255,255,255,0.85) 25%, rgba(255,255,255,0.0) 80% ); }

/* Gradient backgrounds for .no-cssgradients */

.no-cssgradients .slider-globalhome .slider .darkFade .slider-gradient { background: url(../images/globalslider_gradients.png)/*tpa=http://www.cbre.com/Style%20Library/images/globalslider_gradients.png*/ 0 0 no-repeat; }
.no-cssgradients .slider-globalhome .slider .darkFade.left .slider-gradient { background: url(../images/globalslider_gradients.png)/*tpa=http://www.cbre.com/Style%20Library/images/globalslider_gradients.png*/ -755px 0 no-repeat; }
.no-cssgradients .slider-globalhome .slider .lightFade .slider-gradient { background: url(../images/globalslider_gradients.png)/*tpa=http://www.cbre.com/Style%20Library/images/globalslider_gradients.png*/ 0 -540px no-repeat; }
.no-cssgradients .slider-globalhome .slider .lightFade.left .slider-gradient { background: url(../images/globalslider_gradients.png)/*tpa=http://www.cbre.com/Style%20Library/images/globalslider_gradients.png*/ -755px -540px no-repeat; }

.slider-globalhome .navi { margin: -28px 0 0;  letter-spacing: -0.25em; text-align: center; }
.slider-globalhome .navi a { display: inline-block; float: none; }
.slider-globalhome .next, .slider-globalhome .prev { background:url(../images/cbre-sprite.png)/*tpa=http://www.cbre.com/Style%20Library/images/cbre-sprite.png*/ -44px -90px no-repeat; display: block; height: 26px; left:10px; margin: -13px 0 0; position: absolute; top:50%; width: 26px; z-index: 10; }
.slider-globalhome .next { background-position:-70px -90px; left: auto; right:10px; }
.slider-globalhome .next:hover, .slider-globalhome .prev:hover { background-position:-44px -116px; cursor: pointer; }
.slider-globalhome .next:hover { background-position:-70px -116px; }

/*Accolades & Leadership slider (global homepage) */
.slider-globalaccolades .slider  { background: none; height: auto; padding: 1em 0 0; }
.slider-globalaccolades .slider-container { height: auto; position: static; }
.slider-globalaccolades .slider-panel { height: auto; width: 200px; }
.slider-globalaccolades .slider-img { float: none; padding: 0 5px 10px; position: relative; width: auto; }
.slider-globalaccolades .slider-content { background: none; display: inline; height: auto; padding: 0; position: relative; width:auto; }
.slider-globalaccolades .navi { margin: -5px 0 0;  letter-spacing: -0.25em; text-align: center; }
.slider-globalaccolades .navi a { display: inline-block; float: none; }
.slider-globalaccolades .next, .slider-globalaccolades .prev { background:url(../images/cbre-sprite.png)/*tpa=http://www.cbre.com/Style%20Library/images/cbre-sprite.png*/ -11px -90px no-repeat; display: block; float: left; height: 15px; margin: -5px 0 0; position: relative; width: 15px; z-index: 10; }
.slider-globalaccolades .next { background-position:-26px -90px; float: right; }
.slider-globalaccolades .next:hover, .slider-globalaccolades .prev:hover { background-position:-11px -105px; cursor: pointer; }
.slider-globalaccolades .next:hover { background-position:-26px -105px; }

/*Fade effects*/
.slider-globalaccolades .fade .slider-container { min-height: 13em; }

/* Typograpy adjustments */
.slider-globalhome .slider .slider-panel.dark h1, 
.slider-globalhome .slider .slider-panel.dark h3, 
.slider-globalhome .slider .slider-panel.dark h4, 
.slider-globalhome .slider .slider-panel.dark h5, 
.slider-globalhome .slider .slider-panel.dark h6, 
.slider-globalhome .slider .slider-panel.dark li, 
.slider-globalhome .slider .slider-panel.dark p { color: #fff; }
.slider-globalhome .slider .slider-panel.dark a, 
.slider-globalhome .slider .slider-panel.dark a:link, 
.slider-globalhome .slider .slider-panel.dark a:visited { color: #69be28;}
.slider-globalhome .slider-container a {  font-weight: bold; white-space: nowrap; }

.simple_overlay
{
    /* must be initially hidden */
    border: 10px solid #ECECEC;
    background-color:#FFFFFF;
    display: none;
}

/* close button positioned on upper right corner */
.simple_overlay .close
{
    background: url(../images/cbre-sprite.png)/*tpa=http://www.cbre.com/Style%20Library/images/cbre-sprite.png*/ -160px -75px no-repeat;
    bottom: -16px;
    cursor: pointer;
    height: 27px;
    left: auto;
    position: absolute;
    right: -16px;
    top: auto;
    width: 27px;
    z-index:1;
}

}