/* ######### CSS for Shade Tabs. Remove if not using ######### */
.tab_header
{
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    width: 100%;
}

.shadetabs
{
    padding: 3px 0 2px 0;
    margin-left: 0;
    margin-top: 1px;
    margin-bottom: 0;
    list-style-type: none;
    text-align: left;
    list-style-position: inside;
    border-bottom-color: #69be28;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.shadetabs li, .text-content ul.shadetabs li
{
    background: none;
    display: inline-block;
    margin: 0;
  	padding: 0;
}

.shadetabs.compact li:first-child a
{
    border: none;
    padding-left: 0;
    margin-left: 0;
}

.shadetabs li:first-child a
{
    border: none;
    padding-left: 0;
    margin-left: 0;
}

.shadetabs li a
{
    text-decoration: none;
    position: relative;
    z-index: 1;
    padding: 0px 10px 6px 10px;
    margin-right: 0px;
    color: #006a4d;
    font-size: 0.92em;
    font-weight: bold;
    line-height: 1.85em;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #69be28;
}

.shadetabs.compact li a
{/*
    text-decoration: none;
    position: relative;
    z-index: 1;
    padding: 3px 6px 3px 10px;
    margin-right: 3px;
    color: #006a4d;
    font-size: 0.92em;
    font-weight: bold;
    line-height: 1.27em;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #69be28;*/
}
.shadetabs li a:visited
{
    color: #006a4d;
}

.shadetabs li a:hover
{
    text-decoration: underline;
    color: #006a4d;
}

.shadetabs li a.selected
{
    /*selected main tab style */
    position: relative;
    top: 0px;
}

.shadetabs li a.selected
{
    /*selected main tab style */
    color: #69be28;
}

.shadetabs li a.selected:hover
{
    /*selected main tab style */
    text-decoration: underline;
}

.tabcontent
{
    margin: 0px;
    display: none;
}
.tabpanel
{
}

@media print
{
    .tabcontent
    {
        display: block !important;
    }
}
