@media screen {

/* Expanded menu */
.expanded-menu { background: #fff url(../images/cbre-expandedMenu.png)/*tpa=http://www.cbre.com/Style%20Library/images/cbre-expandedMenu.png*/ center bottom no-repeat; border-bottom: 2px #69be28 solid; border-top: 1px #f2f2f2 solid; left:-13px;  padding: 11px 13px 19px; position: absolute; visibility: hidden; }
.nav-toplevel .expanded-menu ul { border-top: 1px #f2f2f2 solid; margin: 0; padding: 0; position: static;}
.nav-toplevel .expanded-menu li { border-bottom: 1px #f2f2f2 solid; float: none; margin: 0; position: static; width: 160px; }  
.nav-toplevel .expanded-menu a { padding: 5px 0; }
.nav-toplevel li:hover .expanded-menu { visibility: visible; }
.nav-toplevel .shadow-topleft, .nav-toplevel .shadow-topright, .nav-toplevel .shadow-mainleft, .nav-toplevel .shadow-mainright { background: url(../images/cbre-expandedMenu.png)/*tpa=http://www.cbre.com/Style%20Library/images/cbre-expandedMenu.png*/ 0 -9px no-repeat;  position: absolute;  width: 7px; }
.nav-toplevel .shadow-topleft { left:-7px; }
.nav-toplevel .shadow-topright { background-position: -7px -9px; left:auto; right:-7px; }
.nav-toplevel .shadow-mainleft { background-position: 0 -23px; left:-7px; top:0; }
.nav-toplevel .shadow-mainright { background-position: -7px -23px; left:auto; right:-7px; top:0; }
.nav-toplevel .shim { background: url(../images/cbre-expandedMenu.png)/*tpa=http://www.cbre.com/Style%20Library/images/cbre-expandedMenu.png*/ 0 -1170px repeat-x; left:0; padding: 0 12px; position: absolute; }
.nav-toplevel .expanded-menu .column { float: left; width: 160px; }
.nav-toplevel .expanded-menu .column:first-child { margin: 0 10px 0 0; }

/* Expanded menu layout options */
.expanded-menu-links, .expanded-menu-thumbs, .expanded-menu-thumbs .teaser { float:left; }
.expanded-menu-thumbs { margin-left: 10px; }
.doubleCol .expanded-menu-links { width: 330px; }
.expanded-menu.singleImg { width:250px; }
.expanded-menu.singleImg .expanded-menu-thumbs { width:80px; }
.expanded-menu.doubleImg { width:350px; }
.expanded-menu.doubleImg .expanded-menu-thumbs { width:180px; }
.expanded-menu.doubleCol.singleImg { width:420px; }
.expanded-menu.doubleCol.doubleImg { width:520px; }
.singleImg .expanded-menu-thumbs {   }
.expanded-menu-thumbs .teaser { margin-left: 20px; width: 80px; }
.expanded-menu-thumbs .teaser:first-child { margin-left: 0; }
.expanded-menu-thumbs .note { border-top: 1px #f2f2f2 solid; float:left; margin-top:5px; padding-top:10px; }
.expanded-menu-thumbs .note p { margin: 0; }
.nav-toplevel .iconTriangle + a { margin-left: 8px; }

/* Expanded menu */
.expanded-menu { font-size: .92em; line-height:1.27em; }
.expanded-menu-thumbs .link a,.expanded-menu-thumbs .link a:link,.expanded-menu-thumbs .link a:visited { color:#69be28; }
.expanded-menu-thumbs .link a:active,.expanded-menu-thumbs .link a:hover { color:#006a4d;  }

}