.globalHelpModule { vertical-align:baseline; width:187px; float:left; background:url("../../../../../img.cdw.com/content/modules/helpModule/helpModule-header-bg.gif")/*tpa=http://img.cdw.com/content/modules/helpModule/helpModule-header-bg.gif*/ no-repeat top left; font-family:Arial, Helvetica, sans-serif; }
.globalHelpModule .contentWrapper { margin-bottom:5px; z-index:1; border:1px solid #3a678e; border-top:none; padding:0 8px 0 10px; background:#fff;}
.globalHelpModule .welcomeNugget  { margin-bottom:5px; z-index:1; border:1px solid #3a678e; padding:8px 8px 0 10px; background:#fff;}
.globalHelpModule h4 { font-size:13px; color:#333; font-weight:bold; padding:0; margin:0; padding-top:8px}
.globalHelpModule h3 { padding:0; margin:0;}
.globalHelpModule .accountManager h4 { font-weight:normal; }
.globalHelpModule p { font-size:11px; color:#666; padding:0 0 5px 0; margin:0;}
.globalHelpModule .accountManager p { font-size:11px; padding:7px 0 0 0; }
.globalHelpModule .accountManager a { color:#333; text-decoration:underline; }
.globalHelpModule .arrowBullet a{ background:url(../../../../../img.cdw.com/assets/pages/checkout/arrowBullet.gif)/*tpa=http://img.cdw.com/assets/pages/checkout/arrowBullet.gif*/ 0px 2px no-repeat; padding-left:10px; display:block; text-decoration:underline; margin:0px 0 15px 0;}

.globalHelpModule .websiteAssistance { clear:both; margin-top:8px; }
.globalHelpModule .websiteAssistance p { font-size:11px; color:#666; }
.globalHelpModule .websiteAssistance .phone { background:url("../../../../../img.cdw.com/assets/icons/help-phone.gif")/*tpa=http://img.cdw.com/assets/icons/help-phone.gif*/ no-repeat scroll 0 0 transparent; display:block; color:#333; font-size:13px; padding:2px 10px 10px 40px; font-weight:bold; margin:8px 0 0 0; }
.globalHelpModule .websiteAssistance .chatLink { background:url("../../../../../img.cdw.com/assets/icons/help-qa.gif")/*tpa=http://img.cdw.com/assets/icons/help-qa.gif*/ no-repeat scroll 0 0 transparent; display:block; color:#076bb8; text-decoration:underline; padding:2px 10px 10px 40px; margin:8px 0 0 0; font-size:12px; }
.globalHelpModule .websiteAssistance .emailLInk { background:url("../../../../../img.cdw.com/assets/icons/help-email.gif")/*tpa=http://img.cdw.com/assets/icons/help-email.gif*/ no-repeat scroll 5% 25% transparent; display:block; color:#076bb8; text-decoration:underline; padding:0px 10px 5px 40px; margin:8px 0 0 0; font-size:12px; }
.globalHelpModule .websiteAssistance .ReqCall { background:url("../../../../../img.cdw.com/assets/icons/request-a-call-21x21.png")/*tpa=http://img.cdw.com/assets/icons/request-a-call-21x21.png*/ no-repeat scroll 5% 25% transparent; display:block; color:#076bb8; text-decoration:underline; padding:0px 10px 5px 40px; margin:8px 0 0 0; font-size:12px; }

.globalHelpModule .in { color:#316700!important; font-weight:bold; }
.globalHelpModule .out { color:#C00; font-weight:bold; }
.globalHelpModule .amPic { float:left; padding:0 5px 5px 0; }
.hideHeader { background:none!important; }
.noWrapEmail{ white-space:nowrap; white-space:pre-wrap;}
.globalHelpModule .linkDisplay { cursor: pointer;}

/* Horizontal Layout */
.globalHelpModuleHorizontal { clear:left; background:url("../../../../../img.cdw.com/content/modules/helpModule/horizontal-header-right.gif")/*tpa=http://img.cdw.com/content/modules/helpModule/horizontal-header-right.gif*/ top right no-repeat; float:left;}
.globalHelpModuleHorizontal .contentWrapper{ width:auto;}
.globalHelpModuleHorizontal h3 { background:url("../../../../../img.cdw.com/content/modules/helpModule/horizontal-header-left.gif")/*tpa=http://img.cdw.com/content/modules/helpModule/horizontal-header-left.gif*/ top left no-repeat; width:auto;}
.globalHelpModuleHorizontal .contentWrapper { .height:183px; /* Height fix for IE */}
.horizontalContent { float:left; width:165; height:163px }
.horizontalMargin {margin: 0 10px 0 10px;}
.fiveSection{ width:960px;}
.fourSection{ width:740px;}
.threeSection{ width:555px;}
.twoSection{ width:370px;}
.oneSection{ width:187px;}

.js .helpContent{ display: none; position:absolute; width:167px; .width:187px; background:#fff; /*Prevents content flash */ }
.js .horizontalContentWrapper { display: none; position:absolute;  background:#fff; /*Prevents content flash */ }

.globalHelpModule .helpContent{ display: none; position:absolute; width:167px; .width:187px; background:#fff; /*Prevents content flash */ }
.globalHelpModule .horizontalContentWrapper { display: none; position:absolute;  background:#fff; /*Prevents content flash */ }

/* Help Module No JavaScript */
.helpModuleNoJs { width:187px; float:left; margin:10px; }

div.HelpModuleContainer { float: right; background-color: #ffffff; }

/* Temp solutions for header help module */
.helpModulePresistatnBar { display: none; }