.tabmenu {margin-left: 11px; padding: 0; clear: both; }
	
.tabmenu li { display: inline; }
.tabmenu li a 
{ 
		background: url(../images/Tab.png)/*tpa=http://www.mohawkind.com/images/Tab.png*/ no-repeat;
		text-align: center;
		width: 98px;
		padding: 9px 0px 3px 0px;
		float:left;
		border-bottom: none;
		text-decoration: none;
		color: #ffffff;
		font-weight: bold;
}
.tabmenu li.active a
{
		background: url(../images/TabSelect.png)/*tpa=http://www.mohawkind.com/images/TabSelect.png*/ no-repeat;
		text-align: center;
		width: 98px;
		padding: 9px 0px 3px 0px;		
		float:left;
		border-bottom: none;
		text-decoration: none;
		color: #ffffff;
		font-weight: bold;
}
.tabcontent
{
		float: left;
		clear: both;		
		border-top: none;
		border-left: none;
		background: #e3e1db;
		/*padding: 10px 15px 15px;*/
		width: 500px;
		margin-left:2px;
}