/* 
////////////////////////
Font declarations 
////////////////////////
*/
@font-face {
font-family: 'FuturaBold';
src: url('../../../fonts/futurb01-webfont.eot')/*tpa=http://www.cbre.com/Style%20Library/fonts/futurb01-webfont.eot*/;
src: local('?'), url('../../../fonts/futurb01-webfont.woff')/*tpa=http://www.cbre.com/Style%20Library/fonts/futurb01-webfont.woff*/ format('woff'), url('../../../fonts/futurb01-webfont.ttf')/*tpa=http://www.cbre.com/Style%20Library/fonts/futurb01-webfont.ttf*/ format('truetype'), url('../../../fonts/futurb01-webfont.svg#webfontd3NYLHzI')/*tpa=http://www.cbre.com/Style%20Library/fonts/futurb01-webfont.svg#webfontd3NYLHzI*/ format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'FuturaMedium';
src: url('../../../fonts/futurbtm-webfont.eot')/*tpa=http://www.cbre.com/Style%20Library/fonts/futurbtm-webfont.eot*/;
src: local('?'), url('../../../fonts/futurbtm-webfont.woff')/*tpa=http://www.cbre.com/Style%20Library/fonts/futurbtm-webfont.woff*/ format('woff'), url('../../../fonts/futurbtm-webfont.ttf')/*tpa=http://www.cbre.com/Style%20Library/fonts/futurbtm-webfont.ttf*/ format('truetype'), url('../../../fonts/futurbtm-webfont.svg#webfont0LpaDWjZ')/*tpa=http://www.cbre.com/Style%20Library/fonts/futurbtm-webfont.svg#webfont0LpaDWjZ*/ format('svg');
font-weight: normal;
font-style: normal;
}
body, .ms-WPBody , .ms-WPBody td, .homepage-column h2 { font-family:Arial, Helvetica, sans-serif; }
.ms-selectorlink, .ms-toolbar { font-family:Arial, Helvetica, sans-serif !important; }
h1, h3, h3.ms-WPTitle  { font-family: 'FuturaMedium', Arial, Helvetica, sans-serif; font-weight: normal !important; }
h2, h4 { font-family: 'FuturaBold', Arial, Helvetica, sans-serif; font-weight: normal !important; }

/* 
////////////////////////
Colors:
lime green: #69be28
dark green: #006a4d
light green: #ecf7e3
dark grey: #333
light grey: #dadada
medium grey: #666
////////////////////////
*/

/* 
////////////////////////
Relative font sizes:
body resets base font-size to ~ 12px  NOTE: Font-sizes are relative to an objects parent

24px = font-size: 2em; line-height:1.25em;
14px = font-size: 1.17em; line-height:1.29em;
13px = font-size: 1.08em; line-height:1.23em;
12px = font-size: 1em; line-height:1.33em;
11px = font-size: .92em; line-height:1.27em;
10px = font-size: .83em; line-height:1.4em;

////////////////////////
*/

/* Main Navigation */
.nav-toplevel > ul > li > a { font-size: 1.17em; font-weight: bold; line-height:1.27em; }
.nav-toplevel a:active, .nav-toplevel a:hover { color: #69be28; text-decoration:none; }
.nav-toplevel li.selected > a, .nav-toplevel li.selected > a:link, .nav-toplevel li.selected > a:visited { color: #69be28; }


/* 
////////////////////////
Standard HTML tag definitions
////////////////////////
body { color: #333; font-size:75%; line-height:150%; }
*/
body { color: #333; font-size:75%; }

h1,h2,h3,h4,h5,h6 { font-size: 1em; line-height: 1em;  margin: 0; padding: 0; }
h1,h2,h3,h4 { font-weight: normal; }

/* Sharepoint style declarations */
H1.ms-rteElement-H1 { -ms-name:"Heading 1"; }
H2.ms-rteElement-H2 { -ms-name:"Heading 2"; }
H3.ms-rteElement-H3 { -ms-name:"Heading 3"; }
H4.ms-rteElement-H4 { -ms-name:"Heading 4"; }
H5.ms-rteElement-H5 { -ms-name:"Heading 5"; }
H6.ms-rteElement-H6 { -ms-name:"Heading 6"; }
P.ms-rteElement-notes { -ms-name:"Notes"; }
A.ms-rteStyle-more-link { -ms-name:"More link"; }
A.ms-rteStyle-video-link { -ms-name:"Video lightbox"; }
A.ms-rteStyle-iframe-link { -ms-name:"Iframe lightbox"; }
A.ms-rteStyle-openWorldMenu { -ms-name:"Open World Menu"; } 

h1, .ms-WPBody h1, .ms-rteElement-H1 { color: #000; font-size: 2em; margin: 0 0 .5em 0; line-height:1.25em; }
h2, .ms-WPBody h2, .ms-rteElement-H2 { color: #69be28; font-size: 1.17em; margin: 0 0 1em; line-height:1.23em; }
h3, .ms-WPBody h3, h3.ms-WPTitle, .ms-rteElement-H3 { color: #000; font-size: 1.17em; line-height:1.29em;  margin: .5em 0; text-align: left !important; }
h3.ms-WPTitle { margin-top: 0; }
h4, .ms-WPBody h4, .ms-rteElement-H4 { color: #000; font-size: 1.08em; font-style: normal; line-height:1.23em; margin: 1.5em 0 .5em 0; }
h5, .ms-WPBody h5, .ms-rteElement-H5  { color: #000; font-size: .92em; line-height:1.45em; margin: 0.5em 0 0 }
h6, .ms-WPBody h6, .ms-rteElement-H6  { color: #666; font-size: .83em; font-weight: normal; line-height:1.4em; text-transform: uppercase; }

a, a:link, .ms-WPBody a, .ms-WPBody a:link { color:#006a4d; }
.ms-selectorlink a, .ms-selectorlink a:visited { color:#006a4d !important; }
a:visited, .ms-WPBody a:visited { color:#666; }
a:active, a:hover  { text-decoration: underline; }
.ms-selectorlink a:hover, .ms-selectorlink a:active { color:#006a4d !important; }
a:focus, .ms-WPBody a:focus { color: #69be28; outline: none; }

.ms-rteElement-P { color: #333; }

input, textarea { color:#000; font: inherit; font-size: .92em; line-height:1.29em; }
.button { color: #fff; cursor: pointer; font: inherit; font-size: 1em; } 

strong { color: #000; }
a strong { color: inherit; }

*::selection { background: #d0ebba; }
nobr { white-space: normal; }

/*
    line height
*/

.slider-home, .news-home, .text-content, .text-content-tab, .teaserBlocks { line-height: 150% }
/* 
////////////////////////
Header styles
////////////////////////
*/

/* Language menu */
.nav-language li { font-size: .92em; line-height:1.27em; }
.nav-language li a, .nav-language li a:link, .nav-language li a:visited { color:#999; }
.nav-language li.selected a, .nav-language li.selected a:link, .nav-language li.selected a:visited { color:#333; }

/* Login Navigation */
.nav-login h5 { color:#000; font-size: 1em; margin-top: 0; }
.nav-login li { font-size: .92em; line-height:1.27em; }
#login-employee_menu li { font-size: 1em;}
.nav-login li, .nav-login li a, .nav-login li a:link, .nav-login li a:visited { color:#69be28; }

/* Search bar */
.search a,.search a:link,.search a:visited { color:#69be28; font-size: .92em; font-weight: bold; line-height:1.27em; }
.search a:active,.search a:hover { color:#006a4d; text-decoration: none; }
/* Main Navigation */
.nav-toplevel a, .nav-toplevel a:link, .nav-toplevel a:visited { color:#006a4d; }
.nav-toplevel li a:active, .nav-toplevel li a:hover, .nav-toplevel li.selected > a, .nav-toplevel li.selected > a:link, .nav-toplevel li.selected > a:visited { color: #69be28; }

/* 
////////////////////////
General page styles
////////////////////////
*/

/* Breadcrumb navigation */
#breadcrumb { color: #666; font-size: .83em; font-weight: normal; line-height:1.4em; }
a.breadcrumbNode, a.breadcrumbNode:link, a.breadcrumbNode:visited { color: #006a4d; }
a.breadcrumbCurrentNode, a.breadcrumbCurrentNode:link { color: #666; }

/* Section navigation */
.nav-section { font-size: .92em; line-height:1.27em; }
.nav-section li a  { font-weight: bold; }
.nav-section li ul li a  { font-weight: normal; }
.nav-section .selected > a, .nav-section .selected > a:link, .nav-section .selected > a:visited { color:#69be28;}

/* Article styles */
.article p { font-size: .92em; line-height:1.45em;  margin: .5em 0 1em; }
.article li, .article dl { font-size: .92em; line-height:1.45em; }
.article li li { font-size: inherit; line-height:inherit; }

/* More link style */
.article .more-link, .article .ms-WPBody .more-link, .ms-rteStyle-more-link { color:#69be28; font-weight: bold; }

/* Email link style */
.sidebar a[href^=mailto] { color:#69be28;  }

/* Specialized list styles */
.article ul.news-list li h6, .article ul.ms-rteStyle-newsList li h6 { font-size: .91em; line-height:1.8em; } 
.article ul.news-list li span, .article ul.ms-rteStyle-newsList li { font-style: italic; } 

.article.services-home ul.sitemap-list > li > a, .article.services-home ul.sitemap-list .column > li > a { font-weight: bold; }
.article ul.sitemap-list > li > a { font-weight: bold; }

.article ul.findPropertyList a strong { color: inherit; }

/* Teaser block styles*/ 
.teaser-block h2 { color:#000; }
.teaser-block .more-link, .teaser-block .ms-WPBody .more-link { color:#69be28; font-weight: bold; }

/* Sidebar */
.sidebar .ms-WPBody { font-size: .92em; line-height:1.45em; }
.sidebar .ms-WPBody h1, .sidebar .ms-WPBody h2,.sidebar .ms-WPBody h3, .sidebar .ms-WPBody h4, .sidebar .ms-WPBody h5, .sidebar .ms-WPBody h6  { font-size: inherit; }
.sidebar .ms-WPBody h3.ms-WPTitle { font-size: 1.17em; font-weight: normal; }
.sidebar p { font-size: .92em; line-height: 1.45em; margin: 0 0 1em; }
.sidebar .ms-WPBody p { font-size: 1em; line-height: inherit; }

/* People form */
.peopleFinder-form select { font-size: .92em; line-height:1.27em; }

/* Form buttons */
.ms-WPBody .button:link {  color: #69be28; cursor: pointer; }
.ms-WPBody .button:hover {  color: #006a4d; cursor: pointer; }
.article .button { font-family: 'FuturaMedium', Arial, Helvetica, sans-serif; font-size: .92em; line-height:1.29em; text-transform: uppercase;  }
.article .button:hover { text-decoration: none; }

/* People finder notes */
.notes, .ms-rteElement-notes { color: #999; font-style: italic; }

/* People layouts */
.professionals-results thead { color: #666; font-size: .83em; font-weight: normal; line-height:1.4em; text-transform: uppercase; }
.professionals-results tbody { font-size: .92em; line-height:1.27em; }
.search-records { font-size: .92em; line-height:1.27em; }
.article ul.pagingLinks li { font-size: .92em; line-height:1.27em; }
.article ul.pagingLinks li a.selected { color: #000; font-weight: bold; }
/* People results virtual biz card */
.businesscard-info { line-height:1.5em; }
.businesscard-info .employee-name, 
.businesscard-info .company-name { font-weight: bold; }

/* Footer */
#footer { font-size: .83em; line-height:1.4em; }
#footer .social-links { color: #999; }
#footer .social-links a, #footer .social-links a:link, #footer .social-links a:visited { color:#000; text-transform: uppercase; }

/* 
////////////////////////
Custom page styles
////////////////////////
*/

/* Homepage blocks */
.homepage-column h2 { font-size: 1.33em; font-weight: bold; line-height:1.25em; margin: 0 0 .25em; }
.research-blocks .ms-WPBody p a, .research-blocks .ms-WPBody p a:link,
.news-blocks .ms-WPBody p a, .news-blocks .ms-WPBody p a:link { color:#69be28; }
.news-blocks .ms-WPBody p a { margin-left: .25em}

/* Article styles */
.content-area p { font-size: .92em; line-height:1.45em;  margin: .5em 0 1em; }
.content-area li, .article dl { font-size: .92em; line-height:1.45em; }
.content-area li li { font-size: inherit; line-height:inherit; }

.ms-rteTable-12 p { font-size: 1.17em; line-height:1.29em; }
.ms-rteTable-12 h6 { text-transform: none; }

/* Downloads table styles */
.downloads h4, .ms-rteTable-8 h4 { margin-top:0; }

/* People layouts */
.ms-rteTable-14 h6 { line-height: 1.8em;}

/* Loopnet properties */
.ms-rteTable-15 thead { color: #666; font-size: .83em; font-weight: normal; line-height:1.4em; text-transform: uppercase; }
.ms-rteTable-15 tbody { font-size: .92em; line-height:1.27em; }

/* People results table */
.ms-rteTable-7 thead { color: #666; font-size: .83em; font-weight: normal; line-height:1.4em; text-transform: uppercase; }
.ms-rteTable-7 tbody { font-size: .92em; line-height:1.27em; }

/* Team layouts: Tombstone table */
.ms-rteTable-11 th a:hover { border-bottom: #006a4d 1px solid; text-decoration: none; }
.ms-rteTable-11 th a:visited:hover { border-bottom: #666 1px solid; }

/* 
////////////////////////
Share menu styles
//////////////////////// 
*/
.share-menu a,.share-menu a:link,.share-menu a:visited { color:#000; font-size: .92em; line-height:1.27em; text-transform: uppercase; }

/* 
////////////////////////
Sharepoint fixes
//////////////////////// 
*/
.ms-WPBody td { font-size: 1em; }

/* 
////////////////////////
Tab Control styles
//////////////////////// 
*/

/* CBRE custom theme */
.ajax__tab_cbre .ajax__tab_tab { color:#006a4d; font-size: .92em; font-weight: bold; line-height:1.27em; }
.ajax__tab_cbre .ajax__tab_hover .ajax__tab_tab { text-decoration: underline; }
.ajax__tab_cbre .ajax__tab_active .ajax__tab_tab { color:#69be28;  }
