.chromeIcon, .ffIcon, .safariIcon, .ieIcon {
	display: inline-block;
	height: 138px;
	float: left;
	margin-right: 18px;
}
.chromeIcon {
	width: 130px;
	background: url('../../../../../content/dam/h-d/images/motorcycles/chrome-icon.gif')/*tpa=http://www.harley-davidson.com/content/dam/h-d/images/motorcycles/chrome-icon.gif*/ no-repeat;
}
.ffIcon {
	width: 133px;
	background: url('../../../../../content/dam/h-d/images/motorcycles/firefox-icon.gif')/*tpa=http://www.harley-davidson.com/content/dam/h-d/images/motorcycles/firefox-icon.gif*/ no-repeat;
}
.safariIcon {
	width: 129px;
	background: url('../../../../../content/dam/h-d/images/motorcycles/safari-icon.gif')/*tpa=http://www.harley-davidson.com/content/dam/h-d/images/motorcycles/safari-icon.gif*/ no-repeat;
}
.ieIcon {
	width: 134px;
	background: url('../../../../../content/dam/h-d/images/motorcycles/ie-icon.gif')/*tpa=http://www.harley-davidson.com/content/dam/h-d/images/motorcycles/ie-icon.gif*/ no-repeat;
}
