/* =homepage +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#background-banner{
	height: 426px;
	position: absolute;
	top: 109px;
	*top: 111px;
	_top: 111px;
	width: 100%;
	z-index: 5;
	*z-index: 0;
}
	.carousel-wrapper{
		position:relative;
		height:426px;
	}
	.carousel-bg{
		/*background:url(images/home/hero1.jpg) no-repeat center top;*/
		background-position:center top;
		background-repeat:no-repeat;
		height:426px;
		width:100%;
		position:absolute;
		top:0;
		left:0;
		display:none;
	}
	.carousel-content{	
		margin:50px auto 0;
		width:973px;
	}
	.carousel-wrapper a.carousel-prev{
		display: block;		
		position:absolute;
		left:0;
		top:50%;
		height:65px;
		width:30px;
		z-index:10;
		background:url(../images/arrows.gif)/*tpa=http://www.adp.com/images/arrows.gif*/ no-repeat;
		text-indent:-9999px;
		cursor:pointer;
	}
	.carousel-wrapper a.carousel-next{
		display: block;
		position:absolute;
		right:0;
		top:50%;
		height:65px;
		width:30px;
		z-index:10;
		background:url(../images/arrows.gif)/*tpa=http://www.adp.com/images/arrows.gif*/ no-repeat -30px 0;
		text-indent:-9999px;
		cursor:pointer;
	}
	.carousel-wrapper .carousel-img-bg{
		display:none;
	}
	.carousel-content h1{
		color:#000;
		font: lighter 44px "Georgia"; 	
		margin:0 0 10px 0;
		width: 55%;
	}
	.carousel-content h2 {
		color:#000;
		font: normal 16px Arial, Helvetica, sans-serif;
		padding:0;
		margin:0;
		width: 36%;
	}
	.carousel-content a {
		background: url(../images/white-arrow-box.gif)/*tpa=http://www.adp.com/images/white-arrow-box.gif*/ no-repeat left top;
		height: 22px;
		width: auto;
		padding: 4px 0 0 33px;
		display:inline-block !important;
		color: #c30630 !important;
		font: normal 16px/16px Arial, Helvetica, sans-serif;
		margin:17px 0 0 0;
	}
.banner-box{
	height: 476px;
	width: 100%;
}

.homepage .row{
padding-top:4px;
/*background:url(../images/backgrounds/row-effect.gif) no-repeat left top;*/
margin-top:7px;
*margin-top:3px;  
}
.homepage .row div.row-box{
	float:left;
	width:287px;
	padding-left:15px;
	padding-right:15px;
	padding-bottom:10px;
	background: url(../images/bg-row-box.gif)/*tpa=http://www.adp.com/images/bg-row-box.gif*/ no-repeat left top;
}

.homepage .row div.row-box-first{
	float:left;
	width:287px;
	padding-left:15px;
	padding-right:15px;
	padding-bottom:10px;
}
.homepage .row div.row-box *, .homepage .row div.row-box-first *{
	font-family:Arial, Helvetica, sans-serif;
}
.homepage .row div.row-box h2, .homepage .row div.row-box-first h2{
	color:#1c1c1c;
	font-weight:bold;
	font-size:16px;
	margin-top:10px;
	line-height:16px;
	margin-bottom:3px;
}
.homepage .row div.row-box h2 small, .homepage .row div.row-box-first h2 small{
	font-size:10px;
}
.homepage .row div.row-box p, .homepage .row div.row-box-first p{
	color:#505050;
	font-size:11px;
	margin-bottom:0px;
}
.homepage .table-row div.last-child{
	margin-right:0px;
	padding-right:0px;
	background:none;
}
.homepage .table-row div.text-content{
	overflow:hidden;
}
.homepage .table-row .started-link{
	position:absolute;
	bottom:0px;
}
.homepage .table-row div.row-box *{
	font-family:Arial, Helvetica, sans-serif;
}
.homepage .table-row div.row-box img{
	margin:13px 20px 0px 0px;
}
.homepage .table-row div.row-box h2 small{
	font-size:10px;
}
.homepage .table-row div.row-box p{
	color:#505050;
	font-size:11px;
	margin-bottom:0px;
}
/**************************/			
.homepage .table-row {
    background: none;
    margin-top: 7px;
    padding: 10px 0;
}

.homepage .table-row div.row-box {
	background: url(../images/bg-row-box.gif)/*tpa=http://www.adp.com/images/bg-row-box.gif*/ no-repeat left top;
    float: left;
    margin: 0 17px 0 0;
	padding: 0;
    position: relative;
	height: 97px;
    width: 307px;
}

.homepage .table-row div.row-box img{
	margin: 5px 15px 0 8px;
}

.homepage .table-row div.last-child {
    margin-right: 0;
}

.homepage .table-row div.row-box h2 {
    color: #BD0A28;
    font-size: 16px;
    font-weight: normal;
    line-height: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
	width: 160px;
}

.homepage .table-row div.row-box h2 a {
	color: #BD0A28 !important;

}

.homepage .table-row div.row-box h2 a:hover {
	color: #BD0A28;
	text-decoration:none;

}

.homepage .table-row div.row-box .text-content a{
	color: #474747;	
	font-size: 13px;
}

.red-arrow{
	background: url(../images/red-arrow.gif)/*tpa=http://www.adp.com/images/red-arrow.gif*/ no-repeat left center !important; 
	height:7px;
	width:4px;
	display:inline-block !important;
	margin-left:4px;
}

*:first-child+html .red-arrow{
	margin-bottom: 3px;
}

.container-boxes{
	position:absolute;top:278px;margin:0 auto;background:#fff;border:solid 4px #2c2c2c;height:156px;width:962px;z-index:10; *z-index: 200; padding:16px 0;
}

#containerbox1 {z-index: 53; width: 176px; height: 156px; background: #ffffff; border-right: solid 1px #e5e5e5; float:left; padding:0 32px 0 32px;}
#containerbox2 {z-index: 53; width: 176px; height: 156px; background: #ffffff; border-right: solid 1px #e5e5e5; float:left; padding:0 32px 0 32px;}
#containerbox3 {z-index: 53; width: 176px; height: 156px; background: #ffffff; border-right: solid 1px #e5e5e5; float:left; padding:0 32px 0 32px;}
#containerbox4 {z-index: 53; width: 175px; height: 156px; background: #ffffff; float:left; padding:0 0 0 32px;}

#containerbox1 a.toplink{color:#bd0a28; font-weight: normal; font-size: 20px; font-family: AmasisMTStdLight, Arial, Helvetica, sans-serif;}
#containerbox2 a.toplink{color:#bd0a28; font-weight: normal; font-size: 20px; font-family: AmasisMTStdLight, Arial, Helvetica, sans-serif;}
#containerbox3 a.toplink{color:#bd0a28; font-weight: normal; font-size: 20px; font-family: AmasisMTStdLight, Arial, Helvetica, sans-serif;}
#containerbox4 a.toplink{color:#bd0a28; font-weight: normal; font-size: 20px; font-family: AmasisMTStdLight, Arial, Helvetica, sans-serif;}

#containerbox1 a.bottomlink{color: #bd0a28; font-weight: normal; font-size: 13px; text-decoration:none; font-family:Arial, Helvetica, sans-serif; display:block;}
#containerbox2 a.bottomlink{color: #bd0a28; font-weight: normal; font-size: 13px; text-decoration:none; font-family:Arial, Helvetica, sans-serif; display:block;}
#containerbox3 a.bottomlink{color: #bd0a28; font-weight: normal; font-size: 13px; text-decoration:none; font-family:Arial, Helvetica, sans-serif; display:block;}
#containerbox4 a.bottomlink{color: #bd0a28; font-weight: normal; font-size: 13px; text-decoration:none; font-family:Arial, Helvetica, sans-serif; display:block;}

#containerbox1 a.bottomlink:hover{cursor:pointer; text-decoration:underline;}
#containerbox2 a.bottomlink:hover{cursor:pointer; text-decoration:underline;}
#containerbox3 a.bottomlink:hover{cursor:pointer; text-decoration:underline;}
#containerbox4 a.bottomlink:hover{cursor:pointer; text-decoration:underline;}

ul.containerbox{height:auto; width:176px; margin-top:10px;}
ul.containerbox li{color:#474747; font-size:12px; font-family:Arial, Helvetica, sans-serif; background:url(../images/red-arrow.gif)/*tpa=http://www.adp.com/images/red-arrow.gif*/ no-repeat left center; 
padding:4px 0 4px 9px;}
ul.containerbox li.last-child{padding-top: 12px; background-position:left 16px;}
ul.containerbox li a{color:#474747; font: bold 12px Arial, Helvetica, sans-serif;}
ul.containerbox li a:hover{cursor:pointer; text-decoration:underline;}

.homepage #col-body{
	position: relative;
}
.timer-box{
	/*background-color: #0099FF;*/
	position: absolute;
	right: 8px;
    top: 247px;
	z-index: 10;
	_z-index: 6000;
}			