/* Tempalte : trc-small-wm +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*    (two-right-column-small-with-menu) */
/* =structure */
.trc-small-wm #col-body { padding: 8px 0 }
.trc-small-wm #col-body #col-left {
    /* left column */
    width: 174px;
    float: left;
    padding-right: 25px;
    padding-top: 7px;
}
.trc-small-wm #col-body #col-content {
    /* content column */
    padding-top: 5px;
    float: left;
    width: 773px;
}
.trc-small-wm #col-body #col-content h1 { margin-top: 7px }
.trc-small-wm #col-body #col-right {
    /* right column */
    width: 206px;
    float: right;
    padding-bottom: 30px;
}
.trc-small-wm #col-body #col-right p { margin-bottom: 12px }
/* =styles content */
.trc-small-wm #content #content-main #col-body #col-right .box-blue-bright .box-body .box-blue-bright-text-field { padding-left: 2px }
.trc-small-wm #content #content-main #col-body #col-left #lhn .selected .selected {
    background-color: transparent;
    background-image: url(../images/backgrounds/lhn-bullet-dark-green-down.gif)/*tpa=http://www.adp.com/images/backgrounds/lhn-bullet-dark-green-down.gif*/;
    background-position: 5px;
}
.trc-small-wm #content #content-main #col-body #col-left #lhn .selected .first-list { padding-top: 10px }
.trc-small-wm #content #content-main #col-body #col-left #lhn .selected .selected-green {
    background-color: #608c16;
    background-image: url(../images/backgrounds/lhn-bg-dark-green-on.gif)/*tpa=http://www.adp.com/images/backgrounds/lhn-bg-dark-green-on.gif*/;
}
/* second tier list left-column 9-21*/
.trc-small-wm #content #content-main #col-body #col-left #lhn .selected .two-tiers .double a { line-height: 14px }
.trc-small-wm #content #content-main #col-body #col-content .box-content-bottom {
    height: 15px;
    width: 571px;
    background: url(../images/backgrounds/bg-bottom-570.gif)/*tpa=http://www.adp.com/images/backgrounds/bg-bottom-570.gif*/ no-repeat left bottom;
}
.trc-small-wm #content #content-main #col-body #col-left #lhn .selected .two-tiers { background: url(../images/backgrounds/lhn-bullet-two-tier-bg.gif)/*tpa=http://www.adp.com/images/backgrounds/lhn-bullet-two-tier-bg.gif*/ repeat-x left top #fff }
.trc-small-wm #content #content-main #col-body #col-left #lhn .selected .second-tier {
    background: none;
    display: block;
}
.trc-small-wm #content #content-main #col-body #col-left #lhn .selected .second-tier a {
    color: #252525;
    background: none;
    font-weight: normal;
    font-size: 11px;
}
.trc-small-wm #content #content-main #col-body #col-left #lhn .selected .second-tier-selected a {
    color: #0664d9;
    background: none;
    font-weight: normal;
    font-size: 11px;
}
/*.trc-small-wm #col-body #col-content .section-banner{
    width:571px;
    height:144px;
    }*/
.trc-small-wm #col-body #col-content #content-left {
    width: /*571*/552px; float:left;
    margin-right: 15px;
    padding: 0 0 0 0;
    *margin-right: 10px;
    position: relative;
}
.trc-small-wm #col-content .section-banner {
    margin-bottom: 15px;
    vertical-align: bottom;
}
#col-body #col-content .row-clear-fix-2 {
    background-image: url(../images/backgrounds/row-effect-repeat.gif)/*tpa=http://www.adp.com/images/backgrounds/row-effect-repeat.gif*/;
    background-position: bottom;
    background-repeat: repeat-x;
    padding-bottom: 10px;
    padding-top: 10px;
}
/* =box blue */
.trc-small-wm #col-right .box-blue {
    width: 166px;
    margin-bottom: 10px;
    background: url(../images/backgrounds/box-blue-middle-w166.gif)/*tpa=http://www.adp.com/images/backgrounds/box-blue-middle-w166.gif*/ repeat-y left top;
    position: relative;
}
.trc-small-wm #col-right .box-blue .toRight {
    position: absolute;
    right: 1px;
    bottom: 1px;
}
.trc-small-wm #col-right .box-blue .box-body {
    background: url(../images/backgrounds/box-blue-top-w166.gif)/*tpa=http://www.adp.com/images/backgrounds/box-blue-top-w166.gif*/ no-repeat left top;
    min-height: 35px;
    padding-top: 10px;
    padding-right: 60px;
    padding-bottom: 0px;
    padding-left: 10px;
}
.box-blue-bright .box-body #box-blue-bright-bg-meet {
    background-image: url(../images/backgrounds/bg-blue-bright-meet.gif)/*tpa=http://www.adp.com/images/backgrounds/bg-blue-bright-meet.gif*/;
    background-repeat: no-repeat;
    height: 99px;
    width: 166px;
}
.box-blue-bright .box-body .box-blue-bright-bg { background: url(../images/backgrounds/box-blue-top-w166.gif)/*tpa=http://www.adp.com/images/backgrounds/box-blue-top-w166.gif*/ repeat-y left top }
.trc-small-wm #col-right .box-blue .box-body h2 {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    padding-top: 5px;
}
.trc-small-wm #col-right .box-blue .box-body h1 {
    color: #FFFFFF;
    padding-bottom: 30px;
}
.trc-small-wm #col-right .box-blue .box-body a { text-decoration: underline }
.trc-small-wm #col-right .box-blue .box-body .dropdown-list {
    /*dropdown list*/
    background: url(../images/backgrounds/dropdown-list-w147.gif)/*tpa=http://www.adp.com/images/backgrounds/dropdown-list-w147.gif*/ no-repeat left top;
}
.trc-small-wm #col-right .box-blue .box-bottom { background: url(../images/backgrounds/box-blue-bottom-w166.gif)/*tpa=http://www.adp.com/images/backgrounds/box-blue-bottom-w166.gif*/ no-repeat left bottom }
/* =box blue-bright */
.trc-small-wm #col-right .box-blue-bright .toRight {
    position: absolute;
    right: 1px;
    bottom: 1px;
}
.trc-small-wm #col-right .box-blue-bright .box-body a {
    color: #9ADBFF;
    text-decoration: underline;
}
.trc-small-wm #col-right .box-blue-bright .box-body h2 {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    padding-top: 8px;
}
.trc-small-wm #col-right .box-blue-bright .box-body h1 {
    color: #FFFFFF;
    padding-bottom: 30px;
}
.trc-small-wm #col-right .box-blue-bright {
    position: relative;
    width: 166px;
    margin-bottom: 10px;
    background: url(../images/backgrounds/bg-blue-bright-top-grad.jpg)/*tpa=http://www.adp.com/images/backgrounds/bg-blue-bright-top-grad.jpg*/ no-repeat left top;
    height: 146px;
}
.trc-small-wm #col-right .box-blue-bright .box-body .btn-submit-blue {
    background: url(../images/buttons/btn-find-my-career.gif)/*tpa=http://www.adp.com/images/buttons/btn-find-my-career.gif*/ no-repeat left top;
    width: 98px;
    height: 22px;
    border: 0px;
    cursor: pointer;
    margin-top: 15px;
    margin-right: 3px;
    float: right;
}
.trc-small-wm #col-right .box-blue-bright-meet {
    position: relative;
    width: 166px;
    margin-bottom: 10px;
    background: url(../images/backgrounds/bg-blue-bright-meet.jpg)/*tpa=http://www.adp.com/images/backgrounds/bg-blue-bright-meet.jpg*/ no-repeat left top;
}
.trc-small-wm #col-right .box-blue-bright-meet .box-bottom { padding-top: 10px }
.trc-small-wm #col-right .box-blue-bright-meet .box-body {
    min-height: 35px;
    padding: 10px 10px 0px 12px;
}
.trc-small-wm #col-right .box-blue-bright-meet .box-body h2 {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    padding-top: 8px;
}
.trc-small-wm #col-right .box-blue-bright-meet .box-body h1 {
    font-size: 10px;
    color: #FFFFFF;
    padding-bottom: 25px;
}
.trc-small-wm #col-right .box-blue-bright-meet .box-body a {
    color: #9ADBFF;
    text-decoration: underline;
}
.trc-small-wm #col-right .box-body #box-body-style .blue-link {
    float: right;
    font: #0071a9 Arial, Helvetica, sans-serif 10px underline;
}
.trc-small-wm #col-right .box-blue-bright .box-body .dropdown-list {
    /*dropdown list*/
    background: url(../images/backgrounds/dropdown-list-w147.gif)/*tpa=http://www.adp.com/images/backgrounds/dropdown-list-w147.gif*/ no-repeat left top;
}
.trc-small-wm #col-right .box-blue-bright .box-bottom {
    background: url(../images/backgrounds/bg-blue-bright-bottom-grad.jpg)/*tpa=http://www.adp.com/images/backgrounds/bg-blue-bright-bottom-grad.jpg*/ no-repeat left bottom;
    height: 22px;
    width: 166px;
}
/* Tabs */
#col-body #col-content { padding: 0px }
#col-body #col-content .box-content-bottom {
    height: 9px;
    width: 571px;
}
#col-body #col-content #tabs { width: 100% }
.trc-small-wm #content #content-main #col-body #col-right { padding: 0px 0px 15px 0px }
/* =table with 2cols */
.trc-small-wm #col-content .table-2cols {
    overflow: hidden;
    width: 560px;
}
.trc-small-wm #col-content .table-2cols .table-row { margin-bottom: 10px }
.trc-small-wm #col-content .table-2cols .table-col {
    position: relative;
    padding: 7px 14px 30px 0;
    margin: 0;
    width: 260px;
    border: none;
}
.trc-small-wm #col-content .table-2cols div.table-col.first-child {
    margin-right: 10px;
    _margin-right: 5px;
}
.trc-small-wm #col-content .table-2cols-normal {
    margin: 15px 0px 0px 0px;
    overflow: hidden;
    width: 571px;
}
.trc-small-wm #col-content .table-2cols-normal .table-cell {
    width: 265px;
    margin-right: 20px;
    float: left;
    padding-bottom: 10px;
}
.trc-small-wm #col-content .table-2cols-normal .table-cell h4 {
    margin-bottom: 5px;
    font-size: 12px;
}
.trc-small-wm #col-content .table-2cols-normal .table-cell p { line-height: 12px }
/* =table with 3cols */
.trc-small-wm #col-content .table-3cols {
    margin-top: 20px;
    overflow: hidden;
    width: 571px;
}
.trc-small-wm .table-3cols .table-row { margin-right: -10px }
.trc-small-wm #col-content .table-3cols .table-col {
    padding: 10px 10px 25px 10px;
    background: url(../images/backgrounds/shadow-w184.gif)/*tpa=http://www.adp.com/images/backgrounds/shadow-w184.gif*/ no-repeat left top #fff;
    width: 164px;
    margin-right: 7px;
	float: left;
}
.trc-small-wm #col-content .table-3cols .table-col h2,
.trc-small-wm #col-content .table-3cols .table-col h2 * { color: #0071a9 }
.trc-small-wm #col-content .table-3cols .table-col h2 { margin-bottom: 5px }
.trc-small-wm #col-content .table-3cols .table-col p { margin-bottom: 5px }