.trc-small #col-body {
    padding: 8px 0;
}
.trc-small #col-body #col-content {
    float: left;
    margin-right: 15px;
	_margin-right: 15px;
    padding: 10px 0 20px;
    width: 750px;
	_width: 745px;
}
.trc-small #col-body #col-right {
    float: right;
    width: 194px;
}
.trc-small #col-content .table-2cols {
    overflow: hidden;
	margin-bottom: 15px;
    width: 760px;
}
.trc-small #col-content .table-2cols.unequal-cols .table-row div.table-col.last-child {
	padding-left: 30px;
    width: 240px!important;
	_width: 240px!important;
	border: none;
}
.trc-small #col-content .table-2cols .table-row .table-col p {
    font-size: 12px;
	margin-bottom: 15px;
}
.trc-small #col-content .table-2cols.equal-cols .table-row .table-col{
	padding: 5px 14px 30px 0;
	width: 330px;
	border: none;
}
.trc-small #col-content .table-2cols.equal-cols .table-row div.table-col.first-child{
	margin-right: 60px;
}
.trc-small #col-content .table-4cols {
    width: 760px;
	_width: 750px;
}
.trc-small #col-content .table-4cols div.table-row.first-child{
	padding: 0;
}
.trc-small #col-content .table-4cols .table-row .table-col{
	margin-right: 22px;
}
.trc-small #col-content .table-4cols.bullet-boxes .table-row .table-col h4{
	display: table-cell;
	padding: 0 40px 0 5px;
	height: 34px;
	vertical-align: middle;
}
.trc-small #col-content .table-4cols.bullet-boxes .table-row .table-col p{
	margin-top: 15px;
}