/* Tempalte : only-content +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*	(only-content) */
	/* =structure */
	.only-content #col-body{
		padding:0px 10px;
	}
		.only-content #col-body #col-content{	/* content column */
			width:971px;
			margin:0px;
			padding:0px;
			float:none;
			min-height:400px;
		}
		* html .only-content #col-body #col-content{
			height:400px;
		}