/* Tempalte : trc-small ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*	(two-right-column-small) */
	/* =structure */
	.trc #col-body{
		padding: 8px 0;
	}
		.trc #col-body #col-content{	/* content column */
			width:750px;/*100308DOwidth:724px;*/
			margin-right:15px;
			float:left;
			padding:10px 0 20px 0;
		}
		.trc #col-body #col-right{		/* right column */
			width:197px;/*100308DOwidth:202px;*/
			float:right;
		}
	/* =generic classes*/
	/* =table with 2cols */
	.trc #col-content .table-2cols{
		/*overflow:hidden;*/
		width:760px; /*100308DOwidth:724px;*/
		margin-top:0px;
	}
		.trc #col-content .table-2cols .table-col{
			position: relative;
			min-height: 90px;
			height: auto;
			overflow: hidden;
			height: expression(this.scrollHeight < 91? "90px" : "auto" );
			border: none;
			/*100308DO background:url(../images/backgrounds/shadow-w354.gif) no-repeat left top #fff;
			width:324px;*/
		}

		*html .trc #col-content .table-2cols .table-col{
			background:#FFFFFF url(../images/backgrounds/shadow-w372.gif)/*tpa=http://www.adp.com/images/backgrounds/shadow-w372.gif*/ no-repeat scroll left top;
			width:324px;
			/*100308DO background:url(../images/backgrounds/shadow-w354.gif) no-repeat left top #fff;
			width:324px;*/
		}
			.trc #col-content .table-2cols .table-col.last-child{
				padding: 0 0 15px 0;
			}
			.trc #col-content .table-2cols .table-col h3{
				margin-top:7px;
				margin-bottom:10px;
			}
			.trc #col-content .table-2cols .table-col p{
				font-size:12px;
				margin-bottom:4px;
			}
			.trc #col-content .table-2cols .table-col .started-link{
				margin-top:3px;
			}
			#col-content .table-2cols .table-col h2{
				font-size: 16px;
			}
	/* =table with 3cols */
	.trc #col-content .table-3cols{
		overflow:hidden;
		width:724px;
		margin-top:10px;
	}
		.trc #col-content .table-3cols .table-row{
			/*overflow:hidden;
			position:relative;*/
		}
		.trc #col-content .table-3cols .table-col{
			padding:0px 25px;
			width:191px;
			margin:10px 0px;
			border-right:1px solid #d7d7d7;
			background:none;
			/*margin-bottom:-9999px;
			padding-bottom:9999px;*/
		}
		.trc #col-content .table-3cols .table-col h2.red{
			color:#c42026;
			font-size:12px;
			margin-bottom:10px;
		}
		.trc #col-content .table-3cols .table-col .toLeft{
			margin-right:10px;
		}
		.trc #col-content .table-3cols .table-col p{
			margin-bottom:0px;
		}
		.trc #col-content .table-3cols .table-col a{
			font-size:10px;
		}
	.trc #col-content .table-3cols .table-header{
		background:url(../images/backgrounds/bg-header-w696.gif)/*tpa=http://www.adp.com/images/backgrounds/bg-header-w696.gif*/ no-repeat left top;
		width:696px;
		margin:0px 14px;
		padding:6px 10px;
		position:relative;
	}
	.trc #col-content .table-3cols .table-header h2{
		font-size:16px;
		letter-spacing:-1px;
	}
	.trc #col-content .table-3cols .table-header .view-all{
		position:absolute;
		right:30px;
		top:8px;
		color:#252525;
		font-size:10px;
	}
	.trc #col-content .table-3cols .separator{
		height:40px;
		background:url(../images/backgrounds/bg-separatorh-w241.gif)/*tpa=http://www.adp.com/images/backgrounds/bg-separatorh-w241.gif*/ repeat-x center bottom;
	}