/*
	IE STYLES (HACKS)
*/	

table.gender tbody tr td label{
margin-right: 3px;
}

table.gender tbody tr td input{
width: auto;
margin-bottom: 8px;
}

label.checkbox{
margin-bottom: 5px;
}

.submitButton{  
border: none;
}