/* Tempalte : tlc-wh +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*	(two-left-column-with-head) */
	/* =structure */
	.tlc-wh #col-body{
		padding:5px 25px;
	}
		.tlc-wh #col-body #col-left{		/* left column */
			width:174px;
			float:left;
		}
		.tlc-wh #col-body #col-header{	/* header column */
			width:752px;
			margin:0px;
			padding:0px;
			float:right;
		}
		.tlc-wh #col-body #col-content{	/* content column */
			width:752px;
			margin:0px 0px 0px 15px;
			float:left;
		}
	.tlc-wh #col-content h3.blue,
	.tlc-wh #col-content h3.blue *{
		font-size:14px !important;
	}
	/* =header styles */
	.tlc-wh #col-body #col-header #ch-banner{
		float:left;
		padding-bottom:15px;
	}
	.tlc-wh #col-body #col-header #ch-boxes{
		float:right;
	}
	
	.tlc-wh #col-body #col-content .section-banner{
		margin-bottom:15px;
		vertical-align:bottom;
	}
	
	.onlyLink img,
	.onlyLink span{
		margin:-7px 0px 0px 0px !important;
	}
	.onlyLink .box-body{
		padding:10px 5px 0px 5px!important;
		margin-bottom:-3px;
	}
	.onlyLink p{
		margin-top:2px;
		*margin-top:13px;
		margin-bottom:0px;
	}
	* html .onlyLink p{
		margin-top:15px !important;
	}
	.onlyLink .started-link{
		color:#000;
		font-size:13px;
		font-weight:bold;
		text-decoration:none !important;
		background:url(../images/buttons/get-started.gif)/*tpa=http://www.adp.com/images/buttons/get-started.gif*/ no-repeat right center;
		padding-right:20px;
	}
	.onlyLink .started-link:hover{
		text-decoration:underline !important;
	}
	/* =table with 2cols */
	.tlc-wh #col-content .table-2cols{
		overflow:hidden;
		width:752px;
		margin-top:0px;
	}
		.tlc-wh #col-content .table-2cols .table-col{
			background:url(../images/backgrounds/shadow-w368.gif)/*tpa=http://www.adp.com/images/backgrounds/shadow-w368.gif*/ no-repeat left top #fff;
			width:338px;
		}
			.tlc-wh #col-content .table-2cols .table-col h2.blue,
			.tlc-wh #col-content .table-2cols .table-col h2.blue *{
				color:#0071a9;
			}
			.tlc-wh #col-content .table-2cols .table-col h2.blue{
				margin-bottom:5px;
			}
			.tlc-wh #col-content .table-2cols .table-col h2{
				margin-bottom:10px;
			}
			.tlc-wh #col-content .table-2cols .table-col p,
			.tlc-wh #col-content .table-2cols .table-col p strong,
			.tlc-wh #col-content .table-2cols .table-col p b{
				margin-bottom:5px;
				font-size:12px;
			}
			.tlc-wh #col-content .table-2cols .table-col .toLeft{
				margin-right:10px;
			}