@charset "utf-8";
/* CSS Document */
#ben-container {
    background-color: #eef4f6;
    border-top: #ccc solid 8px;
    width: 88%;
}
#ben-left {
    background-color: #eef4f6;
    border-right: #ccc solid 2px;
    float: left;
    height: 100%;
    padding-left: 5px;
    width: 43%;
}
#ben-right {
    background-color: #eef4f6;
    float: left;
    height: 100%;
    padding-left: 5px;
    width: 43%;
}
/* =style-green */
.style-green-dark { }
.style-green-dark ul#lhn li a { background-image: url(../images/backgrounds/lhn-bg-green-off.gif)/*tpa=http://www.adp.com/images/backgrounds/lhn-bg-green-off.gif*/ }
.style-green-dark ul#lhn li.selected a { background: #608c16 url(../images/backgrounds/lhn-bg-dark-green-on.gif)/*tpa=http://www.adp.com/images/backgrounds/lhn-bg-dark-green-on.gif*/ }
.style-green-dark ul#lhn li ul li a { color: #6d9a08 }
.style-green-dark ul#lhn li ul li a,
.style-green-dark ul#lhn li.selected ul li a {
    /* A tag - level 1 */
    background: #709000 url(../images/backgrounds/lhn-bullet-dark-green.gif)/*tpa=http://www.adp.com/images/backgrounds/lhn-bullet-dark-green.gif*/;
    line-height: 12px;
}
.style-green-dark ul#lhn li.selected ul li.selected a {
    background-image: url(../images/backgrounds/lhn-bullet-green-down.gif)/*tpa=http://www.adp.com/images/backgrounds/lhn-bullet-green-down.gif*/;
    background-repeat: no-repeat;
    background-position: 7px 5px;
}
.style-green-dark ul#lhn li.selected ul li.selected ul li a { background: none }
.style-green-dark ul#lhn li.selected a.here {
    color: #6d9a08 !important;
    font-weight: bold !important;
}
.style-green-dark ul#lhn li.selected a.here sup {
    text-decoration: none !important;
    color: #6d9a08 !important;
}
.style-green ul#lhn li.selected ul li.selected a,
.style-green ul#lhn li.selected ul li.selected ul .selected a { background: transparent none repeat scroll 0 0 !important }
#col-body #col-left #lhn .selected .selected .selected { background: transparent none repeat scroll 0 0 !important }
.style-green ul#lhn li.selected ul li.selected ul li a { color: #252525 !important }
.box-blue-light { }
.box-blue-light-alt { background: url(../images/backgrounds/box-blue-light-middle-w162.gif)/*tpa=http://www.adp.com/images/backgrounds/box-blue-light-middle-w162.gif*/ repeat-y left top }
.box-middle-blue-light {
    padding: 10px 0px 5px 10px;
    background: url(Unknown_83_filename)/*tpa=http://www.adp.com/images/backgrounds/bg-box-blue-light-top-w166.gif*/ no-repeat left top;
    height: 49px;
    width: 166px;
}
.box-middle-blue-light-bg {
    padding: 10px 0 0 10px;
    background: url(../images/backgrounds/bg-box-blue-light-top-w166.jpg)/*tpa=http://www.adp.com/images/backgrounds/bg-box-blue-light-top-w166.jpg*/ no-repeat left top;
    height: 39px;
}
/* blue-light */
.box-blue-light .box-body img {
    padding-right: 10px;
    vertical-align: middle;
}
.box-blue-light .box-body-blue-light img {
    padding-right: 10px;
    vertical-align: middle;
}
.box-blue-light .box-body li {
    padding-bottom: 30px;
    height: 30px;
    vertical-align: top;
}
.box-blue-light .box-body-blue-light li {
    padding-bottom: 10px;
    height: 20px;
    vertical-align: top;
    padding-left: 15px;
}
.box-blue-light .box-body li a {
    padding-bottom: 10px;
    font-size: 11px;
    font-weight: bold;
    color: 565758;
}
.box-blue-light .box-body-blue-light li a {
    padding-bottom: 10px;
    font-size: 11px;
    font-weight: bold;
    color: 565758;
}
.box-blue-light .box-middle-blue-light h3 {
    color: #17324d;
    font-weight: bold;
    font-size: 13px;
    padding: 0px 0px 5px 15px;
}
.box-blue-light .box-middle-blue-light-bg h3 {
    color: #17324d;
    font-weight: bold;
    font-size: 13px;
    padding: 0px 0px 5px 15px;
}
.box-blue-light h5 {
    color: #1f77a6;
    margin-bottom: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 13px;
    font-weight: bold;
    padding-left: 15px;
}
.box-blue-light h4 {
    color: #2C2C2C;
    font: bold 14px Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}
.box-body-blue-light {
    padding: 10px 10px 0 5px;
    background: url(../images/backgrounds/bg-box-blue-light-middle-w166.jpg)/*tpa=http://www.adp.com/images/backgrounds/bg-box-blue-light-middle-w166.jpg*/ no-repeat;
}
.box-blue-light .box-body label {
    color: #505050;
    font-size: 10px;
}
.box-blue-light .box-bottom { }
#col-right .box-blue .control-wlabel label { color: #7d7d7d }
.box-blue-bright {
    width: 202px;
    margin-bottom: 10px;
    background: url(../images/backgrounds/box-blue-middle-w202.gif)/*tpa=http://www.adp.com/images/backgrounds/box-blue-middle-w202.gif*/ repeat-y left top;
}
.box-blue-bright .box-body {
    min-height: 35px;
    padding: 10px 10px 0px 10px;
}
.box-blue-bright .box-body * {
    font: normal 11px Arial, Helvetica, sans-serif;
    color: #1a2e3e;
}
.box-blue-bright .box-body .toLeft {
    margin-bottom: 10px;
    *margin-bottom: 0px;
}
.box-blue-bright .box-body p {
    color: #d7e4ee;
    margin-bottom: 10px;
}
.box-blue-bright .box-body img {
    margin: 15px 3px 0 0;
    float: right;
}
.box-blue-bright .box-body h2 {
    color: #FFFFFF;
    margin-bottom: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: 12px;
    font-weight: bold;
    font-variant: normal;
}
.box-blue-bright .box-body h3 {
    color: #9adbff;
    font: normal 10px Arial, Helvetica, sans-serif;
    margin: 6px 0 16px 0;
    padding-left: 2px;
}
.box-blue-bright .box-body h2.center,
.box-blue-bright .box-body h3.center { padding-top: 7px }
.box-blue-bright .box-body .dropdown-list {
    /*dropdown list*/
    margin-bottom: 4px;
    background: url(../images/backgrounds/dropdown-list-w183.gif)/*tpa=http://www.adp.com/images/backgrounds/dropdown-list-w183.gif*/ no-repeat left top;
    height: 23px;
}
.box-blue-bright .box-body .dropdown-list a {
    display: block;
    text-decoration: none;
    padding: 4px 10px;
}
.box-blue-bright .search-form,
.box-blue-bright .subscribe-form {
    background: url(../images/buttons/btn-search-form.gif)/*tpa=http://www.adp.com/images/buttons/btn-search-form.gif*/ no-repeat left top;
    width: 55px;
    height: 21px;
    border: none;
    float: right;
    cursor: pointer;
    margin: 5px 0 5px 0;
}
.box-blue-bright .search-form {
    background: url(../images/buttons/btn-search-form.gif)/*tpa=http://www.adp.com/images/buttons/btn-search-form.gif*/ no-repeat left top;
    width: 55px;
}
.box-blue-bright .subscribe-form {
    background: url(../images/buttons/btn-subscribe-form.gif)/*tpa=http://www.adp.com/images/buttons/btn-subscribe-form.gif*/ no-repeat left top;
    width: 73px;
}
.box-blue-bright .text-big { color: #d7e4ee }
.box-blue-bright .box-bottom {
    background: url(../images/backgrounds/box-blue-bottom-w202.gif)/*tpa=http://www.adp.com/images/backgrounds/box-blue-bottom-w202.gif*/ no-repeat left bottom;
    min-height: 10px,;
    padding: 0 10px 0 10px;
}
.box-blue-bright .box-bottom .left { padding-top: 5px }
.box-blue-bright .box-bottom label { color: #fff }
#col-right .box-blue-bright .control-wlabel { position: relative }
#col-right .box-blue-bright .control-wlabel label { left: 5px }
#col-right .box-blue-bright .control-wlabel input {
    border: 1px solid #436278;
    background-color: #f3f7fa;
    width: 173px;
    padding: 2px 4px;
    margin-bottom: 3px;
}
.box-blue-bright .box-body select {
    padding: 1px 0px;
    *padding: 1px 10px;
    margin: 1px 0px 3px 0px;
    width: 100%;
    background-color: #f3f7fa;
}
#col-right .box-blue-bright .control-wlabel label { color: #7d7d7d }
/* =sub-menu level-1 */
ul#lhn li ul li.selected .two-tiers {
    display: none; /* hidden submenu - level-1 */
    padding: 5px 0px 10px 0px;
    background: url(Unknown_83_filename)/*tpa=http://www.adp.com/images/backgrounds/lhn-bullet-two-tiers-bg.gif*/ repeat-x left top #fff;
}
/* HOMEPAGE ADDITIONS*/
.homepage .row div.row-box * { font-family: Arial, Helvetica, sans-serif }
.homepage .row div.row-box h2 {
    color: #1c1c1c;
    font-weight: bold;
    font-size: 16px;
    margin: 10px 0 3px 0;
    line-height: 16px;
}
.homepage .row div.row-box h2 small { font-size: 10px }
.homepage .row div.row-box p {
    color: #505050;
    font-size: 11px;
    margin-bottom: 0px;
}
#content #content-main #col-body #flash { }
.clear { clear: both }
#career-space-10 {
    background: #FFFFFF;
    padding-bottom: 10px;
}
#career-space-30 {
    background: #FFFFFF;
    padding-bottom: 10px;
}
/* CSS Career Search Box*/
#career-search {
    height: 63px;
    padding: 20px 0 24px;
    /*height: 24px;*/
}
#career-search-box {
    width: 380px;
    float: left;
    border: 1px solid #cc0a24;
    padding:10px;
}
#career-search-box label {
    width:300px;
    font-size: 14px;
    color: #2c2c2c;
    font-weight: bold;
    padding: 2px 5px 0px 0px;    
}
.btn-submit-career {
    background: url(../images/buttons/btn-careers-search2.jpg)/*tpa=http://www.adp.com/images/buttons/btn-careers-search2.jpg*/ no-repeat left top;
    width: 146px;
    height: 26px;
    border: 0px;
    cursor: pointer;
}
#career-search-box .career-search-text-button { padding-left: 5px }
#career-search-box .career-search-text-field { 
    padding-left: 5px;
    margin-right: 5px;
    height: 20px;
    width: 215px;
    background: url(../images/backgrounds/bg-career-search.gif)/*tpa=http://www.adp.com/images/backgrounds/bg-career-search.gif*/ no-repeat top left;
    border: none;
    font-size: 12px;
}
#career-search .career-search-links {
    float: right;
    margin: 30px 12px 0 0;
}
#career-search .career-search-links a {
    display: inline-block;
    float: left;
    margin-left: 8px;
}
#career-search .career-search-links h3 {
    padding: 3px 0 0 0;
    font-size: 14px;
    color: #2c2c2c;
    font-weight: bold;
    float: left;
}
#career-search .career-search-links img { vertical-align: top; }
.career-information {
    padding: 14px 0 20px;
    width: 963px;
    margin: 0px;
    border: 4px solid #2c2c2c;
    overflow: hidden;
}
.career-information .career-information-box {
    padding: 5px 0 5px 35px;
    width: 205px;
    float: left;
    position: relative;
    border-left: 1px solid #e5e5e5;
}
.career-information div.first-child {
    width: 185px;
    border: none;
}
.career-information-box a {
    color: #474747 !important;
    font-size: 13px;
    font-weight: bold;
}
.career-information-box a:hover { text-decoration: underline }
/* CSS Red Box */
.career-information ul { /*padding: 5px;_NO__DOTCOMMA__AFTER__*/ }
.career-information  ul .career-information-box-title {
    font-size: 16px;
    font-weight: bold;
    color: #e00300;
    padding: 0 0 4px 0;
    background-image: none;
}
.career-information  ul .career-information-box-title a {
    color: #BD0A28 !important;
    font-family: AmasisMTStdLight,Arial,Helvetica,sans-serif !important;
    font-size: 20px;
    font-weight: normal;
}
.career-information  ul li {
    background: url("../images/red-arrow.gif")/*tpa=http://www.adp.com/images/red-arrow.gif*/ no-repeat scroll left center transparent;
    color: #474747;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    padding: 4px 0 4px 8px;
}
.career-information  ul li.last-child {
    padding-top: 8px;
    padding-bottom: 8px;
}
.career-information  ul li.last-child a {
    color: #bd0a28;
    font-weight: normal;
}
/* =styles content */
.trc-small-wm #content #content-main #col-body #col-right .box-blue-bright .box-body .box-blue-bright-text-field { padding-left: 2px }
.trc-small-wm #content #content-main #col-body #col-left #lhn .selected .selected { background: transparent url(../images/backgrounds/lhn-bullet-dark-green-down.gif)/*tpa=http://www.adp.com/images/backgrounds/lhn-bullet-dark-green-down.gif*/ no-repeat 7px 7px }
.trc-small-wm #content #content-main #col-body #col-left #lhn .selected .first-list { padding-top: 10px }
.trc-small-wm #content #content-main #col-body #col-left #lhn .selected .selected-green {
    background-color: #608c16;
    background-image: url(../images/backgrounds/lhn-bg-dark-green-on.gif)/*tpa=http://www.adp.com/images/backgrounds/lhn-bg-dark-green-on.gif*/;
}
/* second tier list left-column 9-21*/
.trc-small-wm #content #content-main #col-body #col-left #lhn .selected .two-tiers .double a { line-height: 14px }
.trc-small-wm #content #content-main #col-body #col-content .box-content-bottom {
    height: 15px;
    width: 571px;
    background: url(../images/backgrounds/bg-bottom-570.gif)/*tpa=http://www.adp.com/images/backgrounds/bg-bottom-570.gif*/ no-repeat left top;
    margin-top: -3px;
    padding: 0;
    border: 0 none;
}
.trc-small-wm #content #content-main #col-body #col-left #lhn .selected .two-tiers { background: url(../images/backgrounds/lhn-bullet-two-tier-bg.gif)/*tpa=http://www.adp.com/images/backgrounds/lhn-bullet-two-tier-bg.gif*/ repeat-x left top #fff }
.trc-small-wm #content #content-main #col-body #col-left #lhn .selected .second-tier {
    background: none;
    display: block;
}
.trc-small-wm #content #content-main #col-body #col-left #lhn .selected .second-tier a {
    color: #252525;
    background: none;
    font-weight: normal;
    font-size: 11px;
}
.trc-small-wm #content #content-main #col-body #col-left #lhn .selected .second-tier-selected a {
    color: #0664d9;
    background: none;
    font-weight: normal;
    font-size: 11px;
}
#col-left ul#lhn li.selected ul ul { margin-bottom: 0 }
.trc-small-wm #col-content .section-banner {
    margin-bottom: 22px;
    vertical-align: bottom;
}
#col-body #col-content .row-clear-fix-2 {
    background-image: url(../images/backgrounds/row-effect-repeat.gif)/*tpa=http://www.adp.com/images/backgrounds/row-effect-repeat.gif*/;
    background-position: bottom;
    background-repeat: repeat-x;
    padding-bottom: 10px;
    padding-top: 10px;
}
/* =box blue */
.trc-small-wm #col-right .box-blue {
    width: 166px;
    margin-bottom: 10px;
    background: url(../images/backgrounds/box-blue-middle-w166.gif)/*tpa=http://www.adp.com/images/backgrounds/box-blue-middle-w166.gif*/ repeat-y left top;
    position: relative;
}
.trc-small-wm #col-right .box-blue .toRight {
    position: absolute;
    right: 1px;
    bottom: 1px;
}
.trc-small-wm #col-right .box-blue .box-body {
    background: url(../images/backgrounds/box-blue-top-w166.gif)/*tpa=http://www.adp.com/images/backgrounds/box-blue-top-w166.gif*/ no-repeat left top;
    min-height: 35px;
    padding-top: 10px;
    padding-right: 60px;
    padding-bottom: 0px;
    padding-left: 10px;
}
.box-blue-bright .box-body #box-blue-bright-bg-meet {
    background-image: url(../images/backgrounds/bg-blue-bright-meet.gif)/*tpa=http://www.adp.com/images/backgrounds/bg-blue-bright-meet.gif*/;
    background-repeat: no-repeat;
    height: 99px;
    width: 166px;
}
.box-blue-bright .box-body .box-blue-bright-bg { background: url(../images/backgrounds/box-blue-top-w166.gif)/*tpa=http://www.adp.com/images/backgrounds/box-blue-top-w166.gif*/ repeat-y left top }
.trc-small-wm #col-right .box-blue .box-body h2 {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    padding-top: 5px;
}
.trc-small-wm #col-right .box-blue .box-body h1 {
    color: #FFFFFF;
    padding-bottom: 30px;
}
.trc-small-wm #col-right .box-blue .box-body a { text-decoration: underline }
.trc-small-wm #col-right .box-blue .box-body .dropdown-list {
    /*dropdown list*/
    background: url(../images/backgrounds/dropdown-list-w147.gif)/*tpa=http://www.adp.com/images/backgrounds/dropdown-list-w147.gif*/ no-repeat left top;
}
.trc-small-wm #col-right .box-blue .box-bottom { background: url(../images/backgrounds/box-blue-bottom-w166.gif)/*tpa=http://www.adp.com/images/backgrounds/box-blue-bottom-w166.gif*/ no-repeat left bottom }
/* =box blue-bright */
.trc-small-wm #col-right .box-blue-bright .toRight {
    position: absolute;
    right: 1px;
    bottom: 1px;
}
.trc-small-wm #col-right .box-blue-bright .box-body a {
    color: #9ADBFF;
    text-decoration: underline;
}
.trc-small-wm #col-right .box-blue-bright .box-body h2 {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    padding-top: 8px;
}
.trc-small-wm #col-right .box-blue-bright .box-body h1 {
    color: #FFFFFF;
    padding-bottom: 30px;
}
.trc-small-wm #col-right .box-blue-bright {
    position: relative;
    width: 166px;
    margin-bottom: 10px;
    background: url(../images/backgrounds/bg-blue-bright-top-grad.jpg)/*tpa=http://www.adp.com/images/backgrounds/bg-blue-bright-top-grad.jpg*/ no-repeat left top;
    height: 146px;
}
.trc-small-wm #col-right .box-blue-bright .box-body .btn-submit-blue {
    background: url(../images/buttons/btn-find-my-career.gif)/*tpa=http://www.adp.com/images/buttons/btn-find-my-career.gif*/ no-repeat left top;
    width: 98px;
    height: 22px;
    border: 0px;
    cursor: pointer;
    margin-top: 15px;
    margin-right: 3px;
    float: right;
}
.trc-small-wm #col-right .box-blue-bright-meet {
    position: relative;
    width: 166px;
    margin-bottom: 10px;
}
.trc-small-wm #col-right .box-blue-bright-meet .box-bottom {
    background: transparent url(../images/backgrounds/bg-blue-bright-bottom.gif)/*tpa=http://www.adp.com/images/backgrounds/bg-blue-bright-bottom.gif*/ no-repeat bottom left;
    padding-top: 4px;
}
.trc-small-wm #col-right .box-blue-bright-meet .box-top {
    background: transparent url(../images/backgrounds/bg-blue-bright-top.gif)/*tpa=http://www.adp.com/images/backgrounds/bg-blue-bright-top.gif*/ no-repeat bottom left;
    padding-bottom: 4px;
}
.trc-small-wm #col-right .box-blue-bright-meet .box-body {
    background: #083147 url(../images/backgrounds/bg-blue-bright-meet-y.gif)/*tpa=http://www.adp.com/images/backgrounds/bg-blue-bright-meet-y.gif*/ repeat-y;
    min-height: 50px;
    padding: 10px 10px 0px 12px;
}
.trc-small-wm #col-right .box-blue-bright-meet .toRight {
    position: absolute;
    margin-left: 47px;
}
.trc-small-wm #col-right .box-blue-bright-meet .box-body h5 {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    padding-top: 8px;
}
.trc-small-wm #col-right .box-blue-bright-meet .box-body P {
    font-size: 10px;
    color: #FFFFFF;
    padding-bottom: 13px;
    width: 90px;
}
.trc-small-wm #col-right .box-blue-bright-meet .box-body a {
    color: #9ADBFF;
    text-decoration: underline;
}
.trc-small-wm #col-right .box-body #box-body-style .blue-link {
    float: right;
    font: #0071a9 Arial, Helvetica, sans-serif 10px underline;
}
.trc-small-wm #col-right .box-blue-bright .box-body .dropdown-list {
    /*dropdown list*/
    background: url(../images/backgrounds/dropdown-list-w147.gif)/*tpa=http://www.adp.com/images/backgrounds/dropdown-list-w147.gif*/ no-repeat left top;
}
.trc-small-wm #col-right .box-blue-bright .box-bottom {
    background: url(../images/backgrounds/bg-blue-bright-bottom-grad.jpg)/*tpa=http://www.adp.com/images/backgrounds/bg-blue-bright-bottom-grad.jpg*/ no-repeat left bottom;
    height: 22px;
    width: 166px;
}
/* Tabs */
#col-body #col-content { padding: 0px }
#col-body #col-content .box-content-bottom {
    height: 9px;
    width: 571px;
}
#col-body #col-content #tabs {
    position: relative;
    padding-top: 36px;
    /*margin: 15px 0;*/
}
#col-body #col-content #tabs p {
    margin-bottom: 18px;
    text-align: justify;
}
#col-body #col-content #tabs a.offer span { font-weight: bold }
#col-body #col-content #tabs a.offer:hover span { text-decoration: underline }
#col-body #col-content #tabs .ui-tabs-nav {
    position: absolute;
    top: 2px;
    z-index: 10;
}
#col-body #col-content #tabs .ui-tabs-nav li {
    float: left;
    height: 35px;
    background: none;
}
#col-body #col-content #tabs ul.ui-tabs-nav li a {
    display: block;
    font: normal 12px/12px Arial,Helvetica,sans-serif;
    outline: medium none;
    padding: 10px 27px 11px;
    text-decoration: none;
    vertical-align: middle;
}
#col-body #col-content #tabs span {
    color: #c30630;
    font: normal 12px/12px Arial,Helvetica,sans-serif;
}
#col-body #col-content #tabs .ui-tabs-nav .ui-state-active a {
    border-bottom: 1px solid #fff;
    border-left: 1px solid #aaaaaa;
    border-top: 1px solid #aaaaaa;
    border-right: 1px solid #aaaaaa;
}
#col-body #col-content #tabs .ui-tabs-nav .ui-state-active a span {
    color: #000000;
    font-weight: bold;
}
#col-body #col-content #tabs .ui-tabs-panel {
    border-top: 1px solid #aaaaaa;
    padding: 23px 20px 23px 0;
}
#col-body #col-content #tabs .ui-tabs-hide { display: none }
/*blue box style*/
.trc-small #col-right .box-blue-bright {
    position: relative;
    width: 166px;
    margin-bottom: 10px;
    background: url(../images/backgrounds/bg-blue-bright-top-grad.jpg)/*tpa=http://www.adp.com/images/backgrounds/bg-blue-bright-top-grad.jpg*/ no-repeat left top;
    height: 146px;
}
.trc-small #col-right .box-blue-bright .box-body h2 {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    padding-top: 8px;
}
.trc-small #col-right .box-blue-bright .box-body h1 {
    color: #FFFFFF;
    padding-bottom: 30px;
}
.trc-small #col-right .box-blue-bright .box-bottom {
    background: url(../images/backgrounds/bg-blue-bright-bottom-grad.jpg)/*tpa=http://www.adp.com/images/backgrounds/bg-blue-bright-bottom-grad.jpg*/ no-repeat left bottom;
    height: 22px;
    width: 166px;
}
.trc-small #col-right .box-blue-bright .box-body .btn-submit-blue {
    background: url(../images/buttons/btn-find-my-career.gif)/*tpa=http://www.adp.com/images/buttons/btn-find-my-career.gif*/ no-repeat left top;
    width: 98px;
    height: 22px;
    border: 0px;
    cursor: pointer;
    margin-top: 15px;
    margin-right: 3px;
    float: right;
}
.trc-small #content #content-main #col-body #col-right .box-blue-bright .box-body .box-blue-bright-text-field { padding-left: 2px }
/*blue Social Network box********************************************************/
.social-ntw-box .box-middle { padding: 0 4px 11px }
.social-ntw-box .box-middle ul li {
    margin-bottom: 8px;
    _height: 1%;
    background: none!important;
}
.social-ntw-box .box-middle ul li.last-child { margin-bottom: 0 }
.social-ntw-box .box-middle ul li a {
    padding: 0 0 0 26px;
    font: bold 12px/16px Arial, Helvetica, sans-serif;
    vertical-align: middle;
    display: block;
    color: #2c2c2c;
    /*background: none;*/
}
.social-ntw-box .box-middle ul li a img { margin-right: 10px }
.social-ntw-box .box-middle ul li a.link-alumni { background: url(../images/icons/adp-icon.jpg)/*tpa=http://www.adp.com/images/icons/adp-icon.jpg*/ no-repeat left center }
.social-ntw-box .box-middle ul li a.link-facebook { background: url(../images/icons/icon-facebook.jpg)/*tpa=http://www.adp.com/images/icons/icon-facebook.jpg*/ no-repeat left center }
.social-ntw-box .box-middle ul li a.link-twitter { background: url(../images/icons/icon-twitter.jpg)/*tpa=http://www.adp.com/images/icons/icon-twitter.jpg*/ no-repeat left center }
.social-ntw-box .box-middle ul li a.link-linkedin { background: url(../images/icons/icon-ln.jpg)/*tpa=http://www.adp.com/images/icons/icon-ln.jpg*/ no-repeat left center }
/*blue dark box*/
.box-silver-dark {
    padding: 10px 0 0 0;
    margin: 0;
    background: url(../images/backgrounds/box-silver-dark-top.gif)/*tpa=http://www.adp.com/images/backgrounds/box-silver-dark-top.gif*/ no-repeat left top;
}
.box-silver-dark .box-bottom {
    background: url(../images/backgrounds/box-silver-dark-bottom.gif)/*tpa=http://www.adp.com/images/backgrounds/box-silver-dark-bottom.gif*/ no-repeat left bottom;
    height: 10px;
}
* html .box-silver-dark .box-bottom {
    /* hack IE 6 */
    margin-top: -7px;
}
.box-silver .box-bottom {
    /* hack IE 6 */
    background-color: #EFEFEF;
}
.box-silver-dark h2 {
    font: bold 13px/normal Arial, Helvetica, sans-serif;
    color: #253f58;
    margin-bottom: 10px;
    padding: 0px;
}
.box-silver-dark  p {
    padding-top: 0px;
    margin-bottom: 10px;
    line-height: 15px;
    font-size: 11px;
    color: #4f4f4f;
}
.box-silver-dark  .box-body {
    background: url(../images/backgrounds/box-silver-dark-middle.gif)/*tpa=http://www.adp.com/images/backgrounds/box-silver-dark-middle.gif*/ repeat-y left top;
    padding: 0 16px 0 16px;
    margin: 0px;
}
.box-silver-dark  .btn-send-green {
    background: url(../images/buttons/btn_sign_up_green.jpg)/*tpa=http://www.adp.com/images/buttons/btn_sign_up_green.jpg*/ no-repeat left top;
    border-bottom-style: none;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    cursor: pointer;
    height: 23px;
    width: 61px;
}
/*new table box style*/
.mbottom10 { margin-bottom: 10px }
.lists-boxes {
    background: #f4f4f4;
    width: 761px;
}
.lists-boxes h3,
#col-content .lists-boxes  h3,
#col-content .lists-boxes  h3 * {
    background: url(Unknown_83_filename)/*tpa=http://www.adp.com/images/backgrounds/lists-boxes-title.gif*/ no-repeat left top;
    height: 16px;
    font: bold 16px/16px Arial, Helvetica, sans-serif;
    color: #252525;
    margin: 0;
    padding: 9px 16px 12px 16px;
}
.lists-boxes .content-list-box {
    padding: 0 11px;
    margin: 0;
}
.lists-boxes .bottom-list-box {
    background: url(Unknown_83_filename)/*tpa=http://www.adp.com/images/backgrounds/lists-boxes-bottom.gif*/ no-repeat left top;
    height: 7px;
    width: 761px;
}
* html .lists-boxes .bottom-list-box {
    background: url(Unknown_83_filename)/*tpa=http://www.adp.com/images/backgrounds/lists-boxes-bottom.gif*/ no-repeat left top;
    vertical-align: bottom;
    overflow: hidden;
}
.lists-boxes .content-list-box li,
#col-content .lists-boxes .content-list-box ul li {
    margin: 0 0 9px 0;
    padding: 0;
    list-style: none;
    background: none;
    position: relative;
    _height: 1%;
}
.lists-boxes .content-list-box li a,
#col-content .content-list-box li a {
    border: 1px solid #bfbfbf;
    padding: 16px;
    background: #fff url(../images/buttons/list-box-bottom.gif)/*tpa=http://www.adp.com/images/buttons/list-box-bottom.gif*/ no-repeat right center;
    display: block;
    font: 16px/normal Arial, Helvetica, sans-serif;
    color: #363636;
    text-decoration: none;
    width: 705px;
}
.lists-boxes .content-list-box li a:hover,
#col-content .content-list-box li a:hover {
    background: #ecf4f9  url(../images/buttons/list-box-bottom-hover.gif)/*tpa=http://www.adp.com/images/buttons/list-box-bottom-hover.gif*/ no-repeat right center;
    text-decoration: none !important;
}
.lists-boxes .content-list-box li a strong,
#col-content .content-list-box li a strong {
    font: bold 16px/normal Arial, Helvetica, sans-serif;
    color: #0071a9;
    width: 217px;
    display: inline-block;
}
#col-content .content-list-box li span {
    display: block;
    position: absolute;
    width: 5px;
    height: 5px;
    overflow: hidden;
}
#col-content .content-list-box li span.rl-tleft {
    background: url(Unknown_83_filename)/*tpa=http://www.adp.com/images/backgrounds/rl-t.gif*/ no-repeat left top;
    left: 0px;
    top: 0px;
}
#col-content .content-list-box li span.rl-tright {
    background: url(Unknown_83_filename)/*tpa=http://www.adp.com/images/backgrounds/rl-t.gif*/ no-repeat right top;
    right: 0px;
    top: 0px;
    _right: -1px;
}
#col-content .content-list-box li .rl-bleft {
    background: url(Unknown_83_filename)/*tpa=http://www.adp.com/images/backgrounds/rl-b.gif*/ no-repeat left top;
    left: 0px;
    bottom: 0px;
    _bottom: -1px;
}
#col-content .content-list-box li .rl-bright {
    background: url(Unknown_83_filename)/*tpa=http://www.adp.com/images/backgrounds/rl-b.gif*/ no-repeat right top;
    right: 0px;
    bottom: 0px;
    _right: -1px;
    _bottom: -1px;
}
.profileTitle {
    color: #ffffff;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}
.profileText {
    color: #ffffff;
    font-family: Arial;
    font-size: 11px;
    text-decoration: none;
}
.profileLink {
    color: blue;
    font-family: Arial;
    font-size: 11px;
    text-decoration: underline;
}
.countryHeading {
    font: italic bold 13px Arial, Helvetica, sans-serif !important;
    text-decoration: underline;
    color: #464646;
}