/* Normalize browsers ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
	body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td, img, tbody, dt, dd, dl, *{
	    margin:0; 
	    padding:0; 
	}
	table{ 
	    border-collapse:collapse; 
	    border-spacing:0; 
	} 
	fieldset,img{
	    border:0; 
	}
	sup{
		margin:0px;
		padding:0px;
		vertical-align:top;
	}
	img.padRight{
		padding-right: 20px;
	}
	address,caption,cite,code,dfn,em,th,var{ 
	    font-style:normal; 
	    font-weight:normal; 
	} 
	ol,ul{ 
	    list-style:none;
		-webkit-padding-start: 0; 
	} 
	caption,th{ 
	    text-align:left; 
	}
	input{
		font-size:10px;
		line-height:normal;
		color:#666;
		margin:0px;
		padding:0px;
	}
	strong{
		font-weight: bold !important;
	}
	blockquote{
		padding-left:20px;
	}
	/** utility **/
	.clear{ clear:both; }
	
	.clearfix:after{
	    content: "."; 
	    display: block; 
	    height: 0; 
	    clear: both; 
	    visibility: hidden;
	}
	/* .clearfix{display: inline-table;} */
	.clearfix{display: inline-block;}
	/* Hides from IE-mac \*/
	/** html .clearfix{height: 1px;}*/
	.clearfix{display: block;}
	/* End hide from IE-mac */
	/* Hides from IE-mac \*/
	* html .clearfix { display:inline-block;}
	/* End hide from IE-mac */
.left { float: left }
.right { float: right }
.hid { display: none }
img.vbottom { vertical-align: bottom }
.toLeft { float: left }
.toRight { float: right }
label.overlabel {
    color: #999;
    font: bold 12px Arial, Helvetica, sans-serif;
}
#col-content img.toLeft,
#col-content span.toLeft { margin-right: 7px }
label.overlabel-apply {
    position: absolute;
    top: 3px;
    left: 5px;
    z-index: 1;
    color: #9d9d9d;
    font: italic 11px Arial, Helvetica, sans-serif;
}
div.control-wlabel { position: relative }
.upperCase { text-transform: uppercase }
.noBg { background: none !important }
/* Dropdown default styles */
.dd {
    text-align: left;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    float: left;
}
.dd .ddTitle {
    background: #f2f2f2;
    border: 1px solid #c3c3c3;
    padding: 3px;
    text-indent: 0;
    cursor: default;
    overflow: hidden;
    height: 16px;
}
.dd .ddTitle span.arrow {
    background: url(Unknown_83_filename)/*tpa=http://www.adp.com/css/dd_arrow.gif*/ no-repeat 0 0;
    float: right;
    display: inline-block;
    width: 16px;
    height: 16px;
    cursor: pointer;
}
.dd .ddTitle span.ddTitleText {
    text-indent: 1px;
    overflow: hidden;
    line-height: 16px;
}
.dd .ddTitle span.ddTitleText img {
    text-align: left;
    padding: 0 2px 0 0;
}
.dd .ddTitle img.selected {
    padding: 0 3px 0 0;
    vertical-align: top;
}
.dd .ddChild {
    position: absolute;
    border: 1px solid #c3c3c3;
    border-top: none;
    display: none;
    margin: 0;
    width: auto;
    overflow: auto;
    overflow-x: hidden !important;
    background-color: #ffffff;
}
.dd .ddChild .opta a,
.dd .ddChild .opta a:visited { padding-left: 10px }
.dd .ddChild a {
    display: block;
    padding: 2px 0 2px 3px;
    text-decoration: none;
    color: #000;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}
.dd .ddChild a:hover { background-color: #66CCFF }
.dd .ddChild a img {
    border: 0;
    padding: 0 2px 0 0;
    vertical-align: middle;
}
.dd .ddChild a.selected { background-color: #66CCFF }
.hidden { display: none }
/* - */
@font-face {
    font-family: 'AmasisMTStdLight';
    src: url('../font/amasismtstd-light-webfont.eot')/*tpa=http://www.adp.com/font/amasismtstd-light-webfont.eot*/;
    src: url('../font/amasismtstd-light-webfont.eot-iefix')/*tpa=http://www.adp.com/font/amasismtstd-light-webfont.eot?iefix*/ format('eot'), url('../font/amasismtstd-light-webfont.woff')/*tpa=http://www.adp.com/font/amasismtstd-light-webfont.woff*/ format('woff'), url('../font/amasismtstd-light-webfont.ttf')/*tpa=http://www.adp.com/font/amasismtstd-light-webfont.ttf*/ format('truetype'), url('../font/amasismtstd-light-webfont.svg#webfontEQIcu4Vv')/*tpa=http://www.adp.com/font/amasismtstd-light-webfont.svg#webfontEQIcu4Vv*/ format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Main Styles +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
a,
a:link {
    color: #000;
    text-decoration: none;
    outline: none;
}
a:visited { text-decoration: none }
a:hover { text-decoration: underline }
a:active { }
a.sbs,
a.sbs:link {
    color: #000;
    text-decoration: none;
}
a.sbs:visited {
    color: #000;
    text-decoration: none;
}
a.sbs:hover {
    text-decoration: underline;
    color: #D31F26;
}
a.sbs:active {
    text-decoration: underline;
    color: #D31F26;
}
a.sbs-more,
a.sbs:link {
    color: #D31F26;
    text-decoration: none;
}
a.sbs-more:visited {
    color: #D31F26;
    text-decoration: none;
}
a.sbs-more:hover {
    color: #000000;
    text-decoration: none;
}
a.sbs-more:active {
    color: #000000;
    text-decoration: none;
}
body { }
.bodynoImage { background: none }
body * {
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    color: #252525;
}
.background-home { background: url(../images/bg-home.gif)/*tpa=http://www.adp.com/images/bg-home.gif*/ repeat-x left 71px #FFF }
*:first-child+html .background-home { background-position: left 75px }
.bg-solutions,
.bg-payroll { background: url(../images/backgrounds/bg-payroll.gif)/*tpa=http://www.adp.com/images/backgrounds/bg-payroll.gif*/ repeat-x left 71px }
*:first-child+html .bg-payroll,
*:first-child+html .bg-solutions { background-position: left 73px }
* html .bg-payroll,
* html .bg-solutions,
* html .background-home { background-position: left 73px }
.mainTbl {
    width: 974px;
    margin: 5px auto 0px auto;
}
/* =content-main */
#content-main {
    width: 973px;
    height: auto;
    overflow: hidden;
    border-bottom: 1px solid #d2d2d2;
}
#content-main.noBg { border: none }
/* =shadow effects */
.bg-top {
    display: none;
    height: 10px;
    width: 100%;
    margin-top: -5px;
}
* html .bg-top { margin-top: -10px }
#col-body {
    padding: 0;
    height: auto;
    overflow: hidden;
}
* html #col-body { /* hack IE 6 */:  }
#col-content {
    position: relative;
    padding-bottom: 45px;
}
#col-left,
#col-content,
#col-right,
#col-header { background-color: #fff }
#col-right { float: right }
/* Header ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#header {
    position: relative;
    padding: 0px;
    margin: 5px auto 0;
    z-index: 2000;
}
*:first-child+html #header { z-index: 1 }
/* =branding */
#branding {
    /*Logo*/
    position: absolute;
    left: 0px;
    top: 0px;
}
#branding #ADP-logo { }
/* =brandingnonav */
#brandingnonav {
    /*Logo*/
    position: absolute;
    left: 26px;
    top: 10px;
}
* html #brandingnonav {
    /* hack IE 6 */
    top: 10px;
}
#brandingnonav #ADP-logo { }
/* =other navigation */
#nav-other { padding: 5px 0 5px 105px; height:21px; }
#nav-other #nav-msg {
    float: left;
    padding-right: 2px;
}
#nav-other * {
    font-family: Arial, Helvetica, sans-serif;
    color: #2c2c2c;
    font-size: 11px;
}
#nav-other a:hover { text-decoration: none }
/* =other links */
#nav-other ul#links { float: right }
#nav-other ul#links li { float: left }
#nav-other ul#links li a {
    border: 0;
    padding: 1px 1px;
    margin: 0px 7px;
    display: block;
	line-height: 16px;
}
#nav-other ul#links li a:hover,
#nav-other ul#links li.linksboxed a:hover { text-decoration: underline }
/*-added for user login link-*/
#nav-other ul#links li.linksboxed a {
    padding: 3px 4px 5px 18px;
    margin-right: 0;
    text-decoration: none;
    color: #c31f25;
    background: url(../images/backgrounds/bullet-login.gif)/*tpa=http://www.adp.com/images/backgrounds/bullet-login.gif*/ no-repeat 4px 2px;
	*background: url(../images/backgrounds/bullet-login.gif)/*tpa=http://www.adp.com/images/backgrounds/bullet-login.gif*/ no-repeat 4px 3px;
	border: 1px solid #c31f25;
    font: bold 11px/11px Arial, Helvetica, sans-serif;
}
/* =country selector*/
ul#country-us {
    height: 21px;
    background: url(../images/country-us.gif)/*tpa=http://www.adp.com/images/country-us.gif*/ no-repeat left top;
    padding-left: 38px;
    margin-left: 10px;
    margin-right: 0px;
    *margin-right: 5px;
    float: right;
}

ul#country-us select {
    width: 70px;
    color: #2c2c2c;
    font: 11px Arial, Helvetica, sans-serif;
}

/* =country selector canada*/
ul#country-ca {
    height: 21px;
    background: url(../images/country-ca.gif)/*tpa=http://www.adp.com/images/country-ca.gif*/ no-repeat left top;
    padding-left: 38px;
    margin-left: 10px;
    margin-right: 0px;
    *margin-right: 5px;
    float: right;
}
ul#country-ca select {
    width: 70px;
    color: #2c2c2c;
    font: 11px Arial, Helvetica, sans-serif;
}

/* =country selector australia*/
ul#country-au {
    height: 21px;
    background: url(../images/country-au.gif)/*tpa=http://www.adp.com/images/country-au.gif*/ no-repeat left top;
    padding-left: 38px;
    margin-left: 10px;
    margin-right: 0px;
    *margin-right: 5px;
    float: right;
}
ul#country-au select {
    width: 70px;
    color: #2c2c2c;
    font: 11px Arial, Helvetica, sans-serif;
}

/* =country selector netherlands*/
ul#country-nl {
    height: 21px;
    background: url(../images/country-nl.png)/*tpa=http://www.adp.com/images/country-nl.png*/ no-repeat left top;
    padding-left: 38px;
    margin-left: 10px;
    margin-right: 0px;
    *margin-right: 5px;
    float: right;
}
ul#country-nl select {
    width: 70px;
    color: #2c2c2c;
    font: 11px Arial, Helvetica, sans-serif;
}


/*=nav-main top nav */
#nav-main { padding: 0px 0px 10px 125px }
#nav-main ul.social-links {
    float: right;
    padding-top: 2px;
    _padding-top: 3px;
    height: auto;
    overflow: hidden;
}
#nav-main ul.social-links li {
    float: left;
    margin-right: 7px;
}
#nav-main ul.social-links li a {
    display: block;
    height: 16px;
    width: 16px;
}


#nav-main ul.social-links li a.btn-youtube { background: url(../images/icons/icon-youtube.png)/*tpa=http://www.adp.com/images/icons/icon-youtube.png*/ no-repeat left top }
#nav-main ul.social-links li a.btn-twitter { background: url(../images/icons/icon-twitter.jpg)/*tpa=http://www.adp.com/images/icons/icon-twitter.jpg*/ no-repeat left top }
#nav-main ul.social-links li a.btn-linkedin { background: url(../images/icons/icon-ln.jpg)/*tpa=http://www.adp.com/images/icons/icon-ln.jpg*/ no-repeat left top }
.pad-bottom10 { padding-bottom: 10px }
*:first-child+html .pad-bottom10 { padding-bottom: 12px !important }
#nav-top {
    position: relative;
    background: url(../images/backgrounds/menu-list-separator.gif)/*tpa=http://www.adp.com/images/backgrounds/menu-list-separator.gif*/ no-repeat left top;
    display: block;
    height: 38px;
    width: 100%;
    z-index: 5000;
}
#nav-top li {
    float: left;
    padding: 0 12px 0;
    background: url(../images/backgrounds/menu-list-separator.gif)/*tpa=http://www.adp.com/images/backgrounds/menu-list-separator.gif*/ no-repeat right top;
}
#nav-top li a {
    display: block;
    position: relative;
    padding: 8px 20px 0;
    *padding: 8px 20px 0;
    _padding: 8px 20px 0;
    height: 30px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}
#nav-top li a span { display: none }
#nav-top li a:hover,
#nav-top li.selected a { text-decoration: none }
#nav-top li a:hover {
    background: url(../images/backgrounds/bg-left-hover-menu.gif)/*tpa=http://www.adp.com/images/backgrounds/bg-left-hover-menu.gif*/ no-repeat left top;
    color: #2c2c2c;
}
#nav-top li:hover a span {
    display: block;
    position: absolute;
    width: 6px;
    height: 38px;
    top: 0;
    right: 0;
    background: url(../images/backgrounds/bg-right-hover-menu.gif)/*tpa=http://www.adp.com/images/backgrounds/bg-right-hover-menu.gif*/ no-repeat right top;
}
#nav-top li#home-option.selected {
    padding: 8px 36px 0 35px;
    height: 30px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}
* html #nav-top li#home-option.selected { _padding: 8px 34px 0 34px }
#nav-top li.first-child {
    padding: 0 14px 0 13px;
    _padding-right: 12px\9;
    _padding-left: 13px\9;
}
#nav-top li .submenu {
    background: url(../images/backgrounds/bg-submenu.gif)/*tpa=http://www.adp.com/images/backgrounds/bg-submenu.gif*/ repeat-x left top;
    height: 163px;
    width: 955px;
    border-left: solid 1px #cdcdcd;
    border-right: solid 1px #cdcdcd;
    border-bottom: solid 1px #cdcdcd;
    display: none;
    position: absolute;
    top: 38px;
    left: 0;
    z-index: 900;
    _z-index: 20000;
    padding: 12px 0 0 28px;
}
.partners {
    width: 722px !important;
    left: 69px !important;
}
*:first-child+html .partners { left: 68px !important }
.media-center {
    /*left: -2px !important;*/
    width: 659px !important;
    *width: 657px !important;
}
.about-us {
    width: 931px !important;
    *width: 931px !important;
}
#nav-top li .submenu ul {
    height: 145px;
    width: auto;
    float: left;
    margin-right: 79px;
}
*:first-child+html #nav-top li .submenu ul.last-child { margin: 0 }
#nav-top li .submenu ul li {
    background: url(../images/red-arrow.gif)/*tpa=http://www.adp.com/images/red-arrow.gif*/ no-repeat left 12px !important;
    color: #383838;
    font: bold 12px Arial, Helvetica, sans-serif;
    padding: 7px 0 6px 9px !important;
    _padding: 6px 0 5px 9px !important;
    _width: auto;
    float: none;
}
#nav-top li .submenu ul li a {
    color: #383838 !important;
    font: bold 12px Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: left;
    height: auto !important;
    padding: 0 !important;
    text-transform: none;
}
#nav-top li .submenu ul li a:hover {
    text-decoration: underline;
    background: none !important;
}
#nav-top li .submenu ul li:hover a { background: none !important }
#nav-top li .submenu div.content-text {
    height: 145px;
    width: 205px;
    float: left;
}
#nav-top li .submenu div.content-text a sup {
    line-height: 10px;
    font-size: 8px;
}
#nav-top li .submenu div.content-text img { margin-bottom: 6px }
#nav-top li .submenu div.content-text p {
    color: #3e3e3e;
    font: bold 10px Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    line-height: 16px;
}
#nav-top li .submenu div.content-text a {
    color: #3e3e3e;
    font: bold 13px Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: left;
    height: auto !important;
    padding: 0 !important;
    text-transform: none;
}
#nav-top li .submenu div.content-text a:hover {
    text-decoration: underline;
    background-image: none;
}
.margin-right38 {
    margin-right: 38px;
    _margin-right: 38px;
}
.margin-right140 { margin-right: 140px !important }
.stock-container {
    height: 113px;
    width: 168px;
    padding: 16px;
    background: #eee;
    float: left;
}
.stock-container p {
    color: #3e3e3e;
    font: bold 13px Arial, Helvetica, sans-serif;
}
.stock-container p.green { color: #509a0e }
.stock-container p.red { color: #c30630 }
.no-margin { margin: 0 !important }
img.red-arrow { margin: 0 0 0 0 !important }
.hidden-inputs { display: none }
#slideshow {
    margin: auto;
    width: 951;
    height: 396;
}
#nav {
    z-index: 50;
    position: absolute;
    bottom: 170px;
    right: 15px;
}
#nav a {
    opacity: 0.5;
    margin: 0 5px;
    padding: 2px 4px;
}
#nav a:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}
#nav a:link:hover img { filter: alpha(opacity=100) }
#nav a.activeSlide { opacity: 1.0 }
#nav a:focus { outline: none }
#nav li {
    list-style-type: none;
    float: left;
    width: 25px;
}
#nav li a.activeLI {
    list-style-type: none;
    filter: alpha(opacity=100);
    opacity: 1.0;
}
#nav li a.activeLI img {
    list-style-type: none;
    filter: alpha(opacity=100);
    opacity: 1.0;
}
#nav li a img { filter: alpha(opacity=50) }
#nav li a img:hover { filter: alpha(opacity=100) }
#heading a {
    z-index: 51;
    display: inline;
    font-size: 26px;
    color: #ffffff;
    position: absolute;
    top: 70px;
    left: 500px;
    width: 400px;
    font-family: arial,verdana,"Sans-serif";
}
#subheading a {
    z-index: 51;
    font-size: 16px;
    color: #b7d8ff;
    position: absolute;
    top: 120px;
    left: 500px;
    width: 400px;
    font-family: arial,verdana,"Sans-serif";
}
#learnmoreurl {
    z-index: 52;
    position: absolute;
    top: 190px;
    left: 495px;
}
#learnmorelink {
    background: url(Unknown_83_filename)/*tpa=http://www.adp.com/css/images/learn_more.gif*/ no-repeat center right;
    width: 110px;
    height: 24px;
    display: block;
    text-indent: -9999px;
}
.tn-hide { }
.tn-loading { display: none }
/* =search box */
.search {
    float: right;
    position: relative;
    text-align: right;
    margin: 0px 0px 0px 5px;
}
.search input {
    border: 1px solid #2c2c2c;
    width: 188px!important;
    height: 18px;
    margin-right: 60px;
}
.search .btn-search {
    margin-right: 0;
    position: absolute;
    top: 0;
    *top: 1px;
    right: 0;
    width: 60px!important;
    height: 20px;
    background: url(../images/buttons/btn-search-red.jpg)/*tpa=http://www.adp.com/images/buttons/btn-search-red.jpg*/ no-repeat right top;
    border: none;
    cursor: pointer;
}
.search .btn-search:hover { background: url(../images/buttons/btn-search-red.jpg)/*tpa=http://www.adp.com/images/buttons/btn-search-red.jpg*/ no-repeat right -20px }


/*search box for canada french*/
/* =search box */
.searchfrench {
    float: right;
    position: relative;
    text-align: right;
    margin: 0px 0px 0px 5px;
}
.searchfrench input {
    border: 1px solid #2c2c2c;
    width: 188px!important;
    height: 18px;
    margin-right: 60px;
}
.searchfrench .btn-search-french {
    margin-right: 0;
    position: absolute;
    top: 0;
    *top: 1px;
    right: 0;
    width: 60px!important;
    height: 20px;
    background: url(../images/buttons/btn-search-red.jpg)/*tpa=http://www.adp.com/images/buttons/btn-search-red.jpg*/ no-repeat right top;
    border: none;
    cursor: pointer;
}
.searchfrench .btn-search:hover { background: url(../images/buttons/btn-search-red.jpg)/*tpa=http://www.adp.com/images/buttons/btn-search-red.jpg*/ no-repeat right -20px }
/*end search box for canada french*/






/* search box for netherlands*/
.searchnl {
    float: right;
    position: relative;
    text-align: right;
    margin: 0px 0px 0px 5px;
}
.searchnl input {
    border: 1px solid #2c2c2c;
    width: 188px!important;
    height: 18px;
    margin-right: 60px;
}
.searchnl .btn-search {
    margin-right: 0;
    position: absolute;
    top: 0;
    *top: 1px;
    right: 0;
    width: 60px!important;
    height: 20px;
    background: url(../images/buttons/NL-btn-search-red.png)/*tpa=http://www.adp.com/images/buttons/NL-btn-search-red.png*/ no-repeat right top;
    border: none;
    cursor: pointer;
}
.searchnl .btn-search:hover { background: url(../images/buttons/NL-btn-search-red.png)/*tpa=http://www.adp.com/images/buttons/NL-btn-search-red.png*/ no-repeat right -20px }
/* END search box for netherlands*/





/* Footer ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#footer { padding: 0px 0px }
#nav-footer {
    padding: 20px 4px 0;
    margin: 0px 0px;
    height: auto;
    overflow: hidden;
    color: #2c2c2c;
    font: 11px Arial, Helvetica, sans-serif;
}
#nav-footer * {
    font-family: tahoma;
    font-size: 11px;
    color: #2c2c2c;
}
#nav-footer ul li {
    float: left;
    padding: 5px 72px 5px 0;
}
#nav-footer ul li ul li {
    float: none;
    padding-right: 0;
    padding-left: 10px;
    background: url(../images/backgrounds/bullet-footer.gif)/*tpa=http://www.adp.com/images/backgrounds/bullet-footer.gif*/ no-repeat left center;
}
#nav-footer ul li ul li.title-list {
    padding: 0 0 3px 0;
    list-style: none;
    color: #5e5e5e;
    font: bold 13px Arial, Helvetica, sans-serif;
    background: none;
}
#nav-footer ul li.last-child { padding-right: 0 }
/* =copyright */
#site-info {
    padding: 20px 10px;
	clear: both;
    height: auto;
    overflow: hidden;
    position: relative;
}
#site-info * {
    font-size: 10px;
    color: #525252;
    font-family: Arial, Helvetica, sans-serif;
}
/* Body ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* =breadcrumb */
#breadcrumb {
    margin: 0px;
    padding: 2px 25px 10px 0;
    position: relative;
    color: #2c2c2c;
}
#breadcrumb,
#breadcrumb * { color: #2c2c2c }
#breadcrumb strong {
    font-weight: normal !important;
    font-size: 11px !important;
}
#breadcrumb a {
    color: #2c2c2c;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
}
#breadcrumb a:hover { text-decoration: underline }
div.tools-top {
    position: absolute;
    top: 10px;
    right: 0;
    _right: 15px;
}
#page-tools #to-share {
    background: url(../images/buttons/icon-share-this.gif)/*tpa=http://www.adp.com/images/buttons/icon-share-this.gif*/ no-repeat left center;
    display: /*inline-block*/none;
    font-size: 11px;
    padding: 4px 0 4px 20px;
    color: #c30630;
    text-decoration: none;
}
#page-tools #to-print {
    background: url(../images/buttons/icon-print.gif)/*tpa=http://www.adp.com/images/buttons/icon-print.gif*/ no-repeat left center;
    display: inline-block;
    font-size: 11px;
    padding: 4px 0 4px 20px;
    color: #c30630;
    margin-left: 15px;
    text-decoration: none;
}
#page-tools a:hover { opacity: 0.75; text-decoration: underline!important }
/* =left hand nav */
ul#lhn {
    width: 174px;
    margin-bottom: 10px;
}
ul#lhn * {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}
ul#lhn li {
    background: url(../images/backgrounds/lhn-separator.gif)/*tpa=http://www.adp.com/images/backgrounds/lhn-separator.gif*/ repeat-x left bottom;
    padding-bottom: 3px;
}
ul#lhn li { clear: both }
ul#lhn li:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/* .clearfix{display: inline-table;} _NO__DOTCOMMA__AFTER__*/
ul#lhn li { display: inline-block }
/* Hides from IE-mac \*/
* html ul#lhn li { height: 1px }
ul#lhn li { display: block }
/* End hide from IE-mac */
ul#lhn li a {
    background: url(../images/backgrounds/red-bullet-left-menu.gif)/*tpa=http://www.adp.com/images/backgrounds/red-bullet-left-menu.gif*/ no-repeat 164px center;
    text-transform: uppercase;
    color: #2c2c2c;
    display: block;
    padding: 9px 7px;
    font-size: 10px;
    line-height: 12px;
    font-weight: bold;
}
ul#lhn li a.line-double { padding: 9px 13px 9px 7px }
/* =sub-menu level-1 */
ul#lhn li ul {
    display: none; /* hidden submenu - level-1 */
    padding: 10px 0px 10px 0px;
}
ul#lhn li.selected a {
    background: url(../images/backgrounds/white-bullet-left-menu.gif)/*tpa=http://www.adp.com/images/backgrounds/white-bullet-left-menu.gif*/ no-repeat 160px center;
    text-decoration: none;
    background-color: #c30630;
    color: #FFF;
    margin-top: 5px;
}
ul#lhn li a:hover {
    background: url(../images/backgrounds/white-bullet-menu.gif)/*tpa=http://www.adp.com/images/backgrounds/white-bullet-menu.gif*/ no-repeat 164px center;
    text-decoration: none!important;
    background-color: #c30630;
    color: #FFF;
}
ul#lhn li.selected ul {
    display: block;
    margin: 0px;
    padding: 10px 0px 12px 0px;
}
ul#lhn li ul li {
    margin: 0;
    background: none;
}
ul#lhn li ul li a,
ul#lhn li.selected ul li a {
    /* A tag - level 1 */
    display: block;
    padding: 4px 0 4px 23px;
    margin: 0px;
    font-size: 11px;
    font: bold;
    text-transform: none; /*093008DOBEFCAPITALIZE*/
    color: #c42026;
    background: url(../images/backgrounds/grey-bullet.gif)/*tpa=http://www.adp.com/images/backgrounds/grey-bullet.gif*/ no-repeat 7px 5px;
}
ul#lhn li ul li a:hover {
    text-decoration: underline!important;
    background: url(../images/backgrounds/grey-bullet.gif)/*tpa=http://www.adp.com/images/backgrounds/grey-bullet.gif*/ no-repeat 7px 5px;
    color: #c42026;
}
ul#lhn li ul li a:hover sup { text-decoration: none }
/* =sub-menu level-2 */
ul#lhn li.selected ul li ul {
    padding: 0px;
    margin: 0px 0px 5px 0px;
    display: none;
    background: none;
}
ul#lhn li.selected ul li.selected ul { display: block }
ul#lhn li.selected ul li ul li {
    padding: 0px;
    margin: 0px;
}
* html ul#lhn li.selected ul li ul li {
    /* hack IE 6 */
    height: 1%;
}
ul#lhn li.selected ul li ul li a,
ul#lhn li.selected ul li.selected ul li a {
    /* A tag - level 2 */
    margin: 0px;
    padding: 3px 0px 3px 20px;
    background: none;
    color: #252525;
    font-size: 11px;
}
* html ul#lhn li.selected ul li ul li a,
* html ul#lhn li.selected ul li.selected ul li a { padding: 2px 0px 2px 20px }
ul#lhn li.selected ul li ul li.selected a { color: #0071a9 }
/* =sub-menu level-3 */
ul#lhn li.selected ul li.selected ul li ul {
    display: none;
    margin: 0px;
    padding: 0px;
}
ul#lhn li.selected ul li.selected ul li.selected ul {
    display: block;
    margin-bottom: 2px;
}
ul#lhn li.selected ul li.selected ul li.selected ul li {
    padding: 0px;
    margin: 0px;
    margin-left: 0px;
}
ul#lhn li.selected ul li.selected ul li.selected ul li a {
    /* A tag - level 3 */
    display: block;
    margin: 0px;
    padding: 1px 0px 1px 30px;
    font-weight: normal;
    color: #252525;
    background: url(../images/backgrounds/img-bullet-level3-off.gif)/*tpa=http://www.adp.com/images/backgrounds/img-bullet-level3-off.gif*/ no-repeat 22px center;
}
ul#lhn li.selected ul li.selected ul li.selected ul li.selected a { font-weight: bold }
ul#lhn li.selected ul li.selected ul li.selected ul li a:hover { color: #0071a9 }
/* =sub-menu level-4 */
ul#lhn li.selected ul li.selected ul li.selected ul li ul {
    display: none;
    margin: 0px;
    padding: 0px;
}
ul#lhn li.selected ul li.selected ul li.selected ul li.selected ul {
    display: block;
    margin-bottom: 2px;
}
ul#lhn li.selected ul li.selected ul li.selected ul li.selected ul li {
    padding: 0px;
    margin: 0px;
    margin-left: 0px;
}
ul#lhn li.selected ul li.selected ul li.selected ul li.selected ul li a {
    /* A tag - level 4 */
    display: block;
    margin: 0px;
    padding: 1px 0px 1px 42px;
    font-weight: normal;
    color: #252525;
    background: url(../images/backgrounds/img-bullet-level3-off.gif)/*tpa=http://www.adp.com/images/backgrounds/img-bullet-level3-off.gif*/ no-repeat 35px center;
    font-size: 10px;
    text-decoration: none;
}
ul#lhn li.selected ul li.selected ul li.selected ul li.selected ul li a:hover {
    color: #0071a9;
    text-decoration: underline;
}
ul#lhn li.selected ul li.selected ul li.selected ul li.selected ul li.selected a {
    /* A tag - level 4 */
    /*color: #0071a9;*/
}
ul#lhn li.selected a.here {
    color: #0071a9 !important;
    font-weight: bold !important;
}
ul#lhn li.selected a.here sup {
    text-decoration: none !important;
    color: #0071a9 !important;
}
/* Content Classes +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* =banner menu */
#col-content .section-banner {
    position: relative;
    margin-bottom: 20px; /*100408DO*/
}
* html #col-content .section-banner { overflow: hidden }
* html #col-content .section-banner img { vertical-align: bottom }
#col-content .section-banner img { vertical-align: bottom }

/*IE 6 hack for the banner business size boxes*/
* html #col-content .section-banner ul.section-options {
    position: absolute;
    display: inline;
    left: -8px;
    top: 99px;
    margin: 0px;
    padding: 0px;
}
#col-content .section-banner ul.section-options {
    position: absolute;
    left: 0px;
    bottom: 0px;
    margin: 0px;
    padding: 0px;
}
* html #col-content .section-banner ul.section-options li {
    float: left;
    list-style: none;
    background: none;
    margin: 0px 0px 0px 10px;
    padding: 0px;
}
#col-content .section-banner ul.section-options li {
    float: left;
    list-style: none;
    background: none;
    margin: 0px 0px 0px 8px;
    padding: 0 0 0 0;
}
* html #col-content .section-banner ul.section-options li a {
    display: block;
    margin: 0px;
    padding: 5px 12px;
    width: 157px;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    text-decoration: none;
    background-color: #c30630;
}
#col-content .section-banner ul.section-options li a {
    display: block;
    margin: 0px;
    padding: 5px 12px;
    width: 157px;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    text-decoration: none;
    background-color: #c30630;
}
#col-content .section-banner ul.section-options li a span {
    font-size: 11px;
    font-weight: normal;
    color: #FFF;
}
#col-content .section-banner ul.section-options li a:hover span, #col-content .section-banner ul.section-options li a.selected span { color: #2c2c2c }
*html #col-content .section-banner ul.section-options li a:hover, *html #col-content .section-banner ul.section-options li a.selected {
    text-decoration: none !important;
    background-color: #fff;
    color: #c30630;
}
#col-content .section-banner ul.section-options li a:hover, #col-content .section-banner ul.section-options li a.selected {
    text-decoration: none !important;
    background-color: #FFF;
    color: #c30630;
}
/*
#col-content .section-banner ul.section-options li a.selected {
    background: url(../images/backgrounds/banner-options-active-bg.gif) no-repeat 0px 0px;
    color: #17324d;
}
*/
#col-content ul li a {
	color: #C31F25;
	text-decoration: underline;
	font-size: 12px;
}
/* =titles */
#col-body h1,
#col-body h1 a {
    /* add 09-05-2008 */
    font: bold 20px Arial, Helvetica, sans-serif;
    color: #c31f25;
    margin-bottom: 17px; /*100308DO*/
	text-align: left;
	margin-top: 38px;
}
#col-body #col-left + #col-content h1 { margin-top: 38px; }
/* * html #col-body h1 { width: 100% } */

#col-content h1 + p,
#col-body p.main-paragraph {
    color: #363636;
    font: 14px/20px Arial,Helvetica,sans-serif !important;
}
#col-content p.main-paragraph a{
	color: #C31F25;
    font: 14px/20px Arial,Helvetica,sans-serif !important;
}
#col-body h1 sup {
    color: #C31F25;
    font: bold 12px/18px Arial,Helvetica,sans-serif;
}
#col-content h2,
#col-content h2 a {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #2c2c2c;
    text-decoration: none;
}
#col-content h4 {
    font: bold 14px Arial, Helvetica, sans-serif;
    color: #2c2c2c;
    padding-bottom: 5px;
}
#col-content.content h4 { font-size: 12px }
#col-content h4.gray,
#col-content h4.gray * {
    /* add: 09-05-2008 */;
    font: normal 11px Arial, Helvetica, sans-serif;
    color: #898989;
}
#col-content h5,
#col-content h5 * {
    /* add: 09-05-2008 */;
    font: normal 11px Arial, Helvetica, sans-serif;
    color: #0071A9;
}
#col-content .to-left-w50 {
    float: left;
    width: 50%;
    margin: 0px 0px 10px 0px;
    padding: 0px;
}
/* =text */
#col-content strong,
#col-content b { color: #2c2c2c }
/* =paragraph */
#col-content p {
    margin-bottom: 15px;
    color: #2c2c2c;
}
#col-content p,
#col-content strong,
#col-content b,
#col-content i,
#col-content em {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 20px;
}
#col-content p a,
#col-content p a strong { 
	color: #C31F25;
	text-decoration: underline;
	font-size: 12px 
}
#col-body p.main-paragraph {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
}
/* =order list */
#col-content ol { margin-bottom: 15px }
#col-content ol li {
    list-style-position: inside;
    list-style-type: decimal;
    font-size: 12px;
    margin-bottom: 2px;
}
/*recent changes 17/12/2008 */
#col-content blockquote { padding-left: 20px }
#col-content em,
#col-content em * { font-style: italic }
/* =order list */
#col-content ol { margin: 0px 0px 15px 0px }
#col-content ol>li,
#col-content li ol>li {
    list-style-position: inside;
    list-style-type: decimal;
    background: none;
    font-size: 12px;
    padding: 0px;
    margin: 0px 0px 2px 10px;
}
#col-content li ol { margin-bottom: 0px }
/*second level (alphabetic) */
#col-content li ol li ol li {
    list-style-position: inside !important;
    background: none !important;
    list-style-type: decimal !important;
}
/*List*/
#col-content ul { margin-bottom: 20px }
#col-content ul li 
{
    padding-left: 16px;
    color: #2c2c2c;
    background: url(../images/backgrounds/content-bullet.gif)/*tpa=http://www.adp.com/images/backgrounds/content-bullet.gif*/ no-repeat 0 8px;
    font: 12px/22px Arial, Helvetica, sans-serif;
    _height: 1%;
}
/* Generic Classes +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
* html #col-right { overflow: hidden }
#col-content .no-all,
#col-right .no-all {
    padding: 0px !important;
    margin: 0px !important;
    background: none !important;
}
#col-content .no-margin,
#col-right .no-margin { margin: 0px 0px 2px 0px !important }
#col-content .no-border { bordeR: none !important }
#col-content .no-bold { font-weight: normal !important }
#col-content .text-blue,
#col-content .text-blue * { color: #0071a9 !important }
#col-content .text-black,
#col-content .text-black * { color: #252525 !important }
#col-content .text-alert {
    color: #01c90e !important;
    font-weight: bold;
}
#col-content .text-normal { font-size: 12px !important }
#col-content .text-11px,
#col-content .text-11px strong,
#col-content .text-11px b,
#col-content .text-11px li { font-size: 11px !important }
#col-content .text-11px strong,
#col-content .text-11px b { font-weight: bold }
#col-right .text-normal {
    font-size: 11px !important;
    line-height: normal !important;
}
#col-content .text-small,
#col-content .text-small *,
#col-right .text-small,
#col-right .text-small * { font-size: 10px !important }
#col-content .text-big,
#col-right .text-big { font-size: 16px !important }
.content-separator {
    margin-top: 25px;
    padding-top: 25px;
    background: url(../images/backgrounds/content-separator-bg.gif)/*tpa=http://www.adp.com/images/backgrounds/content-separator-bg.gif*/ no-repeat center top;
}
#col-content .intro {
    font: normal 15px Arial, Helvetica, sans-serif;
    color: #2a4561;
    margin-bottom: 15px;
    word-spacing: 1px;
}
#col-content .note,
#col-content .note strong,
#col-content .note b {
    font-size: 11px !important;
    font-family: Arial, Helvetica, sans-serif !important;
    color: #898989 !important;
}
#col-content .note-small,
#col-content .note-small strong,
#col-content .note-small b {
    font-size: 9px !important;
    color: #898989 !important;
    color: #898989 !important;
}
/* =section-gray */
.section-gray {
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    border-left: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
    padding: 18px 15px;
    _padding: 18px 15px 18px 15px!important;
    background: url(../images/backgrounds/bg-search-box.gif)/*tpa=http://www.adp.com/images/backgrounds/bg-search-box.gif*/ repeat-x left top #C1C1C1;
    position: relative;
    width: 322px;
    _width: 308px;
    /*height: 79px;*/
    margin: 27px 0 7px;
    overflow: hidden;
}
/* =links */
/* =links */
#col-content a.started-link {
   /*position: absolute;*/
    bottom: 15px;
    _bottom: 0;
}
#col-content .table-2cols .table-col a:hover,
#col-content .table-4cols .table-col a:hover { text-decoration: underline }
#col-content a.started-link:hover,
#col-content .releases-box a:hover,
#col-content .news-box a:hover,
#col-content a.view-more:hover,
.box-body a:hover { text-decoration: underline!important }
/* =more-links */
#col-content .more-links li {
    display: inline;
    background: none;
    margin: 0px;
    padding: 0px;
}
#col-content .more-links li a {
    font-size: 11px;
    padding-right: 10px;
    margin-right: 8px;
    background: url(../images/backgrounds/more-links-separator.gif)/*tpa=http://www.adp.com/images/backgrounds/more-links-separator.gif*/ no-repeat right center;
}
#col-content .more-links li.last-child a { background: none }
/* =list of Items */
div.list-items { }
#col-body #col-content div.list-items a.view-all {
    color: #252525;
    font-size: 10px;
    text-decoration: underline;
    margin-top: 5px;
}
#col-body #col-content div.list-items ul {
    padding: 5px 0px 0px 0px;
    margin: 0px 0px 5px 0px;
}
#col-body #col-content div.list-items ul li {
    background: none;
    padding: 0px 0px 5px 0px;
    margin: 0px;
}
#col-body #col-content div.list-items ul li * {
    font-size: 11px;
    color: #5a5a5a;
}
#col-body #col-content div.list-items ul li a {
    font-weight: bold;
    color: #252525;
}
/* =list horizontal */
ul.list-horizontal { }
ul.list-horizontal li {
    float: left;
    display: block;
    width: 103px;
    margin-right: 6px !important;
}
ul.list-horizontal li img { border: 2px solid #e0e0e0 }
ul.list-horizontal li a { line-height: 11px }
ul.list-horizontal li p {
    font-size: 10px !important;
    line-height: 11px !important;
}
/* =box search */
#col-body #col-content .box-search h3 {
    color: #c30630;
    font-size: 14px;
    font-weight: bold;
}
#col-body #col-content .box-search p {
    font-size: 12px;
    margin: 6px 0 18px;
}
#col-body #col-content .box-search a { font-size: 10px }
#col-body #col-content .box-search .btn-search {
    background: url(../images/buttons/btn-search-red.jpg)/*tpa=http://www.adp.com/images/buttons/btn-search-red.jpg*/ no-repeat left 0;
    width: 60px;
    height: 20px;
    border: none;
    cursor: pointer;
}
#col-body #col-content .box-search .btn-search:hover { background: url(../images/buttons/btn-search-red.jpg)/*tpa=http://www.adp.com/images/buttons/btn-search-red.jpg*/ no-repeat left -20px }
/* =select controls styles */
#col-content .select-small { width: 75px }
#col-content .select-normal { width: 150px }
/* =for all right box - right column */
.box-body:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/* .clearfix{display: inline-table;} _NO__DOTCOMMA__AFTER__*/
.box-body { display: inline-block }
/* Hides from IE-mac \*/
* html .box-body { height: 1px }
.box-body { display: block }
/* End hide from IE-mac */
/* =contact form */
#col-content .form-contact { }
#col-content .form-contact .btn-submit {
    background: url(../images/buttons/btn-submit.gif)/*tpa=http://www.adp.com/images/buttons/btn-submit.gif*/ no-repeat left top;
    width: 57px;
    height: 21px;
    border: 0px;
    cursor: pointer;
}
#col-content .form-contact .fc-data {
    float: left;
    width: 220px;
    margin-right: 10px;
}
#col-content .form-contact .fc-topics {
    float: left;
    width: 240px;
    margin-right: 10px;
}
#col-content .form-contact .fc-comments {
    float: left;
    width: 212px;
}
#col-content .form-contact .control-wlabel { display: inline-block }
#col-content .form-contact label,
#col-content .form-contact p,
#col-content .form-contact ul li { color: #252525 !important }
#col-content .form-contact label,
#col-content .form-contact p,
#col-content .form-contact p *,
#col-content .form-contact ul li { font-size: 11px !important }
#col-content .form-contact .fc-data label.overlabel-apply {
    left: 7px;
    top: 5px;
}
#col-content .form-contact .fc-data div.ctrl-little input,
#col-content .form-contact .fc-data input.ctrl-little,
#col-content .form-contact .fc-data div.ctrl-small input,
#col-content .form-contact .fc-data input.ctrl-small,
#col-content .form-contact .fc-data div.ctrl-medium input,
#col-content .form-contact .fc-data input.ctrl-medium,
#col-content .form-contact .fc-data input.ctrl-normal,
#col-content .form-contact .fc-comments textarea.ctrl-normal {
    padding: 3px 5px;
    color: #252525;
    font-size: 11px;
    margin-bottom: 6px;
    border: 1px solid #868686;
}
#col-content .form-contact .fc-comments textarea.ctrl-normal { padding: 1px 4px }
#col-content .form-contact textarea.ctrl-normal {
    height: 89px;
    *height: 94px;
}
#col-content .form-contact .ctrl-large { width: 240px }
#col-content .form-contact .ctrl-normal {
    width: 202px;
    margin-bottom: 6px;
}
#col-content .form-contact .fc-data div.ctrl-medium {
    float: left;
    padding-right: 3px;
}
#col-content .form-contact .fc-data div.ctrl-medium input,
#col-content .form-contact input.ctrl-medium { width: 92px }
#col-content .form-contact .fc-data div.ctrl-small { float: left }
#col-content .form-contact .fc-data div.ctrl-small input { width: 48px }
#col-content .form-contact .fc-data div.ctrl-little {
    float: left;
    padding-right: 3px;
}
#col-content .form-contact .fc-data div.ctrl-little input { width: 32px }
#col-content .form-contact .fc-topics ul {
    padding: 0px 0px 5px 0px !important;
    *padding: 0px 0px 9px 0px !important;
}
#col-content .form-contact .fc-topics ul li {
    padding: 3px 0px !important;
    *padding: 0px !important;
    margin: 0px !important;
    clear: both;
}
#col-content .form-contact .fc-topics ul li input { }
#col-content .form-contact .fc-topics ul li label { margin: 0px }
/* =contact-us box - small right column */
#contact-us {
    margin-bottom: 20px;
    position: relative;
}
#contact-us .box-body {
    padding: 13px 32px 18px 18px;
    _padding: 13px 32px 12px 16px;
    min-height: 71px;
    background-color: #EFEFEF;
    margin-top: 15px;
}
* html #contact-us .box-body { height: 71px }
#contact-us .box-bottom { }
#contact-us * {
    font: normal 10px Arial, Helvetica, sans-serif;
    color: #464646;
}
#col-right .social-ntw-box h2,
#col-right .box-blue-light h2,
#contact-us h2 {
    color: #c31f25;
    margin-bottom: 8px;
    font: 20px AmasisMTStdLight, Arial, Helvetica, sans-serif;
}

#contact-us ul { 
	height: 20px;
    margin-bottom: 0; 
}

#contact-us ul li {
    float: left;
    margin-right: 14px;
	background: none;
	padding-left: 0;
}
#contact-us .toRight {
    position: absolute;
    right: 1px;
    bottom: 1px;
}
* html #contact-us .toRight { bottom: 0px }
/* =generic blue box - right column */
.box-blue {
    width: 166px; /*100408DOwidth: 202px;*/
    margin-bottom: 10px;
    background: url(../images/backgrounds/box-blue-middle-w166.gif)/*tpa=http://www.adp.com/images/backgrounds/box-blue-middle-w166.gif*/ repeat-y left top;
}
.box-blue .box-body {
    background: url(../images/backgrounds/box-blue-top-w202.gif)/*tpa=http://www.adp.com/images/backgrounds/box-blue-top-w202.gif*/ no-repeat left top;
    min-height: 35px;
    padding: 10px 10px 0px 10px;
}
.box-blue .box-body * {
    font: normal 11px Arial, Helvetica, sans-serif;
    color: #1a2e3e;
}
.box-blue .box-body .toLeft {
    margin-bottom: 10px;
    *margin-bottom: 0px;
}
.box-blue .box-body p {
    color: #d7e4ee;
    margin-bottom: 10px;
}
.box-blue .box-body h2,
.box-blue .box-body h3 {
    color: #dce6ea;
    font: normal 16px/17px Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
}
.box-blue .box-body h3 {
    font: bold 13px/15px Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}
.box-blue .box-body h2.center,
.box-blue .box-body h3.center { padding-top: 7px }
.box-blue .box-body .dropdown-list {
    /*dropdown list*/
    margin-bottom: 4px;
    background: url(../images/backgrounds/dropdown-list-w183.gif)/*tpa=http://www.adp.com/images/backgrounds/dropdown-list-w183.gif*/ no-repeat left top;
    height: 23px;
}
.box-blue .box-body .dropdown-list a {
    display: block;
    text-decoration: none;
    padding: 4px 10px;
}
.box-blue .search-form,
.box-blue .subscribe-form {
    background: url(../images/buttons/btn-search-form.gif)/*tpa=http://www.adp.com/images/buttons/btn-search-form.gif*/ no-repeat left top;
    width: 55px;
    height: 21px;
    border: none;
    float: right;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
}
.box-blue .search-form {
    background: url(../images/buttons/btn-search-form.gif)/*tpa=http://www.adp.com/images/buttons/btn-search-form.gif*/ no-repeat left top;
    width: 55px;
}
.box-blue .subscribe-form {
    background: url(../images/buttons/btn-subscribe-form.gif)/*tpa=http://www.adp.com/images/buttons/btn-subscribe-form.gif*/ no-repeat left top;
    width: 73px;
}
.box-blue .text-big { color: #d7e4ee }
.box-blue .box-bottom {
    background: url(../images/backgrounds/box-blue-bottom-w202.gif)/*tpa=http://www.adp.com/images/backgrounds/box-blue-bottom-w202.gif*/ no-repeat left bottom;
    padding: 2px 10px 8px 10px;
    min-height: 10px,;
}
.box-blue .box-bottom .left { padding-top: 5px }
.box-blue .box-bottom label { color: #fff }
#col-right .box-blue .control-wlabel { position: relative }
#col-right .box-blue .control-wlabel label { left: 5px }
#col-right .box-blue .control-wlabel input {
    border: 1px solid #436278;
    background-color: #f3f7fa;
    width: 173px;
    padding: 2px 4px;
    margin-bottom: 3px;
}
.box-blue .box-body select {
    padding: 1px 0px;
    *padding: 1px 10px;
    margin: 1px 0px 3px 0px;
    width: 100%;
    background-color: #f3f7fa;
}
/*#col-right .box-blue .control-wlabel input,*/
#col-right .box-blue .control-wlabel label { color: #7d7d7d }
/* =generic silver/red box- small right column */
.social-ntw-box,
.box-white,
.box-blue-light {
    margin-bottom: 20px;
    background-color: #EFEFEF;
}
.social-ntw-box,
.box-blue-light .box-body {
    padding: 13px 11px 11px 18px;
    _padding: 13px 13px 13px 16px;
    padding: 13px 11px 0px 18px\9;
}
#col-right .box-silver .box-body p {
    margin-bottom: 5px;
    padding: 0px;
}
#col-right .box-silver .box-body .read-more { font-size: 10px }
/* blue-light */
#col-right .box-blue-light h2 { margin-bottom: 8px }
#col-right .box-blue-light .box-body label {
    color: #2c2c2c;
    font: bold 11px/12px Arial, Helvetica, sans-serif;
    vertical-align: text-bottom;
}
#col-right .box-body label.search-career {
    color: #2c2c2c;
    font: normal 13px Arial, Helvetica, sans-serif;
    display: block;
    width: auto;
}
#col-right .box-body input.search-career {
    padding-left: 5px;
    _padding-top: 3px;
    margin-top: 8px;
    height: 20px;
    _height: 20px;
    width: 159px;
    border: none;
    background: url(../images/backgrounds/bg-select.png)/*tpa=http://www.adp.com/images/backgrounds/bg-select.png*/ no-repeat left top;
}
#col-right .box-body .btn-search-career {
    margin-left: 18px;
    margin-bottom: 3px;
    border: none;
    width: 124px;
    height: 25px;
    cursor: pointer;
    background: url(../images/buttons/btn-find-career.jpg)/*tpa=http://www.adp.com/images/buttons/btn-find-career.jpg*/ no-repeat left 0;
}
#col-right .box-body .btn-search-career:hover { background: url(../images/buttons/btn-find-career.jpg)/*tpa=http://www.adp.com/images/buttons/btn-find-career.jpg*/ no-repeat left -25px }
.box-blue-light .box-body p,
.box-blue-light .box-body label {
    color: #505050;
    font-size: 10px;
}
.box-blue-light .box-body p { margin-bottom: 5px }
.box-blue-light .box-body label {
    display: inline-block;
    width: 87px;
}
.box-blue-light .ctrl-little {
    height: 20px;
    _height: 15px;
    width: 56px;
    padding-left: 14px;
    *padding-top: 3px;
    _padding-top: 5px;
    vertical-align: top;
    border: none;
    background: url(../images/backgrounds/bg-input-box.png)/*tpa=http://www.adp.com/images/backgrounds/bg-input-box.png*/ no-repeat left top;
}
.box-blue-light .select-stylized {
    margin-bottom: 10px;
    height: auto;
    overflow: hidden;
    margin-top: 10px;
}
.box-blue-light .select-stylized .dd {
    width: 159px !important;
    position: absolute!important;
    z-index: 101!important;
}
.box-blue-light .select-stylized .dd .ddChild {
    border-bottom: 1px solid #d1d1d1;
    border-left: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1;
    width: 158px !important;
}
/* Dropdown default styles */
.box-blue-light .select-stylized .dd .ddTitle {
    position: relative;
    background: url(../images/backgrounds/bg-select.gif)/*tpa=http://www.adp.com/images/backgrounds/bg-select.gif*/ no-repeat center center;
    border: none;
    height: 20px;
    padding: 0px 0 0 6px;
    cursor: pointer;
}
.box-blue-light .select-stylized .dd .ddTitle span.arrow {
    position: absolute;
    top: 2px;
    right: 4px;
    background: url(../images/backgrounds/bg-btn-select.gif)/*tpa=http://www.adp.com/images/backgrounds/bg-btn-select.gif*/ no-repeat left top;
    width: 17px;
    height: 16px;
    margin: 0;
}
.box-blue-light .select-stylized .dd .ddChild a {
    background-color: #FFFFFF;
    background-image: none!important;
    color: #666;
    font: 10px/19px Helvetica,Arial,sans-serif;
    padding: 0 0 0 7px;
}
.box-blue-light .select-stylized .dd .ddChild a:hover,
.box-blue-light .select-stylized .dd .ddChild a.selected:hover {
    background-color: #82c5e9!important;
    text-decoration: none!important;
}
.box-blue-light .select-stylized .dd .ddChild a.selected {
    background-color: #dadcde;
    color: #666;
}
.box-blue-light .select-stylized .dd .ddChild a:hover span,
.box-blue-light .select-stylized .dd .ddChild a.selected:hover span {
    color: #FFF;
    margin: 0;
}

.box-blue-light .select-stylized .dd .ddChild a.selected span {
    color: #666;
    margin: 0;
}
.box-blue-light .select-stylized .dd .ddChild a span {
    color: #666;
    font: 10px/19px Helvetica,Arial,sans-serif;
}
.box-blue-light .select-stylized .dd .ddTitle span.ddTitleText {
    color: #5d5d5d;
    font: bold 11px/20px Arial, Helvetica, sans-serif;
}
/**/
.box-blue-light .btn-submit {
    margin-top: 25px;
    _margin-top: 40px;
    margin-left: 3px;
    border: none;
    width: 155px;
    height: 25px;
    cursor: pointer;
    background: url(../images/buttons/view-solution-btn.jpg)/*tpa=http://www.adp.com/images/buttons/view-solution-btn.jpg*/ no-repeat left 0;
}
.box-blue-light .btn-submit:hover { background: url(../images/buttons/view-solution-btn.jpg)/*tpa=http://www.adp.com/images/buttons/view-solution-btn.jpg*/ no-repeat left -25px }
/*clearfix*/
.box-silver ul li:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.box-silver ul li { display: inline-block }
/* Hides from IE-mac \*/
* html .box-silver ul li { height: 1px }
.box-silver ul li { display: block }
/* End hide from IE-mac */
/* =table with 2cols, 3cols, 4cols */
#col-content .table-2cols,
#col-content .table-4cols { width: 100% }
/* clearfix */
.table-row:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/* .clearfix{display: inline-table;} _NO__DOTCOMMA__AFTER__*/
.table-row { display: inline-block }
/* Hides from IE-mac \*/
* html .table-row { height: 1px }
.table-row { display: block }
/* End hide from IE-mac */
#col-content .table-2cols .table-row,
#col-content .table-4cols .table-row {
    clear: both;
    height: auto;
    overflow: hidden;
}
#col-content .table-2cols.unequal-cols .table-col,
#col-content .table-2cols .table-col,
#col-content .table-4cols .table-col {
    float: left;
    padding: 5px 0 0 0;
    position: relative;
}
#col-content .table-2cols .table-row .table-col {
    /*width: 476px;*/
    padding: 5px 14px 30px 0;
    width: 340px; /*330*/
    _width: 345px;
}
#col-content .table-2cols .table-row div.table-col.first-child {
    margin-right: 40px; /*60*/
}

#col-content .table-2cols .table-col h2,
#col-content .table-4cols .table-col h2 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 12px;
}
#col-content .table-2cols .table-col p,
#col-content .table-4cols .table-col p {
    font-size: 12px;
    color: #2c2c2c;
    margin-bottom: 10px;
}
#col-content .table-2cols .table-col ul,
#col-content .table-4cols .table-col ul {
    margin-bottom: 10px;
    margin-top: 2px;
}
#col-content .table-2cols .table-col ul a,
#col-content .table-4cols .table-col ul a {
    color: #474747!important;
    background: none!important;
    padding: 0!important;
    font: 13px Arial, Helvetica, sans-serif;
    text-decoration: none;
}

#col-content .table-2cols .table-col ul li,
#col-content .table-4cols .table-col ul li,
#col-content div.table-4cols.white-bg .table-col ul li {
    margin: 0px 0px 10px 0px;
    _margin: 0px 0px 10px 0px;
	/*display: inline-block;*/
    background: url(../images/solutions-bullets.gif)/*tpa=http://www.adp.com/images/solutions-bullets.gif*/ no-repeat 2px 5px;
    padding-left: 10px;
    _padding: 0 0 0 10px;
    _height: 1%;
    line-height: normal;
}
#col-content .table-2cols.unequal-cols .table-row div.table-col.last-child {
    padding-left: 30px;
    width: 240px;
    _width: 240px!important;
    border: none!important;
}
#col-content .table-2cols.unequal-cols .table-row div.table-col {
    width: 476px;
    border-right: 1px solid #D2D2D2;
    margin-right: 0;
    padding-right: 0;
}
#col-content .table-4cols .table-row { padding: 30px 0 0 0 }
#col-content .table-4cols .table-row.first-child { padding: 0 }
#col-content .table-4cols .table-row.last-child { margin-bottom: 24px }
#col-content .table-4cols .table-col {
    /* 180px */
    padding: 12px 14px 30px 15px;
    width: 201px; /*100408DOwidth: 150px; */
    min-height: 50px;
    overflow: hidden;
    height: auto;
    margin: 0px 28px 0px 0px;
    border-top: 1px solid #f6f6f6;
    border-right: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    background: url(../images/backgrounds/bg-4cols.gif)/*tpa=http://www.adp.com/images/backgrounds/bg-4cols.gif*/ repeat-x left top #fafafa;
    position: relative;
}
* html #col-content .table-4cols .table-col {
    padding: 12px 14px 30px 15px!important;
    height: 50px;
    height: expression( this.scrollHeight < 91 ? "50px" : "auto" );
    width: 195px;
}
#col-content .table-4cols .table-col ul { margin-top: 15px;  }
#col-content .table-4cols .table-col ul li { margin-bottom: 5px }
#col-content .table-4cols .table-col ul.started-links {
    position: absolute;
    bottom: 18px;
    _bottom: 15px;
    margin: 0;
}
#col-content .table-4cols .table-col a.started-link {
    position: absolute;
    bottom: 18px;
    _bottom: 14px;
}
#col-content .table-4cols .table-col ul.started-links li {
    float: left;
    margin: 0;
}
#col-content .table-4cols .table-col ul.started-links li a,
#col-content .table-4cols .table-col ul.started-links li a strong {
    color: #C31F25!important;
    font-size: 12px!important;
    font-weight: normal;

    line-height: 12px;
    margin: 0 7px 0 0;
}
#col-content .table-4cols .table-col ul.started-links li a strong { margin: 0 }
#col-content .table-4cols.white-bg .table-row { padding: 0 }
#col-content .table-4cols.white-bg div.table-col {
    background: none;
    border: none;
    padding-left: 0;
    _padding: 12px 14px 12px 0!important;
    padding-bottom: 12px;
    margin-right: 40px;
}
#col-content .table-4cols .table-row div.last-child { margin-right: 0; }
#col-content .table-4cols .table-col p {
    margin-bottom: 12px;
    _margin-bottom: 12px;
    line-height: 16px;
    color: #2C2C2C;
    font-size: 12px;
}
.trc #col-content .table-4cols .table-col p.contacts-text { margin-bottom: 0px }
.trc #col-content .table-4cols .table-col .mTop { margin-top: 10px }
#col-content .table-4cols.bullet-boxes .table-row .table-col h4 {
    display: table-cell;
    padding: 0 40px 0 5px;
    height: 36px;
    vertical-align: middle;
}
#col-content .table-4cols.bullet-boxes .table-row .table-col p { margin-top: 15px }
#col-content .table-header {
    margin-left: 2px;
    width: 742px; /*011008DOwidth696px*/
    padding: 10px 0;
    position: relative;
    border-bottom: 1px solid #d2d2d2;
}
#col-content .table-header h2 { font-size: 16px }
#col-content .table-header .view-all {
    position: absolute;
    right: 35px;
    top: 8px;
    color: #252525;
    font-size: 10px;
}
.trc #col-content .table-4cols .table-col h2.red,
.trc #col-content .table-4cols .table-col h2.orange,
.trc #col-content .table-4cols .table-col h2.blue,
.trc #col-content .table-4cols-blue .table-col h2.red,
.trc #col-content .table-4cols-blue .table-col h2.orange,
.trc #col-content .table-4cols-blue .table-col h2.blue,
.trc-small #col-content .table-4cols-blue .table-col h2.red,
.trc-small #col-content .table-4cols-blue .table-col h2.orange,
.trc-small #col-content .table-4cols-blue .table-col h2.blue {
    font-size: 12px;
    margin-bottom: 10px;
}
.trc #col-content .table-4cols .table-col h2.blue,
.trc #col-content .table-4cols-blue .table-col h2.blue,
.trc-small #col-content .table-4cols-blue .table-col h2.blue { margin-bottom: 0px }
.trc #col-content .table-4cols .table-col h2.red,
.trc #col-content .table-4cols-blue .table-col h2.red,
.trc-small #col-content .table-4cols-blue .table-col h2.red { color: #c42026 }
.trc #col-content .table-4cols .table-col h2.orange,
.trc #col-content .table-4cols-blue .table-col h2.orange,
.trc-small #col-content .table-4cols-blue .table-col h2.orange { color: #d27100 }
/* =for columns with 3-4 */
.trc #col-content .table-3cols .no-shadow,
.trc #col-content .table-4cols .no-shadow,
.trc #col-content .table-4cols-blue .no-shadow,
.trc-small #col-content .table-4cols-blue .no-shadow {
    background: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
/* Color Style +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* =sitemap */
#col-content .sitemap,
#col-content .sitemap li,
#col-content .sitemap ul {
    margin: 0px;
    padding: 0px;
    background: none;
}
#col-content .sitemap,
#col-content .sitemap ul { padding: 0px 30px }
#col-content .sitemap li a {
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}
#col-content .sitemap li ul { padding-bottom: 10px }
#col-content .sitemap li li {
    background: url(../images/bullet_gray.gif)/*tpa=http://www.adp.com/images/bullet_gray.gif*/ no-repeat 0px 5px;
    padding-left: 10px;
}
#col-content .sitemap li li a {
    font-weight: normal;
    text-transform: none;
}
#col-content .sitemap li li ul { padding-bottom: 0px }
/*011008DO*/
.list-two-cols li {
    float: left;
    width: 45%;
}
.list-clear-left li {
    clear: left;
     float: left;
    width: 45%;
}
.list-two-cols li.nth-child-odd { clear: both }
.contact-iframe,
/* iframe {
    border: none;
    height: 360px;
    overflow: hidden;
    width: 760px;
    margin-left: -2px;
}*/
.red-table th {
    text-align: center;
    padding: 5px 10px;
    border: 1px solid #ed1b2e;
}
.red-table td {
    font: normal 12px/normal Arial, Helvetica, sans-serif;
    ++: ;
    padding: 5px;
    border: 1px solid #ed1b2e;
    vertical-align: top;
}
.red-table td .blue { color: #0071A9 }
.red-table td.center { text-align: center }
.red-table td.bg-title { background: #ed1b2e }
/*  --- ROUNDED TABLE ------------------------------ */
.rounded-table,
.rounded-table td,
.rounded-table tfoot,
.rounded-table thead,
.rounded-table p {
    padding: 0;
    margin: 0;
    font: normal 12px/normal Arial, Helvetica, sans-serif;
    color: #5a5a5a;
}
.rounded-table a img {
    border: none;
    vertical-align: middle;
    margin-right: 4px;
}
.rounded-table a.header {
    font: bold 12px/normal Arial, Helvetica, sans-serif;
    color: #575858;
    padding-right: 2px;
    text-align: left;
}
/*end Reset styles*/
.rounded-table tbody td {
    border-right: 1px solid #d8dcdf;
    vertical-align: top;
    padding: 8px 10px;
}
.rounded-table tfoot td {
    border-bottom: 1px solid #d8dcdf;
    vertical-align: top;
}
.rounded-table tbody tr.odd td { background: #f0f4f7 }
.rounded-table tbody tr.final-row td { background: url(../images/final-row-line.gif)/*tpa=http://www.adp.com/images/final-row-line.gif*/ repeat-x bottom left #f0f4f7 }
.rounded-table tbody th {
    background: url(../images/th-bg.gif)/*tpa=http://www.adp.com/images/th-bg.gif*/ repeat-x top left;
    font: bold 12px/normal Arial, Helvetica, sans-serif;
    color: #575858;
    padding: 10px 15px;
    text-align: left;
}
.rounded-table tbody td.first-td,
.rounded-table tbody td:first-child {
    background: url(../images/left-row-line.gif)/*tpa=http://www.adp.com/images/left-row-line.gif*/ repeat-y top left;
    color: #404041;
}
.rounded-table tbody tr.odd td.first-td,
.rounded-table tbody tr.odd td:first-child {
    background: url(../images/left-row-line.gif)/*tpa=http://www.adp.com/images/left-row-line.gif*/ repeat-y top left #f0f4f7;
    color: #404041;
}
.rounded-table tbody td.last-td,
.rounded-table tbody td:last-child {
    border-right: none;
    background: url(../images/right-row-line.gif)/*tpa=http://www.adp.com/images/right-row-line.gif*/ repeat-y top right;
    color: #404041;
}
.rounded-table tbody tr.odd { background: #f0f4f7 }
.rounded-table tbody tr.odd td.last-td,
.rounded-table tbody tr.odd td:last-child {
    border-right: none;
    background: url(../images/right-row-line.gif)/*tpa=http://www.adp.com/images/right-row-line.gif*/ repeat-y top right #f0f4f7;
    color: #404041;
}
.rounded-table .list-icons {
    font: normal 10px/normal Arial, Helvetica, sans-serif;
    vertical-align: top;
    color: #929292;
}
.rounded-table .list-icons a {
    color: #0071a9;
    font: bold 10px/normal Arial, Helvetica, sans-serif;
    margin-right: 4px;
    text-decoration: none;
}
/*Begin borders*/
.rounded-table tbody th.border-tr { background: url(../images/border-tr.gif)/*tpa=http://www.adp.com/images/border-tr.gif*/ no-repeat top right }
.rounded-table tbody th.border-tl { background: url(../images/border-tl.gif)/*tpa=http://www.adp.com/images/border-tl.gif*/ no-repeat top left }
.rounded-table tbody td.border-br {
    background: url(../images/border-br.gif)/*tpa=http://www.adp.com/images/border-br.gif*/ no-repeat bottom right;
    border: none;
}
.rounded-table tbody td.border-bl {
    background: url(../images/border-bl.gif)/*tpa=http://www.adp.com/images/border-bl.gif*/ no-repeat bottom left;
    border-left: none;
    border-bottom: none;
}
.rounded-table tbody tr.odd td.border-br {
    background: url(../images/border-br.gif)/*tpa=http://www.adp.com/images/border-br.gif*/ no-repeat bottom right #f0f4f7;
    border: none;
}
.rounded-table tbody tr.odd td.border-bl {
    background: url(../images/border-bl.gif)/*tpa=http://www.adp.com/images/border-bl.gif*/ no-repeat bottom left #f0f4f7;
    border-left: none;
    border-bottom: none;
}
/*End borders*/
/*  --- END ROUNDED TABLE ------------------------------ */
/*  --- MAROON CONTACT FORM ------------------------------ */
#contact-form-maroon {
    width: 263px;
    background: url(../images/backgrounds/box-contact-maroon-middle.gif)/*tpa=http://www.adp.com/images/backgrounds/box-contact-maroon-middle.gif*/ repeat-y left top #fff;
    margin-bottom: 10px;
    position: relative;
}
#contact-form-maroon .box-body {
    background: url(../images/backgrounds/box-contact-maroon-top.gif)/*tpa=http://www.adp.com/images/backgrounds/box-contact-maroon-top.gif*/ no-repeat left top;
    padding: 20px 20px 20px 25px;
}
#contact-form-maroon .box-bottom { background: url(../images/backgrounds/box-contact-maroon-bottom.gif)/*tpa=http://www.adp.com/images/backgrounds/box-contact-maroon-bottom.gif*/ no-repeat left bottom }
/*  --- END BLUE CONTACT FORM ------------------------------ */
/*  --- BLUE CONTACT FORM ------------------------------ */
#contact-form-blue {
    width: 263px;
    background: url(../images/backgrounds/box-contact-blue-middle.gif)/*tpa=http://www.adp.com/images/backgrounds/box-contact-blue-middle.gif*/ repeat-y left top #fff;
    margin-bottom: 10px;
    position: relative;
}
#contact-form-blue .box-body {
    background: url(../images/backgrounds/box-contact-blue-top.gif)/*tpa=http://www.adp.com/images/backgrounds/box-contact-blue-top.gif*/ no-repeat left top;
    padding: 20px 20px 20px 25px;
}
#contact-form-blue .box-bottom { background: url(../images/backgrounds/box-contact-blue-bottom.gif)/*tpa=http://www.adp.com/images/backgrounds/box-contact-blue-bottom.gif*/ no-repeat left bottom }
/*  --- END BLUE CONTACT FORM ------------------------------ */
/*  --- ORANGE CONTACT FORM ------------------------------ */
#contact-form-orange {
    width: 263px;
    background: url(../images/backgrounds/box-contact-orange-middle.gif)/*tpa=http://www.adp.com/images/backgrounds/box-contact-orange-middle.gif*/ repeat-y left top #fff;
    margin-bottom: 10px;
    position: relative;
}
#contact-form-orange .box-body {
    background: url(../images/backgrounds/box-contact-orange-top.gif)/*tpa=http://www.adp.com/images/backgrounds/box-contact-orange-top.gif*/ no-repeat left top;
    padding: 20px 20px 20px 25px;
}
#contact-form-orange .box-bottom { background: url(../images/backgrounds/box-contact-orange-bottom.gif)/*tpa=http://www.adp.com/images/backgrounds/box-contact-orange-bottom.gif*/ no-repeat left bottom }
/*  --- END ORANGE CONTACT FORM ------------------------------ */
/*  --- GREEN CONTACT FORM ------------------------------ */
#contact-form-green {
    width: 263px;
    background: url(../images/backgrounds/box-contact-green-middle.gif)/*tpa=http://www.adp.com/images/backgrounds/box-contact-green-middle.gif*/ repeat-y left top #fff;
    margin-bottom: 10px;
    position: relative;
}
#contact-form-green .box-body {
    background: url(../images/backgrounds/box-contact-green-top.gif)/*tpa=http://www.adp.com/images/backgrounds/box-contact-green-top.gif*/ no-repeat left top;
    padding: 20px 20px 20px 25px;
}
#contact-form-green .box-bottom { background: url(../images/backgrounds/box-contact-green-bottom.gif)/*tpa=http://www.adp.com/images/backgrounds/box-contact-green-bottom.gif*/ no-repeat left bottom }
/*  --- END GREEN CONTACT FORM ------------------------------ */
/*  --- BLUE OFFSET ------------------------------ */
#offset-blue {
    width: 413px;
    background: url(../images/backgrounds/box-offset-blue-middle.gif)/*tpa=http://www.adp.com/images/backgrounds/box-offset-blue-middle.gif*/ repeat-y left top #fff;
    margin-bottom: 10px;
    position: relative;
}
#offset-blue .box-body {
    background: url(../images/backgrounds/box-offset-blue-top.gif)/*tpa=http://www.adp.com/images/backgrounds/box-offset-blue-top.gif*/ no-repeat left top;
    padding: 20px 20px 20px 25px;
}
#offset-blue .box-bottom { background: url(../images/backgrounds/box-offset-blue-bottom.gif)/*tpa=http://www.adp.com/images/backgrounds/box-offset-blue-bottom.gif*/ no-repeat left bottom }
/*  --- END BLUE OFFSET ------------------------------ */
/* ------------------ addition for partners new --------------- */
.blue-light-boxes-2cols .table-row { clear: both }
.trc .blue-light-boxes-2cols .box-col {
    width: 754px;
    float: left;
    margin-right: 18px;
    background: #ecf4f9 url(../images/backgrounds/blue-light-box-col-bottom-371.gif)/*tpa=http://www.adp.com/images/backgrounds/blue-light-box-col-bottom-371.gif*/ no-repeat bottom left;
    padding: 0 0 15px 0;
}
.trc .blue-light-boxes-2cols .last-child { margin-right: 0px }
.trc .blue-light-boxes-2cols .header-box {
    background: #d0e3ee url(../images/backgrounds/blue-light-box-col-header-371.gif)/*tpa=http://www.adp.com/images/backgrounds/blue-light-box-col-header-371.gif*/ no-repeat top left;
    padding: 9px 17px;
}
.header-box h2 { margin-bottom: 0 !important }
.trc .blue-light-boxes-2cols .content-box {
    background: url(../images/backgrounds/blue-light-box-col-content-371.gif)/*tpa=http://www.adp.com/images/backgrounds/blue-light-box-col-content-371.gif*/ no-repeat top left;
    padding: 10px 11px 0 11px;
}

a.item-box,
#col-content a.item-box {
    background: #ecf4f9 url(../images/backgrounds/item-box-arrow.gif)/*tpa=http://www.adp.com/images/backgrounds/item-box-arrow.gif*/ no-repeat right center;
    border: #bfbfbf 1px solid;
    padding: 12px 50px 12px 12px;
    width: 670px;
    margin-bottom: 5px;
    display: block;
    text-decoration: none;
    position: relative;
}
a.item-box:hover,
#col-content a.item-box:hover {
    background: #ffffff url(../images/backgrounds/item-box-arrow-hover.gif)/*tpa=http://www.adp.com/images/backgrounds/item-box-arrow-hover.gif*/ no-repeat right center;
    border: #bfbfbf 1px solid;
    text-decoration: none !important;
}
.trc .blue-light-boxes-2cols a.item-box .round {
    display: block;
    width: 734px;
    height: 6px;
    position: absolute;
}
.trc .blue-light-boxes-2cols a.item-box .top {
    background: url(../images/backgrounds/item-box-top.gif)/*tpa=http://www.adp.com/images/backgrounds/item-box-top.gif*/ no-repeat top left;
    top: -1px;
    left: -1px;
}
.trc .blue-light-boxes-2cols a.item-box .bottom {
    background: url(../images/backgrounds/item-box-bottom.gif)/*tpa=http://www.adp.com/images/backgrounds/item-box-bottom.gif*/ no-repeat top left;
    bottom: -1px;
    _bottom: -10px;
    left: -1px;
}
.trc .blue-light-boxes-2cols a.item-box:hover .top { background: url(../images/backgrounds/item-box-top-hover.gif)/*tpa=http://www.adp.com/images/backgrounds/item-box-top-hover.gif*/ no-repeat top left }
.trc .blue-light-boxes-2cols a.item-box:hover .bottom { background: url(../images/backgrounds/item-box-bottom-hover.gif)/*tpa=http://www.adp.com/images/backgrounds/item-box-bottom-hover.gif*/ no-repeat top left }
a.item-box h3,
#col-content a.item-box h3 {
    font: bold 16px/normal Arial, Helvetica, sans-serif;
    color: #0071a9;
    margin-bottom: 4px;
    text-decoration: none;
    width: 235px;
    float: left;
    cursor: pointer;
}
a.item-box span.item-box-overview,
?col-content a.item-box span.item-box-overview {
    float: left;
    width: 435px;
    cursor: pointer;
    padding: 3px 0;
}
a.item-box p,
#col-content a.item-box p {
    font: bold 13px/normal Arial, Helvetica, sans-serif;
    margin-bottom: 3px;
}
/* ------------------ addition for new SBS payroll comparison table --------------- */
td.close {
    text-align: right;
    font-size: 10px;
    color: #999;
}
a.close {
    display: block;
    width: 9px;
    height: 9px;
    background-image: url(../images/close_btn.gif)/*tpa=http://www.adp.com/images/close_btn.gif*/;
    overflow: hidden;
    text-indent: 1em;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    margin: 4px;
}
a.close:hover { background-position: 0px -9px }
a.info img {
    border: 0px;
    padding: 3px 3px 1px;
}
div.info {
    display: inline;
    position: relative;
    visibility: hidden;
}
div.info div {
    position: absolute;
    left: -37px;
    color: #444;
}
div.info div h3,
div.info div p {
    font-size: 12px;
    margin: 0px;
}
div.info div table { width: 200px }
tr.head td {
    background-image: url(../images/head_bg.gif)/*tpa=http://www.adp.com/images/head_bg.gif*/;
    background-repeat: repeat-x;
    padding: 0px;
}
td.alt { background-color: #f0f6fa }
td.center { text-align: center }
td.service { padding: 8px 12px }
td.service img { padding-bottom: 6px }
tr.row td { border-bottom: 1px solid #666 }
tr.row td div.info td { border: 0px }
a.reset { display: none }
/*-- ADDED FOR ERROR VALIDATOR ON CANADA CLIENT SUPPORT WEB FORM --- */
.errorValidator {
    font-size: 8px;
    color: Red;
}
/*ADDED NEW CSS FROM NEW SKIN*/
* html #nav-top li.nth-child-1 { width: 2px }
* html #nav-top li.nth-child-2 { width: 205px }
* html #nav-top li.nth-child-3 { width: 182px }
* html #nav-top li.nth-child-4 { width: 138px }
* html #nav-top li.nth-child-5 { width: 8px }
* html #nav-top li.nth-child-6 { width: 116px }
#nav-top li.selected {
    margin-left: -2px;
    margin-right: -2px;
    background-color: #c30630;
    background-image: none;
    padding: 0 14px 0 13px;
    _padding: 0 13px 0 12px;
    padding-right: 13px\9;
    padding-left: 13px\9;
}
#nav-top li.selected a:hover { cursor: pointer }
#nav-top li.selected a {
    text-decoration: none;
    background: none;
}
#col-right p {
    color: #2c2c2c;
    line-height: 16px;
    margin-bottom: 15px;
    font-size: 12px;
}
#col-body #col-right .box-blue-light .box-body p + p {
    vertical-align: middle;
    margin-bottom: 4px;
    _margin-bottom: 0;
}
#col-body .bottom-content {
    margin-bottom: 30px;
    clear: both;
    color: #adadad;
    font: 10px/18px Arial, Helvetica, sans-serif;
}
#tabs a.offer,
.trc #col-content .table-2cols .table-col a,
.trc-small #col-content .table-2cols .table-col a,
#col-right .box-body a,
#col-content a.started-link,
ul.list-links li a,
#col-content .table-4cols .table-col a {
    padding: 0 0 0 7px;
    color: #c31f25;
    font: 12px Arial, Helvetica, sans-serif;
    background: url(../images/backgrounds/bullet-red-button.jpg)/*tpa=http://www.adp.com/images/backgrounds/bullet-red-button.jpg*/ no-repeat left 6px;
	display: block;
}
.trc #col-content .table-2cols .table-col a.view-more { font-weight: bold }
#col-content .table-2cols .table-col .releases-box,
#col-content .table-2cols .table-col .news-box { margin-bottom: 20px }
#col-right .box-white .box-body { background-color: #fff }
#col-right .box-white img {
    padding: 3px 4px 4px 3px;
    margin-bottom: 8px;
    border-bottom: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
}
#col-right .box-white p {
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 4px;
    margin-bottom: 0!important;
}
#col-right .box-white span {
    color: #c30630;
    text-decoration: none;
    vertical-align: top;
}
#col-right .box-white a {
    position: relative;
    display: inline-block;
    padding-left: 3px;
    color: #3e3e3e;
    font: bold 13px/17px Arial, Helvetica, sans-serif;
    text-decoration: none;
    background: none;
    _background-color: #FFFFFF;
}
#col-right .box-white a:hover { text-decoration: none }
#adp-inner-banners { margin-bottom: 22px }
#col-content h3 {
        color: #2c2c2c;
		font: 14px/20px Arial,Helvetica,sans-serif;
		padding-bottom: 18px;

}
.box-search .select-stylized.w134 .dd {
    margin-right: 5px;
    width: 134px !important;
    background: none;
}
.box-search .select-stylized.w134 .dd .ddChild {
    border-bottom: 1px solid #d1d1d1;
    border-left: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1;
    width: 134px !important;
}
.box-search .select-stylized.w82 .dd {
    margin-right: 5px;
    width: 82px !important;
    background: none;
}
.box-search .select-stylized.w82 .dd .ddChild {
    border-bottom: 1px solid #d1d1d1;
    border-left: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1;
    width: 82px !important;
}
/* Dropdown default styles */
.box-search .select-stylized.w134 .dd .ddTitle {
    position: relative;
    background: url(../images/backgrounds/bg-select-w134.png)/*tpa=http://www.adp.com/images/backgrounds/bg-select-w134.png*/ no-repeat center center;
    border: none;
    height: 20px;
    padding: 0px 0 0 6px;
    cursor: pointer;
}
.box-search .select-stylized.w82 .dd .ddTitle {
    position: relative;
    background: url(../images/backgrounds/bg-select-w82.png)/*tpa=http://www.adp.com/images/backgrounds/bg-select-w82.png*/ no-repeat center center;
    border: none;
    height: 20px;
    padding: 0px 0 0 6px;
    cursor: pointer;
}
.box-search .select-stylized .dd .ddTitle span.arrow {
    position: absolute;
    top: 2px;
    right: 4px;
    background: url(../images/backgrounds/bg-btn-select.gif)/*tpa=http://www.adp.com/images/backgrounds/bg-btn-select.gif*/ no-repeat left top;
    width: 17px;
    height: 16px;
    margin: 0;
}
.box-search .select-stylized .dd .ddChild a {
    background-color: #FFFFFF;
    background-image: none!important;
    color: #666;
    font: 10px/19px Helvetica,Arial,sans-serif;
    padding: 0 0 0 7px;
}
.box-search .select-stylized .dd .ddChild a:hover,
.box-search .select-stylized .dd .ddChild a.selected:hover {
    background-color: #82c5e9!important;
    text-decoration: none!important;
}
.box-search .select-stylized .dd .ddChild a.selected {
    background-color: #dadcde;
    color: #666;
}
.box-search .select-stylized .dd .ddChild a:hover span,
.box-search .select-stylized .dd .ddChild a.selected:hover span {
    color: #FFF;
    margin: 0;
}
.box-search .select-stylized .dd .ddChild a.selected span {
    color: #666;
    margin: 0;
}
.box-search .select-stylized .dd .ddChild a span {
    color: #666;
    font: 10px/19px Helvetica,Arial,sans-serif;
}
.box-search .select-stylized .dd .ddTitle span.ddTitleText {
    color: #5d5d5d;
    font: bold 11px/20px Arial, Helvetica, sans-serif;
}
/**/
#col-body .top-content {
    padding: 13px 13px 0 15px;
    border: 1px solid #c7c7c7;
    margin-bottom: 18px;
}
#col-content ul.list-links li {
    padding: 0;
    background: none;
    line-height: normal;
    margin-bottom: 4px;
}
/*Share button*/
.st_sharethis{ 
	display: inline-block;
	*margin-bottom: 3px;
}
.stButton .chicklets{
	font: 11px Arial,Helvetica,sans-serif!important;
    color: #c30630;
    text-decoration: none;
}
.stButton .chicklets:hover{
    text-decoration: underline;
}

#col-right .video-box {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #E9EFF2;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-top-color: white;
    border-top-style: solid;
    border-top-width: 2px;
    border-left-color:White;
    border-left-style: solid;
    border-left-width: 2px;
    border-right-color:White;
    border-right-style: solid;
    border-right-width: 2px;
    border-top-color: white;
    border-top-style: solid;
    border-top-width: 2px;
    box-shadow: 0 0 7px #BDBDBD;
    margin-bottom: 15px;
    margin-top: -15px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}

#col-right .video-box .video-icon 
{
	position: relative;
    left: 65px;
}

#col-right .video-box .video-link
{
	width: 100px;
	text-align: center;
	position: relative;
	left: 40px;	
}

#col-right .video-box .video-link a
{
	color: #C31F25;
	font-size: 12px;	
}

#col-right .video-box .video-link a:hover 
{
	text-decoration: underline;	
}



/*ADDED FOR NETHERLANDS FORMS*/



label.neth1{
float: left;
width: 130px;
font-size: 12px;
height: 18px;
}

label.neth2{
float: left;
width: 260px;
font-size: 12px;
height: 18px;
}

table.gender tbody tr td label{
width: auto;
}

table.gender tbody tr td input{
width: auto;
margin-right: 5px;
margin-bottom: 12px;
}

input.neth1, textarea{
width: 180px;
margin-bottom: 8px;
height: 18px;
}

textarea{
width: 250px;
height: 150px;
}

.boxes{
width: 1em;
}

#submitbutton{
margin-left: 120px;
margin-top: 5px;
width: 90px;
}

br.neth{
clear: left;
}

label.checkbox{
	font-weight: normal;
	float:none;
	
}

.optin{
margin-top: 5px;
}

.optin input{
width: auto;
position: relative;	
}

.submitButton{
    background: #C31F25;
    border: solid 1px #EFEFEF;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: white;    
    height: 25px; 
    cursor: pointer;
    margin-top: 5px;

}


select{
margin-bottom: 5px;
}

.checkBoxColumn{
width: 250px;
float: left;
}

.checkBoxColumn label{
float: left;
width: auto;
font-weight: normal;
margin-left: 5px;
}

.checkBoxColumn input{
float: left;
width: auto;
margin-bottom: 5px;
height: 18px;
}

.checkBoxWideColumn{
width: 300px;
float: left;
}

.checkBoxWideColumn label{
float: left;
width: auto;
font-weight: normal;
margin-left: 5px;
}

.checkBoxWideColumn input{
float: left;
width: auto;
margin-bottom: 5px;
height: 18px;
}

.whitepaperimage{
float: right;
}

#col-content .error ul li{
color:Red;
font-size: 11px;
background-image: none;
}

.error{
color:Red;
font-size: 11px;
}

/*Added for Netherlands Table Style*/

table.nldata {
  margin: 0 0 .875em 0;
  padding: 0;
  border: 1px solid #ddd;
  font-size: 1em;
}
table.nldata td {
  padding: 2px 5px;
  color: #7f7f7f;
  font-family: arial, sans-serif;
 font-size: 0.9em;
}
 
table.nldata tr.highlight td {
  padding: 1px 5px;
  background: #eee;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

/*Added for Netherlands Teaser Style*/

.teaser-small p img {
display: inline;
float: left;
margin: 0 5px 0 0;
height: 45px;
width: 45px;
}

.updateProgress
{
	position: absolute;
	top: auto;
	background-color: #fff;
	filter: alpha(opacity=70);
	MozOpacity: 0.7;
	opacity: 0.7;
	padding: 0px;
	margin: 0px;
}
.updateProgress div
{
	background-color: white;
	padding: 4px;
	position: absolute;
	top: 30%;
	left: 40%;
}

#col-right .section-wrap.section-wrap-withpromos {    
    box-shadow: 0 0 6px #BDBDBD;
    margin-bottom:20px;
}
#col-right .section-wrap-withpromos .section {
  border: 5px solid #FFFFFF;
  box-shadow: none !important;
  display: inline-block;
  margin: 0 !important;
}
#col-right .section-wrap-withpromos .section + .section, 
#col-right.mas .section-wrap-withpromos .section + .section {
  border-top: medium none !important;
  margin-top: 0;
}
.section ul.bulletedList {
  list-style: disc outside none;
  margin: 15px 0 15px 17px !important;
  padding-left: 14px;
}
#col-right .section.promo {
  padding-bottom: 10px;
  padding-top: 10px;
}
#col-right.mas .section-wrap.section-wrap-withpromos {
  width: auto;
}

#col-right.mas .section-wrap.section-wrap-withpromos .section
{
    border: 3px solid #FFFFFF;
}
#col-right .section.promo h2
{
    margin:14px 0 10px 15px !important;
}