/*
	IE STYLES (HACKS)
*/	

table.gender tbody tr td label{
margin-right: 3px;
}

table.gender tbody tr td input{
width: auto;
margin-bottom: 8px;
}

label.checkbox{
margin-bottom: 5px;
}

.submitButton{  
border: none;
}

#col-content .table-2cols .table-col ul li,
#col-content .table-4cols .table-col ul li,
#col-content div.table-4cols.white-bg .table-col ul li {

	display: inline-block;

}

