/* Tabs
----------------------------------*/
.ui-tabs { padding: 0px; zoom: 1; margin:15px 0px 0px 0px;	height:390px; text-decoration: none;  }
.ui-tabs .ui-tabs-nav { list-style: none; position: relative;}
.ui-tabs .ui-tabs-nav li { position: relative; float: left; border-bottom-width: 0 !important; padding: 0px; font:12px; }
.ui-tabs .ui-tabs-nav li a { float: left; text-decoration: none; padding: 7px 19px 7px 19px; margin: 0px 0px 0px 0px; }
.ui-tabs .ui-tabs-nav li a span {padding:0px 0px 0px 0px;}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { padding-bottom: 9px; border-bottom: none; text-decoration:none; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a span {padding:0px 0px 0px 0px;}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: pointer; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; padding: 7px 19px 7px 19px; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a { padding-bottom: 9px !important; border-bottom: none; text-decoration:none; }
.ui-tabs .ui-tabs-panel { padding: 0px 19px 0px 19px ; display: block; border-width: 0; background: none; margin:0px 0px 0px 0px;}
.ui-tabs .ui-tabs-hide { display: none !important; }
