/* JAN 2015 HOMEPAGE CSS */
.content-wrapper {
    margin: 0 auto;
}
.page-bg {
    background: url('../images/charter-Jan-homepage_ext-bkgd.jpg')/*tpa=https://www.charter.com/browse/static/HomePage_Jan-15/images/charter-Jan-homepage_ext-bkgd.jpg*/ no-repeat scroll top center;
    overflow: hidden;
}
.hero {
    background: url('../images/charter-Jan-homepage_hero.jpg')/*tpa=https://www.charter.com/browse/static/HomePage_Jan-15/images/charter-Jan-homepage_hero.jpg*/ no-repeat scroll top center;
    min-height: 329px;
    padding-top:15px;
}
.red-burst {
    display: none;
}
.learn_more_btn {
    float: right;
	margin-top: 0px\9;
    margin-right: 45px;
    position: relative;
	right: 20px\9;
}
.price-block.price-block-select {
    top: 0px;
}
.hero-price-lockup .price .base {
    color: #5dc100;
    margin: 5px 0 0 0;
    font-size: 75px;
    font-family: "Open Sans Bold", Arial, sans-serif;
    float: left;
}
.hero-price-lockup .price .footnote {
    top: 10px;
    color: #ffffff;
    font-weight: 400;
}
/* .hero-price-lockup .price .change {
    top: 3px;
    left: 0px;
    color: #ffffff;
} */
.price-block.price-block-select .change {
	margin-left: 2px;
	font-family: 'Open Sans SemiBold', Arial, sans-serif;
}
.small_black_copy-2 > sup {
    position: relative; 
    font-size:50%; 
    top:-8px;
}
#lastchance-offer {
    left: 47%;
}
#push {
height: 40px;
}
/* NEW CODES FOR HOMEPAGE*/
@media (min-width: 1600px) and (max-width: 1800px) {
    .page-bg {
        background: url("../images/charter-Jan-homepage_ext-bkgd.jpg")/*tpa=https://www.charter.com/browse/static/HomePage_Jan-15/images/charter-Jan-homepage_ext-bkgd.jpg*/ no-repeat scroll center top / 138.4% auto #FFFFFF;
    }
}
@media (min-width: 1440px) and (max-width: 1599px) {
    .page-bg {
        background: url("../images/charter-Jan-homepage_ext-bkgd.jpg")/*tpa=https://www.charter.com/browse/static/HomePage_Jan-15/images/charter-Jan-homepage_ext-bkgd.jpg*/ no-repeat scroll center top / 153.4% auto #FFFFFF;
    }
}
@media (min-width: 1300px) and (max-width: 1439px) {
    .page-bg {
        background: url('../images/charter-Jan-homepage_ext-bkgd.jpg')/*tpa=https://www.charter.com/browse/static/HomePage_Jan-15/images/charter-Jan-homepage_ext-bkgd.jpg*/ no-repeat scroll top center / 175.4% #ffffff;
    }
}
@media (min-width: 1130px) and (max-width: 1299px) {
    .page-bg {
        background: url('../images/charter-Jan-homepage_ext-bkgd.jpg')/*tpa=https://www.charter.com/browse/static/HomePage_Jan-15/images/charter-Jan-homepage_ext-bkgd.jpg*/ no-repeat scroll top center / 175.4% #ffffff;
    }
}

.hero-txt {
    float: left;
    margin: 5px 0 0 15px;
}
.hero-p {
	font-size: 36px;
	line-height: 36px;
	color: #0073ae;
	margin-left: 15px;
	font-family: 'Open Sans SemiBold', Arial, sans-serif;
	font-stretch: expanded;
}
.save {
	color: #0073ae;
	line-height: 44px;
	font-family: 'Open Sans ExtraBold', arial, sans-serif;
	font-size: 48px;
	font-stretch: normal;
}
.join-fastest {
	color: #0073ae;
	line-height: 14px;
	font-family: 'Open Sans Regular', arial, sans-serif;
	font-size: 14px;
	font-stretch: normal;
	margin-left: 15px;
}
.free-dvr {
    color: #0073ae;
    line-height: 32px;
    font-family: 'Open Sans ExtraBold', arial, sans-serif;
    font-size: 34px;
    font-stretch: normal;
}
.dagger {
    font-size: 0.370em;
    top: -10px;
    left: 0;
    position: relative;
}
.triangle {
    font-size: 0.370em;
    top: -15px;
    left: 0;
    position: relative;
}
.dollar {
    font-size: 0.50em;
    top: -10px;
    left: 0;
    position: relative;
}
.free-kindle {
	color: #0073ae;
	line-height: 32px;
	font-family: 'Open Sans ExtraBold', arial, sans-serif;
	font-size: 34px;
	margin-left: 15px;
	font-stretch: normal;
}
.kindle-tab {
    position: relative;
    left: 49px;
    top: 15px;
} 
.kindle-txt {
    color: #ffffff;
    font-family: inherit;
    font-size: 11px;
    margin: 22px 0 0 65px;
}
ul.promo-txt {
	color: #ffffff;
	font-family: inherit;
	font-size: 14px;
	position: relative;
	left: 0px;
	top: 60px;
	font-weight: 100;
	width: 700px;
}
.promo-txt > li {
    float: left;
    padding: 0 0 0 10px;
    margin: -22px 0 0 0;
    line-height: 14px;
	border-left: 1px solid #fff;
	width: 220px;
}
.promo-head {
	font-size: 18px;
	font-weight: 600;
	padding: 0 20px 0 0;
	line-height: 24px;
}
.overlay-divider {
	background: url("../images/overlay-divider.png")/*tpa=https://www.charter.com/browse/static/HomePage_Jan-15/images/overlay-divider.png*/ no-repeat scroll center top transparent;
	height: 60px;
	width: 8px;
	position: absolute;
	left: 225px;
	top: -20px;
}
.overlay-divider1 {
	background: url("../images/overlay-divider.png")/*tpa=https://www.charter.com/browse/static/HomePage_Jan-15/images/overlay-divider.png*/ no-repeat scroll center top transparent;
	height: 60px;
	width: 8px;
	position: absolute;
	left: 475px;
	top: -20px;
}
.switch-to {
	font-size: 14px;
	color: #ffffff;
	font-family: 'Open Sans Bold', Arial, sans-serif;
	float: left;
	margin: 90px 0 0 273px;
	font-stretch: normal;
}
.holiday-tout {
    background: url("../images/blue-holiday-tout.jpg")/*tpa=https://www.charter.com/browse/static/HomePage_Jan-15/images/blue-holiday-tout.jpg*/ no-repeat scroll center top transparent;
    height: 132px;
    width: 940px;
    float: left;
    margin: -38px 0 0 15px;
    cursor: pointer;
}
.holiday-tout .spree {
    font-family: 'Open Sans Regular', Arial, sans-serif;
    position: absolute;
    font-size: 16px;
    color: #ffffff;
    margin: 25px 0 0 270px;
}
.holiday-tout .prize {
    font-family: 'Open Sans Bold', Arial, sans-serif;
    position: absolute;
    font-size: 28px;
    color: #ffffff;
    text-transform: uppercase;
    margin: 48px 0 0 304px;
}
.holiday-tout .increase-chance {
    font-family: 'Open Sans Regular', Arial, sans-serif;
    position: absolute;
    font-size: 13px;
    color: #ffffff;
    margin: 93px 0 0 165px;
}
.holiday-tout .daily {
    font-family: 'Open Sans Bold', Arial, sans-serif;
    position: absolute;
    font-size: 24px;
    color: #ffffff;
    text-transform: uppercase;
    margin: -19px 0 0 445px;
    width: 130px;
}
.enter-now {
    background: url("../images/enterNow-btn.png")/*tpa=https://www.charter.com/browse/static/HomePage_Jan-15/images/enterNow-btn.png*/ no-repeat scroll center top transparent;
    width: 185px;
    height: 72px;
    float: right;
    cursor: pointer;
    margin: 27px 13px 0 0;
}
/********************
Spectrum Faux Styles 
********************/
.triple_box-bkg {
    background: transparent;
    height: auto;
    width: 100%;
    position: relative;
    top: -11px;
}
.triple_box {
    background: url("../images/triple_box-jan.png")/*tpa=https://www.charter.com/browse/static/HomePage_Jan-15/images/triple_box-jan.png*/ no-repeat scroll center top transparent;
    height: 364px;
    margin: 0 0 0 1px;
    width: 970px;
    position: relative;
    top: 0px;
    left: -2px;
}
.shadow {
    float: left;
    margin: 0 0 0 40px;
    text-shadow: 2px 1px 2px #333;
}
.extrabold {
	font-family: 'Open Sans ExtraBold', Arial, sans-serif;
}
.small_blue_box {
    background: none repeat scroll 0 0 #0072A7;
    border-radius: 4px;
    color: #FFFFFF;
    font-family: "Open Sans Bold", Arial, sans-serif;
    font-size: 19px;
    height: 33px;
    left: -3px;
    line-height: 34px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: -5px;
    width: 850px;
}
.triple_container {
    height: auto;
    left: 0;
    margin: 0 auto;
    position: relative;
    top: 0;
}
.triple_select {
    color: #FFFFFF;
    float: left;
    font-family: "Open Sans Regular", Arial, sans-serif;
    font-size: 26px;
    text-align: center;
    width: 290px;
    margin: 10px 0 0 10px;
}
.triple_silver {
    color: #FFFFFF;
    float: left;
    font-family: "Open Sans Regular", Arial, sans-serif;
    font-size: 26px;
    text-align: center;
    width: 290px;
    margin: 10px 0 0 20px;
}
.triple_gold {
    color: #FFFFFF;
    float: left;
    font-family: "Open Sans Regular", Arial, sans-serif;
    font-size: 26px;
    text-align: center;
    width: 290px;
    margin: 10px 0 0 20px;
}
.triple_select-bkg {
    background: url("../images/triple_box-left.png")/*tpa=https://www.charter.com/browse/static/HomePage_Jan-15/images/triple_box-left.png*/ no-repeat scroll center top transparent;
    width: 333px;
    height: 441px;
    float: left;
    margin: -17px 0 0 -21px;
}
.triple_silver-bkg {
    background: url("../images/triple_box-mid.png")/*tpa=https://www.charter.com/browse/static/HomePage_Jan-15/images/triple_box-mid.png*/ no-repeat scroll center top transparent;
    width: 332px;
    height: 441px;
    float: left;
    margin: -17px 0 0 -21px;
}
.triple_gold-bkg {
    background: url("../images/triple_box-right.png")/*tpa=https://www.charter.com/browse/static/HomePage_Jan-15/images/triple_box-right.png*/ no-repeat scroll center top transparent;
    width: 327px;
    height: 441px;
    float: left;
    margin: -17px 0 0 0px;
}
.small_white_copy {
	color: #FFFFFF;
	font-family: "Open Sans Bold", Arial, sans-serif;
	font-size: 13px;
	float: left;
	margin: 10px 0 0 56px;
}
.small_black_copy {
    color: #3F4143;
    font-family: "Open Sans CondBold", Arial, sans-serif;
    font-size: 15px;
    line-height: 20px;
    padding-bottom: 65px;
    padding-top: 5px;
}
.triple_container .green-small-point-right.call-select {
	left: -13px;
	position: relative;
	font-size: 14px;
	top: -27px;
	z-index: 10;
}
.triple_container .green-small-point-right.call-silver {
	left: -13px;
	position: relative;
	font-size: 14px;
	top: -5px;
	z-index: 10;
}
.triple_container .green-small-point-right.call-gold {
    left: -13px;
    position: relative;
    font-size: 14px;
    top: 15px;
	z-index: 10;
}
.price-block.price-block-select {
    position: relative;
    top: -55px;
    left: 52px;
}
.price-block.price-block-silver {
    position: relative;
    top: -34px;
    left: 50px;
}
.price-block.price-block-gold {
    position: relative;
    top: -16px;
    left: 46px;
}
.price-block .base {
    color: #00537B;
    float: left;
    font-family: 'Open Sans SemiBold', arial, sans-serif;
    font-size: 42px;
    margin: 10px 0 20px 15px;
    position: relative;
    top: 0;
}
.price-block .dollar {
    font-size: 0.330em;
    top: -21px;
    left: 0;
    position: relative;
}
.price-block .add-info {
    font-size: 0.230em;
    top: 28px;
    left: -54px;
    position: relative;
}
.price-block .change {
    color: #00537B;
    float: left;
    font-size: 20px;
    padding: 50px 0 0 0;
}
.change .each {
    font-size: 12px;
    font-family: 'Open Sans Bold', arial, sans-serif;
    position: relative;
    top: -4px;
	top: 0px\9;
}
.footnote-select {
    margin: -20px 0 0 76px !important;
    width: 90px !important;
}
.price-block .footnote {
    clear: left;
    color: #00537B;
    float: left;
    font-family: "Open Sans Regular", Arial, sans-serif;
    font-size: 12px;
    margin: -38px 4px -6px 87px;
    position: relative;
    text-align: left;
    line-height: 12px;
    width: 105px;
}
.price-block {
    left: 7px;
    margin: 0 auto;
    position: relative;
    width: 230px;
}
.price-block .add-info2 {
    font-size: 18px;
    left: -64px;
    position: relative;
    top: 35px;
}
.price-block .change2 {
    color: #00537B;
    float: left;
    font-size: 20px;
    padding: 48px 0 0 0px;
    margin-left: 5px;
	-webkit-margin-start: -7px;
	margin-left: 15px\9;
	font-family: 'Open Sans SemiBold', Arial, sans-serif;
}
.small_black_copy-2 {
    font-size: 16px;
    line-height: 23px;
    position: relative;
    top: 5px;
    font-family: 'Open Sans Bold', arial, sans-serif;
}

/*****************************************
Last chance offer modal
*****************************************/

#lastchance-offer {
    background-color: #FFFFFF;
    border: 1px solid #666666;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.34);
    display: none;
    height: 175px;
    left: 47%;
    margin-left: -250px;
    padding: 10px;
    position: absolute;
    top: 300px;
    width: 600px;
    z-index: 3001;
}

.lox-close {
    background: url("../images/lox-close.png")/*tpa=https://www.charter.com/browse/static/HomePage_Jan-15/images/lox-close.png*/ no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 50px;
    outline: medium none;
    position: absolute;
    right: -9px;
    top: -9px;
    width: 50px;
    z-index: 9002;
}

.CompleteDisp-Yes {
    visibility: visible;
}

.pop_header {
    color: #325682;
    font-family: "Open Sans SemiBold", arial, sans-serif;
    font-size: 25px;
    padding-left: 10px;
}

.CompleteDisp-No {
    display: none;
}

/* for IE 11 only */

_:-ms-fullscreen, :root .switch-to {
	margin: 90px 0 0 273px;
}
_:-ms-fullscreen, :root .promo-txt > li {
	padding-left: 10px;
	margin: -22px 0 0 0;
	border-left: 1px solid #fff;
}
_:-ms-fullscreen, :root ul.promo-txt {
	width: 700px;
}
_:-ms-fullscreen, :root .hero-price-lock-up {
	width: 235px;
}

/*********************
 Speed Test Tout 
*********************/
a.speed-test-tout {
    background: url('../../images/speed-test-tout/bg-speed-test-tout.jpg')/*tpa=https://www.charter.com/browse/static/images/speed-test-tout/bg-speed-test-tout.jpg*/ no-repeat 0 0;
    display: block;
    width: 930px;
    height: 158px;
    float: left;
    box-sizing: border-box;
    margin: 0 20px;
    text-decoration: none;
}
.speed-test-tout h2 {
    color: #f9fafb;
    font-family: "Open Sans CondBold",Arial,sans-serif;
    font-size: 25px;
    line-height: 34px;
    margin: 62px 0 30px 340px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
}
.speed-test-tout h2 span {
    font-size: 27px;
    text-transform: uppercase;
}

/* Spectrum Orange styles */
.spectrumLogo {
background-image: url(../../../images/SpectrumGlobalNav-bg.jpg)/*tpa=https://www.charter.com/browse/images/SpectrumGlobalNav-bg.jpg*/;
background-repeat: no-repeat;
height: 41px;

}
.spectrumTabResi {
border: 0 none;
display: inline;
float: left;
margin: 0;
padding: 0;

}
img.spectrumTabResi {
border: 0 none;
margin: 0;
padding: 0;

}
.spectrumTabBusi {
margin: 0;
padding: 0;

}
.tabs {
height: 41px;
margin: 0 auto;
position: relative;
width: 970px;

}
.tabLinks {
left: 73px;
position: absolute;

}
.header-wrapper {
height: 120px;

}
.header-content .main-nav {
margin-top: 14px;

}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
.footnote-select {
margin: 0;
width: 90px !important;
top: 4px !important;
}

}
.header-content .best-offer {
background-color: #fdaa18 !important;

}
#customer-module-body {
background-color: #fdaa18 !important;

}
.hero-price-lockup .price .base {
color: #ffffff !important;

}
.hero-price-lockup .price .change {
color: #ffffff !important;

}

/*Contains little arrow used in buttons*/
@font-face {
font-family: 'charter-icons';
src: url('../../../../fonts/charter-icons/charter-icons.eot')/*tpa=https://www.charter.com/fonts/charter-icons/charter-icons.eot*/;
src: url('../../../../fonts/charter-icons/charter-icons.eot-iefix')/*tpa=https://www.charter.com/fonts/charter-icons/charter-icons.eot?iefix*/ format('eot'), url('../../../../fonts/charter-icons/charter-icons.woff')/*tpa=https://www.charter.com/fonts/charter-icons/charter-icons.woff*/ format('woff'), url('../../../../fonts/charter-icons/charter-icons.ttf')/*tpa=https://www.charter.com/fonts/charter-icons/charter-icons.ttf*/ format('truetype'), url('../../../../fonts/charter-icons/charter-icons.svg#webfont')/*tpa=https://www.charter.com/fonts/charter-icons/charter-icons.svg#webfont*/ format('svg');

}
.green-large-point-right:after, .green-medium-point-right:after, .green-small-point-right:after, .green-large-point-right, .green-medium-point-right, .green-small-point-right {
    background-image: none !important;
    border-radius: 5px;
    padding-right: 43px !important;
    background: -moz-linear-gradient(#fdaa18, #ffa300);
    background: -webkit-linear-gradient(#fdaa18, #ffa300);
    background: -o-linear-gradient(#fdaa18, #ffa300);
    background: -ms-linear-gradient(#fdaa18, #ffa300);/*For IE10*/
    background: linear-gradient(#fdaa18, #ffa300);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fdaa18', endColorstr='#ffa300');/*For IE7-8-9*/ 
    height: 1%;/*For IE7*/ 
    background: linear-gradient(to bottom, #fdaa18 0%, #fdaa18 59%, #ffa300 60%, #ffa300 100%) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border: medium none;
    color: #f0f4f7;  
    text-decoration: none;
    text-shadow: 0 1px 2px #d36b24;
    text-transform: uppercase;
}

.green-medium-point-right:after {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.15) !important;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
    content: "\e601";
    font-family: "charter-icons";
    font-style: normal;
    font-weight: normal;
    height: 34px;
    padding: 0 !important;
    position: absolute;
    right: 0;
    top: 0;
    width: 35px !important;
}

.green-small-point-right:after {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.15) !important;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
    content: "\e601";
    font-family: "charter-icons";
    font-style: normal;
    font-weight: normal;
    height: 25px;
    padding: 0 !important;
    position: absolute;
    right: 0;
    top: 0;
    width: 25px !important;
}

.orangeCTA {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: linear-gradient(to bottom, #fdaa18 0%, #fdaa18 59%, #ffa300 60%, #ffa300 100%) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border-color: -moz-use-text-color;
    border-image: none;
    border-radius: 5px;
    border-style: none;
    border-width: 1px 1px 1px 0;
    color: #f0f4f7;
    float: right;
    font-size: 18px;
    font-weight: 700;
    height: 25px;
    margin-right: 45px !important;
    padding-left: 27px;
    padding-right: 1px !important;
    padding-top: 10px;
    position: relative;
    text-align: left;
    text-decoration: none;
    text-shadow: 0 1px 2px #d36b24;
    text-transform: uppercase;
    vertical-align: middle;
    width: 156px;
}
.orangeCTA:after {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.15);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    content: "\e601";
    font-family: "charter-icons";
    font-style: normal;
    font-weight: normal;
    height: 25px;
    left: 159px;
    padding-left: 5px;
    padding-top: 10px;
    position: absolute;
    top: 0;
    width: 19px;
}

/* collected from inline CSS */
#customer-localization-form { 
    width: 343px;
    left: 618px; 
    border-top-width: 0px; 
    top: -8px;
    right: 0px;
    padding: 14px 9px 9px;
}
#customer-module-body { 
    height: 45px;
    left: -17px;
    padding: 2px 0 0 13px;
    padding: 2px 0 0 5px\9;
    top: -1px;
    width: 345px;
    width: 353px\9 !important;
}
#customer-module-body form { 
    border-top-width: 0px; 
    padding-top: 12px; 
}

.enter-email-tab {
    background: -moz-linear-gradient(0deg, #b46e0a 0%, #e49810 100%);/* FF3.6+ */
    background: -webkit-gradient(linear, 0deg, color-stop(0%, #b46e0a), color-stop(100%, #e49810));/* Chrome,Safari4+ */
    background: -webkit-linear-gradient(0deg, #b46e0a 0%, #e49810 100%);/* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(0deg, #b46e0a 0%, #e49810 100%);/* Opera 11.10+ */
    background: -ms-linear-gradient(0deg, #b46e0a 0%, #e49810 100%);/* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b46e0a', endColorstr='#e49810', GradientType='1'); /* for IE */
    background: linear-gradient(90deg, #b46e0a 0%, #e49810 100%);/* W3C */
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.enter-email-tab-copy {
    color: #fff;
    font: bold 11px "Open Sans",sans-serif;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
}

.header-content .login.localize-options {
    display: none !important;
}
.page-content {
    float: left;
    width: 970px;
}
.header-content .login.best-offer {
    background: url("../images/bg-top-login-offer.jpg")/*tpa=https://www.charter.com/browse/static/HomePage_Jan-15/images/bg-top-login-offer.jpg*/ no-repeat scroll left top #fbb12c;
    border-bottom: 0 none;
    border-top-right-radius: 8px;
    color: #fff;
    font: 14px "Open Sans",​arial,​sans-serif;
    left: 800px;
    padding: 5px 0 8px 8px;
    text-align: center;
    top: -20px;
    width: 160px;
}

.alt-login input[type="password"], .alt-login input[type="text"], .login input[type="text"] {
    border: 0 none !important;
}
.alt-login .info-link, .login .info-link {
    background: url(../images/bg-info-link-header-login.jpg)/*tpa=https://www.charter.com/browse/static/HomePage_Jan-15/images/bg-info-link-header-login.jpg*/ no-repeat 0 0;
    text-indent: -99999px;
    height: 19px;
    width: 19px;
}
.main-nav .login-btn, .main-nav .login-btn:hover {
    background: linear-gradient(to bottom, rgba(143, 187, 218, 1) 0%, rgba(30, 120, 182, 1) 1%, rgba(35, 134, 189, 1) 29%, rgba(45, 164, 205, 1) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: none;
}  
.main-nav .login-btn:after {
    content: " >";
}
.green-small-point-right:hover {
cursor: pointer;
}
.promo-txt > li:first-child {
border: none;
}
#home header, #home footer, #home section, #home .content-wrapper, #bundles header, #bundles footer, #bundles section, #bundles .content-wrapper, #tv-page header, #tv-page footer, #tv-page section, #tv-page .content-wrapper, #internet-service header, #internet-service footer, #internet-service section, #internet-service .content-wrapper, #phone-service header, #phone-service footer, #phone-service section, #phone-service .content-wrapper {
    overflow: hidden;
}
.dashboard {
    position: fixed;
}
#localize-header .error-box {
    top: 60px;
}
#home header.header-wrapper {
    overflow: visible;
}

/* Final Fixes of styles cross browser */
.header-content .main-links {
    margin-top: 16px;
}
#customer-module-body input#aptnum {
    display: inline !important;
    margin-right: 6px !important;
    width: 47px !important;
}