@font-face {
font-family: 'PrudentialModernLight'; 
src: url('prudentialmodern-light-webfont.eot')/*tpa=http://www.prudential.com/media/managed/prudentialmodern-light-webfont.eot*/; 
src: url('prudentialmodern-light-webfont.eot-#iefix')/*tpa=http://www.prudential.com/media/managed/prudentialmodern-light-webfont.eot?#iefix*/ format('embedded-opentype'), url('prudentialmodern-light-webfont.woff')/*tpa=http://www.prudential.com/media/managed/prudentialmodern-light-webfont.woff*/ format('woff'), url('prudentialmodern-light-webfont.ttf')/*tpa=http://www.prudential.com/media/managed/prudentialmodern-light-webfont.ttf*/ format('truetype'), url('prudentialmodern-light-webfont.svg#prudentialmodernlight')/*tpa=http://www.prudential.com/media/managed/prudentialmodern-light-webfont.svg#prudentialmodernlight*/ format('svg'); 
font-weight: normal; font-style: normal;}

@font-face {
font-family: 'PrudentialModernMedium'; 
src: url('fonts/prudentialmodern-medium-webfont.eot')/*tpa=http://www.prudential.com/media/managed/fonts/prudentialmodern-medium-webfont.eot*/; 
src: url('fonts/prudentialmodern-medium-webfont.eot-#iefix')/*tpa=http://www.prudential.com/media/managed/fonts/prudentialmodern-medium-webfont.eot?#iefix*/ format('embedded-opentype'), url('fonts/prudentialmodern-medium-webfont.woff')/*tpa=http://www.prudential.com/media/managed/fonts/prudentialmodern-medium-webfont.woff*/ format('woff'), url('fonts/prudentialmodern-medium-webfont.ttf')/*tpa=http://www.prudential.com/media/managed/fonts/prudentialmodern-medium-webfont.ttf*/ format('truetype'), url('fonts/prudentialmodern-medium-webfont.svg#prudentialmodern-medium-webfont')/*tpa=http://www.prudential.com/media/managed/fonts/prudentialmodern-medium-webfont.svg#prudentialmodern-medium-webfont*/ format('svg'); 
font-weight: normal; font-style: normal;}

@font-face {
font-family: 'PrudentialModernSemiBold'; 
src: url('fonts/prudentialmodern-boldsemcon-webfont.eot')/*tpa=http://www.prudential.com/media/managed/fonts/prudentialmodern-boldsemcon-webfont.eot*/; 
src: url('fonts/prudentialmodern-boldsemcon-webfont.eot-#iefix')/*tpa=http://www.prudential.com/media/managed/fonts/prudentialmodern-boldsemcon-webfont.eot?#iefix*/ format('embedded-opentype'), url('fonts/prudentialmodern-boldsemcon-webfont.woff')/*tpa=http://www.prudential.com/media/managed/fonts/prudentialmodern-boldsemcon-webfont.woff*/ format('woff'), url('fonts/prudentialmodern-boldsemcon-webfont.ttf')/*tpa=http://www.prudential.com/media/managed/fonts/prudentialmodern-boldsemcon-webfont.ttf*/ format('truetype'), url('fonts/prudentialmodern-boldsemcon-webfont.svg#prudentialmodern-boldsemcon-webfont')/*tpa=http://www.prudential.com/media/managed/fonts/prudentialmodern-boldsemcon-webfont.svg#prudentialmodern-boldsemcon-webfont*/ format('svg'); 
font-weight: normal; font-style: normal;}

@font-face {
font-family: 'PrudentialModernBoldREAL'; 
src: url('fonts/prudentialmodern-bold-webfont.eot')/*tpa=http://www.prudential.com/media/managed/fonts/prudentialmodern-bold-webfont.eot*/; 
src: url('fonts/prudentialmodern-bold-webfont.eot-#iefix')/*tpa=http://www.prudential.com/media/managed/fonts/prudentialmodern-bold-webfont.eot?#iefix*/ format('embedded-opentype'), url('fonts/prudentialmodern-bold-webfont.woff')/*tpa=http://www.prudential.com/media/managed/fonts/prudentialmodern-bold-webfont.woff*/ format('woff'), url('fonts/prudentialmodern-bold-webfont.ttf')/*tpa=http://www.prudential.com/media/managed/fonts/prudentialmodern-bold-webfont.ttf*/ format('truetype'), url('fonts/prudentialmodern-bold-webfont.svg#prudentialmodern-bold-webfont')/*tpa=http://www.prudential.com/media/managed/fonts/prudentialmodern-bold-webfont.svg#prudentialmodern-bold-webfont*/ format('svg'); 
font-weight: normal; font-style: normal;}

/* THE FOLLOWING IS IN USE, BUT MISNAMED, SO WE CAN'T RENAME OR DELETE - DON'T USE GOING FORWARD */
@font-face {
font-family: 'PrudentialModernBold'; 
src: url('homepage/prudentialmodern-boldsemcon-webfont.eot')/*tpa=http://www.prudential.com/media/managed/homepage/prudentialmodern-boldsemcon-webfont.eot*/; 
src: url('homepage/prudentialmodern-boldsemcon-webfont.eot-#iefix')/*tpa=http://www.prudential.com/media/managed/homepage/prudentialmodern-boldsemcon-webfont.eot?#iefix*/ format('embedded-opentype'), url('homepage/prudentialmodern-boldsemcon-webfont.woff')/*tpa=http://www.prudential.com/media/managed/homepage/prudentialmodern-boldsemcon-webfont.woff*/ format('woff'), url('homepage/prudentialmodern-boldsemcon-webfont.ttf')/*tpa=http://www.prudential.com/media/managed/homepage/prudentialmodern-boldsemcon-webfont.ttf*/ format('truetype'), url('homepage/prudentialmodern-boldsemcon-webfont.svg#prudentialmodern-boldsemcon-webfont')/*tpa=http://www.prudential.com/media/managed/homepage/prudentialmodern-boldsemcon-webfont.svg#prudentialmodern-boldsemcon-webfont*/ format('svg'); 
font-weight: normal; 
font-style: normal;}

