h1,h2{
font-family:Arial,sans-serif;	
}

#container{
width:1200px;
zoom:1;
}

/* hide these and fade in bc they are not formatted right initially. update noscript.css to turn display on*/
    #nav-primary-list,#utility-links-list{
    display:none;
    }

    #nav-primary{
    height:20px;
    }

    #header{
    padding-top:10px;
    }

    #account-access{
    position:relative;
    z-index:102;
    }

    #account-access-link span{
    display:block;
    font-size:14px;
    padding:3px 0 3px 20px;
    }

    #account-access-button{
    height:28px;
    padding-top:1px;
    }

    #account-access-dropdown a{
    color:#3a5a78;
    }

    #search-site{
    overflow:hidden;
    }

    #search-text{
    padding:4px 31px 5px 8px;
    }


    #utility-links-list{
    padding-top:2px;
    }


#utility-links{
position:relative;
z-index:103;
}

#utility-links-list .ie6li{
border:1px solid #fff;
border-bottom-width:0;
display:inline;
height:22px;
padding:0 10px 4px 0;
position:relative;
}

#utility-links-list .ie6li.has-dropdown{
height:27px;
padding:0;
}

#utility-links-list li .ie6a{
color:#484848;
display:inline-block;
font-size:85.4%;
line-height:1.2;
position:relative;
}


#utility-links-list .has-dropdown .ie6a{
padding:0 10px;
}


#utility-links-list li a .ie6span{
display:inline-block;
padding:6px 0 3px;
}


#utility-links-list .has-dropdown a .ie6span{
background-image:url(../imgs/sprite.png)/*tpa=http://s0.hfdstatic.com/sites/build_4/imgs/sprite.png*/;
background-position:100% -61px;
background-repeat:no-repeat;
}

#utility-links-list li .ie6a:hover{  /*** might have to adjust these **/
text-decoration:underline;
}

#utility-links-list .has-dropdown .ie6a:hover{
text-decoration:none;
}

#utility-links-list .has-dropdown a .ie6span{
display:inline-block;
padding:6px 10px 3px 0;
}


#utility-links-list .ie6li.hover{
background-color:#fefefe;
border-color:#cfcfcf;
z-index:102;
}


#utility-links-list li.hover .ie6a{
color:#822b2f;
font-size:85.4%;
z-index:103;
}

    .utility-links-dropdown{
    left:0;
    top:26px;
    }

    #nav-primary{
    z-index:40;
    }

#nav-primary-list .ie6li{

display:inline;
margin-left:30px;
vertical-align:top;
}

#content-main{
height:1%;
}

#nav-primary-list li:last .ie6a{
padding-right:13px; /* makes up for extra space the others have due to spacing in the HTML source */
}


#nav-primary-list li .ie6a:hover{
color:#822b2f;
text-decoration:none;
}

#nav-primary-list li .ie6a{
background-color:transparent;
color:#333;
display:inline-block;
font-size:16px;
font-weight:700;
position:relative;
z-index:22;
}

#nav-primary-list li.has-dropdown .ie6a{
background:url(../imgs/sprite.png)/*tpa=http://s0.hfdstatic.com/sites/build_4/imgs/sprite.png*/ 100% -63px no-repeat;
padding-right:10px;
}

#nav-primary-list li.active .ie6a{
color:#822b2f;
}

#nav-primary-list .hover .ie6a{
color:#822b2f;
}


.nav-primary-dropdown .ie6div{
margin-bottom:20px;
overflow:hidden;
}


#nav-primary-list .ie6li .sub-nav-list .ie6li{
display:block;
font-size:85.4%;
margin:6px 0;
padding-left:8px;
}

.sub-nav{
zoom:1;
}



    .sub-nav-list li{
    background:url(../imgs/bullet-square-grey.png)/*tpa=http://s0.hfdstatic.com/sites/build_4/imgs/bullet-square-grey.png*/ -1px 3px no-repeat;
    }



    .sub-nav-title a{
    color:#333;
    }

    #nav-primary .info-block-header-title span{
    padding-left:5px;
    padding-top:0;
    }

#nav-primary-list .nav-list-links .ie6li{
display:block;
margin:11px 0 !important;
padding:0;
}

    #text-sizer-list li{
    display:inline;
    font-weight:700;
    }


.has-dropdown .ie6a{
cursor:default;
}

    .ie6a{
        cursor:pointer;
    }


    #marquee-headline, #page-title.h2{
    font-size:48px;
    font-weight:400;
    line-height:45px;
    text-transform:inherit;
    }


    .button-type-1 a{
    color:#fff;
    }

    .link-section-abstract a{
    display:block;
    margin:10px 0;
    }


    .content-wrapper-inner .info-block-header-title span{
    padding:0;
    }

    .box-float-left .content-box, .box-float-right .content-box{
    margin:0;
    }


    .toolbox p .content-heading{
    font-size:109%
    }


    #content-main li, .utility-links-dropdown li{
    background:url(../imgs/bullet-round-grey.png)/*tpa=http://s0.hfdstatic.com/sites/build_4/imgs/bullet-round-grey.png*/ -1px 5px no-repeat;
    margin-bottom:12px;
    padding-left:15px;
    }
    
    #content-main ol li{
    background-image:none;
    }

    #content-main .list-links-2 li, .utility-links-dropdown .list-links-2 li{
    background-image:none;
    line-height:1.1;
    margin-bottom:8px;
    padding:0;
    }

    #content-main .list-links-2 li a, .utility-links-dropdown .list-links-2 li a{
    background:url(../imgs/sprite.png)/*tpa=http://s0.hfdstatic.com/sites/build_4/imgs/sprite.png*/ no-repeat right -342px;
    font-size:85.4%;
    font-weight:400;
    padding-right:8px;
    }


    .toolbox .info-block {
    margin:0 0 25px;
    }

    .radio-group label{
    margin:0 20px 0 6px;
    }

    .select-hig-style select{
    background-color:transparent;
    border:0;
    color:#484848;
    height:1.2em;
    margin-left:-4px;
    width:130%;
    }

    .more-dropdown-options a{
    padding:5px 0;
    }

    .select-hig-style .select-open{
    background-color:#fefefe;
    background-image:none;
    display:block;
    left:0;
    top:0;
    }

    .more-dropdown-options .hover{
    color:#822b2f;
    }

#footer-functional-container .ie6div{
margin-bottom:50px;
overflow:hidden;
}

    #footer-primary-list li, #footer-primary-list-2 li{
    background:url(../imgs/sprite.png)/*tpa=http://s0.hfdstatic.com/sites/build_4/imgs/sprite.png*/ no-repeat scroll 0 -729px transparent;
    display:inline;
    margin-left:10px;
    padding-left:12px;
    }

    #footer-primary-list .first, #footer-primary-list-2 .first{
    background-image:none;
    margin:0;
    padding:0;
    }

    #social-networking ul{
    float:left;
    }

#nav-secondary{
margin-right:-3px;
}

    #nav-secondary-list li{
    background-image:none;
    border-bottom:1px solid #ccc;
    margin:0;
    padding:6px 0 6px 11px;
    }

    #nav-secondary-list li li{
    border-bottom:0;
    }

    #nav-secondary-list .active a{
    color:#822b2f;
    font-weight:700;
    }

    #nav-secondary-list .active ul a{
    color:#3a5a78;
    font-weight:400;
    }
/*
    #nav-secondary-list .active{
    background:url(/sites/build_4/imgs/bullet-square-burgundy.png) -1px 10px no-repeat;
    }
*/

    /*AutoQuote*/

    .quote-savings .emphasize{
    font-size:36px;
    line-height:1;
    vertical-align:top;
    }

    .hig-retrievequote-main h3{
    left:-999em;
    position:absolute;
    top:-999em;
    }

    .radio-group label{
    margin:0 20px 0 6px;
    }


    /*END AutoQuote*/

    .dropdown-list, .dropdown-list a, .dropdown-list .more-dropdown-options ul li a{
    color:#484848;
    display:block;
    }

    .dropdown-list .more-dropdown-options ul li a{
    padding: 5px 0;
    }

    .dropdown-list .more-dropdown-options ul li a:hover{
    color:#822b2f;
    }

    .list-3across li{
    float:left;
    width:33%;
    }

    #content-main .list-3across li{
    background-image:none;
    }

    .dropdown-swapper .more-dropdown-options a{
    color:#484848;
    }

    .dropdown-swapper .more-dropdown-options a:hover{
    color:#822b2f;
    }



/* attrib selectors */
.hig-quick-form .ie6input-type-text{
border:1px solid #B8B8B8;
color:#484848;
display:block;
font-size:85.4%;
padding:6px 12px;
}





.content-wrapper-outer{
background-image:url(../imgs/content-wrapper-outer-ie6.gif)/*tpa=http://s0.hfdstatic.com/sites/build_4/imgs/content-wrapper-outer-ie6.gif*/;
}

.content-wrapper-inner{
background-image:url(../imgs/content-wrapper-inner-ie6.gif)/*tpa=http://s0.hfdstatic.com/sites/build_4/imgs/content-wrapper-inner-ie6.gif*/;
height:1%;
}

.more-dropdown-options li{
display:inline;
}

#search-text{
padding-top:7px;
}

.info-block-body .select-hig-style{
zoom:1;
}

#hover-helper, #hover-helper-2,#hover-helper-3, #hover-helper-4{
background-color:#fff;
filter:alpha(opacity=1);
}

.more-dropdown-options{
background-color:#eee !important;
background-image:none !important;
}

.more-dropdown-options a{
background-color:transparent !important;
position:relative;
}




#content{
position:relative;
}



    .hig-accordian{
    width:100% !important;
    }

    .hig-accordian .sliding{
    display:none;
    padding:0 20px 0 53px;
    }

    .hig-accordian .summary p{
    margin:0;
    }

    .hig-accordian .summary{
    border-top:1px solid #e2e2e2;
    color:#666;
    cursor:pointer;
    font-size:86%;
    padding:8px 20px 8px 53px;
    zoom:1;
    }

    .hig-accordian-wrapper .first .summary{
    border:0;
    }

    .hig-accoridan-wrapper .open .summary{
    padding:8px 20px 20px 53px;
    }

    .hig-accordian-wrapper .open{
    padding-bottom:8px;
    }

    .hig-accordian .summary:hover, .hig-accordian-wrapper .open{
    background-color:#efefef;
    }

    .hig-accordian .summary h5 a{
    color:#333;
    font-size:16px;
    font-weight:700;
    text-decoration:none;
    }

.hig-accordian .summary{
background:url(../imgs/plus.png)/*tpa=http://s0.hfdstatic.com/sites/build_4/imgs/plus.png*/ no-repeat 20px 14px scroll;
}

.hig-accordian-wrapper .open .summary{
background:url(../imgs/minus.png)/*tpa=http://s0.hfdstatic.com/sites/build_4/imgs/minus.png*/ no-repeat 20px 14px scroll;
}

a#skip-navigation,
#skip-navigation:link,
#skip-navigation:visited,
.dropdown-swapper-header,
.hig-retrievequote-main h3,
.text-size-option span,
#account-access-list-title,
#utility-links-list-title,
#nav-primary-list-title,
#nav-breadcrumb-title,
#text-sizer-title,
#search-site-title,
#footer-functional-title,
#footer-primary-list-title,
#close-popup a span,
.content-tab-title{
    left:-999em;
    position:absolute;
    top:-999em;
}

.hidden{
display:none;
}

#footer-functional .info-block-body{
height:auto;
}

#popup-message{
width:500px;
}


/* tabs */

#nav-content-tertiary h3, #close-alert-bar span {
left:-999em;
position:absolute;
top:-999em;
}


#nav-content-tertiary{
background:url(../imgs/content-wrapper-outer-ie6.gif)/*tpa=http://s0.hfdstatic.com/sites/build_4/imgs/content-wrapper-outer-ie6.gif*/ no-repeat scroll left top transparent !important;
}

#nav-content-tertiary-list{
background:url(../imgs/content-wrapper-inner-ie6.gif)/*tpa=http://s0.hfdstatic.com/sites/build_4/imgs/content-wrapper-inner-ie6.gif*/ no-repeat scroll right top transparent !important;
}


#nav-content-tertiary-list li{
background:url(../imgs/ie-tab-default.png)/*tpa=http://s0.hfdstatic.com/sites/build_4/imgs/ie-tab-default.png*/ repeat-x 0 bottom;
border-right:1px solid #BBB;
float:left;
margin-bottom:0;
padding:0;
position:relative;
}

#nav-content-tertiary-list li a{
background-color:transparent;
background-image:none;
background-position:-8px 0;
border-bottom:1px solid #ccc;
color:#484848;
float:left;
font-size:93%;
font-weight:700;
overflow:auto;
padding:1px 1px 0;
position:relative;
zoom:1;
}

#nav-content-tertiary-list li.active a, #nav-content-tertiary-list li a:hover{
background-color:#fff;
background-image:url(../imgs/ie-tab.png)/*tpa=http://s0.hfdstatic.com/sites/build_4/imgs/ie-tab.png*/ !important;
}

#nav-content-tertiary-list li.first a{
background-position:0 0;
}

#nav-content-tertiary-list li.last a{
background-position:100% 0;
}

#nav-content-tertiary-list li a:hover{
color:#822b2f;
text-decoration:none;
}

#nav-content-tertiary-list .active a{
border-bottom:0;
color:#822b2f;
padding-bottom:1px;
}

#nav-content-tertiary-list .first{
margin-left:-7px;
}

#nav-content-tertiary-list .last{
border-right:0;
}

#nav-content-tertiary-list span{
background:url(../imgs/content-wrapper-inner-ie6.gif)/*tpa=http://s0.hfdstatic.com/sites/build_4/imgs/content-wrapper-inner-ie6.gif*/ no-repeat scroll left 38px transparent !important;
}

#nav-content-tertiary-list .active span{
background-image:none !important;
}

.col .ie6div{
margin-right:24px;
}

.last .ie6div{
margin-right:0;
}

#close-alert-bar{
background-image:url(../imgs/close-button-2-sprite.png)/*tpa=http://s0.hfdstatic.com/sites/build_4/imgs/close-button-2-sprite.png*/;
display:block;
height:15px;
text-decoration:none;
width:15px;
}


.info-block-body .layout-l .last .content-box{
margin:0 0 20px 24px;
}

#content-main .dropdown-list li{
background-image:none;
}

.blue-large sub{
display:inline-block;
margin-bottom:5px;
}

.blue-large sup{
display:inline-block;
margin-top:2px;
}

p.last-child{
margin-bottom:0 !important;
}

.dropdown-list{
position:relative;
zoom:1;
}

#utility-links-list li.ie6li{
zoom:1;
}

content-extended-wrapper{
zoom:1;
}




#content-extended .ie6div{
margin:30px 0;
}

#content-extended .ie6div, #content-extended .info-block .ie6h3, #content-extended .info-block .ie6h2 {
color:#fff;
}

#content-extended .info-block .ie6h3{
border-bottom:1px solid #999;
color:#FFF;
font-size:145%;
font-weight:400;
margin-bottom:14px;
padding:18px 120px 14px 0;
}

#content-extended .info-block .info-block-header-title .ie6span{
padding-left:0;
}




div a.link-section-more{
background:url(../imgs/sprite.png)/*tpa=http://s0.hfdstatic.com/sites/build_4/imgs/sprite.png*/ no-repeat scroll right -341px transparent;
display:inline;
font-size: 85.4%;
margin:5px 0;
padding-right:8px;
}

.links-list-2 li{
height:20px;
}

.links-list-2 li a{
position:static;
}

.links-list-2 li a{
position:relative;
}



.icon-arrow-right{
background:url(../imgs/sprite.png)/*tpa=http://s0.hfdstatic.com/sites/build_4/imgs/sprite.png*/ no-repeat right -342px;
padding-right:8px;
color:#3a5a78;
}

/**/
#container {
width:auto !important;
width: expression(document.body.clientWidth < 992? "990px" : document.body.clientWidth > 1202? "1200px" : "auto");

}


 .span-arrow-right{
background:url(../imgs/sprite.png)/*tpa=http://s0.hfdstatic.com/sites/build_4/imgs/sprite.png*/ no-repeat scroll right -341px transparent;
padding-left:4px;
}

.icon-pdf .contains-image,.icon-word .contains-image, .icon-xls .contains-image{
left:0 !important;
}

.play-button-image{
background-image:url(../imgs/play-btn-ie6.png)/*tpa=http://s0.hfdstatic.com/sites/build_4/imgs/play-btn-ie6.png*/;
cursor:pointer;
filter:alpha(opacity=75);
}

.play-button{
z-index:-1;
}

.play-button .hover{
background-position:0 -45px;
filter:alpha(opacity=100);
}


/*for IR header */
#nav-primary-list li.no-dropdown{
background-image:none;
}




.custom-organizer td p{
margin-bottom:10px;
}


.pages a{
font-weight:700;
}

.pages .prev_button{
font-weight:400;
background-image:url(../imgs/sprite.png)/*tpa=http://s0.hfdstatic.com/sites/build_4/imgs/sprite.png*/;
background-position:left -768px;
background-repeat:no-repeat;
padding-left:8px;
}

.pages .next_button{
font-weight:400;
background-image:url(../imgs/sprite.png)/*tpa=http://s0.hfdstatic.com/sites/build_4/imgs/sprite.png*/;
background-position:right -342px;
background-repeat:no-repeat;
padding-right:8px;
}

.legal-disclaimer .info-block{
margin:0;
}

.legal-disclaimer .info-block .info-block-body{
padding:0;
}

#search-submit{
top:8px;
}

#set-default-homepage .button{
font-size:11px;
font-weight:400;
margin:3px 0 3px 10px;
padding:1px 6px;
text-align:center;
width:30px;
} 

.alert-message{
vertical-align:middle;
}

#search-submit{
display:none;
}

.nav-primary-dropdown {
background-image:url(../imgs/mega-nav-right-col.png)/*tpa=http://s0.hfdstatic.com/sites/build_4/imgs/mega-nav-right-col.png*/;
}

.button-type-video a{
color:#fff !important;
display:inline-block;
height:18px;
}

.button-type-video-before{
content:url(../imgs/play-on-button.png)/*tpa=http://s0.hfdstatic.com/sites/build_4/imgs/play-on-button.png*/;
background-repeat:no-repeat;
color:#fff !important;
display:inline-block;
height:18px;
padding-right:10px;
vertical-align:middle;
}

.button-type-video-before{
background-image:url(../imgs/play-on-button.png)/*tpa=http://s0.hfdstatic.com/sites/build_4/imgs/play-on-button.png*/;
width:28px;
}

.button a{
text-decoration:none !important;
}

@media print{

#header{
display:block;
position:static !important;
zoom:1;
}

#page-body{
zoom:1;
}

#content, #footer-common, #footer-legal-disclaimer {
margin: 0;
width:760px;
}

}