#header{
padding-top:10px;
}

#utility-links{
position:relative;
z-index:103;
}

#nav-utility, #utility-links-list{
overflow:auto;
}

#utility-links-list > li{
display:inline;
height:27px;
}

#utility-links-list > .has-dropdown > a > span{
background-position:100% -62px;
}

#nav-primary-list{
width:100%;
}


#utility-links-list li.hover a{
z-index:103;
}

#nav-primary{
z-index:40;
}
#account-access{
position:relative;
z-index:102;
}

#nav-primary-list > li.has-dropdown{
background-position:100% -63px;
vertical-align:top;
zoom:1;
}

#nav-primary-list > li.last > a {
padding-right:13px;
}

.input-type-text{
border:1px solid #B8B8B8;
color:#464646;
display:block;
font-size:85.4%;
padding:6px 12px;
}

.anchor-retrieve-quote, .anchor-new-quote{
clear:both;
display:inline-block;
}

#content{
position:relative;
}

.select-hig-style, .dropdown-list{
zoom:1;
}

.content-wrapper-inner{
zoom:1;
}

.content-wrapper-inner .info-block{
clear:right;
}


#content-main li {
background:url(../imgs/bullet-round-grey.png)/*tpa=http://s0.hfdstatic.com/sites/build_4/imgs/bullet-round-grey.png*/ -1px 5px no-repeat;
}

#nav-content-tertiary-list li, 
#content-main .list-3across li,
#nav-secondary-list li,
#content-main .list-links-2 li,
#content-main ol li{
background-image:none;
}

.sub-nav-list li{
background:url(../imgs/bullet-square-grey.png)/*tpa=http://s0.hfdstatic.com/sites/build_4/imgs/bullet-square-grey.png*/ -1px 3px no-repeat;
}

.hig-accordian .summary{
background:url(../imgs/plus.png)/*tpa=http://s0.hfdstatic.com/sites/build_4/imgs/plus.png*/ no-repeat 20px 14px scroll;
}

.hig-accordian-wrapper .open .summary{
background:url(../imgs/minus.png)/*tpa=http://s0.hfdstatic.com/sites/build_4/imgs/minus.png*/ no-repeat 20px 14px scroll;
}

#search-text{
margin-top:-1px;
}

.retrieve-field-2{
zoom:1;
}

.link-section{
width:100%;
}

#nav-secondary{
position:relative;
}

#content-main .dropdown-list li{
background-image:none;
}

.blue-large sub{
display:inline-block;
margin-bottom:5px;
}

.blue-large sup{
display:inline-block;
margin-top:2px;
}

p.last-child{
margin-bottom:0 !important;
}

#popup-message{
width:500px;
}

#popup-message td{
padding:20px 30px 30px;
}

 .span-arrow-right{
background:url(../imgs/sprite.png)/*tpa=http://s0.hfdstatic.com/sites/build_4/imgs/sprite.png*/ no-repeat scroll right -341px transparent;
padding-left:4px;
}

.play-button{
z-index:-1;
}

.play-button-image{
cursor:pointer;
filter:alpha(opacity=75);
}

.play-button .hover{
background-position:0 -45px;
filter:alpha(opacity=100);
}

#hover-helper, #hover-helper-2,#hover-helper-3, #hover-helper-4{
background-color:#fff;
filter:alpha(opacity=1);
}

#search-submit{
display:none;
top:8px;
}

.alert-message{
vertical-align:middle;
}

html #marquee-info-block > .hig-retrievequote-main .form-field{
display:inline;
min-width:100px;
position:relative;
}

#marquee-info-block > .hig-retrievequote-main .form-field .zip-code{
position:relative;
}

#marquee-info-block > .hig-retrievequote-main .button{
float:left;
margin-top:0;
}

.block-type-6 .info-block-body{
zoom:1;
}

.button-type-video-before{
content:url(../imgs/play-on-button.png)/*tpa=http://s0.hfdstatic.com/sites/build_4/imgs/play-on-button.png*/;
background-repeat:no-repeat;
color:#fff !important;
display:inline-block;
min-height:18px;
padding-right:10px;
vertical-align:middle;
}

.button-type-video-before{
background-image:url(../imgs/play-on-button.png)/*tpa=http://s0.hfdstatic.com/sites/build_4/imgs/play-on-button.png*/;
width:28px;
}