.info-block-header-title span{
display:block;
margin:0;
padding:10px 10px 0;
}

.block-type-2 .info-block-header h3,
.block-type-3 .info-block-header h3,
.block-type-4 .info-block-header h3,
.block-type-5 .info-block-header h3{
color:#fff;
font-size:121.6%;
line-height:1.2;
margin:0;
}

.block-type-2 .info-block-body,
.block-type-3 .info-block-body{
padding:18px 20px 14px;
}

.block-type-4 .info-block-body{
padding:15px 21px 0;
}

.block-type-5 .info-block-body{
padding:0;
}

.block-type-2 .info-block-header-title span,
.block-type-3 .info-block-header-title span,
.block-type-4 .info-block-header-title span,
.block-type-5 .info-block-header-title span{
padding:8px 20px 6px;
}

.block-type-3{ /* same as block-type-2 except for the background-color */
background-color:#fff;
}

/* login, quote search find agent, IR, etc. | my clients */
.header-color-2 > .info-block-header,
.header-color-8 > .info-block-header{
/*#2 previously BURGUNDY:#903;*/
/*#8 previously DARK ORANGE:#b42c21;*/
background-color:#822b2f;
}

/* common questions, FAQs | contact us | affinity partners */
.header-color-4 > .info-block-header,
.header-color-7 > .info-block-header,
.header-color-10 > .info-block-header{
/*#4 previously DARK BLUE:#004972;*/
/*#7 previously MEDIUM BLUE:#196e96;*/
/*#10 previously LIGHT BLUE:#4bb7df;*/
background-color:#3a5a78;
}

/* FYI | tags | about, executive, promos, tools*/
.header-color-3 > .info-block-header,
.header-color-5 > .info-block-header,
.header-color-11 > .info-block-header{
/*#3 previously TAN:#c9b7a3;*/
/*#5 previously YELLOW:#E6B700;*/
/*#11 previously ORANGE:#e98300;*/
background-color:#919191;
}

/* customer testimonials, multimedia | find agent, browse funds | archives */
.header-color-6 > .info-block-header,
.header-color-9 > .info-block-header,
.header-color-13 > .info-block-header{
/*#6 previously DARK GRAY:#333;*/
/*#9 previously LIGHT GRAY:#f7f7f7;*/
/*#13 previously GREY:#666;*/
background-color:#484848;
}

/* quick links, visit funds | investor ed, clients, mobile app, most popular articles, article links */
.header-color-12 > .info-block-header,
.header-color-14 > .info-block-header{
/*#12 previously LIME:#7ab800;*/
/*#14 previously TURQUOISE:#5bb795;*/
background-color:#7f94a7;
}

.header-none .info-block-header{
display:none;
}

.info-block-header{
overflow:auto;
zoom:1;
}