

/** SIDE NAVIGATION ARROWS
===================================*/
.wrapper-slider:hover .bx-wrapper .bx-controls .bx-controls-direction .bx-prev{background-position: -45px center;}
.wrapper-slider:hover .bx-wrapper .bx-controls .bx-controls-direction .bx-next{background-position: -183px center;}

/** BANNER MODULES
===================================*/
.wrapper-slider{width: 965px;height: 364px;}
.banner-module{width: 875px;height: 304px;padding: 25px 45px 35px 45px;background-repeat: no-repeat;}
.main-module{display: block;float: left; width: 374px;height: 289px;padding-top: 15px;}
.banner-module .clear{clear: both;}

/** SMALL MODULES
===================================*/
.small-modules{display: block;float: left;width: 466px;height: 312px;}
.small-modules .small-module{display: block;float: left;width: 218px; height: 297px;padding: 5px 9px 10px 6px;background-image: url('../images/custom/small-module-wrapper-bg.png')/*tpa=https://www.riteaid.com/riteAid-theme/images/custom/small-module-wrapper-bg.png*/;background-repeat: no-repeat;background-position: left top;}
.small-module .ad-unit{display: block;width: 218px;height: 297px;background-repeat: no-repeat;background-position: 0px 1px;position: absolute;}
.ad-unit .featured-product{text-align: center;width: 218px;min-height: 5px;position: absolute;top: 1px;}
.ad-unit .featured-product span {padding: 8px 0px 7px 0px;display: block;}
.ad-unit .product-text{padding: 0px 15px 0px 22px;}
.ad-unit .first-box{padding:20px 10px 0px 20px;margin-bottom: 16px;}
.ad-unit .second-box{text-align: center;margin-bottom: 16px; background-color: #ffffff; padding: 15px 0px;box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);}
.ad-unit .third-box{padding: 0px 10px 0px 20px;}
.ad-unit .button{position: absolute; top: 252px;left: 22px;}


/** MODULES & TEXT ALIGN
===================================*/
.right-align-modules .small-modules{float:right;}
.right-align-modules.main-text-right .main-module{text-align: right;padding-right: 35px;}
.right-align-modules.main-text-left .main-module{text-align: left;padding-left: 15px;width: 384px;}
.left-align-modules.main-text-left .main-module{text-align: left;padding-left: 22px;}
.left-align-modules.main-text-right .main-module{text-align: right;padding-left: 23px;}


/** MAIN AND SMALL MODULES TEXT STYLES
===================================*/
.banner-module .main-module .eyebrow{font-family: 'Lato'; font-size: 26px; line-height: 33px;}
.banner-module .main-module .headline{font-family: 'Lato'; font-weight:300; font-size: 60px; line-height: 68px;}
#wellness-landing-slider .banner-module .main-module .landinghead{font-family: 'Lato'; font-weight:300; font-size: 32px; line-height: 36px;}
#wellness-landing-slider .banner-module {margin-left: -33px;}
.banner-module .main-module .subhead{font-family: 'Lato'; font-weight:300; font-size: 21px; line-height: 26px; margin-bottom: 31px;}

.banner-module .small-module .eyebrow{font-family: 'Lato'; font-size: 16px; line-height: 17px;}
.banner-module .small-module .headline{font-family: 'Lato'; font-weight:300; font-size: 43px; line-height: 46px;}
.banner-module .small-module .subhead{font-family: 'Lato'; font-size: 16px; line-height: 17px;}


/** BUTTONS
===================================*/
.banner-module .button a{font-family:'Lato'; font-weight:900; font-size: 14px;color: #ffffff;background-repeat: repeat-x;height: 29px;text-align: center;text-decoration: none;padding: 5px 20px 7px 21px;cursor: pointer;}
.banner-module .red-button a{background-image: url('../images/custom/red-btn-bg.jpg')/*tpa=https://www.riteaid.com/riteAid-theme/images/custom/red-btn-bg.jpg*/;}
.banner-module .button a:hover{background-position: left -29px;}
.banner-module .gray-button a{background-image: url('../images/custom/gray-btn-bg.jpg')/*tpa=https://www.riteaid.com/riteAid-theme/images/custom/gray-btn-bg.jpg*/;color: #333333;}
.banner-module .grayBlue-button a{background-image: url('../images/custom/gray-btn-bg.jpg')/*tpa=https://www.riteaid.com/riteAid-theme/images/custom/gray-btn-bg.jpg*/;color: #105291;}

/** Wellness landing slider button
===================================*/
#wellness-landing-slider .button a {
text-decoration: none!Important;
}
