/*--- Here is the way the style sheet is grouped. Please add the new style to the corresponding grouping...
 - RESET STYLES
 - MAIN STYLES
 - LINK STYLES
 - HEADER STYLES
 - TABLE STYLES
 - MAIN COLUMN STYLES
 - SIDE NAV COLUMN STYLES
 - SIDEBAR STYLES
 - NEWS RELEASE STYLES
 - GOOGLE SEARCH STYLES
 - FORM STYLES
 - FOOTER STYLES
 - PRINT SPECIFIC STYLES
 ---*/
 
/*--------------- RESET STYLES -----------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0px;
	padding: 0px;
	border: 0px;
	outline: 0px;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0px;
}
body {
	line-height: 1.1em;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/*--------------- MAIN STYLES -----------------*/
body {
	color: #000;
	background: #d8d5cc url(../images/bg_site.gif)/*tpa=http://www.integrysgroup.com/includes/images/bg_site.gif*/ repeat-x 0px 0px;
	font-size: 15px;
	font-family: Calibri, Arial, Helvetica, Sans-Serif;
	text-align: center;
}
#logoPrint {
    display: none;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	margin: 20px 0px;
	line-height: 1.2em;
	font-family: Calibri, Arial, Helvetica, Sans-Serif;
}
h1 {
	font-size: 150%;
}
h2 {
	font-size: 130%;
}
h3, h4, h5, h6 {
	font-size: 115%;
}
strong, b {
	font-weight: bold;
}
p {
	margin: 20px 0px;
}
p, li, dt, dd, legend, label {
	font-size: 100%;
}
ul {
	list-style: disc;
	margin: -10px 0px 20px;
}
ol {
	list-style: decimal;
	margin: 10px 0px 20px;
}
dl {
	margin: -5px 0px 0px;
	padding: 0px;
}
dt {
	font-weight: bold;
	padding: 10px 0px 0px 0px;
	margin: 0px 0px 0px 20px;
}
dd {
	padding: 5px 0px 0px;
	margin: 0px 0px 0px 40px;
}
li {
	margin: 0px 0px 0px 40px;
	padding-top: 5px;
}
ul ul {
	list-style: disc;
	margin: 10px 0px 0px;
}
li li {
	font-size: 100%;
	margin: 0px 0px 0px 20px;
}
sup {
    font-size: 60%;
    vertical-align: top;
}
.siteSpacedList {
	margin-top: -10px;
}
.siteSpacedList li {
	padding-top: 10px;
}
.siteSpacedList li ul {
	margin-top: 0px;
	margin-bottom: 0px;
}
.siteSpacedList li li {
	padding-top: 5px;
}
.leftAlign {
	text-align: left !important;
}
.centerAlign {
	text-align: center !important;
}
.rightAlign {
	text-align: right !important;
}
img {
	border-width: 0px;
}
form {
	margin: 0px;
	display: inline;
}
input, textarea, select {
	font-size: 100%;
	font-family: Calibri, Arial, Helvetica, sans-serif;
}
hr, .hide {
	display: none;
}
/* clearfix styles */
.clearfix:after {
    clear: both;
    display: block;
    content: ".";
    height: 0px;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
/* Hides from IE-mac \*/
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
li.clearfix {
    display: list-item;
}
/* End hide from IE-mac */
div.hr {
	height: 1px;
	background: url(../images/line_h.gif)/*tpa=http://www.integrysgroup.com/includes/images/line_h.gif*/ repeat-x left top;
	clear: right;
}
div.teamMemberBio {
	position: relative;
	min-height: 96px;
	margin-bottom: 20px;
}
* html div.teamMemberBio {
	height: 96px;
}
div.teamMemberBio img {
	position: absolute;
	top: 0px;
	left: 20px;
	border: 1px solid #000;
}
div.teamMemberBio.newSection img {
	top: 15px;
}
div.teamMemberBio h3 {
	margin: 0px 0px 5px 110px;
	padding: 0px;
}
div.teamMemberBio ul {
	margin: 0px 0px 20px 110px;
	padding: 0px;
}
div.teamMemberBio li {
	margin: 0px 0px 0px 25px;
	padding: 5px 0px 0px;
}
.indented {
	margin-left: 20px;
}
.errorDescription {
	background: url(../images/warning_16.gif)/*tpa=http://www.integrysgroup.com/includes/images/warning_16.gif*/ no-repeat 8px 0px;
	padding-left: 30px;
	color: #F00;
	font-weight: bold;
	min-height: 17px;
}
.pleaseNoteDescription {
	background: url(../images/info_16.gif)/*tpa=http://www.integrysgroup.com/includes/images/info_16.gif*/ no-repeat 8px 0px;
	padding-left: 30px;
	font-weight:bold;
	min-height: 17px;
}
.importantInformation {
	color: #F00;
}
.rssFeed {
    position: absolute;
    top: 5px;
    right: 5px;
    padding-right: 20px;
    background: url(../images/rss_16.png)/*tpa=http://www.integrysgroup.com/includes/images/rss_16.png*/ no-repeat right top;
}
.siteSidebar .rssFeed {
    right: 20px;
}


/* ---------- LINK STYLES ---------- */
a {
	color: #006699;
	text-decoration: underline;			
}
.siteSidebar h3 a {
	color: #fff;
}
a:visited {			
	color: #336699;
}
a:hover {
	color: #fc7a28 !important;			
}
a.pdf, a.pdf:hover {
	background: url(../images/adobe.gif)/*tpa=http://www.integrysgroup.com/includes/images/adobe.gif*/ no-repeat right top !important;
	padding-right: 21px;
	white-space: nowrap;
	display: inline-block;
}
a.audio {
	background: url(../images/audio.gif)/*tpa=http://www.integrysgroup.com/includes/images/audio.gif*/ no-repeat right top !important;
	height: 15px;
	padding-right: 21px;
	padding-bottom: 2px;
}


/* ---------- HEADER STYLES ---------- */
#siteHeader {
	position: relative;
	text-align: left;
	width: 975px;
	margin-left: auto;
	margin-right: auto;	
	margin-top: 15px;
	background-color: #fff;
	border: 1px solid #b1ab9a;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 34px;
	-moz-box-shadow: 2px 2px 5px #999999; /* FF3.5+ */
	-webkit-box-shadow: 2px 2px 5px #999999; /* Saf3.0+, Chrome */
	box-shadow: 2px 2px 5px #999999; /* Opera 10.5, IE 9 */
	z-index: 100;
}
#siteLogo {
	margin: 0px;
}
#siteLogo a {
	display: block;
	height: 75px;
	width: 200px;
	background: url(../images/logo_site.gif)/*tpa=http://www.integrysgroup.com/includes/images/logo_site.gif*/ no-repeat 49px 14px;
}
#siteTagLine {
	position: absolute;
	top: 40px;
	left: 200px;
	width: 319px;
	height: 13px;
	margin: 0px;
	background: url(../images/tagline.gif)/*tpa=http://www.integrysgroup.com/includes/images/tagline.gif*/ no-repeat 0px 0px;
}
#siteTagLine span {
	display: none;
}
#siteTopLinks {
	position: absolute;
	top: 36px;
	right: 255px;
}
#siteTopLinks ul {
	list-style: none;
	float: left;
	margin: 0px;
	padding: 0px;
}
#siteTopLinks ul li {
	display: inline;
	float: left;
	margin: 0px;
	padding: 0px 0px 0px 20px;
	font-size: 85%;
}
#siteTopLinks ul li a {
	font-weight: bold;
	padding-right: 20px;
}
#siteTopLinks ul li a.contact {
	background: url(../images/mail_16.gif)/*tpa=http://www.integrysgroup.com/includes/images/mail_16.gif*/ no-repeat right top;
}
#frmSearch {
    display: inline;	
	font-size: 85%;
}

#frmSearch legend, #frmSearch label {
	display: none;
}
#frmSearch fieldset {
	border-width: 0px;
	padding: 0px;
	margin: 0px;
	background-image: none;
	background-color: Transparent;
	clear: none;
	display: inline;
    position: absolute;
    top: 35px;
    right: 15px;
}
#frmSearch fieldset input {
	margin-bottom: 0px;
	width: 150px;
	font-size: 12px;
	vertical-align: middle;
	border: 1px solid #ccc;
}
#siteHeader form #btnSearch {	
	border: 1px solid #c63;
	color: #fff;
	font-weight: bold;
	cursor: pointer;	
	width: 60px;
	overflow: visible;
	padding: 1px 5px;
	margin: 0px;
	background-image: none;
	background-color: #fc7a28;
  	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#siteHeader form #btnSearch:hover {
	background-color: #ea7125;
	border: 1px solid #c63;
	background-image: none;
	filter: none;
	-ms-filter: none;
}
#siteTopNav {
	position: absolute;
	bottom: -10px;
	width: 995px;
	height: 44px;
	margin: 0px -10px -1px;
	padding: 0px 0px 0px 10px;
	list-style: none;
	background: url(../images/bg_siteTopNav.gif)/*tpa=http://www.integrysgroup.com/includes/images/bg_siteTopNav.gif*/ no-repeat 0px 0px;
}
#siteTopNav li {
	margin: 0px;
	padding: 0px;
	display: block;
	float: left;
	position: relative;
}
#siteTopNav li a {
	color: #fff;
	display: block;
	font-weight: bold;
	text-decoration: none;
	padding: 8px 25px 11px 15px;
	background: url(../images/btn_siteTopNav.gif)/*tpa=http://www.integrysgroup.com/includes/images/btn_siteTopNav.gif*/ no-repeat right top;
	float: left;
}
#siteTopNav li ul {
	list-style: none;
	position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
	left: 0px;
	top: 35px;	
	background-color: #666666;
	margin: 0px;
	padding: 0px;
	display: none;
	float: left;
	width: 200px;
	border: 1px solid #394859;
}
#siteTopNav li ul li {
	margin: 0px;
	padding: 0px;
	border-top: 1px solid #999; /*--Create bevel effect--*/
	border-bottom: 1px solid #333; /*--Create bevel effect--*/
	clear: both;
	width: 200px;
	font-size: 90%;
}
#siteTopNav li ul li a {
	float: left;
	width: 200px;	
	background-color: #666666;
	padding: 5px 0px;
	background-image: none;
}
#siteTopNav li ul li a span {
	display: block;
	padding: 0px 15px;
}
#siteLogo a span, #siteHeader hr {
	display: none;
}

/* ---------- TABLE STYLES ---------- */
td {
	vertical-align: top; 
}
th {
   font-weight: bold; 
}
.siteTable, .earningsTable {
	border-collapse: collapse;
	border-spacing: 0px;
	border: 1px solid #CCC;
	margin: 0px;
}
.siteTable td, .siteTable th {
    border: 0px;
	border-width: 1px 0px;
	font-size: 90%;
	text-align: center;
	padding: 3px 5px;
}
.siteTable th {
    background: url(../images/siteTableHeader.gif)/*tpa=http://www.integrysgroup.com/includes/images/siteTableHeader.gif*/ repeat-x center bottom;
	vertical-align: bottom;
	padding: 4px 5px;
	border-bottom: 1px solid #CCC;
}
.siteTable th input {
	vertical-align: middle;
    margin-left: 5px;   
}
.siteTable td {
	vertical-align: top;
	background-color: #FFF;
	border-bottom: 1px solid #CCC;
}


table.siteTable input, table.siteTable select, #mainContent table.siteTable p {
	font-size: 100%;
}
table.siteTable td.noData {
	padding: 20px;
	text-align: center;
}
table.siteTable tr.tableFooter th {
	vertical-align: middle;
}
table.siteTable tr.tableFooter th img {
	vertical-align: middle;
}
table.siteTable tr.tableFooter th.pending {
	color: #F00;
}
table.siteTable tr.odd td {
	background-color: #f5f5f5;
}
table.siteTable tr.even td {
	background-color: #FFF;
}
table.siteTable td.noRightBorder {
	border-right-width: 0px;
	padding-right: 0px;
}
table.siteTable td.noBottomBorder {
	border-bottom-width: 0px;
}
table.siteTable tr.firstRow td {
	padding-top: 10px;
}
table.siteTable tr.lastRow td {
	padding-bottom: 10px;
}
table.siteTable .widestColumn {
	width: 100%;
}

.siteTable .indentedCell, .earningsTable .indentedCell {
	padding-left: 20px;
	text-align: left;
}
.siteTableNote {
	margin: 0px;
	font-size: 85%;
	padding: 5px 10px 0px;
	text-indent: -7px;
	color: #666;
}
.presentationDetails {
	font-size: 11px;
	padding-top: 5px;
	display: block;
}
.presentationDetails span {
	width: 130px;
	float: left;
	font-weight: bold;
	padding-left: 10px;
}
.earningsTable td, .earningsTable th {
    border: 0px;
	border-width: 1px 0px;
	font-size: 85%;
	text-align: center;
	padding: 2px 5px;
}
.earningsTable th {
    background: url(../images/siteTableHeader.gif)/*tpa=http://www.integrysgroup.com/includes/images/siteTableHeader.gif*/ repeat-x center bottom;
	vertical-align: bottom;
	padding: 3px 5px;
	border-bottom: 1px solid #CCC;
}
.earningsTable td {
	vertical-align: top;
	background-color: #FFF;
	border-bottom: 1px solid #CCC;
}


/* ---------- MAIN COLUMN STYLES ---------- */
#siteContent {
	text-align: left;
	width: 975px;
	min-height: 400px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	border: 1px solid #b1ab9a;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 2px 2px 5px #999999; /* FF3.5+ */
	-webkit-box-shadow: 2px 2px 5px #999999; /* Saf3.0+, Chrome */
	box-shadow: 2px 2px 5px #999999; /* Opera 10.5, IE 9 */
}
* html #siteContent {
    height: 400px;
}
#bodyContent {
	padding: 15px;
}
#mainContent {
    margin-top: 0px;
    margin-left: 202px;
    position: relative;
    padding-bottom: 15px;
}
* html #mainContent {
    height: 1px;
}
.breadcrumbNav {
    margin-top: 0px;
    font-size: 85%;
}
.breadcrumbNav label {
    font-size: 100%;
}
.pageHeading {
    margin-top: 30px;
}
#leftColumn {
	float: left;
	width: 620px;
	padding-bottom: 15px;
}
#promoContainer {
	position: relative;
	overflow: hidden;
	height: 200px;
	border: 1px solid #b1ab9a;
}
#promoContainer ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.rotatingPromo {
	margin: 0px;
	padding: 0px;
}
.rotatingPromo a {
	display: block;
	height: 200px;
	background: url(../images/promo.jpg)/*tpa=http://www.integrysgroup.com/includes/images/promo.jpg*/ no-repeat 0px 0px;
	position: relative;
	cursor: pointer;
	padding-left: 15px;
	color: #000;
	font-family: Georgia, "Times New Roman", Serif;
	font-size: 23px;
	line-height: 28px;
	text-decoration: none;
}
.rotatingPromo a:hover {
	color: #000 !important;
}
#promo1 a {
	background-position: 0px 0px;
}
#promo2 a {
	background-position: 0px -200px;
}
#promo3 a {
	background-position: 0px -400px;
}
#promoHeading, #promo2, #promo3, #promo4 {
	display: none;
}
.rotatingPromoText {
    background: url(../images/bg_rotatingPromoText.png)/*tpa=http://www.integrysgroup.com/includes/images/bg_rotatingPromoText.png*/ repeat-y left top;
    position: absolute;
    left: 0px;
    top: 13px;
    height: 135px;
    width: 450px;
    padding: 5px 10px 0px 15px;
}
.rotatingPromoText span {
    display: block;
	width: 250px;
	padding-top: 10px;
}
#promoControls {		
	position: absolute;
	bottom: 10px;
	left: 15px;
	margin: 0px;
}
#promoControls input {
	padding: 0px 1px;
	margin: 0px;
	font-weight: bold;
	border-style: solid;
	border-width: 1px;
	vertical-align: middle;
}
#promoControls img {	
	margin: 0px 10px 0px 0px;
	border-width: 0px;
	vertical-align: middle;
}
#siteFeatureContainer {
	background: url(../images/bg_siteFeature.gif)/*tpa=http://www.integrysgroup.com/includes/images/bg_siteFeature.gif*/ repeat-y left top;
	min-height: 1px;
	position: relative;		
}
* html #siteFeatureContainer {
	height: 1px;		
}
.siteFeature {
	width: 165px;
	float: left;
	padding-bottom: 15px;
}
.feature1 {
    margin: 0px 20px;
}
.feature2 {
    margin: 0px 21px;
}
.feature3 {
    margin: 0px 0px 0px 20px;
}
.siteFeature h3 {
	margin: 0px;
	position: relative;
	padding-top: 105px;
}
.siteFeature img {
	position: absolute;
	top: 15px;
	left: 0px;
	border: 1px solid #b1ab9a;
}
.siteFeature p {
	margin: 10px 0px 0px;
}
#featuredStory {
    position: relative;
    padding-left: 185px;
    min-height: 100px;
}
#featuredStory img {
    position: absolute;
    top: 0px;
    left: 0px;
    border: solid 1px #B1AB9A;
}
#featuredStory p {
    margin: 0px;
    padding: 0px 0px 10px;
}
.featuredContent h3 {
    margin: 15px 0px 0px;
    padding: 15px 0px 0px 0px;
    background: url(../images/line_h.gif)/*tpa=http://www.integrysgroup.com/includes/images/line_h.gif*/ repeat-x left top;
    overflow: hidden;
}
.featuredContent h3.sectionIndexHeading {
    padding-left: 40px;
}
.featuredContent h3.sectionIndexHeading a {
    position: relative;
    left: -40px;
    padding: 0px 0px 5px 40px;
    display: block;
    background: url(../images/icon_feature.gif)/*tpa=http://www.integrysgroup.com/includes/images/icon_feature.gif*/ no-repeat 15px 2px;
}
.featuredContent p {
    margin: 0px;
    padding: 0px 0px 0px 0px;
}
.featuredContent p.sectionIndexDescription {
    padding-left: 40px;
}
.featuredContent ul {
    margin: 0px;
    padding: 5px 0px 0px 0px;
}
#rightColumn {
	float: right;
	width: 310px;
}
#rightColumn h3 {
	margin: 0px;
	padding: 5px;
	background: url(../images/line_h.gif)/*tpa=http://www.integrysgroup.com/includes/images/line_h.gif*/ repeat-x left bottom;
	position: relative;
}
#rightColumn dl {
	margin: 0px;
	padding: 0px 0px 20px;
}
#rightColumn dt {
	padding: 5px 5px 0px 20px;
	margin: 0px;
	cursor: pointer;
}
#rightColumn dd {
	padding: 0px 5px 5px 20px;
	margin: 0px;
	font-size: 85%;
}
#stockPrice {
	font-size: 100%;
}
#stockPrice span {
	display: block;
	padding-left: 20px;
}
#stockPrice span.price {
	font-size: 200%;
	font-weight: bold;
}
#stockPrice span.date {
	font-size: 85%;
	color: #666;
	padding-top: 5px;
}
#companyList dt {
	padding: 5px 5px 0px 20px;
	color: #006699;	
	background: url(../images/btn_companies.gif)/*tpa=http://www.integrysgroup.com/includes/images/btn_companies.gif*/ no-repeat 5px -27px;
}
#companyList dt span {
	display: block;
	padding: 5px 100px 5px 0px;
}
#companyList dt.expanded {
	background-position: 5px 11px;
}
#companyList dd {
	padding: 0px 5px 5px 20px;
	background: url(../images/line_h.gif)/*tpa=http://www.integrysgroup.com/includes/images/line_h.gif*/ repeat-x left bottom;
	position: relative;
}
#companyList dd span {
	display: block;
	padding: 0px 0px 5px 0px;
}
#mgu span {
	background: url(../images/logo_mgu_sm.gif)/*tpa=http://www.integrysgroup.com/includes/images/logo_mgu_sm.gif*/ no-repeat right top;
}
#merc span {
	background: url(../images/logo_merc_sm.gif)/*tpa=http://www.integrysgroup.com/includes/images/logo_merc_sm.gif*/ no-repeat right top;
}
#nsg span {
	background: url(../images/logo_nsg_sm.gif)/*tpa=http://www.integrysgroup.com/includes/images/logo_nsg_sm.gif*/ no-repeat right top;
}
#pgl span {
	background: url(../images/logo_pgl_sm.gif)/*tpa=http://www.integrysgroup.com/includes/images/logo_pgl_sm.gif*/ no-repeat right top;
}
#wps span {
	background: url(../images/logo_wps_sm.gif)/*tpa=http://www.integrysgroup.com/includes/images/logo_wps_sm.gif*/ no-repeat right top;
}
#atc span {
	background: url(../images/logo_atc_sm.gif)/*tpa=http://www.integrysgroup.com/includes/images/logo_atc_sm.gif*/ no-repeat right top;
}
#trilliumCNG span {
	background: url(../images/logo_trilliumCNG_sm.gif)/*tpa=http://www.integrysgroup.com/includes/images/logo_trilliumCNG_sm.gif*/ no-repeat right top;
}
#additionalInformation {
	clear: both;
	background-color: #eceae6;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	min-height: 5.3em;
}
* html #additionalInformation {
	height: 5.3em;
}
#additionalInformation h3 {
	width: 185px;
	margin: 0px;
	text-align: right;
	line-height: .8em;
	float: left;
	padding-top: 1em;
}
#additionalInformation ul {
	width: 350px;
	margin: 0px 0px 0px 202px;
	padding: 1em 0em;
	list-style: none;
}
#additionalInformation ul li {
	margin: 0px;
	padding: 0px;
	width: 170px;
	float: left;
	line-height: 1.2em;
}
#additionalInformation ul li span {
	display: list-item;
	list-style-type: disc;
	margin: 0px 0px 0px 25px;
}
.sitePhoto {
	float: right;
	margin: 0px -20px 20px 20px;
	clear: right;
}
.aboutSection .sitePhoto {
    border-right: 5px solid #7b3136;
}
.newsSection .sitePhoto {
    border-right: 5px solid #106470;
}
.careerSection .sitePhoto {
    border-right: 5px solid #4a3650;
}
.corporateSection .sitePhoto {
    border-right: 5px solid #4b471a;
}
.sitePhotoDescription {
	float: right;
	margin: 0px;
	clear: right;
	border-bottom: 15px solid #FFF;
	border-left: 15px solid #FFF;
}
.sitePhotoDescription img {
	margin: 0px;
	border-bottom: 5px solid #fff;	
	border-left: 20px solid #fff;
}
.sitePhotoDescription p {
    width: 200px;
	font-size: 85%;
	text-align: left;
	color: #999;
	margin: 5px 0px 0px 20px;
}
.newSection {
	background: url(../images/line_h.gif)/*tpa=http://www.integrysgroup.com/includes/images/line_h.gif*/ repeat-x left top;
	padding-top: 15px;
	overflow: hidden;
}
div.faqContainer {
    margin-left: -10px;
    position: relative;
}
* html div.faqContainer {
    height: 17px;
}
dl.faqItem {
	background: url(../images/line_h.gif)/*tpa=http://www.integrysgroup.com/includes/images/line_h.gif*/ repeat-x left top;
	padding: 15px 0px 0px;
	margin: 0px 0px 0px 10px;
	min-height: 1px;
}
* html dl.faqItem {
	height: 1px;
}
dl.faqItem dt {
	padding: 0px 0px 5px 40px;
	margin: 0px;
	font-weight: bold;
	background: url(../images/faq_q.gif)/*tpa=http://www.integrysgroup.com/includes/images/faq_q.gif*/ no-repeat 12px 0px;
}
* html dl.faqItem dt, * html dl.faqItem dd {
	height: 17px;
}
dl.faqItem dd {
	padding: 10px 0px 0px 40px;
	margin: 0px;
	background: url(../images/faq_a.gif)/*tpa=http://www.integrysgroup.com/includes/images/faq_a.gif*/ no-repeat 12px 10px;
}
dl.faqItem li, dl.faqItem p {
	font-size: 100%;
}
dl.faqItem dd table.siteTable th, dl.faqItem dd table.siteTable td {
	font-size: 100%;
}
.selectedQuestion {
    background: url(../images/arrow-forward_16.gif)/*tpa=http://www.integrysgroup.com/includes/images/arrow-forward_16.gif*/ no-repeat 0px 14px;
}
.sitemap {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.sitemap ul {
	margin: 5px 0px 10px;
	padding: 0px;
}
.sitemap li {
	margin: 0px;
	padding: 0px;
	font-weight: bold;
	font-size: 90%;
}
.sitemap li a {
	font-size: 120%;
}
.sitemap li li a {
	font-size: 100%;
}
#sitemapLeft {
	display: block;
	width: 48%;
	float: left;
	margin-bottom: 20px;
}
#sitemapRight {
	display: block;
	float: right;
	width: 50%;	
}
.sitemap .sitemapSectionABOUT, .sitemap .sitemapSectionINVESTOR, .sitemap .sitemapSectionNEWS {
	margin-right: 20px;
}
.sitemap .sitemapSectionABOUT, .sitemap .sitemapSectionINVESTOR, .sitemap .sitemapSectionCOMMUNITY {
	padding-bottom: 40px;
}
.sitemap li li {
	font-size: 100%;
	font-weight: normal;
	margin: 0px 0px 0px 25px;
}
.sitemap li li li {
	font-size: 95%;
}
.subsidiaryName {
    display: block;
    margin: 0px;
}
.subsidiaryURL {
    margin-top: 5px;
}
#serviceArea {
    width: 350px;
    float: right;
    border-left: 20px solid #fff;
    border-bottom: 20px solid #fff;           
}
#serviceArea img {
    border-width: 0px;            
}
#serviceArea ul {
    list-style: none;
    margin: 0px;
    padding: 10px 0px 0px 20px;            
}
#serviceArea ul li {
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-size: 85%;
    color: #666;
    line-height: 1.6em;
    padding-left: 1.5em;
    position: relative;   
}
#serviceArea ul li span {
    position: absolute;
    left: 0px;
    top: .3em;
    width: 1em;
    height: 1em;     
}
.leftColumn {
    float: left;
    width: 350px;
}
.rightColumn {
    float: right;
    width: 370px;
}
#fercRecipientList {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#fercRecipientList li {
	margin: 0px 0px 0px 20px;
	padding: 0px;
}
#fercRecipientList li input{
	vertical-align: middle;
}
#fercCharacterCount {
	padding-top: 2px;
	display: block;
}
#fercCharacterCount input {
	border: none;
	padding: 0px;
	color: #4C4C4C;
	font-weight: bold;
	vertical-align: top;
}
.fercPostLog td {
	font-size: 90%;
	padding-bottom: 5px;
}
.fercPostLog td.rightAlign {
	padding-right: 5px;
}
.affiliateSearch td, .affiliateSearch input, .affiliateSearch img {
	vertical-align: middle;
} 
#electricTransactions td td, #transactionComments td td {
	border-width: 0px;
	padding-left: 2px;
	padding-right: 0px;
}
#electricTransactions td td.postingCompany {
	width: 250px;
}
#electricTransactions td td.postingDetail {
	width: 100%;
}
#transactionComments td td.postingCompany{
	width: 125px;
}
#electricTransactions td tr.newRow td, #transactionComments td tr.newRow td {
	background: url(../images/line_h.gif)/*tpa=http://www.integrysgroup.com/includes/images/line_h.gif*/ repeat-x top left;
}
#electricTransactions td td.noResponse {
	color: #F00;
}
#electricTransactions span.confirmationReason {
	color: #666;
}
#electricTransactions div.hint {
	color: #090;
}
.elecTransCol1 {
	width: 125px;
}
span.offerAccepted, span.offerDeclined, span.offerPending, span.offerNew, span.noComments, span.noTransactions { 
	text-transform: uppercase;
  color: #F00;
}
span.expiresIn {
	color: #F00;
}
.executivePhoto {
    float: left;
    padding: 5px 20px 20px 0px;
    margin: 0px;
}
.executiveBio {
    margin-left: 157px;
    min-height: 210px;
}
#eventDates {
	position: relative;
}
#eventDates dt {
	margin: 10px 0px 0px;
	padding: 0px;
}
#eventDates dt.calendarIcon {
	position: absolute;
	left: 10px;
	width: 50px;
	height: 50px;
	background: url(../images/calendar_50.gif)/*tpa=http://www.integrysgroup.com/includes/images/calendar_50.gif*/ no-repeat left top;
}
#eventDates dt.calendarIcon span.month {
	position: absolute;
	top: 4px;
	width: 50px;
	color: #fff;
	font-size: 10px;
	text-align: center;
	text-transform: uppercase;
}
#eventDates dt.calendarIcon span.date {
	position: absolute;
	top: 23px;
	width: 50px;
	color: #000;
	font-size: 20px;
	text-align: center;
}
#eventDates dd {
	margin: 0px;
	padding: 15px 10px 10px 70px;
}





/* ---------- SIDE NAV COLUMN STYLES ---------- */
#sectionNav {
	width: 200px;
	float: left;
	margin: 0px 0px 0px -20px;
	display: inline;
	background-color: #eceae6;
	border: 1px solid #b1ab9a;
	border-left: 5px solid #fc7a28;
}
.aboutSection #sectionNav {
    border-left: 5px solid #7b3136;
}
.investorSection #sectionNav {
    border-left: 5px solid #003050;
}
.newsSection #sectionNav {
    border-left: 5px solid #106470;
}
.careerSection #sectionNav {
    border-left: 5px solid #4a3650;
}
.corporateSection #sectionNav {
    border-left: 5px solid #4b471a;
}
#sectionNav #sectionNavMenu {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
#sectionNav #sectionNavMenu li {
	margin: 0px;
	padding: 0px;
	border-bottom: 1px solid #ccc5b1;
	background: url(../images/bg_sectionNavMenu.gif)/*tpa=http://www.integrysgroup.com/includes/images/bg_sectionNavMenu.gif*/ repeat-x 0px 0px;
}
#sectionNav #sectionNavMenu li a {
	display: block;
	border-top: 1px solid #fff;
	font-weight: bold;
	text-decoration: none;
	width: 188px;
	background: url(../images/btn_companies.gif)/*tpa=http://www.integrysgroup.com/includes/images/btn_companies.gif*/ no-repeat 5px -32px;
}
#sectionNav #sectionNavMenu li a:hover {
	text-decoration: underline;
}
#sectionNav #sectionNavMenu li a span {
	padding: 5px 10px 5px 20px;
	display: block;
}
#sectionNav #sectionNavMenu ul {
	margin: 0px;
	padding: 0px 0px 5px;
	list-style: none;
}
#sectionNav #sectionNavMenu ul li {
	margin: 0px 0px 0px 20px;
	font-size: 95%;
	border-width: 0px;
	background-image: none;
}
#sectionNav #sectionNavMenu li.selected a {
	background-position: 5px 8px;
}
#sectionNav #sectionNavMenu ul li.selected a {
	font-weight: bold; 
}
#sectionNav #sectionNavMenu ul li a {
	font-weight: normal;
	border-width: 0px;
	width: 168px;
	background: url(../images/line_h.gif)/*tpa=http://www.integrysgroup.com/includes/images/line_h.gif*/ repeat-x left top !important;
	position: relative;
}
#sectionNav #sectionNavMenu ul li a span {
	padding: 3px 10px 3px 5px;
}
.siteButton, .styledButton {
	border: 3px double #666;
	border-top-color: #999;
	border-left-color: #999;
	background: #FFF url(../images/site_btn_bg.gif)/*tpa=http://www.integrysgroup.com/includes/images/site_btn_bg.gif*/ repeat-x 0px 0px;
	font-weight: bold;
	cursor: pointer;	
	width: auto;
	overflow: visible;
	padding: 0px 5px;
	margin: 0px;
}

/* ---------- SIDEBAR STYLES ---------- */
.siteSidebar {
	float: right;
	width: 200px;
	margin: 0px;
	background-color: #fff;
	clear: right;
	border-bottom: 15px solid #FFF;
	border-left: 15px solid #FFF;
	position: relative;
	/* add z-index so it appears above subsequent background images */
	z-index: 20;
}
.aboutSection .siteSidebar h3 {
    background-color: #7b3136;
}
.investorSection .siteSidebar h3 {
    background-color: #003050;
}
.newsSection .siteSidebar h3 {
    background-color: #106470;
}
.careerSection .siteSidebar h3 {
    background-color: #4a3650;
}
.corporateSection .siteSidebar h3 {
    background-color: #4b471a;
}
.aboutSection .siteSidebar p, .aboutSection .siteSidebar ul, .aboutSection .siteSidebar dl {
    background-color: #e8d3d4;
}
.investorSection .siteSidebar p, .investorSection .siteSidebar ul, .investorSection .siteSidebar dl {
    background-color: #ccd6dc;
}
.newsSection .siteSidebar p, .newsSection .siteSidebar ul, .newsSection .siteSidebar dl {
    background-color: #cce2e6;
}
.careerSection .siteSidebar p, .careerSection .siteSidebar ul, .careerSection .siteSidebar dl {
    background-color: #dbd6dd;
}
.corporateSection .siteSidebar p, .corporateSection .siteSidebar ul, .corporateSection .siteSidebar dl {
    background-color: #dddccf;
}
.siteSidebar h3 {
	margin: 0px;
	padding: 3px 20px 3px 10px;
	background-color: #fc7a28;
	color: #fff;
	position: relative;
	overflow: visible;
}
.siteSidebar p {
    margin: 0px;
    padding: 15px 10px;
}
.siteSidebar #stockPrice span {
	padding-left: 0px;
}
.siteSidebar #stockPrice span.date {
	color: #000;
}
.siteSidebar p.contactInformation {
    font-size: 85%;
}
.siteSidebar ul {
    margin: 0px;
    padding: 5px 0px 15px;
    width: 200px;
}
.siteSidebar ul li {
    margin: 5px 10px 0px 25px;
    padding: 0px;
}
.siteSidebar ul li.twitter, #socialMediaLinks li.twitter {
    background: url("../images/twitter_16.png")/*tpa=http://www.integrysgroup.com/includes/images/twitter_16.png*/ no-repeat 0px 0px;
    margin-left: 10px;
    padding-left: 20px;
    list-style: none;
}
.siteSidebar ul li.facebook {
    background: url("../images/facebook_16.png")/*tpa=http://www.integrysgroup.com/includes/images/facebook_16.png*/ no-repeat 0px 0px;
    margin-left: 10px;
    padding-left: 20px;
    list-style: none;
}
.siteSidebar ul li.linkedin, #socialMediaLinks li.linkedin {
    background: url("../images/linkedin_16.png")/*tpa=http://www.integrysgroup.com/includes/images/linkedin_16.png*/ no-repeat 0px 0px;
    margin-left: 10px;
    padding-left: 20px;
    list-style: none;
}
.siteSidebar ul li.wordPress {
    background: url("../images/wordPress_16.png")/*tpa=http://www.integrysgroup.com/includes/images/wordPress_16.png*/ no-repeat 0px 0px;
    margin-left: 10px;
    padding-left: 20px;
    list-style: none;
}
.siteSidebar ul li.youTube {
    background: url("../images/youTube_16.png")/*tpa=http://www.integrysgroup.com/includes/images/youTube_16.png*/ no-repeat 0px 0px;
    margin-left: 10px;
    padding-left: 20px;
    list-style: none;
}
.siteSidebar dl.contactInformation {
    margin: 0px;
    padding: 5px 0px 15px;
}
.siteSidebar dl.contactInformation dt {
    margin: 0px;
    padding: 5px 10px 0px;
    font-size: 85%;
}
.siteSidebar dl.contactInformation dd {
    margin: 0px;
    padding: 0px 10px 0px 20px;
    font-size: 85%;
}

/*-------------- NEWS RELEASE STYLES ----------------*/
#nrLogoContainer {
    float: right;
    margin: 0px 20px 0px;
}
.nrPhoto {
	border-width: 0px;
	float: right;
	margin: 0px;
	clear: right;
	border-bottom: 20px solid #FFF;
	border-left: 20px solid #FFF;
}
dl#newsReleases {
	padding: 10px 20px 15px;
}
dl#newsReleases dt {
	font-weight: bold;
	margin: 0px;
	padding: 0px;
	font-size: 85%;
}
dl#newsReleases dd {
	margin: 0px;
	padding: 0px 0px 10px;
	font-size: 85%;
}
#nrSearchCriteria input, #nrSearchCriteria select, #nrSearchCriteria td.label, #nrEmailNotification input, #nrEmailNotification select, #nrEmailNotification td.label {
	font-size: 90%;
}
#nrSearchCriteria {
	background: url(../images/line_h.gif)/*tpa=http://www.integrysgroup.com/includes/images/line_h.gif*/ repeat-x left bottom;
	margin-bottom: 20px;
	padding-bottom: 20px;
}
#nrSearchCriteria table {
	margin-top: -10px;
}
#nrSearchCriteria td {
	vertical-align: top;
	padding: 10px 5px 0px 0px;
}
#nrSearchCriteria td.label {
	padding-left: 20px;
}
#nrSearchCriteria input.textbox {
    margin-left: 18px;
}
#nrSearchCriteria .formTips, #emailAddress .formTips {
    color: #666;
    font-size: 85%;
}
#emailAddress .formTips, #verifyEmailAddress .btnContinue {
    margin-left: 10px;
}
#nrSearchCriteria .companydropdownlist {
    margin-left: 25px;
}
#nrSearchCriteria .typedropdownlist {
    margin-left: 53px;
}
#nrSearchCriteria .RowPadding {
    padding: 5px 0px;
}
#nrSearchCriteria .dateRange {
    margin-right: 12px;
}
dd.newsReleaseDate {
    margin-left: 0px;
}
dd.newsReleaseResult {
    margin: 0px 5px 10px 15px;
}
dd.newsReleaseResult .newsReleaseTitle {
    display: block;
}
dd.newsReleaseResult .company {
    font-style: italic;
}
.updatePreferences {
    margin-left: 150px;
}
#emailAddress .emailAddress {
    margin-left: 60px;
}
#verifyEmailAddress .verifyEmailAddress {
    margin-left: 20px;
    margin-top: 5px;
}
.linkButtons {
    margin-left: 100px;
}
.checkBoxes {
    margin-left: 95px;
    margin-top: 10px;
}
.checkBoxes .subscribeTo {
    margin-left: -90px;
}
.checkBoxes .cbIntegrysEnergyGroup {
    margin-left: 6px;
}
.checkBoxes .siteButton {
    margin-top: 10px;
}






/*-------------- GOOGLE SEARCH STYLES ----------------*/
.googleSearchBox .siteButton {
    border-width: 1px;
}
.googleLogo {
	float: right;
}
.googleSepBar {
	background: url(../images/line_h.gif)/*tpa=http://www.integrysgroup.com/includes/images/line_h.gif*/ repeat-x left bottom;
}
* html .googleSepBar {
	height: 1px;
}
.googleSepBar p {
	text-align: right;
	padding: 10px 0px 5px;
	margin: 0px;
}
.googleQuery span.l {
	line-height: 1.5em;
}
.googleQuery p.g {
	padding-left: 21px;
	text-indent: -21px;
}
.googleQuery p.g img {
	margin-right: 5px;
	vertical-align: middle;
}
.googleQuery span.url {
	line-height: 1.5em;
	color: #666;
	font-size: 95%;
}
.googlePaging {
	text-align: center;
}
.googlePaging table {
	margin-left: auto;
	margin-right: auto;
}
.googlePaging table td {
	font-size: 90%;
}
.googleCopyright {
	text-align: center;
	color: #666;
	font-size: 85%;
}

/* ---------- FORM STYLES ---------- */
.siteButton, .styledButton {
	border: 3px double #666;
	border-top-color: #999;
	border-left-color: #999;
	background: #FFF url(../images/site_btn_bg.gif)/*tpa=http://www.integrysgroup.com/includes/images/site_btn_bg.gif*/ repeat-x 0px 0px;
	color: #333;
	font-weight: bold;
	cursor: pointer;	
	width: auto;
	overflow: visible;
	padding: 0px 5px;
	margin: 0px;
}
.disabledSiteButton {
	border: 3px double #666;
	border-top-color: #999;
	border-left-color: #999;
	background: url(../images/site_btn_confirm_bg.gif)/*tpa=http://www.integrysgroup.com/includes/images/site_btn_confirm_bg.gif*/ repeat-x 0px -46px;
	color: #666;
	font-weight: bold;
	cursor: pointer;	
	width: auto;
	overflow: visible;
	padding: 3px 5px 3px 24px;
	margin: 0px;
}
.cancelButton {
	background: url(../images/site_btn_cancel_bg.gif)/*tpa=http://www.integrysgroup.com/includes/images/site_btn_cancel_bg.gif*/ no-repeat 0px 0px;
	padding: 3px 5px 3px 24px;
	margin: 0px 0px 0px 100px;
}
p.centerAlign .cancelButton {
	margin: 0px 0px 0px 100px;
}
.backButton {
	background: url(../images/site_btn_back_bg.gif)/*tpa=http://www.integrysgroup.com/includes/images/site_btn_back_bg.gif*/ no-repeat 0px 0px;
	padding: 3px 5px 3px 24px;
	margin: 0px 100px 0px 0px;
}
p.centerAlign .backButton {
	margin: 0px 100px 0px 0px;
}
.continueButton {
	background: url(../images/site_btn_confirm_bg.gif)/*tpa=http://www.integrysgroup.com/includes/images/site_btn_confirm_bg.gif*/ no-repeat 0px 0px;
	padding: 3px 5px 3px 24px;
	margin: 0px;
}
fieldset {
	border: 1px solid #CCC;
	padding: 10px 20px 10px 10px;
	margin: 20px 0px 0px;
	background: #F5F5F5 url(../images/site_form_bg.gif)/*tpa=http://www.integrysgroup.com/includes/images/site_form_bg.gif*/ repeat-x 0px -1px;
	position: relative;
	min-height: 50px;
	display: block;
	clear: right;
}
* html fieldset {
	height: 50px;
}
fieldset a {
    text-decoration: underline;
}
fieldset label, fieldset input, fieldset select, fieldset a, fieldset span, fieldset img {
	vertical-align: top;
}
fieldset input, fieldset select, fieldset textarea {
	margin-bottom: 3px;
	font-size: 90%;
}
fieldset .indentedObject {
	margin-left: 16em;
}
fieldset .siteTable {
	margin-top: 0px;
}
fieldset legend {
	border: 1px solid #CCC;
	background-color: #FFF;
	padding: 0px 10px;
	font-weight: bold;
	font-size: 90%;
	line-height: 2em;
	margin-bottom: 10px;
}
fieldset label.formLabel {
	width: 16em;
	font-size: 90%;
	font-weight: bold;
	float: left;
	position: relative;
	clear: left;
}
fieldset label.formLabel span {
	white-space: nowrap;
	text-align: right;
	display: block;
	padding-right: 15px;
}
fieldset label.formLabel span span {
	padding-right: 0px;
}
fieldset label.formLabel img {
	position: absolute;
	top: 3px;
	right: 3px;
}
fieldset span.formLabelValue {
	display: block;
	padding-bottom: 5px;
	margin-left: 16em;
	font-weight: bold;
	font-size: 90%;
}
* html fieldset span.formLabelValue {
	height: 1px;
}
fieldset span.formLabelValue img {
	vertical-align: middle;
}
fieldset p {
	margin: 0px 0px 10px 0px;
}
fieldset .spaceAfter {
	margin-bottom: 10px !important;
}
fieldset .optionsWithDescriptions {
	display: block;
	margin-left: 16em;
	font-size: 90%;
}
fieldset .optionsWithDescriptions label {
	font-size: 100%;
    margin-left: 20px;
    display: block;
    padding-bottom: 10px;
}
fieldset .optionsWithDescriptions input {
    float: left;
    width: 20px;
    margin: 0px;
    padding: 0px;
}
* html fieldset .optionsWithDescriptions {
	height: 1%;
}
p.requiredFieldsLegend {
	color: #666;
	margin: 0px 0px 20px;
	padding: 0px;
	font-size: 90%;
}
p.requiredFieldsLegend span {
	display: block;
	width: 16em;
	float: left;
	position: relative;
}
p.requiredFieldsLegend span img {
	position: absolute;
	top: 3px;
	right: 3px;
}
body .DESVALErrorText {
	display:none !important;
}
body .DESVALSummaryErrors {
	margin: 5px 0px 0px 45px;
	padding: 0px;
}
body .DESVALSummaryErrors li {
	margin: 0px;
	padding: 0px;
}
fieldset label.formLabel .DESVALRequiredFieldMarker {
	font-size: 0;
	overflow:hidden;
	line-height: 1;
}
.stepNumberIndicator {
	list-style: none;
	margin: 15px 0px 0px 0px;
	padding: 1px 0px 0px;
	background: url(../images/step_secure.gif)/*tpa=http://www.integrysgroup.com/includes/images/step_secure.gif*/ no-repeat right top;
	min-height: 50px;
	width: 100%;
	display: block;
	overflow: visible;
	clear: right;
	position: relative;
}
.stepNumberIndicator:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.stepNumberIndicator {
    display: inline-block;
}
* html .stepNumberIndicator {
	height: 50px;
	zoom: 1;
	display: block;
}
.stepNumberIndicator li {
	margin: 0px;
	padding: 0px;
	display: block;
	width: 100px;
	font-size: 85%;
	text-align: center;
	color: #ccc;
	min-height: 49px;
	float: left;
}
* html .stepNumberIndicator li {
	height: 49px;
}
.stepNumberIndicator li.step1 {
	background: url(../images/step1.gif)/*tpa=http://www.integrysgroup.com/includes/images/step1.gif*/ no-repeat 0px 0px;
}
.stepNumberIndicator li.step2 {
	background: url(../images/step2.gif)/*tpa=http://www.integrysgroup.com/includes/images/step2.gif*/ no-repeat 0px 0px;
}
.stepNumberIndicator li.step3 {
	background: url(../images/step3.gif)/*tpa=http://www.integrysgroup.com/includes/images/step3.gif*/ no-repeat 0px 0px;
}
.stepNumberIndicator li.stepDisabled {
	background-position: -200px 0px;
}
.stepNumberIndicator li a, .stepNumberIndicator li span {
	padding: 48px 5px 0px;
	display: block;
	line-height: 1.1em;
}
.stepNumberIndicator li.stepActive {
	background-position: -100px 0px;
}
.stepNumberIndicator li.stepActive a {
	text-decoration: none;
}
.stepNumberIndicator li.stepActive span {
	color: #666;
	font-weight: bold;
}
#siteContent .DESVALSummary {
	clear: right;
	background: #ffe5e5 url("../images/cancel_32.gif")/*tpa=http://www.integrysgroup.com/includes/images/cancel_32.gif*/ no-repeat 10px 10px;
	border: 1px solid #f00;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;    	
}
#siteContent .DESVALFieldWithError .DESVALMultiSegTextBox, #siteContent textarea.DESVALFieldWithError, #siteContent input.DESVALFieldWithError, #siteContent .DESVALListWithError {
    background-color: #fff;
    border: 2px solid #f00;
}
#siteContent .DESVALCheckBoxWithError {
    background-color: Transparent;
}
dl.verify {
	padding: 0px;
	position: relative;
	margin-top: 20px;
	clear: right;
	width: 725px;
	overflow: hidden;
}
dl.verify dt {
	margin: 0px;
	padding: 0px;
	font-weight: bold;
	width: 16em;
	text-align: right;
}
dl.verify dd {
	margin: 0px;
	padding: 0px 0px 8px;
	margin-left: 17em;
	margin-top: -1.2em;
	min-height: 1.2em;
}
* html dl.verify dd {
	height: 1.2em;
}
.clearright {
	clear: right;
}
.validationSummary {
	border: 1px solid #F00;
	margin: 20px 0px;
	padding: 15px 10px 10px 50px;
	background: #FF9 url(../images/cancel_32.gif)/*tpa=http://www.integrysgroup.com/includes/images/cancel_32.gif*/ no-repeat 10px 10px;
	min-height: 32px;
	font-weight: bold;
	color: #000 !important;
}
* html .validationSummary {
	height: 32px;
}
.validationSummary ul {
	margin: 5px 0px 0px 20px;
	padding: 0px;
}
.validationSummary ul li {
	margin: 0px;
	padding: 0px;
	font-weight: normal;
}
.confirmNote {
	background: #e5ffcc url(../images/confirm_24.gif)/*tpa=http://www.integrysgroup.com/includes/images/confirm_24.gif*/ no-repeat 10px 7px;
	padding: 10px 10px 10px 40px;
	font-weight: bold;
	border: 1px solid #360;
	clear: right;
	display: block;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}


/* ---------- FOOTER STYLES ---------- */
#siteFooter {
	text-align: left;
	width: 975px;
	margin-left: auto;
	margin-right: auto;
}
#siteFooter p {
	margin: 0px;
	padding: 10px 15px;
	font-size: 85%;
}
.socialMediaHeading {
    float: right;
    padding: 10px 0px 0px 0px;
    margin: 0px 167px 0px 0px;
    font-size: 85%;
}
#socialMediaLinks {
    float: right;
    list-style: none;
    margin: -17px 0px 0px;
    padding: 0px 15px 0px 0px;
    clear: right;
    font-size: 85%;
}
#socialMediaLinks li {
    margin: 0px 0px 5px 5px;
    min-height: 16px;
    padding: 0px 0px 0px 20px;
}

/* ---------- PRINT-SPECIFIC STYLES ---------- */

@media print {
	body {
	    background-color: Transparent;
	    background-image: none;
    }    
    #logoPrint {
        display: block;
    }
    #siteLogo, #siteTagLine, #siteTopNav, #siteTopLinks, #frmSearch, #sectionNav, .breadcrumbNav, .stepNumberIndicator, .socialMediaHeading, #socialMediaLinks {
        display: none;
    }
    #siteHeader {
	    width: auto;
	    margin-top: 0px;
	    border-width: 0px;
	    -webkit-border-radius: 0px;
	    -moz-border-radius: 0px;
	    border-radius: 0px;
	    padding-bottom: 0px;
	    -moz-box-shadow: 0px 0px 0px #ffffff; /* FF3.5+ */
	    -webkit-box-shadow: 0px 0px 0px #ffffff; /* Saf3.0+, Chrome */
	    box-shadow: 0px 0px 0px #ffffff; /* Opera 10.5, IE 9 */
    }
    #siteContent {
	    width: auto;
	    min-height: 0px;
	    border-width: 0px;
	    -webkit-border-radius: 0px;
	    -moz-border-radius: 0px;
	    border-radius: 0px;
	    -moz-box-shadow: 0px 0px 0px #ffffff; /* FF3.5+ */
	    -webkit-box-shadow: 0px 0px 0px #ffffff; /* Saf3.0+, Chrome */
	    box-shadow: 0px 0px 0px #ffffff; /* Opera 10.5, IE 9 */
    }
    * html #siteContent {
        height: auto;
    }
    #bodyContent {
	    padding: 0px;
    }
    #mainContent {
        margin-top: 0px;
        margin-left: 0px;
    }
    #mainContent .pageHeading {
        width: auto;
        height: auto;
        color: #000;
        position: relative;
        background-image: none;
        margin-top: 20px;
    }
    #mainContent .pageHeading span {
        position: relative;
        width: auto;
        top: 0px;
        left: 0px;
    }
    #siteFooter {
	    width: auto;
    }
    #siteFooter p {
	    padding: 10px 0px;
    }
}