/**
 * Stryker.com Layout Styles
 *
 * The following styles apply to the layout of the entire stryker.com
 * website.  Please modify them with care since many things will be
 * altered as a result.
 *
 * The styles below are organized in the following manner:
 *  - overrides of default HTML element styles
 *  - framework styles (the basic structural layout elements of the site)
 *  - the header area (i.e. the logo, search feature, text-size tool, etc.)
 *  - the content area (i.e. middle of the page)
 *  - the footer area
 *
 * Common Colors:
 *  - Blue:   #0099CC
 *  - Blue (Dark): #1480AE
 *  - Green:  #669966
 *  - Grey #1:   #645A50    //corporate grey
 *  - Grey #2:   #B2B2B2
 *  - Grey #3:   #999999
 *  - Grey #4:   #E5E5E5
 *  - Grey #5:   #F2F2F2
 *  - Orange: #E46F20
 *  - Pink: #CD5086
 *	- Teal:   #19A0DA
 */

/**********************************************************
 *                  HTML-Element Styles
 **********************************************************/
html, body {
	width: 100%;
}

body
{
	background: #fff;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	/*
	font-size: 70%;
	padding: 0px;
	padding-top: 15px; 
	*/
}

a, a:link
{
	color: #19A0DA;
}

img, a img, a:link img {
	border: none;
}

h1, h2 {
	color: #E46F20;
	font-size: 150%;
	margin: 0px;
}

h1 { font-weight: bold; }
h2 { font-weight: normal; }

h4 {
	color: #E46F20;
	font-size:120%;
	font-weight:bold;
}

body.corporate h1,
body.corporate h2 {
	color: #645A50;
}

body.patient h1,
body.patient h2 {
	color: #669966;
}

/**********************************************************
 *                    Framework Styles
 **********************************************************/




/**
 * TOOLS AREA
 *
 * Encompasses the search feature, global and audience selectors,
 * the text size tool, and the quick links.
 */
#tools-area
{
	float: right;
	font-size: 90%;
	margin-top: 3px;
	width: 520px;
}

#locale-and-text-size-area {
	border-top: 1px solid #1480AE;
	color: #999999;
	margin-top: 2px;
}

#locale-and-text-size-area a,
#locale-and-text-size-area a:link,
#locale-and-text-size-area a:visited {
	color: #000000;
	text-decoration: none;
}

#locale-and-text-size-area a:hover,
#locale-and-text-size-area a:visited:hover {
	color: #000000;
	text-decoration: underline;
}

#quick-links-and-search-area, #search-area {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

#quick-links-and-search-area {
	clear: both;
	height: 23px;
	position: relative; /* used to correctly position the quick links */
}

#tools-area #textsize a:link,
#tools-area #textsize a:hover,
#tools-area #textsize a:visited,
#tools-area #textsize a:active {
	color: #E46F20;
	font-weight: bolder;
	text-decoration: none;
}

body.corporate #tools-area #textsize a:link,
body.corporate #tools-area #textsize a:hover,
body.corporate #tools-area #textsize a:visited,
body.corporate #tools-area #textsize a:active {
	color: #645A50;
	font-weight: bolder;
	text-decoration: none;
}

body.patient #tools-area #textsize a:link,
body.patient #tools-area #textsize a:hover,
body.patient #tools-area #textsize a:visited,
body.patient #tools-area #textsize a:active {
	color: #669966;
	font-weight: bolder;
	text-decoration: none;
}

/**
 * Quick Links Navigation
 */
#quick-links-nav
{
	bottom: 2px;
	list-style: none;
	margin: 0px;
	margin-bottom: 0px;
	margin-left: -5px;
	padding: 0px;
	padding-bottom: 0px;
	position: absolute;
}

#quick-links-nav li
{
	display: block;
	float: left;
	padding: 2px 6px 0px 6px;
}

#quick-links-nav li
{
	background: url("../media/001028.gif")/*tpa=http://www.stryker.com/files/media/001028.gif*/ no-repeat left;
}

body.corporate #quick-links-nav li
{
	background: url("../media/004169.gif")/*tpa=http://www.stryker.com/files/media/004169.gif*/ no-repeat left;
}

body.patient #quick-links-nav li
{
	background: url("../media/003717.gif")/*tpa=http://www.stryker.com/files/media/003717.gif*/ no-repeat left;
}

body.patient #quick-links-nav li:first-child, body.corporate #quick-links-nav li:first-child, #quick-links-nav li:first-child {
	background: none;
}

body.patient #quick-links-nav li.first, body.corporate #quick-links-nav li.first, #quick-links-nav li.first {
	background: none;
}

#quick-links-nav a,
#quick-links-nav a:link,
#quick-links-nav a:visited {
	color: #000000;
	text-decoration: none;
}

#quick-links-nav a:hover,
#quick-links-nav a:visited:hover {
	text-decoration: underline;
}


/**
 * SEARCH AREA
 */
#search-area {
	float: right;
}

#search-area input#search-terms
{
	font-size: 110%;
	padding-left: 10px;
	color: #999999;
	width: 125px;
}

#search-area input#search-terms {
	background: #fff url("../media/000939.gif")/*tpa=http://www.stryker.com/files/media/000939.gif*/ no-repeat 3px center;
}

body.corporate #search-area input#search-terms {
	background: #fff url("../media/004143.gif")/*tpa=http://www.stryker.com/files/media/004143.gif*/ no-repeat 3px center;
}

body.patient #search-area input#search-terms {
	background: #fff url("../media/003679.gif")/*tpa=http://www.stryker.com/files/media/003679.gif*/ no-repeat 3px center;
}

#submit-button-image-global,
body.corporate #submit-button-image-corporate,
body.patient #submit-button-image-patient {
	display: inline;
	vertical-align: bottom;
	padding-bottom: 2px;
	margin-bottom: 0px;
}

/**
 * Due to certain technical restrictions, we have 3 different
 * search submit button images.  The image that needs to be
 * shown depends on the user's chosen audience.  Here, we are
 * hiding the irrelevant images depending on the audience
 * selected by the user.
 */
#submit-button-image-corporate { display: none; }
#submit-button-image-patient { display: none; }
body.corporate #submit-button-image-global { display: none; }
body.corporate #submit-button-image-patient { display: none; }
body.patient #submit-button-image-corporate { display: none; }
body.patient #submit-button-image-global { display: none; }

/**
 * Selector Tools
 */
ul.selector-menu {
	border: #ff0000 2px groove;
	background: #ffffff;
	color: #000080;
	display: none;
	padding: 2px;
	position: absolute;
}

ul.selector-menu li {
	color: #050505;
	padding: 0px 10px 0px 12px;
}

ul.selector-menu li {
	background: url("../media/000939.gif")/*tpa=http://www.stryker.com/files/media/000939.gif*/ no-repeat left 4px;
}

body.corporate ul.selector-menu li {
	background: url("../media/004143.gif")/*tpa=http://www.stryker.com/files/media/004143.gif*/ no-repeat left 4px;
}

body.patient ul.selector-menu li {
	background: url("../media/003679.gif")/*tpa=http://www.stryker.com/files/media/003679.gif*/ no-repeat left 4px;
}

#global-selector, #audience-selector {
	padding-left: 4px;
	padding-right: 4px;
}

#AudienceMenu div{
	padding-left: 2px;
}

#AudienceMenu div.indented {
	padding-left: 10px;
}

#AudienceMenu div.indented-special {
	padding-left: 10px;
	height: 5px;
}

/**
 * Text-Size Tool
 */
#textsize {
	float: right;
	padding: 0px 0px 5px 5px;
}

#locale-area {
	float: left;
	padding-top: 4px;
}

/**********************************************************
 *                    The Tab Main Menu Area
 **********************************************************/

.center-column {
	padding: 0px 4px;
	margin: 0px auto;
	width: 975px;
}

#tab-menu {
	background-color: #FFF;
	height: 36px;
	position: relative;
}

#tab-menu .left-edge {
	background: url("../media/003764.gif")/*tpa=http://www.stryker.com/files/media/003764.gif*/ no-repeat;
	background-color: #FFF;
	height: 36px;
	left: -9px;
	position: absolute;
	width: 9px;
}

#tab-menu .right-edge {
	background: url("../media/003766.gif")/*tpa=http://www.stryker.com/files/media/003766.gif*/ no-repeat;
	height: 36px;
	position: absolute;
	left: 983px;  /* width of parent + left and right padding of parent */
	width: 9px;
}

/* main tab navigation */
#tabMainMenuContainer
{
	width: 100%;
	clear: both;
	background: #E5E5E5;
	border-bottom: 4px solid #FFF;
}
#tabMainMenuRow
{
	width: 1001px;
	height: 36px;
	background-color: #FFF;
	margin: auto;
}
#tabMainMenuLeftCorner
{
	height: 36px;
	width: 9px;
	background: url("../media/003764.gif")/*tpa=http://www.stryker.com/files/media/003764.gif*/ no-repeat;
	float: left;
}
#tabMainMenuArea
{
	width: 975px;
	height: 36px;
	border-left: 4px solid #FFF;
	border-right: 4px solid #FFF;

	float: left;
}
#tabMainMenuRightCorner
{
	height: 36px;
	width: 9px;
	background: url("../media/003766.gif")/*tpa=http://www.stryker.com/files/media/003766.gif*/ no-repeat;
	float: left;
}
#tabNav
{
	font-size: 16px; /* main tab size is fixed */
	height: 36px;
	background-color: #FFF;
}
#tabNav ul
{
	float: left;
	margin: 0px;
	padding: 0px;
	list-style: none;
	height: 36px;
	background-color: #FFF;
	text-align: center;
}
#tabNav ul li
{
	float: left;
	background: url("../media/003714.gif")/*tpa=http://www.stryker.com/files/media/003714.gif*/ no-repeat top center;
	width: 243px;
	height: 36px;
}
#tabNav ul li.noOption {
	float: left;
	background: url("../media/tab_no_opt_uline.gif")/*tpa=http://www.stryker.com/files/media/tab_no_opt_uline.gif*/ no-repeat top center;
	width: 243px;
	height: 36px;
}
#tabNav ul li.tabMenu, #tabNav ul li.tabMenu a
{
	float: left;
	background: url("../media/003715.gif")/*tpa=http://www.stryker.com/files/media/003715.gif*/ no-repeat top center;
	width: 244px;
	height: 36px;
}
#tabNav ul li.tabMenu a:hover
{
	float: left;
	background: url("../media/005790.gif")/*tpa=http://www.stryker.com/files/media/005790.gif*/ no-repeat top center;
	width: 244px;
	height: 36px;
	color: #06BAF9;
}
#tabNav ul li.tabMenu span, #tabNav ul li.tabMenuOn span, #tabNav ul li a span
{
	display: block;
	padding-top: 7px;
}
#tabNav ul li.tabMenuOn, #tabNav ul li.tabMenuOn a, #tabNav ul li.tabMenuOn a:hover
{
	float: left;
	background: url("../media/003716.gif")/*tpa=http://www.stryker.com/files/media/003716.gif*/ no-repeat top center;
	width: 244px;
	height: 36px;
	color: #06BAF9;
}
#tabNav ul li a
{
	display: block;
	text-decoration: none;
	color: #808080;
	width: 243px;
	height: 36px;
	background: url("../media/003713.gif")/*tpa=http://www.stryker.com/files/media/003713.gif*/ no-repeat top center;
}
#tabNav ul li a:hover
{
	float: left;
	background: url("../media/005789.gif")/*tpa=http://www.stryker.com/files/media/005789.gif*/ no-repeat top center;
	width: 243px;
	height: 36px;
	color: #06BAF9;
}
#tabNav ul li.tabLastMenu, #tabNav ul li.tabLastMenu a /* for the last tab menu OFF class=tabLastMenu */
{
	float: left;
	background: url("../media/003713.gif")/*tpa=http://www.stryker.com/files/media/003713.gif*/ no-repeat top center;
	width: 243px;
	height: 36px;
}
#tabNav ul li.tabLastMenu a:hover /* for the last tab menu ON */
{
	float: left;
	background: url("../media/005789.gif")/*tpa=http://www.stryker.com/files/media/005789.gif*/ no-repeat top center;
	width: 243px;
	height: 36px;
	color: #06BAF9;
}
#tabNav ul li.tabLastMenuOn, #tabNav ul li.tabLastMenuOn a /* for the last tab menu ON class=tabLastMenuOn */
{
	float: left;
	background: url("../media/003714.gif")/*tpa=http://www.stryker.com/files/media/003714.gif*/ no-repeat top center;
	width: 243px;
	height: 36px;
	color: #06BAF9;
}
#tabNav ul li.tabLastMenuOn a:hover /* for the last tab menu ON */
{
	float: left;
	background: url("../media/003714.gif")/*tpa=http://www.stryker.com/files/media/003714.gif*/ no-repeat top center;
	width: 243px;
	height: 36px;
	color: #06BAF9;
}

/**********************************************************
 *                    The Content Area
 **********************************************************/

/**
 * Main layout row styles
 */

#content-area {
	background-color: #FFF;
}

.error {
   color: #FF0000;
}

div.wrapper,
div.wrapper-container {
	border-bottom: 4px solid #FFF;
	background-color: #FFF;
	clear: both;
	margin: 0px;
	padding: 0px;
	width: 100%;
	font-size: 78%;
}

div.layout-row-area {
	border-left: 4px solid #FFF;
	border-right: 4px solid #FFF;
	background-color: #FFF;
	width: 976px;
	margin: 0px auto;
	padding: 0px;
}

div.layout-row-area ul, div.layout-row-area p {
	margin: 0px;
}

/**
 * Breadcrumbs and Title Area
 */

.pagetitle
{
	padding-top: 10px;
	padding-left: 7px;
	font-weight: bold;
	z-index: 10000;
}

#pagetitleline {
	border-top: 1px solid #1480AE;
	border-bottom: 2px solid #E5E5E5;
	margin: 0px;
	padding: 10px 5px 12px 5px;
	height: 20px;
}

#pageinfo {
	position: relative;
	clear: both;
	height: 20px;
	overflow: auto;
	padding: 7px 5px 15px 5px;
	overflow: visible;
	z-index: 100;
}

#pageinfo a:link, #pageinfo a:visited {
	color: #000;
	text-decoration: underline;
}

#pageinfo a:hover, #pageinfo a:active {
	color: #5E5E5E;
	text-decoration: underline;
}

#breadcrumb {
	float: left;
	padding-left: 0px;
	list-style: none;
}

#breadcrumb li a {
	font-weight: normal;
	padding-left: 8px;
/*	font-size: 80%  */
}

#breadcrumb li a {
	background: url("../media/000939.gif")/*tpa=http://www.stryker.com/files/media/000939.gif*/ no-repeat left;
}

#breadcrumb .BreadcrumbPlain {
	font-size: 100%;
}

body.corporate #breadcrumb li a {
	background: url("../media/004143.gif")/*tpa=http://www.stryker.com/files/media/004143.gif*/ no-repeat left;
}

body.patient #breadcrumb li a {
	background: url("../media/003679.gif")/*tpa=http://www.stryker.com/files/media/003679.gif*/ no-repeat left;
}

#recently {
	background: url("../media/000939.gif")/*tpa=http://www.stryker.com/files/media/000939.gif*/ no-repeat 3px center;
	float: right;
	padding-left: 17px;
}

body.corporate #recently {
	background: url("../media/004143.gif")/*tpa=http://www.stryker.com/files/media/004143.gif*/ no-repeat 3px center;
}

body.patient #recently {
	background: url("../media/003679.gif")/*tpa=http://www.stryker.com/files/media/003679.gif*/ no-repeat 3px center;
}

 

#recentlyViewed {
	background-color: white;
	border: 1px solid #B2B2B2;
	right: 0;
	padding: 4px 6px;
	position: absolute;
	top: 28px;
	width: 300px;
	z-index: 1000;
}

/**
 * Sub Nav
 */
#top-nav {
	border-bottom: 2px solid #e5e5e5;
	color: #19A0DA;
	font-size: 133%;
	font-weight: bold;
	height: 2em;
	line-height: 138%;
	padding-top: .5em;
}

#top-nav ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#top-nav a { text-decoration: none; }

#top-nav li,
#top-nav .company-links a {
	border-left: 2px solid #E46F20;
	cursor: pointer;
	display: block;
	float: left;
	padding: 0px 1.2em;
	position: relative;
	text-decoration: none;
}

#top-nav li:first-child,
#top-nav li.first-child,	 /* needed for IE6-compatibility */s
#top-nav .company-links a:first-child,
#top-nav .company-links a.first-child {  /* needed for IE6-compatibility */
	border-left: 0px;
	padding-left: 4px;
}

#top-nav .company-links {
	float: right;
	font-size: 90%;
}

#top-nav .company-links a {
	color: #645A50;
}

#top-nav .company-links a:last-child,
#top-nav .company-links a.last-child {  /* needed for IE6-compatibility */
	padding-right: 8px;
}

/* Sub-navs */
#top-nav ul ul {
	background-color: white;
	border: solid 1px #E46F20;
	border-top: none;
	display: none;
	font-size: 80%;
	padding: 4px 8px;
	position: absolute;
	width: 18em;
	
	/* Use different opacity techniques for IE, Safari, and Firefox */
	opacity: .90;    /* opacity attribute for Safari 1.2 and up */
	-moz-opacity: .90;  /* opacity attribute for Mozilla */
	filter: alpha(opacity=90);  /* opacity attribute for Internet Explorer 5.5 and up */
}

#top-nav ul ul li,
#top-nav ul ul li:first-child {
	background-image: url("../media/000939.gif")/*tpa=http://www.stryker.com/files/media/000939.gif*/;
	background-position: center left;
	background-repeat: no-repeat;
	border: none;
	float: none;
	line-height: 110%;
	padding: 0px;
	padding-left: 14px;
}

#top-nav ul ul li a {
	border-top: 1px solid #e5e5e5;
	display: block;
	padding: 4px 0px;
	text-decoration: none;
}

#top-nav ul ul li:first-child a,
#top-nav ul ul li.first-child a {
	border-top: none;
}

#top-nav ul ul li a:hover {
	color: black;
}

#top-nav ul li:hover ul {
	display: block;
}




#main-content-area {
	clear: both;
	padding: 0px;
}

#main-content-area a.image-link {
	padding-left: 15px;
	background-image: url("../media/000939.gif")/*tpa=http://www.stryker.com/files/media/000939.gif*/;
	background-repeat: no-repeat;
	background-position: 5px 50%;
	color: #0099CC;
	text-decoration: underline;
	font-weight: bold;
}

#main-content-area #main-content-area #main-content-area #main-content-area {
	color: #999999;
	font-size: 90%;
}

#main-content-area a.image-link:hover {
	color: #06BAF9;
}

body.corporate #main-content-area a.image-link {
	padding-left: 15px;
	background-image: url("../media/004143.gif")/*tpa=http://www.stryker.com/files/media/004143.gif*/;
	background-repeat: no-repeat;
	background-position: 5px 50%;
}

body.patient #main-content-area a.image-link {
	padding-left: 15px;
	background-image: url("../media/003679.gif")/*tpa=http://www.stryker.com/files/media/003679.gif*/;
	background-repeat: no-repeat;
	background-position: 5px 50%;
}

#main-content-area p {
	margin: 10px 0px;
}

#side-sub-nav {
	float: left;
	width: 240px;
}

#side-sub-nav ul {
	list-style: none;
	padding: 0px;
}

#side-sub-nav ul li {
	margin: 0px;
	padding: 0px;
	display: block;
	background-image: url("../media/003752.gif")/*tpa=http://www.stryker.com/files/media/003752.gif*/;
	background-repeat: no-repeat;
	background-position: bottom center;
}

#side-sub-nav ul li a {
	margin: 0px;
	padding-left: 23px;
	display: block;
	font-weight: bold;
	line-height: 23px;
	color: #0099CC;
	text-decoration: none;
}

#side-sub-nav ul li a {
	background-image: url("../media/000939.gif")/*tpa=http://www.stryker.com/files/media/000939.gif*/;
	background-repeat: no-repeat;
	background-position: 5px 50%;
}

body.corporate #side-sub-nav ul li a {
	background-image: url("../media/004143.gif")/*tpa=http://www.stryker.com/files/media/004143.gif*/;
	background-repeat: no-repeat;
	background-position: 5px 50%;
}

body.patient #side-sub-nav ul li a {
	background-image: url("../media/003679.gif")/*tpa=http://www.stryker.com/files/media/003679.gif*/;
	background-repeat: no-repeat;
	background-position: 5px 50%;
}

#side-sub-nav ul li:hover,   #side-sub-nav ul li.hover,
#side-sub-nav ul li:hover a, #side-sub-nav ul li.hover a,
#side-sub-nav ul li a:hover, #side-sub-nav ul li a.hover {
	background-color: #E46F20;
	background-image: url("../media/000938.gif")/*tpa=http://www.stryker.com/files/media/000938.gif*/;
	background-repeat: no-repeat;
	background-position: 5px 50%;
	color: #FFF;
	display: block;
	text-decoration: none;
}

body.corporate #side-sub-nav ul li:hover,   body.corporate #side-sub-nav ul li.hover,
body.corporate #side-sub-nav ul li:hover a, body.corporate #side-sub-nav ul li.hover a,
body.corporate #side-sub-nav ul li a:hover, body.corporate #side-sub-nav ul li a.hover {
	background-color: #645A50;
	background-image: url("../media/004142.gif")/*tpa=http://www.stryker.com/files/media/004142.gif*/;
	background-repeat: no-repeat;
	background-position: 5px 50%;
	color: #FFF;
	display: block;
	text-decoration: none;
}

body.patient #side-sub-nav ul li:hover,   body.patient #side-sub-nav ul li.hover,
body.patient #side-sub-nav ul li:hover a, body.patient #side-sub-nav ul li.hover a,
body.patient #side-sub-nav ul li a:hover, body.patient #side-sub-nav ul li a.hover {
	background-color: #669966;
	background-image: url("../media/005767.gif")/*tpa=http://www.stryker.com/files/media/005767.gif*/;
	background-repeat: no-repeat;
	background-position: 5px 50%;
	color: #FFF;
	display: block;
	text-decoration: none;
}

#side-sub-nav .menulist_desc {
	color: #989898;
	padding: 3px 0px 3px 23px;
}

#side-sub-nav .menulist_desc a {
	color: #0099CC;
	font-weight: bold;
	text-decoration: none;
}

#side-sub-nav .menulist_desc a:hover {
	color: #0099CC;
	text-decoration: underline;
}

/**
 * Editable Content Area
 */

#editable-content-beside-subnav {
	float: left;
	height:inherit;
}

#lower-content-1 {
	clear: both;
	overflow: auto;
	padding: 0px;
}

#column1 {
	float: left;
}

#column2 {
	float: right;
}

div.shaded-background, div.shaded-border {
	padding: 7px;
}

div.shaded-background {
	background-color: #F2F2F2;
}

div.shaded-border {
	border: 5px solid #F2F2F2;
}

.spacer {
	clear: both;
	height: 1px;
	line-height: 1px;
	background-color: #fff;
	border: 0px solid #fff;
	padding: 0px;
	margin: 0px;
}

/**********************************************************
 *                    The Footer Area
 **********************************************************/

 /*
#bottom-shading-area {
	background-color: #F2F2F2;
}

#footer {
	width: 100%;
	text-align: center;
	font-size: 90%;
	color: #B2B2B2;
	margin-bottom: 20px;
}

#footer a:link, #footer a:visited {
	text-decoration: none;
	color: #B2B2B2;
}

#footer a:hover, #footer a:active {
	text-decoration: underline;
	color: #B2B2B2;
}
*/

/**********************************************************
 *                  Miscellaneous Styles
 **********************************************************/
.subTitle {
	color: #E46F20;
}
h2.subTitle {
	color: #E46F20;
	font-size: 137%;
	color: #E46F20;
	padding-bottom: 10px;
}

body.corporate .subTitle {
	color: #645A50;
}

body.patient .subTitle {
	color: #669966;
}

.superscript {
	font-size: 80%;
	line-height: normal;
	vertical-align: baseline;
	position: relative;
	bottom: 0.5em;
}

/* general link List with orange arrow, bold, black color*/

ul.list
{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.list li.listLink {
	background: url("../media/000939.gif")/*tpa=http://www.stryker.com/files/media/000939.gif*/ no-repeat left 4px;
	padding: 0px 10px 0px 12px;
}

div.listLink {
	background: url("../media/000939.gif")/*tpa=http://www.stryker.com/files/media/000939.gif*/ no-repeat left 4px;
	padding: 0px 10px 0px 12px;
}
.listLink {
   padding: 0px 10px 0px 12px;
   background: url("../media/000939.gif")/*tpa=http://www.stryker.com/files/media/000939.gif*/ no-repeat left 4px;
}
.listLink a:visited {
  text-decoration: underline;
}
.listLink a:hover
{
	color: #06BAF9;
}
a.listLink:hover
{
	padding: 0px 0px 0px 12px;
	background: url("../media/000939.gif")/*tpa=http://www.stryker.com/files/media/000939.gif*/ no-repeat left 4px;
	color: #06BAF9;
}
.listLinkBold
{
	padding: 0px 10px 0px 12px;
	background: url("../media/000939.gif")/*tpa=http://www.stryker.com/files/media/000939.gif*/ no-repeat left 4px;
	font-weight: bold;
}
.listLinkBold a:hover
{
	color: #06BAF9;
	font-weight: bold;
}
a.listLinkBold:hover
{
	padding: 0px 0px 0px 12px;
	background: url("../media/000939.gif")/*tpa=http://www.stryker.com/files/media/000939.gif*/ no-repeat left 4px;
	color: #06BAF9;
}
/* link text color is black with orange arrow */
.listLinkBlack
{
	color: #06BAF9;
	padding: 0px 10px 0px 12px;
	background: url("../media/000939.gif")/*tpa=http://www.stryker.com/files/media/000939.gif*/ no-repeat left 4px;
}
.listLinkBlack a,
.listLinkBlack a:visited
{
	text-decoration: underline;
}
.listLinkBlack a:hover,
.listLinkBlack a:visited:hover
{
	color: #06BAF9;
	text-decoration: underline;
}
a.listLinkBlack:hover,
a.listLinkBlack:visited:hover
{
	padding: 0px 0px 0px 12px;
	background: url("../media/000939.gif")/*tpa=http://www.stryker.com/files/media/000939.gif*/ no-repeat left 4px;
	color: #5E5E5E;
	text-decoration: underline;
}

/*
 * Event Tabs
 */
.filterEvents {
 	width: 165px;
	background-color: #f4faff;
	background-image: url(../../en-us/index.htm)/*tpa=http://www.stryker.com/files/css/images/listingBkgd.gif*/ repeat-x;
	border: 1px solid #e0e7ec;
 }

.eventTabBox {
	width: 500px;
	height: 28px;
}

.eventDetails {
	padding-bottom: 10px;
	padding-left: 10px;
	margin-bottom: 20px;
/*	border-bottom: 2px solid #F2F2F2; */
}

.event-subTitle {
	font-size: 16px;
	color: #e46f20;
	font-weight: 100;
}

.eventDate {
	color: #e46f20;
	padding-bottom: 20px;
}

.eventTeaser {
	font-size: 100%;
}

.listingHeadings th {
	font-size: 14px;
	font-weight: 100;
	color: #333;
	text-align: left;
	background: url("../media/listingBkgd.gif")/*tpa=http://www.stryker.com/files/media/listingBkgd.gif*/ repeat-x;
	height: 21px;
	padding: 2px 6px 0 6px;
	border-right: 1px solid #ccc;
}

.listingHeadings th.on {
	background: url("../media/filterBkgd.gif")/*tpa=http://www.stryker.com/files/media/filterBkgd.gif*/ repeat-x;
	font-size: 14px;
	font-weight: 100;
	color: #fff;
	text-align: left;
}

.listingHeadings th.last {
	font-size: 14px;
	font-weight: 100;
	color: #333;
	text-align: left;
}

.listingHeadings a {
	font-size: 14px;
	color: #333;
	font-weight: bold;
	text-decoration: none;
}

.odd {
	padding: 2px 0 2px 2px;
	border-right: 1px solid #ccc;
}

.even {
	background-color: #f2f9ff;
	padding: 2px 0 2px 2px;
	border-right: 1px solid #ccc;
}

.eventHeadings th {
	font-size: 13px;
	font-weight: bold;
	text-align: left;
	color: #444;
	border-bottom: 2px solid #e46f20;
	padding-bottom: 3px;
}	

.eventListing {
	font-size: 12px;
	line-height: 16px;
	color: #444;
}

.eventDescription {
	font-size: 12px;
	line-height: 16px;
	color: #444;
	border-top: 1px solid #ccc;
	padding: 6px;
}

.listLinkBold {
	margin-left: 20px;
}

#moreEvents {
	background: url("../media/moreEventsbox.gif")/*tpa=http://www.stryker.com/files/media/moreEventsbox.gif*/ no-repeat top right;
	width: 178px;
	height: 27px;
	display: block;
	padding: 5px 0 0 0;
	text-decoration: none;
	color: #06baf9;
	font-weight: bold;
	float: right;
	text-align: center;
}

#moreEvents:focus {
		outline: 0;	
	}

#filterEvents {
	width: 145px;
	background-color: #f4faff;
	border: 1px solid #e0e7ec;
	float: right;
	clear: both;
}

.titleBlue {
	font-size: 110%;
	font-weight: bold;
}

.titleBlue a {
	color: #0099CC;
	text-decoration: none;
}

.titleBlue a:hover {
	color: #06BAF9;
	text-decoration: none;
}

#eventsNearMeModule, #allEventsModule
{
	/*padding: 0px 0px 0px 5px;*/
	background-color: #FFF;
	width: 500px;
}

#eventsNearMeModule td.eventsNearTab
{
	cursor:pointer;
	width: 176px;
	height: 28px;
	background: url("../media/004149.gif")/*tpa=http://www.stryker.com/files/media/004149.gif*/ no-repeat;
	color: #19A0DA;
	text-decoration: underline;
	text-align: center;
	font-weight: bold;
	padding-top: 6px;
}
#eventsNearMeModule td.allEventsTab
{
	cursor:pointer;
	width: 176px;
	height: 28px;
	background: url('../media/004148.gif')/*tpa=http://www.stryker.com/files/media/004148.gif*/ no-repeat;
	text-align: center;
	font-weight: bold;
	padding-top: 6px;
}
#eventsNearMeModule td.eventsNearTab span, #eventsNearMeModule td.allEventsTab span
{
	color: #19A0DA;
	text-decoration: underline;
}


.eventTabContent
{
	width: 320px;
	height: auto;
	background-color: #FFF;
	border-right: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
	border-left: 1px solid #f2f2f2;
	padding-bottom: 5px;
	margin-bottom: 5px;
	margin-top:0px;
	margin-left: 0px;
	padding-top:0px;
}
.eventTabContentBox
{
	padding: 5px 5px 5px 5px;
}

#allEventsModule
{
	/*display:none;*/
}
#allEventsModule td.eventsNearTab
{
	cursor:pointer;
	width: 176px;
	height: 28px;
	background: url("../media/004148.gif")/*tpa=http://www.stryker.com/files/media/004148.gif*/ no-repeat;
	color: #19A0DA;
	text-decoration: underline;
	text-align: center;
	font-weight: bold;
	padding-top: 6px;
}
#allEventsModule td.allEventsTab
{
	cursor:pointer;
	width: 176px;
	height: 28px;
	background: url('../media/004149.gif')/*tpa=http://www.stryker.com/files/media/004149.gif*/ no-repeat;
	text-align: center;
	font-weight: bold;
	padding-top: 6px;
}
#allEventsModule td.eventsNearTab span, #allEventsModule td.allEventsTab span
{
	color: #19A0DA;
	text-decoration: underline;
}

.superScript {   
  font-size:70%;
  position:relative;
  bottom: 0.5em;
}

.stetcher {
	clear: both;
	display: block;
	height: 1px;
}

/* START surgeon page settings */
#surgeonOverviewText1, #surgeonOverviewImage1,
#surgeonOverviewText2, #surgeonOverviewImage2,
#surgeonOverviewText3, #surgeonOverviewImage3
{
	display: none;
}
.sergeonImagePad {
	padding: 7px 0px 0px 5px; /* it is for overview mouseover image */
}
.surgeonCallout
{
	width: 122px;
	background-color: #FFF;
	color: #19A0DA;
	font-weight: bold;
	text-align: center;
}
.surgeonCallout a
{
	color: #19A0DA;
	text-decoration: none;
}
.surgeonCallout a:hover
{
	color: #06BAF9;
	text-decoration: none;
}



/* surgeon search element */

/* quick search */
#surgeonQuickSearch
{
	/*float: left;*/
	padding: 0px;
	margin: 0px;
	/*height: 25px;*/
}
#quickSearch .quickSearchLabel
{
	float: left;
	vertical-align: middle;
	padding-top:8px;
}
#quickSearch .quickSearchBox
{
	float: left;
	padding-left: 0px;
	margin-top: 5px;
}
#quickSearch .quickSearchBox input
{
	padding-left: 3px;
	width: 150px;
}
#quickSearch .quickSearchBtn
{
	float: left;
	padding-left: 3px;
	margin-top: 7px;
}

/* Product Division search */
#surgeonProdDivSearch
{
	/*width: 320px;
	float: left;*/
	height: auto;
}
#prodDivSearch .prodDivSearchBox
{
	float: left;
	padding-right: 3px;
	margin-top: 0px;
}

#prodDivSearch .prodDivSearchBox input, #prodDivSearch .prodDivSearchBox select
{
	padding-left: 3px;
	width: 240px;
}
#prodDivSearch .prodDivSearchBtn
{
	position: relative;
	padding-left: 10px;
	top: 2px;
}

/* surgeon Event Calendar Search */
#eventsNearMeModule #surgeonEventCalSearch
{
	float: left;
	/*height: 30px;*/
}
#eventCalSearch .eventCalSearchLabel
{
	float: left;
	vertical-align: middle;
	padding-top:8px;
	font-size: 110%;/*12px;*/
}
#eventCalSearch .eventCalSearchBox
{
	float: left;
	padding-left: 10px;
	margin-top: 0px;
}
#eventCalSearch .eventCalSearchBox input
{
	padding-left: 5px;
	width: 120px;
}
#eventCalSearch .eventCalSearchBtn input
{
	float: left;
	padding-left:3px;
	margin-top: 2px;
}
/* END surgeon page settings */

/* Template 000598 styles */
#referenceTrademarkModule {
   font-size: 80%;
}
#referenceModule {
   padding-top: 10px;
   padding-right: 8px;
   padding-left: 10px;
   padding-bottom: 10px;
}
#trademarkModule {
   padding-top: 10px;
   padding-right: 8px;
   padding-left: 10px;
   padding-bottom: 10px;
}

.relatedText
{
	height: auto;
	width: 210px;
	float: left;
	padding-right: 5px;
}
.relatedImage
{
	float: right;
	width: 242px;
	height: auto;
	margin: auto;
	overflow: hidden;
	color: #989898;
}

.blueText {
	color: #0099CC;
}

/* END Template 000598 styles */



/**
 * The PC-1Patient Template (myhsp/patients/)
 *
 * Used for the "Real Stories" on the
 * Patient landing page
 */

body#pc-1patient #features-and-highlights {
	margin-bottom: 4px;
}

body#pc-1patient .contentBox,
.real-stories {
	background-color: #FFF;
	border: solid 4px #F2F2F2;
	padding: 10px 8px;
}

body#pc-1patient .contentBox {
	width: 348px;
}

body#pc-1patient .contentBox img {
	float: right;
	margin-left: 10px;
}

body#pc-1patient #patient-pain-wrapper {
	background-color: #F2F2F2;
	float: left;
	width: 596px;
}

body#pc-1patient #patient-pain-wrapper h3 {
	font-weight: bold;
}

body#pc-1patient #patient-pain-wrapper .contentBox {
	background-color: #F2F2F2;
	float: left;
}

body#pc-1patient #patient-pain-wrapper #patients-and-caregivers {
	width: 240px;
}

body#pc-1patient #where-is-your-pain {
	position: relative;
	padding-left: 0px;
	padding-right: 0px;
	margin: 0px;
	width: 305px;
}

body#pc-1patient #where-is-your-pain h3 {
	color: #E46F20;
    font-size: 150%;
	margin-bottom: 15px;
	text-align: center;
}

body#pc-1patient #patient-features-area {
	margin-bottom: 4px;
}

body#pc-1patient #patient-features-area #features-and-highlights {
	float: right;
	margin-bottom: 4px;
}

body#pc-1patient #patient-features-area #pain-management {
	clear: right;
	float: right;
}

body#pc-1patient .body-pain-menu {
	background-color: #645A50;
	border: 8px solid rgb(88,170,225);
	display: none;
	padding: 10px 10px 8px 10px;
	position: absolute;
	width: 200px;

	filter: alpha(opacity=90);  /* Opacity in IE */
	-moz-opacity: .90;  /* Opacity in Firefox */
	opacity: .90;	/* Opacity in Safari + other CSS3-compliant browsers */
}

body#pc-1patient #patient-shoulder-pain {
	left: 40px;
	top: 40px;
}

body#pc-1patient #patient-hip-pain {
	left: 40px;
	top: 120px;
}

body#pc-1patient #patient-knee-pain {
	left: 100px;
	top: 220px;
}

body#pc-1patient #patient-foot-pain {
	left: 40px;
	top: 250px;
}

body#pc-1patient .body-pain-menu ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

body#pc-1patient .body-pain-menu ul,
body#pc-1patient .body-pain-menu ul a,
body#pc-1patient .body-pain-menu ul a:link,
body#pc-1patient .body-pain-menu ul a:visited {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

body#pc-1patient .body-pain-menu ul a:hover,
body#pc-1patient .body-pain-menu ul a:visited:hover {
	color: #B2B2B2;
}

body#pc-1patient .body-pain-menu ul li {
	border-bottom: 1px solid #67B1E2;
	margin: 2px 0px;
}

body#pc-1patient .body-pain-menu ul ul {

}

body#pc-1patient .body-pain-menu ul ul,
body#pc-1patient .body-pain-menu ul ul a,
body#pc-1patient .body-pain-menu ul ul a:link,
body#pc-1patient .body-pain-menu ul ul a:visited {
	font-weight: normal;
}

body#pc-1patient .body-pain-menu ul ul li {
	border-bottom: none;
	background: url("../media/003679.gif")/*tpa=http://www.stryker.com/files/media/003679.gif*/ no-repeat 5px 1px;
    padding: 2px 0px 0px 15px;
}


#real-stories-area .real-stories:first-child,
#real-stories-area div.first {
	margin-left: 0px;
}

.real-stories {
	float: left;
	height: 90%;
	margin-left: 4px;
	width: 298px;
}

.real-stories h3,
.real-stories h3 a,
.real-stories h3 a:link,
body#pc-1patient h3,
body#pc-1patient h3 a,
body#pc-1patient h3 a:link {
	color: #518274;
	font-size: 115%;
	font-weight: normal;
	margin: 0px;
	padding-bottom: 4px;
	text-decoration: none;
}

.real-stories h3 a:hover,
.real-stories h3 a:hover:visited,
body#pc-1patient h3 a:hover,
body#pc-1patient h3 a:hover:visited {
	color: #80A49A;
	text-decoration: none;
}

.real-stories img {
	float: left;
	padding-bottom: 10px;
	width: 105px;
}

.real-stories .story {
	float: left;
	padding-left: 10px;
	width: 180px;
}

.real-stories .title {
	color: #666666;
	font-weight: bold;
}

a.read-more,
a.read-more:link {
	background: url("../media/000939.gif")/*tpa=http://www.stryker.com/files/media/000939.gif*/ transparent no-repeat;
	background-position: left 4px;
	display: block;
	font-weight: bold;
	padding-left: 12px;
	text-decoration: underline;
}

body.corporate a.read-more,
body.corporate a.read-more:link {
	background: url("../media/004143.gif")/*tpa=http://www.stryker.com/files/media/004143.gif*/ transparent no-repeat;
}

body.patient a.read-more,
body.patient a.read-more:link {
	background: url("../media/003679.gif")/*tpa=http://www.stryker.com/files/media/003679.gif*/ transparent no-repeat;
}

/** End of PC-1Patient template styles */


/* Template 000471 styles */

body#template_000471 div#main-content-area{
	background-color: #f2f2f2;
}

body#template_000471 div.product-categories .contentBox{
	background-color: #fff;
}

body#template_000471 #reference-and-trademark-container{
	background-color: #fff;
}

.product-categories {
	width: 720px;
    float: right;
	height: 100%;
}

.product-categories-row1 {
	height: 65px;
	vertical-align: top;
}

.product-categories-row2 {
	height: 130px;
	vertical-align: top;
}

.product-categories-row3 {
	height: 20px;
}

body#template_000471 .contentBox {
	border: 5px solid #F2F2F2;
	padding: 5px;
	margin: 5px;
}

body#template_000471 .contentBoxNoBorder {
	padding: 5px;
	margin: 5px;
}

#empty-box-left {
   float: left;
   width: 235px;
   background-color: #f2f2f2;
   height: 100%;
}

#reference-and-trademark-container {
   border-top: 4px solid #f2f2f2;
   width: 695px;
   height: 100%;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 80%;
   float: right;
   background-color: #fff;
}

.product-category-description {
   	float: left;
   	width: 235px;
   	background-color: #f2f2f2;
   	height: 100%;
	
}

#reference, #trademark {
   width: 95%;
   padding-top: 10px;
   padding-right: 8px;
   padding-left: 10px;
   padding-bottom: 10px;
}

body#template_000471 .subTitle a {
	color: #E46F20;
	font-weight: bold;
	font-size: 150%;
	margin: 0px;
	padding-bottom: 7px;
	text-decoration: none;
}

body#template_000471 h2.subTitle a {
	font-size: 100%;
}
/* END Template 000471 styles */

/* Product Family Primary Template styles */

/* Sitemap */
.SiteMapPlain a,
.SiteMapPlain a:link,
.SiteMapPlain a:visited {
	color: black;
}

.SiteMapPlain a:hover,
.SiteMapPlain a:visited:hover {
	color: #999999;
}


/* Education - main page (E1-EduTrain) */
img#e_1_EducationPromo_1_01_01 {
	height: 164px;
	width: 282px;
}

body#E1-EduTrain h3.subTitle, body#E1-EduTrain h2.subTitle  {
	margin:0;
	font-weight: normal;
	font-size: 100%;
	padding: 0;
}

/* Education - Products and Procedures Training  (E2-ProdProcTraining) */
#E2-ProdProcTraining .filterCategory {
	float: left;
	margin-top: 3px;
	width: 225px;
}

#E2-ProdProcTraining .filterCategory h3 {
	color: #19A0DA;
	font-size: 100%;
	margin-bottom: 3px;
	padding-bottom: 0px;
}

#E2-ProdProcTraining .contentBox {
	background-color: white;
	border: 5px solid #F2F2F2;
	margin: 5px 0px;
	padding: 5px;
}

#E2-ProdProcTraining #event-categories {
	width: 695px;
}

#E2-ProdProcTraining #pager {
	padding: 6px 0px;
	text-align: center;
}

#E2-ProdProcTraining #pager a,
#E2-ProdProcTraining #pager a:link {
	margin: 0px 5px;
}

#E2-ProdProcTraining #pager #prev-button {
	margin-right: 10px;
}

#E2-ProdProcTraining #pager #next-button {
	margin-left: 10px;
}


/* ProductFamilyPrimary */
body#product-family-primary div.salesTechTabContent div.linkBlack {
	width: 68px;
}

body#product-family-primary #pagetitle {
	float: left;
	width: 850px;
}

body#product-family-primary #pagetitleline {
}

body#product-family-primary #by-title-area {
	float: right;
	width: 500px;
}

body#product-family-primary #prodSysSearch {
	margin: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
}

body#product-family-primary .subTitle {
	font-size: 137%;
	color: #E46F20;
	padding-bottom: 10px;
}

body#product-family-primary h3.subTitle {
	margin:0;
	font-weight: normal;
}

body#product-family-primary #prodSysOverviewModule {
	height: 100%;
	padding: 7px;
	width: 349px;
}

body#product-family-primary #prodSysQuickViewModule {
	height: 100%;
	width: 353px;
}

body#product-family-primary #prodSysQuickViewModule #prodSysQuickLinks {
	padding: 5px;
	width: 353px;
}

body#product-family-primary #side-sub-nav {
	height: 100%;
}

body#product-family-primary #contentContainerRowThree #referenceTrademarkModule {
	height: 100%;
	float: left;
	padding: 5px;
	margin-left: 5px;
	width: 708px;
}

body#product-family-primary #contentContainerRowThree #trademarkModule, body#product-family-primary #contentContainerRowThree #referenceModule {
	width: 690px;
}

body#product-family-primary #empty-box-left {
	margin-left: 4px;
	padding-top: 7px;
	padding-bottom: 7px;
}

body#product-family-primary .spacer {
	background-color: #fff;
}

body#product-family-primary #contentContainerRowThree {
	height: 100%;
}

body#product-family-primary #contact-links {
	margin-top: 63px;
float: right;
   width: 363px;
padding: 0px;
}

body#product-family-primary div.shaded-background {
	float: left;
	width: 240px;
	padding-left: 0px;
	padding-right: 0px;
	height: 100%;
}

body#product-family-primary #relatedProductModule, body#product-family-primary #relatedSolutionModule {
   float: left;
   height: 100%;
   padding: 5px;
   margin-left: 5px;
   border-width: 4px;
}

body#product-family-primary #row-two-empty-box {
	height: 100%
}

body#product-family-primary #relatedProductModule {
   width: 344px;
}

body#product-family-primary #relatedSolutionModule {
	width: 344px;
}

body#product-family-primary #prodSysProductImageRolleverThumbnail {
   border: 1px solid #999;
}

body#product-family-primary #salesContactTechSupportModule {
   height: auto;
   background-color: #F2F2F2;
}

body#product-family-primary #salesTechSupportModule #salesSupportTabModule {
   background-color: #f2f2f2;
   width: 363px;
   float: right;
   height: auto;
}

body#product-family-primary #salesTechSupportModule #techSupportTabModule {
   background-color: #f2f2f2;
   width: 363px;
   float: right;
   height: auto;
}

body#product-family-primary #salesSupportTabModule td.salesContactTab {
   width: 180px;
   height: 22px;
   color: #E46F22;
   text-decoration: none;
   text-align: center;
   padding-top: 3px;
   cursor:pointer;
}

body#product-family-primary #salesSupportTabModule td.techSupportTab {
   width: 180px;
   height: 22px;
   text-align: center;
   padding-top: 3px;
   cursor:pointer;
}

body#product-family-primary #salesSupportTabModule td.salesContactTab span, body#product-family-primary #salesSupportModule td.techSupportTab span {
   color: #E46F22;
   text-decoration: none;
}

body#product-family-primary div.salesTechTabContent {
   width: 363px;
   height: auto;
   background-color: #F2f2f2;
   padding-bottom: 5px;
   margin-top:0px;
   padding-top:7px;
   text-align: center;
}

body#product-family-primary div.salesContactTabBox {
   color: #E46F22;
}

body#product-family-primary #techSupportTabModule {
   display: none;
}

body#product-family-primary #techSupportTabModule td.salesContactTab {
   width: 180px;
   height: 22px;
   color: #E46F22;
   text-decoration: none;
   text-align: center;
   padding-top: 3px;
   cursor:pointer;
}

body#product-family-primary #techSupportTabModule td.techSupportTab {
   width: 180px;
   height: 22px;
   text-align: center;
   padding-top: 3px;
   cursor: pointer;
}

body#product-family-primary div.relatedText {
   height: auto;
   width: 180px;
   float: left;
   padding-right: 5px;
}

body#product-family-primary div.relatedImage {
   float: right;
   width: 148px;
   height: auto;
}

body#product-family-primary #prodSysProductImageRolloverModule {
	width: 348px;
	margin: 0;
	padding: 0;
}

body#product-family-primary #mainPhoto {
	position: relative;
	width: 348px;
	height: 191px;
	z-index: 1;
}

body#product-family-primary #caption {
	margin: 0;
	position: absolute;
	bottom: 5px;
	right: 9px;
	width: 175px;
	max-width: 175px;
	max-height: 55px;
	text-align: right;
	z-index: 50;
}

body#product-family-primary #captionDetail {
	padding: 8px 8px 6px 8px;
	font-size: 14px;
	color: #0099CC;
	font-weight: bold;
	line-height: 1.2em;
	position: absolute;
	margin: 0;
	bottom: 4px;
	right: 8px;
}

body#product-family-primary #captionBg {
	position: absolute;
	margin: 0;
	bottom: 4px;
	right: 8px;
	width: 175px;
	max-width: 175px;
	max-height: 55px;
	text-align: right;
	z-index: 49;
}

body#product-family-primary #captionDetailBg {
	padding: 8px 8px 6px 8px;
	font-size: 14px;
	color: #FFFFFF;
	font-weight: bold;
	line-height: 1.2em;
	position: absolute;
	margin: 0;
	bottom: 4px;
	right: 8px;
}

#scrollArea,
body#product-family-primary #scrollArea {
	top: 196px;
	left: 0px;
	margin: 0;
	padding: 0;
	width: 348px;
	height: 53px;
	overflow: hidden;
}

#thumbContainer,
body#product-family-primary #thumbContainer {
	margin: 0;
	padding: 0;
	width: 2000px;
	height: 53px;
}

body#product-family-primary img.prodThumb {
	width: 81px;
	height: 51px;
	border: 1px solid #999999;
	margin-right: 7px;
}

body#product-family-primary #moreText {
	top: 249px;
	left: 0px;
	font-size: 11px;
	font-weight: bold;
	color: #666666;
	vertical-align: middle;
}

body#product-family-primary span.arrow {
	font-size: 18px;
	font-weight: bold;
}

body#product-family-primary span.arrow a:link,
body#product-family-primary span.arrow a:visited {
	color: #0099CC;
	text-decoration: none;
}

body#product-family-primary span.arrow a:active {
	color: #CC6600;
	text-decoration: none;
}

body#product-family-primary span.arrow a:hover {
	color: #FF9900;
	text-decoration: none;
}

body#product-family-primary #nwTic, #neTic, #swTic, #seTic {
	width: 11px;
	height: 11px;
	z-index: 25;
}

body#product-family-primary #nwTic {
	position: absolute;
	top: 0px;
	left: 0px;
	border-top: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
}

body#product-family-primary #neTic {
	position: absolute;
	top: 0px;
	right: 0px;
	left: 336px;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
}

body#product-family-primary #swTic {
	position: absolute;
	top: 179px;
	bottom: 0px;
	left: 0px;
	border-bottom: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
}

body#product-family-primary #seTic {
	position: absolute;
	bottom: 0px;
	left: 336px;
	top: 179px;
	right: 0px;
	border-bottom: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
}

body#product-family-primary #nwTic img, #neTic img, #swTic img, #seTic img {
	border: 0px;
	width: 11px;
	height: 11px;
}

/* END Product Family Primary Template styles */

/* Base Temp Template styles */

body#base-temp #aboutOverviewModule {
	float: right;
	width: 729px;
	height: 100%;
	margin: 0px;
}

body#base-temp #aboutOverviewImage {
	width: 282px;
	height: 100%;
	float: right;
	padding: 5px;
}

body#base-temp #aboutOverviewText {
	width: 420px;
	float: left;
	height: 100%;
	padding: 5px;
}

body#base-temp #contentContainerRowOne {
	margin-bottom: 10px;
}

body#base-temp #contentContainerRowTwo, #contentContainerRowThree {
	margin-top: 0px;
	margin-bottom: 0px;
}

body#base-temp div.shaded-background {
	float: left;
	height: 100%;
	width: 243px;
	padding-left: 0px;
	padding-right: 0px;
}

body#base-temp #contentContainerRowThree div.shaded-border {
	width: 229px;
	float: left;
	margin: 0px;
	margin-left: 5px;
	padding: 0px;
}

body#base-temp #contentContainerRowThree div.shaded-background {
	padding-top: 5px;
	padding-bottom: 5px;
}

body#base-temp #contentContainerRowThree div.decoration-row {
	height: 10px;
}

body#base-temp #row-two-content {
	width: 705px;
	float: right;
	height: 100%;
}

body#base-temp div.content-container {
	height: auto;
}

/* END Base Temp Template styles */

/* C22-CareerCenter Template Styles */

body#career-center div.searchByModule, body#career-center div.searchModule {
   float: right;
   width: 713px;
   margin: 0px;
   padding: 5px;
}

body#career-center div.searchModule {
	border-top: 0px;
}

body#career-center #search-container {
   height: 100%;
}

body#career-center #searchAllModule {
   float: left;
   width: 200px;
}

body#career-center #searchReqIDModule {
   float: left;
   width: 355px;
}

body#career-center div.shaded-background {
   float: left;
   height: 100%;
   width: 241px;
   margin: 0px;
   padding: 0px;
   padding-top: 7px;
   padding-bottom: 7px;
}

body#career-center #contentContainerRowThree {
	margin-top: 5px;
}

body#career-center #selection-process, body#career-center #work-culture, body#career-center #benefits, body#career-center #spotlight {
	float: left;
	margin: 0px;
	margin-left: 5px;
   	padding: 5px;
   	height: 100%;
}

body#career-center #selection-process, body#career-center #benefits {
   width: 195px;
}

body#career-center #work-culture, body#career-center #spotlight {
   width: 490px;
}
/* END C22-CareerCenter Template styles */

/* Management Template Styles */

body#management #aboutOverviewModule {
	float: right;
	width: 719px;
	height: 100%;
	padding: 5px;
	margin-bottom: 10px;
}

body#management #aboutOverviewText {
	width: 420px;
	float: right;
	height: 100%;
}

body#management div.shaded-background {
   height: 100%;
   padding: 7px;
   float: right;
}

body#management div.content-container {
	width: 975px;
	height: 100%;
}

body#management #managementRow {
	width: 730px;
	float: right;
}

body#management #managementBio,
body#management .managementBio {
	position: relative;
	float: right;
	width: 225px;
	height: auto;
	padding-left: 2px;
}

body#management .subTitle {
	font-size: 130%;
	padding-bottom: 10px;
}

body#management div#managementBio table {
	table-layout: fixed; /* IE6 fix */
}

body#management div#managementBio td.bio-image {
	width: 60px;
}

body#management div#managementBio td.bio-name {
	vertical-align: top;
	padding-top: 3px;
}

body#management div#managementBio td.bio-title {
	vertical-align: top;
	height: 70px;
}

/* END Management Template styles */

/* Press & News Template Styles */

body#press-and-news #aboutOverviewModule {
	float: right;
	width: 719px;
	height: 100%;
	padding: 5px;
}

body#press-and-news #aboutOverviewImage {
	width: 272px;
	height: 100%;
	float: left;
	padding: 5px;
}

body#press-and-news #aboutOverviewText {
	width: 410px;
	float: right;
	height: 100%;
	padding: 5px;
}

body#press-and-news div.content-container {
	width: 975px;
	height: 100%;
}

body#press-and-news div.subTitle {
	font-size: 120%;
	padding-bottom: 10px;
}

body#press-and-news #latestFeaturedItems {
	float: right;
	width: 730px;
	height: 100%;
	margin-top: 5px;
}

body#press-and-news #pressProductModule {
	width: 531px;
	height: 100%;
	float: left;
	margin-right: 4px;
}


body#press-and-news #skyStockModule {
	width: 145px;
	float: right;
	height: 100%;
}

body#press-and-news #row-two-empty-box {
	float: left;
	width: 240px;
	height: 100%;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 5px;
}

/* tab elements */
body#press-and-news .pressProductTabBox {
	width: 528px;
	height: 24px;
	margin:auto;
}

body#press-and-news #pressReleasesModule, #productNewsModule {
	padding: 0px;
	margin: 0px;
}

body#press-and-news #pressReleasesModule td.pressReleasesTab {
	cursor:pointer;
	width: 263px;
	height: 24px;
	color: #19A0DA;
	text-decoration: none;
	text-align: center;
	padding-top: 2px;
}

body#press-and-news #pressReleasesModule td.productNewsTab {
	cursor:pointer;
	width: 263px;
	height: 24px;
	color: #19A0DA;
	text-decoration: none;
	text-align: center;
	padding-top: 2px;
}

body#press-and-news #pressReleasesModule td.pressReleasesTab a.subTitle:link, #pressReleasesModule td.productNewsTab a {
	color: #19A0DA;
	text-decoration: none;
}

body#press-and-news .pressProductTabContent {
	width: 526px;
	height: auto;
	border-right: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
	border-left: 1px solid #f2f2f2;
	margin-top:0px;
	padding-top:0px;
}

body#press-and-news .pressProductTabContentBox {
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
}

body#press-and-news #productNewsModule {
	display:none;
}

body#press-and-news #productNewsModule td.pressReleasesTab {
	cursor:pointer;
	width: 263px;
	height: 24px;
	color: #19A0DA;
	text-decoration: none;
	text-align: center;
	padding-top: 2px;
}

body#press-and-news #productNewsModule td.productNewsTab {
	cursor:pointer;
	width: 263px;
	height: 24px;
	color: #19A0DA;
	text-decoration: none;
	text-align: center;
	padding-top: 2px;
}

body#press-and-news .tabText {
	width: 300px;
	height: auto;
}

body#press-and-news .tabImage {
	width: 160px;
	height: auto;
}

/* END Press & News Template styles */

/* C25 Contact Us Template Styles */

body#contact-us #contactOverviewModule {
	float: right;
    margin-left: 4px;
	width: 712px;
	height: 100%;
}

body#contact-us div.subTitle {
	font-size: 120%;
}

body#contact-us h3{
	font-size: 120%;
}

body#contact-us h3.subTitle, body#contact-us h2.subTitle {
	margin:0;
	font-weight: normal;
	padding: 0;
	
}

/*body#contact-us div.contactOverviewModule {
	padding-left: 20px;
	width: 220px;
	float: left;
}*/

body#contact-us #contactOverviewImage {
	float: left;
	width: 210px;
	height: 100%;
}

body#contact-us #contactOverviewText {
	float: right;
	width: 498px;
	height: 100%;
}

body#contact-us #content-container {
	width: 975px;
	height: 100%;
}

body#contact-us #contactInfoModule {
    margin-left: 2px;
	width: 702px;
	float: right;
}

body#contact-us form.contactDivSearch select {
	margin-left: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 180px;
}

body#contact-us div.contactInfoListModule {
	width: 701px;
	float: left;
	height: 100%;
}

body#contact-us #contactInfoModule hr {
	width: 701px;
	clear: both;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #f2f2f2;
	background-color: #f2f2f2;
	height: 5px;
	border: 0px solid #FFF;
}

body#contact-us #sykLocation {
	width: 161px;
	float: left;
	background-color: #f2f2f2;
	border-left: 4px solid #FFF;
	height: 175px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
}

body#contact-us #location {
	width: 170px;
	float: left;
	padding-left: 1px;
	padding-top: 4px;
}

body#contact-us #row-two {
	margin-top: 5px;
}

body#contact-us #row-two-empty-box {
	float: left;
	width: 240px;
	padding: 0px;
}

/* END C25 Contact Us Template styles */

/* 000820 Template Styles */

body#template_000820 h1,
body#glp h1 {
	font-weight: normal;
	line-height: 36px;
	margin: 0px;
	margin-left: 4px;
	padding: 0px;
}

body#template_000820 #row-two {
	clear:left;
	margin-top: 5px;
}

body#template_000820 #homeImageModule {
	width: 280px !important;
	margin: auto;
	float: left !important;
	height: 100%;
}

body#template_000820 #homeImageModule img {
	float: right;
	height: 186px;
}

body#template_000820 #homeSubLeftNavModule {
	padding: 0px;
	margin: 0px;
	float: left;
	width: 240px;
	height: 100%;
}

body#template_000820 #homeSubLeftNavModule .homeSelector {
	padding: 0px;
	margin: 0px;
	background-color: #fff;
}

body#template_000820 .homeNavOn {
	color: #fff;
}

body#template_000820 .homeNavOff {
	color: #E46F20;
}

body#template_000820 ul.menuwhite {
	list-style: none;
	padding-left: 0px;
}

body#template_000820 ul.menuwhite li.homeNavOff a, body#template_000820 ul.menuwhite li.homeNavOn a {
	font-weight: 900;
	text-decoration: none;
	display: block;
	padding-left: 23px;
	padding-bottom: 5px;
	height: 100%;
}

body#template_000820 ul.menuwhite li.homeNavOff a {
	background: #fff url("../media/000939.gif")/*tpa=http://www.stryker.com/files/media/000939.gif*/ no-repeat 5px center;
}

body#template_000820 ul.menuwhite li.homeNavOn a {
	background: #E46F20 url("../media/000938.gif")/*tpa=http://www.stryker.com/files/media/000938.gif*/ no-repeat 5px center;
	color: #FFF;
}

body#template_000820 div.introOverview {
	float: left;
	width: 422px !important;
	height: 100%;
	min-height: 176px !important;
	background-color: #f2f2f2;
	border-left: 4px solid #fff;
	border-right: 4px solid #fff;
	padding: 5px 10px !important;
}

body#template_000820 div.home-content-module {
	float: left;
	height: 100%;
	background-color: #FFF;
	border-top: 4px solid #f2f2f2;
	border-left: 4px solid #f2f2f2;
	border-right: 4px solid #f2f2f2;
	margin-left: 4px;
	padding-bottom: 10px;
	width: 300px;
}

body#template_000820 #home-content-module-01 {
	margin-left: 0px;
}

body#template_000820 #home-content-module-02 {

}

body#template_000820 div.home-content-module .subTitle {
	font-size: 110%;
	font-weight: bold;
	margin-top: .3em;
	margin-bottom: .6em;
}

body#template_000820 div.home-content-module .subTitle a {
	text-decoration: none;
}


body#template_000820 div.titleBlue {
	color: #19A0DA;
	font-size: 110%;
	font-weight: bold;
	margin-top: 10px;
}

body#template_000820 div.subTitle {
	color: #E46F20;
	font-size: 137%;
}

body#template_000820 div.homeProductText {
	width: 296px;
	float: left;
}

body#template_000820 div.homeProductImage {
	float: right;
	height: 148px;
	width: 148px;
}

/* END 000820 Template styles */


/* 003619 Secondary Template  */
#aboutOverviewText div.subTitle {
	padding-bottom: 0px;
}

/* SS_PROD_ACCESSORY styles */
body#ss_prod_accessory .product_image_box {
	width: 212px;	
	height: 174px;
	position: relative;
	border: 4px solid #f2f2f2;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	padding: 5px;
}

body#ss_prod_accessory .product_image_box img{
	position: absolute;
	bottom: 5px;
}

body#ss_prod_accessory .product_image_box .subTitle {
	color: #E46F20;
	font-weight: bold;
	font-size: 150%;
	margin: 0px;
	padding-bottom: 7px;
	text-decoration: none;
}

body#ss_prod_accessory #editable-content-beside-subnav {
	float: none;
	margin-left: 250px;
}
/* END SS_PROD_ACCESSORY styles */

/** Surgical Protocol Library **/
#centertable {
 	margin: 10px 20px 10px 15px;
 	padding: 0px;
 	font-family: Verdana, Arial, Helvetica, sans-serif;
 	font-size: 12px;
 	line-height: 18px;
}
 
.centertable ul {
	padding: 0px;
	margin: 0px;
}

.centertable li {
	list-style-position: outside;
	list-style-image: url(../../en-us/index.htm)/*tpa=http://www.stryker.com/files/media/arrow.gif*/;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-left: 20px;
}

/** Literature Listing **/

.literature-listing {
	border: 1px solid #CCC;
	border-top: none;
	line-height: 15px;
	margin: 15px 0;
	padding: 0;
}

.literature-listing th,
.literature-listing td {
	font-size: 11px;
	text-align: left;
	vertical-align: top;
}

.literature-listing th {
	background: url(../media/literature-th.jpg)/*tpa=http://www.stryker.com/files/media/literature-th.jpg*/ repeat-x;
	border-left: 1px solid #C4C4C4;
	border-right: 1px solid #EBEBEB;
	color: #3B3B3B;
	margin: 0;
}

.literature-listing td {
	border-left: 1px solid #D8D8D8;
	padding: 5px 8px;
}

.literature-listing .even td {
	background-color: #F1F5F9;
}

.literature-listing th a:link,
.literature-listing th a:visited,
.literature-listing th a:active,
.literature-listing th a:hover,
.literature-listing td a:link,
.literature-listing td a:visited,
.literature-listing td a:active {
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}

.literature-listing td a:hover {
	text-decoration: underline;
}

.literature-listing th a:link,
.literature-listing th a:visited,
.literature-listing th a:active,
.literature-listing th a:hover {
	color: #3B3B3B;
	display: block;
	text-decoration: none;
	padding: 5px 8px 7px 8px;
}

.literature-listing th.no-link  {
	padding: 5px 8px 7px 8px;
}

.literature-listing th:hover {
	background: url(../media/literature-th-hover.jpg)/*tpa=http://www.stryker.com/files/media/literature-th-hover.jpg*/ repeat-x #D6D6D6;
}

.literature-listing th.edit:hover {
	background: url(../media/literature-th.jpg)/*tpa=http://www.stryker.com/files/media/literature-th.jpg*/ repeat-x #D6D6D6;
}

.literature-listing th.no-lt-border,
.literature-listing td.no-lt-border {
	border-left: none;
}

.literature-listing th.no-rt-border {
	border-right: none;
}

.literature-left {
	color: #336699;
	float: left;
	font-size: 12px;
	font-weight: bold;
}

.icon {
	margin-right: 6px;
}

#basic_search,
#basic_search_admin,
#advanced_search,
#advanced_search_admin {
	background-color: #E6EEF5;
	border: 1px solid #B2C5D7;
	padding: 8px;
}

#basic_search form,
#basic_search_admin form,
#advanced_search form,
#upload form {
	margin: 0;
	padding: 0;
}

#basic_search strong,
#basic_search_admin strong,
#advanced_search td strong,
#upload td strong {
	color: #3B3B3B;
	padding-right: 10px;
}

#basic_search th {
	 font-size: 14px; 
	 color: #cd5806; 
}

#basic_search .switch_link {
	padding-right: 85px;
}

#advanced_search .switch_link {
	padding-right: 275px;
}

#basic_search td,
#advanced_search td,
#upload td {
	padding: 8px 8px 0 8px;
	text-align: left;
	vertical-align: top;
}

#advanced_search .last td,
#upload .last td {
	padding: 8px;
}

.literature-listing th,
.literature-listing td,
#basic_search,
#basic_search_admin,
#advanced_search,
.switch_link a:link,
.switch_link a:visited,
.switch_link a:active,
.literature-left a:link,
.literature-left a:visited,
.literature-left a:active,
#upload {
	font-family: Arial, Helvetica, sans-serif;
}

#box-link-list {
	clear:both;	
	padding-left:25px;
	padding-right:25px;
}

#box-link-list .box {
	display:block;
	border: 1px solid #a5a5a5;
	margin-bottom:10px;
	overflow:auto;
	padding:5px;
	background-image:url(../media/box_bg.png)/*tpa=http://www.stryker.com/files/media/box_bg.png*/;
	background-repeat:repeat-x;
}
		
#box-link-list h2 {
	color:#e46f20; 
	font-weight:bold; 
	font-size:24px; 
	padding:0px 0px 10px 10px; 
	margin:0px;
}

#box-link-list img {
	border:0px;
}
			
.box-link {
	float:left; 
	width:302px; 
	margin:0px 0px 10px 0px;
}

.box-link h3 {
	font-size:18px; 
	color:#06baf9; 
	font-weight:bold; 
	padding:0px 0px 5px 10px; 
	margin:0px; 
}
			
.box-link a {
	color:#06baf9;
	text-decoration:none;
}

.box-link a:hover {
	text-decoration:underline;
}
			
.box-link p {
	font-size:12px; 
	margin:0px !important; 
	padding:0px 0px 0px 10px;
}



/**********************************************************
 *                  2014 Redesign Styles
 **********************************************************/

@import url(../../../fonts.googleapis.com/css-family=Roboto+Condensed-1.css)/*tpa=http://fonts.googleapis.com/css?family=Roboto+Condensed*/;

img, object, embed, video {
	max-width: 100%;
}


#notification {
	padding:7px; background-color: lightyellow; display: none; text-align: center; font-size:0.8em; font-weight:bold; color:#ff0000; border-bottom:1px solid #d7d7d7;}

#header, #nav, #content , #footer {
	width: 98%;
	padding-left: 1%;
	padding-right: 1%;
}
#header{ background: url(../media/header_bar.png)/*tpa=http://www.stryker.com/files/media/header_bar.png*/ repeat-x; height:65px;}
#header a{text-decoration: none; color: #959595;}
.container{
	clear: both;
	margin: 0 auto;
	max-width:1000px;
	width:100%;
	display: block;
}
#header #logo{padding-top:18px; float:left;}
#header #top_nav{float:right; padding-top:12px;}
/* #header #top_nav #search { border-radius:20px; color:#8a8a8a; border:1px solid #e6e6e6; padding:12px; font-size:0.9em; background:#fff url(../media/search_icon.png) right center no-repeat;  float:right;} */
/* REMOVED FOR CHANGE TO MAKE SEARCH GLASS SUBMIT-ABLE; Jon @ TEAM 20141211 */

/* ADDED FOR SEARCH GLASS SUBMIT-ABLE */
#header #top_nav #search{ border-radius:20px; color:#8a8a8a; border:1px solid #e6e6e6; padding:12px; font-size:0.9em;  float:right;}

#header #top_nav #search_container{float:right; position:relative;}

#header #top_nav #search_container img {position:absolute; right:0px; top:10px;}
/* ADDED FOR SEARCH GLASS SUBMIT-ABLE */

#header #top_nav #search , #header #top_nav #search:focus{
	width:180px;
	padding-right:38px;
}
#header #top_nav #search  {
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}
#header #top_nav #country{ color:#959595; font-size:0.8em;  margin-right:10px; float:right; margin-top:11px; white-space:nowrap; font-weight:bold;}

#header #top_nav #country a{ border-radius:10px;  border:1px solid #e6e6e6; padding:12px; background-color:#fff; color:#959595; text-decoration:none; font-size:0.7em; font-weight:normal; margin-left:5px;}
#header #top_nav #zoom{ color:#959595;   margin-right:10px; float:right; margin-top:13px;}
#header #top_nav #zoom a{color:#DE6100; text-decoration:none; font-weight:bold; margin-right:2px;} 
#header #top_nav #zoom a:hover {color:#00456b;}

#zoom a.one{font-size:1.1em;}
#zoom a.two{font-size:1.3em;}
#zoom a.three{font-size:1.6em;}

#marquee{border-top:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; min-width:310px;}
#content{background-color:#f9f9f9; border-bottom:1px solid #e5e5e5; border-top:1px solid #e5e5e5; padding-bottom:15px; padding-top:35px;}

#whats_new {width:65%; float:left; color:#000; margin-bottom:15px; }
#whats_new h1{display:block; background-color:#2a81ac; color:#fff; font-size:1.3em;  padding:10px 2.5%; margin:0px;}
#whats_new h1 span{ float:right; font-size:0.5em; font-weight:bold; color:#81acc6; }
#whats_new h1 .inner{color:#e0e9ef; padding-left:5px;}
#whats_new  .story {clear:both; border-bottom:1px solid #e4e4e4; padding:5px; overflow:auto; line-height:1.2em; font-size:0.8em;}
#whats_new a{color:#2a81ac;}
#whats_new img{float: left; margin-right:10px;}
#whats_new h2{font-size:0.9em; font-weight:bold; color:#2a81ac; margin-bottom:-10px; }
#whats_new .more { float:right; font-size:14px; font-weight:bold; padding-right:10px; background:url(../media/arrow_blue.png)/*tpa=http://www.stryker.com/files/media/arrow_blue.png*/ right center no-repeat; margin-right:20px; color:#2a81ac;}

#spotlight {width:34.5%;  float:left;  background-color:#d7d7d7; margin-bottom:15px; margin-left:0.5%; height: 390px;}
#spotlight h1{display:block; background-color:#e3ab0f; color:#fff; font-size:1.3em;  padding:10px 2.5%; margin:0px;}
#spotlight h2{	font-size:0.9em; font-weight:bold; color:#df6f1d; }
#spotlight a{color:#df6f1d;}
#spotlight p{ font-size:0.8em; }
#spotlight .story{padding:7px;}

#award_sponsorships { width:100%;   float:left; text-align:center;}
#award_sponsorships h1{display:block; background-color:#4b4c85; color:#fff; font-size:1.3em;  padding:10px 2.5%; margin:0px; text-align:left;}
#award_sponsorships .Image_Wrapper{border:1px solid #b1b1b1; margin:15px;
  -moz-box-shadow: -3px 5px 10px 3px #D7D7D7;
  -webkit-box-shadow:-3px 5px 10px 3px #D7D7D7;
  box-shadow: -3px 5px 10px 3px #D7D7D7;
  display: inline-block;
}
#award_sponsorships .more { float:right; font-size:14px; font-weight:bold; padding-right:10px; background:url(../media/arrow_purple.png)/*tpa=http://www.stryker.com/files/media/arrow_purple.png*/ right center no-repeat; margin-right:20px; color:#4b4c85;}

.Collage {padding-bottom: 20px;}

/* Breadcrumb Styles */
#breadcrum{
	background-color:#e1e1e1;
	color:#cccccc;
	font-size:0.8em;
	font-weight:bold;
	padding-top:7px;
	padding-bottom:7px;
	text-transform:uppercase;
}
#breadcrum a{color:#898989;}
#breadcrum a:hover{text-decoration:none;}


/* Awards Page Styles */
#award_page h2{
	font-size:2em;
	font-weight:bold;
	color:#518274;
	margin:0px;
	padding:0px;
}
#award_page .left_pan {
	float:left; 
	width:23%;
	margin-right:2%;
	margin-top:15px;
	font-size:0.8em;
}
#award_page a{color:#5781ae;}
#award_page .left_pan ul {list-style:none; padding:0px; margin:0px; margin-bottom:10px;}
#award_page .left_pan li{list-style:none; border-top:1px solid #959595; padding:7px 3px; font-size:1.5em;}
#award_page .left_pan li:last-child{border-bottom:1px solid #959595;}
#award_page .left_pan li a{display:block; color:#acacac; text-decoration:none;}
#award_page .left_pan li a.active{color:#518274; background:url(../media/arrow_green.png)/*tpa=http://www.stryker.com/files/media/arrow_green.png*/ no-repeat 60px center;}
#award_page .right_pan {float:left; width:74%; margin-top:15px;}
#award_page .right_pan .story{clear:both; margin-bottom:20px; min-height:150px;}
#award_page .right_pan IMG{FLOAT:LEFT; margin-left:2%;}
#award_page .right_pan h3 {margin:0px 0px 0px 210px; font-size:1.1em; font-weight:bold;}
#award_page .right_pan p {margin:0px 0px 0px 210px; font-size:0.8em;}

	
/* Press Room Styles */
#press_page h2{
	font-size:2em;
	font-weight:bold;
	color:#518274;
	margin:0px;
	padding:0px;
}
#press_page .left_pan {
	float:left; 
	width:23%;
	margin-right:2%;
	margin-top:15px;
	font-size:0.8em;
}
#press_page a{color:#5781ae;}
#press_page .left_pan ul {list-style:none; padding:0px; margin:0px; margin-bottom:10px;}
#press_page .left_pan li{
	list-style:none;
	border-top:1px solid #959595;
	padding:7px 3px ;
	font-size:1.5em;
}
#press_page .left_pan li:last-child{border-bottom:1px solid #959595;}
#press_page .left_pan li a{display:block; color:#acacac; text-decoration:none;}
#press_page .left_pan li a.active{color:#518274; background:url(../media/arrow_green.png)/*tpa=http://www.stryker.com/files/media/arrow_green.png*/ no-repeat 60px center;}
#press_page .right_pan {float:left; width:74%; margin-top:15px; }
#press_page .right_pan h3 {
	color:#fff; 
	display:block; 
	background-color:#518274; 
	padding:7px 15px;
	margin-top:0px; 
	font-size:1.1EM;
	text-transform: capitalize;
}
#press_page .right_pan .story{clear:both; margin-bottom:20px;}
#press_page .right_pan h4 {font-size:0.9em; font-weight:bold; margin:0px;color: #000000;}
#press_page .right_pan h5 {font-size:0.85em; font-weight:bold; margin:0px;}
#press_page .right_pan p {font-size:0.8em; margin:0px;}
#press_page .right_pan .month_filter ul {
	margin:0px; 
	padding:0px; 
	list-style:none; 
	margin-bottom:15px;
}
#press_page .right_pan .month_filter li {
	margin:0px; 
	padding:0px; 
	list-style:none; 
	display:inline; 
	font-size:0.9EM; 
	text-transform:uppercase; 
	font-weight:bold; 
	line-height:2.5;
}
#press_page .right_pan .month_filter li a {
	padding:5px 10px 5px 5px; 
	color:#518274; 
	border: 1px solid #518274; 
	text-decoration:none;
}
#press_page .right_pan .month_filter li a.active{color:#fff; background-color:#518274;}


/* Article Page */
#article_page .left_pan {
	float:left; 
	width:23%;
	margin-right:2%;
	font-size:0.8em;
}
#article_page a{color:#5781ae;}
#article_page .left_pan ul {list-style:none; padding:0px; margin:0px; margin-bottom:10px;}
#article_page .left_pan li{
	list-style:none;
	border-top:1px solid #959595;
	border-bottom:1px solid #959595;
	padding:7px 3px;
	font-size:1.5em;
}
#article_page .left_pan li a{
	display:block;
	color:#518274;
	text-decoration:none;
	background:url(../media/arrow_green2.png)/*tpa=http://www.stryker.com/files/media/arrow_green2.png*/ no-repeat 5px center;
	padding-left:30px;
}
#article_page .right_pan {float:left; width:74%;}
#article_page .right_pan h3 {
	color:#518274; 
	display:block;
	margin:0px; 
	font-size:1.1EM;
}
#article_page .right_pan h4 {
	color:#518274; 
	display:block;
	margin:0px; 
	font-size:0.9EM;
}
#article_page h2{
	font-size:1.6em;
	font-weight:bold;
	color:#518274;
	margin:0px;
}
#article_page .right_pan sup , #article_page .right_pan sub {font-size:0.6em;}
#article_page .right_pan .references{font-size:0.8em;}
#article_page .right_pan p , #article_page .right_pan li {font-size:0.8em;}
#article_page .right_pan ul {overflow:auto;}
#article_page .right_pan img.imgfloatleft {float:left; margin:5px}
#article_page .right_pan img.img_right {float:right; margin:5px}


/* Footer Styles */
#footer{color: #777777; padding-top:15px; padding-bottom:15px; font-size:100%; text-align:left;}
#footer ul{margin:0px; padding:0px; min-height:120px;}
#footer li{     
	font-size:0.7em;
	line-height:1.7;
	color: #777777;
	display:block;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight:400;
}
#footer a:link, #footer a:visited{color: #777777;}   
#footer .toplink a:link, #footer .toplink a:visited{       
	color: #f08b1d;
	font-weight:bold;
	text-transform:uppercase;
}   
#footer a:hover{text-decoration:none;}   
.footercolumn{
	float:left;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight:400;
	width:12%;
} 
.footercolumn img{border:none;}     
#footer ul{margin: 0px auto 0px auto;}
.last{width:27%;}
.follow{float:right; text-align:right; color: #f08b1d; font-weight:bold; width:13%;}



/* Tablet Layout: 481px to 960px. Inherits styles from: desktop Layout. */
@media only screen and (max-width: 960px) {
.container{	
	clear: both;
	margin: 0;
	width: 100%;
	display: block;	
}
#header, #nav, #breadcrum, #content , #footer {width: 97.5%; padding-left: 1.25%; padding-right: 1.25%;}
#header #top_nav #search , #header #top_nav #search:focus{width:130px; padding-right:38px;}
#header #top_nav #zoom span , #header #top_nav #country span{display:inline;}

#spotlight {width:39%; margin-left:1%;}
#whats_new { width:60%;}
#footer ul{ min-height:120px;}
.footercolumn , .follow {width:25%; text-align:left;}
.last{width:50%;}
}



/* Mobile Layout: 640px and below. Inherits styles from: Desktop Layout and Tablet Layout. */
@media only screen and (max-width: 640px) {
.container {
	clear: both;
	margin: 0;
	width: 100%;
	display: block;
	min-width:305px;
}
#header, #nav, #breadcrum, #content , #footer {
	margin-left: auto;
	margin-right: auto;
	width: 96%;
	padding-left: 2%;
	padding-right: 2%;
}
#header #top_nav #zoom span , #header #top_nav #country span{display:none;}
#header #top_nav #country a{padding:13px 10px 17px 10px; border-radius:10px; }

#header #top_nav #country {  margin-right:5px; }
.ie8 #header #top_nav #country {  width:110px; }
#header #top_nav #country img {height:17px; width:26px;}
#nav{display:none;}
#header #top_nav #search{padding:12px; width:20px; border-radius:10px;}
#header #top_nav #search:focus{width:80px; padding-right:38px;}
#whats_new , #spotlight{width:100%; margin-left:0px;}
#whats_new h1 , #spotlight h1 , #award_sponsorships h1 {font-size:1em;}
#whats_new h1 span{font-size:0.6em; margin-top:6px;}
#award_sponsorships{text-align:left;}
#award_page h2 , #press_page h2{font-size:1.25em;}
#award_page .left_pan , #press_page .left_pan , #press_page .right_pan , #article_page .left_pan , #article_page .right_pan  {
	display:block; width:100%; margin-left:0px;
}
#award_page .right_pan{display:block; width:100%; margin-left:0px; text-align:center;}
#award_page .right_pan p , #award_page .right_pan h3  {margin-left:0px;  display:block; text-align:left;}
#award_page .right_pan img {float:none; margin-left:0px; margin-bottom:10px; }
#footer .footercolumn{width: 50%;}
#footer ul{ min-height:120px;}
#footer .follow{margin-top:20px; text-align:left; float:left; width:40%;}
}

@media only screen and (max-width: 400px) {

#logo img {width:80px; height:20px;}
}

@media only screen and (min-width: 2000px) {
body{font-size:125%;}
#menu li a{font-size:0.7em !important;}
}