/********************************************************************************************/
/*							START OF RESPONSIVE MEGAMENU									*/
/********************************************************************************************/
#desktop_menu ul, #desktop_menu li {line-height:21px; text-align:left;}
#desktop_menu {
	list-style:none;
	padding:0px;
	margin:0 auto;
	text-align:center;		
}
#desktop_menu li {	
	display:inline-block;
	text-align:left;
	position:relative;
	padding:5px 24px;
	margin-top:7px;
}
#desktop_menu li li {display:block;}
#desktop_menu li:hover {
	border: 1px solid #bfbfbf; 
	padding:4px 23px;
	/* Background color and gradients */
	background: #e2e2e2;
	/* Rounded corners */
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
	z-index:10000;
}
#desktop_menu li a {
	font-size:0.9em; 
	color: #000;
	outline:0;
	text-decoration:none;
	font-weight:bold;
}
#desktop_menu li:hover a {color:#000;}
#desktop_menu .drop span{
	color:#bdbdbd; 
	font-size:0.8em;
	display:none;
	font-weight:normal;
	
}

.dropdown_1column, 
.dropdown_2columns, 
.dropdown_3columns, 
.dropdown_4columns,
.dropdown_5columns {
	margin:4px auto;
	float:left;
	position:absolute;
	left:-999em; /* Hides the drop down */
	text-align:left;
	padding:10px 5px 10px 5px;
	border:1px solid #bfbfbf;
	border-top:none;
	max-height: 650px;
	overflow-y: auto;
	/* Gradient background */
	background:#e2e2e2;
	/* Rounded Corners */
	-moz-border-radius: 0px 5px 5px 5px;
	-webkit-border-radius: 0px 5px 5px 5px;
	border-radius: 0px 5px 5px 5px;
}
.dropdown_1column {width: 280px;}
.dropdown_2columns {width: 560px;}
.dropdown_3columns {width: 780px;}
.dropdown_4columns {width: 1030px;}
.dropdown_5columns {width: 1280px;}

#desktop_menu li:hover .dropdown_1column, 
#desktop_menu li:hover .dropdown_2columns, 
#desktop_menu li:hover .dropdown_3columns,
#desktop_menu li:hover .dropdown_4columns,
#desktop_menu li:hover .dropdown_5columns {
	left:-1px;
	top:auto;
}

.col_1,
.col_2,
.col_3,
.col_4,
.col_5 {
	display:inline;
	float: right;
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
}
.col_1 {width:270px;}
.col_2 {width:520px;}
.col_3 {width:770px;}
.col_4 {width:1020px;}
.col_5 {width:1270px;}

#desktop_menu .menu_right {float:right; margin-right:0px;}
#desktop_menu li .align_right {
	/* Rounded Corners */
	-moz-border-radius: 5px 0px 5px 5px;
	-webkit-border-radius: 5px 0px 5px 5px;
	border-radius: 5px 0px 5px 5px;
}
#desktop_menu li:hover .align_right {left:auto; right:-1px; top:auto;}
#desktop_menu p{ font-size:0.8em; clear:both; padding:0px 10px;}
#desktop_menu h3 {
	font-size:0.8em;
	padding:7px 10px;
	margin-bottom:7px;
	background-color:#518274;
	color:#fff;
	clear:both;
	text-transform:uppercase;
}

.col_1 li{border:none !important;}

#desktop_menu li:hover div a {
	font-size:12px;
	color:#005b85;
	font-weight:normal;
	text-decoration:underline;
}
#desktop_menu li:hover div a:hover {text-decoration:none;}
#desktop_menu li:hover div a:hover {color:#000;}


.strong {font-weight:bold;}
.italic {font-style:italic;}

.imgshadow { /* Better style on light background */
	background:#FFFFFF;
	padding:4px;
	border:1px solid #777777;
	margin-top:5px;
}
.img_left { /* Image sticks to the left */
	width:auto;
	float:left;
	margin:5px 15px 5px 5px;
}

#desktop_menu li .black_box {
	background-color:#333333;
	color: #eeeeee;
	padding:4px 6px 4px 6px;
	/* Rounded Corners */
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	/* Shadow */
}
#desktop_menu li ul {list-style:none; padding:0; margin:0 0 12px 0;}
#desktop_menu li ul li {
	position:relative;	
	padding:0 5px;
	margin:0;
	float:none;
	text-align:left;
}
#desktop_menu li ul li:hover {
	background:none;
	border:none;
	padding:0 5px;
	margin:0;
}
#desktop_menu li .greybox li {
	background:#F4F4F4;
	border:1px solid #bbbbbb;
	margin:0px 0px 4px 0px;
	padding:4px 6px 4px 6px;
	width:116px;
	/* Rounded Corners */
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}
#desktop_menu li .greybox li:hover {
	background:#ffffff;
	border:1px solid #aaaaaa;
	padding:4px 6px 4px 6px;
	margin:0px 0px 4px 0px;
}

#category_filter {
	text-align:center;
	font-size:0.8em;
	color:#9c9c9c;
	font-weight:bold;
	padding:10px;
}
#category_filter ul , #category_filter li  {	
	display:inline !important; 
	list-style:none; 
	margin:0px !important; 
	padding:0px !important; 
	position:static;
	border:none;
}
#category_filter li:hover a , #category_filter li a{
	font-size:0.7em; 
	display:inline;  
	border:2px solid #9c9c9c; 
	margin:0px; 
	padding:5px 30px; 
	font-weight:bold !important; 
	color:#9c9c9c !important;   
	text-decoration:none !important; 
	margin-right:-5px; 
	text-transform:uppercase;
}
#category_filter li  a.active{
	color:#fff !important; 
	border-color:#518274; 
	background-color:#518274; 
	text-decoration:none !important;
}

#mobile_menu{
	margin:0px; 
	padding:0px; 
	float:right; 
	display:none; 
	list-style:none;
}
#mobile_menu_container{
	display:none; 
	background-color:#878787; 
	position:absolute; 
	top:66px; 
	right:0px; 
	z-index:1000; 
	
	max-width:360px;
}
#mobile_menu li{
	list-style:none; 
	margin:0px; 
	padding:0px; 
	margin-top:9px;
}
#mobile_menu li a{
	padding:10px 7px 27px 7px; 
	margin-left:5px;  
	border-radius:5px 5px 0px 0px; 	
	-moz-border-radius: 5px 5px 0px 0px; 
	-webkit-border-radius: 5px 5px 0px 0px; 
}
#mobile_menu li.active a {background-color:#878787;}

.accordion { list-style-type: none; padding: 0; margin: 0 0 30px; border-top: none; border-left: none;  }
.accordion ul { padding: 0; margin: 0; float: left; display: block; width: 100%; }
.accordion li { background: #878787; cursor: pointer; list-style-type: none; padding: 0; margin: 0; float: left; display: block; width: 100%;}
.accordion li.active>a { background: url(../media/close.gif)/*tpa=http://www.stryker.com/files/media/close.gif*/ no-repeat 10px center; }
.accordion li.active { background:#5781AE ;}
.accordion a { text-decoration: none; border-bottom: 1px solid #fff; font-size:0.9em; font-weight:bold; color: #222; padding: 10px 10px 10px 30px; display: block; cursor: pointer; background: url(../media/open.gif)/*tpa=http://www.stryker.com/files/media/open.gif*/ no-repeat 10px center;}

/* Level 2 */
.accordion li ul li { background: #b0b0b0;}
.accordion li ul li a{ padding-left:40px;  font-size: 0.8em; font-weight:bold;}
.accordion li ul li.active{ background: #BCCDDF;}

/* level 3*/
.accordion li ul li ul li {background:#cacaca;}
.accordion li ul li ul li.active {background:#E6ECF3;}
.accordion li ul li ul li a{ padding-left:50px;  font-size: 0.7em; font-weight:bold;}

/* level 4*/
.accordion li ul li ul li ul li a{ padding-left:60px;  font-size: 0.65em; font-weight:bold;}
.accordion li ul li ul li ul li {background:#e2e2e2;}
.accordion li ul li ul li ul li.active {background:#E6ECF3;}

.nochild{background:none !important;}

/* SCREEN WIDTHS OF LESS THAN 960PX */
@media only screen and (max-width: 960px) {
	#desktop_menu .drop span{display:none;}
	#desktop_menu a.drop {font-size:0.8em; padding-left:15px; padding-right:15px; display:block;}
	#desktop_menu li {padding: 5px 4px;}
	#desktop_menu li:hover {padding: 4px 3px;}
	.dropdown_1column {width: 210px;}
	.dropdown_2columns {width: 420px;}
	.dropdown_3columns {width: 780px;}
	.dropdown_4columns {width: 1030px;}
	.dropdown_5columns {width: 1280px;}
	.col_1 {width:200px;}
	.col_2 {width:380px;}
	.col_3 {width:770px;}
	.col_4 {width:1020px;}
	.col_5 {width:1270px;}
}

/* SCREEN WIDTHS OF LESS THAN 860PX */
@media only screen and (max-width: 860px) {
	#desktop_menu a.drop {font-size:0.8em; padding-left:11px; padding-right:11px; display:block;}
}

/* SCREEN WIDTHS OF LESS THAN 800PX */
@media only screen and (max-width: 800px) {
	#nav , #mobile_menu_container {display:none;}
	#mobile_menu {display:block;}
}

/********************************************************************************************/
/*							END OF RESPONSIVE MEGAMENU										*/
/********************************************************************************************/

/********************************************************************************************/
/*								START OF MARQUEE CSS										*/
/********************************************************************************************/

/*
This CSS resource incorporates links to font software which is the valuable copyrighted
property of Monotype Imaging and/or its suppliers. You may not attempt to copy, install,
redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
Imaging with any questions regarding Web Fonts:  http://webfonts.fonts.com
*/
/* @import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=a9a47dd4-d9af-4f8a-9ee7-8c5bbd071fe2"); */
@font-face{
font-family:"HelveticaNeueETW01-75Bd";
src:url("../fonts/a95d2895-fa71-4ce7-bc1e-631169924be3.eot-#iefix")/*tpa=http://www.stryker.com/files/fonts/a95d2895-fa71-4ce7-bc1e-631169924be3.eot?#iefix*/;
src:url("../fonts/a95d2895-fa71-4ce7-bc1e-631169924be3.eot-#iefix")/*tpa=http://www.stryker.com/files/fonts/a95d2895-fa71-4ce7-bc1e-631169924be3.eot?#iefix*/ format("eot"),url("../fonts/588c9ba8-1d28-4ad6-bf18-7128152d84c4.woff")/*tpa=http://www.stryker.com/files/fonts/588c9ba8-1d28-4ad6-bf18-7128152d84c4.woff*/ format("woff"),url("../fonts/55334dfb-9c72-4147-8de0-21239f17ff25.ttf")/*tpa=http://www.stryker.com/files/fonts/55334dfb-9c72-4147-8de0-21239f17ff25.ttf*/ format("truetype"),url("../fonts/62455047-c81f-44f1-8938-7739fa0f0e8d.svg#62455047-c81f-44f1-8938-7739fa0f0e8d")/*tpa=http://www.stryker.com/files/fonts/62455047-c81f-44f1-8938-7739fa0f0e8d.svg#62455047-c81f-44f1-8938-7739fa0f0e8d*/ format("svg");
}
@font-face{
font-family:"Minion W01 Cap Regular";
src:url("../fonts/f1eed122-a501-4c59-85e4-4db18384cf87.eot-#iefix")/*tpa=http://www.stryker.com/files/fonts/f1eed122-a501-4c59-85e4-4db18384cf87.eot?#iefix*/;
src:url("../fonts/f1eed122-a501-4c59-85e4-4db18384cf87.eot-#iefix")/*tpa=http://www.stryker.com/files/fonts/f1eed122-a501-4c59-85e4-4db18384cf87.eot?#iefix*/ format("eot"),url("../fonts/c30f5672-a88d-407a-bf93-926f33c9d872.woff")/*tpa=http://www.stryker.com/files/fonts/c30f5672-a88d-407a-bf93-926f33c9d872.woff*/ format("woff"),url("../fonts/f008cedb-28d1-4788-aab9-82d6877f3939.ttf")/*tpa=http://www.stryker.com/files/fonts/f008cedb-28d1-4788-aab9-82d6877f3939.ttf*/ format("truetype"),url("../fonts/6f6cb6b6-28c0-4542-b435-5e2ba7ed5a81.svg#6f6cb6b6-28c0-4542-b435-5e2ba7ed5a81")/*tpa=http://www.stryker.com/files/fonts/6f6cb6b6-28c0-4542-b435-5e2ba7ed5a81.svg#6f6cb6b6-28c0-4542-b435-5e2ba7ed5a81*/ format("svg");
}

.skdslider{width:100%; position: relative; display: block;}
.skdslider:after {content: ''; padding-top: 25%; display: block;}
.skdslider ul.slides{margin:0; padding:0; list-style-type:none;}
.skdslider ul.slides li{display: none;}
.skdslider ul.slides li img{width: 100%; height:100%; border:0;}
.skdslider ul.slide-navs {
    bottom: -25px;
    left: 50%;
    position: absolute;
	list-style-type: none;
    margin: 0;
    padding: 0;
}
.skdslider ul.slide-navs li {
    float: left;
	background: url("../media/slide-bg.png")/*tpa=http://www.stryker.com/files/media/slide-bg.png*/ no-repeat scroll 0 0 transparent;
	height:12px;
	width:12px;
	margin-right:4px;
	cursor:pointer;
}
.skdslider ul.slide-navs li.current-slide {
	background: url("../media/slide-bg-active.png")/*tpa=http://www.stryker.com/files/media/slide-bg-active.png*/ no-repeat scroll 0 0 transparent;
}
.skdslider .slide-desc-l {
    left: 10%;
    padding: 0 15px 0 15px;
    position: absolute;
    top: 27%;
    width:40%;
 /* max-width: 550px;*/ /*BC: Not needed; font size will adjust in responsive CSS to allow for optimal reading*/
 /* min-width: 320px;*/ /*BC: Not needed; font size will adjust in responsive CSS to allow for optimal reading*/
	display:inline-block;
}
.skdslider .slide-desc-r {
    right: 10%;
    padding: 0 15px 0 15px;
    position: absolute;
    top: 27%;
    width:40%;
 /* max-width: 550px;*/ /*BC: Not needed; font size will adjust in responsive CSS to allow for optimal reading*/
 /* min-width: 320px;*//*BC: Not needed; font size will adjust in responsive CSS to allow for optimal reading*/
	display:inline-block;
}
.skdslider .slide-desc-l > h2 {
   color:#ffffff;
	font-family: 'HelveticaNeueETW01-75Bd', "Arial Black", "Arial Bold", Gadget, sans-serif;
    font-weight:900;
   font-size: 14pt;/* BC: Setting 100% to 14pt*/
    /*margin-bottom: 10px;*/
    /*margin-top: 10px;*/
    text-transform: uppercase;
    /*padding-bottom:10px;*/
    /* background: url('image/underline.png') left bottom no-repeat; */
    text-align:left;
}
.skdslider .slide-desc-l > p {
color: #FFFFFF;
	font-family: 'Minion W01 Cap Regular', TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    font-weight:400;
    font-size: 14pt;/* BC: Setting 100% to 14pt*/
   line-height: 1.33em;
    margin-top: 5px;
    text-align:left;
}
.skdslider .slide-desc-l > p a.more {
    color:#fff;
	font-size:14pt;/* BC: Setting 100% to 14pt*/
	font-weight: bold;
	text-decoration:none;
}
.skdslider .slide-desc-l > p a.more:hover {
	text-decoration:underline;
}
.skdslider .slide-desc-r > h2 {
    color: #ffffff;
    font-family: 'HelveticaNeueETW01-75Bd', "Arial Black", "Arial Bold", Gadget, sans-serif;
    font-weight: 900;
    font-size: 14pt; /* BC: Setting 100% to 14pt*/
    /*margin-bottom: 10px;*/
    /*margin-top: 10px;*/
    text-transform: uppercase;
    /*padding-bottom: 10px;*/
    /* background: url('image/underline.png') left bottom no-repeat; */
    text-align: left;
    }
.skdslider .slide-desc-r > p {
	color: #FFFFFF;
	font-family: 'Minion W01 Cap Regular', TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
	font-weight:400;
	font-size:14pt;/* BC: Setting 100% to 14pt*/
   line-height: 1.33em;
	margin-top: 5px;
	text-align:left;
}
.skdslider .slide-desc-r > p a.more {
   color:#fff;
	font-size:14pt;/* BC: Setting 100% to 14pt*/

	font-weight: bold;
	text-decoration:none;
}
.skdslider .slide-desc-r > p a.more:hover {
	text-decoration:underline;
}
.skdslider a.prev {
	/* background: url("image/left.png") no-repeat scroll 0 0 transparent; */
	width:35px;
	height:35px;
	display:block;
	cursor:pointer;
	position:absolute;
	top:50%;
	left:2%;
	margin-top:-17px;
}
.skdslider a.next {
    /* background: url("image/right.png") no-repeat scroll 0 0 transparent; */
	width:35px;
	height:35px;
	display:block;
	cursor:pointer;
	position:absolute;
	top:50%;
	right:2%;
	margin-top:-17px;
}
.skdslider a.prev:hover{
  
}
.skdslider a.next:hover{
  
}
.skdslider a.play{
    /* background: url("image/play.png") no-repeat scroll center center transparent; */
	width:35px;
	height:35px;
	display:none;
	cursor:pointer;
	position:absolute;
	top:50%;
	left:48%;
	margin-top:-17px;
}
.skdslider a.pause{
    /* background: url("image/pause.png") no-repeat scroll center center transparent; */
	width:35px;
	height:35px;
	display:none;
	cursor:pointer;
	position:absolute;
	top:50%;
	left:48%;
	margin-top:-17px;
}
.slider{min-width:310px;}

/* Responsive Styling */
@media only screen and (min-width: 2000px) {
/*	.skdslider .slide-desc-l {max-width:2000px; top:30%; width:30%;}*/ /*BC: Not needed; font size will adjust in responsive CSS to allow for optimal reading*/
    .skdslider .slide-desc-l > h2, .skdslider .slide-desc-r > h2 {font-size:2em;} /*BC: Responsive font size should be set in ems*/
	.skdslider .slide-desc-l > p, .skdslider .slide-desc-r > p  {font-size:1.5em;} /*BC: Responsive font size should be set in ems*/
	.skdslider .slide-desc-l > p a.more, .skdslider .slide-desc-r > p a.more {font-size:inherit;} /*BC: This keeps the hyperlink at the same scale as the paragraph*/
/*	.skdslider .slide-desc-r {max-width:2000px; top:30%; width:30%;}*/ /*BC: Not needed; font size will adjust in responsive CSS to allow for optimal reading*/
	/*.skdslider .slide-desc-r > h2 {font-size:2em;}*/ /*BC: combined in "left" definition */
	/*.skdslider .slide-desc-r > p {font-size:1.5em;}*/ /*BC: combined in "left" definition */
	/*.skdslider .slide-desc-r > p a.more {font-size:inherit;}*/ /*BC: combined in "left" definition */
}

@media only screen and (max-width: 2000px) {
/*	.skdslider .slide-desc-l {top:20%;}*/ /*BC: Not needed;*/
/*	.skdslider .slide-desc-r {top:20%;}*/ /*BC: Not needed;*/
	.skdslider .slide-desc-l > h2, .skdslider .slide-desc-r > h2 {font-size:1.95em;}/*BC: Responsive font size should be set in ems*/
	.skdslider .slide-desc-r > p, .skdslider .slide-desc-l > p {font-size:1.6em;} /*BC: Responsive font size should be set in ems*/
	.skdslider .slide-desc-r > p a.more, .skdslider .slide-desc-l > p a.more {font-size:inherit;} /*BC: This keeps the hyperlink at the same scale as the paragraph*/
}

@media only screen and (max-width: 1695px) {
/*	.skdslider .slide-desc-l {top:20%;}*/ /*BC: Not needed;*/
/*	.skdslider .slide-desc-r {top:20%;}*/ /*BC: Not needed;*/
	.skdslider .slide-desc-l > h2, .skdslider .slide-desc-r > h2 {font-size:1.75em;}/*BC: Responsive font size should be set in ems*/
	.skdslider .slide-desc-r > p, .skdslider .slide-desc-l > p {font-size:1.3em;} /*BC: Responsive font size should be set in ems*/
	.skdslider .slide-desc-r > p a.more, .skdslider .slide-desc-l > p a.more {font-size:inherit;} /*BC: This keeps the hyperlink at the same scale as the paragraph*/

}

@media only screen and (max-width: 1390px) {

/*	.skdslider .slide-desc-l {top:14%;}*/ /*BC: Not needed;*/
/*	.skdslider .slide-desc-r {top:14%;}*/ /*BC: Not needed;*/
	.skdslider .slide-desc-l > h2, .skdslider .slide-desc-r > h2 {font-size:1.45em;}/*BC: Responsive font size should be set in ems*/
    .skdslider .slide-desc-r > p, .skdslider .slide-desc-l > p  {font-size:1.2em;} /*BC: Responsive font size should be set in ems*/
	.skdslider .slide-desc-r > p a.more, .skdslider .slide-desc-l > p a.more  {font-size:inherit;} /*BC: This keeps the hyperlink at the same scale as the paragraph*/


}

@media only screen and (max-width: 1168px) {
/*	.skdslider .slide-desc-l {top:8%;}*/ /*BC: Not needed;*/
/*	.skdslider .slide-desc-r {top:8%;}*/ /*BC: Not needed;*/
}

@media only screen and (max-width:1080px) {
    /*	.skdslider .slide-desc-l {top:22%; width: 40%; left: 10%;}*/ /*BC: Not needed;*/
    /*	.skdslider .slide-desc-r {top:22%; width: 40%; right: 10%;}*/ /*BC: Not needed;*/
    .skdslider .slide-desc-l > h2, .skdslider .slide-desc-r > h2 {
        font-size: 1em; /*BC: Responsive font size should be set in ems*/
        /*margin-bottom: 5px;*/ /*BC: Not needed;*/
        /*margin-top: 5px;*/ /*BC: Not needed;*/
    }

    .skdslider .slide-desc-l > p, .skdslider .slide-desc-r > p {
        font-size: 1em; /*BC: Responsive font size should be set in ems*/
        /*line-height: 15px;*/ /*BC: Not needed;*/
        /*margin-top: 5px;*/ /*BC: Not needed;*/
    }

        .skdslider .slide-desc-l > p a.more, .skdslider .slide-desc-r > p a.more {
            font-size: inherit; /*BC: This keeps the hyperlink at the same scale as the paragraph*/
        }


}

@media only screen and (max-width: 800px) { /*BC: entire media query block changed*/

    .skdslider .slide-desc-r {
        right: 3%; 
        width: 47%;
        padding: 0px; 
        position: absolute;
        /*top: 11%;*/ 
        display: inline-block;
    }
     .skdslider .slide-desc-l{
        left: 3%; 
        padding: 0px; 
        position: absolute;
        /*top: 11%;*/ /*BC: Not needed;*/
        display: inline-block;
        width: 47%;
    }
        .skdslider .slide-desc-r > h2, .skdslider .slide-desc-l > h2 {
            font-size: .7em; /*BC: Responsive font size should be set in ems*/
        }
        .skdslider .slide-desc-r > p, .skdslider .slide-desc-l > p {
            font-size: .8em; /*BC: Responsive font size should be set in ems*/
        }
}

@media only screen and (max-width: 640px) {

	.skdslider .slide-desc-l {
		left: 0px;
		padding: 2px 15px 2px 15px;
		position: absolute;
		top:105%;
		display:inline-block;
		width: 93%;
		max-width: initial;
	}
	.skdslider .slide-desc-r {
		left: 0px;
		padding: 2px 15px 2px 15px;
		position: absolute;
		top:105%;
		display:inline-block;
		width: 93%;
		max-width: initial;
	}
	.skdslider .slide-desc-l > h2, 	.skdslider .slide-desc-r > h2 {
		color: #8dbfd7;
		font-size: 1em; /*BC: Responsive font size should be set in ems*/
		margin-bottom: 10px;
		margin-top: 10px;
		text-transform: uppercase;
		padding-bottom:10px;
		text-align: center;
	}
	.skdslider .slide-desc-l > p, 	.skdslider .slide-desc-r > p {
		color: #000;
		font-size: 1em; /*BC: Responsive font size should be set in ems*/
/*		line-height: 14px;*/ /*BC: Not needed;*/
		margin-top: 5px;
		text-align: center;
	}
	.skdslider .slide-desc-l > p a.more, 	.skdslider .slide-desc-r > p a.more {
		color:#000;
		font-size:inherit; /*BC: */
		font-weight: bold;
		text-decoration:none;
	}
	.skdslider .slide-desc-l > p a.more:hover, 	.skdslider .slide-desc-r > p a.more:hover {
		text-decoration:underline;
	}



	.skdslider ul.slide-navs {bottom: -165px;}
	.skdslider a.prev{top:50%;}
	.skdslider a.next{top:50%;}
	.skdslider a.play{top:50%;}
	.skdslider a.pause{top:50%;}

	#marquee{padding-bottom:180px;}
}  

@media only screen and (max-width: 563px) {
	.skdslider .slide-desc-l {
		/* left: 10%; */ /*BC: Not needed;*/
		padding: 2px 15px 2px 15px;
		position: absolute;
		bottom: -155px;
		display:inline-block;
	}
	.skdslider .slide-desc-r {
		/* left: 10%; */ /*BC: Not needed;*/
		padding: 2px 15px 2px 15px;
		position: absolute;
		bottom:-155px;
		display:inline-block;
	}
	
	.skdslider .slide-desc-l > h2 {
		color: #8dbfd7;
/*		font-size: 20px;*/ /*BC: Not needed;*/
		margin-bottom: 10px;
		margin-top: 10px;
		text-transform: uppercase;
		padding-bottom:10px;
	}
	.skdslider .slide-desc-l > p {
		color: #000;
/*		font-size: 14px;*/ /*BC: Not needed;*/
/*		line-height: 14px;*/ /*BC: Not needed;*/
		margin-top: 5px;
		/* width: 395px; */ /*BC: Not needed;*/
	}
	.skdslider .slide-desc-l > p a.more {
		color:#000;
/*		font-size:12px;*/ /*BC: Not needed;*/
		font-weight: bold;
		text-decoration:none;
	}
	.skdslider .slide-desc-l > p a.more:hover {
		text-decoration:underline;
	}

	.skdslider .slide-desc-r > h2 {
		color: #8dbfd7;
/*		font-size: 20px;*/ /*BC: Not needed;*/
		margin-bottom: 10px;
		margin-top: 10px;
		text-transform: uppercase;
		padding-bottom:10px;
	}
	.skdslider .slide-desc-r > p {
		color: #000;
/*		font-size: 14px;*/ /*BC: Not needed;*/
/*		line-height: 14px;*/ /*BC: Not needed;*/
		margin-top: 5px;
	}
	.skdslider .slide-desc-r > p a.more {
		color:#000;
/*		font-size:12px;*/ /*BC: Not needed;*/
		font-weight: bold;
		text-decoration:none;
	}
	.skdslider .slide-desc-r > p a.more:hover {
		text-decoration:underline;
	}
	
	.skdslider ul.slide-navs {bottom: -165px;}
	.skdslider a.prev{top:50%;}
	.skdslider a.next{top:50%;}
	.skdslider a.play{top:50%;}
	.skdslider a.pause{top:50%;}
	
	#marquee{padding-bottom:180px;}
}  

@media only screen and (max-width: 480px) {
	.skdslider ul.slide-navs {bottom: -205px;}
	.skdslider .slide-desc-l {
		padding: 2px 15px 2px 15px;
		position: absolute;
		bottom: -190px;
		display:inline-block;
		width: 92%;
	}
	.skdslider .slide-desc-r {
		padding: 2px 15px 2px 15px;
		position: absolute;
		bottom: -190px;
		display:inline-block;
		width: 92%;
	}
	.skdslider .slide-desc-l > h2 {
		color: #8dbfd7;
/*		font-size: 20px;*/ /*BC: Not needed;*/
		margin-bottom: 10px;
		margin-top: 10px;
		text-transform: uppercase;
		padding-bottom:10px;
	}
	.skdslider .slide-desc-l > p {
		color: #000;
/*		font-size: 14px;*/ /*BC: Not needed;*/
/*		line-height: 14px;*/ /*BC: Not needed;*/
		margin-top: 5px;
	}
	.skdslider .slide-desc-l > p a.more {
		color:#000;
/*		font-size:12px;*/ /*BC: Not needed;*/
		font-weight: bold;
		text-decoration:none;
	}
	.skdslider .slide-desc-l > p a.more:hover {
		text-decoration:underline;
	}
	.skdslider .slide-desc-r > h2 {
		color: #8dbfd7;
/*		font-size: 20px;*/ /*BC: Not needed;*/
		margin-bottom: 10px;
		margin-top: 10px;
		text-transform: uppercase;
		padding-bottom:10px;
	}
	.skdslider .slide-desc-r > p {
		color: #000;
/*		font-size: 14px;*/ /*BC: Not needed;*/
/*		line-height: 14px;*/ /*BC: Not needed;*/
		margin-top: 5px;
	}
	.skdslider .slide-desc-r > p a.more {
		color:#000;
/*		font-size:12px;*/ /*BC: Not needed;*/
		font-weight: bold;
		text-decoration:none;
	}
	.skdslider .slide-desc-r > p a.more:hover {
		text-decoration:underline;
	}
	#marquee{padding-bottom:220px;}
} 

   
@media only screen and (max-width: 340px) {

	.skdslider ul.slide-navs {bottom: -385px;}
	.skdslider a.prev{top:140%;}
	.skdslider a.next{top:140%;}
	.skdslider a.play{top:140%;}
	.skdslider a.pause{top:140%;}

	.skdslider .slide-desc-l {
		left: 0%;
		padding: 2px 15px 2px 15px;
		position: absolute;
		top:320%;
		display:inline-block;
	}
	.skdslider .slide-desc-r {
		left: 0%;
		padding: 2px 15px 2px 15px;
		position: absolute;
		top:320%;
		display:inline-block;
	}
	.skdslider .slide-desc-l > h2 {
		color: #8dbfd7;
/*		font-size: 20px;*/ /*BC: Not needed;*/
		margin-bottom: 10px;
		margin-top: 10px;
		text-transform: uppercase;
		padding-bottom:10px;
		width: 280px;
	}
	.skdslider .slide-desc-l > p {
		color: #000;
/*		font-size: 14px;*/ /*BC: Not needed;*/
/*		line-height: 20px;*/ /*BC: Not needed;*/
		margin-top: 5px;
		width: 280px;
	}
	.skdslider .slide-desc-l > p a.more {
		color:#000;
/*		font-size:12px;*/ /*BC: Not needed;*/
		font-weight: bold;
		text-decoration:none;
	}
	.skdslider .slide-desc-l > p a.more:hover {
		text-decoration:underline;
	}
	.skdslider .slide-desc-r > h2 {
		color: #8dbfd7;
/*		font-size: 20px;*/ /*BC: Not needed;*/
		margin-bottom: 10px;
		margin-top: 10px;
		text-transform: uppercase;
		padding-bottom:10px;
		width: 280px;
	}
	.skdslider .slide-desc-r > p {
		color: #000;
/*		font-size: 14px;*/ /*BC: Not needed;*/
/*		line-height: 20px;*/ /*BC: Not needed;*/
		margin-top: 5px;
		width: 280px;
	}
	.skdslider .slide-desc-r > p a.more {
		color:#000;
/*		font-size:12px;*/ /*BC: Not needed;*/
		font-weight: bold;
		text-decoration:none;
	}
	.skdslider .slide-desc-r > p a.more:hover {
		text-decoration:underline;
	}
	.slider{min-width:310px;}
	html{overflow-x:hidden;}
	#marquee{padding-bottom:400px;}
}

/********************************************************************************************/
/*								END OF MARQUEE CSS											*/
/********************************************************************************************/
