/* Medium Fonts */
body, p, td, input{
font-size:12px;
}
#content{
line-height:17px;
}
p.leadIn{
font-size:16px;
line-height:20px;
}
p.first{
font-size:13px;
line-height:18px;
}
#breadcrumb{
font-size:10px;
}
.overview .list td {
font-size:11px;
line-height:13px;
}
#rightCol .box {
font-size:11px;
}
#rightCol .box .item.quote {
font-size:13px;
}
.list a {
font-size:11px;
line-height:12px;
}
.person .detail{
font-size:11px;
line-height:12px;
}