/* Large Fonts */
body, p, td, input{
font-size:14px;
}
#content{
line-height:19px;
}
p.leadIn{
font-size:18px;
line-height:22px;
}
p.first{
font-size:15px;
line-height:20px;
}
#breadcrumb{
font-size:12px;
}
.overview .list td {
font-size:13px;
line-height:15px;
}
#rightCol .box {
font-size:13px;
}
#rightCol .box .item.quote {
font-size:15px;
}
.list a {
font-size:13px;
line-height:14px;
}
.person .detail{
font-size:13px;
line-height:14px;
}