/*
*****************************************************************
	Table of Contents
	
	1. Global Rules
	2. Outer Shadow Rules
	3. Content Rules 
	4. Right Column Rules 
	5. Crisis Rules 
	6. Footer Rules 
	7. Modal Window Rules
	8. Utility Rules

******************************************************************
*/


/* 
******************************************************************
	1. Global Rules 
******************************************************************
*/
html{
	height: 100%;
}
body{
	min-height:100%;
	background: #999999 url(../images/bg-stripes.png)/*tpa=http://www.firstam.com/assets/images/bg-stripes.png*/;
	margin:0;
}
#centerPage{
	min-height: 100%;
	display:block;
	padding:0 15px;
	background:url(../images/bg-stars.png)/*tpa=http://www.firstam.com/assets/images/bg-stars.png*/ no-repeat;
	overflow:visible;
}
#headerCornerLeft{
	position:absolute;
	top:0px; left:0px;
	width:7px; height:7px;
	background: url(../images/header-corner-left.png)/*tpa=http://www.firstam.com/assets/images/header-corner-left.png*/ left top no-repeat;
	z-index:10;
}
#headerCornerRight{
	position:absolute;
	top:0px; right:0px;
	width:7px; height:7px;
	background: url(../images/header-corner-right.png)/*tpa=http://www.firstam.com/assets/images/header-corner-right.png*/ left top no-repeat;
	z-index:10;
}
#contentTable{
	background: #f3f3f3;
}

/***** 4th of July *****
html body{
	background: #103E70 url("https://www.firstam.com/assets/images/bg-fireworks-bottom.jpg") center 482px repeat-x;
	background-attachment: fixed;
}
html #logo img{
	background-image: url("https://www.firstam.com/assets/images/logo-white.png");
}
html .faf #logo img{
	background-image: url("https://www.firstam.com/assets/faf/images/logo-white.png");
}
html .commercial #logo img{
	background-image: url("https://www.firstam.com/assets/images/logo-commercial-white.png");
}
html .homebuilder #logo img{
	background-image: url("https://www.firstam.com/assets/images/logo-homebuilder-white.png");
}
#fafQuote{
	color: #ffffff;
}
html #centerPage{
	background: url("https://www.firstam.com/assets/images/bg-fireworks-top.jpg") center top repeat-x;
	background-attachment: fixed;
}
html #headerCornerLeft{
	background: url("https://www.firstam.com/assets/images/header-corner-fw-left.png") left top no-repeat;
}
html #headerCornerRight{
	background: url("https://www.firstam.com/assets/images/header-corner-fw-right.png") left top no-repeat;
}
#contentTable {
	background: url("https://www.firstam.com/assets/images/bg-content.png") repeat;
}
***** End 4th of July *****/
/***** 4th of July *****
html body{
	background: #2a3a16 url("https://www.firstam.com/assets/images/bg-flags.jpg") center top repeat-x;
	background-attachment: fixed;
}
#fafQuote{
	color: #ffffff;
}
html #centerPage{
	background: none;
}
html #headerCornerLeft{
	background: url("https://www.firstam.com/assets/images/header-corner-flags-left.png") left top no-repeat;
}
html #headerCornerRight{
	background: url("https://www.firstam.com/assets/images/header-corner-flags-right.png") left top no-repeat;
}
#contentTable {
	background: url("https://www.firstam.com/assets/images/bg-content.png") repeat;
}
***** End 4th of July *****/
/***** Holiday BG -- comment this after the holidays *****
html body{
	background: #193445 url("https://www.firstam.com/assets/images/holiday/2012-holiday-bg.jpg") center top repeat-x;
}
html #logo img{
	background-image: url("https://www.firstam.com/assets/images/logo-white.png");
}
html .faf #logo img{
	background-image: url("https://www.firstam.com//assets/faf/images/logo-white.png");
}
html .commercial #logo img{
	background-image: url("https://www.firstam.com/assets/images/logo-commercial-white.png");
}
html .homebuilder #logo img{
	background-image: url("https://www.firstam.com/assets/images/logo-homebuilder-white.png");
}
#fafQuote{
	color: #ffffff;
}
html #centerPage{
	background: none;
}
html #headerCornerLeft{
	background: url("https://www.firstam.com/assets/images/holiday/2012-holiday-left.png") left top no-repeat;
}
html #headerCornerRight{
	background: url("https://www.firstam.com/assets/images/holiday/2012-holiday-right.png") left top no-repeat;
}
#contentTable {
	background: url("https://www.firstam.com/assets/images/bg-content.png") repeat;
}

		html body {
			background: #2076af url(/assets/images/holiday/background-sparkles-2013.jpg) repeat-x;
			background-attachment:fixed;
		}
		html #logo img{
			background-image: url("/assets/images/logo.png");
		}
		html .faf #logo img{
			background-image: url("/assets/faf/images/logo.png");
		}
		html .commercial #logo img{
			background-image: url("/assets/images/logo-commercial.png");
		}
		html .homebuilder #logo img{
			background-image: url("/assets/images/logo-homebuilder.png");
		}
		
		html #centerPage {
			background:none;
			padding: 0;
			min-height: 3000px;
		}
		
		html #headerCornerLeft{
			background: url("/assets/images/holiday/header-corner-sparkles-2013-left.png") left top no-repeat;
		}
		html #headerCornerRight{
			background: url("/assets/images/holiday/header-corner-sparkles-2013-right.png") left top no-repeat;
		}
		#contentTable {
			background: url("/assets/images/bg-content.png") repeat;
		}
		
		.snow1 {
			background: url(/assets/images/holiday/snowflakes-small-p8.png);
			background-attachment:fixed;
			background-position: center 0px;
			width: 100%;
			position: absolute;
			min-height: 3000px;
			height: 100%;
			z-index: 0;
		}
		.snow1b {
			background: url(/assets/images/holiday/snowflakes-med-p8.png);
			background-attachment:fixed;
			background-position: right 0px;
			width: 100%;
			position: absolute;
			min-height: 3000px;
			height: 100%;
			z-index: 0;
		}
		
		.snow2 {
			background: url(/assets/images/holiday/snowflake-med-8b.png) no-repeat;
			background-attachment:fixed;
			background-size: 15%;
			width: 100%;
			position: absolute;
			min-height: 3000px;
			height: 100%;
			z-index: 0;
		}
		.snow2.pos1 {
			background-position: -3% 75px;
		}
		.snow2.pos2 {
			background-position: 60% -170px;
		}
		.snow3 {
			background: url(/assets/images/holiday/snowflake-med-8b.png) no-repeat;
			background-attachment:fixed;
			background-size: 12%;
			width: 100%;
			position: absolute;
			min-height: 3000px;
			height: 100%;
			z-index: 0;
		}
		.snow3.pos3 {
			background-position: 97% 200px;
		}
		.snow3.pos4 {
			background-position: 7% 500px;
		}
		#logoEagle{
			display:none;
		}
***** End Holiday BG *****/

#pageWrapper{
	position:relative;
	width: 954px;
	padding: 83px 0 25px;
}
#logo{
	position: absolute;
	top:19px; left:18px;
	z-index:1000;
}
#logo img{
	width: 295px; height: 55px;
	background:url(../images/logo.png)/*tpa=http://www.firstam.com/assets/images/logo.png*/ no-repeat;
}
#logoPrint{
	display:none;
}
#logoEagle-hold{
	position:absolute;
	visibility:hidden;
}
#ticker{
	padding:13px 3px 0 1px;
}
#pageTable{
	width: 100%;
	text-align:left;
}
.headerWrapper{
	background: url(../images/bg-wood.jpg)/*tpa=http://www.firstam.com/assets/images/bg-wood.jpg*/ center top;
}
#header{
	position:relative;
	height:255px;
	background: url(../images/main-int.jpg)/*tpa=http://www.firstam.com/assets/images/main-int.jpg*/ center top no-repeat;
}
#pressRlease #header{
	background-position: right top;
}
#headerCorners{
	position:absolute;
	top:0px; left:0px;
	width:934px; height:7px;
	background: url(../images/flash-corners.png)/*tpa=http://www.firstam.com/assets/images/flash-corners.png*/ center top no-repeat;
	z-index:5;
}
#header.flash{
	background: url(../images/bg-wood.jpg)/*tpa=http://www.firstam.com/assets/images/bg-wood.jpg*/ center top;
}
#header.flash #flashMovie{
	width:934px; height:426px;
	position:absolute;
	top:0px; left:0px;
	z-index:1;
}
#header.flash #intFlashMovie{
	width:934px; height:255px;
	position:absolute;
	top:0px; left:0px;
	z-index:1;
}
	
#title #header{
	background: url(../images/main-int2.jpg)/*tpa=http://www.firstam.com/assets/images/main-int2.jpg*/ center top no-repeat;
}
#fahomebuilder #header{
	background: url() center top no-repeat;
}
#headerLeft, #headerLeft img, #headerRight, #headerRight img{
	width:10px; height:244px; min-height:244px; max-height:244px;
}
#contentWrapper{
	border-top:1px solid #fafafa;
	width:100%;
}
td{
	vertical-align:top;
}
.hr{
	display:block;
	height:0px;
	border:0px none;
	border-bottom:1px solid #acacac;
	margin:5px 0px 17px;
	overflow:hidden;
	clear:both;
}
.hr.lt{
	border-bottom:1px solid #bebebe;
}
.hr.dk{
	border-bottom: 1px solid #bfbfbf;
	margin: 5px 0px;
}
.hr.blue{
	border-bottom:1px solid #b6c5d2;
}

/* Global Fonts */
body, p, td, input{
	font-family:Arial, Helvetica, sans-serif;
	color:#464646;
	font-size:12px;
}
#content{
	line-height:17px;
}
h1{
	color:#013a6f;
	font-size:30px;
	line-height:32px;
	font-style:italic;
	font-weight:bold;
	padding-bottom:30px;
}
h1 sup{
	font-size:16px;
	font-style:normal;
}
h1.sub{
	font-weight:normal;
	padding-bottom:11px;
}
h2{
	font-size:16px;
	font-weight:normal;
	padding-bottom:15px;
}
h3{
	color:#464646;
	font-size:14px;
	font-weight:bold;
}
h4{
	color:#013a6f;
	font-size:16px;
	font-weight:bold;
}
h5{
	color:#013a6f;
	font-size:12px;
	font-weight:bold;
}
sup{
	font-size: 70%;
	vertical-align: super;
}

strong{
	font-weight:bold;
}
em,i{
	font-style:italic;
	font-weight: inherit;
}
p{
	padding-bottom:12px;
}
p.leadIn{
	font-size:16px;
	line-height:20px;
}
p.first{
	font-size:13px;
	line-height:18px;
}
.print{
	display:none;
}
.note{
	color:#959595;
	font-weight:normal;
}
#contentTable input.txt{
	height:16px; 
	font-size:12px;
	padding:3px;
	border:1px solid #cccccc;
}
blockquote{
	padding: 0 0 0 25px;
}
.indent{
	padding: 0 0 0 25px;
}

/* 
******************************************************************
	2. Outer Shadow Rules 
******************************************************************
*/
#shadowTop{
	width: 100%; height:10px; 
	background:url(../images/shadow-t.png)/*tpa=http://www.firstam.com/assets/images/shadow-t.png*/ repeat-x;
}
#shadowTopLeft, #shadowTopRight, #shadowTopLeft img, #shadowTopRight img{
	width:10px; height:10px;
}
#shadowTopLeft img{
	background:url(../images/shadow-tl.png)/*tpa=http://www.firstam.com/assets/images/shadow-tl.png*/ no-repeat;
}
#shadowTopRight img{
	background:url(../images/shadow-tr.png)/*tpa=http://www.firstam.com/assets/images/shadow-tr.png*/ no-repeat;
}
#shadowTopLeftInner, #shadowTopRightInner, #shadowTopLeftInner img, #shadowTopRightInner img{
	width:15px; height:10px;
}
#shadowTopLeftInner img{
	background:url(../images/shadow-tl-inner.png)/*tpa=http://www.firstam.com/assets/images/shadow-tl-inner.png*/ no-repeat;
}
#shadowTopRightInner img{
	background:url(../images/shadow-tr-inner.png)/*tpa=http://www.firstam.com/assets/images/shadow-tr-inner.png*/ no-repeat;
}
#shadowTopLeft2, #shadowTopRight2{
	width:10px; height:11px; min-height:11px; max-height:11px;
}
#shadowTopLeft2 img, #shadowTopRight2 img{
	width:10px; height:11px; min-height:11px; max-height:11px;
}
#shadowTopLeft2 img{
	background:url(../images/shadow-tl2.png)/*tpa=http://www.firstam.com/assets/images/shadow-tl2.png*/ no-repeat;
}
#shadowTopRight2 img{
	background:url(../images/shadow-tr2.png)/*tpa=http://www.firstam.com/assets/images/shadow-tr2.png*/ no-repeat;
}
.shadowLeft, .shadowLeft img, .shadowRight, .shadowRight img{
	width:10px;
}
.shadowLeft{
	background:url(../images/shadow-l.png)/*tpa=http://www.firstam.com/assets/images/shadow-l.png*/ repeat-y;
}
.shadowRight{
	background:url(../images/shadow-r.png)/*tpa=http://www.firstam.com/assets/images/shadow-r.png*/ repeat-y;
}
#shadowBotLeft, #shadowBotRight, #shadowBotLeft img, #shadowBotRight img{
	width:25px; height:21px;
}
#shadowBotLeft img{
	background:url(../images/footer-l.png)/*tpa=http://www.firstam.com/assets/images/footer-l.png*/ no-repeat;
}
#shadowBot{
	width:100%; height:21px;
}
#shadowBotTop{
	height:11px; width:100%;
	background-color:#797979;
	overflow:hidden;
}
#shadowBotBot{
	height:10px; width:100%;
	overflow:hidden;
	background:url(../images/footer-b.png)/*tpa=http://www.firstam.com/assets/images/footer-b.png*/ repeat-x;
}
#shadowBotRight img{
	background:url(../images/footer-r.png)/*tpa=http://www.firstam.com/assets/images/footer-r.png*/ no-repeat;
}

/* 
******************************************************************
	3. Content Rules 
******************************************************************
*/
#breadcrumb{ /* dark slashes only for the top breadcrumb */
	color:#464646;
}
#breadcrumb .blue{ /* dark slashes only for the top breadcrumb */
	color:#013A6F;
	border:none;
}
.breadcrumb{
	font-size:10px;
	line-height:17px;
	color:#acacac;
	padding-bottom:13px;
	margin-left:-2px; /* to offset the padding below */
}
#footer .breadcrumb, #footer .breadcrumb a, #footer .breadcrumb a:visited, #footer .breadcrumb span, #footer .breadcrumb a, #footer .breadcrumb a:visited{
	color:#bababa;
}
.breadcrumb .blue{
	color:#809cb7;
}
#footer .breadcrumb .blue, #footer .breadcrumb .blue a, #footer .breadcrumb .blue a:link, #footer .breadcrumb .blue a:visited{
	color:#cccccc;
	border:none;
}
.breadcrumb a, .breadcrumb a:visited, .breadcrumb span, #footer .breadcrumb a, #footer .breadcrumb a:visited{
	color:#acacac;
	text-decoration:none;
	font-weight:normal;
	padding:0 2px;
}
.breadcrumb .blue span, .breadcrumb .blue a, .breadcrumb .blue a, .breadcrumb .blue a:visited{
	color:#809cb7;
}
.breadcrumb a:hover, #footer .breadcrumb a:hover{
	text-decoration:underline;
}
.breadcrumb.over, .breadcrumb.over a, .breadcrumb.over a:visited, .breadcrumb.over span, #footer .breadcrumb.over a, #footer .breadcrumb.over a:visited{
	color:#464646;
}
.breadcrumb.over .blue, .breadcrumb.over .blue a, .breadcrumb.over .blue a:visited, .breadcrumb.over .blue span, #footer .breadcrumb.over .blue a, #footer .breadcrumb.over .blue a:visited{
	color:#013A6F;
}
#content #breadcrumb.over{
	background:none;
}
.breadcrumb span{
	padding-left:2px;
}
#content{
	width:100%; min-height:200px;
	padding: 25px 50px 70px 50px;
	vertical-align:top;
}
#content ul{
	padding: 2px 0 2px;
}
#content li{
	padding: 0 0 10px 10px;
	background: url(../images/sprite-bullets.gif)/*tpa=http://www.firstam.com/assets/images/sprite-bullets.gif*/ 0px -74px no-repeat;
}
#content ul ul{
	padding: 5px 0 0;
}
#content li li{
	padding: 0 0 5px 20px;
	background-position: 10px -74px;
}
#content #disqus_thread li{
	background: none;
}
#content ol{
	padding:2px 0 2px 18px;
}
#content ol li{
	padding:0 0 10px 0px;
	list-style-type: decimal;
	background: none;
}
#content ol ol li{
	list-style-type: lower-alpha;
}

#col1, #col2{
	width:254px;
	padding-top:100px;
	float:left;
	overflow:hidden;
}
#col1{
	padding-right:49px;
	clear:left;
}
#col1 h2, #col2 h2{
	color:#FFFFFF;
	font-size: 20px;
	font-style:italic;
	padding:0 0 20px 7px;
}
#col1 li, #col2 li{
	color:#013a6f;
	font-weight:bold;
	line-height:13px;
	padding:0 0 10px 7px;
	background:url(../images/sprite-bullets.gif)/*tpa=http://www.firstam.com/assets/images/sprite-bullets.gif*/ 0px -37px no-repeat;
}
#col1 li a, #col2 li a{
	text-decoration:none;
}
#col1 li a:hover, #col2 li a:hover{
	text-decoration:underline;
}
#col1 li span, #col2 li span{
	font-size:16px;
	font-weight:normal;
}
.subCol{
	width:160px;
	float:left;
}
.subCol.lrg{
	width: 45%;
}
.subCol.sm{
	width:109px;
}
.subCol2{
	width:240px;
	float:left;
}
h2.subSection{
	padding:12px 0 12px 0;
}

#content .closed, #content .opened, #content .link{
	cursor:pointer;
	padding:12px 0 8px 7px;
}
#content .subSection.closed, #content .subSection.opened{
	cursor:pointer;
	padding:12px 0 8px 0px;
}
#content .closed h3, #content .opened h3, #content .link h3 a{
	color:#013a6f;
	text-decoration:none;
}
#content .opened{
	padding:12px 0 0px 7px;
}
#content .subSection.opened{
	padding:12px 0 2px 0px;
}
#content .closed.over{
	background:#c8d1d9;
}
#content #at.over{ /* IE6 did not respect the overridden style using a class */
	background:none;
}

.detail .subCol{
	width:130px;
}
a{
	color: #013a6f;
}
a:hover{
	text-decoration: none;
}

/* Photos w/ Shadows */
.photo {
padding:0 10px 0 3px;
}
div.photo {
padding:0 0 0 3px;
}
.photo .tl,.photo .tl img,.photo .tr,.photo .tr img,.photo .bl,.photo .bl img,.photo .br,.photo .br img{
	width:8px; height:8px;
}
.photo .tl{
	background:url(../images/img-shadow-tl.png)/*tpa=http://www.firstam.com/assets/images/img-shadow-tl.png*/;
}
.photo .t{
	background:url(../images/img-shadow-t.png)/*tpa=http://www.firstam.com/assets/images/img-shadow-t.png*/;
}
.photo .tr{
	background:url(../images/img-shadow-tr.png)/*tpa=http://www.firstam.com/assets/images/img-shadow-tr.png*/;
}
.photo .l{
	background:url(../images/img-shadow-l.png)/*tpa=http://www.firstam.com/assets/images/img-shadow-l.png*/;
}
.photo .r {
	background:url(../images/img-shadow-r.png)/*tpa=http://www.firstam.com/assets/images/img-shadow-r.png*/;
}
.photo .bl{
	background:url(../images/img-shadow-bl.png)/*tpa=http://www.firstam.com/assets/images/img-shadow-bl.png*/;
}
.photo .b{
	background:url(../images/img-shadow-b.png)/*tpa=http://www.firstam.com/assets/images/img-shadow-b.png*/;
}
.photo .br {
	background:url(../images/img-shadow-br.png)/*tpa=http://www.firstam.com/assets/images/img-shadow-br.png*/;
}
#listReps .photo .wrapper img{
	width:70px;
	height: 70px;
}
/* larger photo for Reps
.rep .photo .wrapper img{
	width: 107px;
	height: 107px;
}*/
.event .thumb{
	width:110px;
}
.thumb .photo .wrapper img{
	width:77px;
}
.thumb .photo{
	margin:0 14px 5px 0px;
}
.photos{
	padding-left:2px;
}
.photos label{
	display:block;
	padding:0 0 1px 6px;
	font-size:11px;
	font-weight:bold;
}
.photos .photo{
	padding:2px 10px 8px 0;
	float:left;
}
.photos .photo .wrapper img{
	width:77px; height:56px;
	background:#cdcdcd;
}
/* End Photos w/ Shadows */

/* Inline Photos */
.inlinePhoto{
	display:inline-block;
	border:1px solid #C6C6C6;
	color:#464646;
	font-size:11px;
	margin:3px 20px 17px 20px;
	padding:5px;
}
.inlinePhoto img{
	display:block;
}
img.alignLeft,img.alignRight,img.alignNone{
	display:inline-block;
	border:1px solid #C6C6C6;
	color:#464646;
	font-size:11px;
	margin:3px 20px 10px 20px;
	padding:5px;
}
img.alignLeft{
	float:left;
	margin-left:0px;
}
img.alignRight{
	float:right;
	margin-right:0px;
}
img.alignNone{
	text-align:inherit;
	margin-left:auto;
	margin-right:auto;
}
div.alignLeft .inlinePhoto{
	margin-left:0px;
}
div.alignRight .inlinePhoto{
	margin-right:0px;
}
.caption{
	display:block;
	margin:0 10px;
	padding:7px 0 3px;
	line-height:normal;
	text-align:left;
}
/* End Inline Photos */

/* List of Links */
.linkList{
	padding:4px 0 7px 0;
}
.linkList td{
	padding-bottom: 4px;
}
.linkList th{
	font-size: 11px;
	line-height: 12px;
	font-weight:bold;
	padding:4px 10px 7px 5px;
}
.linkList a{
	font-size: 11px;
	line-height: 12px;
	font-weight:bold;
	display:block;
	padding:4px 10px 7px 13px;
	background:url(../images/sprite-bullets.gif)/*tpa=http://www.firstam.com/assets/images/sprite-bullets.gif*/ 7px -452px no-repeat;
}
.linkList a:hover{
	text-decoration:none;
}
.linkList strong{
	display:block;
	padding: 8px 10px 2px 0px;
}
.person .linkList a, .person .linkList span{
	display:inline;
	padding:0px 10px 2px 7px;
	background:url(../images/sprite-bullets.gif)/*tpa=http://www.firstam.com/assets/images/sprite-bullets.gif*/ 1px -455px no-repeat;
}
.person.sub .linkList a, .person.sub .linkList span{
	display:inline;
	padding:0px 10px 2px 7px;
	background:url(../images/sprite-bullets.gif)/*tpa=http://www.firstam.com/assets/images/sprite-bullets.gif*/ 1px -455px no-repeat;
}
.person .linkList span span, .person.sub .linkList span span{
	padding: 0px;
	background: none;
}
.stateMap .linkList{
	padding: 4px 0 0 10px;
}
/* End List of Links */

/* List of Links w/ Descriptions */
.closed a{
	color:#464646;
	text-decoration:none;
}
.list{
	padding:4px 0 7px 0;
}
.list p{
	font-size: 11px;
}
.list .group, .list .item{
	font-size: 11px;
	/*padding:0 10px 8px 0; Adding 7 left px for colapsing */
	padding:0 10px 8px 0px;
	line-height: 12px;
	cursor:pointer;
}
.list .item a{
	padding-bottom:0;
}
.list .group.over, .list .item.over{
	background-color:#c8d1d9;
}
.list a{
	color:#464646;
	font-size: 11px;
	display:block;
	padding:4px 10px 7px 13px;
	line-height: 12px;
	text-decoration:none;
	background:url(../images/sprite-bullets.gif)/*tpa=http://www.firstam.com/assets/images/sprite-bullets.gif*/ 7px -452px no-repeat;
}
.list .subCol a{
	padding:0;
	background:none;
}
.list .subCol a:hover{
	text-decoration:none;	
}
.list h2 a{
	font-size: 16px;
	display:inline;
	padding:0px;
	line-height: normal;
	text-decoration:none;
	background:none;
}

.list div.subCol{
	color:#464646;
	font-size: 11px;
	display:block;
	padding:4px 10px 7px 13px;
	line-height: 12px;
	text-decoration:none;
	background:url(../images/sprite-bullets.gif)/*tpa=http://www.firstam.com/assets/images/sprite-bullets.gif*/ 7px -72px no-repeat;
}
.list a:hover{
	background-color:#c8d1d9;
}
.list a.off{
	display:none;
}
.list a strong{
	color:#013a6f;
	text-decoration:underline;
	word-wrap:break-word;
}
.fileSize{
	white-space:nowrap;
}
.actions{
	padding:8px 0 5px 5px;
}
.actions a{
	color:#013a6f;
	font-weight:bold;
	text-decoration:underline;
	display:inline;
	padding:0 0 0 8px;
	background:none;
}
.actions a:hover{
	text-decoration:none;
}
.actions a:hover strong{
	text-decoration:none;
}
.list .group a.prim, .list .item a.prim{
	padding-right:0;
	padding-bottom:0;
}
#col2 .list .h2, .person h2{
	display:block;
	color:#013a6f;
	font-size:16px;
	font-weight:bold;
	font-style:normal;
	line-height: 16px;
	padding:0;
}
.list .photo{
	padding:5px 5px 8px 5px;
	float:left;
}
.list h2{
	padding:0;
}
.list h4{
	font-size:11px;
	font-weight:bold;
	padding:0 0 1px 6px;
}
.list .detail{
	line-height:13px;
	padding: 11px 10px 0 0;
}
#content .list ul{
	padding:0px 0 8px 13px;
}
#content .list ul li {
	padding:0 0 5px 17px;
	background:url(../images/sprite-bullets.gif)/*tpa=http://www.firstam.com/assets/images/sprite-bullets.gif*/ 10px -715px no-repeat;
}
/* End List of Links w/ Descriptions */

/* People (Contact Info) */
.person{
	min-width:183px;
	padding:13px 0 2px 0;
	float:left;
}
.person{
	padding:13px 0 2px 0;
	float:left;
}
table.person{
	width:280px;
}
table.person .detail{
	width:100%;
}
.person .photo{
	padding:0 10px 0 3px;
}
.person h2{
	padding:7px 0 0 0;
}
.person .detail{
	width:181px;
	font-size:11px;
	line-height:13px;
}
.person .detail .linkList{
	padding-bottom: 0px;
}
/* End People (Contact Info) */

#content .box{
	margin-top:20px;
	padding:5px 8px 7px 8px;
	border:1px solid #acacac;
	clear:both;
}
#content .promoBox .result{
	background:#c8d1d9;
}
#search #content table{
	width:100%;
}

/* Page Survey */
#content #pageSurvey.box{
	float:left;
	clear:none;
}
#pageSurvey span{
	float:left;
}
#pageSurvey .stars{
	position:relative;
	display:inline-block;
	width:80px; height:15px;
	margin:0px 12px 0 4px;
}
#pageSurvey .stars img{
	display:inline-block;
	width:16px; height:15px;
	cursor:pointer;
	background:url(../images/ico-star.png)/*tpa=http://www.firstam.com/assets/images/ico-star.png*/ top no-repeat;
}
#pageSurvey .stars img.over,#pageSurvey .stars img.over.at{
	background:url(../images/ico-star-over.gif)/*tpa=http://www.firstam.com/assets/images/ico-star-over.gif*/ top no-repeat;
}
#pageSurvey .stars img.at{
	background:url(../images/ico-star-at.gif)/*tpa=http://www.firstam.com/assets/images/ico-star-at.gif*/ top no-repeat;
}
#ratingConfirm{
	background:#FECB33; 
	padding:3px 0 3px 5px; 
	position:absolute; 
	width:115px; 
	top:-23px; left:10px;
}
/* End Page Survey */

/* Data Table */
.data table tr:first-child td{
	border-top: 1px solid #C6C6C6;
}									
.data table td{
	font-size: 11px;
}
#content .box.data{
	padding: 0;
}
#content .box.data h3{
	margin: 5px 13px 0;
}
#content .box.data .dataTable{
	padding: 0 13px 7px;
}
.data table, table.data{
	width:100%;
}
.data h3{
	padding: 4px 0 10px 0;
}
.data table th, table.data th{
	padding:9px 8px 9px 0px;
	font-weight:bold;
	white-space:nowrap;
}
.data table th.wrap, .wrap{
	white-space:normal;
}
.data table tr.first th, table.data tr.first th{
	border-top:1px solid #c0c0c0;
}
#content .data .dataHead input.txt{
	width: 150px; height:17px;
	border:1px solid #9b9b9b; 
	font-size:11px;
	padding:0 3px 0 3px;
}
#content .data .dataHead select{
	height:19px;
	border:1px solid #9b9b9b; 
	font-size:10px;
}
.data table th a, table.data th a{
	text-decoration:none;
}
.data table th a:hover, table.data th a:hover{
	text-decoration:underline;
}
.data table td, table.data td{
	padding:3px 8px 3px 0px;
	border-bottom:1px solid #e5e5e5;
	
}
.data table tr.over td, table.data tr.over td{
	background:#c8d1d9;
}
.data table tr.first td, table.data tr.first td{
	border-top:1px solid #c0c0c0;
}
.data table tr.last td, table.data tr.last td{
	border-bottom:none;
}
.data .footnote{
	padding:10px 13px;
	border:none;
	background:#e5e5e5;
	font-size:11px;
	line-height:13px;
}

/* List Table */
#listTable{
	padding:14px 0 0 0;
}
#listTable table{
	width:100%;
	border:1px solid #c2c2c2;
}
#listTable table th, #listTable table td{
	padding:5px;
	border-bottom:1px solid #c2c2c2;
}
#listTable table th{
	font-size:16px;
	font-style:italic;
	color:#013a6f;
	background:#fff;
}
#listTable #yui-dt0-th-product{
	font-weight:bold;
}
#listTable #yui-dt0-th-product a{
	text-decoration:none;
}
#listTable #yui-dt0-th-product a:hover{
	text-decoration:underline;
}
#listTable td{
	cursor:pointer;
}
#listTable .even td{
	background:#e7e7e7;
}
#listTable tr div{
	padding:7px 9px 8px;	
}
#listTable tr.over div{
	background:#c8d1d9;
}
#listTable tr#at td, #listTable tr#at div{
	border-bottom:none;
	padding-bottom:0;
	background:none;
}
#listTable tr#at.even td{
	border-bottom:none;
	padding-bottom:0;
	background:#e7e7e7;
}
#listTable tr.detail a{
	color:#464646;
}
#listTable table td h3{
	font-size:14px;
	color:#013a6f;
	font-weight:bold;
}
#listTable table td.yui-dt-col-right, #listTable table td.bold{
	padding-top:28px;
	font-weight:bold;
}
/* End List Table */

/* Results / Pagination Table */
#content .dataHead{
	background: #cccccc;
	margin: 13px 13px 0;
	padding:0 5px 0 5px;
}
#content .data .dataHead td{
	border-bottom:1px solid #9b9b9b;
	font-size:10px;
	padding: 5px;
}
#content .data .dataHead .last td{
	border-bottom:none;
}
#content .data .dataHead .resultsDisplay{
}
.resultsDisplay{
	font-size:10px;
}
#content .pagination {
	text-align:right;
}
#content .pagination ul li {
	border-right:1px solid #4A4A4A;
	display:inline;
	font-size:10px;
	padding:0 4px;
	background:none;
}
#content .pagination ul li.last {
	border:none;
}
#searchSortBy{
	margin-bottom: 5px;
}
#searchSortBy span, #searchSortBy a{
	padding:5px;
	font-size:12px;
	font-weight:bold;
}
#searchSortBy a.at{
	color: #464646;
	text-decoration: none;
}
/* End Results / Pagination Table */

/* Results / Events */
.event, .result{
	cursor:pointer;
	padding:5px 8px 8px;
}
.event label, .result label{
	color:#013a6f;
	font-size:10px;
}
.result a.url, .result a.url:visited{
	color:#acacac;
	text-decoration:none;
}
.result a.url.offsiteLink, .result a.url.offsiteLink:visited{
	padding-left:14px;
	background:url(../images/ico-offsite-link.gif)/*tpa=http://www.firstam.com/assets/images/ico-offsite-link.gif*/ no-repeat left center;
}
.result a.url:hover, .result.over a.url, .result.over a.url:visited{
	color:#636363;
	text-decoration:underline;
}
.event h3 a, .result h3 a{
	color:#464646;
	text-decoration:none;
}
.event table, .result table{
	width:100%;
}
.event .eventTitle .eventDate h3{
	white-space: nowrap;
}
.event.over, .result.over{
	background-color:#c8d1d9;
}
/* End Results / Events */

/* Calendar */
table.calendar {
	width:100%;
	text-align:center;
	margin-bottom:10px;
}
table.calendar td.noevent {
	padding:3px;
}
table.calendar a {
	display:block;
	padding:3px;
	text-decoration:underline;
	text-align:center;
}
table.calendar a.at {
	color:#e62e1f;
	text-decoration:underline;
	font-weight:bold;
}
table.calendar .nextMonth a, table.calendar .prev.noline a, table.calendar .next.noline a{
	color:#999999;
}
table.calendar .prev.noline a:hover, table.calendar .next.noline a:hover{
	background:none;
	text-decoration:none;
	cursor:default;
}
table.calendar .prev a, table.calendar .next a {
	font-size:14px;
	padding-top:0px;
}
table.calendar .days {
	padding: 3px 0 8px;
}
table.calendar a:hover {
	text-decoration:underline;
	background:#c8d1d9;
}

#rightCol .box.calendarSearch input.txt{
	color:#959595;
	width:184px;
	margin-bottom:10px;
	float:none;
}
#rightCol .box select.long{
	margin:3px 0 10px 0;
	width:192px;
	float:none;
}
#rightCol .box select.month{
	margin:3px 15px 3px 0;
	width:56px;
	float:none;
}
#rightCol .box select.day{
	margin:3px 15px 3px 0;
	width:46px;
	float:none;
}
#rightCol .box select.year{
	margin:3px 0px 3px 0;
	width:54px;
	float:none;
}
#rightCol .box label{
	display:block;
}
#rightCol .box.calendarSearch .btn{
	margin:9px 0 0 0;
}
/* End Calendar */

/* 
******************************************************************
	4. Right Column Rules 
******************************************************************
*/
#rightCol{
	padding:0 50px 20px 0;
}
#fat-home #rightCol{
	padding:50px 50px 20px 0;
}
#rightCol #returnToMobileLink, #rightCol .returnToMobileLink{
	display:none;
}
#rightCol img.spacer{
	width:224px; height:1px;
}
#rightCol #utilNav{
	font-size:11px;
	color:#acacac;
	padding:24px 17px 45px 5px;
	text-align:right;
}
#rightCol #utilNav.over{
	color:#464646;
	background:none;
}
#rightCol #utilNav.high{
	padding-bottom: 79px;
}
#rightCol #utilNav a{
	color:#acacac;
	height:15px;
	padding-right:19px;
	margin-right:11px;
	text-decoration:none;
}
#rightCol #utilNav a:hover{
	text-decoration:underline;
}
#rightCol #utilNav a#printPage{
	background:url(../images/ico-print.gif)/*tpa=http://www.firstam.com/assets/images/ico-print.gif*/ no-repeat right top;
}
#rightCol #utilNav a#emailPage{
	background:url(../images/ico-email.gif)/*tpa=http://www.firstam.com/assets/images/ico-email.gif*/ no-repeat right top;
}
#rightCol #utilNav a#sharePage{
	background:url(../images/ico-email.gif)/*tpa=http://www.firstam.com/assets/images/ico-email.gif*/ no-repeat right top;
}
#rightCol #utilNav.over a{
	color:#464646;
}
#rightCol #utilNav.over a#printPage{
	background:url(../images/ico-print-over.gif)/*tpa=http://www.firstam.com/assets/images/ico-print-over.gif*/ no-repeat right top;
}
#rightCol #utilNav.over a#emailPage{
	background:url(../images/ico-email-over.gif)/*tpa=http://www.firstam.com/assets/images/ico-email-over.gif*/ no-repeat right top;	
}
#rightCol #utilNav.over a#sharePage{
	background:url(../images/ico-email-over.gif)/*tpa=http://www.firstam.com/assets/images/ico-email-over.gif*/ no-repeat right top;
}
#rightCol #utilNav span a{
	color:#d7d7d7;
	padding:0px;
	margin:0px;
}
#rightCol #utilNav span a.at, #rightCol #utilNav.over span a{
	color:#acacac;
}
#rightCol #utilNav span a#fontSm{
	font-size:11px;
}
#rightCol #utilNav span a#fontMed{
	font-size:13px;
}
#rightCol #utilNav span a#fontLrg{
	font-size:15px;
}

/* Share Flyout */
a#sharePage{
	background:url(../images/ico-email-over.gif)/*tpa=http://www.firstam.com/assets/images/ico-email-over.gif*/ no-repeat right top;
	height:15px;
	padding-right:19px;
	margin-right:11px;
}

#shareFly{
	position:absolute; 
	width:336px;
	top:-267px; left:-54px;
	display:none;
	font-size:11px;
}
#shareFly .subCol{
	width:113px;
	padding:6px 0px 4px 10px;
}
#shareFly a{
	color:#464646;
	height:15px;
	padding-right:19px;
	margin-right:0px;
	text-decoration:none;
}
#shareFly .box{
	padding:3px;
	margin: 0px 0px 10px 0px;
}
#shareFly .box.social{
	padding:6px 3px 3px 3px;
}
#shareFly .box.last{
	margin-bottom:0px;
}
#shareFly .box a span{
	background: none;
	padding:0;
}
#shareFly .box .item{
	padding:3px 10px 6px;
}
#shareFly .box .item.small{
	padding:4px 10px 4px;
}
.box a span.FBConnectButton_Simple {
	background-image:url("../../../static.ak.fbcdn.net/images/connect_favicon.png")/*tpa=http://static.ak.fbcdn.net/images/connect_favicon.png*/;
	background-repeat:no-repeat;
	outline:medium none;
	text-decoration:none;
}
#shareFly .subCol a{
	color:#013A6F;
	display:block;
	float:none;
	clear:both;
	height:16px;
	font-size:11px;
	line-height:16px;
	margin-bottom:6px;
	padding:0 0 0 19px;
	text-decoration:none;
}
#shareFly .subCol a:hover{
	text-decoration:underline;
}
#shareFly .box.social strong{
	padding:1px 0 0 10px;
	display:block;
	font-size:14px;
}
.plusOne{
	padding:0 0 3px 0;
	margin-left: -8px;
	color: #013A6F;
}
#socFaceBook{
	background:url(../images/sprite-social-icons.png)/*tpa=http://www.firstam.com/assets/images/sprite-social-icons.png*/ 0px 0px no-repeat;	
}
#socTwitter, #socTwitter2{
	background:url(../images/sprite-social-icons.png)/*tpa=http://www.firstam.com/assets/images/sprite-social-icons.png*/ 0px -20px no-repeat;	
}
#socDigg{
	background:url(../images/sprite-social-icons.png)/*tpa=http://www.firstam.com/assets/images/sprite-social-icons.png*/ 0px -40px no-repeat;	
}
#socDelicious{
	background:url(../images/sprite-social-icons.png)/*tpa=http://www.firstam.com/assets/images/sprite-social-icons.png*/ 0px -60px no-repeat;	
}
#socStumbleUpon{
	background:url(../images/sprite-social-icons.png)/*tpa=http://www.firstam.com/assets/images/sprite-social-icons.png*/ 0px -80px no-repeat;	
}
#socGoogle{
	background:url(../images/sprite-social-icons.png)/*tpa=http://www.firstam.com/assets/images/sprite-social-icons.png*/ 0px -100px no-repeat;	
}
#socGBuzz{
	background:url(../images/sprite-social-icons.png)/*tpa=http://www.firstam.com/assets/images/sprite-social-icons.png*/ 0px -120px no-repeat;	
}
#socLive{
	background:url(../images/sprite-social-icons.png)/*tpa=http://www.firstam.com/assets/images/sprite-social-icons.png*/ 0px -140px no-repeat;	
}
#socYBuzz{
	background:url(../images/sprite-social-icons.png)/*tpa=http://www.firstam.com/assets/images/sprite-social-icons.png*/ 0px -160px no-repeat;	
}
#socReddit{
	background:url(../images/sprite-social-icons.png)/*tpa=http://www.firstam.com/assets/images/sprite-social-icons.png*/ 0px -180px no-repeat;	
}
#socLinkedIn{
	background:url(../images/sprite-social-icons.png)/*tpa=http://www.firstam.com/assets/images/sprite-social-icons.png*/ 0px -200px no-repeat;	
}
#socAIM{
	background:url(../images/sprite-social-icons.png)/*tpa=http://www.firstam.com/assets/images/sprite-social-icons.png*/ 0px -220px no-repeat;	
}
/* End Share Flyout */

#rightCol .box{
	color:#464646;
	font-size:11px;
	border:1px solid #acacac;
	padding:5px;
	margin-bottom:20px;
}
#rightCol .box.first{
	margin-bottom:0px;
	border-bottom:none;
}
#rightCol #mapResults.box.first{
	border-bottom: 1px solid #c6c6c6;
}
#rightCol .box h2{
	color:#013a6f;
	padding:8px 0px 2px 0px;
	margin:0 10px;
	background: none;
	font-size:12px;
	font-weight:bold;
	font-style:italic;
	border:none;
	border-bottom:1px solid #7a96b1;
}
#rightCol .box h2.marginBot5{
	margin-bottom:5px;
}
#rightCol #nextSteps h3{
	color:#ffffff;
	font-size:16px;
	font-style:italic;
	background: url(../images/next-steps-dk.png)/*tpa=http://www.firstam.com/assets/images/next-steps-dk.png*/ no-repeat;
	padding:95px 0 0 15px;
	height:26px;
}
#rightCol .box h3{
	display:block;
	color:#ffffff;
	background-color:#013a6f;
	font-size:14px;
	line-height:15px;
	font-weight:bold;
	font-style:italic;
	padding:8px 10px 7px 10px;
	text-decoration:none; 
}
#rightCol .box a h3,#rightCol .box a:link h3,#rightCol .box a:active h3,#rightCol .box a:visited h3{
	text-decoration:none; 
}
#rightCol .box h4{
	color:#013a6f;
	font-size:14px;
	font-weight:bold;
	padding:7px 10px 0px 10px;
}
#rightCol .box h5{
	color:#013a6f;
	font-size:12px;
	font-weight:bold;
	padding:7px 10px 0px 10px;
}
#rightCol .thumb{
	margin-bottom:5px;
}
#rightCol .hr{
	margin:5px 10px;
}
#rightCol .hr img{
	width:1px; height:0;
}
#rightCol .box .intro{
	display:block;
	color:#464646;
	padding:7px 0px 3px 0px;
	margin:0 10px;
}
#rightCol .box.sub .intro{
	padding:0px 0px 4px 0px;
}
.box .item{
	display:block;
	color:#464646;
	padding:7px 10px 6px 10px;
	text-decoration:none;
}
.box .item.off{
	display:none;
}
.box  a.link{
	display:block;
	padding:0px 0px 5px 0px;
	margin:0 10px;
}

/* Find Local Office Rules */
#useLocationLink {
	float: right;
	right: 5px;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
}
#agentToggle{
	display: none;
	border-top: 2px solid #C6C6C6;
	border-left: 1px solid #C6C6C6;
	border-right: 1px solid #C6C6C6;
	height: 19px;
	overflow: hidden;
	margin:0;
}
#agentToggle td{
	background:#C6C6C6;
	white-space:nowrap;
	cursor:pointer;
	padding: 1px 7px 3px;
}
#agentToggle td#sortingLabel{
	cursor: default;
}
#agentToggle td#sortingLabel, #agentToggle td.spacer{
	padding: 0;
	width: 50%;
	cursor: default;
}
#agentToggle td#sortingLabel, #agentToggle td#sortingLabel img{
	width: 13px;
}
#agentToggle td{
	font-size: 11px;
	color: #464646;
}
#agentToggle td.at{
	background: none;
}
#agentToggle td label{
	color: #013A6F;
	text-decoration: underline;
	cursor:pointer;
}
#agentToggle td.at label{
	color: #464646;
	font-weight: bold;
	text-decoration: none;
	cursor:pointer;
}
#agentToggle td.disabled label{
	color: #464646;
	text-decoration: none;
	cursor:default;
}
#agentToggle td span{
	text-decoration: none;
}
.findOffice input.address{
	color: #959595;
	border:1px solid #CCCCCC;
	font-size:12px;
	padding: 1px 3px 1px 3px;
	width:120px; height:16px;
}
#rightCol #mapResults{
	position:relative;
}
#rightCol #mapResults.first{
	margin-bottom: 0px;
}
#rightCol #officeResultsBox.box{
	border-top:none;
	padding: 0 2px;
}
#rightCol .locateOffice .map{
	margin-bottom:5px;
}
#rightCol .locateOffice .item{
	position:relative;
	padding:5px 10px 4px 10px;
}
#rightCol .locateOffice span#savedOfficeResult.item{
	margin-top:5px;
}
#rightCol .locateOffice .item.wLetter{
	padding:5px 10px 4px 18px;
}
#rightCol .locateOffice .hr{
	margin:2px 10px;
}
#rightCol .locateOffice .item.agent, #rightCol .hr.agent{
	display:none;
}
#rightCol .locateOffice .item.agent span.officeLetter{
	color:#013A6F;
}
#rightCol .locateOffice .item.state span.officeLetter{
	color:#000000;
}
#rightCol .locateOffice .item.agent span.officeName{
	font-weight:normal;
}
#rightCol .locateOffice .item .officeLetter{
	display:none;
}
#rightCol .locateOffice .item.wLetter .officeLetter{
	display:block;
}
#rightCol .locateOffice span.officeLetter{
	position:absolute; 
	top:5px; left:6px; 
	width:12px; 
	color:#C4271B; 
	font-weight:bold;
}
#rightCol .locateOffice .item span.officeName{
	width:157px;
	display:inline-block;
	font-weight:bold;
}
#rightCol .locateOffice .item.wLetter span.officeName{
	height:14px;
	overflow:hidden;
}
#rightCol .locateOffice .item span.officeAddress1{
	width:157px;
}
#rightCol .locateOffice .at{
	background: #ffffff;
}
#rightCol .locateOffice .at.only{
	background: none;
}
#rightCol .locateOffice .item.at span.officeName{
	height:auto;
	overflow:visible;
	font-weight:bold;
}
#rightCol .locateOffice .item.at .item, #rightCol .locateOffice .item.at .hr{
	display:block;
	padding:5px 0 4px;
}
#rightCol .locateOffice .item.at .hr{
	padding:0;
	margin:2px 0;
}
#rightCol .locateOffice #officeResults .hr.last, #rightCol .locateOffice #officeResults .oHrLast{
	display:none;
}
#rightCol .locateOffice .item.at span.officePhone, #rightCol .locateOffice .item.at span.officeFax{
	font-size:12px;
	display:block;
	font-weight:bold;
}
#rightCol .locateOffice .item.at span.officeFax{
	font-weight:normal;
}
#rightCol #officeDetailSaved .item span.officeName{
	width:157px; height:auto;
	overflow:visible;
	display:inline-block;
	font-weight:bold;
}
#rightCol #officeDetailSaved .item span.officeAddress1{
	width:157px;
}
#rightCol .locateOffice .item a.save, #rightCol .locateOffice .item a.delete{
	text-decoration:underline;
	cursor:pointer;
	position:absolute;
	right:10px;
	display:block;
	width:40px; height:30px;
	z-index:1;
	text-align:right;
}
#rightCol .locateOffice .item a:hover{
	text-decoration:none;
	cursor:pointer;
}
#rightCol .findOffice .box select,#rightCol .locateOffice select{
	width:192px;
	margin:10px 0 0px 0;
	float:none;
}
#rightCol .findOffice .box select.noMargin,#rightCol .locateOffice select.noMargin{
	margin:0 0 5px 0;
}
#rightCol #officeResults, #officeDetail, #officeDetailSaved{

}
#rightCol #officeResults{
	padding: 5px 0 2px 0;
}
#rightCol .box .item.off {
display:none;
}
#rightCol #officeResults .error {
	font-size: 11px;
	color: #cf291c;
	line-height: 13px;
}
/* Google Map */
#rightCol #map_canvas{
	width:212px; height:156px;
}
#fat-home #rightCol #map_canvas{
	width:212px; height:134px;
}
#rightCol #modalLoading{
	position:absolute;
	top:5px; left:5px;
	width:212px; height:110px;
	background: #F3F3F3;
	padding-top: 46px;
}
#fat-home #rightCol #modalLoading{
	height:100px;
	padding-top: 34px;
}
#rightCol #modalLoading h3{
	background: none;
	color: #464646;
}
#rightCol #thumbUsaMap{
	display:none;
	position:absolute;
	background: none;
}
#fat-home #rightCol #thumbUsaMap{
	display:block;
	position:absolute;
	top: 5px; left: 5px;
	width:212px; height:134px;
	background: url(../images/maps/thumb-map-usa.png)/*tpa=http://www.firstam.com/assets/images/maps/thumb-map-usa.png*/;
}
#content #map_canvas{
	width:auto; height:400px;
}
#rightCol #mapResults div div div span{
	white-space:normal;
	width:150px;
	font-size:9px;
}
#rightCol #mapResults div div div a{
	white-space:nowrap;
	font-size:9px;
}

/* Calendar Rules */
#rightCol .box.calendar select{
	margin:0 0 5px 0;
}

#rightCol #nextSteps .box .item{
	padding:7px 10px 6px 10px;
}
#rightCol #ulBox.box h3{
	font-size:16px;
	height:39px;
	border:none;
	padding:42px 0 0 10px;
	background:url(../images/resources/ul.jpg)/*tpa=http://www.firstam.com/assets/images/resources/ul.jpg*/ no-repeat;
}
#rightCol #websigningBox.box h3{
	color:#013a6f;
	height:24px;
	padding:57px 0 0 10px;
	background:url(../images/resources/web-signing.jpg)/*tpa=http://www.firstam.com/assets/images/resources/web-signing.jpg*/ no-repeat;
}
#rightCol #agentfirstBox.box h3{
	color:#013a6f;
	height:39px;
	padding:112px 0 0 10px;
	background:url() no-repeat;
}
#rightCol #eagleProBox.box h3{
	color:#013a6f;
	font-size:16px;
	height:24px;
	border:none;
	padding:57px 0 0 10px;
	background:url(../images/thumb-eagle-pro.jpg)/*tpa=http://www.firstam.com/assets/images/thumb-eagle-pro.jpg*/ no-repeat;
}
#rightCol #eagleStatusBox.box h3{
	height:24px;
	padding:57px 0 0 10px;
	background:url(../images/thumb-eagle-status.jpg)/*tpa=http://www.firstam.com/assets/images/thumb-eagle-status.jpg*/ no-repeat;
}
#rightCol #eagleAcademyPromo h3{
	height: 196px;
	padding:0px 0 0 10px;
    background: #022648 url(../title/images/thumb-eagleacademy.jpg)/*tpa=http://www.firstam.com/assets/title/images/thumb-eagleacademy.jpg*/ no-repeat;
}
#rightCol #promoTwitter.box h3{
	font-size:14px;
	line-height:14px;
}

/* Login Widget */
#rightCol #myfirstamLogin h3{
    position: relative;
	background: url(../myfirstam/images/bg-signin-widget.gif)/*tpa=http://www.firstam.com/assets/myfirstam/images/bg-signin-widget.gif*/ top left repeat-x;
	height: 50px;
	padding: 0;
	display: block;
	vertical-align: top;
}
#rightCol #myfirstamLogin #myFirstAmLogo{
	margin-top: 15px; margin-left: 10px;
	width: 109px; height: 19px;
    background: url(../myfirstam/images/logo-myfirstam.png)/*tpa=http://www.firstam.com/assets/myfirstam/images/logo-myfirstam.png*/ top left no-repeat;
}
#rightCol #myfirstamLogin #btnPlusYellow{
	margin-top: 2px; margin-right: 3px;
	width: 64px; height: 40px;
    background: url(../myfirstam/images/btn-signin.png)/*tpa=http://www.firstam.com/assets/myfirstam/images/btn-signin.png*/ top left no-repeat;
}
#rightCol .login .item{
    background: #022648;
    color: #ffffff;
    line-height: 15px;
	padding: 8px 10px 8px 10px;
}
#rightCol .login .item .saveUsername {
    padding:2px 0 5px;
}
#rightCol .login .item .saveUsername label {
    color:#ffffff;
	display: inline;
	font-size: 11px;
	font-weight:normal;
}
#rightCol .login .item .forgotPass {
    line-height: 25px;
}
#rightCol .login .item p, #rightCol .login .item a {
    color: #ffffff;
    font-size: 11px;
}
#rightCol .login .item .infoRow{
    border-top: 1px solid #425C75;
    padding: 5px 0 5px 10px;
}
#rightCol .login .item form{
    display: block;
    padding: 0 0 10px 5px;
}
#rightCol .login .item #localeForm{
    display:none;
    padding: 10px 0 0px 10px;
	border-top: 1px solid #415C76; 
	margin-top: 5px;
}
#rightCol .login .item #localeForm form{
    padding: 0px;
}
#rightCol .login h4, #rightCol .login label {
    color: #8BA0B3;
}
#rightCol .login h4 {
    padding: 5px 0;
}
#rightCol .login label {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 2px;
}
#rightCol .login .item input.txt{
    -moz-border-radius:     6px;
    -webkit-border-radius: 6px;
    border-radius:         6px;
    width: 93%;
    color: #464646;
}
#rightCol .login #btnSignin{
    margin-top: -7px; margin-right: -1px;
}
#rightCol .login .item #roleMessage {
	border-top: 1px solid #415C76; 
	margin:0;
	padding: 9px 10px 8px;
}
#rightCol .login .item .roleLink {
	display: block;
	padding: 6px 30px 6px 7px;
	border: 1px solid 
	white;
	font-weight: bold;
	text-decoration: none;
	background: 
	#3F5971 url(../images/ico-action-sm.png)/*tpa=https://www.firstam.com/assets/images/ico-action-sm.png*/ center right no-repeat;
	margin-top: 4px;
}

.box .act{
	padding-right:38px;
	background-image:url(../images/btn-right-col.png)/*tpa=http://www.firstam.com/assets/images/btn-right-col.png*/;
	background-position:center right;
	background-repeat:no-repeat;
}
.box .act.small, #pageSurvey #shareFly .act.small{
	padding-right:26px;
	background-image:url(../images/btn-right-col-sm.png)/*tpa=http://www.firstam.com/assets/images/btn-right-col-sm.png*/;
}
#content #findRepLink.box{
	margin: 19px 0 3px 0; padding: 5px;
	width: 207px;
}
#content #findRepLink.box {
	margin: 19px 20px 20px 0;
	padding: 5px;
	width: 207px;
	float: left;
	clear: none;
}
#findRepLink.box .act{
	background-image:url(../images/btn-right-col-find.png)/*tpa=http://www.firstam.com/assets/images/btn-right-col-find.png*/;
}
.box div.item{
	padding:13px 10px 8px 10px;
}
.box .item strong{
	font-size:12px;
}
.box a.item strong{
	font-size:14px;
}
.box a.item strong.blue{
	color:#013a6f;
}
.box a.item.small strong{
	font-size:12px;
}
.box a.item:hover, .box .item.over{
	background-color:#c8d1d9;
	cursor:pointer;
}
.box .first{
	margin-top:5px;
}
.box .last{
	border-bottom:0px none;
}
.box a span{
	display:block;
	padding:0 0 0 10px;
	background:url(../images/sprite-bullets.gif)/*tpa=http://www.firstam.com/assets/images/sprite-bullets.gif*/ 1px 5px no-repeat;
}
#rightCol .box a span.note{
	display:inline;
	padding:0;
	background:none;
}
#rightCol .box input.txt{
	color:#959595;
	width:103px;
	float:left; 
}
#rightCol .box input.txt.first{
	margin-bottom:10px;
}
#rightCol #nextSteps .box{
	border-top: 0px none;
}
#rightCol .box .quote{
	font-size:13px;
}
#rightCol .box .quote span{
	display:block;
	white-space:normal;
	font-size:14px;
	font-weight:bold;
	font-style:italic;
}
#rightCol .box .quote span.name{
	padding:5px 0 0 40px;
}
#rightCol .box .quote span.company{
	padding:0 0 0 51px;
	font-size:12px;
}

#rightCol .box .list a{
	padding-left: 16px;
	background-position: 10px -452px;
}
#rightCol .box .list{
	padding:5px 0 0 0;
}

/*
******************************************************************
	5. Crisis Rules 
******************************************************************
*/
.crisis{
	height: 129px;
	background-color: #F3F3F3;
	padding: 20px 30px;
	margin: 0px 10px 44px;
	text-align: left;
	border: 1px solid #adadad;
}
.crisis h2{
	padding-bottom: 15px;
	font-weight: bold;
	font-size: 18px;
}
.crisis p{
	font-size: 14px;
}

#bannerAlert, #bannerAlert * {-moz-box-sizing:border-box; box-sizing:border-box;}
#bannerAlert {width:100%; background-color:#ffd148; border-bottom:1px solid #c9a330;}
#bannerInner {width:954px; margin:0 auto; padding:10px 12px; color:#625018;}
#bannerInner p {display:block; padding:0; overflow:hidden;}

.bannerBug {display:block; float:left; font-weight:bold;}
#bannerMsg {display:block; float:left; width:780px; margin-left:.5em; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
#bannerLink {display:block; float:right;}
#bannerLink a {font-weight:bold; color:#625018;}

/*
******************************************************************
	6. Footer Rules 
******************************************************************
*/
#footer .returnToMobileLink{
	display: none;
}
#footer .returnToMobileLink a{
	display: block;
	font-size: 22px;
	font-weight: bold;
	padding-bottom: 12px;
	color: #FFFFFF;
}
#footer .breadcrumb a{
	display: inline;
}
#footer{
	color: #a6a6a6;
	font-size: 11px;
	padding: 17px 0px 17px 50px;
	background: #797979;
}
#fat-home #footer{
	padding: 36px 0px 17px 50px;
}
#footer ul li {
	width: 202px;
	font-size:14px;
	color:#bababa; 
	font-weight:bold;
	font-style:italic;
	float: left;
}
#footer.faf ul li {
	width: 174px;
}
#footer.rep ul li {
	width: 190px;
}
#footer ul li.footerAbout {
	width: 464px;
}
#footer ul li.footerAbout li, #footer ul li.footerLinks li{
	width: 152px;
}
#footer ul li.footerLinks {
	width: 304px;
}

#footer ul li ul {
	padding-bottom: 0px;
	margin-top: 12px;
}
#footer ul li ul ul {
	margin-top: 0px;
}
#footer ul ul li{
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	padding: 0;
}
#footer ul ul li a {
	padding-bottom: 4px;
}
#footer ul ul ul li a {
	font-size:10px;
	font-weight:normal;
	line-height:11px;
	padding-left: 6px;
	background:url(../images/sprite-bullets.gif)/*tpa=http://www.firstam.com/assets/images/sprite-bullets.gif*/ 0px -637px no-repeat;
}
#footer a{
	display:block;
	color: #bababa;
	font-weight:bold;
	text-decoration:none;
	padding-bottom: 4px;
}
#footer a:hover{
	text-decoration:underline;
}
#footer .hr{
	border-bottom: 1px dashed #A6A6A6;
	width:118px;
	margin:2px 0 3px 0px;
}
#footer .footerNav{
	clear:both;
}
#footer .footerNav a{
	display:block;
	float:left;
	margin-top: 40px;
	padding: 5px 20px 5px 0;
}
#footer .copyright a{
	display:block;
	font-size: 10px;
	clear:both;
}
#footer .disclaimer{
	font-size: 9px;
	color: #BABABA;
	line-height: 11px;
}

/* Social Footer Links */
#footer ul li.social{
	float:right;
}
#footer .social li{
	margin-bottom:9px;
}
#footer .social li li{
	margin-bottom:0px;
}
#footer .social li a{
	background: none;	
	display:block;
	float:none;
	clear:both;
	height:18px;
	font-size:11px;
	line-height:18px;
	padding:0 0 0 25px;
	text-decoration:none;
}
#footer .social li a:hover{
	color:#FFF;
	text-decoration: none;
}
#footer .social li li a{
	margin:0px;
	font-weight:bold;
	height: 14px;
	line-height: 14px;
	padding-bottom: 2px;
}
#footer .social li a.socFacebook{
	background:url(../images/sprite-social-icons.png)/*tpa=http://www.firstam.com/assets/images/sprite-social-icons.png*/ 0px -240px no-repeat;	
}
#footer .social li:hover a.socFacebook{
	background:url(../images/sprite-social-icons.png)/*tpa=http://www.firstam.com/assets/images/sprite-social-icons.png*/ 0px -260px no-repeat;	
}
#footer .social li a.socTwitter{
	background:url(../images/sprite-social-icons.png)/*tpa=http://www.firstam.com/assets/images/sprite-social-icons.png*/ 0px -280px no-repeat;	
}
#footer .social li:hover a.socTwitter{
	background:url(../images/sprite-social-icons.png)/*tpa=http://www.firstam.com/assets/images/sprite-social-icons.png*/ 0px -300px no-repeat;	
}
#footer .social li a.socRss{
	background:url(../images/sprite-social-icons.png)/*tpa=http://www.firstam.com/assets/images/sprite-social-icons.png*/ 0px -320px no-repeat;	
}
#footer .social li:hover a.socRss{
	background:url(../images/sprite-social-icons.png)/*tpa=http://www.firstam.com/assets/images/sprite-social-icons.png*/ 0px -340px no-repeat;	
}
#footer .social li a.socFlickr{
	background:url(../images/sprite-social-icons.png)/*tpa=http://www.firstam.com/assets/images/sprite-social-icons.png*/ 0px -360px no-repeat;	
}
#footer .social li:hover a.socFlickr{
	background:url(../images/sprite-social-icons.png)/*tpa=http://www.firstam.com/assets/images/sprite-social-icons.png*/ 0px -380px no-repeat;	
}
#footer .social li a.socLinkedin{
	background:url(../images/sprite-social-icons.png)/*tpa=http://www.firstam.com/assets/images/sprite-social-icons.png*/ 0px -400px no-repeat;	
}
#footer .social li:hover a.socLinkedin{
	background:url(../images/sprite-social-icons.png)/*tpa=http://www.firstam.com/assets/images/sprite-social-icons.png*/ 0px -420px no-repeat;	
}
#footer .social li a.socBlog{
	background:url(../images/sprite-social-icons.png)/*tpa=http://www.firstam.com/assets/images/sprite-social-icons.png*/ 0px -440px no-repeat;	
}
#footer .social li:hover a.socBlog{
	background:url(../images/sprite-social-icons.png)/*tpa=http://www.firstam.com/assets/images/sprite-social-icons.png*/ 0px -460px no-repeat;	
}
#footer .social li a.socYouTube{
	background:url(../images/sprite-social-icons.png)/*tpa=http://www.firstam.com/assets/images/sprite-social-icons.png*/ 0px -480px no-repeat;	
}
#footer .social li:hover a.socYouTube{
	background:url(../images/sprite-social-icons.png)/*tpa=http://www.firstam.com/assets/images/sprite-social-icons.png*/ 0px -500px no-repeat;	
}
/* End Social Footer Links */

/* 
******************************************************************
	7. Modal Window Rules
******************************************************************
*/
#modalBackLayer{
	position:absolute; 
	top:0px; left:0px; 
	background-image:url(../images/modal/cover-black.png)/*tpa=http://www.firstam.com/assets/images/modal/cover-black.png*/; 
	z-index:500;
}
.modalWin{
	width:380px;
	position:absolute; 
	top:200px; left:200px; 
	z-index:9999;
	text-align:left;
}
.modalWin table{
	width:100%; 
}
.modalWin td.head{
	padding:0 15px 6px 15px;
	font-size:18px;
	font-weight:bold;
	color:#fff;
	width:100%;
	background:#6789a9;
}
.modalWin h4, #rightCol .modalWin h4{
	padding:54px 0 4px 20px;
	color:#ffffff;
	font-size:30px;
	font-weight:bold;
	font-style:italic;
	background: url(../images/modal/modal-header.jpg)/*tpa=http://www.firstam.com/assets/images/modal/modal-header.jpg*/ 5px 5px no-repeat;
	cursor:move;
}
#modalFindOffice.modalWin h4{
	padding: 10px 0 4px 10px;
	color: #013A6F;
	background: none;
}
.modalWin .box {
	border:1px solid #C6C6C6;
	color:#464646;
	font-size:11px;
	margin-bottom:10px;
	padding:5px;
}
.modalWin .box.last {
	margin-bottom:0;
}
.modalWin .box.first {
	border-bottom:medium none;
	margin-bottom:0;
}
.modalWin .box.padded8 {
	padding:8px 5px;
}
.modalWin td.contentWrapper{
	width:100%;
	background-color:#f3f3f3;
}
.modalWin div.contentWrapper{
	border:1px solid #cdcdcd;
}
.modalWin div.content{
	padding:20px;
	width:auto;
}

.modalWin label{
	display:block;
	font-size:16px;
	padding:20px 0 7px 0;
}
#modalFindOffice.modalWin label {
	display:inline-block;
	font-size:11px;
	font-weight:bold;
	padding:2px 10px 1px 6px;
}

.modalWin input.txt{
	width:455px;
}
.modalWin textarea{
	width:457px; height:140px;
	border:1px solid #cccccc;
}
.modalWin div.buttons .btn{
	float:left;
	margin:18px 0 0 0;
}
.modalWin div.buttons a{
	float:right;
	margin:23px 0 0 0;
}
#modalFindOffice.modalWin div.buttons a{
	float:right;
	margin:23px 10px 10px 0;
}
.modalWin div.buttons input{
	width:auto; height:auto;
	margin-right:4px;
}
.modalWin td.tl img, .modalWin td.tr img, .modalWin td.bl img, .modalWin td.br img{
	width:40px; height:40px; max-width:40px; max-height:40px;
}
.modalWin td.l img, .modalWin td.r img{
	width:40px; max-width:40px;
}
.modalWin td.tl{
	width:40px;
	background:url(../images/modal/modal-tl.png)/*tpa=http://www.firstam.com/assets/images/modal/modal-tl.png*/ right top no-repeat;
}
.modalWin td.tr{
	width:40px;
	background:url(../images/modal/modal-tr.png)/*tpa=http://www.firstam.com/assets/images/modal/modal-tr.png*/ no-repeat;
}
.modalWin td.bl{
	background:url(../images/modal/modal-bl.png)/*tpa=http://www.firstam.com/assets/images/modal/modal-bl.png*/ right top no-repeat;
}
.modalWin td.br{
	background:url(../images/modal/modal-br.png)/*tpa=http://www.firstam.com/assets/images/modal/modal-br.png*/ no-repeat;
}
.modalWin td.t{
	width:100%;
	background:url(../images/modal/modal-t.png)/*tpa=http://www.firstam.com/assets/images/modal/modal-t.png*/ repeat-x;
}
.modalWin td.l{
	background:url(../images/modal/modal-l.png)/*tpa=http://www.firstam.com/assets/images/modal/modal-l.png*/ right top repeat-y;
}
.modalWin td.r{
	background:url(../images/modal/modal-r.png)/*tpa=http://www.firstam.com/assets/images/modal/modal-r.png*/ repeat-y;
}
.modalWin td.b{
	width:100%;
	background:url(../images/modal/modal-b.png)/*tpa=http://www.firstam.com/assets/images/modal/modal-b.png*/ repeat-x;
}

#mask {
	position:absolute;
	left:0;
	top:0;
	z-index:9000;
	background-color:#959595;
	display:none;
	opacity: .5;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}
  
.window {
	position:absolute;
	left:0;
	top:0;
	width:585px; height:500px;
	visibility:hidden;
	z-index:9999;
}
#modals #modalEmailPage {
	width:584px; height:625px;
}
#modals #modalContact {
	width:584px; height:664px;
}
#modals #modalFindOffice {
	width:630px; height:443px;
}
#modals #modalOfficeLocator {
	width:915px; height:500px;
}

/* Order Center Box */
#rightCol #orderBox.box h3{
	height:39px;
	border:none;
	padding:61px 0 0 10px;
	background:url(../images/thumb-loginorder.jpg)/*tpa=http://www.firstam.com/assets/images/thumb-loginorder.jpg*/ no-repeat;
	cursor:pointer;
}
#rightCol #orderBoxSm.box h3{
	height:25px;
	border:none;
	padding:10px 0 0 10px;
	background:url(../images/thumb-loginorder-sm.jpg)/*tpa=http://www.firstam.com/assets/images/thumb-loginorder-sm.jpg*/ no-repeat;
	cursor:pointer;
}
#sysOrderCenter{
	float:left;
}
#rightCol #orderBox.box, #rightCol #orderBoxSm.box, #sysOrderCenter{
	position:relative;
	overflow:visible;
	z-index:1;
}
.modalWin.orderBoxOver{
	position:absolute;
	top:30px; left:-46px;
	width:314px;
	z-index:5;
}
#sysOrderCenter .modalWin.orderBoxOver{
	top:39px; left:-110px;
	z-index:150;
}
.modalWin.orderBoxOver .wrapper{
	background:#F3F3F3;
}
#sysOrderCenter .modalWin.orderBoxOver .wrapper{
	padding-top:10px;
}
#rightCol .orderBoxOver .box, .modalWin.orderBoxOver .box{
	margin:0px; padding:0px;
}
#rightCol .orderBoxOver a, .modalWin.orderBoxOver a{
	margin:0px 3px;
}
#rightCol .orderBoxOver a.first, .modalWin.orderBoxOver a.first{
	margin:3px 3px 0 3px;
}
#rightCol .orderBoxOver a.last, .modalWin.orderBoxOver a.last{
	margin:0px 3px 3px 3px;
}
#rightCol .orderBoxOver .hr, .modalWin.orderBoxOver .hr{
	margin:3px 0px;
	border-bottom:1px solid #cccccc;
}
.orderBoxOver .box .item {
	padding:3px 6px 4px;
}
.orderBoxOver .box .item.act {
	padding-right:38px;
}
.orderBoxOver .box a.item strong{
	font-size:12px;
	color:#464646;
	text-decoration:none;
	border-bottom:none;
}
#rightCol .orderBoxOver .box,.modalWin.orderBoxOver .box{
	font-size:10px;
}
/* End Order Center Box */



/*
******************************************************************
	8. Utility Rules 
******************************************************************
*/
.highlight{
	background: #f8de92;
	display:inline-block;
	padding:0 2px;
	margin-right:3px;
}
.cf{
	clear:both;
	height:0;
	overflow:hidden;
}
.nowrap{
	white-space:nowrap;
}
a.noUnderline{
	text-decoration:none;
}
.off{
	display:none;
}
.on{
	display:;
}
.show{
	visibility:visible;
}
.hide{
	visibility:hidden;
}
.bold{
	font-weight:bold;
}
.block{
	display:block;
}
.relative{
	position:relative;
}
.error{
	color:#cf291c;
	padding-bottom:2px;
}
.small{
	font-size:10px;
}
.red{
	color:#cf291c;
}
.green{
	color:#3e7235;
}
.size10{
	font-size:10px;
}
.size11{
	font-size:11px;
}
.size12{
	font-size:12px;
}
a.noUnderline{
	text-decoration: none;
}
.noMargin{
	margin:0;
}
.marginTop5{
	margin-top:5px;
}
.marginBot5{
	margin-bottom:5px;
}
.marginBot10{
	margin-bottom:10px;
}
.marginLeft15{
	margin-left:15px;
}
.padd5 td, .padd5{
	padding:5px;
} 
a.viewAll{
	font-size:11px;
	color:#013a6f;
	background:none;
	text-decoration:underline;
	padding-left: 7px;
}
a.viewAll:hover{
	background:none;
	text-decoration:none;
}
.subHeading{
    font-weight: bold;
    padding: 10px 5px 5px;
    clear: both;
}
.alignRight{
	float:right;
	text-align: right;
}
.alignLeft{
	float:left;
}

/*For Server Errors*/
#content #header{
	background: #333;
	height:auto;
}
#content #content{
	padding:0; margin:0;
}

/*
******************************************************************
	9. Products and Services
******************************************************************
*/
#products h1{
	padding-bottom:0px;
}
#products #col1{
	background:url(../images/products/prod-res.jpg)/*tpa=http://www.firstam.com/assets/images/products/prod-res.jpg*/ no-repeat;
}
#products #col2{
	background:url(../images/products/prod-com.jpg)/*tpa=http://www.firstam.com/assets/images/products/prod-com.jpg*/ no-repeat;
}

/*
******************************************************************
	10. Press Rleases
******************************************************************
*/
#pressRlease h1{
	padding-bottom:20px;
	font-size:24px;
	line-height:26px;
	font-style:normal;
}
#pressRlease #content h2{
	text-align:center;
}