/*
*****************************************************************
	Table of Contents
	
	1. Global Rules
	2. Outer Shadow Rules
	3. Content Rules 
	4. Right Column Rules 
	5. Footer Rules 
	6. Modal Window Rules
	7. Utility Rules
******************************************************************
*/


/* 
******************************************************************
	1. Global Rules 
******************************************************************
*/

#logo img{
	background-image:none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/logo.png');
}

/***** 4th of July *****
html #logo img{
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='https://www.firstam.com/assets/images/logo-white.png');
}
html .faf #logo img{
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='https://www.firstam.com/assets/faf/images/logo-white.png');
}
html .commercial #logo img{
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='https://www.firstam.com/assets/images/logo-commercial-white.png');
}
html .homebuilder #logo img{
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='https://www.firstam.com/assets/images/logo-homebuilder-white.png');
}
html #headerCornerLeft{
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/header-corner-fw-left.png');
}
html #headerCornerRight{
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/header-corner-fw-right.png');
}
#contentTable {
	background: #f3f3f3;
}
***** End 4th of July *****/
/***** 4th of July *****
html #headerCornerLeft{
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/header-corner-flags-left.png');
}
html #headerCornerRight{
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/header-corner-flags-right.png');
}
#contentTable {
	background: #f3f3f3;
}
***** End 4th of July *****/
/***** Holiday BG -- comment this after the holidays ****
html #logo img{
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='https://www.firstam.com/assets/images/logo-white.png');
}
html .faf #logo img{
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='https://www.firstam.com/assets/faf/images/logo-white.png');
}
html .commercial #logo img{
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='https://www.firstam.com/assets/images/logo-commercial-white.png');
}
html .homebuilder #logo img{
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='https://www.firstam.com/assets/images/logo-homebuilder-white.png');
}
html #centerPage{
	background: none;
}
html #headerCornerLeft{
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='https://www.firstam.com/assets/images/holiday/2012-holiday-left.png');
}
html #headerCornerRight{
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='https://www.firstam.com/assets/images/holiday/2012-holiday-right.png');
}
html #contentTable {
	background: #f3f3f3;
}	
***** End Holiday BG *****/

#header{
	/*z-index:100; Removed 5-6-2010 because the home page order center in the body of the page was going under the header */
}
#headerCorners{
	background-image:none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/flash-corners.png');
}
#headerCornerLeft{
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/header-corner-left.png');
}
#headerCornerRight{
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/header-corner-right.png');
}

/* 
******************************************************************
	2. Outer Shadow Rules 
******************************************************************
*/
#shadowTop{
	background-image:none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/shadow-t.png');
}
#shadowTopLeft img{
	background-image:none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/shadow-tl.png');
}
#shadowTopRight img{
	background-image:none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/shadow-tr.png');
}
#shadowTopLeftInner img{
	background-image:none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/shadow-tl-inner.png');
}
#shadowTopRightInner img{
	background-image:none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/shadow-tr-inner.png');
}
#shadowTopLeft2 img{
	background-image:none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/shadow-tl2.png');
}
#shadowTopRight2 img{
	background-image:none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/shadow-tr2.png');
}
.shadowLeft{
	background-image:none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/shadow-l.png');
}
.shadowRight{
	background-image:none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/shadow-r.png');
}
#shadowBotLeft img{
	background-image:none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/footer-l.png');
}
#shadowBotBot{
	background-image:none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/footer-b.png');
}
#shadowBotRight img{
	background-image:none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/footer-r.png');
}

/* 
******************************************************************
	3. Content Rules 
******************************************************************
*/
/* Photos w/ Shadows */
.photo .tl, .boxShadow .blue .photo .tl{
	background-image:none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/img-shadow-tl.png');
}
.photo .t, .boxShadow .blue .photo .t{
	background-image:none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/img-shadow-t.png');
}
.photo .tr, .boxShadow .blue .photo .tr{
	background-image:none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/img-shadow-tr.png');
}
.photo .l, .boxShadow .blue .photo .l{
	background-image:none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/img-shadow-l.png');
}
.photo .r, .boxShadow .blue .photo .r{
	background-image:none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/img-shadow-r.png');
}
.photo .bl, .boxShadow .blue .photo .bl{
	background-image:none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/img-shadow-bl.png');
}
.photo .b, .boxShadow .blue .photo .b{
	background-image:none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/img-shadow-b.png');
}
.photo .br, .boxShadow .blue .photo .br{
	background-image:none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/img-shadow-br.png');
}
/* End Photos w/ Shadows */

/* Page Survey */
#pageSurvey .stars img{
	background-image:none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/ico-star.png');
}
/* End Page Survey */
body .small.button button {
	height:21px;
	padding:0px;
	margin:0px;
}

/* 
******************************************************************
	4. Right Column Rules 
******************************************************************
*/
#rightCol .box div.item{
	width:192px;
}
#rightCol .box a.item strong.blue{
	border-bottom: none;
}
/* Find Local Office Rules */
#rightCol .locateOffice span.item a{
	right:66px;
}
.search2{
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/btn-search-lrg.png');
}

#rightCol #modalLoading{
	top:6px; left:0px;
}
#fat-home #rightCol #thumbUsaMap{
	top: 6px; left: 0px;
}
.small,#zipFormBtn.small,#zipFormBtn.button.small{
	padding:0px;
	padding-right:0px;
}