body, #centerPage{
background:none;
}
#centerPage{
padding:10px;
}
#pageWrapper{
padding:94px 0 0 0;
width:100%;
}
#logo{
top:10px; left:0px;
}
#logoPrint img{
width:295px; height:81px;
}

#sysNav .navTable{
position:absolute;
top:51px; right:16px;
height:42px;
z-index:5;
}
#sysNav .navTableLeft, #sysNav .navTableLeft img{
width:15px; height:42px;
}
#sysNav .navTableRight, #sysNav .navTableRight img{
width:9px; height:42px;
}

#contentTable{
background:none;
}
#content{
padding:0 10px 0 0;
}
#rightCol{

}
h1{
padding-bottom:10px;
}
#fat-home #content{
padding:0;
}

#content li{
list-style-type:disc;
padding-left:0px;
margin-left:16px;
}
.linkDesc a{
padding-left:0px;
}
.linkDesc .thumb{
display:none;
}

.print{
display:block;
}
.noPrint, #shadowTopLeft, #shadowTopLeftInner, #shadowTop, #shadowTopRightInner, #shadowTopRight, .shadowLeft, .shadowRight, #leftCol, #header, #contentRight, #utilNav, #pageSurvey, #shadowBotLeft, #shadowBot, #shadowBotRight{
display:none;
}