/*
*****************************************************************
Table of Contents

	1. Global Rules
	2. FAF Home Rules
	4. Content Rules 
	5. Right Column Rules 
	6. Footer Rules

******************************************************************
*/


/* 
******************************************************************
1. Global Rules 
******************************************************************
*/
#fat-home #header, #faf-home #header{
	height:426px;
	background: url(../images/bg-wood.jpg)/*tpa=http://www.firstam.com/assets/images/bg-wood.jpg*/ center top;
}
#fat-home #header #nonFlash{
	height:426px;
	background: url(../images/headers/header-nonflash.jpg)/*tpa=http://www.firstam.com/assets/images/headers/header-nonflash.jpg*/ center top no-repeat;
}
#fat-home #header2{
	position:relative;
	height:426px;
	/*background: url(/assets/images/main-welcome2.jpg) center bottom no-repeat;*/
}
#fat-home #header.flash{
	background: url(../images/bg-wood.jpg)/*tpa=http://www.firstam.com/assets/images/bg-wood.jpg*/ center top;
}
#fat-home #header.flash #header2{
	background:none;
}
#fat-home #headerLeft, #fat-home #headerLeft img, #fat-home #headerRight, #fat-home #headerRight img{
	height:415px; min-height:415px; max-height:415px;
}

/* 
******************************************************************
2. FAF Home Rules
******************************************************************
*/
/* FAF Home */
#faf-home #pageWrapper{
	padding-bottom: 250px;
}
#faf-home #header{
	height:426px;
	background: url(../images/bg-wood.jpg)/*tpa=http://www.firstam.com/assets/images/bg-wood.jpg*/ center top no-repeat;
}
#faf-home #header2{
	position:relative;
	height:426px;
}
#faf-home #headerLeft, #faf-home #headerLeft img, #faf-home #headerRight, #faf-home #headerRight img{
	height:415px; min-height:415px; max-height:415px;
}
/* FAF Home Nav */
#faf-home #header .navTable{
	position:absolute;
	top:378px; left:0px;
	height:48px;
}
/* FAF Home Footer */
#faf-home #footer {
	padding:36px 0 17px 50px;
}

/* 
******************************************************************
4. Content Rules 
******************************************************************
*/
#fat-home #content, #faf-home #content{
	padding: 46px 50px 70px 50px;
}

/* 
******************************************************************
5. Right Column Rules 
******************************************************************
*/
#fat-home #rightCol, #faf-home #rightCol{
	padding-top:50px;
}
#fat-home #visitStateSite.box .item.act{
	padding: 10px 10px 8px 10px;
	background: #124270 url(../images/btn-right-col.png)/*tpa=http://www.firstam.com/assets/images/btn-right-col.png*/ center right no-repeat;
}
#fat-home #visitStateSite.box .item.act strong{
	color: #FFFFFF;
	font-style: italic;
}

/*
******************************************************************
6. Footer Rules 
******************************************************************
*/
#fat-home #footer{
	padding: 36px 0px 17px 50px;
}