/* 
******************************************************************
7. Modal Window Rules
******************************************************************
*/
#modalBackLayer{
    background-image:none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/modal/cover-black.png');
}
.modalWin td.tl{
    background-image:none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/modal/modal-tl.png');
}
.modalWin td.tlInner{
    background-image:none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='');
}
.modalWin td.trInner{
    background-image:none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='');
}
.modalWin td.tr{
    background-image:none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/modal/modal-tr.png');
}
.modalWin td.bl{
    background-image:none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/modal/modal-bl.png');
}
.modalWin td.blInner{
    background-image:none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='');
}
.modalWin td.brInner{
    background-image:none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='');
}
.modalWin td.br{
    background-image:none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/modal/modal-br.png');
}
.modalWin td.t{
    background-image:none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/modal/modal-t.png');
}
.modalWin td.l{
    background-image:none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/modal/modal-l.png');
}
.modalWin td.r{
    background-image:none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/modal/modal-r.png');
}
.modalWin td.b{
    background-image:none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/modal/modal-b.png');
}