
/*
1. System Nav
*/
#sysNav .left{
background:none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/sys-nav-l.png');
}
#sysNav .divider{
background:none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/sys-nav-d.png');
}
#sysNav .right{
background:none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/sys-nav-r.png');
}
#sysNav .tab{
background:none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/sys-nav-bg.png');
}
#sysNav #btnSearch{
background:none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/btn-search.png');
}

/*
1. Top Level Buttons
*/

.primNav{
background-image:none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/prim-nav-gutter.png');
}
.navTableLeft img{
background-image:none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/prim-nav-l.png');
}
.navTableTopLeft{
background-image:none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='crop', src='/assets/images/prim-nav-tl.png');
}
.navTableTop{
background-image:none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/prim-nav-t.png');
}
.navTableTopRight{
background-image:none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='crop', src='/assets/images/prim-nav-tr.png');
}
.navTableRight img{
background-image:none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/prim-nav-r.png');
}

/*
2. Top Level Flyouts
*/
.primNav li td.tl{
background:none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/fly-shadow-l.png');
}
.primNav li td.t{
background:none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/fly-bg.png');
}
.primNav li td.tr{
background:none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/fly-shadow-r.png');
}
.primNav li td.l{
background:none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/fly-shadow-l.png');
}
.primNav li td.r{
background:none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/fly-shadow-r.png');
}

.primNav li td.wrapper{
    background:none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/fly-bg.png');
}
.primNav li td.wrapper div div{
padding-top:0;
    background:none;
}

.primNav li td.bl{
background-image:none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/fly-shadow-bl.png');
}
.primNav li td.b{
background-image:none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/fly-shadow-b.png');
}
.primNav li td.br{
background-image:none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/fly-shadow-br.png');
}

.primNav li td a, .primNav li.opened td a, .primNav li.opened td a:visited{
    background:none;
}
.primNav li.opened td a:hover{
    background:#fecb33;
}

/*
3. Second Level Flyouts
*/
.primNav li td td.tl{
background:none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/fly-shadow-tl.png');
}
.primNav li td td.t{
background:none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/fly-shadow-t.png');
}
.primNav li td td.tr{
background:none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='/assets/images/fly-shadow-tr.png');
}