/*
1. System Nav
*/
#sysNav .tab.last span.searchText{
padding-top:7px;
}

/*
3. Top Level Buttons
*/
.primNav li{
margin-bottom:-3px;
}

/*
4. Top Level Flyouts
*/
#header .navTable {
	height:48px;
	left:0;
	position:absolute;
	top:207px;
	z-index:500;
}
.primNav li table {
	clear:left;
	left:-14px;
	position:absolute;
	top:39px;
	z-index:500;
}

/*
6. Third Level Flyouts
*/

/* For Double Wide Flyouts */
.primNav.dbl li.closed td.wrapper .left{
border-right:1px solid none;
}
.primNav.dbl li.opened td.wrapper .left{
border-right:1px solid #e99b8f;
}

.primNav.dbl li td div{
position:static;
}
.primNav.dbl li td div div{
position:relative;
}
.primNav.dbl li td div div.shim{
position:absolute;
}

/* This is for Ordered lists in IE6 and 7 */
#content ol{
	margin:2px 0 2px 23px;
}