
/*
1. System Nav
*/
#sysNav{
	position:absolute;
	height:39px;
	right:16px;
	top:54px;
	z-index:150;
}
.faf #sysNav {
	right:84px;
}
#sysNav .left{
	display:block;
	width:11px; height:39px;
	background: url(../images/sys-nav-l.png)/*tpa=http://www.firstam.com/assets/images/sys-nav-l.png*/ no-repeat;
	float:left;
}
#sysNav .divider{
	display:block;
	width:13px; height:39px;
	background: url(../images/sys-nav-d.png)/*tpa=http://www.firstam.com/assets/images/sys-nav-d.png*/ no-repeat;
	float:left;
}
#sysNav .right{
	display:block;
	width:11px; height:39px;
	background: url(../images/sys-nav-r.png)/*tpa=http://www.firstam.com/assets/images/sys-nav-r.png*/ no-repeat;
	float:left;
}

#sysNav .tab{
	display:block;
	height:23px;
	background: url(../images/sys-nav-bg.png)/*tpa=http://www.firstam.com/assets/images/sys-nav-bg.png*/ repeat-x bottom;
	font-size:10px;
	font-weight:bold;
	white-space:nowrap;
	text-align:center;
	color:#FFFFFF;
	text-decoration:none;
	float:left;
}
#sysNav a.tab{
	display:block;
	cursor:pointer;
	padding: 16px 10px 0 10px;
}
#sysNav div.tab.last{
	height:33px;
	padding: 6px 4px 0 0;
}
#sysNav .tab.last span{
	display:inline-block;
	padding-top:5px;
	float:left;
}
#sysNav .tab.last span.searchText{
	padding-top:8px;
	padding-left:7px;
}
#sysNav .tab.last label{
	display:block;
	float:left;
	padding:10px 10px 0 10px;
}
#sysNav input.text{
	font-size:10px; 
	padding:0px 4px;
	width:75px; height:15px;
	color:#959595;
}
#sysNav #btnSearch{
	width:26px; height:25px;
	margin:0 0 0 2px;
	background:url(../images/btn-search.png)/*tpa=http://www.firstam.com/assets/images/btn-search.png*/ no-repeat;
}

/*
3. Top Level Buttons
*/
.navTable table{
	width:100%;
}
.navTableLeft img{
    background:url(../images/prim-nav-l.png)/*tpa=http://www.firstam.com/assets/images/prim-nav-l.png*/ no-repeat top left;
}
.navTableTopLeft, .navTableTopLeft img{
    width:9px; height:9px;
}
.navTableTopLeft{
    background:url(../images/prim-nav-tl.png)/*tpa=http://www.firstam.com/assets/images/prim-nav-tl.png*/ no-repeat;
}
.navTableTop{
    height:9px; width:auto;
    background:url(../images/prim-nav-t.png)/*tpa=http://www.firstam.com/assets/images/prim-nav-t.png*/ repeat-x;
}
.navTableTopRight, .navTableTopRight img{
    width:9px; height:9px;
}
.navTableTopRight{
    background:url(../images/prim-nav-tr.png)/*tpa=http://www.firstam.com/assets/images/prim-nav-tr.png*/ no-repeat right;
}
.navTableRight, .navTableRight img{
width:9px; height:48px;
}
.navTableRight img{
    background:url(../images/prim-nav-r.png)/*tpa=http://www.firstam.com/assets/images/prim-nav-r.png*/ no-repeat top right;
}
.primNav{
    background:url(../images/prim-nav-gutter.png)/*tpa=http://www.firstam.com/assets/images/prim-nav-gutter.png*/;
vertical-align:top;
}

#header .navTable{
position:absolute;
top:207px; left:0px;
height:48px;
z-index:50;
}
#fat-home #header .navTable{
position:absolute;
top:378px; left:0px;
height:48px;
}
#header .navTableLeft, #header .navTableLeft img{
width:15px; height:48px;
}
.primNav{
vertical-align:top;
}
.primNav li{
height:39px;
position:relative;
padding-right:6px;
list-style:none;
}
.primNav li.last{
padding-right:0px;
}
.primNav a{
	height:39px;
	display:block;
	background:#c4271b url(../images/prim-nav-b.png)/*tpa=http://www.firstam.com/assets/images/prim-nav-b.png*/ repeat-x bottom;
	font-style:italic;
	font-weight:bold;
	white-space:nowrap;
	text-align:center;
	color:#FFFFFF;
	text-decoration:none;
}
.primNav a.txtNav{
    height: 27px;
    white-space:nowrap;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 16px;
    padding-top: 12px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}
.primNav a.county{
	background-color:#424242;
}
.primNav a img{
height:39px;
padding:0 13px;
}
.primNav #primNavCareers a img{
width:57px;
background:url(../images/prim-nav-careers.gif)/*tpa=http://www.firstam.com/assets/images/prim-nav-careers.gif*/ no-repeat center center;
}
.primNav #primNavNews a img{
width:41px;
background:url(../images/prim-nav-news.gif)/*tpa=http://www.firstam.com/assets/images/prim-nav-news.gif*/ no-repeat center center;
}
.primNav #primNavInvestors a img{
width:67px;
background:url(../images/prim-nav-investors.gif)/*tpa=http://www.firstam.com/assets/images/prim-nav-investors.gif*/ no-repeat center center;
}
.primNav #primNavProducts a img{
width:164px;
background:url(../images/prim-nav-products.gif)/*tpa=http://www.firstam.com/assets/images/prim-nav-products.gif*/ no-repeat center center;
}
.primNav #primNavProductsResources a img{
width:178px;
background:url(../images/prim-nav-products-resources.gif)/*tpa=http://www.firstam.com/assets/images/prim-nav-products-resources.gif*/ no-repeat center center;
}
.primNav #primNavResourceCenter a img{
width:124px;
background:url(../images/prim-nav-resource-center.gif)/*tpa=http://www.firstam.com/assets/images/prim-nav-resource-center.gif*/ no-repeat center center;
}
.primNav #primNavResources a img{
width:75px;
background:url(../images/prim-nav-resources.gif)/*tpa=http://www.firstam.com/assets/images/prim-nav-resources.gif*/ no-repeat center center;
}
.primNav #primNavAbout a img{
width:48px;
background:url(../images/prim-nav-about.gif)/*tpa=http://www.firstam.com/assets/images/prim-nav-about.gif*/ no-repeat center center;
}
.primNav #primNavAboutFA a img{
width:160px;
background:url(../images/prim-nav-about-first-american.gif)/*tpa=http://www.firstam.com/assets/images/prim-nav-about-first-american.gif*/ no-repeat center center;
}
.primNav #primNavAboutUs a img{
width:70px;
background:url(../images/prim-nav-about-us.gif)/*tpa=http://www.firstam.com/assets/images/prim-nav-about-us.gif*/ no-repeat center center;
}
.primNav #primNavLocalLinks a img{
width:80px;
background:url(../images/prim-nav-local-links.gif)/*tpa=http://www.firstam.com/assets/images/prim-nav-local-links.gif*/ no-repeat center center;
}
.primNav #primNavLinks a img{
width:37px;
background:url(../images/prim-nav-links.gif)/*tpa=http://www.firstam.com/assets/images/prim-nav-links.gif*/ no-repeat center center;
}
.primNav li.secondary{
    float:right;
}
.primNav .opened a, .primNav a:hover, .primNav .opened a:visited, .primNav a.opened{
    background: #cf291c;
}

/* Replace with below */
.primNav #primNavTools a{
	background-color:#f2c230;
	color:#464646;
}
.primNav #primNavTools.opened a, .primNav #primNavTools a:hover, .primNav #primNavTools.opened a:visited, .primNav #primNavTools a.opened{
	background:#ffcc33 url(../images/prim-nav-b.png)/*tpa=http://www.firstam.com/assets/images/prim-nav-b.png*/ repeat-x bottom;
}
.primNav #noFly a, .primNav #noFly a:hover, .primNav #noFly .opened a:visited, .primNav #noFly a.opened{
	background:#c4271b url(../images/prim-nav-b.png)/*tpa=http://www.firstam.com/assets/images/prim-nav-b.png*/ repeat-x bottom;
}
.primNav #noFly a.county{
	background:#343434 url(../images/prim-nav-b.png)/*tpa=http://www.firstam.com/assets/images/prim-nav-b.png*/ repeat-x bottom;
}
.primNav #noFly a.county:hover, .primNav #noFly .opened a.county:visited, .primNav #noFly a.county.opened{
	background-color:#424242;
}
.primNav li#noFly table{
	display: none;
}

/* Replaces the above */
#primNavTools a{
	background-color:#f2c230;
	color:#464646;
}
#primNavTools.opened a, #primNavTools a:hover, #primNavTools.opened a:visited, #primNavTools a.opened{
	background:#ffcc33 url(../images/prim-nav-b.png)/*tpa=http://www.firstam.com/assets/images/prim-nav-b.png*/ repeat-x bottom;
}
#primNavCounty{
	display: none;
}
#primNavCounty.opened a, #primNavCounty a:hover, #primNavCounty.opened a:visited, #primNavCounty a.opened{
	background:#343434 url(../images/prim-nav-b.png)/*tpa=http://www.firstam.com/assets/images/prim-nav-b.png*/ repeat-x bottom;
}
#noFly a, #noFly a:hover, #noFly .opened a:visited, #noFly a.opened{
	background:#c4271b url(../images/prim-nav-b.png)/*tpa=http://www.firstam.com/assets/images/prim-nav-b.png*/ repeat-x bottom;
}
#primNavCounty a{
	background:#343434 url(../images/prim-nav-b.png)/*tpa=http://www.firstam.com/assets/images/prim-nav-b.png*/ repeat-x bottom;
}
#primNavCounty a:hover, #primNavCounty .opened a:visited, #primNavCounty a.opened{
	background-color:#424242;
}
#noFly table, #primNavTools table, #primNavCounty table{
	display: none;
}

/*
4. Top Level Flyouts
*/
.primNav li table{
	position:absolute;
	top:39px; left:-14px;
	clear:left;
	z-index:50;
}
.primNav #primNavAboutFAF table{
width:214px;
}
.primNav #primNavProducts table{
width:218px;
}
.primNav.dbl #primNavProducts table table{
width:372px;
}
.primNav.dbl #primNavProducts table table table{
width:246px;
}
.primNav #primNavResources table{
width:176px;
}
.primNav #primNavAboutFA table{
width:214px;
}
.primNav li td.tl img{
width:19px; height:5px;
}
.primNav li td.l img, .primNav li td.r img, .primNav li td.bl img{
width:19px; height:19px;
}
.primNav li td.tl{
    background:url(../images/fly-shadow-l.png)/*tpa=http://www.firstam.com/assets/images/fly-shadow-l.png*/;
}
.primNav li td.t{
    background:url(../images/fly-bg.png)/*tpa=http://www.firstam.com/assets/images/fly-bg.png*/;
}
.primNav li td.tr{
    background:url(../images/fly-shadow-r.png)/*tpa=http://www.firstam.com/assets/images/fly-shadow-r.png*/;
}
.primNav li td.l{
    background:url(../images/fly-shadow-l.png)/*tpa=http://www.firstam.com/assets/images/fly-shadow-l.png*/ repeat-y;
}
.primNav li td.r{
    background:url(../images/fly-shadow-r.png)/*tpa=http://www.firstam.com/assets/images/fly-shadow-r.png*/ repeat-y;
}

.primNav li td.wrapper{
width:100%;
padding-top:0px;
background:url(../images/fly-bg.png)/*tpa=http://www.firstam.com/assets/images/fly-bg.png*/;
}
.primNav li td.wrapper div div{
padding-top:0;
    background:none;
}

.primNav li td.bl{
    background:url(../images/fly-shadow-bl.png)/*tpa=http://www.firstam.com/assets/images/fly-shadow-bl.png*/;
}
.primNav li td.b{
    background:url(../images/fly-shadow-b.png)/*tpa=http://www.firstam.com/assets/images/fly-shadow-b.png*/;
}
.primNav li td.br{
    background:url(../images/fly-shadow-br.png)/*tpa=http://www.firstam.com/assets/images/fly-shadow-br.png*/;
}
.primNav li td div div{
position:relative;
}
.primNav li td a, .primNav li.opened td a, .primNav li.opened td a:visited, .primNav li td .head{
height:16px;
    padding:3px 0 2px 11px;
    display:block;
    font-size:13px;
font-weight:normal;
font-style:normal;
line-height:14px;
text-align:left;
color:#ffffff;
float:none;
    background:none;
}
.primNav li td.wrapper .right a{
    padding:5px 0 4px 11px;
}
.primNav li#primNavAboutFA td.wrapper .right a{
    padding:3px 0 2px 11px;
}
.primNav li td .head{
height:13px;
    padding:2px 0 3px 11px;
    font-size:10px;
font-weight:bold;
font-style:italic;
line-height:13px;
}
.primNav li td a.dbl, .primNav li.opened td a.dbl, .primNav li.opened td a.dbl:visited{
height:30px;
}
.primNav li.opened td a:hover, .primNav li.opened .opened a, .primNav li.opened .opened a:visited{
color:#013A6F;
    background:#fecb33;
}
.primNav li td a span{
padding-right:25px;
display:block;
background:url(../images/spacer.gif)/*tpa=http://www.firstam.com/assets/images/spacer.gif*/;
}
.primNav li td .closed a span, .primNav li td .opened a span{
    background:url(../images/arrow-white.gif)/*tpa=http://www.firstam.com/assets/images/arrow-white.gif*/ right 5px no-repeat;
}
.primNav li td .opened a span, .primNav li td .opened a:visited span{
    background:url(../images/arrow-black.gif)/*tpa=http://www.firstam.com/assets/images/arrow-black.gif*/ right 5px no-repeat;
}
.primNav .hr{
display:block;
height:0px;
border:0px none;
border-bottom:1px dashed #e89b95;
margin:0px 10px;
overflow:hidden;
clear:both;
}
.primNav .hr.viewAllResources{
margin-top:13px;
}

/*
5. Second Level Flyouts
*/
.primNav li td td.tl img{
width:19px; height:19px;
}
.primNav li td td.tl{
    background:url(../images/fly-shadow-tl.png)/*tpa=http://www.firstam.com/assets/images/fly-shadow-tl.png*/;
}
.primNav li td td.t{
    background:url(../images/fly-shadow-t.png)/*tpa=http://www.firstam.com/assets/images/fly-shadow-t.png*/;
}
.primNav li td td.tr{
    background:url(../images/fly-shadow-tr.png)/*tpa=http://www.firstam.com/assets/images/fly-shadow-tr.png*/;
}
.primNav li table table{
top:-19px;
z-index: 100;
}
.primNav li td td.wrapper{
padding-top:0;
}
.primNav li.opened .opened td a, .primNav li.opened .opened td a:visited{
color:#ffffff;
    background:none;
}
.primNav li.opened td td a:hover, .primNav li.opened .opened td a:hover, .primNav li.opened .opened .opened a, .primNav li.opened .opened .opened a:visited{
color:#013A6F;
    background:#fecb33;
}
.primNav li td .opened td a span, .primNav li td .opened td a:visited span{
    background:url(../images/spacer.gif)/*tpa=http://www.firstam.com/assets/images/spacer.gif*/;
}
.primNav li td .opened td .closed a span, .primNav li td .opened td .opened a span, .primNav li td .opened td .closed a:visited span{
    background:url(../images/arrow-white.gif)/*tpa=http://www.firstam.com/assets/images/arrow-white.gif*/ right 5px no-repeat;
}
.primNav li td td.wrapper .opened a span, .primNav li td td.wrapper .opened a:visited span{
    background:url(../images/arrow-black.gif)/*tpa=http://www.firstam.com/assets/images/arrow-black.gif*/ right 5px no-repeat;
}

/*
6. Third Level Flyouts
*/
.primNav li.opened .opened .opened td a, .primNav li.opened .opened .opened td a:visited{
color:#ffffff;
    background:none;
}
.primNav li.opened td td td a:hover, .primNav li.opened .opened .opened td a:hover{
color:#013A6F;
    background:#fecb33;
}
.primNav li td td.wrapper .opened td a span, .primNav li td td.wrapper .opened td a:visited span{
    background:url(../images/spacer.gif)/*tpa=http://www.firstam.com/assets/images/spacer.gif*/;
}
.primNav li td td td.wrapper .closed a span, .primNav li td td td.wrapper .opened a span{
    background:url(../images/arrow-white.gif)/*tpa=http://www.firstam.com/assets/images/arrow-white.gif*/ right 5px no-repeat;
}
.primNav li td td td.wrapper .opened a:hover span{
    background:url(../images/arrow-black.gif)/*tpa=http://www.firstam.com/assets/images/arrow-black.gif*/ right 5px no-repeat;
}

/* For Double Wide Flyouts */
.primNav.dbl li td.wrapper{
padding:5px 0px;
}
.primNav.dbl li td.wrapper .left{
padding-right:5px;
}
.primNav.dbl li td.wrapper .right{
padding-left:5px;
}
.primNav.dbl li table .wrapper table{
position:relative;
top:auto; left:auto;
clear:none;
z-index:auto;
}
.primNav.dbl li td.wrapper .left{
border-right:1px solid #e99b8f;
}
.primNav.dbl li table .wrapper table table {
clear:left;
position:absolute;
top:-24px;
z-index:200;
}
.primNav #primNavProducts .hr.viewAllResources{
margin-top:76px;
}
.primNav.dbl li td div{
position:relative;
}
.primNav li td div div.shim{
position:absolute;
top:0px; left:85px;
z-index:200;
}
.primNav li td div div.shim img{
width:75px; height:21px;
}
.primNav li td div div#prodComFlyShim{
top:21px;
}
.primNav li td div div#aboutCareersFlyShim{
top:21px; left:95px;
}
.primNav li td div div#aboutNewsFlyShim{
top:42px; left:95px;
}
.primNav li td div div#aboutCareersFlyShim img, .primNav li td div div#aboutNewsFlyShim img{
width:65px; height:21px;
}

/*
7. Utility Rules
*/
.primNav .closed table{
visibility:hidden;
}
.primNav .opened{
z-index:100;
}
.primNav .opened table{
}
.primNav #primNavTools.opened table{
	visibility:hidden;
}