.EventFeatured {
    background: #292d31;
    color: #fff;
    margin-bottom: 3px;
    position: relative;
	font-family: "Open Sans", sans-serif;
	overflow: hidden;
}
.irBar {
    /*max-width: 928px;*/
}
.EventFeatured,
.EventFeatured * {
    box-sizing: border-box;  
}
div.earnings  {
    padding: 5px 6px;
}
div.featured {
	padding: 4px 7px;
}
.EventFeatured ul {
    list-style: none;
	margin: 0;
	padding: 0;
}
.EventFeatured ul li {
    float: left;
    /*width:20%;*/
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
.featured.EventFeatured ul li {
	padding-top: 4px;
}
.EventFeatured ul li:first-child {
	text-align: left;
}
.EventFeatured .news {
	width: 20%;
}
.EventFeatured .item0 {
	width: 25%;
}
.EventFeatured .item1 {
	width: 35%;
}
.EventFeatured .webcast {
	width: 20%;
}
.EventFeatured .Files a {
    color: #adadad;
    font-size: 14px;
    padding: 11px 10px;
    text-transform: uppercase;
	text-decoration: none;
	outline: 0 none;
    transition: all 0.35s ease 0s;
	display: inline-block;
	line-height: 20px;
	font-weight: 600;
}
.earnings .Files a {
    padding: 9px 10px;
}
.EventFeatured .slides {
	margin-left: 9%;
}
.EventFeatured .Files a:hover {
    background-color: #000;
    color: #fff;
}
.EventFeatured .Title {
    color: white;
    letter-spacing: 0;
    font-size: 14px;
	line-height: 1.25em;
    margin: 0 0 0 0;
    text-align: left;
    width: 19.5%;
	padding-left: 6.5%;
	position: relative;
	float: left;
	font-weight: 600;
}
.earnings.EventFeatured .Title {
	line-height: 38px;
}
.featured.EventFeatured .Title {
	padding-top: 7px;
	padding-bottom: 7px;
}
.EventFeatured .Headline {
    color: white;
	display: inline-block;
	vertical-align: middle;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 1.25em;
    padding-left: 10px;
    width:56%;
}
.EventFeatured .featured .Headline {
	margin-right: 20%;
}
.EventFeatured .featured.webcast .Headline {
	margin-right: 0;
}
.EventFeatured .Files {
    display: inline-block;
    vertical-align: middle;
	padding-right: 5%;
	width:80%;
	float: right;
}
.EventFeatured .HeadlineLink {
	color: #ecb731;
    display: block;
    font-size: 14px;
    padding:4px 0 0 0;
	text-transform: uppercase;
}
.EventFeatured .Headline .location,
.EventFeatured .Headline .date,
.EventFeatured .speakers,
.EventFeatured .slideDetails {
    display: inline-block;
    font-size: 12px;
}
.EventFeatured .webcast .slideDetails {
	display: none;
}
.EventFeatured .speakers {
	display: block;
}
.EventFeatured .subTitle {
    display: block;
	text-transform: uppercase;
	font-weight: 600;
}
.EventFeatured .Headline .date {
	display: none;
}
.EventFeatured .webcast .Headline .date {
	display: inline-block;
}
.earnings.EventFeatured i.icon {
	display: block;
	position: absolute;
    width: 56px;
	left: 0;
	top: 0;
	bottom: 0;
    background-position: center center;
    background-repeat: no-repeat;
}
.earnings.EventFeatured  i.icon.Q1 {
    background-image: url('../img/q1.png')/*tpa=http://investors.devonenergy.com/files/irbar/img/q1.png*/;
}
.earnings.EventFeatured  i.icon.Q2 {
	background-image: url('../img/q2.png')/*tpa=http://investors.devonenergy.com/files/irbar/img/q2.png*/;
}
.earnings.EventFeatured  i.icon.Q3 {
	background-image: url('../img/q3.png')/*tpa=http://investors.devonenergy.com/files/irbar/img/q3.png*/;
}
.earnings.EventFeatured  i.icon.Q4 {
	background-image: url('../img/q4.png')/*tpa=http://investors.devonenergy.com/files/irbar/img/q4.png*/;
}
.EventFeatured.featured i.icon {
    display: block;
	position: absolute;
    width: 56px;
	left: 0;
	top: 0;
	bottom: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../img/slides.png')/*tpa=http://investors.devonenergy.com/files/irbar/img/slides.png*/;	
}
.EventFeatured.featured i.icon.webcast {
    background-image: url('../img/homeEvent.png')/*tpa=http://investors.devonenergy.com/files/irbar/img/homeEvent.png*/;
}
.EventFeatured a.arrow {
    display: block;
	position: absolute;
	margin: 0;
	padding: 0;
	right: 10px;
	height: 14px;
	top: 50%;
	margin-top: -7px;
	width: 18px;
	background: url("../img/right-arrow-blue.png")/*tpa=http://investors.devonenergy.com/files/irbar/img/right-arrow-blue.png*/ no-repeat center center;
}
.EventFeatured a.arrow:hover {
    background-color: #292d31;
    background-image: url('../img/right-arrow-grey.png')/*tpa=http://investors.devonenergy.com/files/irbar/img/right-arrow-grey.png*/;
}
.EventFeatured ul li.last {
	margin: 0;
	padding: 0;
}
@media screen and (max-width: 70em) {
	.EventFeatured .Title {
		width:100%;
		padding-left: 65px;
	}
	.EventFeatured .Files {
		width: 100%;
		position: relative;
	}
}
@media screen and (max-width: 45em) {
	.EventFeatured .Files .last {
	    display: none;	
	}
	.EventFeatured .slides {
		margin-left: 0;
	}
	.EventFeatured {
		text-align: center;
	}
	.EventFeatured .Title {
		padding-left: 45px;
		text-align: center;
		display: inline-block;
		float: none;
		width:auto;
	}
	.EventFeatured.featured i.icon,
	.earnings.EventFeatured i.icon {
		width: 37px;
	}
	.earnings.EventFeatured .Title {
		line-height: 49px;
	}
	.EventFeatured .Files {
		position: static;
		padding-right: 0;
	}
	.EventFeatured .Files li {
		padding: 0 13px 0 10px;
		border-top: 1px solid #5f6062;
		width:100%;
	}
	.featured.EventFeatured ul li {
		padding: 0 13px 0 10px;
	}
	.EventFeatured .Files li:first-child {
		text-align: center;
	}
	.EventFeatured a.arrow {
		top: 24px;
	}
	.EventFeatured .Files a {
		display: block;
		text-align: left;
		padding:12px 10px;
	}
	.EventFeatured .featured .Headline {
	    margin: 0;
		width: 100%;
		text-align: left;
		padding:4px 20px;
	}
	.EventFeatured .Files li:first-child {
		text-align: left;	
	}
	div.featured,
	div.earnings {
	    padding-left: 0;
		padding-right: 0;	
	}
	.EventFeatured .HeadlineLink,
	.EventFeatured .slideDetails {
	    text-align: left;	
	}
	.EventFeatured .subTitle {
		text-align: left;
	}
	.EventFeatured .Files a:after {
		content:"";
		float:right;
		background-image: url(../../../../devonenergy.q4web.com/files/design/right-arrow-gray.png)/*tpa=http://devonenergy.q4web.com/files/design/right-arrow-gray.png*/;
		background-repeat: no-repeat;
		background-position: right center;
		width:18px;
		height:14px;
		display:block;
		margin-top: 3px;
	}
}