/**
 * IE Fixes
 * This stylesheet is only included on IE < 9
 */

body, .header-nav-wrap, .hero-slides{
  min-width: 1000px;
}

/* Homepage */
.caption{
  min-height: 261px;
}

.navbar-search {
  width: 207px;
}
.navbar-search .form-search .input-append .search-query {
  line-height: 18px;
}
.nav-toggle {display: none;}

.node-type-page-landing-with-hero .section-navigation {
  display: none;
}

body.front .hero-text { width:355px; }

.logo {
  float: none;
}

.home-cta .caption{
    padding: 15px 28px;
    min-height: 178px;
}

.menu.global-nav li a{
  font-size: 12px;
}

.countries-select li a{
  font-size: 12px;
}

/* Web Ex Thank you page */
.webex-thank-you iframe{
  left: -23px;
}

/* Diversity Page */
.company-careers-diversity .field-name-body ul{
  position: relative;
  left: 18px;
  margin-bottom: 20px;
}

/* Slides */
.hero-slider .img-wrapper { height:363px; }
.hero-slider img { position:absolute; left:50%; margin-left:-800px; }
.hero-slider .hero-slide { height:363px; }
.hero-slider .img-xlarge { display:block; }
.hero-slider .hero-text { width:340px; }
.hero-slider .hero-text h2 { font: normal 33px/39px "open_sansregular"; }

.carousel-indicators { right:50%; margin-right:430px; top:auto; bottom:15px; }
.carousel-control { top:180px; height: 40px; width: 20px;}

.carousel-control.left  { left:50%; margin-left:-520px; background: #FFF url('../images/hero_carousel_left_arrow.png') no-repeat; }
.carousel-control.right { left:50%; margin-left:480px; background: #FFF url('../images/hero_carousel_right_arrow.png') no-repeat;}

.hero-slides { position:relative; }
.hero-slides .nav-links { display:block; position:absolute; top:19px; right:50%; margin-right:-470px; }
.hero-slides .nav-links li { display:inline; margin:0; padding:0; }
.hero-slides .nav-links li a { background: #545454; color:#eee; font-family:'open_sansregular'; font-weight:normal; font-size:12px; min-width:60px; display:inline-block; text-align:center; text-decoration:none; padding:5px 16px; }
.hero-slides .nav-links li a:hover { text-decoration:none; background: #000; }
.hero-slides .nav-links li.selected { background: #000; }



/* Forms */
.webform-client-form button,
.webform-client-form .btn {
  width: auto;
}
.btn-wide {
  width: 180px;
}
/* Licensing Form Page */
.company-contact-licensing-form .webform-client-form #webform-component-firstname {
  max-width: 183px;
  display: inline-block;
}

.company-contact-licensing-form .webform-client-form #webform-component-lastname{
  max-width: 182px;
  display: inline-block;
}

.company-contact-licensing-form .webform-client-form #webform-component-phone,
.company-contact-licensing-form .webform-client-form #webform-component-fax,
.company-contact-licensing-form .webform-client-form #webform-component-mobilephone {
  max-width: 127px;
  display: inline-block;
}
.company-contact-licensing-form .webform-client-form #webform-component-salutation {
  display: inline-block;
  float: left;
  margin-right: 5px;
}
.company-contact-licensing-form .webform-client-form #webform-component-salutation label {
  text-align: right;
  margin-right: 10px;
}
.webform-container-inline label,
.company-contact-licensing-form .webform-client-form #webform-component-salutation select {
  text-align: right;
  width: 110px;
  margin-right: 10px;
  display: inline-block;
}
.company-contact-licensing-form .webform-client-form #webform-component-title input,
.company-contact-licensing-form .webform-client-form #webform-component-company input,
.company-contact-licensing-form .webform-client-form #webform-component-email input,
.company-contact-licensing-form .webform-client-form #webform-component-city input,
.company-contact-licensing-form .webform-client-form #webform-component-state input,
.company-contact-licensing-form .webform-client-form #webform-component-postalcode input,
.company-contact-licensing-form .webform-client-form #webform-component-country input {
  max-width: 390px;
}
.company-contact-licensing-form .webform-client-form #webform-component-phone,
.company-contact-licensing-form .webform-client-form #webform-component-16,
.company-contact-licensing-form .webform-client-form #webform-component-17,
.company-contact-licensing-form .webform-client-form #webform-component-street,
.company-contact-licensing-form .webform-client-form .captcha {
  margin-left: 125px;
}
.company-contact-licensing-form .webform-client-form #webform-component-street .form-textarea-wrapper,
.company-contact-licensing-form .webform-client-form #webform-component-16 .form-textarea-wrapper {
  max-width: 403px;
  display: inline-block;
}
.company-contact-licensing-form .webform-client-form #webform-component-16,
.company-contact-licensing-form .webform-client-form #webform-component-street {
  margin-bottom: 10px;
}
.company-contact-licensing-form .webform-client-form #webform-component-street {}
.company-contact-licensing-form .webform-client-form #webform-component-17 button {
  display: block;
  width: auto;
}
.company-contact-licensing-form .webform-client-form #edit-submit {
  width: auto;
  margin-left: 125px;
}
.company-contact-licensing-form .webform-client-form fieldset .captcha {
    margin-left: 125px;
}
.company-contact-licensing-form .webform-client-form #edit-submitted-17-upload-button {
    margin-left: 0;
}

/* Subscribe Page */
.panel-subscription form {
  width: 230px;
}
#node-3332209 #webform-component-email input,
#node-3332210 #webform-component-email input {
  max-width: 230px;
}
#node-3332209 #webform-component-email label,
#node-3332210 #webform-component-email label {
  display: block;
  width: auto;
  margin-right: 0;
  text-align: left;
}
#node-3332209 .btn,
#node-3332210 .btn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  font-size: 12px;
}
#node-3332209 .form-type-checkbox label,
#node-3332210 .form-type-checkbox label {
  color: inherit;
}


.contact .contact-social-img img {
  max-width: none;
  width: 38px;
}

/* Footer */
.footer-share {
    position: absolute;
    margin-bottom: 0;
    padding: 40px 30px;
}
.footer-share h4 {
    font: 36px 'open_sanslight';
    font-weight:normal;
    margin: 0px auto 20px;
    padding-top: 12px;
}
.feedback-container a {
    left: 92.5%;
}

.share-link .icon-linkedin:before,
.share-link .icon-facebook:before,
.share-link .icon-twitter:before,
.share-link .icon-google-plus:before,
.share-link .icon-bold:before,
.share-link .icon-youtube:before {content: none;}

.share-link a {width: 71px; height: 71px;  background: none; background-color: none;}
.share-link a i {width: 71px; height: 71px; display: block;}

.share-link .icon-linkedin {background: url(../images/icon-ie-linkdin.png); top left no-repeat; content: none;}
.share-link .icon-facebook {background: url(../images/icon-ie-facebook.png); top left no-repeat; content: none;}
.share-link .icon-twitter {background: url(../images/icon-ie-twitter.png); top left no-repeat; content: none;}
.share-link .icon-google-plus {background: url(../images/icon-ie-g.png); top left no-repeat; content: none;}
.share-link .icon-bold {background: url(../images/icon-ie-blog.png); top left no-repeat; content: none;}
.share-link .icon-youtube {background: url(../images/icon-ie-youtube.png); top left no-repeat; content: none;}

.main-navigation .navbar-inner {
  filter: none; /* Prevent IE from overriding the background color of global Navigation */
  width: auto;
}

/* Dropdown menu */
#navbar li:hover {background: none;}
#navbar a:hover,
#navbar a:focus {background: none; filter: none;}
.dropdown-menu.countries a:hover,
.dropdown-menu.countries a:focus {
  background: none;
  filter: none;
}


#navbar .dropdown-menu {
  background: #000;
  border-radius: 0;
  margin: 0;
  width: 400px;
  border: none;
}
#navbar .dropdown-menu li a {
  color: #fff;
  padding: 0;
  text-transform: none;
}


/* Secondary dropdown menus */
#navbar .dropdown-menu .dropdown-menu {
  position: relative;
  display: block;
  width: auto;
}
#navbar .dropdown-menu .dropdown-menu a {
  color: #a3dbe8;
  font-size: 12px;
}
#navbar .dropdown-menu .dropdown-menu a:hover {
  background: none;
  text-decoration: underline;
}

#navbar .dropdown-menu li a:hover{
  text-decoration: underline;
}
/* Secondary dropdown menus */
#navbar .dropdown-menu .dropdown-menu-child {
  position: relative;
  display: block;
  width: auto;
}
#navbar .dropdown-menu .dropdown-menu-child a {
  color: #a3dbe8;
  font-size: 12px;
}
#navbar .dropdown-menu .dropdown-menu-child a:hover {
  text-decoration: underline;
}

#navbar .dropdown-menu.two-col{
  padding: 25px 0;
}
#navbar .dropdown-menu.two-col li.child{
  width: 50%;
  float: left;
  padding: 0;
}
#navbar .dropdown-menu.two-col li.step-child{
  padding: 0;
}
#navbar .dropdown-menu.two-col li.child a{
  margin-left: 25px;
}
#navbar .dropdown-menu.two-col li.child a:hover{
  background: none;
  text-decoration: underline;
}
#navbar .dropdown-menu.two-col li.step-child a{
  margin-left: 0;
}
#navbar .dropdown-menu.two-col li.child.even{
  clear: both;
}
#navbar .dropdown-menu.two-col li.corporate-responsibility{
  margin-top: 12px;
}

#navbar .dropdown-menu.two-col li.careers, #navbar .dropdown-menu.two-col li.contact{
  margin-top: 32px;
}

#navbar .dropdown-menu.two-col li.investor-relations{
  margin-top: -6px;
}

#navbar .dropdown-menu.two-col li.applied-ventures{
  margin-top: -24px;
}

#navbar .dropdown-menu li{
  padding: 8px 16px;
}

#navbar .global_services ul.dropdown-menu-child {
  margin-left: 0;
}
#navbar .global_services ul.dropdown-menu-child li {
  padding: 0;
}

.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  background: none;
}

.section-navigation h1 a,
.section-navigation h2 a {font-weight: bold;}

section.page-title h1 {font-weight: bold;}

.submenu-col {
  float: left;
  width: 170px;
}
.submenu-col-1 {
  margin: 0 25px 12px 28px;
}
.submenu-col-2 {
  margin: 0 0 12px 0;
}
.submenu-col > li {
  margin: 20px 0 0;
  overflow: hidden;
}
.nav-collapse .submenu-col a:hover {
    color: #fff;
}

/* Sub navigation */
.section-navigation li a{
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4cffffff', endColorstr='#4cffffff');
}

.section-navigation {
  border-top: none;
  border-bottom: 1px solid #ccc;
}

/* Subscribe Page */
#node-3332209 .btn, #node-3332210 .btn{
  font-size: 17.5px;
  font-family: 'open_sansregular', Helvetica, Verdana;
}

/* Video Widget */
.video-js.vjs-default-skin .vjs-big-play-button {
  background: url(../images/video-play-button.png) no-repeat center center;
  opacity: 0.7;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 2;
  text-indent: -9999px;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}
.video-js.vjs-default-skin .vjs-big-play-button:hover {
  background-color: transparent;
  opacity: 1.0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.company-about-how-we-do-it .video-js{
  width: 100% !important;
  height: 412px !important;
}

.products.node-type-enhanced-product.endura-volta-cvd-cobalt .product-secondary-videos .product-video .video-js, .products.node-type-enhanced-product.endura-volta-cvd-cobalt .product-secondary-videos .product-video object{
  height: 237px !important;
}

.node-type-page-landing-with-hero.semiconductor .vjs-default-skin, .node-type-page-landing-with-hero.display .vjs-default-skin, .node-type-page-landing-with-hero.solar .vjs-default-skin{
  height: 186px !important;
}

.products.node-type-enhanced-product .product-secondary-videos .product-video .video-js{
  height: 396px !important;
}

.products.node-type-enhanced-product .product-video .video-js .vjs-tech{
  height: 396px !important;
}

.products.node-type-enhanced-product.endura-volta-cvd-cobalt .product-secondary-videos .video-js .vjs-control-bar{
  top: 208px;
}

/* Applied Ventures Portfolio page */
.view-amat2-ventures-portfolio .form-type-textfield{
  margin-top: 0px;
}

.view-amat2-ventures-portfolio .views-submit-button{
  margin-top: 4px;
}

/* Product Videos */
.product-video .video-js .vjs-tech{
  height: 400px;
}

.products.node-type-enhanced-product.centura-rp-epi .product-video .video-js .vjs-tech{
  height: 237px !important;
}

.products.node-type-enhanced-product.centura-rp-epi .product-video .video-js{
  height: 237px !important;
}

.centura-rp-epi .span4.product-video .vjs-default-skin .vjs-control-bar{
  top: 205px;
}

.products.node-type-enhanced-product.centura-rp-epi .product-primary-video.product-video .video-js .vjs-tech{
  height: 396px !important;
}

.products.node-type-enhanced-product.centura-rp-epi .product-primary-video.product-video .video-js{
  height: 396px !important;
}

.product-video .vjs-default-skin{
  height: 100%;
}

.product-video .vjs-default-skin .vjs-control-bar{
  top: 370px;
}

.node-type-product-topic-info .product-video .video-js .vjs-tech{
  height: 259px;
}

.node-type-product-topic-info .product-video .vjs-default-skin .vjs-control-bar{
  top: 230px;
}

.product-secondary-videos .product-video{
  overflow: hidden;
  margin-bottom: 10px;
}

/* Product Library */
.view-amat2-product-selector .prod-name, .related-products-tile-wrap .prod-name{
	background: transparent;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF000000,endColorstr=#BF000000)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF000000,endColorstr=#BF000000);   /* IE6 & 7 */
    zoom: 1;
}

.loading{
  background: #FFF;
  position: relative;
  z-index: 10;
  filter: alpha(opacity=50);
}

/* Licensing Form */
.company-contact-licensing-form #webform-component-salutation{
  width: 120px;
}

.company-contact-licensing-form #webform-component-lastname{
  margin-left: 20px;
}

.company-contact-licensing-form #webform-component-title{
  position: relative;
  right: 56px;
}

.company-contact-licensing-form #webform-component-title label{
  width: auto;
}

.company-contact-licensing-form #webform-component-street .form-textarea-wrapper, .company-contact-licensing-form #webform-component-16 .form-textarea-wrapper{
  width: 100%;
}
/* Governance Page */
.governance .views-row{
  padding-top: 0;
}

/* Footer Fix */
.footer-links li:first-child{
  border-left: none;
}

/* Semiconductor parts search vertical center fix */
.parts-search input[type="text"],
.semiconductor-products .views-widget-filter-keys input[type="text"],
.display-products .views-widget-filter-keys input[type="text"],
.page-taxonomy.solar .panel-col-top .pane-custom input[type="text"],
.product-library-search input[type="text"] {
  line-height: normal;
}

.parts-search-icon {
  bottom: 3px;
}

.media-center-search .form-text{
  max-width: 175px;
}

.page-taxonomy.semiconductor .panel-col-top .pane-custom .parts-search-icon,
.page-taxonomy.display .panel-col-top .pane-custom .parts-search-icon,
.page-taxonomy.solar .panel-col-top .pane-custom .parts-search-icon,
.node-product-topic-info .panel-top .pane-custom .parts-search-icon {
  bottom: 4px;
}

#parts-search,
#product-library-search,
.page-taxonomy-term #reappended-view-amat2-product-selector-form .form-item-keys input.edit-keys, #media-center-search, .company-investor-relations-news .view-filters input.form-text, .company-applied-ventures-portfolio .view-filters input.form-text, .search.site .search-form .form-type-textfield input.form-text {
  border-right: 30px solid transparent;
  border-left: none;
  border-top: none;
  border-bottom: none;
  margin-bottom: 0;
}

.product-library-search, .parts-search, #reappended-view-amat2-product-selector-form .form-item-keys, div.media-center-search, .company-investor-relations-news .view-filters .form-type-textfield .controls, .company-applied-ventures-portfolio .views-widget .form-type-textfield .controls, .search.site .search-form .form-type-textfield .controls{
  margin-bottom: 10px;
  border: 1px solid #cccccc;
}

.company-investor-relations-news .view-filters .form-type-textfield, .company-applied-ventures-portfolio .views-widget .form-type-textfield, .search.site .search-form .form-type-textfield{
  width: 225px;
}

.company-investor-relations-news .view-filters .form-type-textfield .controls, .company-applied-ventures-portfolio .views-widget .form-type-textfield .controls, .search.site .search-form .form-type-textfield .controls{
  width: 220px;
}

.company-applied-ventures-portfolio .parts-search-icon{
  bottom: 5px;
}

#reappended-view-amat2-product-selector-form .form-item-keys{
  width: 80%;
}

/*Careers FAQ sticky header and anchors fix */
.careers.faq .anchor{
  display: none;
  height: 0px;
  margin-top: 0px;
  visibility: hidden;
}

/* Content Box */
.content-box-image {
  position: relative;
  display: inline-block;
  width: 300px;
  max-height: 186px;
  overflow: hidden;
}
.content-box-image-img {
  width: 300px;
  height: 186px;
}
.global-services .content-box-widget .video-js {
  width: 300px;
  height: 186px !important;
}

/* Applied Ventures Team */
.view-amat2-nodequeue-ventures-team img {
  max-width: none;
}

.governance .item-list .views-row .views-field span.field-content {
  display: block;
}

/* Investor Relations */
.stock-change-wrap{
  width: 55%;
}

/* Media Queries */
@media screen and (min-width: 768px) and (max-width: 979px) {
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important ;
  }
  .visible-tablet {
    display: inherit !important;
  }
  .hidden-tablet {
    display: none !important;
  }
}
@media screen and (max-width: 767px) {
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important;
  }
  .visible-phone {
    display: inherit !important;
  }
  .hidden-phone {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}
@media screen and (max-width: 767px) {
  body {
    padding-left: 20px;
    padding-right: 20px;
  }
  .navbar-fixed-top,
  .navbar-fixed-bottom,
  .navbar-static-top {
    margin-left: -20px;
    margin-right: -20px;
  }
  .container-fluid {
    padding: 0;
  }
  .dl-horizontal dt {
    float: none;
    clear: none;
    width: auto;
    text-align: left;
  }
  .dl-horizontal dd {
    margin-left: 0;
  }
  .container {
    width: auto;
  }
  .row-fluid {
    width: 100%;
  }
  .row,
  .thumbnails {
    margin-left: 0;
  }
  .thumbnails > li {
    float: none;
    margin-left: 0;
  }
  [class*="span"],
  .uneditable-input[class*="span"],
  .row-fluid [class*="span"] {
    float: none;
    display: block;
    width: 100%;
    margin-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .span12,
  .row-fluid .span12 {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .row-fluid [class*="offset"]:first-child {
    margin-left: 0;
  }
  .input-large,
  .input-xlarge,
  .input-xxlarge,
  input[class*="span"],
  select[class*="span"],
  textarea[class*="span"],
  .uneditable-input {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .input-prepend input,
  .input-append input,
  .input-prepend input[class*="span"],
  .input-append input[class*="span"] {
    display: inline-block;
    width: auto;
  }
  .controls-row [class*="span"] + [class*="span"] {
    margin-left: 0;
  }
  .modal {
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    width: auto;
    margin: 0;
  }
  .modal.fade {
    top: -100px;
  }
  .modal.fade.in {
    top: 20px;
  }
}
@media screen and (max-width: 480px) {
  .nav-collapse {
    -webkit-transform: translate3d(0, 0, 0);
  }
  .page-header h1 small {
    display: block;
    line-height: 20px;
  }
  input[type="checkbox"],
  input[type="radio"] {
    border: 1px solid #ccc;
  }
  .form-horizontal .control-label {
    float: none;
    width: auto;
    padding-top: 0;
    text-align: left;
  }
  .form-horizontal .controls {
    margin-left: 0;
  }
  .form-horizontal .control-list {
    padding-top: 0;
  }
  .form-horizontal .form-actions {
    padding-left: 10px;
    padding-right: 10px;
  }
  .media .pull-left,
  .media .pull-right {
    float: none;
    display: block;
    margin-bottom: 10px;
  }
  .media-object {
    margin-right: 0;
    margin-left: 0;
  }
  .modal {
    top: 10px;
    left: 10px;
    right: 10px;
  }
  .modal-header .close {
    padding: 10px;
    margin: -10px;
  }
  .carousel-caption {
    position: static;
  }
}
@media screen and (min-width: 768px) and (max-width: 979px) {
  .row {
    margin-left: -20px;
    *zoom: 1;
  }
  .row:before,
  .row:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .row:after {
    clear: both;
  }
  [class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 20px;
  }
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 724px;
  }
  .span12 {
    width: 724px;
  }
  .span11 {
    width: 662px;
  }
  .span10 {
    width: 600px;
  }
  .span9 {
    width: 538px;
  }
  .span8 {
    width: 476px;
  }
  .span7 {
    width: 414px;
  }
  .span6 {
    width: 352px;
  }
  .span5 {
    width: 290px;
  }
  .span4 {
    width: 228px;
  }
  .span3 {
    width: 166px;
  }
  .span2 {
    width: 104px;
  }
  .span1 {
    width: 42px;
  }
  .offset12 {
    margin-left: 764px;
  }
  .offset11 {
    margin-left: 702px;
  }
  .offset10 {
    margin-left: 640px;
  }
  .offset9 {
    margin-left: 578px;
  }
  .offset8 {
    margin-left: 516px;
  }
  .offset7 {
    margin-left: 454px;
  }
  .offset6 {
    margin-left: 392px;
  }
  .offset5 {
    margin-left: 330px;
  }
  .offset4 {
    margin-left: 268px;
  }
  .offset3 {
    margin-left: 206px;
  }
  .offset2 {
    margin-left: 144px;
  }
  .offset1 {
    margin-left: 82px;
  }
  .row-fluid {
    width: 100%;
    *zoom: 1;
  }
  .row-fluid:before,
  .row-fluid:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .row-fluid:after {
    clear: both;
  }
  .row-fluid [class*="span"] {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 2.7624309392265194%;
    *margin-left: 2.709239449864817%;
  }
  .row-fluid [class*="span"]:first-child {
    margin-left: 0;
  }
  .row-fluid .controls-row [class*="span"] + [class*="span"] {
    margin-left: 2.7624309392265194%;
  }
  .row-fluid .span12 {
    width: 100%;
    *width: 99.94680851063829%;
  }
  .row-fluid .span11 {
    width: 91.43646408839778%;
    *width: 91.38327259903608%;
  }
  .row-fluid .span10 {
    width: 82.87292817679558%;
    *width: 82.81973668743387%;
  }
  .row-fluid .span9 {
    width: 74.30939226519337%;
    *width: 74.25620077583166%;
  }
  .row-fluid .span8 {
    width: 65.74585635359117%;
    *width: 65.69266486422946%;
  }
  .row-fluid .span7 {
    width: 57.18232044198895%;
    *width: 57.12912895262725%;
  }
  .row-fluid .span6 {
    width: 48.61878453038674%;
    *width: 48.56559304102504%;
  }
  .row-fluid .span5 {
    width: 40.05524861878453%;
    *width: 40.00205712942283%;
  }
  .row-fluid .span4 {
    width: 31.491712707182323%;
    *width: 31.43852121782062%;
  }
  .row-fluid .span3 {
    width: 22.92817679558011%;
    *width: 22.87498530621841%;
  }
  .row-fluid .span2 {
    width: 14.3646408839779%;
    *width: 14.311449394616199%;
  }
  .row-fluid .span1 {
    width: 5.801104972375691%;
    *width: 5.747913483013988%;
  }
  .row-fluid .offset12 {
    margin-left: 105.52486187845304%;
    *margin-left: 105.41847889972962%;
  }
  .row-fluid .offset12:first-child {
    margin-left: 102.76243093922652%;
    *margin-left: 102.6560479605031%;
  }
  .row-fluid .offset11 {
    margin-left: 96.96132596685082%;
    *margin-left: 96.8549429881274%;
  }
  .row-fluid .offset11:first-child {
    margin-left: 94.1988950276243%;
    *margin-left: 94.09251204890089%;
  }
  .row-fluid .offset10 {
    margin-left: 88.39779005524862%;
    *margin-left: 88.2914070765252%;
  }
  .row-fluid .offset10:first-child {
    margin-left: 85.6353591160221%;
    *margin-left: 85.52897613729868%;
  }
  .row-fluid .offset9 {
    margin-left: 79.8342541436464%;
    *margin-left: 79.72787116492299%;
  }
  .row-fluid .offset9:first-child {
    margin-left: 77.07182320441989%;
    *margin-left: 76.96544022569647%;
  }
  .row-fluid .offset8 {
    margin-left: 71.2707182320442%;
    *margin-left: 71.16433525332079%;
  }
  .row-fluid .offset8:first-child {
    margin-left: 68.50828729281768%;
    *margin-left: 68.40190431409427%;
  }
  .row-fluid .offset7 {
    margin-left: 62.70718232044199%;
    *margin-left: 62.600799341718584%;
  }
  .row-fluid .offset7:first-child {
    margin-left: 59.94475138121547%;
    *margin-left: 59.838368402492065%;
  }
  .row-fluid .offset6 {
    margin-left: 54.14364640883978%;
    *margin-left: 54.037263430116376%;
  }
  .row-fluid .offset6:first-child {
    margin-left: 51.38121546961326%;
    *margin-left: 51.27483249088986%;
  }
  .row-fluid .offset5 {
    margin-left: 45.58011049723757%;
    *margin-left: 45.47372751851417%;
  }
  .row-fluid .offset5:first-child {
    margin-left: 42.81767955801105%;
    *margin-left: 42.71129657928765%;
  }
  .row-fluid .offset4 {
    margin-left: 37.01657458563536%;
    *margin-left: 36.91019160691196%;
  }
  .row-fluid .offset4:first-child {
    margin-left: 34.25414364640884%;
    *margin-left: 34.14776066768544%;
  }
  .row-fluid .offset3 {
    margin-left: 28.45303867403315%;
    *margin-left: 28.346655695309746%;
  }
  .row-fluid .offset3:first-child {
    margin-left: 25.69060773480663%;
    *margin-left: 25.584224756083227%;
  }
  .row-fluid .offset2 {
    margin-left: 19.88950276243094%;
    *margin-left: 19.783119783707537%;
  }
  .row-fluid .offset2:first-child {
    margin-left: 17.12707182320442%;
    *margin-left: 17.02068884448102%;
  }
  .row-fluid .offset1 {
    margin-left: 11.32596685082873%;
    *margin-left: 11.219583872105325%;
  }
  .row-fluid .offset1:first-child {
    margin-left: 8.56353591160221%;
    *margin-left: 8.457152932878806%;
  }
  input,
  textarea,
  .uneditable-input {
    margin-left: 0;
  }
  .controls-row [class*="span"] + [class*="span"] {
    margin-left: 20px;
  }
  input.span12,
  textarea.span12,
  .uneditable-input.span12 {
    width: 710px;
  }
  input.span11,
  textarea.span11,
  .uneditable-input.span11 {
    width: 648px;
  }
  input.span10,
  textarea.span10,
  .uneditable-input.span10 {
    width: 586px;
  }
  input.span9,
  textarea.span9,
  .uneditable-input.span9 {
    width: 524px;
  }
  input.span8,
  textarea.span8,
  .uneditable-input.span8 {
    width: 462px;
  }
  input.span7,
  textarea.span7,
  .uneditable-input.span7 {
    width: 400px;
  }
  input.span6,
  textarea.span6,
  .uneditable-input.span6 {
    width: 338px;
  }
  input.span5,
  textarea.span5,
  .uneditable-input.span5 {
    width: 276px;
  }
  input.span4,
  textarea.span4,
  .uneditable-input.span4 {
    width: 214px;
  }
  input.span3,
  textarea.span3,
  .uneditable-input.span3 {
    width: 152px;
  }
  input.span2,
  textarea.span2,
  .uneditable-input.span2 {
    width: 90px;
  }
  input.span1,
  textarea.span1,
  .uneditable-input.span1 {
    width: 28px;
  }
}
@media screen and (max-width: 979px) {
  body {
    padding-top: 0;
  }
  .navbar-fixed-top,
  .navbar-fixed-bottom {
    position: static;
  }
  .navbar-fixed-top {
    margin-bottom: 20px;
  }
  .navbar-fixed-bottom {
    margin-top: 20px;
  }
  .navbar-fixed-top .navbar-inner,
  .navbar-fixed-bottom .navbar-inner {
    padding: 5px;
  }
  .navbar .container {
    width: auto;
    padding: 0;
  }
  .navbar .brand {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 0 0 -5px;
  }
  .nav-collapse {
    clear: both;
  }
  .nav-collapse .nav {
    float: none;
    margin: 0 0 10px;
  }
  .nav-collapse .nav > li {
    float: none;
  }
  .nav-collapse .nav > li > a {
    margin-bottom: 2px;
  }
  .nav-collapse .nav > .divider-vertical {
    display: none;
  }
  .nav-collapse .nav .nav-header {
    color: #777777;
    text-shadow: none;
  }
  .nav-collapse .nav > li > a,
  .nav-collapse .dropdown-menu a {
    padding: 9px 15px;
    font-weight: bold;
    color: #777777;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  .nav-collapse .btn {
    padding: 4px 10px 4px;
    font-weight: normal;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  .nav-collapse .dropdown-menu li + li a {
    margin-bottom: 2px;
  }
  .nav-collapse .nav > li > a:hover,
  .nav-collapse .nav > li > a:focus,
  .nav-collapse .dropdown-menu a:hover,
  .nav-collapse .dropdown-menu a:focus {
    background-color: #f2f2f2;
  }
  .navbar-inverse .nav-collapse .nav > li > a,
  .navbar-inverse .nav-collapse .dropdown-menu a {
    color: #999999;
  }
  .navbar-inverse .nav-collapse .nav > li > a:hover,
  .navbar-inverse .nav-collapse .nav > li > a:focus,
  .navbar-inverse .nav-collapse .dropdown-menu a:hover,
  .navbar-inverse .nav-collapse .dropdown-menu a:focus {
    background-color: #111111;
  }
  .nav-collapse.in .btn-group {
    margin-top: 5px;
    padding: 0;
  }
  .nav-collapse .dropdown-menu {
    position: static;
    top: auto;
    left: auto;
    float: none;
    display: none;
    max-width: none;
    margin: 0 15px;
    padding: 0;
    background-color: transparent;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .nav-collapse .open > .dropdown-menu {
    display: block;
  }
  .nav-collapse .dropdown-menu:before,
  .nav-collapse .dropdown-menu:after {
    display: none;
  }
  .nav-collapse .dropdown-menu .divider {
    display: none;
  }
  .nav-collapse .nav > li > .dropdown-menu:before,
  .nav-collapse .nav > li > .dropdown-menu:after {
    display: none;
  }
  .nav-collapse .navbar-form,
  .nav-collapse .navbar-search {
    float: none;
    padding: 10px 15px;
    margin: 10px 0;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
  }
  .navbar-inverse .nav-collapse .navbar-form,
  .navbar-inverse .nav-collapse .navbar-search {
    border-top-color: #111111;
    border-bottom-color: #111111;
  }
  .navbar .nav-collapse .nav.pull-right {
    float: none;
    margin-left: 0;
  }
  .nav-collapse,
  .nav-collapse.collapse {
    overflow: hidden;
    height: 0;
  }
  .navbar .btn-navbar {
    display: block;
  }
  .navbar-static .navbar-inner {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (min-width: 980px) {
  .nav-collapse.collapse {
    height: auto !important;
    overflow: visible !important;
  }
}
