/* Dropdown menu */
#navbar li:hover {background: none;}
#navbar a:hover,
#navbar a:focus {background: none; filter: none;}
.dropdown-menu.countries a:hover,
.dropdown-menu.countries a:focus {
  background: none;
  filter: none;
}


.navbar-search .form-search .input-append .search-query { 
  line-height: 18px;
}