/*	-------------------------------------------------------------------------------
	Collateral
	------------------------------------------------------------------------------- */

.Collateral
{    
	text-align: left;
	float: left;
	width: 100%;
	overflow: hidden;
}

.CollateralFolder
{
	float: left;
	width: 100%;
	margin-bottom: 10px;
}

.CollateralFolder h3
{
    font-size: 14px;
    font-weight: bold;
	margin: 0 0 10px;
	border-bottom: solid 1px #cecece;
}

.CollateralFiles
{
}

.CollateralFiles td.FileIcon
{
	width: 32px;
	vertical-align: top;
	padding: 0;
}

.CollateralFiles td.FileInfo
{
    padding: 0 0 10px 5px;
}

.CollateralFiles img
{
	width: 32px;
	height: 32px;
	float: left;
	display: block;
}

.CollateralFiles h4
{
    font-size: 11px;
    font-weight: bold;
	margin: 0;
	padding: 0;
}

.CollateralFiles p.Abstract, .CollateralFiles p.TypeAndSize, .CollateralFiles p.Filename
{
    font-size: 11px;
    font-weight: normal;
	margin: 0 0 2px;
	padding: 0;
}

.CollateralFiles span
{
	display: block;
}

.CollateralFiles a
{
	text-decoration: none;
}

/*	-------------------------------------------------------------------------------
	Document Library
	------------------------------------------------------------------------------- */
	
.DocLibraryButtons
{
    float: left;
	width: 100%;
	padding-left: 2px;
	padding-bottom: 1px;
	padding-top: 1px;
	background-color: #909090;
	border-top: white 2px ridge;
}

.DocLibraryNavigationButton
{
	float: left;
}

.DocLibraryHeader
{
    padding: 2px 4px 3px 4px;
}

.DocumentLibraryTable
{
    width: 100%;    
	text-align: left;
}

.DocLibraryTitle
{
	clear: left;
	font-weight: normal;
	font-size: 14px;
	margin-bottom: 2px;
	color: dimgray;
	text-align: left;
}

.DocLibraryDescription
{
	font-weight: normal;
	font-size: 11px;
	margin-bottom: 2px;
	color: dimgray;
	text-align: left;
}

.DocLibraryBreadcrumb
{
	float: left;
	font-weight: normal;
	font-size: 12px;
	margin-bottom: 2px;
	margin-right: 3px;
	color: dimgray;
	text-align: left;
	white-space: nowrap;
}

A.DocLibraryBreadcrumbLink, A.DocLibraryBreadcrumbLink:active, A.DocLibraryBreadcrumbLink:link, A.DocLibraryBreadcrumbLink:visited
{
	color: darkgray;
}

A.DocLibraryBreadcrumbLink:hover
{
	color: red;
	text-decoration: underline;
}

.DocLibraryButton
{
	background-color: #EAEAEA;
	border-top: outset 2px white;
	padding: 3px 5px 4px 2px;
	vertical-align: top;
	width: 16px;
}

.DocLibraryText
{
	background-color: #EAEAEA;
	border-top: outset 2px white;
	font-weight: normal;
	font-size: 11px;
	vertical-align: top;
	color: dimgray;
	padding: 4px 2px;
}

.DocLibraryFileSize
{
	background-color: #EAEAEA;
	border-top: outset 2px white;
	padding: 4px 2px;
	font-weight: normal;
	font-size: 11px;
	vertical-align: top;
	color: dimgray;
	text-align: right
}

A.DocLibraryLink, A.DocLibraryLink:visited
{
	color: steelblue;
}

A.DocLibraryLink:hover
{
	color: red;
	text-decoration:  underline;
}