/*	-------------------------------------------------------------------------------
	Primary containers
	------------------------------------------------------------------------------- */

body
{
	font-size: 12px;
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: Black;
	background-color: #cccccc;
	margin: 0;
	text-align: center;
}

#HomePageContainer, #OverviewPageContainer, #TerminalPageContainer
{
	width: 980px;
	margin-left: auto;
	margin-right: auto;	
	text-align: left;
}

#ContentContainer
{
    width: 100%;
}

#HeaderContainer
{
    width: 100%;
}

#ContentContainer
{    
	background: white;
}

#PrimaryContainer
{
    float: left;
	overflow: hidden;
	width: 956px; 
    padding: 0 12px 12px;
    background-color: #fff;
}

#HomePageContainer #BodyColumnContainer
{
    float: left;
	width: 956px;
	overflow: hidden;
}

#PostContentContainer
{
    width: 100%;
	overflow: hidden;
	padding-bottom: 5px;
}

/*	-------------------------------------------------------------------------------
	Default anchors
	------------------------------------------------------------------------------- */

a
{
	text-decoration: underline;
	color: Blue;
}

a:link
{
	text-decoration: underline;
	color: Blue;
}

a:visited
{
	text-decoration: underline;
	color: Blue;
}

a:hover
{
	text-decoration: underline;
	color: Red;
}

a:active
{
	text-decoration: underline;
	color: Blue;
}

/*	-------------------------------------------------------------------------------
	Search
	------------------------------------------------------------------------------- */
	
.NewSearch
{
}

.NewSearch input.Terms
{
    width: 200px;
    margin-right: 5px;
}

.NewSearch input.Submit
{
}

.scChromeData {
    display: none !important;
}



/*	-------------------------------------------------------------------------------
	Twitter
	------------------------------------------------------------------------------- */

.TweetList
{
	float: none;
	margin-top: 0px;
	border-bottom: 1px solid #C8C8C8;
	padding-bottom: 4px;
}

.TweetList .UserName
{
	color: #3399FF;
	font-weight: bold;
	font-size: 10px;
	margin-top: 0px;
	margin-bottom: 1px;
}

.TweetList .HashtagHeader
{
	color: #3399FF;
	font-weight: normal;
	font-size: 10px;
	margin-top: 0px;
	margin-bottom: 1px;
}


.TweetList .UserName a, .TweetList .UserName a:link, .TweetList .UserName a:visited, .TweetList .UserName a:active,
.TweetList .HashtagHeader a, .TweetList .HashtagHeader a:link, .TweetList .HashtagHeader a:visited, .TweetList .HashtagHeader a:active  
{
	text-decoration: none;
	color: #3399FF;
}

.TweetList .UserName a:hover,
.TweetList .HashtagHeader a:hover
{
	text-decoration: underline;
	color: #3399FF;
}


.TweetList .ScreenName
{
	color: #A8A8A8;
	font-weight: normal;
	font-size: 10px;
}

.Tweet
{
	font-size: 10px;
	float: none;
	margin-top: 6px;
	padding-top: 4px;
	border-top: 1px solid #C8C8C8;
}

.Tweet a, .Tweet a:link, .Tweet a:visited, .Tweet a:active
{
	text-decoration: none;
	color: #3399FF;
}

.Tweet a:hover
{
	text-decoration: underline;
	color: #3399FF;
}

.Tweet a.hashtag, .Tweet a.hashtag:link, .Tweet a.hashtag:visited, .Tweet a.hashtag:active,
.Tweet a.url, .Tweet a.url:link, .Tweet a.url:visited, .Tweet a.url:active
{
	text-decoration: none;
	color: #3399FF;
}

.Tweet a.hashtag:hover,
.Tweet a.url:hover
{
	text-decoration: underline;
	color: #3399FF;
}

.Tweet a.usermention, .Tweet a.usermention:link, .Tweet a.usermention:visited, .Tweet a.usermention:active
{
	text-decoration: none;
	color: #3399FF;
	font-weight: bold;
}

.Tweet a.usermention:hover
{
	text-decoration: underline;
	color: #3399FF;
	font-weight: bold;
}
