/*	-------------------------------------------------------------------------------
	Footer
	------------------------------------------------------------------------------- */
	
.Footer
{
    margin: 4px 0 0;
}

.Footer a
{
    float: left;
    color: White;
    text-decoration: none;
}

.Footer a:link, .Footer a:active, .Footer a:visited 
{
    color: White;
    text-decoration: none;
}

.Footer a:hover
{
    color: Black;
    text-decoration: none;
}

.Footer .Links
{
    float: right;
}

.Footer .Links a
{
    float: none;
    border-left: solid 1px gray;
    margin-left: 5px;
    padding-left: 5px;
}

.Footer .Links a.First
{
    border-left: 0;
    margin: 0;
    padding: 0;
}