@import "PageTools-1.css"/*tpa=http://www.fmctechnologies.com/css/default/PageTools.css*/;

div.Header
{
	width: 980px;
	height: 125px;
	font-size: 11px;
	color: #3F3F3F;
	margin: 0;	
	background-color: White;
}

/*	-------------------------------------------------------------------------------
	Top row
	------------------------------------------------------------------------------- */

div.Header .TopRow
{
	width: 980px;
	height: 73px;
	overflow: hidden;
}

div.Header .TopRow .LogoContainer
{
	float: left;
	width: 737px;
	height: 73px;
	overflow: hidden;	
}


div.Header .TopRow .LogoContainerWebDevelopment
{
	float: left;
	width: 737px;
	height: 73px;
	overflow: hidden;
	background-color: purple;
}

div.Header .TopRow .LogoContainerWebDevelopment:after,
div.Header .TopRow .LogoContainerPublicWebQACM:after, div.Header .TopRow .LogoContainerPublicWebQACD:after,
div.Header .TopRow .LogoContainerPublicWebPilotCM:after:after,div.Header .TopRow .LogoContainerPublicWebPilotCD:after
{ 	
	color:white;
	font-weight:bold;
	font-size:large;
}

div.Header .TopRow .LogoContainerPublicWebQACM:after
{ 
	content:"QA CM";	
}
div.Header .TopRow .LogoContainerPublicWebQACD:after
{ 
	content:"QA CD";	
}
div.Header .TopRow .LogoContainerPublicWebPilotCM:after
{ 
	content:"Pilot CM";	
}
div.Header .TopRow .LogoContainerPublicWebPilotCD:after
{ 
	content:"Pilot CD";	
}
div.Header .TopRow .LogoContainerWebDevelopment:after
{ 
	content:"WEB Development";	
}

div.Header .TopRow .LogoContainerPublicWebQACM, div.Header .TopRow .LogoContainerPublicWebQACD
{
	float: left;
	width: 737px;
	height: 73px;
	overflow: hidden;
	background-color: blue;
}

div.Header .TopRow .SearchContainerPublicWebQACM, div.Header .TopRow .SearchContainerPublicWebQACD
{
	background-color: blue;
	float: left;
	width: 243px;
	height: 73px;
	overflow: hidden;
	text-align: right;	
}


div.Header .TopRow .LogoContainerPublicWebPilotCM, div.Header .TopRow .LogoContainerPublicWebPilotCD
{
	float: left;
	width: 737px;
	height: 73px;
	overflow: hidden;
	background-color: green;
}
div.Header .TopRow .SearchContainerWebDevelopment
{
	background-color: purple;
	float: left;
	width: 243px;
	height: 73px;
	overflow: hidden;
	text-align: right;	
}

div.Header .TopRow .SearchContainerPublicWebPilotCM, div.Header .TopRow .SearchContainerPublicWebPilotCD
{
	background-color: green;
	float: left;
	width: 243px;
	height: 73px;
	overflow: hidden;
	text-align: right;	
}

div.Header .TopRow .SearchContainer
{
	float: left;
	width: 243px;
	height: 73px;
	overflow: hidden;
	text-align: right;	
}

/*	-------------------------------------------------------------------------------
	Menu row
	------------------------------------------------------------------------------- */
	
div.Header .MenuRow
{
	width: 980px;
	height: 34px;
}

/*	-------------------------------------------------------------------------------
	Tool row
	------------------------------------------------------------------------------- */
	
div.Header .ToolRow
{
	width: 980px;
	height: 18px;
	overflow: hidden;
}

div.Header .ToolRow .ToolBar
{
    float: right;
}

/*	-------------------------------------------------------------------------------
	Logo
	------------------------------------------------------------------------------- */

div.Header .TopRow .LogoContainer img.Logo
{
    float: left;
    margin-left: 12px;
    margin-top: 21px;
    border: 0;
}

div.Header .TopRow .LogoContainer img.Tagline
{   
    float: right;
    margin-top: 24px;
    border: 0;
}

/*	-------------------------------------------------------------------------------
	SearchBox
	------------------------------------------------------------------------------- */

div.Header .TopRow .SearchContainer .SearchBox
{
	overflow: hidden;
	margin-top: 27px;
	margin-right: 12px;
}

div.Header .TopRow .SearchContainer .SearchBox .SearchScope
 {
    display: block;
    float: right;
    margin-bottom: 2px;
	font-size: 9px;
	color: #B8B8B8;
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
}

div.Header .TopRow .SearchContainer .SearchBox .SearchTerms
{
    clear: right;
    float: right;
	width: 128px;
	padding-left: 4px;
	border: 1px solid #B8B8B8;	
	color: #B8B8B8;
	font-size: 9px;
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
}

/*	-------------------------------------------------------------------------------
	Login
	------------------------------------------------------------------------------- */

div.Header .ToolRow .ToolBar .Login
{
    float: left;
    font-size: 11px;
    margin-right: 10px;
}

div.Header .ToolRow .ToolBar .Languages
{
    float: left;
    margin-right: 8px;
}

div.Header .ToolRow .ToolBar .Languages img
{
    margin-right: 2px;
}

div.Header .ToolRow .ToolBar .Ticker
{
    float: left;
    margin-right: 10px;
}

div.Header .ToolRow .ToolBar .Ticker div
{    
    float: left;
}

div.Header .ToolRow .ToolBar .Ticker .Symbol, div.Header .ToolRow .ToolBar .Ticker .Price
{    
    margin-right: 4px;
}

div.Header .ToolRow .ToolBar .Ticker .Change .Arrow
{    
    margin-right: 2px;
}

div.Header .ToolRow .ToolBar .Ticker div img
{
    margin-top: 3px;
}


/*	-------------------------------------------------------------------------------
	Contacts flyout control
	------------------------------------------------------------------------------- */

.ContactsFlyout
{
}

.ContactsFlyout .MainLinkPanel
{
	margin-top: 4px;
	margin-bottom: 4px;
	font-weight: bold;
}

.ContactsFlyout .SubHead
{
	margin-top: 18px;
    font-weight: bold;
}

.ContactsFlyout .SpacerLinkPanelPanel
{
	margin-top: 6px;
	margin-bottom: 2px;
}

.ContactsFlyout .OtherLinkPanelPanel
{
	margin-top: 6px;
}

.ContactsFlyout .MenuLink
{
	font-size: 11px;
	padding-right: 12px;
	padding-top: 2px;
	text-align: left;
	white-space: nowrap;
}

.ContactsFlyout .DetailSpacer
{
	font-size: 11px;
	width: 18px;
	overflow: hidden;
}

.ContactsFlyout .MenuLink
{
	font-size: 11px;
	padding-right: 12px;
	text-align: left;
	white-space: nowrap;
}

/*	-------------------------------------------------------------------------------
	Ticker Flyout control
	------------------------------------------------------------------------------- */

.DetailedTicker
{
}

.DetailedTicker .QuotePanel
{
}

.DetailedTicker .DetailPanel
{
	margin-top: 6px;
}

.DetailedTicker .Symbol
{
    float: left;
	font-size: 18px;
	font-weight: bold;
	vertical-align: bottom;
}


.DetailedTicker .Symbol a
{
	text-decoration: underline;
	color: Black;
}

.DetailedTicker .Symbol a:link
{
	text-decoration: underline;
	color: Black;
}

.DetailedTicker .Symbol a:visited
{
	text-decoration: underline;
	color: Black;
}

.DetailedTicker .Symbol a:hover
{
	text-decoration: underline;
	color: Red;
}

.DetailedTicker .Symbol a:active
{
	text-decoration: underline;
	color: Black;
}


.DetailedTicker .Price
{
	font-size: 18px;
	vertical-align: text-bottom;
	padding-left: 12px;
}

.DetailedTicker .Change
{
	font-size: 14px;
	vertical-align: text-bottom;
	padding-left: 12px;
}

.DetailedTicker .ChangeSymbol
{
	vertical-align: text-bottom;
	padding-bottom: 5px;
	padding-left: 12px;
}

.DetailedTicker .ChangeText
{
	font-size: 14px;
	vertical-align: text-bottom;
	padding-left: 2px;
	padding-bottom: 2px;
}

.DetailedTicker .Time
{
	font-size: 11px;
	vertical-align: text-bottom;
}

.DetailedTicker .DetailLabel
{
	font-size: 11px;
	white-space: nowrap;
	padding-right: 2px;
}

.DetailedTicker .DetailData
{
	font-size: 11px;
	white-space: nowrap;
	padding-left: 2px;
	text-align: right;
}

.DetailedTicker .DetailSpacer
{
	font-size: 11px;
	width: 18px;
	overflow: hidden;
}

.DetailedTicker .MenuLink
{
	font-size: 11px;
	padding-right: 12px;
	text-align: left;
	white-space: nowrap;
}


/*	-------------------------------------------------------------------------------
	Business Flyout control
	------------------------------------------------------------------------------- */


.BusinessFlyout
{
}

.BusinessFlyoutDetail
{
}

.BusinessFlyoutDetailTitle
{
    font-size: 14px;
    font-weight: bold;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 8px;
    margin-bottom: 0px;
}

.BusinessFlyoutDetailDescription
{
    font-size: 10px;
    font-weight: bold;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 4px;
    margin-bottom: 8px;
}

.BusinessFlyoutTab
{
    font-weight: bold !important;
    color: White !important;
}
.BusinessFlyoutTabSelected
{
    font-weight: bold;
    color: Black !important;
}
.BusinessFlyoutTabHover
{
    font-weight: bold;
    color: Red !important;
}
