/* <RadMenu / Default> */

.RadMenu_FMC .rmRootGroup,
.RadMenu_FMC a.rmLink,
.RadMenu_FMC .rmGroup .rmText,
.RadMenu_FMC .rmVertical .rmText,
.RadMenu_FMC .rmLeftArrow,
.RadMenu_FMC .rmRightArrow,
.RadMenu_FMC .rmTopArrow,
.RadMenu_FMC .rmBottomArrow
{
	background-image: none;
	background-color: transparent;
}

.RadMenu_FMC .rmRootGroup
{
	border: 0;
	background-color: transparent;
}

/* <Root items> */

.RadMenu_FMC,
.RadMenu_FMC a.rmLink
{
	font: normal 12px/23px Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #000000;
	text-decoration: none;
}

.RadMenu .rmSlide .rmGroup .rmTemplate {
    line-height: 13px;
}

.RadMenu_FMC a.rmLink,
.RadMenu_FMC a.rmDisabled,
.RadMenu_FMC a.rmDisabled:hover
{
	background-position: 0 -72px;
}

.RadMenu_FMC .rmFirst a.rmLink,
.RadMenu_FMC .rmFirst a.rmLink:hover,
.RadMenu_FMC .rmLast .rmText,
.RadMenu_FMC .rmLast a.rmLink:hover .rmText,
.RadMenu_FMC .rmVertical a.rmLink,
.RadMenu_FMC .rmVertical .rmText
{
	background-repeat: no-repeat;
	background-position: 0 500px;
}

.RadMenu_FMC .rmVertical .rmFirst,
.RadMenu_FMC .rmVertical .rmLast
{
	background: none;
}

.RadMenu_FMC a.rmLink:hover,
.RadMenu_FMC a.rmFocused,
.RadMenu_FMC a.rmSelected
{
	background-color: transparent;
}

.RadMenu .rmHorizontal .rmText {
    padding: 0 !important;
    float: none;
}

.RadMenu_FMC .rmHorizontal .rmRootLink span.rmText
{
	display: inline;
	padding-left: 12px;
}

.RadMenu_FMC_rtl .rmRootLink span.rmText
{
    padding-right: 12px;
}

.RadMenu_FMC_Context_rtl .rmRootLink span.rmText
{
    padding-right: 28px;
}

.RadMenu_FMC .rmHorizontal a.rmRootLink
{
	padding-left: 0;
}

.RadMenu_FMC_rtl a.rmRootLink
{
    margin-left: 0;
    padding: 0;
}

.RadMenu_FMC .rmHorizontal .rmItem > a.rmRootLink /* IE6 doesn't like width: 100% on its items. */
{
	width: 100%;
}

.RadMenu_FMC ul.rmHorizontal .rmLeftImage
{
	margin: 4px -4px 0 6px;
}

.RadMenu_FMC_rtl ul.rmHorizontal .rmLeftImage
{
	margin: 4px 6px 0 -4px;
}

.RadMenu_FMC .rmVertical a.rmLink
{
	padding-top: 1px;
	padding-bottom: 1px;
}

.RadMenu_FMC .rmVertical a.rmLink:hover,
.RadMenu_FMC .rmVertical a.rmFocused,
.RadMenu_FMC .rmVertical a.rmSelected,
.RadMenu_FMC .rmVertical a.rmExpanded,
.RadMenu_FMC .rmVertical a.rmExpanded:hover
{
	padding-top: 0;
	padding-bottom: 0;
	border-style: solid;
	border-color: #828282;
	border-width: 1px 0;
}

.RadMenu_FMC .rmVertical .rmFirst a.rmLink:hover,
.RadMenu_FMC .rmVertical .rmFirst a.rmFocused,
.RadMenu_FMC .rmVertical .rmFirst a.rmSelected,
.RadMenu_FMC .rmVertical .rmFirst a.rmExpanded,
.RadMenu_FMC .rmVertical .rmFirst a.rmExpanded:hover
{
	padding-top: 1px;
	padding-bottom: 0;
	border-top-width: 0;
}

.RadMenu_FMC .rmVertical .rmLast a.rmLink:hover,
.RadMenu_FMC .rmVertical .rmLast a.rmFocused,
.RadMenu_FMC .rmVertical .rmLast a.rmSelected,
.RadMenu_FMC .rmVertical .rmLast a.rmExpanded,
.RadMenu_FMC .rmVertical .rmLast a.rmExpanded:hover
{
	padding-bottom: 1px;
	padding-top: 0;
	border-bottom-width: 0;
}

.RadMenu_FMC .rmVertical .rmItem a.rmDisabled:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	border-width: 0;
}

.RadMenu_FMC a.rmExpanded,
.RadMenu_FMC a.rmExpanded:hover
{
	background-color: transparent;
}

.RadMenu_FMC a.rmDisabled,
.RadMenu_FMC a.rmDisabled:hover
{
	color: #7d7d7d;
	background-color: transparent;
}

/* </Root items> */


/* <Submenu items> */

.RadMenu_FMC .rmGroup,
.RadMenu_FMC .rmMultiColumn,
.RadMenu_FMC .rmGroup .rmVertical
{
	border: 1px solid #969696;
	background: #ffffff url('../../images/Menu/rmVSprite.png')/*tpa=http://www.fmctechnologies.com/images/Menu/rmVSprite.png*/ repeat-y 0 0;
}

.RadMenu_FMC .rmTopFix,
.RadMenu_FMC .rmBottomFix,
.RadMenu_FMC .rmRoundedCorners .rmGroup .rmItem,
.RadMenu_FMC .rmRoundedCorners li.rmFirstGroupColumn .rmItem,
.RadMenu_FMC .rmRoundedCorners .rmFirstGroupColumn li.rmFirstGroupColumn .rmItem,
.RadMenu_FMC .rmRoundedCorners ul.rmHorizontal .rmFirst,
.RadMenu_FMC_Context.rmRoundedCorners .rmGroup .rmItem,
.RadMenu_FMC_Context.rmRoundedCorners ul.rmHorizontal .rmFirst
{
	background-image: url('../../images/Menu/rmVSprite.png')/*tpa=http://www.fmctechnologies.com/images/Menu/rmVSprite.png*/;
	background-color: #ffffff; 
	background-repeat: repeat-y;
}

* html .rmRoundedCorners_FMC .rmGroup .rmItem,
* html .rmRoundedCorners_FMC ul.rmHorizontal .rmFirst
{
	background-image: url('../../images/Menu/rmVSprite.png')/*tpa=http://www.fmctechnologies.com/images/Menu/rmVSprite.png*/;
	background-color: #ffffff; 
	background-repeat: repeat-y;
}

.RadMenu_FMC .rmRoundedCorners .rmScrollWrapContainer .rmGroup,
.RadMenu_FMC .rmRoundedCorners .rmScrollWrap .rmItem,
.RadMenu_FMC .rmRoundedCorners .rmGroupColumn .rmItem,
.RadMenu_FMC .rmRoundedCorners .rmGroupColumn .rmGroupColumn .rmItem,
.RadMenu_FMC .rmRoundedCorners .rmHorizontal .rmItem,
.RadMenu_FMC .rmRoundedCorners .rmScrollWrap .rmVertical,
.RadMenu_FMC_Context.rmRoundedCorners .rmScrollWrapContainer .rmGroup,
.RadMenu_FMC_Context.rmRoundedCorners .rmScrollWrap .rmItem,
.RadMenu_FMC_Context.rmRoundedCorners .rmHorizontal .rmItem,
.RadMenu_FMC_Context.rmRoundedCorners .rmScrollWrap .rmVertical
{
	background-image: none;
}

* html .rmRoundedCorners_FMC .rmScrollWrapContainer .rmGroup,
* html .rmRoundedCorners_FMC .rmScrollWrap .rmItem,
* html .rmRoundedCorners_FMC .rmHorizontal .rmItem,
* html .rmRoundedCorners_FMC .rmScrollWrap .rmVertical
{
	background-image: none;
}

.RadMenu_FMC .rmRoundedCorners .rmGroupColumn
{
	background-color: #ffffff;
}

.RadMenu_FMC .rmBottomLeft,
.RadMenu_FMC .rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_FMC_Context.rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_FMC_Context.rmRoundedCorners ul.rmGroup,
.RadMenu_FMC .rmRoundedCorners ul.rmGroup,
.RadMenu_FMC .rmRoundedCorners .rmMultiColumn
{
	background-image:  url('../../images/Menu/rmRoundedLeft.png')/*tpa=http://www.fmctechnologies.com/images/Menu/rmRoundedLeft.png*/;
	background-color: transparent; 
	background-repeat: no-repeat;
}

* html .rmRoundedCorners_FMC .rmScrollWrapContainer,
* html .rmRoundedCorners_FMC .rmGroup ul.rmGroup,
* html .rmRoundedCorners_FMC ul.rmGroup
{
	background-image:  url('../../images/Menu/rmRoundedLeft.png')/*tpa=http://www.fmctechnologies.com/images/Menu/rmRoundedLeft.png*/;
	background-color: transparent; 
	background-repeat: no-repeat;
}

.RadMenu_FMC .rmTopRight,
.RadMenu_FMC .rmBottomRight
{
	background-image:  url('../../images/Menu/rmRoundedRight.png')/*tpa=http://www.fmctechnologies.com/images/Menu/rmRoundedRight.png*/;
	background-color: transparent; 
	background-repeat: no-repeat;
}

.RadMenu_FMC .rmTopFix,
.RadMenu_FMC .rmBottomFix,
.RadMenu_FMC .rmRoundedCorners .rmGroup .rmFirst,
.RadMenu_FMC_Context.rmRoundedCorners .rmGroup .rmFirst,
.rmRoundedCorners_FMC .rmGroup .rmFirst
{
	border-color: #969696;
}

.RadMenu_FMC .rmRoundedCorners .rmScrollWrapContainer .rmTopFix,
.RadMenu_FMC .rmRoundedCorners .rmScrollWrapContainer .rmBottomFix,
.RadMenu_FMC_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopFix,
.RadMenu_FMC_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomFix
{
	background: #ffffff;
}

* html .rmRoundedCorners_FMC .rmScrollWrapContainer .rmTopFix,
* html .rmRoundedCorners_FMC .rmScrollWrapContainer .rmBottomFix
{
	background: #ffffff;
}

.RadMenu_FMC .rmRoundedCorners .rmScrollWrapContainer .rmTopArrow,
.RadMenu_FMC .rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow,
.RadMenu_FMC .rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow,
.RadMenu_FMC .rmRoundedCorners .rmScrollWrapContainer .rmRightArrow,
.RadMenu_FMC_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopArrow,
.RadMenu_FMC_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow,
.RadMenu_FMC_Context.rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow,
.RadMenu_FMC_Context.rmRoundedCorners .rmScrollWrapContainer .rmRightArrow
{
	background-color: #ffffff;
	border: 0;
}

* html .rmRoundedCorners_FMC .rmScrollWrapContainer .rmTopArrow,
* html .rmRoundedCorners_FMC .rmScrollWrapContainer .rmBottomArrow,
* html .rmRoundedCorners_FMC .rmScrollWrapContainer .rmLeftArrow,
* html .rmRoundedCorners_FMC .rmScrollWrapContainer .rmRightArrow
{
	background-color: #ffffff;
	border: 0;
}

.RadMenu_FMC_rtl .rmBottomLeft,
.RadMenu_FMC_rtl .rmRoundedCorners ul.rmGroup,
.RadMenu_FMC_rtl .rmRoundedCorners .rmMultiColumn,
.RadMenu_FMC .rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_FMC .rmScrollWrapContainer .rmBottomLeft,
.rmRoundedCorners.RadMenu_FMC_Context_rtl ul.rmGroup,
.RadMenu_FMC_Context.rmRoundedCorners .rmScrollWrapContainer
{
	background-image: url('../../images/Menu/rmRoundedLeft_rtl.png')/*tpa=http://www.fmctechnologies.com/images/Menu/rmRoundedLeft_rtl.png*/;
}

.RadMenu_FMC_rtl .rmTopRight,
.RadMenu_FMC_rtl .rmBottomRight
{
	background-image: url('../../images/Menu/rmRoundedRight_rtl.png')/*tpa=http://www.fmctechnologies.com/images/Menu/rmRoundedRight_rtl.png*/;
}

.RadMenu_FMC_rtl li.rmTopFix,
.RadMenu_FMC_rtl li.rmBottomFix,
.RadMenu_FMC_rtl .rmRoundedCorners .rmGroup .rmItem,
.rmRoundedCorners.RadMenu_FMC_Context_rtl .rmGroup .rmItem
{
	background-position: 101% 0;
}

.RadMenu_FMC .rmSlide .rmScrollWrap
{
	background-image: none;
}

.RadMenu_FMC_rtl .rmGroup,
.RadMenu_FMC_rtl .rmMultiColumn,
.RadMenu_FMC_rtl .rmGroup .rmVertical
{
	background-position: 100% 0;
}

.RadMenu_FMC .rmRootGroup li.rmItem .rmGroup
{
    padding-bottom: 6px;
}

.RadMenu_FMC .rmRootGroup .rmHorizontal
{
	background-image: none;
}

.RadMenu_FMC .rmScrollWrap .rmVertical
{
	border: 0;
}

.RadMenu_FMC .rmRoundedCorners .rmScrollWrapContainer li.rmItem,
.RadMenu_FMC_Context.rmRoundedCorners .rmScrollWrapContainer li.rmItem,
.rmRoundedCorners_FMC .rmScrollWrapContainer li.rmItem
{
	background: none;
}

.RadMenu_FMC .rmGroup .rmItem a.rmLink,
.RadMenu_FMC .rmGroup .rmItem a.rmLink:hover,
.RadMenu_FMC .rmGroup .rmItem a.rmFocused,
.RadMenu_FMC .rmGroup .rmItem a.rmSelected,
.RadMenu_FMC .rmGroup .rmItem a.rmExpanded
{
	padding-top: 0;
	padding-bottom: 0;
	border: 0;
}

.RadMenu_FMC .rmGroup .rmLast a.rmLink,
.RadMenu_FMC .rmGroup .rmLast a.rmLink:hover,
.RadMenu_FMC .rmGroup .rmLast a.rmFocused,
.RadMenu_FMC .rmGroup .rmLast a.rmSelected,
.RadMenu_FMC .rmGroup .rmLast a.rmExpanded
{
	padding-bottom: 1px;
}

.RadMenu_FMC .rmGroup a.rmLink,
.RadMenu_FMC .rmGroup .rmText,
.RadMenu_FMC .rmGroup .rmItem a.rmDisabled,
.RadMenu_FMC .rmGroup .rmItem a.rmDisabled:hover,
.RadMenu_FMC .rmGroup .rmItem a.rmDisabled .rmText,
.RadMenu_FMC .rmGroup .rmItem a.rmDisabled:hover .rmText
{
	background-position: 0 500px;
	background-repeat: no-repeat;
	background-color: transparent;
}

.RadMenu_FMC .rmGroup a.rmLink:hover,
.RadMenu_FMC .rmGroup a.rmFocused,
.RadMenu_FMC .rmGroup a.rmSelected,
.RadMenu_FMC .rmGroup a.rmExpanded
{
	background-position: 0 -168px;
}

.RadMenu_FMC .rmGroup a.rmLink:hover .rmText,
.RadMenu_FMC .rmGroup a.rmFocused .rmText,
.RadMenu_FMC .rmGroup a.rmSelected .rmText,
.RadMenu_FMC .rmGroup a.rmExpanded .rmText
{
	background-position: 100% -192px;
}

/* <expand arrows> */

.RadMenu_FMC .rmRootGroup .rmExpandRight,
.RadMenu_FMC .rmGroup .rmExpandDown,
.RadMenu_FMC_Context .rmGroup .rmExpandRight,
.RadMenu_FMC .rmRootGroup .rmItem a.rmDisabled .rmExpandRight,
.RadMenu_FMC .rmGroup .rmItem a.rmDisabled .rmExpandDown,
.RadMenu_FMC .rmRootGroup .rmItem a.rmDisabled:hover .rmExpandRight,
.RadMenu_FMC .rmGroup .rmItem a.rmDisabled:hover .rmExpandDown
{
	background-position: 100% -216px;
}

.RadMenu_FMC a.rmLink:hover .rmExpandRight,
.RadMenu_FMC .rmLast a.rmLink:hover .rmExpandRight,
.RadMenu_FMC a.rmFocused .rmExpandRight,
.RadMenu_FMC a.rmSelected .rmExpandRight,
.RadMenu_FMC a.rmExpanded .rmExpandRight
{
	background-position: 100% -312px;
}

.RadMenu_FMC .rmGroup a.rmLink:hover .rmExpandRight,
.RadMenu_FMC .rmGroup a.rmFocused .rmExpandRight,
.RadMenu_FMC .rmGroup a.rmSelected .rmExpandRight,
.RadMenu_FMC .rmGroup a.rmExpanded .rmExpandRight,
.RadMenu_FMC .rmGroup a.rmLink:hover .rmExpandDown,
.RadMenu_FMC .rmGroup a.rmFocused .rmExpandDown,
.RadMenu_FMC .rmGroup a.rmSelected .rmExpandDown,
.RadMenu_FMC .rmGroup a.rmExpanded .rmExpandDown
{
	background-position: 100% -240px;
}

.RadMenu_FMC .rmRootGroup a.rmDisabled:hover .rmExpandRight,
.RadMenu_FMC .rmGroup a.rmDisabled:hover .rmExpandDown
{
	background-image: url('../../images/Menu/rmSprite.png')/*tpa=http://www.fmctechnologies.com/images/Menu/rmSprite.png*/;
	background-position: 100% -216px;
}

/* </expand arrows> */

/* <rtl> */

.RadMenu_FMC_rtl a.rmLink,
.RadMenu_FMC_rtl .rmRootGroup a.rmDisabled
{
	background-position: 100% -96px;
}

.RadMenu_FMC_rtl .rmGroup a.rmDisabled
{
	background: none;
}

.RadMenu_FMC_rtl .rmText
{
	background-position: 0 -96px;
}

.RadMenu_FMC_rtl .rmVertical a.rmExpanded .rmText,
.RadMenu_FMC_rtl .rmVertical a.rmExpanded:hover .rmText
{
	background-position: 0 500px;
	background-repeat: no-repeat;
}

.RadMenu_FMC_rtl .rmGroup a.rmLink:hover,
.RadMenu_FMC_rtl .rmGroup a.rmFocused,
.RadMenu_FMC_rtl .rmGroup a.rmSelected,
.RadMenu_FMC_rtl .rmGroup a.rmExpanded
{
	background-position: 100% -264px;
}

.RadMenu_FMC_rtl .rmGroup a.rmLink:hover .rmText,
.RadMenu_FMC_rtl .rmGroup a.rmFocused .rmText,
.RadMenu_FMC_rtl .rmGroup a.rmSelected .rmText,
.RadMenu_FMC_rtl .rmGroup a.rmExpanded .rmText
{
	background-position: 0 -288px;
}

.RadMenu_FMC_Context_rtl .rmVertical .rmExpandLeft,
.RadMenu_FMC_rtl .rmRootGroup .rmExpandLeft
{
	background-position: 0 -312px;
}

.RadMenu_FMC_rtl .rmVertical a.rmLink:hover .rmExpandLeft,
.RadMenu_FMC_rtl .rmVertical a.rmFocused .rmExpandLeft,
.RadMenu_FMC_rtl .rmVertical a.rmSelected .rmExpandLeft,
.RadMenu_FMC_rtl .rmVertical a.rmExpanded .rmExpandLeft
{
	background-position: 0 -216px;
}

.RadMenu_FMC_rtl .rmGroup a.rmLink:hover .rmExpandLeft,
.RadMenu_FMC_rtl .rmGroup a.rmFocused .rmExpandLeft,
.RadMenu_FMC_rtl .rmGroup a.rmSelected .rmExpandLeft,
.RadMenu_FMC_rtl .rmGroup a.rmExpanded .rmExpandLeft
{
	background-position: 0 -336px;
}

.RadMenu_FMC_rtl .rmRootGroup a.rmDisabled:hover .rmExpandLeft
{
	background-position: 0 -312px;
}

/* </rtl> */

/* </Submenu items> */

/* <Submenu offsets (Default - specific, overlapping submenus)> */

.RadMenu_FMC .rmSlide
{
	margin: 0 0 0 -1px;
}

.RadMenu_FMC .rmVertical .rmSlide,
.RadMenu_FMC .rmSlide .rmSlide,
.RadMenu_FMC_Context .rmGroup .rmSlide
{
	margin: 0 0 0 -5px;
}

.RadMenu_FMC_rtl .rmSlide
{
	margin: 0 0 0 0;
}

.RadMenu_FMC_rtl .rmFirst .rmSlide
{
	margin-left: 1px;
}

.RadMenu_FMC_rtl .rmVertical .rmSlide,
.RadMenu_FMC_rtl .rmSlide .rmSlide,
.RadMenu_FMC_Context_rtl .rmGroup .rmSlide
{
	margin: 0 0 0 5px;
}

/* </Submenu offsets> */

/* <Scrolling arrows> */

.RadMenu_FMC .rmLeftArrow,
.RadMenu_FMC .rmRightArrow
{
	background-color: #e6e6e6;
}

.RadMenu_FMC .rmLeftArrow { background-position: -8px -312px; border-right: 1px solid #828282; }
.RadMenu_FMC .rmRightArrow { background-position: -482px -216px; border-left: 1px solid #828282; }

.RadMenu_FMC .rmTopArrow,
.RadMenu_FMC .rmBottomArrow,
.RadMenu_FMC .rmGroup .rmLeftArrow,
.RadMenu_FMC .rmGroup .rmRightArrow
{
	background-color: #e6e6e6;
}

.RadMenu_FMC .rmTopArrow { background-position: 50% -367px; border-bottom: 1px solid #828282; }
.RadMenu_FMC .rmBottomArrow { background-position: 50% -391px; border-top: 1px solid #828282; }

/* </Scrolling arrows> */

/* <Separators> */

.RadMenu_FMC .rmHorizontal .rmSeparator .rmText,
.RadMenu_FMC .rmVertical .rmHorizontal .rmSeparator .rmText
{
	height: 22px;
	margin: 1px 0 0;
	width: 1px;
	background-color: #a8a8a8;
}

.RadMenu_FMC_Context .rmSeparator .rmText,
.RadMenu_FMC .rmHorizontal .rmGroup .rmSeparator .rmText,
.RadMenu_FMC .rmVertical .rmHorizontal .rmGroup .rmSeparator .rmText
{
	background-color: transparent;
	background-position: 0 -406px;
}

/* </Separators> */

/* </RadMenu / Default> */





 DIV.RadMenu_FMC {

	BACKGROUND-IMAGE: none;

}

 DIV.RadMenu_FMC .rmItem .rmLink {

	BACKGROUND-IMAGE: none;

	TEXT-ALIGN: center;

	BACKGROUND-COLOR: transparent;

	FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;

}

 DIV.RadMenu_FMC .rmItem .rmLink .rmText {

	FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;

}

 DIV.RadMenu_FMC .rmItem .rmLink:hover {

	COLOR: #FF0000;

}

 DIV.RadMenu_FMC .rmItem .rmGroup {

	BACKGROUND-IMAGE: none;

	BORDER-BOTTOM-COLOR: #DCDDDE;

	PADDING-BOTTOM: 6px;

	BACKGROUND-COLOR: #ECECEC;

	BORDER-TOP-COLOR: #DCDDDE;

	PADDING-LEFT: 6px;

	PADDING-RIGHT: 6px;

	BORDER-RIGHT-COLOR: #DCDDDE;

	BORDER-LEFT-COLOR: #DCDDDE;

	PADDING-TOP: 6px;

}

.RadMenu .rmGroup .rmText {
    margin: 0 !important;
}
