/*	-------------------------------------------------------------------------------
	Top Menu
	------------------------------------------------------------------------------- */

div.TopMenuContainer
{
	float: none;
	clear: both;
	width: 100%;
	height: 34px;
	vertical-align: top;
    background-image: url('../../images/Menu/TopMenuBackground.png')/*tpa=http://www.fmctechnologies.com/images/Menu/TopMenuBackground.png*/;
    background-repeat: repeat-x;
}

/*.TopMenuGroup
{
	vertical-align: top;
	height: 21px;
	overflow: hidden;
}

.TopMenuItem
{
	padding-top: 5px;
	vertical-align: top;
	text-align: center;
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: Black;
	cursor: hand;
	
}

.TopMenuItemHover
{
	padding-top: 5px;
	vertical-align: top;
	text-align: center;
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: Red;
	cursor: hand;
}

.TopMenuFlyout
{
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 8px;
	padding-right: 8px;
	background-color: #ececec;
	border: 1px solid #dcddde; 

}
*/
.TopMenuBreakPanel
{
	height: 24px;
    width: 3px;
	overflow: hidden;
	text-align: center;
}

/*
.TopMenuBreak
{
	width: 1px;
	height: 24px;
	overflow: hidden;
	background-image:url(/images/TopMenuDivider.png);
	background-repeat: no-repeat;
}
*/

/*	-------------------------------------------------------------------------------
	Left Menu
	------------------------------------------------------------------------------- */

div.LeftMenu
{
	float: none;
	clear: both;
	margin-top: 0px;
	margin-bottom: 0px;
	width: 180px;
	overflow: hidden;
	margin-top: 41px;
}

/* These are the styles for the html-based left menu

table.LeftMenuTable
{
	width: 180px;
	overflow: hidden;
}

LeftMenuTable row.Level1Row
{
}

LeftMenuTable row.Level1Row cell.Level1LeftIconCell
{
	width: 12px;
	overflow: hidden;
	vertical-align: top;
	text-align: left;
}

LeftMenuTable row.Level1Row cell.Level1TextCell
{
	vertical-align: top;
	text-align: left;
}

LeftMenuTable row.Level2Row
{
}

LeftMenuTable row.Level2Row cell.Level2TextCell
{
	margin-left: 28px;
}
*/

.LeftMenuLevel1Table
{
	width: 180px;
	margin-left: 0px;
}

.LeftMenuLevel2Table
{
	width: 162px;
	margin-left: 18px;
	margin-top: 20px;
}

.LeftMenuIconCell
{
	width: 12px;
	vertical-align: top;
	overflow: hidden;
	padding-top: 2px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	margin: 0;
}

.LeftMenuTextCell
{
	vertical-align: top;
	overflow: hidden;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 6px;
	padding-right: 0px;
	margin: 0;
}


.LeftMenuGroup
{
	background-color: white;
	width: 180px;
}

.LeftMenuItem
{
	font-size: 12px;
	font-weight: normal;
	color: Black;
	cursor: hand;
}

.LeftMenuItemHover
{
	font-size: 12px;
	font-weight: normal;
	color: Red;
	cursor: hand;
}

/*
.LeftMenuItemContainer
{
	width: 180px;
	background-color: Yellow;
}
*/


/*	-------------------------------------------------------------------------------
	Breadcrumbs
	------------------------------------------------------------------------------- */


div.Breadcrumbs
{
	float: none;
	clear: both;
	vertical-align : bottom;
	overflow: hidden;
	text-align: left;
}

div.Breadcrumbs div.Item
{
	float: left;
	clear: none;
	margin-top: 0px;
}

div.Breadcrumbs td.RootItem
{
	vertical-align: top;
	font-size: 14pt;
	font-weight: bold;
	color: #333333;
	white-space: nowrap;
}

div.Breadcrumbs td.RootItemSeparator
{
	font-size: 14pt;
	vertical-align: top;
	padding-left: 4px;
	padding-top: 2px;
	color: #333333;
}


div.Breadcrumbs td.SubItem
{
	font-size: 10pt;
	font-weight: normal;
	margin-left: 4px;
	white-space: nowrap;
	vertical-align : text-bottom;
	padding-top: 5pt;
	color: #333333;
}

div.Breadcrumbs td.SubItemSeparator
{
	margin-left: 4px;
	padding-top: 5pt;
	color: #333333;
}

div.Breadcrumbs a{
	text-decoration: none;
	color: #333333;
}

div.Breadcrumbs a:visited
{
	text-decoration: none;
	color: #333333;
}

div.Breadcrumbs a:active
{
	text-decoration: none;
	color: #333333;
}

div.Breadcrumbs a:hover
{
	text-decoration: underline;
	color: Red;
}

/*	-------------------------------------------------------------------------------
	Key Link
	------------------------------------------------------------------------------- */

.KeyLink
{
    width: 100%;
    overflow: hidden;
    font-size: 12px;
    margin-bottom: 20px;
}

.KeyLink table
{
    width: 100%;
    margin-bottom: 2px;
}

.KeyLink .Left
{
    width: 5px;
}

.KeyLink .Middle
{
    background-color: #999999;
}

.KeyLink .Right
{
    width: 13px;
}

.KeyLink a
{
    display: block;
    height: 14px;
    margin: 8px 0;
    overflow: hidden;
}

.KeyLink a:link, .KeyLink a:active, .KeyLink a:visited
{
    color: White;
    text-decoration: none;
}

.KeyLink a:Hover
{
    color: Black;
    text-decoration: none;
}

/*	-------------------------------------------------------------------------------
	Video
	------------------------------------------------------------------------------- */

div.VideoLinks
{
    margin-bottom: 8px;
}

div.VideoLinks div.VideoSidebarTitle
{
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 4px;
}

/*	-------------------------------------------------------------------------------
	Text Links
	------------------------------------------------------------------------------- */

.TextLinks
{
	width: 1px;
	height: 1px;
	overflow: hidden;
	background-color: #cccccc;
	color: #cccccc;

}


.TextLinks a, .TextLinks a:link, .TextLinks a:active, .TextLinks a:visited,  .TextLinks a:Hover
{
	color: #cccccc;
	text-decoration: none;
}
