@import "Collateral.css"/*tpa=http://www.fmctechnologies.com/css/default/Collateral.css*/;
@import "News.css"/*tpa=http://www.fmctechnologies.com/css/default/News.css*/;

/*	-------------------------------------------------------------------------------
	Spotlight
	------------------------------------------------------------------------------- */

.Spotlight
{
    text-align: left;
    float: left;
    overflow: hidden;
}

.Spotlight .Spotlights
{
}

.Spotlight td
{
    vertical-align: top;
    border: 0;
}

.Spotlight td.WithoutBorder
{
    border: solid 1px #fff;
}

.Spotlight td.WithBorder
{
    border: solid 1px #cecece;
}

.Spotlight div.Spacer
{
    width: 12px;
}

.SpotlightColumn
{
    width: 100%;
    float: left;
    overflow: hidden;
    position: relative;
}

.Spotlight h2
{
    font-size: 21px;
    margin: 10px 0 5px;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

.Spotlight .MenuItem, .Spotlight .HtmlField, .Spotlight .RecentTweets
{
    padding: 10px;
    overflow: hidden;
}

.Spotlight a
{
   
    text-decoration: none;
}

.Spotlight a:link, .Spotlight a:visited, .Spotlight a:active
{
    
    text-decoration: none;
}

.Spotlight a:hover
{
    
    text-decoration: underline;
}

.Spotlight .MenuItem a
{
    display: block;
    padding-bottom: 5px;
}

.Spotlight .MenuItem a.Header
{
    font-weight: bold;
}

.Spotlight .MenuItem a.ChildLink
{
    margin-left: 10px;
}

.Spotlight .Feature div
{
    padding: 5px 10px 0;
}

.Spotlight .FeatureItem div
{
    padding: 0 10px;
}

.Spotlight .FeatureItem h3
{
    font-weight: bold;
    font-size: 11px;
    margin: 5px 10px 0;
}

.Spotlight .Feature a.ArrowLink, .Spotlight .FeatureItem a.ArrowLink
{
    display: block;
    text-align: right;
    margin-right: 16px;
    margin-bottom: 10px;
}

.Spotlight .ImageLink
{
}

.Spotlight .CollateralFolder
{
    padding-top: 10px;
}

.Spotlight .CollateralFolder h3
{
    padding: 0 0 5px;
    margin: 0 5px 10px;
}

.Spotlight .CollateralFiles
{
    margin: 0 5px;
}

.Spotlight .CollateralFiles a:link, .Spotlight .CollateralFiles a:visited, .Spotlight .CollateralFiles a:active
{
    color: Blue;
}

.Spotlight .CollateralFiles a:hover
{
    color: Red;
}

.rotatorDiv
{
    margin: 0 auto;
    position: relative;
    text-align:left;
}

.rotatorTable div
{
    overflow: hidden;
}

.Thumbnail.Image
{
    color: White;
    border: 1px solid White;
}

.Thumbnail.ImageActive,
.Thumbnail.Image:hover
{
    margin: 0 auto;
    color:Yellow;
    border: 1px solid Yellow;
}

.Thumbnail.Icon
{
   
}

.Thumbnail.IconActive
{
    margin: 0 auto; 
  
}

.Thumbnail.IconActive img,
{
   visibility:hidden;
}

.ThumbnailTableBottomRight
{
    position: absolute;
    bottom: .5em;
    right: .5em;
}

.ThumbnailTableBottomLeft
{
    position: absolute;
    bottom: .5em;
    left: .5em;
}

.ThumbnailTableTopRight
{
    position: absolute;
    top: .5em;
    right: .5em;
}


.ThumbnailTableTopLeft
{
    position: absolute;
    top: .5em;
    left: .5em;
}

.FeatureItemImage
{
    text-align:center;
}
