@import url(../../fonts.googleapis.com/css-family=Open+Sans-300,400,700.css)/*tpa=http://fonts.googleapis.com/css?family=Open+Sans:300,400,700*/;


@import url("Pending_relink")/*tpa=http://fast.fonts.com/t/1.css?apiType=css&projectid=89e2d7cf-6511-41e6-8d54-cc8203f28779*/;

@font-face {
    font-family: "UniversLTW01-67BoldCn";
    src: url("web-fonts/Fonts/076b8d7a-91b5-4c89-86a1-546b980072c7.eot-iefix")/*tpa=http://www.southerncompany.com/css/web-fonts/Fonts/076b8d7a-91b5-4c89-86a1-546b980072c7.eot?iefix*/ format("embedded-opentype");
}
@font-face {
    font-family: "UniversLTW01-67BoldCn";
    src: url("web-fonts/Fonts/21decb60-b395-4de2-bd04-e38eb2a56d2f.woff")/*tpa=http://www.southerncompany.com/css/web-fonts/Fonts/21decb60-b395-4de2-bd04-e38eb2a56d2f.woff*/ format("woff"), url("web-fonts/Fonts/091058d4-36b2-43f6-80d3-16c88e098061.ttf")/*tpa=http://www.southerncompany.com/css/web-fonts/Fonts/091058d4-36b2-43f6-80d3-16c88e098061.ttf*/ format("truetype"), url("web-fonts/Fonts/827d22bc-e38b-4ccf-8a21-1f9aaa76e402.svg#827d22bc-e38b-4ccf-8a21-1f9aaa76e402")/*tpa=http://www.southerncompany.com/css/web-fonts/Fonts/827d22bc-e38b-4ccf-8a21-1f9aaa76e402.svg#827d22bc-e38b-4ccf-8a21-1f9aaa76e402*/ format("svg");
}
@font-face {
    font-family: "UniversLTW01-57Condense 723821";
    src: url("web-fonts/Fonts/aefefc4e-9cb8-4e8e-8599-dda705456734.eot-iefix")/*tpa=http://www.southerncompany.com/css/web-fonts/Fonts/aefefc4e-9cb8-4e8e-8599-dda705456734.eot?iefix*/ format("embedded-opentype");
}
@font-face {
    font-family: "UniversLTW01-57Condense 723821";
    src: url("web-fonts/Fonts/1eaf27c0-f4de-4273-9f4c-1b3236ad2f3c.woff")/*tpa=http://www.southerncompany.com/css/web-fonts/Fonts/1eaf27c0-f4de-4273-9f4c-1b3236ad2f3c.woff*/ format("woff"), url("web-fonts/Fonts/9b913baf-b1f0-47d2-8c76-42f59650058f.ttf")/*tpa=http://www.southerncompany.com/css/web-fonts/Fonts/9b913baf-b1f0-47d2-8c76-42f59650058f.ttf*/ format("truetype"), url("web-fonts/Fonts/0abcce12-2274-4ee7-b6d5-0066b5f5f670.svg#0abcce12-2274-4ee7-b6d5-0066b5f5f670")/*tpa=http://www.southerncompany.com/css/web-fonts/Fonts/0abcce12-2274-4ee7-b6d5-0066b5f5f670.svg#0abcce12-2274-4ee7-b6d5-0066b5f5f670*/ format("svg");
}
@font-face {
    font-family: "UniversLTW01-47LightCn";
    src: url("web-fonts/Fonts/296c59c2-74b0-41c1-bcfd-23d22a713f86.eot-iefix")/*tpa=http://www.southerncompany.com/css/web-fonts/Fonts/296c59c2-74b0-41c1-bcfd-23d22a713f86.eot?iefix*/ format("embedded-opentype");
}
@font-face {
    font-family: "UniversLTW01-47LightCn";
    src: url("web-fonts/Fonts/609beecf-8d23-4a8c-bbf5-d22ee8db2fc9.woff")/*tpa=http://www.southerncompany.com/css/web-fonts/Fonts/609beecf-8d23-4a8c-bbf5-d22ee8db2fc9.woff*/ format("woff"), url("web-fonts/Fonts/a6595b8d-d4a3-4f01-bf21-0b53617d4b1c.ttf")/*tpa=http://www.southerncompany.com/css/web-fonts/Fonts/a6595b8d-d4a3-4f01-bf21-0b53617d4b1c.ttf*/ format("truetype"), url("web-fonts/Fonts/1cd9ef2f-b358-4d39-8628-6481d9e1c8ce.svg#1cd9ef2f-b358-4d39-8628-6481d9e1c8ce")/*tpa=http://www.southerncompany.com/css/web-fonts/Fonts/1cd9ef2f-b358-4d39-8628-6481d9e1c8ce.svg#1cd9ef2f-b358-4d39-8628-6481d9e1c8ce*/ format("svg");
}

html,
button,
input,
select,
textarea {
    color: #636363;
}

body {
    /*font: 14px/18px'Open Sans', sans-serif;*/
    font: 14px/20px'Open Sans', sans-serif;
    background: #ebebeb;
	background: -moz-linear-gradient(top,  #ebebeb 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebebeb), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top,  #ebebeb 0%,#ffffff 100%);
	background: -o-linear-gradient(top,  #ebebeb 0%,#ffffff 100%);
	background: -ms-linear-gradient(top,  #ebebeb 0%,#ffffff 100%);
	background: linear-gradient(to bottom,  #ebebeb 0%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#ffffff',GradientType=0 );

}

body h1, body h2, body h3, body h4, body h5, body h6 {color: #000; font-weight: normal;}

body h1 {
    font-family: 'UniversLTW01-67BoldCn',sans-serif;
    font-size: 60px;
    letter-spacing: -1px;
    line-height: 62px;
}
body h2 {
    font-family: 'UniversLTW01-47LightCn',sans-serif;
    font-size: 45px;
    line-height: 48px;
}
body h3 {
    font-family: 'UniversLTW01-67BoldCn',sans-serif;
    font-size: 24px;
    line-height: 24px;
}
body h4 {
    font-family: 'UniversLTW01-57Condense 723821',sans-serif;
    font-size: 18px;
    line-height: 18px;
}
body h5 {
    font-family: 'UniversLTW01-57Condense 723821',sans-serif;
    font-size: 16px;
    line-height: 16px;
}

a, a:hover {
    color: #CC0000;
    text-decoration: none;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
    position: relative;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.slider-content-print { display: none; }

/* ==============
    MOBILE: Menu
   ============== */
/*flexslide rhomepage*/



ol.flex-control-nav{
	position : relative !important;
	bottom: -1px !important;
	background-color: #bcbcbc ;
}
.flex-control-paging li a.flex-active{
	background-color: #ffffff !important;
	border: 1px solid black;
	position: relative;
	top:1px;
}
.flex-control-paging li a{
		background-color: #dedede !important;
		border: 1px solid #707070;
		position: relative;
		top:1px;
	}
.flex-caption {
    	/*background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
		/* IE 8 */
    	
		background-image: url(../img/bg-black-60.png)/*tpa=http://www.southerncompany.com/img/bg-black-60.png*/;
		
		bottom: 30px;
    	color: #FFFFFF;
    	left: 0;
    	line-height: 18px;
    	padding: 2%;
    	position: absolute;
    	text-align: left;
    	width: 96%;
		font-size: 26px;
		line-height: 100%;
	
	}
.flex-caption span {
	font-family: 'UniversLTW01-67BoldCn',sans-serif;
	  color: white;
	  font-size: 36px;
      line-height: 100%;
	  display: block;
	  margin-bottom: 3px;
	
}
/* Header Menu Styling */

nav {
	width: 100%;
	margin: 0px;
	position: relative;
}

nav a {
	display: block;
	font-size: 20px;
	line-height: 28px;
	padding: 10px 0;
	text-align: center;
	text-decoration: none;
	color: #545454;
}

nav ul ul li a.selected {
	font-weight: bold;
}

nav ul {
	padding: 0px;
	margin: 0px;
}

nav ul.menu {
    display: none;
}

nav ul ul {
	display: none;
}

nav ul ul li a {
	font-size: 18px;
}

nav ul li {
	background-color: #E5E5E5;
	padding: 0px;
	border-bottom: #ccc 1px solid;
	text-align: center;
	list-style: none;
}

nav > ul > li > a {
	font-weight: bold;
}

nav ul li:first-child {
	border-top: #ccc 1px solid;
}

/* Temp */

nav ul.menu-2 li:first-child {
	border-top: 0px;
}

/* Temp */

nav ul li.expandable {
	background-image: url("../img/mobile-nav-arrow.png")/*tpa=http://www.southerncompany.com/img/mobile-nav-arrow.png*/;
    background-position: 94% 21px;
    background-repeat: no-repeat;
}	

nav ul li.expandable.open {
   /* background-position: 94% -29px;*/
}

nav ul li li {
	background-color: #EEE;
}

nav ul li ul li li {
	background-color: #F5F5F5;
}

nav ul li ul li ul li li {
	background-color: #FFF;
}

/* Footer Menu Styling */
footer #info #social{
	position: relative;
	text-align: center;
}
footer #mobile-menu {
	width: 100%;
	margin: 20px 0px 15px;
}
footer h4{
	font-family: 'UniversLTW01-67BoldCn',sans-serif;
	line-height: 16px;
	padding-bottom: 10px;
	font-size: 14px !important;
	color: #636363;
}

footer #mobile-menu ul {
	padding: 0px;
	margin: 0px;
}

footer #mobile-menu ul li {
	padding: 10px 0px;
	border-bottom: #ccc 1px solid;
	text-align: center;
	list-style: none;
}

footer #mobile-menu ul li:first-child {
	border-top: #ccc 1px solid;
}

footer #mobile-menu ul li a {
	font-size: 20px;
	color: #CC0000;
	text-decoration: none;
}


/* ==============
    MOBILE: Main
   ============== */

header, .main, .main .module, .main .slide {
	position: relative;
}

.header-container {
	background: #ffffff;
}

header #logo {
    display: block;
    margin: 0 auto;
    width: 140px;
}

header #logo img {
	padding: 20px 30px 25px 0;
}

#drawer {
	display: none;
}

#breadcrumb {
    font-weight: 700;
    left: 182px;
    position: absolute;
    top: 0;
}

#breadcrumb a {
    font-weight: normal;
    font-size: 12px;
}

ul#breadcrumb {
    color: #FFFFFF;
    padding: 4px 0 0;
    margin: 0px;
}

ul#breadcrumb span {
    font-weight: normal !important;
    padding: 0 3px;
}

ul#breadcrumb li {
    display: inline;
}

ul#breadcrumb li.last {
    letter-spacing: -0.25px;
}

ul#breadcrumb li a {
    color: #FFFFFF;
    cursor: pointer;
    padding-right: 0.2em;
}

ul#breadcrumb li a:after {
    content: ' :';
}

ul#breadcrumb li a:hover {
    color: #FFFFFF;
}

.main {
    padding: 25px 0;
}

.main .slide, .main .slide img {
	/*height: 190px;*/
	height: auto;
}
.main .slide h1 {
	font-size: 28px;
	line-height: 30px;
	left: 18px;
	bottom: 20px;
}

.main img {
    max-width: 100%;
}

.hide, #facebook-like {
   display: none;
}

.main .module {
    float: left;
    margin-bottom: 25px;
}

.main .module h3 {
	margin: 15px 0;
}

.main .module h3 a {
	color: #000;
	text-decoration: none;
}


/* NOT SURE WHY THIS WAS DONE - IF IT CHANGES PLEASE LET GC KNOW.
.main .module ul {
	padding-left: 0px;
}
*/

/* DITTO
.main .module ul li {
	list-style: none;
	margin: 0 0 5px;
	
}
*/

#facebook-like {
    position: absolute;
    right: 40px;
    top: 50px;
    z-index: 2;
}

a.button, input.submit-button {
	padding: 10px 30px;
	display: block;
	margin: 0 10px;
	font-size: 1.2em;
}


.footer-container {
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #ebebeb 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ebebeb));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#ebebeb 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#ebebeb 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#ebebeb 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#ebebeb 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebebeb',GradientType=0 );

}

.footer-container footer {
    padding: 0;
}

footer section {
	display: none;
}

footer #social {
	margin: 0 auto;
	white-space: nowrap;
	padding:0;
	position:absolute;
	right:0;
}


#social li { display:inline-block;
	zoom:1;
	border-right: 1px solid #E1E1E1;
	padding-top:10px;
	
}
#social li a { display:inline-block;display:block\9; background:transparent url(../img/social-icons.png)/*tpa=http://www.southerncompany.com/img/social-icons.png*/ no-repeat 0 0; 
	width:45px; height:45px; text-indent:-9999em;    
    margin:0 10px;	
    zoom:1;

}
#social li.last { margin-right:0; border-right:none;}
#social li a#footer-social-facebook { background-position:-50px 0; }
#social li a#footer-social-facebook:hover { background-position:-50px -46px;}
#social li a#footer-social-twitter { background-position:-105px 0;}
#social li a#footer-social-twitter:hover { background-position:-105px -46px;}
#social li a#footer-social-linkedin { background-position:-170px 0;}
#social li a#footer-social-linkedin:hover { background-position:-170px -46px;}
#social li a#footer-social-youtube { background-position:5px 0;}
#social li a#footer-social-youtube:hover { background-position:5px -46px;}
#social li a#footer-social-google { background-position:-215px 0;}
#social li a#footer-social-google:hover { background-position:-215px -46px;}

footer #copyright {
    font-size: 10px;
    margin: 0;
    padding: 10px 0 20px;
}

footer #copyright img {
    padding-left: 100px;
}

footer #copyright a {
    color: #636363;
}

footer #copyright a:hover {
    color: #CC0000;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Soco Theme Styles
   ========================================================================== */

/*Global Styling */

#header-content {
	background-position: 0 0;
	background-repeat: no-repeat;
	border-radius: 12px 12px 12px 12px;
	behavior: url(PIE.htc)/*tpa=http://www.southerncompany.com/css/PIE.htc*/;
	display: none;
	margin-bottom: 30px;
	position: relative;
}

#content h1 {
	margin: 0;
	/*margin-bottom: 20px;*/
}

#content h2 {
	margin: 0 0 25px;
}

#content ul, #content ol {
	overflow: hidden;
	padding: 0 0 0 30px;
}

#content ul li, #content ol li {
	padding-bottom: 20px;
}

#menu-top-nav {
    padding: 10px 220px 26px 0;
    text-align: right;
    margin: 0;
}

#menu-top-nav li {
    border-right: 1px solid #DADADA;
    display: inline;
    padding: 0 8px 0 4px;
}

#menu-top-nav li.last {
    border: medium none;
}

#menu-top-nav li a {
    color: #464646;
    font-size: 0.75em;
    text-decoration: none;
}

#menu-top-nav li a:hover {
    color: #CC0000;
}

#search-form {
    font-size: 0.75em;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 25px;
    text-align: right;
    top: 10px;
    width: 200px;
}

#search-form #search-form-input {
    border: 2px solid #CECECE;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    color: #CECECE;
    height: 18px;
    line-height: 18px;
    width: 160px;
}

#search-form #search-form-input:focus {
    color: #000000;
}

#search-form #form-search-button {
    background-image: url("../img/form-search-button.gif")/*tpa=http://www.southerncompany.com/img/form-search-button.gif*/ !important;
    border: medium none;
    font-size: 0;
    height: 24px;
    margin-left: -2px;
    position: absolute;
    right: -24px;
    top: 0;
    width: 25px;
}
    
ul.no-bullet {
    list-style: none outside none;
}

a.button, input.submit-button {
    background-color: #cc0000;
    background: -moz-linear-gradient(center top , #ED1E2F 0%, #C91D2B 50%, #B60015 50%, #8F0010 100%); /* Firefox */
	background: -webkit-gradient(linear, center top, center bottom, color-stop(0%,#ED1E2F), color-stop(50%,#C91D2B), color-stop(50%,#B60015), color-stop(100%,#8F0010)); /* webkit */
	background: linear-gradient(#ED1E2F, #8F0010);
    border: 1px solid #951100;
    border-radius: 5px 5px 5px 5px;
    
    -webkit-box-shadow: 0 0 0 1px rgba(255, 115, 100, 0.2) inset, 0 1px 3px #333333;
       -moz-box-shadow: 0 0 0 1px rgba(255, 115, 100, 0.2) inset, 0 1px 3px #333333;
            box-shadow: 0 0 0 1px rgba(255, 115, 100, 0.2) inset, 0 1px 3px #333333;
    color: #FFFFFF;
    display: block;
    font-size: 1em;
    line-height: 1em;    
    margin: 20px auto 10px;
    padding: 5px 30px;
    position: relative;
    text-align: center;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.8);
    text-decoration: none;
}

a.button:hover, input.submit-button:hover {
    background-image: -moz-linear-gradient(center top , #FF3852 0%, #F81332 50%, #E70025 50%, #CA001E 100%);
	background: -webkit-gradient(linear, center top, center bottom, color-stop(0%,#FF3852), color-stop(50%,#F81332), color-stop(50%,#E70025), color-stop(100%,#CA001E)); /* webkit */
	background: linear-gradient(#FF3852, #CA001E);
}

#content .with-teaser {
    display: block;
    padding: 0 0 0 20px;
    position: relative;
    vertical-align: top;
}

#content .with-teaser h4 {
    background: none repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    /*font: 14px/16px 'Open Sans',sans-serif;*/
    font: 24px/28px 'Open Sans',sans-serif;
    font-weight: bold;
    margin: 0 0 15px;
    padding: 0;
    text-decoration: none;
    
    
    
	border-bottom: 1px solid #a6a6a6;
	padding-bottom: 5px;
}
#content .with-teaser h3{
	cursor: pointer;
}
#content .with-teaser .teaser span {
    cursor: pointer;
    position: absolute;
    right: 2em;
}

#content .with-teaser.active h4 {
    background-position: -2px -34px;
}

#content .with-teaser .detail {
    display: none;
    /*padding-left: 1em;*/
}

#content .with-teaser .detail p, #content .with-teaser .detail ul {
    margin: 0 0 20px;
}
#content .with-teaser .detail .module ul{
	margin-bottom: 0px;
}
#content .with-teaser .detail .module{
	padding-bottom: 0px;
}
#content .with-teaser.last {
    border: medium none;
}

#content .with-teaser span {
  /*  background: url(../img/arrows.png) no-repeat scroll 0 top transparent;
    cursor: pointer;
    display: block;
    height: 16px;
    left: -5px;
    position: absolute;
    top: 0px;
    width: 20px;
    */
    
    background: url(../img/twirler-sprite.png)/*tpa=http://www.southerncompany.com/img/twirler-sprite.png*/ no-repeat scroll 0 4px transparent;
    cursor: pointer;
    display: block;
    height: 26px;
    left: -5px;
    position: absolute;
    top: 0px;
    width: 23px;
}

#content .with-teaser.active span {
   /* background-position: 0 -60px;*/
    
    background-position: 0 -46px;
}

#content .transcript.with-teaser h5 {
	
	padding-top: 6px;
	padding-bottom: 5px;
	border-bottom: 1px solid #a6a6a6;
	
}


.simple-overlay {
    background-color: #FFFFFF;
    border: 1px solid #666666;
    border-radius: 10px 10px 10px 10px;
    display: none;
    padding: 10px;
    z-index: 10000;
}

.simple-overlay .close {
    background-image: url(../img/close.png)/*tpa=http://www.southerncompany.com/img/close.png*/;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 35px;
    position: absolute;
    right: -20px;
    top: -15px;
    width: 35px;
    z-index: 999999;
}

.spot-image {
    float: left;
    margin:0 1em 1em 0;
}

.spot-image.bottom-padding  {
	padding-bottom: 15px;
}

img.spot-image , .spot-image figcaption, figure.spot-image img, img.large-image{
	border-radius: 10px;
	
}
.spot-image.alternate {
    float: right;
    margin: 0 0 1em 1em;
}

/* Home Page Styling */

#home .main .module.standalone {
	background-color: transparent;
	border: 0px;
}
.module.with-image img{
	margin-left: 20px;
	
}
#home .main #slide1{
	/*background: url(../img/slide-11.jpg) 0px 0 no-repeat;*/
	
}
#home .main #slide2{
	/*background: url(../img/slide-21.jpg) 0px 0 no-repeat;*/
}
#home .main #slide3{
	/*background: url(../img/slide-31.png) 0px 0 no-repeat;*/
}
#home .slide img{
	border-radius: 10px;
}
#home .main #slide1 h1,#home .main #slide2 h1,#home .main #slide3 h1,#home .main #slide4 h1,#home .main #slide5 h1 {
	font-family: 'UniversLTW01-47LightCn',sans-serif;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
	position: absolute;
	margin: 0px;
	color: #FFF;
}

#home .main #slide1 h1 span{
	display: block;
	padding-left: 80px;
}

#home .main #slide1 h1 em {
	font-family: 'UniversLTW01-67BoldCn',sans-serif;
	font-style: normal;
}

#home .module#module1 p {
	padding-left: 150px;
}
#home .module#module7 ul{margin-left: 20px;}
#home .module#module1 h3 {
	padding-left: 150px;
}
#home .module#module1 img {
	position: absolute;
	bottom: 0px;
	left: 0px;
	border-radius: 10px;
}

#home .module#module6 img {
	/*margin-left: -30px;*/
	margin-left:-10px;
	float: left;
	
}
#home #module1 a.button{
	margin-left: 150px;
	padding: 5px;
}
.footer-container {
    -webkit-box-shadow: 0 -1px 1px #aaa;
       -moz-box-shadow: 0 -1px 1px #aaa;
            box-shadow: 0 -1px 1px #aaa;
}


/*Landing Page Styling */


/*Inner Page Styling */



.with-sidebar #content {
    float: left;
    width: 100%;
    margin: 0 2% 2%;
}

#sidebar {
/* 	display: none; */
	/*position:absolute;*/
	
	float: left;
	/*margin-left: 8px;*/ /*Align sidebar to banner*/
	left:640px;	
	width:300px;
	
}
.content-landing-page.with-sidebar #sidebar{
	top:348px;
}
#sidebar .module { 
	margin: 10px 0;
	/*padding:20px;
	width:260px;  sidebar*/
	width : 298px;  /*sidebar*/
	}
#sidebar .module ul{
	margin-left: 20px;
}
#sidebar .module ul.pdf-list{
	margin-left: 0px;
}
#sidebar .module.spotlight{
	width:258px;
	padding: 20px;
}
#sidebar .module.spotlight img{
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
}
p.youtube {
	background:url(../img/youtube-icon.png)/*tpa=http://www.southerncompany.com/img/youtube-icon.png*/ 0px 0px no-repeat;
	margin-top: 20px !important;
	padding-left: 40px;
}
ul.photo-list li{
	background:url(../img/photo-video-icon.png)/*tpa=http://www.southerncompany.com/img/photo-video-icon.png*/ 5px 9px no-repeat;
	padding-left: 40px !important;
}


li.youtube{
	background:url(../img/youtube-icon.png)/*tpa=http://www.southerncompany.com/img/youtube-icon.png*/ 6px 17px no-repeat;
	
	padding-left: 40px;
}


/* ===========

	Social Bar

	========== */

#social-bar { 
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}
#social-bar ul{
	width: 70%;
	margin: 0 auto !important;
	padding: 0px;
	
}
#social-bar ul li {
	
	display: inline-block;
	margin: 0px;
	marign-left: 5px;
	margin-right: 5px;
	padding: 0px;	
	background-color: transparent;
	width: 70px;
}

/* ==========================================================================

	Kendo Charts

	 ========================================================================== */
.charts div:nth-of-type(even){ margin-right: 0px !important; }
.chart-wrapper { width: 580px; float: left; margin-right: 10px; margin-bottom: 10px;}
.chart-wrapper  .chart{ width: 580px; height: 307px; }
/* ==========================================================================
   Media Queries
   ========================================================================== */


@media only screen and (min-width: 760px) {

/* ====================
    INTERMEDIATE: Header
   ==================== */
   	
   	.header-container {
        -webkit-box-shadow: 0 0px 6px #333;
           -moz-box-shadow: 0 0px 6px #333;
                box-shadow: 0 0px 6px #333;
                position: relative;
                z-index: 5;
    }
    
    header #logo {
	    float: left;
	    width: 168px;
    }
    
   	header #logo img {
	   	border-right: 1px solid #DADADA;
   	}
	
	header nav {
		display: block;
		margin: 0;
	}
	
	header #mobile-menu {
		display: none;
	}
   	
   	#banner {
	    float: left;
	    width: 74%;
    }
   	
    nav a {
	    display: block;
	    margin-bottom: 10px;
	    padding: 15px 0;
	    text-align: center;
	    text-decoration: none;
	    color: #CC0000;
        float: left;
        font-size: 16px;
        line-height: 18px;
        font-weight: 300;
        margin: 0;
        padding: 0 2% 20px;
    }
    
    nav a:hover,
	nav a:visited {
	    color: #CC0000;
	}	
	
	nav ul {
	    margin: 0;
	    padding: 0;
	}
	
	nav > ul > li > a {
		border-right: 1px solid #DADADA;
	}

    nav li:first-child a { 
        margin-left: 0;
    }
    
    /* Temp */

	nav ul.menu-2 {
		left: 400px;
	}
	
	/* Temp */

    nav li:last-child a {
        padding-right: 0;
        border-right: 0px;
    }
    
    nav ul li {
    	background-color: transparent !important;
        display: block;
        border: 0px none !important;
    }
    
    nav ul li.expandable {
	    background-image: none;
    }
    ul.menu li.expandable{
	background: url(../img/Pulldown-Chevron.png)/*tpa=http://www.southerncompany.com/img/Pulldown-Chevron.png*/ 94% 2px no-repeat;
}
	ul.menu li.expandable.non-active{
	background: url(../img/non-active-chevron1.png)/*tpa=http://www.southerncompany.com/img/non-active-chevron1.png*/ 94% 2px no-repeat;
}
	ul.menu li.expandable.open{
	background-position: 100% 2px;
}
 #navigation ul.menu li.non-active > a{
	 
	/*color: #e46656 !important;*/
	 /* color: #9F110A !important;*/

	 
	 color:white;
	 opacity:0.5;
     -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=50)"; /*IE8*/
     
 }
 #home #module2 h3, #home #module3 h3{
	/*margin-top: 32%;*/
	margin-bottom: -18px;
}
#home #module2 h3.long-text, #home #module3 h3.long-text{
	/*margin-top: 32%;*/
	margin-bottom: -18px;
}

#home  .module-detail p{
	padding: 10px 0px;}
#home  .module-detail p.detail{
	padding-bottom:0px;}
#home  .module-detail p.learn-more{
	padding-top:0px;}	 
 #navigation ul.menu li a {
	 display: block;
	 width: 93%;
 }
 #navigation ul.menu li{
	 padding-right:7px;
 }
     nav > ul > li.expandable.indicator > a  {
	    background-image: url(../img/nav_arrow.jpg)/*tpa=http://www.southerncompany.com/img/nav_arrow.jpg*/;
	    background-position: center 28px;
	    background-repeat: no-repeat;
    }
    
    nav > ul > li > a {
		font-weight: normal;
	}
		    
    nav ul li ul {
    	
	    position: absolute;
	    top: 38px;
	    left: 0;
	    /*padding-right: 10px;*/
	    padding-top: 20px;
	    width: 195px; /* Adjusts Dropdown Width */
	    z-index: 2;
    }
    nav ul.menu.has-expandable-child{
	    border-right: 1px solid #DC7169;
    }
    nav ul.menu.menu-1{
	    border-right: none;
    }

     nav ul.menu.third-level-subnav{border-right:none;}
    nav ul li li {
	    background-color: transparent;
	    float: left;
	    width: inherit;
	}
    
    nav ul li ul li a {
    	color: #FFF !important;
	    padding: 0 0 7px 15px;
	    font-size: 14px;
	    text-align: left;
    }
    
    nav ul li ul ul {
    	/* display: none; */
	    left: 200px; /* Adjusts Dropdown Width Spacing */
	    top: 0;
    }
    
    nav ul li ul li ul ul {
	    border-right: 0px none;
	    padding-right: 0px;
    }
    
    #drawer {
		display: block;
		background-color: #D7271D;
		height: 25px;
		transition: height 400ms;
		-moz-transition: height 400ms; /* Firefox 4 */
		-webkit-transition: height 400ms; /* Safari and Chrome */
		-o-transition: height 400ms; /* Opera */
	}

    
    /* ============
    INTERMEDIATE: Main
   ============ */    
    
    #header-content {
    	display: block;
		height: 30px;
		width: 100%;
	}
	
	#header-content.with-image {
		height: 250px;
	}
	#quick-links-container{
		position: absolute;
	    right: 10px;
	    top: 50px;
	    width: 290px;
	    z-index: 2;
	}
	#quick-links-container .toggle-links{
		
		background-color: #e3dede;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		padding:5px 5px 5px 160px;
		position: relative;
		top:-3px;
		 -moz-box-shadow: inset 0px 1px 3px #8b8b8b, 0px 2px 5px #8b8b8b;
	    -webkit-box-shadow: inset 0px 1px 3px #8b8b8b, 0px 2px 5px #8b8b8b;

		box-shadow: inset 0px 1px 3px #8b8b8b, 0px 2px 5px #8b8b8b;
		/* For IE 8 */

	    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";

/* For IE 5.5 - 7 */

		filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
	}
	
	#quick-links-container .toggle-links a{
		font-size:18px;
		color:#555555;
		background: url(../img/open-close-arrow.png)/*tpa=http://www.southerncompany.com/img/open-close-arrow.png*/ 100% 2px no-repeat;
		padding-left: 30px;
		padding-right: 10px;
		display: block;

	}
	#quick-links-container .toggle-links.active a{
		background-position: 100% -23px;
		
	}
    #quick-links {
    	/* for IE */
    	
       background-color: rgb(255,255,255);
       /***/
    	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.75);
	    /*border-radius: 10px 10px 10px 10px;*/
	    /*position: absolute;
	    right: 10px;
	    top: 70px;
	    width: 290px;*/
	    -moz-box-shadow: 1px 2px 2px #838283, -1px 2px 5px #838283;
	    -webkit-box-shadow: 1px 2px 2px #838283, -1px 2px 5px #838283;
	    box-shadow: 1px 2px 2px #838283, -1px 2px 5px #838283;
	    /* For IE 8 */

	    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";

/* For IE 5.5 - 7 */

		filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
    }
    
    #quick-links h3 {
    margin: 0px !important;
	    background-color: #d7271d;
	    color:white;
	    padding:10px 20px;
	    -moz-box-shadow: 0px 2px 6px #000000;
	    -webkit-box-shadow: 0px 2px 6px #000000;
	    box-shadow: 0px 2px 6px #000000;
    }
    
    #quick-links ul {
	    padding: 0 0 10px 20px;
	    margin: 10px 0 3px;
    }
    #quick-links .toggle-links{margin-top: 0px;padding-left:20px; font-weight: bold;}
    #quick-links ul li {
	    padding-bottom: 2px;
    }
    
    .main .slide {
    	border-radius: 10px;
    	
        float: left;
        width: 100%;
        margin: 0 0 2%;
		
	}

   .main .slide h1 {
		font-size: 60px;
		line-height: 62px;
		left: 50px;
	}
    
    .hide, #facebook-like {
	    display: block;
    }
    
    .main .module {
    	border: 1px solid #e1e1e1;
	    border-radius: 10px;
	    
	    background-color: #FFF;
	    /*padding: 15px 2% 10px;*/
	    padding:0px 0px 10px;
	    /*margin: 0 0 2%;
	    width: 45%;*/
	    margin:5px 0px 20px;
	    width:328px;
	    /* min-height: 190px; */
    }
    .module h3,  .module h4, .module p,  .module ul,  .module ol {
	    padding-left: 20px;
	    padding-right: 20px;
        line-height: normal;
	    
    }

    
    
 /*   .main .module h3.divider, .main .module h4.divider {
    	color:#ffffff;
	    background-color:#ccc;
	    padding-top:15px; padding-bottom:15px;
	     -moz-box-shadow:0px 2px 3px #8b8b8b;
	    -webkit-box-shadow:0px 2px 3px #8b8b8b;

		box-shadow:0px 2px 3px #8b8b8b;
		/* For IE 8 */

/*	    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";

/* For IE 5.5 - 7 */

/*		filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
	    
	    
    }*/
    #home .news li a{
	display: inline !important;
	}
    .main .module h3.divider, .main .module h4.divider {
    	color:#ffffff;
	    background-color:#a5a5a5;
	    padding-top:11px; padding-bottom:11px;
	     -moz-box-shadow:inset 3px 3px 3px #7e7e7e, 0px 2px 2px #7e7e7e;
	    -webkit-box-shadow:inset 3px 3px 3px #7e7e7e, 0px 2px 2px #7e7e7e;

		box-shadow:inset 3px 3px 3px #7e7e7e, 0px 2px 2px #7e7e7e;
		/* For IE 8 */

	    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";

/* For IE 5.5 - 7 */

		filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
	    
	   
    }
    
    #content .module ul ul, #content .module ol ul, #content .module ul ol, #content .module ol ul, #content .module ul p, #content .module ol p {
    	padding-left:0;padding-right:0;
    }
    #module2, #module3{
	    border: 0px;
	    
    }
    .main .module h3 {
	    margin: 15px 0;
	}    
	
    .main .module:nth-child(2n) {
	    float:right;
	   /* margin-left: 12px\9;*/
    }
    
    .main .module:nth-child(2n+1) {
	    clear:right;
    }
    
    a.button, input.submit-button {
	    width: 100px;
    }
 /*   #social li a { display:inline-block; background:transparent url(/img/social-icons.png) no-repeat 0 0; 
	width:45px; height:45px; text-indent:-99999em;    
    margin:0 10px;	

}
#social li.last { margin-right:0; border-right:none;}
#social li a#footer-social-facebook { background-position:-50px 0; }
#social li a#footer-social-facebook:hover { background-position:-50px -46px;}
#social li a#footer-social-twitter { background-position:-105px 0;}
#social li a#footer-social-twitter:hover { background-position:-105px -46px;}
#social li a#footer-social-linkedin { background-position:-170px 0;}
#social li a#footer-social-linkedin:hover { background-position:-170px -46px;}
#social li a#footer-social-youtube { background-position:5px 0;}
#social li a#footer-social-youtube:hover { background-position:5px -46px;}*/
#social-linkedin {
	padding-left:7px;
	padding-right: 7px;
}
.module.social h3 span{
	 background:transparent url(../img/social-icons.png)/*tpa=http://www.southerncompany.com/img/social-icons.png*/ no-repeat right center;
	 display: inline-block;
    zoom: 1;
    height: 45px;
    width: 45px;
}
    #social-twitter h3 span{
    
    position: absolute;
    right:0px;
    top:7px;
	   
	    background-position:-105px 0px;
    }
    #social-fb h3 span{
    
    position: absolute;
    right:0px;
    top:3px;
	   
	    background-position:-50px 0px;
    }

    #social-yt h3 span{
	  
    position: absolute;
    right:0px;
    top:3px;
	   
	    background-position:5px 0px;
    }
    #social-linkedin h3 span{
	   
    position: absolute;
    right:0px;
    top:4px;
	   
	    background-position:-170px 0px;
    }
    /*Landing Page Styling */
    /*Home Page Styling*/
	#module2{
		background: url(../img/corp-responsibility-promo-bg.jpg)/*tpa=http://www.southerncompany.com/img/corp-responsibility-promo-bg.jpg*/ no-repeat;
		background-size: 100% 355px;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='../img/corp-responsibility-promo-bg.jpg',
    sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='../img/corp-responsibility-promo-bg.jpg',
    sizingMethod='scale')";
		
	}
	#module3{
		background: url(../img/smart-energy-promo-bg.jpg)/*tpa=http://www.southerncompany.com/img/smart-energy-promo-bg.jpg*/ no-repeat;
		background-size: 100% 355px;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='../img/smart-energy-promo-bg.jpg',
    sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='../img/smart-energy-promo-bg.jpg',
    sizingMethod='scale')";
	}

	
	#module2, #module3{
		padding:0px;
		width:370px;
		height: 325px;
		overflow: hidden;
		
	}
	#home #module2 img, #home #module3 img{
		position: absolute;
		top:0px;
		left:0px;
		border-radius: 10px;
		
		max-width: none;
		/*height: 100%;
		width:100%;*/
	}
	#home #module2 h3, #home #module3 h3, #home  .module-detail{
		
		
		
	}
	.module2 , .module3{
		position: absolute;
		bottom: 10px;
	}
	#home #module2 h3.long-text, #home #module3 h3.long-text{
		
		/*top:95px;
		left:20px;*/
		z-index: 2;
	}
	#home #module2 h3, #home #module3 h3{
		
		top:130px;
		z-index: 2;
		left: 20px;
	}
	#home  .module-detail{
		top:175px;
		left:0px;
		width:329px;
		padding-left: 20px;
		padding-right: 20px;
		
	}
	#home #module2 h3, #home #module3 h3{
			color:white;
			font-size: 36px;
			line-height: 100%;
			text-shadow: -1px -1px 5px #313a40, 3px 3px 3px #313a40;
		}
    
    #home .module-detail{
	    background-color: #6e615e;
	    color:white;
	    font-size: 12px;
	    line-height: 18px;
    }
    #home .module-detail a{
	        color:white;
	        font-weight: bold;
	        text-decoration: underline;
        }
    
    /* ============
    INTERMEDIATE: Footer
   ============ */
   
   footer section {
	    border-right: 1px solid #E1E1E1;
	    float: left;
	    margin-top: 10px;
	    min-height: 22em;
	    padding-right: 1%;
	    width: 19%;
	    word-wrap: break-word;
	    display: block;
    }

	footer section ul {
	    margin-top: 0;
	    padding-left: 50px;
	}
	
	footer section ul li {
	    list-style-type: none;
	    margin-left: -1.9em;
	}
	
	footer section a {
	    color: #636363;
	    font-size: 12px;
	    text-decoration: none;
	}
	
	footer section a:hover, footer section ul li:first-child a:hover {
	    color: #CC0000;
	}
	
	footer section h4 {
	    font-size: 14px;
	    font-weight: normal;
	    margin: 10px 0 0;
	}
	
	footer #info {
		float: right;
		height: 500px;
		width: 35%;
		position: relative;
	}
	
	
	footer #mobile-menu {
		display: none;
	}
	
	footer #copyright {
	    position: absolute;
	    bottom: 0px;
	    right: 0px;
	}
	
	footer #copyright img {
		float: right;
		padding-right: 25px; 
	}
	
	footer #copyright p {
		clear: right;
		padding: 35px 0 0 50px;
	}
	#content .flex-direction-nav{
	padding-left: 0px;
}

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */


    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 767px) and (max-width: 880px) {
    
	
	nav a {
	    font-size: 14px;
	    padding: 0 2% 20px 1%;
    }
    
    nav ul {
    	margin: 0 0 0 15px;
    }
    
    nav ul li ul {
    	left: -210px;
    }
    
    #breadcrumb {
	    left: 186px;
    }
    
    }

@media only screen and (min-width: 1040px) {

/* Home Page slider*/

#home .flexslider{
	width:65% ;
	float: left;
	margin-right: 20px;
}
#home .flex-direction-nav a.flex-next{
	left:603px;
}
#home ul.flex-direction-nav{
	position: absolute ;
	top:155px ;
}



ol.flex-control-nav{
	display: none !important;
}
/*
    
/* ============
    WIDE: Header
   ============ */
   	
    .title {
        float: left;
    }
	

/* ============
    WIDE: Main
   ============ */
   
    .wrapper {
        width: 960px;
        margin: 0 auto;
    }

    .main article, .main .slide {
        float: left;
        /*width: 65%;*/
        width:620px;
		
        /*margin: 0 2% 2% 0;*/
        margin:0 20px 20px 0;
    }
    
    #header-content {
		width: 940px;
	}
    
    #banner {
	    width: 80%;
    }
    
    #search-form {
    	right: 45px;
    }
    
    #sidebar {
	    display: block;
    }
    
    .with-sidebar #content {
        float: left;
        width: 62%;
       /* min-height:540px;*/
    }
        
    .main .module {
	    /*width: 27%;*/
	    width:298px;
	    
	    margin-right: 20px;
	    /* min-height: 350px; */	    
    }
    #what-doing-social-media .main .module, #resource-library-home .main .module, #about-us-media .main .module{
	    width:298px\9;
	    margin-right: 10px\9;
    }
    .main .module img{
	    
	    border-top-left-radius: 10px;
	    border-top-right-radius: 10px;
	    
    }
    
    .main  .module:nth-child(even) {
	    float:left;
    }
    
    .main .module:nth-child(3n+1) {
	    clear:left;
    }
    
    .main .module:nth-child(3n+3) {
	    margin-right: 0;
    }
    
    #home .main #module1 {
    	/*margin-top: 14%;*/
        min-height: 180px;
        margin: 125px 0 2%;
        margin-top: 112px\9;
    }
    
    /*Landing Page Styling */


    /*Home Page*/
    
    #module2, #module3{
		padding:0px;
		width:300px;
		height: 310px;
		overflow: hidden;
		
	}
    #home  .module-detail{
		
		width:260px;
		
	}
    
	/* ============
    WIDE: Footer
   ============ */
   	    
    footer #info {
		width: 26%;
	}
    
    
    	    
    

    
}



/* ==========================================================================
   Helper classes
   ========================================================================== */   
    
.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
p.clearfix{
	/*margin-bottom: -1em;*/
}
.library.module h4{
	*clear:left;
}




#debug {
	position:absolute;
	background-color:white;
	padding:10px;
	border:2px solid red;
	bottom:100px;
	left:20px;
}
#debug .close-button{
	position: absolute;
	right: 1px;
	top:3px;
	cursor: pointer;
}

li.photo{
	background:transparent url(../img/photo-video-icon.png)/*tpa=http://www.southerncompany.com/img/photo-video-icon.png*/ no-repeat 0 0;
}
.library.module ul{
margin-top: 0px;
margin-bottom: 2px;

}
.library.module ul li{
	margin-bottom: 0px;
	margin-left:0;
	
	list-style:none;
	
	/*margin-left: -40px;
	margin-right: -40px; sidebar*/
	margin-left:-40px; /*sidebar*/
	margin-right: -20px; /*sidebar*/
	
	/*padding: 1em 40px 1em 45px;*/
	padding: 1em 20px 1em 20px;
	/*-moz-box-shadow: inset 1px 0px 5px #7e7e7e, inset -1px 0px 5px #7e7e7e;
	-webkit-box-shadow: inset 1px 0px 5px #7e7e7e, inset -1px 0px 5px #7e7e7e;
	box-shadow: inset 1px 0px 5px #7e7e7e, inset -1px 0px 5px #7e7e7e;*/
}

/*.library.module ul.list li{
	padding: 1em 40px 1em 45px;
}*/
.library.module ul.list li, #content .module.document ul li{
	padding: 1em 40px 1em 45px;
}
.library.module .flexslider ul li{
	padding-left: 0px;
}
.modules .library.module ul li{
	margin-left: -20px;
}
.library.module ul li:nth-child(2n+1), #content .module.document li:nth-child(2n+1){background-color:white; }
.library.module ul li:nth-child(2n), #content .module.document li:nth-child(2n){background-color: #f0f0f0; }
/*.library.module h4 , .timeline h4, #content .library.module h3, .modules .library.module h3{
	background-color: #a5a5a5;
	/*margin-left: -20px;
	margin-right: -20px;
	padding-left: 40px;
	padding-right: 20px; sidebar*/ 
/*	color:white;
	height: 40px;
	line-height: 40px;
	
	-moz-box-shadow: inset 3px 3px 3px #7e7e7e, 0px 2px 2px #7e7e7e;
	-webkit-box-shadow: inset 3px 3px 3px #7e7e7e, 0px 2px 2px #7e7e7e;
	box-shadow: inset 3px 3px 3px #7e7e7e, 0px 2px 2px #7e7e7e;
	margin:0 -2px 2px -2px;
}*/
.library.module h4 , .timeline h4, #content .library.module h3, .modules .library.module h3, #content .module.document h3,#student-programs-orientation .module.scrollable h4{
	background-color: #a5a5a5;
	
	color:white;
	height: 40px;
	line-height: 40px;
	
	-moz-box-shadow: inset 3px 3px 3px #7e7e7e, 0px 2px 2px #7e7e7e;
	-webkit-box-shadow: inset 3px 3px 3px #7e7e7e, 0px 2px 2px #7e7e7e;
	box-shadow: inset 3px 3px 3px #7e7e7e, 0px 2px 2px #7e7e7e;
	margin:0 -2px 2px -2px;
	margin-left: 0px\9;
	margin-right: 0px\9;
}
#content .module.document h3{
	margin: 0;
	padding-top: 0px;
	padding-bottom: 0px;
}
#content .module.document ul{
	margin-left: -17px;
	margin-right: -17px;
	margin-left: -20px\9;
	margin-right:-20px\9;
}
#content .module.document h3 a{
	color:white;
}
#content .module.document h3.long{
	
	line-height: 120%;
	padding-top: 5px;
	padding-bottom: 25px;

}
#content .module.document img{
	margin-top: 15px;
	margin-left: -10px;
}
#content .module.document{
	-moz-box-shadow: inset 0px 0px 5px 1px #7e7e7e;
	-webkit-box-shadow: inset 0px 0px 5px 1px #7e7e7e;
	box-shadow: inset 0px 0px 5px 1px #7e7e7e;
}
.module.document img{
	-moz-box-shadow:  0px 2px 5px #7e7e7e;
	-webkit-box-shadow: 0px 2px 5px #7e7e7e;
	box-shadow:2px 2px 5px #7e7e7e;
	border-radius: 0px !important;
}
.module.with-slider h4{
	
	background-color: #a5a5a5;
	/*margin-left: -20px;
	margin-right: -20px;
	padding-left: 40px;
	padding-right: 20px; sidebar*/ 
	color:white;
	height: 40px;
	line-height: 40px;
	
	-moz-box-shadow: inset 3px 3px 3px #7e7e7e, 0px 2px 2px #7e7e7e;
	-webkit-box-shadow: inset 3px 3px 3px #7e7e7e, 0px 2px 2px #7e7e7e;
	box-shadow: inset 3px 3px 3px #7e7e7e, 0px 2px 2px #7e7e7e;
	margin: 0 -2px 2px -2px;
	
}
.module.with-slider h3{
	color:#636363;
	height: 40px;
	line-height: 40px;
	
	-moz-box-shadow: 0px 3px 5px #7e7e7e;
	-webkit-box-shadow: 0px 3px 5px #7e7e7e;
	box-shadow:0px 3px 5px #7e7e7e;
	
margin-top: 0px;
margin-left: -1px;
margin-right: -1px;
padding-top: 2px;
padding-bottom: 2px;
margin-bottom: 0px;
	
}
.module.with-slider .flexslider img, .module.with-slider .video-container img{
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	
}
.module.with-slider .video-container img{
	margin-left: 20px;
}
.module.with-slider .video-container{
	position: relative;
}
.module.with-slider .video-play-button{
	position: absolute;
	left:105px;
	top:-27px;
}
.library.module h4.long, .module.with-slider h4.long{
	height: 100%;
	line-height: 120%;
	padding-top: 10px;
	padding-bottom: 10px;
}
#content .library.module .promo{
	margin-bottom: 1px;
	margin-left: -1px;
	margin-right: -1px;
	-moz-box-shadow: 0 2px 5px #7e7e7e;
	-webkit-box-shadow: 0 2px 5px #7e7e7e;
	box-shadow: 0 2px 5px #7e7e7e;
}
#content .library.module a.button{
	width:110px;
}
#content .library.module .detail{
	min-width:200px;
	position: absolute;
	right: 5px;
}
#content .library.module .detail a{
	position: absolute;
	right: 10px;
}
#content .library.module .detail p{
	font-size: 24px;
	color:#636363;
	font-weight: bold;
	font-family: 'UniversLTW01-67BoldCn',sans-serif;
	text-align: right;
}
#content .library.module .promo.last{
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#sidebar .module.video img{

margin-left: 20px;
margin-top: 20px;
border-top-left-radius: 0px !important;
border-top-right-radius: 0px !important;
	
}
#sidebar .module .video-container img{
	margin-top: 20px;
}
#sidebar .module.video h3{
	margin-bottom: 0px;
	padding-bottom: 10px;
}
#sidebar .module.video img.video-play-button{
	position: absolute;
	top:120px;
	left:90px;
}
ul.pdf-list > li, .module ul.pdf-list > li,
ul.rss-list > li, .module ul.rss-list > li , p.pdf, li.pdf, td a.pdf{
	background:transparent url(../img/pdf-small.png)/*tpa=http://www.southerncompany.com/img/pdf-small.png*/ no-repeat 0 0;
	margin-bottom:1em;
	margin-left:0;
	padding-left:40px;
	list-style:none;
}
#content .module.document ul.pdf-list > li{
	background-position: 5px 15px;
}
li.facebook{
	background:transparent url(../img/facebook-link-out.png)/*tpa=http://www.southerncompany.com/img/facebook-link-out.png*/ no-repeat 10px center;
	margin-bottom:1em;
	margin-left:0;
	padding-left:40px;
	list-style:none;
}
.module li.external, .module td a.external{
	background:transparent url(../img/link-out.png)/*tpa=http://www.southerncompany.com/img/link-out.png*/ no-repeat 5px center;
	
	margin-left:0;
	padding-left:40px;
	list-style:none;
}
#content .module li.external,#content .module td a.external{
	margin-bottom: 0px;
}
#content li.external:after, #content td a.external:after,#content p.external a.external-link:after,.module p.external a.external-link:after{
/*	background:transparent url(/img/link-out.png) no-repeat 5px center;
	margin-bottom:1em;
	margin-left:0;
	padding-left:40px;
	list-style:none;
*/

content:url(../img/link-out-body.png)/*tpa=http://www.southerncompany.com/img/link-out-body.png*/;
	
	
	margin-left: 5px;
	
	height: 10px;
	
	zoom: 1;


}
#content .module li.external:after{
	content:none;
} 
/*#content li.external:after, #content td a.external:after{
	
	content:url(/img/link-out-body.png);
	
	padding-right:15px;
	margin-right: 10px;
	
	zoom: 1;
	
} 
*/
.logo .external{
	background-image: none !important ;
}
ul.rss-list li{
	padding-bottom: 20px;
}
ul.rss-list{
	padding: 0 0 0 30px;
}
ul.pdf-list > li, li.pdf{
	min-height: 30px;
}
ul > li.ppt{
	background:transparent url(../img/ppt-small.png)/*tpa=http://www.southerncompany.com/img/ppt-small.png*/ no-repeat 5px 50%;
	margin-bottom:1em;
	margin-left:0;
	padding-left:40px;
	list-style:none;
}
.library.module li.photo, .library.module li.pdf{
	background-position: 5px 50%;
}
.library.module, .module.with-slider, .module.scrollable{
/*
	padding-top: 0px !important;
	padding-bottom: 0px !important;
*/
	padding:0 3px;
	width: 292px;
	
	-moz-box-shadow: inset 0px 0px 5px 1px #7e7e7e;
	-webkit-box-shadow: inset 0px 0px 5px 1px #7e7e7e;
	box-shadow: inset 0px 0px 5px 1px #7e7e7e;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;	
}
#content .library.module{
	width: 100% !important;
	
}
p.pdf{
	min-height: 30px;
}
ul.rss-list > li, .module ul.rss-list > li {
	background-image:url(../img/rss.gif.png)/*tpa=http://www.southerncompany.com/img/rss.gif*/;
	line-height:1em; margin-bottom:0;

}
ul.pdf-list ul li { list-style:circle;}

.module.library .pdf.last, .module.library .last,.module.with-slider .last, .module.with-slider .pdf.last {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.module.library h3, .module.scrollable h3{
	color:#636363;
	margin: 10px 0px;
}
.module.library h3.main-title, .module.with-slider h3.main-title, .module.scrollable h3.main-title{
	-moz-box-shadow: 0px 2px 5px #7e7e7e;
	-webkit-box-shadow:0px 2px 5px #7e7e7e;
	box-shadow:0px 2px 5px #7e7e7e;
	margin: 0px -1px 10px -1px;
	padding: 10px 21px;
	border-bottom: 2px solid #7e7e7e\9;
	
}

.module ul li.first{
	padding-top: 5px;
}
.module h3.main-header{
	margin-bottom: 2px !important;
}
/*
.module#social-yt > div {
	margin-left:-15px;
}

.module#social-fb > iframe {
	margin-left:-10px; 
}
*/

.module#social-fb, .module#social-yt, .module#social-twitter {
	min-height:500px;
	padding-left:5px;
}

.module.spotlight .quote {
	font-size:18px; display:block;margin-bottom:-1em; line-height: 120%;
	z-index: 2;
}
.module.spotlight .reference{
	float: right;
}
.module.spotlight .dash{
	color: red;
	position: absolute;
	left:95px;
	left:80px\9;
}
.module.spotlight .opening-quote{
	position: relative;
	top:-26px;
	left: -30px;
	z-index: 1;
	
}
.module.spotlight .closing-quote{
	position: relative;
	top:-45px;
	left: 246px;
	
}
.module.spotlight span.quote{
	position: relative;
	top:-45px;
}
.news ul { margin-bottom:0; margin-top:0; /* avoids issue w/ google fetcher e.g. on home */}
.news ul li {
	margin-left:20px;
	margin-bottom:1em;
}

.linked-promo { cursor:pointer; /* promo modules w/ only one link. */ }

/* Slider */

/*ol.flex-control-nav{
	display: none !important;
}*/
.flexslider{
	border:none !important;
	box-shadow: none !important;
	margin-bottom: 0px !important;
}
.flex-container{
width:90% !important;
	
}
.flexslider .slides li p{
margin-top: 0px;
margin-bottom: 0px;	
	
}
.flex-direction-nav li a {width: 50px; height: 79px; margin: -13px 0 0; display: block; background: url(../img/bg_direction_nav.png)/*tpa=http://www.southerncompany.com/img/bg_direction_nav.png*/ no-repeat 0 0 ; position: absolute; top: 50%; cursor: pointer; text-indent: -9999px;}
.flex-control-nav li a {width: 13px; height: 13px; display: block; background: url(../img/bg_control_nav.png)/*tpa=http://www.southerncompany.com/img/bg_control_nav.png*/ no-repeat 0 0; cursor: pointer; text-indent: -9999px;}
.flex-control-nav li a:hover {background-position: 0 -13px;}
.flex-control-nav li a.active {background-position: 0 -26px; cursor: default;}
figure{
	width:280px;
	position: relative;
}
figcaption{
	
	top:100%;
	padding: 15px 20px;
	background: #dadada; /* Old browsers */
background: -moz-linear-gradient(top,  #dadada 0%, #dbdada 50%, #dbdada 51%, #dbdbdb 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dadada), color-stop(50%,#dbdada), color-stop(51%,#dbdada), color-stop(100%,#dbdbdb)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #dadada 0%,#dbdada 50%,#dbdada 51%,#dbdbdb 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #dadada 0%,#dbdada 50%,#dbdada 51%,#dbdbdb 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #dadada 0%,#dbdada 50%,#dbdada 51%,#dbdbdb 100%); /* IE10+ */
background: linear-gradient(to bottom,  #dadada 0%,#dbdada 50%,#dbdada 51%,#dbdbdb 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dadada', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */

}
figure img{
	-webkit-box-shadow: 0 5px 5px -3px #000000;
       -moz-box-shadow: 0 5px 5px -3px #000000;
            box-shadow: 0 5px 5px -3px #000000;
}
.flex-direction-nav a.flex-prev, .flex-direction-nav a.flex-next {
opacity:1 !important;

}
.flex-direction-nav a.flex-prev{
	left:-15px;
}
.flex-direction-nav a.flex-prev:hover, .flex-direction-prev a.flex-prev:hover {
opacity:1 !important;
left: -15px !important;
}
.flex-direction-nav a.flex-next{
background-position: 0 -98px;
	left:283px;
}
/* timeline styling */

.slider {
    /*background:url(small-horizontal.png) no-repeat  0 -5px !important;*/
    background:url(../img/timeline-scrubber-bar.png)/*tpa=http://www.southerncompany.com/img/timeline-scrubber-bar.png*/ repeat-x !important;
     border-width: 0px; 
     border-radius: 2px 2px 2px 2px;
      
     overflow: visible; border-color: rgb(160, 160, 160);
      z-index: 9;
    width:144px;
    height:5px;
    cursor:pointer;
    position: relative;
    float:left;
}
.timeline li{
	padding-bottom: 0px !important;
	height:100%;
	position:relative;
}
.timeline.nuclear li img {
	position:absolute;bottom:0;
}
/* drag handle */
.handle {
   /* background:transparent url(small-horizontal.png) no-repeat scroll -97px 0 !important;
 background: url(../img/flag.png) no-repeat !important;*/
 	/*background-color: #d8271c;*/
    overflow: visible;
    background: url(../img/handle.png)/*tpa=http://www.southerncompany.com/img/handle.png*/ 0px 0px no-repeat ;
   z-index: 10;
    height:70px;
    position:absolute;
    top:-9px;
    height: 45px;
    width:27px;
    /*border-radius:25px;*/
    cursor:move;
    opacity: 1;
    pointer-events: auto;
    text-align: center;
}

/* input field */
.range {
	font-family: Helvetica,​Arial,​Sans-Serif !important;
	font-size: 50px;
    font-weight: bold;
    border:0;
    background:none;
    width: 135px;
    margin:-86px 0 0 0px;
    float:left;
    color:#fff;
    text-align:center;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    pointer-events: auto;
    opacity: 1;
    overflow: visible;
    word-wrap: break-word;
    z-index: 8;
}

#slider{
	display: none;
}
.slider{
width:100%;
height: 10px;
margin-left: -3px;
margin-left: 0px\9;
margin-right: 0px\9;
margin-right: -3px;
padding-left: 3px;
padding-right: 3px;
padding-left: 0px\9;
padding-right: 0px\9;
	}
.timeline{
	padding:0 3px;
	padding-left:0px\9;
	padding-right:0px\9;
	width: 594px !important;
	
	-moz-box-shadow: inset 0px 0px 5px 1px #7e7e7e;
	-webkit-box-shadow: inset 0px 0px 5px 1px #7e7e7e;
	box-shadow: inset 0px 0px 5px 1px #7e7e7e;
	border: 2px solid #7e7e7e \9;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.timeline h4{
	padding-left:20px;
	padding-right:20px;
	font-size: 24px;
	font-weight: bold;
	margin: 0 0px 2px\9;
	border-bottom: 2px solid #7e7e7e \9;
}
.timeline p{
	
	text-align: center;
}
.timeline-detail p{
	text-align: justify !important;
}

.timeline .demo-description{
	margin: 7px 0px 4px;
}
.timeline .timeline-title{
	box-shadow: 0 3px 3px;
	padding: 20px 20px 10px;
	margin-left: -1px;
	margin-right: -1px;
	margin-left: 0px\9;
	margin-right: 0px\9;
	border-bottom: 2px solid #7e7e7e \9;
	font-size: 18px;
}
.handle-title{
	font-size: 18px;
	color:#636363;
	
	z-index:2;
	top:0px;
	left:0;
	position: absolute;
	margin-left:-200px;
	display: block;
	background:url(../img/flag1.png)/*tpa=http://www.southerncompany.com/img/flag1.png*/ no-repeat;
	height:74px;
	width: 162px;
	padding-top:20px;
	visibility:hidden;
	text-align:center;
}
.handle-title.visible { visibility:visible;}
.timeline-detail .title{
	display: none;
}
.timeline-detail p {
	padding-top:35px;
}

.timeline-detail img{
	
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}


#content .module-promo h4, #southern-power-plants .module-promo h4, #leadership-photos .module-promo h4{
	
	background-color: #a5a5a5;
	color:white;
	height: 40px;
	line-height: 40px;
	
	-moz-box-shadow: inset 3px 3px 3px #7e7e7e, 0px 2px 2px #7e7e7e;
	-webkit-box-shadow: inset 3px 3px 3px #7e7e7e, 0px 2px 2px #7e7e7e;
	box-shadow: inset 3px 3px 3px #7e7e7e, 0px 2px 2px #7e7e7e;
	margin-top: 0px;
	margin-bottom: 0px;
	font-weight: normal;
	padding-left: 20px;
	padding-right: 20px;
	font-family: 'UniversLTW01-57Condense 723821',sans-serif;
	font-size: 18px;
	padding-bottom: 0px;
	
}
#content .module-promo ul, #southern-power-plants .module-promo ul, #leadership-photos .module-promo ul{
	list-style: none;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	
}

.module-promo ul li:nth-child(2n+1){background-color:white; }
.module-promo ul li:nth-child(2n){background-color: #f0f0f0; }

.module-promo ul li{
margin-bottom: 0px;
	margin-left:0;
	
	padding: 1em 20px 1em 20px;
		
}




/******/
.module-button {  bottom:5px; text-align:center; width:100%;}
.related-content{
	clear:left;
}
#modules{
	clear: both;
}
.flexslider.news-info p{
	padding : 0px !important;
}
.news-info ul li{
	margin-left:0px;
}
.news-info .detail p{
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}

#content h1.without-subheader{
	margin-bottom: 20px;
}
 
.t-only{
	*display: none;
}









@media only screen and (max-width: 765px) {
	/* Home Page slider*/
#drawer{
	height: 100% !important;
}
#navigation ul.menu{
	height: 100% !important;
}
#home .flexslider{
	width:100% !important;
	
}
#home .flex-direction-nav a.flex-next{
display: none;}
#home ul.flex-direction-nav{
	/*position: absolute ;
	top:155px ;*/
	
	display:none;
	
}
#southern-power-plants .photo-video-icon{
	display: none;
}
#southern-power-plants .larger-image img{
	display: none;
}
header.wrapper {
		width: 100%;
		margin: 0px;
	}
#nuclear-energy-how .with-teaser{
	
	display: none;
}
.module img{
	width:100%;
	height: auto;
}
.modules .module.library ul li{
	margin-left: -40px;
}
.module.library ul li{
	margin-right: 0px;
}
#sidebar .module ul{
	margin-left: 0px;
}
#sidebar .module.library, #sidebar{
	width:100%;
}
.module.library h3, .module.library h4, .module.library p{
	padding-left: 20px;
}
.module.library p{
	padding-right: 20px;
}
.main .module img.video-play-button{
	width:75px;
	height: auto;
}
#sidebar .video img{
	margin-left: 0px;
}
#sidebar .module.video img{
	margin-left: 0px;
}
#sidebar .module.video img.video-play-button{
	top:25%;
	left:50%;
}
#home .module#module1 h3, #home .module#module1 p{
	padding-left: 0px;
}
#home #module1 a.button{
	margin-left: 0px;
}
#home #module1{width:100%;}		
#module2{
		background: url(../img/corp-responsibility-promo-bg.jpg)/*tpa=http://www.southerncompany.com/img/corp-responsibility-promo-bg.jpg*/ no-repeat;
		background-size: 100% 345px;
		
		
	}

#module3{
		background: url(../img/smart-energy-promo-bg.jpg)/*tpa=http://www.southerncompany.com/img/smart-energy-promo-bg.jpg*/ no-repeat;
		background-size: 100% 345px;
		
	}

#module2 , #module3{
	width: 100%;
	height: 330px !important;
}
#home #module2 h3.long-text, #home #module3 h3.long-text{
		
		top:95px;
		left:20px;
		z-index: 2;
	}
#home #module2 h3, #home #module3 h3{
		
		top:146px;
		z-index: 2;
		left: 20px;
	}
	
#home #module2 h3.long-text, #home #module3 h3.long-text{
		
		top:95px;
		left:20px;
		z-index: 2;
	}
	#home #module2 h3, #home #module3 h3{
			color:white;
			font-size: 36px;
			line-height: 100%;
			text-shadow: -1px -1px 5px #313a40, 3px 3px 3px #313a40;
		}
#home #module2 h3, #home #module3 h3{
	/*margin-top: 32%;*/
	margin-bottom: -18px;
}
#home  .module-detail p.detail{
	padding-bottom:0px;}
#home  .module-detail p.learn-more{
	padding-top:0px;}
#home #module2 h3.long-text, #home #module3 h3.long-text{
	/*margin-top: 32%;*/
	margin-bottom: -18px;
}
#module2 h3, #module3 h3{
	padding-left: 20px;
}
#home  .module-detail p{
	padding: 10px 20px;}
	
#home  .module-detail{
		
		width:100%;
		padding-left: 0px;
		padding-right: 0px;
		
	}	
#home .module-detail{
	    background-color: #6e615e;
	    color:white;
	    font-size: 12px;
	    line-height: 18px;
    }

 #home  .module-detail{
		
		width:100%;
		
	}	
	
	
	#home  .module-detail{
		
		width:100%;
		
	}
#home .module-detail{
	    background-color: #6e615e;
	    color:white;
	    font-size: 12px;
	    line-height: 18px;
    }

#home  .module-detail{
		/*top:175px;*/
		bottom: 30px;
		left:0px;
		
	}
#home  .module-detail p{
	padding-left: 20px;
	padding-right: 20px;}

#home .social, #home .social iframe{
	width: 100%;
}	
	
#home .slides img{
	border-radius: 0px;
}	
	
.module{
	width: 100%;
}	
.closing-quote img, .opening-quote img{
	width:44px !important;
}	
#sidebar .module{
	width: 100%;
}	
.module.spotlight .closing-quote{
	left:100%;
}
#sidebar .module.spotlight{
	width:92%;
	padding: 8%;
}	
.module.library .logo li img{
	height: 59px;
	width: auto;
}
.module.library .logo li.last img{
	height: 15px;
	width: auto;
}	
.module.with-image{
	width:100% !important;
}

.module.with-image img{
	width:125px;
	height: auto;
}
.module.library{
	background: #ffffff;
}
.module.library .sidebar-image{
	background-position: center center !important;
}
.module.library .logo li.last img, .module.library .logo li.southern-nuclear img{
	height: 15px;
	width: auto;
}
.module.library .logo li.southern-company img{
	height: 46px;
	width: auto;
}
#sidebar .video-container img{
	margin-left: 0px;
}
#social-twitter iframe{
	width: 99%;
	
}
.module2 , .module3{
		position: absolute;
		bottom: 10px;
	}
	#module1.t-only{
		display: none!important;
	}
#content .flex-direction-nav{
	padding-left: 0px;
}
#home .news li a{
	display: inline !important;
}
}

@media only screen and (min-width: 765px) and (max-width: 1040px){
.with-sidebar #content{
	width:62%;
	
}
#sidebar{
	width:33%;
}
#sidebar .module.library{
	width:100%;
	float: left;
}
#modules{
	width:100%;
}
.main .module{
	width:49%;
}
.main .module img{
	width: 100%;
	height: auto;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.main .module img.video-play-button{
	width:75px;
	height: auto;
}
#sidebar .module.video img, #sidebar .video-container img{
	margin-left: 0px;
}
#home .flexslider{
	width:100% ;
	
}
#home #module1{
	width:49%;
	margin-right: 2%;
	
}
#sidebar .module{
	width: 100%;
}
#home #module1 img{
	width:149px ;
	height: auto;
}
#home .flex-direction-nav a.flex-next{
	left:98%;

}
#home .flex-control-nav{
	width: 140px;
	left:80%;
}
#home ol.flex-control-nav {
	background: none;
	bottom: 30px !important;
}
#home .flexslider .slide{
	border-radius: 10px;
}

#module2, #module3{
	width:49%;
	min-height: 325px;
	height: auto;
}
#home .module#module6 img{
	width:141px;
	margin-left: 10px;
}
#home #module2 h3, #home #module3 h3, #home  .module-detail{
		position: static;
		
		
	}
#home #module2 h3, #home #module3 h3	{
	margin-top: 48%;
}
#home #module2 h3, #home #module3 h3{
	/*margin-top: 32%;*/
	margin-bottom: -18px;
}
#home #module2 h3.long-text, #home #module3 h3.long-text{
	/*margin-top: 32%;*/
	margin-bottom: -18px;
}

#home  .module-detail p{
	padding: 10px 20px;}
	
#home  .module-detail{
		
		width:100%;
		padding-left: 0px;
		padding-right: 0px;
		
	}
.closing-quote img, .opening-quote img{
	width:44px !important;
}
.module.spotlight .closing-quote{
	left:100%;
}
#sidebar .module.spotlight{
	width:92%;
	padding: 6%;
}

.module.library .logo li img{
	height: 59px;
	width: auto;
}
.module.library .logo li.last img, .module.library .logo li.southern-nuclear img{
	height: 15px;
	width: auto;
}
.module.library .logo li.southern-company img{
	height: 46px;
	width: auto;
}
.module.with-image img{
	width:125px;
	height: auto;
}
.module.with-image{
	width:100%;
}
#sidebar .module.library.document img{
	width:110px;
}
.module .larger-image img{
	top:34% !important;
	width: 30px;
}


#module1{
	display: none;
}
#module1.t-only{
	display: block;
	margin-right: 0% !important;
	height: 226px !important;
}
#social-twitter iframe{
	width: 99%;
	
}
.t-only{
	display : block;
	margin-right : 1%;	
}
#content .flex-direction-nav{
	padding-left: 0px;
}
#home .news li a{
	display: inline !important;
}
}