.PersonDetailsContainer {
	display:none;
}

#hContainer {
   position:relative;
   width:687px;
   overflow:hidden;
   border:1px solid #01446d;
   margin-bottom:18px;
}

#hContainer h1 {
   color:white;
   -webkit-transform: rotate(-90deg);
   -moz-transform: rotate(-90deg);
   -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
   filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
   left: 0;
   position: relative;
   top: 165px;
   white-space: nowrap;
   overflow:visible;
   font-size:18px;
   text-transform:uppercase;
   font-family: 'HelveticaNeue';
   .writing-mode: tb-rl;
   .filter: flipv fliph;
   .width: 60px;
   .height: 215px;
   .top: 45px;
   top:0px\9;
   left:15px\9;
   width: 215px\9;

}

#hContainer .hText {
   width:0px;
   float:left;
   position:relative;
   z-index:10;
   overflow: hidden;
   height: 226px;
}

#hContainer .hText p{
	display: block;
	width: 364px;
	margin:0px;
	height:160px;
   padding:20px;
}

#hContainer .hText.first{
   width:403px;
}

#hContainer .hContainer {
   height:226px;
   width:56px;
   float:left;
   position:relative;
   z-index:99;
   background:url(../design/gr-v.png)/*tpa=http://www.ugicorp.com/files/design/gr-v.png*/ 0 0 repeat-y;
   cursor:pointer;
}
.AccordionBlock .hContainer {border-left:1px solid #fff;}
.AccordionBlock .hContainer:first-child {border-left:0 none;}

.slideImages {
   position:relative;
   width:700px;
}

.slideImages ul {
   position:relative;
   list-style-type: none;
   margin: 0;
   padding: 0;
   height: 525px;
}

.slideImages li {
   position: absolute;
}

.slideImages .slide2, .slideImages .prev {
   display:none;
}

.slideImages .next, .slideImages .prev {
   top: 20px;
   position:absolute;
   right:25px;
   z-index: 2;
   cursor: pointer;
   height: 30px;
   width: 100px;
   line-height: 27px;
}

.slideImages .prev {
   background-image: url(../slide/back.png)/*tpa=http://www.ugicorp.com/files/slide/back.png*/;
   background-repeat: no-repeat;
   background-position: center right;
}
.slideImages .next {
   background-image: url(../slide/forward.png)/*tpa=http://www.ugicorp.com/files/slide/forward.png*/;
   background-repeat: no-repeat;
   background-position: center right;
}

.Amerigas, .UGIUtilities {
   display:none;
}

.secModule .PaneContent {
   position:relative;
}
 .CompanyDropDown {
   padding: 0;
   margin: 0;
   position: relative;
   z-index: 100;
 }


ul.ListDropDown, .CompanyDropDown span{
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
ul.ListDropDown  {
   display:none;
   position:absolute;
   list-style-type: none;
   margin: -3px 0 0;
   width: 186px;
   background-color: #FFFFFF;
   border: 1px solid #000000; 
   border-left: 2px solid #b2b2b2; 
   padding: 0;
}

ul.ListDropDown li {
   line-height: 17px;
   cursor: pointer;
}

/* Twitter */

.twitterFeed .feedContent {
   padding: 0;
}

.twitter {
   height: 195px;
   background-color: #F7F7F7;
}

.twitter .twitterItem {
   padding: 10px;
   background-color: #F7F7F7;
}

.twitter h3 {
   color: #0066A4;
   font-size: 14px;
   font-weight: bold;
   margin: 0;
}

.jspTrack {
   background-color: #F7F7F7 !important;
}
.jspDrag {
   background-color: #E6E4E4 !important;
}

.subNewsHeader img {
   position: absolute;
   top: 0px;
   background-color: #FFF;
}
.homeSlider h1.slide1 {
  font-size: 38px;
  text-shadow: 5px 4px 8px #000000;
  margin-top: 220px;
  margin-left: 180px;
}
.homeSlider ul li h1.slide1 a img {
  margin-left: -30px;
  text-shadow: 2px 2px 8px #000000;
}