@font-face {
	font-family: "HelveticaNeue";
	src: url("../fonts/HelveticaNeue.eot")/*tpa=http://www.ugicorp.com/files/fonts/HelveticaNeue.eot*/;
	src: url("../fonts/HelveticaNeue.eot-#iefix")/*tpa=http://www.ugicorp.com/files/fonts/HelveticaNeue.eot?#iefix*/ format("embedded-opentype"),  
        url("../fonts/HelveticaNeue.woff")/*tpa=http://www.ugicorp.com/files/fonts/HelveticaNeue.woff*/ format("woff"),  
        url("../fonts/HelveticaNeue.ttf")/*tpa=http://www.ugicorp.com/files/fonts/HelveticaNeue.ttf*/ format("truetype"),  
        url("../fonts/HelveticaNeue.svg#HelveticaNeue")/*tpa=http://www.ugicorp.com/files/fonts/HelveticaNeue.svg#HelveticaNeue*/ format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "HelveticaNeue-Bold";
	src: url("../fonts/HelveticaNeue-Bold.eot")/*tpa=http://www.ugicorp.com/files/fonts/HelveticaNeue-Bold.eot*/;
	src: url("../fonts/HelveticaNeue-Bold.eot-#iefix")/*tpa=http://www.ugicorp.com/files/fonts/HelveticaNeue-Bold.eot?#iefix*/ format("embedded-opentype"),  
        url("../fonts/HelveticaNeue-Bold.woff")/*tpa=http://www.ugicorp.com/files/fonts/HelveticaNeue-Bold.woff*/ format("woff"),  
        url("../fonts/HelveticaNeue-Bold.ttf")/*tpa=http://www.ugicorp.com/files/fonts/HelveticaNeue-Bold.ttf*/ format("truetype"),  
        url("../fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold")/*tpa=http://www.ugicorp.com/files/fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold*/ format("svg");
	font-weight:normal;
	font-style: normal;
}