@media screen
{
	body {margin: 0; padding: 20px; background-color: none;}
	.BodyBackground, .PaneContentInner {background: none !important; background-color: #FFFFFF; background-image: none; margin: 0; padding: 0; width: auto;}
	.LayoutDefault, .LayoutDefaultInner { margin: 0; padding: 0; border:none;}
	.PrintHide {visibility:hidden; display: none;}
	.PageDefaultInner {background: #fff;margin: 0; padding: 0;}
	.Hide, .PrintModeButton, .PrintModeButtonPrint, .PrintPage, .ContentLinks {visibility:hidden; display:none}
	.PaneLeft, .PaneRight, .PaneHeader, .PaneNavigation, .PaneHeader2, .PaneFooter, .PaneFooter2, .PaneQ4Footer, .ShareThisContainer {visibility:hidden; display:none; width: 1px;}
	.PaneContent {margin: 0; padding: 25px;}
	.PaneBreadcrumb {margin: 25px 25px 0 25px;}
	.Breadcrumb a {padding-right: 15px;}
}

@media print
{
	body {margin: 0; padding: 20px;}
	.BodyBackground, .PaneContentInner {background: none !important; background-color: #FFFFFF; background-image: none; margin: 0; padding: 0; width: auto;}
	.LayoutDefault, .LayoutDefaultInner { margin: 0; padding: 0; border:none;}
	.PrintHide {visibility:hidden; display: none;}
	.PageDefaultInner {background: #fff;margin: 0; padding: 0;}
	.Hide, .PrintModeButton, .PrintModeButtonPrint, .PrintPage, .ContentLinks {visibility:hidden; display:none}
	.PaneLeft, .PaneRight, .PaneHeader, .PaneNavigation, .PaneHeader2, .PaneFooter, .PaneFooter2, .PaneQ4Footer, .ShareThisContainer {visibility:hidden; display:none; width: 1px;}
	.PaneContent {margin: 0; padding: 25px;}
	.PaneBreadcrumb {margin: 25px 25px 0 25px;}
	.Breadcrumb a {padding-right: 15px;}
}
