/*	Company Print Stylesheet
	Author:Phillip Salfity (psalfity@matrixgroup.net)
	Created:12/2010
----------------------------------------------------*/
* { margin:0; padding:0; }
body { background:white; font-size:12pt; line-height:18pt; width:6in; margin:0 auto; }

/*  for hiding sections that need not be printed  */
#skiplinks, #main-nav-wrap, #branding, #breadcrumbs, #sidebar, #extras, #util-nav, .logo, #navigation, .intro ul, .subnav ul, .footer-block, .aside, .older, .first ul, .BUskipLinks, .backTop, .footer { display:none !important; }
.footer-block.first {display:block!important;}
/*  for displaying sections that need be printed  */
body, #content-wrap, #main, #content, .block, .four-block, .four-col, h5 { float:none !important; width:auto !important; margin:0 !important; padding:0 !important; color:black; background:transparent; height:auto!important; }
body{line-height:1em;}

a{text-transform:none;}
a:link, a:visited { color:#333; background:transparent; font-weight:normal; text-decoration:none; }
abbr {font-size:90%;}
#main p a.ExternalLink[href]:after, #footer a[href]:after { content:" (" attr(href) ") "; font-size:90%; }
#main p a.InternalLink[href^="/"]:after, #footer a[href^="/"]:after { content:" (http://www.gd.com" attr(href) ") "; font-size:90%; }



/* typography */
h1, #main .news .latest-news h4 { font-weight:bold;  font-size:14pt; color:#333; margin-bottom:0.8em; border-top:2.5pt solid #000; border-bottom:1pt solid #000; padding:0.3em; text-transform:uppercase; }
h2 { font-size:14pt; font-weight:bold; line-height:1em; margin-bottom:0.5em; color:#333; text-transform:capitalize; }
h3 { font-size:13pt; font-weight:bold; line-height:1em; margin-bottom:0.5em; color:#333; text-transform:capitalize; }
h4 { font-size:12pt; font-weight:bold; line-height:1em; margin-bottom:0.5em; color:#333; text-transform:capitalize; }
h5 { font-size:11pt; font-weight:bold; line-height:0.3em; color:#333; text-transform:capitalize; }
h6 { font-size:10pt; font-weight:bold; color:#333; text-transform:capitalize; }
p, ul, ol, dl { margin:0.5em 0 1.8em 0; font-size:12pt;}
ul, ol, dl { text-transform:capitalize; }

/* structure */
.for-print { display:block; }
#info { border-top:0.5pt dotted #000; }
#info address { margin-bottom:0.75em; }
#main .news .latest-news { border-bottom:1pt solid #000; }
.first h4{ border-top: 1pt solid #000; padding-top:10px; }
.first { border-bottom:1pt solid #000; }
dl#footerContact { padding-bottom:0; margin-bottom:0; }
dl#footerContact dt { display:block; float:left; padding:0 10px 0 10px; margin:0 0 0 0; }

/* images */
.intro img, .sub-banner img { display:none; }
img {margin-bottom: 5px;}

/* styles */
#main table.style { width:100%; text-align:left; margin-bottom:18px; }
#main table.style caption { font-size:8pt; text-align:center; font-weight:bold; }
#main table.style th { font-weight:bold; text-align:left; }
#main table.style thead th { border:1px solid #ccd; padding:8px; background-color:#dde; color:#456; }
#main table.style tbody th { border:1px dotted #ccd; padding:5px; background-color:#89a; color:#fff; }
#main table.style tbody td { border:1px solid #ccc; padding:5px; text-align:left; border-bottom:0; }
#main table.style .alt td { background-color:#ebf2f9; }
#main table.style tfoot td { border:1px solid #cc9; background-color:#ffc; padding:5px; font-weight:bold; color:#333; }
#main table.style tfoot th { border:1px solid #cc9; background-color:#BABA73; padding:5px; font-weight:bold; color:#333; }

#main .contactList ul li {page-break-after:avoid !important }


/* Press Releases */
.pressReleasesWrap .for-print-logo, .pressReleasesWrap .subnav {display:none;}
.pressReleasesWrap #main #pressrelease .pressrelease-header {padding:20px 0;margin:0 0.4in;}
.pressReleasesWrap #main #pressrelease .pressrelease-header a:after{display:none;}
.pressReleasesWrap #main #pressrelease .pressrelease-header .title {position:relative;border-bottom:1px solid #333;overflow:hidden;}
.pressReleasesWrap #main #pressrelease .pressrelease-header h1 {font-family: Arial, sans-serif;color:#000;font-size:32pt;margin:0;position:absolute;right:0;bottom:0;border:0 none;padding:0;line-height:42px;}
.pressReleasesWrap #main #pressrelease .pressrelease-header p {font-family: Arial, sans-serif;float:left;margin:0;padding:5px 0 8px;font-size:9pt;line-height:11pt;}
.pressReleasesWrap #main #pressrelease .pressrelease-header .align-right {display:block;text-align:right;float:none;clear:both;}
.pressReleasesWrap #main #pressrelease img {margin:0px;}
.pressReleasesWrap #main #pressrelease h4 {font-family: Arial, sans-serif;margin-bottom:1.2em;color:#000;}
.pressReleasesWrap #main #pressrelease .article p.center {text-align:center;}
.pressReleasesWrap #main #pressrelease .article .item {clear:both;float:none;}
.pressReleasesWrap #main #pressrelease .item {margin:0 0.4in;}
.pressReleasesWrap #main #pressrelease .pressrelease-header .webcast_contact {position:relative; overflow:hidden;}
.pressReleasesWrap #main #pressrelease .pressrelease-header .webcast { position:absolute; top:0; left:0; float:none;}
.pressReleasesWrap #main #pressrelease .pressrelease-header .webcast img { margin-top:1px;}
.pressReleasesWrap #main #pressrelease .pressrelease-header .align-right {text-align:right;float:right;padding:8px 0;}