/*	General Dynamics Stylesheet
	Author:Phillip Salfity (psalfity@matrixgroup.net)
	Based by:Brad Graham (bgraham@matrixgroup.net)
	Created:9/2010
----------------------------------------------------*/
/*	=YUI2 CSS Reset
------------------------------------ */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0;padding:0;}
table {border-collapse:collapse;border-spacing:0;}
fieldset,img { border:0;}
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal;font-weight:normal;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;}
q:before,q:after {content:'';}
abbr,acronym {border:0;}

/*	=Generics
------------------------------------ */
body { font-size:14px; font-family: Arial, sans-serif; background:#000000; margin-bottom:1em; outline:none; }
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;} .clearfix{display:inline-block;} * html .clearfix{height: 1%;} .clearfix{display: block;}
#wrap { margin:0 auto; width:960px; text-align:left; position: relative }
abbr { border:none; }
abbr.date { display: block; padding:5px 0 0 0; }
.clear { clear:both; }
.bold, strong, b { font-weight:bold; }
.ital, em, i { font-style:italic; }
.hide, .for-print, .for-print-logo { display:none; }
.left { float:left; margin-right:7px!important; }
.right { float:right; margin-left:7px!important; }
.center {text-align:center}
.upper { text-transform:uppercase; }
.structural { position:absolute; left:-9999px; }
address { font-style:normal; }
sup { vertical-align:1em; font-size:0.5em; font-weight:bold; }
sub { vertical-align:-0.5em; font-size:0.9em; }
blockquote { color:#01539c; font-style:italic; font-size:18px; width:250px; padding: 12px 23px; }
blockquote cite { display:block; color:#000000; font-size:13px; font-style:normal; font-weight:bold; margin: 10px 0 }
strong {font-weight:bold}
.smalltype { font-size:10px; }
span.break { display:block; }
::-moz-selection{ background:#ed9d22; color:#fff; text-shadow: none; }
::selection { background:#ed9d22; color:#fff; text-shadow: none; } 

/* Universal Colors */
#business-groups .firstBlockLanding1, #business-groups .secondBlockLanding, #business-groups .thirdBlockLanding, #business-groups .fourthBlockLanding {display:block;}
#business-groups .firstBlockLanding1 {border-bottom:9px solid #ED9D22;}
#business-groups .secondBlockLanding {border-bottom:9px solid #008852;}
#business-groups .thirdBlockLanding {border-bottom:9px solid #933280;}
#business-groups .fourthBlockLanding {border-bottom:9px solid #22739c;}
#business-groups .firstBlockLanding1 img {border-bottom:1px solid #fff;}
#business-groups .secondBlockLanding img {border-bottom:1px solid #fff;}
#business-groups .thirdBlockLanding img {border-bottom:1px solid #fff;}
#business-groups .fourthBlockLanding img {border-bottom:1px solid #fff;}
.aero, #business-groups .aero h5 a { color:#ed9d22 !important }
.combat, #business-groups .combat h5 a { color:#008852 !important }
.infotech, #business-groups .info-tech h5 a { color:#933280 !important }
.marine, #business-groups .marine h5 a { color:#22739c !important }
.aero-bg { background: #ed9d22; }
.combat-bg { background: #008852 }
.infotech-bg { background: #933280 }
.marine-bg { background: #22739c }

/*	=Navigation
------------------------------------ */
/* Main Nav */
ul#navigation { position: absolute; height:50px; width:550px; overflow:hidden; bottom:0; right:20px; margin:0;  }
ul#navigation li { background:url(../images/template/universal/nav_sprite.jpg)/*tpa=http://www.generaldynamics.com/images/template/universal/nav_sprite.jpg*/ top left no-repeat; height: 50px; text-indent:-9999px;display:block; float:left}
ul#navigation li a{display:block; height:50px; }
ul#navigation li.about-gd { width:70px; background-position: 0 0;}
ul#navigation li:hover.about-gd, ul#navigation li.about-gd-active { width:70px; background-position: 0 -50px;}
ul#navigation li.business-groups { width:100px; background-position: -70px 0;}
ul#navigation li:hover.business-groups, ul#navigation li.business-groups-active { width:100px; background-position: -70px -50px;}
ul#navigation li.investor-relations { width:108px; background-position: -170px 0;}
ul#navigation li:hover.investor-relations, ul#navigation li.investor-relations-active { width:108px; background-position: -170px -50px;}
ul#navigation li.careers-at-gd { width:94px; background-position: -278px 0;}
ul#navigation li:hover.careers-at-gd, ul#navigation li.careers-at-gd-active { width:94px; background-position: -278px -50px;}
ul#navigation li.news { width:72px; background-position: -372px 0;}
ul#navigation li:hover.news, ul#navigation li.news-active { width:72px; background-position: -372px -50px;}
ul#navigation li.suppliers { width:106px; background-position: -444px 0;}
ul#navigation li:hover.suppliers, ul#navigation li.suppliers-active { width:106px; background-position: -444px -50px;}	

/* Subnav */
.subnav { display: block; height: auto; border-right: 1px solid #ffffff; border-bottom: 1px solid #ffffff; background: #333333; font-size:17px; position:absolute; top:161px; left:1px; width:220px; z-index:999; }
.subnav h2, .intro h2 { font-weight: bold; font-style: normal; font-family: Arial, sans-serif; font-size-adjust: 0.5; color:#b1b1b1; width:190px; margin:20px 0 0 20px; padding:0 0 5px 0; border-bottom: 1px solid #b1b1b1; font-size:20px; line-height:inherit; }
.subnav ul, .intro ul { margin:0 0 0 20px; width: 190px; font-weight:bold; font-size:13px }
.subnav ul { margin-bottom:9px } 
.subnav ul li, .intro ul li {  padding:6px 0 7px 0px; border-bottom: 1px solid #4c4c4c; background-image:none !important; margin:0;  }
.subnav ul li a, .intro ul li a { background: url(../images/template/universal/icon_sprite.png)/*tpa=http://www.generaldynamics.com/images/template/universal/icon_sprite.png*/ center left no-repeat; background-position: -25px 3px; font-weight:bold; padding-left:14px; color:#ffffff; display:block; }
.subnav ul li a:hover, .intro ul li a:hover, .subnav ul li a.active, .subnav ul li a:hover.active { background-position: 0 -29px; color:#93d0f3; text-decoration:none; }
.subnav ul li a.more, .subnav ul li a:hover.more { background-position: 0 -182px; padding-left:15px; margin-left:-2px; }
.subnav ul  li ul { margin:3px 0 0 16px; width: auto; }
.subnav ul li ul li {  padding:0 0 2px; border-bottom:0; background-image:none !important; }

/*	=Branding Area
------------------------------------ */
#branding { display:none; }
.intro { display: block; height: 285px; border: 1px solid #ffffff; color:#ffffff; background: #333333; position:relative; overflow:hidden; }
.intro .rotator-image-box {width:738px; overflow:hidden; height:285px; position:absolute; top:0; right:0;}
#home .intro .rotator-image-box {width:730px;}
.intro img#branding { position:absolute; top:0; right:0; }
.intro h1 { font-weight: normal; font-style: normal; font-family: Arial, sans-serif; font-size-adjust: 0.5; font-size: 15px; width:185px; margin:25px 20px; line-height: 18px; }
.intro em { font-family: Arial,sans-serif; font-size: 17px; font-weight: bold; font-size-adjust: 0.5; color: #b1b1b1; line-height: 22px; font-style: normal;  }
	
/* Text Overlay */
div.intro-text { position:absolute; bottom:0; right:0; width:738px; background: url(../images/template/universal/bg_black_90_opacity.png)/*tpa=http://www.generaldynamics.com/images/template/universal/bg_black_90_opacity.png*/ top left repeat; height:auto; min-height:87px; }
#home div.intro-text {width:730px;}
.intro-text p { margin:20px; color:#ffffff; font-weight: normal; font-style: normal; font-size: 17px; line-height: 22px }
.intro-text strong, .intro-text strong a { font-weight: bold; font-style: normal; font-family: Arial, sans-serif; font-size-adjust: 0.51; font-size:21px; color:#93d0f3; }

/* Subpage */
#landingpage .intro { border-bottom: 0px !important }
#main .sub-banner { position:absolute; top:0; left:220px; height:116px; overflow:hidden; border-bottom:1px solid #000; }
#main .top-image-flush {width:737px; overflow:hidden;}

/*	=Core
------------------------------------ */
#header { margin:0; position:relative; display: block; height:160px; background: url(../images/template/universal/bg_header2.jpg)/*tpa=http://www.generaldynamics.com/images/template/universal/bg_header2.jpg*/ top left repeat-x; }
#header img { position: absolute; top:0; left:0 }

#main { background:url(../images/template/universal/bg_main_failsafe2.jpg)/*tpa=http://www.generaldynamics.com/images/template/universal/bg_main_failsafe2.jpg*/ bottom left repeat-x #d7f1fe;/* Fail Safe Background */ background:-webkit-gradient(linear, 0% 80%, 0% 20%, from(#FFFFFF), to(#d7f1fe)); background:-moz-linear-gradient(20% 80% 90deg,#FFFFFF, #d7f1fe); clear:both; overflow-y: auto; overflow-x: visible; position:relative; padding:20px; font-size:13px; }	
#main .article {width:677px;}
#main .section { clear:both; margin:5px 0; }

#main h1, #main h2, #main h3, #main h4, #main h5, #main h6 { font-weight: bold; font-style: normal; font-family: Arial, sans-serif; line-height:1.4em; }
#main h1 { font-size: 32px; color:#01539c; text-transform: uppercase; }
#main h1 .active { color:#333; }
#main h2 { font-size: 28px; color:#333333 }
#main h3 { font-size: 24px; color:#01539c }
#main h4 { font-size: 18px; color:#333333; }
#main h5 { font-size: 14px; color:#01539c }
	
#main p { margin:5px 0; }
#main .article p.first-p, #insidepage #main artile p.first-p { font-size:18px; line-height:22px; margin-bottom:22px; }
#main p.second-p, #insidepage #main p.second-p { font-size:15px; line-height:18px; margin-bottom:22px; }
#main .article p, #main .section p, #profile-page p { line-height:1.4; margin:0 0 10px; }
	
#main .article ul {margin:5px 0 10px 15px; list-style-position: outside;}
#main .article ol {margin:5px 0 10px 20px;}
#main .article ul li { list-style-position:outside; list-style-type:disc; background-image:none; line-height:1.2em; margin-top:4px; }
#main .article ol li { list-style-position:outside; list-style-type:decimal; background-image:none; clear:none; line-height:1.2; padding:0; margin-top:4px; }
#main .article ul li a { display:inline; }
#main .contactList ul { margin:5px 0 10px 0; }
#main .contactList ul li { list-style-position:outside; list-style-type:none; background-image:none; line-height:normal; margin:0; }	

/* Columns */
#main .four-col p, #main .four-block p { margin:15px 0; }
.block { float: left; padding: 0 20px; }
.left-block { width:200px; border-right: 1px solid #99b8c7 }
.center-block { width:438px; border-right: 1px solid #99b8c7 }
.right-block { width:200px; }
.right-block span.up { background: url(../images/template/universal/icon_stock_up.png)/*tpa=http://www.generaldynamics.com/images/template/universal/icon_stock_up.png*/ center left no-repeat; padding-left:12px }
.right-block span.down { background: url(../images/template/universal/icon_stock_down.png)/*tpa=http://www.generaldynamics.com/images/template/universal/icon_stock_down.png*/ center left no-repeat; padding-left:12px }
.four-block { width:198px; float: left;  padding:0 20px; border-right: 1px solid #99b8c7; overflow-x:hidden; }
.four-block img { display: block; margin: 0 auto; border: 1px solid #000000; margin-bottom:12px; }
.four-block li a img { margin-top:5px; border-color:#99B8C7; }
.four-block h5 { text-transform:uppercase; }
.four-col { border-right: 1px solid #d9d9d9;  padding:0 0 20px 0; width:238.75px; float: left; overflow:hidden }
.four-col  ul { margin:15px 20px }
.four-col img { border-bottom: 1px solid #d9d9d9 }
.four-col  p { color:#000000 !important; font-size:13px; }
.four-col  h5, #business-groups .four-col  p { margin:15px 20px }
			
/*	=PAGE TYPES
------------------------------------ */
/* Home */
#home #main {margin:0;padding:20px 0;}
#home #main h5 { color:#01539c; text-transform:uppercase; font-weight:bold!important; }
#home #main  p { padding:0 0 12px 0; margin:0; }
#home #main ul li a { background: url(../images/template/universal/icon_sprite.png)/*tpa=http://www.generaldynamics.com/images/template/universal/icon_sprite.png*/ center left no-repeat; background-position: -13px -61px; padding-left:10px; display:block; }	
ul#bus-groups { margin:15px auto; display: block; width: 958px; height:152px; }
ul#bus-groups li { width:229px; height:152px; display: block; float: left; }
ul#bus-groups li.aerospace { margin-right:14px }
ul#bus-groups li.combat-systems { margin-right:14px }
ul#bus-groups li.info-systems { margin-right:14px }

/* Landing */
#landingpage #main { padding:20px 0 20px 0px; border:1px solid #ffffff; }
#landingpage #main ul li {background:none; background-image:none; padding-left:0; }
#landingpage #main ul li ul {padding-left:10px;}

/* Subpage */
#subpage #main { padding:138px 20px 20px 241px; border:1px solid #ffffff; }
#subpage #main .article, #subpage #main .section{ margin:20px 0; }

/*	Inside */
#insidepage #main { padding-left:241px; border:1px solid #ffffff }
#insidepage #main .article, #insidepage #main .section{ margin:25px 0; }

/*	Blank */
#empty_container #main { padding:0 0 20px 220px; border:1px solid #ffffff }
#empty_container #main .article, #empty_container #main .section{ margin:0px; }
#empty_container #main .article {padding-left: 21px;}

/*	Business Units */
#business-groups #main { padding:0 ; border:1px solid #ffffff }
#business-groups #main h5{height:40px;}
#business-groups h5, .investor-page h5 { text-transform:uppercase; margin-bottom:20px; }
#industry .indus-intro { height:175px }
#industry .indus-intro img { border:1px solid #ffffff; }
#industry .indus-intro p { color:#ffffff; text-transform:uppercase; padding:5px 0 5px 20px; font-size:11px;  }
#industry .indus-intro a { color:#ffffff }
#industry #main {padding:20px;}	
#industry #main .article { clear:both; float:none; width: 920px; margin:0; padding:0;}
#industry #main p.first-p { font-size:18px; line-height:22px; margin-bottom:44px; }		
#industry #main .section img { margin-bottom:30px; }
#industry #main .section p { clear:none; margin:0 0 10px 0; font-size:15px; }
#industry #main .section  a { font-weight: bold; clear:none; }

/* Employee Profiles */
#employee-profiles #main { padding:138px 20px 20px 241px; border:1px solid #ffffff }
#employee-profiles #main .article {width:649px; }
#profile-box {background:#fff;overflow: hidden; width:649px; position:relative; margin:0 0 20px 0; padding:20px;}
.shadow {-ms-box-shadow: 2px 2px 6px #000; -moz-box-shadow: 2px 2px 6px #000; -webkit-box-shadow: 2px 2px 6px #000; box-shadow: 2px 2px 6px #000;}
#main #profile-box .bottombanner {clear:both;margin-top:10px;min-height:20px;height:118px;}
#main #profile-box .bottombanner img {border-top:2px solid #000; position:absolute; bottom:0; left:0; }
#main #profile-box .three-col {float:left; clear:none; width:360px; margin-left:20px; padding:20px; border-left: 1px solid #d9d9d9; }
#main #profile-box .three-col.first {margin:0 20px 0 0;padding:0;border-left:0 none;width:200px;}
#main #profile-box blockquote {float:right; margin-left:20px; padding:10px 0 10px 20px; border-left: 1px solid #d9d9d9;width:196px; }
#main #profile-box .three-col blockquote {width: auto;border-left:0 none; padding:10px 0; margin-left: 0;}
.profile-nav {width: 689px;}
.profile-nav div {display:block; height:22px;clear:both; float:none;border-bottom:1px solid #cccccc;margin:0 0 5px 0}
#main #profile-box .left{float:left;display:block;text-align:left;}
#main #profile-box .right{text-align:right; display:block;  float:right;}

/* News */
#landingpage.news #main .article { width:680px; padding:0 20px 0 241px;float:left; }
#main .latest-news { background:#93D0F3; width:640px;padding:20px ; margin:0 0 15px 0; }
#main .latest-news a { margin:5px 0; display:block; background: url(../images/template/universal/icon_sprite.png)/*tpa=http://www.generaldynamics.com/images/template/universal/icon_sprite.png*/ center left no-repeat; background-position: -13px -229px; padding-left:10px; font-weight:bold; }
#main .latest-news a:visited { color:#333; }
#main .latest-news p { margin-bottom:0; }
#main .latest-news h4 { text-transform:uppercase; }
#main .latest-news div { padding-bottom:10px;border-bottom:1px solid #fff; font-size:105%; }
#main .latest-news div.last { border-bottom:0 none; margin-top:10px;padding-bottom:0px; }
#main .latest-news div .learn-more { color: #01539C; background-position:0 -60px; margin-left: 10px; display:inline; }
#main .article .older { display:block; margin: 15px 0 0 0;width:645px; text-align:center; }
#main .article .newsList { width:645px; margin:0 auto; }
#main .article .newsList li a { display:block; margin:5px 0; padding-left:10px; background: url(../images/template/universal/icon_sprite.png)/*tpa=http://www.generaldynamics.com/images/template/universal/icon_sprite.png*/ left top no-repeat; background-position: -13px -229px; font-weight:bold;  text-transform:capitalize; }
#main .article .newsList li { border-bottom:1px solid #99b8c7; padding:5px 0; background-image:none; list-style-type: none; }

/* Press Releases */
div#subpage.pressReleasesWrap #main {padding:0; overflow:hidden;}
div#subpage.pressReleasesWrap #main .sub-banner {height:176px;}
@media screen and (-webkit-min-device-pixel-ratio:0){div#subpage.pressReleasesWrap #main .sub-banner {height:179px;}}
div#subpage.pressReleasesWrap #main .sub-banner img {}
div#subpage.pressReleasesWrap #main #pressrelease {margin-top:175px;}
.pressReleasesWrap #main #pressrelease .pressrelease-header {margin:0 40px; font-family: Arial, sans-serif; font-size:10px; clear:both; width:835px; float: left;}
.pressReleasesWrap #main #pressrelease .pressrelease-header .title {position:relative;border-bottom:1px solid #333;overflow:hidden;width:100%;}
.pressReleasesWrap #main #pressrelease .pressrelease-header h1 {color:#000;font-size:36px;margin:0;position:absolute; right:0; bottom:0;}
.pressReleasesWrap #main #pressrelease .pressrelease-header p {float:left;margin:0;padding:5px 0 8px;}
.pressReleasesWrap #main #pressrelease .pressrelease-header .webcast_contact {position:relative; overflow:hidden;}
.pressReleasesWrap #main #pressrelease .pressrelease-header .align-right {text-align:right;float:right;padding:8px 0;}
.pressReleasesWrap #main #pressrelease .pressrelease-header .align-left {float:left;}
.pressReleasesWrap #main #pressrelease .pressrelease-header .webcast { position:absolute; top:0; left:0; float:none;}
.pressReleasesWrap #main #pressrelease .pressrelease-header ul li { list-style-image: none; list-style-type:none; background-image:none; }
.pressReleasesWrap #main #pressrelease .pressrelease-header ul li a { padding:0; }
.pressReleasesWrap #main #pressrelease h4 {margin-bottom:10px; color:#000;}
.pressReleasesWrap #main #pressrelease {background-color:#fff; margin:0; padding:0;}
.pressReleasesWrap #main #pressrelease .article  { width:auto;margin:0px 20px 0 20px; padding-top: 60px;}
.pressReleasesWrap #main #pressrelease .item {margin:0 40px; font-family:"Times New Roman", Times, serif; padding-bottom:20px; clear:both;}

/*	=SEARCH RESULTS
------------------------------------ */	
.searchResults #main { min-height: 400px;  border: 1px solid #ffffff; padding:0;}
.searchResults #main .article { padding:20px 0 20px 20px; width: 560px; float:none; clearb: both;}
.searchResults #main form.zoom_searchform { display: block; position: absolute; right: 20px; top: 20px; width: 320px; padding: 10px; border: 1px solid #ffffff; background: #464646; /*#93D0F3;*/ color: #FFFFFF; }
.searchResults #main .summary { display: block; position: absolute; right: 20px; top: 270px; width: 320px; padding: 10px; }
.searchResults #main .result_pagescount { display: block; position: absolute; right: 20px; top: 300px; width: 320px; padding: 10px; }
.searchResults #main form.zoom_searchform label, .zoomMessage, .zoomDirections { font-weight: bold; font-size: 16px; float: left; padding-top:5px; }
.searchResults #main .zoomMessage, .zoom_results_per_page, .zoomDirections { display:block; }
.searchResults #main .zoom_searchbox {margin: 10px 8px;}
.searchResults #main .zoom_button {padding:5px;width:72px;margin:10px 0;}
.searchResults #main .searchheading { color: #000000; font-size: 32px; text-transform: uppercase; font-weight: bold; }
.searchResults #main .searchheading h1 {padding:0; margin:0;}
.searchResults #main .summary { color: #666666; }
.searchResults #main .result_block { padding: 10px; }
.searchResults #main .result_altblock { padding: 10px; background: #aec2cb; }
.searchResults #main .result_title, .summary  { font-size: 16px; font-weight:bold; }
.searchResults #main form.zoom_searchform input[type="radio"], .searchResults #main form.zoom_searchform select { margin:0 5px; }
.searchResults #main .searchResults .article { padding-right: 360px; }
.searchResults #main .infoline { display:none; margin-top: 10px; font-size: 11px; }
.searchResults #main .results { padding: 10px 0 0 0; border-top: 2px dotted #aec2cb }
.searchResults #main .result_pages { margin-top: 20px; padding: 10px; }
.searchResults #main .recommended { padding:20px; background: #93D0F3; margin: 0 0 20px 0; }
.searchResults #main .recommended_heading { font-size: 18px; font-weight: bold; margin: 0 0 10px 0; }
.searchResults #main .recommend_title { font-weight: bold; font-size: 123.12%; }

/*	=FOOTER
------------------------------------ */
#contentinfo { margin:15px 0 0 0; background:url(../images/template/universal/bg_footer.jpg)/*tpa=http://www.generaldynamics.com/images/template/universal/bg_footer.jpg*/ top left repeat-x #00539b; overflow: auto; clear:both; padding: 23px 0; color:#ffffff; font-size: 12px }
#contentinfo h4 { font-weight: bold; text-transform: uppercase }
#contentinfo h4 a {color:#fff;}
#contentinfo p { margin:0 0 15px 0; }
#contentinfo ul { list-style-position: inside; }
#contentinfo ul li { background: url(../images/template/universal/icon_sprite.png)/*tpa=http://www.generaldynamics.com/images/template/universal/icon_sprite.png*/ center left no-repeat; background-position: 0 -29px; padding-left:10px }		
#contentinfo a { color:#93d0f3; font-weight: bold }
#contentinfo .footer-block { width:198px; float: left; padding:0 20px; border-right: 1px solid #2e608c }
#contentinfo .footer-block.first { width: 200px; }
#contentinfo .footer-block.last { border-right:0px; }
#contentinfo ol { margin:0px 0px 10px 0px; }
#contentinfo ol li {}
	
/*	=LINKS
------------------------------------ */
a { text-decoration:none; outline:none; }
a:link, a:visited { }
a:hover, a:active, a:focus { text-decoration: underline  }

/* Screen Reader Links */
#skiplinks {float:left; height:0; width:0; list-style:none outside; margin:0; padding:0;}
#skiplinks a { position:absolute; left:-9999px; background-color:#b0c6bd; color:#db4d1a; font-size:0.625em;/* 10/16 */ padding:3px 5px; border:1px solid #0070af; }
#skiplinks a:active, #skiplinks a:focus { left:3px; top:3px; }

/* Main Content Links */
#main a { color:#01539c; text-decoration: none }
#main a:hover { text-decoration:underline }
#home #main p a, #home #main p a :visited { background-image:none; padding:0; color:#01539c; }
#home #main p a, #home #main p a :visited { background-image:none; padding:0; color:#01539c; }
#main .article a:hover  img, #main .section a:hover  img{border-color:#01539c;}
div#landingpage #main .four-block ul li a, #business-groups #main ul li a { background: url(../images/template/universal/icon_sprite.png)/*tpa=http://www.generaldynamics.com/images/template/universal/icon_sprite.png*/ center left no-repeat; background-position: -13px -61px; padding-left:10px; display:block; }
h1 a, h2 a, h3 a, h4 a, h5 a, h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited {background-image:none; padding: 0;color:#01539c;}

/* Learn/Read/Return Links */
.intro-text a.learn-more { font-family: Arial, sans-serif; font-weight:bold; font-size:18px; color:#93d0f3; background:url(../images/template/universal/icon_sprite.png)/*tpa=http://www.generaldynamics.com/images/template/universal/icon_sprite.png*/ no-repeat scroll 0 -26px transparent; display:inline-block; margin-left:2px; padding-left:10px; text-decoration:none; }
#main .article a.learn-more { white-space: nowrap; }
#main .article a.read-more, #main .article a.learn-more, #main .section a.learn-more { padding-left:10px; margin-left:2px; background: url(../images/template/universal/icon_sprite.png)/*tpa=http://www.generaldynamics.com/images/template/universal/icon_sprite.png*/ center left no-repeat; background-position: -13px -59px; font-weight:bold; color:#01539c; display:inline-block; }
.intro-text a:hover { text-decoration:none; }
#main a.backTop { background-image:none; display:block; font-weight: normal; font-size:12px;clear:both; }
	
/* File Types */
a[href$='.pdf'], a.pdf { background:transparent url(../images/template/universal/filetypes/pdf.png)/*tpa=http://www.generaldynamics.com/images/template/universal/filetypes/pdf.png*/ center right no-repeat; display:inline-block; padding-right:14px; margin-right:3px; }
a[href$='.xls'], a[href$='.csv'], a[href$='.xlw'], a[href$='.xlt'] { background:transparent url(../images/template/universal/filetypes/xls.png)/*tpa=http://www.generaldynamics.com/images/template/universal/filetypes/xls.png*/ center right no-repeat; display:inline-block; padding-right:14px; margin-right:3px; }
a[href$='.doc'], a[href$='.rtf'], a[href$='.wps'], a[href$='.txt'], a[href$='.docx'] { background:transparent url(../images/template/universal/filetypes/doc.png)/*tpa=http://www.generaldynamics.com/images/template/universal/filetypes/doc.png*/ center right no-repeat; display:inline-block; padding-right:14px; margin-right:3px; }
a.takeIcon { background-image:none; padding-right:0; margin-right:0; display:block; float:none; }

/* Anchors */
div.anchors { display:block; width:190px; height:auto; overflow:auto; position:absolute; left:0; margin: 20px 0 0 10px; }
.anchors ul { padding:0 12px;   font-size:12px; font-weight:bold; }
.anchors li {border-bottom:1px solid #999; }
#main .article .anchors ul {margin:0;}
#main .article .anchors li {list-style-type:none;}
#main .anchors ul li a { display:block; padding: 7px 0 7px 10px; background: url(../images/template/universal/icon_sprite.png)/*tpa=http://www.generaldynamics.com/images/template/universal/icon_sprite.png*/ 0 50% no-repeat; background-position: -13px -55px; text-decoration:none; line-height: 1.2em; }
#main .anchors ul li a:hover { text-decoration:underline }
#main .anchors h3 { font-size: 18px; color:#333333; padding: 0 12px; }

/*	=Tables
------------------------------------ */
#main table { text-align:left; margin:10px 0 20px; font-size:12px; background-color:#ffffff }
#main table caption { text-align:center; font-weight:bold; }
#main table th { font-weight:bold; text-align:left; color:#ffffff; background-color:#464646; }
#main table thead th { border:1px solid #ffffff; padding:8px; background-color:#464646; color:#ffffff; text-align: center; }
#main table tbody th { border:1px solid #ffffff; padding:5px; background-color:#464646; color:#ffffff; text-align: center; }
#main table tbody td { border:1px solid #ffffff; padding:5px; text-align:left; vertical-align:top; }
#main table tbody tr:hover th { background-color:#73818E; }
#main table tbody tr:hover td { background-color:#93d0f3; }
#main table .alt td { background-color:#f0f0f0; }
.investor-page #main table { margin:0 -5px; }
.investor-page #main table tbody td { padding:3px 5px; }

/*	=Forms
------------------------------------ */
form{outline:none;}
form ul{padding:0;list-style:none;}
form li{margin-bottom:1.286em;}
form label {line-height:42px;}
form textarea{overflow:auto}
form input[type="text"], form textarea, input[type="text"], textarea{font-family:Arial, sans-serif;background:#f6f6f6;padding:7px;font-size:12px;color:#9b9b9b;margin:10px 10px 10px 0;}
form textarea, form .border, input[type="text"]{border:1px solid #aaadb2;}
form input[type="text"]:focus, form input[type="text"]:active, form textarea:focus, form .border-focus, input[type="text"]:focus, input[type="text"]:active, textarea:focus{border-color:#00539b;color:#000000;background-color:#ffffff;outline:none;}
form input.btn, input[type="submit"]{width:auto;padding:5px 15px;color:#ffffff;font-size:13px;font-weight:bold;text-transform:uppercase;background:#025cac;border:1px solid #ffffff;}
form select {background:#ffffff;border:1px solid #aaadb2;font-family:Arial, sans-serif;font-size:12px;color:#000000;padding:5px;outline:none;}
form .hidden-fields{position:absolute;left:-9999px;}
form .radio, form .checkbox{margin:0 5px 5px 0;vertical-align:center;}
form fieldset{border:1px solid #00539b;padding:23px;}
form legend{background:url(Unknown_83_filename)/*tpa=http://www.generaldynamics.com/images/template/universal/universal/bg_btns.jpg*/ top left repeat-x #001652;padding:5px;font-size:18px;font-weight:bold;color:#eeeeee;}
form p{clear:both !important;overflow:auto;}
form p label, form p input, form p select, form p textarea{float:left;margin:0;}
form p label{width:20%;}
.investor-page form p label{width:50%;margin-left:10px;}
form input.bearfood{display:none;}
input[type="radio"]{vertical-align:text-bottom;}
input[type="checkbox"]{vertical-align:center;}
label, input[type="button"], input[type="submit"], button{cursor:pointer;}

/* Footer Search Form */
form.footer-search { margin:12px 0; }
form button.footer-submit { width: auto !important; margin:0; padding:2px !important; background: #025cac; color: #ffffff; font-weight: bold; text-transform: uppercase; border: 1px solid #ffffff !important }
form.footer-search input { width:150px; border:0; padding:4px; margin:0; }
dl#footerContact { margin:0 0 15px 0; }

/* Contact Page Form */
#contact-form { margin-top:30px; }
#contact-form dl { width:380px; }
#contact-form dt { float:left; width:120px; padding-top:4px; }
#contact-form dt.break { float:none; }
#contact-form textarea { width:100%; }
#contact-form label { font-weight:bold; }
#contact-form .sendBtn {width:408px; text-align:right;}
#contact-form .btn {  }
.error { padding:10px; margin:12px 0; background:#ffbaba; color:#ce1d1d; font-weight:bold; font-size:13px; border:1px dotted #ce1d1d; display:none; }
	
/*	=SPECIALTY RULES
------------------------------------ */	
#landingpage #main ul li.specialListItem img{ margin:3px 0 3px 30px; }
#landingpage #main a.helpImageLink { background-image:none; }
.tel a { color:#000; text-decoration:none; cursor:default; }
.last { border: 0px !important; }
.ethicsList {padding:10px 140px 10px 0; }
.ethicsList li { color:#333333; margin-left:20px; line-height: 1.5em; }
.halfCol { float:left; width:49%; }
.poster { width:330px; }

/* Corporate Overview Monopoly Cards */
#main .card { float:left; width:335px; margin:20px 0; }
#main .card h4 span { display:block; }
#main .card h4 { color:#fff;text-transform:uppercase;font-size:14px;line-height:1.1em;padding:6px 10px 0 10px; min-height:40px; width:307px;margin-left:10px; }
#main .card h4 a { color:#fff; margin:0; }
#main .card.aero h4 { background-color:#ed9d22; }
#main .card.combat h4 { background-color:#008852; }
#main .card.infotech h4 { background-color:#933280; }
#main .card.marine h4 { background-color:#22739c; }
#main .card .bottomCard { width:325px; background:#fff; margin:0 10px; padding:5px 0 20px 0; border-left: 1px solid #dee7eb; border-bottom: 1px solid #dee7eb; border-right: 1px solid #dee7eb; }
#main .article .card li { list-style:none;margin-left:10px; }

/* Business Units Contacts Monopoly Cards */
#main h4.blockCard { color:#fff; text-transform:uppercase; font-size:14px;line-height:1.1em; padding:6px 10px 0 10px; min-height:40px; margin:40px 0 0 0; }
#main ul.contactListX, #main ul.contactListY { margin:5px 0 10px 0; width: 48%; float:left; }
#main ul.contactListX li, #main ul.contactListY li { list-style-position:outside; list-style-type:none; background-image:none; line-height:normal; margin:0; }	

/* Small Business Liaison Cards */
#main .businessgroup { clear:both; }
#main .businessgroup ul.contactListY { margin-bottom:20px; }
#main .businessgroup ul.contactListY.second { margin-top:42px; }
#main .businessgroup ul.contactListY.even { clear:both; }

/* Privacy & Sitemap */
.Site-Map ul#sitemap { margin:0; font-size:20px; }
.Site-Map ul#sitemap li { font-size:.85em;line-height:1.3em;list-style:none;margin:0;padding:2px 0;clear:both; }
.Site-Map ul#sitemap ul { margin:5px 10px;border-left:1px solid #99B8C7;padding-bottom:11px; }
.Site-Map ul#sitemap ul li { background:url(../images/template/subpage/special/listcorner.gif)/*tpa=http://www.generaldynamics.com/images/template/subpage/special/listcorner.gif*/ no-repeat -1px 1px;padding:0 20px; }
.Site-Map ul#sitemap ul li.lastof { float: left;} 

/* FAQ Table of Contents + QA Section */
#toc h4 { background: #464646; color:#ffffff; padding:10px; margin-top:20px; font-size: 16px; }
#toc a { display:block; padding: 10px; background:#ffffff; }
#toc a.odd { background: #F0F0F0; }
#toc { padding-bottom:20px; border-bottom: 2px solid #ffffff; }
.faq #main .section div { margin:5px 0px; padding:5px 10px; }
.faq #main .section div.odd { background: #aec2cb; }
.faq #main .section div p { margin: 5px 40px; }
.faq #main .section div ul { margin: 10px 40px 20px 80px; }
.faq #main .section div a.backTop { margin-right:10px; }

/* Image Handling */
.alignLeftInner { float:left; margin:5px 20px 20px 0; }
#main .align-left-top { display:block; float:left; margin:0 5px 5px 0; border:1px solid #dedede }
#main .align-right-top { display:block; float:right; margin:0 0 5px 5px; border:1px solid #dedede }
	
/* Modal Window */
div#DOMWindow { font-family: Helvetica, Arial, sans-serif; position:relative; background: #FFFFCD; border: 3px solid #999; }
#DOMWindow p { color: #000000; font-size: 12px; padding: 0.4em 0; text-align:left; }
#DOMWindow a { color: #01539C;}
#DOMWindow p.continue { font-size: 16px; }
#DOMWindow p.cancel a { display:block;  width: 420px; position: absolute; bottom: 5px; }

/*	=IE FIXES
------------------------------------ */
.ie body { text-align: center; }
.ie div.intro-text { background-image:none; background-color:#000000; bottom:-1px; }
.ie .intro em { font-family: Arial,sans-serif; font-style: normal; letter-spacing:-0.4px; }
.ie #profile-box { background:#ffffff; position:relative; zoom: 1;  border-right: 2px solid #6e6e6e; border-bottom: 2px solid #6e6e6e; }
.ie div#subpage.pressReleasesWrap #main .sub-banner { height:178px; }
	
.ie7 img { -ms-interpolation-mode: bicubic; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie7 #contentinfo ul li { padding-left:0; }
.ie7 #main .sub-banner { right: 0; }
.ie7 .latest-news{ padding: 20px; width:640px; margin:0px; }
.ie7 .latest-news a.learn-more{ margin:0px; }
.ie7 #main .article .news {width:640px; margin:0 20px; padding:0;}
.ie7 #main .article .older {width:640px;}
.ie7 #main ul.contactListX { width:49%; }
.ie7 .four-col {width:239px;}
.ie7 .four-col.last { width:238px;}	
	
.ie6 div#subpage.pressReleasesWrap #main,.ie7 #subpage #main { padding-top:126px;}
.ie6 #main div.latest-news { padding:20px 40px; }
.ie6 #main .news .latest-news .article a.learn-more { background-image:none; padding-left:0; margin-left:0; }
.ie6 .subnav ul li ul li{ margin-top:-15px; }
.ie6 #main .sub-banner {top:1px; right:0; left:-21px;}
.ie6 div.pressReleasesWrap #main .sub-banner {left:220px;}
.ie6 input { vertical-align: text-bottom; }
.ie6 #landingpage #main ul li, .ie6 #home #main ul li, .ie6 #business-groups #main ul li { line-height:normal; margin-top:-12px !important; padding:0 !important; }
.ie6 #landingpage #main, .ie6 #home #main, .ie6 #insidepage #main { padding-bottom:0px !important; }
.ie6 #business-groups .four-col  ul li { margin-left:20px; }
.ie6 #home #main ul li{margin:0 0 0 5px !important; padding:0 !important}
.ie6 div.intro-text { background:#000000; }

/*	=Admin Styles
------------------------------------ */
.Manage-Press #main .article, .Edit-Press #main .article{width:auto;}
.Manage-Press #main .article table, .Edit-Press #main .article table{width:98%;}
#PReditTable thead tr th.sortable{cursor:pointer;}
#main table#mainDisplayTable_14954_0{background-color:#f0f0f0;}
#main table#mainDisplayTable_14954_0 label{font-weight:bold;font-size:120%;}
#main table#mainDisplayTable_14954_0  input[type="checkbox"]{margin-right:10px;}
#main table#mainDisplayTable_14954_0  input{color:#333333;}
#main table#mainDisplayTable_14954_0  input:focus{color:#00539b;}
input#fic_1811_1813_1{width:100px;}
input#fic_1811_1814_1{font-size:112%; width:90%;}
input#fic_1811_1815_1{font-size:105%; width:90%;}
input#fic_1811_1814_1, input#fic_1811_1813_1{font-weight:bold;}
input.clsSaveButton{width:auto;padding:5px 15px;color:#ffffff!important;font-size:13px;font-weight:bold;text-transform:uppercase;background:#025cac;border:1px solid #ffffff;cursor:pointer;}
#main table#mainDisplayTable_14954_0 tbody tr:hover td{background-color:#f0f0f0;}
.ui-icon{display:block;width:16px;height:16px;overflow:hidden;text-indent:20px;}
.ui-icon-pencil{background:url(../images/icon/pencil.png)/*tpa=http://www.generaldynamics.com/images/icon/pencil.png*/ top left no-repeat;float:left;}
.ui-icon-trash{background:url(../images/icon/bin.png)/*tpa=http://www.generaldynamics.com/images/icon/bin.png*/ top left no-repeat;float:right;}
.Admin-Home .subnav, .Manage-Press .subnav, .Manage-Business .subnav{display:none;}

/*	=Cross Domain Fixes
------------------------------------ */
.investor-page #main .article { width:auto;}
.investor-page #main h5.second-h5 { margin:30px 0 0; }
#home.businessMicro .intro strong { color:#ED9D22; }
#home.businessMicro .intro ul li a { background-position:0px -94px; color:#ed9d22; }
.businessMicro #header ul a { color: #ffffff; text-decoration: none; text-shadow: 0px 0px 1px #93d0f3; display:inline; }
.businessMicro #header ul a:hover { color: #93d0f3; text-shadow: 0px 0px 2px #22739c; text-decoration: none }
.businessMicro #header li.active a { color: #93d0f3; text-shadow: 0px 0px 2px #22739c; }
.businessMicro ul#navigation { font-weight: normal; font-style: normal; font-family:  'UBold', Arial, sans-serif; font-size-adjust: 0.51; font-size: 14px; line-height:14px; text-transform: uppercase; position: absolute; height:45px; top:115px; right:8px; margin:0 12px 0 12px; width:auto; }
.businessMicro ul#navigation li { display:block; float: left; height:45px; text-align: right; padding:0 8px 0 20px; border-right:1px solid #ffffff; background-image:none; text-indent:0px !important; width:auto; }
.businessMicro ul#navigation span { display: block }

/*	=Face Cards on homepage
------------------------------------ */
.faceCard a {display:block; overflow:hidden;}
.faceCard img {float:left;}
.faceCardImage { height:113px; float:left; }

#statsdiv {display:none;}