/* CSS Document for IE 7*/
.mod-hero .thumbnails li { margin-top:4px; }
.ss-gac-m { display:none; }
.collateral span { display: inline-block; }
.hrShadow {background:#fdbb30 url(../../images/version-3/mobility/b-5px-shadow.gif)/*tpa=http://www.symantec.com/images/version-3/mobility/b-5px-shadow.gif*/ 0 100% repeat-x}
.mod-dropdownBasic {
	z-index:11 /*for IE 6&7*/
}
.mod-dropdownBasic li ul {
	left:-100px; 
	top:50px
}

.imageAppCarousel .text-item a  {
	padding-top:30px;
	display:block;
}

ul#flyout .flyoutConnect{
height:20px;
background:#8c8c8c;
background:rgba(140, 140, 140, 0.5);
position:absolute;
top:125px}

ul#flyout li .flyoutContent {
	top:20px;
    display: block;
	padding-top:25px;
    position: relative;
    width: 950px;
    z-index: 1000;
	
}
