/* CSS Document for IE 8*/
.heroTxtVrt { 
  position: absolute;
}
.heroTxtVrt p { 
  position: relative; 
  margin-top: expression(this.offsetHeight < this.parentNode.offsetHeight ? parseInt((this.parentNode.offsetHeight - this.offsetHeight) / 2) + "px" : "0");
}
.hrShadow {background:#fdbb30 url(../../images/version-3/mobility/b-5px-shadow.gif)/*tpa=http://www.symantec.com/images/version-3/mobility/b-5px-shadow.gif*/ 0 100% repeat-x}
