/*#clientstories_rotator_title {
	display: block;
	font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn";
	font-size: 18px;
	padding-top:10px;	
}

#clientstories_rotator {
	width:900px;
	margin-left: 270px;
margin-top: 30px;
background:none;
border:none;
height:155px;
-webkit-box-shadow: none;
box-shadow: none;
}
#clientstories_rotator_item {
	width:312px;
	cursor:pointer;
}
#clientstories_rotator_itemlast {
	width:270px;
}
#clientstories_rotator_left {
position: absolute;
top: 20px;
width: 20px;
left: -30px;
font-size:60px;
height:20px;
cursor:pointer;
}
#clientstories_rotator_right {
position: relativee;
top: 20px;
width: 20px;
right: -30px;
font-size:60px;
height:20px;
cursor:pointer;
}
	#ContractTabsMobile {
	display:none;
}
*/



@media screen and (min-width: 1px) and (max-width: 567px) {
	
	h1 {
	font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
	font-size: 30px;
	background-color: #f2f2f2;
	line-height: 36px;
	word-spacing: 0em;
	letter-spacing: -0.04em;
	margin-top: 30px;
	margin-left:10px;
	margin-right:10px;
}
h2 {
	font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
	font-size: 40px;
	font-weight: normal;
	line-height: 58px;
	word-spacing: 0em;
	letter-spacing: -0.04em;
	margin-top: 24px;
	margin-left:10px;
	margin-right:10px;
}
 h3 {
 font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
 font-size: 30px;
 font-weight: normal;
	line-height: 36px;
	word-spacing: 0em;
	letter-spacing: -0.04em;
	margin-top: 30px;
	margin-left:10px;
	margin-right:10px;
}
h6 {
	font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
	font-size: 16px;
	font-weight: normal;
	line-height: 20px;
	word-spacing: 0em;
	letter-spacing: -0.04em;
	margin-left:10px;
	margin-right:10px;
}

	 a.aliasLink {
 color: #FFF;
 text-decoration: none;
 cursor:pointer;
display:block;
}
 a.aliasLink_applyforjob {
 color: #00338D;
 text-decoration: none;
 cursor:pointer;
 padding-right:10px;
}
 .aliasLink_applyforjobslash {
 color: #00338D;
 text-decoration: none;
 cursor:pointer;
 padding-right:10px;
}
.noimage {
	display:none;
	}
	.showdesktop {
		display:none !important;
	}
.showtitle {
font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
	font-size: 26px;	
	word-spacing: 0em;
	letter-spacing: -0.04em;
	margin-top:15px;
}
.rotatorcontrol {
	display:none;
}
	.bx-has-pager {
	display:block;
	padding-top:20px;
	margin-bottom:0px;
	padding-bottom:0px;
	padding-left:0px;
	margin-left:0px;
}

	.subCarouselHoriz {
	display: block;
	clear: both;
	height: auto;
	background-color:transparent;
		 margin-left: 0px;
 margin-right:0px;	
}
	.subCarouselHorizFeatures {
	display: block;
	clear: both;
	height: auto;
	background-color:transparent;
	margin-left:0px;
	padding-left:0px;

}
.subCarouselHoriz .bx-wrapper .bx-viewport {
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
	border: none;
	left: 0px;
	background:none;
}
.subCarouselHorizFeatures .bx-wrapper .bx-viewport {
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
	border: none;
	left: 0px;
	background:none;
		margin-left:0px;
	padding-left:0px;
}


.subRightColRotator {
width:100%;float:none;background-color:transparent;margin-left:0px;padding-left:0px;padding-bottom:0px;	
}
/*.subRightColRotatorNext {
position:absolute;top:110px;left:409px;z-index:3;
}
.subRightColRotatorPrev {
position:absolute;top:110px;left:-8px;z-index:3;
}*/
/*#FeatureProjectTabs_styleover {
	background-color:transparent;
	padding-bottom:20px;
}
#FeatureProjectTabs_styleover .bx-wrapper .bx-viewport {
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
	border: none;
	left: 0px;
	background:none;
}
.subRightColFeaturesRotator {
	width:100%;
}
#clientstories_rotator_title {
	display: block;
	font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn";
	font-size: 18px;
	padding-top:5px;
}
*/

#ContractsTabsContent {
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 21px;
 line-height: 26px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
 vertical-align: top;
 overflow: visible;
}


#ContractTabsMobile {
	max-width:100%;
}
#ContractTabsMobile ul {
	list-style-type:none;
	margin-left:0px;
	padding-left:0px;
	margin-top:0px;
	padding-top:0px;
}
#ContractTabsMobile ul li {
	background-image:url(../../images/Mobile_features_tab.png)/*tpa=http://www.jacobs.com/images/Mobile_features_tab.png*/;
	background-repeat:repeat-x;
	padding:10px;
	display:block;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #666;
	clear:both;
	cursor:pointer;
}
.globalTabContracts .projectimage {
	width:100px;
	height:auto;
	margin-right:15px;
	display:inline-block;
}
.globalTabContracts .projecttitle {
	display:inline-block;
	text-wrap:normal;
	vertical-align:middle;
	color:#FFF;
	font-size:15px;
}
.globalTabtabs .returntotop {
	display:inline-block;
	text-align:center;
	vertical-align:middle;
	width:100%;
	color:#FFF;
	font-size:15px;
}

/*
#Contracts1,Contracts2,Contracts3,Contracts4,Contracts5 table, thead, tbody, th, td, tr { 
		display: block; 
		padding-left:10px;
		padding-right:10px;
		
		
	}
	#Contracts1,Contracts2,Contracts3,Contracts4,Contracts5 table, thead, tbody, th, td {
		width:95%;
	}
	
	#Contracts1,Contracts2,Contracts3,Contracts4,Contracts5 thead, td, tr {
padding-left:0px;
		padding-right:0px;
}

	
#Contracts1,Contracts2,Contracts3,Contracts4,Contracts5	tr { border: 1px solid #ccc;


 }
	
#Contracts1,Contracts2,Contracts3,Contracts4,Contracts5	td { 
	//behave like a row
		
	}*/
	
	#sliderGlobalNetwork li img {
	width:100%;
	height:auto;
	
}
.sliderGlobalNetworknextimg {
	position:relative;
	top:-170px;
	float:right;
	margin-right:5px;
	z-index:3;
}
.sliderGlobalNetworkprevimg {
	position:relative;
	top:-170px;
	float:left;
	margin-left:5px;
	z-index:3;
}
.subCarouselHorizNB {
 display: block;
 clear: both;
 margin-left:0px;
}
.subLeftTestimonials {
 display: block;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 21px;
 line-height: 26px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
 margin-left: 10px;
 margin-right:10px;	
}
.subLeftTestimonials img {
 margin-left: -10px;	
}
.subRightTestimonials {
 display: block;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 21px;
 line-height: 26px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
 vertical-align: top;
 overflow: visible;
 margin-left: 10px;
 margin-right:10px;	
	
}

.subRightTestimonials img {
 margin-left: -10px;	
}
.subLeftColIndustries {
 display: block;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 21px;
 line-height: 26px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
  margin-left: 10px;
 margin-right:10px;	

}

.subRightColIndustries {
 display: block;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 21px;
 line-height: 26px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
 vertical-align: top;
 overflow: visible;
	 margin-left: 10px;
 margin-right:10px;	

}


.globalTabContracts {
 display: block;
 font-size: 21px;
 line-height: 26px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
width: 100%;
background-color:#fff;
}
.tabArrowUp {
	display:none;
}
.globalTabtabs {
	padding-top:8px;
	padding-bottom:8px;
font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
font-size: 18px;
color: #FFF;
word-spacing: 0em;
letter-spacing: 0.015em;
display:inline-block;line-height:1.1em;
width:100%;
	background-image:url(../../images/Mobile_features_tab.png)/*tpa=http://www.jacobs.com/images/Mobile_features_tab.png*/;
	background-repeat:repeat-x;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #666;
	clear:both;
	cursor:pointer;

}

.jobsApplyForAJobTab {
	padding-top:8px;
	padding-bottom:8px;
font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
font-size: 18px;
color: #FFF;
word-spacing: 0em;
letter-spacing: 0.015em;
display:inline-block;line-height:1.1em;
width:100%;
	background-image:url(../../images/Mobile_features_tab.png)/*tpa=http://www.jacobs.com/images/Mobile_features_tab.png*/;
	background-repeat:repeat-x;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #666;
	clear:both;
	cursor:pointer;

}

.globalTabtabstabsfeature {
	padding-top:6px;
	padding-bottom:6px;
}
.globalTabtabs a {
	padding-left:10px;
	padding-right:10px;

}
.globalreturnourapproach {
	padding-top:8px;
	padding-bottom:8px;
font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
font-size: 16px;
color: #FFF;
word-spacing: 0em;
letter-spacing: 0.015em;
display:inline-block;line-height:1.1em;
width:100%;
	background-image:url(../../images/Mobile_features_tab_select.png)/*tpa=http://www.jacobs.com/images/Mobile_features_tab_select.png*/;
	background-repeat:repeat-x;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #666;
	clear:both;
	cursor:pointer;

}
.globalreturnourapproach a {
	padding-left:10px;
	padding-right:10px;
	color:#FFFFFF;
	text-decoration:none;
}

.mobileonly {
	display:inline-block;
}
.globalTabtabs_arrow {
background-image:url(../../images/arrownavdown.png)/*tpa=http://www.jacobs.com/images/arrownavdown.png*/;
background-repeat:no-repeat;
width:8px; 
height:7px;
float:right;
margin-top:8px;
margin-right:15px;	
	
}
.featuresTabtabs_arrow {
background-image:url(../../images/arrownavdown.png)/*tpa=http://www.jacobs.com/images/arrownavdown.png*/;
background-repeat:no-repeat;
width:8px; 
height:7px;
float:right;
margin-top:20px;
margin-right:15px;	
	
}
.globalTabtabs_arrowup {
background-image:url(../../images/arrowNavUp.png)/*tpa=http://www.jacobs.com/images/arrowNavUp.png*/;
background-repeat:no-repeat;
width:8px; 
height:7px;
float:right;
margin-top:6px;
margin-right:15px;	
	
}
.globaltabsgrowwithus {
	font-size:14px;
}

.globalTabtabslarge {
	max-width:100%;
}
.globalTabtabsmedium {
	max-width:100%;
}
.globalTabtabssmall {
	max-width:100%;
}


.globalTabtabslargecareers {
	max-width:100%;
}
.globalTabtabsmediumcareers {
	max-width:100%;
}
.globalTabtabssmallcareers {
	max-width:100%;
}
.globalTabContent {

}
.globalTabContent table {
margin-top:25px;	
}
.globalTabContentBlock {
display: none;
background-color: #fff;
font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
font-size: 18px;
line-height: 20px;
word-spacing: 0em;
letter-spacing: 0.015em;
padding:10px;
}
#jobsHotJobsTabsContent_3 {
	display: none;
background-color: #fff;
font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
font-size: 18px;
line-height: 20px;
word-spacing: 0em;
letter-spacing: 0.015em;
padding:10px;
max-width:90%;
}

.tabviewercarousel {
	display:inline-block;
	width:97%;
}

.globalTabSlash {
display:none;
}
.globalTabSlashcareers {
	padding-right:6px;
}
.globalTabSlash img {
display:none;
}
.globalTabLine {
display:none;	
}
.globalTabLineselected {
display:none;
}
.globalTabLineselected img {
display:none;
}
.jobsWhyJacobsTabsContent {
font-size: 18px;
line-height: 20px;
word-spacing: 0em;
letter-spacing: 0.015em;
}

.subRightColRotatorNext {
	float:right;
position:relative;z-index:3;
}
.subRightColRotatorPrev {
	float:left;
position:relative;z-index:3;
}

.subCarouselHorizNext {
	float:right;
position:relative;z-index:3;
}
.subCarouselHorizPrev {
	float:left;
position:relative;z-index:3;
}

.subCarouselHorizNextVert {
	float:right;
position:relative;z-index:3;
}
.subCarouselHorizPrevVert {
	float:left;
position:relative;z-index:3;
}
.bottomnav_ourindustries {
	background: #f2f2f2; width:100%;
}
.navbottomcell {
	width:100%;
	font-family: 'HelveticaNeueW01-67MdCn 692710', 'HelveticaNeueW01-67MdCn'; 
	font-size: 14px;
	
}
.navbottomcell a {
	display:block;
	padding-bottom:8px;
}
.navbottommaster {
	display:inline-block;
	padding:10px;
}

/*    #ProjectGallery_section {
        min-width: 100%;
    }
    
    #ProjectGallery_section img {
        border: 0;
    }  #ProjectGallerySlides {
height:auto;
background-color: #000000;	
}
    
    #ProjectGallery_section ul {
        margin-top: 0;
    }
    
    #ProjectGallery_section #pg_bxslider_full {
        padding: 0;
        margin: 0;
    }
    
    #ProjectGallery_section #pg_bxslider_full li {
        background-color: #000000;
        overflow: hidden;
    }
    
    #ProjectGallery_section #pg_bxslider_full img.slide {
        height: auto;
        margin: 0 auto;
    }
	
	
	
	    #ProjectGallery_section #sliderProjectGallery {
        padding: 0;
        margin: 0;
    }
    
    #ProjectGallery_section #sliderProjectGallery li {
        background-color: #000000;
        overflow: hidden;
    }
*/    
/*    #ProjectGallery_section #sliderProjectGallery img.slide {
        height: auto;
        margin: 0 auto;
    }
	
	
	
    
    #ProjectGallery_section .bx-wrapper {
        margin: 0 auto;
    }
  
    #ProjectGallery_section .bx-wrapper .bx-viewport {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: none;
        top: 50px;
        left: 0;
        background: none;
    }
    
    #ProjectGallery_section #ProjectGallerySlides .bx-wrapper .bx-prev {
	    background: url(/images/carouselLeft.png) no-repeat 0 0;
    }
    
    #ProjectGallery_section #ProjectGallerySlides .bx-wrapper .bx-next {
	    background: url(/images/carouselRight.png) no-repeat 0 0;
    }
    
    #ProjectGallery_section #ProjectGallerySlides .bx-wrapper .bx-controls-direction a { 
display: none;
    }
    
    #ProjectGallery_section #slidePrevProjectGallery, #ProjectGallery_section #slideNextProjectGallery {
        position: absolute;
        top: 37px;
        width: 56px;
        z-index: 55;
    }
    
    #ProjectGallery_section #slideNextProjectGallery { 
        right: 0;
    }
    
	#ProjectGallery_section .bx-controls .bx-has-pager .bx-has-controls-direction {
		display:inline-block;
	}
	
    #ProjectGallery_section .bx-wrapper .bx-pager { Move dot indicators to the top, above the large images
        display:inline-block;
		position: absolute;
        top: 0px;
        bottom: auto;
        background-color: #000000;
    }
    
    #ProjectGallery_section .bx-wrapper .bx-pager a, #ProjectGallery_section .bx-wrapper .bx-pager a:hover,
    #ProjectGallery_section .bx-wrapper .bx-pager a.active {
        border: 0;
    }
    
    #ProjectGallery_section .bx-wrapper .bx-pager.bx-default-pager a {
        background-color: #777777;
    }
    
    #ProjectGallery_section .bx-wrapper .bx-pager.bx-default-pager a:hover, #ProjectGallery_section .bx-wrapper .bx-pager.bx-default-pager a.active {
        background-color: #ffffff;
    }
*/.subQuote {
 font-family:'HelveticaNeueW01-67MdCn 692710', 'HelveticaNeueW01-67MdCn', Helvetica, Verdana, sans-serif;
 font-size:24px;
 line-height:28px;
 letter-spacing:0.02em;
 overflow:visible;
}
.products_white_moreinfo {
width:100%; background-color:white; padding-top:3px; padding-bottom:3px;	
}

.testimonialimages {
	margin-left:10px;
}
.bx-controls .bx-has-pager .bx-has-controls-direction {
	display:inline-block;
}
.nrmimportantinformation {
	font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
font-size: 15px;
line-height: 18px;
word-spacing: 0em;
letter-spacing: 0.015em;
padding-top: 15px;
}
.globalTabFeatureBlock {
display: none;
font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
font-size: 18px;
line-height: 20px;
word-spacing: 0em;
letter-spacing: 0.015em;
top: 5px;
top: 0px\9;
}
		.publishdate {
			font-style: italic;
			font-size: 12px;
		}
		.announcementtitle {
			font-size: 24px;
			font-weight:bold;
		}
		.announcementtext {
			font-size: 18px;
			line-height: 20px;
		}
		.buttonposition {
			display:none;
		}
		.announcementtable {
			background-color:white;
			width:100%;
		}
		.announcementtable td {
			display:inline-block;
			width:95% !important;
		}
		.awardscontentbox {		
			background-color: rgba(0,0,0,0.8);
			background-color: #000\9;  /* for IE7 & IE8 */
			margin-left: 10px;
			margin-right:10px;
			padding-bottom:0px;
			margin-bottom:0px;
			padding-top:10px;

		}
		#jobsAwardsMain {
			background-color:#000;
		}
		
		.awardsheadline {		
			display: inline-block;
			font-size: 22px;
			color: white;
						margin-left:10px;
			margin-right:10px;

		}	
		
		.awardsLeftCol {
			display: inline-block;
			font-family: "HelveticaNeueW01-57Cn";	
			color: white;
			font-size: 18px;
			line-height: 26px;
			word-spacing: 0em;
			letter-spacing: 0.015em;
			margin-left:10px;
			margin-right:10px;

		}

		.awardsRightCol {
			display: inline-block;
			font-family: "HelveticaNeueW01-57Cn";	
			color: white;
			font-size: 18px;
			line-height: 26px;
			word-spacing: 0em;
			letter-spacing: 0.015em;
						margin-left:10px;
			margin-right:10px;
		}
		
		.awardtitle {
			font-family:'HelveticaNeueW01-67MdCn 692710', 'HelveticaNeueW01-67MdCn'; 
			font-size: 26px;	
			padding-top:15px;	
		}
		
		.awardbody {
			font-family: HelveticaNeueW01-57Cn;
			font-size: 18px;
			letter-spacing: normal;
			line-height: 1em;
			color:white;
			word-spacing:0px;
		}
		.awardbody  a {
			color:#FFF;
		}
		
		.awardbulletlist {
			margin-left: -20px;
			vertical-align: middle;
			position:relative;
			top:-5px;
			line-height:normal;
		}
				.resourcestitle {
					float:left;
			font-family:'HelveticaNeueW01-67MdCn 692710', 'HelveticaNeueW01-67MdCn'; 
			font-size: 24px;
			font-weight:bold;
			margin-bottom:10px;
			
			display:inline-block;
		}
		
		.resourcescolumn {
			background-color: white;
			width: 213px;

		}
		.resourcescolumnframe {

		}
		.resourecontentframe .button  {
			max-width:50%;
		}
		.resourcescolumnmaster {
	width:100%;
	margin-bottom:20px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666;	
	padding-bottom:20px;		
		}
		.resourcescolumnmaster_last {
			margin-right:0px;
		}
		.resourcesblankcolumn {
			background-color: inherit;
			width: 38px;
		}
		.resourcescolumnmaster_thumbnail {
			float:right;
			width:100px;
			margin-left:10px;
		}
		.resourcescolumnmaster_thumbnail img {
			width:100%;
			height:auto;
		}
		.resourcescolumnmaster_content {
			display:block;
			margin-top:10px;
			font-size:16px;
		}
		.resourcescolumnmaster ul {
			margin-left:10px;
			padding-left:0px;
			margin-bottom:0px;
			font-size:16px;
		}
		.resourcescolumnframe .clear {
		height: 0px;
padding: 0px;
margin: 0px;
clear:none;
		}
		.jobCareersContainer .timeline {
		min-height:220px;
		}
		.jobCareersContainer .timeline ul li {
	padding-left:10px;
	padding-right:10px;
}
.jobCareersContainer .bx-wrapper {
	margin-bottom: 40px !important;
}
.subCarouselHoriz .subRightColRotator .tabviewercarousel .bx-slider {
	margin-bottom:0px;
}

		.applyforajob {
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
	margin-bottom:10px;
}

.applyforajob noborder{
	border-right:none;
}

.videoWrapperTabs {
	display:inline-block;
	margin-bottom:20px;
}
.videoWrapperTabsFrame {
	width:100%;
}
.applyforjob_dropdown {
	width: 100%;
padding: 2px 0;
left: 0;
margin-top:15px !important;
color:#FFF;
font-weight:bold;
margin: 0;
font-size: 16px !important;
letter-spacing: 0.05em;
top:20px !important;
}
.applyforjob_dropdownbox {
position:relative !important; left:0px !important; top:-65px !important;  font-size:16px;width:92%;

}
.ddlCraftList li a   {
	color:#000 !important;
}
 ul.ddlCraftList, ul.ddlCraftLocationsList {
background-color: #FFF;
border: 1px solid #CCCCCC;
display: block;
list-style: none outside none;
margin-top: -1px;
width:92%;
/*position: absolute;*/
/*width: 85px;*/
z-index: 2;
clear:left;
color:#000000 !important;
top:-50px !important;
}
.applyforjob_dropdownbox_button {
	display:inline-block;
min-width:300px;
max-width:
height:43px;
background-image:url(Unknown_83_filename)/*tpa=http://www.jacobs.com/images/selectListDrop_Blue_350px.png*/;
margin-bottom:20px;
}
.ddlCraftListproperties {display:none;}
.applyforjob_subheading {
	display:block !important;
	font-size:20px; 
	font-weight:normal;
}
.applyforajob_subtext {
	font-size:18px;
	font-weight:bold;
	margin-bottom:5px;
	margin-top:0px;
	padding-top:0px;
	-webkit-margin-before: 0em;
}
.applyBtn .applyforajob_buttonpadding {
text-align: center; 
margin-bottom:0px !important;	
padding-bottom:0px !important;
}
.applyforajob_employeesearch {
margin-bottom: 15px;	
}
.applyforajob_title {
	font-size: 28px; line-height: 31px; letter-spacing: normal;
}
.applyforajob_maintitle_left1 {
	display:inline-block; margin-right:0px;float:left;
}
.applyforajob_maintitle_left1 img {
	width:50%;
}
.applyforajob_maintitle_right1 {
font-size: 24px; line-height: 31px; letter-spacing: normal;display:inline-block;width:80%;
}
.applyforajob_maintitle_right2 {
	font-size: 22px; line-height: 31px; letter-spacing: normal;display:inline-block;width:80%;
}
.applyforjob_buttonpadding1 {
margin-top: 10px;	
}
.applyforjob_buttonpadding2 {
	margin-top: 10px;
}
.applyforjob_buttonpadding3 {
	margin-top:10px;
}
.applyforjob_buttonpadding4 {
	margin-top: 10px;
	margin-bottom:20px;
}
#subSectionTitleB {
	margin-left:0px;
	padding-left:0px;
	margin-top:0px;
	padding-top:0px;
}
#jobsApplyForAJobTabs {
	display:inline-block; max-width:40%;
}
.ddlCraft {margin-left:0px; padding-left:0px; width:100%; left:0px; position:;}
.jobsApplyForAJobTabsContent_1, .jobsApplyForAJobTabsContent_2, .jobsApplyForAJobTabsContent_3, .jobsApplyForAJobTabsContent_4 {display:none;}
.applyforjobswarning {position:relative;}

}

@media only screen and (min-width: 567px) {
	.showtitle {display:none;}
	.bx-pager {
	display:none;
}
.subCarouselHorizFeatures .bx-pager {
	display:none;
}
.products_white_moreinfo {
width:100%; background-color:white; padding-top:3px; padding-bottom:3px;	
}
	.subSeeAlsoBoxVertRotator {
		margin-left: 45px;
		width:310px;
		float:left;
		
	}
	
	.globalreturnourapproach {
		display: none;
	}
	#ContractTabsMobile {
	display:none;
}
#ContractsTabsContent {
	display:none;
}
#sliderGlobalNetwork li img {
	width:410px;
	height:258px;
	
}
.sliderGlobalNetworknextimg {
	position:relative;
	top:-160px;
	margin-right:-31px;
	z-index:3;
	float:right;
}
.sliderGlobalNetworkprevimg {
	position:relative;
	top:-160px;
z-index:3;
float:left;
margin-left:-31px;

}
.subCarouselHorizNB {
 display: block;
 clear: both;
 background-color: #f2f2f2;
 max-width: 840px;
 height: 100%;
 margin-left:0px;
}
.subleftaboutus {
	margin-top:-27px;
	margin-top:10px\9;
	position:relative;
	top:-118px;
	top:-145px\9;
}
.subrightaboutus {
position:relative;float:left;padding-left:157px;width:420px;top:-118px;z-index:1;top:0px;top:5px\9;
}
.subrightoverview {
position:relative;float:left;padding-left:157px;width:420px;margin-top:0px\9;left:-95px;z-index:1;
}
.subrightrotator {
width:420px;float:right;background-color:transparent;margin-left:10px;padding-left:15px;padding-bottom:15px;position:relative;top:3px;left:-95px;top:10px\9;left:-117px\9;
}
.subrightrotator2 {
width:420px;float:right;background-color:transparent;margin-left:10px;padding-left:15px;padding-bottom:15px;top:3px;left:-95px;top:10px\9;left:-117px\9;
}

.subleftsmalloffset {
	margin-top:-29px;
	margin-top:-29px\9;
}
.subrightwithrotator {
	position:relative;float:left;padding-left:57px;width:420px;z-index:1;
}
.subrightnorotator {
position:relative;float:left;padding-left:157px;width:420px;z-index:1;top:-20px;top:5px\9;
}

.subleftcontentoffset {
	margin-top:-27px;margin-top:0px\9;
}

.subLeftColIndustries {
 display: block;
 float: left;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 21px;
 line-height: 26px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
 width: 360px;
 margin-left: 265px;
 margin-top:-27px;
 margin-top:-29px\9;
*margin-top:-5px;	
}

.subRightColIndustries {
 display: block;
 float:left;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 21px;
 line-height: 26px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
 width: 420px;
 vertical-align: top;
 overflow: visible;
 padding-left:60px;
	
}

.subRightColIndustriesimagebox {
	left:45px; padding-left:0px;position:relative;
}

.subRightColRotator {
width:420px;float:right;background-color:transparent;margin-left:10px;padding-left:15px;padding-bottom:15px;position:relative;top:3px;left:5px;top:10px\9;left:-17px\9;	
}
.subRightColRotatorNext {
position:absolute;top:110px;left:409px;z-index:3;
}
.subRightColRotatorPrev {
position:absolute;top:110px;left:-8px;z-index:3;
}
.subCarouselHorizNextFrame {display:inline-block; float:right;}
.subCarouselHorizPrevFrame {display:inline-block; float:left;}
.subCarouselHorizNext {
clear:both;position:relative;top:-225px;left:25px;
}
.subCarouselHorizPrev {
clear:both;position:relative;top:-225px;left:-25px;
}

.subCarouselHorizNextVert {
position:absolute;top:170px;left:364px;z-index:3;
}
.subCarouselHorizPrevVert {
position:absolute;top:170px;left:37px;z-index:3;
}

.tabbedviewerverticalNext { left:315px; }

.tabbedviewerverticalPrev { left:-20px;}

.subSeeAlsoBoxVertAdditional {
position:relative;left:45px;width:310px;
}
.subRightColNoRotator {
position:relative;float:left;padding-left:90px;width:420px;z-index:1;top:5px\9; margin-left:10px;
}

.subLeftTestimonials {
 display: block;
 float: left;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 21px;
 line-height: 26px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
 width: 370px;
 margin-left: 265px;
 margin-top:-27px;
 margin-top:-29px\9;
*margin-top:-5px;	
}

.subRightTestimonials {
 display: block;
 float:left;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 21px;
 line-height: 26px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
 width: 370px;
 vertical-align: top;
 overflow: visible;
 padding-left:100px;
 margin-top:-27px;
 margin-top:-29px\9;
*margin-top:-5px;	
	
}

.globalTabContracts {
 display: inline-block;
 float: left;
 font-size: 21px;
 line-height: 26px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
width: 810px;
padding-left:30px;
position:relative;
top:15px;top:35px\9;
margin-bottom:30px;
 margin-left: 265px;
background-color:#fff;
padding:15px;
}
.tabArrowUp {
	position:relative;top:-23px;top:-25px\9;left:795px;left:785px\9;display:inline-block;z-index:4;
}
.globalTabtabs {
	background-color: #ffffff;
font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
font-size: 21px;
color: #00338d;
display: inline-block;
word-spacing: 0em;
letter-spacing: 0.015em;
position: relative;
top: 15px\9;
display:inline-block;line-height:1.1em;top:-3px\9;
padding-right:15px;

}
.globaltabsgrowwithus {
	font-size:14px;
}

.globalTabtabslarge {
	max-width:250px;
}
.globalTabtabsmedium {
	max-width:145px;
}
.globalTabtabssmall {
	max-width:105px;
}


.globalTabtabslargecareers {
	max-width:118px;
}
.globalTabtabsmediumcareers {
	max-width:95px;
}
.globalTabtabssmallcareers {
	max-width:70px;
}
.globalTabContent {
position:relative;top:-55px;
}
.globalTabContent table {
margin-top:25px;	
}
.globalTabContentBlock {
display: none;
background-color: #fff;
font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
font-size: 18px;
line-height: 20px;
word-spacing: 0em;
letter-spacing: 0.015em;
position: relative;
top: 5px;
top: 0px\9;
}
.globalTabFeatureBlock {
display: none;
font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
font-size: 18px;
line-height: 20px;
word-spacing: 0em;
letter-spacing: 0.015em;
top: 5px;
top: 0px\9;
}

.tabviewercarousel {
	margin-right:30px;
}

.globalTabSlash {
position: relative;
top:-8px;
top: -5px\9;
margin: 1px;
padding-right:10px;
}
.globalTabSlashcareers {
	padding-right:5px;
}
.globalTabSlash img {
	width:22px;
	height:40px;
}
.globalTabLine {
position:relative;top:-18px;top:-20px\9;z-index:2;width:100%;	
}
.globalTabLineselected {
height:6px;	
}
.globalTabLineselected img {
display:inline-block;position:relative;top:-70px;top:-72px\9;width:113px;left:0px\9;left:0px;
}
.jobsWhyJacobsTabsContent {
font-size: 18px;
line-height: 20px;
word-spacing: 0em;
letter-spacing: 0.015em;
}
.bottomnav_ourindustries {
	background: #f2f2f2; width:100%;
}
.navbottomcell {
	width:170px;
	float:left;
	padding-right:25px;
	font-family: 'HelveticaNeueW01-67MdCn 692710', 'HelveticaNeueW01-67MdCn'; 
	font-size: 14px;
	
}
.navbottomcell a {
	display:block;
	padding-bottom:8px;
}
.navbottommaster {
	margin-left:265px;
	padding-top:10px;
	padding-bottom:10px;
}
.globaltabsyoutubefullwidth {
	width:810px;
	height:456px;
}
    #ProjectGallery_section {
        min-width: 100%;
    }
  #ProjectGallerySlides {
height:680px;	
}  
    #ProjectGallery_section img {
        border: 0;
    }
    
    #ProjectGallery_section ul {
        margin-top: 0;
    }
    
    #ProjectGallery_section #pg_bxslider_full {
        padding: 0;
        margin: 0;
    }
    
    #ProjectGallery_section #pg_bxslider_full li {
        height: 680px;
        background-color: #000000;
        overflow: hidden;
    }
    
    #ProjectGallery_section #pg_bxslider_full img.slide {
        max-height: 680px;
        margin: 0 auto;
    }
    
	    #ProjectGallery_section #sliderProjectGallery {
        padding: 0;
        margin: 0;
    }
    
    #ProjectGallery_section #sliderProjectGallery li {
        height: 680px;
        background-color: #000000;
        overflow: hidden;
    }
	
	.sliderProjectGalleryli {
        height: 680px;
        background-color: #000000;
        overflow: hidden;
    }
    
    #ProjectGallery_section #sliderProjectGallery img.slide {
        max-height: 680px;
        margin: 0 auto;
    }

	
	
    #ProjectGallery_section .bx-wrapper {
        margin: 0 auto;
    }
  
    #ProjectGallery_section .bx-wrapper .bx-viewport {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: none;
        top: 50px;
        left: 0;
        background: none;
    }
    
    #ProjectGallery_section #ProjectGallerySlides .bx-wrapper .bx-prev {
	    background: url(../../images/carouselLeft.png)/*tpa=http://www.jacobs.com/images/carouselLeft.png*/ no-repeat 0 0;
    }
    
    #ProjectGallery_section #ProjectGallerySlides .bx-wrapper .bx-next {
	    background: url(../../images/carouselRight.png)/*tpa=http://www.jacobs.com/images/carouselRight.png*/ no-repeat 0 0;
    }
    
    #ProjectGallery_section #ProjectGallerySlides .bx-wrapper .bx-controls-direction a { 
	    width: 56px;
	    height: 56px;
	    top: 180px;
	    z-index: 55;
    }
    
    #ProjectGallery_section #slidePrevProjectGallery, #ProjectGallery_section #slideNextProjectGallery {
        position: absolute;
        top: 37px;
        width: 56px;
        z-index: 55;
    }
    
    #ProjectGallery_section #slideNextProjectGallery { 
        right: 0;
    }
    
    #ProjectGallery_section .bx-wrapper .bx-pager { /*Move dot indicators to the top, above the large images*/
        position: absolute;
        top: 0px;
        bottom: auto;
        background-color: #000000;
        padding-bottom: 17px;
    }
    
    #ProjectGallery_section .bx-wrapper .bx-pager a, #ProjectGallery_section .bx-wrapper .bx-pager a:hover,
    #ProjectGallery_section .bx-wrapper .bx-pager a.active {
        border: 0;
    }
    
    #ProjectGallery_section .bx-wrapper .bx-pager.bx-default-pager a {
        background-color: #777777;
    }
    
    #ProjectGallery_section .bx-wrapper .bx-pager.bx-default-pager a:hover, #ProjectGallery_section .bx-wrapper .bx-pager.bx-default-pager a.active {
        background-color: #ffffff;
    }
.globalTabtabs_arrow {
display:none;	
}
.globalTabtabs_arrowup{
display:none;	
}
.mobileonly {
display:none;	
}
.mobiledisplay {
display:none;	
}
.subFullWidthRotator {
display: block;
clear: both;
background-color: #000;
height: 100%;
}
#ProjectGallerySlides .bx-wrapper .bx-viewport {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: none;
        top: 50px;
        left: 0;
        background: none;	
}
#ProjectGallerySlides .bx-wrapper .bx-pager {
text-align: center;
font-size: .85em;
font-family: Arial;
font-weight: bold;
color: #666;
padding-top: 20px;
padding-bottom: 14px;
background-color:#000000;
top: -680px;
position: relative;
background-color: #000;
}
#ProjectGallerySlides li img {
margin: 0 auto;
max-height: 680px;
}
.nrmimportantinformation {
	font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
font-size: 15px;
line-height: 18px;
word-spacing: 0em;
letter-spacing: 0.015em;
padding-top: 15px;
}

		.publishdate {
			font-style: italic;
			font-size: 12px;
		}
		.announcementtitle {
			font-size: 24px;
			font-weight:bold;
		}
		.announcementtext {
			font-size: 18px;
			line-height: 20px;
		}
		.buttonposition {
			position:relative;
			top: 15px;
			left: 15px;
		}
		.announcementtable {
			background-color:white;
			width:840px;
		}
.awardscontentbox {		
			background-color: rgba(0,0,0,0.8);
			background-color: #000\9;  /* for IE7 & IE8 */
			width: 843px;
			height: 750px;
			margin-left: 225px;
			position: relative;
			top: 36px;
			left: 40px;
		}
		
		.awardsheadline {		
			font-size: 24px;
			color: white;
			position:relative;
			left: 20px;
			top: 20px;
		}	
		
		.awardsLeftCol {
			display: inline-block;
			float: left;
			font-family: "HelveticaNeueW01-57Cn";	
			color: white;
			font-size: 21px;
			line-height: 26px;
			word-spacing: 0em;
			letter-spacing: 0.015em;
			width: 360px;
			margin-left: 20px;
		}

		.awardsRightCol {
			display: inline-block;
			float: right;
			font-family: "HelveticaNeueW01-57Cn";	
			color: white;
			font-size: 21px;
			line-height: 26px;
			word-spacing: 0em;
			letter-spacing: 0.015em;
			width: 360px;
			margin-right: 20px;
			position:relative;
		}
		
		.awardtitle {
			font-family:'HelveticaNeueW01-67MdCn 692710', 'HelveticaNeueW01-67MdCn'; 
			font-size: 30px;		
		}
		
		.awardbody {
			font-family: HelveticaNeueW01-57Cn;
			font-size: 18px;
			letter-spacing: normal;
			display:block;
			line-height: 1em;
			color:white;
			word-spacing:0px;
		}
		
		.awardbulletlist {
			margin-left: -20px;
			vertical-align: middle;
			position:relative;
			top:-5px;
			line-height:normal;
			font-size:18px;
		}
		#jobsAwardsMain {
			width:100%;min-width:1210px;height:830px;margin-bottom:0px;
		}
				.resourcestitle {
			font-family:'HelveticaNeueW01-67MdCn 692710', 'HelveticaNeueW01-67MdCn'; 
			font-size: 30px;
			font-weight:bold;
			line-height: 40px;
			margin-bottom:10px;
		}
		
		.resourcescolumn {
			background-color: white;
			width: 213px;

		}
		.resourcescolumnframe {
		margin-bottom:20px;	
		
		}
		.resourecontentframe {
			margin-bottom:15px;
		}
		.resourcescolumnmaster {
			width: 198px;
			padding:10px;
			display:inline-block;
			float:left;
			margin-right:73px;
			
		}
		.resourcescolumnmaster_last {
			margin-right:0px;
		}
		.resourcesblankcolumn {
			background-color: inherit;
			width: 38px;
		}
		.resourcescolumnmaster img {
			text-align:center;
		}
		.applyforajob {
	border-right:solid; border-color:#b8b8b8; border-width:1px; padding-left: 10px; padding-right: 10px;
}

.applyforajobnoborder {
	border-right:none;
}
.videoWrapperTabs {
	float:right;
	margin-bottom:20px;
	margin-left:20px;
	margin-top:5px;
	margin-top:20px\9;
}
.videoWrapperTabsFrame {
	width:420px;
	height:236px;
}
.applyforjob_dropdown {
	width: 206px;
padding: 9px 0;
position: relative;
top: -43px;
left: 0;
color: #fff;
margin: 0;
font-size: 18px;
letter-spacing: 0.05em;
text-indent: 25px;
}
.applyforjob_dropdownbox {
position:relative !important; left:6px !important; top:-41px !important;

}
.ddlCraftListproperties {display:none;width:150px;}
.applyforjob_subheading {
	font-size:21px; 
	font-weight:normal;
}
.applyforajob_subtext {
	font-size:16px;
	font-weight:bold;
}
.applyBtn .applyforajob_buttonpadding {
text-align: center; 	
}
.applyforajob_employeesearch {
width: 206px; margin-bottom: 15px;	
}
.applyforajob_title {
	font-size: 28px; line-height: 31px; letter-spacing: normal;width: 209px;
}
.applyforajob_maintitle_left1 {
	display:inline-block; margin-right:15px;float:left;
}
.applyforajob_maintitle_right1 {
font-size: 27px; line-height: 31px; letter-spacing: normal;display:inline-block;float:left;	
}
.applyforajob_maintitle_right2 {
	font-size: 27px; line-height: 31px; letter-spacing: normal;display:inline-block; width:133px;
}
.applyforjob_buttonpadding1 {
margin-top: 61px;	
}
.applyforjob_buttonpadding2 {
	margin-top: 62px;
}
.applyforjob_buttonpadding3 {
	margin-top:1px;
	margin-top:8px\9;
}
.applyforjob_buttonpadding4 {
	margin-top: 62px;
}
.jobsApplyForAJobTabsContent_1_mobile, .jobsApplyForAJobTabsContent_2_mobile, .jobsApplyForAJobTabsContent_3_mobile, .jobsApplyForAJobTabsContent_4_mobile {display:none;}
.applyforjobswarning {margin-left:75px;max-width:680px;position:relative;top:-30px;}
}