
.buttonFindClosestOffice {
  float: right;
  margin: 20px 10px;
}
.getclosestlocation {
  float: left;
  height: 32px;
  margin: 18px 10px 0;
  cursor:pointer;
}

#jobsCareersOnTheMoveMainMobile.mobile{display:none;}
.bx-pager-link.active{width:inherit;}
/***** MOBILE *****/
@media screen and (min-width: 1px) and (max-width: 567px) {
.interior  .mobileNavUL{
	display:none;
}
.gridContainer.clearfix.interior.mobile > div {
  background-color: #fff;
}
.interior.mobile .more > ul {
  margin-bottom: 0px !important;
}
.mobileNav {
	background-color: #FFFFFF;
	position: relative;
	z-index: 1;
}
.more li {
	background-color: #FFFFFF;
	border-bottom: 1px solid #00338D !important;
	border-top: 1px solid #fff!important;
}
.subBanner {
	display: none;
}
.jobsCareersOnTheMoveLink.mobile > img {
	height: 58px;
}

.jobsCareersOnTheMoveDown {
	height: 10px !important;
	margin-top: 26px;
	float: right;
	margin-right: 20px;
}

.jobsCareersOnThMoveCTA {
	color: #FFFFFF;
	font-size: 16px;
	padding: 10px;
	text-align: center;
}
	
#jobsWhyJacobsTabs span > img {
  display: none;
}

#jobsWhyJacobsTabs span div h6{
	margin:-20px 15px 0px !important;
}
#subSectionTitleB {
float: left;
padding: 20px;
font-size:28px;
font-weight:bold;
line-height: 35px;
}
.jobsApplyForAJobTabsSlash {
  display: none !important;
}
#jobsApplyForAJobTabs {
  margin: 0 -10px -10px;
}
.globalTabJobs span > a,
#jobsApplyForAJobTabs span > a {
  background-image: url("../../images/Mobile_features_tab.png")/*tpa=http://www.jacobs.com/images/Mobile_features_tab.png*/;
  background-repeat: repeat-x;
  clear: both;
  cursor: pointer;
  display: block;
	padding-top:8px;
	padding-bottom:8px;
	line-height:1.1em;
  max-width: 100% !important;
  padding-left: 10px;
  text-decoration:none;
}
.globalTabJobs { max-width:100%; }
.globalTabJobs #globalTabSlash,
.globalTabJobs #globalTabLine,
.globalTabJobs .jobsCareersOnTheMoveLink { display:none; }
.globalTabJobs #globalTabsContent { padding:0 10px 10px; }

#StaffTab1 > img {
  width: 90% !important;
  float:none !important;
}
#subSectionTagline {
  margin-left: 20px !important;
}
#StaffTab2 #subSectionTagline,
#StaffTab3 #subSectionTagline,
#StaffTab4 #subSectionTagline {
  margin-right: 20px;
}
.filterType > img {
  width: 100%;
}
.ddlCraft {
  top: -31px !important;
  font-size: smaller;
  cursor:pointer;
}
.filterType > div, .filterLocation > div {
  left: 1px !important;
  position: relative;
  top: -5px !important;
}

ul.ddlCraftList, ul.ddlCraftLocationsList {
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  clear: left;
  display: block;
  list-style: none outside none;
  margin-top: -1px;
  z-index: 2;
}
.ddlCraftList > li {
  margin: 5px -32px;
}
div.subSection div div.subAllCol table tbody tr td span#subSectionTitleB {
  float: left;
  width: 60%;
  margin-top: -26px;
}
.subAllCol > table {
  margin-bottom: -100px !important;
}
.subFinePrint { font-size:13px; margin: 15px 10px 0; }
.subFinePrint a {
  float: left;
  width: 100% !important;
}
.subAllCol > div {
  /*width: 90%;*/
}
.filters {
  padding: 0px !important;
}
.JobEventsFilter .filters {
  padding: 0px 10px !important;
}
.ddlEventsLocations {
  background-position: 130% 0;
  width: 330px;
}
.ddlEventsList {
  margin-top: 43px !important;
  left: 5px;
}
.JobEventsFilter #JobEvents_Label2 + div .ddlEventsList {
  margin-top: 0px !important;
  left: 0px;
}
.row.head div h4 {
  font-size: 12px;
}
.row.head div {
  padding: 0;
  width: 20%;
}
.JobEvents .row {
  font-size: 14px !important;
}
.JobEvents .row div {
   width: 20%;
}
.row .date {
  margin-left: 20%;
  width: 100%;
}
.JobEvents .head .date {
  margin-left: 20% !important;
}
.subCarouselHoriz {
  display: none;
}
.globalTabJobs .subCarouselHoriz {
  margin-left:0 !important;
  float:none !important;
  max-width: 100%;
  box-sizing: border-box;
}
.globalTabJobs .subCarouselHoriz .bx-wrapper img { 
  height:auto; 
}
.globalTabJobs .subCarouselHoriz #subCarouselPrev2 img,
.globalTabJobs .subCarouselHoriz #subCarouselNext2 img,
.globalTabJobs .subCarouselHoriz #subCarouselPrev3 img,
.globalTabJobs .subCarouselHoriz #subCarouselNext3 img,
.globalTabJobs .subCarouselHoriz #subCarouselPrev4 img,
.globalTabJobs .subCarouselHoriz #subCarouselNext4 img,
.globalTabJobs .subCarouselHoriz #subCarouselPrevCraft img,
.globalTabJobs .subCarouselHoriz #subCarouselNextCraft img { 
  top: 50% !important;
  margin-top: -28px;
  left: -9px !important;
}
.globalTabJobs .subCarouselHoriz #subCarouselNext2 img,
.globalTabJobs .subCarouselHoriz #subCarouselNext3 img,
.globalTabJobs .subCarouselHoriz #subCarouselNext4 img,
.globalTabJobs .subCarouselHoriz #subCarouselNextCraft img { 
  left:inherit !important; 
  left:initial !important; 
  right:-20px; 
}
.globalTabJobs .subCarouselHoriz #subCarouselPrevCraft a,
.globalTabJobs .subCarouselHoriz #subCarouselNextCraft a { 
  display: none;
}
.globalTabJobs .subCarouselHoriz #subCarouselPrevCraft a:first-child,
.globalTabJobs .subCarouselHoriz #subCarouselNextCraft a:first-child { 
  display: inline;
}
.globalTabJobs  {}

#WhyJacobsTab5 p img { display:block; float:none; max-width:100%; }
#WhyJacobsTab1 .bulletlist { padding-left:10px; }
#WhyJacobsTab2 .bulletlist { padding-left:10px; }

.searchbox input {
 background-color: #E8E8E8;
border: 1px solid #002B73 !important;
width:50% !important;
}

.getclosestlocation {
  margin: 10px 10px 0;
}
.WorkLocationsContainer {
  margin-top: 0 !important;
}
.searchbox {
  margin-bottom: 50px;
}
.WorkLocationsSearch {
  top: 0 !important;
}
.progressBar {
  z-index: 10;
  top: 100px !important;
}
.MainRegions {
  left: -10px;
  position: relative;
  text-indent: 10px;
}
.MainRegion_114_112, .MainRegion_114_113,  .MainRegion_114_114, .MainRegion_114_115, .MainRegion_114_116, .MainRegion_114_117, .MainRegion_114_118, .MainRegion_114_119{
top:0 !important;
}
.MainRegion > a:after {
  content: url("../../images/carouselArrowDown.png")/*tpa=http://www.jacobs.com/images/carouselArrowDown.png*/;
  position: absolute;
  right: 15px;
}
div#AllLocationsContainerID.AllLocationsContainer div.RegionLocations div.column {
  float: none !important;
}

div#AllLocationsContainerID.AllLocationsContainer div.RegionLocations div.column {
  float: none !important;
}
.tax234 .LocationList .cityColumn {
  width: 200% !important;
}
div#AllLocationsContainerID.AllLocationsContainer div.RegionLocations div.column {
  width: 180% !important;
}
div.WorkLocationsContainer div.MainRegion {
  background-repeat: repeat-x;
}

h7{color:#000;}
.tax240 ul .cityColumn {
  float:none !important;
}
.cityColumn {
  width: 200%;
}



.row .date {
  margin-left: 40px !important;
}

#jobsCareersOnTheMoveMainMobile.mobile{display:none;}

.mobileNav #navUtilSearch {
  width: 100%;
}
.mobile .gsc-input input {
  border: 1px solid #666666 !important;
  padding: 6px !important;
}
.mobile .gsc-search-button.gsc-search-button-v2 {
  position: relative;
  right: 20px;
  top: 8px;
}
.ddlEventsLocationsList a {
  font-size: 12px;
}
.ddlEventsLocations {
  width: 180% !important;
  background-position: -225px 0 !important;
}
ul.ddlEventsLocationsList {
  width: 220px !mportant;
}





}
