#navHead1, #navHead2, #navHead3, #navHead4, #navDiag, #navUtil, .leftNav, .bx-next, .bx-prev, #subContactUsBG, #globalNavExpanded {
	display:none;
}
body {
	-webkit-font-smoothing: antialiased;
}
@media all {
	.page-break	{ display: none; }
}

@media print {
	.page-break	{ display: block; page-break-before: always; }
}
.backstretch {
	width:100% !important;
	max-height:300px !important;

}

.backstretch img {
	width:100% !important;
	min-height:150px !important;
	max-height:300px !important;
}

.printbreak {
	page-break-after:always;
}


.subCarouselHoriz .bx-wrapper .bx-viewport {
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	border:none;
	height:288px !important;
}

.subCarouselHoriz  .bx-wrapper .bx-viewport img {

max-height:228px !important;}

.subCarouselHoriz .bx-wrapper .bx-caption {
}

.subCarouselHoriz .bx-wrapper .bx-caption span {
display:block;
margin-top:30px;
z-index:999;

}

.subRightCol .bx-wrapper .bx-viewport {
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	border:none;
	height:405px !important;
}

.subRightCol  .bx-wrapper .bx-viewport img {

max-height:375px !important;}

.subRightCol .bx-wrapper .bx-caption {
}

.subRightCol .bx-wrapper .bx-caption span {
display:block;
margin-top:30px;
z-index:999;

}


#seeourresults_testimonials_leftcolumn {
	float:left;
	margin-right:80px;
}
#seeourresults_testimonials_rightcolumn {
	float:left !important;
}

.gridContainer {
	width: 88.2%;
	max-width: 1210px;
	padding-left: 0.9%;
	padding-right: 0.9%;
	margin: auto;
}


#globalNav {
	clear: both;
	float: left;
	margin-left: 0;
	height: 83px;
	width: 100%;
	display: block;
	background-color: #efefef;
	border-bottom: 1px solid #dddddd;
		left: 0px;
	z-index: 5;
}

#wrapper {
	float: left;
	display:inline-block;
	background-color: #fff;
	width: 784px;
	height: 83px;
	z-index: 6;
}
#logo {
	float: left;
	width: 167px;
	margin-top: 29px;
	margin-left: 20px;
}

#main {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#mainSub {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	position: absolute;
		top: 84px;
		left: 0px;
}
#globalFooter {
	clear: both;
	bottom: 0px;
	left: 0px;
	position: fixed;
	top: auto !important;
	width: 100%;
	min-width: 1210px;
	background-color: #fff;
	height: 56px;
	border-color: #dddddd;
	border-style: solid;
	border-top-width: 1px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
}
#globalFooterSub {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	min-width: 1210px;
	background-color: #fff;
	height: 56px;
	border-color: #dddddd;
	border-style: solid;
	border-top-width: 1px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
}

#globalFooterNav {
	display: inline-block;
	float: right;
	font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
	font-size: 12px;
	line-height: 1.0;
	color: #898989;
	background-color: #fff;
	height: 55px;
	z-index: 15;
	padding-left: 100px;
	position: absolute;
		/*left: 735px;*/
		left: 635px;
		top: 0px;
		/*left: 635px;  future - for iPad landscape*/		
}



/* mst - global subsection styles */
.anchor {
	display: block;
	position: relative;
	padding-top: 84px; /* anchor offset */
	visibility:hidden;	
}

.anchortop {
	display: block;
	position: absolute;
		top: -84px;
}
	

.leftNav {
	position: fixed;
	left: 0;
	top: 354px;
	border-width: 4px 4px 4px 0;
	border-style: solid;
	border-color: #ebebeb;
	box-shadow: 0 0 5px #000000;
	background-color: #ffffff;
	overflow: hidden;
	z-index: 60;
}

.subSection {
	background-color: #f2f2f2;
	width: 100%;
	min-width: 1210px;
	height: 100%;
	font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;		
	clear: both;
	float: left;
}

.subBanner {
	width: 100%;
	min-width: 1210px;
	height: 200px;
	background-size:cover;
}

.subClosingBanner {
	width: 100%;
	min-width: 1210px;
	height: 4px;
	background-size:cover;
}

.subBreadCrumbTrail {
	height: 30px;
	width: 100%;
	background-color: #fff;
	display: inline-block;
}

.subBreadCrumbTrailBlue {
	float: left;
	height: 30px;
	width: 239px;
	background-color: #00338d;
	content: url('../../images/print_banner_sectionheading.jpg')/*tpa=http://www.jacobs.com/images/print_banner_sectionheading.jpg*/;

}
.subBreadCrumbTrailText {
	display: inline-block;
	font-family: "HelveticaNeueW01-77BdCn 692722", Helvetica, Verdana, sans-serif;
	font-size: 17px;
	padding-left: 25px;
	margin-top: 6px;
	background-color: #fff;
	max-width: 100%;
	line-height: 18px;
	word-spacing: 0.1em;
	letter-spacing: 0.00em;		
}

.subAllCol {
	display: inline-block;
	float: left;	
	font-size: 21px;
	line-height: 26px;
	word-spacing: 0em;
	letter-spacing: 0.015em;
	width: 800px;
	margin-left: 265px;
	background-color:#f2f2f2;
}


.subLeftCol {
	display: inline-block;
	float: left;
	font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;	
	font-size: 21px;
	line-height: 26px;
	word-spacing: 0em;
	letter-spacing: 0.015em;
	width: 360px;
	margin-left: 265px;
}

.subRightCol {
	display: inline-block;
	float:right;
	font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
	font-size: 21px;
	line-height: 26px;
	word-spacing: 0em;
	letter-spacing: 0.015em;
	width: 360px;
	vertical-align: top;
	overflow: visible;
}

.subQuote {
	font-family:'HelveticaNeueW01-67MdCn 692710', 'HelveticaNeueW01-67MdCn', Helvetica, Verdana, sans-serif; 
	font-size:24px; 
	line-height:28px; 
	letter-spacing:0.02em; 
	margin-left:-12px;
	overflow:visible;
}

.subQuoteAttribution {
	font-size:21px; 
	line-height:28px; 
	word-spacing:0.01em; 
	letter-spacing:0.015em;	
}

.subSeeAlsoBox {
	width:300px;
	background-color:white;
	padding:10px;	
}

.subSeeAlsoBoxHoriz {
	width:400px;
	background-color:white;
	padding:10px;	
}

.subSeeAlsoBoxVert {
	width:320px;
	background-color:white;
	padding:10px;	
}

.subSeeAlsoContracts {
	list-style-type: none; 
	font-size: 16px;
	position: relative;
	left: -10px;	
}


.subCarouselHoriz {
	display: block;
	clear: both;
	background-color: #f2f2f2;
	max-width: 840px;
	height: 100%;
	margin-left:265px;
}

.subCarouselPrev {
	clear:both;
	float: left;
	display: inline-block;
}
.subCarouselNext {
	display: inline-block;
}

.subCarouselPrev2 {
	clear:both;
	float: left;
	display: inline-block;
}
.subCarouselNext2 {
	display: inline-block;
}

/* end global subsection styles */



h1 {
	font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
	font-size: 48px;
	background-color: #f2f2f2;
	line-height: 54px;
	word-spacing: 0em;
	letter-spacing: 0.015em;
	margin-left: 265px;
	margin-top: 30px;
	max-width:780px;
}

h2 {
	font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
	font-size: 40px;
	font-weight: normal;
	line-height: 58px;
	word-spacing: 0em;
	letter-spacing: 0.015em;
	margin-left: 265px;
	margin-top: 24px;
}

h6 {
	font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
	font-size: 16px;
	font-weight: normal;
	line-height: 20px;
	word-spacing: 0em;
	letter-spacing: 0.015em;
}


#subSmallText {
	font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
	font-size: 16px;
	line-height: 20px;
	word-spacing: 0em;
	letter-spacing: 0.015em;
}

.subFinePrint {
	font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
	font-size: 14px;
	line-height: 18px;
	word-spacing: 0em;
	letter-spacing: 0em;
	color:#898989;	
}

#globalTab {
	background-color: #ffffff;
	font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
	font-size: 21px;
	color: #00338d;
	width: 230px;
	display: inline-block;
	word-spacing: 0em;
	letter-spacing: 0.015em;
	position:relative;
	top:15px\9; /* for IE7 & IE8 */
}

#globalTabSlash {
	position:relative;
	top:-15px;
	top:-5px\9; /* for IE7 & IE8 */	
	margin:1px;
}


 #main {
	font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
  color: #FFFFFF;
  font-size: 42px;
  padding: 10px;
  position: relative;
  top: 250px;
  width:300px;

color: #FFFFFF;
font-family: "HelveticaNeueW01-67MdCn 692710","HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
text-shadow: 2px 2px 2px #000000;
 
}
