
#page{
	width: 960px;
	margin: 0 auto;
}

#page-wrapper {
	width: 960px;
	margin: 0 auto;
	float:left;
	position:relative;
	padding-bottom:35px;
}


#image-slider{
	position: relative;
	width :960px; /* set width via option */
	height :338px; /* set height via option */
        margin: 0 auto;
	/*border: 10px solid #fafafa;
	padding: 5px;
	background :#4e4e4e;*/
	overflow : visible ;
	float:left;
        padding-top: 1px;	
	
	/* shadow */
	/*-moz-box-shadow: 0 0 10px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Color=#4e4e4e, direction=120, strength=5)";
    filter: progid:DXImageTransform.Microsoft.Shadow(Color=#4e4e4e, direction=120, strength=5);  
	*/
}

#image-slider .info { position: absolute; top: 15px; right: 25px; width: 320px;  }
#image-slider .info p span { display: block; }



#global-tabs{
    padding-top:30px;
	float:left;
}

#global-tabs .service_meta_bot{
    bottom:15px;
	position:absolute;
	left:50px;
}
#global-tabs .service_item .region{
    height:100%;
}
#global-tabs.service_item .region div.block {
    height:100%;
}

.service_item {
	text-align:center;
	float:left;
	position:relative;
	width:145px;
	height:265px;
    background:#fff;
	box-shadow:0 0 12px rgba(171,139,110,.38);
	-webkit-box-shadow:0 0 12px rgba(171,139,110,.38);
	-moz-box-shadow:0 0 12px rgba(171,139,110,.38);
	/*padding:20px;*/
    margin: 0 10px 35px;
}
.service_item:first-child{
	margin-left: 0px;
}
.service_item:last-child{
	margin-right: 0px;
	float: right;
}

.service_item .service_img,
.team-box .team-image {
	margin:10px;
}

.service_item .service_title h2 {
	font-size:22px;
	color:#5c5146;
	line-height: 25px;
	vertical-align: middle;}

.service_item .service_desc {
	margin-bottom:20px;}

.service_item .service_desc p,
.team-text p{
	font-style: italic;
	color:#8e8071 ;
	font-size:14px;
}
.link-more {
    color: #e86741;
    font-size: 16px;
    font-weight: bolder;
    text-transform: uppercase;
}

#testimonials{
    position: relative;
    width: 960px;
	clear:both;
	/*top:25px;*/
	background-color:#f3f3f3;
	float:left;
}
.bubble {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: absolute;
	padding:35px;
	opacity: 0.8;
	left:10px;
	top:10px;
    z-index: 1001;
	width:145px;
}
@-moz-document url-prefix() {
    .bubble {
		left:-35px;
		top:-35px;
	}
	#global-tabs .service_meta_bot{
		bottom:-25px;
		position:absolute;
		left:15px;
	}
}

.bubblediv{
	height:auto;
	background-color: #668eb6;
	border: 1px solid #fff;
	padding: 10px;
    width: 50px;
	float:left;
	color: #fff;
	font-weight: bold;
}
.bubblediv:hover{
	background-color: #FFAD33;
	color: #FFF;
	font-weight: bold;
	cursor:pointer;
}
.bubblediv.active {
    background-color: #add633;
    color: #000;
}

.event-bubble {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: absolute;
	padding:35px;
	opacity: 0.8;
    z-index: 1001;
	/*left: 450px;*/
	left:330px;
	width:220px;
}
.event-bubble .bubblediv{
	height:auto;
	background-color: #668eb6;
	border: 1px solid #fff;
	padding: 10px;
    text-align: center;
    width: auto;
	float:left;
	color: #fff;
	font-weight: bold;
}

.event-bubble .bubblediv:hover{
	background-color: #FFAD33;
	color: #FFF;
	font-weight: bold;
	cursor:pointer;
}
.event-bubble .bubblediv.active {
    background-color: #add633;
    color: #000;
}

#mapview{
	clear:both;
	position:relative;
	float:left;
	top: 35px;
    /*height: 375px;
    box-shadow:0 0 12px rgba(171,139,110,.38);
    -webkit-box-shadow:0 0 12px rgba(171,139,110,.38);
    -moz-box-shadow:0 0 12px rgba(171,139,110,.38);*/
}

#mapview .title{
       font-family: "HelveticaNeueW02-57LtCn 694048",arial,sans-serif;
       color:#6e6e6e;
       font-weight: normal;
       font-size: 17.2px;
       text-transform: uppercase;
}

.throbber-new {
	background: url("../images/throbber.gif") no-repeat scroll 50% 50%;
	background-color: #000;
	height: 100%;
	padding: 10px;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	z-index: 9999;
	opacity:0.85;
}

.country-div{
	margin-bottom: 10px;
    margin-top: 5px;
}
.country-div a.caption{
	background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-family: "Open Sans",sans-serif;
    font-size: 1.3em;
    font-weight: 700;
    margin: 0;
    padding: 10px 15px;
    position: relative;
    text-align: center;
	width: 150px;
	text-decoration:none;
	/*left:320px;*/
	left:400px;
}

.eventsCalendar-list h3{
    font-size: 150%;
    font-weight: bold;
	padding-top: 10px;
	color:#807e7e;
}
.eventsCalendar-list ul{
	padding-top:5px;
}
.eventsCalendar-list ul li{
	list-style-type: none;
}
.eventsCalendar-list ul li p{
	list-style-type: none;
}
.eventsCalendar-list ul li a{
    color: #0e8eab;
	font-weight: bold;
    text-decoration: none;
	font-size: 120%;
}

#cboxTitle p{
	font-family: "HelveticaRegular",arial,sans-serif;
    font-size: 13px;
    padding: 5px;
}

#content-area{
	float:left;
}
#content-area .service_item{
	float:left;
}

.carousel-container {
        box-shadow:0 0 12px rgba(171,139,110,.38);
        -webkit-box-shadow:0 0 12px rgba(171,139,110,.38);
        -moz-box-shadow:0 0 12px rgba(171,139,110,.38);
}

.carousel-container .testimonials-div:first-child{
	padding-left:27px;
}

.testimonials-div{
	float: left;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-left: 45px;
    padding-right: 55px;
    width: 215px;
}
.view-calendar{
	width:930px;
}
.view-calendar .date-heading h3{
	width:930px;
}
