/*Telerik RadInput Default Skin*/

/*global*/

.RadInput_Default,
.RadInputMgr_Default
{
	font:12px "segoe ui",arial,sans-serif;
}

/*textbox states*/

html body .RadInput_Default .riTextBox,
html body .RadInputMgr_Default
{
	border-color:#8e8e8e #b8b8b8 #b8b8b8 #8e8e8e;
	background:#fff;
	color:#000;
	font:12px "segoe ui",arial,sans-serif;
}

html body .RadInput_Default .riEmpty,
html body .RadInput_Empty_Default
{
	color:#8a8a8a;
}

html body .RadInput_Default .riHover,
html body .RadInput_Hover_Default,
html body .RadInput_Default .riFocused,
html body .RadInput_Focused_Default
{
	border-color:#515151;
}

html body .RadInput_Default .riRead,
html body .RadInput_Read_Default
{
	border-color:#d0d0d0;
}

html body .RadInput_Default .riDisabled,
html body .RadInput_Disabled_Default
{
	border-color:#d0d0d0;
	color:#8a8a8a;
	cursor:default;
}

html body .RadInput_Default .riError,
html body .RadInput_Error_Default
{
	border-color:#d51923;
	background:#fff 100% -298px no-repeat url('WebResource.axd-d=dcTMdTfPI-ST9mxMRYeMRmYgGYz5MQ4tcM4YnswOWsW66zrzDXCCKzEixd1Zj_NJpuRaWjQ6LqFwZMi9N06u_A2&t=634197184800000000.gif')/*tpa=http://www.lb.com/WebResource.axd?d=dcTMdTfPI-ST9mxMRYeMRmYgGYz5MQ4tcM4YnswOWsW66zrzDXCCKzEixd1Zj_NJpuRaWjQ6LqFwZMi9N06u_A2&t=634197184800000000*/;
	color:#d51923;
}

.RadForm.rfdTextbox .RadInput_Default .riError[type="text"],
.RadForm.rfdTextbox .RadInput_Error_Default[type="text"]
{
	border-color:#d51923;
	background:#fff 100% -298px no-repeat url('WebResource.axd-d=dcTMdTfPI-ST9mxMRYeMRmYgGYz5MQ4tcM4YnswOWsW66zrzDXCCKzEixd1Zj_NJpuRaWjQ6LqFwZMi9N06u_A2&t=634197184800000000.gif')/*tpa=http://www.lb.com/WebResource.axd?d=dcTMdTfPI-ST9mxMRYeMRmYgGYz5MQ4tcM4YnswOWsW66zrzDXCCKzEixd1Zj_NJpuRaWjQ6LqFwZMi9N06u_A2&t=634197184800000000*/;
	color:#d51923;
}

html body .RadInput_Default .riNegative,
html body .RadInput_Negative_Default
{
	color:#565656;
}

/*buttons*/

.RadInput_Default a
{
	background:transparent no-repeat url('WebResource.axd-d=dcTMdTfPI-ST9mxMRYeMRmYgGYz5MQ4tcM4YnswOWsW66zrzDXCCKzEixd1Zj_NJpuRaWjQ6LqFwZMi9N06u_A2&t=634197184800000000.gif')/*tpa=http://www.lb.com/WebResource.axd?d=dcTMdTfPI-ST9mxMRYeMRmYgGYz5MQ4tcM4YnswOWsW66zrzDXCCKzEixd1Zj_NJpuRaWjQ6LqFwZMi9N06u_A2&t=634197184800000000*/;
}

/*go*/

.RadInput_Default .riBtn a
{
	width:20px;
	height:18px;
	line-height:18px;
	background-position:3px 5px;
}

.RadInput_Default .riBtn a:hover
{
	background-position:3px -45px;
}

/*spin*/

.RadInput_Default .riSpin a
{
	width:15px;
	height:7px;
	line-height:7px;
}

.RadInput_Default .riUp
{
	background-position:4px -98px;
}

.RadInput_Default .riUp:hover
{
	background-position:4px -148px;
}

.RadInput_Default a.riDown
{
	background-position:4px -199px;
}

.RadInput_Default a.riDown:hover
{
	background-position:4px -249px;
}

/*label*/

.RadInput_Default .riLabel
{
	color:#000;
}