/* line 41, ../../../../../../workspace/submoduled-assets/styles/_vars.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 4, ../../../../../../workspace/submoduled-assets/styles/_sprites.scss */
.ui-radio, .ui-checkbox {
  display: block;
  overflow: hidden;
  text-indent: 102%;
  white-space: nowrap;
  background: url('../images/sprites/sprites-s6882c8ed69.png')/*tpa=https://www.leidos.com/sites/all/themes/leidos/images/sprites/sprites-s6882c8ed69.png*/ no-repeat;
}

/* line 1, ../../../../../../workspace/submoduled-assets/styles/home/_home-contact-careers.scss */
.home-contact-careers-wrap {
  background: #e8e8e8;
  min-width: 860px;
}
/* line 5, ../../../../../../workspace/submoduled-assets/styles/home/_home-contact-careers.scss */
.home-contact-careers-wrap > .inside {
  max-width: 1180px;
  min-width: 990px;
  margin: 0 auto;
}
/* line 10, ../../../../../../workspace/submoduled-assets/styles/home/_home-contact-careers.scss */
.home-contact-careers-wrap > .inside .panels-flexible-column {
  width: 42.25%;
  padding: 95px 0 85px;
}
/* line 14, ../../../../../../workspace/submoduled-assets/styles/home/_home-contact-careers.scss */
.home-contact-careers-wrap > .inside .panels-flexible-column.home-contact {
  padding-right: 6%;
  margin-left: 7.9661%;
}
/* line 18, ../../../../../../workspace/submoduled-assets/styles/home/_home-contact-careers.scss */
.home-contact-careers-wrap > .inside .panels-flexible-column.home-contact > .inside {
  position: relative;
}
/* line 21, ../../../../../../workspace/submoduled-assets/styles/home/_home-contact-careers.scss */
.home-contact-careers-wrap > .inside .panels-flexible-column.home-contact .form-text {
  width: 100%;
  padding: 14px 15px 13px;
}
/* line 25, ../../../../../../workspace/submoduled-assets/styles/home/_home-contact-careers.scss */
.home-contact-careers-wrap > .inside .panels-flexible-column.home-contact .more-button {
  margin: 0px;
}
/* line 28, ../../../../../../workspace/submoduled-assets/styles/home/_home-contact-careers.scss */
.home-contact-careers-wrap > .inside .panels-flexible-column.home-contact label.error {
  width: 100%;
}
/* line 32, ../../../../../../workspace/submoduled-assets/styles/home/_home-contact-careers.scss */
.home-contact-careers-wrap > .inside .panels-flexible-column.home-careers {
  background: -moz-linear-gradient(left, #e8e8e8 0%, #e8e8e8 94%, #dbdbdb 100%, #888888 118%, #e8e8e8 100%);
  background: -webkit-linear-gradient(right, #e8e8e8 0%, #e8e8e8 94%, #dbdbdb 100%, #888888 118%, #e8e8e8 100%);
  background: linear-gradient(to left, #e8e8e8 0%, #e8e8e8 94%, #dbdbdb 100%, #888888 118%, #e8e8e8 100%);
  padding-left: 6%;
  margin-right: 7.28814%;
}
/* line 40, ../../../../../../workspace/submoduled-assets/styles/home/_home-contact-careers.scss */
.home-contact-careers-wrap > .inside .panels-flexible-column .contact-careers {
  color: #8b8b8b;
  font-family: AvenirLT-Book, Arial, sans-serif;
}
/* line 44, ../../../../../../workspace/submoduled-assets/styles/home/_home-contact-careers.scss */
.home-contact-careers-wrap > .inside .panels-flexible-column .contact-careers label {
  width: auto;
}
/* line 47, ../../../../../../workspace/submoduled-assets/styles/home/_home-contact-careers.scss */
.home-contact-careers-wrap > .inside .panels-flexible-column .contact-careers label .form-required {
  display: none;
}
/* line 52, ../../../../../../workspace/submoduled-assets/styles/home/_home-contact-careers.scss */
.home-contact-careers-wrap > .inside .panels-flexible-column .contact-careers h1,
.home-contact-careers-wrap > .inside .panels-flexible-column .contact-careers h2 {
  margin: 0;
  font-family: AvenirLT-Light, Arial, sans-serif;
  font-size: 60px;
}
/* line 59, ../../../../../../workspace/submoduled-assets/styles/home/_home-contact-careers.scss */
.home-contact-careers-wrap > .inside .panels-flexible-column .contact-careers img {
  border: #fff 6px solid;
  margin: 10px 0 0;
  width: 98%;
}
/* line 65, ../../../../../../workspace/submoduled-assets/styles/home/_home-contact-careers.scss */
.home-contact-careers-wrap > .inside .panels-flexible-column .contact-careers a {
  font-size: 12px;
}
/* line 69, ../../../../../../workspace/submoduled-assets/styles/home/_home-contact-careers.scss */
.home-contact-careers-wrap > .inside .panels-flexible-column .contact-careers p {
  color: #8b8b8b;
  font-family: AvenirLT-Book, Arial, sans-serif;
  padding: 10px 0 2px;
}
/* line 73, ../../../../../../workspace/submoduled-assets/styles/home/_home-contact-careers.scss */
.home-contact-careers-wrap > .inside .panels-flexible-column .contact-careers p.subhead {
  width: 99%;
}
/* line 77, ../../../../../../workspace/submoduled-assets/styles/home/_home-contact-careers.scss */
.home-contact-careers-wrap > .inside .panels-flexible-column .contact-careers .field-body {
  padding-top: 11px;
  line-height: 1.6em;
}
/* line 81, ../../../../../../workspace/submoduled-assets/styles/home/_home-contact-careers.scss */
.home-contact-careers-wrap > .inside .panels-flexible-column .contact-careers .form-item {
  clear: both;
  width: 91%;
  max-width: 420px;
  min-width: 200px;
  margin: 20px 0;
  padding: 0;
}
/* line 89, ../../../../../../workspace/submoduled-assets/styles/home/_home-contact-careers.scss */
.home-contact-careers-wrap > .inside .panels-flexible-column .contact-careers .form-item input {
  background-color: #fff;
}
/* line 93, ../../../../../../workspace/submoduled-assets/styles/home/_home-contact-careers.scss */
.home-contact-careers-wrap > .inside .panels-flexible-column .contact-careers .form-item input + label.error {
  height: auto;
  margin: 0;
  width: auto;
  position: relative;
  float: right;
}
/* line 102, ../../../../../../workspace/submoduled-assets/styles/home/_home-contact-careers.scss */
.home-contact-careers-wrap > .inside .panels-flexible-column .contact-careers .form-actions {
  padding-top: 10px;
}
/* line 106, ../../../../../../workspace/submoduled-assets/styles/home/_home-contact-careers.scss */
.home-contact-careers-wrap > .inside .panels-flexible-column .contact-careers .input-with-button {
  margin-top: 30px;
  width: 98%;
}
/* line 110, ../../../../../../workspace/submoduled-assets/styles/home/_home-contact-careers.scss */
.home-contact-careers-wrap > .inside .panels-flexible-column .contact-careers .input-with-button input {
  background: #fff;
  margin: 0;
}
/* line 119, ../../../../../../workspace/submoduled-assets/styles/home/_home-contact-careers.scss */
.home-contact-careers-wrap .col {
  width: auto;
}

/* line 126, ../../../../../../workspace/submoduled-assets/styles/home/_home-contact-careers.scss */
.full-form-text, .full-form-text * {
  display: inline !important;
}
/* line 130, ../../../../../../workspace/submoduled-assets/styles/home/_home-contact-careers.scss */
.full-form-text {
  position: absolute;
  margin-top: -42px;
  left: 170px;
  white-space: nowrap;
}
/* line 137, ../../../../../../workspace/submoduled-assets/styles/home/_home-contact-careers.scss */
.full-form-text a {
  font-size: 12px;
  line-height: 38px;
}

/* line 144, ../../../../../../workspace/submoduled-assets/styles/home/_home-contact-careers.scss */
.lt-ie9 .full-form-text {
  position: relative;
  top: -54px;
  left: 200px;
}
/* line 149, ../../../../../../workspace/submoduled-assets/styles/home/_home-contact-careers.scss */
.lt-ie9 .home-careers {
  border-left: 1px solid #bbb;
}

/* line 1, ../../../../../../workspace/submoduled-assets/styles/home/_home-featured-stories.scss */
.featured-stories-panel {
  width: 100%;
  position: relative;
  background: url("../images/left-slant-bg.png")/*tpa=https://www.leidos.com/sites/all/themes/leidos/images/left-slant-bg.png*/ no-repeat 50% 0px white;
  min-width: 960px;
  overflow: hidden;
}
/* line 8, ../../../../../../workspace/submoduled-assets/styles/home/_home-featured-stories.scss */
.featured-stories-panel .directional-controls {
  top: 270px;
}
/* line 14, ../../../../../../workspace/submoduled-assets/styles/home/_home-featured-stories.scss */
.featured-stories-panel .pane-featured-news-carousel-view .field-carousel-image img {
  border: 8px solid #fff;
  /* stroke */
  background-color: #000;
  /* layer fill content */
  -moz-box-shadow: 0 0 54px rgba(0, 0, 0, 0.1);
  /* outer glow */
  -webkit-box-shadow: 0 0 54px rgba(0, 0, 0, 0.1);
  /* outer glow */
  box-shadow: 0 0 54px rgba(0, 0, 0, 0.1);
  /* outer glow */
  margin: 22px auto;
}
/* line 23, ../../../../../../workspace/submoduled-assets/styles/home/_home-featured-stories.scss */
.featured-stories-panel .pane-featured-news-carousel-view .super-head, .featured-stories-panel .pane-featured-news-carousel-view .counter {
  display: inline;
  font-family: AvenirLT-Black, Arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}
/* line 32, ../../../../../../workspace/submoduled-assets/styles/home/_home-featured-stories.scss */
.featured-stories-panel .pane-featured-news-carousel-view .super-head {
  margin-top: 0;
}
/* line 36, ../../../../../../workspace/submoduled-assets/styles/home/_home-featured-stories.scss */
.featured-stories-panel .pane-featured-news-carousel-view .counter {
  color: #ababab;
}
/* line 40, ../../../../../../workspace/submoduled-assets/styles/home/_home-featured-stories.scss */
.featured-stories-panel .pane-featured-news-carousel-view .head-separator {
  margin-left: 20px;
}
/* line 44, ../../../../../../workspace/submoduled-assets/styles/home/_home-featured-stories.scss */
.featured-stories-panel .pane-featured-news-carousel-view h2 {
  margin-top: 0;
  margin-bottom: 22px;
  line-height: 1.175em;
}
/* line 49, ../../../../../../workspace/submoduled-assets/styles/home/_home-featured-stories.scss */
.featured-stories-panel .pane-featured-news-carousel-view .subhead {
  margin-bottom: 30px;
}
/* line 53, ../../../../../../workspace/submoduled-assets/styles/home/_home-featured-stories.scss */
.featured-stories-panel .pane-featured-news-carousel-view a {
  font-size: 12px;
}
/* line 57, ../../../../../../workspace/submoduled-assets/styles/home/_home-featured-stories.scss */
.featured-stories-panel .pane-featured-news-carousel-view p:last-child {
  margin-bottom: 0;
}
/* line 64, ../../../../../../workspace/submoduled-assets/styles/home/_home-featured-stories.scss */
.featured-stories-panel .pane-featured-news-carousel-view .slideshow .featured-story {
  padding: 0;
  width: 100%;
}

/* line 1, ../../../../../../workspace/submoduled-assets/styles/home/_home-about.scss */
.home-about-wrap {
  background-color: #fff;
  background: url(../images/about-bg-large.png)/*tpa=https://www.leidos.com/sites/all/themes/leidos/images/about-bg-large.png*/ top center no-repeat;
  background: url(../images/about-bg-large.png)/*tpa=https://www.leidos.com/sites/all/themes/leidos/images/about-bg-large.png*/ top center no-repeat, url(../images/about-bg.png)/*tpa=https://www.leidos.com/sites/all/themes/leidos/images/about-bg.png*/ 50% 0px repeat-x;
}
/* line 7, ../../../../../../workspace/submoduled-assets/styles/home/_home-about.scss */
.home-about-wrap > .inside {
  display: table;
  height: 640px;
  max-width: 1180px;
  min-width: 990px;
  margin: 0 auto;
}
/* line 14, ../../../../../../workspace/submoduled-assets/styles/home/_home-about.scss */
.home-about-wrap > .inside .home-about-left {
  display: table-cell;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  width: 37%;
  float: none;
}
/* line 22, ../../../../../../workspace/submoduled-assets/styles/home/_home-about.scss */
.home-about-wrap > .inside .home-about-left > .inside {
  margin: 0 15% 0 -15%;
}
/* line 25, ../../../../../../workspace/submoduled-assets/styles/home/_home-about.scss */
.home-about-wrap > .inside .home-about-left h2 {
  font-size: 60px;
}
/* line 30, ../../../../../../workspace/submoduled-assets/styles/home/_home-about.scss */
.home-about-wrap > .inside .home-about-right {
  display: table-cell;
  margin: 0;
  width: 36%;
  vertical-align: middle;
  float: none;
}
/* line 37, ../../../../../../workspace/submoduled-assets/styles/home/_home-about.scss */
.home-about-wrap > .inside .home-about-right > .inside {
  margin-left: 20%;
}
/* line 41, ../../../../../../workspace/submoduled-assets/styles/home/_home-about.scss */
.home-about-wrap > .inside .home-about-right h2 {
  font-size: 12px;
  text-transform: uppercase;
  font-family: AvenirLT-Black, Arial, sans-serif;
}
/* line 47, ../../../../../../workspace/submoduled-assets/styles/home/_home-about.scss */
.home-about-wrap > .inside .home-about-right .about-bg {
  position: absolute;
  left: -575px;
  top: 0;
  z-index: -1;
}
/* line 54, ../../../../../../workspace/submoduled-assets/styles/home/_home-about.scss */
.home-about-wrap > .inside .home-about-right .mission {
  border-top: #e8e8e8 1px solid;
  max-width: 400px;
  padding: 80px 0 110px 120px;
  margin-left: 13.5%;
}
/* line 60, ../../../../../../workspace/submoduled-assets/styles/home/_home-about.scss */
.home-about-wrap > .inside .home-about-right .mission h1 .duo-tone {
  color: #850f88;
}
/* line 63, ../../../../../../workspace/submoduled-assets/styles/home/_home-about.scss */
.home-about-wrap > .inside .home-about-right .mission .subhead {
  font-size: 18px;
}
/* line 73, ../../../../../../workspace/submoduled-assets/styles/home/_home-about.scss */
.home-about-wrap > .inside .home-about-statistic .statistics {
  font-family: AvenirLT-Heavy, Arial, sans-serif;
  margin-left: 25%;
}
/* line 77, ../../../../../../workspace/submoduled-assets/styles/home/_home-about.scss */
.home-about-wrap > .inside .home-about-statistic .statistics .statistics-subhead {
  font-family: AvenirLT-Black, Arial, sans-serif;
  font-size: 12px;
  color: #ababab;
  text-transform: uppercase;
  display: inline;
}
/* line 85, ../../../../../../workspace/submoduled-assets/styles/home/_home-about.scss */
.home-about-wrap > .inside .home-about-statistic .statistics img {
  margin: 0 0 0 15px;
  border: none;
}
/* line 89, ../../../../../../workspace/submoduled-assets/styles/home/_home-about.scss */
.home-about-wrap > .inside .home-about-statistic .statistics p {
  display: inline;
  line-height: 1.3em;
}
/* line 93, ../../../../../../workspace/submoduled-assets/styles/home/_home-about.scss */
.home-about-wrap > .inside .home-about-statistic .statistics p.stock-up {
  color: #284734;
}
/* line 96, ../../../../../../workspace/submoduled-assets/styles/home/_home-about.scss */
.home-about-wrap > .inside .home-about-statistic .statistics p.stock-down {
  color: #9b2743;
}
/* line 101, ../../../../../../workspace/submoduled-assets/styles/home/_home-about.scss */
.home-about-wrap > .inside .home-about-statistic .statistics .statistics-number {
  color: #1f1646;
  font-size: 100px;
  font-family: AvenirLT-Heavy, Arial, sans-serif;
  margin: 0;
  letter-spacing: -2px;
  line-height: 1.05em;
}
/* line 112, ../../../../../../workspace/submoduled-assets/styles/home/_home-about.scss */
.home-about-wrap > .inside .home-about-mission {
  margin-top: 90px;
}
/* line 115, ../../../../../../workspace/submoduled-assets/styles/home/_home-about.scss */
.home-about-wrap > .inside .home-about-mission h2 {
  margin-bottom: 12px;
}
/* line 118, ../../../../../../workspace/submoduled-assets/styles/home/_home-about.scss */
.home-about-wrap > .inside .home-about-mission p {
  font-size: 18px;
}
/* line 124, ../../../../../../workspace/submoduled-assets/styles/home/_home-about.scss */
.home-about-wrap .gradient {
  background: url(../images/about-bg.png)/*tpa=https://www.leidos.com/sites/all/themes/leidos/images/about-bg.png*/ repeat-x;
  background-repeat: repeat-x;
  position: absolute;
  right: 0;
  top: -19px;
  width: 60%;
  height: 600px;
  z-index: -3;
}

/* line 1, ../../../../../../workspace/submoduled-assets/styles/home/_home-news-events.scss */
.home-news-events-wrap {
  display: table;
  border-collapse: collapse;
  margin-top: 75px;
}
/* line 6, ../../../../../../workspace/submoduled-assets/styles/home/_home-news-events.scss */
.home-news-events-wrap > .inside {
  display: table-cell;
  height: 640px;
  margin: 0;
  vertical-align: middle;
  max-width: 1180px;
  min-width: 988px;
}
/* line 14, ../../../../../../workspace/submoduled-assets/styles/home/_home-news-events.scss */
.home-news-events-wrap > .inside > .panels-flexible-row-first {
  min-width: 988px;
}
/* line 19, ../../../../../../workspace/submoduled-assets/styles/home/_home-news-events.scss */
.home-news-events-wrap .home-news-events-content > .inside {
  width: 93%;
}
/* line 23, ../../../../../../workspace/submoduled-assets/styles/home/_home-news-events.scss */
.home-news-events-wrap .panels-flexible-column {
  width: 44.9%;
}
/* line 26, ../../../../../../workspace/submoduled-assets/styles/home/_home-news-events.scss */
.home-news-events-wrap .panels-flexible-column.panels-flexible-column-first {
  margin-left: 8.13559%;
  margin-right: 2%;
  padding-right: 0;
}
/* line 34, ../../../../../../workspace/submoduled-assets/styles/home/_home-news-events.scss */
.home-news-events-wrap .panels-flexible-column .block-content .super-title {
  padding: 25px 30px 5px;
}
/* line 37, ../../../../../../workspace/submoduled-assets/styles/home/_home-news-events.scss */
.home-news-events-wrap .panels-flexible-column .block-content .super-title + h3 {
  margin-top: 2px;
  padding: 0 30px;
}
/* line 42, ../../../../../../workspace/submoduled-assets/styles/home/_home-news-events.scss */
.home-news-events-wrap .panels-flexible-column .block-content p {
  padding: 17px 30px 15px;
}
/* line 48, ../../../../../../workspace/submoduled-assets/styles/home/_home-news-events.scss */
.home-news-events-wrap .field-learn-more-link {
  margin-top: 26px;
  padding: 13px 30px;
}
/* line 53, ../../../../../../workspace/submoduled-assets/styles/home/_home-news-events.scss */
.home-news-events-wrap .section-head {
  margin-bottom: 25px;
  margin-top: 0;
}
/* line 58, ../../../../../../workspace/submoduled-assets/styles/home/_home-news-events.scss */
.home-news-events-wrap .promo {
  min-height: 228px;
}
/* line 61, ../../../../../../workspace/submoduled-assets/styles/home/_home-news-events.scss */
.home-news-events-wrap .promo.promo-with-image {
  min-height: 475px;
}

/* line 41, ../../../../../../workspace/submoduled-assets/styles/_vars.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 4, ../../../../../../workspace/submoduled-assets/styles/index.scss */
.parallax {
  height: 550px;
  min-width: 960px;
  background-size: cover;
  background-position: 50% 0;
  background-color: transparent;
  background-repeat: no-repeat;
}
/* line 12, ../../../../../../workspace/submoduled-assets/styles/index.scss */
.parallax.featured-stories-parallax {
  background-image: url("../images/home/parallax-01.jpg")/*tpa=https://www.leidos.com/sites/all/themes/leidos/images/home/parallax-01.jpg*/;
}
/* line 13, ../../../../../../workspace/submoduled-assets/styles/index.scss */
.parallax.about-parallax {
  background-image: url("../images/home/parallax-02.jpg")/*tpa=https://www.leidos.com/sites/all/themes/leidos/images/home/parallax-02.jpg*/;
}
/* line 14, ../../../../../../workspace/submoduled-assets/styles/index.scss */
.parallax.news-parallax {
  background-image: url("../images/home/parallax-03.jpg")/*tpa=https://www.leidos.com/sites/all/themes/leidos/images/home/parallax-03.jpg*/;
}
/* line 15, ../../../../../../workspace/submoduled-assets/styles/index.scss */
.parallax.contact-and-careers-parallax {
  background-image: url("../images/home/parallax-04.jpg")/*tpa=https://www.leidos.com/sites/all/themes/leidos/images/home/parallax-04.jpg*/;
}

/* line 17, ../../../../../../workspace/submoduled-assets/styles/index.scss */
.bg-attachment-fixed {
  background-attachment: fixed;
}

/* line 20, ../../../../../../workspace/submoduled-assets/styles/index.scss */
.paging-controls {
  margin: -100px auto 0;
  max-width: 1000px;
  position: relative;
  z-index: 10;
}

/* line 2, ../../../../../../workspace/submoduled-assets/styles/modules/_ui-form-elements.scss */
.ui-widget {
  color: #646464;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 37px;
}

/* line 10, ../../../../../../workspace/submoduled-assets/styles/modules/_ui-form-elements.scss */
.ui-radio {
  background-color: transparent;
  border: none;
  width: 16px;
  height: 16px;
  position: relative;
  background-position: 0 -1778px;
}
/* line 18, ../../../../../../workspace/submoduled-assets/styles/modules/_ui-form-elements.scss */
.ui-radio.ui-state-active {
  background-position: 0 -1762px;
}
/* line 21, ../../../../../../workspace/submoduled-assets/styles/modules/_ui-form-elements.scss */
.ui-radio input {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0;
  top: 0;
}

/* line 29, ../../../../../../workspace/submoduled-assets/styles/modules/_ui-form-elements.scss */
.ui-multiselect {
  background-color: #f0f0f0;
  border-top: solid 1px #ababab;
  border-left: solid 1px #ababab;
  border-bottom: solid 1px #e8e8e8;
  border-right: solid 1px #e8e8e8;
  color: #646464;
  font-size: 13px;
  padding: 5px;
  line-height: 2em;
}

/* line 40, ../../../../../../workspace/submoduled-assets/styles/modules/_ui-form-elements.scss */
.ui-checkbox {
  background-color: transparent;
  border: none;
  width: 17px;
  height: 16px;
  position: relative;
  background-position: 0 -138px;
}
/* line 48, ../../../../../../workspace/submoduled-assets/styles/modules/_ui-form-elements.scss */
.ui-checkbox.ui-state-active {
  background-position: 0 -122px;
}
/* line 51, ../../../../../../workspace/submoduled-assets/styles/modules/_ui-form-elements.scss */
.ui-checkbox input {
  width: 17px;
  height: 16px;
  position: absolute;
  left: 0;
  top: 0;
}

/* line 60, ../../../../../../workspace/submoduled-assets/styles/modules/_ui-form-elements.scss */
.input-with-button {
  clear: both;
  width: 100%;
  max-width: 420px;
  margin-top: 20px;
  position: relative;
}
/* line 67, ../../../../../../workspace/submoduled-assets/styles/modules/_ui-form-elements.scss */
.input-with-button input {
  background-color: #f0f0f0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 75, ../../../../../../workspace/submoduled-assets/styles/modules/_ui-form-elements.scss */
.input-with-button .search-submit {
  float: right;
  height: 50px;
  width: 50px;
  position: relative;
  top: -50px;
  text-indent: -9999em;
}
/* line 83, ../../../../../../workspace/submoduled-assets/styles/modules/_ui-form-elements.scss */
.input-with-button .search-submit > .search-icon {
  margin-top: -15px;
}
/* line 87, ../../../../../../workspace/submoduled-assets/styles/modules/_ui-form-elements.scss */
.input-with-button .more-button {
  float: right;
  height: 50px;
  width: 50px;
}
/* line 93, ../../../../../../workspace/submoduled-assets/styles/modules/_ui-form-elements.scss */
.input-with-button span {
  display: block;
  overflow: hidden;
  max-width: auto;
}

/* line 2, ../../../../../../workspace/submoduled-assets/styles/modules/_form-elements.scss */
input.text, input.form-text {
  font-size: 16px;
  padding: 14px 15px 15px;
  color: #787878;
  font-family: AvenirLT-Medium, Arial, sans-serif;
  outline: none;
  border-top: solid 1px #ababab;
  border-left: solid 1px #ababab;
  border-bottom: solid 1px #e8e8e8;
  border-right: solid 1px #e8e8e8;
}
/* line 12, ../../../../../../workspace/submoduled-assets/styles/modules/_form-elements.scss */
input.text:focus, input.form-text:focus {
  border: solid 1px #850f88;
  color: #1f1646;
  outline: none;
}
/* line 18, ../../../../../../workspace/submoduled-assets/styles/modules/_form-elements.scss */
input.text.search-field-interior, input.form-text.search-field-interior {
  background: #f0f0f0;
  padding: 8px 15px;
  width: 350px;
}

/* line 26, ../../../../../../workspace/submoduled-assets/styles/modules/_form-elements.scss */
select {
  width: 100%;
}
/* line 29, ../../../../../../workspace/submoduled-assets/styles/modules/_form-elements.scss */
select.dropdown {
  max-width: 420px;
}

/* line 35, ../../../../../../workspace/submoduled-assets/styles/modules/_form-elements.scss */
label.ui-label {
  font-weight: bold;
  font-size: 12px;
  color: #1f1646;
}
/* line 40, ../../../../../../workspace/submoduled-assets/styles/modules/_form-elements.scss */
label.ui-text {
  font-size: 12px;
  color: #646464;
  font-weight: normal;
}
/* line 45, ../../../../../../workspace/submoduled-assets/styles/modules/_form-elements.scss */
label.placeholder-text {
  color: #8b8b8b;
  clip: auto;
  font-family: AvenirLT-Book, Arial, sans-serif;
  font-size: 16px;
  padding-left: 18px;
  position: absolute;
  top: 15%;
  z-index: 10;
}
/* line 55, ../../../../../../workspace/submoduled-assets/styles/modules/_form-elements.scss */
label.placeholder-text.placeholder-text-hide {
  z-index: -1;
}

/* line 63, ../../../../../../workspace/submoduled-assets/styles/modules/_form-elements.scss */
.hint {
  font-size: 10px;
  margin-bottom: 5px;
}

/* line 68, ../../../../../../workspace/submoduled-assets/styles/modules/_form-elements.scss */
.radio-wrap,
.checkbox-wrap {
  clear: left;
}
/* line 71, ../../../../../../workspace/submoduled-assets/styles/modules/_form-elements.scss */
.radio-wrap .ui-radio,
.radio-wrap .ui-checkbox,
.checkbox-wrap .ui-radio,
.checkbox-wrap .ui-checkbox {
  float: left;
}
/* line 75, ../../../../../../workspace/submoduled-assets/styles/modules/_form-elements.scss */
.radio-wrap label,
.checkbox-wrap label {
  float: left;
  margin-left: 10px;
}
/* line 79, ../../../../../../workspace/submoduled-assets/styles/modules/_form-elements.scss */
.radio-wrap .label-wrap,
.checkbox-wrap .label-wrap {
  float: left;
  margin-left: 25px;
}
/* line 82, ../../../../../../workspace/submoduled-assets/styles/modules/_form-elements.scss */
.radio-wrap .label-wrap label,
.checkbox-wrap .label-wrap label {
  float: none;
  margin-left: 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
/* line 10, ../../../../../../workspace/submoduled-assets/styles/_helpers.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

/* line 18, ../../../../../../workspace/submoduled-assets/styles/_helpers.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
/* line 29, ../../../../../../workspace/submoduled-assets/styles/_helpers.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
/* line 38, ../../../../../../workspace/submoduled-assets/styles/_helpers.scss */
.visuallyhidden, #skip-link,
.element-invisible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/* line 54, ../../../../../../workspace/submoduled-assets/styles/_helpers.scss */
.visuallyhidden.focusable:active, .focusable#skip-link:active,
.focusable.element-invisible:active,
.visuallyhidden.focusable:focus,
.focusable#skip-link:focus,
.focusable.element-invisible:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
/* line 68, ../../../../../../workspace/submoduled-assets/styles/_helpers.scss */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 84, ../../../../../../workspace/submoduled-assets/styles/_helpers.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 90, ../../../../../../workspace/submoduled-assets/styles/_helpers.scss */
.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 99, ../../../../../../workspace/submoduled-assets/styles/_helpers.scss */
.clearfix {
  *zoom: 1;
}

/* line 103, ../../../../../../workspace/submoduled-assets/styles/_helpers.scss */
.clear {
  clear: both;
}

/* line 108, ../../../../../../workspace/submoduled-assets/styles/_helpers.scss */
input[type=text].error {
  border: 1px dotted #ff0000;
}

/* line 112, ../../../../../../workspace/submoduled-assets/styles/_helpers.scss */
.error {
  color: #ff0000;
  font-style: italic;
  font-size: 13px;
  line-height: 30px;
}
