body{min-width: 0px; background: none; padding-top: 0px; color: #000000;}
#Header, #leftNavWrapper, #Footer, #HarrisFooter,#BODY #ContentWrapper #Content .ImageFloatOverHeader, .ContentFlow{display: none !important;}
#ContentWrapper{margin: 0px !important; padding: 0px !important;}
#PrintHarrisLogo{display: block !important; width: 100%; text-align: right;}
.bullet ul{margin: 0px 0px 0px 0px; padding: 0px;}
.PR_Highlights ul li{background: none; list-style: circle; margin: 0px; padding-left: 0px;}
#BODY{filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff'); /* for IE */background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#fff)); /* for webkit browsers */background: -moz-linear-gradient(top,  #ffffff,  #fff); /* for firefox 3.6+ */}
.PR_Highlights{filter:none !important;}
#BODY #ContentWrapper #Content{margin: 0px;}
#BODY #ContentWrapper #Content .Column, #BODY #ContentWrapper #Content .RightColumn{padding: 0px; display: block;}
#BODY #ContentWrapper #Content .RightColumn{margin-top: 20px !important; padding-top: 20px; border-top: 1px dashed; width: 100%;}
#BODY #ContentWrapper #Content.backgroundImage {background: none !important; padding-top: 0px;}
#BODY #ContentWrapper #Content.backgroundImage  h1, #BODY #ContentWrapper #Content.backgroundImage .Column h1{position: static !important; display: block; margin: 0px 0px 10px -15px !important; color:#d71720 !important; background: none !important;}

.mgmtBox div{margin: 30px 20px;}