/*General Styles */
body{margin: 0px;padding: 0px; font-family: Verdana; padding-top: 94px; min-width: 990px; font-size: 9pt; color: #353535;}
img{border: 0px;padding: 0px;margin: 0px;}
a, a:link, a:active, a:visited, a:focus{color: #e21d22; outline: none;}
a:hover {color: #454545;}

.arrow{margin: 0px; padding: 0px}
.arrow li {list-style: none; margin: 0px 0px 0px 10px; padding: 3px 0px 3px 15px; background:url(../leftNav/ha-right.gif)/*tpa=http://harris.com/wrapper/2012/css/leftNav/ha-right.gif*/ no-repeat left 5px; }
/*Header*/
#PrintHarrisLogo{display: none;}
#Header{position: absolute;top: 0px;left: 0px;width: 100%; min-width: 990px;}
#BlackBar{ height: 55px; background: #ffffff;}
#HarrisLogo{width: 125px; height: 35px; padding: 0px 0px 0px 0px; position: absolute; top: 10px; left: 10px;}
#SiteTitle{position: absolute; top: 13px; left: 150px; font-size: 16px; color:#8d8d8d; }
#topNavBG{
	height: 37px; border-bottom: 1px solid #454545; border-top: 1px solid #454545;
	background: #e51837; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e51837', endColorstr='#e21d22'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#e51837), to(#e21d22)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #e51837,  #e21d22); /* for firefox 3.6+ */ 
}



#translator{position:absolute; top: 17px; right: 320px; z-index: 1000; cursor: pointer; width: 350px;}
#translator .translatorLink{background: url('../subpages/ha-down.gif')/*tpa=http://harris.com/wrapper/2012/css/subpages/ha-down.gif*/ no-repeat right 3px; padding-right: 15px;text-align: right;}
#translator .translatorBox{display: none; border: 1px solid #c9c9c9; padding: 20px; background: #fff; margin-top: 5px; position: relative;}
#translator .translatorClose{position: absolute; right: 0px; top: 0px; background-color: #d2d2d2 !important; color: #fff !important; padding: 0px 2px 3px 3px; font-size: 12pt; line-height: 10pt; }

/*Search*/
.coveoTextBoxSearch {background-color: transparent; color: #ffffff; border: 0px; border-right: 1px dotted #8d8d8d; width: 265px;}
#SiteSearch{border: 0px solid #252324; border-right: 0px;background: #454545; position: absolute; right: 0%; top: 12px; margin-left: 190px; line-height: 25px; height: 25px; width: 300px; color: #8d8d8d; font-size: 10pt; padding-left: 5px; border-top-left-radius:3px; border-bottom-left-radius:3px;}
.textBoxSearch, .textBoxList {background-color: transparent; color: #ffffff; border: 0px; border-right: 1px dotted #8d8d8d;}
.textBoxSearch{width: 149px;}
.textBoxList{width: 120px;}
#searchListBox {position: absolute;	right: 32px; top: 0px;}
#searchListBox .searchList{	display: none;	position: absolute;	right: 0px;	top: 20px; }
#searchListBox:hover .searchList{display: block;	z-index: 100;}
#searchListBox #searchListBoxImg{height: 20px;	width: 15px;	background: url(Search_arrow.png)/*tpa=http://harris.com/wrapper/2012/css/wrapper/Search_arrow.png*/ no-repeat 0% 100%; position: absolute; right: 3px; top: 0px;}
.buttonSearch{ border-left: 1px dotted #252324; width: 15px; height: 15px; position: absolute; top: 50%; right: 8px; margin-top: -8px; background: url(search-icon.png)/*tpa=http://harris.com/wrapper/2012/css/wrapper/search-icon.png*/ no-repeat left top; }
.searchresults .right{text-align:right;}
.resultsList p > br {display: none;}

#CoveoSearch{float:right; margin: 10px 0px; background: #fff;padding:3px;border: 1px solid #bbb; -webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}

#CoveoSearch .buttonSearch, #CoveoSearch .SearchSubmit{margin: 0px 0px 0px 0px; height: 17px !important; width: 20px !important; border-left: 1px dotted #999 !important;  background: url(Unknown_83_filename)/*tpa=http://harris.com/wrapper/2012/css/wrapper/Search_button.png*/ no-repeat 3px top;position: relative; top: 3px; right: 0px;}
#CoveoSearch input{border: 0px;outline: none; color: #999;}

#CoveoSearchNet{border: 0px solid #252324; border-right: 0px;background: #454545; position: absolute; right: 0%; top: 12px; margin-left: 0px; line-height: 25px; height: 25px; width: 300px; color: #8d8d8d; font-size: 10pt; padding: 0px 0px 0px 5px; border-top-left-radius:3px; border-bottom-left-radius:3px;}
#CoveoSearchNet input{border: 0px; background: #454545; outline: none; color: #999; width: 270px;}
#CoveoSearchNet .SearchSubmit{ border-left: 1px dotted #999 !important; width: 20px !important; height: 15px !important; margin: 0px 0px 0px 0px; background: url(search-icon.png)/*tpa=http://harris.com/wrapper/2012/css/wrapper/search-icon.png*/ no-repeat 5px 0px; position: absolute; top: 5px; right: 5px; }
.CesSearch center:first-child {display: none;}


/*coveo Search dropdown */
.CesPager span, .CesPager a{display: inline-bock; padding: 0px 3px;}
.coveo-theme table{border-top: 1px dotted #bbb; padding-top: 10px; font-size: 8pt !important;line-height: 10pt !important;}
.coveo-theme table:first-child{border: none; padding-top: 0px;}
.coveo-theme table *{font-size: 8pt !important; line-height: 10pt !important;}


/*Footer */
#Footer{ background-color: #454545; text-algin: center; border-top: 1px solid #2b292a; clear:both; position: relative;}
#footerLinksList{ display: table; min-width: 990px; max-width: 1300px;  margin: 0px auto; padding: 15px 0px 15px 0px;}
#footerLinksList > div{display: table-cell; padding: 0px 10px 0px 10px; *float:left; min-width: 100px; max-width: 250px;}
#footerLinksList > div > span{display: block;font-size: 8pt;line-height: 10pt;font-weight: normal; color: #8d8d8d; } 
#footerLinksList > div > h4, #footerLinksList > div > h4 a{text-decoration: none; font-size: 10pt;color: #ffffff;font-weight: normal;display: block;padding: 0px 0px 2px 0px;margin: 0px;}
#footerLinksList > div > span a{display: block;color: #8d8d8d;text-decoration: none;font-size: 8pt;line-height: 11pt;font-weight: normal;padding: 3px 3px 3px 0px; } 
#footerLinksList > div > span a:hover{color: #ffffff;background: #555555;}
#footerLinksList > div > span.stock{line-height: 16pt; padding: 5px 0px 3px 10px;}
#footerLinksList > div > span:last-child{}
#footerLinksList  div.footerNews { min-width: 220px !important; max-width: 325px !important; }
.footerNews > h4 {}
.footerNews > span > a {min-height: 40px; clear:both; border-top: 1px solid #393939;}
.footerNews > span > a > strong {float:left;margin-right: 5px; font-weight: normal;}
.footerNews > span > a > strong > em{ display: block;min-width: 35px;font-size: 14pt; line-height: 17pt;  font-style: normal !important; text-align: center; padding: 0px 5px 0px 0px; }
.footerNews .newsRoomLinks { margin: 5px 0px; padding: 5px 0px; border-top: 1px solid #393939; text-align:center; height: 10px !important;}
.footerNews > span.newsRoomLinks > a{min-height: 0px !important; clear: none; border: 0px; display: inline !important;}
#footerLinksList  div.social {display: block; position: absolute; bottom: 0px; left: 50%; width: 110px !important; padding: 8px 8px 0px 8px; margin-left: -50px; background-color: #2b292a; -moz-border-radius: 15px;border-radius: 15px; border-bottom-right-radius:0; border-bottom-left-radius:0; }
.footerTestimonial > span > a > strong  {display: block; float: none; text-align:right; font-weight: normal; }
.footerTestimonial > span > a > em{font-size: 14pt; }
#stockTicker{position: absolute; white-space: nowrap; top: 180px;}
#stockTicker strong{cursor: pointer; font-size: 10pt;color: #ffffff;font-weight: normal;display: block;padding: 0px 0px 5px 0px;margin: 0px 0px 0px 0px;}
#stockTicker em {display: none;}
#stockTicker span { border-right: 1px solid; padding-right: 5px; margin-right: 5px;}
#stockTicker span:last-child{border-right: 0px;}
/*Harris Footer*/
#HarrisFooter{background-color: #2b292a;text-align: center;line-height: 9pt;padding: 5px 0px;}
#HarrisFooter a{color: #8d8d8d;border-left: 1px solid #646464;font-size: 9pt;line-height: 9pt;display: inline-block;text-decoration: none;padding: 0px 0px 0px 3px;}
#HarrisFooter a:hover{color: #ffffff;text-decoration: underline;}
#HarrisFooter a:first-child{border-left: 0px;}

/*CHQ HomePage Content*/
#Main{width: 100%;}

#HomePage {background-image: url('homePageBG.png')/*tpa=http://harris.com/wrapper/2012/css/wrapper/homePageBG.png*/; background-repeat:repeat-x; background-position:left bottom;}
.ContentFlow{margin: 0px 0px 10px 0px; padding: 10px 0px; *height: 343px; *overflow: hidden; *text-align: center;}
.ContentFlow > div > div > img {-moz-box-shadow: 0 0 5px #252324;  -webkit-box-shadow: 0 0 5px #252324;  box-shadow: 0 0 5px #252324;}
#CHQ_Spotlights {overflow:hidden; width:990px;margin: 0px auto 0px auto; clear:both; }
#CHQ_Spotlights .viewport {float: left; width: 910px; height: 95px; overflow: hidden; position: relative; padding: 5px 0px; margin-bottom: 20px;}
#CHQ_Spotlights .buttons { background:url("buttons.png")/*tpa=http://harris.com/wrapper/2012/css/wrapper/buttons.png*/ no-repeat scroll 0 0 transparent; display: block; margin: 40px 0 0 0; background-position: 0 -38px; text-indent: -999em; float: left; width: 39px; height: 37px; overflow: hidden; position: relative;}
#CHQ_Spotlights .next { background-position: 0 0; margin: 40px 0 0 0;  }
#CHQ_Spotlights .disable {opacity:0.40;filter:alpha(opacity=40); cursor: default; *background: none; *opacity:0.0; *filter:alpha(opacity=00);}
@media \0screen {#CHQ_Spotlights .disable {background: none; opacity:0.0; filter:alpha(opacity=00);}}
#CHQ_Spotlights .overview { list-style: none; position: absolute; padding: 0; margin: 0; left: 0 top: 0; }
#CHQ_Spotlights .overview li{ position: relative; float: left; margin: 5px 5px 0 5px; padding: 8px; height: 75px; width: 275px; border: 1px solid #969696; background: #ffffff; overflow: hidden; -moz-box-shadow: 0 0 3px #969696;  -webkit-box-shadow: 0 0 3px #969696;  box-shadow: 0 0 3px #969696;}
#CHQ_Spotlights .overview li a{ height: 100%; width: 100%; display: block; text-decoration: none; color: #353535; }
#CHQ_Spotlights .overview li a img{ float: left; margin-right: 8px;}
#CHQ_Spotlights .overview li a h1{ margin: 0px; padding: 0px; font-size: 1em; line-height: 10pt; font-weight: bold; letter-spacing: 0px;}
#CHQ_Spotlights .overview li a h2{ margin: 4px 0px 0px 0px; padding: 0px; font-size: 1em; line-height: 10pt; font-weight: normal; letter-spacing: 0px;}
#CHQ_Spotlights .overview li a:hover h1, #CHQ_Spotlights .overview li a:hover h2{color: #d71720;}
#CHQ_Spotlights #hidden, #CHQ_Spotlights #hidden2{background: none !important; cursor:default;}
#Spotlights .overview { list-style: none; margin: 0px; padding: 0px;}
#Spotlights .overview li{position: relative; float: left; margin: 5px 0px 0 5px; padding: 8px; height: 75px; width: 300px !important; border-top: 1px solid #969696; border-bottom: 1px solid #969696; background: #ffffff; overflow: hidden;}
#Spotlights .overview li a{height: 100%; width: 100%;display: block; text-decoration: none;}
#Spotlights .overview li a img{ float: left; margin-right: 8px;}
#Spotlights .overview li a h1{ margin: 0px; padding: 0px; font-size: 10pt !important; line-height: 11pt; font-weight: bold; color: #252324;}
#Spotlights .overview li a h2{ position: absolute; bottom: 8px; left: 92px; max-height: 41px; overflow: hidden;  margin: 0px; padding: 0px; padding-bottom: 1px;  font-size: 10pt !important; line-height: 10pt; font-weight: normal !important; color: #252324;}
#Spotlights .overview li a:hover h1, #Spotlights .overview li a:hover h2{color: #d71720;}
.MenuContentWrapper #Spotlights .overview li{border: 0px;}

.registration{font-size: 8pt;}
#CHQ_Spotlights .overview .Frequency{background-color: #565924 !important;}
#CHQ_Spotlights .overview .Frequency a h1, #CHQ_Spotlights .overview .Frequency a h2{color: #ffffff !important;}

.pagedRecordsetControl span{margin: 3px; display: inline-block;}