/* RESET
See how much of this we can remove
.HP-TEST div, .HP-TEST span, .HP-TEST applet, .HP-TEST object, .HP-TEST iframe, .HP-TEST h1, .HP-TEST h2, .HP-TEST h3, .HP-TEST h4, .HP-TEST h5, .HP-TEST h6, .HP-TEST p, .HP-TEST blockquote, .HP-TEST pre, .HP-TEST a, .HP-TEST abbr, .HP-TEST acronym, .HP-TEST address, .HP-TEST big, .HP-TEST cite, .HP-TEST code, .HP-TEST del, .HP-TEST dfn, .HP-TEST em, .HP-TEST img, .HP-TEST ins, .HP-TEST kbd, .HP-TEST q, .HP-TEST s, .HP-TEST samp, .HP-TEST small, .HP-TEST strike, .HP-TEST strong, .HP-TEST sub, .HP-TEST sup, .HP-TEST tt, .HP-TEST var, .HP-TEST b, .HP-TEST u, .HP-TEST i, .HP-TEST center, .HP-TEST dl, .HP-TEST dt, .HP-TEST dd, .HP-TEST ol, .HP-TEST ul, .HP-TEST li, .HP-TEST fieldset, .HP-TEST form, .HP-TEST label, .HP-TEST legend, .HP-TEST table, .HP-TEST caption, .HP-TEST tbody, .HP-TEST tfoot, .HP-TEST thead, .HP-TEST tr, .HP-TEST th, .HP-TEST td, .HP-TEST article, .HP-TEST aside, .HP-TEST canvas, .HP-TEST details, .HP-TEST embed, .HP-TEST figure, .HP-TEST figcaption, .HP-TEST footer, .HP-TEST header, .HP-TEST hgroup, .HP-TEST menu, .HP-TEST nav, .HP-TEST output, .HP-TEST ruby, .HP-TEST section, .HP-TEST summary, .HP-TEST time, .HP-TEST mark, .HP-TEST audio, .HP-TEST video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*/
/* HTML5 display-role reset for older browsers */
/* fixes issue in IE10 with greeter */
div#greeterContentDiv {
  margin-left: 0px !important;
}

.HP-TEST article, .HP-TEST aside, .HP-TEST details, .HP-TEST figcaption, .HP-TEST figure, .HP-TEST footer, .HP-TEST header, .HP-TEST hgroup, .HP-TEST menu, .HP-TEST nav, .HP-TEST section {
  display: block;
}

div.HP-TEST * {
  font-family: Atlas, Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

div.HP-TEST {
  font-family: Atlas, Arial, 'Helvetica Neue', Helvetica, sans-serif !important;
  font-size: 16px;
  width: 974px;
  padding-bottom: .5em;
  margin-bottom: .5em;
}

.HP-TEST ol, .HP-TEST ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.HP-TEST blockquote:before, .HP-TEST blockquote:after, .HP-TEST q:before, .HP-TEST q:after {
  content: '';
  content: none;
}

.HP-TEST table {
  border-collapse: collapse;
  border-spacing: 0;
}

.HP-Test form {
  margin: 0;
}

.HP-Test p {
  line-height: 1.5em;
  margin: .5em 0;
}

.HP-Test a img {
  border: 0px;
}

/* Variables Used */
/* Main Colors Used  #3498db */
/* Grayscale Colors Used */
/* AS.com Colors Used */
body .HP-Test {
  background-color: #f2f5fa;
  margin: 0 auto;
}

.HP-Test a {
  color: #9a6220;
}

.HP-Test a:hover {
  color: #4770a2;
}

.HP-Test .subdued {
  color: #aaaaaa;
}

.HP-Test input {
  font-family: ScalaSans, Helvetica, sans-serif;
}

.HP-Test blockquote {
  border-right: 1px solid gainsboro;
  border-left: 0.5em solid #f26664;
  padding: 1em;
  margin: 1em;
  display: inline-block;
  color: #787878;
  max-width: 80%;
}

.HP-Test {
  font-family: ScalaSans, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0 auto;
  padding: 6em 0em 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  max-width: 960px;
  color: #2c4167;
  background-image: url(../../../../page-not-found.aspx)/*tpa=http://www.alaskaair.com/content/~/media/Files/css/nav_top.png*/;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 986px;
}

.FOOTER-Test {
  font-family: ScalaSans, Helvetica, sans-serif;
  font-size: 16px;
  margin: 4em auto 0;
  padding: 0em;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  width: 100%;
  color: #2c4167;
  border-top: 1px solid #dddddd;
}

hr {
  border: none;
  border-bottom: 1px solid gainsboro;
  margin: 1em 0 0 0;
}

/*BUTTONS*/
.btn {
  border-radius: 0px;
  background-color: #40639b;
  color: #FFF;
  width: 100%;
  border: 0px solid;
  padding: .5em 2em;
  font-size: 1.25em;
  text-decoration: none;
  text-transform: initial;
  font-family: Atlas, Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.btn-wrapper {
  clear: both;
  margin: 1em 0 0;
}

.btn a {
  color: #FFF;
}

.btn a:hover {
  color: #FFF;
}

.btn-primary {
  background-color: #40639b;
}

.btn-primary:hover {
  background-color: #4e76b6;
  cursor: pointer;
  color: white;
}

.btn-circle {
  background-color: #FFF;
  border-radius: 60px;
  padding: .1em .4em;
  float: right;
}

.btn {
  cursor: pointer;
  border-radius: 2px;
  width: auto;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.btn-ghost-white {
  background-color: transparent;
  color: #FFF;
  border: 2px solid #FFF;
}

.btn-white, .boa-explorers .btn-ghost-white {
  background-color: #FFF;
  color: #2c4167;
  border: 2px solid #FFF;
}

.btn-navy {
  background-color: #2c4167;
  color: #FFF;
  border: 2px solid #2c4167;
}

.btn-green {
  background-color: #4d803b;
  color: #FFF;
  border: 2px solid #4d803b;
}

.btn-marine, .non .hero-sale .boa-explorers .btn-ghost-white, .boa-explorers .non .hero-sale .btn-ghost-white {
  background-color: #004f51;
  color: #FFF;
  border: 2px solid #004f51;
}

.hero-sale--button a.btn-white, .hero-sale--button .boa-explorers a.btn-ghost-white, .boa-explorers .hero-sale--button a.btn-ghost-white {
  color: #2c4167;
  text-shadow: 0 0 0;
}

.hero-sale--button a.btn-white, .hero-sale--button .boa-explorers a.btn-ghost-white, .boa-explorers .hero-sale--button a.btn-ghost-white {
  color: #2c4167;
  text-shadow: 0 0 0;
}

.hero-sale--button a.btn-white:hover, .hero-sale--button .boa-explorers a.btn-ghost-white:hover, .boa-explorers .hero-sale--button a.btn-ghost-white:hover {
  text-decoration: none;
  font-family: Atlas, Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.grid-modulePrice {
  width: 100%;
  text-align: right;
}

.layout-discoverText {
  margin: 2.5em auto;
  min-height: 4em;
}

/* MODULE */
.module, .module-advisorybgContainer, .module-advisoryContainer, .module-advisoryTextContainer, .module-whiteContainer, .module-blueContainer {
  min-height: 1em;
  width: auto;
}

.module, .module-advisorybgContainer, .module-advisoryContainer, .module-advisoryTextContainer, .module-whiteContainer {
  padding: 1.5em;
}

.grid-modulePrice {
  width: 100%;
  text-align: right;
}

.layout-discoverText {
  margin: 2.5em auto;
  min-height: 4em;
}

.bluetint {
  padding: 1.5em;
  background-color: transparent;
  background-color: rgba(0, 51, 110, 0.4);
}

.destination-rome .bluetint {
  height: 15em;
  background-color: transparent;
  background-color: rgba(0, 51, 110, 0.25);
}

.module-content {
  line-height: 1.5em;
  color: #454545;
}

.module-advisorybgContainer, .module-advisoryContainer, .module-advisoryTextContainer {
  width: auto;
  background: #fcedac url(../../../../../../resource.alaskaair.net/content/~/media/Images/onSite/icons/advisory.gif)/*tpa=http://resource.alaskaair.net/content/~/media/Images/onSite/icons/advisory*/ 1.5em center no-repeat;
  display: block;
  box-shadow: 0 0 1px #54112b;
  padding-left: 4em;
  min-height: 1em;
  color: #54112b;
}

.module-advisoryContainer, .module-advisoryTextContainer {
  background-color: #FFF;
}

.module-advisoryTextContainer {
  background-image: none;
  padding-left: 1.5em;
}

.module-whiteContainer {
  background-color: #FFF;
  display: block;
  box-shadow: 0 0 1px gainsboro;
}

.module-blueContainer {
  background-color: rgba(0, 36, 90, 0.84);
  display: block;
  box-shadow: 0 0 1px gainsboro;
}

.module-tealContainer {
  width: auto;
  background-color: rgba(0, 132, 128, 0.84);
  display: block;
  box-shadow: 0 0 1px gainsboro;
}

/* Grid with 3 or 4 destination */
.panelGrid .module-content {
  min-height: 5em;
}

.panelGrid .module-whiteContainer {
  padding: 0;
  margin: 0;
}

.panelGrid .module-Picturecontainer {
  min-height: 10em;
}

.panelGrid .module-tealContainer a {
  color: #FFF;
  text-decoration: none;
  padding: .5em 1em;
  display: block;
}

.panelGrid .module-tealContainer a:hover {
  background-color: #006b67;
}

.panelGrid .module-tealContainer a span {
  color: #008480;
}

.panelGrid .grid.grid-3-noMargin .module-content {
  padding: 0 1em 1em;
}

.panelGrid .grid.grid-3-noMargin .module-headlines {
  padding: 0em 1em 0em;
}

.panelGrid .grid.grid-4-noMargin .module-headlines {
  padding: 0em 1em 0em;
}

.panelGrid .grid.grid-4-noMargin .module-content {
  padding: 0 1em 1em;
}

.module-bookingForm .module-tealContainer a {
  color: #FFF;
  text-decoration: none;
  padding: .25em 1em;
  display: block;
}

.module-bookingForm .module-tealContainer a:hover {
  background-color: #006b67;
}

.module-bookingForm .module-tealContainer a span {
  color: #008480;
}

.module-heroText .linkText {
  font-size: .5em;
}

.module-clearContainer {
  min-height: 1em;
  padding: 0;
  line-height: 1.5em;
  width: auto;
}

.module-darkaccentContainer {
  width: auto;
  display: block;
  background-color: #aaaaaa;
}

.module-emslSalmonContainer {
  width: auto;
  display: block;
  background-color: rgba(240, 79, 76, 0.65);
}

.module-emslBlueContainer {
  width: auto;
  display: block;
  background-color: rgba(64, 108, 173, 0.7);
}

.module-grayContainer {
  width: auto;
  display: block;
  background-color: rgba(119, 119, 119, 0.7);
}

/* MODULE Horizontal Menu
//css-tricks.com/keep-margins-out-of-link-lists/ */
.module-horizontalMenu li {
  display: inline-block;
  margin-right: 1em;
  line-height: 2em;
}

.module-horizontalMenu li a {
  padding: 0 .3em 0 0;
  display: block;
}

/* MODULE Vertical Menu */
.module-verticalMenu li {
  line-height: 1.1em;
}

.module-verticalMenu li a {
  padding: 0 0 1em 0;
  display: block;
}

/* MODULE Headlines */
.module-headlines {
  margin: 1em 0;
  font-weight: normal;
}

.module-headlines * {
  font-weight: normal;
}

.module-headlines h4 {
  margin: .1em 0;
  color: #7997c8;
}

/* MODULE Discover Module */
.module-discover {
  font-weight: normal;
}

.module-discover * {
  font-weight: normal;
}

.module-discover a {
  text-decoration: none;
}

.module-discover h2 {
  margin: 0em;
  line-height: 1em;
  color: #FFF;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.module-discover h3 {
  margin: 0em;
  line-height: 1em;
  /* centers the text vertically */
  color: #FFF;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.module-discover h4 {
  margin: 0em;
  line-height: 1em;
  color: #FFF;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

/* MODULE Discover Grid Module */
.module-discover-grid {
  font-weight: normal;
}

.module-discover-grid * {
  font-weight: normal;
}

.module-discover-grid a {
  text-decoration: none;
}

.module-discover-grid h2 {
  margin: 0em;
  line-height: 1em;
  color: #FFF;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.module-discover-grid h3 {
  margin: 0em;
  line-height: 2em;
  /* centers the text vertically */
  color: #FFF;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.module-discover-grid h4 {
  margin: 0em;
  line-height: 1em;
  color: #FFF;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

/* MODULE emsl boxes */
.module-headlinesInBoxes {
  padding: 1em;
}

.module-headlinesInBoxes {
  margin: 1em 0;
  font-weight: normal;
}

.module-headlinesInBoxes * {
  font-weight: normal;
}

.module-headlinesInBoxes h3 {
  color: #FFF;
}

.module-headlinesInBoxes h4 {
  margin: .1em 0;
  color: #FFF;
}

/* MODULE sign in form */
.module-form {
  margin: 1em 0 0 0;
  font-weight: normal;
}

.module-form * {
  font-weight: normal;
}

.module-form h3 {
  color: #40639b;
}

.module-form h4 {
  margin: .1em 0;
  color: #7997c8;
}

.module-Picturecontainer {
  min-height: 12em;
}

/* Used to give the picture grid consistent buffer between images */
.module-pictureWrapper {
  margin-bottom: 1.5em;
}

.module-price {
  font-size: 2.5em;
  color: #FFF;
  font-weight: normal;
}

div.row .grid-6 a, .row .grid-6-last a {
  text-decoration: none;
}

/* How do we want to do the sign in widget. */
@media all and (max-width: 40em) {
  .module-hero {
    min-height: 12em;
  }
}
@media all and (max-width: 26.7em) {
  .module-hero .module-textareaWhite {
    font-size: 1em;
  }
}
.module-textareaWhite span {
  font-size: .5em;
}

/* grid */
/* Row CSS from //foundation.zurb.com/ */
.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5em;
  padding: .8em 0;
}

.row:before, .row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.row.collapse > .grid, .row.collapse > .grid {
  padding-left: 0;
  padding-right: 0;
}

.row.collapse .row {
  margin-left: 0;
  margin-right: 0;
}

.row .row {
  width: auto;
  /* margin-left: -0.9375em;
  margin-right: -0.9375em;
  */
  margin-top: 0;
  margin-bottom: 0;
  max-width: none;
  padding: 0;
}

.row .row:before, .row .row:after {
  content: " ";
  display: table;
}

.row .row:after {
  clear: both;
}

.row .row.collapse {
  width: auto;
  margin: 0;
  max-width: none;
}

.row .row.collapse:before, .row .row.collapse:after {
  content: " ";
  display: table;
}

.row .row.collapse:after {
  clear: both;
}

.grid {
  padding: 0;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
  float: left;
}

/* Base 12 Grid System 5em=80px 60em=960px

I'd like to figure out why I need to use this many decimals to make all the em's add up to 60em
grid 1, 2, 10, 11, 12 don't have margin-right since grid 1 and 2 are to small to use unless they are a bit larger. */
.grid-margin, .grid-3, .grid-3-last, .grid-3x4, .grid-3x4-last, .grid-4, .grid-4-last, .grid-5, .grid-5-last, .grid-6, .grid-6-last, .grid-7, .grid-7-last, .grid-8, .grid-8-last, .grid-9, .grid-9-last {
  margin-right: 3%;
}

.grid-1, .grid-1-last {
  width: 8.3333%;
}

.grid-2, .grid-2-last {
  width: 16.6667%;
}

.grid-3, .grid-3-last {
  width: 24.5%;
}

.grid-3x4, .grid-3x4-last {
  width: 22.75%;
}

.grid-4, .grid-4-last {
  width: 33%;
}

.grid-4x3, .grid-4x3-last {
  margin-right: 2%;
  width: 32%;
}

.grid-5, .grid-5-last {
  width: 42%;
}

.grid-6, .grid-6-last {
  width: 48.5%;
}

.grid-6 .grid-6, .grid-6-last .grid-6, .grid-6 .grid-6-last, .grid-6-last .grid-6-last {
  width: 47%;
  margin-right: 6%;
}

.grid-7, .grid-7-last {
  width: 55%;
}

.grid-8, .grid-8-last {
  width: 64%;
}

.grid-9, .grid-9-last {
  width: 72.5%;
}

.grid-10, .grid-10-last {
  width: 83.3333%;
}

.grid-11, .grid-11-last {
  width: 91.66667%;
}

.grid-12 {
  width: 100%;
}

/* Base 12 Grid System 5em=80px 60em=960px

I'd like to figure out why I need to use this many decimals to make all the em's add up to 60em
grid 1, 2, 10, 11, 12 don't have margin-right since grid 1 and 2 are to small to use unless they are a bit larger. */
.grid-1-noMargin {
  width: 8.3333%;
}

.grid-2-noMargin {
  width: 16.6667%;
}

.grid-3-noMargin {
  width: 25%;
}

.grid-4-noMargin {
  width: 33.3333%;
}

.grid-5-noMargin {
  width: 41.6667%;
}

.grid-6-noMargin {
  width: 50%;
}

.grid-7-noMargin {
  width: 58.3333%;
}

.grid-8-noMargin {
  width: 66.6667%;
}

.grid-9-noMargin {
  width: 72.5%;
}

.grid-10-noMargin {
  width: 83.3333%;
}

.grid-11-noMargin {
  width: 91.66667%;
}

.grid-12-noMargin {
  width: 100%;
}

/* Base 12 Grid System 5em=80px 60em=960px */
.grid-last, .grid-1-last, .grid-2-last, .grid-3-last, .grid-3x4-last, .grid-4-last, .grid-4x3-last, .grid-5-last, .grid-6-last, .grid-6 .grid-6-last, .grid-6-last .grid-6-last, .grid-7-last, .grid-8-last, .grid-9-last, .grid-10-last, .grid-11-last {
  margin-right: 0%;
  margin-left: 0%;
}

.grid-6 .grid-6-last, .grid-6-last .grid-6-last, .grid-6-last .grid-6-last {
  width: 47%;
}

.grid-12-last {
  width: 100%;
}

/* Layout */
.grid-40 {
  width: 40%;
  padding: 0 1em;
}

.grid-50 {
  width: 50%;
  padding: 0 1em;
}

.grid-60 {
  width: 60%;
  padding: 0 1em;
}

.grid-67 {
  width: 67%;
  padding: 0 1em;
}

.grid-leftinsidebox {
  width: 67%;
  min-height: 5em;
  margin-left: -1.5em;
}

/*HEADLINES*/
/* .headlines class is applied to all h tags*/
.HP-Test .headlines, .HP-Test h1, .HP-Test h2, .HP-Test h3, .HP-Test h4, .HP-Test h5, .HP-Test h6 {
  margin: 0;
  padding: 0;
  line-height: 1em;
  color: #454545;
  font-weight: normal;
}

.HP-Test .emphasize {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

.HP-Test .headlines-centered {
  text-align: center;
  margin: 1em auto;
}

.HP-Test h1 {
  font-size: 3.5em;
}

.HP-Test h2 {
  font-size: 2.5em;
}

.HP-Test h3 {
  font-size: 1.5em;
}

.HP-Test h3.price {
  float: right;
  font-size: 1.5em;
  font-weight: normal;
}

.HP-Test h4 {
  font-size: 1em;
}

.HP-Test h5 {
  font-size: .8em;
  font-weight: normal;
  text-transform: uppercase;
}

.HP-Test h6 {
  font-size: .67em;
  font-weight: normal;
  text-transform: uppercase;
}

/*HEADLINES*/
/* .headlines class is applied to all h tags*/
.geo .headlines, .geo h1, .geo h2, .geo h3, .geo h4, .geo h5, .geo h6 {
  margin: 0;
  padding: 0;
  line-height: 1em;
  color: #454545;
  font-weight: normal;
}

.bluetint .headlines, .bluetint h1, .bluetint h2, .bluetint h3, .bluetint h4, .bluetint h5, .bluetint h6 {
  color: #FFF;
}

/*HEADLINES*/
/* .headlines class is applied to all h tags*/
.geo .headlines, .geo h1, .geo h2, .geo h3, .geo h4, .geo h5, .geo h6 {
  margin: 0;
  padding: 0;
  line-height: 1em;
  color: #454545;
  font-weight: normal;
}

.bluetint .headlines, .bluetint h1, .bluetint h2, .bluetint h3, .bluetint h4, .bluetint h5, .bluetint h6 {
  color: #FFF;
}

.geo .emphasize {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

.geo .headlines-centered {
  text-align: center;
  margin: 1em auto;
}

.geo h1 {
  font-size: 3.5em;
}

.geo h2 {
  font-size: 2.5em;
}

.geo h3 {
  font-size: 1.5em;
}

.geo h3.price {
  float: right;
  font-size: 1.5em;
  font-weight: normal;
}

.geo h4 {
  font-size: 1em;
}

.geo h5 {
  font-size: .8em;
  font-weight: normal;
  text-transform: uppercase;
}

.geo h6 {
  font-size: .67em;
  font-weight: normal;
  text-transform: uppercase;
}

.destination-alaska {
  background-image: url(../../../../../../resource.alaskaair.net/content/~/media/7852BC9A9947448E93F396D310F0D404.ashx.jpg)/*tpa=http://resource.alaskaair.net/content/~/media/7852BC9A9947448E93F396D310F0D404.ashx*/;
  background-position: left center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.destination-puertovallarta, #emsl6 {
  background-image: url(../../../../../../resource.alaskaair.net/content/~/media/Images/destinations/puertovallarta.ashx.jpg)/*tpa=http://resource.alaskaair.net/content/~/media/Images/destinations/puertovallarta.ashx*/;
  background-position: left center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.destination-newyork {
  background-image: url(../../../../../../resource.alaskaair.net/content/~/media/Images/destinations/newyork.ashx.jpg)/*tpa=http://resource.alaskaair.net/content/~/media/Images/destinations/newyork.ashx*/;
  background-position: left center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.destination-sandiego {
  background-image: url(../../../../../../resource.alaskaair.net/content/~/media/Images/destinations/sandiego.ashx.jpg)/*tpa=http://resource.alaskaair.net/content/~/media/Images/destinations/sandiego.ashx*/;
  background-position: left center;
  background-size: 145%;
  background-repeat: no-repeat;
}

.destination-neworleans {
  background-image: url(../../../../../../resource.alaskaair.net/content/~/media/Images/destinations/neworleans.ashx.jpg)/*tpa=http://resource.alaskaair.net/content/~/media/Images/destinations/neworleans.ashx*/;
  background-position: right center;
  background-size: 300%;
  background-repeat: no-repeat;
}

.destination-lasvegas, .vegas {
  background-image: url(../../../../../../resource.alaskaair.net/content/~/media/Images/destinations/lasvegas.ashx.jpg)/*tpa=http://resource.alaskaair.net/content/~/media/Images/destinations/lasvegas.ashx*/;
  background-position: center;
  background-size: 114%;
  background-repeat: no-repeat;
}

.destination-lasvegas .bluetint {
  background-color: rgba(0, 51, 110, 0.6);
}

.destination-skithewest, .skithewest {
  background-image: url(../../../../../../resource.alaskaair.net/content/~/media/Images/destinations/ski-the-west.ashx.jpg)/*tpa=http://resource.alaskaair.net/content/~/media/Images/destinations/ski-the-west.ashx*/;
  background-position: center;
  background-size: 101%;
  background-repeat: no-repeat;
}

.destination-kauai, #emsl5 {
  background-image: url(../../../../../../resource.alaskaair.net/content/~/media/Images/destinations/kauai.ashx.jpg)/*tpa=http://resource.alaskaair.net/content/~/media/Images/destinations/kauai.ashx*/;
  background-position: center;
  background-size: 105%;
  background-repeat: no-repeat;
}

.destination-kauai h2, #emsl5 h2 {
  line-height: 7em;
}

.destination-rome {
  background-image: url(../../../../../../resource.alaskaair.net/content/~/media/Images/destinations/rome.ashx.jpg)/*tpa=http://resource.alaskaair.net/content/~/media/Images/destinations/rome.ashx*/;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
}

#miles {
  min-height: 17.95em;
  color: white;
}

#milesText {
  position: relative;
  top: 10px;
}

#miles a .headlines, #miles a h1, #miles a h2, #miles a h3, #miles a h4, #miles a h5, #miles a h6 {
  color: white;
}

#miles a {
  color: white;
  text-decoration: none;
}

a#miles .module-blueContainer {
  background-color: transparent;
  box-shadow: 0 0 0px #fff;
}

a#miles h2 {
  color: white !important;
  padding: 5px 0;
}

#miles .card {
  background-image: url(../../../../../../resource.alaskaair.net/content/~/media/53B5F854D4D344F6AB3DCA2455778B8E.ashx.png)/*tpa=http://resource.alaskaair.net/content/~/media/53B5F854D4D344F6AB3DCA2455778B8E.ashx*/;
}

a.imageLinks {
  display: block;
  text-decoration: none;
}

.ad-cc-image {
  position: relative;
}
.ad-cc-image img {
  position: absolute;
  bottom: -123px;
  right: -1.5em;
}

.boa-explorers {
  background-image: url(../../../../../../resource.alaskaair.net/content/~/media/Images/destinations/hp_ads/650x300_hp_freebag.ashx.jpg)/*tpa=http://resource.alaskaair.net/content/~/media/Images/destinations/hp_ads/650x300_hp_freebag.ashx*/;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 109%;
}
.boa-explorers .ad-copy-1 {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: .8em;
  display: block;
}
.boa-explorers .ad-copy-2 {
  display: none;
}
.boa-explorers .ad-copy-3 {
  font-size: 24px;
}
.boa-explorers .ad-copy-1 sup {
  font-size: 50%;
}

.hero {
  float: right;
  cursor: pointer;
  text-align: right;
}

.heroPrice {
  width: 460px;
  height: 420px;
  display: block;
}

a.heroDisclaimer {
  color: white;
  font-size: 11px;
  text-decoration: none;
  display: block;
  font-family: Atlas, Arial, 'Helvetica Neue', Helvetica, sans-serif;
  text-shadow: 1px 1px 3px #000;
}

.geo .contentWrapNoSubNav {
  background: transparent;
  border: none;
  background-size: 100%;
  border-top: 2px solid #FFF;
  min-height: 420px;
  border-radius: 0px;
  background-repeat: no-repeat;
}

a#heroLink {
  text-decoration: none;
}

.hero-sale {
  font-family: Atlas, Arial, 'Helvetica Neue', Helvetica, sans-serif;
  position: relative;
  top: 46px;
  right: 29px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.hero-sale--headline {
  font-size: 64px;
  line-height: 1em;
  text-align: right;
  color: #FFF;
}

.hero-sale--subheadline {
  font-size: 18px;
  line-height: 2em;
  color: #FFF;
  text-align: right;
}

.hero-sale-pricing {
  line-height: 6em;
  color: #FFF;
  padding-top: 20px;
}

span.hero-saleprice {
  font-size: 80px;
}

sup.hero-saledollarsign, sup.hero-saleasterick {
  font-size: 38px;
}

span.hero-sale-oneway {
  display: inline-block;
  width: 26px;
  line-height: 1;
}

span.hero-sale-from {
  position: relative;
  top: -70px;
  left: 32px;
}

span.btn.btn-white, .boa-explorers span.btn.btn-ghost-white {
  text-shadow: none;
}

.sea .contentWrapNoSubNav {
  background-image: url(../../../../../../resource.alaskaair.net/content/~/media/FBB388795324445B877C1E76A82F0BB4.ashx.jpg)/*tpa=http://resource.alaskaair.net/content/~/media/FBB388795324445B877C1E76A82F0BB4.ashx*/;
}

.pdx .contentWrapNoSubNav {
  background-image: url(../../../../../../resource.alaskaair.net/content/~/media/3F5B124A97E64AC48BCFC8E14525720A.ashx.jpg)/*tpa=http://resource.alaskaair.net/content/~/media/3F5B124A97E64AC48BCFC8E14525720A.ashx*/;
}

.non .contentWrapNoSubNav {
  background-image: url(../../../../../../resource.alaskaair.net/content/~/media/E27FCD78D2054A188432103D20C5EA8E.ashx.jpg)/*tpa=http://resource.alaskaair.net/content/~/media/E27FCD78D2054A188432103D20C5EA8E.ashx*/;
}

.slc .contentWrapNoSubNav {
  background-image: url(../../../../../../resource.alaskaair.net/content/~/media/ED53DE63DD604AE898683391AFE3072A.ashx.jpg)/*tpa=http://resource.alaskaair.net/content/~/media/ED53DE63DD604AE898683391AFE3072A.ashx*/;
}



.non .hero-sale {
  text-shadow: none;
}
.non .hero-sale--headline {
  font-size: 64px;
  line-height: 1em;
  text-align: right;
}
.non .hero-sale--subheadline {
  font-size: 18px;
  line-height: 2em;
  text-align: right;
}
.non .hero-sale-pricing {
  line-height: 6em;
  padding-top: 20px;
}

/*# sourceMappingURL=home.css.map */
