/**
 *	overrides styles provided by the creative team that don't work in the context of the portal server
 */
 
 /*

These should no longer be necessary

#header {width: 990px; margin: 0 auto;}
#breadcrumbs {top: 20px;}

#portlet { width: auto; }
#main {width: 990px; margin: 0 auto;}

*/

div.portlet.cardinal {width: 990px; margin: 0 auto;}


/* to override internal styles on the home page */
div#main.home #content h2 {
	color: inherit;
	font-size: 18px;
}

/* 13-July shouldn't be necessary when all the links are activated */
#footer li {
	color: #A5A5AC;
	display: block;
	font-size: 10px;
	font-weight: normal;
	line-height: 12px;
	margin: 0 0 4px 0;
	padding: 0;
	text-decoration: none;
}

.home #content {margin: 0; position: relative, width: 971px; z-index: auto;}

#content .body {margin-top: 10px ; color: #2E2E2E;}
#content a, #content a:visited {
	color: #346170;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}
#content a:hover {
	text-decoration: underline;
}
#content img[align=left] { margin: 0 8px 8px 0; }

#content .overview-entry h2,
.detail #content .body_text h2 {
	margin-bottom: 0.85em;
}
.detail #content .body_text .legalcopy h2 {color: black;}

#overview-intro { color: #2E2E2E; font-size:11px;}

/* touts */

.side-tout a, .side-tout a:visited {
    color: #346170;
    font-size: 11px;
    font-weight: bold; 
    text-decoration: none;
}

/* tout colours */
#content h2.cardinalred {color: #E41F35;}
#content h2.skyblue {color: #3AB0C9;}
#content h2.ferngreen {color: #6CAC51;}
#content h2.yellowgreen {color: #A7C128;}
#content h2.seagreen {color: #49AF98;}

/* home page touts */
#homequickfind { width: 208px; }

/* login button -- comps used img, setting this up to use input[type=image] */
#login input[type=image] {
	display: block;
	float: left;
	margin: 0;
	position: relative;
}


