/* Internal CSS */

body {
	color: #a5a5ac;
}


/*******************
	Main Content 
*******************/
#main-content {
	float: left;
	padding: 0 0 60px 0;
	position: relative;
	width: 692px;
}

/*******************
	Breadcrumbs
*******************/
#breadcrumbs {
	background: transparent url(../images/breadcrumbs/bg.png)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/breadcrumbs/bg.png*/ no-repeat;
	position: absolute;
	left: 20px;
	top: 20px;
	width: 971px;
	height: 37px;
	z-index: 3;
}
 
#breadcrumbs-bottom {
	position: absolute;
	width: 990px;
	height: 37px;
	left: 25px;
	bottom: 15px;
	z-index: 3;
}

#breadcrumbs .buttons {
	background: transparent;
	color: #92d3e1;
	font-size: 11px;
	padding: 0 0 0 11px;
	height: 26px;
	width: 950px;
	white-space: nowrap;
	overflow: hidden;
}

#breadcrumbs-bottom .buttons {
	color: #92d3e1;
	font-size: 11px;
	height: 26px;
	width: 950px;
	white-space: nowrap;
	overflow: hidden;
}

#breadcrumbs .buttons img,
#breadcrumbs-bottom .buttons img {
	vertical-align: middle;
}

#breadcrumbs .buttons a,
#breadcrumbs .buttons a:visited,
#breadcrumbs-bottom .buttons a,
#breadcrumbs-bottom .buttons a:visited {
	color: #346170;
	font-weight: normal;
	text-decoration: none;
}

#breadcrumbs .buttons a:hover,
#breadcrumbs-bottom .buttons a:hover {
	text-decoration: underline;
}

#breadcrumbs .buttons a.selected,
#breadcrumbs .buttons a:visited.selected,
#breadcrumbs-bottom .buttons a.selected,
#breadcrumbs-bottom .buttons a:visited.selected {
	color: #000;
	font-weight: bold;
}


#content {
	margin: 0 0 0 8px;
	position: relative;
	width: 680px;
	z-index: 2;
}


/***************
	Header
***************/
#content .header {
	width: 680px;
}

#content .header .img {
	position: relative;
	width: 680px;
	height: 198px;
}

#content .header .caption {
	background: #e41f35;
	color: #FFF;
	font-size: 16px;
	line-height: 22px;
	margin: 0 0 0 0;
	padding: 10px 24px 22px 28px;
	position: relative;
	width: 628px;
	letter-spacing: -1px;
}

#content .header .menu {
	background: #92d3e1;
	color: #FFF;
	font-size: 15px;
	font-weight: bold;
	padding: 10px 24px 10px 28px;
	position: relative;
	width: 628px;
}

#content h1 {
	color: #ababb2;
	font-size: 17px;
	font-weight: normal;
	margin: 0;
	padding: 0 5px 0 0;
	width: 369px;
}

#content h1 a,
#content h1 a:visited {
	color: #346170;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
}

#content h1 a:hover {
	text-decoration: underline;
}

#content h1.green {
	color: #75c5b4;
	font-size: 36px;
	font-weight: bold;
	margin: 18px 0 14px 0;
	padding: 0;
}

#content h2 {
	color: #2e2e2f;
	font-size: 15px;
	margin: -3px 0 0 0;
}

#content h2 a,
#content h2 a:visited {
	color: #e41f35;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}

#content h2 a:hover {
	color: #2e2e2f;
}

#content h2.red {
	color: #e41f35;
	margin: 6px 0;
}

#content h2.green {
	color: #75c5b4;
	margin: 4px 0 15px 0;
}

#content h2.dark-border-top {
	border-top: #f1f1f3 4px solid;
	color: #2e2e2f;
	display: block;
	font-size: 15px;
	margin: 0 0 10px 0;
	padding: 12px 0 6px 0;
	/* width: 100%; */
}

#content h2.black {
	color: #2e2e2f;
	font-size: 18px;
}

#header-search {
	position: absolute;
	bottom: 15px;
	left: 478px;
	width: 200px;
	z-index: 2;
}

#header-search img {
	vertical-align: top;
}

#header-search .inputField {
	background: transparent url(Unknown_83_filename)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/surgery_centers/header_field.gif*/ no-repeat;
	border: none;
	color: #464648;
	float: left;
	font-size: 11px;
	font-weight: normal;
	margin: 0 10px 0 0;
	padding: 4px 6px 0 6px;
	position: relative;
	width: 98px;
	height: 16px;
	vertical-align: top;
}

#header-search a.submit-txt,
#header-search a:visited.submit-txt {
	color: #F3B657;
	display: block;
	float: left;
	font-size: 11px;
	font-weight: bold;
	padding: 3px 0 0 0;
	text-decoration: none;
}

#header-search a:hover.submit-txt {
	text-decoration: underline;
}

#searchBTN {
	cursor: pointer;
}


/****************
	Overview 
****************/
#content .content-left {
	float: left;
	margin: 23px 0 60px 0;
	padding: 0;
	position: relative;
	width: 430px;
}

#overview-intro {
	border-bottom: 4px #F1F1F3 solid;
	margin: 0 0 25px 0;
	padding: 0 0 15px 0;
	width: 440px;
}

#overview-intro .title_text {
	color: #2E2E2F;
	font-size: 15px;
	font-weight: normal;
	line-height: 20px;
	margin: 0px 0px 10px 0;
}

#overview-intro .copy {
	color: #2e2e2f;
	font-size: 11px;
}

#content .content-left.internal {
	border-top: none;
	border-bottom: none;
	
	margin: 23px 0 0 0;
	padding: 0;
}

#content .content-right {
	float: left;
	margin: 23px 0 0 34px;
	position: relative;
	width: 216px;
}



/***************
	Search 
***************/
#search-form {
	border-bottom: #f1f1f3 4px solid;
	color: #2e2e2f;
	font-size: 11px;
	margin: 0 0 9px 0;
	padding: 0 0 17px 0;
	width: 680px;
}

#search-form .left {
	float: left;
	padding: 0 29px 0 0;
	position: relative;
	width: 320px;
}

#search-form .right {
	float: left;
	position: relative;
	width: 331px;
}

#search-form .inputField {
	background: #FFF url(../images/search_page/input_field.gif)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/search_page/input_field.gif*/ no-repeat;
	border: none;
	color: #464648;
	font-size: 10px;
	padding: 0 8px;
	margin: 5px 0 14px 0;
	width: 304px;
	height: 20px;
}

#search-form .selectField {
	background: #e3e3e7;
	border: 1px solid #d6d6dc;
	color: #464648;
	margin: 5px 0 14px 0;
	width: 320px;
}

#search-form .submit-btn {
	color: #FFF;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
}

#search-results {
	color: #2e2e2f;
}

#search-results .toolbar {
	border-bottom: #c8c8d0 1px dotted;
	margin: 0 0 1px 0;
	padding: 0 0 9px 0;
}

#search-results .bottom {
	border-top: #c8c8d0 1px dotted;
	margin: 0 0 1px 0;
	padding: 9px 0;
}

#search-results .toolbar h2 {
	color: #2e2e2f;
	float: left;
	font-size: 15px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	position: relative;
	width: 210px;
}

#search-results .toolbar .sort_by,
#search-results .toolbar .per_page {
	float: left;
	position: relative;
	margin: 0 0 0 26px;
}

#search-results .toolbar .paging {
	float: right;
	font-size: 10px;
	position: relative;
}

#search-results .toolbar .paging a,
#search-results .toolbar .paging a:visited {
	color: #346170;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
}

#search-results .toolbar .paging a:hover {
	text-decoration: underline;
}

#search-results .toolbar .paging a.selected {
	color: #2e2e2f;
}

#search-results .toolbar .selectField {
	background: #e3e3e7;
	border: 1px solid #d6d6dc;
	color: #464648;
	margin: 0;
}

#search-results .result {
	background: #fcfbf8;
	border-top: #FFF 1px solid;
	font-size: 11px;
	padding: 10px;
}

#search-results .result.odd {
	background: #f4f1e6;
}

#search-results .resultField {
	background: transparent url(../images/search_page/result_field.gif)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/search_page/result_field.gif*/ no-repeat;
	border: none;
	margin: 6px 0;
	padding: 0 8px;
	width: 280px;
	height: 20px;
}

#search-results .result a,
#search-results .result a:visited {
	color: #346170;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}

#search-results .result a:hover {
	text-decoration: underline;
}


/********************
	Navigation
********************/
#navigation-left {
	float: left;
	margin: 24px 0 0 0;
	padding: 0 40px 0 0;
	position: relative;
	width: 200px;
}

#navigation-middle {
	float: left;
	margin: 24px 0 0 0;
	padding: 0 40px 0 0;
	position: relative;
	width: 195px;
}

#navigation-right {
	float: left;
	margin: 24px 0 0 0;
	position: relative;
	width: 205px;
}

.nav-entry {
	color: #2e2e2f;
	font-size: 11px;
	margin: 0 0 14px 0;
}

.nav-entry a,
.nav-entry a:visited {
	color: #346170;
	font-weight: bold;
	text-decoration: none;
}

.nav-entry a:hover {
	text-decoration: underline;
}

#navigation-touts {
	border-top: #f1f1f3 4px solid;
	padding: 20px 0 0 0;
	width: 680px;
}

#navigation-touts .tout-left {
	float: left;
	margin: 0 40px 0 0;
	position: relative;
	width: 200px;
}

#navigation-touts .tout-middle {
	float: left;
	margin: 0 40px 0 0;
	padding: 0;
	position: relative;
	width: 195px;
}

#navigation-touts .tout-right {
	float: left;
	margin: 0;
	padding: 0;
	position: relative;
	width: 192px;
}

#navigation-touts .tout-right .txt {
	width: 183px;
	padding: 0;
}

.overview-navigation {
	overflow: auto;
	margin: 16px 0 0 0;
	padding-bottom: 16px;
}

.overview-navigation .hide {
	display: none;
}

#content .overview-entry
{
	margin: 16px 0 0 0;
}

#content .entry {
	margin: 0 0 16px 0;
}

#content .overview-entry .left,
#content .entry .left {
	float: left;
	position: relative;
	text-align: left;
	vertical-align: top;
	width: 110px;
}

#content .overview-entry .right,
#content .entry .right {
	color: #000;
	float: left;
	font-size: 11px;
	padding: 0 16px 0 20px;
	position: relative;
	text-align: left;
	vertical-align: top;
	width: 224px;
}


/*****************
	404
*****************/
#cah404 {
	color: #2e2e2f;
	font-size: 11px;
	margin: 23px 0 60px 0;
	position: relative;
}

#cah404 a,
#cah404 a:visited {
	color: #346170;
	text-decoration: none;
}

#cah404 a:hover {
	text-decoration: underline;
}

#cah404 .intro-404 {
	margin: 0 0 25px 0;
}

#cah404 .links-404 .left-404 {
	border-top: 4px #F1F1F3 solid;
	float: left;
	margin: 0 50px 25px 0;
	padding: 7px 0 0 0;
	position: relative;
	width: 430px;
}

#cah404 .links-404 .left-404 .left-col {
	float: left;
	margin: 0 50px 0 0;
	position: relative;
	width: 190px;
}

#cah404 .links-404 .left-404 .right-col {
	float: left;
	position: relative;
	width: 190px
}

#cah404 .links-404 .right-404 {
	float: left;
	margin: 0 0 25px 0;
	padding: 0;
	position: relative;
	width: 200px;
}

#cah404 .links-404 h2 {
	border-top: 4px #F1F1F3 solid;
	color: #2e2e2f;
	font-size: 15px;
	font-weight: normal;
	margin: 15px 0 0 0;
	padding: 15px 0 0 0;
}

#cah404 .links-404 h2.right {
	margin: 0;
}

#cah404 .links-404 ul {
	list-style: none;
	margin: 0 0 0 -40px;
}

#cah404 .links-404 a,
#cah404 .links-404 a:visited {
	background: #FFF url(../images/common/line_dots_h.gif)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/common/line_dots_h.gif*/ no-repeat center bottom;
	display: block;
	padding: 2px 0 4px 0;
}

#cah404 .links-404 ul li {
	font-weight: bold;
}

#cah404 .links-404 ul ul,
#cah404 .links-404 ul ul ul {
	margin: 0 0 0 -40px;
}

#cah404 .links-404 ul ul li {
	font-weight: normal;
}

#cah404 .links-404 ul ul ul li a,
#cah404 .links-404 ul ul ul li a:visited {
	background: #FFF url(../images/common/line_dots_h.gif)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/common/line_dots_h.gif*/ no-repeat center bottom;
	display: block;
	padding: 2px 0 4px 20px;
}

#cah404 .links-404 ul ul ul li a:hover {
	text-decoration: underline;
}

#cah404 .links-404 ul ul ul ul li a,
#cah404 .links-404 ul ul ul ul li a:visited {
	background: #FFF url(../images/common/line_dots_h.gif)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/common/line_dots_h.gif*/ no-repeat center bottom;
	display: block;
	padding: 2px 0 4px 40px;
}

#cah404 .links-404 ul ul ul ul li a:hover {
	text-decoration: underline;
}


/*******************
	Detail Page
*******************/
.horizontal_rule {
	border-top: #f1f1f3 4px solid;
	height: 1px;
	margin: 0;
	padding: 13px 0 0 0;
	width: 100%;
}

hr.overview-rule {
	color: #f1f1f3;
	background-color: #f1f1f3;
	height: 4px;
	border: none;
}

/* Top Section */
#top_section {
	color: #2e2e2f;
	font-size: 11px;
	margin: 0 0 30px 0;
	position: relative;
	width: 680px;
}

#top_section .knockout {
	margin: 10px 0 0 0;
	position: relative;
	width: 200px;
	z-index: 3;
}

#top_section .knockout.right {
	margin-bottom: 15px;
	margin-left: 40px;
	float: right;
	position: relative;
}

#top_section .knockout.left {
	margin-right: 30px;
	margin-bottom: 15px;
	float: left;
	position: relative;
}

#top_section .title_text {
	color: #75c5b4;
	font-size: 36px;
	font-weight: bold;
	margin: 18px 0 14px 0;
	padding: 0;
	position: relative;
}

#top_section .teaser_text {
	color: #75c5b4;
	font-size: 15px;
	font-weight: bold;
	margin: 4px 0 15px 0;
	position: relative;
}

#top_section .summary_text {
	position: relative;
}

#top_section .summary_text {
	position: relative;
}


#top_section .summary_text p.big {
	font-size: 15px;
	line-height: 18px;
	padding: 0 0 20px 0;
}


/* Middle Section */
#mid_section {
	position: relative;
	margin: 0 0 30px 0;
	width: 680px;
	
}

#mid_section .touts_area {
	margin: 4px 0 0 0;
	position: relative;
	width: 200px;
	z-index: 3;
}

#mid_section .touts_area.right {
	float: right;
	margin-bottom: 15px;
	margin-left: 40px;
	position: relative;
	clear: right;
}

#mid_section .touts_area.left {
	float: left;
	margin-right: 30px;
	margin-bottom: 15px;
	position: relative;
}

#mid_section .touts_area .tout {
	
}

#mid_section .body_text {
	color: #2e2e2f;
	font-size: 11px;
	position: relative;
	/* float: left; */
}

#mid_section .title_text {
	color: #2e2e2f;
	font-size: 15px;
	font-weight: normal;
	line-height: 20px;
	margin: 0 0 10px 0;
}


/*****************
	Expandable
*****************/
.expandable-group {
	border-bottom: #2e2e2f 1px dotted;
	margin: 0 0 25px 0;
	width: 440px;
}

.expandable-group h2 {
	color: #2e2e2f !important;
	font-size: 15px;
	font-weight: bold;
	margin: 0 0 4px 0;
	padding-bottom: 14px;
	width: 440px;
}

.expandable-group .expandable-intro {
	margin: -11px 0 12px 0;
}

.expandable {
	border-top: #2e2e2f 1px dotted;
	margin: 0 0 2px 0;
}

.expandable .title {
	background: #FFF url(../images/common/expandable_closed.gif)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/common/expandable_closed.gif*/ no-repeat;
	color: #346170;
	cursor: pointer;
	display: block;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 11px;
	font-weight: bold;
	margin: 2px 0 2px 0;
	padding: 4px 12px 0 30px;
	width: 398px;
	height: 18px;
}

.expandable div.text {
	overflow: hidden;
	height: 16px;
}

.expandable .title:hover {
	color: #2e2e2f;
}

.expandable .title.open {
	background: #FFF url(../images/common/expandable_open.gif)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/common/expandable_open.gif*/ no-repeat;
}

.expandable .copy {
	background: #f4f1e6;
	color: #2e2e2f;
	display: none;
	font-size: 11px;
	line-height: 14px;
	padding: 15px 30px
}

.expandable .copy.open {
	display: block;
}


/* Bottom Section */
#btm_section {
	margin: 0 0 30px 0;
	position: relative;
	width: 680px;
}

#btm_section .touts_area {
	position: relative;
	width: 680px;
}

#btm_section .touts_area .tout-1col {
	float: left;
	position: relative;
	width: 200px;
}

#btm_section .touts_area .tout-2col {
	float: left;
	position: relative;
	width: 440px;
}

#btm_section .touts_area .tout-1col.left,
#btm_section .touts_area .tout-2col.left {
	margin-right: 40px;
}


#btm_section .touts_area .tout-3col {
	position: relative;
	width: 680px;
}


/******************
	Charts
******************/
/* 1 Col */
.chart-1col {
	position: relative;
	width: 200px;
}

/* 2 Col */
.chart-2col {
	position: relative;
	width: 440px;
}

.chart-2col-left {
	color: #2e2e2f;
	font-size: 11px;
	float: left;
	margin: 0 20px 0 0;
	position: relative;
	width: 150px;
}

.chart-2col-right {
	float: left;
	position: relative;
	width: 270px;
}

/* 3 Col */
.chart-3col {
	position: relative;
	width: 680px;
}

.chart-3col-left {
	float: left;
	margin: 0 20px 0 0;
	position: relative;
	width: 200px;
}

.chart-3col-right {
	float: left;
	position: relative;
	width: 460px;
}


/*****************
	Tables
*****************/
/* Table */
.table-3col {
	margin: 0;
	padding: 0 0 15px 0;
	width: 680px;
	position: relative;
}

.table-1col h2,
.table-2col h2,
.table-3col h2 {
	border-bottom: #c8c8d0 1px dotted;
	color: #2e2e2f;
	font-size: 15px;
	font-weight: bold;
	margin: 0 0 4px 0;
	padding-bottom: 14px;
}

#content table,
.table-1col table,
.table-2col table,
.table-3col table {
	border: 0;
	padding: 0;
	margin: 0;
}

.table-1col {
	width: 190px;
}

.table-1col table {
	width: 190px;
}

.table-2col {
	width: 440px;
}

.table-2col table {
	width: 440px;
}


.table-3col {
	width: 680px;
}

.table-3col table {
	width: 680px;
}

#content th,
.table-1col th,
.table-2col th,
.table-3col th {
	color: #907736;
	font-size: 8px;
	font-weight: bold;
	padding: 5px 10px;
	text-align: left;
}

#content td.odd,
.table-1col td.odd,
.table-2col td.odd,
.table-3col td.odd {
	background: #f4f1e6;
}

#content td,
.table-1col td,
.table-2col td,
.table-3col td {
	background: #fcfbf8;
	color: #2e2e2f;
	font-size: 11px;
	padding: 10px;
	text-align: left;
}

.table-1col .footer,
.table-2col .footer,
.table-3col .footer {
	font-size: 11px;
	font-style: italic;
	margin: 10px 0 0 0;
}


/******************
	Forms
******************/
.data-form {
	border-top: #c9c9d1 1px dotted;
}

.data-form.col-2 {
	width: 440px;
}

.data-form.col-1 {
	width: 680px;
}

.data-form .field {
	background: #fcfbf8;
	border-bottom: #c9c9d1 1px dotted;
	padding: 6px 0 0 0;
	position: relative;
	margin: 0;
	
	height: 27px;
}

.data-form.col-1 .field {
	float: left;
	position: relative;
	width: 340px;
}

.data-form.col-1 .field.wide {
	width: 680px;
}

.data-form .field.odd {
	background: #f4f1e6;
}

.data-form .field-textField {
	border-bottom: #c9c9d1 1px dotted;
	padding: 1px 0 6px 0;
	margin: 0 0 6px 0;
	width: 680px;
}

.data-form .field-textField.odd {
	background: #f4f1e6;
}

.data-form .field.last {
	border: none;
}

.data-form .inputField {
	background: #FFF url(../images/forms/inputField_bg.gif)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/forms/inputField_bg.gif*/ no-repeat;
	border: none;
	color: #464648;
	font-size: 10px;
	display: block;
	margin: 0 0 0 6px;
	padding: 4px 8px 0 8px;
	width: 412px;
	height: 16px;
}

.data-form.col-1 .inputField {
	background: #FFF url(../images/forms/inputField_col-1_bg.gif)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/forms/inputField_col-1_bg.gif*/ no-repeat;
	border: none;
	color: #464648;
	font-size: 10px;
	display: block;
	margin: 0 0 0 6px;
	padding: 4px 8px 0 8px;
	width: 308px;
	height: 16px;
}

.data-form.col-1 .field.wide .inputField {
	background: transparent url(../images/forms/inputField_col-1_bg_wide.gif)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/forms/inputField_col-1_bg_wide.gif*/ no-repeat;
	border: none;
	color: #464648;
	font-size: 10px;
	display: block;
	margin: 0 0 0 6px;
	padding: 4px 8px 0 8px;
	width: 658px;
	height: 16px;
}

.data-form .textArea {
	background: #e3e3e7 url(../images/forms/textArea_bg.gif)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/forms/textArea_bg.gif*/ no-repeat;
	border: none;
	color: #464648;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 10px;
	display: block;
	margin: 7px 4px 0 6px;
	padding: 4px 8px 0 8px;
	width: 412px;
	height: 90px;
}

.data-form.col-1 .textArea {
	background: #e3e3e7 url(../images/forms/textArea_col-1_bg.gif)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/forms/textArea_col-1_bg.gif*/ no-repeat;
	width: 650px;
}

/* 8/5 - Added by Ken -- allows for forms embedded in tout sections. */
.data-form.col-1 .field.tout {
        width: 202px;
}

.data-form.col-1 .field.tout .inputField {
        background: transparent url(../images/forms/inputField_col-1_bg_tout.gif)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/forms/inputField_col-1_bg_tout.gif*/ no-repeat;
        border: none;
        color: #464648;
        font-size: 10px;
        display: block;
        margin: 0 0 0 6px;
        padding: 4px 8px 0 8px;
        width: 170px;
        height: 16px;
}

/* End - Added */

.data-form.col-1 .selectField {
	background: #e3e3e7;
	border: 1px solid #d6d6dc;
	color: #464648;
	margin: 0 0 14px 6px;
	width: 322px;
	height: 20px;
}

.data-form.col-1 .dob {
	background: #e3e3e7;
	border: 1px solid #d6d6dc;
	color: #464648;
	margin: 0 0 14px 6px;
	width: 72px;
	height: 20px;

}

.data-form.col-1 .group {
	color: #464648;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 10px;
	padding-left: 14px;
}

.data-form em {
	padding: 5px 0 0 5px;
	position: relative;
}

.data-form .buttons {
	border-top: #c9c9d1 1px dotted;
	
	margin: 6px 0 0 0;
	padding: 9px 0 0 0;
	
	height: 33px;
}




/*****************
	Touts
*****************/
#content .side-tout {
	font-size: 11px;
	margin: 0 0 45px 0;
	position: relative;
	width: 200px;
}

#content .side-tout.detail {
	margin-bottom: 0;
}

#content .tout-1col h2, 
#content .side-tout h2 {
	color: #2e2e2f;
	font-size: 15px;
	margin: -3px 0 10px 0;
}

#content .side-tout h2.side-blue {
	color: #75c5b4;
	padding: 0 2px 0 0;
}

#content .side-tout h2.side-green {
	color: #9bc787;
	padding: 0 2px 0 0;
}

#content .side-tout h2.side-red {
	color: #e41f35;
	padding: 0 2px 0 0;
}

#content .side-tout .txt {
	width: 183px;
	padding: 0 25px 0 0;
}

a.link,
a.link:visited,
#content .side-tout a.link,
#content .side-tout a:visited.link {
	color: #346170;
	display: block;
	font-size: 11px;
	font-weight: bold;
	line-height: 14px;
	margin: 8px 0 0 0;
	text-decoration: none;
}

a.link.single,
a.link.single:visited {
	margin-top: 4px !important;
}


a:hover,
a:hover.link.yellow,
#content .detail-right a:hover.link.yellow,
#content .side-tout a:hover {
	text-decoration: underline;
}


a.link.yellow,
a:visited.link.yellow,
#content .detail-right  a.link.yellow,
#content .detail-right  a:visited.link.yellow,
#content .side-tout a.link.yellow,
#content .side-tout a:visited.link.yellow {
	background: #fcda5a;
	padding: 2px 4px 6px 6px;
}

#content .detail-right  a.link.yellow,
#content .detail-right  a:visited.link.yellow {
	font-weight: normal;
	margin: 5px 0 0 0;
	padding: 2px 2px 2px 3px;
}


/* Bottom Touts */
.btm-link {
	color: #2e2e2f;
	font-weight: bold;
	line-height: 16px;
	margin: 10px 0 0 0;
}

a.yellow-bg,
#content a.yellow-bg,
a.yellow-bg:visited,
#conetnt a.yellow-bg:visited {
	background-color: #fce17c;
	color: #346170;
	font-style: normal;
	margin: 0;
	padding: 3px 6px;
	text-decoration: none;
}

#content a.yellow-bg:hover,
a.yellow-bg:hover {
	background: #e41f35;
	color: #FFF;
	text-decoration: none;
}


/* 2 Column Tout */
.tout-2col {
	position: relative;
	width: 440px;
}

.tout-2col .img {
	float: left;
	position: relative;
	width: 126px;
	vertical-align: top;
}

.tout-2col .copy {
	float: left;
	padding: 5px 0 0 0;
	position: relative;
	width: 314px;
}

.tout-2col .copy h2 {
	margin: 0 0 5px 0 !important;
}


/* Image Tout */
.img-tout {
	background: #e41f35;
	color: #FFF;
	font-size: 12px;
	font-weight: bold;
	height: 252px;
}

.img-tout a,
.img-tout a:visited {
	background-color: #fce17c;
	color: #346170;
	display: block;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	margin: 5px 0 0 0;
	padding: 3px 3px 3px 2px;
	text-decoration: none;
}

.img-tout a:hover {
	background: #FFF;
	color: #e41f35;
	text-decoration: none;
}


.img-tout .bottom {
	padding: 6px 9px 9px 9px;
}


/* Partner Tout */
.partner-tout {
	background: #FFF;
	width: 200px;
}

.partner-tout h2 {
	background: #346170 !important;
	color: #FFF !important;
	display: block !important;
	font-size: 12px !important;
	font-weight: bold !important;
	margin: 0 !important;
	padding: 7px !important;
}

.partner-tout h3 {
	color: #2e2e2f;
	display: block;
	font-size: 12px;
	font-weight: bold;
	margin: 0;
	padding: 0 20px 0 0;
}

.partner-tout .copy {
	color: #2e2e2f;
	font-size: 11px;
	margin: 0 0 8px 0;
}

.partner-tout a,
.partner-tout a:visited {
	background-color: #fce17c;
	color: #346170;
	display: inline;
	font-size: 9px;
	font-weight: bold;
	padding: 4px 8px;
	position: relative;
	text-decoration: none;
}

.partner-tout a:hover {
	background: #e41f35;
	color: #FFF;
}


/* Sales Rep Find Tout */
.find-tout {
	color: #2e2e2f;
	font-size: 11px;
	float: left;
	background: #FFF;
	font-size: 11px;
	position: relative;
	width: 190px;
}

.find-tout h2 {
	margin: 0 0 5px 0 !important;
}

.find-tout .copy {
	margin: 0 0 8px 0;
}

.find-tout .inputField {
	background: #FFF url(../images/detail/inputField_bg.gif)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/detail/inputField_bg.gif*/ no-repeat;
	border: none;
	color: #464648;
	float: left;
	font-size: 10px;
	display: block;
	margin: 2px 4px 0 0;
	padding: 4px 8px 0 8px;
	width: 91px;
	height: 16px;
}

/* Document Tout */
.docs-tout {
	
}

.docs-tout .txt {
	margin: 10px 0 0 0;
}

a.doc,
a.doc:visited {
	background: transparent url(../images/touts/document.gif)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/touts/document.gif*/ no-repeat scroll 0 5px;
	color: #346170;
	display: block;
	font-weight: bold;
	margin: 0 0 5px 0;
	padding: 0 0 0 15px;
	text-decoration: none;
}

a.doc em {
	font-weight: normal;
}

a.doc:hover {
	text-decoration: underline;
}

a.doc.dots-top {
	background-position: 0 10px;
	border-top: #c9c9d1 1px dotted;
	padding-top: 5px; 
}


/* Contact tout */
.contact-tout {
	color: #2e2e2f;
}

.contact-tout .txt {
	margin: 10px 0 0 0;
}

.contact-tout .contact {
	border-bottom: #c8c8d0 1px dotted;
	margin: 0 0 8px 0;
	padding: 0 0 8px 0;
	width: 186px;
}

.contact-tout .contact em {
	background: transparent url(../images/touts/phone.gif)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/touts/phone.gif*/ no-repeat scroll 0 0;
	display: block;
	font-style: normal;
	margin: 7px 0 0 0;
	padding: 0 0 0 15px;
}

.contact-tout a.full,
.contact-tout a.full:visited {
	display: block;
	font-weight: bold;
	width: 175px;
}


/*********************
	Bulleted Lists
*********************/
#content ol,
#content ul,
ul.bullet-list {
	margin: 0;
	padding: 0;
}

#content ol li,
#content ul li,
ul.bullet-list li {
	list-style-position: inside;
	margin: 0 0 10px 0;
}

#content ol li ol,
#content ul li ul,
ul.bullet-list li ul {
	margin: 10px 0 0 30px;
}

.link-col {
	float: left;
	position: relative;
	width: 200px;
}

.link-col.right-col {
	margin: 0 40px 0 0;
}

#content h3.grey {
	color: #b0b0b0;
	font-size: 15px;
	margin: -3px 0 14px 0;
}
/*****************
Advance Search 
********************/

#search .advsearch {	
	border-top: #FFF 1px solid;
	display: block;
	font-size: 11px;
	padding: 4px;       
	
}
#search  a,
#search  a:visited {
	color: #346170;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}


#search a:hover {
	text-decoration: underline;
}
