/* Main Style Sheet */

body {
	background: #FFF;
	color: #000;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

img {
	border: 0;
}

.clear {
	clear: both;
}

.line-dots-h {
	background: #FFF url(../images/common/line_dots_h.gif)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/common/line_dots_h.gif*/ no-repeat center bottom;
	clear: both;
	margin: 0;
	padding: 0;
	position: relative;
	width: 429px;
	height: 17px;
}

.overview-navigation .line-dots-h
{
	clear: left;
}

#main {
	background: transparent url(../images/common/shadow_btm_big.png)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/common/shadow_btm_big.png*/ no-repeat center bottom;
	margin: 0 auto 0 auto;
	padding: 0 0 5px 0;
	position: relative;
	width: 990px;
	z-index: 1;
}

#shadow-btm {
	background: #e41f35 url(../images/common/shadow_btm.jpg)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/common/shadow_btm.jpg*/ no-repeat;
	height: 30px;
}



/*******************
	Header 
*******************/
#header {
	margin: 0 auto;
	position: relative;
	width: 990px;
	height: 75px;
}

#header .logo {
	position: absolute;
	left: 0px;
	top: 11px;
	width: 194px;
	height: 63px;
}


/* Login Form */
#login {
        background: #FFF url(../images/login/bg_login.gif)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/login/bg_login.gif*/ no-repeat;
        margin: 0;
        padding: 0px 0px 0px 9px;
        position: absolute;
        text-align: right;
        right: 7px;
        top: 0px;
        width: 662px;
        height: 34px;
        display:none;
}

#login .fields {
        display: inline;
        position: relative;
        float: left;
        height: 17px;
        padding-top: 6px;
}

#login .buttons {
        display: inline;
        position: relative;
        float: left;
        height: 27px;
        padding: 6px 9px 0 0;
        background: url("../images/login/bg_login.gif")/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/login/bg_login.gif*/ no-repeat scroll right top #FFFFFF;
}

#login .closed {
	width: 600px;
	color: #e41f35;
        display: inline;
        position: relative;
        float: left;
        height: 27px;
        padding: 6px 9px 0 0;
        text-align: left;
        background: url("../images/login/bg_login.gif")/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/login/bg_login.gif*/ no-repeat scroll right top #FFFFFF;
}

#login .buttons img {
	display: block;
	float: left;
	position: relative;
	vertical-align: middle;
}

#ch-home-body #login{ 
	display: block; 
}

#logonpassword {
	dipslay: none;
}

#login .inputField {
	background: transparent url(../images/login/bg_field.gif)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/login/bg_field.gif*/ no-repeat;
	border: none;
	color: #907736;
	font-size: 10px;
	margin: 0 7px 0 0;
	padding: 2px 4px 0 4px;
	position: relative;
	width: 161px;
	height: 17px;
}

#login .selectField {
	background: #f9f4db;
	border: 1px solid #a89668;
	color: #907736;
	font-size: 10px;
	margin: 0 10px 0 0;
	padding: 0;
	position: relative;
	width: 150px;
}

#login a.loginBtn,
#login a:visited.loginBtn {
	display: block;
	float: left;
	margin: 0;
	position: relative;
}



/* Search Form */
#search {
	position: absolute;
	right: 15px;
	top: 45px;
	width: 314px;
	height: 20px;
}

#search img {
	vertical-align: top;
}

#search .inputField {
	background: transparent url(../images/search/bg_field.gif)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/search/bg_field.gif*/ no-repeat;
	border: none;
	color: #464648;
	font-size: 10px;
	font-weight: bold;
	margin: 0 5px 0 0;
	padding: 5px 6px 0 6px;
	position: relative;
	width: 219px;
	height: 15px;
}


/* Main Navigation */

#nav {
	background: transparent;
	position: absolute;
	top: 0px;
	width: 971px;
	height: 53px;
	z-index: 2;
}

#nav .feat-nav-ul {
	list-style: none;
	margin: 0;
}

#nav .shadow-btm {
	background: transparent url(../images/nav/shadow_btm.png)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/nav/shadow_btm.png*/ no-repeat;
	font-size: 1px;
	line-height: 1px;
	height: 7px;
}


/* Nav Rollovers */
#nav-healthcare_providers,
#nav-pharmacies,
#nav-suppliers {
	display: none;
	position: absolute;
	width: 815px;
	top: 45px;
	z-index: 3;
}

#nav-healthcare_providers {
	left: -23px;
}

#nav-pharmacies {
	left: -252px;
}

#nav-suppliers {
	left: -398px;
}

.btn-off {
	cursor: pointer;
}

.btn-on {
	position: relative;
}

#healthcare_providers .btn-on {
	display: none;
	left: -2px;
	top: 2px;
	position: absolute;
}

#pharmacies .btn-on {
	display: none;
	left: 2px;
	top: 2px;
	position: absolute;
}

#suppliers .btn-on {
	display: none;
	left: 0;
	top: 2px;
	position: absolute;
}


.nav-arrow {
	float: left;
	position: relative;
}

.feat-nav {
	float: left;
	position: relative;
}

.feat-nav-on {
	width: 815px;
}

.feat-nav-on .feat-container {
	background: transparent url(../images/nav/feat_shadow_mid.png)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/nav/feat_shadow_mid.png*/ repeat-y; 
}

.feat-nav-on .top {
	background: #FFFFFF;
	margin: 0 0 0 24px;
	padding: 20px 29px 23px 29px;
	position: relative;
	width: 709px;
}

.feat-nav-on .top h2 {
	color: #92d3e1;
	display: inline;
	font-size: 16px;
	font-weight: normal;
	line-height: 28px;
	margin: -2px 0 5px 0;
	padding: 0 0 0 0;
}

.feat-nav-on .top h3 {
	color: #2e2e2f;
	display: inline;
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 14px 0;
	padding: 0;
}

.feat-nav-on .top h3 a,
.feat-nav-on .top h3 a:visited {
	background-color: #fce17c;
	color: #346170;
	font-style: normal;
	padding: 3px 6px;
	text-decoration: none;
}

.feat-nav-on .top h3 a:hover {
	background: #e41f35;
	color: #FFF;
}

.feat-nav-on .top .links {
	color: #939393;
	font-size: 11px;
	font-weight: bold;
	padding: 8px 0 0 0;
}

.feat-nav-on .top .links a,
.feat-nav-on .top .links a:visited {
	background: #FFF url(../images/nav/link_arrow.gif)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/nav/link_arrow.gif*/ no-repeat right 3px;
	color: #e41f35;
	font-weight: bold;
	margin: 0 0 0 19px;
	padding: 0 8px 0 0;
	text-decoration: none;
}

.feat-nav-on .top .links a:hover {
	background: #FFF url(../images/nav/link_arrow_ro.gif)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/nav/link_arrow_ro.gif*/ no-repeat right 3px;
	color: #2e2e2f;
}

.feat-nav-on .btm {
	background: #e41f35 url(../images/nav/bg_btm.gif)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/nav/bg_btm.gif*/ repeat-x center top;
	color: #FFF;
	line-height: 15px;
	margin: 0 0 0 24px;
	padding: 0 0 20px 29px;
	position: relative;
	width: 738px;
}


.feat-nav-on .btm a.header,
.feat-nav-on .btm a.header:visited {
	font-size: 12px;
	color: #750404;
	display: block;
	font-weight: bold;
	margin: 18px 0 3px 0;
	padding: 0;
	text-decoration: none;
}

.feat-nav-on .btm a.header:hover {
	color: #fcda5a;
}

.feat-nav-on .btm a,
.feat-nav-on .btm a:visited {
	color: #FFF;
	font-weight:normal;
	text-decoration: none;
}

.feat-nav-on .btm a:hover {
	color: #fcda5a;
}

.feat-nav-on .btm ul.col {
	float: left;
	position: relative;
	margin: 0 20px 0 -40px;
	width: 226px;
	list-style: none;
}

.feat-nav-on .feat-shadow-btm {
 	background: transparent url(../images/nav/feat_shadow_btm.png)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/nav/feat_shadow_btm.png*/ no-repeat; 
	width: 815px;
	height: 48px;
}



/*******************
	Middle 
*******************/
#middle {
	margin: 34px 0 0 0;
	padding: 0 0 0 19px;
	position: relative;
	width: 971px;
	height: 750px;
}


/* Content */
#content {
	color: #2e2e2f;
	padding: 46px 0 0 0;
	position: relative;
	width: 971px;
}

#featureDiv {
	margin: 0 0 0 14px;
	width: 941px;
	height: 331px;
}

.h_line {
	background: #FFF url(../images/common/line_h_940.gif.png)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/common/line_h_940.gif*/ no-repeat center;
	font-size: 1px;
	line-height: 1px;
	width: 971px;
	height: 1px;
}

#btmContent {
	background: transparent url(../images/common/bg_content.png)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/common/bg_content.png*/ no-repeat;
	margin: 10px 0 0 0;
	padding: 0;
	position: relative;
	width: 971px;
	height: 333px;
	z-index: 1;
}

#newsFlashDiv {
	margin: 0 0 0 17px;
	position: relative;
	width: 938px;
	height: 36px;
}

#toutsContent {
	background: #FFF;
	margin: 0 0 0 7px;
	position: relative;
	width: 959px;
	height: 306px;
	overflow: hidden;
}

#sectionNavShadow {
	background: #FFF url(../images/sectionNav/bg_sectionNav.gif)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/sectionNav/bg_sectionNav.gif*/ no-repeat;
	font-size: 1px;
	line-height: 1px;
	position: absolute;
	width: 232px;
	height: 300px;
	top: 0px;
	left: 0px;
	z-index: 1;
}

#sectionNavShadow .shadow {
	background: transparent url(../images/sectionNav/shadow.jpg)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/sectionNav/shadow.jpg*/ no-repeat;
	display: inline;
	position: absolute;
	width: 232px;
	height: 116px;
	left: 0px;
	top: 1px;
}

#sectionNavShadow .shadow2 {
	background: transparent url(../images/sectionNav/shadow_btm.jpg)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/sectionNav/shadow_btm.jpg*/ no-repeat;
	display: none;
	position: absolute;
	width: 232px;
	height: 77px;
	left: 0px;
	bottom: 0px;
}


#sectionNav {
	background: transparent;
	font-size: 1px;
	line-height: 1px;
	position: absolute;
	width: 229px;
	height: 297px;
	top: 0px;
	left: 0px;
	z-index: 3;
}

#sectionNav .section-nav {
	cursor: pointer;
}

#sections {
	position: absolute;
	width: 633px;
	height: 297px;
	left: 0px;
	top: 0px;
}

#sections .section {
	background: #e41f35;
	display: none;
	position: absolute;
	top: 11px;
	left: 232px;
	width: 418px;
	height: 281px;
}

#sections .section.first {
	display: inline;
}

#sections .section .img {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}

#sections .section .txt {
	color: #FFF;
	font-size: 14px;
	line-height: 18px;
	position: absolute;
	width: 340px;
	left: 20px;
	top: 145px;
	z-index: 2;
}

#sections .section .txt a,
#sections .section .txt a:visited {
	background: #fcda5a;
	color: #346170;
	margin: 4px 0;
	padding: 0px 3px;
	text-decoration: none;
}

#sections .section .txt a:hover {
	background: #FFF;
	color: #e41f35;
}


/* Touts */
#touts {
	background: #FFF url(../images/touts/bg_touts.jpg)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/touts/bg_touts.jpg*/ no-repeat;
	color: #FFF;
	position: absolute;
	font-family: Verdana, Tahoma, sans-serif;
	font-size: 15px;
	line-height: 18px;
	width: 279px;
	height: 297px;
	left: 666px;
	top: 0px;
}

#touts h2 {
	font-size: 18px;
	margin: 0 0 5px 0;
	padding: 0;
}


#touts .toutTop {
	background: #9bc787;
	margin: 11px 0 1px 13px;
	padding: 24px 0 0 29px;
	width: 237px;
	height: 116px;
}

#touts .toutBtm {
	background: #536970;
	margin: 0 0 15px 13px;
	padding: 35px 0 0 29px;
	width: 237px;
	height: 105px;
}

#touts .selectBox {
	margin: 8px 0 0 0;
	width: 200px;
}


.tout-red-box {
	background: #e41f35;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
}

#content .tout-red-box .txtlink a,
#content .tout-red-box .txtlink a:visited {
	background: #fcda5a;
	color: #346170;
	margin: 4px 0;
	padding: 0px 3px;
	text-decoration: none;
}

#content .tout-red-box .txtlink a:hover {
	background: #FFF;
	color: #e41f35;
}


/*******************
	Internal Page
*******************/
#main.home,
#main.overview,
#main.navigation,
#main.detail,
#main.search {
	padding: 0 0 25px 0;
}



/*******************
	Sidebar
*******************/
#sidebar {
	background: #FFF;
	float: left;
	margin: 72px 0 60px 3px;
	position: relative;
	width: 292px;
}

/* Nav */
#sidebar .nav {
	background: #FFF;
	font-size: 0;
	margin: 0 0 13px 34px;
	width: 221px;
}

#sidebar .nav img { 
	vertical-align: top;
	border-bottom: 1px #eeeeee solid;
}

#sidebar .nav .navBlock {
	background: #FFF;
	display: block;
	margin: 0;
	padding: 4px 0 5px 0;
	position: relative;
}

#sidebar .nav .navBlock.current { 
	background: #e9e4cd !important;
}

#sidebar .nav .navBlock .navArrow {
	float: left;
	position: relative;
	width: 11px;
	height: 18px;
	margin-top: -4px;
}

#sidebar .nav .navBlock.open {
	background: #FFF url(../images/common/line_dots_h.gif)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/common/line_dots_h.gif*/ no-repeat center bottom;
}


#sidebar .nav .navBlock .navArrow.closed {
	background: transparent url(../images/sidebar/nav/arrow_off.gif)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/sidebar/nav/arrow_off.gif*/ no-repeat 0 4px;
	cursor: pointer;
}

#sidebar .nav .navBlock .navArrow.open {
	background: transparent url(../images/sidebar/nav/arrow_open.gif)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/sidebar/nav/arrow_open.gif*/ no-repeat 0 4px;
}

#sidebar .nav ul.buttons {
	list-style: none;
	margin: 0 0 0 -40px;
}

#sidebar .nav ul.buttons li {
	background: #FFF url(../images/common/line_dots_h.gif)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/common/line_dots_h.gif*/ no-repeat center bottom;
	padding: 1px 0 2px 0;
}

#sidebar .nav ul.buttons li.last {}


#sidebar .nav ul.buttons li.open .navBlock {
	background: #FFF url(../images/sidebar/nav/bg_nav_selected.gif)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/sidebar/nav/bg_nav_selected.gif*/ no-repeat;
}

#sidebar .nav a.link, 
#sidebar .nav a.link:visited {
	background: none;
	color: #346170;
	display: inline;
	float: left;
	font-size: 11px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	position: relative;
	text-decoration: none;
	width: 202px;
}

#sidebar .nav a.link:hover {
	text-decoration: underline;
}

#sidebar .nav a.link.open,
#sidebar .nav a.link.open:visited {
	color: #2e2e2f;
	padding: 0;
}

#sidebar ul.subnav {
	background: transparent;
	display: none;
	list-style: none;
	margin: 0 0 0 -40px;
}

#sidebar .nav ul.subnav.open {
	display: block;
}

#sidebar .nav ul.subnav li {
	background: transparent url(../images/common/line_dots_h_sub.gif)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/common/line_dots_h_sub.gif*/ no-repeat center bottom;
	border: none;
	padding: 1px 0 2px 0;
}

#sidebar ul.subnav li.sub.last {
	background: none;
	border: none;
}

#sidebar ul.subnav a,
#sidebar ul.subnav a:visited {
	background: none;
	color: #346170;
	display: block;
	font-size: 11px;
	font-weight: normal;
	margin: 0 0 0 11px;
	padding: 4px 0 4px 8px;
	text-decoration: none;
	width: 200px;
}

#sidebar ul.subnav a:hover {
	text-decoration: underline;
}

/* Sub nav */
#sidebar .nav .subNavBlock {
	background: none;
	display: block;
	margin: 0;
	padding: 4px 0 5px 0;
	position: relative;
}

#sidebar .nav .subNavBlock.current {
	background: #e9e4cd !important;
}

#sidebar .nav .subNavBlock .navArrow {
	float: left;
	position: relative;
	width: 11px;
	height: 18px;
	margin-top: -4px;
}

#sidebar .nav .subNavBlock.open {
	background: transparent url(../images/common/line_dots_h.gif)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/common/line_dots_h.gif*/ no-repeat center bottom;
}

#sidebar .nav .subNavBlock .navArrow.closed {
	background: transparent url(../images/sidebar/nav/sub_arrow_off.gif)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/sidebar/nav/sub_arrow_off.gif*/ no-repeat 0 4px;
	cursor: pointer;
}

#sidebar .nav .subNavBlock .navArrow.open {
	background: transparent url(../images/sidebar/nav/sub_arrow_open.gif)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/sidebar/nav/sub_arrow_open.gif*/ no-repeat 0 4px;
}

#sidebar .nav a.sub-link, 
#sidebar .nav a.sub-link:visited {
	background: transparent;
	color: #346170;
	display: inline;
	float: left;
	font-size: 11px;
	font-weight: normal;
	padding: 0;
	margin: 0;
	position: relative;
	text-decoration: none;
	width: 202px;
}

#sidebar .nav a.sub-link:hover {
	text-decoration: underline;
}

#sidebar .nav a.sub-link.open,
#sidebar .nav a.sub-link.open:visited {
	color: #2e2e2f;
	padding: 0;
}



/* Section Nav */
#sidebar .sectionNav {
	margin: 0 0 22px 20px;
	width: 256px;
}
#sidebar .sectionNav ul.buttons {
	font-size: 1px;
	line-height: 0;
	list-style: none;
	margin: 0 0 0 -20px;
}



/*******************
	Footer
*******************/
#footer {
	background: #e41f35;
	padding: 30px 0 20px 17px;
	position: relative;
	margin: -40px 0 0 0;
	z-index: 0;
}

#footer h2 {
	color: #750404;
	font-size: 10px;
	font-weight: bold;
	margin: 13px 0 2px 0;
	padding: 0;
}

#footer h3 {
	color: #750404;
	font-size: 10px;
	font-weight: normal;
	margin: 0 0 2px 0;
	padding: 0;
}

#footer a,
#footer a:visited {
	color: #FFF;
	display: block;
	font-size: 10px;
	font-weight: normal;
	line-height: 12px;
	margin: 0 0 4px 0;
	padding: 0;
	text-decoration: none;
}

#footer a:hover {
	color: #fcda5a;
}


#footer .col {
	border-top: #d71d33 4px solid;
	float: left;
	margin: 0 0 0 16px;
	position: relative;
	line-height: 15px;
	text-align: left;
	width: 140px;
}

#footer .col ul {
	margin: 0 0 0 -40px;
	list-style: none;
}

#footer .col.first {
	margin: 0;
	width: 140px;
}

#footer .col-int {
	float: left;
	position: relative;
	line-height: 15px;
	width: 140px
}

#footer .col-int.first {
	margin: 0 20px 0 0;
}


#footer-links {
	position: relative;
	background: #e41f35;
	border-bottom: #d71d33 4px solid;
	padding: 0 0 15px 0;
	width: 941px;
}

#footer-legal {
	background: #e41f35;
	border-bottom: #d71d33 2px solid;
	color: #750404;
	font-size: 9px;
	padding: 19px 0 22px 0;
	text-align: left;
	width: 941px;
}

#footer-legal h2 {
	font-size: 12px;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

#footer-legal .sizer {
	float: left;
	margin: 5px 0 0 0;
	position: relative;
}

#footer-legal .sizer a,
#footer-legal .sizer a:visited {
	color: #fcda5a;
	display: inline;
	margin: 0 4px 0 0;
	text-decoration: underline;
}

#footer-legal .sizer a:hover {
	color: #FFF;
	text-decoration: underline;
}

#footer-legal .sizer a.sm {
	font-size: 10px;
}

#footer-legal .sizer a.md {
	font-size: 11px;
	font-weight: bold;
}

#footer-legal .sizer a.lg {
	font-size: 12px;
}

#footer-legal .links {
	float: left;
	margin: 7px 0 0 0;
	position: relative;
}

#footer-legal .links a,
#footer-legal .links a:visited {
	color: #FFF;
	display: inline;
	font-size: 9px;
	margin: 0 0 0 18px;
	text-decoration: none;
}

#footer-legal .links a:hover {
	color: #fcda5a;
}



/**************
	Buttons
**************/

html #content .buttons a.primary,
.buttons a.primary,
html #content a.primary:visited,
.buttons a.primary:visited {
	background: #FFF url(../images/buttons/btn_background.gif)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/buttons/btn_background.gif*/ no-repeat scroll left 0px;
	float: left;
	display: block;
	border: none;
	cursor: pointer;
	height: 27px;
	padding-right: 0px;
	margin-right: 8px;
	color: #ffffff;
	text-decoration: none;
}

.buttons a.primary span,
.buttons a.primary:visited span {
    background: transparent url(../images/buttons/btn_right.gif)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/buttons/btn_right.gif*/ no-repeat scroll right 0px;
    display: block;
    padding: 6px 8px 6px 8px;
}

html #content .buttons a.primary:hover,
.buttons a.primary:hover {
	background: #FFF url(../images/buttons/btn_background.gif)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/buttons/btn_background.gif*/ no-repeat scroll left -27px;
	color: #e41f35;
}

.buttons a.primary:hover span {
    background: transparent url(../images/buttons/btn_right.gif)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/buttons/btn_right.gif*/ no-repeat scroll right -27px;
}

html #content .buttons a.secondary,
.buttons a.secondary,
html #content .buttons a.secondary:visited,
.buttons a.secondary:visited {
        background: #FFF url(../images/buttons/btn_sec_background.gif)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/buttons/btn_sec_background.gif*/ no-repeat scroll left 0px;
        float: left;
        display: block;
        border: none;
        cursor: pointer;
        height: 27px;
        padding-right: 0px;
        margin-right: 8px;
        color: #e41f35;
        text-decoration: none;
}

.buttons a.secondary span,
.buttons a.secondary:visited span {
    background: transparent url(../images/buttons/btn_sec_right.gif)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/buttons/btn_sec_right.gif*/ no-repeat scroll right 0px;
    display: block;
    padding: 6px 8px 6px 8px;
}

html #content .buttons a.secondary:hover,
.buttons a.secondary:hover {
        background: #FFF url(../images/buttons/btn_sec_background.gif)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/buttons/btn_sec_background.gif*/ no-repeat scroll left -27px;
        color: #e41f35;
}

.buttons a.secondary:hover span {
    background: transparent url(../images/buttons/btn_sec_right.gif)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/buttons/btn_sec_right.gif*/ no-repeat scroll right -27px;
}

/* Search */
.search-btn,
.search-btn:visited {
	background: #FFF url(../images/buttons/search_btn.gif)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/buttons/search_btn.gif*/ no-repeat scroll left 0px;
	border: none;
	cursor: pointer;
	width: 64px;
	height: 27px;
}

.search-btn:hover {
	background: #FFF url(../images/buttons/search_btn.gif)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/buttons/search_btn.gif*/ no-repeat scroll left -27px;
}

/* Find */
.find-btn,
.find-btn:visited {
	background: #FFF url(../images/buttons/find_btn.gif)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/buttons/find_btn.gif*/ no-repeat scroll left 0px;
	border: none;
	cursor: pointer;
	width: 47px;
	height: 27px;
}

.find-btn:hover {
	background: #FFF url(../images/buttons/find_btn.gif)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/buttons/find_btn.gif*/ no-repeat scroll left -27px;
}

/* Send */
.send-btn,
.send-btn:visited {
	background: #FFF url(../images/buttons/send_btn.gif)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/buttons/send_btn.gif*/ no-repeat scroll left 0px;
	border: none;
	cursor: pointer;
	width: 52px;
	height: 27px;
}

.send-btn:hover {
	background: #FFF url(../images/buttons/send_btn.gif)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/buttons/send_btn.gif*/ no-repeat scroll left -27px;
}

/* Reset */
.reset-btn,
.reset-btn:visited {
	background: #FFF url(../images/buttons/reset_btn.gif)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/buttons/reset_btn.gif*/ no-repeat scroll left 0px;
	border: none;
	cursor: pointer;
	width: 53px;
	height: 27px;
}

.reset-btn:hover {
	background: #FFF url(../images/buttons/reset_btn.gif)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/buttons/reset_btn.gif*/ no-repeat scroll left -27px;
}

ul.docs {
	list-style-image: url(../images/touts/document.gif)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/touts/document.gif*/;
	margin-top: 10px;
}

ul.phone,
li.phone {
	list-style-image: url(../images/touts/phone.gif)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/touts/phone.gif*/;	
	margin-top: 10px;
}

ul.email,
li.email {
	list-style-image: url(../images/touts/email.gif)/*tpa=http://www.cardinal.com/mps/CacheProxyServlet/colorPalette/default/browserVendor/Netscape/browserName/Navigator/browserVersion/unknown/locale/en/forwardurl/mps/themes/html/Cardinal/images/touts/email.gif*/;	
	margin-top: 10px;
}

sub,
sup {
	font-size: 0.636em;
}

h1 sub,
h1 sup,
h2 sub,
h2 sup {
	font-size. 0.75em;
}

