/* Template 616 css fg01 */
/* =grid
---------------------------------------------*/
#contentWrap1 {padding: 94px 0 50px;}
#contentWrap {padding: 0 45px;}
#region0 {margin-bottom: 20px;}
#region1 .group2a {margin-top: 30px;}
#region1 .group2a .first {width: 560px;}
#region1 .group2a .last {width: 360px; height: 280px; margin: 0;}
#region1 .group4 {padding: 0 20px;}
#region1 .group4 .first {width: 425px; padding-right: 10px;}
#region1 .group4 .u2 {width: 220px; height: 256px; padding: 0 10px;}
#region1 .group4 .last {width: 190px; padding: 0 0 0 10px;}

* html #region1 .group4 .u2 {height: 253px;}
*+html #region1 .group2a .first {width: 550px;}
/* =smartbrowse
---------------------------------------------*/
#region1 .group4 h3 {font-size: 136%;}
fieldset {border: none; margin: 0; padding: 0;}
#lftInvSmartbrowse  {position: relative; width: 435px;}
#sbForm {position: relative;}
#lftInvSmartbrowse h3, #region1 h3 {margin: 10px 0 10px;}
#lftInvSmartbrowse .SBinvtypes {width: 210px;}
#lftInvSmartbrowse .SBinvtypes label {padding-right: 19px; font-size: 92%;}
#lftInvSmartbrowse .SBinvtypes label.usedInv {padding-right: 0;}
#lftInvSmartbrowse .SBcriteria {float: left; position: relative; width: 210px; padding: 10px 0 3px;}
.SBcriteria label {padding-right: 10px;}
.SBcriteria select {width: 200px; margin-bottom: 4px;}
.radio, .checkbox {width: auto; margin-right: 0;}
#lftInvSmartbrowse h3 {width: 210px;}
#lftInvSmartbrowse .SBcriteria label.sblast {position: relative; bottom: 24px; left: 211px; width: 225px; padding-right: 0;}
#lftInvSmartbrowse .SBcriteria label.sblast span {display: none;}
/*#lftInvSmartbrowse .SBcriteria label.sblast span.zip {display: inline-block; width: 55px; font-size: 100%;}*/
.SBcriteria .sblast select {width: 115px; margin-right: 5px;}
.SBcriteria .sbzip {position: relative; bottom: 24px; left: 210px; width: 56px;}
.SBcriteria .sbzip input {position: absolute; top: -3px; left: 35px; width: 60px;}
.animatedVehicleTotalsWrapper {position: absolute; top: 55px; left: 213px; }
#lftInvSmartbrowse .animatedVehicleTotalsWrapper span {position: absolute; top: 43px; left: 0px; width: 220px; padding-bottom: 3px; padding-left: 2px; font-size: 92%; font-weight: bold;}
#lftInvSmartbrowse .animatedVehicleTotalsWrapper p {position: absolute; top: 75px; width: 150px; margin: 0; padding-bottom: 3px; font-size: 107%; font-weight: bold;}
#sbForm .sbSubmitBtn {margin: 148px 10px 0 0;}
.sb_loading {position: relative; top: 140px; right: 10px;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
#lftInvSmartbrowse .animatedVehicleTotalsWrapper p {top: 70px;}
#lftInvSmartbrowse .SBcriteria label.sblast, .SBcriteria .sbzip {position: absolute; bottom: 13px;}
.SBcriteria .sbzip {left: 330px; bottom: 20px;}
.SBcriteria .sbzip input {postion: absolute; top: 0px; }	
}	
/*html totals when flash disabled*/
.totals {position: absolute; top: 55px; left: 216px;}
.totals span.total {display: block; height: 33px; padding: 0; border: 4px solid; -webkit-border-radius: 6px;}
.totals span.label {display: none;}
#region1 .group4 .totals .first, #region1 .group4 .totals .last, .totals span.total span {display: inline-block; height: 35px; width: 29px; padding: 6px 0 0; font-size: 152%; font-weight: bold; text-align: center;}
#region1 .group4 .totals .last {width: 27px;}
	
* html #lftInvSmartbrowse .SBinvtypes {left: -5px; padding-top: 0;}
* html #lftInvSmartbrowse .SBinvtypes label {padding-right: 14px;}
* html #lftInvSmartbrowse .SBcriteria label.sblast {bottom: 27px;}
* html #lftInvSmartbrowse .SBcriteria label.sblast select {position: relative; top: 2px;}
* html #lftInvSmartbrowse .SBcriteria label.sbzip {bottom: 30px;}
* html #lftInvSmartbrowse .SBcriteria label.sbzip input {top: 7px;}
* html .animatedVehicleTotalsWrapper {top: 70px;}
* html #lftInvSmartbrowse .animatedVehicleTotalsWrapper p {top: 82px; right: 60px;}
* html #sbForm .sbSubmitBtn {margin-top: 150px;}

*+html #lftInvSmartbrowse .SBinvtypes {left: -5px;  padding-top: 0;}
*+html #lftInvSmartbrowse .SBinvtypes label {padding-right: 14px;}
*+html #lftInvSmartbrowse .SBcriteria label.sblast {bottom: 27px;}
*+html #lftInvSmartbrowse .SBcriteria label.sblast select {position: relative; top: 2px;}
*+html #lftInvSmartbrowse .SBcriteria label.sbzip {bottom: 30px;}
*+html #lftInvSmartbrowse .SBcriteria label.sbzip input {top: 7px;}
*+html .animatedVehicleTotalsWrapper {top: 70px;}
*+html #lftInvSmartbrowse .animatedVehicleTotalsWrapper p {top: 82px; right: 60px;}
*+html #sbForm .sbSubmitBtn {margin-top: 150px;}
/* =search by payment
---------------------------------------------*/
#region1 .group4 fieldset .first {width: auto;}
#purchasingEstimator {position: relative; height: 207px; margin: 0; padding-bottom: 0;}
#purchaseCalc h3 {margin-bottom: 0;}
#purchaseCalc .widgetWrap, #purchaseCalc h3 span, #purchasingEstimator fieldset {padding: 0;}
#purchasingEstimator fieldset {margin-bottom: 5px;}
#purchasingEstimator input {width: 200px;}
#purchasingEstimator label {margin: 0; line-height: normal;}
#purchasingEstimator label span {font-size: 92%;}
#purchasingEstimator label.rate {float: left;}
#purchasingEstimator label.affordableMonthlyPayment span {position: absolute; top: 30px; left: 7px;}
#purchasingEstimator label.affordableMonthlyPayment input {position: absolute; top: 8px;}
#purchasingEstimator label.cash_trade span {position: absolute; top: 70px; left: 7px;}
#purchasingEstimator label.cash_trade input {position: absolute; top: 47px;}
#purchasingEstimator label.rate {position: absolute; top: 32px; left: 0px;}
#purchasingEstimator label.rate span {position: absolute; top: 81px; left: 7px;}
#purchasingEstimator label.rate input {position: absolute; top: 58px; width: 65px; text-align: right;}
#purchasingEstimator label.rate em {position: absolute; top:61px; left: 88px;}
#purchasingEstimator label.term {position: absolute; left: 135px;}
#purchasingEstimator label.term span {position: absolute; top: 77px; left: 7px;  width: 100px;}
#purchasingEstimator label.term select {position: absolute; top: 54px;}
#purchasingEstimator label.purchasingPower span {position: absolute; bottom: 38px; left: 6px; width: 230px;}
#purchasingEstimator label.purchasingPower input {position: absolute; bottom: 55px;}
#purchasingEstimator .submit {position: absolute; bottom: 1px;}
#purchasingEstimator .submit span {padding-bottom: 8px;}
#purchasingEstimator .primaryUsedSubmit {left: 25px;}
#purchasingEstimator .primaryNewSubmit {left: 127px;}

* html #purchasingEstimator {height: 215px;}
* html #purchasingEstimator input {width: 210px; margin: 0;}
* html #purchasingEstimator fieldset span {width: 200px;}
* html #purchasingEstimator .submit {width: 100px; bottom: 40px;}
* html #purchasingEstimator label.affordableMonthlyPayment input {top: -5px;}
* html #purchasingEstimator label.affordableMonthlyPayment span {top: 15px; left: 0;}
* html #purchasingEstimator label.rate {top: 25px;}
* html #purchasingEstimator label.rate input {left: -10px;}
* html #purchasingEstimator label.rate span { top: 80px; left: -10px;}
* html #purchasingEstimator label.rate em {top: 60px; left: 65px;}
* html #purchasingEstimator label.term {left: 120px;}
* html #purchasingEstimator label.term select {top: 65px;}
* html #purchasingEstimator label.term span {top: 88px;} 
* html #purchasingEstimator label.cash_trade input {top: 35px; left: -12px;}
* html #purchasingEstimator label.cash_trade span {top: 55px; left: -12px;}
* html #purchasingEstimator label.purchasingPower input {top: 130px; left: -25px;}
* html #purchasingEstimator label.purchasingPower span {top: 149px; left: -25px;}

*+html #purchasingEstimator {height: 215px;}
*+html #purchasingEstimator .submit {width: 100px;}
*+html #purchasingEstimator label.affordableMonthlyPayment span {top: 28px; left: 7px;}
*+html #purchasingEstimator label.rate {top: 15px;}
*+html #purchasingEstimator label.rate span {top: 75px;}
*+html #purchasingEstimator label.rate input {top: 53px;}
*+html #purchasingEstimator label.term select {top: 50px;}
*+html #purchasingEstimator label.term span {top: 74px;} 
*+html #purchasingEstimator label.cash_trade input {top: 25px;}
*+html #purchasingEstimator label.cash_trade span {top: 45px;}
*+html #purchasingEstimator label.purchasingPower input {top: 90px;}
*+html #purchasingEstimator label.purchasingPower span {top: 111px;}
*+html #purchasingEstimator .primaryNewSubmit a span {width: auto;}
/* =search by price
---------------------------------------------*/
/*.sliderContainer {padding-bottom: 3px;}
.ui-slider {position:relative; display: block; height: 42px; width: 200px; border: none; margin: 2px 0 0; overflow: visible;}
.ui-slider .min, .ui-slider .max {height: 57px;}
.ui-slider .ui-slider-handle {z-index: 1; margin-left: -7px;}
.sliderMin {float: left;}
.sliderMax {float: right;}
#contentWrap .ui-slider-range {position:relative; height: 45px; overflow:hidden;}
.priceSliderVerbiage {font-size: 85%; font-style: italic;}
.sliderMin , .sliderMax {font-size: 92; font-weight: bold;}
#priceInvSmartbrowse .buttonWrap {margin-top: 10px;}
* html #priceInvSmartbrowse .submit button, * html #priceInvSmartbrowse .submit button:hover {padding:7px 5px 10px 0; text-align: left;}
*+html #priceInvSmartbrowse .buttonWrap {padding-left: 5px; padding-bottom: 0;}
*+html #priceInvSmartbrowse .buttonWrap button {padding-right: 15px; border: none; display: inline;}
*+html #priceInvSmartbrowse .buttonWrap button.hand {border: none;}*/
/* =search by bodystyle
---------------------------------------------*/
#bodyStyleInvSmartbrowse h3 {margin-bottom: 5px;}
.shortcutHeader {display: none;}
.bodyStyleImages li a {width: 85px; height: 45px;}
.bodyStyleImages li a span {top: 30px; font-size: 77%; text-decoration: underline;}
.bodyStyleImages li a:hover span {text-decoration: none;}
#simpleSlideshowWrap1 {padding-top: 20px; text-align: center;}
/* =groupnav
---------------------------------------------*/
.childList {display: none;}
* html .franchiseList li {margin: 0 8px 8px 0;}
*+html .franchiseList li {margin: 0 6px 6px 0;}
/* =dealer content
---------------------------------------------*/
#region1 .group1 .truncated {padding-top: 20px;}
