/**** FONT SIZE CORRECTION - START ****/
.homepage-grid h2 a,
#footer_social_box div.label {
  font-size: 0.9em
}
#section_links a {
  font-size: 0.8em;
}

footer li {
  font-size: 0.63em;
}