/* Home Page HotBox */
.hotboxButtons {
position:relative;
float:right;
height:22px;
margin:-40px 10px 0 0;
font-size:12px;
line-height:14px;
font-weight:bold;
z-index:10;
}
.hotboxButtons ul {
list-style:none;
padding:0;
margin:0;
}
.hotboxButtons li {
float:left;
height:20px;
width:21px; 
margin-right:4px;
}
.hotboxButtons a {
display:block;
height:17px;
width:9px;
padding:3px 5px 0 7px;
color:#555;
background:url(../../images/SJM/btn.gif)/*tpa=http://www.sjm.com/images/SJM/btn.gif*/ no-repeat;
}
.hotboxButtons a:hover {
color:#fff;
text-decoration:none;
background-position:0 -20px;
}
.hotboxButtons a:active {
color:#fff;
background-position:0 -20px;
}

/* Issues Log - Btn stealing focus */
.hotboxButtons a.current {
color:#fff;
background-position:0 -20px;
}

/* For Firefox */
.hotboxButtons a:focus {
color:#fff;
background-position:0 -20px;
outline:none;
}

/* hotboxButtonPause */
.hotboxButtons a.hotboxButtonPause {
display:block;
height:20px;
width:21px;
padding:0;
background:url(../../images/SJM/btn_pause.gif)/*tpa=http://www.sjm.com/images/SJM/btn_pause.gif*/ no-repeat;
}
.hotboxButtons a.hotboxButtonPause:hover { 
text-decoration:none;
background-position:0 -20px;
}
.hotboxButtons a.hotboxButtonPause:active {
color:#fff;
background-position:0 -20px;
}
/* For Firefox */
.hotboxButtons a.hotboxButtonPause:focus {
color:#fff;
background-position:0 -20px;
outline:none;
}

.hotboxButtons li.Selected a {
background-position:0 -20px;
}
