/* BUTTONS */

/* Example Hmtl for a button 
    <a id="SomeButton" class="button" AlternateText="Submit" href="#"><span>Submit</span></a>
    
    This is the original Net code
    <asp:LinkButton ID="imgbtnSubmit" runat="server" 
            AlternateText="Submit" 
            CssClass="button" 
            onclick="imgbtnSubmit_Click" 
            OnClientClick="javascript:trackIt('/Email',true,ValidatePage());">
            <span>Submit</span>
        </asp:LinkButton>
*/

/* Button */
.ContentLM a.button
{
    text-decoration:none;
}

a.button {
    /* Sliding right image */
    /* using the .gif version because IE 6 was losing the background */
    background:url('../../images/SJM/btn_right_bg.png')/*tpa=http://www.sjm.com/images/SJM/btn_right_bg.png*/ no-repeat top right;
    display:block;
    float:left;
    height:34px;
    margin:0;
    padding: 0 3px 0 0;
    color:#FFFFFF;
    font-weight:bold;
    text-decoration:none;
    
    /*font-size:15px;*/
    font-size:14px;
}

a.button span {
    /* Background left image */ 
    /* using the .gif version because IE 6 was losing the background */
    background:url('../../images/SJM/btn_left_bg.png')/*tpa=http://www.sjm.com/images/SJM/btn_left_bg.png*/ no-repeat top left; 
    display:block;
    margin:0;
    line-height:15px;
    color:#FFFFFF;
    text-decoration:none;
    /*padding:10px 18px 9px 18px;*/
    padding:  5px 18px 5px 18px;
}
