/*Modal Popup*/
.emailPopupBackground {
    background-color:Gray;
    filter:alpha(opacity=70);
    opacity:0.7;
}

.emailPopup 
{
    background-color:#ffffff;
    border-width:3px;
    border-style:solid;
    border-color:Gray;
    padding:15px;
    width:350px;
    text-align:left;
}

.emailPopupHeader
{
    font-weight:bold;
    color:#006C56;
}
.line
{
    margin: 0 0 15px 0;
    padding:0;
    width:96%;
    border-bottom:solid 1px #7f7f7f;
}


