/*----------------------FOOTER----------------------*/

#footer { clear: both; text-align: center; display: block;}
#footerContent { background-color: #e9e9e9; background-image: url("../../images/SJM/footer-top-background.jpg")/*tpa=http://www.sjm.com/images/SJM/footer-top-background.jpg*/; background-repeat: repeat-x; padding-top: 25px; padding-bottom: 50px;}
#trademarkStatement { clear: both; text-align: center; padding-top: 15px;}
#footerLinks a { color: #000000; text-decoration: none;}
#footerLinks a:hover { color: #F47A20; text-decoration: none;}