/* ----------------------------------------------------------------------------------------------*/
/* Changes to the css may impact Third Party site pages such as Thomson Reuters and Resumeware   */
/*  They link to our css with the html provided 03/10 for the templates                          */
/* ----------------------------------------------------------------------------------------------*/
.Column {
margin:0 0 0 259px;
}

.GlobalNavigationLeft a {
margin-top:10px;
padding: 10px 0 4px 0;
}

#tree-menu li {
height:16px;
}

#tree-menu-thumb li {
height:76px;
}

.Promo a {
display:inline-block;
}

/* for JCarousel buttons */
.jcarousel-next-horizontal {
background:url(../../images/SJM/next_ie6.jpg)/*tpa=http://www.sjm.com/images/SJM/next_ie6.jpg*/ no-repeat;
}
.jcarousel-next-disabled-horizontal,
.jcarousel-next-disabled-horizontal:hover,
.jcarousel-next-disabled-horizontal:active {
background:none;
}
.jcarousel-prev-horizontal {
background:url(../../images/SJM/prev_ie6.jpg)/*tpa=http://www.sjm.com/images/SJM/prev_ie6.jpg*/ no-repeat;
}
.jcarousel-prev-disabled-horizontal,
.jcarousel-prev-disabled-horizontal:hover,
.jcarousel-prev-disabled-horizontal:active {
background:none;
}

/* Tabs */
ul.tabs li { width:1px; }
ul.tabs li.label { width:70px; }
ul.tabs li a { text-align:center; }
div.boxed .ui-tabs-panel { padding-bottom:10px; }

/* Global Navigation Bar with Search Adjustments for IE 6 */

/* .Container and .GlobalNavigationLeft adjustmets in portal_diffs so they did not impact subsites like /corporate style */
.Container
{
    /* Problem if the site doesn't have the search bar */
    /*margin-top:-6px;*/  
}

.GlobalNavigationLeft ul
{
    margin-top:-4px;
}

.GlobalNavigationLeft a
{
    padding-bottom:0;
}

/* notch out of right side of home and 2 px to left on hover */
.GlobalNavigationLeft li.first a {
    margin-left:-15px !important;
}

.GlobalNavigationLeft li.first a.selected {
     background:url(../../images/SJMSites/global_nav_home_over.jpg)/*tpa=http://www.sjm.com/images/SJMSites/global_nav_home_over.jpg*/ no-repeat !important;
}

/* Section home page right column issue */
/* Resolve in PromoGeneric by padding all elements instead of middle */

/* subpage like company fact sheet right promo gap between top and middle slice */
.PromoGenericNarrow .Text .middle
{
    margin-top:-10px;
}

/* search button farther to the right on ie 6 section home page */
.ContentImage
{
    margin-right:-105px;
    /*border: solid 1px pink;*/
}

/* Buttons - IE 6 uses .gif and others use .png for transparency */
a.button {
    /* Sliding right image */
    /* using the .gif version because IE 6 was losing the background */
    background:url('../../images/SJM/btn_right_bg.gif')/*tpa=http://www.sjm.com/images/SJM/btn_right_bg.gif*/ no-repeat top right !important;
}
a.button span {
    /* Background left image */ 
    /* using the .gif version because IE 6 was losing the background */
    background:url('../../images/SJM/btn_left_bg.gif')/*tpa=http://www.sjm.com/images/SJM/btn_left_bg.gif*/ no-repeat top left !important; 
}