/* All layout classes */

/* ----------------------------------------------------------------------------------------------*/
/* Changes to the css may impact Third Party site pages such as Thomson Reuters and Resumeware   */
/*  They link to our css with the html provided 03/10 for the templates                          */
/* ----------------------------------------------------------------------------------------------*/

/* Container, Content, Column, ColumnLeft, ColumnRight, etc*/
body {
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;   
    line-height:19px;
    
    /* color:#555; */
    color:#4c4c4c;
    /*font-size:14px;*/
    font-size:13px;
    
    /* -------------------------------------------------------------------------------------------------
        "fixed" was a suggestion to keep the header underneath the global nav bar from 
        having a notch out of the right side, but that caused the background to lock when scrolling.
    ---------------------------------------------------------------------------------------------------*/   
    /*background:#fff url(/images/SJM/portal_bg.jpg) no-repeat center top fixed; */
    background:#fff url(../../images/SJM/portal_bg.jpg)/*tpa=http://www.sjm.com/images/SJM/portal_bg.jpg*/ no-repeat center top;
}

/* Sjm.com home page background image */
#HomeContainer
{
    background:#fff url(../../images/SJM/home_bg.jpg)/*tpa=http://www.sjm.com/images/SJM/home_bg.jpg*/ no-repeat center top;
}

/* Sjm.com home page background image */
#GlobalContainer
{
    background:#fff url(../../images/SJM/portal_bg.jpg)/*tpa=http://www.sjm.com/images/SJM/portal_bg.jpg*/ no-repeat center top;
}


label
{
    font-size:12px;
}

a {
    color:#006C56;
    text-decoration:none;
}

a:visited {
    color:#86a69f;
}

a:hover {
    color:#000;
    text-decoration:underline;
}

img {
    border:none;
}

form {
    margin:0;
    padding:0;
}

.clear_float {
    clear:both;
    height:0;
    line-height:0;
}

h1,h2,h3,h4,h5,h6 {
    margin:0;
    padding:2px 0;
    font-weight:normal;
}

/* 20, 18, 16, 14 */
h1 {
    padding-bottom:6px;
    line-height:28px;
    /*font-size:24px;*/
    font-size:20px;
}

h1 a {
    text-decoration:none;
}

h2 {
    line-height:26px;
    /*font-size:22px;*/
    font-size:18px;
}
h2 a {
    text-decoration:none;
}

h3 {
    line-height:24px;
    /*font-size:20px;*/
    font-size:16px;
}

h4 {
    line-height:22px;
    /*font-size:18px;*/
    font-size:14px;
}
h5 {
    font-size:16px;
    line-height:20px;
}
h6 {
    font-size:14px;
    line-height:18px;
}

p {
    padding:0 0 10px 0;
    margin:0;
}

.Container {
    width:962px;
    padding: 0px 15px 20px 0px;
    margin: -3px auto;
    /*background:url(/images/SJM/footer_bg.jpg) no-repeat bottom;*/
    
    /* Marcia Test */
    /*border: solid 4px pink; */
}

.HeaderLarge {
    /*height:186px;*/
    line-height:15px;
}

.SJMLogo {
    float:right;
    padding:24px 35px;
}

.SiteName {
    padding:22px 35px;
}

.SiteName h1 {
    padding:2px 0;
    font-size:28px;
}

.SiteName h2 {
    color:#4c4c4c;
    font-size:14px;
    line-height:12px;
    font-weight:bold;
}

.SiteName a {
    color:#737373;
}

.SiteName a:visited {
    color:#737373;
}

.SiteName a:hover {
    color:#737373;
    text-decoration:none;
}

.Content {
    clear:both;
}
.ContentImage {
    position:relative;
}

/* Hybrid rotating larger image for hub hub */
.largeImage {
    /*height:483px;*/
    height:304px;
    margin:0 -99px;
}

.background_image_link a {
    position:absolute;
    left:0;
    top:-74px;
    width:962px;
    height:370px;
}

.ColumnLeft {
    float:left;  
    line-height:16px;
    padding-top:20px;
    /*font-size:14px;*/
}

.Column {
    margin:0 0 0 262px;
    padding-top:20px;
}

.ColumnRight, .ContentR {
    float:right;
    margin-bottom:20px;
    line-height:16px;
    /*font-size:14px;*/
}

.ContentR
{
    /* Back it up on page sections like ContentLM */
    margin-top:-22px;
}

.ColumnRight {
    background:#fff;
}

.ContentLM {
    margin-left:35px;
    /* Section Pages align top with bottom of section image */
    margin-top:-22px;
}

.ContentLM_Narrow
{
    padding-right:270px;
}

.ContentLM h1 {
    padding:2px 0 10px 0;
}

.ContentLM h2, .ContentLM h3, .ContentLM h4, .ContentLM h5, .ContentLM h6 {

    padding:2px 25px 2px 0;
}

.ContentLM table {
    margin:0 0 0 0;
}

.ContentLM p {  
    overflow:auto;
    padding:0 25px 22px 0;
}

.ColumnMiddleRight h2, .ColumnMiddleRight h3, .ColumnMiddleRight h4, .ColumnMiddleRight h5, .ColumnMiddleRight h6 {
    /*padding:2px 35px 2px 43px;*/
    padding: 2px 35px 2 0px;
}

.ColumnMiddleRight h1 a, .ColumnMiddleRight h2 a, .ColumnMiddleRight h3 a, .ColumnMiddleRight h4 a, .ColumnMiddleRight h5 a, .ColumnMiddleRight h6 a {
    text-decoration:none;
}

.ColumnMiddleRight h1 a:hover, .ColumnMiddleRight h2 a:hover, .ColumnMiddleRight h3 a:hover, .ColumnMiddleRight h4 a:hover, .ColumnMiddleRight h5 a:hover, .ColumnMiddleRight h6 a:hover {
    text-decoration:underline;
}

.ColumnMiddleRight p {
    /*padding:0 35px 22px 43px;*/
    padding: 0 35px 22px 0px;
}

.ColumnMiddleRight img {
    float:left;
    margin:0 10px 10px 0;
}

.ContentLM img {
    float:right;
    margin:0 0 10px 10px;
}


.SiteRootHeadlines {  
    height:205px;
    padding:18px 35px 0 35px;
    background:url(../../images/SJM/portal_homebox_bg.jpg)/*tpa=http://www.sjm.com/images/SJM/portal_homebox_bg.jpg*/ no-repeat;
    overflow:auto;
    
    /* Firefox dropping third headline below */
    width:962px;
}
.SiteRootHeadlines p
{
    padding-bottom:5px;
}
.SiteRootHeadlines ul
{
    margin:0;
    padding:0;
    list-style-image: none;
    list-style-type: none;
}

.SiteRootHeadlines li.indented {
    margin: 0 0 0 10px !important;
}

.SiteRootHeadlines li.indented a {
    list-style:none;
    list-style-image:none;
    background:url(../../images/SJM/left_nav_dash.gif)/*tpa=http://www.sjm.com/images/SJM/left_nav_dash.gif*/ no-repeat 0 6px;
    padding-left:10px;
}

.LeftColumn, .MiddleColumn, .RightColumn {
    float:left;
    position:relative;
    width:297px;
    height:110px;
}
.MiddleRightColumn {
    float:left;
    position:relative;
    width:593px;
    height:110px;
}


.SiteRootHeadlines .Text {
    position:absolute;
    top:16px;
    left:22px;
    margin-right:22px;
    line-height:16px;
}

.SiteRootHeadlines h1 {
    font-size:18px;
    line-height:18px;
}

.SiteRootHeadlines h2 {
    font-size:13px;
    line-height:16px;
    margin-bottom:6px;
}

.SiteRootHeadlines a {
    /*padding:0 0 5px 12px;*/
    padding: 0 0 0 12px;
    background:url(../../images/SJM/arrow.gif)/*tpa=http://www.sjm.com/images/SJM/arrow.gif*/ no-repeat 2px 4px;
}

.BelowFooter {
    height:25px;
    font-size:11px;
    line-height:13px;
    color:#666;
    text-align:center;
    padding: 0 180px 20px 180px;
}

.StockQuoteUp {
    color:#00b000;
}

.StockQuoteDown {
    color:#cc0000;
}

.DivisionAddress 
{
    background-image: url(../../images/SJM/featurebox_927x443.png)/*tpa=http://www.sjm.com/images/SJM/featurebox_927x443.png*/;
    padding-left: 5px;
}

.meetOurPeopleContainer { width:680px; }
.meetOurPeoplePerson { width:170px; float:left; height:160px; }
.meetOurPeoplePersonImage { width:105px; height:74px; float:none !important; }

#TbSearchSjm{Width: 400px;background: transparent url('../../images/SJM/searchbox.gif')/*tpa=http://www.sjm.com/images/SJM/searchbox.gif*/ no-repeat; color : #586067; border:0; padding:4px; margin-bottom:0px;}

*+html #CareerFrame { 
    float: right;
}

