/* Media Kits */
.MediaKitListing
{
    margin-bottom:25px;
    padding:0;
}

/* h2 very strange - line-height causes space on left side */
/*    line-height:18px;*/
/*
.MediaKitListing h2
{
    font-size:16px;
    
}
*/

.MediaKit
{
    margin-bottom:25px;
}

.MediaKit img
{
    padding-bottom:0;
    margin-bottom:0;
}

.MediaKit table
{
    width:95%;
    margin: 5px 0 15px 0;
    /*background-color:#4c4c4c;*/
    background-color:#FFF;
    font-size:12px;
}

.MediaKit tr
{
    vertical-align:top;
}

.MediaKit td
{
    background-color:#f7f4f1;
    padding: 3px 5px 3px 5px;
}

.MediaKit tr.odd td
{
    /*background-color:#efe3de;*/
    background-color:#fcfbf9;
}

.MediaKit th
{
    text-align:left;
    font-size:14px;
    font-weight:normal;
    background-color:#fcfbf9;
    padding: 3px 5px 3px 5px;
}

.MediaKit ul
{
    padding: 0;
    margin: 0 0 5px 0;
}

.MediaKit ul li
{
    /*
    background:none;
    list-style:none;
    padding: 0;
    margin:0;
    */
}

.MediaKit .RelatedInformation ul li
{
    background:none;
    list-style:none;
    padding: 0;
    margin:0;
}

.MediaKit .RelatedInformation ul li a {
    padding:0 0 5px 12px;
    background:url(../../images/SJM/arrow.gif)/*tpa=http://www.sjm.com/images/SJM/arrow.gif*/ no-repeat 2px 4px;
}

.MediaKit .tabcontent
{
    padding: 10px 10px 10px 15px;
    border-bottom: solid 1px #4c4c4c;
    margin-right:10px;
}

