/* ----------------------------------------------------------------------------------------------*/
/* Changes to the css may impact Third Party site pages such as Thomson Reuters and Resumeware   */
/*  They link to our css with the html provided 03/10 for the templates                          */
/* ----------------------------------------------------------------------------------------------*/

/* All Navigations or possible each navigation in a separate navigation$Name.css file */
.GlobalNavigation
{
    /*background-color:#4c4c4c;*/
    background:url(../../images/SJMSites/topBar.gif)/*tpa=http://www.sjm.com/images/SJMSites/topBar.gif*/ repeat-x;
    color:#fff;
    height:35px;
    width:100%;
    padding:0;
    margin:0;
}

.GlobalNavigationLeft {
    width:962px;  /* right will fill the rest of 962px with search */
    height:35px;
    min-height:35px;
    /*vertical-align:bottom;*/
    padding: 0 15px;
    margin: 0 auto 0 auto;
    
    /* Marcia Test */
    /*border: solid 2px green;*/
}

.GlobalNavigationLeft ul {
    list-style:none;
    margin:0;
    padding:0;
}

.GlobalNavigationLeft li {
    float:left;
}

.GlobalNavigationLeft a {
    display:block;
    color:#fff;
    font-size:13px;
    /*padding: 13px 21px 14px 20px;*/
    /*padding: 10px 0 22px 0;*/
    padding: 10px 0 9px 0;
    width:155px;
    text-align:center;
    vertical-align:bottom;
    margin-top:3px;
}

.GlobalNavigationLeft a:visited {
    color:#fff;
}

.GlobalNavigationLeft a:hover  {
    color:#fff;
    text-decoration:underline;
}

.GlobalNavigationLeft a.selected {
    color:#191919;
    background:url(../../images/SJMSites/global_nav_over.jpg)/*tpa=http://www.sjm.com/images/SJMSites/global_nav_over.jpg*/ no-repeat;
}

.GlobalNavigationLeft a.selected:visited {
    color:#191919;
    background:url(../../images/SJMSites/global_nav_over.jpg)/*tpa=http://www.sjm.com/images/SJMSites/global_nav_over.jpg*/ no-repeat;
}

.GlobalNavigationLeft li.first a {
    width:66px;
}

.GlobalNavigationLeft li.first a.selected {
    width:66px;
    color:#191919;
    background:url(../../images/SJMSites/global_nav_home_over.jpg)/*tpa=http://www.sjm.com/images/SJMSites/global_nav_home_over.jpg*/ no-repeat;
}

.GlobalNavigationLeft li.first a.selected:hover {
    width:66px;
    color:#191919;
    background:url(../../images/SJMSites/global_nav_home_over.jpg)/*tpa=http://www.sjm.com/images/SJMSites/global_nav_home_over.jpg*/ no-repeat;
}

.GlobalNavigationSearch
{
    /*width:275px;*/
    height:35px;
    float:right;
    margin-top:5px;
}

.GlobalNavigationSearch a.button
{
    margin-top: 5px;
    padding: 0 3px 0 0;
}

.GlobalNavigationSearch a.button:hover
{
    text-decoration: none !important;
}

.GlobalNavigationSearch a.button span
{
    padding:  5px 18px 5px 7px;
}

.HeaderNavigation {
    height:33px;
    border-bottom:solid 1px #dbd7d1;
}

.HeaderNavigation a:visited {
    color:#006C56;
}
.HeaderNavigation ul {
    list-style:none;
    margin:0;
    padding:0;
}
.HeaderNavigationLeft {
    float:left;
    min-width:500px;
    padding:10px 35px 2px 35px;
}
.HeaderNavigationLeft li {
    float:left;
    padding:0 8px;
    border-left:solid 1px #006C56;
}
.HeaderNavigationLeft li.first {
    padding-left:0;
    border-left:none;
}
.HeaderNavigationLeft .leading {
    float:left;
    padding-right:8px;
}
.HeaderNavigationRight {
    float:right;
    padding:6px 35px;
}
.HeaderNavigationRight .leading {
    float:left;
    padding-top:4px;
}
.HeaderNavigationRight select {
    float:left;
    margin:0 6px;
    color:#555;
}
.HeaderNavigationRight .button {
    float:left;
    display:block;
    height:21px;
    margin:0;
    padding:0 10px 0 0;
    font-size:12px;
    background:url(../../images/SJM/go_btn.jpg)/*tpa=http://www.sjm.com/images/SJM/go_btn.jpg*/ no-repeat;
}
.HeaderNavigationRight .button span {
    padding:5px 0 5px 10px;
    line-height:12px;
    background:none; 
}


#MenuBar
{
    margin-top:-35px;
}


.PrimaryNavigation {
    float:right;
    
}

.PrimaryNavigation li
{
    
    float:left;
    padding-right:10px;    
    padding-left:15px;
}

.PrimaryNavigation li + li{
    background-image: url('../../images/SJM/seperator.gif')/*tpa=http://www.sjm.com/images/SJM/seperator.gif*/;
    background-repeat: no-repeat;
    background-position: left bottom;
}


.PrimaryNavigation ul {
    list-style:none;
    margin:0;
    padding:0;
}
.PrimaryNavigation a {
    display:block;
    color:#555;
    /*background:url(/images/SJM/nav.jpg) no-repeat;
    width:175px;*/
    font-size:16px;
    /*padding:13px 21px 14px 20px;*/
    padding: 13px 0 0 0;
    text-align:center;

}
.PrimaryNavigation a:visited {
    color:#555;
}
/*
.PrimaryNavigation a:hover  {
    text-decoration:none;
    background:url(/images/SJM/nav_over.jpg) no-repeat;
}
.PrimaryNavigation a.selected {
    background:url(/images/SJM/nav_over.jpg) no-repeat;
}
.PrimaryNavigation a.selected.home {
    background:url(/images/SJM/nav_home_over.jpg) no-repeat;
}*/
.PrimaryNavigation a.home {
    /*
    width:86px;
    background:url(/images/SJM/nav_home.jpg) no-repeat;
    */
}
/*
.PrimaryNavigation a.home:hover {
    background:url(/images/SJM/nav_home_over.jpg) no-repeat;
}*/
/*
.SecondaryNavigation {
    clear:both;
    height:22px;
}
.SecondaryNavigation a:visited {
    color:#006C56;
}
.SecondaryNavigation ul {
    list-style:none;
    margin:0;
    padding:0;
}
.SecondaryNavigation li {
    float:left;
    padding:0 8px;
    border-left:solid 1px #006C56;
}
.SecondaryNavigation li.first {
    padding-left:0;
    border-left:none;
}
.SecondaryNavigationLeft {
    float:left;
}
.SecondaryNavigationRight {
    float:right;
    padding-right:5px;
    font-size:14px;
    line-height:15px;
}*/

.TertiaryNavigation {
clear:both;
}
.TertiaryNavigation a:visited {
color:#006C56;
}
.TertiaryNavigation ul {
list-style:none;
margin:0;
padding:0;
}
.TertiaryNavigationLeft {
float:left;
height:34px;
background:url(../../images/SJM/tertiary_bg.jpg)/*tpa=http://www.sjm.com/images/SJM/tertiary_bg.jpg*/ repeat-x;
border-bottom:solid 1px #e9e3db;
/* UI Recommendation - tried 14px but wanted to go back to 13px for hierarchy */
font-size:13px;
}
.TertiaryNavigationLeft ul {
    /* UI Recommendation to remove Text Sizing Utility required change */
    /*width:688px;*/
    width:762px;
}
.TertiaryNavigationLeft li {
    float:left;
    padding:10px 5px 10px 8px;
    background:url(../../images/SJM/colon.gif)/*tpa=http://www.sjm.com/images/SJM/colon.gif*/ no-repeat 0px 12px;

}
.TertiaryNavigationLeft li.first {
padding-left:35px;
background:none;
}
.TertiaryNavigationRight {
float:right;
height:34px;
background:url(../../images/SJM/tertiary_bg.jpg)/*tpa=http://www.sjm.com/images/SJM/tertiary_bg.jpg*/ repeat-x;
border-bottom:solid 1px #e9e3db;
}
.TertiaryNavigationRight ul {
    /* UI Recommendation to remove Text Sizing Utility required change - total 962 px */
    /*width:274px;*/
    width:200px;
}
.TertiaryNavigationRight li {
float:left;
background:url(../../images/SJM/tertiary_div.jpg)/*tpa=http://www.sjm.com/images/SJM/tertiary_div.jpg*/ no-repeat;
}
.TertiaryNavigationRight a.Print, .TertiaryNavigationRight a.Email {
display:block;
padding:10px 12px 10px 15px;
}
.TertiaryNavigationRight a.Print:visited, .TertiaryNavigationRight a.Email:visited {
color:#006C56;
}
.TertiaryNavigationRight a.Print:hover, .TertiaryNavigationRight a.Email:hover {
text-decoration:none;
color:#000;
background:#fff url(../../images/SJM/tertiary_div.jpg)/*tpa=http://www.sjm.com/images/SJM/tertiary_div.jpg*/ no-repeat;
}
.TertiaryNavigationRight .Print span {
padding-left:19px;
background:url(../../images/SJM/news_icon.gif)/*tpa=http://www.sjm.com/images/SJM/news_icon.gif*/ no-repeat;
}
.TertiaryNavigationRight .Email span {
padding-left:22px;
background:url(../../images/SJM/contact_icon.gif)/*tpa=http://www.sjm.com/images/SJM/contact_icon.gif*/ no-repeat;
}
.TertiaryNavigationRight .TextSize {
color:#006C56;
padding:10px 8px 10px 12px;
}
.TertiaryNavigationRight .TextSize:hover {
background:#fff url(../../images/SJM/tertiary_div.jpg)/*tpa=http://www.sjm.com/images/SJM/tertiary_div.jpg*/ no-repeat;
}
.TertiaryNavigationRight .TextSize a {
float:left;
}
.TertiaryNavigationRight .TextSize a:visited {
color:#006C56;
}
.TertiaryNavigationRight .TextSize a:hover {
text-decoration:none;
color:#000;
background:none;
}
.TertiaryNavigationRight .decreaseFont, .TertiaryNavigationRight .increaseFont {
padding:7px 6px 8px 4px;
margin:-8px 0;
font-size:18px;
font-weight:bold;
}
.TertiaryNavigationRight  .increaseFont {
padding:8px 10px 7px 4px;
}

/* Side navigation */
#tree-menu, #tree-menu-thumb {
    width:230px;
    background:url(../../images/SJM/left_nav_btm.gif)/*tpa=http://www.sjm.com/images/SJM/left_nav_btm.gif*/ no-repeat bottom;
    padding-bottom:4px;
    
    /*font-size:15px;*/
    font-size:14px;
    /*margin: 0 10px 20px 10px;*/
    margin: 0 10px 40px 10px;
}

#tree-menu a:visited, #tree-menu-thumb a:visited {
    color:#006C56;
}
#tree-menu-thumb {
    padding-bottom:1px;
}
#tree-menu h2, #tree-menu-thumb h2 {
    font-size:16px;
    margin:0;
    color:#fff;
    font-weight:bold;
    background:url(../../images/SJM/left_nav_header.gif)/*tpa=http://www.sjm.com/images/SJM/left_nav_header.gif*/ no-repeat;
    padding: 8px 5px 4px 20px;
}
#tree-menu h2 a, #tree-menu-thumb h2 a {
color:#fff;
/*font-weight:bold;*/
}
#tree-menu h2 a:visited, #tree-menu-thumb h2 a:visited {
color:#fff;
}
#tree-menu ul, #tree-menu-thumb ul {
list-style:none;
margin:0;
padding:0;
background:#fff;
border-right:solid 1px #eeeae3;
border-left:solid 1px #eeeae3;
}
#tree-menu li, #tree-menu-thumb li {
margin:0;
padding:0;
background:url(../../images/SJM/left_nav_div.gif)/*tpa=http://www.sjm.com/images/SJM/left_nav_div.gif*/ no-repeat top;
}
#tree-menu li.first, #tree-menu-thumb li.first {
background:none;
}
#tree-menu li a {
    display:block;
    background:url(../../images/SJM/arrow.gif)/*tpa=http://www.sjm.com/images/SJM/arrow.gif*/ no-repeat 10px 8px;
    /*padding:8px 10px 8px 20px;*/
    padding:5px 10px 5px 20px;
}
#tree-menu li#current span, #tree-menu li.nested a {
    display:block;
    font-weight:bold;
    color:#555;
    background:url(../../images/SJM/arrow_down.gif)/*tpa=http://www.sjm.com/images/SJM/arrow_down.gif*/ no-repeat 7px 12px;
    /*padding:8px 10px 8px 20px;*/
    padding:5px 10px 5px 20px;
}
#tree-menu-thumb li {
position:relative;
height:75px;
overflow:hidden;
}
#tree-menu-thumb li a, #tree-menu-thumb li#current span {
    display:block;
    width:98px;
    /*padding:8px 110px 20px 20px;*/
    padding: 5px 110px 17px 20px;
}
#tree-menu-thumb li#current span {
color:#555;
background:url(../../images/SJM/arrow.gif)/*tpa=http://www.sjm.com/images/SJM/arrow.gif*/ no-repeat 10px 8px;
}
#tree-menu-thumb li a:hover {
background:url(../../images/SJM/arrow.gif)/*tpa=http://www.sjm.com/images/SJM/arrow.gif*/ no-repeat 10px 8px;
}
#tree-menu-thumb li img {
position:absolute;
right:0;
bottom:0;
}
#tree-menu li li {
background:none;
}

#tree-menu li ul {
    border-right:none;
    border-left:none;
    background:url(../../images/SJM/left_nav_div.gif)/*tpa=http://www.sjm.com/images/SJM/left_nav_div.gif*/ no-repeat top;
    /*padding:4px 0 4px 12px;*/
    padding: 2px 0 2px 12px;
}

#tree-menu li#current li a, #tree-menu li.nested li a {
    font-weight:normal;
    color:#006C56;
    background:url(../../images/SJM/left_nav_dash.gif)/*tpa=http://www.sjm.com/images/SJM/left_nav_dash.gif*/ no-repeat 10px 11px;

    /*padding:5px 10px 5px 20px;*/
    padding:3px 10px 3px 20px;
}
#tree-menu li li#current span {
    font-weight:normal;
    background:url(../../images/SJM/left_nav_dash_on.gif)/*tpa=http://www.sjm.com/images/SJM/left_nav_dash_on.gif*/ no-repeat 10px 11px;   
    /*padding:5px 10px 5px 20px;*/
    padding:3px 10px 3px 20px;
}
 
/* Content - main page content */
.Column a
{
    /*text-decoration:underline;*/
    
    /* 04/09/10:  let hover state take the default with an underline */
    /*text-decoration:none;*/
}
/* Do not want to underline links on promo boxes? */
.ColumnRight a
{
    /* 04/09/10:  let hover state take the default with an underline */
    /*text-decoration:none;*/
}

.ContentLM a, .Column a
{
    /*font-size:14px;*/
    
    /* 04/09/10:  let hover state take the default with an underline */
    /*text-decoration:none;*/
}

.Column ul 
{
    /*margin-left:32px;*/
    margin-left:0px;
}

.ContentLM ul
{   
    /*margin: 0 0 0 32px;*/
    margin:0;
}

.ContentLM ul ul,.Column ul ul{
    margin-left:0;
    margin-bottom:10px;
}

.ContentLM ul ul ul,.Column ul ul ul {
    margin-left:0px;
    margin-bottom:0;
}
.Column li {
	margin-left:0px;
	margin-bottom:5px;		
	/*font-size:14px;*/
    /*line-height:24px;*/
}
.ContentLM li {
	margin-left:0px;
	margin-bottom:5px;		
	/*font-size:14px;*/
    /*line-height:19px;*/
}
 
.Column ul li , .ColumnMiddleRight ul li, .ContentLM ul li {
		list-style:none;
		margin: 0;
		padding: 0 0 0 10px;		
		background-image:url(../../images/SJM/bullet-square-grey.gif)/*tpa=http://www.sjm.com/images/SJM/bullet-square-grey.gif*/;
	    /*background-position: 0 0.6em;*/
	    background-position: 0 0.5em;
		background-repeat:no-repeat;
}

.Column li li, .ContentLM li li {
		list-style:none;
		background-image:url(../../images/SJM/bullet-dash-grey.gif)/*tpa=http://www.sjm.com/images/SJM/bullet-dash-grey.gif*/;		
		/*font-size:14px;*/
        /*line-height:20px;*/
}

.Column li li li, .ContentLM li li li {
		list-style:none;
		background-image:url(../../images/SJM/bullet-square-ltgrey.gif)/*tpa=http://www.sjm.com/images/SJM/bullet-square-ltgrey.gif*/;		
		/*font-size:14px;*/
	    /*line-height:1.5em;*/
        line-height:20px;
}

/*.ColumnMiddleRight ul, .ContentLM ul {*/
.ColumnMiddleRight ul
{
    padding:0;
    /*margin:0 35px 22px 45px;*/
    margin: 0 35px 22px 0px;
}

.ColumnMiddleRight ul ul {
padding:0;
margin:0 0 0 30px;
}
.ColumnMiddleRight ol, .ContentLM ol {
padding:0;
margin:0 35px 22px 68px;
}
.ColumnMiddleRight ol ol, .ContentLM ol ol {
padding:0;
margin:0 0 0 38px;
}

/* ----------------- End UI Recommendations for links in page content -----------------------*/

/* Footer */
.FooterNavigation {
clear:both;
text-align:center;
border-top:solid 1px #dbd7d1;
font-size:13px;
line-height:11px;
}
.FooterNavigation a:visited {
color:#006C56;
}
.FooterNavigation ul {
list-style:none;
margin:0;
padding: 12px 22px 22px 22px;

}
.FooterNavigation li {
display:inline;
padding:0 8px;
border-left:solid 1px #555;
}
.FooterNavigation li.first {
padding-left:0;
border-left:none;
}
.FooterNavigationLeft {
float:left;
}
.FooterNavigationRight {
float:right;
}
