.Overlay
{
    margin:30px;
    /* Setting the width so the new close button which is wider works */
    /*width:465px;*/
}

/* for popup overlay items */
div#js-overlay {
	background-image:none !important;
	background-color:#000;
	opacity:0.5;
	filter:alpha(opacity=50);
	zoom:1;
}
* html { overflow-x:hidden; }
* html.overlay-active {
	overflow:hidden;
}
* html.overlay-active body {
	overflow:auto;
	height:100%;
}
#js-overlay,
#js-content {
	display:none;
}
.overlay-active #js-overlay,
.overlay-active #js-content {
	display:block;
}
* html.overlay-active div#js-overlay,
* html.overlay-active div#js-content {
	position:absolute;  
}
