/* Print page css */
/* Turn off all Navigation */

.HeaderLarge
{
    height:50px;
}

.ContentImage
{
    display:none;
}

.HeaderNavigation, .HeaderNavigationRight, .PrimaryNavigation, .SecondaryNavigation, .TertiaryNavigationRight {
    display:none;
    height:0;
}

.TertiaryNavigationLeft li.first {
    padding-left:0;
}

.SJMLogo, .SiteName {
    display:none;
}

.ColumnLeft
{
    display:none;
    width:0;
}

.Column {
    margin: 0;
    width:700px;
}

.ColumnRight, .ContentR {
    display:none;
}

/* Side navigation */
#tree-menu, #tree-menu-thumb {
    display:none;
}

.FooterNavigation {
    display:none;
}

.video_player_box
{
    width:700px;
}