/* ----------------------------------------------------------------------------------------------*/
/* Changes to the css may impact Third Party site pages such as Thomson Reuters and Resumeware   */
/*  They link to our css with the html provided 03/10 for the templates                          */
/* ----------------------------------------------------------------------------------------------*/

/* All Rich Test Editor styles that the Content Contributors will apply */
a.arrow_link
{
    padding:0 0 5px 12px;
    background:url(../../images/SJM/arrow.gif)/*tpa=http://www.sjm.com/images/SJM/arrow.gif*/ no-repeat 2px 4px;
}

.ContentLM .IntroductionBox {
height:71px;
padding:30px 31px;
margin-bottom:22px;
font-size:16px;
line-height:20px;
background:url(../../images/SJM/portal_bg_greenbox.jpg)/*tpa=http://www.sjm.com/images/SJM/portal_bg_greenbox.jpg*/ no-repeat;
}

.ContentLM .FirstParagraph 
{
/*font-size:14px;   */
padding-top:22px;
}

.PageSection 
{
    margin-bottom:10px;    
}
.PageSection .IntroductionImage, 
.PageSectionDetail .IntroductionImage, 
.PageSectionDetailDetail .IntroductionImage, 
.PagePersonalStory .IntroductionImage {
    position:relative;
    padding-bottom:1px;
    /*width:700px;*/
    width:1099px;
    margin-left:-85px;
}

.PageSection .Introduction {
    position:absolute;
    line-height:16px;
    left:740px;   
    /*top:50px;*/
    top:25px;
    /*top:20px;*/
    /*font-size:16px;*/
    width:275px;
}
.PageSection .Introduction td {
    /*font-size:12px;*/
    font-size:13px;
    /*line-height:13px;*/
}

.PageSection .Introduction h1
{
    font-size:18px;
    line-height:22px;
    padding: 0 0 2px 0;  
}



.PageSection .Introduction h2
{
    font-size:16px;
}

.PageSection .Introduction a {
    padding:0 0 5px 12px;
    background:url(../../images/SJM/arrow.gif)/*tpa=http://www.sjm.com/images/SJM/arrow.gif*/ no-repeat 2px 4px;
    
    line-height:21px;
}

.PageSection .Introduction h1 a {
    background: none;
    padding:0;
}

.PageSectionDetail .Introduction {
    position:absolute;
    top:50px;
    left:320px;
    width:340px;
    font-size:16px;
    line-height:20px;
}
.PageSectionDetailDetail .Introduction {
    position:absolute;
    top:60px;
    left:100px;
    width:510px;
    font-size:16px;
    line-height:20px;
}

.Introduction p {
    margin:0;
    padding:0;
}

div.Divider {
height:25px;
background:url(../../images/SJM/divider.png)/*tpa=http://www.sjm.com/images/SJM/divider.png*/ no-repeat top left;
}
p.Divider {
height:5px;
background:url(../../images/SJM/divider.png)/*tpa=http://www.sjm.com/images/SJM/divider.png*/ no-repeat top left;
}
span.Divider {
display:block;
height:25px;
background:url(../../images/SJM/divider.png)/*tpa=http://www.sjm.com/images/SJM/divider.png*/ no-repeat top left;
}

div.arrow_link {
/*float:left;
height:36px;*/
margin:-10px 35px 22px 43px;
/*background:url(/images/SJM/btn_bg.gif) no-repeat right top;*/
}
p.arrow_link {
/*float:left;
height:36px;*/
padding:0;
margin:-10px 35px 22px 43px;
/*background:url(/images/SJM/btn_bg.gif) no-repeat right top;*/
}
span.arrow_link {
/*float:left;
height:36px;*/
display:block;
padding:0;
margin:-10px 35px 22px 43px;
/*background:url(/images/SJM/btn_bg.gif) no-repeat right top;*/
}
.arrow_link a {
display:block;
max-width:350px;
padding:7px 34px 7px 20px;
font-weight:bold;
background:url(../../images/SJM/arrow_btn.jpg)/*tpa=http://www.sjm.com/images/SJM/arrow_btn.jpg*/ no-repeat;
/*background:url(/images/SJM/btn_bg_left.gif) no-repeat left top;*/
}

li.indented {
    /* Ingrid issue 2/11/10 on dos and donts pages in recovering from surgery*/
    margin:0 35px 0 40px !important;
}

ul.link_list
{
    margin-left:0px;
    list-style:none;
    list-style-image:none;
    background-image:none;
}

ul.link_list a
{
    padding:0 0 5px 12px;
    background:url(../../images/SJM/arrow.gif)/*tpa=http://www.sjm.com/images/SJM/arrow.gif*/ no-repeat 2px 4px;
}

.PromoVideo {
position:relative;
width:233px;
height:209px;
margin:10px 7px 10px 10px;
background:url(../../images/SJM/promovideo_bg.jpg)/*tpa=http://www.sjm.com/images/SJM/promovideo_bg.jpg*/ no-repeat;
}
.ColumnLeft .PromoVideo {
margin:10px 0 10px 10px;
}
.PromoVideoImage {
position:absolute;
}
.PromoVideo .Text {
position:absolute;
top:10px;
left:2px;
width:225px;
font-size:12px;
line-height:15px;
}
.PromoVideo h1 {
padding:2px 14px;
font-size:18px;
line-height:18px;
}
.PromoVideo h2 {
padding:2px 14px;
font-size:14px;
line-height:14px;
}
.PromoVideo .column_left_video_box {
padding:4px 0;
}
.PromoVideo p {
padding:0 10px 4px 14px;
}
.PromoVideo p a {
padding-right:10px;
background:url(../../images/SJM/arrow_green.gif)/*tpa=http://www.sjm.com/images/SJM/arrow_green.gif*/ no-repeat right;
/* UI Recommendation - font sizes */
font-size:14px;
}
.PromoVideo a:visited {
color:#006C56;
}

/* SJM Specific Promos */

/*  Generic promo box that scales in the vertical */
/* 4/12/10 PromoGeneric switched from slices with top, middle, bottom to background images */
.PromoGeneric0
{
    width:350px;
}

.PromoGeneric {
    position:relative;
    width:350px;
}

.PromoGeneric .Text {
    position:absolute;
    top:13px;
    left:0;
    /*width:184px;*/
}

.PromoGeneric .Text .top
{
    background:url(../../images/SJM/featurebox_top.jpg)/*tpa=http://www.sjm.com/images/SJM/featurebox_top.jpg*/ no-repeat;
    width:350px;
    height:16px;
}
.PromoGeneric .Text .middle
{
    background:url(../../images/SJM/featurebox_middle.jpg)/*tpa=http://www.sjm.com/images/SJM/featurebox_middle.jpg*/ repeat-y;
    width:350px;
    
    /*padding: 0 90px 0 50px;  */
    padding:0;
    
}

.PromoGeneric .Text .middle ul
{
    padding: 0;
    margin: 0 0 5px 0;
}

.PromoGeneric ul
{
    margin-top:5px;
}

.PromoGeneric ul li
{
    background:none;
    list-style:none;
    margin: 0 0 0 0;
    
    /*padding: 0 90px 0 0;*/
    /*padding: 0 50px 0 43px;*/
    padding:  0 0 5px 0;
}

.PromoGeneric p
{
    /*padding-right:90px;*/
    padding: 0 50px 0 43px;
    
    margin-top:5px;
}

.PromoGeneric .Text .bottom
{
    background:url(../../images/SJM/featurebox_bottom.jpg)/*tpa=http://www.sjm.com/images/SJM/featurebox_bottom.jpg*/ no-repeat;
    width:350px;
    height:29px;
}

.PromoGeneric h1
{
    font-size:18px;
    line-height:22px;
    /*padding-right:60px;*/
    padding: 0 50px 0 43px;
}
.PromoGeneric h2
{
    font-size:16px;
    line-height:18px;
    margin-bottom:3px;
    /*padding-right:60px;*/
    padding: 0 60px 0 43px;
}
.PromoGeneric h3
{
    padding: 0 50px 0 43px;
}

.PromoGeneric a {
    /*padding:0 0 5px 12px;*/
    /*background:url(/images/SJM/arrow.gif) no-repeat 2px 4px;*/
}

.PromoGeneric li a {
    padding: 0px 0 5px 12px;
    background:url(../../images/SJM/arrow.gif)/*tpa=http://www.sjm.com/images/SJM/arrow.gif*/ no-repeat 2px 4px;
}



/*  Narrower Generic promo box that scales in the vertical */
.PromoGenericNarrow
{
    width:231px;
    margin: 0 7px 7px 20px;
    
}

.ColumnLeft > .PromoGenericNarrow
{
    margin-left: 10px;
}

.PromoGenericNarrow .Text .top
{
    background:url(../../images/SJM/rcol_box_top.jpg)/*tpa=http://www.sjm.com/images/SJM/rcol_box_top.jpg*/ no-repeat;
    width:231px;
    height:7px;
}
.PromoGenericNarrow .Text .middle
{
    background:url(../../images/SJM/rcol_box_middle.jpg)/*tpa=http://www.sjm.com/images/SJM/rcol_box_middle.jpg*/ repeat-y;
    width:231px;
    /*padding: 0 95px 0 14px;  */
    /*font-size:12px;*/
    padding:0;
    margin:0;
}

.PromoGenericNarrow .Text .middle ul
{
    padding: 0;
    margin: 0 0 5px 0;
}

.PromoGenericNarrow ul li
{
    background:none;
    list-style:none;
    font-size:13px;
    line-height:15px;
    /*padding: 0 20px 7px 0;*/
    padding: 0 5px 0 14px;
    
    /*margin:0;*/
    margin-top: 5px;
}

.PromoGenericNarrow p
{
    /*padding-right:20px;*/
    padding: 0 5px 0 14px;
      
    margin-top:5px;
}

.PromoGenericNarrow .Text .bottom
{
    background:url(../../images/SJM/rcol_box_bottom.jpg)/*tpa=http://www.sjm.com/images/SJM/rcol_box_bottom.jpg*/ no-repeat;
    width:231px;
    height:7px;
}

.PromoGenericNarrow h1
{
    font-size:14px;
    line-height:15px;
    /*margin-bottom:2px;*/
    /*padding-right: 50px;*/
    padding: 0 5px 0 14px;
}

.PromoGenericNarrow h2
{
    font-size:13px;
    line-height:14px;
    /*margin-bottom:2px;*/
    /*padding-right:50px;*/
    padding: 0 5px 0 14px;
}

/* Stock Quote in subsection right promo */
.PromoGenericNarrow table
{
    width:210px;
    margin: 0 0 0 15px;
    /*border: solid 1px pink;*/
}

.PromoGenericNarrow li a {
    padding: 0 0 5px 12px;
    background:url(../../images/SJM/arrow.gif)/*tpa=http://www.sjm.com/images/SJM/arrow.gif*/ no-repeat 2px 4px;
}

.PromoGenericNarrow a {
    /*padding:0 0 5px 12px;*/
    /*background:url(/images/SJM/arrow.gif) no-repeat 2px 4px;*/
}

/* FAQs */
p.question
{
    text-align:left;
    font-size:14px;
    font-weight:bold;
    background-color:#f7f3ef;
    padding: 5px 10px 5px 10px;
    border-top: solid 1px #4c4c4c;
    border-bottom: solid 1px #4c4c4c;
}

p.answer
{
    padding: 5px 10px 15px 10px;
}

/* Careers Resumeware */
.CareersResumeware tr
{
  vertical-align:bottom;
}
.CareersResumeWare th
{
    font-size:18px;
}
.CareersResumeWare td
{
    font-size:13px;
}
.CareersResumeWare td a
{
    font-size:13px;
}
.CareersResumeWare td a img
{
    float:none; 
    margin: 0;
    padding:0;
}

/* Career Events */
.CareerEvents
{
    /*width:700px;*/
}
.CareerEvents table
{
    /*width:100%;*/
}

.CareerEvents table, .TableShaded table, table.TableShaded, .Locations table 
{
    margin: 5px 0 15px 0;
    /*background-color:#4c4c4c;*/
    background-color:#FFF;
    font-size:12px;
}

.CareerEvents tr, .TableShaded tr, table.TableShaded tr, .Locations tr
{
    vertical-align:top;
}

.CareerEvents td, .TableShaded td,table.TableShaded td, .Locations td
{
    background-color:#f7f4f1;
    padding: 3px 5px 3px 5px;
    font-size:12px;
}

.CareerEvents tr.shaded td, .TableShaded tr.shaded td, table.TableShaded tr.shaded td, .Locations tr.shaded td
{
    /*background-color:#f7f3ef;*/
    background-color:#fcfbf9;
    font-size:12px;
}

.CareerEvents th, .TableShaded th, table.TableShaded th, .Locations th
{
    text-align:left;
    font-size:14px;
    /*font-weight:bold;*/
    font-weight:normal;
    /*background-color:#f7f3ef;*/
    background-color:#fcfbf9;
    padding: 3px 5px 3px 5px;
}

.Locations th
{
    font-size:13px;
    background-color:#f7f4f1;
}

.Locations tr.shaded th
{
    /*background-color:#f7f3ef;*/
    background-color:#fcfbf9;
}
.TableNoShading td, .TableNoShading th, .TableNoShading td.shaded
{
    background-color:#FFF;
}
.TableNoShading tr tr td, .TableNoShading tr tr th
{
    background-color:#f7f4f1;
}

.CareerEvents ul, .CareersResumeWare ul, .Locations ul
{
    padding: 0;
    margin: 0 0 5px 0;
}

/* CareersResumeWare was listed, but we want the li's in ColumnMiddleRight to have square bullet in general */
.CareerEvents ul li, .Locations ul li
{
    background:none;
    list-style:none;
    padding: 0;
    margin:0;
}



/* News Release */
/*.NewsReleases
{
    width:700px;
}
*/

/* Business Integrity Code of Business Conduct */
ul.ImagesRight
{
    margin-left:0;
}
ul.ImagesRight li
{
    line-height:20px;
}
ul.ImagesRight img
{
    margin-bottom:0px;
    margin-right:0px;
    padding-left:5px;
    float:none;
    vertical-align: bottom;
}




