/* tabs */
ul.tabs {
	height:21px;
	background-image:url(../../images/SJM/bg-tabs-bottom.gif)/*tpa=http://www.sjm.com/images/SJM/bg-tabs-bottom.gif*/;
	background-position:bottom left;
	background-repeat:repeat-x;
	margin:0 0 5px;
}
	.boxed ul.tabs { margin-bottom:0; }
	ul.tabs li {
		height:19px;
		float:left;
		margin:0 5px 0 0;
		list-style:none;
		padding:0;
		background-image:none;
	}
	ul.tabs li a {
		display:block;
		height:19px;
		padding:0 10px;
		line-height:18px;
		background-color:#efeae4;
		border:1px solid #efeae4;
		border-bottom:none;
		text-decoration:none !important;
		white-space:nowrap;
	}
	ul.tabs li a:hover {
		background-color:#efeae4;
		border-color:#ccc;
	}
	ul.tabs li.ui-state-active a,
	ul.tabs li a.active {
		height:20px;
		background-color:#fff !important;
		border-color:#000 !important;
		cursor:default !important;
		color:#000 !important;
		background-image:url(../../images/SJM/bg-signup.gif)/*tpa=http://www.sjm.com/images/SJM/bg-signup.gif*/;
		background-repeat:repeat-x;
	}
	ul.tabs li.label {
		background-color:transparent;
		border-color:#fff;
		color:#000;
		font-size:11px;
		line-height:20px;
		margin-right:20px;
	}
	div.ui-tabs-hide { display:none; }
	.tablabel { display:none; }
	div.tabbed { margin-bottom:20px; }
	div.boxed .ui-tabs-panel {
		border:1px solid #000;
		border-top:none;
	}
		div.boxed .ui-tabs-panel {
			padding:10px 10px 0;
		}
		div.boxed .ui-tabs-panel table { margin-bottom:10px; }
		
.tabcontent
{
    font-size:13px;
    padding: 5px 15px 5px 15px;
}

.tabcontent ul
{
    margin-left:0px;
}
.tabcontent ul li
{
    font-size:13px;
}
.tabcontent ul li a
{
    font-size:13px;
}
