/* Video Player and Menu  (main page) */
.video_player_box {
width:692px;
}
.video_player_box_ul {
float:left;
width:250px;
height:247px;
}
#video_player {
float:left;
width:438px;
height:247px;
padding-right:4px;
background:url(../../images/SJM/player_bg.jpg)/*tpa=http://www.sjm.com/images/SJM/player_bg.jpg*/;
}
.video_player_box_lower {
float:left;
width:692px;
/* UI Recommendation from 13px to 14px */
font-size:14px;
background:url(../../images/SJM/player_repeat.jpg)/*tpa=http://www.sjm.com/images/SJM/player_repeat.jpg*/;
}
.video_player_box_lower p {
padding:0 0 10px 0;
}
.video_player_box_ll {
float:left;
width:210px;
padding:10px 15px 10px 25px;
}
.video_player_box_lr {
float:left;
width:398px;
padding:10px 10px 12px 20px;
}
.video_player_box_lr_col1, .video_player_box_lr_col2 {
float:left;
width:180px;
/* Impact from UI Recommendation - font size increase - broke layout on IE 6*/
margin-right:15px;
}
.video_player_box_lr h3 {
padding:10px 0 0 0;
/* UI Recommendation from 13px to 14px */
font-size:14px;
line-height:17px;
font-weight:bold;
}
.video_player_box_bottom {
float:left;
width:692px;
height:15px;
margin:0 0 15px 0;
background:url(../../images/SJM/player_btm.jpg)/*tpa=http://www.sjm.com/images/SJM/player_btm.jpg*/ no-repeat;
}  
