/* CSS Document */
body, html {
	font: 12px/18px Arial, Helvetica, sans-serif;	
}
#header, .col3, #footer, .colLeftMenu {
	display:none;	
}
h1, h2, h3, h4 {
	font-family: "franklin-gothic-urw-condensed",sans-serif;
	font-style: normal;
	font-weight: 700;
	text-transform:uppercase;
	color:#6a6a6a;	
}
h1 {
	font-size:32px;	
}
h2 {
	font-size:18px;	
}
.col3 {
	width:300px;
	float:left;
	margin-right:20px;
	font-family: "franklin-gothic-urw-condensed",sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size:18px;
	line-height:24px;
	color:#b5b5b5;
}
.col3 p {
	padding:0px 5px;	
}
.col3 strong {
	color:#6a6a6a;	
}
.col3 h1 {
	font-size:20px;
	color:#29b5f5;
	text-transform:uppercase;
	background: url(../images/dotted_border.png)/*tpa=http://www.yum.com/images/dotted_border.png*/ repeat-x bottom;
	padding-bottom: 4px;
}
.col3 a {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-decoration:none;
	font-size:11px;
}
.colRight {
	width:300px;
	margin-left:20px;
	float:right;
	
}