
/* Expand / Collapse */
a.exp {
	cursor: pointer;
	color: blue;
	text-decoration: none;
}
a.exp:hover {
	cursor: pointer;
	color: blue;
	text-decoration: underline;
	font-weight: bold;
}


/* Round Rectangle  */
div.rounded {
    position:relative;
    width: 160px; /* or 94% */
    background-color: #BDD6EF;
    margin: 1px;
}

div.top-left-corn, div.bottom-left-corn, div.top-right-corn, div.bottom-right-corn {
	position:absolute;
	width:20px;
	height:20px;
	background-color:#DDE8F4;
	overflow:hidden;}

div.top-left-ins, div.bottom-left-ins, div.top-right-ins, div.bottom-right-ins {
	position:relative;
	font-size:150px;
	color:#BDD6EF;
	line-height: 40px;}

div.top-left-corn { top:0px; left:0px; }
div.bottom-left-corn {bottom:0px; left:0px;}
div.top-right-corn {top:0px; right:0px;}
div.bottom-right-corn {bottom: 0px; right:0px;}

div.top-left-ins {left:-8px;}
div.bottom-left-ins {left:-8px; top:-17px;}
div.top-right-ins {left:-25px;}
div.bottom-right-ins {left:-25px; top:-17px;}

div.mycontent {
	position: relative; padding: 10px;
}
/* End Round Rectangle 2  */


/* meni  */
	#ddprops{
		position:absolute;		
		border-top: 1px solid #B9D3EC;
		/*border-right: 1px solid white;
		border-left: 1px solid white;*/
		line-height:22px;
		z-index:1;
	}
	#ddprops a{
		width: 100%;
		display: block;
		text-indent: 8px;
		border-bottom: 1px solid #B9D3EC;
		padding: 0px 0;
	}
	#ddprops a:hover{ /*hover background color*/
		background-color: #B9D3EC;
	}
	#ddprops a:active{ /*active background color*/
		background-color: #B9D3EC;
	}		

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: #D8DDE3;
	background-image:  url(../../images/bgs/bg.jpg);
	background-repeat: repeat-x;
}



P {
	font-family: Verdana, Arial,  Helvetica, sans-serif;
	font-size:12px;
	color: #000000;
	font-style: normal;
	text-decoration: none;
	line-height: 16px;
}

ol {
	font-family: Verdana, Arial,  Helvetica, sans-serif;
	font-size:12px;
	color: #000000;
	font-style: normal;
	text-decoration: none;
	line-height: 17px;
}

ul {
	font-family: Verdana, Arial,  Helvetica, sans-serif;
	font-size:12px;
	color: #000000;
	font-style: normal;
	text-decoration: none;
	line-height: 17px;
}

TD {
	font-family: Verdana, Arial,  Helvetica, sans-serif;
	font-size:12px;
	color: #000000;
	font-style: normal;
	text-decoration: none;
	line-height: 16px;
}

A {
	font-family: Verdana, Arial,  Helvetica, sans-serif;
	font-size:12px;
	text-align: left;
	color: #0033CC;
	font-style: normal;
	text-decoration: none;
	text-align: left;
}

/*
a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align: left;
	color: #0033CC;
	font-style: normal;
	text-decoration: underline;
	text-align: left;
}

a:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align: left;
	color: #0033CC;
	font-style: normal;
	text-decoration: underline;
	text-align: left;
}
*/

a.tnv {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;

}

a.tnv:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFCC33;
	text-decoration: none;	

}
a.tnv:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFCC33;
	text-decoration: none;	

}

a.tnv2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
   	padding-left: 60px;
	font-weight: bold;
	text-decoration: none;
}

a.tnv2:hover {
	font-size: 11px;
	font-weight: bold;
	color: #FFCC33;
	text-decoration: none;
}
a.tnv2:active {
	font-size: 11px;
	font-weight: bold;
	color: #FFCC33;
	text-decoration: none;
}

.socialize {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color: white;
	font-weight: bold;
}


a.grn-nv {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #1D2639;
	text-decoration: none;
	padding-left: 16px;
}

a.grn-nv:hover {
	color: #6699CC;

}
a.grn-nv-top {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #1D2639;
	text-decoration: none;

}

a.grn-nv-top:hover {
	color: #5F85EB;

}

a.grn-nv-top2 {
	font-family: Verdana, Arial, Tahoma, Helvetica, sans-serif;
	font-size: 11px;
	color: black;
	text-decoration: none;
	padding-left: 16px;
	padding-right: 10px;
}

a.grn-nv-top2:hover {
	font-family: Verdana, Arial, Tahoma, Helvetica, sans-serif;
	font-size: 11px;
	color: black;
	text-decoration: none;
	padding-left: 16px;
	padding-right: 10px;
}
a.grn-nv-top2:active {
	font-family: Verdana, Arial, Tahoma, Helvetica, sans-serif;
	font-size: 11px;
	color: black;
	text-decoration: none;
	padding-left: 16px;
	padding-right: 10px;
}


td.footer
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #515F88;

}

a.footer {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: none;
}


a.footer:hover {
	color: #FFCC33;

}


.hmceltext
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #990000;
	text-decoration: none;
}

.socialize
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: white;
	font-weight: bold;
	text-decoration: none;
}

td.hmceltext
{

	line-height: 22px;
}

a.hmcellink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000066;
	text-decoration: none;
}


a.hmcellink:hover {
	color: #0066CC;

}


td.homecells
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	border-bottom-color: #A1A2A2;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	background-image: url(../../images/shadebox.gif);
	background-repeat: no-repeat;
	font-weight: bold;
	height: 23px;
}


.border-config-8 {
	line-height: 22px;
/*	border-top-color: #CCCCCC;
	border-top-style: solid;
	border-top-width: 1px;
	border-left-color: #CCCCCC;
	border-left-style: solid;
	border-left-width: 1px;
	border-bottom-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-right-color: #CCCCCC;
	border-right-style: solid;
	border-right-width: 1px;     */
	
}

h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	text-align: left;
	color: #999999;
	text-decoration: none;
	line-height: 24px;
	font-weight: normal;
	padding-top: 10px;
		padding-bottom: 0px;
}

.styleB {color: #70A4D8}
.styleG {color: #73C536}
.styleY {color: #B39B53}
.styleC {color: #00CCCC}
.styleNV {color: #3C4459}

.styleX {font-size: 12px;
	line-height: 18px;
}


h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	text-align: left;
	color: #3C4459;
	font-style: normal;
	text-decoration: none;
	line-height: 18px;
	font-weight: normal;
	padding-left: 14px;
	margin: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-right: 0px;

}

.homeh2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	text-align: left;
	color: #3C4459;
	font-style: normal;
	text-decoration: none;
	line-height: 23px;
	font-weight: normal;
	padding-left: 18px;

}
.commh2

{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	text-align: left;
	color: #3C4459;
	font-style: normal;
	text-decoration: none;
	line-height: 23px;
	font-weight: normal;
	padding-left: 14px;
	margin: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-right: 0px;

}
h3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	text-align: left;
	color: #3C4459;
	font-style: normal;
	text-decoration: none;
	line-height: 24px;
	font-weight: normal;
	padding-left: 13px;
	margin: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-right: 0px;

}
h4 {
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size:13px;
	text-align: left;
	color: #70272E;
	border-collapse: collapse;
	font-style: bold;
	text-decoration: none;
		padding-left: 0px;
	margin: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-right: 0px;
}

.column-text {
	font-family: Verdana, Arial,  Helvetica, sans-serif;
	font-size:11px;
	text-align: left;
	color: #666666;
	font-style: normal;
	text-decoration: none;
	line-height: 18px;
	text-align: left;
}


.subhead {
	font-family: Verdana, Arial,  Helvetica, sans-serif;
	font-size:14px;
	text-align: left;
	color: #993300;
	font-style: normal;
	text-decoration: none;
	line-height: 20px;
	text-align: left;
	font-weight: bold;
}

.box_top {
width: 180px; height:25px;
background:#DDE8F4;
border-top:1px solid #B9D3EC;
border-right:1px solid #B9D3EC;
border-bottom:1px solid #B9D3EC;
border-left:1px solid #B9D3EC;}

.box_top_text {
float:right; 
padding-top:6px;
padding-right:10px;
font-family:Arial, Helvetica, Tahoma, Verdana, sans-serif;
color: #444e67;
font-size: 12px;
font-weight: bold;}

a.box_body_links {
font-family:Arial, Helvetica, sans-serif;
font-size: 10px;
color: #cc0000;}
	
a.box_body_links:hover {
font-family:Arial, Helvetica, sans-serif;
font-size: 10px;
color: #cc0000;
text-decoration: underline;}

.navhead {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: left;
	color: #006699;
	font-style: normal;
	text-decoration: none;
	font-weight: bold;
		line-height: 21px;


}
.navhead-twoline {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: left;
	color: #006699;
	font-style: normal;
	text-decoration: none;
	font-weight: bold;
		line-height: 15px;


}
.nav-text-link {
	font-family: Verdana, Arial,  Helvetica, sans-serif;
	font-size:11px;
	text-align: left;
	color: #006699;
	font-style: normal;
	text-decoration: none;
	line-height: 19px;
	text-align: left;
}


.nav-text-link:hover {
	font-family: Verdana, Arial,  Helvetica, sans-serif;
	font-size:11px;
	text-align: left;
	color: #993300;
	font-style: normal;
	text-decoration: underline;
	line-height: 19px;
	text-align: left;
}


.nav-text-sublink {
	font-family: Verdana, Arial,  Helvetica, sans-serif;
	font-size:11px;
	text-align: left;
		color: #666666;
	font-style: normal;
	text-decoration: none;
	line-height: 19px;
	text-align: left;
	padding-left: 23px;
}


.nav-text-sublink:hover {
	font-family: Verdana, Arial,  Helvetica, sans-serif;
	font-size:11px;
	text-align: left;
		color: #666666;
	font-style: normal;
	text-decoration: underline;
	line-height: 19px;
	text-align: left;
	padding-left: 23px;
}





.nav-gov-link {
	font-family: Verdana, Arial,  Helvetica, sans-serif;
	font-size:11px;
	text-align: left;
	color: #006699;
	font-style: normal;
	text-decoration: none;
	line-height: 16px;
	text-align: left;
}


.nav-gov-link:hover {
	font-family: Verdana, Arial,  Helvetica, sans-serif;
	font-size:11px;
	text-align: left;
	color: #993300;
	font-style: normal;
	text-decoration: underline;
	line-height: 16px;
	text-align: left;
}

.normal-text {
	font-family: Verdana, Arial,  Helvetica, sans-serif;
	font-size:13px;
	text-align: left;
	color: #000000;
	font-style: normal;
	text-decoration: none;
	line-height: 18px;
	text-align: left;
}


.normal-text-link {
	font-family: Verdana, Arial,  Helvetica, sans-serif;
	font-size:13px;
	text-align: left;
	color: #0033CC;
	font-style: normal;
	text-decoration: none;
	line-height: 18px;
	text-align: left;
}
.normal-text-link:hover {
	font-family: Verdana, Arial,  Helvetica, sans-serif;
	font-size:13px;
	text-align: left;
	color: #006633;
	font-style: normal;
	text-decoration: underline;
	line-height: 18px;
	text-align: left;
}


.callout {


background-image:url(/images/community/hi_lite.gif);
background-repeat:no-repeat;
background-color: #FFFFFF;

}
