/* Version: 2011.04.19.1006 */

/********************
 IE7 specific fixes
********************/

/* auto float clearing */
*:first-child+html .group,
*:first-child+html .row,
*:first-child+html .row-seam,
*:first-child+html .row-seam-margins,
*:first-child+html .row-seamless,
*:first-child+html .row-seam-dotted,
*:first-child+html #left-column,
*:first-child+html .page-title{height:.1%; margin-bottom:13px !important}

*:first-child+html #content,
*:first-child+html #primary-content,
*:first-child+html #secondary-content{height:.1%}

.arrowRt,
a.arrow,
.expand,
.collapse,
.paperless,
.print,
.upsell,
.overage,
.upsellIndent,
.overageIndent { display:inline-block }

/* /fix for usm and IE double pad */

#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative; overflow:hidden; left:0; top:0; margin:0; text-align:left}
#cboxLoadedContent{overflow:auto}
#cboxLoadedContent iframe{display:block; width:100%; height:100%; border:1px solid black;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}

#cboxOverlay{background:#fff;}

#colorBox{}
    #cboxTopLeft{width:25px; height:25px; background:url(../images/global/border1.png)/*tpa=http://www.att.com/images/global/border1.png*/ no-repeat 0 0 !important}
    #cboxTopCenter{height:25px; background:url(../images/global/border1.png)/*tpa=http://www.att.com/images/global/border1.png*/ repeat-x 0 -50px !important}
    #cboxTopRight{width:25px; height:25px; background:url(../images/global/border1.png)/*tpa=http://www.att.com/images/global/border1.png*/ no-repeat -25px 0 !important}
    #cboxBottomLeft{width:25px; height:25px; background:url(../images/global/border1.png)/*tpa=http://www.att.com/images/global/border1.png*/ no-repeat 0 -25px !important}
    #cboxBottomCenter{height:25px; background:url(../images/global/border1.png)/*tpa=http://www.att.com/images/global/border1.png*/ repeat-x 0 -75px !important}
    #cboxBottomRight{width:25px; height:25px; background:url(../images/global/border1.png)/*tpa=http://www.att.com/images/global/border1.png*/ no-repeat -25px -25px !important}
    #cboxMiddleLeft{width:25px; background:url(../images/global/border2.png)/*tpa=http://www.att.com/images/global/border2.png*/ repeat-y 0 0 !important}
	 	#cboxMiddleLeft div{margin-left:14px; height:56px; background:url(../images/global/fi170019.1&cpcode=52202&akid=3yqcluomkz2exdbfcovx4kc30l4k88qle3mpyzmbnnrscpz0r1kaqma&blob-id=7&blob=[mm_uuid]/r/n&01na=ck&.gif)/*tpa=http://www.att.com/images/global/bg_modal_top.gif*/ repeat-x 0 -11px;} 
		
    #cboxMiddleRight{width:25px; background:url(../images/global/border2.png)/*tpa=http://www.att.com/images/global/border2.png*/ repeat-y -25px 0 !important}
	 	#cboxMiddleRight div{margin-right:14px; height:56px; background:url(../images/global/fi170019.1&cpcode=52202&akid=3yqcluomkz2exdbfcovx4kc30l4k88qle3mpyzmbnnrscpz0r1kaqma&blob-id=7&blob=[mm_uuid]/r/n&01na=ck&.gif)/*tpa=http://www.att.com/images/global/bg_modal_top.gif*/ repeat-x 0 -11px;}
    #cboxContent{background:#fff; border:none; position:relative;}
        #cboxLoadedContent{padding:0}
        #cboxTitle{position:absolute; bottom:0px; left:0; text-align:center; width:100%; color:#999;}
        #cboxCurrent{position:absolute; bottom:0px; left:100px; color:#999;}
        #cboxSlideshow{position:absolute; bottom:0px; right:42px; color:#444;}
        #cboxPrevious{position:absolute; bottom:0px; left:0; color:#444;}
        #cboxNext{position:absolute; bottom:0px; left:63px; color:#444;}
        #cboxLoadingOverlay{background:#fff url(../images/global/fi170017.1&cpcode=52202&akid=3yqcluomkz2exdbfcovx4kc30l4k88qle3mpyzmbnnrscpz0r1kaqma&blob-id=7&blob=[mm_uuid]/r/n&01na=ck&.gif)/*tpa=http://www.att.com/images/global/ajaxLoader.gif*/ no-repeat 5px 5px;}
        #cboxClose{position:absolute; bottom:0; left:-9999px; display:block; color:#444;}

.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}

#cboxLoadedContent,
#cboxLoadedContent iframe{
	border:none !important;
}
.modalHeader{position:relative; top:-11px}
.modalHeader h1 {padding:14px 0 0 15px;}
.closeModal{right: 5px;}
.modalContent{padding:25px 10px 10px 15px !important}


#wrapper {
    margin: 0 auto;
    position: relative;
    width: 974px !important;
}

.deviceSocialMediaVerticalBar {
	left: 972px !important;
}
