.home_banner_wrapper {border: 1px solid #cfcfcf;width: 825px; height: 332px; display: block;overflow:hidden;text-align: left;position:relative;font-family:Arial;font-size:11px;color:#ffffff;}
.home_banner_wrapper .settiming {display: none;}
.home_banner_wrapper .home_banner {position:absolute; top: 0px; left: 0px; width: 825px; height: 332px;}
.home_banner_wrapper .home_banner .home_banner_content {position:relative;}
.home_banner_wrapper .home_banner .home_banner_content .banner_macro {position: absolute;top: 0px; left:625px; width: 200px;}
/*.home_banner_wrapper .home_banner .home_banner_content .banner_macro .banner_macro_green{font-size:12px;font-weight:bold;float: right;background-color:#8ba862; border-left: 5px solid #77944f;margin: 0px; padding: 3px 10px 3px 10px;}
.home_banner_wrapper .home_banner .home_banner_content .banner_macro .banner_macro_yellow{font-size:12px;font-weight:bold;float: right;background-color:#d0a660; border-left: 5px solid #aa8e5f;margin: 0px; padding: 3px 10px 3px 10px;}
.home_banner_wrapper .home_banner .home_banner_content .banner_macro .banner_macro_red{font-size:12px;font-weight:bold;float: right;background-color:#de0031; border-left: 5px solid #af2040;margin: 0px; padding: 3px 10px 3px 10px;}
.home_banner_wrapper .home_banner .home_banner_content .banner_macro .banner_macro_blue{font-size:12px;font-weight:bold;float: right;background-color:#718ead; border-left: 5px solid #5c83ad;margin: 0px; padding: 3px 10px 3px 10px;}*/

.home_banner_wrapper .home_banner .home_banner_content .banner_macro .banner_macro_green{font-size:12px;font-weight:bold;float: right; border-left: 5px solid #77944f;margin: 0px; padding: 5px 20px 5px 10px; background: #8ba862 url(../../PublishingImages/Hon_home_banner/arrow_macro.png)/*tpa=http://honeywell.com/PublishingImages/Hon_home_banner/arrow_macro.png*/ no-repeat center right; cursor: pointer }
.home_banner_wrapper .home_banner .home_banner_content .banner_macro .banner_macro_yellow{font-size:12px;font-weight:bold;float: right; border-left: 5px solid #aa8e5f;margin: 0px; padding: 3px 20px 5px 10px; background: #d0a660 url(../../PublishingImages/Hon_home_banner/arrow_macro.png)/*tpa=http://honeywell.com/PublishingImages/Hon_home_banner/arrow_macro.png*/ no-repeat center right; cursor: pointer}
.home_banner_wrapper .home_banner .home_banner_content .banner_macro .banner_macro_red{font-size:12px;font-weight:bold;float: right; border-left: 5px solid #af2040;margin: 0px; padding: 5px 20px 5px 10px; background: #de0031 url(../../PublishingImages/Hon_home_banner/arrow_macro.png)/*tpa=http://honeywell.com/PublishingImages/Hon_home_banner/arrow_macro.png*/ no-repeat center right; cursor: pointer}
.home_banner_wrapper .home_banner .home_banner_content .banner_macro .banner_macro_blue{font-size:12px;font-weight:bold;float: right; border-left: 5px solid #5c83ad;margin: 0px; padding: 5px 20px 5px 10px; background:#718ead url(../../PublishingImages/Hon_home_banner/arrow_macro.png)/*tpa=http://honeywell.com/PublishingImages/Hon_home_banner/arrow_macro.png*/ no-repeat center right; cursor: pointer}
.home_banner_wrapper .home_banner .home_banner_content .banner_macro .banner_macro_darkblue{font-size:12px;font-weight:bold;float: right; border-left: 5px solid #00005a;margin: 0px; padding: 5px 20px 5px 10px; background:#00005a url(../../PublishingImages/Hon_home_banner/arrow_macro.png)/*tpa=http://honeywell.com/PublishingImages/Hon_home_banner/arrow_macro.png*/ no-repeat center right; cursor: pointer}
.home_banner_wrapper .home_banner .home_banner_content .banner_macro .banner_macro_darkgreen{font-size:12px;font-weight:bold;float: right; border-left: 5px solid #003300;margin: 0px; padding: 5px 20px 5px 10px; background:#003300 url(../../PublishingImages/Hon_home_banner/arrow_macro.png)/*tpa=http://honeywell.com/PublishingImages/Hon_home_banner/arrow_macro.png*/ no-repeat center right; cursor: pointer}
.banner_macro a:link, .banner_macro a:visited, .banner_macro a:active, .banner_macro a:hover{color: #FFFFFF!important; text-decoration: none;}

.home_banner_wrapper .home_banner .home_banner_content .banner_text_content {position: absolute; top: 30px; left: 465px;width:330px;overflow:hidden;text-align:right;}
.home_banner_wrapper .home_banner .home_banner_content .banner_text_content .banner_clearing {clear:both;line-height: 0px;height: 0px;}
.home_banner_wrapper .home_banner .home_banner_content .banner_text_content .banner_title {width: 330px;font-size:30px;font-weight:normal;margin: 40px 0px 0px 0px; padding: 0px;text-align:right;overflow:hidden;}
.home_banner_wrapper .home_banner .home_banner_content .banner_text_content .banner_subtitle {width: 330px;font-size:14px;font-weight:normal;margin: 10px 0px 10px 0px; padding: 0px;text-align:right;}
.home_banner_wrapper .home_banner .home_banner_content .banner_text_content .banner_button_red {float:right;font-size:15px;font-weight:normal;margin: 10px auto 0px auto; padding: 3px 35px 3px 20px;text-align:right;background: #A81C24 url(../../PublishingImages/Hon_home_banner/arrow_green.png)/*tpa=http://honeywell.com/PublishingImages/Hon_home_banner/arrow_green.png*/ no-repeat top right;cursor:pointer;}
.home_banner_wrapper .home_banner .home_banner_content .banner_text_content .banner_button {float:right;font-size:15px;font-weight:normal;margin: 10px auto 0px auto; padding: 3px 35px 3px 20px;text-align:right;background: #1c242c url(../../PublishingImages/Hon_home_banner/arrow_green.png)/*tpa=http://honeywell.com/PublishingImages/Hon_home_banner/arrow_green.png*/ no-repeat top right;cursor:pointer;}
.home_banner_wrapper .home_banner .home_banner_content .banner_text_content a {color:#ffffff; text-decoration: none;}
.home_banner_wrapper .home_banner_loading {background-color:#ffffff;position:absolute; top: 0px; left: 0px; width: 825px; height: 260px;text-align: center; padding-top: 80px;}
.home_banner_wrapper .home_banner_loading .loading_logo {margin: 0px 0px 25px 0px;}
.home_banner_wrapper .banner_navigation {position: absolute; top: 300px; left: 487px; text-align: right;width: 330px;height: 21px;}
.home_banner_wrapper .banner_navigation .nav_item_base {margin: 0px 5px 0px 0px;display: inline-block;*display: inline;zoom: 1; width: 18px; height: 18px; border: 1px solid transparent; background-color: #000000;-moz-opacity:.30; filter:alpha(opacity=30); opacity:.30;cursor:pointer;}
.home_banner_wrapper .banner_navigation .nav_item_hover {margin: 0px 5px 0px 0px;display: inline-block;*display: inline;zoom: 1; width: 18px; height: 18px; background-color: #000000;border: 1px solid #000000;cursor:pointer;filter:alpha(opacity=40); opacity:.40;}
.home_banner_wrapper .banner_navigation .nav_item_active {margin: 0px 5px 0px 0px;display: inline-block;*display: inline;zoom: 1; width: 18px; height: 18px; border: 1px solid transparent; background-color: #000000;cursor:pointer;filter:alpha(opacity=50); opacity:.50;}