html, body, div, span, applet, object, iframe,

h1, h2, h3, h4, h5, h6, p, blockquote, pre,

a, abbr, acronym, address, big, cite, code,

del, dfn, em, img, ins, kbd, q, s, samp,

small, strike, strong, sub, sup, tt, var,

b, u, i, center,

dl, dt, dd, ol, ul, li,

fieldset, form, label, legend,

table, caption, tbody, tfoot, thead, tr, th, td,

article, aside, canvas, details, embed,

figure, figcaption, footer, header, hgroup,

menu, nav, output, ruby, section, summary,

time, mark, audio, video {

  margin: 0;

  padding: 0;

  border: 0;

  /*font: inherit;*/

  font-size: 100%;

  vertical-align: baseline;

}

.txtExtr 
{
    display: none;
}



/*the following overrides are applied to 

alter page widths and other elements

for the new header and footer*/



#content-main {

    border-bottom: none !important;

    height: auto;

    overflow: hidden;

    width: 973px;

}



#features-spacer #features-title {

    left: 15px;

    position: absolute;

    /*top: 35px;*/ /* old style  28 Aug 2014 */
	top:30px; /* new style (fix) 28 Aug 2014 */

}
#features #features-title { top: 30px; } /* further red band fix 28 Aug 2014 */


.trc-small #col-body {

    background: none repeat scroll 0 0 #FFFFFF;

    border: 1px solid #C7C7C6;

    box-shadow: 0 0 4px #999999;

    margin: 0 0 30px 40px;

    padding: 0;

    width: 964px;

    z-index: 200;

}



#content-main {

    /*border-bottom: 1px solid #D2D2D2;*/

    height: auto;

    overflow: hidden;

    width: 1013px;

}



.mainTbl {

    width: 1030px;

}





#section-nav {

    background: url("../../images/solutioncenter/bkgd_section-nav.gif")/*tpa=http://www.adp.com/images/solutioncenter/bkgd_section-nav.gif*/ repeat-x scroll 0 0 #2C2C2C;

    box-shadow: 0 0 4px #666666;

    height: 51px;

    left: 38px;

    margin: 0 0 0 4px;

    padding: 10px 0 0;

    position: relative;

    width: 964px;

}



.more-help {

    background: url("../../images/solutioncenter/bkgd_moreservices.gif")/*tpa=http://www.adp.com/images/solutioncenter/bkgd_moreservices.gif*/ repeat-x scroll 0 0 #F2F2F2;

    border: 1px solid #CCCCCC;

    border-radius: 3px 3px 3px 3px;

    box-shadow: 0 0 4px #999999;

    left: 38px;

    margin: 0 0 30px 3px;

    padding: 0 0 10px;

    position: relative;

    width: 964px;

}





.slider-under-content {

    background: none repeat scroll 0 0 #FFFFFF;

    border: 1px solid #D1D1D1;

    box-shadow: 0 0 6px #BDBDBD;

    color: #4D4D4D;

    height: 375px;

    left: 38px;

    margin: 0 0 35px 4px;

    padding: 20px 0 0;

    position: relative;

    width: 964px;

}



#col-content.success div.story-grid div.story

{

	padding-left: 38px;

}



/*end overrides*/



html {

  line-height: 1;

}



ol, ul {

  list-style: none;

}



table {

  border-collapse: collapse;

  border-spacing: 0;

}



caption, th, td {

  text-align: left;

  font-weight: normal;

  vertical-align: middle;
	
	font-size:  12px;

}



q, blockquote {

  quotes: none;

}

q:before, q:after, blockquote:before, blockquote:after {

  content: "";

  content: none;

}



a img {

  border: none;

}



article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {

  display: block;

}



@font-face {

  font-family: "amasis_mt_stdlight";

  src: url("../../font/amasismtstd-light-webfont.eot")/*tpa=http://www.adp.com/font/amasismtstd-light-webfont.eot*/;

  src: url("../../font/amasismtstd-light-webfont.eot-#iefix")/*tpa=http://www.adp.com/font/amasismtstd-light-webfont.eot?#iefix*/ format("embedded-opentype"), url("../../font/amasismtstd-light-webfont.woff")/*tpa=http://www.adp.com/font/amasismtstd-light-webfont.woff*/ format("woff"), url("../../font/amasismtstd-light-webfont.ttf")/*tpa=http://www.adp.com/font/amasismtstd-light-webfont.ttf*/ format("truetype"), url("../../font/amasismtstd-light-webfont.svg#amasis_mt_stdlight")/*tpa=http://www.adp.com/font/amasismtstd-light-webfont.svg#amasis_mt_stdlight*/ format("svg");

  font-weight: normal;

  font-style: normal;

}



@font-face {

  font-family: "amasis_mt_stdmedium";

  src: url("../../font/amasismtstd-medium-webfont.eot")/*tpa=http://www.adp.com/font/amasismtstd-medium-webfont.eot*/;

  src: url("../../font/amasismtstd-medium-webfont.eot-#iefix")/*tpa=http://www.adp.com/font/amasismtstd-medium-webfont.eot?#iefix*/ format("embedded-opentype"), url("../../font/amasismtstd-medium-webfont.woff")/*tpa=http://www.adp.com/font/amasismtstd-medium-webfont.woff*/ format("woff"), url("../../font/amasismtstd-medium-webfont.ttf")/*tpa=http://www.adp.com/font/amasismtstd-medium-webfont.ttf*/ format("truetype"), url("../../font/amasismtstd-medium-webfont.svg#amasis_mt_stdmedium")/*tpa=http://www.adp.com/font/amasismtstd-medium-webfont.svg#amasis_mt_stdmedium*/ format("svg");

  font-weight: normal;

  font-style: normal;

}



.adp-2013 {

  font-family: Arial, sans-serif;

  background: url("../../images/primary pages/bg-adp-2013.png")/*tpa=http://www.adp.com/images/primary pages/bg-adp-2013.png*/ repeat-x scroll 3px 0 transparent;

}



#bodydiv 

{

  background: url("../../images/primary pages/footer-bg.png")/*tpa=http://www.adp.com/images/primary pages/footer-bg.png*/ repeat-x scroll transparent;

  background-position: bottom;

}



.adp-2013 a {

  -webkit-transition: color 0.1s linear;

  -moz-transition: color 0.1s linear;

  -o-transition: color 0.1s linear;

  transition: color 0.1s linear;

  text-decoration: none;

  cursor: pointer;

  color: #2b75a3;

}

.adp-2013 a * {

  -webkit-transition: color 0.1s linear;

  -moz-transition: color 0.1s linear;

  -o-transition: color 0.1s linear;

  transition: color 0.1s linear;

}

.adp-2013 a:hover {

  text-decoration: underline;

}

.adp-2013 p, .adp-2013 ul {

  font-size: 14px;

  line-height: 18px;

  color: #4d4d4d;

}

.adp-2013 b {

  font-weight: bold;

  color: inherit;

}

.adp-2013 b.red {

  color: #da1f34;

}

.adp-2013 i {

  font-style: italic;

  color: inherit;

}

.adp-2013 sup {

  color: inherit;

  font-size: 60%;

  vertical-align: super;

}

.adp-2013 span {

  color: inherit;

}



.adp-2013 .col1, .adp-2013 .col2, .adp-2013 .col3, .adp-2013 .col4, .adp-2013 .col5, .adp-2013 .col6, .adp-2013 .col7, .adp-2013 .col8,

.adp-2013 .col1-last, .adp-2013 .col2-last, .adp-2013 .col3-last, .adp-2013 .col4-last, .adp-2013 .col5-last, .adp-2013 .col6-last, .adp-2013 .col7-last, .adp-2013 .col8-last,

.adp-2013 .half-width {

  float: left;

}

.adp-2013 .col3 {

  width: 205px;

  margin-right: 30px;

}

.adp-2013 .col3-last {

  width: 205px;

}

.adp-2013 .col4 {

  width: 283px;

  margin-right: 30px;

}

.adp-2013 .col4-last {

  width: 283px;

}

.adp-2013 .col8 {

  width: 597px;

  margin-right: 30px;

}

.adp-2013 .col8-last {

  width: 597px;

}

.adp-2013 .offset4 {

  margin-left: 312px;

}

.adp-2013 .half-width {

  width: 485;

  margin-right: 30px;

}



.adp-2013 .share-btns {

  position: absolute;

  top: 30px;

  right: 30px;

  z-index: 1000;

  width: 200px;

}

.adp-2013 .share-btns .share-label {

  float: left;

  text-transform: uppercase;

  font-size: 11px;

  line-height: 16px;

  margin-right: 3px;

}

.adp-2013 .share-btns .share-btn {

  -webkit-transition: background-position 0.1s linear;

  -moz-transition: background-position 0.1s linear;

  -o-transition: background-position 0.1s linear;

  transition: background-position 0.1s linear;

  background: url('../../images/primary pages/share-icons.png-1371739970.png')/*tpa=http://www.adp.com/images/primary pages/share-icons.png?1371739970*/ no-repeat;

  height: 16px;

  width: 16px;

  float: left;

  margin-left: 5px;

}

.adp-2013 .share-btns .share-btn.linkedin {

  background-position: 0 0;

}

.adp-2013 .share-btns .share-btn.twitter {

  background-position: -21px 0;

}

.adp-2013 .share-btns .share-btn.facebook {

  background-position: -42px 0;

}

.adp-2013 .share-btns .share-btn.google-plus {

  background-position: -63px 0;

}

.adp-2013 .share-btns .share-btn.email {

  background-position: -84px 0;

}

.adp-2013 .share-btns .share-btn:hover.linkedin {

  background-position: 0 -17px;

}

.adp-2013 .share-btns .share-btn:hover.twitter {

  background-position: -21px -17px;

}

.adp-2013 .share-btns .share-btn:hover.facebook {

  background-position: -42px -17px;

}

.adp-2013 .share-btns .share-btn:hover.google-plus {

  background-position: -63px -17px;

}

.adp-2013 .share-btns .share-btn:hover.email {

  background-position: -84px -17px;

}



.adp-2013 .group:before,

.adp-2013 .group:after {

  content: "";

  display: table;

}

.adp-2013 .group:after {

  clear: both;

}

.adp-2013 .group {

  zoom: 1;

}

.adp-2013 .caret-down {

  display: -moz-inline-stack;

  display: inline-block;

  vertical-align: middle;

  *vertical-align: auto;

  zoom: 1;

  *display: inline;

  width: 0;

  height: 0;

  border-left: 3px solid transparent;

  border-right: 3px solid transparent;

  border-top: 3px solid white;

  margin: -1px 3px 0;

}

.adp-2013 .breadcrumb {

  max-width: 1030px;

  margin: 0 auto;

  padding: 0 0;

}

.adp-2013 .breadcrumb .breadcrumb-inner {

  margin: 0 0 15px 23px;

}

.adp-2013 .breadcrumb .breadcrumb-link,

.adp-2013 .breadcrumb .breadcrumb-current-page {

  float: left;

  padding: 0 7px;

  font-size: 11px;

  line-height: 15px;

}

.adp-2013 .breadcrumb .breadcrumb-link {

  border-right: 1px solid #6b6b6b;

}

.adp-2013 .breadcrumb .breadcrumb-current-page { font: bold 11px/15px sans-serif !important; margin-bottom: 0 !important; } 

.adp-2013 .page-content {

  max-width: 1030px;

  margin: 0 auto;

  padding: 0 0;

  position: relative;

}

.adp-2013 .page-content .hero-content, .adp-2013 .page-content .hero-content-image {

  min-height: 548px;

  margin-bottom: -205px;

  position: relative;

  z-index: 100;

}

.adp-2013 .page-content .page-tab {

  font-family: amasis_mt_stdmedium;

  font-weight: normal;

  margin-top: 18px;

  float: left;

  background: #cb1d2b;

  font-size: 20px;

  line-height: 20px;

  padding: 25px 30px;

  color: white;

  font-weight: normal;

}

.adp-2013 .page-content .page-titles {

  clear: left;

  width: 426px;

  padding: 40px 0 0 68px;

}

.adp-2013 .page-content .page-titles .page-title,

.adp-2013 .page-content .page-titles .page-subtitle {

  font-family: amasis_mt_stdlight;

  font-size: 40px;

  line-height: 42px;

  color: white;

  margin-bottom: 10px;

  font-weight: normal;

}

.adp-2013 .page-content .page-titles .page-subtitle {

  font-size: 22px;

  line-height: 24px;

}

.adp-2013 .page-content-block {

  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);

  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);

  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);

  border: 1px solid #c7c7c6;

  padding: 40px 30px;

  margin: 0 29px 40px;

  background: white;

  position: relative;

  z-index: 200;

}



.adp-2013 .page-content-block .content-title {

  font-family: amasis_mt_stdlight;

  font-weight: normal;

  color: #cb1d2b;

  font-size: 36px;

  line-height: 40px;

  margin-bottom: 10px;

}

.adp-2013 .page-content-block .content-title-dark {

  font-family: amasis_mt_stdlight;

  font-weight: normal;

  color: #4d4d4d;

  font-size: 34px;

  line-height: 40px;

  margin-bottom: 10px;

}

.adp-2013 .link-divider {

  margin: 10px 0;

  display: block;

  border-bottom: 1px dashed #999999;

  width: 100%;

}

.adp-2013 br {

  clear: both;

}

.adp-2013 br.clearfix {

  clear: none;

}

.adp-2013 .gradient-block {

  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

  -webkit-border-radius: 3px;

  -moz-border-radius: 3px;

  -ms-border-radius: 3px;

  -o-border-radius: 3px;

  border-radius: 3px;

  background: linear-gradient(#ffffff, #f2f2f2) white;

  border: 1px solid #e6e6e6;

}

.adp-2013 .gradient-block.col4, .adp-2013 .gradient-block.col4-last {

  width: 280px;

}

.adp-2013 ul.styled {

  display: block;

  list-style-type: disc;

  margin-left: 15px;

}

.adp-2013 nav ul li {

  float: left;

}

.adp-2013 hr.dashed {

  outline: none;

  border: none;

  border-bottom: 1px dashed #999999;

  margin: 30px 0;

  clear: both;

  background: none;

  height: 1px;

}

.adp-2013 .go-arrow {

  display: -moz-inline-stack;

  display: inline-block;

  vertical-align: middle;

  *vertical-align: auto;

  zoom: 1;

  *display: inline;

  background: url('../../images/primary pages/go-arrow.png-1372430825.png')/*tpa=http://www.adp.com/images/primary pages/go-arrow.png?1372430825*/ no-repeat right top;

  height: 20px;

  width: 20px;

  margin: -4px 0 0 5px;

}

.adp-2013 a:hover .go-arrow {

  background-position: right bottom;

}

.adp-2013 .bordered-links {

  border-top: 1px solid #d7d7d7;

}

.adp-2013 .bordered-links li {

  padding: 18px 10px;

  border-bottom: 1px solid #d7d7d7;

  line-height: 14px;

  font-size: 14px;

}

.adp-2013 .bordered-links.no-side-padding li {

  padding: 18px 0;

}

.adp-2013 .rss-icon {

  display: -moz-inline-stack;

  display: inline-block;

  vertical-align: middle;

  *vertical-align: auto;

  zoom: 1;

  *display: inline;

  background: url('../../images/primary pages/follow-us-icons.png-1371774277.png')/*tpa=http://www.adp.com/images/primary pages/follow-us-icons.png?1371774277*/ no-repeat -244px -2px;

  width: 16px;

  height: 16px;

  margin: -1px 8px -1px 0;

  vertical-align: top;

}

.adp-2013 .prev-next-nav {

  margin-right: 30px;

  float: right;

}

.adp-2013 .prev-next-nav .prev-item,

.adp-2013 .prev-next-nav .next-item {

  background: url('../../images/primary pages/message_ticker/message-nav-arrows.png-1371770513.png')/*tpa=http://www.adp.com/images/primary pages/message_ticker/message-nav-arrows.png?1371770513*/ no-repeat 0 0;

  float: left;

  width: 23px;

  height: 23px;

  margin: 0 1px;

}

.adp-2013 .prev-next-nav .next-item {

  background-position: -24px 0;

}

.adp-2013 .prev-next-nav .prev-item {

  background-position: 0 -23px;

}

.adp-2013 .prev-next-nav.at-start .prev-item {

  background-position: 0 0;

}

.adp-2013 .prev-next-nav.at-end .next-item {

  background-position: -24px -23px;

}

.adp-2013 .follow-us {

  margin-top: 30px;

}

.adp-2013 .follow-us p {

  font-size: 11px;

  margin-bottom: 5px;

}

.adp-2013 .follow-us .follow-link {

  background: url('../../images/primary pages/follow-us-icons.png-1371774277.png')/*tpa=http://www.adp.com/images/primary pages/follow-us-icons.png?1371774277*/ no-repeat 0 0;

  width: 16px;

  height: 16px;

  float: left;

  margin: 2px 6px 0 0;

}

.adp-2013 .follow-us .follow-link.twitter {

  background-position: 0 -2px;

}

.adp-2013 .follow-us .follow-link.linkedin {

  background-position: -23px -2px;

}

.adp-2013 .follow-us .follow-link.google-plus {

  background-position: -46px -2px;

}

.adp-2013 .follow-us .follow-link.unknown {

  background-position: -69px -2px;

}

.adp-2013 .follow-us .follow-link.youtube {

  background-position: -91px -2px;

}

.adp-2013 .follow-us .follow-link.linkedin-discussion {

  background-position: -116px 0;

  height: 21px;

  width: 121px;

  margin: 0 0 0 3px;

}

.adp-2013 .worldwide-services-link {

  display: -moz-inline-stack;

  display: inline-block;

  vertical-align: middle;

  *vertical-align: auto;

  zoom: 1;

  *display: inline;

  background: url('../../images/primary pages/nav-world-shape.png-1372023948.png')/*tpa=http://www.adp.com/images/primary pages/nav-world-shape.png?1372023948*/ no-repeat;

  font-size: 12px;

  line-height: 21px;

  padding-left: 52px;

}

.adp-2013 a.outbound-link {

  display: -moz-inline-stack;

  display: inline-block;

  vertical-align: middle;

  *vertical-align: auto;

  zoom: 1;

  *display: inline;

  background: url('../../images/primary pages/outbound-link-icon.png-1371850679.png')/*tpa=http://www.adp.com/images/primary pages/outbound-link-icon.png?1371850679*/ no-repeat right center;

  padding-right: 16px;

  vertical-align: bottom;

}



.adp-2013 .adp-page-header {

  width: 100%;

}

.adp-2013 .adp-page-header .pre-header {

  /*background: url('/images/primary pages/pre-header-bg.png?1372189711') repeat-x 0 0 #444446;

  background: linear-gradient(#646464, #444446) #454545;*/

  position: relative;

  z-index: 5000;

}

.adp-2013 .adp-page-header .pre-header-content {

  max-width: 1030px;

  margin: 0 auto;

  padding: 0 0;

}

.adp-2013 .adp-page-header .pre-header-nav {

  float: right;

  margin-right: 22px;

}

.adp-2013 .adp-page-header .pre-header-nav li {

  line-height: 26px;

}

.adp-2013 .adp-page-header .pre-header-nav li.nav-link-li:hover, .adp-2013 .adp-page-header .pre-header-nav li.nav-link-li.active {

  background: linear-gradient(#838383, #626262) #757575;

  text-decoration: none;

}

.adp-2013 .adp-page-header .pre-header-nav-link {

  display: block;

  color: white;

  font-size: 11px;

  padding: 0 10px;

  line-height: 12px;

  border-right: 1px solid #1a1a1a;

  margin: 6px 0 8px;

  vertical-align: top;

}

.adp-2013 .adp-page-header .pre-header-nav-link * {

  color: white;

}

.adp-2013 .adp-page-header .region-selector {

  position: relative;

}

.adp-2013 .adp-page-header .region-selector:hover .region-options 

{

  opacity: 1;

  height: auto;

  border: 1px solid #cccccc;

  border-top: none;

}

.adp-2013 .adp-page-header .region-options {

  -webkit-transition: opacity 0.3s linear;

  -moz-transition: opacity 0.3s linear;

  -o-transition: opacity 0.3s linear;

  transition: opacity 0.3s linear;

  opacity: 0;

  background: white;

  position: absolute;

  top: 100%;

  left: 0;

  height: 0;

  overflow: hidden;

}

.adp-2013 .adp-page-header .region-options li {

  padding: 0;

  display: block;

  float: none;

}

.adp-2013 .adp-page-header .region-link {

  padding: 5px 10px;

  font-size: 11px;

  line-height: 15px;

  display: block;

  width: 126px;

}

.adp-2013 .adp-page-header .region-link:hover {

  background: #ebebeb;

  text-decoration: none;

}

.adp-2013 .adp-page-header .region-link .flag {

  display: -moz-inline-stack;

  display: inline-block;

  vertical-align: middle;

  *vertical-align: auto;

  zoom: 1;

  *display: inline;

  background: url('../../images/primary pages/region-flags2.png-1372416413.png')/*tpa=http://www.adp.com/images/primary pages/region-flags2.png?1372416413*/ no-repeat 0 0;

  height: 12px;

  width: 15px;

  margin: 1px 4px 0 0;

  vertical-align: top;

}

.adp-2013 .adp-page-header .region-link[data-region="australia"] .flag {

  background-position: 0 0;

}

.adp-2013 .adp-page-header .region-link[data-region="brazil"] .flag {

  background-position: 0 -13px;

}

.adp-2013 .adp-page-header .region-link[data-region="canada-english"] .flag {

  background-position: 0 -26px;

}

.adp-2013 .adp-page-header .region-link[data-region="canada-french"] .flag {

  background-position: 0 -26px;

}

.adp-2013 .adp-page-header .region-link[data-region="china"] .flag {

  background-position: 0 -39px;

}

.adp-2013 .adp-page-header .region-link[data-region="france"] .flag {

  background-position: 0 -52px;

}

.adp-2013 .adp-page-header .region-link[data-region="germany"] .flag {

  background-position: 0 -65px;

}

.adp-2013 .adp-page-header .region-link[data-region="india"] .flag {

  background-position: 0 -78px;

}

.adp-2013 .adp-page-header .region-link[data-region="italy"] .flag {

  background-position: 0 -91px;

}

.adp-2013 .adp-page-header .region-link[data-region="netherlands"] .flag {

  background-position: 0 -104px;

}

.adp-2013 .adp-page-header .region-link[data-region="poland"] .flag {

  background-position: 0 -117px;

}

.adp-2013 .adp-page-header .region-link[data-region="spain"] .flag {

  background-position: 0 -130px;

}

.adp-2013 .adp-page-header .region-link[data-region="switzerland"] .flag {

  background-position: 0 -143px;

}

.adp-2013 .adp-page-header .region-link[data-region="united-kingdom"] .flag {

  background-position: 0 -156px;

}

.adp-2013 .adp-page-header .region-link[data-region="united-states"] .flag {

  background-position: 0 -169px;

}

.adp-2013 .adp-page-header .region-link[data-region="argentina"] .flag {

  background-position: 0 -182px;

}
.adp-2013 .adp-page-header .region-link[data-region="chile"] .flag {

  background-position: 0 -195px;

}
.adp-2013 .adp-page-header .region-link[data-region="peru"] .flag {

  background-position: 0 -208px;

}

.adp-2013 .adp-page-header .region-link.current-selection {

  color: #4d4d4d;

  font-weight: bold;

}

.adp-2013 .adp-page-header .foot-note {

  font-size: 11px;

  line-height: 11px;

  color: #4d4d4d;

  padding: 10px;

}

.adp-2013 .adp-page-header .region-flag {

  display: -moz-inline-stack;

  display: inline-block;

  vertical-align: middle;

  *vertical-align: auto;

  zoom: 1;

  *display: inline;

  margin: -1px 2px 0 0;

}

.adp-2013 .adp-page-header .user-login {

  -webkit-transition: all 0.1s linear;

  -moz-transition: all 0.1s linear;

  -o-transition: all 0.1s linear;

  transition: all 0.1s linear;

  -webkit-border-radius: 3px;

  -moz-border-radius: 3px;

  -ms-border-radius: 3px;

  -o-border-radius: 3px;

  border-radius: 3px;

  display: -moz-inline-stack;

  display: inline-block;

  vertical-align: middle;

  *vertical-align: auto;

  zoom: 1;

  *display: inline;

  background: #cb1d2b;

  border: 1px solid #cb1d2b;

  margin-left: 25px;

  vertical-align: top;

  margin-top: 3px;

}

.adp-2013 .adp-page-header .user-login-inner {

  -webkit-border-radius: 2px;

  -moz-border-radius: 2px;

  -ms-border-radius: 2px;

  -o-border-radius: 2px;

  border-radius: 2px;

  background: linear-gradient(#e14a5f 0%, #d93c4f 50%, #ca1c2a 51%, #b40f17 100%);

  display: block;

  color: white;

  font-size: 11px;

  line-height: 15px;

  padding: 0 8px;

  border-top: 1px solid #eb8a98;

}

.adp-2013 .adp-page-header .user-login:hover {

  text-decoration: none;

}

.adp-2013 .adp-page-header .user-login:hover .user-login-inner {

  background: linear-gradient(#e14a5f 0%, #e66272 50%, #e42241 51%, #b40f17 100%);

}

.adp-2013 .adp-page-header .main-header {

  max-width: 1030px;

  margin: 0 auto;

  padding: 0 0;

  margin-top: 13px;

  background: url('../../images/primary pages/bottom-border-shadow.png-1371729545.png')/*tpa=http://www.adp.com/images/primary pages/bottom-border-shadow.png?1371729545*/ no-repeat center bottom;

  padding-bottom: 26px;

  position: relative;

  z-index: 1000;

  width: 1030px;

}

.adp-2013 .adp-page-header .main-header .home-link {

  float: left;

  margin-left: 30px;

}

.adp-2013 .adp-page-header .main-header .home-link .header-logo {

  margin-top: 6px;

  width: 87px;

  height: 40px;

}

.adp-2013 .adp-page-header .main-header .header-rows {

  float: right;

  margin-right: 25px;

}

.adp-2013 .adp-page-header .main-header .top-row,

.adp-2013 .adp-page-header .main-header .bottom-row {

  text-align: right;

  height: 30px;

}

.adp-2013 .adp-page-header .follow-links {

  overflow: hidden;

  float: right;

}

.adp-2013 .adp-page-header .follow-links li {

  line-height: 16px;

  float: left;

}

.adp-2013 .adp-page-header .follow-label {

  font-size: 11px;

  color: #999999;

  line-height: 16px;

}

.adp-2013 .adp-page-header .follow-link {

  background: url('../../images/primary pages/follow-icons.png-1372412739.png')/*tpa=http://www.adp.com/images/primary pages/follow-icons.png?1372412739*/ no-repeat;

  display: block;

  height: 16px;

  width: 16px;

  margin-left: 6px;

}

.adp-2013 .adp-page-header .follow-link[data-follow-target="youtube"] {

  background-position: 0 0;

}

.adp-2013 .adp-page-header .follow-link[data-follow-target="twitter"] {

  background-position: -22px 0;

}

.adp-2013 .adp-page-header .follow-link[data-follow-target="linkedin"] {

  background-position: -44px 0;

}

.adp-2013 .adp-page-header .follow-link[data-follow-target="google-plus"] {

  background-position: -66px 0;

}

.adp-2013 .adp-page-header .follow-link[data-follow-target="rss"] {

  background-position: -88px 0;

}

.adp-2013 .adp-page-header .follow-link[data-follow-target="blog"] {

  background-position: -110px 0;

  width: 24px;

}

.adp-2013 .adp-page-header .header-nav {

  overflow: hidden;

  margin-top: -5px;

}

.adp-2013 .adp-page-header .header-nav li {

  padding: 0 0 0 2px;

  line-height: 22px;

}

.adp-2013 .adp-page-header .header-nav-link {

  -webkit-transition: all 0.1s linear;

  -moz-transition: all 0.1s linear;

  -o-transition: all 0.1s linear;

  transition: all 0.1s linear;

  display: block;

  font-size: 14px;

  line-height: 22px;

  color: #7a7c80;

  padding: 5px 10px 10px;

  font-weight: bold;

}

.adp-2013 .adp-page-header .header-nav-link:hover, .adp-2013 .adp-page-header .header-nav-link.active {

  text-decoration: none;

}

.adp-2013 .adp-page-header .dropdown-caret {

  -webkit-transition: background-position 0.1s linear;

  -moz-transition: background-position 0.1s linear;

  -o-transition: background-position 0.1s linear;

  transition: background-position 0.1s linear;

  display: -moz-inline-stack;

  display: inline-block;

  vertical-align: middle;

  *vertical-align: auto;

  zoom: 1;

  *display: inline;

  background: url('../../images/primary pages/icon-sprite.png-1372250578.png')/*tpa=http://www.adp.com/images/primary pages/icon-sprite.png?1372250578*/ no-repeat 0 -8px;

  height: 6px;

  width: 11px;

  margin: -3px 0 0 6px;

}

.adp-2013 .adp-page-header .header-nav-link:hover,

.adp-2013 .adp-page-header .header-nav-link.active {

  color: #cb1d2b;

}

.adp-2013 .adp-page-header .header-nav-link.active .dropdown-caret {

  background-position: 0 -15px;

}

.adp-2013 .adp-page-header .our-solutions-li:hover .header-nav-link {

  -webkit-border-radius: 4px 4px 0 0;

  -moz-border-radius: 4px 4px 0 0;

  -ms-border-radius: 4px 4px 0 0;

  -o-border-radius: 4px 4px 0 0;

  border-radius: 4px 4px 0 0;

  behavior: url('../../js/primary pages/vendor/PIE.htc')/*tpa=http://www.adp.com/js/primary pages/vendor/PIE.htc*/;

  background: #dc1e32;

  color: white;

  position: relative;

  z-index: 100;

}

.adp-2013 .adp-page-header .our-solutions-li:hover .header-nav-link .dropdown-caret {

  background-position: 0 0;

}

.adp-2013 .adp-page-header .our-solutions-li:hover .our-solutions-dropdown {

  height: 496px;

}

.adp-2013 .adp-page-header .our-solutions-li:hover .by-business-type-column,

.adp-2013 .adp-page-header .our-solutions-li:hover .by-services-products-column,

.adp-2013 .adp-page-header .our-solutions-li:hover .other-services-column {

  opacity: 1;

  left: 0px;

}

.adp-2013 .adp-page-header .our-solutions-dropdown {

  -webkit-transition: height 0.3s ease-out;

  -webkit-transition-delay: 0.2s;

  -moz-transition: height 0.3s ease-out 0.2s;

  -o-transition: height 0.3s ease-out 0.2s;

  transition: height 0.3s ease-out 0.2s;

  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);

  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);

  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);

  position: absolute;

  left: 30px;

  right: 30px;

  top: 62px;

  background: white;

  text-align: left;

  height: 0;

  overflow: hidden;

}

.adp-2013 .adp-page-header .our-solutions-dropdown .dropdown-content {
    width: 0;
}
.adp-2013 .adp-page-header li:hover .our-solutions-dropdown .dropdown-content {
    width: auto;
}


.adp-2013 .adp-page-header .our-solutions-dropdown .dropdown-content {

  border-top: 5px solid #dc1e32;

  padding: 40px 0;

}

.adp-2013 .adp-page-header .our-solutions-dropdown .by-business-type-column,

.adp-2013 .adp-page-header .our-solutions-dropdown .by-services-products-column,

.adp-2013 .adp-page-header .our-solutions-dropdown .other-services-column {

  opacity: 0;

  position: relative;

  float: left;

  left: 50px;

}

.adp-2013 .adp-page-header .our-solutions-dropdown .column-title {

  font-family: amasis_mt_stdlight;

  font-size: 24px;

  line-height: 24px;

  margin-bottom: 20px;

}

.adp-2013 .adp-page-header .our-solutions-dropdown .links-title {

  font-size: 12px;

  margin-bottom: 5px;

}

.adp-2013 .adp-page-header .our-solutions-dropdown .by-business-type-column {

  -webkit-transition: all 0.3s ease-out;

  -webkit-transition-delay: 0.2s;

  -moz-transition: all 0.3s ease-out 0.2s;

  -o-transition: all 0.3s ease-out 0.2s;

  transition: all 0.3s ease-out 0.2s;

  margin-left: 40px;

  width: 204px;

}

.adp-2013 .adp-page-header .our-solutions-dropdown .business-type-link {

  background: url('../../images/primary pages/business-type-icons.png-1372172507.png')/*tpa=http://www.adp.com/images/primary pages/business-type-icons.png?1372172507*/ no-repeat;

  display: block;

  padding: 8px 0 8px 55px;

  margin: 28px 0 0;

  font-size: 12px;

  line-height: 14px;

}

.adp-2013 .adp-page-header .our-solutions-dropdown .business-type-link:hover {

  text-decoration: none;

}

.adp-2013 .adp-page-header .our-solutions-dropdown .business-type-link:hover .business-type-label {

  text-decoration: underline;

}

.adp-2013 .adp-page-header .our-solutions-dropdown .business-type-link .business-type-label {

  display: block;

  font-weight: bold;

}

.adp-2013 .adp-page-header .our-solutions-dropdown .business-type-link .business-type-size {

  color: #6d6e70;

}

.adp-2013 .adp-page-header .our-solutions-dropdown .business-type-link.small-business {

  background-position: 0 0;

}

.adp-2013 .adp-page-header .our-solutions-dropdown .business-type-link.midsized-business {

  background-position: 0 -44px;

}

.adp-2013 .adp-page-header .our-solutions-dropdown .business-type-link.large-business {

  background-position: 0 -88px;

}

.adp-2013 .adp-page-header .our-solutions-dropdown .business-type-link.multinational-business {

  background-position: 0 -134px;

}

.adp-2013 .adp-page-header .our-solutions-dropdown .by-services-products-column {

  -webkit-transition: all 0.3s ease-out;

  -webkit-transition-delay: 0.3s;

  -moz-transition: all 0.3s ease-out 0.3s;

  -o-transition: all 0.3s ease-out 0.3s;

  transition: all 0.3s ease-out 0.3s;

  background: url('../../images/primary pages/dropdown-column-divider.png-1372174032.png')/*tpa=http://www.adp.com/images/primary pages/dropdown-column-divider.png?1372174032*/ no-repeat right center;

  margin-left: 40px;

  width: 410px;

}

.adp-2013 .adp-page-header .our-solutions-dropdown .by-services-products-column .left-column,

.adp-2013 .adp-page-header .our-solutions-dropdown .by-services-products-column .right-column {

  float: left;

  width: 168px;

}

.adp-2013 .adp-page-header .our-solutions-dropdown .by-services-products-column .left-column a,

.adp-2013 .adp-page-header .our-solutions-dropdown .by-services-products-column .right-column a, 

.adp-2013 .adp-page-header .our-solutions-li .our-solutions-dropdown.flyout a {

  display: block;

  font-size: 12px;

  line-height: 18px;

  margin-bottom: 5px;

}

.adp-2013 .adp-page-header .our-solutions-dropdown .by-services-products-column .left-column .link-divider,

.adp-2013 .adp-page-header .our-solutions-dropdown .by-services-products-column .right-column .link-divider {

  margin-left: -2px;

}

.adp-2013 .adp-page-header .our-solutions-dropdown .by-services-products-column .right-column {

  margin-left: 64px;

}

.adp-2013 .adp-page-header .our-solutions-dropdown .other-services-column {

  -webkit-transition: all 0.3s ease-out;

  -webkit-transition-delay: 0.4s;

  -moz-transition: all 0.3s ease-out 0.4s;

  -o-transition: all 0.3s ease-out 0.4s;

  transition: all 0.3s ease-out 0.4s;

  padding: 9px 0 0 46px;

}

.adp-2013 .adp-page-header .our-solutions-dropdown .other-services-column p {

  font-size: 12px;

  line-height: 18px;

}

.adp-2013 .adp-page-header .our-solutions-dropdown .other-services-column .links-title {

  margin: 35px 0 0;

}

.adp-2013 .adp-page-header .our-solutions-dropdown .other-services-column .worldwide-services-link {

  display: block;

  margin-top: 30px;

}

.adp-2013 .adp-page-header .our-solutions-dropdown .other-services-column .outbound-link {

  margin: 0;

  background-position: right 2px;

}

.adp-2013 .adp-page-header .site-search {

  height: 22px;

  position: relative;

  margin-left: 18px;

}

.adp-2013 .adp-page-header .site-search .search-input {

  -webkit-border-radius: 12px;

  -moz-border-radius: 12px;

  -ms-border-radius: 12px;

  -o-border-radius: 12px;

  border-radius: 12px;

  background: url('../../images/primary pages/icon-sprite.png-1372250578.png')/*tpa=http://www.adp.com/images/primary pages/icon-sprite.png?1372250578*/ no-repeat -33px 2px;

  max-width: 168px;

  height: 20px;

  border: 1px solid #dadbdc;

  float: left;

  padding-left: 22px;

}

.adp-2013 .adp-page-header .site-search .search-submit {

  -webkit-border-radius: 8px;

  -moz-border-radius: 8px;

  -ms-border-radius: 8px;

  -o-border-radius: 8px;

  border-radius: 8px;

  background: url('../../images/primary pages/icon-sprite.png-1372250578.png')/*tpa=http://www.adp.com/images/primary pages/icon-sprite.png?1372250578*/ no-repeat -12px 0;

  position: absolute;

  top: 3px;

  right: 3px;

  height: 16px;

  width: 16px;

  border: none;

  cursor: pointer;

}

.eq-ie7 .dropdown-caret 

{

    vertical-align: top !important;

    margin-top: 6px !important;

}

.adp-2013 footer {

  /*background: url('/images/primary pages/footer-bg.png?1372189828') repeat-x 0 0 #434345;

  background: linear-gradient(#646466, #434345);*/

  padding: 20px 0 30px;

  margin-top: 40px;

  position: relative;

  z-index: 300;

}

.adp-2013 .footer-content {

  max-width: 970px;

  margin: 0 auto;

  padding: 0 45px;

}

.adp-2013 .site-nav {

  margin-bottom: 25px;

}

.adp-2013 .footer-nav-link {

  display: block;

  color: #bbbdbf;

  margin-right: 30px !important;

  font-size: 11px;

  line-height: 4px;

}

.adp-2013 .footer-nav-link.solution-link {

  margin-right: 42px;

}

.adp-2013 .footer-nav-link b {

  color: white;

  display: block;

  font-size: 12px;

  line-height: 18px;

  margin-bottom: 4px;

}

.adp-2013 .footer-nav-link:hover {

  color: #ff5b66;

  text-decoration: none;

}

.adp-2013 .footer-nav-link:hover * {

  color: #ff5b66;

}

.adp-2013 .footer-logo-legal {

  float: left;

}

.adp-2013 .footer-logo-legal .footer-logo {

  display: -moz-inline-stack;

  display: inline-block;

  vertical-align: middle;

  *vertical-align: auto;

  zoom: 1;

  *display: inline;

  background: url('../../images/primary pages/footer-logo.png-1371758282.png')/*tpa=http://www.adp.com/images/primary pages/footer-logo.png?1371758282*/ no-repeat;

  width: 66px;

  height: 29px;

  vertical-align: text-top;

  margin-right: 15px;

}

.adp-2013 .footer-logo-legal .footer-legal {

  display: -moz-inline-stack;

  display: inline-block;

  vertical-align: middle;

  *vertical-align: auto;

  zoom: 1;

  *display: inline;

  font-size: 11px;

  color: #929497;

  vertical-align: text-top;

  line-height: 11px;

  margin-top: 5px;

}

.adp-2013 .footer-logo-legal .footer-legal a {

  display: -moz-inline-stack;

  display: inline-block;

  vertical-align: middle;

  *vertical-align: auto;

  zoom: 1;

  *display: inline;

  color: #929497;

  margin-left: 15px;

  text-decoration: underline;

  vertical-align: text-bottom;

}

.adp-2013 .footer-logo-legal .footer-legal a:hover {

  color: white;

}

.adp-2013 .footer-contact {

  float: right;

  margin-top: -8px;

}

.adp-2013 .footer-contact .sales-number {

  color: white;

  text-align: right;

  margin: 0 0 18px;

}

.adp-2013 .footer-contact .sales-number b 

{

    color: White;

}

.adp-2013 .footer-contact .follow-links {

  overflow: hidden;

  float: right;

}

.adp-2013 .footer-contact .follow-links li {

  line-height: 16px;

  float: left;

}

.adp-2013 .footer-contact .follow-label {

  font-size: 11px;

  color: #999999;

  line-height: 16px;

}

.adp-2013 .footer-contact .follow-link {

  background: url('../../images/primary pages/follow-icons.png-1372412739.png')/*tpa=http://www.adp.com/images/primary pages/follow-icons.png?1372412739*/ no-repeat;

  display: block;

  height: 16px;

  width: 16px;

  margin-left: 6px;

}

.adp-2013 .footer-contact .follow-link[data-follow-target="youtube"] {

  background-position: 0 0;

}

.adp-2013 .footer-contact .follow-link[data-follow-target="twitter"] {

  background-position: -22px 0;

}

.adp-2013 .footer-contact .follow-link[data-follow-target="linkedin"] {

  background-position: -44px 0;

}

.adp-2013 .footer-contact .follow-link[data-follow-target="google-plus"] {

  background-position: -66px 0;

}

.adp-2013 .footer-contact .follow-link[data-follow-target="rss"] {

  background-position: -88px 0;

}

.adp-2013 .footer-contact .follow-link[data-follow-target="blog"] {

  background-position: -110px 0;

  width: 24px;

}



.adp-2013 .lets-talk-block {

  background: url('../../images/primary pages/lets-talk-bg.png-1372239853.png')/*tpa=http://www.adp.com/images/primary pages/lets-talk-bg.png?1372239853*/ repeat-x 0 bottom;

  background: linear-gradient(#ffffff, #f2f2f2) white;

  margin: 30px 30px 0;

  padding: 35px;

}

.adp-2013 .lets-talk-title {

  font-family: amasis_mt_stdlight;

  font-size: 40px;

  line-height: 48px;

  margin-bottom: 10px;

}

.adp-2013 .lets-talk-blurb {

  width: 415px;

  float: left;

  margin-right: 60px;

}

.adp-2013 .sales-contact,

.adp-2013 .client-service-contact {

  float: left;

  width: 200px;

}


/* header -- login menu - Moved from /css/primary pages/adp-userlogins.css  */
.adp-2013 .adp-page-header .user-login { margin-left: 0; }
.adp-2013 .adp-page-header .logins { position: relative; /* margin-left: 25px; */}
.adp-2013 .adp-page-header .login-options { -webkit-transition: opacity .3s linear; -moz-transition: opacity .3s linear; -o-transition: opacity .3s linear; transition: opacity .3s linear; opacity: 0; background: #FFF; position: absolute; top: 100%; right: 0; height: 0; width: 0; overflow: hidden; -moz-box-shadow: 0px 3px 3px #999999; -webkit-box-shadow: 0px 3px 3px #999999; box-shadow: 0px 3px 3px #999999; padding: 0; }
.adp-2013 .adp-page-header .logins:hover .login-options { opacity: 1; height: auto; width: 225px; border: 1px solid #ccc; border-top: none; padding: 25px 16px 25px 20px; }
.adp-2013 .adp-page-header .login-options li { padding: 0; display: block; float: none; font-size: 14px; line-height: 20px; margin: 0; }
.adp-2013 .adp-page-header .login-link { }
.adp-2013 .adp-page-header .login-link:hover { background: #ebebeb; text-decoration: none; }
.adp-2013 .adp-page-header .login-options li.login-separator { height: 15px; }
.adp-2013 .adp-page-header .login-options li.login-separator hr { height: 1px; border: none; border-top: 1px dashed #999999; margin: 14px 0 0 0; clear: both; }



.adp-2013 .adp-page-header .our-solutions-li.hasMenu:hover .our-solutions-dropdown {
  height: auto;
  left: auto;
  margin-left: -16px;
  right: auto;
}

.adp-2013 .adp-page-header .our-solutions-li:hover .our-solutions-dropdown.flyout .dropdown-content {
  max-width: 260px;
  min-width: 230px;
  width: auto;
}

.adp-2013 .adp-page-header .our-solutions-li .our-solutions-dropdown.flyout .dropdown-content > div
{
    position:relative;
    left:60px;    
    opacity:0;
}
.adp-2013 .adp-page-header .our-solutions-li:hover .our-solutions-dropdown.flyout .dropdown-content > div
{
    left:0px;    
    opacity:1;
    transition:all 0.3s ease-out 0.3s;
}
.adp-2013 .our-solutions-li .our-solutions-dropdown.flyout .group {
  padding: 20px 30px;
}

.adp-2013 .adp-page-header .connect-block.follow-links li a, .adp-2013 .footer-contact .connect-block.follow-links li a { font: bold 11px/11px Arial,sans-serif; color: #7a7c80; display: inline-block; border: 1px solid #c5c6c7; border-radius: 3px; padding: 3px 8px 5px 8px; background: #f1f1f1;  background: -moz-linear-gradient(top,  #f1f1f1 0%, #e8e8e8 50%, #dedede 51%, #d7d7d7 100%);  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(50%,#e8e8e8), color-stop(51%,#dedede), color-stop(100%,#d7d7d7));  background: -webkit-linear-gradient(top,  #f1f1f1 0%,#e8e8e8 50%,#dedede 51%,#d7d7d7 100%);  background: -o-linear-gradient(top,  #f1f1f1 0%,#e8e8e8 50%,#dedede 51%,#d7d7d7 100%);  background: -ms-linear-gradient(top,  #f1f1f1 0%,#e8e8e8 50%,#dedede 51%,#d7d7d7 100%);  background: linear-gradient(to bottom,  #f1f1f1 0%,#e8e8e8 50%,#dedede 51%,#d7d7d7 100%); -pie-background: linear-gradient(top, #f1f1f1 0%,#d7d7d7 100%); }
.adp-2013 .adp-page-header .main-header .top-row.connect-logins { position: relative; margin-right:5px; }
.adp-2013 .adp-page-header .main-header .top-row { height: 35px; margin-top: -5px; }
.adp-2013 .adp-page-header .connect-block.follow-links { position: absolute; top: 0; right: 100px; }
.adp-2013 .footer-contact .connect-block.follow-links { margin-right: 10px; }
.adp-2013 .adp-page-header .connect-block.follow-links li a, .adp-2013 .footer-contact .connect-block.follow-links li a { font: bold 11px/11px Arial,sans-serif; color: #7a7c80; display: inline-block; border: 1px solid #c5c6c7; border-radius: 3px; padding: 3px 8px 5px 8px; background: #f1f1f1;  background: -moz-linear-gradient(top,  #f1f1f1 0%, #e8e8e8 50%, #dedede 51%, #d7d7d7 100%);  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(50%,#e8e8e8), color-stop(51%,#dedede), color-stop(100%,#d7d7d7));  background: -webkit-linear-gradient(top,  #f1f1f1 0%,#e8e8e8 50%,#dedede 51%,#d7d7d7 100%);  background: -o-linear-gradient(top,  #f1f1f1 0%,#e8e8e8 50%,#dedede 51%,#d7d7d7 100%);  background: -ms-linear-gradient(top,  #f1f1f1 0%,#e8e8e8 50%,#dedede 51%,#d7d7d7 100%);  background: linear-gradient(to bottom,  #f1f1f1 0%,#e8e8e8 50%,#dedede 51%,#d7d7d7 100%); -pie-background: linear-gradient(top, #f1f1f1 0%,#d7d7d7 100%); }
.adp-2013 .adp-page-header .connect-block.follow-links li a:hover, .adp-2013 .footer-contact .connect-block.follow-links li a:hover { text-decoration: none; background: #fefefe;  background: -moz-linear-gradient(top,  #fefefe 0%, #f5f5f5 50%, #ebebeb 51%, #e4e4e4 100%);  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(50%,#f5f5f5), color-stop(51%,#ebebeb), color-stop(100%,#e4e4e4));  background: -webkit-linear-gradient(top,  #fefefe 0%,#f5f5f5 50%,#ebebeb 51%,#e4e4e4 100%);  background: -o-linear-gradient(top,  #fefefe 0%,#f5f5f5 50%,#ebebeb 51%,#e4e4e4 100%);  background: -ms-linear-gradient(top,  #fefefe 0%,#f5f5f5 50%,#ebebeb 51%,#e4e4e4 100%); background: linear-gradient(to bottom,  #fefefe 0%,#f5f5f5 50%,#ebebeb 51%,#e4e4e4 100%);  -pie-background: linear-gradient(top, #fefefe 0%,#e4e4e4 100%); }

.adp-2013 .adp-page-header .connect-block.follow-links li a img, .adp-2013 .footer-contact .connect-block.follow-links li a img { margin: 0 0 -4px 6px; }

.adp-2013 .adp-page-header .login-block.follow-links { position: absolute; top: 0; right: 0; }
.adp-2013 .adp-page-header .our-solutions-dropdown { top: 62px; }
.adp-2013 .adp-page-header .header-nav {  }
.adp-2013 .adp-page-header .header-nav-link { padding: 5px 13px 10px 13px; }
.adp-2013 .adp-page-header .site-search { margin-left: 20px; margin-top: 3px; } /*Changed margin-left from 35px to 20px to fix search box being offset*/
.adp-2013 .adp-page-header .site-search .search-input { width: 150px; }

.adp-2013 .footer-logo-legal .footer-legal { margin-top: -2px; }
.adp-2013 .footer-logo-legal .footer-legal a.legal-nav { margin: 0 18px 0 0; color: #fff; text-decoration: none; }
.adp-2013 .footer-logo-legal .footer-legal a.legal-nav:hover { text-decoration: underline; }

.adp-2013 .btn-red { z-index: 1; font-size: 12px; font-weight: bold; display: inline-block; *display: inline; padding: 7px 12px; margin-bottom: 0; margin-right: 8px; line-height: 14px; color: #fff; text-align: center; vertical-align: middle; cursor: pointer; border: 1px solid #cb1d2d; border-radius: 3px; -moz-box-shadow: 0px 0px 3px #cccccc; background: #e14b60; /* Old browsers */ background: -moz-linear-gradient(top,  #e14b60 0%, #d93b4e 50%, #ca1c2a 51%, #b30e16 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e14b60), color-stop(50%,#d93b4e), color-stop(51%,#ca1c2a), color-stop(100%,#b30e16)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  #e14b60 0%,#d93b4e 50%,#ca1c2a 51%,#b30e16 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  #e14b60 0%,#d93b4e 50%,#ca1c2a 51%,#b30e16 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  #e14b60 0%,#d93b4e 50%,#ca1c2a 51%,#b30e16 100%); /* IE10+ */ background: linear-gradient(to bottom,  #e14b60 0%,#d93b4e 50%,#ca1c2a 51%,#b30e16 100%); /* W3C */ -pie-background: linear-gradient(top, #e14b60 0%,#b30e16 100%); }
.adp-2013 .btn-red:hover { text-decoration: none; background: #f12652; /* Old browsers */ background: -moz-linear-gradient(top,  #f12652 0%, #ee1d40 50%, #e40a1c 51%, #d7040d 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f12652), color-stop(50%,#ee1d40), color-stop(51%,#e40a1c), color-stop(100%,#d7040d)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  #f12652 0%,#ee1d40 50%,#e40a1c 51%,#d7040d 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  #f12652 0%,#ee1d40 50%,#e40a1c 51%,#d7040d 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  #f12652 0%,#ee1d40 50%,#e40a1c 51%,#d7040d 100%); /* IE10+ */ background: linear-gradient(to bottom,  #f12652 0%,#ee1d40 50%,#e40a1c 51%,#d7040d 100%); /* W3C */ -pie-background: linear-gradient(top,#f12652 0%,#d7040d 100%); }

.adp-2013 .footer-contact .sales-number { margin-bottom: 6px; }
.header-rows .btn-red, .footer-contact .btn-red { margin-right: 0; padding: 4px 10px; font-size: 11px; }

.adp-2013 .pre-header-nav.website-selector { float: left; margin-left: 22px; }
.adp-2013 .adp-page-header .website-selector li { line-height: 26px; }
.adp-2013 .pre-header-nav.website-selector li.websites-label { font-size:11px; color: #fff; margin-left:10px; }
.adp-2013 .adp-page-header .website-selector li.nav-link-li:hover, .adp-2013 .adp-page-header .pre-header-nav li.nav-link-li:hover, .adp-2013 .adp-page-header .pre-header-nav li.nav-link-li.active { background: linear-gradient(#838383, #626262) #757575; background: -webkit-linear-gradient(top, #838383 0%,#626262 100%); text-decoration: none; height: 25px; }
.adp-2013 .adp-page-header .website-selector .pre-header-nav-link { display: block; color: white; font-size: 11px; padding: 0 10px; line-height: 12px; border-right: none; margin: 6px 0 8px; vertical-align: top; }
.adp-2013 .adp-page-header .website-selector .pre-header-nav-link * { color: white; }
.adp-2013 .adp-page-header .pre-header-nav-link.last { border-right: none; }
