#bodydiv 
{
    background-position: 0 99% !important;
}

#bodydiv {
    background: url("../../images/primary pages/footer-bg.png")/*tpa=http://www.adp.com/images/primary pages/footer-bg.png*/ repeat-x scroll center bottom rgba(0, 0, 0, 0);
}

.adp-2013 .site-nav {
  margin-bottom: 10px;
}

.adp-2013 a.footer-nav-link
{
    padding-bottom: 5px;
}

.adp-2013 .adp-page-header .our-solutions-dropdown
{
    padding-left: 40px;
}

.adp-2013 .hero-message-title {
  font-family: amasis_mt_stdlight;
  font-size: 30px;
  line-height: 34px;
  color: white;
  font-weight: normal;
}
.adp-2013 .hero-message-link {
  font-size: 14px;
  color: white;
  display: block;
  margin-top: 15px;
  font-weight: normal;
}

.adp-2013 .hero-message-link b
{
    color: White;
}
.adp-2013 .hero-nav .hero-nav-link {
  background: url('../../images/primary pages/home/home-nav-gradient-grey-bg-chevron.png-1372243638.png')/*tpa=http://www.adp.com/images/primary pages/home/home-nav-gradient-grey-bg-chevron.png?1372243638*/ no-repeat left center #3d3f41;
  /*background: linear-gradient(#3d3f41, #333537) white;*/
  display: block;
  padding: 19px 45px 18px 35px;
  border-bottom: 1px solid #4d4c4e;
  height: auto;
}

.adp-2013 .left-column-links .extra-top-margin, .nav-content-footer, .adp-2013 .nav-content-slogan
{
    background: white;
}