.adp-2013 .adp-page-header .main-header {
  padding-bottom: 8px;
  background: none;
}
.adp-2013 .page-content {
  max-width: 970px;
}
.adp-2013 .page-content .hero-content {
  width: 970px;
  min-height: 400px;
  height: 400px;
  margin: 0;
  overflow: hidden;
}
.adp-2013 .hero-messages {
  background: #dc1e32;
  background: rgba(220, 30, 50, 0.85);
  position: absolute;
  bottom: 20px;
  left: -420px;
  width: 360px;
  padding: 30px 30px 60px;
  overflow: hidden;
  z-index: 600;
}
.adp-2013 .hero-message {
  position: absolute;
  width: 360px;
  top: 30px;
  left: 30px;
}
.adp-2013 .hero-message.selected {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.adp-2013 .hero-message-title {
  font-family: amasis_mt_stdlight;
  font-size: 30px;
  line-height: 34px;
  color: white;
  font-weight: normal;
}
.adp-2013 .hero-message-subtitle {
  font-family: amasis_mt_stdlight;
  font-size: 18px;
  line-height: 26px;
  color: white;
}
.adp-2013 .hero-message-link {
  font-size: 14px;
  color: white;
  display: block;
  margin-top: 15px;
  font-weight: normal;
}
.adp-2013 .hero-message-pagination {
  margin-left: -5px;
  position: absolute;
  bottom: 20px;
}
.adp-2013 .hero-page-link {
  float: left;
  height: 14px;
  width: 14px;
  margin: 2px 4px;
}
.adp-2013 .hero-page-link .page-dot {
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  display: block;
  border: 2px solid white;
  height: 2px;
  width: 2px;
  margin: 4px;
  background: white;
}
.adp-2013 .hero-page-link:hover .page-dot, .adp-2013 .hero-page-link.active .page-dot {
  width: 10px;
  height: 10px;
  margin: 0;
  background: #4d4f53;
}
.adp-2013 .hero-nav {
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 600;
}
.adp-2013 .hero-nav li {
  display: block;
  float: none;
}
.adp-2013 .hero-nav .hero-nav-link {
  background: url('../../images/primary pages/home/home-nav-gradient-grey-bg-chevron.png-1372243638.png')/*tpa=http://www.adp.com/images/primary pages/home/home-nav-gradient-grey-bg-chevron.png?1372243638*/ no-repeat left bottom #3d3f41;
  /*background: linear-gradient(#3d3f41, #333537) white;*/
  display: block;
  padding: 19px 45px 18px 35px;
  border-bottom: 1px solid #4d4c4e;
  height: 34px;
}
/*
.adp-2013 .hero-nav .hero-nav-link {
  background: url('/images/primary pages/home/home-nav-gradient-grey-bg-chevron.png?1372243638') no-repeat 0 bottom #3d3f41;
  background: linear-gradient(#3d3f41, #333537) white;
  display: block;
  padding: 19px 45px 18px 35px;
  border-bottom: 1px solid #4d4c4e;
  height: 34px;
}
*/
.adp-2013 .hero-nav .hero-nav-link:hover {
  text-decoration: none;
}
.adp-2013 .hero-nav .hero-nav-link.vehicle-dealers {
  border-bottom: 0;
}
.adp-2013 .hero-nav .hero-nav-link.vehicle-dealers .category-title {
  line-height: 34px;
}

.adp-2013 .hero-nav .hero-nav-link .chevron {
  position: absolute;
  width: 6px;
  height: 12px;
  background: url('../../images/primary pages/home/hero-nav-chevron.png-1372023948.png')/*tpa=http://www.adp.com/images/primary pages/home/hero-nav-chevron.png?1372023948*/ no-repeat top;
  top: 50%;
  margin: -6px 0 0 15px;
  left: 0;

}

/*
.adp-2013 .hero-nav li .hero-nav-link .chevron {
  position: absolute;
  width: 6px;
  height: 12px;
  background: url('/images/primary pages/home/hero-nav-chevron.png?1372023948');
  top: 50%;
  margin: -6px 0 0 15px;
  left: 0;
}
*/
.adp-2013 .hero-nav li.open .hero-nav-link {
  background: url('../../images/primary pages/home/hero-nav-chevron-active.png-1372023948.png')/*tpa=http://www.adp.com/images/primary pages/home/hero-nav-chevron-active.png?1372023948*/ no-repeat 0 center #242729;
}
.adp-2013 .hero-nav li.open .hero-nav-content {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  width: 680px;
  left: -680px;
  z-index: 1000;
}
.adp-2013 .hero-nav li.open .hero-nav-content .hero-nav-content-inner {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  margin: 80px 50px 40px;
}
.adp-2013 .hero-nav li.open .hero-nav-content .hero-nav-content-inner .no-title 
{
    margin-top: 60px;
}
.adp-2013 .hero-nav .category-title,
.adp-2013 .hero-nav .category-size {
  color: white;
  display: block;
}
.adp-2013 .hero-nav .category-title {
  font-family: amasis_mt_stdlight;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 3px;
}
.adp-2013 .hero-nav .category-size {
  font-size: 12px;
  line-height: 16px;
}
.adp-2013 .hero-nav .hero-nav-content {
  -webkit-transition: all 0.3s ease-out;
  -webkit-transition-delay: 0.1s;
  -moz-transition: all 0.3s ease-out 0.1s;
  -o-transition: all 0.3s ease-out 0.1s;
  transition: all 0.3s ease-out 0.1s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  background: white;
  background: rgba(255, 255, 255, 0.95);
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0;
  left: 0;
  overflow: hidden;
  z-index: 100;
}
.adp-2013 .hero-nav .hero-nav-content .close-nav-content {
  font-size: 12px;
  margin: 0;
  position: absolute;
  right: 20px;
  top: 10px;
}
.adp-2013 .hero-nav .hero-nav-content .hero-nav-content-inner {
  -webkit-transition: all 0.3s ease-out;
  -webkit-transition-delay: 0.35s;
  -moz-transition: all 0.3s ease-out 0.35s;
  -o-transition: all 0.3s ease-out 0.35s;
  transition: all 0.3s ease-out 0.35s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  margin: 80px 50px 40px 200px;
  width: 580px;
}
.adp-2013 .hero-nav .hero-nav-content .hero-nav-content-inner.no-title {
  margin-top: 60px;
}
.adp-2013 .hero-nav .hero-nav-content .hero-nav-content-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 680px;
}
.adp-2013 .hero-nav .hero-nav-content .nav-content-title 
{
  position: absolute;
  top: 0;
  left: 30px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  padding: 18px 20px;
  background: #cb1d2b;
}
.adp-2013 .hero-nav .hero-nav-content .nav-content-slogan {
  font-family: amasis_mt_stdlight;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 13px;
}
.adp-2013 .hero-nav .hero-nav-content .nav-content-blurb {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 5px;
}
.adp-2013 .hero-nav .hero-nav-content .left-column-links,
.adp-2013 .hero-nav .hero-nav-content .right-column-links {
  width: 50%;
  float: left;
}
.adp-2013 .hero-nav .hero-nav-content .left-column-links li,
.adp-2013 .hero-nav .hero-nav-content .right-column-links li {
  line-height: 22px;
}
.adp-2013 .hero-nav .hero-nav-content .left-column-links li.extra-top-margin,
.adp-2013 .hero-nav .hero-nav-content .right-column-links li.extra-top-margin {
  margin-top: 10px;
}
.adp-2013 .hero-nav .hero-nav-content .left-column-links a, .adp-2013 .hero-nav .hero-nav-content .left-column-links b,
.adp-2013 .hero-nav .hero-nav-content .right-column-links a,
.adp-2013 .hero-nav .hero-nav-content .right-column-links b {
  font-size: 12px;
}
.adp-2013 .hero-nav .hero-nav-content .left-column-links .outbound-link,
.adp-2013 .hero-nav .hero-nav-content .right-column-links .outbound-link {
  background-position: right 6px;
}
.adp-2013 .hero-nav .nav-content-footer {
  border-top: 1px dashed #999999;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  left: 50px;
  right: 50px;
  width: 580px;
}
.adp-2013 .hero-nav .worldwide-services-link {
  float: right;
}
.adp-2013 .hero-nav .nav-content-footer-links {
  margin-left: -8px;
  float: left;
}
.adp-2013 .hero-nav .nav-content-footer-links li {
  float: left;
  border-right: 1px solid #cccccc;
}
.adp-2013 .hero-nav .nav-content-footer-links li.last-child {
  border-right: none;
}
.adp-2013 .hero-nav .nav-content-footer-links a {
  font-size: 12px;
  font-weight: bold;
  padding: 0 8px;
}
.adp-2013 .inner-shadow {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4) inset;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4) inset;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4) inset;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 500;
}
.adp-2013 .hero-images {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 400;
}
.adp-2013 .hero-images .hero-image {
  position: absolute;
  left: 100%;
  top: 0;
  z-index: 100;
}
.adp-2013 .message-ticker {
  background: url('../../images/primary pages/message_ticker/message-ticker-bg.png-1372189954.png')/*tpa=http://www.adp.com/images/primary pages/message_ticker/message-ticker-bg.png?1372189954*/ repeat-x 0 bottom white;
  background: linear-gradient(#ffffff, #f2f2f2) white;
  padding: 0;
  margin-top: 30px;
  line-height: 23px;
  height: 64px;
  overflow: hidden;
  position: relative;
}
.adp-2013 .message-ticker .message-ticker-scroller {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  width: 838px;
}
.adp-2013 .message-ticker .message-item {
  opacity: 0;
  padding: 0;
  float: left;
  position: absolute;
  top: 18px;
}
.adp-2013 .message-ticker .message-item.active {
  opacity: 1;
}
.adp-2013 .message-ticker .message-item.active .message-type {
  opacity: 1;
  left: 0;
}
.adp-2013 .message-ticker .message-type {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative;
  background: url('../../images/primary pages/message_ticker/message-type-icons.png-1372023948.png')/*tpa=http://www.adp.com/images/primary pages/message_ticker/message-type-icons.png?1372023948*/ no-repeat;
  font-size: 12px;
  font-weight: bold;
  padding-left: 66px;
  line-height: 30px;
  margin-right: 10px;
  left: 0;
}
.adp-2013 .message-ticker .message-type.Alert {
  background-position: 30px 0;
}
.adp-2013 .message-ticker .message-type.Announcement {
  background-position: 30px -30px;
}
.adp-2013 .message-ticker .message-type.Insight {
  background-position: 30px -60px;
}
.adp-2013 .message-ticker .message-type.News {
  background-position: 30px -90px;
}
.adp-2013 .message-ticker .message-type.Around-the-Web {
  background-position: 30px -120px;
}
.adp-2013 .message-ticker .message-content {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  font-size: 14px;
  line-height: 30px;
}
.adp-2013 .message-ticker .prev-next-nav {
  position: absolute;
  top: 21px;
  right: 0;
}
.adp-2013 .home-feature,
.adp-2013 .home-feature-last {
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  width: 308px;
  border: 1px solid #ededed;
  float: left;
  margin-right: 20px;
  margin-top: 30px;
}
.adp-2013 .home-feature .home-feature-content,
.adp-2013 .home-feature-last .home-feature-content {
  background: #f4f4f4;
  height: 108px;
  border: 5px solid white;
  padding: 15px;
  position: relative;
  width: 268px;
}
.adp-2013 .home-feature .feature-category,
.adp-2013 .home-feature-last .feature-category {
  font-size: 11px;
  color: #959595;
  text-transform: uppercase;
}
.adp-2013 .home-feature .feature-copy,
.adp-2013 .home-feature-last .feature-copy {
  display: block;
  font-family: amasis_mt_stdlight;
  font-size: 18px;
  line-height: 21px;
  margin-top: 20px;
  width: 190px;
}
.adp-2013 .home-feature .feature-icon,
.adp-2013 .home-feature-last .feature-icon {
  /*background: url('/images/primary pages/home/feature-icons.png?1372023948') no-repeat;*/
  position: absolute;
  /*height: 98px;
  width: 98px;*/
  right: 5px;
  top: 35px;
}
.adp-2013 .home-feature .feature-icon.usa,
.adp-2013 .home-feature-last .feature-icon.usa {
  background-position: 0 0;
  width: 87px;
}
.adp-2013 .home-feature .feature-icon.magnifying-glass,
.adp-2013 .home-feature-last .feature-icon.magnifying-glass {
  background-position: -87px 0;
  width: 76px;
}
.adp-2013 .home-feature .feature-icon.notes,
.adp-2013 .home-feature-last .feature-icon.notes {
  background-position: -163px 0;
  width: 108px;
}
.adp-2013 .home-feature-last {
  margin-right: 0;
}
.adp-2013 .lets-talk-block {
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  background: #f4f4f4;
  border: 1px solid #ededed;
  padding: 0;
  margin: 30px 0 0;
}
.adp-2013 .lets-talk-block-content {
  border: 5px solid white;
  padding: 10px 25px;
}
.adp-2013 .lets-talk-title {
  font-family: amasis_mt_stdlight;
  font-size: 40px;
  line-height: 48px;
  float: left;
  width: 208px;
  padding: 15px 0;
}
.adp-2013 .lets-talk-content {
  padding: 15px 0;
  width: 389px;
  margin-right: 30px;
  float: left;
}
.adp-2013 .sales-contact,
.adp-2013 .client-service-contact {
  float: left;
  width: 190px;
  margin-top: 20px;
}
.adp-2013 .lets-talk-quote {
  border-left: 1px dashed #999999;
  float: left;
  width: 250px;
  padding: 15px 0 15px 30px;
}
.adp-2013 .lets-talk-quote-title {
  font-family: amasis_mt_stdlight;
  font-size: 26px;
  line-height: 28px;
  margin-bottom: 10px;
  display: block;
}
.adp-2013 .lets-talk-quote-blurb {
  background: url('../../images/primary pages/home/get-a-quote-product-shot2.png-1372023948.png')/*tpa=http://www.adp.com/images/primary pages/home/get-a-quote-product-shot2.png?1372023948*/ no-repeat 0 0;
  padding: 5px 0 0 130px;
  height: 62px;
  font-size: 12px;
  line-height: 16px;
  width: 140px;
  margin-left: -20px;
}
