@charset "utf-8";
/* CSS Document */

div#headerbin{
	position:relative; 
	width:100%; 
	height:72px; 
	padding:0px; 
	margin:0px; 
	background-image:url(images/black_bkgd2.png)/*tpa=http://www.kiewit.com/themes/kiewit/images/black_bkgd2.png*/;
	background-repeat:repeat !important;*/
}

#navbarbin li ul li { position:relative; padding:0px; margin:0px; list-style:none; float:none; font-family:Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; height:28px !important; line-height:28px !important;	background-image:url(images/black_bkgd2.png)/*tpa=http://www.kiewit.com/themes/kiewit/images/black_bkgd2.png*/; background-repeat:repeat !important;
}



div#footerbinhome {position:fixed; bottom:0px; width:100%; margin:0px; text-align:left; padding:0px; height:42px; 
	background-image:url(images/black_bkgd2.png)/*tpa=http://www.kiewit.com/themes/kiewit/images/black_bkgd2.png*/; background-repeat:repeat !important;}
	
div#footerinteriorlinksbin {position:relative; width:100%; margin:0px; text-align:left; padding:0px; height:42px;
	background-image:url(images/black_bkgd2.png)/*tpa=http://www.kiewit.com/themes/kiewit/images/black_bkgd2.png*/; background-repeat:repeat !important;
}

.projectlanding_infobin .ccm-page-list-title {background-image:url(images/black_bkgd2.png)/*tpa=http://www.kiewit.com/themes/kiewit/images/black_bkgd2.png*/ !important;}

.snavbinheader {background-image:url(images/black_bkgd2.png)/*tpa=http://www.kiewit.com/themes/kiewit/images/black_bkgd2.png*/ !important;}

.igc_locations_company {background-image:url(images/black_bkgd2.png)/*tpa=http://www.kiewit.com/themes/kiewit/images/black_bkgd2.png*/ !important;}
	
	
#homemarketsbuilding {position:relative; margin:0px; padding:0px; background-image:url(images/homemarket_building.jpg)/*tpa=http://www.kiewit.com/themes/kiewit/images/homemarket_building.jpg*/; background-position:center center; width:114px !important; height:115px !important; float:left; 
	-webkit-transition: background-image 0.5s ease-in-out;
	-moz-transition: background-image 0.5s ease-in-out;
	-o-transition: background-image 0.5s ease-in-out;
	-ms-transition: background-image 0.5s ease-in-out; 
	transition: background-image 0.5s ease-in-out;}
#homemarketsmining {position:relative; margin:0px; padding:0px; background-image:url(images/homemarket_mining.jpg)/*tpa=http://www.kiewit.com/themes/kiewit/images/homemarket_mining.jpg*/; background-position:center center; width:114px !important; height:115px !important; float:left; 
	-webkit-transition: background-image 0.5s ease-in-out;
	-moz-transition: background-image 0.5s ease-in-out;
	-o-transition: background-image 0.5s ease-in-out;
	-ms-transition: background-image 0.5s ease-in-out; 
	transition: background-image 0.5s ease-in-out;}
#homemarketsoil {position:relative; margin:0px; padding:0px; background-image:url(images/homemarket_oil.jpg)/*tpa=http://www.kiewit.com/themes/kiewit/images/homemarket_oil.jpg*/; background-position:center center; width:114px !important; height:115px !important; float:left; 
	-webkit-transition: background-image 0.5s ease-in-out;
	-moz-transition: background-image 0.5s ease-in-out;
	-o-transition: background-image 0.5s ease-in-out;
	-ms-transition: background-image 0.5s ease-in-out; 
	transition: background-image 0.5s ease-in-out;}
#homemarketspower {position:relative; margin:0px; padding:0px; background-image:url(images/homemarket_power.jpg)/*tpa=http://www.kiewit.com/themes/kiewit/images/homemarket_power.jpg*/; background-position:center center; width:114px !important; height:115px !important; float:left; 
	-webkit-transition: background-image 0.5s ease-in-out;
	-moz-transition: background-image 0.5s ease-in-out;
	-o-transition: background-image 0.5s ease-in-out;
	-ms-transition: background-image 0.5s ease-in-out; 
	transition: background-image 0.5s ease-in-out;}
#homemarketstransportation {position:relative; margin:0px; padding:0px; background-image:url(images/homemarket_transportation.jpg)/*tpa=http://www.kiewit.com/themes/kiewit/images/homemarket_transportation.jpg*/; background-position:center center; width:114px !important; height:115px !important; float:left; 
	-webkit-transition: background-image 0.5s ease-in-out;
	-moz-transition: background-image 0.5s ease-in-out;
	-o-transition: background-image 0.5s ease-in-out;
	-ms-transition: background-image 0.5s ease-in-out; 
	transition: background-image 0.5s ease-in-out;}
#homemarketswater {position:relative; margin:0px; padding:0px; background-image:url(images/homemarket_water.jpg)/*tpa=http://www.kiewit.com/themes/kiewit/images/homemarket_water.jpg*/;  background-position:center center; width:114px !important; height:115px !important; float:left; 
	-webkit-transition: background-image 0.5s ease-in-out;
	-moz-transition: background-image 0.5s ease-in-out;
	-o-transition: background-image 0.5s ease-in-out;
	-ms-transition: background-image 0.5s ease-in-out; 
	transition: background-image 0.5s ease-in-out;}