#executive-info {
    position: relative;
    min-height: 460px;
    z-index: 1;
}
#executive-info > .prev,
#executive-info > .next{
	position: absolute;
	top: 0px;
	z-index:10;
	width:60px;
	height:460px;
	text-indent:-9999px;
	overflow:hidden;/*
	*/

}
#executive-info > .prev {
  left: -60px;
}
#executive-info > .next{
  right: -60px;
}
#executive-info > .prev span,
#executive-info > .next span{
	background:url(../images/sprite1.png) no-repeat -172px -170px;
	display:block;
	margin:204px 0 0 15px;
	width: 32px;
	height: 55px;
}
#executive-info > .prev span{
	background-position:-115px -170px;
	margin-left:15px;
}
#executive-info > .prev span:hover{background-position:-215px -169px;}
#executive-info > .next span:hover,
#executive-info > .next span.hover{background-position:-266px -169px;}
/* Content */
#executive-info .single-post{width:100%;}
#executive-info .single-post:after {
	clear: both;
	content:"";
	display: block;
}
#main #executive-info .single-post h1{margin:0 0 8px;}
#main #executive-info .single-post header{
	margin-bottom:30px;
	font-size:17px;
	color:#000;
}
#executive-info .post-content{overflow:hidden;}
#executive-info .post-content .holder{padding-bottom:20px;}
#executive-info .single-post footer{
	border-top:1px solid #e6e6e6;
	padding:12px 0 0;
}
#executive-info .single-post .sociable{float:left;}
#executive-info .single-post .sociable.small span{margin-bottom:6px;}
#executive-info .single-post .sociable.alt{
	float:right;
	margin:29px 0 0;
}
#executive-info .single-post .sociable.alt li{margin:0 0 0 10px;}
#executive-info .single-post strong {
  display: block;
  font-weight: bold;
}
/* ---------- Executive Photo Nav ----------- */
.block-photo {
	width:335px;
	float:left;
	text-align:center;
	margin:5px 33px 0 0;
}

.photo-slideshow {position: relative;}
.photo-slideshow .slideset{
	height:495px;
	margin-bottom:20px;
}
.photo-slideshow .slide {
	position: absolute;
	z-index: 1;
	height:479px;
	width:319px;
	top:0;
	left:0;
	background:#fff;
	padding:8px;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.1);
	box-shadow: 0 0 5px rgba(0,0,0,.1);
}
.photo-slideshow .pagination {
	text-align:center;
	margin-bottom:10px;
	overflow:hidden;
}
*+html .photo-slideshow .pagination{margin-bottom:16px;}
.photo-slideshow .pagination li{
	display:inline-block;
	vertical-align:top;
	margin:0 3px;
}

*+html .photo-slideshow .pagination li{
	display:inline;
	margin:0 5px;
}

.photo-slideshow .pagination a{
	display:block;
	background:url(../images/sprite1.png) no-repeat -119px -624px;
	width: 9px;
	height: 10px;
	text-indent:-9999px;
	overflow:hidden;
}

.photo-slideshow .pagination a:hover,
.photo-slideshow .pagination .active a{background-position:-100px -624px;}
.photo-slideshow .prev,
.photo-slideshow .next {
  position: absolute;
	background:url(../images/sprite1.png) no-repeat -172px -170px;
	display:none;
	width: 32px;
	height: 55px;
	margin: 0;
	top: 50%;
	right: 10px;
	z-index: 99;
	text-indent:-9999px;
	overflow:hidden;
}

.photo-slideshow .prev {
  left: 10px;
	background-position:-115px -170px;
}
.photo-slideshow .prev:hover{background-position:-215px -169px;}
.photo-slideshow .next:hover,
.photo-slideshow .next.hover{background-position:-266px -169px;}
/* ---------- Executive Thumbnail Nav Section ----------- */
#executive-navigation {
	position: relative;
	font-size:14px;
	line-height:18px;
	overflow:hidden;
	padding:0 0 11px;
}

#executive-navigation #thumbnail-rows {
	position: relative;
	overflow: hidden;
	width: 1015px !important;
	float: left;
	margin: 0 -3px 0 23px;
	min-height: 100px;
}
#executive-navigation.more-imgs #thumbnail-rows {
  margin-left: 45px;
}
#executive-navigation .thumbnail-row {
  width: 100%;
  float: left;
  height: auto;
  min-height: 100px;
  margin-bottom: 25px;
}

#executive-navigation .thumbnail {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: medium none;
	float: left;
	padding: 0;
	width: 20%;
}

#executive-navigation .thumbnail a {
	color:#4e4e4e;
	display:block;
	height:100%;
	cursor:pointer;
	padding: 6px 31px 0 6px;
}
#executive-navigation .thumbnail a:hover,
#executive-navigation .thumbnail a.active-thumbnail {
	color:#4e4e4e;
	text-decoration:none;
}
#executive-navigation .img-holder {
	width:150px;
	height:150px;
	background:#f7f7f7;
	padding:8px;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.1);
	box-shadow: 0 0 5px rgba(0,0,0,.1);
	position:relative;
	margin-bottom:10px;
}

#executive-navigation .img-holder .opacity{
	background:url(../images/opacity1.png);
	position:absolute;
	left:8px;
	top:8px;
	width:150px;
	height:150px;
}

#executive-navigation .active-thumbnail .img-holder,
#executive-navigation .thumbnail a:hover .img-holder{background:#fff;}
#executive-navigation .active-thumbnail .img-holder .opacity,
#executive-navigation .thumbnail a:hover .img-holder .opacity{display:none;}
#executive-navigation .prev,
#executive-navigation .next{
	float:left;
	background:url(../images/sprite1.png) no-repeat 0 -624px;
	width: 21px;
	height: 37px;
	text-indent:-9999px;
	overflow:hidden;
	margin:70px 0 0 1px;
}

#executive-navigation .next{background-position:-44px -624px;}
#executive-navigation .prev:hover,
#executive-navigation .prev.hover{background-position:-147px -624px;}

#executive-navigation .next:hover{background-position:-181px -624px;}

#executive-navigation .thumbnail .name{
	color:#000;
	font-weight:bold;
	display:block;
}

#executive-navigation .thumbnail a:hover .name,
#executive-navigation .active-thumbnail .name{color:#0064d2;}

#toggle-thumbnails:hover {
  cursor: pointer;
}

.btn-holder{
	text-align:center;
	width:100%;
	overflow:hidden;
	margin-bottom:37px;
}

.btn-holder span{
	display:inline-block;
	vertical-align:top;
	background:url(../images/divider1.png) repeat-x;
	width:75px;
	height:2px;
	margin:21px 0 0;
}
*+html .btn-holder span{display:inline;}
.btn-holder .btn-more{
	margin:0 10px;
	/*width:67px;*/
}
*+html .btn-holder{margin-left:4px;}
