/* hide original element */
.jcf-hidden {
	display: block !important;
	left: -9999px !important; /* change to right: -9999px on RTL sites */
}
/* custom select styles */
.select-area {
	border: 1px solid #e0e0e0;
	position: relative;
	z-index:2;
	cursor: default;
	float: left;
	border-radius:3px;
	-webkit-box-shadow: 0 2px 2px rgba(27,27,27,.1), 0 1px 0 #fff inset;
	box-shadow: 0 2px 2px rgba(27,27,27,.2), 0 1px 0 #fff inset;
	background: rgb(249,249,249);
	background: -moz-linear-gradient(top,  rgba(249,249,249,1) 0%, rgba(247,247,247,1) 50%, rgba(243,243,243,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,249,249,1)), color-stop(50%,rgba(247,247,247,1)), color-stop(100%,rgba(243,243,243,1)));
	background: -webkit-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(247,247,247,1) 50%,rgba(243,243,243,1) 100%);
	background: -o-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(247,247,247,1) 50%,rgba(243,243,243,1) 100%);
	background: -ms-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(247,247,247,1) 50%,rgba(243,243,243,1) 100%);
	background: linear-gradient(to bottom,  rgba(249,249,249,1) 0%,rgba(247,247,247,1) 50%,rgba(243,243,243,1) 100%);
}
.select-focus,
.select-area:hover {
	background: rgb(246,246,246);
	background: -moz-linear-gradient(top,  rgba(246,246,246,1) 0%, rgba(242,242,242,1) 50%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,246,246,1)), color-stop(50%,rgba(242,242,242,1)), color-stop(100%,rgba(237,237,237,1)));
	background: -webkit-linear-gradient(top,  rgba(246,246,246,1) 0%,rgba(242,242,242,1) 50%,rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(top,  rgba(246,246,246,1) 0%,rgba(242,242,242,1) 50%,rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(top,  rgba(246,246,246,1) 0%,rgba(242,242,242,1) 50%,rgba(237,237,237,1) 100%);
	background: linear-gradient(to bottom,  rgba(246,246,246,1) 0%,rgba(242,242,242,1) 50%,rgba(237,237,237,1) 100%);
	-webkit-box-shadow: 0 2px 2px rgba(27,27,27,.1), 0 0 1px 0 #fff inset;
	box-shadow: 0 2px 2px rgba(27,27,27,.2), 0 0 1px 0 #fff inset;
}
.select-area .center {
	padding: 9px 15px;
	float:left;
}
.select-disabled {
	background: #eee;
}
.select-area .select-opener {
	position: absolute;
	right: 18px;
	top: 17px;
	background:url(../images/sprite1.png)/*tpa=http://www.ebayinc.com/sites/all/themes/ebayinc/images/sprite1.png*/ no-repeat -231px -68px;
	width: 11px;
	height: 7px;
}
.select-focus .select-opener,
.select-area:hover .select-opener{
	background-position:-277px -68px;
}
.select-options {
        display: block;
	z-index:1;
	background:#fff;
}
.options-hidden {
        display: none;
}
.select-options .drop-holder {
	overflow: hidden;
	height: 1%;
	-webkit-box-shadow: 0 2px 2px rgba(27,27,27,.1);
	box-shadow: 0 2px 2px rgba(27,27,27,.2);
	border:1px solid #dfdfdf;
	border-radius:3px;
	margin:-40px 0 0;
	padding:48px 0 0;
}
.select-options ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.select-options ul li {
	width: 100%;
	float: left;
}
.select-options ul a {
	text-decoration: none;
	padding: 5px 15px;
	display: block;
	cursor: default;
	height: 1%;
}
.select-options ul a:hover{
	color:#000;
}
.select-options .item-selected a {
	text-decoration: none;
}
/* select options optgroup example styles */
.select-options .optgroup {
	clear: both;
}
.select-options .optgroup strong {
	display: block;
	padding: 5px;
}
.select-options .optgroup ul a {
	padding-left: 30px;
}
