/*
	Variable Grid System.
	Learn more ~ http://www.spry-soft.com/grids/
	Based on 960 Grid System - http://960.gs/

	Licensed under GPL and MIT.
*/

/*
  Forces backgrounds to span full width,
  even if there is horizontal scrolling.
  Increase this if your layout is wider.

  Note: IE6 works fine without this fix.
*/

body {
  min-width: 960px;
}

/* Containers
----------------------------------------------------------------------------------------------------*/
.container_4 {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/


.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_1half,
.grid_half {
	display:inline;
	float: left;
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
}



.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4 {
	position:relative;
}


/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
	margin-left: 0;
}

.omega {
	margin-right: 0;
}

/* Grid >> 4 Columns
----------------------------------------------------------------------------------------------------*/


.container_4 .grid_1 {
	width:220px;
}

.container_4 .grid_2 {
	width:460px;
}

.container_4 .grid_3 {
	width:700px;
}

.container_4 .grid_4 {
	width:940px;
}

.container_4 .grid_1half
{
    width:340px;
}

.container_4 .grid_half
{
    width:100px;
}

/* Prefix Extra Space >> 4 Columns
----------------------------------------------------------------------------------------------------*/


.container_4 .prefix_1 {
	padding-left:240px;
}

.container_4 .prefix_2 {
	padding-left:480px;
}

.container_4 .prefix_3 {
	padding-left:720px;
}



/* Suffix Extra Space >> 4 Columns
----------------------------------------------------------------------------------------------------*/


.container_4 .suffix_1 {
	padding-right:240px;
}

.container_4 .suffix_2 {
	padding-right:480px;
}

.container_4 .suffix_3 {
	padding-right:720px;
}



/* Push Space >> 4 Columns
----------------------------------------------------------------------------------------------------*/


.container_4 .push_1 {
	left:240px;
}

.container_4 .push_2 {
	left:480px;
}

.container_4 .push_3 {
	left:720px;
}



/* Pull Space >> 4 Columns
----------------------------------------------------------------------------------------------------*/


.container_4 .pull_1 {
	left:-240px;
}

.container_4 .pull_2 {
	left:-480px;
}

.container_4 .pull_3 {
	left:-720px;
}




/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix {
  zoom: 1;
}