#header, #footerTop, #footerMiddle, #navigationContainer
{
    display:none !important;
}

#contentContainer
{
    margin-left:120px;
    margin-top:70px;
}

a.leadinlink
{
    display:none;
}

#headerPrint
{
    display:block;
}

#footer
{
    background-color:transparent;
    margin-top:160px !important;
    min-height:16px !important;
}

#footerBottomCopyright div
{
    margin-left:0px;
}

.hideOnPrint
{
    display:none;
}

input, select
{
    display:none;
}



.absoluteBlock, .relativeBlock
{
    position:static !important;
    float:none !important;
}

.crossPageBox
{
    width:960px !important;
}

#page
{
    left:0px !important; 
    margin-left:0px !important;
}

.arrow_up, .arrow_down
{
    display:none !important;
}

#mainbody
{
    padding-top:0px !important;
    padding-bottom:0px !important;
}

#footerBottomCopyright div
{
    color:#7F7F7F;
}

p, h1,h2,h3,h4,h5,h6
{
    clear:both;
}

a.external {
	padding: 0px 0px 0px 0px;
}