.sliderV3 {
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translate3d(0,0,0) scale3d(1,1,1);
	-webkit-transform-style: preserve-3d;
}

.sliderV3.done{
	position: relative;
}

.sliderV3 .slider-frame.animate {
	-webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.250, 1); /* older webkit */
	-webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.250, 1.050); 
	-moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.250, 1.050); 
	-o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.250, 1.050); 
	transition: all 500ms cubic-bezier(0.175, 0.885, 0.250, 1.050);

	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.250, 1); /* older webkit */
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.250, 1.050); 
	-moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.250, 1.050); 
	-o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.250, 1.050); 
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.250, 1.050);
}

.done .slider-frame {
	transform: translate3d(0%,0,0) scale3d(1,1,1);
	-o-transform: translate3d(0%,0,0) scale3d(1,1,1);
	-ms-transform: translate3d(0%,0,0) scale3d(1,1,1);
	-moz-transform: translate3d(0%,0,0) scale3d(1,1,1);
	-webkit-transform: translate3d(0%,0,0) scale3d(1,1,1);
	-webkit-backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	position: relative;
	clear: both;
	z-index: 9;
}
.sliderV3:hover .slider-arrows{
	opacity: 1;
}

.slider-arrows{
	position: absolute;
	top: 177px;
	z-index: 0;
	width: 100%;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
.exposed .hero_slider .slider-arrows{
	width: 75%;
	right: 0;
}
.slider-arrows a{
	display: block;
	background-image: url("http://www.homedepot.com/static/images/dwarves.png");
	width: 30px;
	height: 50px;
	text-indent: -5000px;
	cursor: pointer;
}
.slide-left{
	background-position: -301px 1046px;
	float: left;
}
.slide-left:hover{
	background-position: -301px 938px
}
.slide-right{
	float: right;
	background-position: -301px 1102px;
}
.slide-right:hover{
	background-position: -301px 994px
}
.start .slide-left{
	background-position: -301px 1046px;
	opacity: 0.4;
	cursor: default;
}
.end .slide-right{
	background-position: -301px 1102px;
	opacity: 0.4;
	cursor: default;
}


/* Pagination */
.slider_pagination{
	margin: 0 auto;
	text-align: center;
	text-transform: lowercase;
}



/* Reciently Viewed Styles */
.RV_container_rr , .RV_container_rr .rowHeader{ position: relative;}
.RV_container_rr .slider_pagination{ position: absolute; right: 30px}
.RV_container_rr .sliderV3 { max-height: 302px; height:302px; }
.RV_container_rr .slide-right{ margin-right: 25px; }
.RV_container_rr .slide-left{ margin-left: 35px;}