
/*================thdSlider CSS*=====================*/

.row .slider, .sliderDone{ 
	overflow : hidden;
	position: relative;
}


/* thd Slider initial Styles */
.slider_window {
    float: left;
    position: relative;
}

.slider_window  .row{
    clear: none;
    width: auto;
}

/* Default/Horizontal Slider Styles */
.slider_controls{
	bottom: 7px;
    display: block;
    height: auto;
    position: absolute;
    width: 100%;
   /*  z-index: 12; */
	
}

.slider_controls .next{
	position        : absolute;
	bottom			: 107px;
	right           : 0;
	width           : 30px; 
	height          : 50px;
	background-image: url("http://www.homedepot.com/static/images/btns/scrolling_graphics.png");
    background-position: 130px 434px;
	display         : block;
	cursor          : pointer;
}
.slider_controls .next:hover{
	background-position: 130px 357px;
}

.slider_controls .prev{
	position        : absolute;
	bottom			: 107px;
	left            : 0;
	width           : 30px; 
	height          : 50px;
	background-image: url("http://www.homedepot.com/static/images/btns/scrolling_graphics.png");
    background-position: 125px 582px;
	display         : block;
	cursor          : pointer;
}

.slider_controls .prev:hover{
	background-position: 125px 505px;
}
.pagination_control{
	background-image: url("http://www.homedepot.com/static/images/btns/scrolling_graphics.png");
    background-position: -177px -29px;
	width     :20px;
	height    : 20px;
	margin    :0 2px;
	display   : inline-block;
	zoom:1;
    *display: inline;

}
.pagination_control:hover{
    background-position: -177px -104px;
}
.pagination_control.active{
    background-position: -177px -104px;
}

.slider_pagination{
	margin: 0 auto;
	text-align: center;
}



/* Vertical Slider Styles */
.vert .slider_controls{
	bottom: 0;
    display: block;
    height: 100%;
    position: absolute;
    width: auto;
    right:0;
	
}

.vert .slider_controls .next{
	position        : absolute;
	bottom			: 0;
	right           : 0;
	width           : 35px; 
	height          : 30px;
	background-image: url("http://www.homedepot.com/static/images/btns/scrolling_graphics.png");
    background-position: 130px 126px;
	display         : block;
	cursor          : pointer;
}
.vert .slider_controls .next:hover{
	background-position: 130px 54px;
}

.vert .slider_controls .prev{
	position        : absolute;
	bottom			: auto;
	left            : auto;
	width           : 35px; 
	height          : 30px;
	right			: 0;
	top				: 0;
	background-image: url("http://www.homedepot.com/static/images/btns/scrolling_graphics.png");
    background-position: 130px 279px;
	display         : block;
	cursor          : pointer;
}

.vert .slider_controls .prev:hover{
	background-position: 130px 203px;
}
.vert .pagination_control{
	background-image: url("http://www.homedepot.com/static/images/btns/scrolling_graphics.png");
    background-position: -177px -29px;
	width     :20px;
	height    : 20px;
	margin    :0 2px;
	display   : block;
	zoom	  :1;
    display   : block\9;

}
.vert .pagination_control:hover{
    background-position: -177px -104px;
}
.vert .pagination_control.active{
    background-position: -177px -104px;
}

.vert .slider_pagination{
	margin: 0 auto;
	text-align: center;
	position: absolute;
	bottom:40%;
	right:6px;
}

/* Homepage Hero Horizontal Slider Controls */

.homepage .hero_slider, .homepage .hero_slider .pod, .exposed .hero_slider, .exposed .hero_slider .pod {width:960px;}
.homepage .hero_slider .slider_controls, .exposed .hero_slider .slider_controls{
	bottom: 0;
    display: block;
    height: auto;
    position: absolute;
    width: 766px;
    right:0;
	
}

.homepage .hero_slider .slider_controls .next, .exposed .hero_slider .slider_controls .next{
	position        : absolute;
	bottom			: 90px;
	right           : 12px;
	width           : 35px; 
	height          : 50px;
	background-image: url("http://www.homedepot.com/static/images/btns/scrolling_graphics.png");
    background-position: 205px 434px;
	display         : block;
	cursor          : pointer;
}
.homepage .hero_slider .slider_controls .next:hover, .exposed .hero_slider .slider_controls .next:hover{
	background-position: 205px 359px;
}

.homepage .hero_slider .slider_controls .prev, .exposed .hero_slider .slider_controls .prev{
	position        : absolute;
	bottom			: 90px;
	left            : 12px;
	width           : 35px; 
	height          : 50px;
	right			: auto;
	background-image: url("http://www.homedepot.com/static/images/btns/scrolling_graphics.png");
    background-position: 205px 585px;
	display         : block;
	cursor          : pointer;
}

.homepage .hero_slider .slider_controls .prev:hover, .exposed .hero_slider .slider_controls .prev:hover{
	background-position: 205px 510px;
}

.homepage .hero_slider .slider_pagination, .exposed .hero_slider .slider_pagination{
	margin: 0 auto;
	text-align: center;
	position: relative;
	bottom:25px;
}
.homepage .hero_slider .hero_info, .homepage .hero_slider .hero_list_wrapper, .exposed .hero_slider .hero_info, .exposed .hero_slider .hero_list_wrapper {left:225px; z-index:1;}

.RV_container_rr { border-bottom: 2px solid #eee; overflow: hidden; width:960px; max-height: 305px; min-height: 0}
.RV_container_rr img { display: block; margin: 0px auto; }
.RV_container_rr .slider_controls { position: relative; left: 5px; }
.RV_container_rr .slider_controls .prev { background-image: url("http://www.homedepot.com/static/images/dwarves.png"); background-position: -301px 1046px; left: 30px; }
.RV_container_rr .slider_controls .prev:hover { background-position: -301px 938px; }
.RV_container_rr .slider_controls .next { background-image: url("http://www.homedepot.com/static/images/dwarves.png"); background-position: -301px 1102px; right: 30px; }
.RV_container_rr .slider_controls .next:hover { background-position: -301px 994px; }
.RV_container_rr .pod .grid_6 .alpha { border-width: 0 1px; } 
.RV_container_rr .slider_controls .slider_pagination { position: absolute; top: -280px; right: 27px; }

.RV_container_rr .prev.disable-btn, .RV_container_rr .next.disable-btn  {
	display: block !important;
	opacity: 0.4;
	cursor: default !important;
}

.RV_container_rr .slider_controls .prev.disable-btn:hover {
    background-position: -301px 1046px !important;
}

.RV_container_rr .slider_controls .next.disable-btn:hover {
    background-position: -301px 1102px !important;
}
/*================End thdSlider CSS*=================*/