
/*================thdSocialmedia CSS*=====================*/
div.widgetEmailPrintTable{float:right; padding:5px 10px 0px 0; top:0; display:block}
div.widgetEmailPrintTable .widget{float:left}
.widgetEmailPrintTable div .widget a:hover{text-decoration:underline}
.widgetEmailPrintTable div a{float:left}
.widgetEmailPrintTable div a span{height:16px; float:left; margin:1px 10px 0 0; padding:0 0 0 5px}
.widgetEmailPrintTable div a img{vertical-align:middle; float:left}
.widgetEmailPrintTable .sharewidget{float:left;}
.widgetEmailPrintTable .widget a img{margin-right:10px}
.widgetEmailPrintTable .dwarf-twitter{background-position: -583px 158px}
.sharewidget{float:left;clear:both}
#pinterest_header { font-size: 14px; padding: 15px 0 10px 20px; border-bottom: 1px solid #d2d2d1; background: #f1f1f1; }
#pinterest_footer { min-height:15px; border-top: 1px solid #d2d2d1; }
#pinterest_body { max-height: 430px; min-height: 430px; overflow-y: auto; overflow-x: hidden; padding:20px 0 0 20px;}
.pinterestEqualSizeImageHover{ border-color:#3dadfc;box-shadow:0 0 3px #3dadfc;cursor:pointer; zoom: 1; filter: alpha(opacity=50); opacity: 0.5;}
.pinterestEqualSizeImage{ height:190px; min-width:185px; border: 1px solid #dedede; margin: 0 10px 10px 0; overflow: hidden;}
.pinterest_headermsg { color:#333; }
.pinterest_icon { display: none; position:absolute; top: 60px; left: 65px; zoom: 1.2; ms-zoom: 1.2;}
.small-icon { margin-right:7px!important; zoom:0.9;}
.pinterest_imageSize{position:absolute;bottom:0;left:0;right:0;display:block;background:#fff;height:22px;line-height:24px;color:#000;overflow:hidden;font-size:10px;zoom:1;filter:alpha(opacity=70);opacity:.7; text-align: center;}
.dwarf-pinterestIcon{ background-position: -88px 130px; width:18px; height:18px; }
.pinthis-imageOuter_32x32{position:relative;width:185px;height:185px;border:1px solid #dedede;margin:0 10px 10px 0;overflow:hidden;float:left;}
.pinthis-imageOuter_32x32:hover{border-color:#3dadfc;box-shadow:0 0 3px #3dadfc;cursor:pointer; }
.dwarf-pinterestShareIcon, .dwarf-facebookShareIcon, .dwarf-printIcon {background-repeat:none; margin-right:10px !important; cursor: pointer;}
.dwarf-pinterestShareIcon{background-image:url("/static/images/dwarves.png");width:40px;height:20px;background-position:-127px 577px !important; }
.dwarf-facebookShareIcon{background-image:url("/static/images/dwarves.png");width:55px;height:20px;background-position:-179px 577px !important; }
.dwarf-printIcon{background-image:url("/static/images/dwarves.png");width:18px;height:19px;background-position:-4px 613px !important; }
.twitter{float:left; margin-right:10px;}
.gplus{float:left; margin-right:10px;}

/*================End thdSocialmedia CSS*=================*/