/* To be completed with new styles without cascading, applied on markup entered through the SharePoint RichText control.  */

/*== Heading 2 (with Separator) ==*/

H2.utcElement-ContentAreaHeading2 {
	-ms-name: "Heading 2 (with Separator)";
	/* Gotham Black */
	font-family: 'Gotham SSm 8r', 'Gotham SSm A', 'Gotham SSm B', Arial, Helvetica, Sans-serif !important;
	font-weight: 800 !important;
	font-style: normal !important;
	/* Custom */
	font-size: 18px !important;
	padding-bottom: 7px !important;
	margin-bottom: 9px !important;
	border-bottom: 6px solid #e5e5e6 !important;
    text-transform: uppercase;
}

/*== Heading 2 ==*/

H2.utcElement-RegularHeading2 {
	-ms-name: "Heading 2";
	/* Gotham Black */
	font-family: 'Gotham SSm 8r', 'Gotham SSm A', 'Gotham SSm B', Arial, Helvetica, Sans-serif !important;
	font-weight: 800 !important;
	font-style: normal !important;
	/* Custom */
	font-size: 18px !important;
	padding-bottom: 12px !important;
	padding-top: 15px !important;
	margin-bottom: 16px !important;
    text-transform: uppercase;
}

/*== Heading 3 ==*/

H3.utcElement-SectionItemHeading3 {
	-ms-name: "Heading 3";
	/* Gotham Bold */
	font-family: 'Gotham SSm 7r', 'Gotham SSm A', 'Gotham SSm B', Arial, Helvetica, Sans-serif !important;
	font-weight: 700 !important;
	font-style: normal !important;
	/* Custom */
	font-size: 13px !important;
	line-height: 16px !important;
	color: #000 !important;
	margin-bottom: 0px !important;
}

/*== Intro Body ==*/

P.utcElement-PageIntroParagraph {
	-ms-name: "Intro Body";
	margin: 0 0 18px !important;
	font-size: 18px !important;
}

/*== Normal ==*/

P.utcElement-NormalParagraph {
	-ms-name: "Paragraph";
	font-family: Arial,Verdana !important;
	font-weight: normal !important;
	font-style: normal !important;
	font-size: 13px !important;
	color: #000 !important;
	margin-bottom: 14px !important;
	line-height: 17px !important;
}

/* Deprecated Style - Name of this style is too long for inclusion in the Markup Styles list on IE8 */
H2.utcElement-TitleContentAreaHeading2 {
	/* Gotham Black */
	font-family: 'Gotham SSm 8r', 'Gotham SSm A', 'Gotham SSm B', Arial, Helvetica, Sans-serif !important;
	font-weight: 800 !important;
	font-style: normal !important;
	/* Custom */
	font-size: 18px !important;
	padding-bottom: 7px !important;
	padding-top: 15px !important;
	margin-bottom: 9px !important;
	border-bottom: 6px solid #e5e5e6 !important;
    text-transform: uppercase;
}

.utc-page-content.cyan H2.utcElement-ContentAreaHeading2,
.utc-page-content.cyan H2.utcElement-TitleContentAreaHeading2,
.utc-page-content.cyan H2.utcElement-RegularHeading2 {
	color: #6eb8b5 !important;
}
.utc-page-content.blue H2.utcElement-ContentAreaHeading2,
.utc-page-content.blue H2.utcElement-TitleContentAreaHeading2,
.utc-page-content.blue H2.utcElement-RegularHeading2 {
	color: #0060A9 !important;
}
.utc-page-content.light-blue H2.utcElement-ContentAreaHeading2,
.utc-page-content.light-blue H2.utcElement-TitleContentAreaHeading2,
.utc-page-content.light-blue H2.utcElement-RegularHeading2 {
	color: #0095DA !important;
}
.utc-page-content.green H2.utcElement-ContentAreaHeading2,
.utc-page-content.green H2.utcElement-TitleContentAreaHeading2,
.utc-page-content.green H2.utcElement-RegularHeading2 {
	color: #8B9F3B !important;
}
.utc-page-content.orange H2.utcElement-ContentAreaHeading2,
.utc-page-content.orange H2.utcElement-TitleContentAreaHeading2,
.utc-page-content.orange H2.utcElement-RegularHeading2 {
	color: #ed991f !important;
}
.utc-page-content H2.black.utcElement-ContentAreaHeading2,
.utc-page-content H2.black.utcElement-TitleContentAreaHeading2,
.utc-page-content H2.black.utcElement-RegularHeading2 {
	color: #000000 !important;
	border-color: #000000 !important;
}

.utc-page-content H2.black.utcElement-ContentAreaHeading2,
.utc-page-content H2.black.utcElement-TitleContentAreaHeading2 {
    /* Gotham Bold */
	font-family: 'Gotham SSm 7r', 'Gotham SSm A', 'Gotham SSm B', Arial, Helvetica, Sans-serif !important;
	font-weight: 700 !important;
	font-style: normal !important;
    text-transform: none !important;
}

.ie8 H2.utcElement-ContentAreaHeading2,
.ie8 H2.utcElement-TitleContentAreaHeading2,
.ie8 H2.black.utcElement-TitleContentAreaHeading2,
.ie8 H2.utcElement-RegularHeading2 {
	font-weight: normal !important;
	font-style: normal !important;
}

@media (max-width: 568px) {
	H2.utcElement-ContentAreaHeading2,
	H2.utcElement-TitleContentAreaHeading2,
	H2.utcElement-RegularHeading2 {
		font-size: 17px !important;
		margin-bottom: 11px !important;
		margin-left: 20px !important;
		margin-right: 20px !important;
		padding-bottom: 9px !important;
	}

	P.utcElement-PageIntroParagraph {
		margin: 0px 0px 18px !important;
		font-size: 14px !important;
		line-height: 17px !important;
		font-family: 'Gotham SSm 4r', 'Gotham SSm A', 'Gotham SSm B', Arial, Helvetica, sans-serif !important;
		font-weight: 400 !important;
		font-style: normal !important;
		padding-left: 20px !important;
		padding-right: 20px !important;
	}

	P.utcElement-NormalParagraph {
		padding-left: 20px !important;
		padding-right: 20px !important;
	}

	H3.utcElement-SectionItemHeading3 {
		margin-left: 20px !important;
		margin-right: 20px !important;
	}

	.title-content-area H2.utcElement-ContentAreaHeading2,
	.title-content-area H2.utcElement-TitleContentAreaHeading2,
	.title-content-area H2.utcElement-RegularHeading2,
	.title-content-area P.utcElement-NormalParagraph,
	.title-content-area H3.utcElement-SectionItemHeading3,
	.title-content-area P.utcElement-PageIntroParagraph,
	.page-intro H2.utcElement-ContentAreaHeading2,
	.page-intro H2.utcElement-TitleContentAreaHeading2,
	.page-intro H2.utcElement-RegularHeading2,
	.page-intro P.utcElement-NormalParagraph,
	.page-intro H3.utcElement-SectionItemHeading3,
	.page-intro P.utcElement-PageIntroParagraph {
		padding-left: 0px !important;
		padding-right: 0px !important;
		margin-left: 0px !important;
		margin-right: 0px !important;
	}
}

@media screen and (min-width: 980px) {
	P.utcElement-PageIntroParagraph {
		max-width: 648px !important;
	}

	P.utcElement-NormalParagraph {
		max-width: 648px !important;
	}
}



.ie8 H3.utcElement-SectionItemHeading3 {
	font-weight: normal !important;
	font-style: normal !important;
}

/*===== SharePoint out of the box Styles =====*/

.utcStyle-Normal
{
-ms-name:"Normal";
font-family:Verdana,Arial,sans-serif;
font-size:8pt;
/* [ReplaceColor(themeColor:"Dark1")] */ color:#676767;
/* [ReplaceColor(themeColor:"Light1")] */ background-color:#fff;
}
.utcStyle-Highlight
{
-ms-name:"Highlight";
/* [ReplaceColor(themeColor:"Dark1-Darker")] */ color:#312a26;
/* [ReplaceColor(themeColor:"Accent6")] */ background-color:#fae032;
}
.utcStyle-Byline
{
-ms-name:"By Line";
/* [ReplaceColor(themeColor:"Dark1",themeTint:"0.29")] */ color:#b6b6b6;
}
.utcStyle-Tagline
{
-ms-name:"Tag Line";
font-size:1.3em;
/* [ReplaceColor(themeColor:"Dark1",themeTint:"0.45")] */ color:#8b8b8b;
}
.utcStyle-Comment
{
-ms-name:"Comment";
font-style:italic;
/* [ReplaceColor(themeColor:"Accent5-Darkest")] */ color:#36b000;
/* [ReplaceColor(themeColor:"Dark1")] */ text-shadow:0px 0px 5px #000;
}
.utcStyle-References
{
-ms-name:"References";
/* [ReplaceColor(themeColor:"Dark1-Lightest")] */ color:#828282;
}
.utcStyle-Caption
{
-ms-name:"Caption";
/* [ReplaceColor(themeColor:"Accent3")] */ color:#00adee;
}