html.ie8-width-fix,
html.ie8-width-fix body {
    overflow-x: hidden !important;
}

    html.ie8-width-fix .utc-page #header .body .container {
        width: 960px;
        padding-left: 0;
        padding-right: 0;
        margin: 0 auto;
    }

    html.ie8-width-fix .utc-page #header .menu-secondary {
        left: 247px;
    }

    html.ie8-width-fix .utc-page #header .wallstreet-box {
        right: -2px;
    }

    html.ie8-width-fix .utc-page #header .menu-main {
        left: 236px;
    }

    html.ie8-width-fix .utc-page #header .mega-menu {
        width: 960px;
        margin: 0 auto;
    }

        html.ie8-width-fix .utc-page #header .mega-menu .container {
            margin: 0 -32px;
        }