@media (min-width:569px ) {
    #mobile-navigation .mobile-container .utc-mobile-page {
        display: none;
    }

        #mobile-navigation .mobile-container .utc-mobile-page:first-child {
            display: block;
        }

    #header .search-box,
    #search {
        display: none !important;
    }
}

@media (max-width: 568px) {

    /* ===== Structure Styles ========================================================================== */

    html, body {
        overflow-x: hidden;
    }

    #mobile-navigation {
        position: relative;
        overflow: hidden;
    }

        #mobile-navigation .mobile-container {
        }

        #mobile-navigation .mobile-container {
            position: relative;
            width: 100%;
        }

            #mobile-navigation .mobile-container .utc-mobile-page {
                position: relative;
                display: none;
                overflow: hidden;
            }

                #mobile-navigation .mobile-container .utc-mobile-page:first-child,
                #mobile-navigation .mobile-container .utc-mobile-page.active {
                    display: block;
                }
                #mobile-navigation .mobile-container .utc-mobile-page:last-child {
                    position:absolute;
                    width:100%;
                    z-index:99;
                    box-shadow: 0 0 10px #000;
                }

                #mobile-navigation .mobile-container .utc-mobile-page .utc-mobile-page-container {
                    min-width: 320px;
                    margin: 0 auto;
                }

        /* ===== Page Transition Styles ========================================================================== */

        /* page from right */

        #mobile-navigation.page-from-right .mobile-container {
            position: absolute;
            top: 0;
            left: 100%;
            width: 100%;
        }

        #mobile-navigation.page-from-right .utc-mobile-page.active,
        #mobile-navigation.page-from-right .utc-mobile-page.active-next {
            width: 100%;
            display: block;
        }

        #mobile-navigation.page-from-right .utc-mobile-page.active {
            position: absolute;
            top: 0;
            left: -100%;
        }

        #mobile-navigation.page-from-right .utc-mobile-page.active-next {
        }

        /* page from left */

        #mobile-navigation.page-from-left .mobile-container {
            position: absolute;
            top: 0;
            left: -100%;
            width: 100%;
        }

        #mobile-navigation.page-from-left .utc-mobile-page.active,
        #mobile-navigation.page-from-left .utc-mobile-page.active-next {
            width: 100%;
            display: block;
        }

        #mobile-navigation.page-from-left .utc-mobile-page.active {
            position: absolute;
            top: 0;
            right: -100%;
        }

        #mobile-navigation.page-from-left .utc-mobile-page.active-next {
        }

        /* page from top */

        #mobile-navigation.page-from-top .mobile-container {
            width: 100%;
        }

        #mobile-navigation.page-from-top .utc-mobile-page.active:last-child,
        #mobile-navigation.page-from-top .utc-mobile-page.active-next:last-child {
            width: 100%;
            display: block;
        }

        #mobile-navigation.page-from-top .utc-mobile-page.active:last-child {
            z-index: 9;
        }

        #mobile-navigation.page-from-top .utc-mobile-page.active-next:last-child {
            position: absolute;
            top: 0;
            left: 0;
        }

        /* page from bottom */

        #mobile-navigation.page-from-bottom .mobile-container {
            width: 100%;
        }

        #mobile-navigation.page-from-bottom .utc-mobile-page.active,
        #mobile-navigation.page-from-bottom .utc-mobile-page.active-next {
            width: 100%;
            display: block;
        }

        #mobile-navigation.page-from-bottom .utc-mobile-page.active {
        }

        #mobile-navigation.page-from-bottom .utc-mobile-page.active-next {
            position: absolute;
            top: -100%;
            left: 0;
            z-index: 9;
        }

        #mobile-navigation #home.active,
        #mobile-navigation #home.active-next {
            z-index: 9;
        }

    /* ===== Mobile Header Styles ========================================================================== */

    /*
    #mobile-header {
        position: relative;
        z-index: 10;
    }

        #mobile-header header {
            position: relative;
            height: 59px;
            background: #000;
            z-index: 9;
        }

            #mobile-header header .main-logo-link {
                position: absolute;
                top: 50%;
                left: 17px;
                margin-top: -16px;
            }

        #mobile-header .bars-icon-link,
        #mobile-header .search-icon-link,
        #mobile-header .close-search-link {
            position: absolute;
            top: 13px;
            width: 32px;
            height: 32px;
            display: block;
            background-image: url(images/top-icons.png);
            background-repeat: no-repeat;
        }

        #mobile-header header .bars-icon-link:hover,
        #mobile-header header .search-icon-link:hover {

        }

        #mobile-header header .bars-icon-link {
            background-position: 0 -32px;
            right: 23px;
        }

        #mobile-header header .search-icon-link {
            display: none;
            background-position: 0 0;
            right: 68px;
        }
*/

    /* search effect on header and homepage */

    #header .close-search-link {
        display: none;
        position: absolute;
        top: 10px;
        right: 10px;
        width: 32px;
        height: 32px;
        background: url(../images/mobile/close-white.png)/*tpa=http://cdn.www.utc.com/Style Library/utc/images/mobile/close-white.png*/ no-repeat center center;
    }

    #header .search-box {
        display: none;
        position: absolute;
        top: 8px;
        left: 65px;
        right: 46px;
        margin: 0;
        padding: 7px;
        height: 20px;
        background-color: #000;
        border: 2px solid #ccc;
    }

        #header .search-box input {
            width: 100%;
            height: 20px;
            line-height: 20px;
            font-size: 14px;
            border: none;
            color: #fff;
            outline: 0!important;
            background: transparent none;
            text-transform: uppercase;
        }

    #mobile-header header .search-box input::-webkit-input-placeholder {
        color: #333;
    }

    #mobile-header header .search-box input:-moz-placeholder {
        color: #333;
    }

    #mobile-header header .search-box input::-moz-placeholder {
        color: #333;
    }

    #mobile-header header .search-box input:-ms-input-placeholder {
        color: #333;
    }

    #mobile-header header .search-box-effect {
        display: block;
        position: absolute;
        top: 69px;
        left: 10px;
        right: 10px;
    }

    .page-search-box {
        background: #eee;
        padding: 10px;
    }

        .page-search-box .field {
            padding: 5px 5px 5px 20px;
            height: 20px;
            background-color: #FFF;
            border: 1px solid #ccc;
        }

            .page-search-box .field .search-input {
                width: 100%;
                height: 20px;
                line-height: 20px;
                font-size: 14px;
                border: none;
                color: #333;
                outline: 0!important;
                background: transparent none;
            }

    .page-search-box-wrapper {
        margin: 0 0 5px;
        padding: 0;
        background: #f87500;
    }

        .page-search-box-wrapper.no-margin {
            margin: 0;
        }

    #home-search.page-search-box {
        margin: 0 auto;
        padding: 5px 0;
        width: 320px;
        background: url(../images/mobile/search-22x22.png)/*tpa=http://cdn.www.utc.com/Style Library/utc/images/mobile/search-22x22.png*/ no-repeat 27px center;
    }

        #home-search.page-search-box .field {
            margin: 0 35px 0 65px;
            padding: 5px;
            height: 20px;
            border: none;
            background: #f87500;
        }

            #home-search.page-search-box .field .search-input {
                width: 100%;
                height: 20px;
                line-height: 20px;
                font-size: 11px;
                border: none;
                color: #fff;
                outline: 0!important;
                background: transparent none;
                text-transform: uppercase;
                /* Gotham Medium */
                font-family: 'Gotham SSm 7r', 'Gotham SSm A', 'Gotham SSm B', Arial, Helvetica, Sans-serif;
                font-weight: 500;
                font-style: normal;
            }

    #mobile-wrapper.fromBottom {
        margin-left: 100%;
        width: 100%;
        position: relative;
        ;
    }

        #mobile-wrapper.fromBottom #no-mobile {
            position: absolute;
            top: 0;
            left: -100%;
            width: 100%;
        }

        #mobile-wrapper.fromBottom #mobile-navigation {
            width: 100%;
        }

    /* ===== Mobile Page Styles ========================================================================== */

    #mobile-navigation .utc-mobile-page .utc-mobile-page-body {
        position: relative;
        min-height: 240px;
    }

        #mobile-navigation .utc-mobile-page .utc-mobile-page-body.content-resume {
            overflow: hidden;
            /*max-height: 240px;*/
            text-overflow: ellipsis;
        }

        #mobile-navigation .utc-mobile-page .utc-mobile-page-body .loading {
            position: absolute;
            height: 46px;
            width: 46px;
            left: 50%;
            top: 50%;
            margin: -23px 0 0 -23px;
        }

        #mobile-navigation .utc-mobile-page .utc-mobile-page-body .mobile-extend-link {
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0px;
            display: block;
            /*padding: 0 0 15px;*/
            background: rgba(17,17,17,0.75);
        }

            #mobile-navigation .utc-mobile-page .utc-mobile-page-body .mobile-extend-link,
            #mobile-navigation .utc-mobile-page .utc-mobile-page-body .mobile-extend-link a {
                font: 600 15px/44px 'Gotham SSm A', 'Gotham SSm B', Arial, Helvetica, Sans-serif;
                color: #fff;
                text-decoration: none;
                text-align: center;
                text-transform: uppercase;
                height: 44px;
            }

                #mobile-navigation .utc-mobile-page .utc-mobile-page-body .mobile-extend-link a {
                    display: block;
                    padding: 0 15px;
                    /*border: 1px solid #000;*/
                }

        #mobile-navigation .utc-mobile-page .utc-mobile-page-body img {
            height: auto;
        }

    /*
    #mobile-navigation .utc-mobile-page {
        width: 100%;
    }

    #mobile-navigation .utc-mobile-page {
    }


        #mobile-navigation .utc-mobile-page .page-body-content {
            min-height: 200px;
            position: relative;
            background: #f7f7f7;
        }

            #mobile-navigation .utc-mobile-page .page-body-content:hover {
                background: #f7f7f7;
            }

            #mobile-navigation .utc-mobile-page .page-body-content > div {
                padding: 15px 15px 10px;
                position: relative;
                overflow: hidden;
            }

                #mobile-navigation .utc-mobile-page .page-body-content > div .more-link {
                    position: absolute;
                    bottom: 5px;
                    left: 5px;
                    right: 5px;
                    background: rgba(200,200,200,0.45);
                    border: 1px solid #AAA;
                    font-size: 14px;
                    text-align: center;
                    text-shadow: 1px 1px #BBB;
                    padding: 10px 0;
                }
*/

    /* ===== Mobile SubMenu ========================================================================== */

    #mobile-navigation .utc-mobile-page .mobile-menu-wrapper {
        background: #262626;
        padding: 15px 0;
        margin: 0 -100%;
    }

    #mobile-navigation .utc-mobile-page .mobile-menu-list,
    #search .mobile-menu-list {
        width: 320px;
        margin: 0 auto;
        padding: 0;
    }

        #mobile-navigation .utc-mobile-page .mobile-menu-list > li,
        #search .mobile-menu-list > li {
            position: relative;
            margin: 0;
            /*background-color: #F2F2F2;*/
            /*border-bottom: 1px solid #565656;*/
            list-style: none;
        }

            #mobile-navigation .utc-mobile-page .mobile-menu-list > li:last-child,
            #search .mobile-menu-list > li:last-child {
                border: 0;
            }

            #mobile-navigation .utc-mobile-page .mobile-menu-list > li.separator {
                border-bottom: 1px solid #636363;
                border-top: none;
                border-left: none;
                border-right: none;
                margin-bottom: 15px;
                padding-bottom: 15px;
                margin-left:-100%;
                margin-right:-100%;
            }

                #mobile-navigation .utc-mobile-page .mobile-menu-list > li.separator a {
                    margin: 0 auto;
                    width:280px;
                }


    #mobile-navigation .utc-mobile-page li:hover {
        /*background-color: #EAEAEA;*/
    }

    #mobile-navigation .utc-mobile-page .mobile-menu-list > li a {
        display: block;
        text-decoration: none;
        padding: 13px 20px;
        font-size: 16px;
        line-height: 17px;
        color: #fff;
        text-transform: uppercase;
        background: url(../images/mobile/white-triangle-right.png)/*tpa=http://cdn.www.utc.com/Style Library/utc/images/mobile/white-triangle-right.png*/ no-repeat 300px center;
        /* Gotham Bold */
        font-family: 'Gotham SSm A', 'Gotham SSm B', Arial, Helvetica, Sans-serif;
        font-weight: 700;
        font-style: normal;
    }

        #mobile-navigation .utc-mobile-page .mobile-menu-list > li a:hover,
        #search li a:hover {
            background-color: #636363;
        }

    #mobile-navigation .utc-mobile-page .mobile-menu-list > li.page-body-back {
        background-color: rgb(238, 238, 238);
        border-bottom: 1px solid #ccc;
        position: relative;
    }

        #mobile-navigation .utc-mobile-page .mobile-menu-list > li.page-body-back a {
            display: block;
            padding: 15px 15px 16px 40px;
            color: #2F3E46;
            font-weight: bold;
            font-size: 16px;
            text-decoration: none;
        }

        #mobile-navigation .utc-mobile-page .mobile-menu-list > li.page-body-back .arrow-icon {
            /*background: url(images/icons-18-black.png) no-repeat -144px -1px;*/
            display: block;
            position: absolute;
            left: 10px;
            top: 50%;
            margin-top: -9px;
            width: 18px;
            height: 18px;
        }

    /* ===== Search Styles ========================================================================== */

    #mobile-navigation .utc-mobile-page .search-loading,
    #search .search-loading {
        text-align: center;
        padding: 5px;
    }

    #mobile-navigation .utc-mobile-page li.result-no-item p,
    #search li.result-no-item p {
        margin: 0;
        padding: 10px 15px;
        font-size: 14px;
        font-weight: bold;
        background: #fff;
    }

    #search .search-container {
        margin: 0 auto;
        width: 320px;
        background: #fff;
    }

        #search .search-container .search-results {
        }

            #search .search-container .search-results li {
                border-bottom: 1px solid #C2C2C2;
                padding: 0px 11px 0px 20px;
                list-style: none;
                overflow: hidden;
            }

                #search .search-container .search-results li a {
                    display: block;
                    padding: 14px 18px 11px 0;
                    background: url(../images/mobile/black-triangle-right.png)/*tpa=http://cdn.www.utc.com/Style Library/utc/images/mobile/black-triangle-right.png*/ no-repeat right 14px;
                    font-family: 'Arial', Gadget, sans-serif;
                    font-size: 15px;
                    color: #000;
                }

                    #search .search-container .search-results li a:hover {
                        /*background-color:#ccc;*/
                    }

            #search .search-container .search-results .image-text-item a {
                font-size: 18px;
                overflow: hidden;
                padding: 10px 18px 10px 0;
            }

            #search .search-container .search-results .image-text-item figure {
                float: left;
                width: 39px;
                padding: 0px 8px 0px 0;
            }

            #search .search-container .search-results .image-text-item img {
                width: 100%;
            }

            #search .search-container .search-results .title-item {
                padding-top: 10px;
                padding-bottom: 10px;
                background: #000;
                border-bottom: 0;
                color: #fff;
                font-size: 18px;
                text-transform: uppercase;
            }

            #search .search-container .search-results .only-text-item {
                background: #fff;
            }

            #search .search-container .search-results .title-item,
            #search .search-container .search-results .only-text-item {
                padding-left: 19px;
                padding-right: 11px;
            }

            #search .search-container .search-results .more-link {
                margin: 0 -6px;
                padding: 13px 6px;
                background: #e5e5e6;
                border-top: 1px solid #c2c2c2;
            }

        #search .search-container .more-link {
            padding: 13px 20px;
            background: #e5e5e6;
        }

            #search .search-container .more-link a {
                /*background: url("../images/desktop/search-icon-black.png") no-repeat left center;*/
                /* Gotham Bold */
                font-family: 'Gotham SSm A', 'Gotham SSm B', Arial, Helvetica, Sans-serif;
                font-weight: 700;
                font-style: normal;
                font-size: 13px;
                line-height: 15px;
                color: #000;
                display: block;
                /*padding-left: 23px;*/
                text-transform: uppercase;
            }

    #mobile-navigation .utc-mobile-page li.result-no-item:hover {
        background: #fff;
    }

    #header {
        position: relative;
        z-index: 11;
    }

        #header #search {
            /*display: none;*/
            background-color: #fff;
            position: absolute;
            left: 0;
            top: 59px;
            right: 0;
            z-index: 10;
        }

    .search-overlay {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: .8;
        filter: Alpha(Opacity=80);
        z-index: 9;
    }
}
