html, body {
    min-width: 0;
}

body {
    zoom: 70%;
    /*-webkit-print-color-adjust: exact;*/
}

    .ie8 body, body.ie8 {
        zoom: 1;
    }

body, .utc-page * {
    color: #000 !important;
}

.utc-page .body-2cols,
.utc-page .body-content, 
.utc-page .body-2cols .body-content,
.body-content-top {
    float:none;
    /*width: auto;*/
}

.utc-page .body-2cols .body-content {
    width: 100%;
}

/*=== IE8: tablet portrait styles ===========================*/

.ie8 .title-two-cols {
    border: 1px solid #000;
    overflow: hidden;
}

.ie8 .visible-tablet {
    display: block;
}

.ie8 .hidden-tablet {
    display: none;
}

/* GENERIC */
.ie8 .container {
    width: 750px;
}

/* HEADER */
.ie8 .utc-page #header .body .container {
    width: 750px;
    height: 50px;
    padding: 45px 0 0;
    /*overflow: hidden;*/
}

/*=== content image box ===*/

.ie8 .utc-page .content-image-box .item-box {
    width: 246px;
    padding: 12px 14px 74px 10px;
}

    .ie8 .utc-page .content-image-box .item-box h3,
    .ie8 .utc-page .content-image-box .item-box h3 a {
        font-size: 12px;
    }

    .ie8 .utc-page .content-image-box .item-box figure {
        min-width: 110px;
        min-height: 95px;
    }

        .ie8 .utc-page .content-image-box .item-box figure img {
            width: 109px;
        }

    .ie8 .utc-page .content-image-box .item-box:first-child {
        margin-right: 15px;
    }

.ie8 .utc-page .body-2cols .content-image-box .item-box {
    width: 151px;
}

/* large left content */
.ie8 .utc-page .large-left-content {
    width: 555px;
}

.ie8 .utc-page .main-inner-content > div.clearfix > .top-filter {
    width: 560px;
}

.ie8 .utc-page .category-section .category-section-item .table .graph {
    padding-right: 15px;
}

.ie8 .utc-page .category-section .category-section-item .table .description figure {
    width: 143px;
    overflow: hidden;
}

    .ie8 .utc-page .category-section .category-section-item .table .description figure img {
        max-width: 100%;
    }

.ie8 .utc-page .category-section .category-section-item .table .description p {
    overflow: hidden;
}

/*=== search results ===*/

.ie8 .psearch-results-form .ms-sbcell input.ms-sbplain {
    width: 505px !important;
}

/*===report-graphic===*/

.ie8 .report-graphic-table table td img {
    width: 100%;
    max-width: 100%;
}

/*=== single download document ===*/

.ie8 .single-download-document .inner-document-item {
    padding: 10px 8px 0px 30px;
    background-position: 7px 12px;
    height: 75px;
}

.ie8 .social-solid-box .social-links-box a {
    padding-left: 37px;
}

.ie8 .single-download-document .download-link {
    width: 108px;
    padding-right: 27px;
}

/*=== align-bottom ===*/

.ie8 .utc-page .main-inner-content .align-bottom .content-block {
    margin-right: 0;
    width: 560px;
}

/*=== following-area ===*/

.ie8 .following-area .accordion .row .accordion-body {
    margin-bottom: 0;
    padding-bottom: 0;
}

.ie8 .following-area .area-item {
    width: 163px;
}

.ie8 .following-area .social-link a {
    margin-left: 10px;
}

.ie8 .following-area .area-item .section {
    margin-left: 13px;
}

.ie8 .following-area .area-item.pw .section {
    margin-left: 29px;
}

.ie8 .following-area .area-item .section p {
    font-size: 11px;
}

.ie8 .following-area .glance-item .glance-item {
    display: inline;
}

/*=== solid image content ====*/

.ie8 .solid-image-content {
    padding: 13px 13px 16px;
}

    .ie8 .solid-image-content .aws-control {
        width: 166px;
        display: inline-block;
    }

/*=== social solid box ===*/

.ie8 .social-solid-box {
    padding: 14px 10px 14px 14px;
}

    .ie8 .social-solid-box .left-content {
        width: 333px;
    }

    .ie8 .social-solid-box .right-content {
        width: 175px;
        padding: 10px 17px 14px 8px;
    }

/*== team list ==*/

.ie8 .utc-page .team-list {
    margin-left: -13px;
}

    .ie8 .utc-page .team-list .team-list-separator {
        margin-left: 13px;
    }

    .ie8 .utc-page .team-list .team-list-item {
        margin-left: 13px;
        margin-bottom: 13px;
    }

        .ie8 .utc-page .team-list .team-list-item.highlight {
            margin-bottom: 50px;
            width: 560px;
        }

/*=== solid video content ===*/
.ie8 .solid-video-content {
    padding: 14px 10px 14px 12px;
}

    .ie8 .solid-video-content .video-item {
        margin-right: 12px;
    }

        .ie8 .solid-video-content .video-item img {
            width: 149px;
        }

    .ie8 .solid-video-content .content {
        width: 374px;
    }

        .ie8 .solid-video-content .content h3 {
            font-size: 13px;
            margin-bottom: 14px;
            line-height: normal;
        }

        .ie8 .solid-video-content .content p {
            font-size: 9px;
            line-height: normal;
        }

/*=== ===*/
.ie8 .page-intro.middle-content {
    width: auto;
}

/* our product banners */

.ie8 .our-product-banner .banner-group .banner-item {
    width: 135.5px;
}

    .ie8 .our-product-banner .banner-group .banner-item a .title {
        height: 91px;
        width: 136px;
        font-size: 10px;
    }

/*=== job-search-result-table ===*/
.ie8 .job-search-result-table .w1 {
    width: 246px;
}

.ie8 .job-search-result-table .w2 {
    width: 178px;
}

.ie8 .job-search-result-table .w3 {
    width: 134px;
}

.ie8 .job-search-result-table td a {
    max-width: 203px;
}

.ie8 .job-search-result-table .group-items td p {
    padding-right: 15px;
}

/*=== title two cols ===*/
.ie8 .title-two-cols {
    padding: 11px 14px 21px 12px;
}

    .ie8 .title-two-cols .left-content {
        width: 235px;
    }

    .ie8 .title-two-cols .right-content {
        width: 244px;
    }

.ie8 .page-intro.content-space,
.ie8 .title-border-content p,
.ie8 .title-border-content ul {
    width: auto;
}

/*=== info-note ===*/
.ie8 .info-note {
    width: auto;
}

/*=== video gallery box ===*/
.ie8 .video-gallery-box .video-content {
    margin-left: 14px;
}

    .ie8 .video-gallery-box .video-content,
    .ie8 .video-gallery-box .video-content .video-item img {
        width: 176px;
    }

.ie8 .photo-gallery-list .row {
    padding-top: 16px;
}

.ie8 .photo-gallery-list .photo-content {
    margin: 0 0 14px 14px;
    padding: 6px;
    width: 165px;
}

    .ie8 .photo-gallery-list .photo-content figure.photo-item {
        min-height: 110px;
    }

        .ie8 .photo-gallery-list .photo-content figure.photo-item img {
            width: 100%;
        }

/*=== submit photo form ===*/
.ie8 .submit-photo-form .user-area li label {
    padding-right: 7px;
    width: 72px;
}

.ie8 .submit-photo-form .user-area li input[type="text"] {
    width: 284px;
}

.ie8 .submit-photo-form .user-area li textarea {
    width: 260px;
}

.ie8 .submit-photo-form .user-area li .aws-control {
    width: 284px;
}

.ie8 .submit-photo-form .choose-file-area .caption-text {
    width: 344px;
}

.ie8 .submit-photo-form .date-area .left,
.ie8 .submit-photo-form .date-area .right {
    width: 177px;
}

.ie8 .submit-photo-form .date-area .left {
    margin-right: 12px;
}

    .ie8 .submit-photo-form .date-area .left input[type="text"] {
        width: 175px;
    }

.ie8 .submit-photo-form .date-area .right input[type="text"] {
    width: 137px;
}

.ie8 .submit-photo-form .info-form-box {
    width: 370px;
}

.ie8 .submit-photo-form .checkbox-list label {
    width: 155px;
}

/*=== random slideshow box ===*/
.ie8 .random-slideshow-box .image-item .text {
    left: 11px;
    top: 14px;
    width: 206px;
    padding: 8px 20px 11px 11px;
    background-color: none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#50FFFFFF,endColorstr=#50FFFFFF);
}

    .ie8 .random-slideshow-box .image-item .text p {
        font-size: 15px;
        line-height: 18px;
    }

/*=== products box ===*/
.ie8 .products-box .col-1,
.ie8 .products-box .col-2 {
    width: 101px;
}

.ie8 .products-box .col-3 {
    width: 110px;
}

.ie8 .products-box .col-4 {
    width: 116px;
}

.ie8 .products-box .item-product img {
    width: 80%;
}

.ie8 .page-intro.products-page {
    width: auto;
}

/*=== event list ===*/

.ie8 .box-event-list .box-event-item .body .content {
    display: block;
}

.ie8 .box-event-list .box-event-item figure {
    width: 110px;
}

.ie8 .box-event-list .box-event-item .body .content .text,
.ie8 .box-event-list .box-event-item .body .content .links {
    display: block;
    padding: 0;
}

/*=== products table ===*/

.ie8 .product-results-table .w1,
.ie8 .products-table .table-wrapper .w1 {
    width: 143px;
}

.ie8 .product-results-table .w2,
.ie8 .products-table .table-wrapper .w2 {
    padding-left: 10px;
    width: 215px;
}
/*43*/
.ie8 .product-results-table .w3,
.ie8 .products-table .table-wrapper .w3 {
    padding-left: 26px;
    width: 166px;
}

/*=== grey h menu ===*/
.ie8 .utc-page .grey-hmenu {
    padding: 16px 0px 18px 9px;
}


    .ie8 .utc-page .grey-hmenu .options .bis {
        width: 137px;
    }

    .ie8 .utc-page .grey-hmenu .options .pw {
        padding-left: 14px;
        width: 123px;
    }

    .ie8 .utc-page .grey-hmenu .options .utas {
        padding-left: 14px;
        width: 122px;
    }

    .ie8 .utc-page .grey-hmenu .options .sikorsky {
        padding-left: 14px;
    }

/*=== box link arrow ===*/
.ie8 .box-link-arrow.w1 {
    width: 272px;
}

/*=== .page-intro w ===*/
.ie8 .page-intro.w1 {
    width: auto;
}

/*=== ===*/
.ie8 .table-title-border .w1 {
    width: 144px;
}

.ie8 .table-title-border .w2 {
    width: 223px;
}

.ie8 .table-title-border .w3 {
    width: 192px;
}

/*=== sitemap nav ===*/
.ie8 .utc-page .sitemap-nav .sitemap-col.col-1 {
    width: 135px;
    padding-right: 10px;
}

.ie8 .utc-page .sitemap-nav .sitemap-col.col-2 {
    width: 133px;
    padding-right: 10px;
}

.ie8 .utc-page .sitemap-nav .sitemap-col.col-3 {
    width: 134px;
    padding-right: 10px;
}

.ie8 .utc-page .sitemap-nav .sitemap-col.col-4 {
    width: 126px;
}

/*=== title content area ===*/
.ie8 .title-content-area .item > p {
    width: auto;
}

.ie8 .title-content-area .image-item {
    margin-top: 16px;
}

.ie8 .title-content-area .item {
    margin-bottom: 33px;
}

    .ie8 .title-content-area .item > p {
        width: auto;
    }

.ie8 .title-content-area .solid-box:first-child {
    border-right: 16px solid #fff;
}

.ie8 .title-content-area .solid-box h3 {
    margin-bottom: 20px;
    min-height: 30px;
}

.ie8 .title-content-area .solid-box {
    padding: 15px 16px 20px;
}

/*== filter-list ==*/

.ie8 .filter-list li {
    width: 121px;
    padding-right: 10px;
}

/* Performance Highlights Box */

.ie8 .utc-page .performance-highlights-box {
    padding: 0 0 5px 0;
    min-height: 128px;
}

    .ie8 .utc-page .performance-highlights-box.no-min-height {
        min-height: 0px;
    }

    .ie8 .utc-page .performance-highlights-box header {
        height: 36px;
        margin-bottom: 0;
    }

    .ie8 .utc-page .performance-highlights-box section {
        width: 132px;
    }

    .ie8 .utc-page .performance-highlights-box strong {
        font-size: 23px;
    }

    .ie8 .utc-page .performance-highlights-box p {
        font-size: 10px;
    }

/*=== image list box ===*/
.ie8 .image-list-box {
    padding: 12px 11px 11px;
}

    .ie8 .image-list-box .image-list li,
    .ie8 .image-list-box .image-list li.last-child {
        margin-left: 15px;
    }

        .ie8 .image-list-box .image-list li img {
            width: 123px;
            height: auto;
        }


/*== history box ==*/
.ie8 .history-box .inner-history-box {
    width: 748px;
}

.ie8 .history-box .item-content {
    width: 328px;
    padding: 12px;
    margin-bottom: 19px;
}

    .ie8 .history-box .item-content .content {
        width: 181px;
    }

        .ie8 .history-box .item-content .content h3,
        .ie8 .history-box .item-content .content p,
        .ie8 .history-box .item-content .more-content p {
            font-size: 11px;
        }

        .ie8 .history-box .item-content .content h3 {
            margin-bottom: 1px;
        }

    .ie8 .history-box .item-content .image img {
        width: 125px;
    }

    .ie8 .history-box .item-content.first-col .arrow-wrapper {
        right: -29px;
    }

    .ie8 .history-box .item-content .arrow-wrapper {
        width: 29px;
        left: -29px;
        top: 96px;
    }

/* BANNER */
.ie8 .utc-page .top-interior-banner .inner-banner,
.ie8 .utc-page .main-inner-content {
    margin: 0 auto;
    width: 748px;
}

.ie8 .utc-page .top-interior-banner .inner-banner {
    padding: 46px 0 0;
    min-height: 234px;
}

.ie8 .utc-page .top-interior-banner article {
    width: 385px;
}

    .ie8 .utc-page .top-interior-banner article.small {
        width: 340px;
    }

.ie8 .utc-page .top-interior-banner p {
    line-height: 20px;
}

.ie8 .utc-page .top-interior-banner .media {
    width: 286px;
}

.ie8 .utc-page .top-interior-banner .video-item {
    width: 280px;
}

    .ie8 .utc-page .top-interior-banner .video-item .play-icon {
        background-image: url(../images/play-icon/play-tablet.png)/*tpa=http://cdn.www.utc.com/Style Library/utc/images/play-icon/play-tablet.png*/;
        display: block;
        cursor: pointer;
        width: 44px;
        height: 44px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -22px 0 0 -22px;
        background-size: 44px 44px;
    }

.ie8 .utc-page .top-interior-banner .image-item img {
    width: 280px;
}

/* RIGHT CONTENT */
.ie8 .utc-page .body-content,
.ie8 .utc-page .body-2cols,
.ie8 .body-content-top {
    width: 560px;
}

    .ie8 .utc-page .body-2cols .body-content {
        width: 370px;
    }

    .ie8 .utc-page .body-2cols .aside-right {
        width: 180px;
    }

/* ===== Homepage Styles ========================================================================== */

/* Announcement Box*/
.ie8 .utc-page .announcement-box .inner-announcement-box {
    padding-left: 24px;
    padding-right: 59px;
    width: 685px;
}

.ie8 .utc-page .announcement-box .announcement-content {
    width: 445px;
    /*width: 100%;*/
}

.ie8 .utc-page .announcement-box .image {
    width: 213px;
    margin-right: 0;
}

.ie8 .utc-page .announcement-box .close-announcement-box {
    right: 20px;
}

/* Home Mosaic*/

.ie8 .utc-page .home-mosaic .inner-mosaic {
    width: 768px;
}

.ie8 .utc-page .home-mosaic .item {
    width: 256px;
    height: 178px;
}

.ie8 .utc-page .home-mosaic .bottom-area .right-text {
    line-height: normal;
    position: static;
}

.ie8 .utc-page .home-mosaic .item.active .bottom-area .right-text {
    margin-bottom: 8px;
    margin-top: -4px;
}

.ie8 .utc-page .home-mosaic .content h3 {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 16px;
}

.ie8 .utc-page .home-mosaic .bottom-area p {
    margin-bottom: 7px;
}

.ie8 .utc-page .home-mosaic .content h4 {
    font-size: 12px;
}

.ie8 .utc-page .home-mosaic.active .row .item {
    height: 91px;
}

.ie8 .utc-page .home-mosaic.active .row.active .item {
    width: 195px;
    height: 265px;
}

    .ie8 .utc-page .home-mosaic.active .row.active .item.active {
        width: 384px;
    }

    .ie8 .utc-page .home-mosaic.active .row.active .item img,
    .ie8 .utc-page .home-mosaic.active .row.active .item.is4 .content .picture img {
        width: 380px;
    }

.ie8 .utc-page .home-mosaic .item.is1and2,
.ie8 .utc-page .home-mosaic.active .item.is1and2,
.ie8 .utc-page .home-mosaic .item.is4and5,
.ie8 .utc-page .home-mosaic.active .item.is4and5 {
    width: 512px;
}

.ie8 .utc-page .home-mosaic .row.active .item.active.is1and2 {
    width: 576px;
}

.ie8 .utc-page .home-mosaic .row .item.is2 .content .picture {
    left: -35px;
}

.ie8 .utc-page .home-mosaic .row .item.is3 .content .picture img,
.ie8 .utc-page .home-mosaic.active .row.active .item.is3 .content .picture img {
    width: 100%;
}

.ie8 .utc-page .home-mosaic .row .item.is3 .content .picture {
    left: 0;
    width: 256px;
}

.ie8 .utc-page .home-mosaic.active .row .item.is3 .content .picture {
    top: -45px;
    left: 0;
}

.ie8 .utc-page .home-mosaic.active .row.active .item.is3 .content .picture {
    left: -90px;
    width: 383px;
}

.ie8 .utc-page .home-mosaic.active .row.active .item.active.is3 .content .picture {
    left: 0;
}

.ie8 .utc-page .home-mosaic.active .row .item.is4 .content .picture {
    top: -60px;
}

.ie8 .utc-page .home-mosaic.active .row .item.is2 .content .picture {
    top: -20px;
}

.ie8 .utc-page .home-mosaic.active .row.active .item.is1 .content .picture {
    left: -104px;
}

.ie8 .utc-page .home-mosaic.active .row .item.is1and2 .content .is1 .picture {
    top: -55px;
}

.ie8 .utc-page .home-mosaic.active .row.active .item.is1and2 .content .is1 .picture img {
    width: 450px;
}

.ie8 .utc-page .home-mosaic.active .row.active .item.is5 .content .picture {
    left: -151px;
}

.ie8 .utc-page .home-mosaic.active .row.active .item.active.is1 .content .picture,
.ie8 .utc-page .home-mosaic.active .row.active .item.active.is5 .content .picture {
    left: 0;
}

.ie8 .utc-page .home-mosaic .item.is3,
.ie8 .utc-page .home-mosaic.active .item.is3,
.ie8 .utc-page .home-mosaic .item.is4and5 .is4,
.ie8 .utc-page .home-mosaic.active .item.is4and5 .is4,
.ie8 .utc-page .home-mosaic .item.is4and5 .is5,
.ie8 .utc-page .home-mosaic.active .item.is4and5 .is5 {
    width: 256px;
}

.ie8 .utc-page .home-mosaic.active .row .item.is4and5 {
    width: 514px;
}

    .ie8 .utc-page .home-mosaic.active .row .item.is4and5 .is5 .picture {
        top: -50px;
    }

.ie8 .utc-page .home-mosaic.active .row.active .item.is4and5 {
    width: 386px;
}

    .ie8 .utc-page .home-mosaic.active .row.active .item.is4and5 .is4,
    .ie8 .utc-page .home-mosaic.active .row.active .item.is4and5 .is5 {
        width: 192px;
    }

        .ie8 .utc-page .home-mosaic.active .row.active .item.is4and5 .is4 .picture {
            left: -150px;
        }

.ie8 .utc-page .home-mosaic.active .row.active .item.active.is4and5 {
    width: 574px;
}

    .ie8 .utc-page .home-mosaic.active .row.active .item.active.is4and5 .is4,
    .ie8 .utc-page .home-mosaic.active .row.active .item.active.is4and5 .is5 {
        width: 286px;
    }

        .ie8 .utc-page .home-mosaic.active .row.active .item.active.is4and5 .is4 .picture {
            left: -50px;
        }

        .ie8 .utc-page .home-mosaic.active .row.active .item.active.is4and5 .is5 .picture {
            left: -30px;
        }

.ie8 .utc-page .home-mosaic .bottom-area .bottom-text {
    width: 550px;
}

.ie8 .utc-page .home-mosaic .item.is3.active .bottom-area .bottom-text {
    width: 370px;
    /*min-height:85px;*/
}

.ie8 .slideshow.mosaic-info h1 {
    margin-bottom: 36px;
}

.ie8 .slideshow.mosaic-info h2 {
    margin-bottom: 5px;
}

.ie8 .slideshow.mosaic-info figure {
    margin-bottom: 15px;
}

.ie8 .slideshow.mosaic-info .slideshow-container {
    width: 720px;
}

    .ie8 .slideshow.mosaic-info .slideshow-container .info-column {
        margin-right: 15px;
    }

        .ie8 .slideshow.mosaic-info .slideshow-container .info-column h2 {
            min-height: 28px;
        }

        .ie8 .slideshow.mosaic-info .slideshow-container .info-column .info-mosaic-item {
            width: 130px;
            margin-right: 11px;
        }

            .ie8 .slideshow.mosaic-info .slideshow-container .info-column .info-mosaic-item.item-separator {
                margin-right: 22px;
            }

/* Home Slider */
.ie8 .utc-page .home-slider {
    margin-bottom: 20px;
}

    .ie8 .utc-page .home-slider .inner-wrapper,
    .ie8 .utc-page .home-slider .slider-wrapper,
    .ie8 .utc-page .home-slider .background-images,
    .ie8 .utc-page .home-slider .inner-wrapper .image-item {
        width: 750px;
        height: 313px;
    }

    .ie8 .utc-page .home-slider .grid .grid-item {
        width: 248px;
        height: 155px;
    }

    .ie8 .utc-page .home-slider .grid .text {
        padding: 10px 19px 0 10px;
    }

        .ie8 .utc-page .home-slider .grid .text h3 {
            font-size: 16px;
            margin-bottom: 12px;
        }

        .ie8 .utc-page .home-slider .grid .text p {
            font-size: 9px;
        }

    .ie8 .utc-page .home-slider .grid .action-link {
        font-size: 12px;
        padding-left: 7px;
    }

    .ie8 .utc-page .home-slider .text-box {
        width: 304px;
        min-height: 144px;
        left: 11px;
        top: 11px;
    }

        .ie8 .utc-page .home-slider .text-box .text-box-content {
            padding: 10px 14px 45px;
        }

    .ie8 .utc-page .home-slider .text-box-content h2 {
        font-size: 15px;
    }

    .ie8 .utc-page .home-slider .text-box-content h3 {
        font-size: 16px;
    }

    .ie8 .utc-page .home-slider .caption {
        min-height: 78px;
        width: 369px;
    }

        .ie8 .utc-page .home-slider .caption .text {
            padding: 11px 55px 11px 11px;
        }

            .ie8 .utc-page .home-slider .caption .text p {
                font-size: 11px;
            }

    .ie8 .utc-page .home-slider .caption,
    .ie8 .utc-page .home-slider .camera-icon {
        left: 11px;
        bottom: 45px;
    }


/*banner slider*/
.ie8 .utc-page .slider .inner-wrapper {
    width: 768px;
}

    .ie8 .utc-page .slider .inner-wrapper .background-images {
        margin: 0;
        width: 768px;
        height: 259px !important;
    }

.ie8 .utc-page .slider .slider-nav {
    left: 0;
    right: 0;
    padding-left: 24px;
    height: 50px;
}

    .ie8 .utc-page .slider .slider-nav a {
        margin-left: 50px;
        font-size: 14px;
        line-height: 50px;
    }

.ie8 .utc-page .slider .text-box {
    top: 30px;
    left: 10px;
}

.ie8 .utc-page .slider .text-box-content .text-slider {
    min-height: 95px;
}

    .ie8 .utc-page .slider .text-box-content .text-slider p {
        margin-bottom: 10px;
    }

.ie8 .utc-page .slider .camera-icon,
.ie8 .utc-page .slider .caption {
    left: 10px;
    bottom: 50px;
}

.ie8 .utc-page .body-2cols .slider {
    margin-bottom: 14px;
}

/*=== random slideshow box ===*/
.ie8 .random-slideshow-box .image-item img {
    min-width: 560px;
}

/*=== image only ===*/
.ie8 .utc-page figure.image-only img {
    min-width: 560px;
}

/* Gray boxes*/
.ie8 .utc-page .utc-homepage .gray-boxes-wrapper {
    width: 750px;
    margin-bottom: 20px;
}

.ie8 .utc-page .gray-boxes-wrapper .gray-box-text .more-link {
    bottom: 18px;
}

.ie8 .utc-page .utc-homepage .gray-boxes-wrapper .gray-box-image {
    width: 561px;
}

.ie8 .utc-page .utc-homepage .gray-boxes-wrapper .gray-box-image {
    width: 561px;
}

.ie8 .utc-page .gray-boxes-wrapper .gray-box-text {
    width: 180px;
    min-height: 216px;
}

    .ie8 .utc-page .gray-boxes-wrapper .gray-box-text .content {
        padding: 10px 2px 40px 10px;
    }

.ie8 .utc-page .gray-boxes-wrapper .gray-box-image .news-item {
    width: 181px;
    margin-left: 9px;
}

    .ie8 .utc-page .gray-boxes-wrapper .gray-box-image .news-item:first-child {
        margin-left: 0;
    }

    .ie8 .utc-page .gray-boxes-wrapper .gray-box-image .news-item .content {
        min-height: 198px;
        padding: 9px 9px 0 11px;
    }

    .ie8 .utc-page .gray-boxes-wrapper .gray-box-image .news-item figure {
        margin-bottom: 3px;
    }

    .ie8 .utc-page .gray-boxes-wrapper .gray-box-image .news-item p {
        width: 158px;
    }

/* share area */
.ie8 .utc-page .shared-area {
    width: 750px;
}

    .ie8 .utc-page .shared-area .twitter-slider {
        width: 560px;
    }

    .ie8 .utc-page .shared-area .social-links {
        width: 180px;
    }

/*twitter slider*/

.ie8 .utc-page .body-2cols .slider .inner-wrapper,
.ie8 .utc-page .body-2cols .slider .inner-wrapper .background-images {
    width: 560px;
}

/* ===== Article Styles ========================================================================== */

.ie8 .utc-page .related-stories {
    margin-left: 0px;
}

/*== content block ==*/
.ie8 .utc-page .content-block .video-player figcaption {
    width: 523px;
}

.ie8 .utc-page .content-block p {
    margin-bottom: 19px;
}

/*== slide-show ==*/
.ie8 .utc-page .slide-show {
    margin-right: 20px;
    margin-bottom: 11px;
}

/* ===== SlideShow Styles ========================================================================== */

.ie8 .slideshow .slideshow-container {
    margin-left: -375px;
    padding: 20px;
    width: 710px;
}

.ie8 .slideshow .slideshow-images {
    height: 473px;
}

    .ie8 .slideshow .slideshow-images .item-list .slideshow-item {
        width: 710px;
    }

.ie8 .slideshow .slideshow-video {
    margin: 0 -20px -20px;
}

.ie8 .slideshow .close-link {
    top: -5px;
    right: -5px;
}

.ie8 .slideshow .prev-link,
.ie8 .slideshow .next-link {
    width: 60px;
    height: 60px;
    margin-top: -60px;
    background-color: rgba(0, 0, 0, 0.5);
}

.ie8 .slideshow .prev-link {
    left: 20px;
}

.ie8 .slideshow .next-link {
    right: 20px;
}

/*at-a-glance*/
.ie8 .utc-page .wide-content {
    width: 100%;
}

.ie8 .utc-page .sticky-nav .sticky-nav-inner {
    width: 580px;
    margin: 0 -10px;
}

.ie8 .utc-page .wide-content .sticky-nav {
    width: auto;
}

    .ie8 .utc-page .wide-content .sticky-nav .sticky-nav-inner {
        width: 768px;
    }

.ie8 .utc-page .sticky-nav a {
    font-size: 9px;
}

.ie8 .utc-page .sticky-nav .sticky-nav-cell span {
    font-size: 9px;
}

.ie8 .utc-page .sticky-nav .sticky-nav-cell a {
    font-size: 8px;
}

.ie8 .utc-page .glance-item {
    position: relative;
    overflow: hidden;
    margin-left: -10px;
    margin-right: -10px;
    padding-bottom: 20px;
    min-height: 0;
    margin-bottom: 20px;
}

.ie8 .wide-content .accordion .glance-item figure.image-only {
    margin-bottom: 0;
}

.ie8 .utc-page .glance-item .glance-item {
    padding-bottom: 0;
    margin: 0 0 20px;
}

    .ie8 .utc-page .glance-item .glance-item:last-child {
        margin-bottom: -20px;
    }

.ie8 .utc-page .glance-item .title-area {
    width: 748px;
    margin: 0 auto 10px;
}

.ie8 .utc-page .glance-item .description p {
    font-size: 12px;
}

.ie8 .utc-page .glance-item .info-box .number-box .number {
    font-size: 18px;
}

.ie8 .utc-page .glance-item img {
    max-width: 100%;
}

.ie8 .utc-page .glance-item .description {
    position: static;
    left: 0;
    bottom: inherit;
    float: left;
    width: 255px;
}

    .ie8 .utc-page .glance-item .description .content {
        padding: 20px 9px;
        padding-top: 32px;
    }

.ie8 .utc-page .glance-item .info-box {
    position: static;
    right: inherit;
    bottom: inherit;
    float: right;
    margin-left: 3px;
    width: 508px;
}

.ie8 .utc-page .three-boxes-investor {
    margin-bottom: 33px;
}

.ie8 .utc-page .info-box.gray h3 {
    margin-bottom: 9px;
}

.ie8 .utc-page .info-box p.date-info {
    margin-bottom: 12px;
}

.ie8 .utc-page .info-box .tax-info .up-arrow {
    font-size: 17px;
}

.ie8 .utc-page .info-box .tax-info {
    margin-bottom: 18px;
}

.ie8 .utc-page .glance-item article {
    /* min-height: 416px; */
}

.ie8 .utc-page .glance-item .description,
.ie8 .utc-page .glance-item .info-box {
    height: auto;
}

    .ie8 .utc-page .glance-item .info-box .content {
        padding: 30px 10px 20px 0;
    }

    .ie8 .utc-page .glance-item .description .more-link {
        max-width: 230px;
    }

    .ie8 .utc-page .glance-item .info-box .facts-number {
        float: left;
        margin-right: 10px;
        width: 250px;
    }

    .ie8 .utc-page .glance-item .info-box .facts-box {
        float: none;
        margin: 0;
        width: 250px;
    }

        .ie8 .utc-page .glance-item .info-box .facts-box .download-link {
            left: 260px;
            max-width: 232px;
        }

    .ie8 .utc-page .glance-item .info-box .number-box {
        float: none;
        width: 250px;
        overflow: hidden;
    }

        .ie8 .utc-page .glance-item .info-box .number-box p {
            float: left;
            width: 75px;
            padding-right: 10px;
        }

            .ie8 .utc-page .glance-item .info-box .number-box p:last-child {
                padding-right: 0;
            }

    .ie8 .utc-page .glance-item .info-box .news-box {
        float: left;
        margin-right: 10px;
        width: 145px;
    }

    .ie8 .utc-page .glance-item .info-box .brands-box {
        float: left;
        width: 80px;
    }

.ie8 .utc-page .performance-highlights-box header {
    height: auto;
    padding-bottom: 10px;
}

/* inline filter*/
.ie8 .inline-filter .desktop-filter a {
    line-height: 17px;
}

/*=== inner-mega-nav ===*/
.ie8 .inner-mega-nav .content {
    border:1px solid #000;
    overflow: hidden;
    padding: 7px 9px 8px;
}

.ie8 .inner-mega-nav h3,
.ie8 .inner-mega-nav h3 a {
    font-size: 11px;
}

.ie8 .inner-mega-nav .content .col-group h4,
.ie8 .inner-mega-nav .content .col-group h4 a {
    font-size: 10px;
}

.ie8 .inner-mega-nav .content .col-group .image img {
    height: 60px;
    width: 88px;
}

.ie8 .inner-mega-nav .content .col-group.first-child {
    width: 186px;
}

.ie8 .inner-mega-nav .content .col-group.second-child {
    width: 186px;
}

.ie8 .inner-mega-nav .content .col-group.last-child {
    width: 88px;
}

.ie8 .inner-mega-nav .content .col-group.first-child section {
    width: 88px;
}

.ie8 .inner-mega-nav .content .col-group.second-child section {
    width: 88px;
}

.ie8 .inner-mega-nav .content .col-group {
    margin-left: 41px;
}

    .ie8 .inner-mega-nav .content .col-group section {
        margin-right: 9px;
    }

/*=== numbers box ===*/
.ie8 .numbers-box .content p strong {
    font-size: 23px;
}

.ie8 .numbers-box .content p {
    font-size: 9px;
}

/*=== title-image-border ====*/
.ie8 .title-image-border .content .left-section {
    width: 351px;
    padding-right: 14px;
}

.ie8 .title-image-border .content .right-section {
    padding-left: 7px;
}

.ie8 .title-image-border .content h4 {
    font-size: 11px;
    width: 186px;
}

/* INVESTOR */
.ie8 .utc-page .info-box {
    width: 174px;
    min-height: 239px;
    margin-left: 15px;
}

    .ie8 .utc-page .info-box.white {
        width: 176px;
    }

    .ie8 .utc-page .info-box:first-child {
        margin-left: 0;
    }

    .ie8 .utc-page .info-box .info-box-content {
        padding: 15px 8px 10px 10px;
    }

    .ie8 .utc-page .info-box .tax-info p b {
        font-size: 19px;
    }

    .ie8 .utc-page .info-box .tax-info p {
        font-size: 13px;
    }

    .ie8 .utc-page .info-box .tax-table {
        font-size: 11px;
    }

        .ie8 .utc-page .info-box .tax-table td:first-child {
            white-space: nowrap;
            /*letter-spacing: -1px;*/
        }

.ie8 .utc-page .image-content-box figure {
    width: 103px;
    height: 68px;
}

/* blue quote callout boxes */
.ie8 .quote-callout-container div {
    width: 240px;
    height: 200px;
}

/* news center */
.ie8 .news-list article {
    padding-left: 154px;
}

    .ie8 .news-list article.small {
        padding-left: 124px;
    }

    .ie8 .news-list article figure.graph {
        margin-left: -154px;
    }

    .ie8 .news-list article.small figure.graph {
        margin-left: -124px;
    }

.ie8 figure .caption-box .caption-content {
    width: 233px;
}

.ie8 .utc-page .body-content figure .caption-box .caption-content {
    width: 503px;
}

.ie8 .utc-page .glance-item figure .caption-box .caption-content {
    width: 693px;
}

/*=== stock info table ===*/

.ie8 .stock-info-table th {
    font-size: 9px;
    line-height: normal;
}

.ie8 .stock-info-table td {
    font-size: 9px;
}

.ie8 .top-large-image .text-box {
    width: 205px;
}

/*=== hidden ==========================*/

#accessibility-navigation,
#s4-ribbonrow,
#admin-menu,
#welcome-menu,
.utc-page #s4-statusbarcontainer {
    visibility: hidden;
    display: none;
}

.utc-page {
}

    .utc-page #header,
    .utc-page #header .menu-secondary,
    .utc-page #header .wallstreet-box,
    .utc-page #header .search-icon-link,
    .utc-page #header .bars-icon-link,
    .utc-page #header .close-search-link,
    .utc-page #header nav.menu-main,
    .utc-page #header .mega-menu,
    .utc-page #header #search,
    .utc-page .top-interior-banner figure,
    .utc-page .top-interior-banner .image-item,
    .utc-page .top-interior-banner .video-item,
    .utc-page .sticky-nav-wrapper,
    .survey-box {
        visibility: hidden;
        display: none;
    }

#main.utc-page {
    clear: both;
    padding-top: 20px;
}

    #main.utc-page #header {
        position: relative;
    }

.utc-page .top-interior-banner .inner-banner {
    width: auto;
    min-height: 0;
    margin: 0;
    padding: 10px 0;
}

.utc-page #header .body {
    height: auto;
}

.utc-page #footer {
    visibility: hidden;
    display: none;
}

.utc-page .page-title.blue,
.utc-page nav.breadcrumb,
.utc-page .social-links,
.utc-page .aside-left,
.utc-page .aside-right {
    visibility: hidden;
    display: none;
}

.utc-page .main-inner-content,
.utc-page .body-content {
    float: none;
    width: auto;
}

#main.utc-page #mobile-navigation,
#main article.active {
    padding-top: 0!important;
}

.utc-page .top-interior-banner {
}

    .utc-page .top-interior-banner header,
    .utc-page .top-interior-banner article {
        float: none;
    }

    .utc-page .top-interior-banner .image-item {
    }

.visible-print {
    display: block;
}