
/* ***** Loading file => yui/reset/reset-min.css */
/*
Copyright (c) 2009, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.7.0
*/
html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{*font-size:100%;}
/* ***** Loading file => yui/fonts/fonts-min.css */
/*
Copyright (c) 2009, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.7.0
*/
body{font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}select,input,button,textarea,button{font:99% arial,helvetica,clean,sans-serif;}table{font-size:inherit;font:100%;}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}
/* ***** Loading file => com/forddirect/ng/base-min.css */
html{overflow-y:scroll;background:#fff;color:#000}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{font-size:16px;font-family:arial;margin:auto}hr{clear:both;background-color:#d0d1d1;color:#d0d1d1;width:100%;height:1px;border:0;margin:0 0 1em 0}a{text-decoration:none;cursor:pointer}em{font-weight:bold}strong{font-weight:bold}sup{font-style:italic;font-size:70%;vertical-align:text-top}div#page{background-repeat:no-repeat;background-position:center top;min-width:960px;max-width:1200px;margin:0 auto;position:relative}div#header{width:960px;z-index:100005}div#view-container{background-repeat:no-repeat;background-position:center top}#page #flip-container{z-index:100}.ie7 #view-container div#view{position:static}.ie7 #view-container div#view-bd .common-links{top:0}.view-bd,#view-hd,#view-ft,div#footer{width:100%}#view-hd{margin:0 auto;width:960px}div#view,#view-ft{margin:0 auto;width:960px;clear:both}#view-ft{position:relative;z-index:30;padding-bottom:20px}div#header,#view-hd{width:960px;margin-left:-480px;position:absolute;top:0;left:50%}div#view{position:relative;width:960px;padding-top:92px}div#view-social{position:relative;overflow:visible;width:960px;height:0;margin:0 auto}div#view-social div.wrap{position:absolute;bottom:1px;right:0;width:250px}.view-bd{margin:43px 0}body.ie7 .view-bd{margin-top:132px}#view-hd{top:83px}.view-bd .stacked-cap{display:block;height:4px}.view-bd .stacked-cap-top{background:0}.view-bd .stacked-cap-bottom{background:0}.view-bd .stacked-box{background:0;color:#000}.view-bd-shadow{background-color:#000;opacity:.2}body.ie7 .view-bd-shadow{filter:alpha(opacity = 20)}div#footer{border-top:4px solid #5e6265;background-color:#7f848a;padding:0 0 60px;clear:both;position:relative;z-index:30}a img{text-decoration:none}div#flip-container,div.flip-container{height:0;left:50%;margin-left:-480px;position:absolute;top:0;visibility:hidden;width:960px}body.ie7 div#flip-container{z-index:10;zoom:1}.footnoteIndicator{vertical-align:text-top;font-size:70%;font-weight:normal}.skin-base{overflow-x:visible}body.ie7 div#disclaimer-flip{display:none}body.ie7 div#disclaimer-flip.active{display:block}.inline-block{display:-moz-inline-stack;display:inline-block;vertical-align:top}body.ie7 .inline-block{display:inline;zoom:1}.inline-block>div,.inline-block>ul{position:relative}body.ie7 .inline-block>div,body.ie7 .inline-block>ul{position:static}div.spacer{clear:both;height:1px;overflow:hidden}.pngfixed-back{z-index:0;position:relative;width:1000px;height:1000px}.pngfixed-content{z-index:1;position:relative;float:left;clear:both;width:100%}.pngfixed-container{overflow:hidden;position:relative;width:100%;height:100%;float:left}#yui-history-iframe{position:absolute;top:0;left:0;width:1px;height:1px;visibility:hidden}.offsite-link{background:transparent url(../ngtemplates/ngassets/img/shared/icons/icon_linkout.gif)/*tpa=http://www.ford.com/ngtemplates/ngassets/img/shared/icons/icon_linkout.gif*/ no-repeat scroll 100% 50%;padding-right:13px}.comp-underlay #page{background-repeat:no-repeat;background-position:0 0}.comp-underlay #view,.comp-underlay #header,.comp-underlay #footer{opacity:.5;filter:alpha(opacity=50)}.view-model-and-options-trim-selection .modal_div,.view-model-and-options-detailed-compare .modal_div,.view-models-and-options-trim-details .modal_div{position:absolute;z-index:2;left:0;top:132px;width:960px;background:#fff;opacity:.6;filter:alpha(opacity=60)}.wf-loading body{visibility:hidden}iframe.dart{visibility:hidden;height:0;width:0}.fdcc_spc_active #header{z-index:100001}
/* ***** Loading file => com/forddirect/ng/base_print-min.css */
@media print{div#header{display:none}#view-hd{display:none}#view-ft #nameplate-footer{display:none}div#footer{display:none}.ng-widget.disclaimers{display:none}}
/* ***** Loading file => com/forddirect/ng/effects/effects-min.css */
.cappedBox .cap{display:block;overflow:hidden;padding:3px 0 0;width:100%;background-repeat:no-repeat}.cappedBox div{zoom:normal;*zoom:1}.cappedBox .cap.top{position:relative}.cappedBox .box{padding:0;_padding:3px 0!important;width:100%;overflow:hidden;background-repeat:repeat;_position:static}.cappedBox .box .content{padding:0;position:relative;z-index:2;*zoom:1}.cappedBox .box-bg{position:absolute;top:0;left:0;right:0;bottom:0;z-index:1;_display:none}.cappedBox .cap.bottom{line-height:0;min-height:3px;*height:3px}.matryoshkaRounding{background-color:transparent}.matryoshkaRounding .content{zoom:normal;*zoom:1}.matryoshkaRounding .bl{background:no-repeat scroll 0 100%;text-align:center;width:auto}.matryoshkaRounding .br{background:none no-repeat scroll 100% 100%}.matryoshkaRounding .tl{background:no-repeat scroll 0 0}.matryoshkaRounding .tr{background:transparent url(../ngtemplates/ngassets/img/shared/top-right-button.gif)/*tpa=http://www.ford.com/ngtemplates/ngassets/img/shared/top-right-button.gif*/ no-repeat scroll 100% 0;padding:5px}div.cssRounding{background:transparent}div.cssRounding div{zoom:normal;*zoom:1}.cssRounding .cap{display:block;overflow:hidden;height:1px;font-size:1px;border:1px solid;border-width:0 1px;*zoom:1}.cssRounding .cap.rr0{border-width:1px 0 0;height:0}.cssRounding .innerHTML{display:block;padding:0 1px;border:0 solid;border-width:0 1px}.cssRounding.radius-5 .rr0{margin:0 5px}.cssRounding.radius-5 .rr1{margin:0 3px;border-width:0 2px}.cssRounding.radius-5 .rr2{margin:0 2px}.cssRounding.radius-5 .rr3{margin:0 1px;height:2px}.cssRounding.radius-5 .rr4{display:none}.cssRounding.radius-4 .rr0{margin:0 4px}.cssRounding.radius-4 .rr1{margin:0 2px;border-width:0 2px}.cssRounding.radius-4 .rr2{display:none}.cssRounding.radius-4 .rr3{margin:0 1px;height:2px}.cssRounding.radius-3 .rr0{margin:0 3px}.cssRounding.radius-3 .rr1{margin:0 2px;border-width:0 1px}.cssRounding.radius-3 .rr2{margin:0 1px;height:1px}.cssRounding.radius-2 .rr0{margin:0 2px}.cssRounding.radius-2 .rr1{margin:0 1px;height:1px}.cssRounding.radius-1 .rr0{margin:0 1px}.liquidRounding{width:100%}.liquidRounding .content{display:block;margin:0;border:0 solid black;border-width:0}.liquidRounding .quoin{font-size:0;display:block}div.stacked-cap{background-repeat:no-repeat;height:4px;line-height:1px;font-size:1px;*zoom:1}.fixedHeightButton{height:20px;line-height:20px}.fixedHeightButton a{background:no-repeat scroll left top;height:100%;position:relative;display:block;cursor:pointer}.fixedHeightButton a .anchor-content{background:no-repeat scroll right top;display:block;position:relative;height:100%}.fixedHeightButton .anchor-content em{white-space:nowrap;overflow:hidden;_overflow-x:visible;_overflow-y:hidden;*zoom:1}.slidingDoors,.slidingDoors .door,.slidingDoors .doorstop{display:block;height:4px}.slidingDoors .doorstop{float:left;background:none scroll no-repeat right top}.slidingDoors .door{background:none scroll no-repeat left top}.stacked-cap-bottom .doorstop{background-position:right bottom}.stacked-cap-bottom .door{background-position:left bottom}.bgText{white-space:nowrap;display:block}.bgText .bg{background-repeat:no-repeat;background-position:top left;height:100%;font-size:1px}.bgText .content{background-repeat:no-repeat;background-position:right 0;height:100%;display:-moz-inline-block}.floating-quoins{position:static}.floating-quoins .quoin{position:absolute;width:4px;height:4px;font-size:1px;line-height:1px;*zoom:1}.floating-quoins .quoin.tl{top:0;left:0;background-position:left top}.floating-quoins .quoin.tr{top:0;right:0;background-position:right top}.floating-quoins .quoin.br{bottom:0;right:0;background-position:right bottom}.floating-quoins .quoin.bl{bottom:0;left:0;background-position:left bottom}
/* ***** Loading file => yui-skins/assets/skins/fmc/autocomplete-min.css */
.yui-skin-fmc .yui-ac{position:relative;font-family:arial;font-size:100%}.yui-skin-fmc .yui-ac-input{position:absolute;width:100%}.yui-skin-fmc .yui-ac-container{position:absolute;top:1.6em;width:100%}.yui-skin-fmc .yui-ac-content{position:absolute;width:100%;border:1px solid #808080;background:#fff;overflow:hidden;z-index:9050}.yui-skin-fmc .yui-ac-shadow{position:absolute;margin:.3em;width:100%;background:#000;-moz-opacity:.10;opacity:.10;filter:alpha(opacity=10);z-index:9049}.yui-skin-fmc .yui-ac iframe{opacity:0;filter:alpha(opacity=0);padding-right:.3em;padding-bottom:.3em}.yui-skin-fmc .yui-ac-content ul{margin:0;padding:0;width:100%}.yui-skin-fmc .yui-ac-content li{margin:0;padding:2px 5px;cursor:default;white-space:wrap;list-style:none;zoom:1}.yui-skin-fmc .yui-ac-content li.yui-ac-prehighlight{background:#b3d4ff}.yui-skin-fmc .yui-ac-content li.yui-ac-highlight{background:#426fd9;color:#FFF}
/* ***** Loading file => com/forddirect/ng/widgets/autocomplete/autocomplete-min.css */

/* ***** Loading file => com/forddirect/ng/widgets/sitesearch-input/sitesearch-input-min.css */
.sitesearch-input .search{height:25px;width:202px;margin-top:8px;float:left;position:relative;z-Index:3}.search-body #sitesearch-input .search{width:535px;background:url('../ngtemplates/ngassets/img/sitesearch-input/searchcontainer_top.gif')/*tpa=http://www.ford.com/ngtemplates/ngassets/img/sitesearch-input/searchcontainer_top.gif*/ no-repeat 0 0 #257fbb;margin:0 0 22px 0;padding:6px 0 0 0;height:auto}#searchMsg{display:none;line-height:29px;color:white;width:135px;float:left;padding-left:18px;font-weight:bold;font-size:14px}.search-body #sitesearch-input #searchMsg{display:block}#sitesearch-input .searchBottom{background:url('../ngtemplates/ngassets/img/sitesearch-input/searchcontainer_btm.gif')/*tpa=http://www.ford.com/ngtemplates/ngassets/img/sitesearch-input/searchcontainer_btm.gif*/ no-repeat left bottom #257fbb;width:535px;height:6px;clear:both;display:none}.search-body #sitesearch-input .searchBottom{display:block}.sitesearch-input .search .search-box{width:201px;height:25px;background:url('../ngtemplates/ngassets/img/globalnav/search-box.png')/*tpa=http://www.ford.com/ngtemplates/ngassets/img/globalnav/search-box.png*/ no-repeat;text-align:left}#sitesearch-input .search .search-box{float:left;background-image:url('../ngtemplates/ngassets/img/sitesearch-input/search_long.png')/*tpa=http://www.ford.com/ngtemplates/ngassets/img/sitesearch-input/search_long.png*/;width:355px;height:auto}.search-body .search-box{margin-left:8px}.sitesearch-input .label{float:left;font-size:110%;font-weight:normal;padding-top:10px;padding-right:5px}.search-body .label{display:none}.sitesearch-natural-search-results.label{display:block}.sitesearch-input .separator{clear:both;line-height:0;padding:4px}.sitesearch-input .search .site-search-form{position:relative;zoom:1}.sitesearch-input .search .site-search-form .search-magnifier-icon{height:25px;display:block;background:url('../ngtemplates/ngassets/img/globalnav/search-magnifier-icon.png')/*tpa=http://www.ford.com/ngtemplates/ngassets/img/globalnav/search-magnifier-icon.png*/ 4px 4px no-repeat;padding-left:19px;float:left}.sitesearch-input .search .search-button{display:block;height:25px;width:24px;float:right;padding-right:4px;background:url('../ngtemplates/ngassets/img/globalnav/search-button.png')/*tpa=http://www.ford.com/ngtemplates/ngassets/img/globalnav/search-button.png*/ 5px 4px no-repeat}#sitesearch-input .search-button,#sitesearch-input .search-magnifier-icon{margin-top:2px}.sitesearch-input .search .site-search-input{color:#111;font-size:9pt;background:transparent;border:0;padding:5px 3px 3px 3px;width:146px;margin-left:0;margin-right:2px;display:inline;_margin-top:0}#sitesearch-input .search .site-search-input{padding-top:7px}.sitesearch-input .search .site-search-input:not(:root:root){padding:10px 3px 3px 3px}.sitesearch-input .search .site-search-input.default-text{color:#bbb}.sitesearch-input .search .search-go{border:0;width:24px;height:100%;cursor:pointer;display:block;background:transparent url('../ngtemplates/ngassets/img/globalnav/search-arrow.gif')/*tpa=http://www.ford.com/ngtemplates/ngassets/img/globalnav/search-arrow.gif*/ 12px 8px no-repeat}.sitesearch-input .searchlive_label{display:none}.sitesearch-input div.autocompletions{width:200px;max-width:200px;top:1.9em}.sitesearch-input .yui-ac-content{color:#111;border:1px solid #dbdbdb}.sitesearch-input .yui-ac-content li.yui-ac-highlight{background-color:#e7f1f3;color:#111}font.foot{font-family:Ford Antenna;font-weight:Regular;font-size:12px;color:#06f;text-align:center}font.special{display:inline-block;font-family:Ford Antenna;font-weight:bold;font-size:12px;color:#06f;width:4px;height:30px;text-align:center;padding-top:9px}a.blockLink,a.blockLink:link,a.blockLink:visited{display:inline-block;font-weight:Regular;font-family:Ford Antenna;color:#06f;padding-top:9px;width:94px;text-align:center;height:30px}
/* ***** Loading file => com/forddirect/ng/widgets/sitesearch-input/sitesearch-input-overrides-min.css */
#search-endeca-live .sitesearch-input .search #endecaLiveSearchForm .site-search-form .search-magnifier-icon{display:none}#search-endeca-live .sitesearch-input .search .search-box{width:290px;height:27px}#search-endeca-live .sitesearch-input .search .search-go{border:0;width:27px;height:100%;cursor:pointer;display:block}
/* ***** Loading file => com/forddirect/ng/widgets/corporate-links-selectbox/corporate-links-selectbox-min.css */
#sddm{margin:0;z-index:30}.globalnav-header #eyebrow #corporate{margin-left:0}.globalnav-header #eyebrow{text-align:left}#sddm li{margin:0;list-style:none;float:left;font:11px arial}#sddm .sp{width:1px;height:1px;overflow:hidden;line-height:0}#sddm .mainDD{position:relative}#sddm .mainDD .topTab{width:80px;top:10px;position:relative;z-index:31}#sddm .topTab_mouseover .topContent{border-left:2px solid #7e848a;border-right:2px solid #7e848a;background-color:#fff}#sddm .topTab_mouseover .topCorners{overflow:hidden;width:80px;height:3px}.globalnav-header #eyebrow #sddm .topTab .corpTextDiv{background-image:url('../resources/ford/general/corporate/light_grey_arrow_off.png')/*tpa=http://www.ford.com/resources/ford/general/corporate/light_grey_arrow_off.png*/}.globalnav-header #eyebrow #sddm .topTab_mouseover .corpTextDiv{background-image:url('../resources/ford/general/corporate/arrow_on.gif')/*tpa=http://www.ford.com/resources/ford/general/corporate/arrow_on.gif*/}.view-innovation-electric-overview #header #globalnav #eyebrow #corporate .corporate-links-selectbox #sddm li div.mainDD .topTab .topContent .corpTextDiv,.view-innovation-electric-whygoev #header #globalnav #eyebrow #corporate .corporate-links-selectbox #sddm li div.mainDD .topTab .topContent .corpTextDiv,.view-innovation-electric-howevswork #header #globalnav #eyebrow #corporate .corporate-links-selectbox #sddm li div.mainDD .topTab .topContent .corpTextDiv,.view-innovation-electric-drivinganev #header #globalnav #eyebrow #corporate .corporate-links-selectbox #sddm li div.mainDD .topTab .topContent .corpTextDiv,.view-innovation-electric-evforme #header #globalnav #eyebrow #corporate .corporate-links-selectbox #sddm li div.mainDD .topTab .topContent .corpTextDiv{background-image:url('../resources/ford/general/corporate/white_arrow_off.png')/*tpa=http://www.ford.com/resources/ford/general/corporate/white_arrow_off.png*/!important}.view-innovation-electric-overview #header #globalnav #eyebrow #corporate .corporate-links-selectbox #sddm li div.mainDD .topTab .topContent .corpTextDiv #sddm_topLink,.view-innovation-electric-whygoev #header #globalnav #eyebrow #corporate .corporate-links-selectbox #sddm li div.mainDD .topTab .topContent .corpTextDiv #sddm_topLink,.view-innovation-electric-howevswork #header #globalnav #eyebrow #corporate .corporate-links-selectbox #sddm li div.mainDD .topTab .topContent .corpTextDiv #sddm_topLink,.view-innovation-electric-drivinganev #header #globalnav #eyebrow #corporate .corporate-links-selectbox #sddm li div.mainDD .topTab .topContent .corpTextDiv #sddm_topLink,.view-innovation-electric-evforme #header #globalnav #eyebrow #corporate .corporate-links-selectbox #sddm li div.mainDD .topTab .topContent .corpTextDiv #sddm_topLink{color:#fff!important}.view-innovation-electric-overview #header #globalnav #eyebrow #corporate .corporate-links-selectbox #sddm li div.mainDD .topTab_mouseover .topContent .corpTextDiv #sddm_topLink,.view-innovation-electric-whygoev #header #globalnav #eyebrow #corporate .corporate-links-selectbox #sddm li div.mainDD .topTab_mouseover .topContent .corpTextDiv #sddm_topLink,.view-innovation-electric-howevswork #header #globalnav #eyebrow #corporate .corporate-links-selectbox #sddm li div.mainDD .topTab_mouseover .topContent .corpTextDiv #sddm_topLink,.view-innovation-electric-drivinganev #header #globalnav #eyebrow #corporate .corporate-links-selectbox #sddm li div.mainDD .topTab_mouseover .topContent .corpTextDiv #sddm_topLink,.view-innovation-electric-evforme #header #globalnav #eyebrow #corporate .corporate-links-selectbox #sddm li div.mainDD .topTab_mouseover .topContent .corpTextDiv #sddm_topLink{color:#0c508e!important}.view-innovation-electric-overview #header #globalnav #eyebrow #corporate .corporate-links-selectbox #sddm li div.mainDD .topTab_mouseover .topContent .corpTextDiv,.view-innovation-electric-whygoev #header #globalnav #eyebrow #corporate .corporate-links-selectbox #sddm li div.mainDD .topTab_mouseover .topContent .corpTextDiv,.view-innovation-electric-howevswork #header #globalnav #eyebrow #corporate .corporate-links-selectbox #sddm li div.mainDD .topTab_mouseover .topContent .corpTextDiv,.view-innovation-electric-drivinganev #header #globalnav #eyebrow #corporate .corporate-links-selectbox #sddm li div.mainDD .topTab_mouseover .topContent .corpTextDiv,.view-innovation-electric-evforme #header #globalnav #eyebrow #corporate .corporate-links-selectbox #sddm li div.mainDD .topTab_mouseover .topContent .corpTextDiv{background-image:url('../resources/ford/general/corporate/arrow_on.gif')/*tpa=http://www.ford.com/resources/ford/general/corporate/arrow_on.gif*/!important}#sddm .topTab .corpTextDiv{background-position:52px 6px;background-repeat:no-repeat;text-align:left;margin-left:12px;margin-right:2px;width:66px;position:relative;top:1px}#sddm .topTab_mouseover .corpTextDiv{background-position:62px 6px;background-repeat:no-repeat;margin-left:0;background-color:#fff;width:76px;height:17px}.globalnav-header #eyebrow #sddm .topTab_mouseover #sddm_topLink{color:#0c508e;margin:0 0 0 10px}#sddm .topTab_mouseover .topLeft{background-image:url("../resources/ford/general/corporate/top_left_corner.png")/*tpa=http://www.ford.com/resources/ford/general/corporate/top_left_corner.png*/;background-repeat:no-repeat;float:left;width:3px;height:3px;float:left;overflow:hidden}#sddm .topTab_mouseover .topMid{background-image:url("../resources/ford/general/corporate/1pxWhite_2pxgrey_top.gif")/*tpa=http://www.ford.com/resources/ford/general/corporate/1pxWhite_2pxgrey_top.gif*/;background-repeat:repeat;float:left;width:74px;height:3px;overflow:hidden}#sddm .topTab_mouseover .topRight{background-image:url("../resources/ford/general/corporate/top_right_corner.png")/*tpa=http://www.ford.com/resources/ford/general/corporate/top_right_corner.png*/;background-repeat:no-repeat;float:left;width:3px;height:3px;overflow:hidden}#sddm .bottomTab .bottomContent{background-color:#fff;border-left:2px solid #7e848a;position:relative;z-index:30}#sddm .bottomTab .bottomContent{padding:8px 0}#sddm .bottomTab .bottomContent .corp-cols td.first{border-right:1px solid #efefef}#sddm .bottomTab .rightTD{_background-image:url('');background-image:url("../resources/ford/general/corporate/right_1px.png")/*tpa=http://www.ford.com/resources/ford/general/corporate/right_1px.png*/;background-repeat:repeat-y}#sddm .bottomTab{position:absolute;visibility:hidden;top:28px;z-index:30;width:350px;height:0;text-align:left;overflow:hidden;left:-143px}.globalnav-header #eyebrow #sddm .topTab #sddm_topLink{color:#777;cursor:pointer;text-decoration:none;padding:0}.view-electrification .globalnav-header #eyebrow #sddm .topTab #sddm_topLink{color:#fff}.view-electrification .globalnav-header #eyebrow #sddm .topTab #sddm_topLink:hover{color:#0c508e}.view-electrification .globalnav-header #eyebrow #sddm .topTab_mouseover #sddm_topLink{color:#0c508e}.view-electrification .globalnav-header #eyebrow #sddm .topTab .corpTextDiv{background-image:url('../resources/ford/general/corporate/white_arrow_off.png')/*tpa=http://www.ford.com/resources/ford/general/corporate/white_arrow_off.png*/}.view-electrification .globalnav-header #eyebrow #sddm .topTab_mouseover .corpTextDiv{background-image:url('../resources/ford/general/corporate/arrow_on.gif')/*tpa=http://www.ford.com/resources/ford/general/corporate/arrow_on.gif*/}.skin-nameplate-v2 #header.segment-cars.nameplate-Focus2014 #globalnav #eyebrow #sddm .topTab .corpTextDiv #sddm_topLink{color:#777}#header.segment-cars.nameplate-Focus2014 #globalnav #eyebrow #sddm .topTab_mouseover .corpTextDiv #sddm_topLink{color:#0c508e}#sddm .bottomTab a{white-space:nowrap;background:#fff;font:11px arial;text-align:left;text-decoration:none}.globalnav-header #eyebrow #sddm .bottomTab a{display:block;width:80px;height:12px;z-index:30;color:#0c508e;padding-left:10px;padding-right:6px}.globalnav-header #eyebrow #sddm .bottomTab .first a{width:105px}#sddm .bottomTab a:hover{background:#e6f1f7}#sddm .bottomTab .topLeft{background-color:#7e848a;width:3px}#sddm .bottomTab .topMid{background-image:url("../resources/ford/general/corporate/1pxWhite_2pxgrey_top.gif")/*tpa=http://www.ford.com/resources/ford/general/corporate/1pxWhite_2pxgrey_top.gif*/;background-repeat:repeat-x;width:94px}#sddm .bottomTab .topRight{background-image:url("../resources/ford/general/corporate/top_right_corner.png")/*tpa=http://www.ford.com/resources/ford/general/corporate/top_right_corner.png*/;background-repeat:no-repeat;width:10px;height:3px}#sddm .bottomTab .bottomLeft{background-image:url("../resources/ford/general/corporate/bottom_left_corner.png")/*tpa=http://www.ford.com/resources/ford/general/corporate/bottom_left_corner.png*/;background-repeat:no-repeat;width:3px;height:3px}#sddm .bottomTab .bottomMid{background-image:url("../resources/ford/general/corporate/bottom_1px.png")/*tpa=http://www.ford.com/resources/ford/general/corporate/bottom_1px.png*/;_background-image:url("../resources/ford/general/corporate/1pxWhite_2pxgrey_bottom.gif")/*tpa=http://www.ford.com/resources/ford/general/corporate/1pxWhite_2pxgrey_bottom.gif*/;background-repeat:repeat-x;height:11px;width:94px}#sddm .bottomTab .bottomRight{background-image:url("../resources/ford/general/corporate/bottom_right_corner.png")/*tpa=http://www.ford.com/resources/ford/general/corporate/bottom_right_corner.png*/;background-repeat:no-repeat;width:3px;height:3px}
/* ***** Loading file => com/global/widgets/common-login/common-login-ford-min.css */
.clw-modalbg{z-index:100100!important}#CLW_Main.clw_dialog_base{z-index:100200!important}#CLW_Main.clw_dialog_base>div{box-shadow:0 0 10px}#CLW_Main .clw-loader{position:absolute;top:0;left:0;width:100%;height:100%;background:url("../resources/ford/general/img/spinner64.gif")/*tpa=http://www.ford.com/resources/ford/general/img/spinner64.gif*/ center no-repeat;background-color:rgba(255,255,255,0.6);z-index:999}
/* ***** Loading file => com/global/widgets/save/save_widget_style_ford-min.css */
.view-mysaveditems-fallback{background:none!important}.view-mysaveditems-fallback #view{padding:0;margin:0;background:0}.view-mysaveditems-fallback #view-bd{width:auto;padding:0;margin:0;background:0}#nextgen_auth_save_widget_container{display:none;z-index:100000;top:50%;left:50%;width:763px;height:290px;padding:0;margin:-190px 0 0 -340px;text-align:left;position:fixed}#nextgen_auth_save_widget_container div.FNASW_inner_content{font-size:15px}#nextgen_auth_save_container_background{background:none repeat scroll 0 0 #000;border:1px solid #cecece;-ms-filter:"alpha(opacity=30)";filter:alpha(opacity=30);opacity:.3;display:none;height:100%;left:0;position:fixed;top:0;width:100%;z-index:99999;cursor:pointer}.FNASW_content{padding:0;margin:0;background-color:white;color:#425967;width:763px;height:290px;border:solid 3px #425967;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px}#FNASW_title{width:100%;padding:0;position:relative;height:50px}#FNASW_title h1{float:left;font:bold 18px 'fordngbs-antenna',Arial;margin:0;line-height:14px;position:absolute;top:19px;left:14px}.view-save-fallback #FNASW_title h1{left:0}#FNASW_title #ng_popup_close_btn{position:relative;top:10px;float:right;padding:14px;background:url("../resources/ford/general/img/buttons/close_button.png")/*tpa=http://www.ford.com/resources/ford/general/img/buttons/close_button.png*/ no-repeat}div.FNASW_main_inner_content h3{font:bold 14px 'fordngbs-antenna',Arial;padding:0 0 20px 15px}div#FNASW_content_after_icon h3{font:bold 14px 'fordngbs-antenna',Arial;padding:0 0 20px 20px}div.FNASW_main_inner_content p{font:14px 'fordngbs-antenna',Arial;padding:0 0 30px 15px;width:380px}#FNASW_authentication_content{display:none}#FNASW_save_content{display:none}#FNASW_save_success_content{display:none}div.FNASW_main_inner_content{clear:both;margin:0;width:405px;float:left}div#FNASW_divider{font:14px 'fordngbs-antenna',Arial;width:25px;padding:0 0 30px 15px;height:200px;float:left}div#top_divider,div#bottom_divider{clear:both;height:90px;border-right:solid 1px black;float:left;padding-left:10px}div.FNASW_inner_content{clear:both;margin:0;width:734px;overflow:hidden}div.FNASW_inner_content p{font:14px 'fordngbs-antenna',Arial;padding:0 0 0 15px;margin:0;line-height:20px;color:#435a69}#FNASW_save_success_content .small_para{font:11px 'fordngbs-antenna',Arial;padding:26px 10px 0 20px;line-height:20px;color:#435a69}#FNASW_save_widget_title_form{float:right;padding:0;width:522px;clear:both;margin-top:30px}#FNASW_save_widget_title_form p{float:left;padding-right:10px;width:45px}div.FNASW_form_text{padding-bottom:15px}div.FNASW_form_text input,div.FNASW_form_text textarea{width:357px;border:1px solid #CCC;padding:3px;color:#435a69;height:22px;resize:none}div.FNASW_form_text textarea{max-height:70px;overflow:auto}#FNASW_save_image_holder{float:left;position:relative;padding:27px 0 0 10px;max-width:200px}.ie7 #FNASW_save_image_holder{width:expression(this.width>200 ? 200:true)}#ng_save_item_image{max-height:130px;max-width:190px;padding:2px;border:1px solid #435a69;border-radius:5px;margin:0 auto;display:block}.ie7 #ng_save_item_image{width:expression(this.width>190 ? 190:true)}div.FNASW_main_inner_content ul{list-style:none;margin:0;float:left;padding:0 0 0 15px}div.FNASW_main_inner_content ul li{float:left;padding:0 10px 0 0}div.FNASW_main_inner_content ul a{text-decoration:none;padding:0;margin:0;display:block;height:44px;width:44px}div.FNASW_main_inner_content ul li a#save_widget_facebook_btn{background-image:url("../resources/ford/general/save/images/facebook_icon.png")/*tpa=http://www.ford.com/resources/ford/general/save/images/facebook_icon.png*/}div.FNASW_main_inner_content ul li a#save_widget_twitter_btn{background-image:url("Unknown_83_filename")/*tpa=http://www.ford.com/resources/ford/general/save/images/twitter_icon.png*/}div.FNASW_main_inner_content ul li a#save_widget_google_btn{background-image:url("../resources/ford/general/save/images/google_icon.png")/*tpa=http://www.ford.com/resources/ford/general/save/images/google_icon.png*/}div.FNASW_main_inner_content ul li a#save_widget_yahoo_btn{background-image:url("../resources/ford/general/save/images/yahoo_icon.png")/*tpa=http://www.ford.com/resources/ford/general/save/images/yahoo_icon.png*/}#FNASW_content_after_icon{width:315px;float:left}#FNASW_content_after_icon p{font:14px 'fordngbs-antenna',Arial;padding:0;margin:0;line-height:20px;color:#435a69;padding-left:20px}#FNASW_content_after_icon p a span{color:#2a95cb}#FNASW_content_after_icon .orText{text-align:center;font:bold 16px 'fordngbs-antenna',Arial;padding:13px 0 12px 0;margin:0}#save_widget_decision_div{padding:0 0 0 262px;margin:16px 0 0 0;height:36px}#save_widget_decision_div a#continue_without_signing_in_btn span{display:none}#save_widget_ok{padding:0 0 0 320px;margin:26px 0 0 0;height:36px}#save_widget_ok a#fallback_ok_btn{background:url("../resources/ford/general/save/images/save_auth_widget_icons.png")/*tpa=http://www.ford.com/resources/ford/general/save/images/save_auth_widget_icons.png*/;width:64px;height:36px;background-position:-716px 0;display:block}#save_widget_ok a#fallback_ok_btn span{display:none}#save_widget_ok a#fallback_ok_btn:hover{background:url("../resources/ford/general/save/images/save_auth_widget_icons.png")/*tpa=http://www.ford.com/resources/ford/general/save/images/save_auth_widget_icons.png*/;background-position:-564px -36px}#save_widget_submit{height:36px;position:relative;left:260px}#save_widget_submit a#submit_btn{background:url("../resources/ford/general/save/images/save_auth_widget_icons.png")/*tpa=http://www.ford.com/resources/ford/general/save/images/save_auth_widget_icons.png*/;width:88px;height:36px;background-position:-464px -36px;display:block}#save_widget_submit a#submit_btn span{display:none}#save_widget_submit a#submit_btn:hover{background:url("../resources/ford/general/save/images/save_auth_widget_icons.png")/*tpa=http://www.ford.com/resources/ford/general/save/images/save_auth_widget_icons.png*/;background-position:-578px -72px}#save_widget_continue{padding:0 0 0 320px;margin:103px 0 0 0;height:36px}#save_widget_continue a#continue_btn{background-image:url("../resources/ford/general/save/images/save_auth_widget_icons.png")/*tpa=http://www.ford.com/resources/ford/general/save/images/save_auth_widget_icons.png*/;width:100px;height:36px;background-position:-1px -171px;display:block}#save_widget_continue a#continue_btn span{display:none}#save_widget_continue a#continue_btn:hover{background-image:url("../resources/ford/general/save/images/save_auth_widget_icons.png")/*tpa=http://www.ford.com/resources/ford/general/save/images/save_auth_widget_icons.png*/;background-position:-102px -171px}#save_widget_goto_save{padding:0 0 0 229px;margin:75px 0 0 0;height:36px}#save_widget_goto_save a#goto_save_btn{background:url("../resources/ford/general/save/images/save_auth_widget_icons.png")/*tpa=http://www.ford.com/resources/ford/general/save/images/save_auth_widget_icons.png*/;width:283px;height:36px;background-position:-1px -134px;display:block}#save_widget_goto_save a#goto_save_btn span{display:none}#save_widget_goto_save a#goto_save_btn:hover{background:url("../resources/ford/general/save/images/save_auth_widget_icons.png")/*tpa=http://www.ford.com/resources/ford/general/save/images/save_auth_widget_icons.png*/;background-position:-285px -134px}#FNASW_or_after_goto_save{padding:17px 0 0 358px}#FNASW_or_after_goto_save p.orText{font:bold 16px "Ford Antenna",Arial;margin:0;line-height:20px;color:#435a69}#save_widget_cancel{padding:0 0 0 329px;margin:16px 0 0 0;height:36px}#save_widget_cancel a#cancel_btn{background:url("../resources/ford/general/save/images/save_auth_widget_icons.png")/*tpa=http://www.ford.com/resources/ford/general/save/images/save_auth_widget_icons.png*/;width:83px;height:36px;background-position:-569px -134px;display:block}#save_widget_cancel a#cancel_btn span{display:none}#save_widget_cancel a#cancel_btn:hover{background:url("../resources/ford/general/save/images/save_auth_widget_icons.png")/*tpa=http://www.ford.com/resources/ford/general/save/images/save_auth_widget_icons.png*/;background-position:-653px -134px}div.view-save-fallback{min-width:0!important}div.view-save-fallback div#view{width:auto!important;padding:0!important}
/* ***** Loading file => com/global/templates/newlocateadealer/widgets/lad-header-form-ford/lad-header-form-min.css */
.lad-header-form-ford p.error{color:#f10000;clear:both;font-size:14px}
/* ***** Loading file => com/forddirect/ng/widgets/globalnav-new/globalnav-header-min.css */
html{-webkit-font-smoothing:antialiased}#header{position:absolute;background:#fff;top:0;z-index:100005!important}div#header,#view-hd{width:100%;margin:0 auto;position:absolute;left:0}iframe.dart{display:none}#global-nav{font-family:fordngbs-antenna,Fordngbs-antenna,FordAntenna,Antenna,Arial;display:table;margin:0 auto;z-index:99999;position:relative;width:960px;border-bottom:1px solid #DDD}#global-nav sup{font-style:normal;font-weight:normal;font-size:80%;vertical-align:text-top;margin:0;padding:0}#global-nav sup.disclaimer{font-size:70%}@-moz-document url-prefix(){#global-nav .segments ul.vehicles li.vehicle div.info div.border-top li.item sup.disclaimer{white-space:nowrap}}#global-nav .information sup{line-height:10px;position:static}#global-nav li{list-style-type:none;margin:0;padding:0}#global-nav .logo{position:absolute;left:0}#global-nav .logo img{width:92px;height:53px}#global-nav .logo a{display:block;padding-top:10px;overflow:hidden}#global-nav .clearfix:after{content:" ";visibility:hidden;display:block;height:0;clear:both}#global-nav a,#page #header #globalnav-header #global-nav .bottom .segments .info a .border-top h4{font-family:fordngbs-antenna-bold,Fordngbs-antenna-bold,FordAntennaBold,Antenna,Arial;text-decoration:none;font-size:14px;color:#2d96cd;outline:0}#global-nav>div.bottom>div.segments>div.segment>ul>li.vehicle>a>div.info>div>h4{color:#2d96cd;font-size:14px;font-style:normal}#global-nav>div.bottom>div.segments>div.segment>ul>li.vehicle>a>div.info>div.selected>h4{color:#1b394e}#global-nav>div.bottom>div.segments>div.segment>ul>li.vehicle>a>div.info>div>h4.long{font-size:13px}#global-nav>div.bottom>div.segments>div.segment>ul>li.vehicle>a:hover>div.info>div>h4{color:#1b394e}#global-nav .top-links{display:block;float:right;background:#fff}#global-nav li.link,#global-nav li.logo{float:left}#global-nav li.link a{padding:0 12px;line-height:78px;display:block;font-style:normal}#global-nav .top-links .link a:hover,#global-nav .top-links .link a.selected{background:#2d96cd;color:#FFF}#global-nav.ipad .top-links .link a:hover{background:#FFF;color:#2d96cd}#global-nav .top-links .link a.selected{background:#2d96cd!important;color:#FFF!important}#global-nav .bottom{position:absolute;z-index:99999;width:960px;background:#fff;top:78px;left:0;right:0;margin:0 auto}#global-nav .bottom.section-search,#global-nav .bottom.section-signIn,#global-nav .bottom.section-findADealer{background:transparent;width:auto}#global-nav .vehicle{list-style-type:none;float:left;width:25%;background:#FFF;border-right:1px solid #CCC;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}#global-nav .vehicle.last{border-right:0}#global-nav .vehicle.list-6{width:16.6666667%}#global-nav .vehicle.list-5{width:20%}#global-nav .vehicle.list-4{width:25%}#global-nav .vehicle .info{overflow:hidden;height:70px;padding:0 0 10px 0}#global-nav .vehicle .border-top{border-top:#fff 5px solid;padding:10px 0 0 8px}#global-nav .vehicle ul li{display:inline-block;font-size:11.5px;color:#999;padding:5px 0}#global-nav .vehicle a{text-decoration:none;display:block;position:relative;z-index:3;min-height:176px}#global-nav .vehicle a:hover{color:#1e3d51}#global-nav .vehicle .name{margin:0;text-transform:uppercase}#global-nav .vehicle.list-6 .name.long{font-size:13px;line-height:17px}#global-nav .vehicle a:hover .border-top,#global-nav .vehicle .border-top.selected{border-top:#1b394e 5px solid;color:#1b394e}#global-nav .vehicle ul{margin:0;padding:0}#global-nav .vehicle .imgWrapper{width:100%;text-align:center;height:109px;overflow:hidden}#global-nav .vehicle img{display:inline-block;position:relative}#global-nav .vehicle .nameplate-img{display:inline-block}#global-nav .vehicle .vehicImg{padding-bottom:5px;padding-top:0;width:100%;text-align:center;height:99px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-box-shadow:inset 0 20px 10px -20px rgba(15,0,35,0.3);-moz-box-shadow:inset 0 20px 10px -20px rgba(15,0,35,0.3);box-shadow:inset 0 20px 10px -20px rgba(15,0,35,0.3)}#global-nav .item .left{float:left;line-height:21px;margin:0;padding:0}#global-nav .item .right{float:right;font-family:fordngbs-antenna-bold,Fordngbs-antenna-bold,FordAntennaBold,Arial;line-height:21px;font-size:13px;margin:0;padding:0}#global-nav .information .column.left{float:left;width:321px;height:367px;background-color:#1c394f;color:#FFF;margin:0;padding:0}#global-nav .information .column.right{float:left;background-color:#DDD;margin:0;padding:0}#global-nav .information .column.right .overlayClick,#global-nav .information .column.right{position:absolute;width:639px;height:367px}#global-nav .button{font-weight:normal;vertical-align:middle;text-align:left;display:table-cell;width:321px;height:56px;cursor:pointer;color:#2d96cd;font-size:20px;line-height:20px;background:#e8edff;background-image:-moz-linear-gradient(-90deg,#ededed 0,#dfdfdf 100%);font-family:fordngbs-antenna,FordAntenna,Arial;padding:3px 40px 0 25px;border-bottom:1px solid #d8d8d8;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}#global-nav a.button span,#global-nav div.button span{display:inline;background:transparent;text-indent:0;width:auto;margin:0}#global-nav .buttonWrapper{position:relative}#global-nav .specialty .button.long{padding:3px 40px 0 25px}#global-nav .button sup{vertical-align:top;font-size:65%}.ie8 #global-nav .addOn .button{line-height:22px}#global-nav .accordion .button{text-transform:uppercase}#global-nav .accordion .addOn .button{text-transform:none;font-size:16px;cursor:default}#global-nav .accordion .specialty .addOn .button{cursor:pointer}#global-nav .button.selected{padding:3px 40px 0 25px}#global-nav .specialty .button{font-size:18px}#global-nav .nameplate.addOn>.button{font-size:20px}#global-nav .nameplate.addOn .button.selected{background-color:#1c394f;background-image:none;border-bottom:0;padding-top:18px;padding-bottom:18px}#global-nav .nameplate.addOn .button.selected .arrow,#global-nav .specialty .addOn .button .arrow{visibility:hidden}#global-nav .accordion .nameplate.addOn .wrapper{padding:0 30px 45px}#global-nav .button .icon{width:26px;height:28px;margin-right:10px;background-size:26px 26px;background-repeat:no-repeat;background-position:center;display:inline-block;position:absolute;top:50%;margin-top:-13px;line-height:27px}#global-nav .button.iconContainer .name{display:block;padding-left:36px}#global-nav .button span.name,#global-nav .button.iconContainer span.name,#global-nav .button span.year{color:#1e3d51}#global-nav .button span.name b{font-weight:normal;font-family:fordngbs-antenna-bold,Fordngbs-antenna-bold,FordAntennaBold,Arial}#global-nav .button .icon img{width:100%}#global-nav .nameplate .button .arrow,#global-nav .specialty .button .arrow{width:16px;height:11px;display:inline-block;position:absolute;right:20px;top:23px;background:url("../resources/ford/general/globalnav/images/down-carrot.png")/*tpa=http://www.ford.com/resources/ford/general/globalnav/images/down-carrot.png*/ no-repeat}#global-nav .button.selected .arrow{background:url("../resources/ford/general/globalnav/images/up-carrot.png")/*tpa=http://www.ford.com/resources/ford/general/globalnav/images/up-carrot.png*/ no-repeat}#global-nav .nameplate .name,#global-nav .specialty .name span{font-family:fordngbs-antenna-bold,Fordngbs-antenna-bold,FordAntennaBold,Arial}#global-nav .nameplate.addOn .name{font-family:fordngbs-antenna,Fordngbs-antenna,FordAntenna,Arial;color:#fff}#global-nav .nameplate.addOn .name b{font-family:fordngbs-antenna-bold,Fordngbs-antenna-bold,FordAntennaBold,Arial;font-weight:normal}#global-nav .nameplate .button.long{font-size:19px!important;line-height:19px!important}#global-nav .accordion .wrapper{display:none;font-size:12px;font-weight:normal;padding:20px 25px;line-height:1.8}#global-nav .accordion .wrapper .top-info{margin:0 0 10px}#global-nav .accordion .wrapper .bottom-info{font-size:11px;padding:10px 0 0;border-top:1px solid #fff;border-top:1px solid rgba(255,255,255,0.2)}#global-nav .accordion .wrapper .bottom-info li{list-style-type:disc;list-style-position:outside;margin-left:15px;margin-bottom:5px;font-size:12px;line-height:16px}#global-nav .accordion .wrapper .bottom-info li.no-bullet{list-style:none;margin-left:0}#global-nav .accordion .wrapper .bottom-info li.bottom-info-disclaimer{font-size:10px;list-style:none;margin-left:0}#global-nav .accordion .separator{font-family:fordngbs-antenna-re,Fordngbs-antenna,FordAntenna,Arial;font-size:10px;color:#888;background-color:#172f41;padding:5px 25px;border-bottom:0;height:auto;margin:0}#global-nav .accordion li{width:100%;position:relative}#global-nav .nameplate.addOn .top-info li{font-size:14px;line-height:21px}#global-nav .button .year{font-family:fordngbs-antenna,Fordngbs-antenna,FordAntenna,Arial;font-weight:normal}#global-nav .template,#global-nav .hidden{display:none}#global-nav .bottom .links{background:#fff}#global-nav .bottom .links .link{padding:13px 0 15px 25px}#global-nav .bottom .links .link a{color:#2d96cd;display:inline-block;padding:0;font-size:14px;border-right:1px solid #bbb;padding-right:25px;line-height:16px}#global-nav .bottom .links .link.last a{border-right:0;padding-right:0}#global-nav .bottom .links .link a:hover{color:#1b394e}#global-nav .top-links .odd a{font-weight:normal;font-family:fordngbs-antenna,Fordngbs-antenna,FordAntenna,Arial;font-size:12px;padding:0 15px}#global-nav .top-links .search span{display:inline-block;width:18px;height:78px;color:rgba(0,0,0,0);text-indent:-9999px;position:relative}#global-nav .top-links .search span:after{content:'';position:absolute;background-image:url("../resources/ford/general/globalnav/images/gnavsprite.png")/*tpa=http://www.ford.com/resources/ford/general/globalnav/images/gnavsprite.png*/;background-repeat:no-repeat;background-position:-35px -65px;width:18px;height:24px;top:28px;right:0;background-size:142px}#global-nav .top-links .search:hover span:after,#global-nav .top-links .search.selected span:after{background-position:-13px -65px}#global-nav.ipad .top-links .search:hover span:after{background-position:-35px -65px}#global-nav.ipad .top-links .search.selected span:after{background-position:-13px -65px}.ie8 #global-nav .top-links .search span:after{width:18px;height:23px;background-position:0 -153px}.ie8 #global-nav .top-links .search:hover span:after,.ie8 #global-nav .top-links .search.selected span:after{background-position:0 -130px}#global-nav a li{font-weight:normal;font-family:fordngbs-antenna,Fordngbs-antenna,FordAntenna,Arial}#global-nav .information.columns{margin-left:0;position:static}#global-nav .information .column.right,#global-nav .information .column.left{margin-left:0!important;position:static}#global-nav .information .column.right .cta{float:left;margin:0 12px 0 0}#global-nav .information .column.right .ctas{position:absolute;right:0;bottom:60px}#global-nav .cta{display:inline-block}#global-nav .cta a{display:block;padding:15px 25px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;background-color:#1c394f;color:#FFF;font-size:14px;font-weight:normal;font-family:fordngbs-antenna,Fordngbs-antenna,FordAntenna,Arial;position:relative;z-index:1}#global-nav .cta a.action{font-family:fordngbs-antenna-bold,Fordngbs-antenna-bold,FordAntennaBold,Arial;font-size:14px}#global-nav .cta a.action.exploreModel{padding-left:19px;padding-right:19px}#global-nav .cta a.action.exploreVehicle{padding-left:15px;padding-right:15px}.ie8 #global-nav .cta a.bp:before{background-position:-230px -86px}.ie8 #global-nav .cta a.blue,#global-nav .cta a.blue{background-color:#2d96cd;background-image:none}#global-nav .information .column.right .cta a.odd{background-color:#2d96cd;font-family:fordngbs-antenna-bold,Fordngbs-antenna-bold,FordAntennaBold,Arial}#global-nav .bottom .owners{padding:20px 0 40px;background:#FFF;border-top:1px solid #DDD}#global-nav .bottom .owners .column{float:left;padding:0 30px 0 120px;width:50%;margin-left:0;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}#global-nav .bottom .owners .column.right-border,#global-nav .bottom .shoppingTools .right-border{border-right:1px solid #DDD}#global-nav h1{font-size:24px;color:#425968}#global-nav .boxShadowGNAV{-webkit-box-shadow:0 5px 20px 2px rgba(15,0,35,0.3);-moz-box-shadow:0 5px 20px 2px rgba(15,0,35,0.3);box-shadow:0 5px 20px 2px rgba(15,0,35,0.3)}#global-nav .boxShadowGNAVie8{border:1px solid #ddd}#global-nav .bottom .owners h1{margin:15px 0;color:#1b394e}#global-nav .bottom .owners ul{margin:20px 0 40px 0}#global-nav .bottom .owners ul li{margin:15px 0}#global-nav .bottom .owners ul li a{font-family:fordngbs-antenna,Fordngbs-antenna,FordAntenna,Arial;font-size:14px}#global-nav .bottom .segment.search{background:#FFF;padding:15px;border-top:1px solid #DDD;width:524px;position:absolute;right:0;border-radius:2px}#global-nav input::-ms-clear{width:0;height:0}#global-nav .bottom .goto-input input[type="text"]{padding:10px;padding-right:45px;background:#ebebeb;width:100%;font-family:fordngbs-antenna,Fordngbs-antenna,FordAntenna,Arial;font-size:15px;border:0;color:#425968;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}#global-nav .bottom .findADealer{padding:15px 35px;background:#FFF;position:absolute;border-top:1px solid #DDD;max-width:200px;right:147px}#global-nav .bottom .findADealer h1{font-size:14px!important;margin:10px 0 0 0;font-family:fordngbs-antenna,Fordngbs-antenna,FordAntenna,Arial;font-weight:normal}#global-nav .bottom .findADealer .goto-input input{width:140px;outline:0}#global-nav .bottom .findADealer .goto-input{position:relative;margin:10px 0 15px 0}#global-nav .bottom .goto-input .search-box input[type="text"]{position:absolute;z-index:2}#global-nav .bottom .findADealer .goto-input input{padding:10px;background:#ebebeb;font-family:fordngbs-antenna,Fordngbs-antenna,FordAntenna,Arial;font-size:15px;border:0;color:#425968}#global-nav .bottom .goto-input input.site-search-input.default-text{color:#999}#global-nav .bottom .findADealer .goto-input input,#global-nav .bottom .goto-input .wrap-right-arrow{float:left;display:block}#global-nav .bottom .findADealer .goto-input input[type="text"]{height:42px}#global-nav .bottom .goto-input .wrap-right-arrow{cursor:pointer;height:22px;background:#ebebeb;width:40px;padding:10px 0}#global-nav .bottom .goto-input .wrap-right-arrow .right-arrow{background-image:url("../resources/ford/general/globalnav/images/gnavsprite.png")/*tpa=http://www.ford.com/resources/ford/general/globalnav/images/gnavsprite.png*/;background-repeat:no-repeat;background-position:-65px -39px;width:14px;height:19px;background-size:142px;float:right;margin:2px 10px 0 0}#global-nav .bottom .findADealer .goto-input.zip-form.lad-error .wrap-right-arrow{border-left:none;border-right:1px solid red;border-top:1px solid red;border-bottom:1px solid red;height:20px}#global-nav .bottom .findADealer .goto-input.zip-form.lad-error input{border-right:0;border-left:1px solid red;border-top:1px solid red;border-bottom:1px solid red}.ie8 #global-nav .bottom .goto-input .wrap-right-arrow .right-arrow{background-position:-132px -45px}#global-nav .sitesearch-input .label{display:none!important}#global-nav .sitesearch-input .search{width:100%;height:auto;margin-top:0;float:none}#global-nav .sitesearch-input .search .search-box{width:100%;background:0;height:auto}#global-nav .sitesearch-input .search .site-search-form .search-magnifier-icon{display:block;width:100%;background:0;padding-left:0;float:none;position:relative;height:42px;margin-bottom:0}#global-nav .sitesearch-input .search .search-button{background:0;width:30px;height:42px;background-size:9px;position:absolute;display:block;float:none;right:2px;top:0;padding:0;z-index:4;cursor:pointer}#global-nav .sitesearch-input .search .search-button:after{content:'';position:absolute;background-image:url("../resources/ford/general/globalnav/images/gnavsprite.png")/*tpa=http://www.ford.com/resources/ford/general/globalnav/images/gnavsprite.png*/;background-repeat:no-repeat;background-position:-65px -39px;width:14px;height:19px;top:13px;right:10px;background-size:142px;pointer-events:none}.ie9 #global-nav .sitesearch-input .search .search-button:after{top:12px}.ie8 #global-nav .sitesearch-input .search .search-button:after{background-position:-132px -44px}#global-nav .sitesearch-input .search .search-go{background:transparent;border:0;width:30px;height:42px;cursor:pointer;display:block}#global-nav .sitesearch-input .search .search-go:focus,#global-nav .sitesearch-input .search .search-go:hover{outline:0}#global-nav .sitesearch-input div.autocompletions{top:100%;right:auto;left:0}#global-nav .sitesearch-input div.autocompletions ul li{font-size:13px;padding:5px 10px}#global-nav .sitesearch-input .searchBottom{display:none}#global-nav .sitesearch-input .separator{clear:both;line-height:0;padding:0}#global-nav .goto-input #gnav-search-endeca.sitesearch-input .separator{display:none}#global-nav .bottom .findADealer a{font-family:fordngbs-antenna,Fordngbs-antenna,FordAntenna,Arial}#global-nav .bottom .shoppingTools{width:100%;background:#fbfbfb}.ie8 #global-nav .bottom .shoppingTools{border-top:1px solid #DDD}#global-nav .bottom .shoppingTools h1{color:#2d96cd;margin:0 0 10px;font-family:fordngbs-antenna,Fordngbs-antenna,FordAntenna,Arial;font-size:20px}#global-nav .bottom .shoppingTools p{font-size:13px;line-height:19px;color:#506573;font-family:fordngbs-antenna,Fordngbs-antenna,FordAntenna,Arial}#global-nav .bottom .shoppingTools li{margin:0 0 35px;line-height:23px}#global-nav .bottom .shoppingTools li a{font-family:fordngbs-antenna,Fordngbs-antenna,FordAntenna,Arial;font-size:14px}#global-nav .bottom .shoppingTools .column{float:left;width:320px;background:#FFF;margin-left:0}#global-nav .bottom .shoppingTools .column .tools-top{padding:30px;display:block;position:relative;height:145px;-webkit-box-shadow:inset 0 20px 10px -20px rgba(15,0,35,0.3);-moz-box-shadow:inset 0 20px 10px -20px rgba(15,0,35,0.3);box-shadow:inset 0 20px 10px -20px rgba(15,0,35,0.3);-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}#global-nav .bottom .shoppingTools .column .tools-top .icon{background:url("../resources/ford/general/globalnav/images/gnavsprite.png")/*tpa=http://www.ford.com/resources/ford/general/globalnav/images/gnavsprite.png*/ no-repeat;width:21px;height:21px;background-size:142px;position:absolute;display:inline-block;margin-left:8px;background-position:-23px -40px}#global-nav .bottom .shoppingTools .column .tools-top:hover .icon{background-position:0 -40px}.ie8 #global-nav .bottom .shoppingTools .column .tools-top .icon{width:25px;height:25px;margin-top:-2px;background:url("../resources/ford/general/globalnav/images/gnavsprite.png")/*tpa=http://www.ford.com/resources/ford/general/globalnav/images/gnavsprite.png*/ no-repeat;background-position:-96px -69px}.ie8 #global-nav .bottom .shoppingTools .column .tools-top:hover .icon{background-position:-96px -97px}#global-nav .bottom .shoppingTools .column .tools-top:hover{background:#2d96cd}#global-nav .bottom .shoppingTools .column .tools-top:hover h1,#global-nav .bottom .shoppingTools .column .tools-top:hover p{color:#FFF}#global-nav .bottom .shoppingTools .column .tools-bottom .iconWrapper{background:url("../resources/ford/general/globalnav/images/gnavsprite.png")/*tpa=http://www.ford.com/resources/ford/general/globalnav/images/gnavsprite.png*/ no-repeat;text-align:center;display:block;height:26px;float:left;width:26px;margin:0 23px 0 3px}#global-nav .bottom .shoppingTools .column .tools-bottom{padding:45px 30px 30px;background:#fbfbfb;min-height:120px}#global-nav .bottom .shoppingTools .column .tools-bottom .iconWrapper.apply{background-position:0 0}#global-nav .bottom .shoppingTools .column .tools-bottom .iconWrapper.brochures{background-position:-26px 0}#global-nav .bottom .shoppingTools .column .tools-bottom .iconWrapper.compare{background-position:-52px 0}#global-nav .bottom .shoppingTools .column .tools-bottom .iconWrapper.getupdates{background-position:-182px 0}#global-nav .bottom .shoppingTools .column .tools-bottom .iconWrapper.dealer{background-position:-208px 0;margin-left:0;margin-right:20px;width:32px}#global-nav .bottom .shoppingTools .column .tools-bottom .iconWrapper.incentives{background-position:-130px 0}#global-nav .bottom .shoppingTools .column .tools-bottom .iconWrapper.certified{background-position:-78px 0}#global-nav .bottom .shoppingTools .column .tools-bottom .iconWrapper.credit{background-position:-242px 0;margin-left:0;margin-right:20px;width:32px}#global-nav .bottom .shoppingTools .column .tools-bottom .iconWrapper.estimate{background-position:-104px 0}#global-nav .bottom .shoppingTools .column .tools-bottom .iconWrapper.tradein{background-position:-156px 0}#global-nav.fluid{min-width:960px;max-width:1400px;width:100%}#spriteGNAV{display:none}#page.view-models-and-options-trim-details #header.notTablet{left:0!important}#global-nav .vehicle.addOn .vehicImg .nameplate-img{width:150px;height:94px;background-repeat:no-repeat;background-position:0 0}#global-nav .bottom.section-trucksAndVans ul.links,#global-nav .bottom.section-crossoversAndSuvs ul.links,#global-nav .bottom.section-cars ul.links{border-top:1px solid #CCC}#global-nav .bottom .information .accordion .specialty li.last-specialty .buttonWrapper .button{border-bottom:0}@media only screen{#global-nav.ipad .bottom .goto-input .wrap-right-arrow{margin-left:-7px;border-top-right-radius:6px;border-bottom-right-radius:6px}#global-nav.ipad .bottom .goto-input .wrap-right-arrow .right-arrow{margin-top:0 10px 0 0}#global-nav.ipad .bottom .findADealer .goto-input input{-webkit-appearance:caret}}@media only screen and (min-device-width :800px) and (max-device-width :1280px) and (orientation:portrait){body #page.view-focusreveal .nameplate-Focus2015 #globalnav-header.globalnav-header #global-nav.fluid,body #page.view-f150reveal .nameplate-F-1502015 #globalnav-header.globalnav-header #global-nav.fluid{zoom:95%}.nameplate-Focus2015 #global-nav.fluid .boxShadowGNAV,.nameplate-F-1502015 #global-nav.fluid .boxShadowGNAV{zoom:87%}}@media only screen and (min-device-width :768px) and (max-device-width :1024px) and (orientation:portrait){#global-nav.fluid{zoom:80%}#page.view-brochures #globalnav-header.globalnav-header #global-nav.fluid,#page.view-f150reveal .nameplate-F-1502015 #globalnav-header.globalnav-header #global-nav.fluid,#page.view-focusreveal .nameplate-Focus2015 #globalnav-header.globalnav-header #global-nav.fluid{zoom:1}}@media only screen and (min-device-width :768px) and (max-device-width :1024px) and (orientation:landscape){#global-nav.ipad .information.columns .column.left{width:320px}#global-nav.ipad .button{width:320px}#global-nav.ipad .vehicle.list-6.last a{width:100%}#global-nav li.link a{line-height:68px}#global-nav .top-links .search span{height:68px}#global-nav .top-links .search span:after{top:20px}#global-nav .bottom{top:68px}#global-nav .information .column.left,#global-nav .information .column.right,#global-nav .information .column.right .overlayClick{height:352px}#global-nav .information .column.right .ctas{bottom:45px}#global-nav .vehicle a{min-height:166px}#global-nav .vehicle .info{padding-bottom:0}#global-nav .vehicle .vehicImg{padding-bottom:0;height:94px}#global-nav .bottom .links .link{padding-top:8px;padding-bottom:10px}#global-nav .accordion .wrapper{padding-top:10px;padding-bottom:10px}}@media only screen and (min-device-width :768px) and (max-device-width :1024px) and (orientation:portrait){#global-nav.ipad .top-links .odd a{padding:0 12px}#global-nav.ipad .vehicle.list-6.last a{width:100%}}@media only screen and (min-device-width :800px) and (max-device-width :1280px) and (orientation:portrait){#global-nav .vehicles .vehicle.list-6.last.android-4-0-x{width:16.6666667%}}@media only screen and (min-device-width :800px) and (max-device-width :1280px) and (orientation:landscape){#global-nav .vehicles .vehicle.list-6.last.android-4-0-x{width:17.25%}#global-nav .bottom .information .accordion .nameplate .wrapper.android-4-0-x{padding-right:35px}#global-nav li.link a{line-height:68px}#global-nav .top-links .search span{height:68px}#global-nav .top-links .search span:after{top:20px}#global-nav .bottom{top:68px}#global-nav .information .column.left,#global-nav .information .column.right,#global-nav .information .column.right .overlayClick{height:352px}#global-nav .information .column.right .ctas{bottom:45px}#global-nav .vehicle a{min-height:166px}#global-nav .vehicle .info{padding-bottom:0}#global-nav .vehicle .vehicImg{padding-bottom:0;height:94px}#global-nav .bottom .links .link{padding-top:8px;padding-bottom:10px}#global-nav .accordion .wrapper{padding-top:10px;padding-bottom:10px}}@media all and (min-width:1251px){#global-nav.fluid .top-links{margin-right:5%}#global-nav.fluid>div.bottom.section-search,#global-nav.fluid>div.bottom.section-findADealer{margin-right:5%}}@media screen and (min-width:1250px){#global-nav.fluid .logo{margin-left:5%}}@media screen and (max-width:1250px){#global-nav.fluid .logo{padding-left:6px}}
/* ***** Loading file => com/forddirect/ng/widgets/globalnav/globalnav-footer-min.css */
.globalnav-footer{font-size:11px;height:40px;margin:0 auto;padding-top:4px;width:960px}.globalnav-footer a{color:#fff;text-decoration:none}.globalnav-footer a:hover{text-decoration:underline}.globalnav-footer ul{height:14px;padding:13px 0}.globalnav-footer li{float:left;border-right:1px dotted #a3a8ae;padding:0 5px}.globalnav-footer li.last,.globalnav-footer li.corporate{border-right:0}.globalnav-footer li.last{padding-right:0}.globalnav-footer li.corporate{padding:0 10px 0 0;padding-right:2px \0/IE9}.globalnav-footer .logo{float:right;display:block;width:132px;height:40px;background:url(../resources/ford/global/images/logo/fordoval_footer_150x27.png)/*tpa=http://www.ford.com/resources/ford/global/images/logo/fordoval_footer_150x27.png*/ no-repeat left}
/* ***** Loading file => com/global/widgets/scrollbar/scrollbar-ford-min.css */
.scroller{position:relative;overflow:hidden;padding:0;margin:0}.scroller-container{position:absolute;top:0;left:0;margin:0 30px 0 0;padding:0}.arrow.down{bottom:5px}.arrow.up{top:5px}.default .scroller-track{background:#e2e2e2;width:16px;height:97%;top:5px;right:0;position:absolute}.default .scroller-handle{position:absolute;right:0;top:0;width:16px;background:#64afe1;cursor:pointer;min-height:20px}.default .arrow.down,.default .arrow.up{width:16px;height:10px;cursor:pointer;background:white url(../resources/ford/general/img/sprites/larger_scroll_bar_arrow_links.png)/*tpa=http://www.ford.com/resources/ford/general/img/sprites/larger_scroll_bar_arrow_links.png*/ no-repeat -10px -10px;position:absolute;right:0}.default .arrow.down{background-position:-33px -7px}.default .arrow.down:hover{background-position:-83px -7px}.default .arrow.up:hover{background-position:-60px -10px}
/* ***** Loading file => com/forddirect/ng/widgets/opinionlab/opinionlab-min.css */
.disclaimers #opinionlab{position:absolute;right:0;bottom:-19px;z-index:100;width:245px;height:36px}.disclaimers #opinionlab .copy{font-size:12px;color:#22a3e5;line-height:1em;cursor:pointer;padding-right:42px}.disclaimers #opinionlab .animation{position:absolute;top:7px;left:10px}.disclaimers #opinionlab .logo{position:absolute;right:0;top:-30px}.disclaimers #opinionlab .logo .background{margin:0}.view-edgereveal .disclaimers #opinionlab{z-index:500}
/* ***** Loading file => com/global/widgets/disclaimers_v2/ford_disclaimers-min.css */
.ng-widget.disclaimers{display:none;border-radius:4px;width:1024px;margin-left:-512px;background-color:#FFF!important;overflow:hidden;color:#425968;position:absolute;left:50%;height:814px;font-family:fordngbs-antenna;box-shadow:6px 6px 10px rgba(0,0,0,.2);z-index:100002;top:150px}#screen_flip_disclaimer{z-index:100001}.ng-widget.disclaimers .header{margin:5px;background:0;border:0}.ng-widget.disclaimers .header .buttons .close{font-size:23px;color:#bbb;margin:11px 5px}.ng-widget.disclaimers .header .buttons .close:hover{cursor:pointer}.ng-widget.disclaimers .header .title{float:left}.ng-widget.disclaimers .header .title h2{margin:26px 0 40px 36px;font-size:32px;color:#455968;font-family:fordngbs-antenna}.ng-widget.disclaimers .header .buttons{float:right;text-align:right}.ng-widget.disclaimers .content{overflow:hidden;float:left;margin-left:10px;height:814px;width:1000px}.ng-widget.disclaimers .disclaimersList{height:685px;font-size:18px;list-style-type:none;margin:0;padding:0;position:relative}.ng-widget.disclaimers .disclaimersList .disclaimer{margin-bottom:22px}.ng-widget.disclaimers .disclaimersList .arrow.up{top:0}.ng-widget.disclaimers .disclaimersList .disclaimer .number{font-weight:bold;margin-right:4px;font-size:16px}.ng-widget.disclaimers .disclaimersList .disclaimer .text{font-size:16px;display:inline-block;margin-left:24px;padding:12px}.ng-widget.disclaimers .disclaimersList .disclaimer.selected .text{background-color:#eee}.ng-widget.disclaimers .disclaimersList .disclaimer.selected{background:url("../resources/ford/general/img/disclaimer-arrow-ford.png")/*tpa=http://www.ford.com/resources/ford/general/img/disclaimer-arrow-ford.png*/ no-repeat 8px 15px}.globalDisclaimerLink{color:#50a8da;position:relative}.globalDisclaimerLink:before{content:normal;width:18px;height:18px;position:absolute;display:block;top:-2px;left:-50%;right:-50%;margin:0 auto}.globalDisclaimerLink:hover{cursor:pointer;text-decoration:underline;color:#21425b}#view-disclaimers:hover{background:#0c508e;color:#fff;border-color:#333}#view-disclaimers{border:1px solid #fff;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;float:left;background:#fff;font-style:italic;font-weight:bold;color:#0c508e;font-size:12px;cursor:pointer;padding:3px 10px;zoom:1}.ng-widget.disclaimers .scroller-container{width:100%!important}.disclaimers-global-button{height:45px;background:#f3f3f3;position:relative}.disclaimers-global-button .wrap{max-width:960px;width:100%;margin:0 auto;padding:10px 0 0;position:relative}#disclaimer-flip .ng-widget.disclaimer-flip{width:1200px;margin:0 auto}#view.min-height{min-height:900px}@media only screen and (min-device-width:768px) and (max-device-width:1280px) and (orientation:landscape){.ng-widget.disclaimers{width:100%;left:0!important;margin:0}.ng-widget.disclaimers .content{width:98%}.ng-widget.disclaimers .disclaimersList{width:100%!important}.ng-widget.disclaimers .disclaimersList .disclaimer .text{margin-right:40px}.ng-widget.disclaimers .disclaimersList{overflow-y:scroll!important}.ng-widget.disclaimers .scroller-track,.ng-widget.disclaimers .arrow,.ng-widget.disclaimers .scroller-handle{display:none!important}}@media only screen and (min-device-width:768px) and (max-device-width:1280px) and (orientation:portrait){.ng-widget.disclaimers{width:100%;left:0!important;margin:0}.ng-widget.disclaimers .content{width:98%}.ng-widget.disclaimers .disclaimersList .disclaimer .text{margin-right:40px}.ng-widget.disclaimers .disclaimersList{overflow-y:scroll!important}.ng-widget.disclaimers .disclaimersList{width:100%!important}.ng-widget.disclaimers .scroller-track,.ng-widget.disclaimers .arrow,.ng-widget.disclaimers .scroller-handle{display:none!important}}
/* ***** Loading file => com/forddirect/ng/widgets/disclaimer-flip/disclaimer-flip-min.css */
.disclaimers-global-button.flip-syndicated #view-disclaimers{color:#000;text-align:left;position:relative}.global-wrap-footer .disclaimers-global-button.flip-syndicated #view-disclaimers{color:#fff}.screen{background:#000;opacity:.7;width:100%;position:absolute;top:0;left:0}
/* ***** Loading file => com/forddirect/ng/widgets/shopping-tools-list/shopping-tools-list-min.css */
.shopping-tools-list{zoom:normal;*zoom:1}.shopping-tools-list ul.categories{zoom:normal;*zoom:1}.shopping-tools-list li.category{padding:0 0 0 10px;_padding:3px 0 0 5px;width:157px;*vertical-align:top;*zoom:1}.shopping-tools-list li.category.first-of-type{padding-right:3px;_padding-right:0;padding-left:13px;width:144px}.shopping-tools-list li.category.last-of-type{width:auto;_width:151px}.shopping-tools-list li a{display:block;color:#757575;padding:0 0 4px;font-size:11px;font-weight:bold;cursor:pointer;*zoom:1}.shopping-tools-list li a:hover{text-decoration:none}.shopping-tools-list ul div{zoom:normal;*zoom:1}.shopping-tools-list ul h3{color:#292b2d;font-size:10pt;font-weight:bolder;padding-bottom:10px;padding-top:4px;*zoom:1}.shopping-tools-list ul.links li{height:26px;line-height:22px;_width:157px}.shopping-tools-list ul.links li.reserve{display:none}.shopping-tools-list ul.links a{cursor:pointer;*zoom:1;background-repeat:no-repeat;background-image:url('../sprite/ngtemplates/ngassets/img/shared/icons/shopping-tool-icons.png-type=jpeg&bg=fff&w=17&sp=6,0,0,0.jpg')/*tpa=http://www.ford.com/sprite/ngtemplates/ngassets/img/shared/icons/shopping-tool-icons.png?type=jpeg&bg=fff&w=17&sp=6,0,0,0*/;padding:2px 0 3px 20px}.skin-F-150 .nameplate-footer .shopping-tools-list ul.links a{background-image:url("../sprite/ngtemplates/ngassets/img/shared/icons/shopping-tool-icons.png-type=jpeg&bg=373c43&w=17&sp=6,0,0,0.jpg")/*tpa=http://www.ford.com/sprite/ngtemplates/ngassets/img/shared/icons/shopping-tool-icons.png?type=jpeg&bg=373c43&w=17&sp=6,0,0,0*/}.skin-SuperDuty .nameplate-footer .shopping-tools-list ul.links a{background-image:url("../sprite/ngtemplates/ngassets/img/shared/icons/shopping-tool-icons.png-type=jpeg&bg=373c43&w=17&sp=6,0,0,0.jpg")/*tpa=http://www.ford.com/sprite/ngtemplates/ngassets/img/shared/icons/shopping-tool-icons.png?type=jpeg&bg=373c43&w=17&sp=6,0,0,0*/}.skin-trucks-v2 .nameplate-footer .shopping-tools-list ul.links a{background-image:url("../sprite/ngtemplates/ngassets/img/shared/icons/shopping-tool-icons.png-type=jpeg&bg=373c43&w=17&sp=6,0,0,0.jpg")/*tpa=http://www.ford.com/sprite/ngtemplates/ngassets/img/shared/icons/shopping-tool-icons.png?type=jpeg&bg=373c43&w=17&sp=6,0,0,0*/}.shopping-tools-list ul.links li a:hover span{text-decoration:underline}.shopping-tools-list .requestaquote a{background-position:0 0}.shopping-tools-list .competitive-compare a{background-position:0 -60px}.shopping-tools-list .buildandprice a{background-position:0 -120px}.shopping-tools-list .payment-estimator a{background-position:0 -180px}.shopping-tools-list .brochures a{background-position:0 -240px}.shopping-tools-list .locate-dealer a{background-position:0 -300px}.shopping-tools-list .searchdealerinventory a{background-position:0 -360px}.shopping-tools-list .incentives-offers a{background-position:0 -420px}.shopping-tools-list .apply-credit a{background-position:0 -480px}.shopping-tools-list .trade-in a{background-position:0 -540px}.shopping-tools-list .ford-credit a{background-position:0 -600px}.shopping-tools-list .get-updates a{background-position:0 -660px}.shopping-tools-list .reserve a{background-position:0 -720px}.shopping-tools-list .certified-preowned a{background-position:0 -840px}
/* ***** Loading file => com/forddirect/ng/widgets/shopping-tools-list/shopping-tools-list-overrides-min.css */
#view.nameplate-NewTaurus2013 .shopping-tools-list ul.links li.buildandprice,#view.nameplate-NewTaurus2013 .shopping-tools-list ul.links li.brochures,#view.nameplate-NewTaurus2013 .shopping-tools-list ul.links li.competitive-compare,#view.nameplate-NewTaurus2013 .shopping-tools-list ul.links li.requestaquote,#view.nameplate-NewTaurus2013 .shopping-tools-list ul.links li.searchdealerinventory,#view.nameplate-NewTaurus2013 .shopping-tools-list ul.links li.incentives-offers,#view.nameplate-NewTaurus2013 .shopping-tools-list ul.links li.apply-credit,#view.nameplate-NewTaurus2013 .shopping-tools-list ul.links li.payment-estimator{display:none}#view.nameplate-Transit2014 .shopping-tools-list ul.links li.brochures,#view.nameplate-Transit2014 .shopping-tools-list ul.links li.buildandprice,#view.nameplate-Transit2014 .shopping-tools-list ul.links li.competitive-compare,#view.nameplate-Transit2014 .shopping-tools-list ul.links li.requestaquote,#view.nameplate-Transit2014 .shopping-tools-list ul.links li.searchdealerinventory,#view.nameplate-Transit2014 .shopping-tools-list ul.links li.incentives-offers,#view.nameplate-Transit2014 .shopping-tools-list ul.links li.apply-credit,#view.nameplate-Transit2014 .shopping-tools-list ul.links li.certified-preowned,#view.nameplate-Transit2014 .shopping-tools-list ul.links li.payment-estimator{display:none}#view.nameplate-SuperDuty2013 .shopping-tools-list ul.links a{background-image:url('../sprite/ngtemplates/ngassets/img/shared/icons/shopping-tool-icons.png-type=jpeg&bg=373c43&w=17&sp=6,0,0,0.jpg')/*tpa=http://www.ford.com/sprite/ngtemplates/ngassets/img/shared/icons/shopping-tool-icons.png?type=jpeg&bg=373c43&w=17&sp=6,0,0,0*/}#view.nameplate-SuperDuty2012 .shopping-tools-list ul.links a{background-image:url('../sprite/ngtemplates/ngassets/img/shared/icons/shopping-tool-icons.png-type=jpeg&bg=373c43&w=17&sp=6,0,0,0.jpg')/*tpa=http://www.ford.com/sprite/ngtemplates/ngassets/img/shared/icons/shopping-tool-icons.png?type=jpeg&bg=373c43&w=17&sp=6,0,0,0*/}#view.nameplate-F-1502010 .shopping-tools-list ul.links a{background-image:url('../sprite/ngtemplates/ngassets/img/shared/icons/shopping-tool-icons.png-type=jpeg&bg=373c43&w=17&sp=6,0,0,0.jpg')/*tpa=http://www.ford.com/sprite/ngtemplates/ngassets/img/shared/icons/shopping-tool-icons.png?type=jpeg&bg=373c43&w=17&sp=6,0,0,0*/}#view.nameplate-Fusion2009 .shopping-tools-list ul.links li.payment-estimator,#view.nameplate-Mustang2009 .shopping-tools-list ul.links li.payment-estimator{display:none}#view.nameplate-F-6502011 .shopping-tools-list ul.links li.competitive-compare,#view.nameplate-F-6502012 .shopping-tools-list ul.links li.competitive-compare,#view.nameplate-F-6502013 .shopping-tools-list ul.links li.competitive-compare,#view.nameplate-F-6502015 .shopping-tools-list ul.links li.competitive-compare,#view.nameplate-F-550Chassis2011 .shopping-tools-list ul.links li.competitive-compare,#view.nameplate-F-650-7502011 .shopping-tools-list ul.links li.buildandprice,#view.nameplate-F-650-7502012 .shopping-tools-list ul.links li.buildandprice,#view.nameplate-F-650-7502013 .shopping-tools-list ul.links li.buildandprice,#view.nameplate-F-650-7502015 .shopping-tools-list ul.links li.buildandprice,#view.nameplate-F-650-7502011 .shopping-tools-list ul.links li.competitive-compare-popup,#view.nameplate-F-650-7502012 .shopping-tools-list ul.links li.competitive-compare-popup,#view.nameplate-F-650-7502013 .shopping-tools-list ul.links li.competitive-compare-popup,#view.nameplate-F-650-7502015 .shopping-tools-list ul.links li.competitive-compare-popup,#view.nameplate-StrippedChassis2011 .shopping-tools-list ul.links li.buildandprice,#view.nameplate-StrippedChassis2011 .shopping-tools-list ul.links li.competitive-compare-popup,#view.nameplate-StrippedChassis2012 .shopping-tools-list ul.links li.buildandprice,#view.nameplate-StrippedChassis2012 .shopping-tools-list ul.links li.competitive-compare-popup,#view.nameplate-StrippedChassis2013 .shopping-tools-list ul.links li.buildandprice,#view.nameplate-StrippedChassis2013 .shopping-tools-list ul.links li.competitive-compare-popup,div#page.view-commtrucks-home .shopping-tools-list ul.links li.competitive-compare,div#page.view-commtrucks-home .shopping-tools-list ul.links li.apply-credit,div#page.view-commtrucks-home .shopping-tools-list ul.links li.payment-estimator,div#page.view-commtrucks-home .shopping-tools-list ul.links li.trade-in,div#page.view-commercial-truck-season .shopping-tools-list ul.links li.competitive-compare,div#page.view-commercial-truck-season .shopping-tools-list ul.links li.searchdealerinventory,div#page.view-commercial-truck-season .shopping-tools-list ul.links li.apply-credit,div#page.view-commercial-connection .shopping-tools-list ul.links li.competitive-compare,div#page.view-commercial-connection .shopping-tools-list ul.links li.searchdealerinventory,div#page.view-commercial-connection .shopping-tools-list ul.links li.apply-credit,div#page.view-commercial-connection .shopping-tools-list ul.links li.payment-estimator,div#page.view-commercial-connection .shopping-tools-list ul.links li.trade-in,div#page.view-business-preferred-network .shopping-tools-list ul.links li.competitive-compare,div#page.view-business-preferred-network .shopping-tools-list ul.links li.searchdealerinventory,div#page.view-business-preferred-network .shopping-tools-list ul.links li.apply-credit,div#page.view-business-preferred-network .shopping-tools-list ul.links li.payment-estimator,div#page.view-business-preferred-network .shopping-tools-list ul.links li.trade-in{display:none}#view.nameplate-SuperDuty2013 .shopping-tools-list ul.links a{background-image:url('../sprite/ngtemplates/ngassets/img/shared/icons/shopping-tool-icons.png-type=jpeg&bg=373c43&w=17&sp=6,0,0,0.jpg')/*tpa=http://www.ford.com/sprite/ngtemplates/ngassets/img/shared/icons/shopping-tool-icons.png?type=jpeg&bg=373c43&w=17&sp=6,0,0,0*/}#view.nameplate-SuperDuty2012 .shopping-tools-list ul.links a{background-image:url('../sprite/ngtemplates/ngassets/img/shared/icons/shopping-tool-icons.png-type=jpeg&bg=373c43&w=17&sp=6,0,0,0.jpg')/*tpa=http://www.ford.com/sprite/ngtemplates/ngassets/img/shared/icons/shopping-tool-icons.png?type=jpeg&bg=373c43&w=17&sp=6,0,0,0*/}
/* ***** Loading file => com/forddirect/ng/widgets/brand-footer/brand-footer-min.css */
div.brand-footer{color:#292b2d;font-weight:bold;padding-top:10px;width:960px;margin:0 auto;*zoom:1}.brand-footer ul li h2{color:#757575;font-size:10pt;letter-spacing:.004em;font-weight:bold;margin:0 1px 18px 0;*margin:2px 5px 8px 0;height:25px;line-height:23px;width:155px}.brand-footer ul li.last-of-type h2{margin-right:0;width:138px;_width:131px}@media only screen and (max-device-width:1024px){.brand-footer ul li.last-of-type h2{font-size:9pt}}.brand-footer ul li h2 div{zoom:normal;*zoom:1}.brand-footer ul h3{color:#292b2d;font-size:72%;font-weight:bolder}.brand-footer ul.links{margin-left:14px;*zoom:1}#bf-ford-story ul.links{margin-left:16px;_margin-left:14px}.brand-footer ul.links li{height:26px;font-size:8pt}.brand-footer ul.links li a{color:#545454;padding-top:4px;padding-bottom:4px;*zoom:1}.brand-footer li a:hover{text-decoration:underline}.brand-footer .shopping-tools h2{width:495px}.brand-footer .shopping-tools ul.links{margin-left:0;margin-top:9px}.brand-footer .shopping-tools-list{padding:0;z-index:0;*zoom:1}.brand-footer .shopping-tools-list ul h3{padding:0}.brand-footer .shopping-tools-list li a:hover{text-decoration:none}.brand-footer .liquidRounding .quoin{background-image:url(../ngtemplates/ngassets/img/shared/borders/rr-e1e1e1-f8f8f8-3.png)/*tpa=http://www.ford.com/ngtemplates/ngassets/img/shared/borders/rr-e1e1e1-f8f8f8-3.png*/}.brand-footer .liquidRounding .content{border-left:1px solid;border-right:1px solid;border-color:#e1e1e1;background-color:#f8f8f8;padding-left:14px;color:#626262}
/* ***** Loading file => com/global/widgets/select/select-ford-min.css */
.ngbs-select{margin:5px 0 5px 0;font-family:fordngbs-antenna,FordAntenna;font-size:14px;display:inline-block;cursor:pointer;width:261px}.ngbs-select .select-container{width:271px;border-radius:5px;display:inline-block;border:1px solid #c0bfbf;overflow-x:hidden;background:url(../resources/ford/general/img/sprites/arrow-up-down-blue-big.png)/*tpa=http://www.ford.com/resources/ford/general/img/sprites/arrow-up-down-blue-big.png*/ no-repeat 245px 14px #fff;background-position-x:245px;height:36px}.ngbs-select label{display:block;clear:both;font-size:12px;margin-bottom:7px}.ngbs-select select{border:0;background:transparent;padding:5px;color:#425968;height:36px;cursor:pointer;width:110%;outline:0;margin-bottom:0;-webkit-appearance:none}.ngbs-select label.not-valid{color:#f00}.ngbs-select .select-container.not-valid{border:1px solid #f00}
/* ***** Loading file => com/global/widgets/textbox/textbox-ford-min.css */
.ngbs-textbox{font-family:fordngbs-antenna,FordAntenna;color:#425968;margin:5px 0 5px 0}.ngbs-textbox label{display:block;clear:both;font-size:12px;margin-bottom:7px}.ngbs-textbox input{color:#425968;font-size:14px;width:261px;height:24px;padding:5px;border:1px solid #c0bfbf;border-radius:5px;-moz-border-radius:5px}.ngbs-textbox label.not-valid{color:#f00}.ngbs-textbox input.not-valid{border:1px solid #f00}
/* ***** Loading file => com/global/widgets/radio/radio-ford-min.css */
.ngbs-radio{font-family:fordngbs-antenna,FordAntenna;margin:5px 0 5px 0;color:#425968}.ngbs-radio label{margin:4px 30px;cursor:pointer;float:left;font-size:12px;cursor:pointer}.ngbs-radio input{display:none;top:2px;left:2px;margin:0}.ngbs-radio span.optionBox{background:url("../resources/ford/general/img/sprites/ui-misc.png")/*tpa=http://www.ford.com/resources/ford/general/img/sprites/ui-misc.png*/ repeat scroll -81px -140px #fff;display:block;width:22px;height:21px;left:1px;top:1px;cursor:pointer}.ngbs-radio .checked span.optionBox{background-position:-168px -140px}
/* ***** Loading file => com/global/widgets/checkbox/checkbox-ford-min.css */
.ngbs-checkbox{font-family:fordngbs-antenna,FordAntenna;margin:5px 0 5px 0;color:#425968}.ngbs-checkbox label{margin:2px 30px;cursor:pointer;float:left;font-size:14px;cursor:pointer}.ngbs-checkbox input{display:none;top:2px;left:2px;margin:0}.ngbs-checkbox span{background:url("../resources/ford/general/img/sprites/ui-misc.png")/*tpa=http://www.ford.com/resources/ford/general/img/sprites/ui-misc.png*/ repeat scroll 0 -172px;display:block;height:20px;left:1px;top:1px;width:21px;cursor:pointer}.ngbs-checkbox span.checked{background-position:-32px -172px}
/* ***** Loading file => com/global/widgets/btn/btn-ford-min.css */
.ngbs-button{font-size:13px;font-family:"fordngbs-antenna",Arial,sans-serif;margin:8px 0;height:32px}.ngbs-button a{background:url(../resources/ford/general/img/sprites/ford-btns.jpg)/*tpa=http://www.ford.com/resources/ford/general/img/sprites/ford-btns.jpg*/ repeat-x -299px -383px;border-radius:5px;color:#fff;cursor:pointer;font-weight:bold;padding:6px 25px;margin:6px 0;line-height:30px;text-decoration:none;cursor:pointer}.ngbs-button a:hover{background:url(../resources/ford/general/img/sprites/ford-btns.jpg)/*tpa=http://www.ford.com/resources/ford/general/img/sprites/ford-btns.jpg*/ repeat-x -299px -341px}
/* ***** Loading file => com/global/widgets/global-getupdates/form/form-ford-min.css */
#getupdates-form{font-family:fordngbs-antenna-bold,FordAntenna,Arial,sans-serif;z-index:40;position:absolute}#getupdates-close{position:absolute;right:14px;background:url("../resources/ford/general/img/sprites/ui-misc.png")/*tpa=http://www.ford.com/resources/ford/general/img/sprites/ui-misc.png*/ repeat scroll -167px -295px;height:25px;width:25px;cursor:pointer}#getupdates-close:hover{background:url("../resources/ford/general/img/sprites/ui-misc.png")/*tpa=http://www.ford.com/resources/ford/general/img/sprites/ui-misc.png*/ repeat scroll -518px -589px}#getupdates{max-width:640px;background-color:#ededed;font-family:fordngbs-antenna,FordAntenna,Arial,sans-serif;padding:15px;color:#425968;border-radius:5px;margin:0 auto;position:relative}#getupdates h1{font-size:24px;font-family:fordngbs-antenna-bold,FordAntenna,Arial,sans-serif}#getupdates h2{font-family:fordngbs-antenna-bold,FordAntenna,Arial,sans-serif;font-weight:bold}#getupdates h3{margin:10px 0 20px 0}#getupdates .options{background-color:#fff;padding:15px;border-radius:5px;margin:5px 0 5px 0;position:relative}#getupdates-personal .left-column{float:left;margin-right:20px}#getupdates-personal .right-column{float:left}#getupdates-form .gu-hidden{display:none}#getupdates-personal .label{font-size:12px;margin:0 0 35px}#getupdates-acquired .ngbs-radio{float:left}#getupdates-acquired .ngbs-radio label{margin-left:26px;margin-right:10px;white-space:nowrap}#getupdates-checkbox-mail{margin-bottom:12px}#getupdates .ngbs-textbox{margin-bottom:16px;width:260px}#getupdates #getupdates-acquired .getupdates-title{display:block;margin-bottom:8px;font-weight:bold}#getupdates #add-another .more-img{width:26px;height:26px;background:url("../resources/ford/general/img/sprites/add_another_sprites.png")/*tpa=http://www.ford.com/resources/ford/general/img/sprites/add_another_sprites.png*/ repeat scroll 48px 99px;display:inline-block}#getupdates #add-another .more-txt{position:relative;top:-7px;left:5px}#getupdates .blue-description{color:#2d96cd;font-size:14px;font-family:fordngbs-antenna-bold,FordAntenna,Arial,sans-serif;font-weight:bold}#getupdates #privacy-pledge{cursor:pointer;position:absolute;right:120px;width:160px;top:14px;color:#425968}#getupdates-submit-section{margin:30px 10px 30px 0;height:20px;position:relative}#getupdates #add-another{position:absolute;left:310px;top:128px;cursor:pointer}#getupdates .button{font-family:fordngbs-antenna-bold,FordAntenna,Arial,sans-serif;color:#fff;background:url(../resources/ford/general/img/sprites/ford-btns.jpg)/*tpa=http://www.ford.com/resources/ford/general/img/sprites/ford-btns.jpg*/ 0 -262px repeat-x;margin:0 auto;border-radius:5px;letter-spacing:1.1px;text-align:center;font-size:12px;text-transform:uppercase;padding:10px 30px 10px;cursor:pointer}#getupdates .button:hover{background:#1794d4}#getupdates #submit-button{display:inline-block;position:absolute;right:0}#getupdates .tooltip-box{position:absolute;border:1px solid #c5c5c5;font-family:fordngbs-antenna,FordAntenna,Arial,sans-serif;font-size:12px;color:#425968;padding:15px;width:220px;height:120px;margin-left:-120px;top:-180px;left:50%;background:#fff;display:none;cursor:default}#getupdates .tooltip-box .tooltip-content p{font-weight:normal}#getupdates .tooltip-box:after{content:"";width:0;height:0;border-left:20px solid transparent;border-right:20px solid transparent;border-top:20px solid #fff;position:absolute;top:100%;left:50%;margin-left:-30px;margin-top:-1px}#getupdates .tooltip-box:before{content:"";width:0;height:0;border-left:20px solid transparent;border-right:20px solid transparent;border-top:20px solid #c5c5c5;position:absolute;top:100%;left:50%;margin-left:-30px}#getupdates .tooltip-box h3{font-size:12px;color:#425968;margin:10px 0 4px 0;font-weight:bold}#getupdates .tooltip-box a{color:#2d96cd;text-decoration:none}#getupdates .tooltip-box a:hover{color:#2d96cd;text-decoration:underline}#getupdates .tooltip-box a.close-tooltip{width:25px;height:25px;background:url(../resources/ford/general/img/buttons/close_button.png)/*tpa=http://www.ford.com/resources/ford/general/img/buttons/close_button.png*/ no-repeat;position:absolute;top:8px;right:6px}#thankyou-section{min-height:100px}#getupdates-thankyou-title{margin:10px 0 10px}#getupdates-thankyou-title .getupdates-title{font-family:fordngbs-antenna-bold,FordAntenna,Arial,sans-serif}#thankyou-section ul li{list-style-type:disc;text-transform:uppercase}.close-section{width:100%;text-align:right;margin-top:20px}}body.ie #getupdates .floating{width:260px}#getupdates .floating{float:left;margin-right:30px}#getupdates .custom-select-menu{z-index:100000000}#open-tooltip{text-decoration:none;color:#2d96cd}#getupdates #getupdates-selected-vehicles{padding:20px}#screen_flip.minHeight{min-height:1100px}#view-bd.minHeight{min-height:1100px}.mobile #getupdates{padding:0;max-width:100%}.mobile #getupdates-form{width:100%;margin:0;left:0!important;top:0!important;position:static}.mobile #getupdates #submit-button a{padding:10px 25px;background-position:-299px -303px}.mobile #getupdates #getupdates-submit-section .arrow{display:block;width:10px;height:15px;background:url(../resources/ford/general/img/mboxes/Homepage_sprite.png)/*tpa=http://www.ford.com/resources/ford/general/img/mboxes/Homepage_sprite.png*/ no-repeat -240px -19px;position:absolute;right:7px;top:17px}.mobile #getupdates>h1{background:#425967;color:#FFF;text-align:center;padding-top:19px;padding-bottom:17px;margin-bottom:17px}.mobile #getupdates-form-section{padding:0 19px}.mobile #getupdates h3{line-height:normal!important;margin-bottom:21px}.mobile #getupdates .options{margin:3px 0}.mobile #getupdates #getupdates-via{padding-bottom:21px}.mobile #getupdates #getupdates-checkbox-mail{margin-bottom:50px}.mobile #getupdates #getupdates-personal .label{margin-bottom:29px}.mobile #getupdates .ngbs-textbox{width:100%}.mobile #getupdates .ngbs-textbox input{width:98%}.mobile #getupdates .ngbs-radio{width:120px;margin-bottom:30px}.mobile #getupdates .left-column,#getupdates .right-column{margin-right:0;float:none}.mobile #getupdates #getupdates-acquired{padding-bottom:0}.mobile #getupdates #getupdates-acquired .getupdates-title{margin:10px 0 26px 0;font-family:fordngbs-antenna-bold,FordAntenna,Arial,sans-serif}.mobile #getupdates #getupdates-selectvehicles{margin-top:-23px}.mobile #getupdates #getupdates-selectvehicles h2{margin:15px 0 18px 0;font-family:fordngbs-antenna-bold,FordAntenna,Arial,sans-serif}.mobile #getupdates #getupdates-selectvehicles h3{margin-bottom:28px}.mobile #getupdates #add-another{position:static;display:block;margin-top:15px}.mobile #getupdates #privacy-pledge{left:0}.mobile #getupdates .tooltip-box{left:84%}.mobile #getupdates .tooltip-box:after,#getupdates .tooltip-box:before{left:30%}.mobile #getupdates #add-another{position:initial}body.mobile.getupdates-active>*:not(#getupdates-form){display:none!important}.mobile #getupdates-close{top:20px}.mobile #getupdates-submit-section{margin:10px 10px 0 0;height:50px}.mobile .ngbs-select{width:100%}.mobile .ngbs-select .select-container{width:100%;background-position-x:98%;background-position-y:50%}#getupdates #getupdates-selectvehicles select{text-transform:uppercase}
/* ***** Loading file => com/global/groups/flip/flip-min.css */
#global-flips{position:relative}body.ie7 #global-flips{position:static}.group-flip{position:absolute;visibility:hidden;display:none}.group-flip.active{visibility:visible;display:block}.group-flip .buttons{position:absolute;right:0;top:0}.group-flip .buttons .button{display:inline-block}.screen{background:#000;opacity:.7;filter:alpha(opacity=70);width:100%;height:100%;position:absolute;z-index:12;top:0;left:0}.skin-ford #lad-container .screen{position:fixed!important;top:0!important;left:0}.skin-ford .view-models-and-options-trim-details .screen{z-index:27}#page-div-fdshowroom .screen{width:960px;left:50%;margin-left:-480px;z-index:998;height:1060px}.Ford.US.skin-ford #searchInventoryPage .screen-fix{top:80px;height:94%}body.Ford.US.skin-ford #searchInventoryPage.minHeight,body.Lincoln.US.skin-lincoln #searchInventoryPage.minHeight{min-height:1200px}body.Lincoln.US.skin-lincoln #searchInventoryPage.minHeight #showroom-page{min-height:1200px}#page-div-fdshowroom #getupdates-form{top:82px;z-index:999}.view-brand-home .screen{height:58%}body.ie7.skin-lincoln .screen{top:115px}.skin-ford .view-sitemap .screen{height:71%}body.ie7 .view-nameplate-overview .screen{height:75%}body.ie7 .view-certifiedpreowned .screen{z-index:25}.flip-make{display:none}.view-newlocateadealer #disclaimer-flip{z-index:100003!important}#incentives-flip .close{z-index:100}
/* ***** Loading file => com/global/widgets/global-getupdates/flip/getupdates-flip-min.css */
#getupdates-form{top:150px;z-index:13}