.hasRightNav {
    margin-right: 118px
}
.form-all {
    width: 80%!important
}
#wContent div.intro p {
    line-height: 1.5em;
    margin: 0 200px 30px 0
}
#contentNarrow div.intro p,
#contentNarrow p,
#content p {
    margin-bottom: 15px;
    line-height: 1.5em
}
#contentNarrow div.intro p,
#content div.intro p {
    margin: 0 0 20px;
    padding: 0 10px 0 21px
}
#content div.newheading h1 {
    color: #269999;
    font-size: 22px;
    font-weight: 400;
    margin: 0 100px 10px 0;
    padding: 0 21px
}
#contentNarrow div.introWide p {
    padding: 0;
    margin: 0;
    margin-bottom: 20px
}
#contentCntnr div.hasBanner div.intro p {
    padding-left: 20px;
    margin-right: 230px
}
strong {
    font-weight: 700
}
input[type="checkbox"] {
    margin: 3px 3px 3px 0
}
label {
    font-weight: 400
}
hr {
    width: 100%;
    position: static
}
5:37 AM 9/18/2014 div#oFooter {
    margin-top: -130px
}
p.playlink a {
    display: block;
    padding: 3px 0 0;
    height: 18px;
    text-transform: none;
    color: #3A8787;
    font-weight: 700
}
.smallCarousel .carousel-item .itemContent p.playvideo a {
    text-transform: none
}
div#pagination {
    text-align: right;
    padding: 0 15px;
    margin: 10px 0;
    font-weight: 700;
    font-size: 11px;
    color: #970000;
    width: 100%
}
div#pagination p {
    color: #363736;
    display: inline;
    margin: 0 7px;
    opacity: .6;
    filter: alpha(opacity=60)
}
div#pagination div.arrow {
    font-size: 1.5em;
    display: inline
}
div#pagination a:hover {
    text-decoration: none
}
div#pagination a.disabled {
    opacity: .4;
    filter: alpha(opacity=40)
}
div#pagination a.newdisabled {
    color: Grey
}
div.tabularHdr div.showResults a {
    color: #970000;
    text-transform: capitalize
}
div.tabularHdr div.showResults a.on {
    color: #363636;
    cursor: default
}
div.tabularHdr div.showResults a.on:hover {
    text-decoration: none
}
div.resultsCntnr div.results {
    padding: 0
}
div.bannerOneCol {
    width: 151px;
    height: 102px;
    padding: 18px 10px 0 23px;
    margin: 21px 21px 0 0;
    background: url(../images/bg_featured_product.png)/*tpa=http://www.ashland.com/Ashland/images/bg_featured_product.png*/ no-repeat scroll 0 0 transparent
}
div.bannerOneCol h5 {
    color: #6b8496;
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 25px
}
div.bannerOneCol a {
    display: block;
    padding-left: 50px
}
div.bannerRightArea {
    float: right;
    width: 184px;
    margin-left: 20px
}
div.contactTypeHdr li {
    float: none;
    margin-right: 35px;
    width: 200px
}
.error {
    border: thin solid red!important
}
#oContent div.contact h1 {
    color: #787AAA;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 5px
}
div.rightBanner li div.relatedText {
    margin-left: 10px;
    margin-top: -13px;
    font-size: 12px
}
#wContent .tabularCntnr .twocol .leftCol {
    float: left;
    padding: 0 15px;
    width: 435px;
    margin: 24px 0 0
}
#wContent .tabularCntnr .twocol .rightCol {
    float: left;
    padding: 0 15px;
    width: 435px;
    margin: 24px 0 0
}
ul li p.listText {
    margin-top: -17px;
    margin-left: 90px;
    margin-bottom: 0
}
span.rssRow {
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    background: transparent url(../Static/Images/feed_icon_12x12.gif)/*tpa=http://www.ashland.com/Ashland/Static/Images/feed_icon_12x12.gif*/ no-repeat scroll 0 50%;
    padding-left: 18px
}
div.submarketsTabularCntnr div.ad-header {
    height: 35px
}
div.submarketsTabularCntnr div.header div.filter {
    position: absolute
}
div.submarketsTabularCntnr div.header div.newListSelected {
    margin: 0;
    margin: 0
}
div.submarketsHdr ul {
    clear: both
}
div.filter .newList {
    width: 195px;
    overflow: auto
}
div.pqfCntnr div.alphaList a.on {
    padding: 1px 3px;
    background-color: #BFBFBF
}
#searchPQF #productQFinder {
    height: 170px
}
#searchPQF #productQFinder div.byLinks {
    padding: 0 0 10px
}
#searchPQF #productQFinder div.byLinks li {
    border: none;
    float: none;
    margin: 0;
    padding: 0
}
#searchPQF #productQFinder div.letterLinks {
    padding: 10px 18px 0
}
#mNav .newList {
    overflow: auto
}
#mNav div.ddSolutionsQF div.mNavQFby {
    padding-bottom: 10px
}
#mNav div.ddSolutionsQF div.mNavQFby li {
    border-right: none;
    float: none;
    margin-right: 0;
    padding-right: 0
}
#mNav div.ddSolutionsQF div.mNavQFletter {
    padding-top: 10px
}
div.index2ColItem h2 {
    text-transform: none
}
div.ddSolutionsQF div.pqfCntnr ul li {
    border-right: 1px solid #6B8496;
    float: left;
    height: auto;
    margin-right: 8px;
    padding-right: 8px
}
div.ddSolutionsQF div.pqfCntnr ul li.last {
    border-right: medium none;
    margin-right: 0;
    padding-right: 0
}
div.ddSolutionsQF div.pqfCntnr a {
    font-weight: 700;
    font-size: 13px;
    background: inherit;
    padding: 0
}
div.ddSolutionsQF div.pqfCntnr div.byLinks {
    border-bottom: 1px solid #4B4C4C;
    padding: 0 0 20px
}
div.ddSolutionsQF div.pqfCntnr div.byLinks ul {
    height: auto;
    overflow: hidden;
    padding: 0
}
div.ddSolutionsQF div.pqfCntnr div.letterLinks {
    padding: 20px 0 0
}
body#registerPage {
    color: #000
}
div.contactFormCol .selectedTxt {
    padding-top: 2px
}
div.productCopy .productCopyWide {
    padding: 0 25px;
    width: auto
}
div.productCopy h2 {
    display: inline;
    font-weight: 700;
    margin-right: 5px
}
#mNav div.ddAboutCntnr ul {
    clear: left
}
div.sitemap ul {
    margin-left: 15px
}
div.productName {
    float: none;
    height: auto;
    width: 700px;
    margin-bottom: 15px
}
div.bannerAvailability.productAvailability ul {
    margin-left: 95px
}
#contentNarrow div.searchResults li p {
    margin-bottom: 7px
}
#contentNarrow div.searchResults {
    clear: none
}
div.searchResultLeft {
    margin-right: 12px
}
div.searchResultLeft div.searchResultContent {
    padding-top: 0
}
div.searchResultRight div.searchResultContent {
    padding-top: 0
}
#legalHeader h1 {
    color: #000;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center
}
div.legal2ColLeft {
    float: left;
    width: 346px;
    margin-right: 28px;
    margin-left: 28px
}
div.legal2ColRight {
    float: left;
    width: 420px
}
div.legal2ColItem {
    margin-bottom: 25px;
    margin-right: 25px
}
div.legal2ColItem h2 {
    height: 36px;
    font-size: 13px;
    color: #900;
    text-transform: uppercase;
    line-height: 36px;
    padding: 10px 18px
}
div.legal2ColItem div.index2ColContent {
    height: auto;
    overflow: hidden;
    padding: 17px;
    font-size: 13px
}
div.legal2ColItem div.newsIndex {
    height: 235px
}
div.legal2ColItem div.newsIndex ul li {
    margin-bottom: 22px;
    line-height: 17px
}
div.legal2ColItem div.index2ColContent div.right {
    float: left;
    width: 219px
}
div.legal2ColItem div.index2ColContent img {
    float: left;
    margin: 0 10px 15px 0
}
div.legal2ColItem div.index2ColContent li {
    font-size: 12px;
    margin-bottom: 2px
}
div.legal2ColItem div.index2ColContent p {
    font-size: .9em
}
div.legal2ColItem div.newsIndex p {
    margin-bottom: 20px
}
div.legal2ColItem div.index2ColContent div.toggle_container ul {
    margin-bottom: 10px
}
div.legal2ColItem div.index2ColContent a {
    font-size: 12px
}
div.legal2ColItem div.index2ColContent a.trigger {
    font-size: 11px;
    background: url(../images/bg_trigger_submarket.png)/*tpa=http://www.ashland.com/Ashland/images/bg_trigger_submarket.png*/ no-repeat 0 5px;
    padding-left: 15px
}
div.legal2ColItem div.index2ColContent a.active {
    background-position: 0 -5px
}
div.legal2ColContent {
    height: auto;
    overflow: hidden;
    padding: 17px;
    font-size: 13px
}
div.tblColCheckbox + p {
    margin-left: 30px
}
div.tabularCntnr div.tblColCheckbox {
    margin-right: 0
}
div.pqfChooser input[type="checkbox"] + label {
    display: block;
    margin-left: 25px;
    margin-top: -17px;
    padding-bottom: 5px
}
#mNav .newList li {
    margin: 2px 12px
}
#mNav div.ddContactLocation .newList li a {
    margin: 0;
    text-align: left
}
#mNav .newList li a {
    margin: 0
}
div.country div.ui-tabs input[type="checkbox"] {
    float: left
}
div.country div.ui-tabs input[type="checkbox"] + ul {
    display: block;
    margin-left: 17px
}
#mNav li a span {
    text-transform: none
}
#iFooter div.emailSubscribe span {
    text-transform: capitalize
}
#iFooter div.distrib {
    display: block;
    width: 20px;
    height: 35px;
    padding: 12px 0 0 14px;
    float: left;
    margin: 0 45px 0 0;
    background: none
}
#iFooter div.distrib h5 {
    color: #6b8496;
    font-size: 11px;
    margin-left: -70px;
    margin-top: 6px;
    text-transform: none;
    font-weight: 400
}
#iFooter div.distrib a {
    color: #970000;
    font-size: 11px;
    font-weight: 400;
    margin-left: -70px
}
div.bannerDownload a {
    text-transform: capitalize
}
#lnav span.lNavHdr {
    text-transform: none
}
div.bannerContact a {
    width: 48px;
    background: url(../images/bg_btn_contact_sm.png)/*tpa=http://www.ashland.com/Ashland/images/bg_btn_contact_sm.png*/ no-repeat
}
div.bannerContact {
    background: url(../images/bg_banner_contact_sm.png)/*tpa=http://www.ashland.com/Ashland/images/bg_banner_contact_sm.png*/ no-repeat
}
div.bannerContact p {
    text-trasnform: capitalize
}
div.productCallOuts div.productDownload a {
    text-transform: none
}
div.productCallOuts div.bannerAvailability {
    width: 290px
}
div.productCallOuts div.productAvailability {
    margin-right: 30px
}
div.productCallOuts div.productDownload {
    margin-right: 30px
}
div.productCallOuts div.bannerRelated li {
    list-style: disc outside none;
    margin: 2px 2px 2px 15px
}
div.worldwideBanner {
    float: left;
    height: 83px;
    width: 162px;
    background: url(../images/bg_banner_worldwide.png)/*tpa=http://www.ashland.com/Ashland/images/bg_banner_worldwide.png*/ no-repeat;
    padding: 10px 11px;
    margin-bottom: 20px
}
div.worldwideBanner a {
    font-size: 11px
}
div.worldwideBanner h5 {
    color: #6b8496;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0 0 10px;
    padding: 0
}
div.worldwideBanner a {
    display: block;
    width: 96px;
    height: 26px;
    line-height: 24px;
    margin-top: 10px;
    text-align: center;
    background: url(../images/bg_btn_contact.png)/*tpa=http://www.ashland.com/Ashland/images/bg_btn_contact.png*/ no-repeat;
    font-size: 11px;
    font-weight: 700;
    color: #FFF;
    text-transform: uppercase
}
div.worldwideBanner .newListSelected {
    width: 156px;
    margin-bottom: 10px;
    display: block
}
div.worldwideBanner .selectedTxt {
    width: 156px;
    height: 25px;
    background: url(../images/bg_pseudodd_contact.png)/*tpa=http://www.ashland.com/Ashland/images/bg_pseudodd_contact.png*/ no-repeat;
    padding-left: 8px;
    cursor: pointer;
    line-height: 23px;
    overflow: hidden
}
div.worldwideBanner .newList {
    width: 154px;
    background: #FFF;
    border-top: 1px solid silver;
    border-left: 1px solid #b8b7af;
    border-right: 1px solid #b8b7af;
    border-bottom: 1px solid #b8b7af;
    position: absolute;
    top: 23px!important;
    left: 0;
    z-index: 100
}
div.worldwideBanner .newList li a,
#lnav div.bannerContact .newList li a {
    display: block;
    padding: 0;
    border-bottom: none;
    margin: 2px 8px;
    line-height: normal;
    height: auto;
    width: auto;
    text-align: left;
    background: none;
    text-transform: none;
    font-size: 12px;
    color: #615e56;
    font-weight: 400
}
div.worldwideBanner .newList li a:hover,
#lnav div.bannerContact .newList li a:hover {
    color: #970000;
    text-decoration: none
}
#lHmContent {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center bottom
}
div.salesTerms {
    float: left;
    width: 230px;
    margin: 35px 20px 0 0
}
div.salesTerms img {
    float: left;
    margin: 0 10px 15px 0
}
div.salesTerms strong {
    display: block;
    margin-bottom: 5px
}
div.salesTerms a {
    margin-right: 10px
}
div.productCallOuts div.bannerAvailability img {
    float: left;
    margin-right: 10px;
    margin-bottom: 50px
}
div.rightBanner {
    float: right;
    width: 187px;
    background: url(../images/bg_rightbanner.png)/*tpa=http://www.ashland.com/Ashland/images/bg_rightbanner.png*/ no-repeat;
    padding: 20px 15px;
    font-size: 11px;
    color: #363736;
    margin-left: 5px;
    margin-bottom: 5px
}
div.rightBanner h5 {
    color: #6b8496;
    font-size: 13px;
    text-transform: uppercase;
    padding: 10px 0
}
div.rightBanner p {
    margin-bottom: 10px;
    font-size: 12px
}
div.rightBanner ul {
    margin-bottom: 10px;
    font-size: 12px;
    margin-left: 14px;
    list-style-type: disc
}
div.rightBanner li {
    margin-bottom: 3px;
    list-style-type: disc
}
div.rightBanner a {
    font-size: 12px
}
#iHmContent div.hmRight {
    width: 1005px;
    padding-left: 1px;
    height: 350px
}
#iHmContent div.hmRight #cyclePrevious {
    float: right
}
#iHmContent div.hmRight #cycleNext {
    float: right;
    width: 15px;
    margin: 30px 0 0
}
#iHmContent div.hmRight div.cycleCntnr {
    float: right;
    height: 140px;
    width: 330px
}
#iHmContent div.hmRight div.cycleCntnr_heading {
    float: right;
    width: 380px
}
#iHmContent div.hmRight div.cycleCntnr_heading h2 {
    color: #6B8496;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 14px;
    margin-left: 28px
}
#iHmContent div.hmRight p {
    font-size: 13px;
    line-height: 1.4em;
    margin-bottom: 30px;
    padding: 0 0 24px;
    width: 280px
}
#iHmContent div.hmRight div.intro div.intro_heading h2 {
    font-size: 20px;
    font-weight: 400;
    color: #970000;
    margin-bottom: 10px
}
#iHmContent div.hmRight div.latestNews {
    float: right;
    clear: left;
    padding: 4px 0 0 23px;
    margin-top: 1px;
    width: 320px;
    margin-bottom: 12px
}
#iHmContent div.hmRight div.latestNews li {
    margin: 0 4px 8px 0
}
#iHmContent div.hmRight div.latestNews li div {
    display: block;
    width: 20px;
    height: 25px;
    padding-top: 3px;
    padding-left: 6px;
    line-height: 1em;
    float: left;
    background: transparent url(../images/bg_hm_date.png)/*tpa=http://www.ashland.com/Ashland/images/bg_hm_date.png*/ no-repeat;
    text-transform: uppercase;
    margin-right: 10px;
    font-size: 9px;
    font-weight: 700;
    color: #900
}
#iHmContent div.hmRight div.latestNews li div.date1 {
    width: 25px;
    height: 25px
}
#iHmContent div.hmRight div.latestNews li a {
    float: left;
    width: 275px
}
#iHmContent div.distibHmRight div.latestNews {
    clear: left;
    padding: 25px 0 0
}
#iHmContent div.distibHmRight div.latestNews li div {
    display: block;
    width: 25px;
    height: 30px;
    padding-top: 3px;
    text-transform: uppercase;
    padding-left: 6px;
    line-height: 1em;
    float: left;
    background: transparent url(../images/bg_hm_date.png)/*tpa=http://www.ashland.com/Ashland/images/bg_hm_date.png*/ no-repeat;
    margin-right: 10px;
    font-size: 9px;
    font-weight: 700;
    color: #900;
    margin-bottom: 5px
}
#iHmContent div.distibHmRight div.latestNews li a {
    float: left;
    width: 175px
}
#mNav div.ddSolutionsMarkets {
    float: left;
    width: 250px;
    height: 250px;
    padding: 15px 25px 15px 0
}
#mNav div.ddSolutionsPS {
    float: left;
    width: 265px;
    height: 250px;
    border-right: 1px solid #d5d1c6;
    padding: 5px 15px 15px 0;
    margin: 10px 0
}
#mNav div.ddSolutionsQF {
    float: left;
    width: 400px;
    height: 250px;
    border-left: 1px solid #FFF;
    padding: 5px 0 15px 40px;
    margin: 10px 0
}
#mNav div.ddContactRegarding {
    float: left;
    width: 420px;
    border-right: 1px solid #d5d1c6;
    padding: 0 40px 0 0;
    margin: 45px 0 15px
}
#mNav div.ddContactLocation {
    float: left;
    width: 515px;
    height: 190px;
    border-left: 1px solid #FFF;
    padding: 0 0 0 25px;
    margin: 45px 0 15px
}
#mNav div.ddAboutCntnr {
    padding: 40px 0 15px
}
div.bannerContact .newList {
    overflow: auto;
    width: 154px;
    background: #FFF;
    border-top: 1px solid silver;
    border-left: 1px solid #b8b7af;
    border-right: 1px solid #b8b7af;
    border-bottom: 1px solid #b8b7af;
    position: absolute;
    top: 23px!important;
    left: 0;
    z-index: 100;
    padding-left: 1em;
    text-indent: -1em
}
div.commTabs {
    clear: both;
    padding-top: 30px
}
div.commTabs div.toolsHdr {
    clear: both;
    height: 45px;
    line-height: 45px;
    background: url(../images/bg_tabular_hdr.png)/*tpa=http://www.ashland.com/Ashland/images/bg_tabular_hdr.png*/ repeat-x;
    border: 1px solid #d8dcde;
    padding: 0 15px
}
div.commTabs div.printTools {
    float: left;
    width: 200px;
    height: 45px;
    line-height: 45px;
    background: url(../images/ico_print.png)/*tpa=http://www.ashland.com/Ashland/images/ico_print.png*/ no-repeat left center;
    padding-left: 33px
}
div.commTabs div.printTools a {
    font-size: 10px;
    color: #363636;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 10px
}
div.commTabs div.filterTools {
    float: right;
    height: 45px;
    line-height: 45px
}
div.commTabs div.filterTools a {
    float: left;
    font-size: 11px;
    margin-right: 10px
}
div.commTabs div.filterTools select {
    float: left;
    margin-right: 10px
}
div.commTabs ul.tabs li {
    float: left;
    font-size: 12px;
    margin-right: -1px
}
div.commTabs ul.tabs li a {
    float: left;
    padding: 0 6px 0 0;
    margin: 0;
    text-decoration: none;
    white-space: nowrap;
    outline: 0;
    height: 25px;
    line-height: 25px;
    margin-left: 5px
}
div.commTabs ul.tabs li a span {
    float: left;
    padding: 3px 17px 0 21px;
    height: 25px;
    line-height: 25px;
    margin-left: -5px;
    position: relative
}
div.commTabs ul.tabs li.ui-state-default a {
    font-weight: 700;
    color: #c01818;
    background: url(../images/bg_tab_pqf_dis.png)/*tpa=http://www.ashland.com/Ashland/images/bg_tab_pqf_dis.png*/ no-repeat;
    cursor: pointer;
    background-position: 100% 0
}
div.commTabs ul.tabs li.ui-state-default a span {
    background: url(../images/bg_tab_pqf_dis.png)/*tpa=http://www.ashland.com/Ashland/images/bg_tab_pqf_dis.png*/ no-repeat 0 0;
    padding-top: 1px
}
div.commTabs ul.tabs li.ui-tabs-selected a {
    height: 28px;
    line-height: 28px;
    font-weight: 700;
    color: #c01818;
    cursor: pointer;
    background: url(../images/bg_tab_pqf_sel.png)/*tpa=http://www.ashland.com/Ashland/images/bg_tab_pqf_sel.png*/ no-repeat;
    background-position: 100% 0;
    margin-top: -3px
}
div.commTabs ul.tabs li.ui-tabs-selected a span {
    height: 28px;
    line-height: 28px;
    background: url(../images/bg_tab_pqf_sel.png)/*tpa=http://www.ashland.com/Ashland/images/bg_tab_pqf_sel.png*/ no-repeat 0 0;
    padding-top: 1px
}
div.commTabs {
    padding: 10px 10px 0;
    margin-left: 19px;
    margin-right: 19px
}
div.commTabs div.showResults {
    float: right;
    font-size: 11px;
    font-weight: 700;
    color: #363636
}
div.commTabs div.showResults a {
    margin: 0 2px;
    color: #363636
}
div.commTabs div.showResults a.on {
    color: #970000
}
.comm-app-col1 {
    float: left;
    padding: 10px 20px;
    width: 200px
}
.comm-app-col2 {
    float: left;
    padding: 10px;
    width: 200px
}
.comm-app-col1 li,
.comm-app-col2 li {
    padding-bottom: 5px
}
.comm-app-col1 a,
.comm-app-col2 a {
    font-size: 12px
}
#iFooter div.copyrightLinks {
    float: none;
    width: 200px!important;
    margin: 520px 469px 0 330px;
    font-size: 11px;
    color: #70737f
}
#iFooter div.emailSubscribe {
    float: left;
    width: 30px!important;
    margin-right: 3px
}
.cluetip-default strong {
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
    text-transform: none!important;
    color: #900;
    font-weight: 700
}
div.bannerRelated li {
    list-style: disc outside none;
    margin: 2px 2px 2px 15px
}
div.index2ColItem div.newsIndex {
    height: auto!important
}
#contentWithRghtCol div.leftCol {
    width: 763px!important
}
div.SubmarketBanner {
    width: 187px;
    background: url(../images/bg_rightbanner.png)/*tpa=http://www.ashland.com/Ashland/images/bg_rightbanner.png*/ no-repeat;
    padding: 5px 10px 7px 15px;
    margin-left: 3px;
    margin-bottom: 20px;
    margin-right: -18px;
    font-size: 11px;
    color: #363736
}
div.SubmarketBanner h4 {
    color: #6b8496;
    font-size: 13px;
    text-transform: uppercase;
    padding: 10px 0
}
div.SubmarketBanner a {
    font-size: 12px
}
div.SubmarketBanner ul {
    margin-bottom: 10px;
    font-size: 12px;
    margin-left: 14px
}
div.SubmarketBanner li {
    margin-bottom: 3px;
    list-style-type: disc
}
div.SubmarketBanner p {
    margin-bottom: 10px;
    font-size: 12px
}
div.submarketsArrow {
    width: 760px
}
div.bannerFeaturedProduct {
    float: right
}
div.bannerDownload {
    float: right
}
#content div.intro1 p {
    width: auto;
    margin: 0 0 20px;
    padding: 0 21px
}
div.submarketsTabularCntnr {
    width: 98%
}
div.contactTypeContentSupplier h3 {
    color: #4A4A8D;
    font-size: 25px;
    font-weight: 400;
    margin: -10px 0 10px
}
div.contactTypeContentSupplier {
    background: url(../images/bg_contact_content.png)/*tpa=http://www.ashland.com/Ashland/images/bg_contact_content.png*/ repeat-x scroll 0 0 #FFF;
    padding: 15px 13px 65px 30px;
    width: 100%;
    display: block
}
.form-all {
    background: none repeat scroll 0 0 #fff;
    color: #555!important;
    font-family: "Helvetica";
    font-size: 12px;
    margin: 0 auto;
    padding-top: 20px;
    width: 70%!important
}
div.WWBanner {
    float: right;
    width: 187px;
    background: url(../images/bg_rightbanner.png)/*tpa=http://www.ashland.com/Ashland/images/bg_rightbanner.png*/ no-repeat;
    padding: 5px 10px 7px 15px;
    margin-left: 3px;
    margin-right: -35px;
    font-size: 11px;
    color: #363736
}
div.WWBanner h4 {
    color: #6b8496;
    font-size: 13px;
    text-transform: uppercase;
    padding: 10px 0
}
div.WWBanner a {
    font-size: 12px
}
div.WWBanner ul {
    margin-bottom: 10px;
    font-size: 12px;
    margin-left: 14px
}
div.WWBanner li {
    margin-bottom: 3px;
    list-style-type: disc
}
div.WWBanner p {
    margin-bottom: 10px;
    font-size: 12px
}
div.WWRelatedLink {
    width: 190px;
    float: right
}
div.country div.countryCopy {
    margin-right: 15px
}
div.StrApplBanner {
    float: right;
    width: 187px;
    background: url(../images/bg_rightbanner.png)/*tpa=http://www.ashland.com/Ashland/images/bg_rightbanner.png*/ no-repeat;
    padding: 5px 10px 7px 15px;
    margin-left: 3px;
    margin-right: -30px;
    font-size: 11px;
    color: #363736
}
div.StrApplBanner h4 {
    color: #6b8496;
    font-size: 13px;
    text-transform: uppercase;
    padding: 10px 0
}
div.StrApplBanner a {
    font-size: 12px
}
div.StrApplBanner ul {
    margin-bottom: 10px;
    font-size: 12px;
    margin-left: 14px
}
div.StrApplBanner li {
    margin-bottom: 3px;
    list-style-type: disc
}
div.StrApplBanner p {
    margin-bottom: 10px;
    font-size: 12px
}
div.WWRelatedLink {
    width: 190px;
    float: right
}
div.submarketsCopy {
    padding: 0 13px 5px 30px
}
div.bullet {
    text-align: center;
    font-size: 22px
}
#searchPQF #search .watermark {
    width: 262px;
    height: 21px;
    padding: 5px 0 0 11px;
    background: #FFF url(../images/bg_txtbox_search.png)/*tpa=http://www.ashland.com/Ashland/images/bg_txtbox_search.png*/ no-repeat!important;
    border: 0;
    float: left;
    color: #737373
}
ul.ephoxCustomUL {
    list-style-position: outside!important;
    list-style-type: disc!important;
    margin: 0 0 15px 12px!important
}
;
table.ephoxCustomTable {
    border: 1px solid!important
}
table.ephoxCustomTable td {
    border: 1px solid!important
}
div.solutions #lnav span.lNavHdr a {
    color: #FFF
}
#lnav span.lNavHdr a {
    color: #FFF
}
div.productSelect .newListSelected {
    width: 205px;
    margin-bottom: 10px;
    display: block
}
div.productSelect .selectedTxt {
    height: 22px;
    background: url(../images/bg_pseudodd_contact_frm.png)/*tpa=http://www.ashland.com/Ashland/images/bg_pseudodd_contact_frm.png*/ no-repeat;
    padding-left: 8px;
    cursor: pointer;
    line-height: 20px;
    overflow: hidden
}
div.productSelect .newList {
    overflow: auto;
    width: 203px;
    background: #FFF;
    border-top: 1px solid #dad7ca;
    border-left: 1px solid #b8b7af;
    border-right: 1px solid #b8b7af;
    border-bottom: 1px solid #b8b7af;
    position: absolute;
    top: 22px!important;
    left: 0;
    z-index: 200
}
div.productSelect .newList li a {
    display: block;
    margin: 2px 12px;
    color: #5e4f41;
    font-weight: 400
}
div.productSelect .newList li a:hover {
    color: #970000;
    text-decoration: none
}
div.productLoading {
    display: block;
    float: center;
    background: none
}
div.productLoading label {
    font-size: 10px;
    float: center;
    padding: 12px 0 0 14px;
    margin-left: 40px;
    margin-top: 10px
}
div.productLoading img {
    width: 32px;
    height: 32px;
    margin-left: 70px
}
#contentNarrow {
    padding: 29px 37px
}
div.index2ColLeft {
    width: 344px;
    margin-right: 39px
}
div.index2ColRight {
    float: right;
    width: 344px
}
div.SubRelatedLink h3 {
    color: #269999;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 15px
}
#content div.results {
    width: 100%
}
a.highlightedLink {
    background-color: #ffadad;
    color: #970000;
    text-decoration: none
}
a.highlightedLink:hover {
    text-decoration: underline
}
a.highlightedVideoImageLink {
    background-color: #ffadad;
    color: #970000;
    text-decoration: none
}
a.highlightedVideoImageLink:hover {
    text-decoration: underline
}
a.videoImageLink {
    color: #970000;
    text-decoration: none
}
a.videoImageLink:hover {
    text-decoration: underline
}
#cyclewrap {
    position: relative;
    height: 370px;
    overflow: hidden
}
#cyclewrap .cycleprev,
#cyclewrap .cyclenext {
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    top: 150px;
    z-index: 9999;
    text-decoration: none
}
#cyclewrap .cycleprev {
    left: 15px;
    background: url(../images/ArrowLeftSlideshow.png)/*tpa=http://www.ashland.com/Ashland/images/ArrowLeftSlideshow.png*/ no-repeat top left
}
#cyclewrap .cyclenext {
    right: -15px;
    background: url(../images/ArrowRightSlideshow.png)/*tpa=http://www.ashland.com/Ashland/images/ArrowRightSlideshow.png*/ no-repeat top left
}
#cycleimages {
    overflow: hidden;
    margin-left: 45px
}
div.marketVideoImage {
    float: left;
    padding: 0 15px 10px 20px
}
div.submarketsCopy div.subMarketVideoImageLeft {
    float: left;
    padding: 0 15px 5px 0;
    margin-left: -10px
}
div.submarketsCopy div.subMarketVideoImageRight {
    float: right;
    padding: 0 0 5px 15px
}
div.productEmbeddedVideoImage {
    float: right;
    padding: 0 0 0 15px;
    margin-bottom: -5px
}
div.expandLabel {
    text-align: center;
    margin-top: -10px
}
div.expandLabelforExternalVideo {
    text-align: center
}
#embeddedDescription p.description {
    text-align: center;
    font-size: 11px;
    line-height: 1em;
    margin-bottom: 0
}
#embeddedDescription p.description strong {
    font-weight: 700
}
#popUp div.expandedVideos {
    margin-left: 40px
}
#popUp div.expandedImage {
    margin-left: 8px
}
#popUp div#descriptionVideo {
    margin-left: 40px
}
#popUp div#descriptionImage {
    margin-left: 8px
}
h1.subMarketHead {
    color: #269999;
    font-size: 22px;
    font-weight: 400;
    margin: 0 100px 10px 0;
    padding: 0 21px
}
div.productCallOuts div.productDownload ul {
    margin-left: 70px
}
div.index2ColLefttoRightInnovation {
    width: 725px;
    margin-bottom: 25px
}
div.index2ColLefttoRightInnovation div.index2ColLeftItemInnovation {
    float: left;
    width: 346px;
    margin-bottom: 0
}
div.index2ColLefttoRightInnovation div.index2ColRightItemInnovation {
    float: left;
    width: 346px;
    margin-left: 20px;
    margin-bottom: 0
}
div.index2ColItemInnovation h2 {
    height: 20px;
    font-size: 15px;
    color: grey;
    text-transform: uppercase;
    line-height: 20px;
    padding: 0 3px
}
div.index2ColItemInnovation div.index2ColContentInnovation {
    height: auto;
    overflow: hidden;
    padding: 12px 17px 17px;
    font-size: 13px
}
div.index2ColContentInnovation ul {
    list-style: disc
}
div.index2ColItemInnovation {
    margin-bottom: 25px
}
div.index2ColItemInnovation div.index2ColContentInnovation li {
    font-size: 12px;
    margin-bottom: 2px
}
div.index2ColItemInnovation div.index2ColContentInnovation a {
    font-size: 12px
}
div.relatedLinksImage {
    float: right;
    padding: 0 0 0 10px;
    margin-bottom: -5px
}
div.results p#pqfPara {
    margin-bottom: 2px
}
div.results p#pqfPara1 {
    margin-bottom: -8px
}
div.results h3 {
    float: left;
    margin-left: 10px;
    font-size: 14px;
    margin-bottom: 5px
}
div.div4H5 h5 {
    color: #6B8496;
    font-size: 13px;
    margin-bottom: 10px;
    text-transform: uppercase
}
div.downloadImage {
    float: left;
    width: 60px;
    height: 100px
}
div.productCopy p.explore a.commaSpace {
    margin-right: -4px
}
div.backApplication {
    display: block;
    float: right;
    font-size: 10px;
    font-weight: 700
}
.accHeader {
    float: left;
    margin-right: 2px;
    margin-left: 2px;
    padding-right: 2px;
    padding-top: 4px;
    display: inline;
    height: 14px
}
.accLabel {
    width: 800px;
    float: right
}
.accRight {
    float: right
}
#iFrameContent {
    width: 1020px;
    margin: 0 auto;
    background: #FFF;
    border-left: 1px solid #c1c6ca;
    border-right: 1px solid #c1c6ca;
    padding-bottom: 150px;
    height: auto;
    overflow: hidden
}
#iFrameContentCntnr {
    float: left;
    width: 1008px
}
.fancybox-title {
    margin-left: 6px!important;
    text-align: left!important;
    line-height: 14px!important
}
.fancybox-title subHead {
    font-size: 11px!important
}
.wistia-fancybox #fancybox-overlay {
    background: none!important
}

.leftCol a{
		color: #970000 !important;
		text-decoration: none;
}

.leftCol a:hover {
    text-decoration: underline;
}


.rightCol a{
		color: #970000 !important;
		text-decoration: none;
}

.rightCol a:hover {
    text-decoration: underline ;
}
