@import "reset.css"/*tpa=http://www.ashland.com/Ashland/style/reset.css*/;
  .clearfix:after {
  visibility:hidden;
  display:block;
  font-size:0;
  content:" ";
  clear:both;
  height:0;
}

body {
  background:#dce6ef;
  font-family:Arial,Helvetica,sans-serif;
  color:#666254;
  font-size:12px;
}

a {
  color:#970000;
  text-decoration:none;
}

a:hover {
  color:#970000;
  text-decoration:underline;
}

#oHeader {
  width:100%;
  height:157px;
  background:url(../images/bg_oheader.png)/*tpa=http://www.ashland.com/Ashland/images/bg_oheader.png*/ center top no-repeat #970000;
  border-top:3px solid #630000;
}

.oDistributionHeader {
  border-top-width:5px;
}

#header {
  position:relative;
}

#logo {
  float:left;
  margin:60px 0 0 130px;
}

#logo .logoPrint {
  display:none;
}

#tNav {
  margin:5px 0 0;
}

#tNav li {
  float:left;
  margin:0 10px;
}

#tNav li a {
  display:block;
  color:#FFF;
  font-size:11px;
  letter-spacing:.04em;
  padding:5px 0 0;
}

#tNav li a.on {
  color:#c6a8a8;
}

#tNav li a:hover {
  color:#c6a8a8;
  text-decoration:none;
}

#tNav li.btnOrderOnline {
  width:107px;
  height:24px;
  background:url(../images/bg_btn_online.png)/*tpa=http://www.ashland.com/Ashland/images/bg_btn_online.png*/ no-repeat;
}

#tNav li.btnOrderOnline a {
  height:19px;
  padding-left:35px;
  width:79px;
  background:url(../images/bg_btn_online_rightedge.png)/*tpa=http://www.ashland.com/Ashland/images/bg_btn_online_rightedge.png*/ no-repeat top right;
}

#omNav {
  height:42px;
  background:url(../images/bg_omnav.png)/*tpa=http://www.ashland.com/Ashland/images/bg_omnav.png*/ repeat-x;
}

#mNav {
  clear:both;
  height:52px;
  margin:0 auto;
  z-index:99;
  padding-left:15px;
}

#mNav .row > div {
  width:20%;
  height:41px;
  padding:0;
  background:url(../images/redesign/bg_omnav.png)/*tpa=http://www.ashland.com/Ashland/images/redesign/bg_omnav.png*/ repeat-x;
}

#mNav .row > div a {
  text-decoration:none;
  display:block;
  width:100%;
  height:100%;
  font-family:Arial,Helvetica,sans-serif;
  font-size:16px;
  color:#FFF;
  font-weight:700;
  text-transform:uppercase;
  padding:8px 0 6px;
  background:url(../images/bg_mnav_a.png)/*tpa=http://www.ashland.com/Ashland/images/bg_mnav_a.png*/ no-repeat left;
  text-align:center;
  background-size:2px 38px;
}

#mNav .row > div:not(:first-child) {
  padding-left:0;
}

#mNav .row > div.over a {
  text-decoration:none;
}

#mNav .row > div a span {
  display:block;
  text-transform:none;
  font-size:12px;
  color:#e7e1cc;
}

#mNav .row > div a span1 {
  display:block;
  text-transform:none;
  font-size:12px;
  color:#e7e1cc;
}

#mNav .row > div a.on {
  background:url(../images/bg_mnav_a_on.png)/*tpa=http://www.ashland.com/Ashland/images/bg_mnav_a_on.png*/ no-repeat left;
}

#mNav .row > div.over a {
  background:#f0ece0;
  color:#981717;
  text-decoration:none;
}

#mNav .row > div.over a span {
  color:#981717;
}

#mNav .row > div.ddoCntnr {
  display:none;
  padding:0 0 10px;
}

#mNav .row > div.over div.ddoCntnr {
  display:block;
  position:absolute;
  top:122px;
  left:0;
  z-index:100;
  width:100%;
  height:auto;
  background:url(../images/redesign/bg_mnav_dd.png)/*tpa=http://www.ashland.com/Ashland/images/redesign/bg_mnav_dd.png*/ repeat-x bottom;
}

#mNav .row > div.over div.ddCntnr a {
  display:inline;
  width:auto;
  height:auto;
  text-transform:none;
  padding:0;
  background:none;
}

#mNav .row > div.over div.ddCntnr p {
  font-size:12px;
  font-weight:700;
  color:#666254;
  margin-bottom:10px;
}

#mNav li {
  float:left;
}

#searchPQF {
  width:357px;
  height:113px;
  z-index:100;
  position:absolute;
  top:96px;
  right:0;
  background:url(../images/bg_searchpqf.png)/*tpa=http://www.ashland.com/Ashland/images/bg_searchpqf.png*/ no-repeat;
}

#searchPQF ul {
  padding:17px 0 0 13px;
}

#searchPQF ul.ui-tabs-nav li {
  float:left;
  font-size:12px;
}

#searchPQF ul.ui-tabs-nav li a {
  display:block;
  font-weight:700;
  text-transform:uppercase;
  text-decoration:none;
}

#searchPQF li.ui-state-default a#tabSearch {
  color:#FFF;
  width:112px;
  padding:9px 0 0 15px;
  height:16px;
  background:url(../images/bg_tab_search_inactive.png)/*tpa=http://www.ashland.com/Ashland/images/bg_tab_search_inactive.png*/ no-repeat;
}

#searchPQF li.ui-state-active a#tabSearch {
  width:104px;
  height:15px;
  padding:9px 15px 0;
  background:transparent url(../images/bg_tab_search_solid.png)/*tpa=http://www.ashland.com/Ashland/images/bg_tab_search_solid.png*/ no-repeat;
}

#searchPQF li.ui-state-default a#tabPQF {
  padding:9px 0 0 38px;
  width:158px;
  color:#970000;
  background:url(../images/bg_tab_searchpqf_inactive.png)/*tpa=http://www.ashland.com/Ashland/images/bg_tab_searchpqf_inactive.png*/ no-repeat;
  height:15px;
}

#searchPQF li.ui-state-active a#tabPQF {
  height:16px;
  width:157px;
  padding:9px 0 0 45px;
  background:url(../images/bg_tab_searchpqf_solid.png)/*tpa=http://www.ashland.com/Ashland/images/bg_tab_searchpqf_solid.png*/ no-repeat;
}

#searchPQF #search {
  width:327px;
  height:62px;
  background:url(../images/bg_search.png)/*tpa=http://www.ashland.com/Ashland/images/bg_search.png*/ no-repeat;
  padding:15px 0 0 18px;
  margin:0 0 0 12px;
}

#searchPQF #search .watermark {
  width:262px;
  height:21px;
  padding:5px 0 0 11px;
  background:url(../images/bg_txtbox_search.png)/*tpa=http://www.ashland.com/Ashland/images/bg_txtbox_search.png*/ no-repeat;
  border:0;
  float:left;
  color:#737373;
}

#searchPQF #search #btnSearch {
  float:left;
  width:24px;
  height:26px;
  border:0;
  background:url(../images/bg_btn_search_grey.png)/*tpa=http://www.ashland.com/Ashland/images/bg_btn_search_grey.png*/ no-repeat;
  text-indent:-9999px;
}

#searchPQF #productQFinder {
  clear:left;
  height:150px;
  background:url(../images/bg_productqfinder.png)/*tpa=http://www.ashland.com/Ashland/images/bg_productqfinder.png*/ no-repeat bottom;
  padding:16px 0 0 17px;
}

#searchPQF #productQFinder a {
  font-weight:700;
}

#searchPQF #productQFinder a:hover {
  text-decoration:underline;
}

#searchPQF #productQFinder div.byLinks {
  border-bottom:1px solid #a90000;
  margin:0 36px 0 18px;
  padding:0 0 20px;
}

#searchPQF #productQFinder div.byLinks ul {
  height:auto;
  overflow:hidden;
  padding:0;
}

#searchPQF #productQFinder div.byLinks li {
  padding-right:8px;
  margin-right:8px;
  border-right:1px solid #6b8496;
  height:auto;
  float:left;
}

#searchPQF #productQFinder div.byLinks li.last {
  padding-right:0;
  margin-right:0;
  border-right:none;
}

#searchPQF #productQFinder div.byLinks li a {
  padding:0;
  background:inherit;
  font-size:12px;
}

#searchPQF #productQFinder div.byLinks p {
  margin:0 0 10px;
  font-weight:700;
}

#searchPQF #productQFinder div.letterLinks {
  padding:20px 18px 0;
}

#searchPQF #productQFinder div.letterLinks p {
  color:#68696a;
  margin-bottom:5px;
}

#searchPQF #productQFinder div.letterLinks a {
  letter-spacing:-1px;
  font-size:13px;
}

#oContent {
  width:100%;
  background:url(../images/bg_ocontent.png)/*tpa=http://www.ashland.com/Ashland/images/bg_ocontent.png*/ repeat-x #dce6ef;
  height:auto;
  overflow:hidden;
}

#iContent {
  width:1000px;
  margin:0 auto;
  background:#FFF;
  border-left:1px solid #c1c6ca;
  border-right:1px solid #c1c6ca;
  padding-bottom:150px;
  height:auto;
  overflow:hidden;
}

#oContent div.twoCol {
  background:url(../images/bg_twocol.png)/*tpa=http://www.ashland.com/Ashland/images/bg_twocol.png*/ repeat-y;
}

#wContent {
  padding:30px 33px;
  color:#363736;
}

#iContent div.nobg {
  background:none;
}

#iContent div.noTopPadding {
  padding-top:0;
}

#wContent p {
  color:#363736;
  margin-bottom:15px;
  line-height:1.5em;
}

#wContent p.intro {
  line-height:1.5em;
  margin:0 200px 30px 0;
}

#contentWithRghtCol {
  height:auto;
  overflow:hidden;
}

#contentWithRghtCol div.leftCol {
  float:left;
  width:783px;
}

#contentWithRghtCol div.contentLeft {
  padding:35px 15px 0 25px;
}

#contentWithRghtCol div.contentLeft p {
  margin-bottom:15px;
}

#contentCntnr {
  float:left;
  width:801px;
}

#content {
  font-size:13px;
}

#contentNarrow {
  padding:30px 38px;
}

#iContent div.toolbar {
  height:28px;
  border-bottom:1px solid #e2e2e2;
  padding:7px 0 0 32px;
}

#iContent div.toolbarNarrow {
  float:left;
  width:551px;
  height:28px;
  border-bottom:1px solid #e2e2e2;
  padding:7px 0 0 32px;
  margin-bottom:20px;
}

#iContent div.toolbar a,
#iContent div.toolbarNarrow a {
  display:block;
  height:18px;
  float:left;
  font-size:10px;
  text-transform:uppercase;
  font-weight:700;
}

#iContent div.toolbar a.toolShare,
#iContent div.toolbarNarrow a.toolShare {
  background:url(../images/ico_share.png)/*tpa=http://www.ashland.com/Ashland/images/ico_share.png*/ no-repeat;
  color:#797979;
  padding:4px 0 0 21px;
  margin-right:20px;
}

#iContent div.toolbar a.toolPrint,
#iContent div.toolbarNarrow a.toolPrint {
  background:url(../images/ico_print.png)/*tpa=http://www.ashland.com/Ashland/images/ico_print.png*/ no-repeat;
  color:#797979;
  padding:4px 0 0 31px;
}

#iContent div.toolbar div.breadcrumb {
  float:left;
  width:500px;
  height:28px;
  line-height:23px;
  font-size:13px;
  color:#9b9b9b;
}

#iContent div.toolbar div.breadcrumb a {
  display:inline;
  height:auto;
  float:none;
  font-size:13px;
  text-transform:none;
  font-weight:400;
}

#iContent div.toolbar div.breadcrumb span.currentPage {
  color:#363736;
}

#iContent div.toolbar div.tools {
  float:right;
  padding-right:35px;
}

#contentNarrow p.intro,
#contentNarrow p,
#content p {
  margin-bottom:15px;
  line-height:1.5em;
}

#contentNarrow p.intro,
#content p.intro {
  margin:0 100px 20px 0;
  padding:0 21px;
}

#contentNarrow p.introWide {
  padding:0;
  margin:0;
  margin-bottom:20px;
}

#contentCntnr div.hasBanner p.intro {
  padding-left:20px;
  margin-right:230px;
}

div.solutions div.indexHdr {
  position:relative;
  height:314px;
  border-bottom:1px solid #eeede8;
}

div.solutions div.indexHdr .shadowborder {
  z-index:50;
  position:absolute;
  top:0;
  left:0;
  height:13px;
  width:1000px;
  background:transparent url(../images/bg_hdrtop_solutions.png)/*tpa=http://www.ashland.com/Ashland/images/bg_hdrtop_solutions.png*/ no-repeat;
}

#oContent div.solutions h1 {
  color:#269999;
  font-size:22px;
  font-weight:400;
}

#oContent div.solutions h1.product {
  position:absolute;
  bottom:0;
  color:#269999;
  font-size:22px;
  font-weight:400;
}

#oContent div.pqf h1 {
  color:#dd9d1d;
  font-size:22px;
  font-weight:400;
  margin-bottom:5px;
}

#oContent div.solutions h1 span {
  display:block;
  font-weight:400;
  font-size:14px;
  margin:5px 0 0;
}

#oContent div.pqf h1 span {
  display:block;
  font-weight:400;
  font-size:14px;
}

#wContent div.solutionsIndexContentLeft {
  margin-right:34px;
  float:left;
  width:346px;
}

#wContent div.solutionsIndexContentRight {
  margin-right:24px;
  float:left;
  width:346px;
}

div.solutions div.solutionsIndexContent div.index2ColItem div.index2ColContent {
  height:300px;
}

div.solutions div.solutionsIndexContent p {
  line-height:1.2em;
  margin-bottom:10px;
}

div.solutions div.solutionsIndexContent ul {
  float:left;
  width:145px;
}

div.solutions div.solutionsIndexContent ul.col1 {
  margin-right:15px;
}

div.solutions div.solutionsIndexContent div.index2ColItem div.index2ColContent li {
  margin-bottom:8px;
}

div.solutions div.headerTop {
  background:transparent url(../images/bg_lnav_hdr_solutions.png)/*tpa=http://www.ashland.com/Ashland/images/bg_lnav_hdr_solutions.png*/ repeat-x;
}

div.solutions #lnav span.lNavHdr {
  background:url(../images/bg_lnav_hdr_solutions.png)/*tpa=http://www.ashland.com/Ashland/images/bg_lnav_hdr_solutions.png*/ repeat-x;
}

div.solutions #lnav ul li a {
  background:url(../images/bg_lnav_a_solutions.png)/*tpa=http://www.ashland.com/Ashland/images/bg_lnav_a_solutions.png*/ no-repeat;
  color:#5d666c;
}

div.solutions #lnav ul li a:hover {
  color:#0d6e6e;
  text-decoration:none;
}

div.solutions #lnav ul li a.on {
  background-position:0 -31px;
  color:#0d6e6e;
}

div.solutions #lnav ul ul {
  background:#e3f2f2;
}

div.solutions #lnav ul ul li a {
  background:none;
}

div.solutions #lnav ul ul li a.on {
  background:#8cc3c3;
  color:#FFF;
}

div.pqf div.headerTop {
  background:url(../images/bg_lnav_hdr_pqf.png)/*tpa=http://www.ashland.com/Ashland/images/bg_lnav_hdr_pqf.png*/ repeat-x;
}

div.pqfTabs ul.tabs li.ui-state-default a span {
  font-weight:400;
  color:#363636;
}

div.pqfTabs ul.tabs li.ui-tabs-selected a span {
  font-weight:700;
  color:#c01818;
}

#carouselHolder #itemSelector {
  height:41px;
  width:714px;
  position:absolute;
  z-index:50;
  top:273px;
  right:0;
}

#carouselHolder #itemSelector #bg-itemSelector {
  height:41px;
  width:714px;
  position:absolute;
  top:0;
  right:0;
  background:transparent url(../images/solutions/bg_carousel_selector.png)/*tpa=http://www.ashland.com/Ashland/images/solutions/bg_carousel_selector.png*/ no-repeat;
}

#carouselHolder #itemSelector a {
  height:41px;
  font-size:14px;
  cursor:pointer;
  display:block;
  width:35px;
  float:left;
}

#carouselHolder #itemSelector a:hover {
  text-decoration:none;
}

#carouselHolder #itemSelector a span {
  padding:13px 0 0;
  color:#59ADAD;
  width:100%;
  height:28px;
  display:block;
  text-align:center;
}

#carouselHolder #itemSelector a.activeSlide {
  position:relative;
  height:43px;
  top:-5px;
  color:#FFF;
  padding-top:5px;
  z-index:50;
  background:transparent url(../images/solutions/feature_active.png)/*tpa=http://www.ashland.com/Ashland/images/solutions/feature_active.png*/ no-repeat;
}

#carouselHolder #itemSelector a.activeSlide span {
  color:#FFF;
}

#carouselHolder #itemSelector #numHolder {
  float:right;
  height:41px;
  position:relative;
  z-index:50;
}

.smallCarousel .carousel-item {
  width:800px;
  height:314px;
}

.smallCarousel .carousel-item .itemContent {
  padding:95px 90px 0 365px;
}

.smallCarousel .carousel-item .itemContent p.contentHeadline {
  font-size:25px;
  color:#228C8C;
}

.smallCarousel .carousel-item .itemContent p.contentCopy {
  font-size:14px;
  color:#353535;
  line-height:19px;
  margin:0 0 8px;
}

.smallCarousel .carousel-item .itemContent p.playvideo a {
  display:block;
  background:transparent url(../images/btn_playvideo.png)/*tpa=http://www.ashland.com/Ashland/images/btn_playvideo.png*/ no-repeat;
  padding:3px 0 0 27px;
  height:18px;
  text-transform:uppercase;
  color:#3A8787;
  font-weight:700;
}

.smallCarousel #block-1 {
  background:transparent url(Unknown_83_filename)/*tpa=http://www.ashland.com/Ashland/images/_carousel/feature_1_sm.jpg*/ no-repeat;
}

.smallCarousel #block-2 {
  background:transparent url(Unknown_83_filename)/*tpa=http://www.ashland.com/Ashland/images/_carousel/feature_2_sm.jpg*/ no-repeat;
}

#yearCarouselHldr {
  position:relative;
  padding:0 56px;
  border-top:1px solid #F1F3F5;
  border-bottom:1px solid #DADDE0;
  height:30px;
  background:transparent url(../images/_carousel/bg_timeline.png)/*tpa=http://www.ashland.com/Ashland/images/_carousel/bg_timeline.png*/ repeat-x;
}

#yearCarouselHldr .itemHldr {
  width:5000px;
  height:30px;
  position:relative;
}

#yearCarouselHldr .itemHldr a {
  color:#5D666C;
  display:block;
  float:left;
  height:22px;
  font-size:14px;
  padding:9px 0 0 56px;
  text-align:center;
  width:48px;
}

#yearCarouselHldr .itemHldr a.activeSlide {
  position:relative;
  top:0;
  z-index:50;
  color:#FFF;
  background:transparent url(../images/_carousel/bg_year.png)/*tpa=http://www.ashland.com/Ashland/images/_carousel/bg_year.png*/ no-repeat 58px 2px;
}

#yearCarouselHldr .itemHldr a:hover {
  text-decoration:none;
}

#yearCarouselHldr .carouselBlock {
  position:relative;
  width:669px;
  margin:0 10px;
  overflow:hidden;
}

#yearCarouselHldr .controls {
  position:absolute;
  top:0;
  height:30px;
  width:56px;
  z-index:90;
}

#yearCarouselHldr .controls a {
  display:none;
  float:left;
  height:30px;
  text-indent:-9999px;
}

#yearCarouselHldr .controls a.on {
  display:block;
}

#yearCarouselHldr .leftControls {
  left:0;
}

#yearCarouselHldr .leftControls #btnCarouselStart {
  background:transparent url(../images/_carousel/btn_timeline_start.png)/*tpa=http://www.ashland.com/Ashland/images/_carousel/btn_timeline_start.png*/ no-repeat;
  width:32px;
}

#yearCarouselHldr .leftControls #btnCarouselPrev {
  background:transparent url(../images/_carousel/btn_timeline_prev.png)/*tpa=http://www.ashland.com/Ashland/images/_carousel/btn_timeline_prev.png*/ no-repeat;
  width:24px;
}

#yearCarouselHldr .rightControls {
  right:0;
}

#yearCarouselHldr .rightControls #btnCarouselFinish {
  background:transparent url(../images/_carousel/btn_timeline_end.png)/*tpa=http://www.ashland.com/Ashland/images/_carousel/btn_timeline_end.png*/ no-repeat;
  width:32px;
}

#yearCarouselHldr .rightControls #btnCarouselNext {
  background:transparent url(../images/_carousel/btn_timeline_next.png)/*tpa=http://www.ashland.com/Ashland/images/_carousel/btn_timeline_next.png*/ no-repeat;
  width:24px;
}

.history #indexHdr {
  position:relative;
}

#indexHdr.carouselButtons li {
  background:url(../images/redesign/carouselButton.png)/*tpa=http://www.ashland.com/Ashland/images/redesign/carouselButton.png*/ no-repeat;
  cursor:pointer;
  display:block;
  float:left;
  height:12px;
  margin-right:5px;
  width:12px;
}

.carouselNextPrev a {
  cursor:pointer;
  display:none;
  height:36px;
  width:20px;
  position:absolute;
  top:94px;
  z-index:50;
}

.carouselNextPrev #carouselPrev {
  left:20px;
  background:transparent url(../images/carousel_arrow_left.png)/*tpa=http://www.ashland.com/Ashland/images/carousel_arrow_left.png*/ no-repeat;
}

.carouselNextPrev #carouselNext {
  right:20px;
  background:transparent url(../images/carousel_arrow_right.png)/*tpa=http://www.ashland.com/Ashland/images/carousel_arrow_right.png*/ no-repeat;
}

.carouselNextPrev a.on {
  display:block;
}

#historyCarousel {
  position:relative;
  width:801px;
  height:272px;
  overflow:hidden;
}

#historyCarousel .itemHldr {
  width:50000px;
  height:272px;
  position:relative;
}

#historyCarousel .carousel-item {
  width:801px;
  float:left;
  position:relative;
  height:272px;
}

#historyCarousel .subitem-controls {
  position:absolute;
  bottom:40px;
  left:357px;
  width:140px;
  color:#BB0F0F;
  z-index:90;
  font-weight:700;
}

.subitem-controls a {
  display:none;
  position:relative;
  top:5px;
  margin:0 3px;
}

.subitem-controls a.on {
  display:inline;
}

#historyCarousel .has-subs .carousel-subitem {
  display:none;
  position:absolute;
  top:0;
  left:0;
}

#historyCarousel .has-subs .current-subitem {
  display:block;
}

#historyCarousel .carousel-subitem {
  width:801px;
  height:272px;
  position:relative;
}

#historyCarousel .carousel-subitem img {
  position:absolute;
  top:0;
  left:0;
}

#historyCarousel .carousel-subitem .itemContent {
  padding:53px 115px 0 358px;
  position:absolute;
  top:0;
  left:0;
}

#historyCarousel .carousel-subitem .itemContent p.contentYear {
  font-size:29px;
  color:#B4B3B3;
}

#historyCarousel .carousel-subitem .itemContent p.contentHeadline {
  font-size:27px;
  color:#4A4929;
}

#historyCarousel .carousel-subitem .itemContent p.contentCopy {
  font-size:13px;
  color:#33331A;
  line-height:19px;
}

div.markets #coverflow {
  width:801px;
  height:306px;
}

div.markets #coverflow p {
  padding:20px;
}

div.markets div.indexHdr {
  position:relative;
  height:314px;
  border-bottom:1px solid #eeede8;
  background:url(../images/bg_carousel.jpg)/*tpa=http://www.ashland.com/Ashland/images/bg_carousel.jpg*/ repeat-x bottom left;
}

div.markets div.indexHdr .shadowborder {
  z-index:50;
  position:absolute;
  top:0;
  left:0;
  height:13px;
  width:801px;
  background:transparent url(../images/bg_hdrtop_solutions.png)/*tpa=http://www.ashland.com/Ashland/images/bg_hdrtop_solutions.png*/ no-repeat;
}

div.products-services #coverflow {
  width:801px;
  height:306px;
}

div.markets #coverflow p {
  padding:20px;
}

div.products-services div.indexHdr {
  position:relative;
  height:314px;
  border-bottom:1px solid #eeede8;
  background:url(../images/bg_carousel.jpg)/*tpa=http://www.ashland.com/Ashland/images/bg_carousel.jpg*/ repeat-x bottom left;
}

div.products-services div.indexHdr .shadowborder {
  z-index:50;
  position:absolute;
  top:0;
  left:0;
  height:13px;
  width:801px;
  background:transparent url(../images/bg_hdrtop_solutions.png)/*tpa=http://www.ashland.com/Ashland/images/bg_hdrtop_solutions.png*/ no-repeat;
}

#oContent div.about #content h1,
#oContent div.about #contentNarrow h1 {
  color:#7a7a41;
  font-size:22px;
  font-weight:400;
  margin-bottom:10px;
}

div.about #lnav span.lNavHdr {
  background:url(../images/bg_lnav_hdr_about.png)/*tpa=http://www.ashland.com/Ashland/images/bg_lnav_hdr_about.png*/ repeat-x;
}

div.about #lnav ul li a {
  background:url(../images/bg_lnav_a_about.png)/*tpa=http://www.ashland.com/Ashland/images/bg_lnav_a_about.png*/ no-repeat;
  color:#5d666c;
}

div.about #lnav ul li a:hover {
  color:#7b7b37;
  text-decoration:none;
}

div.about #lnav ul li a.on {
  background-position:0 -31px;
  color:#7b7b37;
}

div.about #lnav ul ul {
  background:#eaead2;
}

div.about #lnav ul ul li a {
  background:none;
}

div.about #lnav ul ul li a.on {
  background:#afaf85;
  color:#FFF;
}

div.about div.headerTop {
  background:url(../images/bg_lnav_hdr_about.png)/*tpa=http://www.ashland.com/Ashland/images/bg_lnav_hdr_about.png*/ repeat-x;
}

#oContent div.global #wContent h1,
#oContent div.global #content h1,
#oContent div.global #contentNarrow h1 {
  color:#dd9d1d;
  font-size:22px;
  font-weight:400;
  margin-bottom:10px;
}

div.global #lnav span.lNavHdr {
  background:url(../images/bg_lnav_hdr_global.png)/*tpa=http://www.ashland.com/Ashland/images/bg_lnav_hdr_global.png*/ repeat-x;
}

div.global #lnav ul li a {
  background:url(../images/bg_lnav_a_global.png)/*tpa=http://www.ashland.com/Ashland/images/bg_lnav_a_global.png*/ no-repeat;
  color:#5d666c;
}

div.global #lnav ul li a:hover {
  color:#be8005;
  text-decoration:none;
}

div.global #lnav ul li a.on {
  background-position:0 -31px;
  color:#be8005;
}

div.global #lnav ul ul {
  background:#f6e8ce;
}

div.global #lnav ul ul li a {
  background:none;
}

div.global #lnav ul ul li a.on {
  background:#e1b45d;
  color:#FFF;
}

div.global div.headerTop {
  background:url(../images/bg_lnav_hdr_global.png)/*tpa=http://www.ashland.com/Ashland/images/bg_lnav_hdr_global.png*/ repeat-x;
}

div.hdrBuildingAndContruction {
  background:url(Unknown_83_filename)/*tpa=http://www.ashland.com/Ashland/images/solutions/markets/buildingandcontruction.jpg*/ no-repeat;
}

div.hdrAdditives {
  background:url(Unknown_83_filename)/*tpa=http://www.ashland.com/Ashland/images/solutions/products_services/additives.jpg*/ no-repeat;
}

div.hdrNews {
  background:transparent url(../images/news_media/news_media.jpg)/*tpa=http://www.ashland.com/Ashland/images/news_media/news_media.jpg*/ no-repeat;
}

div.contact div.headerTop {
  background:url(../images/bg_hdrtop_contact.png)/*tpa=http://www.ashland.com/Ashland/images/bg_hdrtop_contact.png*/ repeat-x;
}

.toggle_container div.worldwideRegion {
  padding:0 0 35px 15px;
  height:auto;
  overflow:hidden;
}

div.countryItem {
  float:left;
  width:200px;
  margin:35px 10px 0 0;
}

div.countryItem img {
  float:left;
  margin:0 10px 15px 0;
}

div.countryItem strong {
  display:block;
  margin-bottom:5px;
}

div.countryItem a {
  margin-right:10px;
}

.rightBanner p.caption {
  margin-top:6px;
}

#oContent div.country h2 {
  color:#269999;
  font-size:22px;
  font-weight:400;
  margin-bottom:15px;
}

div.country img {
  display:block;
  float:left;
  margin:0 10px 0 0;
}

div.country ul.left {
  float:left;
  margin-right:50px;
}

div.country ul.countryTabs {
  clear:left;
}

div.country div.countryCopy {
  float:left;
  margin-right:50px;
}

div.country div.countryCopy h2 {
  color:#269999;
  font-size:22px;
  font-weight:400;
}


div.country div.countryBanner a.default {
  font-size:11px;
  margin:0 0 12px 10px;
  display:block;
  padding:0 0 0 70px;
}

div.country div.countryBanner h5 {
  color:#6b8496;
  font-size:13px;
  text-transform:uppercase;
  margin:0 0 10px 4px;
}

div.country div.countryTabs {
  clear:both;
  padding-top:30px;
}

div.country div.countryTabs div.toolsHdr {
  clear:both;
  height:45px;
  line-height:45px;
  background:url(../images/bg_tabular_hdr.png)/*tpa=http://www.ashland.com/Ashland/images/bg_tabular_hdr.png*/ repeat-x;
  border:1px solid #d8dcde;
  padding:0 15px;
}

div.country div.countryTabs div.printTools {
  float:left;
  width:200px;
  height:45px;
  line-height:45px;
  background:url(../images/ico_print.png)/*tpa=http://www.ashland.com/Ashland/images/ico_print.png*/ no-repeat left center;
  padding-left:33px;
}

div.country div.countryTabs div.printTools a {
  font-size:10px;
  color:#363636;
  font-weight:700;
  text-transform:uppercase;
  margin-right:10px;
}

div.country div.countryTabs div.filterTools {
  float:right;
  height:45px;
  line-height:45px;
}

div.country div.countryTabs div.filterTools a {
  float:left;
  font-size:11px;
  margin-right:10px;
}

div.country div.countryTabs div.filterTools select {
  float:left;
  margin-right:10px;
}

div.country div.countryTabs ul.tabs li {
  float:left;
  font-size:12px;
  margin-right:-1px;
}

div.country div.countryTabs ul.tabs li a {
  float:left;
  padding:0 6px 0 0;
  margin:0;
  text-decoration:none;
  white-space:nowrap;
  outline:0;
  height:25px;
  line-height:25px;
  margin-left:5px;
}

div.country div.countryTabs ul.tabs li a span {
  float:left;
  padding:3px 17px 0 21px;
  height:25px;
  line-height:25px;
  margin-left:-5px;
  position:relative;
}

div.country div.countryTabs ul.tabs li.ui-state-default a {
  font-weight:700;
  color:#c01818;
  background:url(../images/bg_tab_pqf_dis.png)/*tpa=http://www.ashland.com/Ashland/images/bg_tab_pqf_dis.png*/ no-repeat;
  cursor:pointer;
  background-position:100% 0;
}

div.country div.countryTabs ul.tabs li.ui-state-default a span {
  background:url(../images/bg_tab_pqf_dis.png)/*tpa=http://www.ashland.com/Ashland/images/bg_tab_pqf_dis.png*/ no-repeat 0 0;
  padding-top:1px;
}

div.country div.countryTabs ul.tabs li.ui-tabs-selected a {
  height:28px;
  line-height:28px;
  font-weight:700;
  color:#c01818;
  cursor:pointer;
  background:url(../images/bg_tab_pqf_sel.png)/*tpa=http://www.ashland.com/Ashland/images/bg_tab_pqf_sel.png*/ no-repeat;
  background-position:100% 0;
  margin-top:-3px;
}

div.country div.countryTabs ul.tabs li.ui-tabs-selected a span {
  height:28px;
  line-height:28px;
  background:url(../images/bg_tab_pqf_sel.png)/*tpa=http://www.ashland.com/Ashland/images/bg_tab_pqf_sel.png*/ no-repeat 0 0;
  padding-top:1px;
}

ul.seamlessTabs {
  position:relative;
  top:1px;
  width:100%;
}

.relatedLinks p a {
  font-weight:700;
}

div.distrib div.headerTop {
  background:url(../images/bg_hdrtop_distrib.png)/*tpa=http://www.ashland.com/Ashland/images/bg_hdrtop_distrib.png*/ repeat-x;
}

div.hdrContact {
  background:url(../images/contact/hdr_index.jpg)/*tpa=http://www.ashland.com/Ashland/images/contact/hdr_index.jpg*/ no-repeat;
}

div.hdrDistrib {
  background:url(../images/distribution/hdr_index.jpg)/*tpa=http://www.ashland.com/Ashland/images/distribution/hdr_index.jpg*/ no-repeat;
}

div.index2ColWideLeft {
  float:left;
  width:425px;
  height:343px;
  margin-right:64px;
}

div.index2ColWideRight {
  float:left;
  width:425px;
  height:343px;
}

div.index2ColWideLeft h2,
div.index2ColWideRight h2 {
  height:39px;
  background:url(../images/bg_index_hdr_425.png)/*tpa=http://www.ashland.com/Ashland/images/bg_index_hdr_425.png*/ no-repeat;
  font-size:13px;
  color:#900;
  text-transform:uppercase;
  line-height:39px;
  padding:0 18px;
}

div.index2ColLeft {
  float:left;
  width:346px;
  margin-right:28px;
}

#wContent div.index2ColLeft {
  margin-right:10px;
}

div.index2ColLefttoRight {
  width:84%;
  margin-bottom:25px;
}

div.index2ColLefttoRight div.index2ColLeftItem {
  padding-bottom:10px;
  float:left;
  width:346px;
  margin-right:24px;
  margin-bottom:0;
}

div.index2ColLefttoRight div.index2ColRightItem {
  padding-bottom:10px;
  float:left;
  width:346px;
  margin-bottom:0;
}

div.index2ColRight {
  float:left;
  width:346px;
}

#wContent div.index2ColRight {
  margin-right:15px;
}

div.index2ColItem {
  margin-bottom:25px;
}

div.index2ColItem h2 {
  height:36px;
  background:url(../images/bg_index_hdr_341.png)/*tpa=http://www.ashland.com/Ashland/images/bg_index_hdr_341.png*/ no-repeat;
  font-size:13px;
  color:#900;
  text-transform:uppercase;
  line-height:36px;
  padding:0 18px;
}

div.index2ColItem div.index2ColContent {
  height:auto;
  overflow:hidden;
  background:url(../images/bg_index_2col.png)/*tpa=http://www.ashland.com/Ashland/images/bg_index_2col.png*/ no-repeat bottom;
  padding:17px;
  font-size:13px;
}

div.index2ColItem div.newsIndex {
  height:235px;
}

div.index2ColItem div.newsIndex ul li {
  margin-bottom:22px;
  line-height:17px;
}

div.index2ColItem div.index2ColContent div.right {
  float:left;
  width:219px;
}

div.index2ColItem div.index2ColContent img {
  float:left;
  margin:0 10px 15px 0;
}

div.index2ColItem div.index2ColContent li {
  font-size:12px;
  margin-bottom:2px;
}

div.index2ColItem div.index2ColContent p {
  font-size:.9em;
}

div.index2ColItem div.newsIndex p {
  margin-bottom:20px;
}

div.index2ColItem div.index2ColContent div.toggle_container ul {
  margin-bottom:10px;
}

div.index2ColItem div.index2ColContent a {
  font-size:12px;
}

div.index2ColItem div.index2ColContent a.trigger {
  font-size:11px;
  background:url(../images/bg_trigger_submarket.png)/*tpa=http://www.ashland.com/Ashland/images/bg_trigger_submarket.png*/ no-repeat 0 5px;
  padding-left:15px;
}

div.index2ColItem div.index2ColContent a.active {
  background-position:0 -5px;
}

#lnav {
  float:left;
  width:199px;
}

#lnav span.lNavHdr {
  display:block;
  height:52px;
  line-height:52px;
  padding-left:13px;
  font-size:13px;
  color:#FFF;
  font-weight:700;
  text-transform:uppercase;
  border-bottom:1px solid #cdd1d4;
}

#lnav ul {
  margin-bottom:15px;
}

#lnav ul li a {
  display:block;
  height:31px;
  padding:0 25px 0 13px;
  line-height:31px;
  font-weight:700;
  border-bottom:1px solid #cdd1d4;
}

#lnav ul ul {
  padding:10px 0;
  margin:0;
  border-bottom:1px solid #cdd1d4;
}

#lnav ul ul li {
  margin:2px 0;
}

#lnav ul ul li a {
  display:block;
  padding:3px 5px 3px 20px;
  height:auto;
  background:none;
  border:none;
  line-height:normal;
  color:#363636;
  font-weight:400;
}

div.bannerContact {
  width:184px;
  height:138px;
  padding:17px 15px 0 12px;
  background:url(../images/bg_banner_contact.png)/*tpa=http://www.ashland.com/Ashland/images/bg_banner_contact.png*/ no-repeat;
  margin:0 auto;
  color:#3f403f;
}

div.bannerContact p {
  font-weight:700;
  margin:10px 0 5px !important;
}

div.bannerContact span.hdr {
  font-size:15px;
  font-weight:700;
  color:#667f90;
  text-transform:uppercase;
}

div.bannerContact a {
  display:block;
  width:96px;
  height:26px;
  line-height:24px;
  margin-top:10px;
  text-align:center;
  background:url(../images/bg_btn_contact.png)/*tpa=http://www.ashland.com/Ashland/images/bg_btn_contact.png*/ no-repeat;
  font-size:11px;
  font-weight:700;
  color:#FFF;
  text-transform:uppercase;
}

#pageHeader {
  height:275px;
  padding:0;
  width:1170px;
}

#oContent #pageHeader h1 {
  color:#FFF;
  font-size:25px;
  font-weight:400;
  margin-bottom:0;
}

#oContent #pageHeader p {
  color:#fff;
  font-size:1.2em;
  letter-spacing:.02em;
  margin-right:380px;
}

div.submarketsHdr {
  width:738px;
  background:url(../images/bg_submarkets_hdr.png)/*tpa=http://www.ashland.com/Ashland/images/bg_submarkets_hdr.png*/ repeat-x #3e8888;
  padding:17px 0 30px 20px;
  margin:0 21px;
  height:auto;
  overflow:hidden;
}

div.submarketsHdr h2 {
  font-size:16px;
  color:#FFF;
  margin-bottom:5px;
}

div.submarketsHdr li.ui-tabs-selected a {
  color:#206969;
}

div.submarketsHdr li {
  float:left;
  padding:4px 8px 4px 12px;
  width:145px;
  margin:0 15px 0 0;
  color:#FFF;
  position:relative;
}

div.submarketsHdr li.ui-tabs-selected {
  background:#FFF;
  color:#206969;
}

div.submarketsHdr li a {
  color:#FFF;
  font-weight:700;
}

div.submarketsHdr li span {
  position:absolute;
  top:2px;
  left:4px;
}

div.submarketsContent {
  background:url(../images/bg_submarkets_content.png)/*tpa=http://www.ashland.com/Ashland/images/bg_submarkets_content.png*/ repeat-x #f6f9f9;
  margin:0 21px;
  width:758px;
  overflow:hidden;
}

div.submarketsCopy {
  padding:15px 13px 25px 30px;
}

div.submarketsCopy h3 {
  font-size:25px;
  color:#269999;
  font-weight:400;
  margin-bottom:15px;
}

div.submarketsContent div.left {
  float:left;
  width:465px;
  margin-right:50px;
}

div.submarketsContent div.right {
  float:left;
  width:184px;
}

div.submarketsCopy p {
  margin-bottom:20px;
}

div.bannerFeaturedProduct {
  width:157px;
  height:117px;
  font-size:11px;
  background:url(../images/bg_featured_product.png)/*tpa=http://www.ashland.com/Ashland/images/bg_featured_product.png*/ no-repeat;
  margin-bottom:25px;
  padding:20px 10px 0 17px;
}

div.bannerFeaturedProduct h5 {
  color:#6b8496;
  font-size:13px;
  text-transform:uppercase;
  margin-bottom:5px;
}

div.bannerFeaturedProduct p strong {
  font-size:12px;
}

div.bannerFeaturedProduct p {
  margin-bottom:5px !important;
  line-height:1.2em !important;
}

div.submarketsTabularCntnr {
  margin:0 10px;
}

div.submarketsTabularCntnr div.tabularHdr {
  margin:0;
}

div.submarketsTabularCntnr div.tabularCntnr {
  margin:0;
}

div.bannerDownload {
  width:134px;
  padding:6px 0 0 50px;
  background:url(../images/ico_download.png)/*tpa=http://www.ashland.com/Ashland/images/ico_download.png*/ no-repeat;
  margin-bottom:30px;
}

div.bannerDownload h5 {
  color:#6b8496;
  font-size:13px;
  text-transform:uppercase;
  margin-bottom:10px;
}

div.bannerDownload a {
  font-size:11px;
}

div.submarketsArrow {
  height:15px;
  background:url(../images/bg_submarkets_arrow.png)/*tpa=http://www.ashland.com/Ashland/images/bg_submarkets_arrow.png*/ no-repeat;
  margin:0 21px;
}

div.productName {
  float:left;
  height:55px;
  position:relative;
  width:700px;
}

div.productLogos {
  float:right;
  margin:0 0 17px;
}

div.productGlanceMarket {
  background:url(../images/ui-bg_fine-grain_10_f8f7f6_60x60.png)/*tpa=http://www.ashland.com/Ashland/images/ui-bg_fine-grain_10_f8f7f6_60x60.png*/ 50% 50% repeat;
  border:1px solid #cbc7bd;
  font-weight:700;
  color:#654b24;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  padding:.5em;
}

div.productGlanceMarket a.glance {
  float:left;
  color:#970000;
  display:block;
  width:94px;
  height:26px;
  line-height:22px;
  text-align:center;
  background:url(../images/bg_btn_ataglance.png)/*tpa=http://www.ashland.com/Ashland/images/bg_btn_ataglance.png*/ no-repeat;
  font-size:13px;
}

div.productGlanceMarket a.glance-active {
  background:url(../images/bg_btn_ataglance_active.png)/*tpa=http://www.ashland.com/Ashland/images/bg_btn_ataglance_active.png*/ no-repeat;
  color:#FFF;
}

div.productGlanceMarket a.glance-active:hover {
  text-decoration:none;
}

div.productGlanceMarket div.productDetailMarket {
  float:right;
  width:312px;
}

div.productGlanceMarket div.productDetailMarket span {
  font-size:12px;
  font-weight:700;
  margin:4px 0 0;
  width:105px;
  float:left;
  color:#363636;
}

div.productCopy {
  clear:both;
  padding:20px 0;
  height:auto;
  font-size:13px;
  color:#363736;
}

div.productCopy div.productCopyLeft {
  float:left;
  width:415px;
}

div.productCopy div.productCopyRight {
  float:left;
  width:415px;
  padding:0 25px;
}

div.productCopy p {
  margin-bottom:15px;
}

div.productCopy p.explore {
  margin-left:25px;
  clear:left;
  font-weight:700;
}

div.productCallOuts {
  clear:both;
  padding:20px;
  height:auto;
  overflow:hidden;
}

div.productCallOuts div.productContact {
  float:left;
  margin:0 33px 0 0;
}

div.productCallOuts div.bannerAvailability {
  width:270px;
  color:#363736;
}

div.productCallOuts div.bannerAvailability h5 {
  color:#6b8496;
  font-size:13px;
  text-transform:uppercase;
  margin-bottom:10px;
}

div.productCallOuts div.bannerAvailability img {
  float:left;
  margin-right:10px;
  margin-bottom:20px;
}

div.productCallOuts div.productAvailability {
  float:left;
  margin:0 40px 0 0;
}

div.productCallOuts div.productDownload {
  float:left;
  width:180px;
  margin:0 45px 0 0;
  background:none;
  padding:0;
  background:url(../images/ico_download.png)/*tpa=http://www.ashland.com/Ashland/images/ico_download.png*/ no-repeat 0 25px;
  min-height:100px;
  height:auto !important;
  height:100px;
}

div.productCallOuts div.productDownload ul {
  margin-left:45px;
}

div.productCallOuts div.productDownload li {
  margin:2px 0;
}

div.productCallOuts div.productDownload a {
  font-size:12px;
}

div.productCallOuts div.bannerRelated {
  width:140px;
  color:#363736;
}

div.productCallOuts div.bannerRelated h5 {
  color:#6b8496;
  font-size:13px;
  text-transform:uppercase;
  margin-bottom:10px;
}

div.productCallOuts div.bannerRelated li {
  margin:2px 0;
}

div.productCallOuts div.productRelated {
  float:left;
}

div.collapseControls {
  clear:left;
  background:#f3f5f6;
  border:1px solid #e8e8e8;
  padding:20px;
  text-align:right;
}

h2.trigger {
  height:26px;
  background:url(../images/bg_trigger_h2.png)/*tpa=http://www.ashland.com/Ashland/images/bg_trigger_h2.png*/ repeat-x;
  border-bottom:1px solid #c9c9c9;
  padding:5px 15px;
  margin-top:2px;
}

h2.trigger a {
  float:left;
  display:block;
  height:14px;
  background:url(../images/bg_trigger_a.png)/*tpa=http://www.ashland.com/Ashland/images/bg_trigger_a.png*/ no-repeat;
  padding-left:25px;
  font-size:14px;
  color:#970000;
  font-weight:700;
}

h2.active a {
  background-position:0 -14px;
  color:#4b4c4c;
}

h2.trigger span {
  display:inline-block;
  font-size:12px;
  color:#363736;
  font-weight:400;
  margin:2px 0 0 5px;
}

.toggle_container {
  display:none;
}

.toggle_container div.tabularCntnr {
  font-size:12px;
  margin:0 0 15px;
}

.toggle_container div.documentLibrary {
  border:1px solid #c9c9c9;
  margin:0 0 35px;
}

div.contactTypeHdr {
  width:100%;
  display:inline-block;
  background:url(../images/bg_contact_hdr.png)/*tpa=http://www.ashland.com/Ashland/images/bg_contact_hdr.png*/ repeat-x #626289;
  padding:17px 0 30px 20px;
  height:auto;
  overflow:hidden;
}

div.contactTypeHdr h2 {
  font-size:16px;
  color:#FFF;
  margin-bottom:5px;
}

div.contactTypeHdr ul {
  float:left;
  margin-right:20px;
}

div.contactTypeHdr li a {
  display:block;
  color:#FFF;
  padding:2px 8px;
  font-weight:700;
  white-space:nowrap;
}

div.contactTypeHdr li a.on {
  background:#FFF;
  color:#57577d;
}

div.contactTypeContent {
  width:100%;
  background:url(../images/bg_contact_content.png)/*tpa=http://www.ashland.com/Ashland/images/bg_contact_content.png*/ repeat-x #fff;
  padding:15px 13px 25px 30px;
}

div.contactTypeContent h3 {
  font-size:25px;
  color:#4a4a8d;
  font-weight:400;
  margin:-10px 0 10px;
}

div.contactTypeContent p {
  color:#363736;
}

div.contactTypeArrow {
  width:100%;
}

.contactFormRow {
  padding-bottom:10px;
}

.contactFormCol {
  float:left;
  width:205px;
  margin-right:80px;
}

.contactFormRow label {
  display:block;
  margin-bottom:1px;
  color:#363636;
}

.contactFormRow .textfield {
  height:18px;
  border:1px solid #ccc;
  width:205px;
}

.contactFormRow textarea {
  border:1px solid #ccc;
  width:490px;
  height:100px;
  font-family:Arial,Helvetica,sans-serif;
  font-size:12px;
  color:#363636;
}

#btnSubmitContact {
  cursor:pointer;
  margin-right:7px;
  border:none;
  width:70px;
  height:27px;
  background:url(../images/bg_btn_submit.png)/*tpa=http://www.ashland.com/Ashland/images/bg_btn_submit.png*/ no-repeat;
  font-size:13px;
  color:#900;
}

div.mediaInquiries {
  float:left;
  width:500px;
}

div.mediaInquiries li {
  float:left;
  margin-right:30px;
}

div.bannerMediaKits {
  float:right;
  width:151px;
  height:102px;
  background:url(../images/bg_banner_media_kit.png)/*tpa=http://www.ashland.com/Ashland/images/bg_banner_media_kit.png*/ no-repeat;
  padding:18px 10px 0 23px;
}

div.bannerMediaKits h5 {
  color:#6b8496;
  font-size:13px;
  text-transform:uppercase;
  margin-bottom:25px;
}

div.bannerMediaKits a {
  display:block;
  padding-left:50px;
}

div.rightBanner {
  float:right;
  width:187px;
  background:url(../images/bg_rightbanner.png)/*tpa=http://www.ashland.com/Ashland/images/bg_rightbanner.png*/ no-repeat;
  padding:20px 15px;
  font-size:11px;
  color:#363736;
}

div.rightBanner h5 {
  color:#6b8496;
  font-size:13px;
  text-transform:uppercase;
  padding:10px 0;
}

div.rightBanner p,
div.rightBanner ul {
  margin-bottom:10px;
}

div.rightBanner li {
  margin-bottom:3px;
}

div.rightBanner a {
  font-size:12px;
}

div.rightBanner div.worldwideBanner {
  float:left;
  height:83px;
  width:162px;
  background:url(../images/bg_banner_worldwide.png)/*tpa=http://www.ashland.com/Ashland/images/bg_banner_worldwide.png*/ no-repeat;
  padding:10px 11px;
  margin-bottom:20px;
}

div.rightBanner div.right {
  float:left;
  margin-left:60px;
}

div.rightBanner div.worldwideBanner a {
  font-size:11px;
}

div.rightBanner div.worldwideBanner h5 {
  color:#6b8496;
  font-size:13px;
  text-transform:uppercase;
  margin:0 0 10px;
  padding:0;
}

div.bannerHelp {
  float:right;
  margin-left:20px;
}

div.bannerRed {
  width:184px;
  position:relative;
  background:transparent url(../images/bg_banner_red.png)/*tpa=http://www.ashland.com/Ashland/images/bg_banner_red.png*/ repeat-y;
}

div.bannerRed h5 {
  height:32px;
  background:#FFF url(../images/bg_banner_red_hdr.png)/*tpa=http://www.ashland.com/Ashland/images/bg_banner_red_hdr.png*/ no-repeat;
  font-size:13px;
  text-transform:uppercase;
  padding:10px 0 0 13px;
}

div.bannerRed div.bannerRedContent {
  padding:17px 0 20px 10px;
  margin-left:2px;
  margin-right:2px;
  background:#FFF url(../images/bg_banner_red_gradient.png)/*tpa=http://www.ashland.com/Ashland/images/bg_banner_red_gradient.png*/ repeat-x bottom left;
}

div.bannerRed strong {
  display:block;
  margin-bottom:5px;
  font-size:12px;
  color:#666254;
}

div.bannerRed hr {
  height:1px;
  margin:10px 0;
  background:none;
  border:none;
  border-top:1px solid #d5d1c6;
  border-bottom:1px solid #FFF;
}

div.bannerRed div#bannerRed-bottom {
  position:absolute;
  height:10px;
  width:184px;
  bottom:0;
  left:0;
  background:#FFF url(../images/bg_banner_red_bottom.png)/*tpa=http://www.ashland.com/Ashland/images/bg_banner_red_bottom.png*/ no-repeat;
}

div.bannerPQF {
  float:left;
}

div.bannerPQF div.bannerRedContent {
  padding:17px 10px 20px;
}

div.bannerPQF div.bannerRedContent a {
  font-weight:700;
}

div.tabularHdr {
  clear:both;
  height:45px;
  line-height:45px;
  background:url(../images/bg_tabular_hdr.png)/*tpa=http://www.ashland.com/Ashland/images/bg_tabular_hdr.png*/ repeat-x;
  border:1px solid #d8dcde;
  margin:0 21px;
  padding:0 15px;
  width:100%;
}

div.tabularHdr h4 {
  float:left;
  font-size:14px;
  color:#4b4c4c;
}

div.tabularHdr div.showResults {
  float:right;
  font-size:11px;
  font-weight:700;
  color:#363636;
}

div.tabularHdr div.showResults a {
  margin:0 2px;
  color:#363636;
}

div.tabularHdr div.showResults a.on {
  color:#970000;
}

div.tabularHdr div.filter {
  float:left;
  color:#363636;
  font-size:10px;
  font-weight:700;
  text-transform:uppercase;
}

div.tabularHdr div.filter span {
  display:block;
  float:left;
}

div.tabularHdr #ddMarketFilter {
  text-transform:none;
  font-weight:400;
  margin-left:10px;
}

div.tabularCntnr {
  font-size:11px;
  color:#363736;
  margin:0 21px;
  clear:left;
}

div.noMargin {
  margin:0;
}

div.tabularCntnr div.tblRow {
  height:auto;
  overflow:hidden;
  width:100%;
}

div.tabularCntnr div.tblRow p {
  margin-bottom:10px;
}

div.tabularCntnr div.tblRow ul {
  margin-bottom:15px;
}

div.tabularCntnr div.tblRow li {
  margin:2px 0;
}

div.tabularCntnr div.tblRow li strong {
  font-weight:700 !important;
}

div.tabularCntnr div.tblRow li.doclibBullet {
  list-style:disc outside none;
  margin-left:15px;
}

div.tabularCntnr div.header {
  background:#e9edf1;
  border:1px solid #d8dcde;
  border-top:none;
  font-weight:700;
  width:100%;
}

div.tabularCntnr div.header span {
  font-weight:400;
}

div.tabularCntnr div.even {
  background:#f4f6f9;
}

.tabularCntnr .threecol .leftHdr {
  padding:5px 15px;
  margin:0 35px 0 0;
  float:left;
  width:250px;
}

.tabularCntnr .threecol .midHdr {
  padding:5px 15px 5px 10px;
  margin:0 35px 0 0;
  float:left;
  width:245px;
}

.tabularCntnr .threecol .rightHdr {
  float:left;
  padding:5px 15px;
  width:280px;
}

.tabularCntnr .threecol .leftCol {
  float:left;
  padding:15px;
  margin:0 35px 0 2px;
  width:250px;
}

.tabularCntnr .threecol .midCol {
  float:left;
  padding:15px 15px 15px 10px;
  width:245px;
  margin:0 35px 0 0;
}

.tabularCntnr .threecol .midCol-alt {
  float:left;
  padding:15px 20px 15px 10px;
  width:275px;
  margin:0;
}

.tabularCntnr .threecol .rightCol {
  float:left;
  width:280px;
  padding:15px;
}

.tabularCntnr .threecol ul.faux-bullets li {
  background:transparent url(Unknown_83_filename)/*tpa=http://www.ashland.com/Ashland/images/bullet.png*/ no-repeat 0 6px;
  padding:0 0 0 10px;
}

#wContent .tabularCntnr .twocol {
  color:#353735;
  line-height:17px;
}

#wContent .tabularCntnr .twocol .leftCol {
  float:left;
  padding:0 15px;
  width:435px;
  margin:24px 0 0;
}

#wContent .tabularCntnr .twocol .rightCol {
  float:left;
  padding:0 15px;
  width:400px;
  margin:30px 0 0;
}

#wContent .tabularCntnr .twocol p.thin {
  padding:0 60px 0 0;
}

#wContent .tabularCntnr .twocol p.caption {
  color:#8C8C8C;
  margin-top:8px;
  font-size:11px;
}

#wContent .tabularCntnr .twocol p.caption a {
  margin:0 8px 0 0;
}

#wContent .tabularCntnr .twocol p span.imgHolder {
  float:left;
  margin:18px 20px 0 0;
}

#wContent .tabularCntnr .twocol p span.imgHolder img {
  margin:0 0 8px;
}

#wContent .tabularCntnr .twocol p span.imgHolder span.caption {
  display:block;
  color:#8C8C8C;
  font-size:11px;
}

#wContent .tabularCntnr .twocol p span.imgHolder span.caption img {
  margin:0;
}

#wContent .tabularCntnr .twocol p span.imgHolder span.caption a {
  margin:0 8px 0 0;
}

div.tabularCntnr div.tblColCheckbox {
  float:left;
  margin-right:10px;
}

div.tabularCntnr div.tblCol150 {
  float:left;
  width:120px;
  padding:15px;
}

div.tabularCntnr div.tblCol185 {
  float:left;
  width:155px;
  padding:15px;
}

div.tabularCntnr div.tblCol200 {
  float:left;
  width:170px;
  padding:15px;
}

div.tabularCntnr div.tblCol215 {
  float:left;
  width:223px;
  padding:15px;
}

div.tabularCntnr div.tblCol250 {
  float:left;
  width:220px;
  padding:15px 15px 15px 10px;
}

div.tabularCntnr div.tblCol280 {
  float:left;
  width:250px;
  padding:15px;
}

div.tabularCntnr div.tblCol310 {
  float:left;
  width:280px;
  padding:15px;
}

div.tabularCntnr div.tblCol320 {
  float:left;
  width:290px;
  padding:15px;
}

div.tabularCntnr div.margin35 {
  margin-right:142px;
}

div.tabularCntnr div.borderRight {
  border-right:1px solid #c9c9c9;
}

div.tabularCntnr div.borderLeft {
  border-left:1px solid #c9c9c9;
}

div.tabularCntnr div.header div.tblCol150,
div.tabularCntnr div.header div.tblCol185,
div.tabularCntnr div.header div.tblCol200,
div.tabularCntnr div.header div.tblCol215,
div.tabularCntnr div.header div.tblCol250,
div.tabularCntnr div.header div.tblCol280,
div.tabularCntnr div.header div.tblCol310,
div.tabularCntnr div.header div.tblCol320 {
  padding:5px 15px;
}

div.tabularCntnrCountry {
  font-size:11px;
  color:#363736;
  margin:0 21px;
  clear:left;
}

div.noMargin {
  margin:0;
}

div.tabularCntnrCountry div.tblRow {
  height:auto;
  overflow:hidden;
  width:100%;
}

div.tabularCntnrCountry div.tblRow p {
  margin-bottom:10px;
}

div.tabularCntnrCountry div.tblRow ul {
  margin-bottom:15px;
}

div.tabularCntnrCountry div.tblRow li {
  margin:2px 0;
}

div.tabularCntnrCountry div.tblRow li strong {
  font-weight:700 !important;
}

div.tabularCntnrCountry div.tblRow li.doclibBullet {
  list-style:disc outside none;
  margin-left:15px;
}

div.tabularCntnrCountry div.header {
  background:#e9edf1;
  border:1px solid #d8dcde;
  border-top:none;
  font-weight:700;
}

div.tabularCntnrCountry div.header span {
  font-weight:400;
}

div.tabularCntnrCountry div.even {
  background:#f4f6f9;
}

.tabularCntnrCountry .threecol .leftHdr {
  padding:5px 15px;
  margin:0 35px 0 0;
  float:left;
  width:250px;
}

.tabularCntnrCountry .threecol .midHdr {
  padding:5px 15px 5px 10px;
  margin:0 35px 0 0;
  float:left;
  width:245px;
}

.tabularCntnrCountry .threecol .rightHdr {
  float:left;
  padding:5px 15px;
  width:280px;
}

.tabularCntnrCountry .threecol .leftCol {
  float:left;
  padding:15px;
  margin:0 35px 0 2px;
  width:250px;
}

.tabularCntnrCountry .threecol .midCol {
  float:left;
  padding:15px 15px 15px 10px;
  width:245px;
  margin:0 35px 0 0;
}

.tabularCntnrCountry .threecol .midCol-alt {
  float:left;
  padding:15px 20px 15px 10px;
  width:275px;
  margin:0;
}

.tabularCntnrCountry .threecol .rightCol {
  float:left;
  width:280px;
  padding:15px;
}

.tabularCntnrCountry .threecol ul.faux-bullets li {
  background:transparent url(Unknown_83_filename)/*tpa=http://www.ashland.com/Ashland/images/bullet.png*/ no-repeat 0 6px;
  padding:0 0 0 10px;
}

#wContent .tabularCntnrCountry .twocol {
  color:#353735;
  line-height:17px;
}

#wContent .tabularCntnrCountry .twocol .leftCol {
  float:left;
  padding:0 15px;
  width:435px;
  margin:24px 0 0;
}

#wContent .tabularCntnrCountry .twocol .rightCol {
  float:left;
  padding:0 15px;
  width:400px;
  margin:30px 0 0;
}

#wContent .tabularCntnrCountry .twocol p.thin {
  padding:0 60px 0 0;
}

#wContent .tabularCntnrCountry .twocol p.caption {
  color:#8C8C8C;
  margin-top:8px;
  font-size:11px;
}

#wContent .tabularCntnrCountry .twocol p.caption a {
  margin:0 8px 0 0;
}

#wContent .tabularCntnrCountry .twocol p span.imgHolder {
  float:left;
  margin:18px 20px 0 0;
}

#wContent .tabularCntnrCountry .twocol p span.imgHolder img {
  margin:0 0 8px;
}

#wContent .tabularCntnrCountry .twocol p span.imgHolder span.caption {
  display:block;
  color:#8C8C8C;
  font-size:11px;
}

#wContent .tabularCntnrCountry .twocol p span.imgHolder span.caption img {
  margin:0;
}

#wContent .tabularCntnrCountry .twocol p span.imgHolder span.caption a {
  margin:0 8px 0 0;
}

div.tabularCntnrCountry div.tblColCheckbox {
  float:left;
  margin-right:10px;
}

div.tabularCntnrCountry div.tblCol150 {
  float:left;
  width:120px;
  padding:15px;
}

div.tabularCntnrCountry div.tblCol185 {
  float:left;
  width:155px;
  padding:15px;
}

div.tabularCntnrCountry div.tblCol200 {
  float:left;
  width:170px;
  padding:15px;
}

div.tabularCntnrCountry div.tblCol215 {
  float:left;
  width:223px;
  padding:15px;
}

div.tabularCntnrCountry div.tblCol250 {
  float:left;
  width:220px;
  padding:15px 15px 15px 10px;
}

div.tabularCntnrCountry div.tblCol280 {
  float:left;
  width:250px;
  padding:15px;
}

div.tabularCntnrCountry div.tblCol310 {
  float:left;
  width:280px;
  padding:15px;
}

div.tabularCntnrCountry div.tblCol320 {
  float:left;
  width:290px;
  padding:15px;
}

div.tabularCntnrCountry div.tblCol350 {
  float:left;
  width:320px;
  padding:15px;
}

div.tabularCntnrCountry div.margin35 {
  margin-right:131px;
}

div.tabularCntnrCountry div.margin40 {
  margin-right:40px;
}

div.tabularCntnrCountry div.borderRight {
  border-right:1px solid #c9c9c9;
}

div.tabularCntnrCountry div.borderLeft {
  border-left:1px solid #c9c9c9;
}

div.tabularCntnrCountry div.header div.tblCol150,
div.tabularCntnrCountry div.header div.tblCol185,
div.tabularCntnrCountry div.header div.tblCol200,
div.tabularCntnrCountry div.header div.tblCol215,
div.tabularCntnrCountry div.header div.tblCol250,
div.tabularCntnrCountry div.header div.tblCol280,
div.tabularCntnrCountry div.header div.tblCol310,
div.tabularCntnrCountry div.header div.tblCol320 {
  padding:5px 15px;
}

div.searchResultBox {
  margin-bottom:25px;
  height:auto;
  overflow:hidden;
}

div.searchResultBox p {
  font-weight:700;
  color:#363636;
  margin-bottom:10px;
}

div.searchResultBox .searchResultsSearchBox {
  width:262px;
  height:21px;
  padding:5px 0 0 11px;
  background:url(../images/bg_txtbox_sr_search.png)/*tpa=http://www.ashland.com/Ashland/images/bg_txtbox_sr_search.png*/ no-repeat;
  border:0;
  float:left;
  color:#363636;
}

div.searchResultBox #btnResultsSearch {
  float:left;
  width:24px;
  height:26px;
  border:0;
  background:url(../images/bg_btn_sr_search.png)/*tpa=http://www.ashland.com/Ashland/images/bg_btn_sr_search.png*/ no-repeat;
  text-indent:-9999px;
}

div.searchResults {
  clear:both;
  height:auto;
  overflow:hidden;
}

div.searchResults li {
  height:130px;
}

div.searchResultLeft {
  float:left;
  width:455px;
  margin-right:24px;
}

div.searchResultLeft h2 {
  height:45px;
  line-height:45px;
  background:url(../images/bg_tabular_hdr.png)/*tpa=http://www.ashland.com/Ashland/images/bg_tabular_hdr.png*/ repeat-x;
  border:1px solid #d8dcde;
  padding-left:15px;
  font-size:15px;
  color:#4b4c4c;
}

div.searchResultLeft div.searchResultContent {
  padding:30px 15px 0;
}

div.searchResultRight {
  float:left;
  width:455px;
}

div.searchResultRight h2 {
  height:45px;
  line-height:45px;
  background:url(../images/bg_tabular_hdr.png)/*tpa=http://www.ashland.com/Ashland/images/bg_tabular_hdr.png*/ repeat-x;
  border:1px solid #d8dcde;
  padding-left:15px;
  font-size:15px;
  color:#4b4c4c;
}

div.searchResultRight div.searchResultContent {
  padding:30px 15px 0;
}

div.searchResultContent {
  font-size:13px;
  color:#363636;
}

div.searchResultContent p.results {
  margin-bottom:15px;
}

div.searchResultContent h3 {
  font-size:14px;
}

div.searchResultContent li {
  margin-bottom:15px;
}

#wContent div.searchResultContent ol li p {
  margin-bottom:7px;
}

div.backButton {
  font-weight:700;
  text-transform:uppercase;
  margin-top:-15px;
  padding-bottom:20px;
  padding-left:16px;
}

div.backButton a {
  display:block;
  width:82px;
  height:29px;
  line-height:29px;
  text-align:center;
  background:url(../images/bg_back.png)/*tpa=http://www.ashland.com/Ashland/images/bg_back.png*/ no-repeat;
}

div.backWorldwideButton {
  font-weight:700;
  text-transform:uppercase;
  padding-bottom:30px;
}

div.backWorldwideButton a {
  display:block;
  width:240px;
  height:30px;
  line-height:29px;
  text-align:center;
  background:url(../images/bg_back_worldwide.png)/*tpa=http://www.ashland.com/Ashland/images/bg_back_worldwide.png*/ no-repeat;
}

#oFooter {
  width:100%;
  height:130px;
  background:url(../images/bg_ofooter.png)/*tpa=http://www.ashland.com/Ashland/images/bg_ofooter.png*/ center no-repeat;
  margin-top:-100px;
  position:relative;
}

#oHmContent #oFooter {
  margin-top:-130px;
}

#iFooter {
  width:100%;
  padding-top:45px !important;
  overflow:hidden;
}

#iFooter div.spacer {
  float:left;
  display:block;
  width:184px;
  height:1px;
  margin:0 45px 0 0;
}

#iFooter div.distrib {
  display:block;
  width:172px;
  height:35px;
  background:url(../images/bg_banner_distrib.png)/*tpa=http://www.ashland.com/Ashland/images/bg_banner_distrib.png*/ no-repeat;
  padding:12px 0 0 14px;
  float:left;
  margin:0 45px 0 0;
}

#iFooter div.distrib h5 {
  color:#6b8496;
  font-size:12px;
  text-transform:uppercase;
}

#iFooter div.distrib p {
  font-size:11px;
}

#iFooter div.distrib a:hover {
  text-decoration:underline;
}

#iFooter img.care {
  float:left;
}

#iFooter div.copyrightLinks {
  float:left;
  width:428px;
  margin:18px 35px 0 0;
  font-size:11px;
  color:#70737f;
}

#iFooter div.copyrightLinks li {
  margin-right:10px;
}

#iFooter div.copyrightLinks a {
  color:#7794aa;
}

#iFooter div.emailSubscribe {
  float:left;
  width:30px;
  margin-right:3px;
}

#iFooter div.emailSubscribe span {
  display:block;
  background:url(../images/ico_envelope.png)/*tpa=http://www.ashland.com/Ashland/images/ico_envelope.png*/ no-repeat;
  margin-bottom:5px;
  padding-left:25px;
  color:#70737f;
  font-weight:700;
}

#iFooter div.emailSubscribe .watermark {
  width:196px;
  height:24px;
  padding:0 0 0 5px;
  background:url(../images/bg_txtbox_subscribe.png)/*tpa=http://www.ashland.com/Ashland/images/bg_txtbox_subscribe.png*/ no-repeat;
  border:0;
  float:left;
  font-size:11px;
  color:#9a9a9a;
}

#iFooter div.emailSubscribe #btnSubscribe {
  float:left;
  width:13px;
  height:24px;
  border:0;
  background:url(../images/bg_btn_subscribe.png)/*tpa=http://www.ashland.com/Ashland/images/bg_btn_subscribe.png*/ no-repeat;
  text-indent:-9999px;
}

#iFooter .returnBtn {
  float:left;
  margin-top:17px;
  margin-right:50px;
}

#oHmContent {
  width:100%;
  height:auto;
  overflow:hidden;
  background:url(../images/bg_ohmcontent.png)/*tpa=http://www.ashland.com/Ashland/images/bg_ohmcontent.png*/ repeat-x;
}

#lHmContent {
  width:100%;
  height:auto;
  overflow:hidden;
  background:url(../images/bg_lhmcontent.jpg)/*tpa=http://www.ashland.com/Ashland/images/bg_lhmcontent.jpg*/ center bottom no-repeat;
}

#iHmContent {
  width:1170px;
  margin:0 auto;
  height:auto;
  overflow:hidden;
}

#iHmContent div.hmLeft {
  float:left;
  width:616px;
  padding-top:38px;
}

#iHmContent div.hmRight {
  float:left;
  width:379px;
  padding-left:7px;
  padding-top:50px;
  color:#363636;
}

#iHmContent div.hmRight p {
  font-size:13px;
  line-height:1.4em;
  margin-bottom:50px;
  padding:0 7px 0 24px;
}

#iHmContent div.hmRight #cyclePrevious {
  display:block;
  float:left;
  width:12px;
  height:19px;
  margin:30px 12px 0 0;
  background:url(../images/bg_cycle_arrow_prev.png)/*tpa=http://www.ashland.com/Ashland/images/bg_cycle_arrow_prev.png*/ no-repeat;
  text-indent:-9999px;
}

#iHmContent div.hmRight #cycleNext {
  display:block;
  float:left;
  width:12px;
  height:19px;
  margin:30px 0 0 4px;
  background:url(../images/bg_cycle_arrow_next.png)/*tpa=http://www.ashland.com/Ashland/images/bg_cycle_arrow_next.png*/ no-repeat;
  text-indent:-9999px;
}

#iHmContent div.hmRight div.cycleCntnr {
  float:left;
  width:326px;
  height:140px;
}

#iHmContent div.hmRight div.cycleItem {
  float:left;
  width:154px;
  margin-right:9px;
}

#iHmContent div.hmRight div.cycleItem img {
  display:block;
  margin-bottom:10px;
}

#iHmContent div.hmRight div.cycleItem strong {
  display:block;
  margin-bottom:2px;
}

#iHmContent div.hmRight div.cycleItem a {
  font-size:11px;
}

#iHmContent div.hmRight div.latestNews {
  clear:left;
  padding:35px 0 0 23px;
}

#iHmContent div.hmRight div.latestNews h2 {
  font-size:15px;
  color:#6b8496;
  text-transform:uppercase;
  font-weight:400;
  margin-bottom:15px;
}

#iHmContent div.hmRight div.latestNews li {
  clear:left;
  margin:0 40px 10px 0;
  height:auto;
  overflow:hidden;
}

#iHmContent div.hmRight div.latestNews li div {
  display:block;
  width:25px;
  height:25px;
  padding-top:3px;
  padding-left:6px;
  line-height:1em;
  float:left;
  background:transparent url(../images/bg_hm_date.png)/*tpa=http://www.ashland.com/Ashland/images/bg_hm_date.png*/ no-repeat;
  text-transform:uppercase;
  margin-right:10px;
  font-size:9px;
  font-weight:700;
  color:#900;
}

#iHmContent div.hmRight div.latestNews li div span {
  background:transparent;
  font-size:15px;
  display:block;
  padding-top:2px;
}

#iHmContent div.distibHmLeft {
  float:left;
  width:743px;
  margin-right:38px;
  padding:35px 0 120px;
}

#iHmContent div.distibHmLeft p {
  margin-bottom:15px;
}

#iHmContent div.distibHmRight {
  float:left;
  width:219px;
  padding:35px 0 120px;
}

#iHmContent div.distibHmRight p {
  font-size:13px;
  line-height:1.4em;
  margin-bottom:60px;
}

#iHmContent div.distibHmRight div.distribFeature {
  width:170px;
  height:185px;
  background:url(../images/bg_banner_distrib_hm.png)/*tpa=http://www.ashland.com/Ashland/images/bg_banner_distrib_hm.png*/ no-repeat;
  padding:14px 0 30px 15px;
  position:relative;
}

#iHmContent div.distibHmRight div.distribFeature h5 {
  color:#6b8496;
  font-size:13px;
  text-transform:uppercase;
  margin:0 10px 8px 0;
}

#iHmContent div.distibHmRight #cyclePrevious {
  display:block;
  position:absolute;
  bottom:13px;
  right:29px;
  width:12px;
  height:19px;
  margin:120px 8px 0 0;
  background:url(../images/bg_cycle_arrow_prev.png)/*tpa=http://www.ashland.com/Ashland/images/bg_cycle_arrow_prev.png*/ no-repeat;
  text-indent:-9999px;
}

#iHmContent div.distibHmRight #cycleNext {
  display:block;
  position:absolute;
  bottom:13px;
  right:13px;
  width:12px;
  height:19px;
  margin:120px 0 0 8px;
  background:url(../images/bg_cycle_arrow_next.png)/*tpa=http://www.ashland.com/Ashland/images/bg_cycle_arrow_next.png*/ no-repeat;
  text-indent:-9999px;
}

#iHmContent div.distibHmRight div.cycleCntnr {
  float:left;
  width:156px;
}

#iHmContent div.distibHmRight div.cycleItem {
  float:left;
  width:156px;
  margin-right:9px;
  color:#363636;
}

#iHmContent div.distibHmRight div.cycleItem img {
  display:block;
  margin-bottom:10px;
}

#iHmContent div.distibHmRight div.cycleItem strong {
  display:block;
  font-size:11px;
  margin-bottom:8px;
}

#iHmContent div.distibHmRight div.cycleItem p {
  font-size:10px;
  margin-bottom:5px;
  line-height:14px;
}

#iHmContent div.distibHmRight div.cycleItem a {
  font-size:11px;
}

#iHmContent div.distibHmRight div.latestNews {
  clear:left;
  padding:25px 30px 0 0;
}

#iHmContent div.distibHmRight div.latestNews h2 {
  font-size:15px;
  color:#6b8496;
  text-transform:uppercase;
  font-weight:400;
  margin-bottom:10px;
}

#iHmContent div.distibHmRight div.latestNews li {
  clear:left;
  margin:0 0 10px;
  height:auto;
  overflow:hidden;
}

#iHmContent div.distibHmRight div.latestNews li div {
  display:block;
  width:25px;
  height:25px;
  padding-top:3px;
  text-transform:uppercase;
  padding-left:6px;
  line-height:1em;
  float:left;
  background:transparent url(../images/bg_hm_date.png)/*tpa=http://www.ashland.com/Ashland/images/bg_hm_date.png*/ no-repeat;
  margin-right:10px;
  font-size:9px;
  font-weight:700;
  color:#900;
  margin-bottom:5px;
}

#iHmContent div.distibHmRight div.latestNews li div span {
  background:transparent;
  font-size:15px;
  display:block;
  padding-top:2px;
}

body#registerPage {
  padding:27px 33px 0;
  background:#FFF;
}

body#registerPage h1 {
  color:#7A7A7A;
  font-weight:400;
  font-size:25px;
  margin:0 0 10px;
}

body#registerPage p {
  color:#353735;
  line-height:17px;
  font-size:13px;
  margin:0 0 20px;
}

body#registerPage p a {
  font-size:13px;
}

#ddCountry {
  visibility:hidden;
}

#mNav .newList li {
  float:none;
}

#mNav .newListSelected {
  width:246px;
}

#mNav .selectedTxt {
  width:246px;
  height:27px;
  background:url(../images/bg_pseudodd_246.png)/*tpa=http://www.ashland.com/Ashland/images/bg_pseudodd_246.png*/ no-repeat;
  padding-left:8px;
  cursor:pointer;
  line-height:25px;
  overflow:hidden;
}

#mNav .newList {
  margin-top:-2px;
  background:#f6f4e9;
  border-top:1px solid #dad7ca;
  border-left:1px solid #b8b7af;
  border-right:1px solid #b8b7af;
  border-bottom:1px solid #b8b7af;
}

#mNav .newList li a {
  display:block;
  margin:2px 12px;
  color:#5e4f41;
  font-size:12px;
  color:#615e56;
  font-weight:400;
}

#mNav .newList li a:hover {
  color:#970000;
  text-decoration:none;
}

#mNav div.ddContactLocation .newListSelected {
  width:216px;
  margin-bottom:10px;
  display:block;
}

#mNav div.ddContactLocation .selectedTxt {
  height:27px;
  background:url(../images/bg_pseudodd_216.png)/*tpa=http://www.ashland.com/Ashland/images/bg_pseudodd_216.png*/ no-repeat;
  padding-left:8px;
  cursor:pointer;
  line-height:25px;
  overflow:hidden;
}

#mNav div.ddContactLocation .newList {
  width:214px;
  background:#f6f4e9;
  border-top:1px solid #dad7ca;
  border-left:1px solid #b8b7af;
  border-right:1px solid #b8b7af;
  border-bottom:1px solid #b8b7af;
  position:absolute;
  top:25px !important;
  left:0;
  z-index:100;
}

#mNav div.ddContactLocation .newList li a {
  display:block;
  margin:2px 12px;
  color:#5e4f41;
  font-size:13px;
  color:#615e56;
  font-weight:400;
}

#mNav div.ddContactLocation .newList li a:hover {
  color:#970000;
  text-decoration:none;
}

div.bannerContact .newListSelected {
  width:156px;
  margin-bottom:10px;
  display:block;
}

div.bannerContact .selectedTxt {
  width:156px;
  height:25px;
  background:url(../images/bg_pseudodd_contact.png)/*tpa=http://www.ashland.com/Ashland/images/bg_pseudodd_contact.png*/ no-repeat;
  padding-left:8px;
  cursor:pointer;
  line-height:23px;
  overflow:hidden;
}

div.bannerContact .newList {
  overflow:auto;
  width:154px;
  background:#FFF;
  border-top:1px solid silver;
  border-left:1px solid #b8b7af;
  border-right:1px solid #b8b7af;
  border-bottom:1px solid #b8b7af;
  position:absolute;
  top:23px !important;
  left:0;
  z-index:100;
}

div.bannerContact .newList li a,
#lnav div.bannerContact .newList li a {
  display:block;
  padding:0;
  border-bottom:none;
  margin:2px 8px;
  line-height:normal;
  height:auto;
  width:auto;
  text-align:left;
  background:none;
  text-transform:none;
  font-size:12px;
  color:#615e56;
  font-weight:400;
}

div.bannerContact .newList li a:hover,
#lnav div.bannerContact .newList li a:hover {
  color:#970000;
  text-decoration:none;
}

div.filter .newListSelected {
  width:195px;
  margin:10px;
  float:left;
}

div.filter .selectedTxt {
  width:195px;
  height:25px;
  background:url(../images/bg_pseudodd_194.png)/*tpa=http://www.ashland.com/Ashland/images/bg_pseudodd_194.png*/ no-repeat;
  padding-left:8px;
  cursor:pointer;
  line-height:26px;
  overflow:hidden;
}

div.filter .newList {
  background:#fff;
  border-top:1px solid #dad7ca;
  border-left:1px solid #b8b7af;
  border-right:1px solid #b8b7af;
  border-bottom:1px solid #b8b7af;
  position:absolute;
  top:25px !important;
  left:0;
  z-index:100;
  padding-bottom:15px;
}

div.filter .newList li a {
  display:block;
  padding:2px 12px;
  line-height:normal;
  color:#5e4f41;
}

div.filter .newList li a:hover {
  color:#970000;
  text-decoration:none;
}

div.contactFormCol .newListSelected {
  width:205px;
  margin-bottom:10px;
  display:block;
}

div.contactFormCol .selectedTxt {
  height:22px;
  background:url(../images/bg_pseudodd_contact_frm.png)/*tpa=http://www.ashland.com/Ashland/images/bg_pseudodd_contact_frm.png*/ no-repeat;
  padding-left:8px;
  cursor:pointer;
  line-height:20px;
  overflow:hidden;
}

div.contactFormCol .newList {
  overflow:auto;
  width:203px;
  background:#FFF;
  border-top:1px solid #dad7ca;
  border-left:1px solid #b8b7af;
  border-right:1px solid #b8b7af;
  border-bottom:1px solid #b8b7af;
  position:absolute;
  top:22px !important;
  left:0;
  z-index:200;
}

div.contactFormCol .newList li a {
  display:block;
  margin:2px 12px;
  color:#5e4f41;
  font-weight:400;
}

div.contactFormCol .newList li a:hover {
  color:#970000;
  text-decoration:none;
}

div.countryBanner .newListSelected {
  width:163px;
  margin-bottom:10px;
  display:block;
}

div.countryBanner .selectedTxt {
  height:25px;
  background:url(../images/bg_pseudodd_163.png)/*tpa=http://www.ashland.com/Ashland/images/bg_pseudodd_163.png*/ no-repeat;
  padding-left:8px;
  padding-right:17px;
  cursor:pointer;
  line-height:25px;
  overflow:hidden;
}

div.countryBanner .newList {
  width:161px;
  background:#FFF;
  border-top:1px solid #dad7ca;
  border-left:1px solid #b8b7af;
  border-right:1px solid #b8b7af;
  border-bottom:1px solid #b8b7af;
  position:absolute;
  top:23px !important;
  left:0;
  z-index:200;
}

div.countryBanner .newList li a {
  cursor:pointer;
  display:block;
  float:none;
  margin:2px 8px;
  color:#5e4f41;
}

div.countryBanner .newList li a:hover {
  color:#970000;
  text-decoration:none;
}

div.filterTools .newListSelected {
  width:194px;
  margin:10px 5px;
  display:block;
  float:left;
}

div.filterTools .selectedTxt {
  height:25px;
  background:url(../images/bg_pseudodd_194.png)/*tpa=http://www.ashland.com/Ashland/images/bg_pseudodd_194.png*/ no-repeat;
  padding-left:8px;
  cursor:pointer;
  line-height:25px;
  overflow:hidden;
}

div.filterTools .newList {
  width:194px;
  background:#FFF;
  border-top:1px solid #dad7ca;
  border-left:1px solid #b8b7af;
  border-right:1px solid #b8b7af;
  border-bottom:1px solid #b8b7af;
  position:absolute;
  top:23px !important;
  left:0;
  z-index:200;
}

div.filterTools .newList li a,
div.country div.countryTabs div.filterTools .newList li a {
  display:block;
  float:none;
  margin:2px 8px;
  line-height:15px;
  color:#5e4f41;
  font-size:inherit;
}

div.filterTools .newList li a:hover,
div.country div.countryTabs div.filterTools .newList li a:hover {
  color:#970000;
  text-decoration:none;
}

div.productDetailMarket .newListSelected {
  width:194px;
  margin:0 5px;
  float:left;
}

div.productDetailMarket .selectedTxt {
  height:25px;
  background:url(../images/bg_pseudodd_194.png)/*tpa=http://www.ashland.com/Ashland/images/bg_pseudodd_194.png*/ no-repeat;
  padding-left:8px;
  cursor:pointer;
  line-height:25px;
  overflow:hidden;
}

div.productDetailMarket .newList {
  width:194px;
  background:#FFF;
  border-top:1px solid #dad7ca;
  border-left:1px solid #b8b7af;
  border-right:1px solid #b8b7af;
  border-bottom:1px solid #b8b7af;
  position:absolute;
  top:23px !important;
  left:0;
  z-index:200;
}

div.productDetailMarket .newList li a {
  color:#615E56;
  cursor:pointer;
  display:block;
  float:none;
  margin:2px 8px;
  line-height:15px;
}

div.productDetailMarket .newList li a:hover {
  color:#970000;
  text-decoration:none;
}

sup {
  font-size:50%;
  vertical-align:text-top;
  bottom:1ex;
}

div.productQuickFinderCntnr {
  margin-top:10px;
  margin-left:22px;
  width:98%;
}

div.pqfCntnr {
  clear:left;
  background:#e6eaec;
  padding:40px 25px;
  border:1px solid #d8dcde;
  height:auto;
  overflow:hidden;
}

div.pqfCntnr p {
  margin-bottom:5px;
}

div.pqfCntnr div.calloutBox {
  border-width:1px;
  border-style:solid;
  border-color:#c3c6c7 #dcdfe0 #e5e7e8;
  background:#f0f2f4;
  padding:35px 55px;
  margin-bottom:20px;
}

div.pqfCntnr div.calloutBox h3 {
  font-size:13px;
  color:#4b4c4c;
  margin-bottom:8px;
}

div.pqfCntnr div.calloutBox .watermark {
  width:262px;
  height:21px;
  padding:5px 0 0 11px;
  background:url(../images/bg_txtbox_search_product.png)/*tpa=http://www.ashland.com/Ashland/images/bg_txtbox_search_product.png*/ no-repeat;
  border:0;
  float:left;
  color:#737373;
}

div.pqfCntnr div.calloutBox #btnPQFSearch {
  float:left;
  width:24px;
  height:26px;
  border:0;
  background:url(../images/bg_btn_search_grey2.png)/*tpa=http://www.ashland.com/Ashland/images/bg_btn_search_grey2.png*/ no-repeat;
  text-indent:-9999px;
}

div.pqfCntnr div.calloutBox div.alphaList a {
  font-size:13px;
  font-weight:700;
  margin-right:5px;
}

div.pqfCntnr div.calloutBox form {
  display:block;
  height:35px;
}

div.pqfTabs ul.tabs li {
  float:left;
  font-size:12px;
  margin-right:-1px;
}

div.pqfTabs ul.tabs li a {
  float:left;
  padding:0 6px 0 0;
  margin:0;
  text-decoration:none;
  white-space:nowrap;
  outline:0;
  height:25px;
  line-height:25px;
  margin-left:5px;
}

div.pqfTabs ul.tabs li a span {
  float:left;
  padding:3px 17px 0 21px;
  height:25px;
  line-height:25px;
  margin-left:-5px;
  position:relative;
}

div.pqfTabs ul.tabs li.ui-state-default a {
  font-weight:700;
  color:#c01818;
  background:url(../images/bg_tab_pqf_dis.png)/*tpa=http://www.ashland.com/Ashland/images/bg_tab_pqf_dis.png*/ no-repeat;
  background-position:100% 0;
}

div.pqfTabs ul.tabs li.ui-state-default a span {
  background:url(../images/bg_tab_pqf_dis.png)/*tpa=http://www.ashland.com/Ashland/images/bg_tab_pqf_dis.png*/ no-repeat 0 0;
  padding-top:1px;
}

div.pqfTabs ul.tabs li.ui-tabs-selected a {
  height:28px;
  line-height:28px;
  font-weight:700;
  color:#c01818;
  background:url(../images/bg_tab_pqf_sel.png)/*tpa=http://www.ashland.com/Ashland/images/bg_tab_pqf_sel.png*/ no-repeat;
  background-position:100% 0;
  margin-top:-3px;
}

div.pqfTabs ul.tabs li.ui-tabs-selected a span {
  height:28px;
  line-height:28px;
  background:url(../images/bg_tab_pqf_sel.png)/*tpa=http://www.ashland.com/Ashland/images/bg_tab_pqf_sel.png*/ no-repeat 0 0;
  padding-top:1px;
}

div.pqfCntnr div.col1 {
  float:left;
  width:265px;
  margin-right:33px;
  margin-bottom:15px;
}

div.pqfCntnr div.col2 {
  float:left;
  width:265px;
  margin-right:33px;
  margin-bottom:15px;
}

div.pqfCntnr div.col3 {
  float:left;
  width:280px;
  margin-bottom:15px;
}

div.pqfChooser {
  height:240px;
  overflow:auto;
  border:1px solid #c1c6cb;
  background:#FFF;
  padding-left:4px;
}

div.pqfCntnr div.disabled {
  opacity:.4;
}

div.resultsCntnr {
  clear:both;
  border:1px solid #cfd2d4;
  background:#FFF;
}

div.resultsCntnr div.tabularHdr {
  margin:0;
}

div.resultsCntnr div.results {
  padding:20px 0;
}

div.resultsCntnr div.results div.resultItem {
  padding:10px 15px;
}

div.resultsCntnr div.results div.odd {
  background:#f4f6f9;
}

div.results div.trigger {
  width:14px;
  height:14px;
  float:left;
  background:url(../images/bg_ico_expand_collapse.png)/*tpa=http://www.ashland.com/Ashland/images/bg_ico_expand_collapse.png*/ no-repeat;
}

div.results div.trigger.active {
  background-position:0 -14px;
}

div.results h3 {
  float:left;
  margin-left:10px;
  font-size:14px;
}

div.results p {
  clear:left;
  margin-left:24px;
  margin-bottom:15px;
}

div.ui-tabs-hide {
  display:none;
}

#cluetip-waitimage {
  display:none;
}

#cluetip-extra {
  display:none;
}

.cluetip-default #cluetip-outer {
  position:relative;
  margin:0;
  width:319px;
  height:67px;
  padding:15px;
  background:url(../images/bg_tooltip.png)/*tpa=http://www.ashland.com/Ashland/images/bg_tooltip.png*/ no-repeat;
}

.cluetip-default #cluetip-inner {
  padding:0;
}

.cluetip-default strong {
  display:block;
  margin-bottom:5px;
  font-size:12px;
  text-transform:none;
  color:#900;
  font-weight:700;
}

#submarketsTabsHolder {
  margin:0 22px 0 21px;
  padding:0 0 10px;
  border-left:1px solid #5AAEAE;
  background:transparent url(Unknown_83_filename)/*tpa=http://www.ashland.com/Ashland/images/submarket/bg_submarkets_tab.png*/ repeat-x bottom left;
  position:relative;
}

#submarketsTabsHolder ul {
  position:relative;
  left:-1px;
  top:1px;
}

#submarketsTabsHolder ul li {
  height:29px;
  float:left;
  background:#FFF url(Unknown_83_filename)/*tpa=http://www.ashland.com/Ashland/images/submarket/bg_submarkets_tab_off_left.png*/ no-repeat;
}

#submarketsTabsHolder ul li a {
  float:left;
  display:block;
  color:#363636;
  height:15px;
  padding:7px 26px 6px 27px;
  background:transparent url(Unknown_83_filename)/*tpa=http://www.ashland.com/Ashland/images/submarket/bg_submarkets_tab_off_right.png*/ no-repeat top right;
}

#submarketsTabsHolder ul li a:hover {
  text-decoration:none;
}

#submarketsTabsHolder ul li.tab-on a {
  font-weight:700;
  color:#014242;
  background:transparent url(Unknown_83_filename)/*tpa=http://www.ashland.com/Ashland/images/submarket/bg_submarkets_tab_on_right.png*/ no-repeat top right;
}

#submarketsTabsHolder ul li.tab-on {
  background:#FFF url(Unknown_83_filename)/*tpa=http://www.ashland.com/Ashland/images/submarket/bg_submarkets_tab_on_left.png*/ no-repeat top left;
}

.tab-content-hide {
  display:none;
}

.ddSolutionsMarkets ul.newList,
.ddSolutionsPS ul.newList {
  height:190px;
}

.ddCntnr.ddIndustryCntnr ul.newList {
  height:120px;
}

.regionCountry ul.newList {
  height:124px;
}

.SSContainerDivWrapper {
  height:0 !important;
}

.events-heading {
  font-size:14px;
  font-weight:700;
}

.events-description {
  font-weight:700;
  padding-bottom:20px;
}

.empty-multimedia-description {
  color:#fff;
  font-size:16px;
  font-weight:700;
  padding:20px;
  background:#7d96ad;
  text-transform:uppercase;
}