.clearfix { zoom: 1; }
#mNav ul li a { padding-top: 7px; padding-bottom: 14px; overflow: hidden; }
#mNav ul li a.on { background-position-y: top; }
#searchPQF #search .watermark, #iFooter div.emailSubscribe .watermark, div.pqfCntnr div.calloutBox .watermark,
    div.searchResultBox .searchResultsSearchBox { padding-top: 5px; height: 21px; }
#searchPQF #search #btnSearch, #iFooter div.emailSubscribe #btnSubscribe,
    div.pqfCntnr div.calloutBox #btnPQFSearch, div.searchResultBox #btnResultsSearch { font-size: 0; display: block; line-height: 0; }
#iHmContent div.hmRight div.latestNews { clear: none; margin-top: 200px; }
#searchPQF #productQFinder div.letterLinks a { margin-right: -1px; }
.cycleGroup { background-color: transparent !important; }
#iHmContent div.hmRight div.cycleItem strong { background: transparent; }
#iHmContent div.hmRight div.cycleItem a { background: transparent; }
#iHmContent div.distibHmRight div.latestNews li span { margin-bottom: 30px; }
div.pqfCntnr { position: relative; top: -16px; }
div.pqfTabs ul.tabs li a { cursor: pointer; }
div.filter .newList li { line-height: 1.2em; }
div.productQuickFinderCntnr div.pqfCntnr { top: -1px; }
div.index2ColItem div.index2ColContent p { font-size: 0.85em; }#oHeader {position: relative; z-index: 100000;}
li#mNavIndustry { position: static;}
#mNav li.over div.ddoIndustryCntnr{overflow: hidden !important; width: 367px !important; left: 741px !important; top: 141px !important; }