/* Hide Subpage Content Background */
#home #content { background: none; font-size: 1em; }
#home #nav_top { border-top-width: 1px; border-bottom: 1px solid #009121; }
#home h1 { margin-top: 0px; }

#h_left { font-size: .9em; float: left; width: 613px; }
	#h_left_pad { font-size: .95em; margin: 11px 11px 11px 0px; clear: both; background: url(../images/home_content_tile.gif)/*tpa=http://www.generalcable.com/GeneralCable/images/home_content_tile.gif*/ repeat-y top left;  }
		#h_left_col_a { float: left; width: 208px; }
			#h_left_col_a_pad { padding-right: 20px; }
				#home_content_img { padding-bottom: 7px; }
		#h_left_col_b { float: left; width: 389px; }
			#h_left_col_b_pad { padding-left: 27px; }
#h_right { font-size: .9em; float: right; width: 168px; }
	#h_right_pad { padding: 0px 0px 11px 0px; }
#footer { border-top: 1px solid #009121; padding-top: .2em; clear:both;}
	
#mygen { color: #fff; background: #009121 url(../images/mygen/bottom_corner.gif)/*tpa=http://www.generalcable.com/GeneralCable/images/mygen/bottom_corner.gif*/ no-repeat bottom left; padding-bottom: 7px; }
	#mygen .head { background: url(../images/mygen/header.gif)/*tpa=http://www.generalcable.com/GeneralCable/images/mygen/header.gif*/ no-repeat top right; height: 27px; }
	#mygen .head b { visibility: hidden; }
	#mygen .form { margin: 0px; padding: 0px; padding-left: 4px; padding-right: 7px; }
	#mygen .form label { display: block; padding-bottom: 5px; text-align: right; }
	#mygen .form label strong { text-align: left; display: block; float: left; width: 50px; font-weight: normal; padding-top: .25em; font-size: .9em; }
	#mygen .form label input { width: 83px; }
	/* #mygen .c { padding-left: 7em; clear: both; } */
	#mygen .c { padding-left: 4em; clear: both; }
	/* #mygen .r { float: right; } */
	#mygen .r { padding-left: 4em; }
	#mygen .l { float: left; }
	#mygen a { font-size: .9em; color: #fff; display: block; }
	