/* 
	General Cable Layout Stylesheet
	Author: Doug McKay (doug.mckay@brulant.com)	
	Date:	12/05/2005
*/
/* HORIZONTAL LINK LISTS : START */
	#quicklinks ul { list-style-type: none; margin-top: 0px; margin:0px; padding:0px; }
	#quicklinks ul li { float: left; margin: 0px; padding: 0px; height:20px; vertical-align:middle;}
/* HORIZONTAL LINK LISTS : END */

/* CONTENT */
#corporate_inquiries { padding: .5em 0px 1.0em 0px; margin-left: 0px; width: 209px; background:  url(../images/content_tile_white.gif)/*tpa=http://www.generalcable.com/GeneralCable/images/content_tile_white.gif*/ repeat-y;border-bottom: 1px solid #009121; }
#corporate_inquiries_h { margin-bottom: 1em; }  
#corporate_btn { width: 198px; height: 16px; background: url(../images/buttons/customer_inquiries.gif)/*tpa=http://www.generalcable.com/GeneralCable/images/buttons/customer_inquiries.gif*/ no-repeat; }
#corporate_btn a { display: block; padding: .2em 0px 0px .5em; }




#container { width: 781px; margin-top: 0px; margin: 0px auto; }
	#quicklinks { text-align: right; }
		#quicklinks ul { float: right; }
		#quicklinks ul li { padding-left: 3px; padding-right: 3px; border-left: 1px solid #666; }
		#quicklinks ul li.first { border-left-width: 0px; }
		#quicklinks ul li img { vertical-align:middle }
	#branding { }
		#logo { float: left; }
		#search { float: right; padding-top: 4px; clear: right; }
			/*#search form1 { margin: 0px; }*/
			#search * { vertical-align: top; }
	#header { margin-top: 5px; }
	#nav_top { display: block; width: 100%; margin-bottom: 6px; border-top: 1px solid #009121; padding: 3px 0px 0px 0px; text-transform: uppercase; }
	#nav_top li ul { position: absolute; z-index: 1;  }
		
				#nav_side, #nav_side ul { list-style-type: none; margin: 0px; padding: 0px; }
				#nav_side ul { padding-left: 2px; }
				#nav_side li { padding: 0px 0px 6px; }
				#nav_side ul li { padding-left: 12px; }
		#content_focus { margin-left: 209px; }
			#content_focus_pad { padding:  2px 18px; }
				#breadcrumb { margin-bottom: 5px; }
	#footer { margin-top: 0em;}

/* Classes and Elements */
/* by Abani */

 
 
 

img { border: 0px; }
ul.c_arrow { list-style-type: none; margin: 0px; padding: 0px; }
ul.c_arrow li { list-style-type: none; background: url(../images/icons/content_arrow.gif)/*tpa=http://www.generalcable.com/GeneralCable/images/icons/content_arrow.gif*/ no-repeat 0px 4px; padding: 0px 0px .5em 1.5em; }
ul { margin: 0px; padding: 0px; }

.wn_block { padding-top: 5px; padding-bottom: 1em;  }
.wn_block .img1 img{ border: 1px solid #009121; padding: 4px; float: right; }

.wn_block2 { padding-top: 5px;   border-bottom: none; }
.wn_block2 .img1 img { border: 1px solid #009121; padding: 4px; float: right; }

.wn_block3 { padding-top: 5px;   border-bottom: none; border-top : 1px solid #009121;  }
.wn_block3 .img1 img { border: 1px solid #009121; padding: 4px; float: right; }

/* CLEARING */
	.clearfix:after, #quicklinks:after, #branding:after, #nav_top:after, #content:after, #mygen:after, .wn_block:after, #h_left_pad:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
	.clearfix, #quicklinks, #branding, #nav_top, #content, #mygen, .wn_block, #h_left_pad  {display: inline-table;}
	/* Hides from IE-mac \*/
	* html .clearfix, * html #quicklinks, * html #branding, * html #nav_top, * html #content, * html #mygen, * html .wn_block,.* html #h_left_pad {height: 1%;}
	.clearfix, #quicklinks, #branding, #nav_top, #content, #mygen, .wn_block, #h_left_pad {display: block;}
/* End hide from IE-mac */ #branding, #nav_top, #content, #mygen, .wn_block, #h_left_pad {display: block;}
/* End hide from IE-mac */

/* DROPDOWN MENUS : START */

	#nav, #nav ul { /* all lists */; padding: 0px !important; margin: 0px !important; list-style: none; line-height: 1em; color: #009121; }
	#nav li a { display: block; padding: 0px 7px 3px; color: #000; background: url(../images/nav_right_decor.gif)/*tpa=http://www.generalcable.com/GeneralCable/images/nav_right_decor.gif*/ no-repeat right center; }
	#nav li.first a { padding-left: 1px; }
	#nav li.last a { background-image: none; }
	#nav li.first ul li a { padding-left: 7px; }
        #nav ul ul {  }  
	#nav ul li { }
	#nav li ul li a { padding: .3em .5em; display: block; background: none; color: #009121; text-transform: none; }
	#nav li { /* all list items */ float: left; /*	width: 10em; */ /* width needed or else Opera goes nuts */ }
	#nav li ul li { float: none; width: 200px; }
	#nav li ul { 
		/* second-level lists */
		position: absolute; left: -999em;  border: 1px solid #009121; background: #fff;
		/* using left instead of display to hide menus because display: none isn't read by screen readers */
	}
	#nav li ul ul { /* third-and-above-level lists */ margin: 0em 0 0 10em; }
	#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li.sfhover ul ul, #nav li.sfhover ul ul ul { left: -999em; }
	#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul, #nav li li li.sfhover ul { 
		/* lists nested under hovered list items */ 
		 left: auto;
	}
	/* This is a hack by IE 6.0 or Below - Doug McKay*/
	#nav ul > li:hover, #nav ul > li.sfhover { position: static; }
	
	/*\*//*/
	#nav ul > li:hover, #nav ul > li.sfhover { position: absolute; }
	/* */ 

/* DROPDOWN MENUS : END */