/* site map NEW 10192012*/
/*
.Menu
{
    font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	width: 880px;
	font-size:11px; 
	color:BLACK; 
	background-image: url(../images/nav_bg.jpg);
	background-repeat: repeat-x;
	border-top: 1px solid #d0dadf;
	border-left: 1px solid #d0dadf;
	border-bottom: 1px solid #d0dadf;
	border-right: 1px solid #d0dadf;
	text-align: center;
}

.Menu a:hover
{
    color:#A0A0A0; 
}

.menItem
{
text-align: left;
border:0px red solid;
font-family: Arial, Helvetica, sans-serif; 
height: 35px;
color: BLACK; 
font-size: 11px; 
padding: 0px;
width:150;
margin-left:-10px;
}

.menItem a:hover
{
    color:#A0A0A0; 
}

.submenItem
{
	font-family: Arial, Helvetica, sans-serif; 
	font-weight: bold;
	height: 35px;
	font-size: 11px; 
	color: BLACK; 
	border-right: 1px solid #d0dadf;
	border-bottom: 1px solid #d0dadf;
	text-align: left;
	margin-left: 4px; 
	width:228px;
}

.submenItem:hover
{
	border-right: 1px solid #0c3376;
}
*/
/* sitemap - end */


.crumb
{
	font-family: Arial, Helvetica, sans-serif; 
	font-weight: normal;
	font-size:12px; 
	color:#666666; 
}


a.custom_more_overview
{
	font-family: Arial;
	font-size: 11px;
	font-weight: normal;
	color: #0c3376;
	text-decoration: none;
}

a.custom_more_overview:visited
{
	font-family: Arial;
	font-size: 11px;
	font-weight: normal;
	color: #0c3376;
	text-decoration: none;
}

a.custom_more_overview:hover
{
	font-family: Arial;
	font-size: 11px;
	font-weight: normal;
    color: #666666;
	text-decoration: none;
}




a.custom_nav_OFF
{
	font-family: Arial;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}

a.custom_nav_OFF:visited
{
	font-family: Arial;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}

a.custom_nav_OFF:hover
{
	font-family: Arial;
	font-size: 11px;
	font-weight: normal;
	color: #808080;
	text-decoration: none;
}



a.custom_nav_OS
{
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}

a.custom_nav_OS:visited
{
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}

a.custom_nav_OS:hover
{
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
	color: #808080;
	text-decoration: none;
}


a.custom_nav_OSb
{
	font-family: Arial;
	font-size: 13px;
	font-weight: normal;
	color: #996633;
	text-decoration: none;
}

a.custom_nav_OSb:visited
{
	font-family: Arial;
	font-size: 13px;
	font-weight: normal;
	color: #996633;
	text-decoration: none;
}

a.custom_nav_OSb:hover
{
	font-family: Arial;
	font-size: 13px;
	font-weight: normal;
	color: #CCCCCC;
	text-decoration: none;
}



a.custom_nav_OFF_02
{
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}

a.custom_nav_OFF_02:visited
{
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}

a.custom_nav_OFF_02:hover
{
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
	color: #808080;
	text-decoration: none;
}


a.custom_nav_OFF_03
{
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;
	color: RED;
	text-decoration: none;
}

a.custom_nav_OFF_03:visited
{
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

a.custom_nav_OFF_03:hover
{
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;
	color: #808080;
	text-decoration: none;
}



a.custom_02
{
	font-family: Arial;
	font-size: 11px;
	font-weight: normal;
	color: black;
	text-decoration: none;
}

a.custom_02:visited
{
	font-family: Arial;
	font-size: 11px;
	font-weight: normal;
	color: black;
	text-decoration: none;
}

a.custom_02:hover
{
	font-family: Arial;
	font-size: 11px;
	font-weight: normal;
	color: #808080;
	text-decoration: none;
}




a.custom_more
{
	font-family: Arial;
	font-size: 9px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
}

a.custom_more:visited
{
	font-family: Arial;
	font-size: 9px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
}

a.custom_more:hover
{
	font-family: Arial;
	font-size: 9px;
	font-weight: normal;
	color: #003399;
	text-decoration: none;
}





.cSTOCKQUOTE_OFF
{
	font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    color: #1C3664;
    text-decoration: none;    
}

A.cSTOCKQUOTE_OFF
{
	font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    color: #1C3664;
    text-decoration: none;
}

A.cSTOCKQUOTE_OFF:link
{
	font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    color: #1C3664;
    text-decoration: none;    
}

A.cSTOCKQUOTE_OFF:hover
{
	font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    color: #666666;
    text-decoration: none;    
}


.cSTOCKQUOTE_ON
{
	font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    color: #1C3664;
    text-decoration: none;    
}

A.cSTOCKQUOTE_ON
{
	font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    color: #1C3664;
    text-decoration: none;
}

A.cSTOCKQUOTE_ON:link
{
	font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    color: #1C3664;
    text-decoration: none;    
}

A.cSTOCKQUOTE_ON:hover
{
	font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    color: #666666;
    text-decoration: none;    
}



.cPR_ON_01
{
	font-family: Arial;
    font-size: 9px;
    font-weight:normal;
    color: #00000A;
    text-decoration: none;    
}

A.cPR_ON_01
{
	font-family: Arial;
    font-size: 9px;
    font-weight:normal;
    color: #00000A;
    text-decoration: none;
}

A.cPR_ON_01:link
{
	font-family: Arial;
    font-size: 9px;
    font-weight:normal;
    color: #00000A;
    text-decoration: none;    
}

A.cPR_ON_01:hover
{
	font-family: Arial;
    font-size: 9px;
    font-weight:normal;
    color: #00000A;
    text-decoration: none;    
}



.cPR_ON_02
{
	font-family: Arial;
    font-size: 11px;
    font-weight:normal;
    color: #1C3664;
    text-decoration: none;    
}

A.cPR_ON_02
{
	font-family: Arial;
    font-size: 11px;
    font-weight:normal;
    color: #1C3664;
    text-decoration: none;
}

A.cPR_ON_02:link
{
	font-family: Arial;
    font-size: 11px;
    font-weight:normal;
    color: #1C3664;
    text-decoration: none;    
}

A.cPR_ON_02:hover
{
	font-family: Arial;
    font-size: 11px;
    font-weight:normal;
    color: #666666;
    text-decoration: none;    
}





.cPR_ON_02x
{
	font-family: Arial;
    font-size: 10px;
    font-weight:normal;
    color: #04528c;
    text-decoration: none;    
}

A.cPR_ON_02x
{
	font-family: Arial;
    font-size: 10px;
    font-weight:normal;
    color: #04528c;
    text-decoration: none;
}

A.cPR_ON_02x:link
{
	font-family: Arial;
    font-size: 10px;
    font-weight:normal;
    color: #04528c;
    text-decoration: none;    
}

A.cPR_ON_02x:hover
{
	font-family: Arial;
    font-size: 10px;
    font-weight:normal;
    color: #666666;
    text-decoration: none;    
}







.cPR_OFF
{
	font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    color: #1C3664;
    text-decoration: none;    
}

A.cPR_OFF
{
	font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    color: #1C3664;
    text-decoration: none;
}

A.cPR_OFF:link
{
	font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    color: #1C3664;
    text-decoration: none;    
}

A.cPR_OFF:hover
{
	font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    color: #666666;
    text-decoration: none;    
}






.qmSymbol
{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #1C3664;
    border-bottom: 0px solid #d1dde3 !important;
}


.qmSymbol01
{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #162B50;
    border-bottom: 0px solid #d1dde3 !important;
}


.qmjsright
{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #1C3664;
    text-align: center;
    padding-left: 0px !important;
    width: 90px;
    color: #136788;
}
.qmjsleft
{
    display: none;
}
.qmHeader
{
    color: #136788;
    text-align: center;
}
.qmLast
{
    border-bottom: solid 1px #d1dde3;
    color: #136788;
}
.qmChange
{
    border-bottom: solid 1px #d1dde3;
    text-align: left;
    color: #136788;
}
.dollar
{
    border: solid 1px #d1dde3;
    color: #1C3664;
    text-align: right !important;
    padding-left: 5px !important;
}



.ie8fix
    {
        z-index: 1000;
    }



ol
{
	font-family: Arial, Helvetica, sans-serif;
	text-align: left; 
}

ul
{
	font-family: Arial, Helvetica, sans-serif;
	list-style-type:none;
	padding:0px;
	margin-top:9px;
	margin-left:0px;
	margin-bottom:10px;
	margin-right:0px;
}

li
{
	font-family: Arial, Helvetica, sans-serif;
	/*background-image:url(../images/arrow2.gif);*/
	background-repeat:no-repeat;
	background-position:0px 3px; 
	padding-left:14px; 
}

li a:link
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #136788;
	text-decoration: none;
}

li a:visited
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #136788;
	text-decoration: none;
}

li a:hover
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #136788;
	text-decoration: underline;
}


.f_7_g
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8px;
	color: RED;
	text-align:left;
}

A.f_7_g
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8px;
	color: RED;
	text-align:left;
}






body  /* Internet Explorer */ 
{
	font-family: Arial, Helvetica, sans-serif;
	text-align: center; 
	background-color: #E2E2E2;
/*	margin: 0px; */
margin-left:auto;
margin-right:auto;
/*overflow-y: scroll;*/
}

body /* Mozilla Firefox alignment */ 
{
	font-family: Arial, Helvetica, sans-serif;
	text-align: -moz-center;  
	background-color: #E2E2E2;
/*	margin: 0px; */
margin-left:auto;
margin-right:auto;
/*overflow-y: scroll;*/

}




#wrapper
{  
	width: 919px;
	height: 100%;
	text-align: center; 
text-align: left !important; 
margin: 0 auto;


}


/*
#outterwrapper
{
    text-align: center;
}

#wrapper
{  
	text-align: center;
    width: 919px;
	height: 100%;
}
*/

#wrapper #botShadow 
{  
	width: 919px;
	height: 100%;
	background-image: url(../images/bottom_shadow2.jpg)/*tpa=http://www.energytransfer.com/images/bottom_shadow2.jpg*/; 
	text-align: center;

}

#wrapper #sideShadow
{ 
	margin-left: auto; 
	width: 899px;
	padding-left:10px;
	padding-right:10px;
	height: auto;
	background-image: url(../images/side_shadow.jpg)/*tpa=http://www.energytransfer.com/images/side_shadow.jpg*/; 
	background-repeat:repeat-y;
	text-align: center;
	float: left;
	/*border: 1px solid #D1DDE3;*/
}

#wrapper #sideShadow #contentWrapper
{
	width: 899px;
	padding: 0px;
	height: auto;
	text-align: center;
	/*border: 1px solid #D1DDE3;*/
}

#wrapper #sideShadow #contentWrapper #logoContainer
{
	width: 899px;
	margin-top: 10px;
	margin-bottom: 0px;
	padding:0px;
	height: auto;
	text-align: left;
}


#wrapper #sideShadow #contentWrapper #topmen
{
position:relative;
top:-15px;
left:380px;
}

#wrapper #sideShadow #contentWrapper #topmen2
{
position:relative;
top:-15px;
left:320px;
/*left:260px; 2/14/2014 */
}



#wrapper #sideShadow #contentWrapper #flashContainer
{
	width: 899px;
	height: auto;
	text-align: center;
	margin-bottom: 10px;
	z-index:30;
}

#wrapper #sideShadow #contentWrapper #flashContainer #bannerStyle
{
    width: 875px;
    height: auto;
    background-repeat:repeat-x;
    background-color: #FFFFFF;
    border: solid 1px #D1DDE3;
    text-align: center;
    padding-top: 5px;
    margin-top: 5px;
    margin-left: 9px;
    margin-right: 9px;
    /*padding-bottom: 9px;*/
    padding-bottom: 0px;    
    margin-bottom: 10px;
}

#wrapper #sideShadow #contentWrapper #flashContainer #bannerStyle #bannerwrap
{
    width: 100%;
    vertical-align: top;
}

#wrapper #sideShadow #contentWrapper #flashContainer #bannerStyle #bannerwrap #warning
{
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 24px;
    color: #000000;
    height: auto;
    width: 200px;
    float: left;
}

#wrapper #sideShadow #contentWrapper #flashContainer #bannerStyle #bannerwrap #alert
{
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 14px;
    font-weight: bold;
    color: #FF3300;
    width: 675px;
    height: auto;
}

#wrapper #sideShadow #contentWrapper #flashContainer #bannerStyle #bannerwrap #alert a:link
{
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 14px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;

}

#wrapper #sideShadow #contentWrapper #flashContainer #bannerStyle #bannerwrap #alert a:visited
{
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 14px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

#wrapper #sideShadow #contentWrapper #flashContainer #bannerStyle #bannerwrap #alert a:hover
{
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 14px;
    color: #BBBBBB;
    font-weight: bold;
    text-decoration: none;
}

#wrapper #sideShadow #contentWrapper #navContainer
{
	width: 899px;
	/*margin-bottom: 10px;*/
    margin-bottom: 10px;	
	margin-left: 10px;
	margin-right: 10px;
	padding: 0px;
	height: auto;
	text-align: left;
	z-index: 1;
}

#wrapper #sideShadow #contentWrapper #contentContainer
{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #D71F27;
	width: auto;
	height:100%;
	/*margin-bottom: 10px;*/
	margin-left: 10px;
	margin-top: 0px;
	margin-right: 8px;
    padding-top:0px;
	/*padding-bottom:10px;*/
	padding-left:0px;
	padding-right:0px;
	background-color: #ffffff;
	text-align: center;
}

#wrapper #sideShadow #contentWrapper #contentContainer #border
{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #D71F27;
	width: auto;
	height: 100%;
	min-height:260px;
    padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:0px;
	background-image: url(../images/home_cnt_bg.jpg)/*tpa=http://www.energytransfer.com/images/home_cnt_bg.jpg*/;
	background-repeat:repeat-x;
	background-color: #dfe7ea;/*;eaebec;*/
	text-align: left;
	border: 1px solid #D1DDE3;
}

#wrapper #sideShadow #contentWrapper #contentContainer #border .column
{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;	
	height: auto;
	text-align: left;
	float: left;
}

#wrapper #sideShadow #contentWrapper #contentContainer #border .column .title
{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
    padding-right:10px;
	height: auto;
	text-align: left;
}


#wrapper #sideShadow #contentWrapper #contentContainer #border .column .title3
{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
    padding-right:10px;
	height: auto;
	text-align: center;
}


#wrapper #sideShadow #contentWrapper #contentContainer #border .column .pic
{
	margin-top: 5px;
    padding-right: 10px;
	text-align: left;
	/*margin-bottom: 20px;*/
}

#wrapper #sideShadow #contentWrapper #contentContainer #border .column .stock
{
	height: 60px;
	text-align: left;
	border: solid 0px #FFFFFF;
	color: #1C3664;
	width: 240px;
}

#wrapper #sideShadow #contentWrapper #contentContainer #border .column .stockx
{
	height: 50px;
	text-align: left;
	border: solid 0px #FFFFFF;
	color: #1C3664;
	width: 240px;
	font-size:7pt;
}

#wrapper #sideShadow #contentWrapper #contentContainer #border .column .stocky
{
	height: 50px;
	text-align: left;
	border: solid 0px #FFFFFF;
	color: #1C3664;
	width: 240px;
	margin-left:20px;
	font-size:7pt;	
}




#wrapper #sideShadow #contentWrapper #contentContainer #border .column .stock  th
{
    font-family: Arial;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
	
	padding:3px;
	height: auto;
	text-align: center;
	border-top: 0px solid #d1dde3;
	border-right: 0px solid #d1dde3;
	border-bottom: 0px solid #d1dde3;
}

#wrapper #sideShadow #contentWrapper #contentContainer #border .column .stock  td
{
    font-family: Arial;
	font-size: 10px;
	color: #136788;
	font-weight: bold;
	
	padding-top:3px;
	padding-left:0px;
	padding-bottom:3px;
	padding-right:0px;
	height: auto;
	text-align: center;
	border-right: 0px solid #d1dde3;
	border-bottom: 0px solid #d1dde3;
	
}


#wrapper #sideShadow #contentWrapper #contentContainer #border .column .stock  td a
{
    font-family: Arial;
	font-size: 10px;
	color: #162B50;
	font-weight: bold;
	text-decoration: none;
	border-right: 0px solid #d1dde3;
	border-bottom: 0px solid #d1dde3;
}




#wrapper #sideShadow #contentWrapper #contentContainer #border .column .stock  td a:hover
{
    font-family: Arial;
	font-size: 10px;
	color: #666666;
	font-weight: bold;
	text-decoration: none;
    border-right: 0px solid #d1dde3;
	border-bottom: 0px solid #d1dde3;
}



#wrapper #sideShadow #contentWrapper #contentContainer #border .column .text
{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #136788;
    padding-right:10px;
	height: auto;
	text-align: left;
	padding-top: 10px;
}


#wrapper #sideShadow #contentWrapper #contentContainer #border .column2
{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	width: 288px;	
	height: auto;
	text-align: left;
	float: left;
}

#wrapper #sideShadow #contentWrapper #contentContainer #border .column2 .title2
{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
	height: auto;
	text-align: left;
}



#wrapper #sideShadow #contentWrapper #contentContainer #border .column2 .pic2
{
	margin-top: 5px;
	height: auto;
	text-align: left;
}

#wrapper #sideShadow #contentWrapper #contentContainer #border .column2 .text2
{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 9px;
	color: #136788;
	margin-top: 10px;
	height: auto;
	text-align: left;
}

#wrapper #sideShadow #contentWrapper #contentContainer #border .column2 .video  th
{
    font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #EF4223;
	background-color: #1A6EB2;
	padding:10px 10px 0 10px;
	height: auto;
	text-align: center;
	border-right: 1px solid #1A6EB2;
	border-bottom: 1px solid #1A6EB2;
}

#wrapper #sideShadow #contentWrapper #contentContainer #border .column2 .video  td
{
    font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #fff;
	font-weight: bold;
	background-color: #1A6EB2;
	padding:0 10px 10px 10px;
	height: auto;
	text-align: left;
	border-right: 1px solid #1A6EB2;
	border-bottom: 1px solid #1A6EB2;
}

#wrapper #sideShadow #contentWrapper #contentContainer #border .column2 .video  td a
{
    font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px;
	color: #EF4223;
	font-weight: bold;
	text-decoration: underline;
}

#wrapper #sideShadow #contentWrapper #contentContainer #border .column2 .summary
{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #ED1C24;
	margin-top: 5px;
	height: auto;
	text-align: left;
}

#wrapper #sideShadow #contentWrapper #contentContainer #border .column2 .summary a
{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #136788;
	text-decoration: none;
	margin-top: 5px;
	height: auto;
	text-align: left;
}

#wrapper #sideShadow #contentWrapper #contentContainer #border .column2 .summary a:visited
{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #136788;
	text-decoration: none;
	margin-top: 5px;
	height: auto;
	text-align: left;
}

#wrapper #sideShadow #contentWrapper #contentContainer #border .column2 .summary a:hover
{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #136788;
	text-decoration: underline;
	margin-top: 5px;
	height: auto;
	text-align: left;
}

#wrapper #sideShadow #contentWrapper #extrasContainer
{
	font-family: Verdana, Geneva, sans-serif;
	font-size:11px;
	font-weight: bold;
	color: #D71F27;
	width: inherit;
	margin-top: 10px;
	margin-bottom: 0px;
	padding-right: 5px;
	background-image: url(../images/extras_cnt_bg.jpg)/*tpa=http://www.energytransfer.com/images/extras_cnt_bg.jpg*/;
	background-repeat:repeat-x;
	background-color: #d6e0e4;/*eaebec;*/
	height: 110px;
	text-align: left;
	border: 1px solid #D1DDE3;
}

#wrapper #sideShadow #contentWrapper #extrasContainer .extra1
{
	width: 210px;
	padding-left: 10px;
	padding-top: 10px;
	text-align: left;
	height: 100px;
	border-right: 1px solid #D1DDE3;
	float: left;
}

#wrapper #sideShadow #contentWrapper #extrasContainer .extra2
{
	width: 180px;
	padding-top: 10px;
	padding-left: 10px;
	text-align: left;
	float: left;
}


#wrapper #contentTable table
{
	background-color:#ffffff;
	color: #000000;
	margin: 0px;
}

#wrapper #contentTable .tableContainer
{
	background-color:#ffffff;
	color: #000000;
	margin: 0px;
	text-align: left;
	border: 1px solid #D1DDE3;
}

#leftShadow
{
	background-image: url(../images/left_shadow.jpg)/*tpa=http://www.energytransfer.com/images/left_shadow.jpg*/; 
	background-repeat:repeat-y;
	width: 10px;
}

#rightShadow
{
	background-image: url(../images/right_shadow.jpg)/*tpa=http://www.energytransfer.com/images/right_shadow.jpg*/;
	background-repeat:repeat-y;
	width: 10px;
}

#bottomShadow
{
	background-image: url(../images/bottom_shadow3.jpg)/*tpa=http://www.energytransfer.com/images/bottom_shadow3.jpg*/;
	background-repeat:repeat-x;
	width: 919px;
	height: 17px;
	clear: both;
}

#copyright
{
	font-family: arial;
	font-size: 10px;
	color: #15365D;
	font-weight: normal;
	text-align: left;
	text-decoration:none;	
	width: 919px;
	height: auto;
	padding-left: 20px;
	clear: both;
}

.copyright
{
	font-family: arial;
	font-size: 10px;
	color: #15365D;
	font-weight: normal;
	text-align: left;
	text-decoration:none;
	width: 919px;
	height: auto;
	padding-left: 20px;
	clear: both;
}


A.copyright
{
	font-family: arial;
	font-size: 10px;
	color: #15365D;
	font-weight: normal;
	text-align: left;
	text-decoration:none;	
	width: 919px;
	height: auto;
	padding-left: 20px;
	clear: both;
}

A.copyright:HOVER
{
	font-family: arial;
	font-size: 10px;
	color: #666666;
	font-weight: normal;
	text-align: left;
	width: 919px;
	height: auto;
	padding-left: 20px;
	clear: both;
}



/* prototype navigation elements */

.table 
{
	font-family: Arial, Helvetica, sans-serif; 
	font-weight: bold;
	font-size:11px; 
	color:#1a3865; 
	border: 1px solid #d0dadf;
	text-align: left;
}


.table th

{
	font-family: Arial, Helvetica, sans-serif; 
	font-weight: bold;
	font-size:11px; 
	color:#1a3865; 
	background-image: url(../images/nav_bg.jpg)/*tpa=http://www.energytransfer.com/images/nav_bg.jpg*/;
	border-right: 2px solid #d0dadf;
	text-align: center;
}

.table th a

{
	font-family: Arial, Helvetica, sans-serif; 
	font-size:11px;
	color:#1a3865; 
	text-decoration: none;
}

.table td a

{
	font-family: Arial, Helvetica, sans-serif;  
	font-size:10px; 
	color:#1a3865; 
	text-decoration: none;
}

.tablepop
{
	font-family: Arial, Helvetica, sans-serif; 
	font-size:10px;
	color:#000033;
	text-align: left;
	position:absolute;
	visibility:hidden;
	background-color: #ffffff;
	top: 112px;
	width: 160px;
	height: 25px;
}

.tablepop td
{
	width:inherit;
	border-top: 0px solid #d0dadf;
	border-left: 2px solid #d0dadf;
	border-bottom: 1px solid #d0dadf;
	border-right: 2px solid #d0dadf;
	padding:3px;
}
.tablepop td a
{
	font: arial;
	font-size:10px;
	color:#23418e;
}

.tablepop td a:visited
{
	font: arial;
	font-size:10px;
	color:#23418e;
}

.tablepop td a:hover
{
	font: arial;
	font-size:10px;
	color:#D32229;
}



/* tab elements for home page*/
.CustomTabStyle .ajax__tab_header
{
    font-family: Arial;
    font-weight:bold;
    color:#1C3664;
    font-size: 14px;
    cursor: pointer;
    
}
.CustomTabStyle .ajax__tab_outer
{
    padding-right: 3px;
    background: url(../images/tabs/tab-right.gif)/*tpa=http://www.energytransfer.com/images/tabs/tab-right.gif*/ no-repeat right;
    height: 21px;
    font-size: 11px;
    cursor: pointer;
}
.CustomTabStyle .ajax__tab_inner
{
    padding-left: 3px;
    font-size: 11px;
    background: url(../images/tabs/tab-left.gif)/*tpa=http://www.energytransfer.com/images/tabs/tab-left.gif*/ no-repeat;
    cursor: pointer;
}

.CustomTabStyle .ajax__tab_tab 
{
    font-size: 11px;
    height:13px;
    padding-top:4px;
    padding-left:21px;
    padding-bottom:4px;
    padding-right:21px;
    margin:0;
    background:url(../images/tabs/tab.gif)/*tpa=http://www.energytransfer.com/images/tabs/tab.gif*/ repeat;
}

.CustomTabStyle .ajax__tab_hover .ajax__tab_outer {font-size: 11px;background:url(../images/tabs/tab-hover-right.gif)/*tpa=http://www.energytransfer.com/images/tabs/tab-hover-right.gif*/ no-repeat right;}
.CustomTabStyle .ajax__tab_hover .ajax__tab_inner {font-size: 11px;background:url(../images/tabs/tab-hover-left.gif)/*tpa=http://www.energytransfer.com/images/tabs/tab-hover-left.gif*/ no-repeat;}
.CustomTabStyle .ajax__tab_hover .ajax__tab_tab {font-size: 11px;background:url(../images/tabs/tab-hover.gif)/*tpa=http://www.energytransfer.com/images/tabs/tab-hover.gif*/ repeat-x;}

.CustomTabStyle .ajax__tab_active .ajax__tab_outer {font-size: 11px;background:url(../images/tabs/tab-active-right.gif)/*tpa=http://www.energytransfer.com/images/tabs/tab-active-right.gif*/ no-repeat right;}
.CustomTabStyle .ajax__tab_active .ajax__tab_inner {font-size: 11px;background:url(../images/tabs/tab-active-left.gif)/*tpa=http://www.energytransfer.com/images/tabs/tab-active-left.gif*/ no-repeat;}
.CustomTabStyle .ajax__tab_active .ajax__tab_tab {font-size: 11px;background:url(../images/tabs/tab-active.gif)/*tpa=http://www.energytransfer.com/images/tabs/tab-active.gif*/ repeat-x;}

.CustomTabStyle .ajax__tab_body
{
    font-family: verdana,tahoma,helvetica;
    font-size: 12px;
    width: 255px;
    border: 1px solid #D1DDE3;
    border-top: 0;
    padding: 8px;
    background-color: #ffffff;
    text-transform:capitalize;
}


.tabpanel
{
	font-family: Arial;
    font-size: 10px;
    color: #000000;
    width: 275px;
    
}

.tabpanel a:link
{
    font-family: Arial;
	font-size: 10px;
	color: #136788;
	font-weight: bold;
	text-decoration: none;
}

.tabpanel a:visited
{
    font-family: Arial;
	font-size: 10px;
	color: #136788;
	font-weight: bold;
	text-decoration: none;
}

.tabpanel a:hover
{
    font-family: Arial;
	font-size: 10px;
	color: #A0A0A0;
	font-weight: bold;
}




.readmorelnk
{
	text-align: right;
	text-decoration: none;
}

.readmorelnk a:link
{
	font-family: Arial;
	font-size: 10px;
	color: #000000;
	text-decoration: none;
}

.readmorelnk a:visited
{
	font-family: Arial;
	font-size: 10px;
	color: #000000;
	text-decoration: none;
}
.readmorelnk a:hover
{
	font-family: Arial;
	font-size: 10px;
	color: #666666;
}

.tab_links
{
margin-bottom: 10px;
}

/**************************** Accordian menu elements on home page *****************************/

.accordian
{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    background-color: #cccccc;
    width: 312px;
}

.accordian_cnt
{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10px;
    font-weight: normal;
    background-color: #ffffff;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 5px;
    color: #1C3664;
    border-left: solid 1px #d1dde3;
    border-right: solid 1px #d1dde3;
    border-bottom: solid 1px #d1dde3;
}

.accordian_cnt ul
{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #136788;
	list-style-type: disc;
	background-position:0px 5px; 
	padding-left:14px; 
}

.accordian_cnt li
{
	font-family: Verdana, Geneva, sans-serif;
	background-image:none;
	background-repeat:no-repeat;
	background-position:0px 5px; 
	padding-left:5px; 
}

#ul_link
{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #136788;
	text-decoration: none;
}

#ul_link a:link
{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #136788;
	text-decoration: none;
}

.accordian_cnt li a:link
{
	font-family: Arial;
	font-size: 11px;
	font-weight: normal;
	color: #136788;
	text-decoration: none;
}

.accordian_cnt li a:visited
{
	font-family: Arial;
	font-size: 11px;
	font-weight: normal;
	color: #136788;
	text-decoration: none;
}

.accordian_cnt li a:hover
{
	font-family: Arial;
	font-size: 11px;
	font-weight: normal;
	color: #136788;
	text-decoration: underline;
}

.acc_header
{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    font-weight: bold;
    background-color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    color: #1c3664;
    border-top: solid 1px #d1dde3;
    border-left: solid 1px #d1dde3;
    border-right: solid 1px #d1dde3;
    border-bottom: solid 1px #d1dde3;
    cursor: pointer;
}

.hrline
{
    width: 205px;
    color: #D71F27; 
    height: 1px;
}

/* stock quote elements */





/*  timeline - start */


#timewrap {
	padding-left:50px;
	max-width:480px;
	float:left;
	}
.timeline a, .entry a, .entry {text-decoration:none;color:black;}
.timeline li a:hover {
    text-decoration:none;
}
.timeline li,
.timeline ol li {
	list-style:none;
}

.timeline,
.timeline ol,
.timeline ol ol {
	margin:0;
	padding:0;
}
.timeline ol li {
	padding:0 0 0 50px;
	margin:0 0 0 50px;
}
.timeline li a {
	position:relative;
	top:-50px;
	}
.timeline li div.entry {
	padding:20px;
	margin:0;
	border-style:none;
	width: 460px;
}
.timeline li a .entry:hover, .timeline .entry:hover {
	background-color:#FFFFFF;
	text-decoration:none;
	color:black;
}
.timeline ol li {
	background:url('Unknown_83_filename')/*tpa=http://www.energytransfer.com/inc/images/org-tree-midx.gif*/ no-repeat left top;
}

.timeline ol li.last {
	background:url('Unknown_83_filename')/*tpa=http://www.energytransfer.com/inc/images/org-tree-lastx.gif*/ no-repeat left top;
}

/*----------- Main Content Elements ---------------- */
.date {font-style:italic;
}

.year {  /* this is the year on the left side.  If you decide to add a month or other content, adjustments will need to be made. */
	font-weight:bold;
	display:block;
	position:relative; /* for browser (IE) compatability */
	width: 75px;
    border-bottom: 1px solid #003399;
    font-size: 1.1em;
    right:125px;
}
.title {
	padding:0 0 10px 0;
	font-weight:bold; 
	font-style:normal; 
	line-height:1.0em;
	}
.history { /* I didn't really style this, it is here for posterity. */
/*	font-family:inherit;*/
	font-family: Arial;
	font-size: 11px;
	}


/*  timeline - end */



/* Customer Activities*/

/*
.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 378px;
	min-height: 124px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 76px;
	margin-left: auto;
	margin-right: auto;
}

#u86
{
	z-index: 12;
	width: 57px;
	position: relative;
	margin-right: -10000px;
	margin-top: 76px;
}

#pu77-4
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 86px;
	left: 75px;
}

#u77-4
{
	z-index: 2;
	width: 200px;
	color: #828282;
	font-size: 12px;
	font-family: Tahoma, Arial, sans-serif;
	font-weight: bold;
	font-style: italic;
	position: relative;
}

#u79-4
{
	z-index: 6;
	width: 292px;
	color: #09347A;
	font-size: 12px;
	font-family: Tahoma, Arial, sans-serif;
	font-weight: bold;
	font-style: normal;
	position: relative;
}

#u81
{
	z-index: 10;
	width: 7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 103px;
	left: 367px;
}

#page .verticalspacer
{
	clear: both;
}


*/

