html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    overflow-x: hidden;
    height: 100%;
}
body {
    font-family: 'Georgia';
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    margin: 0;
    padding: 0;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: subpixel-antialiased;
    position: relative;
    height: 100%;
}
*, *:before, *:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-text-size-adjust: none;
}
.PreviewToolBar {
    top: -40px !important;
}

::-moz-selection {
    background: #333333;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: #333333;
    color: #fff;
    text-shadow: none;
}

a {
    color: #666666;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: inherit;
}
p {
    margin: 0 0 10px 0;
    line-height: 20px;
}
img {
    border: 0 none;
    max-width: 100%;
    height: auto;
}
nav {
    display: block;
}
ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.ul, 
.ModulePressReleaseDetails ul, 
.ModulePressReleaseDetails ol, 
.FaqAnswer ul, 
.HtmlTextContainer ul, 
.HtmlTextContainer ol {
    margin: 10px 20px 20px;
}
ul.ul li, 
.ModulePressReleaseDetails ul li, 
.FaqAnswer ul li, 
.HtmlTextContainer ul li {
    list-style-type: square;
    margin-left: 18px;
    margin-bottom: 5px;
}
.ModulePressReleaseDetails ol li, 
.HtmlTextContainer ol li {
    margin-left: 18px;
    margin-bottom: 5px;
}
label {
    display: inline;
    font-weight: normal;
}
address {
    margin-bottom: 0;
}
h1, h2, h3, h4, .h4, h5, h6 {
    font-family: 'Georgia';
    margin: 0 0 10px 0;
    font-weight: normal;
}
h1, .TitleLeft {
    font-size: 24px;
    line-height: 30px;
}
h2 {
    font-size: 22px;
}
h3 {
    font-size: 20px;
}
h4, .h4 {
    font-size: 18px;
}
h5 {
    font-size: 16px;
}
h6 {
    font-size: 14px;
}
.PaneContent .ModuleContainer > h1:first-child, 
.PaneContent .ModuleContainer > .RssLinkTopContainer + h1, 
.PaneContent .HtmlTextContainer > h1:first-child, 
.StockPage .PaneContent h1, 
.PaneContent .BlankModuleContainer h1, 
.PaneContent .FinancialReportContainer h1, 
.StockQuoteContainer h1, .StockHistorical h1, 
.SECContainer h1, .MailingListForm h1, 
.ModuleListContainer h1, .TitleLeft {
    padding-bottom: 20px;
    border-bottom: 1px solid #dcdcdc;
}
.ModuleDetailsContainer h1 {
    border-bottom: none !important;
    padding-bottom: 0 !important;
    font-size: 20px;
    line-height: 24px;
}
input, select, textarea {
    border: 2px solid #333333;
    outline: none;
    padding: 3px 5px;
    font-family: 'Georgia';
    background: transparent;
    margin: 0;
}
input:focus {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
input[type="text"] {
    width: 200px;
}
.PaneContentInner input[type="submit"], 
.PaneFooter input[type="submit"], .button {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    display: inline-block;
    padding: 13px 17px;
    text-transform: uppercase;
    font-weight: 700;
    border: 2px solid #333333;
    letter-spacing: 1px;
    color: #000000;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 14px;
    white-space: nowrap;
}
.StockHistoricalSelection input[type="submit"] {
    padding: 3px 20px 4px 20px;
}
.PaneContentInner input[type="submit"]:hover, 
.button:hover {
    background: #333333;
    color: #ffffff;
    text-decoration: none;
}
.FooterContainer input[type="submit"], 
.PaneFooter .button {
    color: #ffffff;
}
.FooterContainer input[type="submit"]:hover, 
.PaneFooter .button:hover {
    background: #ffffff;
    color: #333333 !important;
    text-decoration: none;
}
.PaneNavigationWrapper {
    background: #000000;
    z-index: 999;
    position: relative;
}
.PaneNavigation {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    padding: 15px 20px;
    position: relative;
    z-index: 100;
}
.PaneNavigation:after, .PaneNavigation:before, 
.PaneContentInner:after, .PaneContentInner:before, 
.PaneContent:after, .PaneContent:before, 
.PaneFooter:after, .PaneFooter:before, 
.FooterNav:after, .FooterNav:before {
    content: " ";
    display: block;
    clear: both;
    overflow: hidden;
    height: 0;
}
.shadow {
    padding: 0 20px;
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: 0;
    z-index: 2;
    content: ' ';
    display: none;
}
.shadow:after {
    position: absolute;
    content: ' ';
    background: url("../design/logo_shadow.png")/*tpa=http://www.alleghany.com/files/design/logo_shadow.png*/ no-repeat 0 0 transparent;
    top: -60px;
    left: -40px;
    width: 606px;
    height: 89px;
}
.PaneContentInner {
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
    padding: 50px 0;
}
.PaneLeft {
    float: left;
    max-width: 280px;
    width: 28%;
    margin-right: 2%;
    padding: 0 20px;
}
.PaneContent, .PaneRight {
    float: right;
    width: 70%;
    max-width: 686px;
    padding: 0 20px;
}
.LayoutDefaultInner {
    background: #f2f2f2;
}
.PaneContentInner .ModuleContainer, 
.PaneContentInner .HtmlTextContainer, 
.PaneContentInner .BlankModuleContainer, 
.PaneContentInner .ModuleListContainer, 
.FaqContainer, 
.FinancialReportLatestContainer {
    margin-bottom: 30px;
    position: relative;
}
.PaneLeft .IRContact {
    display: none;
}
.PageInvestorsNews .PaneLeft .IRContact, 
.Sectioninvestors-and-news .PaneLeft .IRContact, 
.DetailsPage .PaneLeft .IRContact {
    display: block;
}
.RssLinkTopContainer {
    float: right;
    margin: 3px 0;
}
.RssIcon {
    padding: 0;
}
.RssLinkTop img {
    padding: 0;
    display: none;
}
.RssLinkTop {
    background: url("../icons/rss.png")/*tpa=http://www.alleghany.com/files/icons/rss.png*/ no-repeat center center transparent;
    display: block;
    width: 28px;
    height: 27px;
}
p.rssIcos img {
    vertical-align: bottom;
}
p.rssIcos a {
    vertical-align: text-top;
    display: inline-block;
    margin-bottom: 2px;
    line-height: 28px;
    white-space: nowrap;
}
.ModuleItemRow {
    padding: 10px 0;
    overflow: hidden;
}
a.ModuleHeadlineLink, 
.ModulePresentation .ModuleHeadline, 
.ModuleHeadline {
    font-size: 16px;
}
.ModuleDateContainer, .ModuleDate {
    display: block;
    font-size: 16px;
}
.ModuleDateContainer .ModuleDate {
    display: inline;
}
.ModuleTime {
    display: block;
}
.ModuleDetailsContainer .ModuleDateContainer, 
.ModuleDetailsContainer .ModuleDate {
    font-size: 16px;
    margin: 10px 0;
}
.ModuleDetailsContainer .ModuleDate:before {
    content: 'Date: ';
}
.ModuleFile[href*=".pdf"], 
.DocumentFileLink[href*=".pdf"], 
.DocumentFileLink[href*=".PDF"],
.ReportFile[href*=".pdf"], 
.PressReleaseFile[href*=".pdf"], 
.hrefPresentation[href*=".pdf"], 
.DlHistory a.pdf {
    background: url('../icons/pdf.png')/*tpa=http://www.alleghany.com/files/icons/pdf.png*/ no-repeat 0 0 transparent;
    padding: 10px 0 10px 45px;
    text-transform: lowercase;
    display: inline-block;
    margin-bottom: 5px;
}

.Committee a.pdf {
    background: url('../icons/pdf.png')/*tpa=http://www.alleghany.com/files/icons/pdf.png*/ no-repeat 0 0 transparent;
    padding: 10px 0 10px 45px;
    display: inline-block;
    margin-bottom: 5px;
}


.WebcastLink a.ModuleFileLink {
    background: url('../icons/webcast.png')/*tpa=http://www.alleghany.com/files/icons/webcast.png*/ no-repeat 0 0 transparent;
    padding: 10px 0 10px 45px;
    text-transform: lowercase;
    display: inline-block;
}
.ModuleBody {
    margin-top: 5px;
}
.ModuleNotFound {
    margin: 15px 0;
}
.NotFoundText {
    text-align: left !important;
    margin: 15px 0;
}
.ModuleYearNavContainer {
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.ModuleYearNavContainer a {
    margin-right: 10px;
    font-size: 16px;
    width: 40px;
    display: inline-block;
}
.ModuleYearNavContainer a.selected {
    color: #999999;
}
.ModuleYearNavContainer a.selected:hover {
    text-decoration: none;
    cursor: text;
}
.Breadcrumb {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 25px;
}
.Breadcrumb a, .Breadcrumb .BreadcrumbSeparator {
    display: none;
}
.CustomTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.CustomTable ul {
    margin: 0;
}
.CustomTable th, 
.ModuleHeader {
    background: #d1d1d1;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    font-weight: normal;
}
.CustomTable th {
    text-align: center;
}
.CustomTable th:first-child {
    border: none;
}
.CustomTable td {
    padding: 10px;
    border-bottom: 1px solid #dcdcdc;
}
.CustomTable li {
    margin: 5px 0 0 18px !important;
}
.CustomTable li:first-child {
    margin-top: 0 !important;
}
.col {
    width: 50%;
    float: left;
}
.col-left {
    padding-right: 20px;
}
.ErrorContainer, 
.RequiredField,
.RedStar {
    color: #FF0000;
}
ul.Icons a:hover, 
.RssLinkTop:hover, 
.StockQuoteHeaderContainer .StockDescription3 a:hover,
.ShareThis .stButton .chicklets:hover,
.PrintPageLink:hover {
    opacity: .7;
    filter: alpha(opacity=70);
    _filter: alpha(opacity=100);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.SectionInvestorsNews .PaneRight, .Sectioninvestors-and-news .PaneRight {
    display: block;
}
.PaneRight,
.LayoutTwoColumn .PaneLeft,
.LayoutTwoColumn .PaneRight {
    display: none;
}
.LayoutTwoColumn .PaneContent {
    width: 100%;
    max-width: 100%;
    border: none;
    padding: 0 20px;
}
.SiteMap-Level1, 
.SiteMap-Level2 {
    font-weight: bold;
}
.SiteMap-Level2 {
    margin-top: 10px;
}
.SiteMap-Level3 {
    margin-left: 20px;
}
.SiteMap-Level4 {
    margin-left: 40px;
}
.SiteMap-Level5 {
    margin-left: 60px;
}
.TabTableItem > strong + br, 
.TabTableItem > span + br, 
.TabTableItemAlt > strong + br, 
.TabTableItemAlt > span + br {
    display: none;
}
.TabTableItemAlt, .TabTableItem {
    margin-bottom: 20px;
}

/* ==================== HEADER ==================== */
.PaneHeader {
    background: #000000;
    padding: 30px;
    display: none;
    z-index: 999;
    position: relative;
}
.LayoutHomePage .PaneHeader {
    background: inherit;
}
.ClientLogo {
    float: left;
    height: 37px;
}
.ClientLogo a {
    display: block;
}
.HomeLogo {
    display: none;
}

/* ==================== Main Navigation */
.MainNav {
    float: right;
    display:block;
    margin:0px;
    padding:0;
}
.MainNav .level1,
.MainNav .level1 > li{
  display:inline-block;
  width:100%;
  margin:0;
  padding:0;
  list-style:none;
}
.MainNav .level1 > li > a {
    float: left;
    margin-right: 2px;
}
.MainNav .level2 {
    float: left;
}
.MainNav .level2 > li {
    display: inline-block;
    position: relative;
    margin-right: 2px;
}
.MainNav .level1 > li > a, 
.MainNav .level2 > li > a {
    white-space:nowrap;
    padding: 10px;
    padding: 10px 8px\9;
    display: inline-block;
    color: #ffffff;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.LayoutHomePage .MainNav .level1 > li > a, 
.LayoutHomePage .MainNav .level2 > li > a {
    color: #000000;
}
.MainNav .level3 {
    display: none;
}
.MainNav .level2 li:hover .level3, 
.MainNav .level3 li:hover .level4 {
    display: block;
}
.MainNav .level3 li.has-children > a {
    background: url("../icons/white-arrow-down.png")/*tpa=http://www.alleghany.com/files/icons/white-arrow-down.png*/ no-repeat 95% center;
}
.MainNav .level3 > li > a {
    padding: 5px 30px;
    display: block;
    color: #ffffff;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    line-height: 16px;
}
.MainNav .level1 > li > a:hover, 
.MainNav .level2 > li > a:hover, 
.MainNav .level2 > li:hover > a {
    text-decoration: none;
    background: url("../design/nav_bg.png")/*tpa=http://www.alleghany.com/files/design/nav_bg.png*/ repeat 0 0 transparent;
    color: #999999 !important;
    text-decoration: none;
}
.HeaderContainer .level3 > li > a:hover, 
.HeaderContainer .level3 > li:hover > a, 
.HeaderContainer .level4 > li > a:hover, 
.HeaderContainer .level4 > li:hover > a {
    text-decoration: none;
    color: #999999;
    text-decoration: none;
}
.MainNav .level3 {
    position: absolute;
    top: 40px;
    left: 0;
    background: url("../design/nav_bg.png")/*tpa=http://www.alleghany.com/files/design/nav_bg.png*/ repeat 0 0 transparent;
    display: none;
    width: 260px;
    padding: 30px 0;
    z-index: 100;
}
.MainNav .level3 > li, 
.MainNav .level4 > li {
    position: relative;
}
.MainNav .level3 a {
    color: #fff;
    display: block;
    padding: 0px 35px 0px 50px;
}
.MainNav .level4 {
    display: none;
}
.MainNav .level1 > li.selected.has-children.home > a, 
.MainNav .level2 > li.selected.has-children > a, 
.MainNav .level2 > li.expanded.has-children > a,
.MainNav .level2 > li.selected > a {
    color: #666;
}
.MainNav .level2 li.has-children > a.CapitalCorporation {
    display: none;
}

/* ==================== Search */
.PaneNavigation .ModuleSearch {
    float: right;
    position: relative;
    height: 30px;
    min-width: 20px;
    margin-top: 5px;
}
.PaneNavigation .ModuleSearch h1 {
    display: block;
    float: right;
    width: 20px;
    height: 20px;
    text-indent: -999px;
    margin: 5px 0 0px 0;
    overflow: hidden;
    background: url("../icons/search-ico-v2.png")/*tpa=http://www.alleghany.com/files/icons/search-ico-v2.png*/ center center no-repeat;
    cursor: pointer;
    position: relative;
    z-index: 4;
}
.HomePage .PaneNavigation .ModuleSearch h1 {
    background: url("../icons/search-ico.png")/*tpa=http://www.alleghany.com/files/icons/search-ico.png*/ center center no-repeat;
}
.PaneNavigation .ModuleSearch h1.active {
    background: url("../design/close.png")/*tpa=http://www.alleghany.com/files/design/close.png*/ no-repeat 0 0 transparent !important;
    margin: 7px 0 5px 0 !important;
    width: 16px !important;
    height: 16px !important;
}
.PaneNavigation .ModuleSearch .ModuleContainerInnerTop {
    display: none;
    position: relative;
    z-index: 2;
}
.PaneNavigation .ModuleSearch input[type="text"] {
    width: 135px;
    height: 30px;
    padding: 6px 30px 6px 5px;
    border: 1px solid #424650;
    color: #fff;
    line-height: 17px\9;
    outline: none;
    background: url(../icons/search-ico-small-v2.png)/*tpa=http://www.alleghany.com/files/icons/search-ico-small-v2.png*/ no-repeat 95% center transparent !important;
}
.HomePage .PaneNavigation .ModuleSearch input[type="text"] {
    background: url(../icons/search-ico-small.png)/*tpa=http://www.alleghany.com/files/icons/search-ico-small.png*/ no-repeat 95% center transparent !important;
}
.HomePage .PaneNavigation .ModuleSearch input[type="text"] {
    color: #000000;
}
.PaneNavigation .ModuleSearch input[type="submit"] {
    height: 30px;
    width: 30px;
    border: 1px solid transparent;
    background: transparent;
    color: #fff;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 0px;
    left: 105px;
    text-indent: -999px;
    overflow: hidden;
}

/* ==================== Responsive Navigation */
.ResponsiveNavTrigger {
    position: absolute;
    cursor: pointer;
    display: none;
    right: 20px;
    top: 40px;
    display: none;
}
.PaneHeader .ResponsiveNavTrigger .icon-bar {
    background: #ffffff;
    width: 40px;
    height: 4px;
    margin-bottom: 4px;
}
.HomePage .PaneHeader .ResponsiveNavTrigger .icon-bar {
    background: #000000;
}
.PaneQ4Footer {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    z-index: 9999;
    background: url("../design/ResponsiveNav-bg.png")/*tpa=http://www.alleghany.com/files/design/ResponsiveNav-bg.png*/ repeat-y 0 0 #313131;
    overflow-y: scroll;
    text-align: left;
}
.ResponsiveSearch .SearchButton {
    height: 50px;
    width: 50px;
    border: 0 none !important;
    background: transparent;
    outline: none;
    position: absolute;
    top: 15px;
    right: 18px;
    text-indent: -999px;
    overflow: hidden;
}
.ResponsiveSearch .SearchButton:hover {
    background: transparent !important;
    cursor: pointer;
}
.ResponsiveSearch.ModuleSearch input[type="text"] {
    width: 200px;
    height: 50px;
    padding: 10px 55px 10px 20px;
    color: #ffffff;
    outline: none;
    background: url(../icons/search-ico-white.png)/*tpa=http://www.alleghany.com/files/icons/search-ico-white.png*/ no-repeat 95% center #262626 !important;
    margin: 15px 16px;
    font-size: 17px;
    border: 0 none;
}
.ResponsiveNav {
    position: absolute;
    top: auto;
    left: 0px;
    padding: 0 0 10px 0;
    width: 233px;
}
.ResponsiveNav .level1 > li > a span.drop-icon {
    display: none;
}
.ResponsiveNav .level1 li {
    position: relative;
}
.ResponsiveNav a {
    display: block;
    color: #ffffff;
    font-size: 17px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.PaneQ4Footer a:hover {
    color: #fff !important;
}
.ResponsiveNav .level1 > li a {
    padding: 5px 50px 10px 17px;
}
.ResponsiveNav .level3 > li a {
    padding: 5px 32px;
    color: #999999;
}
.ResponsiveNav .level4 > li a {
    padding: 5px 47px;
}
.ResponsiveNav .level1 li > a:hover {
    text-decoration: none;
}
.ResponsiveNav .level3 li > a:hover {
    text-decoration: none;
}
.ResponsiveNav span.drop-icon, 
.ResponsiveNav .level2 li.has-children.active.expanded > a span.drop-icon {
    background: url("../icons/white-arrow-down.png")/*tpa=http://www.alleghany.com/files/icons/white-arrow-down.png*/ center center no-repeat transparent;
    position: absolute;
    display: block;
    top: 5px;
    right: 8px;
    width: 30px;
    height: 25px;
    cursor: pointer;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.ResponsiveNav .level2 li.has-children.active > a span.drop-icon, 
.ResponsiveNav .level2 li.has-children.expanded > a span.drop-icon, 
.ResponsiveNav .level3 li a span.drop-icon, 
.ResponsiveNav .level3 li.has-children.expanded.active > a span.drop-icon, 
.ResponsiveNav .level4 li.has-children.active > a span.drop-icon, 
.ResponsiveNav .level4 li.has-children.expanded > a span.drop-icon {
    background: url("../icons/white-arrow-up.png")/*tpa=http://www.alleghany.com/files/icons/white-arrow-up.png*/ center center no-repeat transparent;
}
.ResponsiveNav .level2 li.has-children.active > a span.drop-icon:hover, 
.ResponsiveNav .level2 li.has-children.expanded > a span.drop-icon:hover, 
.ResponsiveNav .level3 li.has-children.expanded.active > a span.drop-icon:hover, 
.ResponsiveNav .level4 li.has-children.active > a span.drop-icon:hover, 
.ResponsiveNav .level4 li.has-children.expanded > a span.drop-icon:hover {
    background: url("../icons/white-arrow-up-hover.png")/*tpa=http://www.alleghany.com/files/icons/white-arrow-up-hover.png*/ center center no-repeat transparent;
}
.ResponsiveNav .level3 li a span.drop-icon, 
.ResponsiveNav .level3 li.has-children.expanded.active > a span.drop-icon, 
.ResponsiveNav .level4 li a span.drop-icon, 
.ResponsiveNav .level4 li.has-children.expanded.active > a span.drop-icon {
    background: url("../icons/white-arrow-down.png")/*tpa=http://www.alleghany.com/files/icons/white-arrow-down.png*/ center center no-repeat transparent;
}
.ResponsiveNav span.drop-icon:hover, 
.ResponsiveNav .level2 li.has-children.active.expanded > a span.drop-icon:hover, 
.ResponsiveNav .level3 li a span.drop-icon:hover {
    background: url("../icons/white-arrow-down-hover.png")/*tpa=http://www.alleghany.com/files/icons/white-arrow-down-hover.png*/ center center no-repeat transparent;
}
.ResponsiveNav .level3, 
.ResponsiveNav .level4  {
    display: none;
}
.ResponsiveNav .level2 li.has-children > a.CapitalCorporation {
    display: none;
}

/* ==================== FOOTER ==================== */
.FooterContainer {
    background: #000000;
    color: #cccccc;
}
.FooterContainer a:hover {
    text-decoration: none;
}
.Footer {
    border-bottom: 1px solid #333;
}
.PaneFooter {
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
    padding: 50px 0 30px 0;
}
.FooterNav {
    width: 100%;
    float: left;
}
.FooterNav a:hover,
.ACCFooterNav a:hover {
    color: #ffffff !important;
}
.FooterNav .level2 li {
    position: relative;
}
.FooterNav .level2 > li.has-children {
    float: left;
    width: 26%;
    padding: 0 20px;
}
.FooterNav a {
    color: #cccccc;
}
.FooterNav .level1 > li > a, 
.FooterNav .level4, 
.FooterNav span.ContactNav {
    display: none;
}
.ContactUs a {
    margin-top: 20px;
}
.ContactUs .ContentContainer > span.trigger {
    display: none;
}
.PaneFooter2 {
    padding: 30px 20px;
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
div.FooterLinks {
    margin-bottom: 10px;
    overflow: hidden;
}
.FooterLinks li {
    display: inline-block;
}
.FooterLinks li:first-child a {
    border: none;
    padding: 0;
    margin: 0;
}
.FooterNav .level2 > li.has-children > a.CapitalCorporation, 
.FooterNav .level2 > li.has-children > a.CapitalCorporation + ul.level3 {
    display: none !important;
}
.FooterLinks li a {
    color: #cccccc;
    padding-left: 5px;
    margin-left: 5px;
    border-left: 1px solid #cccccc;
    line-height: 10px;
    display: inline-block;
    white-space: nowrap;
}
.FooterLinks li a:hover {
    color: #666666;
}
.FooterNav .level2 > li > a,
.ContactUs .ContentContainer > div > span {
    color: #ffffff;
}
.Q4FooterContainer {
    padding: 0 !important;
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
}
.Q4FooterContainer a {
    color: #cccccc !important;
    text-decoration: none;
    font-size: 12px !important;
    font-family: Arial, Helvetica, sans-serif;
}

/* ==================== Secondary Navigation -> PaneLeft */
.SecNav {
    padding-bottom: 30px;
    margin-bottom: 35px;
    border-bottom: 1px solid #dcdcdc;
}
.SecNav a {
    display: inline-block;
    padding: 6px 10px;
    white-space:nowrap;
    line-height: 20px;
}
.SecNav li.selected > a {
    background: #e0e0e0;
    position: relative;
    text-decoration: none;
    color: #666666;
}
.SecNav li.selected > a:hover {
    text-decoration: none;
}
.SecNav li.selected > a:after {
    content: '';
    position: absolute;
    top: 0px;
    right: -32px;
    border: 16px solid transparent;
    border-left-color: #e0e0e0;
}
.SecNav li.selected > a span.tworow:after {
    content: '';
    position: absolute;
    top: 0px;
    right: -52px;
    border: 26px solid transparent;
    border-left-color: #e0e0e0;
}
.SecNav li.selected > a span.threerow:after {
    content: '';
    position: absolute;
    top: 0px;
    right: -72px;
    border: 36px solid transparent;
    border-left-color: #e0e0e0;
}
.SecNav .level3,
.SecNav .level4 {
    padding-left: 10px;
}
.SecNav a.nolink:hover {
    color: #666666;
    text-decoration: none;
}
.SecNav .level2 > li, 
.SecNav .level1 > li > a, 
.SecNav .level2 > li.has-children, 
.SecNav .level2 > li.has-children .level3, 
.SecNav .level3 > li.has-children .level4 {
    display: none;
}
.SecNav .level2 > li.selected, 
.SecNav .level2 > li.selected.has-children, 
.SecNav .level2 > li.selected.has-children .level3, 
.SecNav .level2 > li.has-children.expanded, 
.SecNav .level2 > li.has-children.expanded .level3, 
.SecNav .level3 > li.selected.has-children .level4, 
.SecNav .level3 > li.has-children.expanded .level4 {
    display: block;
}

/* ==================== Home ==================== */
.HomePage .bg {
    width: 100%;
    /*min-height: 500px;
    background: url("/files/design/Alleghany-Background.png") no-repeat 0 0 transparent;
    background-size: cover;
    -ms-behavior: url(/files/js/backgroundsize.min.htc);
    behavior: url(/files/js/backgroundsize.min.htc);*/
    position: relative;
}
/*.HomePage .Copyright {
    display: none;
}*/
.HomePage .MainNav {
    float: none;
    margin: 0 17.9%;
    margin: 0 15.9%\9;
    width: 65%;
}
.LayoutHomePage .PaneHeader2 {
    width: 100%;
    max-width: 980px;
    margin: 80px auto 0px auto;
    text-align: center;
    padding: 0 20px 80px 20px;
}
.LayoutHomePage .PaneHeader2 img {
    margin-bottom: 60px;
}
.Conservatism {
    display: none;
}
.Conservatism h1 {
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 50px;
}
.Conservatism p {
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 50px;
}
.Artwork {
    position: absolute;
    right: 20px;
    bottom: 10px;
    color: #666;
}

/* ==================== About Alleghany ==================== */
.AboutAlleghany h4.left-h4 {
    float: left;
    width: 45%;
    padding-right: 30px;
    margin-top: 10px;
}
.AboutAlleghany .right-content {
    width: 55%;
    float: left;
    margin: 10px 0 20px 0;
}
.AboutAlleghany .left-content {
    width: 60%;
    float: left;
    padding-right: 30px;
}
.AboutAlleghany h4.right-h4 {
    float: right;
    width: 40%;
}
.AboutAlleghany .separator {
    height: 1px;
    background: #dcdcdc;
}

/* ==================== Our Leadership ==================== */
.PersonContainer .commaName,
.PersonContainer .PersonSuffixComma,
.PersonContainer .commaSuffix,
.PersonContainer .PersonComma.PersonTitleComma {
    display: none;
}
.PersonTitle {
    font-size: 16px;
    display: block;
    font-style: italic;
}
.PersonContainer h3 {
    padding: 20px 15px;
    margin: 0;
    border-bottom: 1px solid #dcdcdc;
}
.Leadership.tab1 {
    display: block;
}
.PersonDescription > span {
    width: 100%;
    overflow: hidden;
}
.tabLinks ul {
    overflow: hidden;
    margin-bottom: 40px;
}
.tabLinks li {
    float: left;
}
.tabLinks a {
    display: inline-block;
    padding: 15px 45px;
    background: #d1d1d1;
    margin-right: 1px;
    text-transform: uppercase;
    font-size: 13px;
    cursor: pointer;
}
.tabLinks a:hover {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background: #e0e0e0;
}
.tabLinks a:hover {
    text-decoration: none;
}
.tabLinks li.selected a {
    background: #e0e0e0;
}
.PersonGenericContainer .ModuleContainerInner .PersonContainer:first-child h3 {
    padding-top: 10px;
}

/* ==================== accordions */
.Leadership.tab1 .PersonContainer h3,
.Leadership.tab3 .PersonContainer h3,
.FaqContainer h3 {
    cursor: pointer;
    background: url("../icons/black-arrow-down.png")/*tpa=http://www.alleghany.com/files/icons/black-arrow-down.png*/ 20px center no-repeat #e0e0e0;
    padding: 15px 20px 15px 40px !important;
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 0;
    text-transform: capitalize;
}
.Leadership.tab1 .PersonContainer h3.active,
.Leadership.tab3 .PersonContainer h3.active,
.FaqContainer h3.active {
    background: url("../icons/black-arrow-up.png")/*tpa=http://www.alleghany.com/files/icons/black-arrow-up.png*/ 20px center no-repeat #e0e0e0;
}
.Team .PersonDetailsContainer {
    display: block;
}
.PersonDetailsContainer, 
.FaqContainer .FaqAnswer {
    display: none;
    padding: 10px 15px;
}
.Leadership, 
.FaqQuestionList, 
.BackToTopLink {
    display: none;
}

/* ====================  Email Alerts -> PaneRight */
.PaneRight .MailingListCol1, .PaneRight .MailingListsHeading, .PaneRight .RequiredField, .NoBr {
    display: none;
}
.PaneRight .MailingListListTable {
    margin: 20px 0 15px 0;
}
.PaneRight .MailingListListTable table {
    width: 100%;
}
.PaneRight .MailingListTable {
    float: left;
    margin-right: 20px;
    width: 300px;
}
.PaneRight .MailingListForm input[type="text"] {
    background: #e3e3e3;
    border: 0 none;
    color: #666666;
    font-size: 17px;
    width: 100% !important;
    padding: 13px;
    height: 47px;
}
.PaneRight .GridActions {
    float: left;
}
.PaneRight .MailingListListTable table tr {
    float: left;
    width: 33.3333%;
    margin-bottom: 5px;
}
.EditSubscriberConfirmation {
    font-weight: bold;
}

/* ==================== iCheck plugin -> Custom Checkbox */
.icheckbox_flat-grey,
.iradio_flat-grey {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 23px;
    height: 23px;
    background: url(../icons/grey.png)/*tpa=http://www.alleghany.com/files/icons/grey.png*/ no-repeat;
    border: none;
    cursor: pointer;
}
.icheckbox_flat-grey {
    background-position: -2px 0;
}
.icheckbox_flat-grey.checked {
    background-position: -26px 0;
}
.iradio_flat-grey {
    background-position: -2px 0;
}
.iradio_flat-grey.checked {
    background-position: -50px 0;
}
.MailingListForm input[type="checkbox"], 
.MailingListUnsubscribeContainer input[type="checkbox"] {
    -webkit-appearance: checkbox;
}

/* ==================== Email Alerts Page ==================== */
.EmailAlertsPage .PaneRight .MailingListSignupContainer {
    display: none;
}
.EmailAlertsPage .MailingListTable {
    width: 100%;
    margin-bottom: 10px;
}
.MailingListListTable {
    margin: 10px 0;
}
.PaneContent .MailingListCol1 {
    width: 30%;
}
.PaneContent .MailingListCol2 {
    width: 70%;
}
.EmailAlertsPage .HtmlTextContainer {
    margin-bottom: 0;
}
.MailingListUnsubscribeTable {
    width: 100%;
}
.ButtonCell input {
    margin-top: 10px;
    display: block;
}
.SignUp, .Unsubscribe, .SendMessage {
    margin-bottom: 30px;
    overflow: hidden;
}
.PaneContent .EditSubscriberConfirmation, 
.MailingListUnsubscribeMessage,
.MessageSent {
    padding: 10px 0;
    font-weight: bold;
    display: block;
}
.MailingListSignupContainer label {
    margin-left: 5px;
    vertical-align: middle;
    cursor: pointer;
}
.SignUp input[type="text"] {
    margin-bottom: 10px;
}

/* ==================== IR Landing -> Investor & News ==================== */
.PageInvestorsNews .Breadcrumb {
    display: none;
}

.LatestInvestorPresentation .ModuleDate, 
.LatestInvestorPresentation .ModuleHeadline {
    display: none;
}
.LatestInvestorPresentation .ModuleBody {
    margin: 0;
}
.LatestInvestorPresentation .ModuleItemRow, 
.latestItems .ModuleItemRow {
    padding: 0;
}
.LatestInvestorPresentation .hrefPresentation {
    text-indent: -999px;
    overflow: hidden;
}
.LatestInvestorPresentation .hrefPresentation:after {
    content: "Latest Investor Presentation ";
    display: block;
    text-indent: 0;
    margin-top: -17px;
}
.LatestInvestorPresentation .hrefPresentation[href*=".pdf"] {
    background: url('../icons/pdf.png')/*tpa=http://www.alleghany.com/files/icons/pdf.png*/ no-repeat right center transparent;
    padding: 10px 45px 10px 0;
    margin-bottom: 0px;
    text-transform: capitalize;
    font-size: 16px;
}
.latestItems {
    margin-bottom: 0 !important;
    font-size: 16px;
}
.latestItems .SECContainer {
    padding-bottom: 10px;
}
.latestItems .SECContainer .filingTitle {
    float: left;
}
.latestItems .SECContainer .ModuleItemRow {
    line-height: 34px;
}
.latestItems .SECContainer ul.Icons {
    float: right;
    height: 37px;
}
.latestItems .SECContainer .IconLink {
    display: inline-block;
    margin-left: 5px;
    height: 37px;
}
.latestItems .SECContainer .IconLink a {
    width: 39px;
    height: 37px;
    display: inline-block;
}
.latestItems .SECContainer .PdfIcon a[href*=".pdf"] {
    background: url('../icons/pdf.png')/*tpa=http://www.alleghany.com/files/icons/pdf.png*/ no-repeat 0 0 transparent;
}
.latestItems .SECContainer .WordIcon a[href*=".rtf"] {
    background: url('../icons/doc.png')/*tpa=http://www.alleghany.com/files/icons/doc.png*/ no-repeat 0 0 transparent;
}
.latestItems .SECContainer .ZipIcon a[href*=".zip"] {
    background: url('../icons/zip.png')/*tpa=http://www.alleghany.com/files/icons/zip.png*/ no-repeat 0 0 transparent;
}
.latestItems .SECContainer .HtmlIcon a[href*=".html"] {
    background: url('../icons/xbrl.png')/*tpa=http://www.alleghany.com/files/icons/xbrl.png*/ no-repeat 0 0 transparent;
}
.latestItems .SECContainer .ExcelIcon a[href*=".xls"] {
    background: url('../icons/xls.png')/*tpa=http://www.alleghany.com/files/icons/xls.png*/ no-repeat 0 0 transparent;
}
.latestItems #FinancialWidget li {
    padding-bottom: 10px;
}
.latestItems #FinancialWidget .HTML a {
    background: url('../icons/xbrl.png')/*tpa=http://www.alleghany.com/files/icons/xbrl.png*/ no-repeat right 3px transparent;
    padding: 10px 45px 10px 0;
    display: block;
}
.latestItems #FinancialWidget .PDF a[href*=".pdf"] {
    background: url('../icons/pdf.png')/*tpa=http://www.alleghany.com/files/icons/pdf.png*/ no-repeat right 3px transparent;
    padding: 10px 45px 10px 0;
    display: block;
}
.latestItems h1 > a {
        color: #000;
        text-decoration: none;
}
.PageInvestorsNews .col h1 a {
    color: initial;
    text-decoration: none;
}
.StockQuoteHeaderContainer .StockVolumeText, 
.StockQuoteHeaderContainer .StockVolume, 
.StockQuoteHeaderContainer .StockDate, 
.StockQuoteHeaderContainer .StockPChange {
    display: none;
}
.StockQuoteHeaderContainer {
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    padding: 10px 0;
    font-size: 24px;
    line-height: 34px;
    overflow: hidden;
}
.StockQuoteHeaderContainer .StockDescription1 {
    float: left;
}
.StockQuoteHeaderContainer .StockDescription1 a {
    color: #000;
    text-decoration: none;
}
.StockQuoteHeaderContainer .right {
    float: right;
}
.StockQuoteHeaderContainer .StockPrice {
    color: #000000;
}
.StockQuoteHeaderContainer .StockPrice:hover {
    text-decoration: none;
}
.StockQuoteHeaderContainer .StockDescription2 {
    margin-right: -5px;
}
.StockQuoteHeaderContainer .StockDescription3 a {
    overflow: hidden;
    width: 14px;
    height: 14px;
    display: inline-block;
    background: url("../icons/plus-icon.png")/*tpa=http://www.alleghany.com/files/icons/plus-icon.png*/ no-repeat 0 0 transparent;
    cursor: pointer;
    margin: 10px 10px 0 10px;
    display: none;
}
.StockQuoteHeaderContainer .StockIndicator {
    margin-left: 5px;
}
.StockQuoteHeaderContainer .StockIndicator:after {
    content: ' $';
    margin-left: 5px;
}
.FinancialReportLatestContainer {
    border-bottom: 1px solid #dcdcdc;
}
.FinancialReportLatestTable {
    width: 100%;
    padding-bottom: 10px;
}
.FinancialReportLatestTable .FileType {
    display: none;
}
.FinancialReportLastestItem {
    padding: 10px 0 0 0;
}
.FinancialReportLatestTable .ReportLink {
    display: block;
    font-size: 16px;
    line-height: 38px;
}
.FinancialReportLatestTable .ReportLink .icon {
    width: 39px;
    height: 37px;
    float: right;
    margin-left: 10px;
}
.FinancialReportLatestTable .ReportLink[href*='.pdf'] .icon {
    background: url('../icons/pdf.png')/*tpa=http://www.alleghany.com/files/icons/pdf.png*/ no-repeat right 0 transparent;
}
.FinancialReportLatestTable .ReportLink .icon {
    background: url('../icons/xbrl.png')/*tpa=http://www.alleghany.com/files/icons/xbrl.png*/ no-repeat right 0 transparent;
}
.InvNewsEvP .ModuleYearNavContainer {
    display: none;
}

/* ==================== Calendar */
#clndr, #clndr * {
    -webkit-tap-highlight-color: transparent;
}
.EventCalendar h1 {
    margin: 0;
    border-bottom: 0 none !important;
}
.eventCalWrapper {
    position: relative;
    padding: 0;
}
.eventCalWrapper .clndr-previous-button, .eventCalWrapper .clndr-next-button {
    position: absolute;
    top: 0;
    left: 0;
    height: 35px;
    width: 35px;
    background: url("../icons/prev-eventsCalendar.png")/*tpa=http://www.alleghany.com/files/icons/prev-eventsCalendar.png*/ center center no-repeat;
    cursor: pointer;
    text-indent: -999px;
    overflow: hidden;
    font-size: 0;
}
.eventCalWrapper .clndr-previous-button:hover {
    background-position: 40% center;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.eventCalWrapper .clndr-next-button {
    left: auto;
    right: 0;
    background: url("../icons/next-eventsCalendar.png")/*tpa=http://www.alleghany.com/files/icons/next-eventsCalendar.png*/ center center no-repeat;
}
.eventCalWrapper .clndr-next-button:hover {
    background-position: 60% center;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.EventCalendar .controls {
    text-align: center;
    height: 35px;
    line-height: 32px;
    font-size: 18px;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    text-transform: uppercase;
}
.eventCalWrapper .days {
    padding: 10px 0;
    overflow: hidden;
}
.eventCalWrapper .day-header, .eventCalWrapper .day {
    width: 14.28%;
    height: 30px;
    line-height: 25px;
    text-align: center;
    float: left;
    color: #999999;
    font-size: 14px;
    text-transform: lowercase;
    font-weight: normal;
}
.eventCalWrapper .day:hover {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}
.eventCalWrapper .day.event {
    color: #000000;
    font-weight: bold;
}
.eventCalWrapper .day.today {
    color: #ffffff;
    background: url("../design/datepicker-today-eventsCalendar.png")/*tpa=http://www.alleghany.com/files/design/datepicker-today-eventsCalendar.png*/ no-repeat center 0 transparent;
}
.eventCalWrapper .day.today:hover {
    color: #ffffff;
    cursor: text;
}
.day.adjacent-month, .day.adjacent-month:hover {
    color: #e0e0e0;
}
.eventCalWrapper .selectedEvent {
    clear: both;
    display: none;
}
.eventCalWrapper .selectedEvent .close {
    float: right;
    margin-top: -10px;
    text-decoration: none;
    cursor: pointer;
    display: none;
}
.eventCalWrapper #latestEvents {
    border-top: 1px solid #dcdcdc;
    padding: 10px 0 0 0;
}
.eventCalWrapper #latestEvents .select {
    margin-bottom: 10px;
}
.eventCalWrapper .eventContent {
    font-size: 16px;
}
.EventItem {
    margin-bottom: 10px;
}

/* ==================== Events & Presentations ==================== */
.UpcomingEv .ModuleYearNavContainer,
.PastEv .ModuleYearNavContainer,
.RelatedDocuments .PresentationItem h3, 
.RelatedDocuments .FinancialContainer h3 {
    display: none;
}
.PastEv {
    clear: both;
}
.ModuleSpeakers h3 {
    font-size: 14px;
}
.RelatedDocuments .PressReleaseLink[href*="aspx"] {
    background: url('../icons/xbrl.png')/*tpa=http://www.alleghany.com/files/icons/xbrl.png*/ no-repeat 0 0 transparent;
    padding: 10px 0 10px 45px;
    text-transform: lowercase;
    display: inline-block;
    margin-bottom: 10px;
}
.EventsPage .ModuleEvent .WebcastLink a.ModuleFileLink {
    background: url('../icons/webcast.png')/*tpa=http://www.alleghany.com/files/icons/webcast.png*/ no-repeat 0 0 transparent;
    text-indent: -9999px;
    width: 37px;
    height: 37px;
    display: inline-block;
    padding: 0;
}
.EventsPage .ModuleEvent .RelatedDocuments .ModuleFile[href*=".pdf"] {
    background: url('../icons/pdf.png')/*tpa=http://www.alleghany.com/files/icons/pdf.png*/ no-repeat 0 0 transparent;
    text-indent: -9999px;
    width: 39px;
    height: 37px;
    display: inline-block;
    padding: 0;
    margin: 0;
}
.EventsPage .ModuleEvent .WebcastLink a.ModuleFileLink:hover,
.EventsPage .ModuleEvent .RelatedDocuments .ModuleFile[href*=".pdf"]:hover {
    opacity: .7;
    filter: alpha(opacity=70);
    _filter: alpha(opacity=100);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.EventsPage .ModuleEvent .ModuleHeader {
    background: transparent;
    text-transform: capitalize;
    padding: 10px 0;
    border-bottom: 1px solid #dcdcdc;
    overflow: hidden;
}
.EventsPage .ModuleEvent .ModuleHeader span {
    float: left;
}
.EventsPage .ModuleEvent .ModuleHeader span:first-child {
    width: 50%;
}
.EventsPage .ModuleEvent .ModuleHeader span:first-child + span { 
    width: 20%;
}
.EventsPage .ModuleEvent.UpcomingEv .ModuleHeader span:first-child + span:after {
    content: ' / Time';
}
.EventsPage .ModuleEvent .ModuleHeader span.webcast-col,
.EventsPage .ModuleEvent .ModuleHeader span.presentation-col {
    width: 15%;
    text-align: center;
}
.EventsPage .ModuleEvent a.ModuleHeadlineLink  {
    width: 50%;
    float: left;
    font-size: inherit;
}
.EventsPage .ModuleEvent .ModuleDateContainer {
    float: left;
    width: 20%;
}
.EventsPage .ModuleEvent .WebcastLink,
.EventsPage .ModuleEvent .RelatedDocuments {
    float: left;
    width: 15%;
    text-align: center;
}
.EventsPage .ModuleEvent .RelatedDocuments {
    margin-left: 93px;
}
.EventsPage .ModuleEvent .WebcastLink + .RelatedDocuments {
    margin-left: 0;
}
/* ==================== Annual Letters ==================== */
.Annual {
    margin-bottom: 30px;
    border-top: 1px solid #d1d1d1;
}
.Annual .CoverImagePane, 
.Annual .AnnualReportPanel h3, 
.Annual .FileType {
    display: none;
}
.Annual table {
    width: 100%;
}
.Annual .ReportLink[href*=".pdf"] {
    background: url('../icons/pdf.png')/*tpa=http://www.alleghany.com/files/icons/pdf.png*/ no-repeat right 0 transparent;
    padding: 9px 0;
    display: block;
}
.AnnualReportPanel li {
    padding: 10px;
    border-bottom: 1px solid #d1d1d1;
}
.Annual .ReportLink .h4 {
    font-size: 14px;
}
.Annual h2.Year {
    display: none;
}
.Annual .AnnualReportPanel li h4 {
    margin: 0;
}

/* ==================== Financial Results ==================== */
#FinancialWidget .loading {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    text-align: center;
    padding-top: 40px;
    background-color: #f2f2f2;
}
#FinancialWidget .date select {
    margin: 0 10px 10px 0;
    width: 150px;
}
#FinancialWidget .YearContianer {
    border-bottom: 1px solid #f2f2f2;
}
#FinancialWidget .YearContianer h3 {
    background: url("../icons/black-arrow-down.png")/*tpa=http://www.alleghany.com/files/icons/black-arrow-down.png*/ 20px center no-repeat #e0e0e0;
    padding: 15px 20px 15px 40px;
    cursor: pointer;
    margin: 0;
}
#FinancialWidget .YearContianer.selected h3 {
    background: url("../icons/black-arrow-up.png")/*tpa=http://www.alleghany.com/files/icons/black-arrow-up.png*/ 20px center no-repeat #e0e0e0;
    border: 0 none;
}
#FinancialWidget .tabItem {
    background: #d1d1d1;
    float: left;
    padding: 15px;
    cursor: pointer;
    border-right: 1px solid #e0e0e0;
    font-size: 12px;
    text-transform: uppercase;
    width: 25%;
    text-align: center;
}
#FinancialWidget.tabItem p {
    line-height: 15px;
}
#FinancialWidget .tabItem.active {
    background: #f2f2f2;
}
#FinancialWidget .tabItem:hover {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background: #f2f2f2;
}
#FinancialWidget .quartersTab {
    background: #e0e0e0;
    overflow: hidden;
    padding: 0 15px;
}
#FinancialWidget .tabItem p {
    margin: 0;
}
#FinancialWidget .slideUpDown {
    clear: both;
}
#FinancialWidget .DocumentInfo li {
    padding: 10px;
    border-top: 1px solid #d1d1d1;
}
#FinancialWidget .DocumentInfo li:first-child {
    border-top: 0 none;
}
#FinancialWidget .DocumentInfo li a.PDF {
    background: url('../icons/pdf.png')/*tpa=http://www.alleghany.com/files/icons/pdf.png*/ no-repeat right 0 transparent;
    padding: 9px 0;
    display: block;
}
#FinancialWidget .DocumentInfo li a.null {
    background: url('../icons/xbrl.png')/*tpa=http://www.alleghany.com/files/icons/xbrl.png*/ no-repeat right 0 transparent;
    padding: 9px 0;
    display: block;
}
#FinancialWidget .DocumentInfo li a span {
    display: block;
    width: 80%;
}
#FinancialWidget .DocumentInfo li a span + span, #FinancialWidget .hidden {
    display: none;
    width: 100%;
}

/* ==================== SEC Documents ==================== */
.FormGroupsContainer, .selYear, .selectCategory, .SECYears {
    float: left;
    margin: 0 10px 10px 0;
}
.SECContainer .dropdowns {
    overflow: hidden;
}
.RegulatoryFilingContainer select {
    width: 178px !important;
}
.RegulatoryFilingContainer .ModuleContainerInnerTop {
    clear: both;
}
.RegulatoryFilingContainer .MiddleColumnContentLarge .ModuleHeader + .ModuleItemRow {
    border-top: 1px solid #dcdcdc;
}
.RegulatoryFilingContainer .ItemDate, 
.RegulatoryFilingContainer .Date {
    float: left;
    width: 17%;
    padding-right: 1%;
}
.RegulatoryFilingContainer .Filing, 
.RegulatoryFilingContainer .filingTitle {
    float: left;
    width: 13%;
    padding-right: 1%;
}
.RegulatoryFilingContainer .Description, 
.RegulatoryFilingContainer .ItemDescription {
    padding-right: 1%;
    width: 35%;
    float: left;
}
.RegulatoryFilingContainer .Icons {
    width: 35%;
    float: left;
    margin: 0;
    padding: 0;
}
.RegulatoryFilingContainer .Icons li, 
.ModuleSECFilingDetails .Icons li {
    width: 39px;
    height: 37px;
    display: inline-block;
    vertical-align: top;
}
.ModuleSECFilingDetails .ModuleDate {
    width: 100%;
}
.ModuleSECFilingDetails .ModuleLinks {
    margin-top: 10px;
}
.RegulatoryFilingContainer .Icons li a, 
.ModuleSECFilingDetails .Icons li a {
    display: block;
    width: 39px;
    height: 37px;
}
.RegulatoryFilingContainer .PdfIcon a[href*=".pdf"], 
.ModuleSECFilingDetails .PdfIcon a[href*=".pdf"] {
    background: url("../icons/pdf.png")/*tpa=http://www.alleghany.com/files/icons/pdf.png*/ no-repeat 0 0 transparent;
}
.RegulatoryFilingContainer .WordIcon a[href*=".rtf"], 
.ModuleSECFilingDetails .WordIcon a[href*=".rtf"] {
    background: url("../icons/doc.png")/*tpa=http://www.alleghany.com/files/icons/doc.png*/ no-repeat 0 0 transparent;
}
.RegulatoryFilingContainer .ExcelIcon a[href*=".xls"], 
.ModuleSECFilingDetails .ExcelIcon a[href*=".xls"] {
    background: url("../icons/xls.png")/*tpa=http://www.alleghany.com/files/icons/xls.png*/ no-repeat 0 0 transparent;
}
.RegulatoryFilingContainer .ZipIcon a[href*=".zip"], 
.ModuleSECFilingDetails .XBRLIcon a[href*=".zip"] {
    background: url("../icons/zip.png")/*tpa=http://www.alleghany.com/files/icons/zip.png*/ no-repeat 0 0 transparent;
}
.RegulatoryFilingContainer .HtmlIcon a[href*=".html"], 
.ModuleSECFilingDetails .XBRL_HTMLIcon a[href*=".html"] {
    background: url("../icons/xbrl.png")/*tpa=http://www.alleghany.com/files/icons/xbrl.png*/ no-repeat 0 0 transparent;
}
.RegulatoryFilingContainer .Icons img, 
.ModuleSECFilingDetails .Icons img {
    display: none;
}
.RegulatoryFilingContainer .ModuleItemRow {
    overflow: hidden;
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #dcdcdc;
}
.RegulatoryFilingContainer .YearNavContainer {
    display: none;
}
.SECContainer .Reported, 
.SECContainer .ItemReported {
    display: none;
}
.rssLinkSEC {
    float: right;  
}

/* ==================== Stock Information ==================== */
#chart input[type="text"] {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}
input.highcharts-range-selector {
    background: #fff;
}
.StockHistorical {
    overflow: hidden;
}
.StockHistorical .StockTable {
    overflow: hidden;
    border-top: 1px solid #dcdcdc;
    margin-top: 10px;
}
.StockTableItem {
    float: left;
    width: 25%;
    text-align: center;
}
.StockHistorical .StockTableItem {
    width: 20%;
}
.StockTableItem p {
    margin-bottom: 0;
}
.StockQuoteContainer .StockQuoteIndice, 
.StockQuoteContainer .StockLabel.PriceLabel, 
.StockTableItem .StockLabel.ChangeLabel:first-child, 
.ToolkitPage .StockQuoteContainer .StockQuoteLookup, 
.StockQuoteLookup h1 {
    display: none;
}
.StockQuoteContainer .StockTableItem {
    float: left;
    width: 25%;
}
.StockTableItem p {
    margin: 0;
    line-height: inherit;
    overflow: hidden;
}
.StockTableItem p:first-child {
    padding-top: 10px;
}
.StockTableItem p + p {
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 10px;
    letter-spacing: 1px;
}
.StockQuoteContainer .DollarSign {
    font-size: 32px;
    line-height: 36px;
    vertical-align: top;
}
.StockQuoteContainer .Price {
    font-size: 44px;
    line-height: 48px;
    display: inline-block;
}
.StockPriceUp {
    color: #449427;
}
.StockPriceDown {
    color: red;
}
.StockQuoteContainer .StockTableText {
    clear: both;
    padding-top: 5px;
}
.StockQuoteContainer .StockTableText span {
    display: inline-block;
}
.StockQuoteContainer .StockTablePrice {
    padding-bottom: 10px;
    border-bottom: 1px solid #dcdcdc;
}
.StockQuoteContainer .ChangeLabel .StockIndicator:after {
    content: "$";
}
.StockQuoteContainer .ChangeLabel:after {
    content: " /";
}

/* DownloadListWithTags */

.ModuleDownloadListWithTags .ModuleHeader, 
.ModuleDownloadListWithTags .ModuleFileSizeText, 
.ModuleDownloadListWithTags .ModuleIcon {
    display: none;
}
.ModuleDownloadListWithTags .ModuleYearNavContainer {
    border: 0 none;
    margin: 0;
    padding: 0;
}
.ModuleDownloadListWithTags .ModuleHeadlineLink[href*='.pdf'] {
    background: url('../icons/pdf.png')/*tpa=http://www.alleghany.com/files/icons/pdf.png*/ no-repeat 0 0 transparent;
    padding: 10px 0 10px 45px;
    display: inline-block;
    margin-bottom: 10px;
}
.ModuleDownloadListWithTags .ModuleItemRow {
    padding: 0;
}

/* ShareThis, Print */

.LayoutHomePage .ShareThis,
.SectionAlleghanyCapitalCorporation .ShareThis {
    display: none;
}
.ShareThis {
    float: right;
    margin-bottom: 10px !important;
    width: 60px;
}
.ShareThis .stBTN, .PrintPage {
    float: left;
}
.ShareThis .stButton {
    margin: 0 !important;
}
.ShareThis .stButton .sharethis {
    background: url("../icons/share.png")/*tpa=http://www.alleghany.com/files/icons/share.png*/ no-repeat;
    width: 28px;
    height: 27px;
    padding: 0;
    text-indent: -9999px;
}
.ShareThis .stButton .chicklets {
    line-height: 18px;
    color: #005588;
    font-weight: bold;
}
.PaneContent span span + span + span > div {
    clear: right;
}
.PrintPageLink img {
    display: none;
}
.PrintPageLink {
    background: url("../icons/print.png")/*tpa=http://www.alleghany.com/files/icons/print.png*/ no-repeat;
    width: 28px;
    height: 27px;
    display: inline-block;
    margin: 0 0 0 4px;
}


/* Request Info */

.CheckBoxesContact label {
    margin-right: 30px;
}
.CheckBoxesContact input[type="radio"] {
    margin-right: 5px;
}
.FormBuilterContainer {
    width: 80%;
}
.FormBuilderContainer .ItemClassRequestType .Label {
    display: none !important;
}
.FormBuilderContainer .ItemClass .Label {
    width: 40%;
    display: inline-block;
}
.FormBuilderContainer input[type="text"] {
    margin-bottom: 10px;
}
.FormBuilterContainer .Item .RedStar {
    margin-left: -7px;
}
.FormBuilterContainer .ItemRequestType {
    margin-bottom: 20px;
}
.FormBuilterContainer .ItemRequestType + h3 + span {
    display: block;
    margin-bottom: 20px;
}
.FormBuilterContainer .ItemClassComments textarea {
    resize: vertical;
    width: 100%;
    margin-bottom: 10px !important;
    min-height: 100px;
}
.InvestorForm {
    display: none;
}

/* ==================== Our History ==================== */
.history + .loading {
    text-align: center;
}
.history {
    position: relative;
    width: 100%;
    min-width: 620px;
}
.history .timelineContainer {
    margin:0;
    overflow-x: visible;
    position: relative;
    z-index: 2;
}
.history .timelineContainer .timeline {
    position: relative;
    min-height:30px;
}
.history .timelineContainer .timeline > div {
    position: absolute;
    display: inline-block;
    text-align:center;
    white-space:nowrap;
}
.history .timelineContainer .timeline > div:before {
   position:absolute;
   bottom:-5px;
   left:0;
   right:6px;
   height:9px;
   background-color:#b6b6b6;
   opacity: .8;
   filter: alpha(opacity=80);
   _filter: alpha(opacity=100);
   border-radius:0 4px 4px 0;
   content:"";
}

.history .timelineContainer .timeline > div.cycle-pager-active:before {
   background-color:#0070c0;
}
.history .timelineContainer .timeline .hasContent.cycle-pager-active:last-child:before {
   right: 0;
}
.history .timelineContainer .timeline > div h3 {
    color: #000000;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
}
.history .timelineContainer .timeline > div h3:hover {
    color: #b6b6b6;
}
.history .timelineContainer .timeline > div span {
    background-color: #ffffff;
    border: 2px solid;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    bottom: -5px;
    display: block;
    width: 9px;
    height: 9px;
    left: 0%;
    margin-left:-6px;
    position: absolute;  
}
.history .timelineContainer .timeline > div.hasContent h3 {
    cursor: pointer;
    text-align: center;
    padding-bottom: 10px;
    margin: 0;
    position: relative;
    opacity:0;
    filter: alpha(opacity=0);
    _filter: alpha(opacity=100);
    width:110%;
    margin-left:-5%;
}
.history .timelineContainer .timeline > div.hasContent.cycle-pager-active h3 {
    color: #000000;
    opacity:1;
    filter: alpha(opacity=100);
    _filter: alpha(opacity=100);
}
.history .timelineContainer .timeline > div.cycle-pager-active span {
    background-color: #000000;
}
.history .controls {
    font-size: 22px;
    position: absolute;
    bottom: -5px;
    z-index: 10;
    background: rgba(0,0,0,.5);
    border-radius: 8px;
}
.history .controls > * { display: none; }

.history .sliderControls .next, .history .controls .next {
    float: right;
}
.historyWrapper {
    width: 100%;
    position: relative;
    z-index: 998;
    overflow: hidden;
}
.historyContainer {
    margin-top: 20px;
    width: 100%;
}
.historyContainer .yearContainer {
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    width: 100%;
}
.historyContainer .yearContainer .historyItem:after {
    display: block;
    content: "";
    clear: both;
    visibility: hidden;
    height: 0;
}
.historyContainer .historyItem .image {
    max-width: 250px;
    float: left;
    margin: 0 30px 10px 0;
    text-align: center;
}
.historyContainer .historyItem .image span {
    display: block;
    text-align: center;
    font-style: italic;
    font-size: 12px;
}
.historyContainer .historyItem + .historyItem  .image {
    float: right;
    margin: 0 0 10px 10px;
}
.historyContainer .year2004 .historyItem:first-child + .historyItem .image {
    max-width: 100%;
    float: none;
    margin: 10px 0 0 0;
}
.history .sliderControls {
    left: -33px;
    margin: 0 auto;
    position: absolute;
    top: 200px;
    width: 825px;
}
.history .sliderControls a {
    font-size: 75px;
}
.history .sliderControls .deactivated {
    color: #c0ee9b;
}
.history .groupYears .hasContent {
    display: inline-block;
    width: 10.6%;
    text-align: center;
    background: url("../design/history-year-line2.png")/*tpa=http://www.alleghany.com/files/design/history-year-line2.png*/ no-repeat 75% 0px;
}
.history .groupYears .hasContent:first-child {
    background: none;
}
.history .groupYears .hasContent h3 {
    font-size: 12px;
    padding-top: 10px;
    background: url("../design/history-year-line.png")/*tpa=http://www.alleghany.com/files/design/history-year-line.png*/ no-repeat 20% 0px;
    text-align:left;
}
.history .groupYears {
    position: relative;
    border-top: 1px solid #b6b6b6;
    background: url("../design/history-year-line.png")/*tpa=http://www.alleghany.com/files/design/history-year-line.png*/ no-repeat 98% 0px;
}
.history .timelineContainerYear {
    position: relative;
    z-index: 1;
}
.history .timelineContainerYear:before {
    background: url("../design/history-year-bullet.png")/*tpa=http://www.alleghany.com/files/design/history-year-bullet.png*/;
    content: "";
    position: absolute;
    left: 0;
    top: -4px;
    width: 9px;
    height: 9px;
}
.history .timelineContainerYear:after {
    background: url("../design/history-year-bullet.png")/*tpa=http://www.alleghany.com/files/design/history-year-bullet.png*/;
    content: "";
    position: absolute;
    right: 0;
    top: -4px;
    width: 9px;
    height: 9px;
}
.history .groupYears .currentYear {
    position: absolute;
    top: 9px;
    right: 0;
    font-size: 12px;
}

/* ==================== Our Leadership ==================== */

.Committee .PersonDesc {
    display: none;
}
.Committee .PersonCommittee {
    background: url("../icons/black-arrow-down.png")/*tpa=http://www.alleghany.com/files/icons/black-arrow-down.png*/ 5px center no-repeat transparent;
    padding: 10px 0px 10px 25px !important;
    cursor: pointer;
}
.Committee .PersonCommittee.active {
    background: url("../icons/black-arrow-up.png")/*tpa=http://www.alleghany.com/files/icons/black-arrow-up.png*/ 5px center no-repeat transparent;
}
.Committee .open td {
    border-bottom: none;
}
.Committee .PersonDesc td {
    padding: 10px 25px 25px 25px;
}

/* ==================== Media Queries ==================== */
@media screen and (min-width:1025px) {
    body {
        right: 0 !important;
    }
    .ResponsiveNavTrigger, .PaneQ4Footer {
        display: none !important;
    }
    .FooterNav .level2 > li.has-children:first-child {
        width: 22% !important;
    }
    .FooterNav .level2 > li.has-children:first-child + li.has-children {
        width: 23%;
        margin-right: 20px;
    }
    .PaneContent {
        border-left: 1px solid #dcdcdc;
        padding: 0 20px 0 40px;
    }
    .Alleghany {
        margin-left: -45px;
    }
}
@media only screen and (max-width:1024px) {
    .PaneNavigation {
        display: none;
    }
    .PaneHeader, .ResponsiveNavTrigger {
        display: block !important;
    }
    .LayoutHomePage .LogoTM {
        display: none;
    }
    .PaneFooter2 {
        font-size: 14px;
    }
    .FooterContainer {
        color: #666666;
    }
    .FooterLinks li a:hover {
        color: #999999;
    }
    .FooterNav .level2 > li > a,
    .ContactUs .ContentContainer > div > span {
        font-size: 17px;
    }
    .FooterNav .level3 a, 
    .ContactUs {
        color: #999999;
        font-size: 17px;
    }
    .PaneContent {
        float: none;
        width: 100%;
        max-width: 100%;
    }
    .PaneLeft, .PaneRight {
        width: 50%;
        float: left;
        max-width: 50%;
    }
    .PaneLeft, .PaneRight {
        margin: 0;
        padding: 0 20px;
        border: none;
        width: 100%;
        max-width: 100%;
    }
    .PaneRight .MailingListSignupContainer {
        overflow: hidden;
        margin-bottom: 30px;
        float: left;
        width: 50%;
        padding-right: 20px;
     }
     .PaneRight .IRContact {
        width: 50%;
        float: left;
     }
     .PaneRight .IRContact h4 {
        font-size: 24px;
        line-height: 30px;
        padding-bottom: 20px;
        border-bottom: 1px solid #dcdcdc;
    }
    .PaneRight .IRContact h4 br {
        display: none;
    }
    .PaneRight .MailingListTable, 
    .PaneRight .MailingListListTable table tr {
        float: none !important;
        width: 100% !important;
    }
    .PaneRight .MailingListCol2, 
    .PaneRight .GridActions {
        display: block;
        width: 100% !important;
    }
    .PaneRight .MailingListCol2 {
        margin-bottom: 10px;
    }
    .shadow:after {
        left: 0;
        width: 100%;
        background-position-x: -50px;
    }
}
@media only screen and (min-width:769px) {
    .FooterNav .level2 > li.has-children:first-child {
        width: 21%;
    }
}
@media only screen and (max-width:768px) {
    .LayoutHomePage .PaneHeader2 {
        margin: 40px auto 0 auto !important;
    }
    .SectionAlleghanyCapitalCorporation .PaneHeader2 {
        margin: 0 !important;
    }
    .PaneHeader2 .Alleghany {
        display: none;
    }
    .Conservatism,
    .HomeLogo {
        display: block !important;
    }
    .PaneFooter {
        padding-bottom: 0;
    }
    .FooterNav .level2 > li.has-children {
        width: 50%;
    }
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        overflow-x: scroll;
    }
    .table-responsive .CustomTable {
        min-width: 620px;
        max-width: 100%;
    }
    .EventsPage .ModuleEvent .WebcastLink, 
    .EventsPage .ModuleEvent .RelatedDocuments {
        width: 42px !important;
    }
    .EventsPage .ModuleEvent a.ModuleHeadlineLink,
    .EventsPage .ModuleEvent .ModuleDateContainer {
        float: none !important;
        width: 100% !important;
     }
     .EventsPage .ModuleEvent .ModuleItemRow {
        border-bottom: 1px solid #dcdcdc;
     }
     .EventsPage .ModuleEvent .ModuleHeader {
        display: none;
     }
}
@media screen and (min-width:640px) {
    .FooterNav .level3, 
    .ContactUs .ContentContainer > div {
        display: block !important;
        min-height: 80px;
        padding-bottom: 30px;
    }
    .FooterNav .level4 {
        display: none !important;
    }
    .FooterNav a.nolink:hover {
        color: #cccccc !important;
    }
}
@media only screen and (max-width:640px) {
    .Footer {
        border: none;
    }
    .PaneFooter {
        padding: 0;
    }
    .FooterNav {
        border-bottom: 1px solid #333333;
        padding-bottom: 0 !important;
    }
    .FooterNav .level2 > li.has-children {
        width: 100%;
        padding: 0 !important;
    }
    .FooterNav .level3, 
    .ContactUs .ContentContainer > div, 
    .ContactUs .ContentContainer > div > span {
        display: none;
    }
    .ContactUs .ContentContainer > span.trigger {
        display: block !important;
    }
    .FooterNav .level3, 
    .ContactUs .ContentContainer > div {
        padding: 0 0 20px 35px;
    }
    .FooterNav .level2 > li.has-children > a, 
    .ContactUs .ContentContainer > span {
        display: block;
        color: #ffffff;
        padding: 20px 50px 20px 20px;
        border-top: 1px solid #333333;
    }
    .ContactUs .ContentContainer > div > span {
        color: #999999;
    }
    .FooterNav span.drop-icon, 
    .FooterNav .level2 li.has-children.active.expanded > a span.drop-icon,
    .ContactUs .ContentContainer > span.trigger span.drop-icon {
        background: url("../icons/white-arrow-down.png")/*tpa=http://www.alleghany.com/files/icons/white-arrow-down.png*/ center center no-repeat transparent;
        position: absolute;
        display: block;
        top: 15px;
        right: 20px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }
    .FooterNav span.drop-icon:hover, 
    .FooterNav .level2 li.has-children.active.expanded > a span.drop-icon:hover, 
    .FooterNav .level3 li a span.drop-icon:hover,
    .ContactUs .ContentContainer > span.trigger span.drop-icon:hover {
        background: url("../icons/white-arrow-down-hover.png")/*tpa=http://www.alleghany.com/files/icons/white-arrow-down-hover.png*/ center center no-repeat transparent;
    }
    .FooterNav .level2 li.has-children.active > a span.drop-icon:hover, 
    .FooterNav .level2 li.has-children.expanded > a span.drop-icon:hover, 
    .FooterNav .level3 li.has-children.expanded.active > a span.drop-icon:hover,
    .ContactUs .ContentContainer > span.trigger span.drop-icon.active:hover {
        background: url("../icons/white-arrow-up-hover.png")/*tpa=http://www.alleghany.com/files/icons/white-arrow-up-hover.png*/ center center no-repeat transparent;
    }
    .FooterNav .level2 > li.has-children.active > a span.drop-icon, 
    .FooterNav .level3 > li.has-children.active > a span.drop-icon,
    .ContactUs .ContentContainer > span.trigger span.drop-icon.active {
        background: url("../icons/white-arrow-up.png")/*tpa=http://www.alleghany.com/files/icons/white-arrow-up.png*/ center center no-repeat transparent;
    }
    .FooterNav .level3 > li > a span.drop-icon {
        top: 0px;
    }
    .FooterNav .level4 {
        padding: 10px 0 20px 25px;
    }
    .FooterNav .level3 a, 
    .ContactUs {
        padding: 0 10px 5px 0;
        display: block;
    }
    .Breadcrumb {
        font-size: 28px !important;
    }
    .tabLinks li {
        float: none !important;
        margin-bottom: 1px;
    }
    .tabLinks a {
        display: block;
        width: 100%;
    }
    .EmailAlertsPage .MailingListCol1, 
    .EmailAlertsPage .MailingListCol2 {
        display: block;
        width: initial !important;
    }
    .PaneContent .MailingListForm input[type="text"], 
    .PaneContent .MailingListUnsubscribeTable input[type="text"] {
        width: 95% !important;
    }
    .RegulatoryFilingContainer .ModuleHeader {
        display: none;
    }
    .RegulatoryFilingContainer .ModuleItemRow > * {
        display: block;
        width: auto !important;
        float: none !important;
        border: none !important;
    }
    #chart .highcharts-input-group {
        display: none;
    }
    .FinancialReportContainer.Annual .item {
        width: 47.3333% !important;
    }
    .col {
        width: 100% !important;
        float: none !important;
    }
    .col-left {
        padding: 0 !important;
    }
    .PaneLeft, .PaneRight {
        width: 100%;
        max-width: 100%;
        float: none;
        padding: 0 20px;
    }
    .PaneLeft .IRContact {
        margin-top: 0;
    }
    .AboutAlleghany .ContentContainer h4, 
    .AboutAlleghany .ContentContainer p {
        width: 100% !important;
        margin-bottom: 10px !important;
        padding: 0 !important;
    }
    .AboutAlleghany .ContentContainer h4 a {
        display: block;
        text-align: center;
    }

    .FormBuilterContainer {
        width: 100% !important;
    }
    .FormBuilterContainer .ItemClass .Label, 
    .FormBuilterContainer .ItemClass input[type="text"], 
    .FormBuilderContainer .FormDropdown {
        display: block;
        width: 100% !important;
    }
    .FormBuilterContainer .Item .RedStar {
        float: right;
    }
    .FormBuilterContainer .ErrorMessage {
        margin: -10px 0 10px 0 !important;
        display: block;
        color: red;
    }
    .PaneRight .MailingListSignupContainer,
    .PaneRight .IRContact {
        width: 100%;
        padding: 0;
    }
}
@media screen and (min-width:480px) {
    .StockQuoteContainer .StockTableText span + span {
        padding-left: 5px;
        margin-left: 5px;
        border-left: 1px solid #000000;
        line-height: 1em;
    }
}
@media only screen and (max-width:480px) {
    .Conservatism h1 {
        font-size: 40px;
        line-height: 40px;
    }
    .Conservatism p {
        font-size: 20px;
        line-height: 26px;
    }
    .StockQuoteContainer .StockTableText span + span {
        display: block;
    }
    .CaseStudies .head {
        text-align: center;
    }
    .CaseStudies .head img {
        margin: 0px !important;
    }
    .CaseStudies .head h2, .CaseStudies .head img {
        float: none !important;
        padding-top: 0px !important;
        margin-bottom: 0px !important;
    }
    .StockTableItem p span + span {
        text-align: right;
    }
    .StockTableItem {
        width: 100% !important;
    }
    .StockTableItem p {
        display: inline-block;
        padding: 10px 0 !important;
    }
    .StockTableItem p:first-child {
        float: left;
        width: 50%;
        text-align: left;
        border-bottom: 1px solid #dcdcdc;
    }
    .StockTableItem p + p {
        float: right;
        width: 50%;
        text-align: right;
    }
    .StockHistorical input[type="submit"] {
        margin-top: 3px;
    }
    .StockQuoteHeaderContainer {
        text-align: center;
    }
    .StockQuoteHeaderContainer .right, .StockQuoteHeaderContainer .StockDescription1 {
        float: none !important;
    }
    #FinancialWidget .tabItem {
        width: 50% !important;
        border-bottom: 1px solid #e0e0e0;
    }
    #FinancialWidget .tabItem.active {
        border-bottom: 1px solid #f2f2f2;
    }
    .MicroLogoTM {
        margin-top: 40px;
        text-align: center;
    }
    .ReminderTitle {
        width: 30.4%;
        display: inline-block;
    }
    .ReminderPeriod {
        width: 200px;
    }
    .ReminderEmailText {
        float: left;
        width: 30%;
        margin: 7px 4px -5px 0;
    }
    .ReminderEmailTextbox {
        width: 68%;
        margin: 5px 0 !important;
    }
    .ReminderButton {
        display: block;
    }
}
@media only screen and (max-width:320px) {
    .latestItems .SECContainer .filingTitle,
    .latestItems .SECContainer ul.Icons {
        float: none !important;
        width: 100%;
    }
    .latestItems .SECContainer .IconLink {
        margin: 0 5px 0 0 !important;
    }
    .CheckBoxesContact label {
        display: block;
    }
}