body {
    background: transparent !important;
}
.LayoutDefault {
    width: 670px;
    margin: 0 auto;
}
.PreviewToolBar, 
.ModuleSearch, 
.MainNav, 
.shadow, 
.SecNav,
.ACCNav,
.PaneQ4Footer,
.FooterNav,
.ACCFooterNav,
.ResponsiveNavTrigger {
    display: none !important;
}
.FooterContainer {
    background: transparent !important;
    color: #000000 !important;
}
a, a:hover, 
.FooterContainer input[type="submit"], 
.PaneFooter .button, 
.FooterContainer input[type="submit"]:hover, 
.PaneFooter .button:hover, 
.FooterNav a:hover, 
.ACCFooterNav a:hover {
    color: #000000 !important;
}
.PaneContent {
    width: 100% !important;
    float: none !important;
    max-width: 670px !important;
}
.PaneContentInner input[type="submit"]:hover, 
.button:hover {
    background: transparent !important;
}
.PaneContentInner input[type="submit"], 
.PaneFooter input[type="submit"], 
.button {
    padding: 13px 15px !important;
}
.PaneContentInner input[type="submit"]:hover, 
.button:hover {
    color: #000000 !important;
}
.PaneLeft {
    max-width: 100% !important;
    width: 100% !important;
    border-right: 0 none !important;
    padding: 0 20px !important;
}
.PageInvestorsNews .PaneLeft, 
.PaneRight {
    float: left !important;
    width: 50% !important;
    margin-right: 0;
    max-width: 320px !important;
}
.PaneRight .MailingListListTable table tr {
    width: 100% !important;
}
.PaneRight .MailingListForm input[type="text"] {
    background: transparent !important;
    margin-bottom: 10px;
    border: 2px solid #333333 !important;
}
.Leadership.tab1 .PersonContainer h3.active, 
.Leadership.tab3 .PersonContainer h3.active, 
.Team .PersonContainer h3.active, 
.FaqContainer h3.active {
    background-color: transparent !important;
    border-bottom: 0 none;
}
.Leadership.tab1 .PersonContainer h3, 
.Leadership.tab3 .PersonContainer h3, 
.Team .PersonContainer h3, .FaqContainer h3 {
    cursor: pointer;
    background-color: transparent !important;
}
.tabLinks a {
    border: 1px solid #dcdcdc;
    background: transparent !important;
}
.CustomTable th, 
.ModuleHeader {
    background: transparent !important;
}
.CustomTable thead {
    border-bottom: 1px solid #dcdcdc;
}
#FinancialWidget .tabItem {
    background: transparent !important;
    border-top: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
}
#FinancialWidget .tabItem:first-child {
    border-left: 1px solid #dcdcdc;
}
#FinancialWidget .quartersTab {
    background: transparent !important;
    border-bottom: 1px solid #dcdcdc;
}
#FinancialWidget .YearContianer h3 {
    background-color: transparent !important;
}
.StockHistoricalSelection input[type="submit"] {
    padding: 2px 20px 3px 20px !important;
}
.PostClosing ul {
    opacity: 1 !important;
}
.ShareThis {
    display: none;
}
.PaneFooter {
    padding: 0 !important;
}
.SectionAlleghanyCapitalCorporation .Footer, 
.Sectionalleghany-capital-corporation .Footer, 
.Sectionabout-acc .Footer, 
.Sectionour-companies .Footer {
        border: 0 none !important;
}