/*********************************************
* DESCRIPTION
* Cascadin style sheet classes for authoring mode
* UPDATE HISTORY
* 1.4 Rene Guzman,   09/10/2008, Added styles to aid the NewsList component.
                     Added enhancements for page wide flash in the homepage template.
* 1.5 Rene Guzman,   10/19/2009, Changed styles for new WWW redesign layout.
**********************************************/

/* 1.5 */
/*body { margin: 0; padding: 40px 0px 0px 0px; color: #555; background-color: #fff; font-size: 13px; line-height: 15px; font-family: Arial, Helvetica, Verdana, sans-serif; }*/
/*table { margin: 0; padding: 0px 0px 0px 0px; color: #555; background-color: #fff; font-size: 13px; line-height: 15px; font-family: Arial, Helvetica, Verdana, sans-serif; }*/
/* added 01/31/2007 for new Country template and Redirect component */
/*.reDirect {font-face: "Verdana"; font-size: 15px; font-family: Arial, Helvetica, Verdana, sans-serif; font-style: normal; font-weight: bold; color: #000000;text-align: center;}*/

body {
    background: url(../images/bg.png)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/bg.png*/ repeat-x #ddd;
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #555;
    padding: 0px 0px 20px 0px;
    margin: 0px;
}


.stkNote{
    font-size: 12px;
    font-style: italic;
}


.reDirect {
    font-size: 13px;
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #000000;
    text-align: center;
}
/* 1.5 */

/* a { text-decoration: none; color: #0073d2; }

a:hover { color: #faa519; }

*/


/* 1.5 */
/*
 ul { list-style: none; }
li { line-height: 12px; }
*/


/* 1.5 */
/*
    p { padding: 0; margin: 0 0 8px 0; }
*/

/* 1.5 */
/*img, a img { border: none; }*/
/*#wrapper { width: 1003px; }*/
/* header styles */
/*#header { width: 1003px; height: 94px; position: relative; }*/
/*img, a img {
    border: none;
    border-width: 0px;
}*/
a img {
    border: none;
    border-width: 0px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

#wrapper {
    width: 976px;
    margin: 0 auto;
    position:relative;
}
#header {
    width: 974px;
    height: 148px;
    margin: 0 auto;
}
/* 1.5 */

#logo { position: absolute; top: 30px; left: 24px; z-index: 5; }

/* 1.5 */
/*#utilNav { font-size: 13px; line-height: 12px; font-weight: bold; margin: 0; padding: 0; position: absolute; top: 16px; right: 274px; }*/
#utilNav {
    font-size: 11px;
    line-height: 12px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 16px;
    right: 274px;
}
/* 1.5 */

#utilNav a { color: #555; }
#utilNav a:hover { color: #faa519; }
/* added 01/04/2007 to highlight header navigational item if on current page */
/* replaces this = .home #navHome, .about #navAbout, .products #navProducts, .technology #navTech, .news #navNews, .careers #navCareers, .investors #navInvestors, .contact #navContact { color: #faa519; } */
#utilNav a.current { color: #faa519; }

/* 1.5 */
/*#mainNav { font-size: 14px; line-height: 13px; font-weight: bold; margin: 0; padding: 0; color: #0073d2; position: absolute; top: 58px; right: 274px; }*/
mainNav {
    font-size: 12px;
    line-height: 13px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: #0073d2;
    position: absolute;
    top: 58px;
    right: 274px;
}
/* 1.5 */

#mainNav a { color: #0073d2; }
#mainNav a:hover { color: #faa519; }
#mainNav a.current { color: #faa519; }

#topForm { position: absolute; top: 0; right: 0; background-color: #ccc; margin: 0; padding: 0; width: 254px; height: 37px; }
#topForm form { margin: 0; padding: 0; display: inline; }
/*#topForm #searchText { width: 124px; height: 22px; margin: 0; padding: 0; border: 0; color: #555; position: absolute; top: 8px; left: 13px; font-size: 15px; line-height: 14px; }*/

/* 1.5 */
/*#topForm #searchText { font-size: 13px;font-family: Arial, Helvetica, sans-serif;margin: 0px; width: 121px; height: 19px; border-right: 0; padding: 3px 0px 0px 3px;position: absolute; top: 8px; left: 13px;line-height: 14px;border: 0;text-align: left;}*/
#topForm #searchText {
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    width: 121px;
    height: 19px;
    border-right: 0;
    padding: 3px 0px 0px 3px;
    position: absolute;
    top: 8px; left: 13px;
    line-height: 14px;
    border: 0;
    text-align: left;
}
/* 1.5 */

#topForm #searchButton { width: 22px; height: 22px; margin: 0; padding: 0; border: 0; position: absolute; top: 8px; left: 137px; }
#loginLink { position: absolute; top: 8px; left: 173px; margin: 0; padding: 0; background-color: #5fc12f; }
/* 1.5 */
/*#loginLink a { display: block; width: 56px; height: 18px; padding: 4px 0 0 13px; margin: 0; background-color: #5fc12f !important; color: #fff !important; font-weight: bold; background: url(/author/images/bul_white.gif) 58px 7px no-repeat; font-size: 14px; line-height: 13px; }*/
#loginLink a {
    display: block;
    width: 56px;
    height: 18px;
    padding: 4px 0 0 13px;
    margin: 0;
    background-color: #5fc12f !important;
    color: #fff !important;
    font-weight: bold;
    background: url(../../../../author/images/bul_white.gif)/*tpa=http://www.johnsoncontrols.com/author/images/bul_white.gif*/ 58px 7px no-repeat;
    font-size: 12px;
    line-height: 13px;
}
/* 1.5 */

#loginLink a:hover { background-color: #faa519 !important; }
#regionSelect { position: absolute; top: 37px; right: 0; background: url(../../../../author/images/bkgd_regionselect.gif)/*tpa=http://www.johnsoncontrols.com/author/images/bkgd_regionselect.gif*/ 0 0 no-repeat; margin: 0; padding: 0; width: 254px; height: 57px; }
#regionSelectMenu { font-size: 12px; position: absolute; top: 19px; left: 13px; }
input#regionSubmit { position: absolute; top: 19px; right: 40px; width: 40px; font-size: 12px; }
.req { color: #faa519 !important; font-weight: bold; }

/* header selected state styles -- add class to body tag to activate */
.home #navHome, .about #navAbout, .products #navProducts, .technology #navTech, .news #navNews, .careers #navCareers, .investors #navInvestors, .contact #navContact { color: #faa519; }

/* added 12/07/06 to combine all ids in navigational items into one */
#navItems { color: #faa519; }

/* 1.5 */
/* main content container styles */
/*#main { width: 1003px; background: url(/author/images/bkgd_main.gif) 0 0 repeat-y; float: left; padding: 0 0 15px 0; }*/
#main {
    width: 946px;
    float: left;
    margin: 0 auto;
    padding: 14px 14px 14px 14px;
    background-color:#FFFFFF;
    border:1px solid #CCCCCC;
}
/* 1.5 */

#main-nobg { width: 1003px; float: left; padding: 0 0 15px 0; } /*20071022*/
#mainNoSidebar { width: 1003px; background: url(../../../../author/images/bkgd_nosidebar.gif)/*tpa=http://www.johnsoncontrols.com/author/images/bkgd_nosidebar.gif*/ 0 0 repeat-y; float: left; padding: 0 0 15px 0; }
#mainNoSectnav { width: 1003px; background: url(../../../../author/images/bkgd_nosectnav.gif)/*tpa=http://www.johnsoncontrols.com/author/images/bkgd_nosectnav.gif*/ 0 0 repeat-y; float: left; padding: 0 0 15px 0; }
#mainNoBackground { width: 979px; background-color: #fff; float: left; padding: 0 0 15px 24px; }

/* 1.5 */
/* section navigation styles */
/*#sectNav {width: 200px;margin: 0 21px 0 0;padding: 0;float: left;display: inline;background-color: transparent;min-height: 600px;height: 600px;}
#sectNav img {border: 0;margin: 0;padding: 0;}
#sectNav h3 {font-size: 14px;line-height: 12px;background-color: #0073d2;color: #fff;margin: 0 !important; padding: 4px 15px 4px 19px; border-bottom: 4px solid #fff;}
#sectNav ul, #sectNav li {margin: 0;padding: 0; font-size: 13px;line-height: 12px;font-weight: bold; }*/
#sectNav {
    width: 226px;
    float: left;
    margin: 0;
}
#sectNav h3 {
    font-size: 12px;
    line-height: 12px;
    background-color: #0073d2;
    color: #fff;
    margin: 0 !important;
    padding: 4px 15px 4px 19px;
    border-bottom: 4px solid #fff;
     }
#sectNav ul, #sectNav li {
    margin: 0;
    padding: 0;
    font-size: 11px;
    line-height: 12px;
    font-weight: bold;
     }
/* 1.5 */

#sectNav li a {
    display: block;
    padding: 5px 10px 4px 19px;
    color:#555;
    text-decoration:none;
    width:171px !important;
    background: url(../../../../author/images/bul_orange.gif)/*tpa=http://www.johnsoncontrols.com/author/images/bul_orange.gif*/ 7px 7px no-repeat;
     }
#sectNav li ul li a {
    display: block;
    padding: 5px 10px 4px 31px;
    color:#555;
    text-decoration:none;
    width:159px !important;
    background: none !important;
     }
#sectNav li a:hover, #sectNav li ul li a:hover, li.curSec.selected ul  li a:hover, li.selected li a:hover {
    background-color: #0073D2 !important;
    color: #fff !important;
     }
li.curSec {
    background-color: #a2e8ff ;
     }
li.curSec a {
    background: url(../../../../author/images/nav_arrowdown.gif)/*tpa=http://www.johnsoncontrols.com/author/images/nav_arrowdown.gif*/ 5px 9px no-repeat ! important;
     }
#sectNav li.selected, #sectNav li ul li.selected, #sectNav  li.selected a:hover {
    background-color: #00c8ff;
     }
li.selected a {
    color: #fff !important;
     }
li.selected li, li.selected li a {
    background-color: #a2e8ff !important;
    color: #555 !important;
     }
#sectNav hr {
    color: #5fc12f;
    background-color: #5fc12f;
    text-align: center;
    width: 162px;
    height: 1px;
    border: none;
     }

/* 1.5 */
/*#sectNav p {font-size: 13px;line-height: 14px; padding: 0;margin: 0 15px 12px 20px; }*/
#sectNav p {
    font-size: 11px;
    line-height: 14px;
    padding: 0;
    margin: 0 15px 12px 20px;
}
/* 1.5 */

#sectNav img.feature {
    margin: 15px 0 5px 20px;
     }


/*landing page no option styles*/
/* 1.4 begin */

#landingNoOptions { width: 993px; margin: 0; padding: 0 5px 0 5px; float: left; display: inline; }

blockquote {
        margin: 0 0 0 10px;
        padding: 0px;
       }

/* 1.5 */
/*title band styles */
/*#titleBand { width: 507px; border-top: 1px solid #555; border-bottom: 1px solid #555; margin: 0 0 10px 0 !important; padding: 0; }*/
/*#titleBand h1 { font-size: 24px; line-height: 22px; margin: 0 0 5px 0; padding: 0; color: #0073d2; }*/
#titleBand {
    width: 466px;
    margin: 0 0 10px 0 !important;
    padding: 0;
}
#titleBand h1 {
    font-size: 22px;
    line-height: 22px;
    margin: 0 0 5px 0;
    padding: 0;
    color: #0073d2;
}
/* 1.5 */

#mainNoSidebar #titleBand { width: 782px; }
#mainNoSectnav #titleBand { width: 707px; }
#mainNoBackground #titleBand { width: 979px; }

/* 1.5 */
/*#titleBand p { font-size: 12px; line-height: 11px; margin: 9px 0 10px 0; }*/
#titleBand p {
    font-size: 10px;
    line-height: 11px;
    margin: 9px 0 10px 0;
}
/* 1.5 */

#titleBand p a { color: #555; }
#titleBand p a:hover { color: #faa519; }

/* 1.5 */
/*content area styles*/
/*#content { width: 507px; margin: 0 21px 0 0; padding: 0; float: left; display: inline; }*/


#content {
    float: left;
}

/* 1.5 */
#content_center,
#content_right,
#content_wide,
#content_full {
    line-height: 20px;
}

#content_frontpage{
background-color:#FFFFFF;
border:1px solid #CCCCCC;
margin:0 auto;
padding:9px 0 2px;
width:974px;
}


.link_url {
    white-space: nowrap;
}
.col_left_no_margin {
    width: 100%;
}

.cbxlabel {
    font-size: 14px;
    width: 224px;
    color: #555;
    padding: 1px 0px;
    text-align: left;
}
#content .topbg {
    float: left;
}
#content_full {
    padding: 5px 0 1px 0;
}
.content_fh_top{
    width:976px;
    height:7px;
    margin:0;
    padding:0;
    line-height:7px;
    font-size:7px;
    float:left;
    background: url(Unknown_83_filename)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/content_fh_top.gif*/ no-repeat;
}
.content_fh_body{
    width:976px;
    margin:0;
    padding:7px 0 7px 0;
    float:left;
    background: url(Unknown_83_filename)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/content_fh_body.gif*/;
}
.content_fh_bottom{
    width:976px;
    height:7px;
    margin:0;
    padding:0;
    float:left;
    background: url(Unknown_83_filename)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/content_fh_bottom.gif*/ no-repeat;
}
#content_fh {
    border: 1px solid #cccccc;
    background-color: #fff;
    width: 974px;
    margin: 0 auto;
    padding: 14px 0 14px 0;
    float:left;
}
.box_blue_legacy_bottom {
    margin-top: -3px;
}
#content_right ul {
    margin-bottom: 0px;
}
#content_right_rsb {
    float:left;
    margin-bottom: 14px;
    width:100%;
}
.txt_image_left {
    float: left;
    margin: 0 14px 10px 0;
    width: auto;
}
.txt_image_right {
    float: right;
    margin: 0px 0px 10px 14px;
    width: auto;
}
.txt_image_right h3 {
    margin-bottom: -8px;
    line-height: 20px;
}
.composite_text{
    line-height:20px;
    margin-bottom:14px;
}
.composite_text p{
    margin-bottom:0px;
}
/*
#content_right_rsb ul li:before {
    content: "\25B8";
}*/
/* 1.5 */

/* 1.4 begin */
#contentWide { width: 734px; margin: 0; padding: 0 0 0 15px; float: left; display: inline; }
#contentWide h2 { font-size: 17px; line-height: 17px; color: #5fc12f; margin: 5px 0 19px 0; padding: 0; }
#contentWide h3 { background-color:#FAA519;border-bottom:4px solid #FFFFFF;border-top:3px solid #FFFFFF;color:#FFFFFF;font-size:12px;line-height:12px; height:12px; margin:0;padding:3px 15px 5px 13px;width:321px; }
#contentWide h4 { margin: 5px 0 2px 0; padding: 0; color: #faa519; font-size: 13px; line-height: 15px; }
#contentWide h5 { margin: 5px 0 2px 0; padding: 0; color: #555555; font-size: 13px; line-height: 15px; }
.tableWide {background-color:#FAA519; color:#FFFFFF; line-height:12px; width:100%; height:12px; border-spacing:0; padding:0; margin:0;border:0;}
.trWide {height:12px; padding:0; margin:0; font-size:12px;border:0;}
.tdlWide {text-align:left; height:12px; padding:0; margin:0;border:0;}
.tdrWide {text-align:right;height:12px; padding:0; margin:0;border:0;}
/* 1.4 end*/

#mainNoSidebar #content { width: 782px; margin: 0; padding: 0 0 25px 0; }
#mainNoSectnav #content { width: 707px; margin: 0; padding: 0 21px 25px 21px; }
#mainNoBackground #content { width: 979px; margin: 0; padding: 0 0 25px 0; }

/* 1.5 */
/*#content h2 { font-size: 15px; line-height: 17px; color: #5fc12f; margin: 5px 0 19px 0; padding: 0; }*/
/* 1.5 */

/* original, not working in IE - the orange bar background did not go as wide as the image width */
/* #content .left h3, #content .right h3 { width: 218px; background-color: #faa519; color: #fff; font-size: 12px; line-height: 13px; padding: 4px 15px 3px 10px; border-bottom: 4px solid #fff; margin: 0; } */

/* 1.5*/
/*
#content h3 {
/*    width: 218px;
    *width: 218px;
for stockquote*/
    background-color: #faa519;
    color: #fff;
    font-size: 12px;
    line-height: 13px;
    padding: 4px 15px 3px 10px;
    border-bottom: 4px solid #fff;
    margin: 0;
    }
*/
/* 1.5 */

#content h4 { margin: 5px 0 2px 0; padding: 0; color: #faa519; font-size: 13px; line-height: 15px; }

/* 1.5 */
/*
#content ul { margin: 0 0 12px 0; padding: 0; }
#content li { padding: 0 0 0 10px; margin: 4px 0 0px 0; background: url(/author/images/bul_blue.gif) 0px 3px no-repeat; }
*/
/* 1.5 */


/* added 12/08/2006 to allow plain text subheadings/captions/descriptions under the arrowed list item in white body space */
#content li.subCaption { padding: 0 0 0 10px; margin: 0 0 0px 0; background: url(../../../../author/images/bul_white.gif)/*tpa=http://www.johnsoncontrols.com/author/images/bul_white.gif*/ 0px 3px no-repeat; }
.left { width: 243px; margin: 0 21px 0 0; padding: 0; float: left; display: inline; }
/*.right { width: 243px; margin: 0; padding: 0; float: right; display: inline; } */
.left img, .right img { margin-bottom: 11px; }
#content hr { display: block; color: #555; background-color: #555; text-align: center; width: 99%; height: 1px; border: none; margin: 5px 0 15px 0; }
.lastRow { border-bottom: none !important; }

/* 1.5 */
/* sidebar styles */
/*#sidebar { width: 254px; float: right; background-color: #e0f7ff; }*/
/*#sidebar h3 { font-size: 12px; line-height: 12px; width: 226px; background-color: #0073d2; color: #fff; margin: 0; padding: 4px 15px 4px 13px; border-bottom: 4px solid #fff; border-top: 4px solid #fff; }*/
/*#sidebar h4 { margin: 0; padding: 0; font-size: 13px; }*/
#sidebar {
/*    width: 226px;
    float: left; */
    margin-left: 14px;
}
#sidebar h3 {
    font-size: 12px;
    line-height: 12px;
    background-color: #0073d2;
    color: #fff;
    margin: 0;
    padding: 4px 15px 4px 13px;
    border-bottom: 4px solid #fff;
    border-top: 4px solid #fff;
}
#sidebar h4 {
margin: 0;
    padding: 0;
    font-size: 11px;
}
/* 1.5 */


.sidebarItem { margin: 0; padding: 8px 4px 6px 13px; }
#sidebar ul { margin: 0; padding: 0; }
#sidebar li { padding: 0 10px 0 12px; margin: 0 0 8px 0; background: url(../../../../author/images/bul_blue.gif)/*tpa=http://www.johnsoncontrols.com/author/images/bul_blue.gif*/ 3px 3px no-repeat; }
 dl { margin: 0; padding: 0; line-height: 12px; }
 dt { margin: 0; padding: 0 10px 0 0; font-weight: bold; }
 dd { margin: 2px 0 8px 0; padding: 0 10px 0 12px; background: url(../../../../author/images/bul_blue.gif)/*tpa=http://www.johnsoncontrols.com/author/images/bul_blue.gif*/ 3px 3px no-repeat; }
 .caption { clear:both; font-size: 10px; line-height: 14px; font-style: italic; padding: 0; margin: 6px 20px 20px 0; }

/*20071030 - sidebar-nobg styles */
#sidebar-nobg { width: 254px; float: right; }
#sidebar-nobg h3 { font-size: 14px; line-height: 12px; width: 226px; background-color: #0073d2; color: #fff; margin: 0; padding: 4px 15px 4px 13px; border-bottom: 4px solid #fff; border-top: 4px solid #fff; }
#sidebar-nobg h4 { margin: 0; padding: 0; font-size: 13px; }
#sidebar-nobg ul { margin: 0; padding: 0; }
#sidebar-nobg li { padding: 0 10px 0 12px; margin: 0 0 8px 0; background: url(../../../../author/images/bul_blue.gif)/*tpa=http://www.johnsoncontrols.com/author/images/bul_blue.gif*/ 3px 3px no-repeat; }
#sidebar-nobg dl { margin: 0; padding: 0; line-height: 12px; }
#sidebar-nobg dt { margin: 0; padding: 0 10px 0 0; font-weight: bold; }
#sidebar-nobg dd { margin: 2px 0 8px 0; padding: 0 10px 0 12px; background: url(../../../../author/images/bul_blue.gif)/*tpa=http://www.johnsoncontrols.com/author/images/bul_blue.gif*/ 3px 3px no-repeat; }
#sidebar-nobg .caption { clear:both; font-size: 10px; line-height: 14px; font-style: italic; padding: 0; margin: 6px 20px 20px 0; }

/* 20071030 begins - Flash sidebar media */
.sbMedia {
    padding-top: 8px;
    padding-right: 14px;
    padding-bottom: 8px;
    padding-left: 14px;
}
.sbMediaHeader {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #FFFFFF;
    font-weight: 100;
    letter-spacing: 1px;
    line-height: 14px;
}
.sbMediaCaption {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #666666;
    line-height: 12px;
}

.sbMediaCaption a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-decoration: underline;
    color: #FFFFFF;
    line-height: 12px;
}

.sbMediaCaption a:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-decoration: underline;
    line-height: 12px;
}

.thinline {
    border-top-style: solid;
    border-top-color: #FFFFFF;
    border-top-width: 3px;
}
.invisibleseparator {
    border-top-style: solid;
    border-top-color: #FFFFFF;
    border-top-width: 0px;
    clear: both;
}
/* 20071030 ends - Flash sidebar media */

/* 1.5 */
/*footer styles */
/*#footer { width: 988px; margin: 0; padding: 25px 0 0 15px; clear: both; display: block; }*/
/*#footer p { font-size: 10px; line-height: 11px; margin: 15px 0 10px 0; }*/
/*#footer p a { color: #555; }*/
/*#footer p a:hover { color: #faa519; }*/
.footer {
    width: 974px;
    margin: 0 auto;
    padding: 14px 0 0 0;
    clear: both;
    display: block;
}
.footer p {
    font-size: 10px;
    line-height: 11px;
    margin: 0 0 10px 0;
    text-transform:uppercase;
    text-align: center;
    color: #999999;
    padding: 0 0 0 28px;
}
.footer p a {
    color: #999999;
    padding: 0 8px 0 8px;
}
.footer p a:hover,
.footer p a:active {
    color: #00c8ff;
}


/* landing page styles */
.landingColOne, .landingColTwo { width: 233px; margin: 0 0 0 0; padding: 0; }
.landingColThree { width: 233px; margin: 0; padding: 0; }
.landingColOne, .landingColTwo, .landingColThree {display: inline; }
/* original - not working in IE - the > arrow was not displaying, width not wide enough */
/* h2.landingHead { width: 215px; background-color: #0073d2; color: #fff; font-size: 13px; line-height: 14px; padding: 4px 6px 4px 12px !important; margin: 0 0 4px 0 !important; background: #0073d2 url(../images/bul_white.gif) 220px 9px no-repeat; } */
h2.landingHead { width: 215px; *width: 215px; background-color: #0073d2; color: #fff; font-size: 13px; line-height: 14px; padding: 4px 6px 4px 12px !important; margin: 0 0 0 0 !important; background: #0073d2 url(../../../../author/images/bul_white.gif)/*tpa=http://www.johnsoncontrols.com/author/images/bul_white.gif*/ 220px 9px no-repeat; }
h2.landingHead a { color: #fff; }
h2.landingHead a:hover { color: #faa519; }
h2.colIntro { height: 65px; padding-right: 10px !important; }
.landingColOne h4 a, .landingColTwo h4 a, .landingColThree h4 a { font-weight: normal !important; }

.landingColOne-noWidth, .landingColTwo-noWidth { width: auto; margin: 0 0 0 0; padding: 0; }
.landingColOne-noWidth {display: inline; }
h2.landingHead-noWidth { width: auto; *width: auto; background-color: #0073d2; color: #fff; font-size: 13px; line-height: 14px; padding: 4px 6px 4px 12px !important; margin: 0 0 0 0 !important; background: #0073d2 url(../../../../author/images/bul_white.gif)/*tpa=http://www.johnsoncontrols.com/author/images/bul_white.gif*/ 95% 9px no-repeat; }
h2.landingHead-noWidth a { color: #fff; }
h2.landingHead-noWidth a:hover { color: #faa519; }
.landingColOne-noWidth h4 a { font-weight: normal !important; }

/* search results styles */
.searchIntro { font-size: 12px; margin: 10px 10px 0 0; padding: 0; }
.searchPaging { font-size: 12px; margin: 0; padding: 0; font-weight: bold; text-align: right; }
.searchPaging, .searchPaging td { border: 0 !important; text-align: right !important; }
.searchPaging td { padding: 15px 15px 30px 0 !important; }
.searchCurrent { color: #faa519; }
.searchResults { width: 782px; text-align: left; vertical-align: top; margin: 0 0 15px 0; padding: 0; }
.searchResults, .searchResults tr, .searchResults td { border-collapse: collapse; }
.searchResults td, .searchResults th { border-bottom: 1px solid #555; }
.searchResults th { color: #5fc12f; font-size: 12px; padding: 0 0 6px 0; }
.searchResults td { padding: 6px 0 6px 0; margin: 0; text-align: left; vertical-align: top; }
td.result { padding: 6px 25px 6px 13px; font-size: 11px; line-height: 15px; width: 274px; }
td.result a { font-weight: bold; }
td.location { font-size: 10px; padding: 6px 25px 6px 0; width: 209px; }
td.type, td.size, td.date { font-size: 11px; }
td.type { width: 90px; text-align: left; }
td.size { width: 67px; }
td.date { width: 79px; }
td.type img { display: inline; margin: 0 4px 0 0; padding: 0; vertical-align: text-top; }

/* officers page styles */
.peopleColOne { width: 310px; float: left; padding: 0px 50px 10px 0px; display: inline; }
.peopleColSpacing { width: 20px;}
.peopleColTwo { width: 310px; float: left; display: inline; }
.peopleColThree { width: 254px; float: left; display: inline; }
.peopleColOne, .peopleColTwo, .peopleColThree { margin-top: 15px; }
.person { display: block; clear: both; margin: 0;
    height: 100px; /*20071018*/}
.person img { display: inline; float: left; margin: 0 12px 20px 0; }
.person h4, .person p { line-height: 14px !important; margin: 0 !important; padding: 0 !important; }
.person h4 a { color: #faa519; }
.person h4 a:hover { color: #0073d2 !important; }
img.bioBullet { margin: 3px 0 0 0 !important; padding: 0 !important; vertical-align: middle; }

/* bio detail page styles */
.bioBlock { width: 500px; height: 135px; display: block; }
.bioBlock img { display: inline; float: left; margin: 0 20px 0 0; }
.bioBlock .biopicInfo { display: inline; }
.bioBlock .biopicInfo h4 { margin-top: 0 !important; }

/* contact form styles */
#errmsg { display:none; font-family: Arial, Helvetica, Verdana, sans-serif; font-size:12px; font-weight:bold; color:#ff0000; margin:10px 0 10px 0; }
#contactForm table { width: 507px; }
#contactForm table, #contactForm table tr, #contactForm table td { border-collapse: collapse; }
#contactForm table th { text-align: left; color: #faa519; }
.leftContact { width: 232px; }
.rightContact { width: 275px; }
td.alignRight { text-align: right; padding-bottom: 7px; }
td.alignRight input { width: 165px; margin: 0 0 0 10px; }
td.alignRight select { width: 170px; margin: 0 0 0 10px; }
#cuRecipient, #cuCountry { font-size: 9px; }
#cuRecipient { margin-bottom: 10px; }
#cuSendInfo { vertical-align: top; }
#cuComments { width: 275px; }
#contactForm h4 { margin-top: 15px; }

/* investor overview page styles */
.invLeft { width: 326px; margin: 0 12px 0 0; padding: 0; float: left; display: inline; }
#invRight {  background-color: #dff4d0; margin-top: 4px; padding-bottom: 10px; }
.invLeft table { width: 100%; border-collapse: collapse; margin: 5px 0 20px 0; }
.invLeft table th, .invLeft table td { text-align: left; padding: 3px 5px 3px 0; margin: 0; border-bottom: 1px solid #555; border-collapse: collapse; vertical-align: top; }
.invLeft th { color: #faa519; }
.invLeft table td img { display: inline; margin: 0 4px 0 0; padding: 0; vertical-align: text-top; }
#invRight h3 { line-height: 12px; color: #fff; border-bottom: 4px solid #fff; font-size: 11px; padding: 5px 0px 5px 9px;  background-color: #5fc12f;  }
#invRight p { padding: 0 9px 3px 9px; margin: 0; }
.stockData { font-size: 15px !important; font-weight: bold; }
.stockNote { padding: 12px 9px 3px 9px !important; margin: 0 0 20px 0 !important; }
.stockLink img, .viewArchive img { margin: 3px 0 0 0 !important; padding: 0 !important; vertical-align: middle; }

/* profile page styles */
.profileAddress, .profileLeft { width: 180px; }
.profileRight { width: 327px; border-top: 1px solid #555;}
.profileLeft {border-top: 1px solid #555;}
table.profileExecs a, table.profileInfo a { font-weight: bold; }
table.profileInfo, .profileInfo tr, .profileInfo td, table.profileExecs, .profileExecs tr, .profileExecs td { border-collapse: collapse; }
.profileInfo {  }
.profileInfo td {  padding: 6px 0 6px 0; margin: 0; text-align: left; vertical-align: top; }
.profileLink { font-weight: normal !important; }
.infoHead { color: #faa519; font-weight: bold; }
.infoRow {}

/* history page styles */
.histTable, .histTable tr, .histTable td { border-collapse: collapse; }
.histTable td, .histTable th { padding: 6px 0 6px 0; margin: 0; border-bottom: 1px solid #555; text-align: left; vertical-align: top; }
.histTable th { font-weight: bold; color: #faa519; }
.histDate { width: 15%; font-weight: bold; color: #5fc12f; }
.histEvent { width: 50%; padding-right: 41px !important; font-weight: bold; }
.histLink { width: 30%; }
.histLink h4 { margin: 0 0 5px 0 !important; }
td.histLink img { display: inline; margin: 0 4px 0 0; padding: 0; vertical-align: text-top; }
img.histImg { margin-top: 2px !important; }

/* site map page styles */
.mapColOne, .mapColTwo { width: 238px; margin: 0 4px 0 0; padding: 0; }
.mapColThree { width: 237px; margin: 0; padding: 0; }
.mapColFour { width: 254px; margin: 0; padding: 0; }
.mapColOne, .mapColTwo, .mapColThree { float: left; display: inline; }
.mapColFour { float: right; display: inline; }
.mapColOne h2, .mapColTwo h2 { font-size: 13px; line-height: 14px; padding: 4px 0 4px 0 !important; margin: 0 0 3px 0 !important; }
.mapColThree h2 { font-size: 13px; line-height: 14px; padding: 4px 0 4px 0 !important; margin: 0 0 3px 0 !important; }
.mapColFour h2 { font-size: 13px; line-height: 14px; padding: 4px 0 4px 0 !important; margin: 0 0 3px 0 !important; }
.mapColOne h2 a:hover, .mapColTwo h2 a:hover, .mapColThree h2 a:hover, .mapColFour h2 a:hover { color: #faa519; }
.mapColOne ul, .mapColTwo ul, .mapColThree ul, .mapColFour ul { list-style-type: none; margin: 0 0 0 12px !important; padding: 0 !important; }
.mapColOne li, .mapColTwo li, .mapColThree li, .mapColFour li { background: none !important; margin: 0 !important; padding: 0 !important; font-size: 11px; line-height: 17px; }
.mapColOne ul li ul, .mapColTwo ul li ul, .mapColThree ul li ul, .mapColFour ul li ul { list-style-type: none; margin: 0 0 0 21px !important; padding: 0 !important; }
.mapColOne ul li ul li ul, .mapColTwo ul li ul li ul, .mapColThree ul li ul li ul, .mapColFour ul li ul li ul { list-style-type: none; margin: 0 0 0 33px !important; padding: 0 !important; }
.mapColOne li a, .mapColTwo li a, .mapColThree li a, .mapColFour li a { font-weight: bold; }
.mapColOne li ul li a, .mapColTwo li ul li a, .mapColThree li ul li a, .mapColFour li ul li a, .mapColOne li ul li ul li a, .mapColTwo li ul li ul li a, .mapColThree li ul li ul li a, .mapColFour li ul li ul li a { font-weight: normal; color: #555; }
.mapColOne li ul li a:hover, .mapColTwo li ul li a:hover, .mapColThree li ul li a:hover, .mapColFour li ul li a:hover, .mapColOne li ul li ul li a:hover, .mapColTwo li ul li ul li a:hover, .mapColThree li ul li ul li a:hover, .mapColFour li ul li ul li a:hover { color: #faa519; }

/* home page styles */
/* 1.5 begin */
/*#homeSplash { width: 1003px; padding: 0; margin: 0 0 4px 0; height: 169px; background-color: #0073d2; }*/
/*#homeSplashWide { width: 1003px; padding: 0; margin: 0 0 4px 0; height: 302px; background-color: #0073d2; }*/
#homeSplash {
    width: 946px;
    padding: 0;
    margin: 0;
    height: 159px;
    background-color: #0073d2;
}
#homeSplashWide {
    width: 946px;
    padding: 0;
    margin: 0;
    height: 285px;
/*    background-color: #0073d2; */
}
#homeSplashOOB {
    width: 974px;
    padding: 0;
    margin: 0 0 0 1px;
    height: 167px;
    background-color: #0073d2;
}
#homeSplashWideOOB {
    width: 974px;
    padding: 0;
    margin: 0 0 0 1px;
    height: 293px;
    background-color: #0073d2;
}
/* 1.5 end */

#homeSplash img { float: left; display: inline; }
/* original - not working in IE - the s in environments broke to another line */
/* #homeSplash h1 { float: right; display: inline; margin: 0 !important; padding: 25px 35px 0 18px; width: 199px; height: 144px; color: #fff; font-size: 31px; line-height: 40px; } */
/* working one */
#homeSplash h1 { float: left; margin: 0 !important; padding: 25px 0 0 20px; width: 217px; height: 134px; color: #fff; font-size: 31px; line-height: 40px; }
#homeSplash h1.de { font-size: 26px; line-height: 32px; }
#homeMain { width: 749px; margin: 0; padding: 0; position: relative; display: inline; float: left; clear: both; }
#contentMain { width: 707px; margin: 0; padding: 0; position: relative; display: inline; float: left; clear: both;  }

#groups { width: 247px;  background: url(../../../../author/images/bkgd_home.gif)/*tpa=http://www.johnsoncontrols.com/author/images/bkgd_home.gif*/ 0 0 !important; margin: 0 0 13px 0; padding: 0; float: left;}
.prodGroupEnclosure {
position: relative;
width: 225px;
margin: 0 0 15px 0;
padding: 0;
}

.prodGroup {
background: url(../../../../author/images/bkgd_home.gif)/*tpa=http://www.johnsoncontrols.com/author/images/bkgd_home.gif*/;
padding: 0;
width: 247px;
*width: 247px;
}

.prodGroup h2 {
width: 247px;
*width: 247px;
background-color: #0073d2;
color: #fff;
font-size: 17px;
line-height: 18px;
padding: 0;
margin: 0;
background: #0073d2 url(../../../../author/images/bul_white.gif)/*tpa=http://www.johnsoncontrols.com/author/images/bul_white.gif*/ 226px 13px no-repeat;
z-index: 3000;
}

.prodGroup h2 a { color: #fff;
    display: block;
    padding: 8px 10px 7px 12px;
    margin: 0;
    width: 225px;
    z-index: 3000;
}

.prodGroup h2 a:hover {
    color: #faa519;
}

.prodGroup p {
    padding: 0 10px 10px 0;
    margin: 9px 0 0 12px;
}

/* original one - not working in IE, not lining up horizontally */
/* #busMessages { width: 749px; } */
/* .message { width: 247px; float: left; padding: 0; margin: 0 4px 0 0; } */
/* .message h3 { width: 225px; background-color: #0073d2; color: #fff; font-size: 12px; line-height: 13px; padding: 5px 10px 5px 12px; margin: 0 0 10px 0; background-color: #faa519; } */
#busMessages {}

.message {
   width: 247px;
   padding: 0;
   margin: 0;
   /*padding: 0 0 15px 0;*/
   padding: 0 0 0 0;
   }

.message h3 {
   width: 225px;
   *width: 225px;
   background-color: #0073d2;
   color: #fff;
   font-size: 14px;
   line-height: 13px;
   padding: 5px 10px 5px 12px;
   margin: 0 0 10px 0;
   background-color: #faa519;
   }
/*.message img { float: left; margin: 3px 12px 35px 0; }*/
.message img { float: left; margin: 3px 12px 0 0; }
.message p { margin: 0; padding: 0 8px 0 0 !important; }

/*20080121 -- begins */
.message-nowidth {
   padding: 0;
   margin: 0;
  /*padding: 0 0 15px 0;*/
    padding: 0 0 0 0;
   }

.message-nowidth h3 {
   background-color: #0073d2;
   color: #fff;
   font-size: 14px;
   line-height: 13px;
   padding: 5px 10px 5px 12px;
   margin: 0 0 10px 0;
   background-color: #faa519;
   }
/*.message-nowidth img { float: left; margin: 3px 12px 35px 0; }*/
.message-nowidth img { float: left; margin: 3px 12px 0 0; }
.message-nowidth p { margin: 0; padding: 0 8px 0 0 !important; }
/*20080121 -- ends */

.clear { clear: both; }

#groups .third, #busMessages .third { margin: 0 !important; }
#homeNews { width: 250px; padding: 0; margin: 0 0 0 4px; display: inline; float: right; background-color: #dff4d0; }
#homeNews h3 { width: 228px; padding: 5px 10px 5px 12px; margin: 0; background-color: #5fc12f; font-size: 14px; line-height: 13px; color: #fff; border-bottom: 4px solid #fff; }
.newsItems { padding: 11px 10px 5px 12px; margin: 0; }
.newsItems h4 { padding: 0; margin: 0; font-size: 13px; }
.newsItems ul { margin: 0 0 14px 0; padding: 0; }
.newsItems li { padding: 0 0 0 12px; margin: 4px 0 0px 0; background: url(../../../../author/images/bul_blue.gif)/*tpa=http://www.johnsoncontrols.com/author/images/bul_blue.gif*/ 1px 2px no-repeat; }
/* added 12/08/2006 to allow plain text subheadings/captions/descriptions under the arrowed list item in white body space */
.newsItems li.subCaption { padding: 0 0 0 12px; margin: 0 0 0px 0; background: url(../../../../author/images/bul_white.gif)/*tpa=http://www.johnsoncontrols.com/author/images/bul_white.gif*/ 1px 2px no-repeat; }
.newsItems p { margin: 0 0 14px 0; padding: 0; }
.newsItems p a { font-weight: bold; }
/* 1.4 begin */
/* Added 08/29/2008 to allow different styles when Newslist is used in CenterPar */
.newsItemsWide { width: 327px; padding: 11px 10px 5px 12px; margin: 0; background-color: #EEEEEE;}
.newsItemsWide hr { color:white; border:1px solid; border-color:#EEEEEE; border-top-color:white;}
/* 1.4 end */

#overlayOne { width: 225px; height: 256px; padding: 13px 10px 10px 12px; margin: 0; position: absolute; top: 295px; left: 0; background-color: #0073d2; color: #fff; z-index: 2000; visibility: hidden; }
#overlayTwo { width: 225px; height: 256px; padding: 13px 10px 10px 12px; margin: 0; position: absolute; top: 295px; left: 251px; background-color: #0073d2; color: #fff; z-index: 2000; visibility: hidden; }
#overlayThree { width: 225px; height: 256px; padding: 13px 10px 10px 12px; margin: 0; position: absolute; top: 295px; left: 502px; background-color: #0073d2; color: #fff; z-index: 2000; visibility: hidden; }
#overlayOne p, #overlayTwo p, #overlayThree p { margin: 0 0 10px 0; padding: 0; }
#overlayOne p a, #overlayTwo p a, #overlayThree p a { color: #fff; font-weight: bold; }
#overlayOne p a:hover, #overlayTwo p a:hover, #overlayThree p a:hover { color: #faa519; }
#overlayOne h4, #overlayTwo h4, #overlayThree h4 { color: #faa519; margin: 0; padding: 0; font-size: 13px; }
#overlayOne h4 a, #overlayTwo h4 a, #overlayThree h4 a { color: #faa519; }
#overlayOne h4 a:hover, #overlayTwo h4 a:hover, #overlayThree h4 a:hover { color: #fff; }

/* styles to add white border and drop shadow to images on right sidebar component */
/* adds white border */
.alpha-shadow {
    clear: both;
/*    float:left;
    margin: 14px 0 0 17px !important;
    margin: 14px 0 0 8px;
*/
    }
/* adds drop shadow */
.alpha-shadow div {
 /* float: left; */
  padding: 0px 10px 0px 0px;
  }

.alpha-shadow img {
  background-color: #fff;
  padding: 7px;
  margin: 0;
  }

/* REG 20091123 Drop shadow support */
#shadow-container {
    position: relative;
    left: 3px;
    top: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
}
#shadow-container .shadow2,
#shadow-container .shadow3,
#shadow-container .container {
    position: relative;
    left: -1px;
    top: -1px;
}
#shadow-container .shadow1 {
    background: #F1F0F1;
    padding-bottom: 1px;
}
#shadow-container .shadow2 {
    background: #DBDADB;
    padding-bottom: 1px;
}
#shadow-container .shadow3 {
    background: #B8B6B8;
    padding-bottom: 1px;
    padding-right: 1px;
}
#shadow-container .container {
    background: #ffffff;
}
/* REG 20091123 End of drop shadow support */

/* added 01/11/2007 for top download section on Investors page to align correctly - changed from table */
/* line item thingie */
.lineItemCon {
  /*width: 326px; */

}

.lineItemTitle {
   width: 100%;
   border-bottom: 1px #666 solid;
   padding-bottom: 5px;
}

.lineItemCon h4 {
   color: #555555;
   font-size: 14px;
   float: left;
   margin: 0;
   padding: 0;
}

.lineItemTitle a {
   float: right;
}

.lineItem {
  padding-top: 3px;
   padding-bottom: 3px;
   clear: both;
   border-bottom: 1px solid #666;
}

.lineIcons img { margin-right: 3px; }
.lineItem div.lineDate { float: left; }
.lineItem div.lineIcons { float: right; }
.lineItem div.lineDesc { clear: both; }

.lineItem div.lineDescLeftCol {
   float: left;
   width: 190px;
}

.lineItem div.lineDateMiddleCol {
   float: left;
   margin-left: 5px;
   margin-right: 3px;
}
/*20071119 - begin */
#boldblue { font-size: 12px; line-height: 13px; font-weight: bold; margin: 0; padding: 0; color: #0073d2; }
#boldblue a { color: #0073d2; }
#boldblue a:hover { color: #faa519; }
#boldblue a.current { color: #faa519; }
/*20071119 - end */

/*20071128 - begin */
#boldwhite { font-size: 12px; line-height: 13px; font-weight: bold; margin: 0; padding: 0; color: #ffffff; }
#boldwhite a { color: #ffffff; }
#boldwhite a:hover { color: #faa519; }
#boldwhite a.current { color: #faa519; }
/*20071128 - end */

/* _________________  CHANGED 02-28-07 FOR NEW IMAGE/TEXT CONTENT COMP _________________________________ */
  #textimageleft {
      width: 486px; /* 507px (width of #content) - 21px (right margin on .left) */
      margin: 0 21px 0 0;
      padding: 0;
      float: left;
      display: inline;
      }
#textimageleft img, #textimageright img {
      margin: 7px 0 11px 11px; /* some breathing room on the bottom and left edges. Top margin is to line it up with the headline */
      }
#textimageleft ul { margin: 0 0 0px 0; padding: 0; }

/* __________________________________________________ */

/*Leftnav styles */
.navSeparatorRow1 { background-color: #E0F7FF; }
.navSeparatorRow2, .navSeparatorRow3, .navSeparatorRow4, .navSeparatorRow5, .navSeparatorRow6 { background-color: #a2e8ff; }

/*   Level 1   */

/* 1.5 */
/*.LeftNavSubItemLvl1, .LeftNavSubItemLvl2, .LeftNavSubItemLvl3, .LeftNavSubItemLvl4 , .LeftNavSubItemLvl5 , .LeftNavSubItemLvl6{margin: 0;    font-size: 13px; line-height: 12px;font-weight: bold;}*/
.LeftNavSubItemLvl1, .LeftNavSubItemLvl2, .LeftNavSubItemLvl3, .LeftNavSubItemLvl4 , .LeftNavSubItemLvl5 , .LeftNavSubItemLvl6{
    margin: 0;
    font-size: 11px;
    line-height: 12px;
    font-weight: bold;
}
/* 1.5 */

.LeftNavCurrentItemLvl1 {
    padding: 5px 10px 4px 19px;
    background: url(../../../../author/images/nav_arrowdown.gif)/*tpa=http://www.johnsoncontrols.com/author/images/nav_arrowdown.gif*/ 5px 9px no-repeat;
    background-color: #00c8ff;
    color: #fff !important;
}
.NoDispCHild {
    padding: 5px 10px 4px 19px;
    background: url(../../../../author/images/bul_orange.gif)/*tpa=http://www.johnsoncontrols.com/author/images/bul_orange.gif*/ 7px 7px no-repeat;
    background-color: #00c8ff;
    color: #fff !important;

}

/* 1.5 */
/*a.LeftNavSubItemLvl1{display: block;padding: 5px 10px 4px 19px; color:#555;text-decoration:none;width:171px !important;background: url(/author/images/bul_orange.gif) 7px 7px no-repeat;    background-color: #E0F7FF;}*/
a.LeftNavSubItemLvl1{
    display: block;
    padding: 5px 10px 4px 18px;
    color:#555;
    text-decoration:none;
    width:198px !important;
    background: url(../../../../author/images/bul_orange.gif)/*tpa=http://www.johnsoncontrols.com/author/images/bul_orange.gif*/ 7px 7px no-repeat;
    background-color: #E0F7FF;
}
/* 1.5 */

a.LeftNavSubItemOpenLvl1{
    background: url(../../../../author/images/nav_arrowdown.gif)/*tpa=http://www.johnsoncontrols.com/author/images/nav_arrowdown.gif*/ 5px 9px no-repeat;
    background-color: #a2e8ff;
}

a.LeftNavSubItemLvl1:hover, a.LeftNavSubItemOpenLvl1:hover, a.LeftNavSubItemLvl2:hover, a.LeftNavSubItemLvl3:hover , a.LeftNavSubItemLvl4:hover , a.LeftNavSubItemLvl5:hover , a.LeftNavSubItemLvl6:hover{
    background-color: #0073D2 !important;
    color: #fff !important;
}

/* End of level 1 */

/*   Level 2   */

  .LeftNavCurrentItemLvl2 {
    padding: 5px 10px 4px 31px;
    background-color: #00c8ff;
    color: #fff !important;
}

/* 1.5 */
/*a.LeftNavSubItemLvl2{display: block;padding: 5px 10px 4px 31px;color:#555;text-decoration:none;width:159px !important;    background-color: #a2e8ff;}*/
a.LeftNavSubItemLvl2{
    display: block;
    padding: 5px 10px 4px 31px;
    color:#555;
    text-decoration:none;
    width:186px !important;
    background-color: #a2e8ff;
}
/* 1.5 */

/* End of level 2 */

/*   Level 3  */

  .LeftNavCurrentItemLvl3 {
    padding: 5px 10px 4px 43px;
    background-color: #00c8ff;
    color: #fff !important;
}

a.LeftNavSubItemLvl3{
    display: block;
    padding: 5px 10px 4px 43px;
    color:#555;
    text-decoration:none;
    background-color: #a2e8ff;
}

/* End of level 3 */

/*   Level 4  */

  .LeftNavCurrentItemLvl4 {
    padding: 5px 10px 4px 55px;
    background-color: #00c8ff;
    color: #fff !important;
}

a.LeftNavSubItemLvl4{
    display: block;
    padding: 5px 10px 4px 55px;
    color:#555;
    text-decoration:none;
    background-color: #a2e8ff;
}

/* End of level 4 */

/*   Level 5  */

  .LeftNavCurrentItemLvl5 {
    padding: 5px 10px 4px 67px;
    background-color: #00c8ff;
    color: #fff !important;
}

a.LeftNavSubItemLvl5{
    display: block;
    padding: 5px 10px 4px 67px;
    color:#555;
    text-decoration:none;
    background-color: #a2e8ff;
}

/* End of level 5 */

/*   Level 6  */

  .LeftNavCurrentItemLvl6 {
    padding: 5px 10px 4px 79px;
    background-color: #00c8ff;
    color: #fff !important;
}

a.LeftNavSubItemLvl6{
    display: block;
    padding: 5px 10px 4px 79px;
    color:#555;
    text-decoration:none;
    background-color: #a2e8ff;
}

/* End of level 6 */

/*  ORIGINAL Subtitle0
.Subtitle0
{
margin: 5px 0 2px 0;
padding: 0;
color: #faa519;
font-family: Arial,Verdana,Helvetica,sans-serif;
font-size: 11px;
font-weight: bold;
}

*/

.Subtitle0
{
    color: #555;
    font-size: 14px;
    margin: 0px 0px 10px 0px;
    font-weight: bold;
}


/* ___________________________ */

/* Added by SNeha on 11/14/09 to accomodate flashsidebar component style */

.box_flash {
    padding: 14px;
    margin-bottom: 22px;
    margin-top: 5px;
}



img.right {
    float: left;
    margin: 0px 14px 5px 0px;
    font-size: 10px;
}


img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto
}


/** HEADLINES IN COLS **/

.green_headline_big {
    background: url(../images/green_headline.png)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/green_headline.png*/ repeat-x;
    padding: 9px 0px 9px 14px;
    margin-bottom: 12px;
    margin-top: 5px;
    font-size: 18px;
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}
#content_center .green_headline_big{
    margin-bottom: -4px;
}
#content_full .green_headline_big {
    margin-bottom: 12px;
}

div.cq-colctrl-cols {width: 100%; float: left; }

div.cq-colctrl-default { width: 100%;}

div.cq-colctrl-lt3 {}

div.cq-colctrl-lt3-c0 { width: 32%; padding-right: 4px;}

div.cq-colctrl-lt3-c1 { width: 32%; padding-right: 4px;}

div.cq-colctrl-lt3-c2 { width: 32%; }

div.cq-colctrl-6633 {}

div.cq-colctrl-6633-c0 { width: 64%; padding-right: 4px;}

div.cq-colctrl-6633-c1 { width: 32% }

div.cq-colctrl-3366 {}

div.cq-colctrl-3366-c0 { width: 30%; padding-right: 4px;}

div.cq-colctrl-3366-c1 { width: 64% }


div.cq-colctrl-5050 {}

div.cq-colctrl-5050-c0 { width: 48%; padding-right: 4px;}

div.cq-colctrl-5050-c1 { width: 48% }

div.cq-colctrl-lt4 {}

div.cq-colctrl-lt4-c0 { width: 24%; padding-right: 4px;}
div.cq-colctrl-lt4-c1 { width: 24%; padding-right: 4px;}
div.cq-colctrl-lt4-c2 { width: 24%; padding-right: 4px;}
div.cq-colctrl-lt4-c3 { width: 24%}

span.apple-text {
	color: #5fc12f
}

span.catalinaBlue-text {
	color: #08338f
}

span.scienceBlue-text {
	color: #0073d2
}

span.brightTurquoise-text {
	color: #00c8ff
}

span.anakiwa-text {
	color: #a2e8ff
}

span.pattensBlue-text {
	color: #e0f7ff
}

span.teaGreen-text {
	color: #d774d0
}

span.emperor-text {
	color: #555555
}

span.silver-text {
	color: #cccccc
}

span.sun-text {
	color: #faa519
}

div.rightsidebar {
  /*  float: left; */
    margin-bottom: 14px;
    width: 100%;
}

