fancy_c-content-/* This is the most recent kunde stylesheet update on 23rd December, 2009 */
/*body {
    background: url(/apps/jci/docroot/images/bg.png) repeat-x #ddd;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #555;
    padding: 0px 0px 20px 0px;
    margin: 0px;
}*/


/** THE TOP **/

#top {
    width: 974px;
    height: 78px;
    margin: 0 auto;
}
#top h1 {
    width: 414px;
    height: 78px;
    margin: 0px;
    float: left;
    text-indent: -9999px;
    background: url(../images/header.png)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/header.png*/ no-repeat;
}
#topmenu {
    text-align: right;
    padding-top: 18px;
}
#topmenu a {
    color: #555;
    font-size: 10px;
    text-transform: uppercase;
    padding: 0px 4px;
}
#topmenu a span {
    font-size: 55%;
}
#topmenu a:hover, #topmenu a.active, div.languageContainer a:hover {
    color: #00c8ff;
}
#loginmenu {
    background: url(../images/dropdownbg.png)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/dropdownbg.png*/ no-repeat bottom right;
    width: 223px;
    padding-bottom: 12px;
    top: 35px;
    margin-left: 82px;
    position: absolute;
    padding-top: 10px;
    display: none;
    z-index: 999999;
}
* html #loginmenu {
    background: #fff;
    border: 1px solid #ccc;
}
#loginmenu a {
    display: block;
    margin: 0px 12px 0px 0px;
    background: url(../images/next_grey.gif)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/next_grey.gif*/ no-repeat center right;
    height: 20px;
    font-size: 12px;
    text-transform: capitalize;
    line-height: 20px;
    text-align: right;
    padding-right: 8px;
    font-weight: normal;
    color: #333;
}
#loginmenu a:hover {
    background: url(../images/next_blue.gif)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/next_blue.gif*/ no-repeat center right;
    color: #00c8ff;
}

/** THE MAIN MENU **/

#menu {
    width: 974px;
    height: 42px;
    margin: 14px auto 14px auto;
    background: url(../images/menubg.png)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/menubg.png*/ no-repeat;
}
#menu a {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 10px;
    height: 42px;
    display: block;
    line-height: 42px;
    float: left;
    margin-left: 10px;
    font-size: 13px;
}
* html #menu a {
    margin-left: 5px;
}
#menu a span {
    padding-right: 10px;
}
#menu a:hover, #menu a.active {
    background: url(../images/menuleft.png)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/menuleft.png*/ no-repeat left top;
}
#menu a:hover span, #menu a.active span {
    background: url(../images/menuright.png)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/menuright.png*/ no-repeat right top;
    display: block;
}
#menu a#products.active {
    background: url(../images/menuleft.png)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/menuleft.png*/ no-repeat left top;
}
#menu a#products.active span {
    background: url(../images/menuright.png)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/menuright.png*/ no-repeat right top;
    display: block;
}
#menu a#products:hover, #menu a.selected {
    background: url(../images/menuleft_prod.png)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/menuleft_prod.png*/ no-repeat left top !important;
    color: #333 !important;
}
#menu a#products:hover span, #menu a.selected span {
    background: url(../images/menuright_prod.png)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/menuright_prod.png*/ no-repeat right top !important;
    color: #333 !important;
    display: block;
}

#menu a#aboutus.active {
    background: url(../images/menuleft.png)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/menuleft.png*/ no-repeat left top;
}
#menu a#aboutus.active span {
    background: url(../images/menuright.png)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/menuright.png*/ no-repeat right top;
    display: block;
}
#menu a#aboutus:hover, #menu a.selected {
    background: url(../images/menuleft_prod.png)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/menuleft_prod.png*/ no-repeat left top !important;
    color: #333 !important;
}
#menu a#aboutus:hover span, #menu a.selected span {
    background: url(../images/menuright_prod.png)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/menuright_prod.png*/ no-repeat right top !important;
    color: #333 !important;
    display: block;
}


/* Start of new ids for sustainability button added in top navigation */
#menu a#sustainability.active {
    background: url(../images/menuleft.png)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/menuleft.png*/ no-repeat left top;
}
#menu a#sustainability.active span {
    background: url(../images/menuright.png)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/menuright.png*/ no-repeat right top;
    display: block;
}
#menu a#sustainability:hover, #menu a.selected {
    background: url(../images/menuleft_prod.png)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/menuleft_prod.png*/ no-repeat left top !important;
    color: #333 !important;
}
#menu a#sustainability:hover span, #menu a.selected span {
    background: url(../images/menuright_prod.png)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/menuright_prod.png*/ no-repeat right top !important;
    color: #333 !important;
    display: block;
}

/* End of new ids for sustainability button added in top navigation */


#menu #search {
    float: right;
    width: 250px;
    height: 42px;
    margin: 0px 13px 0px 0px;
    text-align: right;
}
* html #menu #search {
    margin: 0px 7px 0px 0px;
}
#menu #search input {
    width: 201px;
    background: url(../images/input_search.png)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/input_search.png*/ no-repeat;
    color: #999;
    font-size: 13px;
    line-height: 20px;
    height: 18px;
    border: 0px;
    padding: 12px 0px;
    margin: 0px;
    text-indent: 7px;
    float: right;
    outline: none;
}
#menu #search a {
    float: right;
    display: block;
    width: 25px;
    height: 42px;
    background: url(../images/input_delete.png)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/input_delete.png*/ no-repeat;
    padding: 0px;
    margin: 0px;
}
#menu #search a:hover, #menu #search a.active {
    background: url(../images/input_delete_over.png)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/input_delete_over.png*/ no-repeat;
}
/* REG 20091123. Old product menu
#products_solutions {
    position: absolute;
    padding: 14px 10px 14px 14px;
    z-index: 500;
    top: 134px;
    margin-left: -409px;
    width: 617px;
    background: #fff;
    display: none;
    border: 1px solid #ddd;
    border-width: 0px 1px 1px 1px;
}
* html #products_solutions {
    margin-left: -415px;
}
   End of old product menu */
/* REG 20091123. New product menu */
#products_solutions {
    position: absolute;
    padding: 14px 10px 14px 14px;
    z-index: 500;
    top: 135px;
    margin-left: -400px;
    width: 198px;
    background: url(../images/dropdownbg.png)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/dropdownbg.png*/ no-repeat bottom left;
    display: none;
}
* html #products_solutions {
    margin-left: -415px;
    background: #fff;
    border: 1px solid #ccc;
    border-width: 0px 1px 1px 1px;
}
#products_solutions a {
    font-size: 12px;
    color: #5fc12f;
    display: block;
    line-height: 14px;
    margin-bottom: 5px;
}
#products_solutions a:hover {
    color: #398414;
}
/* End of new product menu */
#products_solutions td.line {
    background: url(../images/prod_line.png)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/prod_line.png*/ no-repeat top right;
    height: 16px;
}
#products_solutions td.links {
    padding: 0px 0px 0px 14px;
    width: 170px;
}
#products_solutions td.links a {
    font-size: 12px;
    color: #5fc12f;
    display: block;
    line-height: 14px;
    margin-bottom: 5px;
}
#products_solutions td.links a:hover {
    color: #398414;
}
#products_solutions td.left_picture {
    width: 248px;
    height: 87px;
    background: url(../images/prod_blackbg.png)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/prod_blackbg.png*/ no-repeat top right;
}
#products_solutions td.left_picture img {
    float: left;
    margin-right: 5px;
}
#products_solutions td.left_picture h2 {
    color: #fff;
    margin: 5px;
    display: block;
    height: 87px;
}

#data {
    display: none;
}
#disclaimer {
    display: none;
}
#remember {
    background: #fff;
    position: absolute;
    text-align: center;
    top: 300px;
    left: 55%;
    width: 226px;
    margin-left: -133px;
    z-index: 99999999;
    padding: 0px 10px 10px 10px;
    border: 1px solid #555;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    display: none;
}
#remember p {
    margin: 15px;
}
#fancy_content h2 {
    font-size: 18px;
    color: #08338f;
    font-weight: bold;
    line-height: 26px;
    margin: 0;
}

#fancy_content a {
    color: #555555;
    font-size: 14px;
    display: block;
    font-weight: normal;
}

#fancy_content a:hover {
    color: #00C8FF;
}
#region_left {
    float: left;
    width: 185px;
    padding: 10px 0 10px 20px;
}

#region_center {
    float: left;
    width: 200px;
    padding: 0 0 10px 10px;
}

#region_right {
    float: right;
    width: 185px;
    padding: 0 30px 10px 0;
 }
 
.regionlinks {
    margin-top: 13px;
}
.regionlinks a span {
    font-size: 7px;
}
#content a span, #front_four a span {
    font-size: 60%;
}
#products_solutions a span {
    font-size: 60%;
}


#sustainability_solutions a span {
    font-size: 60%;
}

/** CONTENT AREA **/

#content_tab {
    background-color: #fff;
    padding: 9px 0px 2px 0px;
    width: 466px;
    margin: 0 auto;
}


#content_center_tab {
    background-color: #fff;
    width: 466px;
}

* html #content_center_tab {
    margin-left: 14px;
}

* html #content_tab {
    overflow-x: hidden;
}

#content {
    border: 1px solid #cccccc;
    background-color: #fff;
    padding: 9px 0px 2px 0px;
    width: 974px;
    margin: 0 auto;
}
* html #content {
    overflow-x: hidden;
}
#content_wide {
    width: 706px;
    padding: 0;
    margin: 0;
    float: left;
    margin-left: 14px;
}
* html #content_wide {
    margin-left: 7px;
}
* html #content_wide .col_left {
    margin-top: -13px;
}
* html #content_wide .col_right {
    margin-top: -13px;
}

#content .bottombg {
    left: -1px;
    position: relative;
    bottom: -3px;
    float: left;
}
#content .topbg {
    left: -1px;
    position: relative;
    top: -10px;
}

#front_four .bottombg {
    left: -1px;
    position: relative;
    bottom: -9px;
    width: 976px;
}
* html #front_four .bottombg {
    left: -1px;
    position: relative;
    top: 9px;
}
#front_four .topbg {
    left: -1px;
    position: relative;
    top: -1px;
}
* html #front_four .topbg {
    left: -1px;
    position: relative;
    top: -1px;
    float: left;
}

#content_full {
    width: 946px;
    margin-left: 14px;
}
#content_frontpage {
    width: 974px;
}
#content_wide_left {
    width: 386px;
    float: left;
}
#content_wide_right {
    width: 306px;
    float: right;
    margin: 14px 0px 14px 14px;
}
#content_left {
    width: 226px;
    float: left;
    margin-left: 14px;
}
* html #content_left {
    margin-left: 7px;
}
#tab_browse_content_center {
    float: left;
 
}
#content_center {
    width: 466px;
    margin-left: 14px;
    float: left;
}

* html #content_center {
    margin-left: 14px;
}
#content_right {
    width: 226px;
    float: right;
    margin-right: 14px;
}
#content_right ul {
    margin-top: 3px;
}
#content_right h3 {
    margin-bottom: 5px;
    line-height: 20px;
}
* html #content_right {
    margin-right: 7px;
}
#section_header {
    padding: 20px 14px 10px 14px;
    text-align: center;
}
#section_header a {
    color: #fff;
}
#section_header a:hover {
    color: #508334;
}
#section_header .toplevel {
    font-size: 13px;
    font-weight: bold;
}
#section_header h1 {
    font-size: 18px;
}
.col_left {
    width: 226px;
    float: left;
    margin-right: 14px;
}
.widecol_left {
    width: 306px;
    float: left;
    margin-right: 14px;
}
.col_right {
    width: 226px;
    float: right;
}
.widecol_right {
    width: 306px;
    float: right;
}
.stock_quote {
    width: 226px;
    float: right;
    margin: 0px 0px 0px 0px;
    font-size: 14px;
    font-weight: bold;
}
.stock_quote b {
    font-size: 20px;
}
.stock_quote .blue {
    color: #08338f;
}
.stock_quote p {
    line-height: 18px;
    margin: 11px 0px;
}
.stock_quote .box_blue a {
    font-size: 14px;
    margin: 5px 0px;
}
.box_green {
    background: url(../images/box_green.png)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/box_green.png*/ repeat-x #9bd87d;
    color: #fff;
    padding: 14px;
    margin-bottom: 24px;
    margin-top: 5px;
}
.box_grey {
    background: url(Unknown_83_filename)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/box_grey.png*/ no-repeat #7f7f7f;
    color: #fff;
    padding: 14px;
    margin-bottom: 14px;
}
.box_fullwidth_image {
    margin: 0px -14px 14px -14px;
    position: relative;
    z-index: 500;
}
.sitemap_col {
    width: 226px;
    float: left;
    margin-right: 14px;
}
* html .sitemap_col {
    margin-right: 7px;
}
.sitemap_col_right {
    width: 226px;
    float: right;
}
.sitemap_col a, .sitemap_col_right a {
    font-size: 14px;
    color: #00c8ff;
    display: block;
}
.sitemap_col_right a.toplevel:hover, .sitemap_col a.toplevel:hover, .sitemap_col_right a:hover, .sitemap_col a:hover {
    color: #08338f;
}
.sitemap_col a.sub, .sitemap_col a.subsub, .sitemap_col a.subsubsub, .sitemap_col a.subsubsubsub, .sitemap_col a.subsubsubsubsub, .sitemap_col_right a.sub, .sitemap_col_right a.subsub, .sitemap_col_right a.subsubsub, .sitemap_col_right a.subsubsubsub, .sitemap_col_right a.subsubsubsubsub {
    color: #555;
    font-weight: 100;
}
.sitemap_col a.sub, .sitemap_col_right a.sub, .sitemap_col a, .sitemap_col_right a {
    font-weight: bold;
    margin-left: 14px;
}
.sitemap_col a.toplevel, .sitemap_col_right a.toplevel {
    font-size: 15px;
    margin-left: 0px;
    text-transform: uppercase;
}
.sitemap_col a.sub, .sitemap_col_right a.sub {
    margin-left: 28px;
    padding: 3px 0px;
}
.sitemap_col a.subsub, .sitemap_col_right a.subsub {
    margin-left: 42px;
    padding: 3px 0px;
}
.sitemap_col a.subsubsub, .sitemap_col_right a.subsubsub {
    margin-left: 56px;
    padding: 3px 0px;
}
.sitemap_col a.subsubsubsub, .sitemap_col_right a.subsubsubsub {
    margin-left: 70px;
    padding: 3px 0px;
}
.sitemap_col a.subsubsubsubsub, .sitemap_col_right a.subsubsubsubsub {
    margin-left: 84px;
    padding: 3px 0px;
}
.sitemap_col a.sub:hover, .sitemap_col a.subsub:hover, .sitemap_col a.subsubsub:hover, .sitemap_col a.subsubsubsub:hover, .sitemap_col a.subsubsubsubsub:hover, .sitemap_col_right a.sub:hover, .sitemap_col_right a.subsub:hover, .sitemap_col_right a.subsubsub:hover, .sitemap_col_right a.subsubsubsub:hover, .sitemap_col_right a.subsubsubsubsub:hover {
    color: #00c8ff;
}

/** HEADLINES IN COLS **/

.blue_headline {
    background: url(../images/blue_headline.png)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/blue_headline.png*/ repeat-x;
    padding: 9px 0px 9px 14px;
    margin-bottom: 12px;
    margin-top: 5px;
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}
* html .blue_headline {
    height: 22px;
    padding-bottom: 7px;
}
.blue_headline_big {
    background: url(../images/blue_headline.png)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/blue_headline.png*/ repeat-x;
    padding: 9px 0px 9px 14px;
    margin-bottom: 12px;
    margin-top: 5px;
    font-size: 18px;
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}
#content_center .blue_headline, #content_center .green_headline, #content_center .blue_headline_big {
    margin-bottom: -4px;
}
#content_full .blue_headline, #content_full .blue_headline_big {
    margin-bottom: 12px;
}
.blue_headline a {
    color: #fff;
}
.blue_headline a:hover {
    color: #08338f;
}
.green_headline {
    background: url(../images/green_headline.png)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/green_headline.png*/ repeat-x;
    padding: 9px 0px 9px 14px;
    margin-bottom: 14px;
    margin-top: 5px;
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}
.green_headline a {
    color: #fff;
}
.green_headline a:hover {
    color: #34810f;
}

.green_headline p, .blue_headline p {
    margin: 0px;
}

img.right {
    float: left;
    margin: 0px 12px 5px 0px;
}

.box_orange {
    background: url(../images/box_orange.png)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/box_orange.png*/ repeat-x #ffb21c;
    color: #fff;
    padding: 22px 14px 22px 14px;
    margin-bottom: 22px;
    margin-top: 4px;
    text-align: center;
}
.box_orange a {
    margin: 0px 0px 10px 0px;
    color: #fff;
    font-size: 20px;
    line-height: 22px;
    font-weight: bold;
    text-transform: uppercase;
}
.box_orange a:hover {
    color: #ad5906;
}


.box_blue_legacy {
    height: 115px;
    overflow: hidden;
    background: url(../images/box_blue.png)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/box_blue.png*/ repeat-x #00c4fc;
    color: #fff;
    padding: 0px 14px 14px 14px;
    margin-bottom: 0px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 0px;
}
.box_blue_legacy_bottom {
    margin-bottom: 14px;
}
.box_blue_legacy_top {
    margin-bottom: -3px;
}

.box_blue {
    background: url(../images/box_blue.png)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/box_blue.png*/ repeat-x #00c4fc;
    color: #fff;
    padding: 14px;
    margin-bottom: 22px;
    margin-top: 5px;
}
.box_blue a, .box_blue_legacy a, .box_green a, .box_green_legacy a  {
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    display: block;
}
.box_blue a:hover, .box_blue_legacy a:hover, .box_green a:hover, .box_green_legacy a:hover{
    color: #08338f;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    display: block;
}
.box_blue a h2, .box_blue_legacy a h2 {
    font-size: 14px;
    margin-bottom: -5px;
    color: #fff;
    text-transform: uppercase;
}
.box_blue h3 {
    color: #08338f;
    font-size: 14px;
    margin: 15px 0px -10px 0px;
    line-height: 14px;
    text-transform: lowercase;
}
.box_green h1, .box_blue h1, .box_orange h1, .box_grey h1 {
    margin: 0px 0px 10px 0px;
    color: #fff;
    font-size: 20px;
    line-height: 22px;
}
.box_green h2, .box_blue h2, .box_orange h2, .box_grey h2 {
    margin: 0px 0px 10px 0px;
    color: #fff;
    font-size: 15px;
    line-height: 17px;
    text-transform: uppercase;
}
a.learn_more {
    font-size: 12px;
    font-weight: bold;
    text-align: right;
    color: #fff;
    display: block;
    text-transform: uppercase;
}
a.learn_more:hover {
    color: #08338f;
}
.box_green a.learn_more:hover {
    color: #236d00;
}
#left_menu {
    background: url(../images/box_blue.png)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/box_blue.png*/ repeat-x #00c4fc;
    padding: 14px;
    margin-bottom: 24px;
    margin-top: 4px;
}
#left_menu .separator {
    width: 196px;
    height: 1px;
    background: url(../images/line.gif)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/line.gif*/ no-repeat center center;
    margin: 6px 0px;
    padding: 0px;
}
* html #left_menu .seperator {
    margin: 2px 0px;
}
#left_menu a  {
    font-size: 14px;
    line-height: 15px;
    display: block;
    color: #fff;
    font-weight: normal;
}

#left_menu span.active {
    color: #08338f;
}


#left_menu span  {
    font-size: 14px;
    font-weight: bold;
    padding: 0px 12px 0px 3px;
    line-height: 15px;
    /*display: block;*/
    color: #fff;
   }
#left_menu a:hover, #left_menu a:hover span, #left_menu a.active, #left_menu a.active span {
    color: #08338f;
}

#left_menu a.toplevel {
    padding-top: 5px !important;
   }

#left_menu a.sub {
    line-height: 14px;
    display: block;
    background: none;
    font-weight: normal;
    text-transform: none;
    font-size: 13px;
}
#left_menu table.sub {
    padding: 2px 12px 0px 8px;
    line-height: 14px;
    display: block;
    background: none;
    font-weight: normal;
    text-transform: none;
    font-size: 13px;
}
#left_menu a.subsub {
    line-height: 14px;
    display: block;
    background: none;
    font-weight: normal;
    text-transform: none;
    font-size: 13px;
}
#left_menu table.subsub {
    padding: 2px 12px 0px 27px;
    line-height: 14px;
    display: block;
    background: none;
    font-weight: normal;
    text-transform: none;
    font-size: 13px;
}
#left_menu a.subsubsub {
    line-height: 14px;
    display: block;
    background: none;
    font-weight: normal;
    text-transform: none;
    font-size: 13px;
}
#left_menu table.subsubsub {
    padding: 2px 12px 0px 44px;
    line-height: 14px;
    display: block;
    background: none;
    font-weight: normal;
    text-transform: none;
    font-size: 13px;
}
#left_menu a.subsubsubsub {
    line-height: 14px;
    display: block;
    font-weight: normal;
    background: none;
    text-transform: none;
    font-size: 13px;
}
#left_menu table.subsubsubsub {
    padding: 2px 12px 0px 61px;
    line-height: 14px;
    display: block;
    font-weight: normal;
    background: none;
    text-transform: none;
    font-size: 13px;
}
#left_menu a.subsubsubsubsub {
    line-height: 14px;
    display: block;
    background: none;
    font-weight: normal;
    text-transform: none;
    font-size: 13px;
}
#left_menu table.subsubsubsubsub {
    padding: 2px 12px 0px 78px;
    line-height: 14px;
    display: block;
    background: none;
    font-weight: normal;
    text-transform: none;
    font-size: 13px;
}

#left_menu span.sub {
    padding: 1px 12px 1px 8px;
    line-height: 14px;
    display: block;
    background: none;
    text-transform: none;
 }
#left_menu span.subsub {
    padding: 1px 12px 1px 27px;
    line-height: 14px;
    display: block;
    background: none;
    text-transform: none;
 }
#left_menu span.subsubsub {
    padding: 1px 12px 1px 44px;
    line-height: 14px;
    display: block;
    background: none;
    text-transform: none;
}
#left_menu span.subsubsubsub {
    padding: 1px 12px 1px 61px;
    line-height: 14px;
    display: block;
    background: none;
    text-transform: none;
}
#left_menu span.subsubsubsubsub {
    padding: 1px 12px 1px 78px;
    line-height: 14px;
    display: block;
    background: none;
    text-transform: none;
}



#left_menu a.sub:hover, #left_menu a.subsub:hover, #left_menu a.subsubsub:hover, #left_menu a.subsubsubsub:hover {
    background: none;
}
#left_menu h2 {
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    margin: 0px 0px 10px 0px;
}

span.arrow {
    font-size: 7px;
    font-family: "Wingdings 3";
    padding-bottom: 5px;
}

.txt_image {
    float: right;
    margin: 0px 0px 14px 14px;
    width: 226px;
}
.txt_image h3 {
    margin-bottom: -8px;
    line-height: 20px;
}
ul {
    font-size: 14px;
    padding-left: 0px;
    margin-left: 0px;
    line-height: 20px;
    list-style-type: none;
}
ul {
    margin-left: 0px;
}
li {
    margin-bottom: 4px;
    background: url(../images/next_grey_big.gif)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/next_grey_big.gif*/ no-repeat 0px 5px;
    padding-left: 10px;
    display: block;
}

/** FRONTPAGE SPECIFICS **/

#wrap {
    width: 976px;
    margin: 0 auto;
    clear: both;
}
#rss {
    background: url(../images/rssbg.png)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/rssbg.png*/ #fff;
    height: 34px;
    line-height: 34px;
    width: 722px;
    float: left;
}
#rss_alt {
    background: url(../images/frontpage_alt.png)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/frontpage_alt.png*/ #fff;
    height: 34px;
    line-height: 34px;
    width: 976px;
    float: left;
}
#rss_header {
    font-weight: bold;
    font-size: 14px;
    text-indent: 14px;
    float: left;
 }
 
#rss_feed {
    width: 35px;
    float: left;
    font-size: 12px;
    padding-top: 6px;
    text-align: right;
}
#rss_news {
    font-size: 12px;
    text-indent: 14px;
    float: left;
    width: 450px;
}
#rss_news_alt {
    font-size: 12px;
    text-indent: 14px;
    float: left;
    width: 617px;
}
#rss_news a, #rss_news_alt a, #rss_header a {
    color: #555;
}
#rss_nav {
    float: right;
    margin-right: 14px;
}
* html #rss_nav {
    padding-top: 8px;
    margin-right: 7px;
}
#newsletter {
    height: 34px;
    line-height: 34px;
    margin-top: 14px;
    width: 242px;
    float: right;
    font-weight: bold;
    text-indent: 14px;
    text-transform: uppercase;
    background: url(../images/newsletterbg.png)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/newsletterbg.png*/ no-repeat #fff;
}
#newsletter a {
    color: #555;
    display: block;
}

#hmpg_stockquote {
    height: 34px;
    line-height: 34px;
    width: 242px;
    float: right;
    font-size: 12px;
    text-indent: 14px;
    background: url(../images/homepagestckqutbg.png)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/homepagestckqutbg.png*/ no-repeat #fff;
}


#hmpg_stockquote a {
    color: #555;
    display: block;
    font-weight: normal;
}

#front_four {
    width: 974px;
    background: #fff;
    border: 1px solid #ccc;
    margin: 0 auto;
    padding: 0px 0px 5px 0px;
    margin-top: 14px;
}

p.fourDescription {
	font-size: 10px;
}

* html #front_four {
    padding: 0px 0px 0px 0px;
    margin: 20px auto 0px auto;
    width: 974px;
    height: 142px;
    overflow: hidden;
}
.front_feature {
    width: 226px;
    float: left;
    margin-left: 14px;
}
* html .front_feature {
    margin-left: 7px;
    margin-right: 7px;
}
.front_feature .box_orange {
    padding: 23px 14px;
    margin: 5px 0px 0px 0px;
}
* html .front_feature .box_orange {
    padding: 22px 14px;
}
.feature_link {
    font-size: 14px;
    color: #555;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 0px 12px 0px;
    height: 16px;
    display: block;
}
.feature_link img {
    margin-top: 11px;
}

/** SEARCH TEMPLATE **/

h2.search_term {
    margin-top: -20px;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 26px;
}
.search_result {
    margin-bottom: 20px;
}
.search_result p {
    font-size: 14px;
    margin: 3px 0px;
}
.search_result a {
    font-size: 16px;
}
.link_url {
    font-size: 14px;
    color: #5fc12f;
}
a.quickview {
    font-size: 14px;
}
textarea {
    width: 226px;
    height: 90px;
}
#pagination {
    text-align: center;
    margin: 0 auto;
    text-align: center;
    word-spacing: 2px;
}
#pagination a {
    text-decoration: underline;
    color: #555;
}
#pagination a:hover, #pagination a.active {
    text-decoration: none;
    color: #029cde;
    font-weight: bold;
}

/** CONTACT FORM **/

#contact_form {
    font-size: 12px;
}
span.blue {
    color: #00c8ff;
}
#contact_form h3 {
    font-size: 18px;
    text-transform: uppercase;
}
#contact_form table {
    font-size: 12px;
    width: 464px;
}
#contact_form select {
    font-size: 11px;
    width: 225px;
    color: #555;
    background: #fff;
    border: 1px solid #555;
}
#contact_form span.error {
    border: 2px solid #a00;
    display: table-cell;
    background: #a00;
}
#contact_form input.txt {
    font-size: 14px;
    width: 224px;
    color: #555;
    padding: 1px 0px;
}
#contact_form_left {
    width: 226px;
    float: left;
}
#contact_form_right {
    width: 226px;
    float: right;
}
#contact_form textarea {
    width: 460px;
}
#captcha {
    padding: 10px 0px 0px 0px;
}
#captcha img {
    border: 1px solid #999;
}
.contact_image {
    float: right;
    margin-top: -10px;
}
input.submit {
    background-color: #00C8FF;
    border: 0 none;
    color: #FFFFFF;
    float: right;
    font-size: 12px;
    font-weight: bold;
 }
.contact_extras {
    padding: 0px 14px;
}
.contact_extras p {
    font-weight: 100;
}


/** OFFICER **/

.officer {
    width: 306px;
    float: left;
    margin: 0px 14px 14px 0px;
}
.officer img {
    float: left;
    margin: 0px 14px 0px 0px;
}
.officer h3 {
    margin: 10px 0px 0px 0px;
}
.officer p {
    margin: 4px 0px;
}

/** FOOTER **/

#bottom {
    width: 976px;
    margin: 10px auto;
    padding-left: 20px;
    font-size: 10px;
    text-transform: uppercase;
    color: #555;
    text-align: center;
    line-height: 16px;
}
#bottom a {
    color: #555;
    font-size: 10px;
    text-transform: uppercase;
    padding: 0px 8px;
}
#bottom a:hover, #bottom a.active {
    color: #00c8ff;
}

/** GENERAL TEXT STYLES **/

h1 {
    font-size: 26px;
    text-transform: uppercase;
    color: #00c8ff;
    line-height: 28px;
    margin-top: 10px;
}
h2 {
    font-size: 18px;
    line-height: 22px;
    color: #555;
}
h3 {
    font-size: 16px;
    color: #00c8ff;
    margin: 10px 0px 5px 0px;
}
h4 {
    color: #555;
    font-size: 15px;
    text-transform: uppercase;
    margin: 0px 0px 15px 0px;
}
h4.error {
    color: #c00;
    font-style: italic;
}
h5 {
    font-size: 14px;
    color: #00c8ff;
    margin: 15px 0px -10px 0px;
    text-transform: uppercase;
    line-height: 10px;
}
input.error {
    background: #FFFF99;
}
div.error {
    background: #FFFF99;
}
textarea.error {
    background: #FFFF99;
}

P, UL, LI, OL,blockquote
{
    font-family: Arial,Verdana,Helvetica,sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
    
}
p.byline {
    font-size: 12px;
    font-style: italic;
    margin-top: -10px;
}

a {
    text-decoration: none;
    color: #08338f;
    font-weight: bold;
}
a:hover {
    color: #00c8ff;
}

/** MISC HELPER STYLES **/

img {
    border-width: 0px;
}
.break {
    clear: both;
}
hr {
    height: 1px;
    background: #555;
    padding: 0px;
    color: #555;
    border: 0px;
}
table.content_table {
    width: 100%;
}
table.content_table td {
    padding: 3px 5px 3px 0px;
    margin: 0px;
}

.profile_info {
    border-bottom: 2px solid #999;
}
.profile_info h3 {
    margin-top: 17px;
}
.profile_info .col_right_wide {
    width: 466px;
    float: right;
}

.download_paragraph {
    line-height: 20px;
    padding-bottom: 20px;
}
.download_paragraph .title {
    float: left;
    width: 146px;
    margin-right: 14px;
}
.download_paragraph .description {
    width: 146px;
    float: left;
    margin-right: 14px;
}
.download_paragraph .info {
    width: 146px;
    text-align: right;
    float: right;
}


.download_history a {
    display: block;
    width: 90px;
    float: left;
    vertical-align: bottom;
    padding-top: 12px;
}
.report_download a {
    display: block;
    width: 150px;
    float: left;
    vertical-align: bottom;
    padding-top: 12px;
}
.presentation_download a {
    display: block;
    width: 100px;
    float: left;
    vertical-align: bottom;
    padding-top: 12px;
}
.pdf {
    width: 26px;
    height: 27px;
    display: inline;
    float: left;
    vertical-align: bottom;
    margin-right: 3px;
    background: url(Unknown_83_filename)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/pdf_bw.png*/ no-repeat;
    margin-top: -8px;
}
.html {
    width: 26px;
    height: 27px;
    display: inline;
    float: left;
    vertical-align: bottom;
    margin-right: 3px;
    background: url(Unknown_83_filename)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/ie_bw.png*/ no-repeat;
    margin-top: -8px;
}
.podcast {
    width: 26px;
    height: 27px;
    display: inline;
    float: left;
    vertical-align: bottom;
    margin-right: 3px;
    background: url(Unknown_83_filename)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/podcast_bw.png*/ no-repeat;
    margin-top: -8px;
}
a:hover .pdf {
    background: url(Unknown_83_filename)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/pdf.png*/ no-repeat;
}
a:hover .html {
    background: url(Unknown_83_filename)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/ie.png*/ no-repeat;
}
a:hover .podcast {
    background: url(Unknown_83_filename)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/podcast.png*/ no-repeat;
}

.report_download {
    border-bottom: 2px solid #999;
    padding-bottom: 6px;
}
.report_download p {
    margin: 4px 0px;
}
.report_download a {
    font-weight: 100;
}


.download_history {
    border-bottom: 2px solid #999;
    padding-bottom: 16px;
}
.download_history h5 {
    margin: 0px 0px 10px 0px;
}
.download_history p {
    margin: 4px 0px;
}
.download_history h3 {
    color: #6ac53d;
}
.download_history a {
    font-weight: 100;
}

/** FANCYBOX STYLES - DO NOT TURN UNLESS SPECIFIC KNOWLEDGE OF FANCYBOX **/

/* 20110623 - Mark S: is IE6, this breaks the RTE link dialog and adds extra 
              top borders on generic template content bounding box - is this 
              strictly necessary? Turned off unless answer turns out to be yes

html, body {
    height: 100%;
}
*/

div#fancy_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: none;
    z-index: 30;
}
* html div#fancy_overlay {
    position: absolute;
    height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}
div#fancy_wrap {
    text-align: left;
}
div#fancy_loading {
    position: absolute;
    height: 40px;
    width: 40px;
    cursor: pointer;
    display: none;
    overflow: hidden;
    background: transparent;
    z-index: 100;
}
div#fancy_loading div {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 480px;
    background: transparent url('../images/fancy_progress.png')/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/fancy_progress.png*/ no-repeat;
}
div#fancy_loading_overlay {
    position: absolute;
    background-color: #FFF;
    z-index: 30;
}
div#fancy_loading_icon {
    position: absolute;
    background: url('Unknown_83_filename')/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/fancy_loading.gif*/ no-repeat;
    z-index: 35;
    width: 16px;
    height: 16px;
}
div#fancy_outer {
    position: absolute;
    top: 19px;
    left: 91px;
    z-index: 90;
    padding: 18px 18px 33px 18px;
    margin: 0;
    overflow: hidden;
    background: transparent;
    display: none;
    
}
div#fancy_inner {
    position: relative;
    width:100%;
    height:100%;
}
div#fancy_content {
    margin: 0;
    z-index: 900;
}
div#disclaimer_inner {
    background: url(Unknown_83_filename)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/disclaimerbg.png*/ no-repeat;
    width: 490px;
    height: 337px;
}
* html div#disclaimer_inner {
    width: 480px;
}
#disclaimer_text {
    width: 385px;
    color: #fff;
    padding-left: 60px;
    height: 190px;
    padding-top: 60px;
    font-size: 14px;
    font-weight: bold;
}
#disclaimer_text .blue {
    font-size: 18px;
    color: #08338f;
}
#disclaimer_btn {
    text-align: center;
}
div#fancy_div {
    color: #555;
    height: 100%;
    width: 100%;
    background-color: white;
    border: 3px solid #08338F;
    -moz-border-radius: 15px;
	border-radius: 15px;
}
img#fancy_img {
    position: absolute;
    top: 0;
    left: 0;
    border:0;
    padding: 0;
    margin: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
}
div#fancy_close {
    position: absolute;
    top: -3px;
    right: -12px;
    height: 30px;
    width: 30px;
    background: url('../images/fancy_closebox.png')/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/fancy_closebox.png*/ top left no-repeat;
    cursor: pointer;
    z-index: 181;
    display: none;
}
#fancy_frame {
    position: relative;
    width: 100%;
    height: 100%;
    display: none;
}
#fancy_ajax {
    width: 100%;
    height: 100%;
    overflow: auto;
}
a#fancy_left, a#fancy_right {
    position: absolute;
    bottom: 0px;
    height: 100%;
    width: 35%;
    cursor: pointer;
    z-index: 111;
    display: none;
    background-image: url(data:image/gif;base64,AAAA);
    outline: none;
}

a#fancy_left {
    left: 0px;
}

a#fancy_right {
    right: 0px;
}

span.fancy_ico {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    z-index: 112;
    cursor: pointer;
    display: block;
}

span#fancy_left_ico {
    left: -9999px;
    background: transparent url('../images/fancy_left.png')/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/fancy_left.png*/ no-repeat;
}

span#fancy_right_ico {
    right: -9999px;
    background: transparent url('../images/fancy_right.png')/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/fancy_right.png*/ no-repeat;
}

a#fancy_left:hover {
  visibility: visible;
}

a#fancy_right:hover {
  visibility: visible;
}

a#fancy_left:hover span {
    left: 20px;
}

a#fancy_right:hover span {
    right: 20px;
}

.fancy_bigIframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}

div#fancy_bg {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    z-index: 70;
    border: 0;
    padding: 0;
    margin: 0;
}

div.fancy_bg {
    position: absolute;
    display: block;
    z-index: 70;
    border: 0;
    padding: 0;
    margin: 0;
}

div.fancy_bg_n {
    top: -18px;
    width: 100%;
    height: 18px;
    background: transparent url('../images/fancy_shadow_n.png')/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/fancy_shadow_n.png*/ repeat-x;
}

div.fancy_bg_ne {
    top: -18px;
    right: -13px;
    width: 13px;
    height: 18px;
    background: transparent url('../images/fancy_shadow_ne.png')/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/fancy_shadow_ne.png*/ no-repeat;
}

div.fancy_bg_e {
    right: -13px;
    height: 100%;
    width: 13px;
    background: transparent url('../images/fancy_shadow_e.png')/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/fancy_shadow_e.png*/ repeat-y;
}

div.fancy_bg_se {
    bottom: -18px;
    right: -13px;
    width: 13px;
    height: 18px;
    background: transparent url('../images/fancy_shadow_se.png')/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/fancy_shadow_se.png*/ no-repeat;
}

div.fancy_bg_s {
    bottom: -18px;
    width: 100%;
    height: 18px;
    background: transparent url('../images/fancy_shadow_s.png')/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/fancy_shadow_s.png*/ repeat-x;
}

div.fancy_bg_sw {
    bottom: -18px;
    left: -13px;
    width: 13px;
    height: 18px;
    background: transparent url('../images/fancy_shadow_sw.png')/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/fancy_shadow_sw.png*/ no-repeat;
}

div.fancy_bg_w {
    left: -13px;
    height: 100%;
    width: 13px;
    background: transparent url('../images/fancy_shadow_w.png')/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/fancy_shadow_w.png*/ repeat-y;
}

div.fancy_bg_nw {
    top: -18px;
    left: -13px;
    width: 13px;
    height: 18px;
    background: transparent url('../images/fancy_shadow_nw.png')/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/fancy_shadow_nw.png*/ no-repeat;
}

div#fancy_title {
    position: absolute;
    bottom: -33px;
    left: 0;
    width: 100%;
    z-index: 100;
    display: none;
}

div#fancy_title div {
    color: #FFF;
    font: bold 12px Arial;
    padding-bottom: 3px;
}

div#fancy_title table {
    margin: 0 auto;
}

div#fancy_title table td {
    padding: 0;
    vertical-align: middle;
}

td#fancy_title_left {
    height: 32px;
    width: 15px;
    background: transparent url(../images/fancy_title_left.png)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/fancy_title_left.png*/ repeat-x;
}

td#fancy_title_main {
    height: 32px;
    background: transparent url(../images/fancy_title_main.png)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/fancy_title_main.png*/ repeat-x;
}

td#fancy_title_right {
    height: 32px;
    width: 15px;
    background: transparent url(../images/fancy_title_right.png)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/fancy_title_right.png*/ repeat-x;
}

/* TABS */

#tabs {
    /* width: 420px; */
}
.ui-tabs .ui-tabs-hide {
     display: none;
     font-size: 14px;
}


ul.ui-tabs-nav {
    list-style: none;
    background: none;
/*     width: 420px; */
    height: 32px;
    margin: 0px;
    display: block;
}
.ui-tabs-nav li {
    background: none;
    float: left;
    text-transform: uppercase;
    font-size: 14px;
    padding: 0px;
    margin: 0px;

}
.ui-tabs-nav li.ui-tabs-selected a span {
    background: url(../images/tab_left.png)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/tab_left.png*/ no-repeat left top !important;
}
.ui-tabs-nav li.ui-tabs-selected a:hover span {
    background: url(../images/tab_left.png)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/tab_left.png*/ no-repeat left top !important;
}

.ui-tabs-nav li a {
    font-size: 14px !important;
    color: #fff;
    float: left;
    padding: 0px 12px 0px 0px;
    line-height: 32px;
    margin-right: 2px;
    background: url(../images/tab_right_grey.png)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/tab_right_grey.png*/ no-repeat right top;
}
.ui-tabs-nav li a:hover {
    color: #fff;
    background: url(../images/tab_right_hover.png)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/tab_right_hover.png*/ no-repeat right top;
}

.ui-tabs-nav li a span {
    background: url(../images/tab_left_grey.png)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/tab_left_grey.png*/ no-repeat top left;
    display: block;
    float: left;
    height: 32px;
    padding-left: 12px;
}
.ui-tabs-nav li.leftcorner a span {
    background: url(Unknown_83_filename)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/tab_left_grey_sharp.png*/ no-repeat top left;
}
.ui-tabs-nav li a:hover span {
    background: url(Unknown_83_filename)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/tab_left_hover.png*/ no-repeat left top;
}

.ui-tabs-nav li.ui-tabs-selected a {
    background: url(../images/tab_right.png)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/tab_right.png*/ no-repeat right top;
}
.ui-tabs-nav li.ui-tabs-selected a:hover {
    background: url(../images/tab_right.png)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/tab_right.png*/ no-repeat right top;
}
#content #tabs a span {
    font-size: 100%;
}
/* handle class="tabs" to allow different div IDs */
#content .tabs a span {
    font-size: 100%;
}


.ui-tabs-panel {
/*    width: 420px; */
    background: #fff;
    margin-top: 0px;
    padding: 0px;
}
.ui-tabs-panel .col_left {
    width: 205px;
    border: 1px;
}
.ui-tabs-panel h4 {
    color: #555;
    margin-top: 12px;
}
/* REG 20100324 use original styles */
/*.ui-tabs-panel li a {
    color: #555;
    font-weight: 100;
}
.ui-tabs-panel li a:hover {
    color: #08338f;
}*/
.ui-tabs-panel li {
    background: url(../images/next_grey.gif)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/next_grey.gif*/ no-repeat left scroll 0 5px;
}
.ui-tabs-panel li:hover {
    background: url(../images/next_grey.gif)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/next_grey.gif*/ no-repeat left scroll 0 5px;
}





/* REG 20091123. New Sustainability menu */
#sustainability_solutions {
    position: absolute;
    padding: 14px 10px 14px 14px;
    z-index: 500;
    top: 134px;
    margin-left: -304px;
    width: 198px;
    background: url(../images/dropdownbg.png)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/dropdownbg.png*/ no-repeat bottom left;
    display: none;
}
* html #sustainability_solutions {
    margin-left: -215px;
    background: #fff;
    border: 1px solid #ccc;
    border-width: 0px 1px 1px 1px;
}
#sustainability_solutions a {
    font-size: 12px;
    color: #5fc12f;
    display: block;
    line-height: 14px;
    margin-bottom: 5px;
}
#sustainability_solutions a:hover {
    color: #398414;
}
/* End of new product menu */
#sustainability_solutions td.line {
    background: url(../images/prod_line.png)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/prod_line.png*/ no-repeat top right;
    height: 16px;
}
#sustainability_solutions td.links {
    padding: 0px 0px 0px 14px;
    width: 170px;
}
#sustainability_solutions td.links a {
    font-size: 12px;
    color: #5fc12f;
    display: block;
    line-height: 14px;
    margin-bottom: 5px;
}
#sustainability_solutions td.links a:hover {
    color: #398414;
}
#sustainability_solutions td.left_picture {
    width: 248px;
    height: 87px;
    background: url(../images/prod_blackbg.png)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/prod_blackbg.png*/ no-repeat top right;
}
#sustainability_solutions td.left_picture img {
    float: left;
    margin-right: 5px;
}
#sustainability_solutions td.left_picture h2 {
    color: #fff;
    margin: 5px;
    display: block;
    height: 87px;
}



/* REG 20091123. New Sustainability menu */
#about_us {
    position: absolute;
    padding: 14px 10px 14px 14px;
    z-index: 500;
    top: 134px;
    margin-left: -80px;
    width: 198px;
    background: url(../images/dropdownbg.png)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/dropdownbg.png*/ no-repeat bottom left;
    display: none;
}
* html #about_us {
    margin-left: -80px;
    background: #fff;
    border: 1px solid #ccc;
    border-width: 0px 1px 1px 1px;
}
#about_us a {
    font-size: 12px;
    color: #5fc12f;
    display: block;
    line-height: 14px;
    margin-bottom: 5px;
}
#about_us a:hover {
    color: #398414;
}
/* End of new product menu */
#about_us td.line {
    background: url(../images/prod_line.png)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/prod_line.png*/ no-repeat top right;
    height: 16px;
}
#about_us td.links {
    padding: 0px 0px 0px 14px;
    width: 170px;
}
#about_us td.links a {
    font-size: 12px;
    color: #5fc12f;
    display: block;
    line-height: 14px;
    margin-bottom: 5px;
}
#about_us td.links a:hover {
    color: #398414;
}
#about_us td.left_picture {
    width: 248px;
    height: 87px;
    background: url(../images/prod_blackbg.png)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/prod_blackbg.png*/ no-repeat top right;
}
#about_us td.left_picture img {
    float: left;
    margin-right: 5px;
}
#about_us td.left_picture h2 {
    color: #fff;
    margin: 5px;
    display: block;
    height: 87px;
}
div#fancy_title table{
    display: none;
}


#content_right .box_fullwidth_image_color, .box_fullwidth_image {
    margin: 0 -14px 14px;
    position: relative;
    z-index: 500;
}

.rightsidebar img {
    display: block;
    }
div.category
{
    float:left;
    margin-bottom:5px;
}    
div.categoryBorder {
    border-style: solid;
    border-width: 1px;
    width: 307px;
    height: 200px;
}
.category h2{
    font-size: 18px;
    line-height: 22px;
    color: #00C8FF;
    margin-left:10px;
}
.category img{
    margin-left:10px;
}
div.categoryText {
    margin-left:10px;
    margin-right:10px;
    color:#000000;
    font-weight: normal;
}
div.new
{
    clear:both;
}
#brandView
{
    display:none;
}

div.brandimage {
    float:left;
    padding:10px;
    height: 125px;
}

#buView
{
    display:none;
    margin-bottom: 10px;
}

div.businessBorder 
{
    border-style: solid;
    border-width: 1px;
    border-color: #AAAAAA;
    width: 946px;
    height: 300px;
}

.category img{
    margin-left:10px;
}

div.businessColumnOne
{
    float: left;
    width: 300px;
    height: 280px;
    padding: 10px;
}

div.businessColumnTwo
{
    float: left;
    padding: 10 10 10 0;
    width: 208px;
}

div.businessColumnBorder
{
    height: 280px;
    border-style: solid;
    border-width: 0 0 0 1px;
    padding: 0 0 0 10px;
    border-color: #AAAAAA;
}

.businessColumnBorder h2
{
    color: #00C8FF;
}

.businessColumnOne h2
{
    color: #08338F;
}

div.socialmedia
{
    width: 100%;
    height: auto;
    overflow:auto;
    border-bottom: 1px solid #555555;
}

div.socialmedia h1
{
    font-size: 20px;
    text-transform: none;
}

div.socialtitle
{
    float:left;
    width: 25%;
    padding: 10px 20px 5px 10px;
}

div.socialtitle p
{
    font-size: 11px;
}

div.socialregion
{
    float:left;
    width: 10%;
    padding: 10px 10px 5px 0px;
}

div.socialregion h2
{
    color: #000000;
    font-weight: bold;
    font-size: 15px;
}

div.socialregion h3
{
    color: #000000;
    font-weight: normal;
    font-size: 11px;
}

div.socialicon
{
    float:left;
    padding: 10px 2px 5px 0px;
}

div.socialicon h2
{
    color: #000000;
    font-weight: bold;
    font-size: 12px;
}

div.blogs-left
{
    float:left;
    width: 328px;
}

div.blogs-right
{
    float:right;
    width: 40%;
}

div.blogs-left-par div.text, div.blogs-right-par div.text
{
    padding-top: 10px;
}

div.beheading, div.BEHeading
{
    font-size: 20px;
    padding: 10px 0 5px 14px;
}

div.info-block div.BEHeading, div.continue-story-block div.BEHeading
{
    font-size: 20px;
    padding: 10px 0 5px 0px;
}

div.centerpar div.BEHeading
{
    padding: 0 0 5px 0;
    margin-top: 10px;
}



div.beblogheading, div.beconnentheading, div.continueheading
{
    font-size: 24px;
    font-weight: normal;
    line-height: 26px;
    padding-bottom: 4px;
}

div.beblogsmallheading
{
    color: #656565;
    padding: 0 0 6px;
    font-size: 14px;
    margin: 0;
} 

div.blogtext
{
    color: #656565;
    font-size: 13px;
    line-height: 18px;
    margin: 0;
}

div.blogtext p, 
{
    padding-bottom: 10px;
}

div.blogs-block p, div.connect-block p, div.sidebarText p
{
    font-size: 13px;
}
    

div.subnav
{
    width: 99%;
}

.subnav .sub-subnav li a:hover{color:#0073D2;}
.subnav li:hover .sub-subnav{display:block;position:absolute;z-index:99999;}
.sub-subnav li{display:block;float:none;}


.subnav .sub-subnav li a {
    border-bottom: 1px solid #DCDCDE;
    border-right: 0 none;
    font-size: 12px;
    font-weight: normal;
    line-height: 16px;
    padding: 5px 0;
}

.subnav li.active .sub-subnav a span {
    font-size: 12px;
    font-weight: normal;
    line-height: 16px;
    padding: 0 0 0 18px;
    margin: 0;
 }

.subnav li.active a span 
{
    margin-top: -10px;
}

.subnav li.active .sub-subnav a {
    border-bottom: 1px solid #DCDCDE;
    border-right: 0 none;
    font-size: 12px;
    font-weight: normal;
    line-height: 16px;
    padding: 5px 0;
    background: none repeat scroll 0 0 #FFFFFF;
}

.subnav li.active .sub-subnav a, .subnav li.active .sub-subnav a span {
    height: 22px;
}

.subnav li.active ul.sub-subnav
{
    margin-left: 10px;
    margin-top: -6px;
}

.subnav
{
    background: url("../images/subnav-bg.gif")/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/subnav-bg.gif*/ repeat-x scroll 0 0 transparent;
    height: 46px;
    margin: 5px 5px 0 5px;
    font-size: 13px;
    line-height: 18px;
    color: #656565;
}
    
div.subnav ul:after, div.becontact ul:after, div.connect-info:after, div.inner-page-main-content:after, .tweets-table:after, .tweets-info:after, .jta-tweet-list li:after
{
    clear:both;
    content: *.*;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    content: "<br>";
}

div.subnav ul
{
    list-style-type: none;
}

.subnav .sub-subnav li {
    padding: 0 5px;
}

div.subnav ul.sub-subnav li 
{
    display: block;
    float: none;
}

div.subnav li, div.becontact li, div.besidebar li
{
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 18px;
    background: none;
}

div.besidebar button
{
	padding: 0px;
}

div.besidebar h3
{
	color: #656565;
}

div.besidebar li.first
{
	float:none;
}

div.besidebar div.search-box div.input-box input 
{
    padding-right: 10px;
}

div.besidebar input#txtBranchLocator 
{
    padding-right: 40px;
    width: 133px;
}

div.besidebar li
{
	float:left;
}

div.besidebar li.last
{
	float:right;
}

.subnav li a
{
    border-right: 1px solid #DCDCDE;
    color: #656565;
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 38px;
    margin: 5px 0 4px;
    padding: 0 10px 0 9px;
    text-decoration: none;
    text-transform: inherit;
}

.subnav li span
{
    background: url("../images/all-images.png")/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/all-images.png*/ no-repeat scroll 100% -287px transparent;
    padding-right: 18px;
}

div.subnav ul.sub-subnav li span
{
    background: none repeat scroll 0 0 #FFFFFF;
}

div.subnav ul.sub-subnav
{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DCDCDE;
    display: none;
    margin-top: -2px;
}

div.becontact input, div.besidebar input
{
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    color: #959595;
    font-size: 12px;
    line-height: 25px;
    min-width: 118px;
    margin-top: -1px;
}

div.becontact ul{list-style-type:none;}
div.becontact li{padding:0;margin:0;float:left;list-style-type:none;}
div.contact-group, .becontact a{font-size:13px;color:#656565;float:right;padding:7px 0;}
div.becontact a{margin-right:0;padding:0;}
div.becontact a{float:none;text-decoration:underline;}
div.becontact li{margin-right:7px;line-height:26px;}
div.becontact li.first{margin-right:18px;}
div.becontact li.last{margin-right:0;margin-top:-2px;}
div.becontact input{font-size:10px;}

.btn-green-small 
{
    font-size: 11px;
    margin-top: -1px;
    min-width: 34px;
}

div.becontact button, div.search-box button, div.sliderBoxtext button, div.besidebar button
{
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    padding:0;
}

.btn-green-big {
    height: 43px;
    line-height: 43px;
}

.btn-green-big span, .btn-green-big span span, .btn-green-small span, .btn-green-small span span {
    background: url("../images/all-images.png")/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/all-images.png*/ no-repeat scroll 0 0 transparent;
    display: block;
}

.btn-green-big span {
    background-position: -990px -305px;
    padding: 0;
}


.btn-green-big span span {
    background-position: 100% -357px;
    padding: 0 13px 0 13px;
}

.btn-green-small span {
    background-position: -993px -155px;
    line-height: 31px;
    padding:0;
}

.divider 
{
    background: url("../images/divider.gif")/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/divider.gif*/ no-repeat scroll 0 0 transparent;
    clear: both;
    margin: 0 auto;
    width: 924px;
    color: #656565;
    font-size: 13px;
    line-height: 18px;
}


.VerticalBarOverflow{padding:6px 0 22px;}
.LayoutSlimGrid-1-2
{
    padding:2px 6px 0 14px;
    border-right:1px solid #dcdcde;
    float:left;
    min-height:224px;
}

.SlimGridNarrow
{
	width:156px;
}

.SlimGridFull
{
	width:215px;
}


.LayoutSlimGrid-1-2 ul, .LayoutSlimGrid-1-2 p
{
	font-size: 13px;	
}

.LayoutSlimGrid-1-2 h3
{
    color: #656565;
    font-weight: normal;        
}

div.behomegrid a
{
    font-weight: normal;
}

.LayoutSlimGrid-1-2.gridLast{border-right:0;padding-left:12px;}
.LayoutSlimGrid-1-2.grid.Last select{min-width:200px;}
.LayoutSlimGrid-1-2.gridLast button
{
    width: 70px;
}

.LayoutSlimGrid-1-2 ul{padding-top:7px;}
.VerticalBarOverflow p{font-size:13px;}

.VerticalBarOverflow h3, .brand-info-des h3, .connect-info-des h3 
{
    font-size:14px;
    font-weight: bold;
    color:  #656565;
    line-height: 18px;
    margin: 0;
}

.brand-info-des p, .connect-info-des p
{
    font-size: 13px;
    color:  #656565;
}

.brand-info {
    clear: both;
    margin-top: 32px;
}

button.btn-green-small span span 
{
    background-position: 100% -357px;
    height: 31px;
    padding:0 10px 0 10px;
    font-size: 11px;
}

.search-box 
{
    padding-top: 9px;
}

div.divider-up 
{
    background: url("../images/divider-up-shadow.gif")/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/divider-up-shadow.gif*/ no-repeat scroll 0 0 transparent;
    margin: 0 auto;
    width: 924px;
}

.input-box-select 
{
    padding-bottom: 19px;
}

div.becontact div.input-box span, div.search-box div.input-box span, div.besidebar div.input-box span  
{
    background-position: -994px -91px;
    padding: 0 0 0 4px;
}

div.input-box span, div.input-box input 
{
    background: url("../images/all-images.png")/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/all-images.png*/ no-repeat scroll 0 0 transparent;
    display: block;
    height: 25px;
}

div.becontact
{
     font-family: Arial,Helvetica,sans-serif;
}

div.input-box input 
{
    background-position: 100% -120px;
    display: block;
    padding-right: 5px;
}

.gridRight
{
    float:right;
}

div.search-box input {
    background: url("../images/all-images.png")/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/all-images.png*/ no-repeat scroll 0 0 transparent;
    background-position: 100% -120px;
    border: 0 none;
    color: #959595;
    font-size: 12px;
    line-height: 25px;
    min-width: 118px;
}

div.jcarousel-container li
{
    background: none;
}


.slider-images 
{
    margin: 0 auto;
    position: relative;
    width: 665px;
    line-height: 0;
}

div.slider-images h3
{
    font-size: 14px;
    font-weight: bold;
    color: #656565;
    line-height: 18px;
    margin: 0px 0px 0px 16px;
   }

.info-block, .inner-page .info-block 
{
    margin-top: 23px;
}

.brands-block 
{
    float: left;
    padding: 0 0 0 31px;
    width: 410px;
}

.connect-info 
{
    margin: 22px 0 0;
}

.connect-info .connect-img-box 
{
    float: left;
    width: 86px;
}

.connect-info .connect-info-des 
{
    float: left;
    width: 230px;
}

div.connect-par div.connect-info .connect-info-des 
{
    float: left;
    width: 213px;
}

.connect-block 
{
    float: right;
    padding: 0 0px 0 37px;
    width: 414px;
}

.brands-block h2, .connect-block h2 
{
    font-size: 24px;
    font-weight: normal;
    line-height: 26px;
    color: #656565; 
}

.brand-info .brand-img-box 
{
    float: left;
    width: 153px;
}

.brand-info .brand-info-des 
{
    float: right;
    width: 255px;
}

.brandslider1 
{
    padding: 7px 0 23px;
}

.tweets-block 
{
    clear: both;
    padding-top: 10px;
}

.tweets-block h4 
{
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
}

div.input-box-select select 
{
    min-width: 200px;
     border: 1px solid #918E8C;
    color: #555555;
    font-size: 10px;
    height: 20px;
    padding: 1px 1px 1px 0;
}

div.dsc_heading
{
    background: url("../images/all-images.png")/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/all-images.png*/ no-repeat scroll 0 -310px transparent;
    float: right;
    height: 190px;
    width: 317px;
}

div.dsc_heading h1
{
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    color: #656565;
    text-transform: none;
    
}


.inner-page-main-content .info-block 
{
    margin: 30px 0;
}

.continue-story-block 
{
    border-top: 1px solid #DCDCDE;
    padding-top: 26px;ftweet-link
}

.inner-page-main-content .connect-block, .continue-story-block .connect-block 
{
    padding-left: 20px;
    width: 299px;
}

div.blogs-block 
{
    float: left;
    padding-right: 18px;
    width: 608px;
    border-right: 1px solid #DCDCDE;
}

a.fb-link span, a.weibo-link span, a.LinkedIn-link span, a.yTube-link span
 {
    background-position: 100% -492px !important;
    display: block;
    height: 27px;
    padding: 0 3px;
    font-size: 11px !important;
 }
 
 
.tweet-link, .tweet-link span, .fb-link, .fb-link span, .yTube-link, .yTube-link span, .LinkedIn-link, .LinkedIn-link span, .weibo-link, .weibo-link span 
{
    background: url("../images/all-images.png")/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/all-images.png*/ no-repeat scroll 0 0 transparent;
}

div.sociallink
{
    color: #656565;
    width: 159px;
    float:left;
    padding: 0px 5px 2px 0px;
}

.fb-link, .yTube-link, .LinkedIn-link, .weibo-link 
{
    line-height: 27px;
}

.LinkedIn-link 
{
    background-position: -966px -592px;
}

.fb-link 
{
    background-position: -966px -460px;
}

a.weibo-link {
    background-position: -966px -558px;
}

div.continue-left-par div.text~div.text, div.continue-right-par div.text~div.text
{
    padding-top: 39px;
}

div.continue-left-par div.text ~ div.text:before, div.continue-right-par div.text ~ div.text:before
{
     display: block;
     font-size: 0;
     content: "<br>";
     clear: both;
     height: 39px;
}

.tweet-link {
    background-position: -981px -419px;
    display: block;
    padding: 0 0 0 19px;
}


div.continue-left-par div.text
{
    width:329px;
}

div.continue-right-par div.text
{
    width:232px;
}

div.subnav li.active a span {
    background-position: 100% -717px;
    font-size: 14px;
    font-weight: bold;
    padding-left: 7px;
    padding-right: 30px;
}

div.subnav li.active a, .subnav li.active a span {
    background: url("../images/all-images.png")/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/images/all-images.png*/ no-repeat scroll 0 0 transparent;
    display: block;
    height: 60px;
}

div.subnav li.active a {
    background-position: -972px -632px;
    border-right: 0 none;
    font-weight: normal;
    line-height: 70px;
    margin: 0 0 0 -21px;
    padding: 0 0 0 28px;
}


div.discussionbanner
{
    position:relative;
    height: 189px;
}

a.tweet-link span
{
    font-size: 11px !important;
    background-position: 100% -492px;
    display: block;
    height: 27px;
    line-height: 27px;
    padding-right: 3px;
}

.fb-link, .yTube-link, .LinkedIn-link, .weibo-link 
{
    display: block;
    line-height: 27px;
    padding: 0 0 0 34px;
}

.yTube-link 
{
    background-position: -966px -526px;
}

div.discussionimage
{
    float:left;
    width:629px;
}

div.behomegrid
{
	min-height: 224px;
}

div.breadcrumb
{
    margin-left: 14px;
}

div.countryName, div.languageContainer
{
	float:left;	
}

div.languageContainer a
{
	font-weight: normal;
}

div.countryContainer
{
	line-height: 20px;
}

img.brandimg
{
	position:absolute;
}

div.brandimg
{
	position:relative;
	overflow:hidden;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

img {
  border: none;
}

a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
}

#searchArea {
  width: 414px;
  background-color: #e0f7ff;
  position: relative;
}

#searchArea .btn {
  margin-left: -11px;
}

#searchArea .btn li {
  float: left;
  list-style: none;
  margin-left: 11px;
  padding: 0;
}

#searchArea span.customSelect {
  width: 307px;
	color:#fff;
	padding:5px 7px;
  background: #fba51a url(../../../../content/dam/WWW/JPN_Search/icon_arrow_down.gif)/*tpa=http://www.johnsoncontrols.com/content/dam/WWW/JPN_Search/icon_arrow_down.gif*/ no-repeat center right;
}

#searchArea span.customSelect.changed {
	background-color: #f0dea4;
}

#searchArea span.customSelectDisabled {
  background: #fdd28d url(Unknown_83_filename)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/img/icon_arrow_down_d.gif*/ no-repeat center right;
}

#searchArea .customSelectInner {
  width: 307px !important;
}

#searchArea .selectArea {
  width: 351px;
  padding: 17px;
  border: 1px solid #ccc;
  background-color: #fff;
  position: absolute;
  z-index: 999;
}

#searchArea .selectArea div {
  margin-top: 20px;
}


#searchArea .selectArea ul {
  background-color: #ccc;
}

#searchArea .selectArea.no-1 {
  top: 140px;
  left: 25px;
}

#searchArea .selectArea.no-2 {
  top: 140px;
  left: 25px;
}

#searchArea .selectArea.no-3 {
  top: 140px;
  left: 25px;
}

#searchArea .selectArea.no-4 {
  top: 140px;
  left: 25px;
}

#searchArea .selectArea.no-5 {
  top: 240px;
  left: 25px;
}

#searchArea .selectArea.no-6 {
  top: 240px;
  left: 25px;
}

#searchArea .selectArea.no-7 {
  top: 240px;
  left: 25px;
}

#searchArea .selectArea.no-8 {
  top: 240px;
  left: 25px;
}

#searchArea .selectArea .box-head {
  position: absolute;
  left: 50px;
  top: -14px;
}

#searchArea .selectArea.no-2 .box-head {
  left: 150px;
}

#searchArea .selectArea.no-3 .box-head {
  left: 255px;
}

#searchArea .selectArea.no-4 .box-head {
  left: 360px;
}

#searchArea .selectArea.no-5 .box-head {
  top: -14px;
}

#searchArea .selectArea.no-6 .box-head {
  left: 150px;
}

#searchArea .selectArea.no-7 .box-head {
  left: 255px;
}

#searchArea .selectArea.no-8 .box-head {
  left: 360px;
}

#searchArea .result {
  font-size: 12px;
  margin-top: 10px;
  padding-top: 5px;
  background: url(Unknown_83_filename)/*tpa=http://www.johnsoncontrols.com/apps/jci/docroot/img/icon_arrow_down_gray.gif*/ no-repeat center top;
}

#searchArea .result ul {
  margin: 0;
  padding: 5px 0;
}

#searchArea .result li {
  list-style: none;
  padding: 5px 5px 5px 15px;
}

#searchArea .selectArea div {
  position: relative;
}

#searchArea .selectArea select {
  height: 41px !important;
}

#searchArea .selectArea .close-btn {
  text-align: center;
}

.selectArea div {
  position: relative;
}

.selectArea select {
  height: auto !important;
}

div.textimage-container h2 {
margin-top: 0;
}

div#coda-nav-1 li {
padding-left: 0;
}

div.smalltext, div.smalltext ul
{
    font-size: 13px;
}

div.tabsmallfont span
{
	font-size: 12px !important;
}

div#top div.follow
{
	float:right;
	padding-top: 20px;
	width: 160px;
}

div.beheading div.share
{
	padding-right: 14px;
	width: 185px;
}

div.textblock h2
{
	margin: 14px 0 14px 0;
}
