/* Common CSS */

.RadMenu
{
	white-space:nowrap;
	float:left;
	position:relative;
}

.RadMenu .rmRootGroup
{
	margin:0;
	padding:0;
	position:relative;
	left:0;
	display: inline-block;
}

* html .RadMenu .rmRootGroup { float: left; }

.RadMenu:after,
.RadMenu .rmRootGroup:after
{
    content:""; 
    display:block;
    height:0;
    overflow: hidden;
    line-height:0;
    font-size:0;
    clear:both;
    visibility:hidden;
}

.RadMenu ul.rmVertical,
.RadMenu ul.rmHorizontal,
.RadMenu ul.rmRootScrollGroup,
.RadMenu_Context ul.rmHorizontal
{
	margin:0;
	padding:0;
	display:none;
	position:relative;
	left:0;
	float:left;
}

.rmSized ul.rmVertical
{
	width: 100%;
}

.rmSized ul.rmRootGroup
{
	float: none;
}

.rmSized .rmRootGroup .rmVertical
{
	width: auto;
}

.RadMenu .rmItem
{
	float:left;
	position:relative;
	list-style-image: none;
	list-style-position:outside;
	list-style:none;	
}

* html .RadMenu .rmItem
{
	display:inline;
}

.RadMenu .rmHorizontal .rmItem
{
	clear:none;
}

.RadMenu .rmVertical .rmItem
{
	clear:both;
}

.rmSized .rmVertical .rmItem
{
	width: 100%;
}

.rmSized .rmHorizontal .rmItem,
.rmSized .rmRootGroup .rmVertical .rmItem
{
	width: auto;	
}

.RadMenu ul.rmActive,
.RadMenu ul.rmRootGroup
{
	display:block;
}

.RadMenu .rmSlide, 
.RadMenu_Context
{
	position:absolute;
	overflow:hidden;
	display:none;
	float:left;
}

* html .RadMenu .rmSlide, 
* html .RadMenu_Context
{
	height:1px;
}

.RadMenu_Context
{
	z-index:1000;
	overflow:visible;
}

.RadMenu .rmText
{
	display:block;
}

.RadMenu div.rmText /*templates*/
{
	white-space:normal;
	background: transparent;
}

.RadMenu a.rmLink
{
	cursor:cursor;
	display:block;
}

.rmScrollWrap
{
	position:absolute;
	float:left;
	overflow:hidden;
	left:0;
}

.RadMenu .rmLeftArrow,
.RadMenu .rmTopArrow,
.RadMenu .rmBottomArrow,
.RadMenu .rmRightArrow
{
	position:absolute;
	z-index:2000;
	text-indent:-1000em;
	font-size: 0;
	line-height: 0;
	outline: 0;
	overflow: hidden;
}

.RadMenu .rmLeftArrowDisabled,
.RadMenu .rmTopArrowDisabled,
.RadMenu .rmBottomArrowDisabled,
.RadMenu .rmRightArrowDisabled
{
	display:none;
	text-indent:-1000em;
	font-size: 0;
	line-height: 0;
}

.RadMenu .rmBottomArrow,
.RadMenu .rmBottomArrowDisabled
{
	margin-bottom: -1px;
}

.RadMenu .rmLeftImage
{
	border:0;
	float:left;
}

.RadMenu_rtl
{
	float:right;
	text-align: right;
}

.RadMenu_rtl ul.rmVertical
{
	float:right;
}

.RadMenu_rtl .rmItem
{
	float:right;	
}

.RadMenu_rtl .rmLeftImage,
.RadMenu_Context_rtl .rmLeftImage
{
	border:0;
	float:right;
}

.RadMenu_rtl .rmLeftArrow,
.RadMenu_rtl .rmTopArrow,
.RadMenu_rtl .rmBottomArrow,
.RadMenu_rtl .rmRightArrow,
.RadMenu_rtl .rmLeftArrowDisabled,
.RadMenu_rtl .rmTopArrowDisabled,
.RadMenu_rtl .rmBottomArrowDisabled,
.RadMenu_rtl .rmRightArrowDisabled
{
	text-indent:1000em !important;
}

.RadMenu .rmLink
{
	width:auto;
}

.RadMenu .rmSeparator,
.RadMenu .rmSeparator:after
{
    line-height: 0;
    font-size: 0;
    overflow: hidden;
}

.RadMenu div.rmRootGroup
{
    position: relative;
}
/* <base styles> */

.RadMenu .rmItem
{
	padding: 0;
	margin: 0;
}

.RadMenu .rmLink
{
	padding: 0;
	outline: 0;
	float: left;
}

.RadMenu .rmText
{
	padding-bottom: 1px;
	float: left;
}

/* optimized for 16x16 */
.RadMenu .rmLeftImage
{
	margin: 0;
	padding: 0;
}

.RadMenu .rmVertical .rmLeftImage+.rmText
{
	padding: 0 8px 1px 24px;
}

.RadMenu .rmVertical .rmText
{
	/*
	padding: 0 15px 1px 0;
*/
padding: 0;
}

.RadMenu .rmHorizontal .rmText
{
	/*
	padding: 0 12px 1px 0;
*/
padding: 0;
}

.RadMenu_rtl .rmVertical .rmText
{
	padding: 0 15px 1px 0;
}

.RadMenu .rmVertical .rmText,
.RadMenu .rmHorizontal .rmVertical .rmText
{
	display: block;
	float: none;
	text-align: left;
	min-width: 140px;
}

.RadMenu .rmVertical .rmLink,
.RadMenu .rmHorizontal .rmVertical .rmLink
{
	float: none;
}

* html .RadMenu .rmGroup .rmVertical .rmLink,
* html .RadMenu .rmGroup .rmHorizontal .rmLink
{
	float: left;
}

/* <Shadows and rounded corners */

.RadMenu .rmTopRight,
.RadMenu .rmBottomLeft,
.RadMenu .rmBottomRight,
.RadMenu .rmRoundedCorners ul.rmGroup,
.rmRoundedCorners ul.rmGroup,
.rmRoundedCorners ul.rmGroup ul.rmGroup,
.RadMenu .rmRoundedCorners .rmMultiColumn
{
	border: 0;
	background-position: 0 0;
}

.RadMenu .rmRoundedCorners .rmMultiColumn ul.rmGroup
{
	background: none;
	margin: 0;
}

.RadMenu .rmRoundedCorners .rmGroupColumn
{
	height: 100%;
}

.RadMenu .rmRoundedCorners li.rmFirstGroupColumn
{
	background-color: transparent;
}

.RadMenu .rmTopFix,
.RadMenu .rmTopRight,
.RadMenu .rmBottomFix,
.RadMenu .rmBottomLeft,
.RadMenu .rmBottomRight
{
	position: absolute;
	width: 4px;
	height: 4px;
	list-style-type: none;
	list-style-position: outside;
	font-size: 0;
}

.RadMenu_rtl .rmTopRight,
.RadMenu_rtl .rmBottomRight
{
	width: 32px;
}

.RadMenu_rtl .rmTopShadowRight,
.RadMenu_rtl .rmBottomShadowRight
{
	width: 4px;
}

.RadMenu .rmTopShadowRight,
.RadMenu .rmBottomShadowLeft,
.RadMenu .rmBottomShadowRight
{
	background-repeat: no-repeat;
	background-color: transparent;
}

.rmRoundedCorners .rmTopShadowRight,
.rmRoundedCorners .rmBottomShadowLeft,
.rmRoundedCorners .rmBottomShadowRight
{
	width: 5px;
	height: 5px;
}

.RadMenu .rmTopRight
{
	background-position: 100% 0;
	top: 0;
	right: -4px;
	height: 100%;
}

.RadMenu .rmBottomLeft
{
	background-position: 0 100%;
	bottom: -4px;
	left: 0;
	width: 100%;
}

.RadMenu .rmBottomFix
{
	background-position: -1px 0;
	width: auto;
	bottom: -4px;
	left: 5px;
	right: 0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.RadMenu .rmTopFix
{
	background-position: -1px 0;
	width: auto;
	top: 0;
	left: 5px;
	right: 0;
	border-top-width: 1px;
	border-top-style: solid;
}

* html .RadMenu .rmTopFix,
* html .RadMenu .rmBottomFix,
* html .RadMenu .rmBottomShadowLeft
{
	width: 0;
}

.RadMenu .rmBottomRight
{
	background-position: 100% 100%;
	bottom: -4px;
	right: -4px;
	width: 8px;
}

.RadMenu .rmShadows li.rmBottomShadowLeft,
.RadMenu .rmShadows .rmBottomShadowRight,
.rmShadows .rmGroup li.rmBottomShadowLeft,
.rmShadows .rmGroup .rmBottomShadowRight
{
	background-image: url('Unknown_83_filename')/*tpa=http://www.peabodyenergy.com/radcontrols/menu/Common/Menu/ShadowBottom.png*/;
}

.RadMenu .rmRoundedCorners li.rmBottomShadowLeft,
.RadMenu .rmRoundedCorners .rmBottomShadowRight,
.rmRoundedCorners .rmGroup li.rmBottomShadowLeft,
.rmRoundedCorners .rmGroup .rmBottomShadowRight
{
	background-image: url('Unknown_83_filename')/*tpa=http://www.peabodyenergy.com/radcontrols/menu/Common/Menu/RoundedShadowBottom.png*/;
}

.RadMenu .rmShadows .rmTopShadowRight,
.rmShadows .rmGroup .rmTopShadowRight
{
	right: -5px;
	background-image: url('Unknown_83_filename')/*tpa=http://www.peabodyenergy.com/radcontrols/menu/Common/Menu/ShadowRight.png*/;
	background-position: 100% 0;
}

.RadMenu .rmBottomShadowLeft
{
	bottom: -5px;
	left: 1px;
	background-position: 0 100%;
}

.RadMenu .rmBottomShadowRight
{
	bottom: -5px;
	right: -5px;
	width: 4px;
	height: 5px;
}

.RadMenu .rmScrollWrapContainer .rmTopShadowRight
{
	right: -4px;
}

.RadMenu .rmScrollWrapContainer .rmBottomShadowRight
{
	bottom: -4px;
	right: -4px;
	width: 3px;
	height: 4px;
}

.RadMenu .rmScrollWrapContainer .rmBottomShadowLeft
{
	bottom: -4px;
}

.RadMenu .rmRoundedCorners .rmTopShadowRight,
.rmRoundedCorners .rmGroup .rmTopShadowRight
{
	right: -8px;
	background-image: url('Unknown_83_filename')/*tpa=http://www.peabodyenergy.com/radcontrols/menu/Common/Menu/RoundedShadowRight.png*/;
}

.RadMenu .rmRoundedCorners .rmBottomShadowLeft,
.rmRoundedCorners .rmGroup .rmBottomShadowLeft
{
	bottom: -8px;
}

.RadMenu .rmRoundedCorners .rmBottomShadowRight,
.rmRoundedCorners .rmGroup .rmBottomShadowRight
{
	bottom: -8px;
	right: -8px;
	width: 7px;
	height: 8px;
}

* html .RadMenu .rmRoundedCorners .rmBottomShadowRight,
* html .rmRoundedCorners .rmGroup .rmBottomShadowRight
{
	width: 11px;
	height: 8px;
	font-size: 0;
}

.RadMenu .rmAccessKey
{
	font-size: 10px;
	font-weight: normal;
	float: right;
	padding-right: 8px;
}

.RadMenu .rmRoundedCorners .rmGroup .rmItem,
.rmRoundedCorners .rmGroup .rmItem
{
	z-index: 1;
}

* html .RadMenu .rmRoundedCorners .rmGroup .rmText,
* html .RadMenu .rmShadows .rmGroup .rmText, 
* html .rmRoundedCorners .rmGroup .rmText,
* html .rmShadows .rmGroup .rmText { zoom: normal }

.RadMenu .rmRoundedCorners .rmSlide .rmScrollWrap,
.rmRoundedCorners .rmScrollWrapContainer .rmScrollWrap
{
	background-image: none;
}

.RadMenu .rmRoundedCorners .rmSlide,
.RadMenu .rmShadows .rmSlide,
.rmRoundedCorners .rmSlide,
.rmShadows .rmSlide,
div.rmRoundedCorners,
div.rmShadows
{
	padding: 0 8px 10px 0;
}

.RadMenu .rmRoundedCorners ul.rmGroup,
.rmRoundedCorners .rmGroup ul.rmGroup,
.rmRoundedCorners ul.rmGroup
{
	margin-top: 1px;
	padding: 1px;
}

.RadMenu .rmRoundedCorners ul.rmGroup .rmSlide,
.rmRoundedCorners ul.rmGroup .rmSlide
{
	margin-top: -5px;
}

.RadMenu_rtl .rmRoundedCorners ul.rmGroup .rmSlide,
.RadMenu_rtl.rmRoundedCorners ul.rmGroup .rmSlide
{
	margin-right: -5px;
}

.RadMenu .rmRoundedCorners .rmSlide .rmScrollWrap,
.rmRoundedCorners .rmSlide .rmScrollWrap
{
	border: 0;
}

.RadMenu .rmRoundedCorners .rmScrollWrap,
.RadMenu .rmShadows .rmScrollWrap,
.rmRoundedCorners .rmScrollWrap,
.rmShadows .rmScrollWrap
{
	position: relative;
}

.RadMenu .rmRoundedCorners .rmScrollWrapContainer,
.rmRoundedCorners .rmScrollWrapContainer
{
	padding: 4px 0 0 4px;
}

.RadMenu .rmScrollWrapContainer
{
	position: absolute;
}

.RadMenu .rmScrollWrapContainer .rmTopFix
{
	height: 100%;
}

* html .RadMenu .rmScrollWrapContainer .rmTopFix
{
	height: 5px;
}

.RadMenu .rmRoundedCorners ul.rmGroup,
.rmRoundedCorners .rmGroup ul.rmGroup,
.rmRoundedCorners ul.rmGroup
{
	padding: 4px 0 0 4px;
}

.RadMenu .rmScrollWrapContainer .rmGroup,
.rmScrollWrapContainer .rmGroup .rmGroup,
.rmScrollWrapContainer .rmGroup
{
	padding: 0;
}

/* </Shadows and rounded corners */

.RadMenu .rmRootGroup .rmItem .rmGroup
{
	padding-bottom: 1px;
}

.RadMenu .rmRoundedCorners .rmItem .rmGroup
{
	padding-bottom: 0;
}

.RadMenu .rmGroup .rmItem
{
	padding: 0;
	margin: 0;
}

.RadMenu .rmGroup .rmLink,
.RadMenu .rmSlide .rmGroup .rmTemplate
{
	padding: 0;
}

.RadMenu_rtl .rmGroup .rmLink,
.RadMenu_rtl .rmSlide .rmGroup .rmTemplate
{
	padding: 0;
}

.RadMenu .rmGroup .rmText
{
	padding: 4px 28px 4px 24px;
	margin: 0 0 0 4px;

}

.RadMenu_rtl .rmGroup .rmText
{
	padding: 0 28px 0 54px;
	margin: 0 4px 0 0;
}

.RadMenu .rmMultiColumn
{
	list-style: none;
	display: block;
   	position: relative;
	margin: 0;
	padding: 0;
	zoom: 1;
}

.RadMenu .rmMultiColumn .rmGroup
{
	background: none;
	border: 0;
	float: left;
	display: block;
}

.RadMenu .rmMultiColumn .rmGroupColumn
{
	float: left;
}

.RadMenu_rtl .rmMultiColumn .rmGroupColumn  
{
	float: right;
}

*+html .RadMenu_rtl .rmMultiColumn .rmItem { float: left; }
* html .RadMenu_rtl .rmMultiColumn .rmItem { float: left; }

.RadMenu .rmSlide .rmVertical .rmLeftImage+.rmText,
.RadMenu_Context .rmGroup .rmLeftImage+.rmText
{
	padding: 0 54px 0 28px;
}

.RadMenu_rtl .rmSlide .rmVertical .rmLeftImage+.rmText,
.RadMenu_Context_rtl .rmGroup .rmLeftImage+.rmText
{
	padding: 0 28px 0 54px;
}

.RadMenu .rmSlide .rmHorizontal .rmText
{
	padding: 0 11px 0 10px;
}

.RadMenu .rmGroup .rmLeftImage
{
	margin: 4px 0 0 6px;
}

* html .RadMenu .rmGroup .rmLeftImage { margin-left: 4px; }
*+html .RadMenu .rmGroup .rmLeftImage { margin-left: 4px; }

.RadMenu_rtl .rmGroup .rmLeftImage
{
	margin: 4px 6px 0 0;
}

* html .RadMenu .rmGroup .rmLeftImage { position: absolute; }
*+html .RadMenu .rmGroup .rmLeftImage { position: absolute; }

* html .RadMenu_rtl .rmGroup .rmLeftImage { right: 0; }
*+html .RadMenu_rtl .rmGroup .rmLeftImage { right: 0; }

*+html .RadMenu_Context_rtl ul.rmGroup { position: absolute; }
* html .RadMenu_Context_rtl ul.rmGroup { position: absolute; }

*+html .RadMenu_Context_rtl .rmGroup .rmItem { float: left; }
* html .RadMenu_Context_rtl .rmGroup .rmItem { float: left; }

/* <separators> */

.RadMenu .rmSeparator .rmText
{
	line-height: 0;
	font-size: 0;
	padding: 0;
	background-repeat: repeat-x;
	overflow: hidden;
}

.RadMenu .rmVertical .rmSeparator .rmText,
.RadMenu .rmHorizontal .rmVertical .rmSeparator .rmText
{
	height: auto;
	width: auto;
	padding-bottom: 2px;
}

*+html .RadMenu .rmSeparator .rmText,   /* IE7 separator height problem */
*+html .RadMenu .rmVertical .rmSeparator .rmText,
*+html .RadMenu .rmHorizontal .rmVertical .rmSeparator .rmText
{
	height: 2px;
	padding: 0;
}

* html .RadMenu .rmVertical .rmSeparator { height: 3px; }
* html .RadMenu .rmVertical .rmSeparator .rmText { height: auto; padding: 2px 0 0; }
* html .RadMenu .rmHorizontal .rmSeparator .rmText { padding: 0; }
* html .RadMenu .rmHorizontal .rmVertical .rmSeparator { height: 3px; }
* html .RadMenu .rmHorizontal .rmVertical .rmSeparator .rmText { height: 2px; }

.RadMenu .rmRootGroup .rmSeparator .rmText
{
	margin: 1px 12px;
}

.RadMenu .rmRootGroup .rmVertical .rmSeparator .rmText,
.RadMenu_Context .rmVertical .rmSeparator .rmText
{
	margin: 1px 2px 1px 31px;
}

.RadMenu_rtl .rmRootGroup .rmVertical .rmSeparator .rmText,
.RadMenu_Context_rtl .rmVertical .rmSeparator .rmText
{
	margin: 1px 31px 1px 2px;
}

.RadMenu .rmHorizontal .rmSeparator .rmText,
.RadMenu .rmVertical .rmHorizontal .rmSeparator .rmText
{
	margin: 2px 0 0;
	height: 20px;
	width: 2px;
}

* html .RadMenu .rmHorizontal .rmVertical .rmSeparator .rmText
{
	zoom: 1;
}

/* </separators> */

/* <scroll arrows> */

.RadMenu .rmLeftArrow,
.RadMenu .rmRightArrow
{
	width: 10px;
	height: 24px;
}

.RadMenu .rmTopArrow,
.RadMenu .rmBottomArrow
{
	height: 10px;
	width: 100%;
}

/* </scroll arrows> */

/* </base styles> */