/*IE 6 Only*/
#logo 
{
    position:absolute !important; 
    left:50px !important; 
    top:0 !important; 
    z-index:99 !important;
}
#main_navigation 
{
    z-index:95 !important; 
    left:50px !important; 
    top:100px !important; 
    position:absolute !important;
}
#breadcrumb 
{
    position:absolute !important; 
    left:45px !important; 
    top:0 !important; 
    z-index:99 !important;
}
.meal_image
{
    position: relative;
}
.meal_image img 
{
    position: absolute;
    top: 0px;
    left: 0px;
}
.meal_product_icons 
{
    position: relative;
    background-image: none !important;
}
#page_divide 
{
    margin-left: 56px;
    margin-top: -7px;
}
.food_column 
{
    width: 225px !important;
}

#cboxOverlay
{
    background-image:none;
    background-color:#1c1c1c;   
    opacity:0.5; 
    filter:alpha(opacity=70) !important;
    zoom:1; /* hasLayout  */
    display:block;
} 