body #modal-wrap .overlaygallery{margin-top:10px;}

body #modal-wrap {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

body #modal-wrap h1 {

	padding-left: 31px;
	font: normal 25px/25px 'TradeGothic-CnBold', 'Arial Narrow', sans-serif;
	margin: 10px 0 0 13px;
	text-transform: uppercase;
	letter-spacing: -0.005em;
	color: #F60;
}

body #modal-wrap sup {
	top: 0.5em;
	vertical-align: top;
}

body #modal-wrap h2 {
	font: normal 18px/22px 'TradeGothic-CnBold', 'Arial Narrow', sans-serif;
	margin: 3px 200px 3px 0px;
	text-transform: uppercase;
	color: #FFFFFF;
	letter-spacing: -0.005em;
}

body #modal-wrap h3 {
	font: normal 18px/22px 'TradeGothic-CnBold', 'Arial Narrow', sans-serif;
	margin: 3px 200px 3px 13px;
	text-transform: uppercase;
	color: #FFF;
	letter-spacing: -0.005em;
}

body #modal-wrap h3 .price {
	font-size: 13px;
}

body #modal-wrap .description {
	margin: 3px 13px 10px 13px;
	font: normal 13px/18px Arial, sans-serif;
	color: #CCC;
	height: 36px;
}


body #modal-wrap .button {
	font-size: 14px;
	line-height: 26px;
	height: 26px;
	max-height: 26px;
	font-family: 'TradeGothic-Cn', 'Arial Narrow', 'Impact', sans-serif;
	display: inline-block;
	overflow: hidden;
	color: #fffefe;
	text-transform: uppercase;
	font-weight: normal;
	text-decoration: none;
	background-color: #ec5b00;
	padding: 0 11px;
}
body #modal-wrap .button {
	height: 16px;
	line-height: 11px;
	max-height: 11px;
	font-size: 11px;
	margin-bottom: -3px;
	margin-left: 3px;
	padding: 3px 7px 2px 7px;
	font-family: 'TradeGothic-Cn', 'Arial Narrow', sans-serif;
	background-repeat: repeat-x;
	background-position: 0 0;
	vertical-align: middle;
	position: relative;
	top: -4px;
}

/* IE 7 */
body #modal-wrap .button { *vertical-align: baseline; *top: 0; }

body #modal-wrap .button:hover {
	text-decoration: none;
/* 	background-color: #ff761a; */
	background-position: 0 -16px !important;
}

body #modal-wrap .button span {

	background-repeat: no-repeat;
	background-position: 100% 2px;		
	padding-right: 27px;
}

body #modal-wrap .button.target span {
	background-position: 100% -22px;
	padding-right: 31px;
}

body #modal-wrap .button.external span {
	background-position: 100% -47px;
	padding-right: 31px;
}



body #modal-wrap .button span {
	padding-right: 13px;
	line-height: 11px;
	background-position: 100% -151px;
}

.overflowgallery, .insetgallery {
	overflow: visible !important;
}

.overlaygallery .stage {
	width: 851px;
	height: 496px;
	overflow: hidden;
}

.overlaygallery .stage-wrap {
	overflow: hidden;
	position: relative;
}

.overlaygallery .stage-items {
	overflow: visible;
	position: relative;
}

.overlaygallery .left-arrow, .overlaygallery .right-arrow {
	position: absolute;
	top: 230px;
	left: 0px;
	width: 45px;
	height: 49px;
	display: block;
	z-index: 2;
	overflow: hidden;
	text-decoration: none;
	outline: none;
}


.overlaygallery .left-arrow .preview,  .overlaygallery .right-arrow .preview {
	height: 49px;
	width: 125px;
	position: relative;
	display: block;
}
.overlaygallery .left-arrow .preview img,  .overlaygallery .right-arrow .preview img {
	height: 49px;
	width: 80px;
	display: block;
	opacity: 1;
	filter: alpha(opacity=100);
	position: absolute;
	top: 0px;
	left: 45px;
	text-decoration: none;
	border: 0px;
}
.overlaygallery .left-arrow .preview .current-count,  .overlaygallery .right-arrow .preview .current-count {
	position: absolute;
	left: 125px;
	top: 0px;
	width: 45px;
	height: 49px;
	display: block;
	text-align: center;
	background-color: #000;
	font: bold 14px/49px Arial, sans-serif;
	color: #CCC;
	text-decoration: none;
	display: none;
}
.overlaygallery .left-arrow .arw,  .overlaygallery .right-arrow .arw {
	position: absolute;
	left: 0;
	/*background: url(/etc/designs/h-d/clientlibs.mediaplayer/images/common/gallery/arrows-left.png) no-repeat scroll 0 -59px transparent;*/
    height: 49px;
    width: 45px;
    background: url(/etc/designs/h-d/clientlibs.common/images/simages/common/site-chrome-scfbacd5f72.png) 0 -553px no-repeat !important;
	display: block;
}
.overlaygallery .left-arrow:hover .preview .current-count,  .overlaygallery .right-arrow:hover .preview .current-count {
	display: block;
}
.overlaygallery .left-arrow:hover .arw,  .overlaygallery .right-arrow:hover .arw {
	background-position: 0;
}
.overlaygallery .right-arrow {
	left: auto;
	right: 0;
}
.insetgallery.overlaygallery .right-arrow {
	right: 0;
}
.overlaygallery .right-arrow .preview .current-count {
	left: 0;
	right: auto;
}
.overlaygallery .right-arrow .arw {
	/*background: url(/etc/designs/h-d/clientlibs.mediaplayer/images/common/gallery/arrows-right.png) no-repeat scroll right -59px transparent;*/
    height: 49px;
    width: 45px;
    background: url(/etc/designs/h-d/clientlibs.common/images/simages/common/site-chrome-scfbacd5f72.png) 0 -376px no-repeat !important;
	left: auto;
	right: 0px;
}
.overlaygallery .right-arrow:hover .arw {
	background-position: right 0px;
}
.overlaygallery .figure {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 851px;
	height: 496px;
	background: url(/etc/designs/h-d/clientlibs.common/images/common/loading_000000_34x34.gif) no-repeat center center;
}
.overlaygallery img {
	width: 851px;
	height: 458px;
	display: none;
}

#inspired .overlaygallery img{margin-top:7px; float:none;}


.overlaygallery .figcaption {
	padding: 0;
	
	background-color: #000;
}
.overlaygallery .figcaption .label {
}

.playlist-wrap {
	position: relative;;
	padding: 0px;
	height: 76px;
	width: 700px;
	overflow: hidden;
	margin: 15px 0 14px 76px;
	
	/*background: url(/en_US/Media/images/common/gallery/playlist-background.png) repeat-x 0px bottom;*/
}

.insetgallery .playlist-wrap, .overlaygallery .playlist-wrap {
	width: 930px;
	height: 76px;
	margin: 15px 0 0 -39px;
}

.playlist {
	height: 80px;
	overflow: hidden;
	margin: 0 auto 0 45px;
	width: 615px;
	position: relative;
}

.insetgallery .playlist, .overlaygallery .playlist {
	width: 852px;
	height: 76px;
	margin: 0 auto;
}


/*#inspired .overlaygallery .playlist{margin-left: 34px !important;}*/

#inspired .photo-viewer h3{line-height: 20px !important;}

#inspired .stage{height:534px;}

.playlist .active-mask {
	position: absolute;
	top: -2px;
	left: 0px;
	border: 2px solid #F60;
	width: 108px;
	height: 72px;
	z-index: 2;
}

.insetgallery .playlist .active-mask, .overlaygallery .playlist .active-mask {
	top: 0px;
	margin: 0;
	width: 104px !important;
}

.playlist-wrap a.next, .playlist-wrap a.previous {
	position: absolute;
	top: 18px;
	width: 34px;
	height: 36px;
	overflow: hidden;
	text-decoration: none;
	text-indent: -9999px;
	display: block;
	outline: none;
	background-image: url(/etc/designs/h-d/clientlibs.darkcustom/en_US/Media/images/common/gallery/playlist-controls.png);
	background-repeat: no-repeat;
	z-index: 2;
}

.playlist-wrap a.next{
 	background-position: 0 -19px;
}


.playlist-wrap .previous {
	background-position: 0 -85px;
}

.playlist-wrap a.next{right:0;}
.insetgallery .playlist-wrap a.next, .overlaygallery .playlist-wrap a.next {
	right: 22px;
}
.insetgallery .playlist-wrap a.previous, .overlaygallery .playlist-wrap a.previous {
	left: 22px;
}


.playlist ul {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	height: 80px;
	z-index: 1;
	position: relative;
}

.playlist li {
	list-style: none;
	float: left;
	margin-right: 16px;
	width: 110px;
	height: 72px;
}

.overlaygallery .playlist li, .insetgallery .playlist li {
	margin-top: 2px;
	width: 108px;
}

.playlist li .thumb {
	display: block;
	width: 108px;
	height: 72px;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	overflow: hidden;
	cursor: pointer;
	outline: none;
}

.overlaygallery .playlist li .thumb {
	background-position: 50% 50% !important;
}

.videogallery .playlist li .thumb {
	height: auto !important;
}

.playlist li.active .thumb {
	border-color: #F60;
}
#modal-wrap .overlaygallery .figure img {
height: 496px;
width: auto;
margin:0px; 
float:none;}

#inspired .stage-wrap img {margin: 36px auto 0 auto; height: 458px;}

#inspired .stage-wrap .left-arrow img, #inspired .stage-wrap .right-arrow img {
	margin: 0;
	width: 80px;
	height: 49px;
}

.playlist ul li a:hover {text-decoration:none;}
.imageGalTitle > sup {
    top: 6px !important;
	padding-left: 0;
    padding-right: 3px;
}
