/* Updated 04/04/2011 9:00 am */
body
{
	font-family: Arial;
	font-size: 12px;
	color:#7C756C;
	line-height:14px;
	padding:0;
	margin:0 auto;
	background:#333844 url(images/common/body_bg.jpg)/*tpa=http://www.antheminc.com/prodcontrib/fragments/wp-global-css/images/common/body_bg.jpg*/ repeat-x top left;
}
#wrapper_home
{
	width:947px;
	height:736px;
	margin-left:auto;
	margin-right:auto;
	background-color: white;
	overflow-x:hidden;
}
#wrapper
{
	width:947px;
	margin-left:auto;
	margin-right:auto;
	background-color: white;
	overflow-x:hidden;
}
#header
{
	height:73px;
	width:100%;
	margin-bottom:33px;
	background:url(images/common/round_corner_top.jpg)/*tpa=http://www.antheminc.com/prodcontrib/fragments/wp-global-css/images/common/round_corner_top.jpg*/ no-repeat top right;
}
.logo
{
	padding:35px 10px 0 20px;
	float:left;
}
.logo img
{
	width:152px;
	height:38px;
}
.tagline
{
	padding:55px 0 0 10px;
	float:left;
}
.tagline img
{
	width:161px;
	height:19px;
}
.stockInfo
{
	padding-right:20px;
	padding-top:5px;
	text-align:right;
	display:block;
}
.stockInfo p
{
    padding-top:0;
    margin-top:0;
}
.stockInfo p img
{
    padding-left:5px;
 }
.googleSearch
{
	padding-right:20px;
	display:block;
	text-align:right;
	line-height:23px;
	vertical-align:top;
}
.googleSearch img
{
	padding:0px 5px;
}
.disability
{
	padding-right:14px;
	display:block;
	text-align:right;
	line-height:23px;
	vertical-align:top;
}
.disability img
{
	padding:2px 5px;
}

input.searchBox
{
	border:0;
	width:152px;
	height:20px;
	padding-top:3px;
	padding-left:5px;
	font-size:12px;
	background:url(images/common/search_box.gif)/*tpa=http://www.antheminc.com/prodcontrib/fragments/wp-global-css/images/common/search_box.gif*/ no-repeat scroll top right;
	vertical-align:top;
}
.searchBtn
{
	height:23px;
	width:56px;
	border:0px;
	vertical-align:top;
}
#contentArea
{
	padding:17px 20px 0px 20px;
	background:#EEF2F3 url(images/common/rounded_corner_btm.jpg)/*tpa=http://www.antheminc.com/prodcontrib/fragments/wp-global-css/images/common/rounded_corner_btm.jpg*/ no-repeat bottom left;
	z-index:99;
	width:907px;
}
#contentArea_NoleftNav
{
	padding:17px 20px 0px 204px;
	background:#EEF2F3 url(images/common/rounded_corner_btm.jpg)/*tpa=http://www.antheminc.com/prodcontrib/fragments/wp-global-css/images/common/rounded_corner_btm.jpg*/ no-repeat bottom left;
	z-index:99;
}
#leftNav
{
	width:184px;
	float:left;
}
.mainContent_leftCol
{
	width:701px;
	float:left;
	margin-left:20px;
}
.mainContent_rightCol
{
	width:701px;
	float:left;
	margin-right:20px;
}
.mainContent_leftrightCol
{
	width:495px;
	float:left;
	padding-left:20px;
	padding-right:20px;
}
.contentRight
{
	width:184px;
	float:left;

}
.contentRight_Inner
{
	padding:13px;
	background-color:#ffffff;
	border:solid 1px #b9b9b9;
	margin-bottom:10px;
}
.mainContent .content_Header
{
	background:url(images/common/center_body_box_top_biggest.gif)/*tpa=http://www.antheminc.com/prodcontrib/fragments/wp-global-css/images/common/center_body_box_top_biggest.gif*/ no-repeat top left;
	height:55px;
}
.mainContent .content_Footer
{
	background:url(images/common/center_body_box_bottom_biggest.gif)/*tpa=http://www.antheminc.com/prodcontrib/fragments/wp-global-css/images/common/center_body_box_bottom_biggest.gif*/ no-repeat bottom left;
	height:20px;
}
.mainContent_leftCol .content_Header, .mainContent_rightCol .content_Header
{
	background:url(images/common/center_body_box_top_big.gif)/*tpa=http://www.antheminc.com/prodcontrib/fragments/wp-global-css/images/common/center_body_box_top_big.gif*/ no-repeat top left;
	height:55px;
}
.mainContent_leftCol .content_Footer, .mainContent_rightCol .content_Footer
{
	background:url(images/common/center_body_box_bottom_big.gif)/*tpa=http://www.antheminc.com/prodcontrib/fragments/wp-global-css/images/common/center_body_box_bottom_big.gif*/ no-repeat bottom left;
	height:20px;
}
.mainContent_leftrightCol .content_Header
{
	background:url(images/common/center_body_box_top.gif)/*tpa=http://www.antheminc.com/prodcontrib/fragments/wp-global-css/images/common/center_body_box_top.gif*/ no-repeat top left;
	height:55px;
}

.mainContent_leftrightCol .content_Footer
{
	background:url(images/common/center_body_box_bottom.gif)/*tpa=http://www.antheminc.com/prodcontrib/fragments/wp-global-css/images/common/center_body_box_bottom.gif*/ no-repeat bottom left;
	height:20px;
}
.content_Main
{
	border-left:solid 1px #b9b9b9;
	border-right:solid 1px #b9b9b9;
	background-color:#ffffff;
	padding:0 16px;
	overflow:auto;
}
.marquee
{
	width: 907px;
	height:274px;
}
.touts {
    height: 291px;
    padding-top: 10px;
    width: 100%;
}
.toutBg {
    background: url("images/common/rounded_box_touts.gif")/*tpa=http://www.antheminc.com/prodcontrib/fragments/wp-global-css/images/common/rounded_box_touts.gif*/ no-repeat scroll left top transparent;
    float: left;
    height: 291px;
    overflow: hidden;
    width: 288px;
}
.toutContent {
    margin: 0 15px;
}
.toutContent h1 {
    margin: 0;
    padding-left: 0;
}
.toutText {
    height: 210px;
    overflow: hidden;
}
.socialNetwk
{
	text-align:right;
	display:block;
	clear:both;
	padding-top:12px;
	padding-bottom:10px;
}
.socialNetwk img
{
	padding-right:10px;
	width:20px;
	height:20px;
}
/* Start Footer and CopyRight styles*/
.pageFooter
{
	width:947px;
	margin:20px auto;
	color:#ffffff;
}
#footer
{
	height:35px;
	Font-size: 11px;
	Color: #FFFFFF;
	float:left;
}
#footer ul
{
	list-style: none;
	margin:0;
	padding:0;
}
#footer ul li
{
	border-left: solid 1px #ffffff;
	padding:0 12px;
	float:left;
}
#footer li:last-child a
{ border-right: none; } /* Doesn't work in IE */
.copyRight
{
	float:right;
	font-size:11px;
}
.pageFooter a:link, .pageFooter a:visited, .pageFooter a:active
{
	color:#ffffff;
}
.pageFooter a:hover
{
    color:#ffffff;
    text-decoration:underline;
}
/* End Footer and CopyRight styles*/
/* Start Global styles */
img { border:0;}
h1
{
	font-size:20px;
	font-weight:bold;
	color:#8C000D;
	Padding: 16px 0 16px 16px;
	margin:0;
}
h2
{
	font-size:14px;
	font-weight:bold;
	color:#8C000D;
	Padding: 6px 0 10px 0;
	margin-top:0;
	margin-bottom:0;
}
h3
{
	font-size:14px;
	color:#534D45;
	Padding: 12px 0 20px 16px;
	margin-top:0;
}
hr
{
	border: solid 1px #ECECEC;
	height:1px;
	border-top:solid 0px #ECECEC;
}

ul
{
	list-style-type:square;
}
td
{
	vertical-align:top;
}
a:link, a:visited
{
	Color: #0079C2;
	text-decoration: none;
	cursor:pointer;
}
a:hover
{
	Color: #0c0a56;
	text-decoration: Underline;
}

/*spacings, margins and paddings, float divs*/
.floatRt
{
	float:right;
}
.marginLt
{
    margin-left:20px;
}
.marginRt
{
    margin-right:20px;
}
.marginboth
{
    margin-left:20px;
    margin-right:20px;
}
/* List Basic and Split Table Styles*/
.listItems
{
    /*border:solid 1px #ECECEC;*/
}
.listHeader
{
    background-color:#ECECEC;
    padding:2px;
    border:solid 1px #ECECEC;
    font-weight:bold;
}
.listBody
{
    width:100%;
}
.listBody ul
{
    padding:0;
    margin:0;
    list-style-type:none;
}
.listBody ul li
{
   padding-left:20px;
   padding-bottom:10px;
   font-weight:bold;
}
.listBody ul li a
{
   margin-left:-10px;
}
.listBody ul li a img
{
   margin-left:10px;
}
/* List Basic Table */
.listBody_Basic ul
{
    padding:0;
    margin:0;
    list-style-type:none;
}
.listBody_Basic ul li
{
   padding:2px 10px;
   margin-bottom:7px;
}
.listBody td
{
	border-bottom: 2px solid #ECECEC;
	padding:10px 5px 10px 0;
}
.listBody td ul td {
    border-bottom: solid 0px #ECECEC;
    padding:0;
}
td.itemsLeft {
    border-bottom: solid 1px #ececec;
}
td.itemsRight {
    border-bottom: solid 1px #ececec;
}
.siteMap td
{
	margin:5px 10px;
	padding-left:20px;
	vertical-align:top;
}
.siteMap td h3
{
	border-top:solid 1px #7C756C;
	padding: 5px 0 0 0;
	margin-bottom:0;
}
.siteMap ul
{
	margin: 0;
    padding-bottom: 5px;
    padding-left: 20px;
}
.siteMap ul li
{
	list-style-type:none;
}
/* SiteMap Table styles*/
.siteMap
{
	line-height:16px;
}
.siteMap .content_Header
{
	background:none;
}
.siteMap .content_Footer
{
	background:none;
}
.siteMap h4
{
	line-height:0;
	margin-top:13px;
	margin-bottom:11px;
	margin-left:-10px;
}
.siteMap hr
{
	margin-bottom:0;
	margin-left:-20px;
}
/* Styles for investor homepage*/
.investInfo
{
	width:350px;
	margin-top:20px;
}
.investInfo table
{
	width:100%;
	border:solid 1px #dddddd;
}
div.stockheader
{
	margin-bottom:3px;
	padding:3px;
	height:15px;
	background-color:#D7D3AE;
}
.stockheader label
{
	font-weight:bold;
	float:left;
}
.stockheader span
{
	float:right;
}
.stockPluMinus
{
	color:#74A800;
	float:right;
	font-weight:bold;
}
.stockDateTime
{
	padding:4px;
	border-bottom:1px solid #DDDDDD;
}
td.stockDateTime label
{
	padding-right:30px;
	font-size:11px;
	float:left;
}
td.stockDateTime span
{
	float:right;
	font-size:11px;
}
td.wlpStock
{
	width:50%;
	border-right:1px solid #DDDDDD;
}
.wlpStock div
{
	font-size:16px;
	font-weight:bold;
	padding:0 10px 10px;
}
.stockPrice
{
	float:left;
}
.wlpStock span
{
	padding-left:10px;
	font-size:11px;
}
.otherStock div
{
	width:100%;
	float:left;
}
.otherStock div.borders
{
	border-bottom:solid 1px #dddddd;
	border-top:solid 1px #dddddd;
}
.otherStock div.stockName
{
	float:left;
	width:120px;
	padding:4px;
}
.otherStock div.stockName label
{
	float:right;
	text-align:right;
}
.otherStock div.stockName span
{
	float:left;
}
.otherStock div.stockPluMinus
{
	float:right;
	width: 40px;
	padding-top:4px;
}
.hide
{
	height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
}
#mobileCSS
{

}
.wpBorder
{
	border:solid 1px #ECECEC;
}
table.wpBorder
{
	border:solid 1px #ECECEC;
	border-right:solid 0px #ECECEC;
	border-bottom:solid 0px #ECECEC;
}
table.wpBorder td
{
	padding:5px;
	border-right:solid 1px #ECECEC;
	border-bottom:solid 1px #ECECEC;
}
.altRow
{
	border:solid 1px #ECECEC;
	border-right:solid 0px #ECECEC;
}
.altRow td
{
	padding:5px;
	border-right:solid 1px #ECECEC;
}
/*Embed video in center and right content*/
.videoWrapper
{
	width:100%;
	overflow:hidden;
}
.videoEmbCenter 
{
	float:left;
    overflow:hidden;
    display:inline;
    margin-top:15px;
}
.videoCenter
{
	float:left;
	width:256px;
}
.captionRight, .captionLeft {
    float: left;
}
.captionTop,.captionBottom
{
	display:block;
}
.captionText 
{
	width: 180px;
	margin-left:5px;
	margin-right:5px;
    margin-top:25px;
}
/*Modal window for marquee video*/
.ui-widget-overlay {
    height:100%;
    left:0;
    position:fixed;
    top:0;width:100%;
    background-color:#000;
    filter:alpha(opacity=30);
    -moz-opacity:.3;
    opacity:.3;
}
.ui-dialog
{
	background-color:#ffffff;
	padding:5px;
}
* html .ui-widget-overlay {
   position:absolute;
}
.ui-dialog
{
	position:absolute;
}
.ui-dialog .ui-dialog-titlebar {
    position: relative;
    /*padding: 0.4em 1em;
    margin-top:-30px;*/
    height:25px;
}
.ui-corner-all {
    -moz-border-radius: 0;
}
.ui-dialog .ui-dialog-titlebar-close {
    height: 18px;
    margin: -11px 0 0;
    padding: 1px;
    position: absolute;
    right: 0.1em;
    top: 50%;
    width: 19px;
}
.ui-dialog .ui-widget-header {
    background: url('images/common/close_bttn.png')/*tpa=http://www.antheminc.com/prodcontrib/fragments/wp-global-css/images/common/close_bttn.png*/ no-repeat top right;
    color: #999999;
    font-weight: bold;
    text-transform:uppercase;
  
}
.ui-widget-header .ui-icon {
    
}
.ui-helper-clearfix {
    display: block;
}
.ui-dialog .ui-dialog-content {
    border: 0 none;
    overflow: auto;
    padding:0;
    position: relative;
}
.ui-helper-reset {
    font-size: 100%;
    line-height: 1.3;
    list-style: none outside none;
    text-decoration: none;
}
/*.ui-dialog { position: absolute; padding: .2em; width: 300px; overflow: hidden; }*/
.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; height:40px; background-color:#FFFFFF; margin-top: -20px; padding: .3em 1em .5em .4em; display:none; }
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { float: right; margin-right:10px; position: relative; }
.ui-dialog .ui-dialog-buttonpane button 
{
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    height: 22px;
    margin: 0.5em 0.4em 0.5em 0;
    width: 107px;
}
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { }
.ui-dialog .ui-dialog-titlebar-close
{
	
}
.ui-icon-closethick {
    background-position: -96px -128px;
}
.ui-dialog .ui-dialog-titlebar-close span {
    display: none;
    margin: 1px;
}