/* In Stores Now */
.bargain-hunter .in-stores-now .bergain-top-image .img-bg {
  background-image: url(../images/bargainhunter/05232015/ie8/in-stores-desktop.jpg)/*tpa=http://www.rossstores.com/images/bargainhunter/05232015/ie8/in-stores-desktop.jpg*/;
}
/* Gifts Giving Ideas */
.bargain-hunter .gift-ideas .bergain-top-image .img-bg { 
  background-image: url(../images/bargainhunter/05232015/ie8/at-ross-desktop.jpg)/*tpa=http://www.rossstores.com/images/bargainhunter/05232015/ie8/at-ross-desktop.jpg*/;
}
/* Savvy Tips */
.bargain-hunter .savvy-tips .bergain-top-image .img-bg {
  background-image: url(../images/bargainhunter/05232015/ie8/savvy-tips-desktop.jpg)/*tpa=http://www.rossstores.com/images/bargainhunter/05232015/ie8/savvy-tips-desktop.jpg*/;
}

/** 
 * TABLET
 */
@media (max-width: 991px) {
  /* In Stores Now */
  .bargain-hunter .in-stores-now .bergain-top-image .img-bg {
    background-image: url(../images/bargainhunter/05232015/ie8/in-stores-tablet.jpg)/*tpa=http://www.rossstores.com/images/bargainhunter/05232015/ie8/in-stores-tablet.jpg*/;
  }
  /* Gifts Giving Ideas */
  .bargain-hunter .gift-ideas .bergain-top-image .img-bg { 
    background-image: url(../images/bargainhunter/05232015/ie8/at-ross-tablet.jpg)/*tpa=http://www.rossstores.com/images/bargainhunter/05232015/ie8/at-ross-tablet.jpg*/;
  }
  /* Savvy Tips */
  .bargain-hunter .savvy-tips .bergain-top-image .img-bg {
    background-image: url(../images/bargainhunter/05232015/ie8/savvy-tips-tablet.jpg)/*tpa=http://www.rossstores.com/images/bargainhunter/05232015/ie8/savvy-tips-tablet.jpg*/;
  }
}

/** 
 * SMALL TABLET
 */
@media (max-width: 767px) {
  /* In Stores Image */
  .bargain-hunter .in-stores-now .bergain-top-image .img-bg {
    background-image: url(../images/bargainhunter/05232015/ie8/in-stores-small-tablet.jpg)/*tpa=http://www.rossstores.com/images/bargainhunter/05232015/ie8/in-stores-small-tablet.jpg*/;
  }
  /* Savvy Image */
  .bargain-hunter .savvy-tips .bergain-top-image .img-bg {
    background-image: url(../images/bargainhunter/05232015/ie8/savvy-tips-small-tablet.jpg)/*tpa=http://www.rossstores.com/images/bargainhunter/05232015/ie8/savvy-tips-small-tablet.jpg*/;
  }
  /* Gifts Image */
  .bargain-hunter .gift-ideas .bergain-top-image .img-bg { 
    background-image: url(../images/bargainhunter/05232015/ie8/at-ross-small-tablet.jpg)/*tpa=http://www.rossstores.com/images/bargainhunter/05232015/ie8/at-ross-small-tablet.jpg*/;
  }
}

/**
 * MOBILE
 */
@media (max-width: 479px) {
  /* In Stores Image */
  .bargain-hunter .in-stores-now .bergain-top-image .img-bg {
    background-image: url(../images/bargainhunter/05232015/ie8/in-stores-mobile.jpg)/*tpa=http://www.rossstores.com/images/bargainhunter/05232015/ie8/in-stores-mobile.jpg*/;
  }
  /* Savvy Image */
  .bargain-hunter .savvy-tips .bergain-top-image .img-bg {
    background-image: url(../images/bargainhunter/05232015/ie8/savvy-tips-mobile.jpg)/*tpa=http://www.rossstores.com/images/bargainhunter/05232015/ie8/savvy-tips-mobile.jpg*/;
  }
  /* Gifts Image */
  .bargain-hunter .gift-ideas .bergain-top-image .img-bg { 
    background-image: url(../images/bargainhunter/05232015/ie8/at-ross-mobile.jpg)/*tpa=http://www.rossstores.com/images/bargainhunter/05232015/ie8/at-ross-mobile.jpg*/;
  }
}