

.homepage-header-content > .img.item-1 { background-image: url(../images/homepage/05312015/ie8/home-image-desktop-1.jpg)/*tpa=http://www.rossstores.com/images/homepage/05312015/ie8/home-image-desktop-1.jpg*/;}
.homepage-header-content > .img.item-2 { background-image: url(../images/homepage/05312015/ie8/home-image-desktop-2.jpg)/*tpa=http://www.rossstores.com/images/homepage/05312015/ie8/home-image-desktop-2.jpg*/;}
.homepage-header-content > .img.item-3 { background-image: url(../images/homepage/05312015/ie8/home-image-desktop-3.jpg)/*tpa=http://www.rossstores.com/images/homepage/05312015/ie8/home-image-desktop-3.jpg*/;}
.homepage-header-content > .img.item-4 { background-image: url(../images/homepage/05312015/ie8/home-image-desktop-4.jpg)/*tpa=http://www.rossstores.com/images/homepage/05312015/ie8/home-image-desktop-4.jpg*/;}



/**
 * HEADER TABLET
 */
@media (min-width: 600px) and (max-width: 991px) {
  .homepage-header-content > .img.item-1 { background-image: url(../images/homepage/05312015/ie8/home-image-small-tablet-1.jpg)/*tpa=http://www.rossstores.com/images/homepage/05312015/ie8/home-image-small-tablet-1.jpg*/;}
  .homepage-header-content > .img.item-2 { background-image: url(../images/homepage/05312015/ie8/home-image-small-tablet-2.jpg)/*tpa=http://www.rossstores.com/images/homepage/05312015/ie8/home-image-small-tablet-2.jpg*/;}
  .homepage-header-content > .img.item-3 { background-image: url(../images/homepage/05312015/ie8/home-image-small-tablet-3.jpg)/*tpa=http://www.rossstores.com/images/homepage/05312015/ie8/home-image-small-tablet-3.jpg*/;}
  .homepage-header-content > .img.item-4 { background-image: url(../images/homepage/05312015/ie8/home-image-small-tablet-4.jpg)/*tpa=http://www.rossstores.com/images/homepage/05312015/ie8/home-image-small-tablet-4.jpg*/;}
}

/* Bootstrap grid should be modified to match custom breakpoints!! Unfortunatelly I have to make exception :/ */
@media (min-width: 768px) and (max-width: 991px) {
  .homepage-header-content > .img.item-1 { background-image: url(../images/homepage/05312015/ie8/home-image-tablet-1.jpg)/*tpa=http://www.rossstores.com/images/homepage/05312015/ie8/home-image-tablet-1.jpg*/;}
  .homepage-header-content > .img.item-2 { background-image: url(../images/homepage/05312015/ie8/home-image-tablet-2.jpg)/*tpa=http://www.rossstores.com/images/homepage/05312015/ie8/home-image-tablet-2.jpg*/;}
  .homepage-header-content > .img.item-3 { background-image: url(../images/homepage/05312015/ie8/home-image-tablet-3.jpg)/*tpa=http://www.rossstores.com/images/homepage/05312015/ie8/home-image-tablet-3.jpg*/;}
  .homepage-header-content > .img.item-4 { background-image: url(../images/homepage/05312015/ie8/home-image-tablet-4.jpg)/*tpa=http://www.rossstores.com/images/homepage/05312015/ie8/home-image-tablet-4.jpg*/;}
}

/**
 * HEADER SMALL TABLET
 */
@media (max-width: 599px) {
  .homepage-header-content > .img.item-1 { background-image: url(../images/homepage/05312015/ie8/home-image-mobile-1.jpg)/*tpa=http://www.rossstores.com/images/homepage/05312015/ie8/home-image-mobile-1.jpg*/;}
  .homepage-header-content > .img.item-2 { background-image: url(../images/homepage/05312015/ie8/home-image-mobile-2.jpg)/*tpa=http://www.rossstores.com/images/homepage/05312015/ie8/home-image-mobile-2.jpg*/;}
  .homepage-header-content > .img.item-3 { background-image: url(../images/homepage/05312015/ie8/home-image-mobile-3.jpg)/*tpa=http://www.rossstores.com/images/homepage/05312015/ie8/home-image-mobile-3.jpg*/;}
  .homepage-header-content > .img.item-4 { background-image: url(../images/homepage/05312015/ie8/home-image-mobile-4.jpg)/*tpa=http://www.rossstores.com/images/homepage/05312015/ie8/home-image-mobile-4.jpg*/;}
}



/**
 * BOXES DESKTOP
 */

/* Assets backgrounds desktop */
.homepage .item.big-1 { background-image: url(../images/homepage/05312015/ie8/promo-desktop.jpg)/*tpa=http://www.rossstores.com/images/homepage/05312015/ie8/promo-desktop.jpg*/; background-position: 100% 0;}
.homepage .item.small-1 { background-image: url(../images/homepage/05312015/ie8/instagram-desktop.jpg)/*tpa=http://www.rossstores.com/images/homepage/05312015/ie8/instagram-desktop.jpg*/;}
.homepage .item.big-2 { background-image: url(../images/homepage/05312015/ie8/influencer-desktop.jpg)/*tpa=http://www.rossstores.com/images/homepage/05312015/ie8/influencer-desktop.jpg*/;}
.homepage .item.small-2 { background-image: url(../images/homepage/05312015/ie8/travel-desktop.jpg)/*tpa=http://www.rossstores.com/images/homepage/05312015/ie8/travel-desktop.jpg*/;}


/**
 * BOXES TABLET
 */
@media (max-width: 991px) {
  /* Assets backgrounds tablet */
  .homepage .item.big-1 { background-image: url(../images/homepage/05312015/ie8/promo-tablet.jpg)/*tpa=http://www.rossstores.com/images/homepage/05312015/ie8/promo-tablet.jpg*/; background-position: 50% 0;}
  .homepage .item.small-1 { background-image: url(../images/homepage/05312015/ie8/instagram-tablet.jpg)/*tpa=http://www.rossstores.com/images/homepage/05312015/ie8/instagram-tablet.jpg*/;}
  .homepage .item.big-2 { background-image: url(../images/homepage/05312015/ie8/influencer-tablet.jpg)/*tpa=http://www.rossstores.com/images/homepage/05312015/ie8/influencer-tablet.jpg*/; background-position: 100% 0;}
  .homepage .item.small-2 { background-image: url(../images/homepage/05312015/ie8/travel-tablet.jpg)/*tpa=http://www.rossstores.com/images/homepage/05312015/ie8/travel-tablet.jpg*/;}
}

/* Really bad exception because of bootstrap was not adapted to required breakpoints */
@media (max-width: 767px) {
  /* Assets backgrounds */
  .homepage .item.big-1 { background-image: url(../images/homepage/05312015/ie8/promo-small-tablet.jpg)/*tpa=http://www.rossstores.com/images/homepage/05312015/ie8/promo-small-tablet.jpg*/; background-position: 0 0; }
  .homepage .item.small-1 { background-image: url(../images/homepage/05312015/ie8/instagram-small-tablet.jpg)/*tpa=http://www.rossstores.com/images/homepage/05312015/ie8/instagram-small-tablet.jpg*/;}
  .homepage .item.big-2 { background-image: url(../images/homepage/05312015/ie8/influencer-small-tablet.jpg)/*tpa=http://www.rossstores.com/images/homepage/05312015/ie8/influencer-small-tablet.jpg*/; background-position: 0 0;}
  .homepage .item.small-2 { background-image: url(../images/homepage/05312015/ie8/travel-small-tablet.jpg)/*tpa=http://www.rossstores.com/images/homepage/05312015/ie8/travel-small-tablet.jpg*/;}
}




/**
* Mobile
*/
@media (max-width: 479px) {
  /* Assets backgrounds mobile */
  .homepage .item.big-1 { background-image: url(../images/homepage/05312015/ie8/promo-mobile.jpg)/*tpa=http://www.rossstores.com/images/homepage/05312015/ie8/promo-mobile.jpg*/; background-position: 40% 0;}
  .homepage .item.small-1 { background-image: url(../images/homepage/05312015/ie8/instagram-mobile.jpg)/*tpa=http://www.rossstores.com/images/homepage/05312015/ie8/instagram-mobile.jpg*/;}
  .homepage .item.big-2 { background-image: url(../images/homepage/05312015/ie8/influencer-mobile.jpg)/*tpa=http://www.rossstores.com/images/homepage/05312015/ie8/influencer-mobile.jpg*/; background-position: 48% 0;}
  .homepage .item.small-2 { background-image: url(../images/homepage/05312015/ie8/travel-small-tablet.jpg)/*tpa=http://www.rossstores.com/images/homepage/05312015/ie8/travel-small-tablet.jpg*/;}
}

@media (max-width: 359px) {
  /* Assets backgrounds mobile */
  .homepage .item.small-2 { background-image: url(../images/homepage/05312015/ie8/travel-mobile.jpg)/*tpa=http://www.rossstores.com/images/homepage/05312015/ie8/travel-mobile.jpg*/; background-position: 40% 0;}
}