body.departments .level1Wrapper {
    position: absolute;
    overflow: hidden;
    max-height: 2000px;
    padding-top: 9px;
    height: 376px;
    top: 94px;
    left: -180px;
    width: 255px;
    padding-right: 3px;
    background: #fff;
    opacity: 0.95;
    display: block;
}

body.departments .level1Wrapper ul {
    background: #fff;
}