@import url(font-awesome.css)/*tpa=http://www.rossstores.com/styles/font-awesome.css*/;

/* Font */

/* futura light */
.copy-box-logo {
  font-family: "futura-pt", sans-serif;
  font-weight: 300;
}

/* futura regular */
.bread-crumbs > li,
.item-box > p{
  font-family: HelveticaNeueMedium;
  font-weight: 400;
  font-style: normal;
}

/* futura medium */
/*{
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
  font-style: normal;
}*/

/* futura heavy */
.home,
.dds-footer .first ul > li > a,
.dds-footer .second ul > li > a,
.bread-crumbs > li.first,
.latest-in-stores h2,
.item-box > a,
.sign-up-email,
.like-on-facebook,
.what-we-carry,
.search-for-jobs,
.category-copy.dds-theme-c h1,
.carousel .category-copy a {
  font-family: HelveticaNeueMedium;
  font-weight: 700;
}


/* museo light */
.dds-footer .form-control {
  font-family: "museo-sans", sans-serif;
  font-weight: 300;
}


/* museo regular */
.category-copy {
  font-family: "museo-sans", sans-serif;
  font-weight: 500;
}

/* caflish */
.category-copy.dds-theme-a h1,
.category-copy.dds-theme-b h1,
.wwc-heading-container h1 {
  font-family: "caflisch-script-pro", sans-serif;
}




/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "nimbus-sans", Helvetica, Arial, sans-serif;
  color: #595959;
  line-height: normal;
}

a {
  text-decoration: none;
  /* Commented out because it conflicts with page.css definition */
  /*color: #000;*/
  cursor: pointer;
}

a.active,
a:hover {
  text-decoration: none;
}

.mobile-device a:active,
.mobile-device a:hover {
  /* remove hovers from mobiles */
}

i {
  font-style: normal;
}

.chromeframe {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  text-align: center;
  padding: 50px 20px;
  margin: 0;
  background: black;
  color: #fff;
}

.chromeframe a {
  color: #ff0000;
}

.container-fluid {
  max-width: 940px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.container-fluid-large {
  max-width: 1020px;
  padding-left: 0px;
  padding-right: 0px;
  position: relative;
  margin: 0 auto;
}

.dds-main,
.dds-content {
  width: 100%;
  height: 100%;
  background: transparent;
  margin: 0;
  padding: 0;
}

.w-n {
  -webkit-transition: left 0.5s;
  -moz-transition: left 0.5s;
  -ms-transition: left 0.5s;
  transition: left 0.5s;
}

.dds-main,
.page-background {
  min-width: 320px;
}

.full-length {
  width: 100%;
  height: 100%;
  position: relative;
}
.page-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 1;

  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}


/**
 * HEADER
 */

/**
 * fixed wrapper is necessary for chaging device 
 * orientation on Samsung devices 
 */ 
.sf-fixed-wrapper {
  width: 100%;
  position: absolute;
}

header,
.dds-content,
.dds-footer,
.w-n {
  margin: 0 auto;
  min-width: 320px;
}

.w-n {
  width: 100%;
  min-height: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: relative;
}

header,
#facebook,
.logo {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}










/* Desktops navigation bar */

/**
 * CONTENT 
 */

.dds-content {
  z-index: 1;
  position: relative;
  padding-top: 85px;
  height: auto;
  min-height: 100%;
  -webkit-transition: padding-top 0.5s;
  -moz-transition: padding-top 0.5s;
  -ms-transition: padding-top 0.5s;
  transition: padding-top 0.5s;
  overflow: hidden;
}

/*@media (max-width: 991px) { .dds-content { padding-bottom: 377px; }}
@media (max-width: 767px) { .dds-content { padding-bottom: 397px; }}
@media (max-width: 639px) { .dds-content { padding-bottom: 589px; }}
@media (max-width: 415px) { .dds-content { padding-bottom: 625px; }}
    */
@media (max-width: 768px) {
  .dds-content {
    padding-top: 80px;
  }
}

@media (max-width: 600px) {
  .dds-content {
    padding-top: 50px;
  }
}

.bread-crumbs {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 15px;
  text-transform: uppercase;
}

.bread-crumbs > li {
  float: left;
  margin-right: 27px;
  position: relative;
}

.bread-crumbs > li.first:after {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f105";
  position: absolute;
  right: -17px;
  font-size: 17px;
  top: 1px;
}

.bread-crumbs > li.active {
  text-decoration: underline;
}

.bread-crumbs > li > a {
  color: #4c4c4c;
}

.dds-trigger-share {
  cursor: pointer;
  float: right;
  font-weight: bold;
}

.bread-crumbs > li.dds-trigger-share {
  float: right;
  margin-right: 0;
  font-weight: bold;
}


.dds-trigger-share i {
  font-weight: bold;
  font-size: 13px;
}

.page-main-image {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 10px;
  z-index: 1;
}

.page-main-image > img {
  width: 100%;
  height: auto;
  max-height: 560px;
  max-width: 470px;
  display: block;
  margin: 0 auto;
}

.category-copy {
  -moz-box-shadow: 0 0 7.9px 0.1px rgba(153, 153, 153, 0.5);
  -webkit-box-shadow: 0 0 7.9px 0.1px rgba(153, 153, 153, 0.5);
  box-shadow: 0 0 7.9px 0.1px rgba(153, 153, 153, 0.5);
  background-color: #fff;
  padding: 22px 24px;
  background-size: 0;
  margin: 50px auto 30px auto;
  position: relative;
  max-width: 400px;
  color: #767474;
  font-size: 16px;
  z-index: 2;
}

.category-copy h1 {
  font-size: 48px;
  margin-top: 0;
}

.category-copy:before {
  content: '';
  position: absolute;
  left: 20px;
  top: -50px;
  height: 55px;
  width: 100%;
  background: inherit;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
}

.category-copy:after {
  content: '';
  position: absolute;
  top: 0;
  background-repeat: repeat-y;
  height: 100%;
  width: 12px;
}

.layout-left .category-copy:after {
  right: -12px;
  background-image: url(../images/ragged-border-right.png)/*tpa=http://www.rossstores.com/images/ragged-border-right.png*/;
}
.layout-right .category-copy:after {
  left: -12px;
  background-image: url(../images/ragged-border-left.png)/*tpa=http://www.rossstores.com/images/ragged-border-left.png*/;
}

.related-product {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
}

.related-product a {
  display: inline-block;
  max-width: 400px;
}

.rip-pattern {
  width: 100%;
  height: 63px;
  position: absolute;
  top: -10px;
  z-index: 2;
  left: 0px;
  display: none;
  background-repeat: repeat-x;
}

@media (min-width: 768px) {
  .bottom-column {
    background-image: none !important;
  }
}

@media (max-width: 767px) { 
  
  .page-main-image {
    position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    margin-top: 40px;
  }

  .column {
    min-height: 1px;
    max-height: auto;
  }

  .layout-right .category-copy {
    margin-right: -10px;
  }
  .layout-left .category-copy {
    margin-left: -10px;
  }

  .related-product {
    margin-bottom: 65px;
  }

  .show-rip-pattern .rip-pattern {
    display: block;
  }
}


/* HOME */

/* WHAT WE CARRY */
.wwc-heading-container {
  position: absolute;
  bottom: 80%;
  z-index: 3;
}

.layout-right .wwc-heading-container {
  right: 0;
  left: auto;
}

.layout-left .wwc-heading-container {
  right: auto;
  left: 20px;
}

.wwc-heading-container h1 {
  white-space: nowrap;
  font-size: 54px;
  line-height: 44px;
  margin: 0 0 2px 0;
}

@media (max-width: 767px) { 
  .wwc-heading-container {
    bottom: auto;
    top: 35px;
    left: 10px;
    right: auto;
  }

  .wwc-heading-container h1 { 
    font-size: 54px; line-height: 50px; white-space: nowrap;
  }

  .category-copy {
    margin: 0 auto 30px auto;
  }
}
@media (max-width: 639px) { .wwc-heading-container h1 { font-size: 50px; line-height: 50px; }}
@media (max-width: 479px) { .wwc-heading-container h1 { font-size: 45px; line-height: 55px; }}
@media (max-width: 379px) { .wwc-heading-container h1 { font-size: 40px; line-height: 45px; }}

.expandable-text > span {
  display: none;
  opacity: 0;
}

.expandable-text a .more ,
.expandable-text a .less {
  display: none;
}

.expandable-text a.more .more,
.expandable-text a.less .less {
  display: inline;
}

.latest-in-stores {
  position: relative;
  background-color: #fffaf1;
}

.latest-in-stores:before {
  width: 100%;
  height: 23px;
  background-image: url(../images/content-clipping-mask.png)/*tpa=http://www.rossstores.com/images/content-clipping-mask.png*/;
  background-repeat: repeat-x;
  position: absolute;
  top: -16px;
  left: 0;
  z-index: 2;
  content: '';
}

.latest-in-stores h2 {
  width: 100%;
  color: #9C5BB6;
  font-size: 31px;
  line-height: 35px;
  margin: 0;
  text-transform: uppercase;
  overflow: hidden;
  position: relative;
  margin-bottom: 23px;
}

.latest-in-stores h2:after {
  position: absolute;
  top: 50%;
  height: 1px;
  width: 100%;
  background: #E6CFF0;
  content: '';
  margin-left: 10px;
}

.item-box {
  width: 100%;
  background-color: #fff;
  -moz-box-shadow: 2.5px 4.3px 5px rgba(1, 2, 2, 0.1);
  -webkit-box-shadow: 2.5px 4.3px 5px rgba(1, 2, 2, 0.1);
  box-shadow: 2.5px 4.3px 5px rgba(1, 2, 2, 0.1);
  padding-bottom: 18px;
}

.item-box > img {
  width: 100%;
  height: auto;
}

.item-box > p {
  color: #333;
  font-size: 16px;
  padding: 18px;
  margin: 0;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.item-box > a {
  border: 2px solid #9D2FB2;
  display: block;
  line-height: 34px;
  height: 36px;
  width: 134px;
  text-transform: uppercase;
  text-align: center;
  margin-left: 18px;
  color: #181818;
  font-size: 16px;
}


/**
 * MODAL
 */
.modal-dialog {
  width: 94%;
  margin: 30px auto;
}


.modal-receipt {
  max-width: 264px;
}

.modal-gift-card {
  max-width: 366px;
}

.dds-modal-share-icons i {
  color: #73716f;
  margin: 0 5px;
}

.dds-arrow-left,
.dds-arrow-right {
  position: absolute;
  left: -25px;
  top: 0;
  margin-top: 0;
  width: 20%;
  height: 100%;
  min-height: 53px;
  background: url(../images/carousel-arrow-l.png)/*tpa=http://www.rossstores.com/images/carousel-arrow-l.png*/ 10% 50% no-repeat;
  cursor: pointer;

  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */

  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;    
}

.dds-arrow-right {
  background: url(../images/carousel-arrow-r.png)/*tpa=http://www.rossstores.com/images/carousel-arrow-r.png*/ 90% 50% no-repeat;
  left: auto;
  right: -25px;
}

/* Latest merchandise */

.link-back {
  color: #8f8f8f !important;
  font-size: 15px !important;
}

.link-back i {
  font-size: 13px;
  margin-right: 15px;
}

/* Carousel share */
#carousel-share .carousel-inner > .item > img {
  margin: 0 auto;
  position: relative;
  width: auto;
  max-width: 100%;
  height: auto;
}

/* Box shadow */
.dds-box-shadow {
  background-color: #FFF;
  -moz-box-shadow: 0 0 7.9px 0.1px rgba(153, 153, 153, 0.5);
  -webkit-box-shadow: 0 0 7.9px 0.1px rgba(153, 153, 153, 0.5);
  box-shadow: 0 0 7.9px 0.1px rgba(153, 153, 153, 0.5);
}

.dds-box-shadow > img {
  width: 100%;
  height: auto;
}

.dds-box-shadow > .btn-primary {
  position: relative;
  min-width: 70%;
  padding-right: 40px;
}

/* Carousel home */
#_carousel-home .item {
  height: 425px;
  max-width: 100%;
  overflow: hidden;
}

.img-hero,
.carousel-inner > .item > img, 
.carousel-inner > .item > a > img {
  height: 425px;
  width: auto;
  max-width: initial;
}

.carousel .copy-box {
  display: table;
  position: absolute;
  height: 425px;
}

.carousel .copy-box > div {
  display: table-cell;
  vertical-align: middle;
}

.carousel .category-copy {
  margin: 0 auto;
  max-width: 320px;
}

.carousel .category-copy a {
  width: 100%;
  max-width: 300px;
  text-align: center;
}

.carousel .category-copy:before,
.carousel .category-copy.dds-theme-c:after {
  display: none;
}

.category-copy.dds-theme-a h1,
.category-copy.dds-theme-b h1,
.category-copy.dds-theme-c h1 {
  font-size: 54px;
  line-height: 40px;
  margin-left: -4px;
}

.carousel .layout-right .copy-box { right: 0;} 
.carousel .layout-left .copy-box { left: 0;}

.carousel .category-copy.dds-theme-a { margin-top: 80px; }
.carousel .category-copy.dds-theme-a h1 { 
  position: absolute;
  bottom: 100%;
  margin-bottom: 10px;
  padding-right: 10px;
  margin-left: -25px;
}

.carousel .category-copy.dds-theme-c { 
  min-width: 400px;
  top: 20px;
  position: absolute;
  box-shadow: none;
  background-color: transparent;
}
.category-copy.dds-theme-c strong {
  font-size: 28px;
}
.category-copy.dds-theme-c h1 {
  color: #57af5c;
  line-height: 52px;
}
.category-copy.dds-theme-c a {
  max-width: 220px;
}





@media (max-width: 991px) {
  .img-hero,
  .carousel-inner > .item > img, 
  .carousel-inner > .item > a > img {
    position: absolute;
    top: 0;
    left: 0;
  }
}


@media (max-width: 767px) {
  #_carousel-home .item {
    height: 610px;
  }
  .img-hero,
  .carousel-inner > .item > img, 
  .carousel-inner > .item > a > img {
    height: 610px;
  }

  .dds-page h1 {
    font-size: 55px;
    line-height: 60px;
  }

  .carousel .copy-box {
    height: auto;
    width: 100%;
  }

  .carousel .category-copy {
    max-width: 100%;
    background: transparent;
    box-shadow: none;
    text-align: center;
    padding: 31px 24px 22px 24px;
  }
  .carousel .category-copy:after {
    display: none;
  }

  .carousel .category-copy.dds-theme-a,
  .carousel .category-copy.dds-theme-b {
    background: #fff;
    margin-top: 0;
  }
  .carousel .category-copy.dds-theme-c {
    min-width: 1px;
    width: 100%;
    top: 0;
  }

  .carousel .category-copy.dds-theme-a h1 {
    position: static;  
    margin-bottom: 10px; 
    padding-right: 0; 
    margin-left: 0; 
  }
  .carousel .category-copy.dds-theme-a h1,
  .carousel .category-copy.dds-theme-b h1 {
    line-height: 45px;
  }
  .carousel .category-copy.dds-theme-c h1 {
    font-size: 40px;
    line-height: 41px;
  }

  .category-copy.wwc h1 {
    white-space: normal;
  }
}

@media (max-width: 640px) {
  .carousel .category-copy p {
    font-size: 14px;
  }
  .carousel .category-copy strong {
    font-size: 26px;
  }
  .carousel .category-copy.dds-theme-a h1,
  .carousel .category-copy.dds-theme-b h1 {
    font-size: 50px;
    line-height: 35px;
  }
  .dds-page h1 {
    font-size: 50px;
    line-height: 55px;
  }

  .dds-page h1.special {
    line-height: 40px;
  }
}
@media (max-width: 480px) {
  .carousel .category-copy.dds-theme-a h1,
  .carousel .category-copy.dds-theme-b h1 {
    font-size: 45px;
    line-height: 30px;
  }

  .dds-page h1 {
    font-size: 45px;
    line-height: 55px;
  }

  .dds-page h1.special {
    line-height: 30px;
  }

  .dds-page h3,
  .dds-page h2 {
    font-size: 24px;
    line-height: 24px;
  }

  .dds-page .static-page h2 {
    font-size: 28px;
    font-size: 28px;
  }

  .page-content {
    padding: 27px;
  }
}


ol ol li {
  list-style-type: lower-alpha;
}

ol ol ol li {
  list-style-type: lower-roman;
}














/** 
 * MOBILES AND TABLETS
 */
@media (max-width: 991px) {

  .bread-crumbs > li {
    display: none;
  }

  .bread-crumbs > .dds-trigger-share {
    display: block;
  }

  /* footer */
  .dds-footer .first > div,
  .dds-footer .second > div,
  .copyrights {
    text-align: center;
  }

  .sign-up-email,
  .like-on-facebook {
    width: 100%;
    display: inline-block;
  }

  .sign-up-email:after,
  .like-on-facebook:after {
    display: block;
    right: 0;
  }
}



/**
* Store locator
*/
.store-locator-row > iframe {
  overflow-x: hidden; /* FIXME: temporary fix of where2getit crap or maybe not temporary - they are stubborn */
}



/**
* Gallery
*/
.gallery-iframe {
    width: 100%;
    border: 0;
    min-height: 300px; 
    margin: 0 auto;
    display: block;
}