.animateOut {
  left: -700px;
  z-index: 10;
  -webkit-transition: left 1s ease;
  transition: left 1s ease;
}
#newRotator {
  position: relative;
  width: 700px;
  height: 393px;
}
#newRotator.playVid div.slideWrapper ul.slideControls {
  display: none;
}
div.slideWrapper ul.slideControls {
  margin: 0px !important;
  padding: 0px !important;
  position: absolute;
  bottom: 0px;
  right: 0px;
  text-align: right;
  z-index: 12;
}
div.slideWrapper ul.slideControls li {
  display: inline-block;
  width: 1em;
  height: 1em;
  color: white;
  background-color: #eeeeee;
  margin: .5em;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
div.slideWrapper ul.slideControls li a {
  width: 2em;
  height: 2em;
  text-align: center;
  position: static;
  display: block;
  line-height: 2em;
}
div.slideWrapper,
div.slideWrapper a,
div.slideWrapper div {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 700px;
  height: 393px;
  z-index: 0;
  overflow: hidden;
}
div.slideWrapper div a,
div.slideWrapper div iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 700px;
  height: 393px;
}
div.slideWrapper div a {
  z-index: 1;
}
div.slideWrapper div iframe {
  z-index: 2;
}
div.slideWrapper.active {
  z-index: 10;
}
/*a.s1, a.s2, a.s3, a.s4, a.s5, a.s6, a.s7{
  -webkit-transition-property: left, z-index;
      transition-property: left, z-index;
  -webkit-transition-duration: 2s, 0s;
      transition-duration: 2s, 0s;
  -webkit-transition-delay:0, 2s;
      transition-delay:0, 2s;
}*/

div.slideWrapper.slides1 .s1,
div.slideWrapper.slides2 .s1,
div.slideWrapper.slides3 .s1,
div.slideWrapper.slides4 .s1,
div.slideWrapper.slides5 .s1,
div.slideWrapper.slides6 .s1 {
  z-index: 5;
  left: 0px;
}
div.slideWrapper.slides1 .c1,
div.slideWrapper.slides2 .c1,
div.slideWrapper.slides3 .c1,
div.slideWrapper.slides4 .c1,
div.slideWrapper.slides5 .c1,
div.slideWrapper.slides6 .c1,
div.slideWrapper.slides1 .c2,
div.slideWrapper.slides2 .c2,
div.slideWrapper.slides3 .c2,
div.slideWrapper.slides4 .c2,
div.slideWrapper.slides5 .c2,
div.slideWrapper.slides6 .c2,
div.slideWrapper.slides1 .c3,
div.slideWrapper.slides2 .c3,
div.slideWrapper.slides3 .c3,
div.slideWrapper.slides4 .c3,
div.slideWrapper.slides5 .c3,
div.slideWrapper.slides6 .c3,
div.slideWrapper.slides1 .c4,
div.slideWrapper.slides2 .c4,
div.slideWrapper.slides3 .c4,
div.slideWrapper.slides4 .c4,
div.slideWrapper.slides5 .c4,
div.slideWrapper.slides6 .c4,
div.slideWrapper.slides1 .c5,
div.slideWrapper.slides2 .c5,
div.slideWrapper.slides3 .c5,
div.slideWrapper.slides4 .c5,
div.slideWrapper.slides5 .c5,
div.slideWrapper.slides6 .c5 {
  background-color: #eeeeee;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
div.slideWrapper.slides1 .c1,
div.slideWrapper.slides2 .c1,
div.slideWrapper.slides3 .c1,
div.slideWrapper.slides4 .c1,
div.slideWrapper.slides5 .c1,
div.slideWrapper.slides6 .c1 {
  background-color: #999999;
}
div.slideWrapper.jump.slide0 .s1,
div.slideWrapper.jump.slide1 .s2,
div.slideWrapper.jump.slide2 .s3,
div.slideWrapper.jump.slide3 .s4,
div.slideWrapper.jump.slide4 .s5 {
  z-index: 11 !important;
  left: 0px !important;
}
div.slideWrapper.slides1.slide0 .c1,
div.slideWrapper.slides2.slide0 .c1,
div.slideWrapper.slides3.slide0 .c1,
div.slideWrapper.slides4.slide0 .c1,
div.slideWrapper.slides5.slide0 .c1,
div.slideWrapper.slides1.slide0 .c2,
div.slideWrapper.slides2.slide0 .c2,
div.slideWrapper.slides3.slide0 .c2,
div.slideWrapper.slides4.slide0 .c2,
div.slideWrapper.slides5.slide0 .c2,
div.slideWrapper.slides1.slide0 .c3,
div.slideWrapper.slides2.slide0 .c3,
div.slideWrapper.slides3.slide0 .c3,
div.slideWrapper.slides4.slide0 .c3,
div.slideWrapper.slides5.slide0 .c3,
div.slideWrapper.slides1.slide0 .c4,
div.slideWrapper.slides2.slide0 .c4,
div.slideWrapper.slides3.slide0 .c4,
div.slideWrapper.slides4.slide0 .c4,
div.slideWrapper.slides5.slide0 .c4,
div.slideWrapper.slides1.slide0 .c5,
div.slideWrapper.slides2.slide0 .c5,
div.slideWrapper.slides3.slide0 .c5,
div.slideWrapper.slides4.slide0 .c5,
div.slideWrapper.slides5.slide0 .c5 {
  background-color: #eeeeee;
}
div.slideWrapper.slides1.slide0 .c1,
div.slideWrapper.slides2.slide0 .c1,
div.slideWrapper.slides3.slide0 .c1,
div.slideWrapper.slides4.slide0 .c1,
div.slideWrapper.slides5.slide0 .c1 {
  background-color: #999999;
}
div.slideWrapper.slides1.slide1 .c1,
div.slideWrapper.slides2.slide1 .c1,
div.slideWrapper.slides3.slide1 .c1,
div.slideWrapper.slides4.slide1 .c1,
div.slideWrapper.slides5.slide1 .c1,
div.slideWrapper.slides1.slide1 .c2,
div.slideWrapper.slides2.slide1 .c2,
div.slideWrapper.slides3.slide1 .c2,
div.slideWrapper.slides4.slide1 .c2,
div.slideWrapper.slides5.slide1 .c2,
div.slideWrapper.slides1.slide1 .c3,
div.slideWrapper.slides2.slide1 .c3,
div.slideWrapper.slides3.slide1 .c3,
div.slideWrapper.slides4.slide1 .c3,
div.slideWrapper.slides5.slide1 .c3,
div.slideWrapper.slides1.slide1 .c4,
div.slideWrapper.slides2.slide1 .c4,
div.slideWrapper.slides3.slide1 .c4,
div.slideWrapper.slides4.slide1 .c4,
div.slideWrapper.slides5.slide1 .c4,
div.slideWrapper.slides1.slide1 .c5,
div.slideWrapper.slides2.slide1 .c5,
div.slideWrapper.slides3.slide1 .c5,
div.slideWrapper.slides4.slide1 .c5,
div.slideWrapper.slides5.slide1 .c5 {
  background-color: #eeeeee;
}
div.slideWrapper.slides1.slide1 .c2,
div.slideWrapper.slides2.slide1 .c2,
div.slideWrapper.slides3.slide1 .c2,
div.slideWrapper.slides4.slide1 .c2,
div.slideWrapper.slides5.slide1 .c2 {
  background-color: #999999;
}
div.slideWrapper.slides1.slide2 .c1,
div.slideWrapper.slides2.slide2 .c1,
div.slideWrapper.slides3.slide2 .c1,
div.slideWrapper.slides4.slide2 .c1,
div.slideWrapper.slides5.slide2 .c1,
div.slideWrapper.slides1.slide2 .c2,
div.slideWrapper.slides2.slide2 .c2,
div.slideWrapper.slides3.slide2 .c2,
div.slideWrapper.slides4.slide2 .c2,
div.slideWrapper.slides5.slide2 .c2,
div.slideWrapper.slides1.slide2 .c3,
div.slideWrapper.slides2.slide2 .c3,
div.slideWrapper.slides3.slide2 .c3,
div.slideWrapper.slides4.slide2 .c3,
div.slideWrapper.slides5.slide2 .c3,
div.slideWrapper.slides1.slide2 .c4,
div.slideWrapper.slides2.slide2 .c4,
div.slideWrapper.slides3.slide2 .c4,
div.slideWrapper.slides4.slide2 .c4,
div.slideWrapper.slides5.slide2 .c4,
div.slideWrapper.slides1.slide2 .c5,
div.slideWrapper.slides2.slide2 .c5,
div.slideWrapper.slides3.slide2 .c5,
div.slideWrapper.slides4.slide2 .c5,
div.slideWrapper.slides5.slide2 .c5 {
  background-color: #eeeeee;
}
div.slideWrapper.slides1.slide2 .c3,
div.slideWrapper.slides2.slide2 .c3,
div.slideWrapper.slides3.slide2 .c3,
div.slideWrapper.slides4.slide2 .c3,
div.slideWrapper.slides5.slide2 .c3 {
  background-color: #999999;
}
div.slideWrapper.slides1.slide3 .c1,
div.slideWrapper.slides2.slide3 .c1,
div.slideWrapper.slides3.slide3 .c1,
div.slideWrapper.slides4.slide3 .c1,
div.slideWrapper.slides5.slide3 .c1,
div.slideWrapper.slides1.slide3 .c2,
div.slideWrapper.slides2.slide3 .c2,
div.slideWrapper.slides3.slide3 .c2,
div.slideWrapper.slides4.slide3 .c2,
div.slideWrapper.slides5.slide3 .c2,
div.slideWrapper.slides1.slide3 .c3,
div.slideWrapper.slides2.slide3 .c3,
div.slideWrapper.slides3.slide3 .c3,
div.slideWrapper.slides4.slide3 .c3,
div.slideWrapper.slides5.slide3 .c3,
div.slideWrapper.slides1.slide3 .c4,
div.slideWrapper.slides2.slide3 .c4,
div.slideWrapper.slides3.slide3 .c4,
div.slideWrapper.slides4.slide3 .c4,
div.slideWrapper.slides5.slide3 .c4,
div.slideWrapper.slides1.slide3 .c5,
div.slideWrapper.slides2.slide3 .c5,
div.slideWrapper.slides3.slide3 .c5,
div.slideWrapper.slides4.slide3 .c5,
div.slideWrapper.slides5.slide3 .c5 {
  background-color: #eeeeee;
}
div.slideWrapper.slides1.slide3 .c4,
div.slideWrapper.slides2.slide3 .c4,
div.slideWrapper.slides3.slide3 .c4,
div.slideWrapper.slides4.slide3 .c4,
div.slideWrapper.slides5.slide3 .c4 {
  background-color: #999999;
}
div.slideWrapper.slides1.slide4 .c1,
div.slideWrapper.slides2.slide4 .c1,
div.slideWrapper.slides3.slide4 .c1,
div.slideWrapper.slides4.slide4 .c1,
div.slideWrapper.slides5.slide4 .c1,
div.slideWrapper.slides1.slide4 .c2,
div.slideWrapper.slides2.slide4 .c2,
div.slideWrapper.slides3.slide4 .c2,
div.slideWrapper.slides4.slide4 .c2,
div.slideWrapper.slides5.slide4 .c2,
div.slideWrapper.slides1.slide4 .c3,
div.slideWrapper.slides2.slide4 .c3,
div.slideWrapper.slides3.slide4 .c3,
div.slideWrapper.slides4.slide4 .c3,
div.slideWrapper.slides5.slide4 .c3,
div.slideWrapper.slides1.slide4 .c4,
div.slideWrapper.slides2.slide4 .c4,
div.slideWrapper.slides3.slide4 .c4,
div.slideWrapper.slides4.slide4 .c4,
div.slideWrapper.slides5.slide4 .c4,
div.slideWrapper.slides1.slide4 .c5,
div.slideWrapper.slides2.slide4 .c5,
div.slideWrapper.slides3.slide4 .c5,
div.slideWrapper.slides4.slide4 .c5,
div.slideWrapper.slides5.slide4 .c5 {
  background-color: #eeeeee;
}
div.slideWrapper.slides1.slide4 .c5,
div.slideWrapper.slides2.slide4 .c5,
div.slideWrapper.slides3.slide4 .c5,
div.slideWrapper.slides4.slide4 .c5,
div.slideWrapper.slides5.slide4 .c5 {
  background-color: #999999;
}
div.slideWrapper.slides2.slide0 .s1 {
  z-index: 5;
}
div.slideWrapper.slides2.slide0 .s2 {
  z-index: 4;
  left: -700px;
  z-index: 10;
  -webkit-transition: left 1s ease;
  transition: left 1s ease;
}
div.slideWrapper.slides2.slide1 .s1 {
  z-index: 4;
  left: -700px;
  z-index: 10;
  -webkit-transition: left 1s ease;
  transition: left 1s ease;
}
div.slideWrapper.slides2.slide1 .s2 {
  z-index: 5;
}
div.slideWrapper.slides3.slide0 .s1 {
  z-index: 5;
}
div.slideWrapper.slides3.slide0 .s2 {
  z-index: 4;
}
div.slideWrapper.slides3.slide0 .s3 {
  z-index: 3;
  left: -700px;
  z-index: 10;
  -webkit-transition: left 1s ease;
  transition: left 1s ease;
}
div.slideWrapper.slides3.slide1 .s1 {
  z-index: 3;
  left: -700px;
  z-index: 10;
  -webkit-transition: left 1s ease;
  transition: left 1s ease;
}
div.slideWrapper.slides3.slide1 .s2 {
  z-index: 5;
}
div.slideWrapper.slides3.slide1 .s3 {
  z-index: 4;
}
div.slideWrapper.slides3.slide2 .s1 {
  z-index: 4;
}
div.slideWrapper.slides3.slide2 .s2 {
  z-index: 3;
  left: -700px;
  z-index: 10;
  -webkit-transition: left 1s ease;
  transition: left 1s ease;
}
div.slideWrapper.slides3.slide2 .s3 {
  z-index: 5;
}
div.slideWrapper.slides4.slide0 .s1 {
  z-index: 5;
}
div.slideWrapper.slides4.slide0 .s2 {
  z-index: 4;
}
div.slideWrapper.slides4.slide0 .s3 {
  z-index: 3;
}
div.slideWrapper.slides4.slide0 .s4 {
  z-index: 2;
  left: -700px;
  z-index: 10;
  -webkit-transition: left 1s ease;
  transition: left 1s ease;
}
div.slideWrapper.slides4.slide1 .s2 {
  z-index: 5;
}
div.slideWrapper.slides4.slide1 .s3 {
  z-index: 4;
}
div.slideWrapper.slides4.slide1 .s4 {
  z-index: 3;
}
div.slideWrapper.slides4.slide1 .s1 {
  z-index: 2;
  left: -700px;
  z-index: 10;
  -webkit-transition: left 1s ease;
  transition: left 1s ease;
}
div.slideWrapper.slides4.slide2 .s3 {
  z-index: 5;
}
div.slideWrapper.slides4.slide2 .s4 {
  z-index: 4;
}
div.slideWrapper.slides4.slide2 .s1 {
  z-index: 3;
}
div.slideWrapper.slides4.slide2 .s2 {
  z-index: 2;
  left: -700px;
  z-index: 10;
  -webkit-transition: left 1s ease;
  transition: left 1s ease;
}
div.slideWrapper.slides4.slide3 .s4 {
  z-index: 5;
}
div.slideWrapper.slides4.slide3 .s1 {
  z-index: 4;
}
div.slideWrapper.slides4.slide3 .s2 {
  z-index: 3;
}
div.slideWrapper.slides4.slide3 .s3 {
  z-index: 2;
  left: -700px;
  z-index: 10;
  -webkit-transition: left 1s ease;
  transition: left 1s ease;
}
div.slideWrapper.slides5.slide0 .s1 {
  z-index: 5;
}
div.slideWrapper.slides5.slide0 .s2 {
  z-index: 4;
}
div.slideWrapper.slides5.slide0 .s3 {
  z-index: 3;
}
div.slideWrapper.slides5.slide0 .s4 {
  z-index: 3;
}
div.slideWrapper.slides5.slide0 .s5 {
  z-index: 1;
  left: -700px;
  z-index: 10;
  -webkit-transition: left 1s ease;
  transition: left 1s ease;
}
div.slideWrapper.slides5.slide1 .s2 {
  z-index: 5;
}
div.slideWrapper.slides5.slide1 .s3 {
  z-index: 4;
}
div.slideWrapper.slides5.slide1 .s4 {
  z-index: 3;
}
div.slideWrapper.slides5.slide1 .s5 {
  z-index: 3;
}
div.slideWrapper.slides5.slide1 .s1 {
  z-index: 1;
  left: -700px;
  z-index: 10;
  -webkit-transition: left 1s ease;
  transition: left 1s ease;
}
div.slideWrapper.slides5.slide2 .s3 {
  z-index: 5;
}
div.slideWrapper.slides5.slide2 .s4 {
  z-index: 4;
}
div.slideWrapper.slides5.slide2 .s5 {
  z-index: 3;
}
div.slideWrapper.slides5.slide2 .s1 {
  z-index: 3;
}
div.slideWrapper.slides5.slide2 .s2 {
  z-index: 1;
  left: -700px;
  z-index: 10;
  -webkit-transition: left 1s ease;
  transition: left 1s ease;
}
div.slideWrapper.slides5.slide3 .s4 {
  z-index: 5;
}
div.slideWrapper.slides5.slide3 .s5 {
  z-index: 4;
}
div.slideWrapper.slides5.slide3 .s1 {
  z-index: 3;
}
div.slideWrapper.slides5.slide3 .s2 {
  z-index: 3;
}
div.slideWrapper.slides5.slide3 .s3 {
  z-index: 1;
  left: -700px;
  z-index: 10;
  -webkit-transition: left 1s ease;
  transition: left 1s ease;
}
div.slideWrapper.slides5.slide4 .s5 {
  z-index: 5;
}
div.slideWrapper.slides5.slide4 .s1 {
  z-index: 4;
}
div.slideWrapper.slides5.slide4 .s2 {
  z-index: 3;
}
div.slideWrapper.slides5.slide4 .s3 {
  z-index: 3;
}
div.slideWrapper.slides5.slide4 .s4 {
  z-index: 1;
  left: -700px;
  z-index: 10;
  -webkit-transition: left 1s ease;
  transition: left 1s ease;
}
@-webkit-keyframes swapSlide {
  0% {
    left: 0px;
    z-index: 10;
  }
  99% {
    left: -700px;
    z-index: 10;
  }
  100% {
    left: 0px;
    z-index: 0 !important;
  }
}
@keyframes swapSlide {
  0% {
    left: 0px;
    z-index: 10;
  }
  99% {
    left: -700px;
    z-index: 10;
  }
  100% {
    left: 0px;
    z-index: 0 !important;
  }
}
body #container .content .top #jbh360callout {
  background-color: white;
}
body #container .content .top #jbh360callout ul.callout {
  margin: 0px;
  padding: 0px;
  padding-left: 80px;
  border-bottom: 0px;
}
body #container .content .top #jbh360callout ul.callout li {
  font-family: "Interstate-Light", "Helvetica Neue", Arial, Helvetica, sans-serif;
  text-align: right;
  border: 1px solid #d2e283;
  border-width: 0px 0px 1px 0px;
  margin: 0px;
  list-style: none;
  background-color: transparent;
  line-height: 1.5;
  font-size: 16px;
  color: white;
  padding: 0px 6px;
}
body #container .content .top #jbh360callout ul.callout li a {
  color: #545253;
  width: 100%;
  height: 100%;
  display: block;
}
body #container .content .top #jbh360callout ul.callout li span.arrow {
  float: right;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin-left: 25px;
}
body #container .content .top #jbh360callout ul.callout li.signup {
  font-family: 'Interstate-Regular', Arial, "Helvetica Neue", Helvetica, sans-serif;
  height: auto;
  background-color: transparent;
  font-size: 22px;
  color: inhertit;
  line-height: 1.5;
  border-top-width: 0px;
}
body #container .content .top #jbh360callout ul.callout li.signup a {
  color: #545253;
  text-transform: uppercase;
}
body #container .content .top #jbh360callout ul.callout li.signup span.arrow {
  line-height: 33px;
}