/* CSS Document */
.containerGC { text-align:center; }
.centerPage { margin-left:auto; margin-right:auto; width:983px; text-align:left; }

body { font-family:Verdana; font-size:12px; color:#252525; }

#groupContent { /*position:relative;*/ left:0px; padding:0 4px; }
* html #groupContent { margin-top:0px; }
#leftNav { width:190px; float:left; padding:0 10px 0 0; }
#pageContent { width:775px; float:left; }
#careerContent { width:650px; float:left; }
#bannerRight { float:right; }

#invRelFrame { margin:-10px 0 15px -10px; }
#invRelFrameLinks { margin:-10px 0px 15px 0px; }
#invRelFrameLinks { margin/*\**/:-15px 0px 15px -10px\9; *margin:-15px 0px 15px -10px; }

td #colOne { padding-right:5px; }
/*td #groupPage { width:650px; }*/
img { border:0; }
img.border { border:1px solid #ccc; padding:2px; }

img.floatLeft { float:left; margin:0px 8px 8px 0px; }
img.floatRight { float:right; margin:0px 8px 8px 0px; }

a, a:visited { color:#1e61ab; text-decoration:none; }
a:hover { text-decoration:underline; }      

h1, h2, h3, h4 { font-family:Verdana; font-weight:bold; }
h1.mainPage { font-size:18px; color:#0069b3; margin-top:0; }
span.mainPage { font-size:18px; color:#0069b3; font-weight:bold; margin-left:5px; }
h1 { font-size:20px; color:#252525; margin-top:0; }
h2 { font-size:13px; color:#1e61ab; }
h3 { font-size:12px; color:#1e61ab; }
h4 { font-size:11px; color:#252525; }
li, td, ul { font-family:Verdana; font-size:12px; text-align:left; }
ol, li { font-family:Verdana; font-size:12px; text-align:left; }
p { font-family:Verdana; font-size:12px; color:#252525; }       

/* COMMON */
.learnMore { display:block; padding:0px 5px 0px 20px; background:url("../images/icon_plus.gif")/*tpa=http://www.nexteraenergy.com/images/icon_plus.gif*/ no-repeat 0px 2px; font-size:11px; }
.learnMoreAnchor { background:url("../images/icon_plus.gif")/*tpa=http://www.nexteraenergy.com/images/icon_plus.gif*/ no-repeat 5px 2px; float:left; height:15px; position:absolute; left:15px; bottom:0; *bottom:10px; padding:0px 5px 15px 20px; font-size:11px; }
.learnMoreAnchorRight { background:url("../images/icon_plus.gif")/*tpa=http://www.nexteraenergy.com/images/icon_plus.gif*/ no-repeat 2px 2px; float:left; height:15px; position:absolute; left:15px; bottom:0; padding:0px 5px 15px 20px; font-size:11px; margin-left:170px; }
.goBack { display:block; padding:0px 5px 0px 20px; background:url("../images/icon_plus_white.gif")/*tpa=http://www.nexteraenergy.com/images/icon_plus_white.gif*/ no-repeat 2px 2px; font-size:12px; }
.download { display:block; padding:1px 5px 2px 20px; background:url("../images/icon_page.gif")/*tpa=http://www.nexteraenergy.com/images/icon_page.gif*/ no-repeat 0px 2px; font-size:11px; }
.listen { display:block; padding:1px 15px 1px 20px; background:url("../images/icon_listen.gif")/*tpa=http://www.nexteraenergy.com/images/icon_listen.gif*/ no-repeat 0px 2px; font-size:11px; }
.viewClip  { display:block; padding:1px 15px 2px 20px; background:url("../images/icon_video.gif")/*tpa=http://www.nexteraenergy.com/images/icon_video.gif*/ no-repeat 0px 2px; font-size:11px; }
.print { display:block; padding:1px 15px 1px 20px; background:url("../images/icon_print.gif")/*tpa=http://www.nexteraenergy.com/images/icon_print.gif*/ no-repeat 0px 2px; font-size:11px; }
.date { display:block; padding:2px 5px 2px 0px; font-size:10px; color:#707070; font-weight:bold; }
.time { display:block; padding:1px 15px 2px 15px; font-size:10px; color:#848484; }
.linkTitle { display:block; padding:2px 5px 2px 0px; font-size:11px; color:#252525; font-weight:bold; }
.blueArrow { display:block; padding:2px 5px 2px 15px; background:url("../images/icon_arrow_blue.gif")/*tpa=http://www.nexteraenergy.com/images/icon_arrow_blue.gif*/ no-repeat 0px 4px; font-family:Verdana; font-size:12px; font-weight:bold; color:#1e61ab; }
.whiteArrow { display:block; padding:2px 5px 2px 15px; background:url("../images/icon_arrow_white.gif")/*tpa=http://www.nexteraenergy.com/images/icon_arrow_white.gif*/ no-repeat 0px 4px; font-family:Verdana; font-size:12px; font-weight:bold; color:#FFFFFF; }
.linkCol { float:left; margin-top:5px; }

/* LINES & SPACE */
.vertical { background-image:url("../images/vertical.gif")/*tpa=http://www.nexteraenergy.com/images/vertical.gif*/; background-repeat:repeat-y; background-position:right; }
.spacer_v15 { width:100%; height:15px; }
hr.dotted_b { margin:0; border:0; background-image:url("../images/hr_whiteDots.gif")/*tpa=http://www.nexteraenergy.com/images/hr_whiteDots.gif*/; background-repeat:repeat-x; background-position:bottom; }
hr.line_w { margin:4px 0; *margin:0px; border:0; border-bottom:1px solid #FFFFFF; width:300px; }

/* NEWS */
.latestNews { background-image:url("../images/HP_newsBG.jpg")/*tpa=http://www.nexteraenergy.com/images/HP_newsBG.jpg*/; background-repeat:no-repeat; width:983px; height:30px; }
.latestNews h2 { padding:6px 15px; }

/* GROUPS */
.groups { float:left; width:305px; margin-top:10px; padding:0 10px; }
.groups img { float:left; }
.groups p { margin:0 0 10px 100px; font-size:11px; color:#666666; }
.groups a { margin:0 0 10px 100px; font-size:11px; }
.groups .learnMore { margin:20px 0 10px 100px; }

/* ROTATEGROUPS */
.rotateGroups { float:left; width:305px; margin-top:10px; *margin-top:20px; padding:0 10px; }
.rotateGroups img { float:left; }
.rotateGroups p { margin:0 0 10px 0; font-size:11px; color:#666666; }
.rotateGroups a { margin:0 0 10px 0; font-size:11px; color:#1e61ab; }
.rotateGroups #rotateGroupsLeft { float:left; }
.rotateGroups #rotateGroupsRight_78 { float:left; margin-left:15px; width:200px; }
.rotateGroups .learnMore { margin:20px 0 10px 0px; }
.rotateGroups #rotateGroupsLeft #coLogo_78 { float:none; height:63px; }
.rotateGroups #rotateGroupsLeft #prevNext_78 { float:none; height:25px; padding-left:4px; }
.rotateGroups #rotateGroupsLeft #logoTitle { font-size:12px; font-weight:bold; color:#1e61ab; width:150px; }


/* SPOTLIGHT */
.spotlight { float:left; width:286px; padding:0 10px; }
.spotlight img { float:left; }
.spotlight p { margin:0 0 10px 100px; font-size:11px; color:#666666; }
.spotlight a { margin:0 0 10px 100px; font-size:11px; color:#1e61ab; }
.spotlight .learnMore { margin:20px 0 10px 100px; }
/*.spotlight #coLogo { float:none; height:72px; }
.spotlight #prevNext { float:none; height:25px; padding-left:24px; }
.spotlight #logoTitle { float:right; font-size:12px; font-weight:bold; color:#1e61ab; width:150px; }*/

/* ROTATESPOT */
.rotateSpot { float:left; width:286px; *margin-top:10px; padding:0 10px; }
.rotateSpot img { float:left; }
.rotateSpot p { margin:0 0 10px 0; font-size:11px; color:#666666; }
.rotateSpot a { margin:0 0 10px 0; font-size:11px; color:#1e61ab; }
.rotateSpot #rotateSpotLeft { float:left; }
.rotateSpot #rotateSpotRight { float:left; margin-left:5px; width:150px; }
.rotateSpot #rotateSpotRight_75 { float:left; margin-left:5px; width:190px; }
.rotateSpot #rotateSpotRight_78 { float:left; margin-left:5px; width:187px; }
.rotateSpot .learnMore { margin:20px 0 10px 0px; }
.rotateSpot #rotateSpotLeft #coLogo { float:none; width:125px; }
.rotateSpot #rotateSpotLeft #coLogo_75 { float:none; height:75px; }
.rotateSpot #rotateSpotLeft #coLogo_78 { float:none; height:63px; }
.rotateSpot #rotateSpotLeft #prevNext { float:none; height:25px; padding-left:24px; }
.rotateSpot #rotateSpotLeft #prevNext_75 { float:none; height:25px; padding-left:2px; }
.rotateSpot #rotateSpotLeft #prevNext_78 { float:none; height:25px; padding-left:4px; }
.rotateSpot #rotateSpotLeft #logoTitle { font-size:12px; font-weight:bold; color:#1e61ab; width:150px; }

/* COLUMN */
.colSmIcon { float:left; width:286px; padding:0 10px; }
.colSmIcon img { float:left; }
.colSmIcon h2 { margin:5px 0; }
.colSmIcon h4 { margin:0 0 0 45px; padding-top:5px; }
.colSmIcon p { margin:0 0 10px 45px; font-size:11px; color:#666666; }
.colSmIcon a { margin:0 0 15px 45px; font-size:11px; color:#1e61ab; }
.colSmIcon .date { margin-top:10px; }
.colSmIcon .viewClip { width:auto; float:left; }
.colSmIcon .listen { width:auto; float:left; }
.colSmIcon .time { width:auto; float:left; }
.colSmIcon .download { width:auto; }
.colSmIcon .learnMore { margin-top:20px; }
.colSmIcon .blueArrow { margin:0; font-size:12px; }

/* COLUMN ALIGN LEFT */
.colAlLeft { float:left; width:305px; padding:0 10px; }
.colAlLeft h2 { margin:5px 0; }
.colAlLeft h4 { margin:0; }
.colAlLeft p { margin:0 0 10px 0; font-size:11px; color:#666666; }
.colAlLeft a { margin:0 0 15px 0; font-size:11px; color:#1e61ab; }
.colAlLeft .date { margin-top:10px; }
.colAlLeft .viewClip { width:auto; float:left; }
.colAlLeft .listen { width:auto; float:left; }
.colAlLeft .time { width:auto; margin-bottom:15px; }
.colAlLeft .download { width:auto; }
.colAlLeft .learnMore { margin-top:20px; }
.colAlLeft .blueArrow { margin:0; font-size:12px; }

/* GOVERNANCE */
.governColumn { float:left; width:286px; padding:0 10px; }
.governColumn img { float:left; }
.governColumn h2 { margin:5px 0; }
.governColumn h4 { margin:0 0 0 5px; }
.governColumn p { margin:0 0 10px 5px; font-size:11px; color:#666666; }
.governColumn a { margin:0 0 15px 5px; font-size:11px; color:#1e61ab; }
.governColumn .date { margin-top:10px; }
.governColumn .viewClip { width:auto; float:left; }
.governColumn .listen { width:auto; float:left; }
.governColumn .time { width:auto; }
.governColumn .download { width:auto; }
.governColumn .learnMore { margin-top:20px; }
.governColumn .blueArrow { margin:0; font-size:11px; font-weight:normal; }
#ie7 HR { margin:0; }
#ie7 H2 { margin:0 0 2px 0; }

/* CAREERSPOTS */
.careerSpots { float:left; width:225px; height:185px; margin-top:10px; padding:0 10px; }
.careerSpots img { float:left; }
.careerSpots h2 { margin:5px 0; }
.careerSpots h4 { margin:0 0 0 5px; }
.careerSpots p { margin:0 0 10px 0; font-size:11px; color:#666666; }
.careerSpots a { margin:0 0 10px 0; font-size:11px; color:#1e61ab; }
.careerSpots .date { margin-top:10px; }
.careerSpots .viewClip { width:auto; float:left; }
.careerSpots .listen { width:auto; float:left; }
.careerSpots .time { width:auto; }
.careerSpots .download { width:auto; }
.careerSpots .learnMore { margin:0px; }
.careerSpots .blueArrow { margin:0; font-size:11px; font-weight:normal; }
.careerLinks { margin-top: 3px; }
.careerLinks p { margin:0 0 10px 0; font-size:11px; color:#666666; }
.careerLinks a { margin:0 0 10px 0; font-size:11px; color:#1e61ab; }
.jobSearch { background-image:url("../images/careerSearch_BG.gif")/*tpa=http://www.nexteraenergy.com/images/careerSearch_BG.gif*/; background-repeat:no-repeat; width:975px; height:62px; margin-left:6px; margin-top:10px; }
.jobSearch h2 { margin:0px; padding:5px 6px; }
.jobSearch form { margin:0px; }
.jobSearch table { padding:0px 0px 0px 5px; *margin-left:8px; }

/* NEWS TABS*/
.news {}
.news h2 {}
.news .date { margin-top:10px; }
.news .viewClip { width:auto; float:left; }
.news .listen { width:auto; float:left; }
.news .time { width:auto; }
.news .download { width:auto; }
.news .learnMore { margin-top:20px; }

/* NEWSEVENTS */
.newsEvents { }
.newsEvents h2 { margin:20px 0 0 0; }
.newsEvents .date { margin-top:15px; }
.newsEvents .viewClip { width:auto; float:left; }
.newsEvents .listen { width:auto; float:left; }
.newsEvents .time { width:auto; }
.newsEvents .learnMore { margin-top:20px; /*margin-left:-5px;*/ }

/* REPORTS */
.reports { }
.reports img { float:left; }
.reports h2 { margin:5px 0; }
.reports h4 { margin:0 0 0 45px; padding:5px 0 2px 0; }
.reports p { margin:0 0 10px 45px; font-size:11px; color:#666666; }
.reports a { margin:0 0 15px 45px; font-size:11px; color:#1e61ab; }
.reports .date { margin-top:15px; }
.reports .viewClip { width:auto; float:left; margin:0 0 10px 45px; }
.reports .listen { width:auto; float:left; }
.reports .time { width:auto; }
.reports .download { width:auto; margin:0px 0px 10px 45px; }
.reports .print { width:auto; margin:0 0 10px 45px;}
.reports .learnMore { margin-top:10px; /*margin-left:-5px;*/ padding-bottom:5px; }

/* DOCUMENTS */
.documents { }
.documents img { float:left; }
.documents h2 { margin:5px 0; }
.documents p { margin:0 0 10px 45px; font-size:11px; color:#666666; }
.documents a { font-size:11px; color:#1e61ab; }
.documents .date { margin-top:15px; }
.documents .viewClip { width:auto; float:left; margin:0 0 10px 80px; }
.documents .listen { width:auto; float:left; }
.documents .time { width:auto; }
.documents .download { width:auto; margin:0 0 10px 80px; }
.documents .print { width:auto; margin:0 0 10px 80px;}
.documents .learnMore { margin-top:20px; }

/* QUICKLINKS */
.quickBlockTop { margin:0; padding:5px 0 0 0px; *padding:0px; background:url("../images/quickLinks_top.gif")/*tpa=http://www.nexteraenergy.com/images/quickLinks_top.gif*/ no-repeat bottom left; width:343px; *height:4px; /**height:auto;*/ }
.quickBlock { width:343px; height:250px; margin-top:0; background:#1F61AB; }
.quickBlockAuto { width:343px; height:auto; margin-top:0; padding:0px 0 5px 0; background:#1F61AB;  }
.quickBlockMid { margin:0 10px; font-size:12px; font-weight:bold; color:#FFFFFF; float:left; }

.quickBlockMid h2 { margin:10px 0 5px 0; /**margin:0;*/ color:#A2D6FC; font-size:13px; }
.quickBlockMid h3 { margin:10px 0 5px 0; /**margin:0;*/ color:#FFFFFF; font-size:13px; }
.quickBlockMid .linkCol { width:150px; color:#FFFFFF; }
.quickBlockMid .linkCol_1 { width:300px; color:#FFFFFF; }
.quickBlockMid a.whiteArrow { font-size:11px; font-weight:normal; color:#FFFFFF; line-height:11px; }

.quickBlockMid a.goBack { color:#FFFFFF; font-weight:bold; }
.quickBlockMid .linkCol { float:left; width:150px; color:#FFFFFF; }
.quickBlockBot { margin:0 0 20px 0; padding:0px 0px 6px 0px; background:url("../images/quickLinks_bot.gif")/*tpa=http://www.nexteraenergy.com/images/quickLinks_bot.gif*/ no-repeat top left; width:343px; }

/* VIDEO AREA */
.videoContainer { position:relative; width:612px; height:233px; background-image:url("../images/videoBG.gif")/*tpa=http://www.nexteraenergy.com/images/videoBG.gif*/; background-repeat:no-repeat; margin-bottom:25px; *margin:5px 0px 0px 0px; }
.videoArea { margin-top:0; overflow:hidden; }
.video { padding:15px 20px 10px 15px; height:203px; }
.video .clip { float:right; width:300px; height:195px; margin-left:40px; }
.video h2 { margin:0 0 4px 0; color:#000000; font-size:12px;}
.video h3 { margin:0 0 4px 0; color:#1e61ab; font-size:12px;}
.video a { margin:0 0 10px 0; font-size:10px; }
.video p { margin:0; *font-size:11px; }

/* STOCKS AREA */
.stockTop { margin:0; background-image:url("../images/bigStock_BG_top.gif")/*tpa=http://www.nexteraenergy.com/images/bigStock_BG_top.gif*/; background-repeat:no-repeat; background-position:top left; width:612px; height:6px; }
.stockArea { margin:0; *margin-top:-6px; background-image:url("../images/bigStock_BG_mid.gif")/*tpa=http://www.nexteraenergy.com/images/bigStock_BG_mid.gif*/; background-repeat:no-repeat; background-position:top left; width:572px; height:164px; padding:20px; }

#currentStock { float:left; width:180px; margin-top:15px; margin-left:15px; }
#currentStock h1 { margin:0 5px; color:#000000; }
#currentStock h2 { margin:0px; font-size:16px; font-weight:bold; color:#252525; }
#currentStock .date { font-size:12px; }
#chart img { float:left; margin-left:35px; }
#currentStock #flux { font-size:16px; }
#currentStock .linkTitle img { padding:0 5px 4px 0; }

.stockBot { margin:0; *margin-top:-1px; background-image:url("../images/bigStock_BG_bot.gif")/*tpa=http://www.nexteraenergy.com/images/bigStock_BG_bot.gif*/; background-repeat:no-repeat; width:612px; height:53px; }
.stockBot h2 { float:left; width:auto; margin:15px 20px; font-size:14px; }
.stockBot .linkCol { width:100px; }
.stockBot .linkCol .blueArrow { font-size:11px; font-weight:normal; }

#one { width:180px; height:30px; padding:15px 0 5px 0; }
#one h1 { float:left; }
#one span { margin:3px 10px; float:left; }
#two { width:90px; float:left; }
#two span { margin:5px 0px; text-align:center; }
#three { width:90px; float:left; }
#three span { margin:5px 0px; text-align:center; }

/* MEDIA AREA */
.mediaContainer { position:relative; width:343px; height:320px; background-image:url("../images/mediaCenterBG.gif")/*tpa=http://www.nexteraenergy.com/images/mediaCenterBG.gif*/; background-repeat:no-repeat; margin-bottom:20px; }
.mediaArea { margin-top:0; overflow:hidden; }
.media  { padding:20px; height:290px; }
.media h4 { margin:4px 0; }
.media p { margin:8px 0; font-size:11px; }
.media .linkCol { width:150px; }
.media .linkCol .blueArrow { font-size:11px; font-weight:normal; }
.mediaLinkRow { float:left; width:150px; margin-bottom:30px; }
.mediaContent img { float:left; }
.mediaContent h4 { margin:0 0 0 80px; }
.mediaContent p, .mediaContent a { margin:0 0 10px 80px; font-size:10px; }

/* RIGHT LINK LIST */
#rightGreyBorder { float:right; width:200px; border:1px solid #CCCCCC; margin:0 0 10px 10px; padding:0 10px 10px 10px; }
.rightLinks {  }
.rightLinks h3 { font-size:12px; color:#252525; }
.rightLinks a { font-size:11px; font-weight:normal; }

/*NEW CONTENT PAGES*/
.speechTitle { -moz-background-clip:border; -moz-background-inline-policy:continuous; -moz-background-origin:padding; display:block; font-size:14px; font-weight:bold; margin-top:-4px; }
.presenter { -moz-background-clip:border; -moz-background-inline-policy:continuous; -moz-background-origin:padding; display:block; font-size:11px; color:#848484; padding:1px 15px 2px 0px; }

/* MEDIA CENTER - VIDEO PANELS */
#videoPanel { margin-top:20px; }
#videoPanel img.videoThumb { margin: 0 10px 10px 15px; }
#videoPanel img { padding:5px 5px 5px 5px; }
#videoPanel h2 { margin:10px 5px 0px 5px; }
#videoPanel p { margin:5px; }
#videoPanel a { margin:0 5px; /*float:left;*/ }
#videoPanel span.time { margin-top:10px; }

.flashVidThumb { float:left; display:block; width:100px; height:150px; margin:0px; }
.flashVidInfo { float:left; display:block; width:180px; height:150px; margin:0px; }

/* VIDEO PLAYER */
#player { width:300px; height:193px; float:left; margin-right:10px; }
#playerRight { width:300px; height:193px; float:right; margin:0 10px; }
#playerSM { width:300px; height:193px; float:left; margin-right:30px; }
.clips { float:left; width:120px; margin:0 0 20px 10px; color:#666666; font-size:11px; font-family:Verdana; }
.clips h5 { color:black;  font-weight:bold;  font-size:12px;  margin:10 0 0px 0; }          
.clips p { color:#666666; font-size:11px; font-family:Verdana; margin-top:0; }
.clips img{ width:120px; }

.SpryHiddenRegion { visibility:hidden; }
#videoPlayerBG { background:url("../images/videoBG.gif")/*tpa=http://www.nexteraenergy.com/images/videoBG.gif*/ no-repeat; width:577px; height:233px; padding:20px 15px 0 20px; }
#videoPlayerBG #videodetail .learnMore { margin:10px 0 0 310px; }
#videoPlayerBG #videodetail .viewClip { margin:10px 0 0 310px; }

#videoPlayerBG_right { background:url("../images/videoBG.gif")/*tpa=http://www.nexteraenergy.com/images/videoBG.gif*/ no-repeat; width:577px; height:233px; padding:20px 15px 0 20px; }
#videoPlayerBG_right #player { width:300px; height:193px; float:right; margin:0 10px; }
#videoPlayerBG_right #videodetail .learnMore { margin:10px 0 0 0; }
#videoPlayerBG_right #videodetail .viewClip { margin:10px 0 0 0; }

#videoPlayerSM { background:url("../images/mediaCenterBG.gif")/*tpa=http://www.nexteraenergy.com/images/mediaCenterBG.gif*/ no-repeat; width:343px; height:320px; padding:20px 15px 0 20px; }
#videoPlayerSM #videodetail h2 { margin-top:210px; *margin-top:17px; width:300px; }
.thumbs img { float:left; height:75px; width:75px; margin-right:14px; margin-bottom:14px; border:solid #666666 1px; padding-left:0px; }
#mainGallery { background:url("../images/MC_img_bg.gif")/*tpa=http://www.nexteraenergy.com/images/MC_img_bg.gif*/ no-repeat; width:304px; height:393px; padding-top:20px; padding-left:40px; }
#gallery_prev_next { float:left; width:343px; margin-top:-237px; }
#gallery_prev_next #arrow_prev { float:left; }
#gallery_prev_next #arrow_next { float:right; }


/* SHADOWBOX - Version 2.2 */
#shadowBox { margin:0px; background-color:#ffffff; overflow:hidden; /*}
#shadowBox form {*/ 
padding:0px; border:2px solid #FFFFFF /*#ACACAC*/;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
 }

#shBoxHeader { height:41px; background:#FFFFFF; /*padding:5px 0; vertical-align:middle;*/
border-top-left-radius: 5px;
-moz-border-radius-topleft: 5px;
-webkit-border-top-left-radius: 5px;
border-top-right-radius: 5px;
-moz-border-radius-topright: 5px;
-webkit-border-top-right-radius: 5px;
}
#shBoxHeader h2 { float:left; display:inline; margin:10px 0 0 20px; }
#shadowBox h3 { margin:0 0px; }
#shBoxHeader .button { float:right; width:58px; margin:10px 40px 0 0;}

#shBoxFooter { height:41px; background:#FFFFFF; /*margin-top:20px; padding:0px 0px;*/
border-bottom-left-radius: 5px;
-moz-border-radius-bottomleft: 5px;
-webkit-border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
-moz-border-radius-bottomright: 5px;
-webkit-border-bottom-right-radius: 5px;
}
#shBoxFooter .logo { float:left; padding:1px 0 0 20px; }
#shBoxFooter .buttons { float:right; padding:10px 35px 0 0; }
#shBoxFooter input { margin-right:5px; }
/* changes for new sharing wrapper  */
span.mainPage {position:absolute;}
span.shareLinks {padding-bottom:10px;}

/*======= Gateway 3 column menu ==============*/

ul.threecolumn{list-style:none outside none; margin:0; padding:10px 0 20px; width:100%; overflow:hidden;}
.threecolumn li{float:left; margin:0; padding:0 10px 0 0; vertical-align:top; width:32%; }
.threecolumn li.center{margin:0 25px;}
.threecolumn img {background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #999999; box-shadow: 0 0 5px #999999; float: left; margin: 0 20px 20px 0; padding: 4px;}
.threecolumn h2 {margin: 0 0 10px; padding: 0;}
.threecolumn a {display:inline-block;}

/*============== CAROUSEL ============= */
.carousel {border:1px solid #d4d4d4; width:100%; overflow: hidden; margin:5px 0; background:#ffffff;} /*width for the entire carousel */
    
    /*previous and next buttons*/
.carousel a.previous, .carousel a.next{float:left; display:block; background:url("../images/arrows-carousel.gif")/*tpa=http://www.nexteraenergy.com/images/arrows-carousel.gif*/ no-repeat 10px 40px #fdfdfd; width:35px; height:100px;}
.carousel a.previous{border-right:1px solid #d4d4d4;}
.carousel a.next{border-left:1px solid #d4d4d4; background-position:-75px 40px;}

     /*scroller part of the Carousel */
.trusted {text-align:center; padding:0px 20px; float:left;}
.trusted ul {margin:0; padding:0;  width:100%; height:102px;}
.trusted li {height:90px; width:111px; list-style:none; margin:0; padding:5px 10px 5px 2px; background:#ffffff; float:left;} 
.trusted img {width:100px; height:100px;} /*style of the scrolling images */


/*============== SLIDER ============= */

#my_slider {margin:0px auto 20px auto;}
.advanced-slider {margin-left: auto; margin-right: auto; position:relative; overflow:visible;}
.advanced-slider .slider-main {position: relative; width: 100%; height: 100%; z-index: 10;}
.advanced-slider .slide-wrapper {position: relative; overflow: visible; width: 100%; height: 100%; z-index: 10; background-color:#FFF; border:1px solid #2a75bf; 
-moz-box-shadow:0px 0px 5px #999;
    -webkit-box-shadow:0px 0px 5px #999;
    box-shadow:0px 0px 5px #999;
}
.advanced-slider .slides {position: absolute; overflow: hidden; margin: 0; padding: 0; list-style: none; width: 100%; height: 100%; z-index: 10;}
.advanced-slider .slide {position: absolute; overflow: hidden; display: block; margin: 0; padding: 0; width: 100%; height: 100%; visibility: hidden; list-style: none; filter: alpha(opacity=100); opacity: 1;}

.advanced-slider .slide .image,
.advanced-slider .slide .thumbnail,
.advanced-slider .slide .caption,
.advanced-slider .slide .html {position: absolute;}

.advanced-slider .slide img,
.advanced-slider .thumbnail img {max-width: none; max-height: none; border: 0 none;}
.advanced-slider .slide .html {overflow: hidden;}
.advanced-slider .slice-container {position: absolute; width: 100%; height: 100%; z-index: 10;}
.advanced-slider .swipeable-container {position: absolute; width: 100%; height: 100%; overflow:hidden;}
.advanced-slider .swipeable-container .slides {
        -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.advanced-slider .swipeable-container .slides .selectable {
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -o-user-select: auto;
    user-select: auto;
    
    cursor: auto;
}

.advanced-slider .slice {
    display: block;
    position: absolute;
}


.advanced-slider .preloader {
    position: absolute;
    background: url("Unknown_83_filename")/*tpa=http://www.nexteraenergy.com/images/slider_preloader.gif*/ no-repeat;
    width: 62px;
    height: 14px;
    z-index: 15;
}


.advanced-slider .slide-arrows {
    position: static;
}


.advanced-slider .slide-arrows a {
    position: absolute;
    z-index: 30;
    cursor: pointer;
}



.advanced-slider .slideshow-controls {
    position: absolute;
    z-index: 40;
    cursor: pointer;
}



.advanced-slider .timer-animation {
    position: absolute;
    z-index: 50;
    top:20px;
    right:20px;
}


.advanced-slider canvas {
    position: absolute;
}


.advanced-slider .timer-animation .timer-animation-controls {
    position: absolute;
    cursor: pointer;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;

}



.advanced-slider .timer-animation .timer-animation-controls {
    background: url("../images/slider_playpause.png")/*tpa=http://www.nexteraenergy.com/images/slider_playpause.png*/no-repeat;
}


.advanced-slider .timer-animation.play .timer-animation-controls {
    background-position: -20px 0;
}


.advanced-slider .timer-animation.pause .timer-animation-controls {
    background-position: 0 0;
}


.advanced-slider .caption-container {overflow: hidden; position: absolute;}
.advanced-slider .caption-container .caption {padding: 30px;}
.advanced-slider .caption-container .wrapper {position: absolute;}
.advanced-slider .caption-container .background {position: absolute; width: 100%; height: 100%;}
.advanced-slider .thumbnail-wrapper {position: absolute;}
.advanced-slider .thumbnail {
    background-image: url("Unknown_83_filename")/*tpa=http://www.nexteraenergy.com/images/slider_preloader.gif*/;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    overflow: hidden;
}


.advanced-slider .slide-buttons {
    position: absolute;
    z-index: 100;
    margin-top: -12px;
    right: 80px !important;
    left: auto !important;
}


.advanced-slider .slide-buttons .left, 
.advanced-slider .slide-buttons .right, 
.advanced-slider .slide-buttons .middle {
    float: left;
}


/* this is a button */
.advanced-slider .slide-buttons .buttons-inner a {
    background:url("../images/slider_buttons_round2.png")/*tpa=http://www.nexteraenergy.com/images/slider_buttons_round2.png*/ no-repeat;
    background-position:0px 0px; 
    position:relative;
    cursor:pointer;
    float:left;
    width:20px;
    height:20px;
    margin: 0px 4px;
}


.advanced-slider .slide-buttons .buttons-inner a.over {
    background-position:-20px 0px; 
}


.advanced-slider .slide-buttons .buttons-inner a.select {
    background-position:-40px 0px; 
}




.tooltip {
    position: absolute;
    z-index: 9999;
}
