/* CSS Document */
#wrapper { height:81px; width:983px; }
#wrapper a { font:Verdana; font-weight:bold; text-decoration:none; }
#wrapper a:hover { text-decoration:none; }
#wrapper .topLogo { float:left; width:130px; margin:15px 0 0 4px; /**margin:15px 0 0 15px;*/ }
#wrapper .topInfo { float:left; font-family:Verdana; font-size:10px; margin:10px 0 10px 70px; }
#wrapper .topInfo span { padding:0 3px 0 3px; }
#wrapper .topInfo #FPLGcurrent { color:#000000; }
#wrapper .topInfo #infoUpDown { font-weight:bold; color:#009900; }
#wrapper .topInfo #infoDate { color:#464646; }

#wrapper #topSearch { float:right; width:420px; font-family:Verdana; margin-right:4px; }
#wrapper #topSearch .topLinks { float:right; margin:10px 5px 0 5px; font-size:11px; }
#wrapper #topSearch .topLinks a { padding:0 5px 0 5px; color:#464646; }
#wrapper #topSearch #autosearch { float:right; margin:5px 0 0 10px; }

#wrapper #topSearch .searchPS_s { width:159px; height:22px; background:url("../wrapper/nav_images/search_border_s.gif")/*tpa=http://www.nexteraenergy.com/wrapper/nav_images/search_border_s.gif*/; background-repeat:no-repeat; background-position:0px -22px; }
#wrapper #topSearch #searchField { font-family:Verdana; font-size:11px; }
#wrapper #topSearch .inputboxPSearch { width:130px; height:22px; background:none; background-position:0px 0px; padding:0px 6px 0 6px; *padding:4px 6px 0 6px; border:none; outline:none; font-size:11px; color:#4B4B4B; }
#wrapper #topSearch #PSbutton { width:15px; margin:-20px 0 0 138px; }

#wrapper #topMenu { width:620px; float:right; margin:10px 0; }
a.nav, a.nav:link, a.nav:visited, .chosen { display:block; width:auto; height:auto; background:#FFFFFF; padding:3px 11px; text-align:center; text-decoration:none; font-family:Verdana; font-size:14px; font-weight:bold; color:#0069b3; float:left; border-right:1px solid #ACACAC; }
a#last { border-right:1px solid #FFFFFF; }
a.nav:hover { color:#1e61ab; background:#FFFFFF; text-decoration:none; }
a.nav:active, .chosen { color:#1e61ab; background:#FFFFFF; text-decoration:none; }

#topLine { margin-top:10px; }
#mpHeader { width:980px; margin:4px 0 10px 4px; vertical-align:top;}

span.shareLinks { text-align:right; padding:3px 4px 0 0; /*z-index:100;*/ color:#464646; float:right; }
* html span.shareLinks { margin-top:-25px}

.shareLinks #links {  padding:3px 0 0 0; margin-bottom:4px; }
.shareLinks #links a { padding:0px 8px 0px 8px; font-size:11px; font-weight:bold; }
.shareLinks #links span { padding:0px 5px 0px 8px; font-size:11px; font-weight:bold; font-style:italic; }
.shareLinks #icons { padding:0 0 0 10px; }
.shareLinks #icons img { margin-bottom:-2px; }
.shareLinks #icons a { padding:0 0 0 4px; }

/*LEFT NAVIGATION*/
#leftNavTitle { display:block; width:186px; /*border-top:3px solid #006ab6;*/ margin:0px 0px 0px 0px; }
#leftNavTitle a,
#leftNavTitle a:hover { font-size:14px; font-weight:bold; color:#006AB6; text-decoration:none; margin:0px 0px 0px 3px; }

.leftDynaMenu { width:190px; font:Verdana; display:inline; }/*width of Dynamic menu*/
.leftDynaMenu .menuheaderTop { font-size:12px; font-weight:bold; color:#4B4B4B; margin:0px 0px 0px 5px; padding:5px 0px 5px 0px; cursor:auto; cursor:pointer; }
.leftDynaMenu .menuheaderTop a { color:#4B4B4B; text-decoration:none; }
.leftDynaMenu .menuheaderTop a:hover { color:#006AB6; text-decoration:none; }

/* LEVEL ONE - main heading items */
.leftDynaMenu .menuheader { width:180px; font-size:12px; font-weight:bold; color:#4B4B4B; margin:0px 0px 0px 0px; background-image:url("../images/IEdots.gif")/*tpa=http://www.nexteraenergy.com/images/IEdots.gif*/; background-repeat:repeat-x; background-position:top; padding:5px 0px 5px 5px; cursor:auto; cursor:pointer; }
.leftDynaMenu .menuheader a { color:#4B4B4B; text-decoration:none; }
.leftDynaMenu .menuheader a:hover { color:#006AB6; text-decoration:none; }
.leftDynaMenu .openheader { font-size:12px; font-weight:bold; color:#006AB6; } 
.leftDynaMenu ul { list-style-type:none; margin-left:0px; padding:0px; margin-bottom:0px; } /*sub menu items*/

/* LEVEL TWO - sub level items (arrows display at this level) */
.leftDynaMenu ul { margin:0px 0px 5px 0px; }
.leftDynaMenu ul li { font-size:12px; padding:3px 0px 3px 5px; }
.leftDynaMenu ul li a.noArrow { padding:3px 0px 3px 9px; }
.leftDynaMenu ul li a.subexpandable { background:url("") no-repeat; background-position:0px 0px; }
.leftDynaMenu ul li a,
.leftDynaMenu ul li a:visited { color:#4B4B4B; text-decoration:none; padding-left:9px; }
.leftDynaMenu ul li a:hover,
.leftDynaMenu ul li.selected a { color:#006AB6; text-decoration:none; padding-left:9px; }

/* LEVEL THREE - subexpandable level opening beneath arrows */
.leftDynaMenu ul li ul { margin:5px 0px 0px 5px; }
.leftDynaMenu ul li ul li { font-size:11px; padding:2px 0px 2px 0px; }
.leftDynaMenu ul li ul li a,
.leftDynaMenu ul li ul lia:visited { color:#4B4B4B; text-decoration:none; }
.leftDynaMenu ul li ul li a:hover,
.leftDynaMenu ul li ul li.selected a { color:#006AB6; text-decoration:none; }

/* RIGHT NAVS */
#greyBorder {  border:1px solid #CCCCCC; }
.rightMenu { width:190px; font:Verdana; display:inline; }/*width of Dynamic menu*/
.rightMenu .menuheaderTop { font-size:12px; font-weight:bold; color:#4B4B4B; margin:0px 0px 0px 5px; padding:5px 0px 5px 0px; cursor:auto; cursor:pointer; }
.rightMenu .menuheaderTop a { color:#4B4B4B; text-decoration:none; }
.rightMenu .menuheaderTop a:hover { color:#006AB6; text-decoration:none; }

/* RIGHT NAVS LEVEL ONE - main heading items */
.rightMenu .menuheader { width:180px; font-size:12px; font-weight:bold; color:#4B4B4B; margin:0px 0px 0px 0px; padding:5px 0px 5px 5px; cursor:auto; cursor:pointer; }
.rightMenu .menuheader a { color:#4B4B4B; text-decoration:none; }
.rightMenu .menuheader a:hover { color:#006AB6; text-decoration:none; }
.rightMenu .openheader { font-size:12px; font-weight:bold; color:#006AB6; } 
.rightMenu ul { list-style-type:none; margin-left:0px; padding:0px; margin-bottom:0px; } /*sub menu items*/
/* RIGHT NAVS LEVEL TWO - sub level items (arrows display at this level) */
.rightMenu ul { margin:0px 0px 5px 0px; }
.rightMenu ul li { font-size:12px; padding:3px 0px 3px 5px; }
.rightMenu ul li a.noArrow { padding:3px 0px 3px 9px; }
.rightMenu ul li a.subexpandable { background:url("../images/icon_arrow_blue.gif")/*tpa=http://www.nexteraenergy.com/images/icon_arrow_blue.gif*/ no-repeat; background-position:0px 0px; }
.rightMenu ul li a,
.rightMenu ul li a:visited { color:#4B4B4B; text-decoration:none; padding-left:9px; }
.rightMenu ul li a:hover,
.rightMenu ul li.selected a { color:#006AB6; text-decoration:none; padding-left:9px; }


#footer { background-image:url("../wrapper/nav_images/footer_BG.jpg")/*tpa=http://www.nexteraenergy.com/wrapper/nav_images/footer_BG.jpg*/; background-repeat:no-repeat; width:983px; height:31px; margin-top:25px; }
.footer h2 { padding:6px 15px; }

/*NEW */
#footer a, a:visited, selected:a {color:#1e61ab; text-decoration:none;}
#footer a:hover {text-decoration:underline;}
.footerLeft {float:left; margin-left:15px; line-height:31px; font-family:Verdana; font-size:10px;}
.footerRight{ font-family:Verdana; font-size:10px; color:#959595; margin-right:5px; float:right; line-height:1.5; }

/* hack to force vertical scroll bars in some browsers (prevents "page jumping") */
html { min-height: 100%; margin-bottom: 1px; overflow:scroll; }
