/* US NAVIGATION */
#nav li, #nav li a, #nav li strong, #nav li div { background-image: url(../../images/us/nav.png)/*tpa=http://www.allergan.com/assets/images/us/nav.png*/; }


/* POSITIONS LAST LIST(S) IN THE NAV */
#nav li.nav_9:hover ul,
#nav li.nav_9_on:hover ul,
#nav li.nav_9 a:hover ul,
#nav li.nav_9_on a:hover ul { left: -115px; background: #000 url(../../images/global/nav_bg.gif)/*tpa=http://www.allergan.com/assets/images/global/nav_bg.gif*/ repeat-y 148px 0; }



#nav li.nav_1, #nav li.nav_1 a, #nav li.nav_1 a strong						{ background-position: 0px 0px; }
#nav li.nav_2, #nav li.nav_2 a, #nav li.nav_2 a strong			{ background-position: -101px 0px; }
#nav li.nav_3, #nav li.nav_3 a, #nav li.nav_3 a strong						{ background-position: -203px 0px; }
#nav li.nav_4, #nav li.nav_4 a, #nav li.nav_4 a strong 								{ background-position: -304px 0px; }
#nav li.nav_5, #nav li.nav_5 a, #nav li.nav_5 a strong 					{ background-position: -405px 0px; }
#nav li.nav_6, #nav li.nav_6 a, #nav li.nav_6 a strong 					{ background-position: -507px 0px; }
#nav li.nav_7, #nav li.nav_7 a, #nav li.nav_7 a strong 	{ background-position: -608px 0px; }
#nav li.nav_8, #nav li.nav_8 a, #nav li.nav_8 a strong 						{ background-position: -709px 0px; }
#nav li.nav_9, #nav li.nav_9 a, #nav li.nav_9 a strong 						{ background-position: -811px 0px; }

/* HOVER STATE */
#nav li.nav_1:hover a, #nav li.nav_1:hover a strong, #nav li.nav_1 a:hover, #nav li.nav_1 a:hover strong 								{ background-position: 0px -33px; }
#nav li.nav_2:hover a, #nav li.nav_2:hover a strong, #nav li.nav_2 a:hover, #nav li.nav_2 a:hover strong 				{ background-position: -101px -33px; }
#nav li.nav_3:hover a, #nav li.nav_3:hover a strong, #nav li.nav_3 a:hover, #nav li.nav_3 a:hover strong 							{ background-position: -203px -33px; }
#nav li.nav_4:hover a, #nav li.nav_4:hover a strong, #nav li.nav_4 a:hover, #nav li.nav_4 a:hover strong 										{ background-position: -304px -33px; }
#nav li.nav_5:hover a, #nav li.nav_5:hover a strong, #nav li.nav_5 a:hover, #nav li.nav_5 a:hover strong 							{ background-position: -405px -33px; }
#nav li.nav_6:hover a, #nav li.nav_6:hover a strong, #nav li.nav_6 a:hover, #nav li.nav_6 a:hover strong 						{ background-position: -507px -33px; }
#nav li.nav_7:hover a, #nav li.nav_7:hover a strong, #nav li.nav_7 a:hover, #nav li.nav_7 a:hover strong 	{ background-position: -608px -33px; }
#nav li.nav_8:hover a, #nav li.nav_8:hover a strong, #nav li.nav_8 a:hover, #nav li.nav_8 a:hover strong 								{ background-position: -709px -33px; }
#nav li.nav_9:hover a, #nav li.nav_9:hover a strong, #nav li.nav_9 a:hover, #nav li.nav_9 a:hover strong 								{ background-position: -811px -33px; }

/* ON STATE */
#nav li.nav_1_on, #nav li.nav_1_on strong, #nav li.nav_1_on div 							{ background-position: 0px -66px; }
#nav li.nav_2_on, #nav li.nav_2_on strong, #nav li.nav_2_on div 				{ background-position: -101px -66px; }
#nav li.nav_3_on, #nav li.nav_3_on strong, #nav li.nav_3_on div 						{ background-position: -203px -66px; }
#nav li.nav_4_on, #nav li.nav_4_on strong, #nav li.nav_4_on div 								{ background-position: -304px -66px; }
#nav li.nav_5_on, #nav li.nav_5_on strong, #nav li.nav_5_on div 						{ background-position: -405px -66px; }
#nav li.nav_6_on, #nav li.nav_6_on strong, #nav li.nav_6_on div 					{ background-position: -507px -66px; }
#nav li.nav_7_on, #nav li.nav_7_on strong, #nav li.nav_7_on div 	{ background-position: -608px -66px; }
#nav li.nav_8_on, #nav li.nav_8_on strong, #nav li.nav_8_on div 							{ background-position: -709px -66px; }
#nav li.nav_9_on, #nav li.nav_9_on strong, #nav li.nav_9_on div 							{ background-position: -811px -66px; }

/* ON HOVER STATE */
#nav li.nav_1_on:hover a, #nav li.nav_1_on:hover a strong, #nav li.nav_1_on a:hover, #nav li.nav_1_on a:hover strong 						{ background-position: 0px -66px; }
#nav li.nav_2_on:hover a, #nav li.nav_2_on:hover a strong, #nav li.nav_2_on a:hover, #nav li.nav_2_on a:hover strong 		{ background-position: -101px -66px; }
#nav li.nav_3_on:hover a, #nav li.nav_3_on:hover a strong, #nav li.nav_3_on a:hover, #nav li.nav_3_on a:hover strong 					{ background-position: -203px -66px; }
#nav li.nav_4_on:hover a, #nav li.nav_4_on:hover a strong, #nav li.nav_4_on a:hover, #nav li.nav_4_on a:hover strong 								{ background-position: -304px -66px; }
#nav li.nav_5_on:hover a, #nav li.nav_5_on:hover a strong, #nav li.nav_5_on a:hover, #nav li.nav_5_on a:hover strong 					{ background-position: -405px -66px; }
#nav li.nav_6_on:hover a, #nav li.nav_6_on:hover a strong, #nav li.nav_6_on a:hover, #nav li.nav_6_on a:hover strong 				{ background-position: -507px -66px; }
#nav li.nav_7_on:hover a, #nav li.nav_7_on:hover a strong, #nav li.nav_7_on a:hover, #nav li.nav_7_on a:hover strong 	{ background-position: -608px -66px; }
#nav li.nav_8_on:hover a, #nav li.nav_8_on:hover a strong, #nav li.nav_8_on a:hover, #nav li.nav_8_on a:hover strong 						{ background-position: -709px -66px; }
#nav li.nav_9_on:hover a, #nav li.nav_9_on:hover a strong, #nav li.nav_9_on a:hover, #nav li.nav_9_on a:hover strong 						{ background-position: -811px -66px; }

	#nav li.nav_9_on li a, #nav li.nav_9_on a:hover li a,
	#nav li.nav_9:hover li a, #nav li.nav_9 a:hover li a { padding: 3px 44px 4px 11px; width: 148px !important; text-align: right !important; }
	* html #nav li.nav_9:hover li a, * html #nav li.nav_9 a:hover li a { width: 203px !important; w\idth: 148px; }


/* ALLERGAN */
.annual_report_links { padding-left: 100px; margin-top: -41px; }

.annual_report_links a.arrow:link, .annual_report_links a.arrow:visited, .annual_report_links a.arrow:hover	{ background:none; font-weight: normal; }
.annual_report_links a span { background: url(../../images/global/arrow_blue.gif)/*tpa=http://www.allergan.com/assets/images/global/arrow_blue.gif*/ no-repeat 100% 5px; padding:2px 5px; }

.pipeline	{ width: 511px; margin: 0 0 5px; padding-bottom:16px; }
	.pipeline thead td { background:#4876b4 url(../../images/global/bg_thead.gif)/*tpa=http://www.allergan.com/assets/images/global/bg_thead.gif*/ repeat-y; color: #fff; border-bottom: 2px solid #fff; padding: 0;}
	.pipeline thead .bg_top	{ background: url(../../images/global/bg_thead_top.gif)/*tpa=http://www.allergan.com/assets/images/global/bg_thead_top.gif*/ no-repeat; }
	.pipeline thead .bg_btm	{ background: url(../../images/global/bg_thead_btm.gif)/*tpa=http://www.allergan.com/assets/images/global/bg_thead_btm.gif*/ no-repeat bottom left; padding: 5px 10px 0px 10px; overflow: hidden; }
		.pipeline td	{ vertical-align: top; }
	
	.pipeline thead td a:link, .pipeline thead td a:visited	{ color: #fff; text-decoration: none; font-size: 14px; font-family: tahoma, arial, sans-serif; font-weight: bold; background: none; padding-right: 15px;}
	/*removing arrows*/
	/*.pipeline thead td a span, .pipeline thead td a:visited span	{ background: url(/assets/images/global/arrow_white.gif) no-repeat 100% 6px; padding-right: 15px;}*/
    .pipeline thead td a span, .pipeline thead td a:visited span	{ background: none;}

	/*.pipeline thead td a.down:link span, .pipeline thead td a.down:visited span { background: url(/assets/images/global/arrow_white_down.gif) no-repeat 100% 6px; }*/
	.pipeline thead td a.down:link span, .pipeline thead td a.down:visited span { background: none; }	
	
	.pipeline thead p { padding: 5px 0 !important; }
	.pipeline th { background: #cfd9e1; border-bottom: 1px solid #e7ecf0; font-family: tahoma, arial, sans-serif; font-size: 9px; text-transform: uppercase; color: #0e4268; padding: 8px 10px; }
	.pipeline td { background: #cfd9e1; border-bottom: 1px solid #e7ecf0; padding: 3px 10px; }
	.pipeline .last { text-align: right; }
	.pipeline td span { color: #0e4268;}
	.pipeline td a:link, .pipeline td a:visited { color: #666; text-decoration: none;}  /* updated text-decoration from underline */
	.pipeline .col1	{ width: 140px; }
	.pipeline .col2	{ width: 25%; }
	.pipeline .col3	{ width: 35%; }
	.pipeline .col4	{ width: 20%; }


	.pipeline #op_link { width: 0%; background-position: 100% 4px; font-weight: normal; color: #fff; text-decoration: none; }
	.pipeline #op_link:hover, .pipeline #op_link:visited	{ color: #fff; text-decoration: none; }
	.pipeline .op_text {display:none; }
	
	
.bio_detail,
.testimonial,
#popup #wrapper
{
	position: relative; 
	width: 510px; height: 1%; 
	padding: 0 0 10px; 
	margin: 120px auto 0px auto; 
	background: #fff; 
	text-align: left;
}

.testimonial { margin: 110px 0px 0px 290px; }

	.btn_close		{ position: absolute; top: 20px; right: 20px; }
	.bio_title		{ margin: 0; padding: 40px 40px 30px 40px; font-size: 14px; color: #0e4268; border-top: 4px solid #0e4268; }
	.bio_title h1	{ padding: 0;}
	.bio_info		{ float: left; display: inline; width: 300px; margin: 0 20px 20px 40px;}
	.bio_info p		{ padding-bottom: 10px; }
	.bios_list		{ float: left; width: 126px; font-size: 10px; }
	.bios_list ul	{ padding: 15px 0 0 !important; border-top: 1px dotted #504c4c; }
	.bios_list li	{ list-style: none; padding: 0 0 20px;}
	.bios_list a, .bios_list a:visited	{ text-decoration: none; color: #0e4268; }
	.bios_list a:hover	{ text-decoration: underline;}