/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */



/* -----------------------------------------
  Home Page
----------------------------------------- */
/*	--------------------------------------------------
   	Image Slider vvvvvvvvvv
	-------------------------------------------------- */
	
	
.clone {
	width: 100%;
	margin: 0px 0px 0px 0px !important;
	padding: 0px 0px 0px 0px !important;
}	
	
.control-item a.active div{
	font-weight:normal !important;
	color: #202020;
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(255, 255, 255);
	/* RGBa with 0.6 opacity */
	background: rgba(255, 255, 255, 0.7);
	padding: 6px 0px 4px 0px !important;
}

.control-item a div{
	font-weight:normal !important;
	color: #FFFFFF;
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(112, 100, 71);
	/* RGBa with 0.6 opacity */
	background: rgba(112, 100, 71, 0.7);
	padding: 6px 0px 4px 0px !important;
}

.control-item a.active{
	font-weight:normal !important;
	color: #202020;
}

.control-item a{
	font-weight:normal !important;
	color: #FFFFFF;
}

.control-item {
	float:left !important;
	width:19.78% !important;
	border: 1px solid #706447 !important;
}

.controls-container {
	max-width:918px !important;
	margin: -30px 0px 0px 0px !important;
	z-index: 100;
}

#controls-container{
	position:relative !important;
}

.manual-controls {
	max-width:918px !important;
	text-align:center !important;
	margin: 0px 0px 0px 0px !important;
}

.alpha60 {
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(0, 0, 0);
	/* RGBa with 0.6 opacity */
	background: rgba(0, 0, 0, 0.6);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

#slider-container {width: 100%; max-width: 917px; margin: 0 auto; max-height: 330px; !important}
.slides p {padding:0px 0px 0px 0px;margin:0px 0px 0px 0px;}
.slides ul {padding:0px 0px 0px 0px;margin:0px 0px 0px 0px;}
.slides {padding:0px 0px 0px 0px;margin:0px 0px 0px 0px;}
.flexslider {width: 100%;padding:0px 0px 0px 0px !important;margin:0px 0px 0px 0px !important;border: 0px solid #FFFFFF !important;} 
.flexslider ul {padding:0px 0px 0px 0px;margin:0px 0px 0px 0px;} 
.flexslider ul li {padding:0px 0px 0px 0px;margin:0px 0px 0px 0px;background-color: transparent !important;} 




   /* -------------------------------------------------
   	Image Slider ^^^^^^^^^
	-------------------------------------------------- */

/* Home Story Styles
*********************************/


    .banner {
    	position: relative;
    	width: 100%;
		max-width: 918px;
		min-height: 380px;
	}
			
			
	.stage {
		position: absolute;
		width: 100%;
		z-index: 1;
	}
	
	.text_block {
		position: absolute;
		width: 85%;
		height: 55%;
		z-index: 2;
		margin: 60px 0px 0px 65px;
		overflow:hidden;
		background-color: rgba(255, 255, 255, 0.8);
		-webkit-background-color: rgba(255, 255, 255, 0.8);
		-moz-background-color: rgba(255, 255, 255, 0.8);
		border-radius: 0px 15px 0px 15px;
		-webkit-border-radius: 0px 15px 0px 15px;
		-moz-border-radius: 0px 15px 0px 15px;			
	}		
	
	.headline {
		width: 100%;
		max-width: 500px;	
		height: 56px;
		font-family:Arial, Helvetica, sans-serif;
		font-size:17px;
		font-weight: bold;
		line-height: 19px;
		text-align: left;
		color: #2B7299;
		margin: 0px 0px 0px 0px;
		padding: 10px 25px 0px 0px;
		overflow:hidden;
		float: right;
	}
	
	.abstract {
		width: 100%;
		max-width: 485px;
		height: 110px;
		font-family:Arial, Helvetica, sans-serif;
		font-size:13px;
		line-height: 17px;
		text-align: left;
		color: #756A4E;
		margin: 0px 0px 0px 0px;
		padding: 10px 25px 0px 0px;
		overflow:hidden;
		float: right;
	}	
	
	.links {
		width: 100%;
		max-width: 475px;
		float: right;
	}

	.story_link {
		font-family:Arial, Helvetica, sans-serif;
		font-size:12px;
		font-weight: bold;
		color: #756A4E;
		margin: 0px 0px 0px 0px;
		padding: 0px 15px 0px 0px;
		float: right;
	}
	
	.video_link {
		font-family:Arial, Helvetica, sans-serif;
		font-size:12px;
		font-weight: bold;
		color: #756A4E;
		margin: 0px 0px 0px 0px;
		padding: 0px 15px 0px 0px;
		float: right;
	}
	
	.video {
		position: absolute;
		width: 26%;
		height: 62%;
		opacity: 1;
		margin: 6% 0% 0% 8%;
		z-index: 3;
		   transform: rotate(-8deg);
		   -moz-transform: rotate(-8deg);
		   -webkit-transform: rotate(-8deg);
		   -webkit-transform-origin: 140% 70%;
	}

	.frame {
		position: absolute;
		opacity: 1;
		z-index: 3;
		   transform: rotate(-8deg);
		   -moz-transform: rotate(-8deg);
		   -webkit-transform: rotate(-8deg);
	}	
	
	.hero {	
		position: absolute;
		opacity: 1;
		margin: 13px 0% 0% 12px;
		z-index: 4;
		   transform: rotate(-8deg);
		   -moz-transform: rotate(-8deg);
		   -webkit-transform: rotate(-8deg); 
	}	
	
	.video_overlay {	
		position: absolute;
		opacity: 1;
		margin: 13px 0% 0% 12px;
		z-index: 4;
		   transform: rotate(-8deg);
		   -moz-transform: rotate(-8deg);
		   -webkit-transform: rotate(-8deg); 
	}

	.stories_mobile {
		margin: 1% 0% 0% 0%;
		border-top: 1px solid #E2DEC3;
	}

	.stage_mobile {
		border-bottom: 1px solid #E2DEC3;
		background-color: #F8F8F0 !important;
		margin: 0% 0% 0% 0% !important;
		padding:  2% 0% 2% 0% !important;
	}

	.hero_mobile {	

	}
	
	.headline_mobile {	
		font-family:Arial, Helvetica, sans-serif;
		font-size:12px;
		font-weight: bold;
		line-height: 15px;
		width: 100% !important;
		margin: 0% 2% 0% 0% !important;
		padding:  2% 0% 2% 0% !important;
	}
	
	.video_textversion {
		opacity: 1;
		margin: 0% 0% 0% 0%;
		z-index: 3;
	}
	
	.frame_textversion {
		position: absolute;
		opacity: 1;
		margin: 0% 0% 0% 0%;
		z-index: 3;
	}
	
	.hero_textversion {	
		position: absolute;
		opacity: 1;
		margin: 13px 0% 0% 13px;
		z-index: 4;
	}
	
	.video_overlay_textversion {	
		position: absolute;
		opacity: 1;
		margin: 13px 0% 0% 13px;
		z-index: 4;
	}
	
	.full_textversion {	
		margin: 0% 0% 0% 0%;
		padding: 0% 0% 0% 0%;
	}
	
	.headline_textversion {
    	color: #003F62;
    	font-size: 12pt;
    	font-weight: bold;
    	line-height: 16pt;
    	padding:  0% 0% 0% 3% !important;
	}
	
	
	.copy_textversion, copy_textversion p {
    	color: #706447;
    	font-family: Verdana,Arial,Helvetica,sans-serif;
    	font-size: 8pt;
    	line-height: 13pt;
    	margin: 0% 0% 0% 0% !important;
		padding:  3% 0% 3% 3% !important;
    	text-align: left;
    	vertical-align: top;
	}
	
	.archive_textversion {	
		margin: 245px 0% 0% 0%;
		padding: 0% 0% 0% 5px;
	}


/* -----------------------------------------
   Page Name 2
----------------------------------------- */













/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:url(ecmd2-0060191.png)/*tpa=http://www.landolakesinc.com/stellent/groups/application_code/documents/web_asset/ecmd2-0060191.png*/ repeat 0 0;}
#colorbox{}
    #cboxTopLeft{width:21px; height:21px; background:url(ecmd2-0060212.png)/*tpa=http://www.landolakesinc.com/stellent/groups/application_code/documents/web_asset/ecmd2-0060212.png*/ no-repeat -101px 0;}
    #cboxTopRight{width:21px; height:21px; background:url(ecmd2-0060212.png)/*tpa=http://www.landolakesinc.com/stellent/groups/application_code/documents/web_asset/ecmd2-0060212.png*/ no-repeat -130px 0;}
    #cboxBottomLeft{width:21px; height:21px; background:url(ecmd2-0060212.png)/*tpa=http://www.landolakesinc.com/stellent/groups/application_code/documents/web_asset/ecmd2-0060212.png*/ no-repeat -101px -29px;}
    #cboxBottomRight{width:21px; height:21px; background:url(ecmd2-0060212.png)/*tpa=http://www.landolakesinc.com/stellent/groups/application_code/documents/web_asset/ecmd2-0060212.png*/ no-repeat -130px -29px;}
    #cboxMiddleLeft{width:21px; background:url(ecmd2-0060212.png)/*tpa=http://www.landolakesinc.com/stellent/groups/application_code/documents/web_asset/ecmd2-0060212.png*/ left top repeat-y;}
    #cboxMiddleRight{width:21px; background:url(ecmd2-0060212.png)/*tpa=http://www.landolakesinc.com/stellent/groups/application_code/documents/web_asset/ecmd2-0060212.png*/ right top repeat-y;}
    #cboxTopCenter{height:21px; background:url(ecmd2-0060213.png)/*tpa=http://www.landolakesinc.com/stellent/groups/application_code/documents/web_asset/ecmd2-0060213.png*/ 0 0 repeat-x;}
    #cboxBottomCenter{height:21px; background:url(ecmd2-0060213.png)/*tpa=http://www.landolakesinc.com/stellent/groups/application_code/documents/web_asset/ecmd2-0060213.png*/ 0 -29px repeat-x;}
    #cboxContent{background:#fff; overflow:hidden;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:28px;}
        #cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
        #cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
        #cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
        #cboxPrevious{position:absolute; bottom:0; left:0; background:url(ecmd2-0060212.png)/*tpa=http://www.landolakesinc.com/stellent/groups/application_code/documents/web_asset/ecmd2-0060212.png*/ no-repeat -75px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxPrevious:hover{background-position:-75px -25px;}
        #cboxNext{position:absolute; bottom:0; left:27px; background:url(ecmd2-0060212.png)/*tpa=http://www.landolakesinc.com/stellent/groups/application_code/documents/web_asset/ecmd2-0060212.png*/ no-repeat -50px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxNext:hover{background-position:-50px -25px;}
        #cboxLoadingOverlay{background:url(ecmd2-0060211.png)/*tpa=http://www.landolakesinc.com/stellent/groups/application_code/documents/web_asset/ecmd2-0060211.png*/ no-repeat center center;}
        #cboxLoadingGraphic{background:url(ecmd2-0060210.gif)/*tpa=http://www.landolakesinc.com/stellent/groups/application_code/documents/web_asset/ecmd2-0060210.gif*/ no-repeat center center;}
        #cboxClose{position:absolute; bottom:0; right:0; background:url(ecmd2-0060212.png)/*tpa=http://www.landolakesinc.com/stellent/groups/application_code/documents/web_asset/ecmd2-0060212.png*/ no-repeat -25px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxClose:hover{background-position:-25px -25px;}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}

/*
  The following provides PNG transparency support for IE6
  Feel free to remove this and the /ie6/ directory if you have dropped IE6 support.
*/
.cboxIE6 #cboxTopLeft{background:url(Unknown_83_filename)/*tpa=http://www.landolakesinc.com/stellent/groups/application_code/documents/web_asset/images/ie6/borderTopLeft.png*/;}
.cboxIE6 #cboxTopCenter{background:url(Unknown_83_filename)/*tpa=http://www.landolakesinc.com/stellent/groups/application_code/documents/web_asset/images/ie6/borderTopCenter.png*/;}
.cboxIE6 #cboxTopRight{background:url(Unknown_83_filename)/*tpa=http://www.landolakesinc.com/stellent/groups/application_code/documents/web_asset/images/ie6/borderTopRight.png*/;}
.cboxIE6 #cboxBottomLeft{background:url(Unknown_83_filename)/*tpa=http://www.landolakesinc.com/stellent/groups/application_code/documents/web_asset/images/ie6/borderBottomLeft.png*/;}
.cboxIE6 #cboxBottomCenter{background:url(Unknown_83_filename)/*tpa=http://www.landolakesinc.com/stellent/groups/application_code/documents/web_asset/images/ie6/borderBottomCenter.png*/;}
.cboxIE6 #cboxBottomRight{background:url(Unknown_83_filename)/*tpa=http://www.landolakesinc.com/stellent/groups/application_code/documents/web_asset/images/ie6/borderBottomRight.png*/;}
.cboxIE6 #cboxMiddleLeft{background:url(Unknown_83_filename)/*tpa=http://www.landolakesinc.com/stellent/groups/application_code/documents/web_asset/images/ie6/borderMiddleLeft.png*/;}
.cboxIE6 #cboxMiddleRight{background:url(Unknown_83_filename)/*tpa=http://www.landolakesinc.com/stellent/groups/application_code/documents/web_asset/images/ie6/borderMiddleRight.png*/;}

.cboxIE6 #cboxTopLeft,
.cboxIE6 #cboxTopCenter,
.cboxIE6 #cboxTopRight,
.cboxIE6 #cboxBottomLeft,
.cboxIE6 #cboxBottomCenter,
.cboxIE6 #cboxBottomRight,
.cboxIE6 #cboxMiddleLeft,
.cboxIE6 #cboxMiddleRight {
    _behavior: expression(this.src = this.src ? this.src : this.currentStyle.backgroundImage.split('"')[1], this.style.background = "none", this.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=" + this.src + ", sizingMethod='scale')");
}





.main_background {
	background-color: #E0DCBF; 
	background-image: url(ecmd2-0015575.gif)/*tpa=http://www.landolakesinc.com/stellent/groups/application_code/documents/web_asset/ecmd2-0015575.gif*/;
	background-position: center top;
	background-repeat: repeat-x;
}

.header {
    text-align: center; 
}

.header_top {
    text-align: center;
    height: 47px; 
}

.header_logo {
    text-align: left;
    height: 47px;
    background-image: url(ecmd2-0015579.gif)/*tpa=http://www.landolakesinc.com/stellent/groups/application_code/documents/web_asset/ecmd2-0015579.gif*/;
    background-position: -2px top;
    background-repeat: no-repeat;
}

.header_nav {
	background-image: url(ecmd2-0060292.gif)/*tpa=http://www.landolakesinc.com/stellent/groups/application_code/documents/web_asset/ecmd2-0060292.gif*/;
    background-position: left top;
    background-repeat: no-repeat; 
}

.header_nav_code {
    text-align: left; 
    padding: 7px 0px 0px 5px;
}

.announcement_button {
    text-align: right;
    overflow: hidden;
    height: 45px;
    padding: 8px 0px 0px 0px;
}

.global_nav {
    text-align: right;
    height: 33px;
    margin: 0px 0px 0px -22px !important;
}

.site_search {
    text-align: right;
    height: 32px;
    margin: -2px -40px 0px 0px !important;
}

.site_search_label {
    font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
    font-size: 10px;
    line-height: 9pt;
    font-weight: normal;
    font-style: normal;
    color: #92835e;
    text-align: right;
    height: 18px;
    margin: 0px -3px 0px 0px;
    padding: 3px 0px 0px 0px;
}

.site_search_text {
	text-align: right;
	background-image: url(ecmd2-0016509.gif)/*tpa=http://www.landolakesinc.com/stellent/groups/application_code/documents/web_asset/ecmd2-0016509.gif*/;
	background-position: center top;
	background-repeat: no-repeat;
}

.search_text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	font-weight: bold;
	font-style: normal;
	color: #92835e;
	height: 18px;
	width: 135px;
	border: 0px none White;
	background: transparent;
}

.site_search_button {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	text-align: left;
}

.flash {
	width: 100%
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 2.2%;
	background-image: url(ecmd2-0060290.gif)/*tpa=http://www.landolakesinc.com/stellent/groups/application_code/documents/web_asset/ecmd2-0060290.gif*/;
	background-position: left top;
	background-repeat: repeat-y; 	
}

.home_content {
	margin: 0px 0px 0px 0px;
	padding: 30px 0px 0px 3.2%;
	background-image: url(ecmd2-0060290.gif)/*tpa=http://www.landolakesinc.com/stellent/groups/application_code/documents/web_asset/ecmd2-0060290.gif*/;
	background-position: left top;
	background-repeat: repeat-y;
}

.page_content {
	margin: 0px 0px 0px 0px;
	padding: 30px 0px 0px 0px;
	background-image: url(ecmd2-0060290.gif)/*tpa=http://www.landolakesinc.com/stellent/groups/application_code/documents/web_asset/ecmd2-0060290.gif*/;
	background-position: left top;
	background-repeat: repeat-y;
}

.fullstory_rightcolumn {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	text-align: center;
}

.content_area_3col_left {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	line-height: 13pt;
	color: #706447;	
	text-align: left;
	margin-top: 10px;
	border: 0px solid #fff !important;
	background-color: transparent !important;
}

.content_area_3col_left tr {
	background-color: transparent !important;
}

.content_area_3col_left td {
	background-color: transparent !important;
}

.content_area_3col_middle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	line-height: 13pt;
	color: #706447;	
	text-align: left;
	margin-top: 10px;
	margin-left: 10px;
	border: 0px solid #fff !important;
	background-color: transparent !important;
}

.content_area_3col_middle tr {
	background-color: transparent !important;
}

.content_area_3col_middle td {
	background-color: transparent !important;
}

.content_area_3col_middle a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #4287AD;	
	font-weight: bold;
	text-align: left;
	margin-left: 10px;
	float: left;
}

.content_area_3col_right {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	line-height: 13pt;
	color: #706447;	
	text-align: left;
	margin-top: 5px;
	margin-left: 10px;
	margin-bottom: 15px;
	border: 0px solid #fff !important;
	background-color: transparent !important;
}

.content_area_3col_right tr {
	background-color: transparent !important;
}

.content_area_3col_right td {
	background-color: transparent !important;
}

.content_area_3col_right a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #4287AD;	
	font-weight: bold;
	text-align: left;
	margin-left: 10px;
	margin-bottom: 10px;
	float: left;
}

.content_table_8pt {
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 8pt !important;
	line-height: 11pt !important;
	color: #706447;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
	width: 90% !important; 
	text-align: left;
	border: 0px solid #fff !important;
	background-color: transparent !important;
}

.contact_font {
	color: #706447;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 8pt;
    line-height: 13pt;
}

.image_left {
	border: 0px none #FFFFFF;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 10px; 
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	float: left;
}

ul.news_list a {
	font-weight: bold;
	color: #706447;
}

.socialnetwork_links table, socialnetwork_links tr, socialnetwork_links td {
 	background-color: transparent !important;
 	border: 0px solid #fff !important;
 	white-space: nowrap;
}
	
.home_more_link a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #4287AD;	
	font-weight: bold;
	text-align: right;
	padding-right:25px;
	margin-bottom: 15px;
	float: right;
}

.footer {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 7pt;
    line-height: 13pt;
    color: #838383;
    text-align: center;
}


.footer_image {
    background-image: url(ecmd2-0060291.gif)/*tpa=http://www.landolakesinc.com/stellent/groups/application_code/documents/web_asset/ecmd2-0060291.gif*/;
    background-position: left top;
    background-repeat: no-repeat; 
    margin: 0px 0px 0px 0px;
	padding: 50px 0px 0px 0px;
}



/*	--------------------------------------------------
   	Global Nav Bar with Dropdowns
	-------------------------------------------------- */
	
	.global-nav-bar { height: 20px; background: transparent; margin-top: 0px; border: 0px solid #ddd; margin: 0px 30px 0px 0px;}	
	.global-nav-bar>li { float: right; display: block; position: relative; padding: 0; margin: 0; border-right: 0px solid #ddd; line-height: 45px; }
	.global-nav-bar>li>a.main { position: relative; padding: 0px 9px; display: block; text-decoration: none; font-size: 9px; font-size: .9rem; color: #92835e; }
	.global-nav-bar>li>input { margin: 0 16px; }
	.global-nav-bar>li>input.input-text { display: inline-block; }
	.global-nav-bar>li ul { margin-bottom: 0; }
	.global-nav-bar>li li { line-height: 1.3; }
	.global-nav-bar>li.has-flyout>a.main { padding-right: 36px; }
	.global-nav-bar>li.has-flyout>a.flyout-toggle { position: absolute; right: 0; top: 0; padding: 22px; z-index: 2; display: block; }
	.global-nav-bar>li.has-flyout>a.flyout-toggle span { content: ""; width: 0; height: 0; border-left: 4px solid transparent;border-right: 4px solid transparent; border-top: 4px solid #2a85e8; display: block; }
	.flyout { background: #fff; margin: 0; padding: 20px; border: 1px solid #ddd; position: absolute; top: 45px; left: -1px; width: 400px; z-index: 40; }
	.flyout.small { width: 200px; }
	.flyout.large { width: 600px; }
	.flyout.right { left: auto; right: 0; }
	.flyout p:last-child { margin-bottom: 0; }
	.global-nav-bar>li .flyout { display: none; }
	
	.js.touch .global-nav-bar>li.has-flyout>a.flyout-toggle {border-left: 1px dashed #eee}
	.js.touch .global-nav-bar>li.has-flyout>a.main {padding-right:75px;}

/*	--------------------------------------------------
   	Main Nav Bar with Dropdowns
	-------------------------------------------------- */
	
	.main-nav-bar { height: 20px; background: transparent; margin-top: 0px; border: 0px solid #ddd; }	
	.main-nav-bar>li { float: left; display: block; position: relative; padding: 0; margin: 0; border-right: 0px solid #ddd; line-height: 45px; }
	.main-nav-bar>li>a.main { position: relative; margin: 0px 0px 0px 12px; padding: 0px 0px 0px 0px; display: block; text-decoration: none; font-size: 11px; font-size: 1.1rem; color: #92835e; font-weight: bold; }
	.main-nav-bar>li>a.main:hover { position: relative; margin: 0px 0px 0px 12px; padding: 0px 0px 0px 0px; display: block; text-decoration: none; font-size: 11px; font-size: 1.1rem; color: #005581; font-weight: bold; background-image: url(ecmd2-0016330.gif)/*tpa=http://www.landolakesinc.com/stellent/groups/application_code/documents/web_asset/ecmd2-0016330.gif*/; }
	.main-nav-icon {margin: 0px 4px -3px 0px; }
	.main-nav-bar>li>input { margin: 0 16px; }
	.main-nav-bar>li>input.input-text { display: inline-block; }
	.main-nav-bar>li ul { margin-bottom: 0; }
	.main-nav-bar>li li { line-height: 1.3; }
	.main-nav-bar>li.has-flyout>a.main { padding-right: 36px; }
	.main-nav-bar>li.has-flyout>a.flyout-toggle { position: absolute; right: 0; top: 0; padding: 22px; z-index: 2; display: block; }
	.main-nav-bar>li.has-flyout>a.flyout-toggle span { content: ""; width: 0; height: 0; border-left: 4px solid transparent;border-right: 4px solid transparent; border-top: 4px solid #2a85e8; display: block; }
	.flyout { background: #fff; margin: 0; padding: 20px; border: 1px solid #ddd; position: absolute; top: 45px; left: -1px; width: 400px; z-index: 40; }
	.flyout.small { width: 200px; }
	.flyout.large { width: 600px; }
	.flyout.right { left: auto; right: 0; }
	.flyout p:last-child { margin-bottom: 0; }
	.main-nav-bar>li .flyout { display: none; }
	
	.js.touch .main-nav-bar>li.has-flyout>a.flyout-toggle {border-left: 1px dashed #eee}
	.js.touch .main-nav-bar>li.has-flyout>a.main {padding-right:75px;}
	
/*    --------------------------------------------------
    Tabs
    -------------------------------------------------- */
	dl.tabs { display: block; margin: 0 0 20px 0; padding: 0; height: 30px; border-bottom: solid 1px #ddd; }
    dl.tabs dt { display: block; width: auto; height: 30px; padding: 0 9px 0 20px; line-height: 30px; float: left; color: #999; font-size: 11px; cursor: default; }
    dl.tabs dt:first-child { padding: 0 9px 0 0; }
    dl.tabs dd { display: block; width: auto; height: 30px; padding: 0; float: left; }
    dl.tabs dd a { display: block; width: auto; height: 29px; padding: 0 9px; line-height: 30px; border: solid 1px #ddd; margin: 0 -1px 0 0; color: #555; background: #eee; }
    dl.tabs dd a.active { background: #fff; border-width: 1px 1px 0 1px; height: 30px; }

		.nice.tabs { border-bottom: solid 1px #eee; margin: 0 0 30px 0; height:43px; }
		.nice.tabs dd a { padding: 7px 18px 9px; font-size: 15px; font-size: 1.5rem; color: #555555; background: none; border: none; }
		.nice.tabs dd a.active { font-weight: bold; color: #333; background: #fff; border-left: 1px solid #eee; border-right: 1px solid #eee; border-top: 3px solid #00a6fc; margin: 0 10px; position: relative; top: -5px; }
		.nice.tabs dd:first-child a.active { margin-left: 0; }
		
	dl.tabs.vertical { height: auto; }
	dl.tabs.vertical dt, dl.tabs.vertical dd, dl.nice.tabs.vertical dt, dl.nice.tabs.vertical dd { float: none; height: auto; margin: 0px 30px; }
	dl.tabs.vertical dd a { display: block; width: auto; height: auto; padding: 0px 0px; line-height: 1; border: solid 0 #ccc; border-width: 1px 1px 0; margin: 0; color: #555; background: #eee; line-height: 15px; font-size: 13px; font-size: 1.3rem; text-align: left; }
	dl.tabs.vertical dd a.active { height: auto; margin: 0; border-width: 1px 0 0; background: #fff; }
	
		.nice.tabs.vertical { border-bottom: solid 1px #eee; height: auto; }
		.nice.tabs.vertical dd a { padding: 15px 20px; border: none; border-left: 0px solid #eee; border-right: 0px solid #eee; border-top: 1px solid #eee; background: transparent; }
		.nice.tabs.vertical dd a.active { border: none; background: #00a6fc; color: #fff; margin: 0; position: static; top: 0; height: auto; }
		.nice.tabs.vertical dd:first-child a.active { margin: 0; }
    
    ul.tabs-content { margin: 0; display: block; }
    ul.tabs-content>li { display: none; }
    .no-js ul.tabs-content>li { display: block; }
    ul.tabs-content>li.active { display: block; }
    
    dl.contained, dl.nice.contained { margin-bottom: 0; }
    dl.contained.tabs dd a { padding: 0 14px; }
    dl.nice.contained.tabs dd a { padding: 7px 18px 9px; }

    ul.contained.tabs-content { padding: 0; }
	ul.contained.tabs-content>li { padding: 20px; border: solid 0 #ddd; border-width: 0 1px 1px 1px; }
	ul.contained.vertical.tabs-content>li { border-width: 1px 0px 1px 0px; }
	ul.nice.contained.tabs-content>li { border-color: #eee; }
	



		
	dl.left_tabs.left_vertical { height: auto; }
	dl.left_tabs.left_vertical dt, dl.left_tabs.left_vertical dd, dl.left_nice.left_tabs.left_vertical dt, dl.left_nice.left_tabs.left_vertical dd { float: none; height: auto; margin: 4.5px 0px 0px 33px; }
	dl.left_tabs.left_vertical dd a { display: block; width: auto; height: auto; padding: 0px 0px 0px 0px line-height: 1; border: solid 0 #ccc; border-width: 0px 0px 0px 0px; margin:  0px 0px 0px 0px; color: #706447; background: #eee; line-height: 14px; font-size: 11px; font-size: 1.1rem; text-align: left; font-family: Arial, Helvetica, Verdana, Geneva; font-weight: bold;}
	dl.left_tabs.left_vertical dd a.active { height: auto; margin: 0; border-width: 0px 0px 0px 0px; background: #fff; }
	
		.left_nice.left_tabs.left_vertical { border-bottom: solid 0px #eee; height: auto; }
		.left_nice.left_tabs.left_vertical dd a { padding: 4px 0px 4px 3px; border: none; border-left: 0px solid #eee; border-right: 0px solid #eee; border-top: 0px solid #eee; background: transparent; }
		.left_nice.left_tabs.left_vertical dd a.active { border: none; background: #00a6fc; color: #fff; margin: 0; position: static; top: 0; height: auto; }
		.left_nice.left_tabs.left_vertical dd:first-child a.active { margin: 0; }	
	
	.leftnav {
		margin:  -28px 0px 0px 0px;
	}
	
	.leftnav dd {
		background-image: url(ecmd2-0016503.gif)/*tpa=http://www.landolakesinc.com/stellent/groups/application_code/documents/web_asset/ecmd2-0016503.gif*/;
    	background-position: 0px bottom;
    	background-repeat: no-repeat;
    	font-family: Arial, Helvetica, Verdana, Geneva;
    	font-weight: bold;
    	padding: 4px 0px 0px 0px;
	}
	
	dl.left_tabs.left_vertical dd a:hover{
		background-image: url(ecmd2-0016504.gif)/*tpa=http://www.landolakesinc.com/stellent/groups/application_code/documents/web_asset/ecmd2-0016504.gif*/;
    	background-position: 0px bottom;
    	background-repeat: no-repeat;
    	font-family: Arial, Helvetica, Verdana, Geneva;
    	font-weight: bold;
    	color: #365581;
    	padding: 4px 0px 4px 3px;
	}
	
		
	
	
.footer, .footer table {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 7pt;
line-height: 13pt;
color: #838383;
text-align: center;
height: 20px;
width: 966px;
padding-top:0px;
padding-right:0px;
padding-bottom:0px;
padding-left:0px;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px; 
margin-right: 0px;
background-color: transparent;
}

.footer a:link {
font-weight: normal;
font-style: normal;
text-decoration:none;
color: #838383;
line-height: 16pt;
font-size: 7pt;
}     

.footer a:visited {
font-weight: normal;
font-style: normal;
text-decoration:none;
color: #838383;
line-height: 16pt;
font-size: 7pt;
}     

.footer a:active {
font-weight: normal;
font-style: normal;
text-decoration:underline;
color: #838383;
line-height: 16pt;
font-size: 7pt;
}     

.footer a:hover {
font-weight: normal;
font-style: normal;
text-decoration:underline;
color: #838383;
line-height: 16pt;
font-size: 7pt;
}


							@media only screen and (min-width: 768px) and (max-width: 1279px) {	
							
									.container {
									width: 99%;
									padding: 0px 0% 0px 1%;
									}
							
									.clone {
									width: 100%;
									margin: 0px 0px 0px 0px !important;
									padding: 0px 0px 0px 0px !important;
									}
								
									.control-item a.active div{
									font-weight:normal !important;
									color: #202020;
									font-size: 8px;
									}
								
									.control-item a div{
									font-weight:normal !important;
									color: #FFFFFF;
									font-size: 8px;
									}	
									.controls-container {
									width: 100% !important;
									margin: 0px 0px 0px 0px !important;
									z-index: 100;
									}
								
									#controls-container{
									position:relative !important;
									}
								
									.manual-controls {
									width: 100% !important;
									text-align:center !important;
									margin: 0px 0px 0px 0px !important;
									}
							
									.banner {
									width: 100%;
		    						min-height: 260px;
									}
									
									.stage {
									position: absolute;
									width: 100%;
									padding: 0px 0px 0px 0%;
									z-index: 1;
									}
									
									.text_block {
									width: 85%;		
									}	
									
									.headline {
									width: 68%;	
									font-size:15px;
									padding: 5px 15px 0px 50px;
									}
									
									.abstract {
									width: 64%;	
									height: 65px;
									font-size:12px;
									padding: 0px 15px 0px 0px;
									}
									
									.links {
									width: 50%;
									}
									
									.story_link {
									font-family:Arial, Helvetica, sans-serif;
									font-size:10px;
									font-weight: bold;
									color: #756A4E;
									margin: 0px 0px 0px 0px;
									padding: 0px 15px 0px 0px;
									float: right;
									}
	
									.video_link {
									font-family:Arial, Helvetica, sans-serif;
									font-size:10px;
									font-weight: bold;
									color: #756A4E;
									margin: 0px 0px 0px 0px;
									padding: 0px 15px 0px 0px;
									float: right;
									}
									
									.video {
									margin: 6% 0% 0% 8%;
									}
									
									.frame {
									margin: 7.0% 0% 0% 4.5%;
									}	
								
									.hero {	
									margin: 25px 0% 0% 19px;
									width: 82%;
									height: 82%;
									}
									
									.video_overlay {	
									margin: 25px 0% 0% 19px;
									width: 82%;
									height: 82%;
									}
									
									#slider-container {width: 100%; max-width: 917px; margin: 0 auto; max-height: 350px; !important}
									.slides p {padding:0px 0px 0px 0px;margin:0px 0px 0px 0px;}
									.slides ul {padding:0px 0px 0px 0px;margin:0px 0px 0px 0px;}
									.slides {padding:0px 0px 0px 0px;margin:0px 0px 0px 0px;}
									.flexslider {width: 100%;padding:0px 0px 0px 0px !important;margin:0px 0px 0px 0px !important;border: 0px solid #FFFFFF !important;} 
									.flexslider ul {padding:0px 0px 0px 0px;margin:0px 0px 0px 0px;} 
									.flexslider ul li {padding:0px 0px 0px 0px;margin:0px 0px 0px 0px;background-color: transparent !important;} 
								
									.main_background {
									background-color: #F8F8F0; 
									background-image: url(../../../public/documents/web_content/ecmd2-0059948.png)/*tpa=http://www.landolakesinc.com/stellent/groups/public/documents/web_content/ecmd2-0059948.png*/;
									}
								
									.header_nav {
									background-image: url(../../../public/documents/web_content/ecmd2-0059948.png)/*tpa=http://www.landolakesinc.com/stellent/groups/public/documents/web_content/ecmd2-0059948.png*/;
    								background-position: center top;
    								background-repeat: no-repeat; 
    								width:100%;
									}
								
									.header_logo {
    								text-align: left;
    								height: 47px;
    								background-image: url(ecmd2-0015579.gif)/*tpa=http://www.landolakesinc.com/stellent/groups/application_code/documents/web_asset/ecmd2-0015579.gif*/;
    								background-position: 10px top;
    								background-repeat: no-repeat;
    								background-size: 90%;
									}
									
									.flash {
									width: 100%
									margin: 0px 0px 0px 0px;
									padding: 0px 0px 0px 0%;
									background-image: url(../../../public/documents/web_content/ecmd2-0059948.png)/*tpa=http://www.landolakesinc.com/stellent/groups/public/documents/web_content/ecmd2-0059948.png*/;
									background-position: left top;
									background-repeat: repeat-y; 	
									}
								
									.home_content {
									width:100%;
									margin: 0px 0px 0px 0%;
									padding: 2% 0px 0px 0%;
									background-image: url(../../../public/documents/web_content/ecmd2-0059948.png)/*tpa=http://www.landolakesinc.com/stellent/groups/public/documents/web_content/ecmd2-0059948.png*/;
									background-position: left top;
									background-repeat: repeat-y;
									background-color: #F8F8F0;
									}
									
									.content_area_3col_left {
									font-family: Verdana, Arial, Helvetica, sans-serif;
									font-size: 8pt;
									line-height: 13pt;
									color: #706447;	
									text-align: left;
									margin-top: 10px;
									border: 0px solid #fff !important;
									background-color: transparent !important;
									width: 100%;
									}
								
									.socialnetwork_links table, socialnetwork_links tr, socialnetwork_links td {
 									background-color: transparent !important;
 									border: 0px solid #fff !important;
									}
								
									.content_area_3col_left tr {
									background-color: transparent !important;
									}
								
									.content_area_3col_left td {
									background-color: transparent !important;
									}
								
									.content_area_3col_middle {
									font-family: Verdana, Arial, Helvetica, sans-serif;
									font-size: 8pt;
									line-height: 13pt;
									color: #706447;	
									text-align: left;
									margin-top: 10px;
									margin-left: 0px;
									border: 0px solid #fff !important;
									background-color: transparent !important;
									}
								
									.content_area_3col_middle tr {
									background-color: transparent !important;
									}
								
									.content_area_3col_middle td {
									background-color: transparent !important;
									}
								
									.content_area_3col_middle a {
									font-family: Verdana, Arial, Helvetica, sans-serif;
									font-size: 8pt;
									color: #4287AD;	
									font-weight: bold;
									text-align: left;
									margin-left: 0px;
									float: left;
									}
								
									.content_table_8pt {
									font-family: Arial, Helvetica, sans-serif !important;
									font-size: 8pt !important;
									line-height: 11pt !important;
									color: #706447;
									padding-top: 3px;
									padding-right: 3px;
									padding-bottom: 3px;
									padding-left: 3px;
									width: 100% !important; 
									text-align: left;
									border: 0px solid #fff !important;
									background-color: transparent !important;
									}
								
									.content_area_3col_right {
									font-family: Verdana, Arial, Helvetica, sans-serif;
									font-size: 8pt;
									line-height: 13pt;
									color: #706447;	
									text-align: left;
									margin-top: 5px;
									margin-left: 0px;
									margin-bottom: 15px;
									border: 0px solid #fff !important;
									background-color: transparent !important;
									}
								
									.content_area_3col_right tr {
									background-color: transparent !important;
									}
								
									.content_area_3col_right td {
									background-color: transparent !important;
									}
								
									.content_area_3col_right a {
									font-family: Verdana, Arial, Helvetica, sans-serif;
									font-size: 8pt;
									color: #4287AD;	
									font-weight: bold;
									text-align: left;
									margin-left: 10px;
									margin-bottom: 10px;
									float: left;
									}
									
									.contact_font {
									color: #706447;
    								font-family: Verdana,Arial,Helvetica,sans-serif;
    								font-size: 8pt;
    								line-height: 13pt;
									}
									
									.page_content {
									margin: 0px 0px 0px 0px;
									padding: 30px 0px 0px 0px;
									background-image: url(../../../public/documents/web_content/ecmd2-0059948.png)/*tpa=http://www.landolakesinc.com/stellent/groups/public/documents/web_content/ecmd2-0059948.png*/;
									background-position: left top;
									background-repeat: repeat-y;
									}
									
									.footer_image {
    								background-image: url(../../../public/documents/web_content/ecmd2-0059948.png)/*tpa=http://www.landolakesinc.com/stellent/groups/public/documents/web_content/ecmd2-0059948.png*/;
    								background-position: left top;
    								background-repeat: no-repeat; 
    								margin: 0px 0px 0px 0px;
									padding: 50px 0px 0px 0px;
									background-color: #F8F8F0;
									}
								
									/*	--------------------------------------------------
   									Global Nav Bar with Dropdowns
									-------------------------------------------------- */
									
									.global-nav-bar { height: 20px; background: transparent; margin-top: 0px; border: 0px solid #ddd; margin: 0px 0px 0px 0px;}	

									
									/*	--------------------------------------------------
   									Main Nav Bar with Dropdowns
									-------------------------------------------------- */
									
									.main-nav-bar { height: 20px; background: transparent; margin-top: 0px; border: 0px solid #ddd; }	
									.main-nav-bar>li { float: left; display: block; position: relative; padding: 0; margin: 0; border-right: 0px solid #ddd; line-height: 45px; }
									.main-nav-bar>li>a.main { position: relative; margin: 0px 0px 0px 6px; padding: 0px 0px 0px 0px; display: block; text-decoration: none; font-size: 9px; font-size: .9rem; color: #92835e; font-weight: bold; }
									.main-nav-bar>li>a.main:hover { position: relative; margin: 0px 0px 0px 6px; padding: 0px 0px 0px 0px; display: block; text-decoration: none; font-size: 9px; font-size: .9rem; color: #005581; font-weight: bold; background-image: url(ecmd2-0016330.gif)/*tpa=http://www.landolakesinc.com/stellent/groups/application_code/documents/web_asset/ecmd2-0016330.gif*/; }
									.main-nav-icon {margin: 0px 3px -3px 0px; }
									
									.site_search {
    									text-align: right;
    									height: 32px;
    									margin: 0px 0px 0px 0px !important;
									}
									
									.footer, .footer table {
									font-family: Verdana, Arial, Helvetica, sans-serif;
									font-size: 5pt;
									line-height: 13pt;
									color: #838383;
									text-align: center;
									height: 20px;
									width: 100%;
									padding-top:0px;
									padding-right:0px;
									padding-bottom:0px;
									padding-left:0px;
									margin-top: 0px;
									margin-bottom: 0px;
									margin-left: 0px; 
									margin-right: 0px;
									background-color: transparent;
									border: 0px !important;
									}
									
									.footer a:link {
									font-weight: normal;
									font-style: normal;
									text-decoration:none;
									color: #838383;
									line-height: 16pt;
									font-size: 7pt;
									}     
									
									.footer a:visited {
									font-weight: normal;
									font-style: normal;
									text-decoration:none;
									color: #838383;
									line-height: 16pt;
									font-size: 5pt;
									}     
									
									.footer a:active {
									font-weight: normal;
									font-style: normal;
									text-decoration:underline;
									color: #838383;
									line-height: 16pt;
									font-size: 7pt;
									}     
									
									.footer a:hover {
									font-weight: normal;
									font-style: normal;
									text-decoration:underline;
									color: #838383;
									line-height: 16pt;
									font-size: 5pt;
									}
									.phonemenu{
									display:none;
									}
		
								}	
							
							
							
							
							
							@media only screen and (max-width: 767px) {	
									.main_background {
									background-color: #F8F8F0; 
									background-image: url(../../../public/documents/web_content/ecmd2-0059948.png)/*tpa=http://www.landolakesinc.com/stellent/groups/public/documents/web_content/ecmd2-0059948.png*/;
									}
								
									.header_nav {
									background-image: url(../../../public/documents/web_content/ecmd2-0059948.png)/*tpa=http://www.landolakesinc.com/stellent/groups/public/documents/web_content/ecmd2-0059948.png*/;
    								background-position: center top;
    								background-repeat: no-repeat; 
    								width:100%;
    								display:none;
									}
								
									.header_logo {
    								text-align: left;
    								height: 55px;
    								background-image: url(ecmd2-0015579.gif)/*tpa=http://www.landolakesinc.com/stellent/groups/application_code/documents/web_asset/ecmd2-0015579.gif*/;
    								background-position: center top;
    								background-repeat: no-repeat;
    								background-size: 90%;
									}
									
									.flash {
									width: 100%
									margin: 0px 0px 0px 0px;
									padding: 0px 0px 0px 0%;
									background-image: url(../../../public/documents/web_content/ecmd2-0059948.png)/*tpa=http://www.landolakesinc.com/stellent/groups/public/documents/web_content/ecmd2-0059948.png*/;
									background-position: left top;
									background-repeat: repeat-y; 	
									}
								
									.home_content {
									width:100%;
									margin: 0px 0px 0px 0%;
									padding: 2% 0px 0px 0%;
									background-image: url(../../../public/documents/web_content/ecmd2-0059948.png)/*tpa=http://www.landolakesinc.com/stellent/groups/public/documents/web_content/ecmd2-0059948.png*/;
									background-position: left top;
									background-repeat: repeat-y;
									background-color: #F8F8F0;
									}
									
									.news_teaser {
									width: 90% !important;
									padding: 0px 0% 0px 5% !important;
									}
									
									.story_teaser {
									width: 90% !important;
									padding: 0px 0% 5% 0% !important;
									}
									
									.quick_links {
									width: 90% !important;
									padding: 0px 0% 0% 5% !important;
									}
									
									.content_area_3col_left {
									background-color: transparent !important;
									}
								
								
									.content_area_3col_middle {
									background-color: transparent !important;
									float: left;
									margin: 0px 0px 20px 0px;
									}
								
								
									.content_area_3col_right {
									background-color: transparent !important;
									float: left;
									}
								
								
									.content_area_3col_right a {
									font-family: Verdana, Arial, Helvetica, sans-serif;
									font-size: 8pt;
									color: #4287AD;	
									font-weight: bold;
									text-align: left;
									margin-left: 10px;
									margin-bottom: 10px;
									float: left;
									}
									
									.contact_font {
									color: #706447;
    								font-family: Verdana,Arial,Helvetica,sans-serif;
    								font-size: 8pt;
    								line-height: 13pt;
									}
									
									.page_content {
									margin: 0px 0px 0px 0px;
									padding: 0px 0px 0px 0px;
									background-image: url(../../../public/documents/web_content/ecmd2-0059948.png)/*tpa=http://www.landolakesinc.com/stellent/groups/public/documents/web_content/ecmd2-0059948.png*/;
									background-position: left top;
									background-repeat: repeat-y;
									}
									
									.footer_image {
    								background-image: url(../../../public/documents/web_content/ecmd2-0059948.png)/*tpa=http://www.landolakesinc.com/stellent/groups/public/documents/web_content/ecmd2-0059948.png*/;
    								background-position: left top;
    								background-repeat: no-repeat; 
    								margin: 0px 0px 0px 0px;
									padding: 50px 0px 0px 0px;
									background-color: #F8F8F0;
									}
									
									
																	/*	--------------------------------------------------
   									PHONE - Nav Bar with Dropdowns vvvvvvvvvv
									-------------------------------------------------- */
									
								
								.lolinc_1columnPhone {
									margin:0px 0px 0px 0px;
									float:left;
									position:absolute;
									left:-9999em; /* Hides the drop down */
									text-align:left;
									padding:0px 0px 0px 0px;
									background-color: #F0EEDF;
									z-index: 2147483647;
								}
								
								
								.lolinc_1columnPhone {width: 100%; z-index: 2147483647;}
								
								
								#menu li:hover .lolinc_1columnPhone {
									left:23px;
									padding:0px 0px 0px 0px;
									top:auto;
									z-index: 2147483647;
								}
								
								.menu_phone1 {
								padding:0px 0px 0px 20px;
								text-align:left;
								}
								
								.buttonbox {
								padding:0px 0px 0px 0px;
								margin:0px 0px 0px 0px;
								}
								
								.buttonbox li {
								height: 20px;
								padding:10px 0px 0px 10px;
								}
								
								.hero_textversion {	
								position: absolute;
								opacity: 1;
								margin: 0px 0% 0% 10%;
								z-index: 4;
								}
							
								.video_overlay_textversion {	
								position: absolute;
								opacity: 1;
								margin: 0px 0% 0% 10%;
								z-index: 4;
								}	
								
								.archive_textversion {	
								margin: 145px 0% 0% 0%;
								padding: 0% 0% 0% 0px;
								}
								.desktopmenu{
								display:none;
								}
														.site_search{
								display:none;
								}	
							}
							
					.news_site_search {
						text-align: left;
						min-height: 20px;
						width: 100px;
						padding-top:20px;
						padding-right:0px;
						padding-bottom:5px;
						padding-left:0px;
						margin-top: 2px;
						margin-bottom: 0px;
						margin-left: 32px; 
						margin-right: 0px;
					}
					
							.news_search_label {
								font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
								font-size: 7pt;
								line-height: 9pt
								font-weight: normal;
								font-style: normal;
								color: #92835e;
								text-align: left;
								min-height: 18px;
								width: 100px;
								padding-top:0px;
								padding-right:0px;
								padding-bottom:0px;
								padding-left:0px;
								margin-top: 0px;
								margin-bottom: 0px;
								margin-left: 0px; 
								margin-right: 0px;
							}
							
					
					
							.news_search_text {
								text-align: left;
								min-height: 17px;
								width: 100px;
								padding-top:2px;
								padding-right:0px;
								padding-bottom:0px;
								padding-left:0px;
								margin-top: 0px;
								margin-bottom: 0px;
								margin-left: 0px; 
								margin-right: 0px;
								background-image: url(ecmd2-0016675.gif)/*tpa=http://www.landolakesinc.com/stellent/groups/application_code/documents/web_asset/ecmd2-0016675.gif*/;
								background-position: center top;
								background-repeat: repeat-x;
							}
							
							.news_search_text_input {
								font-family: Verdana, Arial, Helvetica, sans-serif;
								font-size: 7pt;
								font-weight: bold;
								font-style: normal;
								color: #92835e;
								min-height: 18px;
								width: 100px;
								margin-top: 0px;
								margin-bottom: 0px;
								margin-left: 0px; 
								margin-right: 0px;
								border: 0px none White;
								background: transparent;
							}
							
							.news_search_button {
								text-align: right;
								min-height: 10px;
								width: 100px;
								padding-top:0px;
								padding-right:0px;
								padding-bottom:0px;
								padding-left:0px;
								margin-top: 0px;
								margin-bottom: 0px;
								margin-left: 0px; 
								margin-right: 0px;
							}
							
							div {
							border: 0px solid #000000;
							}
							.site_search_text_GMO
							{
							text-align: right;
							/*background-image: url(/stellent/groups/application_code/documents/web_asset/ecmd2-0016509.gif);*/
							background-position: center top;
							background-repeat: no-repeat;
							}