.SuggestBox
{
	position:absolute;
	display:none;
	font-size:13px;
	font-family:arial,sans-serif;
	word-wrap:break-word;
	border:1px solid #000000;
	background-color:#FFFFFF;
}

.SuggestItem *
{
	background-color: #FFFFFF;
}

.SuggestItemOver *
{
	background-color:#3366CC;
	color:#FFFFFF !important;
}

.SuggestItemInner
{
	display:block;
	padding-left:3px;
	padding-right:3px;
	height:16px;
	overflow:hidden;
	cursor:default;
}

.SuggestSearchTerms
{
	display: block;
	margin-left:0%;
	width:70%;
	text-align:left;
	float:left;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

.SuggestPageCount
{
	display:block;
	margin-left:60%;
	font-size: 10px;
	text-align:right;
	color:#008000;
	padding-top:3px;
}
