/*----------IE7 Styles*/

/*header*/
.search input  {float:left;}

/*Nav*/
.siteNav li {/*position:relative;*/ z-index:8;}
.siteNav li:hover ul.subnav{display:block !important;}

.siteNav li a{/*float:left;*/display:block;padding:0 6px 3px 6px !important;}
.siteNav li ul.subnav{margin:3px 0 0 0 !important;}
.siteNav li:hover ul.subnavlast{display:block !important;}

.subnav {margin:1px 0 0 0px;}
.subnav {width:auto;/*display:block;*/clear: both; float: left;} 
    .subnav li a {display:block;padding:0 10px 0 10px !important;border-right:none !important;width:100% !important;}
.subnavlast {margin:1px 0 0 0px;}
.subnavlast {width:auto;/*display:block;*/clear: both; float: left;} 
    .subnavlast li a {display:block;padding:0 10px 0 10px !important;border-right:none !important;width:100% !important;}

    /*
    .ie-nav1 {margin-left:-165px;}
    .ie-nav2 {margin-left:-73px;}
    .ie-nav3 {margin-left:-84px;}
    .ie-nav4 {margin-left:-73px; width:220px;}
    .ie-nav5 {margin-left:-97px;}
    .ie-nav6 {margin-left:-89px; width:180px;}
    .ie-nav7 {margin-left:-191px;}*/



/*Side Columns*/
.column1 ul, .column2 h2 {margin-top:-3px;}
.column2 {margin-top:3px;}

.co-rollover {margin-top:0px !important;margin-left:0px !important;}

.column2 h2.green a {padding-right:111px; height:10px;}
.border { border-bottom:1px solid #ccc !important;height:1px; width:210px; margin-left:10px;position:absolute;}

/*Main Content*/
.rotator {width:715px;}

.pager {width:auto}


/*Bottom Links*/
.box1, .box2, .box3 {margin-top:-3px;}

