/*global reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;}

fieldset,img {border:0;}

a img,:link img,:visited img {border:none}

a:focus {outline: 0;}

:link,:visited {text-decoration:none}

address,caption,cite,code,dfn,em,th,var {font-style:normal; font-weight:normal;}

table {border-collapse: collapse; border-spacing: 0;} 

ul {list-style:none;}

caption,th {text-align:left;}

h1,h2,h3,h4,h5,h6 {font-size:100%; font-weight:normal;}


/*global styles*/
body{font-family: Helvetica, Arial, Tahoma, Verdana, Sans-Serif; font-size:13px;background:#fff url(../../../../content/dam/FECorpHome/images/corp-home-bkgrnd.jpg)/*tpa=https://www.firstenergycorp.com/content/dam/FECorpHome/images/corp-home-bkgrnd.jpg*/ repeat-x center top;}

h1.mainLogo{float:left;}
    h1.mainLogo span {visibility:hidden;}
    
h2 {font-size:14px; font-weight:bold;}
    h2.green {font-family:Helvetica, Arial, Tahoma, Verdana, Sans-Serif; color:#77b412; }
    
h3 a {color:#0066cc; font-weight:bold; text-decoration:underline;}

a {color:#0064c7;}

ul li {list-style-type:none;  }

.clear {clear:both;}

.global-container {width:960px; display:block; margin:0 auto;}


/*header styles*/
.mainHeader {float:left;width:960px; }
	.secondaryHeader {float:right; width:710px; margin: 10px 0 5px 0; font-size:12px; }
		.secondaryNav { float:right; } 
     	.secondaryNav li{ float:left; display:inline-block; padding-right:5px; }
     	.secondaryNav li#loginLink, .secondaryNav li#logoutLink { padding-right:0px; }
     	.secondaryNav li a {text-decoration:underline;}	
         
		.socialmedia { float:right; margin-left:10px; }   
			.socialmedia li.mediaDivider { padding-left: 10px; border-left: 1px solid #999; }
			.socialmedia li{ float:left; display:inline-block; padding-right:5px;}


   .searchWrapper {float:right; width:717px; margin: 5px 0; }
			.stockticker { float:left; margin-top: 8px; font-size: 12px; }
			.stockticker li a { text-decoration: underline; }
					  .stockgreen { color:#009900; }
			    	.stockred {color:red;}
      .search {float:right; margin-top:0px;}
            .search-field {width:220px; height:21px; border:1px solid #adadad; color:#adadad; font-size:12px; padding:3px 0 0 5px; }
            .search img {float:right;}
            .search-button {vertical-align:bottom;height:26px !important;}
            
/*Google search style*/            
.search{float:right;margin-top:0;width:360px}
.search .cse .gsc-control-cse,.gsc-control-cse{padding:0!important; background-color:transparent!important; border-color:transparent!important;}
.search input.gsc-search-button,.search input.gsc-search-button:hover{background:url(../images/corp-images/btn-search.jpg)/*tpa=https://www.firstenergycorp.com/apps/fecorp/docroot/images/corp-images/btn-search.jpg*/ no-repeat;height:0!important;width:0!important;padding:13px 25px;border:none}
.gsc-control-cse, input.gsc-input {font-family: Helvetica,Arial,Tahoma,Verdana,sans-serif !important; font-size: 13px !important;}
.gsc-completion-container {font-family: inherit !important; font-size: inherit !important; }
table.gs-promotion-table, table.gsc-table-result { border-collapse: initial !important;}


/*Main Nav styles*/
.mainNav {width:717px; float:right;display:block;height:27px !important;font-size:0.75em !important;margin-top:10px;background:url(../images/corp-images/nav-orange-slice.jpg)/*tpa=https://www.firstenergycorp.com/apps/fecorp/docroot/images/corp-images/nav-orange-slice.jpg*/ no-repeat;background-position:5px 0;}
    .navBorder{float:left;}
   .siteNav {overflow:hidden;width:717px; float:left; height:27px;background:url(../images/ie-topnav-ends.gif)/*tpa=https://www.firstenergycorp.com/apps/fecorp/docroot/images/ie-topnav-ends.gif*/ right -27px no-repeat !important;}
        
        .siteNav li{float:left; padding:6px 0 6px 0;}
        .siteNav li.first{background:url(../images/first-orng-btn.png)/*tpa=https://www.firstenergycorp.com/apps/fecorp/docroot/images/first-orng-btn.png*/ left top no-repeat;padding-left:5px;}
        .siteNav li.first:hover{background:url(../images/first-blue-btn.png)/*tpa=https://www.firstenergycorp.com/apps/fecorp/docroot/images/first-blue-btn.png*/ left top no-repeat;padding-left:5px;}
        .siteNav li.infolderfirst{background:url(../images/first-blue-btn.png)/*tpa=https://www.firstenergycorp.com/apps/fecorp/docroot/images/first-blue-btn.png*/ left top no-repeat;padding-left:5px;}
        .siteNav li.infolderfirst:hover{background:url(../images/first-blue-btn.png)/*tpa=https://www.firstenergycorp.com/apps/fecorp/docroot/images/first-blue-btn.png*/ left top no-repeat;padding-left:5px;}

        .siteNav li.active {background:url(../images/corp-images/nav-blue-slice.jpg)/*tpa=https://www.firstenergycorp.com/apps/fecorp/docroot/images/corp-images/nav-blue-slice.jpg*/ repeat-x !important; }
        .siteNav li.active a {border-right:none;}
        
        .siteNav li a{font-size:1.3em; color:#fff; font-weight:bold; padding:0 6px 0 6px; border-right:1px solid #d8b782;text-decoration:none;}
        .siteNav li.last {}
        .siteNav li.last a {border-right:none;}
        .siteNav li:hover {background:url(../images/corp-images/nav-blue-slice.jpg)/*tpa=https://www.firstenergycorp.com/apps/fecorp/docroot/images/corp-images/nav-blue-slice.jpg*/ repeat-x;}
        .siteNav li.infolder {background:url(../images/corp-images/nav-blue-slice.jpg)/*tpa=https://www.firstenergycorp.com/apps/fecorp/docroot/images/corp-images/nav-blue-slice.jpg*/ repeat-x;}

            /*rollover subnav styles*/ 
            .siteNav li:hover ul.subnav{display:block;}
            .siteNav li.last:hover ul.subnavlast{display:block;}
            
             .chromeNav {overflow:hidden;width:717px; float:left; height:27px;background:url(../images/ie-topnav-ends.gif)/*tpa=https://www.firstenergycorp.com/apps/fecorp/docroot/images/ie-topnav-ends.gif*/ right -28px no-repeat !important;}
        
        .chromeNav li{float:left; padding:6px 0 6px 0;}
        .chromeNav li.first{background:url(../images/first-orng-btn.png)/*tpa=https://www.firstenergycorp.com/apps/fecorp/docroot/images/first-orng-btn.png*/ left top no-repeat;padding-left:5px;}
        .chromeNav li.first:hover{background:url(../images/first-blue-btn.png)/*tpa=https://www.firstenergycorp.com/apps/fecorp/docroot/images/first-blue-btn.png*/ left top no-repeat;padding-left:5px;}
        .chromeNav li.infolderfirst{background:url(../images/first-blue-btn.png)/*tpa=https://www.firstenergycorp.com/apps/fecorp/docroot/images/first-blue-btn.png*/ left top no-repeat;padding-left:5px;}
        .chromeNav li.infolderfirst:hover{background:url(../images/first-blue-btn.png)/*tpa=https://www.firstenergycorp.com/apps/fecorp/docroot/images/first-blue-btn.png*/ left top no-repeat !important;padding-left:5px;}

        .chromeNav li.active {background:url(../images/corp-images/nav-blue-slice.jpg)/*tpa=https://www.firstenergycorp.com/apps/fecorp/docroot/images/corp-images/nav-blue-slice.jpg*/ repeat-x !important; }
        .chromeNav li.active a {border-right:none;}
        
        .chromeNav li a{font-size:1.3em; color:#fff; font-weight:bold; padding:0 6px 0 6px; border-right:1px solid #d8b782;text-decoration:none;}
        .chromeNav li.last {}
        .chromeNav li.last a {border-right:none;}
        .chromeNav li:hover {background:url(../images/corp-images/nav-blue-slice.jpg)/*tpa=https://www.firstenergycorp.com/apps/fecorp/docroot/images/corp-images/nav-blue-slice.jpg*/ repeat-x;}
        .chromeNav li.infolder {background:url(../images/corp-images/nav-blue-slice.jpg)/*tpa=https://www.firstenergycorp.com/apps/fecorp/docroot/images/corp-images/nav-blue-slice.jpg*/ repeat-x;}

            /*rollover subnav styles*/ 
            .chromeNav li:hover ul.subnav{display:block;}
            .chromeNav li.last:hover ul.subnavlast{display:block;}

            .subnav{ background:#ECECEC !important; width:auto;position:absolute;margin:6px 0 0 0px; z-index:8; display:none;clear:both;}    
            .subnavlast{ background:#ECECEC !important; width:auto;position:absolute;margin-top:6px; z-index:8; display:none;clear:both;}    
				.subnav li {display:block;/*overflow:hidden !important;width:100%;*/
							background:#ECECEC !important;float:none !important;border-bottom:1px solid #ccc;}
                .subnav li:active-child a {background-image: none !important;}
                .subnav li a {color:#48464A; padding:10px 10px 0 10px !important; border:none !important;text-decoration:none;}
                .subnav li:hover {background:#fff !important;}
                
                .subnav li a div { padding: 0px; display: inline-block; width: 200px; cursor: pointer;}

				.subnavlast li {display:block;/*overflow:hidden !important;width:100%;*/
							background:#ECECEC !important;float:none !important;border-bottom:1px solid #ccc;}
                .subnavlast li:active-child a {background-image: none !important;}
                .subnavlast li a {color:#48464A; padding:10px 10px 0 10px !important; border:none !important;text-decoration:none;}
                .subnavlast li:hover {background:#fff !important;}

				.subnavlast li a div { padding: 0px; display: inline-block; width: 200px; cursor: pointer;}

                /*Mac Safari fixes*/
                @media screen and (-webkit-min-device-pixel-ratio:0){
                    
                }

    

           

    

/*Left columns styles*/
.SideColumns {float:left;margin-top:20px;}
    .column1, .column2 {width:233px; }
    .column1 ul li.title {width:223px; height:26px; padding-right:0 !important;padding-top:0;  margin-left:-1px; background:#ec9300; border-bottom:1px solid #ccc; border-right:1px solid #ccc; border-left:1px solid #ccc;}
    .column1 ul li.title a {color:#fff; margin-left:-4px;font-size:14px; font-weight:bold;}
    .column1 ul li.title a:hover {text-decoration:none !important;}
    .column1 ul li.title img {margin-left:8px;}
    .column1 ul, .column2 ul {width:233px; background:#fff; border-right:1px solid #ccc; border-left:1px solid #ccc;}
    .column1 ul li, .column2 ul li {padding:5px 10px 0; width:auto;}
    .column1 ul li a, .column2 ul li a {font-weight:bold;}
    .column1 ul li a:hover, .column2 ul li a:hover {text-decoration:underline;}
    .column2 {margin-top:3px;}
    .column2 h2.green {width:223px;background:#fff; padding-left:10px;border-right:1px solid #ccc; border-left:1px solid #ccc; margin-top:-4px; }
    .border { border-bottom:1px solid #ccc !important;height:1px; width:210px; margin-left:10px;position:absolute;}
    
   .column1 ul li.title:hover ul.co-rollover {display:block;}
   .column1 ul li.title:hover ul.co-rollover li a:hover {text-decoration:underline !important;}
   

  .co-rollover {width:210px !important; background:#ec9300 !important; position:absolute; margin-top:-15px; margin-left:222px; padding-bottom:10px;z-index:7;display:none;}
    .co-rollover li {padding:6px 0 0 10px;}
    .co-rollover li a {color:#fff !important;}
    
.topsidebox {
	margin:-3px 0 0;
}
    
   
/*middle content*/   
.MainContent {padding:20px 0 0 10px;float:right; width:715px; }
.rotator {
	background:url(../images/corp-images/rotator-bg.png)/*tpa=https://www.firstenergycorp.com/apps/fecorp/docroot/images/corp-images/rotator-bg.png*/ no-repeat; 
	width:715px;
	height:415px;
	float:right; 
	display:none;
	opacity: 0.99;
	filter: alpha(opacity=99); /* For IE8 and earlier */
}
.rotator img {background:none !important;}
    
     /*Pager styles*/
          .pager {position:relative; z-index:6;  top:-30px ; float:right; right:20px ;}
            .slider-home {display:inline-block;}
        .white-circle {background: url(../images/ohio-edison-imgs/slider-gray.png)/*tpa=https://www.firstenergycorp.com/apps/fecorp/docroot/images/ohio-edison-imgs/slider-gray.png*/ no-repeat;cursor: pointer;float: left !important;width: 14px !important;height: 15px;margin: 2px 10px !important;padding: 0 !important;}
            .white-circle a {float: left;}
        .activeSlide {background: url(../images/ohio-edison-imgs/slider-blue.png)/*tpa=https://www.firstenergycorp.com/apps/fecorp/docroot/images/ohio-edison-imgs/slider-blue.png*/ no-repeat;cursor: pointer;float: right;width: 14px;height: 15px; } 
   
    
 
 /*bottom links*/
.bottomBoxes {float:left; width:100%; margin-top:10px;}
    .wrapper {float:left;}
        .box1, .box2, .box3 {width:288px; height:95px; border-right:1px solid #ccc; border-left:1px solid #ccc;background:#fff;margin-top:-3px;margin-bottom:-2px; padding-left:10px; padding-right:10px;}
        .box1, .box2 {margin-right:13px;}
        .box1 table, .box2 table, .box3 table {width:308px;}
            .box1 table tr td, .box2 table tr td, .box3 table tr td {padding:0 5px 0 5px; vertical-align:top;}
        .box-imgs {margin-left:10px;}
        .box1 h3, .box2 h3, .box3 h3 {padding-bottom:8px;}
        .box1 h3 a, .box2 h3 a, .box3 h3 a{text-decoration:underline;}

.bottomBoxImg {float:left;margin-left:10px;margin-right:5px;}
.firstBBImg{margin-left:0 !important;}
.lastBBImg{margin-right:0 !important;}

/*Last Modified Date */

.date {
	width:100%;
	text-align:right;
	font-size:.85em;
	color:#666666;
}
.dateHome {font-size:.85em !important;margin-top:10px;clear:both;margin-left:15px; text-align:right;}

/*Footer*/
.footer-wrapper {position: absolute;background:#e7e7e7;margin-top:20px;width:100%;padding-bottom:50px;}
    .footer-lists {display:block; margin:0 auto; width:970px;}
    .footer-lists a {text-decoration:underline;font-family:Helvetica, Arial, Tahoma, Verdana, Sans-Serif;}
    .footerList1 {width:180px; height:154px; border-right:1px solid #999; margin-top:20px;float:left;}
    .footerList2, .footerList3, .footerList4 {width:180px; height:154px; border-right:1px solid #999; margin:20px 0 0 12px;float:left;}
    .footerList1 li:first-child, .footerList2 li:first-child, .footerList3 li:first-child, .footerList4 li:first-child, .footerList5 li:first-child {padding-bottom:6px;}
    .footerList1 li:first-child a, .footerList2 li:first-child a, .footerList3 li:first-child a, .footerList4 li:first-child a, .footerList5 li:first-child a {font-weight:bold; font-size:14px;}
    .footerList5 {width:189px; height:154px; margin:20px 0 0 20px;float:left;}
    .copyright {font-family:Helvetica, Arial, Tahoma, Verdana, Sans-Serif; font-weight:bold; color:#666; margin-top:20px;}
    
/*--- RTE Sytles ---*/
.smallText {font-size:.85em !important;}
#CQrte .smallText {font-size:9px;}

.redText {color:red;}
#CQrte .smallText {color:red;}

#CQrte h2{font-size:1.5em;font-weight:bold;color:#7bba13;padding:5px 5px 5px 0;margin-right:10px;}

img#printlogo { display: none; }