#leftNav{margin:0px 0px 0px 0px;padding:0;width:230px;list-style-type:none;line-height:120%;background-color:#2b292a;box-shadow: 0px 0px 2px #000; border-left: 5px solid #e21d22; border-top-right-radius:10px;border-bottom-right-radius:10px;}
#leftNav .closed {background-image:url(ha-down.gif)/*tpa=http://harris.com/wrapper/2012/css/leftNav/ha-down.gif*/;background-position:97% 50%;background-repeat:no-repeat;}
#leftNav .closed a, #leftNav .opened a {padding-right:10px;background-position:97% 50%;background-repeat:no-repeat;}
#leftNav .opened {background-color:#e21d22;	background-image:url(ha-up.gif)/*tpa=http://harris.com/wrapper/2012/css/leftNav/ha-up.gif*/;	background-position:97% 50%;	background-repeat:no-repeat;	color: #ffffff;}
#leftNav .opened:hover{background-color:#e21d22;}
#leftNav a {	display:block;	text-decoration:none;}
#leftNav a.hover {	color: #ffffff;	background-color:#1b191a;}
#leftNav ul {margin:0;	padding:0;}
#leftNav li {	margin:0;	padding:0;	list-style-type:none;	color: #ffffff;}
#leftNav li a {	padding: 5px 5px 5px 10px;	border-bottom: 1px solid #1b191a; 	border-top: 1px solid #2e2c2d;	color: #ffffff; list-style-type: circle;}
#leftNav li.active a, #leftNav li li.active a {	border-bottom: 1px solid #1b191a; 	border-top: 1px solid #2e2c2d;	color:#FFFFFF;}
#leftNav li.active li a, #leftNav li li a {	background-color:#454545;	border-bottom: 1px solid #1b191a; 	border-top: 1px solid #2e2c2d;	color: #ffffff;	margin-left: 15px;}
#leftNav li li {position: relative;}
#leftNav li li:hover{*z-index: 99;}
#leftNav li li ul {display: none; position: absolute; left: 98%; top: -4px; min-width: 230px; background-color:#2b292a;border: 5px solid #2b292a; z-index: 99;}
#leftNav li li:hover ul{display: block;}
#leftNav li li:hover > a {color: #ffffff; background-color:#2b292a;}
#leftNav li li li:hover > a {color: #ffffff; background-color:#454545 !important;}
#leftNav li li li a {	white-space: nowrap;background-color:#2b292a !important;	border-bottom: 1px solid #1b191a; 	border-top: 1px solid #2e2c2d;	color: #ffffff;	margin-left: 0px !important;}
#leftNav li li li:last-child a{border-bottom: 0px;}
#leftNav li.active li a:hover, #leftNav li li a:hover{	color: #ffffff;}
#leftNav li.active .opened {background-color:#e21d22;	background-image:url(ha-up.gif)/*tpa=http://harris.com/wrapper/2012/css/leftNav/ha-up.gif*/;	background-position:97% 50%;	background-repeat:no-repeat;	color: #ffffff;}
.flyout {background-image:url(ha-right.gif)/*tpa=http://harris.com/wrapper/2012/css/leftNav/ha-right.gif*/;	background-position:97% 50%;	background-repeat:no-repeat;}

#leftNav > li:first-child > a{ border-top: 0px; border-top-right-radius:10px;}
#leftNav > li:last-child > a{ border-bottom: 0px; border-bottom-right-radius:10px;}

#leftNav .hidden{ display: none;}