/* =============================================================================
   CSS RESET
   ========================================================================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
/* fieldset, */ form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
fieldset {
  margin: 0;
  padding: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
textarea:focus, input:focus{
    outline: none;
}

/* =============================================================================
   HELPERS
   ========================================================================== */
.clr { 
  clear: both;
}
.group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.padding-left {
  padding-left: 70px;
}
.padding-right {
  padding-right: 70px;
}
.no-margin {
  margin: 0 !important;
}
.no-margin-right {
  margin-right:0 !important;
}
.no-padding {
  padding: 0;
}
.noleftpadding {
  padding-left:0 !important;
}
.no-padding-top {
  padding-top:0 !important;
}
.floatleft {
  float: left;
}
.floatright { 
  float: right;
}
.no-wrap {
  white-space: nowrap;
}
.bold {
  font-weight:bold;
}
.hidden {
  display:none;
}
.no-border {
  border:none !Important;
}
/* =============================================================================
   GENERAL
   ========================================================================== */
body {
  color: #6E6E6E;
  font-family: Arial, Sans-Serif;
}
a {
  color: #474747;
  text-decoration: none;
}
#bg-container {
  width: 1100px;
  margin: 0 auto;
}
#main-container {
  width: 1100px; /*width: 960px;*/
  margin: 0 auto;
}

#main-container .content-detail-header {
  display: none;
}
/* =============================================================================
   HEADERS
   ========================================================================== */
h1 {
  color: #656E6E;
  font-family:arial, san-serif;
  font-size:16px;
}


/* =============================================================================
   HEADER
   ========================================================================== */
#header-top-bar {
  width: 1100px;
  height: 50px;
  position:relative;
}
#header-top-bar-logo {
  float: left;
}
#header-top-bar-nav li {
  float: left;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 18px 20px 19px;
}
#header-top-bar-nav li a {
  text-decoration: none;
  color: #474747;
  padding-right: 17px;
}

/* =============================================================================
   HERO
   ========================================================================== */
#hero-large {
  position: relative;
  height: 328px;
  float: left;
  margin-bottom: 0px;
}
.hero-image {
  z-index: -9999;
}
#hero-large-title {
  position: absolute;
  bottom: 0;
  width: 88%;
  height: 56px;
}
#hero-large-title-bg {
  bottom: 0;
  filter: alpha(opacity=85);
  float: left;
  height: 76px;
  left: 0;
  opacity: 0.85;
  position: absolute;
  width: 100%;
  zoom: 1;
}
.solid {
  position: relative;
  top: 15px;
  z-index: 1;
}
.solid h2 {
  color: #FFFFFF;
  font-family: atrament-web-lf,Atrament,Sans-Serif;
  font-size: 48px;
  font-weight: normal;
  text-transform: uppercase;
  float: left;
}
/*.solid-large {
  position: relative;
  top: 15px;
  z-index: 1;
}
.solid-large h2 {
  color: #FFFFFF;
  font-family: atrament-web-lf,Atrament,Sans-Serif;
  font-size: 48px;
  font-weight: normal;
  text-transform: uppercase;
  float: left;
}
.solid-normal {
  position: relative;
  top: 15px;
  z-index: 1;
}
.solid-normal h2 {
  color: #FFFFFF;
  font-family: atrament-web-lf,Atrament,Sans-Serif;
  font-size: 48px;
  font-weight: normal;
  text-transform: uppercase;
  float: left;
}*/



/* Hero Normal Img & Tabs */
#hero-normal-img-tabs {
  position: relative;
  height: 290px;
  float: left;
  margin-bottom: 0;
}
#hero-normal-img-tabs-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 96px;
  left: 0;
}
#hero-normal-img-tabs-title-bg {
  background-color: #9d3e04;
  bottom: 0;
  filter: alpha(opacity=85);
  float: left;
  height: 96px;
  left: 0;
  opacity: 0.85;
  position: absolute;
  width: 100%;
  zoom: 1;
}

/* Hero Normal Img NO TABS */
#hero-normal-img {
  position: relative;
  height: 270px;
  float: left;
  margin-bottom:30px;
}
#hero-normal-img-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 76px;
  left: 0;
}
#hero-normal-img-title-bg {
  position: absolute;
  bottom: 0;
  filter: alpha(opacity=85);
  float: left;
  height: 76px;
  left: 0;
  opacity: 0.85;
  width: 100%;
  zoom: 1;
}

/* Hero Normal Tabs NO IMAGE */
#hero-normal-tabs {
  background-color: #9d3e04;
  position: relative;
  height: 165px;
  width: 100%;
  float: left;
}
#hero-normal-tabs-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 96px;
}
#hero-normal-tabs-title-bg {
  /*background-color: #9d3e04;*/
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 96px;
  zoom: 1;
  /*filter: alpha(opacity=85);
  opacity: 0.85;*/
  float: left;
}
.hero-normal-tabs-image {
  width: 100%;
  height: 165px;
}

/* Hero Normal No Tabs No Image */
#hero-normal-no-tabs-no-image {
  background-color: #9d3e04;
  position: relative;
  height: 165px;
  width: 100%;
  float: left;
  margin-bottom: 30px;
}
#hero-normal-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 76px;
}

/* Hero Normal NO IMAGE */
#hero-normal-no-image {
  position: relative;
  height: 165px;
  width: 100%;
  float: left;
  margin-bottom: 29px;
}

/* Hero MISC */
#country-selector {
  border: 1px solid #E7E7E7;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  float: right;
  height: 26px;
  margin-right: 71px;
  width: 146px;
}

#country-selector a {
  color: #919191;
  display: inline-block;
  font-size: 11px;
  line-height: normal;
  margin: 0 8px 0 34px;
  padding: 6px 22px 0 0;
  text-transform: capitalize;
}
#social-links {
  float: left;
  margin-top: 21px;
  margin-left: 18px;
}
#social-links li {
  display: inline;
  margin-right: 6px;
}
#social-links li:last-child {
  margin-right: 0;
}

/* =============================================================================
   FOOTER ( Contextual & Agnostic )
   ========================================================================== */
.footer-helpful-links {
  float: left;
  width: 1010px;
  height: auto;
  min-height: 18px;
  padding-top: 12px;
  padding-right: 20px;
  padding-bottom: 10px;
}
.footer-helpful-links h3 {
  float: left;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  color: #fff;
  text-transform: uppercase;
  margin: 0 20px 0 0;
}
.footer-helpful-links ul {
  float: none;
}
.footer-helpful-links ul li {
  float: left;
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
  color: #fff;
  text-transform: initial;
  margin: 0 10px 0 0;
}
.footer-helpful-links ul li a {
  color: #fff;
}
#footer {
  background-color: #e1e1e1;
  float: left;
}
#footer-left-col {
  background-color:#e1e1e1;
  float: left;
  padding: 30px 0 28px 70px;
  width: 640px;
}
#footer-right-col {
  float: left;
  background-color: #d9d9d9;
  width: 390px;
}
#footer-left-col h4 {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 15px 0;
}
#footer-left-col ul {
  font-size: 11px;
}
.footer-corporate-links {
  background-color: #eee;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  height: 40px;
  float: left;
  width: 1030px;
}
.footer-corporate-links li {
  float: left;
  padding-right: 35px;
  padding-top: 15px;
}
.footer-corporate-links li a {
  text-decoration: none;
  color: #8a8a8a;
}
.sitemap-legal {
  font-size: 10px;
  font-weight: bold;
  margin: 20px 0;
  float: left;
}
.sitemap-legal li {
  float: left;
}
.sitemap-legal li a {
  padding: 0 10px;
}
.sitemap-legal li .noleftpadding {
  padding-left: 0;
}
.copyright {
  font-size: 10px;
  margin: 0 0 20px 0;
  width: 760px;
  float: left;
}
.footer-right, .contextual-footer-right {
  float: left;
  padding: 30px 0 23px 30px;
  width: 310px;
}
#footer #footer-left-col ul {
  float: left;
  font-size: 11px;
  line-height: 13px;
  padding-right: 25px;
  width: auto;
}
#footer-left-col ul li {
  margin-top: 8px; 
}
#footer-left-col ul a:hover {
  text-decoration: underline;
}
.contextual-footer-left ul {
  float: left;
  font-family: Arial,Segoe UI,Sans-Serif;
  font-size: 11px;
  line-height: 13px;
  margin: 6px 10px 0 0;
  padding-left: 0;
  text-transform: capitalize;
  width: 140px;
}
#footer-left-col ul li.no-margin {
  margin: 0;
}
.msds-finder-title {
  font-family: ff-meta-web-pro,"Myriad Pro",Segoe UI,Arial,Sans-Serif;
  font-size: 15px;
  line-height: 12px;
}
.msds-finder-language {
  margin: 12px 0 0;
  width: 240px;
}
.msds-finder {
  background-color: #fff;
  border: 1px solid #C7C7C7;
  -moz-border-radius: 4px; /* Firefox */
  -webkit-border-radius: 4px; /* Safari, Chrome */
  border-radius: 4px; /* CSS3 */
  height: 30px;
  margin: 10px 0 0;
  padding: 0;
  width: 240px;
}
.msds-search-link {
  border: medium none;
  color: #474747;
  cursor: pointer;
  font-family: ff-meta-web-pro,"Myriad Pro",Segoe UI,Arial,Sans-Serif;
  font-size: 15px;
  margin: 0 0 0 1px;
  position: relative;
  text-align: left;
  text-decoration: none !Important;
  top: 12px;
}
#msdn-select-button {
  height: 1.6em !important;
}
.msds-finder-language .ui-corner-all, .msds-finder-language .ui-selectmenu {
  -moz-border-radius: 0; /* Firefox */
  -webkit-border-radius: 0; /* Safari, Chrome */
  border-radius: 0; /* CSS3 */
}
.msds-finder-language .ui-corner-all, .msds-finder-language .ui-selectmenu {
  -moz-border-radius: 0; /* Firefox */
  -webkit-border-radius: 0; /* Safari, Chrome */
  border-radius: 0; /* CSS3 */
}
.msds-finder-language .ui-state-default {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #C7C7C7;
  color: #474747;
  margin: 0;
}
.msds-finder-language .ui-selectmenu-status {
  border-right: 1px solid #F2F2F2;
  color: #919191;
  display: inline-block;
  line-height: normal;
  margin: 0;
  padding: 3px 60px 3px 0;
  white-space: nowrap;
  font-size: 12px;
}
.msds-finder-box {
  border: medium none transparent;
  color: #919191;
  float: left;
  font-size: 12px;
  margin: 6px 0 0 10px;
  padding: 0;
  width: 200px;
  
}
.msds-search-link-arrow {
  border: medium none;
  height: 15px;
  margin: 4px 30px 0 9px;
  position: relative;
  width: 15px;
}
.msds-finder-language .ui-selectmenu, #msdn-select-menu {
  padding: 4px 29px 4px 10px;
}

/* Agnostic Footer Module - M.2.1  */
.footer_agnostic {
    background-color: #d9d9d9; 
    border-top:1px solid #d6d6d6;
    float:left;
}
.footer_agnostic #footer-right-col {
    padding:30px;
    width:330px;
}
.footer_agnostic ul.agnostic-footer-corporate-links {
    padding:0;
    width:auto;
}
.footer_agnostic ul.agnostic-footer-corporate-links li {
    display:inline;
    margin:0 26px 0 0;
}
.footer_agnostic ul.agnostic-footer-corporate-links li a {
    font-family: ff-meta-web-pro,"Myriad Pro",Segoe UI,Arial,Sans-Serif;
    font-size:12px;
    font-weight:bold;
    text-transform:uppercase;
}
/* Agnostic Footer Module - M.2.1 - Social Media */
.footer_agnostic .agnostic-footer-connect {
    float:left;
    margin-top:17px;
    width:100%;
}
.footer_agnostic .agnostic-footer-connect ul.social_links {
    display:inline;
    text-indent:-9999px;
    width:150px;
}
.footer_agnostic .agnostic-footer-connect ul.social_links li {
    float:left;
    height:20px;
    margin:0 10px 0 0;
    width:20px; 
}
.footer_agnostic .agnostic-footer-connect span {
    color:#919191;
    display:inline;
    float:left;
    font-size:11px;
    font-weight:bold;
    line-height:26px;
    margin:5px 9px 0 0;
    text-transform:uppercase;
}
.footer_agnostic .agnostic-footer-connect ul li a {
  float:left;
  height:20px;
  width:20px;
}
/* Agnostic Footer Module - M.2.1 - Utility Links */
.footer_agnostic .agnostic-footer-utility-links {
    float:left;
    margin:12px 0 0;
    padding:0;
    width:auto;
}
.footer_agnostic .agnostic-footer-utility-links li {
    float:left;
    margin:0;
}
.footer_agnostic .agnostic-footer-utility-links a {
    color:#6e6e6e;
    font-size:10px;
    padding: 0 10px 0 10px;
}
.footer_agnostic .agnostic-footer-utility-links a.no-padding-left {
    padding-left:0;
}
.footer_agnostic .copyright {
    margin:7px 0 0;
    line-height:10px;
    width:608px;
}
/* Agnostic Footer Module - M.2.1 - Agnostic Footer Disclaimer */
.footer_agnostic .site-search-box {
    margin:8px 0 0 5px;
}


/* =============================================================================
   BREADCRUMB, PRINT, SHARE, CONTACT, BUTTONS 
   ========================================================================== */
.breadcrumb {
  display: none;
  font-size: 11px;
  line-height: 11px;
  float: left;
}
.breadcrumb a:hover {
  text-decoration:underline;
}
.breadcrumb-spacer {
  margin: 0 5px;
}
.print-share-contact {
  display: none;
  float: right;
  text-transform: uppercase;
  font-size: 12px;
}
.print-share-contact div {
  float: left;
  margin-left: 30px;
  font-weight: bold;

}
.share-button a {
  display: inline-block;
  padding: 0 0 0 18px;
}
.print-button a {
  display: inline-block;
  padding: 0 0 0 16px;
}
.contact-button a {
    border: 1px solid #F6F6F6;
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    border-radius: 10px; /* CSS3 */
    box-shadow: 1px 1px 1px #CCCCCC;
    color: #CE0022;
    display: inline-block;
    margin: -10px 6px 0 0;
    padding: 7px 12px 4px 14px;
}
.contact-button a:hover {
    background-color: #CE0022 !important;
    border: 1px solid #CE0022;
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    border-radius: 10px; /* CSS3 */
    box-shadow: 1px 1px 1px #CCCCCC;
    color: #FFFFFF;
    display: inline-block;
    margin: -10px 6px 0 0;
    padding: 7px 12px 4px 14px;
}
.gray-white-button .button-text,
.red-white-button .button-text {
    float:left;
    font-size:12px;
    font-weight:bold;
    text-transform:uppercase;
}
.red-white-button a {
    background-color:#fff !important;
    border: 1px solid #F6F6F6;
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    border-radius: 10px; /* CSS3 */
    box-shadow: 1px 1px 1px #CCCCCC;
    color: #CE0022;
    display: inline-block;
    margin: -10px 6px 0 0;
    padding: 7px 12px 4px 14px;
}
.red-white-button a:hover {
    background-color: #CE0022 !important;
    border: 1px solid #CE0022;
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    border-radius: 10px; /* CSS3 */
    box-shadow: 1px 1px 1px #CCCCCC;
    color: #FFFFFF;
    display: inline-block;
    margin: -10px 6px 0 0;
    padding: 7px 12px 4px 14px;
}
.gray-white-button a {
    background-color:#fff !important;
    border: 1px solid #F6F6F6;
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
    border-radius: 10px; /* CSS3 */
    box-shadow: 1px 1px 1px #CCCCCC;
    color: #808080;
    display: inline-block;
    margin: -10px 6px 0 0;
    padding: 7px 12px 4px 14px;
}
.gray-white-button a:hover {
    background-color: #808080 !important;
    border: 1px solid #808080;
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    border-radius: 10px; /* CSS3 */
    box-shadow: 1px 1px 1px #CCCCCC;
    color: #FFFFFF;
    display: inline-block;
    margin: -10px 6px 0 0;
    padding: 7px 12px 4px 14px;
}
.signup-button {
    margin:20px 0 30px;
    width:100%;
}
.signup-button a {
    border: 1px solid #F6F6F6;
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    border-radius: 10px; /* CSS3 */
    box-shadow: 1px 1px 1px #CCCCCC;
    color: #CE0022;
    font-size:12px;
    font-weight:bold;
    margin-top: -10px;
    padding: 7px 8px 4px 26px;  
    text-transform:uppercase;
}
.signup-button a:hover {
    background-color: #CE0022 !important;
    border: 1px solid #CE0022;
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    border-radius: 10px; /* CSS3 */
    box-shadow: 1px 1px 1px #CCCCCC;
    color: #FFFFFF;
    display: inline-block;
    margin-top: -10px;
    padding: 7px 8px 4px 26px; 
}

/* =============================================================================
   ROWS
   ========================================================================== */
#intro {
  width: 960px;
}
#intro-text {
  float: left;
  font-size: 12px;  
  padding:45px 0 30px 0;
  width: 630px;
}
#intro-text h2 {
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 13px;
  float: left;
}
#intro-text p {
  line-height: 19px;
  margin-bottom:20px;
}
#FeaturedModA {
  float: right;
  width: 300px;
  text-transform: uppercase;
  margin: 60px 40px 40px;
}
#FeaturedModA a {
  color: #ad1347;
}
#FeaturedModA a h2 {
  font-size: 30px;
  height: 34px;
  padding-left: 42px;
  padding-top: 12px;
}
#FeaturedModA a h3 {
  font-size: 18px;
}
#video-module {
  width: 300px;
  float: right;
  padding-top: 45px;
  padding-bottom: 30px;
}
.row {
  padding: 30px 0;
  width: 100%;
}
.row-color {
  background-color: #fafafa;
  border-bottom: 1px solid #EAEAEA;
  border-top: 1px solid #EAEAEA;
  padding: 30px 0;
  width: 100%;
}
.row-color-no-brdr-tp {
  background-color: #fafafa;
  border-bottom: 1px solid #EAEAEA;
  border-top: none;
  padding: 30px 0;
  width: 100%;
}
.row-color-no-brdr-bt {
  background-color: #fafafa;
  border-top: 1px solid #EAEAEA;
  border-bottom: none;
  padding: 30px 0;
  width: 100%;
}
.row p, .row-color p, .row-color-no-brdr-tp p, .row-color-no-brdr-bt p, .row-2col p, .row-3col p, .row-4col p {
  font-size: 12px;
  margin-top: 10px;
}
.row h2.row-title, .row-color h2.row-title, .row-color-no-brdr-bt h2.row-title, .row-color-no-brdr-tp h2.row-title {
  font-family: Arial;
  font-size: 18px;
  font-weight: normal;
  color: #808080;
  text-transform: uppercase;
  margin-bottom: 30px;
  width: 100%;
}
.row h2 {
  font-family: "Myriad Pro", Arial;
  font-size: 18px;
  color: #474747;
  font-weight: normal;
}
.row p {
  font-family: Arial, Sans;
  font-size: 12px;
  color: #6e6e6e;
  margin-top: 10px;
}
.cta-arrow {
  border: none;
  height: 15px;
  margin: 0 0 0 5px;
  position:relative;
  top:3px;
  width: 15px;
}
ul.row-2col li {
  width: 465px;
  float: left;
  margin-right: 30px;
}
ul.row-2col li:last-child {
  margin-right: 0;
}
.row-with-callout {
  float: left;
}
ul.row-3col li {
  width: 300px;
  float: left;
  margin-right: 30px;
}
ul.row-3col li:last-child {
  margin-right: 0;
}
ul.row-4col li {
  width: 218px;
  float: left;
  margin-right: 29.3px;
}
ul.row-4col li:last-child {
  margin-right: 0;
}
.row-2col h2, 
.row-3col h2, 
.row-4col h2 {
  font-weight: normal;
  line-height: 1.125em;
}
.mod-disclaimer {
  padding: 30px 0;
  border-top: 1px solid #eaeaea;
}
.disclaimer {
  width: 630px;
  font-size: 12px;
}
#site-search {
  position: absolute;
  top: 27px;
  right: 70px;
}
.site-search {
  display: none;
  width: 314px;
  height: 44px;
}
.site-search-box {
  background-color: transparent;
  border: medium none transparent;
  color: #919191;
  float: left;
  font-size: 12px;
  height: 20px;
  padding: 12px 10px;
  width: 250px;
}
.site-search-button {
  border: 1px solid transparent;
  cursor: pointer;
  float: right;
  height: 30px;
  margin: 9px 9px 0 0;
  overflow: hidden;
  width: 32px;
}

/* =============================================================================
   CALLOUT
   ========================================================================== */
#tool-callout {
  float: right;
  width: 300px;
  text-transform: uppercase;
  margin: 0 70px 0 0;
}
#tool-callout a {
  color: #ad1347;
}
#tool-callout a h2 {
  font-size: 30px;
  height: 34px;
  padding-left: 42px;
  padding-top: 12px;
}
#tool-callout a h3 {
  font-size: 18px;
}

/* =============================================================================
   TABS
   ========================================================================== */
#nav-tabs-wrapper {
  background: #d7d7d7;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#dddddd));
  background: -moz-linear-gradient(top, #ededed, #dddddd);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  float: left;
  font-size: 13px;
  font-weight: bold;
  margin: -20px 70px 32px;
  position:relative;
  text-align: center;
  width: 960px;
}
#nav-tabs-2 li a {
  float: left;
  width: 49%;
  height: 40px;
  border-right: 1px solid #FFFFFF;
  line-height: 40px;
  text-transform: uppercase;
}
#nav-tabs-2 li a.no-border {
  border: none;
}
#nav-tabs-3 li a {
  float: left;
  width: 319px;
  height: 40px;
  border-right: 1px solid #FFFFFF;
  line-height: 40px;
  text-transform: uppercase;
}
#nav-tabs-3 li a.no-border {
  border: none;
}
#nav-tabs-4 li a {
  float: left;
  width: 239px;
  height: 40px;
  border-right: 1px solid #FFFFFF;
  line-height: 40px;
  text-transform: uppercase;
}
#nav-tabs-4 li a.no-border {
  border: none;
}
#nav-tabs-5 li a {
  float: left;
  width: 191px;
  height: 40px;
  border-right: 1px solid #FFFFFF;
  line-height: 40px;
  text-transform: uppercase;
}
#nav-tabs-5 li a.no-border {
  border: none;
}
/* =============================================================================
   GLOBAL NAVIGATION
   ========================================================================== */
#dropdown-industries, #dropdown-products_services, #dropdown-inclusive_innovation {
  display: none;
}

#header-top-bar-nav li .hover div {
  display: inline-block;
}
li .mega .hover {
  background-color: #fff;
  border-left: 1px solid #bdbdbd;
  border-right: 1px solid #bdbdbd;
  position: relative;
}
li .mega .hover a.global-mega-link {
  color: #c6001e;
  text-decoration: none;
}

/* MAIN LINK */
.menu-dropdown {
  display: none;
  float: left;
}

#global-menu
{
padding: 0;
}
#global-menu, #global-menu ul {
  list-style: none outside none;
}
#global-menu li.hovering div {
  display: inline-block;
}
.global-menu-link {
  font-size: 13px;
  font-weight: normal;
  padding-left:3px; /* padding-left:11px; */
  line-height:normal;
}
.mega a:hover {
  text-decoration: none;
}
.mega {
  float: left;
  position: relative;
  padding: 20px 20px 19px;
  font-size:13px;
  line-height:11px;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}
li .mega .hovering {
  background-color: #fff;
  border-left: 1px solid #bdbdbd;
  border-right: 1px solid #bdbdbd;
  position: relative;
}
.mega-no-dropdown {
  float: left;
  position: relative;
  padding: 15px;
}
.mega-no-dropdown a:hover {
  text-decoration: none;
}
.global-mega-link {
  padding-right:17px;
  font-weight: 700;
}
li .mega .hovering a.global-mega-link {
  color: #c6001e;
  text-decoration: none;
}
/* DROP DOWN */
#global-industries-dropdown {
  background-color: #fff;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-box-shadow: 1px 1px 3px #ccc;
  -webkit-box-shadow: 1px 1px 3px #ccc;
  box-shadow: 1px 1px 3px 0px #ccc;
  display: none;
  float: left;
  left: 0; 
  padding: 16px 22px 11px;
  position: absolute;
  top: 50px;
  width:770px; 
  z-index: -1;
}
#global-productsservices-dropdown {
  background-color: rgb(255, 255, 255);
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-box-shadow: 1px 1px 3px #ccc;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-box-shadow: 1px 1px 3px #ccc;
  -moz-border-radius: 0 0 10px 10px; /* Firefox */
  -webkit-border-radius: 0 0 10px 10px; /* Safari, Chrome */
  box-shadow: 1px 1px 3px 0 #ccc;
  border-radius: 0 0 10px 10px; /* CSS3 */
  display: none;
  left: -130px; /*-128px;*/ 
  padding: 20px 22px 11px;
  position: absolute;
  top: 50px;
  width: 770px;
  z-index: -1;
}
.dropdown-productsservices-search {
  float:left;
  width: 165px; 
}
.dropdown-productsservices-herobrands {
  float: left;
  width: 600px;
}
#global-initiatives-dropdown {
  background-color: rgb(255, 255, 255);
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-box-shadow: 1px 1px 3px #ccc;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-box-shadow: 1px 1px 3px #ccc;
  box-shadow: 1px 1px 3px 0 #ccc;
  -moz-border-radius: 0 0 10px 10px; /* Firefox */
  -webkit-border-radius: 0 0 10px 10px; /* Safari, Chrome */
  border-radius: 0 0 10px 10px; /* CSS3 */
  display: none;
  left:-322px;
  padding: 16px 22px 11px;
  position: absolute;
  top: 50px;
  width:770px; /* width:768px; */
  z-index: -1;
}

/* Firefox Specific */

@-moz-document url-prefix() {
  #global-industries-dropdown {
    left:-1px;  
    width:770px; 
  }
}

@-moz-document url-prefix() {
  #global-productsservices-dropdown {
    left:-130px; 
    width:770px; 
  }
}

@-moz-document url-prefix() {
  #global-initiatives-dropdown {
  left: -322px;
  width:770px; 
  }
}

/* DROP DOWN LINK */
.global-dropdown-list {
  font-size:14px;
  padding-left:0;
}
.global-dropdown-list li {
  float:left;
  width: 185px; /* Updated for Top Navigation */
  margin: 0 0 9px; /* margin: 0 0 5px; */
}
.global-dropdown-list li:before {
  content: "\003E \0020";
  font-weight: normal;
}
.global-dropdown-list li.no-li-item:before {
    content:" ";
}
.global-dropdown-list li:hover {
  color: #B81D16;
}
.dropdown-productsservices-herobrands .global-dropdown-list {
  margin-top: 14px;
}
.dropdown-productsservices-search .global-dropdown-list {
  margin-top: 14px;
}
/* DROP DOWN SUB-HEAD */
.mega h3 {
  font-size: 14px;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  line-height:14px;
  margin-bottom:8px;
}

/* Sub Navigation Module - M.49.0 */
.sub_navigation {
    float:left;
    height:auto;
    margin-bottom:0;
    padding:17px 70px 16px;
    opacity:0.85;
    width:960px;
}
.sub_navigation .column {
    float: left;
    margin:0 30px 0 0;
    max-width:300px;
}
.sub_navigation .column li {
    list-style-position: outside;
    margin:0 0 6px 0;
}
.sub_navigation .column li a {
    color:#fff;
    font-family: ff-meta-web-pro,"Myriad Pro",Segoe UI,Arial,Sans-Serif;
    font-size: 14px;
    text-transform: uppercase;
}

/*  Article Page - Content Detail - Article Detail T.5.1  */
#article_page {
    float:left;
    margin:42px 0 0;
}
.article-detail-header {
    float:left;
    height:100px; 
    padding:0; 
    position:relative; 
}
.article-detail-header .breadcrumb {
    margin-top: 89px;
}
.article-detail-header #site-search {
    top: 25px;
}
.article-detail-header .print-share-contact {
    position:absolute;
    right:0;
    top:89px;
}
.article {
    float:left;
    width:630px;
}
.article h3 {
    color:#474747;
    font-family: ff-meta-web-pro,"Myriad Pro",Segoe UI,Arial,Sans-Serif;
    font-size:24px;
    width:100%;
}
.article-body {
    margin-top:17px;
}
.article-body p {
    margin-bottom: 20px;
    line-height: 18px;
    font-size: 12px;
}
.article .article-date {
    color:#474747;
    font-family: ff-meta-web-pro, "Myriad Pro" ,Segoe UI,Arial,Sans-Serif;
    font-size:12px;
    font-weight:bold;
    margin: 5px 0 0 0;
}
.article-hero_image {
    margin:17px 0 0 0;
    width:100%;
}
.article-hero_image img {
    width:630px;
}
.article-hero_image .hero_image-caption {
    color:#6e6e6e;
    float: left;
    font-size:11px;
    font-style:italic;
    margin-top: 6px;
    width:100%;
}
.article-author {
    color:#474747;
    float:left;
    font-size:12px;
    font-weight:bold;
    margin-top:27px;
}
.article-subhead-1 {
    color:#992A10;
    float:left;
    font-size:15px;
    font-weight:bold;
    margin-top:16px;
    width:100%;
}
.article-subhead-2 {
    font-weight:bold;
}

/* Article Sidebar Module */

.article-sidebar {
    float:left;
    margin:2px 0 0;
    padding-left:30px;
    position:relative;
    width:300px;
}

.article-sidebar .vertical_list_module {
    float:left;
    padding:28px 15px 2px;
    width:270px;
}
.article-sidebar .vertical_list_module:nth-child(odd)  {
    background-color:#fafafa;
    border-bottom:1px solid #eaeaea;
    border-top:1px solid #eaeaea;
}
.article-sidebar .vertical_list_module:nth-child(even)  {
    border-bottom:1px solid #fff;
    border-top:1px solid #fff;
}
.article-sidebar .vertical_list_module:last-child {
    margin-bottom:30px;
}
.article-sidebar_title {
    color:#808080;
    font-family: ff-meta-web-pro,"Myriad Pro",Segoe UI,Arial,Sans-Serif;
    font-size:16px;
    margin:0 0 24px 0;
    text-transform:uppercase;
}
.article-sidebar .vertical_list_module ul li {
    float:left;
    font-family: ff-meta-web-pro,"Myriad Pro",Segoe UI,Arial,Sans-Serif;
    line-height:20px;
    margin:0 0 22px 0;
}
.article-sidebar .vertical_list_module ul li a {
    float:left;
    font-family: ff-meta-web-pro,"Myriad Pro",Segoe UI,Arial,Sans-Serif;
    width:100%;
}
.article-sidebar .vertical_list_module ul li .event_date {
    color:#474747;
    float:left;
    font-family: ff-meta-web-pro,"Myriad Pro",Segoe UI,Arial,Sans-Serif;
    font-size:12px;
    line-height: 16px;
    width:100%;
}
.article-sidebar .vertical_list_module ul li .event_title {
    color:#474747;
    float:left;
    margin-top:8px;
    width:100%;
}
.article-sidebar .vertical_list_module .event_description {
    color:#6e6e6e;
    float:left;
    font-size:12px;
    margin-top:9px;
    width:100%;
}
.article-sidebar .vertical_list_module ul li p {
    font-size:14px;
}

/* Polling Module - M.19.0 - Deprecated? */
.article-sidebar .vertical_list_module .poll_question {
    color: #474747;
    float:left;
    line-height:20px;
}
.article-sidebar .vertical_list_module #article-sidebar_poll {
    float:left;
    font-size:12px;
    margin-top:12px;
}
.article-sidebar .vertical_list_module #article-sidebar_poll .radio {
    margin-right:10px;
}
.article-sidebar .vertical_list_module .submit {
    border:none;
    cursor: pointer;
    height:27px;
    margin-top:10px;
    text-indent:-9999px;
    width:77px;
}

/* Print Share Module - M.14.0 */
#print_share_module {
    float:left;
    height:11px;
    margin:3px 0 0 0;
    width:100%;
}
#print_share_module div {
    float:left;
    text-indent:-9999px;
}
#print_share_module div a {
    float:left;
    height:11px;
    width:100%;
}
#print_share_module .print {
    height:11px;
    margin:0 20px 0 0;
    width:48px;
}
#print_share_module .share {
    height:11px;
    width:51px;
}

/* Article Page Disclaimer Module - M.23.0 */
.mod-disclaimer-article {
    border-top:none;
    float:left;
    line-height:19px;
    margin:24px 0;
    width:630px;
}
.mod-disclaimer-article .disclaimer {
    width:630px;
}

/* Inline Callout Module - M.8.0 */
.inline_callout_module {
    background-color: #fafafa;
    border-bottom:1px solid #eaeaea;
    border-top:1px solid #eaeaea;
    clear:left;
    float:left;
    height:auto;
    margin:0 23px 20px 0;
    padding:10px 6px 7px;
    width:218px;
}
.inline_callout_module .inline_callout_image {
    float:left;
    height:109px;
    width:218px;
}
.inline_callout_module .inline_callout_title {
    color: #474747;
    float:left;
    font-family: ff-meta-web-pro,"Myriad Pro",Segoe UI,Arial,Sans-Serif;
    margin:9px 0 0 0;
    width:100%;
}
.inline_callout_module .inline_callout_caption {
    color:#6e6e6e;
    float:left;
    font-size:12px;
    margin:6px 0 0;
}
.inline_callout_enlarge {
    float: left;
    margin-top:6px;
}
.inline_callout_enlarge span {
    color:#474747;
    font-size:12px;
    text-transform:uppercase;
}

/* Homepage - Hero Callout Module - M.22.0 */
.hero_callout_module {
    background-color:#cd0529;
    bottom:30px;
    color:#fff;
    left:70px;
    padding:19px 20px 20px;
    position:absolute;
}
.hero_callout_module .hero_callout_module-headline {
    font-family:ff-meta-web-pro,"Myriad Pro",Segoe UI,Arial,Sans-Serif;
    font-size:24px;
    text-transform: uppercase;
}
.hero_callout_module .hero_callout_module-short_desc {
    font-size:12px;
    font-weight:bold;
    margin-top:10px;
}
.hero_callout_module a {
    color: #ffffff;
}

/* CURATED LINK LIST MODULE - Quick Links */
.row .quick_links h2 {
  margin-bottom:10px;
}
.row .quick_links li {
  color:#474747;
  margin-bottom:13px;
  padding-left:10px;
}
.row .quick_links a {
  font-size:12px;
  font-weight:bold;
}
.row .quick_links a:hover {
  text-decoration:underline;
}
.row .quick_links p {
  margin-bottom:14px;
}

/* Featured Homepage Module */
.homepage-hero {
  position:relative;
}
.homepage-hero-image {
    height:372px; 
    width:1100px;
}
.featured_homepage_module {
    background-color:#fff;
    height:96px;
    width:100%;
}
.featured_homepage_module ul {
    float:left;
    margin:18px 0;
}
.featured_homepage_module ul li {
    float:left;
    height:58px;
    padding:0 30px;
    width:260px;
}
.featured_homepage_module ul li a {
    font-family:ff-meta-web-pro,"Myriad Pro",Segoe UI,Arial,Sans-Serif;
}
.featured_homepage_module .prev {
    float:left;
    height:96px;
    text-indent:-9999px;
    width:69px;
}
.featured_homepage_module .next {
    float:left;
    height:96px; 
    text-indent:-9999px;
    width:69px;
}
.featured_homepage_module .prev a,
.featured_homepage_module .next a {
    float:left;
    width: 100%;
    height: 100%;
}

/* Call To Action Module */
.article-sidebar .call-to-action-module h2 {
    font-size:16px;
    margin-bottom:9px;
}
.article-sidebar .call-to-action-module p {
    font-size:12px;
}
.article-sidebar .call-to-action-module .red-white-button {
    margin:20px 0;
}
.article-sidebar .call-to-action-module .sign_up {
    margin-bottom:25px;
    margin-top:18px;
}

/* Comment Module - M.28.0 */
.comment_module {
    border-top:1px solid #eaeaea;
    float:left;
    margin-top:30px;
    padding-top:15px;
    width:100%;
}
.comment_module ul.comments li {
    float:left;
    height:auto;
    margin-bottom:23px;
    width:100%;
}
.comment_module h4 {
    color:#474747;
    font-size:14px;
    margin-bottom:27px;
    text-transform:uppercase;
}
.comment_module p {
    font-size: 12px;
    line-height: 19px;
}
.comment_module .comment_author {
    float:left;
    font-size:12px;
    margin-bottom:4px;
    width:100%;
}
.comment_module .comment_time {
    color:#919191;
    float:left;
    font-size:11px;
    margin-bottom:9px;
    text-transform:undercase;
    width:100%;
}
.comment_module .comments_footer {
    border-top:1px solid #eaeaea;
    float:left;
    padding-top:12px;
    width:100%;
}
.comment_module .comments_footer a {
    color:#6e6e6e;
    font-size:12px;
    text-transform:uppercase;
}
.comment_module .comments_footer .comments_view_all {
    float:left;
    margin-right:28px;
    width:auto;
}
.comment_module .comments_footer .post_comment {
    float:left;
    padding-left:18px;
    width:auto;
}

/* Scott Horizontal List Module Tweaks - Integrate apon Completion */
.horizontal_list_module .date {
    color:#474747;
    font-family:ff-meta-web-pro,"Myriad Pro",Segoe UI,Arial,Sans-Serif;
    font-size:14px;
    margin-bottom:5px;
}
.horizontal_list_module h2 {
    margin-bottom:7px;
}
.horizontal_list_module img {
    margin-bottom: 16px;
}
.horizontal_list_module .cta-arrow,
.horizontal_list_module .tool-arrow {
    margin-bottom:0;
}

.horizontal_list_module {
    position:relative;
}
.horizontal_list_module .prev {
    bottom:0;
    height: 100%;
    left:0;
    position:absolute;
    text-indent: -9999px;
    width: 69px;
}
.horizontal_list_module .next {
    bottom:0;
    height: 100%;
    position:absolute;
    right:0;
    text-indent: -9999px;
    width: 69px;
}
.horizontal_list_module .prev a, .horizontal_list_module .next a {
    float: left;
    width: 100%;
    height: 100%;
}
.horizontal_list_module .carousel_data {
    position:absolute;
    right:70px;
    top:30px;
}
.carousel_marker {
    float:left;
    padding: 10px 20px 0 0;
}

.jcarousel-container a.prev,
.jcarousel-container a.next,
.prev.jcarousel-prev,
.next.jcarousel-next,
.prev.jcarousel-prev-disabled,
.next.jcarousel-next-disabled {
  display: none !important;
}


/* * * * * * * * * * * * * * * * */
/* Added By Santiago - 10.18.12  */
/* * * * * * * * * * * * * * * * */

/* =============================================================================
   FEATURED MODULE B
   ========================================================================== */
.featured_mod_b {
  float: left;
  width: 300px;
  text-transform: uppercase;
  margin: 0 0 0 70px;
}
.featured_mod_b a {
  color: #317ea5;
}
.featured_mod_b a h2 {
  font-size: 80px;
  height: 85px;
  padding-right: 42px;
  padding-top: 12px;
}
.featured_mod_b a h3 {
  font-size: 29px;
  font-weight: normal;
  color: #317ea5;
}
.featured_mod_b h4 a {
  font-weight: normal;
  color: #474747;
  text-decoration: none;
  text-transform: none;
  display: block;
  margin-top: 10px;
}
li#featured_mod_b_list-food a {
  display: block;
  height: 50px;
}
li#featured_mod_b_list-food a:hover {
  display: block;
  height: 50px;
}
li#featured_mod_b_list-energy a {
  display: block;
  height: 50px;
}
li#featured_mod_b_list-energy a:hover {
  display: block;
  height: 50px;
}
li#featured_mod_b_list-protection a {
  display: block;
  height: 50px;
}
li#featured_mod_b_list-protection a:hover {
  display: block;
  height: 50px;
}
#hor-list-callout {
  text-transform: uppercase;
  color: #a5877a;
  font-size: 20px;
  margin: 0;
}
.prod-info h2 {
  color: #6e6e6e;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 16px;
}
.prod-info ul li {
  margin-bottom: 13px;
}
.prod-info ul li a {
  color: #6e6e6e;
  font-size: 11px;
  font-weight: normal;
  padding-left: 27px;
  padding-bottom: 5px;
}
.prod-info a.showall {
  color: #474747;
  cursor:pointer;
  display: inline-block;
  font-size: 11px;
  font-weight: normal;
  margin-top: 10px;
  padding-right: 15px;
}
#media h2 {
  color: #808080;
  font-family: Arial;
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
  float: left;
}
#media-menu-wrapper {
  float: left;
  padding: 10px;
  background-color: #999;
  width: 732px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-left: 30px;
  margin-top: -8px;
}
#media-menu li {
  float: left;
  padding-left: 35px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #808080;
  margin-top: 2px;
}
#media-menu li a {
  color: #808080;
}
#media-gallery-wrapper {
  padding-left: 70px;
  margin-top: 30px;
}
#media-shown {
  float: left;
}
#media-shown img {
  margin-bottom: 20px;
}
#media-thumbnails {
  float: right;
  width: 245px;
}
#media-thumbnails ul li {
  display: inline;
  margin: 0;
  padding: 0; 
}
#media-thumbnails ul li a:hover {
  filter: alpha(opacity=75);
  opacity: 0.75;
}
#media-gallery-pagination {
  margin-top: 20px;
}
#media-gallery-pagination span {
  font-size: 12px;
}
#media-gallery-prev-next {
  float: right;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
}
#media-gallery-prev-next {
  width: 133px;
  height: 27px;
  line-height: 30px;

}
#media-gallery-prev-next ul li {
  padding: 5px 0 5px 0;
}
#media-gallery-prev-next ul li.prev {
  margin-right: 19px;
  padding-left: 22px;
  margin-left: 6px;
}
#media-gallery-prev-next ul li.next {
  padding-right: 26px;
}

/* Scott Edits - 10 / 19 */

/* View Containers (Row and Grid) */
.view_container {
    float:left;
    margin-bottom:30px;
    margin-top:19px;
}
.view_container h1 {
    color:#6E6E6E;
    float:left;
    font-family:Arial, sans-serif;
    font-size:22px;
    font-weight:Bold;
    margin: 0 0 30px;
    text-transform:uppercase;
    width:100%;
}

/* View Containers - Left Rail */
.left_rail {
    float:left;
    font-size:12px;
    margin-top:2px;
    padding-right:50px;
    width:197px;
}
.left_rail h2 {
    color:#474747;
    font-family: atrament-web-lf,Atrament,Sans-Serif;
    font-size:12px;
    font-weight:bold;
    margin-bottom:16px;
    text-transform:uppercase;
}
.left_rail a {
    color:#6e6e6e;
    font-size:12px;
}
.left_rail a:hover {
    text-decoration:underline;
}
.left_rail ul {
    float:left;
    width:100%;
}
.left_rail ul li {
    margin-bottom:12px;
    padding-left:8px;
    position:relative;
}
.left_rail_section-border {
    border:1px solid #eaeaea;
    -moz-border-radius: 4px; /* Firefox */
    -webkit-border-radius: 4px; /* Safari, Chrome */
    border-radius: 4px; /* CSS3 */
    float:left;
    margin-bottom:20px;
    padding:15px 20px;
    position:relative;
    width:157px;
}
.left_rail_section-border h2 {
    margin-bottom:0;
}
.left_rail .help {
    cursor:help;
    left:9px;
    position:relative;
    top:3px;
}
.left_rail .search {
  border:1px solid #f2f2f2;
  -moz-border-radius: 4px; /* Firefox */
  -webkit-border-radius: 4px; /* Safari, Chrome */
  border-radius: 4px; /* CSS3 */
  color:#8d8d8d;
  height:24px;
  padding-left:8px;
  width:151px;
}
.left_rail .include_article_text {
    float:left;
    margin-top:7px;
}
/* View Container - Left Rail Item */
.left_rail_item {
    border-top:1px solid #eaeaea;
    float:left;
    margin-bottom:20px;
    width:100%;
}
.top_left_rail_item {
    border:0;
}
.left_rail_item h2 {
    background-color: #fff;
    bottom:7px;
    float:left;
    margin-bottom:7px;
    padding:0 10px 0 8px;
    position:relative;
    width: auto; 
}


/* View Container - Left Rail Main Container (Border) */
.left_rail .remove {
    position:absolute;
    right:0px;
    top:0px;
}
.left_rail .close {
    position:absolute;
    right:20px;
    top:14px;
}
.left_rail .remove a {
    font-family:Arial, sans-serif;
    font-size:11px;
}
.left_rail_item-no-title {
    float:left;
    width:100%;
}
.top_left_rail_item h2 {
    background-color: #fff;
    margin-bottom:0;
    padding-left:8px;
    bottom: 21px;
}
.left_rail .show_more,
.left_rail .show_less {
    float:left;
    width:100%;
}
.left_rail .show_more a,
.left_rail .show_less a {
    color:#474747;
    font-size:11px;
    padding-left:8px;
}

/* View Container - Sort By Top Module - Right Column */
.view_sort_results {
    float:left;
    width:713px;
}
.view_sort_results .view_sort_wrap {
    border-bottom:1px solid #eaeaea;
    float:left;
    padding-bottom:3px;
    width:100%;
}
.view_sort_results .view_sort_wrap div {
    float:left;
}
.view_sort_results .view_sort_wrap .sort_by_select_menu {
    bottom:4px;
    font-family: atrament-web-lf,Atrament,Sans-Serif;
    font-size: 12px;
    font-weight: bold;
    position:relative;
    width:190px;
}
.view_sort_results .view_sort_wrap .results_per_page {
    bottom:4px;
    font-family: atrament-web-lf,Atrament,Sans-Serif;
    font-size: 12px;
    font-weight: bold;
    position:relative;
    width:170px;
}
.view_sort_results .hide_images {
    color:#474747;
    float:right;
    font-size:11px;
    margin-top:5px;
    text-align:right;
}
/* View as Options in View Sort Module */
.view_sort_wrap .view_as_options {
    float:right !important;
    width:auto;
}
.view_sort_wrap .view_as_options a {
    display:block;
}
.view_sort_wrap .view_as_options .view_as_grid {
    height:12px;
    margin-right:20px;
    text-indent:-9999px;
    width:18px;
}
.view_sort_wrap .view_as_options .view_as_grid.active {
    background-position: 0 0;
}
.view_sort_wrap .view_as_options .view_as_list {
    height:12px;
    text-indent:-9999px;
    width:18px;
}
.view_sort_wrap .view_as_options .view_as_list.active {
    background-position: 18px 0;
}

/* Search Results */
.search_results {
    margin-top:15px;
}
.search_results_info {
    font-family: Myriad Pro;
    font-size: 18px;
    margin-bottom:30px;
    padding-left:246px;
}
.search_results_info a {
    text-decoration:underline;
    color:#c60021;
}

/* Results - Row View */
.row_results {
    display:inline-block;
    width:713px;
}
.row_results .row {
    float:left;
    padding:30px 0 0 0;
    width:100%;
}
.row_results .date {
    margin-bottom:8px;
}
.row_results img.result_image {
    float:left;
    padding:0 10px 0 0;
}
.row_results h2 {
    font-family:Myriad Pro;
    font-size:18px;
    float:left;
    margin-bottom:4px;
    width:100%;
}
.row_results p {
    font-size:12px;
    line-height:16px;
}
/* View Container - Results - Grid View */
.grid_results {
    padding-top:36px;
}
.grid_results .row {
    float:left;
}
.grid_results .row .result {
    float:left;
    width:33.33%;
}
.grid_results .row .result .result_image {
    margin-bottom:7px;
}

/* View Container - Right Column - Pagination */
.view_pagination {
    border-top: 1px solid #eaeaea;
    float: left;
    margin-top:33px;
    padding-top: 9px;
    width: 100%;
}
.view_pagination div {
    float:left;
}
.view_pagination ul li {
    float:left;
    margin:0 5px;
}
.view_pagination  a {
    color:#919191;
    float:left;
    font-family: arial;
    font-size: 13px;
    height: 100%;
    width: 100%;
}
.view_pagination ul li a.current {
    color:#474747;
}
.view_pagination .prev {
    height:15px;
    margin-right:25px;
    text-indent:-9999px;
    width:15px;
}
.view_pagination .next {
    height:15px;
    margin-left:25px;
    text-indent:-9999px;
    width:15px;
}
.view_container .pagination_count {
    color:#474747;
    float:left;
    font-size:14px;
    width:190px;
}

/* Contacts Module - Press Release - T_5_4 */
.contacts_module {
    float:left;
    font-size:12px;
    margin:35px 0;
    width:1030px;
}
.contacts_module ul {
    float:left;
    width:100%;
}
.contacts_module .contacts_header {
    float:left;
    width:auto;
}
.contacts_module .contact_name {
    float:left;
    font-weight:bold;
    width:auto;
}
.contacts_module .contact_phone {
    float:left;
    font-weight:bold;
    width:auto;
}
.contacts_module .contact_module_contact {
    border-right:1px solid #e6e6e6;
    float:left;
    line-height: 16px;
    margin:10px 0 0;
    padding:0 30px 0;
    width:auto;
}
.contacts_module .contact_module_contact .contacts_header {
  font-style:italic;
}

/* Share Window */
.share-button-current {
    background-color:#868686;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    bottom:8px;
    padding:8px 10px;
}
.share-button-current a {
    color:#ffffff;
    padding-left: 17px;
}
#ShareWindow {
    background-color:#f8f8f8;
    -moz-border-radius: 2px; /* Firefox */
    -webkit-border-radius: 2px; /* Safari, Chrome */
    border-radius: 2px; /* CSS3 */
    -webkit-box-shadow: 1px 1px 1px 1px #d3d3d3;
    -moz-box-shadow: 1px 1px 1px 1px #d3d3d3;
    box-shadow: 1px 1px 1px 1px #d3d3d3;
    padding:20px 20px 10px;
    position: absolute;
    right:-144px;
    top:29px;
    width:300px;
    z-index: 5;
}
#ShareWindow .share_close {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 14px;
  height: 14px;
  text-indent:-9999px;
  cursor: pointer;
  z-index: 8040;
}
ul.service-links li {
    float:left;
    height:15px;
    list-style-type:none;
    margin:0 0 10px 0;
    padding:5px 0 0 0;
    text-transform:capitalize;
    width:140px;
}
ul.service-links li a {
    color:#919191;
    display: inline-block;
    padding-left:29px;
}

/* View Container - Results Page */
.page_title {
    color: #474747;
    float: left;
    font-family: atrament-web-lf,Atrament,Sans-Serif;
    font-size: 24px;
    font-weight: Bold;
    margin-bottom: 25px;
    margin-top:30px;
    text-transform: uppercase;
    width: 100%;
}

/* Industry Landing Page */

.industry_landing {
    float:left;
    padding:19px 0 0;
}
.industry_landing .row {
    padding: 0 0 27px;
}
.industry_landing li {
    position:relative;
}
.industry_landing .industry_link_list li {
    margin-bottom:6px;
    padding-left:10px;
    width:auto;
}
.industry_landing .title {
    line-height:13px;
}
.industry_landing .title a:hover {
    color:#C6001E;
}
.industry_landing img {
    float:left;
    height:80px;
    left:0;
    padding:0 20px 0 0;
    position:absolute;
    width:80px;
}
.industry_landing .industry_item_copy {
    float:left;
    padding-left:94px;
    width:371px;
}
.industry_landing .industry_item_copy p {
    line-height:14px;
}
.industry_landing .cta-arrow {
    float:none;
    height:auto;
    position:relative;
    width:auto;
}
.industry_landing .industry_link_list {
    float:left;
    margin-right:20px;
    margin-top:8px;
    width:150px;
}
.industry_landing .industry_link_list a {
    font-size:12px;  
    font-weight:bold;
}
.industry_landing .industry_link_list a:hover {
    color:#474747;
    text-decoration:underline;
}

/* Alert Module */
.alert {
    background-color:#992a0f;
    -moz-box-shadow: inset 0 -7px 10px -8px #000;
    -webkit-box-shadow: inset 0 -7px 10px -8px #000;
    box-shadow: inset 0 -7px 10px -8px #000;
    color:#fff;
    font-family:Arial, sans-serif;
}
.alert_wrap {
    padding:40px 70px;
    position:relative;
}
.alert .content_column {
    display:inline-block;
    width:630px;
}
.alert_headline {
    font-size:26px;
}
.alert_secondary {
    font-size:12px;
    margin-top:13px;
}
.alert .alert_right_column {
    display:block;
    position:absolute;
    right:0;
    top:59px;
    width:200px;
}
.alert .alert_right_column div {
    float:left;
}
.alert .cta_button {
    position:relative;
    right:30px;
}
.alert .cta_button button {
    text-indent: -9999px;
    width: 100px;
    border: none;
    height: 26px;
}
.alert .alert_right_column .close {
    height:21px;
    text-indent:-9999px;
    width:21px;
}
.alert_icon {
    left:39px;
    position:absolute;
}

/* Product Category Group */
.half-width-column {
    float:left;
    margin-top:19px;
    width:480px
}
.half-width-column .title {
    margin-bottom:8px;
}
.half-width-column .title a {
    color:#474747;
    font-size:18px;
}
.half-width-column .title a:hover {
    color:#C6001E;
}
.first-half-width-column {
    padding-right:30px;
    width:450px;
}
.half-width-column ul li {
    float:left;
    margin-bottom:25px;
    width:100%;
}
.half-width-column .expansion-link {
    float:left;
    font-size:11px;
    padding-right:10px;
}
.half-width-column .expansion-link-open {
    float:left;
    font-size:11px;
    padding-right:10px;
}
.half-width-column .expansion-link a:hover,
.half-width-column .expansion-link-open a:hover {
    color:#C6001E;
}
.half-width-column .show-categories {
    float:left;
    width:100%;
}
.half-width-column .show-categories ul {
    float:left;
    margin-bottom:5px;
    width:50%;
}
.half-width-column .show-categories ul li {
    margin-bottom: 6px;
    padding-left: 10px;   
    width:100%; 
}
.half-width-column .show-categories ul li a {
    font-size: 12px;
    font-weight: bold;
}
.half-width-column .show-categories ul li a:hover {
    text-decoration:underline;
}

/* * * * * * * * * * * * * * * * */
/* Added By Santiago - 10.25.12  */
/* * * * * * * * * * * * * * * * */
#viewall-grid-view {
  float: left;
  margin: 30px 0;
}
h2.viewall-grid-title {
  font-weight: bold;
  font-size: 24px;
  color: #474747;
  text-transform: uppercase;
  margin-bottom: 30px;
}
#viewall-grid h2 {
  color: #474747;
  font-family: "Myriad Pro",Arial;
  font-size: 18px;
  font-weight: normal;
}
#viewall-grid-filter {
  font-size: 12px;
  color: #474747;
  margin: -7px 0 40px 70px;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 10px;
}
#viewall-grid-filter div {
  display: inline-block;
}
.viewall-pagination {
  font-size: 14px;
}
#viewall-sort {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 90px;
}
#viewall-sort a {
  border: 1px solid #F6F6F6;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #CCCCCC;
  color: #474747;
  display: inline-block;
  margin-top: -10px;
  padding: 7px 51px 5px 15px;
  text-transform: none;
  font-weight: normal;
}
#viewall-viewperpage {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 40px;
}
#viewall-viewperpage a {
  border: 1px solid #F6F6F6;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #CCCCCC;
  color: #474747;
  display: inline-block;
  margin-top: -10px;
  padding: 7px 51px 5px 15px;
  text-transform: none;
  font-weight: normal;
}
#viewall-view {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  float: right;
}
#viewall-view a {
  padding-left: 10px;
}
#viewall-nav {
  width: 170px;
  float: left;
}
#viewall-nav p {
  font-size: 12px;
  font-weight: bold;
  color: #474747;
  text-transform: uppercase;
}
#viewall-nav span.all {
  width: 100%;
  font-weight: bold;
  font-size: 12px;
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  border: 1px solid #E7E7E7;
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px; 
  border-radius: 5px; 
}
#viewall-nav span.more {
  width: 100%;
  font-weight: bold;
  font-size: 11px;
  display: inline-block;
  margin-bottom: 40px;
  margin-left: 10px;
}
#viewall-nav-wrapper {
  /*width: 100%;*/
  width: 210px;
  font-size: 12px;
  display: inline-block;
  margin-top: 20px;
  /*padding: 10px 20px;*/
  border: 1px solid #E7E7E7;
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px; 
  border-radius: 5px; 
  padding-top: 10px;
}
#viewall-nav-wrapper h4 {
  background-color: #fff;
  color: #6E6E6E;
  font-size: 12px;
  font-weight: bold;
  margin-left: 10px;
  margin-top: -15px;
  padding: 0 10px;
  text-transform: uppercase;
  width: 60px;
}
#viewall-nav-wrapper ul li {
  padding: 0 0 0 10px;
  margin: 0 0 15px;
}
#viewall-nav-wrapper ul {
  margin: 20px 0 0 10px;
}
#viewall-grid {
  float: right;
}
#viewall-grid p {
  font-size: 12px;
  margin-top: 10px;
}
ul.viewall-grid-items {
  margin-bottom: 50px;
}
ul.viewall-grid-items li {
  width: 218px;
  float: left;
  margin-right: 29.3px;
}
ul.viewall-grid-items li:last-child {
  margin-right: 0px;
}
.viewall-grid-items h2 {
  font-weight: normal;
}
#viewall-grid-pagination {
  font-size: 12px;
  color: #474747;
  margin: 20px 0 20px 70px;
  border-top: 1px solid #eaeaea;
  padding-top: 10px;
}
#viewall-grid-pagination div {
  float: left;
  display: inline-block;
  /*margin-left: 70px;*/
}
#viewall-pagination-bottom {
  margin-left: 240px;
}
#viewall-pagination-bottom span {
  margin-left: 40px;
  margin-right: 40px;
}

/* Multimedia - List ( T_7_b_5 ) */

.multimedia .thumbnail {
    float:left;
    margin-right:20px;
    width:192px;
}
.multimedia .copy_wrap {
    float:left;
    padding-right:20px;
    width:350px;
}
.multimedia .copy_wrap p {
    margin-top:4px;
}
.multimedia .title {

}
.multimedia .media_attachments {
    float:left;
}
.multimedia .media_attachments ul li {
    padding-left: 25px;
    margin-bottom: 9px;
    height: 20px;
}
.multimedia .media_attachments ul li a {
    color: #474747;
    font-size: 12px;
}

/* * * * * * * * * * * * * * * * */
/* Added By Santiago - 10.31.12  */
/* * * * * * * * * * * * * * * * */
/* =============================================================================
   PRODUCT FINDER
   ========================================================================== */
#product-finder {
  margin-bottom: 50px;
}
#product-finder-filter {
  height: 38px;
  margin-top: 90px;
  background-color: #fafafa;
  border: 1px solid #eaeaea;
  -moz-border-radius: 4px; /* Firefox */
  -webkit-border-radius: 4px; /* Safari, Chrome */
  border-radius: 4px; /* CSS3 */
  padding-left: 20px;
  padding-right: 20px;
  color: #474747;
}
#product-finder-filter span.product-finder-browseby {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #474747;
}
#product-finder-filter div {
  display: inline-block;
  margin-left: 20px;
  color: #474747;
}
#product-finder-filter a {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #474747;
  padding: 0 10px;
}
#product-finder-filter a.product-finder-filter-act {
  color: #b2b2b2;
}
#product-finder-filter span.product-finder-tip {
  float: right;
  font-size: 11px;
  line-height: 18px;
}
#product-finder-select {
  margin-top: 20px;
  padding-left: 20px;
}
#product-finder-select h3 {
  font-size: 14px;
  margin-bottom: 30px;
}
#product-finder-select ul {
  width: 300px;
  float: left;
  margin-right: 30px;
}
#product-finder-select ul li {
  padding-left: 10px;
  margin-bottom: 15px;
}
#product-finder-select ul li a {
  font-size: 12px;
  font-weight: bold;
  color: #474747;
}
#product-finder-select ul li a:hover {
  text-decoration: underline;
}
/* =============================================================================
   PRODUCT A-Z LIST
   ========================================================================== */
#product-az-list {

}
#product-az-list-letters a {
  color: #474747;
  padding: 0 10px;
  font-family: ff-meta-web-pro,"Myriad Pro",Segoe UI,Arial,Sans-Serif;
  font-size: 14px;
  font-weight: bold;
}
#product-az-list-letters a.product-az-list-selected {
  color: #c6001e;
}
#product-az-list-letters a.no-padding-left {
  padding-left: 0
}
#product-az-list-selectedletter {
  font-family: ff-meta-web-pro,"Myriad Pro",Segoe UI,Arial,Sans-Serif;
  font-size: 18px;
  font-weight: bold; 
  margin-top: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eaeaea;
}
#product-az-list-shownitems h2 {
  margin-top: 30px;
}
#product-az-list-shownitems p {
  font-family: Arial, Sans-Serif;
  font-size: 12px;
  margin-top: 5px;
  width: 800px;
}
#product-az-list-letters-bottom {
  margin: 50px 0;
}
#product-az-list-letters-bottom a {
  color: #474747;
  padding: 0 10px;
  font-family: ff-meta-web-pro,"Myriad Pro",Segoe UI,Arial,Sans-Serif;
  font-size: 14px;
  font-weight: bold;
}
#product-az-list-letters-bottom a.product-az-list-selected {
  color: #c6001e;
}
#product-az-list-letters-bottom a.no-padding-left {
  padding-left: 0
}



/* Scott Temp - Oct 29th */
.date {
  color: #474747;
  float: left;
  font-family: ff-meta-web-pro,"Myriad Pro",Segoe UI,Arial,Sans-Serif;
  font-size: 12px;
  line-height: 16px;
  width: 100%;
}
.right_col {
    float:left;
    width:713px;
}
.author {
  color: #474747;
  font-family: "Myriad Pro", Arial;
  font-size: 11px;
  font-weight: bold;
  margin-top:7px;
}

/* Video Player - Hide Video and Show Video URL instead */
.video_player {
	display: none; 
}
.video-print-msg { 
  display: block; 
}
