/*
 *css/common/responsive-footer.css (helpful in fatwire)
 *
 */

#footer .headerSprite {
	background-image: url(../../../../images/header/header-sprites-dec14.png)/*tpa=http://www.emc.com/images/header/header-sprites-dec14.png*/; /*C*/
}
 
#footerWrapper {
	background: #fff url(../../../../images/header/footer-bg-2012.gif)/*tpa=http://www.emc.com/images/header/footer-bg-2012.gif*/ repeat-x left top;
}

#footer {
	margin: 0px auto;
	height: auto;
	width: 100%;
	float: none;
    font-family: Verdana, Arial, Helvetica, sans-serif !important; /*C*/
}

body #footer a,
body #footer a:link,
body #footer a:visited {
	text-decoration: none;
	color: #07a;
	position:relative;
}
body #footer a:hover,
body #footer a:active {
	text-decoration: underline;
	color: #07a;
	position:relative;
}

body #footer a:hover,
	text-decoration: underline;
}

#footerTopRow {
     padding-top: 40px;
     padding-bottom: 20px;
}
#footerTopRow div {
	font-size: 12px !important;
	line-height: 18px !important;
	padding-bottom: 4px;
}
#footerTopRow .col {
     float: left;
     width: 23%;
     margin-right: 2%;
}
#footerTopRow h3 {
     font-size: 12px;
     line-height: 18px;
     padding-bottom: 15px;
	 color: #dedede;
         margin-bottom: 0px !important;
         font-weight: bold !important;
}

#footerTopRow h3 a:link,
#footerTopRow h3 a:visited {
	 color: #dedede !important;
}

#footerTopRow h3 a:hover{
	text-decoration: underline;
}

#footerTopRow .right_column, #footerTopRow .left_column{
	margin: 0;
	margin-bottom: 0;
	padding: 0;
}


.arrow {
	font-size: 1.2em;
}

#footerLeftText1st ul {
	margin: 0;
	position: relative;
}

#footerLeftText1st ul li {
	float:left;
	display:inline-block;
	text-transform:uppercase;
	margin-right:10px;
	height:16px;
	background-position: right top;
	background-repeat:no-repeat;
	width:auto;
}

#footerLeftText1st a {
	padding: 0px 0px 3px 0px;
	margin: 0;
	background-image: url(../../../../images/header/header-sprites-dec14.png)/*tpa=http://www.emc.com/images/header/header-sprites-dec14.png*/; /*C*/
	background-position: 100% -710px;
	background-repeat: no-repeat;
	font-weight: bold;
	text-transform: uppercase;
	display: inline-block;
	width: auto;
	color: #b4b4b4;
}

#footerLeftText1st ul li.rsaSocial{
	display:none;
}

#footerLeftText1st a.rssIcon {
	padding-left: 17px;
	background-image: url(../../../../images/header/icon-rss.gif)/*tpa=http://www.emc.com/images/header/icon-rss.gif*/; 
	background-position: top left;
	 color: #b4b4b4;
}

#footerLeftText1st li.followJustBg{
	background-image: url(../../../../images/header/header-sprites-dec14.png)/*tpa=http://www.emc.com/images/header/header-sprites-dec14.png*/; /*C*/
	background-position: 0 -707px;
	padding-left: 10px;
	margin-right: 6px;
	margin-left: 3px;
	color: #b4b4b4 !important;
}
#footerLeftText1st li.justBg{
	background-image: url(../../../../images/header/header-sprites-dec14.png)/*tpa=http://www.emc.com/images/header/header-sprites-dec14.png*/; /*C*/
	background-position: 0 -707px;
	padding: 0;
	margin: 0;
	width:10px;
	color: #b4b4b4 !important;
}

#footerLeftText1st,
#footerRightText1st {
	margin-top: 20px !important;
	margin-left: 0px !important;
	margin-right: 0px !important;
}

#footerRightText1st .row2 {
	display: inline;
}

#footerSeoBlock {
	clear: both;
	margin: 20px 0px 18px 0px !important;
	color: #b4b4b4 !important;
	float: none;
}

#footerSeoBlock a:link,
#footerSeoBlock a:visited,
#footerSeoBlock a:hover,
#footerSeoBlock a:active {
	color: #b4b4b4 !important;
}

#footerLeftText1st .shareIcon a:link,
#footerLeftText1st .shareIcon a:visited {
	background-image: url(../../../../images/header/header-sprites-dec14.png)/*tpa=http://www.emc.com/images/header/header-sprites-dec14.png*/; /*C*/
	background-position: -35px -563px;
	color: #b4b4b4;
	padding: 0 25px 1px 0;
	line-height: 17px;
	overflow: hidden;
}

#footerLeftText1st .shareIcon a:hover,
#footerLeftText1st .shareIcon a:active {
	background-position: -35px -524px;
}

#footerLeftText1st .shareIcon.hideShareLink {
	position: relative;
	top: 1px;
}

#footerLeftText1st .rssIcon a:link,
#footerLeftText1st .rssIcon a:visited {
	background-image: url(../../../../images/header/header-sprites-dec14.png)/*tpa=http://www.emc.com/images/header/header-sprites-dec14.png*/; /*C*/
	background-position: -48px -584px;
	color: #b4b4b4 !important;
	padding-right: 25px;
}

#footerLeftText1st .rssIcon a:hover,
#footerLeftText1st .rssIcon a:active {
	background-image: url(../../../../images/header/header-sprites-dec14.png)/*tpa=http://www.emc.com/images/header/header-sprites-dec14.png*/; /*C*/
	background-position: -48px -544px;
}

#footerLeftText1st .smIcon,
#footerLeftText1st .smIcon a{
	width:21px;
}

#footerLeftText1st .fb a:link,
#footerLeftText1st .fb a:visited {
	background-image: url(../../../../images/header/header-sprites-dec14.png)/*tpa=http://www.emc.com/images/header/header-sprites-dec14.png*/; /*C*/
	background-position: -3px -644px;
}

#footerLeftText1st .fb a:hover,
#footerLeftText1st .fb a:active {
	background-image: url(../../../../images/header/header-sprites-dec14.png)/*tpa=http://www.emc.com/images/header/header-sprites-dec14.png*/; /*C*/
	background-position: -34px -644px;
}

#footerLeftText1st .tw a:link,
#footerLeftText1st .tw a:visited {
	background-image: url(../../../../images/header/header-sprites-dec14.png)/*tpa=http://www.emc.com/images/header/header-sprites-dec14.png*/; /*C*/
	background-position: -3px -684px;
}

#footerLeftText1st .tw a:hover,
#footerLeftText1st .tw a:active {
	background-image: url(../../../../images/header/header-sprites-dec14.png)/*tpa=http://www.emc.com/images/header/header-sprites-dec14.png*/; /*C*/
	background-position: -33px -684px;
}

#footerLeftText1st .li a:link,
#footerLeftText1st .li a:visited {
	background-image: url(../../../../images/header/header-sprites-dec14.png)/*tpa=http://www.emc.com/images/header/header-sprites-dec14.png*/; /*C*/
	background-position: -3px -604px;
}
#footerLeftText1st .li a:hover,
#footerLeftText1st .li a:active {
	background-image: url(../../../../images/header/header-sprites-dec14.png)/*tpa=http://www.emc.com/images/header/header-sprites-dec14.png*/; /*C*/
	background-position: -34px -605px;
}

#footerLeftText1st .yt a:link,
#footerLeftText1st .yt a:visited {
	background-image: url(../../../../images/header/header-sprites-dec14.png)/*tpa=http://www.emc.com/images/header/header-sprites-dec14.png*/; /*C*/
	background-position: 0px -664px;
	width:26px;
}

#footerLeftText1st .yt a:hover,
#footerLeftText1st .yt a:active {
	background-image: url(../../../../images/header/header-sprites-dec14.png)/*tpa=http://www.emc.com/images/header/header-sprites-dec14.png*/; /*C*/
	background-position: -30px -664px;
}

#footerLeftText1st .gp a:link,
#footerLeftText1st .gp a:visited {
	background-image: url(../../../../images/header/header-sprites-dec14.png)/*tpa=http://www.emc.com/images/header/header-sprites-dec14.png*/; /*C*/
	background-position: -3px -624px;
	width:26px;
}

#footerLeftText1st .gp a:hover,
#footerLeftText1st .gp a:active {
	background-image: url(../../../../images/header/header-sprites-dec14.png)/*tpa=http://www.emc.com/images/header/header-sprites-dec14.png*/; /*C*/
	background-position: -33px -624px;
}

#footerRightText1st a {
	padding-left: 10px;
	margin-right: 6px;
	background-image: url(../../../../images/header/header-sprites-dec14.png)/*tpa=http://www.emc.com/images/header/header-sprites-dec14.png*/; /*C*/
	background-position: 0px -707px;
	background-repeat: no-repeat;
	font-weight: bold;
	text-transform:uppercase;
	color: #b4b4b4 !important;
}

#footerRightText1st .noBg {
	background-image:none;
	padding-left: 0;
}

#footerRightText1st {
	text-align: right;
}

#footerRightText1st .copyRight {
	margin-top:3px;
	color: #b4b4b4 !important;
}

/* share link */
#footerLeftText1st .shareIcon {
	height:auto;
	position:relative;
}
#footerLeftText1st .shareIcon .shareBtn {
	z-index:4;
	height:20px;
	position:relative;
	border: 1px solid #CCCCCC;
	background-color:#FFF;
	border-bottom: none;
	margin: -7px -9px -7px -7px;
	padding: 6px 8px 6px 6px;
}

#footerLeftText1st .shareIcon.hideShareLink .shareBtn {
	border: none;
	background-color: transparent;
	margin: -8px -10px -8px -8px;
	padding: 7px 10px 8px 8px;
}

#footerShareLinks a:link,
#footerShareLinks a:visited {
	color: #b4b4b4 !important;
}
#footerShareLinks a:hover,
#footerShareLinks a:active {
	color: #b4b4b4 !important;
}

#footerShareLinks {
	z-index:3;
	background-color:#FFF;
	position:absolute;
	left:0;
	top:20px;
	width:230px;
	padding:10px;
	border: 1px solid #CCCCCC;
	margin-top: 5px;
	margin-left: -7px;
}

#footerShareLinks a.at300b,
#footerShareLinks a.at300m{
	display: inline-block !important;
	float: left !important;
	height: 16px !important;
	line-height: 16px !important;
	padding: 2px 3px !important;
	width: 109px !important;
	background-image:none !important;
}

#footerShareLinks a.at300b:hover,
#footerShareLinks a.at300m:hover {
	text-decoration: none !important;
	background: #f2f2f2 !important;
	padding: 1px 2px !important;
	border: 1px solid #e5e5e5 !important;
	margin:0 !important;
}

#footerShareLinks a .at300bs {
	display: inline-block;
	padding-left: 5px;
	margin-bottom: 5px;
	vertical-align: middle;
}

#footerShareLinks .footerShareLinksClose {
	float: right;
	height: 7px;
	width: 7px;
	clear:right;
	padding-top: 5px;
}

#footerShareLinks .footerShareLinksClose a {
	/*background-image: url(/_admin/img/icons/close-icon-flyout.gif) !important;*/
	background-image: url(../../../../images/header/header-sprites-2014.png)/*tpa=http://www.emc.com/images/header/header-sprites-2014.png*/ !important;
	background-position: -81px -760px !important;
	background-repeat:no-repeat;
	display: block;
	text-indent: -9999em;
}

.shareIcon.hideShareLink #footerShareLinks{
	display:none;
}

.shareIcon.showShareLink #footerShareLinks{
	display:block;
}

/*Workaround to add this plugin on iphone*/
#footerShareLinks .at16nc, #footerShareLinks .at300bs{
	background-image: url('../../../../images/header/share_this_icons.png')/*tpa=http://www.emc.com/images/header/share_this_icons.png*/!important;
}

#footerShareLinks .at300b, 
#footerShareLinks .at300bo, 
#footerShareLinks .at300m, 
#footerShareLinks .at300bs {
	cursor: pointer;
}

#footerShareLinks .at16nc.at16t_linkedin {
	background-position: 0 -464px;
}

#footerShareLinks .at16nc {
	background: url("Unknown_83_filename")/*tpa=http://www.emc.com/R1/assets/css/common/widget012_top.gif*/ no-repeat scroll 0 0 transparent;
	display: block;
	height: 16px;
	line-height: 16px !important;
	overflow: hidden;
	width: 16px;
}

#footerShareLinks .at300bs {
	background: url("Unknown_83_filename")/*tpa=http://www.emc.com/R1/assets/css/common/widget054.gif*/ no-repeat scroll 0 0 transparent;
	display: block;
	height: 16px;
	line-height: 16px !important;
	overflow: hidden;
	width: 16px;
}

#footerShareLinks .at300b, 
#footerShareLinks .at300bo, 
#footerShareLinks .at300m, 
#footerShareLinks .at300bs {
	cursor: pointer;
}

#footerShareLinks a.at300b, 
#footerShareLinks a.at300m, 
#footerShareLinks a.at300bs {
	font-size: 10px !important;
	font-weight: bold !important;
}

#footerShareLinks .at300b, 
#footerShareLinks .at300bo, 
#footerShareLinks .at300m, 
#footerShareLinks .at300bs {
	cursor: pointer;
}

#footerShareLinks a.at300b, 
#footerShareLinks a.at300m, 
#footerShareLinks a.at300bs {
	font-size: 10px !important;
	font-weight: bold !important;
}

#footerShareLinks .at300b, 
#footerShareLinks .at300bo, 
#footerShareLinks .at300m, 
#footerShareLinks .at300bs {
	cursor: pointer;
}

#footerShareLinks .at16nc.at16t_twitter {
	background-position: 0 -896px;
}

#footerShareLinks .at16nc.at16t_facebook {
	background-position: 0 -288px;
}

#footerShareLinks .at16nc.at16t_print {
	background-position: 0 -752px;
}

#footerShareLinks .at16nc.at16t_google_plusone_share {
	background-position: 0 -368px;
}

#footerShareLinks .at16nc.at16t_more {
	background-position: 0 -576px;
}

#footerShareLinks .at16nc.at16t_email {
	background-position: 0 -272px;
}

#footerShareLinks .at15t_pdfmyurl {
	background-position: 0 -1040px;
}

#footerShareLinks div.atclear {
	clear: both;
}

/*End workaround*/

#footerLeftText1st,
#footerRightText1st{
	width:45%;
}


#footerDock #moreLinks{
	display: none;
}

#footer #footerDock #moreLinks .icon{
	display: inline-block;
	margin-left: 7px;
	padding: 0;
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 5px solid white;
	margin-bottom: 1px;
	background-image: none;
}

.expanded #footer #footerDock #moreLinks .icon{
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: none;
	border-top: 5px solid white;
}

#footer .copyRight{
	font-size:11px;
	color:#999999;
	float:left;
	margin-top:4px;
 }

/*
 * Media Queries
 * 
 */

/*Small screens*/
@media (max-width: 640px) {
	#footerWrapper{
		overflow:hidden;
	}
	#footer #footerExpanded{
		height:100% !important;
	}
	#footerTopRow {
		padding: 18px 16px 0;
		margin-bottom: 0;
	}
	
	#footerTopRow h3 {
		margin-bottom: 4px !important;
	}
	
	#footerTopRow h3,
	#footerTopRow p	{
		font-size: 12px !important;

	}
	
	#footerTopRow div {
		line-height: 18px;
		font-size: 14px !important;
	}
	
	#footerTopRow .col div a {
		font-size: 12px;
	}
	
	#footerTopRow .col {
		margin-bottom: 6px;
		float: none;
		width: auto;
	}
	
	#footerTopRow .col div {
		margin-bottom: 0!important;
	}
	
	#footerLeftText1st,
	#footerRightText1st {
		margin-bottom: 20px;
	}

	#footerLeftText1st {
		font-size: 9px;
		float: none;
		width: auto;
		padding-left: 16px;
		margin: 11px 0 10px !important;
	}

	#footerRightText1st {
		float: none;
		width: 100%;
		padding-left: 16px;
		margin: 0 0 15px !important;
		text-align: left;
	}
  
  	#footerLeftText1st ul {
  		width: 300px;
		height: 19px;
  	}
	
  	#footerShareLinks a.at300b.addthis_button_more {
  		display: none !important;
  	}
	
  	#footerLeftText1st ul li.clearBothTight {
  		margin: 0;
		height: 0;
  	}
	
	#footerRightText1st .copyRight {
		color: #666 !important;
		margin-top: 11px;
	}
	
	#footerRightText1st a {
		color: #666 !important;
		background-image: none;
		border-left: 1px solid #666;
		line-height:16px;
	}
	
	#footerRightText1st .row2 {
		display: block;
	}
	
	#footerRightText1st .r2, #footerRightText1st .noBg {
		border: none !important;
		padding-left: 0;
	}
	
	#footer {
   		font-size: 11px !important;
   		margin-top: 4px;
	}
	
	#footer .copyRight{
		margin: 0px 16px 0px;
		color: #666;
	}
	
	#footerSeoBlock {
   		line-height: 16px;
   		color: #666 !important;
   		margin: 17px 16px 15px !important;
		width: auto;
	}
	
	#footerSeoBlock a:link, #footerSeoBlock a:visited, #footerSeoBlock a:hover, #footerSeoBlock a:active {
		color: #666 !important;
	}
}

/*Small and Medium screens*/
@media(max-width: 979px){
	#footerWrapper{
		background: #f4f4f4 !important;
	}
}

/*Medium screens*/
@media (min-width: 641px) and (max-width: 979px) {
	.hp-footer #footer #footerSeoBlock {
		padding: 0px;
	}
		 
	#footerLeftText1st {
		float: none;
		width: auto;
	 
	}
	 
	#footerRightText1st {
		float: left;
		width: auto;
		font-size: 12px;
		text-align: left;
		clear: left;
		padding-left:0px;
		margin-top: 8px !important;
		margin-bottom: 23px;
	}

	#footer {
		width:100%;
		margin: 0 auto !important;
	}
	
	body.docked-footer #footer #footerExpanded{
		overflow-y: scroll;
	}
	
	#footerDock,
	#footerExpanded{
		margin: 0 20px;
	}

	#footerWrap {
		margin-top: 15px;
	}

	#footerWrap #footerTopRow h3 {
		font-size: 14px;
		padding-bottom: 19px;
	}

	#footerWrap #footerTopRow .col > div {
		font-size: 12px;
		padding: 0;
		line-height: 25px;
	}

	#footerTopRow {
		margin-bottom: 0;
		padding: 20px 0 0;
	}

	#footerTopRow .col {
		float: left;
		width: 47%;
		padding:0 30px 21px 0;
		margin: 0;
	}

	#footerTopRow .col3 {
		margin-top: -51px;
	}

	#footerTopRow .col5 {
		margin-top: -148px;
		padding-bottom: 0;
	}

	#footerTopRow .col2, 
	#footerTopRow .col4 {
		padding-right: 0px;
	}

	#footerTopRow div {
		line-height: 16px !important;
		font-size: 13px !important;
		padding: 0;
	}
	#footerTopRow .col div {
		margin-bottom: 12px;
	}
	#footerTopRow .col1 div {
		line-height: 18px;
		padding-top: 0;
	}
	#footerWrapper{
		overflow-y: auto;
	}
	#footerWrapper .footerSmallHeightOpen {
		overflow-y: scroll;
	}
	
}

/*Medium and big screens*/
@media (min-width: 641px){
	#footerWrapper{
		background: #fff url(../../../../images/header/footer-bg-2012.gif)/*tpa=http://www.emc.com/images/header/footer-bg-2012.gif*/ repeat-x left top;
		width: 100%;
	}
	
	body.docked-footer #footerWrapper{
		position: fixed;
		bottom: 0;
		left: 0;
		z-index: 1000;
    	-webkit-box-shadow: none;
           -moz-box-shadow: none;
                box-shadow: none;
	}
	
	body.docked-footer #footerWrapper.expanded{
    	-webkit-box-shadow: 0 -3px 7px rgba(187,187,187,0.5);
           -moz-box-shadow: 0 -3px 7px rgba(187,187,187,0.5);
                box-shadow: 0 -3px 7px rgba(187,187,187,0.5);
	}
		
	#footer #footerExpanded{
		overflow: visible;
	}
	
	body.docked-footer #footer #footerExpanded{
		height: 0;
	}
	
	.expanded #footer #footerExpanded {
		overflow: visible;
	}

	#footer #moreLinks{
		display: inline-block;
		float: right;
		font-size:12px;
		padding-right:10px;
	}

	#footerDock{
		overflow:hidden;
		padding: 9px 0 5px;
	}
	
	#footerDock #moreLinks{
		display: none;
	}
	
	.docked-footer #footerDock #moreLinks{
		display:block;
		width: 150px;
		text-align: center;
	}
	
	body.docked-footer #footerDock{
		display: block;
	}
	
	#footerLeftText1st ul li.rssIcon{
		background: transparent url(../../../../images/header/header-sprites-2014.png)/*tpa=http://www.emc.com/images/header/header-sprites-2014.png*/ no-repeat 50px -707px
	}
	
	.expanded #footer #footerLeftText1st ul li.rssIcon{
		background: none;
	}
	
	.cssButton.cssActionButton:hover{
		background: #666;
		/*behavior: url("/css/libs/pie/PIE.htc");*/
	}
}

/*Big screens*/
@media (min-width: 979px){

	#footer #footerLeftText1st .shareIcon.hideShareLink .shareBtn,
	#footer #footerLeftText1st .shareIcon.hideShareLink .shareBtn {
		border: none !important;
	}
	
	#footer #footerLeftText1st .shareIcon .shareBtn{
		border: 1px solid #CCCCCC;
		border-top:none;
	}
	
	.expanded #footer #footerLeftText1st .shareIcon .shareBtn{
		border: 1px solid #CCCCCC;
		border-top:none;
	}
	
	#footer #footerShareLinks{
		top:-125px;
	}
	
	/*.expanded #footer #footerShareLinks{
		top:20px;
	}This was removed to make the share menu open up instead down*/
	
	#footer #footerLeftText1st .shareIcon.hideShareLink .shareBtn{
		margin: -9px -10px -7px -8px !important;
	}
	
	.expanded #footer #footerLeftText1st .shareIcon.hideShareLink .shareBtn{
		margin: -8px -10px -8px -8px !important;
	}

	#footer #footerLeftText1st{
		display:block;
		position: relative;
		left:0;
	}
	
	body.docked-footer #footer #footerExpanded {
		overflow: hidden
	}
	
	body.docked-footer #footer #footerLeftText1st{
		position: absolute;
		left: auto;
		right: 127px;
		top:-6px;
	}
	body.docked-footer .expanded #footer #footerLeftText1st{
		position: relative;
		left:0;
	}
	
	#footer #footerSeoBlock {
		padding: 0;
	}

	#footerTopRow {
		padding: 40px 0 20px;
		margin-bottom: 0px;
	}
	
	#footer {
		width: auto;
	}

	#footerLeftText1st {
		float: left;
		width: auto;
		text-align: left;
		padding-left:0px;
	}

	#footerRightText1st {
		float: right;
		padding-left: 10px;
		text-align: right;
		width: auto;
	}
	
	#footer {
	  width:980px;
	  margin: 0 auto !important;
	}


}

/* CSS Buttons */
.cssButton {
	/*background: #b7b7b7;*/
	color:white;
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	font-size: 12px;
	height: 22px;
	line-height: 22px;
	padding: 0px 15px;
	white-space: nowrap;
	/*behavior: url("/css/libs/pie/PIE.htc");*/
	-webkit-border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	border-radius: 6px 6px 6px 6px;
	/*behavior: url("/css/libs/pie/PIE.htc");*/
}
.cssButton.cssActionButton{
	background: #747474;
	/*behavior: url("/css/libs/pie/PIE.htc");*/
}
/* The hover state is in the Big Screens Media Queries since Medium and Small screens doesn't support it*/

.cssActionButton .icon{
	display: block;
	text-align: left;
	padding-right: 24px;
}



/* RESKIN JULY 2014 */

#placeholder-content {
    margin: 0px auto 0px auto;
    padding: 40px 10px 40px 10px !important;
    min-height: 40px;
    max-width: 980px;
    font-family: Arial, Helvetica, sans-serif;
}
#placeholder-content p {
    padding-bottom: 12px;
}



/* ECN top secondary nav adjustment to clear logo tab */
body > .jiveNav { padding-top: 17px; }
body.j-body-content #communitiesMenuButton,
body.j-body-home #communitiesMenuButton,
body.j-body-welcome #communitiesMenuButton {
    background-color: #404142 !important;
}

/* Support inserts content to top of footer, needs more padding */
.emc-support #footerSupportSpecific {
    padding-top: 30px;
    background-color: #575757;
}
.emc-support #footerSupportSpecific > div {
    max-width: 980px;
    margin: 0px auto;
}

#nightShade {
    z-index: 505;
}
#nightShadeContainer {
    z-index: 506;
}

#header {
    width: 980px;
    padding: 0px 10px;
    overflow: visible !important;
}
#headerWrap {
    background-color: #4e5052;
    overflow: visible !important;
}
#headerTop {
    width: auto;
}
#header #emcLogo {
    position: absolute !important;
    top: 0px;
    left: 0px;
    width: 91px;
    height: 92px;
    z-index: 504;
    background-color: #2c95dd;
    background-image: url('../../../../images/header/header-sprites-2014.png')/*tpa=http://www.emc.com/images/header/header-sprites-2014.png*/;
    background-repeat: no-repeat;
    background-position: 0px -906px !important;
}

#header #menu {
    left: 136px;
    top: 36px;
}
#header #menu .menuItem {
    height: 30px;
}

#header .menuSprite {
    background-image: url('../../../../images/header/header-menu-sprites-dec14.png')/*tpa=http://www.emc.com/images/header/header-menu-sprites-dec14.png*/ !important;
}
#header #menu a.menuItem.current {
    background-color: #404142;
}

#headerRight {
    top: 0px;
}
#header #headerRight a:link,
#header #headerRight a:hover,
#header #headerRight a:visited,
#header #headerRight a:active {
    color: #b8b8b8 !important;
    font-size: 10px;
}
#header #headerRight li {
    padding-top: 4px;
    border-right: 1px solid #7b7d7f;
    margin-left: 10px;
    padding-right: 10px;
}
#header #headerRight li:first-child {
    border-right: 0px;
}

#header .searchFormWrapper {
    border: 0px;
    height: 25px;
    top: 38px;
    background-color: transparent;
    background-image: url('../../../../images/header/header-sprites-dec14.png')/*tpa=http://www.emc.com/images/header/header-sprites-dec14.png*/ !important;
    background-repeat: no-repeat;
    background-position: 0px -815px;
    background-color: #7b7d7f;
    padding: 0px;
    width: 146px;
}
#header #navigation_wrapper #searchFormWrapper {
    right: 10px;
}
#header #globalSearchForm input#searchString {
    padding: 4px 0px 0px 10px !important;
    font-size: 13px !important;
    color: #ffffff !important;
    outline: none !important;
    background-image: none;
}
input.searchString:focus {  
    outline: none !important;
}
#header .searchForm .headerSprite.searchIcon {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-image: url('../../../../images/header/header-sprites-dec14.png')/*tpa=http://www.emc.com/images/header/header-sprites-dec14.png*/ !important;
    background-repeat: no-repeat;
    background-position: 100% -845px;
    width: 22px;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 25px;
}

#header .userIcon,
#header .globeIcon,
#header .lockIcon {
    background-image: url('../../../../images/header/header-sprites-dec14.png')/*tpa=http://www.emc.com/images/header/header-sprites-dec14.png*/ !important;
}

.responsive-page #dropDowns {
    position: absolute;
}
#dropDowns {
    z-index: 501;    
}

/* add some extra padding to a few menus to clear the new "tab" logo */
.dropdownItem .dropDownCol:first-child {
    /*padding-top: 17px;*/ /*C*/
}
#emcplusDropdown > a { /*C*/
    /*padding-top: 47px;*/ /*C*/
}

/* products, remove right col */
.dropdownItem:first-child .dropDownCol {
    display: none;
}
.dropdownItem:first-child .dropDownCol {
    display: block;
    /*width: 980px;*/ /*C*/
    border-right: 0px;
    margin-right: 0px;
    padding-right: 0px;
    background-image: none;
}
.dropDownCol.threefourths .universalCarousel.iconList {
    width: 880px;
    padding: 0px 50px;
    text-align: center;
}




#footer {
    width: 100% !important;
    background-color: #333333;
    padding-bottom: 20px;
    padding-left: 0px;
    font-family: Verdana, Arial, Helvetica, sans-serif !important; /*C*/
}
#footerWrap {
    background-image: none;
}
#footerLighter,
#footerSeoBlock,
#eeoBlock,
#footerDock,
#footer > .copyRight {
    clear: both;
    width: 980px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px auto !important;
    color: #b8b8b8;
}
#footer > #footerExpanded {
    padding-bottom: 0px;
    color: #b8b8b8;
    background-color: #333333;
    width: 100%;
}
#footerLighter {
    background-color: #575757;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}
#footer > #footerTopRow { /* this situation will only exist on ECN */
    background-color: #333333;
    width: 980px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px auto !important;
    padding-top: 40px;
}

#footerLighter > div {
    width: 980px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px auto !important;
}
#footer #footerTopRow {
    padding-bottom: 0px;
}
#footer #footerSeoBlock {
    color: #b8b8b8 !important;
    float: none;
    margin: 0px auto !important;
    padding-top: 25px;
}
#footer #eeoBlock {
    padding-top: 10px;
}


#footer a:link, #footer a:visited {
    color: #b8b8b8 !important;
}
#footer a:hover, #footer a:active {
    color: #b8b8b8 !important;
    text-decoration: none;
}

#footer .smIcon a:hover, #footer .smIcon a:active {
    text-decoration: none;
}
#footer .smIcon.yt {
    width: 30px;
}

#footer img {
    border: 0px;
}
#footer > .copyRight {
    padding: 9px 10px 5px 10px;
}

#footerDock {
    background-color: #333333;
}

#footer .copyRight {
    color: #b8b8b8;
    font-size: 10px;
    margin-top: 0px;
}

#footerLeftText1st ul li.rssIcon {
    background-image: none;
    margin-right: 0px;
}




#footerBottomRow {
    position: relative;
    text-align: center;
    margin: 0px auto;
    text-transform: uppercase;
}
#footerBottomRow #footerBottomLinks {
    width: 77%;
    margin: 0px 0px 0px 23%;
    padding: 65px 0px 32px 0px;
    font-weight: bold;
    font-size: 11px;
    line-height: 18px;
}
#footerBottomRow #footerBottomLinks a {
    background-image: url(../../../../images/header/header-sprites-dec14.png)/*tpa=http://www.emc.com/images/header/header-sprites-dec14.png*/; 
    background-position: 0px -705px;
    background-repeat: no-repeat;
    padding: 3px 6px 3px 12px;
    margin-right: 4px;
}
#footerBottomRow > a:link,
#footerBottomRow > a:visited,
#footerBottomRow > a:hover,
#footerBottomRow > a:active {
    position: static !important;
    display: block;
}
#footerBottomRow #footerBottomLinks a:link,
#footerBottomRow #footerBottomLinks a:visited {
     -webkit-text-size-adjust: 100%;
    color: #ffffff !important;
    text-decoration: none !important;
}
#footerBottomRow #footerBottomLinks a:hover,
#footerBottomRow #footerBottomLinks a:active {
     -webkit-text-size-adjust: 100%;
    color: #ffffff !important;
    text-decoration: underline !important;
}
#footerBottomRow #footerBottomLinks #footerBottomShare {
    position: relative;
    padding-right: 22px;
    background-position: 100% -563px;
}
#footerBottomRow #footerBottomLinks #footerBottomShare.has-footer-icon {
    padding-right: 0px;
}
#footerBottomRow #footerBottomLinks #footerBottomShare.has-footer-icon .footer-icon {
    background-image: url(../../../../images/header/header-sprites-dec14.png)/*tpa=http://www.emc.com/images/header/header-sprites-dec14.png*/;
    position: relative;
    top: -3px;
    padding-bottom: 4px;
    padding-right: 22px;
    background-position: 100% -563px;
}
#footerBottomRow #footerBottomLinks #footerBottomRSS .footer-icon {
    background-image: url(../../../../images/header/header-sprites-dec14.png)/*tpa=http://www.emc.com/images/header/header-sprites-dec14.png*/;
    position: relative;
    top: -3px;
    padding-bottom: 4px;
    padding-right: 22px;
    background-position: 100% -584px;
}
#footerBottomRow #footerBottomLinks a.no-left-border {
    background-image: none !important;
    padding-left: 0px;
}


#footerBottomRow #footerShareLinks {
    display: none;
    position: absolute;
    top: 12px;
    left: 0px;
}
#footer-lotus,
#footer-federation {
    position: absolute;
    bottom: 34px;
}
#footer-lotus { right: 10px; display: none; }
#footer-federation { left: 10px; }

#footer-social-more-overlay {
    width: 530px;
    font-family: Arial, Helvetica, sans-serif;
}
#footer-social-more-overlay-addthis {
    padding: 50px 50px 65px 50px;
}
#footer-social-more-overlay-addthis h3 {
    text-transform: uppercase;
    font-size: 15px;
    padding-bottom: 10px;
}
#footer-social-more-overlay-addthis a {
    margin: 15px 25px;
}




/* BELOW THIS IS FOR THE RESPONSIVE NAV ONLY */

body.docked-footer #footerDock .copyRight {
    margin-top: 2px;
}

@media (min-width: 979px) {
    
    body.responsive-page #inboundBarResp { display: none !important; }
    body.responsive-page #footerRightText1st {
        padding-right: 0px !important;
    }
    body.docked-footer #footerStructureFixer {
        position: relative;
    }
    body.docked-footer #footer #footerLeftText1st {
        top: -293px;
    }
    body.docked-footer #footerWrapper.expanded #footer #footerLeftText1st {
        top: -2px;
    }
    body.responsive-page #header #navigation_wrapper #searchFormWrapper {
        right: 20px !important;
    }

}

@media (max-width: 979px) {

    body.responsive-page #placeholder-content {
        margin: 44px auto 0px auto;
        padding: 40px 16px 40px 16px !important;
        min-height: 40px;
        font-family: Arial, Helvetica, sans-serif;
    }

    body.responsive-page { min-width: 320px !important; }
    body.responsive-page #header {
        padding: 0px;
    }
    body.responsive-page #header #logoLink {
        margin: 0px;
        width: auto;
        height: auto;
    }
    body.responsive-page #header #headerTop {
        height: 44px;
    }
    body.responsive-page #header #emcLogo {
        top: 0px !important;
        left: 16px;
        margin-top: 0px;
    }
    body.responsive-page #header #menu {
        left: 0px;
        top: -3px;
    }
    body.responsive-page #header .menuSprite {
        background-image: none !important;
    }
    
    body.responsive-page #header #headerRight #loginButton {
        margin-left: 0px !important;
    }
    body.responsive-page #header #headerRight #loginButtonMobile {
        margin-top: 4px;
    }
    body.responsive-page #header #headerRight #loginButtonMobile a {
        font-size: 16px !important;
        color: #ffffff !important;
    }
    body.responsive-page #header #menu .menuItem,
    body.responsive-page #header #menu .menuItemTitle,
    body.responsive-page #header #headerRight {
        text-indent: 0px;
        text-transform: uppercase;
        font-weight: normal;
        float: none;
        height: auto;
        font-size: 16px;
        line-height: 16px;
        margin-left: 25px;
        margin-right: 25px;
        padding: 5px 10px 15px 10px;
        z-index: 90;
        display: block;
        border-bottom: none;
        border-top: 1px solid #5e5e5e;
    }
    #inboundBarResp .ib-icon {
        text-transform: uppercase;
        font-size: 16px;
        line-height: 16px;
        margin-left: 25px;
        margin-right: 25px;
        padding: 17px 0px 6px 0px;
        border-top: none;
        border-bottom: 1px solid #5e5e5e;
    }
    #inboundBarResp ul li.ib-icon-request-quote {
        border-top: 1px solid #5e5e5e;
    }
    body.responsive-page #header #headerRight {
        border-bottom: 1px solid #5e5e5e;
    }
    body.responsive-page #inboundBarResp .ib-icon-wrapper {
        top: -6px;
    }
    body.responsive-page #header #menu .menuItem span, #header #menu .menuItemTitle span {
        font-family: 'ff-meta-web-pro', Arial, Helvetica, sans-serif;
    }
    body.responsive-page #header #menu .menuItemTitle.first {
        display: none;
    }
    #inboundBarResp .ib-tab {
        font-family: 'ff-meta-web-pro', Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        background-color: transparent !important;
        padding: 41px 25px 10px 25px !important;
        font-weight: bold;
        font-size: 18px !important;
        line-height: 18px;
    }
    body.responsive-page #header #navigation .divider {
        display: none;
    }

    body.responsive-page #footerExpanded {
        margin: 0px;
    }
    body.responsive-page #footerExpanded #footerTopRow {
        width: auto !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    body.responsive-page #footerLighter {
        width: auto;
        padding-left: 16px;
        padding-right: 16px;
    }
    body.responsive-page #footerLeftText1st,
    body.responsive-page #footerRightText1st {
        width: auto;
        padding-left: 0px;
    }
    body.responsive-page .copyRight {
        float: none !important;
        margin-left: 6px !important;
        padding: 0px 0px 5px 0px !important;
    }
    body.responsive-page #footerSeoBlock,
    body.responsive-page #eeoBlock {
        width: auto !important;
        padding-left: 16px !important;
        padding-right: 16px !important;
    }
    body.responsive-page #footerDock {
        width: auto !important;
    }
    
    body.responsive-page #footerBottomRow {
        width: auto;
        padding: 0px;
    }
    body.responsive-page #footerBottomRow #footerBottomLinks {
        width: 100%;
        text-align: left;
        margin: 110px 0px 0px 0px;
        padding-bottom: 35px;
    }
    body.responsive-page #footerBottomRow #footerBottomLinks a#footerBottomShare {
        padding-left: 0px;
    }
    
    /*body.responsive-page.nav_opened #header #navigation_wrapper #searchFormWrapper {*/
        /*right: 58px;*/
    /*}*/
    
    body.responsive-page #headerTop > .btn-navbar {
        left: auto;
        right: 10px;
        position: absolute;
    }
    
    body.responsive-page.hasInboundBar #headerTop > .btn-navbar {
        left: auto;
        right: 54px;
        position: absolute;
    }
    body.responsive-page #header .btn-inboundbar {
        display: none;
    }
    body.responsive-page.hasInboundBar #header .btn-inboundbar {
        left: auto;
    }
    body.responsive-page.hasInboundBar #navigation_wrapper #searchFormWrapper.searchFormWrapper.isHidden {
        width: 30px !important;
    }

}

@media (max-width: 979px) and (min-width: 641px) {
    body.responsive-page #header #navigation_wrapper #searchFormWrapper {
        top: 10px;
    }
    body.responsive-page #header #emcLogo {
        width: 78px;
        height: 71px;
        background-position: -5px -1001px !important;
    }
    body.responsive-page #header #navigation .headerSprite {
        /*background-image: url(/images/header/my-account-icon.png) !important;*/
        top: 16px;
    }
    body.responsive-page #inboundBarResp .ib-content-inner {
        padding: 0px;
        width: 280px !important;
    }
    #inboundBarResp .ib-icon,
    body.responsive-page #header #navigation #headerRight {
        background-color: transparent !important;
        margin-top: 0px !important;
        font-family: 'ff-meta-web-pro', Arial, Helvetica, sans-serif;
        font-size: 16px !important;
        line-height: 16px !important;
        padding-top: 10px;
    }
    body.responsive-page #header .tablet_nav {
        left: 100% !important;
        background-image: none;
        background-color: #222222;
        padding-top: 41px;
    }

    body.responsive-page #footer .right_column {
        clear: both;
    }
    body.responsive-page #footerTopRow .col3 {
        margin-top: 0px;
    }
    body.responsive-page #footerTopRow.colCount3 .col.col1 {
        width: 47%;
    }
    body.responsive-page #header .searchFormWrapper {
        top: 10px;
    }
    body.docked-footer.responsive-page .copyRight {
        float: left !important;
    }
    body.docked-footer.responsive-page #footerWrapper.expanded .copyRight {
        padding: 0px !important;
    }

    body.responsive-page #footer-federation,
    body.responsive-page #footer-lotus {
        bottom: 74px;
    }
    body.responsive-page #footer-federation {
        left: 0px;
    }
    body.responsive-page #footer-lotus {
        left: 0px;
        right: auto;
    }

    #footer-social-more-overlay {
        width: 400px;
    }
    #footer-social-more-overlay-addthis {
        padding: 35px 35px 50px 35px;
    }
    #footer-social-more-overlay-addthis a {
        margin: 10px 22px;
    }

    body.responsive-page #header #navigation_wrapper #searchFormWrapper {
        right: 54px;
    }
    body.responsive-page.hasInboundBar #header #navigation_wrapper #searchFormWrapper {
        right: 102px;
    }

}

@media (max-width: 640px) {
    body.responsive-page #header #emcLogo {
        width: 77px;
        height: 67px;
        background-position: -6px -1005px !important;
    }
    body.responsive-page #header #headerRight #loginButton {
        margin-left: 0px !important;
    }
    body.responsive-page #header #headerRight #loginButtonMobile {
        margin-top: 4px;
    }
    body.responsive-page #header #headerRight #loginButtonMobile a {
        font-size: 13px !important;
        color: #ffffff !important;
    }
    body.responsive-page #navigation_wrapper #searchFormWrapper {
        display: none;
    }
    body.responsive-page #navigation_wrapper #searchFormWrapper {
        display: block;
        top: 20px;
        right: auto;
        left: 25px;
        width: 177px;
    }
    body.responsive-page #navigation_wrapper #searchFormWrapper .hp-search-collapse {
        background-image: url('../../../../images/header/header-sprites-dec14.png')/*tpa=http://www.emc.com/images/header/header-sprites-dec14.png*/ !important;
        background-repeat: no-repeat;
        background-position: 0px -1115px !important;
        height: 25px;
    }
    body.responsive-page #navigation_wrapper #searchFormWrapper.searchFormWrapper,
    body.responsive-page #navigation_wrapper #searchFormWrapper.searchFormWrapper.isHidden {
        border: none;
        background-color: #7b7d7f !important;
        height: 25px;
        background-color: #222222;
    }
    body.responsive-page #globalSearchForm {
        width: 170px;
    }
    body.responsive-page #header #globalSearchForm input#searchString {
        margin: 0px;
        padding: 0px !important;
        background-color: transparent;
        background-image: none !important;
        box-shadow: none !important;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        border-radius: 0px !important;
        -webkit-border-radius: 0px !important;
        -moz-border-radius: 0px !important;
        width: 134px !important;
        top: -3px;
    }
    body.responsive-page #header #globalSearchForm .searchIcon {
        display: block;
        background-position: 100% -1145px;
    }
    body.responsive-page #header #navigation .headerSprite {
        background-image: url(../../../../images/header/my-account-icon.png)/*tpa=http://www.emc.com/images/header/my-account-icon.png*/ !important;
        top: 2px;
        background-position: 0 -31px;
    }
    body.responsive-page #header #menu .menuItem,
    body.responsive-page #header #menu .menuItemTitle,
    body.responsive-page #header #headerRight {
        text-indent: 0px;
        text-transform: uppercase;
        font-weight: normal;
        float: none;
        height: auto;
        font-size: 13px;
        line-height: 15px;
        margin-left: 25px;
        margin-right: 25px;
        padding: 13px 10px 12px 10px;
        z-index: 90;
        display: block;
        border-bottom: none;
        border-top: 1px solid #5e5e5e;
    }
    body.responsive-page #header #headerRight {
        border-bottom: 1px solid #5e5e5e;
    }
    body.responsive-page #header #headerRight li {
        padding-top: 14px !important;
    }
    body.responsive-page .copyRight {
        padding-top: 9px !important;
    }
    body.responsive-page #inboundBarResp .ib-content-inner {
        padding: 0px;
        width: 200px !important;
    }
    #inboundBarResp .ib-icon,
    body.responsive-page #header #navigation #headerRight {
        background-color: transparent !important;
        margin-top: 0px !important;
        font-family: 'ff-meta-web-pro', Arial, Helvetica, sans-serif;
        font-size: 14px !important;
        line-height: 16px !important;
        padding: 10px 0px 4px 0px !important;
    }
    body.responsive-page #header #navigation #headerRight #loginButton {
        padding: 0px 0px 0px 0px !important;
    }
    body.responsive-page #header .tablet_nav {
        margin-top: 41px;
        background-image: none;
        background-color: #222222;
    }
    body.responsive-page #header .mobile_nav {
        left: 100% !important;
        background-image: none;
        background-color: #222222;
    }
    #inboundBarResp .ib-tab {
        font-size: 16px !important;
        line-height: 18px;
    }

    body.responsive-page #footer {
        margin-top: 0px;
    }
    body.responsive-page #footerBottomRow #footerBottomLinks {
        margin: 25px 0px 0px 0px;
        padding-bottom: 35px;
    }
    body.responsive-page #footer-federation,
    body.responsive-page #footer-lotus {
        clear: both;
        position: static;
        left: auto;
        right: auto;
        margin: 20px 0px 10px 0px;
    }

    #footer-social-more-overlay {
        width: 220px;
    }
    #footer-social-more-overlay-addthis {
        padding: 25px 25px 37px 25px;
    }
    #footer-social-more-overlay-addthis a {
        margin: 10px 3px;
    }

    body.responsive-page #globalSearchForm {
        background-color: #7b7d7f;
        margin-left: 12px;
        height: 25px;
    }
    
}

/* IB STYLES MOVED HERE */
/* TABLET and PHONE */
@media only screen and (max-width: 979px) {
    body #headerTop > .btn-navbar {
        background-image: url('../../../../images/header/ib-sprites.png')/*tpa=http://www.emc.com/images/header/ib-sprites.png*/;
        background-repeat: no-repeat;
        background-position: -922px -298px;
        display: block;
        position: absolute;
        top: 10px;
        /*left: 12px;*/
        width: 36px;
        height: 30px;
        margin: 0px;
        padding: 0px;
        cursor: pointer;
    }
    body #header .btn-inboundbar {
        background-image: url('../../../../images/header/ib-sprites.png')/*tpa=http://www.emc.com/images/header/ib-sprites.png*/;
        background-repeat: no-repeat;
        background-position: -922px -254px;
        display: block;
        position: absolute;
        top: 10px;
        /*right: 10px;*/
        width: 36px;
        height: 30px;
        margin: 0px;
        padding: 0px;
        cursor: pointer;
    }
}

/* TABLET */
@media (min-width: 641px) and (max-width: 979px) {
    body #navigation_wrapper #searchFormWrapper.searchFormWrapper {
        /*right: 58px;*/
        z-index: 199;
    }
    body #navigation_wrapper #searchFormWrapper.searchFormWrapper.isHidden {
        /*right: 52px;*/
        border: none;
        background-color: transparent;
        background-image: url('../../../../images/header/ib-sprites.png')/*tpa=http://www.emc.com/images/header/ib-sprites.png*/ !important;
        background-repeat: no-repeat;
        background-position: -922px -342px;
        width: 28px;
        height: 30px;
        cursor: pointer !important;
    }
    body #navigation_wrapper #searchFormWrapper.searchFormWrapper.isHidden .hp-search-collapse {
        display: none;
    }
}


/* RETINA */
@media only screen and (-webkit-min-device-pixel-ratio : 2), only screen and (min-device-pixel-ratio : 2) {

    body #headerTop > .btn-navbar,
    body #navigation_wrapper #searchFormWrapper.searchFormWrapper.isHidden,
    body #header .btn-inboundbar {
        background-image: url(../../../../images/header/ib-sprites-2x.png)/*tpa=http://www.emc.com/images/header/ib-sprites-2x.png*/;
        -webkit-background-size: 1024px 750px;
    }
    
}


/* RETINA SPRITES */
@media only screen and (-webkit-min-device-pixel-ratio : 2), only screen and (min-device-pixel-ratio : 2) {
    #emcplusDropdown .emcplusCont .img,
    #emcplusDropdown .emcTVCont .img,
    #nightShadeClose,
    #dropDowns #dropDownsInner .dropdownItem .dropdownIconCssSprite {
	background-size: 148px 5400px; 
	-webkit-background-size: 148px 5400px; 
	background-image: url('../../../../images/header/dropdown-menu-sprites-dec14-2x.png')/*tpa=http://www.emc.com/images/header/dropdown-menu-sprites-dec14-2x.png*/ !important;
    }
}


/* SPINNER */

.dd-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0px;
    height: 0px;
    overflow: visible;
}
.dd-spinner-inner {
    position: absolute;
    top: -16px;
    left: -16px;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: -86px -2px;
    background-image: url(../../../../images/header/ib2-sprites.png)/*tpa=http://www.emc.com/images/header/ib2-sprites.png*/;
}

/* RETINA SPRITES */
@media only screen and (-webkit-min-device-pixel-ratio : 2) and (min-width: 980px), only screen and (min-device-pixel-ratio : 2) and (min-width: 980px) {
    .dd-spinner {
        background-image: url(../../../../images/header/ib2-sprites-2x.png)/*tpa=http://www.emc.com/images/header/ib2-sprites-2x.png*/ !important;
        -webkit-background-size: 1024px 750px;
    }
}

