/*
 *css/common/responsive-header.css (helpful in fatwire)
 *
 */

/* UNIVERSAL CAROUSELS */
.universalCarousel {
	position: relative;
}

.universalCarousel .item {
	float: left;
	position: relative;
}

.carouselControls {
	
}

.carouselControls .box {
	float: left;
	position: relative;
	margin-left: 10px;
	cursor: pointer;
	font-size: 20px;
	line-height: 20px;
	font-weight: bold;
}

.carouselControls .box.show {
	display: block;
}

.carouselControls .box.hide {
	display: none;
}

.carouselControls .box.numbered {
	font-size: 17px;
	line-height: 17px;
	font-weight: bold;
	color: #b0b0b0;
}

.carouselControls .box.numbered.on {
	color: #2c95dd;
}

.carouselControls .box.chiclet {
	width: 23px;
	height: 12px;
	/*background-image: url(/images/hp-mar2011/nav-box-off.png);*/
	background-image: url(../../../../images/sprites/landing-sprites.png)/*tpa=http://www.emc.com/images/sprites/landing-sprites.png*/;
	background-position: -82px 0px;
	background-repeat: no-repeat;
}

.carouselControls .box.chiclet.on {
	/*background-image: url(/images/hp-mar2011/nav-box-on.png);*/
	background-image: url(../../../../images/sprites/landing-sprites.png)/*tpa=http://www.emc.com/images/sprites/landing-sprites.png*/;
	background-position: -59px 0px;
}

body.responsive-page {
	width: 100%;
}

body #dropDowns .iconListItem a,
body #dropDowns .iconListItem a:link,
body #dropDowns .iconListItem a:visited,
body #dropDowns .iconListItem a:active {
	color: #ffffff; /*C*/
	text-decoration:none;
}
body #dropDowns .iconListItem a:hover {
	color: #ffffff; /*C*/
	text-decoration:none;
}
body #dropDowns .iconListItem.iconListItem-over a,
body #dropDowns .iconListItem.iconListItem-over a:link,
body #dropDowns .iconListItem.iconListItem-over a:visited,
body #dropDowns .iconListItem.iconListItem-over a:hover,
body #dropDowns .iconListItem.iconListItem-over a:active,
body #dropDowns .iconListItem.iconListItem-over span.simulatedA {
	color: #2c95dd !important; /*C*/
	text-decoration:none;
}
body #dropDowns .iconListItem.iconListItem-over.iconListItem-security a,
body #dropDowns .iconListItem.iconListItem-over.iconListItem-security a:link,
body #dropDowns .iconListItem.iconListItem-over.iconListItem-security a:visited,
body #dropDowns .iconListItem.iconListItem-over.iconListItem-security a:hover,
body #dropDowns .iconListItem.iconListItem-over.iconListItem-security a:active,
body #dropDowns .iconListItem.iconListItem-over.iconListItem-security span.simulatedA {
	color: #ec131c !important; /*C*/
	text-decoration:none;
}


#headerWrap {
	height: 77px;
	margin-bottom: 0px;
	background-color: #2c95dd;
}

#global-nav-section-highlight-data {
    display: none;
}

#header {
	height: 77px;
	margin: 0px auto;
	z-index: auto !important;
	width: auto;
}

#header #headerTop {
	position: relative;
	background-image: none;
	height: 77px;
	width: 100%;
}

#header #emcLogo {
	position: absolute;
	top: 35px;
	left: 0;
}

#header #menu {
	position: absolute;
	left: 110px;
	top: 43px;
	width: 703px;
	height: 30px;
	font-family: Arial, Helvetica, sans-serif;
}

#header #menu .menuItem, #header #menu .menuItemTitle {
	float: left;
	position: relative;
	height: 23px;
	padding: 11px 10px 0;
	font-size: 11px;
	line-height: 14px;
	color: #ffffff;
	cursor: pointer;
	background-image: none;
	z-index: 90;
}

#header .menuSprite {
	background-image: url(../../../../images/header/header-menu-sprites-dec14.png)/*tpa=http://www.emc.com/images/header/header-menu-sprites-dec14.png*/;
	background-repeat: no-repeat;
	height: 11px;
	border: none;
}
#emcLogo > img,
#header #menu .menuSprite > img {
    visibility: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;    
}

#header #menu a.menuItem:hover,#header #menu .menuItem.on {
	
}

#header #menu .menuItem img {
	border: none;
}

#header #menu a.menuItem,#header #menu a.menuItem:link,#header #menu a.menuItem:visited,#header #menu a.menuItem:hover,#header #menu a.menuItem:active
	{
	text-decoration: none;
}

#header #menu a.menuItem.current {
	background-color: #2285cb;
	background-position: 0px 0px;
}

/* search form */

#header #navigation_wrapper #searchFormWrapper {
    right: 20px;
}

.searchForm{
	position: relative;
}
.searchForm input,.searchForm img {
	float: left;
	outline: none;
}

.searchForm img {
	margin-top: 3px;
	margin-left: 2px;
	cursor: pointer;
	color: #ffffff;
}

.searchForm .type-ahead{
	display: none;
	position: absolute;
	z-index: 100;
	top: 25px;
	right: 9px;
	width: 127px;
	background: #f6f6f6;
	padding: 0;
	border: 1px solid #e3e3e3;
	box-shadow: 0px 3px 2px -2px rgba(0, 0, 0, 0.1);
}

.searchForm .type-ahead ul{
	margin: 0;
}

.searchForm .type-ahead ul li {
	margin: 0;
	padding: 6px 5px;
	border-bottom: 1px solid #e6e6e6;
	font-size: 12px;
	margin: 0;
	color: #2c95dd;
}

.searchForm .type-ahead ul li:last-child{
	border-bottom: none;
}

.searchForm .type-ahead ul li.active,
.searchForm .type-ahead ul li:hover {
	background: #e3e3e3;
	cursor: pointer;
}

.searchFormWrapper {
	position: absolute;
	right: 10px;
	top: 44px;
	background-image: none !important;
	background-color: #ffffff;
	border: 1px solid #888888;
	background-position: 100% 0%;
	padding: 1px 5px 2px 0px;
	width: 151px;
}

input.searchString {
	background-color: transparent;
	border: none;
	width: 110px;
	height: 15px;
	font-size: 10px;
	padding: 3px 0px 0px 5px;
	color: #494848 !important;
	margin-right: 0px;
}

.searchString.userValue {
	color: #000000 !important;
}

#supportSearchForm input.searchString {
	background-color: transparent;
	border: none;
	width: 212px;
	height: 15px;
	font-size: 10px;
	padding: 3px 0px 0px 5px;
	color: #494848 !important;
	margin-right: 0px;
}

#supportSearchWrapper {
	display: none;
	position: relative;
	background-position: 100% 0%;
	padding-right: 5px;
	width: 232px;
	height: 18px;
	top: auto;
	right: auto;
	float: left;
}

#supportSearchLink {
	background-image: none;
	position: static;
}

a#supportAdvancedLink {
	display: none;
     float: left;
     margin-left: 15px;
     margin-top: 4px;
}
a#supportAdvancedLink:link,
a#supportAdvancedLink:visited {
     color: #ffffff !important;
}
a#supportAdvancedLink:hover,
a#supportAdvancedLink:active {
     color: #2c95dd !important;
     text-decoration: none !important;
}

#supportSearchLink.nov2012 {
	background-image:
		url(../../../../images/header/dropdown-support-button-nov2012.gif)/*tpa=http://www.emc.com/images/header/dropdown-support-button-nov2012.gif*/;
	background-position: -20px 0px;
	background-repeat: no-repeat;
	position: absolute;
	top: 10px;
	left: 0px;
	right: auto;
	height: 19px;
	padding: 5px 29px 0px 9px;
}

#supportSearchLink.nov2012 .rightEnd {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 20px;
	height: 24px;
	background-image:
		url(../../../../images/header/dropdown-support-button-nov2012.gif)/*tpa=http://www.emc.com/images/header/dropdown-support-button-nov2012.gif*/;
	background-position: 0px 0px;
	background-repeat: no-repeat;
}

#headerRight {
	top: 8px;
	right: 10px; /*C*/
	left: auto !important;
	bottom: auto !important;
	width: auto;
}

#headerRight li {
	float: right;
	margin-left: 12px;
	white-space: nowrap;
	line-height: 15px;
}

#headerRight li img {
	margin: -3px 3px 0 0;
	position: relative;
	top: 0;
	vertical-align: middle;
}

#header #headerRight a:link,#header #headerRight a:hover,#header #headerRight a:visited,#header #headerRight a:active
	{
	color: #ffffff !important;
}

/* DROPDOWNS */

body #dropDowns a,
body #dropDowns a:link,
body #dropDowns a:visited,
body #dropDowns a:active {
	color: #ffffff; /*C*/
	text-decoration:none;
}
body #dropDowns a:hover {
	color: #2c95dd; /*C*/
	text-decoration:none;
}

body #dropDowns .iconListItem a,
body #dropDowns .iconListItem a:link,
body #dropDowns .iconListItem a:visited,
body #dropDowns .iconListItem a:active {
	color: #ffffff; /*C*/
	text-decoration:none;
}
body #dropDowns .iconListItem a:hover {
	color: #ffffff; /*C*/
	text-decoration:none;
}

#dropDowns {
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	z-index: 90;
background-image: none;
   background: rgb(0, 0, 0);
   background: rgba(0, 0, 0, 0.9);
     margin: 0px auto;
     width: 100%;
     height: 0px;
     overflow: hidden;
     color: #ffffff;
     max-height: 315px;
     display: block;
}

#dropDownsInner {
	position: relative;
	margin: 0px auto;
	width: 980px;
}

#dropDowns .dropdownItem {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 980px;
	height: 200px;
	z-index: 90;
	padding-left: 0px !important;
}

#dropDowns #dropDownsInner .dropdownItem .dropdownIconCssSprite {
	margin: 0px auto;
	background-image: url(Unknown_83_filename)/*tpa=http://www.emc.com/images/header-icons/dropdown-menu-sprites-dec14.png*/; /*C*/
	width: 74px;
	height: 75px;
}

#dropDownIndicatorWrapper {
    position: absolute;
    top: 77px;
    left: 0px;
    width: 100%;
    height: 0px;
    z-index: 505;
}
#dropDownIndicatorInner {
    position: relative;
    width: 980px;
    height: 0px;
    margin: 0px auto;
}
#dropDownIndicator {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 0px;
}
#dropDownIndicator > div {
    position: absolute;
    width: 21px;
    height: 10px;
    left: -10px;
    top: -10px;
    overflow: hidden;
}
#dropDownIndicator .headerSprite {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 21px;
    height: 10px;
}
#dropDownIndicator .headerSprite.normal {
    background-position: 0px -757px;
}
#dropDownIndicator .headerSprite.current {
    background-position: -21px -757px;
}

.dropDownCol {
     float: left;
     padding: 0px 30px 40px 0px; /*C2*/
     margin-right: 30px;
     margin-bottom: 0px; /*C2*/
     /*height: 144px;*/
     /*background-image: url(/images/header/dropdown-vertical-divider-2012.gif);*/
     /*background-position: 100% 0%;*/
     background-image: url(../../../../images/header/header-sprites-dec14.png)/*tpa=http://www.emc.com/images/header/header-sprites-dec14.png*/; /*C*/
     /*background-image: none;*/ /*C2*/
     /*border-right: 1px solid #3f4244;*/ /*C2*/
     background-position: 100% -195px; /*C*/
     background-repeat: no-repeat;
     font-size: 11px;
     line-height: 14px;
     /*height: 145px;*/ /*C*/
     position: relative;
}

.dropDownCol.threefourths {
	width: 675px;
}

.dropDownCol.twothirds {
	width: 562px;
}

.dropDownCol.onehalf {
	width: 430px;
}

.dropDownCol.onethird {
	width: 296px;
}

.dropDownCol.onefourth {
	width: 185px;
}
.dropDownCol.fullwidth {
     width: 970px; /*C*/
     padding-right: 0px;
     margin-right: 0px;
}

.dropDownCol.noRightBorder {
	margin-right: 0px !important;
	background-image: none;
}

.dropDownCol.noRightBorder.threefourths {
     width: 695px; /*C*/
}

.dropDownCol.noRightBorder.twothirds {
	width: 592px;
}

.dropDownCol.noRightBorder.onehalf {
	width: 460px;
}

.dropDownCol.noRightBorder.onethird {
	width: 316px;
}

.dropDownCol.noRightBorder.onefourth {
	width: 215px;
}

.dropDownCol .iconList {
	margin-left: 0px;
	margin-right: 0px;
	position: relative;
	/*left: -10px;*/ /*C*/
}

.dropDownCol.threefourths .iconList {
	width: 715px;
}

.dropDownCol.twothirds .iconList {
	width: 602px;
}

.dropDownCol.onehalf .iconList {
	width: 450px;
}

.dropDownCol.onethird .iconList {
	width: 316px;
}

.dropDownCol.onefourth .iconList {
	width: 205px;
}

.dropDownCol.noRightBorder.threefourths .iconList {
	width: 735px;
}

.dropDownCol.noRightBorder.twothirds .iconList {
	width: 622px;
}

.dropDownCol.noRightBorder.onehalf .iconList {
	width: 490px;
}

.dropDownCol.noRightBorder.onethird .iconList {
	width: 356px;
}

.dropDownCol.noRightBorder.onefourth .iconList {
	width: 245px;
}

.dropDownDivider {
	float: left;
	width: 1px;
	height: 198px;
}

.dropDownCol .iconListItem {
	float: left;
	width: 80px;
	padding: 8px 5px 0px 5px;
	text-align: center;
	color: #ffffff; /*C*/
	font-size: 13px; /*C*/
	line-height: 15px; /*C*/
	font-family: "ff-meta-web-pro", Arial, Helvetica, sans-serif; /*C*/
}

.dropDownCol .iconListItem img {
	height: 75px;
}

/* size adjustments, this list can expand as needed */
.dropDownCol.threefourths .iconCount7 .iconListItem {
     width: 90px;
}
.dropDownCol.threefourths .iconCount6 .iconListItem {
	width: 107px;
}

.dropDownCol.threefourths .iconCount5 .iconListItem {
	width: 125px;
}

.dropDownCol.twothirds .iconCount4 .iconListItem {
	width: 135px;
}

.dropDownCol.onethird .iconCount3 .iconListItem {
	width: 95px;
}
.dropDownCol.htbRight .iconCount3 .iconListItem {
     width: 115px;
}
.dropDownCol.fullwidth .iconCount7 .iconListItem {
     width: 120px;
}
.dropDownCol.onehalf .iconCount3 .iconListItem {
     width: 125px;
}

.dropDownCol.noRightBorder.twothirds .iconCount4 .iconListItem {
	width: 145px;
}

.dropDownCol.noRightBorder.onethird .iconCount3 .iconListItem {
	width: 105px;
}

.dropDownCol span.simulatedA,
.dropDownCol .iconListItem span.simulatedA {
     color: #ffffff; /*C*/
     text-decoration: none;
}
.dropDownCol span.simulatedA.hover,
.dropDownCol .iconListItem span.simulatedA.hover {
     color: #2c95dd; /*C*/
     cursor: pointer;
}
.dropDownCol .iconListItem-security.iconListItem-over span.simulatedA,
.dropDownCol .iconListItem-security.iconListItem-over .iconListItem span.simulatedA,
.dropDownCol .iconListItem-security span.simulatedA.hover,
.dropDownCol .iconListItem-security .iconListItem span.simulatedA.hover {
     color: #ec131c; /*C*/
     cursor: pointer;
}


/* icon carousels */
.dropDownCol.threefourths .universalCarousel.iconList {
	left: 0px;
	width: 595px; /*C*/
	padding: 0px 30px;
	min-height: 115px;
}

.dropDownCol.threefourths .universalCarousel .carouselTray,.dropDownCol.threefourths .universalCarousel .carouselMask
	{
	min-height: 125px;
}

.dropDownCol.threefourths .universalCarousel .iconListItem {
	width: 115px;
}

.dropDownCol .universalCarousel .carouselControls {
	position: absolute;
	top: 30px;
	right: 0px;
	color: #2c95dd;
	width: 100%;
	height: 0px;
}

.dropDownCol .universalCarousel .carouselControls .box {
	position: absolute;
	top: 20px;
	width: 15px;
	height: 22px;
	margin-left: 0px;
}

.dropDownCol .universalCarousel .carouselControls .box span {
	display: none;
}

.dropDownCol .universalCarousel .carouselControls .box.show {
	display: block;
	opacity: 1;
	filter: '';
}

.dropDownCol .universalCarousel .carouselControls .box.hide {
	display: block;
	opacity: 0.25;
	filter: alpha(opacity = 25);
}

.dropDownCol .universalCarousel .carouselControls .box.prev {
     left: 0px;
     /*background-image: url(/images/header/carousel-arrow-left-2012.gif);*/
     background-image: url(../../../../images/header/header-sprites-dec14.png)/*tpa=http://www.emc.com/images/header/header-sprites-dec14.png*/; /*C*/
     background-position: -13px -778px;
}
.dropDownCol .universalCarousel .carouselControls .box.next {
     right: 0px;
     /*background-image: url(/images/header/carousel-arrow-right-2012.gif);*/
     background-image: url(../../../../images/header/header-sprites-dec14.png)/*tpa=http://www.emc.com/images/header/header-sprites-dec14.png*/; /*C*/
     background-position: 1px -778px;
}

/* tweaks, misc styles */
.dropDownCol h4 {
     font-size: 17px; /*C*/
     line-height: 19px; /*C*/
     font-weight: normal; /*C*/
     color: #ffffff; /*C*/
     padding-bottom: 15px; /*C*/
     padding-top: 15px; /*C*/
     font-family: "ff-meta-web-pro", Arial, Helvetica, sans-serif; /*C*/
}

.iconTextArea {
	float: left;
}

.dropDownCol.onefourth .iconListItem {
	position: relative;
	left: -10px;
}

.dropDownCol.onefourth .iconTextArea {
	width: 95px;
}

.dropDownCol p {
	padding-bottom: 8px;
}

.dropDownCol h4.noHeaderSpacer {
	overflow: hidden;
	height: 10px;
}

.dropdownRightPromo {
     padding-bottom: 0px; /*C2*/
     padding-top: 15px; /*C*/
}

.dropdownRightPromo h6 {
	font-size: 15px;
     line-height: 15px; /*C*/
     padding-bottom: 2px; /*C*/
}

.dropDownTabs {
	background-repeat: no-repeat;
	background-position: 0px 22px;
	font-size: 13px;
	line-height: 15px; /*C*/
	/*color: #888888;*/ /*C*/
	padding-left: 112px; /*C*/
	border-bottom: 1px solid #3e4143; /*C*/
}

.dropDownTab {
     float: left;
     cursor: pointer;
     position: relative; /*C*/
     top: 1px; /*C*/
     padding: 0px 0px 12px 0px; /*C*/
     /*border-right: 1px solid #cccccc;*/ /*C*/
     font-family: "ff-meta-web-pro", Arial, Helvetica, sans-serif; /*C*/
     /*color: #005596;*/ /*C*/
     margin: 0px 25px 0px 25px; /*C*/
}
.dropDownTab.on {
     border-bottom: 4px solid #2c95dd; /*C*/
     padding: 0px 0px 9px 0px; /*C*/
}
.dropDownTab.last {
     border-right: none;
}
.dropDownTab h4 {
     color: #b0b0b0;
     font-weight: normal !important; /*C*/
     padding-top: 18px;
     padding-bottom: 5px;
}
.dropDownTab.on h4 {
     color: #ffffff;
     /*font-weight: bold;*/ /*C*/
}
.dropDownTabBody {
	/*display: none;*/
}
.dropDownTabBody.on {
	display: block;
}

.dropDownTabBodies {
	clear: both;
}

/* DROPDOWN CONTENTS */

/*C*/

/* PROD */
#dropdownProductAll {
    max-height: 259px;
    min-height: 120px;
    overflow: hidden;
}
#dropdownProductAll a {
    color: #2c95dd;
    text-decoration: none;
}
#dropdownProductAll #dropdown-atoz-content-library {
    display: none;
}
#dropdownProductAll .dropdown-atoz-letter {
    float: left;
    margin-right: 9px;
    font-size: 17px;
    line-height: 21px;
    padding: 10px 0px;
    font-family: "ff-meta-web-pro", Arial, Helvetica, sans-serif;
}
#dropdownProductAll .dropdown-atoz-letter.dropdown-atoz-letter-enabled {
    color: #ffffff;
    cursor: pointer;
}
#dropdownProductAll .dropdown-atoz-letter.dropdown-atoz-letter-disabled {
    color: #757677;
}
#dropdownProductAll .dropdown-atoz-letter.dropdown-atoz-letter-enabled.dropdown-atoz-letter-selected {
    color: #2c95dd;
}
#dropdownProductAll .dropdown-atoz-col {
    float: left;
    width: 27%;
    margin-right: 6%;
}
#dropdownProductAll .dropdown-atoz-product {
    font-size: 15px;
    line-height: 18px;
    padding-bottom: 8px;
    font-family: "ff-meta-web-pro", Arial, Helvetica, sans-serif;
}
#dropdownProductAll .dropdown-atoz-product a:link,
#dropdownProductAll .dropdown-atoz-product a:visited {
    color: #2c95dd;
    text-decoration: none;
}
#dropdownProductAll .dropdown-atoz-product a:hover,
#dropdownProductAll .dropdown-atoz-product a:active {
    color: #2c95dd;
    text-decoration: underline;
}

#dropdownProductAll #dropdown-atoz-content {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-height: 190px;
}

.ps-container .ps-scrollbar-x-rail {
    position: absolute; /* please don't change 'position' */
    bottom: 3px; /* there must be 'bottom' for ps-scrollbar-x-rail */
    height: 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    /*opacity: 0;*/
    /*filter: alpha(opacity=0);*/
    background-color: #505050;
    -o-transition: background-color .2s linear, opacity .2s linear;
    -webkit-transition: background-color .2s linear, opacity .2s linear;
    -moz-transition: background-color .2s linear, opacity .2s linear;
    transition: background-color .2s linear, opacity .2s linear;
}

.ps-container:hover .ps-scrollbar-x-rail,
.ps-container.hover .ps-scrollbar-x-rail {
    /*opacity: 0.6;*/
    /*filter: alpha(opacity=60);*/
    background-color: #505050;
}

.ps-container .ps-scrollbar-x-rail:hover,
.ps-container .ps-scrollbar-x-rail.hover {
    background-color: #505050;
    /*opacity: 0.9;*/
    /*filter: alpha(opacity=90);*/
}

.ps-container .ps-scrollbar-x-rail.in-scrolling {
    background-color: #505050;
    /*opacity: 0.9;*/
    /*filter: alpha(opacity=90);*/
}

.ps-container .ps-scrollbar-y-rail {
    position: absolute; /* please don't change 'position' */
    right: 3px; /* there must be 'right' for ps-scrollbar-y-rail */
    width: 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    /*opacity: 0;*/
    /*filter: alpha(opacity = 0);*/
    background-color: #505050;
    /*-o-transition: background-color .2s linear, opacity .2s linear;*/
    /*-webkit-transition: background-color .2s linear, opacity .2s linear;*/
    /*-moz-transition: background-color .2s linear, opacity .2s linear;*/
    /*transition: background-color .2s linear, opacity .2s linear;*/
    visibility: hidden;
}
.ps-container.ps-active-y .ps-scrollbar-y-rail {
    visibility: visible;
}

.ps-container:hover .ps-scrollbar-y-rail,
.ps-container.hover .ps-scrollbar-y-rail {
    /*opacity: 0.6;*/
    /*filter: alpha(opacity=60);*/
    background-color: #505050;
}

.ps-container .ps-scrollbar-y-rail:hover,
.ps-container .ps-scrollbar-y-rail.hover {
    background-color: #505050;
    /*opacity: 0.9;*/
    /*filter: alpha(opacity=90);*/
}

.ps-container .ps-scrollbar-y-rail.in-scrolling {
    background-color: #505050;
    /*opacity: 0.9;*/
    /*filter: alpha(opacity=90);*/
}

.ps-container .ps-scrollbar-x {
    position: absolute; /* please don't change 'position' */
    bottom: 0; /* there must be 'bottom' for ps-scrollbar-x */
    height: 8px;
    background-color: #2c95dd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    /*-o-transition: background-color .2s linear;*/
    /*-webkit-transition: background-color.2s linear;*/
    /*-moz-transition: background-color .2s linear;*/
    /*transition: background-color .2s linear;*/
}

.ps-container .ps-scrollbar-x-rail:hover .ps-scrollbar-x,
.ps-container .ps-scrollbar-x-rail.hover .ps-scrollbar-x {
    background-color: #2c95dd;
}

.ps-container .ps-scrollbar-y {
    position: absolute; /* please don't change 'position' */
    right: 0; /* there must be 'right' for ps-scrollbar-y */
    width: 8px;
    background-color: #2c95dd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    /*-o-transition: background-color .2s linear;*/
    /*-webkit-transition: background-color.2s linear;*/
    /*-moz-transition: background-color .2s linear;*/
    /*transition: background-color .2s linear;*/
}

.ps-container .ps-scrollbar-y-rail:hover .ps-scrollbar-y,
.ps-container .ps-scrollbar-y-rail.hover .ps-scrollbar-y {
    background-color: #2c95dd;
}


/* SERVICES */
#servicesDropdown h4 {
    padding-top: 15px;
    padding-bottom: 1px;
}
#servicesDropdown .dropDownCol {
    padding-top: 15px;
}
#servicesDropdown .iconTextArea {
    padding-top: 20px;
}
/* SUPPORT */
#globalNavMenuSupport .dropDownCol {
    padding-top: 25px;
}
/*C*/

/* HOW TO BUY */
.overlayContentTempHolder {
     display: none;
}
.overlayInner {
	padding: 12px 15px 25px 15px;
	font-family: Arial, Helvetica, sans-serif;
}
.overlayTitle {
	padding-top: 5px;
	padding-bottom: 15px;
	border-bottom: 1px solid #c3c3c3;
	margin-bottom: 10px;
}

.contactListAlphaList {
	font-size: 12px;
	padding: 0px 0px 10px 0px;
	margin: 0px 0px 15px 0px;
	border-bottom: 1px solid #c3c3c3;
}
.contactListAlphaList a.contactListAlphaLink:link,
.contactListAlphaList a.contactListAlphaLink:visited,
.contactListAlphaList a.contactListAlphaLink:hover,
.contactListAlphaList a.contactListAlphaLink:active {
	font-weight: bold;
	/*color: #2c95dd;*/
	margin-left: 5px;
	text-decoration: none;
}
#globalSalesContactsList {
	height: 300px;
	overflow: auto;
}
.salesContactRow {
	width: 470px;
	font-size: 12px;
}
.salesContactRow.gray {
	background-color: #f2f2f2;
}
.salesContactRow .cName,
.salesContactRow .cNums {
	float: left;
	padding: 6px;
	width: 210px;
}
.salesContactRow a.email:link {
	text-align: right;
	display: block;
	float: left;
	margin: 6px;
	width: 14px;
	height: 10px;
	/*background-image: url(/images/products/how-to-buy/icon-email.gif);*/
	background-image: url(../../../../images/header/header-sprites-dec14.png)/*tpa=http://www.emc.com/images/header/header-sprites-dec14.png*/; /*C*/
	background-position: -61px -783px;
}
.salesContactRow a.email:hover {
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.overlayInner p {
	font-size: 12px;
	line-height: 17px;
}

/*C*/
.dropdown-htb-phone {
    font-size: 25px;
    color: #2c95dd;
    padding-top: 20px;
    font-family: "ff-meta-web-pro", Arial, Helvetica, sans-serif;
}
.dropdown-htb-phone-small {
    font-size: 15px;
    padding-top: 6px;
}
/*C*/

/* STORE */ /*C2*/
#storeDropdown .dropDownCol h4 {
    padding-bottom: 0px;
    padding-top: 40px;
    padding-left: 20px;
}
#storeDropdown ul.iconList {
    margin-left: 20px;
}
#storeDropdown .dropDownCol.threefourths .iconCount5 .iconListItem {
    width: 120px;
}
#storeDropdown .dropDownCol.noRightBorder.onefourth {
    padding-left: 10px;
    width: 205px;
}
#storeDropdown .dropDownCol.noRightBorder.onefourth > div:first-child {
    margin-top: 35px;
}
#storeDropdown .dropDownCol.noRightBorder.onefourth > div {
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 8px;
}
#storeDropdown a .dropdown-blue,
#storeDropdown a:link .dropdown-blue,
#storeDropdown a:visited .dropdown-blue,
#storeDropdown a:hover .dropdown-blue,
#storeDropdown a:active .dropdown-blue {
    color: #2c95dd !important;
    font-size: 21px;
    padding-left: 7px;
    font-weight: bold;
}
#storeDropdown .dropdown-blue {
    color: #2c95dd !important;
}

/*C*/
/* PARTNERS */
#partnersDropdown .dropDownCol {
    padding-top: 15px;
}
/*C*/

/* ECN */
/*C*/
.dropdown-tab-label {
    float: left;
    margin-right: 30px;
    padding-left: 26px;
    padding-top: 20px;
}
#communitiesDropdown .carouselTray,
#communitiesDropdown .carouselMask {
    min-height: 160px !important;
}
#communitiesDropdown .carouselMask {
    width: 900px;
    left: 35px;
    right: 35px;
    position: absolute;
}

.universal-carousel-inactive.iconCarousel .carouselTray {
    position: static !important;
    margin: 0px auto;
}
/*C*/

#dropdownCommunitiesProduct.universalCarousel .carouselTray,
#dropdownCommunitiesProduct.universalCarousel .carouselMask {
     min-height: 125px;
}
#dropdownCommunitiesProduct .item {
     width: 900px; /*C*/
     min-height: 140px;
}
#dropdownCommunitiesProduct .col {
     float: left;
     width: 160px; /*C*/
     /*height: 115px;*/
     padding: 8px 20px 10px 0px;
}
#dropdownCommunitiesProduct .col h6 {
     padding-top: 13px; /*C*/
     padding-bottom: 0px;
}
#communitiesDropdown .dropDownCol.threefourths .universalCarousel .carouselTray,
#communitiesDropdown .dropDownCol.threefourths .universalCarousel .carouselMask {
     min-width: 595px; /*C*/
}
#communitiesDropdown .dropDownCol.threefourths .universalCarousel {
     width: 595px; /*C*/
}
#communitiesDropdown .dropdownRightPromo h6 {
     color: #2c95dd;
     padding-bottom: 6px;
}

/* EMC+ */

#emcplusDropdown .leadspace-item {
    float: left;
    position: relative;
    margin: 0px 1px 0px 0px;
    width: 184px;
    height: 144px;
    border: 1px solid #888888;
    overflow: hidden;
    background-color: #ffffff;
    background-image: url(../../../../emc-plus/images/spinner-b-on-w.gif)/*tpa=http://www.emc.com/emc-plus/images/spinner-b-on-w.gif*/;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    cursor: pointer;
}
#emcplusDropdown .leadspace-item img {
     position: absolute;
}
#emcplusDropdown .leadspace-item .leadspace-arrow {
    visibility: hidden;
    position: absolute;
    right: 8px;
    top: 0px;
    width: 9px;
    height: 100%;
    background-image: url(../../../../emc-plus/images/menudropdown-arrow.png)/*tpa=http://www.emc.com/emc-plus/images/menudropdown-arrow.png*/;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
#emcplusDropdown .leadspace-item .leadspace-collapse h4,
#emcplusDropdown .leadspace-item .item-content p {
    display: none;
}
#emcplusDropdown .leadspace-item .item-content,
#emcplusDropdown .leadspace-item .item-bg {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
}
#emcplusDropdown .leadspace-item .item-content h1,
#emcplusDropdown .leadspace-item .item-content h2 {
    padding: 12px 26px 10px 10px;
    text-transform: none;
    font-size: 13px;
    font-weight: normal;
}
#emcplusDropdown .leadspace-item .item-bg {
    background-color: #000000;
    opacity: 0.6;
    filter: alpha(opacity=60);
    zoom: 1;
    width: 100%;
    height: 100%;
}
#emcplusDropdown .leadspace-item .leadspace-collapse h1,
#emcplusDropdown .leadspace-item .leadspace-collapse h2 {
    color: #2c95dd;
    font-weight: bold;
}
#emcplusDropdown ul {
    float: left;
}

/* NEW EMC+ DROPDOWN SEPT 2013 */
#emcplusDropdown {}
#emcplusDropdown .emcplusCont {
	padding: 0 45px 45px 0px;
}
#emcplusDropdown .emcplusCont .img {
	background: url('../../../../images/header/dropdown-menu-sprites-dec14.png')/*tpa=http://www.emc.com/images/header/dropdown-menu-sprites-dec14.png*/ 0px -4650px no-repeat transparent; /*C*/
	display: block;
	width: 72px;
	height: 75px;
	float: left;
	margin-right: 20px;
}
#emcplusDropdown .emcTVCont {
	padding: 0 15px 45px 39px;
}
#emcplusDropdown .emcTVCont .img {
	background: url('../../../../images/header/dropdown-menu-sprites-dec14.png')/*tpa=http://www.emc.com/images/header/dropdown-menu-sprites-dec14.png*/ 0px -4725px no-repeat transparent; /*C*/
	display: block;
	width: 72px;
	height: 75px;
	float: left;
	margin-right: 18px;
}
#emcplusDropdown .emcplusCont, #emcplusDropdown .emcTVCont {
	background: url('../../../../images/header/header-sprites-dec14.png')/*tpa=http://www.emc.com/images/header/header-sprites-dec14.png*/ 100% -225px no-repeat transparent; /*C*/
	width: 290px;
	padding-top: 48px; /*C*/ /*C2*/
	padding-bottom: 40px; /*C*/ /*C2*/
	margin-top: 0px; /*C*/ /*C2*/
	margin-bottom: 0px; /*C*/ /*C2*/
	float: left;
	min-height: 100px;
}
#emcplusDropdown p {
    font-size: 12px;
    line-height: 18px;
}
#emcplusDropdown .emcplusCont h5, #emcplusDropdown .emcTVCont h5 {
	/*color: #2c94dd;*/ /*C*/
	font-size: 18px; /*C*/
	line-height: 22px; /*C*/
	font-weight: normal; /*C*/
	margin-bottom: 13px;
	font-family: "ff-meta-web-pro", Arial, Helvetica, sans-serif; /*C*/
}
#emcplusDropdown .featuredCont {
	width: 210px;
	display: inline-block;
	font-size: 12px;
	padding-left: 38px;
}
#emcplusDropdown .featuredCont ul {
    margin: 0;
    float: none;
}
#emcplusDropdown .featuredCont .listTitle {
	margin-bottom: 13px;
	padding-top: 29px;
	font-size: 16px; /*C*/
	line-height: 19px; /*C*/
	color: #ffffff; /*C*/
	font-family: "ff-meta-web-pro", Arial, Helvetica, sans-serif; /*C*/
}
#emcplusDropdown .featuredCont ul li {
	margin-bottom: 10px
}
#emcplusDropdown .featuredCont a {
	/*color: #2c95dd !important;*/ /*C*/
}

/*e1*/

/*e2*/
/*e2*/

/*e3*/
/* collapsing header */
#headerShowMenu {
	display: none;
	position: absolute;
	padding-right: 16px;
	bottom: 11px;
	right: 13px;
	color: #ffffff;
	font-weight: bold;
	cursor: pointer;
	z-index: 499;
	background-image: url(../../../../images/header/header-collapse-arrow.gif)/*tpa=http://www.emc.com/images/header/header-collapse-arrow.gif*/;
	background-repeat: no-repeat;
	background-position: 100% 4px;
}

#myAccountModal.hidden {
	display: none !important;
}

/*e3*/

/*e4*/
/* HTML CHAT INVITATION JULY 2012 */
#chatInvite {
	position: relative;
	width: 420px;
	height: 260px;
	color: #4c4c4c;
	background-image: url(../../../../images/chat/invite-bg.png)/*tpa=http://www.emc.com/images/chat/invite-bg.png*/;
	font-family: Arial, Helvetica, sans-serif;
}

#chatInvite .chat-btn {
	position: relative;
	clear: both;
	padding: 6px 5px 6px 15px;
	width: 100px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	background-repeat: no-repeat;
	cursor: pointer;
}

#chatInvite a:link,#chatInvite a:visited,#chatInvite a:hover,#chatInvite a:active
	{
	text-decoration: none;
}

#chatInvite a:link .chat-btn-lblue,#chatInvite a:visited .chat-btn-lblue
	{
	background-image: url(../../../../images/chat/btn-lblue-left.png)/*tpa=http://www.emc.com/images/chat/btn-lblue-left.png*/;
	color: #ffffff;
	text-decoration: none;
}

#chatInvite a:link .chat-btn-gray,#chatInvite a:visited .chat-btn-gray {
	margin-top: 10px;
	background-image: url(../../../../images/chat/btn-gray-left.png)/*tpa=http://www.emc.com/images/chat/btn-gray-left.png*/;
	color: #2c95dd;
	text-decoration: none;
}

#chatInvite a:hover .chat-btn-lblue,#chatInvite a:active .chat-btn-lblue,#chatInvite a:hover .chat-btn-gray,#chatInvite a:active .chat-btn-gray
	{
	background-image: url(../../../../images/chat/btn-dblue-left.png)/*tpa=http://www.emc.com/images/chat/btn-dblue-left.png*/;
	color: #ffffff;
	text-decoration: none;
}

#chatInvite .chat-btn-end {
	position: absolute;
	right: -10px;
	top: 0px;
	width: 10px;
	height: 26px;
}

#chatInvite .chat-btn-end-lblue {
	background-image: url(../../../../images/chat/btn-lblue-right.png)/*tpa=http://www.emc.com/images/chat/btn-lblue-right.png*/;
}

#chatInvite .chat-btn-end-gray {
	background-image: url(../../../../images/chat/btn-gray-right.png)/*tpa=http://www.emc.com/images/chat/btn-gray-right.png*/;
}

#chatInvite a:hover .chat-btn-end-lblue,#chatInvite a:active .chat-btn-end-lblue,#chatInvite a:hover .chat-btn-end-gray,#chatInvite a:active .chat-btn-end-gray
	{
	background-image: url(../../../../images/chat/btn-dblue-right.png)/*tpa=http://www.emc.com/images/chat/btn-dblue-right.png*/;
	color: #ffffff;
	text-decoration: none;
}

#chatInvite .close-btn {
	position: absolute;
	top: 28px;
	right: 28px;
	border: none;
}

#chatInvite a:link .close-btn,#chatInvite a:visited .close-btn {
	opacity: 0.4;
	filter: alpha(opacity = 40);
}

#chatInvite a:hover .close-btn,#chatInvite a:active .close-btn {
	opacity: 1;
	filter: alpha(opacity = 100);
}

/*e4*/

/* REMOTE HEADER HIDE TOP NAV ELEMENTS SUPPORT */
.remoteHeaderHideGSS #siteSelectButton {
	display: none;
}

.remoteHeaderHideSearch #searchFormWrapper {
	display: none;
}

.remoteHeaderHideLogin #loginButton {
	display: none;
}

.remoteHeaderModifyLogin { /* NO CSS USED FOR THIS */
	
}

/*"My account" button on the top right header, shouldn't be visible until the login cookie be read (components/header.js)*/
#loginButton {
	display: none;
}
#loginButton.showLogin {
	display: list-item;
}




/* Hide text, until phone size */
#header #menu .menuItem span {
	display: none;
}

#header #menu .menuItem img {
	display: block;
}

.navbar .btn-navbar {
	display: none;
}

#header,#header #headerTop {
	width: 100%;
}

#dropDownIndicatorWrapper {
	display: none;
}

.large #dropDownIndicatorWrapper {
	display: block;
}

/* DROPDOWN CSS SPRITES */
#dropDowns #dropDownsInner .dropdownItem .dropdownIconCssSprite {
	margin: 15px auto; /*C*/
	background-image: url(../../../../images/header/dropdown-menu-sprites-dec14.png)/*tpa=http://www.emc.com/images/header/dropdown-menu-sprites-dec14.png*/; /*C*/
	width: 74px;
	height: 75px;
}

/* DROPDOWN ALPHA LIST */
.dropDownTabBody .col h6 {
	font-size: 14px;
	font-weight: bold;
	color: #888888;
	padding-bottom: 0px;
	padding-top: 4px;
}

.dropDownTabBody .col p {
     padding-top: 5px; /*C*/
     padding-bottom: 0px;
     text-align: left; /*C*/
     font-size: 13px; /*C*/
     line-height: 16px; /*C*/
}

.dropDownTabBody .col a:link,.dropDownTabBody .col a:visited {
	color: #7096bf;
}

.dropDownTabBody .col a:hover,.dropDownTabBody .col a:active {
	color: #7096bf;
	text-decoration: underline;
}

/* OTHER CSS SPRITES */
#dropDownIndicatorWrapper .headerSprite,#header .headerSprite,#dropDowns .headerSprite
	{
	background-image: url(../../../../images/header/header-sprites-dec14.png)/*tpa=http://www.emc.com/images/header/header-sprites-dec14.png*/;
}

.headerSprite.searchIcon {
	background-position: -44px -782px;
	background-repeat: no-repeat;
	width: 13px;
	height: 13px;
}

.searchForm .headerSprite.searchIcon {
	float: right;
	margin-top: 3px;
	margin-left: 2px;
	cursor: pointer;
	color: #ffffff;
}

#searchFormWrapperECN .headerSprite.searchIcon {
	margin-right: 5px;
}

#dropDowns .headerSprite.allProducts {
	float: right;
	background-position: -28px -782px;
	/*padding: 0px 15px 15px 0px;*/
	margin-left: 5px;
	width: 15px;
	height: 14px;
	/*position: relative;*/
	/*top: -14px;*/
}

#header #headerRight #loginButtonDesktop {
	display: inline;
}
#header #headerRight #loginButtonMobile {
	display: none;
}

#header .headerSprite.headerEMCLogo {
	background-position: 0px -726px;
	background-repeat: no-repeat;
	width: 91px;
	height: 30px;
}

#header .userIcon,#header .globeIcon,#header .lockIcon {
	float: left;
	position: relative;
	top: 1px;
	margin-right: 5px;
	background-repeat: no-repeat;
	width: 11px;
	height: 12px;
}

#header .userIcon {
	background-position: -66px -757px;
}

#header .globeIcon {
	background-position: -44px -757px;
}

#header .lockIcon {
	background-position: -55px -757px;
}

#header #menu .menuItemTitle.first {
	display: none;
}

.headerSprite.ddIndicator.normal {
     background-position: 0px -757px;
}
.headerSprite.ddIndicator.current {
     background-position: -21px -757px;
     display: none;
}


#hp-main {
	min-height: auto;
}

/*
 * Media Queries
 * 
 */

/* LARGE LAYOUT */
@media (min-width: 980px) {
	#header {
		height: 77px;
		margin: 0 auto;
		width: 980px;
	}
	#header #menu {
		display: block !important;
	}
	#header #navigation_wrapper #searchFormWrapper {
		margin-right: 0px;
		right: 0;
		z-index: 2000;
	}
	.mobileLogin {
		display: none !important;
	}
	#searchFormWrapper .hp-search-lnk {
		display: none;
	}
	#header #headerTop #searchFormWrapper .hp-search-collapse.collapse {
		height: 20px !important;
	}
	.navbar-static-top .container,.navbar-fixed-top .container,.navbar-fixed-bottom .container,.navbar-static-top .hp-content-container,.navbar-fixed-top .hp-content-container,.navbar-fixed-bottom .hp-content-container
		{
		width: auto;
	}
	.nav-collapse.collapse {
		height: auto !important;
		overflow: visible !important;
	}
}

/* MEDIUM LAYOUT */
@media (min-width: 641px) and (max-width: 979px) {
	.nav_opened #hp-main,#header {
		overflow: visible;
	}
	#headerWrap,#header,#header #headerTop {
		height: auto;
	}
	
	#headerWrap{
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1000;
	}
	
	#header #headerTop {
		/*z-index: 90;*/
	}
	#header .tablet_nav {
		position: absolute;
		width: 280px;
		height: 100%;
		top: 0;
		left: -281px;
		/*background: #7D8387;*/
		background: url(../../../../common/header-subnav-bg.jpg)/*tpa=http://www.emc.com/common/header-subnav-bg.jpg*/ top left repeat-y #7D8387;
	}
	#header #menu {
		position: relative;
		height: auto;
		top: 0;
		left: 0;
	}
	#header #navigation #headerRight {
		display: block;
		position: relative;
		top: auto;
		right: auto;
		background-position: 0 -43px;
		height: 30px;
		margin-top: 7px;
		padding-bottom: 10px;
	}
	#header #navigation #headerRight #loginButton a {
		margin-left: 29px;
		margin-top: 7px;
	}
	#header #navigation #headerRight #loginButton a:hover {
		text-decoration: none;
	}
	
	#header #headerRight #loginButtonDesktop {
		display: none;
	}
	#header #headerRight #loginButtonMobile {
		display: block;
		margin-top: 7px;
	}

	#header #headerRight #loginButton {
		display: block;
	}

	#header #headerRight li {
		display: none;
	}
	
	.mobileLogin {
		display: none !important;
	}
	#dropDowns {
		top: 88px;
		display: none;
	}
	.searchFormWrapper {
		position: absolute;
		right: 22px;
		top: 10px;
		background-image: none !important;
		background-color: #ffffff;
		border: 1px solid #888888;
		background-position: 100% 0%;
		padding: 3px 5px 2px 0px;
		width: 161px;
	}

	.searchFormWrapper .searchForm .type-ahead{
		max-width: 640px;
	}

	#header #navigation .headerSprite {
		background-image: url(../../../../images/header/my-account-icon.png)/*tpa=http://www.emc.com/images/header/my-account-icon.png*/ !important;
		background-position: 0 0;
		width: 20px;
		height: 20px;
		position: absolute;
		top: 16px;
	}
	#header .headerSprite {
		background-image: url(../../../../images/header/header-sprites-2014.png)/*tpa=http://www.emc.com/images/header/header-sprites-2014.png*/;
	}
	.headerSprite.searchIcon {
		background-position: -44px -782px;
		background-repeat: no-repeat;
		width: 13px;
		height: 13px;
	}
	.searchForm .headerSprite.searchIcon {
		float: right;
		margin-top: 1px;
		margin-left: 2px;
		cursor: pointer;
		color: #ffffff;
		background-image: url(../../../../images/header/header-sprites-2014.png)/*tpa=http://www.emc.com/images/header/header-sprites-2014.png*/;
		background-position: -44px -782px;
		background-repeat: no-repeat;
		width: 13px;
		height: 13px;
	}
	#globalSearchForm input#searchString {
		font-size: 11px;
		line-height: 18px;
		padding: 0 10px;
		width: 78%;
		background-color: transparent;
		border: none;
		width: 110px;
		height: 15px;
		font-size: 10px;
		padding: 1px 0px 0px 5px;
		color: #494848 !important;
		margin-right: 0px;
	}
	#header #searchFormWrapper .hp-search-lnk {
		display: none;
	}
	#header #headerTop #searchFormWrapper .hp-search-collapse.collapse {
		height: 20px !important;
	}
	.navbar-static-top .container,.navbar-fixed-top .container,.navbar-fixed-bottom .container,.navbar-static-top .hp-content-container,.navbar-fixed-top .hp-content-container,.navbar-fixed-bottom .hp-content-container,#headerWrap #header,#footer
		{
		width: auto;
	}
	.navbar-fixed-top,.navbar-fixed-bottom {
		position: static;
	}
	.navbar-fixed-top {
		margin-bottom: 20px;
	}
	.navbar-fixed-bottom {
		margin-top: 20px;
	}
	.navbar-fixed-top .navbar-inner,.navbar-fixed-bottom .navbar-inner {
		padding: 5px;
	}
	.navbar .container {
		width: auto;
		padding: 0;
	}
	.navbar .brand {
		padding-right: 10px;
		padding-left: 10px;
		margin: 0 0 0 -5px;
	}
	.nav-collapse {
		clear: both;
	}
	.nav-collapse .nav {
		float: none;
		margin: 0 0 10px;
	}
	.nav-collapse .nav>li {
		float: none;
	}
	.nav-collapse .nav>li>a {
		margin-bottom: 2px;
	}
	.nav-collapse .nav>.divider-vertical {
		display: none;
	}
	.nav-collapse .nav .nav-header {
		color: #777777;
		text-shadow: none;
	}
	.nav-collapse .nav>li>a,.nav-collapse .dropdown-menu a {
		padding: 9px 15px;
		font-weight: bold;
		color: #777777;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}
	.nav-collapse .btn {
		padding: 4px 10px 4px;
		font-weight: normal;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}
	.nav-collapse .dropdown-menu li+li a {
		margin-bottom: 2px;
	}
	.nav-collapse .nav>li>a:hover,.nav-collapse .dropdown-menu a:hover {
		background-color: #f2f2f2;
	}
	.navbar-inverse .nav-collapse .nav>li>a,.navbar-inverse .nav-collapse .dropdown-menu a
		{
		color: #999999;
	}
	.navbar-inverse .nav-collapse .nav>li>a:hover,.navbar-inverse .nav-collapse .dropdown-menu a:hover
		{
		background-color: #111111;
	}
	.nav-collapse.in .btn-group {
		padding: 0;
		margin-top: 5px;
	}
	.nav-collapse .dropdown-menu {
		position: static;
		top: auto;
		left: auto;
		display: none;
		float: none;
		max-width: none;
		padding: 0;
		margin: 0 15px;
		background-color: transparent;
		border: none;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	.nav-collapse .open>.dropdown-menu {
		display: block;
	}
	.nav-collapse .dropdown-menu:before,.nav-collapse .dropdown-menu:after {
		display: none;
	}
	.nav-collapse .dropdown-menu .divider {
		display: none;
	}
	.nav-collapse .nav>li>.dropdown-menu:before,.nav-collapse .nav>li>.dropdown-menu:after
		{
		display: none;
	}
	.nav-collapse .navbar-form,.nav-collapse .navbar-search {
		float: none;
		padding: 10px 15px;
		margin: 10px 0;
		border-top: 1px solid #f2f2f2;
		border-bottom: 1px solid #f2f2f2;
		-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0
			rgba(255, 255, 255, 0.1);
		-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0
			rgba(255, 255, 255, 0.1);
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0
			rgba(255, 255, 255, 0.1);
	}
	.navbar-inverse .nav-collapse .navbar-form,.navbar-inverse .nav-collapse .navbar-search
		{
		border-top-color: #111111;
		border-bottom-color: #111111;
	}
	.navbar .nav-collapse .nav.pull-right {
		float: none;
		margin-left: 0;
	}
	.navbar-static .navbar-inner {
		padding-right: 10px;
		padding-left: 10px;
	}
	#dropDowns .dropdownItem {
		padding-left: 10px;
	}
	#header #menu {
		left: 15px;
		top: 52px;
		display: block !important;
	}
	#header #logoLink {
		margin: 0 auto;
		display: block;
		width: 78px;
		height: 44px;
	}
	
	#header #emcLogo {
		position: absolute;
		top: auto;
		left: auto;
		margin-top: 6px;
	}
	.hp-search-collapse.collapse {
		display: none;
	}
	#header .btn-navbar {
		cursor: pointer;
		display: block;
		float: left;
		height: 30px;
		margin: 6px 0px 0px 22px;
		padding: 3px 12px 4px;
		width: 36px;
		top: 12px;
		background: url("../../../../images/header/subnav-link-bg.gif")/*tpa=http://www.emc.com/images/header/subnav-link-bg.gif*/ 0 2px no-repeat
			transparent;
	}
	/*.navbar .btn-navbar .icon-bar {
        display: block;
        width: 25px;
        height: 3px;
        background-color: #f5f5f5;
        margin: 3px 0 0 -5px;
    }*/
	#header #menu {
		display: block;
		font-family: Arial, Helvetica, sans-serif;
		position: relative;
		width: 280px;
		height: auto;
		/*background: #7D8387;
		border-right: 1px solid #a7a9ab;*/
		left: 0;
		top: -3px;
		box-sizing: border-box;
	}
	#header #menu .menuItemTitle.first {
		background-position: top left;
		display: block; /*border-top: none;*/
		height: 34px;
	}
	#header #menu .menuItemTitle.first p {
		color: #c4c2c2;
		font-size: 12px;
		text-transform: none;
		padding-top: 10px;
	}
	#header #menu .menuItem .active {
		background-position: -60px 0;
	}
	#header #menu .menuItem, #header #menu .menuItemTitle, #header #headerRight {
		text-indent: 0px;
		text-transform: uppercase;
		font-weight: bold;
		float: none;
		height: 38px;
		padding: 10px 0 0px 24px;
		z-index: 90;
		display: block;
		font-size: 15px;
		border-bottom: 1px solid #4b4f51;
		border-top: 1px solid #b1b5b7;

		/*background: url("/common/header-subnav-bg.jpg") repeat-x scroll 0 -47px transparent;
	line-height: 14px;*/
	} /* #header #headerRight {}*/
	#header .menuSprite {
		background-image: none;
		height: 10px;
		border: none;
	}
	#header #menu .menuItem span, #header #menu .menuItemTitle span  {
		display: block;
	}
	#header #headerRight ul {
		margin: 0;
	}
	#header #headerRight li {
		float: none;
		margin-left: 0;
		white-space: nowrap;
		line-height: 15px;
	}
	
	#header #menu .menuItem.mobileLogin {
		background: transparent url(../../../../images/header/header-mobile-sprites.png)/*tpa=http://www.emc.com/images/header/header-mobile-sprites.png*/
			no-repeat 2px -30px;
		padding: 7px 4px 1px 17px;
		margin-top: 3px;
		border: none;
	}
	#header .headerSprite.headerEMCLogo {
		background-image: url(../../../../images/header/header-mobile-sprites.png)/*tpa=http://www.emc.com/images/header/header-mobile-sprites.png*/;
		background-position: 0px 0px;
		background-repeat: no-repeat;
		width: 91px;
		height: 30px;
	}
	#headerRight,#menu,#footer .followJustBg {
		display: none;
	}
	
	/*
	 *@name: sidebar-search-field_medium-size
	 *@description: Hides main search input and shows it on left menu (as in small views)
	 *@to use it: add the class "sidebar-search-field_medium-size" to the body tag
	 */
	 .sidebar-search-field_medium-size .hp-search-collapse {
		background-color: transparent;
		font-family: Arial, Helvetica, sans-serif;
		position: static;
		width: 100%;
		padding: 0px;
	 }
	 .sidebar-search-field_medium-size #header #searchFormWrapper .hp-search-lnk {
		position: absolute;
		left: 12px;
		top: 12px;
		margin: 0;
		width: 17px;
		height: 17px;
		padding-bottom: 5px;
		padding-right: 5px;
		display: block!important;
	}
	.sidebar-search-field_medium-size #globalSearchForm {
		width: auto;
		margin: 0 27px 0 7px;
		height: 43px;
	}
	.sidebar-search-field_medium-size #globalSearchForm input#searchString {
		float: none;
		background-color: #777c80;
		font-size: 12px;
		height: 31px;
		line-height: 28px;
		margin: 7px 0 0px;
		padding: 0 10px 0 33px;
		width: 75%;
		-webkit-box-shadow: inset -4px -4px 3px 1px #6d7276;
		-moz-box-shadow: inset -4px -4px 3px 1px #6d7276;
		box-shadow: inset -4px -4px 3px 1px #6d7276;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		color: #ffffff !important;
		position: absolute;
		top: 0;
		left: 7px;
	}
	.sidebar-search-field_medium-size #header #headerTop #searchFormWrapper {
		position: absolute;
		height: auto;
		/*width: 228px;*/
		padding-right: 0px;
		z-index: 110;
		background: none;
		border: none;
		top: 0;
		left: -228px;
		/*width: 217px;*/
		display: block;
	}
	.sidebar-search-field_medium-size #globalSearchForm img.hp-bg-search {
		color: #FFFFFF;
		cursor: pointer;
		margin-left: 2px;
		margin-top: 3px;
		position: absolute;
		right: 7%;
		top: 57px;
	}
	.sidebar-search-field_medium-size #globalSearchForm .searchIcon {
		display: none;
	}
	.sidebar-search-field_medium-size #header .btn-navbar.hp-search-lnk {
		background: transparent url(../../../../images/header/header-mobile-sprites.png)/*tpa=http://www.emc.com/images/header/header-mobile-sprites.png*/
			no-repeat 12px -55px;
	}
	.sidebar-search-field_medium-size .searchFormWrapper {
		top: 0px;
		left: -281px;
		position: absolute;
		background: url("../../../../common/header-subnav-bg.jpg")/*tpa=http://www.emc.com/common/header-subnav-bg.jpg*/ top left repeat-y
			#7D8387 !important;
		border: 1px solid #888888;
		background-position: 100% 0%;
		padding: 3px 5px 2px 0px;
		width: 273px;
		border-right: 1px solid #a7a9ab;
		z-index: 1;
	}
	.sidebar-search-field_medium-size .menuItemTitle.first{
		display: none;
	}
	.sidebar-search-field_medium-size #header .tablet_nav {
		top: 50px!important;
	}
	.sidebar-search-field_medium-size #header #menu .menuItemTitle.first{
		display:none;
	}
	.sidebar-search-field_medium-size #headerWrap{height: 44px!important}
	/*.sidebar-search-field_medium-size #navigation{height: 300px!important;}*/
	/*****************************/
}

/* SMALL LAYOUT */
@media (max-width: 640px) { 
	
	#headerWrap{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 1000;
	}
	
	#header .headerSprite {
		background-image: url(../../../../images/header/header-mobile-sprites.png)/*tpa=http://www.emc.com/images/header/header-mobile-sprites.png*/;
	}
	#header #logoLink{
		margin: auto;
		display: block;
		width: 78px;
		height: 44px;
	}
	#header .headerSprite#emcLogo {
		background-position: 0 0;
		height: 26px;
		top: 7px;
		width: 78px;
		margin: auto;
		position: relative;
	}
	.hp-dd-change-country {
		display: none !important;
	}
	.hp-search-collapse {
		background-color: transparent;
		font-family: Arial, Helvetica, sans-serif;
		position: static;
		width: 100%;
		/*float: left;*/
		padding: 0px;
	}
	#hp-mobile-search
        #hp-header-search {
		display: none;
	}
	#searchFormWrapper #hp-header-search {
		padding-top: 2px;
	}
	#header #searchFormWrapper .hp-search-lnk {
		display: none;
	}
	#header #searchFormWrapper .bttnSearch {
		display: none;
	}
	#globalSearchForm {
		width: auto;
		margin: 0 27px 0 7px;
		height: 43px;
	}
	#globalSearchForm input#searchString {
		float: none;
		background-color: #777c80;
		font-size: 12px;
		height: 31px;
		line-height: 28px;
		margin: 7px 0 0px;
		padding: 0 10px 0 33px;
		width: 75%;
		-webkit-box-shadow: inset -4px -4px 3px 1px #6d7276;
		-moz-box-shadow: inset -4px -4px 3px 1px #6d7276;
		box-shadow: inset -4px -4px 3px 1px #6d7276;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		color: #ffffff !important;
		position: absolute;
		top: 0;
		left: 7px;
	}
	#globalSearchForm .type-ahead{
		top: 26px;
		right: -20px;
		width: 227px;
		z-index: 1000;
		padding: 0;
		border: none;
		box-shadow: 0 3px 4px 0px rgba(0,0,0,0.3);
	}
	#globalSearchForm .type-ahead li{
		margin: 0;
		padding: 10px 22px;
		font-size: 13px;
		font-weight: bold;
		color: #333;
		word-wrap: break-word;
	}
	#globalSearchForm .type-ahead li:last-child{
		border-bottom: 1px solid #e3e3e3;
	}
	#header #headerTop #searchFormWrapper {
		position: absolute;
		height: auto;
		width: 228px;
		padding-right: 0px;
		z-index: 110;
		background: none;
		border: none;
		top: 0;
		left: -228px;
		width: 217px;
		display: block;
	}
	#globalSearchForm img.hp-bg-search {
		color: #FFFFFF;
		cursor: pointer;
		margin-left: 2px;
		margin-top: 3px;
		position: absolute;
		right: 7%;
		top: 57px;
	}
	#globalSearchForm .searchIcon {
		display: none;
	}
	.hp-search-collapse.in.collapse #globalSearchForm img.hp-bg-search {
		display: block;
	}
	#header.container,#headerWrap,#headerWrap #header.container,#headerWrap #header.container #headerTop
		{
		height: 0;
		width: 100%;
	}
	#headerWrap { 
		height: 44px;
		/*z-index: 100;*/
	}
	#dropDowns {
		top: 45px;
		display: none;
	}
	#header .btn-navbar {
		cursor: pointer;
		display: block;
		float: left;
		height: 27px;
		margin: 8px 0px 6px 17px;
		padding: 3px 12px 0;
		width: 36px;
		top: 12px;
		background: url("../../../../images/header/subnav-link-bg.gif")/*tpa=http://www.emc.com/images/header/subnav-link-bg.gif*/ top left no-repeat
			transparent;
	}
	#header .btn-navbar.hp-search-lnk {
		background: transparent url(../../../../images/header/header-mobile-sprites.png)/*tpa=http://www.emc.com/images/header/header-mobile-sprites.png*/
			no-repeat 12px -55px;
	}

	#headerRight,#menu,#footer .followJustBg {
		display: none;
	}
	#header #menu {
		display: block;
		font-family: Arial, Helvetica, sans-serif;
		height: auto;
		position: relative;
		width: 227px;
		border-right: 1px solid #a7a9ab;
		left: 0;
		top: -3px;
	}
	#header #menu .menuItem span, #header #menu .menuItemTitle span {
		display: inline;
	}
	#header #menu .menuItem .menuSprite, #header #menu .menuItemTitle .menuSprite {
		display: none;
	}
	#header #menu .hp-dd-change-country,#header #menu .hp-dd-change-country img
		{
		display: inline;
	}
	#header #menu .menuItemTitle.first {
		background-position: top left;
		border-top: none;
		display: none
	}
	#header #menu .menuItem .active, #header #menu .menuItemTitle .active {
		background-position: -60px 0;
	}
	#header #menu .menuItem, #header #menu .menuItemTitle,#header #headerRight {
		text-indent: 0px;
		text-transform: uppercase;
		font-weight: bold;
		float: none;
		height: auto;
		line-height: 12px;
		padding: 15px 0 15px 16px;
		z-index: 90;
		display: block;
		border-top: 1px solid #b1b5b7;
		border-bottom: 1px solid #4b4f51;
		font-size: 12px;
	}
	#header #headerRight #loginButtonDesktop {
		display: none;
	}
	#header #headerRight #loginButtonMobile {
		display: block;
	}
	
	#header #headerRight #loginButton {
		display: block;
	}

	#header #menu .menuItem.mobileLogin {
		background: transparent url(../../../../images/header/header-mobile-sprites.png)/*tpa=http://www.emc.com/images/header/header-mobile-sprites.png*/
			no-repeat 2px -30px;
		padding: 7px 4px 1px 17px;
		margin-top: 3px;
		border: none;
	}
	.searchFormWrapper {
		top: auto;
		right: auto;
		position: relative;
		background: url("../../../../common/header-subnav-bg-small.jpg")/*tpa=http://www.emc.com/common/header-subnav-bg-small.jpg*/ top left repeat-y
			#7D8387 !important;
		border: 1px solid #888888;
		background-position: 100% 0%;
		padding: 3px 5px 2px 0px;
		width: 221px;
		border-right: 1px solid #a7a9ab;
	}
	#header .tablet_nav {
		position: relative;
		width: 227px;
		background: url("../../../../common/header-subnav-bg-small.jpg")/*tpa=http://www.emc.com/common/header-subnav-bg-small.jpg*/ top left repeat-y
			#7D8387;
		z-index: 100;
		border-right: 1px solid #a7a9ab;
	}
	#hp-main,#header {
		overflow: visible;
	}
	#header #navigation #headerRight {
		display: block;
		position: relative;
		top: auto;
		right: auto;
		background-position: 0 -43px;
		height: 30px;
		margin-top: 7px;
		padding: 0 0 10px 15px;
	}
	
	#header #navigation #headerRight ul{ margin:0;}
	
	#header #headerRight li {
		float: none;
		margin-left: 0;
		white-space: nowrap;
		line-height: 15px;
		display: none;
		padding: 14px 0 0 0px;
	}
	#header #navigation .headerSprite {
		background: url(../../../../images/header/my-account-icon.png)/*tpa=http://www.emc.com/images/header/my-account-icon.png*/ 0px -32px no-repeat
			transparent;
		width: 20px;
		height: 20px;
	}
	#header #navigation  #loginButton a {
		font-size: 12px;
		text-transform: uppercase;
	}
	#navigation_wrapper.mobile_nav {
		position: absolute;
		left: -228px;
		width: 227px;
		height: 100%;
		background: url("../../../../common/header-subnav-bg-small.jpg")/*tpa=http://www.emc.com/common/header-subnav-bg-small.jpg*/ top left repeat-y #7D8387;
		overflow-x: hidden;
	}
}

/*Responsive Login Lightbox - Iframe*/

/*Small screens*/
@media (max-width: 640px) {
	#iframeLogin {
		width: 90%;
		height: 450px;
		border: none;
		margin: 30px 0 45px 20px;
		overflow: hidden;
	}
}

@media (max-width: 523px) {
	#iframeLogin {
		width: 90%;
		margin: 30px 0 45px 18px;
	}
}

@media (max-width: 300px) {
	#iframeLogin {
		width: 96%;
		margin: 30px 0 45px 8px;
	}
}

/*Medium screens*/
@media (min-width: 641px) {
	#iframeLogin {
		width: 525px;
		height: 333px;
		border: none;
		margin: 30px 0 45px 36px;
	}
}

#iframeLogin {
	overflow: hidden;
}

.smallScreenLogin {
	top: 44px !important;
	left: 0px !important;
	margin-left: 0px !important;
	margin-top: 0px !important;
	box-shadow: none !important;
	width: 100% !important;
	height: 425px !important;
}

.emcplus-small .smallScreenLogin {
	height: 100%!important;
}

.regularScreenLogin {
	margin-left: -300px !important;
	left: 50% !important;
	box-shadow: 0 10px 10px #555555 !important;
}

.large.emcplus-large .regularScreenLogin,
.medium.emcplus-large .regularScreenLogin {
	top: 50%!important;
}

body.small.unscrollable{
	overflow: hidden!important;	
}



/* OVERLAYS */
/* NIGHTSHADE, OVERLAY and RELATED */

.iframeURLpre,
.iframeURLpost,
.showAfterUnlock {
    display: none;
}

#overlayContent {
    display: none;
}
.overlayPage {
    display: none;
}
#nightShade {
    width: 100%; height: 100%;
    top: 0px; left: 0px;
    position: fixed;
    z-index: 500;
    cursor: pointer;
    display: none;
    background-color: #000000;
    zoom: 1;
}
#nightShadeContainer {
    width: 100%; height: 100%;
    top: 0px; left: 0px;
    position: fixed;
    z-index: 501;
    cursor: pointer;
    display: none;
    zoom: 1;
}
#nightShadeContainerInner {
    margin: 50px auto 0px auto;
    z-index: 502;
    cursor: default;
    zoom: 1;
}

#nightShadeShadowTL,
#nightShadeShadowTC,
#nightShadeShadowTR,
#nightShadeShadowML,
#nightShadeShadowMR,
#nightShadeShadowBL,
#nightShadeShadowBC,
#nightShadeShadowBR {
    position: absolute;
    zoom: 1;
}
#nightShadeShadowTR,
#nightShadeShadowBR,
#nightShadeShadowTL,
#nightShadeShadowBL {
    width: 23px;
    height: 23px;
}
#nightShadeShadowTR,
#nightShadeShadowBR {
    right: -23px;
    background-position: 100% 0%
}
#nightShadeShadowTL,
#nightShadeShadowBL {
    left: -23px;
    background-position: 0% 0%
}
#nightShadeShadowTC,
#nightShadeShadowBC {
    width: 100%;
    left: 0px;
    height: 23px;
    background-position: 50% 0%;
}
#nightShadeShadowML,
#nightShadeShadowMR {
    top: 0px;
    width: 23px;
    height: 100%;
}
#nightShadeShadowTL {
    background-image: url(../../../../_admin/js/overlay-apr2011/shadowTL.png)/*tpa=http://www.emc.com/_admin/js/overlay-apr2011/shadowTL.png*/;
}
#nightShadeShadowTC {
    background-image: url(../../../../_admin/js/overlay-apr2011/shadowT.png)/*tpa=http://www.emc.com/_admin/js/overlay-apr2011/shadowT.png*/;
}
#nightShadeShadowTR {
    background-image: url(../../../../_admin/js/overlay-apr2011/shadowTR.png)/*tpa=http://www.emc.com/_admin/js/overlay-apr2011/shadowTR.png*/;
}
#nightShadeShadowTL,
#nightShadeShadowTC,
#nightShadeShadowTR {
    background-repeat: no-repeat;
    top: -23px;
}
#nightShadeShadowML {
    background-image: url(../../../../_admin/js/overlay-apr2011/shadowML.png)/*tpa=http://www.emc.com/_admin/js/overlay-apr2011/shadowML.png*/;
    background-repeat: repeat-y;
    left: -23px;
}
#nightShadeShadowMR {
    background-image: url(../../../../_admin/js/overlay-apr2011/shadowMR.png)/*tpa=http://www.emc.com/_admin/js/overlay-apr2011/shadowMR.png*/;
    background-repeat: repeat-y;
    right: -23px;
}
#nightShadeShadowBL {
    background-image: url(../../../../_admin/js/overlay-apr2011/shadowBL.png)/*tpa=http://www.emc.com/_admin/js/overlay-apr2011/shadowBL.png*/;
}
#nightShadeShadowBC {
    background-image: url(../../../../_admin/js/overlay-apr2011/shadowB.png)/*tpa=http://www.emc.com/_admin/js/overlay-apr2011/shadowB.png*/;
}
#nightShadeShadowBR {
    background-image: url(../../../../_admin/js/overlay-apr2011/shadowBR.png)/*tpa=http://www.emc.com/_admin/js/overlay-apr2011/shadowBR.png*/;
}
#nightShadeShadowBL,
#nightShadeShadowBC,
#nightShadeShadowBR {
    background-repeat: no-repeat;
    bottom: -23px;
}


#nightShadeContainerInnerCollapser {
    text-align: left;
    position: relative;
}

#nightShadeContainerContent {
    position: relative;
    z-index: 503;
    zoom: 1;
    background-color: #ffffff;
}

#nightShadeClose {
    position: absolute;
    z-index: 504;
    top: 12px;
    right: 12px;
    width: 30px;
    height: 24px;
    cursor: pointer;
    background-image: url(../../../../images/header/dropdown-menu-sprites-dec14.png)/*tpa=http://www.emc.com/images/header/dropdown-menu-sprites-dec14.png*/; /*C*/
    background-position: 0px -4350px;
    background-repeat: no-repeat;
}


/* SPECIAL RULES FOR SPECIFIC CONTENT TYPES */
.overlayPage.video,
.overlayPage.download {
    width: 1000px; /* OPERA REQUIRES OR ELSE OVERLAY COLLAPSES */
    height: 563px;
}
.overlayPage.video .videoID {
    display: none;
}
.overlayPage.video .videoTarget {
    position: absolute;
    top: 0px;
    left: 0px;
    /*width: 1000px;*/
    /*height: 563px;*/
    width: 100%;
    height: 100%;
    background-image: url(../../../../_admin/js/overlay-apr2011/spinner-w-on-b.gif)/*tpa=http://www.emc.com/_admin/js/overlay-apr2011/spinner-w-on-b.gif*/;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #000000;
}

.formImage {
	float: right;
	margin-left: 20px;
}
.form,
.form iframe {
	width: 300px;
	height: 300px;
}
.overlayPage .largePadding {
	padding: 78px;
}
.overlayPage .mainBodyheaderBlack {
	margin-bottom: 10px;
}
.overlayPage p {
	margin-bottom: 15px;
}
/* following are needed to override some inherited styles from main CSS file */
.overlayPage.download {
    background: none !important;
    padding: 0px !important;
    margin: 0px !important;
}
