/* Columns CSS */

/* parsys component */

div.par {
    clear: both;
}
div.parsys_column {
    height: auto;
    width: 100%;
    float: left;
    border: 0;
    vertical-align:top;
    padding: 0;
    margin: 5px 0 5px 0;
}

div.parsys_column .section {
    overflow:hidden;
    width: 100%;
}

/* column control layouts */
div.cq-colctrl-cols {width: 100%; float: left; }

div.cq-colctrl-default { width: 100%;}

/* 2 Columns */


/* 5% - 95% 
div.cq-colctrl-lt0 {} 
div.cq-colctrl-lt0-c0 { width: 5%; }
div.cq-colctrl-lt0-c1 { width: 95%; }
*/
/* 10% - 90% 
div.cq-colctrl-lt1 {} 
div.cq-colctrl-lt1-c0 { width: 10%; }
div.cq-colctrl-lt1-c1 { width: 90%; }
*/
/* 15% - 85% 
div.cq-colctrl-lt2 {} 
div.cq-colctrl-lt2-c0 { width: 15%; }
div.cq-colctrl-lt2-c1 { width: 85%; }
*/
/* 20% - 80% */
div.cq-colctrl-lt3 {} 
div.cq-colctrl-lt3-c0 { width: 20%; }
div.cq-colctrl-lt3-c1 { width: 80%; }

/* 25% - 75% */
div.cq-colctrl-lt4 {} 
div.cq-colctrl-lt4-c0 { width: 25%; }
div.cq-colctrl-lt4-c1 { width: 75%; }

/* 30% - 70% */
div.cq-colctrl-lt5 {} 
div.cq-colctrl-lt5-c0 { width: 30%; }
div.cq-colctrl-lt5-c1 { width: 70%; }

/* 35% - 65% */
div.cq-colctrl-lt6 {} 
div.cq-colctrl-lt6-c0 { width: 35%; }
div.cq-colctrl-lt6-c1 { width: 65%; }

/* 40% - 60% */
div.cq-colctrl-lt7 {} 
div.cq-colctrl-lt7-c0 { width: 40%; }
div.cq-colctrl-lt7-c1 { width: 60%; }

/* 45% - 55% */
div.cq-colctrl-lt8 {} 
div.cq-colctrl-lt8-c0 { width: 45%; }
div.cq-colctrl-lt8-c1 { width: 55%; }

/* 50% - 50% */
div.cq-colctrl-lt9 {} 
div.cq-colctrl-lt9-c0 { width: 50%; }
div.cq-colctrl-lt9-c1 { width: 50%; }

/* 55% - 45% */
div.cq-colctrl-lt10 {} 
div.cq-colctrl-lt10-c0 { width: 55%; }
div.cq-colctrl-lt10-c1 { width: 45%; }

/* 60% - 40% */
div.cq-colctrl-lt11 {} 
div.cq-colctrl-lt11-c0 { width: 60%; }
div.cq-colctrl-lt11-c1 { width: 40%; }

/* 65% - 35% */
div.cq-colctrl-lt12 {} 
div.cq-colctrl-lt12-c0 { width: 65%; }
div.cq-colctrl-lt12-c1 { width: 35%; }

/* 70% - 30% */
div.cq-colctrl-lt13 {} 
div.cq-colctrl-lt13-c0 { width: 70%; }
div.cq-colctrl-lt13-c1 { width: 30%; }

/* 75% - 25% */
div.cq-colctrl-lt14 {} 
div.cq-colctrl-lt14-c0 { width: 75%; }
div.cq-colctrl-lt14-c1 { width: 25%; }

/* 80% - 20% */
div.cq-colctrl-lt15 {} 
div.cq-colctrl-lt15-c0 { width: 80%; }
div.cq-colctrl-lt15-c1 { width: 20%; }

/* 85% - 15% 
div.cq-colctrl-lt16 {} 
div.cq-colctrl-lt16-c0 { width: 85%; }
div.cq-colctrl-lt16-c1 { width: 15%; }
*/
/* 90% - 10% 
div.cq-colctrl-lt17 {} 
div.cq-colctrl-lt17-c0 { width: 90%; }
div.cq-colctrl-lt17-c1 { width: 10%; }
*/
/* 95% - 5% 
div.cq-colctrl-lt18 {} 
div.cq-colctrl-lt18-c0 { width: 95%; }
div.cq-colctrl-lt18-c1 { width: 5%; }
*/
/* extra 2-columns */

/* 50% - 50% with gap */
div.cq-colctrl-lt19 {} 
div.cq-colctrl-lt19-c0 { width: 48%; padding-right: 14px;}
div.cq-colctrl-lt19-c1 { width: 49% }



/* 3 Columns */

/* 30% - 30% - 30% */
div.cq-colctrl-lt30 {}
div.cq-colctrl-lt30-c0 { width: 30%; display: inline; clear: none; }
div.cq-colctrl-lt30-c1 { width: 30%; display: inline; clear: none; }
div.cq-colctrl-lt30-c2 { width: 30%; display: inline; clear: none; }

/* 33% - 33% - 33% */
div.cq-colctrl-lt31 {}
div.cq-colctrl-lt31-c0 { width: 33%; display: inline; clear: none; }
div.cq-colctrl-lt31-c1 { width: 33%; display: inline; clear: none; }
div.cq-colctrl-lt31-c2 { width: 33%; display: inline; clear: none; }

/* 25% - 50% - 25% */
div.cq-colctrl-lt32 {}
div.cq-colctrl-lt32-c0 { width: 25%; display: inline; clear: none; }
div.cq-colctrl-lt32-c1 { width: 50%; display: inline; clear: none; }
div.cq-colctrl-lt32-c2 { width: 25%; display: inline; clear: none; }

/* 20% - 60% - 20% */
div.cq-colctrl-lt33 {}
div.cq-colctrl-lt33-c0 { width: 20%; display: inline; clear: none; }
div.cq-colctrl-lt33-c1 { width: 60%; display: inline; clear: none; }
div.cq-colctrl-lt33-c2 { width: 20%; display: inline; clear: none; }

/* 15% - 70% - 15% 
div.cq-colctrl-lt33 {}
div.cq-colctrl-lt33-c0 { width: 15%; display: inline; clear: none; }
div.cq-colctrl-lt33-c1 { width: 70%; display: inline; clear: none; }
div.cq-colctrl-lt33-c2 { width: 15%; display: inline; clear: none; }
*/
/* 10% - 80% - 10% 
div.cq-colctrl-lt33 {}
div.cq-colctrl-lt33-c0 { width: 10%; display: inline; clear: none; }
div.cq-colctrl-lt33-c1 { width: 80%; display: inline; clear: none; }
div.cq-colctrl-lt33-c2 { width: 10%; display: inline; clear: none; }
*/
/* extra 3-columns */



/* 4 Columns */
/* 25% - 25% - 25% - 25% */
div.cq-colctrl-lt40 {}
div.cq-colctrl-lt40-c0 { width: 25%; display: inline; clear: none;}
div.cq-colctrl-lt40-c1 { width: 25%; display: inline; clear: none;}
div.cq-colctrl-lt40-c2 { width: 25%; display: inline; clear: none;}
div.cq-colctrl-lt40-c3 { width: 25%; display: inline; clear: none;}

/* 20% - 30% - 30% - 20% */
div.cq-colctrl-lt41 {}
div.cq-colctrl-lt41-c0 { width: 20%; display: inline; clear: none;}
div.cq-colctrl-lt41-c1 { width: 30%; display: inline; clear: none;}
div.cq-colctrl-lt41-c2 { width: 30%; display: inline; clear: none;}
div.cq-colctrl-lt41-c3 { width: 20%; display: inline; clear: none;}

/* 15% - 35% - 35% - 15% */
div.cq-colctrl-lt42 {}
div.cq-colctrl-lt42-c0 { width: 15%; display: inline; clear: none;}
div.cq-colctrl-lt42-c1 { width: 35%; display: inline; clear: none;}
div.cq-colctrl-lt42-c2 { width: 35%; display: inline; clear: none;}
div.cq-colctrl-lt42-c3 { width: 15%; display: inline; clear: none;}



/* extra 4-columns */




/* 5 Columns */

/* 20% - 20% - 20% - 20% - 20% */
div.cq-colctrl-lt50 {}
div.cq-colctrl-lt50-c0 { width: 20%; display: inline; clear: none;}
div.cq-colctrl-lt50-c1 { width: 20%; display: inline; clear: none;}
div.cq-colctrl-lt50-c2 { width: 20%; display: inline; clear: none;}
div.cq-colctrl-lt50-c3 { width: 20%; display: inline; clear: none;}
div.cq-colctrl-lt50-c4 { width: 20%; display: inline; clear: none;}


/* extra 4-columns */