@charset "utf-8";
/* CSS Document */
#image_slide {
	/*gradient background color */
    background: url(../../../../../corp/images/templates/image_slide_bg.gif)/*tpa=http://www.pacificlife.com/corp/images/templates/image_slide_bg.gif*/ 0 0 repeat-x #00527b; /* Old browsers */
    background: -moz-linear-gradient(bottom, #00527b, #378fbb); /* FF3.6+ */
    background: -webkit-gradient(linear, center bottom, center top, from(#00527b), to(#378fbb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(bottom,  #00527b 1%,#378fbb 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(bottom,  #00527b 1%,#378fbb 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(bottom,  #00527b 1%,#378fbb 100%); /* IE10+ */
    background: linear-gradient(to top,  #00527b 1%,#378fbb 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#378fbb', endColorstr='#00527b',GradientType=0 ); /* IE6-9 */
	/*-webkit-border-radius:10px;
	-moz-border-radius:10px;*/
	border-radius:10px;
	clear:both;
	height:146px;
	margin:10px 0;
	position:relative;
	width:100% !important;
	z-index:1;
	color: #ffffff;
}
#image_slide span.prev,
#image_slide span.next {
	display:inline;
	height:146;
	width:37px;
}
#image_slide span.prev { 
	float:left;
	border-right:1px solid #004b70;
	border-right:1px solid rgba(0,75,112,0.7);
}
#image_slide span.next {
	float:left;
	border-left:1px solid #004b70;
	border-left:1px solid rgba(0,75,112,0.7);
}
#image_slide span.prev button,
#image_slide span.next button {
	height:146px;
	text-align:center;
	vertical-align:middle;
	width:37px;
	background:url(../../../../../corp/images/templates/image_slide_bg.gif)/*tpa=http://www.pacificlife.com/corp/images/templates/image_slide_bg.gif*/ 0 0 repeat-x;
	background:-moz-linear-gradient(bottom, #00527b, #378fbb);
	background:-webkit-gradient(linear, center bottom, center top, from(#00527b), to(#378fbb));
	border: none;
	cursor: pointer;
}
#image_slide span.prev button {
  -moz-border-radius-topleft:10px;
  -moz-border-radius-bottomleft:10px;
  -webkit-border-top-left-radius:10px;
  -webkit-border-bottom-left-radius:10px;
	border-top-left-radius:10px;
	border-bottom-left-radius:10px;
}
#image_slide span.next button {
  -moz-border-radius-topright:10px;
  -moz-border-radius-bottomright:10px;
  -webkit-border-top-right-radius:10px;
  -webkit-border-bottom-right-radius:10px;
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
}
#image_slide span button:hover,
#image_slide .slide li:hover {
	background:rgba(0,0,0,0.2);
}
#image_slide span button.hover,
#image_slide .slide li.hover {
	background:url(../../../../../corp/images/templates/image_slide_hover.png)/*tpa=http://www.pacificlife.com/corp/images/templates/image_slide_hover.png*/ 0 0 repeat-x;
}
#image_slide .slide {
	float:left;
	height:146px;
	overflow:hidden;
	width:905px;
}
#image_slide .slide li {
	border-right:1px solid rgb(0,75,112);
	border-right:1px solid rgba(0,75,112,0.7);
	font-size:1.2em;
	width:227px;
	text-align: center;
}
#image_slide .slide li a {
	display:block;
	padding:21px 15px;
	text-decoration:none;
	width:188px;
	color: #ffffff;
}
#image_slide .slide strong {
	color:#fff;
	display:block;
	font-weight:bold;
	line-height:1.1em;
	margin-bottom:6px;
	text-align:center;
}
