/*-- BASIC HTML ELEMENTS --*/
/* line 7, content/stylesheets/base.scss */
.elc body {
  background-color: #352e2f;
  color: #EDECED;
  font-family: "Helvetica Neue Regular", "HelveticaNeue Regular", "Helvetica Neue", "HelveticaNeue", Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  
}

/* line 14, content/stylesheets/base.scss */
.elc .template_0 body {
  background: #352e2f url("../images/background.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/background.png*/ scroll repeat-x 0 0;
}

/* line 17, content/stylesheets/base.scss */
.elc h1 {
  color: white;
  font-weight: normal;
}
/* line 20, content/stylesheets/base.scss */
.elc h1 a {
  color: #f8efca;
}
/* line 22, content/stylesheets/base.scss */
.elc h1 a:hover {
  color: #f8ec92;
}

/* line 27, content/stylesheets/base.scss */
.elc a {
  color: #f8efca;
  text-decoration: none;
}
/* line 30, content/stylesheets/base.scss */
.elc a:hover {
  color: #f8ec92;
  text-decoration: none;
}
/* line 34, content/stylesheets/base.scss */
.elc a:focus {
  outline: none;
}
/* line 48, content/stylesheets/base.scss */
.elc a p.read_more, .elc a.read_more, .elc a.fact_sheet, .elc a.see_all, .elc a.see_all_content, .elc a.rss, .elc a.email, .elc a.download, .elc a.watch, .elc a.print, .elc a.slideshow, .elc a.back_to_top {
  background: transparent url("../images/icons.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/icons.png*/ scroll no-repeat 0 0;
  padding-left: 25px;
  text-transform: lowercase;
}
/* line 53, content/stylesheets/base.scss */
.elc a.fact_sheet {
  background-position: 0 -450px;
  line-height: 16px;
  text-transform: none;
}
/* line 57, content/stylesheets/base.scss */
.elc a.fact_sheet:hover {
  background-position: -700px -450px;
}
/* line 62, content/stylesheets/base.scss */
.elc a p.read_more, .elc a.read_more {
  background-position: 0 -450px;
  line-height: 16px;
}
/* line 65, content/stylesheets/base.scss */
.elc a p.read_more:hover, .elc a.read_more:hover {
  background-position: -700px -450px;
}
/* line 69, content/stylesheets/base.scss */
.elc a.see_all {
  background-position: 0 -347px;
}
/* line 71, content/stylesheets/base.scss */
.elc a.see_all:hover {
  background-position: -700px -347px;
}
/* line 75, content/stylesheets/base.scss */
.elc a.see_all_content {
  background-position: 0 -398px;
}
/* line 77, content/stylesheets/base.scss */
.elc a.see_all_content:hover {
  background-position: -700px -398px;
}
/* line 81, content/stylesheets/base.scss */
.elc a.rss {
  background-position: 0 3px;
}
/* line 83, content/stylesheets/base.scss */
.elc a.rss:hover {
  background-position: -700px 3px;
}
/* line 87, content/stylesheets/base.scss */
.elc a.email {
  background-position: 0 -495px;
}
/* line 89, content/stylesheets/base.scss */
.elc a.email:hover {
  background-position: -700px -495px;
}
/* line 93, content/stylesheets/base.scss */
.elc a.download 
{
  background: transparent url("../images/icon_download.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/icon_download.png*/ scroll no-repeat 0 0;
  /*background-position: 0 -700px;*/
  padding-left: 28px;
  text-transform: capitalize;
}
/* line 97, content/stylesheets/base.scss */
.elc a.download:hover 
{
    background: transparent url("../images/icon_download_hover.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/icon_download_hover.png*/ scroll no-repeat 0 0;
  /*background-position: -700px -700px;*/
}
/* line 101, content/stylesheets/base.scss */
.elc a.watch {
  background-position: 0 -250px;
  text-transform: capitalize;
}
/* line 104, content/stylesheets/base.scss */
.elc a.watch:hover {
  background-position: -700px -250px;
}
/* line 108, content/stylesheets/base.scss */
.elc a.print {
  background-position: 0 -600px;
  text-transform: capitalize;
}
/* line 111, content/stylesheets/base.scss */
.elc a.print:hover {
  background-position: -700px -600px;
}
/* line 115, content/stylesheets/base.scss */
.elc a.slideshow {
  background-position: 0 -650px;
  padding-left: 28px;
  text-transform: capitalize;
}
/* line 119, content/stylesheets/base.scss */
.elc a.slideshow:hover {
  background-position: -700px -650px;
}
/* line 123, content/stylesheets/base.scss */
.elc a.back_to_top {
  padding-left: 15px;
  background-position: -700px -997px;
  text-transform: uppercase;
}
/* line 130, content/stylesheets/base.scss */
.elc a.facebook, .elc a.twitter, .elc a.linkedin {
  background: transparent url("../images/icons.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/icons.png*/ scroll no-repeat 0 0;
  display: block;
  height: 14px;
  text-indent: -800em;
  width: 14px;
}
/* line 137, content/stylesheets/base.scss */
.elc a.facebook {
  background-position: 0 -100px;
}
/* line 139, content/stylesheets/base.scss */
.elc a.facebook:hover {
  background-position: -700px -100px;
}
/* line 143, content/stylesheets/base.scss */
.elc a.twitter {
  background-position: 0 -50px;
}
/* line 145, content/stylesheets/base.scss */
.elc a.twitter:hover {
  background-position: -700px -50px;
}
/* line 149, content/stylesheets/base.scss */
.elc a.linkedin {
  background-position: 0 -150px;
}
/* line 151, content/stylesheets/base.scss */
.elc a.linkedin:hover {
  background-position: -700px -150px;
}

/* line 162, content/stylesheets/base.scss */
.elc .template_2 .menu a.facebook,
.elc .template_2 .menu a.twitter,
.elc .template_2 .menu a.linkedin,
.elc .template_2 .menu a.rss,
.elc .template_1-3 .menu a.facebook,
.elc .template_1-3 .menu a.twitter,
.elc .template_1-3 .menu a.linkedin,
.elc .template_1-3 .menu a.rss {
  padding-left: 25px;
  text-indent: 0;
  text-transform: none;
  width: auto;
}
/* line 168, content/stylesheets/base.scss */
.elc .template_2 .menu li,
.elc .template_1-3 .menu li {
  padding: 5px 10px;
}
/* line 172, content/stylesheets/base.scss */
.elc .template_2 .menu {
  width: 200px;
}

/* line 176, content/stylesheets/base.scss */
.elc .phone {
  background: transparent url("../images/icons.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/icons.png*/ scroll no-repeat 0 -550px;
  padding-left: 25px;
}

/* line 180, content/stylesheets/base.scss */
.elc .share {
  background: transparent url("../images/icons.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/icons.png*/ scroll no-repeat 0 -200px;
  color: #f8efca;
  padding-left: 25px;
}
/* line 184, content/stylesheets/base.scss */
*:hover > .elc .share {
  background-position: -700px -200px;
  color: #f8ec92;
}
/* line 188, content/stylesheets/base.scss */
.elc .share + ul {
  width: 200px;
  padding-right: 25px;
}

/* line 193, content/stylesheets/base.scss */
.elc .networking {
  background: transparent url("../images/icons.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/icons.png*/ scroll no-repeat 0 -200px;
  color: #f8efca;
  padding-left: 25px;
}
/* line 197, content/stylesheets/base.scss */
*:hover > .elc .networking {
  background-position: -700px -200px;
  color: #f8ec92;
}

/* line 202, content/stylesheets/base.scss */
.elc .contextual_image {
  border-bottom: 1px dotted #595656;
  float: left;
  margin: 0 18px 0px 0;
}
/* line 206, content/stylesheets/base.scss */
.elc .contextual_image span {
  color: #6A6465;
  display: block;
  font-style: italic;
  line-height: 30px;
}

/* line 213, content/stylesheets/base.scss */
.elc input {
  background: transparent;
}

/*-- BASIC LAYOUT --*/
/* line 218, content/stylesheets/base.scss */
.skip_links {
  display: none;
}

/* line 221, content/stylesheets/base.scss */
.content {
  background: #181515 url("../images/content_background.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/content_background.png*/ no-repeat scroll center top;
  margin: 0 auto 0;
  padding: 30px 20px 40px;
  position: relative;
  width: 960px;
}
/* line 227, content/stylesheets/base.scss */
.content > .nav {
  left: 30px;
  position: absolute;
  top: 30px;
}
/* line 232, content/stylesheets/base.scss */
.content:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 235, content/stylesheets/base.scss */
.template_0 .content {
  background: inherit url("../images/cinematic/drop_shadow.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/cinematic/drop_shadow.png*/ scroll repeat-x left top;
  padding: 0 20px 40px 20px;
}
/* Author: ND*/
/* Description: In Sync with the VD*/
.template_3-5 .content
{
    padding-bottom:46px;
}

/* line 252, content/stylesheets/base.scss */
.template_1-1 .content, .template_2 .content, .template_2-1 .content, .template_3-1 .content, .template_3-2 .content, .template_3-3 .content, .template_3-4 .content, .template_3-5 .content, .template_3-6 .content, .template_4-1 .content, .template_4-2 .content, .template_4-3 .content, .template_4-4 .content {
  background-image: none;
}
/* line 255, content/stylesheets/base.scss */
.content > .aside {
  float: right;
  width: 200px;
}
/* line 261, content/stylesheets/base.scss */
.template_1-1 .content > .aside, .template_3-2 .content > .aside, .template_4-2 .content > .aside, .template_4-4 .content > .aside {
  width: 180px;
}
/* line 264, content/stylesheets/base.scss */
.content > .aside .related_content {
  background: #0f0d0d url("../images/aside_background.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/aside_background.png*/ scroll no-repeat left top;
  padding: 20px;
}
/* line 267, content/stylesheets/base.scss */
.content > .aside .related_content ul li {
  border-top: 1px solid #453d3e;
  list-style: none;
  margin-top: 20px;
  padding-top: 20px;
}
/* line 272, content/stylesheets/base.scss */
.content > .aside .related_content ul li:first-child {
  border-top: 0;
  margin-top: 0;
  padding-top: 0;
}
/* line 278, content/stylesheets/base.scss */
.content > .aside .related_content ul li .article img {
  padding-bottom: 12px;
}
/* line 281, content/stylesheets/base.scss */
.content > .aside .related_content ul li .article h1 {
  background: transparent url("../images/horizontal_header_divide.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/horizontal_header_divide.png*/ scroll no-repeat left bottom;
  font-family: "proxima-nova-n3","proxima-nova-1","proxima-nova-2",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 10px;
  padding-bottom: 20px;
  text-transform: uppercase;
}
/* line 286, content/stylesheets/base.scss */
.content > .aside .related_content ul li .related_links {
  float: none;
  margin: 0px;
  width: 100%;
}
/* line 290, content/stylesheets/base.scss */
.content > .aside .related_content ul li .related_links h3 {
  border-bottom: none;
  color: white;
  background: transparent url("../images/horizontal_header_divide.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/horizontal_header_divide.png*/ scroll no-repeat left bottom;
  font-family: "proxima-nova-n3","proxima-nova-1","proxima-nova-2",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 10px;
  padding-bottom: 20px;
  text-transform: uppercase;
}
/* line 296, content/stylesheets/base.scss */
.content > .aside .related_content ul li .related_links li {
  border: none;
  margin: 15px 0 0;
  padding: 0;
  width: 175px;
}
/* line 301, content/stylesheets/base.scss */
.content > .aside .related_content ul li .related_links li:first-child {
  margin-top: 0px;
}
/* line 309, content/stylesheets/base.scss */
.content > .aside div h3 {
  border-bottom: 1px dotted #595656;
  color: white;
  font-family: "ltc-bodoni-175-i4","ltc-bodoni-175-1","ltc-bodoni-175-2",serif;
  font-style: italic;
  font-weight: 400;
  font-size: 19px;
  line-height: 26px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  text-transform: uppercase;
}
/* line 314, content/stylesheets/base.scss */
.content > .aside .press_contacts,
.content > .aside .recent_searches {
  margin-bottom: 30px;
}
/* line 316, content/stylesheets/base.scss */
.content > .aside .press_contacts h3,
.content > .aside .recent_searches h3 {
  border-bottom: 1px solid #453d3e;
}
/* line 319, content/stylesheets/base.scss */
.content > .aside .press_contacts ul,
.content > .aside .recent_searches ul {
  list-style-type: none;
}
/* line 321, content/stylesheets/base.scss */
.content > .aside .press_contacts ul li,
.content > .aside .recent_searches ul li {
  padding-bottom: 10px;
}
/* line 326, content/stylesheets/base.scss */
.content > .aside .sign_up {
  margin-left: 20px;
  margin-bottom: 30px;
  width: 180px;
}
/* line 330, content/stylesheets/base.scss */
.template_1-1 .content > .aside .sign_up {
  margin-left: 0;
}
/* line 333, content/stylesheets/base.scss */
.content > .aside .sign_up h3 {
  border-bottom: 1px solid #453d3e;
}
/* line 336, content/stylesheets/base.scss */
.content > .aside .sign_up .sign_up_form {
  display: block;
  position: relative;
}
/* line 340, content/stylesheets/base.scss */
.content > .aside .sign_up .sign_up_address {
  background-color: #231f1f;
  border: 1px solid #4d483d;
  color: #999480;
  font-size: 11px;
  height: 27px;
  line-height: 27px;
  margin: 0px;
  padding: 0;
  width: 142px;
}
/* line 350, content/stylesheets/base.scss */
.content > .aside .sign_up .sign_up_address:focus {
  color: #999480;
  outline: none;
}
/* line 355, content/stylesheets/base.scss */
.content > .aside .sign_up .sign_up_submit {
  background: transparent url("../images/search_submit_background.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/search_submit_background.png*/ scroll repeat-x 0 0;
  border: none;
  color: #eae1bc;
  font-family: "proxima-nova-n3","proxima-nova-1","proxima-nova-2",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  height: 27px;
  line-height: 27px;
  margin: 0px;
  padding: 0;
  position: absolute;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  width: 34px;
}
/* line 370, content/stylesheets/base.scss */
.content > .aside .sign_up .sign_up_submit:hover {
  cursor: pointer;
}

/* line 377, content/stylesheets/base.scss */
.main_content {
  float: left;
  margin-left: 180px;
  min-height: 300px;
}
/* line 384, content/stylesheets/base.scss */
.template_1-0 .main_content, .template_1-2 .main_content, .template_2 .main_content, .template_2-1 .main_content {
  width: 520px;
}
/* line 389, content/stylesheets/base.scss */
.template_2-1 .main_content .header h1, .template_4-3 .main_content .header h1 {
  border-bottom: 1px solid #453d3e;
  clear: both;
  color: #c1d1db;
  font-family: "proxima-nova-n3","proxima-nova-1","proxima-nova-2",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  text-transform: uppercase;
}
/* line 392, content/stylesheets/base.scss */
.template_2-1 .main_content p, .template_4-3 .main_content p {
  margin-bottom: 20px;
}
/* line 397, content/stylesheets/base.scss */
.template_1-1 .main_content, .template_4-3 .main_content {
  width: 540px;
}
/* line 400, content/stylesheets/base.scss */
.template_3-6 .main_content {
  width: 520px;
}
/* line 403, content/stylesheets/base.scss */
.template_1-3 .main_content {
  width: 760px;
}
/* line 407, content/stylesheets/base.scss */
.template_4-0 .main_content, .template_4-1 .main_content {
  margin-left: 0px;
  width: 960px;
}
/* line 411, content/stylesheets/base.scss */
.template_4-2 .main_content {
  margin-left: 0px;
  width: 720px;
}
/* line 414, content/stylesheets/base.scss */
.template_4-2 .main_content .pagination {
  border-top: 0px;
}
/* line 419, content/stylesheets/base.scss */
.template_4-3 .main_content .section {
  margin-bottom: 40px;
}
/* line 421, content/stylesheets/base.scss */
.template_4-3 .main_content .section li {
  border-bottom: 1px dotted #595656;
  list-style: none;
 /* margin-top: 10px;*/
  padding:10px 0px 10px 0px;
  
}
/* line 425, content/stylesheets/base.scss */
.template_4-3 .main_content .section li p {
  /*margin-bottom: 10px;*/
}
/* line 427, content/stylesheets/base.scss */
* + html .template_4-3 .main_content .section li p {
  margin-bottom: 0px;
}
/* line 432, content/stylesheets/base.scss */
.template_4-3 .main_content .section ul {
  margin-bottom: 0px;
}
/* line 435, content/stylesheets/base.scss */
/* Changed width to increase space between label and detail */
.template_4-3 .main_content .section .label {
  float: left;
  width: 120px;
  display:block;
}
/* line 439, content/stylesheets/base.scss */
.template_4-3 .main_content .section .detail {
  margin-left: 135px;
  position: relative;
  width: 405px;
  display: block;
  
}
/* line 443, content/stylesheets/base.scss */
/** + html .template_4-3 .main_content .section .detail {
  top: -16px;
}*/
/* line 446, content/stylesheets/base.scss */
/*.template_4-3 .main_content .section .detail:after {
  clear: both;
}*/
/* line 453, content/stylesheets/base.scss */
.template_4-4 .main_content {
  width: 783px;
}
/* line 457, content/stylesheets/base.scss */
.template_3-1 .main_content .pagination:first-child {
  margin-top: -55px;
}
/* line 460, content/stylesheets/base.scss */
.template_3-1 .main_content .pagination {
  font-family: "ltc-bodoni-175-n4","ltc-bodoni-175-1","ltc-bodoni-175-2",serif;
  font-style: normal;
  font-weight: 400;
  background: #181515;
  border: 0px;
  font-size: 15px;
  float: right;
  margin-top: -20px;
  width: 130px;
  padding:20px 20px 18px 20px;
}
/* line 469, content/stylesheets/base.scss */
.template_3-1 .main_content .pagination .nav {
  text-align: center;
}
/* line 472, content/stylesheets/base.scss */
/* DB : modified for the allignment 4px->1px */
.template_3-1 .main_content .pagination .previous, .template_3-1 .main_content .pagination .next {
  margin-top: 1px;
}
/* line 478, content/stylesheets/base.scss */
.template_3-3 .main_content, .template_3-5 .main_content {
  width: 760px;
}
/* line 481, content/stylesheets/base.scss */
.template_3-3 .main_content .tab_carousel{
  background: #0d0b0b;
  height: 588px;
  margin-bottom: 34px;
  position: relative;
}
/* Author : ND */
/* Description : In Sync with VD */
.template_3-5 .main_content .tab_carousel 
{
 background: #0d0b0b;
 height: 588px;
 position: relative;
 margin-bottom:38px;
}
/* line 487, content/stylesheets/base.scss */
.template_3-3 .main_content .tab_carousel ul, .template_3-5 .main_content .tab_carousel ul {
  list-style: none;
}
/* line 491, content/stylesheets/base.scss */
.template_3-3 .main_content .tab_carousel ul.tabs, .template_3-5 .main_content .tab_carousel ul.tabs {
  width: 720px;
  height: 405px;
  position: relative;
  left: 20px;
  top: 20px;
  background: black;
}
/* line 499, content/stylesheets/base.scss */
.template_3-3 .main_content .tab_carousel ul.tabs > li.tab, .template_3-5 .main_content .tab_carousel ul.tabs > li.tab {
  display: block;
}
/* line 503, content/stylesheets/base.scss */
.template_3-3 .main_content .tab_carousel ul.tabs li, .template_3-5 .main_content .tab_carousel ul.tabs li {
  position: absolute;
}
/* line 507, content/stylesheets/base.scss */
.template_3-3 .main_content .tab_carousel ul.tabs li > div.slide_container, .template_3-3 .main_content .tab_carousel ul.tabs li > div.info_container > div, .template_3-3 .main_content .tab_carousel ul.tabs li > div.info_container > p, .template_3-5 .main_content .tab_carousel ul.tabs li > div.slide_container, .template_3-5 .main_content .tab_carousel ul.tabs li > div.info_container > div, .template_3-5 .main_content .tab_carousel ul.tabs li > div.info_container > p {
  display: none;
}
/* line 510, content/stylesheets/base.scss */
.template_3-3 .main_content .tab_carousel ul.tabs li p.info, .template_3-5 .main_content .tab_carousel ul.tabs li p.info {
  position: absolute;
  width: 425px;/*old 425px*/
  left: 202px;
  font-size: 12px;
  color: #EDECED;
}
/* line 517, content/stylesheets/base.scss */
.template_3-3 .main_content .tab_carousel ul.tabs li p.info span.subtitle, .template_3-5 .main_content .tab_carousel ul.tabs li p.info span.subtitle {
  color: white;
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
}
/* line 527, content/stylesheets/base.scss */
.template_3-3 .main_content .tab_carousel div.arrow, .template_3-5 .main_content .tab_carousel div.arrow {
  position: absolute;
  top: 88px;
  width: 310px;
  height: 310px;
  background: transparent url("../images/force_ie_alpha.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/force_ie_alpha.png*/ no-repeat;
}

/* line 534, content/stylesheets/base.scss */
.template_3-3 .main_content .tab_carousel div.arrow > div.image, .template_3-5 .main_content .tab_carousel div.arrow > div.image {
  display: none;
  position: absolute;
  top: 106px;
  cursor: pointer;
  width: 35px;
  height: 135px;
}
/* line 543, content/stylesheets/base.scss */
.template_3-3 .main_content .tab_carousel div.arrow.left, .template_3-5 .main_content .tab_carousel div.arrow.left {
  left: 20px;
}
/* line 546, content/stylesheets/base.scss */
.template_3-3 .main_content .tab_carousel div.arrow.left > div.image, .template_3-5 .main_content .tab_carousel div.arrow.left > div.image {
  left: 0px;
  background: transparent url("../images/nav_arrow_left.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/nav_arrow_left.png*/ no-repeat;
}
/* line 552, content/stylesheets/base.scss */
.template_3-3 .main_content .tab_carousel div.arrow.right, .template_3-5 .main_content .tab_carousel div.arrow.right {
  right: 20px;
}
/* line 555, content/stylesheets/base.scss */
.template_3-3 .main_content .tab_carousel div.arrow.right > div.image, .template_3-5 .main_content .tab_carousel div.arrow.right > div.image {
  right: 0px;
  background: transparent url("../images/nav_arrow_right.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/nav_arrow_right.png*/ no-repeat;
}
/* line 562, content/stylesheets/base.scss */
.template_3-3 .main_content .tab_carousel img.divider, .template_3-5 .main_content .tab_carousel img.divider {
  position: absolute;
  left: 202px;
  top: 450px;/*old 445px*/
}
/* line 568, content/stylesheets/base.scss */
.template_3-3 .main_content .tab_carousel .tab_nav, .template_3-5 .main_content .tab_carousel .tab_nav {
  width: 720px;
  height: 68px;
  position: absolute;
  left: 20px;
  top: 20px;
  background: transparent url("../images/dropDownBackground.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/dropDownBackground.png*/ repeat;
}
/* line 576, content/stylesheets/base.scss */
.template_3-3 .main_content .tab_carousel .tab_nav li, .template_3-5 .main_content .tab_carousel .tab_nav li {
  float: left;
  background: transparent url("../images/tab_nav_divider.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/tab_nav_divider.png*/ no-repeat 100% 35%;
  font-size: 24px;
}
/* line 581, content/stylesheets/base.scss */
.template_3-3 .main_content .tab_carousel .tab_nav li.last, .template_3-5 .main_content .tab_carousel .tab_nav li.last {
  background: transparent;
}
/* line 585, content/stylesheets/base.scss */
.template_3-3 .main_content .tab_carousel .tab_nav li.pre, .template_3-5 .main_content .tab_carousel .tab_nav li.pre {
  background: transparent;
}
/* line 589, content/stylesheets/base.scss */
.template_3-3 .main_content .tab_carousel .tab_nav li a, .template_3-5 .main_content .tab_carousel .tab_nav li a {
  font-family: "ltc-bodoni-175-n4","ltc-bodoni-175-1","ltc-bodoni-175-2",serif;
  font-style: normal;
  font-weight: 400;
  color: #aaa6a7;
  font-style: italic;
  height: 68px;
  display: block;
  text-align: center;
  line-height: 68px;
}
/* line 598, content/stylesheets/base.scss */
.template_3-3 .main_content .tab_carousel .tab_nav li a:hover, .template_3-5 .main_content .tab_carousel .tab_nav li a:hover {
  color: #f8efca;
}
/* line 603, content/stylesheets/base.scss */
.template_3-3 .main_content .tab_carousel .tab_nav li.selected a, .template_3-5 .main_content .tab_carousel .tab_nav li.selected a {
  color: #f8efca;
  font-size: 28px;
}
/* line 610, content/stylesheets/base.scss */
.template_3-3 .main_content .tab_carousel .pagers, .template_3-5 .main_content .tab_carousel .pagers {
  position: absolute;
  top: 441px;/*old 436px*/
  left: 218px;
}
/* line 615, content/stylesheets/base.scss */
.template_3-3 .main_content .tab_carousel .pagers li, .template_3-5 .main_content .tab_carousel .pagers li {
  float: left;
}
/* line 618, content/stylesheets/base.scss */
.template_3-3 .main_content .tab_carousel .pagers li.selected a, .template_3-5 .main_content .tab_carousel .pagers li.selected a {
  background-position: -3px 0;
}
/* line 622, content/stylesheets/base.scss */
.template_3-3 .main_content .tab_carousel .pagers li a, .template_3-5 .main_content .tab_carousel .pagers li a {
  width: 15px;
  height: 24px;
  display: block;
  background: transparent url("../images/cinematic_control_icon.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/cinematic_control_icon.png*/ scroll no-repeat -28px 0;
  text-indent: -800em;
}
/* line 629, content/stylesheets/base.scss */
.template_3-3 .main_content .tab_carousel .pagers li a:hover, .template_3-5 .main_content .tab_carousel .pagers li a:hover {
  background-position: -3px 0;
}
/* line 643, content/stylesheets/base.scss */
.template_3-3 .main_content ul.tabs p.info {
  top: 447px;/*old 455px*/
}
/* line 647, content/stylesheets/base.scss */
.template_3-3 .main_content ul.tabs .titles {
  position: absolute;
  left: 0px;
  top: 423px;/*old 425px*/
  width: 180px;
  height: 130px;
  color: white;
  font-size: 23px;
  line-height: 26px;
}
/* line 657, content/stylesheets/base.scss */
.template_3-3 .main_content ul.tabs .titles .year {
  display: block;
  font-family: "proxima-nova-n3","proxima-nova-1","proxima-nova-2",sans-serif;
  font-style: normal;
  font-weight: 300;
}
/* line 662, content/stylesheets/base.scss */
.template_3-3 .main_content ul.tabs .titles .subtitle {
  font-family: "proxima-nova-n1","proxima-nova-1","proxima-nova-2",sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 20px;
}
/* line 670, content/stylesheets/base.scss */
.template_3-3 .main_content .tab_nav li {
  width: 80px;
  height: 85px;
}
/* line 674, content/stylesheets/base.scss */
.template_3-3 .main_content .tab_nav li.last {
  width: 160px;
}
/* line 678, content/stylesheets/base.scss */
.template_3-3 .main_content .tab_nav li.selected {
  background: transparent url("../images/template_3-3/purple_tab_1.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/template_3-3/purple_tab_1.png*/;
}
/* line 682, content/stylesheets/base.scss */
.template_3-3 .main_content .tab_nav li.last.selected {
  background: transparent url("../images/template_3-3/today_tab_large.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/template_3-3/today_tab_large.png*/;
}
/* line 686, content/stylesheets/base.scss */
.template_3-3 .main_content .tab_nav li a {
  width: 80px;
}
/* line 690, content/stylesheets/base.scss */
.template_3-3 .main_content .tab_nav li.last a {
  width: 160px;
}
/* line 701, content/stylesheets/base.scss */
.template_3-5 .main_content ul.tabs p.info {
  top: 454px;
}
/* line 705, content/stylesheets/base.scss */
.template_3-5 .main_content ul.tabs .person {
  position: absolute;
  left: 0px;
  top: 423px;/*old 425px*/
  width: 170px;
  height: 145px;
}
/* line 712, content/stylesheets/base.scss */
.template_3-5 .main_content ul.tabs .person .slogan {
  display: block;
  color: #c2e0ff;
  font-family: "proxima-nova-n1","proxima-nova-1","proxima-nova-2",sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 24.5px;
  margin-bottom: 10px;
  line-height: 26px;
}
/* line 721, content/stylesheets/base.scss */
.template_3-5 .main_content ul.tabs .person .name {
  display: block;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 5px;
  color: white;
}
/* line 729, content/stylesheets/base.scss */
.template_3-5 .main_content ul.tabs .person .title {
  font-size: 12px;
  color: #EDECED;
}
/* line 737, content/stylesheets/base.scss */
.template_3-5 .main_content .tab_nav li {
  width: 180px;
  height: 88px;
}
/* line 741, content/stylesheets/base.scss */
.template_3-5 .main_content .tab_nav li.selected {
  background: transparent url("../images/template_3-5/navy_tab.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/template_3-5/navy_tab.png*/;
}
/* line 745, content/stylesheets/base.scss */
.template_3-5 .main_content .tab_nav li.last.selected {
  background: transparent url("../images/template_3-5/navy_tab.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/template_3-5/navy_tab.png*/;
}
/* line 749, content/stylesheets/base.scss */
.template_3-5 .main_content .tab_nav li a {
  width: 180px;
}
/* line 757, content/stylesheets/base.scss */
.template_3-1 .main_content, .template_3-4 .main_content {
  margin-left: 168px;
  width: 792px;
}
/* line 760, content/stylesheets/base.scss */
.template_3-1 .main_content .intro, .template_3-4 .main_content .intro {
  background: transparent url("../images/template_3-4/flag.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/template_3-4/flag.png*/ no-repeat;
  height: 330px;
  position: relative;
  width: 509px;
}
/* line 765, content/stylesheets/base.scss */
.template_3-1 .main_content .intro h1, .template_3-4 .main_content .intro h1 {
  font-family: "proxima-nova-n1","proxima-nova-1","proxima-nova-2",sans-serif;
  font-style: normal;
  font-weight: 100;
  background: transparent url("../images/horizontal_header_divide_8.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/horizontal_header_divide_8.png*/ scroll no-repeat left bottom;
  font-size: 46px;
  line-height: 47px;
  margin: 25px 25px 0px;
  padding-bottom: 35px;
  text-transform: uppercase;
}
/* line 774, content/stylesheets/base.scss */
.template_3-1 .main_content .intro p, .template_3-4 .main_content .intro p {
  font-family: "proxima-nova-n3","proxima-nova-1","proxima-nova-2",sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #EDECED;
  font-size: 20px;
  line-height: 24px;
  margin: 10px 25px;
  width: 410px;
}
/* line 786, content/stylesheets/base.scss */
.template_1-0 .main_content .main_content_footer p, .main_content > .footer p {
  font-family: "proxima-nova-n3","proxima-nova-1","proxima-nova-2",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 20px;
}

/* line 794, content/stylesheets/base.scss */
.boiler_plate {
  border-bottom: 1px solid #453d3e;
  margin: 0 0 30px 180px;
  padding-bottom: 30px;
  position: relative;
  width: 780px;
}
/* line 800, content/stylesheets/base.scss */
.template_0 .boiler_plate {
  border: none;
  margin: 0;
  padding: 30px 0;
  width: 960px;
}
/* line 806, content/stylesheets/base.scss */
.template_4-5 .boiler_plate {
  border: none;
  margin: 0;
  padding: 30px 0;
  width: 820px;
}
/* line 813, content/stylesheets/base.scss */
.template_1-0 .boiler_plate a + p {
  display: block;
  width: 580px;
}
/* line 817, content/stylesheets/base.scss */
/* DB : changed width 170 ->120 */
.template_1-0 .boiler_plate .fact_sheet {
  position: absolute;
  right: 0;
  top: auto;
  width: 120px;
}
/* line 824, content/stylesheets/base.scss */
.template_3-2 .boiler_plate, .template_4-4 .boiler_plate {
  margin-bottom: 20px;
  padding-bottom: 0;
}
/* line 829, content/stylesheets/base.scss */
.template_4-0 .boiler_plate, .template_4-2 .boiler_plate {
  margin-left: 0px;
  padding-bottom: 0px;
  width: 960px;
}
/* line 833, content/stylesheets/base.scss */
.template_4-0 .boiler_plate p, .template_4-2 .boiler_plate p {
  width: 825px;
  padding-bottom: 30px;
}
/* line 838, content/stylesheets/base.scss */
.template_4-1 .boiler_plate {
  border-bottom: none;
  margin-left: 0px;
  width: 725px;
}
/* line 842, content/stylesheets/base.scss */
/*MA : Changed padding bottom to fix Contact Us and Contact link allignment issue*/
.template_4-1 .boiler_plate h1 {
  border-bottom: 1px solid #453d3e;
  padding-bottom: 13px;
}
/* line 846, content/stylesheets/base.scss */
.template_4-1 .boiler_plate p {
  font-size: 13px;
  width: 525px;
}
/* line 852, content/stylesheets/base.scss */
.template_3-3 .boiler_plate, .template_3-5 .boiler_plate {
  margin-bottom: 0px;
  width: 760px;
}
/* Author: ND*/
/* Description: In Sync with VD*/
.template_3-5 .boiler_plate 
{
    padding-bottom:35px;
}

/* line 856, content/stylesheets/base.scss */
.template_4-3 .boiler_plate {
  margin-bottom: 0px;
  padding-bottom: 0px;
  width: 540px;
}
/* line 860, content/stylesheets/base.scss */
.template_4-3 .boiler_plate h1 {
  width: 360px;
}
/* line 863, content/stylesheets/base.scss */
.template_4-3 .boiler_plate .options {
  position: absolute;
  right: 0;
  bottom: 20px;
}
/* line 867, content/stylesheets/base.scss */
.template_4-3 .boiler_plate .options a {
  margin-left: 16px;
}
/* line 872, content/stylesheets/base.scss */
.boiler_plate h1 {
  color: white;
  font-family: "proxima-nova-n1","proxima-nova-1","proxima-nova-2",sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
/* line 880, content/stylesheets/base.scss */
.boiler_plate img {
  margin-bottom: 20px;
}
/* line 883, content/stylesheets/base.scss */
.boiler_plate p {
  font-family: "proxima-nova-n3","proxima-nova-1","proxima-nova-2",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
}
/* line 887, content/stylesheets/base.scss */
.template_0 .boiler_plate p {
  border: 0;
  font-family: "proxima-nova-n1","proxima-nova-1","proxima-nova-2",sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 34px;
  line-height: 34px;
  padding: 0;
  width: 600px;
}
/* line 895, content/stylesheets/base.scss */
.template_1-3 .boiler_plate p {
  width: 580px;
}
/* line 900, content/stylesheets/base.scss */
.template_1-3 .boiler_plate .nav {
  float: right;
  text-align: right;
}
/* line 903, content/stylesheets/base.scss */
.template_1-3 .boiler_plate .nav li {
  display: block;
  padding: 5px 10px;
}

/* line 911, content/stylesheets/base.scss */
.features > .header h1 {
  border-bottom: 1px solid #453d3e;
  clear: both;
  color: #c1d1db;
  font-family: "proxima-nova-n3","proxima-nova-1","proxima-nova-2",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  text-transform: uppercase;
}
/* line 914, content/stylesheets/base.scss */
.template_1-3 .features:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 917, content/stylesheets/base.scss */
.template_3-5 .features {
  float: left;
}
/* line 920, content/stylesheets/base.scss */
.features > ul {
  list-style-type: none;
}
/* line 923, content/stylesheets/base.scss */
.template_1-3 .features > ul > li {
  float: left;
  margin-left: 20px;
}
/* line 926, content/stylesheets/base.scss */
.template_1-3 .features > ul > li:first-child {
  margin-left: 0;
}
/* line 932, content/stylesheets/base.scss */
.features .feature {
  width: 240px;
}
/* line 934, content/stylesheets/base.scss */
.template_1-0 .features .feature {
  margin: 0 0 30px 220px;
}
/* line 937, content/stylesheets/base.scss */
.template_3-5 .features .feature {
  margin-left: 220px;
  width: 320px;
}
/* line 941, content/stylesheets/base.scss */
.features .feature h1 {
  background: transparent url("../images/horizontal_header_divide.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/horizontal_header_divide.png*/ scroll no-repeat left bottom;
  font-family: "proxima-nova-n3","proxima-nova-1","proxima-nova-2",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 19px;
  line-height: 21px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  min-height: 21px;
}
/* line 949, content/stylesheets/base.scss */
.template_1-0 .features .feature h1 {
  text-transform: uppercase;
}
/* line 952, content/stylesheets/base.scss */
/*MA : Removed min-height*/
.template_1-3 .features .feature h1 
{
  min-height: 67px;
  width: 200px;
}
/* line 959, content/stylesheets/base.scss */
.template_1-0 .features .feature img, .template_3-5 .features .feature img {
  float: left;
  margin-left: -220px;
}
/* line 963, content/stylesheets/base.scss */
.template_1-3 .features .feature img {
  padding-bottom: 20px;
}
/* line 967, content/stylesheets/base.scss */
.features .feature p {
  margin-top: 0px;
  padding-bottom: 10px;
}
/* line 971, content/stylesheets/base.scss */
.features .feature:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 976, content/stylesheets/base.scss */
.featured_media {
  border-bottom: 1px solid #453d3e;
  float: left;
  height: 290px;
  margin: 0 0 30px 180px;
  overflow: hidden;
  position: relative;
  width: 780px;
}
/* line 984, content/stylesheets/base.scss */
.featured_media > ul {
  list-style-type: none;
}
/* line 986, content/stylesheets/base.scss */
.featured_media > ul li {
  display: none;
  left: 0;
  position: absolute;
  top: 0;
}
/* line 991, content/stylesheets/base.scss */
.featured_media > ul li.selected {
  display: block;
}
/* line 994, content/stylesheets/base.scss */
.featured_media > ul li .section {
  margin: 0 0 20px 520px;
  width: 240px;
}
/* line 997, content/stylesheets/base.scss */
.featured_media > ul li .section .preview {
  float: left;
  margin-left: -520px;
}
/* line 1002, content/stylesheets/base.scss */
.featured_media > ul li .section .header .entry_meta {
  font-family: "ltc-bodoni-175-n4","ltc-bodoni-175-1","ltc-bodoni-175-2",serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 20px;
}
/* line 1008, content/stylesheets/base.scss */
.featured_media > ul li .section .header h1 {
  font-family: "ltc-bodoni-175-i4","ltc-bodoni-175-1","ltc-bodoni-175-2",serif;
  font-style: italic;
  font-weight: 400;
  font-size: 19px;
  line-height: 26px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
/* line 1016, content/stylesheets/base.scss */
.featured_media > ul li .section p {
  background: transparent url("../images/horizontal_header_divide_8.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/horizontal_header_divide_8.png*/ no-repeat scroll left top;
  font-size: 13px;
  line-height: 17px;
  padding-top: 8px;
}
/* line 1021, content/stylesheets/base.scss */
.featured_media > ul li .section p .date {
  color: #999999;
  font-family: "ltc-bodoni-175-n4","ltc-bodoni-175-1","ltc-bodoni-175-2",serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
/* line 1031, content/stylesheets/base.scss */
.featured_media .nav {
  border-bottom: 1px solid #453d3e;
  bottom: 50px;
  float: right;
  padding-bottom: 10px;
  position: absolute;
  right: 20px;
  width: 240px;
}
/* line 1039, content/stylesheets/base.scss */
.featured_media .nav .previous {
  font-size: 18px;
  left: -20px;
  margin-top: -14px;
  position: absolute;
  top: 50%;
}
/* line 1046, content/stylesheets/base.scss */
.featured_media .nav .next {
  font-size: 18px;
  margin-top: -14px;
  position: absolute;
  right: -20px;
  top: 50%;
}
/* line 1053, content/stylesheets/base.scss */
.featured_media .nav .carousel_clip {
  height: 43px;
  margin: 0;
  overflow: hidden;
  position: relative;
  width: 240px;
}
/* line 1059, content/stylesheets/base.scss */
.featured_media .nav .carousel_clip ul {
  display: block;
  left: 0;
  position: absolute;
  top: 0;
}
/* line 1064, content/stylesheets/base.scss */
.featured_media .nav .carousel_clip ul li {
  display: block;
  float: left;
  margin-left: 5px;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}
/* line 1072, content/stylesheets/base.scss */
.featured_media .nav .carousel_clip ul li:first-child {
  margin-left: 0;
}
/* line 1076, content/stylesheets/base.scss */
.featured_media .nav .carousel_clip ul li:hover, .featured_media .nav .carousel_clip ul li.selected {
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
/* line 1086, content/stylesheets/base.scss */
.featured_media a.slideshow {
  bottom: 20px;
  left: 520px;
  position: absolute;
}
/* line 1091, content/stylesheets/base.scss */
.featured_media:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 1095, content/stylesheets/base.scss */
.media {
  width: 600px;
}
/* line 1097, content/stylesheets/base.scss */
.media .media_list {
  list-style-type: none;
}
/* line 1099, content/stylesheets/base.scss */
.media .media_list li {
  float: left;
  height: 300px;
  margin: 0 20px 20px 0;
  position: relative;
}
/* line 1104, content/stylesheets/base.scss */
.media .media_list li:nth-of-type(3n+3) {
  margin-right: 0;
}
/* line 1107, content/stylesheets/base.scss */
.media .media_list li a.media_item {
  background-color: #252121;
  display: block;
  height: 300px;
  overflow: hidden;
  text-align: center;
  width: 180px;
}
/* line 1114, content/stylesheets/base.scss */
.media .media_list li a.media_item img {
  display: block;
  margin: 0 auto 15px;
}
/* line 1119, content/stylesheets/base.scss */
.media .media_list li a.media_item .entry_meta .date {
  color: #999999;
  font-family: "ltc-bodoni-175-n4","ltc-bodoni-175-1","ltc-bodoni-175-2",serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  padding-top: 5px;
}
/* line 1127, content/stylesheets/base.scss */
.media .media_list li a.media_item h3 {
  min-height: 54px;
  display: table-cell;
  font-family: "proxima-nova-n3","proxima-nova-1","proxima-nova-2",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 19px;
  padding: 15px 10px;
  width: 180px;
  vertical-align: middle;
}
/* line 1137, content/stylesheets/base.scss */
.media .media_list li a.media_item p {
  color: #EDECED;
  padding: 10px 10px 5px 10px;
}
/* line 1141, content/stylesheets/base.scss */
.media .media_list li a.media_item .media_info {
  bottom: 5px;
  position: absolute;
  width: 180px;
}
/* line 1145, content/stylesheets/base.scss */
.media .media_list li a.media_item .media_info img {
  margin: 0 auto;
}
/* line 1148, content/stylesheets/base.scss */
.media .media_list li a.media_item .media_info p {
  font-size: 11px;
}
/* line 1152, content/stylesheets/base.scss */
.media .media_list li a.media_item .alt_content {
  display: none;
  line-height: 16px;
  position: absolute;
  top: 110px;
  width: 180px;
}
/* line 1159, content/stylesheets/base.scss */
.media .media_list li a.media_item:hover {
  background-color: #302e2e;
}
/* line 1161, content/stylesheets/base.scss */
.media .media_list li a.media_item:hover div, .media .media_list li a.media_item:hover h3, .media .media_list li a.media_item:hover .entry_meta {
  display: none;
}
/* line 1165, content/stylesheets/base.scss */
.media .media_list li a.media_item:hover .alt_content {
  display: block;
}

/* line 1173, content/stylesheets/base.scss */
.entries {
  margin-top: 50px;
}
/* line 1175, content/stylesheets/base.scss */
.entries > ul {
  list-style-type: none;
}
/* line 1178, content/stylesheets/base.scss */
.entries > .header h1 {
  border-bottom: 1px solid #453d3e;
  clear: both;
  color: #c1d1db;
  font-family: "proxima-nova-n3","proxima-nova-1","proxima-nova-2",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  text-transform: uppercase;
}
/* line 1181, content/stylesheets/base.scss */
.entries ul li {
  border-bottom: 1px dotted #595656;
  margin-bottom: 15px;
  padding-bottom: 20px;
}
/* line 1186, content/stylesheets/base.scss */
.entries ul li .entry .entry_meta {
  padding-bottom: 0px;
}
/* line 1188, content/stylesheets/base.scss */
.entries ul li .entry .entry_meta .date {
  color: #a6a4a4;
  font-family: "ltc-bodoni-175-n4","ltc-bodoni-175-1","ltc-bodoni-175-2",serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
/* line 1195, content/stylesheets/base.scss */
.entries ul li .entry h1 {
  background: transparent url("../images/horizontal_header_divide.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/horizontal_header_divide.png*/ scroll no-repeat left bottom;
  font-family: "proxima-nova-n3","proxima-nova-1","proxima-nova-2",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 19px;
  line-height: 21px;
  margin-bottom: 10px;
  min-height: 21px;
  padding-bottom: 20px;
}
/* line 1198, content/stylesheets/base.scss */
.entries ul li .entry p {
  color: #EDECED;
}
/* line 1201, content/stylesheets/base.scss */
.entries ul li .entry .brand {
  display: block;
  padding-top: 4px;
  text-transform: uppercase;
}
/* line 1208, content/stylesheets/base.scss */
.template_4-2 .entries {
  margin-top: 0px;
}

/* line 1213, content/stylesheets/base.scss */
.template_0 .stock {
  line-height: 16px;
  position: absolute;
  right: 30px;
  top: 30px;
}
/* line 1219, content/stylesheets/base.scss */
.template_0 .stock .price,
.template_0 .stock .change {
  padding-left: 10px;
}

/* line 1224, content/stylesheets/base.scss */
.news {
  display: block;
  clear: both;
  float: left;
  min-height: 341px;
  position: relative;
  width: 600px;
}
/* line 1231, content/stylesheets/base.scss */
.news > .header h1 {
  border-bottom: 1px solid #453d3e;
  clear: both;
  color: #c1d1db;
  font-family: "proxima-nova-n3","proxima-nova-1","proxima-nova-2",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  text-transform: uppercase;
}
/* line 1234, content/stylesheets/base.scss */
.news .see_all {
  left: 0;
  position: absolute;
  bottom: 0;
}
/* line 1239, content/stylesheets/base.scss */
.news > ul {
  list-style-type: none;
}
/* line 1241, content/stylesheets/base.scss */
.news > ul li {
  border-left: 1px dotted #453d3e;
  float: left;
  margin: 35px 0 50px 20px;
  padding-left: 20px;
  position: relative;
}
/* line 1247, content/stylesheets/base.scss */
.news > ul li:first-child {
  border: none;
  margin-left: 0;
  padding-left: 0;
}
/* line 1252, content/stylesheets/base.scss */
.news > ul li .article {
  width: 160px;
}
/* line 1254, content/stylesheets/base.scss */
.news > ul li .article .header {
  position: relative;
}
/* line 1256, content/stylesheets/base.scss */
.news > ul li .article .header h1 {
  background: transparent url("../images/horizontal_header_divide.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/horizontal_header_divide.png*/ scroll no-repeat left bottom;
  font-family: "proxima-nova-n3","proxima-nova-1","proxima-nova-2",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  min-height: 21px;
  line-height: 20px;
  margin-bottom: 10px;
  padding: 0 0 20px;
}
/* line 1265, content/stylesheets/base.scss */
.news > ul li .article .header .entry_meta {
  left: 0;
  position: absolute;
  top: -25px;
}
/* line 1269, content/stylesheets/base.scss */
.news > ul li .article .header .entry_meta .date {
  color: #B8B6B6;
  font-family: "ltc-bodoni-175-n4","ltc-bodoni-175-1","ltc-bodoni-175-2",serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}
/* line 1276, content/stylesheets/base.scss */
.news > ul li .article p {
  color: #a7a4a4;
  font-size: 13px;
  line-height: 15px;
}
/* line 1282, content/stylesheets/base.scss */
.news > ul li:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 1288, content/stylesheets/base.scss */
.insight {
  float: right;
  min-height: 341px;
  position: relative;
  width: 300px;
}
/* line 1293, content/stylesheets/base.scss */
.insight > .header h1 {
  border-bottom: 1px solid #453d3e;
  clear: both;
  color: #c1d1db;
  font-family: "proxima-nova-n3","proxima-nova-1","proxima-nova-2",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  text-transform: uppercase;
}
/* line 1296, content/stylesheets/base.scss */
.insight .see_all_content {
  bottom: 0;
  left: 0;
  position: absolute;
}
/* line 1301, content/stylesheets/base.scss */
.insight .article {
  margin-top: 30px;
  margin-left: 140px;
  width: 160px;
}
/* line 1305, content/stylesheets/base.scss */
.insight .article img {
  float: left;
  margin-left: -140px;
}
/* line 1309, content/stylesheets/base.scss */
.insight .article h1 {
  background: transparent url("../images/large_quotes.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/large_quotes.png*/ scroll no-repeat right center;
  float: right;
  font-family: "ltc-bodoni-175-i4","ltc-bodoni-175-1","ltc-bodoni-175-2",serif;
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  padding: 0 20px 20px 0;
  text-transform: uppercase;
}
/* line 1318, content/stylesheets/base.scss */
.insight .article p {
  background: transparent url("../images/horizontal_header_divide.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/horizontal_header_divide.png*/ scroll no-repeat left top;
  clear: both;
  font-size: 13px;
  line-height: 15px;
  padding: 8px 0 30px;
}
/* line 1324, content/stylesheets/base.scss */
.insight .article p span {
  display: block;
}
/* line 1326, content/stylesheets/base.scss */
.insight .article p span.author_name {
  color: white;
  font-family: "ltc-bodoni-175-i4","ltc-bodoni-175-1","ltc-bodoni-175-2",serif;
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
/* line 1332, content/stylesheets/base.scss */
.insight .article p span.author_title {
  color: #a6a0a1;
}

/* line 1339, content/stylesheets/base.scss */
.template_4-5 .content .contact {
  float: right;
  min-height: 341px;
  width: 300px;
}
/* line 1343, content/stylesheets/base.scss */
.template_4-5 .content .contact > .header {
  margin-bottom: 50px;
}
/* line 1345, content/stylesheets/base.scss */
.template_4-5 .content .contact > .header h1 {
  border-bottom: 1px solid #453d3e;
  clear: both;
  color: #c1d1db;
  font-family: "proxima-nova-n3","proxima-nova-1","proxima-nova-2",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  text-transform: uppercase;
}
/* line 1350, content/stylesheets/base.scss */
.template_4-5 .content .contact span,
.template_4-5 .content .contact a {
  display: block;
  line-height: 19px;
}

/* line 1357, content/stylesheets/base.scss */
.brands .brand_group {
  padding-top: 20px;
}
/* line 1360, content/stylesheets/base.scss */
.brands .brand_group > .header h1 {
  border-bottom: 1px solid #453d3e;
  clear: both;
  color: #c1d1db;
  font-family: "proxima-nova-n3","proxima-nova-1","proxima-nova-2",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  text-transform: uppercase;
  margin: 30px 0 20px;
}
/* line 1365, content/stylesheets/base.scss */
.brands .brand_group > .header:first-child h1 {
  margin-top: 0;
}
/* line 1370, content/stylesheets/base.scss */
.brands .brand_group ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 1374, content/stylesheets/base.scss */
.brands .brand_group ul li {
  border-top: 1px dotted #595656;
  clear: both;
}
/* line 1377, content/stylesheets/base.scss */
.brands .brand_group ul li:first-child {
  border-top: none;
}
/* line 1379, content/stylesheets/base.scss */
.brands .brand_group ul li:first-child .brand_entry {
  padding-top: 0;
}
/* line 1383, content/stylesheets/base.scss */
.brands .brand_group ul li .brand_entry {
  float: left;
  padding: 20px 0;
  width: 240px;
}
/* line 1387, content/stylesheets/base.scss */
.brands .brand_group ul li .brand_entry:first-child {
  padding-right: 40px;
}
/* line 1390, content/stylesheets/base.scss */
.brands .brand_group ul li .brand_entry h1 {
  font-size: 13px;
  line-height: 16px;
  padding-bottom: 10px;
}
/* line 1397, content/stylesheets/base.scss */
.brands .brand_group ul:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 1403, content/stylesheets/base.scss */
.brand_info {
  background-color: #282323;
  border-top: 1px solid #453d3e;
  clear: both;
  height: 68px;
  margin: 50px 0;
  padding: 24px 0 18px 20px;
  width: 740px;
}
/* line 1412, content/stylesheets/base.scss */
.brand_info .header,
.brand_info ul li {
  float: left;
  text-align: center;
  width: 132px;
}
/* line 1417, content/stylesheets/base.scss */
.brand_info .header h1 {
  font-family: "ltc-bodoni-175-i4","ltc-bodoni-175-1","ltc-bodoni-175-2",serif;
  font-style: italic;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
/* line 1423, content/stylesheets/base.scss */
.brand_info .header {
  padding-right: 16px;
}
/* line 1425, content/stylesheets/base.scss */
.brand_info ul {
  list-style-type: none;
}
/* line 1427, content/stylesheets/base.scss */
.brand_info ul li {
  border-left: 1px solid #453d3e;
  padding: 0 32px;
}
/* line 1430, content/stylesheets/base.scss */
.brand_info ul li:first-child {
  border-left: none;
}
/* line 1433, content/stylesheets/base.scss */
.brand_info ul li span {
  display: block;
}
/* line 1435, content/stylesheets/base.scss */
.brand_info ul li span.category {
  color: #7d7778;
  font-family: "proxima-nova-extra-condensed-1","proxima-nova-extra-condensed-2", "Helvetica Condensed", "Arial Narrow", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
}
/* line 1442, content/stylesheets/base.scss */
.brand_info ul li span.fact {
  color: white;
  font-family: "ltc-bodoni-175-i4","ltc-bodoni-175-1","ltc-bodoni-175-2",serif;
  font-style: italic;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
}

/* line 1452, content/stylesheets/base.scss */
.buzz {
  float: left;
  width: 500px;
}
/* line 1455, content/stylesheets/base.scss */
.buzz > .header h1 {
  border-bottom: 1px solid #453d3e;
  clear: both;
  color: #c1d1db;
  font-family: "proxima-nova-n3","proxima-nova-1","proxima-nova-2",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  text-transform: uppercase;
}
/* line 1458, content/stylesheets/base.scss */
.buzz dl {
  margin-left: 100px;
  width: 400px;
}
/* line 1461, content/stylesheets/base.scss */
.buzz dl dt {
  color: #999999;
  float: left;
  font-family: "ltc-bodoni-175-n4","ltc-bodoni-175-1","ltc-bodoni-175-2",serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-left: -100px;
  width: 100px;
}
/* line 1471, content/stylesheets/base.scss */
.buzz .tweet {
  color: #EDECED;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}
/* line 1476, content/stylesheets/base.scss */
.buzz .tweet .entry_meta {
  bottom: 0;
  color: #6A6465;
  left: 0;
  position: absolute;
}
/* line 1481, content/stylesheets/base.scss */
.buzz .tweet .entry_meta .date {
  display: none;
}

/* line 1487, content/stylesheets/base.scss */
.related_links {
  margin-left: 60px;
  width: 200px;
  float: left;
}
/* line 1491, content/stylesheets/base.scss */
.related_links > h3 {
  border-bottom: 1px solid #453d3e;
  clear: both;
  color: #c1d1db;
  font-family: "proxima-nova-n3","proxima-nova-1","proxima-nova-2",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  text-transform: uppercase;
}
/* line 1494, content/stylesheets/base.scss */
.related_links ul {
  list-style-type: none;
}
/* line 1496, content/stylesheets/base.scss */
.related_links ul li {
  margin-bottom: 15px;
}
/* line 1500, content/stylesheets/base.scss */
.template_3-5 .related_links {
  margin-left: 20px;
}

/* line 1506, content/stylesheets/base.scss */
.press_releases > .header h1 {
  border-bottom: 1px solid #453d3e;
  color: white;
  font-family: "proxima-nova-n1","proxima-nova-1","proxima-nova-2",sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

/* line 1518, content/stylesheets/base.scss */
.press_releases_list {
  list-style-type: none;
}
/* line 1520, content/stylesheets/base.scss */
.press_releases_list li {
  border-top: 1px solid #595656;
  padding: 20px 0;
}
/* line 1523, content/stylesheets/base.scss */
.press_releases_list li:first-child {
  border-top: none;
  padding-top: 0;
}
/* line 1527, content/stylesheets/base.scss */
.press_releases_list li .press_release {
  padding-left: 100px;
  width: 440px;
}
/* line 1531, content/stylesheets/base.scss */
.press_releases_list li .press_release .header .entry_meta {
  color: #999999;
  float: left;
  font-family: "ltc-bodoni-175-n4","ltc-bodoni-175-1","ltc-bodoni-175-2",serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-left: -100px;
  width: 100px;
}
/* line 1540, content/stylesheets/base.scss */
.press_releases_list li .press_release .header h1 {
  background: transparent url("../images/horizontal_header_divide.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/horizontal_header_divide.png*/ scroll no-repeat left bottom;
  font-family: "proxima-nova-n3","proxima-nova-1","proxima-nova-2",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 19px;
  line-height: 21px;
  margin-bottom: 10px;
  min-height: 21px;
  padding-bottom: 20px;
}
/* line 1550, content/stylesheets/base.scss */
.press_releases_list li .press_release p {
  margin-top: 0px;
  clear: both;
}

/* line 1558, content/stylesheets/base.scss */
.story .header {
  border-bottom: 1px solid #453d3e;
  margin-bottom: 50px;
  position: relative;
}
/* line 1562, content/stylesheets/base.scss */
.story .header h1 {
  color: white;
  font-family: "proxima-nova-n1","proxima-nova-1","proxima-nova-2",sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 36px;
  line-height: 36px;
  padding-bottom: 20px;
  width: 440px;
}
/* line 1570, content/stylesheets/base.scss */
.story .header .entry_meta {
  bottom: -35px;
  left: 0;
  position: absolute;
}
/* line 1574, content/stylesheets/base.scss */
.story .header .entry_meta .date {
  background: transparent url("../images/story_meta_divider.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/story_meta_divider.png*/ scroll no-repeat 100% center;
  display: block;
  float: left;
  font-family: "ltc-bodoni-175-n4","ltc-bodoni-175-1","ltc-bodoni-175-2",serif;
  font-style: normal;
  font-weight: 400;
  margin-right: 5px;
  padding-right: 10px;
}
/* line 1582, content/stylesheets/base.scss */
.story .header .entry_meta .author {
  color: #888081;
  display: block;
  float: left;
  text-transform: uppercase;
}
/* line 1589, content/stylesheets/base.scss */
.story .header .nav {
  bottom: 15px;
  position: absolute;
  right: 3px;
}
/* line 1595, content/stylesheets/base.scss */
.story .story_highlights {
  float: left;
  margin: 0 20px 0px 0;
  padding-right: 20px;
  width: 160px;
}
/* line 1600, content/stylesheets/base.scss */
.story .story_highlights h3 {
  color: white;
  font-family: "ltc-bodoni-175-i4","ltc-bodoni-175-1","ltc-bodoni-175-2",serif;
  font-style: italic;
  font-weight: 400;
  font-size: 23px;
  line-height: 26px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
/* line 1608, content/stylesheets/base.scss */
.story .story_highlights .text {
  border-right: 1px solid #453d3e;
  margin-bottom: 40px;
  width: 180px;
}
/* line 1613, content/stylesheets/base.scss */
.story .story_highlights ul {
  position: relative;
  left: -20px;
  list-style-position: outside;
  list-style-image: url("../images/list_chevron.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/list_chevron.png*/;
  margin-left: 20px;
}
/* line 1619, content/stylesheets/base.scss */
.story .story_highlights ul li {
  font-family: "proxima-nova-n3","proxima-nova-1","proxima-nova-2",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 18px;
  margin-top: 20px;
}
/* line 1624, content/stylesheets/base.scss */
.story .story_highlights ul li:first-child {
  margin-top: 0;
}
/* line 1630, content/stylesheets/base.scss */
.story p {
  margin-bottom: 20px;
}
/* line 1633, content/stylesheets/base.scss */
.story > .footer {
  border-top: 1px solid #453d3e;
  padding-top: 20px;
}
/* line 1636, content/stylesheets/base.scss */
.story > .footer .nav {
  width: 140px;
}

/* line 1641, content/stylesheets/base.scss */
.stock_info {
  margin-bottom: 30px;
}
/* line 1643, content/stylesheets/base.scss */
.stock_info :after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 1646, content/stylesheets/base.scss */
.stock_info > .header {
  border-bottom: 1px solid #453d3e;
  display: block;
  position: relative;
}
/* line 1650, content/stylesheets/base.scss */
.stock_info > .header h1 {
  border-bottom: 1px solid #453d3e;
  clear: both;
  color: #c1d1db;
  font-family: "proxima-nova-n3","proxima-nova-1","proxima-nova-2",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  text-transform: uppercase;
  border-bottom: none;
  margin-bottom: 0;
  text-transform: none;
  width: 380px;
}
/* line 1657, content/stylesheets/base.scss */
.stock_info > .header .entry_meta {
  bottom: 10px;
  position: absolute;
  right: 0;
}
/* line 1663, content/stylesheets/base.scss */
.stock_info .header + ul li {
  border-top: none;
}
/* line 1667, content/stylesheets/base.scss */
.stock_info ul li {
  border-top: 1px dotted #595656;
  display: block;
  float: left;
  height: 40px;
  padding: 20px 0;
  margin-right: 1px;
  width: 103px;
}
/* line 1675, content/stylesheets/base.scss */
.stock_info ul li .category {
  display: block;
  font-size: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
/* line 1681, content/stylesheets/base.scss */
.stock_info ul li .fact {
  display: block;
  color: white;
  font-family: "proxima-nova-n3","proxima-nova-1","proxima-nova-2",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 19px;
}

/* line 1690, content/stylesheets/base.scss */
.stock_chart {
  margin-bottom: 50px;
}
/* line 1692, content/stylesheets/base.scss */
.stock_chart :after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 1695, content/stylesheets/base.scss */
.stock_chart > .header h1 {
  border-bottom: 1px solid #453d3e;
  clear: both;
  color: #c1d1db;
  font-family: "proxima-nova-n3","proxima-nova-1","proxima-nova-2",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  text-transform: uppercase;
}

/* line 1699, content/stylesheets/base.scss */
.stock_history {
  margin-bottom: 50px;
}
/* line 1701, content/stylesheets/base.scss */
.stock_history :after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 1704, content/stylesheets/base.scss */
.stock_history > .header h1 {
  border-bottom: 1px solid #453d3e;
  clear: both;
  color: #c1d1db;
  font-family: "proxima-nova-n3","proxima-nova-1","proxima-nova-2",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  text-transform: uppercase;
  margin-bottom: 0;
}
/* line 1708, content/stylesheets/base.scss */
.stock_history img {
  margin-bottom: 10px;
}
/* line 1711, content/stylesheets/base.scss */
.stock_history .date {
  display: block;
  padding: 10px 0;
}
/* line 1716, content/stylesheets/base.scss */
.stock_history ul li {
  border-top: 1px dotted #595656;
  display: block;
  float: left;
  height: 40px;
  padding: 20px 0;
  margin-right: 1px;
  width: 103px;
}
/* line 1724, content/stylesheets/base.scss */
.stock_history ul li .category {
  display: block;
  font-size: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
/* line 1730, content/stylesheets/base.scss */
.stock_history ul li .fact {
  display: block;
  color: white;
  font-family: "proxima-nova-n3","proxima-nova-1","proxima-nova-2",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 19px;
}

/* line 1739, content/stylesheets/base.scss */
.keyInitiativesList {
  list-style: none;
}

/* line 1742, content/stylesheets/base.scss */
.keyInitiative {
  border-top: 1px dotted #595656;
  padding: 20px 0 0px 50px;
  width: 440px;
}
/* line 1746, content/stylesheets/base.scss */
.keyInitiative:first-child {
  border-top: none;
  padding-top: 0;
}
/* line 1751, content/stylesheets/base.scss */
.keyInitiative .header .entry_meta {
  font-family: "ltc-bodoni-175-n4","ltc-bodoni-175-1","ltc-bodoni-175-2",serif;
  font-style: normal;
  font-weight: 400;
  float: left;
  font-size: 24px;
  line-height: 24px;
  margin-left: -50px;
  width: 50px;
}
/* line 1759, content/stylesheets/base.scss */
.keyInitiative .header h2 {
  font-family: "proxima-nova-n3","proxima-nova-1","proxima-nova-2",sans-serif;
  font-style: normal;
  font-weight: 300;
  color: white;
  font-size: 19px;
  line-height: 21px;
  margin-bottom: -10px;
  padding-bottom: 20px;
}

/* line 1770, content/stylesheets/base.scss */
.section .header .nav .print {
  margin-top: -50px;
  float: right;
  font-size: 12px;
  text-transform: capitalize;
}
/* line 1775, content/stylesheets/base.scss */
.section .header .nav .print:after {
  clear: both;
}

/* line 1780, content/stylesheets/base.scss */
blockquote {
  font-family: "proxima-nova-n3","proxima-nova-1","proxima-nova-2",sans-serif;
  font-style: normal;
  font-weight: 300;
  background: transparent url("../images/template_2-1/quote.gif")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/template_2-1/quote.gif*/ no-repeat;
  font-size: 20px;
  line-height: 24px;
  margin: 1em 20px 1em 0px;
  padding-left: 50px;
}

/* line 1788, content/stylesheets/base.scss */
p.quote_source {
  background: transparent url("../images/template_2-1/dash.gif")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/template_2-1/dash.gif*/ no-repeat;
  font-size: 20px;
  line-height: 24px;
  margin: 1em 20px 1px 0px;
  padding-left: 50px;
}
/* line 1794, content/stylesheets/base.scss */
p.quote_source .author_name {
  font-family: "ltc-bodoni-175-n4","ltc-bodoni-175-1","ltc-bodoni-175-2",serif;
  font-style: normal;
  font-weight: 400;
  color: white;
  font-style: italic;
}
/* line 1799, content/stylesheets/base.scss */
p.quote_source .author_title {
  font-size: 12px;
}

/* BEGIN jQuery overlay component styles */
/* line 1805, content/stylesheets/base.scss */
.overlay-fade-component {
  list-style: none;
  text-align: left;
}
/* line 1808, content/stylesheets/base.scss */
.overlay-fade-component li {
  float: left;
  margin: 0px 0px 18px 18px;
}
/* line 1812, content/stylesheets/base.scss */
.overlay-fade-component a.fade {
  float: left;
  overflow: hidden;
  position: relative;
}
/* line 1816, content/stylesheets/base.scss */
.overlay-fade-component a.fade:link, .overlay-fade-component a.fade:visited, .overlay-fade-component a.fade:hover, .overlay-fade-component a.fade:active {
  text-decoration: none;
}
/* line 1819, content/stylesheets/base.scss */
.overlay-fade-component a.fade img:first-child {
  border: 0;
  left: 0;
  position: absolute;
  top: 0;
}
/* line 1826, content/stylesheets/base.scss */
.overlay-fade-component::after {
  clear: both;
}
/* line 1829, content/stylesheets/base.scss */
.overlay-fade-component .panel {
  background-color: #000;
  border-top: 1px solid #f8efca;
  cursor: pointer;
  display: none;
  position: absolute;
  text-align: center;
  width: 100%;
  /* For Firefox/Opera/Safari/Chrome */
  opacity: .8;
  /* For IE 5-7 */
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  /* For IE 8 */
  -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}
/* line 1843, content/stylesheets/base.scss */
.overlay-fade-component .panel h2 {
  font-family: "proxima-nova-n3","proxima-nova-1","proxima-nova-2",sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #f8efca;
  font-size: 20px;
  line-height: 24px;
  padding: 20px 20px 0px;
  text-indent: 0;
  text-align: left;
}
/* line 1852, content/stylesheets/base.scss */
.overlay-fade-component .panel p {
  color: #EDECED;
  margin: 0px;
  padding: 19px;
  text-indent: 0;
  text-align: left;
}
/* line 1859, content/stylesheets/base.scss */
.overlay-fade-component .panel p.read_more {
  background-position: -700px -450px;
  color: #f8efca;
  font-size: 13px;
  margin: 0px 20px;
  padding: 0px;
  text-indent: 20px;
}

/* line 1871, content/stylesheets/base.scss */
.overlay-slide-component {
  list-style: none;
  text-align: left;
}
/* line 1874, content/stylesheets/base.scss */
.overlay-slide-component li {
  float: left;
  margin: 0px 0px 18px 18px;
}
/* line 1879, content/stylesheets/base.scss */
.overlay-slide-component a {
  float: left;
  overflow: hidden;
  position: relative;
}
/* line 1883, content/stylesheets/base.scss */
.overlay-slide-component a:link, .overlay-slide-component a:visited, .overlay-slide-component a:hover, .overlay-slide-component a:active {
  text-decoration: none;
}
/* line 1885, content/stylesheets/base.scss */
.overlay-slide-component a:link img, .overlay-slide-component a:visited img, .overlay-slide-component a:hover img, .overlay-slide-component a:active img {
  border: none;
}
/* line 1887, content/stylesheets/base.scss */
.overlay-slide-component a > img:first-child {
  border: 0;
  left: 0;
  position: absolute;
  top: 0;
}
/* line 1895, content/stylesheets/base.scss */
.overlay-slide-component::after {
  clear: both;
}
/* line 1898, content/stylesheets/base.scss */
.overlay-slide-component .panel {
  background-color: #000;
  border-top: 1px solid white;
  cursor: pointer;
  position: absolute;
  text-align: center;
  width: 100%;
  /* For Firefox/Opera/Safari/Chrome */
  opacity: .8;
  /* For IE 5-7 */
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  /* For IE 8 */
  -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}
/* line 1911, content/stylesheets/base.scss */
.overlay-slide-component .panel img {
  margin: 0px;
  text-align: center;
}
/* line 1915, content/stylesheets/base.scss */
.overlay-slide-component .panel p {
  font-family: "ltc-bodoni-175-i4","ltc-bodoni-175-1","ltc-bodoni-175-2",serif;
  font-style: normal;
  font-weight: 400;
  color: white;
  display: none;
  font-size: 20px;
  font-style: italic;
  line-height: 24px;
  margin: 0px;
  padding: 30px;
  text-indent: 0;
  text-align: center;
}
/* line 1928, content/stylesheets/base.scss */
.overlay-slide-component .source {
  position: absolute;
  text-align: center;
  width: 100%;
}
/* line 1932, content/stylesheets/base.scss */
.overlay-slide-component .source .name {
  font-family: "ltc-bodoni-175-i4","ltc-bodoni-175-1","ltc-bodoni-175-2",serif;
  font-style: normal;
  font-weight: 400;
  color: white;
  font-size: 18px;
  font-style: italic;
  margin: 0px;
  margin-top: 30px;
  padding: 0px 20px;
  text-align: center;
  text-indent: 0;
}
/* line 1943, content/stylesheets/base.scss */
.overlay-slide-component .source .title {
  color: #666;
  display: none;
  font-size: 12px;
  margin: 0px;
  padding-top: 3px;
}

/* END jQuery overlay component styles */
/* line 1958, content/stylesheets/base.scss */
.global_directory > .header h1,
.brand_contacts > .header h1,
.corporate_contacts > .header h1 {
  border-bottom: 1px solid #453d3e;
  clear: both;
  color: #c1d1db;
  font-family: "proxima-nova-n3","proxima-nova-1","proxima-nova-2",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  text-transform: uppercase;
  margin: 30px 0px 0px 0px;
}
/* line 1963, content/stylesheets/base.scss */
.global_directory > .header:first-child h1,
.brand_contacts > .header:first-child h1,
.corporate_contacts > .header:first-child h1 {
  margin-top: 0;
}
/* line 1968, content/stylesheets/base.scss */
.global_directory .col1,
.brand_contacts .col1,
.corporate_contacts .col1 {
  float: left;
  padding-bottom: 40px;
}
/* line 1972, content/stylesheets/base.scss */
.global_directory .col2,
.brand_contacts .col2,
.corporate_contacts .col2 {
  float: right;
  padding-bottom: 40px;
}
/* line 1975, content/stylesheets/base.scss */
.global_directory .col2:after,
.brand_contacts .col2:after,
.corporate_contacts .col2:after {
  clear: both;
}
/* line 1979, content/stylesheets/base.scss */
.global_directory ul,
.brand_contacts ul,
.corporate_contacts ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 1984, content/stylesheets/base.scss */
.global_directory .directory_entry,
.brand_contacts .directory_entry,
.corporate_contacts .directory_entry {
  border-bottom: 1px dotted #595656;
  padding: 10px 0px 10px 0px;
  width: 460px;
}
/* line 1988, content/stylesheets/base.scss */
.col1 .global_directory .directory_entry, .col1
.brand_contacts .directory_entry, .col1
.corporate_contacts .directory_entry {
  margin-right: 40px;
}
/* line 1991, content/stylesheets/base.scss */
.global_directory .directory_entry div,
.brand_contacts .directory_entry div,
.corporate_contacts .directory_entry div {
  display: none;
}
/* line 1993, content/stylesheets/base.scss */
.global_directory .directory_entry div li,
.brand_contacts .directory_entry div li,
.corporate_contacts .directory_entry div li {
  margin: 15px 0px 10px;
}
/* line 1996, content/stylesheets/base.scss */
.global_directory .directory_entry div p,
.brand_contacts .directory_entry div p,
.corporate_contacts .directory_entry div p {
  margin: 0px;
  margin-left: 25px;
}
/* line 2001, content/stylesheets/base.scss */
.global_directory .directory_entry h1,
.brand_contacts .directory_entry h1,
.corporate_contacts .directory_entry h1 {
  background: transparent url("../images/icons.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/icons.png*/ scroll no-repeat -700px -796px;
  color: #f8efca;
  font-size: 13px;
  line-height: 16px;
  padding-left: 25px;
}
/* line 2007, content/stylesheets/base.scss */
.global_directory .directory_entry h1:hover,
.brand_contacts .directory_entry h1:hover,
.corporate_contacts .directory_entry h1:hover {
  color: #f8ec92;
  cursor: pointer;
}
/* line 2012, content/stylesheets/base.scss */
.global_directory .directory_entry .lang,
.brand_contacts .directory_entry .lang,
.corporate_contacts .directory_entry .lang {
  display: none;
  float: right;
  margin-top: -16px;
}
/* line 2016, content/stylesheets/base.scss */
.global_directory .directory_entry .lang:after,
.brand_contacts .directory_entry .lang:after,
.corporate_contacts .directory_entry .lang:after {
  clear: both;
}

/* line 2022, content/stylesheets/base.scss */
.corporate_contacts {
  padding-bottom: 40px;
}
/* line 2024, content/stylesheets/base.scss */
.corporate_contacts .directory_entry {
  width: 960px;
}

/* line 2029, content/stylesheets/base.scss */
.contact_info {
  float: right;
  width: 185px;
}
/* line 2032, content/stylesheets/base.scss */
.contact_info:after {
  clear: both;
}
/* line 2035, content/stylesheets/base.scss */
.contact_info h2 {
  font-family: "ltc-bodoni-175-i4","ltc-bodoni-175-1","ltc-bodoni-175-2",serif;
  font-style: normal;
  font-weight: 400;
  border-bottom: 1px dotted #595656;
  color: #ffffff;
  font-size: 19px;
  font-style: italic;
  margin-bottom: 16px;
  min-height: 36px;
  padding-top: 12px;
  text-transform: uppercase;
  line-height: 36px;
}
/* line 2047, content/stylesheets/base.scss */
.contact_info li {
  list-style: none;
  line-height: 16px;
  padding-bottom: 8px;
}

/* line 2053, content/stylesheets/base.scss */
.quick_links {
  background: #262223;
  margin-bottom: 50px;
}
/* line 2056, content/stylesheets/base.scss */
.quick_links ul {
  border-top: 1px solid #595656;
}
/* line 2058, content/stylesheets/base.scss */
.quick_links ul:first-child {
  border-top: none;
}
/* line 2062, content/stylesheets/base.scss */
/* change in padding has impact on factsheet quick links on factsheet page layout */
.quick_links li {
  background: transparent url("../images/footer_divider.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/footer_divider.png*/ no-repeat scroll left 20px;
  display: inline;
  font-size: 11px;
  line-height: 30px;
  list-style: none;
  margin: 0px;
  padding: 15px 12px 3px 18px;
  text-transform: uppercase;
}
/* line 2071, content/stylesheets/base.scss */
.quick_links li:first-child {
  background: none;
}

/* line 2076, content/stylesheets/base.scss */
.searchterm {
  font-family: "proxima-nova-n3","proxima-nova-1","proxima-nova-2",sans-serif;
  font-style: normal;
  font-weight: 300;
  border-bottom: 1px solid #595656;
  color: white;
  font-size: 22px;
  line-height: 24px;
  margin-bottom: 16px;
  padding: 12px 0px;
}

/* line 2085, content/stylesheets/base.scss */
.search_options {
  float: left;
  margin-left: 40px;
}
/* line 2088, content/stylesheets/base.scss */
.search_options input {
  margin: 12px;
}
/* line 2091, content/stylesheets/base.scss */
.search_options:after {
  clear: both;
}

/* line 2095, content/stylesheets/base.scss */
.result_link {
  padding-top: 5px;
}

/* line 2098, content/stylesheets/base.scss */
.template_4-2 .content .site_search {
  border-bottom: 1px dotted #595656;
  height: 60px;
  margin-bottom: 30px;
}

/*
  Lightbox Style
*/
/* line 2108, content/stylesheets/base.scss */
.fd_lightbox {
  height: 100%;
  width: 100%;
  /*position: absolute;*/
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  background: transparent url("../images/lightbox/shade.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/lightbox/shade.png*/ repeat;
  display: none;
}

/* line 2119, content/stylesheets/base.scss */
.fd_lightbox > div {
  background: url("../images/lightbox/bg_lightbox.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/lightbox/bg_lightbox.png*/ no-repeat;
  position: relative;
  display: none;
  overflow: hidden;
}

/* line 2126, content/stylesheets/base.scss */
.fd_lightbox .close {
  position: absolute;
  right: 15px;
  top: 20px;
  width: 20px;
  height: 20px;
  display: block;
  text-indent: -9999px;
  background: transparent url("../images/icons.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/icons.png*/ no-repeat -700px -950px;
  z-index: 10000;
}

/*
  SlideShow Style
*/
/* line 2142, content/stylesheets/base.scss */
.slideshow p.title {
  font-size: 23px;
  font-family: "ltc-bodoni-175-i4","ltc-bodoni-175-1","ltc-bodoni-175-2",serif;
  font-style: italic;
  font-weight: 400;
  line-height: 60px;
  width: 590px;
  height: 60px;
  color: white;
  padding-left: 20px;
  text-transform: uppercase;
}

/* line 2153, content/stylesheets/base.scss */
.slideshow .photos {
  width: 100%;
  height: 372px;
  position: relative;
  overflow:hidden;
}

/* line 2159, content/stylesheets/base.scss */
.slideshow .photos img {
  position: absolute;
  display: none;
}

/* line 2164, content/stylesheets/base.scss */
.slideshow p.caption {
  color: #EDECED;
  width: 390px;
  height: 35px;
  margin: 26px 0 0 24px;
  overflow: hidden;
}

/* line 2172, content/stylesheets/base.scss */
.slideshow span.caption_date {
  color: #999999;
  font-family: "ltc-bodoni-175-n4","ltc-bodoni-175-1","ltc-bodoni-175-2",serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin-right: 10px;
}

/* line 2180, content/stylesheets/base.scss */
.slideshow ul {
  list-style: none;
}

/* MA : removed left and added right */
/* line 2184, content/stylesheets/base.scss */
.slideshow ul.pagers {
  position: absolute;
  /*left: 430px;*/
  right:36px;
  top: 458px;
}

/* line 2190, content/stylesheets/base.scss */
.slideshow li {
  float: left;
}

/* line 2194, content/stylesheets/base.scss */
.slideshow li a {
  width: 100%;
  height: 100%;
  display: block;
  line-height: 20px;
  text-align: center;
  color: #aaa6a7;
  font-family: "ltc-bodoni-175-n4","ltc-bodoni-175-1","ltc-bodoni-175-2",serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}

/* line 2205, content/stylesheets/base.scss */
.slideshow li a:hover {
  color: white;
}

/* line 2209, content/stylesheets/base.scss */
.slideshow li.selected a {
  color: white;
}

/* line 2213, content/stylesheets/base.scss */
.slideshow li.nav {
  width: 20px;
  height: 20px;
}

/* line 2218, content/stylesheets/base.scss */
.slideshow li.nav a {
  font-size: 16px;
  margin-top: -2px;
}

/* line 2223, content/stylesheets/base.scss */
.slideshow li.nav.disabled a {
  visibility: hidden;
}

/* line 2227, content/stylesheets/base.scss */
.slideshow li.nav.disabled a:hover {
  color: #aaa6a7;
}

/* line 2231, content/stylesheets/base.scss */
.slideshow li.numbers li {
  font-family: "ltc-bodoni-175-n4","ltc-bodoni-175-1","ltc-bodoni-175-2",serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  width: 20px;
  height: 20px;
  display: none;
}

/* line 2239, content/stylesheets/base.scss */
.slideshow li.numbers li.visible {
  display: block;
}

/* line 2243, content/stylesheets/base.scss */
/*Changed width and height to make the video icon clickable*/
.slideshow div.overlay {
  position: absolute;
  width: 305px;
  height: 345px;
  top: 60px;
  background: transparent url("../images/lightbox/force_ie_alpha.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/lightbox/force_ie_alpha.png*/ no-repeat;
}

/* line 2251, content/stylesheets/base.scss */
.slideshow div.overlay.previous {
  left: 0;
}

/* line 2255, content/stylesheets/base.scss */
.slideshow div.overlay.next {
  right: 0;
}

/* line 2259, content/stylesheets/base.scss */
.slideshow div.overlay div.image {
  width: 38px;
  height: 235px;
  top: 68px;
  position: absolute;
  cursor: pointer;
  display: none;
}

/* line 2268, content/stylesheets/base.scss */
.slideshow div.overlay.previous div.image {
  left: 0;
  background: transparent url("../images/lightbox/previous.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/lightbox/previous.png*/ no-repeat;
}

/* line 2273, content/stylesheets/base.scss */
.slideshow div.overlay.next div.image {
  right: 0;
  background: transparent url("../images/lightbox/next.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/lightbox/next.png*/ no-repeat;
}

/* line 2278, content/stylesheets/base.scss */
.print_header {
  display: none;
}

/* styles moved from global directory page layout */
.template_4-0 .boiler_plate h1 
{
    margin-bottom: 15px;
}
.template_4-0 .boiler_plate p
{
    padding-bottom: 28px;
}

.template_4-0 .global_directory .directory_entry H1
{
    padding-left: 19px;
}

.template_4-0 .main_content
{
    margin-top: -10px;
}

/* added for pixel mapping in company factsheet */
.template_4-3 .contact_info h2
{
    padding-top:0px;
    padding-bottom :3px;
    margin-bottom :18px;
}
.template_4-3 .contact_info li
{
    padding-bottom:10px;
}
