/* line 6, content/stylesheets/cinematic.scss */
/* min-width increase for cinematic section */
.cinematic {
  background-color: #040707;
  min-width: 1000px;
  overflow: hidden;
  position: relative;
}
/* line 13, content/stylesheets/cinematic.scss */
.template_0 .cinematic, .template_1-3 .cinematic, .template_4-5 .cinematic {
  height: 585px;
  margin-top: -120px;
}
/* line 17, content/stylesheets/cinematic.scss */
.template_0 .cinematic .carousel > ul, .template_1-3 .cinematic .carousel > ul, .template_4-5 .cinematic .carousel > ul {
  display: block;
  list-style-type: none;
  margin: 0 auto;
  max-width: 1208px;
  position: relative;
  width: 100%;
}
/* line 24, content/stylesheets/cinematic.scss */
.template_0 .cinematic .carousel > ul li, .template_1-3 .cinematic .carousel > ul li, .template_4-5 .cinematic .carousel > ul li {
  height: 585px;
  position: absolute;
  top: 0;
  width: 100%;
}
/* line 29, content/stylesheets/cinematic.scss */
.template_0 .cinematic .carousel > ul li .background_container, .template_1-3 .cinematic .carousel > ul li .background_container, .template_4-5 .cinematic .carousel > ul li .background_container {
  display: none;
  margin: 0 auto;
  position: relative;
  width: 960px;
}
/* line 34, content/stylesheets/cinematic.scss */
.template_0 .cinematic .carousel > ul li .background_container img, .template_1-3 .cinematic .carousel > ul li .background_container img, .template_4-5 .cinematic .carousel > ul li .background_container img {
  left: 50%;
  margin-left: -628px;
  position: absolute;
  top: 0;
}
/* line 41, content/stylesheets/cinematic.scss */
.template_0 .cinematic .carousel > ul li.selected, .template_1-3 .cinematic .carousel > ul li.selected, .template_4-5 .cinematic .carousel > ul li.selected {
  display: block;
}
/* line 43, content/stylesheets/cinematic.scss */
.template_0 .cinematic .carousel > ul li.selected .background_container, .template_1-3 .cinematic .carousel > ul li.selected .background_container, .template_4-5 .cinematic .carousel > ul li.selected .background_container {
  display: block;
}
/* line 46, content/stylesheets/cinematic.scss */
.template_0 .cinematic .carousel > ul li.selected .proof_point, .template_1-3 .cinematic .carousel > ul li.selected .proof_point, .template_4-5 .cinematic .carousel > ul li.selected .proof_point {
  display: block;
}
/* line 52, content/stylesheets/cinematic.scss */
.template_0 .cinematic .carousel .nav, .template_1-3 .cinematic .carousel .nav, .template_4-5 .cinematic .carousel .nav {
  bottom: 24px;
  left: 50%;
  margin-left: -480px;
  position: absolute;
}
/* line 57, content/stylesheets/cinematic.scss */
.template_0 .cinematic .carousel .nav li, .template_1-3 .cinematic .carousel .nav li, .template_4-5 .cinematic .carousel .nav li {
  float: left;
}
/* line 59, content/stylesheets/cinematic.scss */
.template_0 .cinematic .carousel .nav li a, .template_1-3 .cinematic .carousel .nav li a, .template_4-5 .cinematic .carousel .nav li a {
  background: transparent url("../images/cinematic_control_icon.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/cinematic_control_icon.png*/ scroll no-repeat -28px 0;
  display: block;
  height: 24px;
  text-indent: -800em;
  width: 15px;
}
/* line 65, content/stylesheets/cinematic.scss */
.template_0 .cinematic .carousel .nav li a:hover, .template_1-3 .cinematic .carousel .nav li a:hover, .template_4-5 .cinematic .carousel .nav li a:hover {
  background-position: -3px 0;
}
/* line 69, content/stylesheets/cinematic.scss */
.template_0 .cinematic .carousel .nav li.selected a, .template_1-3 .cinematic .carousel .nav li.selected a, .template_4-5 .cinematic .carousel .nav li.selected a {
  background-position: -3px 0;
}
/* line 76, content/stylesheets/cinematic.scss */
.template_2 .cinematic {
  background-color: transparent;
  margin-bottom: 30px;
  margin-left: 180px;
  min-width: 780px;
  padding-top: 0;
  position: relative;
  width: 780px;
}
/* line 84, content/stylesheets/cinematic.scss */
.template_2 .cinematic > img {
  margin: 0;
}
/* line 88, content/stylesheets/cinematic.scss */
.cinematic > img {
  display: block;
  margin: 0 auto;
}

/* line 93, content/stylesheets/cinematic.scss */
.proof_point {
  height: 222px;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 0;
  width: 297px;
  z-index: 3;
}
/* line 103, content/stylesheets/cinematic.scss */
.template_0 .proof_point,.template_4-5 .proof_point {
  display: none;
  left: auto;
  margin-top: -90px;
  margin-left: 130px;
  right: -20px;
  top: 50%;
  width: 398px;
}
/*MA Specific to Estee Lauder*/
.template_1-3 .proof_point
{
  display: none; 
  width: 398px;
  /*top: auto;*/  
  left: auto;
  margin-top: -90px;
  margin-left: 130px;
  right: -20px;
  top: 50%;
}
/*MA Specific to Estee Lauder*/
.template_1-3 .proof_point_esteeLauder
{
  bottom:-273px !important;
  top:62% !important;
  }
/* line 115, content/stylesheets/cinematic.scss */
.template_1-0 .proof_point, .template_1-2 .proof_point, .template_4-0 .proof_point {
  margin-left: 120px;
}
/* line 119, content/stylesheets/cinematic.scss */
.template_1-1 .proof_point, .template_2 .proof_point {
  float: right;
  height: 141px;
  margin-top: 0;
  right: 0;
  width: 312px;
}
/* line 127, content/stylesheets/cinematic.scss */
.template_0 .proof_point h1 {
  font-family: "ltc-bodoni-175-i4","ltc-bodoni-175-1","ltc-bodoni-175-2",serif;
  font-style: italic;
  font-weight: 400;
  font-size: 48px;
  line-height: 54px;
  text-transform: uppercase;
}
/* line 133, content/stylesheets/cinematic.scss */
.template_1-1 .proof_point h1 {
  font-family: "ltc-bodoni-175-i4","ltc-bodoni-175-1","ltc-bodoni-175-2",serif;
  font-style: italic;
  font-weight: 400;
  font-size: 19px;
  line-height: 26px;
  text-transform: uppercase;
}
/* line 140, content/stylesheets/cinematic.scss */
.proof_point .entry_meta {
  color: white;
  font-family: "ltc-bodoni-175-n4","ltc-bodoni-175-1","ltc-bodoni-175-2",serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 10px;
}
/* line 147, content/stylesheets/cinematic.scss */
.proof_point img {
  left: 0;
  position: absolute;
  top: 0;
  z-index: -1;
}
/* line 153, content/stylesheets/cinematic.scss */
.proof_point p {
  background: transparent url("../images/horizontal_header_divide_8.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/horizontal_header_divide_8.png*/ no-repeat scroll left top;
  color: white;
  display: block;
  font-family: "ltc-bodoni-175-i4","ltc-bodoni-175-1","ltc-bodoni-175-2",serif;
  font-style: italic;
  font-weight: 400;
  font-size: 19px;
  line-height: 26px;
  margin-top: 10px;
  padding-top: 20px;
  text-transform: uppercase;
  width: 312px;
}
/* line 164, content/stylesheets/cinematic.scss */
.proof_point p + p {
  background: none;
}
/* line 167, content/stylesheets/cinematic.scss */
.template_0 .proof_point p {
  background-image: none;
  color: #fff;
  font-family: "proxima-nova-n3","proxima-nova-1","proxima-nova-2",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 19px;
  line-height: 23px;
  text-transform: none;
  width: 400px;
  margin-bottom: 10px;
}
/* line 177, content/stylesheets/cinematic.scss */
.template_1-1 .proof_point p {
  font-family: "Helvetica Neue Regular", "HelveticaNeue Regular", "Helvetica Neue", "HelveticaNeue", Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
  line-height: 17px;
  text-transform: none;
  width: 320px;
}
/* line 187, content/stylesheets/cinematic.scss */
.template_1-3 .proof_point p, .template_4-5 .proof_point p {
  font-size: 22px;
  line-height: 28px;
}
/* line 191, content/stylesheets/cinematic.scss */
.template_2 .proof_point p {
  font-family: "ltc-bodoni-175-i4","ltc-bodoni-175-1","ltc-bodoni-175-2",serif;
  font-style: italic;
  font-weight: 400;
  font-size: 19px;
  line-height: 26px;
  text-transform: uppercase;
}
/* line 200, content/stylesheets/cinematic.scss */
.template_0 .proof_point .read_more, .template_4-5 .proof_point .read_more {
  margin-left: -12px;
  position: absolute;
  top: 250px;
}

.noindex .add_logo
{
    position:relative;
    top:12px;
    left:-110px;
}
