/* line 5, content/stylesheets/controls-elc.scss */
.content_menu {
  border-bottom: 1px solid #403b3b;
  width: 125px;
}
/* line 8, content/stylesheets/controls-elc.scss */
.content_menu h3 a {
  border-top: 1px solid #403b3b;
  color: #dedede;
  display: block;
  font-family: "proxima-nova-n3","proxima-nova-1","proxima-nova-2",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  padding: 15px 0;
  text-transform: uppercase;
}
/* line 18, content/stylesheets/controls-elc.scss */
.content_menu h3 a:hover, .content_menu h3 a.selected:hover {
  color: #F8EFCA;
}
/* line 21, content/stylesheets/controls-elc.scss */
.content_menu h3 a.selected {
  color: #fff;
}
/* line 25, content/stylesheets/controls-elc.scss */
.content_menu h3 + ul {
  padding-bottom: 15px;
}
/* line 27, content/stylesheets/controls-elc.scss */
.content_menu h3 + ul li {
  padding: 3px 0;
}
/* line 29, content/stylesheets/controls-elc.scss */
.content_menu h3 + ul li a {
  border: none;
  color: #aaa6a7;
  font-size: 12px;
  line-height: 15px;
  padding-top: 12px;
  text-transform: none;
}
/* line 39, content/stylesheets/controls-elc.scss */
.content_menu h3 + ul li.selected a, .content_menu h3 + ul li.selected a:hover {
  color: #fff;
}
/* line 42, content/stylesheets/controls-elc.scss */
.content_menu h3 + ul li a:hover {
  color: #F8EFCA;
}

/* line 48, content/stylesheets/controls-elc.scss */
.brand_menu {
  width: 140px;
}
/* line 50, content/stylesheets/controls-elc.scss */
.brand_menu ul li {
  border-bottom: none;
  margin-bottom: 10px;
  margin-right: 40px;
}
/* line 54, content/stylesheets/controls-elc.scss */
.brand_menu ul li a {
  color: #888081;
  font-family: "proxima-nova-n3","proxima-nova-1","proxima-nova-2",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
}
/* line 61, content/stylesheets/controls-elc.scss */
.brand_menu ul li a:hover, .brand_menu ul li a:focus {
  color: #f8efca;
  text-decoration: none;
}
/* line 65, content/stylesheets/controls-elc.scss */
.brand_menu ul li a.selected {
  color: white;
}

/* line 71, content/stylesheets/controls-elc.scss */
.filters_list {
  background-color: #221e1e;
  padding-bottom: 1px;
  margin-bottom: 30px;
  width: 180px;
}
/* line 76, content/stylesheets/controls-elc.scss */
.filters_list li {
  list-style-type: none;
}
/* line 78, content/stylesheets/controls-elc.scss */
.filters_list li h3 {
  background: transparent url("../images/filter_header_background.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/filter_header_background.png*/ scroll repeat-x 0 0;
}
/* line 80, content/stylesheets/controls-elc.scss */
.filters_list li h3:hover {
  background-position: 0 -29px;
}
/* line 83, content/stylesheets/controls-elc.scss */
.filters_list li h3 a {
  background: transparent url("../images/filter_header_arrows.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/filter_header_arrows.png*/ scroll no-repeat 100% 0;
  color: white;
  display: block;
  font-family: "proxima-nova-n3","proxima-nova-1","proxima-nova-2",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  height: 29px;
  line-height: 29px;
  padding: 0 15px;
  text-transform: uppercase;
}
/* line 93, content/stylesheets/controls-elc.scss */
.filters_list li h3 a a {
  color: #f7eb91;
}
/* line 98, content/stylesheets/controls-elc.scss */
.filters_list li h3 + .nav {
  margin: 10px;
  display: none;
}
/* line 101, content/stylesheets/controls-elc.scss */
.filters_list li h3 + .nav a {
  font-size: 10px;
  float: left;
  padding: 0 10px;
}
/* line 105, content/stylesheets/controls-elc.scss */
.filters_list li h3 + .nav a:first-child {
  border-right: 1px solid #453d3e;
}
/* line 109, content/stylesheets/controls-elc.scss */
.filters_list li h3 + .nav:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 113, content/stylesheets/controls-elc.scss */
.filters_list li h3 ~ ul {
  clear: both;
}
/* line 115, content/stylesheets/controls-elc.scss */
.filters_list li h3 ~ ul li {
  background-color: #1a1516;
  background-image: none;
  display: none;
  line-height: 24px;
  margin: 10px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}
/* line 124, content/stylesheets/controls-elc.scss */
.filters_list li h3 ~ ul li.selected {
  background: #1a1516 url("../images/icons.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/icons.png*/ scroll no-repeat -560px -946px;
  display: block;
}
/* line 128, content/stylesheets/controls-elc.scss */
.filters_list li h3 ~ ul li a {
  display: block;
  font-family: "proxima-nova-n3","proxima-nova-1","proxima-nova-2",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  /*height: 24px;*/
  line-height: 24px;
  padding: 0 15px;
}
/* line 136, content/stylesheets/controls-elc.scss */
.filters_list li h3 ~ ul li label {
  margin-left: 7px;
}
/* line 143, content/stylesheets/controls-elc.scss */
.template_4-2 .filters_list li.date_list h3 ~ ul li, .template_4-2 .filters_list li.recent_searches_list h3 ~ ul li {
  background-color: #221e1e;
}
/* line 145, content/stylesheets/controls-elc.scss */
.template_4-2 .filters_list li.date_list h3 ~ ul li.selected, .template_4-2 .filters_list li.recent_searches_list h3 ~ ul li.selected {
  background-image: none;
}
/* line 151, content/stylesheets/controls-elc.scss */
.filters_list li.selected h3 {
  background-position: 0 -58px;
}
/* line 153, content/stylesheets/controls-elc.scss */
.filters_list li.selected h3:hover {
  background-position: 0 -29px;
}
/* line 156, content/stylesheets/controls-elc.scss */
.filters_list li.selected h3 a {
  background-position: 100% -58px;
  color: white;
  height: 29px;
}
/* line 160, content/stylesheets/controls-elc.scss */
.filters_list li.selected h3 a:hover {
  color: #f7eb91;
}
/* line 165, content/stylesheets/controls-elc.scss */
.filters_list li.selected h3 + .nav {
  display: block;
}
/* line 168, content/stylesheets/controls-elc.scss */
.filters_list li.selected h3 ~ ul li {
  display: block;
}

/* line 175, content/stylesheets/controls-elc.scss */
.tab_control .nav {
  border-bottom: 1px solid #453d3e;
  height: 30px;
}
/* line 178, content/stylesheets/controls-elc.scss */
.tab_control .nav li {
  float: left;
}
/* line 180, content/stylesheets/controls-elc.scss */
.tab_control .nav li a {
  background: #1a1414 url("../images/tab_up_background.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/tab_up_background.png*/ repeat-x scroll left top;
  display: block;
  font-family: "proxima-nova-n1","proxima-nova-1","proxima-nova-2",sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 15px;
  height: 30px;
  line-height: 30px;
  margin-right: 2px;
  min-width: 104px;
  padding: 0 15px;
  text-align: center;
  text-transform: uppercase;
}
/* line 193, content/stylesheets/controls-elc.scss */
.tab_control .nav li a:hover, .tab_control .nav li a.selected {
  background-image: none;
  background-color: #554b4c;
  color: #FFFFFF;
}
/* line 201, content/stylesheets/controls-elc.scss */
.tab_control > .tab_content {
  display: none;
}
/* line 203, content/stylesheets/controls-elc.scss */
.tab_control > .tab_content.selected {
  display: block;
}

/* line 208, content/stylesheets/controls-elc.scss */
.pagination {
  font-family: "ltc-bodoni-175-n4","ltc-bodoni-175-1","ltc-bodoni-175-2",serif;
  font-style: normal;
  font-weight: 400;
  border-top: 1px dotted #595656;
  clear: both;
  font-size: 15px;
  padding: 20px 0;
}
/* line 214, content/stylesheets/controls-elc.scss */
.pagination .nav {
  margin: 0 auto;
  text-align: center;
}
/* line 217, content/stylesheets/controls-elc.scss */
.pagination .nav .previous {
  display: inline;
  margin-right: 16px;
}
/* line 221, content/stylesheets/controls-elc.scss */
.pagination .nav .next {
  display: inline;
  margin-left: 16px;
}
/* line 225, content/stylesheets/controls-elc.scss */
.pagination .nav ul {
  display: inline;
  list-style-type: none;
}
/* line 228, content/stylesheets/controls-elc.scss */
.pagination .nav ul li {
  display: inline;
  margin-left: 16px;
}
/* line 231, content/stylesheets/controls-elc.scss */
.pagination .nav ul li:first-child {
  margin-left: 0;
}
/* line 234, content/stylesheets/controls-elc.scss */
.pagination .nav ul li a {
  color: #999999;
}
/* line 236, content/stylesheets/controls-elc.scss */
.pagination .nav ul li a.next {
  margin-left: 10px;
}
/* line 239, content/stylesheets/controls-elc.scss */
.pagination .nav ul li a.previous {
  margin-right: 10px;
}
/* line 243, content/stylesheets/controls-elc.scss */
.pagination .nav ul li a.selected {
  color: white;
}
/* line 246, content/stylesheets/controls-elc.scss */
.pagination .nav ul li a:hover {
  color: #f8efca;
}

/* line 253, content/stylesheets/controls-elc.scss */
.menu {
  padding: 10px;
  position: relative;
  width: auto;
  z-index: 3;
}
/* line 258, content/stylesheets/controls-elc.scss */
.menu > span {
  border-bottom: 1px dotted transparent;
  display: block;
  height:25px;
  cursor:pointer;
  color: #f8efca;
}
/* line 264, content/stylesheets/controls-elc.scss */
.menu.hover > span {
  color: #f8ec92;
}
/* line 267, content/stylesheets/controls-elc.scss */
.menu span + ul {
  display: none;
  left: 0;
  padding-top: 10px;
  position: absolute;
  text-align: left;
  top: auto;
  width: 100%;
  z-index: -1;
}
/* line 276, content/stylesheets/controls-elc.scss */
.menu span + ul li {
  padding: 10px;
}
/* line 278, content/stylesheets/controls-elc.scss */
.menu span + ul li a {
  display: block;
}
/* line 283, content/stylesheets/controls-elc.scss */
.menu.hover {
  background: transparent url("../images/primary_nav_submenu_background.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/primary_nav_submenu_background.png*/ repeat scroll 0 0;
}
/* line 285, content/stylesheets/controls-elc.scss */
.menu.hover > span {
  border-color: #595656;
}
/* line 288, content/stylesheets/controls-elc.scss */
.menu.hover ul {
  background: transparent url("../images/primary_nav_submenu_background.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/primary_nav_submenu_background.png*/ repeat scroll 0 0;
  display: block;
 
  *margin-top:-1px;
}

/* line 294, content/stylesheets/controls-elc.scss */
.search {
  display: block;
  height: 24px;
}
/* line 297, content/stylesheets/controls-elc.scss */
.search .search_label {
  background: transparent url("../images/icons.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/icons.png*/ no-repeat scroll -700px -900px;
  display: block;
  height: 18px;
  left: -20px;
  position: absolute;
  text-indent: -800em;
  top: 3px;
  width: 16px;
}
/* line 307, content/stylesheets/controls-elc.scss */
.search input.text_to_search {
  background: transparent;
  border: none;
  color: #999480;
  font-family: "proxima-nova-n3","proxima-nova-1","proxima-nova-2",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  margin: 0;
}
/* line 314, content/stylesheets/controls-elc.scss */
.search input.text_to_search:focus {
  outline: none;
}
/* line 317, content/stylesheets/controls-elc.scss */
.search input.text_to_search::-webkit-input-placeholder {
  color: #999480;
}
/* line 320, content/stylesheets/controls-elc.scss */
.search input.text_to_search:-moz-placeholder {
  color: #999480;
}
.masthead .search input.text_to_search {
  width: 150px;
}
/* line 324, content/stylesheets/controls-elc.scss */
.search .search_submit {
  background: transparent;
  border: 0;
  color: #f8efca;
  font-family: "proxima-nova-n3","proxima-nova-1","proxima-nova-2",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  margin: 0;
  text-transform: uppercase;
}
/* line 332, content/stylesheets/controls-elc.scss */
.search .search_submit:hover {
  color: #f8ec92;
}
/* line 336, content/stylesheets/controls-elc.scss */
.masthead .search {
  background: transparent url("../images/icons.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/icons.png*/ no-repeat scroll -700px -900px;
  padding-left: 20px;
  position: absolute;
  right: 0px;
  top: 18px;
  z-index: 99;
}
.masthead .search div {
  border-bottom: 1px solid #F8EFCA;
}
*:first-child + html .masthead .search {
  top: 20px;
}
/* line 343, content/stylesheets/controls-elc.scss */
.template_4-2 .content .search {
  float: left;
  background: #262223;
  border: 1px solid #C5BD9C;
  padding: 7px 0px 5px 6px;
  width: 310px;
}
/* line 349, content/stylesheets/controls-elc.scss */
.template_4-2 .content .search .search_label {
  background: none;
}
/* line 352, content/stylesheets/controls-elc.scss */
.template_4-2 .content .search .text_to_search {
  width: 264px;
}
