/* Used on : Company Fact Sheet*/
/* Added by: PR  */
/* Description: On boiler plate create anchor bars  */
#quickLinks
{
    word-wrap:break-word;
    display:block;
}


/* Used on : Download button*/
/* Added by: PR  */
/* Description: To make the text bottom align with the icon  */
a.download
{
    padding-top:3px;
}

/* Used on : Home Page Section*/
/* Added by: PR  */
/* Description: To make layout same as visual design  */
template_0 .cinematic 
{
    top: 305px ;
}

.template_0 .stock 
{
    top : 40px;
}

.template_0 .boiler_plate {
    
    padding-top: 30px;
    padding-bottom: 25px;
}

/* Used on : Home Page Insight Section*/
/* Added by: PR  */
/* Description: To give insight section minimum width and height to render background image properly  */
.template_0 .insight .article h1
{
     min-width :140px;
     min-height : 120px ;
}

.template_0 .insight .article p
{
     width:160px;
}

.template_0 .insight
{
     min-height : 0px ;
}

/* Used on : Template 2.1 aside bar*/
/* Added by: PR  */
/* Description: To make related link column align with section title  */
.template_2-1 .content > .aside
{
    margin-top:10px;
}

/* Used on : Template 2.1 Boiler Plate*/
/* Added by: PR  */
/* Description: To make related link column align with section title  */
.template_2-1 .content .boiler_plate {
    margin-bottom: 25px;
}

.template_2-1 p.quote_source .author_title {
    line-height: 10px;
}

.template_2-1 .content #BoilerPlate > blockquote
{
    background: url("../images/template_2-1/quote.gif")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/template_2-1/quote.gif*/ no-repeat scroll 0 5px transparent;
    margin: -7px 20px 0px 0;
}

/* Used on : Print button*/
/* Added by: PR  */
/* Description: To make the text bottom align with the icon  */
a.print
{
    padding-top:3px;
}

/* Used on : All Pages - Edit Mode */
/* Added by: DB  */
/* Description: To change color of admin headers  */
div.ms-formfieldlabelcontainer span.ms-formfieldlabel {    
color: #181515;
}

/* Used on : Story Pages - Share This Section*/
/* Added by: AT  */
/* Description: For Share This Story list  */
 .elc a.SNSStoryCommon {  
  display: block;
  height: 14px;
  text-indent: -800em;
  width: 14px;
}
   
/* Used on : Story Pages - Share This Section*/
/* Added by: AT  */
/* Description: For Share This Story list  */
.menu a.SNSStoryCommon {
  padding-left: 25px;
  text-indent: 0;
  text-transform: none;
  width: auto;
  }


/* Used on : Master Page - Footer*/
/* Added by: AT  */
/* Description: For brands list  */
.footer .footer_extra div.brands ul ul {
  display: block;
  float: left;
  margin-right: 20px;
  position: relative;
  width: 120px;
}
.footer .footer_extra div.brands
{
    *width: 610px;
}
.footer .footer_extra div
{
    width: 150px;
}

/* Used on : Page Layouts - Template 2.0*/
/* Added by: AT  */
/* Description: For story highlights  */
/* line 1595, content/stylesheets/base.scss */
.story .story_highlights {
  float: left;
  margin: 0 20px 0px 0;
  padding-right: 20px;
  width: 160px;
  white-space:normal;
  clear:both;
}
/* Added by: AT  */
/* Mod Log: Reused style- so using the original as in Html  */
.article2 > p{ margin-bottom:0px; text-align:left; float:left; margin-bottom:0px !important;}
.article2 > span > p{ margin-bottom:0px; text-align:left; float:left; margin-bottom:0px !important;}
.article2 .story_highlights{ margin-top:20px; }
/* line 253, content/stylesheets/controls-elc.scss */
.menu {
  padding: 10px;
  position: relative;
  width: auto;
  z-index: 3;
  clear:both;
}

/* Used on : Page Layouts - Template 2.1*/
/* Added by: PR  */
/* Description: For component c10a  */

#entries_section ul li
{
    list-style:none;
}

#entries_section ul li .entry h1
{
      background: transparent url("../images/horizontal_header_divide.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/horizontal_header_divide.png*/ scroll no-repeat left bottom;
      font-family: "proxima-nova-n3","proxima-nova-1","proxima-nova-2",sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 19px;
      line-height: 21px;
      margin-bottom: 10px;
      min-height: 21px;
      padding-bottom: 20px;
      border-bottom:none;
      text-transform:none;
      color:#F8EFCA;
}

/* Used on : Page Layouts - Template 2.1*/
/* Added by: PR  */
/* Description: For boiler plates with quotation marks  */
.boiler_plate_quote
{
    background:none;
    padding-left:0px;
}

/* Used on : Page Layouts - Template 2.1*/
/* Added by: PR  */
/* Description: For component c11  */
.entry_2{float:left; margin-bottom:20px; width:517px; border-bottom:1px dotted #595656}
.entry_2  img{ float:left; margin:4px 22px 6px 0px;}
.content_holder{ float:left;  width:310px; margin:0px 0px 0px 0px;}
#entries_section ul li .entry_2 h1
{
      background: transparent url("../images/horizontal_header_divide.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/horizontal_header_divide.png*/ scroll no-repeat left bottom;
      font-family: "proxima-nova-1","proxima-nova-2",sans-serif;
      font-size: 16px;
      line-height: 21px;
      margin-bottom: 5px;
      min-height: 21px;
      padding-bottom: 12px;
      border-bottom:none;
      text-transform:none;
      color:#F8EFCA;
	  font-weight:normal !important;
}
.header h1 span{ display:block; font-size:12px; color:#EDECED; line-height:normal; margin-top:2px;}
.entries_2 ul li { 
	list-style:none; 
	margin:0px;
	float:left;
}

/* Changed top margin of image from 0px to 4px */
/* Changed right/bottom margin */
.entry_2 p img{ margin:4px 19px 18px 0px;}

.hr{ 
	margin:0px !important; 
	background: # url(../images/horizontal_header_divide.png)/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/horizontal_header_divide.png*/ no-repeat !important ; 
	display:block;  
	width:8px;   
	height:1px !important;
	border:none !important;
	padding:20px 0px 15px 0px !important;
}

/* Used on : Master Page for story page - Left Navigation*/
/* Added by: AT  */
/* Description: For aligning left navigation  */
.leftNav { float : left; }
.leftNav > .nav
 {          
    position: absolute;          
 }   
/* Used on : Page Layouts - All  */
/* Added by: ND  */
/* Description: For white background for fields in edit mode  */
 .ms-formfieldvaluecontainer span input, .ms-formfieldlabel, .ms-formfieldvaluecontainer span div
{
    background: white;
}
/* Used on : Page Layouts - All  */
/* Added by: ND  */
/* Description: For removing white background for radio button fields in edit mode  */
.ms-formfieldvaluecontainer span input[type="radio"]
{
    background:transparent;
}

/* Used on : ImageVideo Browse Custom Field */
/* Added by: SG  */
/* Description: To make UI similar for file upload(asp.net control) and asset upload control of sharepoint  */
.ms-AssetButtonHeightWidth 
{
    font-family: Verdana,Arial,sans-serif;
    font-size: 8pt;
    height: 2.0em;
    padding-bottom: 0.4em;
    padding-top: 0.1em;
    width: 65px !important;
}

.ms-customClass
{
    height: 2.0em;
    padding-bottom: 0.4em;
    padding-top: 0.1em;
    width: 304px;
    color: #676767;
    font-family: Verdana,Arial,sans-serif;
    font-size: 8pt;
}

/* Added by: MA  */
/* Description: For Connect With Our Brand list  */
.elc .template_2 .menu a.SNSCommon,
.elc .template_1-3 .menu a.SNSCommon
{
    padding-left: 25px;
    text-indent: 0;
    text-transform: none;
    width: auto;
}
/* Used on : Individual Brand Pages - Connect With Our Brand Section*/
/* Added by: MA  */
/* Description: For Connect With Our Brand list  */
.elc a.SNSCommon {  
  display: block;
  height: 14px;
  text-indent: -800em;
  width: 14px;
}
/* Used on : Master Pages - Left Navigation */
/* Added by: AT  */
/* Description: For changing the color of selected L2 Navigation item  */
.content_menu h3 a.selected {
  color: #F8EFCA;
}
/* Used on : Master Pages - Left Navigation */
/* Added by: AT  */
/* Description: For changing the color of selected L3 Navigation item  */
.content_menu h3 + ul li a.selected {
    color: #FFFFFF;
}

/* Used on : Template 3.5*/
/* Added by: ND  */
/* Description: For slides user control  */
.template_3-5 .main_content .tab_nav li
{
    width: 124px;
    font-size: 17px!important;
    font-weight:bold;
    padding:0px 5px 0px 15px;
}

.template_3-5 .main_content .tab_nav li.selected a
{
    font-size: 17px!important;
   /* font-weight:bold;*/
}
        
.template_3-5 .main_content .tab_nav li a
{
    width: 124px;
    vertical-align:middle;
}
 
        
.template_3-5 .main_content .tab_carousel .tab_nav li a
{
    line-height: 20px!important;
    padding: 15px 0px 0px 0px!important;
    text-align:left;
    height:60px;
}
.template_3-5 .main_content .tab_carousel .tab_nav li.selected a
{
    line-height: 20px!important;
}

.template_3-5 .main_content .tab_carousel .tab_nav li.selected
{
    background-position:center center;
}

/* Used on : Template 3.5*/
/* Added by: ND  */
/* Description: For edit mode image browse control  */
.template_3-5 .cinematicContainer
{
    margin:0px auto;
    width:1020px;
}

.template_3-5 .cinematicContainer img
{
    margin:0px auto;
}

.template_3-5 .features .feature h1
{
    font-size:24px;
    line-height:26px;
}

/* Used on : Page Layout Edit Mode  - Character count Section*/
/* Added by: PR  */
/* Description: For character count class  */
.count , .countUrl
{
  margin-right:5px;
  padding-bottom :2px;
}

/* Used on : ImageVideo Browse Custom Field */
/* Added by: SG  */
/* Description: To make UI similar for file upload(asp.net control) and asset upload control of sharepoint  */
.ms-ButtonHeightWidth 
{
    width:auto !important;
}

/* Used on : Download Links */
/* Added by: ND  */
/* Description: To make the download link as per VD & requirements  */

.estee-Download .estee-Download-Image
{
    background-image: url("../images/icon_download.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/icon_download.png*/;
    background-position: top left;
    background-repeat: no-repeat;
    width:20px;
    height:16px;
    padding-right: 10px;
}

.estee-Download .estee-Download-Image:hover
{
    background-image: url("../images/icon_download_hover.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/icon_download_hover.png*/;
    background-position: top left;
    background-repeat: no-repeat;
    width:20px;
    height:16px;
}

.estee-Download .estee-Download-Text
{
    padding-top:3px;
    width:200px;
}

.estee-video-Image
{
    background-image: url("../images/icon_movie.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/icon_movie.png*/;
    background-position: top left;
    background-repeat: no-repeat;
    width:20px;
    height:16px;
    padding-right: 10px;
}
/* Used on : At A Glance Section in CR Landing Page */
/* Added by: MA  */
/* Description: To make the At A Glance images fit into the At A Glance Section  */
.brand_info2{
    background-color: #282323;
    border-top: 1px solid #453D3E;
    clear: both;
    height: 68px;
    margin: 0 0 48px;
    padding: 0px 0px 0px 20px;
    width: 740px;
	height:110px;
}
.brand_info2 .header{ width:auto;}
.brand_info2 .header h1 {
    font-family: "ltc-bodoni-175-i4","ltc-bodoni-175-1","ltc-bodoni-175-2",serif;
    font-size: 30px;
    font-style: italic;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
	margin-top:24px;
	border-right:#453D3E 1px solid;
	padding-right:24px;
}
.brand_info2 ul{ margin:0px; padding:0px; list-style:none; border:none;}
.brand_info2 .header, .brand_info2  li {
    float: left;
    text-align: center;
    width: 150px;
	list-style:none;
}
.brand_info2  li img{ margin-top:12px; margin-left:10px;}
/* Used on : SITEMAP */
/* Added by: KK  */
/* Description: CSS START FOR SITEMAP */

#sitemap h3{    
	color: white;
    font-family: "proxima-nova-n3","proxima-nova-1","proxima-nova-2",sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 15px;
    padding: 0 0 20px;
    text-transform: uppercase;
    width: 160px;
}
#sitemap{ padding:0px 6px 0px 6px;}
#sitemap ul{  list-style-type: none; margin:0px; padding:0px;} 
#sitemap ul li{ line-height:16px; color:#aaa6a7; margin-top:6px;}
#sitemap ul li:first-child{ margin-top:0px;}
#sitemap ul li a{ color:#DEDEDE;}
#sitemap ul li a.estee-brand-anchor { color: #888081; }
#sitemap ul li a.estee-brand-anchor:hover { color: #f8efca; }
#sitemap ul li a:hover{ color:#f8efca;}
#sitemap ul li ul{ margin:0px 0px 0px 13px; padding:0px; list-style:none;} 
#sitemap ul li ul li{color:#5e5b5c;  margin:5px 0px 0px 0px; } 
#sitemap ul li ul li:first-child{margin:5px 0px 0px 0px;}
#sitemap ul li ul li a{color:#aaa6a7; } 

.sitemap_col1{width:189px; float:left;}
.sitemap_col2{width:189px; float:left;}
.sitemap_col2 ul{margin:0px 0px 0px 0px; padding:0px; list-style:none;}
.sitemap_col2 ul li{color:#5e5b5c;  margin:5px 0px 0px 0px !important; }
.sitemap_col2 ul li:first-child{margin:5px 0px 0px 0px !important;}
.sitemap_col2 ul li a{color:#5e5b5c !important; }

.sitemap_col3{width:189px; float:left;}
.sitemap_col4{width:189px; float:left;}
.sitemap_col5{width:192px; float:left;}


/*CSS START FOR SITEMAP VERSION 2*/
.sitemapv2_row{ background:url(Unknown_83_filename)/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/assets/images/sitemapv2bg.gif*/ repeat-x bottom; padding:20px 0px 20px 0px; float:left; width:948px; float:left;   }
.sitemapv2_row .sitemapv2_cols{width:189px; float:left;}

.sitemapv2_row .sitemapv2_cols ul li{ margin-top:18px !important;}
.sitemapv2_row .sitemapv2_cols ul li ul li{ margin:5px 0px 0px 0px !important;}

/*CSS FOR SITEMAP NAVIGATION STYLES */
.L1Navigation  a
{
        display: block;
	    font-family: "proxima-nova-n3","proxima-nova-1","proxima-nova-2",sans-serif;
	    font-size: 15px;
	    font-style: normal;
	    font-weight: 300;
	    overflow: visible;
	    text-transform: uppercase;
	    color:#f8efca;
	    padding-top:6px;
 }
.L1Navigation {list-style:none; }

.L2Navigation  a
    {
     	color: #888081;
	    display: block;
	    font-family: "proxima-nova-n3","proxima-nova-1","proxima-nova-2",sans-serif;
	    font-size: 13px;
	    font-style: normal;
	    font-weight: 300;
	    text-transform: uppercase;
	    list-style:none;
	   
    }    
.L2Navigation {list-style:none;}
.L2Navigation  a:hover
    {
     	color: #f8efca;
    }
.L3Navigation a
{
	      color: #aaa6a7;
	   	  font-size: 13px;
	      text-transform: none;  
	      list-style:none;
 } 
 .L3Navigation a:hover
{
	      color: #f8efca;
}       
.L3Navigation { list-style:none; }
.sitemapv2_row .sitemapv2_cols ul li ul li{ margin:5px 0px 0px 0px !important;}

.estee-Required
{
    PADDING-LEFT: 5px; 
    COLOR: red; 
    FONT-SIZE: 18px; 
    VERTICAL-ALIGN: top; 
    FONT-WEIGHT: bold;
}

/* Used on : SITEMAP */
/* Added by: RK  */
/* Description: CSS START FOR Highlighted News & Press Releases */

.press_releases > .header h1 {
  border-bottom: 1px solid #453d3e;
  color: white;
  font-family: "proxima-nova-n1","proxima-nova-1","proxima-nova-2",sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

press_releases_list_ng {
  list-style-type: none;
}
.press_releases_list_ng li {
  /*border-top: 1px solid #595656;
  padding: 20px 0;*/
}
.press_releases_list_ng li:first-child {
  border-top: none;
  padding-top: 0;
}
.press_releases_list_ng li .press_release {
  padding-left: 100px;
  width: 440px;
}

.press_releases_list_ng li .press_release .header .entry_meta {
  color: #999999;
  float: left;
  font-family: "ltc-bodoni-175-n4","ltc-bodoni-175-1","ltc-bodoni-175-2",serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-left: -100px;
  width: 100px;
}
.press_releases_list_ng li .press_release .header h1 {
  /*background: transparent url("../assets/images/horizontal_header_divide.png") scroll no-repeat left bottom;*/
  font-family: "proxima-nova-n3","proxima-nova-1","proxima-nova-2",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 21px;
  margin-bottom: 7px;
  min-height: 21px;
  padding-bottom: 5px;
}

.press_releases_list_ng li .press_release p {
  margin-top: 0px;
  clear: both;
}

  
/* Used on : Page Layout View Mode  - Story Pages*/
/* Added by: AT  */
/* Description: Used on Story Pages in case if Author name is not available*/
.dateOnly
{
   background: none;
   display: block;
   /* Changing float left to none due to restructuring of entry_meta */
   float: none;
   font-family: "ltc-bodoni-175-1" , "ltc-bodoni-175-2" ,serif;
   font-style: normal;
   font-weight: 400;
   margin-right: 5px;
   padding-right: 10px;
}
/* Used on : Page Layout View Mode  - Contactus , Factsheet and IntheNewsPressReleses*/
/* Added by: KK  */
/* Description: Email Text Work Wrap and IE7 Cutting Char*/
.emailTextWrap
{
    word-wrap:break-word;
    overflow:hidden;
}

/* Used on :For Footer Brands*/
/* Added by: PR  */
/* Description: At Footer Adjust Wrapping of Brands  */

.footer .footer_extra div.brands .footerBrands li 
{
    width : auto;
    min-width:0px;
    max-width:162px;
}
        
.footer .footer_extra  .footerBrands  
{
    padding-bottom:0px ;
    width : 730px ;
}
.footer .footer_extra  .footerBrands  ul li a
{
    line-height: 21px;
}
.brandNavWidth
{
    width: 750px;
}

/* Template 1.0 : Width of boiler plate */
/* Added by: DB  */
.template_1-0  .boiler_plate p {
width: 600px;
}

/* Template 4.3 : email in edit mode */
/* Added by: DB  */
.factsheet_email{
float:left;
max-width: 140px;
margin-left: -4px;
}

/* Template 4.3 : brands section */
/* Added by: DB  */
.template_4-3 .main_content .branLabel {
  float: left;
  width: 165px;
}

.template_4-3 .main_content .brandDetail {
  margin-left: 10px;
  float:left;
  width: 365px;  
}

/* Used on : Template 2.1 Content*/
/* Added by: PR  */
/* Description: Removing Content area's Extra space  */

.template_2-1 .content
{
    padding-bottom: 30px;
}

/* Used on : Home Page Insight section*/
/* Added by: PR  */
/* Description: to accomodate 70 character headline decrease font size  */

.template_0 .insight .article h1 
 {
     font-size : 18px;
     width: 140px;
     word-wrap: break-word;
     background-position : right 45px ;
 }
 
 .link-disabled
 {
     outline:none;
 }
 
.template_0 .insight .article img 
 {
     margin-top : 4px;
 }
 /* Used on : Current Openings*/
/* Added by: PR  */
/* Description: increased height for the iframefor the current Taleo page opening  */
 .iframe_current_openings
 {
     background: none repeat scroll 0% 0% white;
     height: 920px;
     width:100% ;
 }
 
/* Used on : Story Pages */
/* Added by: AT  */
/* Description: Used in Contextual image section to remove border in case no caption is present  */
.elc .storycontextual_image {  
  float: left;
  margin: 0 18px 0px 0;
}
/* Used on : Story Pages */
/* Added by: AT  */
/* Description: Used in ProofPoint text section to reduce the font-size by 1px  
The same class is also there in base and this is an override*/
.template_2 .proof_point p
{
    font-size : 18px !important;
}
/* Used on : Edit mode of Pages */
/* Added by: MA  */
/* Description: Used in setting width of edit mode columns*/
.editMode-column-width
{
    width: 960px;
}

/* Generalised class used for providing gaps in between the fields */
.gap
{
    margin-bottom: 12px;
}
/*sets width to auto for parent page picker lookup*/
.lookupWidth
{
    width : auto;
}


.CR-features
{
    padding-bottom: 22px;
}

.float-right
{
    float: right;
}
.float-left
{
    float: left;
}
.hide
{
    display: none;
}

/* Used on : CR Landing Page*/
/* Added by: MA  */
/*Start: CR Landing Page*/
.ataglance-removed
{
    margin-bottom: 17px;
    padding-bottom: 0px !important;
}
.CR-content
{
    padding-top:23px;
}
.buzz_p_without_read-more-text
{
    margin-bottom: 10px !important; 
}
.download-Margin
{
    margin-top: 13px;
}
.read-more-text
{
    padding-bottom: 10px;
}
.buzz_p_with_read-more-text
{
    border-bottom: #453d3e 1px solid;padding-bottom: 18px;
    margin-bottom: 18px;
}
.CR-boiler_plate_p
{
    padding-bottom: 20px;
}
/*Remove padding to show unqouted boiler plate when there is no leader name*/
.boilerplate_no_leader_name
{
    padding-bottom: 0px;
}

/*Video Start*/
.CR-video-container
{
    padding-top: 8px;
}
.CR-video-container img{
    padding-left: 55px;
    padding-right: 4px;
    margin-bottom: 0px !important;
    vertical-align: middle !important;
}
.CR-video-container_img
{
    padding-left: 0px !important;
}
.CR-video-container a
{
    vertical-align: middle;
}
/*apply hand cursor when there is a video*/
.video-player-hover
{
    cursor: pointer;
    cursor: hand;
}
/*remove hover effect when there is no video in Cr Landing page*/
.video-no-hover a:hover
{
    color: #F8EFCA;
}
/*Video End*/
/*End: CR Landing Page*/

/*Video Start*/
/* Used on : Individual Brand Page */
/* Added by: MA  */
/* Description: Used in case of video featured story*/
.template_1-3-video-player a.anchor-lightBox-Opener
{
    position: absolute;
    background: url("../Images/StyleImages/PlayButtonNormal_240X135.png")/*tpa=http://www.elcompanies.com/Style%20Library/EsteeLauder/Images/StyleImages/PlayButtonNormal_240X135.png*/ center center;
    width: 240px;
    height: 135px;
    text-decoration: none;
}
.template_1-3-video-player a.anchor-lightBox-Opener:hover
{
    background: url("../Images/StyleImages/PlayButtonHover_240X135.png")/*tpa=http://www.elcompanies.com/Style%20Library/EsteeLauder/Images/StyleImages/PlayButtonHover_240X135.png*/ center center;
    text-decoration: none;
}
/*Video End*/


/*Start : Individual brand page specific css*/
/*Sets padding top for Boiler plate  when there is no featured setion*/
.template_1-3-related-nofeature
{
    padding-top : 0px !important;
}
/*Adjust UI for buz section when there is no featured setion*/
.template_1-3-noFeature
{
    margin-bottom: 27px !important;
    border-bottom-width: 0px;
}
.template_1-3-boilerplate
{
    margin-bottom: 32px;
}

.template_1-3-boilerplate-p
{
    margin-bottom: -5px;
}
.template_1-3-tweet
{
    margin-bottom: 15px !important;
}

.template_1-3-connect-Brands
{
    width: 175px;
    float: right;
}

.temp_1-3-content
{
    padding-top: 27px;
}
/*End : Individual brand page specific css*/


/* Used on : Extra Footer On Master Pages */
/* Added by: PR  */
/* Description: Make footer looks like Visual Design - override from footer.css */
.footer .footer_extra div {
    padding-bottom: 23px;
}

.footer .footer_extra div.consumers h3 {
    padding-bottom: 4px;
}

.footer .footer_extra div h3 
{
    padding-bottom: 15px;
}

/* Used on : Brand Navigation in L1 On Master Pages */
/* Added by: PR  */
/* Description: Make brands name wrapping possible */
.headerBrands
{
    padding-bottom:0px ;
    padding-top : 15px ;
    clear:both;
    display: block;
}

.headerBrands li 
{
    width : auto;
    min-width:0px;
    max-width:162px;
    display: block;
    float: left !important;
    margin-right: 10px !important;
    margin-left : 10px !important;
    margin-top : 0px !important;
    position: relative;
}
.headerBrands  ul li a
{
    line-height: 13px;
}

.brandNavWidth .headerBrands:first-child
{
	padding-top : 0px !important;
}
/* Used on : All Master Pages */
/* Added by: RK  */
/* Description: Default Sharepoint Navigate up Menu */


.global-breadcrumb-menu
{
    background-color:#212121;
}
/* Used on : Story Pages */
/* Added by: AT  */
/* Description: Story Page Layouts specific styles */

       .template_2 .proofpointImage
	   {
		   padding-left: 13px !important;
	   }
	   .template_2 .proofpointText
	   {
		   padding-top: 28px !important; margin-top: 30px !important; margin-left: 0px !important;
	   }
	   .template_2 .pageTitle
	   {
		   padding-bottom: 17px !important;
	   }
	   .template_2 .lightBoxOpener
	   {
		   display:block; width: 100%;
	   }
	   .template_2 .highlightsHeader
	   {
			margin-bottom: 13px !important;
	   }
	   .template_2 .highlightsSection
	   {
		   padding-bottom: 0px !important;
	   }
	   
	   .template_2 .leftNav > .nav
	   {          
		   position: absolute;          
	   }
	   .template_2 .handCursor
	   {
		   cursor: pointer; 
		   cursor: hand;           
	   }    
	   .template_2 .contextual_image span 
	   {
		   line-height: 16px !important;
		   padding-bottom: 10px !important;
		   padding-top: 7px !important;
	   }
	   
	   .template_2 .storyHighlights
	   {
	       padding-bottom: 15px;
	   }
	   .template_2 .text
	   {
		   margin-bottom: 0px !important;
	   }
	   /* line 1630, content/stylesheets/base.scss */
       .story p
       {
            margin-bottom: 0px !important;
       }
	   .template_2 .video_player a
	   {
	       position:absolute; background:url("../Images/StyleImages/PlayButtonNormal_181X102.png")/*tpa=http://www.elcompanies.com/Style%20Library/EsteeLauder/Images/StyleImages/PlayButtonNormal_181X102.png*/ no-repeat center center; 
	       width:180px; 
	       height:104px; 
	       text-decoration:none;
	   }
       .template_2 .video_player a:hover
       {
           background:url("../Images/StyleImages/PlayButtonHover_181X102.png")/*tpa=http://www.elcompanies.com/Style%20Library/EsteeLauder/Images/StyleImages/PlayButtonHover_181X102.png*/ no-repeat center center; 
           text-decoration:none;
       }
       .template_2 .image_only a
       {
           position:absolute; background:none; 
           width:180px; height:104px; text-decoration:none;
        }

/*End : Story Page Layouts specific styles*/


/* Used on : Creativity Innovation Story Pages */
/* Added by: AT  */
/* Description: Creativity Innovation Story Page Layouts specific styles */

       .creativityinnovationstory_template_2 .StoryHighlightHeaderGap
		{
			margin-top: 60px;
		}
		.creativityinnovationstory_template_2 .lookup .ms-formfieldcontainer .ms-formfieldvaluecontainer                  
	   {
	       padding-bottom : 15px !important;
	   }
		.creativityinnovationstory_template_2 .contextualImage
	   {
		   margin-top: 0px !important;
	   }
	   .creativityinnovationstory_template_2 .contextualImageExtraSpace
	   {
		   margin-top: 40px !important;
	   }
	   /*Styles Override for base.css class to Fix the issue with Long Brand Names*/
	   .creativityinnovationstory_template_2 .content .main_content .header 
	   {
          margin-bottom: 20px;
        }
	   .creativityinnovationstory_template_2 .content .main_content .entry_meta 
	   {
          padding-bottom: 13px;
        }
        .creativityinnovationstory_template_2 .content .main_content .entry_meta .date 
        {
          background: transparent url("../images/story_meta_divider.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/story_meta_divider.png*/ scroll no-repeat 100% center;
          display: block;
          float: left;
          font-family: "ltc-bodoni-175-n4","ltc-bodoni-175-1","ltc-bodoni-175-2",serif;
          font-style: normal;
          font-weight: 400;
          margin-right: 5px;
          padding-right: 8px;
        }
        .creativityinnovationstory_template_2 .content .main_content .entry_meta .author 
        {
          color: #888081;
          display: block;
          float: none;
          text-transform: uppercase;
        }
	   
/*End : Creativity Innovation Story Page Layouts specific styles*/	   
	   
	   
/* Used on : Our Founder Story Pages */
/* Added by: AT  */
/* Description: Our Founder Story Page Layouts specific styles */
	   
	   .ourfounderstory_template_2 .contextualImage
	   {
			margin-top: 14px !important;
	   }
	   .ourfounderstory_template_2 .storycontextual_image span 
	   {
		   line-height: 16px !important;
		   padding-bottom: 10px !important;
		   padding-top: 7px !important;
	   }
	   .ourfounderstory_template_2 .contextualImage
	   {
		   margin-top: 40px !important;
	   }
	   .ourfounderstory_template_2 .story .entry_meta .date
	   {
		   background: url("") repeat scroll 0 0 transparent;
		   display: block;
		   font-family: "ltc-bodoni-175-1" , "ltc-bodoni-175-2" ,serif;
		   font-style: normal;
		   font-weight: 400;
		   margin-right: 5px;
		   padding-right: 8px;
	   }	   
	   /*Styles Override for base.css class to Fix the issue with Pixel Mapping of Date and Author */
	   .ourfounderstory_template_2 .content .main_content .header 
	   {
          margin-bottom: 20px;
        }
	   .ourfounderstory_template_2 .content .main_content .entry_meta 
	   {
          padding-bottom: 13px;
        }
		
/*End : Our Founder Story Page Layouts specific styles*/		

/* Used on : Creative Leaders Story Pages */
/* Added by: AT  */
/* Description: Creative Leaders Story Page Layouts specific styles */
		
		.creativeleaderstory_template_2 .contextualImage
	   {
			margin-top: 0px !important;
	   }	    
	   .creativeleaderstory_template_2 .storycontextual_image span 
	   {
		   line-height: 16px !important;
		   padding-bottom: 10px !important;
		   padding-top: 7px !important;
	   }
	   .creativeleaderstory_template_2 .contextualImageExtraSpace
	   {
		   margin-top: 40px !important;
	   }
	   .creativeleaderstory_template_2 .template_2 .main_content_footer
       {
            clear:both !important;
       }
       /*Styles Override for base.css class to Fix the issue with Pixel Mapping of Date and Author */
	   .creativeleaderstory_template_2 .content .main_content .header 
	   {
          margin-bottom: 20px;
        }
	   .creativeleaderstory_template_2 .content .main_content .entry_meta 
	   {
          padding-bottom: 13px;
        }
        .creativeleaderstory_template_2 .content .main_content .entry_meta .date 
        {
          background: transparent url("../images/story_meta_divider.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/story_meta_divider.png*/ scroll no-repeat 100% center;
          display: block;
          float: left;
          font-family: "ltc-bodoni-175-n4","ltc-bodoni-175-1","ltc-bodoni-175-2",serif;
          font-style: normal;
          font-weight: 400;
          margin-right: 5px;
          padding-right: 8px;
        }
        .creativeleaderstory_template_2 .content .main_content .entry_meta .author 
        {
          color: #888081;
          display: block;
          float: none;
          text-transform: uppercase;
        }
       
/*End : Creative Leaders Story Page Layouts specific styles*/
       
/* Used on : Press Release Story Pages */
/* Added by: AT  */
/* Description: Press Release Story Page Layouts specific styles */
       
       .pressreleasestory_template_2 .leftNav > .nav
        {
            position: absolute;
        }
        .pressreleasestory_template_2 .main_content_footer
        {
            padding-top: 10px ;
        }
        .pressreleasestory_template_2 .highlightsSection
        {
            padding-bottom: 15px;
        }
        .pressreleasestory_template_2 .storyContent
        {
            padding-bottom: 16px;
        }
        .pressreleasestory_template_2 .main_content .article2 : nth-child(2)
        {
            padding-bottom: 16px !important;
        }
        .pressreleasestory_template_2 .content > .aside
        {
            width: 200px;
        }
        .pressreleasestory_template_2 .contextual_image span
        {
            line-height: 16px !important;
            padding-bottom: 10px !important;
            padding-top: 7px !important;
        }
        .pressreleasestory_template_2 .text
        {
            margin-bottom: 0px !important;
        }
        .pressreleasestory_template_2 .article2 .main_content_footer
        {
            margin-top: 15px;
        }
        .pressreleasestory_template_2 .storyContent
        {
            margin-bottom: 0px;
            text-align: left;
            float: left;
        }        
        .pressreleasestory_template_2 .storyContent p
        {
            float: none;
            margin-bottom: 12px !important;
        }
        .pressreleasestory_template_2 .story_highlights
        {
            padding-bottom: 15px; 
            margin-top: 16px;
        }
        /*Styles Override for base.css class to Fix the issue with Long Brand Names*/
	   .pressreleasestory_template_2 .content .main_content .header 
	   {
          margin-bottom: 20px;
        }
	   .pressreleasestory_template_2 .content .main_content .entry_meta 
	   {
          padding-bottom: 13px;
        }
        .pressreleasestory_template_2 .content .main_content .entry_meta .date 
        {
          background: transparent url("../images/story_meta_divider.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/story_meta_divider.png*/ scroll no-repeat 100% center;
          display: block;
          float: left;
          font-family: "ltc-bodoni-175-n4","ltc-bodoni-175-1","ltc-bodoni-175-2",serif;
          font-style: normal;
          font-weight: 400;
          margin-right: 5px;
          padding-right: 8px;
        }
        .pressreleasestory_template_2 .content .main_content .entry_meta .author 
        {
          color: #888081;
          display: block;
          float: none;
          text-transform: uppercase;
        }
        .pressreleasestory_template_2 .storyContent table
        {
            margin-bottom: 12px !important;
        }
        .pressreleasestory_template_2 .storyContent center
        {
            margin-bottom: 12px !important;
        }   
        .pressreleasestory_template_2 .storyContent ul
        {
            margin-bottom: 12px !important;
        }
/*End : Press Release Story Page Layouts specific styles*/

/* Used on : Search Pages */
/* Added by: AT  */
/* Description: Search Page Layout specific styles */

        .template_4-2 .filters_list
        {
            margin-bottom : 0px !important;
        }
        .template_4-2 .pageTitle
        {
            padding-top: 3px !important;
            margin-bottom: 15px !important;
        }
        .template_4-2 .boilerPlatePixelMapping
        {
            margin-bottom: 18px !important;
        }
        .template_4-2 .maintainHeight
        {
            height:35px;
            width:1px
        }
        .template_4-2 .resultLink
        {
            margin-bottom: 7px !important;
        }
        .template_4-2 .searchTerm
        {
            margin-bottom: 14px !important;
            padding-bottom: 10px;
        }
        /* class to make the bottom-border of last search result Solid */
        .template_4-2 .lastResultBorder
	    {
		    border-bottom: #595656 1px solid !important;
	    }
	    /* class to remove the bottom-border of last search result */
	    .template_4-2 .noBorder
	    {
		    border-bottom: none !important;
	    }
	    .template_4-2 .pagination 
	    {
	        padding-top: 0px; 
	        padding-bottom: 18px;
	    }
	    .template_4-2 .entry .header h1
	    {
	         padding-top: 8px !important; 
	         padding-bottom: 15px !important;
	    }
	    .template_4-2 .section .searchterm 
	    {
	        padding-top: 12px;
	    }
	    .template_4-2 .section .totalResults
	    {
	        padding-top: 2px;
	    }
	    .template_4-2 .pagination input:first-child
	     {
	         padding-right: 4px;
	     }
	     .template_4-2 .pagination input:last-child
	     {
	         padding-left: 4px;
	     }
	     .template_4-2 .recent_searches
	     {
	         width: 182px;
	     }
	     .template_4-2 .fd_lightbox .slideshow p.title
        {
            font-size: 20px !important;
        }
        .template_4-2 .siteSearch
        {
            padding-bottom: 0px !important;
            padding-top: 0px !important;
            margin-bottom: 25px !important;
        }
        .template_4-2 .searchOverride
        {
            padding-bottom: 5px !important;
        }
        .template_4-2 .search_submit
        {
           cursor: pointer; 
		   cursor: hand;
        }
        .global_nav .search .search_submit
        {
           cursor: pointer; 
		   cursor: hand;
        }
/*End : Search Page Layout specific styles*/

/* Used on : Our Principle Page */
/* Added by: PR  */
/* Description: Our Principle Page Layout specific styles */

#rightPara 
{
    margin-top:20px;
}
#leftPara img
{
    float:left;
    padding-top:4px;
}
#rightPara img
{
    float:right;
    padding-top:4px;
}

#rightPara .contextual_image
{
    float: right; margin-left: 10px; margin-right: 0px; margin-bottom: 5px; max-width:181px;
}

#leftPara .contextual_image
{
    max-width:181px;
    margin: 0 10px 5px 0;
}

.template_2-1 .contextual_image span , .template_2-1 .contextual_image div
{
    color: #6A6465;
    display: block;
    font-style: italic;
	line-height: 16px !important;
	padding-bottom: 10px !important;
	padding-top: 7px !important;
    margin-top:105px;
}  

/*End : Our Principle Page Layout specific styles*/

/* Used on : Template 2.1b Page */
/* Added by: PR  */
/* Description: To make the section title 70 character long */

.template_2-1 .main_content .header h1 
{
    padding-right:50px;
}

/*
Author: ND
Purpose: Report Title & Report Supporting text when no report image is there
*/
.no-image-report-placeholder
{
    margin-left:-220px;
}

/* Used on : Sitemap Page */
/* Added by: PR  */
/* Description: To make the boiler plate non-mandatory */
.template_4-2 .boiler_plate p{
    margin-bottom: 20px;
    padding-bottom:0px;
}


/* Used on : Unsupported Browser Alert Control */
/* Added by: DB  */
/* Description: Styles added for the Control*/

.messageBox .title {
    color: Snow;
    font-family: arial;
    font-size: 18px;
    height: 30px;
    line-height: 32px;
    padding-left: 20px;
}

.alertbox_message {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
  background: transparent url("../images/lightbox/shade.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/lightbox/shade.png*/ repeat;
  display: none;
}

.alertbox_message > div {
  background: url("../images/lightbox/bg_lightbox.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/lightbox/bg_lightbox.png*/ no-repeat;
  position: relative;
  display: none;
  overflow: hidden;
}

.alertbox_message .close {
  position: absolute;
  right: 15px;
  top: 10px;
  width: 20px;
  height: 20px;
  display: block;
  text-indent: -9999px;
  background: transparent url("../images/icons.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/icons.png*/ no-repeat -700px -950px;
  z-index: 10000;
}
.alertbox_message .messageClose
{
    text-align:center; margin-top:10px;
}
.alertbox_message .messageClose a
{
     background-color:#333; border:1px solid #555; padding:1px 10px;
}

.alertbox_message .messageText
{
    padding:10px 10px 15px 20px;
    margin-top:2px;
    color:#909090;
    background-color:#212121;
    border:1px solid #2c3b48; 
    border-top:none;
}


/* Used on : Stock Quote */
/* Added by: PR  */
/* Description: color for Stock Quote  */
.stockQuote 
{
    color: #EDECED ;
}


/* Used on : ShareThis control on Story Pages */
/* Added by: AT  */
/* Description: Provides styles for ShareThis control on Story Pages  */
.shareThisWidget .footer .footer_extra
{
    background: transparent url("../images/horizontal_rule.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/horizontal_rule.png*/ repeat-x scroll 0 0;
    padding: 30px 200px 0;
    position: static !important;
    width: 560px;
}
.shareThisWidget .main_content_footer
{
    clear: both;
    border-top: #453d3e 1px solid;
    padding: 10px 0px 0px 0px;
}
.shareThisWidget .clear
{
    clear: both;
}
.shareThisWidget .shareMenu
{
    margin: 0px;
    padding: 0px;
    list-style: none;
    position: relative;
}
.shareThisWidget .shareMenu li
{
    float: left;
    padding: 0px 13px 0px 0px;
    height: 16px;
    position: relative;
}
.shareThisWidget #icon_dd
{
    padding: 15px 10px 0px 10px;
    border: 1px solid #6b6262;
    background: url("../images/primary_nav_submenu_background.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/primary_nav_submenu_background.png*/;
    width: 250px;
    position: absolute;
    display: none;
    top: 18px;
    left: 0px;
    z-index: 98989898 !important;
}

.shareThisWidget #icon_dd ul
{
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 30px 0px;
    list-style: none;
}
.shareThisWidget .firstRow
{
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 30px 0px;
    list-style: none;
    border-bottom: 1px dotted #595656;
}
.shareThisWidget #icon_dd ul li
{
    float: left;
    padding: 0px 13px 0px 0px;
    margin-bottom: 10px;
}
.shareThisWidget #icon_dd ul li a.more_Icon
{
    display: block;
    height: 18px;
    width: auto;
    padding-left: 20px;
    text-indent: 0;
}
.shareThisWidget #icon_dd .ddMenu
{
    margin: 0px 0px 0px 30px;
    padding: 0px;
    list-style: none;
    border: none;
}
.shareThisWidget #icon_dd .ddMenu li
{
    float: left;
    padding: 0px 13px 0px 0px;
    margin-bottom: 10px;
}
.shareThisWidget a.more_Icon
{
    display: block;
    height: 23px;
    text-indent: -800em;
    width: 14px;
    background: #FFCC66;
    float: left;
}
/* added width for UI issue- hover not working properly */
.shareThisWidget a.more_Icon
{
    text-indent: 0;
    padding-left: 20px;
    background: url('../images/icon_share.png')/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/icon_share.png*/ no-repeat 0px 0px;
    cursor: text !important;
    width: auto;
}
/* Removing hover image */
.shareThisWidget .elc a.more_Icon:hover
{
    text-indent: 0;
    padding-left: 20px;
}
.shareThisWidget .main_content_footer .shareMenu a
{
    text-indent: 0;
    padding-left: 20px;
}
.shareThisWidget .main_content_footer
{
    clear: both !important;
}
.shareThisWidget .more_IconSel
{
    color: #f8ec92 !important;
}
.shareThisWidget .shareMenuFloat
{
    float: left;
}


/* Used on : Our-Company Landing page */
/* Added by: DB  */
/* Description: Styles for company-factsheet link */
.template_1-0 .boiler_plate .fact_sheet
{
    padding-top:4px;
}
.template_1-0 a.fact_sheet 
{
     background-position: 0 -446px;
}
.elc a.fact_sheet:hover {
  background-position: -700px -446px;
}

/* Used on : Every image */
/* Added by: PR  */
/* Description: To make the image scaling smooth in IE  */
img { 
   -ms-interpolation-mode:bicubic;
    image-rendering: optimizeQuality  ;
}

/* Used on : ViewpointsUserControl on SpotlightEWithList pages */
/* Added by: AT */
/* Description: To make Control accomodate PdfLink and VD mapping  */
.viewpoints .features LI
{
    border-bottom:0px !important;
}
.viewpoints.features .feature p
{
    margin-bottom : 5px !important;
}
.viewpoints.features .feature .downloadSection a
{
    display : block;
}

/* Added By: PR */
/* Description: Change the color white->#F8EFCA */
.keyInitiative .header h2 {
   color: #F8EFCA;
  }


/* Added By: DB */
/* Description: moved styles from template1.o page layouts */

.template_1-0 .proof_point p
{
margin-top: 30px !important;
}

html* .keyInitiativesList
{
    padding-top:1px;
}
/* Added By: DB */
/* Description: styles applied for proofpoint section only for ie7 */

*+html .template_1-0 .proof_point
{
    padding-top:70px;
}

/* Added By: DB */
/* Description: removed extra gap coming in ie7*/
.global_directory .header H1
{
    margin-top: 0px;
}

/* Added By: PR */
/* Description: Change the Home Page Carousal */
.template_0 .outer_list{
    position:relative;
	width:960px;
	margin:0 auto;
    }

				
.template_0 .carouselbg_left{
    position:absolute;
    z-index:2; 
/*    background:url("/Style Library/EsteeLauder/images/cinematic/carousel_bgleft.png") left top no-repeat; */
    width:68px;
    height:465px; 
    float:left;
    left:-85px;
    top:120px;
}
.template_0 .carouselbg_right{
   background:url("../images/cinematic/carousel_bgright100.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/cinematic/carousel_bgright100.png*/ left top no-repeat; 
    position:absolute;
    z-index:2; 
    width:400px; 
    height:465px; 
    float:left;
    left : 50%;
    top:153px;
    margin-left:130px;
    }

.template_0 .list_carousel {
	position:absolute;
	top:170px;
	float:left;
	text-align:center;
	margin:0 0 0 -50px;
	padding: 0;
	width:650px;
	/*border:1px solid red;*/
	height:410px;
	z-index:1;
}
.template_0 .caroufredsel_wrapper{
    position: relative;
    overflow: hidden;
    margin: 0px;
    width: 1000px; 
    height: 415px;
}
.template_0 .list_carousel ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}
.template_0 .list_carousel li {
	text-align: center;
	padding: 0;
	margin: 0 40px 0 0;
	display: block;
	float: left;
}

.template_0 .cinematic {
     background-color:White;
}
.template_0 .clearfix {
	float: none;
	clear: both;
}
.template_0 .pagenp{
	float: left;
    height:14px; 
    line-height:14px; 
    z-index:999; 
    position:absolute;
    top:530px;	
    }

.template_0 .prev {
	width:13px;
	height:12px;
	padding:0;
	display:block;
	margin-right:10px;
	float:left;
}
			
.template_0 .next {
	width:13px;
	height:12px;
	padding:0;
	display:block;
	float:left;
}
#carousalList {
    margin: 0px; 
    float: none; 
    position: absolute; 
    left: 0px; 
    width: 100%;
    height: 415px;
}

/* overriding styles factsheet page layout */
.template_4-3 .main_content .section .label {
  float: left;
  width: 120px;
}
/* overriding styles factsheet page layout */
.template_4-3 .main_content .section .detail {
  margin-left: 15px;
  width: 405px;
  float:left; 
}



/* 19-09-2011 */

.clear {clear: both;}
.downloadLink {
    display: block;
    margin: 5px 0 10px;
    font-style: italic;
    color: #6A6465;
}

.downloadLink_heading {font-size:13px; width:150px; position:absolute; bottom:5px; right:5px; line-height:25px;}

.downloadLink_heading a.download
{
    line-height:16px; display:block;
}

.featured_media > ul li .section .header h1 {
    margin-bottom:17px;
}

.featured_media {
    height: 309px;
}
.media .media_list li a.media_item h3 {
   height:100px;  
  *height:70px;  
  *width:auto;
}

/* Icon and brand in non-featured media */
.media .media_list li a.media_item .media_info {
    /* background: url("/Style Library/EsteeLauder/images/horizontal_header_divide_8.png") no-repeat scroll center top transparent;*/
}

.media .media_list li a.media_item .media_info 
{
    bottom :25px;
    height: 45px;
    *position:static;
    *padding-top:5px;
}

.imgDisc{margin:0 0 0 520px}

.imgDisc h1{
  font-family: "ltc-bodoni-175-i4","ltc-bodoni-175-1","ltc-bodoni-175-2",serif;
  font-style: italic;
  font-weight: 400;
  font-size: 19px;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom:14px
}

.imgDisc span.blurb{
  background: url("../images/horizontal_header_divide_8.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/horizontal_header_divide_8.png*/ no-repeat scroll left top;
  font-size: 13px;
  line-height: 17px;
  padding-top: 7px;
  display:block;
}

/* line 1021, content/stylesheets/base.scss */
.imgDisc span.blurb .date {
  color: #999999;
  font-family: "ltc-bodoni-175-n4","ltc-bodoni-175-1","ltc-bodoni-175-2",serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin-right:7px;
}

.featured_media .nav {
	bottom: 39px;
}

.featured_media .nav .carousel_clip {
    *width: 285px;
    *margin-left:-4px;
}

.media .media_list li a.media_item .alt_content {
    *position:static;
    font-size:13px;
    top:135px;
}

.download_asset 
{
    left: 405px;
    position: fixed;
    top: 525px;
}

.template_3-2 .filters_list
{
    margin-bottom : 0px !important;
}
.template_3-2 .main_content .pagination
{
    margin-right: 20px;
}
.template_3-2 .fd_lightbox .slideshow p.title
{
    font-size: 20px !important;
}

.template_3-2 .filters_list li.date_list h3 ~ ul li{
  background-color: #221e1e;
}

.template_3-2 .filters_list	.date_list .selected
	{
	    background: none !important;
	}

.featured_media .nav .previous {  
    padding-left: 5px ;    
}

.featured_media .nav .next {
    padding-right: 8px;         
}
/* To add the play icon on preview image, in case of video */
.featured_media  .video_player a  {
    position:absolute; 
    background:url("../images/StyleImages/PlayButtonNormal_240X135-1.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/StyleImages/PlayButtonNormal_240X135.png*/ no-repeat center center; 
    width:481px; 
    height:270px; 
    text-decoration:none;
}
/*Styles for Featured Image on media Page */
.featured_media_Image 
{
       width:481px;
       height:270px;
}
    
    
/* To change the play icon of preview image, in case of video */
.featured_media  .video_player a:hover {
     background:url("../images/StyleImages/PlayButtonHover_240X135-1.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/StyleImages/PlayButtonHover_240X135.png*/ no-repeat center center; 
     text-decoration:none;
 }

.template_3-2 .content .aside {
    float: right;
    width: 180px;
}
.template_3-2 .media .media_list li 
{
    margin: 0 19px 19px 0;
}
.media .media_list li a.media_item img {
    margin: 0 auto 20px;
}
.emptyNon-FeaturedMedia
{
    min-height: 0px !important;
}

.media .media_list li a.media_item p 
{
    padding : 5px 10px 10px 10px;
}
.template_3-2 .media .media_item .media_info .videoIconDimension {
    height: 16px;
    width: 17px;
}
.template_3-2 .media .media_item .media_info .imageIconDimension {
    height: 14px;
    width: 20px;
}

/* Used on : Meet our company */
/* Added by: DB  */
/* Description: Meet our company Page layouts */

.meet_our_company .features .feature h1
{
    font-size:19px;
    line-height:21px;
}

.template_3-4 .main_content .pagination-top
{
    margin-top:-55px
}

.template_3-4 .main_content .pagination 
{
    background:none repeat scroll 0 0 #181515;
    border:none;
    float:right;
    padding:20px 20px 15px;
    min-width: 130px !important
}

.meet_our_company .main_content .tab_nav li.selected a
{
    font-size: 28px!important;
   /* font-weight:bold;*/
}
.meet_our_company .main_content .tab_carousel .tab_nav li.selected a
{    
    line-height: 68px!important;
}
.meet_our_company .main_content .tab_nav li a
{
    width: 180px;
}
.meet_our_company .main_content .tab_carousel .tab_nav li a
{    
    padding:0px !important;
    line-height: 68px!important;
    text-align: center;
}
.meet_our_company .main_content .tab_nav li
{
    font-size: 24px!important;
    width: 180px;
    padding:0 0 0 0;
}
.template_3-4 .overlay-slide-component .panel p
{
    padding:10px 30px 0px 30px !important;
    line-height:20px;
    font-size:19px;    
}
.template_3-4 .overlay-slide-component .source .name
{
    margin:20px 0 0;
}
.meet_our_company .boiler_plate 
{
    padding-bottom:30px;
}

.meet_our_company .main_content .tab_carousel .pagers 
{
    top:439px;
}
.meet_our_company .main_content .tab_carousel
{
    height:610px;
    margin-bottom:35px;
}
.meet_our_company .features > .header h1
{
    margin-bottom:14px;
}
.meet_our_company .features .feature img
{
    padding-top: 4px;
}
.meet_our_company .features .feature h1 
{
    padding-bottom:17px;
}
.meet_our_company .related_links > h3
{
    margin-bottom:22px;
}
.meet_our_company .related_links ul li
{
    margin-bottom:10px;
}
.meet_our_company .main_content ul.tabs .person
{
    height:auto;
}


.template_3-4 .main_content .pagination .previous, .template_3-4 .main_content .pagination .next 
{
    margin-top:1px;
}
.template_3-4 .main_content .pagination-bottom
{
    margin-top:-25px;
    padding-bottom: 52px;
}
.meet_our_company .main_content .tab_carousel img.divider
{
    top: 448px;
}
.template_3-4  .overlay-slide-component .source .title
{
    margin:0px 5px 0px 5px;
}
/*End : Meet our company Page Layouts specific styles*/


/* Used on : Connect With Our Brands UserControl */
/* Added by: AT  */
/* Description: Connect With Our Brands UserControl */

.connectwithourbrands .networking
{
    cursor:auto !important;
}

/*End : Connect With Our Brands UserControl specific styles*/

/* Used on : Media Library Page*/
/* Added by: PR  */
/* Description: Disabled icon in next previous  */

.featured_media .nav .disablePagination 
{
    color: grey;
    cursor : default;
}

/* Description: Boiler plate should be in left of download media kit link  */
.mediaLibraryTitle
{
    float:left;
    width:630px;
}

/* Description: Download link in lightbox  */
.lightboxDownloadLink 
{
    position:absolute;
    right:40px;
    top:20px;
}

/* Description: To make the header always on top of other elements */
.template_3-2 .masthead 
{
    z-index : 9990;
}

/* Description: To make the site actions menu appear on top always  */
.template_3-2 .ms-MenuUIPopupBody, .template_3-2 .ms-dlgContent 
{
    z-index : 9999 !important;
}

/* Description: z-index of title is always greater than the z-index of slideshow slides  */
.template_3-2 .imgDisc 
{
    z-index : 999;
    position:absolute;
    *position:static;
}

/* Description: in non featured media library, table structure implemented */
.headH3{
    display: table-cell;
    font-family: "proxima-nova-n3","proxima-nova-1","proxima-nova-2",sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: 19px;
	height:95px;
	height:65px\0px;
	*height:62px;
    padding: 15px 10px;
    vertical-align: middle;
	text-align:center;
    width: 180px;
	color:#F8EFCA;
}

/* Description: in non featured media library, logic to disable title on hover */
.media .media_list li a.media_item:hover .headH3 {
  display: none;
}

/* Description: Ie7 fix in cas of alt content  */
.template_3-2 .media .media_list li a.media_item .alt_content p {
  *padding-top:25px;
  *margin-top:-2px;
}

/* Used on : RSS Readers Page */
/* Added by: AT  */
/* Description: Styles for RSS Readers Page */


.rss-readers .rss_body
{
    margin:0px 60px 100px 60px;
 }
.rss-readers .rssFeed_body
{ 
    border-bottom:1px solid #453d3e; padding-bottom:30px;
}
.rss-readers .rssFeed_body h1
{
	color: white;
    font-family: "proxima-nova-n1","proxima-nova-1","proxima-nova-2",sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 100;
    line-height: 36px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.rss-readers .rssFeed_body p
{
	font-family: "proxima-nova-n3","proxima-nova-1","proxima-nova-2",sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}
 
.rss-readers .rssFeed
{
    margin-top:20px;
}
.rss-readers .rssFeed a
{
    color:#F8EFCA;
}
.rss-readers .rssFeed a:hover
{
    color:#F8EC92;
}
.rss-readers .rssFeed ul
{
    margin:0px; padding:0px; list-style:none; clear:both; padding-top:30px;
}
.rss-readers .rssFeed ul li
{
    padding:0px; margin:0px; margin-right:30px; font-size:17px; color:#aaa6a7; float:left;
}
.rss-readers .rssFeed ul li.first
{
    width:175px; word-wrap: break-word;
}
.rss-readers .rssFeed ul li.last
{
    margin-right:0px !important;
}
.rss-readers .rssFeed ul li a.rssfeed_logo
{
    background: url('../Images/feeds_logo.png.gif')/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/Images/feeds_logo.png*/ no-repeat left top; display:block; width:50px; height:16px;
}
.rss-readers .rssFeed ul li a:hover.rssfeed_logo
{
    background: url('../Images/feeds_logo_hover.png.gif')/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/Images/feeds_logo_hover.png*/ no-repeat left top;
}
.rss-readers .rssFeed ul li ul
{
    margin:0px; padding:0px; list-style:none;width:515px;
}
.rss-readers .rssFeed ul li ul li
{
    float:left; margin:0px 10px 10px 0px; font-size:12px; color:#aaa6a7;
}
.rss-readers .rssFeed ul li ul li a
{
    width:120px; word-wrap:break-word; display:block;
}
.rss-readers .rssFeed ul li table{margin:0px; padding:0px; list-style:none;}
.rss-readers .rssFeed ul li table td{padding:0px 10px 10px 0px; font-size:12px; vertical-align:top; }
.rss-readers .rssFeed ul li table td a{width:109px; word-wrap:break-word; display:block;}

/*End : Styles for RSS Readers Page */

.template_3-4 .main_content .intro h1
{
    margin-right:45px;
}

/*DB: Added styles for meet our company brand page */
.meet_our_company .main_content .tab_carousel ul.tabs li p.info, .meet_our_company .main_content ul.tabs .person .title 
{
    color: #aaa6a7;
}
.meet_our_company .content 
{
    background: #181515 url("../images/content_background.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/content_background.png*/ no-repeat scroll center top;
}

.featured_media .header .entry_meta {
    font-family: "ltc-bodoni-175-n4","ltc-bodoni-175-1","ltc-bodoni-175-2",serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-bottom:21px;
}


.meet_our_company .main_content ul.tabs .person .slogan
{
    font-size: 25px;
}
.overlay-slide-component .panel
{
    border-top: 1px solid #aaaaaa;
}

#featuredCaption {
    color: #6A6465;
    display: block;
    font-style: italic;
    margin: 5px 0 10px;
    position: absolute;
    top: 275px;
}

.featured_media .downloadLink 
{
    display:none;
}

/*DB: Added styles for News section on home page */
.template_0  .news > ul li .article > p
{
	color:#EDECED
}

.template_0  .news > ul li .article
{
	font-size:13px;
	line-height:15px;
}

/*DB:End of styles for News section on home page */

.lightboxDownloadLink
{
    color : transparent !important;
}

div.ms-rtestate-write
{
    color: #000000;
}