/* min-width increase for cinematic section */
/* line 4, content/stylesheets/masthead.scss */
.masthead {
  background-color: #181515;
  height: 120px;
  min-width: 1000px;
  position: relative;
  z-index: 5;
}
/* line 13, content/stylesheets/masthead.scss */
.template_0 .masthead, .template_1-3 .masthead, .template_4-5 .masthead {
  background: transparent url("../images/masthead/background.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/masthead/background.png*/ scroll repeat-x 0 0;
}
/* line 16, content/stylesheets/masthead.scss */
.masthead .header {
  position: relative;
  margin: 0 auto;
  width: 960px;
}
/* line 21, content/stylesheets/masthead.scss */
.masthead .header h1 a {
  background: transparent url("../images/logo.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/logo.png*/ no-repeat scroll left top;
  display: block;
  height: 103px;
  left: -10px;
  position: absolute;
  text-indent: -800em;
  top: 10px;
  width: 160px;
}

/* line 34, content/stylesheets/masthead.scss */
.global_nav ul {
  position: absolute;
  right: 225px;
  top: 20px;
}
/* line 38, content/stylesheets/masthead.scss */
.global_nav ul li {
  border-left: 1px solid #F8EFCA;
  float: left;
  line-height: 10px;
  margin-left: 10px;
  padding-left: 10px;
}
/* line 44, content/stylesheets/masthead.scss */
.global_nav ul li:first-child {
  border-left: none;
}
/* line 48, content/stylesheets/masthead.scss */
.global_nav ul li span,
.global_nav ul li a {
  font-size: 12px;
  line-height: 17px;
}

/* line 55, content/stylesheets/masthead.scss */
.primary_nav {
  left: 160px;
  position: absolute;
  top: 89px;
  width: 820px;
  z-index: 3;
}
/* line 61, content/stylesheets/masthead.scss */
.primary_nav li {
  float: left;
  padding: 0 20px;
}
/* line 64, content/stylesheets/masthead.scss */
.primary_nav li a {
  display: block;
  font-family: "proxima-nova-n3","proxima-nova-1","proxima-nova-2",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  height: 36px;
  line-height: 17px;
  overflow: visible;
  text-transform: uppercase;
}
/* line 72, content/stylesheets/masthead.scss */
.primary_nav li a + ul {
  background: transparent url("../images/primary_nav_submenu_background.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/primary_nav_submenu_background.png*/ repeat scroll 0 0;
  display: none;
  left: auto;
  margin-top: -5px;
  padding: 25px 10px;
  position: absolute;
  top: auto;
  z-index: -1;
}
/* line 83, content/stylesheets/masthead.scss */
.primary_nav li li {
  float: none;
  margin: 15px 10px 0;
  padding: 0px;
}
/* line 87, content/stylesheets/masthead.scss */
.primary_nav li li:first-child {
  margin-top: 0;
}
/* line 90, content/stylesheets/masthead.scss */
.primary_nav li li.nav_group {
  float: left;
  margin-right: 10px;
  margin-top: 0;
}
/* line 95, content/stylesheets/masthead.scss */
.primary_nav li li a {
  background-image: none !important;
  color: #EDECED;
  font-family: "Helvetica Neue Regular", "HelveticaNeue Regular", "Helvetica Neue", "HelveticaNeue", Arial, Helvetica, sans-serif;
  font-size: 11px;
  height: auto;
  line-height: 13px;
}
/* line 102, content/stylesheets/masthead.scss */
.primary_nav li li a:hover {
  color: #f8efca;
}
/* line 107, content/stylesheets/masthead.scss */
.primary_nav li:hover ul {
  display: block;
}
/* line 111, content/stylesheets/masthead.scss */
.primary_nav li:hover a, .primary_nav li.selected a {
  background: transparent url("../images/primary_nav_background.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/primary_nav_background.png*/ no-repeat scroll 49% 100%;
}

/* line 116, content/stylesheets/masthead.scss */
.primary_nav .nav_brands a + ul {
  left: 0;
}
