/* Make the UI for frame of video in lightbox small */
.slideshow .photos .video-js-box{
    width : 618px;
    left:20px;
    position:relative;

}

/* Make the UI for frame of video in slide control  */
.main_content .tab_carousel ul.tabs .video-js-box {
	left: 20px !important;
	width: 680px !important;
	top: 68px !important;
	position:relative;
	height : 406px;
}

/* Stopped the wrapping of brands in header section  */
.headerBrands li {
    max-width : none ;
}

.headerBrands ul li a {
	margin-left:-10px ;
}

.primary_nav li  .brandNavWidth {
 padding-left:25px;
}


/* Make the lightbox scrollable */
.fd_lightbox {
	position:absolute ;
}

/* Home page flag Image fix  */
.template_0 .carouselbg_right {
	margin-left:50px;
}

.template_0 .proof_point {
	margin-left:50px;
}

/* Global search Go button fix  */
.global_nav ul {
    right: 235px;
}

/*Search Page Go button fix  */
.template_4-2 .content .search .text_to_search {
    height: 38px;
    margin-top: -8px;
}

#btnSearchGo 
{
	left: 280px;
    position: absolute;
    top: 112px;
}

/*disable shadow from text area */
input {
	-webkit-appearance: none;
}
