/* Used on : Global Print Style*/
/* Added by: PR  */
/* Description: To make the elements hidden from printing  */
/*-- HIDDEN ELEMENTS --*/
#quickLinks,
.main_content_footer,
.aside,
.back_to_top,
.brand_menu,
.cinematic .carousel .nav,
.content .search,
.content .search_options,
.content_menu,
.download,
.elc .share,
.fact_sheet,
.footer,
.main_content .menu,
.masthead,
.pagination,
.print,
.quick_links,
.read_more,
.see_all,
.see_all_content,
.tab_control .nav,
.template_1-3 .boiler_plate .nav,
.template_4-2 .content form,
.no_print {
  display: none;
}

.template_1-1 .cinematic, .template_2-1 .cinematic, .template_3-1 .cinematic, .template_3-2 .cinematic, .template_3-3 .cinematic, .template_3-4 .cinematic, .template_3-5 .cinematic, .template_3-6 .cinematic, .template_4-0 .cinematic, .template_4-2 .cinematic, .template_4-3 .cinematic, .template_4-4 .cinematic {
  display: none;
}

.cinematic .proof_point img {
    display:none;
}

.template_3-3 .tab_carousel .arrow, .template_3-5 .tab_carousel .arrow {
  display: none;
}

/* Used on : Global Print Style*/
/* Added by: PR  */
/* Description: To define global colors for printing  */
/*-- COLORS --*/
.elc body {
  background-color: white;
}

.elc h1 a, .elc h1 a:hover {
  color: #343434;
}

.elc .template_0 body,
.content {
  background: white;
}


/* Used on : Global Print Style*/
/* Added by: PR  */
/* Description: To define global styles for printing  */

.elc body {
    color: #343434;
    font-family: "Helvetica Neue Regular","HelveticaNeue Regular","Helvetica Neue","HelveticaNeue",Arial,Helvetica,sans-serif;
    font-size: 9pt;
    line-height: 12pt;
}

.boiler_plate {
    margin: 0 0 20pt 0px;
    padding-bottom: 20pt;
    width: 500pt;
}

.boiler_plate h1 {
    font-size: 25pt;
    font-style: normal;
    font-weight: 100;
    line-height: 27pt;
    margin-bottom: 14.5pt;
    text-transform: uppercase;
}

.boiler_plate p {
    font-size: 14.5pt;
    font-style: normal;
    font-weight: 300;
    line-height: 18pt;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
    list-style: none;
}

.elc a 
{
    color:#343434;
    text-decoration: none;
}

.phone {
    background: url("../images/icons-1.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder//images/icons.png*/ no-repeat scroll 0 -550px transparent;
    padding-left: 8.75pt;
}

.contextual_image span {
    line-height: 12pt !important;
    padding-bottom: 7.5pt !important;
    padding-top: 7px !important;
}

/* Used on : Global Print Style*/
/* Added by: PR  */
/* Description: To define global Layout for printing  */

.main_content 
{
    min-height: 225pt;
}

.main_content,
.template_3-1 .main_content,
.template_3-4 .main_content {
  margin-left: 0px;
}
.template_1-0 .main_content, .template_1-2 .main_content, .template_2 .main_content, .template_2-1 .main_content, .template_1-1 .main_content, .template_4-3 .main_content, .template_3-6 .main_content, .template_1-3 .main_content, .template_4-0 .main_content, .template_4-1 .main_content, .template_4-2 .main_content, .template_4-4 .main_content, .template_3-3 .main_content, .template_3-5 .main_content, .template_3-1 .main_content, .template_3-4 .main_content, .template_1-0
.template_3-1 .main_content, .template_1-2
.template_3-1 .main_content, .template_2
.template_3-1 .main_content, .template_2-1
.template_3-1 .main_content, .template_1-1
.template_3-1 .main_content, .template_4-3
.template_3-1 .main_content, .template_3-6
.template_3-1 .main_content, .template_1-3
.template_3-1 .main_content, .template_4-0
.template_3-1 .main_content, .template_4-1
.template_3-1 .main_content, .template_4-2
.template_3-1 .main_content, .template_4-4
.template_3-1 .main_content, .template_3-3
.template_3-1 .main_content, .template_3-5
.template_3-1 .main_content, .template_3-1
.template_3-1 .main_content, .template_3-4
.template_3-1 .main_content, .template_1-0
.template_3-4 .main_content, .template_1-2
.template_3-4 .main_content, .template_2
.template_3-4 .main_content, .template_2-1
.template_3-4 .main_content, .template_1-1
.template_3-4 .main_content, .template_4-3
.template_3-4 .main_content, .template_3-6
.template_3-4 .main_content, .template_1-3
.template_3-4 .main_content, .template_4-0
.template_3-4 .main_content, .template_4-1
.template_3-4 .main_content, .template_4-2
.template_3-4 .main_content, .template_4-4
.template_3-4 .main_content, .template_3-3
.template_3-4 .main_content, .template_3-5
.template_3-4 .main_content, .template_3-1
.template_3-4 .main_content, .template_3-4
.template_3-4 .main_content {
  width: 500pt;
}

.content {
    padding: 20pt 15pt 30pt;
    position: relative;
    width: 520pt;
}

.boiler_plate,
.featured_media {
  margin-left: 0px;
}

.template_2 .cinematic {
  margin-left: 0px;
}

.template_2 .cinematic img {
  width : 270pt;
}

.template_0 .cinematic, .template_1-3 .cinematic, .template_4-5 .cinematic {
  margin-top: 0px;
}

.story .header h1 {
  color: #343434;
}

.proof_point p {
  background: transparent;
}

.print_header {
  display: block;
}

.news > ul li .article {
  width: 160px;
}

.global_directory .col2, .brand_contacts .col2, .corporate_contacts .col2 {
  float: left;
}

.template_3-3 .tab_carousel ul.slides > li, .template_3-5 .tab_carousel ul.slides > li {
  top: 75pt;
}

.template_3-5 .features, .template_3-5 .related_links {
  margin-top: 75pt;
}


/* Used on : Story Pages Print Style*/
/* Added by: PR  */
/* Description: To define printer friendly style on story pages  */
/* Modified On: 07/21/2011 */
/* Purpose: Story page layout structure change */

.template_2 .proof_point p 
{
    font-family: "Helvetica Neue Regular","HelveticaNeue Regular","Helvetica Neue","HelveticaNeue",Arial,Helvetica,sans-serif;
    font-size: 13pt;
    font-style: italic;
    font-weight: 400;
    line-height: 18pt;
    color : #343434 !important ;
    text-transform: uppercase;
    z-index:213; 
    width: 230pt;
    position: absolute;
}

.template_2 .cinematic {
    background-color: transparent;
    margin-bottom: 22.5pt;
    padding-top: 0;
    position: relative;
    width: 520pt;
}

 .template_2 .proof_point {
    float: right;
    height: 105.75pt;
    margin-top: 0;
    right: 0;
    width: 210pt;
}

.proof_point {
    height: 166.5pt;
    padding-top: 30pt;
    position: absolute;
    top: 0;
    width: 297px;
    z-index: 3;
}

.story .header {
    border-bottom: 1px solid #453D3E;
    margin-bottom: 15pt;
    position: relative;
}
.story .header h1 {
    font-size: 27pt;
    font-style: normal;
    font-weight: 100;
    line-height: 27pt;
    padding-bottom: 14.5pt;
    width: 360pt;
}

.story p {
    margin-bottom: 14.5pt;
}

.proof_point img {
    left: 0;
    position: absolute;
    top: 0;
    z-index: -1;
}

.template_2 .story .story_highlights {
    float: left;
    width: 150pt;
    clear: both;
    white-space: normal;
    margin-top: 20pt;
}

.story .story_highlights .text {
    border-right: 1px solid #453D3E;
    margin-bottom: 15pt;
    width: 135pt;
}

.article2 .ms-rtestate-field {
     display :block !important;
     padding-bottom: 11pt !important;
 }
 .storyHighlights {
    margin-bottom:6pt !important;
    margin-top: 20pt;
 } 

.story .story_highlights h3 {
    font-size: 17pt;
    font-style: italic;
    font-weight: 400;
    line-height: 20pt;
    text-transform: uppercase;
}

.story .story_highlights ul li {
    font-size: 13.5pt;
    font-style: normal;
    font-weight: 300;
    line-height: 13.5pt;
    margin-top: 14.5pt;
    margin-left: 11pt;
    list-style-image: url("../images/print_list_chevron.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/print_list_chevron.png*/;
    list-style-position: outside;
}

.story .story_highlights ul{
    left: -35px;
    margin-left: 20px;
    position: relative;
    list-style-image: url("../images/print_list_chevron.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/print_list_chevron.png*/;
    list-style-position: outside;
    width:135pt;

}

.elc .template_2 .contextual_image {
    display: block;
    margin: 0 13.5pt 0 0;
}

.elc .template_2 .contextual_image img {
    display: inline;
}

.elc .template_2 .contextual_image span 
{
    border-bottom: 1px dotted #595656;
    color: #453D3E;
    display: block;
    font-style: italic;
    line-height: 22.5pt;
}

.template_2 .article2 p {
    float: none;
    margin-bottom: 0;
    text-align: left;
}

.template_2 .main_content .entry_meta 
{
    padding-bottom: 13px;
}
.template_2 .main_content .entry_meta .date 
{
    background: transparent url("../images/story_meta_divider.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/story_meta_divider.png*/ scroll no-repeat 100% center;
    display: block;
    float: left;
    font-family: "ltc-bodoni-175-n4","ltc-bodoni-175-1","ltc-bodoni-175-2",serif;
    font-style: normal;
    font-weight: 400;
    margin-right: 5px;
    padding-right: 10px;
}
.template_2  .main_content .entry_meta .author 
{
    color: #888081;
    display: block;
    float: none;
    text-transform: uppercase;
}

article2 p {
    float: none;
    margin-bottom: 0;
    text-align: left;
}
/* Used on : Template2.1 Pages Print Style*/
/* Added by: PR  */
/* Description: To define printer friendly style on Template2.1 Pages  */

.template_2-1 blockquote {
    background: url("../images/template_2-1/print_quote.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/template_2-1/print_quote.png*/ no-repeat scroll 0 0 transparent;
    font-size: 14.5pt;
    font-style: normal;
    line-height: 18pt;
    margin: 1em 14.5pt 1em 0;
    padding-left: 37.5pt;
}

p.quote_source {
    font-size: 14.5pt;
    line-height: 18pt;
    background: url("../images/template_2-1/print_dash.gif")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/template_2-1/print_dash.gif*/ no-repeat scroll 0 0 transparent;
    padding-left: 37.5pt;
}

.titlePadding 
{
    padding-left: 37.5pt;
}

p.quote_source .author_name {
    font-style: italic;
    font-weight: 400;
}

p.quote_source .author_title {
    font-size: 9pt;
}

/* Used on Lauder Family Page */
.content_holder {
    margin: 0;
    width: 237.5pt;
    vertical-align:top;
}

.template_2-1 .main_content .content_holder .header h1 {
   border-bottom: none;
}


.template_2-1 .main_content .header h1 {
    border-bottom: 1px solid;
    clear: both;
    font-size: 16pt;
    font-style: normal;
    font-weight: 300;
    line-height: 22.5pt;
    margin-bottom: 14.5pt;
    padding-bottom: 3.75pt;
    padding-top:0pt;
    text-transform: uppercase;
}

.template_2-1 .header h1 {
    border-bottom: 1px solid;
    clear: both;
    font-size: 16pt;
    font-style: normal;
    font-weight: 300;
    line-height: 22.5pt;
    margin-bottom: 14.5pt;
    padding-bottom: 3.75pt;
    padding-top:14.5pt;
    text-transform: uppercase;
}

.template_2-1 .main_content .section p {
    margin-bottom: 20px;
}

.template_2-1 .main_content p {
    margin-bottom: 0px;
}

.template_2-1 .keyInitiativesList {
    list-style: none outside none;
}

.template_2-1 .keyInitiative:first-child {
    border-top: medium none;
    padding-top: 0;
}

.template_2-1 .keyInitiative {
    border-top: 1px dotted #595656;
    padding: 14.5pt 0 14.5pt 37.5pt;
    width: 330pt;
}
.template_2-1 .keyInitiativesList {
    list-style: none outside none;
}

.template_2-1 .keyInitiative .header .entry_meta {
    float: left;
    font-family: "ltc-bodoni-175-1","ltc-bodoni-175-2",serif;
    font-size: 18pt;
    font-style: normal;
    font-weight: 400;
    line-height: 18pt;
    margin-left: -37.5pt;
    width: 37.5pt;
}

.template_2-1 .keyInitiative .header .entry_meta {
    font-family: "ltc-bodoni-175-1","ltc-bodoni-175-2",serif;
    font-size: 18pt;
    font-style: normal;
    font-weight: 400;
    line-height: 18pt;
}

.template_2-1 .keyInitiative .header h2 {
    font-size: 14pt;
    font-style: normal;
    font-weight: 300;
    line-height: 15pt;
    margin-bottom: -7.5pt;
    padding-bottom: 14.5pt;
}


#entries_section ul li .entry_2 h1 {
    background: url("../images/horizontal_header_divide.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/horizontal_header_divide.png*/ no-repeat scroll left bottom transparent;
    border-bottom: medium none;
    font-size: 12pt;
    font-weight: normal !important;
    line-height: 15pt;
    margin-bottom: 3.75pt;
    min-height: 15pt;
    padding-bottom: 9pt;
    padding-top: 0px;
    text-transform: none;
}

.template_2-1 .entry_2 {
    border-bottom: 1px dotted #595656;
    float: left;
    margin-bottom: 14.5pt;
    padding-bottom: 14.5pt;
    width: 388pt;
}

.template_2-1 .entry_2 p img
{
     display:inline;
     margin:3pt 10.5pt 10.5pt 0px;
}

.template_2-1 .header h1 span {
    color: #AAA6A7;
    display: block;
    font-size: 9pt;
    line-height: normal;
    margin-top: 2px;
}


#entries_section ul li .entry_2 h1 {
    background: url("../images/horizontal_header_divide.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/horizontal_header_divide.png*/ no-repeat scroll left bottom transparent;
    border-bottom: medium none;
    font-size: 12pt;
    font-weight: normal !important;
    line-height: 15pt;
    margin-bottom: 3.75pt;
    min-height: 15pt;
    padding-bottom: 9pt;
    padding-top: 0px;
    text-transform: none;
}

/*float set to none for working here images print  */
#entries_section ul li .entry_2 {
    border-bottom: 1px dotted #595656;
    margin-bottom: 14.5pt;
    min-height: 125pt;
    padding-bottom: 14.5pt;
    width: 388pt;
    float : none ;
}


.template_2-1 .entry_2 img 
{
    float: left;
    margin:3pt 10.5pt 14.5pt 0px;
}

 .entry_2 img 
{
    float: left;
    margin: 3.75pt 16pt 6px 0px;
}

.template_2-1 .boiler_plate p{
 padding-bottom:12pt;
 border-bottom: 1px solid #453D3E;
}
.template_2-1 .boiler_plate {
 padding-bottom:0px;
}

/* For Generic Landing sub page new classes added */

.template_2-1 .main_content .general_entry{
	border-top: 1px dotted #595656;
	padding-bottom: 10pt;
    width: 388pt;
    clear:left;
}

.template_2-1 .main_content .general_entry .header {
    margin-top: 10pt;
    padding-top: 10pt;
    width: 388pt;
}

.template_2-1 .main_content .general_entry h1{

    border-bottom: medium none;
    font-size: 12pt;
    font-weight: normal !important;
    line-height: 15pt;
    margin-bottom: 3.75pt;
    min-height: 15pt;
    padding-bottom: 9pt;
    padding-top: 0;
    text-transform: none;}

.template_2-1 .main_content .general_entry img{
	float:left ;
 	margin: 3pt 10pt 10pt 0;
 	display:block;
}

.description {
	
}

/* For lauder family page Table structure implemented */
.template_2-1 tr.entry_2 {
    float: none;
    width: 388pt;
}

.template_2-1 tr.entry_2 img 
{
    float: none;
}

.template_2-1 tr.entry_2 td {
    border-bottom: 1px dotted #595656;
    padding-top: 14.5pt;
    padding-bottom: 14.5pt;
}

/* Used on : Company Fact Sheet Pages Print Style*/
/* Added by: PR  */
/* Description: To define printer friendly style on CFS Pages  */

 .template_4-3 .main_content p {
    margin-bottom: 14.5pt;
}

.template_4-3 .main_content .header h1 {
    border-bottom: 1px solid;
    clear: both;
    font-size: 16pt;
    font-style: normal;
    font-weight: 300;
    line-height: 22.5pt;
    margin-bottom: 14.5pt;
    padding-bottom: 3.75pt;
    text-transform: uppercase;
}

.contact_info {
    float: right;
    width: 138.75pt;
}

.contact_info h2 {
    border-bottom: 1px dotted #595656;
    font-size: 14pt;
    font-style: italic;
    font-weight: 400;
    line-height: 27pt;
    margin-bottom: 12pt;
    min-height: 27pt;
    padding-top: 9pt;
    text-transform: uppercase;
}

.contact_info li {
    line-height: 12pt;
    list-style: none outside none;
    padding-bottom:6pt;
}

.template_4-3 .boiler_plate {
    margin-bottom: 0;
    padding-bottom: 0;
    width: 405pt;
}

.template_4-3 .boiler_plate h1 {
    padding-bottom: 37pt;
    margin-bottom: 0pt;
}

.template_4-3 .main_content .section {
    padding-top: 10pt;
}

a {
    background: none repeat scroll 0 0 transparent;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    color: #343434;
    text-decoration: none;
}

.elc a.back_to_top {
    background-position: -700px -997px;
    padding-left: 11pt;
    text-transform: uppercase;
}

.elc a p.read_more, .elc a.read_more, .elc a.fact_sheet, .elc a.see_all, .elc a.see_all_content, .elc a.rss, .elc a.email, .elc a.download, .elc a.watch, .elc a.print, .elc a.slideshow, .elc a.back_to_top {
    background: url("../images/icons-1.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder//images/icons.png*/ no-repeat scroll 0 0 transparent;
    padding-left: 8.75pt;
    text-transform: lowercase;
}

.template_4-3 .main_content .section table {
    margin-bottom: 14.5pt;
}

.template_4-3 .main_content .section tr td{
    border-bottom: 1px dotted #595656;
    padding: 7.5pt 10pt 7.5pt 0;
}

/*last row in every section for fact sheet*/
.template_4-3 .main_content .section tr.last td{
    border-bottom: none;
}

.template_4-3 .main_content .section .detail a , .template_4-3 .main_content .brandDetail a{
    color: #343434 ;
}

.price , .change {
    padding-left: 10px;
}

/* Used on : Stock Quote */
/* Added by: PR  */
/* Description: color for Stock Quote  */
.stockQuote 
{
    color: #AAA6A7 ;
}

/* Template 4.3 : brands section */

.template_4-3 .main_content .section .label {
  width: 200pt;
}

.template_4-3 .main_content .section .detail {
  width: 300pt;
}


/* Used on : Our Principle Pages Print Style*/
/* Added by: PR  */
/* Description: To define printer friendly style on Our Principle Pages  */

#leftPara 
{
    margin-bottom:14.5pt;
}

#leftPara img
{
    padding-top:3.75pt;
}

#leftPara .contextual_image
{
    max-width:136pt;
}

#rightPara img
{
    padding-top:3pt;
}

#rightPara .contextual_image {
    float: right;
    margin-left: 14.5pt;
    margin-right: 0;
    max-width: 136pt;
}

.template_2-1 .contextual_image span ,.template_2-1 .contextual_image div
{
    color: #453D3E;
    display: block;
    font-style: italic;
	line-height: 12pt !important;
	padding-bottom: 7.5pt !important;
	padding-top: 7px !important;
    margin-top:0px;
    border-bottom: 1px dotted #595656;
}  

.template_2-1 .contextual_image {
    float: left;
    margin: 0 13.5pt 0 0;
}

.template_2-1 .storycontextual_image {  
  float: left;
  margin: 0 13.5pt 0pt 0;
}

/*-- ----------------------------------------------------------Press Release Stories--------------------------------- ------------------------------- --*/
    
.template_1-1 .highlightsSection
{
    padding-bottom: 11pt;
}
        
.template_1-1 .main_content .article2 : nth-child(2)
{
    padding-bottom: 12pt !important;
}

.template_1-1 .contextualImage
{
    margin-top: 30pt !important;
}
.template_1-1 .text
{
    margin-bottom: 0px !important;
}
.template_1-1 .article2 .main_content_footer
{
    margin-top: 11pt;
}
.template_1-1 .storyContent
{
    margin-bottom: 0px;
    text-align: left;
    float: left;
    padding-bottom: 12pt;
}
        
.template_1-1 .storyContent p
{
    float: none;
}

.template_1-1  .story .story_highlights {
    clear: both;
    float: left;
    margin: 14.5pt 14.5pt 0 0;
    padding-right: 0;
    white-space: normal;
    width: auto;
}
.template_1-1 .contextual_image {
    float: left;
    margin: 0;
    width : 136pt;
}

.template_1-1 .contextual_image span 
{
    border-bottom: 1px dotted #595656;
    color: #453D3E;
    display: block;
    font-style: italic;
    line-height: 12pt;
}

.template_1-1 .main_content .entry_meta 
{
    padding-bottom: 13px;
}
.template_1-1 .main_content .entry_meta .date 
{
    background: transparent url("../images/story_meta_divider.png")/*tpa=http://www.elcompanies.com/Style Library/EsteeLauder/images/story_meta_divider.png*/ scroll no-repeat 100% center;
    display: block;
    float: left;
    font-family: "ltc-bodoni-175-n4","ltc-bodoni-175-1","ltc-bodoni-175-2",serif;
    font-style: normal;
    font-weight: 400;
    margin-right: 5px;
    padding-right: 10px;
}
.template_1-1  .main_content .entry_meta .author 
{
    color: #888081;
    display: block;
    float: none;
    text-transform: uppercase;
}


.print_subpage td,.print_subpage div
{
    display:inline;
}

.print_subpage .entry_2 > p 
{
    display:block;
    min-height:45pt;
}

.spacer
{
    height: 145pt;
    float:left;
	width: 0.01pt ;
}

