/*-- XHTML Reset --*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin:0; padding:0; border:0; outline:0; font-size:100%; background:transparent; }
body { line-height:1; }
ol, ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
:focus { outline:0; }
ins { text-decoration:none; }
del { text-decoration:line-through; }
table { border-collapse:collapse; border-spacing:0; }
img{ border:0; }

body{ font:normal 12px Verdana, Arial, sans-serif; }
body.bg{ background:#fff; }
#frame{ width:900px; margin:auto; }

/*-- Global Classes --*/
.clear{ clear:both; }
.hide{ outline:0; text-indent:-9999px; display:block; }
.False{ display:none; }
#flash-video{ display:none; }
@media aural { .addr{ speak-numeral:continuous; } .tel, .zip{ speak-numeral:digits; } }

/*-- Accordion Classes --*/
.submit_find, .submit_quote, .submit_login, .header, .quality_coverage_map, .now_available_map, .error_image, .content, .search_input, .icon_open, .icon_closed{ background: url(Content/sprites.png)/*tpa=http://www.auto-owners.com/DesktopModules/HomePageAccordion/Content/sprites.png*/ no-repeat; }
.accordion_panel{ width:292px; height:286px; max-height:286px; overflow:hidden; min-height:1px; float:left; margin-right:8px; }
.accordion_panel .header{ width:292px; height:33px; margin:0; padding:0 0 0 31px; background-position:0 -90px; line-height:33px; font-size:18px !important; color:#fff; }
#promo div#accordion_panel.accordion_panel h2.header{ width:292px; height:45.5px; margin:0; padding:0 0 0 31px; background-position:0 0px; background-size: 292px 45.5px; background-image: url(Content/index_sprite_png8.png)/*tpa=http://www.auto-owners.com/DesktopModules/HomePageAccordion/Content/index_sprite_png8.png*/; line-height:33px; font-size:18px !important; color:#fff; }
.accordion_panel .header span {position: relative; top: 6px;}
.accordion_panel .header:hover{ cursor:pointer; }
.accordion_panel .icon_open{ display:block; float:left; width:15px; height:15px; margin:12px 8px 0 0; background-position:-100px 0; }
.accordion_panel .icon_closed{ display:block; float:left; width:15px; height:15px; margin:12px 8px 0 0; background-position: -100px -15px; }
.accordion_panel .content{ position:relative; height:172px; padding:7px 18px 8px; border:0px solid #000; border-width:0 1px; background-position: 0 -342px; background-repeat:repeat-x; text-align:center; }
#promo div#accordion_panel.accordion_panel .content{ position:relative; height:180px; padding:7px 18px 8px; border:0px solid #000; border-width:0 1px; background-repeat:repeat-x; text-align:center; }
.accordion_panel .content ul{ list-style-type: disc; margin-left: 32px; text-align: left; }
.accordion_panel .content ul li{ list-style-type: disc; }
.accordion_panel .content li .list_item{ font-size: 12pt; }
.accordion_panel .content .sign_up { font-size: 14px; font-weight: bold; }
.accordion_panel .submit_quote{ display:block; float:left; width:70px; height:30px; margin-left:5px; background-position:0 -30px; text-indent:-9000px; }
.accordion_panel .submit_quote:hover{ cursor:pointer; }
.accordion_panel .submit_find{ display:block; float:left; width:70px; height:30px; margin-left:5px; background-position:0 0; text-indent:-9000px; }
.accordion_panel .submit_find:hover{ cursor:pointer; }
.accordion_panel .submit_login{ display:block; width:94px; height:30px; margin:9px auto; background-position:0 -60px; text-indent:-9000px; }
.accordion_panel .now_available_map{ display:block; width:182px; height:109px; margin:9px auto; background-position:0 -232px; }
.accordion_panel .quality_coverage_map{ width:182px; height:109px; display:block; margin:9px auto; background-position:0 -123px; }
.accordion_panel .search_input{ float:left; width:165px; height:28px; padding:0 6px; border:none; background-position:-100px -60px; }
.accordion_panel .address_search{ display: block; padding-left: 5px; text-align: left; font-family:Tahoma, Arial, Helvetica; font-size:12px; font-weight:normal; line-height:14px; }

.accordion_panel .error{ display:none; position:absolute; top:40px; left:18px; width:245px; min-height:15px; margin:5px auto 0; padding:5px 0 5px 5px; background:url(Content/error_gradient.png)/*tpa=http://www.auto-owners.com/DesktopModules/HomePageAccordion/Content/error_gradient.png*/ repeat-x; -webkit-background-size:1px 100%; -moz-background-size:1px 100%; -o-background-size:1px 100%; background-size:1px 100%; border:2px solid #cc3333; }
.accordion_panel .error .error_image{ float:left; width:16px; height:17px; background-position:-100px -30px; }
.accordion_panel .error .error_message{ float:left; width:224px; padding-left:5px; text-align:left; color:#cc3333; }
.accordion_panel .spacer{ height:10px; }

