
/* <global border/margin etc & box model reset>

*,
	:before,
		:after{
	margin:0;
	border:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
	display:block;
}

nav ul {

	list-style:none;
}

 </global border/margin etc & box model reset> */

/* <buttons> */

body.siteOptimization button{
	margin:0;
	border:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

body.siteOptimization .css-button {
	display:inline-block;
	line-height:14px;
	font-size: 11px;
	font-family: Arial,sans-serif;
	padding:10px;
	margin:10px;
	/* outline:0; - leave in for keyboard focus accessibility? */
	text-align:center;
	border-radius:3px;
	text-decoration:none;
	text-transform: uppercase;
	cursor:pointer;
	-webkit-appearance:none;
	border:none;
	/* RL-220 - AM - letter-spacing: 0.025em;*/
	letter-spacing: 0.025em;
}

/*Moved to css/ie.css because of RL-456*/
/*body.siteOptimization.ieVersion .css-button,
	body.siteOptimization.ie7Version .css-button{
	/* RL-220 - AM - letter-spacing: 0.07em;
	letter-spacing: 0.07em;
}
*/

/*
.css-button.primary {
	background: #1a1b46;
	color:white;
}

.css-button.secondary {
	background: #adbcc9;
	color:#fff;
}
*/

body.siteOptimization .css-button.disabled,
body.siteOptimization .css-button.applyDisabled,
body.siteOptimization .css-button.editDisabled,
body.siteOptimization .css-button.deleteDisabled,
body.siteOptimization .quantity-control.disabled {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

body.siteOptimization .css-button.primary {
	padding:14px;
	background: #1a1b46;
	color:white;
}

body.siteOptimization.no-touch .css-button.primary:hover,
body.siteOptimization .css-button.primary:focus,
body.siteOptimization .css-button.primary:active{
			background: #2a4b87;
}

body.siteOptimization .css-button.primary.disabled{
	background:#dddfdf;
	cursor:default;
}

body.siteOptimization .css-button.secondary{
	background: #adbcc9;
	color:#fff;
}

body.siteOptimization #div-polocolor #showWishlistMessage {
	position: absolute;
	width: 340px!important;
}

body.siteOptimization .regularPDP #div-polocolor #showWishlistMessage {
	position: relative;
}


body.siteOptimization.no-touch .css-button.secondary:hover,
body.siteOptimization .css-button.secondary:focus,
body.siteOptimization .css-button.secondary:active{
			background: #2a4b87;
}

body.siteOptimization .css-button.secondary.disabled:hover,
body.siteOptimization .css-button.secondary.disabled{
	background:#dddfdf;
	cursor:default;
}

body.siteOptimization .product-page .css-button.secondary{
	background:#fff;
	border:1px solid #1a1b46;
	color:#1a1b46;
}

body.siteOptimization.no-touch .product-page .css-button.secondary:hover,
body.siteOptimization .product-page .css-button.secondary:focus,
body.siteOptimization .product-page .css-button.secondary:active{
			background: #fff;
			color:#2a4b87;
}

body.siteOptimization .product-page .css-button.secondary.disabled{
	cursor:default;
}

body.siteOptimization .css-button.tertiary{
	background:#fff;
	color:#1a1b46;
}

body.siteOptimization.no-touch .css-button.tertiary:hover,
body.siteOptimization .product-page .css-button.tertiary:focus,
body.siteOptimization .product-page .css-button.tertiary:active{
			color:#2a4b87;
}

body.siteOptimization .tertiary.disabled{
	cursor:default;
}

/* </buttons> */


body.siteOptimization label,
body.siteOptimization #site-content label { /* JoeS add selector "#site-content label" */
	display:inline-block;
	font-family:Arial, sans-serif;
	font-size:11px;
	font-weight: normal;
	color:#333;
	padding:10px 0;
	line-height: 11px;
	min-width:85px; /* was 100px */
	float: left;
}



body.siteOptimization.poloCustomColor2 #embroideryNameStep #enter_name label {
    padding: 0;
}

body.siteOptimization #site-content .colorHeader span#colorControl{
	margin-top:0px;
	display:inline-block;
}

body.siteOptimization .size-select {
display:block;
min-height:25px;
}

body.siteOptimization .size-select label {
float:left;
}

body.siteOptimization .select-container {
position:relative;
float:left;
width:236px;
padding-top:4px;
background:white;
border:1px solid #b2b2b2;
cursor:default;
border-radius:4px;
}

body.siteOptimization .select  {
padding:5px;
z-index:2;
}

body.siteOptimization .select:hover,
body.siteOptimization .select:focus{
	outline:none;
	color:#1a1b46;
	font-weight:bold;
}

body.siteOptimization .down-arrow{
float:right;
margin-top:0px;
padding-top:5px;
font-size:20px;
height:100%;
overflow:hidden;
z-index:1;
}
body.siteOptimization .drop-down{
display:none;
width:236px;
position:absolute;
top:34px;
left:-1px;
background:white;
border:1px solid #b2b2b2;
border-radius:4px;
}
body.siteOptimization .drop-down li{
outline:none;
list-style:none;
padding:6px;
color:#606060;
cursor:default;
}
body.siteOptimization .drop-down li:hover,
body.siteOptimization .drop-down li:focus{
color:#1a1b46;
font-weight:bold;
}
body.siteOptimization .drop-down li.selected {
background:#1a1b46;
color:#fff;
}
body.siteOptimization .drop-down li.selected:hover {
font-weight:normal;
}

/* <add to bag> */

body.siteOptimization .add-to-bag {
	display:inline-block;
}
body.siteOptimization .add-to-bag div {
	box-sizing: content-box;
}
body.siteOptimization .add-to-bag label {
	float:left;
}
body.siteOptimization .add-to-bag a {
	display:block;
	width:100%;
	height:100%;
	text-decoration:none;
	color:#1a1b46;
}
body.siteOptimization.no-touch .add-to-bag a:hover{
	color:#fff;
	background: #2a4b87;
}
body.siteOptimization .add-to-bag .disabled a {
	color:#fff;
	cursor:default;
}

body.siteOptimization .add-to-bag .disabled a:hover,
body.siteOptimization .add-to-bag .disabled a:focus {
	background:none;
}

body.siteOptimization .add-to-bag .addToBagTooltip
{
	display:none;
margin-left: 20px;
float: left;
}

body.siteOptimization #site-content .add-to-bag .toolTipText,
body.siteOptimization .add-to-bag .toolTipText
{
	display: inline-block;
	padding-top: 10px;
	font-family: "Didot W01 Italic";
	color: #b10200;
}

body.siteOptimization .add-to-bag .quantity-control {
	text-align:center;
	display:block;
	float:left;
	font-family: "Helvetica Neue";
	font-weight: lighter;
	font-size:18px;
	line-height:28px;
	width:33px;
	height:29px;
	border:1px solid #b2b2b2;
}
body.siteOptimization .add-to-bag .quantity-control.subtract{
	border-right:none;
	border-top-left-radius:4px;
	border-bottom-left-radius:4px;
	font-weight: lighter;
}
body.siteOptimization .add-to-bag .quantity-control.subtract a {
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

body.siteOptimization .add-to-bag .quantity-control.add{
	border-left:none;
	border-top-right-radius:4px;
	border-bottom-right-radius:4px;
}
body.siteOptimization .add-to-bag .quantity-control.add a {
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
}

body.siteOptimization .add-to-bag .quantity-control.input{
	width: 32px;
}

body.siteOptimization #site-content .add-to-bag .quantity-control.add a,
body.siteOptimization .add-to-bag .quantity-control.add a,
body.siteOptimization #site-content .add-to-bag .quantity-control.subtract a,
body.siteOptimization .add-to-bag .quantity-control.subtract a {
	font-family: "Helvetica Neue";
	font-weight: lighter;
	font-size:18px;
	line-height: 30px;
	height: 29px;
}

body.siteOptimization.ieVersion #site-content .add-to-bag .quantity-control.add a,
body.siteOptimization.ieVersion .add-to-bag .quantity-control.add a,
body.siteOptimization.ieVersion #site-content .add-to-bag .quantity-control.subtract a,
body.siteOptimization.ieVersion .add-to-bag .quantity-control.subtract a {
	font-family: monospace;
}



body.siteOptimization .add-to-bag .quantity-control.input:hover,
body.siteOptimization .add-to-bag .quantity-control.input:focus{
		background: none;
}
body.siteOptimization .add-to-bag .quantity-control.disabled{
	background:#d6d6d6;
	color:white;
}
body.siteOptimization .add-to-bag .quantity-control.disabled:hover{
	background:#d6d6d6;
}
body.siteOptimization .add-to-bag input{
	text-align:center;
	color:#333;
	display:block;
	width:100%;
	height:100%;
	margin:auto;
	border:0;
	font-size: 11px;
	font-family: Arial,sans-serif;
}

body.siteOptimization.touch .add-to-bag .quantity-control.input input {
	padding-top: 4px;
}
body.siteOptimization.touch .add-to-bag .quantity-control a,
body.siteOptimization.touch #site-content .add-to-bag .quantity-control a {
	line-height: 25px;
}

body.siteOptimization.ieVersion .add-to-bag input{
	width:85%;
	padding-top: 4px; margin-left: 2px;
}



/* </add to bag> */

body.siteOptimization .addToWishList {
	background: url("../../images/plus_9x9.gif")/*tpa=http://www.ralphlauren.com/images/plus_9x9.gif*/;
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 14px;
	white-space: nowrap;
}



body.siteOptimization .css-button.secondary.applyDisabled,
body.siteOptimization .css-button.secondary.applyDisabled:hover,
body.siteOptimization .css-button.secondary.editDisabled,
body.siteOptimization .css-button.secondary.editDisabled:hover,
body.siteOptimization .css-button.secondary.deleteDisabled,
body.siteOptimization .css-button.secondary.deleteDisabled:hover {
    background:#dddfdf;
}

body.siteOptimization #addresses select,
body.siteOptimization #shipping select,
body.siteOptimization #payment select,
body.siteOptimization #review select {
	padding: 0;
}


/* <parametric filters> */
.cmfilter .selectBox {
	text-align: left;
}

span.ie-adjust {position: relative}

#list-orders-details-wrap span.release-date-info {
	font-family: Arial, bold;
	font-size: 11px !important;
	font-weight: bold;
	color: #666;
}