
.availability-message {
	color: #666;
	display: block;
	font-size: 10px !important;
	font-family: Arial, Regular !important;
	height: 15px;
	padding-top: 10px !important;
	text-transform: uppercase;
}

div.swatches.is_preorderable {
	padding-top: 13px;
}
.ieVersion div.swatches.is_preorderable {
	padding-top: 12px;
}

