/* LTE IE6
---------------------------------------------------------------------------------------- //// */

/* GLOBAL ----------------------------------------- //// */
.ie6 .button_search a,
.ie6 .button_search a:visited,
.ie6 .button_search button,
.ie6 .button_search input {
    background-image: url(../../images/global/search.gif)/*tpa=http://www.starbucks.com/static/images/global/search.gif*/;
}

/* BLOG POST ----------------------------------------- //// */
#page_blog_post #blog-comments .terms input {
	border:0;
	vertical-align:middle}
#page_blog_post #blog-comments .blog-comment.admin {
	border-color:#115426}
#page_blog_post #blog-comments .comment-header .user-name {
	margin-left:-1.3em}
#page_blog_post #blog-comments .comment-header .comment-age {
	margin-left:-2em}
#page_blog_post #blog-comments .comment-header .avatar {
	margin-left:-1.5em}
#page_blog_post .sign-in label {
	margin-right:1.2em}
#page_blog_post .sign-in {
	padding-bottom:0}
#page_blog_post .comment-header,
#page_blog_post #blog-comments .comment-body,
#page_blog_archive #tag-cloud li {
	display:inline;
	zoom:1}
#page_blog_post .reply span.button {
	margin-left:65px}
#page_blog_post .new-comment .terms {
	margin-left:11.7em}

/* CARD ----------------------------------------- //// */
#reload-amount.disabled fieldset {
	filter:alpha(opacity=50);
	zoom:1}

/* COFFEE ----------------------------------------- //// */
#page_catalog #filter {
	padding-bottom:0}

/* COFFEE - Via On the Go ----------------------------------------- //// */
.submit_story p,
.submit_photo p,
.submit_video p {
	margin-top:-1.5em !important;
	margin-bottom:2em !important}
.user_submissions{
	top:19px !important;
	right:-1px !important}
.filmstrip_mask {
	height:469px !important}

/* COFFEE - RESERVE COFFEE ----------------------------------------- //// */
#coffees.section {
	height:1%;
	float:none}

#product_media {
	position:relative}
#product_media .product_media_player {
	margin:45px 0 0}

/* SHOP - BUY A CARD ----------------------------------------- //// */
#page_bac #quick_cart {
	width:315px;
	margin:-1px 8px 0 0}
#page_bac #quick_cart_details {
	margin:0 8px 0 0}

div.pp_pic_holder .pp_top,
div.pp_pic_holder .pp_bottom,
div.pp_pic_holder .pp_left,
div.pp_pic_holder .pp_right {
	background:#fff !important}
	
div.starbucks_wifi a.pp_close {
	position:absolute;
	top:-10px;
	left:-15px;
	z-index:12000}
div.starbucks a.pp_close {
	position:absolute;
	top:-10px;
	left:-15px;
	z-index:12000}
	
.pp_pic_holder {
	overflow:visible !important}

.feed .sorting form fieldset select {
	margin:0}

.feed .sorting form fieldset#show_asset_type {
	margin-top:-4px}
.feed .sorting form fieldset#show_asset_type .feed_show_txt {
	margin-top:8px}
.feed .sorting form fieldset#show_asset_type input {
	border:0}
	
/* STORE LOCATOR */
.panel ul.action-directions {
	padding-bottom:20px /* Ensures directions slideToggle works in IE6 */}

/* copied from lteie6.css
--------------------------------------------------------------------------------------------------------------------------------------- */
/*
---------------------------------------------
Global Card / Account / Profile IE6 (Less than or equal too)

Dev: Chad Oakenfold (blast)
Dev: Lincoln Mongillo (starbucks)
Dev: Bruce Drott (starbucks)
Dev: Bryan Wood (starbucks)
Dev: Bess Fernandez (starbucks)

---------------------------------------------
*/

/********************************
IE 6 Manage Fixes
*********************************/
.reload .right .payment-method_list dt input {
	top:-2px}

.one-time_reload,
.lost-stolen {
	/*zoom:1*/}

.transfer-balance .two-columns .right {
	position:relative}

.lost-stolen .left div h2 {
	margin-bottom:10px;
	padding:0 0 0 15px;
	font-size:9px;
	line-height:22px;
	text-transform:uppercase}
#auto-reload_type .threshold-amount {
	zoom:1}
#auto-reload_type .threshold-amount #TriggerAmount {
	position:static}
.credit-edit dt,
.credit-edit dd,
.credit-create dt,
.credit-create dd,
fieldset.address-create dt,
fieldset.address-create dd,
fieldset.address-edit dt,
fieldset.address-edit dd {
	height:23px}
.submit-cancel a {
	display:inline-block}

.lost,
.one-time_reload .OneTime,
.one-time_reload .Gift,
.one-time_reload .Auto,
.lost-stolen .lost {
	/*
	position:relative;
	float:left;
	clear:both;
	margin:0;
	padding:0;
	background-color:#fff
	*/
	}
button.cancel-my-auto-reload,
button.change-my-auto-reload {
	/*width:180px*/}

.Auto span,
.lost span,
.footer-spacer {
	display:none;
	position:absolute;
	top:0;
	left:0}
.lost ul.disclaimer,
 ul.disclaimer {
	position:relative;
	zoom:1}
 div ul.disclaimer li.first {
	position:relative}
 div ul.disclaimer li.last {
	position:relative}
#add-card .right {
	display:inline-block;
	position:relative}
#add-card .continue-cancel {
	/*float:right*/}
#balance-status-list li {
	display:inline-block;
	width:114px}
#balance-status-list li.balance-after-other {
	width:270px}
#balance-status-list li.transfer-addition,
#balance-status-list li.transfer-equals {
	width:12px}
.reload .left form.confirm,
.reload form.confirm .left {
	height:400px}
ul#payment_method li {
	zoom:1}

/********************************
IE 6 Profile Fixes
*********************************/
.wifi-section.united-states h3,
.wifi-section.canada h3 {
	width:105px}
div.partial.reload div.links_action_cancel,
#profile-details-right div.submit-cancel {
	/*padding-top:20px*/}

.sign-in-info_email ul {
	margin-bottom:0;
	padding-bottom:0}
.sign-in-info_email h3 {
	margin-top:16px}

/********************************
IE 6 Random Fixes
*********************************/

#billing-info_display {
	/* vertical whitespacing for for reload_message */
	height:200px}

#reload_message #validation_summary_error,
#reload_message #validation_summary_ok,
#reload_message #validation_summary_warn,
#reload_message #validation_summary_message {
	position:absolute}

/*****************************
IE 6 Validation Fixes
the width triggers hasLayout. empty element causes 
*****************************/
#card-carousel a.prev,
#card-carousel a.next {
	width:40px;
	background:url(../../images/card/scrollable_nav_ie6.png)/*tpa=http://www.starbucks.com/static/images/card/scrollable_nav_ie6.png*/ no-repeat 15px 7px}
#card-carousel a.next {
	background-position:-17px 7px}

#card-carousel a.prev:hover,
#card-carousel a.prev:focus {
	background-position:15px -26px}
#card-carousel a.next:hover,
#card-carousel a.next:focus {
	background-position:-17px -26px}

#card-carousel a.next.disabled,
#card-carousel a.prev.disabled {
	display:none}

.input-positioned #AssociatedCard_Default {
	position:absolute;
	left:0;
	top:4px}
#AddCard #card-details-right {
	padding-right:1px}

#auto_activate-suspend li {
	width:215px}

/*---------------------------------------------*/
#account_button,
#account_buttons {
	position:absolute;
	top:427px;
	left:50px}
#account_button {
	left:140px}
#manage_button {
	position:absolute;
	top:422px;
	left:570px}

/* ---------------------------------------------------------------------------------------------- */
/*  ADDRESS VALIDATION BEGIN */
/* ---------------------------------------------------------------------------------------------- */
.validation_address,
.validation_address_warn,
.validation_inner {
	zoom:1}
.validation_address {
	border-style: none;
	position: relative;
	top: -2px;
	padding: 0 5px !important;
	margin-bottom: 0 !important}
.validation_address_warn { /* outter */
	margin: 0;
	padding: 8px 5px 8px 5px !important;
	border: 1px solid #FFA510;
	background-color: #FFD027}
.validation_address_warn dl.display,
.AddressItem .validation_inner { /* inner */
	margin: 0 !important;
	padding: 4px;
	border: 1px solid #FFA510;
	background-color: #fff}
.AddressItem .validation_inner {
	padding-bottom: 0 !important}
.AddressItem dl.display {
	padding: 0 !important;
	border: 0 !important}
.AddressItem {
	margin: 0 8px !important;
	width: auto !important}
.address-book .list-payment-methods li {
	/*margin-bottom:1em*/}

#reload-amount_defined dt label.selected {
	color:#2a9a21}