/* IE7
---------------------------------------------------------------------------------------- //// */

/* GLOBAL ----------------------------------------- //// */
.ie7 .button_search a,
.ie7 .button_search a:visited,
.ie7 .button_search button,
.ie7 .button_search input {
    max-height: 28px;
}

/* BLOG POST ----------------------------------------- //// */
#page_blog_post .sign-in {
	padding-bottom:0}
#page_blog_post .comment-header,
#page_blog_post #blog-comments .comment-body,
#page_blog_archive #tag-cloud li {
	display:inline;
	zoom:1}
#page_blog_post .reply span.button {
	margin-left:128px}
#page_blog_post .new-comment .terms {
	margin-left:11.7em}

/* CARD ----------------------------------------- //// */
#reload-amount.disabled fieldset {
	filter:alpha(opacity=50);
	zoom:1}

#page_card .panel #manage_panel .manage_prompt span.button {
	margin:.5em 140px .5em 0}

/* SHOP ----------------------------------------- //// */

/* shipping options */
.AccountStyleForm dl.option_list input {
	top:0;
	left:-23px}

#global_actions {
	margin:1em 1em 0 0}

/* Carousel */
.noJS .scrollable {
	position:relative}

/* Manage */
#my_card,
#other_card,
#Default,
#Register_Card_Default,
#Model_Default,
.reload .right .payment-method_list input,
#reload-type_threshold,
#reload-type_date,
#RemoveThisCard,
#RemoveCard,
#TransferFrom_New {
	padding:0;
	border:0;
	background-color:transparent}

button.reload.right,
.reload .right a.reload.right {
	width:175px}

#auto-reload_type li {
	zoom:1}
#auto_activate-suspend img {
	vertical-align:top}

/* ************************************ Profile specific styles */

.list-payment-methods li div dl {
	margin-top:0}
#new-payment-method_type {
	display:inline-block}

#details-partial .transfer-balance .right .stacked-buttons {
	width:366px}

#AssociatedCardReload_Day {
	margin-left:76px}

/*---------------------------------------------*/
/* Rewards IE 7 Fixes - Author: Bryan Wood (CW)*/
/*---------------------------------------------*/
#account_button,
#account_buttons {
	margin-top:-5px}
#manage_button {
	left:80px}

/*---------------------------------------------*/
button#sign-in {
	padding-right:2px;
	padding-left:2px;
	width:120px}

/* ADDRESS VALIDATION */
/* ---------------------------------------------------------------------------------------------- */

/* hasLayout issue hack */
.validation_address,
.validation_address_warn,
.validation_inner {
	zoom:1}
.validation_address {
	position:relative;
	top:-4px;
	margin-bottom:0 !important;
	padding:0 5px !important}
.validation_address > *:first-child {
	padding:0 4px}
.validation_address_warn {
	top:0;
	margin-bottom:5px !important;
	padding:8px 5px !important}
.validation_address_warn > *:first-child {
	padding:0 4px}
.validation_address div.adr dl {
	margin-top:0 !important}
.AddressItem .AVSuggestion {
	top:-2px !important}