/*HOMEPAGE HERO*/

.ie8 .hero_image {
	background-position: center center;
}

.ie8 .hero_overlay.white_background {
	background: url('../../images/fix/white_80percent.png')/*tpa=http://www.starbucks.com/static/images/fix/white_80percent.png*/;
}

.ie8 .hero_overlay.black_background {
	background: url('../../images/fix/black_70percent.png')/*tpa=http://www.starbucks.com/static/images/fix/black_70percent.png*/;
}

.ie8 .hero_container.left_middle .hero_overlay {
	top: 0;
	left: 0;
}

.ie8 .hero_container.center_top .hero_overlay {
	left: 0;
	top: 0;
}

.ie8 .hero_container.center_middle .hero_overlay {
	left: 0;
	top: 0;
}

.ie8 .hero_container.center_bottom .hero_overlay {
	left: 0;
	bottom: 0;
}

.ie8 .hero_container.right_middle .hero_overlay {
	top: 0;
	right: 0;
}

/*HOMEPAGE CONTENT STRIPES*/

.ie8 .content_stripes_container:before {
    background: #999;
}

.ie8 .image_block a.video_image_link img {
    position: relative;
    z-index: -1;
}

/*FOOTER SOCIAL ICONS*/
.ie8 .footer .sb-social-icons li,
.ie8 .footer .sb-social-icons a {
    width: 55px;
    height: 29px;
}
.ie8 .footer .sb-social-icons a {
     background:transparent url(../../images/social_icons_ie8.png)/*tpa=http://www.starbucks.com/static/images/social_icons_ie8.png*/;
     background-position: inherit;
}

.footer .sb-social-icons li.facebook {
    width: 47px;
}

.footer .sb-social-icons li.jiepang {
    width: 79px;
}

.ie8 .footer .sb-social-icons .facebook a {
    background-position: 0 0;
    width: 24px;
}

.ie8 .footer .sb-social-icons .twitter a {
    background-position: -23px 0;
    width: 29px;
}

.ie8 .footer .sb-social-icons .googleplus a {
    background-position: -53px 0;
    width: 24px;
}

.ie8 .footer .sb-social-icons .pinterest a {
    background-position: -78px 0;
    width: 27px;
}

.ie8 .footer .sb-social-icons .instagram a {
    background-position: -105px 0;
    width: 26px;
}

.ie8 .footer .sb-social-icons .youtube a {
    background-position: -132px 0;
    width: 21px;
}

.ie8 .footer .sb-social-icons .linkedin a {
    background-position: -154px 0;
    width: 26px;
}

.ie8 .footer .sb-social-icons .foursquare a {
    background-position: -180px 0;
    width: 28px;
}

.ie8 .footer .sb-social-icons .ustream a {
    background-position: -208px 0;
    width: 27px;
}

.ie8 .footer .sb-social-icons .orkut a {
    background-position: -235px 0;
    width: 26px;
}

.ie8 .footer .sb-social-icons .xing a {
    background-position: -262px 0;
    width: 26px;
}

.ie8 .footer .sb-social-icons .tuenti a {
    background-position: -289px 0;
    width: 27px;
}

.ie8 .footer .sb-social-icons .mixi a {
    background-position: -315px 0;
    width: 29px;
}

.ie8 .footer .sb-social-icons .vkontakte a {
    background-position: -345px 0;
    width: 28px;
}

.ie8 .footer .sb-social-icons .renren a {
    background-position: -372px 0;
    width: 28px;
}

.ie8 .footer .sb-social-icons .qzone a {
    background-position: -400px 0;
    width: 30px;
}

.ie8 .footer .sb-social-icons .jiepang a {
    background-position: -429px 0;
    width: 54px;
}

.ie8 .footer .sb-social-icons .kaixin001 a {
    background-position: -483px 0;
    width: 27px;
}

.ie8 .footer .sb-social-icons .sinaweibo a {
    background-position: -510px 0;
    width: 31px;
}

.ie8 .footer .sb-social-icons .douban a {
    background-position: -541px 0;
    width: 27px;
}

.footer .NewsletterSignup input {
    min-width: 272px;
}

.ie8 .footer-global {
    background: none;
}