/* LTE IE9
---------------------------------------------------------------------------------------- //// */

.ie8 .fb_button a, 
.ie9 .fb_button a  {
    background:url(../../images/facebook/fb_logo_xs.png)/*tpa=http://www.starbucks.com/static/images/facebook/fb_logo_xs.png*/ #647aab no-repeat;
}

/* GLOBAL ----------------------------------------- //// */

/* 

the labels for place holders need to be visible when
	less then or equal to ie9
	and javascript is disabled

if ie 
	show placeholder_label by default 

	if js enabled
		show & hide placeholder_label with media queries like default

else 
	show & hide by default with media queries 

*/
.accordion label { display: none }
.accordion input ~ ol {
        margin-bottom: 1.714286em;
        max-height: none;
        overflow: visible;
}

/* Elements with the placeholder class are dynamically added by the jquery.sbux.placeholder.js */
.placeholder {
	color: #A9A9A9;
}

.placeholder_label,
ol.form label.placeholder_label,
ol.form .label.placeholder_label {
	display: block;
}

/*Hide shared cart and shopping bag, CORS not fully supported*/
.js .shared_cart.container,
.js .shared_cart.container,
.js .shared_cart.container,
.js .shared_cart.container
 {
    display: none !important;
}
.js .has_shopping_cart .utility_link.search {
    right: 76px;
}
.js .utility_link.shopping_bag {
    display: none;
}

/* multi/single column - if below 600px - hide item ----------------------------------------------- */
@media (max-width:599px) {
	.js .placeholder_label.hide_in_single_col,
	.js ol.form label.placeholder_label.hide_in_single_col,
	.js ol.form .label.placeholder_label.hide_in_single_col {
		display: none;
	}
}
/* multi/single column - if above 600px - hide item ----------------------------------------------- */
@media (min-width:600px) {
	.field_full_in_single_col.placeholder {
		color: transparent;
	}
	.js .placeholder_label.hide_in_multi_col,
	.js ol.form label.placeholder_label.hide_in_multi_col,
	.js ol.form .label.placeholder_label.hide_in_multi_col {
		display: none;
	}
}