.background-wrapper{background:#333;padding:25px 75px 40px 75px;overflow:hidden;}
#fixedbg{
   
    height:100%;
    position:fixed;
    width:100%;
    z-index:-1;
    top:0;
}

/************ Stuart Vever 08/10/14 **************/ #main{margin:0 auto;padding:0;}
.home-container img{width:100%;display:block;}
.home-container{margin:0 4.8125%;clear:both;overflow:hidden;padding:0;}
.clear{clear:both}
.hero{width:100%;padding-bottom:12px;}
.col-first{width:58.7874659400545%;float:left;}
.col-first-right{width:41.2125340599455%;float:left;}
.col-second-top{width:66.96185286103542%;float:left;}
.col-second-bottom{width:33.03814713896458%;float:left;}
.bottomcontent{padding-bottom:30px;width:100%;float:left}
.col-second-top .col1{width:50%;float:left;}
.col-second-top .col2{width:50%;float:left;}
.content-slot-promotion{font-size:12px;font-family:'latoregular',Verdana,Arial,Helvetica,sans-serif;color:#fff;padding:23px 0;text-align:center;}
.content-slot-promotion #home-email-form{padding:0 43px;}
ul{margin:0;padding:0;}
.content-slot-promotion h3{font-size:22px; font-family: 'BigCaslon-Medium';color:#fff;margin-top:0;text-transform:uppercase;}
.content-slot-promotion form label{display:none;}
.content-slot-promotion a{text-decoration:underline;color:#fff;}
.content-slot-promotion p{line-height:18px;text-transform:uppercase; font-size: 13px;}
.content-image{postion:relative;}
.content-image img{width:100%;}
.content-image span{color:#000;}
.content-asset-image{position:relative;}
.content-image:hover .hover-content a,.content-image:hover .hover-content span{color:#999;}
.hover-content.multiple-image{left:7%;}
.multiple-image .hover-content{left:7%;}
.content-image span{border-bottom:solid 1px #000;}
.content-image span.error,.content-image:hover span.error{color:#CC0000;border-bottom:none;font-size:10px;padding-top:2px;}
.content-image:hover span{border-bottom:solid 1px #999;}
 .content-slot-promotion #home-email-form .btn.submit-email{background:url("../../../images/homepage/connect-submit-btn.png")/*tpa=http://static.coach.com/aapz_prd/on/demandware.static/Sites-Coach_US-Site/-/default/v1433766638119/images/homepage/connect-submit-btn.png*/ no-repeat scroll 0 0 transparent;text-indent:-999px;width:95px;height:25px;margin-top:8px;}
.content-slot-promotion .input-group .form-control{float:none;display:block;}
.content-slot-promotion #email-form .email-signup{padding:0}
.content-slot-promotion .input-group{text-align:left;}
.content-slot-promotion input[type="text"],.content-slot-promotion input[type="email"], .content-slot-promotion input[type="password"]{background:transparent;}
.content-slot-promotion input[type="text"],.content-slot-promotion input[type="email"],.content-slot-promotion input[type="password"]{border:solid 1px #fff;color:#fff;font-size:10px;text-transform:none;}
.stack-image li{position:relative;}
.stack-image li.first-content{margin-bottom:0;}
.multiple-image .stack-image .hover-content{left:4%;}
 .tp-leftarrow.default{background:url("../../../images/carousel/home-video-carousel-arrow.png")/*tpa=http://static.coach.com/aapz_prd/on/demandware.static/Sites-Coach_US-Site/-/default/v1433766638119/images/carousel/home-video-carousel-arrow.png*/ no-repeat scroll rgba(0, 0, 0, 0);width: 45px;background-position: 0 0;height: 130px;}
 .tp-rightarrow.default{background:url("../../../images/carousel/home-video-carousel-arrow.png")/*tpa=http://static.coach.com/aapz_prd/on/demandware.static/Sites-Coach_US-Site/-/default/v1433766638119/images/carousel/home-video-carousel-arrow.png*/ no-repeat scroll  rgba(0, 0, 0, 0);width: 45px;background-position: 0 -148px;height: 130px;}
 .tp-bullets.simplebullets.round .bullet{background:url("../../../images/carousel/progress-bar-sprite.png")/*tpa=http://static.coach.com/aapz_prd/on/demandware.static/Sites-Coach_US-Site/-/default/v1433766638119/images/carousel/progress-bar-sprite.png*/ no-repeat scroll  0 -23px  transparent;height:15px;width:17px;}
 .tp-bullets.simplebullets.round .bullet:hover, .tp-bullets.simplebullets.round .bullet.selected, .tp-bullets.simplebullets.navbar .bullet:hover, .tp-bullets.simplebullets.navbar .bullet.selected{background-position:0 -2px;height:15px;width:17px;}
 #home-email-form .email-signup { padding: 6px 0 9px 0; margin: 0 auto; overflow: visible;float:none;}
 #home-email-form{margin-top:2%;}
 
/************ Stuart Vever 08/10/14 **************/

.homepagev3-top figure img, .homepagev3-bottom figure img, .homepagev2-container figure img{width:100%;}
.text-link-v3{position: absolute;bottom: 10px;left: 10px;color: red; margin:0; }
.homepagev3-container .hover-content{bottom: 10px;font-family: 'latobold',Verdana,Arial;text-decoration: underline;line-height:10px; font-size: 12px;letter-spacing: 1px;color: #000;position: absolute;left: 10px;text-transform: uppercase;}
.homepagev3-container .hover-content a:hover{color:#000;}
.homepagev3-container .right-text .hover-content{right: 10px;left: inherit;}
.gutter-top-v3 {margin-top:2px;}
.gutter-bottom-v3 {margin-bottom:2px;}
.gutter-left-v3 {margin-left:0.156%;}
.gutter-right-v3{margin-right:0.156%;}
.homepagev3-container .column-6{width: 49.833%; float:left;}
.homepagev3-container .column-4{width: 33.117%; float:left;}
.homepagev3-container .column-8{width: 66.561%; float:left;}
.homepagev3-container.container{padding-left:5%; padding-right:5%; max-width:100%;}
/************ Stuart Vever **************/


/*********Stuart CR Anshika**************/
.connect-wrapper{background:#000;padding: 20px 30px;overflow:hidden;}
.connect-wrapper .connect-logo,.email-signup,.connect-form{float:left;}
.connect-wrapper #home-email-form .email-signup{width: 36%;float:left;}
.connect-wrapper #home-email-form .email-signup-submit{width:auto; margin-left: 29px;}
.connect-wrapper #home-email-form .email-signup:last-child{width:auto; margin-left: 29px;}
.connect-wrapper #home-email-form .email-signup:first-child{margin-right:16px;}
.connect-wrapper #home-email-form{margin-top:0;}
.connect-wrapper .content-slot-promotion #home-email-form{padding:0;}
.connect-wrapper #home-email-form .email-signup{padding:0;}
.connect-wrapper .content-slot-promotion{  padding: 23px 50px 23px 30px;height: 80px;}
.connect-wrapper .connect-logo img:first-child{margin-right:24px;}
.connect-wrapper .connect-form{ float:right;}
.connect-wrapper .connect-logo > img:last-child {max-width: 381px;}
.connect-wrapper #home-email-form .form-control.email.required{height:32px;}
.connect-wrapper .content-slot-promotion #home-email-form .btn.submit-email {margin-top: 0;background:none;width: auto; text-indent:0; font: 12px/20px 'latobold';text-decoration: underline; padding:0;}

/* DWRE-864 Remove the black container if there is no connect-coach*/
.connect-wrapper {  padding: 0!important;  height: inherit!important;}

#main {background: none repeat scroll 0 0 transparent;padding: 0;}
.homepagev2-container{margin:0 5%;}

@media (min-width:768px) and (max-width:1099px) {
	.content-slot-promotion{padding:0;}
	.content-slot-promotion h3{font-size:20px;}
	.content-slot-promotion p{font-size:14px;}
	.hover-content{bottom:3.6%;font-size:8px;}
	.content-slot-promotion h3{font-size:12px;}
	.content-slot-promotion p{line-height:8px; font-size: 7px;padding:0 9px;}
	#home-email-form .form-control.email.required {font-size: 10px;}
	.content-slot-promotion #home-email-form .btn.submit-email{font-size: 9px; height:auto;}
	.content-slot-promotion input[type="text"], .content-slot-promotion input[type="email"], .content-slot-promotion input[type="password"]{height:18px;}
	.content-slot-promotion {padding: 13px 0 0 0;}
	.content-slot-promotion #home-email-form{padding:0 35px;}
	 #home-email-form .email-signup { padding: 7px 0 0 0;}
	#home-email-form .email-signup button {margin-top:7px;}
	 #home-email-form .email-signup{width:148px;}
	 #home-email-form  .input-group .form-control{width:100%;}
	  #home-email-form input[type="text"], #home-email-form input[type="email"], #home-email-form input[type="password"]{padding:2px 5px;}
	 .content-slot-promotion #home-email-form .btn.submit-email{background:url("../../../images/homepage/connect-submit-btn-ipad.png")/*tpa=http://static.coach.com/aapz_prd/on/demandware.static/Sites-Coach_US-Site/-/default/v1433766638119/images/homepage/connect-submit-btn-ipad.png*/ no-repeat scroll 0 0 transparent;text-indent:-999px;width:47px;height:12px;margin-top:8px;}
	#home-email-form .email-signup { padding: 1px 0 6px 0;}
	 #home-email-form{margin-top:7%;}
	 .home-container {margin: 0 31px;padding-top: 9px;}
	 .content-slot-promotion {padding: 23px 0 0;}
	 .bottomcontent {padding-bottom: 40px;}
	 .row.email-popup-wrapper .thankyou-msg {padding-left: 4px;}
	 .email-popup-wrapper .thankyou-msg a{height:28px;}
	 
	 /************ Start,Stuart Vever 08/10/14 **************/
	 .homepagev3-container.container{padding-left:3%; padding-right:3%; max-width:100%; margin-bottom:0;}
	  .homepagev2-container {margin: 0 3%;}
	 .homepagev3-container .hover-content{font-size: 10px;}
	 .homepagev3-container .column-6 {width: 49.681%;}
	 .gutter-left-v3 {margin-left:0.321%;}
	 .gutter-right-v3{margin-right:0.321%;}
	 .homepagev3-container .column-4 {width: 32.907%;}
	 .homepagev3-container .column-8 {width: 66.455%;}

}

@media (min-width:768px) and (max-width:1024px) {
	 .connect-wrapper .connect-logo img:first-child {margin-right: 8px;width: 63px;}
	 .connect-wrapper .connect-logo > img:last-child {width: 261px;}
	 .connect-wrapper .connect-logo {width: auto;}
	 .connect-wrapper .connect-form { width: auto;}
	 .connect-wrapper #home-email-form .email-signup:first-child {margin-right: 8px;}
	 .connect-wrapper #home-email-form .email-signup {width: 136px;}
	 .connect-wrapper #home-email-form .email-signup:last-child {margin-left: 11px;}
	 .connect-wrapper {padding: 13px 23px 14px 13px;}
	 .connect-wrapper #home-email-form .input-group .form-control {height: 33px;}
	 .connect-wrapper .content-slot-promotion #home-email-form .btn.submit-email{padding-left:0; padding-right:0; font-size:11px;line-height: 29px; height:auto}

}

/*@media (min-width:1024px) and (max-width:1099px) {

	 .connect-wrapper .connect-logo img:first-child {margin-right: 20px;width: 63px;}
	 .connect-wrapper .connect-logo > img:last-child {width: 261px;}
	 .connect-wrapper .connect-logo {width: auto;}
	 .connect-wrapper .connect-form {margin-left: 65px; width: auto;}
	 .connect-wrapper #home-email-form .email-signup:first-child {margin-right: 18px;}
	 .connect-wrapper #home-email-form .email-signup {width: 200px;}
	 .connect-wrapper #home-email-form .email-signup:last-child {margin-left: 30px;}
	 .connect-wrapper {padding: 13px 13px 14px;}
	 .connect-wrapper #home-email-form .input-group .form-control {height: 33px;}
	 .connect-wrapper .content-slot-promotion #home-email-form .btn.submit-email{padding-left:0; padding-right:0; font-size:11px; height:auto}
	

}*/



@media  (min-width:320px) and (max-width:767px) {
	.content-slot-promotion{padding:10px 0;}
	.background-wrapper .gutter-top{padding-top:10px;}
	.background-wrapper .gutter-bottom{padding-bottom:0;}
	.col-first,.col-first-right,.bottomcontent,.col-second-top,.col-second-bottom,.col-second-top .col1,.col-second-top .col2{float:none;width:100%;}
	.hover-content{bottom:3%;}
	.tp-leftarrow.default{background:url("../../../images/carousel/home-video-carousel-arrow_mobile.png")/*tpa=http://static.coach.com/aapz_prd/on/demandware.static/Sites-Coach_US-Site/-/default/v1433766638119/images/carousel/home-video-carousel-arrow_mobile.png*/ no-repeat scroll 0 0 rgba(0, 0, 0, 0);width: 18px;background-position: 0 0;height: 61px;}
	.tp-rightarrow.default{background:url("../../../images/carousel/home-video-carousel-arrow_mobile.png")/*tpa=http://static.coach.com/aapz_prd/on/demandware.static/Sites-Coach_US-Site/-/default/v1433766638119/images/carousel/home-video-carousel-arrow_mobile.png*/ no-repeat scroll  rgba(0, 0, 0, 0);width: 45px;background-position: 0 -62px;height: 61px;}
	.home-container{padding:4px 10px 10px 10px;margin:0;}
	figure.image-wrapper.item {padding-top: 3px;}
	 .stack-image li.first-content{margin-bottom:4px;}
	 .hover-content{font-size:10px;}
	 .connect-with-wrapper{padding:0 56px;}
	 .bottomcontent{padding-bottom:10px;}
	 #home-email-form .email-signup{width:84%;}
	 .content-slot-promotion h3,.content-slot-promotion p{padding:0 18px;}
	 .content-slot-promotion h3{font-size:15px;margin-bottom:5px;}
	 .content-slot-promotion p{font-size:9px;line-height:9px;margin-bottom:11px;}
	 #home-email-form .form-control.email.required{font-size:9px; line-height: 15px;}
	 .content-slot-promotion #home-email-form .btn.submit-email {background: url("../../../images/homepage/connect-submit-btn-mobile.png")/*tpa=http://static.coach.com/aapz_prd/on/demandware.static/Sites-Coach_US-Site/-/default/v1433766638119/images/homepage/connect-submit-btn-mobile.png*/ no-repeat scroll 0 0 transparent;height: 26px;margin-top:7px;text-indent: -999px;width: 96px;}
	 #home-email-form .email-signup{padding:6px 0 0 0;}
	 #footer .footer-top{padding-top:17px;}
	 .bottomcontent,.col-second-bottom{margin-top:4px;}
	 .content-slot-promotion #home-email-form{padding:0;}
	 .content-slot-promotion .input-group .error {font-size: 10px;}
	 
	/************ Stuart Vever 08/10/14 **************/
	.gutter-left-v3 {margin-left:0;}
	.gutter-right-v3{margin-right:0;}
	.gutter-top-v3{margin-top:0;}
	.gutter-bottom-v3{margin-bottom:0;}
	.homepagev3-container .column-4,.homepagev3-container .column-8,.homepagev3-container .column-6{width: 100%;}

	.homepagev3-container.container {  padding-left: 10px;padding-right: 10px;}
	.homepagev3-container figure.image-wrapper.item {padding-top: 0;}
	.homepagev3-container .hover-content{display:none;}
	.homepagev3-container figure.image-wrapper.item, .homepagev2-container figure.image-wrapper.item {padding-top: 0;}
	.homepagev2-container {margin-left:10px; margin-right:10px;}
	.homepagev2-container .simplebullets, .homepagev3-container .simplebullets{bottom: -18px !important;}
	.carousel-container {margin-bottom: 28px;}
	 /************ Stuart Vever**************/
}

@media 
	only screen and (-webkit-min-device-pixel-ratio: 1.5) and (max-width:767px), 
	only screen and (min--moz-device-pixel-ratio: 1.5) and (max-width:767px), 
	only screen and (min-device-pixel-ratio: 1.5) and (max-width:767px) {
		
	.content-slot-promotion #home-email-form .btn.submit-email {background: url("../../../images/homepage/connect-submit-btn-mobile.png")/*tpa=http://static.coach.com/aapz_prd/on/demandware.static/Sites-Coach_US-Site/-/default/v1433766638119/images/homepage/connect-submit-btn-mobile.png*/ no-repeat scroll 0 0 transparent;background-size: 47px; height: 13px;margin-top:7px;text-indent: -999px;width: 48px;}
	
	}



@media (min-width:1440px){
	.container, footer#footer { padding-left: 27px; padding-right: 27px; }
	.homepagev3-container.container{padding-left:5%; padding-right:5%; max-width:100%;}
	.connect-wrapper #home-email-form .email-signup{width: 316px;}
	.connect-wrapper .connect-form {margin-top: 2px;}
	.connect-wrapper #home-email-form .form-control.email.required {padding-left: 14px;}
	.connect-wrapper .content-slot-promotion #home-email-form .btn.submit-email {height:32px;}	
	.connect-wrapper{padding: 23px 30px;height:80px;}
	
}
@media (min-width:1600px){
	.content-slot-promotion{padding:48px 88px 0;}
	.content-slot-promotion #home-email-form .btn.submit-email{background:url("../../../images/homepage/connect-submit-btn-desktop.png")/*tpa=http://static.coach.com/aapz_prd/on/demandware.static/Sites-Coach_US-Site/-/default/v1433766638119/images/homepage/connect-submit-btn-desktop.png*/ no-repeat scroll 0 0 transparent;text-indent:-999px;width:98px;height:25px;margin-top:20px;}
	.home-container {margin: 0 66px; padding-top: 12px;}
	.content-slot-promotion {padding: 80px 88px 0;}
	#home-email-form {margin-top: 46px;}
	.content-slot-promotion #home-email-form {padding: 0 25px;}
	#home-email-form .email-signup {padding: 6px 0 12px;}
	.content-slot-promotion #home-email-form .btn.submit-email { margin-top: 17px;}
	.bottomcontent {padding-bottom: 40px;}
	.row.email-popup-wrapper .thankyou-msg {padding-left: 4px;}
	.email-popup-wrapper .thankyou-msg a{height:28px;}
	#home-email-form .form-control.email{width:266px;}
	.homepage #footer {padding: 0 27px;}
	
	/************ Stuart Vever 08/10/14 **************/
	.connect-wrapper #home-email-form .form-control.email{width:100%;}
	.connect-wrapper{padding-right:50px;}

@media (min-width:1100px) and (max-width:1439px){
	.homepagev3-container.container{padding-left:5%; padding-right:5%; max-width:100%;}
	.homepagev3-container .connect-logo > img:last-child {max-width: 340px;}
	.homepagev3-container .connect-wrapper #home-email-form .email-signup:last-child {margin-left: 0;}
}
/************ Stuart Vever **************/