

  body {
    width: 100%;
  }
h1 {
    font-size: 24px;
}
h2, p.lead {
    font-size: 18px;
}
h3 {
    font-size:16px;
}
  .nav-icons, #navbar, footer, .social, .mini-teaser, .breadcrumb {display:none !important;}

