/*Fixes the vertical positioning of the text in the search box */
#header #header_search input[type*="text"]{ height:18px; padding-top:4px; }

/*Fixes the vertical positioning of the find button in the search box */
#header #header_search #dnn_dnnsearch_cmdSearch { margin-top:-14px; }

/*Fixes the vewrtical positioning of the text in the find an agency textbox*/
.aoi_form .form_tb_agency{ height:23px; padding-top:5px; }
.accordion_panel .content .search_input{ height:23px; padding-top:5px; }

/*Fixes the scroll bars showing up in the acordian area*/
#promo.index #agency_finder .ui-accordion-content{ overflow:hidden; }

/*Fixes the small gap above the sub-sub navigation items*/
#side_nav li.sub ul{ min-height:1px; }

/*Fixes extra spacing between sections on homepage*/
#main.index{ padding-top:5px; }
#main.index #content .DNNEmptyPane{ height:0; }