/*
 * z-index assignments:
 * 
 * container     5
 * navigation    131
 * search        150
 * searchsecond  151
 * photoselector 130
 * stockticker   140
 * 
 */

#realestate-default {
	display:block;
	position:relative;
	padding:0;
	margin:0;
	border:0;
	background-color: #20599e;
	background-image: url(Unknown_83_filename)/*tpa=http://www.yum.com/images/bg_realestate_default.jpg*/;
	background-repeat: no-repeat;
	background-position: 0px bottom;
}



/* END BACKGROUNDS */

#realestate{
	position: relative;
	display:block;
	background: #fff;
	width: 535px;
	margin-top: 50px;
	left: 400px;
	overflow:hidden;
	padding: 0px 5px 0px 30px;
}

	#realestate h1, .contentvertl-realestate h1{
		font-size: 30px;
		display:block;
		padding:24px 0px 0px 0px; 
		color: #909090;
	}
	
	#realestate h2,  .contentvertl-realestate h2{
		padding: 0em 0em .2em 0em;
		color: #909090;
	}
	
	#realestate h3, #realestate-vert h3,  .contentvertl-realestate h3 {
		padding: .2em 0em;
	}
	
	#realestate p,  .contentvertl-realestate p{
	    color: #666666;
	    padding: .5em 0em;
	}
	
#realestate table,  .contentvertl-realestate table{
	clear:both;
	}

#realestate-vert {background: url(Unknown_83_filename)/*tpa=http://www.yum.com/images/realestate_vert.jpg*/ top no-repeat #00a3e4; display:block; height:230px; overflow:hidden; position:relative; padding:0; margin:0;}

#realestate-vert h3{
		padding: .2em 0em;
	}

	
#realestate span, #realestate a:link, .contentleft2-realestate a:link, .contentleft2-realestate span, .contentvertl-realestate span, .contentvertl-realestate a:link, .contentvertfull-realestate span, .contentleft2vert-realestate a:link, .contentrightvert-realestate a:link, .contentright-realestate a:link, .rightnav-realestate a:link{color:#ed1c24;}
		
/*vertical big*/
.contentvertl-realestate{
	text-align:left;
	float:left;
	width:670px;
	padding: 0px 0px 0px 25px;
}

.contentvertfull-realestate{
	text-align:left;
	float:left;
	width:920px;
	padding: 0px 0px 0px 25px;
}

/***/

/*contentleft2 vertical*/

	.contentleft2vert-realestate h1, .contentvertfull-realestate h1 {
	    font-size: 30px;
	    color: #909090;
	    padding: .2em 0em;
	}
	
	.contentleft2vert-realestate h2, .contentvertfull-realestate h2 {
		color: #909090;
		padding: .2em 0em;
	}
	
	.contentleft2vert-realestate h3, .contentvertfull-realestate h3 {
	color: #7B7B7B;
	margin: 30px 0em -.1em 0em;
	}

	.contentleft2vert-realestate p, .contentvertfull-realestate p {
		padding: .5em 0em;
		color: #666666;
	}
	
	.contentleft2vert-realestate ul {
		padding: .5em .5em;
	}

	.contentleft2vert-realestate a:link, .contentvertfull-realestate {
		text-decoration:underline;
	}

`	.contentleft2vert-realestate a:visited {
		text-decoration:underline;
	}

	.contentleft2vert-realestate a:active {
		text-decoration:underline;
	}

	.contentleft2vert-realestate a:hover {
		text-decoration: none;
	}

/***/

/*contentright vertical*/


	.contentrightvert-realestate img {
		float:left;
		margin:5px 25px 5px 0;
		padding: 5px 5px 5px 5px;
		border:#cccccc solid 1px;
		background-color:#ffffff;
	}
	.contentrightvert-realestate h1 {
	    font-size: 30px;
	    color: #909090;
	    padding: .2em 0em;
	}
	
	.contentrightvert-realestate h2 {
	    color: #909090;
	    padding: .2em 0em;
	}

	.contentrightvert-realestate p {
		color: #666666;
	    padding: .5em 0em;
	}

	.contentrightvert-realestate a:link {
	    color: #ed1c24;
	    text-decoration: underline;
	}

	.contentrightvert-realestate a:visited {
	    color: #ed1c24;
	    text-decoration: underline;
	}

	.contentrightvert-realestate a:active {
	    color: #ed1c24;
	    text-decoration: underline;
	}

	.contentrightvert-realestate a:hover {
	    color: #ed1c24;
	    text-decoration: none;
	}

ul.contentrightvert-realestatelist {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    float: left;
    display: block;
}

ul.contentrightvert-realestatelist li {
	width: 510px;
	position:relative;
	float:left;
	line-height: 120%;
	list-style: none;
	font-size: 11px;
}

	ul.contentrightlistvert-realestate img{
		float:left;
		margin:5px 20px 5px 0;
		padding: 5px 5px 5px 5px;
		border:#cccccc solid 1px;
	}
	
	ul.contentrightlistvert-realestate p{
		padding-top:4em;
	}
/***/

	.contentvertl-realestate h1{
		padding: 0px 0px 0px 0px;
	}
	
	.year-title {
	text-align: left;
	font-size: 70px;
	font-family: Arial, Helvetica, sans-serif;
	color: #959595;
	font-weight: bold;
	line-height: 75px;
	}
		


/*callout*/

#callout-realestate{
	background:#d73020;
	padding:10px 20px 10px 10px;
	float:right;
	margin:10px 0px 20px 20px;
}

	#callout-realestate p, #callout-realestate a:link, #callout-realestate a:visited, #callout-realestate a:visited, #callout-realestate a:hover{
	color:#ffffff;
	}
	
	#callout-realestate h2{
		color:#ffffff;
		padding-top:10px
	}
	
	#callout-realestate ul{
		}
	
		#callout-realestate li{
		color:#ffffff;
		margin-left:-25px;
		list-style-position:outside;
		}